# dependecies installed by npm
node_modules
web_modules

# build artefacts
src/_site
dist

# secrets
.env

# logs
*.log
report.html

# cache
.eslintcache

# macOS related files
.DS_Store

# Local Netlify folder
.netlify
