---
layout: 'layouts/reading.html'
title: 'اليوم الرابع والعشرون من شهر بشنس (عيد مجئ ربنا يسوع المسيح إلي أرض مصر)'
tags: 'special'
permalink: /articles/special/11.html
---
  {% block content %}
    <section id="readings">
      <ul>
      {% if 'undefined' != 'undefined' %}
      
      {% else %}
      {% if '19.105:23,27' != 'null' %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">العشية</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeVespers '19.105:23,27' '40.4:12-17' %}
          </div>
        </div>
      </li>
      {% endif %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">باكر</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeMatins '19.106:21,22,4' '40.12:15-23' '' %}
          </div>
        </div>
      </li>
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <h3 class="flex items-center justify-between">
            <span class="kufi">القداس</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </h3>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeLitugy '49.2:1-22' '62.4:7-19' '44.7:20-34' '19.105:36,38' '40.2:13-23' %}
          </div>
        </div>
      </li>

      {% endif %}
        </ul>
    </section>
    <section id="article">
      <h3 class="mt-8 mb-4 heading-explain">شرح القراءات</h3>
      {% createArticleAccordions %}
        <p>ومصر حيث صلب ربنا &#8221; (رؤ ١١ : ٨)</p>
<p>الذي أتى إلى أرض مصر، ثم عاد وسكن في ناصرة الجليل</p>
<p>قسمة الأعياد السيدية</p>
<p>&#8221; إذ كانت مصر وبابل هما أكثر بلاد العالم ملتهبتين بنار الشرّ، أعلن الرب منذ البداية أنه يرغب في إصلاح المنطقتين لحسابه، ليأتي بهما إلى ما هو أفضل، وفي نفس الوقت تتمثل بهما كل الأرض، فتطلب عطاياه، لهذا أرسل للواحدة المجوس، والأخرى ذهب إليها بنفسه مع أمه<a href="#_ftn1" name="_ftnref1">[1]</a> &#8221;</p>
<h3>شواهد القراءات</h3>
<p>(مز ١٠٤ : ١١ ، ١٢) ، (مت ٤ : ١٢ - ١٧)، (مز ١٠٥ : ١٤ ، ٣) ، (مت ١٢ : ١٥ – ٢٣) ، (أف ٢ : ١ – ٢٢) ، (١يو ٤ : ٧ – ١٩) ، (أع ٧ : ٢٠ – ٣٤) ،(مز ١٠٤ : ١٩ ، ٢١) ، (مت ٢ : ١٣ – ٢٣)</p>
<h3>ملاحظات علي قراءات ٢٤ بشنس</h3>
<p>+ قراءة إنجيل عشيّة اليوم (مت ٤ : ١٢ - ١٧) تُشبه قراءة إنجيل عشيّة ليوم ١٠ طوبه (مت ٤ : ١٢ - ٢٢) والموافق برامون الغطاس</p>
<p>وتأتي القراءة اليوم من هذا النص الكتابي لأن بدايته تقول أن الرب عندما سمع أن يوحنا أُسلم إنصرف إلي الجليل ، وهي التي دعاها القديس متي نقلا عن إشعياء النبي جليل الأمم (أش ٩ : ١ ، مت ٤ : ١٥) ، وكأنَّ المُقارنة هنا بين ذهاب الرب إلي الجليل ( الأمم ) بعد ما ترك اليهودية ، وبين ذهابه إلي مصر ( الأمم ) بعد ما ترك اليهودية أيضاً ( بيت لحم ) ، بينما مجئ القراءة في برامون الغطاس للإشارة في بدايتها إلي تمام خدمة يوحنا المعمدان وبداية خدمة الرب ودعوته لتلاميذه</p>
<p>+ قراءة إنجيل باكر اليوم (مت ١٢: ١٥ - ٢٣) هي نفس قراءة إنجيل عشيّة ليوم ٣٠ كيهك ، وتُشبه قراءة إنجيل القداس ليوم ٢٥ هاتور (مت ١٢ : ٩ - ٢٣)</p>
<p>والتركيز في هذين اليومين ( ٣٠ كيهك ، ٢٤ بشنس ) علي ما جاء في نهاية نص الإنجيل &#8221; وعلي إسمه يكون رجاء الأمم &#8221; لأن تذكار ٣٠ كيهك خاص بالقديس يوأنس قمص شيهيت وموضوع قراءات هذا اليوم هو عطايا ميلاد المسيح للبشرية كلها ، وقراءات يوم ٢٤ بشنس التي تتكلم عن خلاص الله للأمم لأجل عيد دخول المسيح أرض مصر</p>
<p>أما إضافة الستّة الآيات في قراءة ٢٥ هاتور ( من آية ٩ إي ١٤ ) للتركيز علي سلطان الرب في الشفاء كإشارة إلي سلطان أولاد الله عامة ، وأيضاً إشارة إلي أبو سيفين ( صاحب تذكار ذلك اليوم ) كضابط له سلطان بصفة خاصة</p>
<p>+ قراءة الكاثوليكون اليوم (١يو ٤ : ٧ - ١٩) تُشبه قراءة الكاثوليكون (١يو ٤ : ١٥ - ٥ : ١ - ٤) ليوم ٣٠ كيهك ، والأحد الثالث من بشنس ، وتُشبه قراءة (١يو ٤ : ١٥ - ٢١) يوم ٢٩ مسري ، وتُشبه قراءة الكاثوليكون (١يو ٤ : ١١ - ٢١) للأحد الثالث من شهر طوبي</p>
<p>والكلام هنا اليوم عن إرسالية إبن الله لخلاص العالم والأمم ( ٢٤ بشنس ، والأحد الثالث من طوبي ) ، وعن المولودين من الله ( ثاني ٣٠ كيهك - يوم عيد الميلاد وتذكار القديس يوأنس قمص شيهيت ) ، وعن الإعتراف بالمسيح وعدم الخوف ( شهادة أثناسيوس الأسقف ) في ٢٩ مسري</p>
<p>+ قراءة الإبركسيس اليوم (أع ٧ : ٢٠ - ٣٤) تكررت في قراءة يوم ٢٨ مسري ، وتتشابه مع قراءة الإبركسيس (أع ٧ : ٢٣ - ٣٤) ليوم ٢٩ برمهات ، وأيضاً تُشبه قراءة الإبركسيس (أع ٧ : ٣٠ - ٣٧) ليوم ٣٠ مسري ، وأيضاً تُشبه قراءة الإبركسيس (أع ٧ : ٣٠ - ٣٤) للأحد الثاني من شهر كيهك</p>
<p>وهي القراءة التي تكلمت عن إحدي رموز التجسّد ظهور الرب في العليقة المُشتعلة لذلك جاءت في عيد البشارة ( ٢٩ برمهات ) ، وفي الأحد الثاني من كيهك ، وتكلَّمت عن الإرسالية إلي مصر لذلك جاءت في تذكار دخول الرب أرض مصر ( ٢٤ بشنس ) وإعلان الله أنه إله إبراهيم وإسحق ويعقوب لذلك جاء في تذكارهم ( ٢٨ مسري ) ، وللإشارة إلي رفض إسرائيل لأنبياؤهم ( ٣٠ مسري )</p>
<p>+ قراءة إنجيل قداس اليوم (مت ٢ : ١٣ - ٢٣) هي نفس قراءة إنجيل قداس يوم ٣ طوبه ( تذكار قتل أطفال بيت لحم ) ، ونفس إنجيل قدّاس الأحد الأوَّل من شهر طوبة</p>
<p>لأن هذه القراءة تتكلم عن قتل أطفال بيت لحم ( ٣ طوبي ) ، وأيضاً عن هروب العائلة المُقدَّسة إلي أرض مصر ( ٢٤ بشنس ) ، وإيمان الأمم ( إنجيل قدّاس الأحد الأوَّل من شهر طوبة )</p>
<h4>القراءة المُحوَّلة علي قراءة هذا اليوم</h4>
<p>قراءة ثامن بؤونه ( تذكار تكريس العذراء بالمحمة حيث ينبوع العين الذي تركته العذراء عند عودتها من مصر )</p>
<h3>شرح القراءات</h3>
<p>اليوم هو أحد الأعياد السيدية الصغري الذي يوافق دخول ربنا يسوع المسيح إلي أرض مصر</p>
<p>لذلك تدور كل قراءات اليوم حول مصر التاريخ ( المزامير ) والرمز ( إنجيل عشية وباكر والبولس والكاثوليكون والإبركسيس ) والأرض المُقدَّسة ( إنجيل القدّاس )</p>
<p>فتتكلَّم المزامير علي مصر التاريخ التي عاش فيها شعب الله وظهرت فيها أقوال آيات الله ( مزمور عشية ) وعظائمه ( مزمور باكر ) وجبروت قوّته ( مزمور القداس)</p>
<p>يتكلَّم مزمور عشية عن رحيل يعقوب وبنيه من أرضه إلي أرض جاسان في مصر</p>
<p>( فدخل إسرائيل إلي مصر ويعقوب سكن في أرض حام جعل فيها أقوال آياته وعجائبه في مصر )</p>
<p>وفِي مزمور باكر يتحوّل هذا التاريخ إلي تاريخ حي مُتجدِّد عندما يستشهد النبي به في إنتظار وطلب خلاص الشعب</p>
<p>( ( الذي صنع العظائم في مصر والعجائب في أرض حام أذكرنا يارب بمسرة شعبك وتعاهدنا بخلاصك</p>
<p>ويُشير مزمور القداس إلي ضربة الأبكار التي كانت سبباً في خلاص الشعب من العبودية</p>
<p>( ( وضرب كل بكر في أرضهم وأوائل كلّ أتعابهم وفرحت مصر بخروجهم وأن خوفهم أتي عليهم )</p>
<p>وفِي القراءات نري الأمم ومنها مصر صار لها حق الدخول في روح واحد إلي الآب ( البولس ) بعد ما أرسل الآب الإبن لخلاص العالم ( الكاثوليكون ) والتي كانت إرسالية الرب لموسي النبي لخروج الشعب رمزاً لهذا الخلاص في ملء الزمان ( الإبركسيس )</p>
<p>يتكلَّم البولس عن ماهي مصر قبل مجئ الرب إلي أرضها لا رجاء لهم وأبناء الغضب وفِي حالة عداوة وغرباء عن خلاص الله ولكن بالمسيح صارت شركاء وطن القديسين وأهل بيت الله</p>
<p>( صانعين مشيئات الجسد والأفكار القلبية وكنا بالطبيعة أبناء الغضب كالباقين أيضاً … لذلك أذكروا أنكم أنتم أيها الأمم قبلاً في الجسد المدعوين غرلة … فجاء وبشركم بسلام أنتم أيها البعيدين وبسلام أنتم القريبين لأن به صار لنا كلينا الدخول في روح واحد إلي الآب فلستم إذاً بعد غرباء ونزلاء بل أنتم شركاء وطن القديسين وأهل بيت الله )</p>
<p>وفِي الكاثوليكون عن إرسالية الآب للإبن لخلاص العالم وإستعلان محبة الله الآب لكل البشرية</p>
<p>( بهذا أظهرت محبة الله فينا لأن الله قد أرسل إبنه الوحيد إلي العالم لكي يحيي به في هذا هي المحبة ليس أننا نحن أحببنا الله بل أنه هو أحبنا وأرسل إبنه فداء لخطايانا … ونحن قد رأينا ونشهد أن الآب قد أرسل الإبن لخلاص العالم )</p>
<p>وفِي الإبركسيس إفتقاد الله لشعبه في القديم وإرساليته ودعوته لموسي النبي للذهاب إلي مصر لإخراج الشعب</p>
<p>( ولما كملت أربعون سنة ظهر له ملاك في برية طور سينا في لهيب نار علي عليقة فلما رأي موسي الرؤيا تعجب وفيما هو يتقدم ليتأمل صار صوت الرب قائلاً أنا هو إله آبائك إله إبراهيم وإله إسحق وإله يعقوب فإرتعد موسي ولم يجسر أن يتأمل فقال له الرب اخلع نعل رجليك لأن الموضع الذي أنت واقف عليه هو أرض مقدسة قد رأيت عياناً مشقّة شعبي الذين في مصر وسمعت أنينهم ونزلت لأخلصهم فهلم الآن لأرسلك إلي مصر )</p>
<p>وفِي الأناجيل الرب يسوع هو نور مصر وكل الأمم ( إنجيل عشيّة ) ورجاء الأمم ( إنجيل باكر ) ومصر مُختارة منه ( إنجيل القداس )</p>
<p>يتكلَّم إنجيل عشيّة عن نبوّة أشعياء التي يُشير فيها إلي نور العهد الجديد الذي غطَّي كل الأمم ومنها مصر التي صارت منارة للأمم</p>
<p>( لكي يتم ما قيل بأشعياء النبي القائل أرض زبولون وأرض نفتاليم طريق البحر عبر الأردن جليل الأمم الشعب الجالس في الظلمة أبصر نوراً عظيماً والجالسون في الكورة وظلال الموت أشرق عليهم نور )</p>
<p>وفِي إنجيل باكر أيضاً نبوّة أشعياء التي فيها الرب يسوع هو رجاء كل الشعوب الأمم</p>
<p>( لكي يتم ما قيل بأشعياء النبي القائل هوذا فتاي الذي  أرتضيت به حبيبي الذي سُرَّت به نفسي أضع عليه روحي فيُخبر الأمم بالحق لا يُخاصم لا يصيح ولا يسمع احد في الشوارع صوته قصبة مرضوضة لا يقصف وفتيلة مدخنة لا يطفئ حتي يخرج الحق إلي النصرة وعلي إسمه يكون رجاء الأمم )</p>
<p>وفِي إنجيل القداس مصر البلد التي إختارها رب المجد لتقبل وطئ أقدامه وتتبارك وتتقدّس بحضوره وبالعائلة المقدسة وتصير البركة دائمة لمصر</p>
<p>( ولما مضوا وإذا ملاك الرب قد ظهر ليوسف في حلم قائلاً قم خذ الصبيَّ وَأُمَّه واهرب إلي مصر وكن هناك حتي أقول لك لأنَّ هيرودس مزمع أن يطلب الصبي ليُهلكه فقام وأخذ الصبي وأمَّه ليلا ومضي إلي مصر وكان هناك إلي وفاة هيرودس لكي يتمَّ ما قيل من الربَّ بالنبيِّ القائل من مصر دعوت إبني )</p>
<h3>ملخّص القراءات</h3>
<p>أظهر الله في مصر عجائبه وعظائمه وجبروت قوته          مزمور عشيّة وباكر والقدّاس</p>
<p>الأمم ( مثل مصر ) صار لهم حق الدخول إلي الآب بعد خلاص الإبن الذي كانت إرسالية موسي النبي رمزاً له   البولس والكاثوليكون والإبركسيس</p>
<p>الرب يسوع هو نورمصر وكل الأمم ورجاءهم ومصر موضع إختيار الله ووعوده  إنجيل عشيّة وباكر والقدّاس</p>
<h3>أفكار مقترحة للعظات</h3>
<h4>(١) من هو المسيح له المجد بالنسبة للبشرية</h4>
<p>+ نوراً عظيماً</p>
<p>&#8221; الشعب الجالس في الظلمة أبصر نوراً عظيماً &#8221;                        إنجيل عشيّة</p>
<p>+ صانع العجائب والعظائم</p>
<p>&#8221; جعل فيها أقوال آياته وعجائبه في مصر &#8221;                          مزمور عشيّة وباكر</p>
<p>+ رجاء الأمم</p>
<p>&#8221; وعلي إسمه يكون رجاء الأمم &#8221;                                     إنجيل باكر</p>
<p>+ سلامنا</p>
<p>&#8221; لأنه هو سلامنا &#8221;                                                    البولس</p>
<p>+ أساس بنياننا</p>
<p>&#8221; والمسيح يسوع نفسه هو حجر الزاوية &#8221;                           البولس</p>
<p>+ فادينا ومُخلِّصنا</p>
<p>&#8221; وأرسل إبنه فداء لخطايانا &#8221;                                         الكاثوليكون</p>
<p>&#8221; وسمعت أنينهم ونزلت لأخلصهم &#8221;                                 الإبركسيس</p>
<h4>(٢) نصيب الأمم في المسيح</h4>
<p>+ غني وسكيب النعمة المجانية</p>
<p>&#8221; &#8221; لكي يظهر في الدهور الآتية غني نعمته الفائق باللطف علينا في المسيح يسوع لأنكم بالنعمة تخلصتم &#8221;      البولس</p>
<p>+ الأعمال الصالحة المُعَدَّة لنا في المسيح والتي تخصُّ حضوره في حياتنا</p>
<p>&#8221; &#8221; لأننا نحن خليقته مخلوقين في المسيح يسوع لأعمالٍ صالحةٍ قد سبق الله فأعدَّها لكي نسلك فيها &#8221;            البولس</p>
<p>+ المصالحة مع الآب وسلام الإنسان الجديد بالصليب</p>
<p>&#8221; لكي يخلق الإثنين في نفسه إنساناً واحداً جديداً صانعاً السلام ويُصالح الإثنين في جسدٍ واحدٍ مع الله بالصليب &#8221; البولس</p>
<p>+ طريقنا إلي الآب</p>
<p>&#8221; لأن به صار لنا كلينا الدخول في روحٍ واحدٍ إلي الآب &#8221;                                                       البولس</p>
<p>+ عطيّة الروح القدس</p>
<p>&#8221; لأنه أعطانا من روحه &#8221;                                                                                       الكاثوليكون</p>
<p>+ الخلاص العظيم</p>
<p>&#8221; ونحن قد رأينا ونشهد أن الآب قد أرسل الإبن لخلاص العالم &#8221;                                           الكاثوليكون</p>
<h4>(٣) بركات الله لمصر</h4>
<p>+ الأرض الثانية للعائلة المُقدَّسة</p>
<p>برغم البلاد الكثيرة حول فلسطين لكن لم يختار الله أيّ منها ليهرب إليها بل مصر برغم طول السفر ومشقَّة الطريق ليعطيها بركة دائمة</p>
<p>+ أرض البركة</p>
<p>&#8220;( مبارك شعبي مصر &#8221; (أش ٢٥:١٩</p>
<p>مازلنا إلي الآن نعيش بهذه البركة ليس فقط في كنائسانا وأديرتنا بل وفِي بيوتنا وأرضنا وزرعنا وكل ما يوجد علي أرضها</p>
<p>+ أرض النعمة وحضور الله</p>
<p>&#8220;( في ذلك اليوم يكون في أرض مصر خمس مدن تتكلم بلغة كنعان وتحلف لرب الجنود &#8221; (أش ١٨:١٩</p>
<p>+ أرض الصلاة والعبادة</p>
<p>&#8221; في ذلك اليوم يكون مذبح للرب في وسط أرض مصر، وعمود للرب عند تخمها … فيعرف الرب في مصر، ويعرف المصريون الرب في ذلك اليوم &#8221; (أش ١٩: ١٩-٢١)</p>
<p>ومازلنا نعيش إلي الآن في خير وبركة ومجد مجئ العائلة المُقدَّسة إلي بلدنا المحبوبة مصر</p>
<p>وكما قالت المؤرخة الإنجليزية مدام بوتشر أنه إن وُجد في العالم سبع عجائب فإن بقاء الكنيسة في مصر هو أحد عجائب الدنيا<a href="#_ftn2" name="_ftnref2">[2]</a>!</p>
<h3>عظات آبائية</h3>
<h4>القديس جيروم</h4>
<p>مجئ الرب لمصر ، من يقول الناس</p>
<p>&#8220;السحاب والضباب حوله&#8221; دون شك السحاب والضباب الذي حوله هو الجسم الذي أخذه الرب المخلص، بالرغم مما قيل في إنجيل يوحنا أنه &#8220;أُظهر لنا&#8221; (١يو ١ : ٢). حقًا لقد ظهر للرسل، لكنه كان محتجبًا عن اليهود. ظهر للأولين على الجبل، والآخرين في الوادي المنخفض. إنه مخفي، يحدث الأولون بالتطويبات، ويتكلم مع الآخرين بالأمثال، ناظرًا إلى أنهم لا يرون بسبب غدرهم.</p>
<p>&#8220;السحاب والضباب حوله&#8221;، ظهر عندما أراد أن يظهر، وليس بحسب طبيعته الإلهية. &#8220;جعل الظلمة سترة حوله&#8221; (مز ١٨ : ١١). إن كان الله نورًا، فكيف يمكن للنور أن يسكن في الظلمة؟ في هذه العبارة &#8220;الظلمة&#8221; تمثل المعرفة غير الكاملة، وضعفنا، إذ لا نستطيع أن نحملق في جلاله. إن كانت الأعين البشرية في الحقيقة تعجز عن أن تتطلع في أشعة شمس هذا العالم المخلوقة والشريكة معنا في العبودية، كم بالأكثر تكون الظلال والظلمة حول شمس البرّ حيث لا يُمكننا إدراكه ولا التطلع إليه؟ نقرأ عن القديس موسى: اقترب من السحابة (خر ٢٠: ٢١) لكي يرى الله، هذا لم يكن قادرًا أن يراه خارج السحابة. ويقول إشعياء: &#8220;هوذا الرب راكب على سحابة سريعة وقادم إلى مصر&#8221; (إش ١٩: ١)، أي مع مريم القديسة. &#8220;على سحابة سريعة&#8221;، لأنها لم تكن مثقلة ببذور بشرية.</p>
<p>أمران يحيطان بالرب: السحاب والضباب (الظلام)&#8230;</p>
<p>أظن إنها ذات السحابة التي وردت في الإنجيل &#8220;وسحابة نيرة ظللتهم&#8221; (مت ١٧: ٥). هذا حدث عندما تجلي الرب وسقط التلاميذ علي وجوههم أمامه، وجاءت سحابة نيرة ظللتهم.</p>
<p>أظن أنها تشبه السحاب الذي قيل عنه في موضع آخر: &#8220;حقك إلى السحاب&#8221; (مز ٣٦: ٥)، أي حق الرب الذي قيل عنه في الإنجيل: &#8220;أنا هو الطريق والحق والحياة&#8221; (يو ١٤ : ٦). حق الله هو المسيح؛ يبلغ حتى إلى السحاب، أي إلى الرسل والأنبياء، هؤلاء الذين كانوا كالسحاب الذي أمره ألا يمطر علي إسرائيل (إش ٥ : ٦). هذا يتفق مع ما ورد في سفر القضاة حيث جزة الغنم كانت جافة بينما كان المطر ينزل علي بقية العالم. هذا يعني أن إسرائيل صار جافًا بينما كان المطر ينزل علي العالم كله.</p>
<p>&#8220;السحاب والضباب حوله&#8221;، &#8220;هوذا الرب راكب علي سحابة سريعة، وقادم إلى مصر&#8221; (إش ١٩: ١). لتعرف ماذا يعني هذا؟ الرب قادم، الرب المخلص قادم إلى مصر حيث نعيش. قادم إلى أرض الظلمة حيث فرعون، لكنه لا يأتي إلا قادمًا علي سحابة سريعة. ما هي هذه السحابة السريعة؟ أظنها القديسة مريم التي حملت الابن بغير زرع بشر. جاءت هذه السحابة السريعة إلي العالم، وأحضرت معها خالق العالم. ماذا يقول إشعياء؟ &#8220;الرب قادم إلى مصر، فترتجف أوثان مصر من وجهه. الرب قادم، فترتعب أوثان مصر جدًا، ويرتطم بعضها ببعض وتتحطم. هذه هي السحابة التي حطمت معبد سيرابيس في الإسكندرية، إذ لم يحطمه قائد، بل حطمته السحابة القادمة إلى الإسكندرية (الحاملة للمسيح)&#8230;</p>
<p>لقد عرفنا السحاب، فلنبحث الآن عن الضباب.</p>
<p>الرب في الضباب، هو في النور وفي الضباب أيضًا. هو في النور بالنسبة للمبتدئين الذين يتحدث معهم بوضوح، لكنه بالنسبة للمتقدمين يحدثهم بطريقة سرائرية mystically فهو لا يتحدث مع الرسل كما مع الجماهير، إذ يتحدث مع الرسل بطريقة سرائرية. ماذا يقول؟ &#8220;من له أذنان للسمع فليسمع&#8221; (لو ٨ : ٨). هذا هو معني &#8220;وضباب حوله&#8221;، أي حوله أسرار. لهذا يقول في سفر الخروج عن كل الشعب كانوا واقفين أسفل، وأما موسى وحده فصعد علي جبل سيناء في ضباب سحابة ثقيل، لأن كل شعب الله غير قادر على التعرف علي الأسرار، أما موسى فكان وحده يقدر أن يفهم. لهذا يقول الكتاب: &#8220;جعل الظلمة سترة حوله&#8221; (مز١٨: ١٢)<a href="#_ftn3" name="_ftnref3">[3]</a>.</p>
<h4>القديس يعقوب السروجي</h4>
<p>خرجت أشعتك على الجهات وأنارتها، وهوذا الشعوب تتنعم بنورك الذي أبهجها،</p>
<p>أشعتك بددت كل ظلمة عبادة الأصنام، وأقامت لك صورة النور بين المظلمين،</p>
<p>أرسلت رسالة إلى المجوس بكوكب النور، وجذبتهم وأخرجتهم من الظلمة إلى نورك،</p>
<p>ركض رسولك ليبشر المظلمين، فمهّد الطريق هناك لإشراقك حتى يسير فيه (زك ٦ : ١٢)…</p>
<p>أرسل النور ليقتل الظلمة في موضعها، ويصنع دربًا في تيه عبادة الأصنام،</p>
<p>ألقى شعاعًا واحدًا من أضوائه في البلد، وبإشراقه بدد ليل الضلالة القوي،</p>
<p>أتى لينير كل العالم بولادته، وأرسل أولًا إلى بداية الأرض (الشرق الأقصى) لتأتى عنده،</p>
<p>أرسل رسولًا نورانيًا وكارزين إلى البلد البعيد عن التعليم ليجلبه حتى يسترشد،</p>
<p>وضع على كتف الهمجيين نير الإشاعة، وسيّرهم على الدرب ليأتوا إلى خدمته&#8230;</p>
<p>أصنام مصر رأت المخلص وارتجفت وخافت منه، كما كُرز من قبل النبوة (إش ١٩: ١)&#8230;</p>
<p>أعمدة مصر الحاملة للأصنام ارتجفت كلها بذلك الذي جاء ليكسرها بصلبه،</p>
<p>تهدمت كل منصات الذبائح برئيس الأحبار الذي جاء إلى الذبح حتى يبطلها،</p>
<p>دخل الحق وهمس (في آذان) الأصنام وأفزعها، ودعاها لتسقط ولو أنها لا تسمع،</p>
<p>كانت مثل هذه الأمور تقال من قبل العدالة لأصنام مصر الغنية بالسجدات:</p>
<p>أسقطي أيتها الضعيفة، كفى أنك انتصرت بالاستعارات، لقد جاء المسجود له، فاتركي له المكان ليقوم على مُلكه،</p>
<p>أيتها القشور المجففة افرغي المكان لابن الله، أيتها المصورة من قبل الضلالة، انزلي من قصورك،</p>
<p>أيتها الأصنام الفاسدة التي صارت فخاخا للساجدين لها، انكسري ولا تصطادي بعدُ للفساد،</p>
<p>أيتها الضعيفة انهزمي من الجبار الذي أتى إليكِ، ولا تقومي بعدُ في موضع الملك الذي وصل،</p>
<p>أيتها المصنوعة التي أخذتِ اسم الله وأقلقت الأرض، هوذا الصانع قد نزل من موضعه ليفضحك،</p>
<p>خرجت الريح لتجمع الأشواك من الحقول، فاهرب أيها الزوان من العاصفة سيدة الجهات،</p>
<p>خاف فوج عبادة الأصنام من الجبار، وبُشرت صفوف الأصنام بالسقوط<a href="#_ftn4" name="_ftnref4">[4]</a>.</p>
<h4>عظة في هرب المسيح الي مصر للقديس يوحنا ذهبي الفم</h4>
<p>١- فكيف يقول لنا لوقا ان الصبي كان مضطجعا في المذود ؟ لأن أمه على أثر ولادته أضجعته فيه . فانه لما كان جمهور كبير من اليهود يتواردون للاكتتاب لم يكن في الوسع وجود بیت . وهي لم تكد تبلغ بيت لحم حتى وضعت ابنها . وقد ألمع لوقا إلى ذلك قائلا : « وأضجعته في مذود لأنه لم يكن لها موضع في المنزل ، (لو ٧:٢) . ثم أخذته وجعلته على ركبتيها . لتعلم أن في هذا أيضا التدبير الإلهي كله وان ذلك لم يحدث صدفة و بدون غاية بل كل شيء تم بعناية الهية ووفقا للنظام الذي أخبر عنه الأنبياء . وإلا فما الذي حفز المجوس إلى السجود قدام الصبي . فلا العذراء كانت شائعة الذكر ولا كان البيت شهيرة ، ولا كان شيء آخر من شأنه أن يدهش الناظرين ويجذبهم إليه . وهؤلاء لم يسجدوا فحسب بل أيضا فتحوا كنوزهم وقدموا هدایا ، لا لإنسان بل لاله ، لأن اللبان والمر كانا رمزي الألوهة . فما الذي حفزهم إذا ؟ هو ما أعدهم لمغادرة بلادهم والقيام برحلة شاقة ، هو ذاك النجم وذلك النور الذي أمد الله به عقولهم والذي كان يقودهم قليلا فقليلا إلى المعرفة التامة ، وإلا لما أبدوا اكراماً بهذا المقدار عظيماً في حين أن كل الأمور كانت تبدو لهم وضيعة . فانه لم يكن هنالك شيء محسوس له شأن سوی مذود وكوخ وأم فقيرة تعتمد عليه فلسفة المجوس الحقة وتقنعهم أنهم يتقدمون إلى الصبي لا كأنه إنسان بسيط بل كإله ومحسن . لذلك لم يشككوا في شيء من الأشياء الظاهرة هنالك بل بالحري كانوا يسجدون ويقدمون تقادم خالية من غلاظة تقادم اليهود . فلم يذبحوا خرفانا وثيرانا ، بل الفلسفة المسيحية هي التي كانت تقرب تلك التقادم لأنهم قربوا اعتراف وطاعة ومحبة . ثم وأوحي إليهم في الحلم أن لا يرجعوا إلى هيرودس فرجعوا في طريق أخرى إلى بلادهم .. تأمل قوة إيمانهم كيف لم يشككوا بل كيف كان في خلقهم لين ودماثة . لم يقلقوا ولم يقل بعضهم البعض : إذا كان هذا الصبي ذا شأن عظيم وله بعض السلطة فلماذا يلجأ إلى الهرب والرحيل سراً ؟ ولماذا يخرجنا الملاك من المدينة كشاردین وتائهين مع أننا قدمنا علانية ووقفنا جرأة أمام شعب عظيم وملك أحمق ؟ لا لم يقولوا شيئا ولا خطر لهم ما يماثل ذلك . لأن علامة الثقة الخاصة هي العمل بالأوامر دون بحث عن تبعاتها .</p>
<p>&#8220;ولما انصرفوا إذا ملاك الرب تراءى ليوسف في الحلم قائلا قم فخذ الصبي وأمه واهرب إلى مصر &#8220;. تعترضنا هنا صعوبة تتصل بالمجوس والصبي . أن المجوس لم يقلقوا بل تقبلوا كل شيء بإيمان . فيجدر بنا هنا أن نتساءل : بما أن المجوس كانوا حاضرين فلماذا لم ينقذوا الصبي بل عادوا هم إلى بلادهم ، ورحل هذا مع أمه إلى مصر ؟ لكن ماذا ؟ أكان يلزم أن يقع بين يدي هيرودس ولا يجهز عليه وهو أسيره ؟ إذن لما تمثل في النفس انه اتخذ جسدا حقيقيا ، ولما ثبتت حقيقة التجسد . لأنه إذا اجترأ قوم أن يذهبوا إلى أن تجسد المخلص لم يكن سوى خرافة بعد تلك الحوادث ، ومع أفعال شتی تدبرت بنوع بشري ، فأين يبلغ بهم الكفر لو فعل كل شيء بصفته إلها وبحسب قدرته. ان الله عجل أن يخرج المجوس أولا ليعودوا إلى بلادهم ليذيعوا ما شاهدوا ويتلافي هو غضب الطاغية ، فيعلم هذا انه يقدم على أعمال لا قبل له على إتمامها ، وتحمد نيران غضبه فينثني عن عزمه الباطل ، فان الله قادر ليس فقط ينتصر على أعدائه بالقوة ، بل أيضا أن يخدعهم بسهولة . على هذا النحو خدع المصريين لخير اليهود حينما كان بوسعه أن ينقل ثروتهم إلى اليهود جهراً . لكنه شاء أن يتم هذا الأمر بالخفاء ، الشيء الذي لم يجعله أقل مهابة عند أعدائه من سائر عجائبه .</p>
<p>۲ - إن أهل أشقالون وغيرهم ، لما وضعوا أيديهم على التابوت فضربهم الله،كانوا يحضون سكان نواحيهم على أن لا يحاربوا أخصامهم ولا يقاوموهم جاعلين هذه الأعجوبة إلى جانب سائر الأعاجيب فقالوا : &#8220;ولماذا تقسون قلوبكم كما قسي المصريون وفرعون قلوبهم ؟ أليس انه بعد إن شفی منهم غليله حلوا سبيلهم فانطلقوا&#8221; (١مل ٦ : ٦) . فكانوا يقولون هذا لتبیان قدرة الله وعظمته ، معتقدين أن هذه الأعجوبة لا تقل عن سائر الأعاجيب التي صنعت جهراً. الأمر الذي وقع هنا أيضا والذي كان من شأنه أن يروع الطاغية. فتأمل ما كان أشد امتعاض هيرودس وأية حزازة أحس بها في قلبه حينما رأى نفسه قد خدع وهزئ به . لكن ما الفائدة إن لم يصلح نفسه . ليس الذنب ذنب من دبر هذه الأمور ، إنما الذنب كله على ذلك الذي لم يذعن إلى هذا الدافع الخلاصي وأبی حمقه إلا أن ينبذ المعونة التي كان من شأنها أن تغريه وتنشله من قاع فساده فاندفع في طريق الشر لينال عقابا عن حمقه شديدا أليماً.</p>
<p>وقائل لماذا أرسل الصبي إلى مصر ؟ لم يلبث الإنجيلي أن قال لنا السبب &#8220;لتتم الكلمة القائلة : من مصر دعوت ابني &#8221; (هو ۱:۱۱) . وقد كان إرسال الصبي إلى مصر ، والمجوس إلى بلاد فارس ، مقدمة تبشر المسكونة بأمان طيبة . لأن بابل ومصر كانتا تصطليان بنار الكفر أكثر من كل بقعة في الأرض ، فأعلن المسيح منذ البدء أنه سيصلحهما كليهما ، ويحسن اخلائهما، وبهما يحقق الخير المنتظر للعالم كله . لأجل هذا السبب أرسل المجوس ،وهبط هو مع أمه الي مصر. ومما قلناه يمكننا أن نحصل أدباً آخر من شأنه أن يرقي بنا إلى فلسفة غير ضئيلة . وما هو هذا الأدب ؟ هو توقع المحن والمكايد منذ البداية . دقق النظر فيما جرى للمسيح إذ كان في اللفائف . لأنه حينما ؤلد ثار ثائر طاغية ، وحدث هرب وانتقال إلى خارج الحدود ، وأمه نفيت إلى بلاد البرابرة دون ما ذنب . دقق النظر في هذا حتى إذا ما سمعت ذلك ، وكنت مكلفاً خدمة روحية ، ثم اعترضتك عقبات كاداء ، وتحملت أخطار شتی ، لا تقلق ولا تقل ما هذا . كان يلزم أن أكلل ويشاد بذكري وأن أكون لامعاً وطائر الشهرة ، لأني أقوم بعمل إلهي . تمثل بالمسيح وأمه ، واحتمل بصدر رحب ، واعلم أن خدمة الأعمال الروحية نصيبها المحن التي تلازمها في كل مكان . ثم لاحظ أن ذلك لم يحدث لأم الصبي وحدها بل حدث كذلك لأولئك البرابرة . فأما هؤلاء فقد انطلقوا خلسة منسحبين بنظام ، وأما مريم التي ما غادرت قط منزلها ، فقد اضطرت أن تعاني سفراً طويلا شاقا لسبب واحد هو أنها وضعت صبيا عجيبا . تأمل كذلك هذا الأمر المدهش أن فلسطين تتآمر عليه بينما مصر تتلقاه وتجعله ينجي من الأخطار . لا تلاحظ الصور والرموز في أبناء يعقوب فقط وإنما تلاحظ أيضا في السيد الرب . إن ما حدث نظرة إليه وأخبر به عنه يمثل أشياء كثيرة قد تمت فيما بعد. مثال ذلك الأتان والجحش ، وكذلك الملاك لا يخاطب مريم وإنما يخاطب يوسف . وما يقول ؟ &#8220;قم فخذ الصبي وأمه&#8221;(مت ٢٠:١) فلا يضيف هنا : « امرأتك ، وإنما قال : &#8220;وأمه&#8221; ، فيما أن الولادة تمت ، وانتفى الريب ، وأشرق في الرجل نور اليقين ، يتكلم الملاك بصراحة . فلا الصبي ولا أمه يخصان يوسف &#8220;خذ الصبي وأمه واهرب إلى مصر &#8220;. ثم يدلي بسبب الهرب قائلا : &#8220;لأن هيرودس مزمع أن يطلب نفس الصبي&#8221; .</p>
<p>٣-لم يشكك يوسف سماع هذا الكلام ، ولم يقل ان هذا الأمر من الأحاجي .قد قلت لي &#8220;سيخلص شعبه &#8220;(مت ٢٢:١) . وها هو الآن لا يستطيع أن يخلص نفسه،وها نحن مضطرون إلى الهرب والرحيل إلى بلاد نائية . وكل هذا إنما جاء على خلاف الوعد &#8230; لكنه لم يقل من هذا شيئا . لأن هذا الرجل كان ذا إيمان لا يضعف ، فلم يحاول معرفة موعد الرجوع ، وان عبر الملاك تعبيرا مبهماً إذ قال : &#8220;وكن هناك إلى أن أقول لك &#8220;.ولم يبطئ يوسف لأجل هذا السبب، بل أطاع وخضع لساعته ، محتملا بفرح كل المحن . لأن الله المحب البشر رطب أتعابه الشاقة بحلاوة التعزية . وهذا ما يصنعه مع جميع القديسين . فلا يشاء أن يظلوا في خطر مستمر ، ولا في راحة دائمة ، لكنه يزرع حياة الصديقين تارة بالحزن ، وطوراً بالفرح . وهذا ما يجب أن تلاحظه في يوسف : شاهد العذراء حاملا فقلق وحار في أمره لما داخله فيها من الريب، لكن ما لبث أن وقف به الملاك فبدد شکوکه وأزال عنه ما حل به من الخوف . ولما رأى المولود هزه السرور ثم تبدل سروره بالقلق حينما اضطربت المدينة وامتلا الملك غضبا ، وسعى في قتل الصبي . ثم تبدل القلق بالسرور عند ظهور النجم وسجود المجوس . ثم بعد السرور عاد الخوف والخطر &#8220;لأن هيرودس يطلب نفس الصبي&#8221;. بحسب تعبير الملاك . ومن جديد أمر الملاك يوسف أن يهرب ويسير في طريق المنفى ، كأنه لم يكن هناك سوى أمر بشري ، وكأن المسيح لم يكن بعد يحب أن يصنع الأعاجيب . على أنه لو صنعها في أول عمره لما صدق أحد أنه إنسان .</p>
<p>لأجل ذلك لا يصنع هيكل دفعة واحدة بل يبدأ الحبل أولا ثم الحمل تسعة أشهر فالمخلص فالولادة . فالقوة تبلغ كمالها مدى السنين و بادراك الحد اللازم من العمر للرجال ليكون سر التجسد بنجوة من الطعن . قد تقولون لماذا كانت تلك الأعاجيب من البدء ؟ كانت لأجل مريم ويوسف وسمعان المزمع أن يغادر الأرض . لأجل الرعاة،لاجل المجوس ،لأجل اليهود . فلو أراد هؤلاء أن يعيروا ما كان يتم أذنا صاغية لجنوا منه خيراً المستقبل الأيام . وإذا لم يقل الأنبياء شيئا عن المجوس فلا تقلق . لأنهم لم يقولوا كل شيء ولم يسكتوا عن كل شيء .فلو لم يقولوا شيئا لأدهشت الناس رؤية الحوادث الفجائية وأقلقتهم . ولو عرف الناس كل شيء من قبل لظلوا غائصين في سبات عميق ، ولكانت مهمة الإنجيليين لا فائدة منها .</p>
<p>وان اعترض اليهود على هذه النبؤة : &#8221; من مصر دعوت ابني&#8221; زاعمين أنها قيلت عنهم ، نجبهم بأن الأنبياء كان من عادتهم أن يقولوا أشياء عن أشخاص ، ولكنها تتم في سواهم . خذ مثلا ما قيل عن شمعون ولاوي : &#8220;أقسمها في يعقوب وأفرقها في اسرائيل &#8221; (تك ٧:٤٩). على أن هذه النبؤة تمت في ذريتهما لا فيهما بالذات . وكذلك ما تنبأ به نوح عن کنعان فتم في أهل جبع نسل کنعان . وما تنبأ به يعقوب نفسه إذ تلك البركات القائلة : &#8220;کن سید أخيك وليسجد لك أبناء أبيك ، (تك ۲۹:۲۷) ، لم تتم إلآ في ذريته . وكيف يمكن أن يكون هو المقصود بها وقد كان يوجل ويتورع من أخيه وكثيرا ما كان يسجد قدامه؟ فها هوذا ما يمكن أن يطبق على النبؤة التي نحن بصددها. لأنه من أحق أن يدعى ابن الله ؟ أذاك الذي سجد للعجل الذهبي وأدخل إلى بعل فاغور وضحى بأبنائه للشياطين ، ام الذي هو ابن بطبعه ، ولم يكرم الذي ولده ؟ فلو لم يأت هذا الابن لما بلغت النبؤة هدفها المقصود.</p>
<p>٤-فانظر كيف يعبر الإنجيلي عن فكره ، حينما يقول : &#8220;لكي يتم المقول&#8221; ، مبينا أن هذا القول لم يتم لو لم يأت المسيح .وليس من قبيل الصدفة ، أن ذلك يشهر العذراء ويزيد بكرامتها . لأن الشيء الذي استطاع شعب برمته أن يناله من المديح لنفسه كان يمكن أن تناله هي ايضاً. ان اليهود كانوا يذكرون بالفخر خروجهم من مصر ويتباهون به ، الأمر الذي يلمع اليه النبي إذ صرخ :&#8221;ألستم لي كبني الكوشيين يا بني اسرائيل يقول الرب &#8220;. ألم أخرج اسرائیل من أرض مصر ، والفلسطينيين من كفتور وآرام قير » (عا ٧:٩) . ان هذا الفخر إنما كان للبتول أن تحوزه وحدها ، لأن هبوط الشعب وأبي الآباء يعقوب إلى مصر وخروجهم منها . لم يكونا سوي رمز لرحيلها المزدوج . فهم انطلقوا إلى مصر تخلصاً من الجوع الذي كان يتهددهم بالموت ، والمسيح هبط إليها هربا من المكايد .هم بلغوا تلك البلاد فنجوا من الجوع ، وهو بهربه إليها قدسها كلها . فتأمل كيف تبدو الألوهة تحت ظواهر البشرية الوضيعة . ولما قال الملاك اهرب إلى مصر ، لم يعدهما بأن يرافقها لا في</p>
<p>الذهاب ، ولا في الأياب ، مبينا أن أعظم رفيق لهما هو الصبي الطفل نفسه ، الذي عند ظهوره غير كل ما في العالم ، بل جعل من أعدائه خداماً ومعاونين لتدبيره الإلهي ، فإن برابرة تركوا خرافاتهم القديمة ، وجاءوا ليسجدوا له ، واغسطس قصر ساعد على مولد بيت لحم بإصدار أمر للاكتتاب، ومصر تلقت المسيح الهارب وخلصته من الحبائل المنصوبة له ، وقطعت معه عهدا وديا حتى إذا ما سمعته يعظ بواسطة رسله يكون لها الفخر بأنها أول من تلقته بين سائر البلدان . على أن هذا الامتياز إنما كان لفلسطين وحدها أن تتمتع به ، لكن مصر كانت أشد حرارة منها .</p>
<p>فاذا ما طفت صحراء مصر تجدها أجمل جنات العالم ، وانك لترى فيها أجواقاً كثيرة الملائكة بشكل بشري ، وفرقاً من الشهداء وجماعات العذارى لا تحصى ، ترى طغيان الشيطان قد كسرت شوكته ، والمسيح يتجلى بكل مجده . مصر هذه أم الشعراء والفلاسفة وعلماء الفلك التي ابتدعت كل ضروب السحر ونقلته إلى سائر الأمم ، تراها الآن تجعل فخرها في الصيادين وتعبث بكل التقاليد الشيطانية التي كان يتورع منها آباؤها ، وتحف في كل مكان بعشار وخیام جاعلة الصليب في طليعة كل شيء . وهذه الأمور الصالحة ليست في المدن فقط بل أيضا في الصحاري أكثر مما هي في المدن . فانك ترى في كل مكان من تلك البلاد جيش المسيح وقطيعه الملكي وحياة القوات السماوية ، وتلك الأمور يجدها المرء متغلبة ليس في الرجال وحدهم بل في الطبع الأنثوي نفسه . وفي الحقيقة أن تلك النساء لا يبدين من الفلسفة أقل مما يبدي الرجال . نعم إنهن لا يلبسن الدرع ولا يمتطين ظهور الخيل كما يرسم الشهيرون من مشترعي اليونان وفلاسفتهم لكنهن يتلقين حربا أخرى أشد هولا لأن الحرب التي يصلين نارها ضد الشيطان وقوات الظلمة إنما هي مشتركة بينهن وبين الرجال . على ان ضعف طبيعتهن لا يحول أبداً دون اشتراكهن في نضال رمزي مثل هذا . لأن المعول فيه على عزم النفس لا على قوة الأجسام . فلذلك كثيرا ما تبلي النساء بلاء أشد من بلاء الرجال وتعرض أبهج الغنائم . ان السماء بأجواقها المتنوعة ليست أجمل من صحراء مصر ، وهي على هذا الشكل ، إذ ترینا مناسك الرهبان في كل مكان<a href="#_ftn5" name="_ftnref5">[5]</a> .</p>
<h3>عظات آباء وخدام معاصرين</h3>
<h4>المتنيح الأنبا أثناسيوس مطران بني سويف والبهنسا</h4>
<p>الهروب الى مصر :(مت ۲ : ١٩-٢٢)</p>
<p>ظهر ملاك الرب ليوسف وأمره أن يذهب الى مصر ، وذلك ليعلمنا ان نهرب من الشر .كما أنه حين عاد من مصر وكان ارخيلاوس يملك مكان أبيه أوحي له أن يذهب الى الجليل (مت ٢ : ٢٣) لا توجد في العهد القديم نبوة بهذا النص ، ولذا لم يذكر متى اسم نبي بالذات بل قال &#8221; الأنبياء&#8221; وقد يعني هذا انها نبوة شفهية لم ترد مكتوبة في الأسفار بل تناقلتها الأجيال شفهيا . وقد اثبت الكتاب أن هناك نبوات نطق بها الأنبياء شفهيا ولم يسجلها الوحی مثل نبوة يونان عن رد تخم الدولة &#8221; من مدخل حماة الى بحر العربة&#8221; أي استرداد ما كان حزائيل الآرامي قد اغتصبه . ولم ترد هذه النبوة الا عند تمامها ان قيل &#8221; حسب كلام الرب .. عن يد عبده يونان بن أمتای&#8221; (٢ مل ١٤ : ٢٥) كما ورد في سفر طوبيت أن نینوی ستخرب كما تكلم عنها يونان (طو١٤: ٤) بينما لم يثبت سفر يونان الا تهدید نینوی بالخراب الذي رفع عنها حين تابت . كما أورد العهد الجديد في رسالة يهوذا نبوءة أخنوخ النبي وهي غير واردة في العهد القديم (آية ١٤) .</p>
<p>وهناك رأي ان كلمة ناصرة مأخوذة من &#8221; نطسر &#8221; ومعناها &#8221; غصن &#8221; كما يقال أن مدينة الناصرة كانت محاطة باشجار قصيرة ولذا سميت &#8221; غصن &#8220;. وعلى هذا تكون النبوة المشار اليها هى تسمية الأنبياء للسيد المسيح بالغصن كقول أشعياء &#8220;يخرج قضيب من جزع يسی ، وينبت غصن من أصوله &#8221; (إس ١١ : ١). أي أن السيد المسيح غصن ولذا سمي &#8220;ناصريا &#8221; وبذا يكون الأنبياء الذين عناهم متى هم أشعياء وأرميا وزكريا الذين أوردوا هذه التسمية (اش ٤: ٢ ، ۱:۱۱ ، ار ٢٣: ٥، ٢٣: ١٥، زك ٣: ٨ ، ٦: ١٢)<a href="#_ftn6" name="_ftnref6">[6]</a></p>
<h4>القديس القمص بيشوي كامل</h4>
<p>عيد دخول السيد المسيح الى أرض مصر</p>
<p>أعياد الكنيسة القبطية</p>
<p>تحتفل الكنيسة المقدسة بأعياد خاصة بالسيد المسيح له المجد . وأعياد أخرى خاصة بالقديسين والكنائس التى أقيمت على أسمائهم . أما الأعياد الخاصة بالسيد المسيح فتنقسم الى نوعين :</p>
<p>أولا : أعياد سيدية كبيرة وهى :</p>
<p>١) عيد البشارة ( ٢٩ برمهات ) .                   ٢)عيد الميلاد ( ٢٩ كيهك ) .</p>
<p>٣) عيد الغطاس ( ١١ طوبة ) .</p>
<p>٤)أحد الشعانين .</p>
<p>٥)أحد القيامة .</p>
<p>٦)أحد توما .</p>
<p>٧)أحد العنصرة .</p>
<p>ثانيا : الأعياد الصغيرة وهى</p>
<p>١-عيد الختان ( ٦طوبة ) .</p>
<p>٢-عيد دخول يسوع الى الهيكل ( ٨أمشير ) .</p>
<p>٣-عيد دخول المسيح أرض مصر ( ٢٤ بشنس ) .</p>
<p>٤-عيد عرس قانا الجليل ( ١٣ طوبة ) .</p>
<p>٥-عيد التجلى (١٣مسرى ) .</p>
<p>٦-خميس العهد .</p>
<p>٧-خميس الصعود .</p>
<p>&#8221; من مصر دعوت ابنى &#8221;</p>
<p>تحتفل كنيستنا القبطية فى ٢٤ بشنس من كل عام بتذكار دخول السيد المسيح له المجد أرض مصر .</p>
<p>وقد ذكر هذه الحادثة معلمنا متى الانجيلى فى بشارته . كعادته يذكر الحوادث التى تمت طبقا للنبوات السابقة على ميلاد رب المجد &#8221; وبعدما انصرفوا ( المجوس ) ، اذا ملاك الرب قد ظهر ليوسف ( البار ) فى حلم قائلا : &#8221; قم خذ الصبى وأمه وأهرب الى مصر وكن هناك حتى أقول لك . لأن هيرودس مزمع أن يطلب الصبى ( يسوع ) وأمه ( السيدة العذراء ) ليلا وانصرف الى مصر . وكان هناك الى وفاة هيرودس لكى يتم ما قيل بالنبى القائل : &#8221; من مصر دعوت ابنى &#8221; . فلما مات هيرودس اذا ملاك الرب قد ظهر فى حلم ليوسف قائلا : &#8221; قم خذ الصبى وأمه وأذهب الى أرض اسرائيل ، لأنه قد مات الذين كانوا يطلبون نفس الصبى . فقام وأخذ الصبى وأمه وجاء الى أرض اسرائيل &#8221; ( مت٢: ١٣-١٥و ١٩-٢٢ ) .</p>
<p>&#8221; مبارك شعبى مصر &#8221;</p>
<p>تنبأ اشعباء عن مصر فى عهدها الجديد مع الرب قائلا : &#8221; فى ذلك اليوم يكون مذبح الرب فى وسط أرض مصر وعمود للرب عند تخمها . فيكون علامة وشهادة لرب الجنود فى أرض مصر . لأنهم يصرخون الى الرب بسبب المضايقين ، فيرسل لهم مخلصا ومحاميا ينقذهم فيعرف الرب فى مصر ، ويعرف المصريون الرب فى ذلك اليوم &#8221; (اشعياء ١٩:١٩) .</p>
<p>الطريق الى مصر</p>
<p>أما الطريق الذى أتخذه يوسف البار حينما أخذ يسوع والسيدة العذراء فيرجح أنه كان الطريق القصير المتاد من اليهودية الى مصر والذى يمر بجوار ساحل البحر المتوسط حتى بحيرة البردويل ثم ينحرف جنوبا قليلا ليفادى البحيرة أو ما يعرف بسنجة البردويل حتى ( رمانة ) الحالية . وينحرف مرة أخرى الى الجنوب نحو القنطرة شرق وهى مدينة قديمة جدا كانت تعرف ( ثارو ) وقد كانت مدينة الحدود الشرقية وبها حامية . وبعد اجتياز القنطرة يسير الطريق المعروف حاليا عبر أرض جوشن ( وادى طميلات ) حيث سكن بنو اسرائيل أربعمائة عام حتى يصل الى بوبسطة ( الزقازيق ) .</p>
<p>العائلة المقدسة فى مصر</p>
<p>ومن الميامر المختلفة التى كتبت بشأن زيارة العائلة المقدسة ، ومن التقاليد التى تثبت قيام كنائس على اسم السية العذراء فى كنائس كثيرة مبنية ، أنها مرت فى ذلك الطريق وأقامت بتلك الأماكن حين  زيارتها لمصر ، يمكن اختصار تحديد ذلك المسار ثم طريق الرجوع . وقد كتب الكثير بشأن المعجزات التى كانت تتابع أثناء زيارة رب المجد بلادنا المباركة من مكان الى آخر سواء معجزات الشفاء أو سقوط تماثيل الآلهة أو ظهور عين ماء فى الأماكن المقفرة أو انبات الأشجار ليستظلوا بها .</p>
<p>سارت العائلة المقدسة من بوبسطة الى المحمة ( مسطرد ) ، ثم بلبيس فمنية سمنود ، وعبروا النيل    ( فرع دمياط ) الى سمنود فالبرلس فقرية شجرة التين فالمطلع ، وعبروا النيل الى سخا ثم عبروا النيل ( فرع رشيد ) ، ( فرع الكانوبى ) الى وادى النطرون حيث باركوا هذه البقعة التى صارت فيما بعد فردوسا أرضيا عامرا بالنساك .</p>
<p>ثم اتجهوا جنوبا بشرق وعبروا النيل الى أون ( عين شمس ) حيث توجد حاليا شجرة السيدة العذراء وهى من أشجار البلسم أو البلسان .</p>
<p>ثم ساروا الى بابليون حيث كانت توجد أيضا جالية يهودية ، وسكنوا فى مغارة موجودة الآن بكنيسة القديس سرجيوس ( أبى سرجة ) ، وبعد ذلك عبرت العائلة المقدسة النيل عند المعادى الحالية حيث توجد كنيسة للسيدة العذراء ، واتجهت الى ( منف ) عاصمة مصر الأولى ( ميت رهينة ) حاليا التى أشتهرت بدير القديس الأنبا آرميا ، ثم البهنسا ، وجبل الطير بالقرب من سمالوط محافظة المنيا ، والأشمونين بمركز ملوى بمحافظة المنيا أيضا ، ثم مدينة فيليس ( ديروط الشريف ) ثم القوصية ، فبلدة مير ، ومنها الى جبل قسقام حيث دير السيدة العذراء الشهير بالمحرق ، وقد أقاموا هناك مدة فى مغارة هى الآن كنيسة باركها الرب نفسه .</p>
<p>والمتداول أن جبل قسقام هو أخر مكان حلت به العائلة المقدسة . الا أن التقليد يروى أن العائلة المقدسة حلت فى مغارة بجبل أسيوط هى دير العذراء الشهير . ويوجد تقليد آخر يذكر وجود عين ماء غربى دير القديس بسنده أسقف قفط الكائن بمحاجر مدينة نقادة ولا يستبعد الأمر اذ أن هذه المنطقة كانت عامرة بالنساك ومازال يوجد حتى الآن من الأديرة ثمانية تقام بها الصلوات .</p>
<p>الاحتفال بالعيد</p>
<p>لاشك أن مجىء ربنا يسوع المسيح الى بلادنا دون سائر بلاد العالم نعتبره بركة عظمى وقد كان كذلك ، فنحن نعتبر البلد الوحيد فى العالم الذى آمن بالمخلص شعبا وليس دولة . فالبركة التى منحها الهنا الصالح للشعب القبطى أينما حل فى بلادنا قد فتحت قلوب المصريين أفرادا فآمنوا فى وقت قصير . أما باقى البلاد فقد آمن القليلون الى أن آمن الملوك والأباطرة فتحولت الدولة بأكملها الى المسيحية لهذا ظل الايمان المستقيم حيا فى قلوبنا ، سكن أولا فى أجدادنا وتوارثناه عنهم .</p>
<p>ان وجود الكنيسة القبطية حتى الآن بالرغم من الأضطهادات التى قابلتها تعتبر معجزة الهية ظاهرة . وهذا حق لأنه فيما قد اندثرت المسيحية من جميع البلاد المحيطة بنا ظلت مصر من أقساها الى أقصاها تتصاعد منها رائحة المسيح الذكية .حتى أننا لا نغالى اذا قلنا أن هجرة الكثيرين من الأقباط الى جميع أقطار المسكونة انما هو تدبير الهى لحفظ الايمان فى أنحاء العالم . لقد ظلمنا العالم المسيحى قرونا طويلة ، وهاهو يرى ويحس ويتلمس الايمان المستقيم فى الكنيسة القبطية وأبنائها الذين صمدوا كأجدادهم ثابتين على صخرة الدهور الحى الى أبد الآبدين .</p>
<p>لنحتفل بالعيد ليس بمظاهر العالم بل مقدمين ذواتنا ذبيحة حية مرضية أمام الرب ، حريصين على أن تكون بيوتنا كنيسة صغيرة يتمجد فيها الرب يسوع بالتسابيح والصلوات والأصوام النقية الطاهرة . لنربى أولادنا فى تأديب الرب وانذاره ونسلحهم بالايمان المستقيم ونجتهد فى أن نصحبهم الى الكنائس للتناول من جسد الرب ودمه الأقدسين حتى يسرى فينا ينبوع الحياة ، ويتأصلوا فى كنيستهم القبطية الأرثوذكسية .</p>
<p>الرب يثبتكم فى الايمان المستقيم الى النفس الأخير بالطلبات التى تطلبها عنا القديسة الطاهرة مريم والقديس يوسف النجار وقديس الكنيسة وصلوات أبينا المكرم البابا شنودة الثالث الرب يحقظ حياته سنين عديدة وأزمنة سالمة هادئة ويخضع أعداءه تحت قدميه ، لالهنا المجد من الأن والى الأبد آمين<a href="#_ftn7" name="_ftnref7">[7]</a></p>
<h4>المتنيح القمص مرقس عزيز خليل</h4>
<p>مصر في الكتاب المقدس</p>
<p>مصر التي باركها الله قائلآ (مبارك شعبي مصر) (إش ١٩: ٢٥) و قال عنها الوحي الإلهي ( كجنة الرب كأرض مصر ) (تك ١٣: ١٠) مصر هذه تحدث عنها الكتاب المقدس كما لم يتحدث عن غيرها من البلاد &#8230;&#8230;</p>
<ul>
<li>ورد اسم مصر في العهد القديم ٥٦٠ مرة وورد في العهد الجديد ٢٤ مرة أي انه ورد بالكتاب ٨٤٥ مرة.</li>
</ul>
<p>ورددت كلمات مصري، مصرية مصريات و مصريون في العهد القديم ١١٥ مرة و بالعهد الجديد 5 مرات أي اجمالي ١٢٠ مرة .</p>
<ul>
<li>وردت أسماء الكثير من البلاد مرات عديدة فعلي سبيل المثال ورد اسم سيناء الحبيبة أو جبل سيناء في الكتاب المقدس ٤١ مرة منها ٣٧ في العهد القديم , و ٤ مرات في العهد الجديد.</li>
</ul>
<p>كذلك ورد جبل سيناء باسم جبل حوريب ١٩ مرة و باسم جبل الله ٦ مرات أي ان جبل سيناء ذكر في الكتاب المقدس ٦٥ مرة .</p>
<ul>
<li>تحدث الكتاب المقدس كثيرا عن نهر النيل (إش ١٩: ٧ )&#8230;الخ) و قد أطلق علي الفرع الشرقي من النيل اسم شيحور أي ( بحيرة حورس) (يش ١٣: ٣) و كان يطلق عليه بحر سوف و ترجع التسمية الي النبات الذي كان يتكاثر علي شواطئه (خر ١٠ : ١٩ &#8230; الخ) و يسمي أيضأ البحر (خر ١٤ : ٢)</li>
<li>و قد تحدث الكتاب المقدس عن العديد من البلاد المصرية نذكر بعضا منها علي سبيل المثال:</li>
</ul>
<p>1- أون : (حز ٣٠-١٧) و قد ورددت في الكتاب المقدس 4 مرات و أطلق عليها أيضا بيت شمس (إر ٤٣ :١٣) ، و قد ورددت عشرين مرة و تعرف لدي الاغريق باسم هيلوبوليس ( مدينة الشمس ) و كانت مركزأ لعبادة ( رع ) إله الشمس و مكانها اليوم بالقرب من ضاحية المطرية و تدعي في (إش ١٩: ١٨) المدينة .</p>
<p>2- بعل صفون : و معني الاسم بعل برج المراقبة و موقعها الان بالقرب من خليج السويس علي الشاطئ الغربي حيث عبر العبرانيين البحر الأحمر (خر ١٤: ٢) (عد ٣٣ : ٧).</p>
<p>3- جاسان : و ذكرت ١٢ مرة و تعرف الان بالشرقية الممتدة من أبي زعبل الي البحر و من برية جعفر الي وادي توميلات و فيها استقبل يوسف أباء و أخوته (تك ٤٦ : ٢٨) و سكنوها و هي من افضل الأراضي (تك ٤٦: ٣٤)</p>
<p>4- حانيس : (إش ٣٠ : ٤) و تعرف الان باسم أهناسيا المدينة و يسميها الكتاب الكلاسيكيون هيرا كليوبوليس الكبرى.</p>
<p>5- نو : (إر ٤٦ : ٢٥) و تدعي نو أمون ( أمون نو ) (نا ٣ : ٨) و عرفت لدي الاغريق باسم طيبة و حاليأ الأقصر عاصمة مصر العليا و مركز عبادة أمون أكبر ألهة مصر طيلة عهود الدولة الحديثة .</p>
<p>6- رعمسيس: (خر ١ : ١١) ، و معني الاسم ( ابن أله الشمس ) , و مكانها الان بلدة صان الحجر.</p>
<p>7- أسوان : (حز ٢٩: ١٠) ،و قد استخدم الفراعنة أحجار الجرافيت المستخرج منها لعمل التماثيل و المعابد و القصور .</p>
<p>8- فيثوم: و معناها ( بيت أنوم أله الشمس الغاربة ) (حز ١: ١١) ، ودعيت في عهد البطالسة هيروبنوليس</p>
<p>9- سكوت : و معناها مظلات ووردت ١٨ مرة و مكانها اليوم تل المسخوطة في وادي الطمبلات .</p>
<p>10- سيسن: (حز ٣٠ : ١٥) ووردت ٥ مرات و أطلق عليها اليونانيون احسم ( بلوسيون ) في العصر الكلاسيكي و تل الفرما في العصور الحديثة . و تقع علي بعد ثمانية عشر ميلآ شرقي قناة السويس.</p>
<p>انبياء الله ورجاله القديسون في مصر</p>
<p>خص الله بلادنا الحبيبة مصر بأنها استضافت أنبياء و رجاله و عاشوا فيها فترات زمنية و نذكر من بينهم :</p>
<ul>
<li>أبراهيم : و يجدثنا الكتاب المقدس قائلا ( و حدث جوع في الأرض ) فانجدر أبرام ( إبراهيم ) الي مصر ليتغرب هناك لان الجوع في الأرض كان شديدأ (تك ١٢: ١٠) .</li>
<li>يوسف : و قد باعه أخوته الي التجار القادمين الي مصر حيث باعوه الي فوطيفار قائد حرس فرعون. و لكنه أصبح فيما بعد رئيسأ لمخازن فرعون (تك ٤١ : ٩-١٣) ثم اصبح الرجل الثاني بعد فرعون (تك ٤١: ٣٩-٤٤) و قد أعطاه فرعون &#8221; أسنات &#8221; زوجة و كانت من أسرة كهنوتيه من ( أون ) و بفضله تجنبت مصر المجاعة – و تم تحنيط جثمانه بعد موته .</li>
<li>موسي : اسم مصري معناه ( ولد ) و معناه بالعبري ( منتشل ) و قد تربي في بيت فرعون و كان معروفا لدي الناس بأنه ابن فرعون . و قد تسلم الوصايا العشر من الله في سيناء و شاهد العليقة المشتعلة دون ان تحترق (خر ٣: ٢-٤)</li>
<li>سليمان : و معني الاسم رجل سلام . و قد أعطاه فرعون مصر بيتأ و أرضأ و زوجة أخت أمراته و بني سليمان لها بيتأ.</li>
</ul>
<p>فراعنة مصر :</p>
<p>فرعون لقب ملوك مصر القدماء فقد لقب بهذا اللقب كل حاكم جلس علي أريكة الحكم . و معني هذا اللقب هو ( البيت الكبير ) مثلما كان يلقب سلطان العثمانيين فيما مضي بلقب ( الباب العالي ) أو كما كان يلقب امبراطور اليابان قبل الحرب العالمية الثانية ( ميكادو ) أي ( الباب العالي ) و من بين الفراعنة المذكورين بالكتاب المقدس :</p>
<ul>
<li>شيشنق : و اسمه بالمصرية شعيشفيق و هو أول حاكم للأسرة الثانية و العشرين .</li>
<li>سوا : و كان معاصرا لهوشع ملك إسرائيل (٢مل ١٧: ٤).</li>
<li>ترهانة : و بالمصرية تهرقا و هو الملك الثالث و الأخير من السلالة الخامسة و العشرين أي ( السلالة الكوشية )</li>
<li>نخو : و هو الملك الثاني من الاسرة السادسة و العشرين و ابن بسماتيك الأول و يسمي أيضا فرعون نوخ .</li>
<li>فرعون خفرع : و هو ( هعبريع المصريين ) و هو الخلف الثاني لنخو بعد بسماتيك الثاني القصير . و هناك فرعون إبراهيم و ان كان من المحتمل ان يكون هو ( امنحت الثالث من الاسرة ١٢ ) و فرعون يوسف و فرعون التسخير و الخروج . و ان كان من المحتمل ان يكون فرعون الخروج هو رمسيس الثاني الأكبر من الاسرة 19 . و قد ذكر بالكتاب المقدس ثلاثا من بنات فرعون: هن :</li>
</ul>
<p>ابنة فرعون التي انتشلت موسي و ربته (خر٢: ١٠) بثية امراة مرد (اخبار الأيام الأول ٤:١٨) و امراة سليمان (ملوك اول ٣: ١) .</p>
<p>و قد ذكر الكتاب المقدس الشئ الكبير في هذا المجال و لكننا أوجزنا القدر القليل علي سبيل المثال .</p>
<p>سيناء ولاهوت السيد المسيح</p>
<p>بالتأمل في قصة تجلي الله لموسي في العليقة المشتعلة عندما كان يرعي غنم حميه يثرون كاهن مديان و حديث الله اليه. و بالنظر الي النص العبراني الذي يسبق حديث الله لموسي نجده نظر اليه &#8221; يهوه &#8221; و ناداه ( الوهيم ). و يعرف الدارسين ان يهوه المذكور في العهد القديم هو هو يسوع المسيح المذكور في العهد الجديد.</p>
<p>لذلك فمن يتأمل في هذا التجلي يدرك تماما ان العليقة ما هي الا رمزا لتجسد السيد المسيح له المجد واعلانا لحقيقة لاهوته بصورة دقيقة لأنها توضح كيفية اتحاد لاهوت السيد المسيح بناسوته الكامل. فقد كانت مادة العليقة تمثيلا حقيقاللناسوت (الجسد) الذي اتخذه السيد المسيح فيما بعد بينما كانت النار تمثيلا حقيقا للاهوت .</p>
<p>حيث اتحد كل منها الاخر في طبيعة واحدة دون اختلاط أو امتزاج أو تغيير. فكما لم تصبح النار عليقة نجد أن العليقة أيضا لم تصبح نارا. و هكذا احتفظ كل منهما بعنصره دون أن يكون هناك أفتراق .</p>
<p>و هذا يتضح من قول موسي النبي أنه راي عليقة و نار أو نار و عليقة من هنا نجد ان سيناء كانت هي المنبر الأول الذي انطلقت منه تباشير الخلاص التي أعلنت عن تجسد رب المجد الذي قيل عنه ( أهيه الذي أهيه ) (خر ٣ : ١٤) أي الكائن و الذي كان و الذي يأتي (رؤ ١: ٤) الواجب الوجود الكائن بالذات و المستقبل الازلي الابدي الذي لا يتعيير.</p>
<p>سيناء و الكنيسة القبطية :</p>
<p>كان للكنيسة القبطية كرسيان أسقفيان في سيناء.</p>
<p>الأول في مدينة العريش: التي دعاها اليونانيون رينو كرورا أي (جادعه الانوف ). وكان لاسقفها الانبا ميلاس مواقف مشرفة في مقاومة الاحتلال البيزنطي الذي كان يمثله حينئذ في مصر الوالي ( بلاديوس ) عميل القيصر ( فالنص ) الاريوس الذي اشتهر بتعسفه و مقاومته للحق الأرثوذكسي.</p>
<p>الثاني بين القنطرة و العريش: في مدينة أوستراسين و التي دعاها جوتييه في قاموسه ( الواردة ) و قد اختفت هذه البلاد بمرور الزمن و يعرف محلها اليوم باسم محطة المزار و هي أحدي محطات السكك الحديدية الواقعة بين القنطرة و العريش كما أشرنا . و ربما كان في سيناء أسقفيات مصرية اخري لم تصل أخبارها الينا .</p>
<p>و قد حضر الانبا ابرام اسقف ( اوستراسين ) المجمع المسكوني الثالث الذي عقد في افسس عام ٤٣١ م برئاسة البابا كيرلس الاسكندري<a href="#_ftn8" name="_ftnref8">[8]</a></p>
<h4>القديس الأرشيدياكون حبيب جرجس</h4>
<p>الهرب الى مصر وقتل الاطفال في بيت لحم (مت ٢ : ١٣ - ٢٣)</p>
<p>ذهاب العائلة المقدسة إلى مصر &#8221; من مصر دعوت ابنى&#8221; (مت ٢ : ١٥)</p>
<p>(أولاً) لاحظ عناية الله العجيبة بظهور الملاك ليوسف واعلانه بما سيحدث لاتقاء الشر قبل وقوعه . (ثانياً) هرب يسوع إلى مصر ليعلمنا التواضع والهروب من الشر .(ثالثاً) كانت مصر ملجأ القاصدين منذ القديم . فاليها جاء ابراهيم و يوسف و یعقوب وفيها ربي موسى و بنو اسرائيل الى ان خرجوا منها بيد الله القوية .(رابعاً) « من مصر دعوت ابني » قيلت هذه العبارة حرفياً في الأصل عن اسرائيل الذي دعى ابن الله (هو١١ : ١) وروحياً بالمعنى النبوى عن المسيح .(خامساً ) توحش هيرودس وغضبه وكيف قاده هذا الغضب الى ارتكاب أفظع الجرائم بقتل أطفال أبرياء . ظناً منه أن المسيح لا يفلت من يده ولكن طاش سهمه وخاب أمله . اذ انه مات أخيراً أشنع ميتة وزال ملكه ودام ملك المسيح وسيدوم إلى الأبد.(سادساً) « صوت سمع في الرامة الخ » راجع (ار٣١ : ١٥) وهو يشير في الأصل الى الاسر البابلي لأن راحيل أم يوسف و بنيامين دفنت قرب بيت لحم فاشار النبي عن عظم المصيبة وقت السبى بخروجها من قبرها للنحيب وهو يصدق بنوع خاص على حادثة ذبح الأطفال<a href="#_ftn9" name="_ftnref9">[9]</a> .</p>
<p>المرجع</p>
<h4> المتنيح الدكتور سليمان نسيم</h4>
<p>مصر تستقبل العائلة المقدسة</p>
<p>قراءة تاريخية معاصرة</p>
<p>دكتور: سليمان نسيم</p>
<p>بمجئ العائلة المقدسة إلى مصر  السيد المسيح مع القديسة مريم العذراء والبار يوسف النجار - نال المصريون بركة عظمى تجاوزت بتاريخهم حدود الزمان وأبعاد المكان ، حقيقة أن تاريخ هذا الشعب العريق سابق على كتابة التاريج نفسه أي على بدء كتابة التاريخ لكن ما نال مصر من بركات بسبب هذه الزيارة القدسية قد فاق كل وصف وحسبان .</p>
<p>إن المؤرخ لحياة المصريين القدماء تأخذه الدهشة حين يتأمل ما وصل إليه فكرهم الديني من سمو وما بلغته قيمهم ومثلهم العليا من رفعة وارتقاء . فإيمانهم بفكرة البعث بعد الموت وحسابهم أمام محكمة أوزيريس إله القضاء ، خلق فيهم ضميراً عز وجوده في معاصريهم من الشعوب الأخرى فقد عرفوا العدل في التعامل ، وتجنبوا إنزال الظلم بأي ضعيف ، واحترموا المرأة ، وأكرموا الطفل ، ووقروا المعلم ، وأعطوا للوالدين والشيوخ كل التوقير ، وارتبط حبهم بعضهم لبعض بحبهم لأرضهم ونيلهم وشمسهم وكل ما يحيط بهم من طبيعة وحياة .</p>
<p>ألهوا الكثير منها شعورا منهم بوجود خالق معطى . حتى تبلورت عباداتهم في النهاية في شخص الإله آتون . الإله الواحد الذي منع تعدد الآلهة في العصور السابقة له وكان أن رددت آفاق مصر أصوات العبادة والصلاة التي ارتفعت . مقترنة بسحب البخور الذكى رمزاً وإشارة إلى عمق ما وصل إليه هذا الشعب من حب للتأمل وعمق النظر إلى السماء واختاروا شكل المفتاح علامة الحياة الخالدة لهم وما كان أقربها إلى شكل الصليب . وكذلك اقترب أشهر الثالوث الذي آمنوا به الإله أوزيريس وايزيس وحوريس ، إلى عقيدة التثليث في المسيحية مع المضمون . وهكذا تهيأت نفسياتهم لقبول المباديء المسيحية التي وصلتهم سنة ٦٠م مع القديس مار مرقس الرسول .</p>
<p>فلقد دخلت المسيحية مصر إنجيلا وكرازة ، وإذا بها تخرج منها كياناً روحياً ونظاماً رعوياً متكاملا لا يقتصر على حدود أفريقيا بل تعداها إلى آسيا وأوربا فتصل إليها إنجيلا حيا في أشخاص المؤمنين المصريين من رهبان وجنود وخدام كلمة .</p>
<p>لكن العمل الروحي العظيم بحق كان في ربوع مصر نفسها التي قدستها العائلة المقدسة بزيارتها . فلم تقتصر على إضفاء البركة على أرضها التي تحولت إلى فردوس كبير تتصاعد منه صلوات المؤمنين سواء من قلب الخضرة أو من عمق الصحراء ، بل إنها أحيت في مصر كلها روحاً جديدة من الحب والبذل بلغا حد الاستشهاد فيما رأته في رأس مخلصنا الصالح المنحنى على الصليب ، وما استقته من جنبه المطعون الذي سال منه الدم غفرانا لخطايا العالم کله. من هنا كانت ذكرى دخول العائلة المقدسة لمصر - الطفل الإلهي ، وأمه القديسة دائمة البتولية مريم العذراء ، والبار يوسف النجار - عيداً سيديا تحتفل به الكنيسة المصرية في بهجة وفرح في يوم ٢٤ بشنس من كل عام ويوافق أول يونيو - فتقيم القداسات والتماجيد . ولا سيما في الأماكن التي مرت بها العائلة المقدسة مبتدئة بالفرما - ومكانها الان بور سعيد  حتى حدود محافظة أسيوط سواء في الموضع المعروف الآن بالدير المحرق والمنسوب إلى السيدة العذراء أو في جبل درنكة .</p>
<p>وتكون رحلتها منذ تركها بيت لحم قد قطعت مالا يقل عن الألف كيلو متر فيما لا يقل عن بضعة أشهر من العناء والتعب والجهاد . ولقد بانت بركات هذه الزيارة القدسية أول ما بانت في عدم قبول العبارات الوثنية التي حاول الأشوريون والفرس واليونان والرومان والذين تتابعوا بعد آخر فرعون مصرى في القرن السابع ق. م أن يزجوا بها في فكرنا الديني العريق ، وإذا بالعناية الإلهية في رفيع كلمتها وعمق تدبيرها تعيد إلى هذا الفكر نقاوته وصفاءه . فتأتى زيارة العائلة المقدسة وصلا واتصالا بين عقيدة الوحدانية الأولى وبين الوحدانية المسيحية . وبذلك عادت لعقائدنا نقاوتها وأصالتها فلم يكد تضى سوى ستون عاما على هذه الزيارة حتى كان كاروزنا العظيم وصاحب أول إنجيل مكتوب في العهد الجديد ، يخطو في حراسة الروح القدس خطواته الأولى في مدينة الاسكندرية مبشرا برسالة الفرح والفداء والخلاص .</p>
<p>و بمنطق البشر وعقلانيتهم كان من المستحيل أن يظهر دين جديد وسط الرواسب المتراكمة من عقائد المصريين وتقاليدهم وناموس اليهود وطقوسهم وأفكار اليونانيين وفلسفتهم وقوانين الرومان وشرائعهم وكلها مقترنة بمجموعة متباينة ومتعارضة خلقيا واجتماعيا . أقول كيف كان بإمكان القديس مرقس الشاب أن ينفذ بفكر ألوهية المسيح وخلاصه وسط هذا التراكم الرهيب الذي تمكن من عقول مئات سكان الاسكندرية من المصريين واليهود واليونانيين ولكنها في رأيي بركات الزيارة القدسية التي شقت هذا البحر الخضم من التراكمات والرواسب كما شق موسى البحر في القديم وإذا بها تعبر بالشخصية المصرية إلى شاطيء المسيحية الأمين . فلما دخل القديس مرقس الاسكندرية عائداً من أفريقيا مسقط رأسه وجال في شوارعها متأملا مناظرها وروح ثقافتها حاول العثور على نقطة بدء للنفاذ منها إلى قلبها وروحها ، إذا به يطلب بصلاة يرفعها إلى الإله المخلص أن يكشف له عما يعمله ، وجاءت الاستجابة على الفور في حانوت الإسكافى المتواضع انيانوس الدي فتح الرب عقله فآمن هو وأسرته .</p>
<p>وكان ذلك إيذانا بأن يصبح بيته أول كنيسة مسيحية في أفريقيا كلها . من هذه الكنيسة خرجت الدعوة بلا كيس ولا مذود . وإنما من القلب إلى القلوب ، تبشر بالفادي : الحب والعطاء والبذل وتعيد إلى خاطر المصريين شكل الصليب الذي اختاروه في تاريخهم القديم مفتاحاً لحياتهم الأبدية بعد الموت ، بل وتؤكد مضموناً جديداً لنظرية التثليث التي عاشها المصريون في ظل أوزيريس إيزيس وحوريس وإذا يرونها في الآب والابن والروح القدس الإله الواحد ، بل ان أمومة العذراء والتى ذكرهم مرقس بزيارتها لبلادهم منذ ستين عاما ، وهي تحمل طفلها الإلهي أنارت بصيرتهم الروحية لتسمو بمركز ايزيس الأم الخيرة الحنون الى منظر للعذراء أم النور سواء وهي تحمل طفلها في المذود أو وهي تحتضنه من أخطار الطريق خلال رحلتها إلى مصر أو وهي واقفة عند الصليب تشاركه و تشدد من احتماله وصبره ، وكم وقفت الكنيسة المصرية وقفة المستشهد في الوقت الذي تزود فيه من ألوهية الرب يسوع ووحدانيته الإلهية الجوهرية ؟ وكم من مواقف بطولية فذة شهدتها المجامع المسكونية التي عقد أولها بنيقية في آسيا الصغرى في الربع الأول من القرن الرابع دفاعا عن الأسرار الإلهية  سر التثليث والتجسد والفداء  وكان طبيعيا أن تؤدى هذه المواقف الفدائية الى شيء جديد ينير بصيرة البشرية جمعاء ويقودها الى معرفة أعماق فكر الخلاص الذي بربنا يسوع المسيح فكان ظهور قانون الإيمان الذي وحد بين المسيحيين جميعا وجعل منهم مؤمنين بالإله الواحد وبالكنيسة الواحدة المقدسة الجامعة الرسولية ، وهنا لا يملك التاريخ الا أن يحنى رأسه أمام القديس العظيم واللاهوتي العلامة الشماس اثناسيوس الذي أطلق عليه فيما بعد لقب الرسولى وراعيه الأكبر البابا الكسندروس التاسع عشر في تعداد البابوات واليهما يرجع الفضل في الكشف عن هذا القانون الذي يعتبر بحق نقطة البدء في الإيمان بالمسيحية بل وحجر الزاوية في البنيان اللاهوتي للنفس الإنسانية ، على أن الكنيسة المصرية لم تصل الى هذا التعريف الدقيق الجامع المانع الشامل والمتكامل الإيمان المسيحى الا بعد أن عانت ما لا يقل عن قرنين ونصف من عذاب واضطهاد ونعمة الاستشهاد التي اعتبرتها الكنيسة اكليل مجد وضعته على رؤوس أولادها وبناتها شيبها وشبانها.</p>
<p>هكذا في مجال الدفاع عن الحق والإيمان الأقدسين عاشت الكنيسة حياة حمل الصليب حتى النهاية واذا بدولة الوثنية تزول بعد حين واذا بالقلوب الغليظة تتحول الى عواطف جياشة باكية . والعواطف المغلقة الى حرارة مشتعلة بروح البذل والعطاء التي استمدتها من الصليب .</p>
<p>ولم تقف الكنيسة عند حد تقديم البابا القديس العالم ولكنها قدمت بين بركات زيارة العائلة المقدسة لها ، وكرازة ودماء القديس مار مرقس ، المعلم والناسك والفنان والشهيد والكارز وفي كل منهم قدمت نموذجا رائعاً لفاعلية الروح وعمل النعمة وصورة متكاملة للحق والنور .</p>
<p>وكان أن وقفت هذه الكنيسة خط دفاع عن كل أفريقيا فقدمت أعداداً من الشهداء على مدى الأربعة قرون الأولى فاقت عدد شهداء العالم المسيحي كله وقتذاك . وبالرغم من أنها أرست قواعد الإيمان في النوبة والسودان وأثيوبيا بل وأرسلت لهم الانجيل والتفسير وكانت تبعث بأساقفة مصريين الا أنها ما نظرت يوما إلى أنها مستعمرات خاضعة أو كنائس مرؤوسة تابعة لها ، وانما هي بلاد ولدتها في الإيمان فكانت لها الحرية الكاملة في تزكية رعاتها وانتخابهم بملء الحرية عملا بالتقليد الرسولي الذي وصفه آباء الكنيسة الأوائل حين طلبوا من الشعب أن ينتخبوا سبعة من الشمامسة لإدارة أمورهم الرعوية سواء على المستوى الكنسي أو الاجتماعي ( أع ٦ ) . وبذلك شاركت الكنيسة المسيحية في دعم قواعد الانتخاب الشعبي والذي سبق اليونان أن أخذوا به بإسم النظام الدمقراطي .</p>
<p>فلنقف في خشوع أمام هذا التاريخ العبقرى ولنردد مع الكنيسة تمجيد زيارة ربنا له المجد لبلادنا العزيزة - &#8220;افرحي وتهللى اليوم يا ارض مصر لأنه اليك أتى ملكك المسيح محب البشر فلنسبحه ونرفع اسمه ونشكره لأن رحمته ثابتة الى الأبد ؟<a href="#_ftn10" name="_ftnref10">[10]</a></p>
<p>د.جميل نجيب سليمان</p>
<h4>العائلة المقدسة في مصر</h4>
<p>ملخص  :</p>
<p>مصر في الكتاب المقدس</p>
<p>خط سير الرحلة</p>
<p>أ- من بيت لحم إلى مصر القديمة</p>
<p>ب- من مصر القديمة إلى مصر العليا</p>
<p>ج- العودة إلى الناصرة</p>
<p>العذراء تعود لزيارة مصر</p>
<p>ما وراء الهروب من بيت لحم إلى مصر</p>
<p>ب-من مصر القديمة إلى مصر العليا:</p>
<p>من حي مصر القديمة سارت العائلة المقدسة في اتجاه المعادي (وربما كان تحركها الكثير وعدم استقرارها طويلا في منطقة بعينها محاولة للهرب من المطاردة وإخفاء آثارها) وعبرت النيل في مركب عند النقطة التي أقيمت عندها فيما بعد كنيسة العذراء الحالية على كورنيش النيل وقبل سنين جاء طافيا على صفحة النيل حتى جدار الكنيسة الكتاب المقدس مفتوحا على الأصحاح التاسع عشر من سفر إشعياء الذي يضم النبوات الخاصة فيما نحن بصدده.</p>
<p>وعلى الضفة المقابلة من النيل مرت العائلة المقدسة في منطقة منف القديمة (ممفيس) والتي شملت البدرشين والحوامدية وأم خنان وطموه (التي ضمت ديرا فيما بعد) وميت رهينة وما حولها.</p>
<p>بعدها استقلت العائلة مركباً أبحر في النيل جنوباً إلى هيراكليوبوليس (اهناسيا في بني سويف) فالبهنسا (التابعة حالياً لمركز بني مزار بمحافظة المنيا) ثم إلى قرية دير الجرنوس (غرب مغاغة)، ثم عبرت النيل شرقا إلى منطقة جبل الطير (شرق سمالوط) ثم جنوبا إلى منطقة هرموبوليس (الأشمونين، وكان أسقفها المؤرخ ابن المقفع في القرن العاشر) ثم أنصنا (أمام مدينة ملوى وبها الآن دير البرشا)، ثم جنوباً إلى فيليس (ديروط الشريف حاليا) ثم قرية قسقام (وكانت تسمى القوصية – قوصت - وهي غير القوصية الحالية) وقرية ميره (میر) ثم جبل قسقام (حيث دير العذراء الشهير بالدير المحرق الذي أسسه رهبان القديس باخوميوس). والنبوة القديمة : &#8220;في ذلك اليوم يكون مذبح للرب في وسط أرض مصر (الدير المحرق) وعمود للرب عند تخمها (القديس مرقس) &#8221; (إش ١٩:١٩) تحققت في كنيسة العذراء الأثرية بالجانب الغربي من الدير المحرق حيث أقامت العائلة المقدسة ستة أشهر وعشرة أيام، والتي يقصدها المؤمنون والسائحون من مختلف أنحاء العالم باعتبارها الكنيسة التي دشنها الرب بنفسه. وفي الكنيسة مذبح حجري بني على حجر نام عليه الطفل يسوع حوالي مائتي يوم ويصلى عليه قداس يومي باللغة القبطية.</p>
<p>ثم انتقلت العائلة جنوبا (ربما عندما بدأت العودة إلى الوطن) إلى جبل درنكة (غرب أسيوط الحالية) - أقصى نقطة بلغتها العائلة المقدسة في جنوب مصر - حيث تأسس في مغارة شاسعة داخل الجبل دير للعذراء، يحوي العديد من الكنائس وبيوت الخلوة، حيث يأتي الآلاف لنوال البركة في صوم العذراء وعيدها.</p>
<p>وربما يقال كيف استطاعت العائلة المقدسة تغطية نفقاتها خلال الرحلة والإقامة.. والإجابة التي تذكر هنا أن مصدر الإنفاق كان الذهب الذي قدمه المجوس للطفل الإله. كما أنه من المقبول أن يوسف استمر في عمله نجاراً كلما استقر في أحد المواقع.</p>
<p>ج- العودة إلى الناصرة :</p>
<p>ارتبط توقيت عودة العائلة المقدسة إلى أرض إسرائيل بموت هيرودس، حيث ظهر ملاك الرب من جديد في حلم ليوسف في مصر قائلا : &#8220;قم وخذ الصبي وأمه واذهب إلى أرض إسرائيل لأنه قد مات الذين كانوا يطلبون نفس الصبي فقام وأخذ الصبي وأمه وجاء إلى أرض إسرائيل&#8221; (مت۱۹:۲-۲۱).</p>
<p>كان يسوع قد بلغ حوالي الخامسة من عمره بعد أن جاء مصر رضيعا محمولا على ذراعي أمه العذراء، فبعد أكثر من ثلاث سنوات ابتعدوا فيها عن وطنهم عاد أفراد العائلة المقدسة برا من نفس الطريق مستخدمين الدواب، ولاشك أن الأمر استغرق شهورا إلى أن دخلوا فلسطين، ومن المتوقع أن يكونوا قد مروا من جديد على بعض المواقع التي كانوا قد زاروها من قبل في طريق عودتهم.</p>
<p>على أن يوسف توجس الشر عندما سمع أن أرخيلاوس (أي رئيس الشعب) صار ملكا على اليهودية بعد هيرودس أبيه، فلم يستقر في اليهودية التي بدأ منها رحلته الطويلة للنجاة. وبإرشاد الملاك الذي ظهر له في حلم جديد اتجه شمالا إلى نواحي الجليل &#8220;وأتى وسكن في مدينة يقال لها ناصرة لكي يتم ما قيل بالأنبياء إنه سیدعی ناصريا&#8221; (مت ۲۲:۲، ٢٣).</p>
<p>وبالرجوع إلى النبوات نجد أن عودة المسيح إلى أرض إسرائيل من مصر بعد سنوات من اللجوء إليها تسجلها نبوة هوشع وهو أحد أنبياء السبي والتي تقول &#8220;لما كان إسرائيل غلاما أحببته ومن مصر دعوت ابني&#8221; (هو۱:۱۱، مت ١٥:٢) فالمسيح هو إسرائيل الجديد الذي يخرج من مصر (وهي ملجأ السلام هذه المرة) إلى أرض الآباء ويكون &#8220;الموعد&#8221; هذه المرة هو صليب الجلجثة الذي تمم بقيامة الرب الخلاص.</p>
<p>العذراء تعود لزيارة مصر :</p>
<p>الكنائس والأديرة التي تحمل اسم العذراء مريم في مصر أكثر من أن تحصى. وموقعها الأثير في الطقس الكنسي والتشفع باسمها عند ابنها، ومدائحها في أفواه المرتلين والمؤمنين جوانب أصيلة في حياة الكنيسة. فالعائلة المقدسة وإن غادرت مصر بعد بعض الوقت ظلت في عقول وقلوب الكنيسة والمؤمنين.</p>
<p>على أن العذراء عادت من جديد لزيارة مصر عندما ظهرت ببهاء فوق قباب كنيستها بالزيتون بدءا من٢/ ٤/ ١٩٦٨ وكان ظهورها عامًا للآلاف ولشهور طويلة تجاوزت العام وصاحب ظهورها معجزات الشفاء الكثيرة وأثارت موجات من التوبة والنهضة الروحية كما عزت قلوب المصريين الذين كان قد أرهقتهم نكسة ١٩٦٧ وساندت آمالهم في تجاوز آثارها وهو ما تحقق بعد سنوات قليلة.</p>
<p>مما وراء الهروب من بيت لحم إلى مصر :</p>
<p>لو تجاوزنا أمور الرحلة ذاتها دخولا إلى مصر وخروجا منها إلى ما أحاط بها من ملابسات فإنه يجدر بنا الإشارة إلى مايلي : (١) أن مسلسل آلام الرب لم يبدأ فقط أثناء خدمته أخذا في التصاعد حتى بلغ مداه عند الجلجثة وفوق الصليب، وإنما قد بدأ منذ ميلاده حيث لم يكن له موضع في المنزل ولم يتح له إلا مذود الخراف المعدة مثله للذبح (لو ٧:٢). ولم يستقر به المقام طويلا كرضيع يحتاج إلى عناية خاصة إلا أن الظروف تضطره وأمه لكي يعبر القفار في مسيرة شاقة هربا من التهديد بالقتل متجهين إلى مصر ويظلون تحت المطاردة، فليس غريبا أن يقال إن الرب قد ولد مصلوبا، وفي احتمال الآلام يظل الرب عونا وعزاء لكل المتألمين &#8220;لأنه فيما هو قد تألم مجربا يقدر أن يعين المجربين&#8221; (عب ۲ : ١٨).</p>
<p>(۲) بينما استطاع الطفل يسوع وأمه العذراء القديسة الهروب تحت جنح الظلام إلى خارج دائرة الخطر، سقط حوالی ٣٠ طفلا (يتراوح سن كل منهم بين سنتين فأقل) ضحايا القسوة والاستبداد والضعف البشرى على توقع أن يكون الرب واحدا منهم مما أعاد إلى الأذهان نبوة إرميا &#8220;صوت سمع في الرامة نوح وبكاء وعويل كثير، راحيل تبكي على أولادها ولا تريد أن تتعزى لأنهم ليسوا بموجودين (إر٣١: ١٥، مت ۲: ١٨)، ولكن هؤلاء يظلون شهداء من أجل المسيح كسائر شهداء الإيمان ونصيبهم أن يمسح الله كل دمعة من عيونهم وأن يكونوا حول العرش مثلهم، وهكذا سجل الكتاب صراخهم &#8221; حتى متى أيها السيد القدوس والحق لا تقضى وتنتقم لدمائنا من الساكنين على الأرض.فأعطوا كل واحد ثيابا بيضا وقيل لهم أن يستريحوا حتى يكمل العبيد رفقاؤهم وإخوتهم أيضا العتيدين أن يقتلوا مثلهم&#8221; (رؤ٦: ١٠، ١١).</p>
<p>(٣) إن خطة الله في مواجهة عنف هيرودس، الذي زلزل دعائمه مجيء المخلص، كانت هي تفادى مواجهة الشر قبل الأوان، وهذا يحثنا أن نهرب من الشر والأشرار إلى الله، فالهروب هنا قوة لأنه تعبير عن طاعة المؤمن الله ووصيته وثقته في صدق وعوده وكمال تدبيره متجاوزاً ذاته واتهامه بالضعف. ويحضرنا هنا مثال يوسف الشاب الذي لما حوصر بالشر من امرأة سيده لم يبرر أو يناور وانطلق هارباً دون أن يحسب حساب العواقب وكان قانونه &#8220;كيف أصنع هذا الشر العظيم وأخطئ إلى الله&#8221; (تك٣٩: ٩-١٣).</p>
<p>ولكن الرب الذي هرب من الشر لم يهرب من الموت ومثله كل شهداء الإيمان على مدى العصور الذين لما جاء وقت الشهادة لم يهربوا وإنما واجهوا جلاديهم معلنين إيمانهم بالدم حبا في سيدهم الذي أحبهم أولا حتى الموت، فالهروب إنكار للإيمان وخاتمة تعسة للحياة.</p>
<p>(٤) نعم.. هناك مواقف يصير الهروب فيها نكسة روحية وخيانة لمبادئ المسيح. فلا يليق أن نهرب من صوت الله (الذي يأتينا أساسا في كلمة الإنجيل)، كما فعل یونان (يون۱: ٣)، ولا أن نهرب من شكوى ضمائرنا وتأنيبها وإسكات صوتها (الذي هو صوت الروح)، كما فعل يهوذا الذي بدل أن يتوب ويرجع مضي وشنق نفسه (مت٢٧: ٣-١٠، أع١: ١٨)، ولا أن نهرب من أداء الواجب والمسئولية التى ألقيت على عاتقنا كخدام أو أباء أو أمهات أو مسئولين في أي موقع، ولا أن نهرب من الضيقة أو الاضطهاد من أجل المسيح فتفاديهما يصير تخليا عن الصليب وإنكاراً للإيمان.</p>
<p>&#8220;مبارك شعبي مصر&#8221;و&#8221; من مصر دعوت ابني&#8221; و&#8221; مذبح للرب في وسط أرض مصر&#8221; هذه نبوءات ثلاث تحققت بزيارة السيد لبلادنا وعودته منها إلى الناصرة.</p>
<p>فلنبق جديرين بهذه النعمة التي فاضت علينا بحياتنا في الإيمان وفخرنا بالانتماء الي ارض انتمى إليها الرب والتمس فيها النجاة من الاشرار، وليبق قلبنا وبيتنا مستقراً دائماً لسكنى الرب<a href="#_ftn11" name="_ftnref11">[11]</a> .</p>
<h3>من وحي قراءات اليوم</h3>
<p>قصبة مرضوضة لا يقصف وفتيلة مدخنة لا يطفئ.         إنجيل باكر</p>
<p>التشجيع</p>
<p>+ من أقوي ما يؤثر في أولادنا وفينا جميعا كبار وصغار التشجيع</p>
<p>+ أحياناً نشكو من عدم تشجيع من حولنا لنا في الوقت الذي فيه لا نشجع نحن أحداً</p>
<p>+ ما أجمل الأسرة التي لا يُكفّ الوالدين فيها علي تشجيع أبناءهم مهما كان الضعف والنقص</p>
<p>+ وما أتعسها أسرة التي لا يتوقف فيها الوالدين عن التقريع والسخرية من أبناءهم الذين يحملون مواهب وإمكانيات جميلة</p>
<p>+ هوس المثاليات والمقارنات من أخطر ما يعوق الوالدين عن تشجيع أولادهم</p>
<p>+ &#8221; شجعوا صغار النفوس &#8221; (١تس ٥ : ١٤) آية توصينا كيف نتعامل مع النفوس الضعيفة والبسيطة</p>
<p>+ التشجيع المستمر مثل قطرات المطر النازلة من السماء بإنتظام يجب أن تأتي بثمر كثير مهما طال الوقت</p>
<p>+ &#8221; قصبة مرضوضة لا يقصف &#8221; (مت ١٢ : ٢٠) آية تعلن كيف نتعامل مع النفوس المرضوضة كما تعامل معها الرب (يو ٤ : ٥ - ٣٠)</p>
<p>أحيانا الفرق بين الأولاد الناجحين والأولاد الفاشلين مدي التشجيع أو النقد الذي أخذوه من أسرهم</p>
<p>التشجيع المستمر هو وقود الطاقة الإيجابية لدفع الآخرين ودعمهم في فعل كل ماهو صالح وناجح</p>
<p>&#8221; الفاشلون هم اناس لم يعرفوا كم كانوا قريبين من النجاح حين توقفوا &#8221; توماس اديسون</p>
<p><a href="#_ftnref1" name="_ftn1"></a>٤٨- يوحنا ذهبي الفم - تفسير أشعياء ١٩ - القمص تادرس يعقوب ملطي</p>
<p><a href="#_ftnref2" name="_ftn2"></a>٤٩-  مصر في تاريخ خلاصنا - القمص تادرس يعقوب ملطي</p>
<p><a href="#_ftnref3" name="_ftn3"></a>٥٠- تفسير مزمور ٩٧ - القمص تادرس يعقوب ملطي</p>
<p><a href="#_ftnref4" name="_ftn4"></a>٥١- تفسير سفر الحكمة ( الإصحاح الثالث عشر ) - القمص تادرس يعقوب ملطي</p>
<p><a href="#_ftnref5" name="_ftn5"></a>٥٢- كتاب خطيب الكنيسة الأعظم القديس يوحنا الذهبي الفم صفحة ٣٩٦ - الأب الياس كويتر المخلّصيّ</p>
<p><a href="#_ftnref6" name="_ftn6"></a>٥٣- : كتاب دراسات في الكتاب المقدس - إنجيل متي ( صفحة ١٠٧ ) - الأنبا أثناسيوس مطران كرسي بني سويف والبهنسا</p>
<p><a href="#_ftnref7" name="_ftn7"></a>٥٤- كتاب نبذات روحية هادفة ( الجزء الأول مقالة رقم ٢٢ ) - القمص بيشوي كامل - كنيسة مار جرجس سبورتنج - مشروع الكنوز القبطية</p>
<p><a href="#_ftnref8" name="_ftn8"></a>٥٥- المرجع : مقالة للقمص مرقس عزيز خليل - كاهن كنيسة السيدة العذراء المعلقة - مجلة مدارس الأحد عدد شهر أكتوبر لسنة ١٩٨٢</p>
<p><a href="#_ftnref9" name="_ftn9"></a>٥٦- : كتاب الكنز الأنفس للارشيدياكون حبيب جرجس الجزء الثالث ( الفصل التاسع ) - الأرشيدياكون حبيب جرجس</p>
<p><a href="#_ftnref10" name="_ftn10"></a>٥٧- المرجع : مجلة مدارس الاحد شهر ابريل ١٩٨٠</p>
<p>مقالة  : مصر تستقبل العائلة المقدسة   د.سليمان نسيم</p>
<p><a href="#_ftnref11" name="_ftn11"></a>٥٨- المرجع : مجلة مدارس الاحد شهر يوليو ٢٠٠٧</p>
<p>مقالة  : العائلة المقدسة في مصر - د.جميل نجيب سليمان</p>

      {% endcreateArticleAccordions %}
    </section>
  {% endblock %}
