---
layout: 'layouts/reading.html'
title: 'قراءات اليوم الثاني لصوم يونان'
tags: 'special'
permalink: /articles/special/142.html
---
  {% block content %}
    <section id="readings">
      <ul>
      {% if 'undefined' != 'undefined' %}
      
      {% else %}
      {% if 'null' != 'null' %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">العشية</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeVespers '' '' %}
          </div>
        </div>
      </li>
      {% endif %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">باكر</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeMatins '19.103:14,15,9,10' '42.13:6-9' '32.2:2-10' %}
          </div>
        </div>
      </li>
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <h3 class="flex items-center justify-between">
            <span class="kufi">القداس</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </h3>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeLitugy '51.1:21-29' '60.4:3-11' '44.17:30-34' '19.85:2-3' '42.11:29-36' %}
          </div>
        </div>
      </li>

      {% endif %}
        </ul>
    </section>
    <section id="article">
      <h3 class="mt-8 mb-4 heading-explain">شرح القراءات</h3>
      {% createArticleAccordions %}
        <h3><strong>تحدثنا</strong> <strong>قراءات</strong> <strong>اليوم</strong> <strong>الثاني</strong> عن دينونة عدم التوبة، ونتيجة رفض صوت الروح والإستهانة بطول أناة الله والإصرار على الشر.</h3>
<p><strong>فيبدأ</strong> <strong>بصلاة</strong> <strong>يونان</strong> التي إعتقد فيها أن حياته إنتهت، وأن دينونته جاءت وحضرت، وصرخ من الأعماق لتفتقده مراحم الرب وينجو من الموت.</p>
<p>&#8220;ومن جوف الجحيم سمع صوتي، فقلت إني قد طردت عن عينيك فهل أعود أنظر هيكل قدسك، فلتصعد حياتي من الفساد أيها الرب إلهي عند فناء نفسي مني تذكرت رحمة الرب &#8230;. إن الذين يحفظون الأباطيل والكذب يهملون رحمتهم&#8221;.</p>
<p><strong>بينما</strong> <strong>يؤكد</strong> <strong>مزمور</strong> <strong>باكر</strong> على قلة أيامنا على الأرض مهما طالت وسهولة نهايتها مثل العشب. &#8220;أذكر يا رب أننا تراب نحن، الإنسان أيامه كالعشب&#8221;.</p>
<p>وبساطة غفران الله للتائبين في <strong>مزمور</strong> <strong>القداس</strong>.</p>
<p>&#8220;سترت على جميع خطاياهم حللت كل رجزك&#8221;.</p>
<p><strong>كما</strong> <strong>أكد</strong> <strong>على</strong> <strong>عدم</strong> <strong>مجازاته</strong> <strong>لنا</strong> حسب خطايانا في مزمور باكر.</p>
<p>&#8220;ليس إلى الإنقضاء يسخط ولا الي الدهر يحقد ليس حسب خطايانا عاملنا ولا كأثامنا كافأنا&#8221;.</p>
<p><strong>لذا</strong> <strong>يوضح</strong> <strong>إنجيل</strong> <strong>باكر</strong> الفرص الكثيرة التي تعطيها طول أناة الله لكي تجد ثمراً فينا، لكن مع إستمرار غياب الثمر يكون المصير للأسف القطع.</p>
<p>&#8220;فقال للكرام ها إن لي ثلاث سنين آتي وأطلب ثمراً في هذه التينة فلا أجد إقطعها، قال له ياسيدي دعها هذه السنة أيضاً حتى أعزق حولها وأضع زبلا لعلها تثمر في السنة الآتية فإن لم تثمر فاقطعها&#8221;.</p>
<p><strong>بينما</strong> <strong>يشير</strong> <strong>البولس</strong> إلى هدف كرازة التوبة وهو أن يصير الكل قديسين بعدما كنا غرباء وأعداء بسبب الخطية.</p>
<p>&#8220;وأنتم أيضاً الذين كنتم حيناً غرباء وأعداء بأفكاركم بالأعمال الشريرة قد صالحكم الآن في جسد بشريته بموته ليقيمكم قديسين بغير عيب ولالوم أمامه الذي هو المسيح الحال فيكم رجاء المجد الذي نبشر به منذرين كل انسان ومعلمين كل إنسان بكل حكمة لكي نقيم كل إنسان كاملاً في المسيح يسوع&#8221;.</p>
<p><strong>أما</strong> <strong>الكاثوليكون</strong> <strong>فيحذر</strong> من تسويف العمر باطلاً وأن الكل سوف يعطي حساباً أمام الديان العادل، لذا يجب التعقل والسهر والصلاة ودوام المحبة وأمانة وإجتهاد الخدمة.</p>
<p>&#8220;لأنه يكفيكم ذلك الزمان الذي عبر إذ كنتم تعلمون بهوى الأمم متسكعين في الدعارة والشهوات &#8230;، أولئك الذين سيعطون جواباً للمستعد أن يدين الأحياء والأموات فإنه من أجل هذا قد بشر الأموات أيضاً لكي يدانوا مثل الناس بالجسد ويحيوا حسب الله بالروح، وإنما نهاية كل شئ قد اقتربت فتعقلوا واصحوا بالصلوات&#8221;.</p>
<p><strong>ويؤكد</strong> <strong>الابركسيس</strong> أيضا عن حقيقة الدينونة بالعدل للكل من خلال إبن الله القائم من بين الأموات.</p>
<p>&#8220;فقد تغاضى الله عن أزمنة الجهل فيبشر الآن جميع الناس في كل مكان أن يتوبوا لأنه قد عين يوماً فيه يدين المسكونة كلها بالعدل بالرجل الذي أفرزه مقدماً للجميع إيماناً إذ أقامه من بين الأموات&#8221;.</p>
<p><strong>ويختم</strong> <strong>إنجيل</strong> <strong>القداس</strong> بدينونة كل الذين رفضوا الخلاص ورفضوا رب المجد شخصياً وسيشهد عليهم من تابوا في القديم دون أن يروا المخلص أو خلاصه بل قبلوا كرازة خدامه أو جاءوا من بلاد بعيدة للبحث عن حكمة أنبيائه.</p>
<p>&#8220;ملكة التيمن ستقوم في الدين مع رجال هذا الجيل وتدينهم لأنها أتت من أقاصي الأرض لتسمع حكمة سليمان وهوذا أعظم من سليمان ههنا رجال نينوى سيقومون في الدين مع هذا الجيل ويدينونه لأنهم تابوا بمناداة يونان وههنا أعظم من يونان&#8221;.</p>
<h3><strong>ملخّص القراءات</strong></h3>
<table width="510">
<tbody>
<tr>
<td width="110">يونان ٢</td>
<td width="401">صلاة يونان من الأعماق برجاء وإفتقاد الرب له.</td>
</tr>
<tr>
<td width="110">مزمور باكر</td>
<td width="401">عدم مجازاة الله لنا حسب خطايانا وتَذكّر الإنسان الدائم لزوال الحياة</td>
</tr>
<tr>
<td width="110">إنجيل باكر</td>
<td width="401">طول أناة الله علينا سنين لأجل إستجابتنا وتحذير بالقطع لعدم الإثمار</td>
</tr>
<tr>
<td width="110">البولس</td>
<td width="401">هدف التوبة صيرورتنا قدّيسين بعد أن كنّا أعداء بالخطيّة.</td>
</tr>
<tr>
<td width="110">الكاثوليكون</td>
<td width="401">إقتراب النهاية والدينونة وأهميّة التعقّل واليقظة بالصلاة.</td>
</tr>
<tr>
<td width="110">الإبركسيس</td>
<td width="401">حقيقة الدينونة الإلهية ودعوة الله للكل للتوبة متغاضياً عن أزمنة الجهل</td>
</tr>
<tr>
<td width="110">مزمور القدّاس</td>
<td width="401">بساطة غفران الله للتائبين.</td>
</tr>
<tr>
<td width="110">إنجيل القدّاس</td>
<td width="401">دينونة رافضي الخلاص ورسالة الرب.</td>
</tr>
</tbody>
</table>
<h4><strong>الكنيسة في قراءات اليوم</strong/></p>
<h4>
<table width="476">
<tbody>
<tr>
<td width="151">البولس</td>
<td width="325">الثبات في الإيمان وحياة الكمال.</td>
</tr>
<tr>
<td width="151">الكاثوليكون والإبركسيس</td>
<td width="325">دينونة الأحياء والأموات.</td>
</tr>
<tr>
<td width="151">الكاثوليكون</td>
<td width="325">المواهب المتنوعة في الكنيسة المقدّسة.</td>
</tr>
</tbody>
</table>
<p><img loading="lazy" src="https://katameros.bible/wp-content/uploads/2022/01/Jonah-prays-300x162.jpg" alt="" width="526" height="284" srcset="https://katameros.bible/wp-content/uploads/2022/01/Jonah-prays-300x162.jpg 300w, https://katameros.bible/wp-content/uploads/2022/01/Jonah-prays.jpg 620w" sizes="(max-width: 526px) 100vw, 526px" /></p>
<h4><strong>من وحي القراءات</strong/></p>
<h4>
<strong>الصراخ إلي الله </strong></p>
<p>&#8220;صرخت من جوف الهاوية، فسمعت صوتي&#8221; (يون ٢:٢)</p>
<ul>
<li>هل شعرت في وقت ما انك في جوف الهاوية ؟!</li>
<li>هل اسودّت الدنيا أمام عينيك ؟!</li>
<li>هل فقدت كل سبب للفرح ؟!</li>
<li>هل ملأ الحزن نفسك حتي النهاية ؟!</li>
<li>هل تتمني الموت من شدة الكآبة ؟!</li>
</ul>
<p>نحتاج للصراخ الشديد والصلاة بكل ما أوتينا من قوة، ولمس أعتاب السماء، والرجاء الشديد في إنصاته لنا، والثقة أن صلاتنا الآن في هيكل قدسه.</p>

      {% endcreateArticleAccordions %}
    </section>
  {% endblock %}
