---
layout: 'layouts/reading.html'
title: 'قراءات فصح يونان'
tags: 'special'
permalink: /articles/special/15.html
---
  {% block content %}
    <section id="readings">
      <ul>
      {% if 'undefined' != 'undefined' %}
      
      {% else %}
      {% if 'null' != 'null' %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">العشية</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeVespers '' '' %}
          </div>
        </div>
      </li>
      {% endif %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">باكر</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeMatins '19.30:10,11' '41.8:10-21' '' %}
          </div>
        </div>
      </li>
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <h3 class="flex items-center justify-between">
            <span class="kufi">القداس</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </h3>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeLitugy '45.10:4-18' '60.3:17-22' '44.3:22-26' '19.118:5,18' '43.2:13-25' %}
          </div>
        </div>
      </li>

      {% endif %}
        </ul>
    </section>
    <section id="article">
      <h3 class="mt-8 mb-4 heading-explain">شرح القراءات</h3>
      {% createArticleAccordions %}
        <h3><strong>تختتم</strong> <strong>القراءات</strong> بأفراح التوبة، وبهجة القيامة من الموت، والنجاة من الهلاك الأبدي ممثلا في نجاة يونان من بطن الحوت.</h3>
<p><strong>تبدأ</strong> <strong>القراءات</strong> <strong>بمزمور</strong> <strong>باكر</strong> الذي تتغني فيه النفس التائبة بسكيب الفرح والسرور عِوضا عن النوح والمسوح.</p>
<p>&#8220;رددت نوحي إلى فرح لي مزقت مسحي ومنطقتني سرورا&#8221;.</p>
<p><strong>ويؤكد</strong> <strong>مزمور</strong> <strong>باكر</strong> أن هدف تأديبات الله، نجاة النفس من الموت الأبدي، وفي نفس الوقت لا يسمح بثقل الضيق والشدّة.</p>
<p>&#8220;في ضيقي صرخت إلى الرب فاستجاب لي وأخرجني إلى السعة إن أدباً أدبني الرب وإلى الموت لم يسلمني&#8221;.</p>
<p><strong>لذلك</strong> <strong>يقارن</strong> <strong>إنجيل</strong> <strong>باكر</strong> بين الآية والمعجزة التي يريدها الله لنا، وهى فعل قيامته فينا وبين الآية التي نلهث ونجري نحن وراءها شرط الإيمان.</p>
<p>&#8220;فخرج الفريسيون وابتدأوا يباحثونه طالبين منه آية من السماء ليجربوه&#8221;.</p>
<p><strong>ويعلنها</strong> <strong>بوضوح</strong> <strong>البولس</strong> أن الإيمان بالمسيح القائم من بين الأموات، هو مدخل الخلاص وعنوان الكرازة.</p>
<p>&#8220;إن الكلمة قريبة منك، هي في فمك وفي قلبك، يعني كلمة الإيمان التي نبشر نحن بها لأنك إن اعترفت بفمك بالرب يسوع وآمنت بقلبك إن الله قد أقامه من بين الاموات تخلص&#8221;.</p>
<p><strong>ويؤكد</strong> <strong>الكاثوليكون</strong> أن بشارة القيامة هي فرح نفوس العهد القديم في الجحيم، ونحن ننال الآن فعلها في المعمودية.</p>
<p>&#8220;الذي به انطلق وبشر الأرواح التي في السجن التي عصت حينا لما انتظرت أناة الله في أيام نوح إذ صنع الفلك الذي خلص فيه نَفَر قليل أي ثماني أنفس من الماء الذي هكذا أنتم أيضا تخلصون بمثال المعمودية لإزالة الوسخ عن الجسد بل سؤال ضمير صالح لدي الله بقيامة يسوع المسيح&#8221;.</p>
<p><strong>ويوضح</strong> <strong>الإبركسيس</strong> أن البركة التي وعد بها الله أبونا إبراهيم، تحققت في قيامة المسيح له المجد بتغيير الحياة ونوال حياة جديدة.</p>
<p>&#8220;أنتم أبناء الأنبياء والميثاق الذي عاهد الله به آباءنا قائلاً لإبراهيم وبنسلك تتبارك جميع قبائل الأرض فإليكم أولا أقام الله فتاه بعد ما أقامه ليبارككم بأن يرد كل واحد منكم عن شروره&#8221;.</p>
<p><strong>ويختم</strong> <strong>إنجيل</strong> <strong>القداس</strong> عن أعظم آية تنالها البشرية وهى قيامته المقدسة.</p>
<p>&#8220;فأجاب اليهود وقالوا له أية آية ترينا حتى تفعل هذا أجاب يسوع وقال لهم انقضوا هذا الهيكل وفي ثلاثة أيام أقيمه فقال له اليهود إنه في ست وأربعين سنة بني هذا الهيكل أفتقيمه أنت في ثلاثة أيام وأما هو فكان يقول عن هيكل جسده ولما قام من الأموات تذكر تلاميذه أنه قال هذا فآمنوا بالكتاب وبالكلام الذي قاله لهم يسوع&#8221;.</p>
<h4></h4>
<h3>ملحوظة هامّة  ( تكرار تعبير الثلاثة أيام )</h3>
<p>تكرَّر هذا التعبير في قراءات صوم نينوي مع يونان ( نبوات اليوم الثاني ) ، ومع مدينة نينوي ( نبوات اليوم الثالث ) ،</p>
<p> في إشباع الجموع ( إنجيل قدَّاس اليوم الثالث )، وعند الحديث عن إقامة هيكل جسده بعد ثلاثة أيام (إنجيل قدَّاس فصح يونان )</p>
<p> أو بتعبير آخر ، في مكوث يونان في جوف الحوت ثلاثة أيام (يون ١ : ١٧) ، وفي مسيرة التهديد بالفناء لمدينة نينوي (يون ٣ :٣) ، وفي ثلاثة أيام في البرية مع المسيح لسماع كلمة الحياة (مت ١٥ : ٣٢) ، وثلاثة أيام في القبر (مت ١٢ : ٤٠) قبل نور قيامته</p>
<p>بين بشرية تتواجه مع الله في ثلاثة أيام من خلال التهديد بالعقوبة في العهد القديم ،</p>
<p> وبشرية تتلاقي مع كلمة الحياة في جلسة هادئة من خلال إرادة الحب والعطش لنعمته في العهد الجديد</p>
<p>وبين الإنسان القديم الذي يُقَادْ إلي الموت دون إرادته عقاباً لتعديه ،والإنسان الجديد الذي يذهب إلي الموت بإرادته ليعطينا النجاة</p>
<p>أيضاً بين ثلاثة أيَّام يقضيها يونان القديم في جحيم هروبه ، وبين ثلاثة أيَّام ينقل فيها يونان الجديد كل المأسورين في الجحيم إلي الفردوس</p>
<p>بين ثلاثة أيَّام في بطن الحوت يرجو فيها يونان القديم من الله أن ينظر هيكل قدسه ، وبين ثلاثة أيَّام يقضيها يونان الجديد في باطن الأرض لترجع للبشرية كلها إمكانيةً أن يكونوا هيكل قدسه (١كو ٦ : ١٩)</p>
<p>وبين ثلاثة أيام يرفع أهل نينوي عيونهم للسماء للنجاة من الغضب ، وبين إبن الإنسان الذي يرفع عينيه للآب بعد ثلاثة أيام ليُعطي البشرية الشبع والكفاية والفيض من سكيب محبته</p>
<p>بين إثني عشر ربوة ينظر إليهم الله لنجاتهم وخلاصهم ، وبين الإثني عشر ربوة كنيسة العهد الجديد ( اليهود والأمم ، إثني عشر يُمَثِّلون أسباط إسرائيل ، والربوة يُمَثِّلون الأمم ) الذين ينظر إليهم الله دائماً لأجل خلاصهم</p>
<p>والعجيب أن تختار كنيستنا المُقدَّسة صلاة يونان في الثلاثة أيَّام في جوف الحوت (تعبيراً عن صلاة إبن الإنسان الحامل آلام البشرية ) ، لتكون هي إحدى النبوَّتين اللاتي تَخْتَصُّ بهن قراءة الساعة الثانية عشر من قراءات يوم الجمعة العظيمة</p>
<p>والعجيب أيضاً اختيار كنيستنا المُقدَّسة لمعجزة إشباع الجموع الثانية ، وليست الأولي ، والتي أشبع فيها الرب أربعة آلاف ، وفضل عنهم سبعة سلال</p>
<p>والمعروف أن المعجزة الأولي التي أشبع فيها الرب خمسة آلاف ، وفضل عنهم إثني عشر قفَّة هي المعجزة الوحيدة التي جاءت في الأربعة أناجيل (مت١٤ : ١٣ - ٢١) ، (مر٦ : ٣٠ - ٤٤) ، (لو ٩ : ١٠ - ١٧) ، (يو٦: ١ - ١٤)</p>
<p>والسؤال هنا : لماذا اختارت الكنيسة معجزة إشباع الجموع الثانية (مت ١٥ : ٣٢ - ٣٨) ، والتي ذكرت فقط في إنجيل متي لتكون هي إنجيل قدَّاس اليوم الثالث من صوم نينوي ؟</p>
<p>الإجابة هي أنه النص الوحيد الذي ذُكِرَ فيه تعبير &#8221; لأن لهم ثلاثة أيام يمكثون ها هنا معي &#8221; ، وهو التعبير الذي لم يأتِ في المعجزة الأولي في الأناجيل الأربعة ، ورُبَّما يكون سبب اختيار هذه المعجزة لتكون رمزاً لأيَّام الخلاص الثلاثة ليونان ، وزمن خلاص أهل نينوي ، وزمن افتقاد البشرية الجائعة ، وزمن تحرير البشرية المأسورة في جحيم الموت والخطية ، ورُبَّما يكون السبب أيضاً هو أن هذه المعجزة كانت رمزاً لإشباع الأمم ( فضل عنهم سبع سلال إشارة إلي الأمم ) ، لتتلاقي نجاة الأمم في العهد القديم بافتقاد الحب الإلهي خلال خادم مُعاند ، ونجاة وخلاص الأمم في العهد الجديد خلال خادم الأقداس (عب ٨ : ٢) الذي وجدنا فيه فداءاً أبديَّا (عب٩ : ١٢).</p>
<h3><strong>ملخّص القراءات</strong></h3>
<table style="height: 413px;" width="626">
<tbody>
<tr>
<td width="91">مزمور باكر</td>
<td width="414">سكيب الفرح الروحي والسرور القلبي للتوبة عوضاً عن النوح.</td>
</tr>
<tr>
<td width="91">إنجيل باكر</td>
<td width="414">الآية والمعجزة التي يطلبها البشر ويرفضها الله.</td>
</tr>
<tr>
<td width="91">البولس</td>
<td width="414">المسيح له المجد القائم من بين الأموات مدخل الخلاص وعنوان الكرازة.</td>
</tr>
<tr>
<td width="91">الكاثوليكون</td>
<td width="414">بشارة القيامة فرح نفوس العهد القديم الذين تابوا في لحظاتهم الأخيرة.</td>
</tr>
<tr>
<td width="91">الكاثوليكون</td>
<td width="414">الخلاص بالمعمودية.</td>
</tr>
<tr>
<td width="91">الإبركسيس</td>
<td width="414">بركة الله لإبراهيم تحققت في قيامة المسيح له المجد.</td>
</tr>
<tr>
<td width="91">مزمور القدّاس</td>
<td width="414">هدف تأديبات الله نجاة الإنسان من الهلاك الأبدي.</td>
</tr>
<tr>
<td width="91">إنجيل القدّاس</td>
<td width="414">أعظم آية تنالها البشرية فعل قيامته المقدّسة.</td>
</tr>
</tbody>
</table>
<h3><strong>من وحي القراءات</strong></h3>
<h4>إدراك الله</h4>
<ul>
<li>&#8220;الآن أدركت أن الهرب إليك أفضل بكثير من الهروب منك&#8221; (يون١: ٣)</li>
<li>&#8220;ورأيتُ مخافة العدل والحق في خليقتك رغم عبادتهم للأوثان&#8221; (يون ١: ١٤)</li>
<li>&#8220;وادركت طاعة الخليقة كلها لك يا ضابط الكل&#8221; (يون١: ٤-١٥-١٧)</li>
<li>&#8220;وخجلت من قبولك صراخي وأنا في عمق ضعفي وعدم أمانتي&#8221; (يون٢: ٢)</li>
<li>&#8220;وعلَّمتني أن توبة الأشرار (في عيني) يُمكن أن تكون نموذجاً للأبرار&#8221; (يون٣: ٥-٦)</li>
<li>&#8220;والتغيير هو ما تنظر إليه في أصوامنا وتوبتنا&#8221; (يون٣ : ١٠)</li>
<li>ولم أكن أتخيَّل أنك وراء التفاصيل البسيطة في حياتي (يون٤: 6).</li>
<li>بل ومشغول حتي بالبهائم (يون٤: ١١)</li>
<li>وأنك لا تستحي أن تشرح لي إرادتك (يون٤: ١٠)</li>
<li>التي كان العائق الوحيد لإستعلانها هو ذاتي وكرامتي !! (يون٤: ٢- ٩)</li>
</ul>

      {% endcreateArticleAccordions %}
    </section>
  {% endblock %}
