---
layout: 'layouts/reading.html'
title: 'اليوم الأوّل من شهر توت'
tags: 'special'
permalink: /articles/special/23.html
---
  {% block content %}
    <section id="readings">
      <ul>
      {% if 'undefined' != 'undefined' %}
      
      {% else %}
      {% if '19.96:1-2' != 'null' %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">العشية</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeVespers '19.96:1-2' '40.13:44-52' %}
          </div>
        </div>
      </li>
      {% endif %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">باكر</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeMatins '19.98:1' '41.2:18-22' '' %}
          </div>
        </div>
      </li>
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <h3 class="flex items-center justify-between">
            <span class="kufi">القداس</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </h3>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeLitugy '47.5:11-21*@+47.6:1-13' '62.2:7-17' '44.17:16-34' '19.65:11,12*@+19.81:1' '42.4:14-30' %}
          </div>
        </div>
      </li>

      {% endif %}
        </ul>
    </section>
    <section id="article">
      <h3 class="mt-8 mb-4 heading-explain">شرح القراءات</h3>
      {% createArticleAccordions %}
        <p>بارك إكليل السنة بصلاحك يارب الأنهار، والينابيع، والزروع والثمار.</p>
<p>باركنا في أعمالنا ببركتك السمائية وأرسل لنا من علوك نعمتك وخيراتك &#8221;</p>
<p>ذكصولوجية عيد النيروز</p>
<p>&#8221; لنسبح الرب على الدوام، ولا نتوقف قط عن تقديم الشكر له على كل حال، بالكلمات كما بالأعمال. لأن هذه هي ذبيحتنا؛ هذا هو قرباننا؛ هذه هي أعظم ليتورجيتنا أو خدمتنا الإلهية، بها نتشبه بالحياة الملائكية. إن كنا نستمر هكذا نسبح له فسننهي حياتُنا هذه بلا ملامة متمتعين بالخيرات الصالحة المستقبلة<a href="#_ftn1" name="_ftnref1">[1]</a>. &#8221;</p>
<p></p>
<h3>شواهد القراءات</h3>
<p>(مز ٩٥: ١) ، (مت ١٣ : ٤٤ – ٥٢) ، (مز ٩٧ : ١)، (مر ٢ : ١٨ – ٢٢)، ( ٢كو ٥ : ١١ - ٦ : ١ – ١٣) ،( ١يو ٢ : ٧ - ١٧ )، (أع ١٧ : ١٦ - ٣٤ )، (مز٦٤ : ١١ )،( لو ٤ : ١٤ - ٣٠ )</p>
<p></p>
<p></p>
<h3>ملاحظات على قراءات يوم ١ توت</h3>
<p>+ هذا اليوم هو بداية السنة القبطية وهو الذي بدأ سنة ٢٨٤ ميلادية مع بداية عصر دقلديانوس آخر الأباطرة الرومان العشرة الذين إضطهدوا المسيحيين وأصعبهم وأكثرهم بطشاً لذلك جعلت الكنيسة بداية عصره هو بداية تقويم الشهداء</p>
<p>+ كان هذا اليوم له إعتبار كبير في مصر القديمة وكان يُقام فيه إحتفال شعبي كبير ويذهب فيه المصريون لنهر النيل ويستحمون في الماء والتي إستمرت مع الأقباط كنوع من البركة للعام الجديد وإن كانت قد بطلت الآن.<a href="#_ftn2" name="_ftnref2">[2]</a></p>
<p>يقول العلَّامة يسي عبد المسيح أيضاً عن هذا اليوم: . +</p>
<p>&#8221; ولم يبق أحد من المسيحيين يحتفل برأس السنة القديمة التي تقع عندنا في أول توت ويوافق ٢٩ أغسطس (حساب يولياني ) إلَّا الأقباط . فإنهم يحتفلون برأس السنة إحتفالاً هائلاً. وذكر في كتب الكنيسة اليونانية إن أول سنتهم يوافق أيلول ( سبتمبر ) أي بعد ثلاثة أيام من سنتنا القبطية ويسمي هذا اليوم عند الروم indiction ( الانديقتي ) وقد أهملوا الاحتفال به الآن وهم يحتفلون برأس السنة مع الغربيين في أول كانون الثاني ( أول يناير )<a href="#_ftn3" name="_ftnref3">[3]</a></p>
<p>+ أوَّل من أطلق عليه إسم نيروز هم الفرس عندما دخلوا مصر وهي الكلمة المكونة من مقطعين (ني روز ) أي اليوم الجديد</p>
<p>+ من هذا اليوم وحتي عيد الصليب (١٧ - ١٩ توت) تُصلِّي الكنيسة بنغمة الفرح</p>
<p>+ تتضح أهمِّية قراءات اليوم في أنها حتي لو جاءت يوم أحد تُقْرَأ بدل قراءة الأحد</p>
<p>( إذا وقع عيد النيروز يوم أحد فأننا نقرأ قراءات العيد لنستكمل شهر توت لنرحل القراءات الخاصة بآحاد الشهر ليكون الأحد الثاني قراءات الأحد الأول وهكذا.<a href="#_ftn4" name="_ftnref4">[4]</a>.</p>
<p>+ مزمور عشيّة اليوم هو الذي تبدأ به كنيستنا المُقدَّسة قراءات الأيام ( عشيّة ١ توت ) ، وتبدأ بها تسبحتها تقريباً في كل مناسبات الكنيسة ، وهي الآية التي تتكلَّم عن فرح البشرية بخلاص الله لجميع الأمم ، والدعوة للكرازة بهذا الخلاص للأرض كلها</p>
<p>كما تبدأ الكنيسة بهذه الآية ليس فقط في إفتتاحية قراءات السنة القبطية الجديدة ، بل أيضاً في إفتتاحية الهوس الكيهيكي ، وأيضاً في الهوس السنوي ، وهوس عيد الميلاد ، وهوس أحد الشعانين ، والقطعة التاسعة من هوس القيامة</p>
<p>+ قراءة إنجيل عشيّة لهذا اليوم (مت ١٣ : ٤٤ - ٥٢) هي نفس قراءة إنجيل عشيّة ليوم ١٢ هاتور</p>
<p>وجاءت القراءة يوم ١ توت للإعلان عن إبن الله كنز العام الجديد ، ولؤلؤته الغالية ، وعن الجدد والعتقاء بمناسبة العام الجديد</p>
<p>أمَّا مجئ نفس القراءة في عشيّة ١٢ هاتور ( تذكار ميخائيل رئيس الملائكة ) فهو للحديث عن دور وعمل الملائكة ( وهكذا سيكون في نهاية هذا الدهر ، تخرج الملائكة ، ويُفرزون الأشرار من بين الأخيار )</p>
<p>+ قراءة الكاثوليكون لهذا اليوم (١يو ٢ : ٧ - ١٧) تكرَّرت في يوم ٢١ توت (١يو ٢ : ٧ - ١١) مع إختلاف عدد الآيات المُختَاَرة</p>
<p>لأن قراءة الكاثوليكون ليوم ٢١ توت إكتفت بالكلام عن المسيح له المجد النور الحقيقي ونور العهد الجديد والمحبة الأخويّة كعلامة عن عمل هذا النور فينا</p>
<p>أما قراءة الكاثوليكون لهذا اليوم ١ توت (١يو ٢ : ٧ - ١٧) فتكلمت أيضاً ، بالإضافة إلي هذا ، عن عطايا نور المسيح له المجد لأولاد العهد الجديد في بداية السنة القبطية ( وهي مغفرة الخطايا ، والنصرة علي الشرير ، ومعرفة الآب )</p>
<p>ولعلَّه كان من الأنسب أن تكون أيضاً قراءة يوم ٢١ توت مثل قراءة يوم ١ توت لأن تكملة القراءة تتكلم عن النصرة علي الشيطان ، وهو موضوع تذكار يوم ٢١ توت ( كبريانوس الأسقف الذي كان قبلاً وثنياً ساحراً وآمن بسبب يوستينا )</p>
<p>كما تكرَّرت نفس القراءة في الأحد الثالث من شهر كيهك ، والأحد الثاني من شهر مسري</p>
<p>ومجيئها في القراءتين رُبَّما يكون سببه الآية &#8221; لأن الظلمة قد جازت والنور الحقيقي الآن يضئ &#8221; ، إشارة إلي تجسُّد الكلمة ( الأحد الثالث من كيهك ) ، وإشراقة نور وبرّ ابن الله للبشرية الضعيفة ( الأحد الثاني من مسري )</p>
<p>+ مزمور القدَّاس اليوم ( بارك إكليل السنة بصلاحك : وبقاعك تمتلئ من الدسم ) (مز ٦٤ : ١١) جاء أيضاً في قراءة مزمور القدَّاس للأحد الأوَّل من شهر هاتور</p>
<p>والكلام اليوم يُشير إلي البركة الإلهية في بداية السنة القبطية ، والإشارة إلي غني الثمر الإلهي في الأحد الأوَّل من شهر هاتور</p>
<p>+ يأتي جزء من إنجيل قدّاس هذا اليوم (لو ٤: ١٤ - ٣٠) في إنجيل باكر يوم ٦ نسئ (لو ٤ : ٢٣ - ٣٠)</p>
<p>الحديث في قراءة يوم ١ توت يتركز في سنة الرب الجديدة التي أعلنها إبن الله في تجسُّدِه ، ورسالته الخلاصية للبشرية ( لأبشِّر المساكين ، لأنادي بالغفران للمسبيين ، وبالنظر للعميان &#8230; إلخ )</p>
<p>أما الحديث في قراءات ٦ نسئ فيتركَّز في رقم ٦ (موضوع قراءات ذلك اليوم) ، والذي أعلن فيه الرب أن الجوع إستمر للشهر السادس ( حين أُغلِقت السماء ثلاث سنين وستة أشهر ) ، والشبع جاء في الشهر السابع ( رقم سبعة هنا إشارة إي المسيح المُشبع )</p>
<p>+ يأتي أيضاً في تذكار هذا اليوم نياحة القديس برثلوماوس الرسول، ونياحة القديس ميليوس بابا الإسكندرية الثالث</p>
<p></p>
<h3>شرح القراءات</h3>
<p>هذا اليوم هو بداية السنة القبطية الجديدة وهو اليوم الذي نستقبل فيه عاماً جديداً ونمتد إلي ما هو قدّام لكي نري ونعيش كل شئ جديداً وهو اليوم الذي ندرك في قراءاته قيمة &#8221; الزمن واللحظة والآن &#8221; عوضاً عن تسويف العمر باطلاً وهو اليوم أيضاً الذي فيه نمجد ونسبح إله الحب والخليقة الجديدة وجدة الحياة</p>
<p></p>
<p>لذلك تدعونا المزامير إلي تسبيح الله وتمجيده علي خلاصه ( مزمور عشية ) وعلي أعماله ( مزمور باكر ) وعلي صلاحه وغناه ( مزمور القداس )</p>
<p></p>
<p>فيدعو مزمور عشية كل البشرية لتسبيح الآب كل يوم وكل وقت ومن قلب جديد علي خلاصه المجاني</p>
<p>( سبحوا الرب تسبيحاً جديداً سبحوا الرب يا كل الأرض سبحوا الرب وباركوا اسمه بشروا من يوم إلي يوم بخلاصه )</p>
<p>وفِي مزمور باكر نسبحه علي أعماله العظيمة والعجيبة</p>
<p>( سبحوا الرب تسبيحاً جديداً لأن الرب قد صنع أعمالاً عجيبة أحيت له يمينه وذراعه القدّوس )</p>
<p>وفِي مزمور القداس نبارك اسمه علي صلاحه الإلهي ورعايته وعنايته</p>
<p>( تُبارك إكليل السنة بصلاحك وبقاعك تمتلئ من الدسم إبتهجوا بالله معيننا هللوا لإله يعقوب )</p>
<p>وتشرح القراءات ، علامات الحياة الجديدة في المسيح ، الخليقة الجديدة ( البولس ) ، والوصية الجديدة ( الكاثوليكون ) ، والتعليم الجديد ( الإبركسيس )</p>
<p>لذلك يوضح البولس معني الخليقة الجديدة والمصالحة التي صالحنا بها الآب في المسيح</p>
<p>( إذا إن كان أحداً في المسيح فهو خليقة جديدة الأشياء العتيقة قد مضت هوذا الكل قد صار جديداً وكل شئ هو من قبل الله الذي صالحنا لنفسه بالمسيح &#8230; لأن الله كان في المسيح مصالحاً العالم لنفسه غير حاسب لهم آثامهم وواضعاً فينا كلمة المصالحة )</p>
<p>بينما يُعْلِن الكاثوليكون عن وصية الحياة الجديدة والقلب الجديد وهي إشراقة النور الإلهي في حياتنا والذي تعبر عنه المحبّة الأخوية وهي وصية أخذتها البشرية منذ البدء ولكن أشرق نورها في إنسان العهد الجديد في المسيح</p>
<p>( يا أحبائي لست أكتب إليكم وصية جديدة بل وصية قديمة كانت عندكم من البدء الوصيّة العتيقة التي سمعتموها من البدء أيضاً وصية جديدة أكتب إليكم ما هو حق فيه وفيكم أن الظلمة قد جازت والنور الحقيقي الآن يضئ من يقول أنه في النور وهو يبغض أخاه فهو إلي الآن في الظلمة من يحب أخاه يثبت في النور )</p>
<p>كما يحذّر من محبة العالم التي تنزع محبة الله من قلوبنا</p>
<p>( لا تحبوا العالم ولا الأشياء التي في العالم إذا أحب أحد العالم فليست فيه محبة الآب )</p>
<p>ويتكلم الإبركسيس عن التعليم الجديد في نظر العالم وهو القيامة من الأموات وأن يتعرفوا علي الإله المجهول وسط فلسفاتهم وآلهتهم التي أوجدوها بضلالهم ومثال لذلك في ذاك الوقت شعب أثينا والفلسفة اليونانية التي كانت مثار إعجاب البشر</p>
<p>( لأنه كان يبشرهم بيسوع وقيامته فأخذوه وأدخلوه إلي بيت القضاء الذي يُدعي أريوس باغوس قائلين : هل يُمكننا أن نعلم ما هو هذا التعليم الجديد الذي تتكلّم به &#8230; فأما الأثينيون كلهم والغرباء المستوطنون فلا يتفرغون لشئ آخر إلا لأن يتكلموا أو يسمعوا شيئاً جديداً &#8230; فالذي تعبدونه وأنتم لا تعرفونه هذا أنا أبشركم به &#8230; لأننا به نحيا ونتحرك ونوجد )</p>
<p></p>
<p>أما الأناجيل فتُعلن ، المسيح له المجد ، كنز قلوبنا ( إنجيل عشية ) وفرح نفوسنا ( إنجيل باكر ) وجدّة حياتنا ( إنجيل القداس )</p>
<p>فيشرح لنا إنجيل عشية مثل الكنز المُخفي في الحقل والجوهرة الواحدة الثمينة وكما يقول القديس مقاريوس الكبير في عظاته أن الكنز هو المسيح له المجد والحقل هو قلب الإنسان</p>
<p>( يشبه ملكوت السماوات كنزاً مُخفي في حقل وجده إنسان فخبأه ومن الفرح مضي وباع كل ما كان له واشتري ذلك الحقل وأيضاً يشبه ملكوت السماوات رجلاً تاجراً يطلب الجواهر الجيدة فلما وجد جوهرة واحدة ثمينة مضي وباع كل شئ واشتراها &#8230; قال لهم : من أجل هذا كل كاتب متعلم في ملكوت السماوات يشبه رجلاً رب حقل يخرج من كنزه جدداً وعُتقاء )</p>
<p>ويقدم إنجيل باكر المسيح له المجد عريس النفس ومصدر فرحها وثوب برّها الجديد</p>
<p>( فأجاب يسوع وقال لهم : هل يستطيع بنو العرس أن يصوموا ما دام العريس معهم &#8230; فإنه ما من أحد يخيط رقعة جديدة علي ثوب عتيق &#8230; ولا تصب خمر جديدة في زقاق قديمة لئلا تشق الخمر الجديدة الزقاق فتتلف الخمر مع الزقاق بل تصب خمر جديدة في زقاق جديدة )</p>
<p>ويختم إنجيل القداس بالحياة الجديدة للبشرية في تجسد الكلمة وماذا قدّم إبن الإنسان للبشر في رسالة الخلاص وهي أيضاً رسالة ومسؤولية كل مؤمني العهد الجديد</p>
<p>( إن روح الربَّ حال عليَّ من أجل هذا قد مسحني وأرسلني لأبشر المساكين ولأنادي بالغفران للمسبيين وبالنظر للعميان ولأرسل إلي المأسورين بالإطلاق ولأبشر بسنة الرب المقبولة &#8230; أنه اليوم قد تمّ هذا المكتوب في مسامعكم )</p>
<p>ومن المُلفت للإنتباه في قراءات اليوم تكرار كلمة &#8221; الآن &#8221; ( ممكن الآن بخط ثقيل بدل الأقواس ) سبع مرّات وكلمة &#8221; اليوم &#8221; مرتين &#8221; للتأكيد علي أهمّية وخطورة الزمن والوقت في حياة أولاد الله وأن الحياة الجديدة لغتها الدائمة هي الآن كما قال القديس أغسطينوس عن تقديس اللحظة الحاضرة</p>
<p>( إذا نحن من &#8216; الآن &#8216; لا نعرفه بعد &#8230; هوذا &#8216; الآن &#8216; وقت مقبول هوذا &#8216; الآن &#8216; يوم خلاص ) البولس</p>
<p>( الظلمة قد جازت والنور الحقيقي &#8216; الآن &#8216; يضئ من يقول إنه في النور وهو يبغض أخاه فهو إلي &#8216; الآن &#8216; في الظلمة ) الكاثوليكون</p>
<p>( لأن أزمنة الجهالة قد أزالها الله &#8216; والآن &#8216; هو ينذر الناس لكي يتوب كل واحد في كل مكان ) الإبركسيس</p>
<p></p>
<h3>مُلخّص القراءات</h3>
<p>السنة المقبولة والحياة الجديدة هي حياة تسبيح الآب وتمجيده علي خلاصه وأعماله وصلاحه وغناه</p>
<p>( مزمور عشية وباكر والقدّاس )</p>
<p>وعلاماتها الخليقة الجديدة والمصالحة مع الآب في المسيح ( البولس )</p>
<p>والمحبّة الأخوية والسلوك في النور ( الكاثوليكون )</p>
<p>والتعليم عن القيامة كأساس لجدة الحياة ( الإبركسيس )</p>
<p>لذلك يملك ابن الله علي قلوبنا ويصير كنز حياتنا ( إنجيل عشية )</p>
<p>ليتجدّد كل شئ فينا الفكر والحواس والمشاعر ويصير هو فرحنا وعريس نفوسنا ( إنجيل القداس )</p>
<p>فيتغير كل شئ في الحياة إلي الفرح والشفاء والحريّة والإستنارة ( إنجيل القداس )</p>
<h3>أفكار مُقترحة لعظات</h3>
<h4>(١) السنة المقبولة وجدَّة الحياة ( الخليقة الجديدة - الوصيّة الجديدة - التعليم الجديد )</h4>
<p>١- الخليقة الجديدة ( المصالحة مع الله بالتوبة )                        البولس</p>
<p>&#8221; إذاً إن كان أحداً في المسيح فهو خليقة جديدة ، الأشياء العتيقة قد مضت هوذا الكلُّ قد صار جديداً &#8221;</p>
<p>تجديد طبيعتنا في المسيح هي رحلة حياتنا كل يوم وإحتياجنا كل لحظة فهي لا تتوقف ولا تكتفي بل هي طلبتنا الدائمة كما نصلّي في قطع الساعة الثالثة ( قبلاً نقياً إخلق فيّ يا الله )</p>
<p>٢- الوصيّة الجديدة ( وصيّة العهد الجديد والمحبّة لكل البشر )     الكاثوليكون</p>
<p>&#8221; أيضاً وصية جديدة أكتب إليكم ما هو حق فيه وفيكم أن الظلمة قد جازت ، والنور الحقيقي الآن يضئ. من يقول أنه في النور وهو يبغض أخاه فهو إلي الآن في الظلمة &#8221;</p>
<p>المحبّة هي عنوان مسيحيتنا وهي أفضل وأعظم من آلاف العظات والكتب والكلمات</p>
<p>٣- التعليم الجديد ( إستعلان الثالوث ومحبّة الآب للبشر )            الإبركسيس</p>
<p>&#8221; &#8221; هل يمكننا أن نعلم ما هو هذا التعليم الجديد الذي تتكلّم به &#8221;</p>
<p>أمام فلسفات العالم الكثيرة لا يسند أولادنا سوي تذوقهم وإختبارهم محبة الله الآب المجانية لهم كما نحتاج كل وقت لتجديد وتنقية معرفتنا بالله</p>
<h4>(٢) من هو المسيح له المجد كما تُعلنه الأناجيل ؟</h4>
<p>١-الكنز المخفي في الحقل</p>
<p>&#8221; يشبه ملكوت السموات كنزاً مُخْفي في حقل &#8221;                                               إنجيل عشيَّة</p>
<p>( لذلك يقول الرسول &#8221; ولكن لنا هذا الكنز في أوان خزفية &#8220;( ٢ كو ٤ : ٧</p>
<p>فالأوان الخزفية والحقل هو إنسانيتنا والكنز هو رب المجد الكائن في أعماقنا وما أجمل أن يكون هو أغلي وأعظم شخص في حياتنا ونعطيه بفرح باكورة وقتنا وإهتمامنا</p>
<p>ويقول رأي آخر أن الحقل هو الكتاب المُقدَّس والكنز هو رب المجد يسوع لذلك أوصانا أن نُفتِّش الكتب (يو ٥: ٣٩) التي تشهد له وهي التي تجعل قلوبنا تلتهب لرؤيته (لو ٢٤ : ٣٢)</p>
<p>٢- العريس</p>
<p>&#8221; هل يستطيع بنو العرس أن يصوموا مادام العريس معهم &#8221;                               إنجيل باكر</p>
<p>الرب يدعو نفسه عريس النفس أي مصدر فرحها وإبتهاجها وجوهر العلاقة هو الحب</p>
<p>٣- الممسوح</p>
<p>&#8221; إن روح الرب حال عليَّ من أجل هذا قد مسحني وأرسلني لأبشر المساكين &#8230; &#8221;   إنجيل القدَّاس</p>
<p>رسالة الرب الخلاصية في تجسُّده هي رسالة مؤمني العهد الجديد فكل واحد مسيحي منا هو رسالة محبة وفرح وخلاص لمن حوله</p>
<h4>(٣ ) الآن</h4>
<p>تكررت كلمة الآن في قراءات اليوم لتُعلن قيمة اللحظة الحاضرة في خلاصنا ومعناها وأزمنة الله التي تختلف عن أزمنتنا</p>
<p>١-زمن حضور الله والخليقة الجديدة أهم من العواطف البشرية والأمور النفسية</p>
<p>&#8221; إذا نحن من الآن لا نعرف أحدا حسب الجسد. وإن كنا قد عرفنا المسيح حسب الجسد، لكن الآن لا نعرفه بعد إذا إن كان أحد في المسيح فهو خليقة جديدة &#8221;              البولس</p>
<p>يبدو أن بعض الناس في ذاك الوقت كانوا يفتخرون بأنهم عاشوا مع المسيح له المجد وقت تجسّده ومنهم من أكل معه ومنهم من زارهم في بيوتهم فصار ذلك موضع إفتخارهم وربما إحساسهم بالتميز لكن القديس بولس هنا يرفض هذا النوع من العلاقة ويعتبرها جسدية مثل الذين رفضهم الرب رغم أنهم قالوا : أكلنا قدامك وشربنا وعلمت في شوارعنا (لو ٢٦:١٣) ومثل الذين يفتخرون اليوم بعلاقاتهم مع مشاهير الآباء دون تغيير الحياة</p>
<p>٢- الزمن المقبول للتوبة ويوم الخلاص</p>
<p>&#8221; هوذا الآن وقت مقبول هوذا الآن يوم خلاص &#8221; - اللحظة الحاضرة في التوبة</p>
<p>أي أهمّية الإستجابة لصوت الله ولا نُقَسِّي قلوبنا وخطورة التأجيل وتسويف العمر باطلاً</p>
<p>٣- زمن حضور النور وإستغلال الفرصة</p>
<p>&#8221; النور الحقيقي الآن يضئ &#8221;                             الكاثوليكون</p>
<p>اللحظة الحاضرة في العطش للبر الإلهي والنمو في النعمة</p>
<p>نور ابن الله وزيارات نعمته حاضرة وفاعلة فهل نقبلها وتستنير حياتنا وأيامنا به ؟</p>
<p>٤- زمن المحبّة</p>
<p>&#8221; من يقول أنه في النور وهو يبغض أخاه فهو إلي الآن في الظلمة &#8221;    الكاثوليكون</p>
<p>وكما يقول القديس أغسطينوس ( لا تخاصم إنساناً فربما لا تعيش حتي تُصالحه )</p>
<p>٤- زمن الحكمة والحذر</p>
<p>&#8221; والآن فهو ينذر الناس لكي يتوب كل واحد في كل مكان &#8221;                 الإبركسيس</p>
<p>- اللحظة الحاضرة في قبول التأديب والإنذار من الله لدوام التوبة ونقاوتها</p>
<p>ما أجمل أن تكون النفس حسَّاسة لإنذارات الله وتأديباته المملوءة حباً</p>
<p>٥- صار اليوم خلاصاً والسنة مقبولة</p>
<p>&#8221; ولأبشر بسنة الرب المقبولة &#8230; أنه اليوم قد تمّ هذا المكتوب في مسامعكم &#8221;  إنجيل القدَّاس</p>
<h4>( ٤ ) أعمدة بناء الشخصية ( إنجيل القدَّاس )</h4>
<p>&#8221; الموضع الذي رُبِّي فيه - كعادته - قد مسحني - اليوم قد تم هذا المكتوب  &#8221;</p>
<p>١-الموضع الذي رُبِّي فيه ( أهمّية تربية الوالدين لأبناءها )</p>
<p>+ خطورة التربية الخاطئة ( تربية أناس خطاة – (عدد ٣٢ : ١٤)</p>
<p>+ مجد تربية الأبناء (وكان خاضعاً لهما –( لو ٢ : ٥١)</p>
<p>+ أمان تربية الأبناء (بتأديب الرب وإنذاره –(أف ٦ : ٤)</p>
<p>٢- كعادته (فائدة العادات وخطورتها)</p>
<p>+ خطورة العادات الخاطئة</p>
<p>ثم على ممر الزمان تأصلت تلك العادة الكفرية؛ فحفظت كشريعة، وبأوامر الملوك عبدت المنحوتات - (حك ١٤: ١٦) )</p>
<p>+ العادات المُقدَّسة</p>
<p>الذهاب للهيكل والإحتفال المُقدَّس بالأعياد</p>
<p>ولما كانت له اثنتا عشرة سنة صعدوا إلى أورشليم كعادة العيد (لو ٢: ٤٢)</p>
<p>الخلوة مع الله</p>
<p>وخرج ومضى كالعادة إلى جبل الزيتون،</p>
<p>(لو ٢٢: ٣٩)</p>
<p>الصلاة</p>
<p>حيث جرت العادة أن تكون صلاة،</p>
<p>(اع ١٦: ١٣)</p>
<p>تجنب عادات العالم وسلوكياته</p>
<p>ولكن إن كان أحد يظهر أنه يحب الخصام، فليس لنا نحن عادة مثل هذه، ولا لكنائس الله (١كو ١١: ١٦)</p>
<p>٣- مسحني (رسالة المسيحي )</p>
<p>ما أجمل أن يعتبر كل إنسان مسيحي أن حياته رسالة وإرسالية من السماء للأرض وأن يكون مُبشِّر بالخيرات والسلام (رو ١٠: ١٥) ورائحة المسيح الذكية (٢كو ٢ : ١٥) وسفير عن الله للمُصالحة (٢كو ٥ : ٢٠)</p>
<p>٤- اليوم قد تم هذا المكتوب (صوت الله )</p>
<p>ليتنا نتعلَّم من إبن الإنسان أن رسالة الخدمة الليتورجية والقراءات الكنسية هي وعود الله التي تتم في حياتنا إذا قبلناها وصدقناها</p>
<h3> عظات آبائية</h3>
<h4>القديس كيرلس الاسكندري</h4>
<p>شرح إنجيل القدَّاس ومعني السنة الجديدة</p>
<p>لما كان من الضروري ظهور المسيح للإسرائيليِّين حتى يعرفوا حقيقة التجسَّد إذ كانوا يجهلونه، وبما أن المسيح مسحه الله الآب مخلِّصًا للعالم بأسره، لزم من أجل كل ذلك أن يظهر المسيح نفسه للشعب اليهودي وغيره من الشعوب الأخرى ويكشف عن عمله الفدائي للشعوب قاطبة. إلا أن السيِّد المسيح أوْلي يهود الناصرة فضلًا عظيمًا بأن زارهم، وكان قد تربَّى كإنسانٍ في وسطهم.</p>
<p>وما أن دخل المسيح بلدة الناصرة أخذ مجلسه في مجمعها، وفتح السفر وقرأ فصلًا يشير إلى الفداء، وكيف أن المسيح الكلمة يظهر للعالم كإنسانٍ بقصد امتلائه وتخليصه. وإننا نعتقد بحقٍ أنه لم يكن هناك طريقة بها يمسح المسيح المسحة المقدَّسة سوى أن يأتي إلى العالم كإنسانٍ ويتَّخذ طبيعة إنسان.</p>
<p>كان المسيح إلهًا متأنِّسًا، وبصفته إلهًا يهب الروح القدس للخليقة بأسرها، وبصفته إنسانًا يتسلَّم الروح القدس من الله أبيه. بينما المسيح يقدِّس الخليقة قاطبة سواء كان ذلك بإشراق طلعته البهيَّة من المسكن الأعلى مسكن الله الآب، أم يمنح الروح القدس للعالم السماوي الذي يَدين به، وللعالم الأرضي الذي يعترف بتجسُّده.</p>
<p>&#8220;وروح الرب علي، لأنه مسَحني لأبشِّر المساكين&#8221;. يستنتج من هذه الكلمات أن المسيح أخلى نفسه من الأمجاد السماويَّة حبًا في خلاصنا، لأن الروح القدس بطبيعته في المسيح، فكيف ينزل على السيِّد من أعلى؟! كذلك في نهر الأردن نزل الروح القدس ليمسح يسوع، لا لسبب إلا لأن المسيح وطَّد نفسه على إسداء نعمة الخلاص لنا وتقديم الروح القدس لنا، فإننا كنا خالين من نعمة الروح القدس على حد قول الوحي: &#8220;فقال الرب لا يدين روحي في الإنسان إلى الأبد&#8221; (تك ٦ : ٣). نطق المسيح المتجسِّد بهذه الكلمات لأنه إله حق من إله حق، وتجسَّد بدون أن يتغيَّر أي تغيير ومُسِح بدُهن الفرح والابتهاج، ونزل عليه الروح القدس على شكل حمامة. وإننا نعلم أن الملوك والكهنة مُسِحوا في الزمن القديم حتى تقدَّسوا بعض التقديس، أما المسيح فدُهِن بزيت التقديس الروحي، متسلِّمًا هذه المسْحة ليس منأجل نفسه، بل من أجلنا لأنه سبق أن حُرم الناس من الروح القدس، فخيَّمت سحابة الحزن والكآبة على وجّه الأرض.</p>
<p>نادى المسيح بإطلاق سراح الأسرى بأن قيَّد قدميّ الشيطان بالأغلال، وكان طاغية باغية يتسلَّط على رِقاب الناس، وسرق من المسيح رعيَّته وخليقته، فرَدَّ السيِّد ما نهبه إبليس ظُلمًا وعُدوانًا. أرسل المسيح ليهدي قلوبًا غواها الشيطان، فأسدل ستارة من الظلام الدامس ، أما المسيح فبدَّد غشاوة الليل الحالك، وأصبحت رعيَّته تسير في الضوء الوهَّاج والنور الساطع، كما ورد في رسالة بولس الرسول الأولى إلى أهل تسالونيكي: &#8220;جميعكم أبناء نور وأبناء نهار، لسنا من ليل ولا من ظلمة&#8221; (١تس ٥ : ٥)</p>
<p>لقد أبصر العميان، وأُنيرت الطرق، ومُهِّدت المرتفعات، وذلك بمجيء المسيح المخلِّص الفادي: &#8220;أنا الرب دعوتك بالبر فأمسك بيدك وأحفظك وأجعلك عهدًا للشعب ونورًا للأمم&#8221; (أش ٤٢ : ٦)</p>
<p>جاء المسيح فأعلن عهدًا جديدًا لإخوته الإسرائيليِّين، ولكن لم يحتكر اليهود هذا الضوء الوهَّاج، بل سطع نور المسيح البهي على الأمم، فأطلق المأسورين وحرَّر المنسحقين، وكل ذلك يدل على أن المسيح إله بطبيعته فهو إله حق من إله حق.</p>
<p>وما المراد بالقول: &#8220;أنادي المأسورين بالإطلاق&#8221;؟ تُشير هذه الآية إلى جمهور البؤساء التُعساء الذين أوقعهم الشيطان في حبائله.</p>
<p>وما معنى القول: &#8220;أكرز بسَنة الله المقبولة&#8221;؟ تُشير هذه الآية إلى جلال الأخبار المُفرحة التي تُعلن قدوم السيِّد المسيح، هذه هي السَنة المقبولة التي شاء المسيح فصُلب فيها نيابة عنَّا، لأن بصلبِه قبِلَنا الله الآب وكنَّا بعيدين عنه، إذ ورد: &#8220;وأنا إن اِرتفعت من الأرض أجذب إليّ الجميع&#8221; (يو ١٢ : ٣٢) حقًا قام المسيح في اليوم الثالث، منتصرًا على قوَّة الموت، ولذلك يقول: &#8220;دُفع إليّ كل سلطان في السماء وعلى الأرض&#8221; (مت ٢٨ : ١٨)</p>
<p>أليست هذه السَنة سنَة مقبولة، وقد انضممنا إلى أسرة المسيح، وخفق علينا علم يسوع، وتطهَّرنا بالعِماد المقدَّس، واشتركنا في طبيعة المسيح الإلهيَّة، بنيْلنا الروح القدس؟!</p>
<p>إنها السَنة مقبولة تلك التيأَظهر فيها المسيح مجده بمعجزات باهرة، وقبِلْنا بفرح وابتهاج نعمة الخلاص والفداء على حد قول بولس الحكيم: &#8220;هوذا الآن وقت مقبول، هوذا الآن يوم خلاص&#8221; (٢كو ٦ : ٢) حقًا أنه مقبول إذ فيه فازت الأمم بكنز الإنجيل السمائي، ونالت رسالة السماء المُفرحة، وكانت في الماضي بعيدة عن نعمة الخلاص، لا أمل لها بالنجاة، وليس إله تقصد إليه في العالم. أما الآن فنحن أعضاء في المملكة المسيحيَّة، وشركاء طغمة القدِّيسين الصالحة، وورثة نعم وبركات يقصُر عن تصوُّرِها العقل وعن وصفها اللسان: &#8220;ما لم ترَ عين ولم تسمع به إذن ولم يخطر على بال إنسان، ما أعده الله للذين يحبونه&#8221; (١كو ٢: ٩)</p>
<p>وتشير عبارة: &#8220;المُنكسري القلوب&#8221; إلى ضعاف القلوب مزعزعي العقيدة، هؤلاء الذين لا يُمكنهم مقاومة الميول والشهوات، فيرخون العنان لعواطفهم الدنيئة، فيشتدْ الخِناق عليهم ويضيق بهم مكان الأسر. أما المسيح فيعد مثل هؤلاء المأسورين بالإطلاق ويناشدهم قائلًا: ارجعوا إليّ فأشفيكم، وأغفر لكم إثمكم وخطيَّتكم.</p>
<p>أما الذين عمَت بصائرهم فإن المسيح يهبهم الضوء والنور؛ هم عميان لأنهم عبدوا المخلوق دون الخالق:&#8221;قائلين للعود أنت أبي وللحجر أنت ولدتني&#8221; (أر ٢ : ٢٧) هؤلاء الناس جهلوا طبيعة المسيح الإلهيَّة فحُرم عقلهم من النور الروحي الحقيقي.</p>
<p>وليس هناك من معترضٍ على نسبة هذه الأمور كلها إلى جماعة الإسرائيليِّين، فقد كانوا فقراء ومنكسري القلوب وأسرى، يهيمون في دُجى الليل الحالك &#8220;الكل قد زاغوا معًا وفسدوا، ليس من يعمل صلاحًا ليس ولا واحد&#8221; (مز ١٤: ٣)</p>
<p>نزل المسيح فبُشِّر الإسرائيليِّين قبل غيرهم من الشعوب، أما الأمم الأخرى فلم تكن دون الإسرائيليِّين عُمي وجُهلاء، ولكن المسيح أغناها بحكمته وهذبها بعلمه، فلم تظل ضعيفة العقل سقيمة الرأي، بل أصبحت سليمة المذهب قويَّة الحجة<a href="#_ftn5" name="_ftnref5">[5]</a>.</p>
<h4>القديس مقاريوس الكبير</h4>
<p>الذين يُمسَحون بالمسحة السماوية فانهم يصيرون مسحاء بحسب النعمة ، فيكونون هم ايضاً ملوكاً وانبياء للأسرارالسماوية</p>
<p>مسحة الروح :</p>
<p>١- المسيحيون الكاملون الذين حسبوا أهلاً للوصول إلي مقاييس الكمال والالتصاق جداً بالملك (المسيح) ، هؤلاءيكرسون انفسهم دائماً لصليب المسيح ، وكما كانت المسحة في أيام الأنبياء هي أثمن من جميع الاشياء -اذ أن المسحةجعلتهم ملوكاً وانبياء ، هكذا الاشخاص الروحيون الآن ، الذين يُمسَحون بالمسحة السماوية فانهم يصيرون مسحاءبحسب النعمة ، فيكونون هم ايضاً ملوكاً وانبياء للأسرار السماوية .</p>
<p>هؤلاء هم أبناء وأرباب وآلهة ، مأسورين ومستعبدون لنعمة الله ، ومستغرقون في العمق ، مصلوبون ومكرسون . فانكانت مسحة الزيت ، التي استخرجت من نبات مادي - من شجرة منظورة لها كل هذه القوة ، حتي أن اولئك الذينمسحوا بها ، نالوا كرامة فوق كل اعتبار - فانه هكذا كانت القاعدة الثابتة التي بها يعينون ملكاً ، فداود مثلاً بعد أنمسح ، وقع في الحال في اضطهاد وآلام ، ثم بعد سبع سنوات صار ملكاً ، فكم بالحري جداً كل الذين يُمسَحون فيالعقل والإنسان الباطن بدهن البهجة (عب ١: ٩) الذي يقدس ويبهج ، الدهن السَّماويّ الروحاني ، ينالون علامة ذلكالملكوت الذي لا يفني ، والقوة الأبدية ، عربون الروح (٢كو ٥: ٥) ، أي الروح القدس المعزي ، وهو يسمي المعزي لأنهيعزي اولئك الذين في الشدائد .</p>
<p>الدخول منذ الآن ومعاينة النور :</p>
<p>فهؤلاء اذ قد مسحوا من شجرة الحياة - أي يسوع المسيح الغرس السَّماويّ ، فانهم ينالون امتياز المجيء إلي درجاتالكمال ، درجات الملكوت والتبني ، ويكونون مشاركين حقيقيين في أسرار الملك السَّماويّ وخفاياه ، اذ يدخلون بحريةإلي القدير ، يدخلون في قصره حيث يكون الملائكة وأرواح القديسين ، وهم يدخلون منذ الأن بينما هم لا يزالون في هذاالعالم ، ورغم انهم لم ينالوا الميراث الكامل المعد لهم في ذلك الدَّهر ، فانهم متيقنون - عن طريق العربون الذي قد نالوهالآن - كانهم قد كللوا وملكوا ، واذ هم عتيدون ان يملكوا مع المسيح ، فانهم لا يستغربون وفرة وحرية فيض الروح . لماذا؟ لأنهم حصلوا - وهم لا يزالون في الجسد - علي لذة حلاوته وعلي عمل قوته الفعالة .</p>
<p>فحينما يكون انسان ما صديقاً للامبراطور، ويعمل في قصره ويتعرف علي أسراره وخفاياه ، وينظر أرجوانه ، فاذاصار ذلك الإنسان هو نفسه امبراطوراً فيما بعد ، وتوج فانه لا يندهش أو يصدم (بما في القصر) حيث انه سبق أنتدرب طويلاً في أسرار القصر وخفاياه . فلا يستطيع شخص ساذج أو جاهل أو غريب عن خفايا القصر أن يدخل القصر ويملك، بل يستطيع ذلك فقط اولئك الذين لهم خبرة وتدرب ، وكذلك المسيحيون الذين سيملكون في الدَّهر الآتي ،فانهم لا يستغربون ، اذ انهم سبق ان تعرفوا علي أسرار النعمة وخفاياها . فحينما تعدي الإنسان الوصيَّة ألقيالشيطان علي النَّفس حجاباً مظلماً. ثم تأتي النعمة فتزيل الحجاب تماماً ، حتي أن النَّفس اذ تصير نقية ، وتستعيدطبيعتها الأصلية ، وتصير صافية بلا عيب ، فانها تنظر دائماً بصفاء - بعينها النقية - مجد النور الحقيقي ، وشمسالبر الحقيقية ساطعة بأشعتها داخل القلب نفسه .</p>
<p>وكما انه في نهاية العالم تزول السماء (الجلد) ويعيش الأبرار حينئذ في الملكوت والنور والمجد ولا يعاينون شيئاً آخرسوي المسيح وهو في المجد جالس دائماً عن يمين الآب، هؤلاء الناس يختطفون منذ الآن إلي ذلك الدَّهر الآتيويؤسرون، وهناك يعاينون كل أنواع الجمال والبهاء والعجائب .</p>
<p>فنحن رغم اننا علي الأرض فان &#8221; مدينتنا هي في السموات &#8220;(في ٣: ٢٠) اذ فيما يخص العقل والإنسان الباطن، نصرف وقتنا ونقوم بانشطتنا في ذلك العالم. وكما أن العين الظَّاهرة - عندما تكون صافية - تري الشمس دائما بوضوح، هكذا العقل المطهر تماماً فانه دائماً ينظر مجد نور المسيح ويكون مع الرب ليلاً ونهاراً ، كما أن جسد الربالمتحد باللاهوت هو دائماًمع الروح القدس.<a href="#_ftn6" name="_ftnref6">[6]</a></p>
<h4>القديس ديديموس الضرير</h4>
<p>تحقق هذا الإصلاح البهي بالمعنى الروحي عندما جاء ذاك الذي قال: &#8220;روح الله عليَّ لأنه مسحنيلأبشر المساكين، أرسلني لأشفي المنكسري القلوب، لأنادي للمأسورين بالإطلاق وللعمي بالبصروأرسل المنسحقين في الحرية&#8221; (لو ٤ : ١٨) &#8230; مكتوب &#8220;يشرق في أيامه الصديق وكثرة السلام، سلامهسوف لا يعرف حواجز، سوف لا يكون لأمة واحدة بل لجماعة الأمم&#8221;. الأرض كلها التي تخضع لذاكالقائل لتلاميذه وللذين يرغبون في خدمته: &#8220;أعطيكم سلامي&#8221; (يو ٢٤ : ٢٧) ، تتمتع بهدوء عظيميستتب فيها، والكرمة تعطي ثمرها والأرض غلتها والسماء نداها. أما الكرمة التي تعطي ثمرها فهيالتأملات الروحية في الحق&#8230; والأرض تعطي غلتها، إذ تثمر البذرة التي ألقاها يسوع فيها ثلاثينوستين ومائة (مت ١٣ : ٨ ، ٢٣)&#8230; تقدم الأرض غلتها لمن يزرعها بالدموع وبالعرق والحزن، فيحصدهابالفرح (مز ١٢٥ : ٥) &#8230; &#8220;الذين يزرعون بالدموع يحصدون بالابتهاج، الذاهب ذهابًا بالبكاء حاملًامبذر الزرع مجيئًا يجيء بالترنم حاملًا حزمه&#8221; (مز ١٢٦ : ٥). هذا الحصاد الكثير روحي يخص الكلامالإلهي، وكما أوصي هوشع النبي: &#8220;إزرعوا لأنفسكم بالبر. أحصدوا بحسب الصلاح، أحرثوا لأنفسكمحرثًا، فإنه وقت لطلب الرب حتى يأتي ويعلمكم البر&#8221; (هو ١٠ : ١٢) &#8230; أما السماء تعطي نداها، فإنناسنفهم الندى عندما نعرف السماء التي تعطيه. السماء بلا شك ليست إلاَّ ذاك الذي يحمل صورةالإنسان السماوي (١كو ١٥ : ٤٩) ، حيث يكون وطنه في السماء (في ٣ : ٢٠). فقد قيل عن الذينيظهرون صورة المخلص السماوي: &#8220;السموات تشهد بمجد الله والفلك يخبر بعمل يديه&#8221; (مز ١٨ : ١) ،وجاء عنهم في النشيد الكبير الوارد في سفر التثنية: &#8220;أيتها السموات افرحي معه&#8221; (تث ٣٢ : ٤٣) أيافرحي مع المخلص. كيف لا يفرحون ويتهللون معه وقد تشكلوا على صورته كقول الرسول: &#8220;ليكونوامشابهين صورة ابنه&#8221; (رو ٨ : ٢٩) ، وأيضًا &#8220;سنلبس صورة السماوي&#8221; (١كو ١٥ : ٤٩) ؟! يليق بنا أننقول أنهم باتحادهم في سماء واحدة يعطون ندى سماوي، لكن كل واحد يُعطي نداه الخاص،متشبهًا بموسى القائل: &#8220;يهطل كالمطر تعليمي ويقطر كالندي كلامي &#8221; (تث ٣٢ : ٢)<a href="#_ftn7" name="_ftnref7">[7]</a>.</p>
<h4>العلَّامة أوريجانوس</h4>
<p>الكاهن الحقيقي</p>
<p>تأمل أن الكاهن الحقيقي هو الرب يسوع المسيح (عب ٤ : ١٤) الحامل الجسد كمن يقضي عامًا كاملًا مع شعبه، إذ يقول بنفسه: &#8220;روح السيد الرب عليّ لأن الرب مسحني لأبشر المساكين، أرسلني لأعصب منكسري القلب، لأنادي المسبيين بالعتق وللمأسورينبالإطلاق، لأنادي بسنة مقبولة للرب&#8221; (إش ٦١ : ١ - ٢). في هذه السنة دخل في يوم الكفارة مرة واحدة إلى قدس الأقداس (خر ٣٠: ١٠) عندما أكمل رسالته وصعد إلى السموات (عب ٤ : ١٤) عن يمين الآب، لحساب الجنس البشري، يشفع في كل المؤمنين به. يتحدث الرسول يوحنا عن هذه الكفارة التي لحساب البشر فيقول: &#8220;يا أولادي أكتب إليكم هذا لكي لا تخطئوا، وإن أخطأ أحد فلناشفيع عند الآب يسوع المسيح البار وهو كفارة لخطايانا&#8221; (١يو ٢ : ١ - ٢). ويعلن القديس بولس الرسول أيضًا عن هذه الكفارة بقولهعن المسيح: &#8220;الذي قدمه الله كفارة بالإيمان بدمه لإظهار بره&#8221; (رو ٣: ٢٥).</p>
<p>إذ يمتد يوم الكفارة حتى الغروب، أي حتى نهاية العالم، نقف أمام الباب ننتظر كاهننا الذي تأخر داخل قدس الأقداس، أي أمام الآب(١يو ٢ : ١ - ٢) يشفع في خطايا الذين ينتظرونه (عب ٩ : ٢٨). لكنه لا يشفع في خطايا الجميع، إذ لا يشفع فمن هم من طرفالتيس المرسل في البرية (لا ١٦: ٩ - ١٠) بل الذين هم من طرف الرب وحدهم، الذين ينتظرونه أما الباب، لا يفارقون الهيكل عابدينبأصوام وطلبات ليلًا ونهارًا (لو ٢ : ٣٧).</p>
<p>أتظن أنك وأنت تأتي إلى الكنيسة في يوم العيد بكل أناقة (وترف) دون الإصغاء إلى الصوت الإلهي ولا مراعاة لوصاياه أنك من طرفالرب؟! إنيّ أود أن تسمعوا هذا وتجتهدوا لا في الإنصات لصوت الله في الكنيسة فحسب وإنما في ممارسة كلام الله في منازلكم،واللهج في ناموس الرب ليلًا ونهارًا (مز ١ : ٢)… هذا هو بالحق الانتظار أمام باب الكاهن الذي يتأخر داخل قدس الأقداس، بهنُحسب من نصيب الرب..</p>
<h3>ماذا قال آباء الكنيسة عن مفهوم الإستشهاد</h3>
<h4>البابا أثناسيوس الرسولى</h4>
<p>كيف أصير شهيداً ؟</p>
<p>قد يعرض أن يقول أحد : أين هو زمان الاضطهاد حتى كنت أصير شهيداً ؟ فأقول له أنا : الآن يتجه لك أن تكونشهيداً إن أردت مت عن الخطية ، أمت أعضاءك التي على الأرض . وبذلك تصير شهيداً باختيارك ، فأولئك الشهداءكانوا يقاتلون ملوكا ورؤساء جسديين . أما أنت فإنك تقاتل ملك الخطية والشياطين ورؤساء الظلام، أولئك كانوا ينصبونللشهداء عقوبات مختلفة لأجل عبادة الأوثان . . . وكذلك فإن من واظب على اللذات و تعبد للزنا فقد جحد يسوع وسجدللصنم ، لأن له في ذاته صنم الزهرة وهو لذة الأجسام القبيحة . ومن كان مغلوباً من الغيظ والغضب فقد أنكر يسوع ولهفي نفسه المريخ إلها ، ومن انغلب لحب الفضة وأغلق تحننه عن الفقراء فقد كفر بيسوع وعبد الأصنام لأن له في نفسهصنم عطارد . . فإن أنت ضبطت هواك من هذه الأمور ، و تحفظت منها فقد وطأت الأصنام وصرت شهيداً والرب يسوعالمسيح يساعدك &#8221;</p>
<p>قاوم يا عزيزي حتى الدم مجاهداً ضد الخطية ، فتحسب نفسك أمام الله ذبيحة حية مقدسة مرضية ، و تعطى الثيابالبيض التي للشهداء&#8221; اغلب يا عزيزي كما غلبوا هم &#8221; وهم غلبوه بدم الخروف وبكلمة شهادتهم ولم يحبوا حياتهم حتىالموت &#8221;</p>
<h4>القديس يوحنا ذهبى الفم</h4>
<p>&#8220;اذبحوا ذبائح البر &#8221; . &#8221; اذبحو لله حمدا&#8221; هناك أيضاً تقدمات &#8230; هي تقديم الشهداء أرواحهم وأجسادهم كرائحة طيبزكية . وأنت أيضا تقدر أن تقدم تقدمة كهذه ، لأنه وإن كان لم تتح لك فرصة لتقديم جسدك حتى يحترق بالنار ، فهناكنار أخرى يمكنك أن تتقدم إليها مثل الفقر الاختياري . فإن اختار الإنسان ذلك في أيام ترفه ونعيمه، محتملا المتاعبوالمشقات، مميتاً جسده أما يحسب هذا محرقة؟! ليمت جسدك وليصلب ، فتنال إكليل الاستشهاد أيضاً ، ولتدع ذهنكيقوم بما ينجزه سيف المضطهد بالنسبة للشهيد ، ولا تدع محبة الاغتناء تحرقك أو تستعبدك ، بل أحرق هذه الشهوةالشريرة بنار الروح القدس ، مزقها إربا . فهذه تقدمة سامية لاتحتاج إلى كاهن يقدمها . ه قد يقول قائل : إنه ليس وقتالاستشهاد ، فماذا أفعل ؟ ،. هل تظن أن الصلب على خشبة فقط هو الذي يوجد الشهيد ، فلو كان الأمر هكذا لحرمأيوب من إكليله ، لأنه لم يقف أمام محاكمة ولا مضطهد ولا علق على شجرة &#8230; لكنه تألم اكثر من شهداء كثيرين . لقدقاسى آلاما من كل جانب . . من جهة ممتلكاته وأولاده وشخصه وبواسطة زوجته وأصدقائه وأعدائه ، حتى خدامهاستهزأوا به ، تحمل الجوع والهزء والآلام والمضايقات ، لأجل هذا أقول إن أيوب شهيد . هذا وهو لا يماثل شهيد أواثنين أو ثلاثة بل ألف شهيد خاصة وأن العصر الذي عاش فيه يكرمه بالأكثر لأنه لم يعاصر الناموس ولا عهد النعمة</p>
<p>أيضاً للقديس يوحنا ذهبى الفم</p>
<ul>
<li>كيف يؤكد الرسول بأن الاستشهاد ( والعطاء ) بدون محبة ليسا بشيء ، وإن سلمت جسدى حتى احترق ولكن ليسلي محبة ، فلا انتفع شيئا ، مع أن السيد المسيح قال بأن كليهما يخصان الكمال</li>
</ul>
<p>عندما قال السيد و من أضاع حياته من أجلى يجدها لم يعن أن المحبة غير ضرورية ،</p>
<p>إنما قصد إعلان الجزاء . فالرب طلب المحبة مع الاستشهاد في موضع آخر ، إذ قال للتلميذين وأما كأسى فتشربانها وبالصبغة التي اصطبغ بها أنا تصطبغان أي أنكما تستشهدان و تقتلان لأجلى ، وأما الجلوس عن يميني ويسارى &#8220;أينوال مكانة الشرف العظيم&#8221; فليس لي أن أعطيه إلا لمن أعد لهم &#8221; &#8230; أي لهؤلاء الذين دعاهم قائلا . من أراد أن يكون فيكم عظيها فليكن لكم خادماً ، واضعاً أمام أعينهم الاتضاع والحب</p>
<p>والحب الذي يطلبه منهم عظيم ، إذ لم يقف عند حد قوله السابق بل قال وكما أن ابن الإنسان لم يأت ليُخدم بل ليخدم وليبذل نفسه فدية عن كثيرين ، موضحاً لهم أنه يجب أن نحب إلى الدرجة التي نبذل فيها لأجل من نحبهم ، وفوق هذاكله نحب يسوع ذاته ، إذ قال لبطرس &#8220;أتحبني . . إرع غنمي &#8221;</p>
<p></p>
<h4> القديس أغسطينوس</h4>
<p>قد يعترف الإنسان باسم المسيح حتى سفك الدم أو الإلقاء في النار ، ولكن قد يحدث هذا بسبب حب المجد الباطلفيصير استشهاده باطلا</p>
<ul>
<li>إنه حتى الهراطقة و منهم من احتمل بعض المتاعب والآلام بسبب شرورهم وانحرافهم, فتكبروا تحت لواء الاستشهاد&#8221;. وهم في ذلك يكونون قد اختفوا تحت ثوب خفيف حتى ينهبون بسهولة ، لأنهم ذئاب</li>
</ul>
<p>إن كان أحد ليس فيه محبة تؤدى إلى الروح الواحد ورباط السلام في الكنيسة الجامعة ، بل يساعد على الانقسام &#8230; فإنه يقول عنه الرسول &#8221; إن سلمت جسدى حتى احترق وليس لى محبة فلا انتفع شيئا &#8221;</p>
<p>لنصرخ بروح المحبة ، حتى نأتى إلى الميراث الأبدى ، محتملين الآلام والعذابات بصبر ، لا بخوف العبيد بل بحب كمايليق بأبناء الأحرار</p>
<p></p>
<h4>  القديس باخوميوس</h4>
<p>هل تظن أن تقطيع الأعضاء والحرق وحدهما استشهاد ؟! بل تعب النسك واحتمال الآلام التي من الشيطان والأمراض ، من يحتملها بشكر فذلك هو الشهيد . وإلا فما حاجة الرسول أن يكتب ومن أجلك نمات كل النهار ، فإن لم يكن يموت في الظاهر ، فإنه يحتمل ما يأتى عليه بالصبر</p>
<h4>القديس كبريانوس أسقف قرطاجنة الشهيد</h4>
<p>ربما يعترض أحدهم قائلا : مما يحزنني &#8230; أنني قد تهيأت للاعتراف وكرست حياتي لاحتمال الآلام بكل قلبي بشجاعة. لكنني حرمت من الاستشهاد ، إذ اختطفنى الموت</p>
<p>الله فاحص القلوب والكلى ، العارف بخفايا الأمور ، يراك ويكرمك ويزكيك ، وإذ يرى</p>
<p>ثبات فضائلك يكافك عنها فالله الديان يتوج خدامه الذين أعدت أفكارهم (حياتهم) للاعتراف والاستشهاد &#8230; فهو لايرغب في دمنا بل يطلب إيماننا ، فليس ابراهيم ولا اسحق ولا يعقوب استشهد أحد منهم، ومع ذلك لهم كرامة إذاستحقوا أن يكونوا الأوائل بين البطاركة</p>
<p>وقال أيضا :</p>
<ul>
<li>لا تعطى أكاليل المواعيد الإلهية للمطرودين والمقتولين فحسب ، بل أنه إذ لم توجد متاعب ( خارجية ) للمؤمنين وكانإيمانهم قويا غير منهزم ، وتركوا ممتلكاتهم واستهانوا بها ، فإنهم بذلك يظهرون تبعيتهم للمسيح . فيعطيهم الرب كرامةمع الشهداء ، إذ وعد بنفسه قائلا &#8220;ليس أحد ترك بيتا أو والدين أو إخوة أو إمرأة أو أولاداً من أجل ملكوت الله إلا ويأخذفي هذا الزمان أضعافا كثيرة وفي الدهر الآتي الحيوة الأبدية &#8220;</li>
</ul>
<p>وأيضا في سفر الرؤيا يقول نفس الشيء . ورأيت نفوس الذين قتلوا من أجل شهادة يسوع ومن أجل كلمة الله ، وإذ ذكرهؤلاء الذين استشهدوا أضعاف قائلا ، والذين لم يسجدوا للوحش ولا لصورته ولم يقبلوا السمة على جباههم وعلىأيديهم ، هؤلاء جميعا قد جمعهم معاً، إذ رآهم في نفس اللحظة وفي نفس الموضع ، ويقول &#8220;فعاشوا وملكوا مع المسيح</p>
<p>يقول عنهم إنهم عاشوا وملكوا مع المسيح ، ليس فقط الذين استشهدوا بل والذين ثبتوا على الإيمان في خوف الله ولميعبدوا صورة الوحش ولم يقبلوا سماته المميتة النجسة</p>
<ul>
<li>(تشجيعه لشعبه في قرطاجنة عندما انتابتهم موجة اضطهاد في القرن الثالث الميلادي). يا لك من كنيسة مطوبة ، تلكالتي تشرفت بنور العناية الإلهية في أيامنا هذه حيث صار</li>
</ul>
<p>دم الشهداء ممجداً ! ! لقد كانت بيضاء قبل استشهاد هؤلاء ، والآن قد صارت قرمزية بدم الشهداء . إنه لم يعد ينقصهالا زهور بيضاء ولا زنابق حمراء . إذا فليجاهد كل عضو فيها جهاداً عظيما لأجل المجد . فينالون أكاليل بيضاء بجهادهم( في غير زمن الاستشهاد ) أو قرمزية باحتمالهم العذابات ، فسيكون في السماء لكل منهم زهوره التي يتمجد بها جنود يسوع.<a href="#_ftn8" name="_ftnref8">[8]</a></p>
<h3>عظات آباء وخدام معاصرين</h3>
<h4>القديس البابا كيرلس السادس</h4>
<p>رسالة صاحب القداسة البابا كيرلس السادس</p>
<p>بمناسبة عيد النيروز</p>
<p>إلى أصحاب النيافة أخوتنا الأحباء المطارنة والأساقفة وابنائنا الاكليروس المبارك شعب الكرازة المرقسية .نعمة وسلام وبركة من الله أبينا وربنا يسوع المسيح والروح القدس المعزى لجميعنا ولجميع أبناءنا رجالا ونساء وشبانا وشابات .</p>
<p>في الحادي عشر من سبتمبر هذا العام يبدأ عامنا القبطى الجديد لسنة ١٦٨٦ للشهداء الأطهار وهو اليوم الأول من شهر توت نسبة إلى العلامة الفلكى الأول الذي وضع التقويم المصرى القديم الذي انفرد به القبط فترة طويلة من الزمن قبل أي تقويم آخر عرفه العالم بعد ذلك شرقا وغربا وتقدير أمن المصريين القدماء لهذا العلامة رفعوه إلى مصاف الآلهة وصار تحوت أو توت هو إله القلم وإله الحكمة والمعرفة وخلدا اسمه على أول شهور السنة المصرية أو القبطية .كانت نشأة التقويم المصرى القبطى في سنة ٤٢٤١ قبل الميلاد أي في القرن الثالث والأربعين قبل الميلاد عندما رصد المصريون القدماء نجم الشعرة اليمانية وحسبوا الفترة بين ظهوره مرتين و قسموها إلى ثلاثة فصول كبيرة ( الفيضان والبذر والحصاد ) ثم إلى اثنى عشر شهراً كل شهر منها ثلاثون يوماً وأضافوا المدة الباقية وهى ٥ وربع يوما وجعلوها شهراً أسموه بالشهر الصغير وسارت السنة القبطية ٣٦٥ يوما في السنة البسيطة و ٣٦٦ يوما في السنة الكبيسة .</p>
<p>وقد احترم الفلاح المصرى هذا التقويم نظراً لمطابقته لموسم الزراعية ولا يزال يتبعه إلى اليوم . وفي أواخر القرن الثالث الميلاد ثار اضطهاد الامبراطور الروماني ديوقليديانوس على المسيحيين ووضع الامبراطور تخطيطا محكما لاستئصال المسيحية يقوم على أربع نقاط:</p>
<p>١- طرد المسيحيين من الوظائف الحكومية وإباحة دمهم</p>
<p>٢- قتل الأساقفة والكهنة</p>
<p>٣- إحراق الكتب المقدسة</p>
<p>٤- هدم الكنائس</p>
<p>وقد نال القبط في مصر من هذا الاضطهاد أعنفه لأن ديوقلديانوس كان يرى أن رأس الحية كامن في مصر ولذلك جاء بنفسه وأقسم بالهته الوثنية أنه لن يكف عن ذبح المسيحيين بيده حتى يصل الدم المراق من المسيحيين إلى ركبة الحصان ، وشرع الامبراطور يقتل بسيفه المسيحيين وهو ممتط صهوة حصانة بيده ، وحدث عند غروب الشمس ان كبا الجواد فوقع على الأرض فلحقت الدماء المسفوكة على الأرض ركبت الحصان وكان الامبراطور قد كل وتعب من ذبح المسيحيين وترك السيف في يده آثاراً وجرحا فاعتبر نفسه أنه قد وفى بنذره للالهة فكف عن ذبح المسيحيين وقد أحصى عدد القتلى من المسيحيين فقيل أنه بلغ ٨٤٠،٠٠٠ شهید .</p>
<p>ونظرا لفداحة ما تحمله المسيحيون في مصر في عهد هذا الامبراطور فقد رأوا أن تبدأ في تاريخهم حلقة جديدة وأرخوا لسنة ٢٨٤ ميلادية وهي السنة التي اعتلى فيها الامبراطور ديوقلديانوس عرش الامبراطورية. ففي ٢٩ أغسطس من تلك السنة بدأ أول توت لسنة ١ قبطية ولذلك فان التاريخ القبطى ينقص عن التاريخ الميلادي بمقدار ٢٨٤ سنة وصار التاريخ القبطى ابتداء من هذا التاريخ</p>
<p>يسمى تاريخ الشهداء الأطهار .</p>
<p>ان الاستشهاد من أجل الايمان كان ولا يزال مجد شعبنا واكليل فخار لكنيستنا حتى عرفت  في كل العصور بأنها كنيسة الشهداء وصار تاريخها يعرف بتاريخ الشهداء، وقال بعض المؤرخين أن عدد الشهداء الذين استشهدوا في مصر فاق عدد الشهداء المسيحيين في كل العالم . وقد جرى المثل الشهير أن تحويل جبل من موضعه أسهل من تحويل قبطى عن معتقدة. وقيل ايضا أن كل شبر من تربة مصر قد روى بدماء الشهداء .فأقباط .. مصر هم نسل الشهداء الذين قبلوا الموت عن رضى زودا عن عقيدتهم وكنيستهم ولم يقبلوا أن يتزحزحوا عن إيمانهم يمنة أو يسرة وبقيت كنيستنا في عقيدتها وطقوسها وتقاليدها على قول بعض المؤرخين الأجانب صورة فريدة للمسيحية الأولى وكأنها تحفة أثرية تتحدث عن الايمان الرسولى في أقدم صورة له .لذلك كان علينا أن نحافظ على التراث المجيد وديعة الايمان بالروح القدس الساكن فينا على ما يقول ماربولس الرسول وأن نتمسك بايماننا وعقيدتنا وتراثنا وتقاليدنا وأن لا تتزحزح عن مسلماتنا القديمة وأن نبقى عليها ثابتين إلى النفس الأخير . فقد قال مخلصنا و الذي عندكم تمسكوا به إلى أن أجيء ، (رؤيا ٢ - ٥) وعلى الذين  من شعبنا وابنائنا  ممن غادروا بلادهم إلى بلد بعيد أن لا ينسوا محبته الأولى لله ولكنيستهم ولوطنهم وأن يتحصنوا ضد كل روح غريب،روح الخطية والشر ، وأن يسلكوا كما يحق للمسيح بكل تقوى ووقار وأن يصلوا من أجل سلام كنيستهم و بلادهم ونصرتها على كل الأعداء الخفيين والظاهرين ومن أجل انتشار ملكوت المسيح واذكروا أننا نعاني محنة كبيرة استيلاء اسرائيل على الأراضي المقدسة وبتخطيطها العنيد لتهدم المعابد ودور العبادة لتبنى هيكلها على أنقاضها الأمر الذي سيقود حتما إلى حرب ضروس ، فصلوا ليدفع الرب البلاء ويهيء للوطن الخلاص والنصر بشفاعة السيدة العذراء الطاهرة مريم التي تتجلى على قباب كنيستها الزيتون منذ الثاني من أبريل ١٩٦٨ وإلى اليوم حزينة على ما يجرى الآن في البلاد المقدسة وتبدو راكعة مصلية لتدفع بصلواتها الشر الذي يريده أعداء السلام . وبصلوات القديس مرقس الرسول الذي احتفلنا في الرابع والعشرين من يونيو سنة ١٩٦٨ برجوع رفاته المقدسة من روما بركة لبلادنا ولشعبنا</p>
<p>إله السماء يحفظكم ويبنيكم في الروح والنفس والجسد والعظمته تعالى الشكر دائماً آمين<a href="#_ftn9" name="_ftnref9">[9]</a> .</p>
<h4>المتنيح الأنبا كيرلس مطران ميلانو</h4>
<p>ام الشهداء</p>
<p>أم الشهداء تلد كل حين</p>
<p>أنا أم الشهداء &#8230; أنا لست عاقراً &#8230; أنا ألد أولاداً كل حين &#8230; وفي كل مكان اضعهم في حجري وأحملهم بين ذراعي &#8230;</p>
<p>يا أم الشهداء أنا من أبنائك &#8230; دعني أسألك : بينما ترضعين أطفالك باللبن الروحي وتطعمين أولادك وتغذيهم بالفضائل، لماذا أرى ثيابك دائماً ملطخة بالدماء ؟</p>
<p>أخبرني لماذا لم تغيري ثيابك ؟! أليس لديك ثوب آخر ترتدينه ؟! أنا أعلم وأؤمن أن السيد المسيح هو عريسك السماوي ،وهو رأسك واكليلك ، هو غارسك وراويك ، هو مثبتك وحارسك ، وأن عينيه مفتوحتان عليك ليلاً ونهاراً &#8230;</p>
<p>أين غيرتك المقدسة على أولادك وأنت ساكنة في ستر رب الجنود ؟! لماذا يتعذبون أمام عينيك ؟! لماذا يضطهدونويطاردون في كل مكان ؟! لماذا يذبحون ويقتلون وهم على حجرك ؟! لماذا يفترى عليهم وهم أبرياء ؟! أنا يا أمي لا أفهمصمتك !!! هل صمتك هو كلام ؟ من الذي يفسر لي عمق کلام صمتك ؟</p>
<p>اسمعني يا ابني ، أمل أذنك واصغ لي : أنت تعلم إني أنا أم الشهداء &#8230; تعلم إني أنا عروس المسيح &#8230; أنا الصخرةالمستندة على صخر الدهور ، على المسيح القائم منتصراً من الأموات &#8230; هو وحده الذي غذى ويغذى أولاده بأن آلام هذاالزمان الحاضر لا تقاس بالمجد العتيد أن يستعلن فينا &#8230;</p>
<p>أنت تشمئز من منظر ثيابي ورائحتها ، بينما أن أشتم فيها رائحة المسيح عريسي وأبوهم السماوي &#8230; هذا الذي وهبلهم لا أن يؤمنوا به فقط بل أيضاً أن يتألموا من أجله (في ١ : ٢٩)</p>
<p>في اللحظة التي أنت ترى فيها أبني غارقاً في الدماء ، قوات السماء تأتي وتخطف روحه الطاهرة البريئة إلى المسيحعريسي ، الذي يمسح كل دمعه من عيون المظلومين &#8230;</p>
<p>يا ابني ، أنت ترى فقط عيون أولادي وهي تغلق أمامك حيث لا تكون لهم رؤية بعد ، بينما تنسي وعد الله السابق لهؤلاء، هو وعدهم بما لا تراه عين وبما لا تسمع به أذن وما لا يخطر على قلب بشر &#8230;</p>
<p>في اللحظة التي ماتت فيهم عيونهم عن الرؤية عندك على الأرض ، المسيح عريسي منحهم عيوناً جديدة ترى المدينةالباقية ، أورشليم في السماوية &#8230;</p>
<p>نفوسهم الآن ترى وتعيش مع مريح التعابي ومعزي النفوس . . . ذاك الذي برؤيته وحده ينسيها أصعب وأقسى ما عانتهمن آلام . الآن هي في حضن أبيها عريسي . . . هي ترى المجد الذي لا يشبع منه ، إذ يمسح الله كل دمعة من عيونهم ،والموت لا يكون في ما بعد ، ولا يكون حزن ولا صراخ ولا وجع في ما بعد (رؤيا ٢١ : ٤) &#8230;</p>
<p>اطمئن يا ابني &#8230; المسيح عريسي لا يخدع أحداً &#8230; هو الذي ثبتني وجعلني بيتاً ومسكناً له &#8230; وبصوته أنا أتكلموأعلمكم ما يمليه علي بروحه القدوس &#8230;</p>
<p>أنتم أولاده وأولادي &#8230; هل سمعتم منه أن في هذا العالم يكون لكم افي فرح ؟! نحن دائما نقول لكم أنه من أجل أسمالمسيح عريسي في العالم سيكون لكم ضيق &#8230;</p>
<p>يجب عليك يا ابني أن تثق في المسيح الذي داس المعصرة وحده &#8230; ثق في ذاك الذي غلب العالم &#8230; الذي قال : &#8221; أينشوكتك يا موت &#8230; أين غلبتك يا هاوية &#8221;</p>
<p><a href="#_ftn10" name="_ftnref10">[10]</a></p>
<h4>الأب القمص أيوب مسيحه</h4>
<p>النيروز قديماً وحديثاً</p>
<p>مما لا جدال فيه ان المصريين القدماء هم أول أناس اهتموا بتقسيم الزمن الى وحدات ثابتة تبدأ باليوم وتنتهى بالسنة . ولقد كان السبب في ذلك يرجع الى حاجتهم الملحة الى تقسيم كهذا نسبة لبلادهم الزراعية التي تتوقف حياتها علىفيضان النيل الذي كان ولا يزال له مواعيده الثابتة و لقد اتخذوا من اليوم وحدة زمانية تبين لهم ان تكراره المتواصليحتاج الى حساب دقيق قد يربك الكثيرين ولذلك استعملوا الأسبوع وأطلقوا على أيامه أسماء السيارات السبعة. والعالم قديما وحديثا مدين للمصريين في هذا الوضع القديم الذي لا يزال يستعمله، إذ ان أيام الأسبوع تحمل فياللغات الافرنجية أسماء هذه الكواكب كما أطلقها عليه أجدادنا. وها نحن نعرف ان يوم الأحد هو يوم الشمس ويومالاثنين يوم القمر ويوم الثلاثاء يوم المريخ وهكذا. ،</p>
<p>ولأن النظام الأسبوعي هذا لم يستطع أن يحقق للمصريين رغبتهم في وضع نظام ثابت للدورة الزمنية لذلك راحوايفكرون في طريقة تقربهم أكثر الى تنظيم هذه الدوره . وكان ان استلفت أنظارهم الهلال ومسيره الذي يستغرق أسابيعأربعة فابتدأوا يتخذون منه حلقة زمانية أوسع من سابقتها . ولما رأى ( توت ) وكان رجلا عالما فلكيا حكما ان الشهورالاثني عشر الهلالية تعوزها أيام لكى تجمع بين طرفي فيضانين لنهر النيل، أخذ يفكر في طريقة تكفل له تكملة هذاالنقص ، وكان ان أرشده علمه الى وجود كوكب الشعرى اليمانية وكان يعرف عند الآلهة ( ايزيس ) والعرب يدعونهالشعرى اليمانية لأنهم ظنوه يظهر في الأفق فوق بلاد اليمن الثوابت يشرق ويغرب مقارناً للشمس في ابتداء زمانالفيضان النيلى ، ثم يواصل حركته الفلكية، وهكذا يمر مقارناً اللشمس في مثل هذا الميعاد من كل عام ، وهنا رأى توتأن يتخذ من قرانه مبدأ للسنة المصرية. ولكى يعبر المصريون عن تقديرهم لهذا العالم الجليل أطلقوا اسمه على الشهرالأول من شهور السنة والذي لا زلنا نذكره حتى اليوم ولقد تألفت السنة من اثنى عشر شهراً ،  يحتوى الوحد منها علىثلاثين يوما . ولكى يكمل العالم توت النقص الذي لاحظه اضطر أن يضيف الى السنة شهراً صغيراً مؤلفا من خمسةأيام دعى أخيراً باسم النسى فصارت السنة ٣٦٥ يوما. وحتى هذا النظام كان الزمن فيه يفرق نحو ربع يوم سنوياً. ولكى يتلافى قدماء المصريين هذا النقص رأيناهم وقد تركوه مدة ١٤٦٠ سنة وهي المدة التي وصل فيها ربع اليوم هذاالى سنة كاملة أضافوها الى الأعوام الماضية ، وقد أطلقوا على هذه المدة اسم ( الدور الكلبى ) وذلك نسبة الى صورةالكلب الأكبر الذي ينتسب اليه نجم الشعرى اليمانية . وقد استمروا يستعملون هذا النظام الى أن غيروه بالنظام المربعالذي تتألف السنة فيه من ٣٦٥ يوما وربع يوم ، وكان ذلك في السنة الخامسة من حكم أغسطس قيصر ، وهى السنةالخامسة والعشرين قبل الميلاد حيث كانت نهاية لدورهم الكلى الأخير ومن الطرافة أن نشير الى أنه من عهد قريبكانت البطريركية تدفع مرتبات موظفيها جرياً على التقويم القبطى لا الافرنجي وكانت تعتمد أيام النسى الخمسة شهراًتصرف فيه مرتباً كاملا لمستخدميها . ولقد عمد المصريون الى سنتهم هذه فقسموها الى فصول ثلاثة محتوى كل فصلمنها على أربعة أشهر، مراعين في ذلك مصلحتهم الزراعية وأولها الفصل الزراعي ويبدأ من توت الى كيهك ، والثانيفصل الحصاد ويبدأ من طوبى الى برموده ، ثم فصل الفيضان ويبدأ من بشنس حتى نهاية السنة . ويهمنا أن نشيرالى أن هذا النظام القديم لا يزال معتمداً لدى الكنيسة القبطية التي قسمت السنة الى هذه الأقسام الثلاثة وحددتهافي قليل من التصرف ، فقد أخذت على عاتقها الصلاة في خلالها من أجل الزرع والعشب و نبات الحقل في زمنالزراعة ، ومن أجل أهوية السماء وثمرات الأرض في زمن الحصاد، كما انها تصلى من أجل مياه النهر في زمنالفيضان .أما الاحتفال برأس السنة فالتاريخ محدثنا عنه كيف كان في القديم رائعاً ، يخرج في الاحتفال به الناسجميعاً وفي مقدمتهم ملك البلاد، لأن الكهنة استطاعوا أن يجعلوه عيداً دينياً لا وطنياً فقط ، وخصوصاً بعد أن نادوابتوت واضع هذا النظام إلها وقالوا بعبادته . كما انهم راحوا يؤلهون نهر النيل أيضاً لقاء الخيرات الكثيرة التي نالتهمعن طريقه . والتصاوير الباقية حتى اليوم في معابدهم تنطق مما كانت عليه هذه الاحتفالات من الروعة والجلال كمايرى البعض منها حتى اليوم في معبد دندره ومع ان البلاد المصرية حكمها الكثيرون من الأجانب إلا أنهم لم يفكروا فيالتضييق على أهلها ومنعهم من الاحتفال بأعيادهم القومية والتي كان على رأسها عيد رأس السنة هذا ورغم اضطهادالمسيحيين لاسيما في فجر تاريخهم فان هذا العيد لم يتعرض له أحد إذ غلبت عليه الصيغة الوطنية ووجب على كلمصرى أن يشترك فيه لاعتباره أثراً من آثار الأقدمين . ولا يزال معلمو الكتاتيب في كثير من قرى الصعيد الاعلىيرسمون كثيراً من الرسوم يطلقون عليها كلمة ( نواريز) يرسمون فيها صوراً مختلفة للقديسين والملائكة محاطة بدوائرمتناسقة متماسة ومتقاطعة تكون مع بعضها الأشكال الهندسية ، ويلونونها بألوان مختلفة متنوعة، ويوزعونها علىتلاميذهم كجوائز على نشاطهم و تقدمهم . كما كان بعض هؤلاء المعلمين يخرج مع تلاميذه في ذلك اليوم الى النيلللاستحمام فيه والتبرك بمائه . ولما كانت التقاليد الكنسية تقول بأن أيوب الصديق عندما أراد الله له شفاء لأمراضهأرسل اليه ملاكا قاده الى عين ماء وأشار عليه بأن يستحم من مائها فطهر من أمراضه هذه ، وعاد صحيحاً سلما ،وللصلة القوية بين الاستحمام بالماء وشفاء الأمراض المتنوعة كما في حادث أليشع التي مع نعمان السرياني ، وكما كانيشير بذلك السيد المسيح على بعض المرضى الذين شفاهم ، فقد رأت الكنيسة أن توجه أنظار أبنائها إلى حادثة أيوبهذه إذ خصصت لها يوم النيروز بالذات وفيه محدثنا السنكسار قائلا : &#8221; وفيه استحم أيوب الصديق بالماء فبرئ من كلأوجاعه فصارت عادة مستمرة مع كل العام الجديد أن يستحم بعض الناس ليتباركوا بالماء في رأس السنة &#8221; ثم يواصلالسنكسار الحديث مخاطبا الشعب المبارك قائلا &#8221; حفظكم الله بيده القديرة ، وأطال أعماركم لسنين كثيرة ، وجعلكمتستقبلون عاما بعد عام ، متمتعين بصحتكم ونجاح أعمالكم .ولربنا المجد دائماً<a href="#_ftn11" name="_ftnref11">[11]</a> .</p>
<h4>أول توت للمتنيح الأرشيدياكون بانوب عبده</h4>
<p>إنجيل العشية (مت ١٣: ٤٤- ٥٢)</p>
<p>بشارة الأنجيل</p>
<p>تمهيد :</p>
<p>في خلال جولان السيد المسيح الثاني للتبشير في الجليل أخذ يلقي تعاليمه علي الجموع عند بحر الجليل ، وقد ضرب لهم أمثالهالثلاثة المعروفة التي فيها شبه بشارة الإنجيل بالكنز ، واللؤلؤة ، والشبكة ، وفي هذه الأمثال بين عظمة بشارة الإنجيل ، ومصيرمستمعيها ، وواجب القائمين بخدمتها .</p>
<p>عظمة البشارة</p>
<p>أيضاً يشبه ملكوت السموات كنزا مخفي في حقل وجده إنسان فأخفاه ومن فرحه مضي وباع كل ما كان له واشتري ذلك الحقل .</p>
<p>يسمي المخلص بشارة الإنجيل &#8221; ملكوت السموات &#8221; لأنها توصل من يعمل بها إلي ذلك الملكوت ، ويشبهها وهي مخفية علي الكثيرينبكنز مخفي في حقل ، ويرجع خفاؤها علي الناس لا إلي تدبير إلهي بل إلي عمي قلوبهم ، لأن &#8221; الإنسان الطبيعي لا يقبل ما لروحالله لأنه عنده جهالة ولا يقدر أن يعرفه لأنه إنما يحكم فيه روحيا &#8220;(١كو ٢: ١٤) ، وفي ذلك يقول بولس الرسول &#8221; إن كان إنجيلنا مكتومافأنما هو مكتوم في الهالكين الذين فيهم إله هذا الدهر قد أعمي أذهان غير المؤمنين لئلا تضيء لهم إنارة إنجيل مجد المسيح الذي هوصورة الله &#8220;(٢كو ٤: ٣- ٤) . والحقل المختفي فيه هذا الكنز يشير إلي العالم الذي تلقي فيه كنوز الإنجيل ، والإنسان الذي وجد الكنزهو المؤمن الذي يحتفظ بتلك الكنوز الإنجيلية في قلبه ، ولما كان هذا المؤمن يدرك سر ذلك الملكوت الروحي الذي لا يزول ، والغني الذيلا يفني ففرحه به يحمله علي بيع كل ما يملك لشراء الحقل ، ومع أن الكنوز السماوية لا تشتري بمال ، لأنها بلا فضة وبلا ثمن كماقال أشعياء &#8221; أيها العطاش جميعا هلموا إلي المياة والذي ليس له فضة ، تعالوا اشتروا وكلوا هلموا اشتروا بلا فضة وبلا ثمن خمراولبنا &#8221; (أش ٥٥: ١) . إلا أن المقصود من قول المخلص أنه &#8221; باع كل ما له واشتراه &#8221; أنه ترك كل ما وقف في سبيل ذلك الخير العظيم، وفي ذلك يقول الرسول &#8221; لكن ما كان لي ربحا فهذا قد حسبته خسارة لأجل فضل معرفة المسيح ربي الذي من أجله خسرت كلالأشياء وأنا أحسبها نفاية لكي أربح المسيح &#8220;(في ٣: ٧-٨) ، وهذا تأييد لقول السيد &#8221; من أحب أباً أو أما أكثر مني فلا يستحقني ،ومن أحب ابنا أو ابنة أكثر مني فلا يستحقني ، ومن وجد حياته يضيعها ومن أضاع حياته من أجلي يجدها &#8220;(مت ١٠: ٣٧- ٣٩) . والغاية التي يرمي إليها المخلص من ضرب هذا المثل هي تحريض المؤمنين علي ألا يتعلقوا بحطام هذا العالم وشهواته التي قدتعترض سبيلهم إلي ذلك الملكوت .</p>
<p>مثل اللؤلؤة :</p>
<p>أيضاً يشبه ملكوت السموات إنساناً تاجرا يطلب لآليء حسنة ، فلما وجد لؤلؤة واحدة كثيرة الثمن مضي وباع كل ما كان له واشتراها.</p>
<p>ويشبه هذا المثل الذي تقدمه مع فارق بسيط ، هو أن الذي وجد الكنز في المثل الأول وجده اتفاقا ، كما في حالة المرأة السامرية التيجاءت إلي البئر لتستقي فوجدت المسيح ، أما الذي وجد اللؤلؤة هنا فوجدها بعد بحث وتنقيب كما فعل المجوس الذين جاءوا منالمشرق لرؤية الملك المولود ، والمغزي في الحالين واحد .</p>
<p>مصير مستمعيها</p>
<p>مثل الشبكة</p>
<p>أيضاً يشبه ملكوت السموات شبكة مطروحة في البحر وجامعة من كل نوع</p>
<p>فلما امتلأت أصعدوها علي الشاطيء وجلسوا وجمعوا الجياد إلي أوعية وأما الأردياء فطرحوها خارجا ، هكذا يكون في انقضاءالعالم يخرج الملائكة ويفرزون الأشرار من بين الأبرار ، ويطرحونهم في أتون النار ، هناك يكون البكاء وصرير الأسنان .</p>
<p>وبعد أن بين المخلص عظمة بشارته استطرد إلي ذكر مصير مستمعيها فشبه الذين ينادون بها بالصيادين الذين ينشرون شباكالتعليم ليصيدوا بها الناس وينتشلوهم من بحر هذا العالم المهلك ، وشبه المستمعين من الشعوب المختلفة بصيد الشبكة الذي يضمأصنافا مختلفة من السمك ، وأما جذب الشبكة إلي الشاطيء فأشارة إلي اجتماع المؤمنين للدينونة عند انقضاء العالم ، وكما أن مايدخل الشبكة من الصيد فيه ما لا ينتفع به فيلقي خارجا ، كذلك الذين يؤمنون كثيرون ولكن ليس كلهم يتركون أهواءهم وشهواتهمويحفظون التعاليم . ومثلهم في ذلك مثل المتكئين في عرس ابن الملك الذين جمعهم عبيده من الطرق أشرارا وصالحين (مت ٢٢: ١٠) . ولما دخل الملك عليهم رأي أحدهم بغير لباس العرس ، فأمر خدامه بربط رجليه ويديه وطرحه في الظلمة الخارجية . وهكذا في نهايةالعالم يرسل الله ملائكته فيفرزون الأشرار من بين الأبرار ويطرحونهم في أتون النار حيث دودهم لا يموت ونارهم لا تطفأ (أش ٦٦: ٢٤) ، و &#8221; حيث البكاء وصرير الأسنان &#8221; ، أي حيث الحسرة والندم علي ما فعلوا ، والغم علي شيطان أطاعوه ، ونعيم مقيم فقدوه ،وفي هذا المثل إرهاب للسامعين ، وصد لهم عن متابعة الشرور .</p>
<p>واجب الخدام :</p>
<p>قال لهم يسوع أفهمتهم هذا كله ، فقالوا نعم يا سيد ، فقال لهم من أجل ذلك كل كاتب متعلم في ملكوت السموات يشبه رجلا رب بيتيخرج من كنزه جددا و عتقاء .</p>
<p>مضي المخلص بعد ذلك يتساءل عما إذا كان تلاميذه قد فهموا أمثاله ، وسؤاله ليس عن جهل منه بمدي فهمهم بل رغبة في أخذإقرارهم بذلك . ولما أجابوا بالإيجاب أخذ يبين لهم واجبهم وواجب من يتصدون لخدمة الكلمة من الرعاة وغيرهم ، وهو ضرورةالاتصاف بالحكمة والفهم والقدرة علي تأييد تعليمهم بأدلة من العهدين القديم والجديد فقال &#8221; من أجل ذلك كل كاتب متعلم في ملكوتالسموات يشبه رجلا رب بيت يخرج من كنزه جددا وعتقاء &#8221; ، أي كما أن رب الأسرة يدخر في بيته من الأثاث والمؤونة الجديد والقديم ،إذ بعض الأشياء قديمها أفضل كالخمر ، وبعضها جديدها أفضل كالعسل ، كذلك يجب في خادم الإنجيل أن يخرج من كنز علمه مايناسب الزمان والمكان والسامعين من تعاليم التوراة والإنجيل كليهما <a href="#_ftn12" name="_ftnref12">[12]</a> .</p>
<h4> القس أنطونيوس ذكري</h4>
<p>سنة الرب المقبولة..!!</p>
<p></p>
<p>يليق بنا يا أحبائي ونحن على مشارف سنة قبطية جديدة، أن نتأمل سوياً في معنى سنة الرب المقبولة. إنها نبوةصريحة عن السيد المسيح الذي سيرسله الأب إلى العالم لفرط حبه، ليعلن عن هذه السنة المباركة. فهكذا ذكر إشعياءالنبي قائلاً: &#8220;روح السيد الرب علي لأن الرب مسحني لأبشر المساكين أرسلني لأعصب منكسري القلب لأناديللمسبيين بالعتق وللمأسورين بالإطلاق، لأنادي بسنة مقبولة للرب&#8221; (إش ١:٦١، ٢).</p>
<p>وفي سفر اللاويين نسمع عن سنة اليوبيل &#8220;يوبيلاً تكون لكم السنة الخمسون&#8230; مقدسة تكون لكم&#8230; وتنادون بالعتق فيالأرض لجميع سكانها&#8221; (لا١١:٢٥، ۱۲، ۱۰)، هنا يظهر كيف أن السيد المسيح جاء ليعتق الذين هم في أسر إبليسوالخطية والموت. إنها سنة الغفران والسماح والبراءة للمديونين، سنة للمساكين بالروح والذين قد سقطوا تحت أنفسهممن كثرة صغر النفس وتعاظم الضعف البشري أمام قوى الموت والشيطان. ألا تتذكر معي يا قارئي العزيز تلك المرأةالتي شفاها السيد المسيح من ضعفها؟!&#8230; في هذه المعجزة نلاحظ تحقيق النبوة في أن السيد المسيح قد عتق هذهالمسكينة من عبودية وتسلط الشيطان عليها. وهكذا بقوته أطلقها من أسرها في سجن إبليس، ناظراً فيها البشرية كلهاالتي سيعتقها من وثاق الشيطان والموت.</p>
<p></p>
<p>إن الرب اليوم مازال ينادي بسنة الرب المقبولة التي فيها يبشرنا في مسكنتنا لنفرح بخلاصه. ويده ممتدة إلى قلوبناالتي كسرتها الخطية وحطمها اليأس، ليعصب ويداوي بل إن لزم الأمر فهو مستعد أن يخلق فينا قلباً جديداً نقياً يملأهالفرح والسلام والطمأنينة. إنه هو هو أمسا واليوم وإلى الأبد بقوته وغناه الذي لا يستقصي، يقدر أن يعتقنا من إدمانالخطية بأنواعها مهما طالت مدة الأسر. فمازال يعمل حتى الآن وأبوه السماوي أيضاً يعمل. &#8220;أبي يعمل حتى الآن وأناأعمل&#8221; (يو ١٧:٥). فقط علينا أن نترك له الأمر بتسليم کامل وإرادة حاضرة لا نرفض عمله فينا &#8220;لأن الله هو العامل فيكمأن تريدوا وأن تعملوا من أجل المسرة&#8221; (في ١٣:٢) ثم بعد ذلك أن نطيع وصاياه التي سيعيننا لكي نعملها.</p>
<p>هلم معاً نتعاهد أمام الله أن تكون هذه السنة الجديدة سنة مقبولة لديه. نترك أشرعة سفينة حياتنا لروحه القدوسليوجهنا بحسب إنجيله، ويوجهنا في رحلة الفكاك والعتق من التمرغ في وحل الخطايا والرعي مع الخنازير في كورةالشيطان البعيدة. فمازالت سنة الرب المقبولة فيها متسع للرجوع والتوبة مادام اليوم يدعى اليوم، ومادام الرب أعطانافرصة جديدة وسنة جديدة في عمرنا على هذه الأرض.</p>
<p>سنة الأبدية :                                                                                                                                                                     ثم ماذا يريد الرب منا أيضاً في سنة الرب؟!. إننا يا أحبائي نقرأ في بشارة معلمنامارمرقس عن السيد المسيح في بدء كرازته يقول: &#8220;قد كمل الزمان واقترب ملكوت الله. فتوبوا وأمنوا بالإنجيل&#8221; (مر١٥:١). من هذه الآية يتضح لنا أن الرب يتكلم عن زمان قد كمل، أي أنتهى وقته ليبدأ زمان آخر. إن بداية زمنالمسيح له المجد قسم الزمان إلى زمانين والعهد إلى عهدين. وأصبح ما قبل المسيح هو زمن الإنسان بسنينهوشهوره وأيامه وساعاته ودقائقه وثوانيه، بل بمحدوديته وأسره للإنسان أجيالاً وأجيال. فزمن الإنسان والموتصنوان لا يفترقان. ولعلنا نسمى ما قبل المسيح ومنذ سقوط آدم إلى تجسد الكلمة سنة الإنسان المرفوضة أوالضائعة في الهاوية. لتأتي سنة الرب المقبولة والتي ربطها السيد المسيح بالملكوت الأبدي والحياة مع الله خارجأسر الزمن. إذن فسنة الرب المقبولة هي التي يعيشها الإنسان منذ تجسد الرب وإلى الأبد. من هنا نعرف أننا إنعشنا مع الرب زماننا المحدود على الأرض، فإننا نحوله إلى زمن الرب أو سنة الرب المقبولة. فكل صلاة من القلبتدخلنا إلى زمن الرب الأبدي، وكل عطاء وكل حب للرب وللآخرين من أجله يدخلنا فورا في مجال سنة الربالمقبولة. وكل قراءة في الكتاب المقدس والتأمل في آياته والحياة بها ينقلنا من عهد قديم يملكه الزمان الحاضروالموت إلى حضرة الله الذي فيه الحياة الأبدية</p>
<p>فلنكن حكماء :                                                                                                                                                                 إن كنا قد عرفنا أننا نعيش الآن سنة الرب المقبولة، فلنستيقظ من غفلتنا وننتبه فالربينادي ويمد يده. وخلاصه معد لكل من يقبله ليفكه من الأسر وليطلقه من السجن ويحرره ويطهره ويعطيه كل ماللبنين. ولكن لنسمع هذا الإنذار &#8220;اليوم إن سمعتم صوته فلا تقسوا قلوبكم&#8221; (عب ٤: ٧)&#8230; &#8220;فلنخف أنه بقاء وعدبالدخول إلى راحته يرى أحد منكم أنه قد خاب منه&#8221; (عب ١:٤). لقد مرت علينا سنوات كثيرة ضاعت هباء وخرجتمن نطاق سنة الرب المقبولة، قد يكون لسبب عدم الإيمان، أو للجري وراء الجسد والإنسان العتيق بشهواتهالغبية، أو لمحبة المال أو الناس أكثر من الله، أو بسبب بغضة وكراهية تملكت من القلب وأنهت على كل عمل للنعمةفيه.                                                                                                                                                     ان اكتشفت يا عزيزي أي شيء من هذا في حياتك أو أي شيء آخر أخرجك من دائرة زمن الله فاسمع قولالكتاب &#8220;فانظروا كيف تسلكون بالتدقيق لا كجهلاء بل كحكماء مفتدين الوقت لأن الأيام شريرة&#8221; (اف ه: ١٥، ١٦) وافتداء الوقت هو اليقظة الحقيقية كما يوجهنا لها الروح على لسان القديس بولس الرسول منبهاً &#8220;إنها ساعةلنستيقظ من النوم. فإن خلاصنا الآن أقرب مما كان حين آمنا. قد تناهى الليل وتقارب النهار فلنخلع أعمالالظلمة ونلبس أسلحة النور. لنسلك بلياقة كما في النهار لا بالبطر والسكر لا بالمضاجع والعهر لا بالخصاموالحسد. بل ألبسوا الرب يسوع المسيح ولا تصنعوا تدبيرا للجسد لاجل الشهوات (رو ١٣: ١١-١٤)<a href="#_ftn13" name="_ftnref13">[13]</a></p>
<h4> المتنيح الدكتور موريس تاوضروس</h4>
<p>المدلول اللاهوتي والروحي لكلمة أرسلني الواردة في إنجيل القداس</p>
<p>الارسالية</p>
<p>(١) Apostellw يرسل ، تشير إلي :</p>
<p>١- يرسل للخدمة</p>
<p>أولاً : بالنسبة للأشخاص : ارساليةالمسيح (مت ١٠: ٤٠ ، ١٥: ٢٤ ، ٢١: ٣٧ ، مر ٩: ٣٧ ، ١٢: ٦ ، لو ٤: ١٨ ، ٤٣ ،٩: ٤٨ ، ١٠: ١٦ ، يو ٣: ١٧ ، ٥: ٣٦ ، ٣٨ ، ٦: ٢٩ ، ٥٧ ، ٧: ٢٩ ، ٨: ٤٢ ، ١٠: ٣٦ ، ١١: ٤٢ ، ١٧ : ٣ ، ٨ ، ١٨ ،٢١ ، ٢٣ ، ٢٥ ، ٢٠: ٢١ ،(أع ٣: ٢٠ ، ٣: ٢٦) ، (١يو ٤: ٩ ، ١٠ ، ١٤)،</p>
<p>ارسالية الروح القدس(لو ٢٤: ٤٩) ، (١بط١ : ١٢ ، رؤ ٥: ٦)، ارسالية موسى (أع٧: ٣٥)  ، يوحنا المعمدان (يو١: ٦ ،٣: ٢٨) ، ارسالية التلاميذ والرسل (مت ١٠: ١٦ ، (مر ١١: ١)، (لو ٢٢: ٨ )، (يو ٤: ٣٨ ، ١٧: ١٨)، (أع ٢٦ : ٧) ،ارسال عبيد الله (مت ٢١: ٣٤ ، لو ٢٠: ١٠) ، ارسال الخدام (مر ٦: ٢٧ ،(يو ٧: ٣٢ ، أع ١٦: ٣٥) ارسال مرسلين (أع١٠: ٨ ، ١٧ ، ٢٠ ، ١٥: ٢٧) ، ارسال الكارزين (رو ١٠: ١٥) ، ارسال الملائكة (مت ٢٤: ٣١ ، مر ١٣: ٢٧ ، لو ١: ١٩ ،عب ١: ١٤ ، رؤ١:١ ، ٢٢: ٦) ، الشياطين (مر٥: ١٠)</p>
<p>ثانياً : بالنسبة للأشياء : (مت ٢١: ٣)، (مر ٤: ٢٩) ، (أع ١٠: ٣٦ ، ١١: ٣٠ ، ٢٨: ٢٨)</p>
<p>pempw  يرسل واستعلمت عن :٢-</p>
<p>أولاً : بالنسبة للأشخاص</p>
<p>ارسالية المسيح من الآب (لو ٢٠: ١٣ ، يو٤: ٣٤ ، ٥: ٢٣ ، ٢٤ ، ٣٠ ، ٣٧ ، ٦: ٣٨ ، ٣٩ ، ٤٠ ، ٤٤ ، ٧: ١٦ ، ١٨ ،٣٣ ، ٢٤ ، ٨: ١٦ ، ١٨ ، ٢٦ ، ٢٩ ، ٩: ٤ ، ١٢: ٤٤ ، ٤٥ ، ٤٩ ، ١٣: ٢٠ ، ١٤: ٢٤ ، ١٥: ٢١ ، ١٦: ٥ ، رو ٨: ٣)</p>
<p>ارسالية الروح القدس (يو١٤: ٢٦ ، ١٥: ٢٦ ، ١٦: ٧)</p>
<p>ارسالية يوحنا المعمدان (يو ١: ٣٣)</p>
<p>ارسالية التلاميذ والرسل (مت ١١: ٢ ، (يو ٢٠: ٢١)</p>
<p>ارسالية عبيد الرب (لو ٢٠: ١١ ، ١٢ )</p>
<p>ارسالية من هم فى الخدمة (مت ١٤: ١٠)</p>
<p>ارسالية مرسلين (أع ١٠: ٥ ، ٣٢ ، ٣٣ ، ١٥: ٢٢ ، ٢٥)، (٢كو ٩: ٣)، (أف ٦: ٢٢)، (فى ٢: ١٩)</p>
<p>ارسالية من قبل أصحاب النفوذ (١بط ٢: ١٤) وهى ارسالية تتم حسب مشيئة الرب</p>
<p>ارسالية الملائكة (رؤ ٢٢: ١٦)</p>
<p>الشياطين (مر ٥: ١٢)</p>
<p>ثانياً : بالنسبة للأشياء :</p>
<p>(أع ١١: ٢٩)، (فى ٤: ١٦) ، (٢تس ٢: ١١) ، (رؤ ١: ١١ ، ١١: ١٠ ، ١٤: ١٥ ، ١٨)</p>
<p>ملحوظة</p>
<p>نلاحظ أن المسيح لم يكتسب وضعة &#8221; كأبن &#8221; بعد ارساليته ، ولكن بنوته للآب تسبق ارساليته للعالم ، كما يبدو فى قولالقديس يوحنا &#8221; خرجت من عند الآب وقد أتيت الى العالم ، وأيضاً أترك العالم وأذهب الى الآب &#8221; (يو١٦: ٢٨) ، &#8221; ونحنقد نظرنا ونشهد أن الآب قد أرسل الابن مخلصاً للعالم &#8221; (١يو ٤: ١٤)</p>
<p>Exapostwllw يرسل ، يصرف ،  واستعملت على النحو التالى :٣-</p>
<p>أ – يرسل : ارسالية الأبن بواسطة الآب (غلا ٤: ٤) ، ارسالية الروح القدس (غلا ٤: ٦)،(لو ٢٤: ٤٩) ، ارسالة الملائكة(أع ١٢: ١١) ، آباء اسرائيل (أع ٧: ١٢) ، ارسالية الرسول بولس الى الأمم (أع ٢٢: ٢١)</p>
<p>ب – يصرف &#8221; وصرف الأغنياء فارغين &#8221; (لو ١: ٥٣)</p>
<p>Anapempw ٤- يرسل ، يرد ، واستعملت كالآتى</p>
<p>أ – يرسل (الى سلطة عليا) (لو ٢٣: ٧) &#8221; أرسلة الى هيرودس &#8221; ، &#8221; لأنى أرسلتكم اليه &#8221; (لو ٢٣ : ١٥)</p>
<p>ب – يرد &#8221; ورده الى بيلاطس &#8221; (لو ٢٣: ١١) ، &#8221; الذى رددته ، فاقبله &#8221; (فل ١٢)</p>
<p>Ekpempw ٥- يرسل (أع ١٣: ٤، ١٧: ١٠)</p>
<p>Ballw ٦- يلقى  يرمى ، وترجمت فى بعض الترجمات بمعنى يرسل فى (مت ١٠: ٣٤ ) ( يرسل سلاماً)</p>
<p>Ekballw( ٧- يخرج – يرسل  وترجمت بمعنى يرسل فى (مت ٩: ٣٨) ، (مر ١: ٤٣) ،( يع ٢: ٢٥</p>
<p>apoluw ٨- يطلق ، يغفر ، وقد ترجمت بمعنى يرسل فى (مت ١٤: ١٥ ، ٢٢ ، ٢٣ )، (مر ٦: ٣٦ ، ٤٥ ، ٨: ٣ ، ٩) ، (لو٨:)</p>
<p>metapempw ٩- فى المبنى للمتوسط بمعنى : يستدعى ، يستحضر (أع ١٩: ٢٢ ، ٢٩) وفى المبنى للمجهول (أع٢٤: ٢٤ )، ٢٦ ، ٢٥ : ٣)</p>
<p>sunapostellw ١٠- يرسل مع (٢كو ١٢: ١٨)</p>
<p>sunpempw ١١- يرسل مع (٢كو ٨: ١٨ ، ٢٢)</p>
<p>aphiymi ١٢- يغفر ، واستعملت بمعنى يرسل فى (مت ١٣: ٣٦)</p>
<p><a href="#_ftn14" name="_ftnref14">[14]</a>   apotassomai ١٣-يودع – يترك  وترجمت بمعنى يرسل فى (مر٦: ٤٦)</p>
<h3>من وحي قراءات اليوم</h3>
<p>«رُوحُ الرَّبِّ عَلَيَّ، لأَنَّهُ مَسَحَنِي لأُبَشِّرَ الْمَسَاكِينَ، أَرْسَلَنِي لأَشْفِيَ الْمُنْكَسِرِي الْقُلُوبِ، &#8221; (لو ٤: ١٨)</p>
<p>+ نحن كمسيحيين ممسوحين لنبشر أي لنكون سبب فرح لكل إنسان</p>
<p>+ المرضي لاينتظرون منا أن نكشف مرضهم فقط بل أن نساعد في شفاؤهم</p>
<p>+ مكسوري القلب لايحتاجون وعاظ بل من يضمد جرحهم ويشعر بألمهم</p>
<p>+ ماأجمل أن تكون رسالة الوالدين لأولادهم رسالة تشجيع ومساندة وتعضيد</p>
<p>+ وماأصعب أن تكون علاقتنا بأولادنا فقط علاقة تبكيت ونقد وتقريع وتجريح بالكلام الصعب</p>
<p>+ ماأجمل أن يمتلئ جو الخدمة بتشجيع الكل وشفاء المجروح ومساندة الضعيف</p>
<p>+ وماأصعب أن نكون خدام فحص وخدام محاكمة</p>
<p>+ نحن نقابل يوميا عشرات المخدومين دون أن ندري أنهم مخدومين وهم ينتظرون بشارتنا وإبتسامتنا ومساندتنا</p>
<p>+ تقول الأم تريزا ليتنا لانترك من نقابله كل يوم إلا وهو فرحان</p>
<p>+ أنت ممسوح لكي تعلن رسالة سمائية لكل من تقابله</p>
<p><a href="#_ftnref1" name="_ftn1"></a>١- القديس يوحنا ذهبي الفم - تفسير مزمور ٧ - القمص تادرس يعقوب ملطي</p>
<p><a href="#_ftnref2" name="_ftn2"></a>٢-( كتاب السنة الكنسية القبطية - ص ١٧ - للعلامة يسي عبد المسيح - إصدار الأغنسطس نبيل فاروق فايز)</p>
<p><a href="#_ftnref3" name="_ftn3"></a>٣- ( كتاب السنة الكنسية القبطية ص ١٦ - العلَّامة يسي عبد المسيح)</p>
<p><a href="#_ftnref4" name="_ftn4"></a>٤- كتاب الكاهن وعظة الأحد - القس بولس ميلاد يوسف</p>
<p><a href="#_ftnref5" name="_ftn5"></a>٥- المرجع : تفسير إنجيل لوقا ( الإصحاح الرابع ) - القمص تادرس يعقوب ملطي</p>
<p><a href="#_ftnref6" name="_ftn6"></a>٦- كتاب عظات القديس مقاريوس الكبير - العظة السابعة عشر صفحة ١٠٩ - ترجمة دكتور نصحي عبدالشهيد</p>
<p><a href="#_ftnref7" name="_ftn7"></a>٧- المرجع : تفسير سفر زكريا (الإصحاح الثامن ) - القمص تادرس يعقوب ملطي</p>
<p><a href="#_ftnref8" name="_ftn8"></a>٨- المرجع : مجلة مدارس الأحد عدد سبتمبر ١٩٦٥ ( صفحة ١٢ - ١٦ ، صفحة ٧٢ )</p>
<p><a href="#_ftnref9" name="_ftn9"></a>٩- المرجع : مجلة مدارس الأحد - عدد شهر سبتمبر لسنة ١٩٦٩</p>
<p><a href="#_ftnref10" name="_ftn10"></a>١٠- المرجع : كتاب شفتاك يا عروس تقطران شهداً ( الجزء الخامس صفحة ١١٨ ) - إصدار دير الأنبا شنودة العامر بإيبارشية ميلانو</p>
<p><a href="#_ftnref11" name="_ftn11"></a>١١- المرجع : مجلة مدارس الأحد - عدد سبتمبر لسنة ١٩٤٧</p>
<p><a href="#_ftnref12" name="_ftn12"></a>١٢- المرجع : كتاب كنوز النعمة لمعونة خدام الكلمة ( الجزء الأول صفحة ١٢٨) - الأرشيدياكون بانوب عبده</p>
<p><a href="#_ftnref13" name="_ftn13"></a>١٣- المرجع : مجلة مدارس الاحد سبتمبر ٢٠١٣</p>
<p>( عن رسالة كنيسة مارجرجس والقديس مرقوريوس - سانت كاترين - كندا )</p>
<p><a href="#_ftnref14" name="_ftn14"></a>١٤- المرجع : كتاب دراسات لاهوتية ولغوية في كتاب العهد الجديد ( الجزء الثاني صفحة ٥٨ ) - دكتور موريس تاوضروس أستاذ العهد الجديد بالكلية الإكليريكية</p>

      {% endcreateArticleAccordions %}
    </section>
  {% endblock %}
  