---
layout: 'layouts/reading.html'
title: 'يوم الأثنين من البصخة المقدسة'
tags: 'special'
permalink: /articles/special/5.html
---
  {% block content %}
    <section id="readings">
      <ul>
      {% if '[object Object],[object Object],[object Object],[object Object],[object Object]' != 'undefined' %}
      
    <li class="mb-2" x-data="{selected:false}">
  <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
    <div class="flex items-center justify-between">
      <span class="kufi">الساعة الأولى</span>
      <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
    </div>
  </button>
  <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
    <div class="p-4">
    {% makeHour '19.72:18-19' '41.11:12-24' '1.1:1-2:3' '23.5:1-9' '73.1:1-19' %}
    </div>
  </div>
</li>
    <li class="mb-2" x-data="{selected:false}">
  <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
    <div class="flex items-center justify-between">
      <span class="kufi">الساعة الثالثة</span>
      <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
    </div>
  </button>
  <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
    <div class="p-4">
    {% makeHour '19.122:1-2' '41.11:11-19' '23.5:20-30' '24.9:12-19' '' %}
    </div>
  </div>
</li>
    <li class="mb-2" x-data="{selected:false}">
  <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
    <div class="flex items-center justify-between">
      <span class="kufi">الساعة السادسة</span>
      <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
    </div>
  </button>
  <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
    <div class="p-4">
    {% makeHour '19.122:4' '43.2:13-17' '2.32:7-15' '72.1:1-9' '' %}
    </div>
  </div>
</li>
    <li class="mb-2" x-data="{selected:false}">
  <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
    <div class="flex items-center justify-between">
      <span class="kufi">الساعة التاسعة</span>
      <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
    </div>
  </button>
  <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
    <div class="p-4">
    {% makeHour '19.65:5,4' '40.21:23-27' '1.2:15-3:24' '23.40:1-5' '20.1:1-9' %}
    </div>
  </div>
</li>
    <li class="mb-2" x-data="{selected:false}">
  <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
    <div class="flex items-center justify-between">
      <span class="kufi">الساعة الحادية عشر</span>
      <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
    </div>
  </button>
  <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
    <div class="p-4">
    {% makeHour '19.13:3-4' '43.8:51-59' '23.50:1-3' '73.1:20-30' '' %}
    </div>
  </div>
</li>
      <li class="mb-2" x-data="{selected:false}">
    <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
      <div class="flex items-center justify-between">
        <span class="kufi">الساعة الأولى عشية</span>
        <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
      </div>
    </button>
    <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
      <div class="p-4">
      {% makeHour '19.62:7,6' '42.13:23-30' '38.1:1-6' '' '' %}
      </div>
    </div>
  </li>
      <li class="mb-2" x-data="{selected:false}">
    <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
      <div class="flex items-center justify-between">
        <span class="kufi">الساعة الثالثة عشية</span>
        <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
      </div>
    </button>
    <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
      <div class="p-4">
      {% makeHour '19.122:1-2' '41.11:11-19' '23.5:20-30' '24.9:12-19' '' %}
      </div>
    </div>
  </li>
      <li class="mb-2" x-data="{selected:false}">
    <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
      <div class="flex items-center justify-between">
        <span class="kufi">الساعة السادسة عشية</span>
        <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
      </div>
    </button>
    <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
      <div class="p-4">
      {% makeHour '19.91:2,3' '42.21:34-38' '28.4:15-5:7' '' '' %}
      </div>
    </div>
  </li>
      <li class="mb-2" x-data="{selected:false}">
    <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
      <div class="flex items-center justify-between">
        <span class="kufi">الساعة التاسعة عشية</span>
        <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
      </div>
    </button>
    <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
      <div class="p-4">
      {% makeHour '19.33:10,11' '42.11:37-52' '28.10:12-11:2' '' '' %}
      </div>
    </div>
  </li>
      <li class="mb-2" x-data="{selected:false}">
    <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
      <div class="flex items-center justify-between">
        <span class="kufi">الساعة الحادية عشر عشية</span>
        <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
      </div>
    </button>
    <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
      <div class="p-4">
      {% makeHour '19.122:4' '41.13:32-37' '30.5:6-14' '' '' %}
      </div>
    </div>
  </li>
      {% else %}
      {% if 'undefined' != 'null' %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">العشية</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeVespers '' '' %}
          </div>
        </div>
      </li>
      {% endif %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">باكر</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeMatins 'undefined' 'undefined' '' %}
          </div>
        </div>
      </li>
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <h3 class="flex items-center justify-between">
            <span class="kufi">القداس</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </h3>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeLitugy 'undefined' 'undefined' 'undefined' 'undefined' 'undefined' %}
          </div>
        </div>
      </li>

      {% endif %}
        </ul>
    </section>
    <section id="article">
      <h3 class="mt-8 mb-4 heading-explain">شرح القراءات</h3>
      {% createArticleAccordions %}
        <p>&#8220;أليس هكذا بيتي عند الله؟ لأنه وضع لي عهدًا أبديًا متقنًا في كل شيء ومحفوظًا، أفلا يثبت كل خلاصي وكل مسرتي&#8221; (٢صم ٢٣ : ٥).</p>
<p>[فمضى داود المرتل وأخذ قيثارته الروحانية ومضى إلى الكنيسة بيت الملائكة]<a href="#_ftn1" name="_ftnref1">[1]</a>.</p>
<p>[يدخل يسوع كل يوم إلى هيكل أبيه ويطرد من كنيسته في كل العالم أساقفة وكهنة وشمامسة وشعبًا موجِّهًا إليهم ذات الاتهام، أنهم يبيعون ويشترون. وما أقوله عن الكنائس يطبِّقه كل واحد على نفسه، إذ يقول الرسول: &#8220;أنتم هياكل الله وروح الله ساكن فيكم&#8221;. ليخُل بيت قلبنا من كل تجارة ومقر للبائعين والمشترين ومن كل رغبة للحصول على هدايا، لئلا يدخل الرب ثائرًا ويُطهّر هيكله بلا تراخٍ بطريقة أخرى غير السوط، فيُقيم من مغارة اللصوص وبيت التجارة بيتًا للصلاة] (القديس جيروم)<a href="#_ftn2" name="_ftnref2">[2]</a></p>
<h3><span class="ez-toc-section" id="%D8%B4%D8%B1%D8%AD_%D8%A7%D9%84%D9%82%D8%B1%D8%A7%D8%A1%D8%A7%D8%AA"></span>شرح القراءات<span class="ez-toc-section-end"></span></h3>
<p>تدور قراءات هذا اليوم على تدبير الله وإرادته الخلاصية للبشر، والتي أعلنها الصليب، فأظهر كيف أحب الله العالم حتي بذل ابنه الوحيد، لكي لا يهلك كل من يؤمن به بل تكون له الحياة الأبديّة، وكيف أسَّس هيكل العهد الجديد كنيسته المُقدَّسة التي صارت أعضاؤها من كل قبيلة ولسان وشعب وأمة (رؤ٥: ٩).</p>
<p>لذلك تتكلّم قراءات اليوم عن:</p>
<ul>
<li>تدبير الله في خلقته للإنسان، والمجد الذي أعطاه له.</li>
<li>والسلطان الذي كان للإنسان على الخليقة كلها، وكيف فقد الإنسان بسقوطه كرامته ومجده وسلطانه (نبوّات الساعة الأولي والتاسعة).</li>
<li>وعاد الله ليُعطي شعبه مجد كلمته على الجبل مع موسى النبي، ولكن زاغ الشعب وانحرف إلى عبادة العجل (نبوّة الساعة السادسة).</li>
<li>وتُعْلِن القراءات سبب السقوط أنهم رذلوا شريعته ورفضوا إرادته الخلاصية (نبوّة الساعة الثالثة).</li>
<li>بالرغم من قدرة الله الخلاصية لكل البشر (نبوّة الساعة الحادية عشر).</li>
<li>وكيف أوجد الله مسكنه المقدس ليس فقط لشعبه، ولكن أيضاً لكل الأمم (إنجيل الساعة الأولى والثالثة).</li>
<li>ولكي يكون سبب فرح وتسبيح ومجد (مزمور الساعة الثالثة والسادسة).</li>
<li>ولكي يلتقوا فيه بمحبة الآب (انجيل الساعة السادسة).</li>
<li>وهذا هو هدف سلطانه الذي لم يفهموه (انجيل الساعة السادسة).</li>
<li>وتدبيره منذ البدء مع الآباء (انجيل الساعة الحادية عشر).</li>
<li>الساعة الأولى من يوم الأثنين</li>
</ul>
<p></p>
<h4><span class="ez-toc-section" id="%D8%A7%D9%84%D9%86%D8%A8%D9%88%D8%A7%D8%AA"></span>النبوات:<span class="ez-toc-section-end"></span></h4>
<p><strong>النبوَّة الأولي</strong> (تك ١: ١- ٢: ١-٣)</p>
<p>تبدأ القراءات في هذه الساعة بقصة الخليقة والبدايات الأولى، وتدبير الله في خلقة الإنسان وعِظَمْ المجد الذي أعطاه له، والسلطان الذي صار له على الخليقة كلها، وكيف أوجد الله أولاً كل شيء حسناً ثم تَوَّج هذا كله بالإنسان صورة الله.</p>
<p>[إن الله أعطى الانسان من ظل الكلمة وأن يكون عاقلاً لكي يحيا حياة القديسين في الفردوس وأعطاه وصية لكي يحفظ النعمة المعطاة له] (القديس أثناسيوس الرسولي)<a href="#_ftn3" name="_ftnref3">[3]</a>.</p>
<p>فما أجمل قول الكتاب بعد إتمام كل شيء أن الله رَآه حسن جداً:</p>
<p>&#8220;وقال الله لنخلق إنساناً على صورتنا كمثالنا وليتسلط على سمك البحر وطير السماء والبهائم وعلى جميع الأرض.. فخلق الله الإنسان على صورته على صورة الله خلقه ذكراً وأنثى خلقهم.. ورأى الله جميع ما خلقه فإذا هو حسن جداً&#8221;.</p>
<p>يقول العلامة أوريجانوس [إن الآية الأولى &#8220;في البدء خلق الله &#8230;&#8221; لا تخص الزمن بل المسيح له المجد، من هو بدء كل شيء إلاَّ ربنا ومخلص جميع الناس (١تي ٤:١٠) يسوع المسيح، &#8220;بكر كل الخليقة&#8221; (كو ١: ١٥)؟ ففي هذا البدء، أي في كلمته &#8220;خلق الله السموات والأرض&#8221;، وكما يقول الإنجيلي يوحنا في بداية إنجيله: &#8220;في البدء كان الكلمة، والكلمة كان عند الله، وكان الكلمة الله، هذا كان في البدء عند الله، كل شيء به كان وبغيره لم يكن شيء مما كان&#8221; (يو ١: ١- ٣). فالكتاب لا يتحدث عن بداية زمنية، إنما عن هذه البداية التي هي المخلص، إذ به صُنعت السموات والأرض]<a href="#_ftn4" name="_ftnref4">[4]</a></p>
<p>ويقول كثير من الآباء الأوَّلين أن الصورة التي خُلِقَ عليها الإنسان هو مثال الجسد الذي أخذه الكلمة، وحسب تعبير القديس إكليمندس السكندري [إن صورة الله هنا هي صورة الصورة(image of the image) ] <a href="#_ftn5" name="_ftnref5">[5]</a></p>
<p>لذلك لا نتعجَّب كثيراً من مجيء قصة خلق العالم والإنسان في قراءات اليوم، لأن الكلمة (اللوغوس) هو الذي خلق العالم، وهو الذي جدَّد طبيعته بموته وقيامته، أي أعاد خِلْقَته فصار خليقة جديدة في المسيح (٢كو ٥: ١٧).</p>
<p>وفي عظة منسوبة للقديس باخوميوس أب الشركة يدعو فيها أيام البصخة مثل أيام خلقة العالم الستة، والتي اكتملت بخلقة الإنسان الأول، ودخلت البشرية الراحة في اليوم السابع (العبور من الجحيم إلى الفردوس):</p>
<p>[فلنجاهد، يا أحبائي، خلال أيام البصخة هذه، التي أعطيت لنا كل سنة من أجل فداء نفوسنا حتى نقضيها في عمل الله. لأنه في ستة أيام، منذ بدء خلقة السماء والأرض، كان الله يعمل في خلقته إلى أن أكملها. وفي اليوم السابع استراح من جميع عمله]<a href="#_ftn6" name="_ftnref6">[6]</a></p>
<p><strong>النبوَّة الثانية</strong> (إش ٥: ١-٩)</p>
<p>وتشرح النبوَّة هنا كمال تدبير الله لكنيسته في العهد القديم - الغرس الجديد المحبوب - وكمال رعايته لشعبه، وكيف أوجد لهم كل شيء حسناً، وانتظر الحق والعدل والرحمة فلم يجد إلَّا الظلم والإثم:</p>
<p>&#8220;كان للحبيب كرم في رابية في موضع خصب فأحطت به سياجاً ودفعته على القصب وغرست كرماً في سورق وبنيت فيه برجاً في وسطه وحفرت فيه معصرة وانتظرت أن يخرج عنباً فأخرج شوكاً والآن يا رجال يهوذا وسكّان أورشليم أحكموا بيني وبين كرمي&#8221;.</p>
<p><strong>النبوَّة الثالثة</strong> (يشوع بن سيراخ ١: ١- ٢٤)</p>
<p>وتأتي حكمة يشوع بن سيراخ لتتكلم عن ابن الله الكلمة الحكمة الأزلي، والذي أفاض على البشرية من حكمته وأدرك ذلك خائفيه ومُحبِّيه:</p>
<p>&#8220;واحد هو حكيم عظيم المهابة جالس على عرشه الرب هو الذي حازها ورآها وأحصاها وأفاضها على جميع أعمالها فهي على كل ذي جسد على حسب عطيته وقد منحها لمحبيه &#8230; تاج الحكمة مخافة الرب وهي تنشئ زهرة ونعمة الشفاء قد رآها وأحصاها وأفاض الفهم والمعرفة ورفع مجد المتمسك بها&#8221;.</p>
<h3></h3>
<h4><span class="ez-toc-section" id="%D8%A7%D9%84%D9%85%D8%B2%D9%85%D9%88%D8%B1_%D9%A7%D9%A1_%D9%A1%D9%A8_%D8%A3%D9%88_%D9%A7%D9%A2_%D9%81%D9%8A_%D8%A7%D9%84%D8%A3%D8%AC%D8%A8%D9%8A%D8%A9"></span>المزمور (٧١: ١٨ أو ٧٢ في الأجبية)<span class="ez-toc-section-end"></span></h4>
<p>&#8220;مبارك الرب إله إسرائيل الصانع العجائب وحده مبارك اسم مجده القدّوس إلى الأبد يكون ثم يكون&#8221;.</p>
<p>وكما يقول أبونا تادرس يعقوب ملطي عن هذا المزمور الذي يتضح فيه إعلان ملكوت الله وسُكناه وسط شعبه:</p>
<p>[يعتبر هذا المزمور خاتمة القسم الثاني من سفر المزامير الذي يطابق سفر الخروج (مز ٤٢- ٧٢) والتي تتحدث عن الخلاص كحياة كنسية جماعية. وجاء هذا المزمور الختامي يطابق ما ورد في نهاية سفر الخروج (٢٥- ٤٠) حيث يعلن عن إقامة خيمة الاجتماع وظهور مجد الله علانية فيها كقصرٍ للملك السماوي، يريد أن يسكن وسط شعبه.</p>
<p>وهو أيضاً مزمور الله الملك الذي يفدي شعبه ويخلصهم:</p>
<p>يقضي لمساكين الشعب. يخلص بني البائسين، ويسحق الظالم &#8230; ويسجد له كل الملوك. كل الأمم تتعبد له لأنه ينجي الفقير المستغيث، والمسكين إذ لا معين له يشفق على المسكين والبائس، ويخلص أنفس الفقراء من الظلم والخطف يفدي أنفسهم، ويكرم دمهم في عينيه&#8221; (آيات٤، ١١-١٤)]<a href="#_ftn7" name="_ftnref7">[7]</a>.</p>
<p>أي أن هذه الآية هي ختام مزمور خلاص الله لشعبه، وختام مجموعة مزامير خلاص الله في الكنيسة، وهو غاية تدبيره من كنيسته وبيته المُقدَّس التي هي موضوع إنجيل الساعة.</p>
<p><strong>الرابط بين المزمور والإنجيل</strong> (القمص لوقا سيداروس)<a href="#_ftn8" name="_ftnref8">[8]</a></p>
<p><strong>مبارك الرب إله إسرائيل</strong> &#8230;</p>
<p>يقول بعض الآباء إن التينة التي لعنها الرب في هذا الصباح تشير إلى إسرائيل الذى لم يصنع ثمراً.</p>
<p>فالمزمور يشير إلى الرب يسوع (إله إسرائيل) الذى صنع هذه الأعجوبة بإسرائيل إذ قطع بعض الأغصان (رو ١١) لعدم الإيمان فيبست في الحال.</p>
<p><strong>الصانع العجائب وحده</strong> &#8230;</p>
<p>يتنبأ المزمور في باكر النهار عن صانع العجائب وحده وباركه وهذه الأعجوبة التي صنعها يسوع في التينة غير المثمرة تجعلنا نتأمل: إن يسوع جاع إلى الثمر في التينة، وجاء إليها يطلب ثمراً، إنه في كل صباح يقترب إلى كل نفس جائعاً إلى ثمرة الروح .. اصنعوا أثماراً تليق بالتوبة. إنه يقول كل غصن في لا يأتي بثمر ينزعه وكل ما يأتي بثمر ينقيه ليأتي بثمر أكثر.</p>
<p>اقترب في هذا الصباح إلى الذين في الهيكل فلم يجد ثمراً فأخرجهم خارجاً.</p>
<p>هذه التينة الملعونة كم جذبت إليها من نفوس جائعة، ولكنها لم يكن فيها شبع، فكشف الرب لأولاده (التلاميذ) خداعها فلا يعود يأكل منها أحد ثمراً إلى الأبد. كي لا ينخدع بها أحد من أولاد الرب بعد.</p>
<p><strong>مبارك اسم مجده القدوس</strong> &#8230;</p>
<p>مبارك الرب إله إسرائيل الذى لا تحتمل قداسته أن يصير الهيكل مغارة لصوص فهو يقدس هيكله وينقي بيدره.</p>
<p></p>
<h4><span class="ez-toc-section" id="%D8%A7%D9%84%D8%A5%D9%86%D8%AC%D9%8A%D9%84_%D9%85%D8%B1_%D9%A1%D9%A1_%D9%A1%D9%A2-%D9%A2%D9%A4"></span>الإنجيل (مر ١١: ١٢-٢٤)<span class="ez-toc-section-end"></span></h4>
<p>تتكلَّم قراءات هذه الساعة عن شجرة التين الطبيعية، وشجرة التين الروحية، وكلاهما للأسف انتهيا باللعن.</p>
<p>فتبدأ القراءة بشجرة التين الطبيعية والتي في العادة تأتي ثمارها قبل أو مع أوراقها؟!!، ولكنها للأسف هنا أظهرت أوراقاً كثيرة دون أي ثمر.</p>
<p>وأيضاً الشجرة الروحية بيته المُقَدَّس والذي كان فيه أوراق كثيرة من التبني والمجد والعهود والإشتراع والعبادة والمواعيد (رو ٤:٩) ولكن دون ثمر من معرفة الله ومخافته بل وصار بيت تجارة وغش وظلم أقرب إلى مغارة لصوص.</p>
<p>&#8220;وفِي الغد لما خرجوا من بيت عنيا جاع فرأى شجرة تين عن بُعْد وكان عليها ورق، فجاء إليها لعله يجد فيها شيئاً، فلما جاء إليها لم يجد شيئاً إلَّا ورقاً لأنه لم يكن وقت التين - وأيضاً ليس وقت الورق - فأجاب يسوع وقال لها لا يأكل أحد منك ثمرة بعد إلى الأبد &#8230;. ولما دخل يسوع الهيكل ابتدأ يخرج الذين كانوا يبيعون ويشترون في الهيكل وقلب موائد الصيارفة وكراسي باعة الحمام ولم يدع أحداً يجتاز الهيكل بمتاع وكان يُعلِّم قائلاً لهم أليس مكتوبًا أن بيتي بيت الصلاة يُدعى لجميع الأمم وأنتم جعلتموه مغارة للصوص&#8221;.</p>
<p></p>
<p></p>
<h3><span class="ez-toc-section" id="%D8%A7%D9%84%D8%B3%D8%A7%D8%B9%D8%A9_%D8%A7%D9%84%D8%AB%D8%A7%D9%84%D8%AB%D8%A9_%D9%85%D9%86_%D9%8A%D9%88%D9%85_%D8%A7%D9%84%D8%A3%D8%AB%D9%86%D9%8A%D9%86"></span>الساعة الثالثة من يوم الأثنين<span class="ez-toc-section-end"></span></h3>
<p>وتأتي قراءات هذه الساعة لتُعلن سبب اللعن والدينونة:</p>
<p>الاستهانة بكلمة الله ومُقدساته وعبادته،</p>
<p>وعدم قبول إرادته الخلاصية،</p>
<p>كما تُعْلِن سلطانه في التأديب والتنقية.</p>
<h4></h4>
<h4><span class="ez-toc-section" id="%D8%A7%D9%84%D9%86%D8%A8%D9%88%D9%91%D9%8E%D8%A7%D8%AA"></span>النبوَّات<span class="ez-toc-section-end"></span></h4>
<p><strong>النبوة الأولي</strong> (إش ٥: ٢٠- الخ)</p>
<p>تُحذِّر هذه النبوَّة من الظلم ومن الاستهانة بكلمة الله ووصيته:</p>
<p>&#8220;ويل للقائلين للخير شراً&#8230; الذين يبررون المنافق لأجل الرشوة، وينزعون حق البار &#8230; لأنهم رذلوا الله شريعة رب الجنود واستهانوا بكلمة قدوس إسرائيل فحمي غضب رب الصباؤوت على شعبه&#8221;.</p>
<p><strong>النبوة الثانية</strong> (إر ٩: ١٢-١٩)</p>
<p>وتؤكد النبوَّة هنا على نفس المعنى:</p>
<p>&#8220;لماذا هلكت الأرض واحترقت &#8230; لأنهم تَرَكُوا ناموسي عنهم الذي جعلته أمامهم ولم يسمعوا لصوتي&#8221;.</p>
<p>ويدعوهم الرب للتوبة فينجون من الموت والهلاك:</p>
<p>&#8220;وأرسلوا إلى الحكيمات ليفتحن أفواههن بالكلام لينشدن عليكم نوحاً ولتكب عيونكم دموعاً ولتفض أجفانكم ماء لأنه قد سمع صوت النوح في صهيون&#8221;.</p>
<p>والعجيب أن هذا الإصحاح يُبكِّت فيه الرب إسرائيل على رفضه سُكنى الله وحضوره الإلهي فصار مسكنهم في طُرق العالم &#8220;مسكنك في وسط المكر&#8221; (إر ٦:٩).</p>
<p></p>
<h4><span class="ez-toc-section" id="%D8%A7%D9%84%D9%85%D8%B2%D9%85%D9%88%D8%B1_%D9%85%D8%B2_%D9%A1%D9%A2%D9%A1_%D9%A2%D8%8C%D9%A1"></span>المزمور (مز ١٢١: ٢،١)<span class="ez-toc-section-end"></span></h4>
<p>&#8220;فرحت بالقائلين لي إلى بيت الرب نذهب وقفت أرجلنا في ديار أورشليم&#8221;.</p>
<p>كان يترنَّم بهذا المزمور القادمين إلى أورشليم من كل العالم حنيناً وشوقاً إلى بيت الله ومسكنه المُقدَّس، وكما يقول أحد الآباء القديسين: إن قطاعاً كبيراً من الشعب قبل السبي كان يستهين بالعبادة والذبائح إلى أن حدث السبي، وحُرِموا سنين عديدة من الهيكل، ولما عادوا من السبي كم كانت فرحتهم وكم كان شوقهم للهيكل:</p>
<p>[كان جمع كبير من العبرانيين قبل سبيهم يزدرون بالهيكل حتى صاروا يقدمون ذبائح للأوثان على الجبال والتلال. ولكن بعد أن كابدوا الأحزان والشدائد تزايد شوقهم نحو هيكل الله. ولما بشروهم بالعتق من رق العبودية والانطلاق إلى أورشليم فرحوا فرحًا عظيمًا، وصاروا يخبرون بعضهم بعضًا، قائلين: &#8220;<strong>إلى بيت الرب نذهب</strong>&#8220;. هذا هو الربح الحاصل من الأحزان.] [الأب أنثيموس (أنسيمُس) الأورشليمي]<a href="#_ftn9" name="_ftnref9">[9]</a></p>
<p><strong>الرابط بين المزمور والإنجيل</strong> (القمص لوقا سيداروس)<a href="#_ftn10" name="_ftnref10">[10]</a></p>
<p><strong>فرحت بالقائلين لي إلى بيت الرب نذهب</strong>&#8230;</p>
<p>على أننا نرى أن عين النبوة تتجاوز تلك الحوادث الزمنية. وتدخل بنا دخولاً حقيقياً إلى دخول المسيح في هذه الساعة إلى الهيكل مع التلاميذ.</p>
<p>فإذا كان هناك فرح بالرجوع من السبي ودخول الهيكل فكم يكون فرح الخليقة كلها بالرجوع إلى الله تتراءى في الهيكل ومع المسيح؟.</p>
<p><strong>وقفت أرجلنا في ديار أورشليم</strong>&#8230;</p>
<p>وكم يكون الفرح غامراً ليس ببناء هيكل مادي، ولكن بالأكثر كثيراً هياكل روحية لسكنى الله.</p>
<p>وإن كان نحميا في أيام السبي نقى أورشليم من العبادات القديمة، فالرب يسوع نقى الهيكل من كل أصوات العالم، صوت الفضة ومحبة المال، صوت كبرياء رؤساء الكهنة، وصوت التجارة (باعة الحمام).</p>
<p>في طريق الصاعدين إلى الهيكل للعبادة &#8230; لعن الرب الرياء (التينة) لأنه يشكل أعظم خطر على السالكين في حياة الصلاة والتعبد.</p>
<p></p>
<h4><span class="ez-toc-section" id="%D8%A7%D9%84%D8%A5%D9%86%D8%AC%D9%8A%D9%84_%D9%85%D8%B1_%D9%A1%D9%A1_%D9%A1%D9%A2-%D9%A2%D9%A4-2"></span>الإنجيل (مر ١١: ١٢-٢٤)<span class="ez-toc-section-end"></span></h4>
<p>ويأتي إنجيل هذه الساعة من نفس إنجيل الساعة الأولى (مر ١١: ١٢-٢٤)</p>
<p>وإن كان في الساعة الأولى أكمل الحديث بما حدث في الصباح عندما نظر التلاميذ التينة قد يبست وتذكَّر بطرس قول الرب عن التينة وأعلن الرب لهم عِظَم الإيمان الذي ينقل الجبال.</p>
<p></p>
<h3><span class="ez-toc-section" id="%D8%A7%D9%84%D8%B3%D8%A7%D8%B9%D8%A9_%D8%A7%D9%84%D8%B3%D8%A7%D8%AF%D8%B3%D8%A9_%D9%85%D9%86_%D9%8A%D9%88%D9%85_%D8%A7%D9%84%D8%A3%D8%AB%D9%86%D9%8A%D9%86"></span>الساعة السادسة من يوم الأثنين<span class="ez-toc-section-end"></span></h3>
<p>تشرح قراءات هذه الساعة تطهير الهيكل الحجري والهيكل البشري.</p>
<h4></h4>
<h4><span class="ez-toc-section" id="%D8%A7%D9%84%D9%86%D8%A8%D9%88%D9%91%D9%8E%D8%A7%D8%AA-2"></span>النبوَّات<span class="ez-toc-section-end"></span></h4>
<p><strong>النبوَّة الأولي</strong> (خر ٣٢ : ٧-١٥)</p>
<p>يظهر فساد الهيكل البشري الذي هو شعب الله عندما تأخر عليه موسى النبي في النزول وصنعوا لأنفسهم عجلاً من الذهب وكان سبب الغضب الإلهي عليهم:</p>
<p>&#8220;وكلم الرب موسى قائلاً : امض مسرعاً من ههنا وأنزل لأنه قد أثم شعبك الذي أخرجته من أرض مصر وقد زاغوا سريعاً عن الطريق الذي أوصيتهم به وصنعوا لهم عجلاً مسبوكاً&#8221;.</p>
<p>كما تُظهر القراءات شفاعة موسى النبي عن كل الشعب كرمز لشفاعة دم ابن الله في العهد الجديد عن كنيسته أمام الله الآب:</p>
<p>&#8220;فتضرع موسي أمام الرب الإله قائلاً: لماذا يا رب يشتد غضبك على شعبك الذي أخرجته من أرض مصر بقوتك العظيمة&#8230; فصفح الرب عن شر شعبه ثم رجع موسى ونزل من الجبل ولوحا الشهادة في يده&#8221;.</p>
<p>ويحلو للقديس أغسطينوس أن يُشبِّه موسى النبي هنا بحنان الأم واستعدادها للتضحية بنفسها لأجل نجاة أولادها.<a href="#_ftn11" name="_ftnref11">[11]</a></p>
<p>كما يرى القدّيس إفرام السرياني أن كلمة الرب لموسى &#8220;اتركني ليحمى غضبي عليهم&#8221; وكأنّه يقول له: لا تتركني ليحمى غضبي، وهي كلمة تكشف عن عمق دالة موسى النبي عند الله.<sup>157</sup></p>
<p><strong>النبوَّة الثانية</strong> (حكمة سليمان 1: 1-9)</p>
<p>يرسم طريق تنقية هياكلنا البشرية أي قلوبنا في:</p>
<p>محبة العدل.</p>
<p>حياة الصلاح.</p>
<p>بساطة القلب في الصلاة.</p>
<p>مقاومة الفكر الشرير.</p>
<p>الابتعاد عن الغش والظلم.</p>
<p>الحرص والحذر من التجديف.</p>
<p>&#8220;أحبوا العدل يا قضاة الأرض أذكروا الرب بالصلاح &#8230; لأن روح الحكمة محب للبشر فلا يبرئ المجدف بشفتيه لأن شاهد كليتاه هو الله وهو الفاحص الحقيقي لقلبه والسامع للسانه لأن روح الرب ملأ المسكونة وبقية الكل وهو يعرف أصواتهم&#8221;.</p>
<p></p>
<h4><span class="ez-toc-section" id="%D8%A7%D9%84%D9%85%D8%B2%D9%85%D9%88%D8%B1_%D9%85%D8%B2_%D9%A1%D9%A2%D9%A1_4"></span>المزمور (مز ١٢١: 4)<span class="ez-toc-section-end"></span></h4>
<p>نرى هنا كيف يكون مجد الهيكل البشري والحجري في صلاة الجميع وصعودهم إلى الهيكل بنفس واحدة وروح التسبيح والاعتراف للرب.</p>
<p>لأن كلمة قبائل هنا في ترجمة أخرى هي أسباط.</p>
<p>&#8220;لأن هناك صعدت القبائل قبائل الرب. صعدت الأسباط أسباط الرب. شهادة لإسرائيل يعترفون لاسم الرب&#8221;.</p>
<p><strong>الرابط بين المزمور والإنجيل</strong> (القمص لوقا سيداروس)<a href="#_ftn12" name="_ftnref12">[12]</a></p>
<p><strong>لأن هناك صعدت القبائل</strong> &#8230;</p>
<p>الرب صعد إلى الهيكل وبرفقته قبائل الرب أعني الرسل الأطهار ليعيدوا للرب يسوع عيداً حقيقياً &#8230; ويشهدوا له أنه الفصح الحقيقي الذي ذبح لأجلنا.</p>
<p>وصعود الرسل إلى الهيكل شهادة لإسرائيل فهم شهود المسيح .. شهود عجائبه وآياته وآلامه وشهود موته وقيامته، وهم أيضاً يشهدون على جحود رؤساء الكهنة والكتبة وهم أيضاً يجلسون على اثني عشر كرسياً ويدينون أسباط إسرائيل الإثنى عشر .</p>
<p>وطريق الشهادة للرب والاعتراف باسمه يتضمن:</p>
<p>تبعية الرب الصاعد إلى اورشليم .</p>
<p>تنقية القلب (الهيكل) من كل الأمور العالمية والارتباكات.</p>
<p>الغيرة المقدسة في العبادة.</p>
<p></p>
<h4><span class="ez-toc-section" id="%D8%A7%D9%84%D8%A5%D9%86%D8%AC%D9%8A%D9%84_%D9%8A%D9%88_%D9%A2_%D9%A1%D9%A3-_%D9%A1%D9%A7"></span>الإنجيل (يو ٢: ١٣- ١٧)<span class="ez-toc-section-end"></span></h4>
<p>ويُخْتَم بالإنجيل الذي يَغِير فيه ابن الله على بيت أبيه الذي تحوَّل إلى تجارة:</p>
<p>&#8220;وصعد يسوع إلى أورشليم فوجد في الهيكل باعة البقر والغنم والحمام.. فصنع مخصرة من حبال وطرد الجميع من الهيكل .. وقال لباعة الحمام: ارفعوا هذه من ههنا ولا تصيّروا بيت أبي بيت تجارة فتذكر تلاميذه أنه مكتوب غيرة بيتك أكلتني&#8221;.</p>
<p>والعجيب تكرار الصعود بين النبوَّة الأولى والمزمور والإنجيل:</p>
<p>موسى النبي في صعوده على الجبل وحواره مع الله.</p>
<p>وصعود القبائل أو الأسباط لبيت الله.</p>
<p>وصعود الرب يسوع إلى أورشليم.</p>
<p>وهذه هي رحلة هذه الساعة، الصعود الدائم إلى فوق، لكل نفس، وللكنيسة المُقدَّسة مُجتمعة بفكر وروح واحد لتسبيح الرب وتمجيده بقلوب نقية بسيطة كما جاء في النبوَّة الثانية.</p>
<p></p>
<p></p>
<h3><span class="ez-toc-section" id="%D8%A7%D9%84%D8%B3%D8%A7%D8%B9%D8%A9_%D8%A7%D9%84%D8%AA%D8%A7%D8%B3%D8%B9%D8%A9_%D9%85%D9%86_%D9%8A%D9%88%D9%85_%D8%A7%D9%84%D8%A3%D8%AB%D9%86%D9%8A%D9%86"></span>الساعة التاسعة من يوم الأثنين<span class="ez-toc-section-end"></span></h3>
<p>بعد تطهير الرب لهيكله الحجري والبشري في قراءات الساعات السابقة، يُعْلِن هنا سلطانه الإلهي للخلاص وهو السلطان الذي أعطاه للإنسان الأوَّل آدم ولم يحفظه (النبوَّة الأولي).</p>
<p>وأعطاه للكهنة لتعزية الشعب وغفران خطاياه (النبوَّة الثانية).</p>
<p>وأعطاه للملك لإدراك تدبير الله (النبوَّة الثالثة).</p>
<p>وللوالدين لأجل تأديب أولادهم وخلاصهم (النبوَّة الثالثة).</p>
<p>ويمتد فعل سلطانه للأبدية لمختاريه (المزمور).</p>
<p>هذا الذي قاومه كثيراً رؤساء الشعب ولم يفهموا غاية سلطانه (الإنجيل).</p>
<p></p>
<h4><span class="ez-toc-section" id="%D8%A7%D9%84%D9%86%D8%A8%D9%88%D9%91%D9%8E%D8%A7%D8%AA-3"></span>النبوَّات<span class="ez-toc-section-end"></span></h4>
<p><strong>النبوَّة الأولي</strong> (تك ٢ : ١٥- ٣ : ١- الخ)</p>
<p>تبدأ القراءات بالسلطان الذي أعطاه الله في بداية الخليقة للإنسان الأوَّل ليفلح الفردوس ويحفظه، كما أعطاه أن يدعو كل الحيوانات بأسمائها، وكان كما قال:</p>
<p>&#8220;وأخذ الرب الإله الإنسان الذي خلقه ووضعه في فردوس النعيم ليفلحه ويحفظه&#8230; وجبل الرب الإله من الأرض جميع وحوش البرية وجميع طيور السماء وأحضرها إلى آدم ليرى ماذا يسميها فكل ما سماها به آدم من نفس حية فهو إسمها وسمَّي آدم جميع البهائم وطيور السماء وجميع وحوش البرية&#8221;.</p>
<p>وعندما حصلت الغواية وصدَّق الإنسان مشورة الحيَّة بالسلطان الكاذب الوهمي وتعرَّى لم يتركه الله بلا وعد بالغلبة رغم عصيانه وعرَّفه بأنه سيأتي من نسله من سيسحق رأس الحية:</p>
<p>&#8220;وأضع عداوة بينك وبين المرأة وبين نسلك ونسلها فهو يسحق رأسك وأنت ترصدين عقبه&#8221;.</p>
<p>كما نرى أيضاً سبب مجيء هذه النبوّة هنا وعلاقتها بتدبير الخلاص، كما أوضحه القديس أغسطينوس في شرحه للآية &#8220;يترك الرجل أباه وأمه ويلتصق بإمرأته ويكونان - ترجمة قبطي - جسداً واحداً&#8221; (تك ٢: ٢٤):</p>
<p>[قام بترك الآب إذ أخلي ذاته عن الأمجاد وأخذ شكل العبد (في ٢: ٧)، وإن كان يبقى واحدًا معه في الجوهر بلا انفصال، كما ترك أمه أي الشعب اليهودي الذي أخذ عنه الجسد خلال القديسة مريم اليهودية الجنس، ليصير هو مع عروسه جسدًا واحدًا]. (القديس أغسطينوس)<a href="#_ftn13" name="_ftnref13">[13]</a></p>
<p>ولعلَّ هذا هو ما تقصده الآية أي التجسُّد في ملء الزمان، لأن العادة في بلاد الشرق هو أن تترك المرأة بيت أباها وأمها وليس الرجل.</p>
<p><strong>النبوَّة الثانية</strong> (إش ٤٠ : ١-٥)</p>
<p>&#8220;عزّوا عزّوا شعبي أيها الكهنة، قال الله، تكلموا في قلب أورشليم عزّوها، لأنه قد كثر ذلها وانحلت خطيتها&#8221;.</p>
<p>ويقول الأرشيدياكون بانوب عبده تعليقاً على هذه الآية: [&#8220;طيبوا قلب أورشليم&#8221;، والترجمة الحرفية &#8220;تحدثوا إلى قلب أورشليم&#8221;، تعبير تكرر ٨ مرات في العهد القديم (تك ٣٤: ٣؛ ٥٠: ٢١؛ قض١9: ٣ ؛ را ٢: ١٣؛ ٢صم 19: ٧؛ ٢أي ٢٠: ٢٢؛ هو ٢: ١٤) يوجه إلى محبوب أو محبوبة؛ فالكنيسة هنا عروس المسيح المحبوبة إليه، يحدثها بلغة الحب التي لا يفهمها إلاَّ القلب. اللغة التي تحدث بها في أكثر صراحة وعمق خلال الصليب ليقتني البشرية عروسًا له (رؤ١٩:٧؛ ٢١: ٢، ٩)</p>
<p>للأسف حُذِفَت كلمة &#8220;أيها الكهنة&#8221; في الترجمة البيروتية من الآية &#8220;عزوا عزوا شعبي أيها الكهنة&#8221; حسب الترجمة القبطية، تقليلاً من أهمّية الكهنوت ورسالته]<a href="#_ftn14" name="_ftnref14">[14]</a></p>
<p><strong>النبوَّة الثالثة</strong> (أم ١: ١-٩)</p>
<p>هنا السلطان الذي يأخذه الملك من الله هو سلطان الحكمة والتدبير والقيادة بحسب فكر الله:</p>
<p>&#8220;أمثال سليمان بن داود الملك الذي ملك على إسرائيل لمعرفة الحكمة والأدب، لإدراك أقوال الفطنة، لقبول تدريب الكلام، لتعليم العدل الحقيقي والحكم المستقيم&#8221;.</p>
<p>وأيضاً سلطان الوالدين لتعليم الأدب والحكمة:</p>
<p>&#8220;إسمع يا ابني تأديب أبيك، ولا ترفض مشورة أمك، فإنهما إكليل نعمة لرأسك، وقلادة ذهب لعنقك&#8221;.</p>
<p></p>
<h4><span class="ez-toc-section" id="%D8%A7%D9%84%D9%85%D8%B2%D9%85%D9%88%D8%B1_%D9%85%D8%B2_%D9%A1%D9%A2%D9%A1_4-2"></span><strong>المزمور</strong> (مز ١٢١: 4)<span class="ez-toc-section-end"></span></h4>
<p>ويتكلّم المزمور عن سلطان الله في خلاص كل الشعوب والأمم وفِي عطيّة الحياة الأبديّة لمُختاريه:</p>
<p>&#8220;استجب لنا يا الله مخلصنا يا رجاء جميع أقطار الأرض طوبى لمن اخترته وقبلته ليسكن في ديارك إلى الأبد&#8221;.</p>
<p>[وتأتي اقتباسات منه في أكثر من مناسبة ليتورجية، في ليتورجية عيد تجديد كنيسة القيامة في أورشليم وفي عيد الصليب ومزمور إنجيل أحد الشعانين] (القمص تادرس يعقوب ملطي)<a href="#_ftn15" name="_ftnref15">[15]</a>.</p>
<p><strong>الرابط بين المزمور والإنجيل</strong> (القمص لوقا سيداروس)<a href="#_ftn16" name="_ftnref16">[16]</a></p>
<p><strong>استجب لنا يا الله مخلصنا، يا رجاء أقطار الأرض كلها</strong>&#8230;</p>
<p>يردد هذه الصلاة كل الصاعدين إلى الهيكل من أقطار المسكونة، فهم يلتمسون وجه الله المخلص والرب يسوع الذى صعد إلى الهيكل هو المخلص وحده، وهو رجاء أقطار الأرض، ولكن رؤساء الكهنة أغلقوا عيونهم وصموا آذانهم.</p>
<p>فعندما رأوه يطرد باعة الحمام، ويقدس الهيكل، قالوا له: بأي سلطان تفعل هذا ومن أعطاك هذا السلطان، فسألهم يسوع عن معمودية يوحنا وباب التوبة والرجوع إلى الله.</p>
<p>فهم عندما سألوه عن سلطانه في طرد أناس من الهيكل وقبوله آخرين (التلاميذ) تكلم الرب مباشرة عن المعمودية ليؤكد لهم أنها الباب الوحيد للدخول الحقيقي إلى الهيكل. ولما رفض رؤساء الكهنة الإجابة وقالوا: بمكر لا نعلم، قال لهم يسوع أيضاً: ولا أنا أقول لكم بأي سلطان أفعل هذا حيث أنه أنار الطريق أمامهم، ولكنهم أحبوا الظلمة أكثر من النور.</p>
<p><strong>طوبى لمن اخترته وقبلته </strong>&#8230;</p>
<p>لقد وقف الراعى الصالح يميز بين الخراف والجداء، وهو الباب الذي ندخل فيه، إن دخل بي أحد يدخل ويخرج ويجد مرعى، وهو اختارنا قبل تأسيس العالم .. اختار الجهلاء (التلاميذ) ليخزى بهم الحكماء (رؤساء الكهنة والكتبة) واختار الله فقراء العالم ليخزى بهم الأغنياء.</p>
<p><strong>ليسكن في ديارك إلى الأبد </strong>&#8230;</p>
<p>الرب قبلنا إليه كما قبل الابن الضال والمرأة الخاطئة &#8221; ومن يقبل اليه لا يخرجه خارجاً&#8221;.</p>
<p>وفى مثل هذه الساعة قبل اللص وهو على خشبة الصليب &#8220;اليوم تكون معي في الفردوس&#8221; (لو٢٣: ٤٣).</p>
<p></p>
<h4><span class="ez-toc-section" id="%D8%A7%D9%84%D8%A5%D9%86%D8%AC%D9%8A%D9%84_%D9%85%D8%AA_%D9%A2%D9%A1_%D9%A2%D9%A3-_%D9%A2%D9%A7"></span><strong>الإنجيل</strong> (مت ٢١: ٢٣- ٢٧)<span class="ez-toc-section-end"></span></h4>
<p>ويُخْتَم الإنجيل بغياب رؤية القادة والرؤساء في فهم غاية سلطان ابن الله وانحصارهم في سلطانهم الزمني والأرضي لئلا يفقدوا تسلُّطهم على الشعب:</p>
<p>&#8220;ولما دخل إلى الهيكل تقدم إليه رؤساء الكهنة وشيوخ الشعب وهو يُعلِّم قائلين له: بأي سلطان تفعل هذا؟ ومن أعطاك هذا السلطان؟&#8221;.</p>
<p></p>
<p></p>
<h3><span class="ez-toc-section" id="%D8%A7%D9%84%D8%B3%D8%A7%D8%B9%D8%A9_%D8%A7%D9%84%D8%AD%D8%A7%D8%AF%D9%8A%D8%A9_%D8%B9%D8%B4%D8%B1_%D9%85%D9%86_%D9%8A%D9%88%D9%85_%D8%A7%D9%84%D8%A3%D8%AB%D9%86%D9%8A%D9%86"></span>الساعة الحادية عشر من يوم الأثنين<span class="ez-toc-section-end"></span></h3>
<p>تتكلّم قراءات هذه الساعة عن:</p>
<p>عطايا الله وعطايا تدبيره الإلهي للبشر في الخلاص (النبوَّة الأولي).</p>
<p>والحكمة (النبوَّة الثانية).</p>
<p>والإستنارة (النبوَّة الثالثة).</p>
<p>وكلمة الحياة الأبديّة (الإنجيل).</p>
<p></p>
<h4><span class="ez-toc-section" id="%D8%A7%D9%84%D9%86%D8%A8%D9%88%D9%91%D9%8E%D8%A7%D8%AA-4"></span><strong>النبوَّات</strong><span class="ez-toc-section-end"></span></h4>
<p><strong>النبوَّة الأولي</strong> (إش ٥٠ : ١-٣)</p>
<p>تتكلّم هذه النبوَّة عن عطيّة الخلاص الممنوحة مجاناً لكل البشر ولكن ينالها من يصدقها ويؤمن بها ويعيشها بتوبته الدائمة:</p>
<p>&#8220;أقصرت يدي عن أن تخلص أو ثقلت أذني عن السماع؟ إنما خطاياكم قائمة بينكم وبين الله لأجل ذنوبكم .. هل ليس لي قوة على خلاصكم؟&#8221;.</p>
<p><strong>النبوَّة الثانية</strong> (يشوع بن سيراخ ١ : ٢٥- الخ)</p>
<p>تظهر هنا عطيّة الحكمة لمن يعيش في مخافة الله وفِي وصيته:</p>
<p>&#8220;أمثال التعليم كائنة في كنوز الحكمة .. إن اشتهيت الحكمة فاحفظ الوصايا فيهبها لك الرب&#8221;.</p>
<p></p>
<h4><span class="ez-toc-section" id="%D8%A7%D9%84%D9%85%D8%B2%D9%85%D9%88%D8%B1_%D9%85%D8%B2_%D9%A1%D9%A2_4"></span><strong>المزمور</strong> (مز ١٢: 4)<span class="ez-toc-section-end"></span></h4>
<p>&#8220;أنظر واستجب لي يا ربي وإلهي أنر عيني لئلا أنام فى الموت لئلا يقول عدوي أني قد قويت عليه&#8221;.</p>
<p>ويقول القديس كيرلس الكبير هنا أن الموت هو موت النفس عندما تختار الباطل والفاسد بسبب غفلتها وعدم سهرها ويقظتها:</p>
<p>[لكي نقترب من النور الحقيقي، أعني المسيح، نسبحه في المزامير، قائلين: &#8220;أنر عينَّي لئلا أنام نوم الموت&#8221;. فإنه موت حقيقي، هو موت النفس لا الجسد، حين نسقط عن استقامة التعاليم الصادقة ونختار الباطل عوض الحق. لذلك يلزم أن تكون أحقاؤنا ممنطقة وسرجنا موقدة كما قيل لنا هنا] (القديس كيرلس الكبير)<a href="#_ftn17" name="_ftnref17">[17]</a></p>
<p><strong>الرابط بين المزمور والإنجيل</strong> (القمص لوقا سيداروس)<a href="#_ftn18" name="_ftnref18">[18]</a></p>
<p><strong>استجب لنا يا الله مخلصنا ، يا رجاء أقطار الأرض كلها</strong>&#8230;</p>
<p><strong>تكلم الرب في هذه الساعة</strong> عن كيف أنار عيني إبراهيم قديماً فرأى بعين النبوة ذبيحة الصليب ومجد القيامة عندما قدم إسحق ذبيحة، ولم يحتمل اليهود الأشقاء – بكبرياء القلب – اتضاع الرب وكلامه وأخذوا حجارة ليرجموه فتوارى يسوع وخرج من الهيكل .</p>
<p><strong>أيها المسيح إلهي أنت هو النور</strong> .. ووصاياك هي نور ..  أنر عيني لئلا أنام في الموت .. كما أنرت عيني إبراهيم فرأى يومك وفرح بذبيحة صليبك، ولا تسمح بأن يظلم عقلي فأشابه هذه الجماعة من الذين تكلموا عليك بالردي ورفعوا حجارة عليك .. حتى لا يقوى العدو علي.</p>
<p><strong>إن العالم يرفع حجارة ليرجمني</strong> لأنني أشهد لك كما كنت تشهد للآب، ولكن لن يقوى عدوي علي طالما كنت بك حتى لو علقوني على الصليب معك .</p>
<p></p>
<h4><span class="ez-toc-section" id="%D8%A7%D9%84%D8%A5%D9%86%D8%AC%D9%8A%D9%84_%D9%8A%D9%88_8_51-_%D8%A7%D9%84%D8%AE"></span><strong>الإنجيل</strong> (يو 8: 51- الخ)<span class="ez-toc-section-end"></span></h4>
<p>ويُخْتَم الإنجيل بعطية كلمة الحياة التي تُنجِّي من الموت الأبدي:</p>
<p>&#8220;الحق الحق أقول لكم إن كان أحد يحفظ كلامي فلن يري الموت إلى الأبد&#8221;.</p>
<p></p>
<h3><span class="ez-toc-section" id="%D9%85%D9%86_%D9%88%D8%AD%D9%8A_%D9%82%D8%B1%D8%A7%D8%A1%D8%A7%D8%AA_%D8%A7%D9%84%D9%8A%D9%88%D9%85"></span>من وحي قراءات اليوم<span class="ez-toc-section-end"></span></h3>
<p><strong>&#8220;ولا تصيِّروا بيت أبي بيت تجارة</strong> (إنجيل الساعة السادسة).</p>
<p>بيت أبي هو البيت الذي يُسْتَعلن فيه الحب المجاني للجميع.</p>
<p>والبيت الذي لا يشعر فيه أحد بأنه غريب بل محبوب ويفهم ويعيش مفهوم أهل بيت الله.</p>
<p>والبيت الذي تجد فيه كل نفس سلامها وأمانها.</p>
<p>ومهما يحدث في العالم الخارجي نرجع إلي مكان راحتنا وماسح دموعنا.</p>
<p>ولكن إذا ضاع الهدف وصار هو موضع سلطتنا ومكانتنا.</p>
<p>بل ومشروعاتنا وأرصدتنا ومُنافستنا ورأسماليتنا.</p>
<p>تتحول مشروعاتنا من خَدَميَّة إلي استثمارية يتربع عليها الربح.</p>
<p>وبين مال يشغل التفكير ومال يتحكم في التدبير يختفي روح خدمتنا.</p>
<p>وتتحول حياتنا إلي إنجازات بدلاً من إشعاعات.</p>
<p>ولا نسمع صوت تسبيح (مت ١٦:٢١) بل نزاعات!!.</p>
<hr />
<p><a href="#_ftnref1" name="_ftn1">[1]</a> <sup> </sup>كتاب طقس سر مسحة المرضى - صلاة القنديل - <a href="https://st-takla.org/">طلبة الصلاة الأولى</a>.</p>
<p><a href="#_ftnref2" name="_ftn2">[2]</a> <sup> </sup>تفسير سفر نحميا -  إصحاح ١٣- القمص تادرس يعقوب ملطي.</p>
<p><a href="#_ftnref3" name="_ftn3">[3]</a> <sup> </sup>كتاب تجسّد الكلمة - فصل ١-٣ - ترجمة الدكتور جوزيف موريس.</p>
<p><a href="#_ftnref4" name="_ftn4">[4]</a> <sup> </sup>تفسير سفر التكوين - الإصحاح الأول - القمص تادرس يعقوب ملطي.</p>
<p><a href="#_ftnref5" name="_ftn5">[5]</a> Oden, T.C. &amp; Hall, C.A. (2002). Genesis 1-11 (The Ancient Christian Commentary on Scripture, Old Testament part II). Illinois (U.S.A): Intervarsity Press. Page 27</p>
<p><a href="#_ftnref6" name="_ftn6">[6]</a> <sup> </sup>كتاب فردوس الآباء - صفحة ٩٧٨ - إعداد رهبان ببرية شيهيت.</p>
<p><a href="#_ftnref7" name="_ftn7">[7]</a> <sup> </sup>تفسير المزمور - القمص تادرس يعقوب ملطي.</p>
<p><a href="#_ftnref8" name="_ftn8">[8]</a> <sup> </sup>تأملات في مزامير الآلام - صفحة ٢٩ - القمص لوقا سيداروس.</p>
<p><a href="#_ftnref9" name="_ftn9">[9]</a> <sup> </sup>تفسير المزمور - القمص تادرس يعقوب ملطي.</p>
<p><a href="#_ftnref10" name="_ftn10">[10]</a> <sup> </sup>تأملات في مزامير الآلام - صفحة 32 - القمص لوقا سيداروس.</p>
<p><a href="#_ftnref11" name="_ftn11">[11]</a> Oden, T.C. &amp; Hall, C.A. (2002). Exodus,Leviticus,Numbers,Deuteronomy (The Ancient Christian Commentary on Scripture, Old Testament part II). Illinois (U.S.A): InterVarsity Press. Pages 140 – 142.</p>
<p><a href="#_ftnref12" name="_ftn12">[12]</a> <sup> </sup>تأملات في مزامير الآلام - صفحة 34 - القمص لوقا سيداروس.</p>
<p><a href="#_ftnref13" name="_ftn13">[13]</a> <sup> </sup>تفسير أفسس –  اصاح ٥ -  القمص تادرس يعقوب ملطي.</p>
<p><a href="#_ftnref14" name="_ftn14">[14]</a> <sup> </sup>كنوز النعمة - البصخة المُقدَّسة - ص ١٣٧ - الأرشيدياكون بانوب عبده.</p>
<p><a href="#_ftnref15" name="_ftn15">[15]</a> <sup> </sup>تفسير المزمور - القمص تادرس يعقوب ملطي.</p>
<p><a href="#_ftnref16" name="_ftn16">[16]</a> <sup> </sup>تأملات في مزامير الآلام - صفحة 36 - القمص لوقا سيداروس.</p>
<p><a href="#_ftnref17" name="_ftn17">[17]</a> <sup> </sup>تفسير المزمور - القمص تادرس يعقوب ملطي.</p>
<p><a href="#_ftnref18" name="_ftn18">[18]</a> <sup> </sup>تأملات في مزامير الآلام - صفحة 39 - القمص لوقا سيداروس.</p>

      {% endcreateArticleAccordions %}
    </section>
  {% endblock %}
  