---
layout: 'layouts/reading.html'
title: 'يوم الثلاثاء من البصخة المقدسة'
permalink: special/6.html
---
  {% block content %}
    <section id="readings">
      <ul>
      {% if '[object Object],[object Object],[object Object],[object Object],[object Object]' != 'undefined' %}
      
    <li class="mb-2" x-data="{selected:false}">
  <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
    <div class="flex items-center justify-between">
      <span class="kufi">الساعة الأولى</span>
      <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
    </div>
  </button>
  <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
    <div class="p-4">
    {% makeHour '19.120:2,6,7' '43.8:21-29' '2.19:1-9' '18.23:2-24:25' '28.4:1-8' %}
    </div>
  </div>
</li>
    <li class="mb-2" x-data="{selected:false}">
  <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
    <div class="flex items-center justify-between">
      <span class="kufi">الساعة الثالثة</span>
      <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
    </div>
  </button>
  <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
    <div class="p-4">
    {% makeHour '19.119:154,155' '40.23:37-39' '5.8:11-20' '73.2:1-9' '18.27:1-20' %}
    </div>
  </div>
</li>
    <li class="mb-2" x-data="{selected:false}">
  <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
    <div class="flex items-center justify-between">
      <span class="kufi">الساعة السادسة</span>
      <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
    </div>
  </button>
  <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
    <div class="p-4">
    {% makeHour '19.18:48,17' '43.8:12-20' '26.21:3-13' '73.4:20-31' '23.1:1-9' %}
    </div>
  </div>
</li>
    <li class="mb-2" x-data="{selected:false}">
  <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
    <div class="flex items-center justify-between">
      <span class="kufi">الساعة التاسعة</span>
      <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
    </div>
  </button>
  <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
    <div class="p-4">
    {% makeHour '19.25:1,2,3' '40.24:3-35' '1.6:5-7:24' '20.9:1-11' '23.40:9-31' %}
    </div>
  </div>
</li>
    <li class="mb-2" x-data="{selected:false}">
  <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
    <div class="flex items-center justify-between">
      <span class="kufi">الساعة الحادية عشر</span>
      <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
    </div>
  </button>
  <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
    <div class="p-4">
    {% makeHour '19.45:6' '40.25:14-46' '23.30:25-30' '20.6:20-7:4' '' %}
    </div>
  </div>
</li>
      <li class="mb-2" x-data="{selected:false}">
    <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
      <div class="flex items-center justify-between">
        <span class="kufi">الساعة الأولى عشية</span>
        <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
      </div>
    </button>
    <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
      <div class="p-4">
      {% makeHour '19.59:16,17' '40.22:1-14' '26.22:17-22' '26.22:23-29' '' %}
      </div>
    </div>
  </li>
      <li class="mb-2" x-data="{selected:false}">
    <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
      <div class="flex items-center justify-between">
        <span class="kufi">الساعة الثالثة عشية</span>
        <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
      </div>
    </button>
    <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
      <div class="p-4">
      {% makeHour '19.65:4' '40.24:36-51' '30.5:18-27' '' '' %}
      </div>
    </div>
  </li>
      <li class="mb-2" x-data="{selected:false}">
    <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
      <div class="flex items-center justify-between">
        <span class="kufi">الساعة السادسة عشية</span>
        <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
      </div>
    </button>
    <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
      <div class="p-4">
      {% makeHour '19.102:1,2' '40.25:1-13' '24.16:9-13' '' '' %}
      </div>
    </div>
  </li>
      <li class="mb-2" x-data="{selected:false}">
    <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
      <div class="flex items-center justify-between">
        <span class="kufi">الساعة التاسعة عشية</span>
        <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
      </div>
    </button>
    <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
      <div class="p-4">
      {% makeHour '19.22:20-21' '40.23:29-36' '28.9:14-10:2' '' '' %}
      </div>
    </div>
  </li>
      <li class="mb-2" x-data="{selected:false}">
    <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
      <div class="flex items-center justify-between">
        <span class="kufi">الساعة الحادية عشر عشية</span>
        <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
      </div>
    </button>
    <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
      <div class="p-4">
      {% makeHour '19.57:1' '43.11:55-57' '72.7:24-30' '' '' %}
      </div>
    </div>
  </li>
      {% else %}
      {% if 'undefined' != 'null' %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">العشية</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeVespers '' '' %}
          </div>
        </div>
      </li>
      {% endif %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">باكر</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeMatins 'undefined' 'undefined' '' %}
          </div>
        </div>
      </li>
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <h3 class="flex items-center justify-between">
            <span class="kufi">القداس</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </h3>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeLitugy 'undefined' 'undefined' 'undefined' 'undefined' 'undefined' %}
          </div>
        </div>
      </li>

      {% endif %}
        </ul>
    </section>
    <section id="article">
      <h3 class="mt-8 mb-4 heading-explain">شرح القراءات</h3>
      {% createArticleAccordions %}
        <p>&#8220;لكنه جعل للتائبين مرجعًا، وعزى ضعفاء الصبر، ورسم لهم نصيب الحق&#8221; (سيراخ 17: 20).</p>
<p>[من هم الفعلة إلَّا الخطاة الذين تابوا ورجعوا إلى الرب بقلب مستقيم] (طرح الفعلة في شهر كيهك).</p>
<p>[ليت مراحم الله تدركنا وتمنحنا ألا يجد الخصم فينا شيئًا مما له، فإنه بهذا لا يقدر أن يعوقنا عنده ولا أن يردنا عن الحياة الأبدية] (الأب قيصريوس أسقف Arles)<a href="#_ftn1" name="_ftnref1">[1]</a></p>
<p></p>
<h3><span class="ez-toc-section" id="%D8%B4%D8%B1%D8%AD_%D8%A7%D9%84%D9%82%D8%B1%D8%A7%D8%A1%D8%A7%D8%AA"></span>شرح القراءات<span class="ez-toc-section-end"></span></h3>
<p>بعد ما استفاضت القراءات في ساعات ليلة الثلاثاء عن التوبة والدعوة للرجوع إلى الله والحياة معه لكل الناس جاءت هذه القراءات لتُعلن نجاة الأبرار ودينونة الأشرار.</p>
<p>ما جاء في قراءات اليوم مُشيراً إلى النهاية ومكافأة من قبلوا الخلاص ودينونة من رفضوه:</p>
<h4><span class="ez-toc-section" id="%D8%A7%D9%84%D8%B3%D8%A7%D8%B9%D8%A9_%D8%A7%D9%84%D8%A3%D9%88%D9%84%D9%89"></span>الساعة الأولى:<span class="ez-toc-section-end"></span></h4>
<p>أيوب:</p>
<p>&#8220;فلما علم بأعمالهم أسلمهم للظلمة.. لأن ظلم الموت يدركهم معاً.. وسيجازي بما فعل&#8221;.</p>
<p>هوشع:</p>
<p>&#8220;فإن للرب محاكمة مع سكان الأرض&#8221;.</p>
<p>الإنجيل:</p>
<p>&#8220;لأنكم إن لم تؤمنوا أني أنا هو تموتون بخطاياكم&#8221;.</p>
<h4><span class="ez-toc-section" id="%D8%A7%D9%84%D8%B3%D8%A7%D8%B9%D8%A9_%D8%A7%D9%84%D8%AB%D8%A7%D9%84%D8%AB%D8%A9"></span>الساعة الثالثة:<span class="ez-toc-section-end"></span></h4>
<p>سفر التثنية:</p>
<p>&#8220;لكي يؤدبك ويجربك ثم يحسن إليك في آخرتك.. هكذا أنتم تهلكون لأنكم لم تطيعوا لصوت الرب إلهكم&#8221;</p>
<p>يشوع بن سيراخ:</p>
<p>&#8220;التصق به ولا تبتعد عنه لكي تنمو في آخرتك &#8230; اُرجوا الخيرات والحياة الأبدية والرحمة&#8221;.</p>
<p>أيوب:</p>
<p>&#8220;إنه إذا توكل مؤمنًا بالله، هلا يخلص أو يسمع طلبته؟&#8221;.</p>
<p>المزمور:</p>
<p>&#8220;بعيد الخلاص من الخطاة&#8221;.</p>
<p>الإنجيل:</p>
<p>&#8220;هوذا أترك لكم بيتكم خراباً&#8221;.</p>
<h4><span class="ez-toc-section" id="%D8%A7%D9%84%D8%B3%D8%A7%D8%B9%D8%A9_%D8%A7%D9%84%D8%B3%D8%A7%D8%AF%D8%B3%D8%A9"></span>الساعة السادسة:<span class="ez-toc-section-end"></span></h4>
<p>حزقيال النبي:</p>
<p>&#8220;هكذا يخرج سيفي من غمده على كل ذي جسد.. ها هو آتٍ ويكون قال الرب&#8221;.</p>
<p>يشوع بن سيراخ:</p>
<p>&#8220;جاهد عن الحق إلى الموت لكي يقاتل الله عنك&#8221;.</p>
<p>إشعياء:</p>
<p>&#8220;تركتم الرب عنكم وأغضبتم قدوس إسرائيل .. أرضكم تُخرب ومدنكم تُحرق بالنار&#8221;.</p>
<p>الإنجيل:</p>
<p>&#8220;أنا هو نور العالم ومن يتبعني لا يمشي في الظلمة بل يكون له نور الحياة.. وإن أنا دِنت فدينونتي حق هي&#8221;.</p>
<h4><span class="ez-toc-section" id="%D8%A7%D9%84%D8%B3%D8%A7%D8%B9%D8%A9_%D8%A7%D9%84%D8%AA%D8%A7%D8%B3%D8%B9%D8%A9"></span>الساعة التاسعة:<span class="ez-toc-section-end"></span></h4>
<p>سفر التكوين:</p>
<p>&#8220;شرور الناس قد كثرت على الأرض .. إني مبيد عن وجه الأرض الإنسان الذي خلقته&#8221;.</p>
<p>أمثال سليمان:</p>
<p>&#8220;رأس الحكمة مخافة الرب .. بهذا المثال تعيش زماناً طويلاً وتزداد لك سنو الحياة&#8221;.</p>
<p>إشعياء:</p>
<p>&#8220;هوذا ربكم آت بقوة وذراعه تحكم له، هوذا أجرته معه وعمله قدامه&#8221;.</p>
<p>دانيال:</p>
<p>&#8220;فجلس الديان وفتحت الأسفار&#8221;.</p>
<p>الإنجيل:</p>
<p>&#8220;من يصبر إلى المنتهى يخلص .. ويبصرون ابن الإنسان آتيًا على سحب السماء&#8221;.</p>
<h4><span class="ez-toc-section" id="%D8%A7%D9%84%D8%B3%D8%A7%D8%B9%D8%A9_%D8%A7%D9%84%D8%AD%D8%A7%D8%AF%D9%8A%D8%A9_%D8%B9%D8%B4%D8%B1"></span>الساعة الحادية عشر:<span class="ez-toc-section-end"></span></h4>
<p>إشعياء:</p>
<p>&#8220;ويكون نور القمر كنور الشمس، ونور الشمس يصير سبعة أضعاف.. فيسمعهم الله جلال صوته ويظهر نزول غضب ذراعه&#8221;.</p>
<p>أمثال سليمان:</p>
<p>&#8220;فمن أجل جهله سيجلب على نفسه هلاكاً .. احفظ وصاياه فتحيا&#8221;.</p>
<p>الإنجيل:</p>
<p>&#8220;يا رب تنجي نفسي من الشفاه الظالمة&#8221; (مزمور باكر الثلاثاء).</p>
<p>وواضح جداً في المزامير نجاة من التصقوا بالله وبوصيته وبرِّه ومحبته:</p>
<p>&#8220;أحكم حكمي ونجني من أجل كلامك أحيني&#8221; (مزمور الساعة الثالثة).</p>
<p>&#8220;ومن الرجل الظالم تنجيني يخلصني من أعدائي الأشداء&#8221; (مزمور الساعة السادسة).</p>
<p>&#8220;فلا تخزني إلى الأبد ولا تُضحك بي أعدائي&#8221; (مزمور الساعة التاسعة).</p>
<p>&#8220;في اليوم السوء ينجيه الرب&#8221; (مزمور الساعة الحادية عشر).</p>
<p>وتأتي الأناجيل:</p>
<p>بتقديم الدعوة الأخيرة للتوبة (باكر).</p>
<p>ثم تبكيتهم وتحذيرهم بقرب مجيء العقاب (الثالثة).</p>
<p>وإعلان حقيقة دينونته مع الله الآب للبشر (السادسة).</p>
<p>ثم مجيء النهاية (التاسعة).</p>
<p>ونوال المُكافأة أو إنزال العقاب (الحادية عشر).</p>
<p></p>
<h3><span class="ez-toc-section" id="%D8%A8%D8%A7%D9%83%D8%B1_%D9%8A%D9%88%D9%85_%D8%A7%D9%84%D8%AB%D9%84%D8%A7%D8%AB%D8%A7%D8%A1"></span>باكر يوم الثلاثاء<span class="ez-toc-section-end"></span></h3>
<p>تتكلَّم قراءات هذه الساعة تتكلَّم عن:</p>
<p>الدعوة الأخيرة من الله لكل البشر بالتوبة (النبوَّات).</p>
<p>ومُكافأة من قبل الدعوة (المزمور).</p>
<p>وعاقبة من رفضها (الإنجيل).</p>
<p></p>
<h4><span class="ez-toc-section" id="%D8%A7%D9%84%D9%86%D8%A8%D9%88%D9%91%D9%8E%D8%A7%D8%AA"></span>النبوَّات<span class="ez-toc-section-end"></span></h4>
<p><strong>النبوَّة الأولى </strong>(خر ١٩ : ١-٩)</p>
<p>تبدأ هذه النبوة بالدعوة الإلهية بحفظ الوصيّة لكي نصير حقاً شعبه وخاصته:</p>
<p>&#8220;فناداه الله من الجبل قائلاً: هذا ما تقوله لبيت يعقوب&#8230; والآن إن كنتم سمعاً تسمعون لصوتي وتحفظون عهدي فإنكم تكونون لي شعباً مجتمعاً إلى الأبد من بين جميع الأمم&#8221;.</p>
<p><strong>النبوَّة الثانية </strong>(أي ٢٣: ٢ &#8211; ٢٤: ١- الخ)</p>
<p>وتشرح هذه النبوَّة كيف قبل الأبرار تأديبات الله، وكيف انحرف الأشرار وعاقبة الله لهم.</p>
<p>&#8220;لأن البر والتوبيخ هما منه ويخرج حكمي إلى الانقضاء&#8230; هو عارف طريقي ومحصني مثل الذهب فأسلك بحسب أوامره ولا أرفضها&#8221;.</p>
<p>وعن الأشرار يقول:</p>
<p>&#8220;وهم لم يعرفوا طريق البر ولم يمشوا في سبله فلما علم بأعمالهم أسلمهم للظلمة&#8230; لأنهم نهبوا أغمار الأيتام&#8230; لأنهم لم يحسنوا إلى العاقر ولم يرحموا الأرملة وبغضب طرحوا الضعفاء&#8221;.</p>
<p><strong>النبوَّة الثالثة </strong>(هو ٤: ١-٨)</p>
<p>وتأتي هذه النبوَّة بالمحاكمة الإلهية لكل الشعب وقادته لغياب معرفة الله والحق والرحمة.</p>
<p>&#8220;فإن للرب محاكمة مع سكان الأرض لأنه لا حق ولا رحمة ولا معرفة الله في الأرض، بل لعنة وكذب وقتل وسرقة وفسق قد فاضت على الأرض.. فصار شعبي كمن لا معرفة له لأنك أنت رفضت المعرفة أنا أيضاً أرفضك فلا تكهن لي&#8221;.</p>
<p></p>
<h4><span class="ez-toc-section" id="%D8%A7%D9%84%D9%85%D8%B2%D9%85%D9%88%D8%B1_%D9%85%D8%B2_119_2%D8%8C_5"></span>المزمور (مز 119: 2، 5)<span class="ez-toc-section-end"></span></h4>
<p>يُعْلِن هذا المزمور حماية ورعاية ونجاة الله لأولاده:</p>
<p>&#8220;يا رب تنجي نفسي من الشفاه الظالمة ومن اللسان الغاش. ومع مبغضي السلام كنت مسالماً وحين كنت أكلمهم كانوا يقاتلونني مجاناً&#8221;.</p>
<p><strong>الرابط بين المزمور والإنجيل</strong> (القمص لوقا سيداروس)<a href="#_ftn2" name="_ftnref2">[2]</a></p>
<p><strong>يا رب نجي نفسي</strong><strong>&#8230;</strong></p>
<p>كما تعرض جسد الرب للآلام المبرحة حتى لم يبقى فيه قوة &#8230; كذلك تعرضت نفسه للآلام حتى الموت &#8220;نفسى حزينة جداً حتى الموت&#8221; (مت ٢٦: ٣٨). ومن خلال فصل الإنجيل تألمت نفس الرب جداً وقال كما قال في البستان فيما بعد &#8220;إن أردت أن تعبر عني هذه الكأس&#8221;.. &#8220;يا رب نج نفسي من الشفاه الظالمة&#8221;.</p>
<p>إن شفاه الفريسيين ظلمت الرب كثيراً .. قالوا له: أين أبوك؟ قال اليهود ألعله يقتل نفسه!، ثم عادوا فقالوا له: من أنت؟ من تجعل نفسك؟، ومرة أخرى قالوا له: &#8220;إنه برئيس الشياطين يخرج الشياطين&#8221;، &#8220;وإن به شيطاناً&#8221;، &#8221; إنه مختل العقل&#8221;.</p>
<p>وكما آلمت السياط جسد الرب هكذا آلمت هذه الشفاه نفسه&#8230; وكما احتمل الرب ظلم الأشرار واللطم، هكذا أيضاً احتمل السب والتهديد من الشفاه الظالمة ومن اللسان الغاش.</p>
<p><strong>يقاتلونني مجاناً &#8230;</strong></p>
<p>آلام الرب كلها كانت مجاناً لأنه قدوس بلا عيب ولا شر &#8220;من منكم يبكتني على خطية؟&#8221; (يو ٨: ٤٦). وكلامه الإلهي نقى &#8220;ليس في فمه غش&#8221; وكانوا يريدون أن يصطادوه بكلمة، ولكن حاشا له أن يخطئ.</p>
<p></p>
<h4><span class="ez-toc-section" id="%D8%A7%D9%84%D8%A5%D9%86%D8%AC%D9%8A%D9%84_%D9%84%D9%88_%D9%A1%D9%A3_%D9%A2%D9%A3-%D9%A3%D9%A0"></span>الإنجيل (لو ١٣ : ٢٣-٣٠)<span class="ez-toc-section-end"></span></h4>
<p>يختم الإنجيل بتحذير أخير لعدم التوبة أن الإنسان سيطلب الله ولا يجده (بعد<br />
إغلاق الباب وانتهاء فرص التوبة) بسبب الإصرار على الخطية وعدم التوبة.</p>
<p>&#8220;أنا أمضي وستطلبونني فلا تجدونني وتموتون بخطاياكم&#8230; قد قلت لكم أنكم تموتون بخطاياكم لأنكم إن لم تؤمنوا أني أنا هو تموتون بخطاياكم&#8221;.</p>
<p>وسيشهد عليهم صليبه بأنهم رفضوه ولم يقبلوا خلاصه:</p>
<p>&#8220;فقال لهم يسوع: متى رفعتم ابن الإنسان فحينئذ تعلمون أني أنا هو&#8221;.</p>
<p></p>
<p></p>
<h3><span class="ez-toc-section" id="%D8%A7%D9%84%D8%B3%D8%A7%D8%B9%D8%A9_%D8%A7%D9%84%D8%AB%D8%A7%D9%84%D8%AB%D8%A9_%D9%85%D9%86_%D9%8A%D9%88%D9%85_%D8%A7%D9%84%D8%AB%D9%84%D8%A7%D8%AB%D8%A7%D8%A1"></span>الساعة الثالثة من يوم الثلاثاء<span class="ez-toc-section-end"></span></h3>
<p>تتكلّم قراءات هذه الساعة عن &#8220;الآخرة والنهاية والمصير&#8221;:</p>
<p>&#8220;لكي يؤدبك ويجربك ثم يحسن إليك في آخرتك&#8221; (نبوَّة سفر التثنية).</p>
<p>&#8220;التصق به ولا تبتعد عنه لكي تنمو في آخرتك&#8221; (نبوَّة يشوع بن سيراخ).</p>
<p>&#8220;لا يترك ههنا حجر علي حجر إلَّا وينقض&#8221; (الإنجيل).</p>
<p></p>
<h4><span class="ez-toc-section" id="%D8%A7%D9%84%D9%86%D8%A8%D9%88%D9%91%D9%8E%D8%A9"></span>النبوَّة<span class="ez-toc-section-end"></span></h4>
<p><strong>النبوَّة الأولى </strong>(تث 8: 11-الخ)</p>
<p>توضِّح هذه النبوَّة كيف تكون نهاية التأديبات لأولاده لخيرهم في آخرتهم ولكن إن لم يقبلوا تحذيرات الله ووصيته ستكون النهاية دينونة وهلاك:</p>
<p>&#8220;لكي يؤدبك ويجربك ثم يحسن إليك في آخرتك &#8230; فإن أنت نسيت نسياناً الرب إلهك وذهبت واتبعت آلهة أخرى غريبة لتعبدها وتسجد لها فإني أشهد عليكم السماء والأرض أنكم تهلكون هلاكاً كبقية الأمم&#8221;.</p>
<p><strong>النبوَّة الثانية</strong> (سيراخ 2: 1- 9)</p>
<p>تتحدث هذه التجربة عن مُتَّقي الرب وخائفيه وخدّامه، وكيف يترجَّون الحياة الأبديّة وينتظرون مراحم الله، ويقبلون كل التجارب من يده الإلهية لتنقيتهم مثل الذهب:</p>
<p>&#8220;يا ابني إن تقدمت لخدمة الرب هيئ نفسك للتجارب. قوّم قلبك واحتمل ولا تنحل في زمان أتعابك التصق به ولا تبتعد عنه لكي يؤدبك ويجربك ثم يحسن إليك في آخرتك&#8230; فإن الذهب يمحص بالنار والمختارين من الناس في آتون الذل&#8230; يا خائفي الرب آمنوا به فلا يضيع أجركم وَيَا خائفي الرب ارجوا الخيرات والحياة الأبديّة والرحمة&#8221;.</p>
<p><strong>النبوَّة الثالثة</strong> (أي 27: 1- 20؛ 28: 1،2)</p>
<p>وتتحدث هذه النبوَّة عن فُجائيَّة النهاية وكيف تُباغت الأشرار:</p>
<p>&#8220;هذا هو نصيب الرجل المنافق من قبل الرب، وخزي الأقوياء يأتي عليهم&#8230; ومثل العنكبوت الغني يضطجع ولا يدوم وتتركه الشدائد مثل الماء تأخذه المظلمات ليلاً&#8221;.</p>
<p><strong>النبوَّة الرابعة</strong> (2مل 19: 9- 14)</p>
<p>تُقارِن هذه النبوَّة بين مجيء الرب لأجل خلاص البشر  وبين مجيئه لأجل الدينونة، لذلك:</p>
<p>وإذا كان مجيئه لدينونة العالم سيكون فيه زلزلة ونار وريح شديدة (يؤ٢: ١٠، ١١) ،</p>
<p>لكن مجيئه لأجل خلاص البشر كان نسيم لطيف (مت ١٢: ١٠):</p>
<p>&#8220;وإذا الرب عابر وريح شديدة منيعة تشقق الجبال وتحطم الصخور أمام الرب ولم يكن الرب في الريح وبعد الريح زلزلة وبعد الزلزلة نار ولم يكن الرب في النار وبعد النار صوت نسيم لطيف وهدوء عظيم والرب هناك&#8221;.</p>
<p></p>
<h4><span class="ez-toc-section" id="%D8%A7%D9%84%D9%85%D8%B2%D9%85%D9%88%D8%B1_%D9%85%D8%B2_%D9%A1%D9%A2_%D9%A6%D8%8C%D9%A4"></span>المزمور (مز ١٢: ٦،٤)<span class="ez-toc-section-end"></span></h4>
<p>&#8220;أحكم حكمي ونجني من أجل كلامك أحيني بعيد الخلاص من الخطاة لأنهم لم يطلبوا حقوقك&#8221;.</p>
<p>يُوضَّح المزمور:</p>
<p>سبب نجاة الأبرار: التمسُّك بكلمته..</p>
<p>وسبب دينونة الأشرار الاستهانة بحقوقه.</p>
<p>والجزء الثاني يُعْلِن فيه المزمور بهجة الخلاص.</p>
<p><strong>الرابط بين المزمور والإنجيل</strong> (القمص لوقا سيداروس)<a href="#_ftn3" name="_ftnref3">[3]</a></p>
<p><strong>أحكم حكمي </strong><strong>&#8230;</strong></p>
<p>وقف الرب أمام اورشليم الرافضة قبول خلاصه والمحتقرة محبته موقف المتوسل قائلاً: كم مرة أردت أن أجمع أولادك؟!&#8230; ولكنها رفضت &#8220;لم تريدوا&#8221; وليس أقسى من أن تحتقر محبة الرب وأن ترفض دعوته&#8230; فوقف الرب من أورشليم موقف الشاكي المظلوم الذي له دعوى على أورشليم قائلاً: احكم حكمي. كما قال قديماً بفم إشعياء &#8220;احكموا بيني وبين كرمي&#8221; (إش ٥: ٣).</p>
<p>وحكم الرب على المدينة الرافضة أن تصير خراباً ومهجورة، بيتاً بلا ساكن &#8220;بيتكم يترك لكم خراباً&#8221;. فالرب اختار صهيون ورضيها مسكناً له ولكن هي رفضت عريسها واحتقرت حب حبيبها فماذا يكون عقابها؟.</p>
<p><strong>بعيد الخلاص من الخطاة </strong><strong>&#8230;</strong></p>
<p>الرب يسوع جاء يطلب ويخلص الخطاة وهو لا يشاء موت الخاطئ، ويريد أن الكل يخلصون، فكيف يكون الخلاص بعيداً من الخطاة؟!.</p>
<p>لقد كان يسوع في بيت سمعان الفريسي يجلس بجواره ولكن كان سمعان بعيداً جداً عنه، وكان يهوذا تلميذاً للرب ولكنه كان بعيداً عن الخلاص.</p>
<p><strong>لأنهم لم يطلبوا حقوقك </strong><strong>&#8230;</strong></p>
<p>كيف تقدرون أن تؤمنوا وأنتم تقبلون مجداً بعضكم من بعض. هكذا النفوس التي ترفض الحق الإلهي تلقي بذاتها بعيداً عن خلاص الرب.</p>
<p></p>
<h4><span class="ez-toc-section" id="%D8%A7%D9%84%D8%A5%D9%86%D8%AC%D9%8A%D9%84_%D9%85%D8%AA_23_37-_24_1%D8%8C_2"></span>الإنجيل (مت 23 : 37- 24: 1، 2)<span class="ez-toc-section-end"></span></h4>
<p>يختم الإنجيل بمحاولات الرب المُستمرِّة مع شعبه وقادتهم، ورفضهم المُستمر، ودينونتهم وخراب موضع افتخارهم ومجدهم، وهذا ما حدث بعدها بأقل من أربعين سنة &#8220;لا يمضي هذا الجيل&#8221; على يد تيطس القائد الروماني وخربت أورشليم كلها:</p>
<p>&#8220;يا أورشليم يا أورشليم يا قاتلة الأنبياء وراجمة المرسلين إليها كم من مرة أردت أن أجمع بنيك كما يجمع الطائر فراخه تحت جناحيه فلم تريدوا هوذا بيتكم يترك لكم خراباً&#8221;.</p>
<p></p>
<p></p>
<h3><span class="ez-toc-section" id="%D8%A7%D9%84%D8%B3%D8%A7%D8%B9%D8%A9_%D8%A7%D9%84%D8%B3%D8%A7%D8%AF%D8%B3%D8%A9_%D9%85%D9%86_%D9%8A%D9%88%D9%85_%D8%A7%D9%84%D8%AB%D9%84%D8%A7%D8%AB%D8%A7%D8%A1"></span>الساعة السادسة من يوم الثلاثاء<span class="ez-toc-section-end"></span></h3>
<p>تتحدَّث هذه القراءات عن:</p>
<p>الابن الذي هو ديَّان العالم. (النبوَّة الأولى).</p>
<p>والحق الذي نُعلنه (النبوَّة الثانية).</p>
<p>وقدِّوسنا (النبوَّة الثالثة).</p>
<p>ونجاتنا (المزمور).</p>
<p>ونورنا الدائم (الإنجيل).</p>
<p></p>
<h4><span class="ez-toc-section" id="%D8%A7%D9%84%D9%86%D8%A8%D9%88%D9%91%D9%8E%D8%A9-2"></span>النبوَّة<span class="ez-toc-section-end"></span></h4>
<p><strong>النبوَّة الأولى</strong> (حز 21: 3- 13)</p>
<p>تبدأ النبوَّة برسم صورة الدينونة وسببها وخطورة الاستهانة بها وعدم الانسحاق استعدادا لها:</p>
<p>&#8220;هكذا يخرج سيفي من غمده على كل ذي جسد من المغرب إلى الشمال، ويعلم كل ذي جسد أني أنا هو الرب&#8230; أما أنت يا ابن الإنسان فتنهد بتنهد قراك وبانسحاق الحزن تتأوه أمام عيونهم.</p>
<p><strong>النبوَّة الثانية</strong> (سيراخ 4: 23- 5: 1، 2)</p>
<p>تتكلم هذه النبوَّة عن خطورة عدم إعلان الحق والشهادة له، والأخطر مُقاومته خجلاً أو خوفاً من الناس:</p>
<p>&#8220;لا تقاوم الحق وتستحي من جهالتك لا تستحي أن تعترف بخطاياك&#8230; جاهد عن الحق إلى الموت لكي يقاتل الله عنك&#8221;.</p>
<p><strong>النبوَّة الثالثة</strong> (إش 1: 1- 9)</p>
<p>تأتي النبوَّة هنا مُكمِّلة للنبوَّة الأولى التي قالت إن خطايا الشعب من المغرب إلى الشمال، أمَّا هنا فيقول إن الخطايا من تحت إلى فوق والدينونة آتية ويُؤخِّرها البقية الباقية:</p>
<p>&#8220;أما إسرائيل فلم يعرفني وشعبي لم يفهمني&#8230; تركتم الرب عنكم وأغضبتم قدوس إسرائيل&#8230; كل رأس للوجع وكل قلب للحزن من أخمص القدم إلى قمة الرأس ليس فيه صحة&#8230; ولولا أن رب الجنود أبقى لنا بقية صغيرة لصرنا مثل سدوم وشابهنا عمورة&#8221;.</p>
<p></p>
<h4><span class="ez-toc-section" id="%D8%A7%D9%84%D9%85%D8%B2%D9%85%D9%88%D8%B1_%D9%85%D8%B2_%D9%A1%D9%A2%D9%A1_4"></span>المزمور (مز ١٢١: 4)<span class="ez-toc-section-end"></span></h4>
<p>&#8220;منقذي من أعدائي الراجزين ومن الذين يقومون علي ترفعني ومن الرجل الظالم تنجيني يخلصني من أعدائي الأشداء ومن أيدي الذين يبغضونني&#8221;.</p>
<p>تشرح النبوَّة هنا الله الذي يُنجِّي أولاده من الشدائد والضيقات،</p>
<p>ولعل هذه الآيات تشرح كثرة المُضايقين والمُضطهدين مثلما كان مع حمل الله من الأعداء وهم الرومان والذين يقومون عليه مثل اليهود ومن الرجل الظالم الذي هو يهوذا ومن الأعداء الأشداء أي الرومان أيضاً.</p>
<p><strong>الرابط بين المزمور والإنجيل</strong> (القمص لوقا سيداروس)<a href="#_ftn4" name="_ftnref4">[4]</a></p>
<p><strong>أعدائي الراجزين، أعدائي الأشداء</strong><strong>&#8230;</strong></p>
<p>هكذا يدعوا المزمور جماعات الفريسيين الذين وقفوا أمام السيد المسيح أعداء من أجل أنهم أبغضوا النور (المسيح) وخضعوا لروح العدو الشرير (روح الظلمة)، وهم يتكلمون مع الرب بقوة وعنف&#8230; وهم أشداء في ساعتهم وسلطان الظلمة ولكنهم ضعفاء جداً أمام النور الالهي.</p>
<p><strong>يقومون علي&#8230; يبعضونني</strong><strong>&#8230;</strong></p>
<p>لأن النور يفضح أعمالهم أنها شريرة، لهذا فالباطل يبغض الحق والعالم يبغض المؤمنين، والشر يبغض السلام، والنجاسة تبغض الطهارة&#8230; والرب يكشف لنا سر الغلبة والنصرة في الاتحاد به، &#8220;أنا غلبت العالم&#8221; والإنسان الذى يعيش في قوة المسيح يغلب الأعداء الراجزين.. يغلب الشهوات والكذب والحقد&#8230;  وفى المسيح فقط تكتشف النفس ضعف الأعداء الأشداء.</p>
<p><strong>من أيدي الذين يبغضونني</strong><strong>&#8230; </strong></p>
<p>يشير المزمور إلى ما جاء في إنجيل هذه الساعة &#8220;لم يمسكه أحد، لأن ساعته لم تكن قد جاءت بعد&#8221; (يو8: 12- 20).</p>
<p></p>
<h4><span class="ez-toc-section" id="%D8%A7%D9%84%D8%A5%D9%86%D8%AC%D9%8A%D9%84_%D9%84%D9%88_%D9%A2%D9%A1_%D9%A3%D9%A4-_%D8%A7%D9%84%D8%AE"></span>الإنجيل (لو ٢١: ٣٤– الخ)<span class="ez-toc-section-end"></span></h4>
<p>يختم الإنجيل بابن الله نورنا في العالم والذي يهبنا نور الحياة:</p>
<p>&#8220;أنا هو نور العالم ومن يتبعني لا يمشي في الظلمة بل يكون له نور الحياة&#8221;.</p>
<p></p>
<h3><span class="ez-toc-section" id="%D8%A7%D9%84%D8%B3%D8%A7%D8%B9%D8%A9_%D8%A7%D9%84%D8%AA%D8%A7%D8%B3%D8%B9%D8%A9_%D9%85%D9%86_%D9%8A%D9%88%D9%85_%D8%A7%D9%84%D8%AB%D9%84%D8%A7%D8%AB%D8%A7%D8%A1"></span>الساعة التاسعة من يوم الثلاثاء<span class="ez-toc-section-end"></span></h3>
<p>في هذه القراءات تأتي النهاية، نهاية الأرض وكل شيء عليها، والوقوف أمام عرش الله وكرسي الدينونة:</p>
<p>فتبدأ بالطوفان كشبيه للنهاية في المُفاجأة (سفر التكوين).</p>
<p>وكيفية الاستعداد لها بالحكمة (أمثال سليمان).</p>
<p>ونبوات واضحة عن مجيئه الثاني (حزقيال ودانيال).</p>
<p>وصراخ النفس عند الموت لئلا تشمت بها الشياطين (المزمور).</p>
<p>وعلامات النهاية (الإنجيل).</p>
<p></p>
<h4><span class="ez-toc-section" id="%D8%A7%D9%84%D9%86%D8%A8%D9%88%D9%91%D9%8E%D8%A9-3"></span>النبوَّة<span class="ez-toc-section-end"></span></h4>
<p><strong>النبوَّة الأولى</strong> (تك ٦: ٥- إلخ، ص ٧، ص ٨، ص ٩: ١– ٦)</p>
<p>تحكي هذه القصَّة فساد الطبيعة البشرية بالخطيّة وازدياد الشر لدرجة أن يُبيد الله كل كائن حي لأجل بداية جديدة ونرى هنا نهاية يعقبها بداية أخرى ووعد جديد:</p>
<p>&#8220;ولما رأي الرب الإله أن شرور الناس قد كثرت على الأرض وأن كل واحد قد مال بقلبه كثيراً إلى الشر كل الأيام&#8230; وفكر الرب الإله في قلبه وقال: إني مبيد عن وجه الأرض الإنسان الذي خلقته من الإنسان إلى البهائم&#8230; وأما نوح فوجد نعمة أمام الرب الإله&#8230; فنظر الرب الإله إلى الأرض فإذا هي قد فسدت لأن كل ذي جسد قد نجس طريقه على الأرض فقال الرب الإله لنوح: إن أجل (نهاية) كل بشر قد اقترب أمامي لأن الأرض امتلأت ظلماً منهم وها أنا مهلكهم والأرض معاً&#8221;.</p>
<p>كما أوصي الله نوح بصنع الفُلْك الذي كان مثال لجسد الكلمة الذي سيُخلِّص البشر في ملء الزمان من طوفان الخطية والشر وسلطان الشيطان، فقد كانت أبعاده ثلاث مئة ذراع طولاً وخمسين ذراع عرضاً وثلاثين ذراع ارتفاعاً أي أن طوله ستة مرّات كمثل عرضه وعشر مرّات كمثل عُمقه وهذه هي أبعاد جسد الإنسان في كمال رجولته يكون طوله ستَّة مرّات عرضه وعشر مرّات عُمقه (البطن)، أي أن الفُلْك في أبعاده كان يرمز لجسد الكلمة،</p>
<p>كما أن الرب أوصاه بأن يكون باب الفلك في جانبه وهو الذي دخل وخرج منه الذين نجوا من الطوفان إشارة إلى جنب يسوع المصلوب وجراحاته الإلهية التي جدَّدت الطبيعة البشرية وصارت كفَّارة لخطايا كل العالم.</p>
<p>وفي هذا المعني يقول القديس أغسطينوس:</p>
<p>[الفلك بلا شك هو رمز مدينة الله في رحلتها عبر التاريخ.. هو رمز للكنيسة التي خلصت بالخشبة التي علق عليها &#8220;الشفيع بين الله والناس الانسان يسوع المسيح&#8221; (١تي ٢: ٥).</p>
<p>فان مقاييس الفلك ذاتها من طول وارتفاع وعرض انما عني بها حقيقة الجسد الانساني لذا جاء فيه &#8220;الكلمة المتجسد&#8221;، كأنما كانت نبوة عن مجيئه، فأننا نذكر أن طول الجسد العادي من الرأس الى القدمين هو ٦ أضعاف العرض من جانب إلى آخر، و١٠ أضعاف السمك من الظهر إلى الصدر… لهذا جاء الفلك في أبعاده ٣٠٠ ذراعاً طولاً، ٥٠ عرضاً، ٣٠ ارتفاعاً.</p>
<p>أمًا عن الباب الذي في الجنب فبالتأكيد يشير إلى الجرح المفتوح حيث طعن المصلوب بالحربة في جنبه، إنه الباب الذي يدخل فيه القادمون إليه، بمعنى أن المؤمنين يدخلون الكنيسة من خلال الأسرار النابعة عن هذا الجرح.</p>
<p>لقد أمر أن يقام الفلك من لوائح مربعة &#8211; رمز للأربعة: أي الثبات في الحياة المقدسة التي تشبه المكعب حيث تقف بثبات كيفما وضعت.</p>
<p>على هذا المنوال تكون جميع تفاصيل تكوين الفلك رموزاً لجوانب في الكنيسة].<a href="#_ftn5" name="_ftnref5">[5]</a></p>
<p>ويشرح الآباء القديسين كيف تكون الكنيسة سفينة النجاة من الدينونة كما ذكر القمص متياس نصر:</p>
<p><strong>[</strong>وترمز السفينة إلى الكنيسة التي تقاومها أمواج الاضطرابات والتجارب، والرب في طول أناته يبدو نائما حتى اللحظة الأخيرة، وعندما توقظه صلوات القديسين يُبكم العالم ويرد السلام لأولاده. (القديس كيرلس الكبير).</p>
<p>كما أن الخلاص قد أتى في أيام نوح بواسطة الخشبة والماء، وهناك بدء لخليقة جديدة، وكما يقولون، فإن الروح القدس نزل على نوح الحقيقي مُنشيء الخليقة الجديدة حينما حلت الحمامة الوحيدة الروحية عليه وقت عماده، كما يظهر لنا أنه هو هو بعينه، وبواسطة خشبة الصليب يهب الخلاص للمؤمنين، كما أنه هو أيضا الذي في وقت المساء بموته وهب نعمة الخلاص العالم، ولقد وُجدت في ذهن الله قبل الخليقة ومن أجلها خلق العالم. (القديس كيرلس الأورشليمي)</p>
<p>أُرسل الغراب من الفلك ولم يرجع، وبعده أعلنت الحمامة السلام للأرض، هكذا في معمودية الكنيسة يُطرد الشيطان الذى يشير للغراب وتعلن الحمامة (الروح القدس) السلام لأرضنا. (القديس جيروم)</p>
<p>نوح في الفلك قد أسكن البهيم في أسفله، وجعل الطير في وسطه، ومثل الله حل هو في أعلاه. والشعب حيال جبل سيناء ترك في أسفله، والكهنة في دارته، وهارون في وسطه، وموسى في قمته وذو المجد في قبته. إن سر أجزاء جنة الحياة قد مثله الله بالفلك وبجبل سيناء، فبتركيبها صورة لنا مثال الفردوس بعلوه وروعته وطيوبه وأنواعه، إنه ميناء الكنوز كافة مثال الكنيسة. (مار إفرام السرياني)<strong>]<a href="#_ftn6" name="_ftnref6"><sup>[6]</sup></a></strong></p>
<p>ولكن على الجانب الآخر يأتي السؤال المشهور :</p>
<p>أين حنوّ الله ومراحمه ومحبته للبشرية في قصة الطوفان؟..  ورُبَّما يأتي دائما هذا السؤال عند وقوع كوارث للبشر</p>
<p>العجيب هو قول القديس بطرس عن ما حدث في الطوفان &#8220;حين كانت أناة الله تنتظر مرة في أيام نوح&#8221; (١بط ٣: ٢٠)، وإذا عرفنا أن بناء الفلك استغرق حوالي مائة عام ندرك معنى كلمة أناة الله،</p>
<p>لكن رُبَّما يقول أحدهم: لماذا أفنى الله البشر حتي ولو بعد مائة عام؟</p>
<p>يأتي الرد هنا من الليتورجيا، من طلبة المساء في البصخة المُقدَّسة :</p>
<p>يا من خلصت عبدك نوحاً البار ونجيته من الطوفان هو وبنوه ونساءهم وأيضاً الحيوانات الطاهرة وغير الطاهرة لأجل تجديد الأرض مرة أخرى نسألك يا رب اسمعنا وارحمنا.</p>
<p>فما ندعوه كبشر فناء كان في الحقيقة تجديد للأرض، فبعد زيادة الشر وتفاقمه بين الناس، وفساد الأرض من أفعال البشر، ورفض دعوة الله المتكرِّرة بالتوبة سنة بعد سنة حتي مائة سنة كان يجب وقف نزيف الشر إشفاقاً على الأرض:</p>
<p>&#8220;ولم يشفق على العالم القديم، بل إنما حفظ نوحا ثامنًا كارزًا للبر، إذ جلب طوفانًا على عالم الفجار&#8221; (٢بط ٢: ٥).</p>
<p>ورُبَّما لا أبالغ القول إذا قلت أن الله لم يشفق على البشر لأجل البشر ، ولم يشفق على الأرض لأجل الأرض، بمعنى أنه لو أن الله ترك العالم دون طوفان لكان البشر سيفنون أنفسهم بأنفسهم ولم يبقي جسد، حتي نوح نفسه وأسرته.</p>
<p>ضحايا الحرب العالمية الثانية حوالي ستين مليون شخص!!، وماذا لو انتصر هتلر واستمر فناء البشر بيد أنفسهم.</p>
<p>وما أجمل تفسير الآباء القديسين (القديسين أثناسيوس وكيرلس وإيرونيموس) للنص الكتابي (١بط ٣: ١٩) الخاص بكرازة الأرواح في السجن أنه يخص الناس أيَّام نوح، والذين وجدوا الماء حولهم من كل جانب وصرخوا إلى الله بندم وتوبة، وقَبِلَ الله صراخهم وتوبتهم.<a href="#_ftn7" name="_ftnref7">[7]</a></p>
<p>أي أن الطوفان في النهاية كان (إن جاز التعبير) الطريقة التي استخدمها الله لخلاصهم، وليس لفنائهم!، ورُبَّما يكون هذا معنى قول الكتاب &#8220;وأضع للحكم &#8211; الدينونة في ترجمة أخرى- رجاء&#8221; (إش ٢٨: ٦١ حسب الترجمة القبطية للنص).</p>
<p>كما نرى -على الجانب الآخر- أننا الآن نعيش في قصة طوفان هذا العالم الزائل (كما نصلي في طلبات البصخة المُقدَّسة)، بمعنى أن من يرفض فلك النجاة الذي هو الكنيسة ويعيش خارجها لا يدرك أنه غارق في طوفان العالم، والفارق بين أيام نوح وأيامنا هو موت البشر جسدياً، لكن الآن موتهم روحياً ونفسياً واجتماعيًا، وما نراه الآن من مخدرات ودعارة وظلم يقود إلى ضياع معنى الحب الباذل والأسرة والعطاء، وتأله الذات، فيضيع المعنى والقيمة والهويَّة، وينحدر الإنسان من فراغ إلى فراغ، وربَّما يكون هذا معنى هذا النص الكتابي اليوم،</p>
<p>فالخلاص الذي تعلنه الكنيسة هو كرازة نوح للعالم، وطوباه من يستجيب وينجو، والحزن الشديد على من يعاند ويرفض فيغرق نفسه بنفسه في طوفان العالم.</p>
<p></p>
<p><strong>النبوَّة الثانية</strong> (أم 9: 1- 11)</p>
<p>تُعْلِن هذه النبوَّة عن الكنيسة فُلك الخلاص من طوفان العالم بأسرارها السبعة ومائدتها المُقدَّسة المُشبعة:</p>
<p>&#8220;الحكمة بنت لها بيتاً ونصبت فيه سبعة أعمدة ذبحت ذبائحها ومزجت خمرها في البواطي (الأواني) وهيأت مائدتها&#8221;.</p>
<p>كما تُعْلِن النبوَّة أيضا عن كيفية الاستعداد للنهاية بالحكمة ومخافة الله، وكيف نعيش سنينا على الأرض بفهم ومعرفة إلهية عوضاً عن الجهل الذي يعيشه الأشرار:</p>
<p>&#8220;أطلبوا الحكمة لتعمروا&#8230; رأس الحكمة مخافة الرب، ومشورة القديسين فهم ومعرفة للناموس، هي الفكر الصالح بهذا المثال تعيش زماناً طويلاً وتزداد لك سنو الحياة&#8221;.</p>
<p></p>
<p><strong>النبوة الثالثة</strong> (إش 40: 9- إلخ)</p>
<p>وهنا تأتي النبوَّة الثالثة بعد الأولى وتجديد البشرية بالطوفان الذي جعل نهاية للشر والفساد، وتأتي النبوَّة الثانية لتُشير إلى اقنوم الابن (الحكمة) والاحتياج له لأجل الحياة الجديدة، ونرى في النبوَّة الثالثة هنا تحقيق هذا الاحتياج بنهاية فساد الطبيعة البشرية في ملء الزمان بتجسّد الكلمة واستعلان أبوّة الله الآب ورعايته في المسيح لنفوس العهد الجديد:</p>
<p>&#8220;اصعد على جبل عال يا مبشر صهيون ارفع صوتك بقوة يا مبشر أورشليم ارفع صوتك بقوة ولا تخاف قل لمدن يهوذا : هوذا ربكم آتٍ بقوة وذراعه تحكم له هوذا أجرته معه وعمله قدّامه كراعٍ يرعي قطيع غنمه وبذراعه يجمع الحملان ويعزي الحبالى&#8221;.</p>
<p></p>
<p><strong>النبوَّةالرابعة</strong> (دا 7: 9- 15)</p>
<p>في هذه النبوَّة رأى دانيال النبي رؤيتان:</p>
<p>الأولي تتكلّم عن نهاية العالم ونهاية سلاطين البشر والشر والوقوف أمام عرش الله للدينون:</p>
<p>&#8220;أنا دانيال رأيت في رؤى الليل كنت أرى أنه وضعت عروش وجلس العتيق الأيام &#8230; وربوات ربوات وقوف قدّامه فجلس الديان وفتحت الأسفار&#8230; وكنت أنظر حتى قتل الوحش وهلك ودفع جسمه ليحرق بالنار&#8221;.</p>
<p>والرؤية الثانية تتكلّم عن تجسّد الكلمة، ورُبَّما ما رَآه النبي هنا كأنه كان ينظر من السماء وقت صعود الرب بالجسد إلى السماء ليقف أمام الله الآب مُعلناً بفدائه وخلاصه وقيامته وصعوده تمام الفداء، فأعاد إلى البشرية السلطان والقوة والمجد والملكوت، لذلك أُسْتِعْلن هذا الخلاص لجميع الأمم التي آمنت به وجاءت في شخص المجوس تسجد وتتعبَّد له:</p>
<p>&#8220;ثم رأيت في رؤى الليل وإذا مع سحب السماء مثل ابن الإنسان آتياً على سحاب السماء، فبلغ وجاء إلى العتيق الأيام فقربه أمامه، فأعطى له الرئاسة والكرامة والملك وجميع الشعوب والأسباط ولغات الألسن تتعبد له&#8221;.</p>
<p><strong>النبوَّة الخامسة</strong> (أم 8: 1- 12)</p>
<p>وتُخْتَم النبوّات بالدعوة إلى قبول الابن الكلمة (الحكمة) الذي هو أفضل من كل ما للعالم وأكثر ضماناً للإنسان طول حياته في محبة الله:</p>
<p>&#8220;الحكمة أفضل من الجواهر الكريمة وكل النفائس لا تساويها أنا الحكمة خلقت المشورة ودعوت إلى الفكر ومحبّة الله والفهم&#8221;.</p>
<p></p>
<h4><span class="ez-toc-section" id="%D8%A7%D9%84%D9%85%D8%B2%D9%85%D9%88%D8%B1_%D9%85%D8%B2_24_1%D8%8C_2"></span>المزمور (مز 24: 1، 2)<span class="ez-toc-section-end"></span></h4>
<p>لذلك تصرخ النفس في هذا المزمور لئلا يشمت بها العدو الشيطان ولكي يحفظها الله إلى الأبد دون خزي:</p>
<p>&#8220;إليك يا رب رفعت نفسي إلهي عليك توكلت فلا تخزني إلى الأبد ولا تُضحك بي أعدائي فليخز الذين يصنعون الإثم باطلاً &#8220;.</p>
<p><strong>الرابط بين المزمور والإنجيل</strong> (القمص لوقا سيداروس)<a href="#_ftn8" name="_ftnref8">[8]</a></p>
<p><strong>إليك يا رب رفعت نفسي.. فلا تخزني إلى الأبد..</strong></p>
<p>هنا يتكلم المزمور باسم جماعة المؤمنين العاملين مشيئة المخلص الذين ألقوا رجاءهم عليه، ويطلب من الآب ألا يخيب رجاءهم في الخلاص، وألا يشمت بهم أعداءهم. فالمزمور يعبر عن حالة رفع النفس في الصلاة.</p>
<p><strong>ولا تضحك بي أعدائي.. ليخز الذين يصنعون الإثم باطلاً</strong><strong>&#8230;</strong></p>
<p>الأعداء يضحكون من النفس التائبة عن الصليب (يضلون كثيرين) إن قالوا لكم ها هو في البرية فلا تخرجوا&#8230; لا تصدقوا كل روح&#8230; وهذا يشير إلى أن النفس المتحصنة والمحتمية بالكنيسة تصبح في أمان من الوقوع في الانحرافات الإيمانية في خارج الكنيسة. ويضحك الأعداء عندما يتصورون أنهم انتصروا حينما يسلمون أولاد الله إلى الضيق ولكن لا يدوم ضحكهم طويلاً &#8220;الويل لكم أيها الضاحكون الآن&#8221;.</p>
<p>وأخيراً يشير إلى أن خزي الهلاك هو من نصيب الأشرار أبناء قتلة الأنبياء.</p>
<p></p>
<h4><span class="ez-toc-section" id="%D8%A7%D9%84%D8%A5%D9%86%D8%AC%D9%8A%D9%84_%D9%85%D8%AA_24_3-35"></span>الإنجيل (مت 24: 3-35)<span class="ez-toc-section-end"></span></h4>
<p>ثم يأتي الإنجيل بعلامات النهاية من:</p>
<p>الحروب الكثيرة بين الدول &#8220;تقوم أمة على أمة ومملكة على مملكة&#8221;.</p>
<p>والكوارث الطبيعية &#8220;وتكون زلازل ومجاعات وأوبئة&#8221;.</p>
<p>وضيقات المؤمنين &#8220;وتكونون مُبغضين من جميع الأمم لأجل إسمي&#8221;.</p>
<p>والأنبياء والمُسحاء الكذبة &#8220;ويقوم كثيرون من الأنبياء الكذبة&#8221;.</p>
<p>والآيات والعجائب الكاذبة &#8220;فإنه سيقوم مسحاء كذبة وأنبياء كذبة ويعطون آيات عظيمة وعجائب&#8221;.</p>
<p>والعلامات في الطبيعة نفسها &#8220;وللوقت بعد ضيق تلك الأيام تظلم الشمس والقمر لا يعطي ضوءه والكواكب تتساقط من السماء&#8221;.</p>
<p>إلى مجيء ابن الإنسان في مجده &#8220;ويبصرون ابن الإنسان آتياً على سحب السماء بقوة ومجدٍ عظيمٍ&#8221;.</p>
<p></p>
<p></p>
<h3><span class="ez-toc-section" id="%D8%A7%D9%84%D8%B3%D8%A7%D8%B9%D8%A9_%D8%A7%D9%84%D8%AD%D8%A7%D8%AF%D9%8A%D8%A9_%D8%B9%D8%B4%D8%B1_%D9%85%D9%86_%D9%8A%D9%88%D9%85_%D8%A7%D9%84%D8%AB%D9%84%D8%A7%D8%AB%D8%A7%D8%A1"></span>الساعة الحادية عشر من يوم الثلاثاء<span class="ez-toc-section-end"></span></h3>
<p>تأتي قراءات هذه الساعة لتُظهر مكافأة الأبرار ودينونة الأشرار لذلك نرى نور الله الأبدي الذي:</p>
<p>يشفي كل أوجاعنا (نبوَّة إشعياء).</p>
<p>وينير حياتنا على الأرض (أمثال سليمان).</p>
<p>ومكافأته لعبيده الأمناء ولأعمال المحبّة (الإنجيل).</p>
<p></p>
<h4><span class="ez-toc-section" id="%D8%A7%D9%84%D9%86%D8%A8%D9%88%D9%91%D9%8E%D8%A9-4"></span>النبوَّة<span class="ez-toc-section-end"></span></h4>
<p><strong>النبوَّة الأولى</strong> (إش 30: 25- الخ)</p>
<p>هذه النبوَّة تتكلّم عن غنى تعويض الله لأولاده المُتألمين بنوره الأبدي الذي سيشفي كل الآلام والأوجاع:</p>
<p>&#8220;ويكون نور القمر كنور الشمس ونور الشمس يصير سبعة أضعاف في ذلك اليوم إذا ما جبر الرب كسر شعبه وداوى ضربات جراحه&#8230; ومجد هو كلام شفتيه&#8221;.</p>
<p>وإذا كان كلام شفتيه هو مجد للأبرار لكنه في ذات الوقت هو رعب للأشرار:</p>
<p>&#8220;فيسمعهم الله جلال صوته ويظهر نزول غضب ذراعه&#8221;.</p>
<p></p>
<p><strong>النبوَّة الثانية</strong> (إش 30: 25- الخ)</p>
<p>وتُظهر هذه النبوَّة أيضاً أهمّية وبركات كلام شفتيه:</p>
<p>&#8220;لأن وصيَّة الله مصباح والناموس نور كل السبل لأنه الأدب يكسب طريقه طول العمر&#8221;.</p>
<p>وكيف تؤذي الخطية صاحبها في النهاية:</p>
<p>&#8220;أيضم أحد جمر نار في حضنه ولا تحترق ثيابه؟ أم يمشي أحد على جمر نار ولا تكتوي رجلاه؟&#8221;.</p>
<p></p>
<p></p>
<h4><span class="ez-toc-section" id="%D8%A7%D9%84%D9%85%D8%B2%D9%85%D9%88%D8%B1_%D9%85%D8%B2_44_9%D8%9B_40_1"></span>المزمور (مز 44: 9؛ 40: 1)<span class="ez-toc-section-end"></span></h4>
<p>&#8220;كرسيك يا الله إلى دهر الدهور قضيب الاستقامة هو قضيب ملكك طوبى للذي يتفهم في أمر المسكين والفقير في يوم السوء ينجيه الرب&#8221;.</p>
<p>تأتي هنا مُكافأة الله لمن خدموا إخوتهم وأعطوا للفقراء والمساكين والمعوزين فاستحقوا أن ينالوا النجاة من الدينونة &#8220;في اليوم السوء&#8221; أي اليوم المخوف المرهوب.</p>
<p>كما يُشير أبونا تادرس يعقوب ملطي إلى مزمور ٤٠، مزمور ١ بكونهما يُشيران إلى آلام المسيح له المجد:</p>
<p>[المزموران نبويان، يتحدثان عن مقاومة الأشرار للسيد المسيح، وآلامه، ونصرته. أشار السيد المسيح إلى هذا المزمور (٤١) بكونه نبوة عن خيانة يهوذا له (يو ١٣: ١٨)، كما أشار إليه القديس بطرس (أع ١: ١٦)].<a href="#_ftn9" name="_ftnref9">[9]</a></p>
<p></p>
<p><strong>الرابط بين المزمور والإنجيل</strong> (القمص لوقا سيداروس)<a href="#_ftn10" name="_ftnref10">[10]</a></p>
<p><strong>كرسيك يا الله إلى دهر الدهر</strong><strong> &#8230; </strong></p>
<p>ليس إلى يوم الدينونة فقط ولكن أمس واليوم وإلى الأبد، وإن كنت وضعت قليلاً من الملائكة، ولكن الملائكة تخدمك منذ الأزل وتخدمك في أيام إخلائك لذاتك، وتنازلك العجيب في التجربة على الجبل..</p>
<p>صارت الملائكة تخدمه، وفى البستان ظهر له ملاك من السماء يقويه ويقول له: لك القوة والمجد، وتخدمك في مجدك، في الدينونة يرسل ملائكته &#8230; يجلس على كرسي مجده وجميع الملائكة القديسين حوله، تخدمه إلى دهر الدهور.</p>
<p>وإن تكلمت مع تلاميذك عن كرسي مجدك فكرسيك إلى دهر الدهور، فأنت الجالس على الشاروبيم وأنت الكائن في السماء كل حين، وأنت الذى قلت: &#8220;السماء كرسي لي&#8221; وإن جلست على الأرض في وسط التلاميذ فالأرض موطئ قدميك.</p>
<p><strong>شهادة لإسرائيل</strong> &#8230;</p>
<p>هذه القبائل الصاعدة تشهد لإسرائيل الجديد .. للخلاص الذى عمله المسيح على الصليب وشهادة ضد العالم، فالأطهار شهدوا ضد نجاسة العالم، والنساك شهدوا ضد الذين أغراهم واجتذبهم العالم بمباهجه وملذاته .</p>
<p><strong>يعترفون لاسم الرب</strong> &#8230;</p>
<p>هذه هي تسبحة المختارين الذين شهدوا للرب أمام العالم .. وتظل شهادتهم قائمة حتى مجيء الرب يسوع ويعترفون باسمه أنه صالح وأن إلى الأبد رحمته.</p>
<p></p>
<p><strong>الإنجيل</strong> (مت 25: 14- الخ، 26: ٢،١)</p>
<p>هنا تأتي المُكافأة للعبيد أي الخدّام والرعاة على أمانتهم واجتهادهم فيستحقوا الفرح السماوي الذي يفوق كل تصورات البشر:</p>
<p>&#8220;فجاء الذي أخذ الخمس الوزنات وقدم خمس وزنات أخر قائلاً : يا سيد خمس وزنات سلمتني وهذه خمس وزنات أخري ربحتها فقال له سيده: نعماً أيها العبد الصالح والأمين قد وجدت أميناً في القليل فسأقيمك علي الكثير أدخل إلي فرح سيدك&#8221;.</p>
<p>ويأتي العقاب لمن طمروا وزناتهم في أمور الأرض وصراعاته وإغراءاته فلم يكن لهم ثمر في خدمتهم ولم يكتفوا بهذا بل ألقوا اللوم على سيدهم واستخدموا أعذار كثيرة للهرب من مسؤولياتهم:</p>
<p>&#8220;فأجاب سيده وقال له: أيها العبد الشرير والكسلان إن كنت قد علمت أني أحصد من حيث لم أزرع وأجمع من حيث لم أبذر فكان ينبغي لك أن تسلم فضتي إلى الصيارفة وكنت متي جئت أستلمها مع ربحها، خذوا منه الوزنة &#8230; وذلك العبد البطال ألقوه في الظلمة الخارجية&#8221;.</p>
<p>والظلمة الخارجية هنا بمقارنة بالنور الإلهي الذي يناله الأبرار الذي جاء في نبوّات هذه الليلة.</p>
<p>كما تأتي المكافأة لكل المؤمنين على أعمال المحبّة مهما كانت بسيطة:</p>
<p>&#8220;حينئذ يقول الملك للذين عن يمينه: تعالوا إليَّ يا مباركي أبي رثوا الملك المعد لكم منذ إنشاء العالم، لأني جعت فأطعمتموني وعطشت فسقيتموني &#8230; حينئذ يجيبه الصديقون قائلين: يا رب متى رأيناك جائعاً فأطعمناك &#8230; فيجيب الملك ويقول لهم: الحق أقول لكم إنكم كلما فعلتم ذلك بأحد إخوتي هؤلاء الصغار فبي فعلتموه&#8221;.</p>
<p>وهنا الربط واضح أيضاً مع مزمور الساعة الحادية عشر والتطويب لمن يتفهَّم في أمر المسكين والفقير.</p>
<p>كما ينزل العقاب على قساوة القلب وغلق الأحشاء تجاه المحتاجين والمُتألِّمين:</p>
<p>&#8220;حينئذ يقول للأشرار الذين عن يساره: اذهبوا عني يا ملاعين إلى النار الأبديّة المعدة لإبليس وملائكته لأني جعت فلم تطعموني وعطشت فلم تسقوني&#8230;&#8221;.</p>
<p></p>
<h3><span class="ez-toc-section" id="%D9%85%D9%86_%D9%88%D8%AD%D9%8A_%D9%82%D8%B1%D8%A7%D8%A1%D8%A7%D8%AA_%D9%8A%D9%88%D9%85_%D8%A7%D9%84%D8%AB%D9%84%D8%A7%D8%AB%D8%A7%D8%A1"></span>من وحي قراءات يوم الثلاثاء<span class="ez-toc-section-end"></span></h3>
<p><strong>ومتي رأيناك &#8230; ؟!</strong> (مت ٣٨:٢٥) ← (إنجيل الساعة الحادية عشر)</p>
<p>كُنَّا نعتقد أننا سنراك فقط في هيكلك أو في كنيستك.</p>
<p>أو سنراك أيضاً فقط في مخدعنا أو في عبادتنا.</p>
<p>لكنّنا فوجئنا بك في شوارعنا وفِي أعمالنا وفِي أبسط أمورنا اليومية.</p>
<p>فوجئنا بك في كل ما نقابله.</p>
<p>كُنَّا ننتظر أن نراك في جوعي الأكل فقط لنعطيهم وفِي المرضي والمحبوسين لنزورهم.</p>
<p>لكنّك أردت أن تفتح عيوننا علي من نقابله كل يوم وكل اليوم.</p>
<p>فنراك في مرضي الحب ممن يزعجوننا.</p>
<p>ومسجونين الخطية ممن نستكنف منهم.</p>
<p>وعطشي الإهتمام ممن أهملنا رعايتهم.</p>
<p>وها أنت تنتظر منا أن نُلقي بذور الحب المجاني كل يوم لكل من نقابله.</p>
<hr />
<p><a href="#_ftnref1" name="_ftn1">[1]</a> <sup> </sup>تفسير سفر التكوين &#8211; إصحاح ٣١ &#8211; القمص تادرس يعقوب ملطي.</p>
<p><a href="#_ftnref2" name="_ftn2">[2]</a> <sup> </sup>تأملات في مزامير الآلام &#8211; صفحة 55 &#8211; القمص لوقا سيداروس.</p>
<p><a href="#_ftnref3" name="_ftn3">[3]</a> <sup> </sup>تأملات في مزامير الآلام &#8211; صفحة 58 &#8211; القمص لوقا سيداروس.</p>
<p><a href="#_ftnref4" name="_ftn4">[4]</a> <sup> </sup>تأملات في مزامير الآلام &#8211; صفحة 46 &#8211; القمص لوقا سيداروس.</p>
<p><a href="#_ftnref5" name="_ftn5">[5]</a>  كتاب الكنيسة بيت الله صفحة ٨٧ &#8211; القمص تادرس يعقوب ملطي</p>
<p><a href="#_ftnref6" name="_ftn6">[6]</a>  الكنيسة في فكر الآباء &#8211; القمص متياس نصر منقريوس.</p>
<p><a href="#_ftnref7" name="_ftn7">[7]</a>  تفسير الإصحاح الثالث من رسالة بطرس الأولى للقمص تادرس يعقوب ملطي.</p>
<p><a href="#_ftnref8" name="_ftn8">[8]</a> <sup> </sup>تأملات في مزامير الآلام &#8211; صفحة 64 &#8211; القمص لوقا سيداروس.</p>
<p><a href="#_ftnref9" name="_ftn9">[9]</a>  تفسير المزمور &#8211; القمص تادرس يعقوب ملطي.</p>
<p><a href="#_ftnref10" name="_ftn10">[10]</a> <sup> </sup>تأملات في مزامير الآلام &#8211; صفحة 68 &#8211; القمص لوقا سيداروس.</p>

      {% endcreateArticleAccordions %}
    </section>
  {% endblock %}
  