---
layout: 'layouts/reading.html'
title: 'يوم الأربعاء من البصخة المقدسة'
permalink: special/7.html
---
  {% block content %}
    <section id="readings">
      <ul>
      {% if '[object Object],[object Object],[object Object],[object Object],[object Object]' != 'undefined' %}
      
    <li class="mb-2" x-data="{selected:false}">
  <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
    <div class="flex items-center justify-between">
      <span class="kufi">الساعة الأولى</span>
      <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
    </div>
  </button>
  <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
    <div class="p-4">
    {% makeHour '19.51:4' '43.11:46-57' '2.17:1-7' '20.3:5-15' '28.5:13-6:3' %}
    </div>
  </div>
</li>
    <li class="mb-2" x-data="{selected:false}">
  <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
    <div class="flex items-center justify-between">
      <span class="kufi">الساعة الثالثة</span>
      <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
    </div>
  </button>
  <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
    <div class="p-4">
    {% makeHour '19.41:6,1' '42.22:1-6' '2.13:17-22' '73.22:7-18' '18.27:16-20' %}
    </div>
  </div>
</li>
    <li class="mb-2" x-data="{selected:false}">
  <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
    <div class="flex items-center justify-between">
      <span class="kufi">الساعة السادسة</span>
      <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
    </div>
  </button>
  <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
    <div class="p-4">
    {% makeHour '19.83:2,5' '43.12:1-8' '2.14:13-15:1' '23.48:1-6' '73.23:7-14' %}
    </div>
  </div>
</li>
    <li class="mb-2" x-data="{selected:false}">
  <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
    <div class="flex items-center justify-between">
      <span class="kufi">الساعة التاسعة</span>
      <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
    </div>
  </button>
  <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
    <div class="p-4">
    {% makeHour '19.41:5-6' '40.26:3-16' '1.24:1-9' '4.20:1-13' '20.1:10-23' %}
    </div>
  </div>
</li>
    <li class="mb-2" x-data="{selected:false}">
  <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
    <div class="flex items-center justify-between">
      <span class="kufi">الساعة الحادية عشر</span>
      <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
    </div>
  </button>
  <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
    <div class="p-4">
    {% makeHour '19.6:2' '43.12:27-36' '23.28:16-29' '' '' %}
    </div>
  </div>
</li>
      <li class="mb-2" x-data="{selected:false}">
    <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
      <div class="flex items-center justify-between">
        <span class="kufi">الساعة الأولى عشية</span>
        <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
      </div>
    </button>
    <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
      <div class="p-4">
      {% makeHour '19.69:1,16' '43.10:17-21' '26.43:5-11' '' '' %}
      </div>
    </div>
  </li>
      <li class="mb-2" x-data="{selected:false}">
    <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
      <div class="flex items-center justify-between">
        <span class="kufi">الساعة الثالثة عشية</span>
        <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
      </div>
    </button>
    <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
      <div class="p-4">
      {% makeHour '19.55:21,1' '41.14:3-11' '30.4:4-13' '' '' %}
      </div>
    </div>
  </li>
      <li class="mb-2" x-data="{selected:false}">
    <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
      <div class="flex items-center justify-between">
        <span class="kufi">الساعة السادسة عشية</span>
        <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
      </div>
    </button>
    <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
      <div class="p-4">
      {% makeHour '19.140:1,2' '43.12:36-43' '30.3:1-11' '' '' %}
      </div>
    </div>
  </li>
      <li class="mb-2" x-data="{selected:false}">
    <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
      <div class="flex items-center justify-between">
        <span class="kufi">الساعة التاسعة عشية</span>
        <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
      </div>
    </button>
    <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
      <div class="p-4">
      {% makeHour '19.7:1-2' '43.10:29-38' '26.20:27-33' '' '' %}
      </div>
    </div>
  </li>
      <li class="mb-2" x-data="{selected:false}">
    <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
      <div class="flex items-center justify-between">
        <span class="kufi">الساعة الحادية عشر عشية</span>
        <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
      </div>
    </button>
    <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
      <div class="p-4">
      {% makeHour '19.62:7,6' '43.12:44-50' '24.8:4-9' '' '' %}
      </div>
    </div>
  </li>
      {% else %}
      {% if 'undefined' != 'null' %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">العشية</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeVespers '' '' %}
          </div>
        </div>
      </li>
      {% endif %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">باكر</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeMatins 'undefined' 'undefined' '' %}
          </div>
        </div>
      </li>
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <h3 class="flex items-center justify-between">
            <span class="kufi">القداس</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </h3>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeLitugy 'undefined' 'undefined' 'undefined' 'undefined' 'undefined' %}
          </div>
        </div>
      </li>

      {% endif %}
        </ul>
    </section>
    <section id="article">
      <h3 class="mt-8 mb-4 heading-explain">شرح القراءات</h3>
      {% createArticleAccordions %}
        <p>&#8220;النَّاسُ يَنُوحُونَ عَلَى أَجْسَادِهِمْ، لكِنَّ اسْمَ الْخَطَأَةِ يُمْحَى. لِيَكُنِ اهْتِمَامُكَ بِالاِسْمِ؛ فَإِنَّهُ أَدْوَمُ لَكَ مِنْ أَلْفِ كَنْزٍ عَظِيمٍ مِنَ الذَّهَبِ.&#8221; (سيراخ ٤١: ١٤، ١٥).</p>
<p>&#8220;اجمَعوا إلَيَّ أتقيائي، القاطِعينَ عَهدي علَى ذَبيحَةٍ&#8221; (مز 50: 5).</p>
<p>[محبو الأرضيات بحثوا عن أبنية جديدة لكنك بنيت في السماء أبنية سمائية] (ذكصولوجية القديس أنبا ابرآم أسقف الفيوم والجيزة).</p>
<p>ويقول أغناطيوس الشهيد في رسالته إلى الأفسسيين:</p>
<p>[إن روحي مكرسة للصليب، الذى هو عثرة لغير المؤمنين، لكنه خلاصنا وحياتنا الأبدية]<a href="#_ftn1" name="_ftnref1">[1]</a></p>
<p></p>
<h3><span class="ez-toc-section" id="%D8%B4%D8%B1%D8%AD_%D8%A7%D9%84%D9%82%D8%B1%D8%A7%D8%A1%D8%A7%D8%AA"></span>شرح القراءات<span class="ez-toc-section-end"></span></h3>
<p>تُشير قراءات هذا اليوم إلى أربعة مواقف أو أحداث ارتبطت معاً في الأناجيل في طريق الألم حتي الصليب:</p>
<ol>
<li>مؤامرات البشر والرؤساء على المسيح له المجد.</li>
<li>إعلان الله تدبيره الإلهي والأزلي واستعلان مجده في الصليب.</li>
<li>خيانة الإنسان.</li>
<li>مجد محبّة الإنسان للمسيح.</li>
<li>فنرى هنا التدبير الإلهي يفوق ويستوعب ويستخدم حتى مؤامرات البشر في تنفيذ مشيئته،</li>
</ol>
<p style="padding-right: 40px;">ونرى كيف تقود المحبّة (الإنسان لله) إلى المجد، وتهوي الخيانة بالإنسان إلى العدم واللعن،</p>
<p style="padding-right: 40px;">ونرى الحب هو الطريق الوحيد لمعرفة الله وإدراك تدبيره وفهم قصده حتى ولو من نفوس بسيطة، الأمر الذي ربما أحياناً لا يدركه من يعتقدون أنهم كبار روحياً.</p>
<p style="padding-right: 40px;">ونرى هذه الأمور الأربعة حديث النبوّات والمزامير والأناجيل:</p>
<p></p>
<p>فنرى مؤامرات البشر والرؤساء:</p>
<p style="padding-right: 40px;">في النبوّات:</p>
<p style="padding-right: 40px;">في أمثال سليمان (الساعة الثالثة).</p>
<p style="padding-right: 40px;">وفِي سفر الخروج وفي سفر إشعياء النبي (الساعة السادسة).</p>
<p style="padding-right: 40px;">وفِي أمثال سليمان وإشعياء النبي (الساعة التاسعة).</p>
<p style="padding-right: 40px;">وإشعياء النبي (الساعة الحادية عشر).</p>
<p style="padding-right: 40px;">وأيضاً في مزمور (باكر والساعة السادسة والتاسعة).</p>
<p style="padding-right: 40px;">وفِي أناجيل (باكر والثالثة والتاسعة).</p>
<p>ونرى تدبير الله الأزلي:</p>
<p style="padding-right: 40px;">في هوشع النبي ويشوع بن سيراخ، وفِي مزمور وإنجيل باكر (الساعة الأولى).</p>
<p style="padding-right: 40px;">وفِي سفر الخروج (الساعة الثالثة).</p>
<p style="padding-right: 40px;">وفِي سفر الخروج وفِي إشعياء النبي (الساعة السادسة).</p>
<p style="padding-right: 40px;">وفِي إشعياء النبي وفِي الإنجيل (الساعة التاسعة).</p>
<p style="padding-right: 40px;">وفِي إشعياء النبي وفِي الإنجيل (الساعة الحادية عشر).</p>
<p style="padding-right: 40px;">ونرى خيانة الإنسان (مثل يهوذا):</p>
<p style="padding-right: 40px;">في سفر الخروج وفِي يشوع بن سيراخ في باكر (الساعة الأولى).</p>
<p style="padding-right: 40px;">وفِي يشوع بن سيراخ وفِي أيوب وفِي أمثال سليمان وفِي المزمور والإنجيل (الساعة الثالثة).</p>
<p style="padding-right: 40px;">وفِي إشعياء النبي وفِي يشوع بن سيراخ وفِي الإنجيل (الساعة السادسة).</p>
<p style="padding-right: 40px;">وفِي سفر العدد وفِي أمثال سليمان وفِي إشعياء وفِي زكريا النبي وفِي المزمور والإنجيل (الساعة التاسعة).</p>
<p style="padding-right: 40px;">وفِي إشعياء النبي (الساعة الحادية عشر).</p>
<p></p>
<p>ونرى محبة الإنسان لله:</p>
<p style="padding-right: 40px;">في أمثال سليمان وفِي يشوع بن سيراخ في الساعة الأولى (باكر).</p>
<p style="padding-right: 40px;">وفِي أمثال سليمان (الساعة الثالثة).</p>
<p style="padding-right: 40px;">وفِي سفر الخروج وفِي الإنجيل (الساعة السادسة).</p>
<p style="padding-right: 40px;">وفِي سفر التكوين والإنجيل (الساعة التاسعة).</p>
<p style="padding-right: 40px;">وفِي إشعياء النبي والمزمور (الساعة الحادية عشر).</p>
<p></p>
<p>كما أننا نرى في القراءات وصف تفصيلي لكل جانب من الجوانب الأربعة في الخمس ساعات:</p>
<p><strong>فنرى في مؤامرات البشر أنها:</strong></p>
<p style="padding-right: 40px;">تأتي من النفاق:</p>
<p style="padding-right: 40px;">&#8220;لأنهم يعيشون على خبز النفاق&#8221; (سفر الأمثال &#8211; الساعة الثالثة).</p>
<p style="padding-right: 40px;">وَخُبْث الشفتين:</p>
<p style="padding-right: 40px;">&#8220;وأبعد عنك الشفتين الخبيثتين&#8221; (سفر الأمثال &#8211; الساعة الثالثة).</p>
<p style="padding-right: 40px;">وقساوة القلب التي يتركهم الله فيها لعنادهم:</p>
<p style="padding-right: 40px;">&#8220;وها أنا أقسي قلب فرعون&#8221; (سفر الخروج &#8211; الساعة السادسة).</p>
<p style="padding-right: 40px;">والاستعباد للشكل دون الجوهر:</p>
<p style="padding-right: 40px;">&#8220;المدعوّين باسم إله إسرائيل الذين يذكرونه لا بالحق ولا بالعدل&#8221; (سفر إشعياء &#8211; الساعة السادسة).</p>
<p style="padding-right: 40px;">وانعدام مخافة الله فيهم:</p>
<p style="padding-right: 40px;">&#8220;وشاركوا القتلة&#8230; وأبغضوا الحكمة ولم يختاروا مخافة الرب&#8221; (سفر الأمثال &#8211; الساعة التاسعة).</p>
<p style="padding-right: 40px;">وغياب الحق والعدل وكثرة الظلم:</p>
<p style="padding-right: 40px;">&#8220;وليس من يقول الحق ولا يوجد قاضٍ عادل&#8221; (سفر إشعياء &#8211; الساعة التاسعة).</p>
<p style="padding-right: 40px;">وعدم السهر واليقظة:</p>
<p style="padding-right: 40px;">&#8220;والمتوكلون على الكذب يرتجون الباطل لأنه لا يجتازكم العاصف&#8221; (سفر إشعياء &#8211; الحادية عشر).</p>
<p></p>
<p><strong>ونرى في تدبير الله أنه:</strong></p>
<p style="padding-right: 40px;">شفانا بموته وقيامته وأعطانا نعمة الشفاء في كل ألم نجتازه:</p>
<p style="padding-right: 40px;">&#8220;ويشفينا بعد يومين وفِي اليوم الثالث نقوم ونحيا أمامه&#8221; (مزمور الساعة الأولى).</p>
<p style="padding-right: 40px;">&#8220;ولم يقل هذا من تلقاء نفسه بل أنه إذ كان رئيس الكهنة في تلك السنة تنبأ ..&#8221; (إنجيل الساعة الأولى).</p>
<p style="padding-right: 40px;">ويتدخل في مسيرة شعبه في العالم ليحفظه ويرشده ويقوده في النهار والليل:</p>
<p style="padding-right: 40px;">&#8220;لم يهدهم الله إلى طريق فلسطين مع أنها كانت قريبة لأن الرب قال: لئلا يندم الشعب&#8230; وكان الله يسير أمامهم نهاراً بعمود سحاب.. وليلاً في عمود نار&#8221; (سفر الخروج &#8211; الساعة الثالثة).</p>
<p style="padding-right: 40px;">ويُعْلِن مجده وسلطانه في المُقاومين:</p>
<p style="padding-right: 40px;">&#8220;أني أنا هو الرب أتمجد بفرعون ومراكبه وفرسانه&#8221; (سفر الخروج &#8211; الساعة السادسة).</p>
<p style="padding-right: 40px;">كما يُعلنه لمختاريه:</p>
<p style="padding-right: 40px;">&#8220;وأخبرتك بما كان قبل أن يأتي عليك&#8221; (سفر إشعياء &#8211; الساعة السادسة).</p>
<p style="padding-right: 40px;">ولا يترك شعبه للهلاك بل يُخلصهم ببره:</p>
<p style="padding-right: 40px;">&#8220;ولبس العدل مثل درع ووضع علي رأسه بيضة الخلاص&#8221; (سفر إشعياء &#8211; الساعة التاسعة).</p>
<p style="padding-right: 40px;">ويقبل تقدمات الحب النقي لأولاده:</p>
<p style="padding-right: 40px;">&#8220;لماذا تتعبون المرأة فإنها قد عملت بي عملاً حسناً&#8230; وهذه إنما سكبت هذا الطيب على جسدي لدفني&#8221; (إنجيل الساعة التاسعة).</p>
<p style="padding-right: 40px;">ويضع حجر أساس خلاصه في كنيسته المُقدَّسة:</p>
<p style="padding-right: 40px;">&#8220;هأنذا أطرح حجراً في أساسات صهيون حجر زاوية ثميناً مختاراً كريماً في أساساتها فمن آمن به فلن يخزي&#8221; (سفر إشعياء &#8211; الساعة الحادية عشر).</p>
<p></p>
<p><strong>ونرى في خيانة الإنسان:</strong></p>
<p style="padding-right: 40px;">يُمْكِن أن تبدأ بالتذمر:</p>
<p style="padding-right: 40px;">&#8220;لماذا أصعدتنا من مصر لتقتلنا وأولادنا ومواشينا بالعطش؟&#8221; (سفر الخروج &#8211; الساعة الأولى).</p>
<p style="padding-right: 40px;">وأيضاً نبوّة سفر العدد في الساعة التاسعة.</p>
<p style="padding-right: 40px;">والنفاق وغياب مخافة الرب وعدم إستقامة القلب:</p>
<p style="padding-right: 40px;">&#8220;لا تعصي مخافة الرب ولا تتقدم إليه بقلبين كُن محترساً لشفتيك&#8221; (سفر يشوع بن سيراخ &#8211; الساعة الأولى).</p>
<p style="padding-right: 40px;">ورفض النور السماوي:</p>
<p style="padding-right: 40px;">&#8220;أبك على الميت لأنه ترك النور&#8221; (سفر يشوع بن سيراخ &#8211; الساعة الثالثة).</p>
<p style="padding-right: 40px;">والالتصاق بالأرضيات:</p>
<p style="padding-right: 40px;">&#8220;إذا جمع فضة كالتراب وعد ذهباً مثل الطين&#8221; (سفر أيوب &#8211; الساعة الثالثة).</p>
<p style="padding-right: 40px;">وعدم تحفُّظ القلب:</p>
<p style="padding-right: 40px;">&#8220;بكل تحفظ احفظ قلبك لأن منه مخارج الحياة ابعد عنك الفم الخائن&#8221; (سفر الأمثال &#8211; الساعة الثالثة).</p>
<p style="padding-right: 40px;">ورياءه وخبثه:</p>
<p style="padding-right: 40px;">&#8220;فكان يتكلَّم باطلاً وقلبه جمع له إثماً&#8221; (مزمور الساعة الثالثة).</p>
<p style="padding-right: 40px;">فيدخل فيه الشيطان:</p>
<p style="padding-right: 40px;">&#8220;فدخل الشيطان قلب يهوذا&#8221; (إنجيل الساعة الثالثة).</p>
<p style="padding-right: 40px;">وجعله قاسياً لا يعرف الرحمة:</p>
<p style="padding-right: 40px;">&#8220;وأعلم أنك أنت قاس ورقبتك عضل حديد وجبهتك نحاس&#8221; (سفر إشعياء &#8211; الساعة السادسة).</p>
<p style="padding-right: 40px;">لذلك خطيته مُضاعفة:</p>
<p style="padding-right: 40px;">&#8220;وإن تغافل فخطيته مضاعفة&#8221; (سفر يشوع بن سيراخ &#8211; الساعة السادسة).</p>
<p style="padding-right: 40px;">وتغافله ظهر في استهانته بالخطيّة:</p>
<p style="padding-right: 40px;">&#8220;بل لأنه كان سارقاً وكان الصندوق عنده وكان يحمل ما يُلقي فيه&#8221; (إنجيل الساعة السادسة).</p>
<p style="padding-right: 40px;">ومحبّة الفضة:</p>
<p style="padding-right: 40px;">&#8220;فنطفر بقنيته الثمينة ونملأ بيوتنا غنيمة ونصيبه يقع لنا كيس فلنقتنه لنا جميعاً كيس واحد&#8221; (سفر الأمثال &#8211; الساعة التاسعة).</p>
<p style="padding-right: 40px;">وحتي سفك الدم:</p>
<p style="padding-right: 40px;">&#8220;وأرجلهم تجري إلي الشر وتسرع إلي سفك الدم&#8221; (سفر إشعياء &#8211; الساعة التاسعة).</p>
<p style="padding-right: 40px;">بأبخس الأثمان:</p>
<p style="padding-right: 40px;">&#8220;فقرروا أجرتي ثلاثين من الفضة&#8221; (سفر زكريا &#8211; الساعة التاسعة).</p>
<p style="padding-right: 40px;">مع رياء الكلام:</p>
<p style="padding-right: 40px;">&#8220;كان يدخل لينظر فكان يتكلَّم باطلاً وقلبه جمع له إثماً&#8221; (مزمور الساعة التاسعة).</p>
<p style="padding-right: 40px;">والاتفاق على الشر:</p>
<p style="padding-right: 40px;">&#8220;وقال لهم: ماذا تعطوني وأنا أسلمه إليكم&#8221; (إنجيل الساعة التاسعة).</p>
<p></p>
<p><strong>ونرى مجد المحبّة في:</strong></p>
<p style="padding-right: 40px;">الاتكال علي الله من كل القلب وحياة التقوي والعطاء واشتهاء الحكمة الإلهية أفضل من كل ما هو مادّي:</p>
<p style="padding-right: 40px;">&#8220;كن متكلاً على الله بكل قلبك&#8230; بل اتق الله وتجنب كل شر&#8230; أكرم الله من أتعابك &#8230; طوبى للإنسان الذي وجد حكمة .. لأن الإتجار في هذه أفضل من كنوز الذهب والفضة&#8221; (سفر الأمثال &#8211; الساعة الأولى).</p>
<p style="padding-right: 40px;">ومخافة الله التي تفيض بمجد معرفته:</p>
<p style="padding-right: 40px;">&#8220;رأس الحكمة مخافة الرب &#8230; إنها تفيض الفهم والمعرفة والفطنة وتعلي مجد الذين يملكونها&#8221; (سفر يشوع بن سيراخ &#8211; الساعة الأولى).</p>
<p style="padding-right: 40px;">ويجعل الله على هذا الإنسان إكليل نعمة وإكليل سرور:</p>
<p style="padding-right: 40px;">&#8220;بل اقبله وأحبه ليحفظك اقتنه فيرفعك كرمه فيعانقك ويعطيك إكليل نعمة على رأسك وينصرك بإكليل سرور&#8221; (سفر الأمثال &#8211; الساعة الثالثة).</p>
<p style="padding-right: 40px;">فلا يتوقف قلبه عن تمجيد الرب وتسبيحه تسبحة الخلاص:</p>
<p style="padding-right: 40px;">&#8220;ليقولوا فلنسبح الرب لأنه بالمجد قد تمجد&#8221; (سفر الخروج &#8211; الساعة الثالثة).</p>
<p style="padding-right: 40px;">ولا يتوقف عطاء حبه عند الغالي والثمين:</p>
<p style="padding-right: 40px;">&#8220;أما مريم فأخذت رطل طيب ناردين خالص كثير الثمن ودهنت به قدمي يسوع&#8221; (انجيل الساعة السادسة).</p>
<p style="padding-right: 40px;">ولا تكون حدود لأمانته:</p>
<p style="padding-right: 40px;">&#8220;فقال إبراهيم لعبده كبير بيته المولّي على جميع ماله..&#8221; (سفر التكوين &#8211; الساعة التاسعة).</p>
<p style="padding-right: 40px;">ويجعل الرب ذكره في كل زمان ومكان:</p>
<p style="padding-right: 40px;">&#8220;الحق أقول لكم أنه حيثما يكرز بهذا الإنجيل في كل العالم يُخبر أيضاً بما عملته هذه المرأة تذكاراً لها&#8221; (إنجيل الساعة التاسعة).</p>
<p style="padding-right: 40px;">لعِظَمْ إيمانه أو إيمانها:</p>
<p style="padding-right: 40px;">&#8220;فمن آمن به فلن يخزي&#8221; (سفر إشعياء &#8211; الساعة الحادية عشر).</p>
<p style="padding-right: 40px;">وعِظَمْ صراخه أو احتياجه:</p>
<p style="padding-right: 40px;">&#8220;لا تصرف وجهك عن فتاك اسمعني سريعاً فإنني في شدة&#8221; (مزمور الساعة الحادية عشر).</p>
<p></p>
<h3><span class="ez-toc-section" id="%D8%A8%D8%A7%D9%83%D8%B1_%D9%85%D9%86_%D9%8A%D9%88%D9%85_%D8%A7%D9%84%D8%A3%D8%B1%D8%A8%D8%B9%D8%A7%D8%A1"></span>باكر من يوم الأربعاء<span class="ez-toc-section-end"></span></h3>
<p>ونرى في قراءات هذه الساعة:</p>
<p>خطورة تجربتنا لله وتشكُّكنا في حضوره. (سفر الخروج).</p>
<p>ونري عِظَمْ فائدة وبركة امتحانه لإيماننا لتزكيتنا (أمثال سليمان وهوشع ويشوع بن سيراخ).</p>
<p>وتدبير الله فوق أفكار الرؤساء ومؤامراتهم (المزمور والإنجيل).</p>
<p></p>
<p><strong>النبوَّة</strong></p>
<p><strong>سفر الخروج </strong>(خر 17: 1- 7)</p>
<p>يبدأ سفر الخروج بخطية التذمُّر (مثل يهوذا) ومُخاصمة الشعب لموسى وتشكُّكهم في حضوره الإلهي في وسطهم:</p>
<p>&#8220;ونزلوا في رافازين ولم يكن ماء للشعب فخاصم الشعب موسى&#8230; وعطش الشعب وتذمر على موسى قائلين: لماذا أصعدتنا من مصر لتقتلنا وأولادنا ومواشينا بالعطش&#8230; وسمي هذا المكان تجربة ومخاصمة بني إسرائيل لأنهم جربوا الرب قائلين: أفي وسطنا الرب أم لا.&#8221;</p>
<p><strong>[</strong>ويقول الأب قيصريوس (أرل) أن الشعب هنا عطش للماء ولم يعطش للعدل (البر)، ويعقد مُقارنة بين عطش الأبرار لله وعطش الخطاة للعالم ويستشهد بالآية التي تقول &#8220;عطشت نفسي إلى الإله الحي&#8221;، لذلك يقول أنه إذا لم يعطش البشر لله سيستمر عطشهم حتى ولو شربوا الماء (العالم).</p>
<p>كما يضيف أيضاً هنا أن الصخرة التي بداخلها الماء هنا هي المسيح له المجد، وكما احتاجت أن تُضْرَب بعصا موسى لكي يخرج منها ينبوع ماء هكذا أيضا المسيح له المجد عندما عُلِّق علي الصليب ومن خلال آلامه (مثل عصا موسي التي ضربت الصخرة) خرج دم وماء ويستشهد بالآية التي تقول &#8220;من آمن بي تخرج من بطنه أنهار ماء حي&#8221;.</p>
<p>ويقول القديس إمبروسيوس أنه ليس غريباً أو غير ممكن أن تُخرج صخرة ماء، وأن تلد عذراء، وأن يكون للماء سور أو حائط (لعبور الشعب)<strong>]</strong><a href="#_ftn2" name="_ftnref2">[2]</a></p>
<p><strong>أمثال سليمان</strong></p>
<p>وفِي أمثال سليمان نرى بركة العطاء، ومحبّة الله أعظم من كل الكنوز المادّية (مثل المرأة ساكبة الطيب):</p>
<p>&#8220;أكرم الله من أتعابك وقدّم له البكور من أثمار برك لكي تمتلئ أهدابك من كثرة القمح &#8230; طوبي للإنسان الذي وجد حكمة والحي الذي نال أدباً لأن الإتجار في هذه أفضل من كنوز الذهب والفضة وأكرم من الأحجار الثمينة&#8221;.</p>
<p>كما تُعْلِن هدف تدبير الله من تأديبات الحب:</p>
<p>&#8220;يا ابني لا يصغر قلبك من تأديب الرب ولا تخر عندما يوبخك لأن من يحبه الرب يؤدبه ويجلد كل ابن يقبله&#8221;.</p>
<p><strong>هوشع</strong></p>
<p>كما نرى هذا أيضاً في نبوّة هوشع:</p>
<p>&#8220;فلنمضي ولنرجع إلى الرب إلهنا لأنه اختطف وهو يشفي ويضرب ويداوي أيضاً &#8221;</p>
<p>وتُعْلِن النبوَّة أيضاً مجد معرفته في موته وقيامته:</p>
<p>&#8220;ويشفينا بعد يومين وفِي اليوم الثالث نقوم ونحيا أمامه ونعلم ونسرع إلى معرفة الرب فنجده كالفجر المعد ويأتي إلينا كالمطر المبكر والمتأخر على الأرض&#8221;.</p>
<p><strong>يشوع بن سيراخ</strong></p>
<p>كما نري مجد معرفته أيضاً في نبوّة يشوع بن سيراخ &#8220;رأس الحكمة مخافة الرب إنها خلقت في الرحم مع المؤمنين إنها تفيض الفهم والمعرفة والفطنة وتعلي مجد الذين يملكونها&#8221;.</p>
<p>كما تُظْهِر هدف الله من تأديبات الحب &#8220;يا ابني إذا أقبلت إلى خدمة الرب فهيئ نفسك للتجارب فإن الذهب يمحص في النار والمرضيين من الناس يمحصون في أتون التواضع أيها المتقون الرب انتظروا رحمته&#8221;.</p>
<p>كما أنها تُحذِّر من الاستهانة والخيانة مثل يهوذا &#8220;كن محترساً لشفتيك لا ترتفع لئلا تسقط فتجلب على نفسك هواناً ويكشف الرب خفاياك&#8221;.</p>
<p></p>
<p><strong>المزمور</strong></p>
<p>ويتكلّم المزمور عن كيف يضبط الله مؤامرات الرؤساء لصالح تدبيره ومشيئته:</p>
<p>&#8220;لكي ما تتبرر في أقوالك وتغلب إذا حوكمت الرب يفرق مؤامرة الأمم ويرذل أفكار الشعوب&#8221;.</p>
<p><strong> </strong></p>
<p><strong>الرابط بين المزمور والإنجيل</strong> (القمص لوقا سيداروس)<a href="#_ftn3" name="_ftnref3">[3]</a></p>
<p><strong>لكى تتبرر في أقولك&#8230;</strong></p>
<p>فالسيد المسيح لم تصادفه الآلام مصادفة ولكنه قصد أن يتألم عوض الخطاة منذ البدء. وهو لم يخضع لحكم الموت الصادر من قبل سلطة أرضية أو سلطان عالمي، ولكنه نزل من حضن الآب خاضعاً وطائعاً لإرادته. فهذا الحكم الذى يتكلم به رئيس الكهنة قيافا – وهو لا يعلم – بأن يموت المسيح نائباً عن كل العالم، هذا الحكم عينه هو صوت الآب البار الذى بذل ابنه الوحيد عن العالم محتوياً العالم كله في محبته. وعندما قبل يسوع هذا الحكم قبله من الآب قائلاً: &#8220;لكى تتبرر في أقوالك&#8221; أي أن أقوال الحكم الإلهي بارة وعادلة &#8220;الناموس مقدس، والوصية مقدسة وعادلة وصالحة&#8221; (رو ٧: ١٢).</p>
<p><strong>تغلب إذا حوكمت&#8230;</strong></p>
<p>هذه نبوة أن السيد المسيح متى حوكم فهو الغالب، لأن ليس عليه خطية &#8220;من منكم يبكتني على خطية&#8221; (يو ٨: ٤٦). ولكن هذا الغالب غلب من تحننه ووضع نفسه موضع الخطاة ليتألم عوضاً عنهم.</p>
<p><strong>الرب يفرق مؤامرات الأمم. ويرذل أفكار الشعوب&#8230;</strong></p>
<p>يقول إنجيل هذه الساعة &#8220;تشاوروا ليقتلوه. فلم يكن يسوع أيضاً يمشي بين اليهود علانية&#8221; (يو ١١: ٥٣– ٥٤). فهو في هذا اليوم عندما تشاوروا عليه ذهب ومكث في بيت عنيا كل النهار.</p>
<p>للرب طرق خاصة في مواجهة الشر، مرتفعة عن فكر الإنسان. فالرب يوصى أولاده &#8220;أحبوا أعداءكم. باركوا لاعنيكم. أحسنوا إلى مبغضيكم&#8221; (مت ٥: ٤٤). هذه هي طريقة القوي ليبدد بها مؤامرة الضعيف، فيصنع بالضعف ما هو أعظم من القوة. فقد يبدو الرب ضعيفاً عندما يذهب من وجه الذين يبحثون عنه ليمسكوه، يذهب إلى بيت عنيا ويختبئ هناك، إلا أن هذا هو الطريق الضيق الذى يكسر كبرياء الإنسان بعدم مقاومة الشر.</p>
<p>إن المحبة المسيحية هي أقوى سلاح ضد مؤامرة الشيطان التي يعملها في الخفاء.</p>
<p></p>
<p><strong>الإنجيل</strong></p>
<p>وهذا ما نراه أيضاً في الإنجيل كيف يستخدم الله عطيِّة موهبته لقادة أشرار لصالح مشيئته وكيف لا يأخذها منهم برغم عدم أمانتهم فإذا كان رئيس الكهنة يُمْكِن أن يتنبأ يسمح له الله بذلك برغم عدم أمانته:</p>
<p>&#8220;فأجاب واحد منهم اسمه قيافا كان رئيساً للكهنة في تلك السنة وقال لهم: أنتم لا تعرفون شيئاً ولا تفكرون أنه خير لكم أن يموت إنسان واحد عن الشعب ولا تهلك الأمة كلها ولم يقل هذا من تلقاء نفسه بل أنه إذ كان رئيس الكهنة في تلك السنة تنبأ أنه ينبغي أن يموت يسوع عن الأمة وليس عن الأمة فقط بل ليجمع أيضاً أبناء الله المتفرقين إلى واحد&#8221;.</p>
<p>والعجيب أن المزمور يقول أن &#8220;الرب يفرق مؤامرة الأمم&#8221; والإنجيل يقول أنه &#8220;ليجمع أيضاً أبناء الله المتفرقين إلى واحد&#8221; فالرب يجمع أولاده المُتفرِّقين ويُفرِّق تجمُّعات الشر.</p>
<p>ويقول الأرشيدياكون بانوب عبده تعليقاً على &#8220;فجمع رؤساء الكهنة والفريسيون مجمعاً&#8221;:</p>
<p><strong>[</strong>يقول يوسيفوس المؤرخ إنه منذ أيام هيرودس الكبير لم تبق رياسة الكهنوت حسب الشريعة في بيت هرون (خر ٢٨) بل انتقلت منه لاضطراب أحوال اليهود، وكان الرئيس لا يبقي كذلك حتى يموت بل يبقى إلى أجل ثم يعزل. وكان الروم يساعدون على هذه الفوضى حتى أنه من هيرودس الكبير إلى خراب أورشليم تولى الرياسة ثمانية وعشرون شخصا في نحو ١٠٧ سنة، وقيافا المذكور تولاها إحدى عشرة سنة وكان كل رئيس كهنة يجلس في المجلس الكبير طول حياته ولو عزل. وقيل أن عبارة &#8220;رؤساء الكهنة&#8221; هنا يراد بها رؤساء الفرق الأربع والعشرين التي قسم الكهنة إليها<strong>]</strong> (1أي ٢٤: ١- ١٩). (الأرشيدياكون بانوب عبده)<a href="#_ftn4" name="_ftnref4">[4]</a>.</p>
<p></p>
<h3><span class="ez-toc-section" id="%D8%A7%D9%84%D8%B3%D8%A7%D8%B9%D8%A9_%D8%A7%D9%84%D8%AB%D8%A7%D9%84%D8%AB%D8%A9_%D9%85%D9%86_%D9%8A%D9%88%D9%85_%D8%A7%D9%84%D8%A3%D8%B1%D8%A8%D8%B9%D8%A7%D8%A1"></span>الساعة الثالثة من يوم الأربعاء<span class="ez-toc-section-end"></span></h3>
<p>نرى في قراءات هذه الساعة:</p>
<p>تدبير الله وافتقاده في ملء الزمان. (سفر الخروج).</p>
<p>وخطورة الخيانة والاستهانة (يشوع بن سيراخ وأمثال سليمان والمزمور والإنجيل).</p>
<p>ومحبّة الفضة (أيوب الصديق).</p>
<p></p>
<p><strong>النبوَّات</strong></p>
<p><strong>سفر الخروج </strong>(خر 13: 17- الخ)</p>
<p>نرى في هذه النبوَّة كيف افتقد الله شعبه في القديم وأخرجهم من أرض مصر وخلَّصهم من عبودية فرعون كرمز للصليب وخلاص البشرية في العهد الجديد من سلطان إبليس وحضوره الإلهي الدائم معهم في عمود السحاب نهاراً وعمود النار ليلاً.</p>
<p>كما نرى أيضاً مدى أمانة وقداسة رجال الله الذين لا يريدون حتي لعظامهم أن تُدْفَن في أرض غريبة: &#8220;وحمل موسى عظام يوسف معه لأن يوسف استحلف بني إسرائيل بحلف قائلاً: إن الرب سيفتقدكم افتقاداً فاحملوا عظامي من هنا معكم&#8230; وكان الله يسير أمامهم نهاراً بعمود سحاب ليهديهم الطريق وليلاً في عمود نار ولم يزل عمود السحاب نهاراً وعمود النار ليلاً من أمام الشعب بأسره&#8221;.</p>
<p><strong>يشوع بن سيراخ </strong></p>
<p>تتكلّم هذه النبوَّة عن يهوذا وتصفه بالأحمق (تكررت هذه الكلمة ثماني مرّات)، وتصفه أحياناً أُخرى بالجاهل أو الميت:</p>
<p>الذي يؤدب الأحمق كمن يلصق شقفة على شقفة.</p>
<p>من يكلم الأحمق كمن يكلم متناعساً.</p>
<p>وأبك على الأحمق لأنه ترك الأدب.</p>
<p>أما الأحمق فحياته أشقى من موته.</p>
<p>والنوح على الأحمق والمنافق جميع أيام حياته.</p>
<p>لا تكثر الكلام مع الأحمق.</p>
<p>ما هو الأثقل من الرصاص وما اسمه أيضاً إلَّا الأحمق.</p>
<p>وفكر الأحمق لا يهدأ أمام كل هول.</p>
<p><strong>أيوب الصديق</strong></p>
<p>وتُحذِّر هذه النبوَّة من محبة الفضة والمال (مثل يهوذا) التي تدفع الإنسان للهلاك: &#8220;إذا جمع فضة كالتراب وعد ذهباً مثل الطين&#8230; ومنزله يكون كالعث ومثل العنكبوت&#8230; والظلمة تأخذه ليلاً&#8221;.</p>
<p><strong>أمثال سليمان</strong></p>
<p>تُعلِن هذه النبوَّة مجد من أحبّوا الله (مثل المرأة ساكبة الطيب) وعاقبة من خانوا ونافقوا (مثل يهوذا): &#8220;بل اقبله وأحبه ليحفظك اقتنه فيرفعك كرمه فيعانقك ويعطيك إكليل نعمة على رأسك وينصرك بإكليل سرور&#8221;</p>
<p>وكأن المرأة التي سكبت الطيب على رأس الرب استحقت أن يُكلِّلها بالنعمة والسرور: &#8220;ابتعد لأنهم لا ينعسون حتى يعملوا الشر ويبعد عنهم النور ولا يرتاحون لأنهم يعيشون على خبز النفاق ويسكرون من خمر الخطية طرق الأبرار تضئ كالنور يسيرون مضيئين حتي يكمل النهار ولكن سبل الخطاة مظلمة ولا يعرفون كيف يتعثرون&#8221;.</p>
<p><strong>كما نرى:</strong></p>
<p>في النبوَّة الثانية (يشوع بن سيراخ) البكاء على الميت والجاهل لأنه ترك النور.</p>
<p>وفِي النبوَّة الثالثة (أيوب الصديق) أن الظلمة تأخذه ليلاً.</p>
<p>وفِي النبوَّة الرابعة (أمثال سليمان) يوضِّح أن سبل الخطاة مظلمة بينما طرق الأبرار مُضيئة.</p>
<p></p>
<p><strong>المزمور</strong></p>
<p>&#8220;كان يدخل لينظر فكان يتكلَّم باطلاً وقلبه جمع له إثماً طوبى لمن يتفهم في أمر المسكين والضعيف في يوم السوء ينجيه الرب&#8221;.</p>
<p>يوضِّح المزمور خيانة يهوذا في تراكم الإثم في قلبه وزيف كلامه وأن كلامه عن الفقراء والمساكين لم يكن عن تفهُّم وإحساس بهم بل عن مصلحته في سرقة الصندوق.</p>
<p></p>
<p><strong>الرابط بين المزمور والإنجيل</strong> (القمص لوقا سيداروس)<a href="#_ftn5" name="_ftnref5">[5]</a></p>
<p><strong>كان يدخل لينظر</strong><strong>&#8230;</strong></p>
<p>يهوذا المخالف كان محسوباً مع الإثنى عشر ولكن مزمور هذه الساعة كشف سره وفضح خطيته. فالرب نفسه ادخله وفتح له قلبه وجعله مع جملة التلاميذ.</p>
<p>وكان يهوذا في حرية وله أن &#8220;يدخل ويخرج ويجد مرعى&#8221;.</p>
<p>ولكن المزمور يقول: إنه كان يدخل لينظر&#8230; لم يكن ليعيش ويحيا ويحب الرب ويتحد به&#8230; بل كان كالمتفرج ينظر إلى الرب، ولكنه كان ينظر ردياً. والرب رغم أنه  يعرف قلبه وخيانته لكنه لم يمنعه من الدخول والخروج.</p>
<p>إن معرفة المسيح معرفة فائقة ليست معرفة نظرية&#8230; ليست كلاماً ومعلومات ولكنها دخول حقيقي إلى العمق والاتحاد بالمسيح.</p>
<p></p>
<p><strong>كان يتكلم باطلاً&#8230;</strong></p>
<p>يهوذا الإسخريوطي في وسط التلاميذ يتكلم كلام التلاميذ أما خارجاً فهو يتكلم بالرديء. له صورة التقوى ولكنه يتكلم كلام الشيطان نفسه.</p>
<p><strong>وقلبه جمع له اثماً&#8230;</strong></p>
<p>فهو وإن تشاور وتآمر وأضمر الشر فهو يجمع الشر لنفسه&#8230; الذي يسلم نفسه للشيطان يجني على ذاته وحده. افتكر يهوذا أن يسئ للرب ولكنه أساء إلى نفسه وجمع له إثماً في قلبه.</p>
<p><strong>طوبى لمن يتفهم في أمر المسكين&#8230;</strong></p>
<p>ثمة أمر أكثر خطورة يكشف عنه هذا الجزء من المزمور، أن يهوذا كان سطحياً في معرفة الرب، ولم يكن يتفهم في أمره، بل لم يكن يعنيه أمر الرب، إذ ملأ الشيطان قلبه.</p>
<p>والرب يسوع هو ذلك المسكين والفقير، الذى أخذ صورة العبد وصار فقيراً من أجلنا.</p>
<p>ولكن طوبى للذي يتفهم في أمره ويعرف ويدرك سر افتقاره &#8220;وهو الغني&#8221; وكما قال الرب بفم إشعياء النبي &#8220;&#8230; أيها العمي انظروا لتبصروا.</p>
<p>من هو أعمى إلا عبدي، وأصم كرسولى الذى أرسله؟ من هو أعمى كالكامل&#8230; ناظر كثيراً ولا تلاحظ مفتوح الأذنيين ولا يسمع. الرب قد سر من أجل بره&#8221; (إش ٤٢: ١٨– ٢١).</p>
<p>فالرب عرف أفكار يهوذا ولكنه صمت كأنه لا يعرف&#8230; وعرف دخوله وخروجه وكأنه لا ينظر، وسمع مؤامراتهم التي في الخفاء وكأنه لم يسمع كالأصم&#8230; طوبى لمن يتفهم هذا الأمر فإنه يحصل على خلاص نفسه.</p>
<p></p>
<p><strong>الإنجيل</strong> (مت 22: 1-14)</p>
<p>ويختم الإنجيل بخيانة يهوذا واستهانته ومحبّة الفضة التي دفعته لأن يبيع سيده بأبخس الأثمان:</p>
<p>&#8220;فدخل الشيطان قلب يهوذا الذي يُدعي الإسخريوطي وهو أحد الإثنى عشر فمضي وفاوض رؤساء الكهنة وقواد الجند أن كيف يسلمه إليهم ففرحوا وعاهدوه أن يعطوه فضة وكان يتحين فرصة ليسلمه لهم&#8221;.</p>
<p><strong>ملحوظة</strong>: معني قوات الجند: الجند المذكورين هنا هم جند الهيكل الذين ورد عنهم في سفر العدد قول الله &#8220;من ابن ثلاثين سنة فصاعداً إلى ابن خمسين سنة تعدهم. كل الداخلين ليتجندوا أجناداً ليخدموا خدمة في خيمة الاجتماع&#8221; (عد ٤: ٢٣) (الأرشيدياكون بانوب عبده)<a href="#_ftn6" name="_ftnref6">[6]</a></p>
<p></p>
<h3><span class="ez-toc-section" id="%D8%A7%D9%84%D8%B3%D8%A7%D8%B9%D8%A9_%D8%A7%D9%84%D8%B3%D8%A7%D8%AF%D8%B3%D8%A9_%D9%85%D9%86_%D9%8A%D9%88%D9%85_%D8%A7%D9%84%D8%A3%D8%B1%D8%A8%D8%B9%D8%A7%D8%A1"></span>الساعة السادسة من يوم الأربعاء<span class="ez-toc-section-end"></span></h3>
<p>قراءات هذه الساعة تتكلّم عن:</p>
<p>التدبير الإلهي لما تجتازه الكنيسة كما في الصليب. (سفر الخروج).</p>
<p>وتحذيره للأشرار قبل سقوطهم. (إشعياء النبي).</p>
<p>وخطورة الاستهانة بالخطيّة كما حدث مع يهوذا. (يشوع بن سيراخ)</p>
<p>وكيف يتآمر الأعداء على الكنيسة كما فعلوا مع ابن الله. (المزمور).</p>
<p>وغني مجد محبة الله للإنسان ومُجازاة الله. (الإنجيل).</p>
<p></p>
<p><strong>النبوَّات</strong></p>
<p><strong>سفر الخروج </strong>(خر 14: 13- 14، 15: 1)</p>
<p>تتكلّم هذه النبوَّة عن تدبير الله لشعبه وكنيسته وقت الضيقة، فإذا كان فرعون وجنوده تآمروا على موسى النبي وعلى شعب الله كما تآمر اليهود والرومان على يسوع المصلوب، ولكن تُظْهِر النبوَّة أن كل ما حدث كان بسابق علمه وكيف حوَّل الله كل شيء إلى الخلاص العظيم بعبورهم البحر الأحمر:</p>
<p>&#8220;فقال الرب لموسى ما بالك تصرخ إليّ؟ قل لبني إسرائيل أن يرجعوا إلى الوراء وخذ عصاك ومد يدك على البحر وشقه فيدخل بنو إسرائيل في وسط البحر كما على اليابسة وها أنا أقسي قلب فرعون والمصريين حتي يدخلوا وراءهم فأتمجد بفرعون ومراكبه وفرسانه&#8230; فخاف الشعب الرب وأمنوا بالله وبعبده موسى&#8221;.</p>
<p><strong>إشعياء النبي</strong></p>
<p>يُحذِّر الرب هنا الأشرار قبل سقوطهم كما فعل مع يهوذا الذي كان له شكل التكريس لكن دون الجوهر:</p>
<p>&#8220;الذين يذكرونه لا بالحق ولا بالعدل الذين يتمسكون باسم المدينة المُقدَّسة&#8230; وأعلم أنك أنت قاس ورقبتك عضل حديد وجبهتك نحاس وأخبرتك بما كان قبل أن يأتي عليك&#8221;.</p>
<p><strong>يشوع بن سيراخ </strong></p>
<p>تتكلّم هذه النبوَّة عن يهوذا الذي لم يندم ندم التوبة وكان جوهر خطيته التغافل والاستهانة حتي استحق اللعن:</p>
<p>&#8220;الرجل الكثير الحلف يمتلئ إثماً ولا يبرح السوط بيته فإذا ندم غفرت خطيّة قلبه وإن تغافل فخطيته مضاعفة وإن حلف باطلاً لا يتبرر وبيته يمتلئ نوائباً &#8230; فتود لو لم تولد وتلعن يوم ولدت&#8221;.</p>
<p></p>
<p><strong>المزمور</strong> (مز 119: 2، 5)</p>
<p>&#8220;هوذا أعداؤك قد صرخوا وقد رفع مبغضوك رؤوسهم تآمروا جميعاً بقلب واحد وتعاهدوا عليك عهداً&#8221;.</p>
<p>يكشف المزمور عن مؤامرات رؤساء اليهود مع الرومان ضد ابن الله.</p>
<p></p>
<p><strong>الرابط بين المزمور والإنجيل</strong> (القمص لوقا سيداروس)<a href="#_ftn7" name="_ftnref7">[7]</a></p>
<p><strong>هوذا أعداؤك قد صرخوا</strong><strong>&#8230;</strong></p>
<p>فإن كانت المؤامرات تجرى بسرعة في أروقة الهيكل وتدبر في وسط النهار، ولكن في ساعات الظلمة التي خيمت على قلوب وعقول رؤساء الكهنة&#8230; أولئك الذين جعلوا أنفسهم أعداء للرب. إلا أن هناك أيضاً أعداء للرب في وسط الوليمة وبين المتكئين معه والجالسين حوله. إن أعداء الرب لا يطيقون أن يروا وليمة تصنع، أو طيباً يسكب على قدمي الرب، أو رأساً تنحني لتمسح قدميه بشعرها&#8230; هذه مشاعر المحبة لا يحتملها الأعداء فيصرخون &#8220;لماذا هذا الإتلاف&#8221;.</p>
<p><strong>تآمروا جميعاً بقلب واحد وتعاهدوا عليك عهداً&#8230;</strong></p>
<p>بينما اجتمع الرؤساء في مكانهم يتعاهدون على موت الرب، جلس يهوذا ضمن المتكئين حول يسوع في الوليمة ولكن أين كان قلبه؟.. كان قلبه مع المتآمرين!!</p>
<p>كثيرون يجلسون حول الرب، ولكن أين قلوبهم؟ هذا ما يردده الكاهن في آذان الموجودين حول الرب في القداس لئلا يكون قلب أحدهم مشغولاً بالعالم.</p>
<p></p>
<p><strong>الإنجيل</strong> (مت 22: 1-14)</p>
<p>يكشف الإنجيل عن النفوس المُحبِّة للمسيح له المجد وكيف قدَّمت المرأة أعظم ما عندها فإذا قارنا قيمة هذا الطيب (ثلاث مئة دينار) بمثل الفعلة (مت ٢٠) نعرف أن أجرة العامل في اليوم كانت ديناراً وإذا حسبنا أجرته في السنة بعد حذف الأجازات سنجدها في حدود ثلاث مئة دينار أي أن المرأة قدَّمت طيباً بأجرة عمل سنة كاملة (في حسابات اليوم من عشرة إلى خمسة عشر ألف جنيه).</p>
<p>لذلك مدح الرب المرأة ليس لعلو قيمة تقدمتها لكن لأجل عِظَم الحب فيها أي أن الرب يُثمِّن الحب ويُقدِّره كما حدث في توبة المرأة الخاطئة (لو٧: ٣٦-٥٠) وكما قال لتلاميذه أن الحب هو المدخل الأساسي لاستعلان الثالوث فينا &#8220;إن أحبني أحد يحفظ كلامي و يحبه أبي و إليه نأتي وعنده نصنع منزلاً&#8221; (يو ٢٣:١٤)</p>
<p>وكافأها الرب بأن جعل هذا الطيب لتكفينه فما أعظمه تكريم ومُجازاة لتقدمتها وجعل ذِكْر تقدمتها في الإنجيل في كل العالم:</p>
<p>&#8220;وأما مريم فأخذت رطل طيب ناردين خالص كثير الثمن ودهنت به قدمي يسوع ومسحتهما بشعر رأسها&#8230; فقال يسوع: دعوها لأنها حفظته ليوم دفني&#8221;.</p>
<p>ويكشف أيضاً الإنجيل عن رياء يهوذا وتحجُّجه بالمساكين لأجل أن يسرق قيمة الطيب:</p>
<p>&#8220;فقال أحد تلاميذه الذي هو يهوذا سمعان الإسخريوطي الذي كان مزمعاً أن يسلمه: لماذا لم يبع هذا الطيب بثلاثمائة دينار ويعطى للمساكين؟ قال هذا ليس لأنه كان يهتم بالمساكين بل لأنه كان سارقاً وكان الصندوق عنده وكان يحمل ما يُلقي فيه&#8221;.</p>
<p><strong>ملحوظة</strong>: تكررت كلمة &#8220;بيت&#8221; في قراءات هذه الساعة:</p>
<p>بيت يعقوب الذي يتمسك بالشكل دون الجوهر. (إشعياء النبي).</p>
<p>بيت الرجل الكثير الحلف الذي لا يبرح السوط بيته ويمتلئ نوائباً. (يشوع بن سيراخ).</p>
<p>بيت عنيا الذي كان يستريح فيه الرب. (الإنجيل).</p>
<p>امتلاء البيت من رائحة الطيب ومدح الرب لها. (الإنجيل).</p>
<p></p>
<h3><span class="ez-toc-section" id="%D8%A7%D9%84%D8%B3%D8%A7%D8%B9%D8%A9_%D8%A7%D9%84%D8%AA%D8%A7%D8%B3%D8%B9%D8%A9_%D9%85%D9%86_%D9%8A%D9%88%D9%85_%D8%A7%D9%84%D8%A3%D8%B1%D8%A8%D8%B9%D8%A7%D8%A1"></span>الساعة التاسعة من يوم الأربعاء<span class="ez-toc-section-end"></span></h3>
<p>تسير قراءات هذه الساعة في نفس اتجاه قراءات يوم الأربعاء:</p>
<p>فتتكلّم عن خيانة يهوذا. (سفر العدد، أمثال سليمان، زكريا النبي، المزمور، الإنجيل).</p>
<p>ومحبّة المرأة وأمانتها (سفر التكوين، أمثال سليمان، الإنجيل).</p>
<p>ومُقاومة الرؤساء (سفر العدد، إشعياء النبي).</p>
<p>وتدبير الله للخلاص (إشعياء، زكريا، الإنجيل).</p>
<p></p>
<p><strong>النبوَّات</strong></p>
<p><strong>سفر التكوين</strong> (تك 24: 1- 9)</p>
<p>تتكلّم هذه القراءة عن وصية أبونا إبراهيم لعبده كبير بيته والذي يقول عنه الكتاب المولّي على جميع ماله وكأنَّ القراءة تعقد مقارنة بينه وبين يهوذا، بين عبد لسيد بشري وبين رسول وتلميذ للرب الإله، وكيف حافظ العبد على مال سيده لابنه، وكيف باع التلميذ سيَّده بقيمة عبد:</p>
<p>&#8220;وشاخ إبراهيم وهرم في أيامه وبارك الرب إبراهيم في كل شيء فقال إبراهيم لعبده كبير بيته المولي علي جميع ماله ضع يدك تحت فخذي لأستحلفك بالرب إله السماء وإله الأرض&#8230; فوضع العبد يده تحت فخذ إبراهيم سيده وحلف له من أجل هذا الأمر&#8221;.</p>
<p><strong>سفر العدد</strong> (عد 20: 1- 13)</p>
<p>تكشف هذه القراءة عن تكرار التذمُّر لشعب الله طول رحلتهم في البرية حتي بعد اختبارهم آيات كثيرة ورعاية سماوية فائقة وهي إشارة إلى مُقاومة اليهود والرؤساء للرب برغم رؤيتهم لأعماله الإلهية الفائقة:</p>
<p>&#8220;وماتت مريم ثم دفنت هناك ولم يكن ماء للجماعة فاجتمعوا على موسى وهرون وخاصم الشعب موسى قائلين: ليتنا متنا موت إخوتنا أمام الرب لماذا جئتما بجماعة الرب إلى هذه البرية لتقتلانا نحن ومواشينا؟ ولماذا أخرجتمانا من أرض مصر إلي هذا الموضع الرديء&#8221;.</p>
<p><strong>أمثال سليمان</strong></p>
<p>تتكلم هذه القراءة عن خيانة يهوذا بالاتفاق مع رؤساء اليهود في تسليم البار للموت ظُلماً:</p>
<p>&#8220;هلم شاركنا في الدم لنختفي في الأرض للرجل البار ظلماً فلنبتلعه حياً  كالجحيم ونبيد ذكره من الأرض فنطفر بقنيته الثمينة ونملأ بيوتنا غنيمة ونصيبه يقع لنا كيس فلنقتنه لنا جميعاً كيس واحد ليكن لنا&#8221;.</p>
<p>كما تتكلّم النبوَّة عن مدح المرأة في حكمتها ومحبتها للرب قبل الصليب لتكفينه بالطيب والتي مدحها الرب وجعل مدحها في كل مكان:</p>
<p>&#8220;الحكمة تُمدح في الطرقات وفِي الشوارع ظاهرة وعلى زوايا الأسوار يُبشَّر بها على الأبواب الأقوياء وأبواب المدن قد قالت بقلب قوي في كل حين إن عديمي الشر يتمسكون بالبر فلن يخزوا&#8221;.</p>
<p><strong>إشعياء النبي</strong></p>
<p>تصف هذه النبوَّة حالة البشرية قبل الخلاص وكيف زاغ الجميع وفسدوا وأعوزهم مجد الله:</p>
<p>&#8220;لأن أعمالهم أعمال إثم وأرجلهم تجري إلى الشر وتسرع إلى سفك الدم&#8230; ننتظر حكماً فلا يكون والخلاص بَعُد عنا بعيداً لأن إثمنا كثر أمامك وخطايانا قاومتنا لأن آثامنا فينا وعرفنا ظلمنا نافقنا وكذبنا وبَعُدنا عن الله&#8221;.</p>
<p>كما تصف أيضاً كيف أن الرب وحده هو القادر على خلاصنا والذي خلصَّنا ببرِّه الإلهي:</p>
<p>&#8220;هل يد الرب لا تقوى أن تُخلِّص؟&#8230; وتحول قلبهم عن الحق ونظر الرب ولم يرضه لأنه لم يكن حُكم ونظر ولم يكن رجل وتأمل ولم يكن ناصر فدفعهم بذراعه وشدهم برحمته ولبس العدل مثل درع ووضع على رأسه بيضة الخلاص&#8221;.</p>
<p><strong>زكريا النبي</strong></p>
<p>تكشف هذه النبوَّة عن الثمن الذي قبضه يهوذا الخائن وما أعجب وأدقَّ النبوّات التي تصف آلام الرب وما حدث بالتفصيل وقتها وكأنَّ كاتبيها شهود عيان:</p>
<p>&#8220;إذا حسن لديكم فأعطوني أجرتي التي قررتموها وإلّا فامتنعوا فقرروا أجرتي ثلاثين من الفضة فقال لي الرب ألقها في المسبك وأنا أفحصها هل هي مختارة مثل ما جربت بها&#8221;.</p>
<p></p>
<p><strong>المزمور </strong></p>
<p>تكرر جزء من هذا المزمور في الساعة الثالثة ولكن هنا الإشارة بالأكثر لتحالف يهوذا مع رؤساء اليهود،</p>
<p>ولكن في مزمور الساعة الثالثة الإشارة بالأكثر إلى عِظَمْ العطاء كإشارة للمرأة ساكبة الطيب:</p>
<p>&#8220;أعدائي تقاولوا عليّ شراً وتشاوروا عليّ بالسوء كان يدخل لينظر فكان يتكلَّم باطلاً وقلبه جمع له إثماً&#8221;.</p>
<p></p>
<p><strong>الرابط بين المزمور والإنجيل</strong> (القمص لوقا سيداروس)<a href="#_ftn8" name="_ftnref8">[8]</a></p>
<p><strong>أعدائي تقولوا عليّ شراً وتشاوروا عليّ بالسوء</strong><strong>&#8230; </strong></p>
<p>في هذه الساعة تمت نبوة المزمور بالحرف الواحد، إذ اجتمع رؤساء الكهنة والكتبة وشيوخ الشعب في دار رئيس الكهنة الذى يدعى قيافا وتشاوروا لكي يمسكوا يسوع بمكر ويقتلوه، ولكنهم قالوا : &#8220;ليس في العيد لئلاً يكون شغب في الشعب&#8221; (مت ٢٦: ٥).</p>
<p><strong>كان يتكلم باطلاً&#8230;</strong></p>
<p>عندما سكبت المرأة الطيب تكلم يهوذا وكأنه يشفق على الفقراء ويحب أعمال الرحمة، وهو في حقيقته لص وسارق ومحب للمال ولا يبالى بالفقراء. فكثيراً ما يأخذ الباطل صورة الحق ولكنه حتماً سينكشف يوماً .</p>
<p>تأمل في تكرار سكب الطيب في هذا اليوم:</p>
<p>ألا ترى من واجبك كمحب للمسيح في يوم التشاور على قتله أن تقوم بسكب طيب حياتك على قدمي المخلص، لتكشف عن نقاوة القلب والإخلاص للمخلص .</p>
<p>قارن بين الكلام الباطل الذى ليهوذا المخالف والإيمان الحقيقي العامل بالمحبة الذى مدحه السيد المسيح &#8220;يا أولادي، لا نحب بالكلام ولا باللسان، بل بالعمل والحق&#8221; (يو ٣: ١٨).</p>
<p></p>
<p><strong>الإنجيل</strong> (مت ٢٣: ٢9- ٣٦).</p>
<p>ويختم الإنجيل بالحب الكبير للمرأة والخيانة العُظمي للتلميذ والمؤامرة الكُبرى لرؤساء اليهود:</p>
<p>&#8220;حينئذ اجتمع رؤساء الكهنة وشيوخ الشعب في دار رئيس الكهنة الذي يُدعى قيافا وتشاوروا لكي يمسكوا يسوع بمكر ويقتلوه &#8230;</p>
<p>وهذه إنما سكبت هذا الطيب على جسدي لدفني الحق أقول لكم أنه حيثما يكرز بهذا الإنجيل في كل العالم يُخبر أيضاً بما عملته هذه المرأة تذكاراً لها.</p>
<p>حينئذ ذهب واحد من الإثني عشر الذي يُدعي يهوذا الإسخريوطي إلى رؤساء الكهنة وقال لهم: ماذا تعطوني وأنا أسلِّمه إليكم&#8221;.</p>
<p><strong>ثلاثين من الفضة:</strong></p>
<p>شاقل الفضة يساوي ما قيمته ثلاثة عشر قرشاً ونصف، فيكون مجموع ما أخذه يهوذا أربع جنيهات وخمس قروش.</p>
<p>والثلاثين من الفضة كانت هي قيمة العبد أو الثمن المستحق له.</p>
<p>إن نطح الثور عبداً أو أمة يعطي سيده ثلاثين شاقل فضة والثور يُرجم&#8221; (خر ٢١: ٣٢).</p>
<p><strong>ثلاث مئة دينار: </strong>الدينار من نقود الفضة عند الرومانيين، وقيمته نحو ثلاثة قروش ونصف قرش (عشرة جنيهات ونصف). (الأرشيدياكون بانوب عبده)<a href="#_ftn9" name="_ftnref9">[9]</a></p>
<p></p>
<h3><span class="ez-toc-section" id="%D8%A7%D9%84%D8%B3%D8%A7%D8%B9%D8%A9_%D8%A7%D9%84%D8%AD%D8%A7%D8%AF%D9%8A%D8%A9_%D8%B9%D8%B4%D8%B1%D8%A9_%D9%85%D9%86_%D9%8A%D9%88%D9%85_%D8%A7%D9%84%D8%A3%D8%B1%D8%A8%D8%B9%D8%A7%D8%A1"></span>الساعة الحادية عشرة من يوم الأربعاء<span class="ez-toc-section-end"></span></h3>
<p>تُخْتَم قراءات يوم الأربعاء:</p>
<p>بالصليب ويسوع المصلوب حجر الزاوية الثمين الذي بصليبه رفع الدينونة عن أولاده. (إشعياء).</p>
<p>واحتمل الألم والضيق عنهم (المزمور).</p>
<p>وأعلن مجد أبيه ومجده بالصليب في اجتذاب أولاده إليه (الإنجيل).</p>
<p></p>
<p><strong>النبوَّة </strong><strong>–</strong> <strong>إشعياء النبي</strong> (إش 28: 16- 26)</p>
<p>تتكلّم هذه النبوَّة عن الخلاص بالصليب وأن يسوع المصلوب هو حجر الزاوية ومصدر الخلاص،</p>
<p>وما أجمل القول &#8220;وأجعل الدينونة رجاء&#8221; ولعلَّ هذا ما قصده القديس بولس بقوله &#8220;إذا لا شيء من الدينونة الآن على الذين هم في المسيح يسوع، السالكين ليس حسب الجسد بل حسب الروح&#8221; (رو ٨ : ١).</p>
<p>&#8220;لأجل هذا هكذا ما يقوله السيد الرب هأنذا أطرح حجراً في أساسات صهيون حجر زاوية ثميناً مختاراً كريماً في أساساتها فمن آمن به فلن يخزى وأجعل الدينونة رجاء وبرحمتي يكون الخلاص على مواضع السكن &#8230; لأني لا أغضب إلى الأبد عليكم ولا يدوسكم صوت مرارتي&#8221;.</p>
<p>وتكشف النبوَّة أيضاً عن مصير رافضي الخلاص.</p>
<p>&#8220;والمتوكلون على الكذب يرتجون الباطل لأنه لا يجتازكم العاصف لئلا ينزع عهدكم مع الموت ورجاؤكم مع الجحيم لا ينتهي&#8221;.</p>
<p></p>
<p><strong>المزمور</strong></p>
<p>يصف المزمور حالة الكلمة المُتجسِّد في كمال ناسوته والحزن الشديد الذي اجتازه عندما حمل كل آلامنا وأوجاعنا: &#8220;اشفني يا رب فإن عظامي قد اضطربت ونفسي قد انزعجت جداً لا تصرف وجهك عن فتاك اسمعني سريعاً فإنني في شدة&#8221;</p>
<p>ويصف المزمور ابن الله بلقب &#8220;فتاك&#8221; وهو الذي قاله أيضاً القديس متى الإنجيلي: &#8220;هوذا فتاي الذي اخترته، حبيبي الذي سرت به نفسي. أضع روحي عليه فيخبر الأمم بالحق&#8221; (مت ١٨:١٢).</p>
<p>وأيضاً هو ما كانت تُصلِّي الكنيسة به في وقت الضيق: &#8220;لأنه بالحقيقة اجتمع على فتاك القدوس يسوع، الذي مسحته، هيرودس وبيلاطس البنطي مع أمم وشعوب إسرائيل&#8230; بمد يدك للشفاء، ولتجر آيات وعجائب باسم فتاك القدوس يسوع&#8221; (أع ٤: ٣٠،٢٧).</p>
<p>والعجيب أيضاً هو إشارة المزمور إلى انزعاج نفس الرب وهو ما جاء أيضاً في مقدمة إنجيل هذه الساعة: &#8220;الآن نفسي قد اضطربت&#8221;.</p>
<p></p>
<p><strong>الرابط بين المزمور والإنجيل</strong> (القمص لوقا سيداروس)<a href="#_ftn10" name="_ftnref10">[10]</a></p>
<p><strong>أشفني يا رب فإن عظامي اضطربت..</strong></p>
<p>لأنه حامل طبيعتنا المريضة، ووجع خطايانا جاء عليه.</p>
<p><strong>نفسى قد انزعجت..</strong></p>
<p>ليس عن خوف ولا انزعاج أو فزع إنساني من الموت، ولكن هذا التعبير &#8220;اضطرب يسوع بالروح&#8221; نجده مرافقاً لكسر شوكة الموت والانتصار على الشيطان. فعندما رجع الرسل وحدثوه بما فعلوا &#8220;اضطرب بالروح وقال رأيت الشيطان ساقطاً مثل البرق&#8221; وعندما كسر شوكة الموت عند قبر لعازر اضطرب بالروح أيضاً وقال أين وضعتموه، وفى هذه الساعة يقول الإنجيل: الآن رئيس هذا العالم يطرح خارجاً. لذلك قيل في المزمور: &#8220;نفسي قد انزعجت&#8221;.</p>
<p><strong>لا تصرف وجهك عن فتاك..</strong></p>
<p>المسيح الكائن في حضن الآب كل حين، فالآب لا يمكن أن يصرف وجهه عنه. والنفوس التي في المسيح تكون دائماً في مسرة الآب، وتسمع صوته من السماء في ساعات الضيق. أما النفوس الرافضة فإن الآب يصرف وجهه عنها فتصير في الظلمة الخارجية لذلك قال الرب آمنوا بالنور&#8230; سيروا في النور لئلا يدرككم الظلام، فالنفس التي ترفض النور ستصير حتما في حرمان من وجه الآب.</p>
<p></p>
<p><strong>الإنجيل</strong></p>
<p>يُعْلِن الإنجيل أن الصليب هو إعلان مجد الآب وانتهاء سلطان الشيطان واجتذاب أولاد الله إلى الحب الإلهي في الصليب:</p>
<p>&#8220;أيها الآب مجد ابنك فجاء صوت من السماء قائلاً: قد مجدت وسأمجد أيضاً&#8230; أجاب يسوع وقال: ليس من أجلي حدث هذا الصوت ولكن من أجلكم. الآن دينونة هذا العالم، الآن يُلقى رئيس هذا العالم خارجاً وأنا أيضاً إن ارتفعت عن الأرض أجذب إليّ كل واحد، وإنما قال هذا مشيراً إلى أية ميتة كان مزمعاً أن يموت&#8221;.</p>
<p>لذلك الدعوة لكل البشر لكل يقبلوا نور الابن ولكي لا يُهملوا ويستهينوا بفرص خلاصهم وزيارات النعمة لهم والتحذير من أن الرفض سينتهي بالإنسان للظلام والهلاك.</p>
<p>&#8220;فسيروا في النور ما دام لكم النور لئلا يدرككم الظلام لأن الذي يمشي في الظلام لا يدري إلى أين يذهب ما دام لكم النور آمنوا بالنور لتصيروا أبناء النور&#8221;.</p>
<p></p>
<p></p>
<h3><span class="ez-toc-section" id="%D9%85%D9%86_%D9%88%D8%AD%D9%8A_%D9%82%D8%B1%D8%A7%D8%A1%D8%A7%D8%AA_%D9%8A%D9%88%D9%85_%D8%A7%D9%84%D8%A3%D8%B1%D8%A8%D8%B9%D8%A7%D8%A1"></span>من وحي قراءات يوم الأربعاء<span class="ez-toc-section-end"></span></h3>
<p>&#8220;<strong>وأنا أيضاً إن ارتفعت عن الأرض أجذب إليّ كلّ واحدٍ</strong>&#8221; (إنجيل الساعة الحادية عشر).</p>
<p>قيلت هذه الآية عن ارتفاع الرب علي الصليب.</p>
<p>ولكنها يمكن أن تكون أيضاً دستور وحياة أولاد الله.</p>
<p>وإشعاع الخدمة والرعاية والقيادة في الكنيسة.</p>
<p>عندما يرتفع كل واحد منا عن الأمور الأرضية وفكر العالم.</p>
<p>ويري الآخرون ومن حولنا ذلك ليس فقط في عظاتنا بل بالأولى في حياتنا ومعاملاتنا.</p>
<p>فتصير للخدمة والرعاية قوة جاذبية للمخدومين للسماويات.</p>
<p>وكلما يزداد نور المسيح فينا يجذب هو (النور) الآخرين دون كلمات وإمكانيات وإنجازات.</p>
<p>وهذا هو ما لا ينساه أحد التأثير المحفور في القلوب أكثر من العظات المُسجَّلة والمواهب الخارقة.</p>
<p>والعجيب أن يمتد هذا التأثير حتي بعد الموت &#8220;وإن مات يتكلَّم بعد&#8221; (عب ١١: ٤).</p>
<p>فما تزال سيرة الأنبا أنطونيوس لها قوة جاذبية مع كثيرين في العالم كله، وأشهرهم القديس أغسطينوس.</p>
<p></p>
<hr />
<p></p>
<p><strong> </strong></p>
<p><a href="#_ftnref1" name="_ftn1">[1]</a> <sup> </sup>الكنيسة المسيحية في عصر الرسل &#8211; ص ٢٦٧ &#8211; المتنيح الأنبا يؤنس أسقف الغربية.</p>
<p><a href="#_ftnref2" name="_ftn2">[2]</a> Oden, T.C. &amp; Hall, C.A. (2002). Exodus,Leviticus,Numbers,Deuteronomy (The Ancient Christian Commentary on Scripture, Old Testament part II). Illinois (U.S.A): InterVarsity Press. Pages 89 ,90</p>
<p><a href="#_ftnref3" name="_ftn3">[3]</a> <sup> </sup>تأملات في مزامير الآلام &#8211; صفحة 84 &#8211; القمص لوقا سيداروس.</p>
<p><a href="#_ftnref4" name="_ftn4">[4]</a>  كنوز النعمة &#8211; البصخة المُقدَّسة &#8211; ص ٢٠٢ &#8211; الأرشيدياكون بانوب عبده.</p>
<p><a href="#_ftnref5" name="_ftn5">[5]</a> <sup> </sup>تأملات في مزامير الآلام &#8211; صفحة 88 &#8211; القمص لوقا سيداروس.</p>
<p><a href="#_ftnref6" name="_ftn6">[6]</a>  البصخة المُقدَّسة &#8211; الجزء الثاني صفحة ٢٠٩ – الأرشيدياكون بانوب عبده.</p>
<p><a href="#_ftnref7" name="_ftn7">[7]</a> <sup> </sup>تأملات في مزامير الآلام &#8211; صفحة 91 &#8211; القمص لوقا سيداروس.</p>
<p><a href="#_ftnref8" name="_ftn8">[8]</a> <sup> </sup>تأملات في مزامير الآلام &#8211; صفحة 93 &#8211; القمص لوقا سيداروس.</p>
<p><a href="#_ftnref9" name="_ftn9">[9]</a>  الأرشيدياكون بانوب عبده &#8211; البصخة المُقدَّسة &#8211; الجزء الثاني &#8211; صفحة ٢٠٩، ٢١٠.</p>
<p><a href="#_ftnref10" name="_ftn10">[10]</a>  تأملات في مزامير الآلام &#8211; صفحة 97 &#8211; القمص لوقا سيداروس.</p>

      {% endcreateArticleAccordions %}
    </section>
  {% endblock %}
  