---
layout: 'layouts/reading.html'
title: 'يوم الأحد من الأسبوع الأول للخماسين المُقَدَّسَة'
permalink: pentecost/1-0.html
---
  {% block content %}
    <section id="readings">
      <ul>
      {% if '19.33:3,4' != 'null' %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">العشية</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeVespers '19.33:3,4' '42.5:1-11' %}
          </div>
        </div>
      </li>
      {% endif %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">باكر</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeMatins '19.96:1-2' '43.21:1-14' '' %}
          </div>
        </div>
      </li>
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <h3 class="flex items-center justify-between">
            <span class="kufi">القداس</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </h3>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeLitugy '49.4:20-32' '62.2:7-17' '44.17:16-34' '19.98:1,4' '43.20:19-31' %}
          </div>
        </div>
      </li>
        </ul>
    </section>
    <section id="article">
      <h3 class="mt-8 mb-4 heading-explain">شرح القراءات</h3>
      {% createArticleAccordions firstName, lastName %}
        <h3>أحد توما</h3>
<p>&#8220;ناظرين إلى رئيس الإيمان ومكمله يسوع&#8221; (عب 12: 2).</p>
<ul>
<li>وأصعدهم معه إلى العلو: إلى موضع راحته: خلصهم لأجل إسمه: وأظهر قوته لهم.</li>
</ul>
<p>فلهذا نحن أغنياء: بالخيرات الكاملة: وبإيمان نرتل: قائلين الليلويا. (ذكصولوجية القيامة).</p>
<ul>
<li>بي اخرستوس بينوتي.. آمين إس ايشوبي.. المسيح الهنا.. حقاً يكون. (شهادة إيمان الكنيسة في ختام ليتورجية القداس).</li>
<li>الإيمان الثابت برج حصين، فبالنسبة للمؤمن المسيح هو كل شئ. (مار اسحق السرياني).<a href="#_ftn1" name="_ftnref1">[1]</a></li>
</ul>
<p></p>
<h3>شواهد القراءات</h3>
<p>عشية: المزمور (مز ٣٢: ٢، ٣) &#8211; الإنجيل (لو ٥:1- ١١).</p>
<p>باكر: المزمور (مز 95: 1)     &#8211; الإنجيل (يو 21:1- ١٤).</p>
<p>القداس: البولس (أف 4: 20- 32) &#8211; الكاثوليكون (1يو 2: 7- 17) – الابركسيس (أع 17: 16- 34) –<br />
المزمور (مز 97: 1، 5)  &#8211; الانجيل (يو 20: 19- 31).</p>
<p></p>
<h3>ملاحظات على أحد توما</h3>
<p>تُعيِّد الكنيسة اليوم بأحد توما كما جاء في الدسقولية:</p>
<p>[وأيضاً بعد ثمانية أيام فليكن لكم عيد آخر، لأن هذا هو اليوم الثامن الذي أرضاني فيه أنا توما لما كنت غير مؤمن بالقيامة، فأراني علامات المسامير وطعنة الحربة في جنبه].<a href="#_ftn2" name="_ftnref2">[2]</a></p>
<p></p>
<h3>شرح القراءات</h3>
<ul>
<li>تحدثنا قراءات الأحد الأول عن: <strong>يقين قيامة ربنا يسوع المسيح</strong>.</li>
<li>والعجيب هنا مجئ الدعوة للتسبيح الجديد «تسبيح الخليقة الجديدة بالقيامة» بنفس الكلمات &#8220;سبحوا الرب تسبيحاً جديداً&#8221; من ثلاث مزامير مختلفة وهي: ٣٢، ٩٥، ٩٧، وهي مزامير عشية وباكر والقداس:</li>
<li>والدعوة للتسبيح الجديد في مزمور عشية مرتبطة بأهمية التهليل الحسن &#8220;لأن كلمة الرب مستقيمة وكل أعماله بالأمانة&#8221; (مز 32: 2).</li>
<li>وفي مزمور باكر يرتبط تسبيح الخلاص بدعوة كل الأرض بتسبيح الرب كل يوم &#8220;بشروا من يوم إلى يوم بخلاصه&#8221; (مز 95: 1).</li>
<li>وفي مزمور القدٍّاس يذكر سبب التسبيح أعمال الله العظيمة (قيامته المقدَّسة) &#8220;سبحوا الرب تسبيحاً جديداً لأن الرب قد صنع أعمالاً عجيبة&#8221; (مز ٩٧: ١).</li>
</ul>
<p></p>
<h4>انجيل عشية</h4>
<p>ويتكلَّم إنجيل عشيَّة عن ← كنيسة العهد القديم التي لم تأت بسمك بعد ليل الناموس الطويل إلى أن <strong>أشرق إبن الله وملأ بكلمة الحياة كنيسة اليهود وكنيسة الأمم بالثمار حتي الفيض</strong>، وبهذا ظهر يقين القيامة في ثمارها في الشعوب الغريبة، كما أوضح القديس أثناسيوس الرسولي &#8220;فلما فرغ من كلامه قال لسمعان تقدم إلى العمق واطرحوا شباككم للصيد، فأجاب سمعان وقال: يا معلم لقد تعبنا الليل كله ولم نصطد شيئاً وبكلمتك نطرح الشباك، فلما فعلوا ذلك جمعوا سمكاً كثيراً جداً وكادت شباكهم تتخرق&#8230; فأتوا وملأوا السفينتين&#8221; (لو ٥:  ٤- ٦).</p>
<p></p>
<h4>انجيل باكر</h4>
<p>وفي إنجيل باكر يوضِّح:</p>
<ul>
<li>أنها صارت سفينة واحدة (تضم الجميع يهود وأمم).</li>
<li>وأيضاً هنا الرب هو الذي أعد الطعام بنفسه لتلاميذه &#8220;فلما أتوا إلي الأرض تطلعوا فرأوا جمراً موضوعاً وسمكاً عليه وخبزاً&#8221;.</li>
<li>وهنا رغم كثرة السمك لم تتخرَّق الشبكة بخلاف سفينتي بطرس ويعقوب ويوحنا التي تخرَّقت.</li>
<li>وهنا الإشارة إلى <strong>يقين القيامة في وحدة الكنيسة</strong>، وحراستها لمواهب أعضاءها.</li>
</ul>
<p></p>
<h4>البولس</h4>
<p>يتكلَّم البولس عن ← <strong>يقين القيامة في سلوك الإنسان الجديد</strong>: &#8220;أما أنتم فلستم هكذا تعلمتم المسيح إن كنتم قد سمعتموه وعلمتم به كما هو حق في يسوع فاطرحوا من جهة التصرف السابق الإنسان العتيق الفاسد.. والبسوا الإنسان الجديد المخلوق نظير الله في البر وقداسة الحق&#8221; (أف ٤: 20- 24).</p>
<p></p>
<h4>الكاثوليكون</h4>
<ul>
<li>وهو <strong>ما تُعلنه</strong> <strong>المحبَّة المسيحية</strong> في الكاثوليكون: &#8220;أيها الأخوة لست أكتب وصية جديدة بل وصية عتيقة كانت عندكم منذ البدء، الوصية العتيقة هي الكلمة التي سمعتموها من البدء&#8221; (١يو ٢: ٧).</li>
<li>ويتكلم أيضاً عن <strong>ثمار القيامة</strong>: &#8220;أكتب إليكم أيها الأولاد لأنه قد غفرت لكم الخطايا من أجل اسمه، أكتب إليكم أيها الآباء لأنكم قد عرفتم الذي من البدء، أكتب إليكم أيها الأحداث لأنكم قد غلبتم الشرير&#8221; (١يو2: ١٢، ١٣).</li>
</ul>
<p></p>
<h4>الابركسيس</h4>
<p>وتصميم القديس بولس في الإبركسيس على ← <strong>الكرازة بالقيامة</strong> رغم إستهزاء أهل أثينا به: &#8220;وأما بولس فإذ كان في أثينا احتدت روحه في ذاته إذ رأى المدينة مملوءة أصناماً فكان يكلم في المجمع اليهود والمتعبدين وكل الذين يجتمعون في السوق كل يوم &#8230; كان يبشرهم بيسوع وقيامته&#8221; (أع ١٧: 16- ١٨).</p>
<p>وأيضاً &#8220;لأنه قد أقام يوماً هو مزمع فيه أن يدين المسكونة كلها بالعدل على يد الإنسان الذي عينه وأعطى الإيمان لكل أحد إذ أقامه من الأموات&#8221; (أع ١٧: ٣١).</p>
<p>&#8220;فلما سمعوا بالقيامة من الأموات فبعضهم كانوا يستهزئون وبعضهم قالوا سنسمع منك عن هذا أيضاً&#8221;.</p>
<h3></h3>
<h4>انجيل القداس</h4>
<p>وفي انجيل القداس عن ← <strong>الأبن الذي يظهر</strong> خصيصاً لتوما <strong>لإعلان يقين قيامته، ولكن</strong> في الوقت ذاته <strong>يُطوِّب إيمان الحياة معه أكثر من إيمان الرؤى والآيات</strong> &#8220;ثم قال لتوما هات اصبعك إلى هنا وأنظر يدي، وهات يدك وضعها في جنبي ولا تكن غير مؤمن بل آمن، فأجاب توما وقال له: ربي وإلهي.. فقال يسوع: لما رأيتني آمنت، طوبى للذين لم يروا وآمنوا&#8221; (يو ٢٠: ٢٧- ٢٩).</p>
<p></p>
<h3>ملخص الشرح</h3>
<ul>
<li>نالت البشرية التسبيح الجديد بقيامة المسيح وتعيشه كل يوم والمؤمنين في جميع أقطار المسكونة. (مزمور عشية وباكر والقداس).</li>
<li>بدأت كنيستي اليهود والأمم تقطف ثمار الخلاص في تجسُّد الكلمة، لكن بعد القيامة صارت كنيسة واحدة مملوءة بفيض من كل ثمار القيامة. (إنجيل عشية وباكر).</li>
<li>يُسْتَعلن يقين القيامة في سلوك الإنسان الجديد (البولس)، والوصية الجديدة أي المحبة (الكاثوليكون)، والتعليم الجديد أي الكرازة بالقيامة (الإبركسيس).</li>
<li>ظهور الرب خصيصاً ليؤكِّد لتوما حقيقة قيامته ويُطوِّب من آمنوا ولم يروا (إنجيل القداس).</li>
</ul>
<p></p>
<h3>عظات مقترحة <strong>للأحد الأوَّل من الخمسين يوم المقدسة </strong></h3>
<h4>فعل الإيمان بمسيح القيامة</h4>
<p><strong>تصديق حقيقة القيامة وفعلها فينا</strong><strong>:</strong></p>
<ul>
<li>الإيمان بكلمته:</li>
</ul>
<p>&#8220;فأجاب سمعان وقال يا معلم قد تعبنا الليل كله ولم نصطد شيئاً وبكلمتك نطرح الشباك، فلما فعلوا ذلك جمعوا سمكاً كثيراً جداً&#8221; (إنجيل عشيّة).</p>
<ul>
<li>الإيمان بأعمال كلمته وقدرتها:</li>
</ul>
<p>&#8220;فقال لهم يسوع: أيها الفتيان أعندكم شيئاً يؤكل؟ فأجابوه: لا .. قال لهم: القوا الشبكة عن يمين السفينة فتجدوا، فألقوا ولم يقدروا أن يجذبوها إلى فوق من كثرة السمك&#8221; (إنجيل باكر).</p>
<p>الفرق بين المعجزتين:</p>
<ul>
<li>أن الأولي الإيمان فيها بكلمته أعقبه المعجزة.</li>
<li>أما الثانية فإن المعجزة أعقبها الإيمان.</li>
<li>الإيمان العملي:</li>
</ul>
<p>&#8220;فاطرحوا من جهة التصرف السابق الإنسان العتيق الفاسد .. والبسوا الإنسان الجديد المخلوق نظير الله في البر وقداسة الحق&#8221; (البولس).</p>
<ul>
<li>الإيمان الواحد في العهدين:</li>
</ul>
<p>&#8220;أيها الأخوة لست أكتب وصية جديدة بل وصية عتيقة كانت عندكم منذ البدء&#8221; (الكاثوليكون).</p>
<ul>
<li>ثمار إيمان العهد الجديد:</li>
<li>غفران الخطايا.</li>
<li>معرفة الآب.</li>
<li>النصرة على الشرير.</li>
</ul>
<p>&#8220;أكتب إليكم أيها الأولاد لأنه قد غفرت لكم الخطايا من أجل اسمه، أكتب إليكم أيها الآباء لأنكم قد عرفتم الذي من البدء، أكتب إليكم أيها الأحداث لأنكم قد غلبتم الشرير&#8221; (الكاثوليكون).</p>
<ul>
<li>الشهادة للإيمان الصحيح وسط المعتقدات الغريبة الخاطئة:</li>
</ul>
<p>&#8220;وبعضهم قال: ماذا يريد هذا المهذار أن يقول، وآخرون قالوا نظن أنه يبشر بآلهة غريبة لأنه كان    يبشرهم بيسوع وقيامته&#8221; (الإبركسيس).</p>
<ul>
<li>الإيمان هو عطيّة الله:</li>
</ul>
<p>&#8220;وأعطي الإيمان لكل أحد&#8221; (الإبركسيس).</p>
<ul>
<li>الإبن يدعم إيمان الكنيسة وإيمان كل عضو في ضعفه:</li>
</ul>
<p>حيث كان التلاميذ مجتمعين لسبب الخوف من اليهود جاء يسوع ووقف في وسطهم وقال لهم السلام لكم&#8230; ثم قال لتوما هات اصبعك إلى هنا وأنظر يدي، وهات يدك وضعها في جنبي ولا تكن غير مؤمن بل آمن&#8221; (إنجيل القدَّاس).</p>
<p>من وحي ظهورات الرب بعد القيامة</p>
<p><strong>توما ..عَظِّمْ</strong> (بالشدة على الظاء) <strong>طلبك من المسيح.</strong></p>
<ul>
<li>كيف يجرؤ توما أن يشترط ظهور المسيح لكي يؤمن بقيامته؟.</li>
<li>كيف يربط ايمانه بلمس جراحات المسيح له المجد بيده؟.</li>
<li>كيف لا يكتفي بشهادة الآخرين حتى لو كانوا رسلاً ومعتبرين؟.</li>
<li>كيف لم يستكثر لنفسه ظهورًا خاصًا مميزًا عن إخوته الرسل؟.</li>
<li>كيف لم يستحي من شكه وضعفه، ويطلب من الله احتواء وقبول ضعفه؟.</li>
<li>كيف لم يتأسف ولم يعتذر عن شرط ايمانه بعد ظهور الرب له؟.</li>
<li>كيف لم يخجل أمام الآخرين من شكه وعدم تصديقه؟.</li>
</ul>
<p><strong>الإجابة:</strong></p>
<p>ببساطة أنه:</p>
<ul>
<li>طلب من الرب طلبًا عظيمًا،</li>
<li>وتأكد أنه يتبع إله الطلبات العظيمة</li>
<li>ولم يتردد في طلبه.</li>
<li>أشكرك يا إله إحتواء الضعفات، وقبول كل نقائص دون تعيير أو توبيخ.</li>
<li>ورغم تطويب الرب لمن آمنوا ولم يروا، فإنه لم يحتقر من اشترطوا أن يروا لكي يؤمنوا.</li>
</ul>
<p></p>
<h3>عظات آبائية للأحد الأوَّل من الخمسين يوم المقدسة</h3>
<h4>طوبى للذين آمنوا ولم يروا .. القديس كيرلس الاسكندري<a href="#_ftn3" name="_ftnref3">[3]</a></h4>
<p><strong>(يو20: 29) </strong><strong>&#8220;قَالَ لَهُ يَسُوعُ: لأَنَّكَ رَأَيْتَنِي يَا تُومَا آمَنْتَ طُوبَى لِلَّذِينَ آمَنُوا وَلَمْ يَرَوْا&#8221;.</strong></p>
<p>قول المخلص مناسب جدًا، ويمكن أن نستمد منه أعظم فائدة. فهو بهذا القول يورينا اهتمامه العظيم بنفوسنا: لأنه صالح ويُرِيدُ أَنَّ جَمِيعَ النَّاسِ يَخْلُصُونَ، وَإِلَى مَعْرِفَةِ الْحَقِّ يُقْبِلُونَ. حسب المكتوب (١تي٢: ٤).</p>
<p>وما يقوله الرب هنا لا يستدعي أي دهشة. فقد كان من الضروري له في الواقع أن يكون طويل الأناة، كما كانت طريقته التي عامل بها توما، الذي عبَّر عن شكه. وأيضا عامل التلاميذ الآخرين، الذين ظنوا أنهم نظروا روحًا أو شبحًا. ولكي يظهر آثار المسامير وجنبه المطعون، كما سبق أن فعل، لأجل الإقتناع الشامل. وأيضًا أن يأكل من الطعام. بعكس المعتاد وبدون احتياج. لكي لا تُترك حجة لعدم الإيمان لأولئك الذين يسعون لكي يربحوا من قوته.</p>
<p>ولكن كان من الضروري أيضًا أن ينظر الرب إلينا نحن الذين نأتي بعد الرسل لكي يحفظنا من عدم الإيمان. لقد كان من الضروري أيضًا أن ينظر إلى طرف آخر، أي إلى أولئك الذين سيأتون في الأزمنة الأخيرة، حتى لا يجدّوا بسهولة إلى عدم الايمان لأنه من المحتمل أن ينحرف البعض عن الطريق المستقيم، ونتيجه الجهل يكون لديهم حرص زائف، فيرفضون الإيمان بالقيامة من الأموات، ويقولون لنا مثل ذلك التلميذ غير المؤمن &#8220;إن لم أبصر في يديه أثر المسامير، وأضع يدي في جنبه لا أؤمن.</p>
<p>فما هي الوسيلة التي يمكن بها إقناعهم، والمسيح لم يعد مرئيًا على الأرض بل قد صعد إلى السماء؟.</p>
<p>وهل لا يظن أحبابنا أنهم محقون عندما يتحدثون  بهذه الطريقة، حينما يظهرون أنهم يتمثلون بتلميذ المخلص في هذا الأمر، ويعتبرونه أمرًا نبيلاً أن يمتنعوا عن الإيمان بطريقة سطحية، بل بالحري يطلبون أدلة أكثر لكي يصلوا إلى اليقين الكامل، ولذلك يطلبون أن يروا بأنفسهم ما أظهر للتلاميذ القديسين؟</p>
<p>لذلك فالمسيح يبعد الناس عن مثل هذا الميل، ويحفظهم من السقوط، فلكونه بالحقيقة هو الإله حقًا فهو يعرف جيدًا خداع الشياطين وحيلهم الخبيثة.</p>
<p>ولذلك يعلن أن الذين يؤمنون دون أن يروا هم مطوبون، وهم بالتأكيد جديرون بكل اعجاب. ولماذا؟..</p>
<p>لأن الإيمان الذي لايسأل هو بسبب أنه يرى ماهو أمام عينيه، إذ ليس هناك ما يثير فينا الشك بالمرة.</p>
<p>ولكن الذي يقبل ما لم يره، ويؤمن أن لقنه إياه المُعلم وإن الكلمات التي سمعها منه، هي حق، حينئذ فإنه يكرم الرب الذي بشر به بإيمان جدير بالثناء.</p>
<p>كذلك، مبارك كل من يؤمن بما بشر به الرسل القديسون، الذين كانوا معاينين لما فعله المسيح وخدامًا للكلمهً، كما يقول لوقا (انظر لو١: ٢).</p>
<p>وينبغي أن نسمع لصوت الرسل إن كنا مفتونين بالحياة الأبدية، ونتمسك في قلوبنا بالرغبة في أن نسكن في المنازل السمائية العلوية.</p>
<h4>اشتراك توما في الروح القدس &#8211; القديس كيرلس الاسكندري<a href="#_ftn4" name="_ftnref4">[4]</a></h4>
<p>سوف نجد في الفقرة التالية لما شرحناه، الكلمات التالية: &#8220;أَمَّا تُومَا، أَحَدُ الاثْنَيْ عَشَرَ، الَّذِي يُقَالُ لَهُ التَّوْأَمُ، فَلَمْ يَكُنْ مَعَهُمْ حِينَ جَاءَ يَسُوعُ&#8221; (يو٢٤:٢٠).</p>
<p>كيف؟.. ربما سأل البعض وهو سؤال معقول. كان بعيدًا واشترك معهم في الروح القدس عندما ظهر المخلص وقال لهم: اقبلوا الروح القدس؟..</p>
<p>والإجابة على هذا السؤال هي: أن قوة الروح تملأ كل البشر وعندما قصد الرب أن يعطيه للتلاميذ لم يكن يقصد أن يعطيه للبعض دون الآخرين، ومن كان غائبًا منهم فقد قبله، لأن كفاية الواهب ليست قاصرة على الموجودين بل تمتد الى كل جماعة الرسل.</p>
<p>وهذا الحق ليس من خيالنا ولا هو من ضلال، ولذلك علينا أن نقنعهم من الكتب المقدسة نفسها مؤكدين ذلك بفقرة من توراة موسى، لأن الرب الإله أمر موسى الحكيم أن يختار سبعين شيخًا من جماعة اليهود وصرح علانية: &#8220;سوف آخذ من الروح الذي عليك وأضع عليهم&#8221; (عد١٧:١١).</p>
<p>وأطاع موسى واحضرهم إلى خيمة الإجتماع (عد٢٤:١١) إلا رَجُلَين تخلفا عن الحضور ومكثا في المحلة وهما ألداد وميداد، لكن الله وضع عليهم الروح الالهي كما وعد وأخذ الكل النعمة.. الذين كانوا في خيمة الإجتماع مع موسى وكذلك الأثنين اللذين تخلفا، الكل تنبأوا.. وفي الحقيقة أن الرجلين اللذين تخلفا تنبآ ونالا النعمة من فوق قبل الباقين. إلا أن يشوع بن نون الذي كان يلازم موسى دائماً والذي لم يفهم معنى السر ظن أن الرجلين آلداد وميداد يمهدان لإنقسام مماثل لما صنعه &#8220;داثان وأبيرام&#8221;، ولذلك أسرع إلى موسى قائلًا: &#8220;يا سيدي موسى أردعهما&#8221; (عد٢٨:١١)، ولكن بماذا أجاب الرجل العظيم والحكيم الذي رأى بحكمته أن النعمة من فوق وأنهما قد نالا معاً قوة الروح؟.. هل تغار أنت لي؟ ياليت كل شعب الرب كانوا أنبياء إذا جعل الرب روحه عليهم (عد٢٩:١١). ولاحظ كيف ينتظر شيوع الذي لم يعرف ماذا حدث. كان موسى يتمنى أن يُعطَي الروح للشعب كله، ولكن هذا كان سيحدث في الوقت المُعين عندما يمنح الرب المسيح الروح القدس للكل، وينفخه على تلاميذه كباكورة البشرية قائلًا: &#8220;اقبلوا الروح القدس&#8221;. ومع أن توما لم يكن موجودًا إلا انه لم يُحرَم من قبول الروح القدس، لأن الروح حلَّ في الكل أي الذين وُعِدوا بأن يأخذوه وهم الذين حُسِبوا ضمن جماعة الرسل المكرمين.</p>
<p><strong>من غفرتم خطاياه:</strong></p>
<p>وعندما اعطي المسيح الروح القدس قال: &#8220;من غفرتم خطاياه تغفر له ومن أمسكتم خطاياه أمسكت&#8221;. والله الحيّ وحده هو القادر على أن يمنح الخطاة غفران الخطايا. ولايستطيع أحد أن يعفو عن ذنوب الذين يخطئون ضد الناموس الإلهي إلا واضع الناموس نفسه.</p>
<p>ولكننا نستطيع أن ندرك معنى النص بالمقارنة بالأمور البشرية مع الاحتفاظ بالفوارق.</p>
<p>الذين ينفذون أحكام وقوانين ملوك الأرض أو يلغون قرارتهم هم الذين نالوا المقام والكرامة الملوكية. وقياساً على هذا، بأي كيفية وبأي معنى أعطي المخلص لرسله الكرامة اللائقة بالله وحده؟</p>
<p>الكلمة الذي في الآب لا يمكنه ان يخطئ، وما يفعله إنما يفعله بكل صلاح فهو الذي دبر أن الذين منحوا الروح القدس وهو الرب والله، تصبح لهم القوة على أن يغفروا ويمسكوا الخطايا لأن الروح القدس الساكن فيهم هو الذي يغفر ويمسك، حسب إرادته رغم أن العمل يتم بوسيلة بشرية.</p>
<p>والذين لهم روح الرب يغفرون او يمسكون الخطايا بطريقتين:</p>
<p>أولاً: انهم يدعون الناس للمعمودية والذين يستحقون المعمودية بسبب التوبة ونقاوة حياتهم بعد اختبار التصاقهم بالإيمان ينالون المغفرة، ولكن في نفس الوقت يمنعون بل يطردون الذين لا يستحقون هذه النعمة الإلهية وهكذا يمسكون الخطايا.</p>
<p>ثانياً: انهم يغفرون الخطايا أو يمسكونها عندما ينتهرون أبناء الكنيسة الذين يخطئون ويمنعون الصفح عمن لا يتوب كما فعل بولس عندما سلم الذي زنى في كورنثوس لهلاك الجسد لكي تخلص الروح (١كو٥:٥)، وبعد ذلك أعاده إلى الشركة لكي لا يبتلع من الحزن، وعندما يسكن روح المسيح في قلوبنا فإنه يعمل الأمور التي تخص الله وحده، لأنه الله الحي الذي له المجد والكرامة الخاصة باللاهوت وله القوة والسلطان على القوانين المقدسة.</p>
<p>عن الثبات يقول القديس يوحنا ذهبي الفم: &#8220;فإن كان يجب على المتنافس في جولات الملاكمة والمصارعة أن يكون ثابتًا بكل قوة قبل بداية المباراة، فكم بالحري في الحروب والشئون العسكرية، فالإنسان الثابت غير المهتز، الذي لايستند على آخر لا يمكن أن يسقط أبدًا، فموقف الثبات الدقيق، يتضح في الطريقة التي بها يقف المرء.. فالكائنات القائمة باستقامة، هذه قد ثبتت، أما التي لم تثبت، فستصبح عرضة للإنحلال والتفكك. فمحب اللذة لا يقف بثبات، بل يستند على شيء ما، كذلك محب الشهوة، ومحب المال.</p>
<p>فمن يعرف أن يثبت، سيكون الصراع سهلًا بالنسبة له، بسبب ثباته في موقفه، كأنه مدعوم بدعم ما. يقول: &#8220;فأثبتوا ممنطقين أحقاءكم بالحق&#8221;، لا يتكلم عن حزام أو منطقة حقيقية، لأن كل ما جاء في هذا الجزء يتكلم عنه بشكل رمزي، ولاحظ كيف يتقدم في كلامه بشكل منظم. فهو أولاً يمنطق الجندي من جديد.. ماذا يعني هذا؟.. يعني أنه يوقف العمل بتلك المنطقة المتحللة والمتفسخة، بسبب الشهوات، ولا يسمح أن يعاق، بسبب الثياب المتشابكة حول الساق، بل يتركه يركض بأرجل مرنة..</p>
<p>&#8220;فأثبتوا ممنطقين أحقاءكم&#8221; ما يعنيه هنا بالأحقاء هو الآتي: فكما هو الحال بالنسبة للقوارب، يكون الأساس هو الجزء الأسفل في الهيكل الكامل للقارب، هكذا بالنسبة لنا فإن الأحقاء هي الأساس لكل جسد، وكأنه الأساس الذي فوقه يُبنى كل شيء، كما يقول الأطباء.<a href="#_ftn5" name="_ftnref5">[5]</a></p>
<h4>الإيمان بأمور لا ترى &#8211; القديس أغسطينوس أسقف هيبو<a href="#_ftn6" name="_ftnref6">[6]</a></h4>
<p>أدلة منطقية تثبت إمكانية الإيمان بأمور لا تُري بالعيون المادية:</p>
<p><strong>١-</strong> هناك أناسُ يعتقدون أن الديانة المسيحية يلزم السخرية منها، وليس التمسُك بها، وذلك لأنه لا يمكن إثباتها بأمور مرئية، بل أن الناس فيها مطالبون بالإيمان بأمور لا ترى.</p>
<p>ونحن إذاً لكيما نَدحض فكر هؤلاء الحكماء في أعين أنفسهم الذين لا يريدون أن يصدقوا ما لا يستطيعون أن يروه بعيونهم، فإننا لا نستطيع بالطبع أن نُظهر للعيون البشرية هذه الأمور الإلهية التي نؤمن بها لكننا نستطيع أن نُظهر للفكر البشري أنه يمكننا تصديق حتى الأشياء التي لا تُرى.</p>
<p>بداية يجب أن نقول لهؤلاء الذين بحماقتهم قد أعطوا لعيونهم الجسدية أهمية جعلتهم لا يصدقون كل ما لا يرون بهذه العيون : كم من أمور يصدقونها بل ويعرفونها ولكنها لا تُرى بعيونهم تلك؟.. هذه الأمور غير المحصاة توجد في عقولنا نفسها &#8211; مع العلم أن طبيعة هذا العقل ذاته أيضاً أنه غير مفحوص &#8211; كالإيمان الذي به نصدق أمراً ما والفكر الذي به نحكم بأن نصدق الشيء أو لا نصدّقه، بالإضافة إلى أمور أخرى كثيرة، هذه الأمور جميعها غريبة عن أنظار العيون الجسدية، وبرغم من ذلك كم هي مكشوفة وواضحة ومؤكدة لعيون فكرنا الداخلية؟.. إذا كنّا بدون شك ندرك وجود الإيمان والأفكار رغم أنه لا يمكن رؤيتهما بالأعين الجسدية، فكيف لا نؤمن بالمسيح إذاً؟.</p>
<p><strong>٢-</strong> لكن قد يقولون أن الأمور التي في العقل، نستطيع بواسطة العقل نفسه أن نميزها فلَيْس لنا حاجةُ أن نراها بعيون الجسد، لكن تلك الأمور التي تطالبنا بأن نؤمن بها ليست هي أشياء خارجة عنا حتى نراها بعيون الجسد، ولا هي داخل عقولنا حتى أنه بتمرينات مُعيَّنة للفكر قد نراها.. زاعمين أن تلك الأشياء التي يصدقونها هي فقط الأشياء التي يرونها أمامهم.<a href="#_ftn7" name="_ftnref7">[7]</a> لذلك أقول أنه يجب علينا بالتأكيد أن نؤمن ببعض الأمور الحاضرة، وإن كنّا لا نراها، لكيما نستحق أيضاً أن نرى الأشياء الأبدية، التي نؤمن بها.</p>
<p>لكن أنت يا مَنْ لا تصدق إلا ما تراه، هوذا الماديات التي حولك تراها بعيون الجسد، ونيَّاتك وأفكارك الخاصة تراها بعيون عقلك إذ هي حاضرة في عقلك، ولكن أخبرني، نية صديقك نحوك.. بأي عيون تراها؟.. فلا يمكن أن تُرى النيات بعيون الجسد. فهل ترى في عقلك أيضاً ما يدور في عقل آخر؟.. ولكن إن كنت لا تراها، فكيف تُبادل نية صديقك الصادقة نحوك إن كنت لا تؤمن بما لا تراه؟.</p>
<p>هل ستقول جدلاً بأنّك ترى نية الآخر من خلال أعماله؟ إذن أنت سترى أفعالاً، وستسمْع كلمات، ولكن نية صديقك التي لا يُمكن أن تُرى أو تُسمع فأنت ستصدقها.</p>
<p>فهذه النية ليس لها لون أو شكل حتي تراها العينان، وليس لها صوت أو نغم، حتي تسمعها الأذنان ، وهي ليست نيتك، لكي ما تَكُون محسوسة في قلبك. وعلي الرغم من أنها لا تُرى، ولا تُسمع، ولا هي منظورة بداخلك فيجب عليك أن تصدّق هذه النية، وإلا ستشعر بالوحدة في حياتك، بدون صداقة، ولن تستطيع أن تبادل من يحبك نفس الشعور.</p>
<p>فأين هذا الذي تقوله إذن أنك لا تستطيع أن تصدق شيئاً إلا لو رأيته بعين الجسد أو رأيته داخل قلبك؟.. هوذا من كل قلبك تصدِّق ما في قلب غيرك وتؤمن حيث لا تستطيع أن ترى بعينيك أو بقلبك. فوجه صديقك تستطيع أن تميزه بعين الجسد وموقفك نحوه يمكنك أن تميزه بعقلك، لكنك لن تستطيع أن تُقدَّر محبة الآخر لك مالم تبادله هذا الحب، إذ تصدق أن فيه هذا الحب الذي لا تراه. فمن الممكن أن يخدع الرجل غيره باختلاق النية الحسنة، وإخفاء الحقد. وحتى إن لم يكن يفكرُ في إيذائك ولكن لأنه قد ينتظر أن ينتفع منك بشيء، فمن الممكن أن يختلق المحبة على الرغم من أنها ليست فيه.</p>
<p><strong>٣-</strong> لكنك تَقُول، إنك تصدق صديقك، الذي لا يمكن أنْ ترى قلبه، لأنك اختبرته في تجاربك، إذ لم يتركك في وقت الشدة.. فقد عرفت حقيقة شعوره نحوك. فهل هذا معناه أنه يَجِبُ أنْ نتمنى أن تصيبنا الشدائد لكيما نتيقن من صدق حب الصديق لنا؟.. فهذا يعني أنه لن يوجد رجل سعيد مع الأصدقاء الأوفياء، مالم يحزن الصديق في المصائب التي تصيب صديقه!.. ولن يتمتع أحد إذن بحب الآخر مالم يتألم بأحزان ومخاوف!.. وكيف نتمنى السعادة مع الأصدقاء المخلصين ولا نخشاها، إن كنّا لا نستطيع أن نُثبت صدق حبهم إلا من خلال الأحزان؟.. ولكن من الممكن أن يكون لك صديق في وقت السعة، وإن كنت تستطيع أن تُثبت صداقته بالأكثر في وقت الشدة. لكنك بالتأكيد لن تُعَرِض نفسك للخطر لكيما تتيقن من صداقته، مالم تكن متأكداً أنه سيُثبت حسن ظنك،<a href="#_ftn8" name="_ftnref8">[8]</a> وهكذا فأنت فيما تعرض نفسك للخطر فأنت تُصَدِّق صديقك من قبل أن تُجَرِبه.</p>
<p>بالتأكيد، إن كان لا يجب علينا أن نصدق الأمور التي لا تُرى، لكننا حقاً نصدق قلوب أصدقائنا وإن كنّا لم نبرهن على صدق شعورهم، وحتى بعد أن نتأكد من صداقتهم من خلال ضيقاتنا فنحن نصدق نيتهم الصادقة نحونا دون أن نراها. إذاً عظيم جدًا الإيمان الذي به نحكم بشكل ملائم إننا نرى &#8211; بعيون ما &#8211; الذي نؤمن به، فإننا يجب أن نؤمن إذن، لأننا لا نرى.</p>
<h4>ظهور المسيح لتوما &#8211; عند كل من: القديس غريغوريوس أسقف نيصص، والقديس أمبروسيوس<a href="#_ftn9" name="_ftnref9">[9]</a></h4>
<ul>
<li><strong>لا مجال الآن لأنْ يشك أحد في قوة القيامة</strong></li>
<li>القديس غريغوريوس أسقف نيصص</li>
</ul>
<p>&#8220;إذ هو قد عوَّد الناس أنْ يعاينوا إقامة آخرين، كذلك فإنه قد أثبت كلمته بالبرهان بفعل ناسوته. وأنت قد اطّلعت على مجرد لمحة مما عملته  تلك الكلمة مع أناس قد أدركهم الموت: كالطفل الذي قد فارق الحياة، والشاب الذي كان على حافة القبر، والجسد الذي قد أنتن&#8230; كل هؤلاء على حد سواء قد رُدّت لهم الحياة بأمرٍ واحد.</p>
<p>فانظر إذن لمَن ثُقِبَت يداه بالمسامير؛ انظر لهذا الذي طُعِن جنبه بحربة. المس بأصابعك أثر المسامير؛ مد يدك وضعها في جرح الحربة؛ وبالتأكيد أنت ستقدّر عمق الجرح الذي قد تصل إليه يدك لكبر علامته مِن خارج – لأن الجرح الذي يتسع لإدخال اليد يخبر بالعمق الذي إليه دخل الحديد. وإذ هو قد قام، فلننطق بصياح الرسول المتعجب: &#8220;فكيف يقول قومٌ بينكم أنْ ليس قيامة أموات؟&#8221; لهذا إذن، فإن كل نبوءة عن الرب قد تحققت ببيان وبشهادة الأحداث.</p>
<p>وفي الحقيقة فإننا لم نَعرف بهذا الأمر مِن كلامه فقط، بلْ قد وجدنا البرهان في أعماله التي تجسّدت في الناس أنفسهم، هؤلاء  الذين عادوا للحياة بالقيامة. فماذا بعد مِن دليل لمَن لا يؤمنون؟ فحريّ بنا أنْ نودّع كل مَن يضلّلنا ب &#8220;الفلسفة والخداع الباطل&#8221; عن إيماننا البسيط، وبدلاً مِن ذلك نتمسك باعترافنا &#8220;بالقيامة&#8221; وصحتها؛ هذا الاعتراف الذي أنبأنا به القول الحسن للنبي: &#8220;تنزع أرواحها فتموت وإلى ترابها تعود. ترسل روحك فتُخلَق. وتجدّد وجه الأرض&#8221;.</p>
<ul>
<li>القديس أمبروسيوس</li>
</ul>
<p>&#8220;قد قرأتم أن الآب هو الرب وهو الله: &#8220;أيها الرب إلهي: إني أدعوك؛ فاستجب لي.&#8221; وتجدون أن الابن أيضًا هو ربٌّ وإله، فهكذا قرأتم في الإنجيل: إذ لمس توما جنب المسيح، قال: &#8220;ربي وإلهي&#8221; إذن، فكما أن الآب هو الله والابن رب، كذلك الابن أيضًا هو الله والآب رب: فالإسمان المقدسان يتداولهما كل منهما مع الآخر.</p>
<p>الطبيعة اللاهوتية لا تتغير لكن الكرامة تظل بلا تغيير. لأنهما لم يكونا قد أعطيا لهما مِن قَبيل الهبة، بلْ مِن قَبيل العطايا الإرادية لطبيعة المحبة. فإن الوحدانية لها صفاتها الخاصة، وتلك الصفات الخاصة تتجمّع معًا لتكون وحدة واحدة مع الروح القدس.</p>
<ul>
<li><strong>الطوبى الخفية تحت الألم</strong></li>
<li>أمبروسيوس</li>
</ul>
<p>&#8220;هناك بعض أناس يظنون أن حياة النعيم والطوبى تكون مستحيلة لدى هذا الجسد الزليل الواهن: إذ أننا لا بد أنْ نقع تحت الألم والحزن، والنحيب والمرض&#8230; كل ذلك قد يكون له هذا الجسد عرضة. فليس مِن الطوبى في شيء أنْ نكون في وسط الألم؛ لكن الطوباوية تكون بالنصرة على هذه كلها، وبألّا تكون شدة الألم الوقتي سببًا في اشتداد الضيقات.</p>
<p>ضعوا بعين الاعتبار أن الأمور تبدو صعبة لِمَا تتسبب فيه مِن أسى؛ مِثل العمى والنفي والجوع واغتصاب الإبنة وفقدان البنين.</p>
<p>مَن ذا الذي ينكر أن إسحق قد كان طوباويًّا، هذا الذي لم يعُدْ يستطيع الرؤية في شيخوخته، إلّا أنه لطوباويته قد أعطى البركة؟..</p>
<p>ألم يكن يعقوب طوباويًا، وهو الذي بعد أنْ ترك بيت أبيه تحمّل الغربة وعمل بالرعي مِن أجل العيش، وحزن بسبب ما أصاب ابنته مِن تدنيس، وذاق عناء الجوع؟..</p>
<p>ألم يكونوا طوباويين هؤلاء الذين على صلاح إيمانهم قَبِل الله الشهادة؟.. لأنه هكذا مكتوب: &#8220;إله إبراهيم، وإله إسحق، وإله يعقوب.&#8221;</p>
<p>كم هي بائسة العبودية! لكن يوسف لم يكن بائسا. حقًا قد كان طوباويًّا بالفعل: فبينما كان عبدًا، فقد  وقف ضد شهوانية سيدته.</p>
<p>وماذا أقول عن داود القديس الذي ناح على موت ثلاثة مِن أبنائه؟ بلْ والأسوأ مِن هذا كان ما وقع بابنته مِن سفاح قربى. كيف يكون غير طوباوي هذا الذي مِن نسله جاء مَن أوجَد البركة نفسه، الذي جعل كثيرين طوباويين؟ لأنه &#8220;طوبى للذين آمنوا ولم يروا&#8221;..</p>
<p>كل هؤلاء شعروا بضعفهم، لكنهم بشجاعة تغلّبوا عليه.</p>
<p>ماذا يمكن أنْ نظنّه أسوأ مما أصاب أيّوب الصدّيق سواء مِن احتراق بيته، أَمْ مِن موت باغت بنيه العشرة أَمْ مِن آلامه الجسمانية؟ أَمَا كان أقل طوباوية ما لم يكن قد تحمَّل كل هذه الأوجاع التي بها قد تبرَّر؟</p>
<p>حقيقي أن في هذه الآلام مرارة، وأننا لا نستطيع أنْ نغلّب العقل على العاطفة في التقليل مِن وطأة الألم. فلا ينبغي لي إذن أنْ أُنكِر أن البحر عميق لمجرّد أن شاطئه ضحل، ولا أن السماء صافية لأنها أحيانًا تُغطّى بالسحب، ولا أن الأرض مثمرة لأن عدة مواضع منها تكون أرضًا قفرة ولا أن نتاجها خصب وافر لأن الأعشاب البرية أحيانًا تنبت في وسطها وتختلط بها. لذلك أيضًا احسبوها حقيقة أن حصاد الضمير النقي قد تختلج به بعض مشاعر الأسى المريرة. ففي جملة أحداث حياة الطوبى قد تكون هناك بعض ملابسات بسوء الحظ تأتي صدفة؛ فإنْ كان هكذا الحال: أليس هذا هو ما يحدُث إذا نبتت الأعشاب البرية واختبأت؟ أو كما لو اختفت مرارة الزوان بفعل رائحة القمح الزكية؟&#8221;.</p>
<h3>عظات آباء وخدّام معاصرين <strong>للأحد الأوَّل من الخمسين يوم المقدسة</strong></h3>
<h4>القيامة والإيمان &#8211; قداسة البابا تواضروس الثاني<a href="#_ftn10" name="_ftnref10">[10]</a></h4>
<p>توما الرسول يمثل الشخص السوداوى (المتشائم) كما يبدوا في ثلاثة مواقف:</p>
<p>1- وقت نياحه لعازر (يو ١١: ١٦) &#8220;لِنَذْهَبْ نَحْنُ أَيْضًا لِكَيْ نَمُوتَ مَعَهُ&#8221;.</p>
<p>2- عندما قال المسيح &#8221; فِي بَيْتِ أَبِي مَنَازِلُ كَثِيرَةٌ،&#8230; وَتَعْلَمُونَ الطَّرِيقَ&#8221; أجاب توما: &#8221; يَا سَيِّدُ، لَسْنَا نَعْلَمُ أَيْنَ تَذْهَبُ، فَكَيْفَ نَقْدِرُ أَنْ نَعْرِفَ الطَّرِيقَ؟&#8221; (يو١٤: ٢- 5).</p>
<p>3- مع الرسل بعد القيامة &#8220;إِنْ لَمْ أُبْصِرْ&#8230; وَأَضَعْ إِصْبِعِي&#8230;&#8221; (يو٢٠: ٢٥).</p>
<p><strong>المشكلة:</strong> ليست أنه لا يريد أن يؤمن أو أنه يرفض الإيمان، بل أنه يريد المعرفة أولاً ثم الإيمان، ولكن &#8220;طُوبَى لِلَّذِينَ آمَنُوا وَلَمْ يَرَوْا&#8221; لقد كان &#8220;آخر&#8221; الرسل في الإيمان بالقيامة، ولكنه صار &#8220;أول&#8221; من اعترف بلاهوت المُخلص القائم.</p>
<p>وهكذا أمام <strong>الإيمان</strong> نجد ثلاثة أنواع من البشر :</p>
<p>١- من لا يؤمن حتى وإن رأى: ومثال على ذلك فرعون مصر.</p>
<p>٢- من يؤمن فقط إن رأى: ومثال ذلك توما الرسول.</p>
<p>٣- من يؤمن حتى وإن لم يرى: ومثال على ذلك نوح وإبراهيم وكثيرون &#8211; ونحن لذلك تُسمى الكنيسة هذا الأحد &#8220;بالأحد الجديد&#8221; حيث تجدد فيه إيمان توما الرسول، لقد جس يسوع كإنسان وانتهى به الأمر فآمن به كإله وكانت صرخة الإيمان &#8220;رَبِّي وَإِلهِي&#8221; هي مركز حياته الإيمانية الجديدة وكرازته فيما بعد في بلاد الهند.</p>
<p><strong>طُوبَى لِمَنْ آمَنَ وَلَمْ يَرَىَ</strong></p>
<p>هذا الظهور الخاص لتوما الرسول له دلالات:</p>
<p>أ – علامة الأهتمام الفردى (من أجل كل فرد) وافتقاد الغائب.</p>
<p>ب- علاج للضعف البشري (الشك) لأن التلاميذ العشرة لم يقدروا أن يقنعوا توما.</p>
<p>ج- استجابة لطلبة مرفوعة (لمس الأثر) من خلال التلاميذ وطلب توما الرسول.</p>
<p>حروب عدوا الخير تأخذ شكلين:</p>
<p>١ – شك:← في الإيمان – في حنان المسيح – في غفرانه – في رعايته – في محبته&#8230; الخ.</p>
<p>٢ – يأس:← من الجهاد من الحياة – من المذاكرة – من العمل الروحى – من الشفاء من الخطية&#8230; الخ.</p>
<p>إننا نحتاج الإيمان والثقة في المسيح، وهناك الطوبى لمن آمن ولم يرى (يو٢٠: ٢٩).</p>
<p>كان توما الرسول: غائباً مُتشككاً ← ثم حاضراً مؤمناً ← ثم شاهدا كارزاً بالقيامة .</p>
<p>وهكذا كان كل من:</p>
<ul>
<li>أليصابات: &#8220;مِنْ أَيْنَ لِي هذَا أَنْ تَأْتِيَ أُمُّ رَبِّي إِلَيَّ؟&#8221;</li>
<li>بطرس الرسول: &#8220;اخْرُجْ مِنْ سَفِينَتِي يَا رَبُّ، لأَنِّي رَجُلٌ خَاطِئٌ&#8221;.</li>
<li>زكا العشار: &#8220;هَا أَنَا يَا رَبُّ أُعْطِي نِصْفَ أَمْوَالِي لِلْمَسَاكِينِ&#8221;.</li>
<li>اللص اليمين: &#8220;اذْكُرْنِي يَا رَبُّ مَتَى جِئْتَ فِي مَلَكُوتِكَ&#8221;.</li>
<li>شاول الطرسوسي: &#8220;يَا رَبُّ، مَاذَا تُرِيدُ أَنْ أَفْعَلَ؟&#8221;.</li>
</ul>
<p>لقد ظهر السيد المسيح عشر مرات بين القيامة والصعود، خمس فيها يوم القيامة فجراً ونهاراً وعصراً، والخمس الأخرى بعد يوم القيامة، وكان أولها هو الظهور لتوما الرسول مع تلاميذه.</p>
<h4>الأحد الأوَّل من الخماسين المقدسة &#8211; للمتنيح القمص لوقا سيداروس<a href="#_ftn11" name="_ftnref11">[11]</a></h4>
<p><strong>(يو20: 19- الخ)</strong></p>
<p><strong>أحد توما</strong><strong> </strong></p>
<p>قال التلاميذ لتوما: قَدْ رَأَيْنَا الرَّبَّ. فقال توما: إِنْ لَمْ أُبْصِرْ فِي يَدَيْهِ أَثَرَ الْمَسَامِيرِ، وَأَضَعْ إِصْبِعِي فِي أَثَرِ الْمَسَامِيرِ، وَأَضَعْ يَدِي فِي جَنْبِهِ، لاَ أُومِنْ&#8221;.</p>
<p><strong>اجتماع الكنيسة</strong></p>
<p>في المرة الأولى التي ظهر فيها الرب يسوع بعد قيامته لم يكن توما معهم، ولم يشترك معهم في التمتع برؤية الرب قائمًا من الأموات.. ولسنا نعرف السبب الذى لأجله تخلف توما الرسول عن اجتماع التلاميذ. ربما كان قد حجزه الخوف في مكان ولم يستطيع أن ينضم إلى بقية التلاميذ. أو ربما كان معهم وخرج من العلية لسبب من الأسباب.. ولكن مهما كان سبب تخلفه عن اجتماعهم، فقد ترك لنا درساً لن ينسى للذين يتخلفون عن اجتماع الكنيسة مهما كانت الأسباب.</p>
<p>بالحقيقة إن تخلفنا عن اجتماع الكنيسة يحرمنا في كل مرة من رؤية المسيح قائماً من بين الأموات ويحرمنا من وضع يدينا في أثر مساميره. ومن السماع لكلماته الإلهية، ومن نعمة السلام التي أعطاها للتلاميذ.. ففي كل مرة نجتمع في الكنيسة الآن.. نجتمع حول المسيح القائم من الأموات الواهب حياة للعالم.. وحينما نشترك في احتياجات القديسين نكون قد لمسنا جراحات الرب. وعندما ندخل الكنيسة نكون قد احتويتنا علية التلاميذ، نأخذ معهم بالتساوي سلام المسيح الذي يفوق كل عقل.</p>
<p><strong>القيامة كما عاشها التلاميذ</strong><strong> </strong></p>
<p><strong>١-</strong> <strong>فرح التلاميذ إذ رأوا الرب</strong>: لقد قال لهم الرب قبل الصليب: &#8220;سَأَرَاكُمْ أَيْضًا فَتَفْرَحُ قُلُوبُكُمْ، وَلاَ يَنْزِعُ أَحَدٌ فَرَحَكُمْ مِنْكُمْ&#8221;. فالقيامة من الأموات كانت بالنسبة للتلاميذ طاقة من الفرح دخلت إلى حياتهم، ولقد صبغت حياة التلاميذ بصبغة الفرح هذه في كل عمل، وفى كل تصرف.. فكانوا يتناولون الطعام بابتهاج.. وحين دخلوا السجون كانوا يرتلون بفرح، وحين جلدوهم في مجمع اليهود خرجوا فرحين، وحين سلبت أموالهم قبلوا سلب أموالهم بفرح، وحين تألموا قالوا: &#8220;أَفْرَحُ فِي آلاَمِي&#8221;، وحين وقعوا في تجارب قالوا: &#8220;اِحْسِبُوهُ كُلَّ فَرَحٍ يَا إِخْوَتِي حِينَمَا تَقَعُونَ فِي تَجَارِبَ مُتَنَوِّعَةٍ&#8221;. فالقيامة فرح.. فرح لا ينتهى، ولا تستطيع قوى العالم أن تنزعه منا.</p>
<p><strong>٢-</strong> <strong>فتح ذهنهم ليفهموا الكتب:</strong> القيامة من الأموات فسرت العهد القديم، وكملت مواعيد الله، وفتحت ذهن التلاميذ روحياً.. لم تعد كلمات الإنجيل ولا نبوات القديم تحتاج إلى جهد أو تفسير. صار الإنجيل بالقيامة معاشاً. ولم يعد التلاميذ بعد القيامة يقولون للرب فسر لنا المثل.. لقد أصبح كلام الكتب هو حياتهم يعيشوا مواعيد الله وتحقيقها. وأصبح الناموس مكتوباً في أذهانهم، ومكتوباً على قلوبهم وليس في الكتب.</p>
<p><strong>أراهم يديه ورجليه</strong><strong> </strong></p>
<p>القيامة تلامس مع المسيح القائم من الأموات.. قبل الصليب كان كل من يلمسه ينال الشفاء، مثل: المرأة نازفة الدم التي لمست ثوبه، وكان هو يضع يديه على كل واحد ويشفيهم. وقيل أيضاً: وَقَعَ عَلَيْهِ لِيَلْمِسَهُ كُلُّ مَنْ فِيهِ دَاءٌ&#8230; ولكن بلمسة بعد القيامة شيء آخر..</p>
<p>فالمسيح هنا هو الذى يكشف جراحاته المخلصة أمامنا قائلاً: جسوني.. إذن هي دعوة للتعرف على المسيح قائماً من الأموات.. لقد عرفه التلاميذ شافياً للأمراض وفاتحاً عيني الأعمى بلمسة من يده، ومقيماً لإبنة يايرس من الموت عندما أمسكها هو بيده.. ولكن في هذه المرة هو يريد أن يعرفوه قائماً من الأموات.. وقد قال لهم الرب عندما ظهر &#8220;أَنَا هُوَ&#8221; نفس العبارة التي قالها الرب لموسى ويعقوب: &#8220;أَنَا هُوَ&#8221; لقد سمعها التلاميذ منه عند قبر لعازر: &#8220;أَنَا هُوَ الْقِيَامَةُ&#8221;،</p>
<p>إن لمسة يسوع بعد القيامة جعلت توما يصرخ قائلاً: &#8220;رَبِّي وَإِلهِي&#8221;.</p>
<p>لابد لنا من هذا التلامس الجديد الذى قال عنه يوحنا الحبيب: &#8220;اَلَّذِي لَمَسَتْهُ أَيْدِينَا&#8221;. إن كل الأمور الأخرى المختصة بإيماننا بالمسيح يكفيها مجرد خبر لنؤمن بها. أما القيامة فلابد من لمسة، ولابد من وضع أيدينا.</p>
<p>ولكن كيف يكون هذا في أيامنا هذه؟</p>
<p>ابحث عن أثر المسامير والحربة في جسد المسيح (الذي هو الكنيسة). وحاول أن تتلامس مع هذه الأعضاء التي ذاقت الآلام.. وعندما تتلامس معها تكتشف الرب قائماً من الأموات.</p>
<p>إننا نستطيع أن نتحقق بيقين عندما نقترب من المساكين والمعوزين والمجروحين والمجربين ونلمس هذه الأعضاء بإيمان ومحبة.. سوف تتفتح أعيننا في الحال ونكتشف المسيح المخفي وراء هذه الأعضاء المتألمة. وحينئذ يتشدد إيماننا ويقوى رجاؤنا.</p>
<p><strong>عند كسر الخبز</strong><strong> </strong></p>
<p>لقد كان كسر الخبز عملًا ملازماً للقيامة عنده. تتفتح أعين التلاميذ على الرب القائم من الأموات. هكذا اختبر تلميذي عمواس. وهكذا فعل الرب مع التلاميذ وهم مجتمعين، قال لهم: &#8220;أَعِنْدَكُمْ ههُنَا طَعَامٌ؟ فَنَاوَلُوهُ جُزْءًا مِنْ سَمَكٍ مَشْوِيٍّ، وَشَيْئًا مِنْ شَهْدِ عَسَل&#8221;. وعندما ظهر لهم أيضاً عند بحيرة جنيسارات أكل معهم.</p>
<p>فإن كان كسر الخبز في القداس هو اشتراكنا في جسد المسيح القائم من الأموات &#8220;الْخُبْزُ الَّذِي نَكْسِرُهُ، أَلَيْسَ هُوَ شَرِكَةَ جَسَدِ الْمَسِيحِ؟&#8221;. فخبز المحبة المكسور بلا قوة هي تعرفنا على المسيح في حياتنا العملية، وفى وسط إخواتنا.</p>
<p><strong>قلب واحد</strong><strong> </strong></p>
<p>لقد حصل التلاميذ بقيامة الرب على قلب واحد. فالقيامة كما رآها حزقيال في القديم عظام يابسة جداً وملقاة متفرقة على وجه الأرض. والقيامة هي التي قاربت العظام إلى بعضها وكستها لحماً ودخل فيها روح وأقامها.</p>
<p>قيامة المسيح من الأموات جعلت لجمهور التلاميذ قلب واحد، وروح واحد حينما يصلون، وحينما يجتمعون، وأينما ذهبوا.. وهذه الوحدانية كم عملت فيهم من قوة هزت الأباطرة، وكسرت السجون، وحطمت الأنانية والذاتية..</p>
<p>الكنيسة التي ليس فيها قلب واحد وروح واحد، بل تنقسم على ذاتها لا تستطيع أن تقف أمام قوى الشر الذى في العالم، وأن تغلب الموت.</p>
<p>البيت الذى لم يحصل على قوة قيامة المسيح، يصير منقسماً على ذاته.</p>
<p>الوحدانية في القلب والفكر هي علامة تمتعنا بقيامة المسيح من الأموات..</p>
<h4>الرب يسوع هو إيماننا وقيامتنا من الشك &#8211; للمتنيح القمص بيشوي كامل<a href="#_ftn12" name="_ftnref12">[12]</a></h4>
<p><strong>الأحد الأول </strong>من الخماسين المقدسة بتعتبره الكنيسة عيد سيدي، يعني المسيح ليه أعياد سيدية كبيرة، وأعياد سيدية صغيرة.</p>
<p><strong>من الأعياد السيدية الصغيرة: زي </strong>الختان<strong>، </strong>ودخول أرض مصر، الهروب لمصر، ودخول الهيكل.. فأحد توما ده عيد من أعياد المسيح السيدية الصغيرة.</p>
<p><strong>الأعياد الكبيرة</strong> زي البشارة والميلاد والغطاس، والقيامة.. فالنهاردة عيد من أعياد المسيح السيدية، ويمكن إحنا ما بناخدش بالنا منه لأنه دايماً بيجي يوم أحد وإحنا بنعتبر يوم الأحد دايماً يوم فرح. لكن حقيقتة النهاردة <strong>عيد من الأعياد السيدية بتاعة المسيح </strong>اللي هو <strong>أحد توما. </strong></p>
<p>والكنيسة الواعية بالروح القدس أعتبرت أن إصلاح الإيمان بتاع تلاميذ المسيح ده <strong>عيد لأن</strong> <strong>الإيمان لو إنحرف يبقى خطر كبير جداً..</strong></p>
<p>لكن المسيح نفسه هو اللي بييجي ويصلح  الإيمان اللي إحنا أحياناً بنتعثر فيه. فقال له: &#8220;هات إيدك وحطها مطرح الجروح&#8230; <strong>ولا تكن بعد غير مؤمن.. </strong>وشوف يا توما..  فيه ناس هتآمن من غير ما تشوف.. طوبى لهم.</p>
<p>لكن يا أحبائي موضوعنا بنعمة ربنا هو <strong>القيامة في حياتنا</strong>.</p>
<p>عايز النقطة دى تبقى ثابتة في ذهننا إن المسيح مش جاي علشان يقوم الأموات من القبور، وإن كان هذا حدث في وجود المسيح على الصليب لما أسلم الروح، خرج كثير من الأموات اللي في القبر ودخلوا المدينة المقدسة أورشليم، ومشوا فيها.</p>
<ul>
<li><strong>القيامة عمل اختباري </strong></li>
</ul>
<p>لكن أريد إن إحنا نكون واضحين جداً.. صحيح إن المسيح كسر الموت وشوكته.. وقام من القبر، لكن المسيح مش جاي علشان خاطر يقوِّم الأموات في اليوم الأخير، لأن الله قادر بدون مجيئه للعالم إن هو يحدد يوم أو لحظة لقيامة الأموات.. والناس كلها تقوم وكل واحد يعامله ربنا حسب أعماله، لكن أرجو أن يكون ذهننا واضح جداً، إن <strong>القيامة بتاعة المسيح عمل اختياري </strong>يدخل في حياة كل واحد مننا زي ما نشوف دلوقتي حتى لو كانت الأبواب مغلَّقة.</p>
<p>في عشية يوم القيامة جه المسيح دخل وكانت الأبواب مغلَّقة وقال لهم &#8220;<strong>سلام لكم&#8221; </strong>ففرح التلاميذ إذ رأوا الرب. وبعدين نفخ في وجوههم وقال لهم:  <strong>اقبلوا الروح القدس من غفرتم خطاياهم تغفر لهم </strong>&#8220;بس ما كنش موجود معاهم توما.. فجه مرة تانية في يوم الأحد..</p>
<p>ونقطة لطيفة تقدر تحس منها أن ظهورات ربنا يسوع المسيح كانت بتتم غالباً يوم الأحد. مع إنه هو ممكن يظهر في أي وقت، لكن هو كان بييجي يوم الأحد <strong>لأن يوم الأحد ده أصبح يوم الرب. </strong></p>
<p>والكنيسة بتجتمع لكسر الخبز <strong>يوم الأحد. </strong></p>
<p>وفيه ناس الأيام دي بيبقوا اصلاً غالباً يهود يعني فيه برة كنيسة مخصوصة لليهود المتنصرين، أو اليهود المسيحيين.. دول بعض منهم يقول لك نعيد يوم السبت. فإنت عارف دايماً إن اليهود لهم حاجات دايماً يبقوا متمسكين بها زي أيام الرسل. يطلع إشكالات عن الختان ولازم المسيحى يتختن ولا ما يتختنش، فتبص تلاقي موضوع السبت والأحد برضه بيثيروه اليهود الداخلين في الإيمان حسب عاداتهم الأولى. لكن المسيح قام <strong>يوم الأحد، </strong>وظهر للتلاميذ تاني <strong>يوم الأحد</strong>..<strong> </strong>والروح القدس حل <strong>يوم الأحد</strong>. أصبح اليوم الجديد.. <strong>يوم الرب ده</strong> <strong>يوم الأحد. </strong></p>
<ul>
<li><strong>القيامة حياة معاشة واختبار شخصي </strong></li>
</ul>
<p><strong>القيامة </strong>يا أحبائي <strong>عمل.. </strong>يعني طلَّع<strong> </strong>من مخك نهائياً إن القيامة حكايته إن الناس تقوم من القبور يوم القيامة اللي بتتكلم عنها كل الديانات.</p>
<p>إحنا بنتكلم عن موضوع تاني بعيد خالص خالص..<strong> إحنا بنتكلم عن القيامة كاختبار شخصي في حياة المسيحي.. </strong>تقول لي ازاي عملياً؟.. آهو الإنجيل بيعلمنا.. كان التلاميذ مجتمعين بسبب الخوف.. كانوا مجتمعين من أجل الخوف من اليهود فجاء يسوع ووقف في وسطهم وقال <strong>سلام لكم </strong>وأراهم يديه ورجليه. إنت عارف حتى التعبير العادي يقول لك فلان ده ميت من الخوف فدول كانوا في حالة موت.</p>
<p>فالموت في الواقع مش بيجى من بره.. الموت جوه. <strong>فالخوف موت </strong>لأنه قلة إيمان، نسيوا وعود المسيح. وكلامه في الكتب.. زي ما قال لتلميذي عمواس اللي كانوا ماشيين بيتضاربوا في الطريق.. قال لهم أيها الغبيان والبطيئا القلوب.. <strong>فالخوف ده موت. </strong></p>
<p>فدخل المسيح علشان يقوم الناس الميتة دي جوه العلية. فدخل وقال بس كدة &#8220;<strong>سلام لكم&#8221;. </strong>أول لما قال <strong>سلام لكم، راح الخوف. </strong>رد الفعل على طول يقول لك كدة: ففرح التلاميذ.. من الحزن وخوف.. إلى فرح <strong>آهى دي القيامة</strong>. في اختبار الإنسان دي اسمها <strong>قيامة </strong>حصل إزاي الكلام ده؟!..</p>
<p>كل اللي نعرفه إن ربنا دخل وأراهم يديه ورجليه وجراحاته.. يعني علامات الصليب وراها لهم. بعدين قال لهم كمان <strong>سلام لكم</strong>.. بس هو ده طيب نجيبوا منين يسوع علشان يضيع الخوف؟ علشان <strong>الخوف ده مرض من أمراض الموت</strong>. قال ده يدخل والأبواب مُغلَّقة.. <strong>والأبواب مُغلَّقة ده موضوع هو عمق اختبار القيامة.. </strong></p>
<p>أحياناً نتوقع إن ربنا يدخل من الباب المفتوح.. دية مش القيامة، ده هو عايز يقول كدة.. ربنا لما التلاميذ وصلوا لدرجة من اليأس والفشل، وقالوا خلاص ما فيش فايدة إن يسوع يقوم من الأموات.. ووصلوا للدرجة إنهم خافوا من اليهود وإنتظروا حكم الموت يتنفذ فيهم، واليهود بيدوروا عليهم بعد ما خلصوا من موضوع المسيح هيدوروا على التلاميذ. فكانوا في منتهى الخوف لأنهم كانوا متوقعين الموت.</p>
<ul>
<li><strong>القيامة هي الدخول والأبواب مُغلَّقة </strong></li>
</ul>
<p>والأبواب المغلقة دخل المسيح .. <strong>فالقيامة هي الدخول في حياتنا والأبواب مُغلَّقه. </strong></p>
<p>علشان كدة <strong>المسيحية لا تعرف اليأس أو الفشل.. ماتعرفهوش أبداً أبداً.. </strong>إيه أقصى درجات القسوة اللى في العالم.. الموت!.. إذا كان الموت ده هو آخر حدود يعني اليأس والفشل. خلاص الواحد بيطلَّع في الروح إيه الأمل اللي ليه؟ هنا يبتدي يعمل <strong>ربنا </strong>اللي هو <strong>القيامة </strong>من الأموات علشان كدة <strong>المسيحى دايماً قلبه مليان بالرجاء، وبالقيامة.. </strong> قلبه مليان بالقيامة.. يسوع يقول: &#8220;<strong>أنا هو القيامة&#8221;. </strong></p>
<p>ما كانش توما موجود كان فيه موت تاني بيدب في حياة توما. تتصور يا عزيزي إن توما ده يقول لا ده ما فيش ربنا، وإن المسيح ده كان خِداع.. تتصور إنسان تقابله بالشكل ده، مثلًا مسيحى يقول لك لا.. ولا مسيح، ولا كلام من ده.. ده كلام نظري ومش عملي. ولو كان المسيح معانا ما كانتش أصابتنا المشاكل والضيقات والتجارب والحاجات دي،</p>
<p>تقول له لا يا أخى ده فيه ربنا موجود، وفيه صليب الألم، وفيه مسيح هيقوم في اليوم الثالت.. يقول لك لا دي حالة توبة ما تفتكرش إن دي حاجة بسيطة: <strong> توما كان</strong> <strong>في حالة الشك بتاعته كان في منتهى الموت</strong>، فدخل ربنا والأبواب مغلقة وقوِّم توما وقال له: لا تكن بعد غير مؤمن ولكن خليك مؤمن. وقال له يا توما <strong>أنا عندى دواء للإيمان إذا انت تأملت في الصليب اللى هو كان عثرة ليك وافقدك الإيمان.. لو تأملت في الجراحات والمسامير بتاعتي ها تتحول لإنسان مؤمن. </strong>فتوما حس بحاجة كدة جريت في دمه اسمها <strong>القيامة</strong>. <strong>قال له يا رب أنا مآمن ١٠٠</strong>٪ قال له طبعاً لأن أنا اللي إديتك القيامة دية.. وأنا ها أديها للناس من غير ما يشوفوني. إنت شفتني وآمنت، لكن ها أديها للناس من غير ما يشوفوني.</p>
<ul>
<li><strong>القيامة هي عمل ربنا القائم من الأموات.. عمل داخلي </strong></li>
</ul>
<p>من أجل هذا يا أحبائي <strong>القيامة هي عمل ربنا القائم من الأموات، </strong>هي <strong>ضد الموت. </strong></p>
<p><strong>القيامة هي عمل داخلي </strong>يشتغل في حياة الإنسان.. معلش ها أكرر الجملة دي كتير خالص.. وها أكررها في المرات اللي جاية.. سفر الرؤيا بيقول فيه قيامتين:</p>
<p>في الإصحاح عشرين <strong>القيامة الأولى </strong>اللي هي بيعملها المسيح <strong> </strong>في قلبنا<strong> </strong>وفى حياتنا.</p>
<p><strong>القيامة التانية </strong>اللي هي نبقى نطلع فيها من القبر.</p>
<p>القيامة الأولى: ده عمل المسيحية.. فالمسيحي تعرفه إزاي؟! يقول لك شخص.. القيامة عملت فيَّ. قيامة إيه يا عم؟ ده لسه فاضل على القيامة.. يوم القيامة ده يعلم به ربنا.. قل له: لا.. ده أنا عايش القيامة دي.. دي اسمها <strong>القيامة إيه؟ الأولى. </strong>يقول كدة سفر الرؤيا إصحاح ٢٠ &#8220;مبارك ومقدس من له نصيب في <strong>القيامة الأولى&#8221;.</strong></p>
<ul>
<li><strong>القيامة هي خلع الإنسان العتيق ولبس الجديد </strong></li>
</ul>
<p>القيامة الأولى زى ما تكلمت عنها قراءات النهاردة .. بتقول كدة: اخلعوا الإنسان العتيق الفاسد بحسب شهوات الطغيان، وتجددوا بروح ذهنكم والبسوا الإنسان الجديد المخلوق نظير الله. اخلعوا القديم والبسوا الجديد.. <strong>آهي دى قيامة.. </strong>طبعاً هو إنت لو تشيل الجسد بتاعي ده برة، وتحط  لي واحد تاني ما هي دي تبقى <strong>القيامة </strong>فعلاً. إحنا في القيامة ها نعمل كدة. فبولس الرسول قال لا.. دة القيامة بنمارسها دلوقتي.. بنخلع حاجة وبنلبس حاجة علشان كدة القيامة عندنا مش مسألة إنك ما تعملش خطية.. لا ده إنت بتلبس حاجة تانية بتشيل حاجة وتحط حاجة تانية. بتشيل إنسان ميت.. ميت.. وتحط إنسان تاني حي الإنسان الميت ده اسمه <strong>الإنسان العتيق  </strong>بحسب شهوات الجسد، وشهوات العالم، واغراءاته.. إلخ.</p>
<p>تقول يا أبونا ده كلام صعب.. أنت عارف الضعط الحالي على الإنسان من ناحية العالم الخارجي.. أقول لك فعلاً الكلام ده صعب، لكن أتؤمن أن يسوع يدخل من الأبواب المُغلَّقة؟! تقول لى آه أنا بآمن بالحكاية دي.. خلاص..</p>
<p>إذاً إذا كانت كل السكك قدامنا إن إحنا نعيش حسب الإنسان الجديد مقفلة فإن لك إيمان إن الله يدخل في حياتك.. &#8220;حياتك&#8221; مش عايز حياتك الكويسة.. حياتك الوحشة جداً جداً جداً.</p>
<p><strong>إن كان لك إيمان إن يسوع يدخل والأبواب مُغلَّقه، فثق تماماً إنه يتخلق في حياتك إنسان جديد يتجدد مرة أخرى حسب صورة خالقه. </strong>أما إيماننا إحنا الكنسي &#8211; بتاع الكنيسة بتاعتنا &#8211; إن هذا الإنسان الجديد اتخلق من يوم المعمودية اتدفّنا فيبقى إيه؟ متنا.. وبعدين اتخلق انسان جديد علشان كدة بولس الرسول كان حريص جداً أن يقول إن هذا الإنسان يتجدد في ذهننا حسب صورة خالقه.</p>
<p><strong>ما معنى التجديد </strong></p>
<p>فكلمة يتجدد يعني إيه؟ يتجدد يا إخوتي زي انسان إتولد بس ملامحه بتبان أكتر، يعني لما يجي كدة بعد ما يتولد بيوم يقول لك الولد ده شبه مين؟ يقول لك مش عارف لسه شكله ما تكونش.. بعد يومين يقول لك فيه ملامح من أبوه.. شوية شوية يقول لك ده واخد من أمه شوية.. بعد أسبوع شكله يوضح.. آهو كل لما يتغذى.. كلما يكبر، كلما يبان. بعد شوية.. سنة.. اتنين.. يقول لك الولد ده شكل أبوه تمام.. وأخد ملامحه بالضبط.. إذاً عملية تجديد بتخلق في شكله رغم إنه اتولد.. خلي بالك علشان فيه ناس بتغلط وتقول لا، ده أنا يادوبك وأنا عندى عشرين سنة، كدة لما أقول أنا خلصت ولا أنا.. ولا بتاع.. ربنا يحمي الكنيسة من هذه الأمور اللي الشيطان بيزقها في هذه الأيام.</p>
<p>الكنيسة ما علّمتناش كدة ابداً. علّمتنا إن الإنسان إتولد فينا بالمعمودية.. تقول لي لكن فيه ناس اتعمدوا والإنسان الجديد مش واضح في حياتهم، لأن هم بيغطوا عليه.. بيردموا عليه بالأعمال الوحشة الشريرة. وتعرف لو كان الإنسان الجديد ده بيتخلق لما بيبقى عندك عشرين سنة ولا تلاتين سنة.. لما تآمن بربنا وتبقى كويس وبتاع.. <strong>يبقى ده عملك إنت.. </strong>يبقى ما دخلش والأبواب مُغلَّقه.. يبقى لك الحق إنك تقول أنا خلصت، أو أنا اتجددت. في اليوم الفلانى في الساعة الفلانية.. لك حق تقول <strong>أنا.. </strong>لكن ماتقولش <strong>المسيح</strong>.. تقول أنا اتجددت. لكن أنا ما أقدرش أقول أنا اتجددت في اليوم الفلاني.. لكن أقول <strong>ولدني المسيح في المعمودية بالنعمة المعطاة لي.. لكن ولا كنت استحقها ولا أدرى بها. </strong></p>
<p><strong>أما وظيفتي حالياً إن أنا أخلع بإستمرار الإنسان العتيق اللي بيتراكم من الجسد ومن العالم. </strong>اللي قال<strong> </strong>عنه الرسول.. قال عنه ربنا يسوع: <strong>&#8220;اجتهدوا أن تدخلوا من الباب الضيق&#8221;</strong>. تقول لي النهاردة دلوقتي ممكن يكون فيه اختبار للقيامة؟ أقول لك آه.. اختبار للقيامة.. مش إنت عايز تقول أنا عايز النهاردة اختبار للقيامة.. هل الإنسان الداخلي الموجود فيك بيكبر؟ تقول لي وده مين يعرفه؟ أقول لك إنت.. بس تبص تلاقي ملامح حياتك الداخلية بتاخد ملامح حياة ربنا.. يتجدد حسب صورة خالقه.. طب وصورة خالقه؟.. هو حد شاف ربنا؟ أقول لك آه.. مسيحيتنا لذيذة..</p>
<p>لما تلاقى حياتك ابتدت تنطبق على حياة المسيح على الأرض.. الوداعة بتاعة المسيح، اللطف بتاع المسيح.. المحبة بتاعة المسيح ابتدأت تبقى في إنسانك الداخلي.. تبدأ تقول آه.. ابتدأ ينمو.. حاسس بيه يا أبونا خالص.. حاسس بالإنسان الجديد اللي بيتجدد حسب صورة المسيح.. حسب صورة خالقه.. آه أُمّال أنا اسمى مسيحي ليه؟ <strong>ما سموني مسيحى لأن الإنسان الجديد اللى إتولد فيَّ، اللي بيتجدد بالقيامة يوم فيوم هو ذلك الإنسان ده شكل المسيح. فعلشان كدة سموني مسيحي. </strong></p>
<ul>
<li><strong>فالقيامة اختبار يومي </strong></li>
</ul>
<p>نعيشه في حياتنا كل يوم. يمكن إذا كانت القيامة لابد أن يسبقها موت. خلع للإنسان العتيق.. علشان كدة المسيح لما وصى قال للشاب الغني: &#8220;اذهب وبع كل مالك وتعال اتبعني كل يوم حاملاً الصليب.. تعال واتبعني حاملاً الصليب.. كل يوم.. كل يوم يقصد إن كل يوم تخلع الإنسان العتيق، وكل يوم يتجدد فيك الإنسان الجديد<strong>.. حاجة لذيذة ولطيفة جدأ إن كل يوم الإنسان الجديد يكبر.. وكل يوم الإنسان العتيق يتخلع ويترمي.. آدى عملية القيامة. </strong></p>
<p><strong>فاختبارك للقيامة في حياتك اختبار يومي.. </strong>اختبار يومي علشان كدة يوحنا الحبيب يقول: &#8220;<strong>مبارك ومقدس من له نصيب في القيامة الأولى، سوف لا يكون للموت التاني سلطان عليهم&#8221;. </strong></p>
<p>مبارك ومقدس يا أخي إن كان لك نصيب في القيامة الأولى، سوف لا يكون لك نصيب في الموت التاني.. لا يقدر الموت التاني أن يؤذيك.. علشان كدة ربنا يسوع بعد توما ما آمن يقول: &#8220;أما هذه فكتبت لتؤمنوا أن يسوع هو المسيح ابن الله، ولكي يكون إذا آمنتم تكون لكم حياة أبدية باسمه&#8221;.</p>
<hr />
<p><a href="#_ftnref1" name="_ftn1">[1]</a>  تفسير المزامير – الجزء الأول – ص 503 – القمص تادرس يعقوب ملطي.</p>
<p><a href="#_ftnref2" name="_ftn2">[2]</a>  كتاب إلهنا القائم في وسطنا الآن &#8211; صفحة ٢١ &#8211; إعداد د. مايكل مدحت، د. مينا مدحت &#8211; إصدار إيبارشية المعادي.</p>
<p><a href="#_ftnref3" name="_ftn3">[3]</a>  كتاب شرح إنجيل يوحنا للقديس كيرلس الأسكندري &#8211; المجلد الثاني صفحة ٥١٣ &#8211; ترجمة دكتور نصحي عبد الشهيد وآخرون.</p>
<p><a href="#_ftnref4" name="_ftn4">[4]</a>  كتاب شرح إنجيل يوحنا للقديس كيرلس عامود الدين – تعليقاً على (يو20: 22- 25)  صفحة 509 – مشروع الكنوز القبطية.</p>
<p><a href="#_ftnref5" name="_ftn5">[5]</a>  تفسير الرسالة إلى أفسس &#8211; الإصحاح السادس، ص٣٣٥، ٣٣٦- القمص تادرس يعقوب ملطي.</p>
<p><a href="#_ftnref6" name="_ftn6">[6]</a>  كتاب: الإيمان بأمور لا ترى &#8211; للقديس أغسطينوس أسقف هيبو &#8211; صفحة ٩- أسرة القديس ديديموس الضرير للدراسات الآبائية &#8211; كنيسة مار جرجس اسبورتنج.</p>
<p><a href="#_ftnref7" name="_ftn7">[7]</a>  يريد القديس هنا أن يوضح أن هؤلاء الأشحاص يدَّعون أن أفكار الإنسان يمكن إدراكها لأن الإنسان يفكر فيها فهي إذن داخل عقله وصادرة عنه، أما الأمور المتعلقة بالله فهي خارج عقل الإنسان وبالتالي فهي أمور لا يجب الإيمان بها حسب اعتقادهم. وهذا بالطبع فكر خاطئ.</p>
<p><a href="#_ftnref8" name="_ftn8">[8]</a> يوضح القديس هنا أنه لا يمكن أن تكون وسيلتنا لإثبات صدق محبة الآخرين لنا هو تعريض أنفسنا للمشاكل والمخاطر حتى نرى رد فعلهم تجاهنا، وفي نفس الوقت فحتى لو فعلنا ذلك فإن هذا أيضاً يدل على تصديقنا لمحبتهم لنا، لأننا لو كنا نشك فيها ما كنا عرَّضنا أنفسنا للخطر من الأساس.</p>
<p><a href="#_ftnref9" name="_ftn9">[9]</a>  مقالة للقديس غريغوريوس والقديس أمبروسيوس.</p>
<p>Elowsky,J.C.&amp; Oden,T.C. ( 2007 ) John11 &#8211; 21 (  The Ancient Christian Commentary on Scripture,New Testament IVb ). Illinois ( U.S.A ) : InterVarsity Press. Page 372 ,374.</p>
<p><a href="#_ftnref10" name="_ftn10">[10]</a>  كتاب المنجلية القبطية الأرثوذكسية &#8211; صفحة ٣٩١-  قداسة البابا تواضروس الثاني.</p>
<p><a href="#_ftnref11" name="_ftn11">[11]</a>  كتاب تأملات روحية في قراءات أناجيل آحاد السنة القبطية  &#8211; صفحة 346 &#8211; المتنيح القمص لوقا سيداروس.</p>
<p><a href="#_ftnref12" name="_ftn12">[12]</a>  كتاب عظات مضيئة معاشة &#8211; صفحة ٣٣٧ &#8211; إصدار مطرانية ملوي وأنصنا والأشمونين.</p>

      {% endcreateArticleAccordions %}
    </section>
  {% endblock %}
  