---
layout: 'layouts/reading.html'
title: 'يوم الأثنين من الأسبوع الأول للخماسين المُقَدَّسَة'
tags: 'pentecost'
permalink: /articles/pentecost/1-1.html
---
  {% block content %}
    <section id="readings">
      <ul>
      {% if 'undefined' != 'undefined' %}
      
      {% else %}
      {% if '19.96:10' != 'null' %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">العشية</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeVespers '19.96:10' '43.20:19-23' %}
          </div>
        </div>
      </li>
      {% endif %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">باكر</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeMatins '19.97:1-2' '42.24:1-12' '' %}
          </div>
        </div>
      </li>
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <h3 class="flex items-center justify-between">
            <span class="kufi">القداس</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </h3>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeLitugy '52.4:13-5:11' '60.2:11-25' '44.3:1-20' '19.104:24,31' '42.24:13-35' %}
          </div>
        </div>
      </li>

      {% endif %}
        </ul>
    </section>
    <section id="article">
      <h3 class="mt-8 mb-4 heading-explain">شرح القراءات</h3>
      {% createArticleAccordions %}
        <h3>إستعلان القيامة</h3>
<p>تتكلم قراءات اليوم عن <strong>&#8220;إستعلان القيامة&#8221;</strong> كحقيقة، وكعقيدة، ومصدر حياة، وسر نصرة، وباب الفرح، للبشرية كلها. لذلك تبدأ القراءة بالمزامير:</p>
<h3></h3>
<h4><strong>المزامير</strong>:</h4>
<p>تبدأ القراءات بالمزامير من <strong>مزمور باكر</strong> عن ← <strong>فرح كل البشرية باستعلان ملكوت الله بقيامته</strong>: &#8220;الرب قد ملك فلتتهلل الأرض ولتفرح الجزائر الكثيرة&#8221; (مز96: 1).</p>
<h3></h3>
<h4><strong>انجيل باكر</strong>:</h4>
<p>وفي انجيل باكر عن ← أن <strong>هذا الاستعلان لم يكن شيئاً مفاجئاً أو جديداً</strong> بل هو حسب التدبير والنبوات قائلاً: &#8220;أنه ينبغي أن يُسلم إبن الإنسان إلى أيدي أناس خطاة ويصلب وفي اليوم الثالث يقوم&#8221;.</p>
<h3></h3>
<h4><strong>البولس:</strong></h4>
<p>وفي البولس عن ← <strong>إستعلان المسيح في مجيئه الثاني</strong> وإرتباط القيامة الثانية للبشرية بقيامة المسيح &#8220;لأنَّناُ إنْ كُنّا نؤمِنُ أنَّ يَسوعَ ماتَ وقامَ، فكذلكَ الرّاقِدونَ بيَسوعَ، يأتي بهم اللهُ معهُ &#8221; (1تس4: 14).</p>
<p>وعن قيامة التوبة والحياة الجديدة للمؤمنين &#8220;أنتم كلكم أبناءُ النورٍ وأبناءُ النهارٍ &#8230;. فلا نَرقدنْ إذًا كالباقينَ، بل فلنتيقظ ولنَسهَرْ&#8221; (1تس5: 5، 6).</p>
<h3></h3>
<h4><strong>الكاثوليكون:</strong></h4>
<p>وفي الكاثوليكون عن ← <strong>إستعلان الصليب بآلام المسيح كمصدر دائم للسلوك المسيحي المقدس</strong> &#8220;لأنَّ المَسيحَ تألَّمَ عِنا، تارِكًا لنا مِثالاً لِنَقتَفي آثارِهِ&#8230;.. ذاك الذي حَمَلَ خطايانا بجَسَدِهِ علَى الخَشَبَةِ، لكَيْما نَموتَ عن الخطايا فنَعيش في العدلِ&#8221; (1بط 2: 21، 24).</p>
<h3></h3>
<h4><strong>الابركسيس:</strong></h4>
<p>وفي الابركسيس عن ← <strong>استعلان فعل قيامة المسيح في الخدمة</strong>، ومواهب الشفاء، والنداء بالتوبة للكل لنوال فعل القيامة &#8220;وقتلتم رَئيسُ الحياةِ الذي أقامَهُ اللهُ مِنَ الموتِ&#8230;.. وبالإيمانِ باسمِهِ هذا الذي رأيتموَهُ وعرِفتموَهُ، إسمه هو الذي شفاه &#8230;. فتوبوا إذاً وإرجِعوا لتُمحَى خطاياكُمْ&#8221; (أع 3: 15، 16، 19).</p>
<p></p>
<h4><strong>مزمور القداس</strong>:</h4>
<p>وفي مزمور القداس عن ← <strong>استعلان المسيح في أعماله</strong> <strong>وظهور مجده الإلهي</strong> &#8220;فليكنُ مَجدُ الرَّبِّ إلَى الأبدَّ يَفرَحُ الرَّبُّ بجميع أعمالِهِ.&#8221; (مز104: 31).</p>
<h3></h3>
<h4><strong>انجيل القداس:</strong></h4>
<p>وفي انجيل القداس عن ← <strong>الافخارستيا قمة إستعلان مسيح القيامة في حياة أولاده</strong>، إذ تلهب الكلمة الإلهية قلوبنا، ويفتح الكلمة المتجسد أعيننا وبصيرتنا على سر الحياة الأبدية.</p>
<h3></h3>
<h3><strong>ملخص الشرح</strong></h3>
<p>❈ فرح كل البشرية بإستعلان ملكوت الله بالقيامة وإستعلان مجد الله.  (مزمور عشية – مزمور باكر - مزمور القداس).</p>
<p>❈ إستعلان القيامة كان حسب التدبير والنبوات ولم يكن شيئاً مفاجئاً أو جديداً. (انجيل باكر).</p>
<p>❈ إستعلان المسيح في مجيئه الثاني لفرح المؤمنين وارتباط قيامة المسيح بقيامة البشرية كلها. (البولس).</p>
<p>❈ إستعلان الصليب والقيامة هو مصدر السلوك المسيحي المقدس. (البولس، الكاثوليكون).</p>
<p>❈ إستعلان فعل القيامة في الخدمة ومواهب الشفاء وفي الكرازة بالتوبة للكل. (الابركسيس).</p>
<p>❈ تُلهب الكلمة الإلهية قلوبنا ويفتح الكلمة المتجسد أعيننا وبصيرتنا على سر الحياة الأبدية بالأفخارستيا. (إنجيل القداس).</p>
<p></p>
<h3>عظات آبائية <strong>للأثنين الأول للخمسين يوم المقدسة</strong></h3>
<h4>العظة الأولى: <strong>تلميذي عمواس </strong><strong>.. </strong>القديس كيرلس الأسكندري<a href="#_ftn1" name="_ftnref1">[1]</a></h4>
<p>بخصوص الأثنين اللذين كانا منطلقين إلي قرية عمواس، فقد كانا يتكلمان مع بعضهما بشأن المسيح، وهما يعتبرانه أنه لم يَعد بعد على قيد الحياة، بل كانا ينوحان عليه كميت، وبينما كانا يتكلمان ويتحاوران اقترب إليهما يسوع نفسه وكان يمشي معهما دون أن يعرفاه، لأن أعينهما أُمسكت عن معرفته (لو24: ١٦)، فقال لهما: &#8220;ما هذا الكلام الذي تتطارحان به وأنتما ماشيان عابسين؟ فأجاب أحدهما الذي اسمه كليوباس وقال له: هل أنت متغرب وحدك في أورشليم…ألخ&#8221; (لو24: ١٧- ٢١)، ثم أخبراه عن الإشاعات التي وافتهم بها النسوة بخصوص القيامة، وكذلك بخصوص كلام بطرس، ولكنهما لم يصدقوهن، لأنه بقولهما: &#8220;بل بعض النسوة حيَّرننا… لأنهم لم يجدن الجسد… (لو24: ٢٢، ٢٣)، ويتضح أنهما لم يقتنعا ليؤمنا بالأخبار، ولا نظرا إليها كأخبار حقيقية، ولكنها أصبحت في نظرهما أخباراً تدعو إلى القلق والدهشة، بل وحتى شهادة بطرس الذي رأى اللفائف الكتان عند القبر، لم يعتبراها برهاناً كافياً جديراً بالثقة والتصديق بخصوص القيامة لأن الإنجيلي لم يقل عنه إنه رأى الرب شخصياً، بل إنه استنتج أنه قام بسبب كونه لم يعد موجوداً في القبر، يجب عليكم أيضاً أن تعلموا أنَّ هذين الاثنين هما من عداد السبعين تلميذاً وكان سمعان - وهو غير بطرس - هو رفيق كليوباس، كما أنه ليس من قانا، ولكنه واحد من السبعين .</p>
<p>(لو24: ٢٧): &#8220;ثم ابتدأ من موسي ومن جميع الأنبياء يُفسر لهما الأمور المختصة به في جميع الكُتُب&#8221;.</p>
<p>لقد بيّن الرب من خلال هذا الحديث أن الناموس كان ضرورياً ليُمهد الطريق، وأيضاً خدمة الأنبياء كانت لازمة لتُعد البشر للإيمان بهذا العمل الفائق، حتى إذًا ما تم هذا العمل بالفعل، فإنه يجب على هؤلاء الذين ينزعجون بسبب المجد الفائق أن يتذكروا ما سبق أن قيل في القديم، وهذا يقودهم إلى الإيمان، لذلك فإن يسوع قد مهَّد الطريق لهم من خلال كتابات موسى والأنبياء، وهو يشرح لهما معانيها الخفية، ويفسر للذين يستحقون ما هو غامض على غير المستحقين، وهكذا يوطَّد في داخلهم الإيمان القديم والمتوارث الذي تعلّموه من الكتب المقدسة التي كانت في حوزتهم، لأنه لا شيء يأتي من عند الله بلا منفعة، بل الكل له الموضع والخدمة المحدّدة، فالخدام يرسلون مسبقاً إلي مكانهم الواجب ليعدوا لحضور السيد، بأن يقدموا من قبل نبوات كإعداد ضروري مسبق للإيمان، تماماً مثل كنز ملكي قد سبق التنبؤ عنه، فإنه يجب في الأوان المناسب أن يؤتى به من مخبئه السابق المُحاط بالغموض، بأن يُماط عنه اللثام ويصبح ظاهراً جلياً من خلال وضوح التفسير، وهكذا فإن الرب بعد أن حرّك عقليهما عن طريق كتابات الناموس والأنبياء، فإنه بعد ذلك بوضوح أكثر، وضع نفسه أمامهما عندما قبل رجاءهما بأن يذهب معهما إلى القرية، إذ أنه أخذ خبزاً وباركه وقسمه بينهما، لأنه مكتوب: أُمسكت أعينهما عن معرفته (لو24: ١٦)، إلى أن دخلت الكلمة داخلهما وحركت قلبيهما للإيمان، وبعد ذلك صيّرت ما سبق أن سمعاه وآمنا به، مرئياً، لأنه منحهما الرؤية في أوانها بعد السماع، إلا أنه لم يستمر معهما لأن الكتاب يقول: &#8220;ثم اختفى عنهما&#8221;، لأن علاقة الرب بالناس بعد القيامة لا تستمر كما كانت من قبل، لأنهم هم يحتاجون إلى تجديد وحياة ثابتة في المسيح، حتى يلتحم بالجديد، وغير الفاسد يقترب من غير الفاسد، أليس لهذا السبب لم يسمح الرب - كما يقول يوحنا فيّ إنجيله (انظر يو٢٠: ١٧) لمريم المجدلية أن تلمسه إلى أن يصعد ثم يعود ثانية .</p>
<p>(لو24: ٣٣):&#8221; فقاما في تلك الساعة ورجعا إلي أورشليم ووجدا الأحد عشر مجتمعين هم واللذين معهم&#8221;.</p>
<p>يقول الكتاب إن كليوباس ورفيقه قاما في تلك الساعة، وذلك في نفس الوقت الذي اختفي فيه المسيح عن أعينهما ورجعا إلي أورشليم، ولكنه لم يقل إنهما وجدا الأحد عشر مجتمعين معاً في نفس تلك الساعة، وأنهما قالا لهم ما حدث بخصوص المسيح بل بعد مرور عدد من الساعات تكفي للسفر ستين غلوة بين عمواس وأورشليم، وفي أثناء هذه الساعات ظهر الرب لسمعان بطرس .</p>
<p>والبشير (لوقا) حذف الأحداث التي تمت في خلال هذا الزمن (الأربعين) بين ظهوره للرسل في أورشليم وبين اليوم الذي ارتفع فيه، أمًا ما سمعه كليوباس ورفيقه من الرسل: &#8220;إن الرب قام بالحقيقة وظهر لسمعان&#8221; (لو٢٤: ٣٤) فهذا الظهور لم يذكر عنه أين أو متي أو كيف تم&#8230; خلال هذه الفترة أيضاً (بين الظهور مساء القيامة وبين الصعود) تمت الأحداث التي في الجليل والتي سجلها القديس متي (انظر مت ٢٨- ١٦: ٢٠) .</p>
<p>(لو24: ٣٦) &#8220;وفيما هم يتكلمون بهذا وقف يسوع نفسه في وسطهم وقال لهم: سلام لكم !</p>
<p>والآن، نحن نلتزم بترتيب الحوادث، فأننا نقول إن رواية القيامة قد بلغت الرسل من جهات مختلفة، وصارت رغبتهم في رؤية الرب جامحة، وها هو يأتي بحسب رغبتهم ويقف مرئياً في وسطهم ويعلن نفسه إذ قد صاروا يبحثون عنه ويتوقعون حضوره، وها هو الآن يظهر لهم وأعينهم ليست مُمسكة عن المعرفة، ولا كمن يتحدث معهم عن شخص آخر، وهو الآن يسمح لهم أن يبصروه بوضوح، ويُحييهم بالتحية الملائمة، ولكن مع ذلك &#8220;فإنهم جزعوا وخافوا وظنوا أنهم نظروا روحاً&#8221; (لو ٢٤: ٣٧)، أي ظنوا أنه ليس هو نفسه، بل مُجرد شبح وخيال. وللوقت فإنه هدّأ من روعهم وقلقهم بسبب هذه الأفكار التي خطرت في قلوبهم وخاطبهم بتحيته المعتادة وقال &#8220;سلام لكم&#8221;.</p>
<p>(لو24: ٣٨):&#8221;فقال لهم: ما بالكم مضطربين ولماذا تخطر أفكار في قلوبكم؟&#8221;.</p>
<p>لكي يقنعهم الرب بتأكيد لا يدع مجالاً للشك بأنه هو نفسه الذي تألم، فإنه يُبين للتو أنه بسبب كونه الله بالطبيعة، فإنه يعرف ما هو مخفي، وأن الأفكار الثائرة داخلهم لا تخفي عن معرفته، لذلك قال لهم: &#8220;ما بالكم مضطربين؟ هذا برهان واضح أن هذا الذي يرونه أمامهم ليس شخصاً آخر، بل هو نفسه الذي رأوه يذوق الموت على الصليب، والذي وُضع في القبر، وهو نفسه الذي يفحص القلوب والكُلى والذي ليس شيء غير مكشوف لعينيه، هذا الأمر يعطيه لهم كعلامة تدل على شخصه، أعني معرفته بالأفكار الثائرة داخلهم، ولكي يبرهن لهم بصورة أقوى، وبطريقة أخرى أن الموت قد قُهِرَ، وأن الطبيعة البشرية قد خلعت عنها الفساد في شخصه كباكورة، فإنه أراهم يديه ورجليه وثقوب المسامير وسمح لهم بأن يمسكوه، لكي يقنعهم بكل وسيلة أن نفس الجسد الذي تألم هو الذي قام كما قلت لكم، لذلك ليت لا أحد يثير اعتراضات تافهة بخصوص القيامة، وإن كنتم تسمعون الكتاب المقدس يقول عن الجسم الإنساني إنه يُزرع جسماً حيوانياً ويُقام جسماً روحانياً (١كو١٥: ٤٤) فلا تنكروا عودة الأجسام البشرية إلي عدم الفساد ، لأنه كما أنَّ الحيواني هو الذي يكون تابعاً ويخضع للبهيمية أي الشهوات الجسدانية، كذلك أيضاً الروحاني هو تحت سلطان الروح القدس (أي جسماً روحانياً) .</p>
<p>لأنه لن يوجد بعد القيامة من الموت فرصة للعواطف الجسدانية لأن مهماز الخطية سيكون بلا قوة تماماً، وهذا الجسد نفسه الذي جُبِل من الأرض، سوف يلبس عدم فساد، ولكي يتأكد التلاميذ تماماً أنَّ هذا هو نفسه الذي تألم وقُبِر، وهو الذي قام ثانية وهو واقف الآن أمامهم، فإنه - كما قلت لكم - أراهم يديه ورجليه، وأمرهم أن يكونوا مقتنعين تماماً أنه ليس روحاً كما يظنون، بل هو بالحري قام بجسد حقيقي، فيقول لهم: &#8220;فإن الروح ليس له لحم وعظام كما ترون لي&#8221; (لو24: ٣٩)، لأن الظل والروح والشبح لا يمكن لمسها باليد.</p>
<p>وبعد أن أراهم - كما قلنا- يديه ورجليه، فإنه أقنعهم تماماً أنّ الجسد الذي تألم قد قام، ولكن من أجل أن يجعل فيهم قدراً وافراً من الإيمان بتأكيد أكثر، فإنه سألهم عن طعام، فناولوه جزءاً من سمك مشوي (لو24: ٤٢)، فأخذ وأكل قدامهم (لو24: ٤٣)، وهذا فعله ليس لأي سبب آخر سوى أن يبين أنَّ من قام من الأموات هو نفسه الذي فيما مضي أكل وشرب معهم طوال فترة خدمته معهم، وهو الذي تكلم معهم كإنسان بحسب الصوت النبوي في القديم (باروخ٣: ٣٧)، وكان قصده من هذا أن يلاحظوا أن الجسم البشري يحتاج فعلاً إلى غذاء من هذا النوع، أما الروح فلا تحتاج لذلك، فالذي يستحق أن يُدعي مؤمناً، والذي يقبل بلا تردد شهادة الإنجيليين القديسين (بخصوص القيامة) لن ينصت فيما بعد إلى خرافات الهراطقة، ولن يمكنه أن يحتمل تجارة الخياليين المُغرضة والرخيصة، إن قوة المسيح تفوق أسئلة البشر، كما أنها ليست على مستوى الفهم كالأحداث المعتادة، المسيح أكل آنذاك جزءاً من سمك بسبب القيامة، أما النتائج الطبيعية للأكل فلا يمكن أن تحدث في حالة المسيح بالطريقة التي يمكن أن يعترض بها غير المؤمن، الذي لا يعرف سوى أن ما يدخل الفم يلزم بالضرورة أن يمضي إلى الجوف ويندفع إلى المخرج (مت١٥: ١٧)، وأما المؤمن فلن يفسح مجالاً لمثل هذه الاعتراضات التافهة في عقله، ولكن يترك الأمر إلى قوة الله .</p>
<p>(لو24: ٤): &#8220;حينئذ فتح ذهنهم ليفهموا الكتب&#8221;.</p>
<p>بعد أن هدّأ الرب أفكارهم بما قاله لهم، وبلمسة أيديهم له، وبمشاركته لهم في الأكل، حينئذ فتح ذهنهم ليفهموا أنه كان ينبغي له أن يتألم وأن يُعلق على خشبة الصليب، هنا يعيد الرب إلى أذهان التلاميذ ما قاله لهم سابقاً، لأنه سبق أن أخبرهم بخصوص آلامه على الصليب بحسب ما تكلم الأنبياء قبل ذلك بوقت طويل كما أنه فتح أيضاً عيون قلوبهم حتى يفهموا النبوات القديمة .</p>
<p>لقد وعد المخلص تلاميذه بحلول الروح القدس الذي سبق أن أعلن عنه في القديم بيوئيل النبي (يؤ ٢: ٢٨)، والقوة النازلة من الأعالي حتي يصيروا أقوياء لا يُقهرون ويكونوا بلا خوف تماماً لكي يعلّموا السر الإلهي للناس في كل مكان .</p>
<p>إنه يطلب إليهم الآن بعد القيامة أن يقبلوا الروح القدس: &#8221; اقبلوا الروح القدس&#8221; (يو٢٠: ٢٢)، ويضيف: &#8220;أن لا يبرحوا من أورشليم بل ينتظروا موعد الآب الذي سمعتموه مني، لأن يوحنا عمّد بالماء وأما أنتم فستتعمدون بالروح القدس&#8221; (أع١: ٤، ٥)، إنه لا يضيف ماء إلى ماء، ولكنه يكمل ما كان ناقصاً بإضافة ما كان مكملاً له (أي الروح) .</p>
<p>(لو24: ٥١) &#8220;وفيما هو يباركهم انفرد عنهم وأُصعد إلى السماء.&#8221;</p>
<p>أنه ارتفع إلي السماء حتى يشترك في عرش الآب بالجسد الذي هو متحد به .</p>
<p>هذا الطريق الجديد قد صنعه الكلمة لنا بعد أن ظهر في الطبيعة البشرية، وبعد ذلك، وفي الوقت المناسب، سوف يأتي ثانية في مجد أبيه مع الملائكة، فيأخذنا إليه لنكون دائماً معه .</p>
<p>لذلك دعنا نمجده، هذا الذي وهو الإله الكلمة صار إنساناً لأجلنا، هذا الذي تألم بإرادته في الجسد وقام من الأموات وأبطل الفساد، هذا الذي ارتفع إلى السماء، وسوف يأتي بمجد عظيم ليدين الأحياء والأموات، وليعطي كل واحد بحسب أعماله، هذا الذي به ومعه لله الآب يليق المجد والقوة مع الروح القدس إلي دهر الدهور. آمين .</p>
<p></p>
<h4>العظة الثانية <strong>ترك الأكفان .. وقام - </strong>للقديس يعقوب السروجي<a href="#_ftn2" name="_ftnref2">[2]</a></h4>
<p>يوقظني حبك يا ابن الله. يا من صرت ذبيحة عوض الخطاة وأنت القابل لكل الذبائح - يا من شئت أن تكون قرباناً، إقبل بحبك قربان كلامي وسجودي. أيها الرب العالي الذي رفعوه مصلوباً فوق الجلجثة، بك تعالى كلمتي لأرتل لك.. أعط للنفس عيناً خفية لتتفرس فيك ياجبار العالمين، لأنه إن لم ينظرك الإنسان، لا يتحرك اللسان للكلام عنك. خذ مني السكوت واعطني كلمة ممتلئة دهشاً لأكرز بين الأرضيين ..</p>
<p>كم ظلمه الشعب الجاهل لما نزل ليتفقده وهو لم يتذمر! لما عمل الإبن الصالح الصالحات، حسبها هذا الشعب شروراً وأحاطوه بالشتائم. شفى المرضى وشتموه بتجديفهم، شفى اليد اليابسة، وانبسطت يدهم لتضرب خده بجسارة. صحح ألسنة الخرس، وهي نضحت البصاق على وجهه. أخرج منهم الشياطين، دعوه بعلزبول رئيس الشياطين، حول الماء خمراً صالحاً في بيت العرس، فشربوها، وقى وقت عطشه اعطوه خلاً ممزوجاً بالمر ليشرب، أكثر لهم الخبز في البرية، وهم أكلوا خيراته وتكلموا عليه بالأكاذيب، فتح عيني المولود أعمى، فنظر النور، وأولئك طردوه لأنهم لا يريدون النور.. دعا الميت المطروح فقام وخرج بعد أن انتن، ولما أقامه، تفكروا أن يميتوه. الأرض الشريرة قبلت المطر وانبتت شوكاً ملعوناً لسيد الحقل .</p>
<p>ابن الله صعد ليعمل عيد الفصح في أورشليم مع التلاميذ ويختم الأسرار، والأمثال المرسومة له. أتى للعيد وهو رب العيد والمعيدين. سر العيد بربنا لما نظره آتياً يزينه بحسنه وجماله، أتى ليكون ذبيحاً عوض الخطاة، لأنه لا يليق أن يقدم قدام والده إلا نفسه. هو الكاهن وهو القربان والتقدمة التي بلاعيب. هو الضحية الكاملة والجسد الطاهر وهو كما هو معطي الغفران وماحي الذنوب .</p>
<p>ركب الجحش وارتكضت بالارتعاش محبة المثالات لأنها أحست أنه الوارث الآتى يطلب ماله. صرخ لها النبي إفرحي يا إبنة صهيون ولم تفرح. عرفت أنه غيور وسيطردها من بيت أبيه لأنها مثل الزانية تسمع وتحتقر تعاليمه.</p>
<p>جاء لينقل خدمة العتيقات بحلول الجديدات (عب 8: 7- ۱۳) سار في الطريق التي درسها أنبياء أبيه ليظهر أنه ليس غريباً عن والده. بدأها طفلاً، وتحرك الطفل (يوحنا المعمدان) قدام مجيئه  ثم الختان وحمل في جسده ختم إبراهيم وفى نهاية الطريق أكمل صورة موسى العظيم وأكل خروف الفصح .</p>
<p>كل الأمثال ارتسمت من أجل آدم. من الحية وقع في عبودية الشيطان، لكن سيده شاء وأتى ليعتقه. صار عبداً مثله وأخذ جسداً منه. حمل له الحرية وأتى في الألف السادس (للخليقة) ليعتقه. بلغ الصليب في اليوم السادس ليتعب بالآلام ثم يستريح في سبت جديد. سيد الأحرار أعطى الحرية للعبد ليقيم على حريته في الألف السابع. أعطى المعونات واخذ الشتائم والتجاديف ولم يتذمر. شاء ليفتح أبواب الحبس ويخرج المحبوسين، لهذا دخل الجبار إلى الحبس. انحبس النهار وسط الليل ولم يشأ أن يظهر نوره أنه النهار. جبار العالمين أعطى نفسه للذئاب ليمسكوه بإرادته  ظن الجهال أنهم عن غير إرادته أمسكوه بالقوة. جذبوه كشرير ومضوا به كما طلبوا، وقع الرعب في قلوب الرسل - زكريا النبي تنبأ قائلاً: &#8220;ضربوا الراعي فتبددت خراف الرعية&#8221;.</p>
<p>القش أمسك باللهيب واللهيب أخفى ناره ووضع علوه للذئاب وأسلم ذاته لبنى الإثم. أهانوه شتموه وبتجنن جذبوه ليأتي إلى الحكم والصلبوت: سيق للذبح كخروف صامت وقام الصالبون كالاحبار ليضحوه (يقدمونه ضحية) ثبتوا خشبة الصليب على الجلجثة وجذبوا الحجر رأس البنيان  الحجر الذي انقطع بغير يد ليكون لبناء العالم المهدوم  المسيح الذي هو الحجر المختار - رأس الزاوية  أقامه الأثمة على خشبة الصليب ليحمل أثقال العالم. بسطوا يديه ليمسك أقطار الأرض ويحمل الخليقة كلها بذراعيه إلى والده. ثقبوا يديه وسمروا رجليه وهو سمر الخطية معه بالمسامير لئلا تملك، اقتسموا ثيابه وعلى لباسه القوا قرعة، الثوب الخارجي هو صورة الإيمان به ولهذا لم يشأ أن يقسم أحد إيمانه  تعلق به كل من العبرانيين والرومان، الشعب والأمم الغريبة فبلغت القرعة للأمم أن يأخذوه فيكون لهم الإيمان به.</p>
<p>العظيم نزل إلى البستان خلف آدم الهالك. فنظر أنه ليس هناك بين الشجر  دخل إلى القبر قلب تراب الهاوية وطلبه بين الأموات لذلك تشبه ببني المكان ليفتقده. سمع آدم وهو في حضن الهاوية صوت الإبن وتحرك مقابله مثل يوحنا  أشرق النور على المحزونين وأبهجهم. أشرق بالقيامة في اليوم الثالث  لبس المجد من داخل القبر وترك فيه أكفان الموتى واشكالهم - لبس الأرض - يبق هنا لأن ثمة شيء آخر يلبسه المؤهلون للقيامة. عظم هو لباسها لمستحقيها  يلبس الجسد لباس المجد المحفوظ لها . لهذا استيقظ كالنائم وترك ثياب الأموات (ثياب الضعف) وقام بهدوء. حل وجوه الملفوف وترك المنديل على جانب، انسحب من بين الأكفان ليظهر انه لم يرتعب من الهلاك ولا خاف من ظلام القبر. ترك الاكفان وسط القبر وقام ليؤمن كل من ينظر. ترك الأكفان وقام لتكون علامة أنه غلب الموت بالقيامة. أبعد عنه الأوجاع التي حملها وقام بقوة  كشف عن وجهه البصاق والهزء والرعب وطرح الضربات وجلد الظهر.</p>
<p>نظر التلاميذ وتحققوا أنه لبس القوة والجبروت. لبسوا القوة فنادوا بحقيقة القيامة وكرزرا لعالم الجديد. تكلموا عن الراعي أنه قام بقوة فلا تخافوا من اللصوص. حل عليهم العزاء فأبهجهم. انطفأ خبر الموت بكرازة القيامة.</p>
<p>مبارك هو الذي ترك الأكفان وقام ليقيمنا معه، ولينهض عزيمتنا فنكون لمدح مجده نحن الذين قد سبق رجاؤنا في المسيح (أفس۱: ۱۲) فنهتف اين شركتك يا موت وأين غليتك يا هاوية (١كو٥٥:١٥).</p>
<p>المسيح قام &#8230; بالحقيقة قام</p>
<p><strong>لك يا رب كل مجد وكرامة من الآن والى الأبد. آمين.</strong></p>
<p></p>
<h3>عظات آباء وخدّام معاصرين <strong>ليوم الأثنين من الأسبوع الأول للخماسين </strong><strong>المُقَدَّسَة</strong></h3>
<h4>العظة الأولى: <strong>القيامة</strong><strong>.. </strong>للقديس البابا كيرلس السادس<a href="#_ftn3" name="_ftnref3">[3]</a></h4>
<p>&#8220;مبارك الله أبو ربنا يسوع المسيح الذي حسب رحمته الكثيرة ولدنا ثانية لرجاء حتى بقيامة يسوع المسيح من الأموات&#8221; (1بط1: 3).</p>
<p>يسعدني أن أهنىء من أعماق قلبي كل فرد منكم بعيد القيامة المجيد..</p>
<p><strong>والعيد ذكريات مقدسة</strong>.. فعلينا أن نتقدس في قلوبنا وعواطفنا، في أنفسنا ومشاعرنا، في أفكارنا وضمائرنا، حتى ننعم في العيد لا بالمظهر الخارجي، بل بالعمق الروحي..</p>
<p><strong>نراجع أنفسنا</strong>.. هل وصلت إلينا بركات العيد؟</p>
<p>هل احتوت قلوبنا ذلك الحب الرائع العجيب الفريد، الذي رأيناه في مخلصنا المجيد؟.</p>
<p>هل تاقت أنفسنا في شوق أن نسمو إلى فوق.. في نمو مستمر، وسلام مستقر.. لکي نقضي حياة هادئة هادفة مطمئنة؟.</p>
<p>العيد ترديد لذكريات قديمة تلقي أضواء على الطريق..</p>
<p><strong>ماذا كان المجتمع البشري قبل الصليب؟</strong>..</p>
<p>إنه مجتمع سادة وعبيد.. مجتمع بليد عنيد..</p>
<p>إن الفرائص لترتعد عندما تتذكر كم كان الظلم عنيفاً والاستبداد مخيفاً، من يوم أن سقطت البشرية إلى أن جاء المصلوب.. فأولئك الذين نصبوا أنفسهم سادة متعنتين، ظلموا الآخرين، لا هَّم لهم إلا التحكم فيهم والعمل على إيذائهم .</p>
<p>الزوج يظلم زوجته وكأنها جارية.. يبدلها كيفما شاء ويعاملها حسبما يشاء.. والأولاد الذين يجيئون عن هذا الطريق ينشأون نواة سيئة لمجتمع متفكك لا روابط فيه ولا ضوابط..</p>
<p>يستبد كبيرهم بالصغير، ويشتد غنيهم على الفقير.. ومن هنا نشأت الطبقية، وديست أبسط قوانين الإنسانية..</p>
<p>كان مجتمعاً لا إنتاج فيه ولا نمو.. فأصحاب السيادة ينتظرون العمل كل العمل من العبيد، والمستعبدون يرون أنهم ليسوا أصحاب مصلحة في أى إنتاج، فهم متبلدون خاملون، ولعلهم عائرون معثرون، فهم يؤدون العمل ليرفعوا مستوى أسيادهم، أما مستواهم فهو إلى حضيض.. من هنا ضاع الأمل وانطفأ الوميض..</p>
<p>كان ذلك المجتمع القديم بائساً يائساً، لا خير فيه ولا نفع منه..</p>
<p><strong>ثم ظهر المسيح له المجد</strong>..</p>
<p>ظهر كوكب الصبح المنير &#8220;النور الحقيقي الذي ينير كل إنسان..&#8221; (يو1: 9).</p>
<p>ظهر كلمة الله المتجسد يحمل رسالة السلام و بشارة الخلاص.. قدوة في حياته، معلماً في كلماته، باذلاً في خدماته، مضحياً بحياته.</p>
<p>وحدث أن المجتمع القديم لم يستسغ تلك التعاليم، ولم يقو أن يتحمل الرغبة في التدعيم على نظم جديدة لأهداف مجيدة..</p>
<p><strong>فجاء الحدث الرهيب.. وكان الصليب</strong>..</p>
<p>إتفق الخصمان اللذان كانا عدوين لدودين.. اليهود والرومان.. إتفق التعصب الممقوت مع الإستعمار المنبوذ ازاء من زعموا أنه العدو المشترك!.</p>
<p>و لعب رؤساء اليهود دوراً مشهوداً.. فيه دس وختل، فيه فتنة وقتل..</p>
<p>فكانت المحاكمة الظالمة.. وصلبوا رب المجد..</p>
<p><strong>وأمام الصليب</strong> &#8220;إظلمت الشمس وانشق حجاب الهيكل من وسطه&#8221; (لو23: 45). &#8220;والأرض تزلزل والصخور تشققت والقبور تفتحت&#8221; (مت27: 51، 52).. ولما رأى هذا قائد المئة  حارس الصليب - مجد الله قائلاً: &#8220;حقا كان هذا الإنسان ابن الله&#8221; (مر15: 39).</p>
<p><strong>وسطعت من حياة المصلوب أضواء المحبة</strong>.. محبة الخالق للمخلوق، المحبة التي تتفرع عليها كل البركات، فاهتدى المجتمع بتلك التضحيات، وتعلم المؤمنون بذل الوقت والجهد، بذل العرق والدموع، بذل الدم والحياة. .</p>
<p><strong>فالمحبة ليس لها حدود</strong>.. تتمشى من الأحباء إلى الأعداء، لكى يحبوهم مهما أساءوا، ويكرموهم مهما أهانوا، ويخدموهم مهما ظلموا، ويعلموهم مهما جهلوا، ويحاولوا أن يعيدوهم إلى الحق .</p>
<p>وتمجد الله في هذا البذل.. وأدت الرحمة رسالتها أمام العدل..</p>
<p><strong>ومات الحبيب عن الحبيب</strong>.. بل مات عن العدو والحبيب.. ذلك لأن الكل به مخلوقون، وأمامه متساوون، فكانت اشتراكية البذل أساس كل اشتراكية في هذا الوجود، لا فوارق بين الأجناس والطبقات، بين الألوان واللغات، إلا بما في الإنسان من إيمان بالعمل الصالح الذي يصدر عن القلب الصالح.. وشمل النداء الجميع بروح العهد الجديد، والأمر موقوف على من يريد!..</p>
<p>مات لأنه لا بد أن يموت &#8220;إذ لم يكن ممكناً أن يمسك منه&#8221; (اع2: 24) &#8220;الموت الذي كان ينبغي أن المسيح يتألم به ويدخل إلى مجده&#8221; (لو24: 16).</p>
<p>مات لكي يمنحنا بموته الحياة، ودفن في القبر لكى ندفن معه في المعمودية.. مات لكى نموت نحن عن كل رغبات غير مشروعة، ونحيا حياة جديدة تتفق وتضحياته المجيدة..</p>
<p><strong>ثم جاءت القيامة</strong> وقام المسيح حياً من الأموات &#8220;وصار باكورة الراقدين&#8221; (1كو15: 20)، &#8220;وأقامنا معه وأجلسنا معه في السماريات&#8221; (أف2: 6)، لكى يمنحنا رجاء المجد..</p>
<p><strong>فكانت القيامة هي العيد</strong>.. ففي القيامة حياة.. وفي القيامة نجاة.. وفى القيامة مناجاة. حياة عنوانها &#8220;لى الحياة هي المسيح&#8221; (في1: 21).</p>
<p>حياة قوامها التسامي عن الدنايا، والعمل على إنقاذ الغارقين في الخطايا، وتخليص المعذبين الذين اتخذ منهم أعداء الحياة ضحايا..</p>
<p>حياة فيها مساواة.. حياة كلها عطف وكلها لطف.. كلها بذل وكلها فضل..</p>
<p>ونجاة من الحبائل التي ينصبها عدو الخير وأتباعه وأذنابه من البشر.. تارة بالكلام المقول المعسول الذي يغري، وأخرى بالمكتوب الدنس المرذول الذي يطغي..</p>
<p>نجاة من كل زيف وضلال، من كل مصيدة تقتنص النفس وتحولها إلى الباب الواسع والطريق الرحب الذي نهايته إلى الهلاك.</p>
<p><strong>نجاة من نوم الضمير</strong> ومن شرود التفكير..</p>
<p><strong>ومناجاة ترتفع بها قلوبنا إلى الذي صلب عنا</strong>، لكى نسلمه حياتنا &#8220;مع المسيح صلبت فأحيا لا أنا بل المسيح يحيا في فما أحياه الآن في الجسد فإنما أحياه في الإيمان، إيمان ابن الله الذي أحبني وأسلم نفسه لأجلي&#8221; (غل 20:2) مناجاة للقائم من بين الأموات أن يمنحنا نعمة القيام، حتى ننبه النيام أن يسهروا، والمتعبين أن يصبروا، والخائرين تحت ضغط الإثم أن يتحرروا، والدنسين أن يتطهروا، والمغلوبين من الشيطان أن يهبوا تائبين فينتصروا ويظفروا.</p>
<p><strong>مناجاة إلى صاحب العيد</strong> أن يصون وحدتنا لكي نكون كلنا له.. نحارب الإلحاد ونعمل على البلوغ إلى الهدف المنشود لخير الإنسانية جمعاء.. وأن يصون أسرتنا من الشقاق والفراق، من الطلاق الذي قد يؤدي بالنسل إلى الإملاق.. وأن يمنح الوعى واليقظة للآباء والأمهات، أن يعملوا على تنشئة جيل جديد من البنين والبنات، جميل تقي نقي، أبي وفي، نواة للمجتمع الإنساني الحي&#8230;&#8230;</p>
<p><strong>وليتمجد إسمه العظيم القدوس من الآن وإلى الأبد آمين.</strong></p>
<p><strong> </strong></p>
<h4>العظة الثانية: <strong>مفهوم القيامة وروحياتها</strong> <strong>.. </strong>للمتنيح البابا شنودة الثالث<a href="#_ftn4" name="_ftnref4">[4]</a></h4>
<p>إن الموت دخيل على البشرية..</p>
<p>فعندما خلق الله الإنسان خلقه للحياة.. نفخ فيه نسمة حياة، فصار نفسًا حية. وأراد الله له الحياة والخلود. ولكن حرية الإنسان انحرفت إلى الخطيئة، فجلب لنفسه الموت كنتيجة لخطيئته، لأن &#8220;أجرة الخطية هي موت&#8221; (رو ٦: ٢٣). وهكذا دخل الموت إلى العالم. وساد على الجميع.</p>
<p>لذلك نحن نفرح بالقيامة. لأنها انتصار على الموت. وعودة بطبيعة الإنسان إلى الحياة. فالله خلق الإنسان ليحيا، لا ليموت.</p>
<p>قيامة المسيح هي عربون لقيامتنا جميعًا، لذلك وصفه القديس بولس الرسول بأنه &#8220;باكورة الراقدين&#8221; (١كو ١٥: ٢٠) هو الباكورة، ونحن من بعده.</p>
<p>ولعل سائلًا يسأل: كيف يكون المسيح هو الباكورة، بينما قام من قبله كثيرون؟!.. ابن أرملة صرفة صيدا إقامة إيليا النبي من الموت (١مل ١٧: ٢٢) وابن المرأة الشونمية أقامه أليشع النبي من بعد أن مات (٢ مل ٤: ٣٢-٣٦). كما أن هناك ثلاثة أقامهم السيد المسيح نفسه وهم: ابن أرملة نايين، وابنة يايرس، ولعازر.</p>
<p>حقًا إن هناك أشخاصًا قاموا من الموت قبل المسيح، ولكنهم بعد قيامتهم عادوا فماتوا ثانية. ومازالوا ينتظرون القيامة العامة. أما قيامة المسيح فهي القيامة التي لا موت بعدها، وهي الباكورة، والشهوة التي يشتهيها كل مؤمن بحب الخلود..</p>
<p>القيامة التي نعينها هي الطريق إلى الأبدية التي لا نهاية لها. ونحن نعلم أن قصة حياة الإنسان على الأرض هي قصة قصيرة جدًا.. وإذا ما قيست بالأبدية تعتبر كأنها لا شيء. والخلود هو الحلم الجميل الذي تحلم به البشرية.</p>
<p>إن القيامة ترفع من قيمة الإنسان، وتؤكد أن حياته لا تنتهي بموته.</p>
<p>القيامة تؤكد أن هناك حياة أخرى غير هذه الحياة الأرضية، سوف نحياها بمشيئة الرب بعد القيامة. وهكذا نقول في &#8220;قانون الإيمان&#8221; الذي نتلوه كل يوم في صلواتنا &#8220;وننتظر قيامة الأموات، وحياة الدهر الآتي. آمين&#8221;.</p>
<p>إذن لعلنا نقول: إن أهم ما في القيامة. هو ما بعد القيامة.</p>
<p>فالقيامة تدل على أن لحياة الإنسان امتدادًا في العالم الآخر، وأن الموت هو مجرد مرحلة في حياة الإنسان، أو هو مجرد جسر بين حياتين إحداهما أرضية والأخرى سمائية.</p>
<p>ولا شك أن الحياة الأخرى أفضل بكثير، لأنها حياة في السماء، مرتفعة عن مستوى المادة، كما أنها حياة نقية، لا توجد فيها أية خطية. وفوق كل ذلك فهذه الحياة الأخرى هي عشرة مع الله وملائكته وقديسيه. عبر عنها الكتاب بقوله &#8220;ما لم تره عين، ولم تسمع به أذن، ولم يخطر علي قلب بشر، ما أعده الله للذين يحبونه&#8221; (١كو ٢: ٩). ولهذا قال مار اسحق: [إن مخافة الملكوت تزعج قلب الرجل الجاهل. أما الإنسان البار فيشتهي الموت مثلما تشتهي الحياة].</p>
<p>ولهذا قال القديس بولس الرسول &#8220;لي اشتهاء أن أنطلق، وأكون مع المسيح، فذلك أفضل جدًا&#8221; (في١: ٢٣) حقًا أن الموت يصبح شهوة للذين يحبون الله ويحبون الحياة الأخرى، ويرون أنها أفضل جدًا من عالمنا هذا الذي فقد نقاوته. هؤلاء لإيمانهم بالقيامة -لا يرون الموت نهاية حياة، إنما هو انتقال لحياة أخرى..</p>
<p>إن القيامة غيرت نظرة الناس إلي الموت، فأصبح مجرد انتقال، جسر يعبر إلى حياة أخرى، أو قل هو عملية ارتقاء، لذلك صار شهوة للأبرار.</p>
<p>لما حدث أن المسيح داس الموت بقيامته، سقطت هيبة الموت إلى الأبد، ولم يعد القديسون يخافون الموت إطلاقًا، كما أصبحوا لا يخافون مسبباته، كالمرض مثلًا، أو مؤامرات الناس الأشرار واعتداءاتهم.</p>
<p>إنما يخاف الموت الإنسان الخاطئ، الذي لم يتب، فيخشي مصيره بعد الموت، والوقوف أمام دينونة الله العادلة. أو يخاف الموت الإنسان الخاطئ، الذي له شهوات يمارسها في هذا العالم. ويخشى أن يحرمه الموت منها.</p>
<p>أما البار فلا يخاف الموت إطلاقًا، لأنه يؤمن بالقيامة.</p>
<p>والقيامة ترتبط بالإيمان، فالملحدون مثلًا لا يؤمنون بالقيامة..</p>
<p>الإنسان المؤمن يؤمن بقدرة الله علي إقامة الجسد من الموت، فالذي خلق البشر من التراب، وخلق التراب من العدم، هو قادر علي إعادة الجسد إلى الحياة. ليعود فيرتبط بروحه. أما الملحدون فلا يؤمنون بوجود الروح. أو استمرارها بعد الموت، ولا يؤمنون بالحياة الأخرى، ولا بالثواب والعقاب.. لهذا قلت إن القيامة ترتبط بالأيمان.</p>
<p>والإيمان بالقيامة يقود إلى حياة البر والفضيلة.</p>
<p>فهو يؤمن بأنه بعد القيامة، سيقف أمام الله في يوم الدينونة الرهيب، لكي يعطي حسابًا عن كل أعماله، إن خيرًا وإن شرًا. لذلك يقوده هذا الإيمان إلي حياة الحرص والتدقيق خوفًا من دينونة الله العادلة. وبالتالي يحاسب نفسه على كل عمل، وكل فكر وكل شعور، وكل كلمة، ويقوم نفسه، كما قال القديس مقاريوس [احكم يا أخي على نفسك، قبل أن يحكموا عليك]..</p>
<p>بل إن الإيمان الحقيقي بالقيامة يقود إلى حياة الزهد والنسك.</p>
<p>القيامة حولت أنظار الناس إلى أمجاد العالم الآخر، فتصاغرت في أعينهم المتع الزائلة في هذا العالم الفاني. ومن فرط تفكيرهم في غير المنظور، ازدروا بالمحسوسات والمرئيات. وأصبحوا كما قال الكتاب &#8220;غير ناظرين إلى الأشياء التي ترى، بل إلى التي لا ترى. لأن التي ترى وقتية، وأما التي لا ترى فأبدية&#8221; (٢ كو ٤: ١٨).</p>
<p>ولو لم تكن القيامة، لتهالك الناس على هذه الحياة الرضية، وغرقوا في شهواتها.. كالأبيقوريين الذين كان يقولون &#8220;لنأكل ونشرب، لأننا غدًا نموت&#8221; (١كو ١٥: ٣٢).</p>
<p>أما الذين يؤمنون بالقيامة ويستعدون لها، فإنهم يضبطون أنفسهم حسنًا. ويدخلون في تداريب روحية لتقويم ذواتهم. ولا ينقادون وراء الجسد ولا المادة. بل يحيون بالروح بأسلوب روحي، ويقمعون أجسادهم وحواسهم وأعصابهم.</p>
<p>حب الأبدية جعل الأبرار يشتاقون إلى شيء أكبر من العالم وأسمى..</p>
<p>كل ما في العالم لا يشبعهم، لأن في داخلهم اشتياقًا إلى السماء. وإلى النعيم الروحي الذي يسمو على الحس. ويرتفع فوق كل رغبة أرضية.. لذلك نظر القديسون إلى الأرض كمكان غربة، واعتبروا أنفسهم غرباء ههنا، يشتاقون إلى وطن سماوي، إلى حياة أخرى، من نوع آخر. روحاني نوراني سمائي.. ما لم تره عين..</p>
<p>اشتاقوا إلى العالم الآخر الذي كله قداسة وطهارة وروحانية، وسلام، وحب، ونقاء.. حيث الله يملأ القلوب. فلا تبقى فيها شهوة لشيء آخر غيره..</p>
<p>القيامة فيها لون من العزاء والتعويض للناس:</p>
<p>فالذي لا يجد عدلًا على الأرض، عزاؤه أن حقه محفوظ في السماء، عند الرب الذي يحكم للمظلومين.. الذي لا يجد خيرًا على الأرض مثل لعازر المسكين، عزاؤه أنه سيجد كل الخير هناك. وكما كان على الأرض يتعذب، فهو في السماء يتعزى. فالقيامة تقيم توازنًا في حياة كل إنسان. إذ أن محصلة ما يناله على الأرض، وما يناله في السماء تشكل توازنًا قوامه العدل.</p>
<p>والقيامة تقدم عزاء حقيقيًا لجميع الأصدقاء والمحبين، إذ تجمعهم ثانية، بعد أن يفرقهم الموت.</p>
<p>لو كان الأمر ينتهي عند القبر. ولا قيامة، إذن لكان أحباؤنا الذين فارقونا بالموت قد انتهوا، وانتهت صلتنا بهم، وما عدنا نراهم.. وهذا لا شك يتعب القلب، ويسبب فجيعة للمحبين الذين بغير القيامة يفقدون أحباءهم إلى غير رجعة.</p>
<p>إن القيامة تعطينا أيضًا فكرة عن قوة الله ومحبته.</p>
<p>الله القوي الذي يستطيع أن يقيم الأجساد بعد أن تكون قد تحللت وتحولت إلى التراب، ويعيدها بنفس شكلها الأول، ولكن بلون من التجلي.. روحانية ونورانية.. إنه الله المحب الذي لم يشأ أن يتمتع وحده بالوجود، فخلق كائنات أخرى. كما لم يشأ أنه يعيش وحده في الخلود، فأنعم بالخلود على الناس والملائكة، ووهب البشر حياة أبدية بعد قيامهم من الموت.</p>
<p>ومن متع القيامة زوال الشر. وزوال كل ما سببته الخطية.</p>
<p>ففي النعيم الذي يحياه الأبرار. لا يكون هناك شر ولا خطيئة. بل مجرد معرفة الخطية ستنتهي. ونعود إلى حياة البساطة الكاملة والنقاوة الكاملة. كالملائكة، وكالأطفال في براءتهم وتتخلص النفس من الأمراض التي رسبتها عليها الخطية: كالخوف، والشك، والشهوة، والقلق، وما شابه ذلك، وعندئذ تلبس النفس إكليل البر، وتزول منها جميع النقائص نفسية كانت أم جسدية.</p>
<p>يعوزنا الوقت إن تحدثنا عن كل أمجاد القيامة. فذلك يحتاج إلي كتب.</p>
<h4></h4>
<h4>العظة الثالثة: <strong>أين شوكتك يا موت أين غلبتك يا هاوية.. </strong>للمتنيح الاب متي المسكين<sup> <a href="#_ftn5" name="_ftnref5">[5]</a></sup></h4>
<p>منذ أن سقط آدم، والموت هو عدو الإنسان الكبير، فوإن كان للإنسان أعداء كثيرون بسبب الخطية، ولكن الموت كان دائماً أشدها سطوة وبأساً على نفسية الإنسان. هذه الحقيقة واجهها الإنسان طول حياته بجزعٍ شديد مع خوف دائم ورعبة. وقد عبَّر عنها بولس الرسول في الرسالة إلى العبرانيين بقوله: &#8220;الذين خوفاً من الموت، كانوا جميعاً، كل حياتهم تحت العبودية&#8221; (عب۲: 15).</p>
<p>أي أن الإنسان من شدة واستمرار خوفه من الموت، أصبح عبداً لهذا الخوف، لأن الخوف الشديد والمستمر من أي شيء، يُنشيء - حالة عبودية له، مع شعور بالعجز والمذلة!! هكذا عايش الإنسان الموت بهذا الاحساس من الخوف والمذلة كل أيام حياته حتى مجيء المسيح.</p>
<p>ولكن هل ترك الله الإنسان هكذا بدون شاهد على إمكانية غلبة الموت وتخطي سلطانه، في الأزمنة السالفة؟.</p>
<p><strong>مواقف غلبة الموت في العهد القديم</strong></p>
<p>٢- إن أول نصرة حازها الإنسان ضد الموت بصورة حاسمة ملموسة كانت على يد أخنوخ بشهادة الكتاب المقدس: &#8220;وسار أخنوخ مع الله، ولم يُوجَد لأن الله أخذه&#8221; (تك٥: ٢٤). ولكن لم تكن هذه النصرة الباهرة لأخنوخ ضد الموت جزافاً ، فقد أثبت جدارة أمام الله، كافأه االله عليها علانية، إذ يقول بولس الرسول في الرسالة إلى العبرانين: &#8220;بالإيمان نُقِلَ أخنوخ لكي لا يرى الموت، ولم يوجد لأن الله نقله، إذ قبل نقله شُهد له بأنه قد أرضی الله&#8221; (عب١١: ٥).</p>
<p>لانه إن كان آدم بسبب عصيان الله قد وقع تحت سلطان الموت، فأخنوخ بسبب  إرضاء الله كان أول انسان بعد آدام، يهزم الموت ويطأه بقدميه ويرتفع إلى السماء حياً، وذلك شهادة على قوة إرضاء الله ومقدرتها على فك الإنسان من عبودية الموت والخوف منه؟! الله أراد بنقل أخنوخ إلى السماء حياً، أن يخلخل من سلطان الموت ورعبته من إحساس الإنسان وضميره .</p>
<p>٢  أما الموقف الثاني الذي تحدى فيه الإنسان الموت على مستوى الشعب بأكمله، فكان في مصر، حينما أطاع الشعب أمر الله على فم موسى بذبح خروف الفصح، ووضع الدم على الأبواب في وجه الملاك المهلك أي ملاك الموت، الذى لما رآه الملاك تراجع.</p>
<p>وهذا الدم ،وإن كان الشعب لم يدرك معناه العميق والبعيد إلا أن ملاك الموت، الذى هو أيضا ملاك الدم  كان يدرك السر، الذى وراء دم خروف الفصح، حتى أنه أرتعب من مجرد الأقتراب نحو الباب الذى مُسح به. إذ أنه ليس بلا معنى قول سفر الرؤيا عن سر الخروف الذى ذُبح فى مصر هكذا:  &#8220;&#8230; ومصر حيث صُلب ربنا أيضا&#8221; (رؤ۸: ۱۱)</p>
<p>أي أنه كان معلوماً لدى كل الخليقة الأخرى العلاقة السرية بين دم الفصح الذى فدى شعب إسرائيل ونجَّاه من يد الملاك المهلك في مصر، وبين الدم الذي فدى العالم كله ونجَّاه من يد الذى له سلطان الموت أي ابليس.</p>
<p>ولكن هذه النصرة الثانية على الموت، التي جازها الإنسان على مستوى شعب بأكمله، لم تكن أيضاً جزافاً، بل نظير طاعة حرفية لوصية الله التي أُمر بها الشعب على فم موسی  .</p>
<p>أما الإنطباع البعيد الأثر الذي نستشفه من تراجع ملاك الموت إزاء خروف الفصح، فهو بداية تقهقر وانكسار لسلطان الموت عن الإنسان.</p>
<p><strong>مواقف أخرى عديدة</strong><strong> :</strong></p>
<p>و بين نصرة أخنوخ على الموت بواسطة إرضاء الله، ونصرة شعب  أسرائيل بأجمعه على الملاك المهلك   بواسطة طاعة وصيه الله، توجد أمثلة عديدة لنصرات كثيرة ومتوالية، فردية وشعبية على الموت، سواء إزاء وحوش أو حوادث أو حروب أو أمراض أو كوارث، امتدت فيها جميعاً يد الله وانتشلت الإنسان من موت محقق مثل داود من فم الذئب والأسد ومن سيف جليات الجبار، وإيليا من إيزابيل والأنبياء الكذبة، ثم صعود إيليا إلى السماء فى موكب سمائي مهیب بمركبة نارية وخيول شاروبيمية أرسلت من السماء خصيصاً لنقل إيليا حياً بجسده، كأعظم نصرة على الموت، شاهدها الإنسان بجسده عياناً، كان إيليا فيها بسبب سيرته النارية في النسك والزهد والبتولية، مندوباً فوق العادة عن البشرية لسبق تذوق إمكانية غلبة الموت وتخطيه، في عظمة  فائقة وتكريم سمائي كعربون لما سيحققه الرب يسوع لنا جيمعاً .</p>
<p>كذلك فى موقف إليشع النبي الذي بواسطة حفنة دقيق، نجده يتحدى سم الموت الكائن فى القدر، والذى سرى فى أجسام ضيوفه بسبب الأكل قثَّاءٍ بريّ سام (٢مل٤: ٣٨-٤١) هنا نجد نصرة علنية فوق الموت سببها معروف، وهو طاعة إليشع الفائقة لإيليا، التي تحقق فيها قول الإنجيل: &#8220;من يقبل نبياً باسم نبي، فأجر نبي يأخذ&#8221; (مت١٠: ٤١). وهكذا نال إليشع أجر  إيليا تماماً، لا عن جهاد شخصي بالدرجة الأولى، بل عن طاعة لروح النبوة التى كان يحملها إيليا من الله!!.</p>
<p>والفتية الثلاثة وهم فى يد آتون النار المحمية وألسنتها صاعدة ٤٩ ذراعاً كأنها فوهة بركان، وقد وقفوا معاً يسبحون الله في تحدٍ للموت وجبروت النار التى تمثل أرعب صورة لسلطان الموت على الإنسان، هذه النصرة الرائعة نالها الإنسان بسبب أمانته في الشهادة لعبادة الله، كذلك نقرأ من دانيال كيف شاهد يد الله وهي تسد أفواه الأسود عنه، فوقفت الأسود أمامه صامتة حائرة، وهي تكاد يمحقها الجوع. وكان هذا تعبيراً عن إنكسار سطوة الموت عن الإنسان الذي يمثله دانيال، الذي أستطاع ذلك بصلاته  ثلاث مرات كل يوم، يصليها من عُلِّيته وكواه مفتوحة، شهادة لله الحي الذي كان يعبده بروحه وصدق قلب ، لا عن مظهر ولا عن تحدِّ.</p>
<p>وأخيراً فى موقف بولس الرسول وهو يُحفظ  مرات كثيرة من الموت، ويجوز كل أخطاره من سيول ولصوص وغرق ومكايد ورجم وسم الأفعى التي أُنشبت في يده أسنانها ولم يضره شئ، كل هذا ليتم فيه وعد الرب إزاء أمانة الكرازة بإسمه، إلى أن يتمم سعيه ويلبس إکليله .</p>
<p>كل هذه النصرات الكبيرة والكثيرة جداً فى كل من العهد القديم والعهد الجديد، تكشف لنا عن مقدار القوة المذخرة لنا  ضد الموت في صميم خلقتنا الأولى وما أضيف إليها من مواهب الخلقة الجديدة الروحية .</p>
<p>صحيح أن &#8220;آخر عدو يبطل هواالموت&#8221; (۱کو15: ٢٦)، ولكن الله سبق وأبطله عنا مرات كثيرة في الماضي حتى يحرر الإنسان جزئياً من قيود عبوديته وحتمية الخوف منه .</p>
<p><strong>الخطية والموت</strong></p>
<p>كان هذا كله فى الماضي، لأنه بسبب الخطية حلت لعنة الموت وملكت على الأرض كلها، الموت يسود الأرض! ليس حي على الأرض إلا ويموت، الموت يوجد خارجنا ويوجد داخلنا. &#8220;الموت مَلَكَ على الجميع&#8221; كما يقول الكتاب في رسالة رومية: &#8220;بإنسان واحد دخلت الخطية إلى العالم وبالخطية الموت، وهكذا اجتاز الموت إلى جميع الناس إذ أخطأ الجميع&#8230; قد ملك الموت!!&#8221; (رو5: ۱۲، ١٤).</p>
<p>ولأن الخطية هى أصلا من مشورة إبليس، كانت ولا زالت هي السبب في الموت، صار يقيناً عندنا أن سلطان الموت هو فى يد إبليس .</p>
<p>وهكذا صار معلوماً أيضا ً بيقين أقوى وأشد أنه لن يُنقذ الإنسان من سلطان الموت، إلا إذا أُنقذ من سلطان الخطية .</p>
<p>لهذا نزل أبن الله من السماء وأخذ جسدنا بلا خطية وعاش بلا خطية، فتحرر جسدنا بالتالى من سلطان  الموت. ولكن لكى يبيد الموت من جسدنا، كان لابد أن يموت ويقوم، فيحطم قوته وسلطانه، ويبدد رعبة الخوف منه إلى الأبد، وهكذا بالموت داس المسيح الموت عنا، والذين فى القبور أنعم عليهم بالحياة الأبدية.</p>
<p>وهكذا أيضاً لما أبطل سلطان الموت أبطل بالتالي مَن له سلطان الموت أي إبليس .&#8221;فإذ قد تشارك الأولاد  فى اللحم والدم،  اشترك هو أيضاً كذلك فيهما، لكى يبيد بالموت ذاك الذي له سلطان الموت أي إبليس، ويعتق أولئك الذين خوفاً من الموت، كانوا جميعاً كل حياتهم تحت العبودية&#8221; (عب٢: ١٤، 15).</p>
<p>الآن مشيئة الله قد صارت لكل إنسان أن يختبر ويذوق الانتصار على الموت! أما الإنتصار على  شهوة الجسد وشهوة العيون وتعظم المعيشة، وأما الإنتصار على إغراءات الشيطان  فى هذا جميعه وكل أنواع الخطايا، فأمر مهم غاية الأهمية ولازم غاية اللزوم. ولكن تظل هذه النصرة كلها ضعيفة متوعكة ناقصة جداً حتى تكمل خبرة الإنسان فى الانتصار على عبودية الموت والخوف من الموت! لأن أعداء الإنسان حقاً كثيرون: الجسد والعالم والشيطان، ولكن الموت أخطرهم، والخوف من الموت ألعنهم جميعاً، فإذا انتصرنا على الجميع وأبقينا على هذا  العدو الأخير الذي هو الموت، أو تجاهلها وجوده وتعامينا عن حالة الخوف منه الرابضة فى أعماق كيان الذهن والضمير والتفكير، فإن كل نصرتنا المزعومة تبقى مزعزعة قابلة للنكسة والإنقلاب. لأنه حينما يظهر فجأة عنصر الموت أمامنا ويتهددنا بأية وسيلة وعلى يد أي إنسان، حينئذ يبدأ عامل الخوف من الموت يسود على كل الكيان، ويبدأ الإنسان بسبب صغر النفس ينكر منهج الفضيلة، ويجحد الإيمان والأمانة فى لحظة فى طرفة عين، ويستفيق وإذا هو مغلوب منهزم أشر إنهزام.</p>
<p>لذلك حينما يقول الكتاب: &#8220;آخر عدو يبطل هو الموت&#8221; فهو يقصد ليس فقط عامل الزمن، بل وأيضا يكشف ضمناً عن عنصر الخطورة الكامنة في هذا العدو الجبار الخبيث، وتفوُّق هذه الخطورة على كل ماعداها فى كافة أعداء الإنسان الآخرين، بل ويشير الكتاب بذلك أيضاً إلى أهمية هذا العدو وقدرته على التربص في قلب الإنسان واختفائه وراء كافة الأعداء الآخرين!!.</p>
<p>فإذا تركنا هذا العدو رابضاً في داخل القلب تحيط به هالته الكاذبة من الرعبة والخوف، يصبح كل جهادنا مهدداً وفى خطر .</p>
<p>الرب بإقامته لعازر بعد أربعة أيام من موته وبعد أن أنتن جسده فى القبر، فضح جبروت الموت وهتك سلطانه علناً أمام الناس، وجرده من كل سطوته وحتميته،  نتن اللحم والدم جعله خرافة، ورائحته الكريهة جعلها كالحلم الكاذب، نفض الدود عن اللحم المُهرَّأ، وأقام الأعضاء المفككة غضة نابضة بالحياة ونشاطها؛   هذا كله يعتبر حقاً عربون النصرة على الموت الذي سلمه لنا تمهيداً لما هو مزمع أن يعمله في أجسادنا جمعياً الذي عمله هو في جسده أولاً لتكون القيامة حقاً أبدياً لنا .</p>
<p>قيامة لعازر من الموت حياً بعد ان أكملو كل مراسيم الموت والدفن من بكاء ودموع ورثاء وعزاء ومواساة حتى إلى اليوم الرابع، كفيل حقاً أن يبدد من مشاعرنا حتمية الموت التى طغت على وجداننا وترسخت فينا، وكأن الموت لا رادًّ لقضائه.</p>
<p>لنلاحظ جميعاً أن الرب أقام لعازر من الموت قبيل موته هو مباشرة ليثبت لنا أنه وإن مات فهو سيد  الموت، وإن قام فهو رب القيامة القادر بقوته وسلطانه آن يلغي الموت ويطأه لا بقيامته هو فحسب بل وبكلمة واحدة من فمه &#8220;لعازر هلم خارجاً&#8221;!!.</p>
<p>لقد سبق المسيح أن قال لمريم: &#8220;أنا هو القيامة والحياة&#8221;!! &#8220;من كان حياً وآمن بي فلن يموت إلى الأبد&#8221; (يو11: ٢٥، ٢٦)، إن سر المسيح والمسيحية يتركز في هذه الآية بقوة وإلهام فالمسيح هو هو الحياة الأبدية؛ فمن ذا الذي يمسك بالحياة ويموت؟ ألم يقل المسيح بوضوح: &#8220;من يأكلني يحيا بي&#8221; (يو٦: ٥٧)!!</p>
<p>وليكن معلوماً وعن يقين أن كل ما تبقى للموت ليسود عليه فينا من بعد قيامة المسيح، هو ما فينا من تراب فقط، حيث يعود التراب إلى التراب الذى أُخذ منه. أما نحن الأحياء الآن بالروح، ونفوسنا الحية فى المسيح والمخلوقة بالروح جديداً على صورة خالقها، فهذه لا نصيب للموت عليها البتة. هذه لن يحتويها قبر، ولن ترى ظلمة القبر أبداً، بل من نور إلى نور تنطلق، ومن مجد إلى مجد تنتقل!!.</p>
<p>الخطورة الآن قائمة فى أن يستولى الخوف من الموت على ما ليس له فينا، الخطورة كل الخطورة أن يدخل الخوف من الموت إلى نفوسنا الحية ويطفئ منها شعلة النور أى الإيمان بالقيامة وبالمسيح القائم عنا ولنا وبنا، فيزيح  روح الحياة من نفوسنا ويستوطن الموت فى قلبنا كحالة خوف وهمي من عدو مقتول!!.</p>
<p>المسيح أبطل الموت عن نفس الإنسان واحل محله روح القيامة، وروح القيامة هو الذى سيقيم جسدنا أيضاً من بعد فساد، ويجعله على صورة النفس فى البهاء والمجد كالمسيح، لأن الكتاب يقول بغاية الوضوح: &#8220;الذى سيغير شكل جسد تواضعنا، ليكون على صورة جسد مجده&#8221; (في٣: ٢١). الموت له سلطان الآن على التراب الذى فى جسدنا، أي الجزء الميت فينا، ولكن لا سلطان له أبداً على الروح او النفس التي في جسدنا، لأن المسيح يملأ الجسد كهيكل له، والنفس له عروس، والروح هى أصلاً من نفخة الله .</p>
<p>الهيكل الترابي المناسب فقط للأرض، ينحل بالموت لكى يتسنى لله أن يعيد بناءه بدون خطية لكى يناسب السماء، وذلك بواسطة المسيح الذى يجدد خلقته على صورته فى المجد والكرامة.</p>
<p></p>
<h4>العظة الرابعة: <strong>عند القبر الفارغ .. </strong>للمتنيح الأنبا بيمين أسقف ملوي<a href="#_ftn6" name="_ftnref6">[6]</a></h4>
<p><strong>القبر الفارغ</strong> إستعلان لحقيقة الموت وحقيقة الحياة.</p>
<p>لم تقصد يا سيدي من قبرك وقيامتك مصالحة الموت. أو تخفيفا لفرع الأنسان  من القبر. ولكنك قصدت أن تعلن للعالم حقيقة الموت وحقيقة الحياة..</p>
<p>بالمواجهة الصميمية التي واجهت بها رئيس هذا العالم، بعد سقوط الانسان ونزوله إلى الأرض الملعونة، إذ أدخل العدو في  ذهنية الانسان كذباً أن الحياة هي في المادة التي يتعامل معها فلا  تعدو أن تكون أكثر من أكل وشراب وملبس وتنسم للهواء، وان  الموت هو ضياع هذه المقومات.</p>
<p>أما أنت ياسيدي فقد جئت من عند  الآب لتعلن أن الحياة هي شخصك المبارك نفسه، وأن الموت هو الإبتعاد عنك وعدم الإيمان بك، إذ قلت عند قبر لعازر &#8220;أنا هو القيامة والحياة، من آمن بي ولو مات فسيحيا، وكل من كان حياً وآمن بي فلن يموت إلى الأبد&#8221; (یو١١: ٢٥- ٢٦).</p>
<p>وقصدت ياسيدي أن تعطي البرهان على ما تقول للذين لا يؤمنون إلا بما يُری. فأقمت لعازر من بين الأموات بكلمة خرجت من فمك الطاهر.. وأخذت تعلم البشرية بحياتك، وتكرز للملكوت بسيرتك، وتنادي بالحياة الحقيقية التي كانت عند الآب وأظهرت لنا فيك (یو١: ٢).. هذه التي ضاعت رؤيتها عند الانسان التائه وسط هموم الحياة وضغوطها وتحدياتها وأوهامها الغاشة. قلت أيضاً &#8220;من يرى الإبن ويؤمن به يكون له حياة أبدية، وأنا أقيمه في اليوم الأخير&#8221; (يو٦: ٤).</p>
<p>وكانت معجزة المعجزات حقا هي أنك أقتبلت الموت في جسدك المحي القدوس الطاهر الذي بلا عيب، لكي تؤكد للبشرية أن هذا ليس الموت الحقيقي، فبالموت دست الموت، والذين في القبور أنعمت عليهم بالحياة الأبدية. وهكذا سيظل القبر الفارغ شهادة وإستعلاناً، أن يسوع هو الحياة المنبعثة من القبر، وأنه هو الحياة التي لا يطويها موت. وأنه النور الحقيقي الذي لا يدركه ظلمة.. هذه هي شهادة عبدك بولس عنك &#8220;أبطل الموت، وأنار الحياة والخلود بواسطة الإنجيل&#8221; (۲تي١: ١٠) .</p>
<p><strong>مع النسوة حاملات الحنوط</strong></p>
<p>&#8221; إشترت مريم المجدلية ومريم الأخرى حنوطاً ليأتين ويدهنه&#8221; (مر٦: ١).</p>
<p>أعلم ياسيدي أن هذا ضعف من المريمات، أن يحملن للجسد المقدس حنوطاً. فداود عبدك قد سبق وتنبأ أن القدوس لن يرى جسده فساداً، وأنت أيضاً سبق وأنبأتهن أن إبن الانسان سوف يمكث في القبر ثلاثة أيام، ثم يقوم على شبه آية يونان النبي.. والعجيب في محبتك أنك لم توبخهن على هذا، بل قبلت محبتهن، وظهرت لهن، وأعطيتهن شرف أولية إستقبال خبر القيامة المفرح والكرازة به للعالم. وإمتدحت مريم عندما سكبت طيباً ناردين ودهنت به قدميك ثم مسحتها بشعر رأسها وقلت إنها ليوم تكفيني قد حفظته (یو١١: ٧).. في كلا الموقفين قبلت التقدمة لأنك فوق الزمان.</p>
<p>أنت الحياة الحقيقية، سواء كنت في بيت عنيا، أو في القبر الفارغ.. وحبك للإنسان لم يتأثر بظروف ومعاملات، بل تجاوزت الضعفات وأثنيت على التقدمات .</p>
<p>إسمح لي أن أنحني وأغسل أرجل أولادك، لأنك بعد قيامتك قد وحدت نفسك بالفقير والمسكين واليتيم والغريب والضعيف.</p>
<p>إقبل يا سيدي القائم القرابين التي تقدم لك على مذبحك الكنسي، وعلى مذبحك البشري، وكل الذين يقدمونها، والذين تقدم عنهم والذين تقدم بواسطتهم، أعطهم جميعاً مع المريمات الطوباويات الأجر الصالح السماوي.</p>
<p><strong>عند الحجر مدحرجاً</strong></p>
<p>&#8220;وإذا بزلزلة عظيمة حدثت، لأن ملاك الرب نزل من السماء، وجاء دحرج الحجر عن الباب وجلس عليه&#8221; (مت ٢٨: ٢).</p>
<p>في ميلادك المتسع تزلزلت السماء خشوعاً، وعسكر الملائكة زفت للبشرية في سماء بيت لحم بشارة الفرح والسلام، وعند صلبك المحيي تزلزلت الأرض كلها، وإظلمت الشمس كسوفاً، وتشققت الأرض احتجاجاً، وأموات كثيرون قاموا، لأن الذي تجسد وولد وصلب وقام هو رئيس الحياة ورب الخلود..</p>
<p>عند القيامة المحيية حدثت زلزلة عظيمة، إذ جاء الملاك ليدحرج الحجر وليعلن للبشرية أن رئيس الحياة خرج غالباً ولا يزال غالباً .. نعم لا تزال تغلب في كنيستك المقدسة، فالقيامة كما هي الحدث الذي غير مجرى التاريخ الأنساني كله، هي أيضا فعل حاضر، وإختبار حي حتى يبتلع الخطيئة والشك والحزن والخوف من كل مؤمن حقيقي.</p>
<p>تأتي ساعة وهي الآن، حين يسمع الأموات صوت إبن الله، والسامعون يحيون &#8220;خرافي تسمع صوتي وأنا أعرفها فتتبعني وأنا أعطيها حياة أبدية ولن تهلك إلى الأبد ولا يخطفها أحد من يدي&#8221; (يو۱۰: ۲۸).</p>
<p>الكاهن يعمل بيديه زلزلة خفيفة على مياه المعمودية، إشارة إلى بدء الحياة الجديدة للمعمد، وأنا اليوم أطلب أن تتفجر في قلبي زلزلة قيامك لتدحرج كل حجر جاثم &#8220;إذ قد دفنا معه في المعمودية لأنه كما أقيم المسيح من الأموات بمجد الآب، هكذا نحن نسلك أيضا في جدة الحياة&#8221; (رو٦: ٤).</p>
<p>قم أيها الرب الاله في داخلنا وليهرب من قدام وجهك كل مبغضي إسمك القدوس ولتتبدد كل ظلمة داخلية.. يا نفسي قومي واستنيري، لأنه قد جاء نورك ومجد الرب أشرق عليك. لينفجر نور قیامتك .</p>
<p>يارب ساطعاً مشرقاً في قلوب شعبك حتى إذ يرى العالم قوة هذه الحياة يقولون:</p>
<p>&#8220;قام حقاً – بالحقيقة قام &#8221;</p>
<p><a href="#_ftnref1" name="_ftn1">[1]</a>  كتاب تفسير انجيل لوقا للقديس كيرلس الاسكندري - صفحة 756 – ترجمة دكتور نصحي عبد الشهيد.</p>
<p><a href="#_ftnref2" name="_ftn2">[2]</a>  المرجع : مجلة مدارس الاحد عدد مايو لسنة 71.</p>
<p><a href="#_ftnref3" name="_ftn3">[3]</a>  مجلة مدارس الاحد عدد مايو لسنة 67.</p>
<p><a href="#_ftnref4" name="_ftn4">[4]</a>  كتاب تأملات في القيامة – لقداسة البابا شنودة الثالث.</p>
<p><a href="#_ftnref5" name="_ftn5">[5]</a>  كتاب اين شوكتك يا موت .. اين غلبتك يا هاوية  - صفحة 3 – الاب متي المسكين.</p>
<p><a href="#_ftnref6" name="_ftn6">[6]</a>  كتاب دراسات وتاملات في الأعياد الكبرى - الجزء الثاني صفحة 4 - الانبا بيمن اسقف ملوي وانصنا والاشمونين.</p>

      {% endcreateArticleAccordions %}
    </section>
  {% endblock %}
  