---
layout: 'layouts/reading.html'
title: 'يوم الثلاثاء من الأسبوع الأول للخمسين يوم المُقَدَّسَة'
tags: 'pentecost'
permalink: /articles/pentecost/1-2.html
---
  {% block content %}
    <section id="readings">
      <ul>
      {% if 'undefined' != 'undefined' %}
      
      {% else %}
      {% if '19.92:4-5' != 'null' %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">العشية</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeVespers '19.92:4-5' '43.6:15-22' %}
          </div>
        </div>
      </li>
      {% endif %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">باكر</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeMatins '19.105:1-3' '40.28:16-20' '' %}
          </div>
        </div>
      </li>
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <h3 class="flex items-center justify-between">
            <span class="kufi">القداس</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </h3>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeLitugy '45.5:6-21' '60.4:1-11' '44.10:34-43' '19.105:3-5' '41.16:9-20' %}
          </div>
        </div>
      </li>

      {% endif %}
        </ul>
    </section>
    <section id="article">
      <h3 class="mt-8 mb-4 heading-explain">شرح القراءات</h3>
      {% createArticleAccordions %}
        <h3>قيامة الإبن والشهادة</h3>
<p>تتكلم قراءات اليوم عن <strong>&#8220;قيامة الإبن والشهادة&#8221;.. </strong></p>
<h4><strong>مزمور عشية:</strong></h4>
<p>يبدأ مزمور عشية بالحديث عن ← <strong>قوة شهادة أعمال الرب </strong>وصنيعه مع البشر &#8220;لأنَّكَ فرَّحتَني يا رَبُّ بصَنيعِكَ وبأعمالِ يَدَيكَ أبتَهِجُ. كما عظَمَت أعمالكَ يارَبُّ&#8221; (مز 91: 2، 3).</p>
<h4><strong>إنجيل عشية:</strong></h4>
<p>وفي إنجيل عشية عن ← <strong>جوهر الشهادة</strong> أنها ليست تَعَلُقْ بمُلك زمني أو انفصال عاطفي بالأشخاص، بل شهادة للعمل الإلهي والسلطان الإلهي &#8220;أنا هو، لا تخافوا&#8221; (يو6: 20).</p>
<h4><strong>مزمور باكر:</strong></h4>
<p>وفي مزمور باكر عن ← <strong>الشهادة للرب في الأمم </strong>والإفتخار به وحده &#8220;إعترفوا للرب وأدعوا بإسمه، نادوا فى الأمم بأعماله&#8230; حدثوا بجميع عجائبه، افتخروا بإسمه القدوس&#8221; (مز104: 1).</p>
<h4><strong>انجيل باكر:</strong></h4>
<p>وفي انجيل باكر عن ← <strong>مصدر الشهادة </strong>السلطان المُعطى لأولاد الله والكنيسة من إبن الله &#8220;دُفِعَ إلَيَّ كُلُّ سُلطانٍ في السماءِ وعلَى الأرضِ &#8230;&#8221; (مت 28: 18).</p>
<p>وعن ← <strong>جوانب ومجالات شهادة الكنيسة</strong> في كل جيل خلال العبادة والرعاية والتعليم &#8220;فاذهَبوا وتلمِذوا جميعَ الأُمَمِ وعمدوهم&#8230; وعَلِّموهُمْ أنْ يَحفَظوا جميعَ ما أوصَيتُكُمْ بهِ.&#8221; (مت 28: 19، 20).. كل هذا مؤيد بالوجود الدائم لمصدر السلطان في الكنيسة &#8220;ها أنا معكُمْ كُلَّ الأيّامِ إلَى انقِضاءِ الدهورِ آمين&#8221; (مت28: 20).</p>
<h4><strong>البولس:</strong></h4>
<p>وفي البولس عن ← <strong>ارتكاز الشهادة الرئيسي على احتياج البشرية كلها للخلاص</strong>، وذلك بنعمة واطاعة الانسان الواحد يسوع المسيح &#8220;لأنَّهُ كما بمَعصيَةِ الإنسانِ الواحِدِ صار الكَثيرونَ خُطاةً، كذلك أيضًا بإطاعَةِ الواحِدِ يصيرالكَثيرونَ أبرارًا.&#8221; (رو5: 19).</p>
<h3><strong>الكاثوليكون:</strong></h3>
<p>وفي الكاثوليكون عن ← <strong>مجالات الشهادة الحية في السلوك المسيحي المقدس</strong> والبعد عن المُسكرات واللهو الدنس وأيضا في خدمة المواهب وأعضاء الجسد الواحد &#8220;وقَبلَ كُلِّ شَيءٍ إقتنوا المحبة في أنفسكم دائماً&#8230; وكُلُّ واحِدٍ كما قد أخَذَ مَوْهِبَةً، فكذلك اخدِمُوها في أنفسكم كمثل وُكلاءَ فضلاء علَى نِعمَةِ اللهِ المُتَنَوِّعَةِ.&#8221; (1بط 4: 8، 10).</p>
<h4><strong>الابركسيس:</strong></h4>
<p>وفي الابركسيس عن:</p>
<ul>
<li><strong>شهادة يسوع حديث الأنبياء وموضوع النبوة</strong> &#8220;وله تشهد جميع الأنبياء&#8221; (أع 10: 43).</li>
<li>وموضوع <strong>إشتياق الشعب في القديم</strong> &#8220;القول الذي أرسله إلى بني إسرائيل ويبشرهم بالسلامة بيسوع المسيح هذا هو رب الكل&#8221; (أع 10: 36).</li>
<li>وأيضاً عن <strong>شهادة الرسل</strong> &#8220;ونحن الشهود بجميع الأشياء التي عملها في كورة اليهودية وفي أورشليم&#8221; (أع 10: 39).</li>
</ul>
<h4><strong>مزمور القداس:</strong></h4>
<p>وفي مزمور القداس عن ← <strong>فرح الشهود الأمناء وقوتهم بالرب إلههم</strong> &#8220;وليفرح قلب الذين يلتمسون الرب. ابتغوا الرب واعتزوا. أطلبوا وجهه فى كل حين. أذكروا عجائبه التي صنعها..&#8221; (مز104: 2، 3).</p>
<h4><strong>إنجيل القداس:</strong></h4>
<p>وفي إنجيل القداس عن:</p>
<ul>
<li><strong>وصية الرب للكنيسة في كل جيل</strong> &#8220;اذهَبوا إلَى العالَمِ أجمَعَ واكرِزوا بالإنجيلِ للخَليقَةِ كُلِّها.&#8221; (مر16: 15)..</li>
<li><strong>وتأييد الرب لهم بالآيات والمعجزات إلى أبد الآبدين</strong> &#8220;وهذِهِ الآياتُ ستتبَعُ المؤمِنينَ باسمي يُخرِجونَ شَّياطينَ، ويتكلَّمونَ لغات&#8230;&#8221; (مر16: 17).</li>
</ul>
<h3><strong>ملخص الشرح</strong></h3>
<ul>
<li>قوة شهادة أعمال الرب مع شعبه وفي الأمم والافتخار به وحده والفرح به. (مزمور عشية – مزمور باكر- مزمور القداس).</li>
<li>جوهر الشهادة يرتبط بالعمل الإلهي والسلطان الإلهي، وليس التعلق العاطفي الزمني بالأشخاص. (انجيل عشية).</li>
<li>ابن الله هو مصدر الشهادة في الكنيسة خلال العبادة والرعاية والتعليم (انجيل باكر).</li>
<li>اطاعة الانسان الواحد بيسوع المسيح هو حجر الزاوية للشهادة للبشرية بالخلاص (البولس).</li>
<li>مجالات الشهادة والسلوك المقدس والأمانة في المواهب والمحبة النقية والصلاة الدائمة. (الكاثوليكون).</li>
<li>شهادة يسوع هي حديث الأنبياء واشتياق الشعب قديماً وكرازة الرسل (الابركسيس).</li>
<li>أمر الرب للكنيسة في كل جيل بالشهادة لقيامته وتأييده لها بالآيات والعجائب (إنجيل القداس).</li>
</ul>
<h3>عظات آبائية <strong>للثلاثاء الأول للخمسين يوم المقدسة</strong></h3>
<h4>العظة الأولى <strong>القيامة.. </strong>القديس اثناسيوس الرسولي<a href="#_ftn1" name="_ftnref1">[1]</a></h4>
<ul>
<li>إن ما سبق أن قلناه إلى الآن ليس بالبرهان الهين. على أن الموت قد أُبطل وأن صليب الرب هو علامة الإنتصار عليه. أما عن قيامة الجسد إلى حالة عدم الموت التي أكملها المسيح مخلِّص الكل وهو الحياة الحقيقية لهم جميعاَ. فهذه (القيامة) يمكن إثباتها بالوقائع بوضوح أكثر من إثباتها بالحجج والمناقشات، وذلك. لمن لهم بصيرة عقلية سليمة.</li>
<li>لأنه إن كان الموت قد أُبطل، كما بينا بالأدلة سابقاً، وإن كان الجميع قد وطأوه بأقدامهم بقوة المسيح، فبالأولى جداَ يكون هو نفسه قد وطأه بجسده أولاَ وأبطله. وإن كان المسيح قد أمات الموت فماذا كان ممكناَ أن يحدث (بعد ذلك) إلا أن يقيم جسده ويظهره كعلامة للنصرة على الموت؟ أو كيف كان ممكناَ إظهار أن الموت قد أبيد ما لم يكن جسد الرب قد قام؟ ولكن إن كانت هذه الأدله على قيامته تبدو لأحد غير كافية، فليتأكد مما قلناه من الأمور التي تحدث أمام أعيننا.</li>
<li>لأنه عندما يكون المرء ميتاَ لا يستطيع أن يمارس أي عمل، إذ أن قدرته وتأثيره ينتهيان عند القبر. فإن كانت الأعمال والتأثيرات في الآخرين هي من خصائص الأحياء فقط فلينظر كل من أراد وليحكم، وليكن شاهداَ للحق مما يبدو أمام عينيه.</li>
<li>لأنه إن كان المخلص يعمل الآن بقوة بين البشر ولا يزال كل يوم – بكيفية غير منظورة – يُقنِع الجموع الغفيرة من كل  المسكونة سواء من سكان اليونان أو سكان بلاد البرابرة ليقبلوا الإيمان به ويطيعون تعاليمه فهل لا يزال يوجد من يتطرق الشك إلي ذهنه أن المخلص قد أتم القيامة (بقيامته) وأن المسيح حيّ أو بالأحرى أنه هو نفسه الحياة؟</li>
<li>وهل يمكن لشخص ميت أن ينخس ضمائر الآخرين. حتى يجعلهم يرفضون نواميس آبائهم الموروثة ويخضعون لتعاليم المسيح؟ أو إن كان (المسيح) لم يعد يعمل ما يتفق مع خاصية من هو ميت فكيف استطاع أن يوقف أعمال الأحياء حتى يكف الزاني عن الزنا، والقاتل عن القتل، والظالم عن الظلم، ويصير الكافر تقياَ؟ ولو أنه لم يقم، بل لا يزال ميتاَ فكيف يستطيع أن يطرد ويطارد ويحطم تلك الآلهة الكاذبة التي يدّعي غير المؤمنين أنها حية؟ وأيضا يستطيع أن يطرد الأرواح الشريرة التي يعبدونها؟.</li>
<li>لأنه حيث يذكر اسم المسيح والإيمان به تتلاشى من هناك كل عبادة وثنية، وتُفضَح كل أضاليل الأرواح الشريرة بل لم يستطيع أي من الأرواح أن. يحتمل مجرد سماع الاسم (اسم المسيح)، حتى إنه يختفي عند سماعه، وهذا لا يمكن أن يكون عمل شخص ميت، بل هو عمل شخص حيّ وبالحري هو عمل الله.</li>
<li>وسيكون من الحماقة أن يُقال عن الأرواح التي بددها والأصنام التي أبطلها إنها حية، بينما يُقال عن ذلك الذي طردها، والذي بسلطانه منعها من الظهور وهو الذي يشهد له الجميع أنه ابن الله، أن يُقال عنه إنه ميت.</li>
<li>فكل الذين لا يؤمنون بالقيامة يناقضون أنفسهم مناقضة شديدة، إذ إن كل الشياطين والآلهة التي يعبدونها عجزت عن طرد المسيح الذي يدَّعون أنه ميت، بل بالعكس فإن المسيح أظهر أنها كلها ميتة.</li>
<li>لأنه إن كان صحيحاَ أن الميت لا يستطيع أن يقوم بأي عمل فإن المخلص كان يتمم كل يوم أعمالاً متعددة، جاذباً البشر إلى التقوى ومقنعاً إياهم بحياة الفضيلة، ومعلماً إياهم عن الخلود، وباعثاً فيهم حب السماويات، كاشفاً لهم معرفة الآب، ومانحاً لهم القوة لمواجهة الموت، مظهراً لكل واحد ضلال عبادة الأوثان. فهذه الأعمال لا تستطيع الآلهة والأرواح التي يعبدها غير المؤمنين أن تعملها، بل بالحري تظهر أنها ميتة في حضور المسيح، إذ تصير أبهتها فارغة وباطلة تماماً.</li>
</ul>
<p>وعلى العكس من ذلك، فبعلامة الصليب تبطل قوة السحر وتتلاشي كل قوات العرافة، والأوثان تُهجَر وتُترَك. وكل الملذات غير العاقلة تكف ويرفع الجميع أنظارهم من الأرض إلى السماء. فإن كان الميت لا يملك قدرة علي العمل، فمن هو الذي يستحق أن ندعوه ميتاً؟ هل المسيح الذي يعمل أعمالًا كثيرة كهذه، أو الذي لا يعمل بالمرة بل هو مطروح عديم الحياة؟ وهذه الأرواح الشريرة والأصنام، إذ هي ميته.</p>
<ul>
<li>فأبن الله هو حيّ وفعّال، ويعمل كل يوم، ويحقق خلاص الجميع. أما الموت، فيتبرهن في كل يوم أنه قد فقد كل قوته، والأصنام والأرواح الشريرة هي التي يتبرهن بالحري أنها ميتة وليس الرب، وبالتالي فلا يستطيع أحد بعد أن يشك في قيامة جسده.</li>
<li>أما من لا يؤمن بقيامة جسد الرب فهذا سيبدو أنه يجهل. قوة كلمة الله وحكمته. لأنه إن كان – كما بينا سابقاً – قد اتخذ لنفسه جسداً وهيأه بطريقة لائقة ليكون جسده الخاص، فما الذي كان سيصنعه الرب بهذا الجسد؟ أو ماذا كان يمكن أن تكون نهاية هذا الجسد بعد أن حل فيه الكلمة؟ لأنه كان لابد أن يموت إذ هو جسد قابل للموت، وأن يُقدَم للموت نيابة عن الجميع. ولأجل هذه الغاية أعده المخلص لنفسه. لكن كان من المستحيل أن يبقى هذا الجسد ميتاً بعد أن جُعِلَ هيكلاً للحياة. ولهذا إذ قد مات كجسد مائت فإنه عاد إلى الحياة بسبب &#8220;الحياة&#8221; التي فيه. والأعمال التي عُمِلَت بالجسد هي علامة لقيامته.</li>
<li>فإن كانوا لا يصدقون أنه قام بسبب أنه لم يكن منظوراً (بعد القيامة)، فيلزمهم إذن أن ينكروا ما يخص الطبيعة (الإلهية) ذاتها. لأن من خواص الله الذاتية أن يكون غير منظر ، ومع ذلك فإنه يُعرَف بواسطة أعماله، كما قلنا سابقاً.</li>
<li>لأنه لو لم يكن هناك أعمال لكان يحق لهم ألا يؤمنوا بمن هو غير منظور. لكن إن كانت الأعمال تصرخ بصوت عالٍ معلنة إياه بكل وضوح، فلماذا يصرّون علي إنكار الحياة الواضحة جداً الناتجة عن القيامة؟ لأنه حتى لو طُمِسَت أذهان البشر فإنهم يستطيعون بحواسهم الخارجية أن يروا قوة المسيح التي لا يُشك فيها ويدركون ألوهيته.</li>
<li>إن كان حتي الأعمي – رغم أنه لا يرى الشمس – فإنه عندما يشعر بالحرارة التي تشعها الشمس فإنه يعرف أنه توجد شمس فوق الأرض. هكذا أيضاً، إن كان مقاومونا لا يؤمنون حتى الآن بسبب أنهم لا يزالون عمياناً عن رؤية الحق، فإنهم علي الأقل عندما يعرفون قوته في الذين يؤمنون فلا ينبغي أن ينكروا ألوهية المسيح والقيامة التي أتمها.</li>
<li>لأنه واضح لو كان المسيح ميتاً لما كان في قدرته أن يطرد الشياطين ويُبطِل الأوثان، فإن الشياطين لا تخضع لإنسان ميت. لكن إن كانت قد طُردَت جهاراً بمجرد ذكر اسمه، فإنه يتضح بشكل أكيد أنه ليس ميتاً، خاصة وأن الشياطين وهي ترى ما لا يراه البشر، تستطيع أن تعرف إن كان المسيح ميتاً وبالتالي ترفض الخضوع له بالمرة.</li>
<li>فمن لا يؤمن به الملحدون ترى الشياطين أنه هو الله، ولذلك فإنها تطير وتجثو تحت قدميه، وتردد ما سبق أن نطقت به أمامه وهو في الجسد &#8220;نحن نعرفك من أنت قدوس الله&#8221;، &#8220;ما لنا ولك يا يسوع ابن الله أستحلفك ألا تعذبني&#8221;.</li>
<li>فإن كانت الشياطين تعترف به، وإن كانت أعماله تشهد له يوماً فيوماً. فيجب أن يكون واضحاً – ويجب ألا يتصلف أحد ضد الحق – أن المخلص قد أقام جسده وأنه هو ابن الله بالحقيقة المولود من الآب وهو كلمته وحكمته وقوته، الذي في الأزمنة الأخيرة اتخذ جسداً لأجل خلاص الجميع وعلَّم العالم عن الآب وأبطل الموت ووهب عدم الفساد للجميع بوعد القيامة، إذ قد أقام جسده كباكورة للراقدين، مُظهِراً إياه – بالصليب – كعلامة للغلبة على الموت والفساد.</li>
</ul>
<h4>العظة الثانية: <strong>القيامة المجيدة.. </strong>القديس يعقوب السروجي<a href="#_ftn2" name="_ftnref2"><sup>[2]</sup></a></h4>
<p>صار ابن الله بين الأموات ثلاثة أيام ومشى في أسواق الهاوية كما مشى يونان لما كرز في نينوى، وأشرق بالقيامة في اليوم الثالث بدهش عظيم . فحص حمأة الموت وطلب الجوهرة التي سقطت وخلص آدم الذي أطبقت عليه البئر فمها وخنقته. ثبت بالحياة في بطن الموت ثلاثة أيام ثم قام وخرج كالجبار. من الأكل خرج المأكول بغير فساد، ومن المرارة خرجت الحلاوة، وتنسر مثل شمشون ابن العبرانيين. الموت مُرّ والمسيح الحلاوة والأكل هو الموت الذي أكل الأجيال. صار ربنا خبز للاجيال وأشبعهم. تجنن اليهود ليحرسوا قبره، وازدری بهم لأن الغبار لن يقدر أن يحفظ الريح بضعفه. أفزعهم بقوته الخفية وأرعبهم وأرهبهم وتجننوا ليحرسوه وخافوا من قيامته لأنه قال أنى أقوم في اليوم الثالث. إن صدَّقوا القول فماذا يربحون من حراسة قبره، وإن لم يصدقوه فلماذا يخافون لأنه قال أقوم. فزع الذين أهرقوا الدم الذكي في الأرض وخافوا منه وجلسوا يحرسونه من فزعهم. سألوا من الحاكم حراساً كمثل موهبة ليكونوا شهوداً لقيامته الحقيقية. صلبه الشعب الذي جاء هو لخلاصهم ومن أجل هذا نظره الشعب لما قام. أتى الحراس ليحرسوا قبره وكانوا من الشعوب المؤهلين ليشهدوا بقيامته. أخذ الفلاحون الزرع المبارك وطمروه في الأرض وحرسوه لئلا ينبت ويفنيهم. أي ميت جلسوا يحرسو نه منذ الأزل إلا ربنا الذي غلب بموته كل عصمة، من هو المقتول الذي رمى الفزع ويحرسونه من خوفهم لئلا يقوم. وضعوا في وجه القبر حجراً عظيماً وختموه بالاختام، والحراس حرسوه كالخزانة العظيمة. دعا العريس المقتول بخدامه من مساكنه ونزلوا إليه لينظروا القبر، المرقد الجديد. أشرق النور حول القبر وارتعب الحراس و تعجبوا ودهشوا وتكدروا بفزعهم. في نصف الليل صار النهار كما كان في نصف النهار، الليل الجديد بالصلبوت. السواعي التي اقترضها النهار من الليل أعطاها له لما أشرق في وسطه. في نصف كان يموت ملك الليل، ولما قام في نصف الليل أشرق النهار. أظلم نهار الصلبوت ولم يضيء وأضاء ليل القيامة بالدهش العظيم. خرج ربنا من داخل القبر وختم ثابت ولما خرج نظر الحراس واضطربوا. ولما انذهلوا عندما رأوه خارجاً من باب القبر، تفرسوا في القبر فوجدوا الأختام موضوعة ولم تفسد .</p>
<p>نظروا القيامة ونظروا القبر فظنوا أنه حلم أو أن خيالاً ظهر لهم لأنهم نظروه و نظروا القبر مختوماً وأيهما يصدقوا. الاثنان حقيقيان. خرج بالحق والحجر مختوم بالحق. ولما ضاق الحراس بهذه الحركات تقدم الملاك ودحرج الحجر ليحققوا وينظروا أنه ليس هو هناك لما خرج لم يحتاج أن يفتح الباب لانه سهل له أن يعبر في الطبائع الصماء وهكذا دخل العلية وهى مغلقة كما خرج وختم القبر ثابت .</p>
<p>الجبار الذي حسن له أن ينضجع في الهاوية، لما قام لم يحتاج أن يفتح له آخر. لما تألم شفق الحجارة وفتح الصخور، ولما قام لم يمنعه الحجر أن يقوم. ولا في البتول لما خرج حل البتولية ولا لما دخل العلية حرك أبوابها. وبعد أن خرج فتحه الملاك من أجل الانكشاف، لكى عندما تأتى التلميذات يحققن صارت الطلبة أن ينظرن القبر مفتوحاً لئلا يحترن من يدحرج لهن الحجر. أراهن كيف وضع وشجعهن أنه قام لا تحزنن من أجل موته. نظر الملاك لمتكئات العريس المقتول، ليريهن موضع العريس ويصرفهن. لما أتت التلميذات بأطيابهن دعا الملاك وشجع حزنهن. أراهن أين وضع جسد الابن حين قال لهن ربنا قام لا تحزنن. الحي ليس هو مع الأموات قد قام بالمجد كما قال قبل أن يموت، دخل الملائكة لينظروا هناك القبر المدهش ولم يجسروا أن يدوسوا على سريره جلس الملائكة واحد عند الرأس وآخر عند الرجلين.ها سرير الذي السموات ممتلئة من تمجيده شاء أن يكون ضيفاً ويفتقد الأموات. دهش عظيم انتاب السمائيين لما تفرسوا في القبر الصغير ومن دخل فيه .</p>
<p>قام من القبر ورد سيد عدن إلى الجنينة. قامت مريم وتكلم معها الملاك وبشرها بالقيامة بصوت مرتفع. لما تكلم معها الملاك التفتت خلفها. نظرت الملاك تحرك وسجد، فالتفتت تنظر لمن سجد الملاك المتكلم معها. التفتت فنظرت ربنا قائما كجنائني، وحسن له أن يتشبه بالبستاني لأن أباه نصب عدن بيديه وملأها من كل الأشجار المثمرة بيده أدخل آدم إلى الفردوس، ولأنه تجاوز الوصية طرده وخرج وفتح الفردوس قدام اللص الذي اعترف به. نظرته مريم وسألته على ربنا المثمر الحلو ليقول لها إن هو أخذه أين وضعه؟ ذاك شجرة الحياة التي في الفردوس في جنينة يوسف أظهر نفسه للطوبانية. هو الشجرة وهو الثمر وهو الجنائني وهو الذي وضع ذاته باختياره. هو وضع نفسه بيد أبيه ولم يعط الآب لصفيه أن ينظر فساداً في الهاوية، وبغير فساد أعطاه للعالم ليتجود به هرب الحراس واختزى الصالبون وفرحت الملائكة وهتف المتضايقون. اجتمع التلاميذ وابتهج الأحباء. فرحت السموات وابتهجت الأرض وتشرف القبر واختنق يهوذا وخزى حنان وأحنى قيافا رأسه. قام ابن الله من القبر بالمجد العظيم واستضاءت المسكونة من قيامته. <strong>مبارك هو الذي أرسله له المجد دائماً وعلينا رحمته إلى الأبد آمين.</strong></p>
<h3>عظات آباء وخدّام معاصرين <strong>ليوم الثلاثاء من الأسبوع الأول للخماسين </strong><strong>المُقَدَّسَة</strong></h3>
<h4>العظة الأولى: <strong>القيامة</strong><strong>.. </strong>للقديس البابا كيرلس السادس<a href="#_ftn3" name="_ftnref3">[3]</a></h4>
<p>إلى أخوتنا الأحباء..</p>
<p>في هذا العيد المجيد نتجه بقلوبنا إلى الله أن ينعم علينا جميعاً بنمونا في الحياة الروحية، وأن يكون لنا من فيضه نعم وبركات سخية.</p>
<p>وعيد القيامة يتميز بطابعه الفريد، طابع نقل الحياة من القديم إلى الجديد، والتسامي بها إلى الذروة لكي يكون الفرد نواة لمجتمع نبيل أمين نزيه سعيد.</p>
<p>ونحن إذ نعود بأفكارنا إلى ما قبل ظهور المسيح له المجد بالجسد، ونلقي نظرة أمينة على ذلك المجتمع المهلهل المتهدل.. كيف كان مليئاً بالكيد والدس والنفاق والجحود والنجاسة والدنس.. عندما نحلل ذلك المجتمع نتبين أن خلوه من الروحانية ألقى به من حالق، وأودى به إلى التضعضع والتصدع .</p>
<p>لم يكن بار ولا واحد (رو٣: ١) ليس من يفهم وليس من يطلب الله، الجميع زاغوا وفسدوا معاً. ليس من يعمل صلاحاً ليس ولا واحد.. طريق السلام لم يعرفوه، وليس خوف الله قدام عيونهم (رو٣: ۱۲، ۱۷) .</p>
<p>ثم نتابع التطور المفاجيء الذي كون مجتمعاً جديداً فيه ترابط وتآزر، فيه تآلف و تناصر، نحس أن قوة خفية علوية سامية سماوية عملت عملها وفعلت فعلها، وبنت على أساس سليم المجتمع السامي المرموق الكريم.</p>
<p>لقد كان مجتمعنا البشري نائماً ثم قام، بل كان ميتاً ثم عاش.. واندفعت جحافله المتآلفة بالبر والتقوى، المتكاتفة على الخير والخدمة، اندفع هذا المجتمع الجديد إلى الأمام يدفع عن الطريق كل العوائق التي تعطل الركب، ويبعث إلى العالم القوة التي تعين على إكمال البناء العظيم .</p>
<p>كان المجتمع القديم منصرفاً عن الحياة الروحية. منحرفاً إلى المادية، منجرفاً إلى النزعات النفسية والنزعات الجسمية، مقترفاً شتى صنوف الاجرام تبعثها الخطية.. كما لا يزال أولئك الذين تخلفوا عن موكب النعمة، ولم يريدوا أن ينتفعوا بما أفاد الله من رحمة.</p>
<p>والانصراف عن الحياة الروحية هو أول الطريق إلى الهاوية، الانصراف عن المثل الأعلى وعن روح الحياة، الانصراف عن نور الحق وعن موطن الرجاء. الانصراف عن القوة التي تبث إلى النفس الري والغذاء والشبع والعزاء.</p>
<p>وكذلك الانحراف إلى المادية التي طغت على الأفراد والجماعات فقيدتهم بقيود لا يستطيعون منها فكاكاً، بل رغبوا فيها رغبة جعلتهم مغللين بسلاسل أقوى من الحديد، فارتبطت أفكارهم بالأرضيات، واندفعت أجسادهم بكل طاقاتها إلى الاستغلال، لا رغبة في إفادة الآخرين بما استثمروا، وإنما إشباعاً لنزعات نفسية هيهات أن تشبع.. &#8220;فالعين لا تشبع من النظر والأذن لا تمتلىء من السمع&#8221; (جا١: ٨) &#8220;من يحب الفضة لا يشبع من الفضة ومن يحب الثروة لا يشبع من دخل&#8221; (جا٥: ١٠).</p>
<p>ثم انجرف المجتمع بقوة تيار المادية تزعزع الأركان السليمة للحياة القويمة، وراح الماديون يخرجون على القانون.. قانون الرحمة بالإنسانية.. فاستباحوا لأنفسهم أن يسمنوا على حساب امتصاص دماء الآخرين، واغتنوا ولكنهم لم يبالوا بأنات المتوجعين ولا دموع المتفجعين الذين يبيتون على الطوى محرومين متألمين، وفى سبيل تلك النزعات النفسية تهدمت قيم وأهدرت أخلاق واستشرى الرياء والظلم والنفاق، وبدت لوثة أكثر خطورة هي لوثة الجسد، ذلك أن &#8220;محبة المال أصل لكل الشرور الذي إذ ابتغاه قوم ضلوا عن الإيمان وطعنوا أنفسهم بأوجاع كثيرة&#8221; (١تي٦: ١٠) فكانت تلك النزوات التي ألقت بالملايين إلى الحضيض. وهكذا اقترفت البشرية شتى صنوف الظلم والعدوان، حيث سادت الخطية يذكي نارها الشيطان، ويوزع على بني البشر كلا حسب استعداده في كل زمان ومكان .</p>
<p><strong>أحبائى المؤمنين:</strong></p>
<p>تلك كانت صورة المجتمع القديم..</p>
<p>ثم جاءت النعمة الإلهية وتجلت الرحمة في تجسد الابن الكلمة، يرسم في حياته طريق الخدمة، ثم يضع صليبه خاتمة لتلك النقمة، ويفتح بقيامته أبواب النعمة.. فكان المجتمع الجديد.</p>
<p>لقد كانت القيامة تحولا عجيباً.. من اليسار إلى اليمين، من الشك إلى اليقين، من الموت إلى الحياة، ومن الأرض إلى المجد.</p>
<p>وجاء المجتمع الجديد مكتشفاً معترفاً.. مغترفاً منعطفاً.</p>
<p>فلقد اكتشف مجتمعنا الجديد عقب قيامة السيد المسيح له الكرامة، الكنوز المذخرة لنا في قلب ربنا.. فاستيقظ الوعي و تفتح الذهن، وتركز الفكر في الحياة فاستطاع أن يعرف الشيء الكثير المجيد عن الأمور الموهوبة لنا من صانع العهد الجديد، وأدرك أن الثروة التي يتمتع بها الفرد، ثروة النعمة المعطاة من فوق، ثروة تستطيع أن تغني النفس مدى الحياة في غير حاجة إلى ثروة مادية أو مركز أو جاه.</p>
<p>وهكذا اعترف الأتقياء أن كل ما لا يسهم من مقومات الحياة المادية لم يعد عليهم بشيء يذكر من الخير، بل لعل الأضرار التي أحاقت بالبشرية في ابتعادها عن نبع البر وأصل الطهر، تلك الأضرار كانت مصدراً لقلق دفين، ثم وجدت أن السلام العميق الذي حصلت عليه من جراء صلتها بالله سلاماً فائضاً عميقاً حلواً، سلاماً طافراً يملأ النفس شبعاً ويضفي على الحياة سروراً عجيباً .</p>
<p>ومن ثم راحت النفس تغترف من ذلك الينبوع الجديد، الينبوع الذي كلما وزعت منه يزداد إتساعاً وعمقاً ويؤول إلى خير أوفر وأغزر .</p>
<p>هذه الجموع المتراصة التي تزدحم بها الأجيال والتي تبدو عليها علائم السرور.. ما الذي بعث بها إلى هذا المصير المحبب؟ ما الذي جعلها تقفز من سمو إلى سمو؟ ما الذي ألبسها ثوب الفرح وكللها بثياب المجد؟ إنه اللباس الناصع البياض، لباس القداسة الذي خلعه على النفس رب الكمال والجلال.</p>
<p>وهذه النفس المرتوية التي شبعت عطفت فتاقت أن تشبع. هذه النفس التي تجلت بالبر واتشحت بالقداسة هبت تعطف على الآخرين توزع عليهم من الينابيع التي فاضت عليها منه، ومن القداسة التي أخذتها عنه، فذاع منهم بدورهم الفرح والبهجة والسرور. والذين أحسوا بفضل القائم من الأموات، الذين أعطاهم من روح الحياة هؤلاء قاموا ينشرون ذات العبير، ويكرسون الحياة بجملتها ليبلغوا بالآخرين إلى نعم المصير.</p>
<p>هذا هو العيد.. الواضح في معالمه وضوح الشمس، لا يخفى نورها إلا عن الذين أغمضوا عيونهم لئلا يبصروا، وسدوا آذانهم لئلا يسمعوا، وأغلقوا قلوبهم لئلا يفهموا.</p>
<p><strong>ربنا</strong> صاحب العيد.. أيها القائم منتصراً من بين الأموات..</p>
<p>لقد قمت وانتصرت.. ومن ثم انطلقت الحرية، وفاضت الروحانية، وتفاضلت العطية.. لقد سادت مملكتك وعاشت إلى اليوم كنيستك، تدفعها إلى الأمام روح عالية معنوية، في نهضة فتية.. إن خبت حينا اتقدت أحياناً، وإن تضاءلت حسب الظاهر بعض الوقت فلكي تشتعل جذوة متقدة متأججة، تحرق أشواك الشر، وتعلن أضواء البر، وتدفع أبناء الخير، يؤدون رسالة الاخلاص والبذل للغير .</p>
<p><strong>ربنا..</strong></p>
<p>أذكر العالم المضطرب، ذكِّرَهُ بحبك النابع، وببذلك المتتابع، وبجودك الدافع، لعله يستفيق من غشيته ويرجع إليك فيدرك هدف الحياة، ليعلم الناس أنهم خلقوا لا ليهدموا بعضهم بعضاً، بل ليبنوا بعضهم بعضاً، ويتجنبوا التنابذ والانقسام ۔ فهما معاول الهدم  ويسعوا إلى المحبة التي هي أساس البنيان ودعامة السلام.</p>
<p><strong>ربنا..</strong></p>
<p>جدد بنا العزم حتى نسير قدماً لرد الضالين، وهدى الشاردين، لإيقاظ النائمين، و تنبيه الغافلين، لنزع روح الشقاق والفرقة واحلال روح الوفاق والألفة، فأنت الذي جعلتنا لك شعباً مؤتلفاً، وصيرتنا أطهاراً بروحك القدوس، وأنت الذي قلت قبيل آلامك وصلبك: &#8220;ليكون الجميع واحداً كما أنك أنت أيها الآب فيَّ وأنا فيك، ليكونوا هم أيضاً واحداً، ليعلم العالم أنك أرسلتني&#8221; (يو۳۰:١٧).</p>
<p><strong>ربنا..</strong></p>
<p>هب شعبك قلوباً واعية لتدرك أقوال رسلك &#8220;مجتهدين أن تحفظوا وحدانية الروح برباط السلام، جسد واحد وروح واحد كما دعيتم إلى رجاء دعو تكم الواحد رب واحد إيمان واحد معمودية واحدة إله واحد للكل الذي على الكل بالكل في كلكم&#8221; (أف٣: ١٨) .</p>
<p><strong>ربنا..</strong></p>
<p>رحمتنا برحمتك؛ فأعطنا أن نرحم الآخرين رحمة روحية بالتعليم والتدعيم، ورحمة جسدية بإشباع الجائعين وكساء العراة و تضميد جراحات المجروحين وتعزية المحزونين.</p>
<p><strong>ربنا..</strong></p>
<p>أفض علينا من روح قدسك حتى نظل في روحانية عميقة، هي في الأصل المحبة الوثيقة والعاطفة الرقيقة.</p>
<p><strong>ربنا..</strong></p>
<p>أشدد يقيننا وابن حياتنا ووطد بك صلتنا لكى ننآى عن الأثرة ونعرف معنى الإيثار ولكي نبذل جهد الطاقة في اسعاد الآخرين، وما السعادة إلا فيك.</p>
<p><strong>ربنا..</strong></p>
<p>اجمع شملنا، ووحد كلمتنا، وطهر قلوبنا من نوازع الشر ونفوسنا من کوامن الحقد ليسودها التسامح والتعاطف، وتسمو في صفائها وبهائها على مظاهر الضعف البشري.</p>
<p><strong>وليكن اسمك القدوس العظيم مباركاً من الآن والى الأبد آمين.</strong></p>
<h4>العظة الثانية: <strong>بركة القيامة في حياتنا</strong> <strong>.. </strong>للمتنيح البابا شنودة الثالث<a href="#_ftn4" name="_ftnref4">[4]</a></h4>
<ul>
<li><strong>البركة الأولي هي: أنه لا مستحيل</strong>:</li>
</ul>
<p>يبذل الناس جهودهم في كل مجال. فإن وقفوا أمام الله، كفوا تمامًا عن العمل والجهد، لأنه لا فائدة. وكان هذا هو شعور مريم ومرثا بعد موت لعازر، الذي مضى على موته أربعة أيام، وقيل &#8220;وقد أنتن&#8221;. فلما أقامه السيد المسيح من الموت، عرفوا أنه لا مستحيل.</p>
<p>ولكن لعازر -بعد أن أقامه المسيح- عاد فمات مرة أخرى، ولم يقم بعد.. أما السيد المسيح -في قيامته- فقد حطم الموت نهائيًا. بقيامة أبدية لا موت بعدها، حتى نظر بولس الرسول إلى قوة هذه القيامة وقال &#8220;أين شوكتك يا موت؟&#8221; لقد تحطم الموت، وأصبح لا مستحيل..</p>
<p>وعلم الناس فقط، بأن كل شيء مستطاع عند الله (مت ١٩: ٢٦) القادر علي كل شيء، بل أن الرسول يقول &#8220;استطيع كل شيء في المسيح الذي يقويني&#8221; (في ٤: ١٣). قال هذا بعد قوله &#8220;لأعرفه وقوة قيامته&#8221; (في ٣: ١٠).</p>
<p>بل إن الكتاب في اللامستحيل، يعطينا قاعدة عامة هي:</p>
<p>&#8220;كل شيء مستطاع للمؤمن&#8221; (مر ٩: ٢٣).</p>
<p>إن القيامة أعطت الناس قوة جبارة. وإذ تحطم الموت أمامهم، تحطمت أيضًا كل العقبات، وأصبح لا مستحيل.</p>
<p>وماذا قدمته القيامة أيضًا؟ وما هي بركتها الثانية؟</p>
<ul>
<li><strong>البركة الثانية هي: الشوق إلى الحياة الأبدية</strong><strong>:</strong></li>
</ul>
<p>&#8220;لي اشتهاء أن أنطلق وأكون مع المسيح، فذاك أفضل جدًا، هكذا قال الرسول.. أكون مع المسيح، الذي قام، وصعد إلى السماء، وجلس عن يمين الله.</p>
<p>وقال &#8220;إن ارتفعت، اجذب إلى الجميع&#8221;.</p>
<p>وقال &#8220;أنا ماض لأعد لكم مكانًا. وإن أعددت لكم مكانًا آتي أيضًا وآخذكم إليَّ. حتى حيث أكون أنا، تكونوا أنتم أيضًا&#8221; (يو ١٤: ٢، 3).</p>
<p>وحب الأبدية جعل الناس يشتاقون إلى شيء أكبر من العالم، وأرقي من المادة، وأعمق من كل رغبة أو شهوة يمكن أن تنال على الأرض.</p>
<p>ونظر القديسون إلى الأرض كمكان غربة، واعتبروا أنفسهم غرباء ههنا، يشتاقون إلى وطن سماوي، وإلي حياة أخرى، من نوع آخر، وروحاني، وخالد، ومضيء..</p>
<p>اشتاق الناس إلى العالم الآخر، الموضع الذي هرب منه الحزن والكآبة والتنهد، الموضع الذي لا خطية فيه، ولا كراهية بين الناس، ولا صراع، بل يسوده المحبة والفرح والسلام والطهارة، حيث الخير فقط، وينتهي الشر نهائيًا.</p>
<p>وهذا يقودنا إلى البركة الثالثة للقيامة وهي:</p>
<ul>
<li><strong>البركة الثالثة للقيامة هي: تجلي الطبيعة البشرية</strong><strong>:</strong></li>
</ul>
<p>في القيامة تنجلي الطبيعة البشرية، جسدًا وروحًا.</p>
<p>فمن جهة الجسد، تقوم أجساد نورانية روحانية، لا فساد فيها، لا تتعب، ولا تجوع، ولا تعطش، ولا تمرض ولا تنحل، تكون كملائكة الله في السماء، بل تقوم على &#8220;شبه جسد مجده&#8221;. ما أروع هذا التجلي، الذي تمجد فيه الطبيعة البشرية، ويعيد إلينا صورة جبل طابور.</p>
<p>أما الروح فتدخل في التجلي أيضًا، وترجع كما كانت في البدء &#8220;صورة الله ومثاله، في نقاوة لا يعبر عنها.</p>
<p><strong>مواقف من القيامة</strong></p>
<p>ما أكثر المعجزات التي حدثت وقت صلب المسيح: الشمس أظلمت، والأرض تزلزلت والصخور تشققت، والقبور تفتحت، وحجاب الهيكل انشق..</p>
<p>ولكن هل استفاد الكل من هذه المعجزات؟.. كلا.. إنما استفادة كل إنسان كانت على قدر استعداد قلبه..</p>
<p>لما تزلزلت الأرض آمن اللص، ولكن لم يؤمن الكهنة ورؤساؤهم. ولما خرج الدم والماء من جنب المسيح، آمن قائد المئة وجنوده، ولم يؤمن قادة الشعب.</p>
<p>إن المسألة لا تتعلق بالمعجزة ومدى قوتها. بل تتعلق بالأكثر بمدى استعداد قلب الإنسان من الداخل ورغبته في الاستفادة.</p>
<p>في معجزة منح البصر للمولود أعمى، آمن الرجل، ولم يؤمن الفريسيون مع أن المعجزة واضحة القوة، بل ثاروا على الرجل لما دافع عن المسيح الذي شفاه، وأخرجوه خارج المجمع (يو ٩: ٣٤). وهكذا لما شفي المسيح صاحب اليد اليابسة، رفضوا أن يستفيدوا من المعجزة بسبب أن الرب شفاه في يوم السبت..</p>
<p>إن هذا كله يذكرنا بمثل الزارع الذي شرحه الرب..</p>
<p>لقد كان نمو الزرع يتوقف قبل كل شيء على حالة الأرض: هل هي محجرة، أم جيدة، أم بها شوك.. الزارع هو نفس الزارع، والبذار هي نفس البذار. ولكن الأرض التي تتقبل البذار من الزارع تختلف في مدي جودتها وتقبلها للزرع الإلهي.</p>
<p>وهكذا حدث في قصة القيامة، وفي قصة الصلب. المعجزات موجودة، ولكن الناس يختلفون. منهم من استفادوا، ومنهم من لم يستفيدوا..</p>
<ul>
<li>بذار على أرض محجرة</li>
<li>بذار خطفها الطير</li>
</ul>
<p><strong>بذار على أرض محجرة</strong></p>
<p>إن رؤساء الكهنة وقادة الشعب اليهودي شاهدوا الشمس قد أظلمت في وقت الظهر، وقت صلب المسيح. ومع ذلك لم يستفيدوا. لأن قلوبهم كانت أشد ظلمة من الظلمة التي على وجه الأرض.</p>
<p>بل أنه بعد هذه المعجزات التي آمن بسببها اللص اليمين وقائد المئة، ذهبوا إلى بيلاطس يقولون له عن المسيح &#8220;يا سيد. قد تذكرنا أن ذلك المضل قال وهو حي إني بعد ثلاثة أيام أقوم. فمر بضبط القبر إلى اليوم الثالث، لئلا يأتي تلاميذه ويسرقوه، ويقولون للشعب أنه قام من الأموات. فتكون الضلالة الأخيرة أشر من الأولي&#8221; (مت ٢٧: ٦٢-٦٤).</p>
<p>وهكذا أخذوا معهم جندًا، ومضوا وضبطوا القبر بالحراس وختموا القبر. ولم يبالوا أن يفعلوا كل ذلك في يوم سبت، وهم الذين قالوا إن المسيح خاطئ، لأنه شفي المرضي في يوم سبت.</p>
<p>طالما تحمسوا للسبت، وعادوا المسيح بسببه. بل إنهم طلبوا كسر المصلوبين وإنزالهم، فلا تبقي الأجساد على الصليب لئلا تنجس السبت.. حماس عجيب من أجل السبت!</p>
<p>ومع ذلك يأخذون معهم جنودًا في ليلة السبت، ويختمون القبر في ليلة السبت، ويقيمون الحراس لحراسة القبر في السبت. ولا يكون في كل ذلك خطية!!</p>
<p>وكأنهم قالوا في قلوبهم إذ ختموا القبر في السبت &#8220;ها قد كسرنا السبت، لكي نكسر كاسر السبت&#8221;!! أما المسيح فإنه -بينما كانوا يختمون قبره- كان قد أفرج عن المفديين من الجحيم، وفك أختام الفردوس المغلق، وأدخل فيه الراقدين علي رجاء..</p>
<p>ما أسهل على الناس أن يلعبوا بضمائرهم كما يشاءون.</p>
<p>هناك أشخاص ضمائرهم مكورة تتدحرج على أي وجه أينما انزلقت رست واستقرت!! وقد كان رؤساء اليهود من ذلك النوع.</p>
<p>ولكن هذا الذي فعلوه كان ضدهم لا لهم، فلو لم يختموا القبر بأنفسهم، ويقيموا الحراس من قبلهم، لكان بإمكانهم أن يحتجوا فيما بعد ويقولوا عن التلاميذ سرقوا الجسد. أما الآن فقد ضبطوا القبر بالحراس وختموه، فماذا يقولون والقبر فارغ وقد قام المسيح بمجد عظيم، وخرج من القبر المختوم، كما خرج في ولادته من بطن العذراء وبتوليتها مختومة..</p>
<p>وبعد قيامة المسيح حدثت زلزلة عظيمة &#8220;لأن ملاك الرب نزل من السماء وجاء ودحرج الحجر علي الباب وجلس عليه. وكان منظره كالبرق ولباسه أبيض كالثلج. فمن خوفه أرتعد الحارس وصاروا كأموات&#8221; (مت ٢٧: ٢٠-٤).</p>
<p>فهل استفاد الحراس من هذه المعجزة العظيمة؟ وهل استفاد منها رؤساء الكهنة وشيوخ الشعب؟.. كلا، لقد كانت البذار المقدسة قد وقعت على أرض حجرية.. صدق أبونا إبراهيم عندما قال &#8220;ولا إن قام واحد من الموتى يصدقون&#8221; (لو ١٦: ٣١).</p>
<p>إن كان يلتمس عذر الجند الأميين الذين لا يعلمون شيئًا عن المسيا ومجده، فماذا عن الكهنة ومعلمي الناموس، المفروض فيهم أن يكونوا حريصين على وصايا الرب وتنفيذها.</p>
<p>إنهم لما سمعوا بالقيامة من الجند، أعطوهم رشوة، ووضعوا كلام كذب في أفواههم، وقالوا لهم &#8220;قولوا إن تلاميذه أتوا ليلًا وسرقوه ونحن نيام. وإذا سمع ذلك عند الوالي فنحن نستعطفه، ونجعلكم مطمئنين. فأخذوا الفضة وفعلوا كما علموهم. فشاع ذلك القول&#8221; (مت ٢٨: ١١-١٥).</p>
<p>وهكذا لم يستفيدوا من معجزة القيامة، بل زادوا شرًا.</p>
<p>كذبوا وعلموا غيرهم الكذب. ولم يكن كذبًا متقنًا، أوعزوا إليهم أن يقولوا إن تلاميذه سرقوه ونحن نيام! فإن كنتم نيامًا، فكيف عرفتم في نومكم أن تلاميذه أخذوه؟! صحيح إن حبل الكذب قصير..</p>
<p>ولكنهم لم يكتفوا بالكذب، بل ألصقوا تهمة بغيرهم زورًا وبهتانًا، إذ ألصقوا السرقة بالتلاميذ. ودفعوا رشوة ليغطوا عملهم. وأساءوا إلي سمعة الجند. وخدعوا الوالي. وأضلوا الشعب كله، الشعب المخدوع فيهم..</p>
<p>وفي كل ذلك الضلال وصفوا المسيح بأنه مضل. وكأنهم يقولون عنه لبيلاطس: أنقذ الناس من هذا المضل، لكيما نضلهم نحن!!</p>
<p>إن بذار معجزة القيامة، إذ وقعت في قلوب أولئك القادة، إنما وقعت على أرض محجرة، فلم تؤثر فيهم. كان تفكيرهم في الحفاظ على مناصبهم يغطي على التفكير في أبديتهم.</p>
<p>وفي هؤلاء نرى كيف ينحدر الإنسان من خطية إلى خطية، في سلسلة طويلة من الخطايا إلى غير نهاية..</p>
<p>مبدأ خطاياهم هو محبة المجد الباطل.</p>
<p>وهذه المحبة قادتهم إلى الحسد، فحسدوا المسيح إذ كانوا يريدون أن يكونوا وحدهم في الصورة دون أن يقف إلى جوارهم أحد، فكيف بالأكثر هذا الناصري الذي غطى على شهرتهم وكشف رياءهم.</p>
<p>وخطية الحسد قادتهم إلى التآمر، والتآمر قادهم إلى شهادة الزور في محاكمة المسيح. وهذا كله قادهم إلى القسوة في صلبه. وإلي تضليل الشعب كله. وموقفهم الخاطئ هذا قادهم إلى الخوف. والخوف قادهم إلى ضبط القبر وختمه، مع كسر السبت، وإشراك الناس في هذا الكسر، وخطيتهم هذه -إذ فضحتها القيامة- قادتهم إلى الرشوة والكذب والتحريض على الكذب وتضليل الناس وعدم الإيمان.</p>
<p>وإذا أرادوا بكل هذا أن يكبروا في أعين أنفسهم وأعين الناس، أضاعوا أنفسهم ولم يستفيدوا لا سماء ولا أرضًا..</p>
<p>إنهم أرض محجرة.. خطية يلفها الخوف.. كانوا يخافون المسيح حتى بعد موته.. كانوا يخافون قيامته لأنها تهدم كل ما فعلوه.. كانوا يشعرون أن المسيح على الرغم من قتلهم له، ما يزال له عمل..</p>
<p>إن القاتل يخاف من شبح القتيل ومن صورته..</p>
<p>وصدق علماء النفس عندما قالوا إن القاتل يحوم دومًا حول مكان الجريمة.. وهؤلاء أيضًا جعلوا يحومون حول مكان جريمتهم.</p>
<p>تلاميذ المسيح نسوا قوله إنه سيقوم في اليوم الثالث أما أولئك الكهنة والشيوخ الخائفون من المسيح فلم ينسوا.</p>
<p>قالوا لبيلاطس: تذكرنا أن ذلك المضل قد قال إني بعد ثلاثة أيام أقوم.. عجيب أنهم تذكروا هذه العبارة، ولم يتذكروا قوله &#8220;أنا والآب واحد&#8221; (يو ١٠: ٣٠)، ولم يتذكروا أنه عمل أعمالًا لم يعملها أحد من قبل.. لم يتذكروا إقامته للعازر بعد موته بأربعة أيام، ولم يتذكروا منحه البصر للمولود أعمي.. تذكوا قيامته، لأن فكرة القيامة كانت تقلق أفكارهم وتزعجهم.. فارتكبوا ما ارتكبوه لكيما يتخلصوا منها.</p>
<p>إنهم عينة تعطينا فكرة عن البذار التي وقعت على الأرض المحجرة. وهناك عينات أخرى من الأرض..</p>
<p>هناك بذار وقعت على أرض فنبتت ثم خنقها الشوك، أبرز مثل لها في حوادث القيامة هو مريم المجدلية.</p>
<p>أما عن تأثير القيامة في نفوس تلاميذ المسيح، فكان يشبه البذار التي أكلها الطير والطير بالنسبة إلى التلاميذ هو شيطان الشك الذي خطف إيمانهم وطار. كيف حدث ذلك؟ وكيف حولهم المسيح أي أرض جيدة تنبت مائة؟ وكيف رد الإيمان إلى قلوبهم وقلب المجدلية. هذا سنشرحه الآن.</p>
<p><strong>بذار خطفها الطير</strong></p>
<p>كم كان أقسى علي قلب الرب أن يحدث ما حدث..</p>
<p>حتى تلاميذه الأحد عشر شكوا في قيامته، ولم يصدقوا..</p>
<p>ولكنه لم يقابل هذا الشك باللوم، وإنما بكل حب احتضن ضعفهم، عالج شكوكهم بالإقناع..</p>
<ul>
<li>ذهبت إليهم مريم المجدلية وأخبرتهم بقيامة الرب &#8220;فلما سمع أولئك أنه حي وقد نظرته لم يصدقوا&#8221; (مر ١٦: ١١).</li>
<li>ولما رجع النسوة من القبر، وأخبرنهم بقيامة الرب &#8220;تراءى كلامهن لهم كالهذيان ولم يصدقوهن&#8221; (لو 24: ١١).</li>
<li>ولما ظهر الرب لتلميذيّ عمواس &#8220;ذهب هذان وأخبر الباقين، فلم يصدقوا ولا هذين&#8221; (مر ١٦: ١٣).</li>
<li>وحتى عندما ظهر لهم الرب بنفسه، لم يصدقوا أنه قام، بل &#8220;جزعوا وخافوا وظنوا أنهم نظروا روحًا&#8221; (لو ٢٤: ٣٧).</li>
</ul>
<p>كانت بذار الإيمان التي ألقاها الرب في أرضهم، قد اختطفها شيطان الشك وطار بها. فاضطر الرب أن يتنازل إلى ضعفهم ليقنعهم بقيامته.</p>
<p>هكذا تصرف مع تلميذيّ عمواس البطيئين في فهمهما، إذ &#8220;ابتدأ من موسى، ومن جميع الأنبياء يفسر لهما الأمور المختصة به في جميع الكتب&#8221; (لو ٢٤: ٢٧).. وظل بهما حتى &#8220;انفتحت أعينهما وعرفاه&#8221;، وذهبا فقالا للأحد عشر.</p>
<p>وهؤلاء الأحد عشر أيضًا تنازل الرب إلي ضعفهم. وقال لهم &#8220;ما بالكم مضطربين؟ ولماذا تخطر أفكار في قلوبكم. أنظروا يدي ورجلي، إني أنا هو. جسوني وانظروا فإن الروح ليس له لحم وعظام كما ترون لي&#8221; (لو ٢٤: ٣٨، ٣٩). وإذ بالرب الذي قام بجسد ممجد، يتنازل لإقناعهم فيقول لهم &#8220;أعندكم ههنا طعام؟&#8221;.</p>
<p>فقدموا له جزءًا من سمك مشوي وشيئًا من شهد العسل. &#8220;فأخذ وأكل قدامهم&#8221; (لو ٢٤: ٤٣)، ولما كان توما غائبًا، ظهر له الرب خصيصًا ليعالج شكه ويقنعه..</p>
<p>وظل الرب معهم حتى آمنوا، وتثبتوا. واستمر يريهم نفسه حيًا ببراهين كثيرة (أع ١: ٣). ولم يتركهم. مكث معهم أربعين يومًا، يظهر لهم، ويحدثهم عن الأمور المختصة بملكوت الله&#8221;. وطرد عنهم الطير الذي يخطف بِذارهم. وحولهم إلى أرض جيدة، تنبت ليس ثلاثين فقط أو ستين، بل مائة. وصار الإيمان فيهم شجرة كبيرة مثمرة بكل نوع ثمر صالح.</p>
<h4>العظة الثالثة: <strong>الخوف من الموت وقيامة المسيح</strong><strong>.. </strong>للمتنيح الاب متي المسكين<sup> <a href="#_ftn5" name="_ftnref5">[5]</a></sup></h4>
<p>إذن، فالخوف من الموت الآن أصبح بالنسبة للإنسان الذى يؤمن بقيامة المسيح، بمثابة تهديد مباشر بانغلاب روح القيامة وتحويلها إلى عمل عاجز فاقد قدرته على إعطائنا روح المسيح وحياة المسيح: &#8220;لأنه إن كان الموتى لا يقومون فلا يكون المسيح قد قام، وإن لم يكن المسيح قد قام فباطل إيمانكم، أنتم بعد في خطايكم، إذا الذين رقدوا في المسيح أيضاً هلكوا&#8221; (۱كو١٥: ١٦–۱۸) .</p>
<p>وهكذا يقف الخوف من الموت مساوياً لإنكار القيامة، إن لم يكن بالفم، فبجزع القلب وصغر النفس وإنهزام الإرادة، حيث تنحل قوة النفس، فيضيع رجاؤها هباء وتعيش الروح في شبه ظلام! بل وأكثر من ذلك، لأن الآية السابقة تشير إلى أن فقدان الإحساس بالقيامة، يساوي البقاء في حالة الخطية !!</p>
<p>لذلك يعتبر الموت، والخوف من الموت أخطر عدو لنا الآن، مع أنه مقتول وغير موجود، وقد أبطله المسيح بموته وبقيامته، وأفقده كل سلطانه، وعزله تماماً عن الإنسان المولود من الله!! &#8220;لكي يبيد بالموت ذاك الذى له سلطان الموت أي إبليس&#8221; (عب ۲: ١٤)</p>
<p>المسيح الآن يملك في أولاد الله بروح الحياة، عوض الموت ومن كان له سلطان الموت أي إبليس الذي كان يملك على كل إنسان. وبذلك أصبح الخوف من الموت يشير إلى أن المسيح لم يملك بعد كما ينبغي على كيان الإنسان نفسياً وروحياً، وهذا أمر خطير للغاية.</p>
<p>نحن الآن موضوعون لنأخذ النعمة من الله للحياة بالمسيح يسوع، عوض الخوف من الموت الذي كان بسبب الخصية.</p>
<p>والكتاب يشدد جدا في مواضع كثيرة على أن عمل النعمة وعطية البر المجاني من الله بالمسيح أقوى جداً جداً من عمل الخطية وسلطان الموت والخوف من الموت: &#8220;لأنه إن كان بخطية الواحد قد ملك الموت بالواحد ، فبالأولي كثيراً الذين ينالون فيض النعمة وعطية البر سيملكون في الحياة بالواحد يسوع المسيح &#8230; ولكن حيث كثرت الخطية ازدادت النعمة جداً، حتى كما ملكت الخطية في الموت هكذا تملك النعمة بالبر للحياة الأبدية بيسوع المسيح ربنا&#8221; (رو 5: ۱۷ و۲۰ و۲۱) .</p>
<p>والذي يفوت على كثيرين هو أن بولس الرسول يشدد دائماً على أنه كما سُقينا الخطية عن طريق الجسد كميراث محزن من آدم انتهى بالموت، هكذا سُقينا النعمة مجاناُ عن طريق الروح كميراث مفرح جداً من المسيح انتهى بالحياة الأبدية. ولكن كما أن الخطية لا تملك علينا إلا بالعمل والفعل الإرادي، كذلك فنعمة المسيح  لا يمكن أن تملك علينا إلا بالعمل والفعل الإرادى. أن تملك علينا إلا بالعمل والفعل الإرادي ،كذلك فنعمة المسيح لا يمكن أن تملك علينا إلا بالعمل والفعل الإرادى، والذي تملك عليه النعمة، يستحيل أن يملك عليه الموت أو الخوف من الموت!.</p>
<p>وهكذا واضح غاية الوضوح، أنه كما أن الخوف من الموت هو نتيجة مباشرة لفعل انتهى بالخطية، هكذا الثقة بالحياة الأبدية هي نتيجة مباشرة لفعل انتهى برضاء الله وسكنى النعمة: &#8220;لأن أجرة الخطية هي موت وأما هبة الله فهى حياة أبدية بالمسيح يسوع ربنا&#8221; (رو٦: ٢٣). لأنه كما تقف النعمة فى مواجهة الخطية، هكذا تقف الحياة الأبدية في مواجهة الموت. وكما يقف الخوف من الموت كعثرة عظمى في وجه الإنسان السائر فى طريق الله، كذلك تماماً يقف الفرح بالمسيح وبهجة القيامة كقوة فائقة ترفع إرادة الإنسان وإحساسه وفكره وضميره وكل كيانه فوق الموت والخوف من الموت.</p>
<p>وليس عبثاً ما ينهينا بخصوصه بولس الرسول من جهة أن المسيح الآن لا يمكن أن يسود عليه الموت، لأنه بهذا يعمق وعينا بأن صلتنا بالمسيح  تمنع عنا منعاً باتاً الخوف من الموت لأننا نعيش الآن مع المسيح الحي، ونحن سنكمل هذه الحياة معه إلى الأبد بدون انقطاع: &#8220;لأني أنا حي فأنتم ستحيون&#8221; (يو١٤: ١٩). الموت لم يعد يستطيع فقط أن  يفصلنا عن الحياة التى فى المسيح التى فينا الآن: &#8220;لأن ناموس روح الحياة فى المسيح يسوع قد أعتقني من ناموس الخطية والموت!!&#8221; (رو٨: ٢). إن هذه الحقائق الإيمانية ينبغي أن تأخذ طريقها داخل شعورنا واحساسنا، ليس النفسي والفكري فحسب بل والجسدي أيضاً. لأن الحياة الأبدية التي منحها لنا الله سةف تشمل حتماً وأكيداً هذا الجسد أيضاً، لأنه معروف أن المسيح هو &#8220;مخلص الجسد&#8221; أيضاً (أف٥: ٢٣).</p>
<p>ولكن علينا فى مقابل ما يفعله الموت فى خلايا اجسادنا، ويحلها من سنة إلى سنة، ويضعف حواسنا ةأعضاءنا قليلاً قليلاً حتى فى النهاية تصيبنا الشيخوخة ونموت، كذلك  ينبغى أن نفسح الروح القدس وقوة النعمة بفعل الإيمان والرجاء لكي يجدد صورتنا الداخلية ويضع كل ملامحها الروحية، حتى نكون قريبين جداً من شكل المسيح وروحه وفكره وصفاته، حتى إذا متنا نوجد فى الحال أحياء معه وجهاً لوجه!!. &#8220;إذ خلعتم الإنسان العتيق مع أعماله ولبستم الجديد الذي يتجدد للمعرفة حسب صورة خالقه&#8221; (گو۳: ۹، ۱۰)، لأننا إذ نثبت عيون قلوبنا على وجه المسيح، نتغير إلى تلك الصورة عينها كما يقول بولس الرسول .</p>
<p><strong>حياة الله فينا: علامتها التحرر من إحساس الموت</strong><strong> :</strong></p>
<p>وبمجرد أن تبدأ حياة الله تعمل فينا، ستكون علامتها الأكيدة التحرر من الإحساس بالموت وغلبة الخوف منه، لأنه لا يمكن أن يسكن في الإنسان لعنة الموت وبركة الحياة معاً!! حياة الله فينا تطرد لعنة الموت وتطرح الخوف خارجاً، والإنسان الحي في الله، يحس جداً أنه أقوى من الموت، وأن الموت فقد سلطانه عليه، الإنسان الحي في الله، لا يخضع في أعماقه للموت ولا للإحساس بالموت، حتى وهو يموت يشعر أنه لا يموت ولن يموت، إنه سيبقى حياً ولن يفقد حياته فى الله ولا لحظة واحدة ولا طرفة عين! الجسد سيعود إلى التراب الذي جاء منه، أما هو فيظل مع  المسيح ولن يتزعزع أبداً، بل  ستنفتح عيناه الروحيتان فى الحال، لينظر نور المسيح ويعاين مجد القيامة!!.</p>
<p>أن يستسلم الإنسان للموت أو للشعور بالموت أو يخضع للخوف من الموت، هذا أمر ضد الإيمان، لأنه معروف أن الموت هو عدو للإنسان: &#8220;آخر عدو يبطل هو الموت&#8221;!! إذن فنحن مطالبون أن نخضع الموت ونقاومه ولا نعتد به، لا أن نخضع له، متقوين عليه بالرب وبشدة قوته، عالمين أن قوة القيامة التى فينا قد دحرت الموت مرة وستدحره أيضا حتى النهاية. هذا قد لقنه لنا الإنجيل بوضوح حينما علمنا أن نقول &#8220;أين شوكتك يا موت، أین غلبتك يا هاوية!!&#8221; (۱کو15: ٥٥). لقد غزانا الموت عن طريق الخطية، والمسيح حطم هذا وتلك، وأعطانا عوض الخطية برَّه الشخصي، وعوض الموت حياته الأبدية.</p>
<p>فكيف نعيش بعد في الموت أو نخشاه؟ الموت الآن مربوط مع من له سلطان الموت، أي إبليس، باستعداد المصير المحتوم: &#8220;وطرح الموت والهاوية في بحيرة النار&#8221; (رؤ٢٠: ١٤).</p>
<p>كيف تخضع بعد الموت أو لسطوته وهو فاقد وجوده منذ الآن وإلى الأبد؟!.. نحن الذين أخذنا روح الحياة غير المخلوقة التي للمسيح وصرنا خليقة غير مائتة بهذا القدر الممجد، کیف نعود ونُخِضع روح المسيح لأحاسيس الموت أو خشيته؟ أليست حياة  المسيح  فينا تعمل للحياة الأبدية بقدر ما يعمل الموت في جسدنا عشرة آلاف مرة؟ أو ربوات بلا عدد؟ المسيح أبطل الموت بقيامته، وأعطانا روح القيامة لكي نبطل بها الموت نحن أيضاً من كياننا الروحي في هذه الحياة كشهادة صادقة أن المسيح فعلاً يحيا فينا بقيامته وحياته الأبدية، إن إحساسنا الصادق بقيامة المسيح وسلوكنا في جدة الحياة التي وهبها لنا بقيامته، كفيلة بأن تعطينا الغلبة ضد الموت، لنطرح قوته خارجنا.</p>
<p><strong>نجوز الموت مع المسيح، لكي نشترك في مجد القيامة</strong><strong> :</strong></p>
<p>ولكن كيف نحصل أكيداً على روح القيامة؟ هذا ما ينبغي أن نركز عليه في سلوكنا اليومي، لأنه لا سبيل إلى نوال قوة القيامة إلا من خلال الصليب، لهذا ينبغي أن نجوز الموت أولاً مع المسيح لكي نشترك في مجد قيامته وقوتها .</p>
<p>إذن فالموت فقد حق المبادرة علينا ولم يعد يغزونا وكأننا مقيدون بسبب الخطية، بل قد تهيأنا من قبل الصليب والدم، ولبسنا الأسلحة الكفيلة بأن نسبق نحن ونغزوه؟ نحن مطالبون بأن نغزو الموت ونقتحم كل مكامنه المخيفة وأركانه المظلمة!!. فالإنسان الذي تسلح بالصليب أصبح على استعداد الموت وسفك الدماء مع المسيح ومن أجله، بكل سرور ورضى: &#8220;من اجلك نمات كل النهار&#8221; (رو٨: ٣٦) بكل أنواع الميتات!!.</p>
<p>&#8220;&#8230;..فى الأتعاب أكثر فى الضربات أفور، فى السجون أكثر، فى الميتات مراراً كثيرة، من اليهود خمس مرات قبلت أربعين جلدة إلا واحدة، ثلاث مرات ضُربت بالعصي، مرة رُجمت، ثلاث مرات انكسرت بي السفينة، ليلاً ونهاراً قضيت فى العمق، بأسفار مرارا كثيرة، بأخطار سيول، بأخطار لصوص، بأخطار من جنسى، بأخطار من الأمم ،بأخطار فى المدينة، بأخطار فى البرية، بأخطار فى البحر، بأخطار من أخوة كذبة، فى تعب وكد فى أسهار مراراً كثيرة، فى جوع وعطش، فى أصوام مراراً كثيرة، فى برد وعري&#8221; (٢كو١١: ٢٣- ٢٧).</p>
<p>كل هذه التي ذكرها لنا بولس الرسول هي في الواقع كل ما يملك الموت ومن له سلطان الموت، لكي يخيف بها الناس، وها هي أمامنا صارت موضع افتخار بولس الرسول لأنه اقتحمها كلها كشجاع، وجردها من كل صفة الخوف والرعبة، بل جعلها وكأنها منهج عام لكل عابري طريق الملكوت!! إن كانت طبيعة الشيطان قد انفضحت لنا في الآية التي تقول: &#8220;قاوموا إبليس فيهرب منكم&#8221; (يع ٤: ٧)، هكذا صارت طبيعة الموت تماماً، فإذا قاومناها هزمناها وطردناها؛ إذا أمتنا أنفسنا بإرادتنا هرب الموت عنا وتحولت رعبته إلى غلبة وانتصار؛ وإذا أشفقنا على أجسادنا، وجبنت إرادتنا إزاء إماتة الذات، أخذ الموت فرصته علينا، وكلما تمادينا في العطف على أنفسنا وجزعنا منه أو من الألم أو الخسارة أو المرض أو الإهانة، كلما اقتحم الموت كياننا الداخلي ومعه الخوف والرعبة الكاذبة؛ وهكذا إلى أن يوقف فينا كل حركة شجاعة وكل شهادة صريحة وكل إيمان واضح، وقليلاً قليلاً يخرجنا من ساحة الحرب مخذولين مهزومين، كخائفين من الموت، وهذه خديعة عظيمة، فهو لا يملك قط حق الغلبة علينا!!.</p>
<p>فإذا شبهنا الموت بسم العقرب أو الأفعى، والخطية بشوكة العقرب أو بأنياب الأفعى، فعلينا أن ننتبه بالروح ونؤمن ونصدق أن المسيح كسر شوكة العقرب وازال سمها، وكسر أنياب الأفعى وسكب سمها وسكب سمها على الأرض، هكذا تماما أنهى المسيح على الموت بأن كسر سلطان الخطية وأزال مفعولها عن الإنسان الجديد إلى الأبد.</p>
<p>فمن ذا الذى يخاف من عقرب فاقد ذيله أو من ثعبان فاقد أنيابه؟!.. آلا يكون بعد موضع سخرية وشماته، ومهيأ تماماً أن ندوسه بأقدامنا، إن المسيح الذى رفع عنا الخطية ومسح آثارها المخزية بالدم الإلهى، أزال عنا بالتالى كل سطوة الموت ورعبته، وقيامته تشهد بذلك! وحتى موت الجسد سوف لا يدوم، لأنه حتماً سيأتي الرب وستأتى أرواحنا معه، لتأخذ كل روح جسدها مجدداً من يد الرب. ولكن ينبغي أن نثق أن موت الجسد لن يوقف عملنا فى الرب، ولن يضع حداً لآمالنا السعيدة فى المسيح، ولن ينقص حبنا لله أو للناس ولا قيد شعرة، بل على العكس، فإن تحررنا من الجسد سوف يعطينا فرصاً جديدة لخدمة الرب، وأعماقاً أعظم لحبه وحب الناس جميعا. لذلك فالموت لن يُنقص من قامتنا الروحية أو يحد من رسالتنا السعيدة في خدمة المسيح، بل إن كل ما ينقصنا ويعوزنا الآن، سنستكمله بالضرورة عندما نخلع خيمتنا الأرضية ونلبس السماويات ونستوطنها!</p>
<p>يا لذلك اليوم السعيد الذى تنفتح فيه عيوننا وآذاننا على الأبدية وننضم لخورس السمائيين، ونتعلم الترنيمة الجديدة: &#8220;ترنيمة موسى عبد الله وترنيمة الخروف&#8221; (رؤ15: ٣).</p>
<p>هناك ستنفك عقدة ألستنا، لنرنم بألحان فائقة الإتقان والتعبير، لأننا نسعي جمال الله الفائق وعياً روحياً، ينضح على قلوبنا فيضاً من تسبيح يدوم إلى الأبد.</p>
<h4>العظة الرابعة: <strong>إحكي يا قيامة</strong><strong>.. </strong>للمتنيح الأنبا كيرلس مطران ميلانو<a href="#_ftn6" name="_ftnref6">[6]</a></h4>
<p>ترى من الذي يخبرني عن القيامة؟!..</p>
<p>قلت: إسأل الذين أقامهم المسيح بسلطان لاهوته؟!..</p>
<p>هل أسأل لعازر؟!.. أم إبنة يايرس..؟!.. أم إبن أرملة نايين؟!..</p>
<p>هم أجابوني.. نحن لم نذق طعم القيامة التي يلبس فيه الأجساد النورانية؟!..</p>
<p>نحن ذقنا طعم ظلال الموت ساعات وأياماً قليلة.. ثم عدنا إلى الأرض مرة أخرى.. لم نذق طعم القيامة؟!..</p>
<p>نصحوني.. إسأل القيامة هي التي تخبرك عنها.. عن ملكها؟!..</p>
<p>فرجعت إلى نفسي متحيراً.. أسأل أين هي القيامة؟!.. وكيف أتلاقى معها وأنا أتمشى على الأرض؟!.. كيف أمسكها.. وأنا مربوط بجسد ترابي؟!.. كيف أسبق أيامي وأدفن جسدي وينحل لأنه ترابي؟!.. وهل أقدر أن ألبس جسداً نورانياً؟!..</p>
<p>تساؤلات عديدة في قلبي؟!.. أفكار كلها أشتياقات نحو حياة أرقى.. وأبقى؟!..</p>
<p>وجدت نفسي كطفل صغير يسأل بلهفة عن ما هو أكبر من الإدراك؟!.. وتذكرت أطفال مدينة أورشليم الذين هتفوا.. خلصنا يا بن داود.. أوصنا في الأعالي ..</p>
<p>قلت: كل الذين قالوا خلصنا يا بن داود.. ارحمنا يا بن الله.. كلهم كانوا أصحاب أمراض ومتاعب جسدية؟!..</p>
<p>لكن هؤلاء الأطفال ترى ما هي متاعبهم؟!.. هم استطاعوا أن يفرحوا قلب المسيح.. لأنهم هتفوا بما هو أكبر من إدراك الكبار؟!.. يريدون الخلاص الدهري؟!.. الخلاص من مسببات المتاعب والآلام التي وردت من الخطية؟!.. يريدون الفرح الذي لا ينطق به؟!..</p>
<p>وقلت أيضاً: الأطفال الذين هتفوا حقاً هم يعاينون الله كل حين.. وعرفوا أنه ليس بأحد غير المسيح يتم الخلاص؟!.. كما هو مكتوب: &#8220;ليس بأحد غيره الخلاص.. لأنه ليس إسم آخر تحت السماء.. قد أعطي بين الناس.. به ينبغي أن نخلص&#8221; (أع٤: ١٢). وإن سكت هؤلاء الأطفال، لنطقت الحجارة.. لأن الطبيعة كلها كانت تئن وتتمخض لأجل الخطية؟!..</p>
<p>أغلقت أبوابي.. وجلست أفكر فيما علمتني إياه الكنيسة عن أفراح القيامة.. فذهبت مسرعاً بأفكاري إلى قبر المسيح.. ورأيت الأكفان.. والقبر الفارغ.. وقلت حقاً بصمت عجيب كانت القيامة.. وخرجت منتصرة وقوية؟!..</p>
<p>من عند المقبرة.. عرفت أن القيامة هي التي تنزع الأنين.. وتمسح كل دمعة.. عرفت هذا.. من كلمة المسيح لمريم التي ذهبت إلى القبر والظلام باق.. كلمة &#8220;لا تبكين&#8221;.</p>
<p>تكلمت للقيامة التي لم يذق طعمها البعض وقلت لها: افتحي بابك.. وابعثي مع شعاعك لكي يضئ على أذهاننا نور القيامة ومجدها .</p>
<p>مدي ذراعك القوية.. وامسكي بنا.. وأهدينا إلى الحياة الأبدية.. بعيداً عن الموت الدهري؟!..</p>
<p>فرحت بالقيامة.. لأنها قريبة جدأ من سكان الأرض.. بل ساكنة في بعض قلوب الأحياء؟!.. هي التي تحركهم.. وترفعہم.. وتنقذهم.. وتخلصهم.. وتسندهم.. وتكرمهم.. عرفت أنها ثبتت لها مقراً للانتظار.. وهو الفردوس للتكريم الأبدي؟!..</p>
<p>فرحت بها.. ولم أتمكن أن أسجل ما أشعر به؟!.. لكن أقول: تعالوا يا جميع الأمم.. تعالوا يا كل القبائل.. انظروا القيامة.. أنظروها وهي متسربلة بثياب البقاء والنقاء.. تطلعوا عليها.. وهي تحمل في يديها الإجابات لتساؤلات البشرية؟!..</p>
<p>أقتربوا إليها.. فهي تفتح أحضانها لمن يسألها؟! هي تطمئن كل القلوب المتحيرة من أمواج الأفكار؟! تعال.. يا من تسأل قلقاً ومتحيراً.. ماذا بعد الموت؟!..</p>
<p>تعال.. يا صاحب القلب المجروح لفراق محبيك.. اقترب من القيامة.. وهي تجيبك وتقول للنفس &#8220;لا تبكين&#8221;.. تعال إليها.. فهي تعرفك بنفسها إنها مفرغة القبور من الموتى، تلقنك الدرس الحقيقي بأن الحياة ليست هنا على الأرض.. لأنها ستنتهي مهما طالت؟!..</p>
<p>تعال إليها.. فتعلمك أن الحياة الحقيقية هي بالقيامة وفي القيامة؟!..</p>
<p>تعال إليها.. وأنت غريب على الأرض.. فتسمعك صوت ملكها القائل: تعالوا إليَّ رثوا الملك المعد لكم .</p>
<p>قائلاً : يا صاحب القلب المجروح.. تعال إليها.. وأسمعها تقول &#8220;أنا التي جعلت للموت شهوة في قلوب ورثة الملكوت؟!.. أنا التي جعلت أغسطينوس يصرخ إلى ملكي: إنني اشتهي الموت لكي أراك.. ولا أريد العيش بعد على الأرض..</p>
<p>تعالوا.. نسمعها وهي تعاتبنا.. وتقول أنتم الذي ترددون في صلواتكم &#8220;وننتظر قيامة الأموات.. وحياة الدهر الآتي..&#8221; ولا تتمسكوا بي في زمان غربتكم؟!..</p>
<p>تعالوا.. نسمعها وهي تقول: أين أنا في أعمالكم على الأرض؟!.. هي التي عمل بها الأبرار والصديقون.. ولباس الصليب..</p>
<p>تعالوا اسمعوها وهي تقول: أنا التي عملت في قلوب الشهداء.. أنا ساكنة في قلب مارجرجس وفي جذب المرأة الزانية التي حاولت أغراءه.. ولم تقدر فقالت له: حاولت جذبك بسحر خلاعتي.. فجذبتني بسحر طهارتك؟!..</p>
<p>يا صاحب الأمراض والمتاعب النفسية مع أطبائكم.. أسمعوها تقول: من يعرفني ويتمسك بي.. لا يعتريه مرض الخوف.. لأن المجد العتيد الذي عندي لا يقاس بكل آلام الزمان التي تسبب الخوف؟!..</p>
<p>تعالوا اقتربوا إلى القيامة.. فهي صديق.. ومعلم صادق في رحلة غربتنا على الأرض.. انظروها وهي تعلمنا بخبرة عميقة.. بأننا أبناؤها.. أبناء البلد الأبدي.. هي تلفت أنتباهنا لكي نعمل كما عمل الملك المسيح ملك القيامة.. وتعطينا شعاره &#8220;مملكتي ليست من هذا العالم&#8221;.. تسقينا لبناً روحياً.. وتطعمنا خبزاً حياً.. يقوي أجسادنا فنلبس درع البر.. وخوذة الخلاص.. وتعلمنا ألا ننظر إلى الأشواك التي في الطريق طالما نحن سائرون وغير متوقفين.. لأنها لابد وأن تكون.. ولابد أن تنتهي.. لأن لكل شيء زمان.</p>
<h4>العظة الخامسة: <strong>تعترفون بقيامتي</strong><strong>.. </strong>للمتنيح الأنبا بيمن اسقف ملوي<a href="#_ftn7" name="_ftnref7">[7]</a></h4>
<p>الإعتراف هو أن تعي الحق ، وتؤمن بما تعيه ، وتشهد لما تؤمن به. ولما كان الرب قد أوصى تلاميذه الأطهار والمؤمنين من بعدهم، أن يبشروا بموته ويعترفوا بقيامته ويعيشوا منتظرين مجيئه الثاني المخوف المملوء مجداً.. فإن هذا يتضمن أن المؤمنين يفهمون جيداً حقيقة الصلب والقيامة والمجيء الثاني.. ويؤمنون بعمق بهذا الحق الإلهي إيمانا إختباريا کيانيا، ويشهدون في كل مكان بما يعيشونه.</p>
<p>فالإعتراف له فعلان:</p>
<ul>
<li>أحدهما باطني يستغرق الحياة الداخلية، ويتناول الفكر والوجدان والمشاعر والأشتياقات والاتجاهات النفسية.</li>
<li>والآخر خارجي يمتد إلى الحياة الاجتماعية والتفاعل مع الآخرين.</li>
</ul>
<p>وفي إختصار، الاعتراف اختباری كیانیاً، وإخباري إشعاعي حياتياً.</p>
<p><strong>أهمية الإعتراف مسيحيا</strong></p>
<p>قد يرى البعض أنه لا داعی لأن يحمل الإيمان الاعتراف الجهري. وينادي هؤلاء، بأن الله يتعامل مع القلوب والنيات ..</p>
<p>ولكن هذا الاتجاه يتضارب مع الحق وتعاليم الكتاب فالرسول بولس يقول في رسالته إلى رومية: &#8220;لأن القلب يؤمن به للبر، والفم يعترف به للخلاص&#8221; (رو ۱۰: ۱۰).</p>
<ul>
<li>وينتقد الكتاب جماعة اليهود الخائفين من رؤساء المجمع، فيقول: &#8220;إن كثيرون كانوا قد آمنوا بالرب يسوع لكنهم لم يتجاسروا أن يعترفوا به، لأن اليهود كانوا قد اتفقوا فيما بينهم أنه لو أعترف واحد أن يسوع هو المسيح يطرد خارج المجمع&#8221; (يو٩: ٢٢) .</li>
<li>ويقول الرب يسوع بفمه الطاهر: &#8220;فكل من يعترف بي قدام الناس أعترف أنا أيضا به قدام أبي الذي في السموات، وكل من ينكرني قدام الناس أنكره أنا أيضا أمام أبي الذي في السموات&#8221; (مت ١٠: ٣٢، ٣٣).</li>
</ul>
<p>فالإعتراف الباطني والعلنی، ضرورة حتمية للتلمذة والبنوة ونوال الحياة الأبدية، وثمة أهمية كبرى لهذا الاعتراف وهو حاجة العالم إلى هذه الشهادة. فالعالم الساقط والتائه، والغارق في بالوعة الخطايا والهموم والإرتباطات الأرضية، يحتاج إلى قلوب مليئة بقوة القيامة، وقلوب تشع فرحاً ونعيماً وسلاماً.. هذه القوة المحولة، هي وحدها التي تضيء ظلمة هذا الدهر، وتملح تربته التي لعنت وصارت تنبت شوكا وحسکاً.</p>
<p><strong>مجالات الاعتراف بالقيامة</strong></p>
<p>لقد كانت الشهادة بقيامة الرب يسوع هي كرازة الكنيسة في العصر الرسولي.. كانت قوتها وفرحها وعزاؤها وكل شيء لها.. فيسجل سفر أعمال الرسل.</p>
<ul>
<li>&#8220;وبقوة عظيمة، كان الرسل يؤدون الشهادة بقيامة الرب يسوع، ونعمة عظيمة كانت على جميعهم&#8221; (أع٤: ٣٣، أع١٧: ١٨).</li>
<li>&#8220;وعندما أراد الرسل إختيار واحد مكان التلميذ الخائن طلبوا من المؤمنين أن يختاروا واحداً شاهداً معهم بقيامة الرب يسوع&#8221; (أع١: ٢٢).</li>
</ul>
<p>وهي الشهادة التي أزعجت الحكام (أع٤: ٢) ولكن الرسل والمؤمنين لم يكفوا عنها، مهما كانت الإضطهادات قائلين: &#8220;ينبغي أن يطاع الله أكثر من الناس&#8221;.</p>
<p>فالكرازة بقيامة الرب يسوع، هي حجر الزاوية في إيمان المسيحيين في هذا يقول الرسول بولس &#8220;وإن لم يكن المسيح قد قام فباطلة كرازتنا وباطل أيضا إيمانكم، وتوجد نحن أيضا شهود زور لله لأننا شهدنا من جهة الله أنه أقام المسيح وهو لم يقمه، إن كان الموتى لا يقومون.. فإن كان لنا في هذه الحياة فقط رجاء في</p>
<p>المسيح، فنحن أشقى جميع الناس&#8221; (١کو١٥).</p>
<p><strong>والكنيسة تشهد للقيامة</strong></p>
<ul>
<li>ففي الليتورجيا (الصلوات الكنسية) تركز الكنيسة على قانون الإيمان، الذي يتلى من الفم والقلب في كل صلواتها.</li>
<li>وهي تعتبر المعمودية شركة مع المسيح في موته وقيامته، إذ يقول الكتاب &#8220;فدفنا معه في المعمودية للموت، حتى كما أقيم المسيح من الأموات بمجد الآب، هكذا نسلك نحن أيضاً في جدة الحياة، لأنه إن كنا قد صرنا متحدين معه بشبه موته نصير أيضاً بقيامته إن كنا قد متنا معه، نؤمن أننا سنحيا أيضاً معه&#8221; (رو٦: ٥).</li>
<li>وفي سر الإفخارستيا، تؤكد الكنيسة حقيقة موت المسيح وقيامته إذ يقول الكاهن على فم الرب يسوع [في كل مرة تأكلون من هذا الخبز، وتشربون من هذه الكأس تبشرون بموتي، وتعترفون بقيامتي، وتذكرونني إلى أن أجيء]</li>
<li>في الكنونيا (الشركة): تشهد الكنيسة بقيامة الرب يسوع، لأن أعضاءه ليسوا جسديين، وإنما هم جماعة المفدين، الذين حسبوا أنفسهم أمواتاً عن الخطية، ولكن أحياء لله بالمسيح يسوع ربنا، ويعطون البرهان على أن الذي غلب، وترك القبر فارغاً، لا يزال يغلب في كنيسته الحية المقدسة من جيل إلى جيل والي دهر الدهور.</li>
<li>وفي الدياكونيا (الخدمة): تعترف الكنيسة بقيامة الرب يسوع لأنها تخدم أنجيل الخلاص، الإنجيل الذي سلم للقديسين مرة، إن يسوع قام، وانه حي إلى أبد الآبدين. وتمارس هذا الاعتراف عملياً، في الثقة بحضوره في كل خدماتها، وفي الإعتماد الكلي على ذراعه الرفيعة وعدم اتكالها على الذراع البشري.</li>
</ul>
<p>وإذا كانت الكنيسة كجماعة متحدة تعترف بقيامة الرب في كل وظائفها، فإن كل مؤمن وعضو في الجسد، له إعترافه وشهادته الخاصة بقيامة الرب يسوع من بين الأموات.</p>
<ul>
<li>ذلك عندما يرتفع باهتمامه الى فوق &#8220;إن كنتم قد قمتم مع المسيح، فإطلبوا ما هو فوق، حيث المسيح جالس عن يمين الله&#8221; (کو٣: ١).</li>
<li>وعندما يحيا في النور، بروح القداسة وإماتة شهوات الجسد، &#8220;إذن لا تملكن الخطية في جسدكم المائت، لکی تطيعوها في شهواته ولا تقدموا أعضاءكم آلات إثم للخطية، بل قدموا ذواتكم لله كأحياء من الأموات&#8221; (رو٦: 12، 13).</li>
<li>وعندما يحيا في الفرح ولا تطغى عليه هموم الحياة وأحزانها إذ لا يستطيع أن يفرح مع المسيح من دفن نفسه في قبر الخطية حتى مات، أو من دفن نفسه في الحزن المرير. أما من يحيا مع المخلص، فإن حزنه يتحول إلى فرح، ويدوم فرحه ولا ينزع منه، لانه فرح لا ينطق به ومجید.</li>
<li>وعندما يحيا لا لنفسه بل للذي مات لأجله وقام .</li>
</ul>
<p>&#8220;وهو مات لأجل الجميع، کي يعيش الأحياء فيما بعد لا لأنفسهم، بل للذي مات لاجلهم وقام (2کو٥: ١٥)،</p>
<p>&#8220;إن عشنا فللرب نعيش، وإن متنا فللرب نموت، إن عشنا وإن متنا فللرب نحن&#8221; (رو١٤: 8).</p>
<p><strong>يا كل الصفوف السمائيين، رتلوا لإلهنا بنغمات التسبيح وإبتهجوا</strong> <strong>معنا اليوم فرحين بقيامة السيد المسيح</strong><strong> .</strong></p>
<p><strong>هللويا، هللويا، قام حقاً قام.</strong></p>
<hr />
<h3>المراجع</h3>
<p><a href="#_ftnref1" name="_ftn1">[1]</a>  كتاب تجسد الكلمة - الفصل الثلاثون صفحة 84 – اصدار مؤسسة القديس انطونيوس – المركز الارثوذكسي للدراسات الابائية.</p>
<p><a href="#_ftnref2" name="_ftn2">[2]</a>  مجلة مدارس الاحد عدد مايو لسنة 70.</p>
<p><a href="#_ftnref3" name="_ftn3">[3]</a>  مجلة مدارس الاحد عدد مايو لسنة 64.</p>
<p><a href="#_ftnref4" name="_ftn4">[4]</a>  كتاب تأملات في القيامة – لقداسة البابا شنودة الثالث.</p>
<p><a href="#_ftnref5" name="_ftn5">[5]</a>  كتاب اين شوكتك يا موت .. اين غلبتك يا هاوية صفحة 11 – الاب متي المسكين.</p>
<p><a href="#_ftnref6" name="_ftn6">[6]</a>  كتاب شفتاك يا عروس تقطران شهداً - الجزء الثالث ص ٩١-٩٣ - دير الأنبا شنودة رئيس المتوحدين العامر بميلانو.</p>
<p><a href="#_ftnref7" name="_ftn7">[7]</a>  كتاب دراسات وتاملات في الاعياد الكبري - الجزء الثاني صفحة 5 – الانبا بيمن اسقف ملوي وانصنا والاشمونين.</p>

      {% endcreateArticleAccordions %}
    </section>
  {% endblock %}
