---
layout: 'layouts/reading.html'
title: 'يوم الأربعاء من الأسبوع الأول للخماسين المُقَدَّسَة'
tags: 'pentecost'
permalink: /articles/pentecost/1-3.html
---
  {% block content %}
    <section id="readings">
      <ul>
      {% if 'undefined' != 'undefined' %}
      
      {% else %}
      {% if '19.30:5-7' != 'null' %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">العشية</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeVespers '19.30:5-7' '40.9:15-17' %}
          </div>
        </div>
      </li>
      {% endif %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">باكر</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeMatins '19.105:43,45' '43.1:9-15' '' %}
          </div>
        </div>
      </li>
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <h3 class="flex items-center justify-between">
            <span class="kufi">القداس</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </h3>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeLitugy '46.15:50-58' '60.1:10-21' '44.4:1-13' '19.106:1-2' '43.2:12-25' %}
          </div>
        </div>
      </li>

      {% endif %}
        </ul>
    </section>
    <section id="article">
      <h3 class="mt-8 mb-4 heading-explain">شرح القراءات</h3>
      {% createArticleAccordions %}
        <h3>القيامة والطبيعة الجديدة</h3>
<p>تتكلم قراءات اليوم عن <strong>&#8220;القيامة والطبيعة الجديدة</strong><strong>&#8220;..</strong></p>
<p></p>
<h4>مزمور عشية:</h4>
<p>فيبدأ مزمور عشية بالكلام عن ← <strong>التغيير الذي حدث للطبيعة البشرية في المسيح</strong> من البكاء للسرور &#8220;بالعشاء يحل البكاء وبالغداة السرور &#8230;. يا رَبُّ بمشيئتك أعطيت جمالي قوة&#8221; (مز29: 5).</p>
<p></p>
<h4>إنجيل عشية:</h4>
<p>وفي إنجيل عشية عن ← تغيير الثوب والزقاق، وأن <strong>جوهر العبادة هو الطبيعة الجديدة</strong> ورفض أي ممارسة مع بقاء الإنسان العتيق &#8220;ليس أحد يأخذ رقعة جديدة ويجعلها في ثوب بال عتيق&#8230; ولا تجعل خمر جديدة في زقاق عتيق&#8230; لكن تجعل الخمر الجديدة في زقاق جديد فيحفظان بعضهما&#8221; (مت 9: 16 ،17).</p>
<p></p>
<h4>مزمور باكر:</h4>
<p>وفي مزمور باكر عن ← <strong>بهجة الحياة الجديدة</strong> وفرح شعب الله &#8220;أخرج شعبه بالإبتهاج ومختاريه بالفرح&#8221; (مز104: 25).</p>
<p></p>
<h4>انجيل باكر:</h4>
<p>وفي انجيل باكر عن ← <strong>أبناء الله المولودين من الله</strong> وليس حسب الجسد والدم &#8220;أما الذين قبلوه فأعطاهم سلطاناً أن يصيروا أبناء الله الذين يؤمنون بإسمه الذين ليسوا هم من دم ولا هم من مشيئة جسد ولا هم من مشيئة رجل ولكن من الله ولدوا&#8221; (يو1: 12 - 14) .</p>
<p></p>
<h4>البولس:</h4>
<p>وفي البولس عن ← أن <strong>الطبيعة الجديدة هي المدخل الوحيد لنوال الإنسان جسد القيامة</strong> ليبتلع الموت إلى الأبد &#8220;لأنَّهُ سيبوق البوق فيقوم الموتى عديمي فساد &#8230;. فإذا تسربل هذا المائت عدم الموت فحينئذ يصير القول المكتوب &#8220;ابتُلِعَ الموت بالغلبة&#8221; أين شوكتك أيها الموت أين غلبتك يا هاوية.&#8221; (1كو 15: 52- 55).</p>
<p></p>
<h4>الكاثوليكون:</h4>
<p>وفي الكاثوليكون عن ← <strong>حياة أولاد الله كقديسين متمثلين بالرب القدوس</strong> عالمين قيمة الدم الثمين &#8220;كأولاد الطاعة لا تتشكلوا بالشهوات التي تصرفتم فيها قديماً بغباوتكم، بل كما أن الذي دعاكم قدوس كونوا أنتم قديسين في جميع تصرفاتكم لأنه قد كُتب كونوا قديسين فإنني أنا قدوس&#8221; (1بط 1: 14- 16).</p>
<p></p>
<h4>الابركسيس:</h4>
<p>وفي الابركسيس عن ← <strong>إرتكاز هبة وعطية الحياة الجديدة على المسيح وحده حجر الزاوية</strong>، وكيف لا تعتمد الحياة الجديدة وهباتها على الامكانيات الشخصية، فمن كانوا مع يسوع لا يعرفان الكتابة وعاميان &#8220;هذا هو الحجر الذي رذلتموه أنتم أيها البناءون &#8230;. فلما أبصروا مجاهرة بطرس ويوحنا وتيقنوا أنهما رجلان لا يعرفان الكتابة وأنهما أُميان تعجبوا وعرفوهما أنهما كانا مع يسوع.&#8221; (اع  4 : 11 - 13).</p>
<p></p>
<h4>مزمور القداس:</h4>
<p>وفي مزمور القداس عن ← <strong>ثمار الطبيعة الجديدة</strong> التسبيح الدائم للرب الصالح &#8220;اعترفوا للرب فإنه صالح وأن إلى الأبد رحمته &#8230;. يجعل جميع تسابيحه مسموعة&#8221; (مز105: 1).</p>
<p></p>
<h4>إنجيل القدَّاس:</h4>
<p>وفي إنجيل القدَّاس عن ← <strong>قيامة المسيح كمصدر للحياة الجديدة</strong>، وهي أعظم آية في العهد الجديد لأنها ليست آية للإبهار بل لتغيير الحياة، كما يوضِّح الإنجيل أن<strong> قيامة المسيح له المجد وتجديد طبيعة الإنسان هي معجزة المسيحية</strong>.</p>
<p></p>
<h3>ملخص الشرح</h3>
<ul>
<li>إنسكاب الفرح على البشرية بعد ظلام الحزن من فيض صلاح الله ومراحمه الأبدية (مزمور عشية وباكر والقداس).</li>
<li>الثوب الجديد والخمر الجديدة إعلان عن الطبيعة الجديدة التي ترفض رقعة الإنسان العتيق (إنجيل عشية).</li>
<li>الطبيعة الجديدة هي عطية إلهية لكل من يؤمن (إنجيل باكر).</li>
<li>قيامة المسيح أعطت للإنسان قيامة عدم الفساد (البولس).</li>
<li>حياة القداسة إعلان عن الطبيعة الجديدة (الكاثوليكون).</li>
<li>عطية الطبيعة الجديدة تأتي من المسيح حجر الزاوية لمن يراهم العالم ضعفاء وجهلاء (الإبركسيس).</li>
<li>آية ومعجزة المسيحية هي الطبيعة الجديدة بقيامة الرب من الأموات (إنجيل القداس).</li>
</ul>
<p></p>
<h3>عظات آبائية للاربعاء الأول للخمسين يوم المقدسة</h3>
<h4>العظة الأولى: شرح انجيل القداس.. القديس كيرلس الاسكندري<a href="#_ftn1" name="_ftnref1">[1]</a></h4>
<p><strong>(يو١٤:٢)</strong><strong> &#8220;وَوَجَدَ فِي الْهَيْكَلِ الَّذِينَ كَانُوا يَبِيعُونَ بَقَرًا وَغَنَمًا وَحَمَامًا، وَالصَّيَارِفَ جُلُوسًا&#8221;:</strong></p>
<p>يحتقر اليهود الناموس، ولا يقيمون وزنا لما جاء في كتابات موسى بل يهتمون فقط بمحبة الربح. ومع أن الناموس أوصى أن الذين يدخلون الهيكل يجب أن يطهروا أنفسهم بكل وسيلة ممكنة، ولكن الذين كان لهم السلطان لم يمنعوا الصيارفة الذين كانوا يكسبون النقود بتغيير العملة )الرومانية إلى عملة الهيكل( والفوائد المالية مع كل أصناف التجارة، لم يمنعوا كل هؤلاء من تدنيس الهيكل المقدس، لم يمنعوهم من دخوله، كما لو كانوا بأقدام غير مغسولة، نعم بل بالحري هم أنفسهم تعودوا أن يأمروا بهذا، حتى أن الله يقول حقاً عنهم: &#8220;رعاة كثيرون أفسدوا كرمي. داسوا نصيبي. جعلوا نصيبي المشتهى برية خربة، جعلو خراباً&#8221; (إر۱۰:۱۲، ۱۱). لأنه حقا قد فسد كرم الرب، إذ قد تعلموا أن يدوسوا على العبادة الإلهية نفسها، وعن طريق الحب الدنيء للربح عند أولئك الذين أقيموا عليه فإنه (الكرم) تُرك عاريا لكل جهالة.</p>
<p>أنظروا أيضاً فإن كل نظام التدبير الذي من أجلنا، موضحاً في أمرين: لأن المسيح يشترك في العرس مع أهل قانا، وأنا أعني أهل الجليل وهؤلاء الذين دعوه أكرموه جعلهم مشتركين في مائدته، وهو يساعدهم بالمعجزات ويملأ ما كان ناقصاً عندهم لأجل فرحهم (وأي شيء صالح هو لا يعطيه بسخاء مجاناً؟) معلماً إيانا كما في رمز أنه سيقبل سكان الجليل أي الأمم، الذي دعوا بواسطة الإيمان الذي فيهم، وهو سيأتي بهم إلى الحجال السماوي أي إلى كنيسة الأبكار، ويجعلهم يجلسون مع القديسين (لأن التلاميذ جلسوا مع المحتفلين بالعرس)، وسوف يجعلهم يشتركون في الوليمة الإلهية الروحية، كما قال هو نفسه &#8220;إن كثيرين سيأتون من المشارق والمغارب ويتكئون مع إبراهيم واسحق ويعقوب في ملكوت السموات&#8221; (انظر مت۱۱:۸)، ولن هناك شيء ناقص لفرحهم. لأن فرحاً أبدياً سيكون على رؤوسهم (انظر إش١٠:٣٥). أما اليهود العاصون فسيطردهم من الأماكن المقدسة، ويجعلهم خارج حظيرة القديسين المقدسة، بل وحتى حينما يقدمون ذبائح فهو لن يقبلها، بل بالحري سيخضهم للعقاب والسوط، &#8220;ممسكين بحبال خطاياهم&#8221; (انظر أم٢٢:٥). فاسمعه يقول: &#8220;ارفعوا هذه من ههنا&#8221;، لكي تفهم أيضاً تلك الأشياء التي قالها قديماً بفم إشعياء النبي &#8220;اتخمت من محرقات كباش وشحم مسمنات وبدم عجول وخرفان وتيوس ما أسر. حينما تأتون لتظهروا أمامي من طلب هذا من أيديكم أن تدوسوا دياري؟ لا تعودوا تأتون بتقدمة دقيق فهي باطلة. البخور هو مكرهة لي. رأس الشهر والسبت ونداء المحفل. لست أطيق الإثم والاعتكاف. رؤوس شهوركم وأعيادكم بغضتها نفسي صارت علي ثقلاً. مللت حملها&#8221; (إش١١:١-١٤) هذا يشير إليه بوضوح جداً بالرمز صانعاً لهم سوطاً من حبال. لأن السياط هي علامة العقاب.</p>
<p><strong>(يو</strong><strong>۱۵:۲)</strong><strong>: &#8221; </strong><strong>فصنع سوطا من حبال وطرد الجميع من الهيكل&#8221;:</strong></p>
<p>معقول جداً أن يكون المخلص ساخطاً على حماقة اليهود. لأنه ليس من اللائق أن يكون الهيكل الإلهي بيت تجارة، بل أن يكون بيت صلاة. فهكذا هو مكتوب (انظر مت۱۳:۲۱). ولكنه يظهر مشاعره ليس بمجرد الكلمات بل بالحبال وبالسوط يطردهم من المواضع المقدسة، وبالعدل يطبق عليهم العقوبة المناسبة للعبيد، لأنهم لا يقبلون الابن الذي يُصيِّر الإنسان حراً بالإيمان. وذلك الذي قيل بواسطة بولس &#8220;إن كان أحد يفسد هيكل الله فسيفسده الله&#8221; (١كو٣: ١٧). تراه يتحقق أمامنا كما لو أننا ننظر في صورة.</p>
<p><strong>(يو٢: ١٦)</strong><strong> &#8220;&#8230; إرفعوا هذه من ههنا. لا تجعلوا بيت أبي بيت تجارة</strong><strong>&#8220;:</strong></p>
<p>هو يأمر كرب، وكمعلم يقود بيده إلى ما هو مناسب، ويضع أمامهم مع العقوبة، إعلان خطاياهم، لكي يخجلهم من خطاياهم فلا تكون لهم فرصة أن يغضبوا من التوبيخ، ولكن ينبغي أن نلاحظ أنه أيضا يدعو الله أباه بصفة خاصة لكونه هو وحده منه بالطبيعة، إذ هو المولود منه حقاً، لأنه إن لم يكن هو كذلك، أي لو كان الكلمة هو ابن معنا - كواحد منا  أي بالتبني وبمشيئة الآب فقط، فلماذا يأخذ هو وحده لنفسه الفخر العام للكل وأمام الكل أيضاً، قائلاً، &#8220;لا تجعلوا بيت أبي&#8221; ولم يقل &#8220;بيت أبينا&#8221;. لأني أفترض أن هذا القول سيكون أكثر مناسبة أن يقوله، لو أنه كان هو أيضاً واحد من أولئك الذين ليسوا أبناء بالطبيعة. ولكن حيث ان الكلمة يعرف أنه ليس في عداد أولئك الذين هم أبناء بالنعمة، بل هو من جوهر الله الآب، لذلك فهو يفصل نفسه عن الباقين ويدعو الله أباه. لأنه يليق بأولئك الذين يدعون إلى البنوة ويحصلون على الكرامة من الخارج، أنهم حينما يصلون أن ينادوا &#8220;أبانا الذي في السموات&#8221; أما الابن الوحيد إذ هو وحده إله من إله يليق به أن يدعو الله أباه بندائه الخاص.</p>
<p><strong>(يو</strong><strong>۱۷:۲) </strong><strong>&#8220;</strong><strong>فتذكر تلاميذه أنه مكتوب: غيرة بيتك أكلتني&#8221;:</strong></p>
<p>إن التلاميذ حصلوا على كمال المعرفة في وقت قصير، وإذ قارنوا الأحداث بما هو مكتوب، فقد أظهروا تقدما، عظيما نحو الأفضل.</p>
<p><strong>(يو١٨:٢)</strong><strong> &#8220;فسأله اليهود: آية آية ترينا حتى تفعل هذا؟</strong> <strong>&#8220;:</strong></p>
<p>أندهش جموع اليهود من السلطان غير المألوف، أما المسئولون عن الهيكل فقد أغتاظوا لأنهم حرموا من الأرباح التي كانوا يكسبونها فهم لم يستطيعوا أن يوبخوه أنه لم يتكلم بما يليق في أمره لهم أن لا يجعلوا الهيكل الإلهي بيت تجارة. ولكنهم يخترعون طرقاً لتأخير هروب التجار، ملتمسين العذر لأنفسهم بأنهم لا يجب أن يخضعوا له فوراً، أو بدون بحث، لكي يقبلوه كابن الله بدون أن يريهم آية.</p>
<p><strong>(يو٢: ١٩)</strong><strong> &#8220;أنقضوا هذا الهيكل&#8221;:</strong></p>
<p>الذين يطلبون أشياء صالحة بقصد صالح، فإن الله لا يتأخر بالمرة في منحها لهم، أما الذين يأتون إليه لكي يجربوه، فهو لا يرفض طلبهم فقط الذين يسألونه، ولكنه يتهمهم بالشر. لذلك فحينما طلب الفريسيون  كما يروي الإنجيل  في أجزاء أخرى أن يريهم آية، فإنه وبخهم قائلاً: &#8220;جيل شرير وفاسق يطلب آية ولا تعطى له آية إلا آية يونان النبي، لأنه كما كان يونان في بطن الحوت ثلاثة أيام وثلاث ليال هكذا يكون ابن الإنسان في قلب الأرض ثلاثة أيام وثلاث ليال&#8221; (مت٤٠،٣٩:١٢). فما قاله لأولئك قاله لهؤلاء مع تغيير بسيط، والذين كانوا في مثل هذا التفكير نحوه، لا تعطى لهم هذه الآية، فهؤلاء مثل أولئك كانوا يسألون لكي يجربوه. ولكن هناك احتياج تام لهذه الآية لأجل خلاصنا كلنا.</p>
<p>ولكننا يجب أن نعرف أنهم جعلوا هذه الآية حجة لاتهامهم له، إذ قالوا أمام بيلاطس البنطي زورا ما لم يكونوا قد سمعوه. لأنهم قالوا: &#8220;هذا قال إني أقدر أن أنقض هيكل الله وفي ثلاثة أيام أبنيه&#8221; (مت٦١:٢٦). وهم الذين تكلم المسيح عنهم في الأنبياء: &#8220;شهود زور يقومون وعما لم أعلم يسألونني&#8221; (مز٣٥: ١١)، وأيضاً: &#8220;لأنه قد قام علي شهود زور ونافث ظلم&#8221; (مز۱۲:۲۷). وهو هنا لا يحثهم على سفك دمه بقوله &#8220;أنقضوا هذا الهيكل&#8221;، ولكن حيث انه عرف أنهم سيفعلون هذا، لذلك فهو يشير بوضوح مؤكداً ما سوف يحدث سريعاً.</p>
<p><strong>(یو٢٠:٢) &#8220;فقال اليهود: في ست وأربعين سنة بني هذا الهيكل أفأنت في ثلاثة أيام تقيمه؟</strong><strong>&#8220;:</strong></p>
<p>إنهم يهزأون بالآية، إذ لم يفهموا عمق السر، بل هم يمسكون بمرض جهلهم كعذر معقول يبررون به عدم طاعتهم له، وإذ ينظرون إلى صعوبة الأمر، فإنهم يسمعونه كما لو كان شخصا يلقي الكلام على عواهنه، وليس كما إلى شخص يعد بما يستطيع أن يحققه، وذلك لكي يصدق ما كتب عنهم: &#8220;لتظلم عيونهم لكي لا يبصروا ولتحن ظهورهم دائماً&#8221; (مز٦٩: ٢٣)، لكي بطريقة منحنية إلى أسفل دائما وبميلهم إلى الأشياء الأرضية وحدها، فإنهم لن يبصروا تعاليم التقوى العالية من جهة المسيح، أي لا يعرفوه كإله محب للإنسان، بل بالحري كمعاقب لهم بالعدل لإرتكابهم تعديات لا تحتمل.</p>
<p>انظروا كيف يشتمونه بغباوة، غير مشفقين على نفوسهم. لأن رينا , يسوع المسيح يدعو الله أباه قائلاً: &#8220;لا تجعلوا بيت أبي بيت تجارة&#8221; لذلك فحينما ينبغي أن يعتبروه ابناً وإلهاً مشرقاً من الله الآب، فإنهم يعتقدون أنه مجرد إنسان وواحد منا. لذلك فهم يواجهونه بالزمن الذي أستغرقه بناء الهيكل قائلين: &#8220;في ست واربعين سنة بني هذا الهيكل، أفأنت في ثلاثة أيام تقيمه؟&#8221;. أيها السكاري بكل حماقة، أحسبه حقاً أن أقول لكم - إن كانت قد زرعت فيكم نفس حكيمة - إن كنتم تؤمنون أن هيكلكم هو بيت الله، فكيف لا تعتبرون الذي يخبركم بدون خوف &#8220;لا تجعلوا بيت أبي بيت تجارة&#8221; أنه هو الله بالطبيعة؟ أخبروني، كيف يحتاج إلى وقت طويل لبناء بيت واحد؟ أو كيف يكون عاجزاً عن إتمام أي شيء مهما كان، وهو الذي - في ستة أيام فقط - كوَّن العالم كله بقوة تفوق التعبير، وقوته كامنة في مشيئته فقط؟ لأن الأشخاص الماهرين في الكتب المقدسة ينبغي أن يعتبروا هذه الأشياء.</p>
<p><strong>(يو</strong><strong>۲۱:۲</strong><strong>، ٢٢)</strong><strong> &#8220;وأما هو فكان يقول عن هيكل جسده. فلما قام من الأموات تذكر تلاميذه أنه قال هذا فآمنوا بالكتاب والكلام الذي قاله يسوع&#8221;:</strong></p>
<p>كلمة الحق مقبولة عند الإنسان الحكيم، ومعرفة النظام تثبت مع الناس ذوي الفهم، وكما أن الختم الذي يطبع صورته بوضوح في شمع لين هكذا أيضاً الكلمة الإلهية تثبت بسهولة في القلوب اللينة، بينما يسمى قاسي القلب أيضاً شريراً. والتلاميذ إذ كان لهم استعداد حسن، فإنهم صاروا حكماء، وهم يلهجون بكلمات الكتاب الإلهي، ويغذون ويشدون أنفسهم نحو معرفة أكثر دقة وهكذا يتقدمون بثبات نحو الإيمان. وحيث إن جسد المسيح يسمى هيكلا أيضاً، فكيف لا يكون الكلمة الوحيد الجنس الذي يسكن فيه هو الله بالطبيعة، لأن الذي ليس هو إلها لا يمكن أن يقال أنه يسكن في هيكل! دعوا أحداً يتقدم ويقول: أي جسد قديس سمي هيكلاً على الإطلاق، ولكني لا أظن أن أحداً يستطيع أن يبين هذا. فأقول إذن، ما سنجده أنه حقيقي إذا فتشنا الكتاب الإلهي بتدقيق، أنه تنسب لأحد القديسين هذه الكرامة بالمرة. وفي الحقيقة فإن المعمدان المبارك، رغم أنه وصل إلى علو كل فضيلة ولم يكن هناك من يفوقه في التقوى، فإن هيرودس بجنونه قطع رأسه، ورغم ذلك لم ينسب له شيء مثل هذا. بل بالعكس فإن الإنجيلي استعمل كلمة أكثر غلاظة ليعبر بها عن جسده، والإنجيلي قال هذا  كما يبدو لي  حسب التدبير، لكي يحفظ الكرامة للمسيح وحده، لأنه يكتب هكذا أن هيرودس &#8220;أرسل وقطع رأس يوحنا في السجن&#8230; وجاء تلاميذه ورفعوا جثته&#8221; (مت14: 10، 12؛ مر٦ :٢٩)، فإن كان جسد يوحنا يدعى جثة، فلمن يكون هيكلاً؟ ولكن بمعنى آخر حقاً، فنحن ندعى هياكل لله، وذلك بسبب سكنى الروح القدس فينا. لأننا ندعي هياكل لله وليس لأنفسنا.</p>
<p>ولكن ربما يسأل أحد: أخبرني إذن، كيف يسمي المخلص نفسه جسده جثة لأنه يقول: &#8220;حيث تكون الجثة هناك تجتمع النسور&#8221; (مت٢٨:٢٤). لهذا نقول، إن المسيح لم يقل هذا عن جسده، بل على سبيل المثل والرمز يشير إلى اجتماع القديسين معه الذي سيحدث في وقت ظهوره الثاني لنا: &#8220;في مجد أبيه مع ملائكته&#8221; (مت٢٧:١٦) لأنه يريد أن يقول: كما أن أسراباً من الطيور آكلات اللحوم تندفع نازلة نحو الجثث المطروحة بأزيز حاد، هكذا أنتم سوف تجتمعون إليَّ أيضاً. وهو ما يعرفنا به بولس قائلاً: &#8220;سيبوق فيقام الأموات عديمي فساد&#8221; (١كو٥٢:١٥)، وفي موضع آخر أيضاً: &#8220;سنخطف جميعاً معهم في السحب لملاقاة الرب في الهواء، وهكذا تكون كل حين مع الرب &#8221; (1تس١٧:٤). لذلك فإن ما يؤخذ على سبيل المثل كصورة، لن يحطم أبدا قوة الحق.</p>
<p><strong>(يو٢٣:٢) </strong><strong>&#8220;ولما كان في أورشليم في عيد الفصح آمن كثيرون باسمه إذ رأوا الآيات التي صنع&#8221;:</strong></p>
<p>المسيح لا يكف أبداً عن أن يخلص ويعين. لأن البعض يقودهم إلى نفسه بكلمات الحكمة، والباقين إذ ينذهلون من القوة الإلهية الصادرة منه، فإنه يأخذهم في شبكة الإيمان بواسطة الأشياء التي يرونه يفعلها ويعترفون أن فاعل هذه الآيات العظيمة هو بالحقيقة الله.</p>
<p><strong>(يو٢٤:٢)</strong><strong> &#8220;لكن يسوع لم ياتمنهم على نفسه&#8221;:</strong></p>
<p>رأي حديثي الإيمان لا يكون عادة راسخاً وثابتاً، وهكذا أيضا هو حال العقل المبني على المعجزات الحاصلة حديثاً، وكيف يمكن لأولئك الذين لا يزال تعليمهم كما لو كان أخضراً (أي غضاً) أن يكونوا متأصلين في التقوى؟. لذلك فالمسبح لم يأتمن حديثي الإيمان على نفسه، مبينا بذلك أن التشبه بالله هو أمر عظيم وجدير بالحب، وأنه ليس معروضا بسهولة أمام من يرغبون أن ينالوه، ولكنه يتحقق بواسطة الغيرة للصلاح مع الاجتهاد والوقت.</p>
<p>من هذا فليتعلم وكلاء أسرار المخلص، أن لا يدخلوا إنساناً فجأة داخل الحجب المقدسة، ولا أن يسمحوا للمبتدئين الذين اعتمدوا قبل الأوان ولم يؤمنوا بالمسيح رب الكل في الوقت المناسب، أن يقربوا من الموائد الإلهية. لأنه لكي يكون لنا مثالاً في هذا أيضا، ولكن يعلمنا من هم الذين من المناسب أن ندخلهم، فإنه يقبل المؤمنين، ولكنه لا يثق فيهم بعد إذ أنه &#8220;لا يأتمنهم على نفسه&#8221;. وذلك لكي يكون واضحا أنه يليق بالمبتدئين أن يصرفوا وقتا غير قليل تحت التعليم، وحتى بالرغم من ذلك - فإنهم نادراً ما يصيرون أناسا مخلصين.</p>
<p><strong>(يو٢٥:٢)</strong><strong> &#8220;لأنه كان يعرف الجميع. ولأنه لم يكن محتاجا أن يشهد أحد عن الإنسان لأنه علم ما كان في الإنسان&#8221;:</strong></p>
<p>هذه الصفة السامية هي صفة إلهية، وهي مثل الصفات الباقية الأخرى التي في المسيح، وهي غير موجودة في أي مخلوق من المخلوقات. لأن المرنم ينسبها لمن هو وحده الله بالحقيقة قائلاً: &#8220;المصور قلوبهم جميعاً المنتبه إلى كل أعمالهم&#8221; (مز١٥:٣٣) ولكن أن كان الله وحده يعرف ما فينا، والمسيح يعرفها أيضاً، فكيف لا يكون هو الله بالطبيعة، الذي يعرف الأسرار، ويعرف &#8220;العمائق والأسرار&#8221; كما هو مكتوب (دانيال۲۲:۲) &#8220;لأن من من الناس يعرف أمور الإنسان إلا روح الإنسان الذي فيه؟&#8221; (١كو١١:٢). ورغم أن لا يوجد أحد من الناس يعرف، فإن الله لن يجهل، لأنه ليس واحد منا نحن الذين يقال عنهم &#8220;من من الناس&#8221; بل إذ هو خارج الجميع، وكل الأشياء هي تحت قدميه، فإنه يعرف، وبولس أيضاً يشهد قائلا &#8220;لأن كلمة الله حية وفعالة وأمضى من كل سيف ذي حدين، وخارقة إلى مفرق النفس والروح والمفاصل والمخاخ، ومميزة أفكار القلب ونياته، وليست خليقة غير ظاهرة قدامه، بل كل شيء عريان ومكشوف لعيني ذلك الذي معه أمرنا&#8221; (عب١٢:٤، ۱۳). فلأنه قد &#8220;غرس الأذن&#8221;، فهو يسمع كل شيء، ولأنه &#8221; صنع العين&#8221; فهو يبصر (انظر مز٩:٩٤). وهو يقول في أيوب: &#8220;من هو هذا الذي يخفي المشورة عني، ويمسك بالكلمات في قلبه، ويظن أنه يخفيها عني؟&#8221; (أيوب٢:٣٨ سبعينية).</p>
<p>وإذن فلكي نعرف أن الابن هو بالطبيعة الله، لذلك فالإنجيلي يقول &#8220;ولأنه لم يكن محتاجاً أن يشهد أحد عن الإنسان لأنه علم ما كان في الإنسان&#8221;.</p>
<p></p>
<h4>العظة الثانية: ميمر للقديس يعقوب السروجي<a href="#_ftn2" name="_ftnref2"><sup>[2]</sup></a></h4>
<p>يا ابن الله إعط كلمتي وجهاً مضيئاً ليظهر حسنها. يدهش بك العقل ويتكلم لك الفم بغير إدراك. لك العظمة ولك التواضع. من أجلنا تشبهت بنا لتكون معنا. يسهل للحب أن يتكلم عليك بإفاضة .</p>
<p>بحب الآب أسلم إبنه ليكون ذبيحاً عوض الخطاة وتطهر به الخليقة كلها.</p>
<p>وحب الابن جذبه إلى الموت والصلب و به قبل أن يحمل آلام العالم كله.</p>
<p>من أجل حبه حضن العمود كمذنب، وقبل البصاق، وضرب الخد من الأثمة.</p>
<p>أظهر الحق للعالم كله.</p>
<p>خلط الجديدة مع العتيقة لتحس الأرض أنه رب الأولين والآخرين.</p>
<p>يليق لك يا ربنا أن تكمل أسفار الأنبياء وتختم بك جميع الأسرار الحقيقية.</p>
<p>يليق لك أن تموت، لأن موتك لخلاص البشرية، وقتلك شهي لأن به تقتل خطية آدم.</p>
<p>حسن لك أن تسير في طريق الآلام لأنك إذا ما تألمت ستأخذ جميع آلام آدم.</p>
<p>قال موسى يليق لك يا ربي أن تحتمل الثلب والهزء والظلم والشتم الذي لابنة العبرانيين، ليس جديداً عليها أن تظلم وتقتل وتبغض وتظلم وتنسى جميع حسناتك.</p>
<p>صهيون تركب الصليب وتسن الرمح وتطعن بالحربة وتضفر الإكليل وتحرف الخل وتخلط المر وتصيغ المسامير و تثقب وتصلب وتقتل.</p>
<p>ليس بالغصب تجذبك لتصلب. انت شئت. أبوك أرسلك. ولهذا أتيت لتحتمل كل هذا.</p>
<p>انزل يا ربي أربط الخطية وحل آدم بصلبوتك. أصعد للصليب. واخز الأراخنة والسلاطين، وافضحهم لأنهم صاروا أرباباً للضلالة .</p>
<p>في نصف النهار لما كان يموت حل ظلام الليل ولما قام في نصف الليل أشرق النهار.</p>
<p>لما خرج من القبر نظر الحراس واضطربوا، ولما انذهلوا بنظره خارجاً من باب القبر تفرسوا في القبر ليروا ختمه ثابت لم يفسد.</p>
<p>خرج بالحق والحجر مختوم بالحق.</p>
<p>تقدم الملاك ودحرج الحجر ليتحقق الحراس من قيامته، ولينظروا أن ليس هو هناك.</p>
<p>لما خرج لم يحتج أن يفتح الباب لأنه سهل له أن يعبر في الطبائع الصماء، وهكذا دخل العلية ولم يحرك أبوابها وهى مغلقة، كما خرج وختم القبر ثابت.</p>
<p>الجبار الذي حسن له أن ينضجع في الهاوية لما قام لم يحتج أن يفتح له آخر، ولا في البتول لما خرج حل البتولية.</p>
<p>لما أتت التلميذات بأطيابهن دعا الملاك وشجع حزنهن. أراهن أين وضع جسد الابن حين قال أن ربنا قام.</p>
<p>الحي ليس هو مع الأموات قد قام.</p>
<p>دخل الملائكة لينظروا القبر المدهش ولم يجسروا أن يدوسوا على سريره. جلس واحد عند الرأس وآخر عند الرجلين وكرموا موضع حلوله ولم يدوسوه.</p>
<p>ها سرير الذي السموات ممتلثة من تمجيده.</p>
<p>شاء أن يكون ضيفاً ويفتقد الأموات ليبهجهم بقيامته.</p>
<p>قامت مريم وتكلم معها الملاك وبشرها بالقيامة بصوت مرتفع. لما تكلم معها الملاك التفتت. لماذا تركت مفاوضة الملاك وقطعت الكلام معه والتفتت كما كتب؟. لعل صوت أرجل الابن سمعت، أو الملاك نظر الابن آتياً فسجد له، والتفتت لتنظر لمن سجد الملاك المتكلم معها؟. نظرت ربنا قائم كجناينى وحسن له أن يتشبه بالبستاني لأنه شاء أن يظهر كبستانى لأن أباه نصب عدن بيديه، وملأها من كل أشجار تفوح أثمارها.</p>
<p>بیده دخل آدم ليكون في الفردوس، ولأنه تجاوز الوصية طرده.</p>
<p>وهو فتح الفردوس قدام اللص الذي اعترف به.</p>
<p>ذاك شجرة الحياة التي في الفردوس في جنينة يوسف أظهر نفسه للطوبانية.</p>
<p>طمروا الثمر الحلو في الأرض ثلاثة أيام، ولما قام، أظهر نفسه أنه لم يفسد.</p>
<p>هو الشجرة، وهو الثمر، وهو الجنايني، هو وضع نفسه بيد أبيه، وهو أخذها من والده.</p>
<p>لم يعط الآب لصفيه أن يرى فساداً في الهاوية.</p>
<p>هرب الحراس، واختزى الصالبون، وفرح الملائكة، وهتف المسبيون، إجتمع التلاميذ، وابتهج الأحباء.</p>
<p>فرحت السموات، وسُرَّت الأرض، وتشرف القبر.</p>
<p>إختنق يهوذا، وخزى حنان، وأحنى رأسه قيافا، وبلعت الأرض الظلام بالاشراق العظيم.</p>
<p>قام ابن الله من القبر بالمجد العظيم واستضاءت المسكونة من قيامته، وانطفأ خبر الموت بكرازة القيامة. قيامة الابن عتقت الشعوب من الضلالة.</p>
<p>مبارك هو المصلوب الذي أعطانا الحياة بصلبوته.</p>
<p>له المجد دائماً، وعلينا رحمته إلى الأبد آمين.</p>
<p></p>
<h3>عظات آباء وخدّام معاصرين</h3>
<h4>العظة الأولى القيامة.. للقديس البابا كيرلس السادس<a href="#_ftn3" name="_ftnref3">[3]</a></h4>
<p><strong>أحبائي:</strong></p>
<p>يسعدني أن أبعث لكم جميعا بتهنئتي القلبية بعيد القيامة المجيد، عيد البذل والفداء، عيد الخلاص والتجديد.</p>
<p>وقبل القيامة كان الصليب. فهما صنوان متلازمان، لا يفارق أحدهما الآخر.</p>
<p>فكما ارتضى رب المجد أن يصلب، وجب أن يقوم من بين الأموات.. لأن الحق لا يغلب .</p>
<p>في الصليب بذل النفس شخصياً، وفي اليوم الثالث قام من بين الأموات حياً.</p>
<p>قبيل الصليب أدى يسوع له المجد شهادة الحياة، وفوق الصليب كانت شهادة الدم.</p>
<p>وفى باكورة القيامة تجلت شهادة القوة، وإلى مدى الأجيال شهادة الروح.</p>
<p>فيسوع كلمة الله الذي ظهر في الجسد، جعل حياته قدوة لكل الذين يتبعونه، ووضع أساسا للروحانية العميقة، للمحبة الوثيقة، وللمعاملة الهادئة، فكانت حياته نوراً ساطعاً يهدي إلى الطريق وإلى الحق وإلى الحياة..</p>
<p>عاش وديعاً ومتواضع القلب. منه نبعت القداسة، ومن قلبه تدفق الحب..</p>
<p>كانت صراحته واضحة، وخدمته ناجحة، وكلماته رابحة.. فاجتذب إليه الناس الذين ارتفعت إلى المجد أفكارهم، وسمت بالنعمة حياتهم، وصلحت أقوالهم، واتسعت آفاقهم.. فلم يعبأوا بالمنظور لأنه وقتي، بل رئوا إلى غير المنظور لأنه أبدي .. واقتدوا بكلماته: &#8220;لهذا قد ولدت أنا، ولهذا قد أتيت إلى العالم لأشهد للحق&#8221; (يو 18: 37).</p>
<p>وفى الصليب كانت شهادة الدم &#8220;ليس لأحد حب أعظم من هذا أن يضع أحد نفسه لأجل أحبائه&#8221; (يو 15: 13).</p>
<p>في احتمال الحبيب للصليب تحريض وترويض.. وفى بذله العجيب تعويض وتفويض..</p>
<p>فالتضحية التي نراها وقد ملكت على الأتقياء حياتهم، إنما هي آتية من ذات الاقتداء برب الفداء..</p>
<p>تحريض على ذات البذل في نبل.. بلا تردد ولا تلكؤ، بلا نكوص ولا تباطؤ.</p>
<p>وسيظل الصليب يدفعنا إلى أن نضع أنفسنا من أجل أحبائنا وأعدائنا.. فنتحمل عنهم و نتحمل منهم، ونتحمل معهم.. ونحن راضون لا نتذمر، مسالمون لا نتغير.. فهلا انطبعت فينا شهادة الدم، فنسير في التضحية قدماً، لا نتعثر ولا تتأخر.</p>
<p>وفى الصليب ترويض.. فالحياة التي رأيناها في الحبيب تمنحنا فرصة التدريب.. كيف نبدأ بإنكار الذات ونتمرس على الوداعة.. نستعين بالانسكاب أمام العرش، فروض الروح والنفس والجسد &#8220;لذلك أنا أيضا أدرب نفسي ليكون لى ضمير بلا عثرة من نحو الله والناس&#8221; (أع 24: 16).</p>
<p>وفي البذل العجيب تعويض وتفويض..</p>
<p>تعويض بالسلام عن الآلام.. تعويض بالانسجام الذي نأخذه من الطبيعة الجديدة التي نحياها في الحبيب.. انسجاماً بين طبيعتين كانتا مختلفتين ثم صارتا واحداً.. فطبيعتنا البشرية ميالة لإشباع الحياة الجسدية، فلما صار المؤمنون شركاء الطبيعة الإلهية سموا في الروحانية، فعلى قدر ما ننأى عن الماديات تتوافر لنا الروحيات، وعلى قدر ما نبذل من ذات إمكانياتنا وأموالنا وأوقاتنا، على قدر ما تتوفر لنا الطمأنينة في حياتنا، والإنتاج في خدماتنا .</p>
<p>وتفويض أن نطلب كل ما نحتاج إليه.. من غذاء للروح، وصفاء للنفس، ونقاء للحياة.. وبهذا نتحصن ما عشنا من أيام و أعوام.</p>
<p>هاتان الشهادتان.. شهادة الحياة، وشهادة الدم في الصليب، تتبعانهما شهادة القوة، وشهادة الروح في القيامة.</p>
<p>ففي القيامة تجلت شهادة القوة.. &#8220;وتعين ابن الله بقوة من جهة روح القداسة بالقيامة من الأموات&#8221; (رو1: 4).</p>
<p>فالموت كما عرفه الناس أقدر من كل قوة في الوجود.. ومن يقهر الموت إلا إله الخلود!.. &#8220;أين غلبتك ياموت، أين شوكتك ياهاوية&#8221; (1كو 15: 55) .</p>
<p>فكما صلب باختياره، قام أيضاً بقوة جلاله، عنواناً لإنتصاره..</p>
<p>فاليهود الحانقون، والرومان المنافقون، بكل ما شحذوا من همم، وجندوا من حرس.. بكل ما تحفظوا على القبر المقدس، وعملوا ما استطاعوا خوفا من خروجه من القبر.. برغم كل ما احتاطوا وتحفظوا، فقد نزل ملاك من السماء ودحرج الحجر، وحدثت زلزلة عظيمة، وقام يسوع من بين الأموات &#8220;خذل الحكام في إسرائيل&#8221; (قض 5: 7). وخارت قوة الرومان.. وتبعثرت جهود رؤساء اليهود.. وفشلت خطط قوادهم..</p>
<p>فالزلزلة التي حدثت كانت رمزاً للهزة العنيفة التي أطاحت بالمتجبرين، وحطمت كبرياء المعاندين.. والحجر الذي تدحرج من على باب القبر كان رمزا لإزالة كل عثرة، وتفتيت كل صخرة تحاول أن تقف في سبيل الأتقياء المؤمنين..</p>
<p>وبذات القوة قام النائمون في الشر، الأموات بالذنوب والخطايا &#8220;تأتي ساعة وهي الآن، حين يسمع الأموات صوت ابن الله، والسامعون يحيون&#8221; (يو5: 25) .</p>
<p>وبذات القوة تقوم أجساد الراقدين القديسين في أواخر الدهور &#8220;فإنه تأتي ساعة فيها يسمع جميع الذين في القبور صوته، فيخرج الذين فعلوا الصالحات إلى قيامة الحياة، والذين فعلوا السيئات إلى قيامة الدينونة&#8221; (يو5: 28، 29).</p>
<p>ومن شهادة القوة إلى شهادة الروح &#8220;تكونون لي شهوداً في أورشليم وفي كل اليهودية والسامرة وإلى أقصى الأرض&#8221; (أع 1: 8).</p>
<p>ففي يوم الخميس من قيامة السيد له المجد &#8220;إمتلأ الجميع من الروح القدس&#8221; (أع 2: 4)، ومن ذلك اليوم فصاعداً، تغير المؤمنون عن شكلهم بتجديد أذهانهم، واختبروا إرادة الله الصالحة المرضية الكاملة..</p>
<p>من ذلك اليوم تبدل العصيان بالطاعة، والطمع بالقناعة، والخوف بالشجاعة، ووقف جماعة الرسل وتلاميذهم من بعدهم يؤدون ذات الشهادة  &#8220;يسوع الناصري.. أخذتموه مسلماً بمشورة الله المحتومة وعلمه السابق، وبأيدي أئمة صلبتموه وقتلتموه الذي أقامه الله ناقضاً أوجاع الموت&#8221; (أع 2: 22، 23).</p>
<p>وفي شهادة الروح جاءت الآيات والعجائب التي أجراها الله على أيدي قديسيه &#8220;آياته ما أعظمها، وعجائبه ما أقواها، ملكوته ملكوت أبدي، وسلطانه إلى دور فدور&#8221; (دا 4: 3)..</p>
<p>في شهادة الروح لمع أفراد من المؤمنين كأنوار تضىء في جيل معوج وشرير.</p>
<p>وفي ذات الشهادة تأسس البيت المسيحي، واتحد الزوجان برباط الروح في سر الزيجة المقدس، فصار الاثنان واحداً..</p>
<p>وبذات الشهادة نشأ الأطفال في الأسرة التقية، وتدرجوا إلى عمق الروحانية فكانوا أساساً للمجتمع السليم.. خلصوا من الرياء والبغضاء، من الحسد والكبرياء، وكانوا أتقياء أنقياء..</p>
<p>وفي شهادة الروح جاءت أسرار الكنيسة أهدافها روحية، ووسائلها روحية.. غايتها دعم المؤمنين على الروحانية، وسبيلها النأي عن النزعات النفسية والنزوات الجسمانية.</p>
<p><strong>أحبائي..</strong></p>
<p>هوذا الصليب والقيامة يرسمان لنا الطريق لنهرب من كل شر وشبه شر..</p>
<p>فلنهرع إلى أوفى رفيق وأصدق صديق، ينبوع البركة وأصل الشركة.. لنقم من غفوتنا ليؤدى كل واحد واجبه نحو اخوته في الانسانية فخدمتنا للناس وخدمتنا للوطن  في إطار الروحانية  هي خدمة لفادينا وتنفيذ لوصاياه، عنوان لوجودنا في الحياة وشهادة لنا أننا بنعمته أولاد الله .</p>
<p>علينا أن نقوم بدور إيجابي في أداء الشهادة.. نشهد بحياتنا لمجد الله، ونشهد بكلمتنا التي تدعم أنفس الآخرين في ملكوت الله، ونشهد بجهودنا التي تنبعث لا تكلفاً ولا ادعاء، لكن عقيدة نابعة من القلب لخدمة خليقة الله.</p>
<p>وفي هذه الجهود نذكر الفقراء والمعوزين والحزانى والبائسين، لنعمل على إغاثتهم ونسارع إلى إعانتهم، &#8220;وطوبى للرحماء لأنهم يرحمون&#8221; (مت 5: 7).</p>
<p><strong>ربنا صاحب العيد المجيد</strong></p>
<p>أذكر العالم المليء بالأحداث الجسام حتى لا ينفجر البركان، بل أن يبلغ إلى السلام..</p>
<p>واذكر أن الذين صلبوك وأنت البرئ، لا يزالون يطاردون أشخاصاً أبرياء مشردين، مشوقين إلى أوطانهم، راغبين في استرداد حقوقهم.. أذكرهم يا رب بالخير، وأعطهم أن يبلغوا إلى السلام يملك على قلوبهم، والأمن يحصنهم ويطمأنهم، ليعودوا من جديد إلى الوطن السعيد.</p>
<p><strong>وليتمجد اسمك العظيم القدوس من الآن والى الأبد آمين.</strong></p>
<h4></h4>
<h4>العظة الثانية: القيامة وحياة البهجة – للمتنيح الأنبا بيمن أسقف ملوي<a href="#_ftn4" name="_ftnref4"><sup>[4]</sup></a></h4>
<p><strong>القيامة والانسان:</strong></p>
<p>إذا كان الإنسان مدعواً کيانياً إلى حياة الفرح والبهجة، وإذا كان الحزن والسأم والملل والقلق والعزلة والفراغ والتمزع الداخلي قد دخل إلى العالم بحسد إبليس والسقوط والمعصية .. فإن قيامة الرب يسوع من بين الأموات أعادت للمؤمنين البهجة والفرح، بعد أن كسر الرب شوكة الموت، وسحق الشيطان ومنح الكنيسة نعمة الخلاص &#8220;رددت نوحي إلى فرح.. حللت مسحي ومنطقتي سروراً&#8221;.</p>
<p>فالإنسان الطبيعي إزاء مرارة الحياة في الأرض الملعونة إما أن يكتئب ويحزن، وإما أن يضحك ويتهكم ويتفكه. والهزل والاستهتار عند الإنسان الطبيعی مرتبط بمحن الحياة. فهو محاولة بشرية لرفع همومها، وتوهم نحو تهوين أعباء الحاضر .</p>
<p>ولكن المسيح إلهنا أعطانا سر البهجة الحقيقة، عندما قال &#8220;ولکني سأراكم أيضاً فتفرح قلوبكم، ولا ينزع أحد فرحكم منکم&#8221; ( یو ١٦: ٢٣).</p>
<p><strong>سر الفرح الفصحي:</strong></p>
<p>الفرح مرتبط بالصليب، بالتجرد وإخلاء المشيئة وطاعة الحق.</p>
<p>والحزن مرتبط بالخطيئة وحب الإقتناء والسلوك حسب الجسد.</p>
<p>كل القديسين الذين ساروا على درب الرب أخلوا ذواتهم، فعاشوا فرحين، وأطاعوا الوصية فباتوا مرنمين مهللين، وإنفتحت السموات لتستقبلهم جوقات الملائكة منتصرين.</p>
<p>تهللي أيتها العذراء مريم أم الفرح، لأن إبيك بالحقيقة يسوع قام، ورتلوا أيها الشباب لصوت الفرح، لأن ملك المجد يسوع المسيح قد قام، أما أنتم يا صفوف السمائيين فلترتلوا لإلهنا بنفحات التسبيح وابتهجوا معنا اليوم فرحين بقيامة السيد المسيح.</p>
<p><strong>قوة البهجة الفصحية</strong><strong> :</strong></p>
<p>إن الفرح الالهي هو القوة المحولة العالم إلى جدة الحياة وأنتظار المجيء الثاني &#8220;فرحين في الرجاء&#8221;.</p>
<p>إن الإنسان الطبيعي يحيا حياة سطحية لا عمق لها، ولكن القيامة تسكب في المؤمن عمقاً وبعداً باطنياً يعطي للحياة معنى ورؤية جديدة، ويشد الإهتمام الى الأمور التي لا ترى لأنها أبدية.</p>
<p>إن العالم الحديث قد وضع الفرح ضمن التهريج والهزل والارتخاء واللامبالاة، وجعل الأعياد لا مضمون لها، ولا علاقة لها بالجدية، مع أنه في العالم القديم وفي أسرائيل لم يكن العيد شيئا عارضا أو أضافياً، بل كان وسيلة لإضفاء المعنى على حياة العالم بغية تحريره من الرتابة والتعاقب الحيواني للعمل والراحة.. أي أن الأعياد لم تكن مجرد فسحة في حياة العمل الشاقة التي لا معنى لها، بل كانت تبريراً لهذا العمل أو بالحري تحولها السري إلى فرح وبالتالي إلى حرية .</p>
<p>لقد أعطت القيامة مضموناً جديداً للأعياد والأفراح. إذ لم تهمل الألم في الحياة، بل صعدته في صليب المسيح، وجعلته قسمة من قسمات التذييح الحبيب. وفي هذا يعزينا بطرس الرسول في قوله &#8220;كما أشتركتم في آلام المسيح، إفرحوا لكي تفرحوا في إستعلان مجده أيضا مبتهجين&#8221; (١بط ١: ١٣).</p>
<p>لا يفرح مع المسيح من دفن نفسه في قبر الخطية حتى مات، أو من دفن نفسه في الحزن المرير، والحزن ناتج عن دوران المرء حول نفسه، لأنه من يحزن لا يرى إلا نفسه، أما من يدور حول الرب فهو يمارس مع الكنيسة بهجتها في دوارنها حول أيقونة القيامة طيلة الخماسين المقدسة &#8220;تملأني يا رب فرحاً مع وجهك، والبهجة في يمينك إلى التمام، مفديو الرب يرجعون ويأتون الى صهيون بترنيم وفرح أبدي على رؤوسهم. ابتهاج وفرح يدركانهم، ويهرب الحزن والتنهد&#8221; (إش ٣٥: ٥) .</p>
<p><strong>القيامة بهجة إفخارستية:</strong></p>
<p>في ليتورجية الأفخارستيا نحن نتذوق أفراح القيامة وبهجتها، كما نمارس فعلا عملية الانفصال الحقيقي عن روح العالم، ونحسب كالقيام في السماء، وننهض كجماعة لتمجيد الله القائم من بين الأموات، إننا بالافخارستيا نلتحف بالحياة الجديدة، وتعكس وجوهنا النور والفرح والسلام الذي لملكوت الله. ونصبح بحق شهوداً للقيامة.</p>
<p>إن سر القربان المقدس يهبنا قوة النصرة على الحياة التي ترتكن إلى لقمة العيش كما نحيا الحياة المعتمدة على خبز الحياة النازل من السماء [لأنك أنت هو حياتنا كلنا.. وقيامتنا كلنا].</p>
<p>والمؤمنون مطالبون بعد أن عاينوا النور الحقيقي. ووهبوا الزاد الإلهي، أن يعيشوا شهوداً لنور القيامة وفرح الروح القدس، وبذلك يصبح زمن العالم زمن الكنيسة وزمن النصرة والفداء والخلاص.</p>
<p>إن فرح الكنيسة الفصحي يساعدنا أن يرى كل واحد فينا الآخر في المسيح، ويهبنا المحبة أن نسعد الآخرين الذين حولنا.</p>
<p>والقيامة تملأنا بروح الفرح والحب، والمحب يصفح ويتنازل وينسی ويتمهل ويترفق .</p>
<p>في فرح القيامة وبهجتها تغسل كل عداوة وخصومة، وفي لهيب قوتها تتبدد الظلمة وتتحد سوياً.. كيف لا نفرح؟ كيف لا نحب؟</p>
<p><strong>يسوع قد قام هللويا، قد قام.</strong></p>
<hr />
<p><a href="#_ftnref1" name="_ftn1">[1]</a>  تفسير انجيل يوحنا للقديس كيرلس الاسكندري - المجلد الاول ص١٧٤: ١٨١ -  ترجمة دكتور نصحي عبد الشهيد.</p>
<p><a href="#_ftnref2" name="_ftn2">[2]</a>  مجلة مدارس الاحد عدد مارس لسنة 69.</p>
<p><a href="#_ftnref3" name="_ftn3">[3]</a>  مجلة مدارس الاحد عدد ابريل لسنة 66.</p>
<p><a href="#_ftnref4" name="_ftn4">[4]</a>  كتاب دراسات وتاملات في الاعياد الكبري  - الجزء الثاني صفحة 10 - الانبا بيمن اسقف ملوي وانصنا والاشمونين.</p>

      {% endcreateArticleAccordions %}
    </section>
  {% endblock %}
  