---
layout: 'layouts/reading.html'
title: 'يوم الخميس من الأسبوع الأول للخماسين المُقَدَّسَة'
permalink: pentecost/1-4.html
---
  {% block content %}
    <section id="readings">
      <ul>
      {% if '19.97:7-9' != 'null' %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">العشية</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeVespers '19.97:7-9' '41.2:3-13' %}
          </div>
        </div>
      </li>
      {% endif %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">باكر</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeMatins '19.106:4-5' '42.9:28-36' '' %}
          </div>
        </div>
      </li>
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <h3 class="flex items-center justify-between">
            <span class="kufi">القداس</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </h3>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeLitugy '49.1:15-2:3' '60.3:8-15' '44.4:13-22' '19.106:48-48' '42.7:11-17' %}
          </div>
        </div>
      </li>
        </ul>
    </section>
    <section id="article">
      <h3 class="mt-8 mb-4 heading-explain">شرح القراءات</h3>
      {% createArticleAccordions firstName, lastName %}
        <h3>قوة ومجد القيامة</h3>
<p>تتكلم القراءات اليوم عن <strong>&#8220;قوة ومجد القيامة&#8221;</strong> وفاعليتها العظيمة، وقوة المسيح القائم من بين الأموات مصدر قيامة البشرية.</p>
<p></p>
<h4>مزمور عشية</h4>
<p>ففي مزمور عشية ← <strong>أظهر الرب بقيامته أنه أعلى من كل الآلهة</strong> &#8220;لأنك أنت هو الرب العلي على كل الأرض ارتفعت جداً فوق جميع الآلهة&#8221; (مز96: 9).</p>
<p></p>
<h4>إنجيل عشية</h4>
<p>وفي إنجيل عشية عن ← <strong>فعل قيامة المسيح في جسد الانسان وفي روحه</strong>، فقد حرر الرب المفلوج من نير الخطايا ومن شلل الخطية، وأعطى قوة وصحة للجسد &#8220;فلما رأى يسوع إيمانهم قال للمخلع يا بني مغفورة لك خطاياك&#8230; أما أنت فأقول لك قم إحمل سريرك واذهب إلى بيتك.&#8221; (مر2: 5، 11).</p>
<p></p>
<h4>مزمور باكر</h4>
<p>وفي مزمور باكر عن ← <strong>تضرع النفس والكنيسة لمصدر قيامتها</strong> لأجل الفرح بالخلاص &#8220;أذكر يا رب بمسرة شعبك وتعاهدنا بخلاصك لننظر في صلاح مختاريك&#8221; (مز105: 3).</p>
<p></p>
<h4>انجيل باكر</h4>
<p>وفي انجيل باكر عن ← <strong>مجد المسيح وقيامته التي ستغير شكل جسد تواضعنا</strong> ليكون على صورة جسد مجده &#8220;وكان فيما هو يصلي تبدل وجهه وابيضت ثيابه لامعة كالبرق وإذ برجلين يخاطبانه وهما موسى وإيليا اللذان تراءيا في مجد&#8221; (لو9: 29- 31).</p>
<p></p>
<h4>البولس</h4>
<p>وفي <strong>البولس</strong> عن ← <strong>قوة مسيح القيامة ومجده في كنيسة العهد الجديد</strong> وفي أعضاء جسده &#8220;وما هو افراط جسامة قوته فينا نحن المؤمنين المختصة بفعل عزة قوته التي فعلها بالمسيح إذ أقامه من بين الأموات وأجلسه على يمينه في السماويات.&#8221; (أف 1: 19، 20).</p>
<p></p>
<h4>الكاثوليكون</h4>
<p>وفي الكاثوليكون عن ← <strong>قوة القيامة عملياً في سلوك أولاد الله</strong> في الصلاح وعدم مقابلة الشر بالشر واحتمال الضيقات واستعداد الشهادة للمسيح &#8220;لا تكافئوا عوض الشر شراً أو عوض السب سباً بل بالعكس باركوا&#8230; فأما خوفهم فلا ترهبوه ولا تضطربوا، أما الرب المسيح فقدسوه في قلوبكم.&#8221; (1بط 3: 9، 14، 15).</p>
<p></p>
<h4>الابركسيس</h4>
<p>وفي الابركسيس عن ← <strong>عطية قوة القيامة للكنيسة</strong> وشفاء مقعد أكثر من أربعين سنة &#8220;لأنهم كلهم مجدوا الله على ما جرى لأن الرجل الذي صارت فيه آية الشفاء هذه كان له أكثر من أربعين سنة&#8221; (أع 4: 21، 22).</p>
<p></p>
<h4>إنجيل القداس</h4>
<p>وفي إنجيل القداس عن ← ابن أرملة نايين كرمز <strong>للبشرية المائتة التي تحنن الرب عليها وحررها من الموت الأبدي والهلاك </strong>.. فلما رآها يسوع تحنن عليها وحررها من الموت الأبدي والهلاك &#8220;فلما رآها يسوع تحنن عليها وقال لها: لا تبكي ودنا ولمس النعش فوقف الحاملون، فقال أيها الشاب لك أنت أقول قم، فجلس الميت وبدأ يتكلم، فسلمه إلى أمه&#8221; (لو7: 13– 15).</p>
<p></p>
<h3>ملخص الشرح</h3>
<ul>
<li>الكنيسة تتضرع للإبن العالي على كل الأرض لتفرح بالخلاص ولتحيا على الدوام حياة التسبيح. (مزمور عشية &#8211; مزمور باكر- مزمور القداس).</li>
<li>قيامة المسيح تعمل في روح الانسان وجسده. (انجيل عشية).</li>
<li>مجد قيامة المسيح سيغير شكل جسد تواضعنا ليكون على صورة جسد مجده. (انجيل باكر).</li>
<li>مجد قيامة المسيح في الكنيسة في العهد الجديد وفي أعضاء جسده. (البولس).</li>
<li>قوة وفعل القيامة في الحياة اليومية في إحتمال الضيقات والإساءات والشهادة للمسيح. (الكاثوليكون).</li>
<li>مجد قيامة المسيح مُعلن في الكنيسة في مواهب الشفاء. (الابركسيس).</li>
<li>تحنن الرب على البشرية المائتة وتحريره لها من الموت الأبدي والهلاك. (إنجيل القداس).</li>
</ul>
<p></p>
<h3>عظات آبائية ليوم الخميس الأول للخمسين يوم المقدسة</h3>
<h4>العظة الأولى: أيها الحياة &#8211; القديس أغسطينوس<a href="#_ftn1" name="_ftnref1">[1]</a></h4>
<p><strong>كم أنا بائس؟!</strong></p>
<p>إلهي.. متى تفارقني هذه الطبيعة الفاسدة، وتعمل قوّتك الكاملة في؟!</p>
<p>إلهي.. لذيذة هي الوحدة والسكون والحق والنقاوة، هذه كلّها التي هي لك!</p>
<p>أمّا أنا فألهو بالضوضاء والصخب والباطل والرذيلة!</p>
<p>أعود فماذا أقول بعد؟! أنت هو الخير الحقيقي، رحوم، قدُّوس، عادل..</p>
<p>أمّا أنا فشرّير، محب لذاتي، خاطئ، ظالم&#8230;!</p>
<p>أنت النور، أمّا أنا فظلمة!</p>
<p>أنت الحياة، أمّا أنا فموت!</p>
<p>أنت الطبيب، أمّا أنا فمريض!</p>
<p>أنت الفرح، أمّا أنا فحزن!</p>
<p>أنت الحق الصادق، أمّا أنا فبطلان حقيقي، مثلي مثل أي إنسان على الأرض!</p>
<p>بأية لغة تريدني أن أحدّثك يا خالقي؟!</p>
<p>أتوسّل إليك أن تتفضّل فتُصغي إليّ.</p>
<p>إنَّني من صنع يديك، وهلاكي أمر مخيف!</p>
<p>إنّي جُبلتك، وها أنا أموت!</p>
<p>إنّي من صُنْع يديك، وها أنا اَنحدر نحو العدم!</p>
<p>إن كان لي وجود، فأنت مُوجدي، &#8220;يداك صنعتاني وأنشأتاني&#8221; (مز ١١٩: ٧٣).</p>
<p>يداك اللتان سُمِّرتا على الصليب، فَلْيُعطياني السلام؛ لأنَّه هل تحتقر عمل يديك؟!</p>
<p>أه! أتطلّع إلى جراحاتك العميقة، فقد نقشتَ اسمي في يديك! ِاقرأْ اسمي وخلّصني!</p>
<p>إن نفسي التي تتأوه قدّامك، هي من عمل يديك. اخلق منّي خليقة جديدة؛ فهذا هو عملك.</p>
<p>لذا فهي لا تكف عن الصراخ إليك قائلة: &#8220;يا أيّها الحياة، أَحْيني من جديد!&#8221;</p>
<p>أنَّها من جبلة يديك، تلتف حولك متوسّلة إليك أن ترد إليها جمالها الأول!</p>
<p>اغفر لي يا إلهي، مادمتَ قد سمحتَ لي بالحديث معك. لأنَّه من هو الإنسان حتى يتكلّم مع الرب خالقه؟!</p>
<p>نعم. سامحني! سامح تجاسري! سامح عبدك الذي تجاسر ليرفع صوته أمام سيده!</p>
<p>إن الضرورة لا تعرف قانونًا! فالألم يدفعني إلى الحديث معك! والكارثة التي َحَلَّت بي تجعلني اَستدعي الطبيب لأنّي مريض! إنَّني أطلب النور لأنّي أعمى! أبحث عن الحياة لأنّي ميّت! ومن هو هذا الطبيب والنور والحياة إلاَّ أنت؟!</p>
<p><strong>يا </strong><a href="https://st-takla.org/Full-Free-Coptic-Books/FreeCopticBooks-002-Holy-Arabic-Bible-Dictionary/28_E/E_133.html"><strong>يسوع الناصري</strong></a><strong> ارحمني!.</strong></p>
<p></p>
<h4>العظة الثانية: القيامة المجيدة.. ميمر للقديس يعقوب السرياني الشهير بالسروجي<a href="#_ftn2" name="_ftnref2"><sup>[2]</sup></a></h4>
<p>كل الخليقة ابتهجت في يومك العظيم،</p>
<p>أعطنى لأتكلم عن قيامتك المجيدة، في العيد المفرح للملائكة والتلاميذ،</p>
<p>فرحنى أيضا بغنى مواهبك لأرتل لك أيها الجبار الذي صعد بالتشريف من داخل القبر،</p>
<p>بك أتكلم على غلبتك الممتلئة دهشاً.</p>
<p>في عيدك العظيم ابتهجت السماء وسرت الأرض، لأن فيه اصطلح العلو والعمق بعد غضب.</p>
<p>هذا هو اليوم الذي تجددت فيه العوالم التي بليت.</p>
<p>هذا هو اليوم الذي فيه بدأت الخليقة تتجدد.</p>
<p>في هذا اليوم برك جرو الأسد على لموت وكسره في وكره وخلص ما نهبه.</p>
<p>في هذا اليوم أشرق النور بين الظلام لأنه قام بالقيامة وأخذ تقدمة العالم الجديد.</p>
<p>اليوم ابتدأت الحياة تدوس الموت.</p>
<p>اليوم هو البكر لأن البكر قام فيه من بين الأموات ليرفع جنس أمه لمكان أبيه.. اختزى الصالبون الذين حرسوا قبره لأن القوي قام ولم تقف قدامه متاريس الهاوية..</p>
<p>اليوم هو حامل كل البشارات الحسنة لأنه عزى التلاميذ المكمورين بالحزن.</p>
<p>في هذا اليوم ترك التلاميذ كمائنهم وأسرعوا باستعجال وببهجة إلى القبر.</p>
<p>اليوم اجتمع الخراف المبددون لأن الراعي قام وهرب الذئاب.</p>
<p>في هذا اليوم عم الحزن بيت قيافا والفرح لزمرة الحواريين المحزونة.</p>
<p>اليوم وضع علامة الحياة في بلد الموت.</p>
<p>في هذا اليوم إرتفع رأس الرسولية لأنهم رأوا العظيم المقتول قد قام كما وعد.</p>
<p>اليوم الكتبة يخجلون لأن الجبار قام وهم ظلموه وزعموا أنه سرق.</p>
<p>في هذا اليوم عم الحزن زمرة حنان، ودخل العزاء لصفوف بيت يوحنا الحبيب.</p>
<p>قيامة الإبن هي الخليفة الجديدة للعالم كله.</p>
<p>بالحقيقة قام القوي وأقام معه المهدومين. نزل القبر وحده وأصعد الكثيرين.</p>
<p>أمس كان الكتبة يستهزئون به  أحيي نفسك، واليوم الملائكة يدحرجون حجر قبره، لأنه تركه وخرج،</p>
<p>أمس الرمح والخل والمر والصلبوت، واليوم التمجيد وتهليل الملائكة مع التسبيح.</p>
<p>أمس وضع نفسه في يدي أبيه، واليوم أخذها بسلطانه كسيد الكل.</p>
<p>قبل يوم واحد ركب على خشبة الصلبوت، واليوم العظمة والجبروت وحياة الموتى.</p>
<p>أمس سمعان جحد أنه لم يعرفه، واليوم أسرع لينظر قبره وقيامته.</p>
<p>أمس الآلام والحزن للتلاميذ، واليوم الفرح والبهجة لهم لأنهم نظروه.</p>
<p>حزن السبت لأن إبن الأحرار بين الأموات، وفي الأحد عظمته صفوف الملائكة.</p>
<p>أمس هربوا وتبددوا واختفوا، واليوم أسرعوا ليجتمعوا ويبشروا.</p>
<p>إختزى الحراس لأنهم حرسوا قبر الأسد، لماذا أعطوا الحراس الفضة ليقولوا أن تلاميذه سرقوه؟!..</p>
<p>ظلموا الإبن في كل طريق فعله، لأنهم ضادوه قبل أن يتألم وبعد أن قام.</p>
<p>قالوا له أحيي نفسك و نؤمن بك، وسمعوا أنه حي وظلموه بالكذب ولم يؤمنوا أنه ابن الله حين قام.</p>
<p>زعموا: إن كنت أنت ابن الله انزل عن الصليب، وهذا أعظم، إنه قام من القبر وبغضوه.</p>
<p>من بغضتهم وضعوا على قبره حجراً عظيماً، وقام الملاك ودحرج الحجر وازدری بهم.</p>
<p>إن للقيامة شهود حقيقيون، ولهم ينبغي أن يتكلموا على قيامته بدهش عظيم.</p>
<p>الرسل الحقيقيون يقصون خبره كما نظروه.</p>
<p>تأتى أصوات ابني الرعد غنية وتعطي الأرض خبر قيامة الإبن.</p>
<p>من يوحنا تسمع البيعة عن قيامته لأنه هو الراعي العظيم الذي جمع خرافه المبددين، يتكلم اليوم ذاك التلميذ الخفيف السعي لأنه نظر قيامته ويخبر بما نظر.</p>
<p>في أحد السبوت جاءت مريم حيث الظلام باق، ونظرت القبر والحجر مدحرجاً، وبابه مفتوحاً.</p>
<p>أسرعت ودخلت إلى يوحنا وسمعان وبشرتهما بما نظرت.</p>
<p>أخذوا سيدى ولا أعلم اين وضعوه!! ليس هو في القبر ولا نعرف من أخذه.</p>
<p>قام القوي من القبر بالقوة العظيمة، وبشرت مريم أن الناس أخذوه كضعيف.</p>
<p>أيتها الطوبانية..</p>
<p>من يستطيع أن يسرق النور أو يستر البحر العظيم ولا ينكشف؟..</p>
<p>من يسرق الشمس في حضنه ولم ينظروه ويحبس بحفنته جميع الإشراقات ولا ينكشف؟..</p>
<p>لا ترهبي أيتها الطوبانية لأن ليس أحد يسرق جبار العالمين.</p>
<p>سمع التلاميذ فخرج سمعان مع يوحنا في طريق القبر، والصبى الشاب سبق الشيخ البهي.</p>
<p>أسرع التلاميذ يطلبون العظيم بين الأموات ولم يحسبوا أنه قام بجبروته.</p>
<p>بلغ يوحنا باب قبر العريس الملك ولم يدخل حتى أتى سمعان الكامل .</p>
<p>إستيقظ رب العريس بالجبروت.</p>
<p>ولما طلبوه لم ينظروه على سريره، نظروا اللفائف بين الأموات، لأنها لم تصلح أن يلبسها بعد القيامة.</p>
<p>هو أولاً لبس المجد من داخل القبر، وترك عنه لباس الأموات وأشكالهم.</p>
<p>لا يقوم أحد في العالم الجديد بلباس. لأن ثم شيء آخر يلبسه المؤهلون له.</p>
<p>ثياب المجد هي محفوظة للقيامة.</p>
<p>لبس الأرض في الأرض يبقى على التراب.</p>
<p>ويلبس الجسد المجد ويقوم من الهلاك.</p>
<p>عظيم هو مجد لبس أهل القيامة.</p>
<p>ليس كتانا وصوفا يلبسون في القيامة.</p>
<p>دخل التلاميذ ونظروا اللفائف موضوعة. لأن الحى تركها وخرج من بين الأموات.</p>
<p>إستيقظ النائم وقام من النوم الذي انمسك به.</p>
<p>نظروا اللفائف وعمامة رأسه ملفوفة وموضوعة ليس مع الثياب بل إلى جانب آخر وبالهدو، حل وجهه الملفوف، وأخذ رداء حجاب حزن الموت ولفه ووضعه على مضجعه للشهادة.</p>
<p>ترك ثيابه لتكون علامة لتلاميذه..</p>
<p>إنه قام من القبر وغلب الموت بالقيامة.</p>
<p>ترك في القبر الضعف الذي دخل معه، ولبس الجبروت من القيامة.</p>
<p>وبقوة عظيمة قام من القبر بغير فساد.</p>
<p>أزال من وجهه البصاق والهزء والرعب وطرح عنه الآلام والهوان وقام الغالب..</p>
<p>إفتقده الآب ولم يتركه ينظر فساداً في مسكن الهاوية..</p>
<p>كشف وجهه لأنهم حجبوه كضعيف..</p>
<p>وداس الموت هناك في مكانه بين الأموات.</p>
<p>نظر التلاميذ أن المقتول ليس هو بين الأموات، وآمنوا أنه قام، وصدقوا مما رأوه.</p>
<p>نظروا القيامة وتحققوا بفعلها.. ولبسوا القوة ليكونوا أفواها للكرازة.</p>
<p>نظروا أنه داس موضع الموت بحياة الموتى، ورجعوا ليكونوا شهوداً على القيامة في العالم كله.</p>
<p>وقبلوا أن يكونوا شفعاء لحقيقة العالم الجديد.</p>
<p>تكلم الخراف مع اخوانهم من أجل الراعي الذي قام بالقوة، ملأ العزاء قلوب التلاميذ وفرحوا لأنهم تحققوا قيامة العظيم المقتول.</p>
<p>وقع صوت خبر الحياة في الرسل، وانطفأ خبر الموت بكرازة القيامة..</p>
<p>قيامة الإبن عتقت الشعوب من الضلالة.</p>
<p>مبارك هو المقتول الذي أعطانا الحياة بصلبوته.</p>
<p><strong>له المجد دائما وعلينا رحمته إلى الأبد ، آمين</strong><strong> . </strong></p>
<p></p>
<h4>العظة الثالثة: ليوم الخميس الأول للخمسين يوم المقدسة</h4>
<p><strong>وصف القديس غريغوريوس النزينزي لأخته القديسة جورجونيا وقت إنتقالها من العالم</strong><a href="#_ftn3" name="_ftnref3"><sup>[3]</sup></a></p>
<ul>
<li>موطن جورجونيا كان أورشليم العليا (عب ١٢: ٢٢، ٢٣).. التي يقطنها المسيح، ويشاركه المجمع وكنيسة الأبكار المكتوبين في السماء..</li>
<li>كل ما استطاعت أن تنتزعه من رئيس هذا العالم أودعته في أماكن أمينة. لم تترك شيئًا وراءها سوى جسدها. لقد فارقت كل شيءٍ من أجل الرجاء العلوي. الثروة الوحيدة التي تركتها لأبنائها هي الاقتداء بمثالها، وأن يتمتعوا بما استحقته.</li>
<li>هنا أتكلم عن موتها وما تميزت به وقتئذٍ لأوفيها حقّها.. اشتاقت كثيرًا لوقت انحلالها، لأنها علمت بمن دعاها وفضّلت أن تكون مع المسيح أكثر من أي شيء آخر على الأرض (في ١: ٢٣).</li>
</ul>
<p>تاقت هذه القديسة إلى التحرر من قيود الجسد والهروب من وحل هذا العالم الذي نعيش فيه. <strong>والأمر الفائق بالأكثر أنها تذوقت جمال حبيبها المسيح إذ كانت دائمة التأمل فيه.</strong></p>
<p>كانت تعلم مسبقًا ساعة رحيلها عن هذا العالم، الأمر الذي ضاعف من فرحتها. ويبدو أن الله أعلمها به حتى تستعد ولا تضطرب حينئذٍ.</p>
<p>قضت كل حياتها لتغتسل من الخطية وتسعى لإدراك الكمال. ونالت موهبة التجديد المستمر بالروح القدس وصارت ثابتة فيه بحسب استحقاق حياتها الأولى..</p>
<p>لم تغفل عن التضرع من أجل زوجها أيضًا حتى يُدرك الكمال، وقد استجاب الله لطلبتها، إذ أرادت أن يكون كل ما يمت لها بصلة في حالة الكمال الذي يريده الله منا، فلا يكون شيء ناقصًا أمام المسيح من جهتها. وإذ جاءت النهاية أدلت بوصيتها لزوجها وأولادها وأصدقائها كما هو المتوقع من مثل هذه القديسة المحبة للجميع.</p>
<p>كان يومها الأخير على الأرض يوم احتفال مهيبًا، ولا نقول أنها ماتت شبعانة من أيام بني البشر، فلم تكن هذه رغبتها، إذ عرفت أنها أيام شريرة تلك التي بحسب الجسد وما هي سوى تراب وسراب. وبالأحرى <strong>كانت شبعانة من أيام الله</strong>.. وهكذا تحررت، بل الأفضل أن نقول أنها أُخذت إلى إلهها أو هربت أو غيرت مسكنها أو أسلمت وديعتها عاجلًا.</p>
<p>في وقت نياحتها خيّم صمت مهيب، وكأن مماتها كان بمثابة مراسم دينية.</p>
<p>رقد جسدها وكأنه في حالة شلل بعد أن فارقته الروح، فصار بلا حراك.</p>
<p>لكن أباها الروحي الذي كان يلاحظها جيدًا أثناء هذا المنظر الرائع شعر بها تتمتم واسترق السمع، وإذ به يسمعها تتلو كلمات المرتل: &#8220;بسلامة اضطجع أيضًا وأنام (مز4: 8) مبارك هو من يرقد وفي فمه هذه الكلمات.</p>
<p><strong>كم ثمين هو نصيبكِ! إنه يفوق ما تراه العين في وسط حشدٍ من الملائكة والقوات السمائية، إنه مملوء بهاءً ونقاوة وكمالًا! </strong></p>
<p><strong>يفوق كل هذا رؤيتها للثالوث القدوس، فلم يعد ذلك بعيدًا عن الإدراك والحس اللذين كانا قبلًا محدودين تحت أسر الجسد. </strong></p>
<p>أرجو أن تقبل روحك هذا المديح مني كما فعلت مع أخي قيصريوس. فقد حرصت على النطق بالمديح لأخوتي.</p>
<p></p>
<h3>عظات آباء وخدّام معاصرين <strong>ليوم الخميس من الأسبوع الأول للخماسين </strong><strong>المُقَدَّسَة</strong></h3>
<h4>العظة الأولى: قوة القيامة.. للمتنيح البابا شنودة الثالث<a href="#_ftn4" name="_ftnref4">[4]</a></h4>
<p><strong>قيامة السيد المسيح قوتها وتأثيرها</strong></p>
<ul>
<li>شتان بين يومين: جمعة الموت.. وأحد القيامة.</li>
</ul>
<p>إنهما يومان. كانا من جهة المشاعر البشرية على طرفي نقيض: يوم الجمعة ١٤ نيسان، ويوم الأحد ١٦ نيسان سنة ٣٤ م.</p>
<p>كان يوم الجمعة كئيبًا بالنسبة إلى كل تلاميذ وأتباع المسيح. بل كان مفاجأة مذهلة ما كانوا يتوقعونها إطلاقًا لمعلمهم العظيم&#8230;!</p>
<p>المؤامرة التي تمت، وسكبت بسرعة عجيبة. والشعب الذي يهتف بغير وعي &#8220;اصلبه. اصلبه&#8221;. والتلميذ الذي خان من أجل ثلاثين من الفضة والإهانات المتلاحقة التي يتعرض لها السيد، من سب واستهزاء وتهكم ولطم وبصاق، مع آلام الشوك والجلد، ثم تسميره على الصليب!!</p>
<p>أحقًا بهذه السرعة قد انتهي كل شيء؟!</p>
<p>وصاحب المعجزات العظيم المعلم الذي بهر الكل بتعليمه، أصبح في نظر الرسمين مضلًا، يصلبونه بين لصين!!</p>
<p>والذين انتفعوا بحبه وإشفاقه ومعجزاته لم يعد لهم وجود على ساحة الواقع. وحتى تلاميذه تفرقوا وهربوا وتركوه وحده! وانطبق عليهم قول الكتاب &#8220;اضرب الراعي فتتبدد خراف الرعية&#8221; (مت ٢٦: ٣١) (زك ٣١: ٧). وإذا ببطرس المتحمس أكثر من الكل ينكره أمام جارية، ويسب ويلعن ويحلف قائلًا: إنه لا يعرف الرجل (مت ٢٧: ٧٤).</p>
<p>أما أعداء المسيح فقد ملكوا الموقف من كل ناحية..</p>
<p>استطاعوا أن يعقدوا مجمع السنهدريم ويأخذوا قرارًا ضده. واستطاعوا أن يهيجوا الشعب ويجعلوه يردد نفس كلامهم! كما أمكنهم أيضًا أن يؤثروا على الوالي، فيصدر حكمه على المسيح، مع أنه لا يجد علة في ذلك البار (يو ٢٣: ١٤).</p>
<p>وهكذا بدا الشر منتصرًا وضاغطًا بكل قسوة وتحقق قول المسيح لهؤلاء القادة:</p>
<p>&#8220;هذه ساعتكم وسلطان الظلام&#8221; (لو ٢٢: ٥٤).</p>
<p>وكل ما أراد الشر أن يفعله، قد فعله.</p>
<p>وأمكنه أن يحقق كل ما يريد وأن يتخلص من المسيح الذي كان محبوبًا من الناس، تتبعه الآلاف، وتبهر من تعليمه، ويضع يده على كل أحد فيشفيه (لو 4: 40).. المسيح الذي أقام الموتى، ومنح البصر للعميان وأخرج الشياطين..!</p>
<p>وحتى بعد أن قتلوه. استصدروا أمرًا من الوالي، بختم القبر، ووضع حجر كبير على بابه، وضبطه بالحراس.</p>
<p>واطمأنوا تمامًا إلى أن المسيح قد انتهى! وانتهى بنهاية سيئة &#8220;وأحصي مع أثمة&#8221; (إش ٥٣: ١٢). وكل الذين تبعوه قد تشتتوا&#8230;!</p>
<p>هكذا كان يوم الجمعة مؤلمًا، ساده الظلم، وانتشرت فيه الخيانة والقسوة وانتصر فيه الحسد والشر.. ووجد تلاميذ المسيح أنفسهم حيارى ضائعين، بل بدا الانتساب إلي اسم المسيح شرًا، وها هو المسيح في القبر، ولا تزال القوة مسيطرة على الموقف كله. ويبدو أنه لا عودة إلى الأيام الحلوة مع المعلم الطيب..</p>
<p>أما الخلاص الذي تم على الصليب فلم يشعر به أحد وكل ما رآه الناس، هو أن المصلوب يبدو ضعيفًا عاجزًا عن إنقاذ نفسه!</p>
<p>لدرجة أنهم كانوا يتحدونه قائلين إن كنت ابن الله، فانزل عن الصليب وكذلك رؤساء الكهنة أيضًا قالوا وهم يستهزئون مع الكتبة والشيوخ: خلص آخرين، وأما نفسه فما يقدر أن يخلصها&#8230;! فلينزل الآن عن الصليب فنؤمن به (مت ٢٧: ٤٠-٤٢). حتى أن أحد اللصين المعلقين معه، قال له: &#8220;إن كنت أنت هو المسيح فخلص نفسك وإيانا&#8221; (لو ٢٣: ٣٩).</p>
<p>هكذا كان يوم الجمعة شماتة وظلمًا وتشتيتًا، ولكن حدث أمر غير الدفة إلى العكس تمامًا. إنه القيامة التي هزت الكيان اليهودي كله، قيادة وشعبًا.</p>
<p>حدثت القيامة في فجر الأحد، على الرغم من وجود الحراس، والحجر الكبير والأختام، والحرص الكبير على ضبط القبر.. ووقف القبر الفارغ شاهدًا ماديًا على القيامة. وكذلك وجود الأكفان مرتبة فيه مع المنديل.. وحاول رؤساء اليهود بكافة الطرق أن يطمسوا حقيقة القيامة فلم يستطيعوا. كان الواقع الملموس ذا تأثير أعمق من كل ادعاءاتهم..</p>
<p>وظهر المسيح حيًا لتلاميذه. ومنحهم هذا الظهور قوة غير عادية للشهادة لقيامته بكل مجاهرة وبلا خوف.</p>
<p>ظهر المسيح بعد قيامته لمريم المجدلية (مر ١٦: ٩) ولسمعان بطرس (١كو ١٥: ٥)، ولتلميذي عمواس (لو ٢٤: ١٢-31) وللتلاميذ العشرة في غياب توما (لو ٢٤: ٣٣-٤٣) وظهر لهم مع توما وأراهم جروحه (يو ٢٠: ٢٦-٢٩) كما أنه ظهر لسبعة من تلاميذه عند بحر طبرية (يو ٢١: ٧-١). وظهر ليعقوب ولأكثر من خمسمائة أخ (١كو ١٥: ٦، ٧). &#8220;أراهم نفسه حيًا ببراهين كثيرة.. وهو يظهر لهم أربعين يومًا ويتكلم عن الأمور المختصة بملكوت الله&#8221; (أع ١: ٣).</p>
<p>وكان معهم وقت صعوده إلى السماء حينما &#8220;ارتفع وهم ينظرون، وأخذته سحابة عن أعينهم&#8221; (أع ١: ٩).</p>
<p>كما ظهر أيضًا لشاول الطرسوسي في طريق دمشق، وتحدث إليه، واختاره رسولًا يحمل اسمه إلى الأمم (أع ٩: ٣-١٥).</p>
<p>كل هذا منح التلاميذ قوة عجيبة وفي ذلك يقول الكتاب &#8220;بقوة عجيبة كان الرسل يؤدون الشهادة بقيامة يسوع، ونعمة عظيمة كانت على جميعهم&#8221; (أع ٤: ٣٣).</p>
<p>فماذا كانت قوة القيامة هذه التي منحتهم القوة؟</p>
<ul>
<li><strong>قوة القيامة</strong></li>
</ul>
<p>قيامة السيد المسيح من الأموات، كانت الحدث الأكبر، الذي هز كيان اليهود فحاولوا أن يقاوموه بكافة الطرق، حتى أنهم قالوا عن القيامة إن هذه الضلالة الأخيرة، ستكون أقوى من الضلالة الأولى، التي هي كرازة المسيح.</p>
<p><strong>فماذا كانت قوة القيامة، وماذا كان مفعولها؟</strong></p>
<ul>
<li>لقد خرج المسيح من القبر وهو مغلق..</li>
</ul>
<p>ولم يكن ذلك غريبًا عليه، أو على القوة المعجزية التي له. فقد خرج أيضًا من بطن القديسة العذراء وبتوليتها مختومة. وكذلك في ظهوراته لتلاميذه بعد القيامة، دخل علي التلاميذ وهم مجتمعون في العلية &#8220;والأبواب مغلقة&#8221; (يو ٢٠: ١٩).</p>
<ul>
<li>ومن قوة القيامة، أن المسيح قام بذاته لم يقمه أحد..</li>
</ul>
<p>كل الذين قاموا من قبل، أقامهم غيرهم: فابن أرملة صرفه صيدا أقامه إيليا النبي (١مل ١٧: ٢٢). وابن الشونمية أقامه أليشع النبي (٢مل: ٣٦). وأما ابنة يايرس وابن أرملة نايين، ولعازر، فهؤلاء أقامهم المسيح. ولكن المسيح نفسه قام بذاته، لأن قوة القيامة كانت فيه، وما كان ممكنًا أن يمسك من الموت، إذ أن فيه كانت الحياة (يو ١: ٤).</p>
<ul>
<li>وقد قام المسيح على الرغم من كل الحراسة المشددة، وضبط القبر، والحراس، والأختام والحجر الكبير الذي على باب القبر..</li>
</ul>
<p>القوة العالمية بذلت كل جهدها، ولكنه كان أقوى منها.</p>
<p>ودلت قيامته على أنه كان أقوى من كل العوائق. كانت قيامته انتصارًا على كل معارضيه ومقاوميه، وانتصار على الموت وعلى الهاوية وعلى القبر وعلي الحجر الكبير وعلى الأختام وعلى الأكفان اللاصقة.</p>
<p>لذلك لما عرفه القديس بولس، قال &#8220;لأعرفه وقوة قيامته&#8221; (في 3: 10).</p>
<p>إنه عرف قوة قيامته، إذ رآه بعد هذه القيامة حينما ظهر له نور عظيم في طريق دمشق (أع 9). لذلك وثق هذا الرسول بقوة قيامة المسيح، أمكنه أن يدخل في شركة آلامه متشبهًا بموته. ونفس هذه القوة في القيامة، اختبرها القديس يوحنا الحبيب بالنسبة إلى المسيح، حينما ظهر له &#8220;ووجهه يضئ كالشمس في قوتها&#8221; (رؤ 1:16).</p>
<p>كانت قوته وهو داخل القبر، أعظم من كل قوة تقف خارج قبره.</p>
<p>لقد ترك القبر في وقت لم يعرفه أحد، في فجر الأحد. وبقى الحجر الكبير في موضعه، إلى أن أتى ملاك ودحرجه لإعلان القيامة التي كانت قد تمت. وبذلك أمكن للنسوة أن يرين القبر فارغًا..</p>
<ul>
<li>مظاهر قوته بعد القيامة:</li>
</ul>
<p>هذه بعض نواحي القوة التي رآها الناس على الأرض، إلى جوار قوة الظهورات المتعددة، وقوة الصعود إلى السماء والجلوس عن يمين الآب. وقوة دخوله إلى العلية والأبواب مغلقة وقوة تحويله للتلاميذ من قوم ضعفاء خائفين إلى أبطال ينشرون الكرازة بكل قوة وبلا مانع..</p>
<p><strong>وكما كانت قيامته قوية، هناك قوة أخرى سبقت قيامته</strong><strong>..</strong></p>
<ul>
<li>قوته ما بين الموت والقيامة:</li>
</ul>
<p>تلك قوته بعد موته، التي استطاع بها أن يفتح أبواب الجحيم، ويخرج الأرواح التي في السجن بعد أن كرز لها بالخلاص (١بط ٣: ١٩) استطاع بهذه القوة أن ينزل إلى أقسام الأرض السفلى، وأن يسبي سبيًا، ويعطي الناس عطايا الفداء، ثم يصعد أيضًا بعد القيامة فوق جميع السموات لكي يملأ الكل (أف ٤: ٨-١٠).</p>
<ul>
<li>أما السيد المسيح فقد دل بقيامته على أنه كان أقوى من الموت، وعلى أن موته لم يكن ضعفًا منه، ولا كان صمته أثناء محاكمته ضعفًا منه..</li>
</ul>
<p>لو كان قد تكلم، لأفحم سامعيه وأقنعهم. ولكن هذا لم يكن هدفه، إنما هدفه كان أن يفدينا. ولذلك عندما طلبوا إليه أن ينزل من على الصليب لم يفعل مع أنه كان يستطيع.. إذ كان هدفه أن يموت عنا ويتألم نيابة عنا، ويدفع ثمن الخطية كفارة لنا وفداء. القيامة دلت على أن صمت المسيح لم يكن ضعفًا..</p>
<p>فقوة القيامة أقوى رد على من يتهمون المسيح بالضعف، أو من يظنون صلب المسيح دليلًا على عجزه!!</p>
<p>بالقيامة، ثبت أن صمت المسيح، كانت له أهدافه السامية.</p>
<p>*  لقد صمت، لأنه كان يريد أن يبذل نفسه عنا.. لو أنه تكلم لأفحم سامعيه وأقنعهم. ولو أنه دافع عن نفسه، لكان سيكسب القضية بلا شك. وكم من مرة رد على رؤساء اليهود وشيوخهم وكهنتهم، فلم يجدوا جوابًا.. بل أنهم شاهدوا قوة كلامه وهو بعد صبي في الثانية عشر من عمره. والشعب الذي سمعه، شهد أنه كان يتكلم بسلطان.</p>
<p>إن صمت المسيح في محاكمته، دليل على أنه مات بإرادته.</p>
<p>ولقد قال عن نفسه، إنه يضعها من ذاته، لا يستطيع أحد أن يأخذها منه. له سلطان أن يضعها، وسلطان أن يأخذها ولقد قدمها ساعة الصلب، وأخذها ساعة القيامة.</p>
<p>لقد أسلم المسيح روحه حبًا وبذلًا، وليس ضعفًا وعجزًا.</p>
<p>وكما قام في قوة. لا ننسى أنه مات في قوة..</p>
<p>لقد صرخ بصوت عظيم عندما أسلم الروح، بينما كان الجسد في عمق الإنهاك، وقد تصفي ماؤه ودمه، وأرهقه الجلد والمشي والضرب والنزيف، والتعليق على الصليب..</p>
<p>وهو قد مات بالجسد.. ولكنه بلاهوته كان حيًا لا يموت.</p>
<p>استطاع في موته أن يبشر الراقدين في الجحيم على رجاء، واستطاع أيضًا أن يفتح الفردوس المغلق، ويدخل فيه اللص مع آدم وبنيه من قديسي العهد القديم.</p>
<p>واستطاع أيضًا أن يقوم، وتسخر قيامته من الحراس ومن الأختام، ومن الحجر الكبير الموضوع على القبر.</p>
<p>لم يحد أن أحدًا -غير المسيح- هزم الموت بسلطانه وحده، وقام بإرادته، وخرج من قبر مغلق، عليه حجر ضخم ويحرسه جنود مسلحون..</p>
<ul>
<li>وقوة قيامة المسيح كانت تحطيمًا لرؤساء كهنة اليهود ولكل الصدوقيين.</li>
</ul>
<p>كان دليلًا على جريمتهم في محاكمته وتقديمه للصلب. وكان دليلًا على كذب كل إدعاءاتهم السابقة. وبالقيامة يصبحون مدانين أمام الشعب.</p>
<p>لذلك لما نادى التلاميذ بالقيامة في كل مناسبة، قال لهم رؤساء الكهنة &#8220;أما أوصيناكم وصية أن لا تعلموا بهذا الاسم. وها أنتم قد ملأتم أورشليم بتعليمكم، وتريدون أن تجلبوا علينا دم هذا الإنسان&#8221; (أع ٥: ٢٨).</p>
<p>وكانت قوة القيامة ترعب رؤساء اليهود. لأنها كانت تدل على بره. فلو كان مدانًا، ما كان ممكنًا له أن يقوم. وكما كانت القيامة دليلًا على بره، كانت في نفس الوقت دليلًا على ظلم هؤلاء الرؤساء، وعلى تلفيقهم للتهم ضده، هؤلاء الذين كانوا فرحوا حينما ظنوا أنهم قد تخلصوا منه وقتلوه.</p>
<p>إن الحديث عن ظهوره بعد قتلهم له، كان يرعبهم..</p>
<p>والرسل القديسون لم يكفوا مطلقًا عن توبيخهم في هذه النقطة بالذات. وهكذا قال لهم القديس بطرس الرسول بعد معجزة شفاء الأعرج &#8220;إله آبائنا مجد فتاه يسوع الذي أسلمتموه أنتم، وأنكرتموه أمام وجه بيلاطس وهو حاكم بإطلاقه! ولكن أنتم أنكرتم القدوس البار، وطلبتم أن يوهب لكم رجل قاتل! ورئيس الحياة قتلتموه، الذي أقامه الله من الأموات، ونحن شهود على ذلك..&#8221; (أ ع ٣: ١٣-١٥).</p>
<ul>
<li>أما الصدوقيون فلا يؤمنون بالقيامة عمومًا. لذلك كانت قيامة المسيح برهانًا عمليًا خطيرًا على مسار عقائدهم وتعليمهم.</li>
</ul>
<p>ولذلك قاوموا القيامة بكل قواهم، وقاوموا التلاميذ في مناداتهم بالقيامة. وهكذا يقول الكتاب &#8220;فقام رئيس الكهنة، وجميع الذين معه الذين هم شيعة الصدوقيين، وامتلأوا غيرة. فألقوا أيديهم على الرسل، ووضعوهم في حبس العامة..&#8221; (أع ٥: ١٧، ١٨).</p>
<p>ولكن قوة القيامة، كانت أقوى من هؤلاء جميعهم ومن مقاوماتهم.</p>
<p>حقًا إن قيامته من الموت كانت أقوى من نزوله عن الصليب، كما أن قيامته كانت دليلًا على أنه مات بإرادته وليس مرغمًا..</p>
<p>وبخاصة لأنه قام بذاته دون أن يقيمه أحد. وخرج من القبر بذاته والقبر مغلق، كما خرج من بطن العذراء وبتوليتها مختومة..</p>
<p>حقًا كما قال عن نفسه إن له سلطان أن يضعها، وله سلطان أن يأخذها (يو ١٠: ١٨).</p>
<ul>
<li>كانت قيامته دليلًا على أنه أقوى من الموت، وبالتالي فهو أيضًا أقوى من كل قوة البشر التي تقتل وتميت..</li>
</ul>
<p>كان أقوى من ظلم الأشرار، ومن كل مؤامرتهم وسلطتهم. عملوا كل ما يستطيعونه، حتى حكموا عليه، وسمروه على الصيب، وتحدوه مستهزئين به وظنوا أنهم قد انتصروا، وبخاصة لأن المسيح ظل طوال فترة محاكمته وتحدياتهم صامتًا.. &#8220;وكشاة تساق إلى الذبح، كنعجة صامته أمام جازيها&#8221;.</p>
<p>قيامته دلت على أن موته كان بذلًا، ولم يكن قهرًا.</p>
<p>وكان الإيمان بقيامته يعني الإيمان بحبه وبذله وفدائه للبشرية. وكان يعني الإيمان بقوته وبكل ما قاله من قبل عن نفسه وعلاقته بالآب.</p>
<p>هذه قوة الذي مات بالجسد، وكان بلاهوته حيًا لا يموت.</p>
<p>إنها قوة ذلك الذي قال ليوحنا في سفر الرؤيا &#8220;أنا الأول والآخر، والحي وكنت ميتًا. وها أنا حي إلى أبد الآبدين آمين. ولي مفاتيح الهاوية والموت&#8221; (رؤ ١: ١٧، ١٨). هذا القوي الذي قام &#8220;ناقضًا أوجاع الموت &#8220;إذ لم يكن ممكنًا أن يمسك منه (أع ٢: ٢٤).</p>
<ul>
<li>وقوة قيامة المسيح التي تمتاز بها عن كل قيامة سابقة. إنها قيامة لا موت بعدها، قيامة دائمة أبدية..</li>
</ul>
<p>فكل الذين أقيموا من الموت، عادوا فماتوا ثانية، ولا يزالون حتى الآن تحت سلطان الموت، ينتظرون القيامة العامة. أما المسيح فقد قام حيًا إلى أبد الآبدين، لا سلطان للموت عليه. وبهذا لقبه الكتاب بأنه &#8220;باكورة الراقدين&#8221; (١كو ١٥: ٢٠)..</p>
<ul>
<li>ومن قوة قيامة المسيح، أنها قيامة ممجدة..</li>
</ul>
<p>لقد قام بجسد ممجد: لا يتعب، ولا يمرض ولا ينحل، ولا يجوع ولا يعطش.. جسد أمكنه أن يخرج من القبر المغلق، وأن يدخل والأبواب مغلقة، كما أمكنه أن يصعد إلى السماء.</p>
<p>ونحن ننتظر في القيامة العامة أن نقوم هكذا أيضًا. وكما قال الرسول &#8220;ننتظر مخلصًا هو الرب يسوع، الذي سيغير شكل جسد تواضعنا، ليكون على صورة جسد مجده..&#8221; (في ٣: ٢١).</p>
<ul>
<li>وكما كانت قيامة المسيح قوية في ذاتها كذلك كانت قوية في تأثيرها على الكنيسة والجميع..</li>
</ul>
<p>استطاعت أن تغير مجرى الأمور تمامًا من كل ناحية: فالتلاميذ الذين كانوا خائفين لا يجرأون على المجاهرة بانتسابهم للمسيح، أخذوا من القيامة قوة عجيبة على الكرازة. وبطرس الذي سبق فأنكر المسيح أمام جارية، استطاع بكل شجاعة أن يقول لرؤساء الكهنة &#8220;ينبغي أن يطاع الله أكثر من الناس&#8221; (أع ٥: ٢٩) &#8220;نحن لا يمكننا أن لا نتكلم بما رأينا وسمعنا&#8221; (أع ٤: ١٩).</p>
<ul>
<li>ولعل القوة التي أخذها التلاميذ من القيامة تتركز في نقطتين:</li>
<li>عرفوا تمامًا أن السيد المسيح أقوى من الموت. لقد انتصر على الموت. وكما نقول في صلوات الكنيسة &#8220;بالموت داس الموت &#8220;أي أنه لما مات، أمكنه أن يدوس هذا الموت حينما قام. ومعرفة التلاميذ بهذه الحقيقة، تثبت إيمانهم، وتذكروا قول الرب &#8220;إني أضع نفسي لآخذها أيضًا. ليس أحد يأخذها مني، بل أضعها أنا من ذاتي. لي سلطان أن أضعها. ولي سلطان أن أخذها أيضًا&#8221; (يو ١: ١٧، ١٨).</li>
<li>وعرفوا أيضًا بقيامة المسيح أنهم سيقومون مثله إن ماتوا. وبهذا ما عادوا يخافون مطلقًا من الموت، إذ تحطمت كل هيبة الموت أمامهم لما داسه المسيح وخرج من القبر حيًا وبكل مجد. وظل عدم الخوف من الموت صفة ملازمة لهم، وضفة ملازمة لكل أعضاء الكنيسة. بل أن بولس الرسول يقول أكثر من هذا &#8220;لي اشتهاء أن أنطلق وأكون مع المسيح فذاك أفصل جدًا&#8221; (في ١: ٢٣).</li>
<li>ومن قوة قيامة المسيح تثبيت الإيمان: أربعين يومًا قضاها المسيح مع تلاميذه يحدثهم عن الأمور المختصة بالملكوت (أع ١: ٣). في هذه الفترة ثبتهم في الإيمان، وشرح لهم جميع التفاصيل الخاصة به. ووضع لهم كل نظم الكنيسة وطقوسها وكل قواعد الإيمان وعقائده. فخرج من الفترة التي قضاها معهم المسيح بعد القيامة، وهم في منتهى القوة الروحية والإيمانية، استطاعوا بها أن يواجهوا العالم كله، ثابتين راسخين.</li>
</ul>
<p>وأصبحوا يتكلمون عن القيامة بخبرة قوية.. كما يقول القديس يوحنا الحبيب &#8220;الذي سمعناه الذي رأيناه بعيوننا، الذي شاهدناه ولمسته أيدينا..&#8221; (١يو ١: ١) فلم تعد القيامة مجرد عقيدة نظرية، بل صارت شيئًا رأوه بأنفسهم وعاينوه. ومنحتهم هذه الخبرة قوة في الإيمان أمكنهم أن ينقلوها إلى العالم بأسره في ثقة وفي يقين.</p>
<ul>
<li>قوة القيامة تظهر في القيامة ذاتها، وفي ملابساتها، وفي نتائجها وما حدث بعدها أيضًا..</li>
</ul>
<p>فهي لم تكن قيامة فردية للسيد المسيح فحسب، إنما كانت قيامة لنا جميعًا كانت عربونًا للقيامة العامة، ولأورشليم السمائية، وللأبدية بكل ما فيها من نعيم حسب الوعود الإلهية..</p>
<p>وكانت قوية في الدلالة على طبيعة المسيح ما هي.. ومن هو هذا الذي يستطيع أن يقوم هكذا. وكانت مقدمة أيضًا لمعجزة الصعود..</p>
<p>وكانت ردًا مفحمًا على الصدوقيين الذين لا يؤمنون بالقيامة، كما لا يؤمنون بالأرواح ولا بالملائكة.</p>
<p></p>
<h4>العظة الثانية: القيامة وحياة الغلبة .. للمتنيح الأنبا بيمن أسقف ملوي<a href="#_ftn5" name="_ftnref5">[5]</a></h4>
<p>تتحدد حياة الغلبة والنصرة في ثلاثة أبعاد، هي حياة الإنسان والعالم كله، بإعتبار القيامة بدء الحياة الجديدة، وأنها النصرة الالهية المعطاة للإنسان من الجلجثة والقبر الفارغ.</p>
<ul>
<li>فالرب الغالب سحق رأس الحية وأبطل عز الموت وكسر شوكتة .</li>
<li>وفي الكنيسة الحاضرة ، في الآن المعاش ، يسوق القائد المظفرمؤمنيه في موكب نصرته ، وأهبا إياهم قوة قيامته وعظم إمتدادها.</li>
<li>وفي الحياة الآتية التي نترجاها بلهفة وشوق نلمس البعد الاسكاتولوجی (الأخروي) الذي يكمل فيها ما تم لأجلنا، ولا يزال يمارس معنا وفينا، لتصبح الأرض كلها للرب ولمسيحه.</li>
<li><strong>يسوع سحق رأس الحية وأبطل الموت</strong><strong> :</strong></li>
</ul>
<p>بعد معصية آدم صار الشيطان رئيس هذا العالم وأضحت له القدرة والسلطان أن يلقي كل روح تنفصل عن جسدها في الهاوية، ولكن الرب يسوع عندما دنت ساعته، تقدم اليه ابليس محاولاً أن يمسك روحه، أما الرب يسوع فقد ربطه وانزله إلى الهاوية، ليأخذ أنفس الراقدين على الإيمان. هكذا کشف الرب ظلم الشيطان. وفضح طغيانه. في هذا يقول بولس الرسول &#8220;جرد الرياسات والسلاطين أشهرهم جهاراً، ظافراً بهم فيه&#8221; (١کو٢: ١٥) لقد تحققت بهذه نبؤات داود النبي اذ يقول :</p>
<ul>
<li>&#8220;قم يا رب خلصني يا إلهي، لأنك ضربت كل من يعاديني باطلاً حطمت أسنان الأشرار&#8221; (مز٣: ٧)</li>
<li>&#8220;الرب قد ملك فلتهلل الأرض، النار تسبق فتسلك أمامه وبلهيب تحرق أعداءه الذين حوله&#8221; (مز٩٧: ٣، ١١) .</li>
<li>&#8220;ليقم الله، وليتبدد جميع أعدائه، وليهرب كل مبغضيه من أمام وجهه، وكما يضمحل الدخان يضمحلون، كما يذوب الشمع من وجه النار كذلك تهلك الخطاه من أمام وجه الله&#8221; (مز٦٨: ۱-۳) .</li>
</ul>
<p>فمن أجل هذه الغلبة التي تمت على قوات الظلمة سجد الروحانيون للرب قائلين &#8220;مستحق هو الخروف المذبوح، أن يأخذ القدرة والغنى والحكمة والقوة، والكرامة والمجد والبركة&#8221; (رؤ٥: ١٢).</p>
<ul>
<li>إن الرب يسوع بقيامته، كسر شوكة الموت التي هي الخطية .</li>
</ul>
<p>وكان الناموس قوة الخطية وكاشفها للإنسان لأن الناموس عرف الإنسان أنه مستحق الموت.</p>
<p>&#8220;ولكنه إذا كان بإنسان واحد دخلت الخطية إلى العالم وبالخطية الموت هكذا إجتاز الموت إلى جميع الناس ، إذ اخطأ الجميع.. وكما بخطية واحدة صار الحكم إلى جميع الناس لتبرير الحياة، وكما بمعصية آدم جعل الكثيرون خطاة هكذا بإطاعة المسيح وقيامته سيجعل الكثيرين أبراراً&#8221;.</p>
<ul>
<li>مبارك أيها الرب يسوع يامن قمت غالباً أوجاع الموت كاسراً شوكته.</li>
<li>مبارك الروح القدس روح القوة الذي أقام جسد يسوع من القبر.</li>
<li>مبارك الآب في حبه، إذا عرفنا بسر مشيئته، حسب مسرته التي قصدها في نفسه، لتدبير ملء الأزمنة، ليجمع كل شيء في المسيح ما في السموات وما على الأرض.</li>
</ul>
<p>يحق لنا إذاً أن نهتف مع الرسول بولس &#8220;أين شوكتك يا موت؟ أين غلبتك يا هاوية؟!&#8221; (١كو١٥: ٥٥).</p>
<ul>
<li><strong>يسوع يهبنا قوة قيامته</strong><strong> :</strong></li>
</ul>
<p>إن الآب أعطانا سر الغلبة وقوة النصرة بربنا يسوع، والروح القدس به تحيا نفوسنا، فلا يقوى علينا موت الخطية ولا على كل شعب الله.. فالقيامة أصبحت حاضرة الآن. &#8220;تأتي الساعة وهي الآن حين يسمع الأموات صوت إبن الله والسامعون يحيون&#8221;.</p>
<p>القيامة فعل حاضر مستمر في كنيسة الله.. الكنيسة تعرف أن متاريس الجحيم قد حطمت. وقوة أخرى دخلت العالم وطالبت به لصاحبه الأصيل. هذه المطالبة ليست بالنفوس وحدها ولكن بالحياة في شمولها وفي العالم أجمع .والكنيسة في أسرارها تمارس قوة قيامة الرب..</p>
<ul>
<li>ففي المعمودية يحجد الشيطان، ويعلن هذا السر في شكل موت .لأن الحياة الجديدة انبثقت من القبر الفارغ &#8220;دفنا معا بالمعمودية للموت. حتى كما أقيم المسيح من الأموات بمجد الآب، هكذا نسلك نحن أيضا في جدة الحياة&#8221; (رؤ ٦: ٤) .</li>
<li>وفي سر التوبة، وهو إمتداد للمعمودية، نغلب أحقادنا وشهواتنا، إننا نؤكد حقيقة القيامة كما يقول الرسول &#8220;لا تقدموا اعضاءكم آلات إثم للخطية بل قدموا ذواتكم لله كأحياء من الأموات وأعضاءكم الآت بر لله&#8221; (رو٦: ١٣).</li>
<li><strong>هذه هي القيامة الأولى</strong></li>
</ul>
<p>هذه هی الحياة الجديدة التي من أجلها مات الرب وقام .</p>
<ul>
<li>وفي ليتورجية الإفخارستيا، نمارس فعلاً عملية الانفصال الحقيقي عن العالم ونحسب كالقيام في السماء. إننا نأكل جسداً قائماً من الأموات، ونشرب دماً ذكياً يهبنا القدرة على البذل والشهادة والتقوى وانتظار المجيء الثاني المخوف المملوء مجداً.</li>
</ul>
<p>فالمسيحی مطالب أن يحقق ما يناله من الأسرار في الحياة اليومية ولمعاملاته البشرية لكي تفوح منه رائحة المسيح الذكية. إنه بهذا يعطي برهاناً ودليلاً عملياً مادياً على حقيقة القيامة الفاعلة في العالم . هذه القيامة التي تنقلنا من الظلمة إلى النور، ومن الحزن إلى الرجاء والفرح، ومن السقوط والضعف إلى النصرة والحياة والغلبة.</p>
<ul>
<li><strong>البعد الأخروي للنصرة</strong> :</li>
</ul>
<p>وإن كان المسيح يملك على الكنيسة كمجال للنصرة والقيامة. إلا أن العالم لا يزال فيه الكثيرون الذين لا يخضعون لملكوت الله&#8221; ذلك لأن سر الإثم الآن يعمل فقط إلى أن يرفع من الوسط الذي يحجز الآن، وحين يستعلى الأثيم سوف يبيده الرب بنفخة فمه ويبطله بظهور مجيئه&#8221; (١تس٢: ٧). هذه هي معاناة الكنيسة ولكننا إن كنا نؤمن أن يسوع مات وقام، فالراقدون بیسوع سیحضرهم أيضا معه.. والرب نفسه بهتاف بصوت رئيس ملائكة وبوق الله سوف ينزل من السماء &#8220;والأموات في المسيح سيقومون أولاً، ثم نحن الأحياء الباقون سنخطف جميعاً معهم في السحب لملاقاة الرب في الهواء، وهكذا نكون كل حين مع الرب لذلك عزوا بعضكم بعضاً بهذا الكلام&#8221; (١تس ٤: ١٦-١٨).</p>
<p>فنحن نعيش إذن على هذا الرجاء منتظرین تحقیق وعده الصادق حين تنحل العناصر وتذوب، ويبطل كل إثم، ويطرح التنين في البحيرة المتقدة ناراً .</p>
<p>أما نحن أولاد الله فسوف يدخلنا بنعمته أورشليم الجديدة حيث يسكن الله مع الناس. هم يكونون له شعباً، والله نفسه يكون لهم الهاً.</p>
<p>&#8220;وسيمسح الله كل دمعة من عيونهم، والموت لا يكون فيما بعد، ولا يكون حزن ولا وجع لأن الأمور الأولى قد مضت&#8221; (رؤ٢١: ٢-٤).</p>
<p><strong>نعم تعال أيها الرب يسوع &#8230; تعال سريعا فالقلب في لهفة وانتظار</strong><strong>.</strong></p>
<hr />
<p><a href="#_ftnref1" name="_ftn1">[1]</a>  تفسير سفر الأمثال &#8211; إصحاح ٢٤ &#8211; القمص تادرس يعقوب ملطي.</p>
<p><a href="#_ftnref2" name="_ftn2">[2]</a>  مجلة مدارس الاحد عدد مايو لسنة 67.</p>
<p><a href="#_ftnref3" name="_ftn3">[3]</a>  تفسير سفر الحكمة &#8211; إصحاح ٣ &#8211; القمص تادرس يعقوب ملطي.</p>
<p><a href="#_ftnref4" name="_ftn4">[4]</a>  كتاب تأملات في القيامة – للبابا شنودة الثالث..</p>
<p><a href="#_ftnref5" name="_ftn5">[5]</a>  كتاب دراسات وتاملات في الاعياد الكبرى &#8211; الجزء الثاني صفحة 14 &#8211; الانبا بيمن اسقف ملوي وانصنا والاشمونين.</p>

      {% endcreateArticleAccordions %}
    </section>
  {% endblock %}
  