---
layout: 'layouts/reading.html'
title: 'يوم الجمعة من الأسبوع الأول للخمسين يوم المُقَدَّسَة'
tags: 'pentecost'
permalink: /articles/pentecost/1-5.html
---
  {% block content %}
    <section id="readings">
      <ul>
      {% if 'undefined' != 'undefined' %}
      
      {% else %}
      {% if '19.12:4,5' != 'null' %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">العشية</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeVespers '19.12:4,5' '42.4:38-42' %}
          </div>
        </div>
      </li>
      {% endif %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">باكر</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeMatins '19.106:47-47' '42.20:27-39' '' %}
          </div>
        </div>
      </li>
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <h3 class="flex items-center justify-between">
            <span class="kufi">القداس</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </h3>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeLitugy '58.13:10-21' '60.1:25-2:10' '44.13:34-42' '19.107:1-2' '41.16:2-8' %}
          </div>
        </div>
      </li>

      {% endif %}
        </ul>
    </section>
    <section id="article">
      <h3 class="mt-8 mb-4 heading-explain">شرح القراءات</h3>
      {% createArticleAccordions %}
        <h3>القيامة والدعوة والخدمة</h3>
<p>تتكلم قراءات اليوم عن &#8220;<strong>القيامة والدعوة والخدمة</strong>&#8220;.. فدعوة الانسان وخدمته ورسالة العهد ثمرة من ثمار قيامة المسيح.. لذلك:</p>
<h4>مزمور عشية</h4>
<p>تبدأ القراءات من مزمور عشية بالكلام عن ← <strong>رسالة الإبن الذي من أجل شقاء البشرية البائسة وتنهدها قام وصنع الخلاص علانية</strong>: &#8220;من أجل شقاء المساكين وتنهد البائسين الآن أقوم يقول الرب أصنع الخلاص علانية&#8221; (مز11: 6، 7).</p>
<h4>إنجيل عشية</h4>
<p>وأيضاً يوضح إنجيل عشية ← شفاء حماة سمعان كمثال <strong>للبشرية المحمومة المضطجعة بحمى الخطية والتي أقامها ابن الله</strong> فصارت تخدم: &#8220;وكانت حماة سمعان بحمى شديدة فسألوه من أجلها فوقف فوقاً منها وزجر الحمى فتركتها وفي الحال قامت وخدمتهم&#8221; (لو4: 38 - 42).</p>
<h4>مزمور باكر</h4>
<p>وفي مزمور باكر عن ← <strong>حنين البشرية لأجل الخلاص</strong> ولكي تدعو الآخرين للتمتع بالخلاص: &#8220;خلصنا أيها الرب الهنا واجمعنا من بين الأمم لنعترف باسمك القدوس ونفتخر بتسبيحك&#8221; (مز105: 31).</p>
<h4>انجيل باكر</h4>
<p>وفي انجيل باكر عن ← <strong>المدعوين أبناء الله الذين لا يكون للموت سلطان عليهم</strong>: &#8220;أما الذين استحقوا ذلك الدهر والقيامة من الأموات&#8230; لأنه لا يمكن أن يموتوا بعد لأنهم يكونون مساوين الملائكة وهم أبناء الله إذ هم بنو القيامة&#8221; (لو20: 35، 36).</p>
<p>كما أن ← <strong>عطية القيامة للمدعوين مرتبطة بانتسابهم لله</strong>: &#8220;أنا الرب إله ابراهيم وإله اسحق وإله يعقوب ليس إله أموات بل إله أحياء لأن الجميع سيحيون له&#8221; (لو20: 37، 38).</p>
<h4>البولس</h4>
<p>وفي البولس عن ← <strong>دعوة وخدمة العهد الجديد</strong> وذبيحة الصليب التي حققت هدف ذبائح العهد القديم، وعن إله السلامة الذي أقام من الأموات الراعي الأعظم بدم العهد الجديد، لنعمل مشيئته، ويقدم بنا وفينا رسالة الخلاص والمصالحة للعالم: &#8220;وإله السلامة الذي أقام من الموتى راعي الغنم المعظم ربنا يسوع بدم العهد الأبدي يوطدكم في كل عمل صالح لتعملوا مشيئته صانعاً بنا الأمر المُرضي أمامه بيسوع المسيح&#8221; (عب13: 20، 21).</p>
<h4>الكاثوليكون</h4>
<p>وفي الكاثوليكون عن ← <strong>مصير من يقبلون دعوة الله</strong> فيصيرون جنس مختار وكهنوت ملوكي، أما الذين يرفضون يصير لهم حجر عثرة وصخرة شك: &#8220;وأما لغير المؤمنين فالحجر الذي رذله البناؤن هو صار رأساً للزاوية، وحجر عثرة وصخرة شك&#8230; أما أنتم فجنس مختار وكهنوت ملوكي أمة مقدسة شعب طاهر لتخبروا بفضائل من دعاكم من الظلمة الى نوره العجيب&#8221; (1بط 2: 7- 9).</p>
<h4>الابركسيس</h4>
<p>وفي الابركسيس عن ← <strong>الابن القائم من بين الأموات</strong> والذي لم يستطع الفساد أن يقترب منه والذي يدعو الأمم للتوبة عن طرقهم الرديئة وتحذيرهم من إهمال الخلاص: &#8220;فأما الذي أقامه الله فلم ير الفساد&#8230; فإحذروا إذاً&#8230; أنظروا أيها المتهاونون&#8230; وارجعوا&#8230; وفيما هما خارجان طلب منهما الأمم أن يكلماهم في السبت الآخر بهذه الأقوال.&#8221; (أع 13: 34- 42).</p>
<h4>مزمور القداس</h4>
<p>وفي مزمور القداس عن ← <strong>تسبيح من دعاهم الرب وحررهم من أعدائهم</strong>: &#8220;إعترفوا للرب فإنه صالح&#8230; فليقل الذين نجوا من قبل الرب الذين أنقذهم من أيدي أعدائهم.&#8221; (مز106: 1، 2).</p>
<h4>إنجيل القداس</h4>
<p>وفي إنجيل القداس عن ← <strong>تجديد العهد والدعوة للتلاميذ بعد القيامة</strong>، لذلك أرسلهم إلى الجليل فكانت الدعوة الأولى ليُجدد إرساليتهم للعالم: &#8220;لكن إذهبن وقلن لتلاميذه ولبطرس أنه يسبقكم إلى الجليل هناك ترونه كما قال لكم&#8221; (مر16: 7).</p>
<h3>ملخص الشرح</h3>
<ul>
<li>حنين البشرية البائسة وصراخها لأجل الخلاص، واستجابة الإبن بصلبه وقيامته، ثم فرح البشرية وتسبيحها الدائم لإبن الله. (مزمور عشية - مزمور باكر- مزمور القداس).</li>
<li>إبن الله أقام البشرية المحمومة بحمى الخطية خلال تلامسها لجسده المحيي. (انجيل عشية).</li>
<li>عطية القيامة والنصرة على الموت تعطي للمدعوين أبناء الله في كل زمان. (انجيل باكر).</li>
<li>دعوة وخدمة العهد الجديد تمت خلال ذبيحة الصليب وقيامة الحمل الأعظم، وهدفها تقديم رسالة الخلاص والمصالحة للعالم. (البولس).</li>
<li>من يقبلون دعوة الله يصيرون جنس مختار، ومن يرفضون يصير لهم حجر عثرة. (الكاثوليكون).</li>
<li>الإبن القائم من بين الأموات يدعو كل الأمم للتوبة والحياة الجديدة، ويحذر من إهمال الخلاص. (الابركسيس).</li>
<li>الابن يجدد العهد والدعوة للتلاميذ بعد القيامة في الجليل (مكان الدعوة الأول). (إنجيل القداس).</li>
</ul>
<h3>عظات آبائية للجمعة الأولى للخمسين يوم المقدسة</h3>
<h4>العظة الأولى: ميمر القيامة.. للأب المكرم بولس البوشي<a href="#_ftn1" name="_ftnref1">[1]</a></h4>
<p>صلاته وبركاته تشملنا إلى النفس الأخير آمين</p>
<p>يا من قام من بين الأموات، وداس الموت، وانعم علينا بحياة جديدة لا تبتلي، أيها المسيح إلهنا أقم عقلنا الميت لكيما نشاهد مجد لاهوتك غير المدرك. أيها الرب القدوس الذي أبطل أوجاع الموت بقيامته المقدسة، أبطل عنا قوات العدو المميتة للنفس، لكيما نسلك معك في حياة لا تفنى. أيها السيد الأزلي، ثبت فينا رجاء حياة الدهر الآتي التي ليس لها انقضاء واغرس في قلوبنا رجاء خيرات ملكوتك الأبدية. أيها الرحيم المتحنن الذي بقيامته المقدسة أعطي جنسنا السلطان أن يكون لنا معه حظ في القيامة العتيدة. اجعل لنا نحن أيضاً نصيباً في ذلك الإرث مع كافة قديسيك أيها الصالح يا مدبر كل البرايا. يا مَنْ يغير جسد ضعفنا فيصيره شبيهاً بجسد مجده في نعيم لا يبلى وحياة لا ينالها موت ولا نصب، أعطنا قوة ها هنا لتنقلنا من العادات الردية إلى الأعمال المجيدة الفاضلة، لكي نستحق انتقالًا فاضلًا مع كافة قديسيك الذين أرضوك منذ البدء، وهب لي أنا أيضاً أيها السيد - يا من وهب الحياة مجاناً بقيامته المقدسة لكل البرية- منطقا لأنطق على قيامتك من بين الأموات .</p>
<p>أعطني فهماً يا رئيس الحياة الذي أعطى حياته بقيامته لكل الهالكين، لأخبر بفعل قوتك التي لا تقهر. امنحني قولًا يا عمانوئيل إلهنا، الذي منح العالم فداء من الموت بقيامته العتيدة لأتكلم على قوة جبروتك وحسن ضياء قيامتك التي بها أضأت كل المسكونة. الآن ابتديء وأقول :</p>
<p>المسيح قام من بين الأموات. الذي مات وداس الموت. والذين هم في القبور أنعم لهم بحياة أبدية.</p>
<p>الذي مات أبطل شوكة الموت، الذي مضى بقوة لاهوته إلى الجحيم سبى الجحيم وخلص النفوس التي كانت تنتظره، فتح باب الفردوس برجاء الحياة لكافة الأجناس الذين لم يكن لهم رجاء، هيأ لنا طريق الملكوت، أصلح لنا سبيلًا يؤول إلى الحياة الجديدة، فتح أمامنا باباً يفضي إلى المنازل الدهرية .</p>
<p>كيف يستطيع المولودون من الأرض أن يكنزوا الحياة الأبدية، في جوهرهم لو لم يتحد بهم رئيس الحياة ورب القوات ويهب لهم الحياة التي تليق به؟!</p>
<p>كيف يقدر المسجون على التبرر لو لم يخالط بشريتهم الضعيفة الإله المتجسد البار وحده ويوصل إليهم المجد الملائم له؟</p>
<p>كيف يمكن للذي يبلى أن يلبس ما لا يبلى لو لم يتجسد من انسانيتهم الرب الإله الذي لا يتغير ولا يزول؟!</p>
<p>فوهب لهم عدم الفساد، وصار رئيس الحياة متقدماً في البعث من بين الأموات، وكما تقدم الموت إنسان ترابي، كذلك تقدم الحياة الرب السماوي البار وحده، الذي بلا خطية وله الاستطاعة أن يغفر الخطايا، وهو البار وحده الذي بلا عيب، وله القدرة أن يبرر ويحيي إلى الأبد كما يليق به.</p>
<p>وكما أن الموت الذي صار إلينا من أبينا آدم الأول لم يكن غريباً عنا، بل صار إلينا بنسبتنا البشرية إليه، كذلك الحياة التي صارت إلينا بالمسيح لم تكن غريبة عنا، بل صارت إلينا بالنسبة لتجسده منا تفضلًا منه علينا .</p>
<p>فكان الموت بالعدل وكانت الحياة بالإنعام والرحمة !</p>
<p>حقاً، لقد افتخرنا بالرب كما هو مكتوب وارتفع قرننا بالإله مخلصنا وفرحنا بخلاصه .</p>
<p>وكما أن الله خلق البرية منذ البدء تفضلًا منه عليها ولا حاجة به إليها، كذلك كان من واجب عدله أن يتعاهد بريته، لا لحاجة له إلى ذلك، بل تفضلًا منه ورحمة، فخلقها أولًا بحياة زمنية، وتعهدها ثانية وجددها بحياة أبدية !!</p>
<p>أولاً: صنعها لعالم الفناء، ودار الأتعاب والأوصاب .</p>
<p>ثانياً: أقامها لعالم البقاء ودار النياح والنعيم والأفراح .</p>
<p>ولما خلق أبانا آدم وجعله في فردوس النعيم، أمره قائلًا: من كل الأشجار &#8220;كُلّ&#8221; ما خلا من هذه الشجرة الواحدة لا تأكل، فإنك في اليوم الذي تأكل منها &#8220;موتاً تموت&#8221;.</p>
<p>فأكل آدم ولم يمت في ذلك اليوم، بل بعد تسع ماية وثلاثين سنة .</p>
<p>وكلام الله لا يكون باطلاً، بل كما أن الموت المحسوس هو افتراق النفس من الجسد، كذلك الموت المعقول هو افتراق روح الله من الانسان، لأن بإفتراق الأفضل من الأدنى، يكون موت الأدنى بلا شك، لأنه سبب حياته، فمنذ أكل آدم من عود المعصية، انتزع روح الله منه فمات بحق من الله موتاً معقولًا، الذي هو الموت الحقاني، لأن الموت المحسوس إن هو إلا انتقال بالنسبة لمن عمل وصايا الله، فلما نزع الله روح قدسه من آدم في ذلك اليوم الذي أكل فيه من الشجرة المنهي عنها مات موتاً معقولاً ثم حكم عليه بعد ذلك بالموت المحسوس قائلًا: ملعونة الأرض من أجل عملك هذا، شوكاً وحسكاً تنبت لك كل أيام حياتك، وبعرق جبينك تأكل خبزك حتى تعود إلى الأرض التي أخذت منها لأنك تراب وإلى التراب تعود .</p>
<p>فنفذ الله فيه الموت المعقول في ذلك اليوم ثم حكم عليه بالموت المحسوس، وبهذا فقد رجاء الحياتين وكذلك نسله من بعده مثله، ولم يقدر أحد من كافة نسله أن يرد إلينا الحياة الأبدية التي بلا انقضاء لأنه غير لائق لهذا، لأن الحياة التي بلا انقضاء لا تكون إلا للذي هو بلا انتهاء، ولم يكن ذلك إلا للإله، لكنه لا يوصلنا إليها بلاهوته لأننا لا نحتمل ذلك، فتفضل وأوصلنا إليها بالتجسد العجيب !!</p>
<p>لأنه حيث هو غير منظور بلاهوته، اتحد بجسد بشري كامل مثلنا في كل شيء ماخلا الخطية وحدها، فأوصل الحياة لذلك الجسد المتحد به، ثم قبل به الآلام عنا، وأظهره غالباً للآلام والموت بقيامته من بين الأموات، ثم أوصل إلينا الحياة الأبدية بالنسبة لذلك الجسد المأخوذ منا. وزاد هذا تفضلًا لأنه أراد أن لا نكون غرباء منه، فأشركنا في ذلك الميلاد الثاني وقبول الروح القدس، وأعطانا من سرائره المحيية كما قال: إن لم تأكلوا جسد ابن الإنسان وتشربوا دمه فليست لكم حياة أبدية فيكم، من يأكل جسدي ويشرب دمي يثبت فيّ وأنا فيه (يو ٦: ٥٣) .</p>
<p>وبدون هذا السبيل لا يقدر إنسان أن يرث ملكوت السموات، وإن كان الرب قد أقام الموتى ليظهر قوته، فقد ماتوا أيضاً ثانية وعادوا إلى ترابهم منتظرين القيامة الجامعة للكل، أما الرب فإنه بكر الإنبعاث من بين الأموات، ولا يعود يموت ثانية كما قال الرسول، وبهذا صار هو البكر في الإنبعاث ومتقدم كل الخيرات. وإذا رأى البشر الجسد الذي كان بالياً قد انبعث من بين الأموات حياً عديم الفساد بقوة اللاهوت، علموا أن الانتقام قد مضى، والموت قد انقضى والحياة قد أقبلت، والخلاص قد حضر، وليس ذلك بإنسان، بل بقدرة الرب إله القوات .</p>
<p>فلنرتل اليوم مع بولس الرسول قائلين: &#8220;الآن قد قام المسيح من بين الأموات، وصار باكورة الراقدين لأنه كما في آدم يموت الجميع هكذا في المسيح سيحيا الجميع، ولكن كل واحد في رتبته، المسيح باكورة، ثم الذين للمسيح في مجيئه، وبعد ذلك النهاية&#8221; (١كو ١٥: ٢٠). وقال في رسالة أخرى: &#8220;لأنه إن كان بخطية الواحد قد ملك الموت بالواحد فبالأولى كثيراً الذين ينالون فيض النعمة وعطية البر سيملكون في الحياة بالواحد يسوع المسيح، فإذا كان بخطية واحدة صار الحكم إلى جميع الناس للدينونة هكذا ببر واحد صارت الهبة إلى جميع الناس لتبرير الحياة، لأنه كما بمعصية الإنسان الواحد جعل الكثيرون خطأة هكذا أيضاً بإطاعة الواحد سيجعل الكثيرون أبراراً&#8221; (رو ٥: ١٧- ١٩). هذه الموهبة كملت لنا اليوم يا أحبائي بقيامة ربنا يسوع المسيح، التي بها تفرح قلوبنا، وتتعزى من تذكار آلامه المحيية التي قبلها من أجلنا .</p>
<p>اليوم يا أحبائي كملت كلمة داود النبي القائل: &#8220;في المساء يكون البكاء وفي الصباح يكون السرور&#8221; لأن النساء اللواتي كن يندبن ويبكين عليه بالأمس وقت المساء، لما أشرق باكر اليوم من الملائكة رجعن بفرح عظيم من القبر ليخبرن تلاميذه الرسل الأطهار القديسين بأن الرب قد قام وهوذا يسبقكم إلى الجليل!! ثم زادهن فرحاً وسروراً بما قاله لهن بعد بشرى الملائكة أفرحن، فتقدمن ومسكن قدميه وسجدن له، ثم أن الإله المتحنن أزال عنهن الخوف الذي اعتراهن من اليهود الأشرار، بما قاله لهن لا تخفن، أعني أنكن قد رأيتموني وانتعشت قلوبكم .</p>
<p>ثم قال اذهبن وقلن لإخوتي أن يذهبوا إلى الجليل هناك يرونني، يا لهذا الرجاء والعزاء الذي لا يُحد .</p>
<p>إنه دعا البشر اخوته لأجل التجسد العجيب، كما هو مكتوب إني أبشر بإسمك اخوتي، وأنهم إذا حفظوا وصاياه ينبعثون مثله بلا فساد لأنه رمز حياتهم. وأن الإبن الوحيد صار بكراً لإخوة كثيرين كما شهد الرسول، ومع هذا لم يترك عنه الوحدانية، فهو وحيد مولود من الآب قبل كل الدهور، وبكر لإخوة كثيرين في الانبعاث من بين الأموات .</p>
<p>فالآن يا أحبائي نمجد قيامة ربنا يسوع المسيح، التي بها شرف جنسنا، ووهب لنا راحة أبدية ها هنا، فلنسرع إلى المقبرة بالروح مع بطرس ويوحنا، ولنمسك قدميه مع مريم الطوباوية والدته ومريم الأخرى، ونسجد له ونقبلهما، ثم ننهض سالكين في طريق عمواس مع لوقا ورفيقه أكلوبا، لنسمع من فمه القدوس تفاسير الكُتُب التي قيلت بالروح على آلامه وقيامته. ثم نعود معهما بسرعة إلى الأحد عشر ونصرخ بإتفاق واحد مع الجميع قائلين حقاً قد قام الرب، فلنذهب إلى الجليل مسرعين غير متهاونين، ونسجد مع الرسل الأطهار الأحد عشر ونسمعه قائلاً: &#8220;أعطيت كل سلطان في السماء وعلى الأرض&#8221;. وكيف أوعز إليهم قائلاً: &#8220;امضوا إلى كل الأمم وعمدوهم بإسم الآب والإبن والروح القدس&#8221; لندخل إليه في العلية المغلقة الأبواب، ونشاهد الرب - الذي له القوة أن يعبر كل شيء بغير مانع - وهو يعطي السلام لخلائقه أئمة كل المسكونة. أباؤنا السادة الأطهار الرسل الأفاضل، ونتأمل كيف وهبهم الروح المحيي بنفخة الحياة .</p>
<p>هذا الذي نزعه من أبينا آدم الجد الأول عند المخالفة، ثم زادهم للوقت سلطاناً أفضل أن يربطوا ويحلوا، ونصرخ إليه مع توما الرسول قائلين: &#8220;ربي والهي&#8221; لنسمع منه الطوبى المملوءة عزاء قائلًا: &#8220;طوبى للذين آمنوا ولم يروا&#8221;.</p>
<p>نمشي برياضة مع الرسل صيادي السمك والناس معاً إلى بحيرة طبرية وننظر عجائبه بعد قيامته التي أظهرها لهم هناك، وكيف أظهروا أنه هناك علانية، ونصرخ قائلين: لك أيها المسيح إلهنا نمجد، وبموتك المحيي نبشر، وبقيامتك المقدَّسة نعترف، ولمجيئك الثاني ننتظر. هلم في وسطنا اليوم يا داود المرتل بقيثارة ذي عشرة أوتار، لكي نرتل معك في فرح هذا العيد المجيد .</p>
<p>ولكننا لا نقول بما قلته في ذاك الزمان &#8220;يقوم الرب وتتبدد أعداؤه&#8221; لأن هذا يدل علي فعل مزمع أن يكون فلم يكمل هذا في أيامك بل بروح النبوة تكلمت بما هو مزمع، أما الآن فقد كمل لنا ذلك وفرحنا بالخلاص، فلهذا نصرخ قائلين: قد قام الرب وتبددت أعداؤه الذين هم الشياطين المردة واليهود غير المؤمنين الذين بددهم في آفاق الأرض ومخالفوه عن وجهه يبيدون ويضمحلون كما يضمحل الدخان ومثلما يذوب الشمع بالنار. ثم نسمع النبي بعين الرجاء قائلًا: &#8220;قم يا رب خلصني يا إلهي&#8221; وقال: &#8220;قم يا ربي وإلهي بالأمر الذي أوصيت&#8221;. وقال على رجاء الخلاص &#8220;من أجل شقاء الفقراء وتنهد المساكين أقوم الآن، يقول الرب: أصنع الخلاص علانية&#8221; (مز١١) .</p>
<p>ثم أجاب بعين الايمان والتصديق قائلاً: &#8220;كلام الرب كلام نقي، كمثل فضة مصاغة قد صفيت سبعة أضعاف&#8221; (مز١١) وقال على كمال القيامة كأنه يشاهدها بالعيان:&#8221; استيقظ الرب كالنائم وكمثل جبار ثمل من الخمر فردّ أعداؤه إلى خلف، وجعلهم عاراً إلى الأبد بغير تعاهد&#8221; وقال: &#8220;قم يا الله ودن الأرض لأنك وارث جميع الأمم&#8221;. أعني دخول الأمم في الإيمان، قال إشعياء بنبوة على لسان الشعب: &#8220;أنت الله ولم نعلم، إله إسرائيل ومخلصه&#8221;. ها قد افتضح المعاندون له ومشوا بالخزي، قال زكريا &#8220;سبحي وافرحي يا ابنة صهيون من أجل أني أجيء وأحل في وسطك قال الرب، وأمم كثيرة يهربون إلى الرب في ذلك اليوم ويكونون لي شعباً&#8221; وهنا أظهر النبي دخول الأمم في الإيمان. إرميا النبي يقول: &#8220;هكذا يقول الرب، أروي كل نفس عطشانة، وأشبع كل نفس جوعانة، كذلك استيقظت وأبصرت، النوم قد طاب لي&#8221;.</p>
<p>لقد سمى النبي تسليم نفس الرب نوماً، لأنه حي باللاهوت، وهو مزمع أن يستيقظ سريعاً لأن جسده لا يعاين فساداً، وقد سماه داود أيضاً نوماً، كما قال: &#8220;قام الرب مثل النائم&#8221; وقوله في إرميا &#8220;إن النوم قد طاب لي&#8221;.</p>
<p>أما سليمان فإنه أوضح القول في كتاب الحكمة قائلًا: &#8220;عند ذلك يقوم البار مدللًا بكثرة قوة أمام وجه الذين اضطهدوا وظلموا سعيه، وإذ رأوه اضطربوا من شدة الخوف&#8221;.</p>
<p>ويتحيرون من عجيب خلاصه ويقولون فيما بينهم نادمين متحسرين في أرواحهم هكذا، كنا نهزأ به فيما مضى وجعلناه نحن الجهال أحدوثة ومثلًا للعار، فكيف أحصي الآن مع أبناء الله وحسبه مع الأطهار، لقد ضللنا عن طريق الحق، ولم يظهر نور الصدق، ولم تطلع علينا شمس البر، وانهمكنا في سبل الآثام والهلاك، وجرينا في قفر لا يسلك، لم نهتد إلى طريق الرب، أعني بهذا ندامة القوم الذين آمنوا من اليهود خاصة الذين كانوا مجتمعين على صلبه، كما بكتهم بطرس الرسول بإعلان كالمكتوب في الإبركسيس قائلا لمقدميهم: &#8220;هذا هو الحجر الذي رذلتموه أنتم أيها البناءون، وهو صار رأس الزاوية&#8221;. ثم قال لهم أجمعين: &#8220;الآن يعلم كل بيت إسرائيل أن يسوع هذا الذي أخذتموه… وبأيدي أثمة صلبتموه&#8221;. ثم ناشدهم بقيامته من بين الأموات وأن نفسه لن تترك في الجحيم، ولا جسده يعاين فسادًا. (أع ٢: ٢٢) كما كتب عنه في المزمور .</p>
<p>قال الكتاب فلما سمعوا هذا نخسوا في قلوبهم، واعتمد منهم في ذلك اليوم نحو ثلاثة آلاف نفس، وبعدهم خمسة آلاف، وكانوا مواظبين على تعليم الرسل وكل شيء لهم كان مشتركاً. ثم أن الرسل بقوة عظيمة كانوا يذيعون الشهادة لأجل قيامة ربنا يسوع المسيح، معاضدين بقوة الآيات أمام أعدائهم وليس بسيف ولا سلاح، ويجب أن نقدم الشهادة منهم خاصة ونختصر في أقوال الأنبياء لأن كرامة العيد الشريف لهم واجبة لأنهم شاهدوا الأشياء عياناً ولمسوها بأيديهم وأكلوا معه وشربوا معه بعد قيامته المقدسة. وكما حزنوا في آلامه كذلك فرحوا أضعافاً في قيامته وحوّل حزنهم إلى فرح كقول الرب لهم، وكملت لهم الأشياء بأسرها، التي اشتهى الأنبياء أن يعاينوها كما قال الرب: &#8220;الحق أقول لكم إن أنبياء كثيرين صديقين اشتهوا أن يروا ما رأيتم فلم يروا، ويسمعوا ما سمعتم فلم يسمعوا&#8221;.</p>
<p>ثم طوب أعضاءهم التي تقدست به قائلًا: &#8220;أما أنتم فطوبى لعيونكم لأنها تنظر ولآذانكم لأنها تسمع&#8221;. وبحق قد استحققتم كل الطوبى والغبطة أيها الرسل الأطهار لأنكم شاهدتم جميع أعمال الرب من ابتدائها إلى كمالها. هلموا الآن في وسطنا أيها الإنجيليون القديسون، وما أنتم في دعوتنا اليوم، بل نحن في دعوتكم أيها السادة الرسل الذين دعوا كل الشعوب إلى وليمة السيد، كما أوعز اليهم بعد قيامته المقدسة .</p>
<p>بكم خاصة تزين العقول اليوم، بكم نتساعد على مدح شرف القيامة الجليلة لأنه ليس في زمانكم كرزتم بها بل أصواتكم باقية تصرخ إلى الإنقضاء. هوذا أبتديء أولًا من متى، لأنه ذكر وقت القيامة نفسها حين قام الرب بقوله: وكانت زلزلة عظيمة وملاك الرب نزل من السماء ودحرج الحجر عن باب القبر وجلس فوقه، بين أن الزلزلة كانت وقت قيامة الرب، وكما أنه عند تسليمه الروح زلزل صوته الأرض، هكذا عند قيامته زلزلها أيضاً، ليعلن أن الذي مات هو الذي قام ولم يكن بضعف، بل هو القوي قاهر الموت ومالك القيامة الجامعة للكل. وقام الرب والحجر مختوم على باب القبر، كما ولد من البتول وهي عذراء كنبوة حزقيال النبي وكمثل دخوله على التلاميذ بالعلية والأبواب مغلَّقة، لأن له هذا الفعل أن يعبر في الأشياء بغير مانع. وأما دحرجة الملاك للحجر عن باب القبر فهو ليعلن القيامة جيداً لئلا يبقي مختوماً فيظنون أن جسده ما زال في القبر. قال: &#8220;وكان منظر الملاك كالبرق ولباسه أبيض كالثلج&#8221; أعني حسن بهاء منظره في قيامة سيده. قال: &#8220;فمن خوفه اضطرب الحراس وصاروا كالاموات&#8221;، وكما كتب في سفر الخروج: &#8220;إن ملاك الرب نزل إلى معسكر المصريين وبني إسرائيل وكان يلقي ظلامًا على فرعون وجنوده، ويلقي نوراً على موسى وجماعته، وهكذا فعل الملاك في القيامة ها هنا، ألقى خوفاً شديداً على الحراس الذين كانوا واثقين بقولهم، ثم أعطى طمأنينة وقوة للنسوة الضعيفات الخائفات من اليهود، فأزال منهن الرعب وصير الحراس كالأموات، لئلا يؤلموا قلوب النسوة القديسات اللواتي أتين إلى القبر وهن مريم والدة الإله سيدتنا القديسة البتول ومعها مريم التي من تخوم مجدل، ثم أن الملاك خاطب النسوة برفق قائلًا: &#8220;أما أنتن فلا تخفن&#8221;. أعني أنكن لستن مثل هؤلاء المردة، الذين ظنوا أنهم بقوتهم يصدونكن عن الدنو إلى القبر، فقد نزل بهم ما هم أهل له، وأما أنتن فتقوين، ولقد علمت أنكن تطلبن يسوع المصلوب .</p>
<p>ولم يأنف الملاك أن يبشر بالمصلوب أنه رب الكافة التي ترى والتي لا ترى. قال: &#8220;ليس هو ههنا، لقد قام كما قال لكن&#8221;. ذكّرهن بقول الرب لهم أجمعين قبل آلامه إنه مزمع أن يصلب ويقوم في اليوم الثالث، وأعطاهن بهذا القول علامة قد كانت بينه وبينهن مع الرسل أجمعين ليحملهن على قبول بشراه، وبعد ذلك أراد أن يؤكد لهن بالعيان، فقال لهن: &#8220;تعالين وانظرن إلى المكان الذي كان فيه الرب&#8221;، أعني وإن كان قد صلب بالجسد فهو رب المجد لم يزل، وهوذا نحن نكرز قبل رسله بصلبوته وآلامه وقيامته ونعترف به أنه رب الملائكة والناس أجمعين. كما قد كرزنا في البشارة والميلاد لأنه حيث يكون الملك السماوي، هناك يكون خدامه العلويون، وإن النسوة لما بقين مبهوتات متعجبات مما كان، صرفهن الملاك قائلًا: &#8220;أسرعن واذهبن وقلن لتلاميذه إنه يسبقكم إلى الجليل هناك ترونه. لقد أراد الملاك بذكر الجليل ليعلن أن الرب قد أعلمه بالأشياء التي كانت بينه وبين رسله، وأذن له أن يبشر الذين هم عتيدون أن يبشروا كل المسكونة، أعني الرسل الأطهار. قال: &#8220;فرجعن مسرعات بخوف وفرح عظيم ليخبرن تلاميذه&#8221;. أعني أنهن صدقن قول الملاك بما قد أعطاهن من العلامات .</p>
<p>فآمنَّ أن الرب قام، وأسرعن بخوف من اليهود لأنهم كانوا يرقبون المكان، ولكن فرحهن تغلب على الخوف من أجل قيامة الرب .</p>
<p>قال: &#8220;فلما ذهبن ليخبرن تلاميذه، ظهر لهن يسوع وقال لهن افرحن&#8221;. أعني أن الرب دبر الحال معهن وساسهن بالتدريج أول شيء بالزلزلة وظهور الملاك لهن، والعلامات التي حققها لهن، فلما صدقن رجعن ليخبرن تلاميذه، عند ذلك استحققن ظهور الرب لهن الذي هو كمال التحقيق، قال: &#8220;فمسكتا قدميه وسجدتا له&#8221; فقال لهن الرب: &#8220;لا تخفن اذهبن وقلن لإخوتي أن يذهبوا إلى الجليل هناك يرونني&#8221;. لما كانت والدته حاضرة اختصها بالفرح ليزيل حزن حواء، واستحقت رفيقتها أن تحضر معها لأنها كانت مهتمة بأمرها، ولم تدعها أن تنطلق وحدها، بل شاركتها في الحزن والتعب، فلهذا استحقت الشركة معها في الفرح، ولم يمنعها من الدنو منه مع والدته، ومسكها قدميه وأزال منهن الحزن والخوف أيضاً، ثم أرسلهن ليبشرن رسله القديسين، وإن والدته التي كانت في بيت يوحنا الإنجيلي يعزيها، صارت مبشرة له ولأصحابه الرسل ليكمل بذلك مسرتها! وعزى الرسل بالرسالة أيضاً وسماهم اخوته ليتم المكتوب: &#8220;إني أبشر باسمك أخوتي، ثم ذكرهم بالجليل، ليحقق قوله لهم بتذكرة ثانية. وهذا مما يستدل به أن القديس متى ذكر القيامة في وقت قبل باقي الإنجيليين، لأنه ذكر الزلزلة ونزول الملاك، وكيف دحرج الحجر عن باب القبر، وكيف صار الحراس كالأموات من خوف منظره.</p>
<p>وثاني من ذكر القيامة هو القديس يوحنا، لأنه قال &#8220;وجاءت مريم المجدلية غلساً&#8221;، وذكر أنها أتت فوجدت الحجر قد دحرج عن باب القبر، ولم يذكر أنها وجدت الحراس بالجملة، لأنهم عندما شاهدوا المنظر المخيف لهم نهضوا بعد جهد، كما أذن لهم الرب وشاهدوا الحجر قد دحرج عن باب القبر، ولم يجدوا جسد الرب يسوع فلم يقدروا أن يلبثوا من كثرة الخوف الذي اعتراهم، بل ذهبوا إلى المدينة وأعلموا رؤساء الكهنة بما كان كما شهد الإنجيلي، ولهذا لم يرجعوا إلى القبر، ولا أرسل رؤساء الكهنة غيرهم، لأنهم تحققوا أن جسد الرب يسوع ليس هو في القبر بل قد قام، ولذلك لما جاء بطرس ويوحنا لم يجدا الحراس، وهكذا بقية النسوة أيضاً اللواتي أتين إلى القبر إلى حين طلوع الشمس، وأما كون الرب أبقى الثياب في المقبرة حيث قام، فهذا ليعلمنا أن في القيامة الجامعة لا يحتاج أحد إلى لباس ولا إلى شيء مما يستعمل في هذا الدهر، بل يكونون كملائكة الله الذين في السماء كما شهد الرب.</p>
<p>وثالث من ذكر القيامة القديس لوقا البشير لأنه ذكر مجيء النسوة ثالث دفعة قريباً من الصباح حين بدأ النور يظهر، عندما نظرن ملائكة شبه أناس بلباس يلمع كالبرق، ليدل أيضاً على بهائهم في فرح قيامة سيدهم، وقالوا للنسوة لِمَ تطلبن الحي مع الأموات؟ أعني أنه وإن كان قد قبل الآلام ومات بالجسد، فهو يبقى حي بلاهوته، ثم قالا لقد قام وليس هو ههنا، فاعترفا أولًا أنه الحي الدائم باللاهوت، ثم بشرا بعد ذلك بقيامته من بين الأموات بالناسوت لأنه إله متأنس وله الفعلان، وذكّراهن بقول الرب الذي تقدم فأخبر بآلامه وقيامته فآمنْ بذلك وصدقن لأن النسوة اللواتي تبعن الرب من الجليل ومن تخوم مجدل مع اللواتي كن يخدمنه بأموالهن، كن نسوة تقيات قديسات، فلم يأنف الرب أن يتبعنه لأنه يخلص كل البرية، وأنه لا فرق بين الرجل والإمرأة في الرب، وأن الله إنما يشاء أن تكون نفوسنا نقية لكل منا رجلا كان أو إمرأة، هذا الذي شاء وتجسد من سيدتنا القديسة الطوباوية البتول مريم لعظم طهارتها .</p>
<p>وإن النسوة لشدة محبتهن في الرب، ورغبتهن في خلاص نفوسهن كن يتبعنه إلى حين الصلبوت، ولم يخفن، بل ثبتن عند صليبه كما شهد لهن الانجيل بذلك، وشاهدن كل شيء كان إلى حين أسلم الرب الروح، وتكفين الجسد، ووضعه في القبر، ما خلا والدته فإنه سلمها ليوحنا الإنجيلي، وهؤلاء النسوة تعبن جداً، وتألمن لأجله، وكن يبكين ويندبنه. ولما كان المساء تفرقن كل منهن عند معارفهن، فمنهم من كن مجتمعات بعضهن مع بعض، ومنهن من كن منفردات. ومن كثرة اجتهادهن بكرن آتيات إلى القبر كل منهن من الموضع الذي كانت فيه، وكان مجيئهن في أوقات مختلفة أيضاً عن الملائكة الذين بشروهن، واستحققن العزاء لأجل كثرة حزنهن ومحبتهن للرب، وأمانتهن الحقة به، وليبكت بهن الرجال غير المؤمنين .</p>
<p>ورابع من ذكر مجيء النسوة إلى القبر مرقس، لأنه قال: &#8220;إنهن أتين حيث طلعت الشمس&#8221; (مر ١٦: ٢)، والدليل على أنهن غير النسوة الأوائل قولهن &#8220;من يدحرج لنا الحجر عن باب القبر&#8221; فلو كن السابقات وأتين دفعة أخرى، لما قلن شيئاً من هذا .</p>
<p>وإن قلت ولكن مرقس قد ذكر مريم المجدلية مع جملة النسوة !!</p>
<p>قلت لك إنها غير التي ذكرها يوحنا، لأن الكل من تخوم مجدل بلا شك، ومرقس نفسه في الفصل الذي يلي هذا يذكر التي ذكرها يوحنا لأنه جمع كل ما ذكره الإنجيليون الثلاثة الآخرون في حال القيامة في هذا الفصل بتلخيص إذ يقول: وقام باكراً أحد السبوت، وما أحسن ما قاله لأنه اختص بهذا اللفظ دون بقية الإنجيليين، فإنهم وإن كانوا قد ذكروا القيامة لكنهم لم يعينوا الوقت الذي قام فيه الرب مثل مرقس، وإن كان متى قد ذكر الزلزلة لكنه لم يعين وقت القيامة، فمرقس وحده قال: &#8220;وقام باكراً أحد السبوت&#8221; فأبان جيداً أن الرب قام باكراً يوم الأحد .</p>
<p>قال: &#8220;وظهر أولًا لمريم المجدلية التي أخرج منها سبعة شياطين&#8221; وبهذا أفردها مرقس هنا وحقق أنها لم تكن من جملة أولئك النسوة اللائي أتين حيث طلعت الشمس، لأن الرب أذن للإنجيليين أن يذكروا هذه الألفاظ حتي يؤكدوا القيامة جيداً بشهادات شتى !</p>
<p>ثم ذكر بعد هذا كيف ظهر لإثنين آخرين من تلاميذه في الحقل أعني اللذين ذكرهما لوقا في طريق عمواس، ثم ذكر كيف اجتمع بالأحد عشر وكيف أوصاهم أن يبشروا كل الأمم ويعمدوهم، وهذا ما ذكره متى حيث ظهر لهم وأوصاهم أن يعمدوهم باسم الآب والابن والروح القدس في العالم أجمع .</p>
<p>أما لوقا ويوحنا فقد ذكرا ظهور الرب لتلاميذه عشية يوم القيامة، وأراهم يديه ورجليه وجنبه وأكل معهم، وإن كان بعد القيامة العامة للكل لا يكون أكل ولا شرب ولا إذا كان لأحد في جسده جرح يقوم بجراحه ولا إذا كان بعين واحدة أو أعرج أو ما شابه ذلك يقوم بشيء من تلك العاهات الجسدية وإلا فأين يكون عدم الفساد؟ ولكن الرب صنع هذا ليحقق لنا أجمعين أن الجسد الذي تألم ومات هو الذي انبعث من بين الأموات. ولما ظنوا أنه روح عند دخوله العلية والأبواب مغلقة، أذن لهم أن يجسوه كما قال: &#8220;إن الروح ليس له عظم ولا لحم كما ترون لي &#8220;وكما أثبت لاهوته بفعل الآيات اللائقة به كذلك أثبت ناسوته أيضاً بفعل هذه الأشياء وما يماثلها. فاظهر آلامه بعد قيامته ليزيل علة من يروم العلل !</p>
<p>أما متى فإنه اختص بذكر لفظ عجيب يجب أن نذكره وهو قوله: &#8220;وفي عشية السبوت باكر أحد السبوت جاءت مريم&#8221; ومعلوم أن تلك الأيام السبعة تسمي سبوتاً كما أنها عندنا نحن آحاداً، وقوله: &#8220;وفي عشية السُّبوت جاءت مريم&#8221; وذلك أن النسوة كففن في السَّبت كما في الوصية، أعني أنهن لم يتصرفن في شيء ولا وصلن إلى القبر لئلا يكون عليهن حجة من اليهود فلما كانت عشية السُّبوت جاز أن يتصرفن كما في الوصية .</p>
<p>خرجت السيدة مريم من أجل حنو الطبيعة لتنظر القبر لكونها لم تمكث عند الصليب حتي ترى النهاية، وخرجت معها رفيقتها التي ذكرها يوحنا أنها كانت واقفة معها عند الصليب فنظرت القبر مختوماً والحراس جلوساً فرجعن معاً إلى مكانهن ثم عدن باكراً جداً وهو وقت الزلزلة لأن السيدة كانت متذكرة قول الرب إنه يقوم في اليوم الثالث، فلم تصبر لشدة ما في قلبها! ولم ترهب من اليهود ولا من الحراس أيضاً لقوة إيمانها بالرب، وأنه لا ينالها مكروه، ومضت معها أيضاً رفيقتها إلى القبر، فلهذا ذكر الانجيل الحوادث على تعاقبها أولًا فأول، لأنه ذكر عشية يوم الجمعة وقت أخذ يوسف الجسد، وباكر يوم السبت حيث ختموا القبر، فذكر عشية السبت حيث خرجت السيدة تنظر القبر، ثم باكراً يوم الأحد حيث عادت إلى القبر ثانية، لأنها عادت دفعتين، عشية نظرت، ثم أتت باكراً وقت القيامة، فأوجب متى الدفعتين سياقاً واحداً قائلًا: &#8220;وفي عشية السُّبوت باكر أحد السبوت، جاءت مريم…الخ&#8221;.</p>
<p>أمًا يوحنا فتميز بأن ذكر دخول الرب على التلاميذ والأبواب مغلقة في الأحد الثاني للقيامة الذي هو ثامن العيد الذي يسمي أحد الحدود أو الأحد الجديد، وأذن لتوما الرسول أن يجسه بعد أن أراه أثر المسامير وطعنة الحربة، ولم يكن هذا تحقيراً بتوما لأنه يعرف قصده الجميل بل ليكون رسولاً محقاً يبشر بما رآه عيانا وأن توما صرخ بقوة إيمان قائلًا: &#8220;ربي وإلهي، قال له الرب لما رأيتني يا توما آمنت طوبى للذين آمنوا ولم يروا&#8221; أراد بهذا كل الشعوب الذين يقبلون الايمان بإسمه، وذكر يوحنا أيضاً ظهور الرب لهم على بحيرة طبرية، ووصيته لبطرس أن يهتم جيداً بكل الرعية، وكان يظهر لهم إلى كمال الأربعين يوما بعد القيامة، كما شهد كتاب الإبركسيس، وكان يخفي ذاته عنهم بقوة لاهوته حياً، حتى يقوى اشتياقهم إليه ويشتهوه، ثم يظهر لهم حينا كما يشاء لكي يتملوا بكلامه معهم ويحفظوه، ولعل قائلًا يقول: كيف ظهر الرب لوالدته أولًا، وها مرقس يقول إنه ظهر أولًا لمريم المجدلية التي أخرج منها سبعة شياطين وكيف يقول بولس الرسول إنه ظهر لبطرس الرسول أولًا؟!.</p>
<p>فإن أراد السائل أن يعرف هذا جيداً يقال له: إن الرسل هم مبشرون وشهود له عند الجميع من اليهود والشعوب فأراد مرقس أن لا يأخذ شهادة الأقرباء في الجنس في حال القيامة، بل الغرباء كما يكون بين الناس فذكر أولًا مريم المجدلية ثم مريم أم يعقوب وسالومة .</p>
<p>أما بولس فأخذ على جاري عادة الناموس لأنهم لم يروا شهادة النسوة بل الرجال فذكر بطرس أولًا الذي كان مناشداً ومبشراً أمامهم بقوة وإعلان معضداً بفعل الآيات والعجائب التي أجراها الله على يديه لأن الرب ظهر أولًا لوالدته دون كافة البشر التي هي بالحقيقة تجل عن الكل وهي بدء كل الأفراح وأول المسرات.. ثم أول من ظهر له من الغرباء مريم المجدلية لأجل محبتها للرب، وأول من ظهر له من الرجال بطرس الرسول، ونحن نجد لوقا موافقاً لبولس في هذا حين ذكر الرسل وهم مجتمعون قائلين حقاً قد قام الرب وظهر لبطرس، فأخذ بولس الشهادة من الرجال لأنهم الذين كانوا شهوداً لقيامته عند كل الشعوب، ولهذا لم ير بولس ذكر النسوة إطلاقاً في حال القيامة لا قبل ولا بعد، لأنه كتب الرسائل على نوع البشرى، ولم ير ذكر النسوة، والإنجيليون ذكروا الأشياء الأول فالأول في حال التدبير، فلهذا ذكروا النسوة، قال بولس وظهر بعده للرسل الإثنى عشر أعني أن بطرس أيضاً كان حاضراً معهم، قال ومن بعد هؤلاء ظهر لأكثر من خمسمائة أخ معاً، أعني السبعين ومحفل التلاميذ الذين كانوا يتبعونه استحقوا أيضاً نظره، قال وبعد هؤلاء ظهر ليعقوب ثم لبقية الرسل، أعني كل الذين يلوذون بهم لأنهم كانوا موافقين الرسل في محبة الله والإيمان به، فلهذا استحقوا مشاهدته، فأظهر الرسول أنهم كانوا جماعة كثيرة كما كتب أن الرب ميز سبعين آخرين أعني أنه ميزهم من الجماعة كما ميز الاثنى عشر أيضاً، قال وفي آخر الكل ظهر لي أنا الحقير أعني بعد التلاميذ وأنه لم يبشر باطلاً بل قد استعلن له الرب مثل كافة رسله، وجعله مبشراً للإيمان بإسمه في كل الشعوب، وقد أردت أن أطنب في الأقوال التي وضعها بولس الرسول في رسائله لأجل القيامة، وكيف مدحها وشرفها وأجل كرامتها جداً، وأن بها الحياة الأبدية وأن بآدم ملك الموت وبقيامة المسيح ملكت الحياة، وأن بها صار الرجاء في القيامة من بين الأموات لنا جميعاً، كما أن بآدم صار حكم الموت فخشيت أن يطول الشرح ويمل القاريء والسامع معاً وعلمت أن هذا بأسره لا يبلغ شرف مدح قيامة ربنا يسوع المسيح من بين الأموات، هذه التي بها استراح من جميع أعماله التي على الأرض فأراح البرية التي كانت والتي ستكون وقدس هذا اليوم وباركه لأنه بكر كل الأيام كما هو مكتوب، إن كل بكر يكون قدس للرب من الناس والبهائم والدواب، فكم بالأحرى يكون تقديس يوم الأحد الذي هو بكر جميع ما خلق الله على الارض لأن فيه خلق الله الأشياء كلها ثم وزعها في بقية الأيام الأخر شيئاً شيئاً، كذلك فيه أيضاً قام البكر في الانبعاث من بين الأموات .</p>
<p>لقد كتب في سفر الخليقة أن الله استراح في اليوم السابع، ومعلوم أن الله لم يعمل شيئاً بآلة ولا كد ولا تعب حتي يستريح لأنه قال فكان وأمر فخلقت كما هو مكتوب، وإن كان في الخلقة تعب فإن الله لم يكن خالقاً إلى الأبد، يأتي بالأمطار في أوقاتها، في السبوت وغيرها يهتم بخليفته ويهبط الندى لنمو الأثمار ويخرج الريح بأمره على وجه الأرض ويعطي غذاء لكل ذي جسد ومن ظن أن العالم يتدبر منه وبه بعد الخلقة فهو يجدف لأن النبي يقول: &#8220;أعين الكل إياك تترجى لتعطيهم طعامهم في حينه (مز٤٥: ١٥) والرب يقول: &#8220;الذي يشرق شمسه على الأخيار والأشرار ويمطر على الصديقين والظالمين&#8221; وأما يوم السبت فهو كمال الأسبوع ذكر فيه اسم الراحة أعني الراحة المستأنفة في كمال العالم لمن يستحقها بالمسيح خاصة .</p>
<p>وأما الرب فإنه تجسد بحق وتألم وقام في هذا اليوم المقدس الذي هو بكر الأيام، هذا الذي جعله الرب خاصاً له الذي هو البكر في الأنبعاث من بين الأموات، وباركه وقدسه لأن فيه استراح من كل أعماله التي ابتدأ أن يعمل على الأرض وأراح الخليقة كلها التي كانت أولاً، خلصهم من الجحيم والذين يأتون يخلصهم بالإيمان ويجعلهم أفضل من الأولين فيجب علينا حفظ هذا اليوم ونكون فيه متفرغين للقراءة والصلاة ودرس نواميس الرب كما أمرنا الرسل الأطهار قائلين إن الله أعطانا الأحد عوضاً عن السبت فيجب أن نحفظه أشد تحفظاً من السبت لأن فيه الراحة الكاملة التي لا يلحقها تعب ولنكن متحرزين مستيقظين في هذه الليلة كما تأمرنا قوانين البيعة قائلة هكذا &#8220;ليلة قيامة ربنا فلنكن باحتراز عظيم حتى لا ينام فيها أحد ثم تغسلون أجسادكم بماء قبل الصبح&#8221; لأن في هذه الساعة جعل المخلص كل البرية أحراراً، عبيده السمائيين والأرضيين، لأنه قام من بين الأموات وصعد إلى السموات وجلس عن يمين الآب، وأيضاً يأتي في مجده وملائكته معه، ويجازي كل أحد كنحو أعماله، الذين صنعوا الخير إلى قيامة الحياة الأبدية والذين صنعوا الشر إلى قيامة الدينونة كما هو مكتوب، وأيضاً في كتاب الدسقولية تعليم الرسل الأطهار هكذا &#8220;إن الرب قام من بين الأموات، فاصعدوا أنتم أيضاً قرابينكم التي أمر بها على أيدينا قائلًا هكذا اصنعوا لذكري، ثم حلوا صومكم وأنتم مسرورون بأن الرب يسوع قد قام من بين الأموات، وصار عربون قيامتنا وهذا يكون لكم ناموسًا أبدياً إلى اتيان الرب&#8221;.</p>
<p>فيجب يا أحبائي أن نتخذ هذا العيد فصحاً، ليس بخمير الشر والمرارة بل بخمير النقاء والطهارة لأننا بهذه القيامة المقدسة مزمعون أن نولد من الأرض ميلاداً جديداً بقيامة لا تبلى، كما يقول معلمنا بطرس: تبارك الله أبو ربنا يسوع المسيح الذي بكثرة رحمته ولدنا ثانية لرجاء الحياة بقيامة ربنا يسوع المسيح من بين الأموات لميراث لا يفنى ولا يتدنس ولا يضمحل محفوظ لكم في السموات&#8221; (١بط ١: ٢) والرسول بولس يقول: &#8220;كما انبعث يسوع من بين الأموات بمجد أبيه هكذا نبعث نحن أيضاً بحياة جديدة&#8221; لأنه لأجل هذه القيامة الفاضلة كل الرسل والأنبياء والشهداء والقديسين لها مترجين، ولأجلها حفظوا الوصايا وبسببها رفضوا كرامة هذا العالم، أنظروا إلى اجتهاد الرجل الكامل في الله الرسول الإلهي بولس وكيف يقول: &#8220;ليس لي بر نفسي الذي اكتسبته من التوراة، بل البر الذي استفدته من الايمان بالمسيح وهو البر الذي من الله، وبه أعرف يسوع وقوة قيامته وأشارك أوجاعه وأتشبه بموته عسى استطيع بلوغ الانبعاث من بين الأموات&#8221; انظروا لهذا الرسول الفاضل لما عرف قوة قيامة الرب أنها تنجي من الفساد لمن يحفظها كيف جاهد لأجلها وبين أنها بر الكمال الذي يولد من الايمان بالمسيح، فلنهتم نحن الضعفاء حتى يميت منا الآن الشهوة البهيمية لكي تشرق فينا العفة الملائكية، نقتل أعضاءنا التي على الأرض التي سوف تضمحل في التراب لكي نقوم بحياة مضيئة وتكمل فينا كلمة الرسول الفاضل القائل: &#8220;لأنه إن كنا قد صرنا متحدين معه بشبه موته نصير أيضاً بقيامته&#8221; (رو ٦: ٥).</p>
<p>نصالح بعضنا بقبلة أخوية لكي نستحق السلام الذي أعطاه الرب لرسله عند قيامته من الأموات، ويملأنا من روح قدسه، اذكروا تعب صومكم الذي مضى فلا ترتضوا لأنفسكم بالسقوط في الآثام، وتدنسوا نفوسكم وأجسادكم معاً بل يجب أن نسر ونفرح بقيامة سيدنا التي بها ننال الحياة الأبدية، فإذا كانت لنا محبة في التشبه به فلنحفظ أنفسنا بلا خطية حسب قوتنا، لأن المآكل لا تبعدنا من الله لأن كل شيء طاهر للأطهار في نوع الطعام إذا أخذت منه الحاجة بكفاف وكان العقل محفوظاً من التناول خلافاً للوصية .</p>
<p>خمسون يوماً وهبها لنا ربنا ليكون فيها تذكار قيامته الشريفة وإن لم يوجب علينا فيها نسكا جسدياً، بل يجب فيها حفظ العقل الروحاني لأن أعيادنا روحانية لا يهودية جسدانية ليسر بنا الذي قام من بين الأموات ويجعل لنا حظاً في القيامة المستأنفة التي لا ينالها موت ولا وصب ولا بلوى ويصيرنا بني الملكوت وبني القيامة كما وعدنا فغسل أجسادنا بالماء أما نفوسنا فغسلها بأعمال الفضيلة .</p>
<p>نضيء بيوتنا بالمصابيح فأما مخادع قلوبنا فتضيء بالنقاوة كما سلم إلينا قائلاً: &#8220;احترس أن يكون النور الذي فيك ظلاماً&#8221; (لو ١١: ٣٥) ثم قال إذا كان جسدك نيراً ولم يكن فيه جزء مظلم أعني بالجزء الأعضاء أن لا تكون في ظلمة رديئة قال فإنه يكون نيراً كله كما أن السراج ينير لك بلمع ضيائه .</p>
<p>نقيم العقل حياً من الأعمال الميتة لكي نبلغ القيامة مع الذي انبعث من بين الأموات .</p>
<p>نشرك إخوتنا المقلين المساكين في مائدتنا الخصبة التي لهذا العيد، لكي يشركنا المسيح في الدعوة السماوية، ولتعلم أن الذي بيدك ليس هو لك، بل هو عطية من الله وبرحمته يجازيك بالاحسان متي صنعت خيراً مع شريكك في العبودية كما هو مكتوب اعط الله من الذي له وهو يحسب لك ذلك قرضاً محفوظاً عنده .</p>
<p>ونحن نسأل ربنا يسوع المسيح الذي قام من بين الأموات أن يقيم هممنا الساقطة إلى الاهتمام بما يرضيه ويسامحنا عما سلف من خطايانا ويصفح عن زلاتنا، ويعضدنا الى حفظ وصاياه مدة ما بقي من حياتنا، وينيح نفوس أمواتنا الذين رقدوا على رجاء الايمان بإسمه القدوس بشفاعة سيدتنا الطوباوية البتول والدة الخلاص القديسة مريم وبشفاعة الرسل الأطهار والشهداء والقديسين الأبرار، وكل من أرضى الرب بأعماله الصالحة آمين</p>
<h4>العظة الثانية: قيامة المسيح.. عند العلامة أوريجانوس<a href="#_ftn2" name="_ftnref2">[2]</a></h4>
<p><strong>أولاً: قيامة المسيح</strong></p>
<p><strong>قيامة المسيح وقيامة المؤمنين</strong></p>
<p>1<strong>-</strong> <strong>لما كانت لاهوتيات أوريجينوس خلاصية</strong> Soteriological يقرر أن الكتاب المقدس يؤكد على قيامة المسيح من أجل قيامة المؤمنين. أي ممارسة حياة القيامة، التي هي عربون القيامة الآتية، أو إدراك القيامة الأولى الحالية، كطريق للوصول إلى الثانية .</p>
<ul>
<li>&#8220;لنا عربون الروح القدس&#8221; (٢کو١: ٢٢)، الذي سوف نقبله في كماله &#8220;متى جاء الكامل&#8221; (1کو۱۰:۱۳). ولنا بالمثل &#8220;عربون القيامة&#8221; لكن في الواقع أنه ليس بيننا من ارتفع عد (&#8230;) في كمال القيامة.</li>
<li>إن كنتم تؤمنون أن المسيح قد قام من الموت، فلابد لكم أن تؤمنوا أنكم قد قمتم بالمثل معه.</li>
</ul>
<p>وإن كنتم تؤمنون أنه جالس عن يمين الآب في السموات فلابد أن تؤمنوا أنكم لم تعودوا فيما بعد في المشهد الأرضي، بل في السماوي.</p>
<p>وإن كنتم تؤمنون أنكم قد متم مع المسيح، فيجب أن تؤمنوا أنكم سوف تحيون معه.</p>
<p>وإن کنتم تؤمنون أن المسيح ميت للخطية وحي لله، فأنتم أيضا يجب أن تكونوا أمواتًا للخطية وأحياء لله .</p>
<p>هذا لأن الإنسان الذي «يضع ذهنه في ما هو فوق» يظهر إيمانه بمن أقام يسوع من الموت. وفيما يتعلق بهذا الإنسان، فسيحسب له الإيمان براً &#8220;فإن كنا قد قمنا مع المسيح الذي هو البر، ونمشي في جدة الحياة، ونحيا بحسب البر، فالمسيح قد قام لنا، حتى نتبرر&#8230; إذ قد اتخذنا حياة جديدة على مثال قيامته&#8221;.</p>
<p>استعادة لواقعة مباركة يعقوب لابنه يهوذا، يصور أوريجينوس الرب في قبره کأسد نائم. فبإيقاظ الآب له في القيامة قد صار المسيح يسوع ذا أثر في إضفاء الأصالة الكاملة على من في حياتهم قد جعلوا مطابقين لقيامته. ويبدو، بالنسبة لأوريجينوس أن المطابقة مع قيامة المسيح تجعل الناس &#8220;مثل الذهب&#8221; في وجودهم الحالي، بل وسوف يضاف إلى صفتهم أنهم &#8220;ذهب حقيقي&#8221; في روحانية أكثر ومطابقة أكمل مع الرب .</p>
<ul>
<li>الأشياء التي وهبت من خلال ربنا يسوع المسيح ذاته، هي من ذهب حقيقي وفضة خالصة. إذ عندما أرسله الآب لينام &#8220;مثل أسد و جرو أسد&#8221; (راجع تكوين ٤٩: ٩)، ثم أوقظه ليقوم من الموت، فإن كان هناك من جُعلوا مطابقين لقيامته، فلن يبقوا فيما بعد على تشبههم بالذهب - في سعي للأمور المادية، بل سوف يتقبلون منه الذهب الحقيقي .</li>
<li>عندما تحدث القيامة ذاتها لجسد المسيح الحقيقي والأكثر كمالاً، فإن أولئك الذين هم أعضاء للمسيح، وقد صاروا عظامًا يابسة، ستتجمع عظامهم واحدة مع الأخرى، وتركيباً مع تركيب.. إذ لن يتأتى لمن يفتقر للتوافق التركيبي، أن يصل إلى الإنسان الكامل، إلى قياس قامة ملء المسيح (أف٤: ١٣)، فتصير الأعضاء الكثيرة (1کو۱۲:۱۲) جسدًا واحدًا. إذ رغم تعددها هي أعضاء جسد واحد. ولكن الأمر يرجع إلى الله وحده، للتمييز بين القدم واليد، أو بين السمع والشم، والتي تنتمي بعضها إلى الرأس، وأخرى إلى الأقدام وغيرها من الأعضاء، بما في ذلك الأعضاء الضعيفة والمتواضعة من ذوات الكرامة الأقل أو الأكثر. سوف يُخرج الله الجسد معاً. عندئذ - وليس الآن - &#8220;سيعطي الناقص كرامة أفضل، لكي لا يكون هناك - بأي حال - انشقاق في الجسد، بل تهتم الأعضاء اهتمامًا واحدًا بعضها البعض&#8221;. فإن كان عضو أكثر غنی، فستشاطر كل الأعضاء في طيباته. و&#8221;إن كان عضو يُكرَم، فجميع الأعضاء تفرح معه&#8221;.</li>
</ul>
<p>يعتقد أوريجينوس بأنه يوجد نوعان من التجديد، يسمي الأول &#8220;بغسل التجديد&#8221;، الذي يتحقق في هذا العالم من خلال المعمودية، كعربون للتجديد الثاني الذي سوف يتحقق في العالم الآتي، ويطلق عليه &#8220;التجديد بالروح القدس والنار&#8221;.</p>
<ul>
<li>هذا هو التجديد الذي سوف يتحقق في «الوجود الجديد»، عندما تخلق سماء جديدة وأرض جديدة، لأولئك الذين جددوا ذواتهم، فيمنحوا عهدًا جديدًا مع &#8220;كأسه&#8221;. هذا التجديد - الذي يسميه بولس &#8220;بغُسل التجديد&#8221; (تي٣: ٥)، هو المقدمة، وما سوف يتحقق من &#8220;تجديد للروح&#8221; هو رمز لهذا الجديد.</li>
</ul>
<p>يمكن القول أيضًا، أنه في حين أن عند مولدنا الطبيعي &#8220;ليس أحد طاهرًا من الدنس ولو كانت حياته يوما واحدًا&#8221; (أي١٤: ٤ LXX) إلا أنه في غسل التجديد سوف يكون كل من نال &#8220;الميلاد الثاني&#8221; من الماء والروح (يو٣: ٥،٣) طاهرًا من الدنس، ولكن - إذا جاز القول - كأنه &#8220;في مرآة في لغز&#8221; (1کو۱۲:۱۳) .</p>
<p>أما في ذلك التجديد الآخر، عندما يجلس ابن الإنسان فوق عرش مجده، سيصبح كل من يحرز هذا التجديد في المسيح طاهرًا تمامًا من الدنس، ويعاينه وجها لوجه. إذ هو قد عبر من خلال &#8220;غسيل التجديد&#8221; إلى التجديد الآخر الذي يمكن إدراكه بالتأمل في كلمات يوحنا المعمدان -الذي عمد &#8220;بمعمودية الماء للتوبة&#8221;- عن المخلص الذي &#8220;سيعمد بالروح القدس ونار&#8221;.</p>
<p>بالإضافة إلى هذا، ففي &#8220;غسل التجديد&#8221;، قد &#8220;دُفنا مع المسيح&#8221; (رو٦: ٤). ولكن في التجديد بواسطة الروح القدس والنار، سوف نتطابق مع &#8220;جسد المجد&#8221; (في٣: ٢١) للمسيح الجالس على عرش مجده .</p>
<p><strong>2- القيامة كتجل للمسيح المصلوب</strong></p>
<p>في القيامة إقصاء وتجلي للمسيح المتألم، الذي يظهر کرب جبار محمل بالأمجاد والأكاليل، يأتي في البهاء كملك المجد .</p>
<ul>
<li>عندئذ سيخاطب من يمشون في ركابه، أولئك الذين عند الأبواب السماوية يقولون: &#8220;ارفعوا أيها الملوك أبوابكم. وارتفعي أيتها الأبواب الدهرية ليدخل ملك المجد&#8221;. لكنهم سيتساءلون، إذ يشاهدون يده اليمنى حمراء بالدم، وكل شخصه مغطى بعلامات بسالته: &#8220;ما بال لباسك محمر، وثيابك كدائس المعصرة؟&#8221; (إش٦٣: ٢). فيجيبهم بقوله: &#8220;قد دُستهم&#8221; (إش٦٣: ٣) .</li>
</ul>
<p>يبدو كأن أوريجينوس يعاين الإيمان الراسخ بقيامة المسيح في تأثيره على المسيحيين، من أجل أن يتطلعوا إلى &#8220;الحياة الأبدية والقيامة&#8221; غير حاسبين آلامهم الحاضرة .</p>
<ul>
<li>لقد قام من الموت، وبلغ من إقناعه لتلاميذه بحقيقة قيامته ما جعلهم يظهرون لجميع الناس - من خلال آلامهم - أن اهتمامهم مرکز على الحياة الأبدية وعلى القيامة، التي تمثلت لهم بالكلمة والفعل. لذلك، فهم يهزأون بكل مصاعب الحياة.</li>
</ul>
<p><strong>٣</strong><strong>-</strong> <strong>من خلال قيامة ربنا، صار آدم الجديد رأس الجنس البشري الممجد</strong> .</p>
<ul>
<li>كما أننا من خلال كون آدم رأس میلادنا الطبيعي، قيل أن لنا كلنا جسد واحد، فمن خلال التجديد الإلهي لموته وقيامته، صار لنا المسيح رأسًا ومثالًا.</li>
</ul>
<p><strong>٤</strong><strong>-</strong> <strong>قيامة المسيح تمجد الله الآب</strong>.</p>
<p>يعلق أوريجينوس على ما ورد في (رو٤: ٢٣- ٢٥)، فيتساءل، لماذا قدم بولس للإنسان المسيحي الله &#8220;الذي أقام يسوع ربنا من الأموات، كموضوع لإيمانه&#8221; وليس -على سبيل المثال- الله الذي خلق السموات والأرض.</p>
<p>يجيب أوريجينوس عن ذلك بأن الاختيار الأول يمجد الله الآب أكثر من الأخير.</p>
<ul>
<li>فالاختيار الأخير يشمل خلق ما لم يوجد قبلاً، أما الأول فخلاص ما قد هلك. تحقق الأخير بمجرد أمر، أما الأول فبالآلام .</li>
</ul>
<p>الآن نموذج وصورة هذا السر قد تمثلا مسبقا في إيمان أبينا إبراهيم. فقد آمن إذ صدر إليه الأمر الإلهي بذبح ابنه الوحيد، أن الله قادر على إقامته حتى من الموت. كما آمن أيضًا أن ذلك الوعد، لم يكن ليسري على اسحق وحده، إنما هو وعد سرائري، سوف يحتفظ بمغزاه الكامل لمن سوف يأتي من صلبه، الذي هو المسيح. حينئذ، قدم بفرح ابنه الوحيد، إذ لم ير في ذلك إنهاء لذريته، بل إحياء للعالم، وتجديداً لكل الخليقة، التي سيعاد توطيدها خلال قيامة الرب. لهذا قال الرب عنه &#8220;أبوكم إبراهيم تهلل بأن يرى يومي، فرأى وفرح&#8221; (يو٨: ٥٦).</p>
<h3>عظات آباء وخدّام معاصرين ليوم الجمعة من الأسبوع الأول للخماسين المُقَدَّسَة</h3>
<h4>العظة الأولى القيامة.. للقديس البابا كيرلس السادس<a href="#_ftn3" name="_ftnref3">[3]</a></h4>
<p><strong>أحبائي</strong> <strong>..</strong></p>
<p>نعيد اليوم عيد قيامة فادينا المجيد .. صانع العهد الجديد.</p>
<p>&#8220;والذي أسلم من أجل خطايانا وأقيم لأجل تبريرنا&#8221; (رو٤: ٢٥).</p>
<p>ففي ظهور مخلصنا في الجسد كانت حياته انجيلاً، وصارت للمؤمنين دستوراً جيلاً فجيلاً وفي صليبه العجيب جعل الحب أساساً، ونسج المؤمنين من البر لباساً.</p>
<p>وفى احتماله الآلام الجسام، دعمنا على السلام، وخلق فينا إحساساً.. وبقيامته من بين الأموات، أحيانا معه وجعل الروحانية أساساً.. &#8220;ونحن أموات بالخطايا أحيانا مع المسيح، بالنعمة أنتم مخلصون، وأقامنا معه وأجلسنا معه في السماويات في المسيح يسوع&#8221; (أف٢: 5، ٦).</p>
<p><strong>أحبائي</strong> <strong>..</strong></p>
<p>لقد غير رب المجد بحياته التي عاشها على الأرض ملايين من نفوس البشر تغييراً جذريا فتحولوا من اليسار إلى اليمين، ومن الشك إلى اليقين.</p>
<p>ذلك لأن نفوسهم تذوقت حلاوة حبه ونقاوة قلبه، فتشوقت إلى عذب كلامه وعمق سلامه.. ثم أشرقت على الآخرين بنور باهر، وتألقت بأمل باسم، وعمل جليل ماهر.</p>
<p>حبه الذي تجلى في الصليب جعله للبذل أساساً، وكان ولا يزال وسيظل نبراساً للعالم كله، ألواناً وأجناساً.</p>
<p>وثوب البر الذي منحه للأبرار القديسين، ثوب لا يستر الجسد فحسب، بل يجلل الروح والنفس بالبعد عن الدنايا والزهد في الخطايا. ثوب بر کامل.. غالٍ.. ثمين.</p>
<p>وفيما عانى على الصليب خلق في الأتقياء شعوراً عجيبا بالصبر في الملمات، واقتبال تجارب الحياة في ثبات.. فصار السلام في حياتهم عاملاً حياً، بعث عزاءً قوياً، فرحا لا ينزع، ورجاء لا يتزعزع .</p>
<p>والتجارب تصادف كل فرد في حياته.. تختلف أنواعها وتتعدد ألوانها تبعا لظروف كل إنسان، والنصيب الأوفر منها لبني الإيمان.. &#8220;لأنه قد وهب لكم لأجل المسيح لا أن تؤمنوا به فقط بل أيضا أن تتألموا لأجله&#8221; (في۱: ۲۹) فلا وجود لإيمان بغير آلام.. ولا خير في آلام بغير إيمان.. وفي نظرتنا للصليب تتعلم أن آلامنا  بالغة ما بلغت – تتضاءل إزاء ما كابده مصدر الحياة ليمنح لنا الخلاص والنجاة &#8220;فإني أحسب أن آلام الزمان الحاضر لا تقاس بالمجد العتيد أن يستعلن فينا&#8221; (رو٨: ١٨).</p>
<p><strong>أحبائي</strong> <strong>..</strong></p>
<p>في قيامة المسيح له المجد من الأموات منحنا نعمة الحياة.. وكما جبل من التراب الجسد، منح لأتقيائه بقيامته حياة الأبد.. منذ ذلك اليوم السعيد - يوم القيامة المجيد  صارت الروحانية مقياساً.. فلا يقاس المؤمن  أيا كان شأنه بالطول أو العرض، بالثروة أو الجاه، بالعلم أو الفلسفة.. وإنما يقاس بالروحانية تغمر وجدانه وتملأ كيانه، تقوي بنیانه و تبرز للعالم إيمانه .</p>
<p>&#8220;فإن كنتم قد قمتم مع المسيح فاطلبوا ما فوق حيث المسيح جالس عن يمين الله&#8221; (کو۱:۳).</p>
<p>لقد كانت قيامة السيد له المجد حداً فاصلاً بين عهدين.. عهد ساد فيه الموت - موت الخطية  على البشرية جمعاء، فتفاقم الخطر وعم الضرر، وبين عهد جديد - عهد حياة وتجديد  بعث به رب الحياة إلى الذين أخذوا من الله نعمة أعمق  وشركة ألصق، وإيمانا أوثق .</p>
<p><strong>أحبائي</strong> <strong>..</strong></p>
<p>هيا نحتفل بالعيد، بروح العهد الجديد.</p>
<p>هيا تتأمل قيامته العظيمة فتتوافر لدينا الروحانية في سجاياها الكريمة .</p>
<p>هيا نترسم خطاه، ونعمل على تبليغ رسالة الحياة إلى الخطاة.</p>
<p>هيا نترنم بأغاريد المجد، ونشدو بأناشيد الحمد.</p>
<p>هيا نستعيد ذات النهضة الفتية التي بعثتها القيامة بروح قوية.</p>
<p>هيا لينتظم المؤمنون في مواكب تسير بقلوب نابضة وإرادة ناهضة .</p>
<p>هيا نؤدي رسالة جلية واضحة، تهدف إلى خير البشرية، وتزيح عوائق معطلة للنمو، وعثرات تحول دون السمو .</p>
<p>هيا نعمل جادين متعاونين مع إخوتنا، لنبلغ بالقيم الروحية إلى مداها، وندفع بالإرادة الخيرة إلى أقصاها.</p>
<p>هيا نفيض عطفا وحبا لإخوتنا المحتاجين البائسين، وراحة وعزاء للمتعبين المتضايقين، ونوراً ورجاء للخطاة البعيدين.</p>
<p>هيا نصلى أن يمنح الله قادة الأمم رغبة أكيدة في السلام، حتى تزول أسباب الاضطراب وبواعث الفرقة والخصام، فيحيا الجميع حياة كريمة، متحابين متآلفين، متعاونين على الخير متكاتفين .</p>
<p>&#8220;لنعرفه وقوة قيامته وشركة آلامه متشبهين بموته&#8221; (في3: 10).</p>
<p><strong>نعمة ربنا يسوع المسيح ومحبة الله الآب وشركة الروح القدس مع جميعنا. آمين.</strong></p>
<h4>العظة الثانية: تذكارات القيامة.. لقداسة البابا تواضروس الثاني<a href="#_ftn4" name="_ftnref4">[4]</a></h4>
<p><strong>١- القبر:</strong> كان مستعاراً من يوسف الرامي، فالمسيح لم يكن له مذود في ميلاده أو سكن في حياته أو قبر في مماته، وهذا تعليم عن الاكتفاء والتجرد والفقر .</p>
<p>كان القبر جديداً منحوتاً في الصخر مثال للقلب يجب أن يكون جديداً .</p>
<p>لقد قام من القبر والحجر موضوع … تماماً مثل ولادته من عذراء ، ومثل ظهوره في العلية والأبواب مُغلقة ، القبر نرمز له بالجرن في سر المعمودية وبالصينية في سر التناول .</p>
<p>٢<strong>- الأكفان:</strong> ترك الأكفان لأنه ليس هناك حاجة لها، بعكس لعازر خرج بالأكفان لأنه سيموت ثانية .</p>
<p>٣<strong>- الحنوط:</strong> أعدّها نيقوديموس ثم النسوة، وهذا يذكِّرنا أنه يجب أن لا نظهر أمام الرب بيد فارغة .</p>
<ul>
<li>الحجر الثقيل لم يمنعهم من الذهاب بالحنوط .</li>
<li>لقد صارت الحنوط أساس عمل الميرون وطبخه .</li>
</ul>
<p><strong>٤- المنديل:</strong> رآه بطرس مع الأكفان بعكس يوحنا لم يَرى سوى الأكفان، وفي هذا تأكيد لحب الله للخطاة (بطرس) وقبول توبتهم .</p>
<p><strong>٥</strong><strong>-</strong> <strong>الحجر:</strong> رُفِعَ بعد قيامة المسيح ومنه نتعلّم: لا تيأس أمام المشاكل أبداً.</p>
<p>وفي صلاة القداس الإلهي نرمز للحجر بمفرش كبير نسميه الابروسفارين وعليه لفافة مثلثة رمز للختم على الحجر، وبعد صلاة الصلح يُرفَع الابروسفارين .</p>
<p>حقاً قال الملاك: &#8220;أنتُنَّ تطلُبن يسوع الناصري المصلوب، قد قام! ليس هو هَهُنا&#8221; (مر١٦: ٦).</p>
<p><strong>القيامة والرجاء:</strong></p>
<p>كانت حياة الإنسان قبل القيامة تمتد ما بين نقطتين هما التفاؤل والتشاؤم، ولكل نقطة أسباب عديدة تدعو لها، وبعد القيامة صار للإنسان إتجاه جديد هو &#8220;الرجاء&#8221; في كل الأمور، الضيقة والمتسعة، وكأن لسانه يقول مع بولس: &#8220;كل الأشياء تعمل معاً للخير للذين يحبون الله&#8221; (رو ٨: ٢٨) .</p>
<p>ولذلك نرى.. أن الشيطان لا يملك سوى سلاح اليأس الذي يحاول أن يوقع الإنسان فيه مثل يهوذا، ولكننا نستطيع أن نغلب من خلال القيامة.. من خلال الرجاء، إن أبشع خطية أستطيع ارتكابها هي فقد رجائي فيك.. لذا فالخطية الوحيدة التي يجب أن لا أرتكبها هي هذا النداء المخيف &#8220;لقد فات الأوان&#8221; إنك تستطيع أن تبدأ مع المسيح الآن، كما تعلَّمنا الكنيسة في صلاة باكر كل يوم &#8220;فلنبدأ بدءاً حسناً&#8221; هذا يتوقف على إرادتك الشخصية وقرار توبتك .</p>
<p>إن القيامة تحلّ مشكلات الإنسان الأساسية مثل:</p>
<ul>
<li><strong>الموت: </strong>&#8220;أين شوكَتُك يا موت؟ أين غَلبَتُك يا هاوية؟&#8221; (١كو ١٥: ٥٥) .</li>
<li><strong>الخوف:</strong> &#8220;كان التلاميذ مجتمعين لسبب الخوف… جاء يسوع… وقال لهم سلام لكم&#8221; (يو٢٠: ١٩).</li>
<li><strong>الحزن:</strong> &#8220;ولما… أراهم يديه وجنبه، ففَرح التلاميذ إذ رأوا الرب&#8221; (يو٢٠: ٢٠) .</li>
<li><strong>الشك:</strong> &#8220;قال له يسوع لأنك رأيتني يا توما آمنت! طوبى للذين آمنوا ولم يروا&#8221; (يو٢٠: ٢٩) .</li>
<li><strong>الخطية:</strong> &#8220;إن المسيح مات من أجل خطايانا حسب الكُتُب وأنه دُفِن وأنه قام في اليوم الثالث&#8230; ولكن شكراً لله الذي يُعطينا الغلبة بربنا يسوع المسيح&#8221; (١كو ١٥: 3، 4، ٥٧).</li>
</ul>
<h4>العظة الثالثة: المسيح قام.. المتنيح الأب متى المسكين<a href="#_ftn5" name="_ftnref5">[5]</a></h4>
<p>لم يعد لنا سبت بل أحد نعيد فيه إلى الأبد.</p>
<p><strong>&#8221; </strong><strong>ملاك الرب نزل من السماء ودحرج الحجر&#8221;</strong> (مت ۲۸: ٢).</p>
<p>كان باب القبر مختوماً بختمين: الأول خاتم السلطات الرومانية وكان بمعرفة رؤساء الكهنة حتى يمنعوا سرقة الجسد، أو بالحرى ليمنعوا الحقيقة الكبرى: قيامة المسيح .</p>
<p>وهذا الخاتم أقاموا عليه عساكر الرومان للحراسة ثلاثة أيام .</p>
<p>والخاتم الثاني خاتم الحكم الإلهى حكم الموت الأبدي على بني البشر، وهذا الخاتم قامت قوات الظلمة وعساكر الشيطان لتحرسه آلاف السنين.</p>
<p>أما الخاتم الأول فاستطاع الملاك النازل من السماء أن يكسره ويدحرج الحجر عن فم القبر، فارتعد حراس الرومان وسقطوا أمام قوته مذهولين. ولما سمع رؤساء الكهنة ذلك رفعوا التراب على رءوسهم..</p>
<p>وأما الخاتم الثاني فاستطاع الجبار الذي صلب بإرادته ومات بإرادته أن يفك هذا الختم الأبدي لأنه قام بإرادته وسلطانه وحده &#8220;لي سلطان أن أضعها، ولي سلطان أن آخذها&#8221; وحينئذ ارتعدت قوات الظلمة وانذهلت عساكر الشيطان لما واجهوا جبروت القائم من الموت كمن يفيق من الخمر، واندحروا أمامه لما واجهوا حقيقة لاهوته. فانفلت من أيديهم الحكم الذي نفذوه على البشرية كل الدهور السالفة .</p>
<p><strong>حكم الموت</strong><strong> :</strong></p>
<p>أريد أن أعرفكم أيها الأحباء ماذا صنع المسيح بالموت:</p>
<p>كانت جميع نفوس البشر تؤخذ إلى الهاوية بعد الموت سواء كانوا أبراراً أم أشراراً، ليبقوا هناك تحت سلطان ابليس عدو الانسان منذ البدء، وذلك طبقاً لحكم الله..</p>
<p>فلما جاء المسيح ومات انفصلت نفسه عن جسده لأن هذا هو معنى الموت، غير أن لاهوته لم ينفصل قط لا عن جسده ولا عن نفسه.. وضع الجسد في القبر، ونزلت النفس إلى الهاوية المسماة بالجحيم أيضاً، ولكنها لم تكن نفساً ذليلة لتخضع لسلطان الشيطان، وإنما كانت نفس الإله الذي زلزلت أساسات الهاوية ثم خرجت ومعها كل نفوس الصديقين والأبرار الذين ماتوا على رجاء القيامة، الذين نظروا المواعيد من بعيد وصدقوها وحيوها، الذين عملوا للخلود واستحقوه.</p>
<p>وهكذا انفتحت أبواب الهاوية ولم يعد للموت أو الشيطان سلطان على الأبرار، ليس اننا لا نموت ولكن نموت لنقوم، بعد أن كنا نموت لنبقى تحت حكم الموت وسلطانه .</p>
<p>فلم يعد الموت يخيفنا لأننا سنغلبه بل غلبناه في المسيح بكرنا القائم من الأموات هذا الذي استطاع أن يكسر شوكته ويغلب هاويته &#8220;أين شوكتك يا موت وأين غلبتك يا هاوية&#8221;.</p>
<p>&#8220;<strong>إنه قام باكراً جداً في أول الأسبوع&#8221;</strong> (مت١٦: ۲).</p>
<p>قام المسيح في فجر الأحد أول الأسبوع فصار لنا يوماً مقدساً وعيداً أبدياً.. لم يعد لنا سبت للراحة من أتعاب الجسد ولكن صار لنا الأحد عيداً للروح من شقاء الموت ولعنته.</p>
<p>السبت كان للجسد والجسدانيين والأحد صار للروح والروحانيين!.</p>
<p>لم يعد لنا شقاء ولم يعد لنا بكاء ولم يعد تناسبنا السبوت! فقد حول المسيح لعنة آدم إلى بركة، وبارك الأرض بعد لعنتها. فبعد أن كنا نخرج خبزنا من الأرض بعرق جبيننا حول خبزنا إلى جسده الحي المحيي فصار عرقنا فيها صلاة وخبزنا منها حياة.</p>
<p>فلم تعد حياتنا للموت بل صار موتنا للحياة!!.</p>
<p>فانظروا لئلا تفسدوا القيامة ومجدها بأفكاركم العتيقة، ليس شقاء أو لعنة، ليس حزن أو يأس، ليس دموع للموت، فلا تطلبن الحي من بين الأموات.</p>
<p>قام المسيح ليغير كل شيء، وليجدد كل شيء، ليجعل أرضنا بركة وعرقنا صلاة وشقاءنا لذة ودموعنا فرحاً وموتنا حياة.</p>
<p><strong>&#8220;</strong><strong>دفع اليَّ كل سلطان في السماء وعلى الأرض&#8221;</strong> (مت ۲۸: ١٨).</p>
<p>كان قبلاً رجل أحزان وأوجاع ولم يكن له منظراً فنشتهيه، وقف في جثسيمانى يصلي بعرق يتصبب كالدم، قدم وجهه للبصق وانحنى تحت الصليب! ولكنه الآن استرد السلطان الذي تخلى عنه بإرادته، أخذ المجد الذي كان له عند أبيه قبل كون العالم، صار له اسماً فوق كل اسم وكل رياسة وسلطان..</p>
<p>لم يأخذ المسيح سلطاناً، ولكنه أخذ كل سلطان .</p>
<p>لم يأخذ كل سلطان على الأرض ولكنه أخذ كل سلطان في السماء وعلى الأرض !</p>
<p>سلطان على الملائكة وقوات السماء، سلطان على الناس وكل الخليقة، سلطان على الموت والشيطان، سلطان على الحياة والخلود.</p>
<p>نعم أخذ سلطان الله!!!..</p>
<p>صار واحداً مع أبيه، صار واحداً مع الروح القدس، صار للآب والابن والروح القدس سلطاناً واحداً .</p>
<p>لقد تكشفت حقيقة المسيح بعد القيامة وصار لنا المسيح كل شيء، ونحن الآن إذ نعرفه و نعبده لا نعرفه أو نعبده في الجسد (قارن ٢كو٥: ١٦) بل إلهاً ممجداً في يده مخارج الحياة والموت، و به الغفران والمصالحة، ومن عنده كل عطية وموهبة صالحة .</p>
<p>ولكنه بالرغم من ذلك لا زال حبيبنا الذي نحبه. الذي عاش بيننا. الذي أكل خبز نا وشرب ماءنا، حبيبنا الذي بكى لبكائنا، ورثى لضعفنا وغسل أرجلنا .</p>
<p>أيها الخطاة افرحوا اليوم فهذا عيدكم لأنه صار لكم شفيعاً في السماء. يعرف ضعفكم ويرثي لحالكم ويقبل توبتكم ويغسل أدناسكم ويسربلكم بثوب الطهارة والمجد .</p>
<p>أيها الضعفاء افرحوا فاليوم عيدكم لأن لكم رباً رحيماً يجازي لا بالعدل بل بالحب والرحمة، فاعملوا ولو ساعة واحدة لأنه سيعطيكم أجرة مثل الذين تعبوا اليوم كله..</p>
<p>أيها المرضى اشكروا واصبروا، بل افرحوا، فاليوم قام سيد الآلام ناقضاً أوجاع الموت محولاً ضيقتكم إلى سعة وصبركم إلى أجر..</p>
<p>أيها الحزانى تعزوا فاليوم قام البكر من بين الأموات ليمسح دموعكم ويحول نوحكم إلى فرح.</p>
<p>أيها الجاحدون ارجعوا هوذا قبل بطرس الذي جحده ثلاث مرات، فهو يشتاق إلى رجوعكم ومنتظر عودتكم لأنه أعد الوليمة وهو آت ليأخذكم.</p>
<p><strong>أيها الأحباء عيدوا جميعاً وافرحوا؟.</strong></p>
<hr />
<h3>المراجع</h3>
<p><a href="#_ftnref1" name="_ftn1">[1]</a>  كتاب مقالات الأنبا بولس البوشي - صفحة ٧٨ - القس منقريوس عوض الله.</p>
<p><a href="#_ftnref2" name="_ftn2">[2]</a>  كتاب الفكر الأخروي عند العلامة أوريجانوس - صفحة ٣ - القمص تادرس يعقوب ملطي.</p>
<p><a href="#_ftnref3" name="_ftn3">[3]</a>  مجلة مدارس الاحد عدد مايو لسنة 1965.</p>
<p><a href="#_ftnref4" name="_ftn4">[4]</a> كتاب المنجلية القبطية الأرثوذكسية - صفحة ٣٨٩ - قداسة البابا تواضروس الثاني.</p>
<p><a href="#_ftnref5" name="_ftn5">[5]</a>  مجلة مدارس الأحد عدد يونيه لسنة ١٩٥٥.</p>

      {% endcreateArticleAccordions %}
    </section>
  {% endblock %}
