---
layout: 'layouts/reading.html'
title: 'يوم السبت من الأسبوع الأوَّل للخماسين المُقَدَّسَة'
tags: 'pentecost'
permalink: /articles/pentecost/1-6.html
---
  {% block content %}
    <section id="readings">
      <ul>
      {% if 'undefined' != 'undefined' %}
      
      {% else %}
      {% if '19.119:10-11' != 'null' %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">العشية</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeVespers '19.119:10-11' '43.6:54-58' %}
          </div>
        </div>
      </li>
      {% endif %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">باكر</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeMatins '19.77:2' '43.20:19-23' '' %}
          </div>
        </div>
      </li>
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <h3 class="flex items-center justify-between">
            <span class="kufi">القداس</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </h3>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeLitugy '51.1:12-23' '62.1:1-7' '44.4:19-31' '19.119:73-73' '42.9:28-35' %}
          </div>
        </div>
      </li>

      {% endif %}
        </ul>
    </section>
    <section id="article">
      <h3 class="mt-8 mb-4 heading-explain">شرح القراءات</h3>
      {% createArticleAccordions %}
        <h3>إنفتاح الأعين على إبن الله، وعلى يقين قيامته</h3>
<p>تتكلم القراءات عن &#8220;<strong>إنفتاح الأعين على إبن الله</strong>&#8221; كمدخل لأحد إنفتاح أعين توما على جراحات المسيح وصرخته ربي وإلهي.</p>
<h4>المزامير</h4>
<p>فتتحدث المزامير عن:</p>
<ul>
<li><strong>توبة كل عضو في الجسد وشركته مع الله</strong> (مزمورعشية، ومزمور القداس).</li>
<li>لذلك يوضح مزمور ١١٨ (مزمور عشية ومزمور القداس) <strong>أهمية حفظ الوصية</strong> &#8220;من كل قلبي طلبتك فلا تبعدني عن وصاياك&#8221; (مز ١١٨: ١٠ مزمور عشية)، &#8220;فهمني فأتعلم وصاياك&#8221; (مز ١١٨: ٥٢ مزمور القداس).</li>
<li>وفي صلاته الدائمة (في مزمور باكر) تعبيراً عن <strong>إشتياقات النفس الشديدة لرؤية الله والتمسك به</strong> &#8220;التمست الله بيدي&#8221; (مز ٧٦: ١).</li>
<li><strong>إنجيل عشية</strong></li>
</ul>
<p>وفي إنجيل عشية عن ← <strong>الافخارستيا كطريق للإتحاد بالمسيح والثبات فيه</strong> ووحدتنا في المسيح وهي التي تفتح عيوننا عليه كما حدث مع تلميذي عمواس اللذان عرفاه عند كسر الخبز</p>
<p>&#8220;مَنْ يأكُل َجَسدي وَيشَرُب َدمي فلهُ حياةٌ أبديةٌ، وأنا أُقيُمهُ في اليو ِم الأخير&#8230; يثبت في من يأكل جسدي ويشرب دمي وأنا أيضاً أثبت فيه&#8221; (يو٦: ٥٤، ٥٦).</p>
<h4>انجيل باكر</h4>
<p>وفي انجيل باكر عن ← <strong>المسيح رأس الكنيسة وفي وسطها دائماً</strong> وهو الذي يعلن ذاته لها ويعطيها السلام ويُشبعها بجروحه وآلامه ثم يُرسل دائماً خدامه ورعاته بروحه القدوس</p>
<p>&#8220;جا َء َيسوعُ وَوَقَف في َوسِطهم، وقا َل لهم: السلا ٌم لكُم. ولَّما قا َل هذا أراهْم َيَديِه وَجنَبهُ،&#8230; كما أرَسلَني أبي أرسلكم أنا أيضاً&#8221;.</p>
<h4>البولس</h4>
<p>وفي البولس ← <strong>تنفتح أعيننا على ميراثنا في النور وملكوت ابن محبّته</strong> وفداؤنا بدمه وكمالنا فيه ومُصالحته التي جعلتنا قديسين بلا عيب.</p>
<p>&#8220;شاكرين الله الآب الذي أهلنا للدخول إلي نصيب ميراث القديسين في النور الذي انقذنا من سلطان الظلمة ونقلنا الي ملكوت ابن محبّته&#8230; وهو نفسه رأس الجسد أي الكنيسة الذي هو البداءة وبكر من الأموات ليصير هو في الأشياء كلها متقدماً لأن فيه سُرَ أن يسكن الكمال كله&#8230; فالآن صالحكم بجسد بشريته بموته ليحضركم قديسين وغير معابين وللزلل عادمين قدّامه&#8221;.</p>
<h4>الكاثوليكون</h4>
<p>وفي الكاثوليكون عن ← <strong>إنفتاح أعين القلب الداخلية على الشركة مع الثالوث</strong> التي يثريها الحب ويقدسها الروح ويملأها نور المسيح.</p>
<p>&#8220;والحياة ظهرت ورأينا ونشهد ونبشركم بالحياة الأبدية التي كانت لدى الآب وظهرت لنا الذي رأيناه وسمعناه نبشركم به ليكون لكم أيضا شركة معنا وأما شركتنا نحن فهي مع الآب ومع ابنه يسوع المسيح&#8230; فأما إن سلكنا في النور كما أنه هو ساكن في النور فلنا شركة بعضنا مع بعض&#8221;.</p>
<h4>الابركسيس</h4>
<p>وفي الابركسيس عن ← <strong>إنفتاح قلب الكنيسة المُصليِّة بفكر واحد لإستقبال ملء الروح القدس</strong> وروح الشهادة والكرازة والمجاهرة بكلمة الله.</p>
<p>&#8220;فحين سمعوا ذلك رفعوا إلى الله صوتاً معاً.. وإذ توسلوا تزلزل الموضع الذي كانوا فيه مجتمعين وإمتلأوا كلهم من الروح القدس وتكلموا بكلام الله مجاهرة.&#8221; (أع ٤: ٢١، ٣١).</p>
<h4>إنجيل القداس</h4>
<p>وفي إنجيل القداس عن:</p>
<ul>
<li><strong>إنفتاح أعين التلاميذ على مجد ابن الله</strong> في التجلّي والكنيسة الواحدة التي تشمل العهد القديم (موسى وايليا) والعهد الجديد (بطرس ويعقوب ويوحنا) السمائيين والأرضيين، المتزوجين والبتوليين.. الكل واحد في المسيح، والمسيح متجلياً في كنيسته وسط شعبه يدعو الكل إلى الإستيقاظ والصلاة ليروا مجده، وليروا مجدهم فيه بموته وقيامته.</li>
</ul>
<p>&#8220;وكان فيما هو يصلي تغير وجهه وابيضت ثيابه لامعة كالبرق وإذ برجلين يخاطبانه وهما موسى وايليا اللذان تراءيا في مجد وكانا يتكلمان عن خروجه الذي كان مزمعاً أن يكمله في أورشليم. أما بطرس واللذان معه فكانوا قد تثقلوا بالنوم ولما استيقظوا رأوا مجده.&#8221; (لو ٩: ٢٩- ٣٢).</p>
<ul>
<li>وهنا رأى التلاميذ <strong>مجد جسد الكلمة</strong> الذي أضاء كالشمس كما سيرون في قراءات غداً الأحد مجد جراحاته في جسده بعد القيامة في لقاؤه مع التلاميذ وتوما معهم:</li>
<li>ليُستعلن مجد ابن الله فينا بالصلاة (إنجيل قدّاس السبت).</li>
<li>ومجد آلامه فينا بالقيامة (إنجيل قدّاس الأحد).</li>
</ul>
<h4>ملخص الشرح</h4>
<ul>
<li>حفظ الوصيّة، وإشتياق القلب لله، الطريق لإنفتاح الأعين عليه. (مزمور عشية، وباكر، والقداس).</li>
<li>الله القائم من بين الأموات حاضر في وسطنا، في عبادتنا الليتورجية، وفِي صلاة الشركة. (انجيل عشية وباكر).</li>
<li>ميراثنا الثمين في قيامة المسيح تنفتح أعيننا عليه في شركتنا مع الثالوث وصلاتنا بقلب وفكر واحد. (البولس والكاثوليكون والإبركسيس ).</li>
<li>عندما نستيقظ (التوبة اليومية) سنعيش مجد نور قيامته. (انجيل القدَّاس).</li>
</ul>
<h3>عظات آبائية للسبت الأوَّل من الخمسين يوم المقدسة</h3>
<h4>عربون الحياة الأبدية في هذا الدهر (تجلَّي الطبيعة البشرية في المسيح) .. القديس مقاريوس الكبير<a href="#_ftn1" name="_ftnref1">[1]</a></h4>
<ul>
<li>إن المسيحيين الكاملين الذين حسبوا أهلًا لأن يبلغوا درجات الكمال ويصيروا أكثر دنوّاً من الملك، هؤلاء يكونون كل حين مُكرَّسين لصليب المسيح، لأنه كما أن المسحة في زمان الأنبياء كانت أكثر كرامة من كل ما عداها، لأنهم كانوا يُمسحون بواسطتها ملوكاً وأنبياء، <strong>هكذا</strong> <strong>الروحانيون</strong> <strong>الآن، الممسوحون</strong> <strong>بالمسحة</strong> <strong>السماوية،</strong> <strong>يصيرون</strong> <strong>مسحاء</strong> <strong>بحسب</strong> <strong>النعمة،</strong> <strong>حتي</strong> <strong>إنهم</strong> <strong>يصبحون</strong> <strong>ملوكًا</strong> <strong>وأنبياء</strong> <strong>للأسرار</strong> <strong>السماوية</strong>. <strong>هؤلاء</strong> <strong>يكونون</strong> <strong>أبناءً</strong> <strong>وأرباباً</strong> <strong>وآلهة،</strong> <strong>مربوطين</strong> <strong>ومأسورين</strong> <strong>ومغمورين</strong> <strong>ومصلوبين</strong> <strong>ومكرسين</strong>. فإن كانت مسحة الزيت، وهي نبتٍ ظاهرٍ وشجرة منظورة، قد صار لها من القدرة بحيث إن الممسوحين بها ينالون بلا مِراءٍ مرتبة جليلة - إذ قد بات يقيناً أنهم هكذا يُقامون ملوكاً، الأمر الذي تحقق أيضاً في داود الذي بعدما مُسِحَ ضُيِّقَ عليه للحال واضطُهد، ولكن بعد سبع سنين أصبح ملكاً - <strong>فكم</strong> <strong>بالحري</strong> <strong>جميع</strong> <strong>الذين</strong> <strong>يُمسَحون</strong> <strong>في</strong> <strong>فكرهم</strong> <strong>وانسانهم</strong> <strong>الباطن</strong> <strong>بزيت</strong> <strong>البهجة</strong> <strong>المقدس</strong> <strong>المُفرح</strong> <strong>السماوي</strong> <strong>الروحاني،</strong> <strong>يقبلون</strong> <strong>سمة</strong> <strong>ذلك</strong> <strong>الملكوت</strong> <strong>غير</strong> <strong>الفاسد</strong> <strong>والقدرة</strong> <strong>السرمدية،</strong> <strong>يقبلون</strong> <strong>عربون</strong> <strong>الروح،</strong> <strong>الروح</strong> <strong>القدس</strong> <strong>المعزي،</strong> وهو دُعي &#8220;معزياً&#8221; لأنه يعزي المتضايقين ويُفرحهم.</li>
<li><strong>فهؤلاء،</strong> <strong>حينما</strong> <strong>يُمسحون</strong> <strong>من</strong> <strong>شجرة</strong> <strong>الحياة،</strong> <strong>التي</strong> <strong>هي</strong> <strong>يسوع</strong> <strong>المسيح، ومن</strong> <strong>النبت</strong> <strong>السماوي،</strong> <strong>فإنهم</strong> <strong>يُؤَهَّلون</strong> <strong>لبلوغ</strong> <strong>قامات</strong> <strong>الكمال، أعني</strong> <strong>قامات</strong> <strong>الملكوت</strong> <strong>والتبني،</strong> <strong>ويكونون</strong> <strong>شركاء</strong> <strong>للملك</strong> <strong>السماوي</strong> <strong>في</strong> أ<strong>سراره،</strong> <strong>ويقتنون</strong> <strong>دالة</strong> <strong>لدى</strong> <strong>ضابط</strong> <strong>الكل،</strong> <strong>ويَلِجُون </strong>- <strong>وهم</strong> <strong>بعد</strong> <strong>في</strong> <strong>هذا</strong> <strong>العالم</strong>- <strong>بلاطه</strong> <strong>حيث</strong> <strong>الملائكة</strong> <strong>وأرواح</strong> <strong>القديسين</strong>. لأنهم وإن لم يحوزوا بعد إرثهم الكامل المعد لهم في ذلك الدهر، إلا أنهم يكونون على يقين لأجل العربون الذي قبلوه الآن، وكأنهم بالفعل مُكلَّلون ويملكون. وهم لايستغربون أنهم عتيدون أن يملكوا مع المسيح عند فيض الروح القدس ومجيئه. لماذا؟ لأنهم وهم بعد في الجسد كانوا يختبرون مذاقة حلاوته وقوة قدرته.</li>
<li>فكما أنه حين يكون أحدٌ صديقاً للملك، قد أَلِفَ البلاط وبات على دراية بأسراره وناظراً أرجوانه؛ ثم يحدث أن يُتَوَّج هذا ملكاً، فإنه لا يستغرب ولا يَجْفُل لكونه تمرَّس زماناً طويلاً على أسرار البلاط - إذ لا يؤخذ أحد من الدهماء والعامة والذين لاعهد لهم بالأسرار الملوكية ليدخل به ويصير ملكًا، بل فقط المتمرسون والمتأدبون - على هذا المنوال أيضاً المسيحيون المزمعون أن يملكوا في ذلك الدهر، فإنهم لايستغربون هذا، كونهم بالفعل قد سبقوا فعرفوا أسرار النعمة. فلأن الإنسان كان قد تعدى الوصية، فقد أسدل الشيطان على النفس برمتها حجاباً مظلماً، ولذا تأتي النعمة أخيراً وتهتك الستر بكامله، حتى إن النَّفس أخيراً - وقد أضحت نقية واستردت طبيعتها الخاصة كخليقة بلا عيب ونقية - ترى جليّاً، كل حين بنقاوة وعينين طاهرتين، مجد النور الحقيقي وشمس البر (أنظر ملا 4: 2) الحقة ساطعة في ذات قلبها.</li>
<li><strong>فكما</strong> <strong>أنه</strong> <strong>عند</strong> <strong>الانقضاء،</strong> <strong>عندما</strong> <strong>يزول</strong> <strong>جلد</strong> <strong>السماء،</strong> <strong>يعيش</strong> <strong>الأبرار</strong> <strong>أخيراً</strong> <strong>في</strong> <strong>الملكوت</strong> <strong>والنور</strong> <strong>والمجد،</strong> <strong>ولا</strong> <strong>ينظرون</strong> <strong>شيئًا</strong> <strong>آخر</strong> <strong>سوى</strong> <strong>كيف</strong> <strong>يكون</strong> <strong>المسيح</strong> <strong>في</strong> <strong>مجد</strong> <strong>على</strong> <strong>الدوام</strong> <strong>عن</strong> <strong>يمين</strong> <strong>الآب؛ هكذا</strong> <strong>أيضًا</strong> <strong>هؤلاء</strong> <strong>منذ</strong> <strong>الآن</strong> <strong>يكونون</strong> <strong>مختطفين</strong> <strong>ومأسورين</strong> <strong>إلى</strong> <strong>ذلك</strong> <strong>الدهر</strong> <strong>وشاخصين</strong> <strong>إلى</strong> <strong>كل المحاسن</strong> <strong>والعجائب</strong> <strong>التي</strong> <strong>هناك</strong>. <strong>لأننا</strong> <strong>وإن</strong> <strong>كنا</strong> <strong>على</strong> <strong>الأرض،</strong> <strong>إلا</strong> <strong>أن</strong> <strong>موطننا</strong> <strong>هو</strong> <strong>في</strong> <strong>السماوات،</strong> <strong>ومعيشتنا</strong> <strong>ورعويتنا </strong>- <strong>بحسب</strong> <strong>الفكر</strong> <strong>والانسان</strong> <strong>الباطن </strong>- <strong>هما</strong> <strong>في</strong> <strong>ذلك</strong> <strong>العالم</strong>. <strong>لأنه</strong> <strong>كما</strong> <strong>أن</strong> <strong>العين</strong> <strong>الظاهرة،</strong> <strong>إن</strong> <strong>كانت</strong> <strong>نقية،</strong> <strong>تنظر</strong> <strong>الشمس</strong> <strong>بصفاء</strong> <strong>على</strong> <strong>الدوام؛</strong> <strong>هكذا</strong> <strong>أيضاً</strong> <strong>العقل</strong> <strong>الذي</strong> <strong>تنقى</strong> <strong>بالتمام</strong> <strong>ينظر</strong> <strong>كل</strong> <strong>حين</strong> <strong>مجد</strong> <strong>نور</strong> <strong>المسيح،</strong> <strong>ويكون</strong> <strong>ليل</strong> <strong>نهار</strong> <strong>ملازمًا</strong> <strong>الرب</strong> <strong>ملازمة</strong> <strong>جسد</strong> <strong>الرب</strong> <strong>المتحد</strong> <strong>بلاهوته</strong> <strong>للروح</strong> <strong>القدس</strong> <strong>على</strong> <strong>الدوام</strong>.</li>
</ul>
<p>علي أن هذه القامات لا يدركها بنو البشر للتو، بل بتعب وضيقات وجهاد كثير.لأن هناك أناسًا تكون النعمة ملازمة لهم تعمل وتستريح فيهم، بينما يكون الشر أيضًا حاضرًا معهم في داخلهم، وتعتمل كلتا السيرتين - التي للنور والتي للظلمة - في قلب واحد.</p>
<h4>التجلِّي – القديس كيرلس الكبير<a href="#_ftn2" name="_ftnref2">[2]</a></h4>
<p><strong>(لو 9: 27- 36)</strong></p>
<p>إن أولئك الماهرون في المصارعة يفرحون حينما يصفق لهم المشاهدون، وهم يرتفعون إلى مستوى عال ومجيد من الشجاعة بواسطة رجاء الحصول على إكليل النصر. وهكذا أيضاً أولئك الذين يرغبون أن يحسبوا أهلاً للمواهب الإلهية، والذين يعطشون إلى أن يصيروا شركاء الرجاء المعد للقديسين، فإنهم يدخلون المعارك لأجل التقوى في المسيح، ويسلكون حياة ذكية، ولا يركنون إلى الكسل في عدم الشكر، ولا يغرقون في جبن وضيع، بل بالحري يقاومون برجولة كل تجربة، ولا يخافون من عنف الاضطهادات، إذ هم يحسبونه ربحاً أن يتألموا من أجله، لأنهم يتذكرون أن بولس المبارك يكتب هكذا: &#8220;آلام الزمان الحاضر لا تقاس بالمجد العتيد أن يستعلن فينا&#8221; (رو٨: ١٨).</p>
<p>لذلك، لاحظوا كم هي جميلة جداً الطريقة التي يستعملها أيضاً ربنا يسوع المسيح لمنفعة وبنيان جماعة الرسل. لأنه قال لهم: &#8220;إن أراد أحد أن  يأتي ورائي، فلينكر نفسه ويحمل صليبه كل يوم ويتبعني، لأن من يخلص نفسه يهلكها، ومن يضيع نفسه من أجلى يجدها&#8221;. الوصية هي حقاً لأجل خلاص القديسين ولأجل كرامتهم معاً، وهى تؤدي إلى أعلى مجد، وهى طريق الفرح الكامل، لأن اختيار التألم لأجل المسيح، ليس واجباً لا شكر فيه، بل بالعكس يجعلنا مشاركين في الحياة الأبدية وفى المجد المُعد. ولكن لأن التلاميذ لم يكونوا قد حصلوا بعد على قوة من الأعالي، فربما يكون من المحتمل أنهم هم أيضاً سقطوا في ضعفات بشرية، وحينما فكروا في أنفسهم في قول كهذا ربما سألوا أنفسهم: &#8220;كيف ينكر الإنسان نفسه؟ أو كيف يجد نفسه بنفسه ثانية إذ يكون قد ضيعها؟ وأى مكافأة يعوض بها أولئك الذين يتألمون هكذا؟ أو ما هي الهبات التي سيصيرون شركاء فيها؟ لذلك فلكى ينقذهم، من مثل هذه الأفكار الجبانة، ولكى يصوغهم – كما لو كان – في قالب الرجولة، بأن يولد فيهم رغبة في المجد العتيد أن يمنح لهم، لذلك يقول: &#8220;أقول لكم، إن من القيام ههنا، قوماً لا يذوقون الموت حتى يروا ملكوت الله&#8221;. هل هو يقصد أن حياتهم ستمتد جداً حتى تصل إلى ذلك الوقت الذى سيأتي فيه من السماء في نهاية العالم، ليمنح القديسين الملكوت المعد لهم؟ وحتى هذا كان ممكناً عنده، لأنه كلّي القدرة، وليس هناك شيء غير ممكن أو صعب بالنسبة لإرادته الكلية القوة، ولكنه يقصد بملكوت الله: رؤية المجد الذى الذى سيظهر به عند ظهوره لسكان الأرض، لأنه سيأتي بمجد الله الآب وليس في الحالة المتواضعة التي تمثل حالتنا، لذلك، كيف جعل أولئك الذين قد نالوا الموعد مشاهدين لأمر عجيب كهذا؟.</p>
<p>إنه يصعد إلى الجبل أخذاً معه ثلاثة تلاميذ مختارين، ويتغير إلى مثل هذا اللمعان الفائق والبهاء الإلهي، حتى أن ثيابه كانت تتألق بأشعة من نار ، وبدت تضئ مثل البرق. وأكثر من ذلك، وقف موسى وإيليا إلى جوار يسوع، وتكلم أحدهما مع الآخر عن خروجه الذى كان عتيداً أن يكمله في أورشليم، والذى يقصد به سر التدبير في الجسد، وآلامه  الثمينة على الصليب.</p>
<p>لأنه حق أيضا أن شريعة موسى وكلمة الأنبياء القديسين، أشارت مسبقاً لسر المسيح: فالأول منها بواسطة أمثلة وظلال، راسماً إياه – كما لو كان – في صورة، بينما الآخر بطرق متنوعة معلنة قبل موعدها، وكلاهما يفيد أنه في الوقت المناسب سيظهر في صورتنا، ولأجل خلاصنا وحياتنا كلنا، يرضى أن يعاني الموت على الخشبة. لذلك، فوقوف موسى وايليا أمامه، وكلاهما الواحد مع الآخر، كان نوعاً من الإشارة الرمزية تُظهر بصورة رائعة، ربنا يسوع المسيح، وله الشريعة والأنبياء كحارسين لجسده، باعتباره رب الشريعة والأنبياء، وكما أعلن عنه مسبقاً فيهما بواسطة تلك الأمور التي سبق أن بشرا بها باتفاق متبادل. لأن كلمات الأنبياء ليست مختلفة مع تعاليم الشريعة. وهذا هو ما أتخيل أن موسى الكهنوتي العظيم وإيليا العظيم في الأنبياء كانا يتكلمان عنه أحدهما مع الآخر.</p>
<p>ولكن التلاميذ المباركين ينامون فترة قصيرة، بينما استمر المسيح طويلاً في الصلاة – لأنه مارس هذه الواجبات البشرية باعتبارها خاصة بالتدبير – وبعد ذلك عند استيقاظهم صاروا مشاهدين لتغيرات باهرة ومجيدة جداً، إذ ظن (بطرس) حينئذ أن زمن ملكوت الله قد أتى الآن فعلاً فاقترح إقامة مساكن على الجبل، وقال إنه من اللائق أن يوجد هناك ثلاث مظال: واحدة للمسيح، والمظلتان الأخريتان للشخصين الآخرين موسى وإيليا، ولكنه كما يقول الكتاب: &#8220;وهو لا يعلم ما يقول&#8221;. لأنه لم يكن هو وقت نهاية العالم، ولا الوقت الذى فيه يمتلك القديسون الرجاء الموعود لهم به، لأنه كما يقول بولس: &#8220;سيغير شكل جسد تواضعنا ليكون على صورة الذى له، أي صورة جسد مجد المسيح&#8221; (في٣: ٢٢). ولذلك إذ أن التدبير كان لا يزال في بدايته، ولم يكن قد تحقق بعد، فكيف يكون مناسباً للمسيح أن يتخلى عن محبته للعالم، ويتحول عن غرض التألم لأجله؟ لأنه فدى كل من تحت السماء، باحتماله الموت في الجسد وبإبادته الموت بالقيامة من الموت، معاً. لذلك فبطرس لم يكن يعلم ما يقول.</p>
<p>ولكن إلى جانب منظر مجد المسيح العجيب والذى يفوق الوصف، حدث شيء أخر، نافع وضرورى لتثبيت إيمانهم به، وليس نافعاً للتلاميذ فقط بل حتى لنا نحن أيضاً، لأن صوتاً أُعطيَ من السحابة من فوق من الله الآب، قائلاً: &#8220;هذا هو ابنى الحبيب له اسمعوا. وحينما كان الصوت، وُجد يسوع وحده &#8220;كما يقول الكتاب. فماذا يقول المجادل والعاصي إذن أمام هذه الأمور؟ ها هو موسى هناك، فهل يأمر الآب الرسل القديسين أن يسمعوا له؟ لو كانت إرادته هي أنهم ينبغي أن يتبعوا وصايا موسى، لكان قد قال، كما أظن، أطيعوا موسى، احفظوا الناموس، ولكن ليس هذا هو ما قاله الله الآب هنا، بل في حضور موسي والأنبياء، فإنه يأمرهم بالحري أن يسمعو للمسيح.</p>
<p>ولكن لا يقلب أحد الحق ويقول إن الآب طلب منهم أن يسمعوا لموسى وليس للمسيح مخلصنا جميعاً، فإن البشير ذكر بوضوح قوله: &#8220;وحينما كان الصوت، وجد يسوع وحده&#8221; لذلك حينما أمر الله الآب من السحابة التي ظللتهم، الرسل القديسين قائلاً &#8220;له اسمعوا&#8221; كان موسى بعيداً جداً، وإيليا أيضاً لم يعد قريباً، ولكن كان هناك المسيح وحده لذلك فإياه وحده أمرهم الآب أن يطيعوا.</p>
<p>لأنه هو أيضاً غاية الناموس والأنبياء: ولهذا السبب صرخ بصوت عالي لجموع اليهود: &#8220;لو كنتم تصدقون موسى لكنتم تصدقون كلامي، لأنه هو كتب عني&#8221; (يو٥: ٤٦). ولكن لأنهم استمروا إلى النهاية يحتقرون الوصية المعطاة بواسطة موسى الحكيم جداً، وبرفضهم كلمة الأنبياء القديسين فقد اُستُبعدوا بعدل وحرموا من تلك البركات التي وعد بها لآبائهم، لأن &#8220;الطاعة افضل من الذبائح، والإستماع أفضل من شحم الكباش&#8221; (١صم١٥: ٢٢).</p>
<p>وهكذا قد منحت كل هذه البركات بالضرورة لكثيرين من اليهود كما منحت لنا نحن أيضاً الذين قد قبلنا الإعلان الإلهي، بواسطة المسيح نفسه كهبه منه لنا، <strong>الذى به ومعه لله الآب التسبيح والسلطان مع الروح القدس، إلى دهر الدهور. آمين.</strong></p>
<h3>عظات آباء وخدّام معاصرين</h3>
<h4>التجلّي – المتنيح الدكتور راغب عبد النور<a href="#_ftn3" name="_ftnref3">[3]</a></h4>
<p><strong>كيف نشاهد التجلى</strong></p>
<p>التجلى موضوع عالجه الانسان بفكره وفنه وهو يحول كشف الحجاب عن روائعه ودقائقه.. وعبثاً حاول فطاحل الشعراء، ولم يكن حظ الرسامين بأكثر توفيقاً منهم.. واقصى ما استطاعوا هو انهم صوروا ناحية او جانباً من التجلى استطاع خيالهم ان يحسه.. والانسان في كل ما يعيه او يتخيله قاصر كل القصور عن ادراك أمور الله العظيم.</p>
<p>طريق واحد يؤدي بنا إلى التجلى ورؤية امجاده، طريق رسمه الرب إذ يقول الكتاب &#8220;أخذ بطرس ويعقوب ويوحنا وصعد إلى الجبل ليصلي&#8221;. هذا هو طريق الإعلانات. طريق يأخذنا اليه الرب يسوع ويجناز بنا دروبه ويصعد بنا.. لنصلي وسيبقى التجلي ابداً موضوع تأمل وحديث وتعزية أولاد الله، وسيظل الانسان ابداً في عجز عن وصف مشاهد التجلى لأنها &#8220;لا ينطق بها&#8221; (٢كو١٢: ٤). إن التجلي هو ما ينطبق عليه قول الرسول بولس &#8220;ما لم تره عين ولم تسمع به أذُن ولم يخطر على بال انسان ما اعده الله للذين يحبونه&#8221; (١كو٢: ٩).</p>
<p>ومع هذا العجز في إمكانيات البشر في الوصف أو التصوير. أو الإدراك أو الإخراج، فالتجلى هو عطية عذبة وثمرة حلوة لعبادة يقودنا فيها الرب ويصعد بنا في رفعة الجبل ووحدته. لأن الرب هو الذي أمسك بالرسل، وقادهم، وإرتفع بهم إلى القمة ليصلوا معه ويدركوا إلى ما يريدهم أن يدركوه. &#8220;أخذ بطرس ويعقوب ويوحنا وصعد إلى جبل ليصلي&#8221;. وإذ يصلي الرب نصلي نحن أيضاً معه &#8220;كنت في الروح وفى يوم الرب وسمعت ورائى صوتاً عظيماً كصوت بوق&#8221; (رؤ١: ١٠). واننا نؤمن ان إعلانات السماء للمؤمنين في كل جيل هي مظاهر جديدة أو معادة للتجلي، ويبقى التجلي على مر الأيام والسنيين ينبوع تعزية وتشجيع للمؤمنين ينهلون من معين اختباراته نهلاً.</p>
<p>إن الصلاة هي احدى وسائط الشركة بالرب المجيد والممجد من السمائيين والأرضيين وكشف الرب عن بعض أمجاده للذين صعدوا معه على الجبل ليشاركوه الصلاة.</p>
<p>والصلاة هي شركة في الطبيعة الإلهية، وخروج بالإنسان من شركة الجسد او رباطات الظلمة.. هي تحرير للقلب لينطلق حراً في سماء التسبيح والترنيم. هذه الشركة تأتي فعلاً بالإنسان إلى نور اعلان أمجاد الله.. لذلك لم يبخل الرب على مخادع الصلاة بأنوار تضئ المخدع وتنحصر فيه، وتشبع القلوب التي تظللها خوافي الرب وتحميها اجنحته، من نعمته الغنية.</p>
<p><strong>يسوع المثل الأعلى للصلاة</strong></p>
<p>والأمثلة الكتابية للصلاة كثيرة، نتأمل منها ما يتصل بحياة الرب يسوع في الجسد لأن الرب سيدنا في كل شيء هو مثالنا الصالح الذى نتبع خطواته. وفى هذا المعنى يقول القديس باسيليوس الكبير في نسكياته &#8220;كل الأعمال يا حبيبى وكل الأقوال التي لربنا يسوع المسيح هي قوانين للعبادة والفضيلة، فلهذا صار الله انساناً. فيتشبه به كل واحد منا حسب الاستطاعة البشرية&#8221;.</p>
<p>اجمل الأمثلة للصلاة ومجازاة الصلاة وأمجاد الصلاة نجدها في حياة الرب يسوع.. ولنا فيها تأمل وتطبيق وعزاء.. وفضلاً عن صلاة الرب في التجلي نقرأ عن الرب المصلي..</p>
<p>صعد الرب من المعمودية، كما صعد غيره، الذين اعتمدوا من يوحنا المعمدان.. أما يسوع بعد أن خرج من الماء &#8220;وإذ كان يصلي انفتحت السماء، ونزل عليه الروح القدس بهيئة جسمية مثل حمامة وكان صوت من السماء قائلاً أنت ابني الحبيب بك سررت&#8221; (لو٣: ٢١– ٢٢). وحلول الروح القدس وانفتاح السماء وشهادة الآب هي مجازاة الصلاة وأمجاد الصلاة.. اليست لنا نفس العطية بعد المعمودية، إذ نولد مرة ثانية ميلاداً جديداً في بنوة للآب وأبوته العزيزة.. وننال ختم الروح القدس بسر المسحة.</p>
<p>وعندما نتأمل جبل التجربة وبريتها، نتأمل الرب أربعين يوماً يصوم ويصلي ويجرب من ابليس. ثم في نهاية الأربعين يوماً ونهاية التجارب &#8220;ثم تركه ابليس وإذا ملائكة قد جاءت تخدمه&#8221; (مت٤: ١١). قيل عن التجارب أنها أحجار ثقيلة تهوي بنا إلى عمق اليأس أو عمق السقوط، وقيل عن الصلاة أنها السكين التي تفك القيود التي تربطها بالأحجار، وهي أيضاً الأجنحة التي تطير بنا فوق سلطان التجربة وقسوتها. وبالصلاة نغلب، وحين نغلب يعطينا الرب مجد الانتصار بالصلاة &#8220;واذا ملائكة قد جاءت تخدمه&#8221;. هذا صدق. لأن الكتاب يقول &#8220;ملاك الرب حال حول خائفيه وينجيهم&#8221; (مز٣٤: ٧).</p>
<p>في جثسيماني حارب الرب وكافح تجربة الصليب. وأي تجربة.. ولم يجد الرب رفيقاً أو صديقًا يسهر معه ساعة واحدة. والكأس قاسية مُرَّة، فتصبب عرقه كقطرات دم. ولنا في جهاد جثيسماني تعزية ما بعدها تعزية، إذ رسم لنا الرب طريق الصليب. ولابد لنا من الكأس، ولابد أن نشربها.. وإن كفاح الرب في جثسيماني هو دعامتنا لكى لا نيأس في جهادنا، لأن الرب قد تجرب مثلنا في كل شيء.</p>
<p>وإذ نصلي ونلقي كل همومنا عليه فأنه يقدر أن يعين المجربين أيضاً. ووسط الظلمة تتلألأ أنوار ملاك يرسله الرب ليعزينا، كما جاء ليعزي الرب يسوع في جثسيماني.</p>
<p><strong>هل تكرر التجلي؟</strong></p>
<p>إان الكتاب لم يذكر إلا حادثة واحدة للتجلي، مع أن الجبل استحوذ على نصف خدمة الرب تقريبًا.. قضى الرب أغلب لياليه في أحضان الجبل، في صلاة وشركة، فضلاً عن أربعين يوماً في الصوم والصلاة.. ولست أظن أن التجلي اقتصر على الحادثة فقط.. إن ليالي الرب الطويلة في الجبل ليس لها شهود يسجلون أمجادها وروائعها. أما هذه الحادثة فقد دخل في تدبير الله إعلانها لأسباب واعتبارات، لذلك أخذ الرب معه شهود التجلي الذين تحدثوا عنه بعد قيامته. وفضلاً عن التفصيل الذي نقرأه في الأناجيل فقد سجله بطرس الرسول في رسالته الثانية &#8220;لأنه أخذ من الله الآب كرامة ومجداً إذ أقبل عليه صوت كهذا من المجد الأسنى هذا هو ابني الحبيب الذي أنا سررت به، ونحن سمعنا هذا الصوت مقبلاً من السماء إذ كنا معه في الجبل المقدس&#8221; (٢بط١: ١٧– ١٨).</p>
<p>أما الليالي الأخرى التي احتفظ الجبل بسرها، وطوى الكتمان اعلاناتها، لا نظنها خلت من نواح مماثلة للتجلي، أو صورة أخرى للمجد الإلهي الذي للأقنوم الثاني.. فيكون التجلي أحد المشاهد التي سمح بها ابن الله، ولم يسمح بأكثر منها. لأن شهود التجلي من التلاميذ لا يحتملون أكثر من هذا الإعلان.. لأنهم بعد جسديون.. أكاد أقول أن التجلي الذى شهده التلاميذ حدده ضعف التلاميذ وقيده ادراكهم.. – أما يسوع فعندما يعتلي عرشه في المجد، ويأخذ مكانه العظيم، فحينئذ تجثو باسم يسوع المسيح كل ركبة ممن في السماء ومن على الأرض، ومن تحت الأرض.. &#8220;وليس أحد صعد إلى السماء إلا الذى نزل من السماء ابن الانسان الذي هو في السماء&#8221; (يو٣: ١٣).</p>
<p><strong>وتغيرت هيئته .. الله نور</strong></p>
<p>تغيرت هيئة الرب وأضاء وجهه كالشمس، ولمعت ثيابه لمعان الثلج الأبيض الناصع، والنور القوي الساطع. وهكذا شاهد الرسل الرب، بل هذه هي استطاعة الرسل في وصف ما شاهدوه. إن التجلي هو عملية إعلان لنور الله الذى استتر بالناسوت واتحد به، فأشرق النور الالهي من وجه الرب، وأيضاً من خلال ثيابه. وليس في التجلي أي غرابة على الرب يسوع، إذا علمنا أنه الله ظهر في الجسد &#8220;والله نوروليس فيه ظلمة البتة&#8221; (١يو١: ٥). &#8220;الذي وحده له عدم الموت، ساكناً في نور لا يدنى منه الذي لم يره أحد من الناس، ولا يقدر أن يراه، الذي له الكرامة والقدرة الأبدية. أمين&#8221; (١تي٦: ١٦)، أو كما قال الرب عن نفسه &#8220;أنا هو نور العالم&#8221;.</p>
<p><strong>متى حدث التجلى ؟</strong></p>
<p>في أي ساعات اليوم حدث التجلي؟.. أمساء أم نهاراً، في ظلمة الليل، أم في سطوع الشمس؟..</p>
<p>يميل الكثيرون إلى الإعتقاد بأن التجلي حدث مساءً ولهم في ذلك أكثر من حجة.. أن الرب عودنا أن يذهب إلى الجبل ليقضي الليل كله في الصلاة، ويكون التجلي هو معجزة احدى الليالي. وأيضاً عندهم حتى يكون التجلي واضحاً رائعاً في ظهوره واعلاناته، تشرق أنواره فتتبدد ظلمات الليل الدامس، وهذا سبب ثان جعلهم يعتقدون أن التجلي حدث ليلاً. ثم أن التلاميذ تثقلوا بنوم، والنوم عادة لا يكون إلا ليلاً.. ولا اعتراض على كل هذه الأسباب. إلا أن التجلي لا يمنع أن يكون قد حدث نهاراً.. لأن الرب صعد على الجبل نهاراً كما صعد ليلاً.. فإنه أمضى أربعين نهاراً وأربعين ليلة في الصلاة والصوم يجرب من ابليس.. ثم أن أمجاده لا يتحتم لإعلانها أن تكون في ظلام الليل.. لأن الظلام المقارن لا يعلنها، وكما أن وهج الشمس اللامع لا يقلل من سطوعها. إن نور الله هو النور الذى تذبل بجواره أنوار الشمس.. ويصبح النهار المتوهج بالضياء كأنه الليل الدامس اذا ما مست الأرض أضواء الله. وحين فاجأ الرب شاول الطرسوسي وهو في طريقه إلى دمشق بنوره، اظلمت الشمس بجوار مجد الرب.</p>
<p>هذا أقوله، لأؤكد أن نور التجلي، جعل الجبل المقدس يقف وحيدًا متميزًا دونه شمس النهار أو روعة القمر بالليل.</p>
<p>ويرى هذا الرأي القديس يوحنا ذهبى الفم ويقول في ذلك: &#8220;قد اظلمت الدنيا حول التلاميذ من شدة وهج الضوء الذى انبثق من تجلي الرب. والوقت لم يكن ليلاً بل كان نهاراً، ولشدة نور التجلي لم يكن شيء حول التلاميذ يمكن رؤيته، لأن نور التجلي أصابهم بذهول وعمى عن كل ما هو غير التجلي&#8221;.</p>
<p><strong>عطية التجلي</strong></p>
<p>هذا النور المجيد الذى انبعث، كان عملاً الهياً صميماً.. الرب يصلي ويستغرق في الصلاة ويوغل في أمجادها فتغيرت هيئته، فالتجلي هو مجد الصلاة وثمرها الشهي.. صلاة الابن للآب.</p>
<p>وما هي الصلاة بالنسبة للابن الكلمة الازلي؟</p>
<p>هي اعلان وحدة الآب والابن، لأن الآب في الأبن والأبن في الآب.</p>
<p>وهي اعلان لحقيقة الأبن، انه الذي صعد وهو الذى نزل، ابن الانسان، الذي هو في السماء.</p>
<p>فالصلاة اذاً هي إعلان لحقيقة جلوس الابن في المجد الأسنى وإذا علمنا أن الصلاة للأبن الأزلى هي حقه في السماء، وفى الآب، وفى المجد الأزلي والأبدي، لا يدهشنا أبداً أنه حين يصلي يستغرق في الصلاة وينطلق النور الالهى الطاهر من الله في الجسد. وينتشر بلا عائق في الوجه المقدس فيضئ كالشمس، وينفذ خلال الجسد المبارك والثياب أيضاً، فتلمع كالثلج.</p>
<p>ولم يكن التجلي انعكاساً لمجد السماء على الأرض أو سطوعاً لنور يصدر من مكان آخر.. بل هو مجد المسيح نفسه انطلق ليعلن بعض أسرار التجسد، فاشرق الوجه والجسد اشراق اللاهوت.</p>
<p>هذه هي الوحدة الكاملة بين اللاهوت والناسوت، وحدة الاردة والمشيئة، وحدة الاتفاق في الصفات.</p>
<p>أستطيع القول أن التجلي هو فكاك لبعض صفات الله.. والتي كان يعلنها الرب عن نفسه قطرة فقطرة، في النعمة والحق والحب.. وهو نفسه الإعلان الرائع لبر ابن الله، ابن الله الذى لم يستطع أحد أن يبكته على خطية. إن اللاهوت أعلن نوره خلال الناسوت، فاستجاب الناسوت لكماله للاشراق والاعلان، وهذه الوحدة، وهذا التجاوب سيرتفع على الصليب في تمام الصفاء من غير عثرة أو لوثة.. ولو كان للرب وهو في الجسد أبسط الضعفات، لتعطل إعلان هذا المجد، وما كان تجلي، وما كان صلب.</p>
<p><strong>بين المجد والهوان </strong></p>
<p>أضاء وجه الرب بالتجلي..</p>
<p>هو نفس الوجه الذي لم يرد الرب عنه خزي البصاق..</p>
<p>هو نفس الوجه الذي انغرست في جبهته الأشواك..</p>
<p>هو نفس الوجه الذي انهالت على وجنتيه اللطمات..</p>
<p>إن مقاييس الرب في القوة والنصرة والبهاء والمجد، غير ما اصطلح عليه البشر الماديون.. وعند الرب، إن الصليب بكل ما اكتنفه من أسباب الهوان والعار والهزيمة هوسبيل القوة والنصرة والحياة في بهاء المجد..</p>
<p>يقيس الرب الكسب بقدر ما تَهِبْ، ويقيس الخسارة بقدر ما تأخذ &#8220;إن من أراد أن يخلص نفسه يهلكها ومن يهلك نفسه من أجلي يجدها&#8221; (مت١٦: ١٥). لذلك فإن الصليب هو طريق النصرة المجيدة التي لامثيل لها في التاريخ.</p>
<p>لم يكن على وجه اسطفانوس أية علامة تميزه.. إلى أن امسك به المضطهدون فتغير وجه اسطفانوس إلى وجه ملاك.</p>
<p>قبلاً قلنا إن الرب قبيل التجلي بثمانية أيام تحدث بصراحة عن الصليب والموت والقيامة، ونحن الآن أمام التجلي والإعلان الصريح عن لاهوت الابن، فليؤكد الرب للذين يرون مجده أو &#8220;الذين آمنوا ولم يروا&#8221; أن الذى يرتفع على الصليب هو&#8221;الله في الجسد&#8221;.. الله المجيد هو نفسه الذى وضع نفسه، وهو الذى اطاع حتى الموت، فهو تطوع وكمل خلاصنا، بل اننا لا نجد  أروع من الصليب إعلاناً لمجد الله الذى ظهر على الجبل. على الجبل رأى التلاميذ مجد الرب وكانوا خارج دائرته، أما بالصلب فرأينا مجده، مجداً كما لوحيد الآب.. وبالصليب دخلنا إلى قلب المجد والإعلانات.</p>
<h4>الرؤيا الدائمة - للمتنيح الدكتور سليمان نسيم<a href="#_ftn4" name="_ftnref4">[4]</a></h4>
<p><strong>المؤمن الحقيقى يعيش رؤيا دائمة</strong></p>
<p>المؤمن الحقيقى يعيش في المسيح رؤيا دائمة. فالسماء مفتوحة أمامه. وعربون الملكوت موجود في داخله. يقول الرب: &#8220;ها ملكوت الله داخلكم&#8221; (لو١٧: ٢١).</p>
<p>ويقول أيضاً: &#8220;الحق الحق أقول لكم من الآن ترون السماء مفتوحة وملائكة الله يصعدون وينزلون على ابن الإنسان&#8221; (يو١: ٥١).</p>
<p>وكما بدأت البشارة بالمسيحية بظهور الملائكة، وانفتاح السماء عن جمهورهم معلنين العظائم الثلاثة المرتبطة بميلاد الرب: المجد والسلام والعزاء؛ هكذا كانت خاتمة حياة المسيح، بصعوده أمامهم ثم ظهور ملاكين لتلاميذه الشاخصين وراء هذا المنظر السماوي العظيم ليعلنا أن &#8220;يسوع هذا الذى ارتفع عنكم إلى السماء سيأتي هكذا كما رأيتموه منطلقاً إلى السماء&#8221; (أع١: ١٠، ١١). فالبداية بشارة والنهاية بشارة وكلتاهما تحملان الحب والسلام والرجاء. ويعني هذا أن تظل السماء محط رجاءنا ومتجه أنظارنا، إليها نتطلع، ومنها نستلهم العزاء والنصرة إلى أن نرى يسوع مرة أخرى في مجده.</p>
<p>لقد قال الرب في إحدى صلواته &#8220;أيها الآب مجد أسمك فجاء صوت من السماء مجدت وأمجد أيضاً&#8221; (يو١٢: ٢٧، ٢٨).</p>
<p>وهكذا ارتبط انفتاح السماء بتمجيد اسم الرب وربط الإنسان بسر الغلبة ففي هذا الموقف نفسه أكد الرب هذا المعنى بقوله: &#8220;ليس من أجلي صار هذا الصوت بل من أجلكم. الآن دينونة هذا العالم، الآن يطرح رئيس هذا العالم خارجاً&#8221; (يو١٢: ٣٠، ٣١). وكانت الكرازة أعظم مجال تتضج فيه ثمار هذه الرؤى وهذه العلاقة بالسماء. فهوذا اسطفانوس بعد عظته الجهارية في اليهود وكهنتهم ورؤسائهم &#8220;يشخص إلى السماء وهو ممتلئ من الروح القدس « فرأى مجد الله ويسوع قائماً عن يمين الله » واستمر هذا المنظر السماوي وهم يرجمونه وهو يقول: &#8220;أيها الرب يسوع أقبل روحي&#8221; (أع ٧: ٥٥– ٥٨).</p>
<p>ولما زاد الاضطهاد على الكنيسة بواسطة شاول الطرسوسي، وانطلق إلى دمشق ليسوق المسيحين موثقين إلى اورشليم، &#8220;حدث أن أبرق بغتة حوله نور من السماء فسقط على الأرض وسمع صوتاً قائلاً له شاول شاول لماذا تضطهدني&#8221; (أع ٩: ٣، ٤).</p>
<p>وكان بولس بعد تغيره يحكي عن هذا المنظر قائلاً: &#8220;رأيت في نصف النهار في الطريق نوراً من السماء أفضل من لمعان الشمس قد أبرق حولي&#8221; (أع٢٦: ١٣).</p>
<p>وكان حين يقارن بين سماء العهد القديم، وسماء العهد الجديد يقول: &#8220;لأنكم لم تأتوا إلى جبل ملموس مضطرم بالنار، وإلى ضباب وظلام وزوبعة بل إلى مدينة الله الحي أورشليم السماوية إلى ربوات هم محفل ملائكة وكنيسة أبكار مكتوبين في السموات وإلى أرواح أبرار مكملين&#8221; (عب١٢: ١٣– ١٨).</p>
<p>وهذه هي التي عناها يوحنا الرائي حين وصفها قائلاً: &#8220;ثم رأيت سماء جديدة وأرضاً جديدة. لأن السماء الأولى والأرض الأولى مضتا.. وسمعت صوتاً عظيماً من السماء قائلاً: هوذا مسكن الله مع الناس ، وهو سيسكن معهم وهم يكونون له شعباً والله نفسه يكون معهم الهاً لهم&#8221; (رؤ٢١: 1– ٣).</p>
<p>هذه كلها، وبركات أخرى كثيرة، هي معطيات حب الله لنا في عهد النعمة. يقول القديس يوحنا &#8220;انظروا أية محبة أعطانا الآب حتى ندعى أولاد الله&#8221; (١يو٣: ١).</p>
<p>ولذلك قدم لنا خبرته مع هذه المحبة وهذه البنوة بقوله: &#8220;الذي سمعناه. الذي رأيناه بعيوننا. الذي شاهدناه ولمسته أيدينا من جهة كلمة الحياة.. الذي رأيناه وسمعناه نخبركم به لكي تكون لكم أيضاً شركة معنا&#8221; (١يو١: ١– ٣).</p>
<p>وهكذا تحقق خبرة القديسين تلامساً حياً ومباشراً مع محبة الله، بل وتحقق ما هو أكثر من ذلك فعن طريق الشعور برؤيا الله وملكوته في باطن الإنسان يمتلئ رجاء روحياً عميقاً به – كما يقول القديس يوحنا – &#8220;يطهر نفسه كما هو طاهر&#8221; (١يو٣: ٣) &#8220;ويطرح رئيس هذا العالم خارجاً&#8221; (يو١٢: ٣١) وهكذا تصبح محبة المؤمن لله مصدر تلامس ورؤيا وسر تطهير له، كما تصبح منبعاً روحياً لقوة الرجاء، وللشهادة لعمل النعمة والإيمان أمام الآخرين &#8220;هذا نخبركم به&#8221;..</p>
<p>وكان أن استكملت أبعاد المحبة، وعرف المؤمنون عن قرب ما هو العرض والطول والعمق والعلو.. لقد عرفوا محبة المسيح الفائقة المعرفة. عرفوها وهم في الجسد، لتكون لهم عربون مجد في السماء..</p>
<p>وإذ يحمل المؤمنون في أجسادهم سمات الرب يسوع، تصبح لهم الحاسة الدقيقة التي تستقبل مناظر السماء وأصواتها، مقارنين الروحيات بالروحيات، مميزين فكر المسيح لأنهم بعمل النعمة يستأسرون كل فكر لطاعة المسيح لأن الله – كما يقول القديس بولس – &#8220;الذى قال أن يشرق نور من ظلمة هو الذى أشرق في قلوبنا لإنارة معرفة وجه الله في وجه يسوع المسيح&#8221; (٢كو٤: ٦).</p>
<p>وبأنواع وطرق كثيرة تعلن السماء رسالاتها للمؤمنين. للرعاة ظهر جمهور الملائكة (لو2: 9)، وللمجوس لمع نجم المشرق (مت2:2)، والمعمدان عرف أن الذى يعمده هو حمل الله من رؤية &#8220;الروح نازلاً ومستقراً عليه مثل حمامة من السماء&#8221; يو1: 32، 33).</p>
<p>أما بشارة ميلاد رب المجد ويوحنا المعمدان فقد تولاها رئيس الملائكة جبرائيل (لو1)، حتى إذا حانت بشارة القيامة تولاها ملائكة &#8220;يلبسون ثياباً بيض&#8221; (يو20: 12) وهكذا عند الصعود (أع1: 10) لكن قمة الرؤى بحق ظهرت فوق جبل طابور فقد تجلت رؤيا الرب في مجد وبهاء عظيمين: لقد تغيرت هيئته، وأضاء وجهه كالشمس، وصارت ثيابه بيضاء كالنور.. ثم إذا بسحابة نيره تظلل الموجودين وصوت منها يقول: هذا هو إبنى الحبيب الذى به سررت. له إسمعوا (مت17: 1- 5).</p>
<p>أما في العهد القديم فكان صوت الرب إلى أنبيائه يأتي مباشراً..</p>
<p>آدم تفتحت عيناه على نور رؤيا الرب في الفردوس، وعلى رؤيا شجرة الحياة في وسطه، وتفتحت أذناه على سماع وصية الله (تك2: 15).</p>
<p>ونوح سمع صوت منذراً.. &#8220;نهاية كل بشر قد أتت أمامي&#8230; إياك قد وجدت باراً&#8230;&#8221; (تك7: 1).</p>
<p>أما رؤى الرب لابراهيم فما أكثرها لعل أشهرها وهو جالس عند بلوطات ممرا (تك18: 1) ثم عندما هم بتقديم ابنه ذبيحة (تك22: 11)..</p>
<p>أما يعقوب فقد كانت له رؤيا السلم المنصوبة على الأرض ورأسها يمس السماء، وملائكة الله صاعدة ونازلة عليها (تك18: 22)</p>
<p>فاذا تركنا رؤساء الآباء إلى الأنبياء وموسى على رأسهم وجدناه يرى رؤيا الرب في جبل حوريب متمثلة في عليقة مشتعله بالنار دون أن تحترق فقال: &#8220;أميل الآن لأنظر هذا المنظر العظيم. لماذا لا تحترق العليقة&#8221; (خر2:2)..</p>
<p>والملاحظ أن هؤلاء جميعاً كانت تنتهي بهم الرؤى إلى بناء مذبح للرب. فالرؤى السماوية قرينة المذبح في العهد القديم..</p>
<p>فنوح بعدما نجا من شر الطوفان &#8220;بنى مذبحاً للرب&#8221;.. ولما رفع عليه ذبيحة الشكر &#8220;تنسم الرب في ذبيحته رائحة الرضا&#8221; (تك ٨: ٢١).</p>
<p>وإبراهيم بعد وعد الرب له بأنه سيعطيه أرض كنعان ولنسله من بعده &#8220;بنى هناك مذبحاً للرب&#8221; (تك ١٢: ٧) في بيت إيل.</p>
<p>وكذلك يعقوب بعد أن رأى سلمه المشهور بكر في الصباح وأخذ الحجر الذى وضعه تحت رأسه وأقامه عموداً وصب زيتًا على رأسه ودعا إسم ذلك المكان بيت إيل ونذر&#8230; أن هذا الحجر الذى أقامه يكون بيتاً لله (تك ٢٨: ٢٢)..</p>
<p>وعندما خرج بنو إسرائيل من مصر كان الرب يسير أمامهم نهاراً في عمود سحاب ليهديهم في الطريق، وليلاً في عمود نار ليضئ لهم لكى يمشوا نهارًا وليلًا. ولم يبرح عمود السحاب نهارًا وعمود السحاب ليلًا أمام الشعب (خر١٣: ٢١– ٢٢).</p>
<p>أما في العهد الجديد فهى قرينة المسيح، الذبيح نفسه، كما حدث عند ظهور النجم للمجوس أو ظهور الملائكة وقت القيامة والصعود.</p>
<p>أما سفر الرؤيا فقد تحدث صراحة عن الخروف الذبيح والمجد المحيط به قائلًا: &#8220;ورأيت في وسط العرش والحيوانات الأربعة وفى وسط الشيوخ خروف قائم كأنه مذبوح&#8230; ولما أخذ السفر خرت الأربعة حيوانات والأربعة والعشرون شيخاً أمام الخروف ولهم كل واحد قيثارات وجامات من ذهب مملوءة بخوراً هي صلوات القديسين وهم يترنمون ترنيمة جديدة قائلين: مستحقين أنت أن تأخذ السفر وتفتح ختومه لأنك ذبحت وإشتريتنا لله بدمك من كل قبيلة ولسان وشعب وأمة&#8221; (رؤ٥: ٦– ٩).</p>
<p>وأقترنت رؤى السماء دائمًا بالنور والضياء اللامع.. فموسى لما نزل من جبل سيناء ولوحا الشهادة في يده عند نزوله من الجبل لم يعلم أن جلد وجهه صار يلمع.. (خر٢٤: ٢٩).</p>
<p>كما أقترنت بوجود السحب.. ميثاق الرب مع نوح كانت علامته سحابة.. فقد قال الرب لنوح: هذه علامة الميثاق الذي أنا واضعه بيني وبينكم.. وبين كل ذوات الأنفس الحية التي معكم إلى أجيال الدهر&#8230; وضعت قوسي في السحاب فتكون علامة ميثاق بيني وبين الأرض فيكون متى أنشر سحابا على الأرض وتظهر القوس في السحاب أنى أذكر ميثاقي الذى بيني وبينكم وبين كل نفس حية في كل جسد فمتى كانت القوس في السحاب أبصرها لأذكر ميثاقاً أبدياً بين الله وبين كل نفس حية في كل جسد على الأرض&#8221; (تك٩: ١٢– 1٦).</p>
<p>وكذلك في قيادة بنى إسرائيل كان الرب يسير أمامهم نهاراً في عمود السحاب (خر١٣: ٥١).</p>
<p>أما عند إكتمال خيمة الإجتماع فقد &#8220;غطت السحابة خيمة الإجتماع وملأ بهاء الرب المسكن (خر٤٠: ٤٣).</p>
<p>وبعد انتقال موسى وأقتراب بنى إسرائيل من أرض الموعد &#8220;كانت السحابة تغطى المسكن – خيمة الشهادة عند إقامتها&#8230; وفى المساء كان على المسكن كمنظر نار إلى الصباح. هكذا كان دائماً. السحابة تغطيه ومنظر النار ليلاً&#8221; (عدد٩: ١٥، ١٦).</p>
<p>وحين نصل إلى تدشين الهيكل الذى بناه سليمان يقول مؤرخ سفر الملوك الأول: &#8220;وكان لما خرج الكهنة من القدس أن السحاب ملأ بيت الرب ولم يستطع الكهنة أن يقفوا للخدمة بسبب السحاب لأن مجد الرب ملأ بيت الرب&#8221; (1مل٨: ١٠، ١١).</p>
<p>ولما تحدث أشعياء بروح النبوة عن مجئ الرب إلى مصر قال: &#8220;هوذا الرب راكب على سحابة سريعة وقادم إلى مصر فترتجف أوثان مصر ويذوب قلب مصر داخلها&#8221; (إش١٩: ١).</p>
<p>وفى العهد الجديد نرى منظر السحابة على جبل التجلي (مت١٧). وعند الصعود، وكذلك عند المجئ الثاني أيضاً (راجع أع ١: ٩).</p>
<p>وقد عبر القديس بولس عن وجود القديسين والملائكة حول المؤمنين بقوله: &#8220;لذلك نحن أيضاً إذ لنا سحابة من الشهود بمقدار هذه محيطة بنا لنطرح كل ثقل والخطيئة المحيطة بنا بسهولة ولنحاضر بالصبر في الجهاد الموضوع أمامنا&#8221; (عب١٢: ١).</p>
<p>بعد هذا نختم هذا التصدير بأنه ليس للرؤى وقت أو زمن محدد. إننا في ظلال عهد النعمة نحيا في المسيح في رؤيا دائمة. هي رؤيا المفديين بدم الحمل – الذين انتقلوا من الظلمة إلى النور العجيب - والذين يملأهم الفرح السماوي غير الموصوف. ومنذ إنتشار بشرى المسيحية وحتى مجئ الرب لم ولن تنقطع الرؤى عن المؤمنين. يرونها بأساليب وصور متباينة. تقويهم عند التجربة وترفع من درجة إيمانهم أو ترد لهم على المشكلات. فتلهمهم الحل الأمثل لها. في القرن العاشر مثلاً ظهرت العذراء مريم لسمعان الدباغ في حادث جبل المقطم. في القرن العشرين كان الأنبا ابرآم اسقف الفيوم يتراءى للمستشفعين به بعد انتقاله. في يوم ٦ هاتور من كل عام تظهر سحب فوق الدير المحرق في ذكرى تكريس كنيسة العذراء التي قامت محل المغارة التي أقامت بها فترة وجودها بديارنا. في ذكرى عيد أبى مقار بديره المعروف باسمه بوادى النطرون، وقد حضر أحد البابوات في هذه الذكرى إلى الدير، ظهر القديس العظيم بشيبته الوقورة فكانت رؤيا إلهية مباركة تماماً كما ظهر موسى وإيليا مع الرب فوق جبل طابور يوم التجلي.. أما مارجرجس، والقديسة جميانة، والقديس برسوم العريان؛ فظهروهم في مناسبات أعيادهم معروف للكثيرين.</p>
<p>ويقودنا هذا إلى هذا التأمل في مكان القديسين في كنيستنا الخالدة.</p>
<hr />
<p><a href="#_ftnref1" name="_ftn1">[1]</a>  العظات الخمسون للقديس أنبا مقار الكبير - العظة السابعة عشر - ترجمة الراهب يونان المقاري.</p>
<p><a href="#_ftnref2" name="_ftn2">[2]</a>  تفسير إنجيل لوقا للقديس كيرلس الأسكندري - عظة ٥١ - صفحة ٢٥٠ - ترجمة دكتور نصحي عبد الشهيد.</p>
<p><a href="#_ftnref3" name="_ftn3">[3]</a>  كتاب مع الرب علي جبل التجلي - صفحة ١٨ - د. راغب عبد النور.</p>
<p><a href="#_ftnref4" name="_ftn4">[4]</a>  كتاب مصر تستقبل العذراء - صفحة ١٩ - دكتور سليمان نسيم.</p>

      {% endcreateArticleAccordions %}
    </section>
  {% endblock %}
