---
layout: 'layouts/reading.html'
title: 'لمحة موجزة عن  تاريخ قراءات الخمسين يوم المُقَدَّسَة'
tags: 'pentecost'
permalink: /articles/pentecost/1055.html
---
  {% block content %}
    <section id="article">
      <h3 class="mt-8 mb-4 heading-explain">شرح القراءات</h3>
      {% createArticleAccordions %}
        <ul>
<li>ورثت الكنيسة المسيحية القراءات الليتورجية عن الكنيسة اليهودية، وذلك لمَّا رأوا الآباء الرسل بأنفسهم كيف أظهر الرب يسوع لهم مجد وكرامة كلمته المُقدَّسة عندما كان يذهب إلى المجمع كعادته (لو١٦:٤)، وعندما كان يقرأ من العهد القديم ويُعْلِن من القراءة رسالة الله للبشر (لو٢١:٤)، وكيف كان يوضِّح لهما (لو ٢٤: ٤٥،٤٤) ولتلميذي عمواس الكتب المُقدَّسة، وكان يلتهب قلبيهما استعدادا لانفتاح أعينهما عليه (لو٢٤: ٣٥،٣٢) في السر الكنسي (كسر الخبز أو الإفخارستيا).</li>
<li>لذلك نالت القراءات الكنسية أهمّية كبيرة في الكنيسة الأولى، وتطورت عبر التاريخ الكنسي، ولكن بقيت إلى الآن وحدة أساساتها في كل الكنائس التقليدية شهادة على قيادة الروح للكنيسة الجامعة في القرون الأولى، وسلامة البنيان على أساس الرسل والأنبياء وحجر الزاوية ربنا يسوع المسيح له كل المجد (أف ٢٠:٢).</li>
<li>وبدأت القراءات بالأعياد الكُبري مثل عيد الفصح وعيد الخمسين وأعياد الظهور الإلهي: [في القرن الثاني وجدت قراءات ثابتة خاصة بالأعياد السيدية، خاصة عيديّ الفصح والعنصرة، ثم قراءات خاصة بأعياد الشهداء، فأيام الآحاد].<a href="#_ftn1" name="_ftnref1">[1]</a></li>
<li>ثم تطورت وشملت آحاد السنة القبطية، ويحكي التاريخ وجود قطمارس ثابت واحد على الأقل قبل مجمع نيقية: [قبل مجمع نيقية كان بالكنيسة قطمارس ثابت أو أكثر].<a href="#_ftn2" name="_ftnref2">[2]</a></li>
<li>ثم تطوَّر بنيان وتفصيل القراءات حسب الكنائس والكراسي الرسولية، بل وتطور داخل الكنيسة الواحدة مثل مصر التي كان يوجد بها أكثرمن قطمارس في المناطق المختلفة (الصعيد ووجه بحري، أو الإسكندرية وباقي مصر كما يقول الأب أوجو زانيتي).<a href="#_ftn3" name="_ftnref3">[3]</a></li>
<li>وعندما نأتي إلى قراءات الخمسين يوم المُقدَّسة نجد أن الكنائس المسيحية الأُخرى تبدأ قراءات السنة فيها بعيد الخمسين، والأحد التالي يُسَمَّى الأحد الأوَّل بعد العنصرة، وفِي كنائس أخرى يُسَمَّى أحد الثالوث الأقدس، ويستمر هذا حتى عيد الصليب، ثم ترتبط الآحاد التالية به حتى أعياد الظهور الإلهي.<a href="#_ftn4" name="_ftnref4">[4]</a></li>
<li>ويقول الأب أثناسيوس المقاري: [إن قدّاسات الآحاد في الصوم المقدَّس الكبير، والخمسين المُقدَّسة، هي الأساس، وهي التقليد القديم الذي تثبته قطمارسات القراءات في الكنيسة القبطية، وحتى يومنا هذا].<a href="#_ftn5" name="_ftnref5">[5]</a></li>
<li>ويقول نيافة أنبا مقار: [من الواضح حسب إشارة إبن كبر أن قطمارس البصخة هو الأول في الظهور منفصلا (راجع مخطوط البصخة Copt 9 المكتبة الأهلية بباريس) ثم ظهر بعد ذلك قطمارس الصوم الكبير والخمسين المقدسة].<a href="#_ftn6" name="_ftnref6">[6]</a></li>
<li>كما أورد الأب أثناسيوس المقاري جداول مقارنة لقراءات الخمسين المقدسة ما بين قراءات وجه بحري وقراءات صعيد مصر كما جاءت في مخطوطات إبن كبر وبين القراءات الحالية.</li>
</ul>
<p>وبينما نجد إختلافاً كبيراً بين فصول قراءات آحاد الخمسين المُقدَّسة في كنائس صعيد مصر (عند إبن كبر) والقطمارس الحالي، إلَّا أننا نجد على الجانب الآخر تشابهاً كبيراً (وتطابقاً في أكثر آحاد الخمسين يوم المُقدَّسة) بين فصول قراءات آحاد الخمسين المُقدَّسة في الوجه البحري (عند ابن كبر) مع القطمارس الحالي.</p>
<p>وإذا قارنا مثلاً قطمارس ابن كَبَر بحسب تقليد كنائس الوجه البحري والقطمارس الحالي نجد:</p>
<ul>
<li style="list-style-type: none;">
<ul>
<li>تشابه <strong>إنجيل القدَّاس</strong> في القراءتين في معظم شواهدها بإستثناء إنجيل القدَّاس في أحد الماء الحي وأحد الطريق.</li>
<li>وإتفاق <strong>إنجيل عشيّة وباكر</strong> في القراءتين في كل الآحاد بإستثناء إختلافات بسيطة في عدد الآيات المُقْتَبَسة وليس في شواهد الآيات أوالنصوص.</li>
<li>وفِي <strong>البولس</strong> نجد التشابه بين القراءتين في أحد توما وخميس الصعود وأحد الغلبة وأحد العنصرة.</li>
<li>وفِي <strong>الكاثوليكون</strong> نجد التشابه بين القراءتين في أحد توما وأحد الماء الحي وأحد النور وخميس الصعود وأحد العنصرة.</li>
<li>وفِي <strong>الإبركسيس</strong> نجد التشابه بين القراءتين في أحد توما وأحد النور وخميس الصعود وأحد العنصرة.</li>
</ul>
</li>
</ul>
<p>أما قطمارس كنائس صعيد مصر في ذلك الوقت فكان يختلف كثيراً عما هو بين أيدينا اليوم.<a href="#_ftn7" name="_ftnref7">[7]</a></p>
<ul>
<li>أمَّا عن ما يُقْرأ في الخمسين المقدسة فيقول القديس يوحنا ذهبي الفم أن سفر أعمال الرسل كان هو القراءة الأساسية لتركيزه على قيامة المسيح له المجد:</li>
</ul>
<p>[إذن لماذا لا نقرأ ما يتعلق بالرُسل وقتذاك (يقصد بعد الخمسين)، بل مباشرةً بعد الصلب والقيامة؟ اسمعوا بدقة السبب كله. مباشرة بعد الصلب نكرز بقيامة المسيح، لأن برهان القيامة هو معجزات الرُسل، والمكان الذي نتعرف منه على معجزات الرُسل هو سفر أعمال الرسل.</p>
<p>إذن فهذا السفر بالحري يؤكد قيامة الرب، وقد حدد الآباء أن يُقرأ مباشرة بعد الصلب والقيامة حاملة الحياة. لذلك إذن أيها الأحباء، بعدالصلب والقيامة مباشرة، نقرأ معجزات الرسل، لكي يكون لدينا برهانٌ واضحٌ وغيرُ مشكوك فيه على القيامة].<a href="#_ftn8" name="_ftnref8">[8]</a></p>
<ul>
<li style="list-style-type: none;">
<ul>
<li>ونجد إلى الآن هذا التقليد في الكنائس السريانية والبيزنطية واللاتينية:</li>
<li>فنجد في <strong>الكنيسة السريانية</strong> القراءة من رسائل القديس بولس وسفر الأعمال في كل آحاد الخمسين المقدسة ما عدا الأحد الجديد «ما يماثل أحد توما في الكنيسة القبطية» فتأتي فيه القراءة من رسالة بطرس الأولى ورسالة أفسس.</li>
<li>ونجد في <strong>الكنيسة البيزنطية</strong> قراءات آحاد وأيَّام الخمسين المقدسة تتركَّز كلها في سفر أعمال الرسل (بالتتابع تقريباً) بالإضافة لقراءة الإنجيل. [وهذا أيضاً ما نراه في قراءات كنيستنا القبطية في الخمسين المقدسة إذ تجد أن قراءة الإبركسيس تأتي بالتتابع تقريباً في كل قراءات أيام الخمسين من الإثنين للجمعة بدايةً من الإسبوع الثاني (ما عدا أربعاء الأسبوع الرابع وخميس الصعود)].<a href="#_ftn9" name="_ftnref9">[9]</a></li>
<li>وتأتي قراءات <strong>الكنيسة اللاتينية</strong> من سفر الأعمال بالإضافة إلى رسالة من رسائل البولس أو رسائل الجامعة بالإضافة إلى قراءة الإنجيل.<a href="#_ftn10" name="_ftnref10">[10]</a></li>
</ul>
</li>
</ul>
<p>ولعل تشابه قراءات الخمسين يوم المُقدَّسة في هيكلها الرئيسي وبعض تفاصيلها بين الكنائس التقليدية يحكي مدي قِدَمِها وأصالتها حتي لوشابها بعض الإختلاف في تفاصيلها وهذا هو ما سوف نراه في المقارنة بين قراءات الكنائس التقليدية الأربعة.</p>
<h3>المراجع</h3>
<p><a href="#_ftnref1" name="_ftn1">[1]</a>  نبذة القراءات الكنسية في الكنيسة القبطية – ص2، 3 - القمص تادرس يعقوب ملطي.</p>
<p><a href="#_ftnref2" name="_ftn2">[2]</a>  نفس المرجع السابق.</p>
<p><a href="#_ftnref3" name="_ftn3">[3]</a>  القطمارس القبطي السنوي - وجه قبلي - ص ١٣٦ - الأب أوجو زانيتي.</p>
<p>ترجمة : مدام نانسي عزت عوض الله - كنيسة مارمينا – الفيوم - Les Lectionnaires Coptes Annuels Basse - Egypte ( Ugo Zanetti )</p>
<p><a href="#_ftnref4" name="_ftn4">[4]</a>  كتاب السنة القبطية الكنسية - للعلامة يسي عبد المسيح - ص ١٠،٩ - إصدار أغنسطس نبيل فاروق فايز.</p>
<p><a href="#_ftnref5" name="_ftn5">[5]</a>  كتاب زمن الخمسين المقدسة - صفحة ٧٠ - الراهب القس أثناسيوس المقاري.</p>
<p><a href="#_ftnref6" name="_ftn6">[6]</a>  خلاصًا مقدسًا - صفحة ٩ - الأنبا مقار أسقف الشرقية والعاشر.</p>
<p><a href="#_ftnref7" name="_ftn7">[7]</a>  كتاب زمن الخمسين المقدسة - صفحة  ١٠٤ - ١١٠ - الراهب القس أثناسيوس المقاري.</p>
<p><a href="#_ftnref8" name="_ftn8">[8]</a>  كتاب عظات علي سفر أعمال الرسل - صفحة ٧٦ - ترجمة دكتور جورج عوض إبراهيم.</p>
<p><a href="#_ftnref9" name="_ftn9">[9]</a>  المراجع: [كتاب القراءات في الكنيسة السريانية] – [الإنجيل الإلهي والرسائل - كتاب قراءات الكنيسة البيزنطية - بطريركية أنطاكية وسائرالمشرق للروم الأرثوذكس].</p>
<p><a href="#_ftnref10" name="_ftn10">[10]</a>  Lees rooster kerk موقع قراءات الكنيسة اللاتينية لثلاث سنوات.</p>

      {% endcreateArticleAccordions %}
    </section>
  {% endblock %}
