---
layout: 'layouts/reading.html'
title: 'موضوع قراءات الخمسين يوم المُقَدَّسَة'
tags: 'pentecost'
permalink: /articles/pentecost/1056.html
---
  {% block content %}
    <section id="article">
      <h3 class="mt-8 mb-4 heading-explain">شرح القراءات</h3>
      {% createArticleAccordions %}
        <h3>الحياة الجديدة والخليقة الجديدة</h3>
<p>بعد قيامة المسيح له المجد من الأموات دخلت بنا كنيستنا المُقدَّسة إلى أرض الموعد، <strong>مجد الثالوث في الإنسان الجديد</strong>، بعد فداء الإنسان وتجديد طبيعته، دخلت بنا إلى الأحد الطويل (بحسب تعبير الكنيسة)<a href="#_ftn1" name="_ftnref1">[1]</a> ألا وهي الخمسين يوم المُقدَّسة.</p>
<p>لذلك تتكلَّم قراءات الخمسين يوم المُقدَّسة عن <strong>المجد الذي ناله الإنسان الجديد بتدبير الثالوث للخلاص</strong>.</p>
<p><strong>كيف كشف الرب عن المجد المُغطَّى في العهد القديم؟</strong></p>
<p>كان القصد الإلهي في القديم عندما أعطى الرب رموزاً في عيد المظال، والتي تحقَّقت في المسيح له المجد في العهدالجديد، وإذا رجعنا إلى طقس هذا العيد في:</p>
<ul>
<li style="list-style-type: none;">
<ul>
<li>«<strong>سكب المياه</strong>» التي تشير إلى ← فيض الروح القدس على مؤمني العهد الجديد.</li>
<li>و«<strong>طقس الإنارة</strong>» التي تُشير إلى ← ربنا يسوع المسيح.</li>
<li>وطقس «<strong>عمل مظال</strong>» تُشير إلى ← رعاية الله الآب لشعبه.</li>
</ul>
</li>
</ul>
<p>ويتذكرالشعب:</p>
<ul>
<li style="list-style-type: none;">
<ul>
<li>عبور أجدادهم بقيادة موسى النبي،</li>
<li>والمن النازل من السماء،</li>
<li>والماء الخارج من الصخرة التي هي المسيح (١كو١٠: ٤)،</li>
</ul>
</li>
</ul>
<p>وهنا نرى:</p>
<ul>
<li style="list-style-type: none;">
<ul>
<li>رعاية الله الآب.</li>
<li>ونور الإبن.</li>
<li>وأنهار ماء الروح.</li>
</ul>
</li>
</ul>
<p><strong>ملحوظة: </strong>لمعرفة المزيد عن طقس المياه وطقس الإنارة وإقامة المظال يمكن الرجوع لشرح الأب القمص روفائيل البراموسي في كتابه: [المسيح في الأعياد اليهودية].</p>
<p>ونرى الرب يسوع يُعْلِن عن ذاته في هذا العيد عندما قال:</p>
<ul>
<li style="list-style-type: none;">
<ul>
<li>وقت سكب المياه ← أن من يؤمن به ستجري من بطنه أنهار ماء الحياة في إشارة إلى ملء الروح (يو7: 38).</li>
<li>وقت إنارة الهيكل ← أنه نور العالم (يو9: 5؛ 12: 35).</li>
</ul>
</li>
</ul>
<p>والعجيب أنه في وقت الإحتفال بهذا العيد يُقابل المولود أعمى، ويقول له أن يغتسل في بركة سلوام (يو9: 7)، فيرجع بصيراً، ويخرج المولود أعمى من مظال المجمع اليهودي ليدخل مظال المسيح التي تقوده إلى الآب.</p>
<p>وهنا أعطى الرب معنى جديداً للماء، والنور، والمظال، لتتحقَّق أرض موعد العهد الجديد.</p>
<p>وهكذا أخرجنا الروح من المعمودية، العبور العظيم، بموت المسيح وقيامته، إلى أرض الموعد التي نتغذى فيها على الخبزالنازل من السماء (الإفخارستيا)، وأنهار ماء الحياة لمن يؤمن، ونور الحياة في المسيح، وطريقنا إلى الآب الذي أعدَّ لنا المظال الأبدية، وأجلسنا عن يمين الآب، فإنسكب علينا الروح لنكون شهوداً إلى أقصى الأرض.</p>
<h3><strong>العبور بالبصخة بين إستعلان محبَّة الثالوث في دعوة التوبة بالصوم، وإستعلان مجد الثالوث في الخليقة الجديدة في الخمسين يوم المُقدَّسة</strong><strong>:</strong></h3>
<p>كما أعلنت الكنيسة عن غني الحب الإلهي في دعوة التوبة بمفهومها الشامل والواسع خلال قراءات الصوم المقدس وختمتها بالمولود أعمى، والاستنارة بالمعمودية، هكذا تبدأ الكنيسة معنا بعد خروجنا من المعمودية بالحياة والخليقة الجديدة لأولاد الله (رو٦: ٤).</p>
<p>أو بنفس المعني باسلوب آخر نعيش شركة قيامته ونصرته وصعوده للسموات كما يقول م. فؤاد نجيب يوسف في كتابه<a href="#_ftn2" name="_ftnref2">[2]</a>:</p>
<p>[فبعد أن قدمت في المنهج الرابع الخروج مع المسیح للبریة في الصوم الأربعیني المقدس، وفي المنهج الخامس العبور مع  المسیح في أسبوع الفصح «شركة آلام وموت ودفن». ترینا فرح قیامته لنشترك في نصرته وصعوده إلي السموات والجلوس عن يمين الآب].</p>
<p>أي أن القراءات والطقس دعوة كنسية ليتورجية للفرح الدائم، لذلك نعيش مجدها خمسين يوماً في الألحان والطقس والقراءات، مُقارنة بطقس وألحان البصخة المُقدَّسة التي يغلب عليها الحزن والألم، أي أن الكنيسة جعلت للحزن إسبوع وللفرح سبعة أسابيع، فكما لو كانت الكنيسة تدعونا للفرح أكثر من الحزن، وللمجد والنصرة أكثر من الألم ، وقياس الفارق كبير، ليته يكون دائماً جوهر تعليمنا وعظاتنا.</p>
<p>وإذا قارنا قراءات آحاد الصوم الأربعيني المُقدَّس، بقراءات آحاد الخمسين يوم المُقدَّسة، سنجد آثار الخطية في طبيعتنا البشرية إذا تَغرَّبناعن المسيح، من جوع (لو١٥: ١٧ الإبن الضال)، وعطش (يو٤: ٥- السامرية)، وشلل (يو٥: ٦ المخلع)، وعمى (يو٩: ١ المولود أعمى) في آحاد الصوم، في الوقت الذي نجد فيه عمل النعمة الإلهية في الطبيعة البشرية في المسيح، من شبع (يو٦: ٣٥ خبزالحياة)، وإرتواء (يو٤: ١٤ الماء الحي)، وإستنارة (يو١٢: ٣٦)، وإنطلاق وصعود (يو١٤: ٦)، ونصرة (يو١٦: ٣٣)، وملءالروح (يو١٥: ٢٦) في قراءات الخمسين يوم المُقدَّس.</p>
<p>لكن هذا لا يعني أننا لا نلمح أيضاً نور القيامة في قراءات آحاد الصوم في إعلان بنويتنا للآب (مت٦: ٩)، وميراثنا السماوي (مت٦: ٢٠)، ونصرتنا في المسيح (مت٤: ١٠، ١١)، ومكانتنا عنده التي تنقلنا من الموت إلي الحياة (لو١٥: ٢٢- ٢٤)، وخلاص البشرية في اليوم الثالث (يو٤: ٤٠- ٤٣)، وقيامتنا فيه (يو٥: ٨)، ورؤيته وإستنارتها به (يو٩: ٣٧، ٣٨).</p>
<p>لذلك بينما تكشف قراءات الصوم عن حالتنا ووضعنا بدون المسيح لا تنسى أن تملأنا بالرجاء لما يمكن أن نناله في قيامته المُقدَّسة أساس الحياة والخليقة الجديدة والتي هي موضوع قراءات الخمسين يوم المُقدَّسة</p>
<h3><strong>مجد الخليقة الجديدة في الخمسين يوم المُقدَّسة</strong><strong>:</strong></h3>
<p>وهكذا تأخذنا النعمة إلى العلوّ بحسب تعبير صلاة القسمة (قسمة القديس كيرلس)، فنرى المسيح:</p>
<ul>
<li style="list-style-type: none;">
<ul>
<li>قيامتنا (أحد توما)،</li>
<li>وخبزنا (الأحد الثاني)،</li>
<li>وماؤنا (الأحد الثالث)،</li>
<li>ونورنا (الأحد الرابع)،</li>
<li>وطريقنا إلى الآب (الأحد الخامس)،</li>
<li>وغلبتنا (الأحد السادس)،</li>
<li>وساكن فينا بروحه القدوس (الأحد السابع).</li>
</ul>
</li>
</ul>
<p>كما تتحرَّك بنا أيَّام الخمسين يوم المُقدَّسة (من الإثنين للجمعة) لتكشف لنا عن:</p>
<ul>
<li style="list-style-type: none;">
<ul>
<li>يقين قيامته (الإسبوع الأوَّل)،</li>
<li>ومجد الإيمان به (الإسبوع الثاني)،</li>
<li>ومجد حضوره الإلهي (الإسبوع الثالث)،</li>
<li>ونور كلمته (الإسبوع الرابع)،</li>
<li>وهدف إرساليته (الإسبوع الخامس)،</li>
<li>ومجد صعوده (الإسبوع السادس)،</li>
<li>وملء روحه في الكنيسة (الإسبوع السابع).</li>
</ul>
</li>
</ul>
<p>وكما أظهرت لنا قراءات الصوم الكبير &#8220;<strong>الحب الذي نزل إلى هبوطنا</strong>&#8221; ليدعونا إلى التوبة، هكذا أظهرت لنا قراءات الخمسين يوم المُقدَّسة &#8220;<strong>النعمة التي تصعدنا إلى العلوّ</strong>&#8220;.</p>
<h3><strong>موضوع القراءات في أيَّام أسابيع الخمسين يوم المُقدَّسة</strong> (من الإثنين للجمعة) :</h3>
<p>فالحياة الجديدة كما تعلنها قراءات الكنيسة مصدرها القيامة، <strong>فقيامة ربنا يسوع المسيح من بين الأموات هي أساس الحياة الجديدة لكل المؤمنين</strong>، فكما قام المسيح بالجسد هكذا أعطى إمكانية القيامة لكل البشرية ومنح كل مؤمن مجاناً بذرة الحياة الجديدة بالمعمودية، فنحن بالمعمودية أخذنا قوة قيامة المسيح (رو٤:٦)، ولبسنا الانسان الجديد (أف ٢٤:٤)، بل ولبسنا المسيح (غل٢٧:٣).</p>
<p>ثم تأتي الكنيسة وتعلن عن:</p>
<ul>
<li style="list-style-type: none;">
<ul>
<li><strong>قبول الحياة الجديدة بالإيمان</strong> موضوع الأسبوع الثاني، فالقيامة هي عمل الله العظيم في حياتنا، والايمان هوقبولنا له، فالله دائماً هو المبادر والعامل فينا، ولكن تبقى استجابتنا له أساسية لأجل نوال إشراقة الحياة، فالإيمان أساسي جداً في قبول كل عطايا الله الخلاصية.</li>
<li>ثم يعلن الأسبوع الثالث عن <strong>ثمر الإيمان &#8220;الرؤية&#8221;</strong>، وحضوره وإستعلانه لنا، فالحياة الجديدة هي نعمة نتذوقها يوم بعد يوم، فيها نتغيرإلى تلك الصورة عينها من مجد إلى مجد ونأخذ فيها نعمة فوق نعمة، وتتشكل فينا صورة المسيح من يوم إلى يوم ويزداد بهاء مجده فينا.</li>
<li>أما الأسبوع الرابع فيكمل ما قبله بإعلان الحياة الجديدة وهو التعليم الإلهي في نور كلمته، أي المعرفة الحيَّة الإختبارية، فالتذوق (الإسبوع الثالث) سابق للإعلان والتعليم (الأسبوع الرابع)، كما قال الكتاب &#8220;ذوقوا وانظُروا ماأطَيَب الربَّ&#8221; (مز٨:٣٤)، وكما قال رب المجد &#8220;طوبى لمن عمل وعلم، فهذا يُدعي عظيماً&#8221; (مت١٩:٥)، فشهادة كلمة الحياة تأتي بعد فعلها في قلب من يشهد بها، وما أجمل أن يرتبط &#8220;تعرف الكتب المقدسة&#8221; (٢تي٣: ١٥) بتسليم &#8220;الإيمان العديم الرياء&#8221; (٢تي١: ٥).</li>
<li>ثم يعلن الأسبوع الخامس عن مسٔولية الحياة الجديدة (الإرسالية)، فمن نال قوة الحياة الجديدة يعرف أن عليه مسئولية، وكما أرسل الآب الأبن مخلصاً للعالم (١يو٤: ١٤) هكذا أولاد الله يحيون دائماً كمرسلين من الآب في ابنه يسوع المسيح لمصالحة العالم معه ولخلاصه ولسلامه (٢كو ٥ : ١٩،١٨ ) وكما أعلن الابن أنه نور العالم (يو١٢:٨) هكذا جعل أولاده نوراً للعالم يبددون ظلام الخطية والجهل والخوف في أي مكان يحلون فيه (مت١٤:٥).</li>
<li>أما الأسبوع السادس فيعلن عن مجد الحياة الجديدة (الصعود)، فكما أن الكنيسة في وضع إرسالية للعالم فهي في نفس الوقت في وضع صعود إلى فوق، فالكنيسة دائماً فوق العالم بينما هي تخدمه وتضمد جروحه (لو٣٤:١٠).</li>
<li>وأخيراً يختم بالأسبوع السابع عن ملكوت الحياة الجديدة وهي (الكنيسة)، فالكنيسة فوق الزمن والمكان والأشخاص والظروف ومتغيرات العصر، والكنيسة هي صورة الملكوت وأيقونته الجميلة، وُجِدَتْ بتدبير الثالوث، وصارت كاملة ببهائه عليها.</li>
</ul>
</li>
</ul>
<p>ويمكن تشبيه الحياة والخليقة الجديدة بحبة الخردل التي سوف تصير شجرة كبيرة.</p>
<p>فالقيامة وفعلها من خلال سر المعمودية هي:</p>
<ul>
<li style="list-style-type: none;">
<ul>
<li><strong>البذرة </strong>(الأسبوع الأوَّل)،</li>
<li>و<strong>الإيمان</strong> هو الأرض التي تقع عليها (الإسبوع الثاني)،</li>
<li>و<strong>الاستعلان</strong> هو نمو البذرة داخل الأرض (الأسبوع الثالث)،</li>
<li>و<strong>التعليم</strong> هو ظهورها للعالم (الأسبوع الرابع)،</li>
<li>و<strong>الإرسالية</strong> هي ثمارها الكثيرة (الأسبوع الخامس)،</li>
<li>و<strong>الصعود</strong> هو تأصل جذر الشجرة في الأرض (الأسبوع السادس)،</li>
<li>والكنيسة هي كمال الشجرة وبهاءها (الأسبوع السادس) .</li>
</ul>
</li>
</ul>
<p>كما أن إعلان الكنيسة عن الحياة والخليقة الجديدة يتجسَّد خلال أدوارها الرئيسية الثلاثة: [العبادة  والتعليم  والرعاية].</p>
<ul>
<li style="list-style-type: none;">
<ul>
<li><strong>فالعبادة</strong> ← استعلان وصعود.</li>
<li>و<strong>التعليم </strong>← إعلان.</li>
<li>و<strong>الرعاية</strong> ← إرسالية..</li>
</ul>
</li>
</ul>
<p>فهذا هو ثالوث إعلان الكنيسة، الشاهد على إيمانها وحياتها الجديدة في المسيح.</p>
<p>وكل موقف تعيشه الكنيسة يجب أن تعلن فيه بعبادتها وتعليمها ورعايتها عن عطايا الحياة الجديدة وملئها..</p>
<p>فالكاهن عندما يُصلِّي سر مسحة المرضى فهو يطمئن أولاً على أفراد الأسرة «الرعاية»، ثم يشرح لهم بتبسيط المغزى وهدف طقس السر «التعليم»، ثم يقودهم إلى الصلاة بخشوع «العبادة».</p>
<p>وفي صلاة الثالث يتكلم أولاً مع النفوس المتألمة مُهدِّئاً إياها ومُضمِّداً لجروحهم «الرعاية»، ثم يشرح لهم الهدف والمعنى للصلاة «التعليم»، ثم يرفع أنظارهم إلى فوق بالصلاة «العبادة».</p>
<p>وفي صلاة القداس عندما تكون «العبادة» بالروح وبفرح، ويكون «التعليم» نقياً وقوياً، ويمتزج «برعاية» واطمئنان على كل نفس بعدالقداس، حينئذ تتجلَّي الحياة الجديدة، ويظهر بهاءها للكل، ويزداد إنتماء النفوس للكنيسة.</p>
<p>ولكن من الخطورة أن تهتز وتضعف إحدى هذه الدعامات الثلاثة في الكنيسة في مواقفها الليتورجية.. فإذا صار القنديل مجرد صلاة آلية بمجرد دخول الكاهن البيت، واقتصرت صلاة الثالث على الطقس فقط، ضعفت قيمة الليتورجية وذهب بريقها وضياءها في أعين الشعب.. كذلك إذا اقتصر القداس على جمال الصوت وروعة اللحن دون رعاية صادقة واهتمام واضح بمشاكل الناس ودون تعليم نقي يمحو الجهل ويثبت العقيدة، يهتزّ إيمان الشعب ويتعلق بالشكل دون الجوهر منتظراً من يستغل ويستثمر هذا النقص من طوائف أخرى ليعتقد الانسان أنه لم يجد غنى وشبع في كنيسته!!، مع أن الكنيسة كاملة ولا يوجد غنى وعمق في تراث ليتورجي مثلها.</p>
<p>لذلك فالضرورة موضوعة على كل خادم أن يعيش الكنيسة بعمقها ويكتشف غناها، ويظهره للناس، كما كان يصلي القديس بولس أن تُظهرالكنيسة للمؤمنين محبة المسيح الفائٔقة المعرفة لكي نمتلئ إلى كل ملء الله (أف١٩:٣).</p>
<p><a href="#_ftnref1" name="_ftn1">[1]</a> من عظة قداسة البابا تواضروس الثاني لكنائس المهجر في عيد القيامة لسنة ٢٠٢١.</p>
<p><a href="#_ftnref2" name="_ftn2">[2]</a>  دراسة منهجية للقراءات الليتورجية للكنيسة القبطية - ص ٢٢٢.</p>

      {% endcreateArticleAccordions %}
    </section>
  {% endblock %}
