---
layout: 'layouts/reading.html'
title: 'قراءات الكنائس التقليدية الأخرى ومقارنتها بقراءات الكنيسة القبطية فيما يخص القيامة والخمسين يوم المقدسة'
tags: 'pentecost'
permalink: /articles/pentecost/1061.html
---
  {% block content %}
    <section id="article">
      <h3 class="mt-8 mb-4 heading-explain">شرح القراءات</h3>
      {% createArticleAccordions %}
        <p><a href="#_ftn1" name="_ftnref1"></a></p>
<h3>الكنيسة البيزنطية</h3>
<ul>
<li>قراءة إنجيل القدَّاس في الأحد المعروف بأحد توما (يو٢٠: ١٩) الخ في الكنيسة البيزنطية ← هي نفس قراءة أحد توما في الكنيسة القبطية.</li>
<li>قراءة إنجيل القدَّاس في يوم الثلاثاء من الأسبوع الأول (لو ٢٤: ١٢- ٣٥) ← مع إنجيل قدّاس الأثنين من الأسبوع الأول (يو٢٤: ١٣- ٣٥).</li>
<li>قراءة إنجيل القدَّاس في يوم الجمعة (يو ٢: ١٢- ٢٣) ← مع إنجيل قدّاس الأربعاء من الأسبوع الأول (يو٢: ١٢- ٢٥).</li>
<li>قراءة إنجيل القدَّاس في يوم الأربعاء من الأسبوع الثاني (يو٥: ١٧- ٢٤) ← مع الثلاثاء من الأسبوع الثاني (يو٥: ٢٢-٢٤).</li>
<li>قراءة إنجيل القدَّاس في يوم الجمعة من الأسبوع الثاني ← مع قراءة الأربعاء والخميس عندنا (يو٥: ٣٠- ٦: ٢). والأربعاء (يو٥: ٣٦ – ٣٧)، والخميس (يو٥: ٣٩- ٤٧).</li>
<li>قراءة إنجيل القدَّاس في يوم السبت (يو٦: ١٤- ٢٧) مع قراءة عشيّة الأحد خبز الحياة (يو٦: ١٦- ٢٣).</li>
<li>قراءة إنجيل القدَّاس في يوم الأحد الثالث في الكنيسة القبطية والتي تتكلّم عن لقاء الرب مع السامرية والماء الحي ( يو٤: ١- ٤٢) ← تأتي نفس القصة في الأحد الرابع في الكنيسة البيزنطية (يو٤: ٥ - ٤٢).</li>
<li>قراءة إنجيل القدَّاس في يوم الثلاثاء من الأسبوع الثالث (يو٦: ٢٧- ٣٣) ← مع باكر أحد الخبز (يو٦: ٢٤- ٣٣).</li>
<li>قراءة إنجيل القدَّاس في يوم الأربعاء من الأسبوع الثالث (يو٦: ٣٥- ٣٩)، وقراءة يوم الخميس من الأسبوع الثالث (يو٦: ٤٠- ٤٤) ← مع قراءة انجيل قدّاس أحد الخبز (يو٦: ٣٥- ٤٥).</li>
</ul>
<ul>
<li>قراءة إنجيل القدَّاس في يوم الجمعة من الأسبوع الثالث (يو٦: ٤٨- ٥٤) ← مع انجيل قدّاس يوم السبت (يو٦: ٤٧- ٥٦) [مع الكنيسة السريانية]</li>
<li>قراءة إنجيل القدَّاس في يوم الأربعاء من الأسبوع الرابع (يو٧: ١٤- ٣٠) ← مع قراءة إنجيل القدَّاس ليوم الأربعاء للأسبوع الرابع (يو٧: ١٤- ٢٩).</li>
<li>قراءة إنجيل القدَّاس في يوم الخميس من الأسبوع الرابع )يو ٨ : ١٢ –٢٠( ← مع عشيّة احد السامرية (يو٨: ١٢- ٢٠).</li>
<li>قراءة إنجيل القدَّاس في يوم السبت من الأسبوع الرابع (يو٨: ٣١- ٤٢) ← مع قراءة يوم الأثنين للأسبوع الرابع (يو٨: ٣٩- ٤٢).</li>
<li>قراءة إنجيل القدَّاس في يوم الثلاثاء من الأسبوع الخامس (يو٨: ٥١- ٥٩) ← مع قراءة الثلاثاء والخميس للأسبوع الرابع (يو٨ : ٥١- ٥٥) (يو٨: ٥٤- ٥٩).</li>
<li>قراءة إنجيل القدَّاس في يوم السبت من الأسبوع الخامس (يو١٠: ٢٧- ٣٨) مع انجيل القدَّاس للجمعة من الأسبوع الرابع (يو١٠: ٣٤- ٣٨).</li>
<li>قراءة إنجيل القدَّاس في يوم الأربعاء من الأسبوع السادس (يو١٢: ٣٦- ٤٧) ← مع يوم الأحد المسيح النور (يو١٢: ٣٥- ٥٠) ويوم الثلاثاء التالي للمسيح النور (يو١٢: ٤٤- ٤٨).</li>
<li>قراءة إنجيل القدَّاس في عيد الصعود في الكنيسة القبطية (لو٢٤: ٣٦- ٥٣) هي نفس قراءة إنجيل القدَّاس في الكنيسة البيزنطية.</li>
<li>قراءة إنجيل القدَّاس في يوم الجمعة التالية لعيد الصعود (يو١٤: ١- ١١) ← مع قراءة السبت والأحد السابقين لعيد الصعود.</li>
<li>انجيل قدّاس أحد الآباء القديسين (المجتمعين بنيقية) (يو١٧: ١- ١٣) ← مع انجيل باكر سبت العنصرة (يو١٧: ١- ١٣) [مع الكنيسة السريانية].</li>
<li>قراءة إنجيل القدَّاس في يوم الأثنين من الأسبوع السابع (يو١٤: ٢٧- ١٥: ٧) ← الأثنين من الأسبوع السابع (يو١٥: ١- ٨).</li>
<li>قراءة إنجيل القدَّاس في يوم الثلاثاء من الأسبوع السابع (يو١٦: ٢- ١٣) ← انجيل قدّاس العنصرة (يو١٥: ٢٦- ١٦: ١- ١٥).</li>
<li>قراءة إنجيل القدَّاس في يوم الأربعاء من الأسبوع السابع (يو١٦: ١٥- ٢٣) ← مع قراءة سبت الغالب (يو١٦: ١٥- ٢٣).</li>
<li>قراءة إنجيل القدَّاس في يوم الخميس من الأسبوع السابع (يو١٦: ٢٣- ٣٣) ← مع قراءة أحد الغالب (يو١٦: ٢٣- ٣٣).</li>
<li>قراءة إنجيل القدَّاس في يوم الجمعة من الأسبوع السابع (يو١٧: ١٨- ٢٦) ← مع قراءة سبت العنصرة (يو١٧: ١٤- ٢٦).</li>
<li>قراءة انجيل قدّاس أحد العنصرة (يو٧: ٣٧- ٥٤، يو٨: ١٢) ← مع انجيل عشيّة العنصرة (يو٧: ٣٧- ٤٤).</li>
</ul>
<h3>الكنيسة السريانية</h3>
<ul>
<li>تنقسم القراءات الكنسية في الكنيسة السريانية بين ثلاث أعياد كبيرة وترتبط قراءات الآحاد بهم.</li>
</ul>
<p>والأعياد الثلاثة هم القيامة والصليب والدنح (الغطاس).</p>
<p>فيُقال الأحد الأوَّل أو الثاني بعد القيامة أو الأحد الأوَّل بعد الصليب أو بعد الدنح وهكذا.</p>
<ul>
<li>قراءات الآحاد المرتبطة بعيد القيامة تُرقَّمْ بحسب ترتيب مجيئها بعد قيامة الرب وهم أربعة وعشرون أحداً (بعدها عيد الآباء الرسل، وعيد التجلّي، وعيد انتقال السيدة العذراء).</li>
<li>قراءات أناجيل قدّاسات آحاد الخمسين يوم المُقدَّسة تتكلّم عن:</li>
<li>ظهورات الرب بعد القيامة للمريمات (أحد القيامة).</li>
<li>وللتلاميذ بدون توما ومع توما (الأحد الأوَّل بعد القيامة).</li>
<li>وظهوره على بحر طبرية، وحديثه مع بطرس، وحديثه عن يوحنا (الأحد الثاني بعد القيامة).</li>
<li>وحصاد القيامة مع السامريين وخلاصهم (الأحد الثالث بعد القيامة).</li>
<li>وخبز الحياة والأفخارستيا (الأحد الرابع بعد القيامة).</li>
<li>وإعلان تدبير وقت صعوده للسماء (الأحد الخامس بعد القيامة).</li>
<li>وصعوده بالجسد للسماء (عيد الصعود).</li>
<li>وغلبة العالم (إنجيل عشيّة للأحد السادس بعد القيامة).</li>
<li>والوعد بإرسال الروح القدس (عيد العنصرة).</li>
<li>أمَّا قراءات الرسائل فهي تُشير مع القيامة إلى الإنسان الجديد والولادة الجديدة أو الولادة الثانية، وتأتي الأحاديث عن الصعود مرتبطة بالقيامة عامة في الآحاد فضلاً عن مجيئها تفصيلاً في عيد الصعود.</li>
<li>فمثلا تأتي قراءات عن الولادة الثانية (١بط ١: ١٣-٢٥) والإنسان الجديد (أف ٤: ١٧-٢٤) في قراءات الأحد الأوَّل بعد القيامة.</li>
<li>وأيضاً عن الإنسان الجديد والروح القدس (أف ٤: ٢٥-٣٢) وتغيير البشر بالقيامة (أع ٣: ١١-٢٦) في الأحد الثاني بعد القيامة.</li>
<li>وحديث عن التجسّد والصعود (عب ١٠: ١-١٤) في الأحد الثالث بعد القيامة.</li>
<li>وحديث عن القيامة والصعود (أف ٢: ٤-١٨) في الأحد الرابع بعد القيامة.</li>
<li>وحديث عن القيامة والمصالحة والإنسان الكامل (أع ١٣: ٢٦-٤٠، كو١: ٢١-٢٩) في الأحد الخامس بعد القيامة.</li>
<li>هذا بالإضافة للحديث تفصيلاً عن صعود الرب بالجسد للسماء في عيد الصعود (أع١: ١-٤، أف٤: ١-١٦).</li>
</ul>
<h3><strong>أوجه التشابه بين قراءات الخمسين يوم المُقدَّسة في الكنيستين القبطية والسريانية</strong></h3>
<h4><strong>البولس</strong></h4>
<ul>
<li>يأتي البولس في قراءات عيد القيامة مُتقارب إلى حد كبير في القراءتين:</li>
</ul>
<p>(١كو١٥: ٢٣-٥٠) في الكنيسة القبطية، (١كو١٥: ٢٠-٣٣) في الكنيسة السريانية.</p>
<p>والقراءتين يدور محورهما عن حقيقة قيامة الرب من بين الأموات.</p>
<ul>
<li>البولس في قراءات السبت المُلازم لأحد توما [في الكنيسة القبطية] يأتي من (كو١: ١٢-٢٣) والحديث عن قيامة الرب الذي أنقذنا من سلطان الظلمة ونقلنا إلى ملكوت ابن محبّته.</li>
<li>ويأتي البولس في قراءات الأحد الخامس بعد القيامة [في الكنيسة السريانية] من (كو١: ٢١-٢٩) وتكرار الآيات الثلاثة من 21 إلى ٢٣ في القراءتين، ولكن التأكيد هنا على ما نلناه بعد القيامة وكَمُلَ بالصعود &#8220;فالآن صالحكم بجسد بشريته بموته ليحضركم قديسين وغير معابين وللزلل عادمين قدّامه&#8221;.</li>
<li>البولس في قراءات أحد توما [في الكنيسة القبطية] يأتي من (أف٤: ٢٠-الخ) والحديث هنا عن الإنسان الجديد الذي نلناه بمصالحة الله الآب لنا في المسيح &#8220;كما سامحكم الله في المسيح&#8221;.</li>
</ul>
<p>وتأتي هذه القراءة في الكنيسة السريانية في قراءتين الأحد الأوَّل بعد القيامة [مثل أحد توما في كنيستنا] من (أف٤: ١٧-٢٤)، وفِي قراءة الأحد الثاني بعد القيامة من (أف٤: ٢٥-٣٢)، وأيضاً الحديث هنا عن الإنسان الجديد بالقيامة وهو أيضاً موضوع القراءة الثانية في الأحد الأوَّل بعد القيامة (١بط١: ١٣-٢٥).</p>
<ul>
<li>البولس في يوم الأربعاء للأسبوع الرابع [الكنيسة القبطية] يأتي من (أف٢: ١٣-١٨)، بينما البولس للأحد الرابع بعد القيامة [الكنيسة السريانية] يأتي من (أف٢: ٤-١٨).</li>
</ul>
<p>والحديث هنا في القراءتين عن مصالحة اليهود والأمم &#8220;وجاء فبشركم بسلام أنتم القريبين والبعيدين لأن به صار لنا معشر الفريقين القربى بروح واحد عند الآب&#8221;.</p>
<p>والعجيب توافق باقي القراءات في نفس اليوم -بل ونفس الأسبوع- مع هذا الهدف:</p>
<ul>
<li>فقراءات البولس في كل أيَّام الأسبوع الرابع [في الكنيسة القبطية] تأتي من (رو٤،٣) والحديث عن بر الله لليهود والأمم، واحتياج الجميع للبر، ورغم أن قراءات البولس في الأسبوع كله تأتي من رومية ما عدا يوم الأربعاء الذي تأتي فيه من أفسس بنفس الغرض والهدف والمضمون.</li>
<li>وقراءة سفر الأعمال [في الكنيسة السريانية] في نفس يوم الأحد من (أع١٦: ١٦ -٣٤) والحديث عن بولس وسيلا والكرازة للأمم وإيمان أهل فيلبي وإيمان السجَّان وأهل بيته.</li>
<li>وقراءة الأبركسيس [في الكنيسة القبطية] في نفس يوم الأربعاء أيضاً عن الكرازة بين الأمم.</li>
<li>قراءة يوم السبت المُلازم لأحد النور [في الكنيسة القبطية] تأتي من (عب١٠: ١-١٣) والحديث هنا عن صليب الرب وقيامته وصعوده بالجسد للسماء، وهو موافق لقراءات أيَّام الأسبوع الذي يليه الذي يأتي فيه عيد الصعود (خميس الصعود ).</li>
</ul>
<p>بينما تأتي نفس القراءة في الأحد الثالث بعد القيامة [في الكنيسة السريانية] لتشرح نفس الهدف.</p>
<p>ولكن بينما نجد القراءات عن صعود الرب بالجسد تأتي في قراءات الكنيسة القبطية في أسبوع الصعود نجد أن القراءات عن الصعود مع الصليب والقيامة تأتي عبر الخمسين يوم المُقدَّسة في الكنيسة السريانية [الأحد الثالث والرابع والسادس بعد القيامة].</p>
<h4><strong>الكاثوليكون</strong></h4>
<p>يأتي الكاثوليكون في يومي الأربعاء (١بط ١: ١٠-٢١) والجمعة )١بط ٢٥:١-١٠:٢ (من الأسبوع الأوَّل (في الكنيسة القبطية) والحديث عن القيامة والولادة الثانية.</p>
<p>وهو موافق لقراءة الأحد الأوَّل بعد القيامة [في الكنيسة السريانية] والذي يأتي من (١بط١: ١٣-٢٥) للتأكيد على قيامة الرب وعطايا قيامته لنا.</p>
<h4><strong>الإبركسيس </strong></h4>
<ul>
<li>قراءة الإبركسيس ليوم الإثنين في الأسبوع الأوَّل [في الكنيسة القبطية] تأتي من (أع ٣: ١-٢٠) موافقة تقريباً لقراءة يوم أثنين البياض [نفس اليوم في كنيستنا وهو يوم شم النسيم] وتأتي القراءة من (أع٣: ١١-٢٦).</li>
</ul>
<p>والحديث في كلا القراءتين عن الشهادة لقيامة الرب يسوع.</p>
<ul>
<li>قراءة الإبركسيس ليوم الجمعة من الأسبوع الأوَّل [في الكنيسة القبطية] تأتي من (أع١٣: ٣٤-٤٢) والحديث فيها عن قيامة الرب يسوع بالجسد من الأموات.</li>
</ul>
<p>وهي نفس القراءة تقريباً التي جاءت في عيد القيامة [في الكنيسة السريانية] من (أع١٣: ٢٦-٤٣).</p>
<p>وتكررت في قراءات الأحد الخامس بعد القيامة [في الكنيسة السريانية] من (أع ١٣: ٢٦-٤٠).</p>
<ul>
<li>قراءة الإبركسيس في أحد توما [في الكنيسة القبطية] تأتي من (أع ١٧: ١٦-الخ).</li>
</ul>
<p>والحديث هنا عن كرازة القديس بولس عن قيامة الرب يسوع وسط الأثينيين.</p>
<p>وهي تقريباً نفس قراءة الأحد السادس بعد القيامة [في الكنيسة السريانية] والتي تأتي من (أع١٧: ١٤-٣٤).</p>
<ul>
<li>قراءة يوم الأربعاء من الأسبوع السادس [في الكنيسة القبطية] تأتي من (أع١٩: ٦-١٠).</li>
</ul>
<p>والحديث هنا عن حلول الروح القدس والمواهب.</p>
<p>وهي تقريباً نفس قراءة عيد العنصرة [في الكنيسة السريانية] والتي تأتي من (أع ١٩: ١-١٢).</p>
<h4><strong>الأناجيل</strong></h4>
<ul>
<li>قراءة إنجيل باكر في عيد القيامة [في الكنيسة القبطية] هي نفس قراءة إنجيل القدَّاس في عيد القيامة [في الكنيسة السريانية] باستثناء بعض الآيات.</li>
<li>قراءة إنجيل القدَّاس في عيد القيامة [في الكنيسة القبطية] هي نفس قراءة إنجيل الصباح (باكر) في عيد القيامة [في الكنيسة السريانية].</li>
<li>قراءة إنجيل قدّاس أحد توما [في الكنيسة القبطية] هي بذاتها (باستثناء آخر آيتين في الإنجيل ٣١،٣٠) نفس قراءة إنجيل المساء (عشيّة) وإنجيل الصباح (باكر) وإنجيل القدَّاس الإلهي للأحد الأوَّل بعد القيامة [في الكنيسة السريانية].</li>
<li>إنجيل باكر في أحد توما [في الكنيسة القبطية] هو بذاته إنجيل المساء (عشيّة) في الأحد الثاني بعد القيامة [في الكنيسة السريانية].</li>
<li>إنجيل عشيّة يوم أحد الخبز [في الكنيسة القبطية] مشابه لإنجيل المساء (عشيّة) في الأحد الثالث بعد القيامة [في الكنيسة السريانية].</li>
<li>إنجيل عشيّة ليوم الأثنين من الأسبوع الثاني [في الكنيسة القبطية] مشابه لإنجيل الصباح (باكر) في الأحد الثالث بعد القيامة [في الكنيسة السريانية].</li>
<li>إنجيل قدّاس أحد الماء الحي [في الكنيسة القبطية] يأتي الجزء الأخير منه الذي يتكلَّم عن حصاد خلاص الله في الشعوب في إنجيل قدّاس الأحد الثالث بعد القيامة (في الكنيسة السريانية).</li>
<li>إنجيل قدّاس السبت المُلازم لأحد الماء الحي [في الكنيسة القبطية] مُشابه لإنجيل قدّاس الأحد الرابع بعد القيامة [في الكنيسة السريانية].</li>
</ul>
<p>ويشترك معهما أيضاً في جزء كبير من قراءته إنجيل عشيّة السبت المُلازم لأحد توما وإنجيل القدَّاس ليوم الجمعة في الأسبوع الثاني [في الكنيسة القبطية].</p>
<ul>
<li>إنجيل قدّاس أحد الخبز [في الكنيسة القبطية] يتشابه مع إنجيل قدّاس الأحد السادس بعد القيامة [في الكنيسة السريانية].</li>
<li>إنجيل قدّاس يوم السبت المُلازم لأحد الطريق وإنجيل قدّاس أحد الطريق [في الكنيسة القبطية] هما نفس إنجيل المساء (عشيّة) في الأحد الخامس بعد القيامة [في الكنيسة السريانية].</li>
<li>إنجيل قدّاس يوم الإثنين من الأسبوع السادس وإنجيل القدَّاس ليوم الثلاثاء من الأسبوع السادس مُكرَّران بنفس الشواهد في إنجيلي قدّاس السبت المُلازم لإنجيل الأحد الغالب وإنجيل قدّاس الغالب [في الكنيسة القبطية] وهما معاً يُمثِّلان قراءة إنجيل الصباح (باكر) في الأحد الخامس بعد القيامة [في الكنيسة السريانية].</li>
<li>إنجيل عشيّة يوم الخميس (خميس الصعود) للأسبوع السادس [في الكنيسة القبطية] هو بذاته إنجيل القدَّاس للأحد الخامس بعد القيامة [في الكنيسة السريانية] وهو الأحد الذي يسبق عيد الصعود في الكنيسة السريانية.</li>
<li>إنجيل قدّاس عيد الصعود [في الكنيسة القبطية] هو بذاته إنجيل المساء والصباح (إنجيل عشيّة وإنجيل باكر) في صعود الرب بالجسد إلى السماء [في الكنيسة السريانية].</li>
<li>إنجيل قدّاس يوم الثلاثاء للأسبوع الأوَّل [القيامة والصعود] يتشابه مع إنجيل عشيّة يوم الإثنين للأسبوع الرابع، ومع إنجيل باكر ليوم الخميس [عيد الصعود] للأسبوع السادس [في الكنيسة القبطية] يتشابهون مع إنجيل قدّاس صعود الرب بالجسد إلى السماء [في الكنيسة السريانية].</li>
<li>الآيات الأخيرة في إنجيل قدّاس أحد الغالب [في الكنيسة القبطية] والتي تُعبِّر عن غلبة المسيح له المجد علي العالم، والتي جاءت أيضاً في إنجيل قدّاس يوم الثلاثاء للأسبوع السادس هي الآيات الأولي لإنجيل المساء (عشيّة) للأحد السادس بعد القيامة [في الكنيسة السريانية].</li>
<li>إنجيل قدّاس يوم الأربعاء للأسبوع السادس وإنجيل باكر للسبت المُلازم لأحد العنصرة [في الكنيسة القبطية] يتشابهان مع إنجيل المساء (عشيّة) للأحد السادس بعد القيامة [في الكنيسة السريانية].</li>
<li>إنجيلي قدّاس يومي الخميس والجمعة للأسبوع الخامس يتشابهان معاً مع إنجيل قدّاس السبت المُلازم لأحد العنصرة [في الكنيسة القبطية] وهما يتشابهان مع إنجيل الصباح (باكر) للأحد السادس بعد القيامة.</li>
<li>إنجيل قدّاس يوم السبت المُلازم لأحد الطريق هو بذاته إنجيل قدّاس أحد الطريق [في الكنيسة القبطية] وهو نفس إنجيل المساء (عشيّة) في عيد العنصرة [في الكنيسة السريانية].</li>
</ul>
<p>ويأتي جزء منه أيضاً في إنجيل باكر أحد الغلبة [في الكنيسة القبطية].</p>
<ul>
<li>إنجيل باكر أحد العنصرة (في الكنيسة القبطية) يتشابه مع الإنجيل الثاني للمساء (عشيّة) [في الكنيسة السريانية].</li>
<li>أناجيل قدّاسات أيَّام الإثنين والثلاثاء والأربعاء والخميس للأسبوع السابع السابق على عيد العنصرة [في الكنيسة القبطية] يُكوِّنان معاً إنجيلي الصباح (باكر) والقدّاس لعيد العنصرة [في الكنيسة السريانية].</li>
</ul>
<p>الكنيسة اللاتينية (الكاثوليكية)</p>
<ul>
<li>يتوزع نظام القراءات في الكنيسة الكاثوليكية في ثلاث سنوات وبينما لا تتغير بعض القراءات في أي سنة منها عن الأخري إلَّاأنه يتخلَّل قراءات كل سنة عن الأخري بعض التغييرات وتُعاد نفس القراءات كل ثلاث سنوات.</li>
<li>تتكون قراءات الخمسين يوم المُقدَّسة من النبوّات والمزامير وقراءات من الرسائل (رسائل القديس بولس ورسائل الجامعة) وقراءات من سفر الأعمال وقراءات من الأناجيل.</li>
<li>تأتي النبوّات والمزامير وسفر الأعمال والأناجيل في كل قراءات الآحاد.</li>
<li>تأتي قراءات رسائل القديس بولس في الأعياد [عيد الفصح وعيد الصعود وعيد العنصرة] بالإضافة إلى الأحد الأوَّل بعد القيامة.</li>
<li>تأتي رسائل الجامعة في باقي الآحاد.</li>
</ul>
<h3><strong>أوجه التشابه بين قراءات الخمسين يوم المُقدَّسة في الكنيستين القبطية واللاتينية</strong></h3>
<p>قراءة إنجيل القدَّاس في ليلة عيد الفصح (القيامة) تأتي من (مت ٢٨: ١-٢٠) يُمْكِن أن تُختصر الآن إلى (مت ٢٨: ١-١٠).</p>
<h4><strong>قراءات عيد الفصح</strong></h4>
<ul>
<li>السنة الثانية: إنجيل القدَّاس (مر١٦: ١-٨) هو مُشابه لإنجيل عشيّة قداس عيد القيامة في كنيستنا<br />
(مر١٦: ٢-١١).</li>
<li>السنة الثالثة: إنجيل القدَّاس (لو٢٤: ١-١٢) مُشابه لإنجيل عشيّة قدّاس يوم الأثنين (شم النسيم) للأسبوع<br />
الأوَّل (لو٢٤: ١-١٣).</li>
</ul>
<h4><strong>قراءات الأحد الأول بعد عيد الفصح</strong></h4>
<ul>
<li>السنة الأولى:</li>
<li>(كو٣: ١-٤) هي جزء من قراءة البولس في كنيستنا في أحد النور (كو٣: ١-١٧).</li>
<li>(أع١٠: ٣٤-٤٣) هي بالضبط قراءة الإبركسيس ليوم الثلاثاء في الأسبوع الأوَّل في كنيستنا.</li>
<li>(يو٢٠: ١-١٨) هي بالضبط قراءة إنجيل القدَّاس لعيد القيامة في كنيستنا.</li>
</ul>
<h4><strong>قراءات الأحد الثاني بعد الفصح</strong></h4>
<ul>
<li>السنة الأولى:</li>
<li>(أع٢: ٢٢-٢٨) هو نفس قراءة الإبركسيس لقداس عيد القيامة (أع٢: ٢٢-٢٨).</li>
<li>إنجيل القدَّاس (يو٢٠: ١٩-٣١) هو نفس قراءة إنجيل قدّاس أحد توما (يو٢٠: ١٩-الخ).</li>
<li>السنة الثانية: (أع٤: ٣٢-٣٥) هي نفس قراءة الإبركسيس ليوم الأربعاء في الأسبوع الثالث في<br />
كنيستنا.</li>
<li>السنة الثالثة: (أع٥: ١٢-١٦) مُشابه لقراءة الإبركسيس للسبت المُلازم لأحد الماء الحي (أع٥:<br />
١٢-٢٠).</li>
</ul>
<h4><strong>قراءات الأحد الثالث بعد الفصح</strong></h4>
<ul>
<li>السنة الأولى:</li>
<li>(١بط١: ١٧-٢١) مُشابه لقراءة الكاثوليكون ليوم الأربعاء في الأسبوع الأوَّل في كنيستنا (١بط١: ١٠-٢١).</li>
<li>(يو٢١: ١-١٤) هو بالضبط قراءة إنجيل باكر في أحد توما في كنيستنا (يو٢١: ١-١٤).</li>
<li>السنة الثانية:</li>
<li>(أع٤: ٥-١٢) مُشابه لقراءة الإبركسيس ليوم الأربعاء في الأسبوع الأوَّل في كنيستنا (أع٤: ١-١٣) وقرائتي الإبركسيس ليومي الثلاثاء) أع: ٥-٧) والأربعاء (أع٤: ٨-١٢) للأسبوع الثاني في كنيستنا.</li>
<li>(١يو١: ١-٧) هي نفس قراءة الكاثوليكون ليوم السبت المُلازم لأحد توما ومُشابه لقراءة الإبركسيس ليوم الأثنين من الأسبوع الثاني (١يو١: ١-٦).</li>
<li>(لو٢٤: ٣٤-٤٨) مُشابه لإنجيل قدّاس عيد الصعود في كنيستنا (لو٢٤: ٣٦-٥٣).</li>
<li>السنة الثالثة: (أع٥: ١٧-٢٩) مُشابه لقراءتي الإبركسيس ليومي الأثنين (أع٥: ٢١-٢٥) والثلاثاء<br />
(أع٥: ٢٧-٢٩) في الأسبوع الرابع في كنيستنا.</li>
</ul>
<h4><strong>قراءات الأحد الرابع بعد الفصح</strong></h4>
<ul>
<li>السنة الأولى:</li>
<li>(١بط٢: ١٩-٢٥) مُشابه لقراءة الكاثوليكون ليوم الأثنين في الأسبوع الأوَّل (١بط٢: ١١-الخ).</li>
<li>(١يو٣: ١-٨) مُشابه لقراءة الكاثوليكون في السبت المُلازم لأحد الماء الحي في كنيستنا (١يو٣: ٢-١١).</li>
</ul>
<h4><strong>قراءات الأحد الخامس بعد الفصح</strong></h4>
<ul>
<li>السنة الأولى:</li>
<li>(١بط٢: ١-١٠) مُشابه لقراءة الكاثوليكون ليوم الجمعة في الأسبوع الأوَّل في كنيستنا (١بط ١: ٢٥-٢: ١-١٠).</li>
<li>(يو١٤: ١-١٤) هو نفس إنجيل القدَّاس ليوم السبت المُلازم لأحد الطريق وأيضاً إنجيل القدَّاس لأحد الطريق.</li>
<li>السنة الثانية:</li>
<li>(١يو٣: ١٨-٢٤) هو نفس قراءة الكاثوليكون ليوم الخميس من الأسبوع الرابع في كنيستنا.</li>
<li>(يو١٥: ١-٨) هو نفس قراءة إنجيل القدَّاس ليوم الأثنين من الأسبوع السابع في كنيستنا.</li>
<li>السنة الثالثة: (أع١٤: ٢١-٢٧) مُشابه لقراءة الإبركسيس ليوم الأثنين من الأسبوع السابع في كنيستنا (أع١٤: ١٩-٢٣).</li>
</ul>
<h4><strong>قراءات الأحد السادس بعد الفصح</strong></h4>
<ul>
<li>السنة الأولى:</li>
<li>(أع١٧: ٢٢-٣١) مُشابه لقراءة الإبركسيس لأحد توما في كنيستنا (أع ١٧: ١٦-الخ).</li>
<li>(١بط٣: ٨-١٨) مُشابه لقراءتين من الكاثوليكون في كنيستنا، الأولى في يوم الخميس للأسبوع الأوَّل</li>
<li>(١بط٣: ٨-١٥)، والثانية في يوم الخميس للأسبوع السادس (١بط٣: ١٥-٢٢) وهو خميس الصعود.</li>
<li>(يو١٦: ١٦-٢٤) مُشابه لإنجيل القدَّاس ليوم الأثنين للأسبوع السادس في كنيستنا (يو١٦: ١٥-٢٣).</li>
<li>السنة الثانية:</li>
<li>(١يو٤: ٧-٢١) هو مجموع قراءتي الكاثوليكون ليومي أحد النور (١يو٤: ٧-١٣) ويوم السبت المُلازم له (١يو٤: ١٥-٢١، ٥: ١).</li>
<li>(يو١٥: ٩-١٧) مُشابه لإنجيل قدّاس يوم الثلاثاء للأسبوع السابع في كنيستنا (يو١٥: ٩-١٥).</li>
<li>السنة الثالثة: (يو١٤: ٢٣-٢٩) مُشابه لإنجيلي قدّاس يومي الجمعة من الأسبوع السادس) يو١٤: ٢٦-٣١) وإنجيل باكر عيد العنصرة (يو١٤: ٢٦-٣١، ١٥: ١-٤).</li>
</ul>
<h4><strong>قراءات عيد الصعود</strong></h4>
<ul>
<li>السنة الأولى:</li>
<li>(أف٤: ١-١٣) مُشابه للبولس الخاص بيوم السبت المُلازم لأحد الغلبة (ثمار الصعود وبعد قراءاته بيومين) في كنيستنا (أف٤: ٨-١٦).</li>
<li>(أع١: ١-١١) هو نفس قراءة الإبركسيس لخميس الصعود في كنيستنا.</li>
<li>(لو٢٤: ٤٩-٥٣) مُشابه لإنجيل القدَّاس في خميس الصعود في كنيستنا (لو٢٤: ٣٦-٥٣).</li>
<li>السنة الثانية</li>
<li>(أف١: ١٥-٢٣) مُشابه لقراءة البولس ليوم الخميس في الأسبوع الأول في كنيستنا (أف١: ١٥، ٢: ١-٣).</li>
</ul>
<p>هذا النص الكتابي يتكلَّم عن قيامة الرب وصعوده وعطاياه للبشرية، لذلك أتى في القراءة الأولى في الكنيسة اللاتينية في عيد الصعود، وأتى في القراءة الثانية في الكنيسة القبطية، ليُعْلِن قوة قيامته.</p>
<ul>
<li>(مر١٦: ١٥-٢٠) مُشابه لإنجيل باكر في عيد الصعود في كنيستنا (مر١٦: ١٢-٢٠).</li>
<li>السنة الثالثة: (عب١٠: ١٩-٢٤) مُشابه لقراءة البولس لأحد الغالب (عب١٠: ١٩-٣٨) الذي يتكلَّم قراءات الأسبوع الذي يليه في كنيستنا عن الصعود.</li>
</ul>
<h4><strong>قراءات الأحد السابع بعد الفصح</strong></h4>
<ul>
<li>السنة الأولى:</li>
<li>(أع١: ١٢-١٤) مُشابه لقراءة الابركسيس الخاصة بعيد الصعود في كنيستنا (أع١: ١-١١).</li>
</ul>
<p>القراءة الأولى تتكلّم عن اللحظات التي جاءت بعد الصعود مباشرة، والكلام عن انتظار ملء الروح القدس، بينما القراءة الثانية الخاصة بعيد الصعود تتكلّم عن كلام الرب لتلاميذه القديسين قبل الصعود مباشرة، وأيضاً عن حلول الروح القدس عليهم.</p>
<ul>
<li>(يو١٧: ١-١٣) مُشابه لقراءة إنجيل القدَّاس ليوم الأربعاء للأسبوع السادس في كنيستنا (يو١٧:<br />
١-٩).</li>
<li>السنة الثانية: (١يو٥: ٩-١٥) مُشابه لقراءة الكاثوليكون ليوم الأثنين للأسبوع السادس (١يو٥: ٩-<br />
١٣).</li>
<li>السنة الثالثة: (يو١٧: ٢٠-٢٦) مُشابه لإنجيل قدّاس يوم الجمعة للأسبوع الخامس (يو١٧: ٢٢-٢٦).</li>
</ul>
<h4><strong>قراءات عيد العنصرة</strong></h4>
<ul>
<li>السنة الأولى:</li>
<li>(١كو١٢: ٣-١٣) مُشابه لقراءة البولس ليوم عيد العنصرة (١كو١٢: ١-٣١).</li>
<li>(أع ٢: ١-١١) مُشابه لقراءة الإبركسيس في عيد العنصرة (أع ٢: ١-٢١).</li>
<li>السنة الثانية: (يو١٥: ٢٦-٢٧؛ ١٦: ١٢-١٥) مُشابه لقراءة إنجيل القدَّاس لأحد العنصرة.</li>
</ul>
<h3><strong>أوجه التشابه والتماثل في قراءات الكنائس الأربع</strong></h3>
<h4><strong>قراءات عيد الفصح </strong>(القيامة)</h4>
<ul>
<li>(مر١٦: 2-11) هي قراءة إنجيل باكر عبد القيامة في الكنيسة القبطية.</li>
<li>(مر16: ١-8) هي قراءة إنجيل قدّاس عيد القيامة في الكنيسة اللاتينية (السنة الثانية).</li>
<li>(مر16: ١-8) هي قراءة إنجيل قدّاس عيد القيامة في الكنيسة السريانية.</li>
<li>مع ملاحظة:</li>
<li>مجئ قراءة (مت ٢٨: ١-٢٠) في الكنيسة السريانية في عيد القيامة في صلاة المساء (عشيّة)</li>
<li>ومجئ قراءة (مت ٢٨: ١-٢٠) في الكنيسة اللاتينية إنجيل قدّاس عيد القيامة (السنة الأولي).</li>
</ul>
<h4><strong>قراءات الأحد الخامس بعد عيد الفصح </strong>(القيامة)</h4>
<p>(يو١٤: 1- ١٤)</p>
<ul>
<li>هو نفس إنجيل القدَّاس ليوم السبت المُلازم لأحد الطريق،</li>
<li>وأيضاً إنجيل القدَّاس لأحد الطريق في الكنيسة القبطية،</li>
<li>وهو أيضاً إنجيل عشيّة في الأحد الخامس بعد القيامة في الكنيسة السريانية،</li>
<li>وقراءة إنجيل القدَّاس في يوم الجمعة (التالية لعيد الصعود) (يو١٤: ١- ١١) في الكنيسة البيزنطية،</li>
<li>وهو أيضاً نفس إنجيل القدَّاس في الأحد الخامس بعد القيامة في الكنيسة اللاتينية (السنة الأولى).</li>
</ul>
<h4><strong>قراءات الأحد السادس بعد القيامة</strong></h4>
<p>(أع 17: 22-31)</p>
<ul>
<li>هو قراءة الإبركسيس في الكنيسة اللاتينية،</li>
<li>وهو مُشابه لقراءة الإبركسيس لأحد توما في كنيستنا (أع 17: 16- الخ)</li>
<li>وأيضاً مُشابه لقراءة الإبركسيس في الكنيسة السريانية لنفس الأحد (أع 17: 14- 34).</li>
</ul>
<h4><strong>قراءات عيد الصعود</strong></h4>
<ul>
<li>(أف 4: 1-16)</li>
<li>هو قراءة عيد الصعود في الكنيسة السريانية،</li>
<li>وهو مُشابه لقراءة عيد الصعود في الكنيسة اللاتينية (أف 4: 1-13) للسنة الأولى والثانية،</li>
<li>وهو أيضاً مُشابه للبولس الخاص بيوم السبت المُلازم لأحد الغلبة (ثمار الصعود وبعد قراءات عيد الصعود بيومين) في كنيستنا (أف ٤ : ٨-١٦).</li>
<li>(أع 1: 1-11)</li>
<li>هو نفس قراءة الإبركسيس لخميس الصعود في كنيستنا، وفِي الكنيسة اللاتينية،</li>
<li>وتقريباً نفس قراءة الإبركسيس في الكنيسة البيزنطية (أع ١: ١- ١٢).</li>
<li>وهو مُشابه لقراءة سفر الأعمال في الكنيسة السريانية (أع ١: ١-٤).</li>
</ul>
<h4><strong>قراءات عيد العنصرة</strong></h4>
<p>(يو١٥: ٢٦-٢٧؛ ١٦: ١٢-١٥)</p>
<ul>
<li>هو قراءة إنجيل القدَّاس في الكنيسة القبطية.</li>
<li>وهو مُشابه لقراءة إنجيل القدَّاس في الكنيسة السريانية (يو١٥: 20-٢٧؛ ١٦: ١-١٥).</li>
<li>وأيضاً مُشابه لقراءة إنجيل القدَّاس في عيد العنصرة في الكنيسة اللاتينية (يو١٥: 26-٢٧؛ ١٦: 12-١٥) للسنة الثانية.</li>
</ul>
<p>ومُشابه لقراءة إنجيل القدَّاس في يوم الثلاثاء (السابق للعنصرة) من الأسبوع السابع في الكنيسة البيزنطية (يو١٦: ٢- ١٣).</p>
<p><a href="#_ftnref1" name="_ftn1">[1]</a>  المراجع: [كتاب القراءات في الكنيسة السريانية] – [الإنجيل الإلهي والرسائل - كتاب قراءات الكنيسة البيزنطية - بطريركية أنطاكية وسائرالمشرق للروم الأرثوذكس]. – <strong>[</strong>Lees rooster kerk موقع قراءات الكنيسة اللاتينية لثلاث سنوات<strong>]</strong>.</p>

      {% endcreateArticleAccordions %}
    </section>
  {% endblock %}
