---
layout: 'layouts/reading.html'
title: 'مقارنة بين قطمارس الخمسين يوم المقدسة في القطمارس الحالي وبين قطمارس وجه بحري لإبن كبر'
tags: 'pentecost'
permalink: /articles/pentecost/1101.html
---
  {% block content %}
    <section id="article">
      <h3 class="mt-8 mb-4 heading-explain">شرح القراءات</h3>
      {% createArticleAccordions %}
        <h3>عند مقارنة القراءات بين القطمارس الحالي والقطمارس الخاص بوجه بحري بحسب إبن كبر سنجد الآتي: <a href="#_ftn1" name="_ftnref1">[1]</a></h3>
<ul>
<li>بين المائة والستة وأربعون قراءة من أناجيل عشية وباكر والقداس:</li>
<li>تتوافق وتتطابق مائة قراءة بينما تختلف ستة وأربعون قراءة أخرى «نسبة خمسة وستون بالمائة تقريباً توافق القراءة المتطابقة».</li>
<li>بينما لا تتعدى القراءات المختلفة في الأناجيل الثلاثة معاً [عشية وباكر والقداس] قراءتين:</li>
<li><a href="https://wordpress.katameros.bible/church-reading/%d9%8a%d9%88%d9%85-%d8%a7%d9%84%d8%b3%d8%a8%d8%aa-%d9%85%d9%86-%d8%a7%d9%84%d8%a3%d8%b3%d8%a8%d9%88%d8%b9-%d8%a7%d9%84%d8%a3%d9%88%d9%91%d9%8e%d9%84-%d9%84%d9%84%d8%ae%d9%85%d8%a7%d8%b3%d9%8a%d9%86/">السبت الأول من الخمسين يوم المقدسة</a>.</li>
<li><a href="https://wordpress.katameros.bible/church-reading/%d9%8a%d9%88%d9%85-%d8%a7%d9%84%d8%ac%d9%85%d8%b9%d8%a9-%d9%85%d9%86-%d8%a7%d9%84%d8%a3%d8%b3%d8%a8%d9%88%d8%b9-%d8%a7%d9%84%d8%ae%d8%a7%d9%85%d8%b3-%d9%84%d9%84%d8%ae%d9%85%d8%a7%d8%b3%d9%8a%d9%86/">والجمعة من الأسبوع الخامس.</a></li>
<li>تختلف قراءتي القطمارسين في إنجيلين من الثلاثة في إحدى عشر قراءة:</li>
<li><a href="https://wordpress.katameros.bible/church-reading/%d9%8a%d9%88%d9%85-%d8%a7%d9%84%d8%ab%d9%84%d8%a7%d8%ab%d8%a7%d8%a1-%d9%85%d9%86-%d8%a7%d9%84%d8%a3%d8%b3%d8%a8%d9%88%d8%b9-%d8%a7%d9%84%d8%ab%d8%a7%d9%84%d8%ab-%d9%84%d9%84%d8%ae%d9%85%d8%a7%d8%b3/">قراءة الثلاثاء من الأسبوع الثالث</a> [إنجيل باكر والقداس].</li>
<li><a href="https://wordpress.katameros.bible/church-reading/%d9%8a%d9%88%d9%85-%d8%a7%d9%84%d8%a3%d8%b1%d8%a8%d8%b9%d8%a7%d8%a1-%d9%85%d9%86-%d8%a7%d9%84%d8%a3%d8%b3%d8%a8%d9%88%d8%b9-%d8%a7%d9%84%d8%ab%d8%a7%d9%84%d8%ab-%d9%84%d9%84%d8%ae%d9%85%d8%a7%d8%b3/">قراءة الأربعاء من الأسبوع الثالث</a> [إنجيل عشية وباكر].</li>
<li><a href="https://wordpress.katameros.bible/church-reading/%d9%8a%d9%88%d9%85-%d8%a7%d9%84%d8%a3%d8%ad%d8%af-%d9%85%d9%86-%d8%a7%d9%84%d8%a3%d8%b3%d8%a8%d9%88%d8%b9-%d8%a7%d9%84%d8%ab%d8%a7%d9%84%d8%ab-%d9%84%d9%84%d8%ae%d9%85%d8%b3%d9%8a%d9%86-%d9%8a%d9%88/">قراءة الأحد الثالث</a> [إنجيل عشية والقداس].</li>
<li><a href="https://wordpress.katameros.bible/church-reading/%d9%8a%d9%88%d9%85-%d8%a7%d9%84%d8%a3%d8%ab%d9%86%d9%8a%d9%86-%d9%85%d9%86-%d8%a7%d9%84%d8%a3%d8%b3%d8%a8%d9%88%d8%b9-%d8%a7%d9%84%d8%b1%d8%a7%d8%a8%d8%b9-%d9%84%d9%84%d8%ae%d9%85%d8%a7%d8%b3%d9%8a/">قراءة الإثنين من الأسبوع الرابع</a> [إنجيل عشية وباكر].</li>
<li><a href="https://wordpress.katameros.bible/church-reading/%d9%8a%d9%88%d9%85-%d8%a7%d9%84%d8%ab%d9%84%d8%a7%d8%ab%d8%a7%d8%a1-%d9%85%d9%86-%d8%a7%d9%84%d8%a3%d8%b3%d8%a8%d9%88%d8%b9-%d8%a7%d9%84%d8%b1%d8%a7%d8%a8%d8%b9-%d9%84%d9%84%d8%ae%d9%85%d8%a7%d8%b3/">قراءة الثلاثاء من الأسبوع الرابع</a> [إنجيل عشية وباكر].</li>
<li><a href="https://wordpress.katameros.bible/church-reading/%d9%8a%d9%88%d9%85-%d8%a7%d9%84%d8%a3%d8%b1%d8%a8%d8%b9%d8%a7%d8%a1-%d9%85%d9%86-%d8%a7%d9%84%d8%a3%d8%b3%d8%a8%d9%88%d8%b9-%d8%a7%d9%84%d8%b1%d8%a7%d8%a8%d8%b9-%d9%84%d9%84%d8%ae%d9%85%d8%a7%d8%b3/">قراءة الأربعاء من الأسبوع الرابع</a> [إنجيل عشية والقداس].</li>
<li><a href="https://wordpress.katameros.bible/church-reading/%d8%a7%d9%84%d8%b3%d8%a8%d8%aa-%d9%85%d9%86-%d8%a7%d9%84%d8%a3%d8%b3%d8%a8%d9%88%d8%b9-%d8%a7%d9%84%d8%b1%d8%a7%d8%a8%d8%b9-%d9%84%d9%84%d8%ae%d9%85%d8%b3%d9%8a%d9%86-%d9%8a%d9%88%d9%85-%d8%a7%d9%84/">قراءة السبت الرابع</a> [إنجيل عشية والقداس].</li>
<li><a href="https://wordpress.katameros.bible/church-reading/%d9%8a%d9%88%d9%85-%d8%a7%d9%84%d8%a3%d8%ab%d9%86%d9%8a%d9%86-%d9%85%d9%86-%d8%a7%d9%84%d8%a3%d8%b3%d8%a8%d9%88%d8%b9-%d8%a7%d9%84%d8%ae%d8%a7%d9%85%d8%b3-%d9%84%d9%84%d8%ae%d9%85%d8%a7%d8%b3%d9%8a/">قراءة الأثنين من الأسبوع الخامس</a> [إنجيل عشية والقداس].</li>
<li><a href="https://wordpress.katameros.bible/church-reading/%d9%8a%d9%88%d9%85-%d8%a7%d9%84%d8%a3%d8%b1%d8%a8%d8%b9%d8%a7%d8%a1-%d9%85%d9%86-%d8%a7%d9%84%d8%a3%d8%b3%d8%a8%d9%88%d8%b9-%d8%a7%d9%84%d8%ae%d8%a7%d9%85%d8%b3-%d9%84%d9%84%d8%ae%d9%85%d8%a7%d8%b3/">قراءة الأربعاء من الأسبوع الخامس</a> [إنجيل عشية وباكر].</li>
<li><a href="https://wordpress.katameros.bible/church-reading/%d9%8a%d9%88%d9%85-%d8%a7%d9%84%d8%ae%d9%85%d9%8a%d8%b3-%d9%85%d9%86-%d8%a7%d9%84%d8%a3%d8%b3%d8%a8%d9%88%d8%b9-%d8%a7%d9%84%d8%ae%d8%a7%d9%85%d8%b3-%d9%84%d9%84%d8%ae%d9%85%d8%a7%d8%b3%d9%8a%d9%86/">قراءة الخميس من الأسبوع الخامس</a> [إنجيل عشية والقداس].</li>
<li><a href="https://wordpress.katameros.bible/church-reading/%d9%8a%d9%88%d9%85-%d8%a7%d9%84%d8%b3%d8%a8%d8%aa-%d9%85%d9%86-%d8%a7%d9%84%d8%a3%d8%b3%d8%a8%d9%88%d8%b9-%d8%a7%d9%84%d8%ae%d8%a7%d9%85%d8%b3-%d9%84%d9%84%d8%ae%d9%85%d8%b3%d9%8a%d9%86-%d9%8a%d9%88/">قراءة السبت الخامس</a> [إنجيل عشية وباكر].</li>
</ul>
<p>وأيضاً تختلف قراءتي القطمارسين في إحدى قراءات أناجيل عشية وباكر والقداس في أربع عشر قراءة.</p>
<ul>
<li>لاتوجد قراءة لصلاة عشية يوم الأثنين في القطمارس الحالي برغم وجود قراءة خاصة لها في قطمارس إبن كبر.</li>
<li>القراءات المختلفة بين القطمارس الحالي وقطمارس إبن كبر هي:</li>
<li>في الأسبوع الأول للخمسين يوم المقدسة:</li>
<li>إنجيل باكر يوم الخميس.</li>
<li>أناجيل عشية وباكر والقداس للسبت الأول.</li>
<li>في الأسبوع الثاني:</li>
<li>إنجيل عشية يوم الأثنين.</li>
<li>وإنجيل باكر يوم الجمعة.</li>
<li>وإنجيل باكر السبت الثاني.</li>
<li>في الأسبوع الثالث:</li>
<li>إنجيل باكر وإنجيل القداس ليوم الثلاثاء.</li>
<li>وإنجيل عشية وإنجيل باكر ليوم الأربعاء.</li>
<li>وإنجيل باكر السبت الثاني.</li>
<li>وإنجيل عشية وإنجيل القداس للأحد الثالث</li>
<li>في الأسبوع الرابع:</li>
<li>إنجيل عشية وإنجيل باكر ليومي الأثنين والثلاثاء.</li>
<li>إنجيل عشية وإنجيل القداس ليوم الأربعاء.</li>
<li>وإنجيل عشية ليوم الخميس.</li>
<li>وإنجيل عشية ليوم الجمعة.</li>
<li>وإنجيل عشية وإنجيل القداس للسبت الرابع.</li>
<li>في الأسبوع الخامس:</li>
<li>إنجيل عشية وإنجيل القداس ليوم الأثنين.</li>
<li>إنجيل عشية يوم الثلاثاء.</li>
<li>وإنجيل عشية وإنجيل باكر ليوم الأربعاء.</li>
<li>وإنجيل عشية وإنجيل القداس ليوم الخميس.</li>
<li>وأناجيل عشية وباكر والقداس ليوم الجمعة.</li>
<li>وإنجيل عشية وباكر ليوم السبت.</li>
<li>في الأسبوع السادس:</li>
<li>إنجيل باكر وإنجيل القداس ليوم الأثنين.</li>
<li>وإنجيل عشية ليوم الأربعاء.</li>
<li>وإنجيل قداس السبت السادس</li>
<li>في الأسبوع السابع:</li>
<li>إنجيل القداس ليوم الأثنين.</li>
<li>وإنجيل عشية ليوم الثلاثاء.</li>
<li>وإنجيل باكر ليوم الأربعاء.</li>
<li>وإنجيل باكر وإنجيل القداس للسبت السابع.</li>
<li>القراءات المتفقة في المعنى برغم إختلاف الشواهد بين القطمارسين:</li>
<li>قراءة إنجيل قداس السبت الرابع:</li>
</ul>
<p>تأتي في القطمارس الحالي من إنجيل يوحنا (يو٧:  ١٤-  ٢٤).</p>
<p>وتأتي في قطمارس إبن كبر من إنجيل يوحنا (٦٢/٤).</p>
<p>وهي القراءة التي تأتي تقريباً من آية 40.</p>
<p>والكلام في القراءتين على تذمُّر اليهود من كلام المسيح له المجد عن علاقته بالآب.</p>
<ul>
<li><strong>قراءة إنجيل قداس<a href="https://wordpress.katameros.bible/church-reading/%d9%8a%d9%88%d9%85-%d8%a7%d9%84%d8%ac%d9%85%d8%b9%d8%a9-%d9%85%d9%86-%d8%a7%d9%84%d8%a3%d8%b3%d8%a8%d9%88%d8%b9-%d8%a7%d9%84%d8%ae%d8%a7%d9%85%d8%b3-%d9%84%d9%84%d8%ae%d9%85%d8%a7%d8%b3%d9%8a%d9%86/"> يوم الجمعة من الأسبوع الخامس:</a></strong></li>
</ul>
<p>تأتي في القطمارس الحالي من (يو17: 22- 26).</p>
<p>وفي قطمارس إبن كبر من (١٢٤/٤).</p>
<p>وهي القراءة التي تتوافق تقريباً مع الجزء قبل الأخير من إصحاح ١٣ من إنجيل يوحنا.</p>
<p>والكلام في القراءتين عن المحبة الإلهية التي هي عطية الله الآب لنا في إبنه يسوع المسيح.</p>
<ul>
<li>قراءة إنجيل القداس ليوم الأثنين من الأسبوع السابع:</li>
</ul>
<p>تأتي في القطمارس الحالي من (يو 15 : 1- 8).</p>
<p>وفي قطمارس إبن كبر من (١٣٢/٤).</p>
<p>وهي القراءة التي تتوافق مع نهاية إصحاح ١٤ من إنجيل يوحنا.</p>
<p>والملاحظ هنا كلام المسيح له المجد مع تلاميذه قبل الصليب عن سلامه الذي سيعطيه لهم إذا ثبتوا فيه كأغصان في الكرمة.</p>
<ul>
<li><strong>قراءات السبوت والآحاد</strong></li>
</ul>
<p>تأتي قراءات الأناجيل الثلاثة وقراءات البولس والكاثوليكون والإبركسيس في القطمارسين شبه متطابقة مع إختلاف فقط في عدد الآيات المختارة من نفس النص الكتابي.</p>
<p>والنص الكتابي الوحيد المختلف هو لإنجيل قداس الأحد الثالث والذي يأتي في قطمارس إبن كبر من (يو8: ٣١- ٥٩).</p>
<p>وتتعجب عندما تعرف أن إنجيل لقاء الرب مع السامرية جاء فقط في الأحد الثالث في قطمارس صعيد مصر لإبن كبر.</p>
<p>وربما هذا يشرح مصدر قراءات الكنيسة الحالي والذي لا يستبعد أن يكون جاء من قطمارسات مختلفة.</p>
<ul>
<li><strong>قراءة النصف للخمسين يوم المُقدَّسة:</strong></li>
</ul>
<p>كما توجد قراءة لأحد النصف في قراءات الصوم الكبير (أحد النصف-  السامرية)، توجد أيضاً قراءة يُمْكِنْ أن نُطْلِق عليها قراءة النصف للخمسين يوم المقدسة، لكن الإختلاف مع الصوم في أن فترة الصوم كانت ثمانية أسابيع فجاءت قراءة النصف في أحد السامرية، ولكننا هنا في الخمسين يوم المقدسة سبعة أسابيع يأتي المنتصف في يوم الأربعاء للأسبوع الرابع!.</p>
<p>وتتعجب عندما تجد تعبير النصف أو المنتصف في هذه القراءة الخاصة بيوم الأربعاء من الأسبوع الرابع في القطمارس الحالي:</p>
<ul>
<li>&#8220;ولما صار المساء كانت السفينة في <strong>وسط</strong> البحر&#8221; (إنجيل عشية)</li>
<li>&#8220;ثم نظر إلى الجالسين <strong>حوله</strong> (أي يسوع في الوسط)&#8221; (إنجيل باكر)</li>
<li>&#8220;ونقض بجسده حائط السياج الذي كان واقفاً في <strong>الوسط</strong>&#8221; (البولس)</li>
<li>&#8220;صنع خلاصاً في <strong>وسط</strong> الأرض&#8221; (مزمور القداس)</li>
<li>&#8220;وعند <strong>انتصاف</strong> العيد&#8221; (بداية إنجيل القداس)</li>
</ul>
<p>ولكن لا تأتي هذه القراءة يوم الأربعاء للأسبوع الرابع في قطمارس وجه بحري لإبن كبر.</p>
<p>والعجيب أن قراءة الأحد الثالث في قطمارس &#8221; مخطوط المعلقة /  لندن شرقيات ٤٢٥ (قرن ١٣)&#8221; متوافقة أيضاً مع قراءة أربعاء النصف في القطمارس الحالي:</p>
<ul>
<li>&#8220;صنع خلاصاً في <strong>وسط</strong> الأرض&#8221; (مزمور القداس)</li>
<li>&#8220;ولما <strong>انتصف</strong> أيام العيد&#8221; (إنجيل القداس)</li>
</ul>
<p>ويأتي الإبركسيس في مخطوط المعلقة من (أع ١٩: ٣٥- ٢٠: ١٦)، في القطمارس الحالي من (أع٢٠: ١– ٦).</p>
<p>ورُبَّما تكون القراءة حسب مخطوط المعلقة هي الأدق من القراءة في القطمارس الحالي لأن الجزء الزائد جاء فيه &#8220;وأطال الكلام إلي منتصف الليل&#8221; (أع ٢٠: ٧)، وكان يمكن إضافة هذه الآية للقراءة الحالية لتناسب ما جاء في باقي القراءة عن قراءة النصف.</p>
<h3>المراجع</h3>
<p><a href="#_ftnref1" name="_ftn1">[1]</a>  مرجع هذا الفصل (فيما يخص قطمارس إبن كبر): كتاب زمن الخمسين المقدسة - صفحات من ٧٥ - ١١٨ - الكاتب: الراهب القس أثناسيوس المقاري.</p>

      {% endcreateArticleAccordions %}
    </section>
  {% endblock %}
