---
layout: 'layouts/reading.html'
title: 'أيام الأسبوع في الخمسين يوم المُقَدَّسَة'
tags: 'pentecost'
permalink: /articles/pentecost/1102.html
---
  {% block content %}
    <section id="article">
      <h3 class="mt-8 mb-4 heading-explain">شرح القراءات</h3>
      {% createArticleAccordions %}
        <p>رأينا في قراءات الصوم الأربعيني كيف كانت تتلاقى وتسير قراءات كل يوم معاً نحو هدف واحد يخدم الهدف العام، هكذا أيضاً في قراءات الخمسين يوم المُقدَّسة نرى قراءات الإثنين مثلاً لها اتجاه واحد نحو الهدف العام للقراءات، وهكذا في باقي الأيَّام، وبينما تركَّزت قراءات الصوم في التوبة بمفهومها الشامل والعميق، نرى هنا قراءات الأيَّام تصف لنا مجد الحياة الجديدة.</p>
<p>لذلك تحكي هنا قراءات الأيَّام:</p>
<ul>
<li>مجد الحياة الجديدة وتدبير الثالوث لخلاصنا وتجديد طبيعتنا (قراءات الإثنين في كل الأسابيع).</li>
<li>وكيف نقبل هذا المجد في حياتنا وخطورة الاستهانة به (قراءات الثلاثاء).</li>
<li>وعندما نقبله نصير شهود له (قراءات الأربعاء).</li>
<li>ويُسْتَعلن هذا المجد في طبيعتنا (قراءات الخميس).</li>
<li>وحياتنا فنعيش مجد الإنسان الجديد في المسيح (قراءات الجمعة).</li>
</ul>
<p>ويُمْكِن أن نرى في أناجيل القدّاسات وضوح هذا الاتجاه والخط الواحد لقراءات اليوم الواحد في كل أسابيع الخمسين يوم المُقدَّسة:</p>
<h3><strong>الإثنين:</strong> <strong>مجد الثالوث والشركة معه:</strong></h3>
<ul>
<li>الابن أعطانا مجده في صليبه وقيامته التي هو موضوع النبوَّة.<br />
&#8220;أما كان للمسيح أن يقبل هذه الآلام وأن يدخل إلى مجده وبدأ من موسى ومن جميع الأنبياء يفسر لهما ما في جميع الكتب من أجله&#8221;.</li>
</ul>
<ul>
<li>ملء الروح فينا ثمر البرّ الإلهي وليس استحقاقات البشر بل غنى الآب والابن لنا وفينا بروحه.<br />
&#8220;لأن الله لا يعطي الروح بكيل لأن الآب يحب الابن وقد دفع كل شيء في يده&#8221;.</li>
</ul>
<ul>
<li>غنى وملء الروح سكبه الآب علينا بعد تجديد طبيعتنا بالصليب والقيامة.<br />
&#8220;قال هذا عن الروح الذي كان المؤمنون به مزمعين أن يقبلوه لأن الروح لم يكن قد حل بعد لأن يسوع لم يكن قد تمجد بعد&#8221;.</li>
</ul>
<ul>
<li>تدبير الآب والابن لخلاصنا وتجديد طبيعتنا.<br />
&#8220;لأني لم آت من نفسي وحدي بل هو الذي أرسلني&#8221;.</li>
</ul>
<ul>
<li>هدف تجسّد الكلمة أن نعيش في العُرْس الإلهي، ويدخل صوت الفرح طبيعتنا البشرية.<br />
&#8220;وأما صديق العريس الذي يقف ويسمعه فيفرح فرحاً من أجل صوت العريس فها هو فرحي أنا قد تم&#8221;.</li>
</ul>
<ul>
<li>عمل الروح في طبيعتنا الجديدة أن ينقل لنا كل غنى الآب والابن.<br />
&#8220;كل ما لأبي فهو لي لهذا قلت لكم إنه يأخذ مما لي ويخبركم&#8221;.</li>
</ul>
<ul>
<li>ثباتنا في الابن الكرمة ينقل لنا كل ما للآب وتُعْلِن ثمار معرفته مجد الآب فينا.<br />
&#8220;أنا هو الكرمة الحقيقية وأبي الكرّام&#8230; بهذا يتمجد أبي أن تأتوا بثمر كثير&#8221;.</li>
</ul>
<h3><strong>الثلاثاء: مجد الإيمان، ودينونة عدم الإيمان. </strong></h3>
<ul>
<li>ارتباط الإيمان بالمعمودية.<br />
&#8220;من آمن واعتمد خلص ومن لم يؤمن يدان&#8221;.</li>
</ul>
<ul>
<li>الإيمان يُنجِّي من الدينونة.<br />
&#8220;لأن الآب لا يدين أحداً بل أعطي الحكم كله للابن&#8230; من يسمع كلامي ويؤمن بالذي أرسلني فله حياة أبدية ولا يأتي إلى الدينونة بل قد انتقل من الموت إلى الحياة&#8221;.</li>
</ul>
<ul>
<li>الإيمان وتبعية المسيح يُعطينا ويهبنا نور الحياة.<br />
&#8220;من يتبعني فلا يمشي في الظلمة بل ينال نور الحياة.. أما أنا فلست أدين أحداً وإن أنا دنت فدينونتي حق&#8221;.</li>
</ul>
<ul>
<li>قبول كلمة الله يحمينا من الهلاك الأبدي.<br />
&#8220;إن كان أحد يحفظ كلامي فلن يرى الموت إلى الأبد&#8221;.</li>
</ul>
<ul>
<li>حياتنا على الأرض موضع تدبير الله لخلاصنا وليس لدينونتنا.<br />
&#8220;كل من يؤمن بي لا يمكث في الظلام&#8230; ومن يسمع كلامي ولا يحفظه فأنا لا أدينه لأني ما جئت لأدين العالم بل لأخلص العالم&#8221;.</li>
</ul>
<ul>
<li>الإيمان الذي يعتمد على عواطف البشر وانفعالاتهم سرعان ما يتبخَّر.<br />
&#8220;أ-تؤمنون الآن ها تأتي ساعة وقد أتت لتتفرقوا كل واحد إلى موضعه&#8221;.</li>
</ul>
<ul>
<li>الإيمان وحفظ الوصيّة يثبِّتنا فيه.<br />
&#8220;إن حفظتم وصاياي تثبتون في محبتي&#8221;.</li>
</ul>
<h3><strong>الأربعاء: شهود الحياة الجديدة</strong></h3>
<ul>
<li>الشهادة لا تعتمد على الآيات بل على شركة موته وقيامته.<br />
&#8220;آمن كثيرون باسمه حين شاهدوا الآيات التي كان يصنعها&#8221;.</li>
</ul>
<ul>
<li>شهود الحق.<br />
&#8220;أنتم أرسلتم إلى يوحنا فشهد بالحق&#8230; أما أنا فلي شهادة أعظم من شهادة يوحنا&#8221;.</li>
</ul>
<ul>
<li>هدف الشهادة.<br />
&#8220;وأنا أيضاً ما سمعته منه فهذا أتكلم به في العالم&#8221;.</li>
</ul>
<ul>
<li>الفرق بين الشهود الأمناء والشهود الكذبة.<br />
&#8220;من يتكلَّم من نفسه يطلب مجد نفسه أما من يطلب مجد الذي أرسله فهو صادق&#8221;</li>
</ul>
<ul>
<li>اختيار الشهود.<br />
&#8220;ليس عبد أعظم من سيده ولا رسول أعظم من مرسله&#8230; فإني أنا أعرف الذين اخترتهم&#8221;.</li>
</ul>
<ul>
<li>تمام الشهادة والرسالة.<br />
&#8220;أنا قد مجدتك على الأرض اذ أكملت العمل الذي سلمته لي لأعمله.. قد أظهرت اسمك للناس الذي أعطيتهم لي&#8221;.</li>
</ul>
<ul>
<li>ثمر الشهادة.<br />
&#8220;ليس أنتم اخترتموني بل أنا اخترتكم وأقمتكم لتذهبوا وتأتوا بثمر&#8221;.</li>
</ul>
<h3><strong>الخميس: إستعلانه لمُحبيه</strong></h3>
<ul>
<li>افتقاده لآلامنا.<br />
&#8220;لقد قام فينا نبي عظيم وافتقد الله شعبه&#8221;.</li>
</ul>
<ul>
<li>حياته في كلمته.<br />
&#8220;فتشوا الكتب التي تظنون أنتم أن فيها حياة أبدية وهي التي تشهد لي&#8221;.</li>
</ul>
<ul>
<li>كمال إستعلانه في صليبه.<br />
&#8220;إذا رفعتم ابن الانسان فحينئذ تعلمون إني أنا هو&#8221;.</li>
</ul>
<ul>
<li>قِدَمْ إستعلانه.<br />
&#8220;قبل أن يكون ابراهيم أنا كائن&#8221;.</li>
</ul>
<ul>
<li>تدبير إستعلانه.<br />
&#8220;ليؤمن العالم أنك أنت الذي أرسلتني &#8220;.</li>
</ul>
<ul>
<li>يقين إستعلانه في جروحه وآلامه.<br />
&#8220;أنظروا يدي ورجلي فإني أنا هو&#8221;.</li>
</ul>
<ul>
<li>خطورة رفض إستعلانه.<br />
&#8220;أما الآن فقد رأوني وابغضوني&#8221;.</li>
</ul>
<h3><strong>الجمعة مجد الإنسان الجديد</strong></h3>
<ul>
<li>مجد رؤيته.<br />
&#8220;هناك ترونه كما قال لكم &#8220;.</li>
</ul>
<ul>
<li>مجد الاتحاد به والثبات فيه.<br />
&#8220;من يأكل جسدي ويشرب دمي يثبت فيّ وأنا أيضاً أثبت فيه&#8221;.</li>
</ul>
<ul>
<li>مجد معرفة الحق.<br />
&#8220;وتعرفون الحق والحق يحرركم&#8221;.</li>
</ul>
<ul>
<li>مجد كلمته.<br />
&#8220;فإن كان قد قال آلهة لأولئك الذين صارت إليهم كلمة الله&#8221;.</li>
</ul>
<ul>
<li>مجد المحبّة الإلهية.<br />
&#8220;وانا قد أعطيتهم المجد الذي أعطيتني&#8230; أريد أن يكون الذين أعطيتني معي.. وسأعرفهم أسمك لتكون فيهم المحبّة التي أحببتني بها&#8221;.</li>
</ul>
<ul>
<li>مجد الإستنارة.<br />
&#8220;فهو يعلمكم كل شيء ويذكركم بكل ما قلته لكم سلامي اترك لكم&#8221;.</li>
</ul>
<ul>
<li>ملء الروح القدس.<br />
&#8220;من يؤمن بي كما قال الكتاب تجري من بطنه أنهار ماء الحياة&#8221;.</li>
</ul>

      {% endcreateArticleAccordions %}
    </section>
  {% endblock %}
