---
layout: 'layouts/reading.html'
title: 'نظرة عامة على قراءات الخمسين يوم المُقَدَّسَة'
tags: 'pentecost'
permalink: /articles/pentecost/1103.html
---
  {% block content %}
    <section id="article">
      <h3 class="mt-8 mb-4 heading-explain">شرح القراءات</h3>
      {% createArticleAccordions %}
        <h3><strong>المزامير </strong></h3>
<h4><strong>المزامير التي تكررت في القراءات</strong>:</h4>
<ol>
<li>يوم الثلاثاء في الأسبوع الأوَّل ← مزمور باكر والقدّاس من مزمور ١٠٤</li>
</ol>
<p>يوم الأربعاء من الأسبوع الأوَّل ← مزمور باكر من مزمور ١٠٤</p>
<p>تكرر هذا المزمور ثلاث مرّات في قراءات الأسبوع الأوَّل للقيامة لأنه مزمور تسبيح لله على أعماله العجيبة، وكما يقول القديس أُنسيمس الأورشليمي أن هذا أوَّل مزمور تأتي فيه كلمة &#8220;هلليلويا&#8221; أي سُبحاً لله.<a href="#_ftn1" name="_ftnref1">[1]</a></p>
<p>ويقول عنه القديس أثناسيوس الرسولي :</p>
<p><strong>[</strong>ولشدة رغبتك فى أن تتذكر مراحم الله للآباء وعنايته بهم فى البرية، ولادراكك بصلاحه رغم جحود الانسان كرر المزامير ٤٤، ٧٨، ٨٩، ١٠٥، ١٠٧، ١١٤.</p>
<p>وأيضاً: فهل تشاء أن تقدم تسابيحك وأن تعرف كيف تعبر عنه، ولمن ترفعه، وما هى الكلمات اللائقة لذلك؟ عليك اذن أن تنشد المزامير ١٠٥، ١٠٧، ١٣٥، ١٤٦، ١٥٠<strong>]</strong>.<a href="#_ftn2" name="_ftnref2">[2]</a></p>
<p>أي أن هذا المزمور (بحسب تفسير القديس أثناسيوس الرسولي) هو إحدى مزامير إستعلان صلاح الله لشعبه، وأيضاً إحدي المزامير التي من خلالها نُقدِّم التسبيح اللائق لله.</p>
<ol start="2">
<li>مزمور ١٠٥ مزمور القدَّاس ليوم الأربعاء، ومزمور باكر والقدّاس ليوم الخميس، ومزمور باكر ليوم الجمعة من الأسبوع الأوَّل.</li>
</ol>
<p>إذا كان المزمور السابق هو أوَّل مزمور تأتي فيه كلمة &#8220;هلليلويا&#8221; فإن هذا المزمور هو أوَّل مزمور يبدأ ويُختم ب &#8220;هلليلويا&#8221;.</p>
<p>وهو أول مزامير الليلويات، التي هي: [مز ١١١، ١١٣، ١١٧، ١٣٥، ١٤٦ -١٥٠]</p>
<p>وتقريباً كل مزامير الأسبوع الأوَّل يغلب عليها طابع التسبيح والشكر وتمجيد الله لأجل عمله الخلاصي العجيب بموته وقيامته المُقدَّسة.</p>
<ol start="3">
<li>مزمور ١١٨ مزمور عشيّة ومزمور القدَّاس ليوم السبت الملازم لأحد توما.</li>
</ol>
<p>هذا هو مزمور <strong>التطويبات</strong> وهو الذي يبدأ ب &#8220;طوباهم الذين بلا عيب في الطريق&#8221;، ويتكرر هنا مرتين في مزموري عشية والقدّاس، وكأنه يتجاوب مع عطايا الرب لأولاده في قراءات اليوم:</p>
<ul>
<li>شاكرين الله الآب الذي أهلنا للدخول إلى نصيب ميراث القديسين (البولس).</li>
<li>نبشركم بالحياة الأبديّة (الكاثوليكون).</li>
<li>وامتلأوا كلهم من الروح القدس (الإبركسيس).</li>
<li>رأوا مجده (إنجيل القدَّاس).</li>
</ul>
<p>ويقول عنه القديس أثناسيوس الرسولي أنه إحدى مزامير الوعد بالبركة (١، ٣٢، ٤١، ١١٩، ٢٨).<a href="#_ftn3" name="_ftnref3">[3]</a></p>
<ol start="4">
<li>مزمور ٧ جاء منه في مزمور باكر والقدّاس ليوم الثلاثاء من الأسبوع الثاني، ومزمور القدَّاس ليومي الإثنين والثلاثاء من الأسبوع الثالث.</li>
</ol>
<p>هذا المزمور كما جاء في مقدمته التجاء وصراخ داود النبي للرب في ضيقته وثقته الكاملة في نجاة الله له، وهذا هو مدح الرب في قراءات الأحد السابق له &#8220;طوبى للذين آمنوا ولم يروا&#8221;.</p>
<p>وهو مزمور الصليب والقيامة والصعود.</p>
<p>فيقول المرنم عن الرب في صليبه &#8220;ارتفع في قطار أعدائي&#8221;، وفِي قيامته &#8220;استيقظ يا ربي وإلهي&#8221;، وعن صعوده بالجسد للسماء &#8220;ولأجل هذا أرجع إلى العلاء&#8221;.</p>
<ol start="5">
<li>مزمور ١٥ مزمور عشيّة وباكر ليوم الجمعة من الأسبوع الثاني.</li>
</ol>
<p>هذا المزمور هو الذي استشهد به القديس بطرس في عظته يوم الخمسين (أع 2:  ٢٥-٣٠) لتأكيد حقيقة موت الرب وقيامته المُقدَّسة، وهو مزمور مسياني.</p>
<p>ويقول القديس أثناسيوس الرسولي عنه: [ترى القيامة حقيقة في المزمور السادس عشر].<a href="#_ftn4" name="_ftnref4">[4]</a></p>
<ol start="6">
<li>مزمور ١١٠ مزمور باكر ليوم السبت الملازم لأحد خبز الحياة ومزمور عشيّة وباكر والقدّاس ليوم أحد خبز الحياة.</li>
</ol>
<p>يرى البعض أن هذا المزمور وكثيرًا من المزامير التالية بعده كانت تُستخدَم في الاحتفال بالفصح، قام القديس أغسطينوس بشرحه في الصوم الكبير بكونه رمزًا يخص الفصح المسيحي لذلك يتوافق مع قراءات السبت والأحد التي يُعْلِن فيها ابن الله عن ذاته أساس الحياة ومصدر الخلاص</p>
<ul>
<li>&#8220;أرسل خلاصاً لشعبه (مزمور القدَّاس)،</li>
<li>&#8220;كل من يرى الابن ويؤمن به تكون له حياة أبدية وأنا أقيمه في اليوم الأخير&#8221; (إنجيل القدَّاس).</li>
</ul>
<ol start="7">
<li>مزمور ٥٦ مزمور عشيّة وباكر ليوم الثلاثاء في الأسبوع الثالث.</li>
</ol>
<p>وهو أيضاً مزمور الصليب والقيامة &#8220;ارتفع اللهم على السموات وعلى سائر الأرض مجدك&#8221; لأن الرب ارتفع بصليبه وبقيامته أعلن مجده (رو ٤:١) لذلك استشهد القديس بولس بهذا المزمور للحديث عن خلاص الله في العهد الجديد لجميع الشعوب (رو ٩:١٥).</p>
<ol start="8">
<li>مزمور ١٠٠ مزمور عشيّة وباكر ليوم الخميس في الأسبوع الثالث.</li>
</ol>
<p>هذا المزمور يبحث فيه المُرنِّم عن حضور الله وإستعلانه (مز ٢:١٠١) وهذا هو هدف قراءات كل أيَّام هذا الأسبوع.</p>
<p>ويقول عنه القديس أثناسيوس الرسولي :[وبعد أن تعرف سلطان الله للقضاء، وأنه هو الذى يتخذ القرارات ملطفا الحكم بالرحمة، وتشاء أن تقترب اليه معلنًا له عرفانك، فتغنى بالمزمور المائه والواحد لهذا الغرض].<a href="#_ftn5" name="_ftnref5">[5]</a></p>
<ol start="9">
<li>مزمور ١١٤ مزمور عشيّة وباكر لأحد الماء الحي (السامرية).</li>
</ol>
<p>يعتبر هذا المزمور مسيانيًا، يشير إلى آلام السيد المسيح وموته ونصرته، وكما جاء في مزمور باكر &#8220;حافظ الأطفال الصغار&#8221; والتي لا تعني فقط الحماية بل الرعاية أيضاً والاهتمام مثل ما اهتم الرب بالسامرية التي كانت مثل الأطفال الصغار في قبولها الإيمان،</p>
<p>وهذا المزمور تستخدمه كنيسة إنجلترا في تقديم صلاة شكر عندما يُولد طفل.<a href="#_ftn6" name="_ftnref6">[6]</a></p>
<p>ويقول عنه القديس أثناسيوس الرسولي :</p>
<p>[وحين تزول ضيقاتك بعد أن أستجديت الله فأستجابك وودت أن ترفع الشكر فترنم بالمزمور الرابع واستكمله بالمزمورين ٧٥، ١١٥].</p>
<p>[وحتى إن وصل اليك هؤلاء المفترين، ودخلوا على غير علم منهم المغارة التى أنت مختبىء فيها، فلا تفزع فى رعدة لأن لديك وسط هذه الضيقة تلك الكلمات الخالدة المكتوبة للتشجيع في المزمورين ٥٧، ١١٥].</p>
<p>أي أنه مزمور شكر ، ومزمور نجاة من الموت (قيامة).<a href="#_ftn7" name="_ftnref7">[7]</a></p>
<ol start="10">
<li>مزمور ٤٢ مزمور عشيّة وباكر ليوم الإثنين من الأسبوع الرابع.</li>
</ol>
<p>هذا المزمور يتكلَّم عن التجاء النفس إلى نور الله وحقه (مزمور باكر) والنور والحق مُخبَّأ في كلمته المُقدَّسة كما نُصلِّي &#8220;ليشرق علينا نور علمك الإلهي لنكون بني النور وبني النهار&#8221; لذلك يقول إنجيل قدّاس هذا اليوم &#8220;إنساناً يقول لكم الحق الذي سمعته من الله&#8221;.</p>
<ol start="11">
<li>مزمور ٦٦ مزمور عشيّة وباكر من يوم الثلاثاء للأسبوع الرابع.</li>
</ol>
<p>هذا المزمور هو مزمور البركة الليتورجية التي كان يقولها هرون رئيس الكهنة لكي يُظْهِر الله وجهه للبشرية فتعرف طريق خلاصها.</p>
<p>وكما يقول القديس أثناسيوس الرسولي أن طريق الله هو الإنجيل الذي يقود الإنسان لمعرفة الله المعرفة الحقيقية ويقود الكنيسة لنقاوة وأصالة التعليم.</p>
<p>وهذا هو موضوع قراءات اليوم:</p>
<ul>
<li>&#8220;إن كان أحد يحفظ كلامي فلن يرى الموت الي الابد&#8221; (إنجيل القدَّاس).</li>
<li>&#8220;وها أنتم قد ملأتم أورشليم بتعليمكم&#8221; (الإبركسيس).</li>
</ul>
<ol start="12">
<li>مزمور ٦٩ مزمور عشيّة وباكر من يوم الجمعة للأسبوع الرابع.</li>
</ol>
<p>مزمور طلب المعونة الإلهية والإحساس بالمسكنة الشديدة وهي عكس رياء التعليم وفساد المصالح:</p>
<ul>
<li>خمير الفريسيين وخمير هيرودس (إنجيل عشيّة).</li>
<li>والأنبياء الكذبة (الكاثوليكون).</li>
<li>مثل ثوداس (الإبركسيس).</li>
</ul>
<ol start="13">
<li>مزمور ١١٧ أكثر مزمور جاء في قراءات الخمسين يوم المُقدَّسة (إحدى عشر مرة) جاء في:</li>
</ol>
<ul>
<li>مزمور عشيّة وباكر والقدّاس من يوم أحد النور.</li>
<li>وفِي مزمور باكر يوم الإثنين الذي يليه.</li>
<li>ومزمور عشيّة وباكر يوم الثلاثاء لنفس الأسبوع.</li>
<li>ومزمور باكر والقدّاس ليوم الأربعاء.</li>
<li>ومزمور باكر ليوم الخميس ومزمور عشيّة وباكر ليوم الجمعة في نفس الأسبوع.</li>
</ul>
<p>لا تندهش كثيراً لمجيء هذا المزمور إحدى عشر مرة بداية من يوم الأحد وفِي كل يوم من الأيَّام التي تليه حتى يوم الجمعة، لأن هذا المزمور هو مزمور مسياني، ومزمور ليتورجي، وهو مزمور تسبحة عيد الفصح، لذلك تصلي به معظم الكنائس الشرقية في عيد القيامة.</p>
<p>وهذا هو مزمور &#8220;هذا هو الحجر الذي رذله البنَّاؤون، هذا هو اليوم الذي صنعه الرب&#8221; فهو مزمور إرسالية ابن الله للعالم (موضوع قراءات الأسبوع كله) وإرساليتنا نحن فيه إلى العالم &#8220;كما أرسلتني إلى العالم أرسلتهم أنا أيضاً إلى العالم&#8221;.</p>
<p>لذلك أنشدت الجموع به عندما دخل الرب أورشليم (مت ٩:٢١).</p>
<p>ويقول عنه القديس أثناسيوس الرسولي :[فأفتقاد المخلص للناس، واقامته بينهم بوصفه الله، يترنم بها فى المزمور ٥٠ بقوله: &#8220;الله الهنا يأتي علانية ولا يصمت&#8221; وكذلك فى المزمور ١١٨ بانشاده &#8220;مبارك الآتى باسم الرب، باركناكم من بيت الرب، الله الرب اضاء علينا&#8221;.</p>
<p>وهو هدف قراءات الخمسين يوم المُقدَّسة إقامة الله الدائمة مع شعبه كنيسة العهد الجديد].<a href="#_ftn8" name="_ftnref8">[8]</a></p>
<ol start="14">
<li>مزمور ١٣٤ جاء في مزمور عشيّة وباكر ليوم السبت الملازم لأحد الطريق وفِي مزمور عشيّة وباكر لأحد الطريق.</li>
</ol>
<p>هذا هو إحدى مزامير التسبيح والتي كانت تُدعي [الهلليل العظيم] لأنها تُسَبح الرب في قدرته الإلهية في السماء وعلى الأرض &#8220;وكل ما شاء الرب صنع في السماء وعلى الأرض&#8221; أي في تجسّده وفِي صعوده (موضوع قراءات اليوم).</p>
<p>وهو إحدى مزامير التسبيح كما قال القديس أثناسيوس الرسولي :[فهل تشاء أن تقدم تسابيحك وأن تعرف كيف تعبر عنه ولمن ترفعه وما هى الكلمات اللائقة لذلك؟ عليك إذن أن تنشد المزامير (١٠٥، ١٠٧، ١٣٥، ١٤٦، ١٥٠).<a href="#_ftn9" name="_ftnref9">[9]</a></p>
<ol start="15">
<li>مزمور ٤٦ جاء في مزموري عشيّة وباكر ليومي الإثنين والثلاثاء للأسبوع السادس.</li>
</ol>
<p>وهو المزمور الذي وُضع بمناسبة نقل تابوت العهد إلى جبل صهيون، ليحمل نبوةً عن صعود السيد المسيح إلى السماء، وحكمه الملوكي وعن جلوسه عن يمين الآب، وعن انتشار الكرازة بالإنجيل في المسكونة.</p>
<p>أي أنه مزمور الصعود لذلك يأتي في أسبوع قراءات عيد الصعود، أو إحدى مزامير الصعود كقول القديس أثناسيوس الرسولي (٢٤، ٤٧، ١١٠).<a href="#_ftn10" name="_ftnref10">[10]</a></p>
<ol start="16">
<li>مزمور ٢٢ جاء في مزمور عشيّة وباكر ليوم الأربعاء للأسبوع السادس.</li>
</ol>
<p>هذا المزمور رمزًا لأعمال السيد المسيح القدسية السرائرية. لهذا جعلوه من صُلْب ليتورجيا العماد، ففي ليلة عيد القيامة (الفصح المسيحي) كان المعمدون حديثًا غالبًا يترنمون به بعد نوالهم سرى العماد والميرون، وقد لبسوا الثياب البيضاء وحملوا المشاعل، مُسرعين تجاه مذبح الرب بالفرح يشتركون في المائدة السماوية.</p>
<p>وكأنه مزمور كمال وملء الرعاية الإلهية الأبويَّة بعد موته وقيامته وصعوده، لذلك تُصلِّي به الكنيسة في مزامير الساعة الثالثة وقت حلول الروح القدس.</p>
<p>ويقول عنه القديس أثناسيوس الرسولي :[ومتى أحسست برعاية الله وبقيادته اياك فى طريق الاستقامة فترنم بالمزمور الثالث والعشرين].<a href="#_ftn11" name="_ftnref11">[11]</a></p>
<ol start="17">
<li>مزمور ٦٧ جاء في مزموري عشيّة وباكر ليوم الخميس للأسبوع السادس.</li>
</ol>
<p>وهو مزمور الصعود &#8220;صعد إلى العلاء وسبى سبيًا&#8221; (مزمور باكر عيد الصعود).</p>
<p>وهو قديماً كان يُنشد في موكب انتصار الملك على أعدائه، فهو مزمور الغلبة على الشيطان بكمال عمل الفداء وصعود الرب بالجسد إلى السماء.</p>
<ol start="18">
<li>مزمور ١١٨ جاء في:</li>
</ol>
<ul>
<li>مزمور باكر ليوم الأثنين في الأسبوع السابع.</li>
<li>ومزمور عشيّة ليوم الأربعاء.</li>
<li>ومزمور باكر ليوم الجمعة في الأسبوع السابع.</li>
<li>كما جاء مرتين في السبت الملازم لأحد توما.<br />
هذا المزمور هو الملكوت الداخلي في القلب وفردوسها، لذلك تتغنى به الكنيسة وقت استعدادها لفيض وملء الروح القدس، وهي قراءات هذا الأسبوع.</li>
</ul>
<h4><strong>نغمة المزامير بين الآحاد والأيَّام</strong></h4>
<p>يغلب على مزامير الآحاد كلها التسبيح والتمجيد والشكر بينما قراءات باقي الأيام يأتي فيها التسبيح والصلاة والتضرُّع.</p>
<h3><strong>البولس</strong></h3>
<ol>
<li>تأتي معظم قراءات البولس في الأيَّام من رسالة رومية (ستة وعشرين من مجموع خمسة وثلاثين).</li>
<li>تأتي القراءات:</li>
</ol>
<ul>
<li>في أيَّام الأسبوع الثاني كلها من الإصحاح الأوَّل من رومية.</li>
<li>وقراءات أيَّام الأسبوع الثالث كلها من الإصحاح الثاني.</li>
<li>وقراءات أيَّام الأسبوع الرابع من الإصحاح الثالث والرابع (ما عدا الأربعاء).</li>
<li>وقراءات أيَّام الأسبوع الخامس كلَّها من الإصحاح الرابع والخامس والسادس.</li>
<li>وقراءات أيَّام الأسبوع السادس من الإصحاح السابع والثامن (ما عدا الخميس والجمعة).</li>
<li>وقراءات أيَّام الأسبوع السابع من الإصحاح الثامن (ما عدا الخميس والجمعة).</li>
</ul>
<ol start="3">
<li>معظم القراءات تأتي من رسالة رومية لأنها رسالة بِرُّ الإيمان والتبرير لكل الشعوب الذي وهبه الله مجاناً بنعمته في صليب أبنه الحبيب وقيامته المُقدَّسة.</li>
<li>تأتي قراءات السبوت والآحاد من باقي الرسائل، ولعل هذا يوضِّح اختلاف منهج وخط قراءات الأيَّام عن قراءات السبوت والآحاد.</li>
<li>تأتي أربع مرّات من كورنثوس الأولى وأفسس، ومَرَّتان من كولوسي والعبرانيين، ومَرَّة واحدة من غلاطية وتسالونيكي الثانية وتيموثاوس الثانية.</li>
<li>أكثر رسالة بعد رومية هي رسالة أفسس، فقد جاءت أربع مرّات في السبوت والآحاد، ومَرَّتان في قراءات الأيَّام: يوم الخميس من الأسبوع الأوَّل، ويوم الأربعاء من الأسبوع الرابع.</li>
</ol>
<p>وهي رسالة عطايا الإنسان الجديد (خاصة الأربع إصحاحات الأولى) وهي موضوع وجوهر قراءات الخمسين يوم المُقدَّسة.</p>
<ol start="7">
<li>تأتي الأربع إصحاحات من أفسس مُوزَّعة تقريباً كلها بين قراءات الخمسين يوم المُقدَّسة:</li>
</ol>
<ul>
<li>(أف١: ١-١٤)      ← قراءة السبت الملازم لأحد النور.</li>
<li>(أف١: ١٥-٢: ١-٣) ← قراءة الخميس في الأسبوع الأوَّل.</li>
<li>(أف٢: ١٣-١٨)    ← قراءة الأربعاء للأسبوع الرابع.</li>
<li>(أف٢: ١٩-٣: ١-٩) ← قراءة أحد خبز الحياة.</li>
<li>(أف٤: ٨-١٦)       ← قراءة السبت الملازم لأحد الغلبة.</li>
<li>(أف٤: ٢٠-٣٢)     ← قراءة أحد توما.</li>
</ul>
<ol start="8">
<li>تأتي أربع قراءات من رسالة كورنثوس الأولى:</li>
</ol>
<ul>
<li>الأولي في قراءة عيد القيامة من الإصحاح الخامس عشر (إصحاح القيامة).</li>
<li>الثانية في قراءة أحد الغلبة من آخر آيتين من الإصحاح الخامس عشر، وثمانية آيات من الإصحاح السادس عشر، وهو الحديث الذي بدأ بالغلبة والنصرة بربنا يسوع المسيح في نهاية إصحاح ١٥ وبدأ بالتأكيد علي شركة المحبّة والعطاء في الكنيسة الجامعة - وهو موضوع قراءات أيَّام الأسبوع السابع - ويُخْتَم الحديث بوعد القديس بولس بالمجيء إليهم يوم الخمسين.</li>
<li>الثالثة والرابعة في السبت الملازم لأحد العنصرة، وأحد العنصرة، وهما من الإصحاح الثالث عشر، وأربع آيات من الإصحاح الرابع عشر، ومن الإصحاح الثاني عشر،</li>
</ul>
<p>وكأن القراءتين [الموافقتان لعيد حلول الروح القدس] تُعْلِنان عَصب الوحدة - المحبّة - التي هي ملح الروح القدس (مر٥٠:٩) في الإصحاح الثالث عشر، وتُخْتَم القراءة يوم السبت ببنيان الكنيسة (١كو١٤: ٤).</p>
<ul>
<li>ثم تأتي قراءة أحد العنصرة لتشرح كيف تقود المواهب إلى الوحدة، وكيف تُعْلِن الشركة المحبّة في الإصحاح الثاني عشر من الرسالة كختام لقراءات البولس في الخمسين يوم المُقدَّسة.</li>
</ul>
<ol start="9">
<li>تأتي قراءتان من رسالة العبرانيين من الإصحاح العاشر في السبت الملازم لأحد الطريق إلى الآب (الصعود) وأحد الطريق.</li>
</ol>
<ul>
<li>تبدأ القراءة الأولي بمجئ إبن الله في الجسد ليُحقِّق مسرَّة الآب التي هي مسَّرته أيضاً في خلاص الإنسان [تكررت كلمة لأعمل مسَّرتك مرتان، وبعدها فبمسرَّته هذه تقدسنا] وكَمُلَتْ مسرَّة الثالوث بصعود الابن بالجسد إلى السماء ونصرة البشرية الدائمة في المسيح على كل الأعداء.</li>
<li>وتكتمل العطيَّة في القراءة الثانية من عبرانيين١٠ (قراءة أحد الطريق) بالثقة في دخولنا إلى الأقداس والطريق الذي كرَّسه لنا إبن الله في جسده، وكيف نعيش هذه العطايا في يقين الإيمان والتحريض على المحبّة والصبر في الشدائد، وتُخْتَم القراءة بالتأكيد على هذه الثقة والتحذير من فقدانها بعدم الصبر.</li>
</ul>
<h3><strong>الكاثوليكون</strong></h3>
<ol>
<li>تخلو قراءات الخمسين يوم المُقدَّسة تماماً من رسالة يعقوب. وذلك لأن رسالة يعقوب هي رسالة التوبة في منهجها العملي الذي يسير جوهرها وروحها مع قراءات الصوم الأربعيني المُقَدَّس.</li>
<li>تأتي معظم قراءات الكاثوليكون من:</li>
</ol>
<ul>
<li>رسالة يوحنا الأولى [خمسة وثلاثون من خمسون قراءة]،</li>
<li>وأيضاً كل قراءات الأسابيع الثانية والثالثة والرابعة والخامسة والسادسة، بإستثناء قراءتين:</li>
<li>الأربعاء من الأسبوع الرابع من (1بط ٤).</li>
<li>والخميس من الأسبوع السادس من (1بط ٣).</li>
</ul>
<ol start="3">
<li>الكاثوليكون في الإسبوع الأوَّل كُلُّه من رسالة بطرس الأولى (خمسة قراءات من إصحاحات ٤،٣،٢،١) وهي رسالة القيامة والرجاء، كشرح متكامل لبركات القيامة موضوع قراءات أحد العيد.</li>
<li>الكاثوليكون في الأسبوع السابع كُلُّه من رسالة يوحنا الثانية والثالثة [بإستثناء الجمعة] وهي رسائل إلى الكنيسة ورعاتها وتشديده على وحدتها ومحبتها وشهادتها للحق كإعداد لملء الروح القدس يوم الخمسين.</li>
<li>تتابع قراءات الأيَّام مع السبوت بعكس الإبركسيس:</li>
</ol>
<ul>
<li>فتتابع قراءات الجمعة للأسبوع الثاني (١يو ٢: ١١-١٤) مع قراءات السبت التي تليها (١يو ٢: ٢١-٢٥).</li>
<li>وتتابع قراءات الجمعة للأسبوع الثالث (١يو ٣: ٣،٢) مع قراءات السبت الذي يليها (١يو٣: ٢-١١).</li>
<li>وتتابع قراءات الجمعة للأسبوع الرابع مع (١يو ٤: ١-٦) مع قراءات السبت الذي يليها (١يو ٤: ١٥-٢١).</li>
<li>وتتابع قراءات الجمعة من الأسبوع الخامس (١يو ٥: ١-٦) مع قراءات السبت الذي يليها (١يو ٥: ١١-٢١).</li>
</ul>
<h3><strong>الابركسيس</strong><strong>:</strong></h3>
<ol>
<li>يتضح تدرُّج القراءات في إصحاحات سفر الأعمال في معظم الأيَّام مع بعض الاستثناءات:</li>
</ol>
<p>قراءات الأسبوع الثاني كلها من الإصحاح الرابع، وتستمر في ثلاثة ايّام من الأسبوع الثالث، وتبدأ من الإصحاح الخامس في يومين [خميس وجمعة]، وفِي أربعة أيام في الأسبوع الرابع [كل الايام ما عدا الأربعاء]، ومن الإصحاح السابع في كل ايّام الأسبوع الخامس [ما عدا الجمعة].</p>
<p>ويختم الأسبوع السابع (الأخير) بالإصحاحين الرابع عشر والخامس عشر، للتركيز على الكنيسة وقيمتها ورسالتها ووحدتها.</p>
<p>ورغم تدرُّجها في سفر الأعمال في أيَّام الأسبوع إلَّا أنها تختلف عن قراءات السبوت والآحاد بإستثناء جمعة الأسبوع الثالث (أع ٥: ٥-١١) مع السبت الذي يليه (أع ٥: ١٢-٢٠).</p>
<p>وربما يوضّح هذا اختلاف خط قراءات أيَّام الأسبوع عن قراءات السبوت والآحاد.</p>
<ol start="2">
<li>أكثر الإصحاحات التي جاءت في القراءات بحسب ترتيب أكثريتها:</li>
</ol>
<ul>
<li>الإصحاح الرابع 11 مرة.</li>
<li>الإصحاح الخامس ٨ مرّات.</li>
<li>الإصحاح السابع ٤ مرّات.</li>
<li>الإصحاح التاسع ٤ مرّات.</li>
<li>الإصحاح الرابع عشر ٣ مرّات.</li>
<li>الإصحاح الخامس عشر ٣ مرّات.</li>
<li>الإصحاح العشرين ٣ مرّات.</li>
<li>الإصحاح الثاني والعاشر والرابع عشر مرتان.</li>
</ul>
<ol start="3">
<li>أكثر الاقتباسات جاءت من الإصحاحين الرابع والخامس، لأنهما أكثر إصحاحين يُظهرا شهادة الآباء الرسل لقيامة المسيح، ويُعلنان صورة الحياة الجديدة في الكنيسة.</li>
<li>تبدأ قراءات الإبركسيس في أول يوم من الخمسين المُقدَّسة من الإصحاح الثاني وتُخْتَم به في عيد العنصرة.</li>
</ol>
<p>فهي تبدأ باختيار القديس متياس بدلاً من يهوذا، وتختم بملء الروح القدس على المُجتمعين معاً ومع الآباء الرسل.</p>
<h3><strong>فصول قراءات الأناجيل في الخمسين يوم المُقدَّسة</strong></h3>
<h4><strong>أولاً: أناجيل الأيَّام</strong></h4>
<h5><strong>أناجيل العشيَّات</strong><strong>:</strong></h5>
<p>تأتي قراءات أناجيل الأيَّام في عشيّة في كثير من الأسابيع من إنجيل واحد بعينه، فتأتي:</p>
<ul>
<li>كل فصول أناجيل عشيّة في أيَّام الأسبوع الثاني والثالث من بشارة القديس متي.</li>
<li>وكل فصول أناجيل عشيّة في أيَّام الأسبوع الرابع من بشارة القديس مرقس، وأيضاً الأسبوع السادس ماعدا يوم الخميس (خميس الصعود).</li>
<li>وتأتي قراءات فصول عشيّة في أيَّام الأسبوع السابع من بشارة القديس لوقا ماعدا يوم الثلاثاء (من بشارة القديس مرقس).</li>
<li>تأتي فصول القراءات في عشيّة من كل الأناجيل في الأسبوعين الأوَّل والخامس.</li>
</ul>
<h5><strong>أناجيل باكر:</strong></h5>
<p>تأتي قراءات أناجيل الأيَّام في كثير من الأسابيع أيضاً من إنجيل واحد بعينه.</p>
<ul>
<li>فتأتي كل فصول أناجيل باكر في أيَّام الأسبوع الثاني والثالث من بشارة القديس متي.</li>
<li>وتأتي كل فصول أناجيل باكر في أيَّام الأسبوع الرابع والخامس (ما عدا يوم الجمعة)، والسادس من بشارة القديس مرقس.</li>
<li>وتأتي كل فصول أناجيل باكر في أيَّام الأسبوع السابع من بشارة القديس لوقا.</li>
</ul>
<h5><strong>أناجيل القداسات:</strong></h5>
<p>تأتي كل قراءات أناجيل القدّاسات من بشارة القديس يوحنا، بإستثناء:</p>
<ul>
<li>أيّام الأسبوع الأوَّل [عدا الأربعاء]،</li>
<li>وخميس الصعود [من بشارة القديس لوقا التي تحكي وحدها قصة الصعود].</li>
</ul>
<h4><strong>ثانياً: أناجيل السبوت والآحاد:</strong></h4>
<p>تأتي كل قراءات السبوت والآحاد من بشارة القديس يوحنا ما عدا قراءة عشيّة في السبوت.</p>
<p>أمثلة:</p>
<ul>
<li>في قراءات أحد خبز الحياة والسبت المُلازم له تأتي كل فصول الأناجيل من بشارة القديس يوحنا باستثناء فصل إنجيل عشيّة السبت [من بشارة القديس لوقا].</li>
<li>في قراءات أحد الماء الحي والسبت المُلازم له تأتي كل فصول الأناجيل من بشارة القديس يوحنا باستثناء فصل إنجيل عشيّة السبت [من بشارة القديس متي].</li>
<li>في قراءات أحد النور والسبت المُلازم له تأتي كل فصول الأناجيل من بشارة القديس يوحنا ما عدا فصل إنجيل عشيّة السبت [من بشارة القديس لوقا].</li>
<li>في قراءات أحد الطريق والسبت المُلازم له تأتي كل فصول الأناجيل من بشارة القديس يوحنا باستثناء فصل إنجيل عشيّة السبت [من بشارة القديس لوقا].</li>
<li>في قراءات أحد العنصرة والسبت المُلازم له تأتي كل فصول الأناجيل من بشارة القديس يوحنا باستثناء فصل إنجيل عشيّة السبت [من بشارة القديس لوقا].</li>
</ul>
<p><a href="#_ftnref1" name="_ftn1">[1]</a>  تفسير مزمور ١٠٥ - القمص تادرس يعقوب ملطي.</p>
<p><a href="#_ftnref2" name="_ftn2">[2]</a>  كتاب رسالة القديس أثناسيوس الرسولي في معني المزامير - صفحة ٣١، ٣٥ - ترجمة إيريس حبيب المصري.</p>
<p><a href="#_ftnref3" name="_ftn3">[3]</a>  كتاب رسالة القديس أثناسيوس الرسولي في معنى المزامير - صفحة ٢٦ - ترجمة إيريس حبيب المصري.</p>
<p><a href="#_ftnref4" name="_ftn4">[4]</a>  كتاب رسالة القديس أثناسيوس الرسولي في معني المزامير - صفحة ٣٧ - ترجمة إيريس حبيب المصري</p>
<p><a href="#_ftnref5" name="_ftn5">[5]</a>  كتاب رسالة القديس أثناسيوس الرسولي في معنى المزامير - صفحة ٣٥ - ترجمة إيريس حبيب المصري.</p>
<p><a href="#_ftnref6" name="_ftn6">[6]</a>  تفسير مزمور ١١٤ - القمص تادرس يعقوب ملطي.</p>
<p><a href="#_ftnref7" name="_ftn7">[7]</a>  كتاب رسالة القديس أثناسيوس الرسولي في معنى المزامير - صفحة ٢٧، ٣١ - ترجمة إيريس حبيب المصري.</p>
<p><a href="#_ftnref8" name="_ftn8">[8]</a>  كتاب رسالة القديس أثناسيوس الرسولي في معنى المزامير - صفحة ١٣ - ترجمة إيريس حبيب المصري.</p>
<p><a href="#_ftnref9" name="_ftn9">[9]</a>  كتاب رسالة القديس أثناسيوس الرسولي في معنى المزامير - صفحة ٣٥ - ترجمة إيريس حبيب المصري.</p>
<p><a href="#_ftnref10" name="_ftn10">[10]</a>  كتاب رسالة القديس أثناسيوس الرسولي في معنى المزامير - صفحة ٣٧ - ترجمة إيريس حبيب المصري.</p>
<p><a href="#_ftnref11" name="_ftn11">[11]</a>  كتاب رسالة القديس أثناسيوس الرسولي في معنى المزامير - صفحة ٢٨ - ترجمة إيريس حبيب المصري.</p>

      {% endcreateArticleAccordions %}
    </section>
  {% endblock %}
