---
layout: 'layouts/reading.html'
title: 'الرابط بين قراءات الصوم الكبير والبصخة المُقدَّسة والخمسين يوم المُقدَّسة'
tags: 'pentecost'
permalink: /articles/pentecost/180.html
---
  {% block content %}
    <section id="article">
      <h3 class="mt-8 mb-4 heading-explain">شرح القراءات</h3>
      {% createArticleAccordions %}
        <p>لعلَّ في شرح الآباء الشرقيين لمفهوم الشركة مع الثالوث ما يُمْكِن أن يُلقي ضوءاً على الرابط بين: قراءات الصوم الكبير، والبصخة المُقدَّسة، والخمسين يوم المُقدَّسة.</p>
<p><strong>يقول القدِّيس اثناسيوس الرسولي</strong></p>
<p>[وكما أن النعمة المعطاة هي من الآب بالابن، هكذا لا يمكننا أن نشترك في الموهبة إلا في الروح القدس. لأننا عندما نشترك فيه تصبح لنا محبة الآب ونعمة الابن وشركة الروح القدس نفسه]<a href="#_ftn1" name="_ftnref1">[1]</a>.</p>
<p><strong>ويشرح ذلك الدكتور سعيد حكيم يعقوب قائلا :</strong></p>
<p>[والكتّاب الروحيون، فضّلوا طريقة الآباء الشرقيون في التعليم، والتي صيغت في نماذج تقليدية، وتتلخص في إتجاهين :</p>
<ul>
<li>الأول: ينادي بأن الآب يخلقنا بالأبن، ويقدسنا بالروح القدس .</li>
<li>والثاني: عكسي، إذ نحن نُعطي المجد للآب من خلال الابن في الروح القدس.</li>
</ul>
<p>ويقول القدِّيس باسيليوس الكبير:<br />
[إن طريق المعرفة الإلهية، ينطلق من الروح الواحد، بواسطة الإبن الواحد الوحيد، تجاه الآب الواحد، وبطريقة عكسية، فإن الصلاح الذاتي والحرية الإرادية، والمقام الملوكي، كل هذا ينبثق من الآب من خلال الإبن الوحيد في الروح القدس.<br />
هكذا يؤكد على أن الرب يسوع هو الطريق الصَّالح الذي لا إنحراف فيه ولا خطأ، فهو الذي يقود إلى الآب، هذا هو طريقنا الذي به نرتقي إلى الآب.<br />
أيضاً وكما أنه: &#8220;لا أحد يعرف الآب إلا الابن&#8221;، يقول أيضاً: &#8220;لا يستطيع أحد أن يقول يسوع رب إلا بالروح القدس&#8221;، ولم يقل بواسطة الروح القدس، بل بالروح القدس، لأنه &#8220;روح الله&#8221; &#8220;والذين يسجدون له فبالروح والحق ينبغي أن يسجدوا&#8221;.<br />
إذاً، فطريق معرفتنا بالله يبدأ بالروح الواحد، من خلال الإبن الواحد، إلى الآب الواحد، ولكن بطريقة عكسية، الصلاح الإلهي، وقداسة الله، ومجد الملكوت يصلنا من الآب بالإبن في الروح القدس.<br />
وكلا الإتجاهين يُظهِر الإعتراف الكامل بالأقانيم، ولا ينتهك الإيمان القويم بالوحدانية&#8221;]<a href="#_ftn2" name="_ftnref2">[2]</a></p>
<p>من خلال هذا المفهوم الآبائي الأصيل يُمكننا أن نقترب من محاولة فهم وإدراك ما وضعته كنيستنا المُقدَّسة في ترتيب هذه المناسبات الليتورجية الثلاث.</p>
<p>وكما قال القديس باسيليوس الكبير أن الصلاح الإلهي، وقداسة الله، ومجد الملكوت يصلنا من الآب بالابن في الروح القدس.</p>
<h3><strong>وهذا ما نراه في قراءات الصوم الكبير، وقراءات البصخة المُقدَّسة:</strong></h3>
<h4><strong>نرى الصلاح الإلهي المُعْلَن للبشر في قراءات الصوم الكبير:</strong></h4>
<ul>
<li>أبوَّة الله <strong>الآب</strong> <a href="https://katameros.bible/church-reading/a7ab-obwet-elab-elrefaa3/">في أحد الرفاع</a> (كلمة أبيك وأبوك جاءت عشر مرات في إنجيل القدَّاس).</li>
<li><strong>الإبن</strong> الذي أعلن كنوز الآب لنا في<a href="https://katameros.bible/church-reading/%d8%a3%d8%ad%d9%80%d8%af-%d8%a7%d9%84%d9%83%d9%86%d9%80%d8%b2-%d8%a7%d9%84%d8%b3%d9%85%d9%80%d8%a7%d9%88%d9%8a-%d8%a7%d8%a8%d9%80%d9%80%d9%86-%d8%a7%d9%84%d9%84%d9%87/"> أحد الكنز السماوي</a>.</li>
<li><strong>الإبن</strong> الذي أعطانا النصرة على الشيطان بالروح القدس (لو ٤: ١) <a href="https://katameros.bible/church-reading/%d8%a3%d8%ad%d8%af-%d8%a7%d9%84%d9%86%d8%b5%d9%80%d8%b1%d8%a9-%d8%a7%d9%84%d8%aa%d8%ac%d9%80%d8%b1%d8%a8%d8%a9-%d8%b9%d9%84%d9%8a-%d8%a7%d9%84%d8%ac%d8%a8%d9%84/">في أحد التجربة.</a></li>
<li><strong>الآب</strong> الذي يقبل الخطاة ببرِّه (لو ١٥: ٢٠) الذي أعلنه إبنه <a href="https://katameros.bible/church-reading/%d8%a3%d8%ad%d9%80%d8%af-%d8%a8%d9%80%d9%80%d8%b1-%d8%a7%d9%84%d8%a2%d8%a8-%d8%a7%d9%84%d8%a3%d8%a8%d9%80%d9%86-%d8%a7%d9%84%d8%b6%d9%80%d9%80%d8%a7%d9%84/">في أحد الإبن الضال.</a></li>
<li><strong>الآب</strong> الطالب الساجدين من كل الأمم (يو٤: ٢٣-٢٤).</li>
<li><strong>والإبن</strong> الذي أعلن محبته وصلاحه للسامرة <a href="https://katameros.bible/church-reading/%d8%a3%d8%ad%d9%80%d8%af-%d8%a7%d9%84%d8%a5%d8%b3%d8%aa%d8%b9%d9%80%d9%84%d8%a7%d9%86-%d8%a7%d9%84%d8%b3%d8%a7%d9%85%d8%b1%d9%8a%d9%80%d9%80%d8%a9/">في أحد السامرية.</a></li>
<li><strong>الإبن</strong> الذي يسعي لقيامة الجميع والذي يعمل دائماً مع الآب (يو ٥: ١٧) لأجل خلاصنا <a href="https://katameros.bible/church-reading/%d8%a3%d8%ad%d9%80%d9%80%d8%af-%d8%a7%d9%84%d8%aa%d9%80%d8%af%d8%a8%d9%8a%d9%80%d9%80%d8%b1-%d8%a7%d9%84%d8%a5%d9%84%d9%87%d9%8a-%d8%b2%d9%85%d9%80%d9%86-%d8%a7%d9%84%d8%ad%d9%80%d8%a8-%d9%88%d8%a7/">في أحد المخلع.</a></li>
<li><strong>الإبن</strong> الذي يعمل أعمال الآب الذي أرسله (يو ٩: ٤) وهو إنفتاح أعين الجميع علي مجده <a href="https://katameros.bible/church-reading/%d8%a3%d8%ad%d8%af-%d8%a7%d9%84%d8%a5%d8%b3%d8%aa%d9%86%d8%a7%d8%b1%d8%a9-%d9%88%d8%a7%d9%84%d9%85%d8%b9%d9%85%d9%88%d8%af%d9%8a%d8%a9-%d8%a7%d9%84%d9%85%d9%88%d9%84%d9%88%d8%af-%d8%a3%d8%b9%d9%85/">في أحد المولود أعمي</a></li>
</ul>
<p><strong>ثم تتدرَّج بنا القراءات في قراءات البصخة المُقدَّسة لتكشف لنا عن:</strong></p>
<ul>
<li>قوَّة قيامته فينا في<a href="https://katameros.bible/church-reading/%d8%b3%d8%a8%d8%aa-%d9%84%d8%b9%d8%a7%d8%b2%d8%b1/"> سبت لعازر.</a></li>
<li>وملكوته بوداعة في هياكلنا في <a href="https://katameros.bible/church-reading/%d8%a3%d8%ad%d9%80%d9%80%d9%80%d9%80%d8%af-%d8%a7%d9%84%d8%b4%d9%80%d8%b9%d9%80%d9%80%d9%80%d8%a7%d9%86%d9%8a%d9%80%d9%80%d9%86/">أحد الشعانين.</a></li>
<li>وكيف كان هذا تدبير الثالوث منذ القديم في<a href="https://katameros.bible/church-reading/%d9%8a%d9%88%d9%85-%d8%a7%d9%84%d8%a3%d8%ab%d9%86%d9%8a%d9%86-%d9%85%d9%86-%d8%a7%d9%84%d8%a8%d8%b5%d8%ae%d8%a9-%d8%a7%d9%84%d9%85%d9%82%d8%af%d8%b3%d8%a9/"> قراءات الأثنين</a> <a href="https://katameros.bible/church-reading/%d9%8a%d9%88%d9%85-%d8%a7%d9%84%d8%ab%d9%84%d8%a7%d8%ab%d8%a7%d8%a1-%d9%85%d9%86-%d8%a7%d9%84%d8%a8%d8%b5%d8%ae%d8%a9-%d8%a7%d9%84%d9%85%d9%82%d8%af%d8%b3%d8%a9/">والثلاثاء</a> <a href="https://katameros.bible/church-reading/%d9%8a%d9%88%d9%85-%d8%a7%d9%84%d8%a3%d8%b1%d8%a8%d8%b9%d8%a7%d8%a1-%d9%85%d9%86-%d8%a7%d9%84%d8%a8%d8%b5%d8%ae%d8%a9-%d8%a7%d9%84%d9%85%d9%82%d8%af%d8%b3%d8%a9/">والأربعاء.</a></li>
<li>وحياته المُعطاة لنا في الأفخارستيا <a href="https://katameros.bible/church-reading/%d9%8a%d9%88%d9%85-%d8%a7%d9%84%d8%ae%d9%85%d9%8a%d8%b3-%d9%85%d9%86-%d8%a7%d9%84%d8%a8%d8%b5%d8%ae%d8%a9-%d8%a7%d9%84%d9%85%d9%8f%d9%82%d8%af%d9%91%d9%8e%d8%b3%d8%a9/">في قراءات الخميس.</a></li>
<li>وفي قمَّة إستعلان محبَّة الآب للبشر (يو٣: ١٦) في الصليب في <a href="https://katameros.bible/church-reading/%d9%8a%d9%88%d9%85-%d8%a7%d9%84%d8%ac%d9%85%d8%b9%d8%a9-%d8%a7%d9%84%d8%b9%d8%b8%d9%8a%d9%85%d8%a9/">قراءات الجمعة العظيمة.</a></li>
<li>وفي عبورنا من الجحيم إلى الفردوس في قراءات<a href="https://katameros.bible/church-reading/%d9%84%d9%8a%d9%84%d8%a9-%d8%b3%d8%a8%d8%aa-%d8%a7%d9%84%d9%81%d8%b1%d8%ad/"> ليلة سبت الفرح.</a></li>
<li>وفي مجد الخليقة الجديدة<a href="https://katameros.bible/church-reading/%d8%a3%d8%ad%d8%af-%d8%a7%d9%84%d9%82%d9%8a%d8%a7%d9%85%d8%a9/"> في قيامته</a> من بين الأموات.</li>
</ul>
<p>وهكذا أخذتنا كنيستنا المُقدَّسة في رحلة تبدأ من حضن الآب وأبوته وكشفت لنا تدريجيا عن عطايا الثالوث لنا، لتصل بنا إلى النبع الذي أُسْتِعْلِن فيها كل هذا المجد، وهو موت المسيح وقيامته المُقدَّسة.</p>
<h4><strong>ثم يأخذنا الروح القدس في قراءات الخمسين يوم المُقدَّسة في الإتجاه العكسي ليُصْعِدْنا في الإبن إلى الآب، لذلك يكشف لنا:</strong></h4>
<ul>
<li>عن حضور المسيح القائم في الكنيسة في أحد توما.</li>
<li>وعن المسيح خبز الحياة وطريقنا إلى الآب في أحد الخبز.</li>
<li>وعن المسيح خلاص الشعوب ومُعْلِن إرادة الآب في أحد السامرية.</li>
<li>والمسيح نور العالم في أحد النور.</li>
<li>وكمال ارساليته على الأرض في أحد الطريق.</li>
<li>وغلبتنا فيه بعد صعوده بالجسد إلى السماء في أحد الغالب.</li>
<li>وتحقيق غاية التدبير الإلهي وهو إعادة سكنى الروح من جديد في الإنسان بل سكنى الثالوث (يو١٤: ٢٣).</li>
</ul>
<h4><strong>وهكذا كما أخذتنا الكنيسة في رحلة من حضن الآب<br />
</strong></h4>
<p>لتصل بنا إلى الصليب لكتشف لنا تدريجيا عن محبة الله الآب والتي أعلنها إبنه في صليبه وقيامته، ونقلها لنا الروح في المعمودية، لذلك كان طقس المعمودية في الكنيسة الأولى يتم ليلة <a href="https://katameros.bible/church-reading/%d8%a3%d8%ad%d8%af-%d8%a7%d9%84%d9%82%d9%8a%d8%a7%d9%85%d8%a9/">عيد القيامة</a>، وتكون زفَّة المُعمَّدين مع المسيح القائم من بين الأموات، كإعلان عن نوالهم كل عطايا الثالوث في المعمودية.</p>
<ul>
<li>[يقول العلامة ترتليان: إن<a href="https://katameros.bible/church-reading/%d8%a3%d8%ad%d8%af-%d8%a7%d9%84%d9%82%d9%8a%d8%a7%d9%85%d8%a9/"> عيد القيامة</a> هو أقدس يوم يناسب إتمام سر المعمودية].<a href="#_ftn3" name="_ftnref3">[3]</a></li>
</ul>
<p><strong>كذلك أيضاً في الإتجاه العكسي</strong></p>
<p>كقول القديس باسيليوس الكبير- يأخذنا الروح بعد خروجنا من جرن المعمودية في الخمسين يوم المُقدَّسة ليُطْعِمنا من شجرة الحياة، فننال مجد حضور المسيح، وخبزه، ومائه، ونوره، وصعوده، وغلبته، ليصعد بنا الروح إلى الآب في يوم الخمسين فيأتي إلينا ويصنع منزلاً.</p>
<p><strong>ورحلة الصوم</strong> تعطينا الرجاء الكبير في محبة الله الغنية لنا نحن الخطاة (كما في مثل الإبن الضال، ولقاءاته مع السامرية والمخلع والمولود أعمى)، بينما قراءات الخمسين يوم المقدسة تلهب فينا الإشتياق إلى غنى مجده (خبز الحياة، الماء الحي، نور العالم، الطريق والحق والحياة، غلبة العالم، ملء الروح).</p>
<p>ولعلَّ قسمة القديس كيرلس توضِّح هذا المفهوم عندما قالت: [حُبّك أنزلك إلى هبوطنا، نعمتك تُصْعِدنا إلى علوِّك]، لذلك تحكي قراءات الصوم والبصخة الحب الإلهي الذي نزل إلى هبوطنا وظهر مجده في الصليب والقيامة، بينما تحكي قراءات الخمسين يوم المقدسة النعمة التي تُصعدنا إلي العلو إلى ملء الروح القدس يوم الخمسين.</p>
<p>ويظهر هذا أيضاً في طريقة عرض القديس متى والقديس لوقا لأنساب المسيح له المجد بالجسد، فبينما نرى القديس متى يبدأ من فوق من إبراهيم (مت١: ١- ١٦) نزولاً إلى يوسف رجل مريم وذاكراً نماذج من الخطاة (ثامار وراحاب والتي لأوريا) والأمم (راحاب وراعوث) ليُعلن الحب الإلهي الذي نزل إلى هبوط البشرية،</p>
<p>نرى على الجانب الآخر القديس لوقا يبدأ الأنساب من المعمودية وملء الروح للبشرية في المسيح والنعمة التي تُصعدنا إلى العلو لنكون أبناء الله (لو ٣: ٣٨).</p>
<p>ورُبَّما تكون رحلة النزول والصعود هي ما رآه أبونا يعقوب عند هروبه من أخيه عيسو (تك ٢٨: ١٢)، الملائكة الصاعدين والنازلين من السماء، ورُبَّما أيضاً هذا ما عناه الرب بقوله: &#8220;إن دخل بي فيخلص ويدخل ويخرج ويجد مرعى&#8221; (يو ١٠: ٩).</p>
<p>أي أن رحلة قراءات كنيستنا المُقدَّسة هي رحلة صعود ونزول من السماء، ودخول وخروج في المسيح فيُسْتَعْلَن لنا ملء الحب الإلهي (يو ٣: ١٦)، وتصل بنا النعمة إلى كل ملء الله (أف ٣: ١٩).</p>
<h3>المراجع</h3>
<p><a href="#_ftnref1" name="_ftn1">[1]</a> كتاب رسائل أثناسيوس الرسولي عن الروح القدس - صفحة ٧٧ - تعريب القس مرقس داود.<br />
<a href="#_ftnref2" name="_ftn2"><sup>[2]</sup></a> كتاب الوحدة والتمايز في الثالوث القدوس بحسب فكر آباء الكنيسة - صفحة ٢٤ – د.سعيد حكيم يعقوب.<br />
<a href="#_ftnref3" name="_ftn3">[3]</a> كتاب نصوص مختارة من كتابات العلامة ترتليان – صفحة 180 – ترجمة راهب من دير الأنبا أنطونيوس.</p>

      {% endcreateArticleAccordions %}
    </section>
  {% endblock %}
