---
layout: 'layouts/reading.html'
title: 'يوم الأحد من الأسبوع الثاني للخمسين يوم المُقَدَّسَة'
tags: 'pentecost'
permalink: /articles/pentecost/2-0.html
---
  {% block content %}
    <section id="readings">
      <ul>
      {% if 'undefined' != 'undefined' %}
      
      {% else %}
      {% if '19.111:1,3' != 'null' %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">العشية</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeVespers '19.111:1,3' '43.6:16-23' %}
          </div>
        </div>
      </li>
      {% endif %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">باكر</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeMatins '19.111:3-4' '43.6:24-33' '' %}
          </div>
        </div>
      </li>
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <h3 class="flex items-center justify-between">
            <span class="kufi">القداس</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </h3>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeLitugy '49.2:19-3:10' '62.5:10-20' '44.20:1-12' '19.111:9-10' '43.6:35-45' %}
          </div>
        </div>
      </li>

      {% endif %}
        </ul>
    </section>
    <section id="article">
      <h3 class="mt-8 mb-4 heading-explain">شرح القراءات</h3>
      {% createArticleAccordions %}
        <h3>الأبن خبز الحياة لكل الشعوب</h3>
<ul>
<li>&#8220;والكلمة صار جسداً وحل بيننا ورأينا مجده&#8221; (يو١: ١٤).</li>
<li>ونحن أيضاً الجلوس في الظلمة زماناً أنعم لنا بنور قيامته من قبل تجسده الطاهر، فليضئ علينا نور معرفتك الحقيقية لنضئ بشكلك المحي. (قسمة القيامة).</li>
<li>فإن الشافي والمخلص رأى أنه يجب أن يتماشى بنفسه مع تلك الموجودات لكي يبرئها من الشر، لذلك صار إنساناً واتخذ الجسد أداته البشرية، وبهذه الوسيلة استعلن نفسه للجميع.. (القديس أثناسيوس الرسولي).<a href="#_ftn1" name="_ftnref1">[1]</a></li>
<li>لقد طبعت ملامحك علينا .. لقد أوجدتنا على صورتك ومثالك .. لقد جعلتنا عملتك، لكن لا يليق بصورتك أن تبقى في الظلام، أرسل شعاع حكمتك فتشرق فينا. (القديس أغسطينوس).<a href="#_ftn2" name="_ftnref2">[2]</a></li>
</ul>
<h3><strong>شواهد القراءات</strong></h3>
<p>عشية: المزمور (مز 110: 1) - الإنجيل (يو6: 16- 23).</p>
<p>باكر: المزمور (مز 110: 2، 3) - الإنجيل (يو 6: 24- 33).</p>
<p>القداس: البولس (أف 2: 19- 3: 1- 10) - الكاثوليكون (1يو 5: 10- 20) – الابركسيس (أع 20: 1- 13) –</p>
<p>المزمور (مز 110: 8- 9)  - الانجيل (يو 6: 35- 45).</p>
<h3><strong>شرح القراءات</strong></h3>
<p>تحدثنا قراءات الأحد الثاني عن ← <strong>الإبن خبز الحياة لكل الشعوب</strong>.</p>
<h4>المزامير</h4>
<ul>
<li>لذا توضح <strong>المزامير ←</strong> <strong>كيف يُقدِّم لنا الله أعماله، ومراحمه، وخلاصه لأجل حياتن</strong><strong>ا</strong> فنرى:</li>
<li>إستعلان أعمال الإبن ومشيئاته في <strong>مزمور عشية</strong> &#8220;عظيمة هي أعمال الرب ومشيئته كلها مفحوصة&#8221; (مز 110: 1).</li>
<li>وظهور مراحمه الإلهية في <strong>مزمور باكر</strong> &#8220;وعدله دائم إلى الأبد ذكر جميع عجائبه، رحوم هو الرب ورءوف&#8221; (مز 110: 2، 3).</li>
<li>ومجد خلاصه وعهده المقدس في الشعوب في <strong>مزمور القداس</strong> &#8220;أرسل خلاصاً لشعبه أمر بعهده إلى الأبد&#8221; (مز110: 8).</li>
</ul>
<h4>انجيل عشية</h4>
<p>وفي إنجيل عشيَّة عن ← <strong>سلطان الإبن على الماء والريح، ومعطي السلام لأولاده</strong> &#8220;وكان البحر هائجاً وريح شديدة تهب&#8230; نظروا يسوع ماشياً على البحر مقترباً إلى السفينة فخافوا، فقال لهم: أنا هو لا تخافوا&#8221; (يو ٦: ١٨- ٢٠).</p>
<h4>انجيل باكر</h4>
<p>وفي إنجيل باكر عن ← <strong>عطايا الآب للبشرية منذ خلقة العالم واستعلان الحياة الأبدية في ملء الزمان في ابنه</strong> &#8220;قال لهم يسوع: الحق أقول لكم ليس موسى أعطاكم الخبز من السماء بل أبي يعطيكم الخبز الحقيقي من السماء لأن خبز الله هو الذي ينزل من السماء ويهب الحياة للعالم&#8221; (يو٦: ٣٢، ٣٣).</p>
<h4>البولس</h4>
<p>وفي البولس عن:</p>
<ul>
<li><strong>الإبن صخرة الكنيسة</strong> &#8220;مبنيين على أساس الرسل والأنبياء ويسوع المسيح نفسه حجر الزاوية&#8221;</li>
<li><strong>وإستعلان غنى الآب للعالم كله في ملء الزمان في المسيح</strong> &#8220;إذا قرأتم معرفتي بسر المسيح ذلك الذي لم يظهر للناس في أحقاب أخر قد أعلن الآن لرسله الأطهار وأنبيائه بالروح وهو أن الأمم شركاء في الميراث وفي جسده&#8221; (أف3: ٤- ٦).</li>
<li>وعن <strong>مسئولية الكنيسة أن تعلن للبشرية عن غنى الآب في المسيح</strong> &#8220;وهبت هذه النعمة أن أبشر في سائر الأمم بغنى المسيح والذي لا يستقصى، وأوضح لكل أحد تدبير السر الذي كان مكتوماً عن العالم منذ الدهور في الله الخالق الجميع بيسوع المسيح لكي تظهر من قبل البيعة حكمة الله&#8221; (أف 3: 8- 10).</li>
</ul>
<h4>الكاثوليكون</h4>
<p>وفِي الكاثوليكون عن ← <strong>عطايا الآب التي أستعلنت في المسيح</strong> &#8220;لتعلموا أن الحياة الأبدية لكم &#8230; وإن كنا نعلم أنه يسمع لنا أنه يسمع لنا مهما طلبنا&#8230; وقد علمنا أن كل من هو مولود من الله لا يخطئ&#8230;&#8221; (١يو٥: ١٣- ١٨).</p>
<p>&#8220;وقد علمنا أن ابن الله قد جاء وأعطانا بصيرة لنعرف الحق&#8221; (١يو٥: ٢٠)</p>
<p>فالإبن أعطانا حياته وبه يسمع الآب لكل طلباتنا وصلواتنا، وبولادتنا الثانية بروحه محفوظين من سلطان الخطية، ولنا بصيرة لمعرفة الحق.</p>
<h4>الابركسيس</h4>
<p>وفي الإبركسيس عن ← <strong>غنى ومجد الحياة الأبدية في الكنيسة خلال الكلمة والأفخارستيا</strong> &#8220;وفي يوم الأحد (أول الأسبوع) &#8220;إذ كان التلاميذ مجتمعين لتوزيع جسد المسيح كان بولس يخاطبهم&#8230;. وكان فتى اسمه أفتيخوس&#8230;. فوقع من الطبقة الثالثة وحُمِلَ ميتاً فنزل بولس واستلقى عليه&#8230; ثم صعد وكسر الخبز وأطعم ومكث يتكلم حتى مطلع الفجر&#8230; فأخذوا الفتى حيًا وفرحوا به فرحًا عظيمًا&#8221; (أع٢٠: ٧- ١٢).</p>
<h4>انجيل القداس</h4>
<p>وفي انجيل القداس عن ← <strong>الإبن مصدر الحياة ووحدة التدبير الإلهي للآب والأبن لأجل حياة العالم</strong> &#8220;قال لهم يسوع: أنا هو خبز الحياة من يقبل اليَّ فلن يجوع ومن يؤمن بي فلن يعطش إلى الأبد&#8230; وهذه هي مشيئة الذي أرسلني أن كل من أعطاني لا أُهلك أحداً منهم بل أقيمه في اليوم الأخير لأن هذه هي مشيئة أبي&#8221; (يو6: ٣٥- ٤٠).</p>
<h3>ملخص الشرح</h3>
<p><strong>الأبن خبز الحياة لكل الشعوب</strong></p>
<ul>
<li>أعمال الأبن ومشيئته واستعلان عدله ورحمته واستعلان خلاصه وعهده المقدس في الشعوب. (مزمور عشية وباكر والقداس).</li>
<li>سلطان الأبن في الكون. (إنجيل عشية).</li>
<li>عطايا الآب للعالم منذ الخليقة، وفي ملء الزمان استعلان الحياة الأبدية في المسيح. (انجيل باكر).</li>
<li>الإبن صخرة الكنيسة (البولس)</li>
<li>الإيمان واحد في العهدين (الكاثوليكون)،</li>
<li>غنى الآب وميراثه للعالم في المسيح (البولس) .. &#8220;البنيان معاً&#8221; (أف2: 20، 21).</li>
<li>الحياة الأبدية واستجابة الطلبات، والولادة الثانية المحررة من سلطان الخطية، والبصيرة لمعرفة الحق هي عطايا الآب لنا في المسيح. (الكاثوليكون).</li>
<li>شهادة الكنيسة للحياة الأبدية خلال الكلمة والأفخارستيا. (الإبركسيس).</li>
<li>الإبن مصدر الحياة، ووحدة التدبير الإلهي للآب والأبن لأجل حياة العالم. (إنجيل القداس).</li>
</ul>
<h3>أفكار مقترحة للعظات <strong>للأحد الثاني من الخمسين يوم المقدسة </strong></h3>
<h4>إبن الله حياتنا وخلاصنا وشبعنا وأساس حياتنا:</h4>
<ul>
<li>يُسْتَعلن إبن الله من خلال مخافته وفِي خائفيه:</li>
<li>&#8220;في مشورة المستقيمين ومجمعهم&#8221; (مزمور عشيّة).</li>
<li>&#8220;رأس الحكمة خوف الرب&#8221; (مزمور القدَّاس).</li>
<li>يُسْتَعلن وقت ضيقاتنا ومخاوفنا:</li>
</ul>
<p>&#8220;وكان البحر هائجاً وريح شديدة تهب.. فقال لهم لا تخافوا&#8221; (انجيل عشيّة).</p>
<ul>
<li>إستعلان عطايا الآب للبشرية منذ القِدَمْ:</li>
</ul>
<p>&#8220;قال لهم يسوع الحق أقول لكم ليس موسي أعطاكم الخبز من السماء بل أبي يعطيكم الخبز الحقيقي من السماء&#8221; (انجيل باكر).</p>
<ul>
<li>إستعلان الإبن صخرة الكنيسة وأساس البنيان:</li>
</ul>
<p>&#8220;مبنيين على أساس الرسل والأنبياء ويسوع المسيح نفسه حجر الزاوية وبه يتركب ًالبنيان كله معاً .. الذي فيه أنتم أيضاً مبنيون لتصيروا مسكناً لله بالروح&#8221; (البولس).</p>
<ul>
<li>إستعلان خلاص الأمم في ملء الزمان في المسيح:</li>
</ul>
<p>&#8220;إذا قرأتم معرفتي بسر المسيح ذلك الذي لم يظهر للناس في أحقاب أخر قد أعلن الآن لرسله الأطهار وأنبيائه بالروح وهو أن الأمم شركاء في الميراث وفي جسده&#8221; (البولس).</p>
<ul>
<li>إستعلان عطايا الآب لنا في المسيح (الحياة الأبديّة - إستجابة الطلبات - البصيرة والإستنارة):</li>
</ul>
<p>&#8220;إن الله قد أعطانا الحياة الأبديّة وهذه الحياة هي في ابنه .. فنحن واثقون بأنه يكون لنا جميع ما طلبناه منه.. إن ابن الله قد جاء وأعطانا بصيرة لنعرف الحق&#8221; (الكاثوليكون).</p>
<ul>
<li>إستعلان القيامة من الأموات خلال كلمة الله والإفخارستيا:</li>
</ul>
<p>&#8220;ثم صعد وكسر الخبز واطعم ومكث يتكلَّم حتي مطلع الفجر، وعند ذلك خرج ليمضي في البر فأخذوا الفتي حياً وفرحوا به فرحواً عظيماً&#8221; (الإبركسيس).</p>
<ul>
<li>إستعلان الإبن مصدر غنى وشبع وإرتواء الإنسان:</li>
</ul>
<p>&#8220;قال لهم يسوع: أنا هو خبز الحياة من يقبل اليّ فلن يجوع ومن يؤمن فلن يعطش إلى الأبد.. ومن يقبل اليَّ فلن اخرجه خارجاً&#8221; (إنجيل القدَّاس).</p>
<h4>أحد الخبز عظة عن الخبز المجاني والماء الحي</h4>
<p>مُقارنة بين: أشعياء ٥٥، كولوسي٣:</p>
<ul>
<li>بين دور الله ← في أشعياء ٥٥</li>
<li>وبين دور الإنسان ← في كولوسي ٣</li>
</ul>
<p><strong>إشعياء 55 (من آية 1- 3)</strong></p>
<ul>
<li>يدعو الله هنا الكل لوليمة الخلاص المجانية ولكنها مجانية ليست لأنها رخيصة بل لأنها لاتُقَدَّر بثمن ولايستطيع الإنسان أن يصل اليها مهما كانت امكانياته.</li>
<li>هي دعوة للكل أن يأتوا إلى &#8220;ينبوع مياه الحياة الجديدة.</li>
<li>والشيء الوحيد الذي يطلبه الله من الإنسان هو أن يأتي اليه ويرتوي مجانًا من نعمته.</li>
<li>ولماذا يتعب الإنسان في العالم للبحث عن الشبع والغنى والفرح خارج المسيح وبعيدًا عن نعمته.</li>
<li>يعلن الله هنا عن عهده الجديد مع الإنسان عهد مراحمه الالهية الذي سيستعلن بالصليب.</li>
</ul>
<p><strong>كولوسي ١:٣-</strong>٤</p>
<ul>
<li>دعوة عامة للكل، للنظر الدائم &#8220;إلى فوق&#8221; حيث المسيح القائم من بين الأموات.</li>
<li>والهدف من هذا الاهتمام بما فوق لا بما على الأرض أن يصير مع الوقت &#8220;المسيح حياتنا&#8221;.</li>
<li>واذا كان الله في إشعياء ٥٥ يدعو الإنسان العطشان إلى النظر إلى الينبوع والإرتواء منه، فإنه في كولوسي ٣ يدعو الإنسان الذي يحيا على الأرض إلى التطلع الدائم إلى السماء حيث مسيح القيامة والفطام عن الأرضيات.</li>
</ul>
<p><strong>إشعياء ٥٥: ٥،٤</strong></p>
<ul>
<li>هنا عطية العهد الجديد للشعوب الغريبة عن الإيمان، &#8220;أمة لا تعرفها -أي أن هذه الشعوب كما لو كان الله لايعرفها في رعيته في العهد القديم- ستأتي إلى المسيح والأمم التي لم تكن تعرفك ستأتي اليك&#8221;.</li>
<li>ستأتي كل البشرية إلى المسيح له المجد وإلى شريعته &#8220;شارعًا للشعوب&#8221; شريعة العهد الجديد، شريعة المحبة الالهية والحياة الجديدة.</li>
<li>وهنا أيضًا الإعلان عن قوة تأثير أولاد الله في العهد الجديد في الآخرين، وفي الوسط المحيط &#8220;أمة لا تعرفك تركض اليك من أجل الرب الهك وقدوس اسرائيل لأنه قد مجدك&#8221;.</li>
</ul>
<p><strong>كولوسي 3: 10- 15</strong></p>
<p><strong>من هو الإنسان المسيحي؟</strong></p>
<ul>
<li>هو الإنسان الجديد (بالمعمودية) الذي يتجدد دائمًا كل يوم حسب صورة خالقه (بالتوبة المستمرة).</li>
<li>هو كل انسان مهما كان جنسه أو لونه أو امكانياته.</li>
<li>هو المملوء من احشاء الرأفات والتواضع واللطف والوداعة وطول الأناة.</li>
<li>هو الذي تستعلن في حياته المحبة المسيحية والغفران واحتمال الآخرين.</li>
<li>هو من يكون عضوًا نشيطًا في الجسد الواحد.</li>
<li>هو الذي يتعلم منه الآخرين الشكر والرضى.</li>
</ul>
<p><strong>إشعياء ٥٥: ٦-١٠</strong></p>
<p><strong>دور الله في الخلاص المجاني:</strong></p>
<ul>
<li>الله قريب جداً من أولاده، وقريب من أنينهم وآلامهم واحتياجاتهم وكثير مما يحدث لي كل يوم تكون رسائل حب من الله وأنا لا أعرف &#8220;أدعوه وهو قريب&#8221;.</li>
<li>الله يقبلنا في كل وقت، ومهما كان ضعفنا البشري، ومراحمه وغفرانه بلا حدود &#8220;وليتب إلى الرب فيرحمه وإلى الهنا لأنه يكثر الغفران&#8221;.</li>
<li>ولا يستطيع الإنسان أن يدرك مدى محبة الله غير المحدودة، ومدى غفرانه الذي يفوق الإدراك كما تعلو السماء عن الأرض هكذا تعلو محبته عن ادراكنا البشري الضعيف &#8220;لأنه كما علت السموات عن الأرض هكذا علت طرقي عن طرقككم&#8221;.</li>
<li>الله يسكب كل يوم من سماه مياه الروح القدس، فتتمتع الأرض التي تقبل مياه الروح بغنى نعمته وتشبع من محبته &#8220;لأنه كما ينزل المطر والثلج من السماء ولا يرجعان إلى هناك بل يرويان الأرض ويجعلانها تلد وتنبت وتعطي زرعًا للزارع وخبزًا للآكل&#8221;.</li>
</ul>
<p><strong>كولوسي 3: 5- 9</strong></p>
<p><strong>دور الإنسان في قبول الخلاص:</strong></p>
<p>رفض كل صور وأشكال الإنسان العتيق، والابتعاد عن نجاسات العالم، وهذا يحتاج من الإنسان أن:</p>
<ul>
<li>يموت كل يوم عن شهوات العالم.</li>
<li>وعدم التشبه بأولاد العالم في الكلام القبيح.</li>
<li>وخطورة الكذب وعدم الصدق في معاملتنا اليومية.</li>
</ul>
<p><strong>إشعياء 55: 11- 13</strong></p>
<p><strong>ماهي ثمار قبول كلمة الخلاص، ودعوة الله المجانية لنا:</strong></p>
<ul>
<li>الفرح والسلام &#8220;لأنكم بفرح تخرجون وبسلام تحضرون&#8221;.</li>
<li>التعويض والغنى والإثمار &#8220;عوضًا عن الشوك ينبت سرو، وعوضًا عن القريس يطلع آس&#8221; فلا تكتفي كلمة الله بانتزاع الأشواك بل تثمر فينا بعطايا وامكانيات جديدة.</li>
</ul>
<p><strong>كولوسي 3: 16، 17</strong></p>
<p><strong>غني كلمة المسيح في حياتي:</strong></p>
<ul>
<li>تعطيني الحكمة الالهية التي لا يستطيع أن يدركها العالم.</li>
<li>تعطيني التسبيح والفرح، وتغني حياتي بنعمته.</li>
<li>تجعلني أعمل كل شئ باسمه القدوس، ومن أجل تمجيد اسمه.</li>
<li>تملأ حياتي بالشكر.</li>
</ul>
<h4>من وحي ظهورات الرب بعد القيامة</h4>
<p><strong>مريم المجدلية « دائرة الحزن ».</strong></p>
<ul>
<li>داخل دائرة الحزن تكلم المسيح له المجد مع المجدلية ولم تعرفه.</li>
<li>وداخلها تعاملت المجدلية مع المسيح له المجد على إنه إنسان عادي.</li>
<li>وأيضاً كانت تريد أن تلمسه وتعيش في الماضي، لذلك غاب عن إدراكها مجد مسيح القيامة.</li>
<li>داخل دائرة الحزن اضطر الله أن يناديها شخصيًا ليخرجها خارج آلامها وأحزانها.</li>
<li>وعندما أراد الرب أن يعزي مريم في موت لعازر أجبرها أن تخرج مسرعة من البيت لتنطلق خارج دائرة الحزن (يو١١: ٢٨ - ٢٩) .</li>
<li>من يريد أن يستغرق في -ويتغذى بأحزانه – لا يستطيع أن يستقبل تعزيات الله.</li>
<li>الحزن مثل العنكبوت ينسج خيوطه تدريجيًا إلى أن يشل كل حركات الإنسان الروحية.</li>
<li>&#8220;لا تحزنوا كالباقين&#8221; تسمح لنا بأن نحزن لكن دون يأس أو ضيق.</li>
<li>الحزن طائر يلمس رؤوسنا رغمًا عنا، ولكن نبني له عشًا بارادتنا.</li>
<li>أفضل علاج لأحزاننا الغوص في كلمة الله وخدمة المحتاجين نفسيًا وماديًا.</li>
<li>[إن حل بك حزن تعمق في قراءة الكتب المقدسة كما في خزانة الأدوية فستجد راحة من أتعابك] (القديس يوحنا ذهبي الفم).</li>
</ul>
<h3>عظات آبائية <strong>للأحد الثاني </strong><strong>(أحد الخبز)</strong><strong> من الخمسين يوم المقدسة</strong></h3>
<h4>خبزنا خبز يومي تحيا به أرواحنا لا أجسادنا - القديس اغسطينوس<a href="#_ftn3" name="_ftnref3">[3]</a></h4>
<p>إخوتي الأعزاء..</p>
<p>هذا الخبز الذي يشبع أجسادنا وينعش أبداننا كل يوم، لا يعطيه الله للذين يمجِّدونه فحسب، بل وللذين يجدفون عليه أيضاً &#8220;فإنه يشرق شمسه على الأشرار والصالحين ويمطر على الأبرار والظالمين&#8221; (مت٥: ٤٥). إنَّكم تمجِّدون الله وهو يقوتكم، إنكم تجدِّفون عليه ومع هذا يطعمكم. إنه ينتظر توبتكم، فإن لم تتغيروا فسيدينكم.</p>
<ul>
<li><strong>كلمة الله</strong></li>
</ul>
<p>هل لأن كلاً من الأشرار والأبرار ينالون خبزاً من الله، يحسبون أنه لا يوجد خبز آخر خاص يطلبه أولاد الله؟! إنه الخبزالذي يقول عنه الرب في الإنجيل: &#8220;ليس حسنًا أن يؤخذ خبز البنين ويطرح للكلاب&#8221; (مت ١٥: ٢٦). فبالتاكيد يوجد خبز آخر، وُيدعى خبزًا يومياً، لأنه ضروري كالخبز العادي، بدونه لا نستطيع أن نحيا&#8230; ألا وهو كلمة الله التي توزع يومياً!.</p>
<p>خبزنا خبز يومي، تحيا به أروحنا لا أجسادنا، ضروري لنا نحن الذين لا نزال نعمل في الكرمة. هو غذاؤنا وليس أجرتنا، فمن يستأجر عاملاً يحق عليه الغذاء الذي بدونه يخور العامل.</p>
<p>كما تحق عليه الأجرة التي بها يُسَّر العامل. غذاؤنا اليومي في هذه الحياة هو كلمة الله التي توزع على الدوام في الكنائس، أما الأجرة (المكافأة) التي ننالها بعد العمل فهي ما تدعي بالحياة الأبدية.</p>
<p>أما ما عالجته الآن أمامكم (أي شرح الصلاة الربانية نفسه) هو خبز يومي، كذلك فصول الكتاب المقدس اليومية التي تسمعونها في الكنيسة هي خبز يومي.</p>
<p>كذلك التسابيح التي تسمعونها وتمجدون بها الله هي خبز يومي. لأن هذه جميعها لازمة لنا أثناء رحلتنا.</p>
<p>ولكن هل سنسمع كلمة الله في السماء عندما نبلغها، حيث نرى الله الكلمة ذاته، ونسمع الكلمة ذاته، ونأكله ونشربه كما تفعل الملائكة ألآن؟!.. هل تحتاج الملائكة إلى كتب ومفسرين وقراء؟!</p>
<p>بالتأكيد لا. لأنهم يقرأون بالنظر.</p>
<p>إنهم يعاينون الحق ذاته، ويشبعون بغزارة من ذلك الينبوع الذي نحصل نحن على قطرات قليلة منه.</p>
<p>لذلك فإن هذه الطلبة ضرورية لنا في هذه الحياة.</p>
<ul>
<li><strong>سر الإفخارستيا</strong></li>
</ul>
<p>إن فهمتن هذا الخبز على إنه ما يأخذه المؤمنون، وما ستأخذونه اأنتم أيضاً بعد نوالكم سر المعمودية، فإنه يكون لزامًا علينا أن نسأل ونطلب &#8220;خبزنا اليومي، أعطنا اليوم&#8221; حتى نحيا حياة معينة (صالحة) ولا نحرم من الهيكل المقدس (أي من التناول من الأسرار المقدسة).</p>
<p>فهناك معنى جميل جدًا لهذه الطلبة، فإذ نطلب: &#8220;خبزنا اليومي أعطنا اليوم&#8221; نعني: أعطنا جسدك، طعامنا اليومي، لأن المؤمنين يعرفون الذين يقبلونه، وهم ينالونه لنفعهم، لازم لهذه الحياة.</p>
<p>انهم يطلبونه لأجل أنفسهم أن يصيروا صالحين، وأنً يثابروا على الصلاح والإيمان والسلوك المقدس، لأنهم إن لم يثبتوا في الحياه الصالحة يحرمون من تناول سر الافخارستيا.</p>
<p>لذلك ماذا نقصد ب &#8220;خبزنا اليومي أعطنا اليوم&#8221;؟</p>
<p>إننا نعني: إجعلنا نعيش صالحين حتى لا نُحرم من مذبحك.</p>
<p>أما عند إنهاء هذه الحياة فإننا لا نبحث عن الخبز الذي نجوع إليه ولا نأخذ من الأسرار المقدسة من على المذبح، لأننا سنكون هناك مع المسيح الذي نتناول جسده الآن. ولا تحتاجون إلى ما أحدثكم به الآن ولا يقرأ في الكتاب المقدس، إذ نعاين كلمة الله نفسه، الذي به صنعت كل الأشياء، وبه تتغذى الملائكة وتستضيء، ونصير حكماء دون حاجة إلي المناقشات المستمرة، بل يشربون من الكلمة الوحيد دون حاجة إلى المناقشات المستمرة بل يشربون من الكلمة الوحيد ،ممتلئين من ذاك الذي يسبحونه على الدوام، لأني يقول المزمور: &#8220;طوبي للساكنين في بيتك، أبدا يسبحونك&#8221; (مز٨٤: ٤).</p>
<h4>الخبز الحقيقي  - حسب تعليم العلامة أوريجانوس<a href="#_ftn4" name="_ftnref4">[4]</a></h4>
<p>أما من جهتي فسوف أتناول هذا الموضوع بشيء من الإفاضة والتفصيل، مقتفيًا أثر السيد نفسه وهو يعلمنا عن الخبز، ففي انجيل معلمنا يوحنا يوجه الرب خطابه إلى الجماهير التي أتت إليه من كفر ناحوم بحثًا عنه: &#8220;الحق الحق أقول لكم أنتم تطلبونني ليس لأنكم رأيتم بل لأنكم أكلتم من الخبز فشبعتم&#8221; (يو6: 26)، إذًا فكل من أكل من الخبز الذي باركه يسوع وشبع منه، حاول أن يدرك ابن الله أكثر من ذي قبل، وأن يسرع اليه، ولهذا كانت وصية الرب التي تدعو إلى الإعجاب: &#8220;أعملوا لا للطعام البائد بل للطعام الباقي للحياة الأبدية الذي يعطيكم ابن الانسان&#8221; (يو6: 27). والذين كانوا يسمعون هذا الحديث، عندما سألوه قائلين: ماذا نفعل حتى نعمل أعمال الله؟.. أجاب يسوع وقال لهم: هذا هو عمل الله أن تؤمنوا بالذي هو أرسله (يو6: 28 وما بعدها). والآن هوذا الرب قد أرسل كلمته وشفاهم، أى المرضى كما جاء في المزامير (مز106: 20).</p>
<p>فالذين يؤمنون بالكلمة يفعلون أعمال الله لانه هو الخبز الباقي الذى للحياة الأبدية، ويقول أيضًا: وأبي يعطيكم الخبز الحقيقي من السماء لأن خبز الله هو النازل من السماء الواهب حياة للعالم (يو6: 32، 33). هذا الخبز الحقيقي هو الغذاء الكامل للإنسان الأمين المخلوق على صورة الله (تك1: 26 وما بعدها؛ كو3: 9 وما بعدها) وبفضل هذا الخبز الذى يتغذى به يصير إلى صورة الله الذي خلقه.. وهل هناك ما يفوق الكلمة غذاء للروح؟!.. لا يوجد ما يفوق حكمة الله قيمة للعقل الذي يدركها، وليس هناك ما هو أجدر من الحق تجاوبًا مع الطبيعة العقلية.</p>
<p>ولرُبَّ معترضٍ يقول: إذا كان المسيح يوصينا أن نطلب الخبز الجوهرى جدًا ، فلماذا ترك الفرصة سانحة لنا أن نفهمه على أنه نوع آخر من الخبز؟.. ولا بد لنا أن نلاحظ في حديث الرب في إنجيل القديس يوحنا أنه يتكلم أحيانًا عن الخبز بإعتباره شيئا آخر غير المسيح نفسه، بينما في آيات أخرى يصرح فيها بأن هذا الخبز هو ذات المسيح.</p>
<p>ولنأخذ مثالًا للنوع الأول: موسى أعطاكم خبزًا من السماء، ليس الخبز الحقيقي، بل أبي يعطيكم الخبز الحقيقي من السماء (يو6: 32)، ولكن عندما طلب إليه البعض: أعطنا في كل حين هذا الخبز، أجابهم مشيرًا إلى ذاته قائلًا: أنا هو خبز الحياة من يقبل اليَّ فلا يجوع ومن يؤمن بي فلا يعطش أبدًا (يو6: 35). وبعد ذلك بقليل يقول: أنا هو الخبز الحي الذي نزل من السماء، إن أكل أحد من هذا الخبز يحيا إلى الأبد. والخبز الذي أنا أعطي هو جسدى الذي أبذله من أجل حياة العالم (يو6: 51).</p>
<p>والكتاب المقدس يشير دائمًا إلى الطعام بكلمة &#8220;الخبز&#8221; كما يتضح مما كتب عن موسى أنه لم يأكل خبزًا أو يشرب ماءً طوال أربعين يومًا (يو 6: 52).</p>
<p>وغذاء الكلمة متعدد متنوع ومتفاوت لأنه لا يستطيع كل إنسان أن يأكل الطعام القوي الصلب الذي يعطيه التعليم الالهي، ولهذا فقد أراد المخلص أن يعطي طعام الرياضيين لمن يتفوقون في الكمال، فيقول: والخبز الذي أنا أعطي هو جسدي الذي أبذله من أجل حياة العالم (تث9:9). وبعد ذلك يقول: إن لم تأكلوا جسد ابن الإنسان وتشربوا دمه فليس لكم حياة فيكم. من يأكل جسدي ويشرب دمي فله حياة أبدية وأنا أقيمه في اليوم الأخير، لأن جسدي مأكل حق ودمي مشرب حق. من يأكل جسدي ويشرب دمي يثبت فيَّ وأنا فيه. كما أرسلني الآب الحي وأنا حي بالآب، فمن يأكلني فهو يحيا بي (يو6: 54- 57).</p>
<p>هذا –إذًا- هو الطعام الحقيقي: جسد المسيح الذي وهو الله الكلمة صار جسدًا حسب المكتوب &#8220;والكلمة صار جسدًا&#8221; وعندما نأكله ونشربه يسكن في وسطنا. وعندما يُقَسَّم ويُوزَّع يتم المكتوب: ورأينا مجده (يو1: 14). لأن هذا هو الخبز الذي نزل من السماء، ليس كما أكل آباؤكم وماتوا. من يأكل هذا الخبز يحيا إلى الأبد (يو6: 59).</p>
<p>ويتحدث معلمنا بولس أيضًا عن الطعام مع أهل كورنثوس الذين كانوا مازالوا أطفالًا سالكين حسب الإنسان فيقول: سقيتكم لبناً لا طعامًا لأنكم لم تكونوا بعد تستطيعون بل الآن أيضًا لا تستطيعون لأنكم بعد جسديون (1كو3: 2، 3).</p>
<p>وفي رسالته إلى العبرانيين يقول: وصرتم محتاجين إلى اللبن لا إلى طعام قوي لأن كل من يتناول اللبن هو عديم الخبرة في كلام البر لانه طفل. وأما الطعام القوي فاللبالغين الذين بسبب التمرن قد صارت لهم الحواس مدربة علي التمييز بين الخير والشر (عب5: 12- 14).</p>
<p>وفي رأيي أن قول الرسول: واحد يؤمن أن يأكل كل شيء ولكن الضعيف يأكل بقولاً (رو14: 2). لا يقصد في الأصل طعام الجسد بل لعله يقصد كلمة الله التي تعطي غذاء الروحة (مت4:4؛ تث8: 3)، فالمؤمن الحقيقي الناضج يستطيع أن يأكل كل شيء كما يتضح من قوله: إن واحدًا يؤمن أن ياكل كل شيء، أما الضعيف والناقص فيقنع ويكتفي بالتعاليم البسيطة التي لم تبلغ من القوة ما يملأه غيرة وحماسة، ولعل معلمنا بولس كان يضع مثل هذاالإنسان نصب عينيه وهو يقول: أما الضعيف فيأكل بقولاً.</p>
<p>وما قاله سليمان في الأمثال، أعتقد إنه يعلمنا أن الإنسان الذى - بسبب بساطته ولكن دون أفكار شريرة - لا يستطيع أن يستوعب المبادئ الهامة والتعاليم القوية، إنما يحتل وضعًا أفضل ومكانة أرقى من إنسان آخر يفوقه كفاءة وذكاء وإدراكًا للأمور لا لشيء إلا لأن الأخير لايستطيع أن يستشعر الوحدة أو نعمة السلام في هذا الوجود، فهو يقول: أكلة من البقول حيث تكون المحبة (والنعمة) خير من ثور معلوف ومعه بغضة (أم15: 17).</p>
<p>فالسخاء البسيط المقتصد ولكنه يقدم بضمير صالح، كثيرًا مايروق لنا ونستمتع به أكثر من الضيف الذي يحتفي بنا ولكنه لا يستطيع أن يقدم أكثر من هذا؛ أحاديث جزلة ورصينة ولكنها تحاك ضد معرفة الله، وتدار المناقشة بإحكام وإقناع لتوحي إلينا بتعاليم غريبة تغاير وتتنافر مع ناموس أبي ربنا وإلهنا يسوع الذي أعطانا الناموس والأنبياء (2كو10: 5؛ مت5: 17).</p>
<p>إذًا فلكى لا تصاب أرواحنا بالعلل والأسقام بسبب افتقارها إلى الطعام، ولكى لا نموت لله بسبب الجوع إلى كلمة الله (عا8: 11؛ رو14: 8)، علينا أن نسأل الآب من أجل الخبز الحى، الخبز الجوهري جدًا حتى نسلك في الطاعة لتعاليم مخلصنا الصالح، وحتى نحيا حياة أفضل في إيمان أعظم.</p>
<h4>الخبز السماوي - القديس غريغوريوس النيصي<a href="#_ftn5" name="_ftnref5">[5]</a></h4>
<p>وتوجد حقيقة أخرى لا يجب أن نعبر أمامها، وهي أنه بعد عبور البحر، وبعد أن صارت المياه حلوة لأولئك الذين يتقدمون فى الفضيلة، وبعد تلك الإقامة المؤقتة السعيدة بالقرب من ينابيع الماء وأشجار النخيل، وبعد أن شربوا من الصخرة، حدث عجز فى المؤن التى أخذوها معهم من أرض مصر (خر6: 2-3) وحينما أصبح لا يوجد لديهم أى شىء باقيًا من الطعام الغريب الذي أحضروه من أرض مصر، عندئذ أنزل الله اليهم طعامًا من السماء مختلفا عن طعامهم وإن كان يبدو أنه يشبهه ولكنه كان يختلف عنه في النوع. وكان هذا الطعام معدًا لإشباع كل أحد على حدة.</p>
<p>هناك درس يجب أن نتعلمه هنا، وهو أنه يجب أن نتخلص أولًا من الشر الذى هو أكل المصريين لكى نعد أنفسنا لنكون أطهارًا لنأخذ الخبز النازل من السماء،</p>
<p>هذا الخبز باق من غير بذور أو أي عمل من أعمال التربة الأرضية، فهو يأتي بلا زرع أو حصاد.</p>
<p>وهذا الخبز يوجد على الأرض ولكنه نازل من السماء،</p>
<p>وخلال هذا الرمز المعطى لنا فى هذه النصوص نستطيع أن ندرك الخبز الحقيقي.</p>
<p>لأن الخبز النازل من السماء هو خبز روحي، فكيف يصير الروحى غذاء جسديًا؟</p>
<p>إن جوهر هذا الخبز لم يأت من الحرث والزرع ومع هذا فإن الأرض تعطي من هذا الخبز السماوي الذي يأكل منه كل من هو جوعان.</p>
<p>هذه المعجزة تعلمنا سر التجسد الإلهي من العذراء القديسة مريم التي ولدت المسيح الكلمة بدون زرع بشر. لأن هذا الخبز الذى لم يأت من الأرض هو المسيح كلمة الله الذي يعمل بدرجات مختلفة من الكمال فى أولئك الذين يقبلونه وهو طعام قوي حي لكل من يتناول منه.</p>
<p>وهذا ما يعلمنا إياه بولس الرسول أن هذا الخبز هو مثل المائدة المعدة لكل أحد يتناول منها كل أحد حسب قدرته وإيمانه واستعداده يعمل فيه هذا الطعام &#8220;واحد يؤمن أن يأكل كل شىء وأما الضعيف فيأكل بقولًا&#8221; (رو14: 2) ويقول أيضا &#8220;وصرتم محتاجين إلى اللبن لا إلى طعام قوي لأن كل من يتناول اللبن هو عديم الخبرة فى كلام البر لأنه طفل، وأما الطعام القوي فللبالغين الذين بسبب التمرن قد صارت لهم الحواس مدربة على التمييز بين الخير والشر&#8221; (عب5: 12-13).</p>
<h4>معنى خبز الحياة - للقديس كيرلس الأسكندري<a href="#_ftn6" name="_ftnref6">[6]</a></h4>
<ul>
<li>في غباوة شديدة تفترضون أن المن هو الخبز النازل من السماء، بالرغم من أن المن قد أطعم جنس اليهود فقط في البرية، بينما يمتد العالم بأمم أخرى لا حصر لها&#8230; لكن حين أشرف زمان الحق على أبوابنا، &#8220;أبي يعطيكم الخبز الحقيقي الذي من السماء&#8221;، والذي كانت عطية المن ظلًا له في القديم. فهو يقول: لا يظن أحد أن ذاك المن كان بالحق هو الخبز من السماء، بل بالأحرى لصالح هذا الخبز القادر أن يطعم الأرض كلها، ويمنح العالم ملء الحياة.</li>
</ul>
<p>المن الحقيقي هو المسيح ذاته، مُدركًا باعتبار أن الله الآب قد أعطاه تحت رمز المن للذين كانوا في القديم.</p>
<p>&#8220;وخبز السماء أعطاهم، أكل الإنسان خبز الملائكة&#8221; (مز78: 24).. واضح للجميع أنه لا يوجد خبز وطعام للقوات العقلية في السماء سوى ابن الله الآب الوحيد. إذن فهو المن الحقيقي، والخبز الذي من السماء لكل الخليقة العاقلة الذي يعطيه الله الآب.</p>
<p>يعدنا المسيح أن يهبنا الطعام الذي من السماء، أي التعزية بواسطة الروح، أعني المن الروحي. بهذا بالمن نتقوى على احتمال كل مشقةٍ وعزمٍ، وإذ نحصل عليه لا نسقط بسبب عجزنا في تلك الأمور التي ينبغي إلا ننحدر إليها.</p>
<p>كان الأجدر بهم أن يعرفوا أن موسى قد جلب فقط خدمة الوساطة، وأن العطية لم تكن من صنع يدٍ بشريةٍ، بل هي من عمل النعمة الإلهية، فتضع الروحي داخل إطار مادي كثيف، وعبَّر لنا عن الخبز الذي من السماء، الذي يعطي حياة لكل العالم، ولا يُطعم جنسًا واحدًا فقط.</p>
<ul>
<li>بينما كان مخلصنا المسيح وبكلمات كثيرة - إن جاز للمرء أن يقول - يجذبهم بعيدًا عن التصورات الجسدانية، وبتعليمه الكلي الحكمة يحلق في التأمل الروحي، فإنهم لا يبتعدون عن منفعة الجسد. وإذ يسمعون عن الخبز الذي يعطي حياة للعالم يصورون لأنفسهم خبز الأرض &#8220;لأن إلههم بطنهم&#8221; (في3: 19)، كما هو مكتوب. وإذ ينهزمون بشرور البطن يستحقون سماع القول: &#8220;مجدهم في خزيهم&#8221;.</li>
<li>الآن أنا حاضر أحقق وعدي في حينه. &#8220;<strong>أنا هو خبز الحياة</strong>&#8220;، ليس خبزًا جسدانيًا، فهو لا يسد الإحساس بالجوع فقط، ويحرر الجسم من الهلاك الناشئ عنه، بل يعيد تشكيل كل الكائن الحي بأكمله إلى حياة أبدية. ويصير الإنسان الذي خلقه ليحيا إلى الأبد سائدًا على الموت.</li>
</ul>
<p>يشير بهذه الكلمات إلى الحياة والنعمة التي ننالهما بواسطة جسده المقدس، الذي به تنتقل خاصية الابن الوحيد هذه، أي الحياة.</p>
<ul>
<li>حينما دُعينا إلى ملكوت السماوات بالمسيح - لأن ذلك حسب ظني هو ما يشير إليه الدخول إلى أرض الموعد، فإن المن الرمزي لم يعد بعد يخصنا، لأننا لسنا نقتات بعد بحرف موسى، بل لنا الخبز الذي من السماء، أي المسيح، هو يقوتنا إلى حياةٍ أبديةٍ، بواسطة زاد الروح القدس، كما بشركة جسده الخاص، الذي يسكب فينا شركة الله، ويمحو الموت الذي حلّ بنا من اللعنة القديمة.</li>
<li>إني اتفق معكم أن المن قد أُعطي بواسطة موسى، لكن الذين أكلوا آنذاك جاعوا. وأقر معكم أنه من جوف الصخرة خرج لكم ماء، لكن الذين شربوه قد عطشوا، وتلك العطية التي سبق الحديث عنها لم تعطهم سوى تمتعًا مؤقتًا، لكن &#8220;<strong>من يقبل إليَّ</strong> <strong>فلا يجوع، ومن يؤمن بي فلا يعطش أبدًا</strong>&#8220;. ما الذي يعد به المسيح إذن؟ إنه لا يعد بشيءٍ قابلٍ للفساد، بل بالأحرى بذلك السرّ -الألوجية- في شركة جسده ودمه الأقدسين، فيستعيد الإنسان بكليته عدم الفساد، ولا يحتاج أبدًا إلى أي شيء من تلك التي تدفع الموت عن الجسد، أعني الطعام والشراب. إن جسد المسيح المقدس يعطي حياة لمن يكون الجسد فيهم، فيحفظهم كلية في عدم فساد، إذ يختلط بأجسادهم، لأننا ندرك أنه ما من جسدٍ آخر سوى جسده له الحياة بالطبيعة، هذا الذي لا يعادله جسد آخر.</li>
<li>إذ نقترب إلى تلك النعمة الإلهية والسماوية، ونصعد إلى شركة المسيح المقدسة، بذلك وحده نقهر خداع الشيطان. وإذ نصبح شركاء الطبيعة الإلهية (2 بط 1: 4) نرتفع إلى الحياة وعدم الفساد.</li>
<li>الابن وحده وبحق هو خبز الحياة، والذين اشتركوا فيه مرة واختلطوا به بطريقة ما من خلال الشركة معه فقد ظهر أنهم فوق رباطات الموت نفسه. وقد سبق أن قلنا مرارًا أن المن يؤخذ بالأحرى كرمزٍ أو ظلٍ للمسيح، وكان يمثل خبز الحياة، ويسندنا المرتل في هذا صارخًا بالروح: &#8220;أعطاهم خبزًا من السماء، أكل الإنسان خبز الملائكة&#8221; (مز78: 24، 25).. هنا الكلام موجه لنا نحن، لأنه أليس من الحماقة والجهل الشديد أن يفترض أن الملائكة القديسين الذين هم في السماء، بالرغم من أن لهم طبيعة غير جسدية، يمكنهم أن يشتركوا معنا في طعامٍ ماديٍ كثيفٍ؟.</li>
</ul>
<h3>عظات آباء وخدّام معاصرين <strong>للأحد الثاني من الخمسين يوم المقدسة</strong></h3>
<h4>خبز الحياة - لقداسة البابا تواضروس الثاني<a href="#_ftn7" name="_ftnref7">[7]</a></h4>
<p><strong>(يو 6: 35- 45)</strong></p>
<p><strong>المسيح هو خبز الحياة: </strong></p>
<ul>
<li>في كلمته ينبوع روح وحياة، وفى جسده مأكل للحياة الأبدية.</li>
<li>وخبز السماء هو زاد للسماء وليس زاداً للأرض.</li>
<li>في جوع الجسد يؤكل الخبز لنواصل مسيرة الحياة،</li>
</ul>
<p>في جوع الروح ندعوا المسيح إلى مسيرتنا اليومية لنشبع به.</p>
<p><strong>استخدام الخبز في العبادة</strong> له تاريخ في الكتاب المقدس، ومن أهم محطَّاته:</p>
<p>١- ملكى صادق وتقدمته من الخبز والخمر (شكر لله).</p>
<p>٢- مائدة خبز الوجوه وهى رمز الشركة بين الله وشعبه في خيمة الإجتماع أي كنيسة البرية.</p>
<p>٣- خبز البواكير (بواكير الأرغفة) وهى أبكار الغلات ومذكورة في (خر ٢٣) وترمز للاعتراف بالجميل لله.</p>
<p>٤- الفطير بدون خمير مع خروف الفصح.</p>
<p>٥- الخبز المتحول إلى جسد المسيح وهو سرّ وحدة المؤمنين.</p>
<p><strong>ما هو الخبز: </strong></p>
<ol>
<li>هو هبة من الله &#8220;بِعَرَقِ وَجْهِكَ تَأْكُلُ خُبْزًا حَتَّى تَعُودَ إِلَى الأَرْضِ الَّتِي أُخِذْتَ مِنْهَا&#8221; (تك٣: ١٩).</li>
<li>ضرورة للحياة &#8220;الْمُنْبِتُ عُشْبًا لِلْبَهَائِمِ، وَخُضْرَةً لِخِدْمَةِ الإِنْسَانِ، لإِخْرَاجِ خُبْزٍ مِنَ الأَرْضِ، وَخَمْرٍ تُفَرِّحُ قَلْبَ الإِنْسَانِ، لإِلْمَاعِ وَجْهِهِ أَكْثَرَ مِنَ الزَّيْتِ، وَخُبْزٍ يُسْنِدُ قَلْبَ الإِنْسَانِ&#8221; (مز١٠٤: ١٤، ١٥).</li>
<li>وسيلة للمشاركة: حياة الشركة والصداقة (عيش وملح كتعبير عن قوة العلاقة).</li>
<li>واجب ضيافة: صديق نصف الليل وإقراضه ٣ أرغفة للضيافة.</li>
<li>طقس ليتورجى (سرائري): كسر الخبز (الإفخارستيا) حيث أعطى المسيح التلاميذ الخبز الذى هو جسده.</li>
<li>كلمة الله: &#8220;هُوَذَا أَيَّامٌ تَأْتِي، يَقُولُ السَّيِّدُ الرَّبُّ، أُرْسِلُ جُوعًا فِي الأَرْضِ، لاَ جُوعًا لِلْخُبْزِ، وَلاَ عَطَشًا لِلْمَاءِ، بَلْ لاسْتِمَاعِ كَلِمَاتِ الرَّبِّ&#8221; (عا ٨: ١١). وأيضاً  في (مت٤: ٤) &#8220;فَأَجَابَ وَقَالَ: مَكْتُوبٌ: لَيْسَ بِالْخُبْزِ وَحْدَهُ يَحْيَا الإِنْسَانُ، بَلْ بِكُلِّ كَلِمَةٍ تَخْرُجُ مِنْ فَمِ اللهِ&#8221;.</li>
</ol>
<p><strong>يقبل ويشبع</strong></p>
<p>في (يو6: ٣٥) &#8220;قَالَ لَهُمْ يَسُوعُ:</p>
<p>أَنَا هُوَ خُبْزُ الْحَيَاةِ (مُعطى الحياة) مَنْ يُقْبِلْ إِلَيَّ فَلاَ يَجُوعُ (الشبع بالمسيح)، وَمَنْ يُؤْمِنْ بِي فَلاَ يَعْطَشُ أَبَدًا (الإرتواء بالمسيح).</p>
<ul>
<li>الجوع يحتاج الشبع به، بالمجئ إليه من خلال قراءة الكتاب المقدس والتقدم للأسرار المقدسة (الإعتراف والتناول).</li>
<li>العطش يحتاج الارتواء به، أي الإيمان به بالوقفة المقدَّسة في الصلاة والتسبيح، وبالأعمال المقدَّسة في الخدمة والرحمة &#8220;طُوبَى لِلْجِيَاعِ وَالْعِطَاشِ إِلَى الْبِرِّ (المسيح)، لأَنَّهُمْ يُشْبَعُونَ&#8221; (مت ٥: ٦).</li>
</ul>
<p>في (ع ٣٧): &#8220;كُلُّ مَا يُعْطِينِي الآبُ فَإِلَيَّ يُقْبِلُ، وَمَنْ يُقْبِلْ إِلَيَّ لاَ أُخْرِجْهُ خَارِجًا&#8221;.</p>
<p><strong>ولكن كيف نُقبل؟ </strong></p>
<p>١- <strong>نُقبل بالإيمان العامل</strong> مثال: اللص اليمين الذى آمن فصار المسيح له رباً وملكاً وقدوساً.</p>
<p>٢- <strong>نُقبل بالتوبة والرجاء</strong> مثال: الابن الضال - بطرس الرسول.</p>
<p>٣- <strong>نُقبل بالزيت في آنيتنا</strong>: وهى ثمار الروح في حياتنا.</p>
<p>٤- <strong>نُقبل حاملين الصليب</strong> مثل: لعازر المسكين أمام الغنى المُتكبِّر.</p>
<p>٥- <strong>نُقبل وقد تاجرنا بالوزنات</strong>، وهكذا نسمع القائل: &#8220;اُدْخُلْ إِلَى فَرَحِ سَيِّدِكَ&#8221; (مت ٢٥: ٢١).</p>
<h4>خبز الحياة - للمتنيح الأنبا أثناسيوس مطران كرسي بني سويف والبهنسا<a href="#_ftn8" name="_ftnref8">[8]</a></h4>
<p><strong>(6: 30- 40)</strong></p>
<p>تكلم السيد هنا عن أنه خبز الحياة النازل من السماء وبدأ كلامه عن الخبز يأخذ وضعًا ماديًا. وتدريجيًا تقدم الكلام عن الجسد حتى صار اصرارًا على أنه جسد حقیقي يؤكل للحياة الأبدية.</p>
<p>وتقدم الكلام على المراحل أربع، هذا الجزء أولها وكل جزء منها ينتهي بشقاق بين سامعيه. وكان الشقاق يزداد من مرحلة إلى أخرى، وهو ثابت على اصراره.</p>
<p>طلب الجموع منه آية تنزل من السماء شبيهة بالمن الذي نزل أيام موسی. ويقال أنه كان عند اليهود اعتقاد أن المسيا متى جاء يأتيهم بخبز من السماء شبيه بالمن القديم، ولذلك تكلموا معه بهذا الكلام، فطلبوا منه آية من السماء (6: ۳۰) مثل المن الذي نزل أيام موسى إلى آبائهم فأكلوا منه طوال أربعين عامًا، ولما قال لهم &#8220;خبز الحياة هو النازل من السماء الواهب حياة للعالم&#8221; فرحوا وقالوا &#8220;يا سيد أعطنا في كل حين هذا الخبز&#8221;.</p>
<p>قال لهم أنه هو الخبز المقصود. وتكلم معهم عن الإيمان به والشبع الروحي به حتى لا يجوع الإنسان ولا يعطش ولا يخرج خارجًا (6: ۳۷) وهو خبز لا يتلف (6: ۳۹) فيسوع المسيح خبز الحياة الروحية، وهو خبز دائم لأنه الله.</p>
<p>ليس كل غذاء الناس على الخبز، فالشمس والهواء تعطي حياة للناس، والنشاط والحركة يعطيان حياة &#8220;والذين نظروا وجهه استناروا ووجوههم لم تخجل&#8221; و&#8221;نحن جميعا ناظرین مجد الرب بوجه مكشوف كما في مرآة نتغير إلى تلك الصورة عينها من مجد إلى مجد كما من الرب الروح&#8221; (۲کو۱۸:۳) فالجلوس في حضرة الرب مصدر غذاء. وكأنما في الروح تتغذى الكائنات منه، مثلما نشحن بطارية بتوصيلها بمصدر الشحن. فرب المجد هو فعلًا خبز الحياة، الذي نزل إلى الأرض بصورة جسدية، وهو غذاء النفوس وشبعها.</p>
<p>لكن الجموع بدأت تدرك كيف أنه يقصد جسده ماديًا وبدأت تتذمر.</p>
<p><strong>(٦: ٤١-٥١)</strong></p>
<p>علم يسوع بتذمرهم، وقال لهم ألا يتذمروا فيما بينهم، لأن الإيمان به أيضًا عمل من الروح القدس &#8220;ليس أحد يقدر أن يقول يسوع رب ألا بالروح القدس&#8221; (1كو ۳:۱۲) وحينئذ يكون متعلمًا من الله.</p>
<p>والذين أكلوا المن ماتوا أيضًا. وأما من يأكل الرب يسوع فلا يموت، ثم تقدم نحو الإيضاح والتحديد فقال &#8220;والخبز الذي أنا أعطي هو جسدي الذي أبذله من أجل حياة العالم&#8221;.</p>
<p><strong>(٦: </strong><strong>52</strong><strong>- ٥٩)</strong></p>
<p>كانت نهاية المرحلة الأولى تذمرًا، وانتهت الثانية بمخاصمة (6: ٥٢) ولو كان الكلام معنويًا لما حدث هذا التحدي في هذه المرحلة الثالثة الذي وصل أقصاه.</p>
<p>تكلم عن جسده أنه يؤكل فعلًا وزاد على ذلك أن دمه أيضا شراب حقیقي وقال &#8220;إن لم تأكلوا جسد ابن الإنسان وتشربوا دمه فليس لكم حياة فيكم&#8221;. ولاشك أن الكلام هنا معنوي عن الإيمان بالخلاص ومادي عن تناول جسد الرب ودمه &#8220;لأن جسدي مأكل حق ودمي مشرب حق&#8221;.</p>
<p><strong>(٦: ٦٠-٧١)</strong></p>
<p>وفي نهاية المرحلة الثانية وصل التذمر إلى التلاميذ فقال كثيرون منهم أن هذا الكلام صعب، ولا يستطيع الناس أن يسمعوه، فقال لهم:</p>
<p><strong>( أ )</strong> هذا الكلام روحي. ويجب أن نفكر فيه روحيًا وليس معنى ذلك أنه ليس كلامًا عن مادة الجسد. لأن الكلام عنها روحي وليس أرضيًا. فالكلام عن الجسد حقیقي ولكنه روحي ولايفهم بالفكر الذي يعجز عن فهم أي حقيقة من حقائق المسيحية. فالتجسد والفداء والقيامة وحلول الروح القدس كلها حقائق روحية مادية. ومن يفكر فيها بغير الروح ينكرها.</p>
<p><strong>( ب )</strong> ولكن التفكير الروحي والهبة التي يهبها الله لأبنائه ليدركوا الحقائق الإيمانية يجعلان الإنسان يزداد إيمانًا وتمسكًا بالمسيحية.</p>
<p><strong>( ج )</strong> ثم أن كل ذلك ازداد وضوحًا للتلاميذ بعد قيامة الرب، فإن كثيرًا من الكلام لم يفهموه إلا بعد القيامة &#8220;فلما قام من الأموات تذكر تلاميذه أنه قال هذا..&#8221; (يو۲: ۲۱)</p>
<p><strong>(٦: ٦٦-٧١)</strong></p>
<p>وقد فهم التلاميذ تمامًا أنه لايقصد بهذا الكلام أن ينقض كونه كلام عن جسد حقیقي. ولهذا رجع كثيرون إلى الوراء ولم يعودوا يمشون معه (6: 66) ولكن كلام السيد للباقين كان أشد من الكلام الذي سبق، فإنه تحداهم وتمسك بحرفيته وقال للأثنی عشر &#8220;ألعلكم أنتم أيضًا تريدون أن تمضوا&#8221; (6: ٦٧).</p>
<p>انتقل السيد في هذا الحديث عن جسده من خطوة إلى خطوة فبين أن الإيمان به هو المعنى الأول. كما أنتقل من مرحلة إلى أخرى فبين جسده مادي فعلًا ويؤكل فعلًا. ومهما ترکه عدد من الجموع أو التلاميذ لم يتحول عن قصده.</p>
<p>&#8220;يا رب إلى من نذهب كلام الحياة الأبدية عندك. ونحن قد آمنا وعرفنا أنك المسيح ابن الله الحي&#8221; (٦-٦٩).</p>
<h4>الأحد الثانى من الخماسين المقدسة - للمتنيح القمص لوقا سيداروس<a href="#_ftn9" name="_ftnref9">[9]</a></h4>
<p><strong>(يو ٦: ٣٥– ٤٥)</strong></p>
<p><strong>خبز الحياة</strong></p>
<p>يسوع المسيح الذى تقدمه الكنيسة في إنجيل هذا الصباح هو خبز الحياة.</p>
<p>إن القيامة والحياة مترادفات متلازمات.. فالمسيح القائم من الأموات صار قيامتنا نحن الذين كنا أمواتاً بالخطايا.. فأقامنا معه، وهكذا صار لنا حياة بعد زمان موت. فالمسيحى الحقيقي هو الذى يحيا بذاته، بل يحيا بالمسيح &#8220;لي الحياة هي المسيح&#8221;. وهذه الحياة التي لنا في المسيح هي حياة جديدة. كما يسميها القديس بولس الرسول: &#8220;جدة الحياة&#8221;. هي غير الحياة القديمة التي قبل قيامة المسيح..</p>
<ul>
<li><strong>خبز الحياة:</strong></li>
</ul>
<p>هذه الحياة الجديدة التي دخلت إلى عالمنا، وأظهرت لنا بعد أن كانت عند الآب وفيه.. الحياة بحسب المسيح. أو حياة المسيح كما نراها في الإنجيل، هي التي وهبها لنا المسيح بقيامته، بجسده الحيّ.. وإن كنا نَعلَّم أن كل ما عمله المسيح له المجد عمله لحسابنا. فبالأولى جداً تكون قوة القيامة لنا ونحن في شدة إحتياجنا، إذ كنا جالسين في الظلمة وظلال الموت.</p>
<p>المسيح هنا لا يعطي وصايا. لم ينفع الذين سمعوها من قبل. المسيح لا ينادي بمبادئ وشعارات يظل سامعوها في عجزهم لا يستطيع أحد أن يحقق شيئاً منها.</p>
<p>ولكن المسيح اليوم يعطي نفسه.. يعطى حسب القائم من الأموات الواهب حياة أبدية.</p>
<p>المسيح اليوم يعطي قوة قيامته ونصرته على الموت ليس بالكلام، ولا بالعظات، ولا بالوصايا، ولكن يقدمه خبز حياة لمن يريد أن يأكل الحياة ويرتبط بها إلى الأبد..</p>
<p>المسيح يقدم الحياة الأبدية التي فيه لكي تدخل في الإنسان فلا يموت، ولا يقوى عليه قوة الموت ولا خوفه.. يقدم الحياة الأبدية مأكل حق ومشرب حق. هنا يبدو واضحاً أن ما يقدمه المسيح القائم من الموت يختلف إختلافاً جذرياً عن كل ما قدمه الأنبياء والأباء قديماً لأن المسيح يقدم ذاته.</p>
<p><strong>كيف يعطينا جسده لنأكله</strong></p>
<p>ما أعجب الرافضين لسخاء نعمة ربنا وكرم محبته. فبدلًا من أن يمجدوه كإله، حمقوا في ذهنهم.</p>
<p>هكذا خاصم اليهود بعضهم بعضاً قائلين: &#8220;كيف يقدر هذا أن يعطينا جسده لنأكله؟&#8221; مع المسيح الحيّ القائم من الأموات لا يوجد مكان لكلمة كيف.. فإلهنا إله المستحيل لأن كل شيء مستطاع لديه..</p>
<p>هل من المعقول أن نقارن الروحيات ونحكم عليها بالجسديات؟..</p>
<p>إن الروح يفحص كل شيء، والروحاني يحكمه في كل شيء.. أما الجسديون فيعثرون في فخاخ وشكوك للهلاك..</p>
<p>إيماننا بالمسيح مبنى على ثقتنا الكاملة في قدرته الإلهية غير المحدودة.</p>
<p>يسوع المسيح قال: &#8220;الخبز الذى أنا أعطي هو جسدي الذى أبذله&#8221;.</p>
<p>يسوع المسيح قال لجماعة اليهود: &#8220;إن لم تأكلوا جسد إبن الإنسان وتشربوا دمه فليست لكم حياة..&#8221;.</p>
<p>يسوع المسيح قال للتلاميذ: &#8220;خذوا كلوا هذا هو جسدي&#8221;.</p>
<p>ماذا بعد ذلك.. هل نقول مع جماعة اليهود كيف؟..</p>
<ul>
<li><strong>ليس كما أكل آباؤنا المن في البرية وماتوا: </strong></li>
</ul>
<p>الآباء الأولين أكلوا الطعام الروحي.. المن السماوي.. أكلوه جسدياً. إذ كانوا خاضعين للجسد ومحصورين فيه.. فلم يفدهم شئ، بل طرحت جثثهم في القفر، وبأكثرهم لم يسر الله.</p>
<p>المسيح يريدنا اليوم أن نتفاعل معه، ونقترب إلى خبز الحياة بروح الإيمان لنناله كل يوم جديداً من على المذبح. ونلتقط بكيل الروح، الذى لا يقاس بمقاييس العالم ما يكفي لحياتنا، ونحن نسلك في برية وقفار هذا العالم في مسيرتنا نحو كنعان ميراثنا الأبدي.</p>
<p>أكل الفصح كان لآبائنا إحتماء من موت المهلك.</p>
<p>وأكل المن كان لحفظ حياتهم في برية مميته، وجفاف رهيب.</p>
<p>وأكلنا من جسد المسيح ليس لحماية حياة جسدية، بل لإستبقاء حياة أبدية، وسؤال ضمير صالح أمام الله.</p>
<ul>
<li><strong>كلما أكلتم من الخبز تخبرون بموت الرب وتبشرون بقيامته . </strong></li>
</ul>
<p>هكذا نردد في القداس.. فأكلنا من خبز الحياة يتحول فينا إلى قوة موت، وقوة حياة.. موت عن العالم، موت عن الشهوات.. إن أعثرتك عينك، أو يدك، أو رجلك، إقلعها أو إقطعها، إنها قوة الصليب.. قوة رهيبة للكف عن الشر.. أحسبوا أنفسكم أمواتاً عن الخطية.</p>
<p>وأيضاً قوة حياة جديدة.. فالمسيحية ليست أن تكف عن الشر في سلبية، بل أن نعمل بقوة بحسب روح القيامة في إيجابية لم يعرفها العالم.</p>
<p>معنى التبشير بقيامة المسيح يكون على نفس مستوى عطاء المسيح في بذل ذاته وكسر جسده من أجل الآخرين.. فكلما أكلنا خبز الحياة، خبز القيامة، حصلنا على قوة الكرازة بموت المسيح وقيامته، ليس بالكلام، ولكن بالعمل والحق.. أي تصير فينا إمكانية أن نموت من أجل كل أحد، ونبذل أنفسنا في حب، مذبوح كل يوم. وكلما بذلنا أنفسنا لنموت من أجل الآخرين، نقام بالأكثر بقوة قيامة مذهلة.</p>
<p>وهكذا تتجدد حياتنا كل يوم في موت وبذل، ثم قيامة بقوة أعظم.</p>
<ul>
<li><strong>الإتحاد بالله: </strong></li>
</ul>
<p>إن غاية المسيح عندما أعطانا لنأكل، هي أن نتحد به ونصير واحد معه، فتسري فينا قوة قيامة إلى أبد الآبدين.. لا يقوى علينا موت فيما بعد.. فالتناول من جسد المسيح يوحدنا فيه بروح قيامته.. بدون أكل جسد المسيح لا يصير إتحاد بالمسيح.. بل إن اشتراكنا في جسد المسيح الواحد كخبز حياة هو التفسير العملي لوحدانيتنا كأعضاء بعضنا لبعض.. إذ تسرى فينا عصارة حياة واحدة في المسيح يسوع.</p>
<h4>الأسبوع الثانى من الخماسين المقدسة .. للمتنيح القمص بيشوي كامل<a href="#_ftn10" name="_ftnref10">[10]</a></h4>
<p><strong>(</strong><strong>يو٦: ٥٤– ٥٨)</strong></p>
<p><strong>بسم الآب والآبن ىالروح القدس الإله الواحد آمين.</strong></p>
<p><strong>الرب يسوع هو خبز حياتنا</strong></p>
<p>قراءات هذا الأسبوع .. امبارح والنهاردة وبكرة كلها من إنجيل معلمنا يوحنا الإصحاح السادس، وطبعاً الكنيسة أختارت بحكمة وبإرشاد الروح القدس هذه القراءات علشان تكون موضوع حياة الكنيسة في الأسبوع الثاني من القيامة المقدسة.</p>
<p>الموضوع  كله يا أحبائي بيدور حول القيامة ولكن زى ما أحنا اتكلمنا مرات كثيرة.. ليست القيامة هي قيامة الأجساد في اليوم الأخير التي من أجلها جاء المسيح.. ولكن القيامة هو إن ربنا شاف إن الجنس البشرى ساقط، وضعيف.. ضعيف جداً.. فجه علشان يقيمه، من أجل ذلك معلمنا يوحنا الحبيب في سفر الرؤيا يقول: &#8220;مبارك ومقدس من له نصيب في القيامة الأولى&#8221;.</p>
<p>المسيح جه علشان خاطر نعيش قيامتنا الأولى اللى مش ممكن يكون للموت الثاني  سلطان علينا.</p>
<p><strong>القيامة جسد مكسور</strong></p>
<p>القيامة الثانية ها تكون سهلة جداً، ده لأننا مش هنخاف الموت لأننا غلبناه في شخص المسيح &#8220;مبارك ومقدس من له نصيب في القيامة الأولى&#8221;.. فإحنا النهاردة ده نصيبنا في المسيح يسوع اللى اخذناه في قيامته المقدسة. كقول معلمنا بولس الرسول &#8220;أنه أقامنا معه&#8221;. ومن العلامات أو من الوسائل المهمة جداً لإختبار القيامة في حياتنا الحاضرة موضوع التناول من جسد ربنا ودمه.</p>
<p>علشان كدة الكنيسة خلت الأحد الثاني، أو الأسبوع الثاني كله بيتكلم عن موضوع  التناول من الجسد والدم.</p>
<p>هو ده أول موضوع تعرضه  الكنيسة  لينا في أسابيع  القيامة المقدسة؟.. قال آه.. هو ده أول موضوع. لأن الجسد المكسور هو بنفسه الجسد واهب الحياة.. علشان خاطر ما يبقاش الناس تتكلم كلام نظري عن قيامة المسيح. يبقى قدامنا القيامة أهي على المذبح جسد حيّ مكسور ولكنه حيّ. خروف كأنه مذبوح. خذوا كلوا وخذوا أشربوا.</p>
<p><strong>التناول اختبار لقوة القيامة</strong></p>
<p>&#8220;من يأكل جسدي ويشرب دمي يحيا إلى الأبد&#8221;.</p>
<p>فإحنا بنختبر القيامة  في التناول. علشان كدة الكنيسة بترتب وتقول: [كلما أكلتم من هذا الخبز وشربتم من هذه الكأس تبشرون بموتي وتعترفون بقيامتي، وتذكروني إلى أن أجئ].. فأصبح التناول من جسد الرب ودمه اختبار لقوة القيامة.. واختبار للحياة في مجئ المسيح الثاني رغم الفوارق الزمنية، لكن في المسيح ليس هناك زمن.</p>
<p>باقول الأصحاح السادس.. حتى لو كان هذا الكلام فيه تكرار.. بس علشان نربط الإصحاح السادس من إنجيل معلمنا يوحنا ده عايز يتقري على المهل. فالمسيح الأول ابتدأ يإشباع الجموع أكِّل الخمسة آلاف، طبعاً كانت المعجزة قوية. إذا كان هو يقدر يأكل الخمس آلاف بكلمة بسيطة، أو بصلوة صغيرة على الأكل، فإذا هو يقدر يعطي الحياة. بس حياة إيه؟ ما يأكلوا، بعدما أكلوا عايزين كل يوم من ده. وبعدين ربنا حب يوريهم إن الأكل اللى حصل امبارح وضخامة المعجزة إنه لما أكل الخمسة آلاف ممكن دى بالنسبة للإنسان البشرى تتنسى في ثواني. ده الإنسان يشوف معجزات لربنا وينسى. خلى بالك مش دى معجزة الإنسان. فركبهم السفينة، وهاج البحر، وصرخوا وقالوا ها نغرق وبتاع. قال لهم أنا هو لا تخافوا.. واتضح إن المعجزة ماعملتش حاجة في حياتهم الداخلية. ماغيرتش حاجة.. آدى الناس.. الناس اللى بتجري وراء المعجزات الخارجية.</p>
<p>ما قيمة المعجزة بالنسبة للإنسان المسيحي؟!.. فين معجزته؟ قالوا آه إحنا عندنا معجزة. بعديها على طول ابتدأوا يتكلموا عن المن اللى نازل من السماء. قالوا ده كان معجزة أكثر.. يعني كونك أكلت.. أكلت ٥٠٠٠ لكن المن ده كان حاجة كل يوم.. كل يوم.. كل يوم.. أربعين سنة. فقال لهم وبرضه بعد الأربعين سنة حصل إيه؟ قالوا ماتوا.. فقال صحيح الأكل من السماء لكن في الآخر ماتوا. ومن هنا دخل بقى وقال لهم هاديكم بقى أكلة اللى هاتديكم كيان وأبدية.. آدى الإصحاح السادس من أوله لآخره.</p>
<p>فابتدأ يكلمهم عن جسده ودمه اللى ها يكسره.. طبعاً بيقول الكتاب المقدس شوف بقى الناس كانت ٥٠٠٠ (ما عدا النساء والأطفال) بيتفرجوا على المعجزة، والمن في ذهن كل واحد يهودي. لما كلمهم عن الأكلة اللى بحقيقي جسد ربنا ودمه، الكل أنصرف من وراه، فبص وراه.. فلم يجد غير الأثنى عشر فقال لهم أتريدون أنتم أيضاً أن تمضوا.. مع السلامة.. إذا كنتم كمان عايزين. لأن أنا لازم أتكلم عن الحق.. وإذا كان الحق صعب لكن لازم أتكلم عنه، فطبعاً ردوا ردهم السريع «بدون أن يعرفوا لأن الروح لم يكن قد حل بعد» &#8220;إلى من نذهب وكلام الحياة عندك&#8221;.. فده هيكون موضوع القداس بكرة. إن الحياة فعلاً اللي هي القيامة قدمت لينا كل يوم على المذبح علشان مافيش حد يقول عايز أختبر القيامة في حياتي.</p>
<p><strong>القيامة فرجة أم اختبار</strong>..وطبعاً من يستحق أن يأكل من جسد الرب ودمه؟!.. مش الإنسان البار.. لكن الإنسان المحتاج اللى شاعر بضعفه قدام ربنا اللي جاي ويعترف بزلاته، اللي بيموت مع المسيح يستحق أن يأكل الجسد الحي فينال حياة أبدية.</p>
<p>أختارت الكنيسة النهاردة الجزء الوسطانى ده بتاع السفينة. علشان تعمل كدة .. يعنى زى ماتقول .. مقدمة لطيفة لبكرة. لما نقدم جسد ربنا ودمه فكلمهم وقال لهم أحسن تخرجوا بنتيجة مهمة: <strong>القيامة اختبار مش فرجة.</strong> فيه فرق بين فرجة، وفيه فرق بين الأختبار. إشباع الخمسة الآف دى فرجة كنتوا.. كنتوا بتعملوا إيه أنتم؟ قالوا كنا بنتفرج. كنا مبسوطين جداً.. قال لا.. فرق بين الأختبار الشخصي. وفى فرق بين الفرجة. علشان كده مش كل واحد قرأ عن المسيح أو اتفرج على الحاجات الحلوة اللى في تاريخ الكنيسة.. وعن الكنيسة الجميلة وحاجتها الحلوة، والحاجات دي، ماختبرهاش في حياته العملية يبقى ما استفادش حاجة. فقال لهم فيه فرق في القيامة بين الفرجة  وبين الأختبار. يعنى إيه؟..</p>
<p>يعنى المسيح اللى قام من بين الأموات ده حاجة مدهشة.. حاجة مدهشة.. فإذا كنت إنت بتتفرج على المسيح وهو داخل كدة بالجسد بتاعه، وتقول كدة.. يا سلام.. أهو كدة ولا بلاش! كسر القبر وقام.. وفيه فرق بين الفرح دخل قلب التلاميذ، يقول: &#8220;ففرح التلاميذ إذ رأوا الرب&#8221;.. وفيه فرق أن توما يحط ايده مطرح الجروح ويقول ربى والهي.. فأصبحوا شهود حقيقين بقيامة المسيح . فالقيامة تكون حقيقية في حياتهم.</p>
<p><strong>التناول إختبار شخصى أو هو المعجزة الحقيقية</strong></p>
<p>في الحقيقة احنا بنختبر هذا في سر التناول. لأن سر التناول مش ممكن يكون فرجة. معجزة الخمسة آلاف دي فرجة. لكن سر التناول ده اختبار شخصي. وما فيهوش حاجة فيها شكل. يعني العرض كدة: زي ٥٠٠٠ وتأكلهم، والأكل يزيد ويبتدوا يلموا أكوام من العيش. لكن أراد المسيح يقول إن أنا جاي أعمل المعجزة الحقيقية مش أأكل الخمسة آلاف. جاي أغيَّر حياة الإنسان من جوه.. جاي أدِّي له حياة. أهي ده المعجزة.</p>
<p>مش المعجزة يقوم الميت أو يأكل الخمسة آلاف. دى كانت معجزة للناس البدائيين، لكن المعجزة الحقيقية أن يقدم جسده ودمه حياة للإنسان. وإنما يغير حياة الإنسان من جوه. هو ده الأختبار اللى إحنا بنتكلم عليه. علشان كدة أحنا بنعتبر إذا قالوا لك في معجزة الأيام دي؟ ما سمعتش عن معجزة مارجرجس اللى حصلت في ميت دمسيس؟ ومعجزة العذراء اللى حصلت معرفش فين؟ والمعجزة اللى حصلت فين؟ جميل جداً.. لأن الله ممجد في قديسيه. الله هو أمس واليوم وإلى الأبد. وهو صانع المعجزات العظام، ويصنع المعجزات مع غير المؤمنين أيضاً عن طريق الكنيسة..الخ.</p>
<p>لكننا نعيش معجزتنا القوية  في المذبح.. وبنعيش معجزتنا القوية.. بص إزاي.. فيه تغيير حياتنا من جوه. يعني أنت بينك وبين نفسك كل ما تلاقى حياتك الداخلية تتبني وتتغير وبتقوم مع المسيح آهي دي معجزاتك الداخلية.</p>
<p>إحنا موضوعنا النهاردة في: القيامة في الواقع.. معجزتنا في القيامة.. إن التلاميذ.. المسيح حطهم في موقف صعب. دخلهم السفينة.. ودخلوا في المركب.. وكانت الدنيا ظلمة. وبعد ما كانت الدنيا ظلمة هيج كمان البحر.. شوف بقى من كل ناحية. وبعدين بقوا في وسط البحر. فبقى فيه خوف، وبعدين في فجر القيامة ده بالنسبة للتلاميذ يعني: وهم في البحر رأوا يسوع ماشياً فلاقاهم بيرتعشوا كده بياخافوا. مش هو نفس المنظر وهم موجودين جوه العلية والأبواب مغلقة وكان يسوع داخل؟!..</p>
<p>هو يسوع  ماشي على المية يعنى إيه؟ ما هو ماشي على المية ده وضع غير عادي.. يعني داخل من باب مقفول. هو الوضع الطبيعى  أن يسوع يلحقهم أنه كان يركب مركب ويمشي وراهم ويكون أسرع منهم ويقول لك &#8220;ولم تكن هناك إلا مركب واحدة&#8221; فركبها التلاميذ. ماكنش فيه غير مركب واحدة. ففيه إحتمال حتى يكون عندهم أمل ويقولوا إن ممكن يسوع يلحقنا في السكة بمركب.. ويقول لك: فلم يكن هناك إلا مركب واحدة اللي ركبها التلاميذ ونزلوا بيها البحر ماكنش فيه مراكب فأصبح الأمل مقطوع زي ما دخل للتلاميذ والأبواب مغلقة.</p>
<p>يا سلام على نفسيه الإنسان الغلبان اللى ما اختبرش القيامة.. خايف.. يا ريت خايف وبس.. ميت من الخوف. والخوف في الواقع ينتهى باليأس والفشل. طبعاً ما تستعجبش لو أنت عرفت النهاردة في القرن العشرين اللى إحنا فيه الخوف هو المرض الرئيسي.. وبعدين فيه أنواع مختلفة من الخوف. لكن أخطر الأنواع اللى ما لهاش سبب. إن الإنسان تلاقيه خايف من نفسه لدرجة إن فيه ناس من كتر الخوف تلاقيهم يقفلوا على نفسهم. ما يحبوش يقابلوا الناس، ولا يقابلوا المجتمع اللى بره ويخافوا.. المسيح جه يقول لا.. بالنص كدة.. يقول: &#8220;يا أصدقائي لا تخافوا&#8221;. من إيه يا رب؟.. قال: &#8220;لا تخافوا من الذين يقتلون الجسد&#8221;. قال إذا إنت ها تدافع عننا لو الناس الوحشين هجموا علينا علشان يهينوا أجسادنا أو يسيئوا إلينا. قال لا.. يسلمونكم إلى مجامع وها تستشهدوا من أجل اسمي.. قالوا أمَّال إنت قلت لا تخافوا ليه؟ إحنا في عُرفِّنا إن إنت لما تقول &#8220;لا تخافوا&#8221; يعني تحمينا. يعني لما نقول للأقباط اللى في مصر دول: &#8220;لا تخافوا&#8221; فمعناها إنت تبقى مسئول عن حمايتنا. ولما تقول لي أنا كإنسان  في مشكلة &#8220;لا تخاف&#8221; تبقى مسئول عن حمايتي. لكن تقول لى &#8220;لا تخاف&#8221; وتسيب المشكلة بره زي ما هيه!!. قال آه لأن الناس فاهمة غلط. فاهمة إن الخوف بيجى من بره ويكبس على الإنسان.. لا..  الخوف طالع من قلب الإنسان.. كلام صعب ده. اتنين في موقف معين.. واحد خايف وواحد مش خايف. أمَّال المسيح جه علشان يعمل إيه؟!.. قال يشيل الخوف ده على طول. دخل والأبواب مغلقه فرآهم إيه؟!!.. خايفين. قال لهم الخوف يعني الموت. وقبليها بيعبر عنه إنه كانت الدنيا ظلمة.</p>
<p>المسيح هو نور.. وهو الإيمان والشجاعة. وعايزك تتخيل معايا التداميذ.. المسيح يطرد الخوف. تتخيل التلاميذ قبل قيامة المسيح كان شكلهم إيه؟ منتهى الخوف.. بطرس أنكر وسب ولعن.. وتوما شك.. ومرقس قلع الجلابية اللى عليه ومشى عريان وهرب.. وكل واحد مات في جلده وقفلوا الأبواب.. والأبواب مغلقة دخل المسيح. لما دخل المسيح إداهم قوة داخلية.. المشكلة مش مشكلة  الترابيس اللى حطينها في الأبواب، دي مش مشكلة. المشكلة إن أنتم فيه خوف من جوه. فأنا جاي أشيل الخوف واحط قيامة مطرحها. فالخوف يتحط مطرحه القيامة.</p>
<p><strong>الفرق بين الحيرة واليأس</strong></p>
<p>هي دى القصة اللى تعرضها لنا الكنيسة النهاردة علشان نشم فيها ريحة القيامة. دخل السفينة وكانت الدنيا ظلمة وهاج البحر. كل دي عوامل خارجية. فإبتدأت العوامل الخارجية تمس نفسية الإنسان من جوه: يسوع جاي يقول أنا هو القيامة.. جه ماشي على الميه، يعني جه والأبواب مغلقه ما فيش أمل للمجئ خالص.. وجه علشان خاطر يشيل الخوف ده من جوه. تقول لي لكن الخوف ده طبيعتنا كبشر. إزاي ها تشيل الخوف ده؟ لا مش الخوف اللى طبيعتنا كبشر. بولس الرسول يدينا تعبير جميل في رسالته لكورنثوس الثانية يقول: متحيرين في كل شيء لكن غير يائسين. عاوز يقول إن فيه حاجة إسمها الحيرة.. وفى حاجة اسمها اليأس والفشل.. الحيرة دي أي واحد يقع في مشكلة يحتار يحلها إزاي يعملها إزاي؟ آهي دي الحيرة. لكن هل الإنسان وهو في وسط الحيرة دي يتطرق اليأس إلى حياته الداخلية فيفشل؟! أهو ده اللي عاوز يقوله بولس الرسول متحيرين كبشر زي أي إنسان.</p>
<p>يعني المسيح ما جاش يعلمنا نوعية أخرى غير بقية الناس، قال: &#8220;لا&#8221;. إحنا زى بقية الناس بالضبط لكن اليأس مهما بلغ درجة كبيرة مش مفروض إن هو يفقد الإيمان في حياة الإنسان. مهما الدنيا تظلّم لابد أن فجر القيامة قرب كتير.. علشان كدة ربنا قال: &#8220;أنا هو&#8221; بس ما فيش أكثر من كدة. &#8220;أنا هو&#8221;. طب وأنت يا يسوع لما تيجي في حياتنا.. قال: &#8220;أنا هو القيامة&#8221;، هاتخافوا ليه؟ إنتم  كنتم بتخافوا من شوية عساكر. إن كنت إنت يا بطرس بتخاف من جارية  لأنى ممكن الجارية دى تمرمطك تبهدل بيك الدنيا. وكنت يا توما شاكك، وكنتم خايفين من اليهود لحسن يقدموكم للمحاكمة. لأن ما دام أخذوا الريس بتاعكم يبقى الدورعليكم بس بعد الفصح واحتفالاته لما تنتهي.. أكيد ١٠٠٪ هيجرجروا التلاميذ  ويحاكموهم، كل واحد كان ماشي مع يسوع عارفينهم بالأسم.. ها يجيبوهم  ويعملولهم محاكمة، لأن دول إيه.. أتباع الراجل اللى عمل الثورة دي واللى هم انتصروا عليه بالموت.</p>
<p>فالخوف جه من بره. فبولس الرسول يقول أنا اختبرت.. اختبرت الحاجات دي كثير.. يقول في رسالته الثانية لكورنثوس الإصحاح الأول.. يقول: إحنا في آسيا أننا تثقلنا فوق الطاقة حتى يئسنا من الحياة.. ماكنش فيه أمل.. يئسنا من الحياة، ما كانش يائس من رحمة ربنا.. يائس من الحياة.. ما كانش فيه أمل للحياة. إذ كان فينا حكم الموت، لأن أقصى درجات الضيق  في العالم هي الموت. لكي لا نكون متكلين على أنفسنا بل على الله الذى يقيم من الأموات. عايز يقول إن أنا وصلت في حياتي لدرجة من الضيق والألم.. ده هو بولس بيقول كدة لغاية خلاص قلت مفيش أمل في الحياة &#8220;إذ كان فينا حكم الموت&#8221;. أنا شايف الموت وهو بيخبط فيّ لكي لا نكون متكلين على أنفسنا بل على الله الذي يقيم من الأموات. طبعاً ده مش موضوعنا إن إحنا نشرح حياة بولس الرسول.. أد إيه شاف الضيق في السجن.. وأد إيه شافه من اليهود. وأد إيه انكسرت بيه السفينة. وهواتجلد من اليهود ثلاث مرات واتعمل فيه حاجات كثيرة خالص.</p>
<p><strong>الرجاء في المسيحية</strong></p>
<p>يبقى.. إذاً في المسيحية يا أحبائى مفيش حاجة أسمها يأس. في حاجة أسمها قيامة. حتى ولو هاج البحر.. طيب لو حتى مافيش أمل ده إحنا في مركب صغنتوتة، وهو فيه جوه بحر كبير.. طب وايه يعني يسوع يجي ماشي على الميه ويدخل من الأبواب المغلقة.. تقول لى مافيش سفينة أقول لك يدخل والأبواب مغلقة.. يدخل ويقول &#8220;أنا هو&#8221;.. وساعة لما يقول لك &#8220;أنا هو لا تخافوا&#8221; يقول لك إن إيه.. السفينة راحت على البر على طول. فبولس الرسول أختبر ضيقات كثيرة وإدالنا الاختبار ده، قال &#8220;من جهه الضيقة التي أصابتنا في أسيا إننا تثقلنا جداً فوق الطاقة حتى يئسنا من الحياة إذ كان فينا حكم الموت لكى لا نكون متكلين على أنفسنا بل على الله الذى يقيم من الأموات&#8221;.. ويبقى أشطب كدة على كلمة يأس وفشل.</p>
<p><strong>الفشل هو بداية القيامة</strong></p>
<p>رجع تاني في رسالة إلى رومية.. بيقول إيه.. &#8220;إذا لا نفشل&#8221;.. في حاجة اسمها فشل. طب والفشل ده يا بولس بتعتبره إيه؟ قال الفشل ده في عُرفي أنا ده هو بداية القيامة. يقول كدة في الآية &#8220;إذا لا نفشل&#8221; بل وإن (كان كل العوامل اللي حوالينا) إنساننا الخارجي يفنى الداخل يتجدد يوماً فيوماً&#8221;. فبولس الرسول عايز يقول كدة بجانب اليأس والفشل والضيق الخارجي لا بد أن يتبعه من الداخل بناء داخلى أيضاً. من بره يحصل فناء ومن جوه تحصل قوة. وفيه ناس كثيرة تبص تلاقيهم بعد الضيقة وبعد التجربة بيختبروا ربنا في حياتهم، وبيختبروا قوة كبيرة جداً ويقول إحنا شفنا ربنا في حياتنا وهو أقامنا من ضعفنا.</p>
<p>إنساننا الخارجي يفنى طبعاً.. كل العوامل اللى بره بتهدد الإنسان الخارجي. حتى من الناحية الصحية.. بكرة الواحد يعجز، وبكرة يتعب.. وبكرة أسنانه تقع.. وبكرة&#8230;.الخ.. حتى من الناحية الصحية، ولكن شبابه الداخلى يتجدد يوماً فيوماً.</p>
<p><strong>حياة التجديد المستمر</strong></p>
<p>لذلك يا أحبائي كان الأباء القديسين لا يشيخوا أبداً، بالعكس كلما كانوا يكبروا، كلما كان جسمهم كدة يصغر وينحنوا.. كلما كانوا يزدادوا قوة وشباب من الداخل.. ليه؟ لأن قوة القيامة هي اختبارهم كل يوم. اللطيف في تعبير بولس الرسول إنه يقول: &#8220;إن كان إنساننا الخارجي يفنى فالداخل يتجدد&#8221;. ما وقفش عند كلمة يتجدد، قال يتجدد يوماً فيوماً. يبقى اختبار القيامة ده يبقى يوم ويخلص! قال لأ.. كل يوم.. والفشل يبقى كل يوم والقيامة تكون كل يوم.. والحيرة كل يوم.. وعدم اليأس والقيامة كل يوم..</p>
<p>إذاً إحنا عايزين النهاردة كدة اختبارنا في عشيتنا النهاردة إننا نشطب على كلمة الفشل وكلمة اليأس. مافيش حاجة أبداً اسمها فشل ويأس. لكن فيه حاجة اسمها قيامة متجددة كل يوم.. كل يوم.</p>
<p>ادخل إلى مخدعك وصل لأبيك الذى يرى في الخفاء. بنورك يا رب نعاين النور.. كل وقفة قدام ربنا بنأخد قوة منه.. تعال اعترف واتناول.. كل أكلة من جسد ربنا ودمه بتجدد دمك، وبتجدد حياتك، وبتجدد شبابك.. افتح كتابك المقدسك واقرأ.. كلما تهضم الآيات اللي فيه كلما تتغذى على كلمة ربنا.. فتحيا بكلمة الله.</p>
<p>الإنسان كزهرعشب.. كزهر الحقل.. الحقل جف. والزهر فنى جماله، أما كلمة الرب فتثبت إلى الأبد. الكتاب المقدس يقول كدة. عيش على كلمة ربنا.. اهتم دايماً بحياتك الداخلية إنك تعيش القيامة وتختبرها وتتجدد يوماً فيوماً.. إنسانك الداخلي.. الإنسان الجديد الذى ولد في المعمودية يتجدد في المعرفة وفى القداسة حسب صورة خالقه.. كل يوم.. أما كلمة الفشل دي فنقول إن هي طبعاً هي بداية  القيامة. أما اليأس فمالهوش في منهجنا المسيحى مكان. إحنا حطينا كلمة تانية بداله حطينا كلمة في الكتاب المقدس اسمها الرجاء.. الرجاء.. والرجاء ده يوصينا به بولس الرسول ويقول &#8220;يثبت فيكم الإيمان والرجاء والمحبة&#8221;. والرجاء يشطب على اليأس خالص. وما فيش يأس في حياتنا وما فيش فشل.</p>
<p>يرجع تاني في رسالته لغلاطية يوصينا يقول اعملوا الخير كثير.. اثبتوا في المسيح.. إذاً لا نفشل في عمل الخير.. في صنع الخير لأننا سنحصد في حينه إن كنا لا نكل. اعمل خير دايماً.. تعمل خير إيه؟! ده بيقولوا &#8220;اتقى شر من أحسنت إليه&#8221;.. تعمل خير إيه؟ ده.. اللى بنعمل فيه خير بعد كدة بيدير الخير ده عليك شر. اعمل خير.. لا تفشل.. الرسول بيقول كدة: &#8220;لا نفشل في عمل الخير&#8221;.. لا نفشل والنتيجة: &#8220;سنحصد في حينه إن كنا لا نكل&#8221;. فالمسيحية لا تعرف الكلل، لا تعرف اليأس. لكن تعرف الحياة التي تقوم مع المسيح كل يوم.</p>
<p>إذا كان بولس الرسول في رسالته لكورنثوس يقول &#8220;نموت كل يوم&#8221;.. وفى رسالته لرومية يقول نموت كل النهار يعنى عمال يموت كل النهار وكل اليوم. فكل النهار وكل اليوم معناها فيه قيامة كل اليوم وكل النهار. القيامة أصبحت حياته، والموت عن العالم اصبح حياته يختبر الموت.. يختبر الضيق.. ويختبر المشاكل يختبر الأبواب المغلقة.. يختبر الظلمة بتاعة البحر. ويختبر هيجان الأمواج.. ويختبر يسوع ماشياً أيضاً لكى يقول: &#8220;أنا هو القيامة&#8221;.</p>
<p><strong>القيامة هي عدم الفشل</strong></p>
<p>فهو ده الدرس اللى قدمته لنا الكنيسة النهاردة في الإنجيل بتاع العشية.. إن القيامة هي عدم الخوف.. والقيامة هي عدم اليأس.. والقيامة هي عدم الفشل.. والقيامة هي إن المسيح حي في أجسادنا إذا وصلت للموت.. موت حتى الخطية. يقول معلمنا بولس الرسول &#8220;إذا كان روح الذى أقام يسوع من الأموات ساكناً فيكم فالذى أقام يسوع سيحيي أجسادكم الميتة بروحه الساكن فيكم&#8221;. حتى لو كنت فشلت في الجهاد ضد الخطية.. أو ذقت محبة العالم، فتأكد بإيمانك إن ربنا بروحه الساكن فيك ها يقيمك.</p>
<p>يؤكد معلمنا بولس الرسول إن اللى أقام المسيح من الأموات.. هو هو الذى سيقيمنا بقوته لأننا أعضاء جسم المسيح. فإن القيامة دي اللي بتتكلموا عنها. أنا عضو في جسم المسيح القائم من الأموات. فكيف؟.. هل ممكن إن المسيح يموت مرة ثانية؟! أنا عضو في جسمه فلا يمكن أبداً أن المسيح يموت مرة تانية لأن الموت اللى ماته المسيح ماته مرة، والقيامة اللى قامها مرة. ولا يمكن أن يمسك المسيح من الموت ولا يموت مرة ثانية. ونحن أعضاء في جسده القائم من الأموات. سنظل أحياء وسوف لا يكون للموت الثاني سلطان علينا.</p>
<p>فتدريبنا النهاردة يا أحبائي هو أن لا فشل ولا يأس.. لا في مشاكلنا المادية.. ولا في جهادنا الروحي.. لكن فيه قيامة حتى لو وصلنا لدرجة الموت.. فالله  قادر أن يقيمنا من الأموات.</p>
<p>لإلهنا المجد دائماً أبدياً آمين.</p>
<hr />
<p><a href="#_ftnref1" name="_ftn1">[1]</a>  كتاب تجسد الكلمة - أثناسيوس الرسولي - مجلة مرقس ١٩٩٥ ص ٢٤</p>
<p><a href="#_ftnref2" name="_ftn2">[2]</a>  تفسير سفر التكوين – ص 55 – القمص تادرس يعقوب ملطي.</p>
<p><a href="#_ftnref3" name="_ftn3">[3]</a>  كتاب الصلاة الربانية - للقديس أغسطينوس - صفحة ٢١ - القمص تادرس يعقوب ملطي.</p>
<p><a href="#_ftnref4" name="_ftn4">[4]</a>  الصلاة للعلامة أوريجانوس - صفحة ٧٩ - تعريب القس موسي وهبة - كنيسة مار جرجس خمارويه.</p>
<p><a href="#_ftnref5" name="_ftn5">[5]</a>  كتاب من مجد الي مجد - للقديس غريغوريوس النيصي – صفحة 65 - ترجمة القمص إشعياء ميخائيل - كنيسة الملاك بالظاهر.</p>
<p><a href="#_ftnref6" name="_ftn6">[6]</a>  كتاب تفسير انجيل يوحنا - الاصحاح السادس - القمص تادرس يعقوب ملطي.</p>
<p><a href="#_ftnref7" name="_ftn7">[7]</a>  كتاب المنجلية القبطية الأرثوذكسية - صفحة ٣٩٥ - البابا تواضروس الثاني.</p>
<p><a href="#_ftnref8" name="_ftn8">[8]</a>  تفسير إنجيل يوحنا - صفحة ١٥١ - الأنبا أثناسيوس مطران كرسي بني سويف والبهنسا - إصدار لجنة التحرير والنشر بمطرانية بني سويف.</p>
<p><a href="#_ftnref9" name="_ftn9">[9]</a>  كتاب تأملات روحية في قراءات أناجيل آحاد السنة القبطية – صفحة 355 - المتنيح القمص لوقا سيداروس.</p>
<p><a href="#_ftnref10" name="_ftn10">[10]</a>  كتاب عظات مضيئة معاشة - صفحة 350 - إصدار مطرانية ملوي وأنصنا والأشمونين.</p>

      {% endcreateArticleAccordions %}
    </section>
  {% endblock %}
