---
layout: 'layouts/reading.html'
title: 'يوم الأثنين من الأسبوع الثاني للخماسين المُقَدَّسَة'
tags: 'pentecost'
permalink: /articles/pentecost/2-1.html
---
  {% block content %}
    <section id="readings">
      <ul>
      {% if 'undefined' != 'undefined' %}
      
      {% else %}
      {% if '19.27:13-14' != 'null' %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">العشية</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeVespers '19.27:13-14' '40.14:23-33' %}
          </div>
        </div>
      </li>
      {% endif %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">باكر</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeMatins '19.112:4,6,7' '40.8:23-27' '' %}
          </div>
        </div>
      </li>
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <h3 class="flex items-center justify-between">
            <span class="kufi">القداس</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </h3>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeLitugy '45.1:1-4' '62.1:1-7' '44.4:1-4' '19.70:5' '43.3:31-36' %}
          </div>
        </div>
      </li>

      {% endif %}
        </ul>
    </section>
    <section id="article">
      <h3 class="mt-8 mb-4 heading-explain">شرح القراءات</h3>
      {% createArticleAccordions %}
        <h3>الإيمان وكلمة الحياة</h3>
<p>تتكلم قراءات هذا اليوم عن <strong>الإيمان وكلمة الحياة</strong> .. فالإيمان بالخبر، والخبر بكلمة الله التي تحمل حياة الله وبشارة الخلاص للبشرية المائتة والمتعبة والمضطربة.</p>
<p></p>
<h4>المزامير</h4>
<p>تتكلم المزامير عن <strong>استعلان بشارة الخلاص ونور الحياة الجديدة</strong> ..</p>
<ul>
<li>في <strong>مزمور عشية</strong> يتكلم عن ← <strong>اليقين من ظهور الحياة الجديدة:</strong></li>
</ul>
<p>&#8220;وأنا أؤمن أني أعاين خيرات الرب في أرض الأحياء&#8221; (مز26: 13).</p>
<ul>
<li>وفي <strong>مزمور باكر</strong> عن ← <strong>طبيعة النفوس التي تحيا في نور الحياة الجديدة</strong> المستقيمين والصديقين<strong>:</strong></li>
</ul>
<p>&#8220;نُورٌ أَشْرَقَ فِي الظُّلْمَةِ لِلْمُسْتَقِيمِينَ&#8221; (مز١١١: 4).</p>
<ul>
<li>وفي <strong>مزمور القداس</strong> عن ← <strong>الإحتياج لنور الحياة الجديدة</strong>:</li>
</ul>
<p>&#8220;أنْتَ مُعينِى ومُخلِّصِى يَا ربُّ فَلا تُبْطِئ. أمَّا أنَا فمِسْكينٌ وفَقِيرٌ. اللَّهمَّ أعِنِّى&#8221; (مز ٦٩ : ٥ )</p>
<p></p>
<h4>الإنجيل</h4>
<ul>
<li>وفي <strong>انجيل عشية </strong>عن ← <strong>الإيمان بكلمة الحياة</strong> التي تجعل الانسان يصير أقوى من الطبيعة سواء كانت رياح الطبيعة الهائجة أو رياح النفس المضطربة &#8220;فَنَزَلَ بُطْرُسُ مِنَ السَّفِينَةِ وَمَشَى عَلَى الْمَاءِ إِلَى يَسُوعَ وإذ رَأَى الرِّيحَ خَافَ.. فَللْحَالِ مَدَّ يَسُوعُ يَدَهُ وَأَمْسَكَه.. وَلَمَّا رَكَبَ السَّفِينَةَ سَكَنَتِ الرِّيحُ&#8221; (مت١٤: ٢٩- ٣٢).</li>
<li>وفي <strong>انجيل باكر</strong> يؤكد على ← <strong>فعل كلمة الابن المحيية</strong> &#8220;فقال لهم لماذا أنتم مرتاعون يا قليلي الإيمان. وحينئذ قام وانتهر الرياح والبحر فحدث هدوء عظيم&#8221; (مت٨: ٢٦)،</li>
</ul>
<p>وكما يقول أحد القديسين أن الرب هَدَّأَ نفوس التلاميذ أكثر مما هَدَّأَ الرياح والبحر.</p>
<p></p>
<h4>البولس</h4>
<p>وفي البولس عن ← <strong>كلمة الحياة المعلنة في الكتب المقدسة</strong> &#8220;بولس عبد يسوع المسيح المدعو رسولاً المفرز لإنجيل الله الذي سبق فوعد به أنبيائه في الكتب المقدسة عن ابنه&#8221; (رو١: ١- ٣).</p>
<p></p>
<h4>الكاثوليكون</h4>
<p>وفي الكاثوليكون عن ← <strong>إستعلان كلمة الحياة</strong> وبداية شركة البشرية مع الثالوث &#8220;اَلَّذِي كَانَ مِنَ الْبَدْءِ، الَّذِي سَمِعْنَاهُ، الَّذِي رَأَيْنَاهُ بِعُيُونِنَا، الَّذِي شَاهَدْنَاهُ، وَلَمَسَتْهُ أَيْدِينَا، مِنْ جِهَةِ كَلِمَةِ الْحَيَاةِ. فَإِنَّ الْحَيَاةَ أُظْهِرَتْ&#8230; الَّذِي رَأَيْنَاهُ وَسَمِعْنَاهُ نُخْبِرُكُمْ بِهِ، لِكَيْ يَكُونَ لَكُمْ أَيْضًا شَرِكَةٌ مَعَنَا وَأَمَّا شَرِكَتُنَا نَحْنُ فَهِيَ مَعَ الآبِ وَمَعَ ابْنِهِ يَسُوعَ الْمَسِيحِ&#8221; (1يو 1: 1- 3).</p>
<h3></h3>
<h4>الابركسيس</h4>
<p>وفي الابركسيس عن ← <strong>ثمار كلمة الحياة في الكنيسة</strong> &#8220;وَكَثِيرُونَ مِنَ الَّذِينَ سَمِعُوا الْكَلِمَةَ آمَنُوا، وَصَارَ عَدَدُ الرِّجَالِ نَحْوَ خَمْسَةِ آلاَفٍ&#8221; (اع 4: 4).</p>
<p></p>
<h4>انجيل القداس</h4>
<p>وفي انجيل القداس عن ← <strong>كلمة الحياة الآتية من السماء</strong> المعطية حياة أبدية للمؤمنين &#8220;اَلَّذِي يَأْتِي مِنْ فَوْقُ هُوَ فَوْقَ الْجَمِيعِ، وَالَّذِي مِنَ الأَرْضِ هُوَ أَرْضِيٌّ، وَمِنَ الأَرْضِ يَتَكَلَّمُ اَلَّذِي يَأْتِي مِنَ السَّمَاءِ هُوَ فَوْقَ الْجَمِيعِ&#8230; لأَنَّ الَّذِي أَرْسَلَهُ اللهُ يَتَكَلَّمُ بِكَلاَمِ اللهِ&#8230; الَّذِي يُؤْمِنُ بِالابْنِ لَهُ حَيَاةٌ أَبَدِيَّةٌ&#8230;&#8221; (يو 3: 31، 34، 36).</p>
<p></p>
<h4>ملخص الشرح</h4>
<p>❈ كلمة الحياة وبشارة الخلاص تعلن للمؤمنين الصديقيين الشاعرين بمسكنتهم واحتياجهم.     (مزمور عشية – مزمور باكر - مزمور القداس).</p>
<p>❈ الإيمان بكلمة الابن المحيية يجعل الانسان أقوى من الطبيعة سواء كانت الأخطار الطبيعية أو اضطرابات الطبيعة البشرية. (انجيل عشية - انجيل باكر).</p>
<p>❈ إعلان الكتب المقدسة عن كلمة الحياة. (البولس).</p>
<p>❈ إستعلان كلمة الحياة، وظهور الحياة الجديدة وبداية الشركة مع الثالوث. (الكاثوليكون).</p>
<p>❈ إستعلان ثمار كلمة الحياة في الكنيسة. (الابركسيس).</p>
<p>❈ كلمة الحياة آتية من فوق من السماء تهب حياة أبدية للمؤمنين. (إنجيل القداس).</p>
<p></p>
<h3>عظات آبائية <strong>للأثنين من الأسبوع الثاني </strong><strong>(أحد الخبز)</strong><strong> من الخمسين يوم المقدسة</strong></h3>
<h4>من الرسائل الفصحية - للقديس أثناسيوس الرسولي<a href="#_ftn1" name="_ftnref1">[1]</a></h4>
<p><strong>هذا هو اليوم الذي صنعه الرب.</strong></p>
<p>هيا بنا يا أحباني، فالوقت يدعونا إلى حفظ العيد. وشمس البر (مل 4: 2) إذ يشرق بأشعته الإلهية علينا يعلن عن موعد العيد. لذا يجب الإحتفال به مطيعين إياه، لئلا إذا فاتنا الوقت قد يفوتنا السرور أيضاً.</p>
<p>فمن أهم واجباتنا هو تمييز الأزمنة والأوقات، حتى نتمكن من ممارسة الفضيلة. كان الطوباوي بولس يعلم تلميذه أن يلاحظ الوقت قائلاً: &#8220;أعكف على ذلك في وقت مناسب وغير مناسب&#8221; (2تي 4: 2) حتى إذا ما عرف الوقتين - المناسب وغير المناسب - يستطيع أن يصنع الأمور التي تتناسب مع الوقت ويتحاشى ما هو غير مناسب.</p>
<p>وهكذا فان إله الكل نفسه يعطى كل شيء في وقته كقول سليمان الحكيم (جا 3: 7) ، مريداً بذلك أن يعم خلاص البشر في كل مكان في الوقت المناسب.</p>
<p>وهكذا &#8220;حكمة الله&#8221; (1كو 1: 24) ربنا ومخلصنا يسوع المسيح، أوجد في الأوقات المناسبة، من النفوس المقدسة أنبياء وأحباء الله (حك 7: 27) وبالرغم من أن كثيرين قد قدموا صلوات لأجله «لكي يأتي مسرعاً ليقدم الخلاص» قائلين: &#8220;ليأت من صهيون خلاص الله&#8221; (مز 7: 14)، أو كما جاء في سفر نشيد الأناشيد على لسان العروس قائلة: &#8220;ليتك كأخ لي الراضع ثديي أمي&#8221; (نش 8: 1)، أي ليتك كنت كبني البشر تحمل آلام البشرية من أجلنا. بالرغم من كل هذه الصلوات فان إله الكل، خالق الأزمنة والأوقات، الذي يعرف ما هو لصالحنا أكثر منا، فإنه في الوقت المناسب، في ملء الزمان، وليس في أي وقت ما إعتباطاً، أعلن كطبيب ماهر طريق شفائنا. إذ أرسل إبنه لكى نطيعه قائلاً: &#8220;في وقت القبول وفى يوم الخلاص أعنتك&#8221; (إش 49: 8).</p>
<p>لهذا السبب كتب الطوباوي بولس حاثاً إيانا أن نحفظ هذا الموسم بقوله: &#8220;هوذا الآن وقت مقبول.. هوذا الآن يوم خلاص&#8221; (2كو 2: 6).</p>
<p><strong>هتاف أبواق العهد القديم</strong></p>
<p>قديماً دعا الرب بواسطة موسى.. إلى حفظ أعياد اللاويين في المواسم المقررة قائلاً: &#8220;ثلاث مرات، تعيد لي في السنة&#8221; (خر 23: 14) [الثلاثة أعياد هي: عيد الفصح أو عيد الفطير، عيد الخمسين أو الأسابيع أو الحصاد، عيد المظال أو الجمع].</p>
<p>وكانت أبواق الكهنة تهتف حاثة على حفظ العيد كأمر المرنم الطوباوي القائل: &#8220;انفخوا في رأس الشهر بالبوق عند الهلال ليوم عيدنا&#8221; (مز 81: 3).</p>
<p>وكما كتب، كانت الأبواق تدعوهم أحياناً إلى الأعياد، وتارة الى الصوم، وثالثة الى الحرب، ولم يكن ذلك من قبيل المصادفة أو جزافاً، إنما كان الهتاف يتم لكي يتسنى لكل واحد أن يحضر إلى الأمر المعلن عنه.</p>
<p>هذه الأمور التي أتحدث عنها ليست من عندياتي بل جاءت في الكتب المقدسة الإلهية، إذ كما جاء في سفر العدد، عندما ظهر الله لموسى كلمه قائلاً: &#8220;اصنع لك بوقين من فضة، مسحولين تعملهما، فيكونان لك لمناداة الجماعة&#8221; (عد 10: 1، 2). وهذا يطابق دعوة الرب الآن للذين يحبونه ههنا..</p>
<p>انهم لم يكونوا يهتفون بالأبواق في وقت الحروب فحسب (عد 10: 9) لكنها كانت هناك أبواق للأعياد أيضاً كما جاء في الناموس.. إذ يقول: &#8220;في يوم فرحكم وفي أعيادكم ورؤوس شهوركم تضربون بالأبواق&#8221; (عد10:10).</p>
<p>ومتى سمع أحدكم الناموس يوصي باحترام الأبواق، لا يظن أن هذا أمراً تافهاً أو قليل الأهمية، إنما هو أمر عجيب ومخيف!.</p>
<p>فالأبواق تبعث في الانسان اليقظة والرهبة أكثر من أي صوت آخر أو آلة أخرى. وكانت هذه الطريقة مستخدمة لتعليمهم إذ كانوا لا زالوا أطفالاً..</p>
<p>ولئلا تؤخذ هذه الاعلانات على أنها مجرد إعلانات بشرية، فقد كانت أصواتها تشبه تلك التي حدثت على الجبل (خر19: 16) حينما ارتعدوا هناك ومن ثم أعطيت لهم الشريعة ليحفظوها.</p>
<p><strong>من الرموز إلى الحقائق</strong></p>
<p>والآن فلنترك الرموز والظلال<a href="#_ftn2" name="_ftnref2">[2]</a> لننتقل إلى معانيها.</p>
<p>هيا بنا إلى الحقائق، لنتطلع إلى الأبواق الكهنوتية التي لمخلصنا، التي تهتف:</p>
<ul>
<li><u>داعية إيانا تارة إلى الحرب</u> كقول الطوباوي بولس: &#8220;فإن مصارعتنا ليست مع دم ولحم بل مع الرؤساء مع السلاطين مع ولاة هذا العالم على ظلمة هذا الدهر مع أجناد الشر الروحية في السماويات&#8221; (أف 6: 12).</li>
<li><u>وتارة تدعونا إلى العفة وانكار الذات والوفاق بين الأزواج</u> فنحدث العذارى عن الأمور الخاصة بالعفة، والذين أحبوا حياة البتولية عن حياة الزهد، والمتزوجين عن الأمور الخاصة بالزواج المكرم (1كو 7: 2- 5). وهكذا تظهر لكل واحد الفضائل الخاصة به وجزاءه المكرم.</li>
<li><u>وتارة تدعونا للصوم ، وأخرى للعيد</u> وهنا نجد الرسول يهتف بالبوق مرة أخرى ليعلن قائلاً: &#8220;إن فصحنا أيضاً المسيح قد ذبح لأجلنا. إذاً لنعيد ليس بخميرة عتيقة ولا بخميرة الشر والخبث&#8221; (1كو5: 7، 8).</li>
</ul>
<p>وإن أردت أن تنصت إلى هتاف بوق.. فانصت إلى قول مخلصنا &#8220;وفي اليوم الأخير العظيم من العيد وقف يسوع ونادى قائلاً إن عطش أحد فليقبل إليّ ويشرب&#8221; (يو7: 37)، لأن المخلص لا يدعونا إلى مجرد عيد بل إلى «العيد العظيم»، ذلك إن كنا مستعدين للإستماع إلى ما يعلنه لنا، والطاعة لندائه.</p>
<p><strong>قدسوا صوماً</strong></p>
<p>وإذ توجد نداءات مختلفة  كما سبق أن قلت  أنصتوا إلى النبي الذي يهتف في البوق معلناً الحق قائلاً: &#8220;اضربوا بالبوق في صهيون قدسوا صوماً&#8221; (يؤ 2: 15).</p>
<p>هذا بوق منذر يوصينا باهتمام عظيم. فنحن حينما نصوم يلزمنا أن نقدس الصوم.</p>
<p>ليس كل من يدعو الله يقدس الله، لأنه يوجد من يدنس الله، وهؤلاء لا يدنسون الله ذاته، فحاشا الله أن يتدنس، إنما تد نست أفكارهم من جهة الله. لأن الله القدوس، ومسرته في القديسين (مز 16: 3). ولهذا نجد الطوباوي بولس يتهم الذين يهينون الله بأنهم &#8220;بتعدي الناموس يهينون الله (رو 2: 32).</p>
<p>ولكي يفرزنا الله عن الذين يدنسون الصوم يقول: &#8220;قدسوا صوماً&#8221;، إذ كثيرين ممن يتسابقون في الصوم يدنسون أنفسهم بأفكار قلوبهم، وذلك أحيانا بصنعهم الشرور ضد إخوتهم، وأحياناً أخرى باستخدامهم الغدر والغش..</p>
<p>وحسبي أن أذكر أن كثیرین یفتخرون على الغیر بالصوم وهم بهذا یسببون أضراراً خطیرة. فمع أن الفریسي كان یصوم یومین في الأسبوع إلا أنه لم یستفد شیئًا لأنه افتخر بذلك على العشار. وكأن الكلمة یوبخ شعب بني إسرائیل (الشریر) لصومه هكذا، واعظاً إیاهم بإشعیاء النبي &#8220;أَمِثْلُ هذَا يَكُونُ صَوْمٌ أَخْتَارُهُ؟ يَوْمًا يُذَلِّلُ الإِنْسَانُ فِيهِ نَفْسَهُ، يُحْنِي كَالأَسَلَةِ رَأْسَهُ، وَيْفْرُشُ تَحْتَهُ مِسْحًا وَرَمَادًا هَلْ تُسَمِّي هذَا صَوْمًا وَيَوْمًا مَقْبُولاً لِلرَّبِّ؟ا&#8221;<a href="#_ftn3" name="_ftnref3">[3]</a>.</p>
<p>ولكي أظهر كیف نصوم، وماذا یكون علیه صومنا، یلزمنا أن ننصت إلى االله وهو یوصي موسى في سفر اللاويين &#8220;وَكَلَّمَ الرَّبُّ مُوسَى قَائِلاً: أَمَّا الْعَاشِرُ مِنْ هذَا الشَّهْرِ السَّابعِ، فَهُوَ يَوْمُ الْكَفَّارَةِ مَحْفَلاً مُقَدَّسًا يَكُونُ لَكُمْ تُذَلِّلُونَ نُفُوسَكُمْ وَتُقَرِّبُونَ وَقُودًا لِلرَّبِّ&#8221; (لا 23: 26، 27). ولكي تظهر الشريعة ماذا تقصد من هذا يكمل: &#8220;إِنَّ كُلَّ نَفْسٍ لاَ تَتَذَلَّلُ فِي هذَا الْيَوْمِ عَيْنِهِ تُقْطَعُ مِنْ شَعْبِهَا&#8221; (لا 23: 29).</p>
<p><strong>كيف نصوم؟</strong></p>
<p>أننا مطالبون أن نصوم، لا بالجسد فقط بل بالروح أيضاً. والروح يتضع حينما لا يتبع الأفكار الرديئة بل يغتذي بالشوق الى الفضيلة. فالفضائل والشرور كلاهما غذاء للروح. فالإنسان له أن يغتذى باى الغذائين، له أن يميل الى أي منهما حسب إرادته الخاصة.</p>
<p>فان مال الإنسان نحو الفضيلة، أغتذى بالفضيلة، والصلاح، وضبط النفس، والاتضاع، والاحتمال، وذلك كقول الرسول: &#8220;متربياً (مغتذياً) بكلام الإيمان&#8221; (1تي 4: 6)، وكما كان الحال مع مخلصنا الذي قال: &#8220;طعامي أن أعمل مشيئة ابي الذي في السموات (يو4: 34).</p>
<p>فاذا كان حال الروح غير هذا، بل كان الإنسان يميل الى أسفل، فانه لا يتغذى إلا بالخطية، وهكذا يصف الروح القدس الخطاة ويتكلم عن غذائهم، وذلك حينما يشير إلى الشيطان قائلاً عنه، جعلته طعاماً لأهل..&#8221; (مز٧٤: ٤) فالشيطان هو طعام الخطاة!.</p>
<p>وإذ ربنا ومخلصنا يسوع المسيح هو الخبز السماوي، لهذا فهو غذاء القديسين، لهذا قال: &#8220;إن لم تأكلوا جسدي وتشربوا دمي&#8230;&#8221; (يو6: 53).</p>
<p>بينها الشيطان هو غذاء الدنسين، الذين لا يصنعون أعمال النور بل أعمال الظلمة. ولكى يجذبهم الله ويردهم عن شرورهم، يوصيهم أن يقتاتوا بالفضيلة وخاصة اتضاع العقل، المسكنة، احتمال الإهانات، والشكر لله.</p>
<p>إن صوما كهذا متى حفظ مقدساً هكذا، فإنه لا يؤدي الى التوبة فحسب، بل ويهيء القديسين ويسمو بهم عن الأرضيات.</p>
<p><strong>نماذج من صوم الأنبياء </strong></p>
<p>بالتأكيد ما سأقوله الآن عجيب جداً، غير أنه ليس ببعيد عن الحق، إذ انه من تلك الأمور المعجزية، كما تعلمون كذلك من الكتب المقدسة.</p>
<p>فحينما كان ذلك الرجل العظيم موسى صائماً، تكلم مع الله واستلم الشريعة.</p>
<p>وعندما كان العظيم القديس ايليا صائماً، استحق أن يعاين رؤى إلهية وفى النهاية رفع على مثال ذاك (السيد المسيح) الذي صعد الى السماء.</p>
<p>ودانيال عندما كان صائماً، أؤتمن على الأسرار، رغم كونه شاباً، وكان هو الوحيد الذي يفهم أسرار الملك، واستحق أن يعاين رؤى إلهية.</p>
<p>وقد يساور البعض الشك بسبب طول مدة صوم هؤلاء الرجال، التي تبدو كأمر عجيب. لكن ليؤمن هؤلاء وليعرفوا ان التأمل في الله وكلمة الله كافياً لتغذية هؤلاء الصائمين.</p>
<p>فالملائكة لا يسندهم سوى معاينتهم وجه الله على الدوام.</p>
<p>وطالما كان موسى يكلم الله لذلك كان يلزمه أن يصوم جسديا، لكنه كان يغتذى بالكلام الإلهي. واذ نزل الى الناس شعر بألم الجوع مثل سائر البشر. لأنه لم يذكر عنه أنه صام أكثر من الأربعين يوماً التي كان يحادث فيها الله، وعلى هذا النحو إستحق كل أحد من القديسين لطعام يفوق العقل.</p>
<p>لهذا إن اغتذت نفوسنا يا أحبائى بالطعام الإلهي، من الكلمة ، وسلكنا حسب مشيئته، وصامت أجسادنا عن الأمور الخارجية، بهذا نحفظ ذلك العيد العظيم للمخلص.</p>
<p><strong>ابطال الفصح اليهودي بتقدم الحمل الحقيقي:</strong></p>
<p>حتى اليهود الجهلاء، تناولوا من الطعام الإلهي حينما أكلوا الخروف في الفصح كرمز، لكن لعدم فهمهم للرمز لا زالوا حتى يومنا هذا مخطئين، لأنهم يأكلون الفصح بعيداً عن المدينة أورشليم &#8220;مبتعدين عن الحق&#8230; إذ لا يسمح لهم بإقامة تلك الطقوس في أي مدينة أخرى&#8221;.<a href="#_ftn4" name="_ftnref4">[4]</a> <u>وحيث أن أورشليم قد خربت لهذا كان يلزم أن تنتهى تلك الرموز أيضاً</u>.</p>
<p>لاحظوا أنه بمجيء مخلصنا قد انتهت هذه المدينة وخربت كل أرض اليهود. ومن شهادة هذه الأمور وما تؤكده لنا عيوننا عن هذه الحقائق لا تحتاج الى دليل آخر، لهذا يلزم بالضرورة أن ينتهي الرمز.</p>
<p>وليس كلامي فقط هو الذي يوضح هذه الأمور، بل قد سبق النبي فأنبأ بذلك صارخاً &#8220;هُوَذَا عَلَى الْجِبَالِ قَدَمَا مُبَشِّرٍ مُنَادٍ بِالسَّلاَمِ&#8221; (نا 1: 15). وما هي رسالته التي بشر بها إلا التي أخذ يعلنها لهم قائلاً &#8220;عَيِّدِي يَا يَهُوذَا أَعْيَادَكِ أَوْفِي نُذُورَكِ، فَإِنَّهُ لاَ يَعُودُ يَعْبُرُ فِيكِ أَيْضًا الْمُهْلِكُ قَدِ انْقَرَضَ كُلُّهُ قَدِ ارْتَفَعَتِ الْمِقْمَعَةُ عَلَى وَجْهِكِ احْرُسِ الْحِصْنَ رَاقِبِ الطَّرِيقَ شَدِّدِ الْحَقْوَيْنِ مَكِّنِ الْقُوَّةَ جِدًّا&#8221; (نا 1: 15؛ 1: 2).</p>
<p>والآن: من هو هذا الذي ارتفع؟!..</p>
<p>إن أردتم معرفة الحقيقة والتخلص من ادعاءات اليهود، تطلعوا الى مخلصنا الذي ارتفع ونفخ في وجه تلاميذه قائلاً &#8220;اقْبَلُوا الرُّوحَ الْقُدُسَ&#8221; (يو20: 22)، فبمجرد أن كمل هذا (الصلب) انتهت الأمور العتيقة، فانشق حجاب الهيكل (مت 27: 51)، وتحطم المذبح (اليهودي)، ومع أن المدينة لم تكن بعد قد خربت إلا أن رجسة الخراب (مت 24: 15)  كانت تستعد للجلوس في وسط الهيكل، فتتلقى أورشليم وكل تلك الفرائض العتيقة نهايتها.</p>
<p><strong>حمل الله :</strong></p>
<p>منذ ذلك الحين تركنا وراءنا عصر الرموز، فلم نعد نمارس تلك الطقوس في ظلها، بل قد حولناها كلها إلى الرب. &#8220;وأما الرب فهو الروح. وحيث روح الرب هناك حرية&#8221; (2كو 3: 17).</p>
<p>فاننا متى سمعنا هتاف البوق المقدس، لا نعود نذبح خروفاً عادياً، بل ذلك الحمل الحقيقي الذي ذبح عنا  ربنا يسوع المسيح  الذي سيق &#8220;كشاة تساق الى الذبح وكنعجة صامتة أمام جازیها&#8221; (إش 53: 7).</p>
<p>فقد تطهرنا بدمه الكريم, الذي يتكلم أفضل من هابيل (عب 12: 24)، واحتذت أرجلنا باستعداد الانجيل (أف 6: 15) حاملين في أيدينا سلاح الله الكامل الذي كان موضوع تعزية الطوباوي الذي قال &#8220;عصاك وعكازك هما يعزيانني&#8221; (مز23: 4)،  وبالإجمال نكون مستعدين في كل شيء، وغير مهتمين بشيء لأن &#8220;الرب قريب&#8221; (في 4: 5)، وذلك كقول الطوباوي بولس. وكذلك يقول مخلصنا: &#8220;في ساعة لا تظنون يأتي ابن الانسان&#8221; (لو12: 40).</p>
<p><strong>كيف نعبد؟</strong></p>
<p>&#8220;اذاً لنعيد ليس بخميرة عتيقة ولا بخميرة الشر والخبث بل بفطير الإخلاص والحق&#8221; (1كو 5: 8).</p>
<p>وإذ نخلع الإنسان العتيق وأعماله، نلبس الإنسان الجديد المخلوق بحسب الله (أف4: 22، 24)، ونلهج في ناموس الله نهاراً وليلاً، بعقل متضع وضمير نقي.</p>
<p>لنطرح عنا كل رياء وغش، مبتعدين عن كل رياء ومكر.</p>
<p>ليتنا نتعهد بحب الله ومحبة القريب، لنصبح خليقة جديدة، متناولين خمرا جديداً..</p>
<p>إذا لنحفظ العيد كما ينبغي.</p>
<p><strong>موعد  العيد:</strong></p>
<p>إننا نبدأ الصوم المقدس<a href="#_ftn5" name="_ftnref5">[5]</a> في اليوم الخامس من برموده (٣١ مارس)، وبإضافة تلك الستة أيام المقدسة<a href="#_ftn6" name="_ftnref6">[6]</a> - التي ترمز الى أيام خلقة العالم - ينتهى الصيام ونستريح في السبت المقدس (لو23: 56) للأسبوع في العاشر من برموده (٥ أبريل).</p>
<p>وحينما يشرق علينا اليوم الأول من الأسبوع المقدس (الأحد) يكون العيد وهو الحادي عشر من نفس الشهر (6 أبريل).</p>
<p>ثم نحسب ابتداء منه الأسابيع السبعة<a href="#_ftn7" name="_ftnref7">[7]</a> أسبوعاً أسبوعاً، فنعيد عبد البنديكستي المجيد<a href="#_ftn8" name="_ftnref8">[8]</a> الذي كان يقابل &#8220;عيد الأسابيع&#8221; وقد كان يوم خلاص، فيمنحون فيه الصفح والإبراء من الديون.</p>
<p><strong>بركات العيد:</strong></p>
<p>لنحفظ العيد في اليوم الأول من الأسبوع العظيم كرمز للحياة الأخرى، التي نأخذ عنها هنا وعداً بأنه ستكون لنا حياة أبدية بعد الموت.</p>
<p>من ثم سنحفظ عيدأ نقياً مع المسيح، هاتفين قائلين مع القديسين, لأني سأجوز الى بيت الله بصوت الابتهاج والحمد وهناف المعيدين (مز 42: 4)، حيث هرب الحزن والكآبة والتنهد. وستكلل رؤوسنا البهجة والفرح.</p>
<p>ليتنا نستأهل لنوال هذه البركات.</p>
<p>فلنتذكر الفقير، ولا ننسى عمل الخير للغريب.</p>
<p>وفوق الكل فلنحب الله من كل نفوسنا، و من كل قدرتنا، ومن كل قوتنا، ونحب قريبنا كنفسنا (مت22: 37؛ مر12: 30؛ لو10: 27) حتى نحصل على ما لم تره عين وما لم تسمع به أذن وما لم يخطر على قلب بشر، ما أعده الله للذين يحبونه (1كو 2: 9). بنعمة ابنه الوحيد ربنا ومخلصنا يسوع المسيح الذي له مع الآب والروح القدس المجد والسلطان إلى أبد الآبدين. آمين.</p>
<p>سلموا على بعضكم بعضا بقبلة مقدسة. يسلم عليكم جميع الإخوة الذين معي.</p>
<h4>شرح لأنجيل القداس - القديس كيرلس الأسكندري<a href="#_ftn9" name="_ftnref9">[9]</a></h4>
<p><strong>(يو٣: ٣٢)</strong><strong> &#8220;الذي يأتي من السماء هو فوق الجميع&#8221;. </strong></p>
<p>يقول المعمدان إن ذلك يشهد أن هناك فرقاً عظيماً جداً وغير قابل للمقارنة بين أولئك الذين من الأرض وبين كلمة الله الذي يأتي من فوق. ومن السماء. فأن لم أكن أنا الإنسان المناسب للتعليم، ولم تكفكم كلمتي وحدها، فإن الابن نفسه سيؤكدها، ويشهد كيف أن المولود من الأرض يختلف عن &#8220;البدء&#8221; الذي هو فوق الجميع اختلافا يفوق الإدراك، لأنه إذ كان المخلص يجادل اليهود الأشرار ففي موضع ما قال لهم: &#8220;أنتم من أسفل، أما أنا فمن فوق&#8221; (يو٢٣:٨)، لأنه يقول إن طبيعة المخلوقات التي هي من &#8220;أسفل&#8221; تكون خاضعة وبالضرورة ومستعبدة لله الذي يخلقها ويدعوها إلى الوجود: لكنه يطلق عبارة &#8220;من فوق&#8221; أيضا على الطبيعة الإلهية الربانية والتي تفوق الفهم، إذ أنها تخضع كل المخلوقات، تحت نير سلطانها. إن المعمدان الطوباوي لم يضف تلك الأمور هكذا بلا معنى، ولأن تلاميذه يمكنهم أن يفترضوا أنه يخترع مجادلات فارغة من عنده، وبسبب خوفهم من أن يبدو أدنى من المسيح، لذلك فأن يوحنا يدعوه &#8220;أعظم&#8221; أو &#8220;من فوق&#8221; وأنه هو نفسه &#8220;من أسفل&#8221; ومن الأرض، فإنه وهو يؤكد ذلك مما قاله المخلص نفسه يختم على صدق ما قيل، ويوضح أن شرحه ليس كما تصوروا هم مجرد عذر فارغ بل هو بالحري كشف للحق.</p>
<p>لكن لما كان الجزء التالي للآية هو &#8220;وما رآه وسمعه به يشهد&#8221; فإننا سنناقش بضع أشياء قليلة عن هذا الأمر أيضا. فقد نشأنا واعتدنا أن نقبل البرهان الكامل على كل شئ، وذلك بنوع خاص عن طريق حاستين، أقصد بهما النظر والسمع لأننا بشهادة الأذن وشهادة العين نتحدث آنذاك بالإيجاب عن أي أمر. وإذ يقنعهم المعمدان بالإسراع إلى الإيمان بالمسيح لأنه يقول &#8220;إن المسيح يتكلم بما يعرفه بدقة&#8221; فإنه يتخذ من مماثلته لنا توضيحا لكي نفهم الأمر بشكل إلهي أكثر، فيقول وما راه وسمعه به يشهد.</p>
<p>&#8220;وشهادته ليس أحد يقبلها&#8221;.</p>
<p>فالمعمدان الطوباوي يقول هذا، ليس لأن أحدا لا يقبل &#8220;الشهادة أن المسيح هو الله بالطبيعة، وأنه قد أتى من فوق من الآب، وأنه &#8220;فوق الجميع ، لأن كثيرين قد قبلوا وآمنوا بتلك الشهادة، ومنهم بطرس الذي قال:&#8221;انت هو المسيح ابن الله الحي&#8221; (مت١٦:١٦)، لكن المعمدان يقول ذلك لأنه قد أدرك بنفسه بل وأكثر من جميعهم كرامة المتحدث العظيمة، وكأنه يهز رأسه، ويضرب بيده على فخذه متعجبا من حماقة الذين لم يصدقوا المسيح.</p>
<p><strong>(یو</strong><strong>۳۳</strong><strong>:</strong><strong>۳</strong><strong>)</strong><strong> &#8220;ومن قبل شهادته فقد ختم أن الله صادق&#8221;. </strong></p>
<p>لم يكن هناك من طريق آخر للكشف عن كفر الذين لم يؤمنوا، سوى معرفة ما صنعه المؤمنون من عمل مجيد. لأنه من السهل تمييز الشر بمقارنته بالأمور الحسنة. ومعرفة ما هو أفضل يمكن أن تكون سبب تبكيت للأسوأ، فيقول المعمدان إن وافق إي إنسان على كلمات ذاك الذي يأتي &#8220;من فوق&#8221; فقد ختم وأكد بإدراكه هذا، أن الحق ملازم أبدا للطبيعة الإلهية وملتصق بها. بينما يظهر العكس لأولئك الذين يسلكون بالعيان، لأن من يقاوم الإيمان إنما يشهد حقًا ضد نفسه أن الله غير صادق. بل يجب أن نلاحظ مرة أخرى. إن المعمدان ينأي بالابن عن مساواة جوهره بالخليقة، ويوضح بما قيل قبلاً إنه هو الله بالطبيعة. لأنه إن كان من يؤمن بالأمور التي تكلم بها، ويقبل &#8220;الشهادة&#8221; التي يعيها هو عن نفسه، فقد &#8220;ختم&#8221; وأكد جيداً أن الله صادق، فكيف لا يفهم أن المسيح هو الله بالطبيعة؟ وهو الذي شهد عنه أنه &#8220;صادق&#8221; بموجب الأشياء التي قيلت توا؟ وإلا فليخبرنا معارضًا مرة أخرى، كيف نكرم الطبيعة الإلهية باعتبارها صادقة، بقبول شهادة مخلصنا، لأنه إن لم يكن هو الله بالطبيعة تماماً، فإن من يؤمن به لن يوقر الطبيعة الإلهية (حسب زعمهم)، على أنها صادقة، بل بالحري يوقر واحداً من أحسن المخلوقات! حيث إنه حينما يتم الإيمان بالمسيح، فإن إعلان كونه صادقا يمتد إلى الله، وأنه أمر واضح وجلي، أنه إذ هو الله بالحق وليس زوراً فإنه ينال إكراماً لنفسه من الذين يؤمنون.</p>
<p>لكن عدو الحق لا يقبل كلامنا هذا، فيبدأ مقاوماً بشدة أن يكون الابن هو الله بالطبيعة، ويقول مرة ثانية إنك يا سيدي تثير اعتراضات تافهة وتخترع أنواع أفكار غير معقولة مختلفة ومتعددة، فترفض المعنى البسيط والمستقيم، لأنه حيث إن كلمة الله قد جاء من السماء قائلاً بمجاهرة &#8220;لأني لم أتكلم من نفسي، لكن الآب الذي أرسلني هو أعطاني وصية: ماذا أقول وبماذا أتكلم&#8221; (يو٤٩:١٢) وأيضاً &#8220;لأني أعلمتكم بكل ما سمعته من أبي&#8221; (يو١٥:١٥)، وأيضا كما أشار القديس المعمدان في الكلمات التالية &#8220;لأن الذي أرسله الله يتكلم بكلام الله&#8221; (آية٣٤).لهذا يقول عنه &#8220;ومن قبل شهادته، فقد ختم أن الله صادق&#8221;، لأن الله الآب هو صادق حقا.</p>
<p>فبماذا إذا نرد على تلك الأمور؟ هل نصنف الابن الوحيد ضمن الأنبياء، على اعتبار أنه أتم الخدمة الخاصة بالأنبياء ولم يفعل شيئا سوى ذلك؟ فأي منا لا يقبل دون تردد أن الأنبياء قد اعتادوا أن يأتونا بأصوات من الله؟ فما هو فضل الابن الذي اختص به، إن كان يفعل هذا فقط؟ كيف يكون &#8220;فوق الجميع &#8221; إن كان لا يزال معدوداً بين الأنبياء فحسب أو متسربلاً بما يليق بالعبد؟ وكيف إذ يفوقهم في المجد يقول في الإنجيل &#8220;إن قال آلهة لأولئك الذين صارت إليهم كلمة الله، ولا يمكن أن ينقض المكتوب، فالذي قدسه الآب وارسله إلى العالم، أتقولون له: إنك تجدف لأني قلت: إني ابن الله؟&#8221; (يو١٠: ٣٦،٣٥) لأنه بتلك الكلمات يفصل نفسه عن جماعة الأنبياء، ويقول إنهم دعوا آلهة، لأن كلمة الله أتي إليهم، لكنه يقر أنه هو ذاته الابن لأن النعمة قد منحت للأنبياء بكيل بواسطة الروح، أما المسيح مخلصنا فقد &#8220;سر أن يحل فيه كل ملء اللاهوت جسدياً&#8221; (كو١٩:١؛ قابل٩:٢)، كما يقول القديس بولس، وأيضا ومن ملئه نحن جميعا أخذنا&#8221; (يو١٦:١)، كما أكد القديس يوحنا، فكيف يكون المعطي إذا في نفس المرتبة مع الأخذين، أو كيف يحسب من حل فيه ملء اللاهوت، في مرتبة العبد؟.</p>
<p>فليفكروا هم إذا بأفق ضيق، كم ستؤدي مجادلاتهم إلى تجديف يهلكهم، وكيف ينبغي على الإنسان أن يفهم الكلمات &#8220;لأني لم أتكلم من نفسي، لكن الآب الذي أرسلني هو أعطاني وصية: ماذا أقول وبماذا أتكلم&#8221; (يو١٠:١٤؛ ٤٩:١٢)، وهو ما سنشرحه بتفصيل أكثر في حينه، وفي مكانه. لكني أعتقد أن اعتراضات مقاومينا في الوقت الراهن يجب أن تكون فرصة للتقوى، وينبغي لنا أن ندافع عن تعاليم الكنيسة مما يعرضونه، فهم يؤكدون إذا أن الابن أخذ من الآب وصايا، وإنه لا يقول شيئا من نفسه إنما كل ما يسمعه  كما يقول هو بذاته - بدافع من غيرته بقوله لنا أيضا. حسنا فليتوقف المعارض هنا، لأننا سنوافق، حيث إن هذا لا يسئ إلى الابن بشئ على الأقل فيما يخص مسألة &#8220;من أين هو&#8221; بل بالحري يوضح ذلك الأمر تدبيراً جميلاً للغاية بخصوص موضوعنا الحالي. لهذا حين يسمعونه يقول &#8220;أنا والآب واحد، الذي رآني فقد رأى الآب، أنا في الآب والآب في (يو٣٠:١٠؛ ١٤: ١٠،٩)، إذا &#8221; فليقبلوا شهادته&#8221; وليختموا &#8220;أن الله صادق&#8221; مقتنعين أن الابن يتكلم بما يعرفه بدقة، وليكفوا عن الكفر بكلمات المخلص، الذي يفسر لنا الأمور الخاصة بأبيه.</p>
<p><strong> </strong><strong>(يو٣٤:٣)</strong><strong> &#8220;لأن الذي أرسله الله يتكلم بكلام الله&#8221;. </strong></p>
<p>إذا فالآب يعلم أن ابنه الذاتي هو فيه، وهو مثله تماماً بالطبيعة لأني أعتقد أن هذا هو معنى العبارة &#8220;نحن واحد&#8221;، ولا شئ سواه، ويعترف أنه ابن وليس مخلوقاً. أعني أنه ابن من ذات جوهره الخاص وليس حاملاً لمجرد كرامة  اسم البنوة، لأن الآب يعرف أن الابن هو صورته الدقيقة الذاتية الخاصة به، حتى أن الآب يرى رؤية كاملة في ابنه، والآب كائن في الابن، كما أن الآب هو الذي يجعل الابن يشع من خلاله بالطبيعة بكيفية تفوق الإدراك، وهو الذي له الابن في ذاته، والذي هو أيضا في الابن بسبب أن لهما نفس الجوهر.</p>
<p>وهذه الأمور، أيها الهرطوقي، إذا ما فحصتها سوف تتحرر من مرض مرير، وتنجينا من متاعب الجدل والنزاع &#8220;لأن الذي أرسله الله يتكلم بكلام الله&#8221;.</p>
<p>إن اعتبرنا هذه الكلمات بطريقة سطحية، فما الذي يثير العجب في الابن؟ ألم يكن كل واحد من الأنبياء القديسين أيضا مرسلاً من الله، أو لم يعلن كلام الله؟ فقد قيل حقاً لموسى النبي في موضع ما: &#8220;فهلم الآن أرسلك إلى مصر&#8221; (أع٣٤:٧)، فتقول لفرعون هكذا يقول الرب (خر٢٢:٤). وللقديس العظيم إرميا &#8220;لا تقل إني ولد، لأنك إلى كل من أرسلك إليه تذهب وتتكلم بكل ما أمرك به&#8221; (أر٧: ١)، فأي شئ يضاف إلى الابن بالطبيعة وهو الذي يتكلم بكلام الله، لأنه مرسل من الله؟ فهو إن لم يكن من طبيعة الله، فسيتم الإعلان عنه لنا كنبي من جهة الخدمة وليس سوى ذلك.</p>
<p>لہذا ستفهمون هنا معنى &#8220;أرسله&#8221; إما بخصوص التجسد والمجيء إلى هذا العالم بالجسد، أو قد تفهمونه بشكل أعلى ويليق بالله، لأن الآب لم يخفي الابن في ذاته، بل أن الابن أشرق من طبيعته كشعاع خارج من النور، بحسب الميلاد الإلهي الذي لا ينطق به ولا يمكن شرحه والذي كشفه الابن الوحيد لنا، بقوله &#8220;إني من عند الله خرجت&#8221; (يو٢٨:١٦). لأن الابن قد صدر من الآب بأقنومه الخاص به، رغم أنه لا يزال في الآب بالطبيعة، وما تعنيه لفظة &#8220;خرجت&#8221; في تلك الآية، تعنيه لفظة &#8220;أرسله&#8221; في هذه الآية أيضا، فيقول المعمدان إذا، إن الكلمة الذي ظهر وأشرق خارجاً من الآب، لكونه إلهاً من إله، يستخدم ألفاظاً تليق بالله، أما الكلام الذي يليق بالله فهو كلام صادق، ومن هنا يلاشي كل وصمة الكذب، إذا فمن يقبل شهادة المخلص فقد &#8220;ختم أن الله صادق&#8221;، لأنه بالحقيقة هو الله بالطبيعة (يو٣٤:٣) &#8220;ليس بكيل يعطي الله الروح&#8221;.</p>
<p>انتبه الآن يا صديقي الصالح انتباهاً خاصاً قوياً، لأنك ربما تتعجب معي لحكمة القديسين الرزينة، لذلك قال المعمدان إن الابن مرسل من الله، وأيضا أنه يتكلم بكلام الله، لكننا نلاحظ أنه بالمعنى السطحي للكلمات، فهو يكسوه بالقامة النبوية، كما سبق وقلنا حالاً، ولكنه بنفس هذه الكلمات يستبعده من المساواة بالأنبياء، وبهذا يجعلنا ندرك عظم مكانته، وعظم ذلك الفارق الذي لا يقارن فيما بينه وبينهم، إذ يقول إنه من المستحيل أن الذين قبلوا الروح بكيل يمكنهم أن يعطوه لغيرهم، لأنه لم يحدث قط أن قديساً قد أعطى الروح القدس لقديس آخر، لكن الابن يعطي الروح للكل من ملئه الخاص، إذا فهو &#8220;لا يعطي الروح بكيل&#8221;. وأيضا هو ليس له نصيب قليل من الروح القدس كما يقولون هم، وإن هذا النصيب. كما يزعمون - يأخذه بالمشاركة لكن إذ هو معطي الروح أيضا، فظاهر كما أعتقد أن له الروح بالكامل جوهرياً في ذاته. إذا فالذي يفوقهم بهذا المقدار العظيم لا ينطق بأمور الله كواحد منهم بل إذ هو إله من إله، يفيض بكلمات إلهية.</p>
<p>لكن ما من تداخل مع ما هو مكتوب، أنه بوضع أيدي الرسل يعطى الروح للبعض (أع١٨:٨)، لأننا نؤمن أنهم (أي الرسل) مستدعو الروح، وليسوا في الواقع واهبي الروح. حيث إن المبارك موسى أيضا لم يكن قد فرض عليه لكي يأخذ من الروح الذي كان عليه، بل حفظ الله هذا أيضاً في سلطانه هو وحده قائلاً موسى يجب أن يجمع السبعين، وقد وعده الله أن يأخذ من الروح الذي كان على موسى ويضعه على رأس شيوخ الشعب السبعين (انظر عد١١: ١٧)، لأنه يليق بالله وحده أن يفعل الأمور الإلهية.</p>
<h4>نور الإيمان - القديس يوحنا ذهبي الفم<a href="#_ftn10" name="_ftnref10">[10]</a></h4>
<p>يقول الرسول بولس: &#8220;فإذ لنا روح الإيمان عينه، حسب المكتوب: آمنت لذلك تكلمت، نحن أيضاً نؤمن ولذلك نتكلم أيضاً&#8221;. ماذا تقول، هل إن لم تؤمن لا تتكلم، بل تبقى صامتاً؟ يقول نعم، فأنا لا أستطيع أن أفتح فمي بدون ايمان، ولا أن أحرك لساني، طالما بقيت أنا الإنسان العاقل، بدون تعليم الإيمان. لأنه إن لم تزرع البذرة، ويصبح لها جذراً فمن غير الممكن أن تنمو، ويكون لها ثمراً، هكذا عندما لا يكون هناك إيماناً سابقاً، فمن غير الممكن أن تأتي كلمة التعليم. لذلك يقول في موضع آخر: &#8220;لأن القلب يؤمن به للبر والفم يعترف به للخلاص&#8221;.</p>
<p>وهل من الممكن أن يكون هناك ما هو أفضل من هذه الشجرة، أو ما هو شبيهاً بها، والتي ليس فقط فروعها، بل أن جذرها ذاته يثمر؟ من ناحية الفروع تمثل البر، والجذر يمثل الخلاص. لذلك يقول: &#8220;آمنت لذلك تكلمت&#8221;. إن الجسد في مرحلة الشيخوخة يصاب بحالة من إرتعاش الأطراف، لذلك يلجأ الإنسان لإستخدام عكاز ليحميه من السقوط أرضًا، هكذا فإن أفكار نفوسنا المضطربة والمضللة بسبب الخطية، يقودنا الإيمان بأمان، بأكثر قوة من العكاز، ويريحها بقوته، ويسندها ويعضدها بثبات، ولا يترك الخطية تسود عليه أبداً يصلح الأفكار الشرير بقوته الوافرة، ويطرد الظلام الدامس الذى نتج عن أفكار النفس الشريرة، وهذه النفس التي بقيت مضطربة في أفكارها، كما لو كانت في بيت مظلم، ينيرها الإيمان بنوره. لذلك جميع الذين لا إيمان لهم، ليسوا في حالة أفضل من الذين يعيشون في ظلام، فإنهم يرتطمون بالجدران ويصطدمون بكل ما يقابلهم، ويسقطون في وديان، ومنحدرات ولا تفيدهم أعينهم في شيء، لأنه يفتقدون النور الذى يقودهم هكذا كل من لا إيمان لهم، يصطدمون بعضهم بالبعض، ويرتطمون بالجدران، وفى النهاية ينهاروا، ويقودوا أنفسهم إلى الهلاك.</p>
<p>والشاهد على هذا الكلام، هم أولئك الذين يفتخرون بحكمتهم العالمية، الذين يفتخرون بإطلاق اللحية، وبملابسهم الثقيلة، والعصى التي يمسكونها. لأنه بعد كلمات مطولة، وكثيرة، لم يروا الأحجار التي أمام أعينهم، لأنهم إن كانوا قد رأوها، ما كان لهم أن يؤمنوا بأنها آلهة. لقد تصادموا فيما بينهم، وسقطوا في منحدر الكفر والجحود العميق جداً، ليس لشئ أخر، سوى لأنهم فقط، قد عهدوا بكل مشاكلهم إلى أفكارهم، وهذا ما أوضحه الرسول بولس قائلاً: &#8220;لأنهم لما عرفوا الله لم يمجدوه أو يشكروه كإله، بل حمقوا في أفكارهم، وأظلم قلبهم الغبي. وبينما هم يزعمون أنهم حكماء صاروا جهلاء&#8221;. بعد ذلك أظهر سبب ظلمة أفكارهم، وغباءهم، فأضاف: &#8220;وأبدلوا مجد الله الذى لا يفنى بشبه صورة الإنسان الذى يفنى والطيور، والدواب، والزحافات&#8221;. لكن عندما أتى الإيمان، بدد هذه الظلمة من النفس التي قبلته. وكما أن القارب الذى يتخبط وسط الأمواج ويمتلئ بالماء بسبب ارتفاع الأمواج، فإن المرساة التي تلقى لتثبيته، تحميه من كل ناحية، وتثبيته وسط البحر، وهكذا هو ذهننا، عندما تجعله الأفكار الخاطئة يضطرب، يأتي الإيمان ويخلصه من الغرق، وبصورة أكثر يقينية من المرساة، فإنه يأتي في شهادة الضمير، كما في ميناء هادئ، حتى ترسوا سفينة الحياة. وهذا أيضاً ما أوضحه الرسول بولس قائلاً: &#8220;وهوأعطى البعض أن يكونوا رسلاً، والبعض أنبياء، والبعض مبشرين، والبعض رعاه ومعلمين، لأجل تكميل القديسين لعمل الخدمة، لبنيان جسد المسيح، إلى أن ننتهى جميعنا إلى وحدانية الإيمان ومعرفة ابن الله. إلى إنسان كامل إلى قياس قامة ملء المسيح كى لا نكون في ما بعد أطفالاً مضطربين ومحمولين بكل ريح تعليم&#8221;. أرايت عظمة ما يحققه الإيمان، أنه يطرد القلق والإضطراب، كمرساة آمنة. هذا عينه ما كتبه الرسول بولس في رسالته إلى العبرانيين، متحدثاً عن الإيمان، فيقول: &#8220;الذى هو لنا كمرساة للنفس مؤتمنة وثابتة، تدخل إلى ما داخل الحجاب&#8221;. وحتى لا تعتقد، عندما تسمع كلمة مرساة، أنه يجذبك إلى أسفل فإنه يظهر أن لهذه المرساة طبيعة جديدة، فهى لا تدفع بإتجاه الإنحدار إلى أسفل، بل تسمو بالذهن إلى أعلى، وتنقله إلى السماء، وتقوده إلى ما داخل الحجاب، لأن السماء هنا هي التي يدعوها بالحجاب. لمن ولماذا؟ من حيث أن الحجاب الذى هو خارج الخيمة كان يفصل قدس الأقداس عن الجزء الخارجي، هكذا تماماً هذه السماء، كحجاب ممتدة فوق هذا الكون، هي خارج هذا العالم، أي تفصل العالم الذى نراه عن قدس الأقداس الذى هو فوق سماء السموات، والذى دخله المسيح، كسابق لأجلنا.</p>
<p></p>
<h4>عظات آباء وخدّام معاصرين <strong>للأثنين الثاني من الخمسين يوم المقدسة</strong></h4>
<h4>الإيمان - للمتنيح الأنبا يؤانس أسقف الغربية<a href="#_ftn11" name="_ftnref11">[11]</a></h4>
<p>في الإعداد لرحلة الطريق إلى الله، يأتي الايمان. لكن ماذا يمكن أن نقوله عن الايمان، الذي قال عنه الرسول بولس إنه بدون إيمان لا يمكن ارضاء الله (عب ١١: ٦)..&#8221;وَكُلُّ مَا لَيْسَ مِنَ الإِيمَانِ فَهُوَ خَطِيَّةٌ&#8221; (رو ١٤: ٢٣).</p>
<p>أيها الأخوة.. إن الطريق إلى الله يحتاج بلا شك إلى الإيمان.. فالطريق هو إلى الله، والإيمان هو بالله وفي الله.. فما هوهذا الإيمان الذي نحتاجه ونحن نعد لرحلة الطريق؟.</p>
<p>لقد قدم بولس الرسول تعريفاً محدداً للإيمان قال: &#8220;الإِيمَانُ فَهُوَ الثِّقَةُ بِمَا يُرْجَى وَالإِيقَانُ بِأُمُورٍ لاَ تُرَى&#8221; (عب ١١: ١).. الإيمان ثقة، ولأنه ثقة بالله، لذا &#8220;َكُلُّ مَا لَيْسَ مِنَ الإِيمَانِ فَهُوَ خَطِيَّةٌ&#8221;.. لأن عدم الثقة في الله اهانة له.. إذا حدث وقال إنسان لآخر إني لا أثق بك، أو لا ثقة لي فيك، ألا تعتبر هذه إهانة كبيرة لذلك الإنسان؟!.. وحتي لو لم نتجرأ ونقول هذه الكلمه لله أو عنه، لكنه يعرف الخفايا والسرائر..</p>
<p>الإيمان هو اليد التي تأخذ ما تريده من الله.. هي اليد التي يتعامل الله معها، وبها نأخذ كل عطاياه.. إذا أراد إنسان أن يُعطي آخر شيئاً ما، فعلي هذا الآخر أن يمدّ يده ويبسطها لكي ما يأخذ هذا الشيء.. من جهة الله هو مستعد أن يعطيك كل شيء مقابل شيء واحد هو الإيمان!! ألم يقل المسيح بفمه الإلهي الطاهر: &#8220;كُلُّ مَا تَطْلُبُونَهُ فِي الصَّلاَةِ مُؤْمِنِينَ تَنَالُونَهُ&#8221; (مت ٢١: ٢٢).. لقد أعطي الله الإيمان كل القوة، وكل الفاعلية أن يأخذ كل ما يريده .</p>
<p>على أن فشل البعض في الحصول على طلباتهم من الله - رغم ادعائهم بالإيمان - إنما يرجع لبعض الأسباب.. لا بد وأن يكون الإيمان كاملاً.. ولكي يكون الإيمان كاملاً: لا بد وأن تتوافر له ومعه بعض العناصر..</p>
<p><strong>أ- الشعور بوجود الله:</strong></p>
<p>أول ما ينبغي توفره في الإيمان هو الشعور بوجود الله.. نحن في رحلة طويلة وسائرين فيها، ولا نعلم ماذا يصادفنا خلالها، لذا فإن الأمر يتطلب إيماناً بالله.. يقول معلمنا بولس الرسول: &#8220;لكِنْ بِدُونِ إِيمَانٍ لاَ يُمْكِنُ إِرْضَاؤُهُ، لأَنَّهُ يَجِبُ أَنَّ الَّذِي يَأْتِي إِلَى اللهِ يُؤْمِنُ بِأَنَّهُ مَوْجُودٌ، وَأَنَّهُ يُجَازِي الَّذِينَ يَطْلُبُونَهُ&#8221; (عب ١١: ٦).. وسوف نعرض لهذه النقطة بإسهاب ونحن نعالج موضوع رفاق الطريق.. إن الله يرافقنا في هذا الطريق مع رفاق آخرين.. &#8220;لأَنَّهُ يَجِبُ أَنَّ الَّذِي يَأْتِي إِلَى اللهِ يُؤْمِنُ بِأَنَّهُ مَوْجُودٌ&#8221;. ما معنى أن الله موجود؟ ما معنى الشعور والإحساس بوجود الله؟</p>
<p>نقول الله موجود، وربنا موجود.. نعم، الله موجود، لكن المقصود هنا ليس المعنى اللاهوتي أن الله موجود في كل مكان.. إنما موجود هنا تعني أنه ينظر ويعتني ويتصرف وينتقم إذا تطلب الأمر الإنتقام، ويحفظ إذا لزم الحفظ ، ويستر إذا إحتاج الأمر إلى الستر، ويشجع في حالة الحاجة إلى التشجيع، ويبعث الرجاء في النفس في حالة الإفتقار إلى الرجاء.</p>
<p>نعم الله موجود &#8220;لأَنَّهُ يَجِبُ أَنَّ الَّذِي يَأْتِي إِلَى اللهِ يُؤْمِنُ بِأَنَّهُ مَوْجُودٌ&#8221;، هناك بعض الناس في أوقات الضيق والتجارب يقولون: نريد أن نرى أين الله - فين ربنا ده.. الإنسان كاد يكفر أين هو الله. ولو كان فيه ربنا كان يحصل كده..الخ، مثل هؤلاء الناس لا يشعرون أن الله موجود. ولو أن الله أعطاهم كل رغباتهم لكان بالفعل موجوداً، حتى لو كانت هذه الرغبات خاطئة، ومن المستحيل أن يحقق الله رغبات خاطئة ، أو يعطي الانسان ما ليس لخلاص نفسه .</p>
<p>علي أي الحالات، فإن الشعور بوجود الله عنصر من عناصر الايمان.. هو تدريب شيق وقوي ونافع جداً، لأنه يمنع الإنسان من الزلل. إنه يحس بأن الله موجود - ليس فقط ليتشجع بهذا الشعور والإحساس - بل موجود وناظر إليه ويرقب كل تصرفاته.. وهذا وحده كاف لردع الإنسان ومنعه من الخطأ. وما أبلغ العبارة التي قالها المرنم: &#8220;جَعَلْتُ الرَّبَّ أَمَامِي فِي كُلِّ حِينٍ، لأَنَّهُ عَنْ يَمِينِي فَلاَ أَتَزَعْزَعُ&#8221; (مز١٦: ٨).. وطالما هو موجود، فإنه يمنع الأضرار، ويوقف المصائب، ويبعد عنا الكوراث.. هذا هو الإيمان ببساطة..</p>
<p>هذا عن العنصر الأول الخاص بالإحساس بوجود الله.. أما العنصر الثاني فهو الثقة في الله .</p>
<p><strong>ب- الثقة في الله:</strong></p>
<p>الإيمان هو أن يثق الانسان في الله، وفيما يطلبه منه.. تعالوا نقيِّم ثقتنا بالله كبشر. إنه لأمر مخجل حقاً أن يثق المريض في طبيبه أكثر من ثقته بالله.. وأن يثق المسافر في سائق العربة أو القطار أو الطائرة ثقة تفوق ثقته بالله.. الإنسان يركب وسيلة المواصلات أياً كانت، وينشغل بالقراءة أو أي شيء آخر، وهو واثق أن السائق سوف يصل به إلى حيث يريد!! إنه أمر مخجل حقاً أن نثق ببعض الناس أكثر من ثقتنا بالله!! لماذا هذا؟!.</p>
<p>لقد أعطانا الله مواعيد عظمى وثمينة (2بط١: ٤).. ها إن الله قد أعطاك كل شيء. أعطاك سلطاناً على السماء والأرض.. إن الله لم يعطنا الجزء، بل أعطانا الكل بواسطة الإيمان.. إنسان محتاج يطلب من إنسان ثري أن يقرضه مبلغاً من المال فيقول له ذلك الثري الطيب سوف لا أعطيك المبلغ الذي تطلبه، بل سأعطيك مفتاح خزانتي لتأخذ منها ما تريد!! هكذا يتعامل الله معنا.. ألم يقل المسيح له المجد &#8220;اِسْأَلُوا تُعْطَوْا اُطْلُبُوا تَجِدُوا اِقْرَعُوا يُفْتَحْ لَكُمْ لأَنَّ كُلَّ مَنْ يَسْأَلُ يَأْخُذُ، وَمَنْ يَطْلُبُ يَجِدُ، وَمَنْ يَقْرَعُ يُفْتَحُ لَهُ&#8221; (مت ٧: ٧، ٨).. &#8220;وَمَهْمَا سَأَلْتُمْ بِاسْمِي فَذلِكَ أَفْعَلُهُ لِيَتَمَجَّدَ الآبُ بِالابْنِ إِنْ سَأَلْتُمْ شَيْئًا بِاسْمِي فَإِنِّي أَفْعَلُهُ&#8221; (يو١٤: ١٣، ١٤). وأمام هذه المواعيد العجيبة، هناك إحتمالان:فإما أن الله غير صادق في مواعيده، وإما أن هناك عيبًا فينا، أو أننا لا نريد أن نأخذ!! وبطبيعة الحال فإن الله صادق، وحاشا له أن يكذب (رو٣: ٤).. &#8221; اَلسَّمَاءُ وَالأَرْضُ تَزُولاَنِ وَلكِنَّ كَلاَمِي لاَ يَزُولُ&#8221; (مت ٢٤: ٣٥).. هذه هي مواعيد الله.. إذن لا بد وأن يكون العيب فينا..</p>
<p>ان يد الله ممدودة مستعدة لعطائنا، لكننا لا نأخذ.. بابه مفتوح مستعد لدخولنا لكننا لا ندخل. وصوته العالي ينادينا ونحن لا نصغي ولا نسمع أو لا نريد أن نسمع ونقبل إليه!! العيب ليس في الله بل فينا.. هلم، ثق في الله وكل مواعيده، وتعال وسوف ترى حسن صنيعه معك.. فقط ثق في مواعيده. واتكل عليه من كل قلبك وسترى عجباً..</p>
<p>لكن علينا أن نعرف ونحن نتكلم عن الثقه في الله، أن هناك أعداء للإيمان. ومن أعداء الإيمان العقل، بل لعله أكبر الأعداء!! ليس معنى هذا أن العقل خطية أو تجربة حاشا لنا أن نقول ذلك .لكننا نقصد الإنسان الذي يضع أقوال الله ومواعيده تحت عقله وفحصه، يأخذ منها ما يقبله عقله، ويرفض كل ما عداه.. مثل هذا الإنسان لن يستفيد من مواعيد الله.. لقد امتدح السيد المسيح إيمان الصغار: &#8220;اَلْحَقَّ أَقُولُ لَكُمْ: إِنْ لَمْ تَرْجِعُوا وَتَصِيرُوا مِثْلَ الأَوْلاَدِ فَلَنْ تَدْخُلُوا مَلَكُوتَ السَّمَاوَاتِ&#8221; (مت ١٨: ٣)&#8230; وما ذلك إلاً لأن الصغار عندهم عنصر التصديق، الذي يستند إلى البراءة والبساطة. الطفل أو الصغير لا يفكر بعقله، لكنه يسلِّم بما يُقال له ويصدقه ..</p>
<p>هكذا مطلوب منا أن نثق في صدق الله وصلاحه وحبه وعنايته وحدبه &#8220;هَلْ تَنْسَى الْمَرْأَةُ رَضِيعَهَا فَلاَ تَرْحَمَ ابْنَ بَطْنِهَا؟ حَتَّى هؤُلاَءِ يَنْسَيْنَ، وَأَنَا لاَ أَنْسَاكِ&#8221; (إش٤٩: ١٥).. ونثق في أن الله لا ولن يتغير &#8220;لَيْسَ عِنْدَهُ تَغْيِيرٌ وَلاَ ظِلُّ دَوَرَانٍ&#8221; (يع١: ١٧). و&#8221;هُوَ هُوَ أَمْسًا وَالْيَوْمَ وَإِلَى الأَبَدِ&#8221; (عب١٣: ٨).. ومعنى أن الله ليس عنده تغيير، أنه كما كان مع آبائنا واسلافنا سيكون معنا.. إن الكتب المقدسة وسير القديسين مليئة بمعاملات الله معهم، وعنايته بهم، ورعايته لهم، حتى وهم في شقوق الأرض والمغاير والبراري والجبال.. أما عنصر التغيير فقد حدث فينا، فقلِّت ثقتنا في الله أو كادت تنعدم..</p>
<p>ينبغي أن تكون أحد عناصر ثقتنا في الله أنه صالح ومحب لا ينسي أولاده. ثم نثق في قوته وقدرته وأنه قادر على كل شيء.. إن هذا الكلام يعتبر من البديهيات، لكن الكلام النظري شيء، والإحساس واليقين بصدقه شيء آخر هو المطلوب.. إن عبارة &#8220;الضابط الكل&#8221; التي نسمعها ونرددها، معناها الحرفي في اللغة اليونانية &#8220;الكلي القدرة&#8221;.. هذا هو إلهنا الذي نعبده ونسير خلفه ونتبعه، وهذه هي الثقة التي لنا فيه.. إنه معنا كل الأيام إالي إنقضاء الدهر (مت٢٨: ٢٠).</p>
<p>حدث أن شعب الله قديماً، فيما كانوا يقتربون من شاطئ البحر الأحمر، أنهم رأوا فرعون بمركباته وجنوده وفرسانه، يجدّون في اثرهم، امتلأت قلوبهم هلعاً ورعباً، وارتجفوا وتذمروا على موسى، لكن موسى رجل الله قال لهم: &#8220;لاَ تَخَافُوا قِفُوا وَانْظُرُوا خَلاَصَ الرَّبِّ الَّذِي يَصْنَعُهُ لَكُمُ الْيَوْمَ&#8230;. الرَّبُّ يُقَاتِلُ عَنْكُمْ وَأَنْتُمْ تَصْمُتُونَ&#8221; (خر١٤: ١٣، ١٤).. إن حادث البحرالأحمرلم تكن حدثاً تاريخياً وقع وانتهى، لكنه مازال على مستوى الوقع يتكرر من يوم الى يوم. مازال الله – بنفس الصورة القديمة يعمل معنا، لكن فهمنا ثقيل - ألم يقل المسيح له المجد: &#8220;وَهذِهِ الآيَاتُ تَتْبَعُ الْمُؤْمِنِينَ: يُخْرِجُونَ الشَّيَاطِينَ بِاسْمِي،&#8230; يَحْمِلُونَ حَيَّاتٍ، وَإِنْ شَرِبُوا شَيْئًا مُمِيتًا لاَ يَضُرُّهُمْ&#8221; (مر١٦: ١٧، ١٨).. يجب ان نفهم أننا نحيا بمعجزة. وكل من له حس روحي يستطيع أن يلمس يد القدير وهي تعمل. أنا لا أتكلم  عن أحداث مضى عليها مئات السنين، لكني أتكلم عن تاريخنا القريب والمعاصر. والله بهذا المفهوم يتعامل مع شعبه كأفراد و جماعة مؤمنين وكنيسة..</p>
<p>ماذا يقول السيد المسيح أيها الأخوة &#8220;لكِنِ اطْلُبُوا أَوَّلاً مَلَكُوتَ اللهِ وَبِرَّهُ، وَهذِهِ كُلُّهَا تُزَادُ لَكُمْ. فَلاَ تَهْتَمُّوا لِلْغَدِ&#8221; (مت٦: ٣٣، ٣٤).. وملكوت الله هنا تعني خلاص النفس &#8220;هَا مَلَكُوتُ اللهِ دَاخِلَكُمْ&#8221; (لو١٧: ٢١). الله يريدنا ألا ننشغل الا بخلاص أنفسنا، أما الأمور الباقية فقد أخذ الله مسوليتها.. يعوزنا هذا الإيمان ونحن في رحلة الطريق الى الله، حتى لا ننشغل بأمور أخرى، أعلن الله تكفله بها..</p>
<p>هناك عدو آخر من أعداء الإيمان هو الشك.. في إحدي المرات أمر السيد المسيح تلاميذه أن يركبوا السفينة ويذهبوا الى عبر البحر، وفي الهزيع الأخير من الليل رأوه التلاميذ ماشياً على الماء، في البداية ظنوا أنه خيال، فقال لهم &#8220;أَنَا هُوَ لاَ تَخَافُوا&#8221;، فقال له بطرس: &#8221; إِنْ كُنْتَ أَنْتَ هُوَ، فَمُرْني أَنْ آتِيَ إِلَيْكَ عَلَى الْمَاءِ. فَقَالَ:تَعَالَ فَنَزَلَ بُطْرُسُ مِنَ السَّفِينَةِ وَمَشَى عَلَى الْمَاءِ لِيَأْتِيَ إِلَى يَسُوعَ وَلكِنْ لَمَّا رَأَى الرِّيحَ شَدِيدَةً خَافَ وَإِذِ ابْتَدَأَ يَغْرَقُ، صَرَخَ قِائِلاً: يَارَبُّ، نَجِّنِي فَفِي الْحَالِ مَدَّ يَسُوعُ يَدَهُ وَأَمْسَكَ بِهِ وَقَالَ لَهُ: يَا قَلِيلَ الإِيمَانِ، لِمَاذَا شَكَكْتَ؟&#8221; (مت١٤: ٢٢- ٣١).. ولو لم يشك بطرس لاستمر في سيره على الماء.</p>
<p>وفي يوم اثنين البصخه بعد أن يبست شجرة التينة غير المثمرة بأمر الرب يسوع وبكلمته قال لتلاميذه &#8220;اَلْحَقَّ أَقُولُ لَكُمْ: إِنْ كَانَ لَكُمْ إِيمَانٌ وَلاَ تَشُكُّونَ، فَلاَ تَفْعَلُونَ أَمْرَ التِّينَةِ فَقَطْ، بَلْ إِنْ قُلْتُمْ أَيْضًا لِهذَا الْجَبَلِ: انْتَقِلْ وَانْطَرِحْ فِي الْبَحْرِ فَيَكُونُ&#8221; (مت٢١: ٢١).. بقدر ما يبدو هذا الإيمان في نظر البعض صعباً، لكننا لا نستطيع أن نخطيء، وننسب لله عدم الصدق في كلامه ومواعيده. إن عطية الإيمان، وهبة الإيمان، وقوة الإيمان، وما يستطيعه الإيمان إنما هي عطية مجانية لكل إنسان بشرط أن يصدق فقط.. الله يريد أن يعطينا، ويريدنا أن نأخذ، لكن يعوزنا يد الإيمان المبسوطة التي تأخذ من الله. أعود وأقول إن الإيمان هواليد التي نأخذ كل شيء من الله .</p>
<p>ثم ماذا أيها الأخوة.. كان ينبغي أن نتكلم عن شيء آخر، ونحن نعد لرحلة الطريق. وهو شيء مرتبط بالإيمان، لكني سأتحدث عنه بإسهاب في الموضوع القادم &#8220;مؤونة الطريق&#8221;.. هذا الشيء هو الحب.. والحب والايمان مرتبطان ببعضهما. يقول رب المجد &#8220;اَلَّذِي عِنْدَهُ وَصَايَايَ وَيَحْفَظُهَا فَهُوَ الَّذِي يُحِبُّنِي، وَالَّذِي يُحِبُّنِي يُحِبُّهُ أَبِي، وَأَنَا أُحِبُّهُ، وَأُظْهِرُ لَهُ ذَاتِي&#8221; (يو١٤: ٢١).. هذا هو قمة الإيمان الذي يستند إلى الحب. إن الحب والإيمان يسيران جنباً إلى جنب، ويرتبطان ببعضهما ارتباطاً وثيقاً.. لأنه كيف يمكن لإنسان أن يحب من لا يصدقه ولا يثق به (الإيمان)، أو كيف يمكن لإنسان أن يثق ويصدق (الإيمان) من لا يحبه؟!..</p>
<p>ألا فليباركنا الله بكل بركة روحية ويعين ضعف إيماننا، ويختم بالبركة على هذه الكلمة آمين.</p>
<hr />
<p><a href="#_ftnref1" name="_ftn1">[1]</a>  كتاب الرسائل الفصحية للقديس أثناسيوس الكبير - الرسالة الأولى (عيد القيامة في ١١ برمودة سنة ٤٥ ش. - ٦ أبريل سنة ٣٢٩ م.) - صفحة 3 - القمص تادرس يعقوب ملطي.</p>
<p><a href="#_ftnref2" name="_ftn2">[2]</a>  لأن الناموس إذ له ظل الخبرات العتیدة (عب١:١٠.(</p>
<p><a href="#_ftnref3" name="_ftn3">[3]</a>  (إش ٥٨ :٥) یبین عدم قبول االله التمسك بمظاهر العبادة إذا لم تقترن بالروح.</p>
<p><a href="#_ftnref4" name="_ftn4">[4]</a>  یحذرهم الناموس من تقدیم الذبیحة في أي مكان آخر (تث١٢:١١-١٤).</p>
<p><a href="#_ftnref5" name="_ftn5">[5]</a>  یقصد صوم أسبوع الآلام وقدیماً كان يقام منفصلاً عن صوم الأربعين المقدسة. كما ورد في البا ب الثامن عشر من كتاب: &#8220;مصباح الظلمة وإیضاح الخدمة&#8221; لابن كبر (قسیس المعلقة في القرن 14م) وكانت جمعة الآلام تعمل مفردة في الوقت المخصوص بها لأن  لها وقتاً مشروطاً واحداً محدداً قرره الآباء ورسموه ليكون الفصح المجيد بعد عید فصح الیهود بحیث أنه لا یكون معه البتة. ثم اتصلت بآخر الأربعین المقدسة فحسن وضعها&#8230;</p>
<p><a href="#_ftnref6" name="_ftn6">[6]</a>  التي لأسبوع الآلام.</p>
<p><a href="#_ftnref7" name="_ftn7">[7]</a>  وهي السبعة أسابیع التي لأیام الخماسین.</p>
<p><a href="#_ftnref8" name="_ftn8">[8]</a>  عید البندیكستي Pentecost .وهو عید حلول الروح القدس ویسمى كذلك عید العنصرة. (أع ٢: 1- ١٤).</p>
<p><a href="#_ftnref9" name="_ftn9">[9]</a>  تفسير انجيل يوحنا للقديس كيرلس الاسكندري - المجلد الاول (ص٢٠٣ - ٢٠٩) - ترجمة دكتور نصحي عبد الشهيد وآخرون.</p>
<p><a href="#_ftnref10" name="_ftn10">[10]</a>  كتاب الحقيقة والظلال - صفحة ٢١ - ترجمة دكتور سعيد حكيم يعقوب.</p>
<p><a href="#_ftnref11" name="_ftn11">[11]</a>  كتاب معالم الطريق إلي الله - صفحة 51 - الأنبا يؤانس أسقف الغربية .</p>

      {% endcreateArticleAccordions %}
    </section>
  {% endblock %}
  