---
layout: 'layouts/reading.html'
title: 'يوم الثلاثاء من الأسبوع الثاني للخمسين يوم المُقَدَّسَة'
tags: 'pentecost'
permalink: /articles/pentecost/2-2.html
---
  {% block content %}
    <section id="readings">
      <ul>
      {% if 'undefined' != 'undefined' %}
      
      {% else %}
      {% if '19.9:19' != 'null' %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">العشية</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeVespers '19.9:19' '40.17:19-23' %}
          </div>
        </div>
      </li>
      {% endif %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">باكر</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeMatins '19.7:6,8' '40.9:27-31' '' %}
          </div>
        </div>
      </li>
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <h3 class="flex items-center justify-between">
            <span class="kufi">القداس</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </h3>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeLitugy '45.1:7-10' '62.1:6-10' '44.4:5-7' '19.7:6-8' '43.5:22-24' %}
          </div>
        </div>
      </li>

      {% endif %}
        </ul>
    </section>
    <section id="article">
      <h3 class="mt-8 mb-4 heading-explain">شرح القراءات</h3>
      {% createArticleAccordions %}
        <h3>عظمة الإيمان</h3>
<p>تتكلم قراءات هذا اليوم عن عظمة الإيمان وكيف أن الإيمان يصنع المعجزات ويكرز به في كل العالم ويصمد أمام صياح الشعوب والحكام، وينجي من الدينونة ..</p>
<p>فتركز المزامير على أن الإيمان ينجي الانسان من دينونة المعاندين، وفي نفس الوقت يدينهم الله على محاربتهم لأولاده ..</p>
<p>&#8221; قم يارب لئلا يعتز الإنسان. ولتدن الأمم أمامك.&#8221;   <strong>(مزمور عشية)</strong></p>
<p>&#8221; قم يارب برجزك. وارتفع فى أقطار أعدائي&#8221;      <strong> (مزمور باكر)</strong></p>
<p>&#8221; استيقظ ياربى وإلهي. بالأمر الذي أوصيت. ومجمع الشعوب يحيط بك &#8230;. الرب يدين الشعوب&#8221; <strong>(مزمور القداس )</strong></p>
<p>ويتكلم انجيل عشية عن الإيمان الصانع معجزات والذي يعطي النصرة على الشياطين، والصليب الذي يتحدى الموت &#8220;فقال لهم: لقلة إيمانكم فإني الحق أقول لكم لو كان لكم إيمان مثل حبة خردل لقلتم لهذا الجبل إنتقل من هنا فينتقل &#8230;.. قال لهم يسوع أن ابن الانسان سوف يُسلم إلى أيدي الناس فيقتلونه وبعد ثلاثة أيام يقوم.&#8221; (مت ١٧ : ٢٠ - ٢٣ )</p>
<p>وفي انجيل باكر عن الايمان واهب البصيرة &#8221; فقال لهما يسوع أتؤمنان أني قادر أن أفعل هذا، قالا له نعم يا رب حينئذ لمس أعينهما قائلاً ليكن حسب ايمانكما فإنفتحت أعينهما&#8221; (مت ٩ : ٢٧ - ٣١ )</p>
<p>وفي <strong>البولس</strong> عن شهادة الايمان في كل العالم &#8220;ثم أني أشكر إلهي أولاً بيسوع من جهة جميعكم أن إيمانكم يُنادى به في كل العالم&#8221; (رو ١ : ٨ )</p>
<p>وفي <strong>الكاثوليكون</strong> عن إيمان التوبة والاعتراف بالخطية الذي يجعل الانسان مستحقاً للخلاص العظيم وغفران الخطايا والتطهر من كل اثم &#8220;إن اعترفنا بخطايانا فهو أمين وعادل حتى يغفر لنا خطايانا ويطهرنا من جميع الآثام&#8221; ( ١يو ١ : ٩ ).</p>
<p>وفي <strong>الابركسيس</strong> عن الايمان المخفي عن العالم والذي يهيج عليه العالم &#8220;فلما أقاموهما في الوسط جعلوا أيضاً يسألونهما بأية قوة وبأي إسم عملتم هذا&#8221; (أع ٤ : ٧ )</p>
<p>وفي <strong>انجيل القداس</strong> عن الايمان المنجي من الدينونة &#8220;الحق الحق اقول لكم إن من يسمع كلامي ويؤمن بالذي أرسلني فله حياة أبدية ولا يأتي إلى الدينونة بل قد إنتقل من الموت الى الحياة&#8221; (يو ٥ : ٢٤ )</p>
<h3>ملخص الشرح</h3>
<ul>
<li>الله يدين المعاندين والمضطهدين لأولاده وينجي أولاده من دينونته.     [مزمور عشية - مزمور باكر-  مزمور القداس]</li>
<li>الإيمان يعطي النصرة على الشيطان ويتحدى الموت.    [انجيل عشية]</li>
<li> الايمان يهب بصيرة الحياة ويصنع المعجزات.  [انجيل باكر]</li>
<li>شهادة الايمان في كل العالم.  [ البولس ]</li>
<li>إيمان التوبة والشركة مع الله والإعتراف بالخطية يعطي للانسان قوة غفران وتطهير دم المسيح.   [الكاثوليكون]</li>
<li>العالم يضطهد المؤمنين ويخفي عنه ايمانهم (بإرادته) ولقساوته.   [الابركسيس]</li>
<li>الايمان ينجي من الدينونة الإلهية.      [إنجيل القداس]</li>
</ul>
<h3>عظات آبائية <strong>ليوم الثلاثاء من الأسبوع الثاني </strong><strong>(أحد الخبز)</strong><strong> من الخمسين يوم المقدسة</strong></h3>
<h4>من الرسائل الفصحية - للقديس أثناسيوس الرسولي<a href="#_ftn1" name="_ftnref1">[1]</a></h4>
<p><strong>لنقتد بالأولين في حفظ العيد</strong></p>
<p>إخوتي هل جاء عيد الفصح وحل السرور، إذ أتى بنا الرب الى هذا العيد مرة أخرى، لكي إذ نتغذى روحياً  كما هي العادة - نستطيع أن نحفظ العيد كما ينبغي؟</p>
<p>إذا فلنعيد به فرحين فرحاً سماوياً مع القديسين الذين نادوا قبلاً بمثل هذا العيد، وكانوا قدوة لنا في الإهتداء بالمسيح. لأن هؤلاء ليس فقط أؤتمنوا على الكرازة بالإنجيل فحسب، وإنما متى فحصنا الأمر نجدهم كما هو مكتوب أن قوته كانت ظاهرة فيهم، لذلك كتب (الرسول) &#8220;كونوا متمثلين بي&#8221; (1تي 2: 7) هذه الوصية الرسولية تنذرنا نحن جميعاً، لأن الوصايا التي أرسلها (الرسول) الى اشخاص، إنما يأمر بها في نفس الوقت كل انسان في كل مكان، إذ كان  معلماً لكل الأمم في الإيمان والحق.</p>
<p>على وجه العموم، تحثنا وصايا كل القديسين على ذلك بالقدوة، وذلك كما استعمل سليمان الأمثال قائلاً: &#8220;اسمعوا أيها البنون تأديب الرب واصغوا لأجل معرفة بفهم، لأني أعطيتكم تعليماً صالحاً فلا تتركوا شريعتي. فإنى كنت أبناً لأبي غضاً  وحيداً عند أمي&#8221; (أم 4: 1). لأن الأب البار يربي أولاده تربية حسنة، اذ يجتهد في تعليم الآخرين بسيرته المستقيمة الفاضلة. حتى اذا ما حدثت مقاومة، لا يخجل من سماعه هذا القول &#8220;فأنت الذي تعلم غيرك ألست تعلم نفسك&#8221; (رو 2: 21) إنما يكون بالحري مثل خادم أمين يقدر أن يخلص نفسه ويربح الآخرين. وإذ تتضاعف النعمة المعهودة اليه يستطيع أن يسمع ذلك القول &#8220;نعماً أيها العبد الصالح والأمين. كنت أميناً في القليل فأقيمك على الكثير. أدخل إلى فرح سيدك&#8221; (مت25: 21).</p>
<p>لنكن سامعين عاملين، ليتنا لا نكون سامعين فقط بل وعاملين بوصايا مخلصنا، فإن هذا يليق بنا في كل الأوقات وبالأخص في أيام العيد، أننا بأقتدائنا بسلوك القديسين يمكننا أن ندخل معهم الى فرح ربنا الذي في السموات، هذا الفرح غير الزائل بل باق بالحقيقة.</p>
<p>هذا الفرح يحرم فاعلو الشر أنفسهم منه بأنفسهم، ويتبقى لهم الحزن والغم والتنهدات مع العذابات..</p>
<p>لنرى هؤلاء الذين ليس لهم الاقتداء باهتداء القديسين، ليس لهم الفهم الحقيقي الذي به كان الإنسان منذ البداية عاقلاً وعلى صورة الله.. ماذا يشبهون؟!..</p>
<p>انهم بسبب عدم نعمتهم يشبهون بالوحوش التي بلا فهم، إذ صاروا في اللذات الدنسة مثل الحيوانات، كفرسان جامحة! (إر 5: 8).</p>
<p>لقد دعوا &#8220;أولاد الأفاعي&#8221; (مت3: 7) كقول يوحنا بسبب أهوائهم وأخطائهم والخطية التي تقودهم الى الموت، اذ لم يرتفعوا بأذهانهم عن الأمور المنظورة، بل يحسبون أن هذه الأمور المنظورة هي أمور صالحة، ويسرون بها لأجل خدمة شهواتهم لا الله.</p>
<p><strong>الكلمة المكتوبة توبخ الأشرار</strong></p>
<p>انه لأجل هذا السبب عينه جاءت الكلمة المحبة للإنسان.. تبحث لتجد ما قد فقد، وتطلب أن تصدهم عن غباوتهم هذه صارخة قائلة &#8220;لا تكونوا كفرس أو بغل بلا فهم بلجام وزمام زينته لكم لئلا يدنو اليك&#8221; (مز32: 9). وإذ كان هؤلاء متهاونين ومقتدين بالأشرار، لهذا يصلي النبي في الروح قائلاً بأنهم في نظره كانوا يشبهون تجار فينيقية (إش23: 2).</p>
<p>ويعترضهم الروح المنتقم ضدهم بهذه الكلمات &#8220;يا رب عند التيقظ تحتقر خيالهم&#8221; (مز73: 20) وهكذا إذ يتغيرون إلى شبه الأغبياء، ينطمس فهمهم.. لذلك &#8220;بينما هم يزعمون أنهم حكماء صاروا جهلاء.. وكما لم يستحسنوا أن يبقوا الله في معرفتهم أسلمهم الله الى ذهن مرفوض ليفعلوا ما لا يليق&#8221; (رو1: 22، 28)، لأنهم لم ينصتوا الى الصوت النبوي الذي وبخهم قائلاً &#8220;فبمن تشبهون الله وأي شبه تعادلون به؟!&#8221; (إش 40: 18)، ولا أنصتوا إلى داود الذي صلى من أجل أمثالهم وترنم قائلاً &#8220;مثلها يكون صانعوها بل كل من يتكل عليها&#8221; (مز115: 8)، إذ صاروا عمى عن التطلع الى الحق..</p>
<p><strong>لنفرح بالعيد بحفظنا الوصايا</strong></p>
<p>والآن فإن أولئك الذين لا يحفظون العيد.. هؤلاء مقدمون على أيام حزن لاسعادة، لأن &#8220;لا سلام قال الرب</p>
<p>للأشرار&#8221; (إش 48: 22)، وكما تقول الحكمة إن السعادة والفرح منتزعان عن فمهم. هكذا تكون أفراح الأشرار.</p>
<p>أما عبيد الرب الحكماء، فقد لبسوا بحق الإنسان الجديد المخلوق بحسب الله (أف 4: 24) هؤلاء يتقبلون كلمات الإنجيل، ويحسبون الوصايا التي أعطيت لتيموثاوس على أنها وصايا عامة إذ جاء فيها &#8220;كن قدوة للمؤمنين في الكلام، في التصرف، في المحبة، في الروح، في الإيمان، في الطهارة&#8221; (1تي 4: 12).</p>
<p>وهكذا يحفظون العيد حسناً، حتى ينظر إليهم غير المؤمنين ويقولون &#8220;إن الله بالحقيقة فيكم&#8221; (1كو 14: 25). فكما أن من يقبل رسولاً إنما يقبل الذي أرسله (مت10: 40)، هكذا من يسلك على منوال القديسين بجعل الرب هدفه وقصده في كل شيء، لذلك فإن بولس وهو مرتبط بالمسيح يقول &#8220;كما أنا بالمسيح&#8221;.</p>
<p>لأنه توجد أولاً كلمات مخلصنا ذاتها، إذ وهو الإله العظيم قال لتلاميذه &#8220;تعلموا مني لأني وديع ومتواضع القلب فتجدوا راحة لنفوسكم&#8221; (مت11: 29).</p>
<p>كذلك عندما صب ماء في مغسل واتزر بمنشفة وغسل أقدام تلاميذه قال لهم &#8220;أتفهمون ما قد صنعت بكم. أنتم تدعونني معلماً وسيداً وحسناً تقولون لأني أنا كذلك. فإن كنت أنا السيد والمعلم قد غسلت أرجلكم، فأنتم يجب عليكم أن يغسل بعضكم أرجل بعض. لأني أعطيتكم مثالاً حتى كما صنعت أنا بكم تصنعون أنتم أيضاً&#8221; (لو13: 12- 16).</p>
<p><strong>لنقتد بالرب</strong></p>
<p>آه يا إخوتي.. ما أعجب حب المخلص المملوء ترفقاً؟! بأي قوة، وبأي بوق يلزمنا أن نهتف صارخين ممجدين بركاته علينا؟! فلا نحمل صورته فحسب، بل ونأخذ منه مثلاً ونموذجاً للتعييد السماوي. وكما إبتدأ هو هكذا يلزمنا نحن أن نکمل، فلا نرتعب من الآلام، ولا نشتم من يشتمنا، بل نبارك لاعنيننا، ونسلم أمورنا في كل شيء الله الذي يقضى بعدل (1بط 2: 21- 23).</p>
<p>لأن أولئك الذين طبعوا على هذا، وشكلوا أنفسهم الإنجيل، يكونون شركاء مع المسيح، وممتثلين بالتحول الرسولي، الذي على أساسه يصيرون مستحقين للمديح منه، ذاك الذي مدح أهل كورنثوس عندما قال &#8220;فأمدحكم أيها الأخوة على أنكم تذكرونني (1كو11: 2)..</p>
<p><strong>لنتمسك بالتقليد وليس بتعاليم الناس</strong></p>
<p>هؤلاء الأشرار لا يتخفون فقط من جهة الظاهر حاملين كقول الرب ثياب الحملان، ظاهرين كقبور مبيضة، بل وينطقون بالكلمات الإلهية بينها دوافعهم الداخلية شريرة. وأول من أخذ هذه الصورة هو الحية، التي نفثت بالشر منذ البداية، فتحدث الشيطان (عن طريقها) مع حواء خادعاً إياها. وجاء بعد ذلك أولئك الذين يبعثون بالهرطقات الباطلة، فيستخدمون كلمات الكتاب المقدس، لكنهم لا يتمسكون بما تسلمناه من القديسين، ناظرين إلى أن ما يتسلموه من القديسين هو من تقاليد الناس، هذا خطأ، إذ هم لا يعرفون من هم القديسين ولا ما هي قوتهم؟.. لذلك بحق مدح بولس أهل كورنثوس، لأن أفكارهم كانت متفقة مع التقاليد التي سلمهم إياها (1كو 11: 2).</p>
<p>وقد وبخ الرب بحق اليهود قائلاً لهم &#8220;وأنتم أيضاً لماذا تتعدون وصية الله بسبب تقليدكم؟!&#8221; (مت 15: 3). وذلك لأنهم غيروا الوصايا التي استلموها من الله بحسب فهمهم مفضلين اتباع تقاليد الناس.</p>
<p>بعد هذا بمدة قصيرة أصدر بولس الطوباوى توجيهاته الى أهل غلاطية الذين كانوا في خطر من هذا، كاتباً لهم يقول &#8220;إن كان أحد يبشركم بغير ما قبلهم فليكن اناثيما&#8221; (غل 1: 9).</p>
<p><strong>الفرق بين التقليد وتعاليم الناس</strong></p>
<p>لا توجد صداقة بين كلمات القديسين والأوهام التي من خلق البشر، لأن القديسين هم خدام للحق، كارزين بملكوت السموات، أما هؤلاء الذين يسلكون في اتجاه مضاد، فإنه ليس لهم سوى أن يأكلوا ويفكروا فيما سينتهي، قائلين &#8220;لنأكل ونشرب لأننا غداً نموت&#8221; (إش22: 13)،  لذلك ينتهر لوقا الطوباوي.  ما هو من خلق الناس مسلماً إيانا ما هو مروٍ من القديسين ذاكراً في بدء الإنجيل &#8220;إذ كان كثيرون قد أخذوا بتأليف قصة في الأمور المتيقنة عندنا كما سلمها الينا الذين كانوا منذ البدء معاينين و خداماً للكلمة. رأيت أنا أيضاً إذ تتبعت كل شيء من الأول بتدقيق أن أكتب على التوالي اليك أيها العزيز ثاوفيلس لتعرف صحة الكلام الذي علمت به&#8221; (لو1: 1).</p>
<p>فكل قديس من القديسين يتسلم التقاليد يساهم بغير تحريف أن يثبت تعاليم الأسرار.</p>
<p>لذلك فان الكلمة الإلهية تطالبنا بالتلمذة على يدي هؤلاء فهم معلمون لنا بالحق، ولهؤلاء وحدهم يلزمنا أن نصغي، لأن لهم وحدهم &#8220;صادقة هي الكلمة ومستحقة كل قبول&#8221; (1تي 1: 5)، هؤلاء ليسوا تلاميذ لأنهم &#8220;سمعوا من الآخرين بل هم شهود عيان وخدام للكلمة إذ سمعوا منه ما قد سلموه.</p>
<p>فالبعض منهم يتحدث عن الأعمال العجيبة التي صنعها مخلصنا مبشرين بلاهوته السرمدي، والبعض كتب عن ميلاده حسب الجسد من العذراء، كما أعلنوا عن عيد الفصح المقدس قائلين &#8220;لأن فصحنا أيضا المسيح قد ذبح لأجلنا&#8221; (1كو 5: 7)، حتى أننا نتذكر كأفراد وكجماعة، فتتذكره كنائس العالم جميعها، كما هو مكتوب أن المسيح قام من الأموات، هذا الذي من نسل داود، كما جاء في الإنجيل.</p>
<p>ليتنا لا ننسى ما قد سلمه بولس.. أي عن قيامة الرب، إذ يقول عنه أنه أباد الذي له سلطان الموت أي الشيطان وأنه أقامنا معه، إذ حل رباطات الموت، ووهبنا بركة عوض اللعنة، وأعطانا الفرح عوض الحزن، وقدم لنا العيد عوض النوح، ذلك في الفرح المقدس الذي لعيد القيامة، العيد الدائم في قلوبنا، إذ نفرح به على الدوام كأمر بولس &#8220;صلوا بلا انقطاع اشكروا في كل شيء&#8221; (1تس 5: 17، 18)، وهكذا لا نتغافل عن أن نقدم التعاليم في هذه المواسم كما تسلمنا من الآباء.</p>
<p>مرة أخرى نكتب لكي نحفظ التقاليد الرسولية، مذكرين بعضنا بعضاً بالصلاة، حافظين العيد معاً بفم واحد، شاكرين الرب بحق.</p>
<p>وهكذا إذ نقدم الشكرللرب مقتدين بالقديسين، فان لساننا يمجد الله اليوم كله كقول المرتل (مز 35: 15).</p>
<p>وإذ نحفظ العيد كما ينبغى نتأهل للفرح الذي في السماء.</p>
<p><strong>موعد العيد</strong></p>
<p>اننا نبدأ صوم الأربعين في ١٣ من شهر Phamenoth (٩ مارس) وبعدما نصوم هذه الفترة نبدأ بأسبوع البسخة المقدس في ١٨ من شهر برمودة (١٣أبريل) ونستريح في ٢٢ من نفس شهر برمودة (١٨أبريل)، ونحفظ العيد في أول الأسبوع أي في ٢٤ من الشهر (١٩أبريل). وبإضافة السبعة أسابيع التي للبنديكستي العظيم بفرح مقدس متهللين في ربنا يسوع المسيح، الذي خلاله للآب المجد والسلطان في الروح القدس الى أبد الأبدين. آمين.</p>
<p>يسلم عليكم الإخوة الذين معي.</p>
<p>قبلوا بعضكم بقبلة مقدسة .</p>
<h4>شرح لإنجيل القداس - القديس كيرلس الأسكندري<a href="#_ftn2" name="_ftnref2">[2]</a></h4>
<p><strong>(يو5: 2٢)</strong><strong> &#8220;لأن الآب لا يدين أحداً، بل قد أعطى كل الدينونة للابن&#8221;. </strong></p>
<p>وهو يقدم أمراً آخر عجيبا يليق بالله، كي يقنعهم بعدة طرق أنه هو الله بالطبيعة وبالحقيقة. لأنه مَن مِن الناس يليق به أن يدين العالم سواه هو وحده ذاك الذي هو الله، الذي هو فوق الكل، والذي تدعوه الأسفار الإلهية في موضع ما قائلة، قم يا الله. دن الأرض&#8221; (مز٨:٨٢)، ثم في موضع آخر &#8220;ولكن الله هو القاضي. هذا يضعه وهذا يرفعه&#8221; (مز٧:٧٥). وها هو المسيح يقول إن &#8220;الآب قد أعطى كل الدينونة للابن&#8221;، ليس كأن الابن كان بلا سلطان حتى الآن، بل تدبيرياً كإنسان، معلماً أنه من المناسب أكثر أن تنسب كل الأشياء إلى الطبيعة الإلهية، إذ هو أيضا ليس خارجاً عن الآب،لأنه هوالكلمة وهو الله الذي له السلطان في ذاته على الكل، لكن إذ جُعل إنساناً، والإنسان قد قيل له وأي شيء لك لم تأخذه؟&#8221; (١كو٧:٤)، فإنه وبشكل لائق يقر أنه يأخذ هذا السلطان وقد يقول أحد خصومنا أيضاً عن تلك الأشياء &#8220;ها هوذا الابن يعلن صراحة أنه قد أخذ الدينونة من الآب&#8221;، فهو يأخذ وهذا واضح لكونه لا يملك، فكيف لا يكون ذلك الذي يعطي بسلطان، أعظم وذا طبيعة أسمى من ذاك الذي يحتاج أن يأخذ؟.</p>
<p>ماذا نقول إذاً رداً على هذا الكلام؟ إن مناقشتنا السابقة على ما اعتقد كانت مرتبة بشكل لم يكن يعوزه الحذق، إذ كنا نورد ما يناسب الوقت من اعتبارات خاصة، لنشهد عن التجسد الإلهي، حينما دعي الابن عبداً، وحين وضع ذاته وصار مثلنا، لكن إذ يبدو حسناً لكم أن تزدروا بالتعاليم البسيطة فاحصينها بنقد أكثر، هيا إذا لندحض تلك الاعتراضات، ولنقل أولاً: ليس بالضرورة يا سيدي، إن الذي يقال عنه إنه يعطي شيئاً ما إنه يعطيه للآخذ وكأن الآخذ لا يملك شيئاً أو أن المعطي دائماً ما يكون أعظم من الآخذ. إذا ماذا أنتم فاعلون حين ترون المرنم القديس يقول بالروح القدس &#8220;أعطوا مجداً لله&#8221; (مز٣٤:٦٨)، هل نزعم أن الله في حاجة إلى مجد، أو أننا نحن الذين أمرنا أن نعطيه ذلك، نحسب بهذا أعظم من الخالق؟ أنكم لا تتجاسرون أن تقولوا ذلك رغم أنكم لا تخشون خطورة التجديف. إذا فاللاهوت مملوء مجداً، حتى إن لم يأخذه منا. لأن الذي يأخذ على سبيل التكريم، ما يملكه أصلا في ذاته، لا يمكن أبدأ اعتباره أدنى من الذين يقدمون له مجداً كهدية. ويمكن أن نرى أن الذي أخذ شيئا ليس أدنى من المعطي، وأن الآب ليس من طبيعة أعلى من وليده، بسبب إعطاء كل الدينونة له.</p>
<p>وبعد ذلك ينبغي أن نعتبر ما يلي أيضاً: إن الدينونة أو إعطاء الدينونة إنما هما فعلان بالحري وعملان يدرك منهما أنهما من خواص الجواهر، أكثر منها جواهر في ذاتها حقيقة. لأننا بحكمنا على شئ ما، فإننا نعمل شيئاً غير ما نحن عليه في ذواتنا. لكن إن سلمنا أن ذلك الحكم أو إعطاء الحكم ذاته، إنما هو نوع من الجوهر، فكيف لا يلزمنا أن نسلم حتى لو كان هذا ضد إرادتنا أن البعض لا يمكن أن يوجدوا بالمرة إلا كقضاة، وأن كيانهم يتوقف كلية عند انتهاء الحكم؟ لكن مثل هذا التفكير هو سخف مطلق. إذا فالدينونة هي فعل وليست أي شئ آخر. فما الذي أعطاه الآب إذا للابن؟ إذا فإن إعطاء كل الدينونة له ليس صدورا من ذات طبيعته، بل بالحري هو فعل من جهة الذين يدانون، فكيف يكون الآب إذا أعظم أو من طبيعة أسمى بإعطائه أي شئ للابن لم يكن فيه، وهو الذي يقول &#8220;كل ما للآب هو لي&#8221; (يو١٥:١٦)، كيف نفهم إذا معنى أنه أعطى؟ أسمعوا ذاك ما له الآن:</p>
<p>إذ لله الآب القدرة أن يخلق، فهو يخلق كل الأشياء بالابن، أي بواسطة قوته الذاتية وقدرته. كذلك إذ له القدرة على الدينونة أيضا، فإنه يفعل ذلك أيضا بالابن كعدله الذاتي، كما لو قيل أن النار تعطي اشتعالا للفعل الذي تأتيه من ذات طبيعتها، وتسير الحقيقة في هذا الاتجاه. وهكذا نفسر بتقوى عبارة &#8220;قد أعطى&#8221;. وبذلك نتجنب شرك الشيطان، لكن إن هم أصروا بخزي على أن المجد يضاف إليه من الآب، من خلال استعلانه كديان للأرض، فليعلمونا كيف يعتبر بعد أنه رب المجد، ذلك الذي توج في نهاية الأزمنة بالمجد الذي كان له أصلا.</p>
<p><strong>(يو٥:٢٤)</strong>: <strong>&#8220;الحق الحق أقول لكم: إن من يسمع كلامي ويؤمن بالذي أرسلني فله حياة أبدية، ولا يأتي إلى دينونة، بل قد انتقل من الموت إلى الحياة&#8221;.</strong></p>
<p>إذ قد برهن المسيح بشكل كاف  بما سبق  أن اليهود البؤساء لا يخطئون ضد الابن وحده بتجاسرهم على انتقاد الأشياء التي يقولها أو يعملها بينهم في تعليمه، بل بجهالة أيضا يتعدون على الآب ذاته، فهو أيضا بخصوص معنى ما قيل، يواجه ثقتهم الزائدة بالخوف، ويقنعهم أن يحيوا بأكثر تقوى في رجاء الأمور العتيدة ليجتذبهم في النهاية إلى الطاعة. وبحذق بالغ يواصل حديثه حتى النهاية، لأنه إذ يعلم أن اليهود لا يزالون قيد المرض الذي ألم بهم، ولا يزالون يعثرون فيه، فإنه يعيد مرة أخرى إيمانهم إلى شخص الله الآب، دون أن يستبعد نفسه طبعا، بل كمن هو مكرم في الآب أيضا بسبب وحدة الجوهر. لأنه يؤكد أن الذين يؤمنون لن يتمتعوا فقط بشركة الحياة الأبدية، بل سينجون أيضا من هلاك الدينونة، إذ يتبررون أي يحيون بمخافة ممتزجة برجاء لهذا يجعل حديثه إليهم أكثر تأثيراً وضوحاً.</p>
<h4>معنى الدينونة - القديس باسليوس الكبير<a href="#_ftn3" name="_ftnref3">[3]</a></h4>
<ul>
<li>&#8220;الرب يدين الشعوب&#8221; (مز ٧ : ٨). الحديث عن الدينونة مُنتشِر في مواضع كثيرة في الكتاب المقدس، بكونه تعليمًا أساسيًا ومقنعًا بالنسبة للديانة الحقيقية لمن يؤمن بالله في المسيح يسوع.</li>
</ul>
<p>وردت كلمة &#8220;دينونة&#8221; (ومشتقاتها) بمعانٍ كثيرةٍ، مما يُسَبِّب ارتباكًا للذين لا يُمَيِّزون بدقةٍ بين المعاني..</p>
<p>كلمة &#8220;يدين&#8221; تُستخدَم أحيانًا في الكتاب المقدس بمعنى ا<strong>لاستحسان</strong>، كما في العبارة: &#8220;احكم لي يا رب إن سرت في براءتي&#8221;. إذ يكمل: &#8220;جَرِّبني يا رب وامتحننّي&#8221;.</p>
<p>أيضًا تعني &#8220;<strong>إصدار</strong> <strong>حكم</strong>&#8220;، كما في العبارة: &#8220;إن حكمنا على أنفسنا، <strong>فلا</strong> <strong>يُحكَم</strong> علينا&#8221; (راجع ١كو ١١ : ٣١). إن امتحنا أنفسنا حسنًا، لا نخضع للدينونة.</p>
<p>مرة أخرى قيل إن الرب يدخل في المحاكمة مع كل جسدٍ (إر ٢٥ : ٣١)، أي في فحصه الأعمال في حياة كل أحدٍ يُخضِع نفسه للمحاكمة، ويقارن وصاياه بأعمال الخطاة، مدافعًا عن نفسه ببراهين مؤكدًا أنه يفعل كل شيءٍ من أجل خلاص الذين يُدَانون، حتى يقتنع الخطاة أنهم يستحقُّون ما يحلّ عليهم من عقوبة بسبب خطاياهم، ويدركون العدالة الإلهية، ويقبلون بإرادتهم العقوبة التي تحل بهم.</p>
<ul>
<li>لازال يوجد معنى آخر لكلمة &#8220;يدين&#8221;، وذلك كقول الرب: &#8220;ملكة الجنوب ستقوم في يوم الدين وتدين هذا الجيل&#8221; (مت ١٢: ٤٢). إنه يقول إن الذين يرفضون التعليم الإلهي، ولا يُحِبُّون النبلاء والصالحين، بل ويهجرون تمامًا التعاليم التي تُعلِّم الحكمة، فبمقارنتهم وتضادهم لمن كانوا في جيلهم أكثر غيرة نحو النبلاء والصالحين، <strong>ينالون</strong> <strong>دينونة</strong> <strong>أقسى</strong> <strong>بسبب</strong> <strong>الأمور</strong> <strong>التي</strong> <strong>أهملوها</strong>.</li>
</ul>
<p>أعتقد أن الذين لهم هذا الجسد الترابي لا يُدَانون بطريقة واحدة، بواسطة الديَّان العادل متى كانت لهم عوامل خارجية متباينة تمامًا عن غيرهم، لهذا فإن الحُكْمَ يتفاوت من حالةٍ إلى أخرى.</p>
<p>الظروف التي نحن فيها ليست في سلطاننا، بل وُجِدنا فيها بغير إرادتنا، مما يجعل خطايانا قد تكون أكثر خطورة أو أخف في حدّتها.</p>
<p>تخيَّل إدانة الزنا، فالإنسان الذي سقط فيه منذ بداية حياته بممارسات شريرة ووُجِد مع والدين فاسقين، ونشأ بعادات شريرة كالسُكْرِ والعربدة وسماع قصص مُخزِية، بينما آخر كان يقوم بتحدٍّ للتمتُّع بأمورٍ سامية للغاية، ونال تعليمًا وكان له مدرسون، واستمع إلى وصايا إلهية أكثر، وتمتَّع بقراءات مفيدة ونصائح من الوالدين، وأنصت إلى قصصٍ تحثّ على الجدّية وضبط النفس وانتهاج أسلوب حياة راقيًا، فإن اندفع الأخير نحو الخطية مثل الأول، فإنه إذ يُقَدِّم حسابًا عن حياته، كيف يمكن لمثل هذا أن يكون غير مستحقٍ لعقوبة أشد بمقارنته بعقوبة الأول؟! يُتَّهَم أحدهما (الأخير) على أساس أنه لم يستخدم الميول المغروسة في أفكاره باستقامة. أما الآخر فيُتَّهم - بالإضافة إلى ذلك – أنه غرَّر بنفسه في وقت قصير بالرغم من نواله عونًا لخلاصه، وعدم ضبط نفسه وعدم حرصه.</p>
<p>بنفس الطريقة أيضًا من تدرَّب منذ بداية حياته على التقوى والهروب من كل انحرافٍ عن تعاليم الله، ونشأ في شريعة الله التي تهاجم كل خطية وتدعو إلى عكسها، لا يكون له عذر إن عبد الأصنام مثل من تربَّى على يدي والدين فَضوِليين، أو مثل أناسٍ تعلَّموا منذ البداية عبادة الأوثان.</p>
<h3>عظات آباء وخدّام معاصرين <strong>ليوم الثلاثاء الثاني من الخمسين يوم المقدسة</strong></h3>
<h4>شرح لأنجيل القداس – القمص أنطونيوس فكري<a href="#_ftn4" name="_ftnref4">[4]</a></h4>
<p><strong>(يو5: 22) </strong><strong>&#8220;لأَنَّ الآبَ لاَ يَدِينُ أَحَدًا، بَلْ قَدْ أَعْطَى كُلَّ الدَّيْنُونَةِ لِلابْنِ&#8221;</strong></p>
<p><strong>لأن = </strong>إذًا ما سيأتي مترتب على ما سبق، فالابن له سلطان أن يحيي مَنْ يشاء لأنه هو الذي يدين، ومَنْ يدين له أن يهب الحياة لمن يستحق، أو أن يمنعها عن غير المستحق.</p>
<p>والمسيح هو الديان لأن الآب لا يدين أحد فقد ترك الدينونة للابن الذي تجسد وشعر بضعف البشر &#8220;لِأَنْ لَيْسَ لَنَا رَئِيسُ كَهَنَةٍ غَيْرُ قَادِرٍ أَنْ يَرْثِيَ لِضَعَفَاتِنَا، بَلْ مُجَرَّبٌ فِي كُلِّ شَيْءٍ مِثْلُنَا، بِلَا خَطِيَّةٍ&#8221; (عب٤: ١٥، عب٢: ١- ٥). المسيح بحكم ألوهيته هو فاحص القلوب والكلى ويعرف ما في أعماقنا أكثر مما نعرفه عن أنفسنا. وأضف لذلك كونه صار إنسانا فهو صار يحكم ويدين عن طبيعة اختبرت ضعفاتنا، وهذا منتهى العدل في الحكم. وهو أتى ليعطينا حياة &#8220;وَأَمَّا أَنَا فَقَدْ أَتَيْتُ لِتَكُونَ لَهُمْ حَيَاةٌ وَلِيَكُونَ لَهُمْ أَفْضَلُ&#8221; (يو١٠: ١٠؛ يو٥: ٢٦). وهو الديان كما رأينا (مت٢٥: ٣١- ٤٦؛ أع١٠: ٤١، ٤٢؛ رو١٤: ١٠؛ ٢كو٥: ١٠؛ ٢تي٤: ١) فالذي يعطي الحياة يكون له أيضًا سلطان أن يحكم عليها، ومن يقيم الموتى له أن يحاسبهم، ومن يحيي قادر أن يميت أيضًا. وكما خلق الآب العالم بالابن فهو يدين العالم أيضًا بالإبن.</p>
<p><strong>كل الدينونة = </strong>يدين كل مخلوق، فهو خالق الجميع، ولأنه نور فمن يرفضه يُدان. وهو له أن يدين على الأرض وفي السماء. والدينونة هي من الأعمال الأعظم.</p>
<p>هذه تشبه أنه في أيام نوح، من رفض دخول الفلك لم يبق أمامه سوى الهلاك. والفلك يرمز لجسد المسيح الذي هو الكنيسة.</p>
<p><strong>(يو5: 23) </strong><strong>&#8220;لِكَيْ يُكْرِمَ الْجَمِيعُ الابْنَ كَمَا يُكْرِمُونَ الآبَ. مَنْ لاَ يُكْرِمُ الابْنَ لاَ يُكْرِمُ الآبَ الَّذِي أَرْسَلَه&#8221;.</strong></p>
<p><strong>الذي أرسله = </strong>ليؤكد لهم صلته بالله الآب. و<strong>أرسلهُ</strong> هذه كما ترسل الشمس أشعتها بدون انفصال عنها. وهنا المسيح يعلن مساواته للآب في لاهوته بغير مواربة. وهذا راجع للوحدة بينهما. وإرسال المسيح هو إتفاق داخل المشورة الثالوثية، فيه إتفق الثلاثة أقانيم بأن يُرسَل الابن ليتجسد &#8220;مُنْذُ وُجُودِهِ أَنَا هُنَاكَ (أزلية الابن) وَٱلْآنَ ٱلسَّيِّدُ ٱلرَّبُّ (الآب) أَرْسَلَنِي وَرُوحُهُ&#8221; (إش ٤٨: ١٦). وبعد أن يتمم المسيح الفداء يرسل الروح القدس ليجدد الخليقة (يو١٥: ٢٦). وكان هذا أيضًا من داخل المشورة الثالوثية. وبناء على هذه الآية يمكن القول أن الآب والابن أرسلا الروح القدس.</p>
<p><strong>لكي = </strong>أي لأن الابن يحيي ويدين تحتم أن يكرم الناس بل كل الخليقة، الابن، كما يكرمون الآب.</p>
<p>الإيمان بأحد الأقنومين يستلزم الإيمان بالآخر فهما واحد وكذلك إكرام أحدهما. في الآيات (٢١، ٢٢، ٢٣) يعلن المسيح لاهوته علانية.</p>
<p>المسيح هنا يريد من الكل أن يعرفه، لأن من عرفه سيعرف الآب، فهو صورة الآب، وهو واحد مع الآب. وبالتالي من يكرم المسيح يكرم الآب أي عرف الآب، ومن يرفض المسيح فهو يرفض الآب. وَمَنْ يدَّعي أنه يعبد الآب ولا يكرم المسيح فهو يعبد صورة للآب رسمها هو لنفسه. فمن رآني فقد رأي الآب (يو١٤: ٩) المسيح هنا لا يطلب أو يسعى لأن يكرمه الناس، بل هو يطلب خلاص الناس.</p>
<p><strong>(يو5: 24)</strong><strong> &#8220;اَلْحَقَّ الْحَقَّ أَقُولُ لَكُمْ: إِنَّ مَنْ يَسْمَعُ كَلاَمِي وَيُؤْمِنُ بِالَّذِي أَرْسَلَنِي فَلَهُ حَيَاةٌ أَبَدِيَّةٌ، وَلاَ يَأْتِي إِلَى دَيْنُونَةٍ، بَلْ قَدِ انْتَقَلَ مِنَ الْمَوْتِ إِلَى الْحَيَاةِ.&#8221;</strong></p>
<p><strong>الحياة الأبدية = </strong>هي حياة الله ذاته يعطيها الله للإنسان، ونأخذها من الآن بإيماننا بالمسيح. فهي ليست حياة بشرية. هذا هو الخلود الحقيقي. ابتداء من هذه الآية يتكلم المسيح بصيغة المتكلم بعد أن كان يتكلم بصيغة الغائب وكأن المعنى أن ما قلته لكم من قبل عن العلاقة بين الآب وإبنه ينطبق عليَّ فأنا الابن الوحيد.</p>
<p><strong>الحق الحق أقول لكم = </strong>هذه تشبه القسم في العهد القديم، فهو إعلان رسمي إلهي. وهنا نرى الوحدة بين الآب والابن، فشرط الحياة أن نسمع كلام الابن ونؤمن بالآب، فالخلاص هو بالآب والابن.</p>
<p><strong>يسمع كلامي = </strong>أي يدخل لأعماقه ويحرك قلبه ويصدق وينفذ ويستمد قوة من الوصية على تنفيذها.</p>
<p><strong>ويسمع كلامي = </strong>كلامي جاءت هنا لوغوس ويكون المعنى أن يقبلني أنا الكلمة المتجسد.</p>
<p><strong>يؤمن بالذي أرسلني = </strong>الإيمان بأحد الأقنومين يستلزم الإيمان بالآخر فهما واحد وكذلك إكرام أحدهما = أي يؤمن بكل ما قلته عن الآب كما إستعلنته أنا، وبالذات أنه أرسل المسيح. فالإيمان بالآب يستلزم الإيمان بالمسيح والإيمان بالمسيح يستلزم الإيمان بالآب.</p>
<p><strong>يؤمن بالذي أرسلني = </strong>حتى لا يشعروا أنه يفضل نفسه عن الله. عمومًا هو والآب واحد وهو لا يريدهم أن يتشككوا فيه.</p>
<p><strong>لا يأتي إلى دينونة = </strong>أي الهلاك فالمسيح سيحمل الدينونة عن الإنسان الذي يؤمن به (التائب طبعًا).</p>
<p><strong>إنتقل من الموت = </strong>الموت هنا هو موت الخطية لأن الذي يؤمن ويسمع تغفر خطاياه. لقد انتهت خطورة الموت الجسدي، ولكن الموت الأخطر هو موت الخطية وعدم الإيمان، لذلك يقول يوحنا في (١يو١: ٢- ٤) أن الحياة أظهرت. والإنتقال من الموت إلى الحياة يعني بداية الحياة الأبدية. وهذه تبدأ بالمعمودية وتستمر بالتوبة &#8220;ابني هذا كان ميتًا فعاش&#8221;. والحياة الأبدية هي حياة المسيح الأبدي (يو١١: ٢٥)، ونحصل عليها بالإتحاد معه في المعمودية (رو٦: ٣- ٥) ونستمر نحياها بحياة التوبة.</p>
<p><strong>يسمع كلامي ويؤمن بالذي أرسلني = </strong>يسمع كلامي لا تعني فقط أن ننفذ وصايا المسيح، بل أن نعرفه ونؤمن به ونتذوق حلاوة عشرته. ومن يفعل يسهل عليه أن يصل لمعرفة الآب الذي أرسله. وهذا يشبه كلام عروس النشيد التي بعد أن فرحت بعريسها (المسيح) طلبت قبلات الآب.. &#8220;ليقبلني بقبلات فمه&#8221; (هذه عن الآب) &#8220;لأن حبك أطيب من الخمر&#8221; (هذه عن الابن) (نش١ : ٢).</p>
<h4>الإيمان المسيحي والأبدية<a href="#_ftn5" name="_ftnref5">[5]</a></h4>
<p>قيمة الإيمان المسيحي أنه يجعل المؤمن متمتعاً بنور الخلاص، أي ينال خلاص الله من ظلمة الخطية ودينونتها منذ الآن، إلى أن يستكمل خلاصه النهائي ومجد كيانه الإنساني جسداً ونفساً وروحاً في الأبدية.</p>
<p>ذلك ليس مجرد خيالات وهمية، بل عن قناعة داخلية يحسها الإنسان في نفسه، إذ يشعر بسلام الله الناتج عن غفران الخطية وتبرير الله له بذبيحته الفدائية، أي يشعر بأن الخطية التي كانت عبئاً ضاغطاً على القلب والضمير، قد انزاح تماماً، وحل محله هدوء عجيب، وقد ذهب القلق وانقباض النفس والخوف من عقاب الله، فيشعر بسلام في نفسه مع الله ومع الناس.</p>
<p>ولكن علاوة على ذلك، فالإيمان المسيحي يتجاوز الزمن، ويدخل بالمؤمن إلى مجال الأبدية، فيعيش بالروح، ويصير رجاؤه متعلقا بالسمائيات، دون أن يهمل واجباته والتزاماته الدنيوية، معتبراً أن كنزه الحقيقي هو في السماء لا على الأرض، لذلك فهو يقتني العين الروحية التي تميز بين الغث والسمين، أي يميز ما يتعلق بأمور الأرض الزائلة وما يتعلق بأمور الأبدية الباقية، فلا يستهويه بريق الدنيا الزائف.</p>
<p>ولأن الإيمان المسيحي مؤسس على شخص المسيح الحي، فهو حياة المسيح في المؤمنين به: &#8220;أحيا لا أنا بل المسيح يحيا في&#8221;، والمسيح الحي في الداخل هو الذي يقوم بتجديد الحياة الداخلية للإنسان بقوة روحه.</p>
<p>وعلى ذلك فالإيمان المسيحي يتيح إمكانية الاتحاد بين الله والنفس البشرية، وهو اتحاد داخلي روحاني بين النفس وعريسها السماوي، ولكن من المهم أن تتجاوب النفس مع وصية المسيح وتجاهد في سعيها الروحي حتى تصير حياة المسيح منطبعة بوضوح على النفس.</p>
<p>عندما صرح المسيح بقوله: &#8220;جئت لتكون لهم حياة&#8221;، ثم قوله &#8220;أنا فيهم وأنت فيَّ ليكونوا مُكمَّلين إلى واحد&#8221; (يو ۲۳:۱۷)، فهذا التصريح من جانب الرب، يؤكد إمكانية هذه الوحدانية بهدف ترسيخ حياة الله الخالدة وتثبيتها في كيان الإنسان.</p>
<p>إذا، بات واضحاً أن أهمية الإيمان بالمسيح تعتمد على الغاية التي تتجه إليها، فهو إيمان ذو علاقة حية مع الله الحي متجه دائماً إلى فوق، وإن كان المؤمن بالمسيح يعيش في هذه الدنيا متحداً بالرب منذ الآن؛ فهو يعيش داخلياً في مجال الأبدية وليس للزمان سلطان على روحه.</p>
<hr />
<p><a href="#_ftnref1" name="_ftn1">[1]</a>  كتاب الرسائل الفصحية للقديس أثناسيوس الكبير - الرسالة الثانية (عيد القيامة في ٢٤ برمودة سنة ٤٦ ش. - ١٩ أبريل سنة ٣٣٠ م.) صفحة 10 - القمص تادرس يعقوب ملطي.</p>
<p><a href="#_ftnref2" name="_ftn2">[2]</a>  تفسير انجيل يوحنا للقديس كيرلس الاسكندري المجلد الاول - ص٢٦٦ - ترجمة دكتور نصحي عبد الشهيد وآخرون.</p>
<p><a href="#_ftnref3" name="_ftn3">[3]</a>  تفسير يشوع بن سيراخ - الإصحاح السادس عشر - القمص تادرس يعقوب ملطي.</p>
<p><a href="#_ftnref4" name="_ftn4">[4]</a>  تفسير إنجيل يوحنا - الإصحاح الخامس - القمص أنطونيوس فكري.</p>
<p><a href="#_ftnref5" name="_ftn5">[5]</a>  مجلة مدارس الاحد - عدد يونيو لسنة ٢٠١١.</p>

      {% endcreateArticleAccordions %}
    </section>
  {% endblock %}
