---
layout: 'layouts/reading.html'
title: 'يوم الأربعاء من الأسبوع الثاني للخماسين المُقَدَّسَة'
permalink: pentecost/2-3.html
---
  {% block content %}
    <section id="readings">
      <ul>
      {% if '19.41:2' != 'null' %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">العشية</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeVespers '19.41:2' '40.9:36-38' %}
          </div>
        </div>
      </li>
      {% endif %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">باكر</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeMatins '19.63:1-2' '40.9:32-35' '' %}
          </div>
        </div>
      </li>
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <h3 class="flex items-center justify-between">
            <span class="kufi">القداس</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </h3>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeLitugy '45.1:11-13' '62.2:1-6' '44.4:8-12' '19.9:1-2' '43.5:31-37' %}
          </div>
        </div>
      </li>
        </ul>
    </section>
    <section id="article">
      <h3 class="mt-8 mb-4 heading-explain">شرح القراءات</h3>
      {% createArticleAccordions firstName, lastName %}
        <h3>عظمة الإيمان</h3>
<p>تتكلم قراءات هذا اليوم عن عظمة الإيمان وكيف أن الإيمان يصنع المعجزات ويكرز به في كل العالم ويصمد أمام صياح الشعوب والحكام، وينجي من الدينونة<strong>..</strong></p>
<p></p>
<h4>المزامير</h4>
<p>فتركز المزامير على أن <strong>الإيمان ينجي الانسان من دينونة المعاندين</strong>، وفي نفس الوقت يدينهم الله على محاربتهم لأولاده ..</p>
<ul>
<li>&#8220;قم يا رب لئلا يعتز الإنسان. ولتدن الأمم أمامك&#8221; (مزمور عشية).</li>
<li>&#8220;قم يا رب برجزك. وارتفع فى أقطار أعدائي&#8221; (مزمور باكر).</li>
<li>&#8220;استيقظ يا ربي وإلهي. بالأمر الذي أوصيت. ومجمع الشعوب يحيط بك&#8230; الرب يدين الشعوب&#8221; (مزمور القداس).</li>
</ul>
<p></p>
<h4>انجيل عشية</h4>
<p>ويتكلم انجيل عشية عن ← <strong>الإيمان الصانع معجزات والذي يعطي النصرة على الشياطين</strong>، والصليب الذي يتحدى الموت &#8221; فَقَالَ لَهُمْ يَسُوعُ: لِقلَّة إيمانكم فإني الحق أقول لكم لو كان لكم إيمان مثل حبة خردل لقلتم لهذا الجبل إنتقل من هنا فينتقل&#8230; قال لهم يسوع أن ابن الانسان سوف يُسلم إلى أيدي الناس فيقتلونه وبعد ثلاثة أيام يقوم.&#8221; (مت ١٧: ٢٠- ٢٣).</p>
<p></p>
<h4>انجيل باكر</h4>
<p>وفي انجيل باكر عن ← <strong>الايمان واهب البصيرة</strong> &#8220;فقال لهما يسوع أتؤمنان أني قادر أن أفعل هذا، قالا له نعم يا رب حينئذ لمس أعينهما قائلاً ليكن حسب إيمانكما فإنفتحت أعينهما&#8221; (مت 9: 27- 31).</p>
<p></p>
<h4>البولس</h4>
<p>وفي البولس عن ← <strong>شهادة الايمان في كل العالم</strong> &#8220;ثم أني أشكر إلهي أولاً بيسوع من جهة جميعكم أن إيمانكم يُنادى به في كل العالم&#8221; (رو1: 8).</p>
<h3></h3>
<h4>الكاثوليكون</h4>
<p>وفي الكاثوليكون عن ← <strong>إيمان التوبة والاعتراف بالخطية</strong> الذي يجعل الانسان مستحقاً للخلاص العظيم وغفران الخطايا والتطهر من كل إثم &#8220;إن اعترفنا بخطايانا فهو أمين وعادل حتى يغفر لنا خطايانا ويطهرنا من جميع الآثام&#8221; (1يو 1: 9).</p>
<p></p>
<h4>الابركسيس</h4>
<p>وفي الابركسيس عن ← <strong>الإيمان المخفي عن العالم</strong> والذي يهيج عليه العالم &#8220;فلما أقاموهما في الوسط جعلوا أيضاً يسألونهما بأية قوة وبأي إسم عملتم هذا&#8221; (أع4: 7).</p>
<p></p>
<h4>إنجيل القداس</h4>
<p>وفي انجيل القداس عن ← <strong>الايمان المنجي من الدينونة</strong> &#8220;الحق الحق اقول لكم إن من يسمع كلامي ويؤمن بالذي أرسلني فله حياة أبدية ولا يأتي إلى الدينونة بل قد إنتقل من الموت الى الحياة &#8221; (يو5: 24).</p>
<p></p>
<h3> ملخص الشرح</h3>
<ul>
<li>الله يدين المعاندين والمضطهدين لأولاده وينجي أولاده من دينونته. (مزمور عشية – مزمور باكر- مزمور القداس).</li>
<li>الإيمان يعطي النصرة على الشيطان ويتحدى الموت. (انجيل عشية).</li>
<li>الايمان يهب بصيرة الحياة ويصنع المعجزات. (انجيل باكر).</li>
<li>شهادة الايمان في كل العالم. (البولس).</li>
<li>إيمان التوبة والشركة مع الله والإعتراف بالخطية يعطي للانسان قوة غفران وتطهير دم المسيح. (الكاثوليكون).</li>
<li>العالم يضطهد المؤمنين ويخفي عنه ايمانهم (بإرادته) ولقساوته. (الابركسيس).</li>
<li>الايمان ينجي من الدينونة الإلهية . (إنجيل القداس).</li>
</ul>
<p></p>
<h3>عظات آبائية <strong>للأربعاء من الأسبوع الثاني </strong><strong>(أحد الخبز)</strong><strong> من الخمسين يوم المقدسة</strong></h3>
<h4>من الرسائل الفصحية &#8211; للقديس أثناسيوس الرسولي<a href="#_ftn1" name="_ftnref1">[1]</a></h4>
<p>لنعيد رغم ضيقتنا<a href="#_ftn2" name="_ftnref2">[2]</a> وعدم وجودي معكم..</p>
<p>أخوتي الأحباء..</p>
<p>لقد اقترب منا يوم العيد مرة أخرى، الذي ان صمتنا فيه نجعله غير مقدس، إنما يلزم أن يكون مكرساً للصلاة أكثر من كل الأيام، وفيه نحفظ الوصايا. لأنه وإن كنا في ضيق من أولئك الذين يحزنوننا، وبسببهم سوف لا نخبركم عن هذا الموسم (إذ لا يكون بين شعبه)، لكن شكرا لله الذي يعزي الحزاني، حتى لا ننهزم بشرور أولئك الذين يتهموننا فنصمت، ففي طاعتنا لصوت الحق نصرخ معكم عالياً في يوم العيد، لأن إله الكل قال بأن يتكلما (موسى وهرون) مع الشعب لحفظ الفصح، ويعلن الروح في المزامير قائلاً &#8220;انفخوا في رأس الشهر بالبوق عيد الهلال كيوم عيدنا&#8221;، ويصرخ النبي قائلاً &#8220;عيدي يا يهوذا أعيادك&#8221;.</p>
<p>وأنا لا أرسل اليكم الكلمة كأنكم جاهلين، بل أعلنها للذين يعرفونها، حتى يدركون بأنه وان كان البعض يفرقنا لكن الله يجمعنا، فإننا نعيد بنفس العيد، ونتعبد لنفس الإله على الدوام.</p>
<p>ونحن لسنا نعيد كمتفرجين: عالمين أن الرسول يوبخ أمثال أولئك قائلاً &#8220;أتحفظون أياماً وشهوراً وأوقاتاً وسنين&#8221; (غل 4: 10)، بل بالحرى نكرم هذا اليوم العظيم من أجل العيد، حتى نرضى الله  نحن جميعاً الذين نخدم الله في كل مكان  وذلك بصلواتنا الجماعية.</p>
<p>وقد أعلن بولس الطوباوي عن قرب سرور كهذا، وهو في هذا لم يعلن عن أيام بل عن الرب الذي من أجله نحفظ العيد، إذ يقول &#8220;المسيح قد ذبح لأجلنا&#8221; (1كو 5: 7) فإذ نتأمل أبدية الكلمة نقترب منه لخدمته.</p>
<p><strong>تاجروا في الوزنات شاكرين</strong></p>
<p>لانه ماذا يعني العيد سوى خدمة النفس؟!</p>
<p>وما هي هذه الخدمة إلا الصلاة الدائمة لله والشكر المستمر؟.</p>
<p>فغير الشاكرين، البعيدين عن هذا هم بالحق محرومون من الفرح النابع من هذا، لأن الفرح والبهجة منزوعان عن أفواههم،</p>
<p>ولذلك فإن الكلمة (الإلهية) لا تسمح لهم أن يكونوا في سلام، إذ لا سلام للأشرار قال الرب (إش48: 22)، إنما يعملون في ألم وحزن.</p>
<p>لهذا، حتى الذي كان مديناً بعشرة آلاف وزنة لم ينل الصفح في نظر الرب، لأنه عندما صفح عنه في الكثير، عاد فاستحق القصاص حتى عما صفح عنه بسبب نسيانه الرحمة.. فإذ اختبر الرحمة، كان يلزم أن يكون هو أيضاً مترفقاً بالعبد زميله!.</p>
<p>والذي أخذ الوزنة الواحدة ، ولفها في منديل وخبأها في الأرض طرد أيضاً لتذمره وعدم شكره، سامعاً تلك الكلمات &#8220;أيها العبد الشرير والكسلان عرفت أنى أحصد حيث لم أزرع وأجمع من حيث لم أبذر. فكان ينبغي أن تضع فضتي عند الصيارفة. فعند مجيئي كنت آخذ الذي لي مع ربا. فخذوا منه الوزنة وأعطوها الذي له العشر وزنات&#8221; (مت 25: 26) لأنه عندما طلب منه أن يعطي سيده حساب الوزنة كان يعرف شفقة سيده الذي أعطاه هذه الوزنة ويعرف قيمة هذه العطية. فالذي أعطاه ليس برجل قاسي، لأنه لو كان كذلك لما أعطى عبيده الوزنات منذ البداية. ولا العطية التي قدمها هي بالأمر غير النافع أو باطلة، إذ ليس فيها خطأ.</p>
<p>فالذي أعطى هو صالح، والعطية كان يمكن أن تأتي بثمار. لذلك ملعون من يخفي القمح في وقت البذار (راجع أم 11: 26)، إذ يطالبنا المثل الإلهي ألا نهمل العطية أو نخبئها من غير إكثارها ومضاعفاتها، وإلا بحق نطرد خارجاً كأشرار متذمرين. على هذا الأساس مدح الرب أولئك الذين ضاعفوا وزناتهم، قائلاً &#8220;نعماً أيها العبد الصالح الأمين. كنت أمينا في القليل فأقيمك على الكثير. أدخل إلى فرح سيدك&#8221; (مت 25: 23).</p>
<p><strong>اضرموا الموهبة التي فيكم</strong></p>
<p>هذا كان صحيحاً وبحق، إذ يعلن الكتاب المقدس أنهم ربحوا قدر ما أخذوا. والآن ينبغي علينا يا أحبائي أن نخضع إرادتنا حسب لطف الله ولا نقصر عن العمل، لئلا إذا ما تركنا إرادتنا عاطلة ترحل عنا النعمة التي وهبت لنا فينا. وإذ يجدنا العدو (الشيطان) هكذا فارغين وعراة يدخل فينا، فيكون حالنا كتلك الحالة التي وردت في الإنجيل، ذلك الرجل الذي خرج منه الشيطان، فإنه بعد ما خرج الشيطان منه وذهب إلى أماكن جافة، عاد ومعه سبعة أرواح أشر منه إلى المنزل فوجده فارغاً، لذلك سكن هناك، وصارت أواخر ذلك الرجل أشر من أوائله.</p>
<p>فعدم التحلى بالفضائل يعطي للأرواح الشريرة فرصة للدخول فينا. وأكثر من هذا توجد وصية من الرسول إلى تلميذه يلزمه ألا تكون النعمة المعطاة لنا عاطلة بلا نفع. ويؤكد قائلاً له ألا يهمل الموهبة المعطاه له. لأن الذي يفلح أرضاً يسر بالخبز، وأما طريق الكسلان فمملوء أشواكاً.  ويحزرنا الروح ألا نسقط في هذا (الكسل) قائلاً &#8220;أحرثوا لأنفسكم حرثاً ولا تزرعوا في الأشواك&#8221; (إر4: 3).. ويوضح النبي نهاية مثل هذا الكسل قائلاً &#8220;ملعون من يعمل عمل الرب برخاء&#8221; (إر48: 10) لأنه يلزم على خادم الله ان يكون مجتهداً حريصاً. نعم، وبالحري يكون ملتهباً  كالنار، حتى عندما يحطم الشهوات الجسدية بروح ملتهبة يكون قادراً على الإقتراب من الله الذي يلقبه القديسون ب &#8220;النار الآكلة&#8221;.</p>
<p><strong>لنضرم نار الروح الذي فينا</strong></p>
<p>لذلك فإن إله الكل هو &#8220;الصانع ملائكته رياحاً وخدامه نار ملتهبة&#8221; (مز 104: 4).</p>
<p>كذلك منع الجمهور عند رحيله عن مصر من أن يلمسوا الجبل الذي فيه يعلن الله الشريعة، لأنه ليس لهم هذه الصفة (ناراً ملتهبة). <u>لكنه نادى موسى الطوباوي إليه، إذ كان ملتهباً في الروح</u> ومملوء بالنعمة غير المنطوق بها، قائلاً &#8220;ويقترب موسى وحده&#8221; (خر24: 2) ودخل موسى السحاب أيضاً، وعندما كان الجبل يدخن ولم يصبه أذى بل بالعكس تنقى بفاعلية كلمات الله التي هي كفضة مختارة منقاة في الأرض (مز12: 6).</p>
<p>لهذا عندما رغب بولس الطوباوي ألا تبرد نعمة الروح المعطاة لنا حذرنا قائلاً &#8220;لا تطفئوا الروح&#8221; (1تس5: 19) حتى نبقى شركاء مع المسيح، ذلك إن تمسكنا حتى النهاية بالروح الذي أخذناه، إذ قال: &#8220;لا تطفئوا&#8230;&#8221;، ليس من أجل ان الروح موضوع تحت سلطان الإنسان أو أنه يحتمل آلاماً منه، بل لأن الإنسان غير الشاكر يرغب في إطفاء الروح علانية، ويصير كالأشرار الذين يضايقون الروح بأعمال غير مقدسة..</p>
<p>فإذ هم بلا فهم، مخادعين، ومحبين للخطية، وما زالوا سائرين في الظلام، فإنه ليس لهم ذلك النور الذي يضيء لكل إنسان آت إلى العالم (يو1: 19).</p>
<p>لقد أمسكت نار كهذه بإرميا النبي عندما كانت الكلمة فيه كنار قائلاً بأنه لا يمكن أن يحتمل هذه النار (إر20: 9)..</p>
<p>وجاء سيدنا يسوع المسيح المحب للانسان، لكي يلقي هذه النار على الأرض، قائلاً &#8220;ماذا أريد لو اضطرمت؟! (لو12: 49).</p>
<p>لقد رغب الرب  كما شهد حزقيال (حز18: 23) &#8211; توبة الإنسان أكثر من موته، حتى ينتزع الشر عن الأنسان تماماً، عندئذ يمكن للنفوس التي تنقت أن تأتى بثمر. فتشمر البذار التي بذرها (الرب) البعض بثلاثين والبعض بستين والآخر بمئة.</p>
<p>وكمثال، أولئك الذين مع كليوباس (لو24: 32) مع أنهم كانوا ضعفاء في بداية الأمر بسبب نقص معلوماتهم، لكنهم أصبحوا بعد ذلك ملتهبين بكلمات المخلص، واظهروا ثمار معرفته.</p>
<p>وبولس الطوباوي أيضًا عندما أمسك بهذه النار لم ينسبها الى دم ولحم، ولكن كمختبر للنعمة أصبح كارزاً بالكلمة (المسيح).</p>
<p><strong>أناس رفضوا النعمة</strong></p>
<p>ولكن لم يكن هكذا التسعة البرَّص الذين شفوا، <u>لأنهم لم يشكروا الرب</u> الذي طهرهم.</p>
<p>ولا يهوذا الذي حصل على الرسولية ودعي بتلميذ الرب، ولكن أخيراً بينما كان يأكل مع المخلص رفع عقبه ضده، وصار خائناً (لو22: 1- 6).</p>
<p>أمثال هؤلاء ينالون جزاءهم عن غباوتهم، حيث أن رجاءهم يصير باطلاً لعدم إعترافنا بالجميل، فان النار الأخيرة المعدة للشيطان وجنوده تنتظر أولئك الذين أهملوا النور الإلهي. هكذا تكون نهاية الإنسان غير الشاكر.</p>
<p><strong>أشكروا الله في كل شيء</strong></p>
<p>لكن خدام الله الأمناء الحقيقيين، لا يكفوا عن تمجيد الله، إذ يعرفون انه يحب الشاكرين. وهم يقدمون له الشكر في وقت الضيق كما في الفرح يقدمون التسبيح الله بشكر غير مبالين بهذه الأمور الزمنية، بل متعبدين الله إله كل الأزمنة.</p>
<p>هكذا منذ القديم كان أيوب الذى وهب أكثر من كل الرجال عصره يشكر الله عندما كان في نعيم، ولما حلت به الضيقة إحتملها بصبر، وإذ تألم كان يشكر الله.</p>
<p>وأيضاً داود المتواضع كان في وقت الحزن يتغنى قائلاً &#8220;أبارك الرب في كل حين&#8221; (مز34: 1).</p>
<p>وبولس الطوباوي لم يكف في كل رسائله عن أن يشكر الله. ففي وقت الفرح لم يتوقف عن الشكر، وفي وقت الحزن كان يزداد تسبيحه لله عالماً أن الضيق ينشىء صبراً، والصبر تزكية، والتزكية رجاء، والرجاء لا يخزى (رو5: 3- 5).</p>
<p>إذن لنقتف آثار هؤلاء الرجال فلا يمر علينا وقت دون أن نشكر الله، خاصة الآن فإذ نحن في شدة بسبب الهراطقة الآريوسيين الذين يضادونا، نسبح الله و تنطق بكلمات القديسين قائلين &#8220;هذا كله جاء علينا وما نسيناك&#8221; (مز44: 17).</p>
<p>نعم فإننا حتى وإن كنا نتضايق محزونين فاننا نشكر الله، لأن الرسول الطوباوي الذي يقدم الشكر في كل وقت يحثنا أن نسلك في نفس الطريق على الدوام بقوله &#8220;في كل شئ&#8230; مع الشكر لتعلم طلباتكم لدى الله&#8221; (في4: 6).</p>
<p>وإذ يرغب في أن نثبت على هذا الموقف يقول &#8220;صلوا بلا انقطاع، اشكروا في كل شئ&#8221; (1تس5: 17، 18) لأنه عارف أن المؤمنين يكونون أقوياء طالما هم يشكرون، وانهم يفرحون هادمين حصون الأعداء (الشياطين) كأولئك القديسين الذين قالوا &#8220;لأني بك اقتحمت جيشاً وبإلهي تسورت أسواراً&#8221; (مز18: 29).</p>
<p>إذاً لنثبت في كل الأوقات، خاصة الآن رغم ما يحيق بنا من أحزان وما يثيره الهراطقة ضدنا.</p>
<p>دعنا إذن أيها الأخوة الأحباء نعيد بشكر ذلك العيد المقدس الذي يقترب منا الآن، ممنطقين أحقاء أذهاننا، متشبهين بمخلصنا يسوع المسيح الذي كتب عنه &#8220;ويكون البر منطقة متنية والأمانة منطقة حقويه&#8221; (1بط1: 13).</p>
<p>ليمسك كل واحد منا بالجذع الذي من يسى، وليحتذي باستعداد الإنجيل (إش11: 5).</p>
<p>لنحفظ العيد  كقول الرسول &#8211; و ليس بخميرة عتيقة ولا بخميرة الشر والخبث بل بفطير الإخلاص والمحبة (أف6: 15)، واثقين أننا قد إصطلحنا خلال المسيح، غير منفصلين عن الإيمان به، ولا مدنسين أنفسنا مع الهراطقة والغرباء عن الحق، هؤلاء الذين تشهد مناقشاتهم وارادتهم عن خستهم. أما نحن فنفرح في أحزاننا وندخل أتون الحديد ونعبر ذلك البحر الأحمر المرعب دون أن يصيبنا أي أذى.</p>
<p>هكذا أيضاً عندما تنظر إلى إرتباك الهراطقة نغني مع موسى بأغنية التسبيح قائلين &#8220;أرنم للرب لأنه قد تعظم&#8221; (خر ١٥: ١) فلنسبح مرتلين، إذ نرى الخطية التي فينا قد طرحت في البحر، وأما نحن فنعبر إلى البرية.</p>
<p>وإذ نتنقى بصوم الأربعين مع الصلوات والتداريب والأعمال الصالحة نستطيع أن نعبر إلى أورشليم لنأكل الفصح القدس.</p>
<p><strong>موعد العيد</strong></p>
<p>يبدأ صوم الأربعين في الخامس من شهر Phamenath (أول مارس)، وكما قلت أنه إذ نتنقى ونستعد بواسطة هذه الأيام التي للصوم. نبدأ في الأسبوع المقدس الذي للفصح العظيم في ١٠ برمودة  (٥ أبريل)، حيث يلزمنا أن نزيد من صلواتنا زيادة عظيمة، ونزيد من أصوامنا وأسهارنا حتى يمكننا أن ندهن مقدمة منازلنا بالدم الثمين فيهرب المهلك.</p>
<p>وفي الخامس عشر من برمودة (١٠أبريل) لنستريح، لأنه في ليلة ذلك الأحد نسمع رسالة الملائكة &#8220;لماذا تطلبون الحي من بين الأموات. إنه قام&#8221; (راجع لو24: 5).</p>
<p>نستقبل بعد ذلك يوم الأحد العظيم &#8211; أقصد في السادس عشر من شهر برمودة (١١ أبريل) الذي إذ فيه قام ربنا، ووهبنا أن نكون لنا سلام مع أخوتنا.</p>
<p>إذا لنحفظ العيد حسب مشيئته، ولنضف إلى ذلك اليوم الأول من الأسبوع المقدس السبع أسابيع التي للبنديكست، وإذ في هذا اليوم (عيد العنصرة) تسلمنا نعمة الروح القدس، فلنشكر الرب في كل حال..</p>
<p>قبلوا بعضكم بعضا بقبلة مقدسة. يسلم عليكم الإخوة الذين معي.</p>
<p>وإنني أصلي من أجلكم أيها الإخوة المحبوبين الذين أشتاق اليهم، أن تكونوا في صحة، راجياً أن تذكروننا في الرب.</p>
<h4>شرح إنجيل القداس &#8211; للقديس كيرلس الأسكندري<a href="#_ftn3" name="_ftnref3">[3]</a></h4>
<p><strong>(يو٥: ٣٣)</strong>: <strong>&#8220;أنتم أرسلتم إلى يوحنا فشهد للحق&#8221;</strong>.</p>
<p>كما سبق وأكدنا أنه من المزري ومنتهى الحمق، أن يعجب المرء بصفته السامية، حتى إن كان بسبب الفضيلة الزائدة لا يقع تحت طائلة الباطل، لهذا من السخف سواء هذا الأمر أو كل ما يتعلق به أن الذين لم يطلبوا للشهادة يمثلون من تلقاء أنفسهم أمام القضاة أو أمام الذين يريدون الاستفسار عن شئ. لأن مثل هذا الشخص يبدو أنه قد جاء لا ليشهد بالحق، بل لمجرد الإدلاء بشهادته في رغبة جامحة للشهادة، لا لكي يعرف الآخرين طبيعة الحقيقية، بل بالحري ليعرض تقديره هو عنها أو يعرض رؤيته الخاصة. لهذا وبمنتهى الحذق يطرح ربنا يسوع المسيح إذ هو إله عنه تهمة الفريسيين بخصوص هذا الأمر قائلاً: أنتم أرسلتم الى يوحنا، وهو لم يأت من نفسه للإدلاء بشهادته عني، فهو برئ من أية تهمة فقد قدم شهادته الصريحة وأنتم أرسلتم لتسألوا يوحنا، وهو شهد للحق، لأنه لما سئل من الذين أرسلوا إليه، ما إذا كان هو المسيح أم لا، أعترف ولم ينكر وأفر &#8220;إني لست أنا المسيح، بل إني مرسل أمامه&#8221; (يو١: ٢٠؛ ۳: ٢٨)، لهذا فقد شهد للحق لأن المسيح هو الحق.</p>
<p><strong>(يو٥: ٣٧،٣٦)</strong>: <strong>&#8220;وأما أنا فلي شهادة أعظم من يوحنا، لأن الأعمال التي اعطاني الاب لأكملها، هذه الأعمال بعينها التي أنا أعملها هي تشهد لي أن الاب قد أرسلني والاب ونفسه الذي أرسلني يشهد لي&#8221;</strong>.</p>
<p>وكأني بالمسيح يقول: حتى وإن كان هو السراج والذي صورته كتب الناموس، واستُعلن جهارا بصوت الأنبياء القديسين، أنه يوما ما سيظهر، مضيئًا أمام النور الحقيقي، ومعلناً وسطكم، أن أعدوا طريق الرب الإله مستقيماً. وإن كان يبدو لكم أنه غير أهل للثقة، رغم أنه عظيم جداً في الفضيلة، حماقتكم المتأصلة المفرطة السخف والزائدة، فإنني أنتقل الآن إلى ما هو أعظم، والذي من المحتمل أنكم لن تتطاولوا عليه، إذ تمتلئون خزياً أمام عمق جمال الحق حتى ولو ضد إرادتكم، لأنني لا أقبل مجداً من كلمات وأحكام الناس، ولا أنا بمحتاج أن أجمع شهادات عن نفسي من مجرد كلمات، بل سأقوم بأعمالي لأشهد بكيفية أصدق وأعظم من تلك، ومن عظيم أعمالي أظهر أنني إله بالطبيعة ومن الله الآب، وإني لا أسيئ إلى النواميس الخاصة بي، فأحيلها إلى ما أريد أنا، محولاً الأمور التي سمع عنها الأقدمون بشكل مبهم، ناقلاً إياها من كثافة الحرف إلى التأمل الروحي. لكن ليهتم محب التعلم مرة أخرى ويعتبر أن المخلص بقوله إنه بأعماله أنما يشهد شهادة حسنة عن ذاته أنه الله بالطبيعة، إنما يعلمنا بجلاء أنه من المستحيل أن يكون فعل وقدرة الله الخاصة في أي أحد بنفس تلك الدرجة والدقة، إن لم يكن هو أيضا الله بالطبيعة لأن &#8220;أعماله تشهد له&#8221; ليس من أي طريق آخر سوى ذلك الطريق بحسب اعتقادي. لأنه إذ هو يرى متمماً &#8220;لأعمال&#8221; أبيه، وكل ما يليق به ويناسبه هو وحده، وهذه أيضا ينجزها بقدرته الذاتية، فكيف لا يتضح جليا لكل أحد، أن له طبيعة الآب نفسها، وأنه يشع بنفس خصائص الآب، إذ هو منه، وأن له ذات القدرة والفعل معه؟.</p>
<p>ومع هذا فهو يقول إنه تسلم الأعمال منه، إما بسبب تسربله بالطبيعة البشرية وصورة العبد، لهذا تكلم بأكثر اتضاع كما كان لازماً وكان هذا أمراً تدبيرياً أو أنه يطلق لقب &#8220;العطية&#8221; على مسرة الآب لصالحه واستحسانه من جهة كل معجزاته العجيبة. ولهذا نراه يؤكد أنه أرسل أيضا، إذ قد أخلى ذاته (كما هو مكتوب)، من كرامته الإلهية الخاصة بسبب حبه لنا، لأنه &#8220;وضع نفسه&#8221; (في٨:٢). ونحن لا نجد لتنازله واتضاعه هذا سبيلاً إلا في تلك الظروف التي يتحدث فيها كإنسان، وهذا ما يتفق مع ما يقوله المرنم عنه بأسلوب بشري لأجلنا نحن، &#8220;قد مسحت ملكاً على صهيون جبل قدسه&#8221; (مز٦:٢، ٧س). لأن ذاك الذي هو ملك إلى الأبد مع الآب، شريك العرش والجالس الشريك معه، وهو الإله مع الإله الذي ولده، يقول إنه مسيح أي عين &#8220;ملكا وربا&#8221;، وهو يقول إن ما كان له كإله، قد ناله حينما صار إنساناً، والإنسان ليس له الملك بالطبيعة بل إن كلاً من لقب الربوبية وحقيقتها إنما ينالهما بالكامل من خارج.</p>
<h4>شهود الإيمان &#8211; القديس يوحنا ذهبي الفم<a href="#_ftn4" name="_ftnref4">[4]</a></h4>
<p>لنأتى الى موضوعنا الآن، لماذا قال الرسول بولس: &#8220;فإذ لنا روح الإيمان عينه؟ فبينما أجتاز التلاميذ شرور كثيرة من المضطهدين، إلا أنهم رغم كل هذا كانوا يترجون الأمور الحسنة فقط، وبينما كانت هذه الشرور قريبة منهم، فإن الأمور المرجوة كانت بعيدة عنهم، وبينما هذه الآلام قد تمت، فإن خيرات الدهر الآتى قد عاشوها بالرجاء. وما هو الغريب في هذا، لو أن البعض قد عانى من هذه الآلام آنذاك في بداية الكرازة، طالما أنه الآن، بعد كل هذا الزمن الذى عبر، وبعد أعطيت تأكيدات بالوعود الإلهية، يوجد كثيرون يعانون من نفس الآلام؟.</p>
<p>وليس هذا ما أزعجهم وأثارهم، بل وأمر آخر، ليس بأقل منه، إذ قالوا لأنفسهم إن الحقائق في العهد القديم لم تكن قد نظمت على هذا النحو، ومع ذلك فإن جميع الذين أرادوا وقرروا أن يحيوا بالحكمة والبر، تذوقوا على الفور عطايا ومكافآت الفضيلة. لأن كل الوعود قد تجسدت ليس بعد قيامة الأموات، وليس في الحياة الأخروية، بل هنا في الحياة الحاضرة. يقول الكتاب: &#8220;ومن أجل أنكم تسمعون هذه الأحكام وتحفظون وتعملونها&#8230;، ويحبك (الرب) ويباركك ويكثرك ويبارك ثمرة بطنك وثمرة أرضك: قمحك وخمرك ونتاج بقرك&#8230; مباركاً تكون فوق جميع الشعوب. لا يكون عقيم ولا عاقر فيك ولا في بهائمك. ويرد الرب عنك كل مرض&#8230;&#8221; (تث7: 12- 15). وأيضاً &#8220;يأمر لك الرب بالبركة في خزائنك وفى كل ما تمتد إليه يدك، ويباركك في الأرض التي يعطيك الرب إلهك&#8221; (تث28: 8). يقول أيضاً &#8220;أعطي مطر أرضكم في حينه: المبكر والمتأخر. فتجمع حنطتك وخمرك وزيتك&#8221; (تث11: 14) يقول أيضاً &#8220;ويلحق دراسكم بالقطاف، ويلحق القطاف بالزرع، فتأكلون خبزكم للشبع وتسكنون في أرضكم آمنين&#8221; (لا 26: 5). وأمور أخرى كثيرة وشبيهه بذلك قد وعدهم الله بها، وكلها قد أعطاها لهم في هذه الحياة الحاضرة. إن الأكثر ذكاءً يدرك الإجابة والحل لما قد يبدو متناقضاً لأنهم كانوا يتمتعون بصحة جيدة، ولديهم حقول مثمرة وأبناء كثيرين وصالحين، وشيبة قوية، وتعاقب لفصول السنة هادئ ومريح، وسنوات سعيدة، وأمطار نافعة وقطعان من البقر والأغنام، وتمتعوا بكل ما هو خير وحسن بشكل عام في هذه الحياة الحاضرة، ولم يترك لهم شيئاً يعتمد على الرجاء، ولا وعدهم بشئ بعد الموت. إذاً فقد تكون المؤمنون قد فهموا كيف أن أسلافهم قد إمتلكوا كل الخيرات، بينما بالنسبة لهم فإن المجد، والمكافآت هي محفوظة في الحياة الأخروية، وتحقيق هذه الوعود، كان يستند الى الإيمان فقط، لذلك فقد شعروا باليأس، لأنهم كانوا مضطرين أن ينقادوا إلى التجارب. ولأن الرسول بولس كان مدركاً لهذه الأمور ويفكر فيها، وكذلك المآسي والشدائد التي مروا بها وهددت حياتهم، وكيف أن الله قد وعدهم بالمجازاة عن أتعابهم بعد الرحلة إلى الأبدية، بينما كافأ أسلافهم في هذه الحياة، وكان يعرف جيداً مدى إحباطهم بسبب ذلك، فقد أراد أن يشددهم وأن يعلمهم كيف أنه بالنسبة لأسلافهم هكذا كانت الأمور، وهكذا صارت، وكيف نال الكثيرون مكافأتهم بالإيمان، دون المرور في التجارب أو دون أن يجرب هذا الإيمان، ولذلك ذكرهم بالعبارة النبوية: &#8220;فإذ لنا روح الإيمان عينه حسب المكتوب آمنت لذلك تكلمت&#8221; (2كو4: 13)، قائلاً: كيف أن دواد هذا النبي العظيم الشجاع لم يختبر المكافأة أو المجازاة، لكنه عاشها بالإيمان. لأنه إن لم يكن الأمر كذلك، ما كان له أن يقول &#8220;آمنت لذلك تكلمت&#8221; (مز116: 10). لأن الإيمان هو قناعة وثقة راسخة لا تهتز، ويقين بوجود حياة أخرى نترجاها، وأمور غير مرئية، لأن ما يراه الإنسان لا يمكن أن يترجاه في كل الأحوال، أي إن كان قد آمن بحقائق يترجاها، لكن إن كان قد آمن بما يرجو تحقيقه، فهذه بالتأكيد أمور غير ظاهرة، بل ولم يتذوق بعد ما آمن به. لذلك قال الرسول بولس: &#8220;إذ لنا روح الإيمان عينه&#8221;، وهذا يعني أن لنا نفس الإيمان الذى كان في العهد القديم. ولذلك يتكلم في مواضيع أخرى، عن القديسين آنذاك، قائلاً: &#8220;رجموا، نشروا، جربوا، ماتوا قتلاً بالسيف.. مكروبين مذلين، وهم لم يكن العالم مستحقاً لهم&#8221; (عب11: 37، 38). بعد ذلك يعلمهم كيف إحتملوا العذابات، لكنهم لم يذوقوا بعد المكافآت، ثم أضاف: &#8220;فهؤلاء كلهم، مشهوداً لهم بالإيمان، وهم لم ينالوا المواعيد، بل من بعيد نظروها وصدقوها وحيوها&#8221; (عب11: 39، 13). وكيف نظروها طالما أن هذه المواعيد لم تتحقق بعد؟ بعيون الإيمان التي تصل إلى أعلى من السماء، وتنظر كل ما هناك.</p>
<p>لكن عليك أن تنتبه إلى الحكمة الإلهية، فإن كان الله قد أظهر لهم المواعيد والمكافأت من بعيد، إلا أنه لم يمنحها لهم على الفور، حتى يدربهم على الصبر والإحتمال. وهو أظهرها من بعيد، لكى يقويهم في الرجاء، حتى لا يشعروا بثقل متاعب وآلام الحياة الحاضرة.</p>
<p>لكن قد يكون من بينكم من هو أكثر إنتباهاً لموضوعنا الذى نتحدث فيه. ويرى أننا لا نتكلم بالصواب بقدر كبير. لأنه – هكذا – يقول – لو أن القدماء لم يتمتعوا بالخيرات والمكافأت بشكل مباشر، فكيف يعدد لنا هذه الخيرات التي نالوها، أي فصول السنة الهادئة، والصحة الجسدية الجيدة، والأبناء الكثيرين البارين، الأزمنة السعيدة المفرحة، الثمار الغنية، فطعان البقر والأغنام، وكل الرخاء المادى والسعة في العيش؟ ماذا سنقول في هذا؟ سنقول إن الله قد عامل جموع الشعب الضعيف بطريقة مختلفة، وبطريقة أخرى عامل الرجال العظام الذين عاشوا آنذاك حياة الفضيلة التي نعرفها في العهد الجديد. لأنه من جهة الكثيرين الذين سحبوا كالحشرات، ولم يستطيعوا أن ينظروا إلى ما هو أسمى ولا إستطاعوا ان يترجوا خيرات الدهر الآتي، أعطاهم هذا الرجاء المادي، حتى تقوى نفوسهم الضعيفة، ويقودهم بهذه الطريقة إلى ممارسة الفضيلة، وجعلهم مشتاقين ومتلهفين إلى ممارسة الأعمال الحسنة.</p>
<p>لكن إيليا، وإليشع، وإرميا، وإشعياء، وكل الأنبياء بشكل عام، وكل الذين شكلوا خورس القديسين، والرجال العظام قد دعاهم إلى السماء، ليتمتعوا بالخيرات المعدة  للذين غيروا في حياة الفضيلة. لذلك لم يشر الرسول بولس إلى الجميع بشكل عام بل أشار إلى الذين إرتدوا جلود غنم وجلود ماعز، الذين ألقوا في أتون النار، وفى السجون، الذين عذبوا ورجموا، الذين عاشوا في فقر وعوز، الذين تاهو في البراري والجبال والمغاير وشقوق الأرض، الذين عانوا من عذابات لا حصر لها. ثم أضاف أن هؤلاء جميعاً قد ماتوا مشهوداً لهم بالإيمان، وهم لم ينالوا المواعيد. بهذا قد أظهر لنا إيليا وكل من هو على مثال إيليا، وليس من الشعب اليهودي. وإذا تساءل البعض، لماذا لم يذق هؤلاء ولا أعطاهم الآن أيضاً المكافآت المستحقين لها؟ فليأخذ الإجابة من الرسول بولس نفسه، لأنه يقول: &#8220;في الإيمان مات هؤلاء أجمعون، وهم لم ينالوا المواعيد&#8221;، ثم أضاف: &#8220;إذ سبق الله فنظر لنا شيئاً أفضل، لكى لا يكملوا بدوننا&#8221; (عب11: 40) لأن الإحتفال مشترك – هكذا يقول – إذ أن فرح النفس أخاذ ومدهش عندما ننال كلنا معاً الأكاليل. وهذا ما يحدث في المنافسات الأولمبية، فإن المصارعين، والملاكمين، يتصارعون في فترات زمنية مختلفة، لكن ينادى بفوزهم، في نفس اللحظة، أي في وقت واحد. ويحدث ذلك أيضاً في الولائم. لأنه عندما يحضر بعض المشاركين في نفس المائدة مبكرًا، والبعض الآخر يأتي متأخرًا. فإن المضيفين الداعين لهذه المائدة، يترجون الحاضرين الملتزمين، أن ينتظروا المتأخرين، حتى يكرمونهم في معيتهم. هكذا يفعل الله، لأنه عندما دعى كل الذين عاشوا طوال حياتهم بالتقوى ومرضاة الله، ومن كل أطراف المسكونة، إلى مائدة روحية واحدة، فإن الذين رحلوا من هذه الحياة الحاضرة وصلوا إلى هناك، يحثهم الله على إنتظار كل الذين سيتركون الحياة الأرضية، حتى أنه عندما يجتمع الكل معاً حول مائدة واحدة، يكون المجد، والفرح الروحي، هو واحد للجميع. لأنه يجب أن نفكر في كم هي عظيمة هذه الكرامة، حين يكون الرسول بولس وكل المتمثلين به، وإبراهيم وكل المتشبهين به، بل والمجاهدين أيضاً، والذين فازوا بالفضيلة من قبله، ينتظرون الآن إرتقاءنا وسمونا في الحياة الأبدية.</p>
<p></p>
<h3>عظات آباء وخدّام معاصرين <strong>الاربعاء الثاني من الخمسين يوم المقدسة</strong></h3>
<h4>شرح لأنجيل القداس – القمص أنطونيوس فكري<a href="#_ftn5" name="_ftnref5">[5]</a></h4>
<p><strong>(يو5: 31) </strong><strong>&#8220;إِنْ كُنْتُ أَشْهَدُ لِنَفْسِي فَشَهَادَتِي لَيْسَتْ حَقًّا&#8221;</strong></p>
<p>المسيح هنا يلجأ لثلاثة شهود فاليهود شكوا فيه إذ قال عن نفسه أنه ابن الله وهو قرأ فكرهم وهنا المسيح يلجأ للشهود الآخرين: [1] هو نفسه (آية ٣١ + يو ٨ : ١٤)؛ [2] الآب (آية ٣٢)؛ [3] يوحنا المعمدان (آية ٣٣). فالمسيح يؤكد شهادته لنفسه بشهادة اثنين آخرين. وبحسب الناموس اليهودي فالشهادة تقبل على فم شاهدين (تث١٧: ٦، ١٩: ١٥+ عد٣٥: ٣٠). قطعًا شهادة المسيح عن نفسه كافية فهو الحق. وهو قال هذا (يو٨: ١٤) ولكن اليهود بحسب تفكيرهم وبحسب ناموسهم يحتاجون لشهود (يو٨: ١٣).</p>
<p>هنا يقول إن كنت أشهد لنفسي فشهادتي ليست حقًا = هذا بحسب المنطق البشري. وفي (يو٨: ١٤) قال &#8220;شهادتي حق&#8221; = فهذا منطق الله، فالله غير خاضع للمعايير البشرية.</p>
<p><strong>(يو5: 32)</strong> <strong>&#8220;الَّذِي يَشْهَدُ لِي هُوَ آخَرُ، وَأَنَا أَعْلَمُ أَنَّ شَهَادَتَهُ الَّتِي يَشْهَدُهَا لِي هِيَ حَق&#8221;</strong></p>
<p>آخر= هو الآب لأن الفعل &#8220;يشهد&#8221; أتى في زمان المضارع الدائم، وهذا لا يستقيم في حالة أي إنسان، لأن أي إنسان تكون شهادته مؤقتة أما شهادة الآب فدائمة وصادقة.</p>
<p>والآب شهد للمسيح أنه ابنه يوم العماد ويوم التجلي وشهد له بالنبوات (آيات ٣٨، ٣٩) وشهد له بالأعمال التي يعملها المسيح والتي تظهر أن الآب فيه (36). والمسيح يعرف شهادة الآب عنه بسبب علاقته الأقنومية به. واليهود لا يعرفون بسبب خطاياهم وكبريائهم (38).</p>
<p><strong>(يو5: 33، 34) </strong><strong>&#8220;أَنْتُمْ أَرْسَلْتُمْ إِلَى يُوحَنَّا فَشَهِدَ لِلْحَقِّ. وَأَنَا لاَ أَقْبَلُ شَهَادَةً مِنْ إِنْسَانٍ، وَلكِنِّي أَقُولُ هذَا لِتَخْلُصُوا أَنْتُمْ&#8221;</strong></p>
<p>هنا المسيح يقول لهم أنا أشهد لنفسي ويشهد لي الآب وأنتم لا تصدقون، وأرسلتم وسألتم يوحنا فشهد لي، والمسيح يقول هذا لا ليطلب شهادة المعمدان لأنه محتاج إليها فهو لا يحتاج لشهادة إنسان،</p>
<p>فمن يحتاج لشهادة إنسان فهو يعتمد على هذا الإنسان ويحتاج لهذا الإنسان والله لا يحتاج لأحد.</p>
<p>بل إذ كانوا فرحين بالمعمدان وواثقين فيه ويكرمونه (على أن كثيرين رفضوه أيضًا &#8211; لو٧: ٢٩، ٣٠) لجأ المسيح لشهادته ليجعلهم يؤمنون به فيخلصون.</p>
<p>المسيح يلجأ لشهادة المعمدان ليرضيهم بحسب منطقهم فيجذبهم للخلاص. ولكن من غير المقبول أن يتوقف صدق الله على شهادة إنسان.</p>
<p><strong>(يو5: 35)</strong> <strong>&#8220;كَانَ هُوَ السِّرَاجَ الْمُوقَدَ الْمُنِيرَ، وَأَنْتُمْ أَرَدْتُمْ أَنْ تَبْتَهِجُوا بِنُورِهِ سَاعَةً&#8221;</strong></p>
<p>يوحنا المعمدان كان سراج = ربما كان المعمدان قد استشهد وقتها أو كان في السجن وبهذا توقفت خدمته أي نوره قد توقف، ومهما كان المعمدان فهو كمصباح لا بُد وأن وقوده سينفد في وقتٍ ما. ولكنه كان سراج موقد من الداخل بالمحبة والغيرة ومنير من الخارج في قداسته. أنتم أردتم أن تبتهجوا بنوره = هللوا له وقت ظهوره إذ ظنوه هو المسيا، ولكن المعمدان ظهر لفترة وجيزة = ساعة = وقت قصير أي عدة شهور، بينما أن بهجة خلاص المسيح فأبدية. أمّا اليهود الذين فرحوا بيوحنا المعمدان وتركوا المسيح، فهم اختاروا البركة المؤقتة وتركوا نعمة الملكوت الدائمة. ويوحنا كان سراجًا ينيره آخر أي الله (يو١: ٨). لكن المسيح هو النور الحقيقي فالنور طبيعته (يو١: ٩). وقوله السراج عن المعمدان فلأن المعمدان كان يشهد للمسيح وينير الطريق لليهود حتى يروا المسيح فيؤمنوا به. وهذا معنى يعد الطريق أمام المسيح.</p>
<p><strong>(يو5: 38)</strong> <strong>&#8220;وَأَمَّا أَنَا فَلِي شَهَادَةٌ أَعْظَمُ مِنْ يُوحَنَّا، لأَنَّ الأَعْمَالَ الَّتِي أَعْطَانِي الآبُ لأُكَمِّلَهَا، هذِهِ الأَعْمَالُ بِعَيْنِهَا الَّتِي أَنَا أَعْمَلُهَا هِيَ تَشْهَدُ لِي أَنَّ الآبَ قَدْ أَرْسَلَنِي&#8221;</strong></p>
<p>الأعمال = المعجزات + تعاليمه وأقواله التي كانت بسلطان. كل هذا يشير للقوة الإلهية التي تعمل فيه. أعمال المسيح هي برهان صدق إرساليته (يو١٠: ٢٥، ٣٢، ٣٥، ٣٧) + (يو١٤: ١٠، ١١) + (يو١٥: ٢٤). أعمال المسيح تستعلن الله الآب في شخص المسيح. ولنلاحظ أن من يقبل ابن الله في قلبه يكون له شهادة في داخله له ولا يحتاج معها شهادة من خارج، فالإيمان بالمسيح يحمل تأكيده فيه لأنه هو شهادة صدق الله.</p>
<p>أعطاني = المسيح يركز على أن الآب يعطي الابن (يو٣: ٣٥)، (يو١٣: ٣)، (يو٥: ٢٢، ٢٦، ٢٧)، (يو٦: ٣٩)،  (يو١٧: ٢، ٤، ٦، ١٢، ٢٤)، (يو١٢: ٤٩). ومعنى أن الآب يعطي الابن فهذا لأن كل شيء وكل عمل وكل مشيئة عند الآب هي غير منظورة والآب يعطيها للابن ليظهرها، أو يعطي الابن أن يظهرها ويعلنها على مستوى الفعل والواقع المنظور. فالأعمال عند الآب والابن هي واحدة، غير منظورة عند الآب، ومنظورة بالابن، فالآب يعمل بالابن، الآب يريد، والابن ينفذ فهو قوة الآب (١كو١: ٢٤). وبنفس المفهوم نفهم لماذا قال المسيح انه لا يعرف الساعة؟ فالآب لا يريد إعلانها. ودور الابن إظهار هذه الإرادة التي هي أيضًا إرادته فهما واحد. وأيضًا هكذا نفهم (رؤ١: ١) إذًا العطاء من الآب للابن يفيد أن الابن يكمل عمل الآب أي ينفذه أو يظهره. لأكملها = يكملها هنا تفيد التكميل حتى النهاية أو حتى الكمال &#8220;العمل الذي أعطيتني قد أكملته&#8221; + &#8220;قد أكمل&#8221;.</p>
<p>يوحنا كان مجرد سراج يظهرني لكم. هو يدعو للتوبة، ومن فعل عرف المسيح. لكن المسيح جاء ليعمل أعمال هي شفاء وإعطاء حياة وتجديد الخليقة. وهذه هي الراحة. هذا هو السبت الحقيقي راحة الله هي في راحة البشر.</p>
<p>أَمَّا أَنَا فَلِي شَهَادَةٌ أَعْظَمُ مِنْ يُوحَنَّا = في الآية (٣٣) &#8220;أَنْتُمْ أَرْسَلْتُمْ إِلَى يُوحَنَّا فَشَهِدَ لِلْحَقّ&#8221; يوحنا شهد للمسيح. أما المسيح فهو يُعلن الآب ومحبة الآب &#8220;لِأَنَّ ٱلْآبَ نَفْسَهُ يُحِبُّكُمْ&#8221; (يو١٦: ٢٧)، وإرادة الآب في خلاص النفوس، وفي عودة البشر كأبناء له في المسيح. وأن هذا سيتم بالفداء بالصليب. وهذه الشهادة أعظم فهي ليست مجرد شهادة بالقول بل شهادة ببذل الابن لدمه &#8220;لَيْسَ لِأَحَدٍ حُبٌّ أَعْظَمُ مِنْ هَذَا: أَنْ يَضَعَ أَحَدٌ نَفْسَهُ لِأَجْلِ أَحِبَّائِهِ&#8221; (يو١٥: ١٣). ولاحظ أن البذل هنا هو للآب كما للابن.</p>
<hr />
<p><a href="#_ftnref1" name="_ftn1">[1]</a>  كتاب الرسائل الفصحية للقديس أثناسيوس الكبير &#8211; الرسالة الثالثة (عيد القيامة في 16 برمودة سنة 47 ش. &#8211; 11 أبريل سنة 331 م.) صفحة 14 &#8211; القمص تادرس يعقوب ملطي.</p>
<p><a href="#_ftnref2" name="_ftn2">[2]</a> یبدو أن البابا أثناسیوس كان مستبعداً عن شعبه بسبب بعض المضایقات التي مرت بها الكنیسة من الهراطقة.</p>
<p><a href="#_ftnref3" name="_ftn3">[3]</a>  تفسير انجيل يوحنا للقديس كيرلس الاسكندري &#8211; المجلد الاول – ص 284 &#8211; ترجمة دكتور نصحي عبد الشهيد وآخرون.</p>
<p><a href="#_ftnref4" name="_ftn4">[4]</a>  كتاب الحقيقة والظلال &#8211; صفحة ٨١ &#8211; ترجمة دكتور سعيد حكيم يعقوب.</p>
<p><a href="#_ftnref5" name="_ftn5">[5]</a>  تفسير إنجيل يوحنا &#8211; الإصحاح الخامس &#8211; القمص أنطونيوس فكري.</p>

      {% endcreateArticleAccordions %}
    </section>
  {% endblock %}
  