---
layout: 'layouts/reading.html'
title: 'يوم الخميس من الأسبوع الثاني للخماسين المُقَدَّسَة'
permalink: pentecost/2-4.html
---
  {% block content %}
    <section id="readings">
      <ul>
      {% if '19.90:14' != 'null' %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">العشية</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeVespers '19.90:14' '40.11:11-15' %}
          </div>
        </div>
      </li>
      {% endif %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">باكر</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeMatins '19.5:3-4' '40.11:2-6' '' %}
          </div>
        </div>
      </li>
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <h3 class="flex items-center justify-between">
            <span class="kufi">القداس</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </h3>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeLitugy '45.1:16-17' '62.2:7-10' '44.4:13-18' '19.8:4-5' '43.5:39-47' %}
          </div>
        </div>
      </li>
        </ul>
    </section>
    <section id="article">
      <h3 class="mt-8 mb-4 heading-explain">شرح القراءات</h3>
      {% createArticleAccordions firstName, lastName %}
        <h3>الإيمان ووحدة وملء الإعلان</h3>
<p>تتكلم القراءات اليوم عن <strong>الإيمان ووحدة وملء الإعلان</strong>، فالإعلان الإلهي واحد في جوهره وغايته في العهد القديم والعهد الجديد، وتحقق ملئه في المسيح في ملء الزمان.</p>
<p></p>
<h4>المزامير</h4>
<p>لذلك توضح المزامير ← <strong>ملء الإعلان في العهد الجديد غنى المراحم الإلهية وإهتمام الله العظيم بالإنسان</strong>..</p>
<p>&#8220;قد امتلأنا وقت الغدوات من رحمتك. وابتهجنا وفرحنا فى كل أيامنا..&#8221; (مز٨٩ : ١١)،</p>
<p>&#8220;بالغداة استمع صوتي. بالغداة أقف أمامك وتراني.&#8221; (مز ٥: ٣، ٤)،</p>
<p>&#8220;من هو الإنسان إنك تذكره. أو ابن الإنسان إنك تفتقده. بالمجد والكرامة توجته..&#8221; (مز ٨: ٤، ٥).</p>
<p></p>
<h4>إنجيل عشية</h4>
<p>وفي إنجيل عشية عن ← <strong>وحدة إعلان الأنبياء في العهد القديم مع إعلان العهد الجديد</strong> ممثلاً في يوحنا المعمدان &#8220;لأن جميع الأنبياء والناموس تنبأوا إلى يوحنا فإن شئتم أن تقبلوه فهو إيليا المزمع أن يأتي&#8221;. (مت 11: 13، 14).</p>
<p></p>
<h4>انجيل باكر</h4>
<p>وفي انجيل باكر عن  ← <strong>ملء إعلان العهد الجديد وبركاته للبشرية </strong>&#8220;فأجاب يسوع وقال لهما إذهبا وأخبرا يوحنا بما تنظران وتسمعان العمي يبصرون والعرج يمشون والبرص يطهرون والصم يسمعون والموتى يقومون والمساكين يبشرون&#8221; (مز105: 3).</p>
<p></p>
<h4>البولس</h4>
<p>وفي البولس عن ← <strong>وحدة إعلان بر الله في العهدين القديم والجديد</strong> &#8220;من اليهود أولاً ثم من سائر الأمم لأن فيه معلن عدل الله وبره من إيمان إلى إيمان كما هو مكتوب أن البار يحيا بالإيمان&#8221; (رو1: 17).</p>
<p></p>
<h4>الكاثوليكون</h4>
<p>وفي الكاثوليكون عن ← <strong>وحدة إعلان التعليم الإلهي والوصية</strong> &#8220;يا اخوتي لست أكتب إليكم وصية جديدة بل وصية قديمة كانت عندكم من البدء الوصية القديمة هي التي سمعتموها من البدء&#8221; (1يو 2: 7).</p>
<p></p>
<h4>الابركسيس</h4>
<p>وفي الابركسيس عن ← أن <strong>ملء الإعلان الإلهي لا يعتمد على قدرات البشر، بل على إسم يسوع المسيح</strong> &#8220;فلما رأوا مجاهرة بطرس ويوحنا ووجدوا أنهما لا يعرفان الكتاب وأنهما أميان تعجبوا منهما وعرفوهما أنهما كانا مع يسوع&#8221; (اع 4: 21، 22).</p>
<p></p>
<h4>إنجيل القداس</h4>
<p>وفي انجيل القداس عن ← <strong>وحدة الإعلان الإلهي في الكتاب المقدس كله</strong> لمن يفتش بإجتهاد فيكتشف، كما قال باسكال أن الكتاب المقدس بعهديه يعزف لحناً واحداً هو المسيح &#8220;فتشوا الكتب التي تظنون أنتم أن فيها حياة أبدية وهي التي تشهد لي&#8230; لأنكم لو كنتم تؤمنون بموسى لكنتم تؤمنون بي أيضاً لأن ذاك كتب عني&#8221;.</p>
<h3></h3>
<h3>ملخص الشرح</h3>
<ul>
<li>ملء الإعلان في العهد الجديد أظهر غنى مراحم الله وإهتمام الله العظيم بالإنسان. (مزمور عشية &#8211; مزمور باكر- مزمور القداس).</li>
<li>وحدة إعلان الأنبياء والناموس وشهادة يوحنا المعمدان. (انجيل عشية).</li>
<li>ملء إعلان العهد الجديد وفيض البركات الإلهية على البشرية. (انجيل باكر).</li>
<li>وحدة إعلان بر الله في العهدين. (البولس).</li>
<li>وحدة إعلان الوصية الإلهية والتعليم الإلهي. (الكاثوليكون).</li>
<li>ملء إعلان الله في العهد الجديد لا يعتمد على قدرات البشر، بل على إسم يسوع المسيح. (الابركسيس).</li>
<li>المسيح يسوع هو موضوع الكتاب كله. (إنجيل القداس).</li>
</ul>
<p></p>
<h3>عظات آبائية ليوم الخميس من الأسبوع الثاني (أحد الخبز) من الخمسين يوم المقدسة</h3>
<h4>من الرسائل الفصحية &#8211; للقديس أثناسيوس الرسولي<a href="#_ftn1" name="_ftnref1">[1]</a></h4>
<p>أرسل إليكم يا أحبائى رسالتي<a href="#_ftn2" name="_ftnref2">[2]</a>متأخراً وليس كما إعتدت؛ واثقاً أنكم ستسامحوننى على تأخيري وذلك لطول رحلتي وبسبب مرضي. فقد أعاقاني هذان السببان عن الإرسال، هذا مع حدوث عواصف شديدة على غير العادة، فأرجأت الكتابة اليكم.</p>
<p>وبالرغم من طول مدة السفر مع مرضي الشديد، لكنني لا أنسى أن أقدم لكم تعاليم العيد، إذ من واجبي أن أخبركم عن العيد.</p>
<p>ومع أن هذه الرسالة قد جاءت متأخرة عما إعتدت عليه، لكننى أظن أنه لازال الوقت مناسباً، خاصة وأن أعداءنا<a href="#_ftn3" name="_ftnref3">[3]</a> قد صاروا في عار، ووبختهم الكنيسة لإنهم اضطهدونا بلا سبب. فلنرنم الآن بترنيمة العيد ناطقين بتسبحة النصرة ضد فرعون قائلين &#8220;أرنم للرب فإنه قد تعظم. الفرس وراكبه طرحهما في البحر&#8221; (خر15: 1).</p>
<p><strong>انتعشوا بالغذاء الروحي في يوم العيد</strong></p>
<p>حسناً يا احبائي أن نخرج من عيد إلى عيد، فإن إحتفالات العيد والأسهار المقدسة التي ترتفع في عقولنا، تدعونا الى حفظ السهر على التأمل في الأمور الصالحة.</p>
<p>ليتنا لا نترك هذه الأيام تمرعلينا مثل تلك التي حزنا فيها، إنما إذ تتمتع بالغذاء الروحي تخمد شهواتنا الجسدية. بهذه الوسيلة نقدر أن نغلب أعداءنا (الشياطين والشهوات) كما صنعت يهوديت المباركة (يهوديت 13: 8)، إذ تدربت أولاً على الأصوام. والصلوات، وبهذا غلبت الأعداء وقتلت أليفانا وعندما كان الخراب سيحيق بكل جنس استير لم تفسد ثورة الطاغية إلا بالصوم والصلاة الى الله، وهكذا حولت هلاك شعبها الى حفظهم في سلام (أس 4: 16).</p>
<p>وإذ كانت الأيام التي فيها يقتل العدو أو تباد مؤامراته، تعتبر بالنسبة لهم أعياداً.. لذلك أمر موسى المبارك أن يعيد بعيد الفصح العظيم، لأن فرعون قد قتل والشعب خلص وتحرر من العبودية..</p>
<p><strong>اليوم في قتل الشيطان عدونا</strong></p>
<p>والآن يا أحباني.. قد ذبح الشيطان، ذلك الطاغية الذي هو ضد العالم كله، فنحن لا نقترب من عيد زمني بل عيد دائم سماني، معلنين إياه لا خلال ظلال (وحرف) بل في الحق. لأن أولئك بعد ما شبعوا من جسد الخروف الأبكم تمموا العيد، وإذ مسحوا قوائم بيوتهم بالدم نجوا من المهلك. أما الآن فاذ نأكل &#8220;كلمة&#8221; الآب وتمسح قلوبنا بدم العهد الجديد نعرف النعمة التي يهبنا إياها المخلص الذي قال &#8220;ها أنا أعطيكم سلطاناً لتدوسوا الحيات والعقارب وكل قوة العدو&#8221; (لو10: 19) لأنه لا يعود يملك الموت، بل تتسلط الحياة عوض الموت، إذ يقول الرب &#8220;أنا هوالحياة&#8221; (يو14: 6) حتى أن كل شيء قد إمتلأ بالفرح والسعادة، كما هو مكتوب &#8220;الرب قد ملك، فلتفرح الأرض&#8221;.</p>
<p>لأنه عندما ملك الموت &#8220;على أنهار بابل جلسنا فبكينا&#8221; (راجع مز97: 1؛ 137: 1) ونحنا، لأننا قد شعرنا بمرارة الأسر. وأما الآن إذ بطل الموت وانهدمت مملكة الشيطان، لذلك إمتلأ كل شيء بالفرح والسعادة. ولم يعد الله معروفاً في اليهودية وحدها بل في كل الأرض &#8220;في كل الأرض خرج منطقهم والى أقصى المسكونة كلماتهم&#8221; (مز76: 1؛ 19: 4).</p>
<p>الأمور الباقية واضحة يا أحبائي. أنه يلزمنا أن نقترب الى عيد كهذا لا بثوب مدنس، بل أن تلتحف نفوسنا بأثواب طاهرة.</p>
<p>يلزمنا أن نلبس ربنا يسوع (رو13: 14)، حتى نستطيع أن نعيد معه.</p>
<p>الآن نحن نلبسه عندما نحب الفضيلة ونبغض الشر؛ عندما ندرب أنفسنا على العفة ونميت شهواتنا، عندما نحب البر لا الإثم، عندما نكرم القناعة، ويكون لنا عقلاً راسخاً، عندما لا ننسى الفقير بل نفتح أبوابنا لجميع البشر، عندما نعين الضعفاء وننبذ الكبرياء.</p>
<p><strong>بين الفصح الحقيقي والفصح الرمزي</strong></p>
<p>لقد كان هذا لإسرائيل القديم<a href="#_ftn4" name="_ftnref4">[4]</a> في رموز محاربين لأجل النصرة، معيدين في ظلال وحرف.</p>
<p>أما نحن أيها الأحباء فقد تحقق لنا ما كان ظلالاً، وتم ما كان حرفاً، لذلك يلزمنا ألا تنظر الى العيد كرمز، ولا نذهب إلى أورشليم التي هي هنا أسفل (في الأرض) لكي نقدس خروف الفصح.. لئلا عندما يعبر الوقت (الموسم) ينظر إلينا أننا نصنع أمرا غير مناسب. ولكن بحسب أمر الرسل يلزمنا أن نتعدى حدود الحرف، ونترنم بأغنية التسبيح.</p>
<p>فبإدراكنا هذا، مجتمعين مع بعضنا البعض بالحق (المسيح) يقتربون إلينا ويقولون لمخلصنا &#8220;أين تريد أن نعد لك لتأكل الفصح؟!&#8221; (مت26: 17).</p>
<p>فإنه لا تعود هذه الأمور تصنع في أورشليم التي هي أسفل، ولا هناك فقط يعيد بالعيد بل أينما يريد الله. إنه يريد الآن أن يكون العيد في كل مكان حتى أنه &#8220;في كل مكان يقرب لإسمي (لإسمه)&#8221; (مل1: 11).</p>
<p>فمع أنه في التاريخ لم يكن يحفظ الفصح إلا في أورشليم، لكن لما جاء ملء الزمان وعبرت الظلال وانتشرت الكرازة بالإنجيل في كل مكان، ونشر التلاميذ الأعياد في كل الأماكن كأنهم يسألون المخلص &#8220;أين تريد أن نعده؟!&#8221; والمخلص أيضاً إذ حول الحرف إلى روح، وعدنا أنهم لا يعودون يأكلون جسد الخروف، بل يأكلون جسده هو قائلاً: خذوا كلوا واشربوا هذا هو جسدي ودمي (راجع مت26: 26- 28)</p>
<p>فاذ ننتعش بهذه الأمور، فإننا بالحق يا أحبائى نحفظ عيد الفصح الحقيقي.</p>
<p><strong>موعد العيد</strong></p>
<p>اتنا نبدأ في أول برمودة (٢٧ مارس) ونستريح في السادس منه (أول ابريل)، في عشية اليوم السابع، في أول أيام الأسبوع المقدس أشرق علينا في السابع من برمودة (٢ ابريل) فنعيد أيضاً عيد البنديكستي المقدس بعد ذلك معلنين في هذه الأيام العالم الآتي، حتى يكون مع المسيح إلى الأبد، مسبحين الله فوق الكل في المسيح يسوع وخلاله، قائلين مع كل القديسين, &#8220;آمين &#8220;، .</p>
<p>قبلوا بعضكم بعضا بقبلة مقدسة.</p>
<p>يسلم عليكم كل الإخوة الذين معي.</p>
<p></p>
<h4>شرح إنجيل القداس &#8211; للقديس كيرلس الأسكندري<a href="#_ftn5" name="_ftnref5">[5]</a></h4>
<p><strong>(يو٥: 39، 40)</strong>: <strong>&#8220;فَتِّشُوا الْكُتُبَ لأَنَّكُمْ تَظُنُّونَ أَنَّ لَكُمْ فِيهَا حَيَاةً أَبَدِيَّةً وَهِيَ الَّتِي تَشْهَدُ لِي. وَلاَ تُرِيدُونَ أَنْ تَأْتُوا إِلَيَّ لِتَكُونَ لَكُمْ حَيَاةٌ&#8221;</strong>.</p>
<p>إن هذا النص السلس والمدرك لدى الجميع، وهذا التفسير السهل للنص إنما يدفعنا إلى الإفتراض أن مخلصنا قد قاله للفريسيين على سبيل الأمر، أن عليهم أن يفتشوا الكتب المقدسة، وأن يجمعوا شهادات عنه لينالوا حياة، لكن إذ تم وضع أداة الربط. فإنه إذ يربط بالعبارة &#8220;لا تريدون أن تأتوا إليّ&#8221; فإنه حتماً يعني شيئا آخر أيضاً، مرتبطاً بما قيل قبلاً، وإن اختلف عنه اختلافاً طفيفاً، لأنه إن أخذنا النص على أنه في صيغة الأمر، فلماذا لا نقول إنه من الضروري أن تقال العبارة كلها على هذا النحو: فتشوا الكتب لأنكم تظنون أن لكم فيها حياة أبدية وهي تشهد لي، لكن بعد أن تفتشوا تعالوا إليَّ لكنه يلومهم لعدم اختيارهم المجيء إليه بالرغم أن البحث يقودهم إليه، لذلك يقول لهم &#8220;ولا تريدون أن تأتوا إليَّ&#8221;.</p>
<p>نحن إذا عند النظر إلى ما هو أكثر نفعاً، وموافقة لما سبق، لا نقرأها بصيغة الأمر، بل بالحري كعبارة متصلة بما قبلها، مع فاصلة وهذا هو معنى النص الذي أمامنا إذ هو من هذا النوع، لأنه إذ رآهم يهرعون إلى أسفار موسى وبجهل يجمعون منها مادة للمقاومة دون السعي وراء أي شئ آخر، أو حتى قبول ما يعينهم على الإيمان المنتظر، كانت الحاجة ماسة أن يكشف لهم أن سعيهم في التفتيش عن تلك الأمور لا طائل من وراءه وبلا منفعة، وبجلاء يدينهم بانهماكهم الشديد في عمل عظيم كبير المنفعة، لكن بطريقة لا تعود عليهم بالنفع، إذ يقول أخبروني ما منفعة تفتيشكم الكتب المقدسة، معتقدين أنكم بواسطتها ستنالون حياة ابدية، ولكنكم حينما تجدون أنها تشهد لي وتدعوني الحياة الأبدية، لا تأتون إليَّ لعلكم تجدون حياة؟ وإذ ينبغي لكم أن تخلصوا فإنكم تدركون أنكم تهلكون نفوسكم أيما هلاك، أنتم الذين تشحذون الهمم من أسفار موسى فقط لأجل الباطل، لكن الأمور التي يمكن أن تنالوا بها الحياة الأبدية، لا تقبلونها في أذهانكم. لأجل هذا قيل الكثير في الناموس والأنبياء عن ذاك الذي هو بالطبيعة الحياة، أعني الابن الوحيد، وهو على ما أظن أمر جلي أمام جميع محبي التعلم.</p>
<p><strong>(يو٥ :٤١، ٤٢)</strong><strong>: &#8220;مَجْدًا مِنَ النَّاسِ لَسْتُ أَقْبَلُ، وَلكِنِّي قَدْ عَرَفْتُكُمْ أَنْ لَيْسَتْ لَكُمْ مَحَبَّةُ اللهِ فِي أَنْفُسِكُمْ&#8221;. </strong></p>
<p>إنه يدرك مرة أخرى، بل بالحري كإله يرى، أن ذلك الفريق العنيد والمتمرد من الفريسيين قد وبخوا بشدة، وذلك ليس بسبب اتهامهم بعدم تفتيشهم في الكتب المقدسة كما ينبغي فحسب، بل بالحري هم متهمون بما قاله ضدهم إنهم &#8220;لا يأتون إليه&#8221;، لأن ما سقطوا هم فيه من أمراض في نفوسهم، ظنوا أنهم يستطيعون أن يمسكوها على المخلص أيضاً. إذ يبدو أنهم تخيلوا لحماقتهم الشديدة أن الرب كان طموحاً، واشتاق أن ينال لنفسه مجداً من الجميع، بدعوته إياهم أن يكونوا تلاميذه، وإذ انتابهم هذا الظن في أذهانهم، فقد توقعوا أن يحرموا مستقبلاً من سيادتهم على الأمة. وقد تقست قلوبهم بدرجة كبيرة عند رؤية &#8220;الوريث&#8221; يشتاق إلى ثمار الكرم، ولهذا فإنه فيما يخص ما قيل عن غضبهم وحسدهم. فإنهم جميعاً لا يقولون إلا ما ذكر في أمثال الإنجيل &#8220;هلموا نقتله ونأخذ ميراثه&#8221; (مت۳۸:۲۱). وإذ ينزع عنهم ظنهم الذي هو نتاج فراغ عقولهم، وإذ يقتلع من الجذور براعم الحسد والعين الشريرة، فإنه يقول حالاً &#8220;مجداً من الناس لست أقبل&#8221;. أو كأنه يقول أنا لا أدعو سامعي إلى التلمذة لي، وكأني أتصيد الكرامة منهم، أو من الآخرين، كما تفعلون أنتم، ولا أقبلها أنا كمجازاة لتعليمي، فأنا لي كل المجد في ذاتي، ولا أحتاجه منكم، لكنني قلت إنكم لن تأتوا إلى، لأني أعلم جيداً أن ليست لكم محبة الله في أنفسكم. وإذ تفتقرون إلى حب الله، فكيف تأتون إلى أنا الابن الوحيد إله من إله؟.</p>
<p><strong>(يو٤٣:٥)</strong><strong>: &#8220;أَنَا قَدْ أَتَيْتُ بِاسْمِ أَبِي وَلَسْتُمْ تَقْبَلُونَنِي إِنْ أَتَى آخَرُ بِاسْمِ نَفْسِهِ فَذلِكَ تَقْبَلُونَهُ&#8221;.</strong></p>
<p>لئلا يظن الفريسيون أن الرب كان يجرح مشاعرهم بقوله: &#8220;ليست لكم محبة الله في أنفسكم&#8221;، فإنه يضيف على الفور هنا هذا الأمر أيضا إلى ما سبق موضحاً أن هذا القول حق.</p>
<p>وكأنه يقول أنا لا أكذب بقولي إنكم محرومون من محبة الله، فإني سأضع أمامكم مثالاً لذلك، لأني أتيت باسم أبي لأني أحثكم بغيرة أن تعملوا كل شئ لمجد الله الآب، لكنكم تتباعدون بسبب عدم إيمانكم بذلك الذي جاء من فوق وهو الآتي من الله. لكنكم سوف تقبلون يقيناً  لأنني كإله أعرف ما سيحدث مستقبلاً. صاحب الدعوة الزائفة، الذي لا يقدم مجداً لله الآب، ويطلب التصديق منكم، ومع هذا فهو يعمل باسمه هو.</p>
<p>ومن هنا فإنني أظن أن القديس بولس أيضاً عندما أدرك الأمر يقول شيئاً صادقاً عن اليهود أبناء المعصية، &#8220;لأنهم لم يقبلوا محبة الحق حتى يخلصوا. ولأجل هذا سيرسل إليهم الله عمل الضلال، حتى يصدقوا الكذوب، لكي يدان جميع الذين لم يصدقوا الحق، بل سروا بالإثم&#8221; (٢تس٢: ١٠، 11)، هذا الذي قيل إذا لهو دليل على أن الفريسيين لا يلومهم المسيح مخلصنا بكلام فارغ، لأنه يقدم نبوة لحدث سيأتي في زمان قادم في حينه.</p>
<p><strong>(يو ٤٤:٥)</strong><strong>: &#8220;كَيْفَ تَقْدِرُونَ أَنْ تُؤْمِنُوا وَأَنْتُمْ تَقْبَلُونَ مَجْدًا بَعْضُكُمْ مِنْ بَعْضٍ، وَالْمَجْدُ الَّذِي مِنَ الإِلهِ الْوَاحِدِ لَسْتُمْ تَطْلُبُونَهُ؟&#8221;.</strong></p>
<p>إنه يتهم الفريسيين بحبهم للسيطرة وطلب المديح والكرامة من الناس، ويلمح أيضاً إلى أنهم يصنعون شراً زائداً، ودون ترو يلقون بأمراض نفوسهم على الله الذي لا يعتريه مرض بأي حال من الأحوال! ثم يقول فيما بعد إنهم إذ يتملكهم المجد الباطل، يخسرون أعظم جعالة أعني الإيمان به،</p>
<p>لهذا فإن بولس أيضاً إذ يتحدث بجلاء إلينا يقول: &#8220;فلو كنت بعد أرضي الناس، لم أكن عبدا للمسيح (غل۱۰:۱)،</p>
<p>يحدث هذا عادة كأمر حتمي، أن الذين يقتنصون الكرامات &#8220;من الناس&#8221; يفشلون في نوال المجد الذي من فوق من الله الواحد، كما يقول المخلص وهو يقول &#8220;الواحد&#8221;، مبينا الفارق بين الله والآلهة الزائفة آلهة الأمم، وهو لا يستبعد نفسه من مجد ذلك &#8220;الإله الواحد&#8221;، لأنه كما قلنا سابقاً، إن ملء الثالوث الأقدس الواحد في الجوهر، إنما هو ملء الطبيعة الواحدة ومجد اللاهوت.</p>
<p><strong>(يو٤٥:٥)</strong><strong>: &#8220;لاَ تَظُنُّوا أَنِّي أَشْكُوكُمْ إِلَى الآبِ يُوجَدُ الَّذِي يَشْكُوكُمْ وَهُوَ مُوسَى، الَّذِي عَلَيْهِ رَجَاؤُكُمْ&#8221;. </strong></p>
<p>وإذ قال إن الفريسيين اهتموا كثيراً بحياة المجد الباطل أكثر من حياة التقوى، وإذ علمهم أنهم بهذا قد انحرفوا إلى الكفر الطائش، فإنه يقول إن موسى نفسه قد اشتكاهم وهو من اعتادوا أن يتباهوا به، بحماس فائق وحقاً حين قال المولود أعمى ذات مرة لهم عن المسيح &#8220;ألعلكم أنتم تريدون أن تصيروا له تلاميذ؟&#8221; (یو۲۷:۹) صرخوا في الحال وقالوا جهراً &#8220;أنت تلميذ ذاك، وأما نحن فإننا تلاميذ موسى&#8221; (يو ۹: ۲۸).</p>
<p>ولكن المسيح يقول، إن موسى نفسه سوف يشكوكم الذي عليه رجاءكم، وأنه إذ يحتقركم مع باقي الأنبياء سوف ينبذ حماقتكم الشديدة، أمام الله، ونحن لا نزعم أن من لا يؤمن به لا يلومه المسيح، بسبب قوله لليهود، لا تظنوا أني أشكوكم إلى الآب. لأنه ما قولنا حين نسمعه يقول: &#8220;فكل من يعترف بي قدام الناس أعترف أنا أيضا به قدام أبي الذي في السماوات، ولكن من ينكرني قدام الناس أنكره أنا أيضا قدام أبي الذي في السماوات&#8221; (مت۳۲:۱۰، ٣٣). أفلا نفترض حقاً أنه سيشتكي عليهم أمام الله الآب بسبب نكرانهم، لكني افترض أن ذلك واضح للجميع، إذاً فاليهود ليسوا بالتأكيد أحراراً من الإتهام، إذ هم بعدم إيمانهم قد أنكروا المسيح، ولكن هذا ينطبق عليهم بشكل طبيعي للغاية، لأنهم منذ أن رفضوا نصائحه، ولم يهتموا بتعليمه الإلهي السماوي، بل حفظوا ناموس موسى بإتقان، وكأنهم سوف يظهرون وهم يصرخون علانية &#8220;نحن نعلم أن موسى كلمه الله، وأما هذا فما نعلم من أين هو&#8221; (يو٢٩:٩)، وبالضرورة هو يدينهم بالتعدي ضد موسى هذا الذي يفتخرون به ويقول إنهم ليسوا بحاجة إلى مشتكي آخر، لكن الناموس الذي أعطاه هو سوف يكفي وحده للشكوى ضدهم بحق لعدم إيمانهم به، حتى إن كان صوت الديان أي المسيح لن تسمعه آذانهم الصماء.</p>
<p><strong>(يو٤٦:٥)</strong><strong>: &#8220;لأَنَّكُمْ لَوْ كُنْتُمْ تُصَدِّقُونَ مُوسَى لَكُنْتُمْ تُصَدِّقُونَنِي، لأَنَّهُ هُوَ كَتَبَ عَنِّي&#8221;. </strong></p>
<p>بعد أن قال إن العظيم في الحكمة موسى سيشتكي على اليهود، وأنهم سیدانون على يديه لعدم أيمانهم بالمسيح. فإنه للمنفعة يوصل تلك الأمور مع ما سبق أيضا، فيعلم أنه لا يتصيد لهم الأخطاء، أو من جهة أخرى ينكر الشك. محل شكاية، لأنه من الواضح أنه لا يتحدث حديثاً كاذباً، ويقول ليكن إذا أنكم ترفضون كلامي وسوف احتمل أنكم لن تؤمنوا بي، وأقبل موسى الذي لكم وأصدق على كلامه الذي تعجبون به وسوف تعرفون ذاك الذي لا تعلمون أنكم تهينونه.</p>
<p>حلوا رموزكم الحبلى بالحق، لأنني أنا محتجب كالظل في أسفاركم لهذا فإن موسى نفسه سوف يشكوكم حينما يرى أنكم لا تؤمنون بكتاباته عني.</p>
<p>ينبغي علينا إذا وقد فسرنا ما أمامنا، أن نستمر بترتيب مودعين التفسير لدى محبي التعليم الأمناء، لفحص صور المسيح من خلال موسى. لأن كتبه مليئة بنصوص عنه، وهناك الكثير مما قاله، لكنها صعبة الفهم وتزخر بالمعاني التي هي غاية في الدقة والخفاء. ولئلا نبدو كأننا ندع التكاسل يسيطر علينا، ودونما سبب معقول، نتهرب من عمل مجيد جداً، وذلك أن نقول ببساطة إن كتب موسى صعبة، فإننا سوف نشغل أنفسنا بهذا مدركين المكتوب أن &#8220;الرب يعطي نطقاً للكارزين بقوة أكثر&#8221; (مز٦٨: ١١س).</p>
<p>لكن، كما قلنا مثلاً، إذ أن هناك كلمات عديدة عن تلك الأمور، وحيث إن الحكيم جداً موسى من خلال أشكال متنوعة قد رسم وسبق وتنبأ عن &#8220;سر المسيح&#8221;، فإننا نرى أنه ليس من الضروري أن نجمع حشداً زاخراً أمام قرائنا، ولكن إذ نختار واحدة من كثير، سنحاول جهدنا أن نقدم الدليل الجلي على أن كلمة مخلصنا كانت صادقة حينما قال لليهود: &#8220;لأنكم لو كنتم تصدقون موسى لكنتم تصدقونني، لأنه هو كتب عني&#8221;.</p>
<p></p>
<h4>الكتب الإلهية &#8211; القديس يعقوب السروجي<a href="#_ftn6" name="_ftnref6">[6]</a></h4>
<p>بقراءة اللاهوت تقتني النفس غِنَى عظيمًا فيما لو قبلتها بمحبة.</p>
<p>موضوعة كالينبوع من أجل عطش العالم، وكل من هو عطشان يشرب منها الحياة يوميًا.</p>
<p>الكتب الإلهية هي جداول مباركة؛ يا جميع العطاش هلموا واذهبوا واشربوا ماء الحياة.</p>
<p>الأنهار لشرب الأجساد والحيوانات، وهوذا قراءات اللاهوت لشرب النفوس،</p>
<p>أيها المتميز أعط الجسدَ الماءَ ليشرب، وأعط النفسَ الكتابَ لتقرأ وتتلذَّذ به.</p>
<p>إنها عطشانة إلى الينبوع الموجود في الكتب، تضع فمها وتشرب منها الحياة كل يومٍ.</p>
<p>النفس مُعَذَّبة من مؤانسة العالم الشرير، وهي مملوءة بالحواس والشهوات غير الجميلة&#8230;</p>
<p>لكن لو فتحت الكتاب وقرأت بمحبة عظيمة، تستنير حالًا وترى الجمال الذي لا يُدرَك.</p>
<p>ويدخل النور من القراءة إلى الفكر كالشعاع من القرص إلى تجويف العين.</p>
<p>وتهبّ ريح الكتاب من بين الأسطر، وترفع دخان الضلالة عن الفكر.</p>
<p>كلما كانت المحبة مرتبطة بالقراءة، تصير النفس نقية ومملوءة نورًا ولا تضطرب.</p>
<p>يحسد الشرير ويطرق (الباب) حالا مثل الحاكم حتى يبطل الكتابُ بأفكار العالم المُقلِقة.</p>
<p>لو كانت محبة النفس مرتبطة بالقراءة، ستحتقر وترذل كل النشاطات لأجله.</p>
<p>ولو ازدادت محبة العالم بطلت القراءة، فتدخل أفعال لا تنتهي وينتهي العالم.</p>
<p>أيتها النفس التي تريدين أن تعيشي حسنًا مع الله، اربطي محبتكِ بقراءة اللاهوت.</p>
<p>واسكِتي منادمات العالم المضطربة، وأبطليها، وأزيليها عن فكركِ.</p>
<p>وأنصتي إلى الكتاب الذي يكوي الجرح، ويشفي المرض، ويعتني ويضمد ويصلح النفس بالشفاء.</p>
<p></p>
<h4>الفائدة العظيمة من قراءة الكتب الإلهية &#8211; القديس يوحنا ذهبي الفم<a href="#_ftn7" name="_ftnref7">[7]</a></h4>
<ul>
<li>عندما انقل فكرى إلى ذهنيالفقير، حين أكون مدعواً لكي أتحدث الى جمع كبير جداً، أتراجع. لكن عندما أنظر لمدى أستعدادكم ورغبتكم العارمة للسمع، أنال شجاعة وأتقوى، وبتأهب واستعداد، أخوض جهاد التعليم. لأنكم قادرون، وبلا هوادة حين تأسرون الذهن، على أن تجعلوا هذا الجهاد أخف وزناً من أية ريشة برغبتكم واشتياقكم للسمع. ومثلما تقضى الحيوانات الشتاء القارص مختفية بعمق، في الجحور، لكن عندما يحل الصيف تترك مخابئها وتعيش في قطيع مع بقية الحيوانات، وتصرخ في معية بعضها البعض، هكذا أيضاً نفسي التي اختنقت كما في عش إدراكي الضعيف، عندما ترى شوق محبتكم، تترك العش وتأتي في  شركة معكم، وبصورة مشتركة معكم، تفرح بالنعم الحسنة للكتب المقدسة، في المرج الروحي والإلهي، في فردوس الكتاب المقدس لأن قراءة الكتب المقدسة حقاً، هي بستان ومرج روحي، وفردوس للمتعة، بل هي فردوس للمتعة أحسن من ذاك الفردوس.</li>
</ul>
<p>هذا الفردوس لم يزرعة الله  في الأرض، بل في نفوس الذين يؤمنون. لم يضع هذا الفردوس  في عدن، ولا في الشرق محدداً إياه في مكان ما بل جعله يمتد في كل مكان على الأرض، وجعله يتسع الى أقاصي المسكونة، بأن نشر الكتب المقدسة في كل أجزاء المسكونة، إسمع النبي الذي يقول: &#8220;من أقصى السموات خروجها ومدارها الى أقاصيها ولا شيء يختفى من حرها&#8221; (مز٥:١٩). فسواء انتقلت إلى بلاد الهند التي ترى أولاً شروق الشمس، أو وصلتَ إلى المحيط أو إلى تلك الجزر البريطانية، سواء أبحرت إلى بلاد بنطس، أو انتقلت إلى الجانب الجنوبي، فسوف تسمع دائماً الجميع يتفلسفون من الكتاب المقدس. بالطبع، بلغة أخرى، لكن ليس يإيمان آخر. بلغة مختلفة، لكن بفكر مشترك، لأن صوت اللغة يتغير، لكن طريقة التقوى لا تتغير، يتحدثون بلغة بربرية، لكن يتفلسفون بالفكر، يتحدثون بأخطاء لغوية، لكن حياتهم هي حياة التقوى.</p>
<p>هل رأيت المدى الذى بلغ إليه طول هذا الفردوس، حيث امتد إلى أقاصى المسكونة؟ هنا لا توجد حية، فالمكان طاهر من الوحوش، ومحصن بسور نعمة الروح. يوجد فيه أيضا نبع مثل ذاك، نبع هو أُمُّ الأنهار التي لا تحصى، ليس فقط أربعة أنهار (أنظر تك٢: ١٠- ١٤). لأن هذا النبع لا يلد نهر تيجري ولا الفرات، ولا نيل مصر، ولا غانجي الهند، بل أنهار لا تُحصى. من يقول هذا؟ الله ذاته الذى منحنا هذه الأنهار: &#8220;من آمن بي كما قال الكتاب، تجري من بطنه أنهار ماء حي&#8221; (يو٣٨:٧).</p>
<p>أرأيت كيف تجري من ذلك النبع، ليس أربعة فقط، بل أنهار لا حصر لها؟ والأمر الجدير بالإعجاب، ليس فقط عدد الأنهار، بل طبيعة النبع، لأن تسبيحها ليس من الماء، بل من الروح، لأن هذه الأنهار هي مواهبه، هذا النبع يُوزَّع على كل نفوس المؤمنيين ولا يتراجع، يتوزع ولا يستنزف يفيض ولا ينقص، هو كامل بالنسبة للجميع، ولكل واحد على حدة، لأن مواهب الروح كثيرة جداً.</p>
<p>هل تريد أن تعرف وفرة مكونات النبع؟ هل تريد أن تعرف طبيعة المياه؟ هي لا تشبه المياه العادية، لأنها أفضل منها وأعجب؟ لكى تعرف وفرة النبع، اسمع ثانية المسيح الذى يقول للسامرية: &#8220;ولكن من يشرب من الماء الذى أعطيه أنا فلن يعطش إلى الأبد، بل الماء الذى أعطيه يصير فيه ينبوع ماء ينبع إلى حياة أبدية&#8221; (يو١٤:٤). فهو لم يقل &#8220;يخرج&#8221; أو &#8220;ينسكب&#8221; بل &#8220;ينبع&#8221; تلك الكلمة التي تدل على الوفرة. فمياه الينابيع عادةً ما تتفجر وتتدفق من كل جانب. هذه الينابيع لا يمكنها أن تظل في البطون، بل تتدفق منها المياه كتيارات من الأنهار في كل مكان دون أن تستطيع هذه الينابيع أن تحتفظ بها. إذن، لكى يُظهِر وفرة الينابيع قال: &#8220;ينبع&#8221; وليس &#8220;يخرج&#8221;.</p>
<p>هل تريد أن تتعرف أيضاً على طبيعة هذا الينبوع؟ هذا تعرفه من فائدته، لأنه ليس مفيداً للحياة الحاضرة، بل للحياة الأبدية.</p>
<p>إذن دعونا نظل في هذا الفردوس. ليتنا نجلس بالقرب من الينبوع. احترسوا ألا يصيبنا ذاك الذى أصاب آدم، ونفقد الفردوس. ليتنا لا نقبل المشورة المهلكة، دعونا لا نقبل ضلال الشيطان. ليتنا نواظب على قراءة الكتب المقدسة. لأنه مثلما يجلسون بالقرب من الينبوع ويستمتعون بالنسيم الرطب، ويُبعدون بالمياه، صعوبة التنفس عندما يقترب الصهد، بأن يسكبوا المياه على وجوهم، وعندما يزعجهم العطش، بسهوله يشفون معاناتهم هذه، آخذين بالقرب منهم الدواء من الينبوع، هكذا الذى يجلس بالقرب من ينبوع الكتب المقدسة، فإن رأى أن لهب الشهوة غير المعقولة يزعجه، بسهولة يصده مبلاً نفسه بتلك المياه، وإن كان الغضب الشديد يزعجه، إذ أحَرَّ قلبه، كأنه إناء فوق نيران شديدة، فإنه إذا قطَّر من مياه هذا النبع، فسوف يكبح وقاحة الشهوة مباشرة. إن قراءة الكتب المقدسة تخطف وتخلص النفس من كل الأفكار الشريرة، كأنها من لهيب النيران تخطفها وتنقذها.</p>
<ul>
<li>لأجل هذا، النبي، ذلك النبي العظيم داود، وهو يدرك الفائدة التي تتحصل من قراءة الكتب المقدسة، يشبِّه ذاك الذى يواظب بإخلاص على قراءة الكتب المقدسة ليأخذ منها التعليم، بالشجرة المورقة على الدوام، والمزروعة بالقرب من جداول المياه قائلاً: &#8220;طوبى للرجل الذى لم يسلك في مشورة الأشرار، وفى طريق الخطاة لم يقف، وفى مجلس المستهزئين لم يجلس. لكن في ناموس الرب مسرتة، وفى ناموسه يلهج نهاراً وليلاً. فيكون كشجرة مغروسة عند مجاري المياه التي تعطي ثمرها في أوانه وورقها لا يذبل. وكل ما يصنعه ينجح&#8221; (مز١: ١-٣). لأنه بقدر ما تتمتع تلك الشجرة المزروعة بالقرب من الماء الجاري الغني والموجودة بالقرب من الجداول والوديان، برَيّ لا ينقطع، تتحمل صامدة، لا تغلبها أي فوضى تصنعها الرياح، ولا تخاف من أشعة الشمس عند اشتداد حرارتها، ولا تعمل حساب الهواء حين ينقلب فجأة إلى هواء جاف، لأن لها في داخلها مخزوناً كافياً من الرطوبة، لذا فهي تصد مباشرة وترفض بقوة أية حرارة تلفحها من الخارج. هكذا أيضاً النفس التي تقف بالقرب من جداول الكتب المقدسة مرتوية منها باستمرار، فإنها إذ تُجَمِّع في داخلها رطوبة الروح، تجدها صامدة في كل حال سواء أكان مرضاً أو احتقاراً أو وشاية أو ألفاظاً بذيئة، سواء أكانت تهكمات، أو أية حماقة وعدم تبصُّر، بل حتى لو وقعت على هذه النفس كل شرور المسكونة، فإنها بسهولة تصد رياح الشهوات آخذةً عزاءً وافراً من قراءة الكتب المقدسة. لأنه لا حجم المجد ولا حجم السيادة ولا تواجد الأصدقاء، ولا أي شيء أخر من الأمور البشرية، يمكن أن يعزي ذاك الذى يتألم، بقدر ما تعزيه قراءة الكتب المقدسة. لماذا إذن؟ لأن كل الأمور التي أشرنا إليها هي أمور وقتية وفاسدة، لأجل ذلك، فالعزاء الناتج عنها يكون عزاءً فاسداً أيضاً، بينما قراءة الكتب المقدسة هي بمثابة حديث الله. فإذا كان الله هو الذى يعزي المتضايق، فأي من هذه الأمور يمكنها أن تلقيه في الضيق؟.</li>
</ul>
<p>دعونا إذن نخصص للقراءة ليس فقط ساعتين (لأنه لا يكفى لأماننا هذا السمع البسيط)، بل يجب على كل واحد منا أن يداوم، إذا أراد أن يمتلك باستمرار وبوفرة، فائدة من الكتاب المقدس، على أن يأخذ في يديه الأسفار المقدسة، ويفحص بحرص وانتباه معاني ما يقرأ. لأنه مثلما لا يقتصر تواصل تلك الشجرة التي تقف بالقرب من &#8220;جداول المياه&#8221; مع المياه لمدة ساعتين أو ثلاثة، بل طوال النهار والليل، ولذلك تجدها غنية فى أوراقها وثمارها، حتى إن لم يسقيها أحد من الناس، وذلك بسبب قربها من جداول المياه، إذ تسحب جذورها الرطوبة من مصادرها وبذلك تنقل الفائدة لكل الجسد. هكذا أيضاً هذا الذى يقرأ باستمرار الكتب المقدسة، ويتواجد بالقرب من جداولها، فإن لم يتمكن من الفهم، فإن بالقراءة المستمرة يأخذ كما من جذور، الفائدة العظيمة.</p>
<p>لأجل هذا ولأننا نعرف اهتماماتكم، وانزعاجاتكم وانشغالاتكم الكثيرة، أقودكم بهدوء وتدريجياً إلى مفاهيم الكتب المقدسة، جاعلاً ذاكرتكم – بهذا الشرح المسائى – تتذكر دائما هذه الأقوال. لأن المطر عندما يسقط، بسرعة يغطي سطح الأرض، بينما لا يستفيد باطنها منه على الإطلاق، لكن عندما يستقر على سطح الأرض، ويتسلل تدريجياً داخلها، كما من أوردة وعروق، وكمثل  زيتٍ ينزلق في العمق، يملأ أمعائها بالرطوبة، يجعلها هذه غنية جداً لإنتاج الثمار. لذلك نلقي نحن أيضاً بهدوء وسكينة في نفوسكم هذا المطر الروحى؛ لأنه إذا كانت الكتب المقدسة تشبه سحباً روحية، فإن الأقوال والمفاهيم  تشبه المطر، ولأجل هذا نُلقى هذا المطر الروحي ببطء فيكم، لكى تتسرب هذه الأقوال إلى العمق. لذلك فبالرغم من أننا وعلى مدى أربعة أيام مداومين على الشرح، إلا أننا لم نستطيع بعد أن ننتهى من فحص نصٍّ واحدٍّ بل مازلنا  ندور حوله.</p>
<p>لأنه من الأفضل لنا أن نحفر بعمق جزءاً واحاً صغيراً، فنحصل على كنز عظيم يحتوي على الكثير من الأشياء الهامة، عن أن نحرث مساحات كبيرة، فنُتعب أنفسنا دون داعٍ، وبلا هدف وعبثاً. وبالرغم من أنني أعرف أن كثيرين يمتعضون من هذا التباطؤ لكني لا أبالي بشكواهم، بل ما يهمني هو فائدتكم. فالذين يستطيعون أن يسيروا بسرعة، ليتهم ينتظرون المتباطئين من إخواتهم، لأن أولئك يستطيعون انتظار هؤلاء. لأن الضعفاء بالأكثر ليسوا في وضع يمكنهم من أن يصلوا إلى أولئك. لأجل هذا يقول بولس، إنه لا يجيب أن نجبر – قبل الأوان – الضعفاء على الإيمان، أي في اللحظة التي لا يستطيعون فيها أن يصلوا إلى كمال الأقوياء، لكننا نحن الأقوياء، يجب أن نمنع ضعفات الضعفاء. يهمني فائدتكم، ولا أفعل ذلك بتكلف، لأجل هذا متباطئٌ أنا في شرح المفاهيم.</p>
<p></p>
<h3>عظات آباء وخدّام معاصرين <strong>ليوم الخميس الثاني من الخمسين يوم المقدسة</strong></h3>
<h4>ماهية أقوال الأنجيل – للمتنيح الأنبا اثناسيوس مطران بنى سويف والبهنسا<a href="#_ftn8" name="_ftnref8">[8]</a></h4>
<p>إن لدراسة الكتاب المقدس فاعلية جوهرية في حياة الناس، إذ لما كانت كلمة الله هي النطق الإلهى للبشرية فهى مملوءة من روحه، أي مملوءة حياة، ولذا يلزم أن يدرس الكتاب المقدس بكل اهتمام، وحرص وتقدير لفعله في إحياء النفس وإشباعها، إذ &#8221; لَيْسَ بِالْخُبْزِ وَحْدَهُ يَحْيَا الإِنْسَانُ، بَلْ بِكُلِّ كَلِمَةٍ تَخْرُجُ مِنْ فَمِ اللهِ&#8221; (مت٤: ٤)</p>
<p>وقد أطلق العهد الجديد على كلمة الإنجيل تسميات يلزم إثباتها لما تضفيه من ضوء على قوة الكتاب المقدس وفعله.</p>
<p><strong>١- كلمة الله:</strong> سميت الكلمة كلمة الله مراراً كثيرة مثلما جاء في (أع٣١:٤) &#8220;وَامْتَلأَ الْجَمِيعُ مِنَ الرُّوحِ الْقُدُسِ، وَكَانُوا يَتَكَلَّمُونَ بِكَلاَمِ اللهِ بِمُجَاهَرَةٍ&#8221; ومثل قول الرسل للشعب &#8220;لاَ يُرْضِي أَنْ نَتْرُكَ نَحْنُ كَلِمَةَ اللهِ وَنَخْدِمَ مَوَائِدَ&#8221; (أع٢:٦، ۷، ۱:۱۱ و۱۳: ٥، ٧ و٤٤، ١٦: ٣٢) وكقوله إلى التسالونيكيين &#8220;قَبِلْتُمُوهَا لاَ كَكَلِمَةِ أُنَاسٍ، بَلْ كَمَا هِيَ بِالْحَقِيقَةِ كَكَلِمَةِ اللهِ، الَّتِي تَعْمَلُ أَيْضًا فِيكُمْ&#8221; (۱تس۱۳:۲، عب ۷:۱۳، رؤ۱: ۲، ٩، ٦: ٩ و ٤:٢٠) إذن ليس الكتاب المقدس كلام الرسل والأنبياء للناس تعبيراً عن الحقائق الإلهية، بل هو كلمة الله بذاته موجهة إلى الناس لتفعل فيهم فعلها. وليس الإنسان هو الذي يكتشف الله ويعبر عما يراه فيه، بل الله هو الذي يكشف ذاته للناس ليحيهم.</p>
<p><strong>٢- كلمة الرب</strong>: مثلما يقول &#8221; بَعْدَ مَا شَهِدَا وَتَكَلَّمَا بِكَلِمَةِ الرَّبِّ، رَجَعَا إِلَى أُورُشَلِيمَ&#8221; (أع ۸: ٢٥، ۱۲: ٢٤ و ١٣: ٤٩ و ١٥: ٣٥ و ۱تس ۱: ۱۸ و ۲تس۱:۳) فكلمة الإنجيل هي كلمة الله مظهرا ذاته لنا. إنها كلمة الله في الجسد، وتعبيره عن ذاته بالطريقة البشرية ليفهمه البشر. مثلما يقول عن هذه الحقيقة &#8220;اَللهُ، بَعْدَ مَا كَلَّمَ الآبَاءَ بِالأَنْبِيَاءِ قَدِيمًا.. كَلَّمَنَا فِي هذِهِ الأَيَّامِ الأَخِيرَةِ فِي ابْنِهِ&#8230;&#8221; (عب ۱: ۲،۱).</p>
<p><strong>٣ كلمة الخبر</strong> : ولقد وردت هذه التسمية مرتين في العهد الجديد في (١تس۲: ۱۳) في قوله &#8220;&#8230;لأَنَّكُمْ إِذْ تَسَلَّمْتُمْ مِنَّا كَلِمَةَ خَبَرٍ مِنَ اللهِ، قَبِلْتُمُوهَا&#8221; وفى (عب٤: ٢) &#8220;لأَنَّنَا نَحْنُ أَيْضًا قَدْ بُشِّرْنَا كَمَا أُولئِكَ، لكِنْ لَمْ تَنْفَعْ كَلِمَةُ الْخَبَرِ أُولئِكَ إِذْ لَمْ تَكُنْ مُمْتَزِجَةً بِالإِيمَانِ..&#8221; ومعنى هذا أنه لابد لكلمة الله من أمرين: صوت ينقلها مثلما سمى يوحنا المعمدان &#8220;صَوْتُ صَارِخٍ فِي الْبَرِّيَّةِ&#8221;. ومثل قوله &#8220;وَكَيْفَ يَسْمَعُونَ بِلاَ كَارِزٍ؟&#8221;. ثم أذن تسمع لقلب يعمل &#8220;وَلكِنْ كُونُوا عَامِلِينَ بِالْكَلِمَةِ، لاَ سَامِعِينَ فَقَطْ خَادِعِينَ نُفُوسَكُمْ&#8221; (يع١: ۲۲).</p>
<p><strong>٤ كلمة الملكوت:</strong> لأنها تعلن عن ملكوت الله الذي هي صادرة منه. وهي رسالة من الملكوت لتقيم الملكوت في قلوب الناس وعلى الأرض &#8220;كُلُّ مَنْ يَسْمَعُ كَلِمَةَ الْمَلَكُوتِ وَلاَ يَفْهَمُ، فَيَأْتِي الشِّرِّيرُ وَيَخْطَفُ مَا قَدْ زُرِعَ فِي قَلْبِهِ&#8221; (مت۱۳: ۱۹).</p>
<p><strong>٥- كلمة الإنجيل:</strong> أي كلمة البشرى المفرحة حيث أن هذا الخبر هو عن الله وفعله أجل البشرية، وهو البشرى المملوءة فرحاً كقول معلمنا بطرس في مجمع أورشليم &#8220;اخْتَارَ اللهُ بَيْنَنَا أَنَّهُ بِفَمِي يَسْمَعُ الأُمَمُ كَلِمَةَ الإِنْجِيلِ وَيُؤْمِنُونَ&#8221; (أع 15: ٧ وكذلك کو٥:١).</p>
<p><strong>٦- كلمة النعمة:</strong> فحياتنا الأبدية نعمة من الله، هبة من عنده تعطينا أن نتمتع ببركاتها (أع ١٤: ٣، ۲۰: ۳۲).</p>
<p><strong>٧ – كلمة الخلاص: </strong>مثلما خاطب بولس الشعب في غلاطية بقوله &#8220;أَيُّهَا الرِّجَالُ الإِخْوَةُ بَنِي جِنْسِ إِبْرَاهِيمَ، وَالَّذِينَ بَيْنَكُمْ يَتَّقُونَ اللهَ، إِلَيْكُمْ أُرْسِلَتْ كَلِمَةُ هذَا الْخَلاَصِ&#8221; (أع ٢٦:١٣) هذا الخلاص الذي هو كفارة لنا عن حكم الموت &#8220;وَهُوَ كَفَّارَةٌ لِخَطَايَانَا لَيْسَ لِخَطَايَانَا فَقَطْ، بَلْ لِخَطَايَا كُلِّ الْعَالَمِ أَيْضًا&#8221; (١يو۲: ۲) وقوة الخلاص من فعل الخطية &#8220;لأَنَّ نَامُوسَ رُوحِ الْحَيَاةِ فِي الْمَسِيحِ يَسُوعَ قَدْ أَعْتَقَنِي مِنْ نَامُوسِ الْخَطِيَّةِ وَالْمَوْتِ&#8221; (رو ۸: ۲).</p>
<p><strong>٨– كلمة المصالحة:</strong> وهكذا بعد أن خلصنا صرنا مصطلحين مع الله &#8220;أَيْ إِنَّ اللهَ كَانَ فِي الْمَسِيحِ مُصَالِحًا الْعَالَمَ لِنَفْسِهِ، غَيْرَ حَاسِبٍ لَهُمْ خَطَايَاهُمْ، وَوَاضِعًا فِينَا كَلِمَةَ الْمُصَالَحَةِ&#8221; (٢کو٥ : ١٩) فالعلاقة التي كانت أصلاً بيننا وبين الله عادت مرة أخرى، وصار آدم مصطلحاً مع الله عشيراً واليفاً له، كما كان في الفردوس.</p>
<p><strong>٩- كلمة الصليب:</strong> وليس من أساس للنعمة والمصالحة إلا من قبل الصليب، الذي كان موضوع لعنة، ولكنه صار موضوع بركة المسيحيين وفخرهم &#8220;وَأَمَّا مِنْ جِهَتِي، فَحَاشَا لِي أَنْ أَفْتَخِرَ إِلاَّ بِصَلِيبِ رَبِّنَا يَسُوعَ الْمَسِيحِ، الَّذِي بِهِ قَدْ صُلِبَ الْعَالَمُ لِي وَأَنَا لِلْعَالَمِ&#8221; (غل6: 14)</p>
<p><strong>١٠ &#8211; كلمة الحق:</strong> وهل من حق إلا معرفة الفادي! هذا الذي قال عن نفسه &#8220;أَنَا هُوَ الطَّرِيقُ وَالْحَقُّ وَالْحَيَاةُ&#8221; (يو١٤: ٦) سميت كلمة الله كلمة الحق لأنها هي الحق الوحيد، وهي كلمة الاله الحق &#8220;الَّذِي فِيهِ أَيْضًا أَنْتُمْ، إِذْ سَمِعْتُمْ كَلِمَةَ الْحَقِّ، إِنْجِيلَ خَلاَصِكُمُ، الَّذِي فِيهِ أَيْضًا إِذْ آمَنْتُمْ خُتِمْتُمْ بِرُوحِ الْمَوْعِدِ الْقُدُّوسِ&#8221; (أف١: ١٣) وكذلك خاطب الرسول بولس أهل كولوسي عن &#8220;&#8230;الرَّجَاءِ الْمَوْضُوعِ لَكُمْ فِي السَّمَاوَاتِ، الَّذِي سَمِعْتُمْ بِهِ قَبْلاً فِي كَلِمَةِ حَقِّ الإِنْجِيلِ&#8221; (کو١: ٥) (أنظر٢کو٦: ۷، تي۲: ۱۰).</p>
<p><strong>١١-  كلمة البر:</strong> وهكذا يتحرر الإنسان من سلطان الخطية وإبليس. ويقف في صورة البر أمام الله الذي لا يمكن الوجود في محضره في غير صورة القداسة &#8220;لأَنَّ كُلَّ مَنْ يَتَنَاوَلُ اللَّبَنَ هُوَ عَدِيمُ الْخِبْرَةِ فِي كَلاَمِ الْبِرِّ لأَنَّهُ طِفْلٌ&#8221; (عب٥: ١٣) ذلك لأن كل كلام الكتاب هو كلام البر لأنه كلام الرب البار &#8220;مَنْ يَفْعَلُ الْبِرَّ فَهُوَ بَارٌّ، كَمَا أَنَّ ذَاكَ بَارٌّ&#8221; (١يو۳: ۷).</p>
<p><strong>۱۲-</strong><strong> كلمة الشفاء</strong>: أي كلمة إعطاء الصحة، إذ أن هذا هو المعنى الوارد في قول الرسول لتلميذه تيموثيؤس &#8220;تَمَسَّكْ بِصُورَةِ الْكَلاَمِ الصَّحِيحِ&#8230;&#8221; (٢تي۱: ۱۳). أي الذي بدون مرض، والمعطى الصحة، وهنا نجد كلمة الله صحيحة في ذاتها خالية من أي علة، تعطى التوجيه الأمين للناس، ثم أنها تعطيهم الصحة لأنها تشبعهم بالحق.</p>
<p><strong>۱۳-</strong><strong> كلمة الحياة:</strong> وأخيرا هي كلمة الحياة، التي بدونها لا يحيا إنسان، والتي من يأكلها يحيا بها، ولذا يلزم أن تكون غذاءنا الدائم الذي لا نفتر عنه يوماً من الأيام. يأكلها الطفل حين يبدأ في إنقان القراءة، ويتغذى عليها الشاب وتشيع بها الأسرة، وهى رصيد الإنسان في مرضه، وهي زاده في شيخوخته حين تكل عيناه، ولا يقوى على العمل أو القراءة، فيردد ما اختزنه منها، أو يستمع إليها، يجب أن ندرسها، فرادي، وعائلات، وجماعات، لأنها كلمة الحياة الحقيقية الأبدية التي تبدأ هنا وتنتهى بنا أمام الرب في المجد &#8220;مُتَمَسِّكِينَ بِكَلِمَةِ الْحَيَاةِ لافْتِخَارِي فِي يَوْمِ الْمَسِيحِ&#8230;&#8221; (في٢: ١٦).</p>
<hr />
<p><a href="#_ftnref1" name="_ftn1">[1]</a>  كتاب الرسائل الفصحية للقديس أثناسيوس الكبير &#8211; الرسالة الرابعة (عيد القيامة في 7 برمودة سنة 48 ش. &#8211; 2 أبريل سنة 332 م.) &#8211; صفحة 19 &#8211; القمص تادرس يعقوب ملطي.</p>
<p><a href="#_ftnref2" name="_ftn2">[2]</a> أرسلت هذه الرسالة من البلاط الإمبراطوري بواسطة أحد الجنود.</p>
<p><a href="#_ftnref3" name="_ftn3">[3]</a> یقصد بالأعداء الهراطقة الذین وشوا به.</p>
<p><a href="#_ftnref4" name="_ftn4">[4]</a>  هنا نلاحظ عدم اعتراف الكنیسة الأولى باسرائیل بعدما صلبوا الرب وتشتتوا وانتفت عنهم كلمة &#8220;اسرائیل&#8221;.</p>
<p><a href="#_ftnref5" name="_ftn5">[5]</a>  تفسير انجيل يوحنا للقديس كيرلس الاسكندري &#8211; المجلد الاول – ص 302 &#8211; ترجمة دكتور نصحي عبد الشهيد وآخرون.</p>
<p><a href="#_ftnref6" name="_ftn6">[6]</a>  تفسير يشوع بن سيراخ &#8211; إصحاح ٣٩ &#8211; القمص تادرس يعقوب ملطي.</p>
<p><a href="#_ftnref7" name="_ftn7">[7]</a>  عظات علي سفر أعمال الرسل للقديس يوحنا ذهبي الفم &#8211; صفحة ٤٩ &#8211; ترجمة دكتور جورج عوض إبراهيم .</p>
<p><a href="#_ftnref8" name="_ftn8">[8]</a>  مجلة مدارس الأحد &#8211; عدد إكتوبر لسنة ١٩٦٧.</p>

      {% endcreateArticleAccordions %}
    </section>
  {% endblock %}
  