---
layout: 'layouts/reading.html'
title: 'يوم الجمعة من الأسبوع الثاني للخماسين المُقَدَّسَة'
permalink: pentecost/2-5.html
---
  {% block content %}
    <section id="readings">
      <ul>
      {% if 'undefined' != 'undefined' %}
      
      {% else %}
      {% if '19.16:9' != 'null' %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">العشية</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeVespers '19.16:9' '40.17:14-18' %}
          </div>
        </div>
      </li>
      {% endif %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">باكر</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeMatins '19.16:10-11' '40.16:21-23' '' %}
          </div>
        </div>
      </li>
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <h3 class="flex items-center justify-between">
            <span class="kufi">القداس</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </h3>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeLitugy '45.1:19-21' '62.2:11-14' '44.4:19-21' '19.9:10-11' '43.6:54-58' %}
          </div>
        </div>
      </li>

      {% endif %}
        </ul>
    </section>
    <section id="article">
      <h3 class="mt-8 mb-4 heading-explain">شرح القراءات</h3>
      {% createArticleAccordions %}
        <h3>الإيمان والتسبيح</h3>
<p>تحدثنا قراءات يوم الجمعة عن <strong>الإيمان والتسبيح</strong>، فالإيمان الحقيقي يجعل الانسان والكنيسة في حالة دائمة من التسبيح، كما قال القديس العظيم الأنبا أنطونيوس: [الشكر المقدم لله هو خلاص الانسان].. وهذا ما جعل العبادة الكنسية مملوءة من تسبيحات الخلاص والتمجيد لله..</p>
<p></p>
<h4>المزامير</h4>
<p>لذلك يوضح:</p>
<ul>
<li>مزمور عشية ← <strong>نصيب البشرية في المسيح ابن الانسان</strong> كما تنبأ عنه المزمور الخامس عشر &#8220;من أجل هذا فرح قلبي وتهلل لساني وأيضاً جسدي (جسد إبن الإنسان وجسد البشرية فيه) يسكن على رجاء&#8221; (مز 15: 9).</li>
<li>ومزمور باكر &#8220;لأنك لا تترك نفسي في الجحيم (نفس إبن الإنسان ونفوس البشرية فيه) ولا تدع صفيك أن يرى فساداً. قد عرفتني طرق الحياة تملأني فرحاً مع وجهك&#8221; (مز 15: 10، 11).</li>
<li>ويوضح مزمور القداس دور مسئولية البشرية في المسيح &#8220;ويتكل عليك الذين يعرفون اسمك، فلا تترك طالبيك يا رب. رتلوا للرب الساكن فى صهيون&#8221; (مز ٩: ٦، ٧).</li>
</ul>
<p></p>
<h4>إنجيل عشية</h4>
<p>وفي انجيل عشية عن ← <strong>مصير البشرية بدون المسيح</strong> والمتسلط عليها ابليس&#8221;فإنه يصرع في رؤوس الأهلة ويتألم شديداً لأنه مراراً كثيرة يقع في النار ومراراً كثيرة يقع في الماء&#8221; (مت 17: 15).</p>
<p></p>
<h4>انجيل باكر</h4>
<p>وفي انجيل باكر عن ← <strong>آلام التدبير التي تؤول إلى مجد الله</strong> &#8220;أنه ينبغي أن يذهب إلى أورشليم ويتألم كثيراً من الشيوخ ورؤساء الكهنة والكتبة ويُقتل وبعد ثلاثة أيام يقوم&#8221; (مت 16: 21).</p>
<p></p>
<h4>البولس</h4>
<p>وفي البولس عن ← <strong>معرفة الله المدركة خلال قدرته الكونية واللاهوتية</strong> والتي رفضها غير المؤمنين فلم يقدموا له التسبيح والتمجيد اللائق به &#8220;إن معرفة الله ظاهرة فيهم لأن الله أظهرها لهم&#8230; لأنهم لما عرفوا الله لم يسبحوه أو يشكروه كما يجب له&#8221; (رو 1: 19، 21).</p>
<p></p>
<h4>الكاثوليكون</h4>
<p>وفي الكاثوليكون عن ← <strong>عطايا الله للبشرية في المسيح</strong> وتسبيحات الكنيسة المتنوعة:</p>
<ul>
<li>تسبحة الخلاص: &#8220;أكتب اليكم أيها البنون فإنه قد غُفرَت لكم خطاياكم من أجل إسمه&#8221;..</li>
<li>وتسبحة النصرة: &#8220;أكتب اليكم أيها الشبان لأنكم قد غلبتم الخبيث&#8221; (الهوس الثالث)</li>
<li>وتسبحة الشركة الدائمة مع الله ومعرفة الآب: &#8220;أكتب اليكم أيها الآباء لأنكم قد عرفتم الذي من البدء&#8221; (الهوس الثاني) (1يو 2: 12- 14).</li>
</ul>
<p></p>
<h4>الابركسيس</h4>
<p>وفي الابركسيس عن ← <strong>تسبيح الشعب كله</strong> لأجل عمله العظيم في المُقعَد &#8220;لأن الجميع كانوا يسبحون الله على ما جرى&#8221; (أع 4: 21).</p>
<p></p>
<h4>إنجيل القداس</h4>
<p>وفي انجيل القداس عن ← <strong>الافخارستيا أيقونة فرح الكنيسة والمؤمنين</strong>، لذلك تترنم الكنيسة بفرح وقت التناول وتردد المزمور المائة والخمسون مزمور التسبيح، ويعبر الكاهن عن فرح الكنيسة كلها في ختام التوزيع بأن فمنا إمتلأ فرحاً ولساننا تهليلاً من أجل تناولنا من أسرارك الإلهية غير المائتة.. &#8220;من يأكل جسدي ويشرب دمي فله حياة أبدية &#8230; من يأكل جسدي ويشرب دمي يثبت فيّ وأنا أيضاً أثبت فيه&#8221; (يو 5: 39، 46).</p>
<h3>ملخص الشرح</h3>
<ul>
<li>المسيح أعطى للبشرية بتجسده الفرح الكامل والخلاص، ودور البشرية في الاتكال عليه، والتمسك به، لتعيش حياة التسبيح. (مزمور عشية &#8211; مزمور باكر- مزمور القداس).</li>
<li>مصير البشرية بدون المسيح. (انجيل عشية).</li>
<li>آلام التدبير تؤول الى مجد الله. (انجيل باكر).</li>
<li>رفض الأشرار تقديم التسبيح والتمجيد لله رغم إعلانه الدائم في الكون عن ذاته. (البولس).</li>
<li>المؤمنون يقدمون لله تسبيح الخلاص والنصرة والشركة الدائمة معه. (الكاثوليكون).</li>
<li>عمل الله العظيم وعدم قدرة المعاندين على منع الشعب من تمجيد الله. (الابركسيس).</li>
<li>الافخارستيا أيقونة فرح الكنيسة. (إنجيل القداس).</li>
</ul>
<p></p>
<h3>عظات آبائية للجمعة الثانية من الخمسين يوم المقدسة</h3>
<h4>الإفخارستيا والقداس &#8211; لهيبوليتس<a href="#_ftn1" name="_ftnref1">[1]</a></h4>
<p>ترجمة النص إلى العربية</p>
<ul>
<li><strong>السلام الرسولي</strong> (التحية)</li>
</ul>
<p>على اثر سيامة الأسقف الجديد:</p>
<ul>
<li>يعطيه الجميع قبلة السلام، ويحيونه بهذه الكلمة &#8220;أكسيوس&#8221;</li>
<li>يحضر الشماس له القرابين، وإذ يضع عليها يده مع كل جماعة الكهنة ينطق بكلمات الأفخارستيا (الشكر) التالي:</li>
</ul>
<p>الرب مع جميعكم</p>
<p>يرد الجميع قائلين: ومع روحك أيضا .</p>
<p>ارفعوا قلوبكم</p>
<p>يرد الشعب: هي عند الرب</p>
<p>فلنشكر الرب</p>
<p>يرد الشعب: مستحق وعادل .</p>
<ul>
<li><strong>صلوات الافخارستيا</strong></li>
</ul>
<p>ثم يستطرد قائلاً :</p>
<p>نشكرك اللهم، عبيدك (ابنك .. بایس) الحبيب،</p>
<p>يسوع المسيح،</p>
<p>الذي أرسلته إلينا في ملء الإزمنة، مخلصًا وفاديًا وملاك مشورتك،</p>
<p>هو كلمتك &#8220;اللوغوس&#8221; غير المنفصل،</p>
<p>الذي به خلقت كل شيء، وفيه سررت .</p>
<p>أرسلته من السماء إلى أحشاء (رحم) البتول،</p>
<p>فحل فيها وتجسد،</p>
<p>معلنًا ذاته أنه ابنًا لك مولودًا من العذراء والروح القدس،</p>
<p>وتمم مشورتك،</p>
<p>ولكي يجمع لك شعبًا مقدسًا بسط يديه إلى الآلام،</p>
<p>محررًا من الآلام الذين آمنوا بك .</p>
<ul>
<li><strong>قصة التأسيس</strong></li>
</ul>
<p>عندما أسلم نفسه للموت طوعًا،</p>
<p>ليسحق الموت ويحطم قيود الشيطان ويطأ الجحيم ويضيء الأبرار،</p>
<p>ويقيم العهد بإظهار قيامته،</p>
<p>أخذ خبزًا وشكر، قائلاً:</p>
<p>خذوا كلوا، هذا هو جسدي المكسور عنكم .</p>
<p>وأخذ أيضًا الكأس، وقال :</p>
<p>هذا هو دمي الذي يسفك لأجلكم،</p>
<p>كل مرة تفعلون هذا، أصنعوه لذكري(do my namnesis) .</p>
<ul>
<li><strong>الذكرى</strong> (أنامنسيس anamnesis)</li>
</ul>
<p>إذ تقوم الأنامنسيس لموته وقيامته،</p>
<p>نقدم لك الخبز والكأس شاکرین،</p>
<p>إذ حسبتنا أهلاً أن نقف قدامك ونخدمك.</p>
<ul>
<li><strong>حلول الروح القدس</strong> Epeclisis</li>
</ul>
<p>نطلب إليك أن ترسل روحك القدوس على تقدمة كنيستك المقدسة،</p>
<p>إذ يجتمعون معًا في وحدانية .</p>
<p>هب قديسيك الذين يشتركون في قدساتك (أسرارك) أن يمتلئوا من الروح القدس، ويثبتوا في الحق، بهذا نسبحك ونمجدك بابنك (بایس) يسوع المسيح .</p>
<ul>
<li><strong>المجدلة</strong> (ذكصولوجية Doxology أو الختام)</li>
</ul>
<p>لك المجد والإكرام به، مع الروح القدس،</p>
<p>في كنيستك المقدسة،</p>
<p>الآن وإلى أبد الدهور. آمین .</p>
<p>يقول الأسقف: أيضا نتوسل إليك أيها الأب القدير، أبا ربنا يسوع المسيح، هب لنا أن نتقبل بشكر هذا السر المقدس، فلا يكون سبب دينونة لأحد .</p>
<p>وأهِّل الذين يتقبلون السر المقدس، جسد ودم المسيح ربنا القدير وإلهنا.</p>
<p>ليقل الشماس: صلوا.</p>
<p>أما الأسقف فيقول: أيها الأب القدير، هب أن يكون سرك المقدس مصدر قوة ولا يكون أبداً سبب دينونة لنا .</p>
<p>ليغمرنا جميعًا بالبركات بالمسيح ربنا الذي به يليق بك كل مجد وسلطان، الآن وإلى أبد الدهور، آمین .</p>
<p>وليقل الشماس: أيها القيام احنوا رؤوسكم .</p>
<p>يقول الأسقف: أيها الإله الأزلي، أنت مطَّلِع على كل أمر خفي وتعلَّم كل شيء ظاهر، هذا هو شعبك ينحني أمامك وقد لانت قسوته وتداعت صلابة جسده. أمِل أذنك نحونا من أعلى مقامك المجيد، وبارك الرجال والنساء معًا واستمع إلى صلاتهم جميعًا.</p>
<p>وطدهم بقوة يدك وأقضِ على كل ميل سيء واحفظ نفوسهم وأجسادهم، وزد في دفينا الإيمان والمخافة، بابنك الوحيد، الذي به ومعه الروح القدس يليق بك المجد والسلطان، الآن وإلى أبد الدهور آمين.</p>
<p>يقول الشماس: فلننصت</p>
<p>ويقول الأسقف: القدسات للقديسين.</p>
<p>فيجيب الشعب: واحد هو الآب، واحد هو الابن، واحد هو الروح القدس .</p>
<p>ويقول الأسقف: الرب معك .</p>
<p>ويجيب الشعب: ومع روحك.</p>
<p>وليرفع الجميع أيديهم للتسبيح، وليقترب الشعب بعد ذلك من الأسرار لخلاص أنفسهم ولمغفرة الخطايا .</p>
<p>أيها الإله القدير، أبا ربنا ومخلصنا يسوع المسيح، نشكرك لأنك أهلتنا لتقّبُل سرك المقدس؛ هب لنا ألا يكون سبب خطية أو دينونة، بل ليكن هذا السر العظيم ثوبًا جديدًا لنفوسنا وأجسادنا وللروح أيضًا، بابنك الوحيد، ففيه ومعه ومع الروح القدس يليق بك المجد والسلطان الآن وإلى أبد الدهور .</p>
<p>يجيب الشعب: آمين</p>
<p>وليقل الكاهن بعد وضع يديه على المتناولين:</p>
<p>وأيها الإله الأزلي القدير، أبا ربنا ومخلصنا يسوع المسيح بارك خدامك وخادماتك واحمهم وعضدهم وامنحهم السعادة بقوة رئيس ملائكتك .</p>
<p>احفظهم وقوهم في المخافة التي يوصيها جلالك، هب لهم السلام واملأهم ثقة من غير ضيق ولا ضجر بابنك الوحيد، ففيه ومعه الروح القدس يليق بك المجد والسلطان، الآن وإلى أبد الدهور .</p>
<p>يجيب الشعب: آمين</p>
<p>يقول الأسقف: الرب معكم .</p>
<p>يجيب الشعب: ومع روحك .</p>
<p><strong>وبذلك ينتهي القداس</strong><strong>.</strong></p>
<h4>الإفخارستيا والنصرة على الشيطان – للقديس يوحنا ذهبي الفم<a href="#_ftn2" name="_ftnref2">[2]</a></h4>
<p>هذا الدم يجعل صورة ملكنا واضحة فينا، ويجلب علينا جمالاً لا ينطق به، ولا يسمح بانتزاع سمونا، بل يرويه دائماً وينعشه.. هذا الدم متى أخذناه بحق يطرد الشياطين ويبعدهم عنا، بينما يدعو إلينا الملائكة، فإذ يظهر دم الرب تهرب الشياطين وتجتمع الملائكة، هذا الدم المسفوك يطهر كل العالم.. هذا الدم يطهر الموضع السري وقدس الأقداس.. الدم يقدس المذبح الذهبي.. هذا الدم يقدس الكهنة.. هذا الدم هو خلاص نفوسنا… به تغتسل النفس وتتجمل وتلتهب، به يلتهب فهمنا كالنار، وتتلألأ النفس أكثر من الذهب، لقد سفك هذا الدم فاتحاً لنا طريق السماء.. مهوبة حقاً هي أسرار الكنيسة، مهوب حقاً هو المذبح، لقد خرج من الفردوس ينبوعاً يبعث أنهاراً مادية، أما هذه المائدة فأخرجت ينبوعاً يبعث أنهاراً روحية، لا يزرع على جوانبها شجر الصفصاف غير المثمر بل تزرع أشجار تصل إلى السماء وتحمل ثمراً دائماً لا يفسد، إن كان أحد لفحه الحر فليقترب من الينبوع فتبرد حروقه وينطفيء ظمأه ويحمل راحة عوض الحروق التي سببتها السهام النارية لا الشمس.. هذا الينبوع هو نور يبعث أشعة الحق، تقف بجواره القوات السمائية في الأعالي تتطلع إلى جمال مجاريه… من يشترك في هذا الدم يقف مع الملائكة ورؤساء الملائكة والقوات العلوية، ملتحفاً بثوب المسيح الملوكي له أسلحة الروح، لا بل يلتحف بالملك نفسه .</p>
<p>في ذلك اليوم في مصر رأى الملاك المُهلك مجرد مسحة دم خروف الفصح فلم يجرؤ أن يدخل ويقتل، أما اليوم فالشيطان لن يختبر نفسه مرة أخرى، إذ يرى لا مجرَّد شبه الدم بل الدم نفسه ممسوحاً على شفاه المؤمنين، وقد صارت أبواباً لهيكل فيه المسيح! فإن كان الملاك المُهلك وقف بلا حراك لما رأى مسحة دم الفصح على الأبواب فكم بالحري عندما يرى الحق ذاته .</p>
<p>إذن املأ نفسك تماماً من نعمة الروح القدس، حتى لا يستطيع الشيطان أن يضع شيئاً داخلك، لذا يجب أن تشتركوا في التسابيح والترانيم والألحان الكنسية، لأن بهذه الأمور التي تسمعونها اليوم وتفرحوا بها تمتلئوا بنعمة الروح القدس، وإني على يقين بأنكم متعقلون، يوجد أمامكم كأس مملوء بخمر جيد للسُكر الروحي، كأس سُكر يسبب التعفف والتعقل وليس الهذيان، وما هو هذا الكأس؟ هو الكأس الروحي، كأس دم الرب الأبدي، هذا الكأس لا يسبب سُكراً، ولا هذياناً، لأنه لا يُقيد قوتنا بل يشدّدها، لا يحل أعصابنا بل يقويها، هذا الكأس يخلق في داخلنا هدوء النفس، هذا الكأس يكرّمه الملائكة، وترتعب منه الشياطين، إنه الكأس الجدير بالتقدير والاحترام من جانب البشر والمحبوب لدى الله، اسمع ماذا قال داود عن هذا الكأس الروحي الموجود على المائدة المقدسة: &#8220;قدمت لي كأساً يعطي سُكراً قوياً وعظيماً&#8221; (مز٢٣: ٥س)، لقد أضاف داود عبارة &#8220;قوياً وعظيماً&#8221; حتي لا تخاف للتو عندما تسمع كلمة &#8220;سُكراً&#8221; وتظن أنه يجلب مرضاً، إذن لدينا طريقة جديدة للسُكر تضع فينا قوة وتجعلنا أكثر انضباطاً وأكثر عافية، لأن هذا السُكر يأتي من منبع روحي، وهو لا يضلل أفكارنا لنفعل الشر ولكنه يخلق فينا أموراً روحية جديدة.</p>
<h4>الإفخارستيا – للشهيد كبريانوس والقديس أمبروسيوس<a href="#_ftn3" name="_ftnref3">[3]</a></h4>
<ul>
<li><strong>الشهيد كبريانوس</strong></li>
</ul>
<p>ونحن نعلم أن الماء يفهم منه &#8220;المسيحيون&#8221; (رؤ ١٧: ١٥) والخمر يظهر دم المسيح. لكن في الكأس، إذ يمتزج الماء بالخمر، فإن الشعب يتحد بالمسيح، وتتحد جموع المؤمنين معًا، ويصيرون واحدًا بذلك الذي يؤمنون به. هذا الارتباط والوحده يتمان بين الماء والخمر الممتزجان في كأس الرب، ولا ينفصلان عن بعضهما البعض. هكذا لا يقدر شيء ما ان يفصل الكنيسة عن المسيح، لأن حبها غير منقسم.. وأقصد بالكنيسة، شعبها الذي يثابر  بإيمان وثبات. وهكذا لا يقدم في تقديس كأس الرب الماء وحده، ولا الخمر وحده. لأنه لو قدم الخمر وحده يكون دم المسيح حالاً بدوننا. ولو قدم الماء وحده يحضر الشعب بغير المسيح. ولكن إذا امتزج الإثنان معًا، ويربط كل بالآخر في وحدة كاملة، فإن السر السماوي الروحي يكون كاملاً. لهذا فإن كأس الرب ليست ماء فحسب، ولا خمر وحده، بل يمتزج الاثنان معًا. هكذا أيضًا جسدالرب لا يكون من الحنطة وحدها أو الماء وحده، بل يضاف الاثنان الى بعضهما البعض ويتحدان، ويكونان خبزاً واحدًا. وفي هذا السر يظهر شفيعًا واحدًا. فإنه وإن كانت حبوب القمح كثيرة لكنها تتجمع معًا، وتطحن وتمزج وتصير خبزة واحدة. ليتنا نتعلم أإنه في المسيح الذي هو الخبز السماوي، يوجد جسد واحد، الذي فيه يتحد الكل ويصير الكل واحدا.ً</p>
<ul>
<li><strong>القديس أمبروسيوس</strong></li>
</ul>
<p><strong>من الجنب جاءت الخطية، ومن الجنب تأتي النعمة..</strong></p>
<p>قد تقول لي: ألم يقدم ملكي صادق خبزا وخمراً، فما معنى إضافة الماء؟</p>
<p>السبب هو: أول كل شيء ما معنى المثال الذي سبق هذا (تقدمة ملكي صادق) في وقت موسى؟ عندما عطش الشعب، وتذمروا بسبب عدم وجود ماء، فأمر الله موسى أن يضرب الصخرة بالعصا.</p>
<p>لقد ضرب الصخرة، فخرج ماء بغزارة (عد٢٠: ١١)، وكما يقول الرسول: انهم كانوا يشربون من صخرة روحيه تبعتهم، والصخرة كانت المسيح (١كو١٠: ٤)، لأنها لم تكن تتبعهم صخرة غير متحركة..</p>
<p>فلتشربوا أنتم أيضًا، إذ المسيح يتبعكم. تأملوا السر..</p>
<p>كان موسي نبيًا، والعصا تعنى كلمة الله. يلمس الكاهن الصخرة بكلمة الله، فيفيض الماء ويشرب الشعب.</p>
<p>يضرب الكاهن، ويفيض الماء في الكأس &#8220;ينبع الى حياة أبدية&#8221; (يو٤: ١٤). فيشرب الشعب، وينال نعمة الله. وهذا ماتعلمونه الآن .</p>
<p>لتعرفوا أيضًا حقيقة أخرى، إنه وقت آلام ربنا، إذ كان السبت العظيم يقترب، وكان ربنا يسوع المسيح واللصان لا يزالا عائشين، أرسل الجنود ليقتلوهم. ولكن عندما جاءوا وجدوا الرب يسوع قد مات. فضرب واحد من الجند جنبه، فخرج منه دم وماء (يو١٩: ٣٣). لماذا خرج ماء؟ ولماذا خرج دم؟ الماء للغسيل، والدم للخلاص.</p>
<p>ولماذا من جنبه؟ لأنه من الجنب جاءت الخطية، ومن الجنب تأتي النعمة .</p>
<p>من الجنب جاءت الخطية خلال المرأة (حواء)، والنعمة تأتي خلال الرب يسوع المسيح.</p>
<h3>عظات آباء وخدّام معاصرين <strong>للجمعة الثانية من الخمسين يوم المقدسة</strong></h3>
<h4>القيامة خبز الحياة &#8211; لقداسة البابا تواضروس الثاني<a href="#_ftn4" name="_ftnref4">[4]</a></h4>
<p>في هذا الأسبوع تدور القراءات حول <strong>المسيح &#8220;خبز الحياة&#8221;</strong></p>
<p>إن المن: طعام مادي لحياة الأرض، فيه يجوع الإنسان وبعده يموت،</p>
<p>أما <strong>المسيح فهو طعام سماوى لحياة السماء</strong> لا يجوع الإنسان ولا يموت بعده.</p>
<p>&#8220;وُجد كلامك (على المنجلية) فأكلته (على المذبح) فكان كلامك لي للفرح ولبهجة قلبي&#8221; (إر١٥: ١٦).</p>
<p>هذا يعني أن الله يُقدم لنا كلمته بطريقتين:</p>
<ul>
<li>مسموعة ومقروءة ← من خلال: الكتاب المقدس</li>
<li>منظورة ومأكولة ← من خلال: المذبح وسر التناول المقدس .</li>
</ul>
<p><strong>المسيح فيه الحياة ويعطي الحياة</strong>، لقد تجسد ليُعطى جسده الحي للعالم ليكون بذرة الخليقة الجديدة، وهكذا فإن حياة المسيح الأبدية التي في دمه تنتقل إلى كل من يشرب دمه بالإيمان .</p>
<p><strong>إن ذبيحة السيد المسيح فيها</strong>: حُب المسيح لعالم البشر <strong>+</strong> حُب المسيح للآب السماوى &#8220;من يأكل جسدي ويشرب دمي يثبت فىّ وأنا فيه&#8221; (يو6: ٥٦). إن كل من يأكل جسدى ويشرب دمى أصير أنا كُلِّى فيه وأبقى فيه :</p>
<ul>
<li>بجسدي ← أي بسر تجسدي وميلادي .</li>
<li>وبدمي ← أي بسر فدائي بحياتي وموتي وقيامتي.</li>
</ul>
<p>فيصير:</p>
<ul>
<li>موتي فيه لموته أي لفدائه،</li>
<li>وحياتي لحياته الأبدية،</li>
<li>وتصير قيامتي لقيامته في ملء المجد والملكوت.</li>
</ul>
<p><strong>كلمة الله</strong> أنه خبز يومي &#8211; مُتدرج &#8211; متأمل فيه، في كل قداس تُقدم لنا الكنيسة خمس خبزات وسمكتين هم: البولس &#8211; الكاثوليكون &#8211; الإبركسيس &#8211; مزمور &#8211; إنجيل &#8211; [سنكسار، وعظة] .</p>
<p><strong>اختبار القيامة</strong></p>
<p>المقطع الأخير من أوشية الإنجيل فيه منظومة عمل رائعة لنا :</p>
<ol>
<li>المخاطب : هو شخص المسيح من خلال خمسة ألقاب:</li>
</ol>
<p>لأنك أنت هو حياتنا كلنا «الحياة الأبدية».. خلاصنا كلنا «خلاص الصليب».. رجاؤنا كلنا «من مرض وحرب ويأس».. شفاؤنا  كلنا «من أمراض الخطية».. قيامتنا «القوة الجديدة من كل سقطة» .</p>
<p>ورقم (٥) فيه هذه المعاني في مواضيع كثيرة منها:</p>
<ul>
<li>جراحات المسيح الخمسة.</li>
<li>العذارى الحكيمات الخمس.</li>
<li>الحواس الجسدية الخمس .</li>
</ul>
<p>٢ – المُتكلم: نحن وهى صيغة جماعية أي الكنيسة وكل تسابيح سفر الرؤيا هي بنفس الصيغة (الجمع).</p>
<p>٣ – التوقيت: قبل قراءة الإنجيل المقدس مباشرة، وهى لحظة مهمة، كما أنها تذكر دائم بالقيامة التي هي محور حياتنا وعقيدتنا الأرثوذكسية، والإنجيل هنا بمثابة رسالة شخصية لكل أحد كعضو في جسد المسيح أي الكنيسة .</p>
<ul>
<li><strong>ويمكن أن نضع هذه المفردات في معادلة</strong><strong> :</strong></li>
</ul>
<p>حياتنا الجديدة = خلاص المسيح + رجاء في المسيح + شفاء بالمسيح = قيامتنا المجيدة.</p>
<p>وقد علمنا الآباء أن <strong>قيامته المجيدة هي وعد بقيامتنا معه</strong>.</p>
<h4>القداس وليمة &#8211; للمتنيح الأنبا غريغوريوس أسقف البحث العلمي<a href="#_ftn5" name="_ftnref5">[5]</a></h4>
<p>لقد تحول القداس في نظر الكثيرين إلى اسطوانة فيقولون: &#8220;نذهب إلى الكنيسة لنسمع القداس&#8221;. كلا ليس القداس اسطوانة، إنه وليمة سمائية وأنت مدعو لهذه الوليمة. ولا يليق بالمرة أن تدعى وتلبي الدعوة ثم لا تقبل أن تأكل من الوليمة، وإلا سألك كل واحد: إذن لماذا جئت؟.</p>
<p>فالتناول سر والقداس وليمة، والمسيح بجلاله ينزل من السماء، وينزل على المذبح لكي يجعل نفسه طعاماً لأرواحنا وعلى الرغم من هذا نقول له: لا!!!..</p>
<p>ماذا يمكن أن يُسمى هذا التصرف؟ إنه إنعدام أدب وليس مجرد «قلة أدب» فقط.. هو انعدام أدب.. ونحن نقول هذا قياساً على أي مائدة مادية، فأنت لو دعيت لوليمة غذاء أو عشاء وحضرتها ثم رفضت أن تأكل.. فماذا يقول الناس عنك؟.. سيقولون: إما إنك مترفع عن الباقين، وبذلك تهين غيرك من المدعوين!!! وهي إهانه ما بعدها إهانة!!.. أو إن الطعام لا يروقك وهذه إهانة أخرى لصاحب الوليمة الذي دعاك .</p>
<p>وقانون الكنيسة يقول: إذا كان هنا مسيحي لا يتناول من الأسرار المقدسه فليُسأل (قوانين الرسل &#8211; قانون ٨).. لأن هذا هو الشذوذ على القاعدة. فنحن في وليمة ومن المفروض أن نأكل منها. إلا إذا كان هناك مانع حقيقي أو إذا كانت هناك أسباب كنسية: فواحد ممنوع بحكم كنسي، وآخر ممنوع من أب اعترافه، هذا هو الإستثناء.. إنما القاعدة هي التناول.. أما اليوم فالعكس هو الذي يحدث.. لقد تحول الإستثناء إلى قاعدة وتحولت الكنيسة إلى مستمعين للقداس!!..</p>
<p><strong>المفهوم الارثوذكسي للتناول</strong></p>
<p>ليس هذا هو المفهوم الأرثوذكسي للتناول، وليس هذا هو المفهوم المسيحي!! فسر التناول موجود باستمرار.. وأنت في المعمودية تُغسَل من خطاياك الأصلية أو الجدية، أما خطاياك الفعلية اليومية، خطاياك كل يوم فأين تغسلها؟..</p>
<p>&#8221; ليس بأحد غيره الخلاص&#8221; (أع ٤: ١٢) فكيف تغسل خطاياك اليومية؟.. هذا يتم في سر التناول، لأن دم يسوع المسيح &#8220;يطهرنا من كل خطيئة&#8221; (١يو١: ٧). ولذلك يقول الكاهن في ساعة السجود &#8220;ربنا يسوع المسيح يُعطى عنا خلاصاً وغفراناً للخطايا وحياة أبدية لمن يتناول منه&#8221;. يُعطي عنا خلاصاً وغفراناً للخطايا، أيه خطايا؟ إنها الخطايا الفعلية واليومية. وكيف تغفر؟ إن التوبة وأعمال الطاعات المختلفة لا تغفر الخطيئة فهي فقط تجعل الانسان مستعداً للغفران، إنما الغفران بدم المسيح فقط &#8220;ليس بأحد غيره الخلاص&#8221;.. إن التوبة تؤهلك للتناول وبالتالي للغفران وإلا كنت غير مستحق &#8220;فمن أكل خبز الرب هذا وشرب كأسه ولم يكن أهلاً لهما، فهو مجرم إلى جسد الرب ودمه&#8221; (١كو ١١: ٢٧) مرة أخرى إن أعمال الطاعات تؤهلك لأن تأخذ استحقاقاً، إنما الغفران لا يتم بتوبتك أنت بل باستحقاقات المسيح وبدم المسيح: من هنا أهمية سر التناول، والتناول بتواتر .</p>
<p>تلك هي وسائط الخلاص التي تضرم عطية الروح القدس التي انطفأت بالخطيئة وبالإحتكاكات اليومية وما اليها. وبها تنتعش ثم تنمو وتمتد وتنتشر في القلب وفي النفس، إلى أن تملأ كل فراغ النفس، فنبلغ إلى قامة ملء المسيح.</p>
<h4>معنى التناول باستحقاق &#8211; للمتنيح أنبا يؤانس أسقف الغربية<sup> <a href="#_ftn6" name="_ftnref6">[6]</a></sup></h4>
<p>كثيرون يحجمون عن التناول من جسد الرب ودمه مع وجود الرغبة لديهم، ويرجع احجامهم إلى تهيبهم من السر وعدم فهمهم لمعنى الإستعداد الواجب للتقرب من الأسرار المقدَّسة، وتخيفهم وتهزهم كلمات الكاهن في بدء صلوات الأواشي قبل مجمع القديسين في القُدَّاس الباسيلي &#8220;اجعلنا مستحقين كلنا يا سيدنا أن نتناول من قدساتك طهارة لأنفسنا وأجسادنا وأرواحنا&#8221;. وأيضاً كلماته قرب نهاية القُدَّاس &#8220;القدسات للقديسين&#8221;. ثم كلمات الشماس التي يرددها قبيل التناول مباشرة &#8220;صلوا من أجل التناول باستحقاق من هذه الأسرار المقدَّسة..&#8221; فما هو الإستعداد الواجب والتناول باستحقاق إذن؟..</p>
<p>هل هو تقدم الانسان بلا خطية، وتطهير حياته من كل شر وشبه شر؟..</p>
<p>من الأمور الأولية في الإيمان المسيحي أن الجهاد الشخصي لا يكمل الإنسان، إنما يكون ذلك من عمل النعمة الإلهية دون سواها.. وفِي ذلك يقول معلمنا بولس &#8220;لأنه إن كان بالناموس بر فالمسيح إذن مات بلا سبب&#8221; (غل ٢: ٢١). واحجامنا عن التقدم للتناول حتي نتكمَّل، معناه أننا نريد أن نكمل أنفسنا بأنفسنا، لا أن نأتي الى الله بما فينا من نقائص وضعفات ليكملنا ونحن نعلم أن الابن الضال لم يُقبل الى أبيه بعد أن خلع عنه ثيابه الرثة ولبس اللباس اللائق، بل ذهب لأبيه كما هو، وأبوه هو الذي وضع عليه الحلة الأولى، والحذاء في قدميه، والخاتم في يده!! هكذا حياتنا لا تتكمل إلا باتصالها بالله .</p>
<p>إن الإستعداد الصحيح للتناول هو التوبة الصادقة من القلب عن اخطائنا الماضية كلها، والعزم من القلب على تسليم الحياة لله، والعيشة له في قداسة وتقوى، والتخلص من كل ضعفات النَّفس المعطلة لعلاقاتنا به.</p>
<p>والتناول باستحقاق هو التقدم برهبة وخشوع وتقدير لعظمة هذا السر مع الشعور بعدم الاستحقاق للدنو منه. وعلى ذلك فإن الإنسان المسيحي يتقدم كمريض يلتمس دواء يبرأ به من سائر أوجاعه.. وفِي ذلك يقول القدِّيس يوحنا ذهبي الفم تعليقاً على العبارة التي يقولها الكاهن &#8220;القدسات للقديسين&#8221;، والشعب يجاوب حاشا إننا لسنا قديسين بل نحن خطاة وغير مستحقين لهذه التسمية. إنما القدوس الوحيد، بل قدوس القديسين هو يسوع الذي تجسد لأجل خلاصنا. ولهذا يصرخ الشعب &#8220;واحد هو الآب القدوس، واحد هو الابن القدوس، واحد هو الروح القدس آمين&#8221;.</p>
<p>أما نداء الشماس فهو تحذير لمن يجروء على التقدم بغير مبالاة وبدون اكتراث، الأمر الذي أشار اليه معلمنا بولس بقوله &#8220;لأن الذي يأكل ويشرب بدون استحقاق يأكل ويشرب دينونة لنفسه غير مميز جسد الرب&#8221; (١كو١١: ٢٩). وعن نفس الأمر قال أيضاً القدِّيس بولس في الآية السابقة لهذه &#8220;لكن ليمتحن الانسان نفسه، وهكذا يأكل من الخُبز ويشرب من الكأس&#8221; (١كو ١١: ٢٨). هذا هو بيت القصيد &#8220;ليمتحن الإنسان نفسه&#8221;، ويرى هل هو اعترف اعترافًا أميناً.. وفِي ذلك يقول القدِّيس يوحنا ذهبي الفم أيضاً &#8220;فلا يتقدم أحد غافلاً ولا متراخياً، بل فلنبادر جميعنا بحماسة وحمية ونهضة.. ويجب أن نكون من كل جهة ساهرين لأن القصاص المعد للمشتركين بدون استحقاق ليس صغيراً. تفطن كم أنت أيضاً تتمرمر من الذي خانه والذين صلبوه. فاحترس إذن من أن تصير أنت أيضاً مجرماً في جسد المسيح ودمه&#8221;.</p>
<p>ويحدث أحياناً بعد العزم الكامل والدخول في العهد مع الله أننا &#8211; بسبب الضعف البشري الذي كان كثيراً ما يلحقنا &#8211; نقع في نفس الخطايا القديمة التي عقدنا العزم على التخلص منها، لا عن تعمد أو إستهانة. لا تخف يا أخانا العزيز، فحتى عند حدوث ذلك لا نيأس بل لننهض متذكرين كلمات الرسول &#8220;يا أولادي أكتب اليكم هذا لكي لا تخطئوا، وإن أخطأ أحد فلنا شفيع عند الآب يسوع المسيح البار. وهو كفارة لخطايانا، ليس لخطايانا فقط، بل لخطايا كل العالم أيضاً&#8221; (١يو ٢: ١، ٢).</p>
<p><strong>الطهارة الجسدية اللازمة للتناول</strong></p>
<p>كما أن التناول من الجسد والدم الأقدسين يتطلب استعداداً وطهارة روحية، فهو يستلزم أيضاً طهارة جسدية واجبة :</p>
<ul>
<li>في حالة الاحتلام والفيض المنوي عند الذكور يمتنع عن التناول في نفس اليوم لأن ذلك يعتبر فطراً</li>
<li>في فترات الطمث والولادة عند الأنثى يمتنع عن التناول، في حالة الولادة يمتنع لمدة أربعين يوماً في حالة المولود الذكر، وثمانين يوماً في حالة المولودة الأنثى .</li>
<li>يمتنع الازواج والزوجات عن المعاشرة الجنسية ليلة التناول باعتبارها فطراً .</li>
</ul>
<p>علي أنه في الحالة الأولي بشقيها &#8211; الاحتلام والفيض &#8211; اذا تكرر حدوثها في الليالي المزمع للشخص أن يتقدم فيها للتناول، يمكنه أن يكشف الأمر إلى أب اعترافه، لأنه يحدث في بعض الأحيان أن تكون أمثال هذه الأشياء حرباً من عدو الخير ليحرم الانسان من التناول. وأب الاعتراف بعد استجلاء الأمر والوقوف عليه، يمكنه أن يوجههه التوجيه المناسب .</p>
<ul>
<li>ويجب أيضاً أن يتقدم المتناول بجسد نظيف مغتسل من هذه الامور الجنسية كلها، وبثياب أيضاً غير ملوثة بأي فيض من هذا النوع .</li>
</ul>
<p><strong>علاقة الكاهن بالسر</strong></p>
<p>هناك نقطة أخيرة نريد أن نطرقها قبل الفراغ من هذا الموضوع، حتى لا يكون الشيطان بما يزرعه من شكوك في أذهان بعض المؤمنين، حائلاً دون تمتعهم ببركات هذا السر الأقدس. فبعض الناس ممن يحجمون عن التناول يعللون أحجامهم بأن الكاهن المصلي شرير، أو له نقائص وعيوب ظاهرة. ويستتبع ذلك من وجهة نظرهم &#8211; أو هكذا يدعون &#8211; شكهم في صحة هذا السر، ولو وقف الأمر عند هذا الحد لهانت المشكلة، ولأمكن أن يقصدوا كاهناً آخر يرتاحون اليه وإلى تقواه، لكن الأمر يتعدى الكاهن الذي أعثروا فيه الى معظم الكهنة تقريباً، مما يوضح لنا الحقيقة، ويظهر جلياً أن الشيطان وراء كل تلك الشكوك، ليحرم أمثال هؤلاء الناس من التمتع ببركات السر المجيد ..</p>
<p>والسؤال الآن: هل لقداسة الخادم (الكاهن) علاقة باتمام هذا السر، وهل الاستحالة من خبز وخمر بسيطين الى جسد المسيح ودمه الأقدسين لا تتم إلا إذا صلى كاهن قديس؟..</p>
<p>الحق أن خادم الأسرار &#8211; أي الكاهن &#8211; يجب أن يكون ذا إيمان وتقوى وقداسة تليق بالخدمة وقدسيتها وجلالها. لكن صحة الأسرار عامة لا تتوقف على إيمان الخادم أو صلاحه، وذلك لأن قوة السر والنعمة التي تمنح به لا تتعلق بخادمه، ولا تتوقف على استحقاقه، بل هي متعلقة باستحقاق وإرادة مخلصنا يسوع المسيح، واهب النعمة، وهي نتيجة الكلمة الالهية الفعالة &#8220;هذا هو جسدي، هذا هو دمي، اصنعوا هذا..&#8221; فكما أنه تعالى قال قديماً للنور كن فكان وما يزال، وسوف يظل كائنا الى نهاية العالم، هكذا أسرار الكنيسة السبعة &#8211; ومنها التناول &#8211; لا تتعلق بتقوى الخدام أو بقوتهم، بل هي نتيجة حلول الروح القدس باستدعائهم إياه .</p>
<p>هكذا الخدام ليسوا سوى آلات منظورة يتمم الرب أسراره بهم، لإيصالها إلى أبنائه المؤمنين باسمه، بطريقة سرية غير منظورة، والعقل البشري لا يمكن أن يصدق أن الله يجعل وصول نعمة للبشر أمراً مشروطاً بصلاح الخدام، أضف إلى هذا أنه لو كان إيمان الخادم وقداسته وصلاحه أموراً ضرورية لصحة مباشرة الأسرار وتوزيعها، لكن ذلك مثار تشويش عظيم في نفوس قابلي الأسرار، ويزيد الشكوك في كنيسة المسيح، وهذا بطبيعة الحال معطل لجني ثمار الأسرار الالهية، خلافاً للغاية السامية التي رتبها الرب لأجلها، ولوجد الإنسان في ريب وقلق دائمين بشأن صحة الأسرار التي يكون قد اقتبلها، اذ لا يمكن لأحد أن يتحقق هل خادم السر على جانب من الإيمان الحقيقي والقداسة أم لا، إذ أن هذا يعرفه الله وحده فاحص القلوب ومختبر الكلى، وفضلاً عن هذا فإن الكاهن الخديم قد يكون اليوم تقياً، ويصبح غداً شريراً وبالعكس تبعاً لتصرفه في حرية الإرادة الممنوحة له من الله كسائر البشر، ونحن نكتفي هنا بايراد بعض أقوال آباء الكنيسة القديسين في هذا الصدد .</p>
<p>قال القدِّيس غريغوريوس الثيئولوغوس في خطاب له عن المعمودية &#8220;كل واحد مستحق أن تصدقوا أنه يطهركم ويكفيه لذلك أن يكون واحداً من الذين أخذوا السلطان ليغفروا الخطايا، ولم يصيروا مرفوضين علانية (من الكنيسة). فانظروا أنتم كيف يجب أن تفتكروا، عندي خاتمان أحدهما من ذهب والآخر من حديد، وعلى كل منهما الصورة الملكية نفسها، فأطبع بكل منهما طبعة على شمع، فبماذا تمتاز طبعة الواحد عن طبعة الآخر؟ إنها لا تمتاز بشيء، فان كنت أنت ممتازاً بحذاقة عقلك فاحكم في طبع المعدن على الشمع، وقل لي أية صورة من هاتين الصورتين هي صورة الخاتم الذهبي، وأية هي صورة الحديدي، ولماذا الصورتان كلتاهما متشابهتان، فقابلوا علي ذلك كل واحد من الكهنة الذين يعمدونكم ، فالواحد يمكن أن يسمو علي الآخر بالسيرة الروحانية ، غير أن قوة المعمودية واحدة&#8221;.</p>
<p>والقديس أوغسطينوس بعد أن أورد شهادة يوحنا المعمدان عن المسيح الواردة في (يو ١: ٣٣) وهي &#8220;هذا هو الذي يعمد بالروح القدس&#8221;، قابلها مع ما كتبه يوحنا الانجيلي في (يو٤: ٢) &#8220;مع أن يسوع نفسه لم يكن يعمد بل تلاميذه&#8221;، قال &#8220;إن عمد بطرس فيكون هو (المسيح) المعمد، وإن عمد بولس فيكون هو المعمد، وإن عمد يهوذا فيكون هو المعمد.. لأن ما أعطي لواحد لا يختلف باختلاف الخدام، بل إنه متساوٍ، فإنه قال &#8220;هذا هو الذي يعمد&#8221;. ويؤيد ذلك ما كتبه الرسول &#8220;ليس الغارس شيئاً ولا الساقي، بل الله الذي ينمي&#8221; (١كو ٣: ٧)، لأن كل ما في السر من القوة والفاعلية إنما هو للمسيح، وليس للكاهن أي الخادم إلا الخدمة، وهو لا يقدر أن يقاوم قوة الله&#8221; (في يوحنا مقالة ٦ عدد ٧، ٨) .</p>
<p>وقال أيضاً في كتابه الثالث ضد كراسكونيوس رأس ٨ &#8220;لا فرق بين أن يوزع الأسرار خدّام أبرار أو خطاة، فمثلها مثل البذار التي تلقي على الأرض بيد الفلاح سواء كانت نظيفة أو قذرة ويأتي بالثمر على السواء. ولو تعلقت فاعلية الأسرار بقداسة الخادم أو عدمها لتعلق خلاصنا بحريتهم&#8221;.</p>
<p>ونخلص من كل ذلك إلى أن الخدام ما هم إلا آلات في يد الرب يتمم بهم المسيح نفسه، بفعل روحه القدوس، تقديس هذا السر كما وباقي الأسرار أيضاً، وعلى ذلك فيجب ألا يساورنا أدنى شك في صحة وفاعلية هذا السر بصرف النظر عن الخادم الذي يصلي، وعلينا أن نتقدم في ثقة وإيمان شاكرين محبة الله وحنوه ورحمته التي دبرت لنا &#8220;هذا السر العظيم الذي للتقوي&#8221;.</p>
<h4>القيامة والافخارستيا – للمتنيح القمص بيشوي كامل<sup> <a href="#_ftn7" name="_ftnref7">[7]</a></sup></h4>
<p>بسم الأب والابن والروح القدس الإله الواحد آمین</p>
<p>من يأكل هذا الخبز فإنه يحيا إلى الأبد.</p>
<p>وتكرر الحديث في فترة الخماسين عن سر التناول لأن التناول فيه الحياة. والقيامة هي الحياة من الموت. فالقيامة تعادل الحياة.. فآباؤنا القديسون اعتبروا أن شركة جسد ربنا يسوع المسيح هو عيد القيامة بنفسه، فبعد صعود السيد المسيح له المجد ابتدأوا يعتبروا أن كل يوم أحد في الأسبوع هو تذكار القيامة المقدسة وسموه يوم الرب .</p>
<p>واختص هذا اليوم بتوزيع جسد المسيح فيقول البعض إن في الأوقات الأولانية في الأيام الأولى بعد قيامة ربنا يسوع المسيح وصعوده للسماء. كانوا بينما هم مجتمعون لكسر الخبز وللتناول يجدوا المسيح في وسطهم ويناولهم، وربطت الكنيسة ربط كبير جداً بين سر التناول وبين القيامة لدرجة أن قدرة الإنسان على معرفة الله واستنارة قلبه برؤية ربنا متوقفة على سر التناول .</p>
<p>ما أسهل أن انسان يقرأ الإنجيل ويدرس ويناقش ويحلل ويستنتج ويتأمل ويكتب.. لكن يكلمنا الكتاب المقدس عن تلميذي عمواس أنهم كانوا ماشيين وكانت قلوبهم بطيئة بحسب تعبير الكتاب وغبية في الفهم.. والمسيح وبخ هذا البطء وهذه الغباوة، ووصلوا إلى قرية عمواس، وتظاهر ربنا أنه ماشي لمكان أبعد.. وبعدين مسكوا فيه. علشان يقعد معاهم. ويقول الكتاب: &#8220;فدخل ليمكث معهما فلما اتكأ معهما أخذ خبزاً وبارك وكسر وناولهما فانفتحت أعينهما وعرفاه ثم اختفى عنهما&#8221;.. فأكل وأخذ خبز وكسر وناولهم فانفتحت أعينهما وعرفاه. مفروض هو ضيف.. والضيف لما بیخش بیت، مین هو اللي بياخذ الخبز ويحط ويأكل الناس اللي قاعدة؟ الضيف يقعد والناس اللي قاعدين يقدموا له الأكل وما يمدش إيده على الأكل إلا لما الناس يمدوا له. هو بسرعة أخذ خبزة وبارك وشكر وكسر وناولهما.. أكلهم.. إدی كل واحد حتة في بقه.. وللحال انفتحت أعينهما فعرفاه ثم اختفى عنهما.. هم بيحكوا لما راحوا للتلاميذ وهم يقولون &#8220;إن الرب قام بالحقيقة&#8221; وظهر لسمعان.. أما هما فكانا يخبران بما حدث في الطريق وكيف عرفاه عند كسر الخبزوربطوا ربط أكيد بين معرفة المسيح وبين كسر الخبز.</p>
<p>ولازم نعرف يا أحبائي إن إحنا معرفتنا عن ربنا مش معرفة عقلية. لأن مهما كان العقل ماهر في ادراك أسرار الكون.. والكلام ده.. لكن هيبقى قدام أسرار الله عاجز.. لكن يقدر الإنسان يعرف على قدر ما ربنا يفتح ذهنه ويعطيه.. يعني معرفتنا لربنا متوقفة على اعطاء ربنا لينا هذه المعرفة إنه يفتح ذهننا. فهم راحوا للتلاميذ وقالوا لهم أن الحادثة تلخصت في كدة إن إحنا عرفناه ساعة ما كان بيكسر لينا الخبز.. ساعة ما ناولهم انفتحت عينيهم فعرفاه وهو يكسر الخبز.. عرفاه وهو قائم من الأموات علشان كدة ادراكنا للقيامة من الأموات مرتبط ارتباط کامل بين أكلنا للخبز أي لجسد الرب ودمه.. وده اللي خلى الوحي الإلهي يقول لمعلمنا بولس الرسول: &#8220;إن كل مرة تأكلوا هذا الخبز وتشربوا من هذه الكاس تبشرون بموتي وتعترفون بقيامتي وتذكروني إلى أن أجيء&#8221;.</p>
<p>فالنقطة الأولى أن ادراك ربنا وفهمنا ليه متوقف على استنارة قلبنا وذهننا لتناول جسد ربنا ودمه وده مش موضوع غريب. يوم أنت لما تتناول بتحس إن إنت لك صلة بربنا ومعرفة. صحيح مش معرفة بالعقل. لكن بتحس إن أنت بقيت قريب منه وعارف بتحس إن قلبك انفتح وعينيك انفتحت.. وأنت بتأكل الخبز بتحس إن أنت بتشارك المسيح في القيامة بتاعته.</p>
<p>زي ما قلت لك كمان إن الكنيسة ربطت بين القيامة والتناول فقالت بما أن القيامة كانت يوم الأحد فنخلي التناول كمان يكون يوم الأحد، وبما أن القيامة كانت فجر الأحد.. فقداس يوم الأحد ده طبعا إحنا بنأخره دلوقتي إنما هو مفروض يطلع مع فجر الأحد.. ولو تأخدوا بالكم من قداس القيامة.. مفروض يبتدي الصلاة فيه بعد ۱۲ بالليل.. مش يطلع ۱۲ بالليل. لأن هو الظهور كان في فجر الأحد.</p>
<p>يقول سفر الأعمال: &#8220;إنهم بينما كانوا مجتمعين لكسر الخبز في أول الأسبوع&#8221;.. &#8220;وفي أول الأسبوع إذ كان التلاميذ مجتمعين لكسر الخبز&#8221; . فكان كسر الخبز بيتم الأحد اللي هو يوم القيامة .</p>
<p>من الحاجات اللطيفة أن ليلة عيد القيامة بنقرأ الإنجيل بتاع القيامة.. ونقرأ المزمور، والمزمور بيقول كدة: &#8220;هذا هو اليوم الذي صنعه الرب&#8221;.. اللي هو يوم الرب يعني.. فلنفرح ولنبتهج فيه. فالمزمور ده، إحنا بنقوله بعد ابونا ما ياخد الحمل.. ويعمل به دورة حوالين المذبح فالشعب بيرد: &#8220;هذا هو اليوم الذي صنعه الرب&#8221; إحنا ما بنقولش المزمور ده بس غير ليلة عيد القيامة ويوم الأحد.. يعني في أيام الأسبوع التانية كلها بنقول مزمور تاني غير كدة وده يوري لك إن الكنيسة فهمت أن هذا هو اليوم الذي صنعه الرب فلنفرح ونبتهج فيه اللي هو يوم القيامة.. هو بعينه يوم الأحد، بدليل إن المزمور ده اللى بيتقري ليلة العيد هو لازم يتقري كل يوم أحد.. واللي يأخذ باله أكثر في قراءات الكنيسة في باكر، اللى بيجي الكنيسة بدري.. احنا بنرفع بخور باكر وبنقرأ الإنجيل أغلب أيام الآحاد على مدار السنة بيتقري الأنجيل بتاع المريمات لما راحوا يزوروا القبر في يوم الأحد.</p>
<p>ففي ربط كبير خالص إن يوم الرب ده يوم التناول من جسد ربنا ودمه. وبنفس الطريقة اللي كان التلاميذ بيبقوا منتظرين مجئ الرب. لأنه كان بيدخل والأبواب مغلقة في العلية أول الأسبوع لما دخل علشان خاطر توما كانوا في أول الأسبوع في اليوم الأحد. ولما دخل عيد القيامة كان يوم الأحد. وغالبا كانت ظهورات ربنا أيضاً يوم الأحد. فالكنيسة قالت كمان إن القداس يتعمل يوم الأحد.. زمان كان القداس بيتعمل بس يوم الأحد.</p>
<p>أيضا الكنيسة اعتبرت إن الحياة.. هي أن ترتبط بالمسيح لأن المسيح قال &#8220;اثبتوا فيّ&#8221;.. فالغصن اللى مش ثابت في الأصل مش ممكن يجيب ثمر.. ازاي نثبت في المسيح؟ قال &#8220;نأكل جسده&#8221;.. نأكل جسده فده يثبتنا في المسيح.. فده معنى الحياة. لو أنت تشوف غصن شجرة كدة تقول الغصن ده حي ولا ميت يقولوا شوفه ثابت؟.. قال: &#8220;إن كنتم تأكلوا جسدی تثبتوا في وأنا أثبت فيكم&#8221;.</p>
<p>حاجة تانية أنت بتحس بيها وأنت بتتناول جسد المسيح ودمه إن سبب الموت الخطية، سبب الموت يعني اللي يعمل خطية.. أجرة الخطية موت، طيب ودم المسيح وجسده ده.. أبونا وهو بيقول الاعتراف الأخير بيقول إيه &#8220;يُعطى لمغفرة الخطايا &#8221; فيبقى اللي بيأكل جسد المسيح ودمه بتتغفرله خطيته.. بتتغفر له خطيته يعني بيتشال الموت منه.. يتشال الموت منه يعني بيتمتع بالقيامة .</p>
<p>فيه ارتباط بين القيامة وبين غفران الخطية لأنه لو كان فيه خطية ما يبقاش فيه قيامة.. لكن بما أن جسد ودم المسيح يُعطى لمغفرة الخطايا، ده يوهب لينا القيامة فعلاً. أكثر من هذا أن المسيح قال &#8220;إن من يأكلني يحيا إلى الأبد وأنا أقيمه في اليوم الأخير&#8221;. يعني اللي يأكلني هنا مايغلبوش الموت وفي نفس الوقت كمان لما يموت الموت الجسدي هذا التناول كفيل إن هو يعطيه قيامة ويدخله ملكوت السماء &#8220;وأنا أقيمه في اليوم الأخير&#8221; يعني مش بس إنه هو يعطي حياة لينا هنا، ولكن أيضًا اللى يأكله يقيمه ربنا في اليوم الأخير. فأصبح التناول هو عربون الحياة الأبدية.</p>
<p>القيامة في الواقع لها ارتباط كبير جداً بسر التناول، فالكنيسة في قرونها الأولى كانت بتنصّر الناس وتدخلهم في الإيمان «اسمهم الموعوظين» تقول نعمل لهم إمتی وننصرهم امتى؟ قالوا ليلة عيد القيامة. لأن الناس قاموا من الأموات لما اتعمدوا اتدفنوا وقاموا يبقى يستحقوا يأكلوا جسد القيامة.. فيتزفوا في زفة القيامة.. طيب أنا بأقول بالنسبة لينا ككنيسة حاليًا لما بنعمل زفة القيامة دي على طول تفكرك بالتناول لأن أنت تقول المسيح قام من الأموات بالموت داس الموت. علشان تترجم الكلام ده كلام عملي في حياتك الشخصية يبقى المسيح مات زي ما كنت بأقول. دی مش تمثيلية وقام زي ما مكتوبة في بعض الكتب: تمثيلية القيامة. لا.. المسيح مات عن خطايانا وقام. فكل واحد داخل الكنيسة.. داخل الكنيسة ليه؟ قال علشان أسمع وعظة.. لا.. داخل الكنيسة علشان تايب فميت عن خطيته. وقايم مع المسيح. علشان يأخذ الجسد اللي هايغفر له خطيته. الجسد والدم ويعطيه حياة، فإذا إحنا بنرتل وبنقول المسيح قام من الأموات. دي ترتيلة الناس المستعدة للتناول.</p>
<p>زمان كانت ترنيمة الناس المتنصرين علشان يحضروا عيد القيامة. النهاردة دی ترنيمة النفوس التائبة اللي جاية علشان تأكل جسد الرب ودمه. تتصوربقى منظر الكنيسة كلها وإحنا بنزف أيقونة القيامة مش نبص للصورة إن المسيح قام بس لكن ده فيَّ وفيك وفي كل واحد. أنت بتصرخ من قلبك وتقول المسيح قام من الأموات بالموت داس الموت.. يعني إيه داس الموت في حياتك؟ يعني أنا آكل جسد المسيح ودمه وده لمغفرة الخطايا، يبقى داس الموت. فأصبحت الكنيسة كلها بترنم ترنيمة حلوة واحدة وتغني أغنية واحدة هي أغنية القيامة. فالزفة دية هي زفة المتناولين.. زفة المتناولين زي ما نجيب عيل صغير وينصرُّوه ويناولوه بعدين يزفوه. فدي زفة الكنيسة كلها اللي ها تشترك في جسد ربنا ودمه.</p>
<p>من هنا يا أحبائی تقدروا تعملوا تقرير نهائي كده إن المسيح قام مرة واحدة وترك للكنيسة القيامة على المذبح. علشان كدة لما قال لمرثا &#8220;أنا هو القيامة&#8221; زي ما قال &#8220;أنا هو خبز الحياة&#8221;.. دي هي دي، لأن &#8220;أنا&#8221; هي واحدة. &#8220;أنا&#8221; هو القيامة.. و&#8221;أنا&#8221; هو خبز الحياة من يأكلني يحيا إلى الأبد. فعاوز يقول لمرثا بس إنت مش ها تفهمي دلوقت لكن ها تفهمي من خلال الكنيسة فيما بعد .</p>
<p>&#8220;أنا هو خبز الحياة الذي يأكلني يعيش القيامة&#8221; فأصبحت القيامة فيه. يسألوك المسيح ده قام؟.. قال لهم كل مرة بنروح الكنيسة بنأكل القيامة. واحنا عندنا في ايماننا المسيحي أن المفاهيم المعنوية دية في ذهن الناس احنا بنأكلها وبنعيشها.</p>
<p>فرق بين المسيحي وغير المسيحي أنه بيعيش. أي واحد بره يتكلم عن القيامة.. لكن أنا بأعيش القيامة لأني بأكل القيامة نفسيها.. أنا بأعيش الحياة لأن الجسد اللى باكله جسد حي.. أنا بأعيش القداسة لأن مش أنا قديس.. لأن دم يسوع المسيح يطهر من كل خطية.. فبأشرب دمه فأنا باكل القيامة.. علشان كدة معلمنا بولس الرسول أكد وقال كلما أكلتم من هذا الخبز.. فيه فترة أنا هاسيبكم فيها من يوم ما هاصعد للسماء لغاية لما آجي مرة ثانية على السحاب.. في الفترة دي إلى أن آجئ تاكلوا من هذا الخبز وتبشروا بموتي في حياتكم وتموتوا عن العالم، وتبشروا بقيامتي وتذكروني إلى أن آجئ.. فلغاية لما آجي دي تَنَّها قيامتكم علشان كدة واحنا بنقول أوشية الإنجيل [لأنك أنت حياتنا كلنا، وخلاصنا كلنا، وشفاؤنا كلنا، وقيامتنا كلنا].</p>
<p>قد إيه الكنيسة واعية جداً إن هي عاشت العشرين قرن دول ما غيرتش أبداً إيمانها العميق اللي استلمته من ربنا يسوع المسيح.. لأن بولس الرسول ما قالش حاجة.. بولس علم تعاليم كثيرة جداً لكن في رسالته لكورنثوس الأولى اصحاح ۱۰ يقول &#8220;لأني تسلمت من الرب ما سلمتكم لأن هو في اليوم الأخير أخذ خبزاً وشكر وكسر وقال خذوا كلوا هذا جسدي&#8221;.</p>
<p>يبقي واضح إن بولس الرسول ما استلمش سر التناول من الرسل من بطرس ولا من يعقوب ولا من يوحنا لكن تسلم من الرب &#8220;لأني تسلمت من الرب ما سلمتكم&#8221; إنه في الليلة الأخيرة أخذ خبزاً وكسر وشکر وقال: &#8220;خذوا كلوا هذا هو جسدي&#8221; وأفرد ليه في رسالته لكورنثوس اصحاحين يتكلم فيهم عن سرالتناول.. وإزاي يكون باستحقاق. وإزاي الناس يكونوا مستعدين علشان ما ياخدوش دينونة.</p>
<p>وأصبح النهاردة لو جيت للحقيقة.. لو شلت سر التناول ده من الكنيسة بیقی ما فیش حياة.. لكن إحنا كلنا لما نصارح بعض، إحنا كلنا جايين للمسيح ليه؟ لأننا بنأكل جسده وبنشرب دمه. ودي أكلة أولاد ربنا. إحنا لما اتعمدنا قلنا إحنا مولودين من فوق. ولما بنصلى بنقول &#8220;أبانا الذي في السموات&#8221;. ولما بيأكِّلنا هو بيأكِّلنا أكلة.. أكلة من عنده هو.. بيأكِّلنا جسده ودمه.. بيعطينا كل ما ليه.. بيعطينا الحياة. جيت لكي يكون لكم حياة.</p>
<p>آخر حاجة بقى إن التلاميذ لما أتكلم الكلام ده، انصرفوا من وراه [لأن أي واحد يؤمن بالمسيح اسمه تلميذ].. الحديث عن التناول ده كان بعدما أكَّل الخمسة آلاف. بيبص وراه ما لاقاش من الخمسة آلاف حد.. طيب التلاميذ اللي ماشيين وراء المسيح.. الكل مشي وسابه.. بيبص.. عدّهم بالعدد ال ١٢ فاضلين قال لهم &#8220;بس إنتم فاضلين&#8221;؟!! قالوا له: آه أصل الكلام ده صعب، ما حدش قدر يقبله أبداً. قال لهم: وأنا مُصِّر على هذا الصعب .</p>
<p>حاجة عجيبة جداً لما يجي المسيح يتكلم عن الحياة اللي بيقدمها للناس نقول له: &#8220;ده صعب ما هو كدة البني آدم.. مش فاهم مصلحته، لما يقولوا له إن الله جه ونزل وتجسد وأخذ جسد إنسان علشان خلاصك يا إنسان.. يقول لك لا مش معقول الحكاية دي.. دي ما تخشش العقل.. ولو يقولوا: إن الله أتولد من أجلنا من بطن عذراء.. يقول لا برضه مش معقول.. لما يقولوا بقى أن الله الأعظم حاجة ومات من أجلنا على الصليب وأتصلب وفدانا بدمه يقول: آهي دي بقى اللي لا يمكن تدخل العقل.. لما يقول لهم هاديكم جسدي علشان تعيشوا وتثبتوا فيَّ.. يقولوا له هذاالكلام صعب ما عدناش ماشيين وراك خالص .</p>
<p>فبص للتلاميذ وقال وأنا مُصِّر على هذا الكلام.. أتريدون أنتم أيضا أن تمضوا؟.. فقالوا إلى من نمضي وكلام الحياة الأبدية هو عندك. ولإلهنا المجد دائمًا أبديًا آمین.</p>
<p><strong> </strong></p>
<h4>القدَّاس الإلهي والملكوت – للدكتور نصحي عبد الشهيد<a href="#_ftn8" name="_ftnref8">[8]</a></h4>
<p>القداس الإلهي هو صورة للأزمنة الاخيرة = الاسخاتولوجية، أو بمعنى آخر القداس هو مجيء ملكوت الله الآتي في الزمان الحاضر.</p>
<p>وصلاة الشكر الختامية بعد التناول تكشف لنا هذا بوضوح إذ يقول الكاهن &#8220;&#8230;ما لم تره عين ولم تسمع به أذن ولم يخطرعلى قلب بشر ما أعددته يا الله لمحبي أسمك القدوس&#8221; هذا أعلنته يعني أن ملكوت الله الآتي قد أعلنه الله لنا بتناولنا من أسراره غير المائتة.</p>
<ul>
<li>من الضروري جدًا التأكيد على العلاقة الوثيقة بين سر الشكر الالهي وبين ملكوت الله .</li>
</ul>
<p><strong>١- شهادة الكتاب المقدس:</strong></p>
<ul>
<li>وصف العشاء الأخير في الأناجيل يتجه بنا نحو ملكوت الله .</li>
</ul>
<p>أنظر رواية العشاء الأخير بحسب انجيل القديس لوقا حيث يقول للأثنى عشر &#8220;وأنا أجعل لكم كما جعل لي أبي ملكوتًا لتأكلوا وتشربوا على مائدتي في ملكوتي وتجلسوا على عروش تدينون أسباط إسرائيل الأثنى عشر&#8221; (لو٢٢: ٢٩، ٣٠).</p>
<p>فكأن اشتراك الاثنى عشر في العشاء إيذان بظهور إسرائيل الجديد .</p>
<p>وهكذا فالعشاء الأخير أخرويًا مرتبطًا وثيقًا جدًا بملكوت الله، لهذا السبب يشير المسيح أثناء العشاء الأخير صراحة الى الملكوت وبشعور متدفق جدًا إذ يقول: شهوة اشتهيت أن آكل هذا الفصح معكم قبل أن أتألم.. حتى يكمل في ملكوت الله.. لا أشرب من نتاج الكرمة حتى يأتي ملكوت الله&#8221; (لو٢٢: ١٥، ١٦، ١٨) &#8211; (وما يقابلها في مت٢٦: ١٩، مر١٤: ٢٥).</p>
<ul>
<li>&#8211; وفي هذا السياق &#8211; سياق الطابع الأخروي الواضح والقوي لسر الشكر الإلهي في الأناجيل &#8211; فإن وصية المسيح للتلاميذ &#8220;اصنعوا هذا لذكري&#8221; لا يمكن أن تكون غير مرتبطة بملكوت الله، فكما سبق أن لاحظ لاهوتيو الكتاب (علماء الكتاب) المشهورين مثل يواقيم جيرمياس Jermias وآخرين أن &#8220;الذكر&#8221; الذي يتحدث عنه الرب، إنما يقصد به ذكر المسيح أمام عرش الله في الملكوت الآتي. وبكلمات أخرى فالتذكار الإفخارستي هو في الحقيقه تذكار وايذان، بل تذوق مسبقً، وعطية مسبقة لملكوت المسيح المستقبل (الآتي). وهكذا فإن التذكار في العشاء الأخير &#8211; والقداس الإلهي بالتالي &#8211; هو تذكار &#8220;ليس فقط لأحداث ماضية بل هو تذكار &#8220;أيضًا لأحداث مستقبلة، أي ملكوت الله كاكتمال وتحقيق لكل تاريخ الخلاص .</li>
<li>وهناك نقطة أخرى ذات أهمية كبيرة في تأكيد الطابع الأخروي لسر الشكر وهي حقيقة أن جذور سر الشكر لا توجد تاريخياً فقط في العشاء الأخير، بل أيضًا في ظهورات المسيح خلال الأربعين يومًا بعد قيامته. ففي أثناء هذه الظهورات نجد نجد المسيح يكسر الخبز ويأكل مع تلاميذه كما ورد في ( لو ٢٤)، وفي (يو ٢١)، كما أن (أع ١: ٤). يشير في بعض المخطوطات إلى أن المسيح أوصى التلاميذ ألا يبرحوا من أورشليم بينما هو يأكل معهم خلال الأربعين يومًا، وكان يتحدث معهم عن أمور ملكوت الله، فالجو السائد في هذه الولائم بعد قيامة الرب هو جو الفرح إذ أن القيامة أظهرت انتصار الله على أعدائه الذي هو بداية ملكوت المسيح في التاريخ (على الأرض) لذلك فليس مصادفة أن يؤكد القديس لوقا في سفر الأعمال أن الكنيسة الأولى كانت تحتفل بسر الشكر بابتهاج القلب والبساطة (أع ٢: ٤٦) فالقيامة وظهورالمسيح هي التي تستوجب بالحري مثل هذا الجو الهاديً بالفرح .</li>
<li>وهذا التوجه الأخروي لسر الشكر واضح أيضًا ممارسة الجماعات الافخارستية في العصر الرسولي. إذ أن عبارة &#8220;ماران آثا&#8221; (١كو١٦: ٢٢) التي هي بدون شك عبارة ليتورجية إفخارستية، هي أخروية في محتواها لأنها تعني المعاني الآتية: الرب آتي، والرب قريب، أو الرب آت أي سيأتي في المستقبل، أو يأتي في الحاضر. وحينما يردد الرسول بولس كلمات الرب الافخارستية في (١كو٢٣- ٢٦) فإنه يضيف عبارة: تخبرون بموت الرب إلى أن يجيء. وهذه نقطة حاسمة في إيضاح اتجاه القداس وسر الشكر نحو مجيء الرب الثاني واستعلان ملكوت الله الكامل (الإستعلان الكامل لملكوت الله) والذي نذكره ونخبر به كلما أكلنا وشربنا من جسد الرب ودمه، وهذا ما صارت الكنيسة تمارسه في صلاة القداس، ويتضح بنوع خاص من صلاة الكاهن التي تسبق صلاة استدعاء الروح القدس التي يقول فيها الكاهن: &#8220;ففيما نحن أيضًا نصنع ذكر آلامه&#8230; وقيامته.. وصعوده.. وجلوسه&#8230; وظهوره الثاني الآتي من السموات.. نقرب لك قرابينك من الذي لك &#8220;هذا الانتظار الحار لزمن النهاية لا ينبغي أن يغيب عن شعورنا في ممارستنا للقداس الالهي، لأنه كما سمعنا من المسيح نفسه أن اكتمال هذا السر سيكون في ملكوت الآب أي عند مجيئه الثاني بالمجد العظيم، فنحن في القداس الالهي نتمتع بصورة ما سيكون في ملكوت المسيح عند ظهوره المجيد ونتطلع إلى اكتمال الصورة بظهورالحقيقة كاملة عند مجيء الرب.</li>
<li>وهناك نص آخر في العهد الجديد له اهمية كبرى في القداس الالهي، وهو الصلاة الرابانية التي تشكل قلب الليتورجيا الارثوذكسية، كما أنها على إفواه المؤمنين دائمًا في اطار القداس كما في خارجه أيضًا، وهذه الصلاة ينبغي أن تذكرنا بقوة بإنتظار مجيء الرب وملكوته في هاتين الطلبتين:</li>
<li>ليأت ملكوتك ،</li>
<li>خبزنا الآتي اعطنا اليوم .</li>
<li><strong>شهاده صلوات القداس</strong><strong> :</strong></li>
</ul>
<p>إن الافخارستيا كصورة لملكوت الله قد وُصفت منذ وقت مبكر جدًا في الكنيسة على أنها اجتماع في مكان واحد (synaxis) وهذا يشير إليه بولس جينما يقول: &#8220;فحين تجتمعون معًا (في مكلن واحد) أليس هو لأجل عشاء الرب&#8221; (١كو١١: ٢٠- ٢٣).</p>
<ul>
<li>ويعطينا كتاب &#8220;الديداكي&#8221; (وهو يرجع إلى نهاية القرن الأول واسم الكتاب &#8220;تعليم الرب للأمم بواسطة الرسل الأثنى عشر) يعطينا هذا الكتاب القديم جدًا أوضح وصف للأ فخارستيا كصورة للإ جتماع الأخروي (أي الإجتماع في الملكوت الآتي) لأبناء الله المتفرقين أي الكنيسة، إذ يقول &#8220;الديداكي&#8221;: &#8220;كما أن هذا الخبز المكسور كان متناثراً فوق الجبال وقد جمع معاً فصار واحدًا، هكذا أجعل كنيستك تجتمع معًا من أطراف الأرض كلها إلى ملكوتك&#8221; (ديداكي ٩: ٤). هذا هو الإحساس الأخروي القوي من جهة الإجتماع الإفخارستي كما كان في القرن الأول. ويستمر هذا الشعور واضحًا في رسائل القديس أغناطيوس الأنطاكي. واستمر هذا الاحساس الأخروي من جهة الإجتماع الإفخارستي قروناً طويلة، ولكنه كان يخبو في فترات التدهور الروحي للكنيسة وخاصة في الغرب التي صار ممكنا فيها أن يتم عمل القداس دون حضور أحد من الشعب، ولكن الكنيسة الارثوذكسية في قوانينها الليتورجية تمنع إقامة القداس بدون حضور وتناول بعض أفراد الشعب (اثنين أو ثلاثة على الأقل). لأن روح الكنيسة الأرثوذكسية أصلًا من جهة القداس تنبع من الشعور بارتباط اجتماع الإفخارستيا باجتماع المؤمنين ابناء الله المتفرقين، إلى الواحد المسيح الذي سننتهي جميعًا اليه كما يقول الرسول بولس في (افسس ٤: ١٣) &#8220;الذي سنجتمع معه يوم مجيئه&#8221;.</li>
<li>وهذه الفكره نجدها في صلاة القداس الباسيلي في صورة حقيقة الكنيسة كشعب جمعه الله إذ يقول الكاهن الصلاة التي تبدأ بعبارة: [تجسد وتأنس وعلمنا طرق الخلاص وجعلنا له شعبًا مجتمعًا] .</li>
</ul>
<p>أما في القداس الغريغوريوي فيذكر في القسمة فكرة الشعب المجتمع في صورة طلبة يسأل الكاهن أن يحققها إذ يقول: [واصنعنا لك شعبًا مجتمعًا مملكة وكهنوتاً وأمة مقدسة].</p>
<p>فاختلاف صورة الاشارة إلى الشعب المجتمع في القداس الباسيلي عنها في قسمة الغرريغوري يوضح هذه الفكرة أن اجتماع الإفخارستيا الذي يحدث الآن في القداس كحقيقة واقعة إنما هو صورة للإجتماع النهائي في ملكوت الله لشعب مجتمع مع المسيح يوم مجيئه كما تشير طلبة قداس الغريغوي أن يصنعنا له شعبًا مجتمعًا. وهذه الطلبه قرب نهاية القداس .</p>
<ul>
<li>نحن نجتمع في الكنيسة في صلاة القداس لنظهر أمام الله ونشهد أمامه وأمام العالم عن سر ملكوت الله الذي قد &#8220;أتى بقوة&#8221;، لأن المسيح سيكون فينا، ونحن فيه، بحلول الروح القدس وسكناه فينا، الذي هو عربون الملكوت الآتي .</li>
</ul>
<p>هذا يعني أن كل هذه الأمور: أي اجتماع الجماعة (الكنيسة)، والصعود الى عرش الله، والاشتراك في وليمة الملكوت يتم في الروح القدس وبواسطته. يقول القديس ايريناوس الشهيد (اسقف ليون في القرن الثاني): [حيثما تكون الكنيسة فهناك الروح وهناك ملء النعمة] (ضد الهرطقات ٣: ٢٤، ١). هذه الكلمات محفور فيها اختبار الكنيسة باعتبارها سرالروح القدس، لأنه يتبع هذه الكلمات أنه حيث يكون الروح القدس فهناك تجديد الخليقة، هناك نجد &#8220;بداية حياة أخرى جديدة أبدية&#8221; هي فجر يوم الملكوت،اليوم السري، الذي لا يخبو نوره وبكلمات أخرى، فحيث الروح القدس هناك ملكوت الله. كل شيء في الكنيسة هو في الروح القدس. والروح القدس يرفعنا إلى الأقداس السماوية، إلى عرش الله .</p>
<ul>
<li>إن غاية الإجتماع الإفخاريستي في القداس الالهي واكتمال هذا الإجتماع هو دخول الكنيسة الكامل على مائدة المسيح في ملكوته. هذه &#8220;الغاية&#8221; تظهر أيضًا وحدة الإفخارستيا ونظامها وجوهرها كحركة وصعود إلى فوق، كسرملكوت الله .</li>
</ul>
<p>فصلاة القداس الإلهي والتقدمة التي فيه كلها متجة الى فوق الى الأقداس. وهذا الإتجاه والتحرك في الصلاة نحوالأقداس نجد أساسه في الرسالة إلى العبرانيين عندما يقول الرسول بولس: &#8220;فاذ لنا أيها اللأخوة ثقة بالدخول إلى الأقداس بدم يسوع، طريقًا كرسه لنا حديثًا حيًا بالحجاب أي جسده. وكاهن عظيم على بيت الله لنقدم بقلب صادق&#8230;&#8221; (عب١٠: ١٩- ٢٢). فالكنيسة في القداس الإلهي تتقدم وراء المسيح إلى الأقداس السماوية. وهو كاهنها العظيم الذي باسمه تقدم عبادتها وصلواتها وتقدماتها.</p>
<p>ونجد في صلوات القداس الالهي أمثلة كثيرة تبين اتجاه صلاة القداس نحو الأقداس. والتعبير عن التقدمة المقدمة على انه صعيدة أي ترفع إلى فوق أمام الله ُلتقبل على المذبح المقدس السمائي. بل إن القداس نفسه يسمى في الخولاجيات القديمة &#8220;بالأنافورا&#8221; وهي كلمة يونانية تعني صلاة الصعيدة أو صلاة الرفع إلى فوق.</p>
<p>ومن أمثلة هذه الصلوات ما يلي :</p>
<ul>
<li>صلاة بعد الاستعداد:</li>
</ul>
<p>يقول الكاهن: &#8230;. اجعلنا مستوجبين بقوة روحك القدس أن نكمل هذه الخدمة لكي بغير وقوع في دينونة أمام مجدك العظيم نقدم لك صعيدة البركة مجدًا وعظم بهاء في قدس الله السماوي (مجدًا وعظمة بهاء قدسك).</p>
<ul>
<li>أوشيه القرابين:</li>
</ul>
<p>يقول الكاهن: &#8220;&#8230;أذكر يا رب صعائد وقرابين وشكر الذين يقربون&#8230; اقبلها اليك على مذبحك المقدس الناطق السمائي رائحة بخورتدخل في عظمتك التي في السموات&#8230;&#8221;</p>
<p>وواضح من هذه الصلاة أن القرابين المقدمة في القداس تقبل على المذبح السمائي. وكلمة &#8220;الناطق&#8221; كصفة للمذبح تعني العقلي .</p>
<ul>
<li>في سر بخور البولس:</li>
</ul>
<p>يقول الكاهن: &#8220;&#8230;. وامنحنا أن نقدم أمامك ذبائح ناطقة وصعائد بركة وبخوراً روحانياً يدخل إلى الحجاب في موضع قدس أقداسك&#8221;</p>
<p>ويتضح من هذه الصلاة أن المؤمنين يقدمون أنفسهم أمام الله كذبائح. وهذا ماتعنيه &#8220;كلمة ناطقة&#8221; أي عاقلة. فالذبائح العاقلة هم البشر الذين لهم عقول يقدمون بها عبادة عقيلة كما يقول بولس الرسول في (رو١٢: ١).</p>
<p>كما توضح هذه الصلاة أن القرابين هي صعائد بركة أي ترفع إلى فوق كما تقول الصلاة: &#8220;لتدخل بخورًا روحيًا إلى موضع قدس الأقداس السمائي&#8221;.</p>
<ul>
<li>في سر الإنجيل:</li>
</ul>
<p>يقول الكاهن: &#8220;&#8230; اقبل ابتهالاتنا وتوبتنا واعترافنا على مذبحك المقدس غير الدنس السمائي&#8221;.</p>
<p>وهكذا كثير من صلوات القداس توضح هذا الاتجاه إلى فوق أي أقداس الله في السماء وقبول الصلاة والقرابين على المذبح السمائي.</p>
<ul>
<li>كما نلاحظ أنه بعد صلاة الصلح ورفع الابروسفارين &#8211; الذي يشير الى رفع الحجر من على قبر المسيح أي الى القيامة وصعود المسيح الى السماء &#8211; إنه من بعد هذا في القداس تتجه الكنيسة وراء المسيح الصاعد الى عرش الله وتكون الخدمة والعبادة فوق في السماء.. لذلك ينبه الكاهن الشعب عند هذه النقطة بالقول &#8220;أين هي قلوبكم؟&#8221; أو &#8220;ارفعوا قلوبكم&#8221; فيرد الشعب &#8220;هي عند الرب&#8221;، أي عند المسيح في عرش الله السمائي. وهكذا تستمر صلاة القداس في ارتباط مع السماء والملكوت غير المنظور .</li>
</ul>
<p>فتشترك الكنيسة مع الملائكة في تسبحة الشاروبيم: &#8220;الشاروبيم يسجدون لك والسرافيم يمجدونك&#8230;&#8221; وهكذا يسيرالقداس الالهي مرتبطًا بالملكوت في كل مراحله .</p>
<p>ولكننا نذكر نقطتين أيضا فيهما الإرتباط بالملكوت قبل نهاية القداس.</p>
<ul>
<li>&#8220;وأدخلنا إلى ملكوتك&#8221; فبعد صلاة المجمع الذي تكون فيه الكنيسة في شركة مع أرواح القديسين المنتقلين إلى فردوس النعيم، يطلب الكاهن من أجلنا نحن القائمين في صلاة القداس قائلاً: &#8220;وأهدنا إلى ملكوتك&#8230;&#8221; وهذه الطلبة في اللغة العربية &#8220;أهدنا&#8221; في الأصل القبطي تعني &#8220;أدخلنا إلى داخل ملكوتك&#8221; فكلمة &#8220;ايخون&#8221; تعني الداخل أو العمق، والتي منها اشتقت الكلمة الدارجة &#8220;الخن&#8221; اشارة إلى الجزء الداخلي. فالمقصود بالطلبة ليس أن يهدينا الله من الضلال ولكن أن يمسك بأيدينا طوال الطريق إلى أن يوصلنا إلى داخل ملكوته لكي نشترك في ميراث القديسين الذين سبقونا أي في ملكوت الله الأبدي.</li>
<li>&#8220;شركة وصعود أسراره الالهية&#8221;..</li>
</ul>
<p>في مقدمة القسمة في القداس الباسيلي بعد أن يشكر الكاهن الله على عطيته التي أهلنا لها بأن نصلي أمام أقداسه ونرفع أيدينا الى فوق&#8230; بعد ذلك يقول الكاهن: &#8220;هو أيضًا فلنسأله أن يجعلنا مستحقين لشركة وإصعاد أسراره الالهية غير المائتة&#8221;. أي أن يجعلنا مستحقين بواسطة الأفخارستيا والاشتراك فيها إلى الصعود معها إلى نور الملكوت وفرحه ونصرته .</p>
<ul>
<li>وفي الختام نعيد ذكر ما بدأنا به الحديث أنه بعد أن يتم التناول من الأسرار الإلهية &#8211; فإننا نكون بذلك قد نلنا عربون الملكوت الذي سيظهر كاملًا عند مجيء الرب يسوع من السماء. وهذا ما تعبر عنه الكنيسة في صلاه الشكر التي يقولها الكاهن بعد التناول وقبل صرف الشعب &#8220;فمنا امتلاً فرحًا ولساننا تهليلًا من جهة تناولنا من اسرارك غير المائته يا رب. لأن ما لم تره عين ولم تسمع به أذن ولم يخطر على قلب بشر ما أعددته يا الله لمحبي اسمك القدوس، هذا أعلنته للأطفال الصغار الذين لكنيستكً المقدسة&#8230; هذا هو اعلان ملكوت الله مرتبطاً بالقداس الإلهي.</li>
</ul>
<hr />
<p><a href="#_ftnref1" name="_ftn1">[1]</a>  كتاب المسيح في سر الإفخارستيا &#8211; صفحة ١٨١ &#8211; القمص تادرس يعقوب ملطي.</p>
<p><a href="#_ftnref2" name="_ftn2">[2]</a>  كتاب دراسة آبائية في سر الإفخارستيا &#8211; صفحة ١١١ &#8211; إعداد القس بولا رأفت عزيز &#8211; كنيسة السيدة العذراء والأنبا أثناسيوس الرسولي والأنبا بولا.</p>
<p><a href="#_ftnref3" name="_ftn3">[3]</a>  كتاب الحب الإلهي &#8211; صفحة ١٠٥٠ &#8211; القمص تادرس يعقوب ملطي.</p>
<p><a href="#_ftnref4" name="_ftn4">[4]</a>  كتاب المنجلية القبطية الأرثوذكسية &#8211; صفحة ٣٩٣ &#8211; البابا تواضروس الثاني.</p>
<p><a href="#_ftnref5" name="_ftn5">[5]</a>  موسوعة الأنبا غريغوريوس  &#8211; الجزء الأول &#8211; صفحة ٢٢ &#8211; إعداد الإكليريكي منير عطية.</p>
<p><a href="#_ftnref6" name="_ftn6">[6]</a>  كتاب بستان الروح &#8211; جزء أول &#8211; صفحة ١٠١ &#8211; الأنبا يؤانس أسقف الغربية.</p>
<p><a href="#_ftnref7" name="_ftn7">[7]</a>  كتاب عظات مضيئة معاشة &#8211; صفحة ٣٨٠ &#8211; إصدار مطرانية ملوي وأنصنا والأشمونين.</p>
<p><a href="#_ftnref8" name="_ftn8">[8]</a>  الكتاب الشهري للشباب والخدام &#8211; عدد نوفمبر لسنة ٢٠١١ &#8211; إصدار بيت التكريس لخدمة الكرازة.</p>

      {% endcreateArticleAccordions %}
    </section>
  {% endblock %}
  