---
layout: 'layouts/reading.html'
title: 'يوم السبت من الأسبوع الثاني للخمسين يوم المُقَدَّسَة'
permalink: pentecost/2-6.html
---
  {% block content %}
    <section id="readings">
      <ul>
      {% if 'undefined' != 'undefined' %}
      
      {% else %}
      {% if '19.42:8,11' != 'null' %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">العشية</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeVespers '19.42:8,11' '42.18:35-43' %}
          </div>
        </div>
      </li>
      {% endif %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">باكر</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeMatins '19.111:1-2' '43.5:37-47' '' %}
          </div>
        </div>
      </li>
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <h3 class="flex items-center justify-between">
            <span class="kufi">القداس</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </h3>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeLitugy '55.2:8-15' '62.2:21-25' '44.9:31-35' '19.107:20,22' '43.6:1-14' %}
          </div>
        </div>
      </li>

      {% endif %}
        </ul>
    </section>
    <section id="article">
      <h3 class="mt-8 mb-4 heading-explain">شرح القراءات</h3>
      {% createArticleAccordions %}
        <h3>اللَّه حياة الإنسان</h3>
<p>تتكلم قراءات اليوم عن <strong>عطايا وغنى حضور الله في الإنسان الذي يؤمن</strong> وفِي الكنيسة كمدخل لقراءات الأحد التي يُعْلِن فيها ابن الله ذاته خبز الحياة وغنى البشرية.</p>
<p></p>
<h4>المزامير</h4>
<p>لذلك تتكلم المزامير عن ← <strong>استعلانات حياة الله في الانسان</strong>، أي أن الإيمان هنا هو الإستجابة لمبادرة الحب الإلهي..</p>
<ul>
<li>فيعلن <strong>مزمور عشية</strong> ← <strong>غنى مراحم الله للانسان</strong> &#8220;بالنهار يأمر الرب برحمته وبالليل يظهرها&#8221; (مز٤١: ٨).</li>
<li>وفي <strong>مزمور باكر ←</strong> <strong>غنى مشيئة الله وتدبيره</strong> &#8220;عظيمة هي أعمال الرب ومشيئاته كلها مفحوصة&#8221;<br />
(مز١١٠: ١).</li>
<li>وفي <strong>مزمور القداس ←</strong> <strong>مجد خلاص الله للإنسان لأجل شفاؤه وفرحه</strong> &#8220;أرسل كلمته فشفاهم وخلصهم من فسادهم وليذبحوا له ذبيحة التسبيح&#8221; (مز١٠٦: ١٥، ١٦).</li>
<li><strong>الأنجيل</strong></li>
<li>وفي <strong>إنجيل عشية</strong> عن ← <strong>خلاص النفس من الظلمة، وتبعية المسيح</strong></li>
</ul>
<p>&#8220;فقال له يسوع: أبصر، إيمانك قد خلصك. فللوقته أبصر وتبعه وهو يمجد الله&#8221; (لو١٨: ٤٢، ٤٣).</p>
<ul>
<li>وفي <strong>انجيل باكر </strong>نرى ← <strong>حياة الإبن خلال كلمته المقدسة المحيية</strong> والتي بها ينال الانسان أيضاً معرفة الآب.</li>
</ul>
<p>&#8220;والآب الذي أرسلني هو الذي يشهد لي فما سمعتم صوته قط ولا رأيتم صورته وكلمته ليست ثابتة فيكم &#8230;. فتشوا الكتب التي تظنون أنتم أن فيها حياة أبدية وهي التي تشهد لي&#8221; (يو٥: ٣٧- ٣٩).</p>
<p></p>
<h4>البولس</h4>
<p>وفي البولس ← حياة الابن وخلاصه للمؤمنين خلال كرازة الكنيسة</p>
<p>&#8220;ولكن كلمة الرب لا تُقَيَّد ولهذا أنا أحتمل كل شئ بسبب المنتخبين لينالوا هم أيضاً الحياة التي بيسوع المسيح مع مجد أبدي&#8221; (٢تي٢: ٩- ١١).</p>
<p></p>
<h4>الكاثوليكون</h4>
<p>وفي الكاثوليكون نرى ← <strong>الحق الإلهي والمعرفة الًحقيقية للآب لا تأتي إلا بالأبن</strong> &#8220;لم أكتب اليكم لأنكم لا تعرفون الحق بل لأنكم به عارفون&#8230;. كل من ينكر الإبن ليس له الآب أيضاً. أما المعترف بالإبن فله الآب&#8221; (١يو٢: ٢١، ٢٣).</p>
<p></p>
<h4>الابركسيس</h4>
<p>وفي الابركسيس ← <strong>فعل الروح القدس في الكنيسة</strong> &#8220;أما الكنائس في كل اليهودية وكل السامرة والجليل فكان لها سلام وكانت تبنى وتسير في مخافة الرب وكانت تتكاثر بتعزية الروح القدس&#8221; (أع ٩: ٣١).</p>
<p></p>
<h4>إنجيل القداس</h4>
<ul>
<li>وفي إنجيل القداس ← <strong>غنى حضور ابن الله وسط شعبه وتسديده لكل إحتياجاتهم وملء البركة</strong> حتى في إحتياجات الجسد &#8220;فأخذ يسوع الخبز وشكر وأعطى المتكئين وكذلك من السمك أيضاً بقدر ما شاء لكل واحد فلما شبعوا قال لتلاميذه اجمعوا الكسر&#8221;.</li>
<li><strong>وتتلاقي قراءات إنجيل اليوم السبت بإنجيل قدّاس الغد الأحد:</strong></li>
<li><strong>فالأوَّل</strong> يعلن عن ← <strong>ابن الله الواهب الشبع للجموع وللكنيسة من أقل الإمكانيات</strong>،</li>
<li><strong>والثاني ←</strong> <strong>إبن الله يعلن ذاته للجموع أنه خبز الحياة والطريق الوحيد لمعرفة الآب</strong> حتى لأبسط النفوس.</li>
</ul>
<p></p>
<h3>ملخص الشرح</h3>
<ul>
<li>مراحم الله وتدبيره الصالح ومشيئته المقدسة سبب خلاص الانسان وشفاؤه وفرحه. (مزمور عشية، وباكر، والقداس).</li>
<li>خلاص النفس من ظلمة العالم وتبعية المسيح. (انجيل عشية).</li>
<li>حياة الإبن ومعرفة الآب خلال الكلمة المقدسة. (انجيل وباكر).</li>
<li>حياة الإبن وخلاصه للمؤمنين خلال كرازة الكنيسة.(البولس).</li>
</ul>
<p>❈ الحق الإلهي والمعرفة الحقيقية للآب لا تأتي إلا بالإبن. (الكاثوليكون).</p>
<ul>
<li>فعل الروح القدس وعمله في الكنيسة. (الإبركسيس).</li>
<li>غنى حضور ابن الله وسط شعبه. (انجيل القدَّاس).</li>
</ul>
<p></p>
<h3>عظات آبائية للسبت من الأسبوع الثاني للخمسين يوم المقدسة</h3>
<h4>معجزة إشباع الجموع.. القديس كيرلس الأسكندري<a href="#_ftn1" name="_ftnref1">[1]</a></h4>
<p><strong>(يو٦: ١٣،١٢)</strong> <strong>&#8220;فَلَمَّا شَبِعُوا، قَالَ لِتَلاَمِيذِهِ: اجْمَعُوا الْكِسَرَ الْفَاضِلَةَ لِكَيْ لاَ يَضِيعَ شَيْءٌ. فَجَمَعُوا وَمَلأُوا اثْنَتَيْ عَشْرَةَ قُفَّةً مِنَ الْكِسَرِ، مِنْ خَمْسَةِ أَرْغِفَةِ الشَّعِيرِ، الَّتِي فَضَلَتْ عَنِ الآكِلِينَ&#8221;.</strong></p>
<p>قد يبدو للبعض ان المسيح يهتم بتوفير الكسر، حتي انه أمر تلاميذه أن يجمعوها معاً. ومع هذا (فأنا أظن) أن كل انسان قد يتصور بشكل ملائم، أن المسيح لا يحتمل أن ينزل الى مثل هذه الدرجة من الدنو، ولماذا أقول المسيح، بل إن أحداً منا لن يفعل ذلك: لأنه ما المفترض أن تكونه تلك البقايا من خمسة أرغفة من الشعير؛ لكن الآية تتضمن تدبيراً عظيماً، وتجعل المعجزة واضحة للسامعين. لأنه ما أعظم تأثير السلطان الإلهي في هذا الأمر، من جهة أنه لم تكن الجموع فقط غفيرة، تلك التي شبعت من خمسة أرغفة شعير وسمكتين، بل إن إثنى عشر قفة مملوءة بالكسر، قد تم جمعها أيضاً هكذا فإن المعجزة تطرد شكاً آخر، وبجمع الكسر يتأكد الإيمان أنه كانت هناك وفرة من الطعام حقاً، وليس مجرد خداع نظر لعيون المشتركين في الوليمة أو الذين يخدمونهم. فما أعظم تلك الفائدة لنا وما أجدرها بالتأمل، أنظروا كيف أنه بواسطة هذه المعجزة، يجعلنا أوفر غيرة في اشتياقنا لممارسة الضيافة بفرح بالغ، ويدعونا بصراحة بواسطة الأشياء التي تمت، الي الإيقان أن الله لن يخيب من يسعد للتوزيع ويتهلل بمسلك المحبة الأخوية، ويتمم بإستعداد ما هو مكتوب &#8220;أن تكسر للجائع خبزك&#8221; (إش٧:٥٨). لأننا نجد أن التلاميذ في البداية كانو مترددين في فعل ذلك الأمر، لكن المخلص اذ رأى انهم يفكرون هكذا، وهبهم عدد وفيراً من الكسر: ويعلمنا نحن أيضاً أننا إذ ننفق قليلاً لأجل مجد الله، ننال نعمة أوفر حسب قول المسيح كيلاً جيداً ملبداً مهزوزاً فائضاً يعطون في أحضانكم&#8221; (لو٣٨:٦)، لهذا لا يجب أن نكون كسالى حيال شركة المحبة نحو الأخوة، بل نتقدم بالحري نحو العزم الصالح، ونترك عنا بقدر المستطاع الجبن والخوف الذي يدفعنا ألا نضيف الآخرين واذ نثبت في الرجاء بالإيمان بقوة الله لمضاعفة القليل أيضاً، لنفتح أحشائنا للمحتاجين، حسب أمر الناموس، لأن الله يقول &#8220;إفتح أحشاءك بسعة لأخيك المحتاج الذي معك&#8221; (انظر تث ١١:١٥). لأنه متى ستصير رحيماً، إن ظللت قاسياً في هذه الحياة؟ متى ستتمم الوصية إن كنت تبدو وقت القدرة على عملها منزلقاً الى التراخي؟.. تذكر المرنم وهو يقول &#8220;لأنه ليس في الموت ذكرك. في الهاوية من يحمدك؟&#8221; (مز٥:٦). لأنه أي ثمر يكون بعد ممن قد مات أو كيف لأي من الذين انحدروا الى الهاوية أن يذكر الله بتتميم وصاياه؟ &#8220;لأن الله قد أغلق عليه&#8221; كما هو مكتوب (أي٢٣:٣). لذلك فالحكيم جداً بولس يعلمنا أيضاً، إذ يكتب الى البعض حسبما لنا فرصة فلنعمل الخير (غل١٠:٦).</p>
<p>وسوف نذكر تلك الأشياء للمنفعة من خلال الرواية. لكن إذ أننا نعتبر ما قيل بمفهوم روحي «لأنه هكذا ينبغي علينا أن نفعل، وليس من سبيل آخر»، قلنا إن&#8221;خمسة أرغفة الشعير&#8221; إنما تشير الى كتاب موسى، وإنه بالسمكتين يشار الى كتابات الرسل القديسين الحكيمة: وفي رأيي، فإن جمع الكسر معاً يجعلنا ندرك مفهوماً ما سرياً وروحياً، يتفق مع ترتيب الأمور. فقد أمر المخلص أن يتكئ الجموع، وبعد أن شكر، وزع الخبز والسمك، أعني، بواسطة خدمة التلاميذ: ولكن بعد أن شبع الذين أكلوا بطريقة معجزية، أمرهم أن يجمعوا الكسر، حتى إمتلأت &#8220;اثنتي عشر قفة&#8221;. ويبدو وكأن &#8220;واحدة&#8221; لكل تلميذ، لأنه هكذا كان عددهم هم أيضاً. فما الذي يمكن إذاً أن نفهمه من ذلك، عدا بالتأكيد هذا الأمر، وأن نفهم حقاً أن المسيح هو رئيس أولئك الذين يؤمنون به، وأنه يطعم بالطعام الإلهي والسماوي أولئك الذين يأتون اليه؟ أي تعاليم الناموس والأنبياء والتعاليم الأنجيلية والرسولية لكنه لا يبدو هو نفسه أنه فاعل لتلك الأشياء، بل التلاميذ هم الذين يوصلون لنا النعمة التي من فوق لأنه مكتوب &#8220;لأن لستم أنتم المتكلمين بل روح أبيكم الذي يتكلم فيكم&#8221; (مت٢٠:١٠). لكن لن يكون عمل الرسل القديسين هنا بدون مكافأة، لأنهم إذ قد وزعوا علينا الطعام الروحاني، وكرزوا بخيرات مخلصنا، سوف ينالون أوفر مجازاة، وينعمون بملء نعمة سخاء الله. لهذا وليس لشئ آخر سواه، أظن، يكون معنى تجميع وملء قفة بواسطة كل &#8220;تلميذ&#8221; حسب أمر المسيح، بعد أتعابهم وخدمتهم التي قدموها لجمهور الآكلين. لكن ما من شك أن الأشياء التي حدثت معهم هي مثال سوف ينطبق بعدهم، على مدبري الكنائس المقدسة.</p>
<p></p>
<h4>الربط بين معجزة إشباع الجموع وبين الوليمة السماوية أي الإفخارستيا &#8211; القديس أمبروسيوس<a href="#_ftn2" name="_ftnref2">[2]</a></h4>
<p>ما هو السبب الذي جعل البشير يذكر موت يوحنا المعمدان، إذ يشير هيرودس إلى موته؟.. ربَّما لأن الإنجيل الذي يُشبع الشعوب الجائعة بدأ بانتهاء الناموس.</p>
<p>لقد قدَّم الغذاء بعد شفاء نازفة الدم رمز الكنيسة، وبعد إرساليَّة الرسل المُرسلين للكرازة بملكوت الله.</p>
<p>تأمَّل من هم الذين تمتَّعوا بالوليمة؟.. لم يتمتَّع بها الكسالى ولا الساكنون في المدينة كمن هم في المجمع ولا طالبو كرامات العالم، إنما يتمتَّع بها الباحثون عن المسيح في البرِّيَّة&#8230; هؤلاء يقبلهم المسيح، ويحدِّثهم لا عن العالم بل عن ملكوت السماوات. وإن كان من بينهم من غطَّت القروح جسده، يعطيهم الرب يسوع دواءه.</p>
<p>لقد دبَّر الله أن يُنقذ الذين شفاهم من جراحاتهم المؤلمة من الجوع، ويهبهم الغذاء الروحي، إذ لا يستطيع أحد أن يتمتَّع بالوليمة السماويَّة إن لم يُشفَ أولًا. المدعوُّون للوليمة تمتَّعوا بالشفاء أولًا. فمن كان أعرج نال القوَّة للمشي ليأتِ عند الرب، ومن كان قد حُرم من نور عينيه لم يدخل بيت الرب إلا بعد عودة البصر إليه. هكذا يسير الرب بتدبير حسن مقدَّس في كل حين، إذ يعطي أولًا غفران الخطايا ودواء للجراحات ثم يهيئ الوليمة السماويَّة&#8230;</p>
<p><strong>القلوب الجائعة للإيمان الراسخ لا تُشبَع إلا بجسد المسيح ودمه</strong><strong>.</strong></p>
<p></p>
<h3>عظات آباء وخدّام معاصرين <strong>للسبت الثاني من الخمسين يوم المقدسة</strong></h3>
<h4>أجمعوا الكسر &#8211; للمتنيح القمص تادرس البراموسي<a href="#_ftn3" name="_ftnref3">[3]</a></h4>
<p><strong>أجمعوا الكسر الفاضلة لكى لا يضيع منها شيء</strong><strong> (يو6: 12)</strong></p>
<p>عند كسر الخبز وتقديم الخمس خبزات للجموع المحتشدة حوله نظر إلى السماء فكسر وبارك ليعلمنا بذلك أننا أذا أكلنا نشكر الله واهب القوت.</p>
<p>وصلى لكى لا يقول عنه الحاضرون إنه يعظم نفسه أن لم يطلب من الأب فيجدفون عليه كما جدف آبائهم في البرية لما أكلوا المن النازل من السماء. لأجل ذلك شكر الآب وبارك. ثم إنه لم يكن محتاجاً إلى رفع نظره إلى السماء. وذلك حين تطهيره للبرص وشفائه للمجانين وفتح أعين العميان وإخراجه الشياطين كل هذه بسلطانه وحده.</p>
<p>إن الرب يسوع بتدبيره الألهي أمر تلاميذه أن يجمعوا الكسر الفاضلة بعد أن أكل الخمس آلاف وشبعوا. وكان من جملة التلاميذ الذين جمعوا الكسر وحملوها. تلميذه الخائن يهوذا الذى أسلمه لكى لا يظن الحاضرون أن الأعجوبة خيالية صنعت لخداع الناس. لكن إذا رأوا الفضلات يظنوا أنها تكفى ليوم ويومين الكسر التي فضلت ورآها الجميع ومجدوا الله على هذه النعم التي لم يروها من قبل.</p>
<p>نظر الشعب مذهولاً ومتعجب أثنتى عشر قفة مملؤه من خمس خبزات والآكلين خمسة آلاف دون النساء والأطفال. رأى الشعب الكسر الفاضلة أمام الرب يسوع وأمام الجموع والتلاميذ شهود وكثيرون ولم يكن فيها رغيف واحد صحيح مما يجعل الكل يؤمن أنها معجزة بكل المقاييس. ومن كثرة تعجب الشعب أرادوا أن يقيموا يسوع ملكاً عليهم لأنه أشبعهم بدون تعب.</p>
<p>إن الرب يسوع بانفراده في الجبل عن أعين الناس للصلاة يعلمنا ان نبعد عن المجد الباطل. وتعظيم الناس لنا وليتعلم بذلك رعاة الكنيسة وخدامها أنهم يحتاجون إلى الإختلاء من وقت لآخر للخلوة والإمتلاء.</p>
<p>ولكي يعلمنا أننا لو أردنا مناجاة البارى تبارك اسمه يجب علينا البعد عن الضوضاء. وما أجمل أن يختلى الإنسان في البرية كما فعل الرب يسوع له المجد وتلاميذه للاختلاء والتعزية لأن البرية سبب تعزية للجميع حتى في العهد القديم كان الأنبياء يمضون إلى البرية موسى إيليا وأليشع ويوحنا المعمدان حتى الرب مضى إلى البرية ليس للامتلاء كما فعل هؤلاء بل كما قال الكتاب لكى يجرب من إبليس. ولما جاع أخفى لاهوته على إبليس فجاء إليه لكى يجربه فما أعظم من أن نمضي إلى البرية شرط أن نترك هموم العالم وراء ظهورنا كي نحصل على الإمتلاء والتعزية لكن إن ذهبنا بهمومنا نحرم من البركات وننشغل بالعالميات وتبعد عنا التعزيات .</p>
<p>العظة الثانية لآباء معاصرون للسبت الثاني من الخمسين يوم المقدسة</p>
<p><strong>الخمس خبزات – </strong>للمتنيح القمص لوقا سيداروس<a href="#_ftn4" name="_ftnref4">[4]</a></p>
<p>اننى أتمثل أمامى الخبزات الخمس.. خبزات شعير صغيرة.. يحملها صبى صغير في منديل حقير.. وأتأملها والتلاميذ يحملونها ويضعونها أمام الرب يسوع..</p>
<p>إننى أتمثل هذه الخبزة وهى تقول للرب: ربي يسوع.. كم أنا تافهة وصغيرة.. أنا خبزة شعير.. أنا يا سيدي لا أنفع شيئاً.. الجموع حولي بلا عدد.. آلاف كثيرة جوعانة.. لهم ٣ أيام صائمين.. يكادوا يخوروا في الطريق من الجوع، ولكن من أنا يا سيدي لمثل هؤلاء الناس؟ إنني لا أستطيع أن أشبع واحداً فقط. إنني لو وزعت نفسي على الجموع سأصير فتاتاً بلا قيمة وسأسقط على الأرض مثل التراب.. إن إمكانياتي محدودة جداً، أنا عاجزة عن أن أشبع الناس.. أنا مصرورة  في منديل في حيز ضيق وفي يد صبي صغير.. أمسكني تلاميذك ورثوا لحالي.. وقالوا لك يا رب اصرف الجموع إلى القرى المحيطة والحقول ليجدوا ما يأكلونه.. ليس لى اعتبار ولا وجود في أعين الناس بدونك.</p>
<p>إن هذا الجمع الذي حولي لا يكفيه خبز بمائتي دينار ليأخذ كل واحد منهم شيئاً يسيراً. وأنا لا أساوي شيء بذاتي وليس لى ثمن بمفردي.</p>
<p>ولكن صوت يسوع ينادي قائلاً: &#8220;إئتوني بها إلى هنا&#8221; إنه يطلب بنفسه.. وهنا تقدم الخبزة ذاتها بفرح ليد الرب قائلة: استلم يارب ذاتي.. حقيقة إني تافهة وحقيرة ولكننى لست كذلك حينما أكون بين يديك. أنا بين يديك مباركة ومقدسة ونافعة للخدمة وقادرة على الإشباع وعلى أن يفضل مني أيضاً استلم يا رب خبزة شعيري وأنا خاضعة ومطيعة.. أقدم لك مشورة حريتي.. إقسمني وأنا راضية.. اجعلنى كُسراً وأنا مسرورة لأني بين يديك، وزعني على من تشاء ليحملني تلاميذك إلى كل يد وإلى كل فم.. أنا لك يا رب. أنا خبز الله.. وحينما حملني على يديه نظر إلى السماء وبارك.. يا للنعمة التي شملتني وأي شرف عظيم مثل هذا.. إنه يقدمني للآب تماماً مثل الذبيحة التي كانت تردد أمام الله ترديداً لا يوجد كسر للخبز في يدي يسوع بهذه النظرة نحو السماء. وهذه البركة التي لا يعرفها إلا الذين استودعوا حياتهم بين يدي الرب فبارك عليهم وأشبع بهم جموع كثيرة.. هكذا صنع الرب بالتلاميذ في يوم صعوده إلى السماء أخرجهم خارجاً إلى بيت عنيا ورفع يديه وباركهم تماماً مثل الخبزات وأشبع ليس خمسة آلاف فحسب بل العالم كله..</p>
<p>ربي يسوع كلما أقرأ إنجيل إشباع الجموع وحاجتك إلى الخمس خبزات الشعير رغم إنها صغيرة وغير كافية لشئ.. وكلما تبدوا الجموع أمامي جائعة إلى كسرة خبز.. اشتهي أن أكون خبزة بين يديك، اشتهي البذل والتضحية. ولكن كثيراً ما أعتذر البعض عن الخدمة بسبب الصغر مثل إرميا، أو بسبب ثقل اللسان مثل موسى. ولكن ما هي إمكانيات الإنسان بدون يديك يا رب.. إن القليل الذي في يد الرب يتحول إلى خير كثير كما أن القليل الذي في يد الصديق أفضل من ثروة أشرار كثيرين. فكم وكم إذا وضعت إمكانياتي مهما كانت صغيرة بين يديك.</p>
<p><strong>سر البركةً</strong></p>
<p>الآن علمت أن سر البركة كائن في كسر الذات مثل الخبز.. إن خدمتي ستظل صغيرة محبوسة طالما هي مصرورة في منديل أنانيتي إلى أن أوضع بين يدي يسوع.. بحياة التسليم الكامل للوصية.. وأكون مستعداً دائماً لبذل ذاتي من أجل أخوتي في برية هذا العالم.. هنا تصير البركة في حياتي وتنتهي إلى الأبد محبتي لذاتي، وتنكسر أنانيتي وتصير حياتي فعلاً خبزاً مكسوراً للجياع والمحرومين والمتألمين والمتضايقين.. ولكن طالما أعيش لذاتي بعيداً يدي الله فلن أتمتع بهذه البركة الحقيقة.</p>
<p>إن معجزة الخمس خبزات كشفت لنا مقدماً عن سر العشاء الأخير وسر الخبز الذي أخذه الرب على يديه الطاهرتين وباركه وقسمه وأعطى التلاميذ قائلاً: &#8220;خذوا كلوا هذا هو جسدى المكسور..&#8221; ولكن في هذه المرة يسوع يعطى نفسه ويوزع جسدة المكسور. &#8220;الخبز الذى نكسره أليس هو شركة جسد المسيح&#8221;.. هذا هو خبزنا الذي نتناوله بشكر من يد الرب على المذبح ونشبع به في برية هذا العالم.</p>
<p><strong>أكلوا وشبعوا </strong></p>
<p>أكل جميعهم وشبعوا ثم رفعوا ما فضل من الكسر اثنتي عشر قفة مملوءة. فالنعمة دائماً تفيض حتى بعد الشبع.. خبز الحياة ليس خبز الكفاف، ولكنه خبز للشبع وللفيض.. قال الرب للمرأة السامرية عن مياه الروح القدس: &#8220;إنها تفيض من البطن أنهار ماء حي&#8221;.</p>
<p>ولكن الكسر ملأت أيضاً أثنتي عشر قفة.. كل عمل النعمة لابد أن يكون إلى الملء.</p>
<p>هناك نفوس تنتظر الكسر التي تفضل عن الذين يشبعون.. توجد نفوس يفضل عنها الخبز، ونفوس تكاد تهلك جوعاً.. إذن أجمعوا الكسر.. وابحثوا عن نفوس تطلبها.</p>
<p>يا للإيمان المدهش الذى للمرأة الكنعانية.. إنها تسأل بإلحاح عن الفتات. ويا لتوبة الإبن الضال عندما افتكر في فضلات الخبز قائلاً: &#8220;كم من أجير عند أبي يفضل عنه الخبز، وأنا أهلك جوعاً&#8221;.</p>
<p><strong>إجمعوا الكسر </strong></p>
<p>قال الرب للتلاميذ &#8220;اجمعوا الكسر..&#8221; فالخبز المكسورغالي جداً في عينى الرب كل كسرة صغيرة حتى الفتات له قيمة.. لا يسقط منها شيء فهى محفوظة بأمره وكلمته.. هذا ما يعزي النفس جداً عندما تسلم نفسها لتكسر وتوزع وتخدم وتبذل من أجل الله.</p>
<p><strong>النفوس التي أسلمت ذاتها للرب لا يمكن أن يفقد منها شيء. </strong></p>
<p>&#8220;الذين أعطيتنى لم يهلك منهم أحد&#8221; إن دموعنا وآلامنا وجهادنا في إنكار الذات ومحبتنا للآخرين.. هذه الكسر لا تضيع أبداً، بل يأمر الرب وملائكته الأطهار، قال: &#8220;اجمعوا الكسر&#8230;&#8221; لقد قال داود النبي للرب: &#8220;إجعل دموعي في زق عندك&#8221;.</p>
<p>أخيراً لما رأى الناس الآية.. قالوا: &#8220;هذا هو بالحقيقة النبي الآتي إلى العالم&#8221; إذن ينبغي أن تكون شهادة المسيح هي محور أعمالنا.. فإن كان كسر الخبز هو عمل المحبة أو مشاركة الآخرين أو البذل أو الخدمة أو إنكار الذات أو الإتضاع فلتكن غايتنا أن يستعلن المسيح ويظهر بمجده أمام الآخرين.</p>
<h4>فرح ميراث البركة &#8211; للمتنيح القمص يوسف أسعد<a href="#_ftn5" name="_ftnref5">[5]</a></h4>
<p>إن ساعة توزيع الميراث هى دائما فرح لأن فيها يأخذ الانسان ما يعتبرة بركة، فيقول الكتاب المقدس: &#8220;البيت والثروة ميراث من الآباء&#8221; (أم ١٩: ١٤) فلا شك ان الميراث بركة،</p>
<p>فكم يكون فرح القديسين لا بالميراث وحده كبركة، بل بميراث البركة أيضاً، إنه فرح حقيقي يعرفه أولئك الذين يقدرون معنى البركة.</p>
<p>فالبركة يا أحبائي لا تُرى ولا تُوزن ولا تُشترى، لكننا نعرف أنها سمة سرية يمنحها الله متى شاء.. أينما شاء.. لمن شاء، والبركة التى تتحول الى ميراث للقديسين هى مصدرأ من مصادر فرحهم.</p>
<p>وفى مثل العشر عذارى ينطبق ميراث البركة على الدخول مع العريس (مت٢٥: ١-١٣).</p>
<p>ورقم عشرة رقم رمزي يعني كمال الأعداد، فمليارات من النفوس منذ بدء الخليقة والى نهايتها مدعويين الى الملكوت، فإذا كان تعداد الصين فى جيلنا الحالى الف مليون نسمة.. فكم أعداد المدعوين الى السماء في الوجود كله؟!!.</p>
<p>والعشرة جميعهم اخذن مصابيحهن، والمصباح هو النور الذي يمنحه الرب في العقل، وهو الذي يشرق في الضمير، وهو الذي يبهج العاطفة، هذا المصباح أعطاه الرب للجميع، والجميع مدعوين للقاء العريس.</p>
<p>إنه عرس قائم تسندنا فيه أمنا العذراء التي عندما ترى احتياجاتنا وأزماتنا وأحزاننا تطلب عنا حتى دون أن نطلب منها، إذ أنها الأم التي تكون معنا بفكر واحد وحس واحد، وتظهر شفاعتها من أجلنا ومن أجل المؤمنين في الوجود كله، وتفعل كل هذا بلطف ورقة وحشى حنون، إنما تمارس ذلك لأن العريس قائم، والدعوة للجميع بلا استثناء.</p>
<p>لكن الذي فرق العشره إلي قسمين.. والذي يقسم ميراث البركة إلى فريقين هو ما سماه الكتاب المقدس كسمة صارت لاصقة بأصحابها وهي سمة الحكمة وسمة الجهل.</p>
<p>والمقصود بالحكمة ليست فلسفة الناس، إنما الحكمة النازلة من فوق، الحكمة الروحية التي تجعل الإنسان حريصاً على مصباحه ألا يكون زينة أو منظراً، بل يكون كفءً للعمل متى يطلب للعمل، وهذه الحكمة هي التي جعلت الفريق الأول يجتهد من أجل ملئ مصباحه بالزيت.</p>
<p>والزيت في فهم الآباء المفسرين هو الروح الذي يفحص كل شئ حتي أعماق الله، ويعطي مفهوماً جديداً لكل شيء مهما كان، وهو الحياة الروحية التي هي الحكمة، من يختارها يختار لنفسه ميراث البركة.</p>
<p>ويتحدث معلمنا مار بطرس الرسول عن فهمه لبعض أساليب الحياة الروحية المكون للزيت فيقول: &#8220;والنهايه كونوا جميعاً متحدي الرأي بحس واحد ذوي محبة أخويه مشفقين لطفاء غير مجازيين عن شر بشر أو عن شتيمة بشتيمة بل بالعكس مباركين عالمين أنكم لهذا دعيتم لكي ترثوا بركة&#8221; (١بط ٩،٨:٣).</p>
<p>فالعناصر التي تحدث عنها بطرس الرسول لميراث البركة هي:</p>
<p>١<strong>-اتحاد الرأي:</strong></p>
<p>إتحاد الرأي هو الذي يجعل أفقر بيوتنا جنة علي الأرض، والذي إذا افتقر إليه بيت &#8211; مهما حوى من أثاث ومجوهرات &#8211; يتحول إلي خراب،لأن الذي يُعمِّر البيوت ليس الطوب إنما القلوب.</p>
<p>فإتحاد الرأي هام جداً في الحياة الزوجية، وهو جزء من عمار النفوس، وعمار البيوت، فالنفس العامرة هي النفس التي تعمل لكي يكون بينها وبين الآخرين إتحاداً في الرأي.</p>
<p>والله قد وضع في البيت أساساً أن يكون الرجل رأس المرأة، كما أن المسيح رأس الكنيسة (أف٢٣:٥) والتحديد هنا ليس للتمييز، بل يمكن أن يكون الإثنان قديسان وباران وتقيان أمام الله، ولكن لكي يسير البيت لابد أن يكون هناك قيادة يخضع لها الآخر بمحبة، وهذا ما يجعل البيوت تعمر بالبركة.</p>
<p>وليس معني قيادة الرجل في البيت أن تصير المرأة مواطن من الدرجة الثانية، بل بالعكس، إن هناك أراء للنساء تجعلهن في صفوف الحكماء، وهنيئا للرجل الذى يعطيه الرب أمرأة حكيمة متعقلة، إن كلماتها توزن بالذهب ولها تقديرها عند رجلها.</p>
<p>٢<strong>-الحس الواحد :</strong></p>
<p>الحس الواحد معناه إن يكون عند الإنسان بصيرة ،أي يستطيع أن يرى بالبصيرة ويحس بشريكه أو أخاه أوأباه في وقت الضيق أو الإحتياج أو التعب، وهذا هام وضروري للحياة الروحية.</p>
<p>فلنتصور مثلاً زوجان ولهما أبناء يحتاجون لمصاريف وتدابير للمدارس، فإذا ذهب الرجل في وقت احتياج أولاده ليبذر امواله علي السجائر أو القهوة ولعب القمار.. فهل لهذا الإنسان حس واحد؟! وإذا طالبت أمرأة زوجها في وقت أزمة مالية، بفرو تضعه علي رقبتها أوزينة خارجية أو شيئاً مما ليس له ضرورة وليس من الاحتياجات الأساسية، فهل لهذه المرأة حس واحد؟! أوالأبناء الذين يطلبون من آبائهم طلبات تجعل قلوب الابوين تتمزق لأن امكانياتهم محدودة ولا يستطيعون أن يوفوا التزامات أولادهم، فهل هؤلاء الأولاد لهم حس واحد؟!</p>
<p>لقد قال لنا الكتاب المقدس: &#8220;فرحاً مع الفرحين وبكاء مع الباكين&#8221; (رو١٥:١٢) لكي يوجهنا إلي الحس الواحد الذي نفتقر إليه الآن.</p>
<p>ذهبت يوما لعمل خطوبة في أحد البيوت، وكان بجوارالمنزل الذي فيه الخطوبة يوجد جنازة لأخوتنا غيرالمسحيين، صدقوني إني لم ادخل بيت الخطوبة إلا بعد أن ذهبت إلي بيت الميت لأعزيهم، لأنه كيف يوجد في شارع واحد خطوبة وميتم؟!</p>
<p>لقد فقدنا فى روحياتنا الحس الواحد الذى يجعلني أشعر بأخي الذى فى اقصى الارض واشعر بمعاناته، فكم وكم بأخي الذي بجانبي أو يرقد على سرير بجواري وتحت سقف واحد.</p>
<p>٣<strong>-المحبة الأخوية :</strong></p>
<p>كل منا بالتاكيد قد اختبر المحبة الاخوية، وكيف يتشاجر الإخوة وهم صغار، ثم ينتهي موضوع الشجار ببساطة وينسوا كل شئ، وحينما يكبرون ويتزوج كل منهم ويذهب الى مكان آخر تظل علاقتهم بعضهم ببعض مملوءة بالحب فيتذكرون فيها الأيام الحلوة التى عاشوها معأ كإخوة.</p>
<p>المحبة الأخوية لا يوجد فيها مسئولية الأبوة التى ترهق كاهل الأبوين، لكن يوجد فيها فرحة اللعبة والتسلية والعصا الواحدة، فكل شئ يكونوا فيه معآ &#8211; حتى لو كان الشجار &#8211; تجد لة فرحة عندهم.</p>
<p>صدقوني يا أحبائي إن كلمة المحبة الأخوية هى قمة مسيحيتنا، فهناك علاقة الزمالة، تلك التى ننصح الشباب فى الجامعة أن علاقتهم معاً هى علاقة زمالة ولايدخل فيها أية علاقات أخرى، وهناك علاقة الجيرة، بمعنى ان جارى الذى يمكن أن اقول اليوم انني لا أحتاج إليه قد يجعلني الزمن أحتاج إليه، فحينما تكون العلاقة بيننا سيئة أو يتخللها شجار وخلاف.. ففي وقت الحاجة لن أجده الى جواري و لن ينظر اليَّ وقت الشدة أو الإحتياج، هذا لانى لم احسن معه علاقة الجيرة، فحتى لو قلنا ان كل منا فى داره.. لكن يوجد جيرة لها كرامة و لها حسن معاملة.</p>
<p>أما المحبة الأخوية فهي شئ آخر، نلعب سوياً ونأكل سوياً وننام سوياً، الكبير فينا يحنوعلى الصغير والصغير يحترم الكبير.</p>
<p>المحبة الاخوية نعرف قيمتها فى الحياة الروحية حينما عاشرنا وعرفنا أخوة  لنا فى مدارس الأحد، كانوا أكبر منا لكنهم كانوا قدوة لنا فى الصلاة وفى الخدمة وفى التعب، بعضهم وصل الى السماء والبعض الآخر متفرق في الأرض.. لكن صورتهم وهم يتحركون أمامنا كإخوة روحيين مازالت تعلق بأذهاننا كنماذج روحية قدمت لنا الحياة في محبة أخوية.</p>
<p>المحبة الأخوية لا تعرف الغدر أو الخيانة أو المكر..</p>
<p>أتذكر مرة مرضت وكنت طالباً فى الجامعة، و بلغ قداسة الأنبا كيرلس بمرضي، وكان حينئذ يأكل &#8220;سميط&#8221; فقطع من فمه جزءاً منها، وكان معه تفاحة فكسر نصفها وأرسلها لى مع الأخ وديع الذى كان يخدمه، كلما أتذكر هذه الواقعة أشعر أن المحبة جعلتني أقفز فرحاً، وأثرت فيَّ جداً وبعد ثلاثة شهور عندما قمت من السرير وذهبت اليه فقال لى &#8220;أنت أغلى من أخي&#8221; وكنت مندهشاً لأن عمره هو كان فوق الستين عاماً، وكنت طالبآ فى الجامعة، فظهرت هذة المحبة فى وقت المرض حتى انه قسم لى اللقمة التى يأكلها.. هذه يا أحبائي هي المحبة الأخوية.</p>
<p>لذلك لا أعتقد أن أحداً منا فى مصباحه يفتقر الى هذه المحبة الأخوية، فكلنا نحتاج الى بعضنا البعض، وعلى رأي أحد القديسين الذي قال: &#8220;إن كانت الكنيسة كلها أساقفة فعلى من يقومون أو من يرعون؟ وإذا كانت كلها كهنة، فهؤلاء الكهنة بدون شعب من يخدمون؟ وإذا وجد شعب كله بدون كهنة أو أساقفة فمن يخدم لهم الأسرار؟ إن الكنيسة قيام بعضها ببعض، وهذه هي المحبة الأخوية، وهي قمة فى الحياة الروحية المسيحية أن نشعر بمحبتنا بعضنا لبعض كأخوة.</p>
<p>٤<strong>-الشفقة :</strong></p>
<p>الشفقة الحقيقية فيها احساسات رائعة فى الشخصية الروحية، لأن مفهوم الشفقة ليس أن أعطيك ما تحتاجه، لكن أن أعطيك ما يساعدك على خلاص نفسك.</p>
<p>هناك فتاة كانت لها زميلة في ثانوي، وحدث أثناء المرحلة الثانوية أن سقطت زميلتها فى خطية دنس، فما كان من هذه الفتاة التي تحب زميلتها إلا أن لطمتها على وجهها لطمة قوية وقالت لها: كيف تجرؤين على هذا الفعل ونحن بنات للمسيح وأنت تريدين أن تعيشين للمسيح.. فتقول صاحبة هذه اللطمة أنها صححت إتجاهها وجعلها هذا القلم تفيق من غفلتها و تتوب عن سقطتها.</p>
<p>فهذه شفقة من أخت محبة تخاف على صديقتها من الأنحراف.</p>
<p>مثال ذلك أيضاً الأب الذي يعطي لابنه كوب من اللبن، ويرفض الطفل ويبكي ولكن يظل الأب يحاول معه باللطف أو بالشدة حتى يشرب كوب اللبن، فهذا الأب يشفق على ابنه، لأنه لو لم يأخذ في هذا السن كمية الكالسيوم التي تبني أسنانه و عظامه فسيكبر بصحة غير سليمة.</p>
<p>هكذا تتضمن الشفقة ليس أن أعطى الانسان ما يحتاجه إنما أن أعطيه ما يساعده على خلاص نفسه.</p>
<p>٥<strong>-اللطف :</strong></p>
<p>اللطف فى الحياة الروحية ينفع الانسان ولازم للخدمة، فإبتسامة حقيقية غير مصطنعة تنم عن لطف يعيش فيه الانسان مختبرأ للطف الله في حياته، وهو في أعماقه يشعر أنه لا ذنب للناس أن ترى وجهه عابساً أو غيرمبتسم.. فنحن فى الحقيقة مطالبون أن نجتهد في روحياتنا لنحافظ على لطف المسيح فينا، ونحافظ على الابتسامة الغير مصطنعة الخارجة من قلب واثق فى الله حتى في شدة الأمراض وشدة الأحزان والتجارب، فيظهر لطف الله على وجوهنا وفي معاملاتنا و كلامنا.</p>
<p>٦<strong>-غير المجازاة عن شر بشر :</strong></p>
<p>حينما تجد انساناً يشتمك أو يفتري عليك أو يظلمك، وتصلي من أجله، وتطلب له البركة، فهذا فى حد ذاته له ميراث بركة، وذلك لأنك بعد أن تصلي تجد نفسك في الحال مستريحاً وهادئاً، بينما الذى شتمك ربما يذهب لينام فلا يعرف، ويظل طوال الليل تتعبه الشتيمة وتتعب أعصابه.</p>
<p>فالإنسان الذى يُشتَم لا يخسر شيئاً، إذ أن الشتيمة سوف لا تلتصق به ولا تضره،  لذلك قال الكتاب المقدس: &#8220;من يظلم فليظلم بعد&#8230; وها أنا آتي سريعاً وأجرتي معي لأجازي كل واحد كما يكون عمله&#8221; (رؤ ٢٢: ١١، ١٢)</p>
<p>لأجل هذا كان الحكيمات فى مصابيحهن زيت الحياة الروحية، وانتصاف الليل معناه أن هناك ظلام عجيب والكل نائم فى بيته، أي أنه إذا صرخ انسان لا يسمعه أحد، لذلك نصت الشريعة فى الكتاب المقدس على أن عقوبة من يقتل السارق فى نصف الليل تختلف عن عقوبته فى النهار، وذلك لأنه فى النهار إذا صرخ يمكن أن يُسمَع، أما فى الليل فلا يسمعه أحد.</p>
<p>إن مجئ العريس يكون فى نصف الليل، وذلك يقول الآباء الروحيين أنه حينما تظلم الدنيا وتضيق المشكلة وتتأزم، يكون وقت الفرج قريب وهو وقت مجئ العريس، فالوقت الذى يجد فيه الانسان المعونة من أحد ولا يجد بصيرة فى عينيه أو قلبه، ولا يجد قوة لديه لعمل أي شيء، يجد فيه المعونة من العريس السماوي، مثلما فعل هؤلاء الأخوة الذين جاء عليهم جمهور كثير لمحاربتهم فقالوا: &#8220;ليس فينا قوة أمام هذا الجمهور الكثير الآتي علينا ونحن لا نعلم ماذا نعمل ولكن نحوك أعيننا&#8221; (2أخ٢٠: ١٢).</p>
<p>لهذا اذا ضاقت بكم مشاكلكم وزادت متاعبكم فلاتضعفوا، ولا تلقوا سلاحكم و تسكبوا الزيت الذي في المصابيح، إنما انتظروا سيأتي سريعاً، فانتظاركم لمجئ العريس سيمنحكم البصيرة نحو الاشتعال والإضرام، وسيجعلكم تعرفون كيف تضيئون مصابيحكم.</p>
<p>أما الجهل والبعد عن الحياة الروحية والذين يقولون أن هذا الكلام لا ينفع فى هذا العصر، بل من شتمك شتيمة رد عليه بإثنين، ومن يضربك ضربة فاعطة بدلاً من الواحدة إثنين، والكبير لا بد أن يأكل الصغير، وهذا هو الطريق في العالم، فنقول لهؤلاء إن كان هذا هو مبدأ الحياة على الأرض، فنحن عازمين على الذهاب للسماء والملكوت.</p>
<p>لهذا اطمئنوا فالعريس آتي عند منتصف الليل &#8220;هوذ العريس مقبل فاخرجن للقائه. فقامت جميع أولئك العذارى واصلحن مصابيحهن&#8221; (مت٢٥: ٦، ٧) فلقد قامت الحكيمات وقامت الجاهلات أيضاً، ولست محتاجاً أن أعطيك مثالاً حينما تجد ابنك فى الشارع وتأتي أمامة سيارة مسرعة.. كيف ستجرى عليه وتفدي ابنك، وهكذا حينما تظلم الدنيا ويأتي منتصف الليل وتجد العريس آتي، فالمهم أن يكون مصباحك فيه زيت، وستجد أن فيك يقوم كل شيء روحي سليم.</p>
<p>إن الحياة الروحية شخصية تماماً، وهى لا تعتمد على قائد أو كنيسة أو خدام أو أشخاص، و كل من يشعل مصباحه لإنتظار العريس سيعرف قيمة الوقت الذى قضاه فى الصلاة والدموع والتبكير، حتى لو تهكم عليه الناس، و سيعرف قيمة الوقت الذى قضاه فى قراءة الكتاب المقدس وفى العطاء حتى يُنفق، وسيجد أن هذا الوقت لم يُنفق بل رُد إليه ليفرحه عند مجيئه الثاني.</p>
<p>حياتك الروحية شخصية تماماً، فلو قلت أن زوجتك لا تصلى أو لا تعترف أو لا تصوم، فلا تنظر اليها، صلي أنت وصلي عنها واعترف أنت، وشجعها لتصلوا معاً، ولكن إن رفضت اتركها فأنت من جهة المسئولية في الحياة الروحية أنت مسئول عن نفسك فقط، مسئول عن زيتك أنت، أما زوجتك وأختك وابنتك فساعدهم فقط، فسيأتي الوقت الذي يطلب منك الناس أن تعطيهم من زيتك، وستقول لهم إنه لا يكفيني ويكفيكم، وحينئذ سيتم قول الكتاب: &#8220;والمستعدات دخلن معه إلى العرس&#8221; (مت ٢٥: ١٠).</p>
<p>إن ميراث البركة ياأحبائي سيأتي في وقته وفي موعده.. فاستعدوا إذاً فهو ينتظركم، وافرحوا بهذا، فمجرد أن تعرف أن هناك ميراث بركة ينتظرك ستفرح، ربما يكون فمك مراً من الجوع ولكنك ستشبع ولا يكون هناك جوع.</p>
<p>ياعزيزي إن ميراث البركة مفرح للقديسين، فقد كانوا يفرحون حينما يذكرون ذلك، فلا تنسوه أنتم، ونحن في أوقات كل شواهدنا تؤكد أن الساعة تقترب جداً منا، فهكذا نحن نحتاج إلى الإستعداد الروحي وملء المصابيح.</p>
<p>فإذا وجدت شخص تعرض عليه مرة وإثنين وثلاثة محبتك ويرفضها فلا تدينه، ولكن اتركه وسر أنت في طريقك واملأ مصباحك وهيئ نفسك لساعة مجئ العريس.</p>
<p>إنها ساعة سيعرف فيها قيمة الكلمة: &#8220;وأغلق الباب&#8221; (مت٢٥: ۱٠) فلا يوجد من يستطيع أن يفتح ولا أحد ينفع أحد، لهذا كونوا جميعاً مستعدين.. رجالاً ونساءاً.. شباباً وشابات، صغار وكبار، لنستعد جميعنا، فإن ميراث البركة ينتظرنا، فلماذا نضيع حياتنا لهواً ولعباً ولا نستعد بملء المصابيح إنتظاراً لمجئ العريس.</p>
<p>افرحوا بهذا، ومهما تكن أتعابكم أوتجاربكم فافرحوا أن لكم ميراث بركة ينتظر جهادكم.</p>
<p>إلهنا الصالح يُعدُّني ويَعدُّكُم ويملأنا جميعاً بزيت الإستعداد الروحي من جهة إتحاد الرأي، والحس الواحد، والمحبة الأخوية، والشفقة النافعة لخلاص النفس، واللطف، وغير المجازاة عن شر بشر أو عن شتيمة بشتيمة، كونوا جميعاً أهلاً لميراث البركة.</p>
<hr />
<p><a href="#_ftnref1" name="_ftn1">[1]</a>  كتاب تفسير انجيل لوقا للقديس كيرلس الاسكندري &#8211; صفحة 326 – ترجمة دكتور نصحي عبد الشهيد.</p>
<p><a href="#_ftnref2" name="_ftn2">[2]</a>  تفسير إنجيل لوقا إصحاح ٩ &#8211; القمص تادرس يعقوب ملطي.</p>
<p><a href="#_ftnref3" name="_ftn3">[3]</a>  تأملات وعناصر روحية في أحاد وأيام السنة التوتية &#8211; صفحة ٧٢ &#8211; القمص تادرس البراموسي.</p>
<p><a href="#_ftnref4" name="_ftn4">[4]</a>  تأملات روحية في قراءات أناجيل آحاد السنة القبطية &#8211; صفحة ٢١٥ &#8211; القمص لوقا سيداروس.</p>
<p><a href="#_ftnref5" name="_ftn5">[5]</a>  كتاب الفرح &#8211; صفحة ٤٥ &#8211; القمص يوسف أسعد.</p>

      {% endcreateArticleAccordions %}
    </section>
  {% endblock %}
  