---
layout: 'layouts/reading.html'
title: 'يوم الأحد  من الأسبوع الثالث للخمسين يوم المُقَدَّسَة (أحد السامرية)'
tags: 'pentecost'
permalink: /articles/pentecost/3-0.html
---
  {% block content %}
    <section id="readings">
      <ul>
      {% if 'undefined' != 'undefined' %}
      
      {% else %}
      {% if '19.116:1-2' != 'null' %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">العشية</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeVespers '19.116:1-2' '43.8:12-20' %}
          </div>
        </div>
      </li>
      {% endif %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">باكر</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeMatins '19.116:4-6' '43.8:21-30' '' %}
          </div>
        </div>
      </li>
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <h3 class="flex items-center justify-between">
            <span class="kufi">القداس</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </h3>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeLitugy '51.3:1-17' '62.3:13-24' '44.10:37-43' '19.115:12-13' '43.4:1-42' %}
          </div>
        </div>
      </li>

      {% endif %}
        </ul>
    </section>
    <section id="article">
      <h3 class="mt-8 mb-4 heading-explain">شرح القراءات</h3>
      {% createArticleAccordions %}
        <h3>الأبن خلاص الشعوب، وماء الحياة</h3>
<p>&#8220;فرحاً أفرح بالرب. تبتهج نفسي بإلهي، لأنه قد ألبسني ثياب الخلاص. كساني رداء البر، مثل عريس يتزين بعمامة، ومثل عروس تتزين بحليها.</p>
<p>لأنه كما أن الأرض تخرج نباتها، وكما أن الجنة تنبت مزروعاتها، هكذا السيد الرب ينبت براً وتسبيحاً أمام كل الأمم&#8221; (إش61: 10، 11).</p>
<ul>
<li>نشكرك يا أبانا من أجل الحياة والمعرفة التي أعلنتها لنا بيسوع ابنك لك المجد إلى الأبد. (الديداكية).<a href="#_ftn1" name="_ftnref1">[1]</a></li>
<li>يظهر الكلمة كمعلم هذا الذي به خلقت المسكونة، الكلمة الذي من البدء وهبنا الحياة عندما شكلنا كخالق، يعلمنا الحياة الصالحة كمعلم لنا، وبكونه الله يمدنا بالحياة الأبدية الآن يعطف علينا لأجل إصلاحنا ليس لأول مرة فقد عطف علينا في القديم منذ البدء لكن الآن إذ هلكنا يظهر ويخلصنا. (القديس اكليمنضس الأسكندري).<a href="#_ftn2" name="_ftnref2">[2]</a></li>
</ul>
<h3></h3>
<h3>شواهد القراءات</h3>
<p>عشية: المزمور (مز 114: 1) - الإنجيل (يو 8: 12- 20).</p>
<p>باكر: المزمور (مز 114: 3، 4) - الإنجيل (يو 8: 21- 30).</p>
<p>القداس: البولس (كو 3: 1- 17) - الكاثوليكون (1يو 3: 13- 24) – الابركسيس (أع 10: 37- 43) –</p>
<p>المزمور (مز 113: 17)  - الانجيل (يو 4: 1- 42).</p>
<p></p>
<h3>شرح القراءات</h3>
<p>تحدثنا قراءات هذا الأحد عن ← <strong>المسيح له المجد خلاص كل الشعوب، ومصدر الماء الحي</strong>.</p>
<p></p>
<h4>المزامير</h4>
<ul>
<li>في <strong>مزمور عشية </strong>يوضح<strong> ←</strong> <strong>مشاعر وأنين البشرية في العهد القديم، وصراخهم للآب، واحتياجهم للخلاص، ولمراحمه الإلهية </strong>&#8220;أحببت أن يسمع الرب صوت تضرعي لأنه أمال بسمعه إليَّ فدعوته في أيامي&#8221; (مز 114: 1).</li>
<li>وفي <strong>مزمور باكر</strong> عن ← <strong>استجابة الآب لصراخ ودعوة البشرية له، واتضاع البشر أمامه كالأطفال وظهور خلاصه بإبنه المخلص</strong> &#8220;بإسم الرب دعوت يا رب نج نفسي، الرب هو رحوم وصديق والهنا يرحم الذي يحفظ الأطفال هو الرب اتضعت فخلصني&#8221; (مز 114: 3، 4).</li>
<li>وفي <strong>مزمور القداس عن </strong>← <strong>نتيجة استجابة الآب وخلاص الإبن</strong>، البركات المعطاة مجاناً (بركات التجسد والصليب والقيامة) لكل البشرية.. اليهود والأمم.. كل الذين يخافون الرب أو يلتمسون مخافته الصغار والكبار &#8220;الرب ذكرنا وباركنا. بارك بيت اسرائيل. بارك بيت هارون. بارك الذين يخافون الرب الصغار مع الكبار&#8221; (مز113: 17).</li>
</ul>
<p></p>
<h4>انجيل عشية</h4>
<p>وفي إنجيل عشيَّة عن ← <strong>اعتقاد اليهود الخاطئ بإنفصال شهادته عن الآب وتأكيد المسيح له المجد بالوحدة الجوهرية بينه وبين الآب</strong>، وأن تدبير الخلاص هو من الآب بالإبن (يو٣: ١٦) &#8220;أنت وحدك تشهد لنفسك شهادتك ليست حقاً.. لأني لست وحدي، بل أنا والآب الذي أرسلني، مكتوب أيضا ً في نامكوسكم أن شهادة رجلين حق، أنا أشهد، أنا أشهد لنفسي وأبي الذي أرسلني يشهد لي&#8221; (يو٨: ١٣- ١٨).</p>
<p></p>
<h4>انجيل باكر</h4>
<p>وفي إنجيل باكر عن أن ← <strong>الأبن منذ البدء يشهد للعالم عن الآب وفي ملء الزمان قدم الكثير من عطايا الخلاص الذي أخفى عن غير المؤمنين، وأُسْتِعْلِنَ بالصليب للمؤمنين</strong> &#8220;فقالوا له: من أنت؟ قال لهم يسوع: من البدء كلمتكم مراراً وعندي كثير أقوله من أجلكم وأجكم، ولكن الذي أرسلني هو حق وأنا أيضاً ما سمعته منه فبهذا أتكلم به في العالم، فلم يعلموا أنه كان يكلمهم عن الآب، قال لهم يسوع إذا رفعتم ابن الإنسان فحينئذ تعلمون إني أنا هو&#8221; (يو8: 25، 28).</p>
<p></p>
<h4>البولس</h4>
<p>وفي البولس عن ← <strong>حياة الخلاص في الكنيسة، وفي ذات الوقت شهادة الكنيسة للخلاص</strong>، لذلك طرح كل أولاد الكنيسة عنهم العتيق وكل أعماله النجسة، ولبسوا الجديد (في المعمودية) الذي يتجدد دائماً للمعرفة حسب صورة خالقه (بالتوبة الدائمة) &#8220;فإن كنتم قد قمتم مع المسيح فاطلبوا ما فوق حيث المسيح جالس عن يمين الله، واهتموا بما فوق لا بما على الأرض فإنكم قد متم وحياتكم مستترة مع المسيح في الله&#8230; إذ خلعتم الإنسان العتيق مع جميع أعماله ولبستم الإنسان الجديد الذي يتجدد للمعرفة شبه صورة خالقه&#8230; فاعملوا الكل باسم يسوع المسيح شاكرين الله والآب به&#8221; (كو 3: 1- 17).</p>
<p></p>
<h4>الكاثوليكون</h4>
<p>وفِي الكاثوليكون عن أن ← <strong>الأبن قدم شهادته بالصليب لأجلنا</strong>..</p>
<ul>
<li><strong>ونحن ينبغي أن نقدم شهادة المسيح لأجل أخوتنا </strong>&#8220;بهذا قد عرفنا المحبة ان ذاك أسلم نفسه لأجلنا فنحن ينبغي لنا ان نضع نفوسنا لاجل أخوتنا&#8221; (1يو ٣: ١٦) ..</li>
<li><strong>وأن الشهادة للحق في المسيح أعظم من ضمائر البشر محدودة التصور</strong> &#8220;فبهذا نعرف أننا من الحق وأننا بالحق نقنع قلوبنا قدامه وان كنا نلوم على ما نعمله بقلوبنا فإن الله أعظم من قلوبنا وهو عالم بكل شيء&#8221; (١يو٣: ١٩، ٢٠).</li>
<li>ويختم بتوضيح أن <strong>الروح القدس هو روح الشهادة الحقيقية للآب</strong> &#8220;وإنما نعلم أنه يحل فينا من الروح القدس الذي أعطانا&#8221; (١يو٣: ٢٤). وهذا ما يؤكده أيضاً.</li>
</ul>
<p></p>
<h4>الابركسيس</h4>
<p>وفي الإبركسيس نرى:</p>
<ul>
<li><strong>إرتباط الخلاص بالمعمودية</strong> &#8220;بعد المعمودية التي كرز بها يوحنا بيسوع الذي من الناصرة كيف مسحه الله بالروح القدس والقوة&#8221; (أع1٠: 37، 38).</li>
<li>ويوضح أيضاً <strong>رسالة أبن الإنسان الخلاصية وشهادته في العالم، وشهادة الكنيسة به وفيه</strong> &#8220;الذي جال يعمل الخيرات والشفاء لكل الذين تسلط عليهم الشيطان لأن الله كان معه، ونحن شهود بكل ما صنع&#8230; ونشهد بأن هذا هو المعين من الله دياناً للأحياء والأموات&#8221; (أع١٠: ٣٨- ٤٢).</li>
<li>وأن <strong>شهادة الأبن هي موضوع الكتاب كله لأجل وعد الخلاص لكل من يؤمن</strong> &#8220;وله يشهد جميع الأنبياء أن كل من يؤمن به ينال بإسمه مغفرة الخطايا&#8221; (أع 10: 43).</li>
</ul>
<p></p>
<h4>انجيل القداس</h4>
<p>وفي انجيل القداس عن ← <strong>خلاص الإبن لكل إنسان </strong>(السامرية)<strong>، ولكل الشعوب </strong>(السامرة).</p>
<p>ويختم في نهاية الإنجيل بشهادة المرأة التائبة عن الإبن المخلص لحياتها كمدخل إلى إيمان الجموع بعد ذلك بتعليم المسيح الخلاصي لهم.</p>
<p>&#8220;فآمن به من تلك المدينة كثيرون من السامريين بسبب كلام المرأة الشاهدة له أنه قال لي كل ما فعلت، ولما أتى إليه السامريون طلبوا إليه أن يقيم عندهم فأقام هناك يومين، فآمن به جموع كثيرة أيضاً من أجل كلامه، وكانوا يقولون للمرأة لسنا من أجل كلامك نؤمن، فإننا نحن أيضاً قد سمعنا ونعلم حقاً أنه هو مخلص العالم&#8221; (يو4: 39- 42).</p>
<p></p>
<h3>ملخص الشرح</h3>
<p><strong>المسيح له المجد مُخَلِّص الشعوب</strong></p>
<ul>
<li>مشاعر وأنين البشرية في العهد القديم، وصراخهم للآب، واحتياجهم للخلاص ولمراحمه الإلهية. (مزمور عشية).</li>
<li>استجابة الآب لصراخ ودعوة البشرية له، واتضاع البشر أمامه كالأطفال وظهور خلاصه بإبنه المخلص. (مزمور باكر).</li>
<li>استجابة الآب وخلاص الإبن، البركات المعطاة مجاناً (بركات التجسد والصليب والقيامة) لكل البشرية. (مزمور القدَّاس)</li>
<li>تدبير الخلاص هو من الآب بالإبن. (انجيل عشية).</li>
<li>الأبن منذ البدء يشهد للعالم عن الآب وفي ملء الزمان قدم الكثير من عطايا الخلاص الذي أخفى عن غير المؤمنين، وأُسْتِعْلِنَ بالصليب للمؤمنين (انجيل باكر).</li>
<li>حياة الخلاص في الكنيسة، وفي ذات الوقت شهادة الكنيسة للخلاص. (البولس).</li>
<li>الأبن قدم شهادته بالصليب لأجلنا ونحن ينبغي أن نقدم شهادة المسيح لأجل أخوتنا. (الكاثوليكون).</li>
<li>إرتباط الخلاص بالمعمودية، وشهادة الأبن هي موضوع الكتاب كله لأجل وعد الخلاص لكل من يؤمن. (الابركسيس).</li>
<li>خلاص الإبن لكل إنسان (السامرية)، ولكل الشعوب (السامرة). (إنجيل القداس).</li>
</ul>
<p></p>
<h3>أفكار مقترحة للعظات للأحد الثالث من الخمسين يوم المقدسة</h3>
<p><strong>ملحوظة:</strong> يُمْكِن الرجوع أيضاً إلى عظات أحد السامرية في الصوم الكبير.</p>
<p><strong>ماذا يريد السيد من توبتنا:</strong></p>
<h4>أحد السامرية (يو 4) انطلاق التوبة:</h4>
<p>ممكن واحد يقول طالما ربنا فاتح ايديه نقع براحتنا.. لأجل هذا انجيل الأحد الخامس يقول: لأ..خللي بالك إن الحياة مع الله مش انك تقع وتقوم.. دي الحياة مع ربنا انك كل يوم بتدخل للعمق معاه.. كل يوم تكتشف في ربنا حاجة جديدة.. كل يوم تنمو في النعمة زى ماقال القديس بطرس &#8220;ولكن انموا في النعمة وفي معرفة ربنا ومخلصنا يسوع المسيح له المجد الآن والى يوم الدهر آمين&#8221; (٢بط ٣: ١٨)..</p>
<p>الانسان الروحانى هو اللي عايش مع ربنا.. كل يوم بيخطو خطوة جديدة مع المسيح.. كل يوم يدخل للعمق ويتذوق حلاوة المسيح أكتر..</p>
<p>السامرية لما اتقابلت مع المسيح كانت بتتعامل معاه كشخص عادي &#8220;أنت يهودي وأنا أمرأة سامرية&#8221;.. بعدها بشوية اكتشفت ما هو أكثر من مجرد شخص يهودي &#8220;أرى أنك نبي&#8221;.. المعرفة بدأت تزيد.. اكتشفت فيه حاجة جديدة..</p>
<p>وبعدها قالت للمسيح ده فيه مسيا قادم وها يقول لنا كل شئ.. قالها: أنا الذي أكلمك هو.. يعني أكتشفت إنه هو المسيا..</p>
<p>وكمان الناس اللي في السامرة راحت قالتلهم: &#8220;ألعل هذا هو المسيح&#8221; اتعاملوا مع المسيح في الأول كشخص عادي وبعدها بيومين تلاتة قالوا لها: لسنا بعد بسبب كلامك نؤمن ولكننا عرفنا وآمنا أنه هذا هو المسيح مخلص العالم.. اكتشفوها بعد ما قعدوا معاه..</p>
<p>إذن علاقتي مع ربنا اليوم ليها بُعْد مُعيَّن لكن كل يوم أدخل لعمق أكثر.. أكتشف فيه حاجة أكتر.. وعلاقتي تزيد بيه أكتر.. دى حاجة مهمة جداً في الحياة الروحية..</p>
<p>وعلاقتي بالكتاب بالتالي تزداد عمق..وكذلك علاقتي بالكنيسة.. فيزداد فرحي.. ويزداد سلامي.. وتزداد ثقتي في ربنا.. ورجائي في المستقبل بيزيد.. كل الحاجات دى بتزيد ليه؟.. لأني أنمو في النعمة والعشرة مع المسيح وأدخل للعمق أكتر مع المسيح وبالتالي أنطلق لرؤيا جديدة مع ربنا.</p>
<p><strong>كيف ينظر الرب إلينا كخطاة؟</strong></p>
<p><strong>السامرية: السيد المسيح له المجد شاف فيها إيه؟.. الصدق</strong></p>
<p>تخيل إنسانة إتعودت علي الخطية لدرجة إنها عاشت مع أربعة رجال كأزواج..</p>
<p>وكمان بعد كدة عايشة مع إنسان بدون زواج!!..</p>
<p>تخيل الإنسانة دي نظرة الناس ليها إيه؟..</p>
<p>لكن برضه تخيل إن الإنسانة دى ممكن يكون فيها حاجة مش موجودة فينا كلنا!!..</p>
<p>ممكن أكتر الناس تشوفهم خطاة ممكن يكون فيهم حاجات مش موجودة في أى حد فينا.. عشان كدة المسيح لما بينظر للإنسان بينظر للحاجات الحلوة اللي فيه، لا ينظر كثيراً للخطايا ينظر فقط للنقط الإيجابية والمضيئة في حياة الإنسان..</p>
<p>فالمسيح له المجد نظر للسامرية لصدقها وانبسط منها !</p>
<p>مع إن إحنا لو اتقابلنا مع السامرية كنا ها نقعد نقول لها: ياستي إنتي يعني ما تعبتيش؟.. إنتي ما زهقتيش؟..  الحياة اللي إنتي عايشاها دى إستفدتي منها إيه؟!.. وممكن نديها عظات محترمة!!.. وممكن نتكلم معاها كلام كتير صعب.. لكن المسيح شاف حاجات حلوة فيها..</p>
<p>الأول طلب منها إنها تسقيه- بالرغم إنه كان المفروض إنه ما يتكلمش معاها أساساً- طلب منها تدعي زوجها: ده أنا هاستناكي، روحي إدعي زوجك وتعالي.. قال لها: إنتي اللي قولتيه ده.. صح.. وابتدأ يكمل معاها المناقشة لحد الآخر..</p>
<p>كل ده معناه: إن المسيح له المجد يرى الجوانب الإيجابية في حياتنا، عشان كدة بيعلمنا إننا ننظر دائماً للنقاط المضيئة في حياة الآخرين.. وممكن كل ما يركِّز الخادم على النقاط المضيئة تكون هي بداية تغيير الشخص.. وممكن تكون بداية انطلاق الشخص لحياة جديدة، يعني يكون إنسان وحش قوي في حاجات كتير وبعدين تركِّز عليه في حاجات حلوة صغيرة، ممكن تركيزك عليه في الحاجات الحلوة دي يخليه يبتدى حياة جديدة.</p>
<p><strong>كيف نرى خلاصنا ومُخلِّصنا؟</strong></p>
<p><strong>(يو4: 5- 30) </strong><strong>السامرية كانت جاية للمسيح واللي شاغلها عن الله هو المعلومات!..</strong></p>
<p>ناس بتسجد هنا وناس بتسجد هناك، وده مقبول وده مرفوض، والحكم على الناس..</p>
<p>ودايماً احنا بنشغل نفسنا بالحاجات دي.. بالمعلومات والأخبار والأحكام..</p>
<p>وما هي العبادة الأفضل من الثانية؟ ومين هيروح السما.. ومين مش هيروح؟.. بنشغل نفسنا كتير بالمعلومات..</p>
<p>تخيلوا السامرية عايشة حياة ملخبطة خالص ومشغولة بإيه..! السجود هنا ولا هناك..؟!!</p>
<p>طيب هو السجود ده هو اللى هيفرق معاكى..؟!! إنتي محتاجة إنك تشربي الماء الحي..</p>
<p>حتي وفى كلامها عن المسيا قالت: &#8220;متي جاء ذاك يخبرنا (يعني يقول لنا)&#8221;، لكن هو قال لها: لأ أنا مش المسيا اللي بيقول، أكثر ما إني المسيا اللي بيعطي، المسيا اللي بيشبع، المسيا اللي بيروى..</p>
<p>عشان كدة هي بتكلمه في معلومات، وأحكام، وأنت يهودى، وأنا إمرأة سامرية..</p>
<p>يقول لها: إنتي انسانة عطشانة، إنتى محتاجة ترتوي من جوة، انتي مش محتاجة تعرفي إنتي محتاجة تدوقي..</p>
<p>فيه ناس عايشة في معلومات ولسة ماداقتش المسيح.. ده إنتى عايشة حياتك بالطول والعرض وقاعدة تقولي السجود فين؟!!</p>
<p>يعني شوفوا المفارقات العجيبة.. إن إحنا نبقي بنخبط في الدنيا كلها ونقعد نتفلسف في الحياة المسيحية ونجادل بعض في مناقشات مالهاش لازمة لكن قليل مننا اللي بيدخل بهدوء ويبتدى يشرب وكل ما يشرب يرتوي هو ولما يرتوي مع الوقت ها يبقى زي ما قال عنه السيد المسيح &#8220;من آمن بي كما قال الكتاب تجري من بطنه أنهار ماء حي&#8221;..</p>
<p>يبقي هو ده اللي المسيح عاوز يعطيه للسامرية ولينا كلنا، ولما داقت السامرية ماشغلتش بالها بالسجود هنا ولا هناك، فرحت وتركت جرتها وراحت المدينة جابت الناس كلها.</p>
<p>يبقي المسيحية مش مسيحية معلومات، المسيح له المجد مش إله أحكام على الناس.. المسيح إله إرتواء عاوز يشبع الناس.. لما تشبع الأول وبعد كده تدرس وتفكر وتجادل وتناقش.. لما أتناقش وأنا شبعان غير خالص لما أتناقش وأنا مش واخد حاجة خالص.</p>
<p>التاني يبقي عاوز يفرض رأيه، وإن رأيه هو الوحيد اللي صح، وما بيتعلمش من حد، ويبقي عنده حب جدال عنيف.. أما الانسان الشبعان بيتناقش بهدوء، واللي قدامه اقتنع ما اقتنعش مش مهم (من الدرجة الأولى)، وممكن هو يستفيد من رأي اللي قدامه بحاجة كويسة، وبيفكر ازاي يشبع بالنعمة اللي المسيح عاوز يديها له، ولما يشبع كويس هيقدر يحكم صح..</p>
<p>القديس مقاريوس لما قابل كاهن الأوثان قاله: يارجل النشاط.. شاف فيه حته حلوة بالرغم إنه كان بيعبد الأوثان.. دا مثال للأحكام المضبوطة، هو هنا ما قالوش  كلمة نفاق، قاله حاجة صح &#8220;النشاط&#8221; بس هو لأنه انسان شبعان رؤيته للناس نقية.. لكن احنا لما نناقش ونجادل بدون ما يكون فينا إرتواء داخلي بنتعب نفسنا كتير، ودي اللي بيقول عنها الكتاب المماحكات الفلسفية (١تي ٦: ٤).</p>
<p>إذاً السامرية جاءت للمسيح له المجد على أساس إنها مشغولة بالمعلومات، المسيح له المجد قال لها:</p>
<p>المسيا مش دوره الأساسي انه يقولك.. هايقولك ده بعدين لكن دوره الأساسي إنه يرويكى ويفرحك ويخليكى شبعانة من جوه.. المسيح مش إله معلومات ولا قدرات ذهنية ولا مقارنات عقيمة، المسيح له المجد إله التذوق الحي، المسيح إله العشرة، المسيح إله إن إحنا نتعرف عليه ونشبع بيه ونفرح بيه يوم بعد يوم.</p>
<p><strong>من وحي ظهورات الرب بعد القيامة</strong></p>
<p><strong>بطرس « أتحبني ؟ - مجد الغفران الكامل ».</strong></p>
<ul>
<li>هذا هو سؤال الرب لي ولَك على الدوام.</li>
<li>هذا هو سؤال الرب لي ولَك علي الدوام.</li>
<li>لا يهم ضعف اليوم فها هو يعلن حبه للكل.</li>
<li>لا يفيد مجد الأمس إذا لم يتجدد الحب.</li>
<li>حبه يغمر النفوس الضعيفة.</li>
<li>وتفتقر إليه النفوس الواثقة.</li>
<li>تذوقنا محبته هو هدف العبادة.</li>
<li>وإعلان حبه هو مجد السلوك.</li>
<li>سؤال أتحبني يستعذبه كل الجوعى لبره الإلهي.</li>
<li>ويتفلسف في إجابته المحسوبين على خدمته.</li>
</ul>
<p></p>
<h3>عظات آبائية للأحد الثالث «أحد الخلاص والماء الحيّ» من الخمسين يوم المقدسة</h3>
<h4>لقاء الرب مع السامرية - العلَّامة أوريجانوس<a href="#_ftn3" name="_ftnref3">[3]</a></h4>
<p>حينما يتحقق الوعد للشخص المطَّوب لأنه يجوع ويعطش إلى البرً <a href="https://st-takla.org/Bibles/BibleSearch/showVerses.php?book=50&amp;chapter=5&amp;vmin=6">(مت 5: 6)</a>، فإنه يشرب من الماء الذي يعطيه، فيكون له ينبوع ماء يثب (يفيض) إلى حياة أبدية، يقوم فيه</p>
<p>يليق أن يلاحظ الشخص بأن الوعد بالماء لم يُعط للمرأة السامرية عندما سألته ذلك، كما لو أن يسوع يريد ألا يقدمه إلاَّ من الينبوع، إذ قال لها: &#8220;اذهبي وأدعِ زوجك وتعالي&#8221;</p>
<p>حقًا إن الكتاب المقدس لا يحوي بعض جوانب من أسرار الله التي هي بالأكثر ربانية وإلهية، والتي لا تحوي صوتًا بشريًا ولسانُا إنسانيًا، وذلك كما يُفهم من المعاني المعنية: &#8220;وأشياء آخر كثيرة أيضًا صنعها يسوع، إن كتبت واحدة واحدة فلست أظن أن العالم نفسه يسع الكتب المكتوبة&#8221; (<a href="https://st-takla.org/pub_Bible-Interpretations/Holy-Bible-Tafsir-02-New-Testament/Father-Tadros-Yacoub-Malaty/04-Enjeel-Youhanna/Tafseer-Engeel-Yohanna__01-Chapter-21.html">راجع يو 21</a>: 25).</p>
<p>لقد مُنع يوحنا من الكتابة عندما بدأ يسجل كل ما قالته السبعة رعود <a href="https://st-takla.org/Bibles/BibleSearch/showVerses.php?book=76&amp;chapter=10&amp;vmin=4">(رؤ 10: 4)</a>. بولس أيضًا يقول أنه سمع كلمات لا يسوغ النطق بها <a href="https://st-takla.org/Bibles/BibleSearch/showVerses.php?book=57&amp;chapter=12&amp;vmin=4">(2 كو 12: 4)</a>. هذه الكلمات لم يكن مسموح لأحدٍ أن يعلنها&#8230;</p>
<p>أظن أن كل الكتب المقدسة حتى حين تُدرك بكل دقة ليست إلاَّ مدخلًا للمبادئ ومقدمة مختصرة لكل المعرفة&#8230; ماء يسوع هو ذاك الذي يفوق ما هو مكتوب <a href="https://st-takla.org/Bibles/BibleSearch/showVerses.php?book=56&amp;chapter=4&amp;vmin=6">(1 كو 4: 6)</a>.</p>
<p>الآن غير مسموح للكل أن يمتحن الأمور التي تفوق ما هو مكتوب <a href="https://st-takla.org/Bibles/BibleSearch/showVerses.php?book=56&amp;chapter=4&amp;vmin=6">(1 كو 4: 6)</a>&#8230; &#8220;لا تطلبوا لكم الأمور الفائقة العلو، ولا تبحثوا ما فوق قدرتكم&#8221; (راجع ابن سيراخ 3: 21)&#8230;</p>
<p>أيضًا الأمور التي لم تدخل قلب إنسان هي أعظم من بئر يعقوب. تُعلن هذه الأمور من ينبوع ماء يفيض (يثب) إلى حياة أبدية للذين لم يعد بعد لهم قلب إنسان، لكنهم قادرون على القول &#8220;لنا فكر المسيح&#8221; <a href="https://st-takla.org/Bibles/BibleSearch/showVerses.php?book=56&amp;chapter=2&amp;vmin=16">(1 كو 2: 16)</a>. &#8220;لنعرف الأشياء الموهوبة لنا من الله، التي نتكلم بها أيضًا، لا بأقوال تُعلمها حكمة إنسانية، بل بما يعلمه الروح القدس&#8221; <a href="https://st-takla.org/Bibles/BibleSearch/showVerses.php?book=56&amp;chapter=2&amp;vmin=12&amp;vmax=13">(1 كو 2: 12-13)</a>.</p>
<p>الكتب المقدسة إذن هي مقدمات، تُدعى بئر يعقوب. إذ تُدرك بدقة للحال يلتزم الشخص أن يصعد منها إلى يسوع، لكي يتمتع بسخاء بينبوعٍ يثب إلى حياة أبدية.</p>
<p>لكن ليس كل أحد يسحب ماءً من بئر يعقوب بنفس الطريقة. فإن كان يعقوب وبنوه ومواشيه شربوا منها <a href="https://st-takla.org/Bibles/BibleSearch/showVerses.php?book=53&amp;chapter=4&amp;vmin=12">(يو 4: 12)</a>، و<a href="https://st-takla.org/Full-Free-Coptic-Books/FreeCopticBooks-002-Holy-Arabic-Bible-Dictionary/12_S/woman-of-samaria.html">المرأة السامرية</a> أيضًا جاءت إليها وشربت ماءً وعطشت، لكن ربما شرب يعقوب وبنوه بطريقة ما بمعرفة كاملة، وشربت مواشيه بطريقة أخرى في بساطة مثل الحيوانات، والسامرية شربت بطريقة أخرى غير يعقوب وبنيه ومواشيه. فالبعض حكماء يشربون من الكتب المقدسة مثل يعقوب وبنيه. آخرون أكثر بساطة وبراءة يُدعون &#8220;قطيع المسيح&#8221; <a href="https://st-takla.org/Bibles/BibleSearch/showVerses.php?book=53&amp;chapter=10&amp;vmin=26">(يو 10: 26)</a> يشربون مثل مواشي يعقوب. وآخرون يسيئون فهم الكتب المقدسة ويستخدمون أمورًا غير لائقة ينسبونها للنصوص التي يفهمونها من الكتب المقدسة، هؤلاء يشربون مثل <a href="https://st-takla.org/Full-Free-Coptic-Books/FreeCopticBooks-002-Holy-Arabic-Bible-Dictionary/12_S/woman-of-samaria.html">المرأة السامرية</a> قبل إيمانها بيسوع.</p>
<p>بالحق قد ظهر واضحًا أن القول: &#8220;لطلبتِ أنتِ منه، فأعطاكِ ماءً حيًا&#8221; صادق. لأنها عندما قالت: &#8220;<strong>أعطني من هذا الماء</strong>&#8221; تسلمت الماء الحي، فلا تكون بعد في حالة فقدان عندما تعطش، كما لا تأتي إلى بئر يعقوب لتسحب ماءً.</p>
<p>تستطيع الآن أن تتأمل في الحق بعيدًا عن ماء يعقوب، بطريقة ملائكية تفوق الإنسان. لأن الملائكة ليسوا في حاجة إلى بئر يعقوب لكي يشربوا.</p>
<p>كل ملاك له في داخله ينبوع ماء يثب إلى حياة أبدية وُجد بواسطة الكلمة، ويُعلن به وبالحكمة نفسها.</p>
<p>على أي الأحوال إنه غير ممكن للشخص الذي لا ينشغل باجتهاد قادمًا إلى بئر يعقوب، وساحبًا ماءً منه بسبب عطشه، أن يقبل الماء الذي يعطيه الكلمة الذي يختلف عن بئر يعقوب. لهذا، كثير من الناس، في عجزٍ شديدً في هذا الجانب، في تدريب أنفسهم لمدة طويلة على سحب ماء من بئر يعقوب.</p>
<p>لقد قلنا قبلًا أن الناموس الذي يحكم النفس، حيث يخضع كل أحد ذاته له، هو الزوج. الآن نقتبس شهادة عن ذلك من الرسول في رسالته إلى أهل رومية حيث يقول: &#8220;أم تجهلون أيها الأخوة، لأني أكلم العارفين بالناموس، أن الناموس يسود على الإنسان ما دام حيًا&#8230; فإن المرأة التي تحت رجل هي مرتبطة بالناموس بالرجل الحي&#8221; <a href="https://st-takla.org/Bibles/BibleSearch/showVerses.php?book=55&amp;chapter=7&amp;vmin=1&amp;vmax=2">(رو 7: 1-2)</a>. كما أن رجلها الحي يعني من كان رجلها هو الناموس. يقول بعد ذلك: &#8220;ولكن إن مات الرجل فقد تحررت من الناموس، الرجل&#8221;&#8230; إذ لا تعود تتمم واجبات الزوجة نحو الزوج&#8230; الآن فقد مات الناموس حسب الحرف، ولم تعد النفس زانية إذ تصير لرجلٍ آخر، أي ترتبط بالناموس حسب الروح. لكن عندما يموت الرجل عن الزوجة، ربما يُقال أيضًا أن الزوجة قد ماتت عن الزوج. إذ نحن بالتبعية نفهم العبارة هكذا. &#8220;إذًا أنتم أيضًا قد متم للناموس بجسد المسيح، لكي تصيروا لآخر للذي قد أُقيم من الأموات لنُثمر لله&#8221; <a href="https://st-takla.org/Bibles/BibleSearch/showVerses.php?book=55&amp;chapter=7&amp;vmin=4">(رو 7: 4)</a>.</p>
<p>إذن إن كان الزوج يُعرف بأنه الناموس، والسامرية لها زوج إذ أخضعت نفسها إلى ناموس ما على أساس سوء فهم للتعاليم السليمة، الناموس الذي به كل مبتدع يود أن يعيشه، هنا يريد الكلمة الإلهي من النفس المبتدعة أن تُفضح عندما تُدخل الناموس الذي يحكمها. وإذ تحتقر نفسها لأنها لا تنتمي إلى زوجٍ شرعيٍ تبحث عن زوج آخر. إنه يود لها أن تنتمي إلى آخر، إلى الكلمة الذي يقوم من الأموات، الذي لن يهزم ولن يهلك، بل يبقى إلى الأبد (إش 40: 8؛ 1 بط 1: 25)، هذا الذي يحكم ويُخضع كل أعدائه (مز 8: 7؛ أف 1: 22). فإن &#8220;المسيح بعدما أُقيم من الأموات لا يموت أيضًا، لا يسود عليه الموت بعد؛ لأن الموت الذي ماته قد ماته للخطية مرة واحدة، والحياة التي يحياها فيحياها لله&#8221; <a href="https://st-takla.org/Bibles/BibleSearch/showVerses.php?book=55&amp;chapter=6&amp;vmin=9&amp;vmax=10">(رو 6: 9-10)</a>، بكونه عن يمينه <a href="https://st-takla.org/Bibles/BibleSearch/showVerses.php?book=68&amp;chapter=10&amp;vmin=12">(عب 10: 12)</a>، حتى يخضع كل أعدائه تحت قدميه <a href="https://st-takla.org/Bibles/BibleSearch/showVerses.php?book=22&amp;chapter=109&amp;vmin=1">(مز 109: 1)</a>&#8230; لهذا السبب يقول يسوع لها: &#8220;<strong>اذهبي وأدعي زوجك</strong>&#8220;&#8230; وإذ أجابته &#8220;<strong>ليس لي زوج</strong>&#8221; أدانت نفسها على ارتباطها بزوج كهذا.</p>
<p>أظن أن كل نفس تدخل إلى الدين المسيحي خلال الكتب المقدسة وتبدأ بالأشياء المُدركة بالحواس المدعوة أشياء جسدية، لها خمسة أزواج، لكل حاسة زوج. ولكن بعد أن تصير النفس في رفقة مع الأمور المدركة بالحواس وترغب فيما بعد أن ترتفع فوقها تندفع نحو الأمور المدركة بالروح؛ عندئذ تصطدم مع تعليم فاسد قائم على معانٍ رمزية روحية. حينئذ تقترب من زوج آخر بعد الأزواج الخمسة، وتقدم وثيقة طلاق للخمسة السابقين وكأنها تقرر أن تعيش مع هذا السادس&#8230; ونحن نقيم مع ذاك الزوج السادس حتى يأتي يسوع ويجعلنا ندرك شخصية زوجٍ كهذا. لكن بعد مجيء كلمة الرب ودخوله في حوارٍ معنا نجحد هذا الزوج ونقول: &#8220;<strong>ليس لي زوج</strong>&#8220;. عندئذ يقول الرب: &#8220;<strong>حسنًا قلتِ ليس لي زوج</strong>&#8220;.</p>
<p>الإنسان الكامل والمقَّدس يتعدى حتى هذا، إذ يعبد الرب بطريقة تأملية وإلهية بالأكثر. فكما أن الملائكة (كما يتفق حتى اليهود) لا يعبدون الآب في أورشليم، لأنهم يعبدونه بطريقة أفضل عمن يعبدون في أورشليم، هكذا الذين يستطيعون أن يكونوا مثل الملائكة <a href="https://st-takla.org/Bibles/BibleSearch/showVerses.php?book=52&amp;chapter=20&amp;vmin=36">(لو20: 36)</a> في ميولهم لا يعبدون الآب في أورشليم، بل بطريقة أفضل.</p>
<p>يليق بالإنسان أن يلاحظ إن العابدين بالحق يعبدون الآب بالروح والحق، ليس فقط في الساعة القادمة، بل وفي الوقت الحاضر أيضًا.</p>
<p>إن كان الآب يطلب أولئك الذين يعِّدهم أن يكونوا عابدين حقيقيين بتطهيرهم وتعليمهم بالكلمة في تعاليم صادقة، إنما يطلبهم بابنه الذي جاء يطلب من قد فقدوا (لو 19: 10؛ حز 34: 16).</p>
<p>ربما تركت جرة الماء التي كانت في بئر تعتز بعمقها، أي بالتعاليم، إذ احتقرت الأفكار التي سبق أن قبلتها، وتقبلت جرة أفضل من جرة الماء، تحوي ماءً ينبع إلى حياة أبدية <a href="https://st-takla.org/Bibles/BibleSearch/showVerses.php?book=53&amp;chapter=4&amp;vmin=14">(يو 4: 14)</a>.</p>
<p>هنا امرأة أعلنت عن المسيح للسامريين، وفي نهاية الأناجيل أيضًا امرأة رأته قبل كل الآخرين تخبر الرسل عن قيامة المخلص <a href="https://st-takla.org/Bibles/BibleSearch/showVerses.php?book=53&amp;chapter=20&amp;vmin=18">(يو 20: 18)</a>.</p>
<p>كل ما فعلته <a href="https://st-takla.org/Full-Free-Coptic-Books/FreeCopticBooks-002-Holy-Arabic-Bible-Dictionary/12_S/woman-of-samaria.html">المرأة السامرية</a> هو علاقتها بالخمسة أزواج، وبعد ذلك ارتباطها بالسادس الذي هو ليس بزوجها الشرعي. تبرأت من الرجل السابق، تركت جرتها واستراحت بوقار في السبت.</p>
<p>لقد جلبت أيضًا نفعًا للذين سكنوا معها في ذات المدينة، على أساس معتقداتها القديمة، أي شاركوها تعاليمها الخاطئة. إنها العلة التي جعلتهم يخرجون من المدينة ويأتون إلى يسوع.</p>
<p>.</p>
<h4>الماء يشير إلى الكلمة الإلهية - القديس كيرلس الأسكندري<a href="#_ftn4" name="_ftnref4">[4]</a></h4>
<p>يشبِّه الكتاب المقدس معرفة الله بالماء. وقد أعلن المخلِّص إن معرفة الله تمنح الحياة الأبدية قائلاً لأبيه السماوي: &#8220;هذه هي الحياة الأبدية أن يعرفوك أنت الإله الحقيقي وحدك ويسوع المسيح الذى أرسلته&#8221; (يو٣:١٧). وقال للمرأة السامرية: &#8220;لو كنت تعلمين عطية الله ومن هو الذى يقول لك أعطني لأشرب. لطلبت أنتِ منه فأعطاكِ ماءً حياً&#8221; (يو١٠:٤). وقد دعا الرب تعليمه بأنه مُحيي، قال أيضاً: &#8220;إن عطش أحد فليقبل إليَّ ويشرب&#8221; (يو٣٧:٧). وأدان أناس اتبعوا – عن جهل معلِّمين آخرين، ومالوا ناحية تعاليم ووصايا الناس، حسب قوله (بالنبي) &#8220;ابهتي أيتها السموات من هذا واقشعري وتحيري جداً يقول الرب. لأن شعبي عمل شرين. تركوني أنا ينبوع المياه الحية لينقروا لأنفسهم آباراً مشققة لا تضبط ماء&#8221; (إر٢: ١٢-١٣).</p>
<p>إذاً، فالماء الحي هو الكلمة الإلهية الموجودة في الأعماق، ولا أعتقد أنه يمكن للمرء أن يتزود به بدون بذل جهد. لأنه الكلمة لا تعطي ذاتها لأي أناس لمجرد أنهم يريدونها، طالما أن الغموض الموجود حولها يحجب معناها كأنه حجر ثقيل ويصعب تحريكه.</p>
<p>لذلك فإن كان الذهن خاملاً لا يستطيع أن يزيل هذا الغموض، فالذين يرعون الخراف الناطقة يلزمهم تعب وجهاد كثير لكى يزيلوا الغموض عن الناموس، ويحضرونه من العمق، ويظهرونه على السطح، ويقدمونه واضحاً للمستمعين ليتمتعوا به، ويحفظونه في حياتهم. لكن رُعاة اليونانيين أي الفلاسفة والخطباء الكثيرين، يسببون إزعاجاً شديداً من جهة التعاليم المتعلقة بالله. إذ يعلمون بأمور ليست مستقيمة، ويعترفون &#8220;بوجود&#8221; الله لكنهم ينسبون للألوهية ما يروق لهم.</p>
<p>وعلى النقيض من ذلك، فإن راعياً واحداً من رعاة المسيح يستطيع أن يحرك الحجر الثقيل من على فم البئر، أقصد غطاء الغموض الذى يحجب بئر التعاليم الخاصة بالله. وهكذا فإن تلاميذ المسيح كشفوا الحقيقة بوضوح للأمم. ولم يهملوا إثبات حقيقة وجود الإله الواحد الحقيقي.</p>
<p>فعندما ذهب بولس الرسول إلى أثينا قدَّم الماء الحيّ للخطباء قائلاً: &#8220;أيها الرجال الأثينيون أراكم من كل وجه كأنكم متدينون كثيراً. لأننى بينما كنت أجتاز وأنظر إلى معبوداتكم وجدت أيضاً مذبحاً مكتوب  عليه الإله المجهول. فالذى تتقونه وأنتم تجهلونه هذا أنادي لكم به&#8221; (أع ١٧: ٢٢-٢٣).</p>
<p>ألا ترى هنا أنه بالرغم من كونهم فلاسفة ورؤساء ورعاة ومعلمى الأثينيين، فإنهم بصعوبة شديدة استطاعوا أن يُحركوا الحجر الثقيل الذى كان على فم بئر التعاليم الخاصة بالله، معتقدين أنهم يؤمنون بالله لمجرد أنهم يحترمونه، بيد أنهم أخطأوا تجاه الحق، لماذا؟ لأنهم بنوا قبراً وكتبوا عليه: &#8220;الإله المجهول&#8221; أي الذي لم يكن معروفاً بالنسبة لهم. وقد اعتقدوا أنهم قد اختاروا بذلك – على صواب – مجد الله، لكن بولس العظيم استخدم هذه العبارة وأظهر شيئاً مفيداً، قائلاً لهم إن الإله المجهول هو المسيح، إذ يقول &#8220;فالذى تتقونه وأنتم تجهلونه هذا أنا أنادي لكم به&#8221;.</p>
<p>أرأيت كيف أنه كشف البئر ورفع الحجر، وقدم لهم المعرفة الحية؟.</p>
<p>إذاً الاختلاف بين فكر هؤلاء الرعاة وفكر رعاة المسيح هو اختلاف كبير جداً. لأن أولئك الفلاسفة بالرغم من أنهم كثيرين جداً، إلا أنهم يأتون في المرتبة الثانية بعد المؤمنين بالإله الحقيقي، إذ أن غموض تعاليمهم الناتج عن انجذابهم إلى أهوائهم يجعلهم عاجزين، بينما بولس الرسول بالرغم من أنه كان بمفرده، فإنه كشف لهم الحق.</p>
<p></p>
<h4>يسوع العطشان يعطي الماء الحي - القديس أغسطينوس<a href="#_ftn5" name="_ftnref5">[5]</a></h4>
<p>جاءت ببساطة، وكعادة أهل مدينتها، لتستقي ماءً &#8220;فقال لها يسوع: أعطيني لأشرب.. فقالت له: كيف تطلب مني لتشرب، وأنت يهودي وأنا امرأة سامرية؟ لأن اليهود لا يعاملون السامريين!&#8221; بل إن اليهود لا يستعملون أواني السامريين باعتبارها نجسة، فكيف إذاً يريد يسوع أن يشرب في إحدى أوانيهم؟!..</p>
<p>ولكن ذاك الذي طلب أن يشرب كان في الحقيقة عطشاناً إلى إيمان المرأة نفسها، فقال لها يسوع: &#8220;لو كنتِ تعلمين <strong>عطية الله</strong>، <strong>ومن هو</strong> الذي يقول لك أعطيني لأشرب، لطلبتِ أنتِ منه فأعطاكِ ماءً حياً&#8221;.. يا للعجب! إنه يطلب أن يشرب بينما يتعهد أن يعطي لكل من يطلب منه أن يشرب! فبينما هو عطشان يروي كثيرين من الماء الحي. والماء الحي هو الماء الجاري المتدفق من الينبوع، وليس الماء الراكد في بئر.</p>
<p>إذاً، فلماذا يعدُ الرب أن يعطي ماءً حياً؟ إن &#8220;<strong>عطية الله</strong>&#8221; كان المقصود بها الروح القدس، ولكنه حتى ذلك الحين كان يتحدث مع المرأة بحذر ويدخل إلى قلبها بالتدريج.</p>
<p>احتارت المرأة وسألته: &#8220;يا سيد، لا دلو لك والبئر عميقة&#8221;، وهذا معناه أنها فهمت بكلمة &#8220;الماء الحي&#8221; أنه ببساطة الماء الذي كان في ذلك البئر، ولكن الذي حيَّرها هو كيف يحصل عليه وليس معه ما يسحبه به. فسألته قائلةً: &#8220;فمن أين لك الماء الحي؟&#8221; إنها في الواقع هنا تقرع لكي يفتح لها الرب ما هو مغلق عليها؟ إنها تقرع في جهلها، وليس بتلهُّف للوصول إلى هدف، فهي لا زالت موضع إشفاق الرب، وليست في حالة تجعلها تقبل تعاليم الرب.</p>
<p>ثم استمرت في جهلها تسأل: &#8220;ألعلك أعظم من أبينا يعقوب، الذي أعطانا البئر، وشرب منها هو وبنوه ومواشيه؟&#8221; متسائلةً في نفسها: هل فاقت عظمتك على أبينا يعقوب حتى أنك تعطيني ماءً حياً من هذا البئر بدون دلو؟ أم أنك ستعطيني من ينبوع آخر؟..</p>
<p>عندئذ أعلن يسوع لها صراحة قائلاً: &#8220;كل من يشرب من هذا الماء يعطش أيضاً. ولكن من يشرب من الماء الذي أعطيه أنا فلن يعطش إلى الأبد، بل الماء الذي أعطيه يصير فيه ينبوع ماء ينبع إلى حياة أبدية&#8221;.</p>
<p>وماذا يكون أكثر وضوحاً من أن هذا الماء الذي يَعدُ الرب به هو ماء غير مرئي؟ بل إنه ماذا يكون أكثر وضوحاً من أنه يتكلم ليس بمفهوم جسدي بل روحي؟!..</p>
<p>ولكن لأن المرأة لا زالت بذهنها الجسداني، فقد سُرَّت بفكرة أنها لن تعطش مرةً أخرى، وتوهمت أن الرب وعدها بذلك بمفهوم جسداني، هذا الوهم الذي سيصير حقيقة واقعة فعلاً ولكن بعد قيامة الأموات: &#8220;لن يجوعوا بعد، ولن يعطشوا بعد،… لأن الخروف الذي في وسط العرش يرعاهم، ويقتادهم إلى ينابيع ماءٍ حيةٍ&#8221; (رؤ٧: ١٦، ١٧).</p>
<p>ولكن المرأة رغبت في ذلك هنا على الأرض. حقاً إن الرب قد أنعم على إيليا أن لا يجوع ولا يعطش أربعين يوماً، أفلا يستطيع أن يمنح ذلك بصفة دائمة لأي إنسان؟ لأنه لو منحها هذه العطية لكان في ذلك راحة لها من المجيء كل يوم إلى البئر ثم تعود مثَّقلة بحمل الجرَّة الثقيلة، وهذا مجهود يومي صعب لعلها تتخلَّص منه!!..</p>
<p>نعم، إن من يشرب من هذا الماء المادي يعطش أيضاً، فضلاً عن أن الماء الذي في البئر يشير إلى مسرات هذا العالم أيضاً في عمقها المظلم، ومن هذا يستقون الناس بأوانيهم التي للشهوة، كما أنهم إذ ينحنون إلى الأمام عندما يستقون من هذا الماء فهم يسعون وراء اللذة التي يبحثون عنها في عمق البئر، وهكذا تزداد مسرتهم بشهواتهم. لأن الذي لا يقدِّم شهوته أمامه لا يمكنه أن يجد مسرته. إذن، فاعتبروا أن هذه الشهوة هي الدلو وأن المسرة هي الماء المأخوذ من عمق بئر هذا العالم، وها كلنا قد تحققنا أن &#8220;كل من يشرب من هذا الماء يعطش أيضاً&#8221; أمَّا مَن استقي من ماء الرب يسوع &#8220;فلن يعطش إلى الأبد&#8221;، بل كما يقول المزمور: &#8220;سنشبع من خيرات بيتك&#8221; (مز٦٥: ٤س) إذاً ، فمن أي ماء سيعطي الرب إلاّ من ذلك الينبوع الذي قيل عنه: &#8220;عندك ينبوع الحياة&#8221;، لأنه كيف يعطش أولئك الذين &#8220;يُروَون من دسم بيتك، ومن نهر نعمك تسقيهم&#8221; (مز٣٦: ٨- ٩). إن ما وعد به الرب كان طعاماً معيناً وامتلاءً غزيراً من الروح القدس، ولكن المرأة لم تفهم بعد، وفي عدم فهمها: &#8220;قالت له المرأة: يا سيد أعطني هذا الماء، لكي لا أعطش ولا آتي إلى هنا لأستقي&#8221;، وذلك لأنها في ضعفها كانت مشتاقة أن تتحرر من هذا المجهود، لأنها لم تكن قد سمعت بعد دعوة الرب: &#8220;تعالوا إليَّ يا جميع المتعبين والثقيلي الأحمال، وأنا أريحكم&#8221; (مت١١: ٢٨)، لأن هذا في الحقيقة ما كان الرب يسوع يقصد أن يقوله لها حتي لا تتعب، ولكنها لم تفهم بعد.</p>
<p></p>
<h4>توقوا إلى جداول المياه، إلى الله ينبوع الحياة - للقديس أغسطسنوس<a href="#_ftn6" name="_ftnref6">[6]</a></h4>
<p>&#8220;<strong>عطشت إليك نفسي</strong>&#8221; (مز ٦٣: ١)</p>
<p>تأمل كيف عطش داود إلى الله؟!..</p>
<p>كل البشر مقتولون عطشاً، ولكن نادراً من يقول &#8220;عطشت إليك نفسي&#8221;، بل يعطشون إلى العالم. ينبغي علينا أن نتوق إلى الحكمة، يجب علينا أن نشتاق إلى البرّ.</p>
<p>&#8220;<strong>عطشت إليك نفسي، يشتاق إليك جسدي في أرض ناشفة ويابسة بلا ماء</strong>&#8221; (مز ٦٣: ١).</p>
<p>إن النفس والجسد يعطشان إلى الله.. فيعطي الله النفس خبزها الذي هو كلمة الحق، ويعطي الجسد احتياجه، لأن الله خالق كليهما!..</p>
<p>آه! إنَّني لن أشبع إلا عندما يتجلى مجدك قدّامي!..</p>
<p>نعم يا إلهي، فأنت وحدك القادر أن تعيد لي حياتي السعيدة.</p>
<p>لك أعترف ببؤسي، وذلك عند رحيل اليوم الذي كنت فيه غارقاً بين أباطيل العالم المتعددّة، محروماً منك أنت موضوع حبي الوحيد، ذاك اليوم الذي فيه كانت أشواقي الجسديَّة مشتتة في المباهج الخادعة.</p>
<p>وما أكثر هذه المباهج تلك التي تحمل في بهجتها أتعاباً لا حصر لها! هذه المباهج وعدتني بأمور كثيرة، ومع ذلك فهي لم تجلب عليَّ سوي الفقر. انتقلت من واحدة إلى أخرى لعل إحداها تقدر أن تشبع نفسي، لكنها عجزت، إذ لم تكن نفسي تحيا بعد إلاَّ فيك! حقاً إن فيك الجمال، يا من وحدك سرمدي، وسام، وكامل على الدوام!..</p>
<p><strong>من يقتفي آثارك لن يضل قط! </strong></p>
<p><strong>من يصل إليك لا يلحقه يأس!</strong></p>
<p><strong>من يمتلكك تشبع كل رغباته!</strong></p>
<p>لكن، يا لبشاعة بؤسي! ويحي يا إلهي، فإن قلبي يميل إلى الهروب منك، الهروب منك أيها الغنى الحقيقي والفرح الحقيقي، لكي يتبع العالم الذي ليس فيه إلاَّ الحزن والألم.</p>
<p>هنا برية حيث يوجد فيها عطش كثير، وها أنتم تسمعون صوت ذاك الذي هو في ظمأ الآن في البرية، لكن إن عرفنا أنفسنا كعطشى، فسنعرف أنفسنا كمن يشربون أيضاً، فإن من يعطش في هذا العالم فسيرتوي في العالم القادم، وذلك كقول الرب: &#8220;طوبى للجياع والعطاش إلى البرّ، فإنهم يشبعون&#8221; (مت ٥: ٦).</p>
<p>لهذا يليق بنا ألا نحب الشبع في هذا العالم، فإننا سنشبع في موضع آخر.</p>
<p>لكن الآن لكي لا نضعف في هذه البرية، يرش علينا ندى كلمته، ولا يتركنا تماماً لنجف.. لكي نشرب بنوع ما من نعمته يرش علينا، ومع هذا فنحن نعطش.</p>
<p>اركضوا إلى الجداول، توقوا إلى جداول المياه، إلى الله ينبوع الحياة، الينبوع الذي لا يجف أبداً، الينبوع الذي من يشرب منه يروي الظمأ الداخلي.</p>
<p>اركضوا إلى الينبوع، اشتاقوا إليه، لكن لا تفعلوا هذا كيفما اتفق، لا تكتفوا بالجري كأي حيوان عادي، بل اركضوا كالإيل..</p>
<p>ماذا يعني &#8220;كالإيل&#8221; أي لا تتكاسلوا في رُكوضكم، اركضوا بكل قواكم، اشتاقوا إلى الينبوع بكل قدرتكم، فإننا نجد في الإيل رمزاً للسرعة..</p>
<p>اسمعوا أيضاً ما تتميز به الإيل، إنها تقتل الحيَّات، وبعد قتلها تتقد عطشاً بصورة أشد.</p>
<p>وإذ تنتهي من قتل الحيَّات تركض إلى جداول المياه حيث تشتد وطأة عطشها أكثر من ذي قبل.</p>
<p>الحيات هي رذائلكم، دمروا حيَّات الشر، فتشتاقون بالأكثر إلى ينبوع الحق..</p>
<p>ومن ثم أمر آخر جدير بالملاحظة بالنسبة للإيل.. فإنها إذ تجول كقطيع أو تسبح (في الماء) لكي تبلغ منطقة أخرى من الأرض، تسند ثقل رؤوسها على بعضها البعض بحيث يقودها واحد ويتبعه الآخر، وقد ألقى الكل رؤوسهم عليه بالتتابع حتى آخر القطيع، لكن إذا ما تعب القائد الذي يحمل أثقال الرؤوس يعود إلى المؤخرة ويستريح من تعبه إذ يسند رأسه على الأخير.. أليست الإيل بهذا تشبه أولئك الذين قال عنهم الرسول: &#8220;احملوا بعضكم أثقال بعض، وهكذا تمموا ناموس المسيح&#8221; (غل ٦: ٢)؟!..</p>
<p><strong>&#8220;عطشت نفسي إلى الله الحي&#8221;..</strong></p>
<p>إني عطشان في غربتي، في ركوضي، وسأرتوي عند وصولي.</p>
<p>لتعطش نفوسنا إليه، قائلة: &#8220;متي يجيء؟!&#8221;.. إنك تشتاق إلى قدومه، ألعله يجدك مستعداً؟!.</p>
<p></p>
<h4>النبع هو فم العريس الذي تخرج منه كلمات الحياة الأبدية - للقديس غريغوريوس النيسي<a href="#_ftn7" name="_ftnref7">[7]</a></h4>
<ul>
<li>إن الروح بالرغم من اتحادها مع اللّه فهي لا تشعر بملء السعادة بطريقة مطلقة. <strong>كلما تمتعت بجماله زاد اشتياقها إليه</strong>.</li>
</ul>
<p>إن كلمات العريس روح وحياة <a href="https://st-takla.org/Bibles/BibleSearch/showVerses.php?book=53&amp;chapter=5&amp;vmin=24">(يو 24:5)</a>، وكل من التصق بالروح يصير روحًا. كل من التصق بالحياة ينتقل من الموت إلى الحياة كما قال الرب.</p>
<p>وهكذا فالروح البكر تشتاق دائمًا للدنو من نبع الحياة الروحية. <strong>النبع هو فم العريس الذي تخرج منه كلمات الحياة الأبدية</strong>. إنه يملأ الفم الذي يقترب منه مثل داود النبي الذي اجتذب روحًا خلال فمه <a href="https://st-takla.org/Bibles/BibleSearch/showVerses.php?book=22&amp;chapter=118&amp;vmin=131">(مز 131:118)</a>. لما كان لزامًا على الشخص الذي يشرب من النبع أن يضع فمه على فم النبع، وحيث أن الرب ذاته هو النبع كما يقول: &#8220;إن عطش أحد فليقبل إليّ ويشرب&#8221; <a href="https://st-takla.org/Bibles/BibleSearch/showVerses.php?book=53&amp;chapter=7&amp;vmin=37">(يو 37:7)</a>؛ لذلك فإن الأرواح العطشانة تشتهى إن تضع فمها على الفم الذي ينبع بالحياة، ويقول: <strong>&#8220;ليقبلني بقبلات فمه&#8221; </strong><a href="https://st-takla.org/Bibles/BibleSearch/showVerses.php?book=26&amp;chapter=1&amp;vmin=2">(نش 2:1)</a>.</p>
<p>من يهب الجميع الحياة ويريد إن الجميع يخلصون يشتهى أن يتمتع كل واحد بنصيب من هذه القبلات، لأنها تطهر من كل دنس.</p>
<ul>
<li>يلزمنا أن نفكر بعمقٍ في الكلمات المقدسة بالنشيد: &#8220;هلمي معي من لبنان، هلمي معي من لبنان انظري من رأس أمانة، من رأس شنير وحرمون، من <a href="https://st-takla.org/Full-Free-Coptic-Books/FreeCopticBooks-002-Holy-Arabic-Bible-Dictionary/07_KH/kh_09_01.html">خدور الأسود</a> من جبال النمور&#8221; <a href="https://st-takla.org/Bibles/BibleSearch/showVerses.php?book=26&amp;chapter=4&amp;vmin=8">(نش 8:4)</a>.</li>
</ul>
<p>ماذا نفهم إذن من هذه الكلمات؟</p>
<p>يجذب ينبوع النعمة إليه كل العطشى. وكما يقول الينبوع في الإنجيل: &#8220;إن عطش أحد فليقبل إليَّ ويشرب&#8221; <a href="https://st-takla.org/Bibles/BibleSearch/showVerses.php?book=53&amp;chapter=7&amp;vmin=37">(يو 37:7)</a>.</p>
<p>لا يضع المسيح لهذه الكلمات حدودًا لعطشنا ولا لتحركنا نحوه، ولا لارتوائنا من الشرب، ولكن يمتد أمره إلى مدى الزمن، ويحثنا أن نعطش وأن نذهب إليه. وإلى هؤلاء الذين ذاقوا وتعلموا بالتجربة أن اللّه عظيم وحلو <a href="https://st-takla.org/Bibles/BibleSearch/showVerses.php?book=22&amp;chapter=34&amp;vmin=8">(مز 8:34)</a>، فإن حاسة الذوق عندهم تُصبح حافزًا لزيادة التقدم. لذلك فالشخص الذي يسير باستمرار نحو اللّه لا ينقصه هذا الحافز نحو التقدم.</p>
<ul>
<li>إذا أردنا أن نسوق شاهدًا أعظم من الكتاب المقدس نسجل ما قاله السيد المسيح إلى هؤلاء الذين آمنوا به: أنهار ماء حي ستفيض من كل من يؤمن به &#8220;من آمن بي كما قال الكتاب تجرى من بطنه أنهار ماء حي&#8221; <a href="https://st-takla.org/Bibles/BibleSearch/showVerses.php?book=53&amp;chapter=7&amp;vmin=38">(يو 38:7)</a>. وتُضيف أن القلب النقي يُشار إليه بالتعبير &#8220;بطن&#8221;. ويصبح لوح للشريعة المقدسة <a href="https://st-takla.org/Bibles/BibleSearch/showVerses.php?book=55&amp;chapter=2&amp;vmin=15">(رو 15:2)</a> كما يقول الرسول. ويوضح تأثير الشريعة المكتوبة في القلب ليس بحبرٍ <a href="https://st-takla.org/Bibles/BibleSearch/showVerses.php?book=57&amp;chapter=3&amp;vmin=3">(2 كو 3:3)</a>، ولكن بروح اللّه الحي الذي يرسم هذه الحروف في النفس، وليس على ألواح حجرية كما يقول الرسول، ولكن على لوح القلب النقي، الخفيف والمضيء.</li>
</ul>
<p>يلزم أن تُنقش الكلمات المقدسة الموجودة في الذاكرة النقية الصافية، على القدرة القائدة للنفس، بحروف بارزة واضحة. تُشير الزفير في الحقيقة إلى تمجيد بطن العريس فقط باللوح الذي يشع نورًا بلون السماء.</p>
<p>ترشدنا هذه الصورة لكي نكون متنبهين للأشياء السماوية، مكان كنزنا <a href="https://st-takla.org/Bibles/BibleSearch/showVerses.php?book=50&amp;chapter=6&amp;vmin=21">(مت 21:6)</a>. فإذا ثبتنا في حفظ وصايا اللّه تتكون لدينا آمال مقدسة تنعش عيون نفوسنا.</p>
<ul>
<li>بعد ذلك يرفع النشيد العروس إلى أعلى قمة للمجد، مُضفيًا عليها اسم ينبوع المياه الحيّة المتدفقة من لبنان. لقد تعلمنا من الكتاب المقدس عن طبيعة اللّه المعطية للحياة كنبوة من شخص اللّه تقول: &#8220;تركوني أنا ينبوع المياه الحيّة&#8221; <a href="https://st-takla.org/Bibles/BibleSearch/showVerses.php?book=30&amp;chapter=2&amp;vmin=13">(إر 13:2)</a>. ثم يقول السيد المسيح للمرأة السامرية: &#8220;أجاب يسوع وقال لها، لو كنت تعلمين عطية اللّه، ومن هو الذي يقول لك أعطيني لأشرب، لطلبتِ أنتِ منه فأعطاكِ ماء حيّا&#8221; <a href="https://st-takla.org/Bibles/BibleSearch/showVerses.php?book=53&amp;chapter=4&amp;vmin=10">(يو 10:4)</a>. ثم قال: &#8220;إن عطش أحد فليقبل إليَّ ويشرب. من آمن بي كما قال الكتاب تجرى من بطنه أنهار ماء حي. قال هذا عن الروح الذي كان المؤمنون به مزمعين أن يقبلوه&#8221; <a href="https://st-takla.org/Bibles/BibleSearch/showVerses.php?book=53&amp;chapter=7&amp;vmin=37&amp;vmax=39">(يو 37:7-39)</a>.</li>
</ul>
<p>تقول كل من هذه الفقرات أن الماء الحي هو الطبيعة المقدسة، لذلك جاز للنشيد أن يسمى العروس بصدق <strong>بئر ماء حي يفيض من لبنان</strong>. هذا في الحقيقة يتعارض مع ما هو معروف، فجميع الآبار تحتوى مياه ساكنة، والعروس وحدها عندها مياه جارية في بئر عميق، ومياهها تفيض باستمرار.</p>
<p>من يقدر ويستحق أن يفهم العجائب الممنوحة للعروس؟ يتضح أنها قد وصلت إلى أقصى ما تتمناه، فقد قورنت بالجمال الأبدي الذي منه نشأ كل جمال. وفي نبعها تشبه نبع عريسها تمامًا، وحياتها بحياته، وماؤها بمائه. إن كلمته حية، وبها تحيا كل نفس تستقبله.</p>
<p>هذه المياه تفيض من اللّه كما يقول ينبوع المياه الحيّة: &#8220;لأني خرجت من قبل اللّه وأتيت&#8221; <a href="https://st-takla.org/Bibles/BibleSearch/showVerses.php?book=53&amp;chapter=8&amp;vmin=42">(يو 42:8)</a>.</p>
<p><strong>تحفظ العروس فيض مائه الحي في بئر نفسها، وتصبح بيتًا يكنز هذه المياه الحيّة التي تفيض من لبنان</strong>، أي التي تكوّن سيولًا من لبنان، كما يقول النص.</p>
<p>لقد أصبحنا في شركة مع الله بامتلاكنا هذه البئر، حتى نحقق وصية الحكمة (أمثال 17:5، 18)، ونشرب مياها من بئرنا، وليست من بئرٍ آخر. نتمتع بهذا في المسيح ربنا له المجد والعظمة إلى الأبد آمين.</p>
<p></p>
<h3>عظات آباء وخدّام معاصرين للأحد الثالث من الخمسين يوم المقدسة</h3>
<h4>إنجيل القداس.. لقداسة البابا تواضروس الثاني<a href="#_ftn8" name="_ftnref8">[8]</a></h4>
<p><strong>(يوحنا 4: 1- 42)</strong></p>
<p><strong>ماء الحياة</strong><strong> </strong></p>
<p>الماء أساس حياة الإنسان إنه يروي، يغسل، يُنظِّف، يُطفيء، يلِّين ويُذيب، يُثمر الزرع.</p>
<p>أنواع المياه:</p>
<ul>
<li>مياه مدمرة: مثل الطوفان، البحرالأحمر.</li>
<li>مياه مطهرة: مثل المرحضة للاغتسال. وكما حدث في شفاء نعمان السريانى.</li>
<li>مياه مُحيية: وهى كلمة الله الحية، وكذلك ماء المعمودية حيث ننال الولادة الجديدة.</li>
</ul>
<p>الكنيسة قدمت لنا المسيح الأسبوع الماضي كخبز للشبع، واليوم نرى المسيح ماء للارتواء &#8220;كما يشتاق الإيِّل إلى جداول المياه، هكذا تشتاق نفسي إليك يا الله&#8221; (مز٤٢: ١) &#8220;طوبى للجياع والعطاش إلى البر، لأنهم يُشبعون&#8221; (مت ٥: ٦).</p>
<p>وإذا كان ماء المسيح هو: الكلمة المقدسة، ممارسة الأسرار، التأمل وتذكر السمائيات، فإن هناك نوعان من العطش:</p>
<p>١- عطش يؤدى إلى عطش: «ماء مالح».</p>
<ul>
<li>السامرية عطشت إلى الخطية.</li>
<li>يعقوب عطش لبكورية أخيه.</li>
<li>سليمان عطش لشهوات العالم .</li>
</ul>
<p>٢- عطش يؤدى إلى ارتواء: «ماء عذب».</p>
<ul>
<li>بولس الرسول ذاقه على أبواب دمشق.</li>
<li>سائر القديسين الذين تركوا كل شيء بحثاً عن الماء الحي.</li>
<li>اللص اليمين ذاقه في آخر دقائق من حياته.</li>
</ul>
<p>لقد جلس المسيح مُتعباً ليس من الرحلة وإنما من كثرة التفكير فيك والاهتمام بأمرك، فإن عدم إيمانك هو الذى أتعبه.</p>
<p>لقد قيل لكاهن ذات يوم من شاب: أنا لا أؤمن بالله..</p>
<p>فأجابه: ولكن.. الله يؤمن بك.</p>
<p><strong>إنه يريد توبتك</strong><strong> </strong></p>
<p>المسيح في هذه المقابلة يُقدم لنا الصور الرائعة في شخصيته المُباركة:</p>
<p>إنه المسيح الحنون، المتواضع، الستَّار، اللطيف، الصبور، علَّام الغيوب، مروي العطاش، المُعطي الأعظم، المعلم الصالح، وفوق ذلك فهو المُخلِّص وقد تكلَّم عنه الجميع:</p>
<ul>
<li>الملاك ليوسف النجار: &#8220;تلد ابناً وتدعوا اسمه يسوع. لأنه يُخلص شعبه من خطاياهم&#8221; (مت ١: ٢١).</li>
<li>سمعان الشيخ: &#8220;لأن عيني قد أبصرتا خلاصك&#8221; (لو٢: ٢٩).</li>
<li>بطرس الرسول: &#8220;ليس بأحد غيره الخلاص&#8221; (أع ٤: ١٢).</li>
<li>بولس الرسول: &#8220;المسيح يسوع جاء إلى العالم ليُخلِّص الخطاة&#8221; (1تى ١: ١٥).</li>
</ul>
<p>جاء المسيح ليُقدِّم خلاصاً حقيقياً من الخطية، ومن أجرة الخطية، ومن سُلطان إبليس، ومن الموت الأبدي، وليس مثل:</p>
<ul>
<li>يشوع الذى خلص شعبه وأدخلهم كنعان الأرضيه فقط.</li>
<li>أو يوسف الذى خلص شعبه من الجوع للطعام الأرضى.</li>
<li>أو جدعون الذى خلص شعبه من عبودية زمنية أرضية.</li>
</ul>
<p>ولذلك يصرخ الرسول قائلاً: &#8220;تمموا خلاصكم بخوف ورعدة&#8221; (في ٢: ١٢).</p>
<p>إن المرأة السامرية عندما سألت: يا سيد أعطني هذا الماء؟&#8221; (ع ١٥)،</p>
<p>كانت الإجابة: إن الماء ليس للشرب، بل هو دعوة لسيرة مقدسة وطاهرة ترتوي من حب المسيح وعليها أن تتوب. وبالحقيقة تابت واعترفت وتطهَّرت وقَبِلَت الإيمان بشخص المسيح المُخلِّص والفادي.</p>
<p></p>
<h4>الأحد الثالث من الخماسين المقدسة.. للمتنيح القمص لوقا سيداروس<a href="#_ftn9" name="_ftnref9">[9]</a></h4>
<p><strong>(يوحنا 4: 1- 42)</strong></p>
<p><strong>الماء الحي</strong><strong> </strong></p>
<p>لقد تحدث الرب مع نقوديموس عن الميلاد من الماء والروح. وعبثاً حاول نقوديموس أن يفهم شيئاً عن الماء الحي الذي له قدرة الولادة من فوق. وظل يسأل كيف يكون هذا؟..</p>
<p>وعندما تحدث الرب مع السامرية عن الماء الحي إنه عطية الله وإن من يشرب منه لن يعطش أبداً. وإنه يفيض في بطن الإنسان إلى حياة أبدية. تحيرت المرأة وسألت الرب قائلة: &#8220;من أين لك الماء الحي؟&#8221;..</p>
<p>وفى اليوم الأخير من العيد نادى يسوع وقال: &#8220;إن عطش أحد فليقبل إليَّ ويشرب، من آمن بي كما قال الكتاب تجري من بطنه أنهار ماء حي&#8221;. فالجموع ورؤساء الكهنة كانوا يحتجون عليه وحدث بينهم إنشقاق بسببه. ولكن ما هو هذا الماء الحي الذى تحدث عنه الرب؟ لابد أن الرب يسوع بقيامته أظهر سر الماء الحي، بينما كان يظهر للتلاميذ، ويتكلم عن الأمور المختصة بملكوت الله.. لأن الأشياء التي خفيت على التلاميذ قبل الصليب وأسرار الملكوت العميقة، أنارها الرب بقيامته، وفتح ذهنهم ليفهموا الكتب.</p>
<p><strong>الماء الحي</strong><strong> </strong></p>
<p>لا وقت لقيامه لمراوغة السامرية، ولا للمناقشة. ولا للسؤال، لأن كل شيء معلن وظاهر. وليس على التلاميذ إلا أن يتمتعوا ويشربوا من الماء الحي الذى فاض من جنب المسيح بلا مانع، ويرتووا من الحياة الأبدية.</p>
<ul>
<li>والمسيح له المجد كان يبتدئ معهم من جميع الأنبياء، والمزامير، يفسر لهم الكتب.. ولابد أن يكون قد أظهر لهم سر روح الرب الذى يرف على وجه المياه من قبل الخليقة، وأعلن لهم أسرار الخليقة الجديدة بفعل الروح على وجه مياه المعمودية. وأيضاً ماء الطوفان الذى خلص فيه ثماني أنفس الذى مثاله يخلصنا.</li>
<li>ولابد أن يكون الرب قد أظهر لهم سر الماء الذى نبع من الصخرة في حوريب في برية سيناء، في القفر عندما ضربها موسى النبي بعصاه وشرب منها بنى إسرائيل وتأكدوا أن جميعهم شربوا من صخرة واحدة روحية والصخرة كانت تتبعهم والصخرة كانت المسيح.</li>
<li>ترى هل كشف لهم الرب أيضاً عن الماء الذى سكبه إيليا على ذبيحته، وجاءت نار من السماء كقبول لذبيحة إيليا؟ وهل ربط بين الذبيحة والمعمودية؟ وإن الذين يقبلون ماء العماد وروح الإحراق يدخلون في شركة الذبيحة، ويصيروا هم نفسهم ذبيحة مقبولة على مذبح الله.</li>
<li>أم تكلم الرب عن ماء الراحة الذى إشتهاه داود في المزامير قائلاً: &#8220;إلى مياه الراحة يوردني وكأسك روتني مثل الصرف؟&#8221;.</li>
<li>وهل شمل حديث الرب عن المياه الحية.. الماء الذى رآه حزقيال كنهر ينبع من تحت عتبة المذبح ويتدحرج في العمق شيئاً فشيئًا، إلى أن يصير نهر لا يمكن عبوره.</li>
</ul>
<p>من المؤكد أن الرب لم يترك شيئاً من الرموز القديمة إلا وأعلنها للتلاميذ ليستودعهم سر ماء الحياة الجديدة بقيامته من الأموات. والكنيسة في هذا اليوم تضع إنجيل السامرية لفهمه جيداً بحسب مفاهيم القيامة من الأموات.</p>
<ul>
<li><strong>فالماء الحى كما أعلنه الرب للسامرية: </strong></li>
<li><strong>عطية الله </strong></li>
</ul>
<p>ليس بكيل يعطى الله الروح. وليس بحدود ولا بشروط. بل يفيض إلى حياة أبدية. لا بفضة ولا بذهب، لأن الذين أفتكروا أن يقتنوا الروح بدراهم، قيل لهم: &#8220;لتكن فضتك معك للهلاك&#8221;. وهى عطية بلا مقابل. لكنها لا تعطى إلا لمن يطلب ويسأل بإلحاح.. لو كنت تعلمين عطية الله لطلبت منه فأعطاك ماء حياً. &#8220;وأيضاً يعطي الروح القدس للذين يسألونه&#8221;.</p>
<p>فالروح القدس الذى فينا بالمعمودية لا يعمل فينا إلا بإلحاحنا في الصلاة وتوسلنا إليه، وتسليمه قيادة حياتنا وجحد مشييتنا.</p>
<ul>
<li><strong>تجرى من بطنه</strong></li>
</ul>
<p>فحينما نأخذ الروح القدس في المعمودية، ويصير فينا ينبوع ماء حياة أبدية، لا نقبله من خارج مرة أخرى. بل هو من داخلنا يعمل، وفى داخلنا يتكلم، وفى داخلنا يفيض، وتصير حياتنا كلها متجهة إلى داخل.. وهو في داخلنا مثل الأنهار لا يعرف التوقف، يجدد ذهننا كل يوم، ويجدد نمونا كل يوم.</p>
<p>فخلاصنا ليس لحظة، أو مقابلة مع الرب القائم من الأموات. بل هو عمل مستمر كجريان أنهار حياة.. الروح القدس يكمل خلاصنا كل يوم.. ويجرف أمامه كل الحجارة والقساوة، ويشق فينا مجرى الملكوت.</p>
<ul>
<li><strong>مياه العالم</strong><strong> </strong></li>
</ul>
<p>قال الرب للسامرية: &#8220;من يشرب من هذا الماء يعطش أيضاً&#8221;. ويجب أن ندرك هذا جيداً بحسب نور قيامة المسيح الذي يكشف أمامنا زوال العالم، وإحتقار أباطيله.</p>
<p>فالقيامة كانت قيامة لأرواحنا، لكى لا تشرب من ماء العالم، ولا تقتنع بأفراحه، بل تشرب ماء الروح القدس لتحيا أرواحنا إلى الأبد.</p>
<p>والقيامة أيضاً كانت تقديس لأجسادنا وغسلها بماء حياة. لكي لا تشرب من ماء الشهوات أيضاً. بل تشبع بماء الحياة في القداسة.</p>
<ul>
<li><strong>ليس لى زوج</strong></li>
</ul>
<p>الأقتران بالعالم يحرم النفس من ماء الروح. من إلتصق بزانية صار جسداً واحداً. ومن إلتصق بالرب صار روحاً واحداً.. قيامة الرب أنارت لنا طريق الإلتصاق به في حياة الروح واستحقاق الأرتواء من الماء الحي.</p>
<ul>
<li><strong>روح الكرازة</strong></li>
</ul>
<p>الذى يشرب من الماء الحي الذى يهبه لنا الرب لا يستطيغ أن يسكت لأن ينبوع الروح ينفجر فينا شهادة للمسيح لا تتوقف.</p>
<p>هكذا يبدو في حالة المرأة السامرية تركت جرتها وراحت تبشر وتكرز.. ولكن الموضوع يصير أكثر وضوحاً في حياة التلاميذ عندما شبعوا من ينبوع القيامة، وسكيب الروح القدس، انطلقوا بقوة ألسنة النار إلى العالم كله..</p>
<p>فالذى يكف عن الكرازة بقيامة المسيح من الأموات، يعطل عمل الروح القدس، ويكتم ينبوع المياه في داخله. الكرازة نتيجة حتمية لسريان نهر الروح القدس الذي قبلناه في المعمودية.</p>
<p>من يستطيع أن يوقف تيار النهر الجارف في باطننا؟.. من يستطيع أن يمنع الرسل من الشهادة للمسيح؟.. لا السجون، ولا الإضطهاد، ولا العنف، ولا قوة في الوجود، لأن كلمة الله لا تغير.</p>
<p>لنراجع أنفسنا، أين قوة الكرازة فينا؟.. أين فاعلية ينبوع الماء الحي في حياتنا؟.. ولنحذر لئلا يكون ينبوع ماء الحياة متعطل بسبب كسلنا وإهمالنا.</p>
<p></p>
<h4>الأحد الثالث من الخماسين المقدسة .. للمتنيح القمص بيشوي كامل<a href="#_ftn10" name="_ftnref10">[10]</a></h4>
<p><strong>(يو4: 1- 42)</strong></p>
<p>بسم الآب والآبن ىالروح القدس الإله الواحد آمين</p>
<p><strong>الرب يسوع هو ماء حياتنا</strong><strong>  </strong></p>
<p>أختارت الكنيسة إنجيل المرأة السامرية لكي يكون انجيل الأسبوع الثالث من الخماسين المقدسة.. فالأسبوع اللي فات الكنيسة فهمتنا إن القيامة هي الحياة، وجسد ربنا ودمه هو الحياة، فقدمت لنا الحياة الأبدية، أو القيامة في شخص المسيح الموجود على المذبح &#8220;من يأكلني يحيا الى الأبد&#8221;.</p>
<p>النهاردة الكنيسة بتتكلم عن القيامة بطريقة تانية: لو فيه واحد موجود جوة القبر ومقفول عليه ومربوط.. أسهل لربنا يسوع المسيح -اللي كل شيء سهل أمامه- إنه يقول لعازر هلم خارجاً بكلمة واحدة.. فقيامة الأموات أو أجساد الأموات أسهل من قيامة النفوس.. لكن آدي أنتم شفتم أد أيه الحوار الطويل والمناقشة والجدل عشان ربنا يسوع يقوِّم الست دي من القبر اللي كانت عايشة فيه.. وبكلمة واحدة &#8220;لعازر هلم خارجاً&#8221; كلمة واحدة. ما كلفتش المسيح قيامة لعازر كلمة واحدة.</p>
<p>لكن السامرية لازم بيبتدي يبين لها إن هو محتاج ويقول لها: &#8220;أعطيني لأشرب&#8221; أرجوك. وبعدين يدخل موضوع تاني في السكة إشكال كبير.. حكاية الجنس وإن أنت يهودي وأنا سامرية.. إحنا مش من جنسية واحدة.. وتدخل العصبيات القديمة، واليهود لا يكلمون السامريين.. ده أنتم ما بتكلموناش.. ولو عدى واحد يهودي على واحد سامري ما يقولهوش حتي صباح الخير.. يديله ظهره ودلوقت جاي تقول لي أديني لأشرب؟!.</p>
<p>وربنا يسوع لم يكن محتاج إلى مياه السامرية. لكن كان بيعمل كل جهده لكي يقيم هذه المسكينة.. وابتدأ يكلمها عن الماء الحي.. وابتدأ يكلمها في الأمور الدينية.. وتقول له إن أحنا عندنا حاجات أحسن من اللي عندكم كمان.. وعندنا بير يعقوب وأنتم بتقولوا أورشليم.. واحنا عندنا بير يعقوب اللي شرب منه هو وبنوه ومواشيه..</p>
<p>صدقني يا عزيزي لما قال المسيح بفمه الطاهر أن الأعمال التي أنا أعملها تعملونها وأعظم منها.. أنا عايز أسال أيه الأعمال اللي كانت أعظم من اللي عملها المسيح علشان إحنا نعملها؟!.. المسيح يقول للكنيسة الأعمال اللي إحنا نعملها ها نعمل أعماله واعظم منها.. اناعايز أعرف ايه اللي أعظم منها؟!.. ما فيش أعظم.. لأن الناس افتكرت إن العظمة بتاعة الأعمال بشكلها.. يعني واحد يقوم من القبر.. لكن واحد يتحول من حياة الشر.. مش بس يتوب عن الشر لكن يتحول لإنسان مبشر وخادم للمسيح وكارز له.. ده أصعب من قيامة الناس من الأموات، وزي ماقلت لك إن قيامة لعازر بكلمة واحدة: &#8220;لعازر هلم خارجاً&#8221;، لكن السامرية أخذت من المسيح مشوار طويل جداً.. وحتى تلاميذه ما فهموش هو بيقول أيه..  ولا بيعمل أيه.. ولا الجهد اللي بذله.. ولما رجعوا قالوا له اتفضل كُلْ. قال لهم أنا أكلت خلاص شبعان!!.. قالوا لازم حد جاب له أكل وأحنا غابيبين.. وابتدأوا يتهكموا في داخل نفوسهم ازاي هو كان بيتكلم مع امرأة.. ولم يعلموا أن ربنا يسوع المسيح كان يقيم نفس ليست في القبر ولكن في أعماق الجحيم..</p>
<p>واحنا يا أحبائي.. ربنا بيكشف عن عينينا علشان نشوف العمل الجبار اللي عمله المسيح.. هو بالصليب كان بيفدي الناس اللي كانوا موجودين على الأرض وقتها؟.. ده أنا في القداس بنقول نزل إلى الجحيم من قبل الصليب.. ومعلمنا بطرس بيقول إن هو ذهب وكرز للأرواح التي في السجن..أو في الجب.. وزكريا النبي يتكلم بيقول تعالوا الى الحصن يا أسرى الرجاء تعالوا من الجب.. اخرجوا من الجب.. جب سفلي.. اخرجوا بدم عهده، فتعالوا اطلعوا بدم عهد المسيح.. يا أسرى الرجاء. فاللي عاوز أقوله إن فيه جب سفلي.. وفيه أسرى.. وحكاية القبور اللي فيها ناس الميتين ده موضوع بسيط جداً بجانب العمل اللي عمله المسيح. والمسيح عمل أعظم من قيامة الجسد عندما أقام هذه المرأه.</p>
<p>والكنيسة مشيت علي هذا المنوال. وبتتكلم عن توبة بائيسة اللي كانت فاتحة بيتها للدعارة.. وبنتكلم عن توبة تاييس اللي القديس بيصاريون نزل من الدير مخصوص علشان يتوِّب هذه المرأة بقوة جبارة وقال بدل ما هي تسقط ألاف الشبان أنا أروح أقدر انقذها وراح استلف جنيه من واحد وراح اشتغل خدّام في البيت ده عند الست الشريرة دي. وقعد يستدرجها لغاية لما توّبها وما سبهاش إلا لما وصلها الدير.</p>
<p>هذا العمل عمل بطولي.. عمل أعظم من قيامة الأموات. علشان كدة مش كثير أبداً أن الكنيسه تقول النهاردة أن موضوع تأملنا هو المراه السامرية.</p>
<p>طب إيه علاقة السامرية بقيامه الأموات؟.. بقي الجهد اللي عمله المسيح ده مش قيامة للنفس الغرقانة دي.. وبعدين أنا وأنت نسأل نفسينا أحنا دلوقتي جايين نستعرض حياة السامرية اللي قدمها المسيح؟! ولا الأنجيل ده موجَّه لينا إحنا. طب ما القيامة من الأموات تخصني وتخصك. طب ما أنا غرقان ومحتاج للمسيح يعمل معايا الحوار ده، ومحتاج أن في نهاية الحوار أقوم وأسيب كل الرباطات اللي أنا متربط بيها. أنا وأنت والمرأة السامرية..</p>
<p>علشان كدة الكنيسة بتقدم لنا هذا الحوار النهاردة. واحنا اللي جوه اللي نازلين في أعماق الخطية وأحنا اللي عاوزين المسيح يقوّم نفوسنا. يقوّمنا قيامة أولى.</p>
<p>واحنا اللي بنتكلم عن القيامة الأولى.. قيامة الأرواح.. لأن المسيح جه علشان يقومنا من الخطية.. مش بنتكلم عن القيامة الثانية قيامة الجسد..</p>
<p>ربنا يسوع مسابش المرأة دي غير وهي ساجدة تحت رجليه.. وكلمة ساجدة يعني قبلته في حياتها قبول تام.. طب والماضي بتاعها.. انتهى في ثانية ولحظة.. لأن لقائها مع المسيح بعد الحوار الكبير دة فكك رباطات كثيرة.</p>
<p>هل كان من السهل أن المرأة دي تسيب خمسة من الناس كانت مرتبطة بيهم، وأماكن معينة كانت مرتبطة بيها، وحياة معينة أصبحت جزء من حياتها ما تقدرش تغيرها؟!..</p>
<p>يعني يا عزيزي ممكن تتخيل إن إحنا نجيب إنسانة من الرقاصات الأشرار الوحشين اللي بنسمع عنهم وبعدين الست دي تتحول إلي قديسة عابدة من القديسات الكبار في الكنيسة، ما هي دي معجزة مسيحيتنا. هي المسيحيه لا انتشرت لا بسيف ولا برمح.. ولا جات علشان تستولي على مدن وعلى بلاد وتكبر الرقعة بتاعتها، لكن جاءت، لكن جاءت تقتحم الجحيم نفسه اللي فيه الشر. جاي المسيح اللي قام من الأموات بقوة.. بقوة صليبه ليقتحم كل قلب ويخضع كل فكر لطاعته.</p>
<p>فدية قيامتنا.. وده نصيبنا من القيامة.. ويا ريت موضوع السامرية ده يبقي موضوع تأملنا هذا الأسبوع.</p>
<p>الست دي كانت حالتها تعبانة، مربطة ومقيدة. وزي ربنا يسوع في إنجيل معلمنا يوحنا الأصحاح الثامن قال أن اللي يعمل الخطية هو عبد للخطية. وكانت عبدة وكانت مأسورة وبعدين ربنا يسوع جه وفك كل الرباطات بتاعتها دي.. ودعاها علشان تعيش بعد كدة إنسانة جادة مش تحت قيود.</p>
<p>فاذا كنا إحنا في الأيام اللي فاتت كنا بنتكلم عن الحرية كنصيب لينا في المسيح فتبقى المرأة السامرية دي هي المثل القوي جداً لإنسانة تمتعت فعلاً بالحرية في المسيح يسوع.</p>
<p>واحنا يا أحبائي بدون أي مبالغة كلنا نعلم أن قد أيه الإنسان تحت وطأة الخطية يبقي عبد ويبقي مربوط.. وفي اصطلاح، الأنجيل بيعتبر هذا الرباط موت.</p>
<p>النهاردة الكاثوليكون بيقول إن إحنا علمنا أننا انتقلنا من الموت علشان ايه؟.. قال لأننا نحب الأخوة.. ومن لا يحب أخاه يبقي في الموت. يمكن الموضوع ده يعدي على العالم ببساطة. لكن ميعديش على الكنيسة.. &#8220;ومن لا يحب يبقى في الموت&#8221;، إنسان ميت.. الإنسان اللي بيبغض ده. طب ما أنا ياما القلب بتاعي اتملى بالبغض.. من الكراهية أحيانا بالضغينة.. بقى أنا كنت في الموت؟ لكن ده أنا أياميها كنت بآجي الكنيسة وكنت بأعترف وبأتناول.. والموضوع بسيط خالص أبسط من البساطة.</p>
<p>الكنيسة النهاردة تقول: لا.. اللي قلبه مش متنور بالمحبة يبقي هو عايش في الظلمة.. ويبقى هو في الموت. وبعدين يرجع يقول &#8220;إننا قد أنتقلنا من الموت للحياة لأننا نحب الأخوة&#8221;. أنا بأديلك مثل بسيط.. قد أيه قلب الإنسان يبقي قبر مظلم فعلاً ويبقي محتاج لعملية قيامة.. زي ما بيقول الرسول &#8220;قم أيها النائم واستيقظ من بين الأموات لكي يضيء لك المسيح&#8221;.</p>
<p>ففيه ناس ميتة.. أنا اختبرت هذا الموت. وربما أنت أختبرت هذا الموت. إن الإنسان يتقيد ويتربط ويعيش في ظلمة.. الحقد والكراهية والضغينة والحسد والغيرة. ويبقي قلبه متغاظ ومافيش سلام في الداخل.. يبقى عايش في الظلمة.. طب يا أبونا ما هي ظروف الحياة والناس اللي حوالينا واحتكاكاتنا بيهم..</p>
<p>لكن المسيح جاي علشان خاطر ينور لينا الطريق علشان خاطر يقيمنا. مش أنا بأقول لك هي عملية صعبة هو لو قال للعازر &#8220;هلم خارجاً&#8221; أسهل.. لكن تقول لواحد بينه وبين واحد تار.. ولو تقول لواحد مش قادر ينسى لواحد أساءة حصلت له.. ولا تقول لواحد غيران من واحد وبيحسده.. كل لما يشوفه ما يتصورش شكله ويقول ده كان ما يساويش حاجة دلوقت بقى فوقنا وعمل وعمل وعمل.. طب ده محتاج فعلاً إن المسيح يدخل قلبه ويحرره ويقوّمه .</p>
<p>وماذا نقول يا أحبائي أيضًا عن ضعفاتنا البشرية. إذا كانت عيني البسيطة دي الغلبانة.. اللي بتنطرف بأي حاجة بسيطة. مش عارف أضبطها. ومرات أقول أعيش بعين مقدسة واسلك مع المسيح. والعين اتخلقت علشان أعاين مجده، واشوف الحاجات الحلوة اللي عملها. وبعدين افتكر إيه؟.. المسيح قال &#8220;إن كانت عينك شريرة فجسدك كله يكون مظلم&#8221;.. والظلام هو الموت.. بقى العين لما تبتدي تنظر نظرة شريرة يدخل الموت للجسد كله من الراس للرجلين؟!.. قال إن كانت عينك شريرة فجسدك يكون مظلم. أظن أنا مرّات بل آلاف المرات اشتكي من عيني أنها بتنحرف شمال ويمين، وأنا في كل مرة أنسى أن الموت بيدب في جسدي وبأبص للعملية أنها حكاية بسيطة خالص مع أن المسيح قال &#8220;سراج جسدك هوالعين فإن كانت عينك بسيطة فجسدك كله يكون نيراً وإن كانت عينك شريرة فجسدك كله يكون مظلماً&#8221;.</p>
<p>يا الهي إذاً أنا عايش في الظلمة.. وأنا عايش في الموت.. أنا السامرية بتاعة النهاردة.. المحتاج.. أنك تقول لي يا ربي.. تعال ادخل في حياتي وتعال قومني وفك الرباطات الموجودة فيّ..</p>
<p>وماذا نقول يا أحبائي عن شهوات العالم عندما تربط النفس البشرية وتقيدها رباطات عنيفة جداً، وساعات نسمع قصص نقول احنا مش مصدقين نفسينا فلان ده يتصرف هذه التصرفات؟!.. فلان الرجل المحترم الوقور.. اللي.. اللي كل ده.. البنت الطيبة اللي من البيت الطيب ده.. البنت الممتازة.. كل الحاجات دي، إيه اللي جرى؟!.. إيه اللي جرى؟!..</p>
<p>ده الكتاب المقدس يقول &#8220;كل قتلاها أقوياء&#8221; ده الشيطان وظيفته أول لما عرض الموضوع على حواء عن طريق الحية قال لها بصي: ليه ربنا منعكم من الأكلة دي؟ دي أصلها لازم فيها حاجة.. فيها سر حلو.. من غير ما تذوقها.. يقول لك فوجدت الشجرة أنها شهية للنظر وحسنة للأكل.. وبهية وحسنة.. ده هو أنتِ ذقتيها علشان تقولي أنها حسنة وطعمها حلو ولذيذة وشهية وشكلها حلو.. ويعني ما كنش فيه ثمرة جميلة في الجنة كلها أجمل من الثمرة دي؟!.. ليه يعني؟!!.. يعني الجمال كله انحط في الثمرة دي؟!!.. وبعدين طعمها - وأنتم ما دقتوهاش –  أحلى من أي ثمرة ثانية؟!!.. ده كلام.. أهو ده اللي إحنا بنسميه الشهوة، يستطيع الشيطان يحلّي له الحاجة.. ويمكن الحاجة تكون وحشة.. ومش محتاج ليها.. ولكن يقيده بهذه الشهوة، ويربطه بيها، وشوية شوية يشده.. يشده.. وبعدين أبص الاقيني عايز أطلع من الحاجة اللي اشتهيتها وابتديت أرتبط بيها ومش عارف أطلع.. آجي أفك القيود الاقيني مقيد زي واحد مسجون فعلاً.</p>
<p>مش تعبير صعب لما الكنيسة بتقول: فك المربوطين يا رب.. فيه ناس مربطة.. أنا أعرف إن لعازر مش جوة القبر كان مربوط بأيديه ورجليه.. لكن لا .. ده فيه ناس مربطة كثيرة.. والكنيسة باستمرار بتقول &#8220;أنت الذي تحل المربوطين وتقيم الساقطين.. يا رجاء من ليس له رجاء ومعين من ليس له معين&#8221;. للي فقد الأمل  خالص.. للي ما عندوش أمل.. للي الرباطات مش ممكن يتحرر منها.. آهي دي القيامة.</p>
<p>لأجل هذا يا أحبائي المسيح القائم من الأموات مسيح جبار .. جبار.. مش مسيح ضعيف .. الناس البسطاء تقول لك من لطمك على خدك الأيمن فحول ليه الأيسر.. دي منتهى الضعف.. المسيح اللي كسر شوكة الموت ده مسيح جبار.. المسيح اللي يقيم الموتى ده جبروت الكنيسة.. الكنيسة ما بتنتشرش بقوة مادية.. دي القوة المادية دي للضعفاء. الكنيسة بتمشي بقوة القيامة.. علشان كدة بولس الرسول طالما يتكلم عن القيامة يقول &#8220;لأعرفه وقوة قيامته&#8221;.. فالقيامة قوة يا عزيزي تسري في حياتنا.</p>
<p><strong>الحرية هي ثمرة القيامة</strong>.. آدي نصيبنا في المسيح.. علشان كدة بولس الرسول النهاردة في رسالته لكولوسي اللي اتقرت علينا تقول كدة: &#8220;إن كنتم قد قمتم مع المسيح..&#8221; صحيح أنتم بتتكلموا عن القيامة.. فاطلبوا ما فوق حيث المسيح جالس عن يمين الله. إن كنتم قد قمتم إلى فوق إعملوا زي السامرية.. طب مش عارف يا رب.. قال أنا أعينك، أمّال أنا قمت ليه؟.. أمّال أنا قمت ليه؟.. أنا قمت علشان اقومك.. قال قومني يا ربي.. قال أنت نسيت أن أنت عضو في جسمي.. وده اللي بيقوله بولس الرسول هنا &#8220;إنكم قد قمتم وحياتكم مستترة مع المسيح في الله&#8221;.. يعني أنتم دخلتم كدة عجينة عجنة في جسد المسيح.. والمسيح هو أبن الله بالطبيعة.. فأنتم بقيتم تقولوا لربنا يا أبانا. وأبانا فين؟ هو أبانا.. بس على الأرض؟.. هو أبانا.. بس في السماء؟.. الله غير محدود لا بالسماء ولا بسماء السموات حتى.. ولكن حب يؤكد لنا إنه مادام أنتم قمتم من الأموات اطلبوا ما فوق حيث المسيح جالس، لأنكم قد متم عن الأرضيات، زي السامرية ماتت عن الماضي بتاعها.. وحياتكم  مستترة مع المسيح في الله.. حتى &#8220;متى أظهر المسيح حياتنا&#8221; -الذي هو- حياتنا.. ومتى أظهر المسيح حياتنا فحينئذ تظهرون معه في المجد.</p>
<p>فالقيامة لو تحب أنت تدرسها بنصيبك الحقيقي في الكنيسة.. أنت عضو في جسم المسيح.. والمسيح قام.. فأنت النهاردة قائم من الأموات.. علشان كدة وراها على طول بولس الرسول يكمل ويقول: &#8220;فأميتوا أعضاءكم التي على الأرض الزنا النجاسة، الهوى الشهوة الخبيثة، الطمع الذي هو عباده الأوثان&#8230;</p>
<p>من أجل هذه الشرور يأتي غضب الله على أبناء المعصية.. لأن النفس اللي المسيح اداها هذه الحرية.. وقوّمها من الموت بتاعها وفك كل الرباطات بتاعتها.. ونوَّر القلب بتاعها.. ونوَّر العين.. نوَّر الجسد.. هذه النفس عندما تعود إلى الأهتمامات الأرضية تبقى زي ما المسيح قال عنها كالكلب الذي يعود إلى قيئه والخنزيرة المغتسلة الى مراغة الحمأة .</p>
<p>لكن يا رب تديني فرصة لأنيً ياما كثير رجعت.. ياما كثير رجعت.. مازالت الفرصة قدامنا مادام لينا حياة.. ومادام المسيح القائم من الأموات حي إلى الأبد.. فكما يقول بولس الرسول فلن يسود عليه الموت بعد.. مش ها يموت مرة ثانية.. نحن مدعوون لكي نعيش قوة القيامة وبهجتها.. نحن مدعوون.. فإحنا حياتنا مستترة في المسيح.. السامرية كان المسيح بيقومها لأنها كانت أنسانة منفصلة، بعيدة لسة.. لكن بعد القيامة أصبحنا أعضاء في جسم المسيح.. فالقيامة هي نصيبنا.</p>
<p>لأجل هذا يا أحبائي عندما يتحدث ربنا يسوع عن الحرية.. فهو يخلي موضوع الحرية من اختصاصه شخصياً.. ويبقى كل واحد في الدينا دي بيتكلم عن الحرية، بيتكلم عليها بمفهوم تاني.. بمفهوم عادي.. بمفهوم عالمي.. لكن الحرية الحقيقية حريه النفس.. ليس لانسان سلطان عليها أو يعطيها إلا الله.. &#8220;إن حرركم الابن بالحقيقه تكونون أحراراً&#8221;.. ما حدش ممكن يحررنا ثاني؟.. قال أبداً النفس اللي قبلت المسيح في حياتها.. النفس اللي عاشت المسيح.. النفس اللي اتولدت بالمعمودية.. والنفس اللي حياتها استترت في المسيح.. هي دي النفس اللي قامت وليها حق أن تتمتع بالقيامة من الأموات.. إن حرركم الابن بالحقيقه تكونون أحراراً.. أوعى حد يحاول يغالط فكرك أو ذهنك أو يقنعك إن فيه حرية ثانية تصل إلى نفسك.. أقصد يعني إن المعنى ده واضح.. إن ما فيش سعادة توصل إلى نفسك إلا عن طريق المسيح.. لأن الحرية بتجيب السعادة. الإنسان الحر سعيد.. يقول لك الابن الضال إيه؟!.. لما كان قاعد في بيت أبوه يقوم زملاته العيال الوحشين من بره يقولوا له أيه.. يا غلبان يا مسكين دة أنت عايش في سجن.. يقول لهم ليه؟.. يقولوا له الحرية برة.. أحنا بنسهر.. دة الخدامين بيقولوا له كدة أحنا بنسهر برة، وبنعيش برة وبنعمل كل حاجة و.. و.. إلى آخره.. أنت قاعد في بيت أبوك هنا.. قال إيه؟: فعلاً الكلام ده صح أنا محروم من الحرية..</p>
<p>المسيحي اللي يتطرق إلي ذهنه أن وصية الأنجيل قيدته أو حرمته من متع العالم دا غلطان خالص.. دا مضحوك عليه.. دا الشيطان بيزحلقه.. وبيغرر بيه.. دي الحرية إن أحنا نكون في بيت أبونا.. طب سيبه يطلع بره.. راح الابن الضال ولف لما تعب.. واشتغل عبد.. ومالقاش لقمة ياكلها.. وبعدين قال فيه عبودية أكثر من كدة!.. وبعدين رجع لحضن أبوه.. قال له شفت يا ابني بقي فين الحرية؟!.. قال له يا أبي كنت فاهم غلط.. كنت فاهم غلط.. أن الحرية هي في البعد عن المسيح.. لكن عرفت دلوقتي إن ما حدش يقدر يوهب الحرية للنفس غير المسيح بس.</p>
<p>والحرية يا أحبائي عاشها أولاد ربنا على أعلى المستويات واحنا قدامنا صورة الست دميانة دي.. صورة الست دميانة.. أنا باقول أن الشهداء دول أكثر ناس أختبروا قوة القيامة.. مع أنهم ذبحوهم وموتوهم.. ليه؟.. لأن هم راحوا يواجهوا الموت بنفسية أقوى من الشخص اللي ها ينفذ فيهم حكم الموت.. لدرجة إن في التاريخ أحيانا كان السياف يخاف ويرتعش من الشخص اللي هايقطع رقبته!!.. يقوم الضابط أو الريس اللي موجود يطلع من جيبه فلوس ويوزع ويقول للسياف اللي ها يقطع رأس القديس بطرس خاتم الشهداء ها يأخذ مكافأة كذا.. لأن العساكر خايفة تقرب منه.. يقول لك كان فيه هالة نور كانت على وشه كدة.. الشجاعة والجرأة بتاعته اللي هو بيتقدم بيها.. راحوا للست دميانة.. كتيبة بحالها رايحة تقتل بنت غلبانة زي دي.. وبعدين يقولوا لها الأمبراطور يدعوك إن أنت كذا كذا واغراءات علشان يزحلقها في رباطات في سجن ثاني.. قالت له: لعن الملك وأوثانه.. مش خايفة من الملك؟.. قالت له: لا.. أنا لا بخاف من الملك ولا من أوثانه.. آه .. هي دي الحرية؟.. الحرية: الخوف طلع من القلب .</p>
<p>دلوقتي لو حتي الانسان مليونير وعايش في الدنيا امبراطور وملك .. والخوف ده فيه .. فيه ناس بتموت من الخوف.. وفيه ناس بتموت من القلق.. ودي أمراض.. بيقول لك دي أمراض القرن اللي احنا موجودين فيه..</p>
<p>القيامة تشيل كل ده خالص.. تنظف كل ده من القبر.. تخلي القلب بتاعنا مسكن الله.. تخلي نور القيامة يشع فيه..</p>
<p>قالوا لها طب أبوك انكر الإيمان.. طب علاقة الأبوة دي إيه؟.. الرباط ده مين يقدر فكه.. طيب كتبت جواب لأبوها وقالت له أسمع أرجع للمسيح الحي.. لانك لو ما رجعتش.. أحسن لي يجي لي خبر موتك من إني اسمع إن إنت تركت الإله الحي اللي خلقك وفداك علشان تعبد الأوثان.. دي حرية..</p>
<p>فاحنا يا أحبائي قدامنا النهاردة مثل مجسم.. حلوة الكنيسه بتاعتنا.. بتحط لينا أمثلة عملية.. أهي السامرية هي مربطة بشهواتها، مربطة بأحقادها في القلب.. خللي بالك الكراهية والحقد دي زي ما قال لنا الكاثوليكون النهاردة.. قد انتقلنا من الموت الى الحياة لأننا نحب الأخوة.. أوعى تفتكر إن الكلام ده للناس برة.. لينا أحنا ما فيش حد مننا يمكن ما اختبرش الكراهية والحقد والزعل.. ما فيش حد مننا.. وأنا في  الأول.. لكن ما فكرتش ساعتها إن أنا كنت في عمق الموت.. ولكن المسيح جه علشان.. ينقلنا.. يفك شهواتنا.. يدينا الحرية.. زي ما أعطى المرأة السامرية إن هي تعيش حرة من كل الماضي الوحش بتاعها.</p>
<p>الهنا الصالح قادر أن يعطينا هذه البركة.. بركة هذا اليوم المقدس.. بركة الحرية من شهوات هذا العالم ورباطاته، ومن همومه ومن قلقه.. ومن الكراهية.. ومن كل حاجة وحشة علشان تعيش قلوبنا في ملء الحرية متنورة بنور قيامة المسيح.</p>
<p>لإلهنا المجد دائماً أبدياً آمين.</p>
<p></p>
<h4>والبئر عميقة .. دكتور رمسيس فرج الله<a href="#_ftn11" name="_ftnref11">[11]</a></h4>
<p><strong>(يو4: 11)</strong></p>
<p>على بعد خطوات من البئر التقت شخصيات كثيرة ودار الحديث بينهم، كل يحاول أن تجد سبباً لعودته فارغاً بعد الجهد الذي بذله ليصل إلى البئر. وكان حديثاً رائعاً ظهرت فيه الملامح الحقيقية لطبيعة الإنسان في الهروب من مجابهة نفسه ودورانه حول الأسباب الحقيقية لفشله بإلقاء التبعة على الآخرين أو على أسباب خارجة عن إرادته .</p>
<p>تقدم أحدهم متخذاً لنفسه موقف الناقد المحلل للأمور. العالم بخفايا النفوس، تقدم يلقي باللائمة على أحد العائدين عطاشى من من البئر.. ويدعوه أن يبحث حقيقة دوافعه التي جعلته يذهب للبئر.. ويصل إلى النتيجة الحتمية. إنه لم يذهب ليستقي بل ليلهو ولذلك عاد عندما قابلته أول عقبة. لم يكن جاداً في قرع الباب لذلك لم يفتح له.</p>
<p>واستدار يسائل الثاني لماذا لم يرو ظمأه؟ ولما لم يجب استرسل مبكتا إياه. لقد وصلت متأخراً بعد أن سبقك إلى البئر كثيرون، ولذلك لم تستطع أن تصل إلى الحافة وضاعت جهودك سدى.</p>
<p>وأخذ الرجل يوزع اللوم هنا وهناك إلى أن أفاق على سؤال يوجه إليه فيحرجه إلى لحظات.. وكان الصوت يطلب منه إجابة عن سبب عودته هو نفسه ظمآناً من البئر.. وحاول أن يحتفظ بتوازنه.. فقال وكأنه لا يتكلم إلا الحقيقة خالصة.. إن لماء البئر مذاقاً خاصاً لا يستسيغه، وأن كثيرين اعترفوا بمرارة الماء فلم يرد أن يتذوقه. و تلفت يستطلع الوجوه كي يرى تأثير إجابته على السامعين، لكنه أدرك أنها لم تكن مقنعة فأكمل حديثه مدعيًا أنه قد وجد البئر فارغة .</p>
<p>وعلى حافة البئر كانت الصورة لإمرأة تحاول أن تبتعد عما يمس حياتها، ولكن القدوس الجالس معها جعلها تكشف عن أعمق أسرار هذه الحياة وكان وهو يكلمها يعرف ما يدور على بعد خطوات من البئر ويستمع إلى تبريرات النفس الخاطئة فسمح للسامرية أن تنطق عبارتها الخالدة &#8220;لا دلو لك&#8230; والبئر عميقة&#8221;. لعلها تصل إلى مسامع الهاربين من الحقيقة فتضع أمامهم السبب الحقيقي لعودتهم فارغين.</p>
<p>ليتنا ننتزع أنفسنا من وسط دوامة الحياة ونفحص ذواتنا.. هل امتلأنا. وأغلب الظن أننا سنرى أنفسنا فارغين وقد نكون على بعد خطوات من البئر أو حتى على الحافة . وقد لا تختلف الأسباب في ذلك كثيراًعن الأسباب التي ساقتها الجموع.</p>
<p>مرة ندَّعي أن أناساً من الذين التفوا حوله يحجبون عنا النبع.. ونحملهم مسئولية فتورنا وتكاسلنا ونرجع اليهم في أسباب عثراتنا وانحرافنا .</p>
<p>وقد يكون الملتفون حول المسيح سبباً حقيقياً في هروب الناس منه.. ولكن هذا لن يفيد الهاربين شيئًا ولن يخفف عنهم مسئولية هلاك نفوسهم.. فلقد كانت الجموع كثيرة حول المسيح وكانت ترمي المرأة بنظرات نارية كافية لأن تمنعها من الاقتراب من الينبوع.</p>
<p>لكنها لشدة عطشها الي البر اقتربت لتمتلئ، ونالت فوق ما طلبت عندما غسلت قدميه بدموعها ومسحتهما بشعر رأسها.</p>
<p>وكانت الجموع تسد الطريق إلى المسيح، ولكن إيمان الذين حملوا المفلوج كان كافياً لأن يمتلئ المريض من فيض النبع.. ويحصل على ملء الشفاء .</p>
<p>والجموع رغم دينونتها واستهزائها لم تمنع النفس المشتاقة من أن تصعد فوق الجميزة لترتوي بينما عاد أكثر الملتفين حوله فارغين.</p>
<p>ومرة أخرى قد ندَّعي أن مياه البئر مُرة ونحاول بذلك أن نريح ضمائرنا بأنه لميكن هناك تقصير في الامتلاء .. ولكن هذا الزعم يكذبه اشتياق الكثيرين لنفس البئر.. أكثر من اشتياق الإيل إلى جداول المياه.. بل إن الذين اختبروا وذاقوا ما أطيب الرب هؤلاء تفجرت في داخلهم ينابيع تنبع إلى حياة أبدية، المرارة التي نحسها نحن إذاً ليست ذاتية في مياه البئر ولكنها تعبر عن أن مذاق الحياة الروحية لا يوافق ميولنا الشريرة.</p>
<p>وأخيرا قد نبرر رجوعنا فارغين بأن البئر فارغة، ولكن النفوس ما زالت تأخذ من البئر وتفيض على الآخرين.. هذه النفوس تقف شاهداً حياً على امتلاء البئر واستطاعتها أن تفيض بغنى على الذين يريدون.</p>
<p>وسط الظلام الذي يحيط بنا عندما نتلمس لأنفسنا المعاذير يأتينا صوت السامرية ينير أمامنا الطريق ويكشف لنا السبب الحقيقي في الظمأ رغم وجود البئر الملآنة.. يأتينا صوتها قائلاً &#8220;لا دلو لك.. والبئر عميقة..&#8221; وعمق البئر ينبغي ألا يكون دافعاً للهروب منها بقدر ما يكون حافزاً للإمتلاء..  فهذا العمق يجعل مياهها نقية بعيدة عن مصادر التلوث. وغياب هذه الحقيقة عن أذهاننا كثيراً ما يصرفنا عن البئر نحن الذين تعودنا على السطحية في حياتنا. تعودنا أن نأخذ دون أن نبذل الجهد.. وهذه الحياة السطحية بقدر سهولة الحصول عليها بقدر ما يسهل ضياعها.. والعشب الذي ينمو سريعاً سرعان ما يجف إذ لم يكن له عمق..</p>
<p>وليس كل من اقتنع بعمق البئر قادراً على الإمتلاء.. لأننا نذهب إلى البئر دون استعداد.. إن الدلو شرط أساسي لنحصل على مياه البئر العميقة، وقد نذهب للبئر بدونه ثم نطلب من الذين يستقون. إن كل ما يستطيع أن يقدمه لنا هؤلاء لن يزيد عن رشفة لن تطفىء ظمأنا.. ولكنها تشوقنا فقط لأن نمتلىء وتمهد لنا الطريق لكى نرتوي من نفس النبع.. ويلزمنا بعد ذلك أن نأخذ بأنفسنا.</p>
<p>ذلك هو حالنا عندما نقف على عتبة الحياة الروحية ثم نكتفي بسماع اختبارات الذين سبقونا إلى البئر ونقضى العمر نشتاق، لكثرة ما سمعناه، أن نمتلىء دون أن نختبر بأنفسنا. عندئذ سوف نتعب الليل كله ولن نأخذ شيئاً.. وقد نحاول أحياناً أن نأخذ ولكننا نميل على حافة البئر ونمد أيدينا وأفواهنا ثم نخرجها فارغة لأن البئر عميقة.. هو حالنا عندما نحاول أن نمتلىء روحياً دون دلو.. وبطرق غير روحية.. كأن نقرأ الكتاب المقدس بطريقة خاطئة.. مكتفين بمجرد حفظ أعداد وأسماء.. أو أن ندرسه لاستعماله فقط في القاء عظات نستعرض فيها قدراتنا على التحصيل.. نحن هنا نقف على حافة البئر لكننا لا نمتلىء لأننا بدون دلو.</p>
<p>ولكن كثيراً ما تكون لنا واسطة الامتلاء ونبقى فارغين.. هنا ليتنا نبحث عن ثقوب بالدلو تتسرب منها المياه حتى وإن امتلأ ظاهرياً.</p>
<p>قد تكون لنا أوقات مقدسة للصلاة. ونحس بالعزاء ولكن سرعان ما يتبدد سلامنا وعزاؤنا عندما ينتابنا الفتور أو عندما توجد خطية رابضة في القلب تستنزف كل الملء الروحي. قد تكون لنا خدمات روحية وحارة ولكن الشيطان يحفر فيها ثقوباً تتسرب منها كل البركات التي كان ممكناً أن تحصل للخدام وللمخدومين فنتعب ولكننا لا نجد ثمر. و نصل إلى البئر، ونتمنى لنسقط فيه الدلو ونسمع صوت امتلائه ثم نرفعه فندهش إذ نجده فارغاً، إن أهواءنا الشخصية وغرورنا واعتمادنا على ذواتنا وفتور محبتنا كلها ثقوب في الدلو يكفي واحد منها لأن يتسرب خلاله كل الملء الروحي .</p>
<p>عند إحساسنا بالظمأ ليتنا نختلي .. لننصت لصوت السامرية ينادينا من جديد.. ولكن لنصل بلجاجة حتى لا نخدع بمظهر الدلو ولمعانه الخارجي ونتناسى ما به من ثقوب.</p>
<p></p>
<hr />
<p><a href="#_ftnref1" name="_ftn1">[1]</a>  تفسير مزمور ٢٥ - القمص تادرس يعقوب ملطي.</p>
<p><a href="#_ftnref2" name="_ftn2">[2]</a>  تفسير سفر الأمثال - المقدمة - القمص تادرس يعقوب ملطي.</p>
<p><a href="#_ftnref3" name="_ftn3">[3]</a>  تفسير إنجيل يوحنا - الإصحاح الرابع - القمص تادرس يعقوب ملطي.</p>
<p><a href="#_ftnref4" name="_ftn4">[4]</a>  كتاب تعليقات لامعة علي سفر التكوين للقديس كيرلس عمود الدين - صفحة ٣٠٢ - ترجمة دكتور جورج عوض إبراهيم - ومراجعة دكتور نصحي عبد الشهيد.</p>
<p><a href="#_ftnref5" name="_ftn5">[5]</a>  كتاب حديث الرب مع السامرية - صفحة ١٥ -  ترجمة وإعداد القمص مرقوريوس الأنبا بيشوي.</p>
<p><a href="#_ftnref6" name="_ftn6">[6]</a>  كتاب الحب الإلهي - صفحة ١٤٦ - القمص تادرس يعقوب ملطي.</p>
<p><a href="#_ftnref7" name="_ftn7">[7]</a>  تفسير إنجيل يوحنا - الإصحاح السابع -  القمص تادرس يعقوب ملطي.</p>
<p><a href="#_ftnref8" name="_ftn8">[8]</a>  كتاب المنجلية القبطية الأرثوذكسية - صفحة ٣٩٩ - البابا تواضروس الثاني.</p>
<p><a href="#_ftnref9" name="_ftn9">[9]</a>  كتاب تأملات روحية في قراءات أناجيل آحاد السنة القبطية - المتنيح القمص لوقا سيداروس</p>
<p>.</p>
<p><a href="#_ftnref10" name="_ftn10">[10]</a>  كتاب عظات مضيئة معاشة - صفحة 370 - إصدار مطرانية ملوي وأنصنا والأشمونين.</p>
<p><a href="#_ftnref11" name="_ftn11">[11]</a>  مجلة مدارس الاحد - فبراير ١٩٦٦ – صفحة 20.</p>

      {% endcreateArticleAccordions %}
    </section>
  {% endblock %}
  