---
layout: 'layouts/reading.html'
title: 'يوم الأثنين من الأسبوع الثالث للخماسين المُقَدَّسَة'
permalink: pentecost/3-1.html
---
  {% block content %}
    <section id="readings">
      <ul>
      {% if 'undefined' != 'undefined' %}
      
      {% else %}
      {% if '19.96:5-6' != 'null' %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">العشية</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeVespers '19.96:5-6' '40.18:1-5' %}
          </div>
        </div>
      </li>
      {% endif %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">باكر</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeMatins '19.19:1-2' '40.17:10-13' '' %}
          </div>
        </div>
      </li>
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <h3 class="flex items-center justify-between">
            <span class="kufi">القداس</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </h3>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeLitugy '45.2:4-7' '62.2:15-17' '44.4:23-27' '19.7:1,17' '43.7:39-42' %}
          </div>
        </div>
      </li>

      {% endif %}
        </ul>
    </section>
    <section id="article">
      <h3 class="mt-8 mb-4 heading-explain">شرح القراءات</h3>
      {% createArticleAccordions %}
        <h3>بساطة الإعلان</h3>
<p>تتكلم قراءات هذا اليوم عن <strong>بساطة الإعلان</strong>.. فالإحساس بالحضور الإلهي ليس شيئاً معقداً أو مستحيلاً أو غامضاً، بل كما يقول القديس أثناسيوس الرسولي: [أن الإنسان بالحس الدقيق يمكنه أن يتجه إلى الله].. فالنعمة قريبة من كل إنسان حتى ولو لم يشعر بذلك، كما يقول القديس أغسطينوس: [كُنْتَ قريباً مني لكن لشقاوتي كُنْتُ بعيداً عنك].</p>
<p></p>
<h4>المزامير</h4>
<p>لذلك تتكلم المزامير عن:</p>
<ul>
<li>الكون صنعة يد الله.</li>
<li>وكيف يستعلن الله في جمال الخليقة.</li>
<li>وكيف يقود هذا الإستعلان الكوني النفس البشرية لتسبيح الله وتمجيده.</li>
<li>&#8220;أما الرب فصنع السموات. الإعتراف والبهاء قدامه&#8221; (مز٩٥: ٤).</li>
<li>&#8220;السموات تذيع مجد الله والفلك يخبر بعمل يديه&#8221; (مز ١٨: ١، ٢).</li>
<li>&#8220;أعترف للرب على حسب عدله وأرتل لإسم الرب العلي&#8221; (مز٧: ١٩).</li>
</ul>
<p></p>
<h4>الإنجيل</h4>
<ul>
<li>وفي <strong>انجيل عشية </strong>عن أن ← <strong>معاينة الملكوت لا تعطى ولا تمنح إلا لمن هم في بساطة ونقاوة الأطفال </strong>&#8220;وقال الحق أقول لكم إن لم ترجعوا وتصيروا مثل هذا الصبي فلا تدخلوا ملكوت السموات&#8221;.</li>
<li>وفي <strong>انجيل باكر</strong> عن ← <strong>عدم استعلان الحق الإلهي للكتبة في شهادة يوحنا المعمدان وفي صليب رب المجد نتيجة رفضهم معرفة الحق </strong>&#8220;إن إيليا قد أتى ولم يعرفوه بل عملوا به كل ما أرادوا. كذلك ابن الانسان أيضاً سوف يتألم منهم&#8221;.</li>
</ul>
<p></p>
<h4>البولس</h4>
<p>وفي البولس عن ← <strong>إستعلان الحياة الأبدية للتائبين وظهور قصاص الله العادل لقساوة القلوب </strong>&#8220;ولكن من أجل قساوتك وقلبك الذي لا يتوب تذخر لنفسك غضباً في يوم الغضب وظهور حكم الله العادل&#8230; وأما الذين قد ثبتوا بالصبر في الإيمان والأعمال الصالحة يطلبون المجد والكرامة والبقاء فإنه يؤتيهم الحياة الأبدية.&#8221;</p>
<p></p>
<h4>الكاثوليكون</h4>
<p>وفي الكاثوليكون عن ← <strong>ما يعوق إستعلان الله ومحبته فينا، محبة العالم ممثلة في شهوة الجسد وشهوة العيون وتعظم المعيشة </strong>&#8220;فإن أحب أحد العالم فليست فيه محبة الله&#8221;.</p>
<p></p>
<h4>الابركسيس</h4>
<p>وفي الابركسيس عن ← <strong>استعلان الله في الكون وإخفاؤه عن أفكار الأمم ومؤامراتهم </strong>&#8220;يا رب أنت هو الله الذي خلقت السماء والأرض والبحار وكل ما فيها&#8230; لماذا إرتجت الشعوب وفكرت الأمم بالباطل قامت ملوك الأرض ورؤسائها وإئتمروا جميعاً على الرب وعلى مسيحه&#8221;.</p>
<p></p>
<h4>انجيل القداس</h4>
<p>وفي انجيل القداس عن أن ← <strong>الصليب والقيامة هما مدخل إستعلان الله للبشرية، وأن الروح القدس هو روح الاستعلان بعدما تمجدت الطبيعة البشرية بالصليب والقيامة </strong>&#8220;قال هذا عن الروح الذي كان المؤمنون به مزمعين أن يقبلوه لأن الروح لم يكن قد حل بعد لأن يسوع لم يكن قد تمجد بعد&#8221;.</p>
<p></p>
<h4>ملخص الشرح</h4>
<ul>
<li> تحيا النفس في تسبيح دائم للرب المستعلن في الكون والخليقة. (مزمور عشية – مزمور باكر &#8211; مزمور القداس).</li>
<li> معاينة الملكوت لا تُمنح إلا لمن هم في بساطة الأطفال. (انجيل عشية).</li>
<li> رفض الكتبة معرفة الحق فأُخفيت عنهم شهادة الملكوت. (انجيل باكر).</li>
<li> إستعلان الحياة الأبدية للتائبين وظهور قصاص الله العادل لقساة القلوب. (البولس).</li>
<li> محبة العالم تعوق إستعلان محبة الله لنا. (الكاثوليكون).</li>
<li> استعلان الله في الكون كله ومخفي عن أفكار الأمم ومؤامراتهم. (الابركسيس).</li>
<li> الروح القدس هو روح الإستعلان بعدما تمجدت الطبيعة البشرية بالصليب والقيامة. (إنجيل القداس).</li>
</ul>
<p></p>
<h3>عظات آبائية للأثنين من الأسبوع الثالث (أحد الخبز) من الخمسين يوم المقدسة</h3>
<h4>من الرسائل الفصحية &#8211; للقديس أثناسيوس الرسولي<a href="#_ftn1" name="_ftnref1">[1]</a></h4>
<p><strong>لتستنر أذهانكم بنور الرب.</strong></p>
<p>إخوتي..</p>
<p>إننا ننتقل هكذا من أعياد الى أعياد، ونسير من صلوات إلى صلوات، ونتقدم من أصوام إلى أصوام، ونربط أياماً مقدسة بأيام مقدسة.</p>
<p>لقد جاء مرة أخرى الوقت الذي يجلبنا إلى بداية جديدة، تعلن عن الفصح المبارك الذي فيه قدم الرب ذبيحة.</p>
<p>إننا نأكله بكونه طعام الحياة، ونتعطش إليه مبتهجة نفوسنا به كل الأزمان، كأنه يفيض بدمه الثمين.</p>
<p>إننا نشتاق إليه على الدوام شوقاً عظيماً، وقد نطق مخلصنا بهذه الكلمات في حنو محبته موجهاً حديثه إلى العطشى، إذ يريد أن يروي كل عطشان إليه، قائلاً &#8220;إن عطش أحد فليأت إليَّ ليشرب&#8221; (يو7: 37).</p>
<p>ولا يقف الأمر عند هذا الحد أنه إذا جاءه أحد يروي عطشه فحسب، بل عندما يطلب إنسان يعطيه المخلص بفيض زائد مجاناً. لان نعمة الوليمة لا يحدها زمن معين ولا ينقص عظمة بهائها، بل هي دائماً قريبة تضىء أذهان المشتاقين إليها برغبة صادقة. لأن في هذه الوليمة فضيلة دائمة يتمتع بها ذوي العقول المستنيرة المتأملين في الكتاب المقدس نهاراً وليلاً، وذلك مثل الرجل الذي وهب نعمة كما جاء في المزامير &#8220;طوبى للرجل الذي لم يسلك في مشورة المنافقين وفي طريق الخطاة لم يقف وفي مجلس المستهزئين لم يجلس. لكن في ناموس الرب يلهج ناراً وليلاً&#8221; (1:1، 2)، لأن مثل هذا لا تضىء له الشمس أو القمر أو مجموعة الكواكب الأخرى، بل يتلألا ببهاء الله الذي هو فوق الكل.</p>
<p><strong>بركات العيد</strong></p>
<p>أعزائي.. إن الرب هو الذي سبق فأعد لنا أولاً هذا العيد، وهو الذي تعطف بنا ويتحنن علينا بأن نعيد به عاماً بعد عام فقد أرسل ابنه للصليب من أجلنا، ووهبنا بهذا السبب العيد المقدس الذي يحمل في طياته كل عام شهادة بذلك، إذ يتم العيد كل عام في نفس الوقت (بنفس المناسبة).</p>
<p>وهذا أيضاً ينقلنا من الصليب الذي قدم العالم الى ذاك الذي هو موضوع أمامنا، إذ منه ينشئ لنا الله فرحاً بالخلاص المجيد، وبحضرنا الى نفس الإجتماع، ويوحدنا في كل مكان بالروح، راسماً لنا صلوات عامة، ونعمة عامة تحل علينا من العيد.</p>
<p>فإن هذا هو عجب محبته المترفقة، أنه يجمع في نفس المكان من هم على بعد، ويقرب أولئك الذين هم بعيدين بالجسد ليكونوا بروح واحد.</p>
<p><strong>لنذكر بركات الله لنا</strong></p>
<p>لهذا ألا نعرف يا أحبائي النعمة التي تنبع من قدوم العيد؟!!..</p>
<p>أما نرد شيئاً لذاك الذي هو محسن علينا؟!!..</p>
<p>حقاً إنه يستحيل أن نرد لله حسناته علينا، لكنه أمر شرير أن نأخذ الهبات ولا نعرفها.</p>
<p>والطبيعة نفسها تشهد بعجزنا، لكن إرادتنا توبخ جحودنا. لهذا فإن بولس الطوباوي عندما كان يتعجب من عظم بركات الله قال &#8220;من هو كفؤ لهذه الأمور&#8221; (2كو2: 17) لأنه قد تحرر العالم بدم المخلص، وبالموت داس الموت، ممهداً طريق الأمجاد السماوية بغير عقبات أو حواجز لهؤلاء الذين ينمون.</p>
<p>لهذا عندما أدرك أحد القديسين النعمة مع عجزه عن أن يرد الله مقابلها قال &#8220;ماذا أرد للرب من أجل كثرة حسناته لي&#8221; (مز116: 12).</p>
<p>لأنه عوض الموت تقبل حياة، وبدل العبودية نال حرية، وبدل القبر وهب له ملكوت السموات.</p>
<p>لأنه منذ وقت قديم &#8220;تسلط الموت من أدم إلى موسى&#8221;، أما الآن فان الصوت الإلهي قال &#8220;اليوم تكون معي في الفردوس&#8221;. وإذ يشعر الإنسان القديس بهذه النعمة يقول &#8220;لولا أن الرب كان معي، لهلكت نفسي في الهاوية&#8221; (راجع رو5: 14؛ لو23: 43؛ مز94: 17).</p>
<p>علاوة على هذا، يشعر الإنسان بعجزه عن أن يرد الرب عن احساناته، لكنه يعرف عطايا الله كاتباً في النهاية &#8220;كأس الخلاص أتناول وباسم الرب أدعو.. عزيز في عيني الرب موت اتقائه&#8221; (مز116: 13، 15).</p>
<p>أما عن الكأس، فقد قال الرب &#8220;أتستطيعان أن تشربا الكأس التي سوف أشربها أنا؟!&#8221; (مت20: 22). ولما قبل التلميذان هذا، قال لهما &#8220;أما كأسي فتشربانها.. وأما الجلوس عن يميني وعن يساري فليس لي أن أعطيه إلا الذين أعد لهم من أبي&#8221; (مت20: 23).</p>
<p>لهذا يلزمنا أيها الأحباء أن تكون لنا حساسية من جهة العطية، حتى وإن وجدنا عاجزين عن رد احسانات الرب، إنما يلز منا أن ننتهز الفرصة.</p>
<p>فإن كنا بالطبيعة عاجزين عن أن نرد &#8220;للكلمة&#8221; أمور تليق به، عن تلك البركات التي أغدق بها علينا، فلنشكره إذ نحن محفوظون في التقوى. وكيف يمكننا أن نربط بالتقوى إلا بتعرفنا على الله الذي من أجل حبه للبشر قدم كل هذه البركات؟! «فإننا بهذا نحفظ الشريعة في طاعة لها، سالكين في الوصايا، لأنه بكوننا غير جاحدين بل شاكرين إياه لا نكون مخالفين للناموس ولا مرتكبين لأمور مكروهة، لأن الله يحب الشاكرين».</p>
<p>وأيضا عندما نقدم أنفسنا للرب مثل القديسين، عندما نصف أنفسنا بأننا لا نحيا لنفوسنا بل للرب الذي مات من أجلنا، كما فعل بولس الطوباوي عندما قال &#8220;مع المسيح صلبت فأحيا لا أنا بل المسيح يحيا فيَّ&#8221; (غل2: 20).</p>
<p><strong>لنقدم  له من الذي له فينا</strong></p>
<p>والآن أيها الأخوة تكمن حياتنا حقيقة في نبذنا الأمور الجسدية وتمسكنا بثبات في الأمور الخاصة بمخلصنا وحدها. فالموسم الحالي لا يتطلب منا مثل هذا الكلام فحسب بل والاقتداء بأعمال القديسين.</p>
<p>لنقتد بهم، ذلك إن عرفنا ذاك الذي مات &#8220;عنا&#8221; فلا نعود بعد لأنفسنا بل للمسيح الساكن فينا.</p>
<p>وإذ نرد إلى ربنا قدر طاقتنا، إنما نرد إليه لا من عندياتنا بل بتلك الأشياء التي أخذناها منه، التي هي نعمته، فهو يسألنا عطاياه التي وهبنا إياها. وقد حمل شهادة بذلك بقوله أن الذي تعطوني إياه إنما هو عطایاي (راجع عد 28: 2) لأن ما تعطوني كأنه منكم إنما قد نلتموه مني إذ هو عطية من قبل الله.</p>
<p>لنقدم لله كل فضيلة وقداسة صحيحة هي فيه، ولنحفظ العيد الذي له في تقوى بهذه الأمور التي قدسها لأجلنا.</p>
<p>لنعمل في الأعياد المقدسة.. مستخدمين نفس الوسائل التي تقودنا إلى الطريق نحو الله.</p>
<p>ولكن ليتنا لا نكون مثل الوثنيين أو اليهود الجهلاء أو الهراطقة أو المنشقين.. فالوثنيين يظنون أن العيد يظهر بكثرة الأكل. واليهود إذ يعيشون في الحرف والظلال يحسبون هكذا. والمنشقون يعيدون في أماكن متفرقة بتصورات باطلة.</p>
<p>أما نحن يا إخوتي فلنسمو على الوثنيين حافظين العيد بإخلاص روحي وطهارة جسدية. ولنسمو على اليهود فلا نعيد خلال حرف وظلال، بل بكوننا قد تلألأنا مستنيرين بنور الحق ناظرين إلى شمس البر (مل 4: 2) ولنسمو على المنشقين فلا نمزق ثوب المسيح بل لنأكل في بيت واحد هو الكنيسة الجامعة فصح الرب الذي بحسب وصاياه المقدسة يقودنا إلى الفضيلة موصياً بنقاوة هذا العيد. لأن الفصح حقاً خالٍ من الشر، للتدرب على الفضيلة والانتقال من الموت إلى الحياة.</p>
<p>هذا ما يعلم به بالرمز الذي جاء في العهد القديم. لأنهم تعبوا كثيراً للعبور من مصر إلى أورشليم، أما الآن فنحن نخرج من الموت إلى الحياة. هم عبروا من فرعون إلى موسى، أما نحن فاننا نقوم من الشيطان لنكون مع المخلص.</p>
<p>وكما أنه في مثل ذلك الوقت يحملون شهادة سنوية عن رمز الخلاص هكذا فإننا نحن نصنع ذكرى خلاصنا. نحن نصوم متأملين في الموت، لكي نكون قادرين على الحياة.</p>
<p>ونحن نسهر ليس كحزانى، بل منتظرين الرب، متى جاء من العرس حتى نعيش مع بعضنا البعض في نصرة، مسرعين في اعلان النصرة على الموت.</p>
<p><strong>کيف نعيد؟</strong></p>
<p>ليتنا يا أحبائي، نحكم أنفسنا  كما تتطلب الكلمة  في كل الأوقات ونحكم أنفسنا حكماً تاماً، وهكذا نعيش دون أن ننسى قط أعمال الله العظيمة، ولا تنفصل قط عن مارسة الفضيلة!</p>
<p>وكما ينذرنا الصوت الرسولي قائلاً &#8220;أذكر يسوع المسيح المقام من الأموات&#8221; (2تي2: 8)، دون أن يشار إلى زمن محدود بل أن يكون ذلك في فكرنا في كل الأوقات.</p>
<p>ولكن لأجل كسل الكثيرين نحن نؤجل من يوم الى يوم. فلنبدأ إذاً من هذه الأيام!.</p>
<p>لقد سمح بوقت التذكر (بقيامة المسيح) لأجل هذا الهدف حتى يظهر للقديسين جزاء دعوتهم، وينذر المهملين موبخاً إياهم.</p>
<p>لهذا فإنه ليتنا في كل الأيام الباقية نكون محفوظين في سلوك صالح، ويكون عملنا التوبة عن كل ما نهمل فيه، لأنه لا يوجد إنسان قط معصوم من الخطأ، ولو كانت حياته يوماً واحداً على الأرض، كما يشهد بذلك أيوب الرجل البار.</p>
<p>وإذ نمتد الى ما هو قدام (في3: 13)، ليتنا نصلي ألا نتناول الفصح بغير استحقاق حتى لا نكون في خطر.</p>
<p>لأن الذين يحفظون العيد في نقاوة يكون الفصح طعامهم السماوي، أما الذين ينتهكون العيد بالدنس والإستهتار، فإنه بالنسبة لهم يكون موبخاً وخطيراً، فإنه مكتوب بأن من يأكله أو يشربه بدون استحقاق يكون مجرماً في جسد (موت) الرب (راجع 1كو 11: 27).</p>
<p>لذلك ليتنا لا نقف عند مجرد تنفيذ الطقوس الخاصة بالعيد، بل نستعد للاقتراب للحمل الإلهي ونلمس الطعام السماوي.</p>
<p>لننقي أيدينا ونطهر الجسد. لنحفظ فكرنا كله من الدنس، فلا نسلم أنفسنا للكبرياء والشهوات، بل ننشغل دوماً بربنا وبالتعاليم الإلهية، حتى إذ نكون بالكلية طاهرين نستطيع أن نكون شركاء مع الكلمة.</p>
<p><strong>موعد العيد</strong></p>
<p>أننا نبدأ العيد المقدس في الرابع عشر من برمودة (٩ أبريل) في (أول) عشية الأسبوع، وينتهي في التاسع عشر من نفس شهر برمودة (١٤أبريل) ويكون اليوم الأول من الأسبوع المبارك هو ٢٠ من نفس شهر برمودة (١٥أبريل) الذي نضيف اليه السبعة أسابيع التي للبنديكستي؛ وذلك بصلوات، وبمحبة الأقرباء (القريب هنا يعني كل انسان)، ومحبتنا لبعضنا البعض، وأن نكون في سلام مع الكل.</p>
<p>أننا بهذا نكون ورثة ملكوت السموات، خلال ربنا يسوع المسيح، الذي له مع الآب كل مجد وسلطان إلى أبد الآبدين. آمين.</p>
<p>يسلم عليكم كل الإخوة الذين معي.</p>
<p>قبِّلوا بعضكم بعضاً بقبلة مقدسة.</p>
<p></p>
<h4>شرح لأنجيل القداس &#8211; القديس كيرلس الأسكندري<a href="#_ftn2" name="_ftnref2">[2]</a></h4>
<p><strong>(يو 7: 40، 41)</strong><strong> &#8220;فكثيرون من الجمع لما سمعوا هذا الكلام قالوا: هذا بالحقيقة هو النبي.آخرون قالوا: هذا هو المسيح حقا!&#8221;. </strong></p>
<p>أصابتهم الدهشة لثقته في ألوهيته، وإذ أدركوا أن كلماته لم تعد بعد تقاس بمقاييس إنسانية، راحوا يلجأون إلى تذكر الناموس، باعتباره قد أنبأ قبلاً عن المسيح قائلاً إن &#8220;نبيا&#8221; سيقام مثل موسى الكامل الحكمة، وهذا النبي سيفسر لإسرائيل كلمات الله، لأنه هكذا يقول الله عنه لموسى المقدس: &#8220;أقيم لهم نبيا من وسط إخوتهم مثلك، وأجعل كلامي في فمه، فيكلمهم بكل ما أوصيه به&#8221; (تث١٨:١٨). إذن فمن كلامه، ومن سمو أقواله، يقولون الآن إنه قد أظهر لهم إنه هو ذاك الذي تنبأ عنه موسى. فمن هو الذي يحق أن يقال عنه &#8220;إن عطش أحد فليقبل إليَّ ويشرب. من آمن بي، كما قال الكتاب، تجري من بطنه أنهار ماء&#8221; (٣٧، ۳۸). سوى الله بالطبيعة؟ وهذا هو &#8220;المسيح&#8221;. وحتى رغم أن اليهود كانوا يفكرون فيه باحتقار، فيدعونه مجرد نبي، غير عارفين سمو عمانوئيل وأنه فوق الجميع، بل يضعونه كواحد مثل الباقين، فإنهم في هذا أيضا يضبطون وقد فكروا دون فهم على الإطلاق للأفكار التي يحويها الناموس: لأنهم يحسبون أن &#8220;المسيح&#8221; شخص آخر خلاف &#8220;نبي&#8221; الناموس.</p>
<p>ولا عجب إن كان الناس يفتقدون الدقة في هذا الأمر، حيث إن جموع الفريسيين المتغطرسين المقاومين لله هم أنفسهم مرضى بنفس جهل الشعب. لأنهم وهم مندهشون من الطوباوي المعمدان قالوا مرة: &#8220;فما بالك تعمد إن كنت لست المسيح، ولا إيليا، ولا النبي؟&#8221; (يو ١ : ٢٥). لأنهم إذ كانوا ينتظرون مجيء أثنين، أعني نبي الناموس أي المسيح، وإيليا، فقد استفسروا عن ثلاثة متخيلين أن النبي شخص آخر غير يسوع. من المناسب إذن أن يقول المرء عنهم ما قيل بالنبي حزقيال &#8220;مثل الأم بنتها. إبنة أمك أنت&#8221; (حز ١٦: ٤٥،٤٤). لأن الشعب سقيم بمرض من نوع مرض رؤسائهم. لكن يجب أن نلاحظ أنهم كانوا قد كمل إعدادهم للإيمان، وأقنعتهم كلمات يسوع أن يعجبوا به، ومع ذلك إذ لم يتوفر لهم إرشاد الرؤساء، تشتتوا بين أفكار متعددة، فالبعض يسمونه &#8220;بالنبي&#8221; وآخرون يدعونه &#8220;المسيح&#8221; ويؤمنون أنه هو &#8220;المسيح حقا&#8221; وبقولهم يؤكدون على بلوغهم كمال اليقين وقبولهم الإيمان به.</p>
<p><strong>(يو ٧ : ٤٢ )</strong>: <strong>&#8220;وآخرون قالوا: ألعل المسيح من الجليل يأتي؟ ألم يقل الكتاب انه من نسل داود، ومن بيت لحم، القرية التي كان داود فيها، يأتي المسيح؟&#8221;.</strong></p>
<p>كان اليهود يبحثون عن المسيح بإهتمام، لأنهم وجدوا وقد تعمقوا في كل فكرة، وفي أفكار عديدة متنوعة كانوا يتلمسون إدراك الحق لأنهم إذ تعجبوا أولا من كلماته، وصارت لهم ثقة تامة في تعاليمه كمرشد لتفكيرهم في أنه عظيم، كانوا يبحثون أيضا في الكتاب الإلهي، ظانين أنهم واجدون فيه فهماً لا يشوبه خطأ منه. لأنه هذه هي طبيعة &#8220;الكتاب&#8221;. فهو سيكون إذن من نسل الطوباوي جداً &#8220;داود&#8221; وسيظهر في &#8220;بيت لحم&#8221; اليهودية، هكذا يؤمنون إذ أقنعتهم النبوات الخاصة بهذا الأمر، لأن المرنم الحكيم يقول في موضع ما: &#8220;أقسم الرب لداود بالحق لا يرجع عنه: من ثمرة بطنك أجعل على كرسيك&#8221; (مز۱۱:۱۳۲)، ويقول &#8220;أما أنت يا بيت لحم افراتة، وأنت صغيرة أن تكوني بين ألوف يهوذا، فمنك يخرج لي الذي يكون متسلطاً على إسرائيل، ومخارجه منذ القديم، منذ أيام الأزل&#8221; (مي٥ :٢). لكن ذهن اليهود  بغيرسند. قد ضل وفشل في إدراك حقيقة المسيح لمجرد أن &#8220;الناصرة&#8221; تقع في الجليل، حيث إن الخبر الشائع أن ربنا قد تربى هناك. لأنه هكذا يقول أحد الإنجيليين القديسين &#8220;وجاء إلى الناصرة حيث كان قد تربى&#8221; (لو١٦:٤)، لكنهم لم يعرفوا أنه ولد في بيت لحم اليهودية من العذراء القديسة التي كانت من نسل داود «لأنها كانت من سبط يهوذا بالنسب» ولمجرد معرفتهم أن ربنا قد تربى في الناصرة، سقطوا عن الحق وأعوزهم التفكير السليم.</p>
<p></p>
<h3>كنوز الروح القدس &#8211; القديس يوحنا ذهبي الفم<a href="#_ftn3" name="_ftnref3">[3]</a></h3>
<p>لقد تناولنا في العظة السابقة، وما قبلها، عبارة رسولية واحدة، وجعلنا كلامنا منصباً على تفسير هذه العبارة &#8220;فإذ لنا روح الإيمان عينه حسب المكتوب آمنت لذلك تكلمت&#8221;</p>
<p>واليوم سنتوقف عند هذه العبارة، وهذا أنا أفعله حتى تنتفعوا أنتم لا لكي أظهر أنا. لأن هذا الموضوع قد إستحوذ علي مرة أخرى، لا لكي أظهر أمامكم بإعتباري الحكيم، كثير الخبرة والمعارف، بل لكي أكشف لكم حكمة الرسول بولس، وأفتح شهيتكم لسماع هذا الكلام. لأنه من الواضح أن عمقه الروحي يكون أفضل، عندما يولد لنا من عبارة واحدة، نهر غني من المعاني. وأنتم أيضاً لو علمتم أنه من خلال كلمة رسولية واحدة، يمكن للمرء أن يثمر بغنى ووفرة، ويقتني حكمة لا يعبر عنها، فإنكم لن تعبروا على رسائله هكذا بسطحية وعدم تدقيق، بل ستتحركوا مقتاتين على الرجاء بأنكم ستتوقفوا على كل عبارة موجودة داخل الرسائل لتكشفوا معناها وأهميتها. لأنه إذا كانت عبارة واحدة فقط قد أفرزت لنا ثلاث عظات، فكم من الكنوز ستتدفق لنا لو تناولنا مقطعاً كاملاً، وتعمقنا في فهمه بالتدقيق؟ وبناء على ذلك، ينبغي أن لا نتوقف، قبل العودة إلى كل العبارات الإلهية. لأنه لو كان أولئك الذين يحفرون الأرض، حتى يستخرجون الذهب، قد أستخرجوا الكثير منه، فإنهم لن يتوقفوا حتى يخرجوا كل ما وجدوه، فبالأكثر جداً ينبغي علينا نحن أن نظهر شوقاً وإهتماماً، تجاه البحث في العبارات الإلهية، لأننا نحفر ونستخرج الذهب، لكن ليس المادي المحسوس، بل الذهب الروحي. فنحن لا نعمل في المعادن التي تستخرج من باطن الأرض، بل في كنوز الروح القدس. ورسائل القديس بولس هي كنوز وينابيع لا تنضب وهى خامات متنوعة، لأنها تعطينا كنوزاً ثمينة أكثر قيمة من الذهب، وهى بالحق ينابيع متدفقة، لأنها لاتجف أبداً، وبقدر ما تأخذ منها، على قدر ما تنساب مرة أخرى أكثر فأكثر، وهذا يظهره الزمن الذى عبر بكل وضوح. لقد عاش القديس بولس قبل خمسمائة عام، وخلال هذه الفترة الزمنية الطويلة، فإن كثيرين من الكتاب، والمعلمين والباحثين، قد أخذوا الكثير من رسائله، ومع ذلك، فإن كنوزها لم تفرغ. هذا الكنز غير مدرك للأحاسيس، ولذلك لا يستفيد بالرغم من التنقيب في منجمه، بل إنه يفيض ويتزايد، ولماذا أشير إلى السابقين، فكم عدد الذين سيأتوا بعدنا، وعدد الآخرين الذين سيأتوا بعدهم، ممن سيأخذون من هذا النبع، ومع ذلك لن يتوقف عن الجريان، وهذا الكنز لن ينقص، لأن هذه اليانبيع (الرسائل)، روحية وبحسب طبيعتها  لا تستنفذ أبداً. وما هي هذه العبارة الرسولية والتي في حديثى السابق، كلمتكم عنها؟ هي الآتي &#8220;فإذ لنا روح الإيمان عينه حسب المكتوب آمنت لذلك تكلمت&#8221;.</p>
<p>فقد تحدثنا قبلاً عن: لماذا قال &#8220;روح الإيمان عينه؟&#8221;، بين العهدين القديم والجديد. لأنه بالحق عندما يتضح أن روح الإيمان عينه هو الذى حرك لسان داود النبى حتى يقول &#8220;آمنت لذلك تكلمت&#8221;، ويجعل نفس الرسول بولس تسمو هكذا وترتفع، فمن الواضح جداً أن هناك قرابة وتوافق بين الأنبياء والرسل، وأن التوافق والتطابق بين العهدين القديم والجديد هو حتمى ومؤكد. لكن وحتى لا أرهقكم، مكرراً نفس الكلمات، لنتقدم في حديثنا لنتكلم عن السبب الآخر، الذى لأجله قال &#8220;روح الإيمان عينه&#8221;، لأنني وعدتكم أن أذكر سبباً آخر لهذه العبارة الرسولية. لكن يجب أن تستعدوا لتلقى الشرح، لأن المعنى الذى سأ قدمه، هو عميق، ويحتاج أو يتطلب عقولاً قوية، ونفوساً حساسة لذلك أترجاكم أن تتابعوا هذا الشرح الذى سأقوله الآن، كلمة كلمة. لأنه إذا كان التعب والجهد، يتعلق بي، فالمنفعة هي لكم، ولكي نتكلم بصورة أكثر وضوح، فإن الجهد ليس هو جهدى أنا، بل عطية  الروح القدس. أي مثل إعلان الروح القدس للحقيقة، فإنه لا المتكلم، ولا السامع يتعب في شيء لأن السهولة في الإعلان عن الحقيقة، هو أمر كبير للغاية. إذاً فلتتابعوا الشرح كلمة، كلمة، لأنه حتى وأن تابعتم أكثر أجزاء الحديث، لكنكم تغافلتم عن جزء صغير منه، فلن تشعروا بجمال المعنى في كماله، لأنكم بهذا تكونوا قد فقدتم جزء من المعنى. لأنه تماماً، فمثل أولئك الذين لا يعرفون الطريق، ويحتاجون إلى مرشد فإنهم حتى وإن كانوا بعد قد تابعوه لمدة طويلة، إلا أنهم إذا شردوا عنه لحظة، وإختفى من أمام أعينهم، فلن يجدوه، لن ينفعهم الإرشاد الذى تم حتى تلك اللحظة في شيء، وسيكون بلا فائدة على الإطلاق، ولن يعرفوا إلى أين يتجهوا. هكذا أولئك الذين يتابعون متحدثاً ما، إن حدث وشردوا عنه قليلاً، فإنهم سيفقدوا التواصل معه، حتى وأن كانوا قد تابعوا معظم الحديث، ولن يستطيعوا أن يفهموا المعاني. إذاً حتى لا تعانوا هذا الأمر، فلتتابعوا حديثي بإهتمام وإنتباه حتى نصل إلى نهايته، ونفهم المعنى بشكل جيد.</p>
<p></p>
<h3>عظات آباء وخدّام معاصرين للأثنين من الأسبوع الثالث من الخمسين يوم المقدسة</h3>
<h4>روحك القدوس &#8211; للمتنيح الأنبا كيرلس مطران ميلانو<a href="#_ftn4" name="_ftnref4">[4]</a></h4>
<p><strong>منقذ حياتنا من الفساد</strong></p>
<p>دعني أسجد لك.. أسجد أمام روحك القدوس.. دعني أصرخ وأقول.. حقاً إن روحك القدوس هو البسيط في طبيعته.. هو الكثير الأنواع في فعله.. هو ينبوع النعم الإلهية.</p>
<p>روحك القدوس هو الناطق في الناموس والانبياء والرسل.. هو الحال في كل مكان.. ومالئ كل مكان.. ولا يحويه مكان.</p>
<p>هو الناطق في الناموس الذي أخبرنا عن خلق البشرية وعن سقوطها..</p>
<p>وأعلن لنا عن ابن الإنسان – الكلمة المتجسد – الذي في ملء الزمان يقيمها من سقطتها.</p>
<p>روحك القدوس هو الناطق في الأنبياء.. مثل إشعياء وإرميا وهوشع ويوئيل وغيرهم.. هم الذين أخبرونا عن محبتك لخليقتك.. وعن سعيك وراءها.. صوتك لها.. تأديبك وتهذيبك.. إنذاراتك وتحذيراتك.. إشتياقاتك لخلاصها وتحريرها من الخطية.</p>
<p>هم أخبرونا عن ارتباطك وتمسكك بها.. وعن إنفصالها عنك بإرادتها.. هم أخبرونا عن لذتك في بني آدم وعن حملك لخليقتك في كفك.. وعن إمدادك لها بالطعام والشراب.. وأخبرونا كيف هذه الخليقة نسيتك أياما بلا عدد.</p>
<p>الأنبياء سبقوا وتكلموا عن مداومة اهتمامك بخليقتك.. أخبرونا عن تجسدك العجيب.. كيف تلبس جسداً.. كيف تحل في وسطنا.. كيف تأخذ الذي لنا.. وكيف تعطينا الذي لك.</p>
<p>فكرت فيما قالوه الأنبياء.. إن هذا الأمر يصعب علينا إدراكه.. أجابتني أعماقي.. وهل يستحيل أي شيء على قدرة الخالق الذي من العدم أوجدنا وجعلنا نحيا ونتحرك ونوجد؟!.</p>
<p>أليس هذا في مقدرة الخالق الذي تكلم مع موسى النبي في وسط عليقة تشتعل بالنار والنار لم تحرق أغصانها؟!.</p>
<p>وقالت لي أعماقي أيضاً: أجبني.. كيف البذرة التي تُدفن في التراب تصبح شجرة؟!.. ومن يدرك ماذا يحدث للدودة الصغيرة التي تتشرنق وتغلق على نفسها ثم تصبح فراشة؟!.. أليس هذا كله في قدرة الخالق وحده.. فبالحري كم تكون إمكانيات هذا الإله القادر على كل شيء.. وهو المحب لخليقته والمتشوق لخلاصها ونجاتها؟!.</p>
<p>روحك القدوس هو الذي جعلنا ندرك التشبيهات التي قالها الأنبياء..</p>
<p>قالوا أنك أنت الكرَّام وأنت المشغول بالكرمة.. ومن تكون هذه الكرمة سوى خليقتك التي صنعتها يداك؟!..</p>
<p>اليوم أدركت قولك: ماذا يصنع لكرمي وأنا لم أصنعه.. حقاً ماذا يصنع للبشرية وأنت يا ربي لم تصنعه؟!..</p>
<p>من أجل خلاصنا نحن كرمته تجسد وتأنس.. &#8220;وبالإجماع عظيم هو سر التقوى الله ظهر في الجسد&#8221;.</p>
<p>روحك القدوس سبق ناطقاً في الأنبياء عن تجسدك وفدائك وخلاصك.. وليس هناك أجمل من الأفواه الناطقة بالنبوة عن تجسد الإله الكلمة.. مسيحنا الذي هو فوق الزمان.. وهو شمس البر والشفاء في أجنحتها.. وهو النور الذي لا يدنى منه.. الذي يشرق على الساكنين في الظلمة وظلال الموت.</p>
<p>روحك القدوس ساق الأنبياء فتكلموا عن العذراء التي تحبل وتلد.. تكلموا عنها أنها باب المشارق الذي دخل في أحشائها المسيح وخرج منها والباب بقى مختوماً على حاله.</p>
<p>تكلموا عن بيت لحم المدينة الصغرى بين ولايات يهوذا.. كيف صارت العظيمة بين الأمم..</p>
<p>هم أخبرونا عن السحابة التي أتت إلى أرض مصر.. والبركة التي نالها شعبها بسكنى المسيح في وسطها.. أخبرونا عن الآلهة التي تحطمت أمام المسيح الكلمة المتجسد.. وعن المذبح المقدس الذي أسسه في وسط المسيح أرض مصر.</p>
<p>روحك القدوس هو الذي رسم لنا صورة البشرية وحالتها على فم حزقيال النبي.. ورأيناها وهي ملقاة ومدوسة بدم خطيتها.. ورأينا كيف اهتممت بها أنت أيها الخالق.. وجئت إليها وحممتها بالماء وغسلتها.. ودهنتها بالزيت.. وزينتها وألبستها المطرز.. وأجلستها في المجد.</p>
<p>ما قلته في الأنبياء تحقق وشهد به الآباء الرسل.. فنطقوا هم أيضاً بروحك القدوس.. وسجلوا كيف حملت كل البشرية في تجسدك ونزلت بها إلى أعماق مياه الأردن.. وهناك غسلتها وطهرتها وخطبتها لنفسك.</p>
<p>روحك القدوس هو الذي تكلم على فم إرميا.. وأظهر لنا أن قسوة قلب البشرية لم تعق محبتك ولا رحمتك لخليقتك.. أنت القائل &#8220;محبة أبدية أحببتك لذلك أدمت لك الرحمة&#8221;.</p>
<p>أنت هو خبز الحياة وينبوع الماء الحي.. وعن آلامك تنبأ داود المرنم ولها شهد تلاميذك.. إذ مددت يدك لخليقتك وأطعمتها ورويتها بكفيك.. هذه التي جعلت طعامك مرارة وفي وقت عطشك على الصليب سقتك خلاً.</p>
<p>حقاً أعمالك هذه مع خليقتك وضعت منهجاً لأبنائك في كل مكان وزمان عاملين دائماً بقولك &#8220;إن أحببتم الذين يحبونكم فأي فضل لكم.. وأيضاً متذكرين صوتك على فم بطرس الرسول &#8220;إن كنتم تتألمون عاملين الخير فتصبرون فهذا فضل عند الله&#8221;.</p>
<p>&#8220;نحن خليقتك المكبلة بقيود الخطية التي ناديتها أنت على فم إشعياء قائلاً.. &#8220;استيقظي.. استيقظي.. البسي عزك.. البسي ثياب جمالك.. انتفضي من التراب.. وانحلي من رباط عنقك&#8221;. لم تقدر أن تستجيب لأنها عاجزة بالكلية.. وأنت لم تتركها بل شققت السماء وأتيت إليها وأنقذتها من الفساد وكللتها بالمراحم والرأفات.</p>
<p>نحن مدينون لمحبتك وخلاصك لنا ونحن بلا عذر إذ لم ندرك مقدار هذا الخلاص.</p>
<p></p>
<h4>الروح المعزي – المتنيح القمص لوقا سيداروس<a href="#_ftn5" name="_ftnref5">[5]</a></h4>
<p>إن كنا نجاهد للسير فى الطريق الضيق. وإن كنا نعبر وادي البكاء. حاملين الصليب ومرزولين ومضطهدين من العالم. فإننا نجد الروح القدس لنا شفيع جهادنا وسندنا الوحيد ومعزينا. والذي ذاق تعزيات الروح القدس في وسط الضيقات صار يستعذب الألم ويستهين بالضيق &#8220;عند كثرة همومي في داخلي تعزياتك تلذذ نفسي&#8221;.</p>
<ul>
<li>إشعياء النبي: يصور لنا احتضان الروح القدس للنفس البشرية كأم تحتضن رضيعها تحمله على الأيدي وتدلله على الركبتين وترضعه من ثدى تعزياتها. روح عزاء فاض في قلب الشهداء فنسوا آلامهم وفاض في قلب النساك فرفضوا كل عزاء أرضي..</li>
</ul>
<p>قال أحد الآباء: &#8220;لم أذق طعماً لحنان الأم، لكنني تذوقت حناناً أعظم&#8221;.</p>
<p><strong>روح الحق </strong></p>
<p>الحق الإلهي هو عدم التغيير، وعدم الموت. وقد رأينا هذا الحق كاملاً في المسيح يسوع الذي قال: &#8220;أنا هو الطريق والحق&#8221;، &#8220;أتيت لأشهد للحق&#8221;، &#8220;تعرفون الحق والحق يحرركم&#8221;، &#8220;جسدى مأكل حق&#8221;. وعمل الروح القدس فينا هو أن يشهد للمسيح في داخلنا، ويطبع ملامح المسيح فينا، ويصورنا أبناء للحق.. ويقودنا ويرشدنا إلى جميع الحق، كما قال الرب: &#8220;روح الحق&#8221;. لا يكف في داخلنا عن الشهادة للحق، ولا يقبل مطلقاً أن نميل إلى ظلم أو محاباة وجوه أو رياء أو كذب أو تلفيق أو دوران وعدم صراحة أو إلى آخر هذه الطرق العالمية. فالروح القدس لا يرتاح إلى ما ليس من الحق.</p>
<p><strong>روح التبكيت </strong></p>
<p>قال الرب: &#8220;متى جاء ذاك فهو يبكت العالم على خطية، وعلى بر، وعلى دينونة. أما على  الخطية فلأنهم لا يؤمنون بي وأما على بر فلأني ذاهب إلى الآب ولا ترونني. وأما على دينونة فلأن رئيس هذا العالم قد دين&#8221;.</p>
<p><strong>يبكت على خطية </strong></p>
<p>أول عمل الروح القدس في داخلنا هو التبكيت.. فمن اليوم الذى نطق فيه الروح الكلمة بفم بطرس الرسول قيل: &#8220;فلما سمعوا نخسوا في قلوبهم&#8221;. فهو يبكت بشدة ويصرخ في داخلنا بتنهدات لا ينطق بها وينخس ضمائرنا، ويوقظنا للتوبة فنصرخ: &#8220;ماذا نفعل&#8221;. فيجاوبنا: &#8220;توبوا.. لأن الموعد هو لكم&#8221;. الروح القدس ضد الخطية أينما وجدت لأن طبيعته القدوسة الإلهية لا تقبل الشر ولا تطيق الأثم. فلذلك نجد الروح القدس يبكتنا على كل خطية مهما كانت في نظرتنا بسيطة أوغير ضارة. الروح يعرف ضرر الخطية وهلاكها وفسادها، فهو لا يترك موقف ولا يتهاون في كلمة أوفعل شبه الشر إلا ويبكت وينخس في القلب والنفوس التي تطهرت بنار الروح. صارت حساسة جداً لصوت التبكيت حتى صارت دموعها تستجيب بالتوبة لندائه الداخلي.</p>
<ul>
<li>واليوم في عيد حلول الروح القدس. لنراجع أنفسنا هل مازال صوت تبكيت الروح القدس مسموعاً في داخلنا؟ إننا نتذكر طفولتنا حينما كنا نشعر بنخس الروح شديداً عند أول خبرتنا مع الخطية، وبداية سقوطنا.. ولكن بتمادينا وعدم اعتبار صوت الروح ظل الصوت يخفت ويخفت في داخلنا حتى صرنا نعمل الخطية دون أن نسمع تبكيتنا، أو نشعر بحزن داخلي أو وجع.. هل فارقنا الروح وهجر حياتنا؟ كلا أيها العزيز.. ولكننا تعودنا ألا نسمع لصوته، وقسينا قلوبنا وتمسكنا بإرادتنا كثيراً. فصار حزيناً في داخلنا لعدم توبتنا &#8220;لا تحزنوا الروح&#8221;.</li>
</ul>
<p><strong>يبكت على بر </strong></p>
<p>هذا هو التبكيت على التقصير في العمل الإيجابي. والتبكيت على عدم وجود ثمار الروح القدس فينا. وعلى عدم نمونا، وعلى عدم اكتسائنا ببر المسيح.</p>
<ul>
<li>ليس عمل الروح القدس هو أن نكف عن الخطية وحسب وأن نقف سلبيين نفتخر أننا لا نكذب ولا نحلف ولا نضر بأحد، هذه ليس مسيحيتنا. بل بالروح القدس يريد أن يكون فينا بر المسيح وقداسة المسيح. وهو يشجعنا ويقودنا، ويكمل حياتنا ويسهل أمامنا طريق التقوى ومسالك الحق.</li>
<li>كل فرصة لعمل الخدمة أوالبنيان أو الثمر، تبدوا أمام النفس، يسهل الروح القدس الطريق إليها ويجعلها شهية أمام النفس. فإن أهملت النفس جهادها، وتركت فرصتها، فلابد أن تقع تحت تبكيت الروح ونخسه الشديد.</li>
<li>الروح القدس يظهر حياة الآباء والقديسين والعباد أمامنا لنموذج حي لعمله فيهم ويستميلنا نحوهم. فما من مرة سمعنا سيرة أب من الآباء القديسين، أو قصة شهادة، إلا واحترقت قلوبنا واشتهينا أن نتمثل بإيمانهم، ونسلك في أثر خطواتهم. لماذا تحرك سيرة القديسين قلوبنا نحو الفضيلة والسعي والسهر؟ لماذا تجذبنا سيرة الشهداء لنحب الباذل. أليس لأن الروح القدس يبكت على بر. &#8220;فإن سمعتم صوته فلا تقسوا قلوبكم&#8221;. إن الميزة في القديسين انهم أطاعوا الروح القدس عند أول إشارة وأول نداء.</li>
</ul>
<p><strong>يبكت على دينونة </strong></p>
<p>قال الرب: &#8220;لأن رئيس هذا العالم قد دين&#8221;. فالشيطان لم يعد له سلطان كما كان في القديم. والحية القديمة إنسحقت. والرب يسوع قال للتلاميذ: &#8220;رأيت الشيطان ساقطاً من السماء مثل برق&#8221; وقال أيضاً: &#8220;الآن دينونة رئيس هذا العالم. الآن رئيس هذا العالم يطرح خارجاً&#8221;. فما هو عذرنا إذن إن كنا نخطئ؟ ولماذا لو كنا نخضع أنفسنا لرئيس هذا العالم؟ لم يعد بعد ذلك إلا انتظار دينونة مخيفة.</p>
<ul>
<li>حزقيال النبي: أعلن له بيد ملاك الرب. أن مياه الروح ينبع من الجانب الأيمن عن جنوب المذبح. فمنابع الروح لا توجد خارج الكنيسة، أو بعيداً عن الأسرار. لذلك كل من يقترب من المذبح يشعر بتيار الروح الخارج كنهر مياه حية. &#8220;وقاس ألف ذراع والمياه إلى الكعبين. ثم قاس ألف ذراع أخرى والمياه إلى الركبتين. ثم قاس ألف ذراع والمياه الى الحقوين. ثم قاس الف ذراع وإذ بنهر سباحة لم أستطيع عبوره، لأن المياه قد طمت. وطريق الحياة الروحية يتدرج فيه الروحيون بيد الملاك (الكاهن والمرشد)&#8221;. وكلما دخلنا إلى عمق أكثر احتجنا إلى يد الملاك بالأكثر.</li>
<li>الروح يبدأ من عند الكعبين من أماكن الإتضاع. فمن يريد أن يذوق نعمة الروح القدس، لابد أن ينزل إلى مستوى الكعبين&#8221; &#8220;إلى هذا أنظر إلى المسكين والمنسحق الروح والمرتعد من كلامي&#8221;.</li>
<li>الروح يبدأ من الكعبين، وهذا يشير إلى أن الحياة الروحية لابد وأن تبدأ بغسل الأرجل والتوبة. فالحياة الروحية التي لا تبدأ بالتوبة والإنسحاق وغسل الأرجل ، ليست من عمل الروح.</li>
<li>الروح يبدأ من عند القدمين، ليس من مكان الصدارة أو المركز العالى أو المناظر والمتكآت والرئاسات.. الروح يبدأ من موطئ القدمين بعيداً عن المظاهر.</li>
<li>النمو في الحياة، في الروح نمو طبيعي.. لابد من أن نكمل مرحلة القدمين «ألف ذراع مرحلة كاملة». فالذين لا يكملون زمان توبتهم الأول يفشلون في طريق الروح.</li>
<li>الإنتقال في المراحل الروحية تدريجي قد لا تشعر به النفس الداخلة إلى العمق. لا توجد فواصل بين المراحل الروحية. بل ننمو نمواً طبيعياً كمن يدخل إلى مياة متدرجة في العمق تدرجاً طبيعياً.</li>
<li>كثيرون يريدون أن يصيروا في العمق في لحظة من الزمان. هذا ليس طريق الروح. القديسون وصلوا إلى العمق بكثرة السنيين وطول الجهاد وعمق الصلاة والصوم والسهر وتدربوا على الفضيلة في مراحلها ككل وبلا تهور.</li>
</ul>
<p></p>
<h4>في انتظار الموعد – للأستاذ شوقي توفيق<a href="#_ftn6" name="_ftnref6">[6]</a></h4>
<p>&#8220;وها أنا أرسل إليكم موعد أبي. فأقيموا في مدينة أورشليم إلى أن تلبسوا قوة من الأعالي&#8221; (لو٢٤: ٤٩) &#8220;وفيما هو مجتمع معهم أوصاهم ألا يبرحوا من أورشليم بل ينتظروا موعد الآب الذي سمعتموه مني&#8221; (أع١: ٤).</p>
<p>يفكر الكثيرون من رجال الاكليروس والعلمانيين من أعضاء جمعيات وشمامسة و مدرسي مدارس أحد، يفكر جميع هؤلاء في طرق شتى لإصلاح حال الكنيسة تضطرهم لسلوك مسالك مختلفة بعضها سهلة وبعضها وعرة إلا أنه بعد كل هذا يغلب أن تذهب جهودهم أدراج الرياح فلا تقدم ولا ثمار بل ربما فساد وانهيار. وليس لذلك من سبب إلا أن الناس يريدون أن يخدموا الرب بطريقة غير طريقته وبأسلوب غير أسلوبه بينما هو لا يقبل أن يتمم عمله إلا بطريقته وأسلوبه.</p>
<p>وبينما نرى حول يسوع القائم من الأموات زمرة من التلاميذ المحبين بل قل المأخوذين الفرحين بقيامته المعجبين لنصرته والمتحمسين لفكرته، بينما يقف كل هؤلاء حوله وقد انقلب فيهم اليأس رجاء والجبن شجاعة الاعجاب، بينما نراهم في حال غير الحال إذ أصبحوا يؤمنون بما قال ونراهم وقد امتلأوا قوة ونشوة وغيرة تعمل فيهم كل هذه العوامل مجتمعة لينادوا نداء القيامة مبشرين بالانجيل.</p>
<p>أما يسوع الذي لا يؤخذ بالمظاهر نراه يوقفهم عند حدهم ويحذرهم، فلو انطلقوا وهم على هذه الحال فلابد وإلى الفشل وبئس المآل. فليس الحماس مفتاح الخدمة وليس التهور عربونها و ليس الاندفاع طريقها. إذ هكذا كان هؤلاء التلاميذ قبل الصلب ولكن سرعان ما زال الانفعال وظهرت الحقائق واضحة جلية فأنكر من أنكر، وهرب من هرب عرياناً تاركاً ردائه، وشنق نفسه من أسلمه واختفى الباقون وانتهت الحماسة الشخصية التي لم يبق فيها ولا حتى المجاملة الظاهرة.</p>
<p>عرف فيهم يسوع هذه الروح عند الصليب وعرف أن المؤهلات الشخصية لا تف بمفردها لتكميل الخدمة السماوية. عرف فيهم كل هذا الضعف وإذ لم يقبله للكرازة بالانجيل أعطاهم موعده وألزمهم بالانتظار &#8220;أن لا يبرحوا أورشليم بل ينتظروا موعد الآب&#8221;، أما في هذا الموعد فكان لهم عهدان:</p>
<p><strong>١- موعد الآب في الحياة الخاصة:</strong></p>
<p>ليت كل داخل في زمرة الخدام وليت كل من يمد يده بالمساعدة للكنيسة من أي نوع كان أن يعرف أنه إن شئت أن تخدم الله فلابد من التمتع بحياة القداسة. وإن كانت هذه الحقيقة ربما يظن البعض أنها تظهر للكثيرين واضحة جلية ولكن الواقع أنها ليست هدف الكثيرين ممن يعملون في جو الكنيسة من جمعيات وهيئات مهما كان نوع العمل الذي تقوم به وقيمته. فانظر حولك وتطلع كم هيئة وجمعية وكم من عضو في كل منها ثم بعد ذلك كم من نفس تخلص في كل خدمة واعلم أن المسيحية كلها أدخلت إلى العالم كله بقلة من التلاميذ ولكن الممتلئين والمقدسين. إن سر الضعف هو أن خدام الله لا يشعرون بالله في حياتهم إذن فاتركوا الخدمة وانتظروا موعد الآب &#8220;وأما متى جاء ذاك روح الحق فهو يرشدكم إلى جميع الحق&#8221; (يو١٦: ١٣).</p>
<p>إلى حملة الأسرار من آباء كهنة وإلى معاونيهم في الخدمة من شمامسة، إلى المتحدثين باسم الفقير واليتيم من أعضاء الجمعيات وإلى نظار الكنائس مدرسي الكنيسة ومسددي مالها من حاجات. إلى مدرسي مدارس الأحد خدام الطفولة البريئة إلى الوعاظ خدام النفوس المتعطشة إلى كل خادم في كنيسة الله إلى جميع هؤلاء تعوزنا حياة القداسة حتى نخدم الهنا. وإن كنت تظن أنه لا ضرورة من حياة القداسة في عملك وفي بيتك إلا أنه يعوزنا حياة القداسة في الخدمة. وإذ لا قداسة جزئية إلا في القداسة التامة فما أحوجنا لحياة القداسة التامة حتى نتمم عمل الله كاملاً.</p>
<p>كم من عظة روحية ناهضة تزيل أثرها عثرة كلمة من نفس تخدم الله وهي بعد في العالم وكم من جهد يبذل في توصيل قلوب بعيدة فما تصل إلا لتزداد بعداً من تصرف معثر صدر عن مدع بخدمة الله!. إلى كل خادم، حياتك الخاصة هي بدء الخدمة وهى مفتاح الخدمة وبلا حياة خاصة مقدسة متصلة بالله تدرك محبته وتفهم إرادته و تنفذ غايته لا يمكن أن يسمى جهدك خدمة لله. فسمه إذن ما شئت وهل يرضيك أن يكون هذا مظهرنا كخدام:</p>
<p>جلست مرة إلى أحد أعضاء الجمعيات ودار الحديث حول خلاف اهتز له الكثيرون وبينما يحدث في جمع بأسلوب من العنف والشدة تقدمت له بآية كتابية فنظر إليَّ بإزدراء إذ شعر أنني قد خرجت عن الموضوع وقال هذا كلام الله ومن قال لك أننا قديسون. إلى هذا الصديق وأمثاله من قال لكم أنكم تخدمون الله.</p>
<p>ومن أمثال هذه الكثير فأمثلتنا عن العثرة أصبحت اليوم أكثر من أمثلتنا عن النعمة.</p>
<p>إذن فلننتظر موعد الآب لنلبس قوة من الأعالي.</p>
<p>إلى كل خادم وضع يده على المحراث، ليكن هدفك ومنارك حياة القداسة فلا تتأمل فيما نقدم من أمثلة وتهز رأسك عجباً لخطايا الناس ولكن اعلم أن لك مثل ما لهم ولكنها عادة الانسان ألا يعرف أخطاءه، فتأمل ملياً وكن في مواجهة الحقيقة قوياً. إنك لست بعد في حياة القداسة وأنك ترغب أن تكون خادماً، لذلك عليك أن تكون قديساً أما هذه القداسة فلها مظاهر في الحياة الخاصة:</p>
<p><strong>أ- رغبة دائمة في الامتلاء</strong>: مع تحصيل مستمر فليست حياة الخدمة لحنا يحفظ ويرنم أو عظة تحضر وتردد ولكنها هي عملية امتلاء مستمر لفيض روحي دائم، &#8220;وامتلأ الجميع من الروح القدس وابتدأوا يتكلمون بألسنة أخرى كما أعطاهم الروح أن ينطقوا&#8221; (أع٢: ٤) فلا تقتنع بل إلى الأمام حتى تمتلىء من كل حكمة ومعرفة فتتكلم بألسنة من المحبة والوداعة والروح خلاف التي لك الآن وقوامها السب والدينونة.. إلى الأمام إلى حياة التحصيل الدائم إلى حياة المخدع الهادئة بصلواتها، الواسعة في اطلاعها، المؤثرة بنظراتها وإن سكتت كلماتها.</p>
<p><strong>ب- لا اعتداد بالذات ولا كبرياء:</strong> فليس الخادم أفضل من المخدوم بقوة شخصية أو بموهبة جسدية ولكن إن كان ذلك فليس إلا بالنعمة المعطاة من السماء إذن فمن أراد أن يكون سيداً فليكن خادماً  أما نحن خدام هذا العصر فرغبتنا أن نصبح سادة ومخدومينا هم الخدام ولذا نشعر بتعال عجيب معيب فلا اصغاء للتعليم ولا قبول للارشاد فلو أخطأنا و تقدم الناس للنصيحة رفضناها لأننا تصورنا أننا أعظم منهم ولو جلسنا في جمع عام صرفنا النظر عما نسمع من الكلام لأننا نفهم أنه للمخدومين وليس لنا طبقة الخدام. وماذا أهلك الكتبة والفريسيين؟ أليس لأنهم ظنوا أنه جاء ليعلم الشعب ولذا وقفوا من تعليمه بعيدين. إذن فليكن لنا في حياتنا تعليم من كل كبيرة وصغيرة قابلين الارشاد في هدوء واتضاع فقد كان آباؤنا القديسون يتعلمون في القديم ليس من النصيحة أو العظة فقط ولكن من الزهرة المتفتحة ومن الغيوم المتلبدة&#8230; فهل لك أن تسعى في تعليم نفسك من كل ما تسمع وتبصر؟ اقبل النصيحة أياً كانت واحترم مرشدك مهما صغر واشعر دائماً أن ما تسمع  موجها لك شخصيا وليس لآخرين سواك واعلم أن الشعور بعدم الحاجة هو طريق التشامخ فالكبرياء فالسقوط.</p>
<p><strong>۳</strong><strong>&#8211; موعد الآب في حياة الخدمة:</strong></p>
<p>وكما تختلف الحياة الداخلية الممتلئة من موعد الآب  الروح القدس  عن الحياة العالمية التي تعيش بعيدة عنه حسب هواها الخاص وطريقتها الخاصة هكذا تختلف حياة الخدمة التي يغمرها روح الله والتي تقودها يمينه في أسلوبها وفي طريقة تنفيذها عن تلك التي تسير وفق رغبات الناس وحسب مشتهياتهم القلبية المختلفة. ولفتة للمقارنة بين معاشري يسوع من خدام قبل الامتلاء بالروح القدس وبعده نرى اختلافاً في الأسلوب وتغيراً في الطريقة فها مكابرة بالكلام واعتماد على الذات حين يناقش بطرس يسوع  &#8220;وإن شك فيك الجميع فأنا لا أشك أبداً&#8221; (مت٢٦: ٢٣) وعنف وانتقام للنفس ودفاع عن الذات اذ بحد السيف تقطع أذن العبد فيردها يسوع معلماً &#8220;أن كل الذين يأخذون بالسيف بالسيف يهلكون&#8221; (مت٢٦: ٥٢) ونوم في ساعة الجهاد وضعف في ساعة الحاجة لقوة  &#8220;يا سمعان أنت نائم أما قدرت أن تسهر ساعة واحدة&#8221; (مر١٤: ٣٧) وهرب ساعة الضيقة وعدم احتمال للغير وتعرى من الفضيلة &#8220;فترك الازار وهرب منهم عرياناً&#8221; (مر١٤: ٥٢) هذه هي أساليب الخدمة التي نرغبها نحن بطريقتنا الخاصة وأسلوبنا الخاص فهل في خدمتك يغلب على حديثك التهريج والتهييج وهل تخدم حيناً وتتخلى حين لا يناسب مشتهياتك المقام وهل تعرض نفسك في الصغائر والتافه من الأمور وتهرب من الشدائد التي هي الخدمة الحقيقية؟ وهل في ساعة الخدمة تغلب عليها رغباتك الخاصة الجسدية فكما ناموا قديماً تنام وسط الطريق وتثنك عن عزمك راحة الجسد ومستقبل الحياة؟ إن كانت هذه طريقتك فليست هذه هي الخدمة المقبولة أمامه بل هي من النوع الذي رفضه وقال لهم &#8220;أن لا يبرحوا من أورشليم&#8230;&#8221;.</p>
<p>هذه هي طريقة الله للخدمة فكلمات روحية بحتة ونعمة هادئة متدفقة وخدمة مثمرة غير متقطعة واحتمال للغير كل يوم وتضحية غير متنكرة في شيء هذا هو أسلوبه الذي يقدم لك في شخص تلاميذه ورسله. إذن فقس خدمتك على خدمتهم ووازن طريقتك بطريقتهم وابحث مدققاً مع نفسك إلى أي حد أنت خادم.</p>
<hr />
<p><a href="#_ftnref1" name="_ftn1">[1]</a>  كتاب الرسائل الفصحية للقديس أثناسيوس الكبير &#8211; الرسالة الخامسة (عيد القيامة في 20 برمودة سنة 49 ش. &#8211; 15 أبريل سنة 333 م.) &#8211; صفحة 22 &#8211; القمص تادرس يعقوب ملطي.</p>
<p><a href="#_ftnref2" name="_ftn2">[2]</a>  تفسير انجيل يوحنا للقديس كيرلس الاسكندري &#8211; المجلد الاول –ص 533 &#8211; ترجمة دكتور نصحي عبد الشهيد وآخرون.</p>
<p><a href="#_ftnref3" name="_ftn3">[3]</a>  كتاب الحقيقة والظلال &#8211; صفحة 67 &#8211; ترجمة دكتور سعيد حكيم يعقوب.</p>
<p><a href="#_ftnref4" name="_ftn4">[4]</a>  كتاب شفتاك يا عروس تقطران شهداً &#8211; الجزء الخامس صفحة ٢- ٤ &#8211; دير الأنبا شنودة العامر بميلانو.</p>
<p><a href="#_ftnref5" name="_ftn5">[5]</a>  كتاب تأملات روحية في قراءات أناجيل آحاد السنة القبطية &#8211; صفحة ٤٠٨ &#8211; القمص لوقا سيداروس.</p>
<p><a href="#_ftnref6" name="_ftn6">[6]</a>  مجلة مدارس الأحد &#8211; عدد يونية لسنة ١٩٤٨ &#8211; صفحة ٢٥.</p>

      {% endcreateArticleAccordions %}
    </section>
  {% endblock %}
  