---
layout: 'layouts/reading.html'
title: 'يوم الثلاثاء من الأسبوع الثالث للخماسين المُقَدَّسَة'
tags: 'pentecost'
permalink: /articles/pentecost/3-2.html
---
  {% block content %}
    <section id="readings">
      <ul>
      {% if 'undefined' != 'undefined' %}
      
      {% else %}
      {% if '19.57:6' != 'null' %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">العشية</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeVespers '19.57:6' '40.18:6-7' %}
          </div>
        </div>
      </li>
      {% endif %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">باكر</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeMatins '19.57:1,5' '40.17:20-23' '' %}
          </div>
        </div>
      </li>
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <h3 class="flex items-center justify-between">
            <span class="kufi">القداس</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </h3>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeLitugy '45.2:8-13' '62.2:18-23' '44.4:27-31' '19.7:10-11' '43.8:12-16' %}
          </div>
        </div>
      </li>

      {% endif %}
        </ul>
    </section>
    <section id="article">
      <h3 class="mt-8 mb-4 heading-explain">شرح القراءات</h3>
      {% createArticleAccordions %}
        <h3>إستقامة الإستعلان</h3>
<p>تتكلم قراءات هذا اليوم عن <strong>إستقامة الإستعلان</strong>.. فإستعلان الله حاضر ومعلن لمستقيمي القلوب وطالبي الحق والبعيدين عن روح التحزب وإلتواء القلب وسلوكيات الظلمة<strong>..</strong></p>
<h4>المزامير</h4>
<p>لذلك تتكلم المزامير عن:</p>
<ul>
<li>أنين النفس من فخاخ الشيطان عدو الاستقامة. (مزمور عشية).</li>
<li>وصراخ النفس ليستعلن لها مجد الله. (مزمور باكر).</li>
<li>الذي هو مُعلَن وحاضر لمستقيمي القلوب. (مزمور القداس).</li>
<li>&#8220;هيأوا لرجلي فخاخاً&#8230; حفروا قدام وجهي حفرة&#8221; (مز ٥٦: ٦).</li>
<li>&#8220;ارحمني يا الله ثم ارحمني فإنه عليك توكلت نفسي. ارتفع اللهم على السموات وعلى سائر الأرض مجدك&#8221; (مز ٥٦: ١، ٥).</li>
<li>&#8220;عادلة هي معونتي من عند الله المنجي المستقيمي القلوب&#8221; (مز ٧: ١٢).</li>
</ul>
<h4>انجيل عشية</h4>
<p>وفي انجيل عشية عن ← <strong>العثرات والشكوك التي هي ضد إستقامة الحياة وعائق شديد أمام إستعلان الله للناس </strong>&#8220;ومن يُشكك أحد هؤلاء الصغار المؤمنين بي فخير له أن يُعلق حجر رحى في عنقه ويغرق في البحر&#8221;.</p>
<h4>انجيل باكر</h4>
<p>وفي انجيل باكر عن ← <strong>الايمان المدخل الواضح والواحد لإستعلان عمل الله العظيم في حياة الانسان </strong>&#8220;الحق أقول لكم لو كان لكم إيمان مثل حبة خردل لقلتم لهذا الجبل إنتقل من هنا إلى هناك فينتقل ولا يكون شيئاً عسيراً عليكم&#8221;.</p>
<h4>البولس</h4>
<p>وفي البولس عن ← <strong>التحزب والبعد عن معرفة الحق وفعل الشر </strong>ضد استقامة الإستعلان سواء كانت لمن هم خارج الحظيرة أو من يظنون أنهم داخل الحظيرة &#8220;وأما الذين هم من أهل التحزب ولا يطاوعون للحق بل يطاوعون للإثم فسخط وغضب شدة وضيق على كل نفس إنسان يفعل الشر من اليهود أولاً ثم من سائر الشعوب&#8221;.</p>
<h4>الكاثوليكون</h4>
<p>وفي الكاثوليكون عن ← <strong>المسحاء الكذابون الذين هم غرباء عن الكنيسة، </strong>وتفرزهم الكنيسة لبعدهم عن معرفة الحق وعن روح الاستقامة &#8220;وكما سمعتم أنه يجئ المسيح الكذاب فقد صار الآن مسحاء كذابون كثيرون &#8230; وأما أنتم فلكم مسحة من القدوس وتعرفون كل شئ&#8221;.</p>
<h4>الابركسيس</h4>
<p>وفي الابركسيس عن ← <strong>إستقامة الإعلان في الكنيسة </strong>يظهر في شهادتها للحق الإلهي، وفي صلاتها بالروح وبنفس واحدة ولهدف واحد هو مجد الله والكرازة بالإنجيل &#8220;وُهب لعبيدك أن يتكلموا بكلامك بكل مجاهرة &#8230;. ولتُجرَ آيات وعجائب باسم إبنك القدوس يسوع المسيح، فلما صلوا وتضرعوا تزلزل المكان الذي كانوا فيه مجتمعين وإمتلأوا جميعهم من الروح القدس وطفقوا يتكلمون علانية بكلمة الرب&#8221;.</p>
<h4>إنجيل القداس</h4>
<p>وفي انجيل القداس عن ← <strong>إبن الله نور العالم ومن يتبعه بإستقامة قلب لا يتخبط في الظلام بل يكون له نور الحياة </strong>&#8220;ثم كلمهم يسوع أيضاً قائلاً أنا هو نور العالم من يتبعني فلا يمشي في الظلمة بل ينال نور الحياة&#8221;.</p>
<h3>ملخص الشرح</h3>
<ul>
<li>معونة الله حاضرة لمستقيمي القلوب المتكلين عليه والصارخين إليه لينجيهم من فخاخ إبليس. (مزمور عشية – مزمور باكر- مزمور القداس).</li>
<li>العثرات والشكوك والتحزب والبعد عن معرفة الحق ضد استقامة الإعلان للكل داخل وخارج الحظيرة. (انجيل عشية).</li>
<li>الايمان هو المدخل الوحيد لإستعلان عمل الله العظيم في حياة الانسان والكنيسة. (انجيل باكر).</li>
<li>المسحاء الكذابون غرباء عن الكنيسة لبعدهم عن معرفة الحق وعن استقامة العقيدة. (الكاثوليكون).</li>
<li>استقامة الاستعلان في الكنيسة يظهر في شهادتها للحق وفي صلاتها بروح واحد لمجد الله والكرازة بإنجيله. (الابركسيس).</li>
<li>الإبن هو نور العالم ومن يتبعه لا يتخبط في الظلام. (إنجيل القداس).</li>
</ul>
<h3>عظات آبائية للثلاثاء من الأسبوع الثالث (أحد الخبز) من الخمسين يوم المقدسة</h3>
<h4>من الرسائل الفصحية - للقديس أثناسيوس الرسولي<a href="#_ftn1" name="_ftnref1">[1]</a></h4>
<p><strong>مفهوم العيد</strong></p>
<p>أحبائى.. لقد جاء بنا الله مرة أخرى إلى موسم العيد وخلال محبته المترفقة جمعنا معاً للتعييد. لأن الله الذي أخرج اسرائیل من مصر لا يزال حتى الآن يدعونا الى العيد، قائلاً على لسان موسى: احفظ شهر الثمار الجديدة، واعمل فصحاً للرب إلهك&#8221; (تث:١٦: ١٠)، وعلى لسان النبي &#8220;عيدي يا يهوذا أعيادك أوفي نذورك&#8221; (نا ١٥:١).</p>
<p>فإن كان الله نفسه يحب العيد ويدعونا إليه، فليس محقاً يا إخوتي أن نؤجله أو نستهين به، إنما يلزمنا أن نأتي إليه بغيرة وسرور، حتى إذ نبدأ هنا بالفرح تشتاق نفوسنا إلى العيد السماوي.</p>
<p>إن عيدنا هنا بنشاط، فإننا بلا شك نتقبل الفرح الكامل الذي في السماء، وكما يقول الرب: &#8220;شهوة اشتهيت أن آكل هذا الفصح معكم قبل أن أتألم. لأني أقول لكم إني لا آكل منه بعد حتى يكمل في ملكوت الله&#8221; (لو١٥:٢٢، 16).</p>
<p>فنحن نأكل منه الآن أن كان بفهمنا سبب العيد وبمعرفتنا للمخلص، نسلك حسب نعمته كقول بولس &#8220;إذاً لنعيد ليس بخميرة عتيقة، ولا بخميرة الشر والخبث، بل الإخلاص والحق&#8221; (١كو٥: ٧) لأنه في هذه الأيام مات الرب، كي لا نعود نشتاق إلى أعمال الموت! لقد بذل حتى نحفظ حياتنا من شباك الشيطان!.</p>
<p>وما هو أعجب جداً، أن الكلمة صار جسداً، حتى لا نعود نعيش بعد في الجسد بل بالروح نعبد الله، إذ هو الروح!.</p>
<p>فمن لا يستعد هكذا، يفسد الأيام ولا يكون قد حفظ العيد، بل يكون إنساناً جاحداً يلوم النعمة.. ولا يتضرع إلى الرب الذي خلصه في مثل هذه الأيام.</p>
<p>ليسمع مثل هذا الذي يتوهم أنه قد حفظ العيد، الصوت الرسولي يوبخه قائلاً &#8220;أتحفظون أياماً وشهوراً وأوقاتًا وسنين. أخاف عليكم أن أكون قد تعبت فيكم عبثاً&#8221; (غل4: 10، 11).</p>
<p><strong>الله يرفض أعياد اليهود الأشرار</strong></p>
<p>فالعيد ليس من أجل الأيام بل من أجل الرب. فنحن نعيد له لأنه تألم من أجلنا، إذ &#8220;فصحنا أيضاً المسيح قد ذبح لأجلنا&#8221; (1كو5: 7).</p>
<p>وقد علم موسى اليهود ألا يكون العيد لأجل الأيام بل من أجل الرب قائلاً &#8220;هو فصح للرب&#8221; (خر12: 11). لكن إذ فكر اليهود أن يحفظوا العيد بطل فصحهم بسبب اضطهادهم للرب، ولم يعد فصحهم بعد منسوباً للرب، إنما صار منسوباً إليهم لأنهم قد أنكروا ياأخوتي رب الفصح. لأجل هذا حول الرب وجهه عن تعاليمهم قائلاً &#8220;رؤوس شهوركم وأعيادكم بغضتها نفسي&#8221;.</p>
<p><strong>أشكروا المخلص ومجدوه</strong></p>
<p>لهذا من يحفظ الفصح على منوالهم يوبخه الرب، وذلك كما فعل مع أولئك البُرَّص الذين طهرهم. فقد أحب ذاك الذي قدم له الشكر، وغضب من الآخرين ناكري المعروف، لأنهم لم يعرفوا المخلص، بل انشغلوا بتطهرهم من البرص أكثر من ذاك الذي طهرهم.</p>
<p>لكن &#8220;واحد منهم لما رأى أنه شفي رجع يمجد الله بصوت عظيم. وخر على وجهه عند رجليه شاكراً له. وكان سامرياً. فأجاب يسوع وقال أليس العشرة قد طهروا. فأين التسعة، ألم يوجد من يرجع ليعطي مجداً لله غير هذا الغريب الجنس؟!.</p>
<p>لذلك وهبه شيئًا أعظم مما نال الآخرون، فأنه إذ تطهر من برصه سمع الرب يقول له &#8220;قم وامض.إيمانك خلصك&#8221; (لو17: 9).</p>
<p>فمن يقدم الشكر والتمجيد له مشاعر رقيقة، لهذا فأنه يبارك &#8220;معينه&#8221; (الرب) من أجل ما وهبه من بركات.</p>
<p>ويلفت الرسول أنظار كل البشر إلى هذا الأمر قائلاً &#8220;مجدوا الله في أجسادكم&#8221; (1كو2: 20) ويأمر النبي قائلاً: &#8220;أعط مجداً لله&#8221;.</p>
<p><strong>بالصليب تمجد ابن الله</strong></p>
<p>وبالرغم من تلك الشهادة التي حملها رئيس الكهنة ضد مخلصنا، واحتقار اليهود له، وإدانة بيلاطس له في تلك الأيام لكن صوت الآب الذي جاءه كان مجيداً وعظيماً جداً إذ يقول &#8220;مجدت وسأمجد أيضاً&#8221; (يو12: 28) لأن تلك الآلام التي احتملها لأجلنا قد عبرت، لكن ما يخصه كمخلص يبقى إلى الأبد.</p>
<p><strong>لننتفع بالذبيحة لكي لا ندان</strong></p>
<p>وإذ نحن نذكر هذه الأيام،</p>
<p>ليتنا لا ننشغل باللحوم بل بتمجيد الله.</p>
<p>ليتنا نكون كأغبياء من أجل ذاك الذي مات من أجلنا. وذلك كقول الرسول &#8220;لأننا إن صرنا مختلين فلله أو كنا عاقلين فلكم.. إذ نحن نحسب هذا أنه إن كان واحد قد مات لأجل الجميع فالجميع إذا ماتوا. وهو مات لأجل الجميع لكى يعيش الأحياء فيما بعد لا لأنفسهم بل للذي مات لأجلهم وقام&#8221; (2كو5: 13- 15).</p>
<p>يلزمنا ألا نعيش بعد لأنفسنا بل نعيش كعبيد للرب.</p>
<p>وليس باطلاً تقبل النعمة، لأن الوقت مقبول (2كو6: 1، 2) ويوم الخلاص قد تبلج بموت مخلصنا.</p>
<p>فمن أجلنا نزل الكلمة، وإذ هو خالد، حمل جسداً للموت، وذلك من أجل خلاصنا..</p>
<p>لقد ذبح ربنا حتى يبطل الموت بدمه!.</p>
<p>وفي موضع معين، وبخ الرب بحق أولئك الذين اشتركوا في سفك دمه بغير سبب دون أن يستنيروا &#8220;بالكلمة&#8221;.. قائلاً (على فم النبي) &#8220;ما الفائدة من دمي إذا نزلت (الحفرة)؟!&#8221;. هذا لا يعني أن نزول الرب إلى الجحيم كان بلا نفع، إذ انتفع منه العالم كله. لكن تعني أنه بعد، تحمل الرب هذا كله، لا زال بعض الأشرار يرفضون الإنتفاع من نزوله إلى الجحيم فيخسرون (ويدانون).</p>
<p>فهو ينظر إلى خلاصنا كاستنارة وربح عظيم، ويتطلع بالعكس إلى هلاكنا كخسارة.</p>
<p><strong>لنتاجر في الوزنات، ولا نسكن كاليهود الأشرار</strong></p>
<p>كذلك في الإنجيل، مدح الرب أولئك الذين ضاعفوا الوزنات، سواء ذلك الذي صارت وزناته عشرة عوض الخمسة أو أربع وزنات عوض الوزنتين&#8230; إذ ربحوا وجاءوا بالحساب حسنًا. أما ذاك الذي ألقى بالوزنة كأنها ليست بذي قيمة، فقال &#8220;أيها العبد الشرير!.. كان ينبغي أن تضع فضتي عند الصيارفة فعند مجيئي كنت آخذ الذي لي مع ربا. فخذوا منه الوزنة أعطوا للذي له العشر وزنات. لأن كل من له يعطى فيزداد ومن ليس له فالذي عنده يؤخذ منه. والعبد البطال اطرحوه إلى الظلمة الخارجية هناك يكون البكاء وصرير الأسنان&#8221; (مت25: 26- 30).</p>
<p>لأنها هذه ليست إرادته أن تصير النعمة التي يهبنا إياها غير نافعة، بل يطلب منا أن نتحمل آلاماً لكي نأتي له، كقول الطوباوي بولس &#8220;وأما ثمر الروح فهو محبة، فرح، سلام&#8230;&#8221; (غل5: 22)، وإذ له هذا الشرح الصحيح للموقف أنه لا يملك شيئاً من عندياته، بل كل ما لدى الإنسان هو عطية من قبل الله، لهذا كان بولس يعلم بمبدأ مشابه للسابق، بقوله &#8220;أعطوا الجميع حقوقهم&#8221; (رو13: 7). وفي هذا كان بولس يشبه أولئك الذين أرسلهم رب البيت ليأتوا بثمار كرمه (مت21: 33)، معلماً البشر جميعهم أن يردوا ما نالوه.</p>
<p>أما إسرائيل فقد أحتقر &#8220;المرسلين&#8221; ولم يرد أن يرد &#8220;حق الله&#8221;، إذ كانت إرادتهم شريرة، بل وأكثر من هذا قتلوا المرسلين، ولم يخجلوا حتى من رب الكرم بل قتلوه هو أيضاً.</p>
<p>حقاً عندما جاء ولم يجد فيهم ثماراً لعنهم في شجرة التين قائلاً &#8220;لا يكن منك ثمر بعد إلى الأبد&#8221; (مت 21: 19) فيبست ولم تعد مثمرة. تعجب التلاميذ من ذلك.</p>
<p><strong>تحقق النبوات عن خراب إسرائيل</strong></p>
<p>عندئذ تحقق ما نطق به الأنبياء &#8220;وأبيد منهم صوت الطرب وصوت الفرح، صوت العريس وصوت العروس، صوت الأرحية (حجر الطاحونة، ومفردها رحى أي الرحاية) ونور السراج وتصير كل هذه الأرض خراباً&#8221; (إر25: 10) إذ بطل عنهم كل خدمة الناموس، وهكذا سيبقون إلى الأبد بغيرعيد.</p>
<p>وهم لا يحفظون بعد الفصح، لأنهم كيف يستطيعون أن يحفظوه؟! إنه لم يعد لهم بعد موطن إنما قد صاروا مشتتين في كل مكان إنهم &#8220;لا&#8221; يأكلون الفطير.. حيث أنهم عاجزون عن تقديم ذبيحة الخروف، إذ أمروا أن يصنعوا هذا عندما يأكلون الفطير.</p>
<p>أنهم يعصون الناموس في كل شيء، وبحسب أحكام الله يحفظون أياما للحزن لا للسعادة.</p>
<p>هكذا أيضا يكون حال الهراطقة الأشرار وأصحاب الإنشقاقات الأغبياء، أحدهما يذبح الرب والآخر يمزق ثوبه.</p>
<p>هؤلاء أيضا محرومون من العيد، لأنهم يعيشون بغير تقوى ولا معرفة، ويتنافسون بنفس التصرف الذي حدث في أمر بارباس اللص حيث فضله اليهود عن المخلص، لهذا لعنهم الرب في شجرة التين.</p>
<p>غير أنه في محبته المترفقة ترك جذر &#8220;الشجرة&#8221; ولم يهلكه إذ لم يلعنه، إنما قال بأنه لا يجني منها أحد ثمرة قط.</p>
<p>وبصنعه هذا أبطل الظل.. وترك الجذر لكي نتطعم نحن فيه «أما هم ففي عصيانهم يبسوا» &#8220;وهم إن لم يثبتوا في عدم الإيمان «إن صاروا مسيحيين ورفضوا تشامخهم وخضعوا للرب» سيطعمون. لأن الله قادر أن يطعمهم أيضاً&#8221; (رو11: 23).</p>
<p>إن كان الله قد لعنهم من أجل إهمالهم&#8230; فقد نزع عنهم الحمل الحقيقي.</p>
<p><strong>لنفرح بالعيد</strong></p>
<p>أما بالنسبة لنا، فقد جاءنا العيد.</p>
<p>لقد جاء اليوم المقدس الذي يلزمنا فيه أن نبوق داعين إلى العيد. ونفصل أنفسنا للرب بالشكر، ناظرين إلى أن هذا العيد هو عيدنا نحن. لأننا قد صار علينا أن نقدسه، لا لأنفسنا بل للرب، وأن نفرح فيه لا في أنفسنا بل في الرب، الذي حمل أحزاننا قائلاً &#8220;نفسي حزينة جدا حتى الموت&#8221; (مت 26: 38)</p>
<p>فالوثنيين وكل الغرباء عن الإيمان يحفظون الأعياد لإرادتهم الذاتية، هؤلاء ليس لهم سلام إذ يرتكبون الشر في حق الله.</p>
<p>أما القديسون فإذ يعيشون للرب يحفظون العيد، فيقول كل منهم &#8220;مبتهجا بخلاصك&#8221;، &#8220;أما نفسي فتفرح بالرب&#8221; (مز9: 14، 35: 9) فالوصية عامة بأن يفرح الأبرار بالرب، حتى إذ يجتمعون معاً يترنمون بذلك المزمور الخاص بالعيد وهو عام للجميع قائلين &#8220;هلم نرنم للرب&#8221; (مز95: 1) وليس لأنفسنا .</p>
<p><strong>بین ذبح اسحق وذبح المسيح</strong></p>
<p>هكذا فرح إبراهيم إذ رأى يوم الرب، لا يوم نفسه. تطلع إلى قدام فرأى يوم الرب ففرح (يو8: 56، عب11: 17).</p>
<p>وعندما جرب، قدم بالإيمان اسحق جاعلاً من ابنه الوحيد الذي نال فيه المواعيد ذبيحة. ولما منع من ذبحه تطلع فرأى المسيا في &#8220;الخروف&#8221; (تك22: 15) الذي ذبح الله عوضاً عن ابنه.</p>
<p>لقد جرب الأب في ابنه، ولم يكن الذبح أمر بغير معنى، إنما كان فيه إشارة إلى الرب كما في إشعياء إذ يقول &#8220;كشاة تساق إلى الذبح وكنعجة صامتة أمام جازيها فلم يفتح فاه&#8221; (إش53: 7)، إنما قد حمل خطايا العالم.</p>
<p>على هذا الأساس منع إبراهيم من أن يمد يده على الصبي، حتى لا يستغلها اليهود كفرصة ليزدروا بالصوت النبوي الذي ينطق بخصوص مخلصنا ناسبين إياه إلى ذبح اسحق، حاسبين أن كل هذا يشير إلى ابن إبراهيم.</p>
<p><strong>ذبيحة اسحق مجرد رمز</strong></p>
<p>لم تكن الذبيحة «من أجل اسحق» بل من أجل الذي قدم الذبيحة، إذ بهذا قد جرب. لقد قبل الله إرادة مقدم الذبيجة، لكنه منع تقديم الذبيحة. لأن موت اسحق لا يؤدي إلى تحرير العالم، إنما موت مخلصنا وحده الذي بجراحاته شفينا فقد أقام الساقطين، وشفى المرضى، وأشبع الجياع، وسد أعواز المحتاجين، وما هو أعجب أنه أقامنا نحن الأموات، مبطلاً الموت، محظرا إيانا من الحزن والتنهد إلى الراحة والسعادة كالتي لهذا العيد، إلى الفرح الذي هو في السموات.</p>
<p>ولسنا نحن وحدنا الذين نتأثر بهذا، بل والسماء أيضاً تفرح معنا مع كل كنيسة الأبكار المكتوبة في السموات (عب12: 23). الكل يفرح معاً كما يعلن النبي قائلاً &#8220;ترنمي أيتها السموات لأن الرب قد فعل رحمة.. اهتفي يا أسافل الأرض. أشيدى أيتها الجبال ترنماً، الوعر وكل شجرة فيه لأن الرب قد فدى يعقوب&#8230;&#8221; إش44: 23).</p>
<p>ومرة أخرى يقول &#8220;ترنمي أيتها السموات وابتهجي أيتها الأرض. لتشيد الجبال بالترنم لأن الرب قد عزى شعبه وعلى يائسيه يترحم&#8221; (إش49: 13).</p>
<p><strong>فرح في السماء وعلى الأرض</strong></p>
<p>إذا الخليقة كلها تحفظ عيداً يا أخوتى، وكل نسمة تسبح الرب كقول المرتل (مز 105: 6) وذلك بسبب هلاك الأعداء (الشياطين) وخلاصنا.</p>
<p>بالحق أن كان في توبة الخاطئ يكون فرح في السماء (لو15: 7) فكيف لا يكون فرح بسبب إبطال الخطية وإقامة الأموات؟!</p>
<p>آه. يا له من عيد وفرح في السماء!!</p>
<p>حقاً.. كيف تفرح كل الطغمات السمائية وتبتهج، إذ يفرحوا ويسهروا في اجتماعاتنا ويأتون إلينا فيكونون معنا دائماً، خاصة في أيام عيد القيامة؟!.</p>
<p>أنهم يتطلعون إلى الخطاة وهم يتوبون.</p>
<p>وإلى الذين يحولون وجوههم (عن الخطية) ويتغيرون، وإلى الذين كانوا غرقى في الشهوات والترف والآن هم منسحقون بالأصوام والعفة.</p>
<p>وأخيرا يتطلعون إلى العدو (الشيطان) وهو مطروح ضعيفا بلا حياة، مربوط الأيدي والأقدام، فنسخر منه قائلين: &#8220;أين شوكتك يا موت. أين غلبتك يا هاوية&#8221; (١کو٥٥:١٥).</p>
<p>فلنترنم الآن للرب بأغنية النصرة.</p>
<p><strong>من هم الذين يعبدون؟</strong></p>
<p>من هو هذا الذي إذ يأتي مشتاقاً إلى عيد سماوي ويوم ملائكي، يقول مثل النبي &#8220;فآتي إلى مذبح الله، إلى الله، بهجة فرحي، وأحمدك بالعود يا الله إلهي.</p>
<p>والقديسون يشجعوننا أيضا للسلوك بهذا المسلك قائلين &#8220;هلم نصعد إلى جبل الرب إلى بيت إله يعقوب&#8221; (إش2: 3).</p>
<p>لكن هذا العيد ليس لأجل الدنسين، ولا يصعد إليه الأشرار، بل الصالحين والمجاهدين والذين يسلكون بنفس الهدف الذي هو للقديسين، لأنه &#8220;من يصعد إلى جبل الرب ومن يقوم في موضع قدسه؟! الطاهر اليدين والنقى القلب الذي يحمل نفسه إلى الباطل ولا حلف كذباً&#8221; (مز24: 3). لأنه كما يكمل المزمور قائلاً &#8220;يحمل بركة من عند الرب «وبراً من إله خلاصه»&#8221;.</p>
<p>هذا واضح أنه يشير إلى ما يهبه الرب للذين عن يمينه قائلًا &#8220;تعالو يا مباركي أبي رثوا الملكوت المعد لكم منذ تأسيس العالم&#8221; (مت25: 34).</p>
<p>أما الإنسان المخادع، وغير نقي القلب، والذي ليس فيه شيئا طاهرًا&#8230; فهذا بالتأكيد غريب عن القديسين.. ويحسب غير مستحقاً ليأكل الفصح، لأن &#8220;كل ابن غريب لا يأكل منه&#8221; (خر12: 43).</p>
<p>لهذا عندما ظن يهوذا أنه قد حفظ الفصح بينما كان قد دبر خداعاً ضد المخلص، أصبح غريباً عن المدينة التي هي من فوق وبعيداً عن الصحبة الرسولية، لأن الشريعة أمرت أن يؤكل الفصح بحرص لائق، أما هو بينما كان يأكل نقبه الشيطان ودخل إلى نفسه (لو22: 31).</p>
<p><strong>كيف نعيد؟</strong></p>
<p>ليتنا لا نعيد العيد بطريقة أرضية، بل كمن يحفظ عيداً في السماء مع الملائكة!</p>
<p>لنمجد الله بحياة العفة والبر والفضائل الأخرى!</p>
<p>لتفرح لا في أنفسنا بل في الرب، فنكون مع القديسين!</p>
<p>لنسهر مع داود الذي قام سبع مرات، وفي نصف الليل كان يقدم الشكر من أجل أحكام الله العادلة!</p>
<p>لنبكر كقول المرتل &#8220;يا رب بالغداة تسمع صوتي، بالغداة أقف أمامك وتراني&#8221;!</p>
<p>لنصم مثل دانیال!</p>
<p>لنصلي بلا انقطاع كأمر بولس. فكلنا يعرف موعد الصلاة خاصة المتزوجين زواجا مكرماً!</p>
<p>فإذ نحمل شهادة بهذه الأمور، حافظين العيد بهذه الكيفية نستطيع أن ندخل إلى فرح المسيح في ملكوت السموات .</p>
<p>وكما أن إسرائيل (في القديم) عندما صعد إلى أورشليم تنقى في البرية، متدربا على نسيان العادات (الوثنية) المصرية، <u>هكذا فأن الكلمة وضع لنا هذا الصوم المقدس الذي للأربعين يوما، فنتنقى ونتحرر من الدنس، حتى عندما نرحل من هنا يمكننا بكوننا قد حرصنا على الصوم </u><u>(هكذا)</u><u> أن نصعد إلى جمال الرب العالي، ونتعشى منه، ونكون شركاء في الفرح السماوي.</u></p>
<p>فأنه لا يمكنك أن تصعد إلى أورشليم وتأكل الفصح دون أن تحفظ الأربعين.</p>
<p><strong>موعد العيد</strong></p>
<p>لما كانت الخاتمة شبه مكررة فيما يختص بموعد العيد إلا من جهة المواعيد، لذلك استحسنت منعا للتكرار عدم ورودها في الرسائل فيما بعد مكتفياً بترجمة الجدول الخاص بأعياد القيامة في أيام القديس البابا أثناسيوس أن شاء الرب في آخر الكتاب..</p>
<p>ولكن في هذه الرسالة السابعة ذكر في النهاية أن أيام السبوت والآحاد يتوقف فيها الصوم (الانقطاعي) وذكر المترجم إلى الإنجليزية في الهامش بأنه لم تكن تحسب هذه الأيام على أنها أصوام عدا يوم السبت الذي هو قبل عيد القيامة مباشرة.</p>
<p>ونحن نصوم حاليا ٥٥ يوماً هي ٤٠ يوماً + أيام البسخة (أسبوع الآلام) + ٧ أيام بدلاً من السبوت لأنها لا تصام انقطاعياً.</p>
<h4>معنى نور العالم - القديس كيرلس الأسكندري<a href="#_ftn2" name="_ftnref2">[2]</a></h4>
<p><strong>(يو8: 12)</strong><strong> &#8220;</strong> <strong>ثم كلمهم يسوع أيضا قائلاً: أنا هو نور العالم &#8220;. </strong></p>
<p>إن يسوع أعطى هذا الحديث حسب ما كان مكتوباً عن العيد، حينما وقف في اليوم الأخير ونادى قائلًا: &#8220;إن عطش أحد فليقبل إليَّ ويشرب (يو٣٧:٧). وحيث إن أقوال موسى قد أشارت إلى النبع، فهكذا الآن أيضاً يجعل شرحه مناسباً جداً وموافقاً لطبيعة الأشياء. فحيث إنه رأى أن المعلمين كانوا شركاء الجموع في الحماقة، وأن الذين يستهزئون كانوا مرضى بنفس المرض مثل الذين يهزأ بهم، وكما لو كانوا غارقين جميعاً في ليل الجهالة وهم يسعون أن يمسكوا بسر (المسيح) لكنهم لا يجدون شيئاً بالمرة، لهذا السبب فهو يبرر سبب نقص المعرفة عندهم، صارخاً &#8220;أنا هو نور العالم&#8221;. وهو يقول أنتم تفتشون خلال الكتاب المقدس كله وتظنون أنكم تفحصوا كل الأمور التي قيلت عني بواسطة الأنبياء بينما أنتم بعيدون تماماً عن طريق الحياة. ولا غرابة في هذا: لأن الذي يكشف الأسرار ويضيء العالم كله، وهو كالشمس التي تنير في قلوب الذين يقبلونه، ليس موجوداً فيكم. إذ أن الذي ليس له النور الإلهي الروحاني في داخله، فبالضرورة يمشي في الظلمة ويعثر في حماقات كثيرة.</p>
<p>ولكن كون الابن الوحيد هو بالطبيعة &#8220;النور&#8221;، وأنه يشع من الله الآب الذي هو بالطبيعة &#8220;النور&#8221; فهذا قد أوضحناه باستفاضة في الكتاب الأول عندما تحدثنا الكلمات &#8220;كان النور الحقيقي&#8221;.</p>
<p>ولكن ينبغي أن نلاحظ أيضاً أنه يقول إنه هو النور ليس فقط لشعب إسرائيل وحده بل للعالم كله، وهو يخبرنا هنا بأمر في غاية الصدق لأنه يقول إنه هو الذي يبث نور الفهم في الطبيعة كلها، وهو يبذر مثل بذرة، الفهم اللائق بالإنسان في كل من يأتي إلى الوجود، بحسب ما هو مكتوب: &#8220;كان هو النور الحقيقي الذي ينير كل إنسان يأتي إلى العالم&#8221; . ولكنى أظن أنه يوجد شئ دقيق وعميق مختف في هذه الكلمات. لأنه لو لم يكن ما قاله مملوء بشيء من هذا النوع لكان قد قال ببساطة أنا هو النور، ولكن حيث إنه أضاف &#8220;العالم&#8221; فأظن الآن أنه يريد أن يشير إلى شيء من هذا النوع. لأن الله كان معروفاً في اليهودية وفي إسرائيل وحدها &#8220;كان اسمه عظيماً&#8221; (أنظر مز١:٧٦)؛ وبقية الأرض كلها كانت تملأها ظلمة عميقة ولم يكن أحد في العالم يملك النور الإلهي والسماوي سوى إسرائيل وحده.</p>
<p>ولكن كما كانت حينئذ كل الأمم في هذا العالم محرومة معا من معرفة الله وكان لهم وضعهم الخاص بهم، كان &#8220;شعب الرب هو نصيبه وإسرائيل حبل ميراثه&#8221; (تث۹:۳۲س)، هكذا أيضا حينما انتقلت الشمس الروحانية إلى العالم كله، وأخذ النور من إسرائيل ونقل إلى الأمم حينئذ وجد إسرائيل خارجاً عن الكل: وبينما كانوا ينتظرون النور أدركتهم الظلمة كما هو مكتوب &#8220;ننتظر ضياء فنسير في ظلام دامس&#8221; (إش٩:٥٩). والمخلص حينما تحدث إلى الفريسيين لم يقل باطلاً &#8220;أنا هو نور العالم&#8221;، لأنه ينذر أنه سيترك إسرائيل وسوف ينقل النعمة إلى العالم كله، وسينشر شعاع المعرفة الإلهية على الآخرين.</p>
<p>ولكننا ينبغي أن نلاحظ أنه على الرغم من أن سامعيه كانوا ينظرون إليه كإنسان ذي جسد، فهو لا يقول &#8220;النور موجود فيَّ&#8221;، لكنه يقول &#8220;أنا هو النور&#8221;، حتى لا يقسم أحد المسيح إلى ابنين بعد التدبير الذي تم بتأنسه، لأنه كما يقول بولس الرب يسوع المسيح هو واحد (أنظر ١كو٦:٨)، قبل الجسد ومع الجسد، والكلمة الذي من الله الآب هو بالحقيقة ابن واحد ووحيد، وحتى حينما صار إنسائا فهو لا يحسب منفصلاً عن الهيكل المأخوذ من امرأة .</p>
<p>لأن الجسد خاص به وعموماً فإن فصله بعد التجسد (أي فصل الكلمة عن الجسد)، من جهة البنوة هو أمر لا يخلو من تجديف. ولكننا ينبغي أن نعرف أنه بالرغم من قولنا إن كلمة الله صار جسداً، فنحن لا نقول إنه ليس مجرد الجسد ولكننا نعني بكلمة الجسد، الانسان كله.</p>
<p><strong>&#8220;من يتبعني فلا يمشي في الظلمة بل يكون له نور الحياة&#8221;. </strong></p>
<p>إنه يحثهم أيضا من كل ناحية، لكي يسعوا للحصول على ما هو نافع وأن برغبوا بالحري أن ينقادوا بوصاياه، بدلاً من أن يتبعوا جهلهم، ويحرموا أنفسهم من الحياة الأبدية. وهو يبين كم تكون المنفعة عظيمة لأولئك الذين يطيعونه، وهم يعرفون أن الرب هو صالح بالطبيعة الذي &#8220;يريد أن جميع الناس يخلصون، وإلى معرفة الحق يقبلون&#8221; (1تی٤:٢). ولكن حيث إنه إله فقد عرف أنهم سيناقضون، ولذلك فهو يصوغ حديثه على حسب صورة الأمور في القديم ومما كان قد أصاب أجدادهم من أحداث، فيعلن بوضوح أن الاشتياق لإتباعه سيكون نافعاً لهم نفعاً عظيماً.</p>
<p>ولقد كتب عن الذين هم من إسرائيل أنه كان يقودهم بسحابة نهاراً وبنار مضيئة ليلاً&#8221; (مز٧٨: ١٤س). لأنهم حينما كانوا يجتازون البرية الشاسعة مسرعين نحو أرض الموعد، كانت هناك سحابة تظلل فوقهم مثل سقف بالنهار لتمنع عنهم لهيب الشمس وبمشورة إلهية كان هناك عمود نار يطارد الظلمة ليلاً ويكشف للمرتحلين طريقهم الصحيح ويقودهم فيه. لأنه كما أن أولئك الذين كانوا في ذلك الوقت قد تبعوا قيادة النار السائرة أمامهم ونجوا من الضلال وحملوا مباشرة إلى الطريق الصحيح والأرض المقدسة، غير مبالين بالليل والظلام، هكذا أيضاً من يتبعني أي من يسير في طريق تعاليمي فلن يبق في الظلمة بأية حال، بل سينال نور الحياة، أي كشف أسراري التي تمسك بيده وتمكنه من بلوغ الحياة الأبدية. والرب لأنه فنان ماهر في حديثه، فهو لا يثير الفريسيين  الذين يثورون ويهذون كثيراً. على أية حال، بل هو يخبرهم بأكثر صراحة أنهم سوف يبقون في الظلمة وسيموتون في عدم إيمانهم. فهو بأسلوب آخر يخبرهم بهذا محولاً قوة كلامه إلى ما هو أفضل، فهو إذ وعد أن من يختار أن يتبعه سيكون له نور الحياة، وبهذا الوعد نفسه فهو يلمح بأن من يرفض أن يتبعه سيحرم من ذلك النور الذي يعيده إلى الحياة. أليس واضحاً للجميع وبدون أدنى شك أنه (أي من يتبعه) ينال هذا النور؟</p>
<p>وإنه بالنسبة لأولئك الذين يهربون مما يسبب البهجة فبالضرورة يصيبهم عكس ذلك. إذن فكلمة مخلصنا التي دبرها بمهارته هي صادقة ولا شك فيها.</p>
<h4>شمس البر يشرق في نفوس قديسيه - القديس غريغوريوس النيسي<a href="#_ftn3" name="_ftnref3">[3]</a></h4>
<p>مرة أخرى ياأخوتي، أعطيت لنا الفرصة، أن نتمتع بالخيرات، بإشراق يوم أحد القيامة، بالإضافه الى تذكار الشهداء. لأنه في هذا اليوم غمر نور مجد إنجيل المسيح، أذهاننا، والذي بحسبه، إنبثقت أشعة البر الخلاصية مثل الزهور، وتلاشى ظلام الجحود والكفر، وأنار النفوس بمعرفة الحق. وأترجاج أن تنتبه لعظمة الإحسان العجيب، فشمسنا المحسوسة، تُرسل أشعتها باكراً مُخبرة بقدوم النهار، وبنور هذه الأشعة تُغطي وتحتضن كل المسكونة بإشراقها، لكنها تخفى الأماكن الخاصة بالنجوم وما يرتبط بها، حتى أنها وحدها هي التي تظهر في الأفق، تحت قبة السماء. أما ربنا يسوع المسيح عندما أشرق من السماء لأجلنا. بحسب النبوة التي تكلمت عنه: &#8220;المُشرق من العلاء. ليضيء على الجالسين في الظلمة  وظلال الموت، لكى يهدي أقدمنا في طريق السلام&#8221; (لو1: 79)، ليس فقط لم يخف القديسين الذين أشرقوا ببهاء قبل مجييئه، مشابهين للنجوم، وصاروا سابقين له، بل أيضاً جعلهم أكثر بهاءً، وجعل نجوم أخرى (أي قديسون آخرون)، يضيئون معه. بالحقيقة قد أضاء أنبياء بعد مجيئه، أي أكثر من الوقت الذى سبق المجيء. لأنه بينما كانت النبوة بعد، غامضة، فإنه بعدما أتى مُخلصنا الى العالم، أنار كل الأنبياء وأستُعلن لهم، وهكذا تم كمال الناموس والأنبياء &#8220;ما جئت لأنقض الناموس أو الأنبياء بل لأكمل&#8221; (مت5: 18). الآن في عصر النعمة الجديد، قال مخلصنا عن نفسه &#8220;أنا هو نور العالم&#8221; (يو8: 18)، عندئذ رأى أنه من اللائق بنبع الصلاح الذى خرج من عند الآب الصالح، أن ينقل الأسم لأولئك الذين كانوا عبيداً، لكنه قال لتلاميذه: &#8220;أنتم نورالعالم&#8221; (مت5: 14)، وأيضاً &#8220;فليضئ نوركم هكذا قدام الناس&#8221; (مت5: 16)، الشئ العظيم الذى به نستطيع أن نؤكد على هذه الأمور التي ذكرتها، هذا ما سنعرضه بنعمة الله.</p>
<p>وهو المتعلق بيوحنا المعمدان، الذى دعي سراجاً، وأخبر عنه في سفر المزامير، وشُهِد له من قبل الرب. وقد تحدث النبي نيابة عن الآب قائلاً: &#8220;رتبت سراجاً لمسيحي&#8221; (مز132: 17) أي أعددت خادماً، وسابقاً للنور. والرب أيضاً قد أكد على صوت الآب، إذ يقول: &#8220;كان هو السراج الموقد المنير&#8221; (يو5: 35). لكن ذاك الذى كان سراجاً، ليس لم يخفت نوره أبداً، بسبب مجئ الرب الذى هو شمس البر، لكنه أضاء أكثر، وصار المعمدان مبشراً بالمخلص. إذاً، فنظراً لأن يوحنا المعمدان قد أنار أمة واحدة فقط، وهى إسرائيل فقد دعي سراجاً. لكن رسل  المخلص، لم يدعون سراجاً، ولا نجوماً، بل دعوا منارات، لأنهم لم يضيئوا في منطقة ما فقط، ولا في زاوية معينة من الأرض بل أشرقوا بالنور في كل المسكونة. إن الأوائل من بين القمم هم بطرس ويعقوب ويوحنا، والذين نكرمهم اليوم، لأجل شهادتهم للمسيح، وقد جاهدوا معاً حتى نهاية حياتهم، لكنهم جاهدوا بطرق مختلفة، لإعلان هذه الشهادة وقبول الإستشهاد.</p>
<h3>عظات آباء وخدّام معاصرين الثلاثاء الثالث من الخمسين يوم المقدسة</h3>
<p><strong>يمكن الرجوع إلى: </strong></p>
<p><strong>عظات آباء وخدّام معاصرين ليوم الخميس من الأسبوع الثالث من الصوم الكبير</strong></p>
<hr />
<p><a href="#_ftnref1" name="_ftn1">[1]</a>  كتاب الرسائل الفصحية للقديس أثناسيوس الكبير - الرسالة السادسة (عيد القيامة في 12 برمودة سنة 50 ش. - 7 أبريل سنة 334 م.) - صفحة 8 - القمص تادرس يعقوب ملطي.</p>
<p><a href="#_ftnref2" name="_ftn2">[2]</a>  تفسير انجيل يوحنا للقديس كيرلس الاسكندري - المجلد الاول – صفحة 543 - ترجمة دكتور نصحي عبد الشهيد وآخرون.</p>
<p><a href="#_ftnref3" name="_ftn3">[3]</a>  كتاب إسطفانوس أول شهداء المسيحية للقديس غريغوريوس النيسي - صفحة ٥٠ - ترجمة دكتور سعيد حكيم يعقوب.</p>

      {% endcreateArticleAccordions %}
    </section>
  {% endblock %}
