---
layout: 'layouts/reading.html'
title: 'يوم الأربعاء من الأسبوع الثالث للخماسين المُقَدَّسَة'
tags: 'pentecost'
permalink: /articles/pentecost/3-3.html
---
  {% block content %}
    <section id="readings">
      <ul>
      {% if 'undefined' != 'undefined' %}
      
      {% else %}
      {% if '19.44:23,26' != 'null' %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">العشية</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeVespers '19.44:23,26' '40.20:29-34' %}
          </div>
        </div>
      </li>
      {% endif %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">باكر</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeMatins '19.57:8-10' '40.20:17-19' '' %}
          </div>
        </div>
      </li>
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <h3 class="flex items-center justify-between">
            <span class="kufi">القداس</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </h3>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeLitugy '45.2:14-16' '62.2:21-25' '44.4:32-35' '19.18:46,49' '43.8:23-26' %}
          </div>
        </div>
      </li>

      {% endif %}
        </ul>
    </section>
    <section id="article">
      <h3 class="mt-8 mb-4 heading-explain">شرح القراءات</h3>
      {% createArticleAccordions %}
        <h3>عمق وإتساع الإستعلانات</h3>
<p>تتكلم قراءات اليوم عن ← <strong>عمق وإتساع الإستعلانات  </strong>فإستعلان الله واضح منذ خلق العالم حتى الآن في كل مكان وفي الأمم، في أحداث الحياة، في الآباء والأنبياء والرعاة، وفي ملء الزمان في الصليب والقيامة.</p>
<h4>المزامير</h4>
<p>لذلك تبدأ القراءات بالمزامير:</p>
<ul>
<li>فيتكلم <strong>مزمور عشية</strong> عن ← <strong>حنين البشرية وصرخها في العهد القديم لإستعلان الله وظهور خلاصه </strong>&#8220;استيقظ يا رب لماذا تنام قم ولا تقصنا عنك إلى الإنقضاء. قم يا رب أعنا وأنقذنا من أجل إسمك القدوس&#8221; (مز ٤٣: ١٩ ،٢٢ ).</li>
<li>وفي <strong>مزمور باكر</strong> عن ← <strong>استجابة الله ووعده بالخلاص </strong>&#8220;سأقوم بالغدوات أعترف لك في الشعوب يا رب وأرتل لك في الأمم&#8221; (مز٥٧ : ٨، ٩).</li>
<li>وفي <strong>مزمور القداس</strong> عن ← <strong>فرح البشرية باستعلان الخلاص في العهد الجديد </strong>&#8220;حي هو الرب ومبارك هو إلهي ويتعالى إله خلاصي من أجل هذا أعترف لك يا رب في الأمم وأرتل لإسمك&#8221; (مز١٧: ٤٦، ٤٩).</li>
</ul>
<h4>إنجيل عشية</h4>
<p>وفي إنجيل عشية عن ← <strong>الصراخ بإيمان لنوال الإستنارة ورؤية إبن الله</strong> &#8220;فإزدادا صياحاً قائلين أرحمنا يا ربنا يا ابن داود&#8230; فتحنن يسوع ولمس أعينهما وللوقت أبصرا وتبعاه&#8221; (مت ٩: ٣٧ ،٣٨).</p>
<h4>انجيل باكر</h4>
<p>وفي انجيل باكر عن ← <strong>قبول الرب بإرادته للصليب والقيامة، مدخل إستعلان لاهوته وخلاصه للبشرية كلها</strong> &#8220;ها نحن صاعدون إلى أورشليم وابن الإنسان سيُسلَم إلى أيدي رؤساء الكهنة والكتبة&#8230; ويجلدوه ويصلبوه وبعد ثلاثة أيام يقوم&#8221;.</p>
<h4>البولس</h4>
<p>وفي البولس عن ← <strong>استعلان صوت الله </strong><strong>(الضمير)</strong><strong> في غير المؤمنين</strong> &#8220;لأن الأمم الذين ليس عندهم ناموس متى فعلوا بالطبيعة ما هو في الناموس فهؤلاء إذ ليس لهم ناموس هم ناموس لأنفسهم&#8230; شاهداً أيضاً ضميرهم وأفكارهم فيما بينها مشتكية أو محتجة&#8221;.</p>
<h4>الكاثوليكون</h4>
<p>وفي الكاثوليكون عن أن ← <strong>معرفة إبن الله في تجسده هو أساس وقمة إستعلان الله </strong>ورفض التجسد هو إنحراف عن الحق الإلهي، وتجسد إبن الله هو موضوع النبوات وغاية التدبير الإلهي منذ البدء &#8220;لم أكتب إليكم لأنكم لا تعرفون الحق بل لأنكم به عارفون وأن كل ما هو كذب ليس في الحق من هو الكذاب إلا الذي ينكر أن يسوع هو المسيح&#8230; وأنتم ما سمعتموه من البدء فإنكم أنتم أيضاً تثبتون في الإبن وفي الآب&#8221;.</p>
<h4>الابركسيس</h4>
<p>وفي الابركسيس عن ← <strong>إستعلان قوة القيامة وغنى نعمة العهد الجديد</strong> &#8220;وبقوة عظيمة كان الحواريون يشهدون بقيامة الرب يسوع المسيح ونعمة عظيمة كانت على جميعهم إذ لم يكن فيهم أحد محتاجاً&#8221;.</p>
<h4>إنجيل القدَّاس</h4>
<p>وفي انجيل القداس عن ← <strong>إستعلان إبن الله منذ البدء وخطورة عدم الإيمان به</strong> &#8220;لأنكم إن لم تؤمنوا أني أنا هو تموتون في خطاياكم. فقالوا له: من أنت، قال لهم يسوع: من البدء كلمكتكم مراراً&#8221;.</p>
<h3>ملخص الشرح</h3>
<ul>
<li>فرح البشرية وتسبيحها لإستجابة الله صراخها في القديم واستعلان خلاصه في ملء الزمان. (مزمور عشية – ومزمور باكر – ومزمور القداس).</li>
<li>الصراخ بإيمان هو شرط نوال الإستنارة ورؤية إبن الله. (إنجيل عشية).</li>
<li>الصليب والقيامة هما مدخل وقمة الإستعلان. (إنجيل باكر).</li>
<li>استعلان الله في غير المؤمنين. (البولس).</li>
<li>الإيمان بالتجسد هو مدخل البشرية لمعرفة الحق الإلهي واستعلان الله الدائم لها. (الكاثوليكون).</li>
<li>استعلان فعل القيامة في الكنيسة في شركة الحب والعطاء والإهتمام الواحد وكفاية الأعضاء. (الإبركسيس).</li>
<li>إستعلان إبن الله منذ البدء بأنواع وطرق كثيرة. (إنجيل القداس).</li>
</ul>
<h3>عظات آبائية الأربعاء من الأسبوع الثالث من الخمسين يوم المقدسة</h3>
<p><strong>[ملحوظة: <a href="https://katameros.bible/church-reading/%d8%a7%d9%84%d8%ac%d9%85%d8%b9%d9%80%d8%a9-%d9%85%d9%86-%d8%a7%d9%84%d8%a3%d8%b3%d8%a8%d9%80%d9%88%d8%b9-%d8%a7%d9%84%d8%ae%d9%80%d8%a7%d9%85%d8%b3/">مكرر في يوم الجمعة من الأسبوع الخامس من الصوم الكبير]</a></strong></p>
<h4>من الرسائل الفصحية - للقديس أثناسيوس الرسولي<a href="#_ftn1" name="_ftnref1">[1]</a></h4>
<p><strong>لنحمل سمات المصلوب!.</strong></p>
<p>كتب بولس الطوباوي إلى أهل كورنثوس أنه يحمل في جسده على الدوام إماتة يسوع (٢كو ٤: ١٠) ليس كمن يحمل هذا الفخر وحده بل ويلزمهم هم، كما نحن أيضا أن نحمل هذا.</p>
<p>ليتنا يا أخوتي نقتفي آثاره! وليكن هذا هو فخرنا الدائم فوق كل شيء في كل وقت.</p>
<p>هذا يصير فينا خاصة في أيام العيد إذ نذكر موت مخلصنا، لأن من يصير مشابهاً له في موته، يصير أيضاً مجاهداً في الأعمال الفاضلة، مميتًا أعضاءه التي على الأرض (كو٣: ٥) صالباً الجسد مع الأهواء والشهوات، ويحيا حسب الروح (غل٥: ٢٤، ٢٥).</p>
<p>مثل هذا الإنسان يكون دائم التفكير في إلهه فلا ينسى الله قط، ولا يفعل أعمال الموت.</p>
<p>والآن، فإنه لكي نحمل في جسدنا إماتة يسوع، أضاف الرسول للحال موضحًا لنا الطريق الذي نتبعه قائلاً &#8220;فإذ لنا <u>روح الإيمان</u> عينه حسب المكتوب آمنت لذلك تكلمت.</p>
<p>نحن أيضا نؤمن ولذلك نتكلم أيضاً&#8221; (٢كو٤: ١٣) وقد أردف أيضاً متحدثا عن النعمة التي تنبع عن المعرفة قائلاً &#8220;عالمين أن الذي أقام الرب يسوع سيقيمنا نحن أيضاً يسوع ويحضرنا معكم&#8221; (٢كو ٤: ١٤).</p>
<p><strong>بالإيمان والمعرفة نحيا بالروح</strong></p>
<p>عندما احتضن القديسون مثل هذه الحياة الحقيقية بواسطة الإيمان والمعرفة ينالون بلا شك الفرح السماوي. ذلك الفرح الذي لا يهتم به الأشرار إذ هم محرومون من التطويب النابع عنه.. لأنهم لا يرون جلال الرب (إش٢٦: ١٠).</p>
<p>فإنهم وإن كانوا يسمعون الإعلان العام &#8220;استيقظ أيها النائم وقم من الأموات&#8221; (أف ٥: ١٤)، ويقومون ويأتون إلى السماء قارعين الباب قائلين &#8220;افتح لنا&#8221;، إلا أن الرب سينتهرهم كمن لا يعرفهم.. قائلاً لهم &#8220;لا أعرفكم&#8221;، ويصرخ الروح ضدهم &#8220;الأشرار يرجعون إلى الهاوية كل الأمم الناسين الله&#8221;.</p>
<p><strong>هل يعيد الشرير؟</strong></p>
<p>في أننا نقول بأن الأشرار أموات، لكن لا في حياة تعبدية ضد الخطية، ولا هم مثل القديسين يحملون الموت في أجسادهم، إنما يدفنون النفس في الخطايا والجهالات فتقترب النفس من الموت. وإذ يشبعونها بالملذات المميتة، تكون نفوسهم أشبه بنسور صغيرة تحوم فوق جثث الموتى. وقد أعلنت الشريعة عن هذا إذ تأمر في صورة رمزية بعدم أكل النسور وجميع الطيور التي تأكل الجيف (لا ۱۳:۱۱).</p>
<p>هؤلاء يقتلون النفس بالشهوات، ولا يقولون سوى &#8220;لنأكل ونشرب لأننا غدا نموت&#8221; (إش ٢٢: ١٣)</p>
<p>وقد وصف النبي الثمرة التي يجتنيها أمثال هؤلاء الذين ينغمسون في الملذات، فقال &#8220;فأعلن في أذني رب الجنود لا يغفرن لكم هذا الإثم حتى تموتوا&#8221; (إش١٤:٢٢).</p>
<p>نعم، حتى عندما يعيشون، فإنهم يكونون في عار، إذ يحسبون آلهتهم بطونهم، وعندما يموتون يتعذبون لأنهم افتخروا بمثل هذا الموت.</p>
<p>ويحمل بولس أيضا شهادة عن هذه النتيجة فيقول &#8220;الأطعمة للجوف والجوف للأطعمة والله سيبيد هذا وتلك&#8221; (١كو١٣:٦).</p>
<p>وتعلن الكلمة الإلهية عن هؤلاء بأن موت الأشرار شر ومبغضو الصديق يخطئون (مز٢١:٣٤)، لأن الأشرار يرثون ناراً مرة وظلاماً مهلكاً.</p>
<p><strong>كيف يعيد الأبرار؟</strong></p>
<p>أما القديسون والذين يمارسون الفضيلة ممارسة حقيقية، فقد أماتوا أعضاءهم التي على الأرض، الزنا والنجاسة والهوى والشهوة الرديئة (كو ٥:٣). فيتحقق فيهم، بسبب هذه النقاوة وعدم الدنس، وعد مخلصنا &#8220;طوبى للأنقياء لأنهم يعاينون الله&#8221; (مت ٥ : ٨).</p>
<p>هؤلاء صاروا أمواتًا للعالم، وازدروا بمقتنياته مقتنين موتاً مشرفاً، إذ هو &#8220;عزيز في عيني الرب موت أتقيائه&#8221; (مز١١٦: ١٥)</p>
<p>هؤلاء أيضا قادرون على الاقتداء بالرسول القائل &#8220;مع المسيح صلبت فأحيا لا أنا بل المسيح يحيا فيَّ&#8221; (غل٢: ٢٠).</p>
<p>هذه هي الحياة الحقيقية التي يحيا الإنسان في المسيح، فأنه وإن كان ميتاً عن العالم إلا أنه كما لو كان قاطئا في السماء، منشغلاً في الأمور العلوية، كمن هو هائم في حب تلك السكنى السماوية، قائلاً إننا وإن كنا نسلك في الأرض &#8220;فإن سيرتنا نحن هي في السموات&#8221; (في٣: ٢٠).</p>
<p>الذين يحبون هكذا مشتركين في فضيلة كهذه، هم وحدهم القادرون على تمجيد الله.. وهذا هو ما يعنيه العيد.</p>
<p><strong>فالعيد لا يعني التمتع بأكل اللحوم والملابس الفاخرة، ولا هو أيام للترف، إنما تكمن بهجته في معرفة الله وتقديم الشكر والحمد له.</strong></p>
<p>هذا الشكر وهذا الحمد، يقدمه القديسون وحدهم الذين يعيشون في المسيح، إذ مكتوب &#8220;ليس الأموات يسبحون الرب ولا من ينحدر إلى أرض السكوت. أما نحن فنبارك الرب من الآن والى الدهر&#8221; (مز١١٥: ١٧، ١٨).</p>
<p>هكذا كان الأمر مع حزقيا الذي خلص من الموت فسبح الله قائلاً &#8220;لأن الهاوية لا تحمدك. الموت لا يسبحك&#8230; الحي هو يحمدك كما أنا اليوم&#8221; (إش ٣٨: ١٨، ١٩).</p>
<p>فتسبيح الله وتمجيده هو من اختصاص الذين يحيون في المسيح وحدهم، هؤلاء يصعدون إلى العيد، لأن الفصح ليس للأمم ولا للذين هم يهود بحسب الجسد بل للذين يعرفون الحق، وذلك كقول ذاك الذي أرسل للإعلان عن مثل هذا العيد &#8220;لأن فصحنا أيضاً المسيح قد ذبح لأجلنا&#8221; (١كو ٥: ٧).</p>
<p>لذلك وإن كان الأشرار يقحمون أنفسهم لكي يحفظوا العيد، بينما عملنا في العيد وهو تمجيد الله، لهذا فانهم كأشرار يقتحمون متطفلين في دخولهم كنيسة القديسين. هؤلاء يوبخهم الله معاتباً كل واحد منهم &#8220;مالك تُحَدِّث بفرائضي&#8221; (مز٥٠: ١٦).</p>
<p>والروح القدس يوبخهم قائلاً بأنه ليس للتسبيح مكاناً في فم الخاطئ (سيراخ ١٥: ٩)، ولا للخطية وجود في مذبح الله لأن في الخاطئ يتكلم في الأمور الجامحة، كقول المثل &#8220;فم الأشرار ينبع شروراً&#8221; (أم ١٥: ٢٨).</p>
<p>كيف يمكننا أن نسبح الله بفم دنس، إذ لا يمكن أن يتفق النقيضان معاً؟! &#8220;لأنه أية خلطة للبر والإثم؟. وأية شركة للنور مع الظلمة؟&#8221; (٢كو ٦: ١٤). هذا ما يعلنه بولس خادم الإنجيل.</p>
<p>لهذا لا يمكن للخطاة والغرباء عن الكنيسة الجامعة أي الهراطقة والمنشقين المستبعدين عن أن يمجدوا الله مع القديسين، أن يستمروا في حفظ العيد كما ينبغي.</p>
<p>أما البار، فإنه وإن كان يظهر ميتاً عن العالم، لكنه يتجاسر فيقول &#8220;لا أموت بل أحيا وأحدث بأعمالك العجيبة&#8221; (راجع (مز ١١٨: ١٧). فانه حتى الله لا يخجل من أن يدعى لهم إلها، هؤلاء الذين بحق يميتون أعضاءهم التي على الأرض (كو ٣: ٥) ويحيون في المسيح الذي هو إله أحياء لا إله أموات. هذا الذي بكلمته ينعش كل البشر، ويعطيهم طعاماً يحيا به القديسون، كما أعلن الرب قائلاً &#8220;<strong>أنا هو خبز الحياة</strong>&#8221; (يو ٦: ٤٨).</p>
<p>ولما كان اليهود عديمي الإدراك ولم تكن حواسهم مدربة على الفضيلة، لهذا لم يفهموا أقواله عن &#8220;الخبز&#8221; فتذمروا ضده لأنه قال عن نفسه أنه الخبز الحي الذي نزل من السماء ويهب حياة للبشر (يو ٦: ٥١).</p>
<p><strong>بين الخبز الحي وخبز الخطية</strong></p>
<p>الخطية لها خبزها الخاص بها، الذي يدعو المحبين لملذاتها ليموتوا بموتها، وتدعو ناقصي الفهم قائلة &#8220;المياه المسروقة حلوة وخبز الخفية لذيذ&#8221; (أم ٩: ١٧). لأنه حتى من يلمس لا يعرف أن ما هو مولود من الأرض يبيد معها . فعندما يفكر الخاطئ في أن يجد لذة، فإنه في نهاية هذا الخبز لا يعرف أن ما هو مولود من الأرض يبيد معها.</p>
<p>فعندما يفكر الخاطئ في أن يجد لذة، فإنه في نهاية هذا العام لا يجد فيه بهجة، كما تقول حكمة الله أن خبز الخداع مسر للرجل، لكن فمه بعد ذلك يمتلئ حصاة. وأن العسل يسقط من شفتي المرأة الزانية التي تكون إلى حين حلوة، ولكن النهاية تجدها أكثر مرارة من المر ذاته، وأكثر حدة من السيف ذي الحدين.</p>
<p>هكذا إذ يأكل الخاطئ ويفرح إلى حين، فأنه عندما ترحل نفسه «من هذا العالم» سوف تستخف بهذا الطعام! فالغبي لا يدرك أن من يبتعد عن الله يهلك. مع أنه يوجد صوت نبوي يقول رادعاً &#8220;والآن مالك وطريق مصر «تشير إلى العبادة الوثنية بما فيها من ملذات وشهوات» لشرب مياه شيمور؟! ومالك طريق أشور لشرب مياه النهر؟! (إر ٢: ١٨).</p>
<p>وحكمة الله التي تبني البشرية تمنعهم من هذه الأشياء «خبز الخطية»، صارخة أن ينفصلوا عنها ولا يتأخروا في المكان ولا يتطلعوا إليها، لأنها مياه غريبة سوف تعبر وترحل سريعاً..</p>
<p>كذلك تدعونا الحكمة إلى نفسها قائلة &#8220;الحكمة بنت بيتها نحتت أعمدتها السبعة. ذبحت ذبحها مزجت خمرها. أيضا رتبت مائدتها. أرسلت جواريها تنادي على ظهور أعالي المدينة. من هو جاهل فليمل إلى هنا. والناقص الفهم قالت له: هلموا كلوا من طعامي واشربوا من الخمر التي مزجتها&#8221; (أم ٩: ١- ٥).</p>
<p><strong>وبأي رجاء يأكل خبز الحكمة؟</strong></p>
<p>&#8220;اتركوا الجاهلات فتحيوا وسيروا في طريق الفهم&#8221; (أم ٩: ٦) لأن خبز الحكمة محي، إذ يقول الرب &#8220;أنا الخبز الحي الذي نزل من السماء. إن أكل أحد من هذا الخبز يحيا إلى الأبد&#8221; (يو ٦: ٥١) ويلمنا الرب قائلاً &#8220;أنا هو خبز الحياة. آباؤكم أكلوا المن في البرية وماتوا. هذا هو الخبز النازل من السماء لكي يأكل منه الإنسان ولا يموت&#8221; (يو ٦: ٤٨- ٥٠).</p>
<p><strong>الأبرار يشبعون والخطاة يفتقرون</strong></p>
<p>إن الأشرار يفتقرون إلى خبز كهذا.. أما الأبرار فهم وحدهم الذين تهيأوا لكي يشبعوا، قائلاً كل واحد منهم أما أنا فبالبر أنظر وجهك. أشبع إذا استيقظت بشبهك&#8221; (مز ١٧: ١٥).</p>
<p>لأن من يشترك في الخبز الإلهى دائماً يجوع مشتاقاً، وإذ هو جائع لا يحرم من أن يعطى له كما وعد &#8220;الحكمة&#8221; ذاته قائلاً &#8220;الرب لا يُجِيعُ نفس الصديق&#8221; (أم ١٠: ٣) وكما وعد أيضاً في المزامير &#8220;بطعامها أبارك بركة مساكينها أشبع خبزاً&#8221; (مز ١٣٢: ١٥).</p>
<p>إننا نسمع مخلصنا يقول &#8220;طوبى للجياع والعطاش إلى البر لأنهم يشبعون&#8221; (مت ٥: ٦).</p>
<p>حسناً إذن ما يفعله القديسون، إذ يحيون في المسيح، ويبثون في أنفسهم شوقاً نحو هذا الطعام.</p>
<p>وقد تفجر شوق أحدهم إذ يقول &#8220;كما يشتاق الإيل إلى جداول المياه هكذا تشتاق نفسي إليك يا الله&#8221; (مز٤٢: ١).</p>
<p>&#8220;نفسي عطشت إلى االله الحي متى أجيء وأعاین وجه االله؟!&#8221;.</p>
<p>&#8220;يا الله إلهي أنت إليك أبكر. عطشت إليك نفسي. يشتاق إليك جسدي في أرض ناشفة ويابسة بلا ماء. لكي أبصر قوتك ومجدك كما قد رأيتك في قدسك&#8221; (مز ٦٣: ١، ٢).</p>
<p><strong>والإيمان والخبز الحي؟</strong></p>
<p>ما دام الأمر هكذا يا أخوتي، فليتنا نميت أعضاءنا التي على الأرض (كو ٣: ٥)، ونتقوت بالخبز الحي: الإيمان بالله وحب الله، عالمين أنه بدون إيمان لا يمكن أن تكون لنا شركة في خبز كهذا. لأنه عندما دعى ربنا الكل إليه قال &#8220;إن عطش أحد فليقبل إليَّ ويشرب&#8221; (يو ٧: ٣٧) وللحال تحدث عن الإيمان الذي بدونه لا يقدر إنسان أن يأخذ من مثل هذا الطعام &#8220;من آمن بي كما قال الكتاب تجري من بطنه أنهار ماء حي&#8221; (يو ٧: ٣٨).</p>
<p>بهذا الهدف كان ينعش تلاميذه المؤمنين بكلماته ويعطيهم الحياة باقترابهم من لاهوته. أما المرأة الكنعانية فإذ لم تكن بعد مؤمنة لم يتكرم عليها حتى بمجرد الإجابة عليها رغم احتياجها الشديد إلى طعام منه.</p>
<p>وهو لم يصنع هذا احتقاراً بها. حاشا له، لأنه محب لكل البشر.. ولهذا نجده يذهب إلى سواحل صور وصيدا (أي يذهب عند غير المؤمنين)، ولكن صنع هذا معها لأنها لم تكن آمنت بعد ولا أخذت حكمة.</p>
<p>وبحق صنع هذا يا أخوتي، ما كان لها أن تنتفع شيئاً لو استجاب لطلبتها قبل أن تعلن إيمانها، ولكن بإيمانها يمكنها أن تنال طلبتها إذ يجب أن الذي يأتي إلى الله يؤمن بأنه موجود وأنه يجازي الذين يطلبونه&#8221; وأنه &#8220;بدون إيمان لا يمكن إرضاؤه&#8221; (عب ١١: ٦).</p>
<p>هذا ما يعلم به بولس.</p>
<p>فهي إذ كانت إلى تلك اللحظة غير مؤمنة، الأمر الذي يجعلها دنسة، وهذا يظهر من قوله &#8220;ليس حسناً أن يؤخذ خبز البنين ويطرح للكلاب&#8221; (مت ١٥: ٢٦).</p>
<p>وعندما وثقت في قوة &#8220;الكلمة&#8221; وغيرت من طريقها اقتنت أيضا الإيمان، وبالتالي لم يعد بعد يحدثها كأنها &#8220;كلب&#8221; إنما غير طريقة حديثه عنها على أنها مخلوق بشري قائلاً &#8220;يا امرأة عظيم إيمانك&#8221; (مت ١٥: ٢٨).</p>
<p>وإذ آمنت وهبها ثمرة إيمانها قائلاً لها &#8220;ليكن لك كما تريدين. فشفيت ابنتها من تلك الساعة&#8221;.</p>
<p><strong>لا تدس دم ابن الله</strong></p>
<p>من يؤهل للدعوة السماوية، بهذه الدعوة يتقدس، لكنه إن سلك في هذه الدعوة بإهمال، فإنه وإن كان قد تنقى لكن (بإهماله هذا) يصير دنساً.</p>
<p>يقول الرسول &#8220;«فَكَمْ عِقَابًا أَشَرَّ تَظُنُّونَ» أَنَّهُ يُحْسَبُ مُسْتَحِقًّا مَنْ دَاسَ ابْنَ اللهِ، وَحَسِبَ دَمَ الْعَهْدِ الَّذِي قُدِّسَ بِهِ دَنِسًا، وَازْدَرَى بِرُوحِ النِّعْمَةِ؟&#8221; (عب١٠: ٢٩).</p>
<p>أنه سيسمع تلك الكلمات &#8220;يَا صَاحِبُ، كَيْفَ دَخَلْتَ إِلَى هُنَا وَلَيْسَ عَلَيْكَ لِبَاسُ الْعُرْسِ؟!&#8221; (مت٢٢: ١٢) لأن وليمة القديسين طاهرة بلا دنس &#8220;لأَنَّ كَثِيرِينَ يُدْعَوْنَ وَقَلِيلِينَ يُنْتَخَبُونَ&#8221; (مت٢٢: ١٤).</p>
<p>ويشهد بهذا يهوذا، الذي وإن جاء إلى العشاء، لكنه احتقر الوليمة وخرج من حضرة الرب وفقد حياته خانقاً نفسه. وأما التلاميذ الذين استمروا مع المخلص، فقد صارت لهم سعادة الوليمة.</p>
<p>وذاك الشاب الذي ذهب إلى كورة بعيدة وبدد أمواله في عيش مسرف، متى عاد مشتاقا إلى الوليمة السمائية ورجع إلى نفسه قائلاً &#8220;كَمْ مِنْ أَجِيرٍ لأَبِي يَفْضُلُ عَنْهُ الْخُبْزُ وَأَنَا أَهْلِكُ جُوعًا؟!&#8221; (لو١٥: ١٧) وللحال قام وذهب إلى أبيه واعترف قائلاً له &#8220;أَخْطَأْتُ إِلَى السَّمَاءِ وَقُدَّامَكَ، وَلَسْتُ مُسْتَحِقًّا بَعْدُ أَنْ أُدْعَى لَكَ ابْنًا اِجْعَلْنِي كَأَحَدِ أَجْرَاكَ&#8221;، فأنه بعدما اعترف هكذا صار مستحقاً لأكثر مما طلب.</p>
<p>لأن الآب لم يقبله كعبد أجير ولا تطلع إليه كانسان غريب، بل قبله كابن، ورده من الموت إلى الحياة، واعتبره مستحقاً للوليمة الإلهية، وأعطاه ثوبه الأول الثمين، حتى أنه بسبب هذا صار غناء وفرح في بيت الأبوة.</p>
<p><strong>الله ينتظرك!</strong></p>
<p>هذا هو عمل الحب الأبوي المترفق وصلاحه، أنه ليس فقط يقيم الإنسان من الأموات بل ويعيد إليه نعمته العظيمة خلال الروح. وبدل الفساد يلبسه ثوباً غير فاسد، وبدل الجوع يذبح العجل المثمن، وعوض المسافة الطويلة التي قطعها في رحلته فأن الآب المنتظر رجوعه يقدم حذاء لقدميه. وما هو أعجب من هذا يعطيه خاتم الخطبة الإلهي في إصبعه، وفي هذا كله يجعله في صورة مجد المسيح..</p>
<p>هذه هي العطايا المجانية التي يقدمها الآب، والتي بها يكرم الرب الساكنين معه والراجعين إليه تائبين، ومنعشا إياهم. فأنه يعدنا (يسوع) قائلاً &#8220;أَنَا هُوَ خُبْزُ الْحَيَاةِ مَنْ يُقْبِلْ إِلَيَّ فَلاَ يَجُوعُ، وَمَنْ يُؤْمِنْ بِي فَلاَ يَعْطَشُ أَبَدًا&#8221; (يو ٦: ٣٥).</p>
<p>ونحن أيضاً فسنحسب مستحقين لهذه الأمور، إن كنا في هذا الزمان نلتصق بمخلصنا، وكنا أطهاراً لا في أيام الفصح والسنة (أسبوع البصخة) وحدها، بل ونأخذ في اعتبارنا كل زمان حياتنا كما لو أنها كانت عيداً. فنستمر قريبين منه غير مبتعدين عنه إذ نقول له &#8220;إِلَى مَنْ نَذْهَبُ؟ كَلاَمُ الْحَيَاةِ الأَبَدِيَّةِ عِنْدَكَ؟!&#8221; (يو ٦: ٦٨). ليت الذين هم منا وقد ابتعدوا عنا يرجعون مرة أخرى، معترفين بخطاياهم، ولا يكون في قلبهم شيء ضد أحد، بل بالروح يميتون أعمال الجسد (رو٨: ١٣). لأنه هكذا إذ ينعشون النفس هنا، يشتركون مع الملائكة في المائدة السمائية الروحية، ولا يكونوا كالعذارى الخمس الجاهلات (مت٢٥: ١- ١٢) اللواتي كن يقرعن ولكنهن رفضن، بل يدخلون مع الرب مثل العذارى الحكيمات المحبات للعريس. وإذ يظهرون إماتة يسوع في أجسادهم (٢كو ٤: ١٠) فأنهم يقبلون منه الحياة والملكوت.</p>
<h4>معني تموتون في خطاياكم - القديس كيرلس الأسكندري<a href="#_ftn2" name="_ftnref2">[2]</a></h4>
<p><strong>(يو٢٤:٨)</strong><strong> &#8220;فقلت لكم: إنكم تموتون في خطاياكم&#8221;. </strong></p>
<p>وبكلمات قليلة حول التصورات الرديئة لأولئك الذين فهموا هكذا وبعد أن وبخهم أيضاً بسبب كلامهم الغبي عنه، فإنه يرجع إلى هدفه الأصلي من حديثه ويلخصه مبيناً لهم الشر العظيم الذي سيكونون فيه وما الذي سوف يسقطون فيه، إن كانوا بعدم تعقل يرفضون أن يؤمنوا به. فهناك أمر ملائم جداً لأي معلم حكيم ووقور؛ لأني أظن أن المعلم لا ينبغي أن يتصادم مع جهل سامعيه ولا أن يهمل في عنايته بهم، حتى إن لم يتعلموا الدروس بسهولة، ولكنه يعيد مرات كثيرة، ويرجع إلى نفس الأمور ويستعمل نفس الكلمات، (كما أن الحراث الذي يلازم الحقل ويبذل جهدا غير قليل فيه، فإنه حينما يكون قد زرع البذار في الأثلام&#8221;، فإن رأى إحدى البذار تلفت، فإنه يعود ثانية إلى المحراث ولا يضن بأن يبذر على الأجزاء التي تلفت: لأنه إذا لم يصل إلى هدفه في المرة الأولى فلن يحدث نفس الشيء في المرة الثانية. ومثل هذه العادة كان يمارسها بولس الإلهي عندما يقول في موضع ما: &#8220;كتابة هذه الأمور إليكم ليست على ثقيلة، وأما لكم فهي مؤمنة&#8221; (فی۱:۳). هل ترى، كما أن المعلم يرتفع فوق الكسل، فبالنسبة للسامعين يكون الأمر عملاً مطمئناً؟ إذن فربنا يسوع المسيح يكرر حديثه بطريقة نافعة مع اليهود ويؤكد أن عقوبة عدم الإيمان به لن تكون بأمور عابرة: لأنه يقول إن الذين لا يؤمنون فبالتأكيد سيموتون في خطاياهم. وأن الموت في التعديات هو حمل ثقيل لأنه سيسلم نفس الإنسان إلى اللهيب  الذي بلا شك  سوف يبيد الكل.</p>
<p><strong>&#8220;لأنكم إن لم تؤمنوا أني أنا هو تموتون في خطاياكم&#8221;. </strong></p>
<p>وهو يشرح بأكثر دقة ما سوف يحدث، وإذ قد جعل كيفية الخلاص واضحة جداً فهو يبين ثانية بأي طريق سوف يصعدون إلى حياة القديسين ويبلغون إلى المدينة التي هي فوق، أورشليم السماوية. وهو لا يقول إن الإنسان ينبغي أن يؤمن بل يؤكد أن الإيمان يلزم أن يكون به هو. لأننا نتبرر بالإيمان به كإله من إله وكالمخلص والفادي وملك الكل والرب بالحق. لذلك يقول إنكم ستهلكون &#8220;إن لم تؤمنوا أني أنا&#8221; أما الضمير &#8220;أنا&#8221; فيما يقول هو ذاك الذي كتب عنه في الأنبياء &#8220;استنيري استنيري يا أورشليم لأنه قد جاء نورك ومجد الرب أشرق عليك&#8221; (إش٦٠: ١). لأنه يقول: لاني أنا الذي منذ القديم أمرت أن تنزع أمراض النفس عنها وأنا الذي وعدت بشفاء المحبة بالقول: &#8220;أرجعوا ارجعوا أيها البنون المرتدون&#8221;وأنا&#8221; سأشفى عصيانكم&#8221; (إر۲۲:۳). أنا هو الذي أعلنت أن الصلاح الإلهي القديم والصبر الذي لا يجاري ينبغي أن يسكب عليكم. ولذلك صرخت عاليا: &#8220;أنا أنا هو الماحي ذنوبك ولن أذكرها&#8221; (إش٢٥:٤٣س). (ويقول ) أنا هو الذي قال لإشعياء النبي اغتسلوا، تنقوا، اعزلوا شرور قلوبكم من أمام عيني، كفوا عن فعل الشرور.. وهلم نتحاجج يقول الرب، إن كانت خطاياكم كالقرمز تبيض كالثلج، وإن كانت كالدودي (الأحمر) فإني أبيضها كالصوف&#8221; (إش١٦:١-١٨). (ويقول) أنا هو - الذي عنه يقول إشعياء النبي نفسه: &#8220;يا صهيون التي تأتى بالبشارة السارة، اصعدي على جبل عال يا أورشليم التي تأتى بالبشارة السارة، ارفعي صوتك بقوة، ارفعي لا تخافي، هوذا إلهك. هوذا الرب بقوة يأتي وذراعه تحكم له. هوذا أجرته معه وعمله أمامه.. كراع يرعى قطيعه، بذراعه يجمع الحملان ويريح المرضعات&#8221; (إش٩:٤٠۔١١). ويقول أيضا &#8220;حينئذ ستنفتح عيون العمي وآذان الصم سوف تسمع. حينئذ يقفز الأعرج كالأيل ويترنم لسان الأخرس&#8221; (إش٦،٥:٣٥ س). (ويقول) &#8220;يأتي بغتة إلى هيكله السيد الذي تطلبونه وملاك العهد الذي تسرون به. هوذا يأتي قال رب الجنود، ومن يحتمل يوم مجيئه ومن يثبت عند ظهوره، لأنه سيدخل مثل نار المحمص ومثل أشنان القصار&#8221; (ملا٣: ١، ۲س). (ويقول) أنا هو الذي لأجل خلاص الناس وعدت بصوت المرنم أن أقدم نفسي ذبيحة لله الآب، وصرخت: &#8220;بذبيحة وقرباناً لم تُرد ولكن هيأت لي جسداً، بمحرقات وذبائح للخطية لم تُسر. ثم قلت ها أنذا أجيء في درج الكتاب مكتوب عني لأفعل مشيئتك يا الله&#8221; (مز٨،٦:٤٠س) (ويقول) أنا هو، والناموس بواسطة موسى كرز عني قائلاً هكذا: &#8220;يقيم لك الرب إلهك نبياً من بين أخوتك مثلي له تسمعون، حسب كل ما طلبت من الرب الهك في حوريب يوم الاجتماع (تث١٦،١٦:١٨س).</p>
<p>لذلك (يقول)، سوف تهلكون وسوف توفون للديان العقاب العادل جداً كثرة شر أخلاقكم إذ لا تسمعون ذاك الذي سبق أن بشركم به قديسون كثيرون، وأيضا بشهادة الأعمال التي أعملها أنا. لأنه بالتأكيد وحسب الحق، ليست هناك مجادلة تعفي أولئك الذين لا يؤمنون به من نوال العقاب، إذ نرى أن الكتاب الموحى به من الله مملوء بالشهادات والأقوال عنه وهو نفسه يقدم بأعماله مجداً مطابقاً لما تم التنبؤ عنه منذ زمن بعيد.</p>
<h3>عظات آباء وخدّام معاصرين للأربعاء الثالث من الخمسين يوم المقدسة</h3>
<p><a href="https://katameros.bible/church-reading/%d8%a7%d9%84%d8%ac%d9%85%d8%b9%d9%80%d8%a9-%d9%85%d9%86-%d8%a7%d9%84%d8%a3%d8%b3%d8%a8%d9%80%d9%88%d8%b9-%d8%a7%d9%84%d8%ae%d9%80%d8%a7%d9%85%d8%b3/"><strong> يمكن الرجوع إلى: عظات آباء وخدّام معاصرين  ليوم الجمعة من الأسبوع الخامس من الصوم الكبير</strong></a></p>
<h3>المراجع</h3>
<p><a href="#_ftnref1" name="_ftn1">[1]</a>  كتاب الرسائل الفصحية للقديس أثناسيوس الكبير - الرسالة السابعة (عيد القيامة في 4 برمودة سنة 51 ش. – 30 مارس سنة 335 م.) - صفحة 15 - القمص تادرس يعقوب ملطي.</p>
<p><a href="#_ftnref2" name="_ftn2">[2]</a>  تفسير انجيل يوحنا للقديس كيرلس الاسكندري المجلد الاول - صفحة ٥٧٠ - ترجمة دكتور نصحي عبد الشهيد وآخرون.</p>

      {% endcreateArticleAccordions %}
    </section>
  {% endblock %}
