---
layout: 'layouts/reading.html'
title: 'يوم الخميس من الأسبوع الثالث للخماسين المُقَدَّسَة'
permalink: pentecost/3-4.html
---
  {% block content %}
    <section id="readings">
      <ul>
      {% if 'undefined' != 'undefined' %}
      
      {% else %}
      {% if '19.101:1,2,4' != 'null' %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">العشية</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeVespers '19.101:1,2,4' '40.13:53-58' %}
          </div>
        </div>
      </li>
      {% endif %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">باكر</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeMatins '19.101:8-8' '40.22:34-40' '' %}
          </div>
        </div>
      </li>
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <h3 class="flex items-center justify-between">
            <span class="kufi">القداس</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </h3>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeLitugy '45.2:17-20' '62.2:26-29*@+62.3:1' '44.5:1-6' '19.33:20-21' '43.8:28-30' %}
          </div>
        </div>
      </li>

      {% endif %}
        </ul>
    </section>
    <section id="article">
      <h3 class="mt-8 mb-4 heading-explain">شرح القراءات</h3>
      {% createArticleAccordions %}
        <h3>الإستعلان وإستنارة الروح</h3>
<p>تتكلم قراءات اليوم عن <strong>الإستعلان وإستنارة الروح،</strong> فإستعلان الله لا يأتي إلا من فعل الروح القدس، فهو روح الإستعلان ومعرفة الله المعرفة الحقيقية فهو الذي يرشدنا إلى جميع الحق ويأخذ مما للمسيح ويخبرنا.</p>
<p></p>
<h4>المزامير</h4>
<p>لذلك تتكلم المزامير عن:</p>
<ul>
<li>مظاهر الإستنارة والسلوك في طريق بلا عيب &#8220;رحمة وحكماً أسبحك يا رب أترنم وأتفهم في طريق بلا عيب&#8221; (مز ١٠٠: ١).</li>
<li>والغربة الكاملة عن الخطية والخطاة &#8220;في أوقات الغدوات كنت أقتل جميع خطاة الأرض لأبيد من مدينة الرب جميع صانعي الإثم&#8221; (مز100: 10).</li>
<li>والالتصاق الدائم بالله &#8220;أنفسنا تنتظر الرب في كل حين لأنه هو معيننا وناصرنا وبه يفرح قلبنا لأننا على إسمه القدوس اتكلنا&#8221; (مز32: 17، 18).</li>
</ul>
<p></p>
<h4>إنجيل عشية</h4>
<p>وفي إنجيل عشية عن ← <strong>غياب روح الاستنارة نتيجة عدم الإيمان </strong>&#8220;وكانوا يشكون فيه فقال لهم يسوع: لا يُهان نبي في مكان ما إلا في وطنه وبيته. ولم يصنع هناك قوات كثيرة لعدم إيمانهم&#8221;.</p>
<p></p>
<h4>انجيل باكر</h4>
<p>وفي انجيل باكر عن ← <strong>مصدر الإستنارة محبة الله من كل القلب ومحبة الآخرين </strong>&#8220;أما هو فقال له: تحب الرب إلهك من كل قلبك &#8230;. هذه هي عظمى الوصايا وأولاها والثانية التي تُشبهها أن تحب قريبك كنفسك&#8221;.</p>
<p></p>
<h4>البولس</h4>
<p>وفي البولس عن أن ← <strong>عطية الاستنارة ومعرفة الحق الإلهي لا ترتبط بالشكل ولا بالإطار الكنسي بل بروح الحياة في المسيح المعلن في الكنيسة</strong> &#8220;هوذا أنت تُسمى يهودياً وتتكل على الناموس وتفتخر بالله&#8230; وتثق أنك قائد للعميان ونور للذين هم في الظلمة &#8230;. ولك صورة العلم والحق في الناموس&#8221;.</p>
<p></p>
<h4>الكاثوليكون</h4>
<p>وفي الكاثوليكون عن ← <strong>المضلين البعيدين عن حياة البر ولكن أبناء الله تعلمهم مسحة الروح القدس الثبات في الله وحياة البر </strong>&#8220;كتبت إليكم عن الذين يضلونكم فأما أنتم فالمسحة التي قبلتموها منه ثابتة فيكم.. فالآن أيها البنون اثبتوا فيه.. أن علمتم أنه بار هو فإعلموا أن كل من يعمل البر فإنه مولود منه&#8221;.</p>
<p></p>
<h4>الابركسيس</h4>
<p>وفي الابركسيس عن ← <strong>محبة المال والفضة التي تتيح للشيطان إمتلاك قلب الإنسان، وغياب نور الروح القدس</strong> &#8220;فقال بطرس يا حنانيا ما بالك قد ملأ الشيطان قلبك لتكذب على الروح القدس وتختلس من ثمن الحقل&#8230; فما بالك وضعت في قلبك هذا الأمر أنت لم تكذب على الناس بل على الله&#8221;.</p>
<p></p>
<h4>إنجيل القداس</h4>
<p>وفي انجيل القداس عن ← <strong>قبول الصليب والفداء هو أساس ومدخل الإستنارة ومعرفة الله </strong>&#8220;قال لهم يسوع إذا رفعتم إبن الإنسان فحينئذ تعلمون أني أنا هو&#8221;.</p>
<p></p>
<h3>ملخص الشرح</h3>
<ul>
<li>السلوك في الطريق بلا عيب والغربة الكاملة عن الخطية والخطاة والالتصاق الدائم بالله هي مظاهر الإستنارة. (مزمور عشية &#8211; مزمور باكر- مزمور القداس).</li>
<li>عدم الإيمان يحرم الإنسان من الإستنارة. (انجيل عشية).</li>
<li>محبة الله من كل القلب ومحبة القريب هما مصدر الإستنارة. (انجيل باكر).</li>
<li>معرفة الحق اللإلهي لا ترتبط بالشكل ولا بالإطار الكنسي بل بروح الحياة في المسيح المعلن في الكنيسة. (البولس).</li>
<li>مسحة الروح القدس تعلم أولاد الله الثبات فيه وتعطيهم حياة البر. (الكاثوليكون).</li>
<li>محبة الفضة تُظلِم النفس وتحرمها من نور الروح القدس. (الابركسيس).</li>
<li>إستنارة العهد الجديد ومعرفة إبن الله تأتي من خلال الصليب وقبول الخلاص. (إنجيل القداس).</li>
</ul>
<p></p>
<h3>عظات آبائية ليوم الخميس من الأسبوع الثالث من الخمسين يوم المقدسة</h3>
<h4>من الرسائل الفصحية &#8211; للقديس أثناسيوس الرسولي<a href="#_ftn1" name="_ftnref1">[1]</a></h4>
<p><strong>الضيق لا يمنعنى من مراسلتكم.</strong></p>
<p>إخوتي.. بالرغم من أنني أسافر كل هذه المسافة من أجلكم، لكنني لا أنسى تلك العادة التي تسلمناها من الآباء، لهذا فأنني لا أصمت غير مخبر إياكم عن موعد العيد المقدس..</p>
<p>فأنه وإن كان قد عاقني أولئك الذين صبوا عليَّ الأحزان التي سمعتم عنها، وبالرغم من التجارب التي لحقت بي، وبعد المسافة التي تفصل بيني وبينكم، وبينما يتتبع أعداء الحق خطواتنا ناصبين لنا الشباك حتى يعثروا على رسالة منا يزيدون بها من جراحاتهم باتهامنا؛ وفي هذا كله يعزينا الرب ويقوينا في شدائدنا، لهذا فأننا مهما كنا وسط مؤامرات يدبرونها حولنا، غير أننا لا نخاف من أن نعلمكم ونخبركم بعيدنا الذي للقيامة المنقذ، حتى ولو كنا في أقاصى الأرض.</p>
<p>كذلك عندما كتبت إلى كهنة الإسكندرية، طلبت منهم أن يرسلوا إليكم هذه الرسائل تحت إشرافهم، رغم معرفتي بالمخاطر التي تحيط بهم من الأعداء. إلا أنني قد أوصيتهم أن تكون لهم الشجاعة الرسولية في الحديث قائلين: لا يفصلنا عن المسيح شدة أو ضيق أو اضطهاد أو جوع أو عري أو تجارب أو سيف (رو8: 35).</p>
<p>وإذ أنا أحفظ العيد، أشتاق أن تحفظوه أنتم أيضاً يا أحبائي.</p>
<p>وإذ أشعر أنه من واجبي أن أعلن لكم هذا العيد، لهذا لم أتأخر عن أن أقوم بهذا العمل حتى لا توبخني الوصية الرسولية القائلة &#8220;فأعطوا الجميع حقوقهم&#8221; (رو 13: 7).</p>
<p><strong>سأعبر معكم رغم ابتعادنا بالجسد</strong></p>
<p>وإذ قمت بكل أعمالي تجاه الله، كنت شغوقا أن أعيد العيد معكم، غير معط حساباً لبعد المسافة التي بيننا. لأنه وإن كان المكان يفصل بيننا، لكن الرب واهب العيد الذي هو نفسه عيدنا (1كو 5: 7)، والذي هو واهب الروح القدس (لو 11: 13)، يجمعنا معاً في الفكر والرأي وفي رباط السلام (أف 4: 3) لأننا جميعاً مشغولون بنفس الأمور، ونقدم نفس الصلوات من أجل بعضنا البعض. لذلك لا يستطيع بعد المكان أن يفصل بيننا، إذ يجمعنا الرب ويوحدنا مع بعضنا البعض.</p>
<p>لأنه إن كان قد وعد قائلاً بأنه إن اجتمع اثنان أو ثلاثة باسمه يكون في وسطهم (مت 18: 20)، فأنه من الواضح أنه إذ يكون الرب في وسط أولئك المجتمعين مع بعضهم البعض في كل مكان (رغم بعد المكان عن بعضهم البعض)، فأنه يوحد بينهم ويقبل صلوات جميعهم، كما أنهم لو كانوا مقتربين معاً، وينصت إلى الكل كأنهم يصرخون بفم واحد قائلين &#8220;آمين&#8221;!.</p>
<p>إننى أحتمل أحزاناً كهذه وتجارب مما قد أشرت إليكم عنها يا أخوتي..</p>
<p><strong>في الضيق يتمجد الله</strong></p>
<p>ولكي لا أضايقكم بالمرة، أريد فقط أن أذكركم باختصار، لأن الإنسان لا ينسى ما يذوقه من آلام في التجربة.. حتى لا يكون الإنسان غير شاكر فيبتعد عن الاجتماع الإلهي. لأنه لا يوجد وقت فيه يمجد الإنسان الله مثل الوقت الذي فيه تعد الضيقات، ولا يوجد وقت يقدم فيه الإنسان التشكرات مثل الوقت الذي فيه يجد الراحة بعد التعب والضيق.</p>
<p>فحزقيا عندما أهلك الأشوريين سبح الرب شاكرا قائلاً &#8220;الرب لخلاصي. فنعزف بأوتارنا كل أيام حياتنا في بيت الرب&#8221; (إش38: 20).</p>
<p>والثلاثة فتية الأبطال الطوباويون الذين جربوا في بابل. حناانيا وميصائيل وعزاريا، عندما صاروا في أمان وأصبحت النار بالنسبة لهم مثل الندى، شكروا الله مسبحين إياه وممجدينه.</p>
<p>وأنا أيضا كتبت إليكم يا إخوتي، واضعاً هذه الأمور في ذهني، لأن الله إلى أيامنا هذه لا يزال يصنع أموراً هي في نظر البشر مستحيلة. وما لا يستطيع البشر أن يفعلوا، مستطاع لدى الله.. ألا وهو أن يحضرنا إليكم، ولا يسلمنا كفريسة في فم أولئك الذين يريدون أن يبتلعوننا..</p>
<p><strong>الله هو شبع الجميع</strong></p>
<p>الله الصالح يضاعف حنو محبته لنا، ليس فقط عندما وهب الخلاص للعالم خلال حكمته، بل أيضا عندما يضطهدنا الأعداء (الأريوسيين) ويمسكوا بنا، وذلك كقول الطوباوي بولس عندما كان يصف غنى محبة المسيح غير المدركة قائلاً &#8220;الله الذي هو غني في الرحمة من أجل محبته الكثيرة التي أحبنا بها. ونحن أموات بالخطايا أحيانا مع المسيح&#8221; (أف 5: 2- 4) لأن قدرة الإنسان وكل الخلائق ضعيفة وفقيرة، أما القدرة التي هي فوق الإنسان، غير المخلوقة، غنية وغير مدركة ليس بداية بل هي سرمدية.</p>
<p>لا يستخدم الله طريقة واحدة للعلاج، بل بكونه غنياً يستخدم طرقاً كثيرة لأجل خلاصنا بكلمته، الذي هي ليس بمحدود ولا مقيد ولا معوق في طرق علاجه التي يقدسها لنا، إنما هو غني، وقادر أن يشكل نفسه حسب احتياجات وقدرة كل نفس.</p>
<p>إنه كلمة الله وقوته وحكمته كما يشهد سليمان عن الحكمة قائلاً: &#8220;وهي واحدة وقادرة على كل شيء وثابتة في ذاتها ومجددة الكل ومنتقلة إلى النفوس القديسة في أجيال الأجيال وتجعل أحباء وأنبياء الله&#8221;(حك ٧: ٢٧).</p>
<p>فبالنسبة للذين لم يبلغوا بعد طريق الكمال، يكون (الكلمة) بالنسبة لهم (١كو ٢:٣) كقطيع يقدم لهم لبئًا. وهذا ما خدم به بولس إذ يقول: &#8220;سقيتم لبئا لا طعاما&#8221;.</p>
<p>أما بالنسبة للذين تقدموا وتعدوا دور الطفولة الكاملة، ولكنهم لازالوا ضعفاء إذ هم يطلبون الكمال، هؤلاء أيضا يكون (الكلمة) بالنسبة لهم كطعام قدر طاقة احتمالهم. وقد خدم به بولس أيضاً، إذ قال &#8220;أما الضعيف فيأكل بقولاً&#8221; (رو١٤: ٢).</p>
<p>وبالنسبة للإنسان الذي يبدأ في السلوك في طريق الكمال، فإنه لا يعود يأكل من الأشياء السابقة بل يكون &#8220;الكلمة&#8221; للخبز، والجسد للطعام، إذ مكتوب: &#8220;أما الطعام القوي فللبالغين الذين بسبب التمرن قد صارت لهم الحواس مدربة&#8221; (عب١٤:٥). بالحري عندما تبذر الكلمة لا تأتي بثمر متساو في كل الناس، بل يأتي ثمر كثير ومتنوع، يأتي بمائة وستين وثلاثين (مت ۸:۱۳)، كما علمنا المخلص باذر النعمة وواهب الروح.</p>
<p>وهذا ليس بأمر مشكوك فيه، ولا بمحتاج إلى من يؤيده، إنما يمكننا أن نتطلع إلى الحقل الذي يزرع فيه (الرب)، إذ نجد أن الكلمة واضحة ومثمرة في الكنيسة، ليس فقط بالعذارى وحدهن يتزين الحقل، ولا بالرهبان وحدهم، بل وأيضا بالمتزوجين زواجاً مكرماً، وبعفة الجميع..</p>
<p>لقد أعد الرب منازل كثيرة عند أبيه (يو ٢:١٤)، لكن بالرغم من أن مكان السكنى نجد فيه درجات متنوعة حسب تقدم كل واحد، غير أننا جميعاً سنكون في داخل الحصون، محفوظين في داخل نفس السياج حيث يطرد العدو (الشيطان) وكل جماعته خارجاً.</p>
<p>لأنه خارج النور تكون الظلمة، وبالابتعاد عن البركة توجد اللعنة، هكذا يكون الشيطان بعيداً عن القديسين، والخطية بعيدة عن الفضيلة. لهذا ينتهر الإنجيل الشيطان قائلاً &#8220;اذهب یا شیطان&#8221; (مت١٠:٤). بينما يدعونا نحن قائلاً: &#8220;ادخلوا من الباب الضيق (مت ٧: ١٣) ومرة أخرى يقول &#8220;تعالوا يا مباركي أبي رثوا الملكوت المعد لكم&#8221;.</p>
<p>وهكذا أيضا يصرخ الروح من قبل في المزامير قائلاً &#8220;ادخلوا أبوابه بحمد (بمزامير) (مز100: 4).</p>
<p>لأنه خلال الفضيلة يدخل الإنسان إلى الله كما فعل موسى في السحابة الكثيفة حيث كان الله.</p>
<p>ولكن خلال الرذيلة يخرج الإنسان من حضرة الرب، كما حدث مع قايين عندما قتل أخاه (تك 4: 16) إذ خرج من لدن الرب قدر ما قلقت نفسه.</p>
<p>والمرتل يدخل قائلاً &#8220;فآتي إلى مذبح الله، إلى بهجة فرحي (شبابي)&#8221; (مز 43: 4).</p>
<p>ويحمل الكتاب المقدس شهادة ضد الشيطان أنه خرج من حضرة الله وضرب أيوب بقروح (أي ٧:٢). لأنه هكذا تكون صفات الذين يخرجون من حضرة الله، يضربون رجال ويؤذونهم. وهكذا أيضا تكون صفات الخارجين عن الإيمان (الأريوسيين) يضطهدون الإيمان ويضرون به.</p>
<p>وعلى العكس نجد القديسين إذ يقتربون منهم (رجال الله) وينظرون إليهم كأصدقاء، كما فعل داود متحدثاً بأسلوب صريح قائلاً &#8220;عيناي على أمناء الأرض لكي أجلسهم معي&#8221; (مز١١٠ : ٦).</p>
<p>ويحثنا بولس أن نقبل ضعفاء الإيمان (رو 14: 1) لأن الفضيلة خيرية (أي يحب الإنسان الخير للغير).. والخطية تجعل الإنسان يحب الشر للغير. وهذا ما فعله شاول -كخاطئ- عندما اضطهد داود، أما داود فإذ وجد فإذ وجد فرصة لقتل شاول لم يقتله.</p>
<p>وعيسو أيضا أضطهد يعقوب، أما يعقوب فبالوداعة غلب شره.</p>
<p>والأحد عشر باعوا يوسف، أما يوسف ففي عطفه المملوء حنوا تراءف عليهم.</p>
<p><strong>خراب اليهود وخسرانهم كل نعمة إلهية.</strong></p>
<p>وما الحاجة إلى الإطالة في هذا الحديث؟! فأن ربنا ومخلصنا عندما أضطهده الفريسيون بكى لأجل خرابهم!.</p>
<p>هم ضايقوه، أما هو فلم يهددهم، ولا حتى عندما أحزنوه أو قتلوه! إنما حزن من أجل أولئك الذين ارتكبوا هذا!</p>
<p>تألم هذا المخلص لأجل الإنسان، أما هم فاحتقروا &#8220;الحياة، والنور، والنعمة&#8221; وطردوه!.</p>
<p>كان يمكنهم أن ينالوا هذا كله خلال المخلص الذي تألم عنا. لكن بسبب ظلمتهم وعماهم بكى!.</p>
<p>لأنهم لو فهموا ما قد كتب في المزامير ما كانوا يتجرأون هكذا ضد المخلص، إذ يقول الروح &#8220;لماذا ارتجت الأمم وتفكرت الشعوب في الباطل؟!&#8221; (مز 2: 1).</p>
<p>لو تأملوا نبوة موسى (تث 28:ة 66) لما صلبوا ذاك الذي هو حياتهم!.</p>
<p>لو فحصوا بفهم ما كان مكتوباً، ما تحققت فيهم تلك النبوات التي جاءت ضدهم، وما كانت قد صارت مدينتهم هكذا الآن خراباً، وتنزع النعمة عنهم، ويصيرون بلا ناموس (إذ عصوه ورفضوا واهب الناموس) ويصيرون غرباء لا أولاد.</p>
<p>وهكذا سبق أن أعلنت المزامير قائلة بأن بنو الغرباء عملوا معه عملاً باطلاً (راجع مز 18: 45)، وجاء في إشعياء النبي &#8220;ربيت بنيئا ونشأتهم. أما هم فعصوا عليَّ&#8221; وهكذا لم يعودوا بعد شعب الله أو الأمة المقدسة بل صار حكام سدوم وشعب عمورة أفضل منهم. كقول النبي أن سدوم أختك لم تفعل مثلك لأن أهل سدوم استهانوا بالملائكة، أما الملائكة فاستهانوا بالرب الله ملك الكل، وتجاسروا فقتلوا رب الملائكة غير عارفين أن المسيح الذي ذبحوه هو حي.</p>
<p>ولكن هؤلاء اليهود الذين تآمروا لموت الرب فرحوا قليلاً في هذه الأمور وفقدوا الأبديات.</p>
<p>لقد كانوا جاهلين هذا. أن المكافأة الخالدة لا تكمن في المنح الزمنية، بل هي ترجوا أموراً أبدية. لأنه بضيقات وأتعاب وأحزان يدخل القديسون ملكوت السموات، وإذ يبلغ الملكوت يهرب منه الغم والضيق والتنهد ويبقى في راحة.</p>
<p>هكذا إذ جرب أيوب هناك صار صديق الرب المشهور!.</p>
<p>أما الذي يحب الملذات، متمتعا بها إلى حين، فأنه يعبر بعد ذلك إلى حياة مملوءة أحزائاً مثل عيسو الذي كان له طعام مؤقت، لكنه دين بعد ذلك بسببه..</p>
<p><strong>لنحتمل الآلام</strong></p>
<p>آه أيها الأعزاء المحبوبون! وإن كنا سنقتني تعزية من الأحزان، وراحة من الأتعاب، وصحة من الأتعاب، وخلوداً بعد الموت، فإنه لا يجوز لنا أن نغتم من الأمراض البشرية التي تلحق بالبشرية، ولا نقلق بسبب التجارب التي تحل بنا.</p>
<p>يلزمنا ألا نخاف إن تآمر الذين يحاربون المسيح (الأريوسيين) ضد الصالحين، إنما بالحري نحن نرضي الله بالأكثر بسبب هذه الأمور، إذ نتهيأ أكثر ونتدرب على حياة الفضيلة. لأنه كيف ننال الصبر ما لم توجد</p>
<p>متاعب وأحزان؟.</p>
<p>وكيف تظهر الشهامة إلا باحتمالنا الهزء والظلم؟.</p>
<p>وكيف يختبر الاحتمال ما لم يوجد هجوم من الأعداء (الأريوسيين وغيرهم)؟.</p>
<p>وكيف تتزكى طول أناتنا إن لم توجد وشايات ممن هم ضد المسيح (الأريوسيين)؟!.</p>
<p>وأخيراً كيف يمكن للإنسان أن يدرك الفضيلة ما لم تظهر أولا شرور الأشرار؟!.</p>
<p>هكذا فإن ربنا سبقنا في هذا عندما أراد أن يظهر للناس كيف يحتملون..</p>
<p>وعندما شتم لم يشتم،</p>
<p>وإذ تألم لم يهدد، بل قدم للضاربين، وخديه للذين يلطمونه، ولم يحول وجهه عن البصاق (١بط ٢: ٢٣؛ إش ٥٠: ٦).</p>
<p>وأخيراً كانت إرادته أن يقاد إلى الموت حتي نرى فيه صورة كل الفضائل والخلود، فنسلك مقتفين آثار خطواته، فندوس بالحق على الحيات والعقارب وكل قوة العدو (الخطية).</p>
<p><strong>مثال: بولس</strong></p>
<p>هكذا إذ سلك أيضا بولس على منوال ربه، أوصانا قائلاً &#8220;كونوا متمثلين بي كما أنا أيضاً بالمسيح&#8221; (1كو11: 1).</p>
<p>بهذا تغلب بولس على انقسامات الشيطان كاتباً &#8220;فأني متيقن أنه لا موت ولا حياة ولا ملائكة ولا رؤساء ولا قوات ولا أمور حاضرة ولا مستقبلة ولا علو ولا عمق ولا خليقة أخرى تقدر أن تفصلنا عن محبة الله التي في المسيح يسوع ربنا&#8221; (رو 8: 38،39). لأن العدو يقترب منا وقت الأحزان والتجارب والأتعاب مجاهداً أن يهلكنا، ولكن الإنسان الذي في المسيح يناضل هذه الأمور المضادة، فيقابل الغضب بطول الأناة، والاستهزاء بالوداعة، والرذيلة بالفضيلة، عندئذ ينال النصرة ويعلن قائلاً &#8220;أستطيع كل شيء في المسيح يسوع الذي يقويني&#8221; (في 4: 13)، و&#8221;لكننا في هذه جميعها يعظم انتصارنا بالذي أحبنا&#8221; (رو8: 37).</p>
<p>هذه هي نعمة الله، وهذه هي طرق الله في إصلاح بني البشر، فأنه تألم ليحرر الذين يتألمون فيه.</p>
<p>نزل لكي يعرفنا، قبل أن يولد حتى نحب ذاك الذي هو ليس «بإنسان عادي»، نزل إلى حيث «الموت» ليهبنا عدم الموت، صار ضعيفا لأجلنا حتى ننال قوة..</p>
<p>أخيرا صار إنسانًا حتى نقوم مرة أخرى نحن الذين نموت كبشر، ولا يعود يملك الموت علينا، إذ تعلن الكلمات الرسولية قائلة &#8220;لا يسود علينا الموت بعد&#8221; (راجع رو 6: 9، 14).</p>
<p><strong>الأريوسيين جاحدوا النعمة!</strong></p>
<p>وإذ لا يقبل هذا الأريوسيون والمانويون إذ هم ضد المسيح وهراطقة، يشتمون بألسنتهم ذاك الذي هو &#8220;معين&#8221;، ويجدفون على من يحررهم، ويفكرون بأفكار متنوعة ضد المخلص. لأنه عند نزوله من أجل خير الإنسان ينكرون لاهوته، ناظرين إلى مجيئه من العذراء مع شكهم في كونه إبن الله. وإذ جاء متجسداً يرفضون سرمديته. وإذ يرونه متألماً لأجلنا ينكرون ما لجوهر أبديته، سامحين لأنفسهم بأعمال الجحود، مزدرين بالمخلص، شاتمین إياه عوض أن يعرفوا نعمته.</p>
<p>إننا نوجه لهؤلاء (أي للأريوسيين) هذه الكلمات بحق قائلين: [آه أيها الجاحد المضاد للمسيح! إنك بكليتك شرير وذابح لربك، وأعمى تماماً، ويهودي في تفكيرك! هل فهمت الكتاب المقدس وأنصت إلى القديسين، إذ يقول &#8220;أنر بوجهك فنخلص&#8221; (مز 80: 7) &#8220;نورك وحقك يهديانني&#8221; (مز43: 3).</p>
<p>ألا تعرف أن الرب لم ينزل من أجل نفسه بل لأجلنا، وبسبب هذا تذهل حنو محبته؟!.</p>
<p>لو تأملت في الآب والابن لما جدفت على الابن كمن له طبيعة مغايرة؟!.</p>
<p>لو فهمت عمله الخاص بحنو محبته من نحونا لما كنت تجعل الابن غريباً عن الآب، ولا تنظر إليه كغريب، هذا الذي صالحنا مع الآب..</p>
<p>إن الرب كان يهزأ دوماً بالشيطان لا يزال إلى يومنا يصنع هذا (قائلاً للأريوسيين) &#8220;أنا في الآب والآب فيَّ&#8221; (يو 14: 11).</p>
<p>هذا هو الرب المعلن في الآب، وأيضا الآب معلن في الابن، الذي هو حقاً ابن الآب، إذ تجسد من أجلنا في أواخر الأيام، ليقدم نفسه للآب عوضاً عنا، ويخلصنا خلال تقدمته وذبيحته!..</p>
<p>هذا هو الذي في القديم ذبح كخروف، إذ رمز له الخروف، لكنه بعد ذلك جاء وذبح لأجلنا &#8220;لأن فصحنا أيضاً المسيح قد ذبح لأجلنا&#8221; (1كو 5: 7).</p>
<p>هذا هو الذي خلصنا من شباك الصيادين من أضداد المسيح (حيل ومكائد الأريوسيين).. وأنقذنا نحن کنیسته..</p>
<p><strong>لنمجد الرب ونشكره</strong></p>
<p>ما هو إذاً عملنا يا أخوتي تجاه هذا الصنيع، إلا أن نمجد الله ونشكر ملك الكل؟!.</p>
<p>أولاً لنهتف بكلمات المزامير قائلين &#8220;مبارك الرب الذي لم يسلمنا فريسة لأسنانهم&#8221; (مز 124: 6)</p>
<p>لنحفظ العيد بهذه الطريقة التي أشار بها إلينا مخلصنا يوم عيد القيامة المقدس- حتى نقدس العيد الذي في السموات مع الملائكة!..</p>
<p>لقد كان الشعب قديما ينشد مسبحاً عندما يخرج من الحزن..</p>
<p>وفي أيام أستير حفظوا عيدا للرب (إش 3: 9؛ 9: 21) إذ أنقذوا من المنشور المهلك الذي ينادي بالموت، حاسبين هذا عيداً، مقدمين الشكر للرب، وممجدين إياه..</p>
<p>ليتنا نفي نحن بنذورنا للرب، معترفين بخطايانا، حافظين العيد للرب في أحاديثنا وسلوكنا وطريقة حياتنا، مسبحين ربنا الذي أدبنا إلى قليل لكنه لم يتركنا أو يهلكنا.. ولا أبتعد صامتاً عنا.</p>
<p>والآن إذ خرجنا من خداع مضادي المسيح المشهورين (الأريوسيين).. وعبرنا كما في البرية إلى كنيسته المقدسة محتملين في البرية تجارباً وأحزان، فأننا نرسل إليكم وننتظر منكم رسائلاً كالعادة.</p>
<p>لهذا.. فأنني أتقدم بالشكر إلى الله بنفسي، وأوصيكم أنتم أيضاً أن تشكروه معي..</p>
<p>وإذ هي عادة رسولية «أن أرسل إليكم رسالة» لهذا فإن أضداد المسيح وأصحاب الانشقاقات رغبوا في أن يفسدوا هذه العادة ويوقفونها. لكن الله لم يسمح بهذا، بل جدد وحفظ ما قد أمرنا به بواسطة الرسول، حتى نحفظ العيد مع بعضنا البعض حافظين يوماً مقدساً تقليد الآباء ووصيتهم.</p>
<h4>معنى أنجيل القداس &#8211; القديس كيرلس الأسكندري<a href="#_ftn2" name="_ftnref2">[2]</a></h4>
<p><strong>(يو٣٠:٨)</strong><strong> &#8220;وبينما هو يتكلم بهذا آمن به كثيرون&#8221;. </strong></p>
<p>يتعجب الإنجيلي الحكيم مرات كثيرة من تصغير المسيح لنفسه في كلماته من أجل ضعف سامعيه. وقد اعتاد أن يحقق بذلك شيئا عظيماً. لأنه بينما هو كإله كان يمكن أن يتكلم بكل شيء وأن يصوغ حديثه بحرية وبسلطان ملوكي فوق الكل، ويحتفظ بمقياس تدبيري في حديثه؛ فإنه كان يأتي بكثيرين إلى الطاعة، ويقنع كثيرين أن يصغوا إليه بأكثر غيرة. لذلك فإن هدفه لم يكن بلا معنى، وأعني حديثه للجموع بطريقة بشرية أكثر، لأن بعضاً من الجهلاء جداً قد اعتادوا أن يثوروا ضده بدرجة كبيرة وكانوا على استعداد أن يتركوه، إذ كانوا ينظرون إنساناً ويسمعون كلمات إلهية.</p>
<p>ولكن حيث إنه كان إلهاً وإنساناً في ذاتية واحدة، دون أن يعطل القدرة الخاصة بكل منهما، ويستطيع أن يتحدث بلا عيب بأية طريقة يريدها. فإنه فعل هذا بصيغة جيدة جداً بالنظر إلى خفة سامعيه، وهو يعلن عن نفسه بطريقة مختلفة (وذلك في أغلب الأحيان) بالكلام الذي يخص الإنسان، مثل قوله: &#8220;لست أفعل شيئاً من نفسي&#8221;، وأقوال أخرى مشابهة لهذا القول. ولأنهم لم يفهموا شيئا بالمرة بل يهاجمون بدون فحص ما قاله، فإنهم يتجهون إلى هذه الطريقة الشائعة الفظة في فهم الكلام، وظنوا أنه قال: لأني نلت قوة من الله، فأنا أصنع المعجزات، وأنه هو معي حيث إني أفعل دائماً ما يرضيه.</p>
<p>وأعداء الحق الملعونين يتفقون في فكرهم مع اليهود غير المقدسين، وهم يناقضون تعاليم التقوى ويحبون المشاحنات ويفكرون تفكيرا وضيعاً عن الرب، ويقتنصون الأمور التي قيلت بحسب التدبير وبشكل حسن، لكي يهدموا بها سلطانه ومجده الجوهري، فيتوهون عن جمال الحق. ويبدو أنهم لم يتذكروا بولس الذي قال: &#8220;هادمين ظنوناً وكل علو يرتفع ضد معرفة الله، ومستأسرين كل فكر إلى طاعة المسيح&#8221; (٢كو٥:١٠). وهم لم يعرفوا ما قيل عن الأقوال الإلهية بواسطة واحد من الأنبياء: &#8220;من هو حكيم حتى يفهم هذه الأمور، وفهيم حتى يعرفها؟&#8221; (هو٩:١٤). فلو لم يكن هناك غموض يحيط بها وحجاب معتم يغطيها، فهل كانت هناك حاجة للبحث عن إنسان حكيم وفهيم لكي يحصل على معرفتها؟.</p>
<p>وبما أن هذا (الذي قلناه) يكفي للوقت الحاضر، فإننا سنتحدث بالحري عن ما هو أمامنا لنقدم شيئاً نافعاً. وبينما كان المسيح يتكلم بهذا كما يقول الإنجيلي. آمن به ليس الكل بل كثيرون، فهو إله حق وليس هناك شئ غير مكشوف تماماً أمام عينيه (أنظر عب١٣:٤)، ويعرف جيداً وبكل دقة أنه لن يأتي بالكل إلى الإيمان، ومع ذلك فهو يثابر ويعطي حديثاً طويلاً لأولئك الذين يأتون إليه، معطياً لنا أفضل مثال ومقدماً نفسه نموذجا لمعلمي الكنيسة، لأنه حتى وإن لم يكن الجميع قد انتفعوا بسبب رداءتهم، ومع ذلك حيث إنه كان من المحتمل أن البعض سيحصدون خيراً من ذلك، فينبغي أن لا نتباطأ في السير إلى ما هو نافع، فإننا إن كنا بسكوت غير مثمر قد دفنا الوزنة المعطاة لنا، أي النعمة التي بواسطة الروح، فإننا سنكون مثل ذلك العبد الشرير الذي قال بدون تردد لسيده: &#8220;عرفت أنك إنسان قاس، تحصد حيث لم تزرع، وتجمع من حيث لم تبذر. فخفت ومضيت أخفيت وزنتك في الأرض، هوذا الذي لك&#8221; (مت٢٤:٢٥، ٢٥). أما ما هي النهاية التي وصل إليها ذلك الإنسان التعس وما هي العقوبة التي حكم بها عليه، فإن الإنسان المحب للدرس سوف يعرفها جيداً لأنه سيلتقي بها أكثر من مرة في الأناجيل. لذلك فدعنا نضع هذا في قلوبنا، ونفكر باستقامة أنه من واجبه (المعلم) أن يكون خالياً من كل تراخ في التعليم، وأنا أقصد بذلك الإنسان الذي أفرز لهذا العمل، وأن لا يتحول بأية حال إلى احتقاره، حتى لو لم يقتنع الجميع بكلماته، بل بالحري فإنك سوف تبتهج بما تريحه من تعبك، فإن من اللائق أيضا أن نتبع بكل حكمة كل ما تكلم به مخلصنا قائلاً: &#8220;ليس التلميذ أفضل من المعلم، ولا العبد أفضل من سيده. يكفي التلميذ أن يكون كمعلمه، والعبد كسيده&#8221; (مت٢٥،٢٤:١٠). لأنه إن كان الرب نفسه لم يقنع الكل بسبب أعوجاج وقساوة قلوب السامعين، فمن الذي يلوم كلامنا الذي رغم ضعفه فإنه يحتاج إلى فهم، بحرية وليس عن اضطرار.</p>
<p></p>
<h4>معني تعلمون إني أنا هو &#8211; القديس يعقوب السروجي<a href="#_ftn3" name="_ftnref3">[3]</a></h4>
<p>في هذا اليوم صدرت الحرية للمُستعبدة، لأنها كانت مربوطة لخدمة الوثنية.</p>
<p>في هذا اليوم حُلت المربوطة منذ مدة طويلة، لأن الجبار قام وكسر قيود سجنها.</p>
<p>في هذا اليوم اقتنت أمة الأبالسة الحرية، لأن الرب العظيم هزمهم، واسترجع خاصته.</p>
<p>في هذا اليوم خرجت السجينة من الظلمة، لأن النور أشرق، وكسر باب بيت <a href="https://st-takla.org/Full-Free-Coptic-Books/FreeCopticBooks-002-Holy-Arabic-Bible-Dictionary/17_ZAH/ZAH_09.html">الظلام</a>.</p>
<p>في هذا اليوم نقى <strong>المصوّر</strong> صورة آدم، ولما فسدت خلط فيها الدواء الذي لا يفسد.</p>
<p>في هذا اليوم شيد <strong>المهندس</strong> البيتَ المنهار، ولئلا يسقط دخل إليه سندُ اللاهوت.</p>
<p>في هذا اليوم <strong>تصالح الرب مع آدم</strong>، لأن الابن الذي أشرق ألقى الأمان بين الجهتين.</p>
<p>في هذا اليوم <strong>وجد</strong> <strong>الراعي الخروف الضال</strong>، وحمله على كتفيه، ودخل به إلى الفردوس.</p>
<p>في هذا اليوم <strong>عاد قطيع الشعوب</strong>، لأن الذئب الخفي حطمه راعي الكل.</p>
<p>في هذا اليوم <strong>دخل الذين في الخارج</strong>، وصاروا في الداخل، وخرج أهل البيت من بيت الملك غاضبين&#8230;</p>
<p>في هذا اليوم <strong>قام القوي على المتمرد</strong>، ومسكه وربطه، وخرّب داره المخصبة.</p>
<p>في هذا اليوم أتى <strong>المحارب</strong> عند السبي، وربط السالب بقوة، واسترجع خاصته.</p>
<p>في هذا اليوم أتى <strong>الطبيب </strong>عند المرضى، ليضمد ويشفي&#8230;</p>
<p>في هذا اليوم أتى <strong>مُضمد جميع المنكسرين</strong>، ليسند ويداوي ويشفي ويُشبع بعنايته.</p>
<p>في هذا اليوم أتى <strong>مقوي جميع الضعفاء</strong>، ليمسك ويقيم ويثبت ويشبع بعنايته<strong>.</strong></p>
<p></p>
<h4>شهوة رؤية الله &#8211; القديس أغسطينوس<a href="#_ftn4" name="_ftnref4">[4]</a></h4>
<p>لماذا تحجب وجهك عني، يا سعادة نفسي الوحيد؟</p>
<p>اين تختفي يا رب الجمال، يا نهاية كل طموحي. رائحتك التي اتنسمها تسكرني بالحياة والدهش، هذا رغم انني لم اراك بعد، لأنه مكتوب: لا يراني إنسان ويعيش (خر ۳۳).</p>
<p>حسناً، لو علمت بهذا التحذير فلن أراك. لكن لأموت یا رب وأراك. لا أراك يا ربي قبل أن أموت، فعندما أريد أن أحيا، أريد أن أموت &#8220;لي اشتهاء أن انطلق وأكون مع المسيح&#8221; (في١: ٢٣).</p>
<p>انني اشتهي الموت لكي أراك. انني لا أريد العيش بعد لكي أحيا بك.. فرح نفس عبدك.. أدخل الى نفسي أيها الفرح الحقيقي، حتى تبتهج بك. أدخل اليها أيها العذوبة اللانهاية، حتى تتمتع بالعذوبة الحقيقية، أفض عليها بشجاعتك أيها النور الأبدي حتى تعرفك وتدركك وتحبك. فلماذا هي لا تحبك بل هي فاترة من جهتك إلا لعدم معرفتها لك؟ وعدم معرفتها ناجم عن عجزها من ادراكك. عجزها هذا بسبب عدم تقبلها نورك، إذ &#8220;النور أضاء في الظلمة، والظلمة لم تدركه&#8221; (یوا).. إلهي.. بدد الظلمة الكثيفة التي تخيم في نفسي، حتى تراك عند ادراكها اياك، وتعرفك عندما تقبلها لك، وتحبك عند معرفتها لك. إن كل من يعرفك يحبك! ينسى نفسه! يحبك أكثر من ذاته. يترك نفسه وينجذب اليك، لينهل من لذته في الاتحاد بك.. سيدي إن كنت لم أحبك كما ينبغي، فذلك لأنني لم أعرفك بعد جيداً، فقلة معرفتي جعلت حبي لك فاتراً، وفرحي الذي أتمتع به فيك ضعيفاً.</p>
<p>ويحي. فإنه بعبوديتي للمغريات الخارجية، انشغل عنك أيها السعادة الكامنة في داخلي، وأحرم منك، وأذهب لكي أرتبط برباطات دنسة مع أباطيل هذا العالم .</p>
<p>هوذا في بؤسي، القلب الذي لك وحدك أن تمتلكه بكل عواطفه واحاسيسه وتضحياته قد وهبته أنا للأمور الباطلة، فصرت باطلاً بحبي للباطل. لهذا لم تعد بعد أنت فرحي، بل تركتك واندفعت أجري وراء محبة العالم الخارجي. مع أنك لا ترتاح الا في أعماق نفسي. أنا أريد التلذذ بأعمال الجسد، وأنت تود الآبتهاج بروحي.</p>
<p>أنا بأعمال الجسد املأ قلبي واشغل بها ذهني واجعلها محور حديثي، أما أنت يا إلهي فتحيا في النفس غير المحسوسة، الخالدة. أنت تملك في السماء، وأنا أزحف على الأرض، أنت تعشق الأعالي، وأنا اطلب السفليات. أنت تشغلك السماويات وأنا غارق في الأرضيات. ترى متى تتقابل مثل هذه الميول المتعارضة.</p>
<p></p>
<h3>عظات آباء وخدّام معاصرين للخميس الثالث من الخمسين يوم المقدسة</h3>
<h4>أنر عقولنا &#8211; للمتنيح الأنبا كيرلس مطران ميلانو<a href="#_ftn5" name="_ftnref5">[5]</a></h4>
<p><strong>أنر يارب عقولنا وقلوبنا وأضئ أفهامنا</strong></p>
<p>يشرق الله بنوره علي عقل الإنسان فيسبيه إلى الأعالي، وبه يمجد الله الملتحف بالنور، ويراه في كل حياته، كما يقول الشيخ الروحاني [يرى الله عندما يأكل في لقمة الخبز، ويحس به عندما يشرب، ويدرك أنه خبز الحياة، وينبوع الماء الحي].</p>
<p>نحن نرتل في التسبحة قائلين: الله هو النور، وساكن في النور، وتسبحه ملائكة من نور.. &#8220;وبنوره نعاين النور، لأنه هو النور الذي أضاء في الظلمة والظلمة لم تدرکه. (يو١: ٥).</p>
<p>تعلمنا الكنيسة في صلاة باكر أن نطلب من الرب لكي يشرق علينا بنور وجهه، ويضئ علينا بنور علمه الإلهي، ونرجو أن ينير عقولنا وقلوبنا، وأفهامنا&#8230; بل تيقظنا أيضا في منتصف الليل، حتى لا ننسى أننا أبناء النور. وتقول &#8220;قوموا يا بني النور لنسبح رب القوات&#8221;.</p>
<p>العالم وضع في الشرير، وبإغراءات العالم ينخدع الإنسان وينحدر إلى الظلام. لذلك اعطانا الله الوصية عونا، وجعلها منيرة تضئ العينين عن بعد (مز١٩: ٨).</p>
<p>فهذه الوصية إن شغلت العقل وسكنت القلب، نسير بمعرفة نور الله القدوس، ونبعد عن ظلام الشر، وننجو من الهلاك. كما وضح الرب بأن الشعب السالك في الظلمة هلك من عدم المعرفة. (إش٥: ١٣).</p>
<p>العقل منحة من الرب، وبه يصفي الإنسان ما يكنزه في القلب، ويبقي ما يحمله في يوم ترحاله إلى موطنه الأبدي.. ويستنير العقل عندما ينشغل بأقوال الله وآياته، ووعوده الصادقة.. وهكذا ينير عندما يكنز، ويخبئ كلمة الله كما يقول المرنم &#8220;إعلان أقوالك ينيرلي&#8221; (مز۱۱۹: ۱۳۰).</p>
<p><strong>السيد المسيح هو نور العالم:</strong></p>
<p>وله نقول أنر عقولنا وقلوبنا.. لأنه بنور المسيح يستطيع الإنسان أن يحلق بعقله، وقلبه في السماويات. وبعيداً عن هذا النور يغرق الإنسان بعقله وقلبه في الأرضيات.</p>
<p>لقد اتكأ يوحنا الحبيب على صدر السيد المسيح، وسند عقله علي قلب المسيح، وحلق معه في السماويات وهو في المنفى. لذا يقول الشيخ الروحاني [ضع رأسك على ركبتي ربك]. ضع عقلك واسترح كطفل على ركبتي المسيح حاملك.</p>
<p>النور في المسيح ، ومن يقترب منه تنكشف كل ظلمات العقل والقلب. وتنقشع الظلمة لمن يرغب.. أنظر كيف أضاء السيد المسيح بنوره على ظلمة عقل المرأة التي حبت المديح وقالت &#8220;طوبى للبطن الذي حملك، والثديين الذين رضعتهما&#8221; (لو۱۱: ۲۷).</p>
<p>النور وضح لها &#8220;بل طوبى للذين يسمعون كلام الله ويحفظونه&#8221; (لو١١: ٢٨) أنار السيد المسيح على الذين يحيون في ظلمة القلق، والخوف من المستقبل، وهموم المأكل والملبس، بالإشارة إلى طيور السماء التي لا تزرع، ولا تحصد، ولا تخزن والرب يعطيها القوت وأيضا إلى زنابق الحقل.</p>
<p>الذين يهتمون بالسعي وراء الممتلكات والاتكال عليها.. لو فتحوا أبواب عقولهم وقلوبهم للمسيح الواقف خلفها، لدخل فيهم النور، وكشف لہم نهاية الغنى الغبي. الذي هدم، وبنى، ووسع، وجمع وظن أنه صنع لنفسه أبدية على الأرض، ونسى انه لا منفعة تحت الشمس (جا۲: ١١) وهذه التي أعدها لمن تكون؟ بعدها تؤخذ نفسه منه..</p>
<p>السيد المسيح جاء ليضيء عقولنا وقلوبنا بسراجه المنير، فينظر الإنسان إلى خطاياه، ويخرج الخشبة التي في عينه (مت ٧: ٥). أنه بالظلمة يهتم الإنسان بخطايا غيره، وبالقذى التي في عين أخيه. وينسى السؤال الموجه له أعطني حساب وكالتك لا حساب وكالة غيرك.</p>
<p><strong>أرحمنا وأنر عقولنا وقلوبنا:</strong></p>
<p>نصلي قائلين &#8220;افنوتي ناي نان&#8221; &#8220;اللهم ارحمنا&#8221;، ويضاء الصليب بالشموع، لكي تتذكر أن المسيح هو النور الذي أصعدنا من عمق الظلمة وأضاء علينا، ويرحمنا، ويسمعنا ويباركنا، ويغفر خطايانا، ويبعدها عن العقل والقلب.</p>
<p><strong>طريق النور:</strong></p>
<p>نشكر الله لأنه بالمعمودية أنار عقولنا وخزائن فلوبنا، وحل فيها وجعلها كأورشليم السمانية.. ويضيئ أفهامنا عندما نتبع الحمل حيثما يذهب.</p>
<p>إن كانت الخطية تفصل القلب والعقل عن النور، فالتوبة تبدد الظلمة بنور المسيح، لأن التوبة هي قيامة الحي من بين الحواس الميتة.. وكما يقول الشيخ الروحاني [التوبة تجلي النوراني من الصدأ. والمضيئون الذي احتقروا التوبة تركتهم، ونزلوا إلى الجحيم السفلي].</p>
<p>في قصة الابن الضال لما رجع الابن إلى نفسه. رجع النور إلى عقله، وانتقل من الظلمة التي كان يحيا فيها مع الخنازير إلى النور الحقيقي.</p>
<p>النور الحقيقي هو لقاء بين السيد المسيح الحي من بين الأموات، ومع الإنسان الميت بين الأحياء.</p>
<p>وكما نرى النور الحقيقي في المعمودية، وفي التوبة، نراه أيضا في التعليم المستقيم. لذا نقول بعد عظات أبائنا القديسين التي تقرأ في أسبوع الآلام &#8220;فلنختم عظة أبينا القديس&#8230;. الذي أنار عقولنا وعيون قلوبنا&#8230; بتعاليمه النافعة&#8221;.</p>
<p>الله حاضر عندنا كل يوم على المذبح، ونتحد به بالتناول طالبين منه في القسمة [أن يجعل جسده ودمه إنارةً لأجسادنا، وشفاءً لأمراضنا، وتطهيراً لأثامنا، وغسلاً لأدناسنا.. وتثقيفاً لعقولنا وقلوبنا، ونقاوةً وتهذيباً لأفكارنا وأذهاننا&#8221;.</p>
<p>لقد افتقدنا الرب مراراً كثيرة وبطرق متنوعة، إلى أن جاء ملء الزمان فأتى إلينا على الأرض، وأشرق بنوره الحقيقي ليهدي الضالين وغير العارفين.</p>
<p><strong>أضئ أفهامنا لنفهم كلامك المحيي</strong></p>
<p>رأينا في المقال السابق أن الرب ينير عيوننا، وقلوبنا، ويضئ أفهامنا من خلال النور الحقيقي في سر المعمودية المقدس، وطريق التوبة، والتعليم المستقيم، سر الأفخارستيا..</p>
<p>من الرب نطلب أن يضئ أفهامنا لكي نفهم كلامه المحيي. لأن كلمة الله حية وفعالة وأمضى من كل سيف ذي حدين (عب٤: ١٢).</p>
<p>السيد المسيح هو الكلمة المتجسد، وفيه الأبدية وهذا ما قاله معلمنا بطرس الرسول &#8220;إلى من نذهب وكلام الحياة الأبدية عندك&#8221; (يو٦: ٦٨).</p>
<p>بالرب نفهم كلامه المحي، ونعلم أننا أولاد الله، وندرك أن عمانوئيل إلهنا معنا في كل مكان وإلى انقضاء الدهر. وبه نعرف أنه ساكن فينا بروحه القدوس، كما يقول الشيخ الروحاني [أعطنا يا رب أن ندخل بك إلى هيكل أنفسنا، فنراك يا ذخيرة الحياة المخفية].</p>
<p><strong>نطلب الرب لنفهم:</strong></p>
<p>يضئ الرب على أفهامنا لكي نرى الروح المخفي وراء كل حرف من كلامه المحيي. المفسرون للكتب المقدسة استنارت عقولهم أولاً بكلام الله المحيي وفهموا، وكشفوا قصد الله وتدابيره ولم يعتمدوا على أفهامهم.</p>
<p>ما أسهل على الإنسان أن يعتمد على فهمه وحده ويهلك. أو يعتمد على فكر غيره المنفرد ويهلك معه.. لذا يقول الحكيم &#8220;على فهمك لا تعتمد&#8221; (أم٤: ٥). &#8220;الأغبياء يموتون من نقص الفهم&#8221; (أم١٠: ٢١). لذا تسهر الكنيسة وتضئ علينا وتعلمنا: على أفهامنا لا نعتمد، ولا نستند على من يعتمد على فهمه وحده، وأن نثبت في الغرس الثابت &#8220;الكنيسة&#8221; التي غرسها المسيح بيمينه ورواها بدمه، وأن نتحد بما هو حاضر عندنا كل يوم على المذبح، وأن نتعلق بمن نرى نهاية سيرتهم الحسنة ونتمثل بإيمانهم. ونستشير من هو ثابت في الكرمة، والقريب من المذبح الناطق السماوي، والملتصق بالقديسين الأطهار ليساعدنا كيف نخرج على آثار الغنم ونرعي عند مساكن الرعاة.</p>
<p><strong>الفهم المظلم:</strong></p>
<p>يوجد من يعتمد على فهمه، ويظن أنه يقدم خدمة للرب.</p>
<p>هؤلاء قال عنهم السيد المسيح &#8220;تأتي ساعة يظن كل من يقتلكم أنه يقدم خدمة للرب&#8221; (يو١٦: ٢). هذا الفهم غير مضيء لأن كل من يقتل يرتكب جريمة.. فكيف تكون الجريمة خدمة للرب؟! وكيف بالفكر المظلم تكون غيرة مقدسة للرب؟! وضح لنا الكتاب المقدس في سفر العدد كيف اعتمد قورح وداثان وأبيرام على أفهامهم المظلمة، وجذبوا معهم أناساً من بني إسرائيل بلغوا مئتين وخمسين، قاوموا موسي وهارون وقالوا &#8220;كفاكما إن كل الجماعة مقدسة وفي وسطها الرب..&#8221; (عد١٦: ٣) وقاوموا الكهنوت المفرز من الله، فابتلعتهم الأرض بعد أن فتحت فاها عليهم.</p>
<p>ويذكر لنا سفر أعمال آبائنا الرسل إنه قام ثوداس بفهمه المظلم والتصق به عدد من الرجال.. وأخيراً قتل، وجميع الذين انقادوا إليه تبددوا وصاروا لا شيء (أع٥: ٣٥).</p>
<p>وبعده قام يهوذا الجليلي وأزاغ وراءه شعباً غفيراً، فذاك أيضاً هلك وجميع الذين انقادوا إليه تشتتوا (أع٥: ٣٧).</p>
<p><strong>نور يجذب للأعالي:</strong></p>
<p>أضاء السيد المسيح بنوره على عقل المرأة السامرية، فأحبته ومن حديثه الحنون فهمت كلامه المحيي. ولما دخل قلبها حدث تحول داخلي. فالقلب الذي كان يحمل بئر للنجاسة، صار فيه بئر للقداسة.. ومن هذا البئر الجديد شرب السامريون فاحبوا النبع الذي يضئ أفهامهم ويجذبهم نحوه.</p>
<p><strong>نور يحول المعرفة إلي حياة:</strong></p>
<p>القديسون وصلوا للقداسة ونموا في الفضيلة، بعدما أضاء الرب عليهم وتحولت معرفتهم إلى حياة عملية. فنقرأ عن القديس بيصاريون الذي أعطى ثوبه للمحتاج.. وعندما سألوه أين الثوب الذي كان يرتديه؟ أشار إلى الكتاب المقدس معلمه ولما تشبع قلبه وعقله بالكلام الحي، نجح بأنه اقتنى ما في الكتاب المقدس من تعاليم.. وباع الكتاب المقدس ليصنع صدقة.</p>
<p>وبالمثل في حياه القديس الأنبا ابرآم، الذي كان يحيا في العطاء بكل سخاء وسرور.. أعطى كل شيء وعاش يردد قول أحد الأباء &#8220;إن فقدت كل شيء، ولم يبقي معي سوى الله وحده، فأنا معي كل شيء. لأن الله هو الكل في الكل&#8221;.</p>
<h4>ابن الإنسان ومجد الصليب &#8211; للأنبا إيساك الأسقف العام<a href="#_ftn6" name="_ftnref6"><sup>[6]</sup></a></h4>
<p>فقد تحدث يسوع عن ساعة الصلب قائلاً: &#8220;قد أتت الساعة ليتمجد ابن الإنسان&#8221; (يو۱۲: ۲۳)، وأيضا &#8220;كما رفع موسى الحية في البرية هكذا ينبغي أن يرفع ابن الإنسان&#8221; (يو٣: ١٤). وبصورة أوضح قال لهم يسوع &#8220;متی رفعتم ابن الإنسان فحينئذ تفهمون أني أنا هو&#8221; (أنا هو، أي يهوه &#8211; لفظ الجلالة) (يو۸: ۲۸). وأيضاً &#8220;فلما خرج (يهوذا) قال يسوع الآن تمجد ابن الإنسان وتمجد الله فيه&#8221; (يو۱۳: 31).</p>
<ul>
<li><strong>ابن الإنسان القائم من بين الأموات:</strong></li>
</ul>
<p>في أكثر من عشر مناسبات تنبأ يسوع في البشائر الأربعة بأن &#8220;ابن الإنسان سوف يُسلم إلى أيدي الناس.. وفي اليوم الثالث يقوم&#8221; (مت ۱۲: ٤٠؛ ۲۱:١٦؛ ۹:۱۷، ۱۲، ۲۲؛ ۱۸:۲۰؛ ۲۷: ٦٣؛ مر۹: ۱۲، ۱۳؛ لو۱۷: ٢٥؛ ۱۸: ۳۲؛ ٢٤: ۷، يو۲: ۱۹).</p>
<ul>
<li><strong>المجيء الثاني هو لابن الإنسان بعد صعوده:</strong></li>
</ul>
<p>&#8220;فإن رأيتم ابن الإنسان صاعدًا حيث كان أولاً&#8221; (يو٦: 62). ثم &#8220;فإن ابن الإنسان سوف يأتي فى مجد أبيه مع ملائكته&#8221; (مت١٦: ۲۷)، وأيضا الآيات التالية: &#8220;في ساعة لا تظنون يأتي ابن الإنسان&#8221; (لو٤٠:۱۲). &#8220;لأنه كما أن البرق يخرج من المشارق ويظهر في المغارب، هكذا يكون أيضاً مجيء ابن الإنسان&#8221; (مت۲۷:٢٤). &#8220;يرسل ابن الإنسان ملائكته، فيجمعون من ملكوته جميع المعاثر وفاعلي الإثم&#8221; (مت13 :41). &#8220;ولكن متى جاء ابن الإنسان ألعله يجد الإيمان على الأرض؟&#8221; (لو۸:۱۸).</p>
<ul>
<li><strong>الدينونة الأخيرة للبشر هي لابن الإنسان:</strong></li>
</ul>
<p>&#8220;اسهروا إذا وتضرعوا في كل حين، لكي تحسبوا أهلاً للنجاة من جميع هذا المزمع أن يكون، وتقفوا قدام ابن الإنسان&#8221; (لو۲۱: 36).</p>
<p>&#8220;لأنه كما أن الآب له حياة في ذاته، كذلك أعطى الابن أيضاً أن تكون له حياة في ذاته، وأعطاه سلطاناً أن يدين أيضاً لأنه ابن الإنسان&#8221; (يو٥: ٢٦، ۲۷).</p>
<p>وبهذا الصدد يَعِد يسوع تلاميذه &#8220;الحق أقول لكم: أنكم أنتم الذين تبعتموني في التجديد، متى جلس أبن الإنسان على كرسي مجده تجلسون أنتم أيضاً على اثني عشر کرسياً تدينون أسباط إسرائيل الأثنی عشر&#8221; (مت۱۹: ۲۸).</p>
<p></p>
<h4>الذراعان الممدودتان علي الصليب &#8211; للمتنيح القمص بيشوي كامل<a href="#_ftn7" name="_ftnref7"><sup>[7]</sup></a></h4>
<p><strong>الأذرع المفتوحة</strong></p>
<p>انت ياربي يسوع تفتح ذراعيك بقوة هائلة لتحتضن كل نفس في العالم، فأنت يا رب قد فتحتها من أجل العالم-لأنك تحب العالم- وتحب خاصتك الذين في العالم الي المنتهي.</p>
<p>فحركة فتح ذراعيك ليست علامة سكون بل على العكس، انها حركة حب للجميع تقول لهم &#8221; تعالوا إليَّ&#8230; وأنا أريحكم&#8221;. وهذه الحركة تصحبها حركة سريعة هائلة &#8211; حركه عناق وقبلات.. إن الأذرع المفتوحة قد اصطادت صيدًا ثميناً.. اللص اليمين، فأطبقت عليه بمنتهى القوة &#8211; في فرحة هائلة &#8211; وطارت به الى الفردوس قائلة: &#8220;اليوم تكون معي في الفردوس&#8221;.</p>
<p>ربي يسوع.. إن أذرعك المفتوحة تستهويني جداً. وأطمع أن أرتمي فيها فأشبع منك حباً وتعانقني.. وتطبق عليَّ فأعيش حياتي الى الأبد في فردوسك &#8211; في دائرة حبك &#8211; سواء هنا على الأرض أم في السماء.</p>
<p>ويعز عليَّ تعبك في فتح ذراعيك باستمرار.. إنك تريد نفس من التي مت عنها لكي تحتضنها..</p>
<p>يا للعجب أنت العريس الألهي، في صبرك واتضاعك تنتظر نفس ترتمي في حضنك فتصير لك عروساً مقدساً حتى الى  الفردوس.</p>
<p>إن أزرعك المفتوحة المتعبة ستظل مظلله على أولادك وبناتك في الجامعة &#8211; في المدارس، في أسرنا، في أماكن الشر، في الأماكن التي لا تخطر علي بالي انك تنتظر منها صيدًا.</p>
<p>ربي.. إني لا أحتمل هذا المنظر، منظر استمرار فتح ذراعيك ليل  نهار، إنه صعب جداً &#8211; إانها متألمة ومسمرة ومفتوحة &#8211;  وقلبك ينبض حباً والماً ودماً.. لا يريحه إلا صيداً ثميناً كاللص اليمين.</p>
<p><strong>الأذرع المفتوحة هي سر الانتصار </strong>(خر 17)<strong>:</strong></p>
<p>في حرب الشعب مع عماليق.. كان إذا رفع موسي يده «علي مثال الصليب» فإن الشعب يغلب وإذا خفض يده فإن عماليق يغلب.</p>
<p>فلما صارت يدا موسى ثقيلتين أخذا حجراً ووضعاه تحته فجلس عليه ودعم هرون وحور يديه الواحد من هنا والآخر من هناك. فكانت يداه ثابتتين «على مثال الصليب» إلى غروب الشمس فهزم يشوع عماليق وقومه بحد السيف (خر 17).</p>
<p>فرفع اليد بمثال الصليب قوة جبارة في انتصارات الخدمة.. لقد كانت الحرب قديماً تتم بالمواجهة المباشرة بين الجنود -أما الآن فالصواريخ تنطلق من على بعد آلاف الأميال، إن صواريخ الخدمة تستطيع أن تنتقل من قاعدة الصليب الى أي مكان حيث تصيب الهدف فيقع مأسورًا بين أذرع يسوع المطفطفة على العالم.</p>
<ul>
<li>فهي تنبه خدام اليوم إلى ديناميكية عمل الأذرع المفتوحة في  صليب يسوع، وكيف أنه عندما تسري قوتها في كياننا كخدام تنفتح  أذرعنا وأيضاً قلوبنا معها لتحتضن اخطى الخطاة ثم يقبض عليها في حضن المحبة الإلهية.. فيصير أسير حب يسوع المصلوب.</li>
<li>تأملت مرة في الصباح الباكر أماً تنزل من بيتها بملابسها المنزلية في شدة البرد &#8211; حاملة حقيبة ابنها الصغير، بعد أن أعدت له كل شيء فيها (أدواته وسندوتشاته&#8230;الخ)، وهي واقفة في انتظار اتوبيس المدرسة وعندما جاء الأتوبيس أسرعت الأم وسلمت ابنها إلى يدي المشرفة ثم أغلقت الباب وتحرك الأتوبيس وعيني الأم شاخصه نحو ابنها في الاتوبيس ولسان حالها يقول: في سلامة الله.</li>
</ul>
<p>تاملت يسوع وهو يرتب أمور أولاده في العالم كله في كل صباح ثم ينزل معهم الى الشارع، لكنه لا يتركهم بل يرافقهم للعمل والكلية والمدرسة.. وعندما تأملت ذلك تأكدت أن أذرع يسوع الأبدية ترعي كل أولاده في الجامعة وفي المدرسة وفي العمل وفي كل مكان..</p>
<p>تأكدت أن هذه الأذرع الأبدية هي القوة الوحيدة لرعاية أبنائنا اليوم مضافاً اليها أذرعاً مفتوحة على مثال الصليب، من كاهن أمام مذبحه &#8211; الى خادم في مخدعه.. الى أم في منزلها.. الى نفوس كرست حياتها طوال يومها في الكليه والعمل أن تقف بجوار صليب ربنا لكي ترش الدم النازل من الجنب الإلهي واثر المسامير علي كل زميل، وكل زميلة.</p>
<p>هذه هي حركة الصليب التي لا تسكت أبداً حتي غروب الشمس (خر ١٧) إنها ترنيمة انتصار الكنيسة الخالدة حتي غروب حياتنا على الأرض، انها ديناميكية الصليب في الخدمة.</p>
<hr />
<p><a href="#_ftnref1" name="_ftn1">[1]</a>  كتاب الرسائل الفصحية للقديس أثناسيوس الكبير &#8211; الرسالة العاشرة (عيد القيامة في 30 برمهات سنة 54 ش. &#8211; 26 مارس سنة 338 م.) &#8211; صفحة 23 &#8211; القمص تادرس يعقوب ملطي.</p>
<p><a href="#_ftnref2" name="_ftn2">[2]</a>  تفسير انجيل يوحنا للقديس كيرلس الاسكندري &#8211; المجلد الاول – ص 595 &#8211; ترجمة دكتور نصحي عبد الشهيد وآخرون.</p>
<p><a href="#_ftnref3" name="_ftn3">[3]</a>  تفسير مزمور٥٧ &#8211; القمص تادرس يعقوب ملطي .</p>
<p><a href="#_ftnref4" name="_ftn4">[4]</a>  كتاب نقاوة القلب في المفهوم الكتابي والآبائي &#8211;  صفحة ١١٥٩ &#8211; إعداد أحد الآباء الرهبان بدير السيدة العذراء &#8220;برموس&#8221;.</p>
<p><a href="#_ftnref5" name="_ftn5">[5]</a>  كتاب شفتاك يا عروس تقطران شهداً &#8211; الجزء الثاني &#8211; صفحة ٥٧ &#8211; دير الأنبا شنوده العامر بميلانو.</p>
<p><a href="#_ftnref6" name="_ftn6">[6]</a>  كتاب ماذا تظنون في المسيح &#8211; صفحة 25 &#8211; الأنبا إيساك الأسقف العام.</p>
<p><a href="#_ftnref7" name="_ftn7">[7]</a>  كتاب الصليب في حياة القمص بيشوي كامل &#8211; صفحة ٦٧ &#8211; كنيسة مار جرجس سبورتنج.</p>

      {% endcreateArticleAccordions %}
    </section>
  {% endblock %}
  