---
layout: 'layouts/reading.html'
title: 'يوم الجمعة من الأسبوع الثالث للخماسين المُقَدَّسَة'
tags: 'pentecost'
permalink: /articles/pentecost/3-5.html
---
  {% block content %}
    <section id="readings">
      <ul>
      {% if 'undefined' != 'undefined' %}
      
      {% else %}
      {% if '19.146:7-8' != 'null' %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">العشية</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeVespers '19.146:7-8' '40.11:20-24' %}
          </div>
        </div>
      </li>
      {% endif %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">باكر</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeMatins '19.146:1,2,5' '40.22:41-46' '' %}
          </div>
        </div>
      </li>
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <h3 class="flex items-center justify-between">
            <span class="kufi">القداس</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </h3>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeLitugy '45.2:25-29' '62.3:2-3' '44.5:5-11' '19.86:12,10' '43.8:31-39' %}
          </div>
        </div>
      </li>

      {% endif %}
        </ul>
    </section>
    <section id="article">
      <h3 class="mt-8 mb-4 heading-explain">شرح القراءات</h3>
      {% createArticleAccordions %}
        <h3>حياة التوبة ودوام الإستعلان</h3>
<p>تتكلم قراءات اليوم عن <strong>حياة التوبة ودوام الإستعلان</strong>..</p>
<ul>
<li>فالأمر الوحيد الذي يضمن للنفس إحساسها الدائم بالله وتمتعها بالحضور الإلهي هو حياة التوبة التي يحياها الانسان كل يوم وكل لحظة..</li>
<li>لذلك وضعت الكنيسة مزمور التوبة &#8220;إرحمني يا الله كعظيم رحمتك&#8221; في كل صلاة.</li>
<li>ويدعونا آباء الكنيسة للتدرب على صلاة يسوع &#8220;يا ربي يسوع المسيح إرحمني أنا الخاطئ&#8221; لكي يرتبط دائماً في حياتنا أنه لا توجد صلاة ولا شركة مع الله ولا إحساس بحضوره إلا بالتوبة الدائمة ..</li>
<li>لذلك إذا كانت التوبة إحتياج الخطاة فهي أيضاً عمل المؤمنين وتاج القديسين..</li>
</ul>
<h4>المزامير</h4>
<ul>
<li>لذلك يبدأ<strong> مزمور عشية </strong>بالحديث عن أن<strong> ← التوبة هي في الأساس عمل الله في حياتنا </strong>فهو الذي يعطي القيامة للإنسان من الخطية، وهو الذي يتوبنا فنتوب &#8220;الرب يحل المقيدين الرب يقيم الساقطين الرب يحكم العميان&#8230;&#8221; (مز٤٥: ٧، ٨).</li>
<li>وفي<strong> مزمور باكر </strong>عن ←<strong> تسبيح النفس للرب واتكالها الدائم عليه </strong>&#8220;سبحي يا نفسي الرب&#8230; طوبى لمن إله يعقوب معينه وإتكاله على الرب إلهه&#8221; (مز١٤٥: ١، ٤).</li>
<li>وفي <strong>مزمور القداس </strong>عن ←<strong> تمجيد النفس لله </strong>لإكتشافها لعجائبه وأعماله العظيمة يوم بعد يوم نتيجة حياة التوبة التي تعيشها &#8220;أعترف لك أيها الرب إلهي من كل قلبي وأمجد أسمك إالى الأبد لأنك أنت عظيم وصانع العجائب&#8221; (مز٨٥: ٩، ١١).</li>
</ul>
<h4>إنجيل عشية</h4>
<p>وفي انجيل عشية عن← <strong>توبيخ شديد للشعوب والنفوس التي لم تتب </strong>رغم أعمال الله العظيمة وقواته التي صنعها معهم &#8220;حينئذ بدأ يوبخ المدن التي حدثت بها أكثر قواته ولم تتب. الويل لك يا كورزين &#8230; لأنه لو حدثت في صور وصيدا القوات التي حدثت فيكما لتابتا قديماً في المسوح والرماد&#8221;.</p>
<h4>انجيل باكر</h4>
<p>وفي انجيل باكر عن:</p>
<ul>
<li>نتيجة عدم توبة القيادات الدينية وعلماء الشريعة غياب معرفة الله والقصد الإلهي وروح النبوات وجوهرها.</li>
<li>كما يوضح الإنجيل أن هدف التجسد وغايته سكنى البشرية الدائم (في المسيح) عن يمين الآب كغاية الاستعلان وملئه.</li>
</ul>
<p>&#8220;قال له يسوع: فكيف يدعوه داود بالروح ربي قائلاً: قال الرب لربي إجلس عن يميني حتى أضع أعداءك تحت قدميك &#8230; فلم يستطع أن يجيبه بكلمة&#8221;.</p>
<h4>البولس</h4>
<p>وفي البولس يوضح أن ← <strong>التوبة الحقيقية</strong> ليست في الممارسات الكنسية التي يعملها الإنسان بدون عمل الروح القدس وبدون التغيير الداخلي، بل التوبة الحقيقية هي التي يتغير فيها القلب وبالتالي تتغير التصرفات والسلوك &#8220;إن الختان ينفع إن عملت بالناموس ليس من انتحل اليهودية هو يهودياً ولا ما ظهر من ختان اللحم هو الختان، بل إنما اليهودي من كان يهودي السريرة، ووإنما الختان ختان القلب بالروح &#8230; يكون مدحه ليس من الناس بل من الله.&#8221;</p>
<h4>الكاثوليكون</h4>
<p>وفي الكاثوليكون عن ← <strong>كمال الاستعلان</strong> لأبناء الله، ولإبن الله الرب يسوع في مجيئه الثاني وظهوره الإلهي، <strong>والاحتياج للتوبة</strong> والتطهر على الدوام لدوام الاستعلان &#8220;ولكن نعلم أنه إذا ظهر نكون شبهه لأننا سنراه كما هو وكل من عنده هذا الرجاء به فليطهر نفسه كما هو طاهر&#8221;.</p>
<h4>الابركسيس</h4>
<p>وفي <strong>الابركسيس </strong>عن<strong> ← خطورة الاستهانة بدوام استعلان الله في حياتنا وغياب مخافة الله نتيجة محبة الفضة</strong> &#8220;فقال لها بطرس ما بالكما اتفقتما على تجربة الروح القدس هوذا أقدام الذين دفنوا زوجك بالباب هم سيحملونك خارجاً فسقطت وماتت&#8230; وكان خوف شديد في جميع البيعة وعلى جميع الذين قد سمعوا بهذا&#8221;.</p>
<h4>إنجيل القداس</h4>
<p>وفي انجيل القداس عن ← <strong>تاج التوبة الثبات الدائم في الرب وفي كلامه المحيي، </strong>والنتيجة الطبيعية لذلك إستعلان معرفة الله والحق الإلهي في حياة الانسان على الدوام &#8220;فقال يسوع لليهود الذين آمنوا به إن أنتم ثبتم في كلامي فبالحقيقة أنتم تلاميذي وتعرفون الحق والحق يحرركم. أجابوه قائلين أننا ذرية ابراهيم ولم نُستَعبَد لأحد قط&#8230; أجابهم يسوع: الحق الحق أقول لكم إن كل من يعمل الخطية فهو عبد للخطية والعبد لا يثبت في البيت إلى الأبد أما الابن فيثبت إلى الأبد&#8221;.</p>
<h3>ملخص الشرح</h3>
<ul>
<li>التوبة في الأساس هي عمل الله والنفس التي تتكل عليه وتلتصق به تفرح بأعماله وعجائبه في حياتها يوم بعد يوم. (مزمور عشية - مزمور باكر- مزمور القداس).</li>
<li>الله يوبخ بشدة كل النفوس والشعوب التي لم تتب رغم أعماله وعجائبه التي يعملها معهم دائماً. (انجيل عشية).</li>
<li>غياب حياة التوبة عند البعض حتى لو كانوا قيادات دينية وعلماء شريعة يحرمهم من معرفة القصد الإلهي وروح الكتاب..</li>
</ul>
<p>غاية التجسد والفداء سكنى البشرية الدائم في المسيح عن يمين الآب كغاية الإستعلان وملئه.</p>
<p>(انجيل باكر).</p>
<ul>
<li>التوبة الحقيقية هي تغيير القلب والسلوك وليست في الممارسات بدون عمل الروح وبدون التغيير الداخلي للمؤمنين. (البولس).</li>
<li>كمال إستعلان ابن الله للمؤمنين وكمال استعلان أولاد الله في ظهور المسيح ومجيئه الثاني ..</li>
</ul>
<p>إحتياج النفوس الطاهرة للتطهر الدائم لدوام إستعلان الله في حياتها.</p>
<p>(الكاثوليكون).</p>
<ul>
<li>خطورة الاستهانة بدوام إستعلان الله في حياتنا ومحبة الفضة التي تُضَيِّع من القلب مخافة الله. (الابركسيس).</li>
<li>الثبات الدائم في الرب وفي كلامه المحيي ينير النفوس بمعرفة الله وحقه الإلهي على الدوام. (إنجيل القداس).</li>
</ul>
<h3>عظات آبائية للجمعة الثالثة للخمسين يوم المقدسة</h3>
<h4>الحرية الحقيقية .. القديس الأنبا أنطونيوس<a href="#_ftn1" name="_ftnref1">[1]</a></h4>
<p>الرسالة الرابعة لأولاده الرهبان يعلمهم أن العبودية بناموس الفضيلة ليست عبودية بل بنوة الحرية.</p>
<p>أنطونيوس يكتب لأحبائه بالرب السلام أني لست أَمل من إذكاركم يا نصيبي الكنيسة وأَريد أن تعلموا أن محبتي فيكم ليست جسدانية بل محبة روحانية لأن شركة الجسد غير ثابتة ولا باقية لأنَها متحركة مع الرياح الغريبة.</p>
<p>فكل من يخاف الله ويحفظ وصاياه فإن هذا يكون عبداً للإله وهذه العبودية التي نحن فيها ليست عبودية بل هي براً تؤدَي لطريق البنوة.</p>
<p>فمن أجل هذا اختار ربنا الأنبياء والرسل وإئتمنهم على البشرى الرسولية وصاروا مأسورين بيسوع المسيح.</p>
<p>لأن الرسول بولس يقول أني أسير يسوع المسيح وكتاب الناموس جعل لنا عبودية صالحة لكي نستطيع أن نتسلط على جميع الآلام ونكمل الخدمة الصالحة التي للفضيلة المقولة من جهة الرسول.</p>
<p>فإذا اقتربنا من النعمة عند ذلك يقول لنا ربنا يسوع كما قال لتلاميذه لست أدعوكم من الآن عبيداً بل أحبائي وإخوتي لأني كل ما سمعته من أبي أعلمتكم به، إن الذين إقتربوا من النعمة علموا بالروح القدس وعرفوا جوهرهم العقلي. فلما علموا وعرفوا ذاتهم صرخوا قائلين: إنَّا لم نقبل روح العبودية فنخاف بل روح البنوة الذي به نصرخ أَيها الآب يا أَبانا.</p>
<p>فإنّا نعلم بالذي أَنعم به الله علينا إذ جعلنا بنين وإذ صرنا بنين فنحن ورثة الله وشركاء ميراث القديسين.</p>
<p>فيا أيها الأخوة الأحباء الوارثين مع القديسين ليست الفضائل بأَجمعها بعيدة عنكم بل هي لكم وفيكم، وأنتم فلستم مختفين في هذا العالم الوقتي بل ظاهرين لله، وروح الله لا يسكن في نفس أو جسد خاطيء لأنه قدوس وبعيد من كل غش.</p>
<p>وأنا بالحقيقة يا أحبائي أكتب إليكم كأُناس ناطقين وقد استطاعوا أن يعرفوا ذاتَهم لأن الذي عرف ذاته فقد عرف الله، فلأّجل هذا ينبغي لنا أن نسجد له كما يجب.</p>
<p>والآن يا أحبائي بالرب اعرفوا ذواتكم لأن الذين عرفوا ذواتهم عرفوا الزمان، والذين عرفوا الزمان استطاعوا القيام بلا اضطراب من اللغات المتغيرة.</p>
<p>لأن أريوس قام بالإسكندرية وذكر كلاماً غريباً عن الوحيد الجنس الذي إذ ليس له ابتداء قد جعل له ابتداء، والذي ليس بمضطرب مضطرباً، ونحن نعلم أنه إذا أخطأ إنسان لإنسان يُطلب من أجله للإله، والذي يخطيء للإله فلمن يُطلب من أجله؟!.</p>
<h4>فإن حرركم الابن فبالحقيقة تكونون أحراراً - للقديس كيرلس الإسكندري<a href="#_ftn2" name="_ftnref2">[2]</a></h4>
<p>(في تفسيره لإنجيل يوحنا (يو ٨: ٣٦)</p>
<p>إن القدرة علي التحرير تخص فقط ذاك الذي هو وحده بالطبيعة ابن حر بالحقيقة، ومنفصل عن كل عبودية، ولا تختص بأي أحد آخر سواه.</p>
<p>فكما أنه بسبب كونه بالطبيعة الحكمة والنور والقوة، فهو يجعل الذين يتقبلون الحكمة حكماء، وينير أولئك الذين ينقصهم النور، ويقوي أولئك الذين تعوزهم القوة.</p>
<p>وهكذا بسبب أنه إله من إله.. فإنه يمنح الحرية لمن يشاء.. وحينما يريد الابن نفسه أن يحرر أي أحد جاعلاً صلاحه الخاص فيه، فإنه يُدعَي بالحقيقة حراً بنواله الجدارة من ذاك الذي له السلطان..</p>
<p>فدع أولئك الذين يفرحون بكرامات العالم أن يعلّموا أنفسهم ألا ينتفخوا بالخداعات المتكبرة، وأن لا يطعنوا في مجد القديسين ونعمتهم، حتي لو كان أولئك القديسون صغاراً ومن أصل صغير من جهة الجسد.</p>
<p>فكون الإنسان يبدو شهيراً بين الناس، هذا لا يكفي لأن يجعله عظيماً أمام الله، أمًا أن يكون الإنسان عظيماً في طرق حياة الفضيلة فهذا يجعله حراً بالحقيقة وسامياً.</p>
<p>&#8220;بيع يوسف عبداً&#8221; كما هو مكتوب (مز ١٠٤: ١٧) سبعينية) ولكن رغم ذلك فقد كان حراً وكله تألق في سمو النفس.</p>
<p>وعيسو وُلد من أب حر وكان في الواقع حراً، ولكن بوضاعة طرقه أظهر ذهناً مستعبداً.</p>
<h4>تعرفون الحق والحق يحرركم - للقديس أغسطينوس<a href="#_ftn3" name="_ftnref3">[3]</a></h4>
<p>&#8220;لكي تكون تلميذاً لا يكفي أن تأتي، بل وأن تستمر تثبت. لذلك لم يق : إن سمعتم كلمتي، ولا إن جئتم إلى كلمتي أو إن مدحتم كلمتي لكن لاحظوا ماذا قال: إن ثبتم &#8220;استمررتم&#8221; في كلمتى، بالحقيقة تكونون تلاميذي، وتعرفون الحق، والحق يحرركم (۳۱، ۳۲). ماذا نقول يا اخوة؟ أن تستمر تثبت في كلمة الله هل هو أمر متعب أم لا؟ إن كان شاقاً فلننظر إلى المكافأة العظيمة. إن كان ليس شاقاً، فإنك قد تسلمت المكافأة مقابل لا شيء. لنستمر نثبت في ذاك الذي يثبت فينا. إن لم نثبت فيه نسقط، أما هو فإن لم يثبت فينا لا يفقد مسكنًا. فإنه يبرع في سكناه في ذاته الذي لن يترك ذاته. أما بالنسبة للإنسان فحاشا لله أن يثبت في ذاته، إذ فقد ذاته. لهذا نثبت فيه عن عوز من جانبنا، وأما هو فيثبت فينا عن رحمة بنا.</p>
<p>&#8220;ماذا تعني إن ثبتم؟&#8221; إن كنتم تبنون على الصخرة (مت۷: ٢٤). يا لعظمة هذا يا اخوة!.. ما هي المكافأة؟ تعرفون الحق والحق يحرركم. احتملوني منصتين إليَّ ، فأنتم تدركون أن صوتي واهن. أعينوني بإنصاتكم الهادئ.</p>
<p>يا لها من مكافأة مجيدة! تعرفون الحق.</p>
<p>هنا قد يقول قائل: وماذا ينفعني أن أعرف الحق؟ والحق يحرركم. إن كان الحق ليس له مفاتن بالنسبة لكم لكن ليكن للحرية مفاتنها. في اللغة اللاتينية تعبير يتحرر يستخدم في معنيين. ونحن قد اعتدنا أن نسمع هذه الكلمة في هذا المعنى إن من كان حرًا يفهم بأنه قد هرب من بعض الخطر وتخلص من بعض العوائق. ولكن المعنى اللائق للتحرر هو أن تكون في أمان، وأن تشفى، وأن تكون كاملاً، وهكذا أن تتحرر تعني أن تصير حراً&#8221;.</p>
<p>&#8220;إن ثبتم &#8220;استمررتم&#8221; في الإيمان الذي يبدأ الآن فيكم يا من تؤمنون فإلى أين تبلغون؟</p>
<p>تطلعوا إلى طبيعة البداية وإلى أين تقودكم. إنكم تحبون الأساس اهتموا بالقمة، أطلبوا وأنتم في هذا المستوى البسيط الهين الارتفاع والسمو.</p>
<p>فإن الإيمان له التواضع، لكنه المعرفة والخلود والأبدية فلها لا السفليات بل العلويات، أي الارتفاع والشبع الكامل والاستقرار الأبدي والحرية الكاملة من الهجمات المعادية ومن الخوف من الفشل. هذه التي لها البداية في الإيمان عظيمة لكنه يستخف بها، ففي إنشاء مبنى عادة يعطى الذين بلا خبرة الأساسات قدراً ضئيلاً. تصنع حفرة عظيمة وتلقي الحجارة في كل موضع وبكل طريقة. لا تظهر فيها زخرفة ولا جمال، وهكذا أيضا في جذر الشجرة لا يظهر جمال. ومع ذلك كل ما يبهجكم والشجرة ينبع من الجذر، تتطلع إلى الجذر فلا تجد بهجة؛ تتطلع إلى الشجرة وتدهش بها.</p>
<p>إنسان غيبي! ما تعجب منه ينمو مما لا يعطيك بهجة. هكذا إيمان المؤمنين بيدو كأنه أمر تافه. ليس لديك ميزان لكي تزنه. لتسمع إذن ما يقدمه الإيمان وتتطلع إلى عظمته، إذ يقول الرب في موضع آخر: &#8220;لوكان لكم إيمان مثل حبة خردل&#8221; (مت۲۰:۱۷). أي شيء أقل من هذا؟ ومع هذا أية طاقة أعظم تنتشر منه؟ أي شيء أصغر منها؟ ومع هذا أي شيء ينتشر بأكثر قوة منها؟ هكذا يقول: إن ثبتم في كلمتي أي إن آمنتم، فإلى أين تحضرون؟ بالحقيقة تكونون تلاميذي (٣١). وماذا ينفعهم هذا وتعرفون الحق (٣٢).</p>
<p>الم يبلغوا مثل هذه المعرفة حين كان الرب يكلمهم؟ إن كانت ليس لهم المعرفة فكيف أمنوا؟ لقد آمنوا ليس لأنهم كانوا يعرفون، وإنما لكي يعرفوا. فإننا نؤمن لكي نعرف، ولسنا نعرف لكي نؤمن. لأن ما سنعرفه لم تره عين ولم تسمع به أذن، ولم يخطر على بال بشر (إش٦٤: ٤)؛ (١كو۲: ۹) لأنه ما هو الإيمان إلا تصديق ما لم تروه بعد؟ وتعرفون الحق. الحق غير متغير. الحق هو خبز، ينعش عقولنا ولا يسقط، يغير من يأكله، ولا يتغير فيمن يأكله. الحق هو كلمة الله.. الابن الوحيد. هذا الحق التحف جسداً من أجلنا لكي ما يولد من العذراء مريم وتتم النبوة: &#8220;الحق من الأرض ينبت&#8221; (مز٨٥: ۱۱). هذا الحق إذن وهو يتحدث مع اليهود اختفى في الجسد. لكنه لم يختف لكي ينكر، وإنما لكي ما يرجا إعلانه، يرجا لكي ما يتألم في الجسد ويتألم في الجسد لكي ما يخلص الجسد من الخطية. هكذا ظهر بالكامل بخصوص ضعف الجسد، وكان مخفياً من جهة جلال اللاهوت.</p>
<p>كل شخص: يهودي أو يوناني، غني أو فقير، صاحب سلطة أو في مركز عام، الإمبراطور أو الشحاذ، كل من يعمل الخطية هو عبد للخطية (٣٤). إن عرف الناس عبوديتهم يرون كيف يقتنون الحرية. المولود حراً ويسبيه البرابرة يتحول من حر إلى عبد، وإذ يسمع عنه شخص آخر يتحنن عليه ويتطلع أن لديه مالاً فيفديه، يذهب إلى البرابرة، ويعطيهم مالًا ويفدي الرج . إنه بالحق يرد له الحرية، إذ ينزع الظلم.. إني أسأل الذي أفتُديَ: هل أخطأت؟ يجيب أخطأت. إذن لا تفتخر بنفسك أنك قد افتديت، ولا تفتخر يا من افتديته، بل ليهرب كليكما إلى الفادي الحقيقي. إنه جزئياً يدعى الذين تحت الخطية عبيداً، إنهم يدعون أمواتاً. ما يخشاه الإنسان حلول السبي عليه الذي جلبه الإثم عليه فعلاً. لماذا؟ هل لأنهم يبدون أنهم أحياء؟ هل أخطأ القائل: &#8220;ودع الموتي يدفنون موتاهم&#8221; (مت۸: ۲۲)؟ إذن فكل الذين تحت الخطية هم أموات، عبيد أموات، أموات في خدمتهم، وخدام عبيد في موتهم.</p>
<p>من الذي يحرر من الموت ومن العبودية إلا ذاك الذي هو حر من بين الأموات (مز۸۸: ٥)؟ من هو الحر من بين الأموات إلا ذاك الذي بلا خطية وسط الخطاة؟ يقول مخلصنا نفسه، منقذنا: &#8220;أن رئيس هذا العالم يأتي وليس له في شيء&#8221; (يو٣٠:١٤). رئيس هذا العالم يمسك بمن يخدعهم ومن يغويهم، ومن يحثهم على الخطية والموت، هذا ليس له في شيء.</p>
<p>تعال أيها الرب، تعال أيها المخلص. ليتعرف عليك الأسير. دع من اقتيد إلى السبي أن يهرب اليك. كن فادياً له! إذ كنت مفقوداً وجدني ذاك الذي لم يجد الشيطان له فيه شيئاً آتياً من الجسد. لقد وجد في رئيس هذا العالم جسداً، لقد وجده لكنه أي نوع من الجسد؟ جسد مائت يمكن أن يمسكه ويقدر أن يصلبه وأن يقتله! لقد أخطأت يا أيها المخادع فإن المخلص لا يخدع.. إنك ترى فيه جسداً قابلاً للموت لكنه ليس جسد الخطية، بل على شبه جسد الخطية &#8220;فالله إذ أرسل ابنه في شبه جسد الخطية، ولأجل الخطية، دان الخطية في الجسد&#8221; (رو٨: ٣).</p>
<p>في جسد، لكن ليس في جسد الخطية بل في شبه جسد الخطية. لأي هدف؟ لكي بالخطية التي بالتأكيد لم يكن منها شيء فيه، يدين الخطية في الجسد، فيتحقق بر الناموس فينا، نحن الذين لا نسلك حسب الجسد بل حسب الروح (رو۸: ٤). لا يدع أحد نفسه حرًا لئلا يبقى عبداً. لا تبقى نفوسنا في عبودية، لأنه يعفي عن ديوننا يوماً فيوماً.</p>
<p>حتى بالنسبة للحرية في هذه الحياة، أين هو الحق عندما تقولون: لم نستعبد لأحد قط؟ ألم يبع يوسف (تك ۳۷: ۲۸)؟ ألم يذهب الأنبياء القديسون إلى السبي (٢مل٢٤؛ خر۱: ۱)؟ مرة أخرى أليست هذه الأمة عندما كانت تصنع اللبن في مصر خدمت حكامًا عنفاء ليس في ذهب وفضة بل في صنع الطوب (خر١: ١٤)؟ إن كنتم لم تستعبدوا قط لأحد يا أيها الشعب الجاحد، فلماذا يذكركم الله باستمرار أنه خلصكم من بيت العبودية (خر۱۳: ۳؛ تث٥: ٦)؟.. كيف تدفعون الجزية للرومان، والتي من خلالها أقمتم فخاً لتصطادوا الحق فيه عندما قلتم: هل يجوز أن نعطي الجزية لقيصر؟ وذلك حتى إن قال يجوز ذلك تتهمونه بسرعة أنه يسئ إلى حرية نسل إبراهيم، وإن قال لا يجوز تشتكونه أمام ملوك الأرض بكونه يمنع الجزية لمثل هؤلاء؟.</p>
<p>&#8220;أجابهم يسوع: الحق الحق أقول لكم إن كل من يعمل الخطية هو عبد للخطية&#8221;. إنه عبد، يا ليته لإنسان بل للخطية! من لا يرتعب أمام مثل هذه الكلمات؟ الرب إلهنا يهبنا - أنتم وأنا - أن أتكلم بتعبيرات لائقة عن هذه الحرية باحثاً عنها وأن أتجنب تلك العبودية.. يا لها من عبودية بائسة! عندما يعاني البشر من سادة أشرار يطلبون على أي الأحوال تغيير السيد. ماذا يفعل عبد الخطية؟ لمن يقدم طلبه؟ إلى من يطلب الخلاص؟.. أين يهرب عبد الخطية؟ فإنه يحمل سيده أينما هرب. لا يهرب الضمير الشرير من ذاته، لا يوجد موضع يذهب إليه. نعم لا يقدر أن ينسحب من نفسه، لأن الخطية التي يرتكبها هي في داخله. يرتكب الخطية لكي يحصل على شيء من اللذة الجسدية. تعبر اللذة وتبقى الخطية. ما يبتهج به يعبر، وتبقى الشوكة خلفها. يا لها من عبودية شريرة!.. لنهرب جميعاً إلى المسيح، وتحتج ضد الخطية إلى الله بكونه مخلصنا. لنطلب أن تباع لكي ما يخلصنا بدمه. إذ يقول الرب: &#8220;مجاناً بعتم، وبلا فضة تفكون&#8221; (إش٥٢: ٣) بدون ثمن من جهتكم، بسببي هكذا يقول الرب لأنه هو دفع الثمن لا بمال بل بدمه، وإلا بقينا عبيدا معوزين.</p>
<p>يدخل كثير من الخطاة الكنيسة. لهذا لم يقل العبد ليس في البيت وإنما قال: لا يبقى في البيت إلى الأبد. رجاؤنا أيها الأخوة هو هذا أن نصير أحراراً بواسطة الحر، وإذ يجعلنا أحراراً يقيمنا عبيداً. لقد كنا عبيداً للشهوة، ولكن إذ نتحرر يجعلنا عبيدا للحب. هذا أيضا ما يقول الرسول: &#8220;فإنكم إنما دعيتم للحرية أيها الأخوة. غير أنه لا تصيروا الحرية فرصة للجسد، بل بالمحبة اخدموا بعضكم بعضاً&#8221; (غل٥: ١٣). إذن لا يقول المسيحي: أنا حر، أنا دعيت للحرية. كنت عبداً وقد خلصت، وبخلاصي هذا صرت حراً، أفعل ما يحلو لي. لا يصد أحد إرادتي ما دمت حراً.. لا تفسد حريتك بالخطية، بل استخدمها في عدم ارتكاب الخطية. فإنه متى كانت إرادتك ورعة عندئذ فقط تكون حرة. تكون حرًا إن كنت لا تزال عبداً متحرراً من الخطية وخادماً للبر. وكما يقول الرسول: &#8220;لأنكم لما كنتم عبيد الخطية، كنتم احراراً من البر.. وأما الآن إذ أعتقتم من الخطية، وصرتم عبيداً لله، فلكم ثمركم للقداسة، والنهاية حياة أبدية&#8221; (رو٦: ۲۰، ۲۲).</p>
<h4>إن ثبتم في كلامي - للقديس يوحنا ذهبي الفم<a href="#_ftn4" name="_ftnref4">[4]</a></h4>
<p>&#8221; إنكم إن ثبتم في كلمتي هو تعبير لمن يعلم ما في قلوبهم، ويعرف أنهم آمنوا لكنهم لم يستمروا في ذلك. وها هو يعدهم بأمر عظيم أنهم يصيرون تلاميذه. فقد تركه قبلاً البعض، وها هو يشير إليهم بقوله: إن استمررتم لأن هؤلاء أيضا سمعوا وآمنوا وتركوه، لأنهم لم يستمروا. &#8220;رجع كثيرون من تلاميذه إلى الوراء، ولم يعودوا يمشون معع&#8221; (يو٦: ٦٦).</p>
<p>وتعرفون الحق بمعنى: ستعرفونني، إذا أنا هو الحق. كل الأمور اليهودية هي رموز، لكنكم تعرفون الحق في، وهو يحرركم من خطاياكم.. إنه لم يقل أجركم من العبودية فقد تركهم هم يستنتجون ذلك.</p>
<p>هذا هو افتخار اليهود: نحن ذرية إبراهيم، نحن إسرائيليون. إنهم لم يشيروا قط إلى أعمالهم البارة. لهذا صرخ فيهم يوحنا قائلاً: لا تقولوا لنا إبراهيم أباً (مت۳: ۹). ولماذا لم يفحمهم المسيح إذ كثيرًا ما استعبدهم المصريون والبابليون وأمم كثيرة؟ لأن كلماته لم يقدمها لينال كرامة لنفسه، وإنما لأجل خلاصهم، لنفعهم، فكان يضغط عليهم بهذا الهدف.. إنه لم يرد أن يظهر أنهم كانوا عبيدا للناس بل للخطية، التي هي عبودية خطيرة، لا يقدر أن يحررهم منها سوى الله وحده.</p>
<p>إن قلت: فلم ذكر البيت إذ خاطبهم مذكرا إياهم بخطاياهم؟ أجبتك: لكي يريهم كما أن السيد في بيته متسلط، كذلك هو متسلط، وسيد الخليقة. بقوله: لا يبقى يعني أنه بلا سلطان أن يهب امتیازات، لأنه ليس سيداً للبيت. أما الابن فهو رب البيت. فإن هذا ما يعنيه بالقول: يبقى إلى الأبد، كمجاز مستعار من الأمور البشرية. فلكيلا يقولوا: من أنت قال: كل شيء هو ملكي؛ أنا هو الابن الساكن في بيت أبي، مظهراً بقوله البيت سلطانه. ففي موضع آخر يدعو الملكوت بيت أبيه: &#8220;في بيت أبي منازل مواضع كثيرة&#8221; (يو١٤: ٢) وإذ كان مقاله خاصًا بالحرية والعبودية، لهذا أستخدم المجاز ليخبرهم أنهم بلا سلطان على التمتع بالحرية أو نوال المغفرة.</p>
<h3>عظات آباء وخدّام معاصرين للجمعة الثالثة للخمسين يوم المقدسة</h3>
<h4>الحق - لقداسة البابا تواضروس الثاني<a href="#_ftn5" name="_ftnref5">[5]</a></h4>
<p>معرفة الحق: تتوازى مع معرفة الخلاص من الخطية، ليس فقط على مستوى العقل والإدراك، وإنما على مستوى الأعمال والسلوك بالخضوع والطاعة لوصايا الله. كيف تعرف الحق؟ &#8220;تعرفون الحق والحق يحرركم&#8221; (ع ٣٢).</p>
<ul>
<li><strong>بالإيمان:</strong> أعطانا حرية بعد أن كنت في عبودية ، إنه ضابط الكل.</li>
<li><strong>بالثبات:</strong> صرنا أبناء بعد أن كنا في عبودية.</li>
<li><strong>بالمشورة:</strong> ليس فقط افتخار بالماضي.</li>
</ul>
<p><strong>كراهية الخطية</strong>: هي كمال الحرية. ويقول القديس يوحنا الذهبى الفم &#8220;الخطية هي الكارثة الوحيدة في هذا العالم&#8221;. كما قال: &#8220;أنا هو الطريق والحق والحياة&#8221;.</p>
<p><strong>أساس الحياة الروحية هو إيمان الشخص</strong>، والإيمان السليم يتضمن السلوك التقوى – الحياة النشيطة الأمينة، وعندما قال المسيح &#8220;تعرفون الحق والحق يحرركم&#8221; كان يعني أن التحرر لمعرفة حقيقة الأمور تحتاج تحرير العقل من كل تزييف أو خداع .</p>
<p>اليهود تكلموا عن العبودية الأجتماعية والسياسية وكان السيد المسيح يتكلم عن العبودية الروحية للخطية التي هي أقسى وأخطر.. فالخطية تستعبد صاحبها وتجعله لا يملك من أمر نفسه شيئاً ولا يمسح خطيئة الإنسان إلا السيد المسيح المُخلص &#8220;فليس بأحد غيره الخلاص&#8221; (أع٤: ١٢). إنه ماسح الخطية بدمه المسفوك على عود الصليب لكل من يؤمن به فقط .</p>
<p><strong>القيامة والحرية</strong></p>
<p>الحرية هي سمات البُعد الشخصي للإنسان المسيحي الذي نالها بعد قيامة المسيح وقد شغلت كل الناس في كل العصور حتى النحاتون صنعوا لها تمثالا ًهو تمثال الحرية، ويقول بولس الرسول: &#8220;إذاً أيها الأخوة لسنا أولاد جارية بل أولاد الحُرة&#8221; (غل٤: ٣١) .</p>
<p><strong>ولهذا الأمر جانبان</strong><strong>:</strong></p>
<ol>
<li>إن الحرية (الإرادة) والعقل (الفكر) هما ما يُميز الإنسان كمخلوق بين الكائنات الحية، إن الله يُحب لكل إنسان أن يكون حُراً.</li>
<li>إن هذه الحرية يُقابلها حساب ومسئولية، الشر له عقوبة والخير له مكافأة وهذه العقوبة أو المكافاة مزدوجة في السماء وعلى الأرض .</li>
</ol>
<p>كما أن الحرية لها ضوابط، وإلا صارت انفلاتاً، مثل النهر له شاطئان لا يقيدان مجراه لكن يحفظانه، هذان الشاطئان بالنسبة للإنسان هما &#8220;الدين + التربية&#8221; أي &#8220;وصايا الله + قوانين المجتمع&#8221;.</p>
<p>إن الحرية الحقيقية هي تحرر من الأخطاء «من الخطايا والسقطات، من العادات الرديئة، من الصحبة، من المشاعر غير النقية، من الأفكار المنحرفة&#8230;»</p>
<p>الحرية تحتاج إلى ضبط كل من: اللسان، الأعصاب، الفكر، الحواس، الجسد، الشهوة&#8230;الخً.</p>
<p>الحرية هي أن لا تُغلَب من شيء أو شخص أو حتى نفسك، لقد أعطى الله الإنسان حرية الاختيار، ولكنه إذا اختار الأنانية يفقد حريته، ومثال ذلك مثل الابن الضال.</p>
<h4>أولاد إبراهيم - للمتنيح الأنبا إبيفانيوس أسقف دير القديس أنبا مقار<a href="#_ftn6" name="_ftnref6">[6]</a></h4>
<p>يتكرر اسم ابراهيم أبى الآباء فى العهد الجديد مرراً كثيرة، وفى انجيل القديس يوحنا بمفرده يتكرر إحدى عشر مرة، تقع جميعها فى الأصحاح الثامن منه (٣١- ٥٨). واذا عرفنا وجهة نظر اليهود أيام المسيح حول علاقتهم بابراهيم أمكننا فهم الحوار الذى دار بين المسيح واليهود والذى ورد ذكره فى انجيل يوحنا (٨: ٣١- ٥٨).</p>
<p>لقد بارك الله ابراهيم وأعطاه الوعد قائلاً: &#8220;أَجْعَلَكَ أُمَّةً عَظِيمَةً وَأُبَارِكَكَ وَأُعَظِّمَ اسْمَكَ، وَتَكُونَ بَرَكَةً. وَأُبَارِكُ مُبَارِكِيكَ، وَلاَعِنَكَ أَلْعَنُهُ وَتَتَبَارَكُ فِيكَ جَمِيعُ قَبَائِلِ الأَرْضِ&#8221; (تك ١٢: ٢، ٣). وأضاف الله على هذا الوعد بعد ذلك قائلاً: &#8220;لِنَسْلِكَ أُعْطِي هذِهِ الأَرْضَ&#8221; (تك١٢: ٧). ثم تأكد هذا الوعد عندما وعده الله بميلاد اسحق: &#8220;انْظُرْ إِلَى السَّمَاءِ وَعُدَّ النُّجُومَ إِنِ اسْتَطَعْتَ أَنْ تَعُدَّهَا. وَقَالَ لَهُ: هكَذَا يَكُونُ نَسْلُكَ&#8221; (تك ١٥: 5). ثم تأكد الوعد مرة أخرى عندما غير الله اسم ابراهيم من أبرآم إلى ابراهيم، وكان الختان هو علامة هذا الوعد (تك١٧: ١- ١٤) .</p>
<p>على هذا الأساس الكتابي صارت شخصية ابراهيم ممجدةً جداً فى التقليد اليهودي المتأخر بسبب مآثره وشخصيته المثالية .</p>
<p>وقد كال له اليهود المديح لأنه تمم أقصى متطلبات الحياة الفاضلة كما كان ينادي بها فلاسفة اليونان. فيصفه المؤرخ اليهودى يوسيفورس أنه: &#8220;انسان فائق الكمال من جهة جميع الفضائل&#8221;. أما كتاب المشنا، وهو مجموعة تعاليم الربِّيين اليهود والتى أشار اليها الانجيل تحت اسم: &#8220;تقليد الشيوخ&#8221; (مر٧: ٣)، فإنها في تعليقها على آية سفر التكوين: &#8220;مِنْ أَجْلِ أَنَّ إِبْرَاهِيمَ سَمِعَ لِقَوْلِي وَحَفِظَ مَا يُحْفَظُ لِي: أَوَامِرِي وَفَرَائِضِي وَشَرَائِعِي&#8221; (تك٢٦: ٥)، تقول: [ان أبانا ابراهيم قد حفظ جميع أحكام الشريعة قبل أن تعطى الشريعة]. كما تعتبره أول من أدان عبادة الأوثان بسبب ايمانه بالله. اذ يقرر يوسيفيوس أن السبب الوحيد لترك ابراهيم منطقة ما بين النهرين هو العداوة التى لاقاها من جراء رفضة لعبادة الأوثان.</p>
<p>وبسبب هذه الكرامة التى أُسبِغَت على شخصية ابراهيم، نسجت أيدي الخيال حوله القصص، وقد تسجَّلت هذه القصص فى بعض كتابات اليهود المتأخرة مثل: &#8220;رؤيا ابراهيم&#8221;، وكتاب: &#8220;عهد ابراهيم&#8221;؛ وهى تحوي تاريخ حياة ابراهيم كما ورد فى سفر التكوين بالأضافة إلى أساطير الربِّيين التى تخيلت ابراهيم فى تعامله مع الملائكة، والرؤى التى شاهد فيها الله، ورحلاته فى عالم السماويات .</p>
<p>أما قمة المديح لابراهيم فنجده فى التقليد اليهودى الذى يقرر أن إيمان وطاعة ابراهيم كانا من العظمة بمكان حتى إنهما  بالاضافة إلى بر اسحق ويعقوب  يُعتبران كنزاً عظيماً لما يسمى ب &#8220;استحقاقات الآباء&#8221;. هذا الكنز من بر وتقوى الآباء كان أكثر من احتياجهم لكى ينالوا الخلاص. لذلك فقد كانوا يعتقدون بأن الله يسمح بانتقال هذا البر للشخص اليهودى عندما يحتاج اليه لكى يُكفِّر عن خطاياه. وبالرغم من أن بعض الربِّيين اليهود قد عارضوا هذا الرأي، إلا أن وجوده يوضح الكرامة  التى نالتها شخصية ابراهيم .</p>
<p>لقد جاء شعب اسرائيل من نسل ابراهيم، وبالتالي فهو الشعب المختار الذى تحققت فيه الوعود والبركة التى منحها الله لإبراهيم، وإن كانت كل هذه الوعود والبركات لم تتحقق إلا فى المسيَّا الآتي من نسل إبراهيم. لذلك كان اليهود يلقبون ابراهيم دائماً فى كتاباتهم بلقب &#8220;ابينا ابراهيم&#8221;. ويقابلنا نفس هذا اللقب أيضا فى كتابات العهد الجديد :</p>
<ul>
<li>&#8221; الْقَسَمَ الَّذِي حَلَفَ لإِبْرَاهِيمَ أَبِينَا: أَنْ يُعْطِيَنَا إِنَّنَا بِلاَ خَوْفٍ، مُنْقَذِينَ مِنْ أَيْدِي أَعْدَائِنَا، نَعْبُدُهُ&#8221; (لو١: ٧٣، ٧٤).</li>
<li>&#8220;ظَهَرَ إِلهُ الْمَجْدِ لأَبِينَا إِبْرَاهِيمَ وَهُوَ فِي مَا بَيْنَ النَّهْرَيْنِ، قَبْلَمَا سَكَنَ فِي حَارَانَ&#8221; (أع ٧: ٢) .</li>
<li>&#8220;فَمَاذَا نَقُولُ إِنَّ أَبَانَا إِبْرَاهِيمَ قَدْ وَجَدَ حَسَبَ الْجَسَدِ؟.. وَأَبًا لِلْخِتَانِ لِلَّذِينَ لَيْسُوا مِنَ الْخِتَانِ فَقَطْ، بَلْ أَيْضًا يَسْلُكُونَ فِي خُطُوَاتِ إِيمَانِ أَبِينَا إِبْرَاهِيمَ&#8221; (رو٤: ١، ١٢).</li>
<li>&#8220;أَلَمْ يَتَبَرَّرْ إِبْرَاهِيمُ أَبُونَا بِالأَعْمَالِ، إِذْ قَدَّمَ إِسْحَاقَ ابْنَهُ عَلَى الْمَذْبَحِ؟&#8221; (يع٢: ٢١) .</li>
</ul>
<p>حتى الرب يسوع نفسه استخدم هذا اللقب فى مثل الغني ولعازر، فيقول على لسان الغني بعد أن انتقل إلى الهاوية: &#8220;فَنَادَى وَقَالَ: يَا أَبِي إِبْرَاهِيمَ، ارْحَمْنِي، وَأَرْسِلْ لِعَازَرَ لِيَبُلَّ طَرَفَ إِصْبَعِهِ بِمَاءٍ وَيُبَرِّدَ لِسَانِي&#8230;&#8221; (لو١٦: ١٩- ٣١). لذلك كان يطلق على اليهود عادة لقب &#8220;أولاد ابراهيم&#8221; (يو٨: ٣٩)، و&#8221;ذرية ابراهيم&#8221; (يو٨: ٣٣)، و&#8221;ابن ابراهيم&#8221; (لو١٩: ٩)، و&#8221;ابنة ابراهيم&#8221; (لو١٣: ٦) .</p>
<p>هذه الاشارات المتكررة فى كتابات القرن الأول لإعتبار ابراهيم أباً لليهود، وأن اليهود هم ذرية ابراهيم، تحتاج الى فحص دقيق، فربما تحمل معنى مغايراً تماما للمعنى المقصود. فهل تكرار هذا اللقب يشير إلى أية امتيازات أو استحقاقات لليهود، أم أنه يؤكد على واجبات والتزامات مفروضة على من يحمل هذا اللقب؟</p>
<p>كلا هذين الاتجاهين  أى الامتياز والالتزام  واضحان فى رواية سفر التكوين. فالوعود الممنوحة لابراهيم فى سفر التكوين مرتبطة بإيمان إبراهيم وطاعته .</p>
<p>فالوعد بالبركة فى الإصحاح الثاني عشر مرتبط بأمر الله لابراهيم: &#8220;اذْهَبْ مِنْ أَرْضِكَ وَمِنْ عَشِيرَتِكَ وَمِنْ بَيْتِ أَبِيكَ إِلَى الأَرْضِ الَّتِي أُرِيكَ&#8221; (تك١٢: ١) .</p>
<p>كما أن التأكيد على البركة واضافة الوعد بميراث الأرض (تك١٢: ٢، ٣). يحمل فى طياته بصورة متلازمة الوجهين: العطية والالتزام؛</p>
<p>فالوعد بانجاب الوريث يتطلب الايمان (١٥: ١- ٦) والوعد بميراث الأرض يتطلب تقديم ذبيحة (١٥: ٧- ٢١).</p>
<p>وتأكيد الوعد بعلامة الختان (١٧: ٢- ١٤) سبقها الوصية: &#8220;أنا الله القدير. سِر أمامي وكن كاملاً&#8221; (١٧: ١) .</p>
<p>وحتى بعد أن منحه الله اسحق الذى وعده بأن يكون هو الوارث للمواعيد والبركة ، فلكى يتثبَّت له وعد الله وبركته، تطلب هذا امتحاناً لإيمانه عندما طلب منه الله أن يقدم اسق ذبيحة. وكان هذا هو الإمتحان: هل يؤمن أن الله قادر أن يقيم له اسحق من الموت، هذا الذى تقبَّل فيه المواعيد، وحيده (تك٢٢: ١- ١٨)؟</p>
<p>واذا فحصنا مفهوم البنوة لأبراهيم فى الفترة التى واكبت مجىء المسيح بالجسد، نجد كلا المفهومين  أى الإمتياز والالتزام  موجودين، ولكن التركيز بالأكثر كان على مفهوم الامتياز دون الالتفاف الى متطلبات البنوة. فمن أقوال الربيين اليهود المعاصرين لتلك الفترة، نلاحظ الاشارة الى امتيازات البنوة لابراهيم وكأنها حق واجب غير مشروط بأية شروط، فيذكر الرابِّي مير Meir أن: &#8220;الاسرائيلين هم دائما أولاد ابراهيم، سواء ضايقوه بأعمالهم أم لا، سواء فسدوا فى حياتهم أم لا، وسواء عصوا الله أم لم يعصوه &#8221;</p>
<p>هذا المفهوم كان شائعًا فى زمن المسيح، وكان اليهود يرون أنهم ما داموا أولاد ابراهيم فلهم حق ميراث الوعود وميراث الأرض والمستقبل المجيد.</p>
<p>وقد ذكر القديس يوستينوس الشهيد فى حواره مع تريفو أن اليهود  كأولاد ابراهيم  كانوا يتوقعون نوال ملكوت الله بغض النظر عن سلوكهم فى الحياة. وقد واجه القديس يوحنا المعمدان هذا المفهوم الخاطىء عندما بدأ البعض يفبلون رسالة التوبة القوية التى نادى بها :</p>
<ul>
<li>&#8220;وَكَانَ يَقُولُ لِلْجُمُوعِ الَّذِينَ خَرَجُوا لِيَعْتَمِدُوا مِنْهُ: يَا أَوْلاَدَ الأَفَاعِي، مَنْ أَرَاكُمْ أَنْ تَهْرُبُوا مِنَ الْغَضَبِ الآتِي؟ فَاصْنَعُوا أَثْمَارًا تَلِيقُ بِالتَّوْبَةِ ولاَ تَبْتَدِئُوا تَقُولُونَ فِي أَنْفُسِكُمْ: لَنَا إِبْرَاهِيمُ أَبًا لأَنِّي أَقُولُ لَكُمْ: إِنَّ اللهَ قَادِرٌ أَنْ يُقِيمَ مِنْ هذِهِ الْحِجَارَةِ أَوْلاَدًا لإِبْرَاهِيم. وَالآنَ قَدْ وُضِعَتِ الْفَأْسُ عَلَى أَصْلِ الشَّجَرِ، فَكُلُّ شَجَرَةٍ لاَ تَصْنَعُ ثَمَرًا جَيِّدًا تُقْطَعُ وَتُلْقَى فِي النَّار&#8221; (لو٣: ٧- ٩؛ ومت٣: ٩، ١٠).</li>
</ul>
<p>فهنا كان يوحنا يذكر سامعيه أن البنوة لابراهيم لا تلغى أمر الله لكل انسان: &#8220;سر أمامي وكن كاملاً&#8221;.</p>
<p>بَيدَ أن هناك بعض الربِّيين المعتدلين الذين فهموا البنوة لابراهيم بمفهوم الالتزام والمسئولية تجاه متطلباتها. وقد نادى أولئك بضرورة التشبه بأخلاقيات وفضائل ابراهيم، ففى كناب المشنا نجد هذا المفهوم: [إن من يمتلك هذه الخصال الثلاث، فهو تلميذ لأبينا ابراهيم، أما من يوجد فيه تلك الصفات الثلاث الأخرى فهو تلميذ لبلعام الشرير. فمن فيه هذه الخصال الثلاث وهى العين البسيطة (القنوعة) والروح الوديعة، والنفس المتضعة، فهذا هو تلميذ لأبينا ابراهيم، ومن فيه هذه الصفات الثلاث وهى العين الشريرة (الطمَّاعة)، والروح المنتفخة، والنفس المتعالية، فهو من تلاميذ بلعام الشرير&#8230; فتلاميذ أبينا ابراهيم يتمتعون بالعالم الحاضر  ويرثون الحياة الآتية.. أما تلاميذ بلعام فيرثون جهنم وينحدرون إلى هاوية الهلاك.</p>
<p>هذه الفقرة المقتبسة من تعليم الربِّيين توضح أنه كان هناك من قادة اسرائيل الروحيين من نادى بأن مصير الانسان إنما يحدده سلوكه الروحي وليس مجرد انتسابه الى ذرية ابراهيم. وهذا المفهوم هو ما أكد عليه الرب يسوع عند مقابلته لزكا رئيس العشارين. فبعد أن أعلن زكا توبته والتزامه بالعطف على المساكين وإنصاف المظلومين، والكفِّ عن أعمال الظلمة التى كان يمارسها، أجابه الرب يسوع قائلاً:&#8221; الْيَوْمَ حَصَلَ خَلاَصٌ لِهذَا الْبَيْتِ، إِذْ هُوَ أَيْضًا ابْنُ إِبْرَاهِيمَ&#8221; (لو١٩: ٩) .</p>
<p>وقد أكد بولس الرسول على هذا المفهوم فى رسائله، إذ نادى فى تعاليمه أن &#8220;في المسيح&#8221; ليس هناك أهمية روحية لأصل الإنسان سواء كان يهودياً أو أممياً (غل٣: ٢٨)، وأن الإنسان لا يحسب يهودياً إن كان يهودياً من الخارج فقط، أى بسبب إنتمائه فقط إلى ذرية ابراهيم، والختان لا يحسب ختاناً إن كان مصنوعاً في الجسد فقط. أما اليهودي الحقيقي فهو اليهودي من الداخل، أي الذى يسير على خطوات إيمان ابراهيم (رو ٢: ٢٨، ٢٩) .</p>
<p>يمكننا الآن أن نتتبع الحوار الذى دار بين الرب يسوع واليهود فى إنجيل يوحنا الأصحاح الثامن، لنرى انعكاس وجهات النظر المختلفة حول مفهوم البنَّوة لإبراهيم. فعندما أخبرهم يسوع بحاجتهم إلى الحرية: &#8220;وَتَعْرِفُونَ الْحَقَّ، وَالْحَقُّ يُحَرِّرُكُمْ&#8221; (يو ٨: ٣٢)، أجابوه من وجهة نظر الربِّيين التى تُنادى بامتيازات البنوة لابراهيم: &#8220;إِنَّنَا ذُرِّيَّةُ إِبْرَاهِيمَ، وَلَمْ نُسْتَعْبَدْ لأَحَدٍ قَطُّ&#8221; (يو ٨: ٣٣)، وهو الرأي الذى يرى أن جميع اليهود هم أحرار  بالرغم من أنهم فى ذلك الوقت كانوا تحت عبودية الدولة الرومانية  [حتى الأفقر فى اسرائيل فجميعهم أحرار، وإن فقدوا جميع ممتلكاتهم، وذلك لأنهم أولاد ابراهيم واسحق ويعقوب].</p>
<p>لقد استثار المسيح فى هؤلاء اليهود  الذين أظهروا فى البداية قبولًا لكلام المسيح  أفكارهم الدفينة المترسِّبة عبر الأجيال والدهور، القائمة على الغُلُوِّ فى الوطنية السياسية المصبوغة من الخارج بالعبادة، والموضوع عليها شعار يَهوَه، لتصبح السياسة المقدسة التى لا يستطيع أن يمسها أحد. فكيف لهذا المعلم أن ينفى عنهم الحرية وهم قد أخذوا السيادة على العلم بكل شعوبه وأممه، بوعد وتعهُّد من الله لأبيهم ابراهيم؛ وإن كانت بلادهم وأرضهم اجتاحتها جيوش أعداءٍ على مر السنين ، مصريين وبابليين وأشوريين ورومان، فكما جاءوا هكذا رحلوا دون أن يمسوا ميراثهم أو تراثهم أو عوائدهم أو عبادتهم. لقد خرج اليهود من نير الأسر وهم أحرار كما كانوا، بوعد أبيهم ابراهيم. فكيف يَعِدهُم هذا بالحرية وهم فى حريتهم قائمون؟!.</p>
<p>لقد أقر الرب يسوع ببنوتهم الجسدية لابراهيم: &#8220;أَنَا عَالِمٌ أَنَّكُمْ ذُرِّيَّةُ إِبْرَاهِيمَ&#8221; (٨: ٣٧)، لكنه أضاف أن لهم أباً آخر: &#8220;أَنَا أَتَكَلَّمُ بِمَا رَأَيْتُ عِنْدَ أَبِي، وَأَنْتُمْ تَعْمَلُونَ مَا رَأَيْتُمْ عِنْدَ أَبِيكُمْ&#8221; (٨: ٣٨). لقد كان بهذا الكلام يستفزهم لكى يؤكدوا على ادِّعائهم بالبنوة الجسدية لابراهيم: &#8220;أَجَابُوا وَقَالُوا لَهُ: أَبُونَا هُوَ إِبْرَاهِيمُ&#8221; (٨: ٣٩). وهنا فنَّد الرب مزاعمهم مستنداً إلى تعاليم اليهود التى تنص على أن أولاد ابراهيم الحقيقيين هم أبرار. فبالمقارنة بين ما فعله ابراهيم وبين ما يفعلونه هم يظهر أنهم ليسوا أولاد ابراهيم: &#8220;قَالَ لَهُمْ يَسُوعُ: لَوْ كُنْتُمْ أَوْلاَدَ إِبْرَاهِيمَ، لَكُنْتُمْ تَعْمَلُونَ أَعْمَالَ إِبْرَاهِيمَ؛ وَلكِنَّكُمُ الآنَ تَطْلُبُونَ أَنْ تَقْتُلُونِي، وَأَنَا إِنْسَانٌ قَدْ كَلَّمَكُمْ بِالْحَقِّ الَّذِي سَمِعَهُ مِنَ اللهِ هذَا لَمْ يَعْمَلْهُ إِبْرَاهِيمُ&#8221; (٨: ٣٩، ٤٠). أى أن ابراهيم لم يكن قتَّالاً للناس، وأنتم تريدون أن تقتلوني، وابراهيم لم يكن معانداً للحق، وأنتم تقاوموننى لأننى كلمتكم بالحق، وابراهيم كان مطيعاً لكلام الله، وأنتم تعصون الكلام الذى أخبرتكم أننى سمعته من الله .</p>
<p>وبالإجمال، فإن ابراهيم قَبِلَ الرسل الذين أرسلهم اليه الله واستضافهم وأطاع كلمتهم، أما أنتم فإنكم ترفضون: &#8220;الَّذِي قَدَّسَهُ الآبُ وَأَرْسَلَهُ إِلَى الْعَالَمِ&#8221; (يو١٠: ٣٦). فالأعمال التى تعملونها أنتم لم يعملها ابراهيم. إذاً، بنوتكم لابراهيم لا تفيدكم شيئاً .</p>
<p>وهنا أحس اليهود أنهم قد بلعوا الطُعم الذى ألقاه لهم وأنه تفوق عليهم فى هذه الجولة. لذلك تركوا تمسُّكهم ببنوتهم لابراهيم ونادوا بأنهم ليس لهم أب إلا الله: &#8220;لَنَا أَبٌ وَاحِدٌ وَهُوَ اللهُ&#8221; (٨: ٤١)، مستندين إلى نبوة إشعياء النبي: &#8220;فَإِنَّكَ أَنْتَ أَبُونَا وَإِنْ لَمْ يَعْرِفْنَا إِبْرَاهِيمُ، وَإِنْ لَمْ يَدْرِنَا إِسْرَائِيلُ أَنْتَ يَا رَبُّ أَبُونَا، وَلِيُّنَا مُنْذُ الأَبَدِ اسْمُكَ&#8221; (إش ٦٣: ١٦).</p>
<p>وهنا اعترض الرب يسوع بشدة على ادِّعائهم البنوة لله. فالبنوة لله أيضا لها واجبات ومتطلبات كثيرة. وربما كان الرب يسوع أيضاً يشير إلى نبوة إشعياء النبي: &#8220;رَبَّيْتُ بَنِينَ وَنَشَّأْتُهُمْ، أَمَّا هُمْ فَعَصَوْا عَلَيَّ&#8230; وَيْلٌ لِلأُمَّةِ الْخَاطِئَةِ، الشَّعْبِ الثَّقِيلِ الإِثْمِ، نَسْلِ فَاعِلِي الشَّرِّ، (وليسوا أولاد الله)، أَوْلاَدِ مُفْسِدِينَ&#8221; (إش١: 2، ٤). فحسب ما يراه الرب يسوع أمامه، فأولئك ليسوا أولاد الله، بل لهم أب آخر هو ابليس: &#8220;أَنْتُمْ مِنْ أَبٍ هُوَ إِبْلِيسُ، وَشَهَوَاتِ أَبِيكُمْ تُرِيدُونَ أَنْ تَعْمَلُوا ذَاكَ كَانَ قَتَّالاً لِلنَّاسِ مِنَ الْبَدْءِ، وَلَمْ يَثْبُتْ فِي الْحَقِّ لأَنَّهُ لَيْسَ فِيهِ حَق مَتَى تَكَلَّمَ بِالْكَذِبِ فَإِنَّمَا يَتَكَلَّمُ مِمَّا لَهُ، لأَنَّهُ كَذَّابٌ وَأَبُو الْكَذَّابِ&#8221; (يو ٨: ٤٤). وفى هذا الهجوم أيضا كان الرب يسوع يشير إلى نبوة إشعياء النبي: &#8220;أَنْتُمْ أَوْلاَدُ الْمَعْصِيَةِ، نَسْلُ الْكَذِبِ&#8221; (إش ٥٧: ٤) .</p>
<p>لقد أراد الرب يسوع أن يؤكد أن مجرد الانتساب الجسدي لابراهيم لن يجدي نفعاً ما دام الانسان لا يسير فى إثر خطوات ابراهيم: &#8220;إِنَّ كَثِيرِينَ سَيَأْتُونَ مِنَ الْمَشَارِقِ وَالْمَغَارِب وَيَتَّكِئُونَ مَعَ إِبْرَاهِيمَ وَإِسْحَاقَ وَيَعْقُوبَ فِي مَلَكُوتِ السَّمَاوَاتِ، وَأَمَّا بَنُو الْمَلَكُوتِ فَيُطْرَحُونَ إِلَى الظُّلْمَةِ الْخَارِجِيَّةِ&#8221; (مت ٨: ١١، ١٢). حتى الانتساب لله إن لم يحفظ الإنسان متطلباته، فالله نفسه سينكر هذا الانتساب: &#8220;إِنِّي لَمْ أَعْرِفْكُمْ قَطُّ اذْهَبُوا عَنِّي يَا فَاعِلِي الإِثْم&#8221; (مت٧: ٢٣). أما اذا صنع الإنسان مشيئة الله، فإنه لا يصير فقط إبناً له، بل يدعوه المسيح: &#8220;أَخِي وَأُخْتِي وَأُمِّي&#8221; (مت١٢: ٥٠)  .</p>
<h4>سمات الحق الذي يحرِّر - للمتنيح القمص إشعياء ميخائيل<a href="#_ftn7" name="_ftnref7">[7]</a></h4>
<p>في حياة يوحنا المعمدان نرى خطاً فاصلاً بين الشجاعة والخوف، بين الحديث والصمت، بين الوضوح والغموض، بين القلب المملوء بالحماس لإرضاء الله وبين القلب الذى يعرج بين الفرقتين كما قال إيليا النبي.</p>
<p>إنه خط فاصل.. خط فاصل يفصل كلمة الحق بالاستقامة، ومهما كان الثمن، ومهما كانت النتيجة، فإن إرضاء الله يريح الضمير، ويريح القلب بينما أرضاء الناس أو إرضاء الذات يجعل الإنسان في حيرة تقود إلى تسكين الضمير بصورة أو بأخرى :</p>
<p><strong>بين الكلام والصمت</strong><strong> :</strong></p>
<p>هكذا يقول سفر الجامعة: &#8220;للسكوت وقت وللتكلم وقت&#8221; (جا ٣: ٧) وكان على يوحنا المعمدان أن يتكلم لأنه كان نبياً ومن ضمن أعمال الأنبياء توجيه الشعب للسلوك الحسن. ولا شك أن هيرودس الملك يعتبر من ضمن الشعب الذى يجب أن يواجه .</p>
<p>وكانت رسالة يوحنا المعمدان كما حددها الملاك لزكريا الكاهن أنه &#8220;يرد كثيرين من بنى إسرائيل إلى الرب إلههم&#8221; (لو١: ١٦)، وذلك كله بهدف أن &#8220;يهيء للرب شعباً مستعداً&#8221; (لو١: ١٨) .</p>
<p>وهكذا كانت رسالة يوحنا المعمدان تتلخص في دعوته للتوبة &#8220;توبوا لأنه قد أقترب ملكوت السموات&#8221; (مت ٣: ٢) لذلك كان على يوحنا المعمدان أن يتكلم ولا يسكت، وأن يتكلم الكلام الصحيح، ومن أجل هذا قال الرسول بولس لتلميذه تيموثاوس: &#8220;أكرز بالكلمة. أعكف على ذلك في وقت مناسب وغير مناسب. وبخ، انتهر، عظ بكل أناة وتعليم&#8221;  (٢تى ٤: ٢).</p>
<p>وكلام الخادم والكارز والتلميذ والرسول والنبي يكون مسنوداً بقوة كلمة الله حسب قول الرسول بولس &#8220;وأما أنت فتكلم مما يليق بالتعليم الصحيح&#8221; (تي 2: 1).. إذاً هناك كلام يليق بالتعليم الصحيح وكلام لا يليق.. وإذا تكلم يوحنا المعمدان فيجب أن يكون كلامه لائقاً بالتعليم الصحيح .</p>
<p>والتعليم الصحيح هو أنه لا يجوز للشخص أن يأخذ امرأة أخيه بعد وفاته إلا لو كان بلا نسل لأن المقصود أن يقيم نسلاً لأخيه الميت، أما إذا أخذ إنسان امرأة أخيه في حياة أخيه أو بعد وفاته ولم يكن غرضه أن يقيم نسلاً لأخيه لأن له نسلاً مثل حالة هيرودس فإنه ينطبق عليه حكم الله وعقوبته &#8220;إذاً أخذ رجل امرأة أخيه فذلك نجاسة قد كشف عورة أخيه. يكونان عقيمين&#8221; (لا٢٠: ٢١) حكم الله هو هكذا.. &#8220;عورة امرأة أخيك لا تكشف أنها عورة أخيك&#8221; (لا ١٨: ١٦).</p>
<p>أما استثناء هذه القاعدة فقد ورد في سفر التثنية هكذا: &#8220;إذا سكن أخوة معاً ومات واحد منهم وليس له ابن فلا تصر امرأة الميت إلى خارج لرجل اجنبي. أخو زوجها يدخل عليها ويتخذها لنفسه زوجة، ويقوم لها بواجب أخى الزوج. والبكر الذى تلده يقوم باسم أخيه الميت لئلا يمحى اسمه من إسرائيل&#8221; (تث٢: ٥، ٦).</p>
<p>فكان لزاماً على المعمدان أن يتحدث لكي يعلم التعليم الصحيح ويصحح السلوك الخاطئ، ولذلك قال يوحنا المعمدان للملك هيرودس &#8220;لا يحل أن تكون لك امرأة أخيك&#8221; (مر٦: ١٨) .</p>
<p>هنا نجد قوة الكلمة تفرض سلطانها وتستمد كيانها من الله نفسه، ولم يقلها المعمدان مرة واحدة وكفى، بل كررها كثيراً حسبما يقول الكتاب المقدس &#8220;وإذ سمعه (هيرودس) فعل كثيراً وسمعه بسرور&#8221; (مر٦: ٢٠) .</p>
<p>نعم إن كلمة الحق يجب أن تقال، وأن تصل إلى السامعين وإلا فسوف ندان ونحرم من الحق نفسه الذى هو ربنا يسوع المسيح، ولكن لكى نقول كلمة الحق ولا نسكت نحتاج إلى الشجاعة والجرأة وعدم الخوف.</p>
<p><strong>بين الشجاعة والخوف</strong><strong> :</strong></p>
<p>كان يوحنا المعمدان ممتلئاً من الروح القدس وهو بعد في بطن أمه (لو١: ١٥)، والروح القدس دائماً يهب شجاعة وخاصة عند الوقوف أمام الملوك والولاة للشهادة.</p>
<p>وفى هذا يقول الرب يسوع المسيح: &#8220;وتوقفون أمام ولاة وملوك من أجلي شهادة لهم&#8230; لستم أنتم المتكلمون بل الروح القدس&#8221; (مر١٣: 9- 11).</p>
<p>إن الروح القدس إن طلبناه فهو يعطينا شجاعة النطق بكلمة الحق، وشجاعة الوقوف أمام الملوك والولاة وأصحاب الرتب بلا خوف.. لأن الخوف يطرح الإنسان بعيداً عن الملكوت &#8220;وأما الخائفون غير المؤمنين والرجسون والقاتلون والزناة والسحرة وعبدة الأوثان وجميع الكذبة فنصيبهم في البحيرة المتقدة بنار وكبريت الذى هو الموت الثاني&#8221; (رؤ٢١: ٨) .</p>
<p>وهل يعقل أن يأتي الخائفون على رأس القائمة قبل غير المؤمنين وعبدة الأوثان والزناة والقتلة رغم أن هؤلاء الخائفين من بين المؤمنين .</p>
<p>وهنا نرى المعمدان شجاعًا بلا خوف لأنه كان ينظر إلى الملكوت والملكوت فقط .</p>
<p><strong>بين الملكوت الدائم وكل ما هو زائل</strong><strong> :</strong></p>
<p>الملكوت هدف نسعى إليه، ونكرز به، ويسود على كل حياتنا وسلوكنا.. لذلك يجب أن نتذكر يوحنا المعمدان وكرازته &#8220;توبوا لأنه قد أقترب ملكوت السموات&#8221; (مت٣: 2).</p>
<p>وكانت خدمة المعمدان أن يعد طريق الرب وأن يصنع سبله مستقيمة (مت٣: ٣) ولذلك كان يقول للشعب &#8220;اصنعوا أثماراً تليق بالتوبة.. والآن قد وضعت الفأس على أصل الشجرة. فكل شجرة لا تصنع ثمراً جيداً تقطع وتلقى في النار&#8221; (مت ٣: ٨، 10).</p>
<p>إن الكرازة بالتوبة هي الوسيلة لعدم الحرمان من الملكوت، ولكن يجب ألا يغيب عن بالنا قط الملكوت حتى لا نحرم نحن منه لأن كثيرين قد ضاع منهم الملكوت بسبب مجد العالم الحاضر .</p>
<p>يهوذا باع الرب بثلاثين من الفضة فطرح وفقد رسوليته ورتبته .</p>
<p>&#8220;ديماس قد تركنى إذ أحب العالم الحاضر&#8221; (2تي ٤: ١٠).</p>
<p>&#8220;لأن كثيرين يسيرون ممن كنت أذكرهم لكم مراراً، والآن أذكرهم أيضاً باكياً وهم أعداء صليب المسيح، الذين نهايتهم الهلاك، الذين إلههم بطنهم ومجدهم في خزيهم، الذين يفتكرون في الأرضيات&#8221; (في ٣: ١٨، ١٩).</p>
<p>لقد كان يوحنا المعمدان شاهداً عيانًا للملكوت لأنه رأى وقت عماد الرب يسوع السماء مفتوحة وصوت الآب يعلن: &#8220;هذا هو ابني الحبيب&#8221; والروح القدس مستقر على رأس الرب (لو٣: ٢١، ٢٢).</p>
<p>وهكذا يجب أن نعاين السماء المفتوحة، وأن يكون لنا شركة مع الثالوث القدوس حتى يمكننا أن نشهد للحق ونعلن الملكوت!!!</p>
<p>وعندما نحتقر الأمور الأرضية الزائله فنحن نعلن مسيرتنا نحو الملكوت وشهادتنا للحق من أجل الملكوت، ويجب أن تكون شهادتنا هذه واضحة لا تحتمل الغموض ولا اللبس ولا الالتواء والخبث .</p>
<p><strong>بين الوضوح والغموض</strong><strong> :</strong></p>
<p>إن الوضوح ليس فقط وضوح الهدف وهو إرضاء الله، ولكن الوضوح يجب أن يكون شاملاً لنواحى عديدة، فهو يجب أن يحتوي على وضوح الوسيلة، ووضوح الإجابة التي نجيب بها على أسئلة الرعية إجابة لا تحتمل الغموض، ولا تحتمل أكثر من معنى ولا تحتمل التعارض .</p>
<ul>
<li>&#8220;رجل ذو رأيين هو متقلقل في جميع طرقه&#8221; (يع ١: ٨).</li>
<li>&#8220;وحقلك لا تزرع صنفين ولا يكن عليك ثوب مصنف من صنفين&#8221; (لا١٩: ١٩).</li>
</ul>
<p>لذلك يجب أن يكون كلامنا وإجابتنا واضحة لا لبس ولا غموض فيها ولا التواء ولا خبث ولا دهاء &#8220;فاطرحوا كل خبث وكل مكر والرياء والحسد وكل مذمة&#8221; (١بط ٢: ١) .</p>
<p>إن البعض من الخدام والقادة أحياناً يكونون غير واضحين في مسلكهم.. غير واضحين في تدبيرهم، أو غير واضحين في مواجهة المشاكل التي تعترض حياتهم.. وهذا الغموض يجعل كل واحد يفسره حسب هواه، لأنهم يخافون أن تمسك عليهم كلمة أو رأي!!</p>
<p><strong>بين الثبات والتأرجح</strong><strong> :</strong></p>
<p>لقد كان المعمدان ثابتاً في رأيه، وثابتاً في مواجهة هيرودس وخطأه الذي كان يجب مواجهته حتى يصير عند الباقين خوف، ولم يقبل المعمدان التأرجح الذي يعني عدم الثبات، وأن الإنسان يتأرجح مع المواقف ويغير إرشاده حسب الذى يرشده.</p>
<p>ولذلك قال إيليا النبي &#8220;حتى متى تعرجون بين الفرقتين؟ إن كان الرب هو الله فاتبعوه، وإن كان البعل فاتبعوه&#8221; (١مل ١٨: ٢١)  .</p>
<p>إن تأرجح الخادم أو القائد يخلق جيلاً هزيلاً لا يقوى على مواجهة العواصف ولذلك يقول الرسول بولس: &#8220;إذاً يا أخوتي الأحباء، كونوا راسخين غير متزعزعين مكثرين في عمل الرب كل حين عالمين أن تعبكم ليس باطلاً في الرب&#8221; (١كو ١٥: 58).</p>
<p><strong>بين الحق والتبجح:</strong></p>
<p>احياناً يسقط الخادم أو المسئول في خطية التبجح حين يختلط عليه الأمر في مواجهة القضايا الرعوية، ويسقط في خطية الشتيمة، وينسى أن الشتامين لا يرثون ملكوت الله (١كو٦: ١٠). أو يسقط في خطية الغضب والعصبية والصوت العالي واستخدام الألفاظ الجارحة، وينسى أن غضب الإنسان لا يصنع بر الله (يع١: ٢٠).</p>
<p>ولذلك فنحن هنا نقول أننا يجب أن نتمسك بالحق، ونعلنه وندافع عنه.. ولكن في أدب ولباقة واحترام ودون استخدام الأسلوب الجارح، وصدق الرب يسوع حين قال: &#8220;إن أخطأ إليك أخوك فأذهب وعاتبه بينك وبينه وحدكما&#8230;&#8221; (مت ١٨: ١٥).</p>
<p>وأغلب الظن أن المعمدان ذهب إلى هيرودس وكلمه على انفراد دون تبجح أو سباب أو عدم احترام!!.. إن المهم أن يصل رأينا ودفاعنا وتمسكنا بالحق بأسلوب هادئ خال من التبجح وعدم الاحترام.</p>
<p><strong>ب</strong><strong>ين العدل والمحاباة:</strong></p>
<p>يقول القديس يعقوب الرسول: &#8220;يا أخوتى لا يكن لكم إيمان ربنا يسوع المسيح، رب المجد، في المحاباة&#8221; (يع٢: ١).. إن المحاباة تقود إلى التعصب والتحزب والغيرة &#8220;وحيث الغيرة والتحزب هناك التشويش وكل أمر ردئ&#8221; (يع٣: ١٦).</p>
<p>إن المحاباة من الخادم أو القائد تخلق في المخدومين نوعاً من فقدان الثقة وعدم الامتثال للخادم لأنه فقد مصداقيته.</p>
<p>قد تكون المحاباة للأغنياء، وقد تكون للأقوياء، وقد تكون لأصحاب المراكز والسلطات.. ولكن المحاباة تطرحنا بعيداً عن الشهادة للحق وتجعلنا غير عادلين في أحكامنا!!!</p>
<p>إن يوحنا المعمدان لم يحابي هيرودس الملك ليغير حكم الله أو يعطي فتوى من عندياته أوتفسير خاصاً لإرضاء هيرودس وتسكينه على الشر الذى فعله وموافقته على أخذه امرأة أخيه (حال حياة أخيه كما يقول البعض أو لعدم توافر الشرط وهو عدم وجود نسل للأخ الميت) ولكن المعمدان وقف دون محاباة ودون النظر إلى من يتصرف معه وقال له لا يحل أن تأخذ امرأة أخيك (مر٦: ١٨).</p>
<p>إن المحاباة تجعلنا نكسب بعض الناس، ولكننا نخسر البعض الآخر والأكثر من هذا نخسر الحق والانتماء إلى الحق الذى هو ربنا يسوع المسيح!!..</p>
<p><strong>بين التمسك والعناد</strong><strong>:</strong></p>
<p>إن التمسك هو تمسك بمبدأ كتابى أو بعقيدة إيمانية.. مثل تمسك المعمدان بوصية الكتاب أو تمسك أثناسيوس وكيرلس وديسقورس بعقيدة الأرثوذكسية وإيمانها.</p>
<p>ولذلك يقول سفر الرؤيا: &#8220;الذى عندكم (وصايا الكتاب المقدس وعقيدة الكنيسة) تمسكوا به إلى أن أجئ&#8221; (رؤ٢: ٢٥). نعم لقد تمسك القديسون بما عندهم من وصايا الإنجيل وعقيدة الكنيسة، وبذلوا حياتهم من أجل ذلك، وقدموا دماءهم تمسكاً بالإنجيل والكنيسة والعقيدة..</p>
<p>أما العناد فهو تشبث برأي خاص، وليس بوصية الكتاب، وهو تمسك محوره الذات ولفائدة الذات، ولذلك يقول الكتاب المقدس عن العناد أنه &#8220;كالوثن والترافيم&#8221; (١صم ١٥: ٢٣). ولذلك يجب أن يحذر الخادم لئلاً يكون ساقطاً في خطية العناد والتشبث بالرأى ويصير عابد وثن (الذات) وهو يظن أنه يدافع عن الحق!!..</p>
<p>لم يكن المعمدان عنيداً ولكنه تمسك بالوصية.</p>
<p>ولم يكن الشهداء عنيدين بل كانوا متمسكين بمن أحبوه حتى الموت.</p>
<p>إن العناد هو دفاع عن الذات، بينما التمسك بالحق هو استعداد لبذل الذات حتى الموت، واحتمال ما قبل الموت من حبس واضطهاد وتعذيب .</p>
<p><strong>ضرورة الإرشاد</strong><strong>:</strong></p>
<p>وإن كان الأمر هكذا، وإن كان هناك خوف أن يسقط الإنسان باسم الحق في العناد والمحاباة والتبجح والتأرجح والغموض والخوف والانزلاق إلى ما هو زائل، لذلك يجب على الإنسان أن يتجه إلى طلب المشورة، لأنه توجد طرق تظهر للإنسان وكأنها للخير ولكن عاقبتها الموت، وأخشى أن يظن أننا نتمسك بالحق، ونسلك طريق الحق.. بينما نحن سائرون في طريق الموت.</p>
<p>لذلك يلزم طلب المشورة ويلزم الاتضاع والصلاة ليكشف الرب لنا ويرشدنا إلى طريق الحق وطريق الكمال.. من يطلب المشورة يستحيل أن يتخلى الله عنه.. إن المشورة هي طلب النور وسط ظلمة الغموض وهى التأكد من صحة الطريق الذى نسلك فيه، والكنيسة تصلى من أجل المرشدين قائلة: &#8220;أعط&#8221; بهاء للإكليروس، نسكاً للرهبان.. الرعاة اضبطهم، والذين يرعونهم ثبتهم.</p>
<h4>إن حرركم الإبن - لأبونا بيشوي كامل<a href="#_ftn8" name="_ftnref8">[8]</a></h4>
<p>بسم الآب والأبن والروح القدس الإله الواحد آمين</p>
<p>إنجيل العشية في هذه الليلة من إنجيل معلمنا يوحنا الأصحاح الثامن، ويوم الجمعة كان القُدَّاس برضه من إنجيل معلمنا يوحنا الأصحاح الثامن، وبكرة إنجيل القُدَّاس باكر الأحد برضه من يوحنا الثامن، يعني يوم الجمعة إمبارح، والليلة، وبكرة الصبح من يوحنا الثامن، يعني لو أنت قرأت يوحنا الثامن تبقي عرفت إيه اللي اتقرى إمبارح والنهاردة وبكرة الصبح، وبعدين الإنجيل بتاع قُدَّاس بكرة من يوحنا ٤ عن المرأة السامرية..</p>
<p>فالمرأة السامرية زي ما ها نشوف بكرة إنها إنسانة زي أي واحد في العالم.. زي أي إنسان في العالم.. اتزحلقت رجليها في طريق الشر، دايماً طريق الشر يزحلق، لأن عدو الخير الشيطان مش أهبل ولا عبيط يعرض كل الفخ بتاعه مرة واحدة. لكن دايماً يمشي خطوة خطوة لغاية لما يجرجر البني آدم، ويوقعه في بير ما يعرفش يطلع منه، والحقيقة ده مش موضوعنا الليلة إننا نتكلم عن السامرية، لكن حقيقة إن حكاية البير ده اللي كانت رايحة تملأ منه المية وربنا يسوع واقف عنده.. بيعبر عن أو بيوصف الحالة.. هي كانت واقعة في البير ده مش عارفة تطلع ليه؟.. متجوزة خمسة واللي معاها مش جوزها، ما أعتقدش الست دي ابتدأت بالبداية دي، لكن بأقول لك الشيطان بيزحلق الإنسان سلمة سلمة لغاية لما يوصل لدرجة يبقي الرجوع فيها مستحيل في ذهني، ومش بنتكلم عن المرأة السامرية كانت وحشة، بالعكس دي قديسة، إحنا بنعتبرها قديسة اللي عرفت تطلع من البير ده .</p>
<p>نتكلم عن بطرس.. بطرس برضه اتزحلق شوية شوية.. قال له لو أنكرك الكل ما أنكركش.. وبعدين دخل يتفرج يشوف النهاية إيه.. وقف يتكلم مع الخدامين.. وبعدين دخل يتكلم في مواضيع مالوش دعوة بها، والمسيح وصّاه وقال له الليلة دي تسهروا وتصلوا.. راح هو يتكلم مع الجارية وبتاع.. ودخل في حاجات مالوش دعوة بيها، وبعدين دخل في مطب، شافه الراجل قريب العبد رئيس الكهنة اللي كان قطع ودنه، قال له إنت كنت معاهم، إنت اللي عملت العملة دي.. الجارية قالت أيوة إنت شكلك كدة، إحتاس بطرس.. أنكر وسب ولعن وحس أنه لا رجعة.. ها يطلع إزاي من المطب ده؟ ما هو لو قال آه أنا يقطعوا رقبته، فيسوع بسرعة نظر له نظرة كدة على رأي الكتاب المقدس كمن له سلطان.</p>
<p>إحنا بنتكلم عن يسوع وعن لطفه وحلاوته ونظراته اللطيفة، لكن ده صاحب سلطان مش بس لطيف ونظراته لطيفة وحانية.. لا لما يتكلم يأمر.. ولما ينظر ينفذ اللي يقوله.. فخرج بطرس وطلع من الفخ، على رأي النبي &#8220;الفخ انكسر ونحن نجونا&#8221;. ولا حصل حاجة ولا بتاع.</p>
<p>فإذا المرأة (السامرية) في الواقع وقعت في فخ ابتدأت واحدة واحدة لغاية لما لقيت الرجوع مش ممكن، ومين يقدر يتفاهم مع المرأة.. دي مشاكلها في منتهي التعقيد، والمهم اتقابلت مع يسوع وطبعاً الإنسان أصله فيه طبيعة وحشة يبرر نفسه، متكبر، وقعدت تتكلم مع المسيح في مواضيع هي أبعد ما تكون عنها، قالت له أنتم بتسجدوا في أورشليم، وعملت إن هي يعني أستاذة في اللاهوت، وطبعاً تبقى أستاذة في اللاهوت علشان تخبي اللي هي فيه، وبعدين بص لها يسوع كدة، وقال لها يا ستي أنا حاسس أنك تعبانة.. تعبانة خالص، وأنا جاي علشان أريح الناس التعبانين.. أنا حاسس إن أنت مربطة وأنا جاي أفك الرباطات بتاعتك دي، قالت له أنا ما أقدرش أطلع من المأزق اللي أنا فيه، قال أنا ها أطلعك.. بكلمة واحدة من عندي ها تطلعي، وإداها قوة (ده مش موضوعنا الليلة).. لكن أنا بأقول قراءات الكنيسة الليلة وإمبارح من إنجيل يوحنا الأصحاح الثامن، لأنه بيتكلم عن الحرية<strong>.</strong></p>
<p>إمبارح كنّا بنقول إن الحرية في المسيحية لها مفهوم تاني خالص.. غير اللي بيتكلموا عليها في الجرائد.. لا هي حرية سياسية.. ولا حرية المعتقلين السياسيين طلعوا من السجون.. لا.. لا.. لا.. ده إحنا عندنا ناس القيود في رجليهم، وكانوا في منتهي الحرية.. والحرية في المسيحية مرتبطة بالسعادة، إيه يعني لو إنت جبت إنسان حر وحطيته في قصر ومن جوه هو مستعبد، يبقي عبد.. فالمسيح قال إيه؟: إن اللي يعمل خطية هو عبد للخطية، وقال إن حرركم الإبن بالحقيقة تكونون أحرار..</p>
<p>أنا عاوز أقول إن الكنيسة بتاعتنا في فترة الخماسين اختارت لنا موضوع حلو: <strong>القيامة يعني الحرية..</strong> لأن الإنسان اللي قام من الأموات يبقي حر.. فإذا أنت دلوقت اختبرت الحرية يبقي قمت مع المسيح.. علشان وإنت بتشترك في الكنيسة وتقول إخريستوس آنيستي المسيح قام، مش المسيح قام زمان.. لأ.. المسيح قام فيّ أنا، وأنا حر.. والحرية دي بأحسها لأنها هي ممزوجة بالسعادة، بتشبع نفسي وعلى رأي الحكيم لما يقول: &#8220;إن الإنسان حاكم نفسه أفضل من حاكم مدينة&#8221;.</p>
<p>فالمهم إن ربنا في نقاشه الطويل في يوحنا ٨ قال لهم أنا هو نور العالم وإنتم ظلمة.. ويوحنا ابتدأ إنجيله بالكلام ده، النور جاء إلي العالم والظلمة لم تدركه.. شفت الحرية بتاعة المسيح تنور القلب.. فيه مقارنة لطيفة كدة الظُّلمة دي.. الظُّلمة دي.. قال دي ضد النور، زي ما هو ضد القيامة، أوحش صورة للظلمة تشوفها في القبر.. مقفول ما فيهوش ثقب واحد، مظلم، ريحة وحشة منتنة، فلما يطلع واحد من القبر زي لعازر قالوا له بعد أربعة أيام قد أنتن.. قال لهم معلش أنا هو القيامة.. قالوا له ده مربط.. مربطين إيديه، ومربطين رجليه، الميت كمان يربطوا بقه.. ده ما بيتحركش خالص.. قال لهم أنا أقول له قوم يقوم.. فيقوم ويطلع.. وأقدمه للكنيسة وأقول لهم حلوّه.. فالكنيسة تقرأ له الحل فيتحل من الرباطات بتاعته .</p>
<p>الانسان في الواقع يا إما يكون في قلبه فيه نور.. نور القيامة، يا إما يكون في قلبه ظلمة القبر، ويوحنا الحبيب بيقول إن اللي بيبغض أخاه هو اللي في الظُّلمة يسلك، فيه ظلمة تبص يا عيني تلاقي الإنسان بياكُل في نفسه وحاجات كثيرة شايل همها ومتضايق.. وبعدين تقول الإنسان ده يا عيني عامل في نفسه كدة ليه؟.. وبعدين من كثر الحقد والغيظ والضغينة والشر تبص تلاقي الإنسان ده حتى الأمراض تحل عليه ويتعب وحالته.. ليه كل ده؟.. أصل فيه ظلمة جوة القبر.. لو جه نور المسيح ونورها يبقى فيه حرية.. يبقى فيه محبة و فرح وسلام..</p>
<p>وبإختصار المسيح قال الإنسان اللي يعمل الخطية هو عبد للخطيَّة.. وهو مربوط.. فالرباط ده أحياناً يكون زي الرباط اللي كان رابط المرأة السامرية.. مرّبطها خالص!.. مشيت في الطريق ده، وافتكرت إنها لما تشرب من المية دي تقدر تشبع.. أتاريها كلما تشرب أكثر تتربط أكثر.. وبعدين تسألها وتقول لها: إنت يا إمرأة تستطيعي أن تستغني عن المية اللي بتشربي منها؟.. تقول لك يستحيل.. ده أنا عايزة أكثر.. لولا لحقها المسيح وقال لها تعالي أفك الرباطات بتاعتك دي.. فكي.. فكي الرباطات دي لأن هي رباطات كاذبة، وأنا أديكِ المية اللي يشرب منها ما يعطش إلى الأبد.. ابتدأت تعيش تتنسم نسيم الحرية في المسيح يسوع.</p>
<p>أحنا ربنا جه علشان يوهبنا حرية داخلية يحس بيها المسيحي في حياته، ومن مميزات الحرية دي الفرح.. الإنسان يبقى سعيد وفرحان ويفك ربنا الرباطات اللي هي ربطت القلب.. أهو ده نصيبنا في القيامة بتاعة المسيح إن إحنا نعيش أحرار.. إحنا مدعوين للحرية، وبينبهنا معلمنا بولس الرسول ويقول اثبتوا في الحرية اللي حرركم المسيح بيها.. ما تكونش تحت نير مع غير المؤمنين.. خليكم أحرار كدة.. أحرار يعني إيه؟.. قال ما تخليش القلب بتاعك يقع تحت عبودية حاجة أبداً.. واحد واقع تحت عبودية الغيظ والحقد والضغينة والظلم.. واحد واقع قلبه تحت عبودية شهوة الجسد.. واحد واقع قلبه تحت عبودية شهوة المال.. واحد واقع قلبه تحت عبودية حب اللبس والمظاهر.. كل دي حاجات بنمر بيها الأيام دي، وبنعيشها وبنشوف العالم بيسقط بيها.</p>
<p>وصدقني كل هؤلاء ليسوا أحرار، على رأي أغسطينوس يقول تشبيه جميل جداً.. بيقول واحد بيقول لك أنا بأملك الحاجة الفلانية دية، مثلاً بيملك عزبة بحالها ولا برج كبير خالص، فبيقول أبداً ده هو مش بيملكها، ده هي اللي بتملكه.. ليه؟.. لأن هو قاعد نايم على سريره مش بيتمتع بالنوم زي بقية الناس.. فكره عمال مربوط بالمشاكل ها يعمل ويخلي ويسوي ويرتب ويخطط.. وده مضايقه في الموضوع ده.. وده مش راضي يجيب له الموضوع ده.. وده متعطل في الحاجات اللي بيعملها..</p>
<p>فأصبح الحاجة اللي الإنسان بيفتكر إنه يملكها أتاريها هي اللي بتملكه.. يبقى الإنسان عبد بعد ما كان سيد.. فالحقيقة العبودية: إن القلب يخضع للحاجة ويحاول يقتنيها.. أول لما يحاول يقتنيها يبقي عبد لها.. تربطه من رقبته.</p>
<p>لكن الإنسان الحر اللي عاوز يثبت في الحرية اللي حرره المسيح بيها هو الإنسان اللي يخلي القلب بتاعه للمسيح، يستعمل العالم ويحب أبوه وأمه وأخوته وامرأته وأولاده لكن لا يستعبد لشيء في هذا الوجود.. علشان كدة الكتاب يقول له كدة &#8220;يا ابني أعطني قلبك&#8221; فالإنسان الحر قلبه مستولي عليه ربنا.. لأنه يقول إيه: &#8220;حيث يكون كنزك هناك يكون قلبك&#8221;..</p>
<p>الوصايا دي مش المسيح قالها علشان قاعدين في الصحراء.. أو دخلوا الدير.. قالها علشان المسيحي العادي اللي عايش في العالم يستعمل العالم لكن ما يستعبدش في العالم..</p>
<p>والقديسين يشَبَّهوا المسيحي في العالم بمركب، المركب دي ما فيهاش ولا خرم وآهي ماشية في وسط البحر، لكن البحر ما يخشش جواها، ماشية في وسط البحر، والبحر شايلها وبتستخدم البحر، ولكن المركب دي مش ملك للبحر، هي اللي قاعد فيها هو اللي بيديرها وبيوجهها .</p>
<p>علشان كدة يا اعزائي نصيبنا النهاردة في القيامة زي ما بيعرضه الإنجيل إن إحنا نثبت في الحرية التي بها حررنا المسيح، ولا نرتبك بنير العبودية، ولا نشاكل هذا الدَّهر، ولا حاجة تكون مسيطرة على قلبنا إلا اللي حبنا ومات من أجلنا.</p>
<p>الحرية دي كلفت المسيح كثير.. كلفته صليبه وقيامته.. المسيح عارف إن أنا اللي مربوط، فأخذوه علي عمود كدة وربطوه علشان يجلدوه.. وده اللي الخطية بتعمله في الإنسان.. الشيطان يزحلق الإنسان كدة لغاية لما يجيبه.. ويجي رابطه.. لما يربطه ينزل عليه الشيطان ما عندوش رحمة على البني آدم أبداً لأنه هو عدو الخير، هو كذاب وأبو الكذاب وبيعرض لنا العالم بعرض.. يقول له: إن خررت وسجدت لي أعطيك كل ممالك الأرض.. كذاب.. يعرض الشيطان، وبعدين يربط.. ولما يربطنا بعدين يجلدنا..</p>
<p>فالمسيح رب المجد قال طيب أنا شايف البشرية كلها مربّطة، أنا أروح على العمود ده واتربط.. أنت يا ربي يسوع فيه قوة في الوجود تقدر تربطك؟!!.. أنت تتربط؟!!.. قال علشانك إنت.. علشان أفكك، أنا أتربط بدالك.. أتربط بدالك.. أنا أتجلد بدالك. الخطية عرتك.. عرت آدم، فأنا لازم أتصلب عريان. يقول لك فعرُّوه..</p>
<p>إنت تقدر تأخذ من مفاهيم الصليب حاجات كثيرة خالص بحيث إنك تقدر تحس إن كل حركة صغيرة حصلت للمسيح في أثناء صلبه إنما كانت من أجل تحريرنا.</p>
<p>هو اتعرى علشان يغطيني بنعمته.. أنا مربوط، هو اتربط بدالي علشان يفكني.. أنا عليَّ دين هو وفَّى الصك اللي كان علينا وسمره في الصليب.. أنا كنت عبد لأني بعت نفسي لإبليس بمزاجي، بحريتي، وهو باعوه بثلاثين من الفضة، ثلاثين من الفضة يعني ثلاثة وثلث جنيه، ده السعر العام أو العالمي للبيع اللي هو ثمن العبد.. لما تحب تشتري عبد تطلع ثلاثة جنيه وتلت تبقى دفعت تمن العبد.. أنا عبد.. هو اتباع بثمن العبد علشان يخليني سيد.. علشان كدة يقول معلمنا بطرس الرسول إن إحنا ما نستهينش بالسيادة.. منستهنش بالسيادة يعني إحنا بقينا أسياد..</p>
<p>فاللي يرجع يبيع نفسه تاني يبقي بيستهين بالسيادة اللي إداها له المسيح.. إحنا بقينا ملوك، أولاد ملك.. إحنا إترشمنا بالميرون اللي كان الملوك بيترشموا بزيت ما يطولوهوش.. إحنا بقينا أولاد الملك السَّماويّ، فاللي يستهين بالحرية دي يبقي إيه؟.. يبقي عبد.. والعبد لا يبقى في البيت.. يبقى استهان بالسيادة .</p>
<p><strong>الابن الضال</strong></p>
<p>من أروع الأمثلة اللذيذة جداً عن الحرية والعبودية، الابن الضال كان في بيت أبوه، كان بياكل وبيشرب مبسوط ٢٤ قيراط.. نقول له إزاي الأحوال، يقول لك البيت ده سجن، نقول له البيت سجن ما أنت بتاكل وبتشرب ومبسوط، يقول لك أبويا بيديني الفلوس مصروف، ومضيقين عليّ، أنا عبد في البيت مش واخد حريتي.. طب حريتك إيه؟.. قال أروح أسهر مع الناس.. ده الخدامين اللي بيشتغلوا عند أبويا بيمضوا لياليهم بره وبيسهروا للصبح، وبيعملوا كل حاجة.. وأنا محروم من الحاجات دي.. شفت أنا في سجن إزاي؟.. يا ابني ده أنت في نعمة.. كفاية إنك في بيت أبوك.. لا أنا في سجن..</p>
<p>كان الأب يقدر يقعده بالعافية.. قال له روح جرب الحرية الكاذبة.. ما هو العالم بيعرض الحرية كذب.. فراح هناك.. شوية كدة الشيطان زيّن له الدنيا فبقت حلوة لذيذة.. إتزحلق شوية شوية.. وصل في الأخر بقى يشتغل عبد عند راعي الخنازير، فيدوبك يديله لقمته ويذله، لقمة عيش ويذله.. قعد يتأمل.. ده أنا سبت مركز كبير ورجعت واستهنت بالسيادة..</p>
<p>رجع تاني لأبوه أخده بالحضن، ودخله البيت تاني.. وإداله لقمة، دبح له العجل المسمن.. كان زمان بياكل من العجل ده ويقول: أيه الأكل ده؟..  وبعدين يقعد يتذمر.. وبعدين بقى له الأكل لذيذ.. طعام الأحرار الحلوين.. بقى البيت بتاعه بيت الحرية.. وطب القيود اللي كانت فيه؟ واللي مازالت فيه؟ قال دي علامات المحبة.. زي الأم اللي بتمسك ابنها وخايفة إيده تقع في النار، فبتحوشها، والواد بيصرخ عايز يلعب في النار، أو يحط إيده في وسط ماكينة أو&#8230;. فأمه تشد إيده وتمسكها، والواد بيصرخ ومش فاهم، فاكر إن أمه بتربط إيديه.. ابتدأ يفهم بقى.. كبر فابتدأ يفهم إن القيود اللي كان أبوه بيمنعه منها دي علامات حبه.. فهو كان بيقول له ماتسهرش بره لأنه خايف عليه.. دي ماكانتش عبودية.</p>
<p>شوفوا أد إيه الشيطان خبيث، يقول لك آدي المسيحية وآدي وصاياها وآدي الإنجيل.. وآدي الحاجات الصعبة اللي فيها، كلها قيود في قيود في قيود، دي صعبة المسيحية.. أمال عايزين إيه؟.. عايزين حاجة سهلة.. عاوزين باب واسع.. لا يا حبيبي.. الباب الواسع نهايته هلاك أبدي، لكن الباب الضيق يؤدي للحياة الأبدية.. ده طريق الحرية.. عارف إيه بقى طريق الحرية؟ آهو واضح زي الشمس: من أراد أن يكون لي تلميذاً ويعيش حر ينكر نفسه.. يسيبه من نفسه.. ويحمل صليبه، ويمشي ورايا فرحان.. ويفهم كل حاجة في الصليب وحلاوتها ولذتها.. الصليب ده مش حاجة للعار وبس.. ده الصليب ده كله معمول علشاني.. ده الصليب ده هو المحبة اللي اتسكبت عليه.. ده لما حبني للمنتهي كسر ذاته، وصلب نفسه.. سكب نفسه زي ما بيقول الكتاب المقدس.</p>
<p>فالحرية مش ممكن تكون بره عن الصليب.. دي السكة بتاعتها.. عاوز يخش للحرية من الباب الواسع ده آخرته هلاك أبدي.. ده جهل زي الجهل بتاع الابن الضال، لكن لما فهم ورجع.. فهم إن العيشة في بيت أبوه هي دي الحرية، فده يوحنا ٨ حديثه عن الحرية .</p>
<p><strong>الحرية هي رجوع لحضن الآب</strong></p>
<p>الحرية هي الرجوع لحضن الآب من جديد.. الحرية هي العيشة في بيت ربنا.. الحرية هي حمل نير المسيح ووصيته.. &#8220;نيري هين وحملي خفيف&#8221;.</p>
<p>المسيح جه علشان يوهبنا حرية مش من بتاعة العالم الكذابة.. الحرية اللي توهب السعادة.. الحرية اللي ما تملكش حاجة على قلبنا إلا اللي حبنا ومات من أجلنا، هو ده اللي له أن يملك على قلبنا لأنه فدانا بدمه. الشخص الحر ما بيتغلبش أبداً.. شوفوا المسيح بيقول لنا إيه؟: ثقوا فيّ وفِي كلامي..&#8221;ثقوا أنا قد غلبت العالم&#8221;.</p>
<p>عارف العالم ده اللي عمّال يعمل لنا زي السينما حاجات كل يوم عروض جديدة.. العالم ده كله أنا غلبته.. مافيش حاجة جديدة في العالم.. شهوة الجسد، وشهوة العيون وتعظم المعيشة.. من أيام آدم ما حصلش حاجة، كلها بس ألوان جديدة.. لكن ثقوا أنا قد غلبت العالم.. وأنا لما أطلع على الصليب وأنا إن ارتفعت إلى فوق.. وإرتفعت على الصليب، أجذب إليّ الجميع، وها يعيشوا الناس يعشقوا الصليب بتاعي ويشيلوه وهم فرحانين، ومش هأحكي لك على قد إيه الشهداء، عارف التراتيل الفرايحي الجميلة في الكنيسة دي كانوا يرتلوها وهم رايحين إيه الإستشهاد.. فرحانين.. أصلهم داسوا علي العالم، مافيش حاجة غالباهم.. بيقول معلمنا بولس الرسول: &#8220;الذين هم للمسيح صلبوا العالم&#8221;.. مافيش حاجة غالباهم.. قد &#8220;صلبوا الجسد مع الأهواء والشهوات&#8221;.. ومرة ثانية بيقول &#8220;حاشا لي أن أفتخر إلا بصليب ربنا يسوع المسيح الذي به قد صلب العالم لي وأنا للعالم&#8221;.</p>
<p><strong>الحرية هي القيامة</strong></p>
<p>القيامة بقى هي البهجة.. قيامة الإنسان هي الحرية.. فالحرية هي نصيب النفوس اللي دخلت من الباب الضيق وشالت الصليب.. فإذا كان الصليب هو الطريق للحرية، يبقي الحرية هي الثمرة للقيامة، يبقي ده هو نصيبنا النهاردة في قيامة المسيح.</p>
<p>من أجل هذا يا أحبائي.. الرسول بيقول اثبتوا في الحرية اللي حررنا المسيح بها.. فربنا يعطينا نعمة وبركة حتي نعيش في عمق هذه الإختبارات علشان نحس بالقيامة في حياتنا.. وبكرة نتكلم في المرأة السامرية كدة، واقراها وعيش فيها.. نشوف الانسانة الغلبانة دي إزاي اتحولت إلى قديسة ومبشرة وإنسانة حرة وتحررت من العبودية .</p>
<p>ربنا ببركة القيامة المقدَّسة يعيّشنا كلنا في ملء القيامة وملء الحرية ويمتعنا كلنا ببركة قيامته وحديثه.</p>
<p>لإلهنا المجد الدائم أبدياً آمين .</p>
<h3>المراجع</h3>
<p><a href="#_ftnref1" name="_ftn1">[1]</a>  كتاب نسكيات الأنبا أنطونيوس - صفحة ١٣٦ - مراجعة وتقديم نيافة أنبا متاؤس أسقف ورئيس دير السريان العامر.</p>
<p><a href="#_ftnref2" name="_ftn2">[2]</a>  كتاب علم الباترولوجي في الستة قرون الأولي - صفحة ٩٩ - القمص تادرس يعقوب ملطي.</p>
<p><a href="#_ftnref3" name="_ftn3">[3]</a> كتاب نقاوة القلب في المفهوم الكتابي والآبائي - صفحة 800 - إعداد أحد الآباء الرهبان بدير السيدة العذراء &#8220;برموس&#8221;.</p>
<p><a href="#_ftnref4" name="_ftn4">[4]</a> كتاب نقاوة القلب في المفهوم الكتابي والآبائي - صفحة 800 - إعداد أحد الآباء الرهبان بدير السيدة العذراء &#8220;برموس&#8221;.</p>
<p><a href="#_ftnref5" name="_ftn5">[5]</a>  كتاب المنجلية القبطية الأرثوذكسية - صفحة ٣٩٧ - البابا تواضروس الثاني.</p>
<p><a href="#_ftnref6" name="_ftn6">[6]</a>  كتاب مفاهيم إنجيلية - صفحة ١١٢ - المتنيح أنبا إبيفانيوس أسقف ورئيس دير القديس أنبا مقار.</p>
<p><a href="#_ftnref7" name="_ftn7">[7]</a>  كتاب الحق بين المعمدان وبلعام - صفحة ٨ - القمص إشعياء ميخائيل - كنيسة رئيس الملائكة ميخائيل بالظاهر.</p>
<p><a href="#_ftnref8" name="_ftn8">[8]</a>  كتاب عظات مضيئة معاشة صفحة ٣٦١ - إصدار مطرانية ملوي وأنصنا والأشمونين.</p>

      {% endcreateArticleAccordions %}
    </section>
  {% endblock %}
