---
layout: 'layouts/reading.html'
title: 'يوم السبت من الأسبوع الثالث للخمسين يوم المُقَدَّسَة'
tags: 'pentecost'
permalink: /articles/pentecost/3-6.html
---
  {% block content %}
    <section id="readings">
      <ul>
      {% if 'undefined' != 'undefined' %}
      
      {% else %}
      {% if '19.32:8' != 'null' %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">العشية</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeVespers '19.32:8' '40.15:29-31' %}
          </div>
        </div>
      </li>
      {% endif %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">باكر</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeMatins '19.107:1-2' '43.7:10-13' '' %}
          </div>
        </div>
      </li>
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <h3 class="flex items-center justify-between">
            <span class="kufi">القداس</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </h3>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeLitugy '48.3:5-11' '62.3:2-11' '44.5:12-20' '19.20:5-6' '43.6:47-56' %}
          </div>
        </div>
      </li>

      {% endif %}
        </ul>
    </section>
    <section id="article">
      <h3 class="mt-8 mb-4 heading-explain">شرح القراءات</h3>
      {% createArticleAccordions %}
        <h3>غنى خلاص ابن الله ومجد رؤيته</h3>
<h4>المزامير</h4>
<p>تبدأ المزامير بأن تُرينا:</p>
<ul>
<li>طريقه في الحياة اليومية (عشية).</li>
<li>وصلاحه ومراحمه في الضيق (باكر).</li>
<li>وإقتداراته وكمالاته فينا (القدَّاس).</li>
<li>لذلك يعلن الرب في<strong> مزمور عشية</strong> ← <strong>أنه هو مصدر الفهم والمعرفة وهو الذي يعلن لنا طريق الحياة</strong> &#8220;سأفهمك وأعلمك الطريق التي تسلك فيها وأنصحك وعيني عليك&#8221; (مز3١: 9).</li>
<li><strong>وهذا هو ما تكتشفه النفس في عشرتها مع الله، إذ يستعلن لها دائما صلاح الله ومراحمه الإلهية</strong>.. وهذا ما يوضحه <strong>مزمور باكر</strong> <strong>←</strong> &#8220;أعترف للرب فإنه صالح. وإلى الأبد رحمته. فليقل الذين نجوا من قبل الرب&#8221; (مز106: ١، 2).</li>
<li>وتختبر النفس في<strong> مزمور القداس ←</strong> <strong>يوما بعد يوم خلاص الله وتستعلن لها قدرته الإلهية</strong> &#8220;يكلل الرب جميع سؤالاتك الآن علمت أن الرب قد خلص مسيحه يستجيب له من سماء قدسه باقتدارات خلاص يمينه&#8221; (مز19: 7).</li>
</ul>
<p></p>
<h4>الأنجيل</h4>
<ul>
<li>وفي <strong>إنجيل عشية</strong> ← <strong>يستعلن مجد الله الآب للبشرية في خلاصها من الأمراض والأوجاع خلال إبنه يسوع المسيح الذي أستعلنت فيه مقاصد الآب في شفاء البشر من آلامهم </strong>&#8220;حتى تعجب الجموع إذ رأوا الخرس يتكلمون والعرج يمشون والعميان يبصرون والصم يسمعون ومجدوا إله اسرائيل&#8221;.</li>
<li>وفي <strong>انجيل باكر </strong>عن ← <strong>حرمان اليهود من رؤية إبن الله وحيرتهم نتيجة قساوة قلوبهم لذلك أخفى إبن الله نفسه عنهم</strong> &#8220;ولما صعد أخوته إلى العيد حينئذ صعد هو أيضا. لا ظاهرا بل كمستتر. وكان اليهود يطلبونه في العيد ويقولون أين ذاك&#8221;.</li>
</ul>
<p></p>
<h4>البولس</h4>
<p>وفي البولس عن ← <strong>المدخل الوحيد للشركة مع مصدر الاستعلان سواء في العهد القديم أو العهد الجديد وهو &#8220;الإيمان&#8221;</strong> &#8220;فالذي يمنحكم الروح ويعمل قوات فيكم أبأعمال الناموس أم بخبر الإيمان.. أما بأعمال الناموس فليس أحد يتبرر عند الله وهذا ظاهر مكشوف لأنه كتب وأن البار إنما يحيا بالإيمان&#8221;.</p>
<p></p>
<h4>الكاثوليكون</h4>
<p>وفي الكاثوليكون عن ← <strong>هدف إستعلان إبن الله وعمله في المؤمنين به</strong> &#8220;فأما الذي يعمل الخطية فإنه من الشيطان لأن الشيطان من البدء يخطئ. لذلك أستعلن يسوع إبن الله لينقض أعمال الشيطان &#8230;. كل من يثبت فيه لا يخطئ.. فبهذا يتبين أبناء الله من أبناء الشيطان&#8221;.</p>
<h3></h3>
<h4>الابركسيس</h4>
<p>وفي الابركسيس عن ← <strong>الكنيسة التي يظهر فيها إعلان الحياة في المسيح</strong> <strong>سواء في مواهب الشفاء أو في الكرازة بإسمه</strong> &#8220;وكانت تجرى على أيدي الرسل آيات وعجائب كثيرة في الشعب.. وكان الذين يؤمنون بالرب يزدادون بكثرة جماهير من رجال ونساء.. وكان كثيرون يجتمعون إليهم من المدن التي حول أورشليم إذ كانوا يأتون بالمرضى والذين كانت بهم أرواح نجسة وكانوا يبرأون كلهم.. ولكن ملاك الرب فتح أبواب الحبس ليلا وأخرجهم وقال لهم إنطلقوا وقفوا في الهيكل وخاطبوا الشعب بهذه الكلمات ذات الحياة&#8221;.</p>
<h3></h3>
<h4>إنجيل القداس</h4>
<ul>
<li>وفي إنجيل القداس ← <strong>يختم بإعلان قدرته الإلهية على خلاص العالم</strong> &#8220;والخبز الذي أنا سأعطيه هو جسدي الذي سأبذله عن حياة العالم&#8221;.</li>
<li><strong>كما يعلن إبن الله عن ذاته خبز الحياة النازل من السماء الواهب حياة للعالم وإستعلان هذه النعمة العظيمة في الأفخارستيا </strong>&#8220;أنا هو خبز الحياة.. أنا هو الخبز الحي الذي نزل من السماء.. قال لهم يسوع: الحق الحق أقول لكم إن لم تأكلوا جسد إبن الإنسان وتشربوا دمه فليست لكم حياة في أنفسكم&#8221;.</li>
<li>وتتقابل قراءات <strong>إنجيل قدّاس</strong> اليوم السبت <strong>إعلان صليب الحب الإلهي</strong> الذي سيُخلِّص العالم كله مع قراءات الغد الأحد لقاء الرب مع السامرية في الساعة السادسة وقت الحر وهو عطشان لخلاصها ومُتكلِّماً معها سبع كلمات [مثل الصليب] وماكثاً مع السامرة كلها يومين آخرين ليأتي إعلان وكمال خلاصهم في اليوم الثالث يوم القيامة [كما كان الصليب يوم الجمعة والقيامة يوم الأحد فيبدو وكأن الرب مكث يومين بعد الصليب].</li>
</ul>
<h3></h3>
<h3>ملخص القراءات</h3>
<ul>
<li>الله في حضوره يعطي الإستنارة ويحفظهم من الخطر ويسدد كل إحتياجاتهم. (مزمور عشية، وباكر، والقداس).</li>
<li>مجد حضوره يشفي الأمراض وينقض أعمال الشيطان. (انجيل عشيّة والكاثوليكون والإبركسيس).</li>
<li>لا يراه من يقاومه. (انجيل باكر).</li>
<li>حياة الإيمان هي مدخل غنى الروح.(البولس).</li>
<li>قدرته الخلاصية لكل العالم. (انجيل القدَّاس).</li>
</ul>
<p></p>
<h3>عظات آبائية و عظات آباء وخدّام معاصرين</h3>
<p><strong> يمكن الرجوع إلى:</strong></p>
<p>عظات الأحد الثاني من الخمسين يوم المقدسة،</p>
<p>وأيضاً العظات عن الإفخارستيا في عظات يوم خميس البصخة</p>

      {% endcreateArticleAccordions %}
    </section>
  {% endblock %}
  