---
layout: 'layouts/reading.html'
title: 'يوم الأحد من الأسبوع الرابع للخمسين يوم المُقَدَّسَة'
tags: 'pentecost'
permalink: /articles/pentecost/4-0.html
---
  {% block content %}
    <section id="readings">
      <ul>
      {% if 'undefined' != 'undefined' %}
      
      {% else %}
      {% if '19.118:1-2' != 'null' %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">العشية</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeVespers '19.118:1-2' '43.6:57-69' %}
          </div>
        </div>
      </li>
      {% endif %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">باكر</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeMatins '19.118:27,21' '43.8:51-59' '' %}
          </div>
        </div>
      </li>
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <h3 class="flex items-center justify-between">
            <span class="kufi">القداس</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </h3>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeLitugy '53.2:13-3:5' '62.4:7-13' '44.14:8-23' '19.118:14-16' '43.12:35-50' %}
          </div>
        </div>
      </li>

      {% endif %}
        </ul>
    </section>
    <section id="article">
      <h3 class="mt-8 mb-4 heading-explain">شرح القراءات</h3>
      {% createArticleAccordions %}
        <h3>أحد النور</h3>
<p>نور الآب {نور معرفة الآب من خلال كلمته ووصيته}</p>
<p>&#8220;كان النور الحقيقي الذي ينير كل إنسان آتياً إلى العالم&#8221; (يو ١: ٩).</p>
<ul>
<li>أنت هي المنارة الذهب الحاملة النور الحقيقي الذي هو نور العالم الذي لا يدنى منه. (ثيئوطوكية الأحد).</li>
<li>أيها السيد الرب الهنا الخالق، الغير مرئي، الغير محوى، الغير المستحيل، الغير المفحوص، الذي أرسل نوره الحقيقي ابنه الوحيد يسوع المسيح الكلمة الذاتي. (قسمة صوم الميلاد).</li>
<li>إن هذه هي طلبة الأنبياء إلى الله الآب لكي يرسل ابنه الوحيد ربنا يسوع المسيح القائل أنا هو نور العالم الذي هو يهدينا إلى السماء وإلى المساكن الأبدية. (القديس أثناسيوس الرسولي).<a href="#_ftn1" name="_ftnref1">[1]</a></li>
<li>المسيح هو نور العالم الذي يضئ الكنيسة بنوره، كما يستمد القمر نوره من الشمس فينير الظلام هكذا تستمد الكنيسة النور من المسيح لتضئ على الذين هم في ظلمة الجهل. (العلامة أوريجانوس).<a href="#_ftn2" name="_ftnref2">[2]</a></li>
</ul>
<h3>شواهد القراءات</h3>
<p>عشية: المزمور (مز ١١٧: ١، ٢) - الإنجيل (يو ٦: ٥٧- ٦٩).</p>
<p>باكر: المزمور (مز ١١٧: ٢٧، ٢٨) - الإنجيل (يو ٨: ٥١- ٥٩).</p>
<p>القداس: البولس (٢تس ٢: ١٣- ١٧؛ ٣: ١- ٥) - الكاثوليكون (١يو ٤: ٧- ١٤) – الابركسيس (أع ١٤: ٨- ٢٣) –</p>
<p>المزمور (مز ١١٧: ١٣، ١٦)  - الانجيل (يو ١٢: ٣٥- ٥٠).</p>
<h3>شرح القراءات</h3>
<p>تتكلم قراءات هذا الأحد عن ← <strong>الأبن نور معرفة الآب</strong>.</p>
<h4>المزامير</h4>
<p>لذلك تبدأ القراءات بمزمور عشية من مزمور ١١٧ وهو ما جاء منه أيضاً مزمور باكر ومزمور القدَّاس، وهو مزمور &#8220;إفتقاد المُخلص للناس وإقامته بينهم بوصفه الله&#8221; حسب تعبير القديس أثناسيوس الرسولي<a href="#_ftn3" name="_ftnref3">[3]</a>، لذلك تتكلَّم المزامير الثلاثة (عشية وباكر والقداس) عن ظهور صلاح الآب ومراحمه الإلهية في الخلاص الذي قدَّمه إبن الله، لذلك قال في مزمور باكر &#8220;صرت لي مخلصاً&#8221;، وفي مزمور القدَّاس &#8220;وصار لي خلاصاً&#8221;.</p>
<ul>
<li>يبدأ <strong>مزمور عشية </strong>بالكلام عن<strong> ←</strong> <strong>صلاح الآب ومراحمه الإلهية غير المحدودة للبشرية </strong>&#8220;اعترفوا للرب فإنه صالح وأن للأبد رحمته&#8221; (مز ١١٧: ١).</li>
<li>وفي <strong>مزمور باكر</strong> عن ← <strong>تسبيح الأبن والإعتراف له لأنه أعلن خلاص الآب </strong>&#8220;أعترف لك يا رب أنك أستجبت لي وصرت لي مخلصا&#8221; (مز ١١٧: ٢٨).</li>
<li>وفي <strong>مزمور القداس عن </strong>← <strong>إرسالية الآب للأبن، </strong>فالأبن هو يمين الآب كما قيل في المزمور &#8220;قال الرب لربي (قال الآب للأبن) إجلس عن يميني حتى أضع أعداءك موطئاً لقدميك&#8221; (مز١١٠: ١).</li>
</ul>
<p>لذلك يقول في المزمور &#8220;يمين الرب صنعت القوة، يمين الرب رفعتني، يمين الرب صنعت قوة&#8221; (مز ١١٧: ١٦).</p>
<h4>انجيل عشية</h4>
<p>وفي إنجيل عشيَّة عن ← <strong>كلمة الله روح الحياة ونور معرفة الله</strong> &#8220;الكلام الذي قلته أنا لكم هو روح وحياة&#8230;. أجابه سمعان بطرس يا رب إلى من نذهب فإن كلام الحياة الأبدية عندك&#8221; (يو٦: ٦٣- ٦٨).</p>
<h4>انجيل باكر</h4>
<p>ويؤكِّد هذا المعني في إنجيل باكر &#8220;الحق الحق أقول لكم إن كان أحد يحفظ كلامي فلن يرى الموت إلى الأبد&#8221; (يو٦: ٥١)..</p>
<p>ونتيجة رفض اليهود للنور &#8220;أما يسوع فتوارى وخرج من الهيكل&#8221; (يو٨: ٥٩).</p>
<p>كما يُظْهِر أن معرفة الله تأتي من حفظ الكلمة وأن حفظ الكلمة يُعْلِن معرفته &#8220;لكني أعرفه وأحفظ كلامه&#8221;.</p>
<h4>البولس</h4>
<p>وفي البولس عن ← <strong>نور مجد الأبن المعلن في الأنجيل </strong>&#8220;الأمر الذي دعاكم إليه بإنجيلنا لإقتناء مجد ربنا يسوع المسيح&#8221; (٢تس ٢: ١٤)،</p>
<p><strong>والدعوة إلي الثبات في كلمته ووصيته</strong> &#8220;فمن الآن يا إخوتي اثبتوا وتمسكوا بالوصايا التي تعلمتموها من كلامنا مشافهة ومن رسالتنا&#8221;.</p>
<p>وعن <strong>صلاة الكنيسة لإنتشار نور مجد الكلمة في كل مكان</strong> &#8220;ومن الآن يا أخوتنا فصلوا من أجلنا لكي تجرى كلمة ربنا وتتمجد بكل مكان كما هي عندكم أيضاً&#8221; (٢تس٣: ١)..</p>
<h4>الكاثوليكون</h4>
<p>وفِي الكاثوليكون عن ← <strong>الدافع لإرسالية الآب للأبن المحبة، محبة الآب للعالم </strong>&#8220;وبهذا يتبين لنا محبة الله فينا أن الله أرسل ابنه الوحيد إلى العالم لنحيا به، في هذا هي المحبة، ليس أننا أحببنا الله، بل إنه هو أحبنا وأرسل أبنه كفارة لخطايانا&#8221; (١يو ٤: ٩، ١٠)..</p>
<p><strong>وأن محبتنا بعضنا لبعض هي ضمان إختبار محبة الله لنا وفينا </strong>&#8220;وإن نحن أحببنا بعضنا بعضاً فالله يثبت فينا ومحبته تكون فينا كاملة&#8221; (١يو٤: ١٢).</p>
<h4>الابركسيس</h4>
<p>وفي الإبركسيس عن ← <strong>إعتقاد بعض الأمم في إمكانية تنازل الله وظهوره للناس</strong> &#8220;وقالوا الآلهة تشبهوا بالناس ونزلوا الينا&#8221; (أع ١٤: ١١).</p>
<p>وبالرغم من إعلان الآب عن ذاته إلا أن بعض الأمم لم ترد أن تتعرف عليه &#8220;الذي ترك الأمم كلها في الأجيال الماضية أن يسلكوا في طرقهم مع أنه لم يترك نفسه بلا شاهد وهو يفعل خيراً&#8221; (أع١٤: ١٦، ١٧).</p>
<p>وأيضاً عن قوة كلمة الخلاص التي إلتجأ إليها المقعد ونال الشفاء &#8220;وكان في لسترة رجل ضعيف الرجلين مقعد من بطن أمه ولم يمش قط، هذا كان يسمع بولس وهو يتكلم&#8221;.</p>
<h4>انجيل القداس</h4>
<p>وفي انجيل القداس عن ← <strong>الأبن نور الآب، ونور معرفتنا للآب </strong>&#8220;قال لهم يسوع: النور فيكم زماناً يسيراً فسيروا في النور مادام النور لكم لئلا يدرككم الظلام&#8221; (يو ١٢: ٤٦).</p>
<p>&#8220;أنا جئت نوراً للعالم حتى أن كل من يؤمن بي لا يمكث في الظلام&#8221; (يو ١٢: ٤٦).</p>
<p><strong>كما يُعْلِن أن كلمة الله ووصيته هي مصدر الحياة وعِلَّة الدينونة </strong>&#8220;من ينكرني ولا يقبل كلامي فله من يدينه . الكلام الذي تكلمته به هو يدينه في اليوم الاخير ….واعلم ان وصيته هي حياة أبدية&#8221;.</p>
<p><strong>ونتيجة عدم الإيمان ومحبة مجد الناس أكثر من مجد الله</strong> &#8220;قال يسوع هذا ومضى فتوارى عنهم ومع هذا الآيات الكثيرة التي صنعها أمامهم لم يؤمنوا به&#8230;. لأن إشعياء قال أيضاً طمس عيونهم وأغلق قلوبهم لئلا يبصروا بعيونهم ويفهموا بقلوبهم ويرجعوا إليّ فأشفيهم. قال إشعياء هذا لأنه رأى مجد الله وتكلم عنه ومع ذلك آمن به كثيرون من الرؤساء أيضاً، ولكنهم لسبب الفريسيين لم يعترفوا به لئلا يخرجوهم من المجمع لأنهم أحبوا مجد الناس أكثر من مجد الله&#8221; (يو ١٢: ٣٧-٤٣).</p>
<h3>ملخص الشرح</h3>
<p><strong>نور الآب - نور معرفة الآب</strong></p>
<ul>
<li>تتكلَّم المزامير الثلاثة (عشية وباكر والقداس) عن ظهور صلاح الآب ومراحمه الإلهية في الخلاص الذي قدَّمه إبن الله.</li>
<li>كلمة الله روح الحياة ونور معرفة الله. (انجيل عشية).</li>
<li>معرفة الله تأتي من حفظ الكلمة وأن حفظ الكلمة يُعْلِن معرفته. (انجيل باكر).</li>
<li>نور مجد الآب معلن في الإنجيل وصلاة الكنيسة لأجل إنتشار نور الإنجيل في كل مكان. (البولس).</li>
<li>محبة الآب للعالم هي الدافع لتجسُّد الكلمة ومحبتنا بعضنا لبعض هي ضمان إختبار محبة الله لنا وفينا. (الكاثوليكون).</li>
<li>قوة كلمة الخلاص التي إلتجأ إليها المقعد ونال الشفاء. (الابركسيس).</li>
<li>الأبن هو نور الآب. (إنجيل القداس).</li>
<li>كلمة الله ووصيته هي مصدر الحياة لمن يؤمن وعِلَّة الدينونة لمن لا يؤمن. (إنجيل القداس).</li>
</ul>
<h3>أفكار مقترحة للعظات <strong>للأحد الرابع من الخمسين يوم المقدسة </strong></h3>
<h4>نور إبن الله لأجل حياة وخلاص البشرية</h4>
<ul>
<li>إبن الله هو الخبز النازل من السماء الواهب الحياة للبشرية. (الإفخارستيا)</li>
</ul>
<p>&#8220;كما أرسلني أبي الحيّ وأنا أيضاً حيّ بالآب فمن يأكلني يحيا هو أيضاً بي هذا هو الخبز الذي نزل من السماء.. من يأكل هذا الخبز يحيا إلى الأبد&#8221;. (انجيل عشية).</p>
<ul>
<li>إرسالية إبن الله لخلاصنا شهوة الأنبياء وموضوع النبوَّة.</li>
</ul>
<p>&#8220;ابراهيم أبوكم كان يتهلل مشتهياً ان يري يومي فرأي وفرح&#8221;. (انجيل باكر).</p>
<ul>
<li>مجد معرفته مُعْلَن في الإنجيل</li>
</ul>
<p>&#8220;الأمر الذي دعاكم إليه بإنجيلنا لإقتناء مجد ربنا يسوع المسيح&#8221;. (البولس).</p>
<ul>
<li>خلاص إبن الله إعلان عن محبة الآب للبشرية ولأجل حياتنا به وغفران خطايانا.</li>
</ul>
<p>&#8220;وبهذا يتبين لنا محبة الله فينا أن الله أرسل ابنه الوحيد إلى العالم لنحيا به.. بل إنه هو أحبنا وأرسل أبنه كفارة لخطايانا&#8221;.</p>
<ul>
<li>كرازة وخدمة أولاد الله تُعْلِن نوره فينا.</li>
</ul>
<p>&#8220;وقالوا ان الآلهة تشبهوا بالناس ونزلوا إلينا&#8221;.</p>
<ul>
<li>مجئ إبن الله هو نوراً وخلاصاً وحياة أبدية للعالم.</li>
</ul>
<p>&#8220;أنا جئت نوراً للعالم حتى أن كل من يؤمن بي لا يمكث في الظلام.. لأني ما جئت لأدين العالم بل لأخلص العالم.. بل الآب الذي أرسلني هو الذي أعطاني وصية.. واعلم أن وصيته هي حياة أبدية&#8221;.</p>
<ul>
<li><strong>النهار والنور</strong></li>
</ul>
<ol>
<li>نور الإبن:</li>
</ol>
<p>&#8220;اللابس النور كثوب&#8221; (مز ١٠٤: ٢).</p>
<p>&#8220;رأيت في نصف النهار في الطريق، أيها الملك، نورا من السماء أفضل من لمعان الشمس، قد أبرق حولي وحول الذاهبين معي&#8221; (أع ١٣:٢٦).</p>
<ol start="2">
<li>نور الشفاء والحب الإلهي (الصليب):</li>
</ol>
<p>&#8220;ولكم أيها المتقون اسمي تشرق شمس البر والشفاء في أجنحتها&#8221; (ملا ٤: ٢).</p>
<ol start="3">
<li>أسلحة النور (التوبة):</li>
</ol>
<p>&#8220;قد تناهى الليل وتقارب النهار، فلنخلع أعمال الظلمة ونلبس أسلحة النور لنسلك بلياقة كما في النهار: لا بالبطر والسكر، لا بالمضاجع والعهر، لا بالخصام والحسد&#8221; (رو ١٣: ١٣،١٢).</p>
<ol start="4">
<li>سلوك النور</li>
</ol>
<p>&#8220;إن كان أحد يمشي في النهار لا يعثر لأنه ينظر نور هذا العالم ولكن إن كان أحد يمشي في الليل يعثر، لأن النور ليس فيه&#8221; (يو ٩:١١، ١٠).</p>
<p>&#8220;أما سبيل الصديقين فكنور مشرق، يتزايد وينير إلى النهار الكامل &#8221; (أم ١٨:٤).</p>
<p>&#8220;ولكن إن سلكنا في النور كما هو في النور، فلنا شركة بعضنا مع بعض، ودم يسوع المسيح ابنه يطهرنا من كل خطية &#8221; (١يو ١: ٧).</p>
<ol start="5">
<li>النهار «الرب ماشياً عند هبوب ريح النهار ليفتقدنا، والرب آتياً عند حر النهار ليباركنا، والرب ساتراً للإنسان من أي ضرر»</li>
</ol>
<p>&#8220;وسمعا صوت الرب الإله ماشيا في الجنة عند هبوب ريح النهار، فاختبأ آدم وامرأته من وجه الرب الإله في وسط شجر الجنة&#8221; (تك ٨:٣).</p>
<p>&#8220;وظهر له الرب عند بلوطات ممرا وهو جالس في باب الخيمة وقت حر النهار&#8221; (تك ١٨: ١).</p>
<p>&#8220;ولبنيامين قال: حبيب الرب يسكن لديه آمنا. يستره طول النهار، وبين منكبيه يسكن النور&#8221; (تث ١٢:٣٣).</p>
<ol start="6">
<li>نور الميراث، ونور الدينونة</li>
</ol>
<p>&#8220;شاكرين الآب الذي أهلنا لشركة ميراث القديسين في النور الذي أنقذنا من سلطان الظلمة، ونقلنا إلى ملكوت ابن محبته&#8221; (كو ١٢:١، ١٣).</p>
<p>&#8220;ثم اشرق النور والشمس فارتفع المتواضعون وافترسوا المتجبرين&#8221; (تتمة أستير ١١:٢).</p>
<ul>
<li><strong>نور معرفة طريق الله من خلال كلمته ووصيَّته</strong></li>
</ul>
<p><strong>من وحي مزمور ١١٩</strong></p>
<ol>
<li>كلمة الله ووصيته وأهميَّة الإنشغال بها والهذيذ فيها لأجل معرفة الله :</li>
</ol>
<p>&#8220;ليت طرقي تثبت في حفظ فرائضك… بوصاياك ألهج وألاحظ سبلك… جعلت أحكامك قدامي… ورددت قدمي إلي شهاداتك… حفظت وصاياك وشهاداتك. (مز ١١٩: ٥، ١٥، ٣٠، ٥٩، ١٦٨).</p>
<ol start="2">
<li>وما هي الإحتياج إلى نعمة إلهية لإدرك الله من خلال كلمته :</li>
</ol>
<p>&#8220;طريق وصاياك فهمني… علمني يا رب طريق فرائضك… دربني في سبيل وصاياك… ثبت خطواتي في كلمتك&#8221; (مز ١١٩: ٢٧، ٣٣، ٣٥، ١٣٣).</p>
<ol start="3">
<li>أهمية الإبتعاد عن طرق العالم والشر للإستفادة من عمل كلمته :</li>
</ol>
<p>&#8220;طريق الكذب إبعد عني… حول عيني عن النظر إلى الباطل… من كل طريق شر منعت رجلي… أبغضت كل طريق كذب… ولا يتسلط على إثم&#8221; (مز ١١٩: ٢٩، ٣٧، ١٠١، ١٠٤، ١٢٨، ١٣٣).</p>
<ol start="4">
<li>كلمة الله ووصيته وفعلها في من يحفظها :</li>
</ol>
<p>&#8220;الكاملين طريقاً… يزكي الشاب طريقه… فرحت كما على كل الغنى… ترحب قلبي… أتمشى في رحب… نور لسبيلي&#8221;. (مز ١١٩: ١، ٩، ١٤، ٣٢، ٤٥، ١٠٥).</p>
<p>من وحي ظهورات الرب بعد القيامة</p>
<p><strong>يعقوب «الحديث الخاص جداً».</strong></p>
<ul>
<li>لم يتكلَّم الكتاب المقدس بأى شئ عن ما حدث في هذا الظهور وكأنه حديث خاص جداً. (1كو15: 7).</li>
<li>يريد الله لي حياة خاصة جداً لكني أتمنى ما يعيشه الآخرون.</li>
<li>يرسل الله لي رسائل خاصة جداً لكني لا أراها لمشغوليتي برسائله لكل من حولي.</li>
<li>يرسم الله لي مستقبل فريد جداً لكني تائه في حاضري.</li>
<li>يسمعني صوته بطريقة مختلفة عن الكل لكن إنشغالي بالناس جعلني أتوه عنه بإمتلاء أذني بكلام من حولي.</li>
<li>لم أكتشف إلى الآن عُشر مايخبئه لي من غنى.</li>
<li>لا أصدق أنني مميز جداً عن الكل.</li>
<li>يخشى ظلامي من نوره القوي وينقبض قلبي عند إنسكاب مجده.</li>
<li>وإلي الآن أنا غارق في الحسِّيات والسطحيَّات.</li>
<li>وحبُّه يريد أن يشدني ويجذبني للأعالي لمجد السماويات.</li>
</ul>
<h3>عظات آبائية للأحد الرابع «أحد النور» من الخمسين يوم المقدسة</h3>
<h4>الوجود في النور يحصل عليه منه أولئك الذين قد آمنوا به وحدهم - للقديس كيرلس الأسكندري<a href="#_ftn4" name="_ftnref4">[4]</a></h4>
<p><strong>(يو١٢: ٤٤-٤٥): </strong></p>
<p><strong>&#8220;فنادى يسوع وقال: الذي يؤمن بي، ليس يؤمن بي بل بالذي أرسلني، والذي يراني يرى الذي أرسلني&#8221;.</strong></p>
<p>صرخ المسيح عاليًا، وصرخته توبخ الخوف الذي يكون في وقت غير ملائم، هذا الخوف الذي أثَّر على الذين آمنوا به ولكنهم أخفوا إيمانهم. فهو يريد أن يُكرّم من الناس الذين يؤمنون به بطريقة علنية وليس خلسة. فهو قد علَّم أنه رغم أن الإيمان ينبغي أن يكون في القلب، إلا أن الإعتراف الصحيح جداً المؤسس على هذا الإيمان، ينبغي أن يكون بجرأة عظيمة. وإذ هو بالطبيعة الله، قد تنازل ليأخذ صورة مشابهة لصورتنا، ولكنه يرفض في البداية أن يكشف بكلمات واضحة لآذان الناس الذين يبغضونه أنهم ينبغي أن يؤمنوا به، رغم أنه قال هذا كثيراً؛ وهو بالتدريج يجعل أذهان الذين يعانون من مرض الحسد الشديد ضده، وذلك بملائمة تامة لإحتياجاتهم أن ينفذوا إلى عمق أسراره الخاصة، وهو يقودهم هكذا ليس إلى شخصه الإنساني بل إلى كيانه الذي من الجوهر الإلهي؛ ذلك لأن الألوهية تُدرك كاملة في أقنوم الله الآب، لأن الآب له في ذاته الابن والروح. وهكذا بحكمة عظيمة يتقدم بهم قائلاً: &#8220;الذي يؤمن بي ليس يؤمن بي بل بالذي أرسلني&#8221; لأنه لا يستبعد، عن أن يكون هو موضوع إيمان بالنسبة لنا، إذ هو إله بالطبيعة وقد أشرق من الله الآب. لكنه يتعامل بمهارة مع عقل الضعفاء لكي يطوعهم إلى التقوى، لكي نفهم منه كأنه يقول كما يلي: حينما تؤمنون بي، أنا الذي من أجلكم صرت إنسانا مثلكم - هذا من ناحية - ولكن من الناحية الأخرى أنا إله بسبب طبيعتي التي هي طبيعة الآب الذي أنا منه، فلا تظنوا عندئذ أنكم تضعون إيمانكم في إنسان. لأني أنا بالطبيعة إله رغم أني أظهر مثل واحد منكم. وأنا أملك في نفسي ذاك الذي ولدني. لأني ما دمت من نفس الجوهر مع ذاك الذي ولدني، فإن إيمانكم بالتأكيد سيكون بالآب ذاته أيضاً. وكما قلنا قبل ذلك، فإن الرب يُدَّربهم ليصلوا إلى ما هو أفضل، وإذ يوحِّد ما هو بشري بما هو إلهي لأجل المنفعة، يقول: &#8220;من يؤمن بي&#8221; والكلمات التي بعدها. وهو قد أخبرنا بوضوح تام أن الإيمان لا يجب أن يتجه إلى إنسان، بل إلى طبيعة الله، رغم أن الكلمة كان لابساً الجسد لأن طبيعته لم تتحول إلى إنسان. ولكي يوضح تماماً أنه مساوٍ لله الأب من كل النواحي، بسبب طبيعتهما الواحدة وكونهما لهما نفس الجوهر الواحد، يقول :</p>
<p><strong>(يو١٢: ٤٦):</strong></p>
<p><strong>&#8220;أنا قد جئت نورا إلى العالم ، حتى كل من يؤمن بي لا يمكث في الظلمة</strong><strong>&#8220;.</strong></p>
<p>لاحظ هنا، أنه يمسك بايمانهم ويثّبته على ذاته، ويتمم بذلك هدفين نافعين. فمن ناحية، بإعلانه عن نفسه أنه &#8220;النور&#8221;، فهو يبرهن أنه هو الله بالطبيعة، لأن هذا الإسم يليق فقط بذاك الذي هو وحده بطبيعته الله، ومن الناحية الأخرى، بذكره لسبب مجيئه، فهو يُخجِل أي إنسان لا يفكر في محبته. لأننا ينبغي أن نفهم بوضوح أن الذين لم يؤمنوا به بعد، لا يزالون في الظلمة، كما أن الوجود في النور يحصل عليه منه أولئك الذين قد آمنوا به وحدهم. وهو يقودهم إلى تذكر الأمور التي ذُكِرَت عنه في نبوات كثيرة، التي أنبأ فيها أنه سيأتي لكي ينير العالم: فمثلاً &#8220;استنيري، استنيري، يا أورشليم، لأنه قد جاء نورك، النور الحقيقي، ومجد الرب أشرق عليك&#8221; (إش٦٠: ١سبعينية)، وأيضاً: &#8220;أرسل نورك وحقك&#8221; (مز ٤٣: ٣). لذلك يكون من الحق، وكأنه قال: أنا هو النور الذي تتطلعون إليه في الكتاب، أنه سيأتي لأجل خلاص العالم، لكي ينير على الذين يسيرون في الظلمة كأنهم في الليل.</p>
<p><strong>(يو ١٢: ٤٨):</strong></p>
<p><strong>&#8220;الكلام الذي تكلمت به هو يدينه في اليوم الأخير&#8221;.</strong></p>
<p>هو يقول، إنهم سيكونون مُدانين من أنفسهم، هؤلاء الذين يرفضون أن يسمعوا له ولا يقبلون الإيمان الذي يخلصهم. لأن من جاء لكي ينير، لم يأت لكي يدين، بل لكي يُخلِّص. لذلك، فالذي لا يطيع، يُعرِّض نفسه لأفظع التعاسات، دعه يلوم نفسه، لأنه ينال عقاباً عادلاً. وكأنه يقول: لأني لست أنا سبب الدينونة، أنا الذي أريد أن أُخَلِّص الذين سيذهبون إلى الدينونة، وقد جئت لهذه الغاية. فالذي يضع قانوناً لمعاقبة العصاة، يضعه ليس لأجل معاقبة الذين يكسرون القانون، بل ليكون تحذيراً للذين يسمعون فيخشونه ويخلصون. إذاً، فلأني قد جئت لأُخلِّص، أوصيكم أن تؤمنوا، وأن لا تحتقروا كلامي؛ لأن الوقت الحاضر هو وقت خلاص وليس وقت دينونة. لأنه في يوم الدينونة، فإن الكلمة التي دعتكم إلى الخلاص هي نفسها ستكون سببا لمعاقبة الذين يعصون.</p>
<p><strong>من النسخة السريانية</strong>:</p>
<p>[لأن الذين يؤمنون، فإنهم بيسوع المسيح ينالون مجدًا وسكنى مع الله، وبولس الإلهي يقف إلى جانبنا إذ يكتب هكذا، أن &#8220;الله كان في المسيح مصالحاً العالم لنفسه&#8221; (۲کو ہ: ١٦). فلا يحق لأي واحد من الذين إعتادوا أن يسمعوا الكتاب الموحى به من الله بطريقة غبية، ويحرِّفُون معنى المكتوب حينما يؤكد أن &#8220;الله كان في المسيح&#8221;، أو يظنون أن بولس يقول عنه إنه &#8220;إنسان لابس الروح&#8221;، لأن هذا غير صحيح. فالمسيح هو بالحقيقة الله بالطبيعة، وليس مجرد إنسان &#8220;لابس الله&#8221; مثل أي واحد من الأنبياء].</p>
<h4>الكنيسة تنير كل من هم في ليل الجهالة - للعلامة أوريجانوس<a href="#_ftn5" name="_ftnref5">[5]</a></h4>
<ul>
<li>بعد ذلك تستحق السماء من الآن أن تكون مزودة بأنوار، فقال الله: &#8220;لتكن أنوار في جلد السماء لتضيء على الأرض وتفصل النهار عن الليل&#8221; (تك ١: ١٤) فكما أمر الله أن تكون هناك أنوار في الجلد الذي يدعى سماء، حتى &#8220;تفصل بين النهار والليل&#8221; هكذا يمكن أن يحدث لنا أيضاً شرط أن نجاهد حتى ندعى ونصير سماءً، فيكون لنا في أنفسنا مثل أنوار لتنير لنا المسيح وكنيسته، فالمسيح هو &#8220;نور العالم&#8221; (يو ٨: ١٢) هو الذي ينير الكنيسة أيضاً بنوره. فكما نقول إن القمر يحصل على نوره من الشمس حتى يتمكن الليل ذاته من أن يستنير به، هكذا أيضاً الكنيسة إذ تحصل علي نورها من المسيح، تنير كل من هم في ليل الجهالة، ولكن إن تقدم أحد حتى صار &#8220;ابناً للنهار&#8221; &#8220;سائراً بأمانة كما في وضح النهار&#8221; (رو١٣: ١٣)، &#8220;كابن للنهار وابن للنور&#8221; (١تس ٥: ٥). فهذا ينيره المسيح ذاته كشمس النهار .</li>
<li>&#8220;لتكن علامات ولتحدد الأزمنة والأيام والسنين، ولتكن أنوار في جلد السماء لتنير الأرض وكان كذلك&#8221; (تك ١: ١٤،١٥). فكما أن الأنوار التي نراها في السماء قد وُضعت لتكون &#8220;علامات ولتحدد الأزمنة والأيام والسنين&#8221; وتنير من الجلد من هم في الأرض، هكذا المسيح، إذ يُنير كنيسته يعطي أيضاً علامات من خلال تعاليمه، حتى نعلم لدى استقبال العلامة كيف نتجنب &#8220;الغضب الآتي&#8221; (١تس ١: ١٠)؛ (مت٣: ٧)؛ (لو٣: ٧) بحيث لا يفاجئنا &#8220;يوم الرب كلص&#8221; (١تس٥: ٤). بل يسمح لنا بالحري أن نصل إلى &#8220;سنة نعمة الرب&#8221; (إش ٦١: ٢).</li>
</ul>
<p>فالمسيح إذاً هو &#8220;النور الحقيقي الذي ينير كل إنسانٍ آتٍ إلى هذا العالم&#8221; (يو١: ٩)، وتصير الكنيسة المستنيرة بنوره هي نفسها &#8220;نور العالم&#8221; وتنير &#8220;الذين في الظلمة&#8221; (رو٢: ١٩)، كما يؤكد ذلك المسيح نفسه حين يقول لتلاميذه: &#8220;أنتم نور العالم&#8221; (مت٥: ١٤). وينجم من هنا أن المسيح هو نور الرسل، والرسل بدورهم هم نور العالم، فهم في الواقع الكنيسة الحقيقية &#8220;بسبب أنهم بلا دنس ولا غضن ولا شيء من مثل ذلك&#8221;، وفقاً لقول بولس الرسول أن الله &#8220;أراد أن يظهر أمامه كنيسة مجيدة بلا دنس ولا غضن ولا شيء من مثل ذلك&#8221; (أف ٥: ٢٧).</p>
<ul>
<li>&#8220;وعمل الله نورين عظيمين، النور الأكبر ليتسلط في النهار والنور الأصغر ليتسلط في الليل، وعمل أيضاً النجوم، ووضعها الله في جلد السماء حتى تضيء على الأرض لتتسلط في النهار وفي الليل وحتى تفصل بين النور والظلمة، ورأى الله أن ذلك حسن، وكان مساء وكان صباح، وكان هذا اليوم الرابع&#8221; (تك ١: ١٦- ١٩). وكما أن الشمس والقمر، وفقاً للكتاب المقدس، هما النوران العظيمان في جلد السماء هكذا أيضاً المسيح والكنيسة بداخلنا. ولكن أضاف الله نجوماً في الجلد، فيجب علينا نحن أيضاً أن نرى ما يمثل النجوم في داخلنا أي في سماء قلوبنا، فموسى نجم فينا يضيء وينيرنا بأعماله وكذلك إبراهيم وإسحق ويعقوب وإشعياء وإرميا وحزقيال وداود ودانيال وكل من شهدت لهم الكتب المقدسة بأنهم كانوا مرضيين لله (عب ١١: ٥)، وكما أن كل &#8220;نجم يختلف عن نجم في العظمة&#8221; (١كو ١٥: ٤١) هكذا كل قديس بمقدار عظمته يسبغ نوره علينا .</li>
</ul>
<p>وكما أن الشمس والقمر بنيران أجسادنا، هكذا يُنير المسيح والكنيسة عقولنا. على الأقل هما ينيرانها، إن لم نكن عمياناً روحياً، لأنه كما أن الشمس والقمر لا يشعان نورهما على العميان الجسديين الذين لا يمكنهم أن يستقبلوا النور، هكذا المسيح يمد أرواحنا بنوره، ولكنه لن ينيرنا إلا لو لم يمنعه عمى عقلنا، فإن كان هذا هو الحال، فينبغي أولاً أن العميان يتبعون المسيح قائلين وصارخين: &#8220;ارحمنا يا ابن داود&#8221; (مت ٩: ٢٧)، فبعد أن ينالوا من المسيح نفسه الإبصار، يمكن بعد ذلك أن يشرق عليهم بهاء نوره .</p>
<p>وأيضاً الذين يبصرون لا يستنيرون بالمسيح بالتساوي ولكن كل واحد على القدر الذي يستطيع به تلقي النور. فإن عيون جسدنا لا تنيرها الشمس بالتساوي ولكن كلما صعدنا إلى أماكن مرتفعة، وكلما وضعنا المرصد في مكان عالٍ حيث تتأمل النظرة من خلاله شروق الشمس، تمكننا من إدراك بريقها وحرارتها بصورة أفضل. وهكذا كلما اقتربت عقولنا بصعودها وارتفاعها من المسيح وتعرضت بمزيد من القرب لبريق ضيائه، أشعت أيضاً بنوره بصورة أكثر روعة وأكثر لمعاناً، كما يقول الله ذاته هذا من خلال النبي: &#8220;اقتربوا إليّ فأقترب إليكم، يقول الرب&#8221; (زك١: ٣)، ويقول أيضاً: &#8220;أنا إله يقترب ولست إلهاً بعيداً&#8221; (إر ٢٣: ٢٣).</p>
<p>ومع ذلك فنحن لا نقترب إليه جميعنا بنفس الأسلوب، ولكن كل منا يذهب إليه حسب إمكاناته الخاصة (مت ٢٥: ١٥). إما نذهب إليه مع الجموع وهو يشبعنا بأمثاله (مت 13: 34) فقط لئلا يجعلنا الصوم الطويل نخور في الطريق (مت ١٥: ٢٣)؛ (مر ٨: ٣)، أو نظل باستمرار وبلا نهاية جالسين عند قدميه لا نهتم إلا بسماع كلمته دون أن ندع أنفسنا تضطرب باهتمامات الخدمة الكثيرة، &#8220;مختارين النصيب الأفضل الذي لن ينزع منا&#8221; (لو ١٠: ٣٩) وما بعده). وعند الاقتراب هكذا منه (مت ١٣: ٣٦) نأخذ أكثر من نوره، ولو بقينا معه مثل الرسل بلا انقطاع في كل تجاربه (لو ٢٢: ٢٨) دون أن نبتعد عنه ولو إلى قليل، فهو يوضح ويفسر لنا سراً ما قاله للجموع (مر ٤: ٣٤) وينيرنا بنور أكبر بكثير. وحتى لو استطعنا أن نذهب معه إلى قمة الجبل كبطرس ويعقوب ويوحنا (مت ١٧: ١-٣) فلن نستنير فقط بنور المسيح، ولكن أيضاً بصوت الآب ذاته.</p>
<h4>إذ أشرق شمس البر إنتشر نور العلم الإلهي في العالم كله – العلامة أوريجانوس<a href="#_ftn6" name="_ftnref6">[6]</a></h4>
<p>قبل مجيء ربنا يسوع المسيح، الشمس التي لم تشرق على بني إسرائيل، كانوا يستخدمون نور السرج، إذ كان عندهم كلمات الناموس والأقوال النبوية كسراج مغلق عليه في سور ضيق لا تشرق أنواره في الأرض كلها. فقد كان العلم الإلهي محصورًا في يهوذا وحده، كقول النبي: &#8220;الرب معروف في يهوذا&#8221; (مز٧٥: ١). لكن إذ أشرق شمس البر (ملا ٤: ٢ ، ٣: ٢٠)، ربنا ومخلصنا، إذ وُلد ذاك الذي كتب عنه أن &#8220;الشرق اسمه&#8221; (زك٦: ٢) سبعينية)، انتشر نور العلم الإلهي في العالم كله. باختصار كانت كلمات الناموس والأقوال النبوية سراجًا منيرًا يشتعل داخل القدس، لا يمكن أن ينطلق خارجًا ليشع بجماله وبهائه.</p>
<p>كلمات الناموس والأنبياء هي السرج، هذا ما علمنا إياه الرب بنفسه من يوحنا المعمدان (كممثل للعهد القديم بناموسه وأنبيائه): &#8220;كان هو السراج الموقد المنير وأنتم أردتم أن تبتهجوا بنوره ساعة&#8221; (يو٥: ٣٥).. كان هذا السراج يشتعل، إذ هو يوحنا الذي به تم الناموس والأنبياء. مادام الشعب له زيت يقدمه للإضاءة لا ينطفئ السراج، لكنهم عندما أخطأوا ولم يصر لهم زيت الرحمة ولا الأعمال الصالحة والنقاوة انطفأ السراج بسبب الحاجة إلى زيت نقي للإضاءة.</p>
<p>لكن ماذا نقول بالنسبة لنا نحن&#8230;؟</p>
<p>يليق بالمسيحي أن يهتم بالأكثر أن يكون له زيت، فبدونه كما يقول الرب تُسمى العذارى جاهلات، إذ لا يحملن زيتًا في آنيتهن، فلا يضئن سرجهن وبالتالي يحرمن من الحجال الزوجي. وعندما قرعن الباب إذ لم يكن لهن زيت أمر العريس بعدم فتح الباب (مت ٢٥).</p>
<p>إنيّ أذكر ما سبق فقلته بخصوص المزمور ١١٨: &#8220;سراج لرجلي كلامك ونور لسبيلي&#8221; (مز ١١٨: ١٠٥)، موضحًا بقدر الإمكان الفارق بين السراج والنور. فقد خصص السراج للرِجْلْ بكونها عضو سفلي للجسم، أما النور فخصص للسبل التي تُدعى في موضع آخر &#8220;الطرق السماوية&#8221;. فبحسب التفسير السري&#8230; يضيئ سراج الناموس للذين هم في العالم كرِجْلْ للخليقة كلها (رجال العهد القديم)، أما النور الأبدي فمخصص لسبل الدهر الآتي.</p>
<h4>الله أضفي علينا جمالاً وبهاءً - للقديس غريغوريوس النزينزي<a href="#_ftn7" name="_ftnref7">[7]</a></h4>
<p>رغم إننا صرنا ظلمة بسبب الخطية فإن الله قد أضفى علينا جمالًا وبهاءً من خلال نعمته الفائقة. عندما يسود الليل ويلف الظلام كل شيء نجد أنه رغم أن بعض الأشياء تصير مضيئة بالطبيعة، إذ حل النهار، فإن مقارنتها بالظلمة لا تنطبق على الأشياء التي كانت معتمة قبلًا بالسواد.</p>
<p><strong>وهكذا تعبر النفس من الخطأ إلى الحق، وتتبدل صورة حياتها المظلمة إلى نعمة فائقة</strong>.</p>
<p>انتقل بولس الرسول عروس المسيح من الظلمة إلى النور، إذ يقول لتلميذه تيموثاوس (١تي١: ١٣)، كما العروس لوصيفاتها، إنه قد صار مستحقًا أن يكون جميلًا، لأنه كان قبلًا مجدفًا ومضطهدًا ومفتريًا ومظلمًا.</p>
<p>ويقول بولس الرسول أيضًا أن المسيح جاء إلى العالم لينير للذين في الظلمة. إن المسيح لم يدعو أبرارًا بل خطاة إلى التوبة، الذي جعلهم يضيئون كأنوار في العالم (في٢: ١٥)، بحميم الميلاد الثاني الذي غسلهم من صورتهم السوداء الأولى.</p>
<p>لنشعل لأنفسنا نور المعرفة. هذا يتحقق بزرع البرّ وحصاد ثمار الحياة، فإن <strong>العمل هو ابن التأمل</strong>، الأمر الذي نتعلمه بين أمور أخرى هو ما هو النور الحقيقي، وما هو النور الباطل، فنخلص من السقوط بغير حذر في الشر كأننا ساقطون في الخير. <strong>لنصبح نحن أنفسنا نور</strong><strong>ا</strong>، كما قيل للتلاميذ من النور الأعظم: &#8220;أنتم نور العالم&#8221; (مت٥: ١٤). بل ولنصر &#8220;كأنوارٍ في العالم، متمسكين بكلمة الحياة&#8221;، أعني نصير قوة محيية للآخرين. لنتمسك بالألوهة، ونقتبس نورًا من النور الأبهى الأول. لنسر نحوه مشرقين، قبل أن نتعثر في الجبال المظلمة المعادية (إر٤٢: ١٦). ما دام الوقت نهار فلنسلك بأمانة كما في النهار لا بالبطر والسكر، لا بالمضاجع والعهر (رو١٣: ١٣)، التي هي أعمال الليل الشريرة.</p>
<h3>عظات آباء وخدّام معاصرين للأحد الرابع من الخمسين يوم المقدسة</h3>
<h4>أنا هو النور - لقداسة البابا تواضروس الثاني<a href="#_ftn8" name="_ftnref8">[8]</a></h4>
<p><strong>(يوحنا ١٢: ٣٥- ٥٠)</strong></p>
<p>في بداية الخليقة قال الله: ليكن نور (تك٣: ١)، وفى اليوم الرابع للخليقة فَصَلَ بين النور والظلمة..</p>
<p>الظلام أنواع:</p>
<ul>
<li>ظلام العقل / الفكر = عدم الفهم .</li>
<li>ظلام العين / النظر = عدم الأبصار .</li>
<li>ظلام القلب / المشاعر = عدم الاستنارة.</li>
</ul>
<p>المسيح يسوع هو <strong>نور العالم</strong>:</p>
<p>✺ نور الإنجيل.</p>
<p>✺ نور الصلاة.</p>
<p>✺ نور المشورة.</p>
<p><strong>الثالوث والنور</strong> (ع ٣٦):</p>
<ul>
<li>ما دام لكم النور = الابن.</li>
<li>أمنوا بالنور = الآب.</li>
<li>لتصيروا أبناء النور = الروح.</li>
</ul>
<p>ويعتبر نص ثالوثي قوي كما نصلي في قانون الإيمان &#8220;نور من نور إله حق من إله حق&#8221;.</p>
<p>وعلى هذا الأساس:</p>
<ul>
<li><strong>المسيح</strong> يطرد الخطية لأنه <strong>نور</strong> يطرد الظلام .</li>
<li><strong>المسيح</strong> يهب الطهارة لأنه <strong>نور</strong> يعطى النقاوة .</li>
<li><strong>المسيح</strong> حلو العشرة «حلقة حلاوة» لأنه <strong>نور</strong> حلو للعينين .</li>
</ul>
<p>هو له المجد قال: &#8220;أنا هو نور العالم&#8221; (يو٨: ١٢)</p>
<p>في كنيستنا نرى هذا النور في :</p>
<ul>
<li>قنديل الشرقية ← إنه المسيح الذى لا ينعس ولا ينام.</li>
<li>تمثلية القيامة ← وتمثل مسيرة المسيح النور القائم.</li>
<li>سر المعمودية ← إنه زفة النصرة والولادة الجديدة.</li>
<li>سر الزيجة ← شمعتان حول العريس والعروس تُمثل المسيح النور الذى يُقدِّس الزواج.</li>
<li>إفنوتي ناي نان ← إنها ثلاث شموع في الصليب، إنه الثالوث المُنير .</li>
<li>مقدمة قانون الإيمان ← نعظمك يا أم النور .</li>
</ul>
<p><strong>نور الحياة</strong></p>
<p><strong>المسيح نور الطريق والحياة: </strong></p>
<p>وهذا النور يُذكِّرنا بعمود النور الذى قاد بنى إسرائيل في سيناء قديماً.</p>
<p>ها هي الفرصة النادرة للإيمان بالنور لأن عيد الصعود أقترب.. إنها آخر تعاليم المسيح.</p>
<p>✺ ونتذكر عند الصليب أن الدنيا اظلمت وصارت الظلمة تعبيراً عن اختفاء النور عندما أنكروه.</p>
<p>✺ <strong>الله نور بمعنى:</strong></p>
<ul>
<li>الحق المدرك الكامل.</li>
<li>يعلن ذات الله الحقيقية.</li>
<li>كلامه يكشف أعماق الإنسان.</li>
<li>يميز بين المستحق وغير المستحق .</li>
</ul>
<p><strong>المسيح نور</strong> «الكلام والتعليم» يُصيِّر الحياة هادئة مقدسة.</p>
<ul>
<li>حياة المسيح نور ← &#8220;تعلموا مني لأني وديع ومتواضع القلب&#8221; (مت١١: ٢٩).</li>
<li>كلام المسيح نور ← &#8220;هو روح وحياة للإنسان&#8221; (يو٦: ٦٣).</li>
<li>أعمال المسيح نور ← &#8220;من يحبني يحفظ وصاياي&#8221; (يو١٤: ١٥).</li>
</ul>
<p>الكتاب المقدس يشبه حجرة كانت منخفضة الإضاءة في العهد القديم وبالتالي غير واضحة المحتويات، وصارت كاملة الإضاءة في العهد الجديد.</p>
<h4>شرح نص إنجيل القدَّاس - للمتنيح أنبا أثناسيوس مطران كرسي بني سويف والبهنسا<a href="#_ftn9" name="_ftnref9">[9]</a></h4>
<p><strong>(يو١٢: ٤٤- ٤٥)</strong> <strong>&#8220;فنادى يسوع وقال: الذي يؤمن بي، ليس يؤمن بي بل بالذي أرسلني، والذي يراني يرى الذي أرسلني&#8221;</strong><strong>.</strong></p>
<p>صرخ المسيح عالياً، وصرخته توبخ الخوف الذي يكون في وقت غير ملائم، هذا الخوف الذي أثر على الذين آمنوا به ولكنهم أخفوا إيمانهم. فهو يريد أن يُكرَم من الناس الذين يؤمنون به بطريقة علنية وليس خلسة. فهو قد علم أنه رغم أن الإيمان ينبغي أن يكون في القلب، إلا أن الإعتراف الصحيح جداً المؤسس على هذا الإيمان، ينبغي أن يكون بجرأة عظيمة. وإذ هو بالطبيعة الله، قد تنازل ليأخذ صورة مشابهة لصورتنا، ولكنه يرفض في البداية أن يكشف بكلمات واضحة لآذان الناس الذين يبغضونه أنهم ينبغي أن يؤمنوا به، رغم أنه قال هذا كثيراً؛ وهو بالتدريج يجعل أذهان الذين يعانون من مرض الحسد الشديد ضده، وذلك بملائمة تامة لإحتياجاتهم أن ينفذوا إلى عمق أسراره الخاصة، وهو يقودهم هكذا ليس إلى شخصه الإنساني بل إلى كيانه الذي من الجوهر الإلهي؛ ذلك لأن الألوهية تدرك كاملة في أقنوم الله الآب، لأن الآب له في ذاته الابن والروح. وهكذا بحكمة عظيمة يتقدم بهم قائلاً: &#8220;الذي يؤمن بي ليس يؤمن بي بل بالذي أرسلني&#8221; لأنه لا يستبعد، عن أن يكون هو موضوع إيمان بالنسبة لنا، إذ هو إله بالطبيعة وقد أشرق من الله الآب. لكنه يتعامل بمهارة مع عقل الضعفاء لكي يطوعهم إلى التقوى، لكي نفهم منه كأنه يقول كما يلي: حينما تؤمنون بي، أنا الذي من أجلكم صرت إنسانا مثلكم. هذا من ناحية. ولكن من الناحية الأخرى أنا إله بسبب طبيعتي التي هي طبيعة الآب الذي أنا منه، فلا تظنوا عندئذ أنكم تضعون إيمانكم في إنسان. لأني أنا بالطبيعة إله رغم أني أظهر مثل واحد منكم. وأنا أملك في نفسي ذاك الذي ولدني. لأني ما دمت من نفس الجوهر مع ذاك الذي ولدني، فإن إيمانكم بالتأكيد سيكون بالآب ذاته أيضا&#8221;. وكما قلنا قبل ذلك، فإن الرب يدربهم ليصلوا إلى ما هو أفضل، وإذ يوحد ما هو بشري بما هو إلهي لأجل المنفعة، يقول: &#8220;من يؤمن بي&#8221; والكلمات التي بعدها. وهو قد أخبرنا بوضوح تام أن الإيمان لا يجب أن يتجه إلى إنسان، بل إلى طبيعة الله، رغم أن الكلمة كان لابساً الجسد لأن طبيعته لم تتحول إلى إنسان. ولكي يوضح تماماً أنه مساوٍ لله الأب من كل النواحي، بسبب طبيعتهما الواحدة وكونهما لهما نفس الجوهر الواحد، يقول :</p>
<p><strong>(يو١٢: ٤٦) </strong><strong>&#8220;أنا قد جئت نوراً إلى العالم، حتى كل من يؤمن بي لا يمكث في الظلمة&#8221;.</strong></p>
<p>لاحظ هنا، أنه يمسك بايمانهم ويثبته على ذاته، ويتمم بذلك هدفين نافعين. فمن ناحية، باعلانه عن نفسه أنه &#8220;النور&#8221; فهو يبرهن بالطبيعة، لأن هذا الاسم يليق فقط بذاك الذي هو وحده بطبيعته الله، ومن الناحية الأخرى، بذكره لسبب مجيئه، فهو يخجل أي إنسان لا يفكر في محبته. لأننا ينبغي أن نفهم بوضوح أن الذين لم يؤمنوا به بعد، لا يزالون في الظلمة، كما أن الوجود في النور يحصل عليه منه أولئك الذين قد آمنوا به وحدهم. وهو يقودهم إلى تذكر الأمور التي ذكرت عنه في نبوات كثيرة، التي أنبأ فيها أنه سيأتي لكي ينير العالم: فمثلا &#8220;استنيري، استنيري، يا أورشليم، لأنه قد جاء نورك، النور الحقيقي، ومجد الرب أشرق عليك&#8221; (إش٦٠: ١سبعينية)، وأيضاً: &#8220;أرسل نورك وحقك&#8221; (مز٤٣: ٣). لذلك يكون من الحق، وكأنه قال: أنا هو النور الذي تتطلعون إليه في الكتاب، أنه سيأتي لأجل خلاص العالم، لكي ينير على الذين يسيرون في الظلمة كأنهم في الليل.</p>
<p><strong>(يو١٢: ٤٨) </strong><strong>&#8220;الكلام الذي تكلمت به هو يدينه في اليوم الأخير&#8221;.</strong></p>
<p>هو يقول، إنهم سيكونون مدانين من أنفسهم، هؤلاء الذين يرفضون أن يسمعوا له ولا يقبلون الإيمان الذي يخلصهم. لأن من جاء لكي ينير، لم يأت لكي يدين، بل لكي يخلص. لذلك، فالذي لا يطيع، يعرض نفسه لأفظع التعاسات، دعه يلوم نفسه، لأنه ينال عقابا عادلاً. وكأنه يقول: &#8220;لأني لست أنا سبب الدينونة، أنا الذي أريد أن أخلص الذين سيذهبون إلى الدينونة، وقد جئت لهذه الغاية. فالذي يضع قانوناً لمعاقبة العصاة، يضعه ليس لأجل معاقبة الذين يكسرون القانون، بل ليكون تحذيرا للذين يسمعون فيخشونه ويخلصون. إذاً، فلأني قد جئت لأخلص، أوصيكم أن تؤمنوا، وأن لا تحتقروا كلامي؛ لأن الوقت الحاضر هو وقت خلاص وليس وقت دينونة. لأنه في يوم الدينونة، فإن الكلمة التي دعتكم إلى الخلاص هي نفسها ستكون سببا لمعاقبة الذين يعصون.</p>
<p>من النسخة السريانية</p>
<p>[لأن الذين يؤمنون ، فإنهم بيسوع المسيح ينالون مجدًا وسكني مع الله ، وبولس الإلهي يقف إلى جانبنا إذ يكتب هكذا ، أن &#8221; الله كان في المسيح مصالحاً العالم لنفسه &#8221; (۲ کوہ : ١٦) . فلا يحق لأي واحد من الذين اعتادوا أن يسمعوا الكتاب الموحى به من الله بطريقة غبية ، ويحرفون معنى المكتوب حينما يؤكد أن &#8221; الله كان في المسيح &#8221; ، أو يظنون أن بولس يقول عنه إنه &#8221; إنسان لابس الروح &#8221; ، لأن هذا غير صحيح . فالمسيح هو بالحقيقة الله بالطبيعة ، وليس مجرد إنسان &#8221; لابس الله &#8221; مثل أي واحد من الأنبياء].</p>
<h4>الأحد الرابع من الخماسين المقدسة - للمتنيح القمص لوقا سيداروس<a href="#_ftn10" name="_ftnref10">[10]</a></h4>
<p><strong>(يو١٢: ٣٥- ٥٠)</strong></p>
<p><strong>نور العالم</strong></p>
<ul>
<li><strong>أنا جئت نوراً للعالم</strong>: معلوم إن الله نور ليس فيه ظلمة، إنه ساكن في النور الذي لايدنى منه، وتسبحه ملائكة النور. والمسيح شمس البر نور من نور. وهو النور الحقيقي الذي يضئ لكل إنسان آت إلى العالم. وهو أشرق جسدياً بميلاده من العذراء. وأضاء على الجالسين في الظلمة وظلال الموت. وهو بقيامته أنار لنا طريق الحياة والخلود. أشرق على ظلمة القبر فبدد عز الموت وظلام الخوف.</li>
<li><strong>الله أنار في قلوبنا</strong>: الله الذي قال أن يشرق نور من ظلمة، هو الذى أشرق في قلوبنا لإنارة معرفة مجد الله في وجه المسيح.. كما قال الله قديماً في الخلقة: &#8220;ليكن نور فكان نور&#8221;. هكذا أيضاً بقيامته المقدسة أشرق في قلوبنا، وأنار مثل خلقة جديدة في وسط الظلام لنرى مجد الله في وجه يسوع المسيح. المسيح هو النور الحقيقي، لا يكفى أن نسمع عنه، بل هو يقدم لنا ذاته نوراً حقيقياً، لنعرفه ونعيشه ونسلك فيه. فالمسيح بعد القيامة يعطينا نفسه لنحيا به ونلمسه. هذه هي بركات القيامة &#8220;جسوني.. هات أصبعك&#8221;. وهذا ما عاشته الكنيسة في حكمات الرب يسوع في أناجيل الآحاد السابقة: &#8220;أنا هو خبز الحياة.. أنا هو الماء الحيِّ&#8221;.</li>
<li><strong>ولكن كيف نتمتع بالنور الحقيقي؟</strong>: سيروا في النور.. آمنوا بالنور.. لتصيروا أولاد النور، هكذا قال الرب.</li>
</ul>
<p><strong>1-</strong> <strong>سيروا في النور مادام لكن النور</strong>: الذى يسير في النور لا يعثر لأنه يرى نور هذا العالم. فكم وكم الذي يسير خطواته في وجه الله؟ قال داود المرنم: &#8220;الرب نوري وخلاصي ممن أخاف&#8221;. وقال أيضاً: &#8220;سراج لرجلي كلامك ونور لسبيلي&#8221;. فكلمة الرب مضيئة تنير العينين، وتجعل الهدف واضحاً وخطوات الإنسان ثابتة.. لذلك حينما نرى شعاع الكلمة يبزغ في حياتنا. ونور الروح القدس الناري يضئ في نفوسنا كنجم المشرق يهدى سبيلنا، فليس علينا إلا أن نسير فيه بلا إرتباك.</p>
<ul>
<li>السير في النور معناه ملازمة الوصية المقدسة، والتمتع بالإنجيل كل يوم وكل ساعة وفى كل ظروف حياتنا.. أما إذا اختفى النور من أمامنا فلابد أن نتعثر ونسقط في حفرة وفخ إبليس.</li>
<li>السلوك في النور كما يعلمنا القديس يوحنا الحبيب: &#8220;من قال إنه في النور وهو يبغض أخاه فهو إلى الآن في الظلمة&#8221; من يحب أخاه يثبت في النور وليس فيه عثرة. أما من يبغض أخاه فهو في الظلمة، وفى الظلمة يسلك ولا يعلم أين يمضي، لأن الظلمة أعمت عينه.</li>
</ul>
<p><strong>2-</strong> <strong>آمنوا بالنور</strong>: الإيمان بالنور معناه التصديق المطلق والثقة في مواعيد الله، كثقة النورأمام الظلمة. وهكذا يترجم إيماننا بالنور في حياتنا العملية عندما نتمسك بأعمال النور ونبغض أعمال الظلمة.</p>
<ul>
<li>الذي يحب الطهارة يبغض النجاسة. وبإتضاعه يغلب الكبرياء. وبالقناعة يغلب الطمع ومحبة المال. وبوداعته يغلب الغضب.. وهكذا يظهر إيمانه بالنور بطريقة عملية ويكمل فيه قول ربنا: &#8220;فليضئ نوركم هكذا قدام الناس لكي يروا أعمالكم الحسنة، ويمجدوا أباكم الذي في السموات&#8221;. إذن الإيمان بالنور ليس كلاماً، ولكن حقيقة. هو رفض كل أعمال الظلمة، كما هو مكتوب &#8220;لا تشتركوا في أعمال الظلمة غير المثمرة، بل بالحري وبخوها&#8221; ومعلوم جيداً ما هي أعمال الظلمة التي يعملها روح الظلمة في العالم.</li>
</ul>
<p><strong>3- لتصيرو أبناء النور</strong>: المولود من الله يصير إبناً للنور، وهذه هي النعمة التي أخذناها في المعمودية. لأن المعمودية هي إستنارة. لذلك قيل: &#8220;جميعكم بني النور، وبني النهار لسنا من ليل ولا من ظلمة&#8221;. والقديس بولس الرسول يقول: &#8220;لكي تكونوا بلا لوم وبسطاء. أولاد الله بلا عيب في وسط جيل معوج وملتوٍ، تضيئون بينهم كأنوار في العالم &#8220;فإن كان هكذا أمر أولاد الله في العالم. فما أخطر هذا المركز، وما أحرج موقفنا اليوم.. والسؤال الذي يطرح نفسه الآن، هل نحن فعلاً نور للعالم؟ إن عدم تمتعنا بالمسيح الحيّ فينا، وعدم تمتعنا بنور الروح القدس الساكن فينا، واهتمامنا وإنشغالنا بالعالميات وإنحرافنا وراء شهوات وخطايا كثيرة، صَّيرنا أبعد ما نكون عن النور الذى يضئ للآخرين. ولكن هل نعود نشعل نار الحب الإلهي فينا، وندمج نار الروح بالصلاة والتضرع، ونرجع كل واحد عن طريق خطاياه؟ لعل المسيح ينير دواخلنا وينير بنا للآخرين.</p>
<ul>
<li><strong>أية شركة للنور مع الظلمة</strong>: النور لا يختلط مع الظلمة. هذه حقيقة يعرفها كل أحد.. لذلك كيف يكون في حياتنا خلط مفزع بين نور الحياة مع الله، وبين ظلمة الحياة في العالم؟ .</li>
</ul>
<p>ترى هل يتفق روح المسيح وروح العالم؟ إن بسبب هذا المزج صارت حياتنا ممزقة، نريد أن نعيش في النور وأن نتمسك بالظلام في آن واحد.. نريد أن نتمتع بالصلاة، وأن نتلذذ بالمسرات العالمية أيضاً.</p>
<ul>
<li>في أفراحنا نعمل الإكليل، ثم نقضي سهرة في خلاعة، وأشياء لا تليق.. أليس هذا خلط مذهل بين النور والظلمة؟.</li>
<li>في أوقات فراغنا نقضي الصباح بعض الوقت في القداس، ثم بعد ذلك لا تفرقنا من أهل العالم في لبسنا وكلامنا وقضاء وقت راحتنا.</li>
<li>لا تكونوا تحت نير مع غير المؤمنين. لأنه أيه شركة للظلمة مع النور، لا ترتبط في دخولك وخروجك ومعيشتك مع إنسان لا يؤمن بالنور، وليس له شركة مع الله، لئلا تفسد حياتك. لأن المعاشرات الردية تفسد الأخلاق الجيدة .</li>
</ul>
<p><strong>تداريب عملية</strong></p>
<ol>
<li>مع إشراق كل صباح تأمل في النور الحقيقي، وأطلب إليه أن يشرق في حياتك وعلى أفكارك، ويطرد عنك قوى الظلمة ووظلال موت الخطية. إن صلاة باكر في الأجبية مركزة حول هذا الموضوع، مزاميرها تتكلم عن النور الحقيقي: &#8220;الرب نوري&#8221;. قد ارتسم علينا نور وجهك يا رب &#8220;يا الله إلهي إليك أبكر&#8221;.</li>
</ol>
<ul>
<li>وإنجيل باكر يحدثنا عن النور الحقيقي الذي يضئ لكل إنسان: &#8220;والنور يضئ في الظلمة والظلمة لم تدركه&#8221;.</li>
</ul>
<p>والقطع التي نصليها: &#8220;أيها النور الحقيقى أتيت إلى العالم بمجيئك، وكل الخليقة تهللت بمجيئك&#8221;.. &#8220;عندما دخل إلينا وقت الصباح أيها المسيح إلهنا النور الحقيقي، فلتشرق فينا الحواس النورانية ولا تغطينا ظلمة الآلام&#8221;.. &#8220;أنت هي أم النور المكرمة من مشارق الشمس إلى مغاربها&#8221;.. وهكذا تنقلنا الصلاة من التمتع الوقتي بالنور اليومي، إلى التمتع العميق بالنور الحقيقي وقيامة المسيح.</p>
<ol start="2">
<li>درب نفسك على حفظ الكلمة الإلهية التي قال عنها بطرس الرسول: &#8220;إذا تأملتم إليها كما إلى سراج منير في موضع مظلم&#8221;. وقال عنها داود النبي: &#8220;سراج لرجلي كلامك ونور لسبيلي&#8221;. إذا حفظتها كل يوم وكررتها في كل مناسبة، فإنها تنير ذهنك وتنير قلبك، وتطرد كل ظلمة وكل فكر ردئ من حياتك.</li>
</ol>
<h4>الأحد الرابع من الخماسين المقدسة - للمتنيح القمص بيشوي كامل<a href="#_ftn11" name="_ftnref11">[11]</a></h4>
<p>بسم الآب والآبن ىالروح القدس الإله الواحد آمين</p>
<p><strong>الرب يسوع هو ماء حياتنا</strong></p>
<p>الأسبوع الرابع من الخماسين المقدسة.. إنجيل القداس يحدثنا عن النور. سیروا في النور ما دام لكم النور لئلا يدرككم الظلام، والذي يتتبع خطوات الشعب في العهد القديم يجد أنهم بعد ما عبروا البحر كانوا محتاجين لمرشد لئلا يضلوا في صحراء قاحلة. وإنت تعرف قد إيه الإنسان اللي يتوه في الصحراء ما مصيره. مصير الإنسان اللي يتوه في الصحراء وحش جداً علشان كدة كان لازم يبعت لهم عمود النور يرشدهم في الطريق. وعمود النور هو رمز للمسيح له المجد.</p>
<p>والصحراء هي رمز للعالم. واللي يمشي في العالم بدون يسوع ووصاياه.. بالضبط هو زي اللي ماشي في وسط البرية بدون عمود نور. تسمع عن ناس تاهوا بعربيتهم.. ولا فقدوا طريقهم وسط الصحراء يمشوا مرة شمال ومرة يمين.. ويخلص منهم الوقود بتاعهم.. وتخلص الميه ومش عارفين هم ماشين فين لغاية ما تخلص حياتهم وينتهوا في ضلالهم.</p>
<p>فالإنجيل النهاردة.. أو الكنيسة عاوزة تعلمنا وتقول إن القيامة اللى إحنا بنعيد بيها قبل الخماسين ده هي عبارة عن مسيرة في النور.. مسيرة خلف المسيح القائم من الأموات. لأن يوحنا الإنجيلي افتتح إنجيله بهذه الكلمات &#8220;النور جاء إلى العالم والظلمة لم تدركه&#8221;. يعني بالظبط كدة العالم كان تايه في برية ونهايته الهلاك بدون أي مبالغة مش أقل من البرية اللي كان تايه فيها شعب إسرائيل، والمسيح بالضبط.. بالضبط هو النور. وإللي ما يمشيش ورا المسيح هايكون نهايته يفقد حياته وسط البرية يموت من العطش.. ويموت من الجوع. ولا يعرف له طريق.</p>
<p>وهو ده الكلام اللي قاله ربنا يسوع النهاردة. لأن الذي يمشي في الظلام ليس يدري أين يتوجه. فدي (فهذه) فرصة ما دام لكم النور سیروا في النور لكي تكونوا أبناء النور.</p>
<p><strong>مسيرة القيامة</strong></p>
<p>فأبناء القيامة يا أحبائي هم أبناء النور. فإحنا النهاردة المسيرة بتاعتنا مع المسيح اللي قام في فجر القيامة.. مع فجر النور الذي أشرق على العالم. هي دي سكتنا.. هی دي سیرتنا. ومن غير المسيح نبقى إحنا ماشيين في الظلمة. ومن تعليم يسوع يبقى إحنا لا نعرف إلى أين نمضي. لذلك ابتدأ الكتاب المقدس يؤكد على إن فيه صفات معينة للنفوس اللي ما قامتش معاه. اللى قامت مع المسیح دي نفوس عايشة في النور.. نفوس عايشة في النور علشان كدة هي عايشة في نور القيامة. واللي ما قامتش مع المسيح دی لسة عايشة في الظلمة. عارف كمان زي إيه بالضبط؟!.. عارف في العهد القديم في خلقة العالم كانت الأرض كتلة مظلمة، ولكن الله قال &#8220;ليكن نور&#8221;. تعرف بعدما قال ليكن نور نورت الدنيا. ده عاش به الناس بالكلمة اللي قالها ربنا في العهد القديم.. عاشوها أجيال كبيرة وسنين طويلة. بكلمته &#8220;ليكن نور&#8221;.</p>
<p>إحنا في العهد الجديد أيضا بولس الرسول قال.. أخذ الآية بتاعة العهد القديم قال &#8220;الذي قال أن يشرق من الظلمة هو الذي أضاء في قلوبنا لإنارة معرفة مجد الله في وجه يسوع المسيح&#8221;.. الله اللي نور في العهد القديم هو اللي بعت يسوع المسيح علشان لما نبص في وشه تنور حياتنا.. هو.. هو الله الذي قال أن يشرق النور من الظلمة في العهد القديم اللي أنار حياتنا في وجه يسوع المسيح لإنارة معرفة مجد الله في وجه يسوع المسيح.. مش عارف أد إيه أصور لك زي ما يكون نور بس مخفي مش شايفينه.. وساقط علی مراية جامدة كدة وإنت فجأة بصيت في المراية كدة فالنور شع في وشك ومش بس كدة.. إن المسيح جاي علشان إحنا لما نسير في مسيرة النور نبقى أولاد للنور. لأن كلامه النهارده بيقول &#8220;سيروا في النور&#8221; ما يقلش أنا النور بس.. ويقول سیروا في النور علشان إحنا في فترة القيامة.. الخماسين.. فالكنيسة قالت إن القيامة هي مسيرة النور بعينها.</p>
<p><strong>مسيرة النور</strong></p>
<p>فيه حاجة في ذهن المسيح اسمها مسيرة النور .. مسيرة النور دي يسير فيها أولاد النور. ومين هم أولاد النور؟!!.. هل كل واحد يقدر يمشي في مسيرة النور؟!.. قال لا.. ده فيه ناس ما تحبش النور قال عنهم المسيح &#8220;لئلا توبخ أعمالهم&#8221; يحبوا الظلمة علشان يعيشوا زي الحشرات يعملوا الأعمال الوحشة زي ما هانشوف دلوقتي في الظلمة.. فإحنا مش بس بنآمن إن المسيح هو نور العالم. ولكن نحن أيضاً أبناء النور، مدعوين لمسيرة النور اللي هي مسيرة القيامة.</p>
<p><strong>أعمال النور</strong></p>
<p>اتكلم ربنا عن الأعمال وقال: إن أولاد النور يعملوا أعمال النور. قال ليرى الناس أعمالكم الصالحة ويمجدوا أباكم الذي في السموات. فأعمالكم تبتدی تنور. وقال تشبيه على كدة &#8220;لا يمكن أن يوقد مصباح ويوضع تحت مكيال بل يضعونه فوق المنارة لكي يضئ لكل إنسان. هكذا ليرى الناس أعمالكم الصالحة ويمجدوا أباكم الذي في السموات. يشوفوا الأعمال ويمجدوا صاحب النور. علشان كدة الرسول يقول أعمال الظلمة وبخوها. فيه أعمال اسمها أعمال الظلمة. لأن الأمور الصادرة منهم سراً ذكرها من العار. ما أقدرش أقولها. ده الرسول بولس بيقول كدة. لا تشتركوا معهم في أعمال الظلمة بل بالحري وبخوها لأن الأمور الصادرة منهم سراً ذكرها من العار. وطبعا دي أعمال الظلمة وحشة. دي مش مسيرة القيامة.. وفي العهد القديم حزقيال كدة يمكن قلبه بيقوله: ليه ربنا قاسي شوية على الشعب؟ قال له ربنا تعال وأنا ها أوريلك اللي بيعملوه كهنة إسرائيل وعمل له خرم في الحيطة كدة وقال له بص من الخرم ده فوجد كل الرجاسات.. ما هي أوضة مقفولة مالهاش شبابيك ولا فيها نور. وكهنة إسرائيل موجودين فشاف گل الرجاسات وكل النجاسات. فقال له شفت ماذا يصنع كهنة إسرائيل في الظلام؟! قال لكن هم قدامنا كويسين. قال له لكن أنا بحاسبهم على الأعمال اللى بيعملوها في الظلمة. علشان كدة بيقول عن ربنا إن عينيه بتخترق أستار الظلام. وإن شعب إسرائيل في فترة خطيته كان يقول في سفر إشعياء إن الله لا يرانا. يعني يعمل الخطية ويقول الله لا يرانا. لكن يوسف الصديق وهو مع إمرأة فوطيفار قال لها إزاي أصنع هذا الشر العظيم وربنا شايفني وأخطئ إلى الله؟!..</p>
<p><strong>أبناء النور</strong></p>
<p>فأولاد النور اللي ماشيين في مسيرة القيامة بيعيشوا وبيعملوا أعمال النور.. يهربوا من أعمال الظلمة.. أعمال الظلمة اللي بتتعمل في الظلمة اللي الناس تبقى نظيفة من بره لكن ممكن الظلمة تكون مالية من جوة. علشان كدة ربنا طلب مننا وقال أنا عايز القلب النقي &#8220;طوبى لأنقياء القلب&#8221; لأن دول القلب بتاعهم يبقى عنده بصيرة روحية يستطيع أن يعاين الله. فالأعمال.. أعمال الظلمة ما يصحش تليق بأولاد النور اللي ماشيين في مسيرة القيامة. ممكن مش بس القلب يظلم.. لكن ممكن الجسد كله يظلم. قال ربنا يسوع أولاد ربنا يتغذى جسدهم على النور.. أولاد الظلمة يتغذى جسدهم على الظلمة &#8220;سراج الجسد هو العين&#8221;.. سراج يعني المصباح اللي بينور. فإذا كانت عينك مظلمة أو شريرة فجسدك يكون كله مظلماً. دي حاجة خطيرة جداً بينبهنا ليها المسيح. إن الجسد كان ممكن ينور وفعلا نور جسد القديسين وكثير من القديسين أو الكنيسة حتى اصطلحت إن أي قديس ترسم له هالة نور حوالين رأسه زي ما إنتم شايفين من الصور الموجودة على حامل الأيقونات.. فسراج الجسد هو العين. إذا أظلمت العين فالجسد كله يكون مظلماً.. فأرجو إن إحنا نأخذ الأمور دي بجدية.. لأن إحنا في القيامة مدعوين لمسيرة القيامة اللي هی مسيرة النور. مسيرة القيامة عمرها ما كانت مسيرة ظلمة.</p>
<p>أما يوحنا الحبيب فيؤكد على موضوع خطير جداً آخر.. ليس الجسد فقط لكن يقول هناك أعمال اسمها أعمال النور اللي هي المحبة. والذي لا يعمل أعمال المحبة فهو في الظلمة. والظلمة أعمت عينيه ولا يعلم أين يمضي.. أعمال المحبة. أعمال النور.. اللي ماشيين في مسيرة النور.. مسيرة القيامة عليهم إنهم يعملوا أعمال المحبة لكن إذا دخلت عدم المحبة في القلب ماذا يقول الرسول يقول: &#8220;أيها الإخوة نحن قد انتقلنا من الموت&#8221; للحياة (للقيامة).. علشان إيه قال لأننا نحب الإخوة.. لأننا نحب الإخوة.. مش هو النور الذي جاء إلى العالم والظلمة لم تدركه!! ونحن مسيرة النور.. فإحنا أولاد النور علشان كدة الرسول يرجع ويقول تاني: &#8220;الذي لا يحب لا يعرف الله&#8221; ده على طول كدة! قال آه لأن الله محبة والله نور. يعني أنا عايز الصورة دي ما تروحش من ذهنك. إحنا في مسيرة القيامة اللي هي مسيرة نور. مش ممكن أبدا مسيرة القيامة تبقى مسيرة ظلمة. مسيرة القيامة مسيرة نور.. أعمال نور.. جسد منور، عین منورة.. قلب منور، حياة مضيئة. ده الكنيسة بتقول على الصليب بتاع ربنا يسوع المسيح إن هو الخشبة التي أوقد عليها المصباح الذي هو ربنا يسوع المسيح. يعني ربنا يسوع المسيح قعد ينور على الصليب زي الشمعة بتتحرق لغاية لما أسلم الروح. ولغاية النهارده تعاليم الصليب ومبادئ الصليب وحب الصليب.. بذل الصليب.. وتضحية الصليب.. هي اللي منورة العالم.. إن اتكلموا عن المحبة ما عندناش غير الأذرع المفتوحة.. إن اتكلموا عن التسامح في أجمل صوره.. في صوره النيرة جداً يبقى المسيح وهو بيقول ياأبتاه اغفر لهم لأنهم لا يعلمون ماذا يفعلون. إذا اتكلموا عن الحب. &#8220;هكذا أحب الله العالم حتى بذل ابنه الوحيد&#8221;.</p>
<p>فالكنيسة بتاعتنا بالروح القدس لقطتها كدة وقالت الصليب هو الخشبة التي أوقد عليها المصباح الذي هو ربنا يسوع المسيح لكى ينير العالم كله..</p>
<p>فدي أعمال النور اللى أولاد النور يعملوها علشان يسيروا في مسيرة القيامة.</p>
<p><strong>أعمال الظلمة</strong></p>
<p>لكن أيضا ليس النور كله أعمال.. لكن النور أيضا أفكار. فسألوه إيه اللي بينجس الإنسان لما كانوا بيكلموه على أنواع الأكل وبتاع؟.. قال لهم ليس ما يدخل الفم ينجسه لكن الذي يخرج. قالوا له بيخرج إيه؟ قال لهم من القلب تخرج أفكار شريرة ونجاسة وحسد وقتل.. أفكار.. والأفكار دي يا أحبائي تظلم القلب، وتخليه يعيش في ظلمة كاملة، ومش هاكون مبالغ لو قلت إن الظلمة دي أكثر قوة من الظلمة الحقيقية. يمكن الظلمة الحقيقية يقدر الواحد يمشي فيها كدة، شوية يلطش یعني.. لكن ظلمة الأفكار لما تسيطر على الإنسان مش ممكن أبداً يعرف يتحرك شمال ولا يمين.. ظلمة.. ظلمة يعني في القلب. قلب ما فيهوش محبة ربنا.. يبقى عايش في الظلمة.. قلب. ما فيهوش محبة الناس، قلب مرتبك بهموم العالم.. أقول أكتر من كدة رغم إن بيقولوا قال الناس یعني بتنتقل لعصر فيه علم أكثر.. وفيه فهم أكثر.. لكن طبعا الحاجات دي مالهاش دعوة بالعلم أبداً. كتير حتى من المتعلمين بيآمنوا بأفكار الحسد ويقول لك فيه عمل معمول. وراحوا وطلعوا ولقوا حاجات مكتوبة. طبعا ماهو لازم يلاقوا حاجات مكتوبة. قالوا لا لقوا حاجات مكتوبة ما كانش حد قال لهم. طبعا وهي دي كتير على الشيطان يعني إنه يطلع حاجات مكتوبة ما حدش قال لهم عليها.. ما هي حاجات من ماضي الإنسان ما فيش واحد ما سمعش لغاية النهاردة واحد سألوه على العمل ده وراحوا طلعوا له العمل ده اللي لقوا في عمل  ما فيش مرة واحد راح وما لقوش فيه عمل.. ومافيش واحد راح وما لاقوش فيه كتابة.. وحاجات حصلت.. حاجة عجيبة جداً! آدي أعمال، آدي أفكار ظلمة أيضاً.</p>
<p>أمال أفكار النور تكون إيه؟.. أفكار النور تكون نور المسيح منور القلب.. نور الثقة في محبة ربنا.. نور الثقة في كلماته.. في الكلام اللي هو قاله.. أوريلك النور يدخل القلب إزاي.. كلام ربنا ينور القلب.. ده يقول عنه الكتاب المقدس إنه يعلم الجهال.. يعلم الجهال. ويرجع تاني في نفس المزمور ويقول سراج لرجلى كلامك ونور لسبیلي.. يعني رجلي خطت خطواتها على نور كلمة ربنا، وسراج لرجلي كلامك ونورلسبیلي. إنت النور بتاعى يا ربي يسوع.. وكلمتك هي النور. فسيروا في النور ما دام لكم النور.. لكن أفكار الظلمة وحشة.. الحقد يظلم القلب والغيظ، والزعل على خسارة في العالم.. العالم يمضي وشهوته تزول. وأعمال الظلمة وأفكار الظلمة اللي حكيت لك عليها. ده فيه ساعات الواحد من وحاشته يفكر في زميله أو أخوه فكر هو أصلا مش موجود فيه يكبره جوة مخة، والظلمة تملا عينه، ويروح منكد وما ينامش طول الليل ويقعد يفكر، ويمكن زميله ما يفكرش في الموضوع ده. ولا جری منه حاجة.. لكنه فكر ظلمة. مسكين الإنسان اللي ما اتعلمش أفكار المسيح. علشان كده بولس الرسول يقول: &#8220;أما نحن فلنا فكر المسيح&#8221;.. فكر المسيح ده. هل ممكن تتخيل معايا.. إن فكر المسيح ده دخله شر؟.. دخله أفكار شريرة؟ دخله أفكار كراهية؟ ودخله أفكار محبة العالم؟.. دخله أفكار شيطان؟!.. أبدا ده يقول &#8220;رئيس هذا العالم آت ولكن ليس له في شئ&#8221;.</p>
<p>فلاحظ یا عزیزي.. مسيرة النور.. مسيرة القيامة. إنت ابن النور فتعمل أعمال النور. نمرة (۲) تعتمد على كلمة ربنا. لأن كلمة ربنا محطوطة مخصوص علشان تنور لينا الطريق وتنور القلب.. طب واللي يهمل كلمة ربنا؟! هو حر. ها يعيش في الظلمة إذا كان قال &#8220;سراج لرجلي كلامك&#8221;.. بيقى اللى مش ماشي حسب وصية الإنجيل يبقى ده هو ماشي في الظلمة. إحنا كلنا محتارين يا أعزائي.. وبنسأل أسئلة كتيرة. يا تری ده صح ولا غلط؟ ده صح ولا مش صح؟ والعمل اللي عمله فلان ده صح ولا غلط؟. وحاجات كتيرة يعني الواحد مش مستريح أمال يستريح إزاي؟ قال بكلمة ربنا.. بالإنجيل كل حاجة ها تلاقيها في الإنجيل.. وها تلاقي طريق النور واضح زي الشمس.. وتلاقي الظلمة بينبهك منها علشان ما تتعثرش رجليك بيها. فاللي يهمل كلمة ربنا بيضل مسيرته.. بيضل المسيرة بتاعته.. وإحنا يا إخوتي أولاد النور.. ومدعوين لنسير في النور.. والمسيح نور العالم. وإحنا جايين علشان نكمل المسيرة دی وننور للعالم أيضا.. ويحملنا المسيح المسئولية دية. وزي ما أنا نور العالم. أنا إديتكم النور علشان إنتم كمان تكونوا نور للعالم.. كونوا نور للعالم.</p>
<p>أيضا مسيرة النور مسيرة القيامة.. مسيرة رجال الصلاة اللي حياتهم منورة. إذا كانت كلمة ربنا بتنور القلب وبتنور الطريق وبترشدنا. الصلاة عبارة عن وقفة قدام مصدر النور.. والوقوف قدام مصدر النور لازم يعكس النور في حياتنا، وأديك مثل عملي: موسى لما وقف قدام ربنا على الجبل نزل فالشعب قال له مش قادرين نشوف وشك.. قال لهم فيه إيه جديد في؟ هو مش حاسس. قالوا له وشك منور زي الشمس. قال لهم طيب أحط برقع.. حط برقع واتنين وثلاثة وسبعة. قالوا له برضه مش عايزينك تكلمنا خللي هارون يكلمنا لأن النور اللي جاي منك نور شدید.. نور كبير جداً، ما يقصدش نور مادي، لكن هو نور النعمة الإلهية.. اللي هو واقف قصادها. لذلك يا أحبائي عندما ظهر موسى وإيليا مع المسيح على جبل التجلي. كان ربنا يسوع المسيح في حالة التجلى بتاعته مكشوف منور. وكان موسی وإيليا معه يظهران بمجد عظيم. فكانوا كمان واخدين من النور اللي جاي مع المسيح منه.</p>
<p>اطمئن وافرح جداً إن إحنا حياتنا في الأبدية ها تكون حياة نور، بيقول لك في سفر الرؤيا &#8220;لا تكون شمس&#8221; مش ها يكون فيه شمس فوق لأن المسيح هو شمس البر، هو نور الحياة الأبدية بتاعتنا هو نور حياتنا. فالصلاة في الواقع طبيعة أولاد النور اللي ماشيين في مسيرة النور.</p>
<p>لأجل هذا يا أحبائی سیروا في النور، وقفوا كتير قدام النور يشع النور فيكم. يعني المزمور بيقول إيه؟! &#8220;بنورك يا رب نعاين النور&#8221;.</p>
<p>اشرح لى الآية دي.. النور يجي علينا كدة يقوم يفتح قلبنا وبصيرتنا وعينينا.. نقوم نشوف النور. فالوقفة قدام ربنا تحكم الإنسان وتنور ذهنه وتنور فكره وتنور جسده وتنور حياته.. وتجعله ابن للنور. فإحنا مطالبين كأولاد للنور علشان نسير في مسيرة القيامة دية أن يكون لينا أعمال النور. ويكون لينا فكر النور الذي في المسيح يسوع في كلمته الحية وتكون لنا حياة النور في وقفتنا قدام ربنا.</p>
<p>لإلهنا المجد دائماً أبدياً آمين.</p>
<h3>المراجع</h3>
<p><a href="#_ftnref1" name="_ftn1">[1]</a>  تفسير مزمور ٤٣ - القمص تادرس يعقوب ملطي.</p>
<p><a href="#_ftnref2" name="_ftn2">[2]</a>  تفسير سفر التكوين - إصحاح ٥ - القمص تادرس يعقوب ملطي.</p>
<p><a href="#_ftnref3" name="_ftn3">[3]</a>  كتاب رسالة القديس أثناسيوس الرسولي في معنى المزامير - صفحة ١٣ - الأستاذة إيريس حبيب المصري.</p>
<p><a href="#_ftnref4" name="_ftn4">[4]</a>  شرح إنجيل يوحنا للقديس كيرلس الأسكندري - المجلد الثاني - صفحة ٧٧ - ترجمة دكتور نصحي عبد الشهيد - مؤسسة القديس أنطونيوس - المركز الأرثوذكسي للدراسات الآبائية.</p>
<p><a href="#_ftnref5" name="_ftn5">[5]</a>  عظات علي سفر التكوين - صفحة ٢٧ - ترجمة أستاذة مريم أشرف سيدهم ، أستاذة مريم رشاد حليم ، دكتورة جينا بسطا.</p>
<p><a href="#_ftnref6" name="_ftn6">[6]</a>  تفسير سفر اللاويين - الإصحاح الرابع والعشرين - القمص تادرس يعقوب ملطي.</p>
<p><a href="#_ftnref7" name="_ftn7">[7]</a>  كتاب تفسير رسالة فيلبي - الإصحاح الثاني - القمص تادرس يعقوب ملطي.</p>
<p><a href="#_ftnref8" name="_ftn8">[8]</a>  كتاب المنجلية القبطية الأرثوذكسية - صفحة 403 - البابا تواضروس الثاني.</p>
<p><a href="#_ftnref9" name="_ftn9">[9]</a>  تفسير إنجيل يوحنا - الإصحاح الثاني عشر - الأنبا أثناسيوس مطران كرسي بني سويف والبهنسا.</p>
<p><a href="#_ftnref10" name="_ftn10">[10]</a>  كتاب تأملات روحية في قراءات أناجيل آحاد السنة القبطية - المتنيح القمص لوقا سيداروس.</p>
<p><a href="#_ftnref11" name="_ftn11">[11]</a>  كتاب عظات مضيئة معاشة - صفحة 387 - إصدار مطرانية ملوي وأنصنا والأشمونين.</p>

      {% endcreateArticleAccordions %}
    </section>
  {% endblock %}
