---
layout: 'layouts/reading.html'
title: 'يوم الثلاثاء من الأسبوع الرابع للخماسين المُقَدَّسَة'
tags: 'pentecost'
permalink: /articles/pentecost/4-2.html
---
  {% block content %}
    <section id="readings">
      <ul>
      {% if 'undefined' != 'undefined' %}
      
      {% else %}
      {% if '19.67:1-2' != 'null' %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">العشية</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeVespers '19.67:1-2' '41.4:35-41' %}
          </div>
        </div>
      </li>
      {% endif %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">باكر</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeMatins '19.67:5-7' '41.1:40-44' '' %}
          </div>
        </div>
      </li>
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <h3 class="flex items-center justify-between">
            <span class="kufi">القداس</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </h3>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeLitugy '45.3:19-21' '62.3:13-17' '44.5:27-29' '19.54:1-2' '43.8:51-55' %}
          </div>
        </div>
      </li>

      {% endif %}
        </ul>
    </section>
    <section id="article">
      <h3 class="mt-8 mb-4 heading-explain">شرح القراءات</h3>
      {% createArticleAccordions %}
        <h3>قوة وسمو تعليم المسيح</h3>
<p>تحدثنا قراءات اليوم عن <strong>قوة وسمو تعليم المسيح عن أي تعليم آخر، </strong>فتعليم البشر يرتبط بقدرتهم وسلطتهم وعلاقتهم المحدودة، أما تعليم المسيح فله القوة الإلهية المغيرة والمحيية من موت العالم وأوجاعه وأتعابه وأخطاره..</p>
<h4>المزامير</h4>
<p>لذلك تتكلم المزامير عن ← <strong>إحتياج النفس لمراحم الله وبركته وقوته الإلهية في حياتها</strong>..</p>
<ul>
<li><strong>مزمور عشية</strong> &#8220;ليتراءف الله علينا ويباركنا &#8230;. لتعرف في الأرض طريقك وفي جميع الأمم خلاصك&#8221;.</li>
<li><strong>مزمور باكر</strong> &#8220;فلتعترف لك الشعوب يا الله &#8230;. ليباركنا الله إلهنا. ليباركنا الله&#8221;.</li>
<li><strong>مزمور القداس</strong> &#8220;اللهم بإسمك خلصني وبقوتك أحكم لي&#8221;.</li>
</ul>
<h4>انجيل عشية</h4>
<p>وفي انجيل عشية عن ← <strong>قوة المعلم الإلهي وسلطانه على الطبيعة </strong>&#8220;فأيقظوه وقالوا يا معلم أما تحفل أن نهلك، فقام وانتهر الريح وقال للبحر أسكت وأبكم، فسكنت الريح وصار هدوء عظيم&#8221;.</p>
<h4>انجيل باكر</h4>
<p>وفي انجيل باكر عن ← <strong>قوة المعلم الإلهي في شفاء الأمراض وسمو تعليمه في أنه جاء ليكمل الناموس </strong>&#8220;فتحنن عليه يسوع ومد يده ولمسه وقال له أريد فأطهر فذهب عنه البرص حالاً وطهر&#8230;. وقال له أنظر لا تقول لأحد بل إمض وأَرِنفسك للكاهن وقدم عن تطهيرك القربان الذي أمر به موسي&#8221;.</p>
<h4>البولس</h4>
<p>وفي البولس عن ← <strong>سمو التعليم الإلهي أنه ظهر بر الآب المشهود له في الناموس والأنبياء </strong>ضد استقامة الإستعلان سواء كانت لمن هم خارج الحظيرة أو من يظنون أنهم داخل الحظيرة &#8220;وأما الآن فقد ظهر بر الله بدون الناموس مشهوداً له من الناموس والأنبياء&#8221;.</p>
<h4>الكاثوليكون</h4>
<p>وفي الكاثوليكون عن ← <strong>قوة التعليم المسيحي الذي يعطي للإنسان محبة نابعة من محبة الصليب والمصلوب يهب حياة وتبيد موت الكراهية والسلبية </strong>&#8220;من لا يحب أخاه يبقى في الموت&#8230;. بهذا قد عرفنا المحبة أن ذاك وضع نفسه لأجلنا فنحن ينبغي لنا أن نضع أنفسنا لأجل أخوتنا وأما من كان له في هذا العالم معيشة ورأى أخاه مُحتَاجَاً فحبس رحمته عنه فكيف يمكن أن تكون محبة الله ثابتة فيه&#8221;.</p>
<h4>الابركسيس</h4>
<p>وفي الابركسيس عن ← <strong>قوة التعليم الإلهي أمام عناد المقاومين وتهديداتهم </strong>&#8220;فلما جاءوا بهم أقاموهم في المجمع فسألهم عظيم الكهنة قائلاً: ألسنا أوصيناكم وصية أن لا تعلموا أبداً بهذا الأسم وها أنتم قد ملأتم أورشليم بتعليمكم&#8230;. فأجاب بطرس والرسل وقالوا لهم ينبغي بأن يُطاع الله أكثر وأفضل من الناس&#8221;.</p>
<h4>إنجيل القداس</h4>
<p>وفي انجيل القداس عن ← <strong>قوة تعليم إبن الله المعطي حياة أبدية لمن يحفظ كلامه ووصيته </strong>&#8220;ثم كلمهم يسوع أيضاً قائلاً أنا هو نور العالم من يتبعني فلا يمشي في الظلمة بل ينال نور الحياة&#8221;.</p>
<h3>ملخص الشرح</h3>
<ul>
<li>احتياج النفس لقوة الله وخلاصه وبركته ومراحمه الإلهية. (مزمور عشية – مزمور باكر- مزمور القداس).</li>
<li>قوة المعلم الإلهية وسلطانه على الطبيعة. (انجيل عشية).</li>
<li>سمو تعليم المسيح أنه أكمل الناموس وأظهر بر الآب المشهود له. (انجيل باكر – البولس).</li>
<li>قوة التعليم المسيحي أنه يعطي محبة نابعة من الصليب تبيد موت الكراهية والسلبية. (الكاثوليكون).</li>
<li>قوة تعليم المسيح أمام المعاندين والمقاومين. (الابركسيس).</li>
<li>قوة تعليم ووصية إبن الله وكلمته المحيية المعطية حياة أبدية لمن يحفظها ويحيا بها. (إنجيل القداس).</li>
</ul>
<h3>عظات آبائية للثلاثاء من الأسبوع الرابع من الخمسين يوم المقدسة</h3>
<h4>من الرسائل الفصحية - للقديس أثناسيوس الرسولي<a href="#_ftn1" name="_ftnref1">[1]</a></h4>
<p>أخوتي الأعزاء.. أنني كما اعتدنا أستعد مرة أخرى لأخبركم عن العيد المنقذ الذي سيحل. فأنه وإن كان أضداد المسيح (الأريوسيون) يضايقونكم وإيانا بأحزان وآلام، لكن إذ يعزينا الله بالإيمان المشترك (رو١: ١٢) أكتب إليكم من روما.</p>
<p>وإذ أحفظ العيد هنا مع الأخوة، إلا أنني أكون حافظاً له معكم بالإرادة والروح، إذ نقدم جميعاً صلوات عامة إلى الله الذي وهبنا لا أن نؤمن به فحسب بل وأن نتألم أيضا من أجله (في١: ٢٩).</p>
<p>فإننا ونحن مضطربون لبعدنا عنكم، لكن الله يحركنا للكتابة إليكم، فتصير لنا هذه الرسالة تعزية، ويلاحظ بعضنا البعض محرضين بعضنا في الأعمال الصالحة (عب١٠: ٢٤).</p>
<p>حقا إن أحزاناً غير محصية واضطهادات مُرَّة موجهة ضد الكنيسة، ضدنا. لأن الهراطقة (الأريوسيين) إذ هم فاسدين في أذهانهم، منحرفين عن الإيمان، يقاومون الحق ويضطهدون الكنيسة بعنف، بجلد وتمزيق بالأسياط، وقسوة على الجميع، حتى السب في الأساقفة!.</p>
<p>ومع ذلك فإننا لن نهمل العيد بسبب هذه الأمور، إنما يلزمنا على وجه الخصوص أن نذكرها من وقت إلى آخر ولا ننساها تماماً.</p>
<p>والآن فإن غير المؤمنين (الأريوسيين) لا يبالون بحلول الأعياد، بل يقضون حياتهم كلها في السب والأمور المملوءة غباء، أما أعيادهم التي يحفظونها فهي للحزن لا للفرح.</p>
<p>أما بالنسبة لنا نحن في هذه الحياة الحاضرة، فإننا فوق كل شيء لنا طريقا أكيداً (للسماء). إنه بالحق عيدنا. لأن مثل هذه الأمور (المضايقات) تخدمنا في التدرب والتجربة، فإذ نتزكي ونختار خداماً للمسيح، نصير شركاء في الميراث مع القديسين.</p>
<p>لذلك كان أيوب يرى أن العالم هو مكان يتجرب فيه الشر على الأرض (أي٧: ١) فالذين يتزكون في هذا العالم بالأحزان والأتعاب والغم، بل كل واحد منهم المجازاة التي تتلائم معه، إذ يقول الله على لسان النبي &#8220;أنا الرب فاحص القلب مختبر الكلى لأعطي كل واحد حسب طرقه&#8221; (إر١٧: ١٠)..</p>
<p><strong>الله يهب كل واحد مكافأته</strong></p>
<p>هذا لا يعني أن الله لأول مرة يعرف ماذا يتناسب مع ما يتزكى عليه الإنسان، إنما يعرف هذا من قبل أن يوجد الإنسان إنما لأنه صالح وصانع خيرات، لهذا فهو يوزع المكافأة التي تتناسب مع عمل كل إنسان، حتى يعلن كل واحد أن حكم الله بر! وفي ذلك يقول النبي مرة أخرى بأن الرب مختبر الصديق وفاحص الكلى (إر٢٠: ١٢).</p>
<p>مرة أخرى فأن هذا «الألم يسمح به» لكل واحد&#8230; فتعلن الفضيلة بواسطة الذين تزكوا، كما قيل لأيوب &#8220;لعلك تناقض حكمي، تستذنبني لكي تتبرر أنت؟! (أي٤٠: ٨، ٩).. ويشعر الناس بأفعالهم (بسبب التجارب) فيعرفوا أي سلوك هم اتبعوه فينوب بعضهم عن شرهم متمسكين بالثبوت في الإيمان.</p>
<p>وعندما لحق بولس أحزاناً واضطهادات وجوعاً وعطشاً يقول &#8220;ولكننا في هذه جميعها يعظم انتصارنا بالذي أحبنا&#8221; (رو٨: ٣٧).</p>
<p>فخلال الألم كان ضعيفاً في الجسد، لكن بإيمانه ورجائه كان قوياً في الروح، وقوته هذه كملت ضعفه.</p>
<p><strong>بركات الألم</strong></p>
<p>والقديسون الآخرون أيضاً الذين كان لهم ثقة مماثلة في الله، قبلوا تجارباً مشابهة بسرور، إذ كان أيوب يقول &#8220;فليكن اسم الرب مباركاً&#8221; (أي ٢١:١) والمرتل يقول &#8220;جربني يا رب وامتحني (أبلني). صف (نق) كليتي وقلبي&#8221; (مز ٢:٢٦)، لأنه إذ يتزكى الأقوياء، يصير المتهمون مذنبون. وإذ يرى الأقوياء عملية التنقية، ويدركون بركات النار الإلهية، فأنهم لا يجبنون أمام تجارب كهذه بالحري يبتهجون بها. ولا يصيبهم قط ضرر من مثل هذه الأمور التي حدثت، بل يصيرون إلى أمجاد أكثر تتلألأ كالذهب في النار (مل ٣:٣)؛ (١بط ٧:١)، وكما قال ذاك الذي امتحن في مثل هذه المدرسة. جربت قلبي. تعهدته ليلاً فحصتني لا تجد فيَّ ذموما. لا يتغذى فمي من جهةٍ أعمال الناس (مز ١٧: ٣، ٤).</p>
<p>أما أولئك الذين أعمالهم لا تصدها الوصايا، الذين لا يعرفون شيئاً سوى الأكل والشرب والموت، مثل هؤلاء ينظرون إلى التجارب على أنها خطرة. هؤلاء يتعثرون فيها، حتى إنهم إذ لا يمتحنون في الإيمان يسلمون الى ذهن مرفوض ليفعلوا ما لا يليق (رو١: ٢٨).</p>
<p>لذلك فأن الطوباوي بولس عندما يحثنا إلى تداريب مثل هذه، وقد سبق له أنه قاس نفسه بها قائلاً &#8220;لذلك أسر بالضعفات.. والضيقات (٢كو١٢: ١٠) ومرة أخرى &#8220;روض نفسك للتقوى&#8221; (١تي٤: ٧).</p>
<p>فإذ قد عرف أن الاضطهادات التي تحيق بالمختارين لحياة التقوى، لذلك رغب لتلميذه أن يتأمل مقدماً المصاعب الخاصة بالتقوى، حتى متى حلت الشدائد وثارت الأحزان احتملها بسهولة، إذ قد تدرب فيها. لأنه إذ يكون الإنسان منشغل الفكر بهذه الأمور، فإنه يختبر الفرح الخفي اختباراً عادياً&#8230;</p>
<p>وبهذه الكيفية إذ اختبر الشهداء الطوباويون المصاعب، صاروا كاملين بسرعة في المسيح، غير مبالين بضرر في شيء إذ هم متأملون الراحة.</p>
<p><strong>ملكوت السموات والضيق</strong></p>
<p>وأما هؤلاء الذين &#8220;ينادون بأسمائهم في الأراضي&#8221; (مز٤٩: ١١)، ولهم في أفكارهم &#8220;خشباً وعشباً وقشاً&#8221; (١كو٣: ١٢) أمثال هؤلاء إذ هم غرباء عن الضيق، أيضاً غرباء عن ملكوت السموات.</p>
<p>وإذ يعرف البعض أن الضيق ينشئ صبراً، والصبر تزكية، والتزكية رجاء، والرجاء لا يخزى، لهذا فأنهم يتدربون على مثال بولس الذي يقول &#8220;أقمع جسدي وأستعبده حتى بعدما كرزت للآخرين لا أصير أنا نفسي مرفوضاً (١كو٩: ٢٧).</p>
<p>فيتحملون التجارب بسهولة، هذه التي تحل بهم من حين إلى حين لأجل تزكيتهم، ذلك أن كانوا يصغون إلى النصيحة النبوية القائلة &#8220;جيد للرجل أن يحمل النير في صباه. يجلس وحده ويسكت لأنه قد وضعه عليه. يجعل في التراب فمه لعله يجد رجاء. خده لضاربه. يشبع عاراً. لأن السيد لا يرفض إلى الأبد. فإنه ولو أحزن يرحم حسب كثرة مراحمه&#8221; (مر٣١: ٢٧- ٣٢).</p>
<p>لأنه بالرغم مما يحل بهم من الأعداء: من ضرب وسب وتوبيخ، إلا أنها لا تصد عنهم كثرة مراحم الله. لأنه سرعان ما نكتشف أنهم هم مجرد زمنيون أما الله دائماً واهب عطايا ومقدم حنو محبته للذين يرضونه. لذلك أيها الأخوة الأحباء، ليتنا لا نتطلع إلى الأشياء الوقتية، بل نثبت أنظارنا نحو الأبديات.</p>
<p>فقد تأتي الأحزان، لكنها ستأتي حتماً، وهكذا أيضاً السب والاضطهادات، لكنها تحسب كلا شيء بسبب الرجاء الموضوع (أمامنا). لأن كل هذه الأمور الحاضرة تكون تافهة متى قورنت بالأمور المقبلة.</p>
<p>فآلام الزمان الحاضر لا تحسب أهلاً لأن تقارن بالرجاء الآتي (رو٨: ١٨)، (٢كو٤: ١٧). لأنه أي شيء يقارن بالملكوت؟ أو أي شيء نقارنه بالحياة الأبدية؟ وماذا يمكننا أن نقدم هنا حتى نرث هناك، لأننا نحن &#8220;ورثة الله ووارثون مع المسيح&#8221; (رو٨: ١٧).</p>
<p>لذلك أيها المحبوبون، لا يصح لنا أن نعط اعتبارًا للأحزان والضيقات بل نهتم بالرجاء الموضوع لنا بسبب هذا الضيق.</p>
<p>مثال</p>
<p>يمكننا أن نمتثل بالآب يَسَّاكَرُإذ قال عنه الكتاب المقدس &#8220;رأى أن المحل حسن والأرض أنها نزهته فأحنى كتفه للحمل، وصار للجزية عبداً&#8221; (تك٤٩: ١٥).</p>
<p>فإذ ذاب يَسَّاكَرُ بالحب الإلهي مثل العروس التي في سفر نشيد الأنشاد، جمع الكثير من الكتاب المقدس، لأن فكره لم ينشغل بالقديم (مجرد أرض الموعد) بل بالمواريث (لأن ما ورد في العهد القديم عن الرغبة في أرض الميعاد لم يكن إلا رمز للشوق إلى الميراث السماوي.. فيَسَّاكَرُهذا إذ تطلع إلى الأرض الحسنة إنما رمز لتطلع النفس إلى السماء الحسنة).</p>
<p>فهنا كما لو أنه قد بسط جناحيه ورأى من بعيد &#8220;الراحة&#8221; التي في السموات.</p>
<p>فقد كانت الأرض مملوءة جمالاً، فكم بالأكثر تكون (المدينة) السماوية؟! لأنها دائما جديدة ولا تشيخ!</p>
<p>الأرض التي هاهنا ستزول كقول الرب، أما ما يرثها القديسون (الميراث السماوي) فإنها أبدية.</p>
<p>والآن إذ رأي يَسَّاكَرُهذه الأمور، يفرح مفتخراً بالأحزان والأتعاب حانيا كتفيه، ولم يبالي بمن يضربونه، ولا يضطرب بالشتائم، بل كرجل قوي ينتصر بالأكثر بهذه الأمور ويزداد شوقه نحو أرضه، وهكذا فهي (الضيقات) تفيده.</p>
<p>لقد ألقى &#8220;الكلمة&#8221; بالبذار وهو يهتم بالزراعة ساهراً حتى تأتى بمائة ضعف.</p>
<p><strong>لا تخف من مضايقات الأريوسيين</strong></p>
<p>ماذا يعني هذا أيها الأخوة إلا أنه عندما يقوم الأعداء (الأريوسيون) ثائرين ضدنا، سنتمجد وعندما يضطهدوننا لا نجبن، بل بالحري نطلب إكليل الدعوة العال في المسيح يسوع ربنا؟!.</p>
<p>وعندما يشتموننا لا نضطرب، بل نقدم خدنا للضاربين ونحني ظهرنا؟!..</p>
<p>ليتنا إذ نعرف أننا نتألم من أجل الحق، وأن الذين يرفضون الرب (الأريوسيين) يضربوننا ويضطهدوننا، نجيبه كل فرح حينما نقع في تجارب متنوعة، عالمين أن تجربة إيماننا تنشئ صبراً كقول يعقوب (يع١: ٢).</p>
<p>لنفرح إذ نحفظ العيد يا أخوتي عالمين أن خلاصنا يحدث في وقت الألم. لأن مخلصنا لم يخلصنا بغير تعب، بل تألم من أجلنا مبطلاً الموت. لهذا اخبرنا قائلاً &#8220;في العالم سيكون لكم ضيق (يو١٦: ٢٣).</p>
<p>وهو لم يقل هذا لكل إنسان بل للذين يخدمونه خدمة صالحة بجهاد وإيمان، أي الذين يعيشون بالتقوى من جهته فسيضطهدون.</p>
<h4>شرح لأنجيل القداس - القديس كيرلس الأسكندري<a href="#_ftn2" name="_ftnref2">[2]</a></h4>
<p><strong>(يو٨: ٥١)</strong><strong> &#8220;الحق الحق أقول لكم: إن كان أحد يحفظ كلامي فلن يرى الموت إلى الأبد&#8221;. </strong></p>
<p>هو يوضح أنه ليس من الضروري أن يجمع أقوالاً كثيرة للرد على أولئك المغرمين بتوجيه اللوم، لأنه يشغل ذهنه بما هو ضروري، وأنا أعني الدعوة إلى الحياة الأبدية من خلال الإيمان. وهو لا يصرف عنه أولئك الذين قد أحزنوه بواسطة جهلهم، بل هو يصيغ حديثه بطريقة فنية. لأنه إذ قد قال سابقاً أن &#8220;الذي من الله يسمع كلام الله&#8221; (يو٤٧:٨)، فهو يقول مباشرة: &#8220;إن كان أحد يحفظ كلامي&#8221; مبيناً بذلك أنه الله بالطبيعة، ومن ثم يعلم أنه لا يبقى لليهود كفر أكثر من قولهم عن الذي يعطى الحياة الأبدية لمن يحفظ كلامه، أن به شيطان. أفلا يكون معروفاً بهذا الكلام أيضاً أنه الله بالطبيعة؟ لأنه لمن تنسب القدرة على أن يحيي إلى الأبد أولئك الذين يسمعون كلامه، سوى لذاك الذي هو الله بالطبيعة؟.</p>
<p>الكلمة الإلهية تحفظ حينما لا يتعدى الإنسان الوصية الإلهية بل يكون جاهزاً ويعمل ما يوصى به بلا إبطاء، ولا يتهم بأي حال بالكسل في الشرائع الإلهية. ولكن لاحظوا أيضاً الدقة الكبيرة التي تقال بها الكلمات لأنه لم يقل: إن كان أحد يسمع كلامي بل يقول: إن كان أحد يحفظ كلامي&#8221;. لأن هناك من يقبلون كلام الله في أذنهم، وأولئك ليسوا فقط الممسوكين في الخطية بل أيضاً الشياطين الشريرة نفسها: والشيطان في الواقع هو رئيسهم جميعاً، حينما يتجاسر أن يجرب ربنا يسوع المسيح في البرية، وهو يرفس المناخس بسبب وحشيته الفظيعة، وقد وضع أمامه أيضاً الكلمة الإلهية قائلاً : مكتوب أنه &#8220;يوصى ملائكته بك ليحفظوك في كل طرقك&#8221; (مز۱۱:۹)س،(لو١٠:٤)، لذلك فكلمة الخلاص لا تكون بمجرد السماع، ولا بالتعلم فقط تكون الحياة، بل بحفظ ما يسمعه الإنسان، وهو يضع أمامهم الكلمة الإلهية كقاعدة للحياة ومرشد لها. وهو يقول، إن الذي يحفظ كلامه بشكل تام &#8220;فلن يرى الموت إلى الأبد&#8221;، وبالتأكيد هو لا يستبعد الموت بالجسد، بل كإله فهو لا يحسب الموت موتاً، لأنه بالنسبة له ليس هناك شيء مائت لأنه يحضر إلى الوجود ما ليس موجوداً وبسهولة يحيى ما قد اضمحل. أو هو يقول إن القديسين لن يروا الموت في الدهر الآتي، ذلك الدهر الذي سوف ندرك تماماً وبملء الحق أنه ليس له نهاية مثل التي لعالمنا هذا، ويقول إن أولئك الذين حفظوا كلمته الإلهية لن يروا الموت في ذلك الدهر، لا كأنه ينبغي أن يكون هناك موت بعد القيامة، إذ أن موت الجميع قد أبطل بموت المسيح وقوة الفساد قد تلاشت ولكنه يطلق على العقاب الأبدي لقب الموت. ويمكن أن تتعلموا هذا من ملاحظة ما سبق أن قاله هو نفسه أعلاه: يقول، &#8220;لأني أقول لكم من يؤمن بالابن له حياة أبدية&#8221; والذي لا يؤمن بالابن لن يرى حياة&#8221; أنظر (يو٣٦:٣).</p>
<p>ومع ذلك فالجميع سوف يقومون ثانية وسوف يسرعون ثانية إلى الحياة، مؤمنين وغير مؤمنين. لأن القيامة ليست قاصرة بأية حال على البعض فقط بل هي بالمساواة للكل، وهكذا فإن الجميع ينبغي أن يحيوا ثانية فكيف يمكن إذن أن الذي لا يؤمن بالابن لن يرى حياة، رغم أن الجميع يتوقعون أن يقوموا ثانية؟ من الواضح إذن لكل البشر أن المسيح قد اعتاد أن يطلق لفظ &#8220;الحياة&#8221; على الحياة الممتدة في البهجة والمجد والتي لا تنتهي، وهذه الحياة تذخر بالرجاء للقديسين. وذلك كما يقول، إن من لا يطيع الابن لن يرى حياة وإن كان الجميع يتوقعون أن يحيوا ثانية ويقصد هنا ليس حياة الجسد، ولكنه يطلق هذا الاسم على الرجاء المعد للقديسين. وبنفس الطريقة يقول إن الذي يحفظ كلماته الإلهية بشجاعة وقوة لن يرى الموت إلى الأبد. وبالتأكيد فهو لا يشير بهذا إلى موت الجسد، بل إلى العقاب المعد للخطاة. وكما أنه في الحالة الأولى يشار بلفظة &#8220;الحياة&#8221; إلى الفرح، هكذا هنا أيضاً يشار بلفظة &#8220;الموت&#8221; إلى العقاب.</p>
<h4>قوة الكلمة الإلهية - القديس يوحنا ذهبي الفم<a href="#_ftn3" name="_ftnref3">[3]</a></h4>
<p>أيها الأحباء إننى أحسبكم سعداء بتلك الغيرة التي تدفعكم للتدفق إلى بيت أبيكم. وإننى بسبب هذه الغيرة أشعر باطمئنان من جهة صحتكم الجسدية والروحية. لأنه بالحق تعتبر مدرسة الكنيسة بمثابة طبيب جراح لا للجسد بل للروح.</p>
<p>إنها جراح روحي، تشفي أخطاء الذهن لا جراحات الجسد، مقدمة الكلمة كدواء ضد الأخطاء والجراحات.</p>
<p>هذا الدواء لا يتركب من أعشاب الأرض بل من الكلمات السمائية، ولا يقوم بتركيبها أطباء &#8220;صيادلة&#8221;<br />
بل تنطق بها ألسنة المبشرين، ولا تفسد خواصها بعامل الزمن كما لا يقهرها مرض!!..</p>
<p>فالدواء الإلهي يحتفظ بحيويته كما هو عبر الأزمنة الطويلة. فمنذ زمان موسى -حيث يعتبر بداية الكلمة الإلهية- والكلمة تشفى كثيرين. وليس فقط لا تفقد قوتها، إنما لم يقدر أن يقهرها مرض ما.</p>
<p>وهذا الدواء لا يشترى بفضة إنما بالنية الخالصة والحياة السليمة. من أجل هذا يتساوى الفقراء مع الأغنياء في وجود فرصة متماثلة للتمتع به للشفاء. فحيث توجد ضرورة لدفع ثمن بمال يكون للأغنياء نصيب أوفر في التمتع بالمنفعة بينما يحرم الفقراء منها.. أما هنا فلا يشترى الدواء بفضة بل بالإيمان والنية السليمة، فإن من يتقدم بذهن مقدام ينال بركات أكثر. لهذا يتساوى الفقير مع الغني في الانتفاع به، بل بالحري يتمتع به الفقير أكثر من الغني.</p>
<p>فالغنى مملوك بأفكار كثيرة، -غالبا ما يكون- فيه كبرياء وزهو بسبب ثروته وغناه، ويعتبر الإهمال والتراخي رفيقان له. لذا فإنه يتقبل دواء الاستماع للكتاب المقدس بلا حماس وبغير مبالاة.</p>
<p>أما الفقير، فإذا هو بعيد عن مثل هذه الحياة المترفة والطمع والتراخي، مشغولاً جل وقته فى أعماله.. لذا يكون شغفه للإستماع أكثر، متحرراً من الكسل، ومعتاداً على تركيز ذهنه بدقة بالغة لكل ما يقال له، وإذ هو يدفع هذا الثمن أكثر من الغني يحصد أكثر.</p>
<p><strong>الأستفادة من الفقر أو الغنى</strong><strong>:</strong></p>
<p>هذا لا يعني أن ماقيل يخص جميع الأغنياء والفقراء، لأن الغنى شر إن أسيء استخدامه، والفقر صالح إن أحسن استخدامه.</p>
<p>فهناك أشياء صالحة في ذاتها، وأخرى شريرة، وثالثة تحتل مكاناً متوسطاً بين  الخير والشر.</p>
<p>فالورع صالح بطبعه، وعدم التقوى شر بطبعه، أما الغني والفقر فليس في ذاتيهما شيئاً من هذا، إنما يتوقفان على إرادة من يستخدمهما.</p>
<p>فإن استخدمت ثروتك بغرض خير، تكون بالنسبة لك مصدراً للخير، لكنك إن استخدمتها للاغتصاب والجمع والعجرفة، تكون قد استخدمتها في غير موضعها، فالعيب ليس في الغنى بل فيمن يستخدمه.</p>
<p>هكذا أيضا نقول إنك إن احتملت الفقر بوداعة شاكراً السيد الرب، يكون بالنسبة لك ينبوعاً لنوال الأكاليل. أما إذا جدفت على الخالق، واتهمت عنايته الإلهية، فإنك تكون قد أسأت استخدامه.</p>
<p>إذن حسن هو الغنى، ولكن ليس مطلقاً بل لمن لا يخطيء به، وأيضاً شر هو الفقر، ولكن ليس مطلقاً بل بالنسبة لغم الكافر، إذ هو متذمر ومجدف ومتهم لخالقه.</p>
<p><strong>الكلمة تعمل فينا خفية من غير أن تنفضح:</strong></p>
<p>إذ نعود إلى موضوعنا نقول: بأن كل من الغني والفقير يتمتعان بركات الأدوية المقدمة لنا.</p>
<p>هذه الأدوية ليس فقط تشفي الأرواح، ولاتفسد بعامل الزمن، ولايقهرها مرض، وتوهب مجاناً، وتمنح الشفاء للغني كما للفقير، إنما لها أيضا ميزة أخرى لا تقل عن هذه.</p>
<p>ماهي هذه الميزة؟..</p>
<p>إننا هنا لا نحدد &#8220;أسماء&#8221; الذين يحتاجون للجراحة، فإذ لدينا مرضى كثيرين نقدم لهم الأدوية بطريق خفي من غير أن نشهر بهم علناً، إنما نقدم تعاليمنا بصورة عامة للجميع، تاركين لضمائرهم حتى يأخذ كل منها الدواء المناسب لجرحه.</p>
<p>إذن الكلمة مفتوحة للجميع، ومستقرة في ضمائر الكل، تهب الشفاء بطريقة سرية، وتعيد الصحة دون أن يستفحل المرض.</p>
<p><strong>خطورة التشهير أو المدح العلني:</strong></p>
<p>فكمثال، سمعتم قبلاً كيف إنني مجدت قوة الصلاة، موبخاً الذين يهملونها. دون أن أذكر اسم أحدكم علناً.</p>
<p>فالذين ضمائرهم متيقظة بالغيرة تجاه الصلاة كان المديح باعثاً على زيادة غيرتهم، وأما المتهاونون فيها فتأثروا بالتوبيخ وكفوا عن الإهمال . دون أن نكشف هؤلاء أو أولئك، وهذا مفيد لكليهما.</p>
<p>فمن سمع تمجيد الصلاة وكان هذا متيقظاً ومتحمساً في صلاته، لو رأى من يشهد له بغيرته هذه، لإتجهت نفسه للسقوط في الكبرياء، لكن هذا لا يحدث بل ينتفع من المديح العام للصلاة بطريقة خفية.</p>
<p>كذلك من يشعر بكسله، يصير بحال أفضل عن طريق التوبيخ العام دون أن يعرفه أحد. لأنه كما أن القروح تزداد إن تركت للجو دون أن تضمد. هكذا إن وبخنا إنساناً في حضرة كثيرين مما يصنعه تزداد نفسه وقاحة.</p>
<p>لهذا تعمل الكلمة شافية بطريقة سرية.</p>
<p>ويظهر قيمة النفع الذي نجنيه من العلاج الخفي، من قول السيد المسيح&#8221; فإن أخطأ إليك أخوك فاذهب وعاتبه بينك وبينه وحدكما&#8221; (مت18: 15)، ليس بينك وبين الشعب كله، إنما يكون الإتهام في غير حضرة شاهد حتى يسهل إصلاحه..</p>
<p>بالتاكيد عظيمة هي قوة النصيحة التي تقدم خفية؛ إذ يوبخه ضميره؛ وهذا ديان غير فاسد فيه الكفاية..</p>
<p>فأنت لست أعظم من ضميره - يا من تريد توبيخه علانية - ولا تستطيع أن تقوم بما يقوم به؛ لأنك تعرف أخطاءه التي ارتكبها معرفة حقيقية رقيقة مثل ضميره.</p>
<p>لا تشهر بأخطاء إنسان؛ بل انصحه خفية حتى لا تزيد جراحاته جراحات..</p>
<p>مثال:</p>
<p>إننا نفعل الآن ماقد فعله بولس عندما أقام دعواه ضد أولئك الذي كانوا من أهل كورنثوس من غير أن يذكر شهوداً عليهم.. إذ يقول &#8220;فهذا أيها الإخوة حولته تشبيهاً إلى نفسي وإلى أبولس من أجلكم&#8221; (١كو٤: ٦) مع أنه لم يكن بولس ولا أبولس سبباً في دخولهم الأنشقاقات والانقسامات التي في الكنيسة؛ إنما يخفى الرسول أسماء المتهمين وملامحهم مظهراً اسمه واسم أبولس لأجل علاج انفسهم.</p>
<p>مرة أخرى يقول &#8220;إن يذلني إلهى عندكم إذا جئت أيضاً وأنوح على كثيرين من الذين أخطأوا من قبل ولم يتوبوا عن النجاسة والزنى والعهارة التي فعلوها&#8221; (٢كو١٢: ٢١).</p>
<p>انظروا كيف يذكر المخطئين من غير أن يحدد أسماءهم حتى لا يزدادون في شرهم.</p>
<p>وإذ نحن نطلب تقدمكم، مقدمين انتهارنا بطريقة لاتمس مشاعرك ، هكذا اقبلوا أنتم أيضاً الإصلاح بكل جدية، وانصتوا إلى ما نقوله باهتمام.</p>
<h3>عظات آباء وخدّام معاصرين للثلاثاء الرابع من الخمسين يوم المقدسة</h3>
<h4>بركات الكتاب - للمتنيح الأنبا يؤانس أسقف الغربية <a href="#_ftn4" name="_ftnref4">[4]</a></h4>
<p>لكلام الله بركات لا تحصى.. <strong>لم نقرأ عن انسان عاش عيشة القداسة إلا وكان للكتاب المقدس النصيب الأكبر في تكوين حياته الروحية. </strong>ولم نسمع عن خادم أمين أو مبشر ناجح أو بطل مجاهد من ابطال الإيمان إلا وكان الكتاب المقدس هو سر نجاحه ومصدر الهامه وسنده وقوته.. لقد أمر الله قديماً أن يوضع <strong>لوحا العهد المدونة عليهما الوصايا العشر المكتوبة بأصبع الله في تابوت العهد </strong>حيث تحفظ أيضاً قسط المن.. ولا شك أن هذا كان إشارة لطيفة الى أن قلب المؤمن المحفوظة فيه كلمة الله هو الذى يسكنه الرب يسوع المن الحقيقى النازل من السماء، حياة لكل العالم..</p>
<p>كلنا نعلم انه بسبب المعصية الأولى نفى البشر جميعاً من الفردوس – وطنهم الأول – إلى عالمنا الذى نحيا فيه، والمشبه بأنه دار غربة، نحن كلنا غرباء فيها.. ودار الغربة هذه تعمها الظلمة من كل جانب. والبشر جميعاً في حالة حرب دائمة مع اعدائهم القدامى &#8220;أجناد الشر الروحية في السمويات&#8221;.. ولقد أوضح الرب في كتابه المقدس أن العون الأول لنا في غربتنا وفى حربنا ضد أعدائنا هو كلام الله.. <strong>وهذه الفكرة واضحة تمام الوضوح في الكتاب كله.. فهو: </strong></p>
<p><strong>[١] بشارة رجاء وعزاء: </strong></p>
<p>إن البشر جميعاً محكوم عليهم بالموت وفاء عصيانهم وتعديهم. <strong>والكتاب المقدس يظهر أمامنا كمبشر.. مبشر بالحياة والحرية، مبشر بالبنوة والعتق من العبودية، مبشر بزوال لعنة الناموس وحلول بركات الصليب والقيامة، مبشر بالحياة الفضلى والشركة الإلهية.. </strong>فما أجملها رسالة، تلك التي يقوم بها الكتاب &#8220;ما أجمل اقدام المبشرين بالسلام، المبشرين بالخيرات&#8221; (رو١٠: ١٥).</p>
<p><strong>لقد كان اليهود يحتفلون كل خمسين سنة بما يسمى </strong>&#8220;<strong>سنة اليوبيل</strong>&#8220;..كانوا يحتفلون بها إحتفالاً رائعاً بمقتضى الشريعة.. وكانت حينما تضرب الأبواق معلنة بدء سنة اليوبيل، كان الفرح يجد طريقه إلى قلوب كثيرة كسيرة.. فالفقير الذى باع بيته أو حقله من جراء ضيق ذات اليد كان يسترده، والفقير الذى باع ذاته عبداً كان يحرر (لا ٢٥).. من أجل ذلك طوب المرنم &#8220;الشعب العارفين الهتاف&#8221; (مز٨٩: ١٥)، والمقصود بالهتاف، صوت الأبواق المعلنة حلول سنة اليوبيل..</p>
<p><strong>والكتاب المقدس هو البوق الإلهي الذى يبشرنا بحلول </strong>&#8220;<strong>سنة الرب المقبولة</strong>&#8221; (لو٤: ١٩)<strong> لكى نسترد بيتنا السماوي الذي خسرناه بالخطية وفقدناه بالمعصية، ونستعيد حريتنا بعد أن استعبدنا أنفسنا لسلطان الخطية فوقعنا في قبضة ابليس.. </strong></p>
<p><strong> وليس الكتاب المقدس مبشراً بالخلاص والحرية الروحية فقط، لكنه عامل قوي من عوامل تقوية الرجاء ورفع الروح المعنوية.. </strong>فمن أمضى أسلحة أعدائنا الروحيين، إشاعة روح الضعف والهزيمة والاستسلام بين شعب الله. والكتاب المقدس ينقض هذه الدعايات الخبيثة ليحل محلها الإيمان والإتكال الكامل على الرب، والثقة في رجاء خلاصه، وأنه سيأتى بقوة ولو في الهزيع الأخير من الليل لكل منتظريه..</p>
<p>هكذا نقرأ <strong>كلمات موسى لشعبه حينما تملكهم الخوف والفزع </strong>&#8220;لا تخافوا قفوا وانظروا خلاص الرب.. الرب يقاتل عنكم وأنتم تصمتون&#8221; (خر١٤: ١٣، ١٤).. ونقرأ بعد ذلك عن <strong>صنيع الرب مع شعبه في البرية المقفرة خلال أربعين عاماً، </strong>عالهم خلالها بطعام الملائكة وسقاهم من صخرة صماء.. حفظ ثيابهم ونعالهم فلم يقرب منها البلى.. أعطاهم الغلبة على شعوب تفوقهم عدداً وعدة.. <strong>هكذا نقرأ من أعمال الرب العظيمة مع كل خائفيه في كل زمان ومكان، وعن مواعيده الكثيرة لهم.. </strong>لأنه تعلق بى أنجيه، أرفعه لأنه عرف اسمي، يدعوني فأستجيب له معه أنا في الشدة أنقذه وأمجده، طول الأيام أشبعه وأريه خلاصي (مز٩١: ١٤– ١٦).. <strong>نقرأ كلمات رب المجد </strong>&#8220;ها أنا معكم كل الأيام وإلى انقضاء الدهر&#8221;(مت٢٨: ٢٠).. <strong>نقرأ عن اختبارات بولس </strong>&#8220;إن كان الله معنا فمن علينا&#8221; (رو٨: ٣١).. &#8220;أستطيع كل شيء في المسيح الذي يقويني&#8221; (في٤: ١٣).. <strong>نقرأ أيضاً عن حب الرب للخطاة وعطفه عليهم، فحينئذ لا نيأس بل نتشدد ونتشجع.</strong></p>
<p>ضيقات الحياة، ما أكثرها وما أعنفها، فبسببها يعثر كثيرون ويرتدون (مت٢٤: ١٠): <strong>لقد أعطانا الرب كتابه ليكون معيناً لنا في غربة هذا الدهر، ورفيقاً أميناً، ومعزياً وفياً قوياً.. نجده قريباً منا كل الأوقات، ونستطيع أن نجلس معه نستمع إليه ما شئنا من وقت. حينما تتكاثر علينا الضيقات، فليس أفضل من كلمة الله تعزينا وتشجعنا.. </strong>أما الناس فليس في كلامهم الخاص عزاء حقيقي، بل هم كما وصفهم أيوب في بلواه &#8220;معزون متعبون&#8221; (أي١٦: ٢)..</p>
<p><strong>    لقد كان كلام الله هو موضع تعزية جميع رجال الله. </strong>فيقول داود &#8220;أذكر لعبدك كلامك الذي جعلتني عليه أتكل. <strong>هذا الذى عزاني في مذلتي.. تذكرت أحكامك منذ الدهر فتعزيت</strong>..لو لم تكن شريعتك لذتي لهلكت حينئذ في مذلتي&#8221;(مز١١٩، ٤٩، ٥٠، ٥٢، ٩٢).. ويوضح القديس بولس الأمر فيقول &#8220;كل ما سبق فكتب، كتب لأجل تعليمنا، <strong>حتى بالصبر والتعزية بما في الكتب يكون لنا رجاء</strong>&#8220;(رو١٥: ٤).. <strong>وقد طلب إلى المؤمنين أن يجعلوا من الكتاب معزياً لهم فيقول </strong>&#8220;<strong>عزوا بعضكم بعضاً بهذا الكلام</strong>&#8220;(١تس٤: ١٨).. وموضع التعزية في كلام الله لا يرجع فقط إلى مافيه من قصص رجال الله واحتمالهم وصبرهم وصنيع الرب معهم، أو ما يتضمنه من معان مقبولة.. <strong>بل يرجع إلى أن كلام الكتب المقدسة، كتب بالروح القدس </strong>&#8220;<strong>المعزي</strong>&#8220;(يو١٤: ٢٦)..</p>
<p><strong>[2] نور وهداية : </strong></p>
<p><strong>ولعل من أولى بركات كلمة الله أنها تحرك القلوب للتوبة، سواء عن طريق سماعها أو قراءتها.. </strong>فقد كانت<strong> كلمات بطرس</strong> <strong>الرسول </strong>القليلة التي جاءت في شكل عظة القاها في يوم الخمسين، سبباً في نخس قلوب ثلاثة آلاف نفس آمنت للمسيح (أع ٢).. وكانت كلمات بولس الرسول – وهو سجين – سبباً في تأثر، بل إرتعاب فليكس الوالي، وإن كان – للأسف – أضاع الفرصة وصرف بولس قائلاً &#8220;أما الآن فاذهب ومتى حصلت على وقت استدعيك&#8221; (أع ٢٤: ٢٥).. <strong>وكانت قراءة وزير كنداكة الحبشي لسفر </strong>إشعياء وما صحبه من شرح القديس فيلبس سبباً في إيمانه (أع ٨)..</p>
<p><strong>لقد قال الرب قديماً بلسان إرميا النبي </strong>&#8220;<strong>أليست هكذا كلمتي كنار.. وكمطرقة تحطم الصخر</strong>&#8220;(إر٢٣: ٢٩).. <strong>فكما أن النار تحمى الحديد وتجعله ليناً، هكذا كلمة الله تلين القلوب القاسية، وكما أن المطارق تحطم الصخر، هكذا كلمة الله تفعل فعلها في القلوب التي تحجرت بالخطية، وتسحقها بقوتها.. </strong></p>
<p><strong>والإنسان بأعتباره غريباً في الأرض، يحتاج إلى من يرشده ويقوده ويأخذ بيده. إن كلمة الله كعمود النور الذى كان يتقدم بنى إسرائيل.. وهكذا ترافقنا كلمة الله حتى ندخل – لا أورشليم الأرضية بل السماوية.. إنها كالنجم الذي هدى المجوس وظل يتقدمهم </strong>حتى جاء &#8220;ووقف فوق حيث كان الصبي&#8221; (مت٢: ٩).. هكذا كلمة الله أيضاً تتقدمنا وتقودنا وتوصلنا الى حيث يسوع.. إنها لا تحطئ أبداً، ولا تضل من يتبعها..<strong> ومن هنا</strong> <strong>كانت كلمات المرتل </strong>&#8220;<strong>غريب أنا في الأرض. لا تخف عني وصاياك</strong>&#8220;(مز١١٩: ١٩).. وهذا ما يشير إلى أن وصايا الله خير مرشد للنفس في غربتها..</p>
<p><strong>انها تحذرنا عندما نحيد عن الطريق القويم </strong>&#8220;أذناك تسمعان كلمة خلفك قائلة هذه هي الطريق اسلكوا فيها، حينما تميلون إلى اليمين وحينما تميلون إلى اليسار&#8221; (إش٣٠: ٢١). هي تعلمنا وترشدنا &#8220;لأن كل ما سبق فكتب كتب لأجل تعليمنا، حتى بالصبر والتعزية بما في الكتب يكون لنا رجاء&#8221; (رو١٥: ٤).. &#8220;كل الكتاب هو موحى به من الله ونافع للتعليم والتوبيخ للتقويم والتأديب الذى في البر. لكي يكون انسان الله كاملاً متأهب لكل عمل صالح&#8221; (٢تي٣: ١٦، ١٧). <strong>لا غرابة إذن إن وجدنا رجال الله يتحدثون عن الشريعة كنور وسراج، </strong>فيقول داود النبي والملك &#8220;سراج لرجلي كلامك ونور لسبيلي&#8221; (مز١١٩: ١٠٥). وقال سليمان الحكيم &#8220;لأن الوصية مصباح والشريعة نور&#8221; (أم٦: ٢٣).. والقديس بطرس يشير إلى كلام الأنبياء يقول &#8220;وعندنا الكلمة النبوية.. التي تفعلون حسناً أن انتبهتم اليها <strong>كما إلى سراج منير في موضع مظلم، إ</strong>لى أن ينفجر النهار ويطلع كوكب الصبح في قلوبكم&#8221; (٢بط١: ١٦– ١٩).</p>
<p><strong>من أجل هذا فإن كنيستنا – تعبيراً عن هذه الحقيقة – توقد الشوع وقت قراءة الانجيل.. </strong>قال القديس ايرونيموس (جيروم) من آباء القرن الرابع المسيحي &#8220;إن الشموع التي توقد وقت قراءة الأنجيل كالعادة المألوفة في كنائس الشرق، ليست لتبديد الظلام، بل لإظهار الفرح بالأنجيل، كما كانت مصابيح الحكيمات مضيئة، ليظهر تحت شكل النور ما قاله المرتل: &#8220;سراج لرجلي كلامك ونور لسبيلي&#8221;. وقول الحكيم: &#8220;الوصية مصباح والشريعة نور&#8221;.</p>
<p><strong>[3] سلاح وعون: </strong></p>
<p><strong>كلمة الله قوة جبارة لا يستطيع أن يدرك عظم قدرها إلا كل من عاش بها وفيها واختبرها.. إن السيد المسيح الذي ترك لنا مثالاً لكي نتبع خطواته </strong>(١بط ٢: ٢١) <strong>استخدم هذا السلاح في حربه مع ابليس الذى تقدم ليجربه.. </strong>لقد كان في كل جولة يرشقه بسهم إلهي من كلمات الرب قائلاً له &#8220;مكتوب..&#8221; (مت ٤).. مغبوط هو الإنسان الذي يحفظ كلمة الله، فإن الكلمة تتحول فيه إلى قوة.. مغبوط هو الرجل الذى يملأ جعبته بالسهام الروحية التي هي كلمة الله.. حينئذ لا يخشى من ملاقاة أعدائه، على نحو ما فعل الفتى داود بجليات الجبار..</p>
<p>لقد وصف الرسول بولس كلمة الله بأنها &#8220;حية وفعالة وأمضى من كل سيف ذو حدين، وخارقة إلى مفرق النفس والروح والمفاصل والمخاخ، ومميزة أفكار القلب ونياته&#8221;(عب٤ :١٢).. تدخل الكلمة الى أعماق القلب فتكشف ما في النفس من نوازع شريرة وأفكار أثيمة، ثم تعمل عملها. فتستأصل من النفس الشر لأنها أمضى من السيف ذي الحدين..</p>
<p><strong>أما سبب قوة الكلمة – فعلى حد تعبير القديس اثناسيوس الرسولي – إن الرب كائن في كلماته..؟.</strong></p>
<p>حينما أوصى معلمنا بولس مؤمني كنيسة أفسس أن يلبسوا &#8220;سلاح الله الكامل&#8221; لكى يقدروا أن يثبتوا ضد مكايد ابليس، ذكر أنواعاً من هذه الأسلحة.. فتكلم عن درع البر، وترس الإيمان، وخوذة الخلاص.. وهذه كلها – مع كونها أسلحة تستخدم في وقت القتال – لكنها أسلحة سلبية أي للوقاية..</p>
<p><strong>ثم تقدم الرسول وتحدث عن سلاح إيجابي قوي </strong>&#8220;<strong>سيف الروح الذى هو كلمة الله</strong>&#8220;(أف ٦: ١٠– ١٧).. إن كلمة الله كالسيف للمقاتل، به يصرع عدوه..</p>
<p><strong>ليس يخفى ما لكلمة الله من قوة في جهادنا الروحي، إذ لها قدرة على رد النفس لطريق الكمال </strong>&#8220;ناموس الرب كامل يرد النفس&#8221; (مز١٩: ٧).. <strong>ولها القدرة أيضاً على تنقيتنا من نقائصنا </strong>كما قال الرب يسوع &#8220;أنتم الآن أنقياء بسبب الكلام الذى كلمتكم به&#8221; (يو١٥: ٣).. <strong>بل إنها تقدس النفس </strong>&#8220;قدسهم في حقك. كلامك هو حق&#8221; (يو١٧: ٧)..</p>
<p><strong>وبالجملة فأنها تبني حياتنا الروحية</strong> &#8220;والآن أستودعكم يا أخوتي لله <strong>ولكلمة نعمته القادرة أن تبنيكم وتعطيكم ميراثاً مع جميع المقدسين</strong>&#8220;(أع٢٠: ٣٢).. وهى أ<strong>يضاً قادرة على خلاصنا</strong> &#8220;فاقبلوا بوداعة الكلمة المغروسة <strong>القادرة أن تخلص نفوسكم</strong>&#8220;(يع١: ٢١).</p>
<p><strong>وكلمة الله منطقة للذهن. فعندما يشرد الفكر بعيداً عن الله، ويبدأ في الانزلاق إلى مهاوي الرذيلة، تعمل الكلمة عملها وتتقدم لتعطي يقظة وانتباه للفكر. </strong></p>
<p><strong>ولذا يقول القديس بطرس </strong>&#8220;<strong>منطقوا أحقاء ذهنكم صاحين</strong>&#8221; (1بط١: ١٣).. ويقول معلمنا بولس &#8220;<strong>فاثبتوا ممنطقين أحقاءكم بالحق</strong>&#8220;(أف٦: ١٤).. <strong>وما الحق إلا كلمة الله </strong>&#8220;<strong>كلامك هو حق</strong>&#8220;(يو١٧:١٧).</p>
<p>بعد أن آلت قيادة الشعب إلى <strong>يشوع بن نون </strong>عقب انتقال موسى النبي، بدأ الله عمله معه بقوله &#8220;<strong>لا يبرح سفر هذه الشريعة من فمك</strong>،<strong> بل تلهج فيه نهاراً وليلاً لكي تتحفظ للعمل حسب كل ما هو مكتوب فيه. </strong>لأنك حينئذ تصلح طريقك وحينئذ تفلح&#8221; (يش١: ٨).. وواضح من كلمات الرب هذه أنها أمر صريح بعدم مبارحة كلماته لأفواهنا.. والسبب &#8220;لكي تتحفظ للعمل&#8221;.. أما النتيجة &#8220;حينئذ تصلح طريقك، وحينئذ تفلح&#8221;..</p>
<p><strong>وثمة اختبار جميل يحدثنا عنه المرنم في مطلع المزامير </strong>&#8220;طوبى للرجل الذى لم يسلك في مشورة الأشرار.. <strong>لكن في ناموس الرب مسرته، وفى ناموسه يلهج نهاراً وليلاً، </strong>فيكون كشجرة مغروسة على مجاري المياه، التي تعطي ثمرها في أوانه، وورقها لا يذبل، وكل ما يصنع ينجح&#8221; (مز١: ١– ٣).. ما أروع اختبار المرتل، وما أروع التشبيه الذي أورده عن النفس التي جعلت مسرتها في كلمة الرب.. إن مجاري الأنهار التي أشار اليها المرنم هي عمل الروح القدس في المؤمن (يو٧: ٢٨، ٣٩).. الروح القدس الذي كتب الكتاب.</p>
<p><strong>[4] مقياس للكمال والنمو: </strong></p>
<p>كثيراً ما ينحرف المسيحى عن الحق متأثراً بروح العصر والتقليد والمحاكاة.. وحينئذ تنقلب القيم الروحية في نظره. وتأخذ المقاييس صورة حسب هواه وتصوره ودوافعه اللاشعورية، فيظن أن حياته لا بأس بها طالما هو بعيد عن الخطايا الكبيرة – حسب تقديره.. <strong>لكن حينما يلجأ إلى كتاب الله – الكتاب الكامل والمعصوم من الخطأ – ويحتكم إليه ويقرأ مثلاً كيف أن الله يطالبنا جميعاً بحياة الكمال، حينئذ يكتشف عيوبه ويلمس أخطاءه.. يجب ان نمتحن كل شيء على ضوء الكلمة </strong>&#8220;<strong>إلى الشريعة وإلى الشهادة. إ</strong>ن لم يقولوا مثل هذا القول فليس لهم فجر&#8221; (إش٨: ٢٠).. واليهود في بيريه، لما وصل إليهم بولس وسيلا وكلماهم عن الإيمان بالمسيح &#8220;<strong>قبلوا الكلمة بكل نشاط فاحصين الكتب كل يوم هل هذه الأمور هكذا</strong>&#8220;(أع١٧: ١١).. إ<strong>ن الكتاب المقدس كالميزان الدقيق </strong>الذى نوضع فيه فيظهر ثقل خطايانا فنتوب عنها. إنه بذلك يقودنا إلى طريق الكمال. <strong>حقاً ما أجمل ما قاله داود العظيم </strong>&#8220;<strong>ناموس الرب كامل يرد النفوس؟</strong>&#8220;(مز١٩: ٧).. وقال معلمنا بولس أيضاً &#8220;كل الكتاب هو موحى به من الله ونافع للتعليم والتوبيخ، للتقويم والتأديب الذى في البر، <strong>لكى يكون انسان الله كاملاً </strong>متأهباً لكل عمل صالح&#8221; (٢تي٣: ١٦، ١٧).</p>
<p><strong>وقال الرب يسوع لليهود </strong>الذين أتوا ليحاجوه &#8220;الذى من الله يسمع الله. لذلك أ<strong>نتم لستم تسمعون لأنكم لستم من الله</strong>&#8221; (يو٨: ٤٧).. إ<strong>ن كلمات الرب هذه توضح لنا زاوية هامة من زوايا حياتنا الروحية</strong>.. <strong>نستطيع أن نقيس نمونا في النعمة بمقياس نمو محبتنا لدراسة كلمة الله. </strong>ففي الوقت الذى نفقد فيه الشهية إلى خبز الحياة، لنتأكد أننا نعاني من مرض روحي، قد يكون مرجعه إلى عدم استنشاق القدر الكافي من الهواء المنعش في جو الشركة مع الله.. يؤيد ذلك ما قاله القديس يوحنا ذهبي الفملشعبه في إحدى عظاته [إنني حينما أرى شدة رغبتكم واسراعكم بالمجيء إلى هنا لكي تسمعوا التعليم المقدس، واشاهد حرارة شهوتكم واشتياقكم إلى الخبز الروحي الذى هو كلام الله، يتضح لي من ذلك نموكم. في الفضيلة. لأنه كما نحكم على الجسد أنه حاصل على حال الصحة حينما نراه يتناول الأطعمة بشهية والتذاذ، هكذا جوعكم لكلام الله يوضح لنا جلياً حسن استعداد أنفسهم وصحتها الكاملة].</p>
<h4>الحياة تواجه الموت – الأستاذة ايريس حبيب المصري<a href="#_ftn5" name="_ftnref5">[5]</a></h4>
<p>ولنعد الي شرقنا الأوسط لكي نقف في شيء من التهيُّب أمام سيدة لبنانية تتحدث عن &#8220;<strong>الحياة تواجه الموت وتتغلب عليه</strong>&#8220;، قالت: إننا نختبر الموت في وسط الحياة: فنحن شعبَّ يعيش بأكمله تحت علامة الصليب، يعيش تحت الموت، <strong>يعيش يوماً بيوم علي حدود الموت والحياة، وفي موقفه هذا يمد يديه مع توما الرسول ليتحسس شوكة الموت في لمسة مباشرة للمسيح القائم، وبهذه اللمسة ذاق حلاوة الحياة ومجدها في مواجهتها للموت والانتصار عليه</strong>.</p>
<p>وتراث الكنيسة الشرقية موسوم بهذا التراث الكياني، فالكنيسة لا تبدأ بالمفاهيم والنظريات بل تبدأ بالحري بالاختبار المباشر و باجتيازها خبرة التطهير. وبالحياة علي حدود الموت يتلاشى أمامها كل ما هو غير ضروري.</p>
<p><strong>وطعم الموت المتربّص يبدد كل وهم ويستأصل كل تفاهة، إنه ينقّي الهواء الروحي!</strong> فهو يواجهك مراراً وتكراراً بما لا تستطيع تفهمه تماماً مع كونه يلحّ عليك كل يوم، ولابد من أن توما الرسول اختبر هذا كله حين مدّ يده المتشككة، لابد من أنه أدرك بأن هناك وسيلة للمعرفة تتفحّص ما لا يمكن للعقل وحده أن يتفحّصها، إنها الوسيلة التي تتخاطب بها قوة القيامة: قوة الحياة التي قهرت الموت وحين جلس الي جانب إخوته التلاميذ تجمّعت الكنيسة خلف الأبواب المغلقة، وتناول الكل سر الإفخارستيا من يد الرب القائم الذي نفخ فيهم قوة قيامته.</p>
<p>ولقد تجمعّنا ذات يوم - كان يوم عيد القيامة - في كنيسة صغيرة . وكنا نصلّي علي أصوات المدافع ودويّ المتفجرات، فعرفنا يومذاك أننا مجتمعون لنحتفي بالآتي، ومنه ننال روح الحياة والسلام، وهذا الوعي بالحضرة الإلهية نحسَّه كلما اجتمعنا لنتناول جسده الأقدس ودمه الكريم.</p>
<p>يقول لنا الرائي: &#8220;وَسَيَمْسَحُ اللهُ كُلَّ دَمْعَةٍ مِنْ عُيُونِهِمْ، وَالْمَوْتُ لاَ يَكُونُ فِي مَا بَعْدُ، وَلاَ يَكُونُ حُزْنٌ وَلاَ صُرَاخٌ وَلاَ وَجَعٌ فِي مَا بَعْدُ&#8230; هَا أَنَا أَصْنَعُ كُلَّ شَيْءٍ جَدِيدًا&#8221; (رؤ ٢١: ٤، ٥) كيف يمكننا أن ننادي بهذا وسط الخرائب والدمار؟ وكيف نعلّم به والجديد لم يبزغ بعد؟ إن خير صورة لحياتنا هي أننا نعيش منجماً ضخماً للفحم، وهذا الفحم يُخفي تحته الماس الساطع، فالرب مختبيء داخل قلوب مِعتمة، والعالم الجديد محمول به في سرّية العمق في هذه القلوب، متي يبزغ الفجر؟ إن ظلمة الموت والألم لا تزال تغطّيه.</p>
<p><strong>والكنيسة المصليّة في الشرق تعيش كل يوم حياة جديدة: تعيش ذلك اليوم الذي جعل الله منه الساعة الحاسمة لإعلان محبته لنا على الصليب فوق الجلجثة</strong>، إنها تصلي يومياً: [أيها المسيح إلهنا، يا من في هذه الساعة بسطت يديك الحانيتين علي الصليب لكي تجمع الجميع اليك، إنها هذه المحبة التي تبيد الموت، إنها محبة رجل الآلام الحامل الأوجاع، إنها سر الهتاف الذي كمل في صمت الله.] (عن القديس اغناطيوس الانطاكي).</p>
<p><strong>والله متجسداً دوماً في لحم التاريخ الإنساني، إنه مصلوب في كل ألم ووجع إنساني</strong>، فنحن في أنطاكية قد وصلنا الي قاع هاوية المرارة، ومع ذلك فليلنا ليل الترقّب. فنحن - علي حد قول يوحنا الدمشقي - كالجمر الذي لا يحترق من نفسه ولكنه يحترق بالنار التي تتخلله. هكذا أنا لست سوى فحمة سوداء باردة، ولكي ألتهب بنار العنصرة أحتاج الى خبز الله الذي هو جسد السيد المسيح والى شرب دمه الذي هو المحبة الباقية الى الأبد.</p>
<p>ففيه وحده نحن أكثر من منتصرين، وفيه مركز الكون، وفيه نقطة التلاقي التي تخفي السلام داخلها. [إنه فينا تقدمة السلام، إنه المُعطي والعطية.] (من قداس القديس يوحنا ذهبي الفم) فنحن أشبه بيعقوب في مصارعته مع الملاك (تك٣٢: ٢٢- ٣٢) إذ نصارع في الظلام، ولكننا نعرف أن الفجر سينبثق، وأننا سنرى الله وجهاً لوجه، وعلي الرغم من أننا سنخرج عارجين لأن حُق فخذنا قد انخلع فإننا سنكون قادرين مع الله والناس . <strong>فنضرع الى الله أن يطلع النهار قريباً، وأن يمنحنا القوة لنحوّل الأرض نحو رؤية وجه الله</strong>.</p>
<h3>المراجع</h3>
<p><a href="#_ftnref1" name="_ftn1">[1]</a>  كتاب الرسائل الفصحية للقديس أثناسيوس الكبير - الرسالة الثالثة عشر (عيد القيامة في 24 برمودة سنة 57 ش. - 19 أبريل سنة 341 م.) - صفحة 57 - القمص تادرس يعقوب ملطي.</p>
<p><a href="#_ftnref2" name="_ftn2">[2]</a>  تفسير انجيل يوحنا للقديس كيرلس الاسكندري - المجلد الاول ص 637 - ترجمة دكتور نصحي عبد الشهيد وآخرون.</p>
<p><a href="#_ftnref3" name="_ftn3">[3]</a>  <strong>مجلة مدارس الأحد - عدد ديسمبر لسنة ١٩٦٧ - القس تادرس يعقوب ملطي</strong>.</p>
<p><a href="#_ftnref4" name="_ftn4">[4]</a>  كتاب بستان الروح – الجزء الثاني (صفحة 171- 177) - الأنبا يؤانس أسقف الغربية .</p>
<p><a href="#_ftnref5" name="_ftn5">[5]</a>  كتاب أم الفرح وبناتها - صفحة ٤٩ - الأستاذة إيريس حبيب المصري.</p>

      {% endcreateArticleAccordions %}
    </section>
  {% endblock %}
