---
layout: 'layouts/reading.html'
title: 'يوم الخميس من الأسبوع الرابع للخمسين يوم المُقَدَّسَة'
permalink: pentecost/4-4.html
---
  {% block content %}
    <section id="readings">
      <ul>
      {% if 'undefined' != 'undefined' %}
      
      {% else %}
      {% if '19.127:2-3' != 'null' %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">العشية</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeVespers '19.127:2-3' '41.7:1-4' %}
          </div>
        </div>
      </li>
      {% endif %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">باكر</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeMatins '19.97:7-8' '41.4:21-25' '' %}
          </div>
        </div>
      </li>
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <h3 class="flex items-center justify-between">
            <span class="kufi">القداس</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </h3>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeLitugy '45.3:21-26' '62.3:18-24' '44.5:30-33' '19.67:1,6,7' '43.8:54-59' %}
          </div>
        </div>
      </li>

      {% endif %}
        </ul>
    </section>
    <section id="article">
      <h3 class="mt-8 mb-4 heading-explain">شرح القراءات</h3>
      {% createArticleAccordions %}
        <h3>بِر التعليم</h3>
<p>تتكلم قراءات اليوم عن <strong>بر التعليم.. </strong> بر تعليم العهد الجديد المعلن في المسيح المُخَلِّص والممنوح مجاناً لكل من يؤمن..</p>
<p></p>
<h4>المزامير</h4>
<p>لذلك تبدأ القراءات:</p>
<ul>
<li><strong>بمزمور عشية</strong> الذي يعلن فيه عن ← <strong>عطايا الآب لأولاده</strong> الإطمئنان والراحة والنسل المقدس &#8220;إذا ما أعطى أحبائه نوماً. هوذا ميراث الرب البنون&#8221; (مز 126: 3).</li>
<li>وفي<strong> مزمور باكر </strong>عن ← <strong>فرح أولاد الله لعطاياه وبره الإلهي</strong> &#8220;سمعت صهيون ففرحت. وتهللت بنات اليهودية. من أجل أحكامك يارب&#8221; (مز 96: 8).</li>
<li>وفي <strong>مزمور القداس </strong>← <strong>تطلع النفس الدائم إلى فوق ويقينها أن مراحم الله ورأفاته هي أساس حياتها</strong> &#8220;ليتراءف الله علينا ويباركنا. وليظهر وجهه علينا ويرحمنا&#8221; (مز66: 1).</li>
</ul>
<p></p>
<h4>إنجيل عشية</h4>
<p>وفي إنجيل عشية عن ← <strong>تعاليم وتقليدات البشر التي تتعارض مع بر الله </strong>&#8220;فرأوا بعض تلاميذه يأكلون الخبز بأيد دنسة أي غير مغسولة لأن الفريسيين وسائر اليهود لا يأكلون ما لم يغسلوا أيديهم مراراً كثيرة متمسكين بتقليد الشيوخ&#8221;.</p>
<p></p>
<h4>انجيل باكر</h4>
<p>وفي انجيل باكر عن ← <strong>إستعلان بر العهد الجديد لكل المؤمنين وثماره فيهم وحرمان المستهينين </strong>&#8220;ثم قال لهم هل يوقد سراج ليوضع تحت المكيال أو تحت السرير. أليس ليوضع على المنارة&#8230; لأن من له يعطى ومن ليس له فالذي عنده ينزع منه&#8221;.</p>
<p></p>
<h4>البولس</h4>
<p>وفي البولس عن ← <strong>احتياج كل البشرية في العهد الجديد لبر الله </strong>&#8220;إن بر الله إنما هو الإيمان بيسوع المسيح إلى كل وعلى كل الذين يؤمنون لأنه لا فرق إذ الجميع أخطأوا وأعوزهم مجد الله، فالجميع يتبررون مجاناً بنعمته بالخلاص&#8230; بيسوع المسيح&#8221;.</p>
<p></p>
<h4>الكاثوليكون</h4>
<p>وفي الكاثوليكون عن أن ← <strong>بر الله يظهر في الإيمان بيسوع وفي محبتنا بعضنا لبعض </strong>&#8220;فبهذا نعلم أننا من الحق وأننا بالحق نقنع قلوبنا قدامه.. وهذه وصيته أن نؤمن بإبنه يسوع المسيح وأن نحب بعضنا بعضاً&#8221;.</p>
<p></p>
<h4>الابركسيس</h4>
<p>وفي الابركسيس عن ← <strong>إعلان الكنيسة عن بر الله في تعليمها الكنسي وفي كرازتها </strong>&#8220;هذا رفعه الله بيمينه رئيساً ومخلصاً يعطي إسرائيل التوبة ومغفرة الخطايا ونحن شهود له بهذه الأمور والروح القدس أيضاً الذي أعطاه الله للذين يؤمنون&#8221;.</p>
<p></p>
<h4>إنجيل القداس</h4>
<p>وفي انجيل القداس عن ← <strong>برتعليم العهد الجديد الذي أعلن تدبير الآب والإبن لأجل خلاص كل البشر والذي كان شهوة الآباء والأنبياء </strong>قديماً &#8220;لكني أعرفه وأحفظ كلامه. إبراهيم أبوكم كان يتهلل مشتهياً أن يرى يومي فرأى وفرح&#8221;.</p>
<p></p>
<h3>ملخص الشرح</h3>
<ul>
<li>تطلع النفوس الدائم إلى فوق ليقينها أن مراحم الله هي مصدر حياتها وذلك لغنى عطايا الله المفرحة لها. (مزمور عشية &#8211; مزمور باكر- مزمور القداس).</li>
<li>خطورة تعاليم وتقليدات البشر التي تتعارض مع بر الله. (انجيل عشية).</li>
<li>إستعلان بر العهد الجديد لكل المؤمنين وثماره فيهم وحرمان المستهينين بعطايا الله. (انجيل باكر).</li>
<li>إحتياج كل البشرية في العهد الجديد لبر الله. (البولس).</li>
<li>بر الله يظهر في الإيمان بيسوع وفي محبتنا بعضنا لبعض. (الكاثوليكون).</li>
<li>إعلان الكنيسة عن بر الله في تعليمها الكنسي وفي كرازتها. (الابركسيس).</li>
<li>بر تعليم العهد الجديد أعلن وحدة تدبير الآب والإبن لأجل خلاص كل البشر والذي كان شهوة كل الآباء والأنبياء. (إنجيل القداس).</li>
</ul>
<p></p>
<h3>عظات آبائية ليوم الخميس من الأسبوع الرابع من الخمسين يوم المقدسة</h3>
<h4>العظة الأولى <strong>من الرسائل الفصحية &#8211; </strong>للقديس أثناسيوس الرسولي<a href="#_ftn1" name="_ftnref1">[1]</a></h4>
<p><strong>لقد انتهت أعياد اليهود</strong></p>
<p>&#8220;مُبَارَكٌ اللهُ أَبُو رَبِّنَا يَسُوعَ الْمَسِيحِ&#8221; (أف1: 3)، فإن مثل هذه مناسبة لأن تكون مقدمة للرسالة، خاصة الآن، حيث نقدم الشكر لله بكلمات الرسول، لأنه أحضرنا من مكان بعيد، ووهبنا مرة أخرى أن نكتب إليكم بصراحة  كما هي العادة في رسائل العيد.</p>
<p>لأنه قد اقترب موسم العيد يا أخوتي، فلا نعلن عنه بالأبواق كما يسجل لنا التاريخ، بل عرفنا به وقربنا إليه المخلص، الذي تألم لأجلنا وقام أيضاً كما بشر بولس قائلاً &#8220;لأَنَّ فِصْحَنَا أَيْضًا الْمَسِيحَ قَدْ ذُبحَ لأَجْلِنَا&#8221; (1كو5: 7) فعيد الفصح هو عيدنا&#8230; ولم يعد بعد لليهود. لأنه قد انتهى، والأمور عتيقة تلاشت. والآن جاء شهر الأمور الجديدة الذي فيه يلزم على كل إنسان أن يحفظ العيد، مطيعاً ذاك الذي قال &#8221; اِحْفَظْ شَهْرَ..(الأمور الجديدة) وَاعْمَلْ فِصْحًا لِلرَّبِّ إِلهِكَ&#8221; (تث16: 1).</p>
<p>فأنه حتى الوثنيين يحفظون عيداً واليهود في ريائهم يعيدون. لكن الرب انتهر أعياد الوثنيين ناظراً إليها كخبز الحزن، وحول وجهه عن أعياد اليهود بكونهم مرفوضين قائلاً &#8220;رُؤُوسُ شُهُورِكُمْ وَأَعْيَادُكُمْ (سبوتكم) بَغَضَتْهَا نَفْسِي&#8221; (إش1: 14).</p>
<p>فالأعمال التي لا تنفذ بطريقة سليمة وبورع تصبح غير مفيدة. فبالرغم من تكريمهم لها، إلا أنهم ينفذون ما أمروا به بطريقة ريائية. لذلك فأنه بالرغم من أن مثل هؤلاء الأشخاص يتظاهرون بتقديم ذبائح، لكنهم يسمعون من الآب بأن كل ذبائحهم غير مقبولة وتقدماتهم لا تبهجه، وإن كانوا يقدمون دقيقاً فاخرًا لكنهم يعملون باطلاً. وبخورهم أيضاً هو مكرهة له (إش1: 13؛ إر6: 2) لأن الله غير محتاج إلى شيء، كل شيء بالنسبة له طاهر.</p>
<p>وقد أوجد الشريعة الخاصة بهذه الأمور لأجل تعليم الناس ولكي تشير إلى الأمور المقبلة، وكما قال بولس لأهل غلاطية &#8220;وَلكِنْ قَبْلَمَا جَاءَ الإِيمَانُ كُنَّا مَحْرُوسِينَ تَحْتَ النَّامُوسِ، مُغْلَقًا عَلَيْنَا إِلَى الإِيمَانِ الْعَتِيدِ أَنْ يُعْلَنَ. إِذًا قَدْ كَانَ النَّامُوسُ مُؤَدِّبَنَا إِلَى الْمَسِيحِ، لِكَيْ نَتَبَرَّرَ بِالإِيمَانِ&#8221; (غل3: 23، 24).</p>
<p>لكن اليهود لم يعرفوا ولا فهموا، لهذا ساروا في اليوم المعين (عند مجيء المسيح) في الظلام، شاعرين بالحقيقة التي نلمسها نحن التي (كانت في الناموس) لكنهم لم يتلامسوا معها، مطبقين الحرف، غير خاضعين  للروح.</p>
<p>انظروا كيف وبخهم الرب بلطف &#8221; لأَنَّكُمْ لَوْ كُنْتُمْ تُصَدِّقُونَ مُوسَى لَكُنْتُمْ تُصَدِّقُونَنِي، لأَنَّهُ هُوَ كَتَبَ عَنِّي. فَإِنْ كُنْتُمْ لَسْتُمْ تُصَدِّقُونَ كُتُبَ ذَاكَ، فَكَيْفَ تُصَدِّقُونَ كَلاَمِي؟!&#8221; (يو5: 46). وإذ هم غير مؤمنين استمروا في الناموس باطلاً، مصدقين الأمور حسب ملذاتهم، غير فاهمين الكتاب المقدس. وأكثر من هذا إذ في رياء وضعوا تفسيرًا للنصوص الواضحة من الكتاب المقدس ووثقوا في ذلك، لهذا غضب الله عليهم قائلاً على لسان إشعياء &#8220;مَنْ طَلَبَ هذَا مِنْ أَيْدِيكُمْ؟!&#8221; (إش1: 12) وعلى لسان إرميا هددهم إذ كانوا متجاسرين جداً، قائلاً &#8220;ضُمُّوا مُحْرَقَاتِكُمْ إِلَى ذَبَائِحِكُمْ وَكُلُوا لَحْمًا لأَنِّي لَمْ أُكَلِّمْ آبَاءَكُمْ وَلاَ أَوْصَيْتُهُمْ يَوْمَ أَخْرَجْتُهُمْ مِنْ أَرْضِ مِصْرَ مِنْ جِهَةِ مُحْرَقَةٍ وَذَبِيحَةٍ&#8221; (إر7: 21، 22)،  لأنهم لم يفعلوا كما يجب، ولم تكن غيرتهم حسب الناموس، بل طلبوا لذاتهم في مثل تلك الأيام كما يتهمهم النبي، إذ ينزلون من قدر الضامنين، حاملين أنفسهم إلى المحاكمات والمنازعات، ضاربين المتواضع بالأول، صانعين كل الأمور حسب ملذاتهم.</p>
<p>لهذا السبب فأنهم سيبقون بغير عيد إلى النهاية، مع أنهم يقومون بدور تمثيلي بأكل اللحم خارج المكان وفي غير الميعاد. فبدلاً من تقديم الحمل الذي بحسب الناموس، تعلموا أن يقدموا ذبائح البعل، وبدلاً من الفطير الحقيقي &#8220;يَلْتَقِطُونَ حَطَبًا، وَالآبَاءُ يُوقِدُونَ النَّارَ، وَالنِّسَاءُ يَعْجِنَّ الْعَجِينَ، لِيَصْنَعْنَ كَعْكًا لِمَلِكَةِ السَّمَاوَاتِ، وَلِسَكْبِ سَكَائِبَ لآلِهَةٍ أُخْرَى لِكَيْ يُغِيظُونِي (يقول الرب)&#8221; (إر7: 18).</p>
<p>إنهم ينالون جزاءً عادلاً بسبب هذا السلوك، فإنهم وإن تظاهروا بحفظ الفصح، لكن الفرح والشرور ينتزعان من أفواههم، كما يقول إرميا &#8220;وَأُبَطِّلُ مِنْ مُدُنِ يَهُوذَا وَمِنْ شَوَارِعِ أُورُشَلِيمَ صَوْتَ الطَّرَبِ وَصَوْتَ الْفَرَحِ، صَوْتَ الْعَرِيسِ وَصَوْتَ الْعَرُوسِ، لأَنَّ الأَرْضَ تَصِيرُ خَرَابًا&#8221; (إر7: 34).</p>
<p>لذلك &#8220;مَنْ يَذْبَحُ ثَوْرًا فَهُوَ قَاتِلُ إِنْسَانٍ مَنْ يَذْبَحُ شَاةً فَهُوَ نَاحِرُ كَلْبٍ مَنْ يُصْعِدُ تَقْدِمَةً يُصْعِدُ دَمَ خِنْزِيرٍ مَنْ أَحْرَقَ لُبَانًا فَهُوَ مُبَارِكٌ وَثَنًا (مجدفاً)&#8221; (إش66: 3).</p>
<p>والآن فإن هذه الأشياء لن تسر الله، ولا يطلبها منهم، لكنه يقول &#8220;بَلْ هُمُ اخْتَارُوا طُرُقَهُمْ، وَبِمَكْرَهَاتِهِمْ سُرَّتْ أَنْفُسُهُمْ&#8221; (إش66: 3).</p>
<p><strong>إعتراض</strong></p>
<p>ماذا يعني هذا يا أخوتي؟! لأنه يحق لنا أن نتحقق من قول النبي وخاصة فيما يختص بالهراطقة الذين حولوا فكرهم ضد الناموس، معترضين.</p>
<p>لقد أمر الله موسى باحترام الذبائح، ويقوم سفر اللاويين بكليته بترتيب هذه الأمور حتى يقبل الله مقدمي الذبائح، ويوبخ الله عن طريق الأنبياء من يحتقرهذه الأمور كعصاة على الوصايا قائلاً &#8220;حِينَمَا تَأْتُونَ لِتَظْهَرُوا أَمَامِي، مَنْ طَلَبَ هذَا مِنْ أَيْدِيكُمْ أَنْ تَدُوسُوا دُورِي؟&#8221; (إش1: 12) &#8220;لأَنِّي لَمْ أُكَلِّمْ آبَاءَكُمْ وَلاَ أَوْصَيْتُهُمْ يَوْمَ أَخْرَجْتُهُمْ مِنْ أَرْضِ مِصْرَ مِنْ جِهَةِ مُحْرَقَةٍ وَذَبِيحَةٍ&#8221; (إر7: 22). غير أن البعض ظن أن الكتاب المقدس بهذا غير متفق مع بعضه البعض، وأن الله الذي أعطى هذه الوصايا باطل.</p>
<p>لكن الحقيقة أنه لا يوجد تعارض في الكتاب، حاشا، ولا يمكن للآب الذي هو &#8220;الحق&#8221; أن يكذب كما يؤكد الرسول.. (عب6: 18).</p>
<p>ولكن هذه الأمور واضحة بالنسبة للذين يتأملونها حسنًا، ويتقبلون كتاب الناموس بإيمان.</p>
<p>والآن يظهر لي -بنعمة الله وبصلواتكم- أن الملاحظات التي أبديها ليست بعيدة عن الحق، إذ أن الوصايا والشريعة الخاصة بهذه الذبائح لم تكن من البداية. ولا يهم فكر الله واهب الشريعة هذه المحرقات، ولكن هذه الأشياء التي أشير إليها إنما هي رموز لغيرها &#8220;لأَنَّ النَّامُوسَ، إِذْ لَهُ ظِلُّ الْخَيْرَاتِ الْعَتِيدَةِ&#8221; (عب10: 1) &#8220;مَوْضُوعَةٍ إِلَى وَقْتِ الإِصْلاَحِ&#8221; (عب9: 10).</p>
<p>لذلك فإنه لم يعالج الناموس كله الذبائح، رغم وجود وصايا خاصة بالذبائح في الناموس، لكي بهذا يعلم الناس، وينقذهم من الأوثان، ويجلبهم بالقرب من الله، معلما إياهم لأجل أيامنا الحاضرة.</p>
<p></p>
<h4>شرح لأنجيل القداس &#8211; القديس كيرلس الأسكندري<a href="#_ftn2" name="_ftnref2">[2]</a></h4>
<p><strong>(یو</strong><strong>۵۸</strong><strong>:</strong><strong>۸</strong><strong>)</strong>: &#8220;<strong>قَالَ لَهُمْ يَسُوعُ</strong>:«<strong>الْحَقَّ الْحَقَّ أَقُولُ لَكُمْ: قَبْلَ أَنْ يَكُونَ إِبْرَاهِيمُ أَنَا كَائِنٌ</strong>»&#8221;.</p>
<p>ومرة أخرى يسير المسيح نحو وسيلته المعتادة والمفضلة، لأنه في بعض الأوقات يتحدث بغموض شديد، ويحجب قصده بحجب متنوعة لكي لا يكون القصد واضحاً أو مكشوفاً. ولكن حينما يرى أن السامعين لم يفهموا أي شيء بالمرة، فعندئذ يجرد حديثه من كل غموض ويضعه أمامهم مكشوفاً وواضحاً. وهذا ما يحاول أن يفعله في هذه المناسبة الحاضرة. فحيث إنه وجد أنهم لم يفهموا شيئاً -بالرغم من حديثه الطويل، الذي كان قد قدمه- كما أنهم لم يكونوا قادرين أن يدركوا أنه أزلي لكونه من أب أزلي، وأنه أعظم من إبراهيم بما لا يقاس لكونه إلهاً؛ لذلك فهو الآن يتحدث علناً، ويستعمل عبارة الحق الحق على أنها قسم لتثبيت الأمور التي تقال، ثم (يكمل) &#8220;قَبْلَ أَنْ يَكُونَ إِبْرَاهِيمُ أَنَا كَائِنٌ&#8221;.</p>
<p>ونحن لن نفكر بأي حال أن الابن الوحيد يفتخر بكونه قبل إبراهيم فقط لأنه (المسيح) هو قبل كل زمان وولادته أزلية، إذ هو في الآب بلا بداية. ولكن حيث إن مجال المقارنة بإبراهيم مفتوح أمامه الآن فهو يقول إنه أكبر منه تماماً مثلما يقول الرقم ١٠٠ مثلاً، أنا أكبر من رقم ١٠. وبالتأكيد لن يقول هذا على أنه يشغل الرقم الأعلى مباشرة من رقم ١٠، لكن الرقم ١٠٠ يقول هذا لأنه أكثر بكثير جداً من رقم ١٠. لذلك فهو لا يجري مقارنة بينه وبين زمن إبراهيم، كما أنه لا يؤكد أنه يسبق زمن إبراهيم بوقت قليل، بل حيث إنه فوق كل زمان ويتجاوز رقم كل عصر، فهو يقول إنه قبل إبراهيم. بهذا فهو ينطق بالحق.</p>
<p>وإذ هو يقول الحق تماماً عندما يتحدث عن إبراهيم، قائلاً عن نفسه: &#8220;أَنَا كَائِنٌ&#8221; قبل أن يكون إبراهيم، فإنه يبين أنه بالنسبة لمن هو مخلوق من العدم فبالضرورة يصير إلى الاضمحلال، أما بالنسبة لذلك الذي هو كائن دائماً. فهو بعيد تماماً عن الاضمحلال. إذن فهو أعظم وأعلا من إبراهيم، أعظم لأنه أزلي وأعلا لأنه لا ينحل كما ينحل إبراهيم.</p>
<p><strong>(يو٥٩:٨:٨)</strong>: &#8220;<strong>فَرَفَعُوا حِجَارَةً لِيَرْجُمُوهُ أَمَّا يَسُوعُ فَاخْتَفَى وَخَرَجَ مِنَ الْهَيْكَلِ مُجْتَازًا فِي وَسْطِهِمْ وَمَضَى هكَذَا</strong>&#8220;.</p>
<p>إذ هم لا يرون الحق . فإنهم في الواقع هم أنفسهم كذابون ولهم أيضاً أب كذاب كما يقول المخل . بل هم يغضبون بدون وجود سبب للغضب. وإذ يعتقدون أنهم ينبغي أن يناضلوا لأجل مجد جدهم، كما لو كان ينبغي أن يعرفوا معنى الأمور التي قيلت ومن هو هذا الذي يتكلم هكذا، بل بتحولهم إلى جنون غير معقول ووحشي، فإنهم يحاولون أن يلقوا عليه الحجارة، وكأنهم لم يكونوا قد أساءوا إليه بدرجة كافية قبل ذلك بشكاواهم الكثيرة، وبحماقتهم فإنهم يجلبون على أنفسهم غضباً ليس بقليل. لذلك فإن محاولة اليهود هي حمقاء جداً وحادة جداً. ولكنها لا تتحول إلى فعل في غير الوقت المناسب، لأن ساعة آلامه لم تكن قد جاءت بعد.</p>
<p>فالمسيح يخفى نفسه لا منسحباً وراء الجدران، ولا واضعاً شخص آخر أمامه (ليخفيه) بل بقوة لاهوته يجعل نفسه غير منظور بالنسبة لأولئك الذين يطلبونه. ولم يكن يكفى أن يختفي عن عيونهم بل هو أيضا يخرج من الهيكل مقدماً لنا مثالاً في الأمور الروحية.</p>
<p>فبالنسبة لأولئك الذين يحبونه هو ظاهر دائماً كما قال هو: &#8220;طوبى للأنقياء القلب، لأنهم يعاينون الله&#8221; (مت٨:٥). ولكنه يبتعد عن أولئك الذين يميلون لمحاربة الله. ولا يستطيع أحد من الذين يسلكون بعدم تقوى أن يراه. وهو لا يحب أن يكون أو يسكن مع أولئك الذين يضطهدونه، بل هو بالحري يبارح أولئك الذين يسيئون معاملته، آخذاً معه كل فرح وتاركاً إياهم عارين من إنعاماته، وذلك بسبب رغبتهم أن يفعلوا به شراً وبسبب محاولاتهم عديمة التقوى. ورغم ذلك فالمسيح يبين أن كل ما يفعلونه من أمور فهو باطل، وبقدرته التي لا ينطق بها فإنه يبطل تماماً كل جسارة نجسة لأولئك الذين يتعدون عليه.</p>
<p></p>
<h3>عظات آباء وخدّام معاصرين ليوم الخميس من الأسبوع الرابع من الخمسين يوم المقدسة</h3>
<h4>ماهية أقوال الانجيل &#8211; للمتنيح الأنبا اثناسيوس مطران بني سويف والبهنسا<a href="#_ftn3" name="_ftnref3">[3]</a></h4>
<p>إن لدراسة الكتاب المقدس فاعلية جوهرية في حياة الناس، إذ لما كانت كلمة الله هي النطق الإلهى للبشرية فهى مملوءة من روحه، أي مملوءة حياة، ولذا يلزم أن يدرس الكتاب المقدس بكل اهتمام، وحرص وتقدير لفعله في إحياء النفس وإشباعها، إذ &#8220;لَيْسَ بِالْخُبْزِ وَحْدَهُ يَحْيَا الإِنْسَانُ، بَلْ بِكُلِّ كَلِمَةٍ تَخْرُجُ مِنْ فَمِ اللهِ&#8221; (مت ٤:٤) وقد أطلق العهد الجديد على كلمة الإنجيل تسميات يلزم إثباتها لما تضفيه من ضوء على قوة الكتاب المقدس وفعله.</p>
<p><strong>١- كلمة الله:</strong> سميت الكلمة &#8220;كلمة الله&#8221; مراراً كثيرة مثلما جاء في (أع٣١:٤) &#8220;وَامْتَلأَ الْجَمِيعُ مِنَ الرُّوحِ الْقُدُسِ، وَكَانُوا يَتَكَلَّمُونَ بِكَلاَمِ اللهِ بِمُجَاهَرَةٍ&#8221;، ومثل قول الرسل للشعب, &#8220;لاَ يُرْضِي أَنْ نَتْرُكَ نَحْنُ كَلِمَةَ اللهِ وَنَخْدِمَ مَوَائِدَ&#8221; (أع6: 2) &#8220;وَكَانَتْ كَلِمَةُ اللهِ تَنْمُو&#8221; (أع6: 7)، (أع ۱:۱۱؛ ۱۳: ٥؛ ٧، ٤٤، ١٦: ٣٢) وكقوله إلى التسالونيكيين &#8220;قَبِلْتُمُوهَا لاَ كَكَلِمَةِ أُنَاسٍ، بَلْ كَمَا هِيَ بِالْحَقِيقَةِ كَكَلِمَةِ اللهِ، الَّتِي تَعْمَلُ أَيْضًا فِيكُمْ&#8221; (۱تس۱۳:۲؛ عب ۷:۱۳؛ رؤ۱ : ۲، ٩؛ 6: ٩؛ ٤:٢٠) إذن ليس الكتاب المقدس كلام الرسل والأنبياء للناس تعبيراً عن الحقائق الإلهية، بل هو كلمة الله بذاته موجهة إلى الناس لتفعل فيهم فعلها. وليس الإنسان هو الذي يكتشف الله ويعبر عما يراه فيه، بل الله هو الذي يكشف ذاته للناس ليحيهم.</p>
<p><strong>٢- كلمة الرب:</strong> مثلما يقول &#8220;بَعْدَ مَا شَهِدَا وَتَكَلَّمَا بِكَلِمَةِ الرَّبِّ، رَجَعَا إِلَى أُورُشَلِيمَ&#8221; (أع ۸: ٢٥؛ ۱۲: ٢٤؛ ١٣: ٤٩؛ ١٥: ٣٥؛ ۱تس۱: ۱۸؛ ۲تس۱:۳) فكلمة الإنجيل هي كلمة الله مظهراً ذاته لنا. إنها كلمة الله في الجسد، وتعبيره عن ذاته بالطريقة البشرية ليفهمه البشر. مثلما يقول عن هذه الحقيقة &#8220;اَللهُ، بَعْدَ مَا كَلَّمَ الآبَاءَ بِالأَنْبِيَاءِ قَدِيمًا&#8230; كَلَّمَنَا فِي هذِهِ الأَيَّامِ الأَخِيرَةِ فِي ابْنِهِ..&#8221; (عب ۱: ۲،۱).</p>
<p>٣<strong> كلمة الخبر</strong> : ولقد وردت هذه التسمية مرتين في العهد الجديد:</p>
<p>في (١تس۲: ۱۳) في قوله &#8220;&#8230;لأَنَّكُمْ إِذْ تَسَلَّمْتُمْ مِنَّا كَلِمَةَ خَبَرٍ مِنَ اللهِ، قَبِلْتُمُوهَا&#8230;&#8221;،</p>
<p>وفى (عب٤: ٢) &#8220;لأَنَّنَا نَحْنُ أَيْضًا قَدْ بُشِّرْنَا كَمَا أُولئِكَ، لكِنْ لَمْ تَنْفَعْ كَلِمَةُ الْخَبَرِ أُولئِكَ إِذْ لَمْ تَكُنْ مُمْتَزِجَةً بِالإِيمَانِ&#8221;.</p>
<p>ومعنى هذا أنه لابد لكلمة الله من أمرين:</p>
<p>صوت ينقلها مثلما سمى يوحنا المعمدان &#8220;صوت صارخ في البرية&#8221;.</p>
<p>ومثل قوله &#8220;كيف يسمعون بلا كارز&#8221;. ثم أذن تسمع لقلب يعمل &#8220;وَلكِنْ كُونُوا عَامِلِينَ بِالْكَلِمَةِ، لاَ سَامِعِينَ فَقَطْ خَادِعِينَ نُفُوسَكُمْ&#8221; (يع ١: ۲۲).</p>
<p>٤<strong> كلمة الملكوت:</strong> لأنها تعلن عن ملكوت الله الذي هي صادرة منه.  وهي رسالة من الملكوت، لتقيم الملكوت في قلوب الناس وعلى الأرض &#8220;كُلُّ مَنْ يَسْمَعُ كَلِمَةَ الْمَلَكُوتِ وَلاَ يَفْهَمُ، فَيَأْتِي الشِّرِّيرُ وَيَخْطَفُ مَا قَدْ زُرِعَ فِي قَلْبِهِ&#8221; (مت ۱۳: ۱۹).</p>
<p><strong>٥- كلمة الإنجيل:</strong> أي كلمة البشرى المفرحة حيث أن هذا الخبر هو عن الله وفعله من أجل البشرية، هو البشرى المملوءة فرحاً كقول معلمنا بطرس في مجمع أورشليم &#8220;اخْتَارَ اللهُ بَيْنَنَا أَنَّهُ بِفَمِي يَسْمَعُ الأُمَمُ كَلِمَةَ الإِنْجِيلِ وَيُؤْمِنُونَ&#8221; (أع 15: ٧ وكذلك کو ٥:١).</p>
<p><strong>٦- كلمة النعمة:</strong> فحياتنا الأبدية نعمة من الله، هبة من عنده تعطينا أن نتمتع ببركانها (أع ١٤: ٣؛ ۲۰: ۳۲).</p>
<p><strong>٧– كلمة الخلاص: </strong>مثلما خاطب بولس الشعب في غلاطية بقوله &#8220;أَيُّهَا الرِّجَالُ الإِخْوَةُ بَنِي جِنْسِ إِبْرَاهِيمَ، وَالَّذِينَ بَيْنَكُمْ يَتَّقُونَ اللهَ، إِلَيْكُمْ أُرْسِلَتْ كَلِمَةُ هذَا الْخَلاَصِ&#8221; (أع ٢٦:١٣) هذا الخلاص الذي هو كفارة لنا عن حكم الموت &#8220;وَهُوَ كَفَّارَةٌ لِخَطَايَانَا لَيْسَ لِخَطَايَانَا فَقَطْ، بَلْ لِخَطَايَا كُلِّ الْعَالَمِ أَيْضًا&#8221; (١يو۲: ۲) وقوة الخلاص من فعل الخطية &#8220;لأَنَّ نَامُوسَ رُوحِ الْحَيَاةِ فِي الْمَسِيحِ يَسُوعَ قَدْ أَعْتَقَنِي مِنْ نَامُوسِ الْخَطِيَّةِ وَالْمَوْتِ&#8221; (رو۸: ۲).</p>
<p><strong>٨– كلمة المصالحة:</strong> وهكذا بعد أن خلصنا صرنا مصطلحين مع الله &#8220;أَيْ إِنَّ اللهَ كَانَ فِي الْمَسِيحِ مُصَالِحًا الْعَالَمَ لِنَفْسِهِ، غَيْرَ حَاسِبٍ لَهُمْ خَطَايَاهُمْ، وَوَاضِعًا فِينَا كَلِمَةَ الْمُصَالَحَةِ&#8221; (٢کو٥: ١٩) فالعلاقة التي كانت أصلاً بيننا وبين الله عادت مرة أخرى، وصار آدم مصطلحاً مع الله عشيراً واليفاً له، كما كان في الفردوس.</p>
<p><strong>٩- كلمة الصليب:</strong> وليس من أساس للنعمة والمصالحة إلا من قبل الصليب، الذي كان موضوع لعنة، ولكنه صار موضوع بركة المسيحيين وفخرهم &#8220;وَأَمَّا مِنْ جِهَتِي، فَحَاشَا لِي أَنْ أَفْتَخِرَ إِلاَّ بِصَلِيبِ رَبِّنَا يَسُوعَ الْمَسِيحِ، الَّذِي بِهِ قَدْ صُلِبَ الْعَالَمُ لِي وَأَنَا لِلْعَالَمِ&#8221; (غل6: 14).</p>
<p><strong>١٠- كلمة الحق:</strong> وهل من حق إلا معرفة الفادي! هذا الذي قال عن نفسه &#8220;أَنَا هُوَ الطَّرِيقُ وَالْحَقُّ وَالْحَيَاةُ&#8221; (يو١٤: ٦) سميت كلمة الله كلمة الحق لأنها هي الحق الوحيد، وهي كلمة الاله الحق &#8220;الَّذِي فِيهِ أَيْضًا أَنْتُمْ، إِذْ سَمِعْتُمْ كَلِمَةَ الْحَقِّ، إِنْجِيلَ خَلاَصِكُمُ، الَّذِي فِيهِ أَيْضًا إِذْ آمَنْتُمْ خُتِمْتُمْ بِرُوحِ الْمَوْعِدِ الْقُدُّوسِ&#8221; (أف١: ١٣) وكذلك خاطب الرسول بولس أهل كولوسى عن &#8220;&#8230;الرَّجَاءِ الْمَوْضُوعِ لَكُمْ فِي السَّمَاوَاتِ، الَّذِي سَمِعْتُمْ بِهِ قَبْلاً فِي كَلِمَةِ حَقِّ الإِنْجِيلِ&#8221; (کو١: ٥ ). (أنظر ٢کو٦: ۷؛ تی ۲: ۱۰).</p>
<p><strong>١١ – كلمة البر :</strong> وهكذا يتحرر الإنسان من سلطان الخطية وإبليس. ويقف في صورة البر أمام الله الذي لا يمكن الوجود في محضره في غير صورة القداسة &#8220;لأَنَّ كُلَّ مَنْ يَتَنَاوَلُ اللَّبَنَ هُوَ عَدِيمُ الْخِبْرَةِ فِي كَلاَمِ الْبِرِّ لأَنَّهُ طِفْلٌ&#8221; (عب٥: ١٣) ذلك لأن كل كلام الكتاب هو كلام البر لأنه كلام الرب البار &#8220;مَنْ يَفْعَلُ الْبِرَّ فَهُوَ بَارٌّ، كَمَا أَنَّ ذَاكَ بَارٌّ&#8221; (١يو۳: ۷).</p>
<p><strong>۱۲</strong><strong> – كلمة الشفاء </strong>: أي كلمة إعطاء الصحة، إذ أن هذا هو المعنى الوارد في قول الرسول لتلميذه تيموثاوس &#8220;تَمَسَّكْ بِصُورَةِ الْكَلاَمِ الصَّحِيحِ&#8221; (٢تي ۱: ۱۳). أي الذي بدون مرض، والمعطى الصحة، وهنا نجد كلمة الله صحيحة في ذاتها خالية من أي علة، تعطي التوجيه الأمين للناس، ثم أنها تعطيهم الصحة لأنها تشبعهم بالحق.</p>
<p><strong>۱۳</strong><strong>– كلمة الحياة:</strong> وأخيرا هي كلمة الحياة، التي بدونها لا يحيا إنسان، والتي من يأكلها يحيا بها، ولذا يلزم أن تكون غذاءنا الدائم الذي لا نفتر عنه يوماً من الأيام. يأكلها الطفل حين يبدأ في إنقان القراءة، ويتغذى عليها الشاب وتشيع بها الأسرة، وهى رصيد الإنسان في مرضه، وهي زاده في شيخوخته حين تكل عيناه، ولا يقوى على العمل أو القراءة، فيردد ما اختزنه منها، أو يستمع إليها. يجب أن ندرسها، فرادي، وعائلات، وجماعات، لأنها كلمة الحياة الحقيقية الأبدية التي تبدأ هنا وتنتهى بنا أمام الرب في المجد &#8220;مُتَمَسِّكِينَ بِكَلِمَةِ الْحَيَاةِ لافْتِخَارِي فِي يَوْمِ الْمَسِيحِ&#8221; (في٢: ١٦).</p>
<p></p>
<h4>العظة الثانية شرح انجيل القداس – القمص أنطونيوس فكري<a href="#_ftn4" name="_ftnref4">[4]</a></h4>
<p><strong>(يو8: 55، 56)</strong><strong> &#8220;أَجَابَ يَسُوعُ: إِنْ كُنْتُ أُمَجِّدُ نَفْسِي فَلَيْسَ مَجْدِي شَيْئًا. أَبِي هُوَ الَّذِي يُمَجِّدُنِي، الَّذِي تَقُولُونَ أَنْتُمْ إِنَّهُ إِلهُكُمْ، وَلَسْتُمْ تَعْرِفُونَهُ. وَأَمَّا أَنَا فَأَعْرِفُهُ. وَإِنْ قُلْتُ إِنِّي لَسْتُ أَعْرِفُهُ أَكُونُ مِثْلَكُمْ كَاذِبًا، لكِنِّي أَعْرِفُهُ وَأَحْفَظُ قَوْلَهُ&#8221;</strong></p>
<p>المسيح في تواضع وإخلاء ذات يقول من جهة بشريته أنا لا أمجد نفسي فأنا أخليت ذاتي. وكون أني قلت &#8220;إن كان أحد يحفظ كلامي فلن يرى الموت&#8221; فهذا ليس معناه أنني أمجد نفسي بل أقول الحقيقة. والآب هو الذي سيعطيني مجدي الذي لي قبل أن أخلي ذاتي. أنا لا أطلب مجدًا في منافسة مع الآب، بل هو أعطاني مجدًا، الآن ظاهرًا في أعمالي وسيمجدني أيضًا بعد ذلك حين أجلس عن يمينه = <strong>أبي هو الذي يمجدني.</strong> والمسيح حين أخلي ذاته فهو أخلي ذاته من مجده لا من ألوهيته وهذا يعني أنه لم يظهر مجده للناس. <strong>الذي تقولون أنتم إنه إلههكم = </strong>من يسميه اليهود إلههم هو أبو المسيح، وهو والمسيح ذات واحدة لذلك يقول <strong>لستم تعرفونه أما أنا فأعرفه </strong>(إشارة لإتحاده بالآب) معرفة المسيح لله هي معرفة الذات للذات ومعرفة المثيل للمثيل. وهم لا يعرفونه فهم لو عرفوا الله لما رفضوا ابنه. ومن أقوى الأدلة على معرفة الابن للآب طاعته الكاملة له حتى الصليب. فهو يعرف إرادته وينفذها والعكس فاليهود لا يعرفون الله ولا عرفوا ابنه بل صلبوه بجهالة وإصرار. <strong>أكون مثلكم كاذبًا = </strong>لو جارى المسيح اليهود في وطنيتهم الزائفة وتمسكهم بالسبت والثورة على الرومان لكان كاذبًا، إذ سيخالف إرادة الآب التي يعرفها حق المعرفة. ومن الكذب أن لا يذكر الإنسان كل الحقيقة. وكان أسهل على المسيح أن لا يهاجم اليهود ويكشف لهم ضعفهم ليتوبوا. وكان أسهل عليه أن لا يخبرهم بعلاقته بالآب حتى لا يتشككوا ولكنه لا يكذب بل يقول الحق. ولا يصح أنه في اتضاعه ينكر علاقته بالآب. هو أتى ليظهر الحق ، وهو الحق ، وإخفاء حقيقة علاقته بالآب يصير هذا ضد الحق أي كذب. <strong>أحفظ قوله = </strong>هي معرفة كاملة ناشئة عن الإتحاد، فهما واحد ولهما إرادة واحدة. وهذا ظهر في الطاعة الكاملة حتى إلى الصليب. الآب يريد والابن يريد ولكن التنفيذ هو دور الابن .</p>
<p><strong>تأمل: أبي الذي يمجدني = </strong>على كل إنسان أن لا يسعى أن يمجد نفسه في نظر الناس، بل يخدم الله في أمانة، وإذا أراد الله أن يمجده فليمجده.</p>
<p><strong>آية (٥٦):</strong><strong> &#8220;أَبُوكُمْ إِبْرَاهِيمُ تَهَلَّلَ بِأَنْ يَرَى يَوْمِي فَرَأَى وَفَرِحَ&#8221;</strong></p>
<p><strong>أبوكم إبراهيم = </strong>هذه في مقابل أنه هو ابن الله. هنا المسيح يقول أنه بحسب الجسد فإبراهيم أبوكم ولكنه بالنسبة لي فهو مجرد شاهد رأى خلاصي وفرح.. ولكن <strong>ماذا رأى إبراهيم؟ </strong>في (تك٢٢: ١١- ١٤) بعد أن قدم إبراهيم ابنه ذبيحة يقول أنه دعا اسم المكان يهوة يرأة «الرب يُرى» ولكن الكتاب أمسك عن ذكر ما رآه إبراهيم. وغالبًا فالله أظهر لإبراهيم تفسير ما صنعه معه وأن ما حدث هو رمز كامل للفداء الذي سيقوم به ابن الله الوحيد والذي به يخلص إبراهيم، وكل من كان على إيمان إبراهيم أي أولاد إبراهيم بالروح، وهذا ما جعل إبراهيم يتهلل فهو فهم معنى أن قبائل الأرض تتبارك في نسله أي المسيح الذي سيصلب ويقوم ليعطينا قيامة من الموت. ولذلك أشارت العذراء في تسبحتها &#8220;كَمَا كَلَّمَ آبَاءَنَا لإِبْراهِيمَ وَنَسْلِهِ إِلَى الأَبَدِ&#8221; (لو ١: ٥٥؛ أع ٣: ٢٥، ٢٦؛ عب٦: ١٣- ١٥؛ عب١١: ١٧- ١٩)  ونلاحظ هنا أن إبراهيم قدّم ابنه إذ آمن أن الله قادر على أن يقيم من الأموات ثم عاد به حيًا، فهو رأى القيامة مرتين، مرة بالإيمان، ومرة بالعيان ولاحظ أن هذه القيامة حدثت بعد ٣ أيام من طلب الله تقديم إسحق ذبيحة. كما نفذ المسيح وصية الله مُقَدِّمًا نفسه على الصليب وهو مؤمن بالقيامة من الأموات.</p>
<p><strong>أبوكم إبراهيم تهلل بأن يرى يومي فرأى وفرح =</strong> كثيرين من الربيين وشيوخ السنهدريم يفسرون ما حدث لإبراهيم &#8220;وَقَعَ عَلَى أَبْرَامَ سُبَاتٌ، وَإِذَا رُعْبَةٌ مُظْلِمَةٌ عَظِيمَةٌ وَاقِعَةٌ عَلَيْهِ&#8221; (تك ١٥: 12) بأنه خلال هذا السبات أراه الله ما سيحدث لأبنائه في المستقبل من آلام مرعبة. وأراه أيضًا أمجاد أيام المسيا. فمن سمع هذا الكلام ولم يفهم فهذا راجع ليس لصعوبته أو غرابته بل لأنه لا يريد أن يفهم. وهذا ما حدث من اليهود فحاولوا قتل المسيح.</p>
<p><strong>الآيات (٥٧- ٥٩):</strong><strong> &#8220;فَقَالَ لَهُ الْيَهُودُ: «لَيْسَ لَكَ خَمْسُونَ سَنَةً بَعْدُ، أَفَرَأَيْتَ إِبْرَاهِيمَ؟» قَالَ لَهُمْ يَسُوعُ: «الْحَقَّ الْحَقَّ أَقُولُ لَكُمْ: قَبْلَ أَنْ يَكُونَ إِبْرَاهِيمُ أَنَا كَائِنٌ». فَرَفَعُوا حِجَارَةً لِيَرْجُمُوهُ. أَمَّا يَسُوعُ فَاخْتَفَى وَخَرَجَ مِنَ الْهَيْكَلِ مُجْتَازًا فِي وَسْطِهِمْ وَمَضَى هكَذَا&#8221;</strong></p>
<p>كان عمر المسيح ٣٣ سنة في ذلك الوقت ولكن هيبته جعلتهم يعطونه سن ٥٠ سنة. <strong>والمسيح قال إبراهيم رأى يومي.. </strong>فقالوا <strong>أفرأيت إبراهيم = </strong>هم تصوروا أنه يقصد أن إبراهيم رآه بالجسد وبالتالي فهو رأى إبراهيم بالجسد. ولكن ما كان يقصده المسيح أن إبراهيم رأى أنني فيَّ ستكمل المواعيد. ولذلك فحينما أعلنوا عدم فهمهم أكمل يسوع بوضوح وأعلن عن أزلية وجوده وأنه <strong>كائن قبل إبراهيم</strong>. ولم يقل &#8220;كنت أنا&#8221; فبهذا يصير زمنيًا ولكنه قال &#8220;أنا كائن&#8221; وبهذا يشير لاسمه يهوه أي الكائن. فهنا في مقارنته مع إبراهيم يقارن ما بين الخالق (المسيح) وبين المخلوق (إبراهيم)، الأبدي الأزلي (المسيح) مع الزمني (إبراهيم). وهم حاولوا قتله. وأمسك الله أيديهم فالوقت لم يأتي بعد، وهم كانوا سيرجمونه بالحجارة. ولاحظ أن الهيكل كان يبنى في ذلك الوقت وبالتالي كانت الحجارة موجودة بوفرة. ونلاحظ أن اختفاء المسيح من وسطهم لم يكن المرة الأولى (لو٤: ٢٨- ٣٠) ، (يو٧: ٣٠، ٣٢، ٤٢)، ثم تكرر في (يو١٠: ٣٩؛ يو١٢: ٣٦). واختفاء المسيح يشير لعماهم الروحي فهو وجد في وسطهم ولم يعرفوه، ونجد العكس في الإصحاح القادم فالمسيح يفتح عيني أعمى فهو أتى لهذا ليفتح عيني كل من يقبله. واختفاءه يشير لأنه لم تأتي ساعته للموت. ولكن حين أتت الساعة أسلم ذاته بإرادته.</p>
<p><strong>قبل أن يكون «</strong>معناها الأصلي يصير» <strong>إبراهيم، أنا كائن «</strong>أصلها كينونة وأنا كائن أي أهية= اسم الله».</p>
<p>معنى ما قاله السيد المسيح عن إبراهيم هنا:</p>
<p>الإصحاح كله يدور في حوار لاهوتي يثبت فيه المسيح أنه ابن الله. وبنفس المفهوم يقول لهم هنا.. أنتم تفتخرون بإنتسابكم لإبراهيم أباكم، لكن بالنسبة لي فإبراهيم هو مجرد شاهد رأى فكرة عن الخلاص الذي جئت لأتممه وأنا أكلمكم عنه. الخلاص الذي قلت لكم فيه أنه سيكون لكم حياة أبدية وحرية حقيقية. بل حينما ظهر إبراهيم كنت أنا كائن فأنا أزلي لأنني ابن الله.</p>
<hr />
<p><a href="#_ftnref1" name="_ftn1">[1]</a>  كتاب الرسائل الفصحية للقديس أثناسيوس الكبير – الرسالة التاسعة عشر (عيد القيامة في 17 برمودة 63ش. 12 ابريل 347م.) &#8211; صفحة 67 &#8211; القمص تادرس يعقوب ملطي.</p>
<p><a href="#_ftnref2" name="_ftn2">[2]</a>  تفسير انجيل يوحنا للقديس كيرلس الاسكندري &#8211; المجلد الاول  صفحة 651 &#8211; ترجمة دكتور نصحي عبد الشهيد وآخرون.</p>
<p><a href="#_ftnref3" name="_ftn3">[3]</a>  مجلة مدارس الأحد &#8211; عدد إكتوبر لسنة ١٩٦٧.</p>
<p><a href="#_ftnref4" name="_ftn4">[4]</a>  تفسير إنجيل يوحنا – الاصحاح الثامن &#8211; للقمص أنطونيوس فكري.</p>

      {% endcreateArticleAccordions %}
    </section>
  {% endblock %}
  