---
layout: 'layouts/reading.html'
title: 'يوم الجمعة من الأسبوع الرابع للخمسين يوم المُقَدَّسَة'
tags: 'pentecost'
permalink: /articles/pentecost/4-5.html
---
  {% block content %}
    <section id="readings">
      <ul>
      {% if 'undefined' != 'undefined' %}
      
      {% else %}
      {% if '19.70:1-2' != 'null' %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">العشية</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeVespers '19.70:1-2' '41.8:10-15' %}
          </div>
        </div>
      </li>
      {% endif %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">باكر</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeMatins '19.70:1,5' '41.4:26-29' '' %}
          </div>
        </div>
      </li>
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <h3 class="flex items-center justify-between">
            <span class="kufi">القداس</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </h3>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeLitugy '45.3:27-31' '62.4:1-6' '44.5:34-36' '19.24:1,4' '43.10:34-38' %}
          </div>
        </div>
      </li>

      {% endif %}
        </ul>
    </section>
    <section id="article">
      <h3 class="mt-8 mb-4 heading-explain">شرح القراءات</h3>
      {% createArticleAccordions %}
        <h3>بهاء التعليم الإلهي ونقاوته</h3>
<p>لذلك تبدأ القراءات..</p>
<h4>المزامير</h4>
<ul>
<li><strong>بمزمور عشية </strong>الذي فيه يظهر <strong>هياج مخالفو الناموس على من يحيا بالنقاوة</strong> مثلما هاج شاول ومن معه على داود.. لذلك تصرخ النفس النقية للرب وتستنجد بمعونته &#8220;اللهم إلتفت إلى معونتي يا رب أسرع وأعني وليرتد إلى خلف ويخزى الذين يريدون أن يصنعوا لي الشر&#8221; (مز٦٩ : ١، ٢).</li>
<li>وفي<strong> مزمور باكر </strong>أيضاً <strong>تعترف النفس بمسكنتها وفقرها</strong> &#8220;اللهم إلتفت إلى معونتي&#8230; وأما أنا فمسكين وفقير اللهم أعني&#8221; (مز٦٩: ١، ٥).</li>
<li>ويوضح <strong>مزمور القداس ضمان نقاوة التعليم في الكنيسة</strong> طهارة اليد ونقاوة القلب &#8220;للرب الأرض وكمالها &#8230;. الطاهر بيديه النقي بقلبه&#8221; (مز٤٣: ١، ٢).</li>
</ul>
<h4>إنجيل عشية</h4>
<p>وفي انجيل عشية ← <strong>يحذر من رياء التعاليم الذي يفسد الحياة المسيحية ككل </strong>&#8220;وأوصاهم قائلاً: أنظروا وتحرزوا من خمير الفريسيين وخمير هيرودس&#8221; (مر ٨: ١٥).</p>
<p>تتكلم قراءات يوم الجمعة عن بهاء التعليم الإلهي ونقاوته وخطورة التعاليم الكاذبة والخادعة، وضرورة الإحتراس منها، وأيضاً عن تأثير التعليم الإلهي في النفوس الأمينة والمؤمنة ..</p>
<h4>انجيل باكر</h4>
<p>ومن الناحية الأخرى يظهر في انجيل باكر <strong>بهاء التعليم الإلهي</strong> <strong>الذي من ذاته يعطي ثمراً في حياة الانسان حتى الملء</strong> &#8220;وقال مثل ملكوت الله كمثل إنسان يلقي بذاره على الأرض وينام ويقوم ليلاً ونهاراً والزرع ينمو ويطول وهو لا يعلم لأن الأرض من ذاتها تعطي ثمراً أولاً عشباً ثم سنبلاً ثم يمتلئ ما في السنبل&#8221;.</p>
<h4>البولس</h4>
<p>وفي البولس عن ← <strong>بهاء تعليم العهد الجديد الذي يبرر لا شعب معين بل كل الشعوب بالايمان بيسوع </strong>&#8220;لأن الله واحد هو الذي يبرر أهل الختان بالايمان ويبرر أيضاً أهل الغرلة بالايمان&#8221;.</p>
<h4>الكاثوليكون</h4>
<p>وفي الكاثوليكون عن ← <strong>الإحتراس من التعاليم الكاذبة وتعاليم الأنبياء الكذبة التي تنكر التجسد الذي هو سر التقوى، وأي تعليبم لا يعترف بظهور الله في الجسد لا يكون من الله </strong>&#8220;أيها الأحباء لا تصدقوا كل روح بل جربوا الأرواح هل هي من الله &#8230;. كل روح يعترف أن يسوع المسيح قد جاء بالجسد فهو من الله. وكل روح لا يعترف بأن يسوع المسيح قد جاء بالجسد فليس هو من الله&#8221;.</p>
<h4>الابركسيس</h4>
<p>ويظهر لنا <strong>الابركسيس ← بهاء التعليم الإلهي الذي ظهر في غمالائيل المعلم التقي ليعلن لنا بهاء الناموس لخائفي الله </strong>&#8220;فنهض في المجمع واحد من الفريسيين اسمه غمالائيل معلم للناموس ومُكَرَّم عند جميع الشعب&#8221;.</p>
<h4>إنجيل القداس</h4>
<p>وفي انجيل القداس عن ← <strong>بهاء كلمة الله في كل الكتاب المقدس التي هي أنفاس الله التي تجعل اللاهوت حياً في طبيعة الانسان </strong>&#8220;أجابهم يسوع وقال: أليس مكتوباً في ناموسكم أنا قلت أنكم آلهة لأولئك الذين صارت اليهم كلمة الله ولا يمكن أن يُنقض المكتوب&#8221;.</p>
<h3>ملخص الشرح</h3>
<ul>
<li>هياج مخالفو الناموس على من يحيوا نقاوة التعليم والحياة مع الله وإستنجاد أنقياء القلب بالمعونة الإلهية. (مزمور عشية - مزمور باكر).</li>
<li>ضمان نقاوة التعليم في الكنيسة طهارة اليد ونقاوة القلب. (مزمور القداس).</li>
<li>رياء التعليم يفسد الحياة المسيحية. (انجيل عشية).</li>
<li>التعليم الإلهي يُعطي من ذاته ثمراً في حياة الانسان الذي يحياه حتى الملء. (انجيل باكر).</li>
<li>بهاء تعليم العهد الجديد أنه يبرر كل الشعوب خلال الإيمان بيسوع. (البولس).</li>
</ul>
<p>الإحتراس من تعاليم الأنبياء الكذبة التي تنكر سر التجسد. (الكاثوليكون).</p>
<ul>
<li>بهاء ناموس العهد القديم في حياة خائفي الله وشهادتهم للحق الإلهي. (الابركسيس).</li>
<li>كلمة الله تهب حياة الله للإنسان وتجعل اللاهوت حياً في طبيعة الإنسان من جديد. (إنجيل القداس).</li>
</ul>
<h3>عظات آبائية للجمعة الرابعة للخمسين يوم المقدسة</h3>
<h4>الفائدة العظيمة من قراءة الكتب المقدسة - القديس يوحنا ذهبي الفم<a href="#_ftn1" name="_ftnref1">[1]</a></h4>
<ul>
<li>عندما أنقل فكري إلى ذهني الفقير، حين أكون مدعوَّاً لكي أتحدث إلى جمع كبير جداً، أتراجع. لكن عندما أنظر لمدى أستعدادكم ورغبتكم العارمة للسمع، أنال شجاعة وأتقوى، وبتأهُّبٍ وأستعداد، أخوض جهاد التعليم، لأنكم قادرون، وبلا هوادة حين تأسرون الذهن، على أن تجعلوا هذا الجهاد أخف وزناً من أية ريشة، برغبتكم واشتياقكم للسمع. ومثلما تقضي الحيوانات الشتاء القارص مختفية بعمق في الجحور، لكن عندما يحل الصيف تترك مخابئها وتعيش في قطيع مع بقية الحيوانات، وتصرخ في معية بعضها البعض، هكذا أيضاً نفسي التي اختنقت كما في عُش إدراكي الضعيف، عندما ترى شوق محبتكم تترك العُش وتأتي في  شركة معكم، وبصورة مشتركة معكم، تفرح بالنعم الحسنة للكتب المقدسة، في المرج الروحي والإلهي، في فردوس الكتاب المقدس. لأن قراءة الكتب المقدسة حقاً، هي بستانٌ ومرجٌ روحيٌّ، وفردوس للمتعة، بل هي فردوسٌ للمتعة أحسن من ذاك الفردوس.</li>
</ul>
<p>هذا الفردوس لم يزرعه الله  في الأرض، بل في نفوس الذين يؤمنون، لم يضع هذا الفردوس  في عدن، ولا في الشرق محدِّداً إياه في مكانٍ ما، بل جعله يمتد في كل مكان على الأرض، وجعله يتسع إلى أقاصي المسكونة، بأن نشر كل الكتب المقدسة في كل أجزاء المسكونة، اسمع النبي الذى يقول: &#8220;من أقصى السموات خروجها ومدارها إلى أقاصيها ولا شيء يختفى من حرها&#8221; (مز٥:١٩). فسواء انتقلت إلى بلاد الهند التي ترى أولاً شروق الشمس، أو وصلت إلى المحيط، أو إلى تلك الجُزر البريطانية، سواء أبحرت إلى بلاد بُنطس، أو انتقلت إلى الجانب الجنوبي، فسوف تسمع دائمًا الجميع يتفلسفون من الكتاب المقدس. بالطبع، بلغة أخرى، لكن ليس يإيمان آخر. بلغةً مختلفةٍ، لكن بفكر مشترَكٍ لأن صوت اللغة يتغير، لكن طريقة التقوى لا تتغير، يتحدثون بلغة بربرية، لكن يتفلسفون بالفكر، يتحدثون بأخطاء لغوية، لكن حياتهم هي حياة التقوى .</p>
<p>هل رأيت المدى الذى بلغ إليه طول هذا الفردوس، حيث امتد إلى أقاصي المسكونة؟ هنا لا توجد حيَّةٌ، فالمكانُ طاهرٌ من الوحوش، ومحصَّنٌ بسور نعمة الروح. يوجد فيه أيضًا نبعٌ مثل ذاك، نبعٌ هو أُمُّ الأنهار التي لا تُحصى، ليس فقط أربعة أنهار (أنظر تك٢: ١٠- ١٤). لأن هذا النبع لا يلد نهر تيجري ولا الفرات، ولا نيل مصر، ولا غانجي الهند، بل أنهارٌ لا تُحصى. من يقول هذا؟ الله ذاته الذى منحنا هذه الأنهار: &#8220;مَنْ آمَنَ بِي، كَمَا قَالَ الْكِتَابُ، تَجْرِي مِنْ بَطْنِهِ أَنْهَارُ مَاءٍ حَيٍّ&#8221; (يو٣٨:٧) .</p>
<p>أرأيت كيف تجري من ذلك النبع، ليس أربعةٌ فقط، بل أنهار لا حصر لها؟ والأمر الجدير بالإعجاب، ليس فقط عدد الأنهار، بل طبيعة النبع، لأن تسبيحها ليس من الماء، بل من الروح؛ لأن هذه الأنهار هي مواهبه. هذا النبع يُوزَّع على كل نفوس المؤمنيين ولا يتراجع، يتوزَّع ولا يُستنزًف، يفيض ولا ينقُص، هو كاملٌ بالنسبة للجميع، ولكل واحد على حدة، لأن مواهب الروح كثيرةٌ جداً.</p>
<p>هل تريد أن تعرف وفرة مكونات النبع؟ هل تريد أن تعرف طبيعة المياه؟ هي لا تشبه المياه العادية، لأنها أفضل منها وأعجب؟ لكى تعرف وفرة النبع، اسمع ثانية المسيح الذى يقول للسامرية: &#8220;وَلكِنْ مَنْ يَشْرَبُ مِنَ الْمَاءِ الَّذِي أُعْطِيهِ أَنَا فَلَنْ يَعْطَشَ إِلَى الأَبَدِ، بَلِ الْمَاءُ الَّذِي أُعْطِيهِ يَصِيرُ فِيهِ يَنْبُوعَ مَاءٍ يَنْبَعُ إِلَى حَيَاةٍ أَبَدِيَّةٍ&#8221; (يو١٤:٤). فهو لم يقل &#8220;يخرج&#8221; أو &#8220;ينسكب&#8221; بل &#8220;ينبع&#8221; تلك الكلمة التي تدل على الوفرة. فمياه الينابيع عادةً ما تتفجر وتتدفق من كل جانب. هذه الينابيع لا يمكنها أن تظل في البطون، بل تتدفق منها المياه كتيارات من الأنهار في كل مكان دون أن تستطيع هذه الينابيع أن تحتفظ بها. إذن، لكي يُظهِر وفرة الينابيع قال: &#8220;ينبع&#8221; وليس &#8220;يخرج&#8221;.</p>
<p>هل تريد أن تتعرف أيضاً على طبيعة هذا الينبوع؟ هذا تعرفه من فائدته، لأنه ليس مفيداً للحياة الحاضرة، بل للحياة الأبدية.</p>
<p>إذن، دعونا نظل في هذا الفردوس. ليتنا نجلس بالقرب من الينبوع. احترسوا ألاَّ يصيبنا ذاك الذى أصاب آدم، ونفقد الفردوس. ليتنا لا نقبل المشورة المهلكة، دعونا لا نقبل ضلال الشيطان. ليتنا نواظب على قراءة الكتب المقدسة. لأنه مثلما يجلسون بالقرب من الينبوع ويستمتعوا بالنسيم الرطب، ويُبعدون بالمياه، صعوبة التنفس عندما يقترب الصهد، بأن يسكبوا المياه على وجوهم، وعندما يزعجهم العطش، بسهولةٍ يشفون معاناتهم هذه، آخذين بالقرب منهم، الدواء من الينبوع، هكذا الذى يجلس بالقرب من ينبوع الكتب المقدسة، فإن رأى أن لهب الشهوة غير المعقولة يزعجه، بسهولةٍ يصده مبللاً نفسه بتلك المياه، وإن كان الغضب الشديد يزعجه، إذ أحرَّ قلبه، كأنه إناءٌ فوق نيران شديدة، فإنه إذا قَطَّرَ من مياه هذا النبع، فسوف يكبح وقاحة الشهوة مباشرةٌ. إن قراءة الكتب المقدسة تخطف وتخلِّص النفس من كل الأفكار الشريرة، كأنها من لهيب النيران تخطفها وتنقذها .</p>
<ul>
<li>لأجل هذا، النبي - ذلك النبي العظيم - داود، وهو يدرك الفائدة التي تتحصل من قراءة الكتب المقدسة، يُشَبَّه ذاك الذى يواظب بإخلاصٍ على قراءة الكتب المقدسة ليأخذ منها التعليم، بالشجرة المورقة على الدوام، والمزروعة بالقرب من جداول المياه قائلاً: &#8220;طُوبَى لِلرَّجُلِ الَّذِي لَمْ يَسْلُكْ فِي مَشُورَةِ الأَشْرَارِ، وَفِي طَرِيقِ الْخُطَاةِ لَمْ يَقِفْ، وَفِي مَجْلِسِ الْمُسْتَهْزِئِينَ لَمْ يَجْلِسْ لكِنْ فِي نَامُوسِ الرَّبِّ مَسَرَّتُهُ، وَفِي نَامُوسِهِ يَلْهَجُ نَهَارًا وَلَيْلاً فَيَكُونُ كَشَجَرَةٍ مَغْرُوسَةٍ عِنْدَ مَجَارِي الْمِيَاهِ، الَّتِي تُعْطِي ثَمَرَهَا فِي أَوَانِهِ، وَوَرَقُهَا لاَ يَذْبُلُ وَكُلُّ مَا يَصْنَعُهُ يَنْجَحُ&#8221; (مز١: ١-٣). لأنه بقدر ما تتمتع تلك الشجرة المزروعة بالقرب من الماء الجاري الغني والموجودة بالقرب من الجداول والوديان، بريٍّ لا ينقطع، تتحمل صامدة، لا تغلبها أيّ فوضى تصنعها الرياح، ولا تخاف من أشعة الشمس عند اشتداد حرارتها، ولا تعمل حساب الهواء حين ينقلب فجأةً إلى هواءٍ جاف، لأن لها في داخلها مخزوناً كافياً من الرطوبة، لذا فهى تصدُّ مباشرةٌ وترفض بقوةٍ أية حرارة تلفحها من الخارج. هكذا أيضاً النفس التي تقف بالقرب من جداول الكتب المقدسة مرتوية منها باستمرار، فإنها، إذ تُجَمِّع في داخلها رطوبة الروح، تجدها صامدةٌ في كل حال، سواء أكان مرضاً أو احتقاراً أو وشاية أو ألفاظاً بذيئة، سواء أكانت تهكمات، أو أية حماقة وعدم تبصُّر، بل حتى لو وقعت على هذه النفس كل شرور المسكونة، فإنها بسهولة تَصُدُّ رياح الشهوات آخذةٌ عزاءً وافراً من قراءة الكتب المقدسة. لأنه لا حجم المجد، ولا حجم السيادة ولا تواجُد الأصدقاء، ولا أي شيء آخر من الأمور البشرية، يمكن أن يُعزِّى ذاك الذى يتألم، بقدر ما تعزيه قراءة الكتب المقدسة. لماذا إذن؟ لأن كل الأمور التي أشرنا إليها هي أمور وقتية وفاسدة، لأجل ذلك، فالعزاء الناتج عنها يكون عزاءً فاسداً أيضاً بينما قراءة الكتب المقدسة هي بمثابة حديث الله. فإذا كان الله هو الذى يُعَزِّي المتضايق، فأيٌ من هذه الأمور يمكنها أن تُلقيه في الضيق؟.</li>
</ul>
<p>دعونا إذن نخصص للقراءة ليس فقط ساعتين - لأنه لا يكفى لأماننا هذا السمع البسيط - بل يجب على كل واحد منا أن يداوم، إذا أراد أن يمتلك باستمرار وبوفرة، فائدةٌ من الكتاب المقدس، على أن يأخذ في يديه الأسفار المقدسة، ويفحص بحرص وانتباه معاني ما يقرأ. لأنه مثلما لا يقتصر تواصل تلك الشجرة التي تقف بالقرب من &#8220;جداول المياه&#8221; مع المياه لمدة ساعتين أو ثلاثة، بل طوال النهار والليل، ولذلك تجدها غنية فى أوراقها وثمارها، حتى إن لم يسقها أحد من الناس، وذلك بسبب قربها من جداول المياه، إذ تسحب جذورها الرطوبة من مصادرها وبذلك تنقل الفائدة لكل الجسد. هكذا أيضاً هذا الذى يقرأ بأستمرار الكتب المقدسة، ويتواجد بالقرب من جداولها، فإن لم يتمكن من الفهم، فإنه بالقراءة المستمرة يأخذُ كما من جذورٍ، الفائدة العظيمة.</p>
<p>لأجل هذا ولأننا نعرف اهتماماتكم، وانزعاجاتكم وانشغالاتكم الكثيرة، أقودكم بهدوء وتدريجياً إلى مفاهيم الكتب المقدسة، جاعلاً ذاكرتكم - بهذا الشرح المسائي - تتذكر دائما هذه الأقوال. لأن المطر عندما يسقط، بسرعة يغطي سطح الأرض، بينما لا يستفيد باطنها منه على الإطلاق، لكن عندما يستقر على سطح الأرض، ويتسلل تدريجياً داخلها، كما من أوردةٍ وعروق، وكمثل زيتٍ ينزلق في العمق، يملأ أمعائها بالرطوبة، يجعلها هذه غنيةٌ جداً لإنتاج الثمار. لذلك نلقي نحن أيضاً بهدوء وسكينة في نفوسكم هذا المطر الروحي، لأنه إذا كانت الكتب المقدسة تُشبه سُحباً روحية، فإن الأقوال والمفاهيم تُشبه المطر، ولأجل هذا نُلقي هذا المطر الروحي ببطء فيكم، لكي تتسرب هذه الأقوال إلى العمق. لذلك فبالرغم من أننا وعلى مدى أربعة أيام مداومين على الشرح، إلا أننا لم نستطع بعد أن ننتهى من فحص نصِّ واحدٍ بل مازلنا  ندور حوله.</p>
<p>لأنه من الأفضل لنا أن نحفر بعمق جزءاً واحداً صغيراً، فنحصل على كنزٍ عظيمٍ يحتوي على الكثير من الأشياء الهامة، عن أن نحرث مساحات كبيرة، فنُتعِب أنفسنا دون داعٍ، وبلا هدفٍ وعبثاً. وبالرغم من أنني أعرف أن كثيرين يمتعضون من هذا التباطؤ لكني لا أبالي بشكواهم، بل ما يهمني هو فائدتكم. فالذين يستطيعون أن يسيروا بسرعة، ليتهم ينتظرون المتباطئين من إخواتهم، لأن أولئك يستطيعون انتظار هؤلاء. لأن الضعفاء بالأكثر ليسوا في وضع يمكِّنهم من أن يصلوا إلى أولئك. لأجل هذا يقول بولس، إنه لا يجيب أن نجبر – قبل الأوان – الضعفاء على الإيمان، أي في اللحظة التي لا يستطيعون فيها أن يصلوا إلى كمال الأقوياء، لكننا نحن الأقوياء، يجب أن نمنع ضعفات الضعفاء. يهمني فائدتكم، ولا أفعل ذلك بتكلُّفٍ، لأجل هذا متباطئ أنا في شرح المفاهيم.</p>
<h4>كلمة الله - للقديس يعقوب السروجي <a href="#_ftn2" name="_ftnref2">[2]</a></h4>
<p>بقراءة اللاهوت تقتني النفس غِنَى عظيمًا فيما لو قبلتها بمحبة.</p>
<p>موضوعة كالينبوع من أجل عطش العالم، وكل من هو عطشان يشرب منها الحياة يوميًا.</p>
<p>الكتب الإلهية هي جداول مباركة؛ يا جميع العطاش هلموا واذهبوا واشربوا ماء الحياة.</p>
<p>الأنهار لشرب الأجساد والحيوانات، وهوذا قراءات اللاهوت لشرب النفوس،</p>
<p>أيها المتميز أعط الجسدَ الماءَ ليشرب، وأعط النفسَ الكتابَ لتقرأ وتتلذَّذ به.</p>
<p>إنها عطشانة إلى الينبوع الموجود في الكتب، تضع فمها وتشرب منها الحياة كل يومٍ.</p>
<p>النفس مُعَذَّبة من مؤانسة العالم الشرير، وهي مملوءة بالحواس والشهوات غير الجميلة&#8230;</p>
<p>لكن لو فتحت الكتاب وقرأت بمحبة عظيمة، تستنير حالًا وترى الجمال الذي لا يُدرَك.</p>
<p>ويدخل النور من القراءة إلى الفكر كالشعاع من القرص إلى تجويف العين.</p>
<p>وتهبّ ريح الكتاب من بين الأسطر، وترفع دخان الضلالة عن الفكر.</p>
<p>كلما كانت المحبة مرتبطة بالقراءة، تصير النفس نقية ومملوءة نورًا ولا تضطرب.</p>
<p>يحسد الشرير ويطرق (الباب) حالا مثل الحاكم حتى يبطل الكتابُ بأفكار العالم المُقلِقة.</p>
<p>لو كانت محبة النفس مرتبطة بالقراءة، ستحتقر وترذل كل النشاطات لأجله.</p>
<p>ولو ازدادت محبة العالم بطلت القراءة، فتدخل أفعال لا تنتهي وينتهي العالم.</p>
<p>أيتها النفس التي تريدين أن تعيشي حسنًا مع الله، اربطي محبتكِ بقراءة اللاهوت.</p>
<p>واسكِتي منادمات العالم المضطربة، وأبطليها، وأزيليها عن فكركِ.</p>
<p>وأنصتي إلى الكتاب الذي يكوي الجرح، ويشفي المرض، ويعتني ويضمد ويصلح النفس بالشفاء.</p>
<h4>فهم الإنجيل - لمار إسحق السرياني <a href="#_ftn3" name="_ftnref3">[3]</a></h4>
<ul>
<li>إن بداية طريق الحياة هو دائماً تدبير الفكر وفقاً لكلمة الله وأن يحيا الانسان في حياة التجرد وأن يملأ الأنسان نفسه بالله حتى يقتني منه الكمال. فإذا شغلت ذاتك بدراسة كلمة الله فإن هذا سوف يساعدك للنمو في حياة التجرد. وإذا إقتنيت حياة التجرد فإن هذا سوف يساعدك على النمو في دراسة كلمة الله. وهكذا فإن كليهما يؤثر في الآخر لبناء حياة الفضيلة في النفس.</li>
<li>إذا أردت أن تدفع عن نفسك بعيداً الإنحرافات الخاطئة التي دخلت إلى النفس فلا شيء يساعد الإنسان على ذلك أكثر من محبة دراسة الكتاب المقدس وفهم الأفكار العميقة التي تحويه. وحينما تنشغل بنور حكمة الكلمة المخبأة فإن الإنسان سوف يترك العالم خلفه، وسوف ينسى كل ما في العالم بقدر ما يستنير من نور الكلمة التي يقتنيها. بل حتى لو أن العقل لم يدرك سوى المعاني السطحية للكتاب المقدس ولم يستطيع أن يخترق المعاني العميقة التي فيه فإنه سوف ينشغل بالحماس لفهم أفكار الكلمة بخصوص المعجزات وحدها، وسوف يمنع الفكر من الجري وراء الأمور الجسدية والعالمية.</li>
<li>قبل أن يمتلئ الإنسان من الروح القدس المعزي فهو محتاج إلى الكتاب المقدس لكي يحفر الصلاح في ذاكرته، وأن يحفظ جهاده دائمًا نحو الصلاح، الذى يتجدد باستمرار بالقراءة في الكتاب المقدس، وأن يحفظ نفسه من الطرق الشريرة الخبيثة، لأنه لم يقتن بعد الروح التي تقاوم الأخطاء وتحفظ النفس من الأفكار. وحينما تخترق قوة الروح قوى النفس التي تعمل في الإنسان فعندئذ يحل قانون الكتاب المقدس ووصايا الروح في جذور قلب الإنسان وسوف يتعلم الإنسان في الخفاء من الروح ولن يحتاج إلى تعليم الحواس وسيكون للقلب تعاليمه الخاصة. ولكن ربما يخطئ ذلك الإنسان، ولكنه للحال سوف يرجع ويتبع التعليم. ولكن حينما يأتي التعليم من الروح القدس فإن تذكار التعليم سوف يحفظ ولا يمس.</li>
<li>لا تقترب إلى أسرار الكلمة التي يحويها الكتاب المقدس بدون الصلاة وطلب معونة الله. كأن تقول: يا رب إفتح قلبي لآخذ القوة التي تحويها كلمات الكتاب المقدس. إن الصلاة هي بمثابة المفتاح للمعانى الحقيقية التي قيلت في الكتاب المقدس.</li>
<li>إن الطريق الصحيح لفهم الكتاب المقدس وطلب معانيه هو الكتاب المقدس نفسه. وقد وجدنا في سفر الأمثال لسليمان الحكيم مثل هذه التوجيهات لأختيار كلمة الله، فقد قال الحكيم سليمان: &#8220;أَلَمْ أَكْتُبْ لَكَ أُمُورًا شَرِيفَةً مِنْ جِهَةِ مُؤَامَرَةٍ وَمَعْرِفَةٍ؟ لأُعَلِّمَكَ قِسْطَ كَلاَمِ الْحَقِّ، لِتَرُدَّ جَوَابَ الْحَقِّ لِلَّذِينَ أَرْسَلُوكَ&#8221; (أم22: 20، 21).</li>
</ul>
<h3>عظات آباء وخدّام معاصرين للجمعة الرابعة للخمسين يوم المقدسة</h3>
<h4>الفرح بالقيامة - لقداسة البابا تواضروس الثاني<a href="#_ftn4" name="_ftnref4">[4]</a></h4>
<p>هذا فصل عقيدي لاهوتي سبقه في (يو٩) معجزة تفتيح عيني المولود أعمى، ولحقه في (يو١١) معجزة إقامة لعازر من الموت.</p>
<table style="height: 246px;" width="425">
<tbody>
<tr>
<td width="125">ع 30</td>
<td width="125">ع 36</td>
<td width="125">ع 38</td>
</tr>
<tr>
<td width="125">أنا والآب واحد</td>
<td width="125">إنى ابن الله</td>
<td width="125">الآب فىّ وأنا فيه</td>
</tr>
<tr>
<td width="125">عقيدة</td>
<td width="125">شرح</td>
<td width="125">برهان</td>
</tr>
<tr>
<td width="125">الجوهر واحد</td>
<td width="125">البنوة الأزلية</td>
<td width="125">عمل المعجزات</td>
</tr>
</tbody>
</table>
<p>إذاً هناك معجزات ثم معرفة ثم برهان. وهنا الفرق في نوع البنوة:</p>
<ul>
<li><strong>بنوة المسيح:</strong> جوهرية، أزلية، روحية، مُتصلة، حقيقية.</li>
<li><strong>بنوة الإنسان:</strong> تكريمية – زمنية – بسبب محبة الله.</li>
</ul>
<p>إن <strong>القيامة فرح</strong> يحتاج أن نترجمه عملياً:</p>
<ul>
<li><strong>فرح بشخص المسيح</strong> نترجمه إلى صلوات وتسابيح وتماجيد وألحان وترانيم .</li>
<li><strong>فرح بتعاليم المسيح</strong> ونترجمه إلى كتاب مُقدس ودراسة وتأملاً وحياة .</li>
<li><strong>فرح بأعمال المسيح</strong> نترجمه إلى خدمة ورحمة لكل البشر إذ دعاهم المسيح إخوته .</li>
</ul>
<p><strong>المسيح العجيب</strong></p>
<p>معجزات السيد المسيح وأعماله تُثبِت أنه هو الله، لعدة أسباب فيها:</p>
<ul>
<li>لأنها فاقت معجزات الأنبياء والرُسل سواء في العدد أو في النوع كماً أو كيفاً.</li>
<li>لأنها اختلف عن معجزات الأنبياء في أنها قد تمَّت بسلطانه الشخصي كإله، وليس بسلطان خارج عنهم.. وكأمثلة:</li>
<li><strong>الأبرص:</strong> قال له: &#8220;إن أردت تقدر أن تطهرني.. فقال له الرب يسوع: أريد فاطهر&#8221; (مر١: ٤١).</li>
<li><strong>قائد المئة:</strong> قال: &#8220;قل كلمة فيبرأ غلامي.. فقال له الرب: اذهب وكما آمنت ليكم لك&#8221; (مت٨: ٨).</li>
<li>لأن كثير من المعجزات كانت أعمال خلق لا يقوم بها إلَّا الخالق مثل:</li>
<li>المولود أعمى (يو٩).</li>
<li>تحويل الماء إلى خمر (يو٢).</li>
<li>إشباع الجموع (يو٦).</li>
<li>لأنها تُثبت سُلطانه الإلهي الشامل:</li>
<li><strong>على الطبيعة:</strong> انتهار الريح – خرج من القبر المُغلق&#8230; الخ .</li>
<li><strong>على المرض:</strong> شفاء أمراض مختلفة كالبرص والشلل&#8230; الخ .</li>
<li><strong>على الموت:</strong> مثل إقامة لعازر وابن ارملة نايين وابنه يايرس.</li>
<li><strong>على النفس البشرية:</strong> مثل السامرية – زكا – اللص اليمين .</li>
</ul>
<p>لهذا ندعوه &#8220;<strong>المسيح العجيب</strong>&#8221; لأعماله العجيبة التي صنعها، كما قيل عقب المعجزة الأولى &#8220;هذه بداية الآيات فعلها يسوع في قانا الجليل، وأظهر مجده فآمن به تلاميذه&#8221; (يو٢: ١١).</p>
<h4>بركات الكتاب - للمتنيح الأنبا يؤانس أسقف الغربية<a href="#_ftn5" name="_ftnref5">[5]</a></h4>
<p>لكلام الله بركات لا تحصى.. لم نقرأ عن انسان عاش عيشة القداسة إلا وكان الكتاب المقدس النصيب الأكبر في تكوين حياته الروحية. ولم نسمع عن خادم أمين أو مبشر ناجح أو بطل مجاهد من أبطال الإيمان إلا وكان الكتاب المقدس هو سر نجاحه ومصدر الهامه وسنده وقوته.. لقد أمر الله قديماً أن يوضع لوحا العهد المدونة عليهما الوصايا العشر المكتوبة بأصبع الله في تابوت العهد حيث تحفظ أيضاً قسط المن.. ولا شك أن هذا كان إشارة لطيفة الى أن قلب المؤمن المحفوظة فيه كلمة الله هو الذى يسكنه الرب يسوع المن الحقيقي النازل من السماء، حياة لكل العالم..</p>
<p>كلنا نعلم انه بسبب المعصية الأولى نفى البشر جميعاً من الفردوس – وطنهم الأول – الى عالمنا الذى نحيا فيه، والمشبه بأنه دار غربة، نحن كلنا غرباء فيها.. ودار الغربة هذه تعمها الظلمة من كل جانب. والبشر جميعاً في حالة حرب دائمة مع اعدائهم القدامى &#8220;أجناد الشر الروحية في السمويات&#8221;.. ولقد أوضح الرب في كتابه المقدس أن العون الأول لنا في غربتنا وفى حربنا ضد أعدائنا هو كلام الله.. وهذه الفكرة واضحة تمام الوضوح في الكتاب كله.. فهو :</p>
<p><strong>(١) بشارة رجاء وعزاء:</strong></p>
<p>إن البشر جميعاً محكوم عليهم بالموت وفاء عصيانهم وتعديهم. والكتاب المقدس يظهر أمامنا كمبشر.. مبشر بالحياة والحرية، مبشر بالبنوة والعتق من العبودية، مبشر بزوال لعنة الناموس وحلول بركات الصليب والقيامة، مبشر بالحياة الفضلى والشركة الالهية.. فما أجملها رسالة، تلك التي يقوم بها الكتاب &#8220;ما أجمل اقدام المبشرين بالسلام، المبشرين بالخيرات&#8221; (رو١٠: ١٥).</p>
<p>لقد كان اليهود يحتفلون كل خمسين سنة بما يسمى &#8220;سنة اليوبيل&#8221;.. كانوا يحتفلون بها احتفالاً رائعاً بمقتضى الشريعة.. وكانت حينما تضرب الأبواق معلنة بدء سنة اليوبيل، كان الفرح يجد طريقه الى قلوب كثيرة كسيرة.. فالفقير الذى باع بيته أو حقله من جراء ضيق ذات اليد كان يسترده، والفقير الذى باع ذاته عبداً كان يحرر (لا ٢٥).. من أجل ذلك طوب المرنم &#8220;الشعب العارفين الهتاف&#8221; (مز٨٩: ١٥)، والمقصود بالهتاف، صوت الأبواق المعلنة حلول سنة اليوبيل..</p>
<p>والكتاب المقدس هو البوق الالهي الذى يبشرنا بحلول &#8220;سنة الرب المقبولة&#8221; (لو ٤: ١٩) لكى نسترد بيتنا السماوي الذى خسرناه بالخطية وفقدناه بالمعصية، ونستعيد حريتنا بعد أن استعبدنا أنفسنا لسلطان الخطية فوقعنا في قبضة ابليس..</p>
<p>وليس الكتاب المقدس مبشراً بالخلاص والحرية الروحية فقط، لكنه عامل قوي من عوامل تقوية الرجاء ورفع الروح المعنوية.. فمن أمضى أسلحة أعدائنا الروحيين، إشاعة روح الضعف والهزيمة والاستسلام بين شعب الله. والكتاب المقدس ينقض هذه الدعايات الخبيثة ليحل محلها الإيمان والإتكال الكامل على الرب، والثقة في رجاء خلاصه، وأنه سيأتى بقوة ولو في الهزيع الأخير من الليل لكل منتظريه..</p>
<p>هكذا نقرأ كلمات موسى لشعبه حينما تملكهم الخوف والفزع &#8220;لاتخافوا قفوا وانظروا خلاص الرب.. الرب يقاتل عنكم وأنتم تصمتون&#8221; (خر١٤: ١٣، ١٤).. ونقرأ بعد ذلك عن صنيع الرب مع شعبه في البرية المقفرة خلال أربعين عاماً، عالهم خلالها بطعام الملائكة وسقاهم من صخرة صماء.. حفظ ثيابهم ونعالهم فلم يقرب منها البلى.. أعطاهم الغلبة على شعوب تفوقهم عدداً وعدة.. هكذا نقرأ عن أعمال الرب العظيمة مع كل خائفيه في كل زمان ومكان، وعن مواعيده الكثيرة لهم.. لأنه تعلق بى أنجيه. أرفعه لأنه عرف أسمي. يدعوني فأستجيب له معه أنا في الشدة أنقذه وأمجده. طول الأيام اشبعه وأريه خلاصي (مز٩١: ١٤– ١٦).. نقرأ كلمات رب المجد &#8220;ها أنا معكم كل الأيام وإلى انقضاء الدهر&#8221; (مت ٢٨: ٢٠).. نقرأ عن اختبارات  بولس &#8220;إن كان الله معنا فمن علينا&#8221; (رو٨: ٣١).. &#8220;أستطيع كل شيء في المسيح الذى يقويني&#8221; (في٤: ١٣).. نقرأ أيضاً عن حب الرب للخطاة وعطفه عليهم، فحينئذ لا نيأس بل نتشدد ونتشجع .</p>
<p>ضيقات الحياة ما أكثرها وما أعنفها، فبسببها يعثر كثيرون ويرتدون (مت٢٤: ١٠):</p>
<p>لقد أعطانا الرب كتابه ليكون معيناً لنا في غربة هذا الدهر، ورفيقاً أميناً، ومعزياً وفياً قوياً.. نجده قريباً منا في كل الأوقات، ونستطيع أن نجلس معه نستمع اليه ما شئنا من وقت. حينما تتكاثرعلينا الضيقات، فليس أفضل من كلمة الله تعزينا وتشجعنا.. أما الناس فليس في كلامهم الخاص عزاء حقيقي، بل هم كما وصفهم أيوب في بلواه &#8220;معزون متعبون&#8221; (أي١٦: ٢)..</p>
<p>لقد كان كلام الله هو موضع تعزية جميع رجال الله. فيقول داود &#8220;أذكر لعبدك كلامك الذى جعلتني عليه أتكل. هذا الذى عزاني في مذلتي.. تذكرت أحكامك منذ الدهر فتعزيت.. لو لم تكن شريعتك في فمي لهلكت حينئذ في مذلتي&#8221; (مز١١٩، ٤٩، ٥٠، ٥٢، ٩٢).. ويوضح القديس بولس الأمر فيقول &#8220;كل ما سبق فكتب، كتب لأجل تعليمنا، حتى بالصبر والتعزية بما في الكتب يكون لنا رجاء&#8221; (رو١٥: ٤).. وقد طلب الى المؤمنين أن يجعلوا من الكتاب معزياً لهم فيقول &#8220;عزوا بعضكم بعضاً بهذا الكلام&#8221; (١تس٤: ١٨).. وموضع التعزية في كلام الله لا يرجع فقط الى مافيه من قصص رجال الله واحتمالهم وصبرهم وصنيع الرب معهم، أو ما يتضمنه من معان مقبولة.. بل يرجع الى أن كلام الكتب المقدسة، كتب بالروح القدس &#8220;المعزي&#8221; (يو١٤: ٢٦)..</p>
<p><strong>(٢) نور وهداية:</strong></p>
<p>ولعل من أولى بركات كلمة الله أنها تحرك القلوب للتوبة، سواء عن طريق سماعها أو قراءتها.. فقد كانت كلمات بولس الرسول القليلة التي جاءت في شكل عظة القاها في يوم الخمسين، سبباً في نخس قلوب ثلاثة آلاف نفس آمنت للمسيح (أع٢).. وكانت كلمات بولس الرسول – وهو سجين – سبباً في تأثر، بل ارتعاب فليكس الوالي، وإن كان – للأسف – أضاع الفرصة وصرف بولس قائلاً &#8220;أما الآن فاذهب ومتى حصلت على وقت استدعيك&#8221; (أع٢٤: ٢٥).. وكانت قراءة وزير كنداكة الحبشي لسفر إشعياء وما صحبه من شرح القديس فيلبس سبباً في إيمانه (أع ٨)..</p>
<p>لقد قال الرب قديماً بلسان إرميا النبي &#8220;اليست هكذا كلمتى كنار.. وكمطرقة تحطم الصخر&#8221; (إر٢٣: ٢٩).. فكما أن النار تحمي الحديد وتجعله ليناً، هكذا كلمة الله تلين القلوب القاسية، وكما أن المطارق تحطم الصخر، هكذا كلمة الله تفعل فعلها في القلوب التي تحجرت بالخطية، وتسحقها بقوتها..</p>
<p>والإنسان باعتباره غريباً في الأرض، يحتاج الى من يرشده ويقوده ويأخذ بيده. إن كلمة الله كعمود النور الذى كان يتقدم بني إسرائيل.. وهكذا ترافقنا كلمة الله حتى ندخل – لا أورشليم الأرضية بل السماوية.. إنها كالنجم الذى هدى المجوس وظل يتقدمهم حتى جاء &#8220;ووقف فوق حيث كان الصبي&#8221; (مت٢: ٩).. هكذا كلمة الله أيضاً تتقدمنا وتقودنا وتوصلنا الى حيث يسوع.. إنها لا تخطئ أبداً، ولا تضل من يتبعها.. ومن هنا كانت كلمات المرتل &#8220;غريب أنا في الأرض. لا تخف عني وصاياك&#8221; (مز١١٩: ١٩).. وهذا ما يشير الى أن وصايا الله خير مرشد للنفس في غربتها..</p>
<p>إنها تحذرنا عندما نحيد عن الطريق القويم &#8220;أذناك تسمعان كلمة خلفك قائلة هذه هي الطريق أسلكوا فيها، حينما تميلون الى اليمين وحينما تميلون الى اليسار&#8221; (إش٣٠: ٢١). هي تعلمنا وترشدنا &#8220;لأن كل ما سبق فكتب كتب لأجل تعليمنا ، حتى بالصبر والتعزية بما في الكتب يكون لنا رجاء&#8221; ( رو١٥: ٤).. &#8220;كل الكتاب هو موحى به من الله ونافع للتعليم والتوبيخ للتقوييم والتأديب الذي في البر. لكي يكون انسان الله كاملاً متأهب لكل عمل صالح&#8221; (٢تي٣: ١٦، ١٧). لاغرابة إذن إن وجدنا رجال الله يتحدثون عن الشريعة كنور وسراج، فيقول داود النبي والملك &#8220;سراج لرجلى كلامك ونور لسبيلي&#8221; (مز١١٩: ١٠٥). وقال سليمان الحكيم &#8220;لأن الوصية مصباح والشريعة نور&#8221; (أم ٦: ٢٣).. والقديس بطرس يشير إلى كلام الأنبياء ويقول &#8220;وعندنا الكلمة النبوية.. التي تفعلون حسناً إن إنتبهتم إليها كما الى سراج منير في موضع مظلم، الى أن ينفجر النهار ويطلع كوكب الصبح في قلوبكم&#8221; (٢بط ١: ١٦- ١٩).</p>
<p>من أجل هذا فان كنيستنا - تعبيراعن هذه الحقيقة - توقد الشموع وقت قراءة الانجيل.. قال القديس ايرونيموس (جيروم) من أباء القرن الرابع المسيحي &#8220;إن الشموع التي توقد وقت قراءة الإنجيل كالعادة المألوفة في كنائس الشرق، ليست لتبديد الظلام، بل لإظهار الفرح بالإنجيل، كما كانت مصابيح الحكيمات مضيئة، ليظهر تحت شكل النور ما قاله المرتل: &#8220;سراج لرجلي كلامك ونور لسبيلي&#8221;. وقول الحكيم: &#8220;الوصية مصباح والشريعة نور&#8221;.</p>
<p><strong>(٣) سلاح وعون</strong><strong>:</strong></p>
<p>كلمة الله قوة جبارة لا يستطيع أن يدرك عظم قدرها إلا كل من عاش بها وفيها واختبرها.. إن السيد المسيح الذى ترك لنا مثالاً لكي نتبع خطواته (١بط ٢: ٢١) استخدام هذا السلاح في حربه مع ابليس الذى تقدم ليجربه.. لقد كان في كل جولة يرشقه بسهم الهي من كلمات الرب قائلاً له &#8220;مكتوب..&#8221; (مت ٤).. مغبوط هوالإنسان الذي يحفظ كلمة الله، فإن الكلمة تتحول فيه إلى قوة.. مغبوط هو الرجل الذي يملأ جعبته بالسهام الروحية التي هي كلمة الله.. حينئذ لا يخشى من ملاقاة أعدائه، على نحو ما فعل الفتى داود بجليات الجبار..</p>
<p>لقد وصف الرسول بولس كلمة الله بأنها &#8220;حية وفعالة وأمضى من كل سيف ذي حدين، وخارقة الى مفرق النفس والروح والمفاصل والمخاخ، ومميزة أفكار القلب ونياته&#8221; (عب٤: ١٢).. تدخل الكلمة الى أعماق القلب فتكشف ما في النفس من نوازع شريرة وأفكار أثيمة، ثم تعمل عملها فتستأصل من النفس الشر لأنها أمضى من السيف ذي الحدين.. أما سبب قوة الكلمة - فعلى حد تعبير القديس اثناسيوس الرسولي - إن الرب كائن في كلماته..</p>
<p>حينما أوصى معلمنا بولس مؤمني كنيسة أفسس أن يلبسوا &#8220;سلاح الله الكامل&#8221; لكي يقدروا أن يثبتوا ضد مكايد ابليس، ذكر أنواعاً من هذه الأسلحة.. فتكلم عن درع البر، وترس الإيمان، وخوذة الخلاص.. وهذه كلها - مع كونها أسلحة تستخدم في وقت القتال - لكنها أسلحة سلبية أي للوقاية.. ثم تقدم الرسول وتحدث عن سلاح إيجابي قوي &#8220;سيف الروح الذي هو كلمة الله&#8221; (أف٦: ١٠- ١٧).. إن كلمة الله كالسيف للمقاتل، به يصرع عدوه..</p>
<p>ليس يخفى ما لكلمة الله من قوة في جهادنا الروحي، إذ لها قدرة على رد النفس إلى طريق الكمال &#8220;ناموس الرب كامل يرد النفس&#8221; (مز١٩: ٧).. ولها القدرة أيضاً على تنقيتنا من نقائصنا كما قال الرب يسوع &#8220;أنتم الآن أنقياء بسبب الكلام الذي كلمتكم به&#8221; (يو١٥: ٣).. بل إنها تقدس النفس &#8220;قدسهم في حقك. كلامك هو حق&#8221; (يو١٧: ٧).. وبالجملة فأنها تبني حياتنا الروحية &#8220;والآن استودعكم يا أخوتي لله ولكلمة نعمته القادرة أن تبنيكم وتعطيكم ميراثاً مع جميع المقدسين&#8221; (أع٢٠: ٣٢).. وهى أيضاً قادرة على خلاصنا &#8220;فاقبلوا بوداعة  الكلمة المغروسة القادرة أن تخلص نفوسكم&#8221; (يع١: ٢١).</p>
<p>وكلمة الله منطقة للذهن. فعندما يشرد الفكر بعيداً عن الله، ويبدأ في الإنزلاق إلى مهاوى الرذيلة، تعمل الكلمة عملها وتتقدم لتعطى يقظة وانتباه للفكر. ولذا يقول القديس بطرس &#8220;منطقوا أحقاء ذهنكم صاحين&#8221; (١بط ١: ١٣).. ويقول معلمنا بولس &#8220;فاثبتوا ممنطقين أحقاءكم بالحق&#8221; (أف٦: ١٤).. وما الحق إلَّا كلمة الله &#8220;كلامك هو حق&#8221; (يو١٧: ١٧).</p>
<p>بعد ان آلت قيادة  الشعب إلى يشوع بن نون عقب انتقال موسى النبي، بدأ الله عمله معه بقوله &#8220;لا يبرح سفر هذه الشريعة من فمك، بل تلهج فيه نهاراً وليلاً لكي تتحفظ للعمل حسب كل ما هو مكتوب فيه. لأنك حينئذ تصلح طريقك وحينئذ تفلح&#8221; (يش١: ٨).. وواضح من كلمات الرب هذه أنها أمر صريح بعدم مبارحة كلماته لأفواهنا.. والسبب &#8220;لكي تتحفظ للعمل&#8221;.. أما النتيجة &#8220;حينئذ تصلح طريقك، وحينئذ تفلح&#8221;..</p>
<p>وثمة اختبار جميل يحدثنا عنه المرنم في مطلع المزامير &#8220;طوبى للرجل الذى لم يسلك في مشورة الأشرار.. لكن في ناموس الرب مسرته، وفى ناموسه يلهج نهاراً وليلاً، فيكون كشجرة مغروسة على مجاري المياه، التي تعطي ثمرها في أوانه، وورقها لا يذبل، وكل ما يصنع ينجح فيه&#8221; (مز١: 1- ٣).. ما أروع اختبار المرتل، وما أروع التشبيه الذى أورده عن النفس التي جعلت مسرتها في كلمة الرب.. إن مجاري الأنهار التي أشار إليها المرنم هي عمل الروح القدس في المؤمن (يو٧: ٢٨، ٣٩).. الروح القدس الذى كتب الكتاب.</p>
<p><strong>(٤) مقياس للكمال والنمو:</strong></p>
<p>كثيراً ما ينحرف المسيحى عن الحق متأثراً بروح العصر والتقليد والمحاكاة.. وحينئذ تنقلب القيم الروحية في نظره. وتأخذ المقاييس صورة حسب هواه وتصوره ودوافعه اللاشعورية، فيظن أن حياته لا بأس بها طالما هو بعيد عن الخطايا الكبيرة - حسب تقديره.. لكن حينما يلجأ إلى كتاب الله – الكتاب الكامل والمعصوم من الخطأ – ويحتكم إليه ويقرأ مثلاً كيف أن الله يطالبنا جميعاً بحياة الكمال، حينئذ يكتشف عيوبه ويلمس أخطاءه.. يجب أن نمتحن كل شيء على ضوء الكلمة، &#8220;إلى الشريعة وإلى الشهادة. إن لم يقولوا مثل هذا القول فليس لهم فجر&#8221; (إش ٨: ٢٠).. واليهودية في بيريه، لما وصل اليهم بولس وسيلا وكلماهم عن الإيمان بالمسيح &#8220;قبلوا الكلمة بكل نشاط فاحصين الكتب كل يوم هل هذه الأمور هكذا&#8221; (أع١٧: ١١).. إن الكتاب المقدس كالميزان الدقيق الذى نوضع فيه فيظهر ثقل خطايانا فنتوب عنها. إنه بذلك يقودنا إلى طريق الكمال. حقاً ما أجمل ما قاله داود العظيم &#8220;ناموس الرب كامل يرد النفوس؟&#8221; (مز١٩: ٧).. وقال معلمنا بولس أيضاً &#8220;كل الكتاب هو موحى به من الله ونافع للتعليم والتوبيخ، للتقويم والتأديب الذي في البر، لكي يكون انسان الله كاملاً متأهباً لكل عمل صالح&#8221; (٢تي ٣: ١٦، ١٧).</p>
<p>وقال الرب يسوع لليهود الذين أتوا ليحاجوه &#8220;الذي من الله يسمع الله. لذلك أنتم لستم تسمعون لأنكم لستم من الله&#8221; (يو٨: ٤٧).. إن كلمات الرب هذه توضح لنا زاوية هامة من زوايا حياتنا الروحية.. نستطيع أن نقيس نمونا في النعمة بمقياس نمو محبتنا لدراسة كلمة الله. ففي الوقت الذى نفقد فيه الشهية إلى خبز الحياة، لنتأكد أننا نعاني من مرض روحي، قد يكون مرجعه إلى عدم استنشاق القدر الكافي من الهواء المنعش في جو الشركة مع الله.. يؤيد ذلك ما قاله القديس يوحنا ذهبي الفم لشعبه في إحدى عظاته &#8220;إنني حينما أرى شدة رغبتكم واسراءكم بالمجئ الى هنا لكى تسمعوا التعليم المقدس، وأشاهد حرارة شهوتكم واشتياقكم الى الخبز الروحي الذي هو كلام الله، يتضح لى من ذلك نموكم في الفضيلة. لأنه كما نحكم على الجسد أنه حاصل على حال الصحة حينما نراه يتناول الأطعمة بشهية والتذاذ، هكذا جوعكم لكلام الله يوضح لنا جلياً حسن استعداد أنفسكم وصحتها الكاملة&#8221; .</p>
<h4>التقوى الإنجيلية - للدكتور نصحي عبد الشهيد<a href="#_ftn6" name="_ftnref6">[6]</a></h4>
<p>كانت الكتب المقدسة والمُوحي بها من الله وستظل دائماً هي أساس كل الروحانية الأرثوذكسية، فكما قال الرب يسوع: &#8220;الكلام الذي أكلمكم به هو روح وحياة&#8221; (يو٦: ٦٣)، وأيضاً: &#8220;أنتم أنقياء بسبب الكلام الذي كلمتكم به&#8221; (يو١٥: ٣)، وأيضاً :&#8221; قدسهم في حقك، كلامك هو حق&#8221; (يو١٧: ١٧)، ويقول الرسول بولس: &#8220;كل الكتاب هو مُوحي به من الله ونافع للتعليم والتوبيخ للتقويم والتأديب الذي في البر لكي يكون إنسان الله كاملاً متأهباً لكل عمل صالح&#8221; (٢تي٣: ١٦، ١٧).</p>
<p>وفي الكنائس الأرثوذكسية يُوضع كتاب &#8220;الأناجيل الأربعة&#8221; مغلفاً بغلاف معدني ثمين على المذبح بعد قراءة أوشية الإنجيل، ويحمله الكاهن وهو يصلي ويبارك به الشعب، ويقبل الكهنة والشعب &#8220;كتاب الأناجيل&#8221; في نهاية صلاة عشية وصلاة باكر .</p>
<p>والكتاب المقدس هو أساس العقائد والليتورجيات ومصدرها في الكنيسة الأرثوذكسية ومن خلال هذه العقائد والليتورجيات يخصب الكتاب المقدس تقوى المؤمنين الأرثوذكس.</p>
<p>ولكن إضافة إلى هذه النقطة المحورية توجد بعض نقاط أخرى تسترعي انتباهنا .</p>
<ul>
<li><strong>الكنيسة الأرثوذكسية &#8220;كنيسة كتابية&#8221;:</strong></li>
</ul>
<p>فهي تقرأ كثيراً من فصول الكتاب المقدس في عبادتها، ففي كل يوم من أيام السنة في الكنيسة القبطية خاصة، رتبت الكنيسة أن تقرأ ٩ قراءات: ٣ قراءات مزامير أناجيل عشية وباكر والقداس، و٣ فصول من الأناجيل لعشية وباكر والقداس، وفصلين من رسائل بولس والرسل الآخرين (الكاثوليكون)، وفصل من أعمال الرسل. هذا القدر الكبير من الاستماع للكلام المُوحى به يغذي نفوس المؤمنين ويساعدهم على معرفة الطريق الروحي المُسلّم منذ المسيح والرسل عبر الآباء القديسين .</p>
<ul>
<li><strong>كما أن الكنيسة الأرثوذكسية كانت ولا تزال توصي بقراءة الكتاب المقدس وتشجع علي ذلك</strong>،</li>
</ul>
<p>في القرن الرابع كان القديس يوحنا ذهبي الفم يلّح ويشدّد على القراءة في الكتاب المقدس ليس للكهنة والشمامسة فقط بل لكل الشعب المؤمن. وبين الشعب الأرثوذكسي البسيط كان يوجد دائماً صلة شخصية حميمة مع الإنجيل، وقد شهد كثير من اللاهوتيين الغربيين الأمناء الذين كانوا فيما سبق ينسبون للأرثوذكسية أنها غارقة في الغيبيات وفي الطقوس الجافة هؤلاء شهد بعضهم إن &#8220;كلمات يسوع في الإنجيل لها المكان الأول في نفوس الأرثوذكس.. فهي تُقرأ على انفراد كما تُقرأ في الكنيسة، ولا يمكن لأي شخص ينظر ما تحت السطح أن يفوته رؤية ثمار هذه الكلمات.. ويوجد بين الأرثوذكس كهنة وعلمانيون يحبون الرب يسوع المسيح ويعرفونه ليس معرفة النظريات اللاهوتية، بل يعرفونه لأن شعاعاً من كيانه الإلهي قد أضاء من الإنجيل في داخل قلوبهم، وهذا الشعاع صار نوراً ودفئاً لحياتهم الخاصة .</p>
<ul>
<li><strong>وتوجد بعض أسفار من الكتاب المقدس لها تأثير خاص على الروحانية الأرثوذكسية</strong> .</li>
</ul>
<p>فالمزامير لها مساحة كبيرة في العبادة العامة للكنيسة ومنذ عصر آباء البرية في القرنين الرابع والخامس، صارت المزامير هي غذاء لتقوى الراهب الفردية، وهناك مزامير معينة بكاملها صارت محفوظة عند الأرثوذكس، مثل مزمور ٥٠ &#8220;ارحمني ياالله…&#8221;، و&#8221;الرب راعيَّ&#8221;، و&#8221;الرب نوري وخلاصي&#8221;، وحتى بين الناس الذين يعيشون بعيدين عن الكنيسة في حياتهم العملية فإن بعض كلمات أو عبارات من المزامير من التي حفظوها في طفولتهم ، لا تزال تؤثر على اشتياقهم للرجوع إلى الله .</p>
<ul>
<li><strong>مناهج التفسير والروحانية الأرثوذكسية:</strong></li>
</ul>
<p>خلال مسيرة الفكر الأرثوذكسي كلها منذ القرن الثالث كان هناك موقفان من جهة تفسير الكتاب المقدس، ولا يزال هذان الاتجاهان موجودان إلى الآن، وهما:</p>
<ul>
<li>المنهج الحرفي والتاريخي لمدرسة إنطاكية،</li>
<li>والمنهج الرمزي والتأملي لمدرسة الأسكندرية.</li>
</ul>
<p>هذان المنهجان يخصان الباحثين واللاهوتيين بالأكثر، ولكن إلى جانب هذين المنهجين يمكن أن نلاحظ خلال التاريخ الأرثوذكسي كله وجود روحانية يمكن أن نسميها &#8220;<strong>روحانية إنجيلية</strong>&#8220;، أي مرتبطة بالمسيح وإنجيله.</p>
<p>وهذه الروحانية تحرص علي أن تُعرِّف الحياة المسيحية ليس بكونها حياة النُسك الشديد الخاص بالبرية، ولا بأنها عبادة طقسية خالية من الروح والحياة العملية، بل تؤكد هذه الروحانية على روح الإنجيل وفضائله، وتلّح علي ضرورة إتباع المسيح، وعلي المحبة للفقراء والمتألمين، وأبرز من يمثل هذا الاتجاه بين الآباء القدامى هو القديس يوحنا ذهبي الفم،</p>
<p>هذه الروحانية الإنجيلية العملية وجدت لها تعبيراً شعبياً شائعاً في قصة نيقولاوس أسقف مورا باليونان في القرن الرابع، الذي كان يلقي كمية مَنْ النقود ليلاً في نافذة منزل رجل فقير في كل مرة يحتاج الرجل ليزوج إحدى بناته الثلاث، (وهذا القديس هو الشخصية الحقيقية وراء أسطورة بابا نويل الذي ترك الهدايا للأطفال ليلة عيد الميلاد).</p>
<p>هذه <strong>التقوي الإنجيلية</strong> التي تتصف بحياة البساطة، والتواضع والشفقة بالضعفاء، والإحساس العملي في الحياة، والاعتماد على المسيح بالصلاة الواثقة في كل الظروف والاحتياجات، والاتزان، والتمييز، هذه التقوي عاشها الملايين من المؤمنين الأرثوذكس طوال القرون ليس في العصر الرسولي فقط ولكن في عصور الاضطهاد الوثني ثم في عصر الملوك المسيحيين منذ القرن الرابع، ثم في عصور الحكام غير الأرثوذكس، وكذلك في عصور الحكام غير المسيحيين، وحتى عصرنا الحاضر، ويمثل هذه التقوى سلسلة طويلة غير منقطعة من الشخصيات شهد الجميع لتقواهم المضيئة وسجلت الكنيسة اسمائهم في صلواتها وأعيادها وطلب قوة صلواتهم التشفعية حتي بعد انتقالهم، بعض هؤلاء شهداء وبعضهم معترفون وبعضهم من الأساقفة والكهنة وبعضهم من الرهبان والراهبات والعذارى، وكثيرون منهم مؤمنون عاديون لم يأخذوا أي رتبة كهنوتية، نذكر منهم الأنبا أنطونيوس أب الرهبان، الأنبا مقاريوس أب برية شيهيت، والأنبا باخوميوس أب الشركة، والأنبا شنودة رئيس المتوحدين، والأنبا بيشوي والأنبا موسى الأسود والأنبا صموئيل المعترف، والقديسة مريم المصرية، والقديسة مارينا، والشهيدة دميانة، والشهيدة بربارة ويوليانة والزوجتان المجهولتان يالأسكندرية اللتان أُرسل إليهما القديس مقاريوس الكبير لكي يتعلم منهما أنهما تعيشان حياة محبة مسيحية حسب تعليم الإنجيل حتي أنهما لا تميزان أولاد إحداهما عن أولاد الأخرى في المعاملة اليومية، والأنبا رويس (فريج) (قرن١٤)، وأسماء كثيرة سُجلت في كتب الكنيسة طوال العصور لا تتسع مجلدات كاملة للحديث عنها، وعدد أكثر لم نعرف أسمائهم من الرجال والنساء والشباب الذين عاشوا بهذه التقوى الأرثوذكسية .</p>
<p><strong>أمثلة في القرن العشرين:</strong></p>
<p>ونذكر في العصور الأخيرة بعض الأسماء التي تمثل هذه التقوى بوضوح، الأنبا ابرآم أسقف الفيوم المتنيح سنة ١٩١٤، والذي كان يعيش الإنجيل في حياته اليومية ومحبته الشديدة لجميع الفقراء بدون تمييز، وبساطته، والذي أنشأ جمعية لمطالعة الإنجيل في الفيوم وكان يجمع الشعب يومياً لقراءة الإنجيل معهم في الكنيسة، والأنبا مكاريوس الثالث بابا الأسكندرية المتنيح سنة ١٩٤٥، والأنبا باسيليوس مطران الأقصر وأسنا وأسوان المتنيح سنة ١٩٤٧ الذي عُرف بتواضعه ومحبته للفقراء، والأرشيدياكون حبيب جرجس عميد الكليةالإكليركية ومؤسس مدارس الأحد ومعلم الجيل الأول من خدامها المتنيح سنة ١٩٥١، والمقدسة شامة من جرجا المتنيحة سنة ١٩٦٩ والتي كانت تعظ في أرياف القليوبية لعدة سنوات وكانت صلواتها تغير حياة رجال ونساء كثيرين وتحولهم إلى الطريق الروحي، وتسهر ساعات طويلة كل ليلة مصلية بلجاجة وثقة من أجل الآلاف من أولادها وبناتها الروحيين في مصر والخارج، والبابا كيرلس السادس المتنيح سنة ١٩٧١، والقمص ميخائيل إبراهيم المتنيح سنة ١٩٧٦ رجل البساطة الإنجيلية والصلاة الواثقة، والقمص بيشوي كامل المتنيح سنة ١٩٧٩ بالاسكندرية الذي كان مثالاً حياً لتلميذ المسيح في تصرفاته وخدماته وتعاملاته وصلواته وعظاته وتفسيره للكتاب المقدس كله، والذي يعرفه كثيرون من الذين عاصروه في الستينات والسبعينات .</p>
<p>ونذكر من الكنائس الأرثوذكسية غير القبطَّية: الأب يوحنا من كرونستادت بروسيا المتنيح سنة ١٩٠٨ الذي كان كاهناً متزوجاً وكان مثالاً للتقوي الإنجيلية في البساطة والصلاة الواثقة، وكان له تأثير روحي على الملايين من الشعب الروسي، حتى أن بعض الملحدين تحولوا للإيمان بحضورهم لصلواته، والأب ليف جيلليه- راهب من الكنيسة الشرقية الذي تنيح سنة ١٩٨٠ عن عمر يناهز ثمانين عاماً، وهو مؤلف كتب &#8220;حوار مع المخلص&#8221;، &#8220;يوم مع الرب يسوع&#8221;، و&#8221;صلاة يسوع&#8221;، الذي تولي نشرها بالعربية القمص بيشوي كامل في الستينات، وكذلك كتب &#8220;حضور المسيح&#8221; و&#8221;أبانا&#8221; و&#8221;وجه النور&#8221; و&#8221;وكن كاهناً لي&#8221; التي نشرها بيت التكريس لخدمة الكرازة في السبعينات والثمانينات من القرن العشرين، وكان بيت التكريس قد دعاه فحضر لزيارة مصر في أبريل ١٩٦٨ وألقى عدة تأملات من الإنجيل في رابطة القدس بالفجالة .</p>
<p>والأب لعازر مور وهو راهب أرثوذكسي من أصل إنجليزي انضم إلي الكنيسة الروسية في القدس سنة ١٩٤٠ وتنيح سنة ١٩٩٣ في ألاسكا شمال أمريكا عن عمر يناهز ٩٠ عاماً، والأب لعازر هو الذي وضع كتاب life Of Orthodox prayers الذي هو نواة الكتاب المشهور الذي وضعه الأب متى المسكين، &#8220;حياة الصلاة الأرثوذكسية&#8221;، بعد تعريب أقوال الآباء عن الصلاة من كتاب الأب لعازر مور، وأضاف إليها بعض أقوال أخرى للآباء من سلسلة آباء نيقية وما قبله وما بعده الإنجليزية، وكان الأب لعازر قد حضر لزيارة مصر بدعوة من بيت التكريس في أبريل ١٩٦٩ وألقى عدة عظات برابطة القدس بالفجالة.</p>
<p>وغير هذه الأمثلة التي ذكرناها من مصر وخارجها هناك آلاف من الرجال والنساء عاشوا بهذه التقوى الإنجيلية على مر العصور ولا يزال هناك كثيرون يحيون هذه التقوى إلى الآن .</p>
<p>وجدير بالذكر أيضاً أن الحركات الكنسية الأرثوذكسية مثل حركة &#8220;زويي Zoe&#8221; و&#8221;سوتير&#8221; في اليونان وحركة &#8220;جيش الرب&#8221; في رومانيا، وحركة &#8220;الشبيبة الأرثوذكسية&#8221; بلبنان وسوريا، وحركة &#8220;بوجوميلز Bogomils  الحديثة&#8221; في بلغاريا، وكذلك خدمة &#8220;مدارس الأحد&#8221; القبطية في ثلاثينيات القرن العشرين هي في أعماقها حركات أرثوذكسية إنجيلية، فنحن نعرف أن خدمة شباب مدارس الأحد نشأت في بدايتها حول دراسة الإنجيل والتلمذة للمسيح، فيما كان يعرف حينئذ &#8220;باجتماع درس الكتاب المقدس&#8221;، قبل أن يتغير اسمه إلى اجتماع الشباب.</p>
<h3>المراجع</h3>
<p><a href="#_ftnref1" name="_ftn1">[1]</a>  كتاب عظات علي سفر أعمال الرسل - ترجمة دكتور جورج عوض إبراهيم.</p>
<p><a href="#_ftnref2" name="_ftn2">[2]</a>  تفسير سفر يشوع بن سيراخ - إصحاح ٣٩ - القمص تادرس يعقوب ملطي.</p>
<p><a href="#_ftnref3" name="_ftn3">[3]</a> كتاب سياحة القلب - صفحة ٧٦ - ترجمة المتنيح القمص إشعياء ميخائيل - كنيسة الملاك ميخائيل بالظاهر.</p>
<p><a href="#_ftnref4" name="_ftn4">[4]</a>  كتاب المنجلية القبطية الأرثوذكسية - صفحة 401 - البابا تواضروس الثاني.</p>
<p><a href="#_ftnref5" name="_ftn5">[5]</a>  كتاب بستان الروح - جزء ثان - صفحة ١٧١ - الأنبا يؤانس أسقف الغربية.</p>
<p><a href="#_ftnref6" name="_ftn6">[6]</a>  الكتاب الشهري للشباب والخدام - عدد مايو ، يونية ويولية لسنة ٢٠٠٤ صفحة ١١ - إصدار بيت التكريس لخدمة الكرازة.</p>

      {% endcreateArticleAccordions %}
    </section>
  {% endblock %}
