---
layout: 'layouts/reading.html'
title: 'يوم الأحد من الأسبوع الخامس للخمسين يوم المُقَدَّسَة'
permalink: pentecost/5-0.html
---
  {% block content %}
    <section id="readings">
      <ul>
      {% if 'undefined' != 'undefined' %}
      
      {% else %}
      {% if '19.135:6,21' != 'null' %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">العشية</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeVespers '19.135:6,21' '43.14:21-25' %}
          </div>
        </div>
      </li>
      {% endif %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">باكر</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeMatins '19.135:19-20' '43.15:4-8' '' %}
          </div>
        </div>
      </li>
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <h3 class="flex items-center justify-between">
            <span class="kufi">القداس</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </h3>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeLitugy '58.10:19-38' '60.4:6-14' '44.9:1-20' '19.136:1-2' '43.14:1-11' %}
          </div>
        </div>
      </li>

      {% endif %}
        </ul>
    </section>
    <section id="article">
      <h3 class="mt-8 mb-4 heading-explain">شرح القراءات</h3>
      {% createArticleAccordions %}
        <h3>أحد الطريق إلى الآب</h3>
<p>&#8220;أنا هو الطريق والحق والحياة ليس أحد يأتي إلى الآب إلا بي&#8221; (يو 14: 6).</p>
<ul>
<li>&#8220;فإذ لنا أيها الأخوة ثقة بالدخول إلى الأقداس بدم يسوع طريقاً كرسه لنا حديثاً حياً بالحجاب أي جسده&#8221;. (عب 10: 19، 20).</li>
<li>وصرت لنا وسيطاً مع الآب والحاجز المتوسط نقضته والعداوة القديمة هدمتها وأصلحت الأرضيين مع السمائيين وجعلت الأثنين واحداً وأكملت التدبير بالجسد. [صلاة الصلح – القداس الغريغوري]</li>
<li>الذي فتح لنا طريق الدخول إلي الحياة الذي أرانا طريق الصعود إلي السموات. (صلاة الشكر بعد التناول – القداس الغريغوري).</li>
<li>إنه الطريق الصالح الذي يقود الإنسان الصالح إلى الآب الصالح&#8230; حقاً إن هذا الطريق الضيق إذ لا يقدر كثيرون أن يحتملوا السير فيه لأنهم محبون لأجسادهم. (العلامة أوريجانوس).<a href="#_ftn1" name="_ftnref1">[1]</a></li>
</ul>
<h3></h3>
<h3>شواهد القراءات</h3>
<p>عشية: المزمور (مز 134: 5، 19) &#8211; الإنجيل (يو 14: 21- 25).</p>
<p>باكر: المزمور (مز 134: 18) &#8211; الإنجيل (يو 15: 4- 8).</p>
<p>القداس: البولس (عب 10: 19- 38) &#8211; الكاثوليكون (1بط 4: 6- 14) – الابركسيس (أع 9: 1- 20) –</p>
<p>المزمور (مز 135: 1، 2)  &#8211; الانجيل (يو 14: 1- 11).</p>
<p></p>
<h3>شرح القراءات</h3>
<p>تتكلم قراءات الأحد الخامس عن ← <strong>ابن الله، </strong>الطريق إلى الآب لكل البشرية بصفته بكر كل خليقة جديدة.</p>
<p>فبعد ما أستعلنت أعمال تجسده (في الأحد الثاني) وقدم تعليمه الإلهي عن الآب وجوهر علاقته بالبشر (في الأحد الثالث) وأعلن عن نور مجد الآب للبشرية كلها (في الأحد الرابع) وبذلك أعطى لنا كل ما له ، وصار لنا إمكانية أن نكون شركاء الطبيعة الإلهية، وأكمل لنا التدبير بأن قدم لنا ما لنا إلى الآب، لذلك أعلن لنا في هذا الأحد أن إرساليته في تجسُّدَه هي طريقنا إلي الآب (طريق المعرفة والحق والحياة).</p>
<p>لذلك تبدأ القراءات..</p>
<h3></h3>
<h4>مزمور عشية</h4>
<p>عن قدرة الإبن في السماء وعلى الأرض للتأكيد على أن تجسده وموته وقيامته وصعوده كان بإرادته الإلهية الذاتية .</p>
<p>&#8220;وكل ما شاء الرب صنع في السماء وعلى الأرض&#8221; (مز ١٣٤: ٥ )</p>
<h3></h3>
<h4>مزمور باكر</h4>
<p>عن دعوة الكل لتمجيد الإبن.</p>
<p>&#8220;يا بيت إسرائيل باركوا الرب يا بيت هارون باركوا الرب&#8230;&#8221; (مز١٣٤: ١٨).</p>
<p></p>
<h4>مزمور القداس</h4>
<p>عن أن مراحم الآب صارت ثابتة ودائمة على كل البشرية بإكتمال التدبير الإلهي للأبن في صعوده بالجسد إلى السماء.</p>
<p>&#8220;اعترفوا للرب فإنه صالح وأن إلى الأبد رحمته. اعترفوا لإله الآلهة فإن رحمته ثابتة إلى الأبد&#8221; (مز١٣٥: ١، ٢).</p>
<p></p>
<h4>إنجيل عشيَّة</h4>
<p>عن أن صعود المسيح بالجسد إلى السماء سيكون بداية استعلان مجد الآب والأبن للبشرية وبداية دخول البشرية في شركة حقيقية مع الثالوث.</p>
<p>&#8220;والذي يحبني يحبه أبي وأنا أيضاً أحبه وأظهر له ذاتي &#8230;. من يحبني يحفظ كلامي ويحبه أبي وإليه نأتي وعنده نصنع مسكننا&#8221; (يو١٤: ٢١- ٢٣).</p>
<p>وهذا هو ما أخبر به الابن التلاميذ قبل صعوده بالجسد &#8220;قلت لكم هذا وأنا مقيم عندكم&#8221; (يو١٤: ٢٥).</p>
<p></p>
<h4>انجيل باكر</h4>
<p>وفي انجيل باكر عن ← أيقونة الكنيسة الثابتة في الابن الكرمة، والتي صارت لها دالة عند الآب في صلواتها باسم المسيح، وعليها مسٔولية أن تُظْهِر مجد الآب في ِإثمارها الدائم.</p>
<p>&#8220;أنا هوالكرمة وأنتم الأغصان من يثبت فىّ وأنا أيضاً فيه يأتي بثمر كثير&#8230; إن ثبتم فىّ وثبت كلامي فيكم فاسألوا ما تريدون فيكون لكم، بهذا يتمجد أبي أن تأتوا بثمر كثير وتكونوا لي تلاميذ&#8221; (يو١٥: ٥- ٨).</p>
<p></p>
<h4>البولس</h4>
<p>وفي البولس عن ← <strong>أن صليب الإبن وقيامته وصعوده هم طريق البشرية إلى الآب وهذا الطريق صار لنا بالمعمودية وتثُبَّت لنا بالحياة المقدسة وإحتمال الآلام والتطلع إلى السماء والثقة في وعد الله.</strong></p>
<p>&#8220;فإذ لنا الآن يا أخوتي ثقة في دخولنا إلى الأقداس بدم يسوع المسيح طريقاً كرسه لنا حديثاً حياً بالحجاب الذي هو جسده، فلندنُ الآن بقلب صادق في يقين الإيمان، وقلوبنا مرشوشة نقية طاهرة من الخبث، وقد غسلت أجسادنا بالماء النقي ولنعتصم بإعتراف الرجاء راسخاً ولا نبعد عن إيماننا فإن الذي وعد هو صادق أمين&#8230; لأنكم علمتم في أنفسكم أن لكم مالاً أفضل باقياً دائماً في السماء ولا يفنى، فلا تطرحوا ثقتكم التي لها مجازة عظيمة&#8221; (عب10: ١٩- ٣٥).</p>
<p></p>
<h4>الكاثوليكون</h4>
<p>وفِي الكاثوليكون عن ← <strong>كنيسة المحبة والصلاة والمواهب المستحقة لمجد الثالوث.</strong></p>
<p>&#8220;وكل من خدم فليخدم فكأنه من قوة يعطيها الله لكي يتمجد الله (مجد الآب) في كل شئ بيسوع المسيح&#8230; بل كما أنكم شركاء المسيح في آلامه فلتفرحوا الآن لكي تفرحوا أيضاً عند ظهور مجده (مجد الأبن) مبتهجين، وإن عيرتم بإسم المسيح فطوباكم لأن روح المجد (مجد الروح القدس) والله يحل عليكم&#8221; (١بط ٤: ١١- ١٤).</p>
<p></p>
<h4>الابركسيس</h4>
<p>وفي الإبركسيس عن ← <strong>مجد الأبن القائم عن يمين الآب ومخلص الجسد </strong>(الكنيسة)<strong> ومفتقد من الطريق البعيدة ومرشدهم إلى طريق الحياة.</strong></p>
<p>&#8220;حتى إذا وجد رجالاً ونساء يسيرون في هذا الطريق يسوقهم موثقين إلى أورشليم، وفي ذهابه وقد إقترب من دمشق إذ قد فاجأه بغتة نور من السماء أبرق حوله فسقط على وجهه على الأرض&#8230; فقال له الرب: أناهو يسوع الناصري الذي أنت تضهده&#8230; فقال له: أيها الأخ شاول قد أرسلني ربنا يسوع المسيح الذي قد ظهر لك في الطريق الذي جئت فيه لكي تبصر وتمتلئ من الروح القدس&#8221; (أع ٩: ٢- ١٧).</p>
<p></p>
<h4>انجيل القداس</h4>
<p>وفي انجيل القداس عن ← هدف صعود ابن الله بالجسد إلى السماء ليعطي ميراث السماء للطبيعة البشرية</p>
<p>&#8220;في بيت أبي منازل كثيرة ولولا ذلك لكنت أقول لكم أني أمضي لأعد لكم مكاناً وإن مضيت لأعد لكم مكاناً فسوف آتي آخذكم إليّ حتى تكونوا أنتم أيضاً معي&#8230; قال يسوع: أنا هو الطريق والحق والحياة ليس أحد يأتي إلى الآب إلا بي&#8221; (يو١٤: ٢- ٦).</p>
<p></p>
<h3>ملخص الشرح</h3>
<p><strong>الطريق إلى الآب</strong></p>
<ul>
<li>دعوة الكل لتمجيد الأبن القادر على كل شئ في السماء والأرض والذي جعل مراحم الآب دائمة وثابتة للبشرية إلى الأبد. (مزامير عشية وباكر والقداس).</li>
<li>صعود المسيح بالجسد هو بداية استعلان مجد الآب والأبن للبشرية ودخول البشرية في شركة حقيقية مع الثالوث. (انجيل عشية).</li>
<li>أيقونة الكنيسة الثابتة في الأبن الكرمة ودالتها عند الآب في الصلاة ومسئوليتها تجاه العالم في إثمارها الدائم. (انجيل باكر)</li>
<li>موت المسيح وقيامته وصعوده هو الطريق للآب نلناه بالمعمودية وتثبت لنا بالحياة معه والثقة في وعده واحتمال الآلام والتطلع إلى السماء. (البولس).</li>
<li>كنيسة الصلاة والمحبة والمواهب المتنوعة مستحقة لمجد الثالوث. (الكاثوليكون).</li>
<li>مجد الأبن القائم عن يمين الآب ومخلص الكنيسة ومدبرها ومفتقد كل من في الطريق البعيدة. (الابركسيس).</li>
<li>هدف صعود الأبن بالجسد إلى السماء سكب عطايا السماء للبشروفتح طريق البشر للسماء. (إنجيل القداس).</li>
</ul>
<p></p>
<h3>أفكار مقترحة للعظات للأحد الخامس من الخمسين يوم المقدسة</h3>
<h4>مجد الصعود</h4>
<ul>
<li>صعود المسيح هو الطريق لإستعلان الثالوث والشركة مع الآب في إبنه بالروح القدس.</li>
</ul>
<p>&#8220;من يحبني يحفظ كلامي ويحبه أبي وإليه نأتي وعنده نصنع مسكننا&#8221;. (انجيل عشية).</p>
<ul>
<li>صعود المسيح جعل الكنيسة كرمة ثابتة فيه ولها دالة عند الآب.</li>
</ul>
<p>&#8220;أنا هو الكرمة وأنتم الأغصان من يثبت فيّ وأنا أيضاً فيه فهذا يأتي بثمر كثير&#8230; إن ثبتم في وثبت كلامي فيكم فاسألوا ما تريدون فيكون لكم&#8221;. (انجيل باكر).</p>
<ul>
<li>ثقة الدخول إلي الأقداس السماوية.</li>
</ul>
<p>&#8220;فإذ لنا الآن يا اخوتي ثقة في دخولنا إلى الأقداس بدم يسوع المسيح طريقاً كرسه لنا حديثاً حياً بالحجاب الذي هو جسده&#8221;. (البولس).</p>
<ul>
<li>شركة المجد تلازم شركة الألم.</li>
</ul>
<p>&#8220;كما أنكم شركاء المسيح في آلامه فلتفرحوا الآن لكي تفرحوا أيضاً عند ظهور مجده&#8221;. (الكاثوليكون).</p>
<ul>
<li>مسيح الطريق يدافع عن كنيسته ويتألم لآلامها.</li>
</ul>
<p>&#8220;فقال له الرب أنا هو يسوع الناصري الذي أنت تضطهده&#8221;. (الابركسيس).</p>
<ul>
<li>المسيح هو طريقنا إلي الآب وهو الذي أعد لنا الميراث السماوي.</li>
</ul>
<p>&#8220;اني أمضي لأعد لكم مكاناً&#8230; ليس أحد يأتي إلى الآب إلَّا بي&#8221;. (انجيل القدَّاس).</p>
<h4></h4>
<h4>الطريق والحق والحياة (يوحنا ١٤)</h4>
<p>أهم ثلاث إحتياجات إنسانية أو مشكلات فلسفية:</p>
<ol>
<li>الطريق:</li>
</ol>
<ul>
<li>قليلون من البشر هم الذين وجدوا الطريق.</li>
<li>المسيح له المجد هو الطريق الوحيد للخلاص.</li>
<li>&#8220;ليس بأحد غيره الخلاص&#8230;.&#8221; (أع ١٢:٤).</li>
<li>&#8220;ينبغي أنه كما سلك ذاك هكذا يسلك هو أيضاً&#8221; (١يو ٢: ٦).</li>
<li>من يحيا لأجل نفسه يكتشف أخيراً أنه فقد نفسه &#8220;من وجد حياته يضيعها ومن أضاع حياته من أجلي يجدها&#8221; (مت٣٩:١٠).</li>
</ul>
<ol start="2">
<li>الحق:</li>
</ol>
<ul>
<li>كيف نسلك بالإستقامة؟.</li>
<li>ماهو صح أم خطأ.. ما يليق أو ما لايليق؟.</li>
<li>&#8220;وتعرفون الحق والحق يحرركم&#8221; (يو ٣٢:٨).</li>
<li>[إذ نطقوا به &#8211; اسم يسوع &#8211; تستنير عقولهم وتصعد إلى العلو قلوبهم]. (إبصالية الإثنين).</li>
<li>&#8220;كلمة الله حية وفعالة وأمضى من كل سيف ذي حدين&#8230;..&#8221; (عب ١٢:٤).</li>
</ul>
<ol start="3">
<li>الحياة:</li>
</ol>
<ul>
<li>كيف نتمتع بالحياة؟.</li>
<li>المتعة هي جنون هذا العصر.</li>
<li>متعة العالم هي شكل الحياة الذي يلهث الإنسان وراءه معتقداً إرتوائه، لكنه يزداد عطشاً يوم بعد يوم، المتعة التي يسكبها الرب في قلوب أولاده هي الفرح الداخلي والسلام والكفاية والعطاء وخدمة الآخرين التي تملأ أعماق الإنسان.</li>
</ul>
<p>مثال: السامرية، والإبن الضال.</p>
<h4></h4>
<h4>كيف نعيش الصعود في حياتنا اليومية</h4>
<ol>
<li>الإنعزال عن روح العالم وفكر العالم (القداسة).</li>
</ol>
<p>&#8221; وأخرجهم خارجا إلى بيت عنيا&#8221; (لو٢٤: ٥٠).</p>
<p>&#8220;لذلك اخرجوا من وسطهم واعتزلوا، يقول الرب. ولا تمسوا نجسا فأقبلكم&#8221; (٢كو٦: ١٧).</p>
<ol start="2">
<li>الخلوة والصعود إليه ومعه</li>
</ol>
<p>&#8221; وأما الأحد عشر تلميذا فانطلقوا إلى الجليل إلى الجبل، حيث أمرهم يسوع&#8221; (مت ٢٨: ١٦).</p>
<p>&#8220;وبعد ستة أيام أخذ يسوع بطرس ويعقوب ويوحنا أخاه وصعد بهم إلى جبل عال منفردين&#8221; (مت ١٧: ١).</p>
<ol start="3">
<li>وضع البركة لكل البشر والصلاة لأجل كل إنسان</li>
</ol>
<p>&#8220;ورفع يديه وباركهم وفيما هو يباركهم، انفرد عنهم وأصعد إلى السماء&#8221; (لو٢٤: ٥٠، ٥١).</p>
<ol start="4">
<li>الحياة والإهتمامات السماوية</li>
</ol>
<p>&#8220;فإن كنتم قد قمتم مع المسيح فاطلبوا ما فوق، حيث المسيح جالس عن يمين الله اهتموا بما فوق لا بما على الأرض لأنكم قد متم وحياتكم مستترة مع المسيح في الله&#8221; (كو٣: ١- ٣).</p>
<p></p>
<h4>من وحي ظهورات الرب بعد القيامة</h4>
<p><strong>يوحنا الحبيب «مجد الحب».</strong></p>
<ul>
<li>كيف عرف يوحنا دون بقية الستة تلاميذ أنه الرب؟. (يو21: 7).</li>
</ul>
<p>هو الحب الذي يعطي إستنارة لرؤيته.</p>
<ul>
<li>كيف صمد يوحنا للنهاية وقت الصليب دون بقية التلاميذ؟. (يو19: 26).</li>
</ul>
<p>هو الحب وليس الشجاعة والوعود هو الضامن للصمود للنهاية.</p>
<ul>
<li>كيف لم يتكلم يوحنا في الأناجيل وإكتفي بالإتكاء علي صدره؟. (يو13: 23).</li>
</ul>
<p>هو الحب الذي كلما ينمو ويتعمق يقل الكلام ويخبو زهو الحديث.</p>
<ul>
<li>كيف ذهب يوحنا سريعا للقبر قبل باقي التلاميذ؟. (يو20: 2).</li>
</ul>
<p>هو الحب والحنين الشديد لعريس النفس والإشتياق لرؤيته.</p>
<ul>
<li>لماذا قال عن نفسه &#8221; ذاك التلميذ &#8221; ولم يذكر إسمه؟. (يو 21: 23).</li>
</ul>
<p>هو الحب الذي تذوب معه وفيه كل إحتياجات الذات.</p>
<p></p>
<h3>عظات آبائية <strong>للأحد الخامس «أحد الطريق» من الخمسين يوم المقدسة</strong></h3>
<h4>لا تضطرب قلوبكم &#8211; القديس كيرلس السكندري<a href="#_ftn2" name="_ftnref2"><sup>[2]</sup></a></h4>
<p><strong>(يو ١:١٤) </strong><strong>&#8220;لا تضطرب قلوبكم&#8221;</strong></p>
<p>بسبب أن الرب قال إن شجاعة بطرس سوف تخونه تماماً لدرجة أن ينكر سيده ثلاث مرات، وسيعاني من سقوط مريع جداً في ليلة واحدة، فيبدو أنه أثار في التلاميذ بكلماته القوية خوفاً شديداً من الأخطار التي تواجههم. وربما يكون قد حدث أن التلاميذ الآخرين بدأوا في الحال يبحثون بعضهم مع بعض قائلين: &#8220;ماذا يمكن أن تكون طبيعة ذلك الرعب المرتبط بالإضطرابات القادمة، وما مقدار الفترة التي يستمر فيها، أو ما هو الثقل الشديد لذلك الرعب، ولتلك التجربة التي لا يمكن مقاومتها لدرجة إنها تهاجم المتقدم بيننا وتنتصر عليه، ليس مرة واحدة فقط، بل عدة مرات بنفس الهجوم، وفي فترة قصيرة من الوقت؟ فبالتأكيد، كيف يفلت أي واحد منا من مصير أردأ من هذا، أو كيف يستطيع أي واحد آخر بيننا أن يصمد أمام مثل هذا الهجوم، إن كان بطرس يتراجع ويستسلم أمام ثقل التجارب الشديدة التي حاربته؟ يبدو أننا تحملنا الأتعاب باطلاً في طريق إتباعنا للمخلص. كل مجهوداتنا تنتهي بنا إلى إنهاك كل قوانا الحيوية، رغم أنها كانت الله&#8221;.</p>
<p>لا يوجد شئ غير محتمل عندما نفترض أن التلاميذ كانوا يفكرون هكذا في عمق أفكارهم، وحيث إن الأمر كان يستلزم أن تنجو أرواحهم لتعود من حالة الحزن والفشل التي هبطت إليها، فإن المخلص يقدم الترياق الضروري لشفاء أفكارهم وإزالة مخاوفهم التي أثارتها كلماته، ويوصيهم أن يسلموا أنفسهم بروح هادئة غير مضطربة، قائلا لهم:</p>
<p><strong>&#8220;لا تضطرب قلوبكم&#8221;.</strong></p>
<p>لاحظ، طريقة الرب الحكيمة في الحديث، فهو يعدهم أن يغفر لهم ضعفهم. لذلك لم يقل لهم صراحة إني سأعرف من هم الضعفاء أو أنني سألتقي بكم مرة أخرى وأكشف لكم امراً أسوأ مما حدث أي انكارهم وهروبهم فهو يحدثهم هنا دون أن يفصل الحذر عن الفرح، لذا فهو لا يهيئ هنا لحدوث الانكار والجحود، بل لغرس كل من الحذر والرجاء في داخلهم. لأن الرجاء المرتبط بالنبل والتمرن يسند الضعيف ويعزي الساقطين تحت آلام الشهوات، كما أن المتمسكين بالحذر نادراً ما يسقطون في  جهادهم، فهم قد يتعثرون لكنهم لا يمكن أن يتحطموا كلية، فالتلاميذ حتى ذلك الوقت لم يكونوا قد لبسوا قوة من الأعالي هذه القوة هي النعمة التي تأتي من الروح القدس، لهذا يوصي بعدم الإضطراب مبيناً أيضاً أن الجبن والشك والخوف هي من الأمور الرديئة، ويبين كذلك أن الذين يتنازعون كثيراً في أحاديثهم طلباً للمجد الباطل، هؤلاء يعيشون في متاعب وآلام فالذهن الراسخ غير المضطرب يعطى شجاعة بصورة فائقة، أما الذهن المضطرب فلا يفعل شيئاً واضحاً ومحدداً. لهذا يزرع المسيح رجاء الغفران داخل النفس حتى لا ينحدروا إلى الجبن والخوف بسبب صغر النفس الناتج عن ضعف الطبيعة البشرة قبل أن يتقوى الذهن بالنعمة التي من فوق. فالخائف والمضطرب سريعاً ما يسقط ولذلك يصلي الرسول بولس العظيم في الحكماء. مقدماً هذه الطلبة قائلاً: &#8220;سلام الله الذي يفوق كل عقل يحفظ قلوبكم وأفكاركم في المسيح يسوع&#8221; (فى ٤: ٧) وبذلك &#8220;لاتضطرب قلوبكم&#8221;.</p>
<p><strong>(يو١٤: ١)</strong> <strong>&#8220;أنتم تؤمنون بالله فآمنوا به&#8221;</strong></p>
<p>يسرع المسيح إلى تسليح الخائفين، وبسبب الجروح الحقيقية الناتجة عن الخوف فهو يحث على الإيمان، لأنه لا توجد طريقة أخرى نخلص بها إلا تلك التي ذكرت في المزمور &#8220;الرب نوري وخلاصي ممن أخاف، الرب ناصر حياتي ممن ارتعب&#8221; (مز١:٢٧)، فإلهنا القادر على كل شيء، هو الذي يحارب عنا بنفسه ويحمينا، فمن يستطيع أن يصنع بنا شراً؟ من هو القوي الذي يسرع في إنجاز أعماله، فيدعو المختارين بنفسه، ويهرب الشر من أمامه؟ ما هو السلاح الذي نحتاجه لكي يجعل المجاهدين يفوزون بالحماية الإلهية؟</p>
<p>السلاح هو الإيمان، وهو سلاح قوي وفعال يستطيع أن يخلصنا من الآلام والمعاناة حينما نشعر بوجود شيء من الخوف. فالشرير يستخدم دائما الأشياء الصغيرة والتافهة كسهام يوجهها ضد الأشخاص المجربين.</p>
<p>لذلك فمن لديه كلمة الإيمان، يجب عليه أن يتأمل أيضاً بتدقيق في أن الرب يحثهم على الإيمان ليس بالله الآب فقط بل وبالإبن أيضاً. فالإبن هو الإله الكائن بذاته في الآب وهو واحد معه في الجوهر والطبيعة. هذا الإيمان بالإله الواحد يقود الفكر اليهودي لكي يجعل الإيمان بالله يشمل الإيمان باسم الابن أيضاً كما هو واضح في التعاليم الإنجيلية. وكل الذين يفكرون بإستقامة يجب أن يؤمنوا بهذه التعاليم: واحد هو الله الآب وواحد هو إبنه وأيضا ينبغي الإيمان بتأنس الابن لأجل خلاصنا وكذلك الإيمان بالروح القدس، لأن الله ثالوث قدوس واحد مساوي في الجوهر، ولكنه متمايز في الأسماء وكذلك في الأقانيم من جهة النوع والخاصية. لأن الآب هو آب وليس الابن، والابن أيضا هو الابن وليس الآب. والروح هو الروح القدس روح الطبيعة الإلهية، الذي له نفس الجوهر مع الآب والابن، فنحن لا نؤمن بثلاثة آلهة بل بإله واحد.</p>
<p>وأوكد، أننا ينبغي أن نحافظ بدقة على تحديدات إيماننا، ولا نكتفي بقولنا: &#8220;نؤمن بالله&#8221;، بل نشرح إيماننا شرحاً كاملاً، وننسب لكل أقنوم نفس قياس المجد. ولا ينبغي أن يكون في ذهننا أي اختلاف في كثافة إيماننا: فإيماننا بالآب لا ينبغي أن يكون أكبر من إيماننا بالابن، أو أكبر من إيماننا بالروح القدس. بل طريقة ودرجة اعترافنا هي نفسها وهي واحدة، ننطق بها من جهة كل أقنوم من الأقانيم الثلاثة. وبنفس مقياس الإيمان، وبهذه الطريقة هنا أيضا يظهر الثالوث القدوس في وحدة الطبيعة، حتى أن مجد الطبيعة الإلهية يمكن أن يرى بكمال لا ينطق به ولا يمكن المجادلة ضده، وهكذا تمسك نفوسنا بإيماننا في الآب وفي الابن. في تجسده. وفي الروح القدس.</p>
<p>أعتقد أنه لا يوجد أي إنسان حكيم، يمكن أن يفصل بين كلمة الله وبين الهيكل المأخوذ من العذراء، على الأقل من جهة مسألة البنوة، لأنه يوجد &#8220;رب واحد، يسوع المسيح&#8221; كما يقول الرسول بولس (١كو٨: ٦).</p>
<p>ولكن ذاك الذي يقسم الذي هو واحد ووحيد إلى ابنين، فليعرف يقيناً أنه ينكر الإيمان. فمثلاً، إن بولس الملهم من الله، عندما كان يصوغ التعليم عن هذه النقطة بطريقة رائعة ودقيقة جداً، يدعونا أن نقدم إعتراف إيماننا بالمسيح، ليس فقط على أنه الابن الوحيد، بل أيضا أن نعترف به بأنه صار في الهيئة مثلنا،أي صار إنساناً، وأنه قد مات ثم قام أيضاً من بين الأموات. لأنه ماذا يقول: &#8220;الكلمة قريبة منك، في فمك وفي قلبك&#8221; أي كلمة الإيمان التي نكرز بها: &#8220;لأنك إن اعترفت بفمك بالرب يسوع، وآمنت بقلبك أن الله أقامه من الأموات، خلصت&#8221; (انظر رو١٠: ٨، ١٠).</p>
<p>والآن إن كنا نؤمن بأن الابن قد قام ثانية، فمن هو ذاك الذي مات حتى يمكن أن يقوم ثانية؟ ولكنه واضح جداً أنه يحسب أنه قد مات بالجسد. لأنه جسده قيد برباطات الموت ثم أعيد إلى الحياة مرة أخرى: لأنه كان جسداً واشترك في حياتنا الطبيعية، رغم أن هذا الجسد يحوي في داخله  ملء الكمال  تلك القوة الخاصة العجيبة الساكنة فيه متحدة به بطريقة سرية جداً، أي تلك الطاقة القادرة على منح الحياة. لذلك، فحينما يحاول أي إنسان أن يفصل هاتين الطبيعتين إحداهما عن الأخرى، وبفصله الجسد عن ذاك الذي حل فيه جسدياً، وبذلك يتجاسر أن يتحدث عن إبنين، دع هذا يعرف أنه بهذا هو يؤمن بالجسد وحده، لأن الكتب الإلهية تعلمنا عن ذاك الذي صلب ومات وقام من بين الأموات، أنه ليس آخر سوى كلمة الله نفسه؛ ليس من جهة وحدة الجوهر  ذلك لأن جسد المسيح هو جسد وليس الكلمة، رغم أنه جسد الكلمة  بل بالحري من جهة البنوة الحقيقية. وإن كان أي أحد يظن أننا لا نتحدث هنا بكل الدقة الممكنة، فليتقدم ويرينا الكلمة الذي من الله مائتاً من جهة طبيعته الإلهية، وهو أمر يستحيل التفكير فيه أو بالحري فإن التفكير فيه كفر.</p>
<p><strong>(يو٥:١٤، ٦)</strong> &#8220;قال له توما: يا سيد، لسنا نعلم أين تذهب، فكيف نقدر أن نعرف الطريق؟ قال له يسوع: أنا هو الطريق والحق والحياة. ليس أحد يأتي الي الآب إلا بي&#8221;.</p>
<p>لم يرد المسيح حتى الآن أن يخبر تلاميذه بكلمات كثيرة أنه ذاهب إلى العالم الفوقاني، وأنه راجع إلى أبيه، رغم أنه كان يشير إلى ذهابه هذا بإشارات غامض وبكلمات مؤثرة قوية، ولكن واحداً من تلاميذه، وهو توما، يسأله الآن مباشرة ويثير في نفس الوقت نوعاً من المناقشة، مما إضطر الرب. على غير رغبته الأولى أن يخبرهم بوضوح إلى أين هو ذاهب، وأيضا ما هو الطريق إلى حيث هو ذاهب  قال له توما &#8220;لسنا نعلم أين تذهب؟&#8221;، ثم بعد أضاف بعد ذلك &#8220;فكيف نقدر أن نعرف الطريق؟&#8221; يتحاشى المسيح في إجابته فضول توما الزائد، فهو لا يعطيه الجواب رداً على سؤاله أبداً، بل إذ يختزن السؤال في عقله الكلي العلم، أو بالحري يحتفظ به إلى لحظة أخرى أكثر ملائمة، فإنه في لطفه وحنانه يكشف لهم حقيقة أساسية جداً لتعليمهم.</p>
<p>لذلك يقول، &#8220;أنا هو الطريق والحق والحياة&#8221;، والآن بخصوص صدق قول الرب في هذه الكلمات عن نفسه، فلا يستطيع إنسان عاقل مطلقاً، أن يشعر بأي شك. ورغم ذلك، فإني أدرك أن الأمر يحتاج لفحص المسألة بكل إنتباه، فكيف يكون مناسباً أنه بينما تتحدث الكتب الموحى بها عنه وتقول عنه إنه النور، والحكمة والقوة، وأسماء أخرى كثيرة، يختار هو أسماء قليلة بسبب معناها الخاص جداً بالنسبة للظرف الحاضر، داعياً نفسه: &#8220;الطريق، والحق، والحياة&#8221; لأن المعنى الحقيقي لهذه الكلمات عميق جداً، وليس من السهل إدراكه كما يبدو لي ومع ذلك ينبغي الا ننفر من محاولة إكتشاف هذا المعنى، سأقول ما يأتي على ذهني بكل دقة، تاركاً للذين يريدون أن يتأملوا بدقة وعمق أكثر، مهمة التفكير في معنى أعلى لهذه الكلمات.</p>
<p>توجد ثلاث وسائل يمكن بواسطتها أن نصل إلى المساكن الإلهية في الأعالي، وندخل إلى كنيسة الأبكار؛ وهي: بممارسة الفضيلة بكل أنواعها، وبالايمان بإستقامة التعليم، وبالرجاء في الحياة الآتية.</p>
<p>هل هناك أي شخص آخر غير ربنا يسوع المسيح، يستطيع أن يكون قائداً، ومعيناً، أو يكون طريقاً لنا لمنحنا النجاح في أمور مثل هذه؟ بالتأكيد لا يوجد غيره، لا جدال في ذلك، فهو نفسه قد علمنا أموراً تفوق الناموس؛ لقد عرفنا الطريق الذي يمكن أن يسير فيه أي إنسان بأمان ليصل إلى أية فضيلة مقتدرة في تأثيرها، وللحصول على غيرة قوية وممارسة لا يعوقها عائق لتلك الأعمال التي على مثال المسيح. وهكذا فإنه هو هو نفسه الحق، وهو الطريق؛ أي الحد الحقيقي للإيمان، وهو القاعدة الدقيقة والمقياس الصحيح للمفهوم الكامل السليم عن الله. لأنه بالإيمان الصحيح بالابن، أي كمولود من جوهر الله الآب ذاته، وكحامل لقب ابن بملء معناه وبأصدق معنى له، وليس بمعنى أنه كائن مصنوع أو مخلوق على الإطلاق، بهذا سوف نوشح أنفسنا بالثقة بإيمان حقيقي. لأن من قد قبل الابن كابن، فقد إعترف أيضاً إعترافاً كاملاً بالايمان بذاك الذي ولد الابن من جوهره، ويعرف الله ويقبله على أنه الآب. لذلك فالمسيح هو الحق، وهو الحياة؛ فليس هناك غيره يعطينا الحياة التي نرجوها، أي الحياة في عدم الفساد، والغبطة؛ والتقديس: لأنه هو الذي يرفعنا وسيقيمنا ثانية من الموت الذي خضعنا له تحت اللعنة القديمة، وينقلنا إلى الحالة التي كنا عليها في البداية . لذلك، فإن كل ما هو أفضل وكل ما هو ثمين، قد ظهر فعلاً فيه وبواسطته، وسيظهر لأجلنا. ولاحظ أيضاً أن معنى هذه الكلمات، هو مناسب جداً للفكرة الموجودة في العبارات السابقة لها. فبينما كان التلميذ لا يزال متشككاً وهو يقول: &#8220;كيف نعرف الطريق؟&#8221; فإن الرب أخبره بإختصار، بما معناه: حيث أنهم عرفوه هو أنه السبب المحرك، والقائد، ورئيس كل البركات التي ستأتي بهم إلى العالم الفوقاني، فلن تعوزهم بعد ذلك أي حاجة لمعرفة الطريق.</p>
<p>ولكن حيث إنه قد أضاف هنا: &#8220;ليس أحد يأتي إلى الآب إلا بي&#8221;، هيا بنا نعطي الإنتباه لهذه النقطة في حديثنا:</p>
<p>عندما نفحص السؤال عن كيف يمكن للإنسان أن يأتي إلى الآب، نجد أننا نقترب منه بطريقتين: إما بأن نصير قديسين بأقصى ما هو ممكن للبشرية، وبهذا يمكن أن نلتصق بالإله القدوس، حسب المكتوب: &#8220;تكونون قديسين لأني أنا قدوس&#8221; (لا٢:١٩)، وإما بالطريقة الثانية، إذ نصل إليه بالإيمان والتأمل، أي إلى معرفة الآب التي كما لو كانت &#8220;في مرآة في لغز&#8221; كما هو مكتوب (1كو١٢:١٣): ولكن لن يستطيع إنسان إطلاقاً أن يكون قديساً ويتقدم في حياة الفضيلة، إن لم يكن المسيح هو الذي يقود خطواته في كل شيء، ولن يستطيع أحد إطلاقاً أن يتحد بالله الآب إلا عن طريق وساطة المسيح. لأنه هو الوسيط بين الله والناس، فهو من خلال نفسه وفي نفسه يوحد البشرية بالله. فحيث إنه مولود من جوهر الله الآب، إذ هو الكلمة، والبهاء، والصورة ذاتها ، فهو واحد مع الآب لكونه في الآب كلية، والآب كائن فيه هو نفسه؛ أما من جهة صيرورته إنسان مثلنا، فهو يتحد بكل الذين على الأرض في كل شيء ما عدا خطيتنا، وهكذا فهو قد صار بمعنى كرابط بين ناحيتين، إذ يحوي في ذاته كل ما يؤدي إلى الوحدة والصداقة.</p>
<p>لذلك، فعبارة &#8220;ليس أحد يأتي إلى الآب&#8221; تعني أنه ليس أحد يمكن أن يكون شريكاً للطبيعة الإلهية إلا بواسطة المسيح وحده. فلو لم يكن المسيح قد صار وسيطاً بإتخاذه هيئة إنسان، لما أمكن لحالتنا إطلاقاً أن تتقدم وتنمو إلى هذه الغبطة العالية جداً؛ أما الآن، فإن إقترب أي إنسان من الآب بروح الإيمان والمعرفة الخاشعة، فإنه سيفعل ذلك بمعونة مخلصنا المسيح نفسه، وأنا أعيد نفس الكلام الذي سبق أن قلته: بقبول الابن حقا كابن، يمكن الإنسان أن يصل أيضاً إلى معرفة الله الآب: فلا يمكن أن يعترف بالمسيح كابن، بدون أن يعترف بالآب الذي ولده في نفس الوقت. لذلك فإن معرفة الآب متزامنة بالضرورة ومرتبطة بالإيمان بالابن، وكذلك معرفة الابن مرتبطة بالإيمان بالآب. وهكذا بصواب تام يقول الرب: &#8220;ليس أحد يأتي إلى الآب إلا بي&#8221;. فالابن هو بالطبيعة والجوهر صورة الله الآب، وليس (كما ظن البعض) كائناً خلق على صورة الله، بإعطائه صفات ممنوحة له خاصة، وفي هذه الحالة يكون  من جهة الطبيعة- مختلف جوهرياً عن الآب.</p>
<p><strong> </strong></p>
<h4>المسيح هو الطريق &#8211; للقديس إكليمنضس السكندري<a href="#_ftn3" name="_ftnref3">[3]</a></h4>
<ul>
<li>عمل الكلمة &#8220;الإلهي&#8221; هو أن يشرف على تعليمنا وتدريبنا. لهذا فلتعملوا باجتهاد ولا تخوروا.. كما يوجد طريق لتدريب الفلاسفة، وآخر للخطباء، وثالث للمصارعين، هكذا فإن التدريب على يدي المسيح ينتج شخصية معينة.</li>
</ul>
<p>الذين يتدربون في هذا الطريق يصيرون مكرمين فوق الكل، في طريقة مشيهم، وجلوسهم على المائدة، وفى طعامهم، ونومهم، وذهابهم إلى مخدعهم، ونظام حياتهم، وكل بقية نواحى الحياة. فإن التدريب تحت قيادة الكلمة ليس ضيقاً شديدًا، بل يحمل توجيهاً سليماً.. يكرس المسيح نفسه لأجل نفعنا، منتهراً الشر، ونازعاً علل الانفعالات الشريرة، وضارباً جذور الشهوات البهيمية. إنه يشير إلى ما يلزمنا أن نمتنع عنه، ويمدنا بالخلاص المُرضي..</p>
<p>كيف يمكننا ألا نعرف المعلم الإلهي كترياق (دواء) للسُم؟ إنه لا يصمت، بل يكشف الأمور التي تهدد بدمارنا، ويعلمنا أن نحيا  بالبر. لنُقر بالجميل، إذ يليق بنا أن نعرف بالتزاماتنا العميقة نحوه.. إنه لأمر حيوي أن نفكر في الطبيعة البشرية، لتحيا كما يوجهها الحق، وأن نُعجب بالمعلم ومشورته. كل هذه الأمور لائقة ومتناغمة معاً. يلزمنا أن نمارس الحياة الحقيقية التي تُشكلنا حسب صورة مدربنا، وتصير أعمالنا متناغمة مع الكلمة &#8220;الإلهي&#8221;.</p>
<ul>
<li>مدربنا أيها الأبناء يشبه أباه، الله، الذى هو ابنه. إنه بلا خطية وبلا لوم.. ظهر الله في الشكل الجسدي محققاً إرادة أبيه. إنه الله الكلمة، الذى في حضن الآب، وهو أيضًا عن يمين الآب، له طبيعة الله. إنه الصورة التي بلا عيب (٢ كو٤: ٤).</li>
</ul>
<p>يليق بنا أن نحاول أن نتشبه به في الروح قدر ما نستطيع.. يلزمنا أن نبذل كل الجهد أن نكون بلا خطية قدر ما أمكن،  ليس شيء أكثر أهمية بالنسبة لنا من أن نتخلص أولًا من الخطية والضعف، وعندئذ نقتلع أية عادة خاطئة منحرفة.</p>
<p>أعلى كمال هو بالطبع ألا نخطئ في أقل الأمور، وهذا يُقال عن الله وحده. العلو الذى يليه (أقل منه) هو ألا نرتكب الخطأ عن عمد، وهذا هو الحال اللائق بالإنسان الذى يقتني الحكمة. يأتي بعد ذلك المركزالثالث وهو عدم ارتكاب الخطية إلا في ظروف نادرة، وهذا حال يليق بالإنسان المثقف .</p>
<p>أخيراً أقل الأمور أنه يلزمنا إلا نتأخر في الخطية إلى أقل لحظة ، وحتى هذا بالنسبة للذين يُدعون لإصلاح ما لحق بهم من خسارة ، وأن يتوبوا هو خطوة في طريق الخلاص.</p>
<p></p>
<h4>الطريق الوحيد للخلاص – للقديس الأنبا أنطونيوس<a href="#_ftn4" name="_ftnref4">[4]</a></h4>
<p>مقالة من أجل أن يعرف أولادة أن خلاصنا ليس بملاك ولا رئيس ملائكة بل بالإله الكلمة المتجسد.</p>
<p>أنا أعرف ان ربنا يسوع المسيح قد تمسكن من أجلنا وهو الغني لكي نستغني نحن بمسكنته، ونتحرر بخضوعه، ونتقوى بضعفه، وأن نصير حكماء بالمستجهل من أمره، ونقوم بموته، ونصرخ مع الرسول قائلين إن كنا نعرفه بالجسد فلسنا إلى الآن نعرفه،</p>
<p>كذلك بالحقيقة يا أحبائي أقول لكم هذا كلام دقيق في معناه، وعندي أقوال أخرى دقيقة في معناها، وعندى أقوال كثيرة فيه لكن هذا ليس وقت شرحها. بل أبتديء أبثكم السلام بالرب يا أولادي المباركين.</p>
<p>وأعرفكم أنه لكي نتقرب إلى الرب خالقنا يجب علينا أن نجاهد على خلاص نفوسنا من الأوجاع بالناموس العقلي. لأن من أجل تفاقم الغش ولذة الأوجاع (الشهوات) وكثرة التجارب الشيطانية وضعف محسوساتنا ماتت حركات نفوسنا. ولهذا لم نستطيع أن نعرف قدر جوهرنا العقلي لسبب ما قد سقطنا فيه من الآلام، وليس لنا خلاص إلا بربنا يسوع المسيح لأنه مكتوب أنه بآدم الأول صار الموت وبالمسيح كانت الحياة، فإذن السيد المسيح ربنا هو حياة الخليقة الناطقة التي هي على شبه الله ومثاله، التي هي عقل الآب الحقيقي وصورة الآب غير المنتقلة أو المتغيرة. أما هذه الصورة الظاهرة الموجودة في خلائقه فهى غير دائمة ولأجل ذلك صار بها موتنا، وهى بخلاف الطبيعة العقلية التي منها ولدنا. وأنا أشهد لكم وأقول أن جميع الفضائل كانت قد هلكت منا، ولما نظر الله الآب إلى ضعفنا وأننا لا نستطيع بالرغم من ظهوره فينا كهيئته بالحق والعدل، أرسل أبنه الوحيد وأتخذ جسدنا وتعهد خليقته وخدمة قديسيه بمواهبه.</p>
<p>فيا أولادى المحبوبين عندي، أنا أطلب اليكم بمحبتي فيكم أن تتقدموا للرب بكل قلوبكم وذواتكم وتعلموا أن كل أعمالنا التي تقدمها للرب بالنعمة التي أعطاها لنا ليست تقوم مقابل تواضعه عنا: لأنه ليس بمحتاج لنا ولا أتى الينا لشئ نافع فينا، لكن بعظم صلاحه وترأفه وبمحبته الغير مدركة لم يصنع معنا كخطايانا، بل جعل القمر والنجوم لخدمة هذا البيت المظلم الذي هو العالم لأجل قيام الجسد، وسخر لخدمتنا أشياء كثيرة خفية لا ننظرها بأعيننا الجسدانية. ونحن لأجل كثرة خطايانا صارت خدمتها له باطلة. فما الذى نقوله يوم الدينونة لربنا، لأنه ما من خير من الخيرات لم يعمله معنا هو بنفسه. لأن الرؤساء لم يتعبوا عبثاً من أجلنا، والكهنة لم يعلمونا عبثاً، والحكام والملوك لم يحاربوا عنا بغير غاية، والرسل لم يطردوا عبثاً بسببنا، بل الابن الحبيب الكلمة مات عنا جميعاً.</p>
<p>لذلك يجب علينا أن نستعد بكل الطهارة وندرب بها عزائمنا وحواسنا الحائرة بين الخير والشر. إذ نحن لابد لنا أن ننتقل ونلتقي بربنا يسوع المسيح الذي أتى الينا وخلصنا بكل تدابيره وتشبه بنا في كل شيء خلا الخطية.</p>
<p>وكان هذا عند قوم لأجل ما فيهم من كثرة شر الجبناء الشياطين جهالة، وعند قوم شكاً، وأما عند آخرين فمنعة، وآخرين حكمة وقوة، وآخرين قيامة وحياة.</p>
<p>فيا أولادى ليكن هذا ظاهراً أن مجيء ربنا صار دينونة لأولئك وحياة لأولئك.</p>
<p>أما عن هؤلاء يقول إرميا النبي: ستأتي أيام قال الرب أجعل ناموسي في قلوبهم وأكون لهم إلهاً وهم يكونون لي شعباً. ولا يعلم أحد حينئذ من كان من أهل مدينته، ولا أخاً قائلاً له أعرف الرب، لأنهم جميعاً يعرفوني من صغيرهم إلى كبيرهم ولا أعود أذكر خطاياهم لأني أمحصهم من ذنوبهم.</p>
<p>وعن هؤلاء يقول الرسول لكي يسد كل فم ويخضع العالم كله لله لأن الذين عرفوا الله لم يمجدوه كإله، لأجل عدم معرفتهم التي لم يمكنها أن تقبل حكمة الله يحل عليهم غضب. ولأن كل واحد فواحد منا قد أسلم ذاته بإرادته إلى الشرور ولذلك أخذ ربنا شكل جهلنا ليخلصنا به، وكمَّل كل تدابيره إلى موت الصليب. لكي بموته وقيامته تكون لنا قيامة فاضلة ويبطل عنا الموت الذى هو الشيطان. ونكون اذا حرمنا ذواتنا وتشبهنا بتواضعه نصير تلاميذ له.</p>
<p>فبالحقيقة يا أولادي الأحباء بالرب أقول لكم أني مضطرب جداً بجسدي وروحي، كوننا تسمينا بأسماء القديسين ولبسنا ملابسهم ونحن مفتخرين بذلك أمام غير المؤمنين وليس لنا قوة العمل. وأخاف لئلا يتم علينا قول الكتاب أنهم قد أخذوا شكل الديانة وينكرون قوتها.</p>
<p>وأنا فلأجل محبتي فيكم لست أفتر من الطلبة إلى الله عنكم كما تفهموا حياتكم المخفية فيكم وتعلموا ما تستحقون به أن ترثوا ما لا يرى.</p>
<p>وأعلموا يا أحبائي.. أننا اذا أكملنا أعمالنا بكل قوتنا كإرادته، فهذا هو الواجب علينا لأنه طبيعى في جوهرنا، وليس فيه فضل، لأن كل من يخدم الله، ويطلبه بكل قلبه، فإنما يفعل هذا بجوهره الطبيعي.</p>
<p>فأعرفوا ذلك، وأعلموا أنني لم أخف عنكم شيئاً لم أعلمكم به مما هو فيه خلاصكم.</p>
<p>وأعلموا أيضاً أن الجسد مضاد للروح دائماً كما يقول الرسول بولس، فالذين يريدون أن يتدبروا بمعيشة النسك بيسوع المسيح يجب عليهم أن يطردوا عنهم الشهوات الجسدانية بالطلبة للرب يسوع وهو برحمته وتحننه يبطل عنهم كل الضوائق والتجارب التي من جهة الجسد كما كانت على آبائنا الرسل. من قبل صبرهم أبطلوا عبادة الأوثان، وأعطاهم ربنا عزاء وقوة بقوله في العالم سيكون لكم ضيق ولكن ثقوا أنا قد غلبت العالم.</p>
<p>وأعلموا أنه بصبركم تغلبون قوة العدو. وأنا أيضاً يا أولادي المباركين أريدكم أن تعرفوا هذا القول وما قاله أيضاً بولس الرسول، أن أوجاع هذا الدهر لا توازي المجد المزمع أن يظهر فينا،</p>
<p>وأعلموا انني لمحبتي فيكم كلمتكم بهذه الكلمات القليلة الروحانية لتطييب قلوبكم، لأني أعلم أن العقل اذا كان مستنيراً فليس بمحتاج إلى كثرة الكلام الجسداني وأنا أفرح بالرب لأجلكم يا أولادي المحبوبين الأطهار بجوهرهم العقلي، وأريدكم أن تعرفوا مقدار المواهب الصائرة إلينا من جهة الرب لحفظنا ونمونا. وتمسكوا بالأعمال الطبيعية الجوهرية لا بالغير الجوهرية. لأني أنا الشقي أعلمكم أيضاً أن ربنا قد نبه عقلي من نوم الموت بنعمته وقد صار لى نوحاً وبكاء مدة ما بقى لي من هذا الزمان اليسير على الأرض، لأني أفكر ما هو الذي نعطيه للرب عوضاً عن الذى صنعه معنا، فإنه جعل ملائكته تخدمنا، وأنبياءه يتنبأون لنا، ورسله تبشرنا، وأعظم من هؤلاء جميعاً إرساله أبنه الوحيد لخلاصنا.</p>
<p>لذلك أطلب اليكم أن توقظوا قلوبكم بخوف الرب، وتعلموا أن يوحنا المعمدان السابق عمد بالماء للتوبة، ليجتذبنا إلى معمودية ربنا يسوع الذى عمد بالروح القدس والنار التي هي نار الأعمال الصالحة فلنستعد الآن أن ننقي ذواتنا جسداً وروحاً لنقبل معمودية ربنا يسوع المسيح، ونعمل ونرفع ذواتنا قرباناً مقبولاً له. لأن الروح المعزي المأخوذ في المعمودية يعطينا العمل بالتوبة، ليردنا ثانية إلى رئاستنا الأولى ونرث الميراث الذى لا يزول.</p>
<p>وأعلموا أن كل الذين يعتمدون بالمسيح، فالمسيح يلبسون، كما قال الرسول بولس وينالون نعمة الروح القدس. فإنه لا عبد ولا حر لا ذكر ولا أنثى ينال هذه النعمة إلا وتبطل منه هذه اللغات الجسدانية والاهتمامات العالمية وتقبلون تعليم الروح القدس وينالون أرث ملكوت السموات الأبدي، ويسجدون للآب كما ينبغي بالروح والحق. فلا يقول أحد منكم أن ليس دينونة كائنة لنا في يوم مجئ ربنا يسوع الأخير، بل لنعلم أن مجئ سيدنا المسيح الأول قد فرض أن يكون لنا دينونة في ذلك اليوم إذ لم نكمل فرائضه.</p>
<p>واعلموا أن كل لابسي الروح يطلبون في كل وقت عنا أن نتحد بربنا ونرث الذي هو معد لنا منذ البدء، ونلبس ثانية صورتنا الأولى الجوهرية التي تعديناها بالمخالفة. لأن صورة الآب على الدوام لهؤلاء اللابسي الروح، ليظهر لهم صلاحه، ويذكرهم بالمكتوب القائل: عزوا شعبي يا كهنة الله وتكلموا في قلب أورشليم.</p>
<p>وأنا أسأل إله السلامة برحمته في كل حين الذى يتعهد خلائقه ويظهر صلاحه فيهم أن يعطيكم حكمة ومعرفة ونعمة وروح إفراز لتفهموا ما قد كتبته إليكم من وصايا الرب وتعملوا بها لتحفظكم أطهاراً إلى النفس الأخير، وهو يقبل مني تضرعي هذا الذي هو عن خلاص جميعكم، يا أيها الأبناء الأحباء بالرب الذى له المجد والعز والأكرام إلى الأبد آمين.</p>
<p></p>
<h4>المسيح هو الطريق &#8211; للقديس اغسطينوس<a href="#_ftn5" name="_ftnref5">[5]</a></h4>
<p><strong>كيف يمكن لإنسان أن يقول إنه في مأمن من هؤلاء الأعداء؟</strong></p>
<p>لقد بدأت أتكلم عن هذا، ولكنني أظن أنه ينبغي أن أعالج موضوع هؤلاء الأعداء في شيء من الإيجاز. الآن قد عرفنا الأعداء دعنا نبحث عن طريقة دفاعنا ضدهم &#8220;أدعو الرب الحميد، فأتخلص من أعدائي (مز ١٨: ٣). لقد رأيت ما ينبغي أن تفعله أدعُ بحمد، أي أن تدعو الرب بحمدٍ، لأنك لا تكون في مأمن من أعدائك إن مدحت ذاتك.</p>
<p>&#8220;أدعو الرب الحميد، فأتخلص من أعدائي&#8221;. لأنه ماذا يقول الرب ذاته؟ &#8220;ذابح الحمد يمجدني، والمقوم طريقه أريه خلاص الله&#8221; (مز٥٠: ٢٣).</p>
<p>أين هو الطريق؟ في ذبيحة الحمد. لا تدع أرجلك تحيد عن هذا الطريق. كن فيه ولا تبتعد عنه، لا تبتعد عن مدح الرب خطوة ولا قيد أنملة، لأنك إن حدت عن الطريق، ومدحت ذاتك بدلا من أن تمدح الرب، لا تنجو من أعدائك. فقد قيل عنهم: &#8220;مّدوا شبكة بجانب الطريق&#8221; (مز١٤٠: ٥). لهذا إن ظننت أن لك صلاحًا في ذاتك، ولو إلى أدنى درجة، تكون قد حدت عن طريق مدح الله. عندما تضلل ذاتك لماذا تتعجب إن ضللك عدوك؟ استمع إلى الرسول: &#8220;لأنه إن ظن أحد أنه شيء، وهو ليس شيئًا فانه يغش نفسه&#8221; (غل ٦: ٣).</p>
<p>كأنه يقول: بأي طريق تذهبون؟ &#8220;<strong>أنا هو الطريق</strong>&#8220;.</p>
<p>إلى أين تذهبون؟ &#8220;أنا هو الحق&#8221;.</p>
<p>أين ستقطنون؟ &#8220;أنا هو الحياة&#8221;.</p>
<p>لنسر إذن في الطريق بكل يقينٍ، لكننا نخشى الشباك المنصوبة على جانب الطريق. لا يجرؤ العدو أن ينصب شباكه في الطريق، لأن المسيح هو الطريق، لكن بالتأكيد لن يكف عن أن يفعل هذا في الطريق الجانبي.</p>
<p>لهذا أيضًا قيل في المزمور: &#8220;وضعوا لي عثرات في الطريق الجانبي&#8221; (مز١٤٠: ٥). وجاء في سفر آخر: &#8220;تذكر أنك تسير في وسط الفخاخ&#8221; (ابن سيراخ ٩: ١٣). هذه الفخاخ التي نسير في وسطها، ليست في الطريق، وإنما في الطريق الجانبي.</p>
<p>ماذا يخيفك؟ سرْ في الطريق!</p>
<p>لتخف إذن إن كنت قد تركت الطريق. فإنه لهذا سُمح للعدو أن يضع الفخاخ في الطريق الجانبي، لئلاَّ خلال أمان الكبرياء تنسى الطريق، وتسقط في الفخاخ&#8230;</p>
<p>المسيح المتواضع هو الطريق، المسيح هو الحق والحياة، المسيح هو الله العلي الممجد. إن سلكت في المتواضع (المسيح) تبلغ المجد.</p>
<p>إن كنت ضعيفًا كما أنت الآن، لا تستخف بالمتواضع، فإنك تثبت بقوة عظيمة في المجد.</p>
<p>عندما تتَّهم نفسك لا يجد العدو فرصة يحتال بها ضدَّك أمام القاضي. فإن كنت تتَّهم نفسك، والرب هو مخلِّصك، فماذا يكون العدو سوى مجرَّد محتال؟!</p>
<p>بهذه يستطيع المسيحي أن يحصِّن نفسه ضد أعدائه غير المنظورين (إبليس وجنوده). فبكونهم أعداء غير منظورين ينبغي مقاومتهم بطرقٍ غير منظورة.</p>
<p>لقد قيل عنهم: &#8220;مدُّوا شبكة بجانب الطريق&#8221; (مز١٤٠: ٥).  فإن ظننت أنك بذاتك صلاح ولو إلى أدنى درجة، تكون بذلك قد انحرفت عن طريق تمجيد الله. وإذ تُضلل نفسك، كيف تتعجَّب إن ضلَّلك العدو؟! استمع إلى قول الرسول: &#8220;لأنه إن ظن أحد أنه شيء، وهو ليس شيئًا، فإنَّه يغش نفسه&#8221; (راجع غل ٦ : ٣).</p>
<p><strong> </strong></p>
<h4>معرفة الطريق &#8211; للقديس اغسطينوس<a href="#_ftn6" name="_ftnref6">[6]</a></h4>
<p>هذا هو جوهر المسيحيَّة: الإعلان عن شخص ربّنا يسوع &#8211; الحب الباذل &#8211; وقبوله فردوسًا للنفس، لهذا نادى قائلًا: &#8220;إن عطش أحد فليأتِ إليَّ ويشرب&#8221;، &#8220;من يرد فليأت ومن يعطش فليأخذ ماء حياة مجانًا&#8221;.</p>
<p>وهكذا إذ تحتاج النفس إلى معرفة الطريق، تسلك وسط تيّارات العالم الجارفة وشهوات الجسد المضلِّلة، ترى حبيبها يقدّم نفسه سلّمًا تصعد به إلى السماء موطنها النهائي، فيناجيها: &#8220;أنا هو الطريق والحق&#8221; (يو ١٤: ٦).</p>
<p>وإذ تحتاج إلى قوت يسندها، به تنمو وتحيا، ترى في حبيبها كل الشبع ومصدر حياتها، يتوق أن تقبل أن تأكله وتحيا به، إذ يؤكِّد لها: &#8220;أنا هو خبز الحياة؛ من يُقبل إليَّ فلا يجوع؛ ومن يؤمن بي فلا يعطش أبدًا&#8221; (يو ٦: ٣٥).</p>
<p>وإذ شعر بمباهج العالم وملذّاته وهمومه وأثقاله، وشهوات الجسد وانفعالاته، وحرب الشيطان وخداعاته، يعلن لها: &#8220;أنا هو القيامة والحياة؛ من آمن بي ولو مات فسيحيا&#8221; (يو١١: ٢٥).</p>
<p>وإذ تشعر بالعوز إلى قائد يسندها ويرعاها، يكشف لها: &#8220;أنا هو الراعي الصالح، والراعي الصالح يبذل نفسه عن الخراف&#8221; (يو١٠: ١١).</p>
<p>وإذ تحس بفراغ في داخلها، تود صديقًا باذلًا غير مغرض، رقيقًا، طويل الأناة، وعريسًا يصغي إلى أسرارها، تناجيه ويناجيها، يقدّم لها نفسه صديقًا للخطاة والعشّارين، وعريسًا لمن يؤمنون به.</p>
<p>هذا هو الفردوس الذي لا ينضب، ويفيض بغير حدود، يعطي شبعًا قدر ما نقبل، يترجّى الكل أن يقبلوه مستعطّفًا: &#8220;أنا واقف على الباب أقرع؛ <strong>إن فتح لي أحد</strong> أدخل وأتعشّى معه&#8221;، وإن لم يفتح لي، ألح مرّة ومرّات لعلّ قلبه يلين ويفتح لي، لأنّي أحبّه!</p>
<p>جاء متجسّدًا، حتى يعيد إلى النفس سعادتها ويملأ جوانبها، وينزع القلق منها.</p>
<p>يا نفسي المسكينة، ماذا تطلبين؟!</p>
<p>إن أردت الحكمة، تجدين يسوع مصدر الحكمة وينبوعها، بل هو الحكمة ذاته!</p>
<p>وإن طلبت القوّة والقدرة، فهو القدير!</p>
<p>إن بحثتِ عن اللذّة والسرور، فهو ينبوع الفرح الحقيقي!</p>
<p>إن اشتقتِ إلى السكر، فمحبّته تسكر النفس!</p>
<p>إن جُعتِ إلى الخبز، فهو خبز الحياة!</p>
<p>وإن شغفتِ بالغني، فهو خالق الكل!</p>
<p>وإن أردتِ الراحة، تجدين فيه وحده راحتك&#8230;! اقبليه فليس لك غيره من يشبعكِ.</p>
<p>العظة الآبائية السادسة للأحد الخامس من الخمسين يوم المقدسة</p>
<p><strong>فى بيت أبى منازل كثيرة</strong><strong> &#8211; </strong>للقديس اغسطينوس<a href="#_ftn7" name="_ftnref7">[7]</a></p>
<p>&#8220;لاَ تَضْطَرِبْ قُلُوبُكُمْ أَنْتُمْ تُؤْمِنُونَ بِاللهِ فَآمِنُوا بِي، في بيت أبي منازل كثيرة. فِي بَيْتِ أَبِي مَنَازِلُ كَثِيرَةٌ، وَإِلاَّ فَإِنِّي كُنْتُ قَدْ قُلْتُ لَكُمْ أَنَا أَمْضِي لأُعِدَّ لَكُمْ مَكَانًا، وَإِنْ مَضَيْتُ وَأَعْدَدْتُ لَكُمْ مَكَانًا آتِي أَيْضًا وَآخُذُكُمْ إِلَيَّ&#8221; (يو١٤: ١- ٣).</p>
<p><strong>ما سبب اضطراب التلاميذ:</strong></p>
<p>لقد كانوا في خوف على أنفسهم.. فها هو بطرس، أكثرهم ثقة وأشدهم إقداماً، قد قيل له &#8220;لا يصيح الديك حتى تنكرني ثلاث مرات&#8221; إذن فقد كانوا على حق في أن يضطربوا.. ولكنهم حين يسمعون أنه &#8220;في بيت أبي منازل كثيرة&#8221; تطمئن نفوسهم للسكنى مع المسيح.</p>
<p>ثم إنهم كانوا يخافون على المسيح من الموت أيضاً.. أما هو فيؤكد &#8220;أنتم تؤمنون بالله فآمنوا بي أيضاً&#8221;، ولا يترتب على هذا كأن المسيح ليس هو الله  وإنما &#8220;آمنوا بالله وآمنوا بالذي هو بالطبيعة، وليس بالاختلاس، مساو الله  ذلك الذي أخلى نفسه، ولكن ذلك ليس بفقدان صورة الله، بل بأخذ صورة عبد. إنهم يخشون عليه من الموت بحسب صورة العبد هذه، فيقول لهم &#8220;لا تضطرب قلوبكم، لأن صورة الله ستقيم صورة العبد مرة أخرى.</p>
<p><strong>ملكوت واحد ودرجات استحقاق مختلفة:</strong></p>
<p>إن المنازل الكثيرة تشير إلى درجات الاستحقاق في تلك الحياة الأبدية الواحد.ة إن للشمس مجد ومجد آخر للقمر، وللنجوم مجد آخر، لأن نجما يمتاز عن نجم في المجد، وهكذا الحال أيضاً في قيامة الأموات. فالقديسون، مثل النجوم في السماء، ينالون منازل مختلفةً ذات مراتب متنوعة من البهاء.</p>
<p>إن واحداً أقوى من الآخر، وواحداً أحكم من الآخر، وواحداً أبر من الآخر، ولذلك فإنه &#8220;في بيت أبي منازل كثيرة، وان يبقى واحد خارج هذا البيت، حيث أن كل واحد، بحسب استحقاقه سوف ينال منزلاً.</p>
<p>إنهم جميعاً قد أخذوا ذلك الدينار، الذي يأمر صاحب البيت بإعطائه لكل من عمل في الكرم، دون تفرقة بين أولئك الذين اشتغلوا أقل، أو الذين عملوا أكثر. فهذا الدينار يشير إلى الحياة الأبدية، التي لا يحيا فيها أحد لهدف يختلف عن الآخر، طالما أنه في الحياة الأبدية، التي لا تختلف في مقاييسها وسوف يكون الله الكل في الكل.</p>
<p><strong>لن يكون هناك حسد:</strong></p>
<p>وكما أن الله محبة (1يو4: 8)، فإن المحبة ستجعل ما يمتلكه واحد، يكون مشاعاً للجميع، فإنه هكذا الواحد يمتلك الشيء، حينما يحب ان يراه في غيره، بينما هو نفسه لا يمتلكه. ولهذا فلن يكون هناك حسد، في وسط هذا البهاء المتنوع، ما دامت وحدة المحبة تملك على جميعهم.</p>
<p><strong>كيف يذهب الرب ليعد مكاناً، إذا كانت هناك من قبل منازل كثيرة؟</strong></p>
<p>هل هذه المنازل موجودة من قبل، ومع ذلك فما زالت في حاجة إلى الإعداد؟ وكيف تكون هناك منازل كثيرة في بيت الآب، وهذه لا اختلاف بينها بل هي واحدة: وهي موجودة فعلاً، بمعنى أنها ليست في حاجة إلى إعداد.</p>
<p>ليس لنا أن نفكر في هذا، إلا بنفس الكيفية التي يعالجها بها النبي &#8220;إشعياء&#8221;، الذي هو أيضاً يعلن عن الله، أنه قد أعد  من قبل  ذلك الذي سوف يكون فيها بعد فيقول: &#8220;هنذا الذي صنع ما سوف يكون&#8221;، ولهذا فإنه قد صنع هذه الأشياء، وهو أيضاً لم يصنعها بعد.</p>
<p>إذن فهو قد صنعها على طريقة سبق تعيينها. وسوف يصنعها بطريقة التفصيل والإتمام الفعلي. وهذا يطابق تماما ماجاء بالإنجيل عندما اختار (يسوع) تلاميذه عند دعوته إياهم (لو٦: ١٣)، ومع ذلك فإن الرسول يقول، وكما اختارنا فيه قبل تأسيس العالم (أف١: ٤) أي بسبق التعيين، وليس بالدعوة الفعلية، والذين سبق فعينهم، فهؤلاء دعاهم أيضاً (رو٨: ٣٠) لقد اختار بسبق التعيين قبل تأسيس العالم. إنه يختار بالدعوة قبل اكتمالها وهكذا أيضاً إنه قد أعد تلك المنازل، وما زال يعدها. والذي قد صنع الأشياء من قبل، وهي تلك التي سوف تكون فيها بعد، هو الذي يعد الآن أشياء ليست مختلفة، وإنما تلك المنازل بعينها، التي سبق له أن أعدها من قبل، من ناحية سبق تعبينها. ولكن نظراً لأنها ليست في حالة إعداد فعلي، فإنه يقول: وأنا إن مضيت وأعددت لكم مكاناً، آتى أنا أيضاً وآخذكم إليَّ:</p>
<p><strong>اعداد المنازل واعداد السكان:</strong></p>
<p>بيت الآب.. هو بيت الله.. هو هيكل الله.. هو أنتم.. هو بنو الملكوت.. هو الملكوت.</p>
<p>أي شيء آخر نظن أنه يقصد ببيت الله، سوى أنه هيكل الله؟.. وما هو هيكل الله؟.. اسألوا الرسول فهو يجيبكم، ولأن هيكل الله مقدس الذي أنتم هو (١كو٣: ١٧)، وهذا هو أيضاً ملكوت الله، الذي سوف يسلمه الإبن إلى الآب.. فيقول الرسول ذاته &#8220;المسيح باكورة، ثم الذين للمسيح في مجيئه. وبعد ذلك النهاية، متى سلم الملك الله الأب&#8221; (١كو ١٥: ٢٣، ٢٤) إنهم أولئك الذين فداهم بدمه، سوف يسلمهم ليقفوا أمام وجه أبيه.</p>
<p>وهذا هو ملكوت السماوات، الذي يقال عنه: ويشبه ملكوت السموات إنسانا زرع زرعاً جيداً في حقله.. والزرع هو بنو الملكوت، ومع أنهم الآن مختلطون بالزوان، ففي نهاية العالم سيرسل الملك بنفسه ملائكته، فيجمعون من ملكوته جميع المعاثر وفاعلي الإثم، حينئذ يضيء الأبرار كالشمس في ملكوت أبيهم (مت ١٣: ٢٤، ٣٨– ٤٣)، إن الملكوت سيضيء في الملكوت، حينها يصل الذين هم الملكوت، إلى الملكوت، إننا عندما نقول: ليأت ملكوتك (مت٦: ١٠)، فإن الملكوت لم يملك حتى الآن. وعندما تجمع جميع المعاثر، فإنه يبلغ إلى التملك. فلا يكون الملكوت اسماً فيما بعد، بل أيضاً حكماً وقوة.</p>
<p>وسوف يقال للملكوت الواقف عن اليمين عند المنتهى وتعالوا يا مباركي أبي، رثوا الملك المعد لكم (مت ٥: ٣٤) أي أنكم أنتم الذين كنتم قبلاً على رجاء، يمكنكم الآن أن تأخذوا السلطان لأن تكونوا ملكوتا بالفعل.</p>
<p>إذن فبيت الله هذا، والهيكل الذي الله، وملكوت الله، وملكوت السموات، هو في سبيل التكوين، والتشييد، والإعداد، والتجميع. وسوف تكون فيه منازل يعدها الرب الآن، مثل التي سبق الرب فعينها.</p>
<p><strong>نحن رعاياه الذين في حاجة إلى الاعداد :</strong></p>
<p>لماذا يذهب الرب ليعد لنا مكاناً، بينما نحن رعاياه الذين هم في حاجة إلى الإعداد؟ إن عمله هذا سيتعطل بتركه إيانا.</p>
<p>إن الذي يقيم على بعد مسافة ما من الرب، يحتاج إلى أن يحيا بالإيمان، لأنا بهذا نستعد لرؤية وجهه (١كو ٥: ٦، ٨)، لأنه, طوبى للأنقياء القلب، لأنهم يعاينون الله (مت ٥: ٨)، وهو يطهر بالإيمان قلوبهم (أع١٥: ٩) إن الإيمان الذي بواسطته تتطهر قلوب أولئك الذين سيعاينون الله، بينما هم على مسافة ما ههنا، فإنهم يؤمنون بما لا يرونه، لأنه لو كانت هناك رؤية لما كان هناك إيمان، إن الاستحقاق يتراكم الآن لدى المؤمن، وبعد ذلك ستعطى المكافأة للذى يرى.</p>
<p>إذن فليذهب الرب، وليعد لنا مكاناً.. ليذهب لكيلا يرى بالجسد.. وليبقى هناك مختفياً عن أعيننا، لكى يعمل الإيمان. فهناك المكان الذي يعد، إذا كنا بالإيمان نحيا، ولتكن الرغبة بالإيمان في هذا المكان، إلى أن نحصل على المكان الذي نتمناه. فيا رب أعد ما أنت تعد. لأنك تعدنا لنفسك، وتعد نفسك لنا، مثلما تعد مكاناً لك فينا وأنا فيك.</p>
<p></p>
<h3>عظات آباء وخدّام معاصرين للأحد الخامس من الخمسين يوم المقدسة</h3>
<h4>طريق الحياة &#8211; لقداسة البابا تواضروس الثاني<a href="#_ftn8" name="_ftnref8">[8]</a></h4>
<p><strong>(يوحنا 14: 1- 11)</strong></p>
<p><strong>طريق الحياة</strong><strong> </strong></p>
<p>هذا هو الأحد الخامس ونسميه: &#8220;المسيح طريق الحياة&#8221;.</p>
<p>والطريق إلى الأبدية مأمون فقط في المسيح، ونحن نعرف الطريق إلى الله فقط بالمسيح، لأنه هو الإله المتجسد، إنه الطريق والحق والحياة،</p>
<p>ولكن هل هذه ثلاث صفات أم صفة واحدة؟</p>
<ul>
<li><strong>الطريق:</strong> فالمسيح هو عبورنا للآب السماوي، وفيه استعلان الآب السماوي أو رفع البشرية التي فيه<br />
إلى الله، لأن فيه اللاهوت مُتحداً بالناسوت وليس سواه. إن الطريق يحمل الإنسان فوقه.</li>
<li><strong>الحق:</strong> فالمسيح هو تحقيق كل وعود الله، وهو الله الحق الإلهى ذاته. إنه الحقيقة الوحيدة في العالم.</li>
<li><strong>الحياة:</strong> فالمسيح حياتنا في الله، إنه صاحب الحياة وهو الحياة الإلهية ذاته. إنه الذى يُحيي الإنسان .</li>
</ul>
<p>ونستنتج من ذلك أن عبارة أنا هو الطريق والحق والحياة (يو١٤: ٦)، إنما تعني وصفاً واحداً مُحدداً لشخص المسيح، وهو: &#8220;أنا هو الطريق الحقيقى للحياة&#8221; والمقصود بالحياة أي الحياة الجديدة أو الحياة الأبدية.</p>
<p><strong>ملاحظتان:</strong></p>
<ul>
<li>لا تضطرب قلوبكم: الأضطراب الداخلى في القلب وهو يعنى الخوف من المجهول.</li>
<li>في بيت أبى منازل كثيرة: وكلمة منازل تعني الإقامة العابرة، والأفضل كلمة &#8220;مواضع&#8221; أي الإقامة الدائمة إنه: الطريق الحقيقى يحمل الإنسان، ويُنير الإنسان ويُحيى الإنسان&#8221;.</li>
</ul>
<p><strong>منازل أبدية</strong></p>
<p>هذا الفصل حديث عن الحياة الأبدية، والمنازل الكثيرة تعني أن الملكوت رَحبٌ ودرجات (يُعطي كل واحد حسب أعماله) لقد قدَّم المسيح نصيحة عن الإيمان &#8220;لا تضطرب قلوبكم&#8221; لأنه يُعدّ لنا مكاناً (عدم الإنزعاج أمام الضيقات).</p>
<ul>
<li>توما قدم استفساراً: كيف نعرف الطريق؟ وكانت إجابة المسيح: إنه الطريق الحقيقي للحياة الأبدية .</li>
<li>فيلبس قدم طلباً: أرنا الآب وكفانا. أما المسيح فأجابه بأن الذى رآه فقد رأى الآب. إنه الله حقاً .</li>
<li><strong>وأُعد لكم مكاناً</strong> (ع ٣) عبارة قوية نلمح فيها وعد ورجاء وأمل، نرى فيها الحدث المستقبلي في زمن الماضى، وهذا من باب التأكيد والتيقن،</li>
</ul>
<p>ونجد في هذه العبارة:</p>
<ul>
<li>صورة من صور محبة المسيح لنا.</li>
<li>اشتياقه البالغ لنا جميعاً.</li>
<li>مقدار التعب المبذول لأجلنا.</li>
</ul>
<p>وهذا التعب نراه في كل المراحل، التجسد والميلاد، العماد والتجربة ، الخدمة وعدم القبول، الصلب والدفن، القيامة والصعود.</p>
<p>يقول القديس أغسطينوس: [إننى في كل مرة أبتعد فيها عنك، أسقط في العدم والفساد، يا لشقائي&#8230; فإنه لم يكن لي معرفة إن فيك غناي أنا الذي ليس له وجود، أيها الطريق والحق والحياة..</p>
<p>يا مُبدِّد الظلمة والشر والضلال والموت،</p>
<p>أيها النور الذي بدونك يصير الكل في ليل دامس الظلام،</p>
<p>أيها الطريق الذي بدونك لا يوجد سوى الضلال،</p>
<p>أيها الحق الذي بدونك لا يوجد سوى الباطل،</p>
<p>أيها الحياة الذى بدونك يُخيم الموت على الجميع].</p>
<p></p>
<h4>شرح نص إنجيل القدَّاس &#8211; للمتنيح أنبا أثناسيوس مطران كرسي بني سويف والبهنسا<a href="#_ftn9" name="_ftnref9">[9]</a></h4>
<p><strong>(يو١٤: </strong><strong>۳،۲)</strong></p>
<p><strong>&#8220;في بيت أبي منازل كثيرة، وإلا فإني كنت قد قلت لكم. أنا أمضي لأعد لكم مكاناً، وإن مضيت وأعددت لكم مكاناً آتي أيضاً وآخذكم إليَّ، حتى حيث أكون أنا تكونون أنتم أيضاً&#8221;</strong>.</p>
<p>بعدما أوصاهم الرب بقوة أنهم يجب أن لا يضطربوا، وبعدما أمرهم بالحري أن يؤمنوا بالله الآب وأيضا به هو، يخبرهم الآن بوضوح أن يطرحوا عنهم ضعف ذهنهم. وذلك كتشجيع لهم. حتى لا يُستبعدوا من المنازل المقدسة، بل يُعطى لهم أن يسكنوا في المنازل السمائية في الأعالي، ويحيون حياتهم الأبدية في كنيسة الأبكار، متمتعين بالغبطة التي لا نهاية لها. ثم يقول لهم إنه يوجد &#8220;في بيت أبيه منازل كثيرة&#8221; (انظر يو١٤: ٢)، مُعلّماً لهم بهذا أن السماء واسعة جداً وتكفي للجميع، وأن العالم الذي خلقه لا يحتاج إلى تكبير بالمرة ليكون كافيًا لإحتواء كل الذين يحبونه. ويبدو محتملاً أنه بحديثه عن &#8220;المنازل الكثيرة&#8221; يريد أن يشير إلى الدرجات المتنوعة من الكرامة والمجد، مما يعني أن كل من يرغب أن يحيا حياة الفضيلة، سوف ينال مكانه الخاص به، والمجد المناسب لأعماله الخاصة به.</p>
<p>لذلك، فلو أن المنازل في بيت الله الآب لم تكن كثيرة العدد، لكان قد قال إنه ماض قبلهم، أي ليعد مقدماً مساكن للقديسين: ولكنه لأنه يعلم أن هذه المنازل كثيرة، وهي معدة تماماً في إنتظار وصول الذين يحبون الله، لذلك يقول إنه سيمضي ليس لإعداد منازل، ولكن لأجل تأمین وجود الطريق المؤدي إلى المنازل التي في الأعالي، أي ليجهز عبورًا آمنا &#8220;لكم&#8221;، وليمهد الطريق الذي كان مغلقًا كلية في القديم. فقد كانت السماء في السابق غير ممكن الدخول إليها بالنسبة &#8220;للإنسان المائت&#8221;، ولم يكن أي جسد قد دخل إلى المجال النقي والكلي القداسة حيث يوجد الملائكة؛ ولكن المسيح هو الأول الذي كرَّس لنا طريقا للدخول إلى نفسه، ووهب للإنسان طريقاً للدخول إلى السماء؛ مقدماً نفسه قرباناً لله الآب، &#8220;كباكورة للراقدين&#8221; (انظر١كو١٥: ٢٠)، وللذين كانوا في القبور، وهو الأول بين جنس البشر الذي ظهر في السماء على الإطلاق.</p>
<p>لذلك أيضاً فإن الملائكة في السماء، الذين لم يعرفوا شيئاً عن سر التجسد الجليل والفائق الوصف، دهشوا متعجبين من مجيئه، وصاحوا في حيرة أمام الحدث الغريب وغير العادي قائلين: &#8220;من هو هذا الآتي من أدوم&#8221;؟ أي من الأرض. ولكن روح الله لم يترك الأجناد العلوية بدون أن يعلّمهم عن حكمة الله الآب المدهشة، بل أمرهم بالحري أن يفتحوا الأبواب السمائية إكرامًا لملك الكل ورب الكل منادیاً &#8220;إرفعوا الأبواب أيها الرؤساء، وارتفعن أيتها الأبواب الدهريات فيدخل ملك المجد&#8221; (مز٢٤: ٧). لذلك فإن ربنا يسوع المسيح كرس لنا &#8220;طريقًا حديثًا حيًا&#8221; (عب١٠: ١٩) وهو &#8220;لأن المسيح لم يدخل إلى أقداس مصنوعة بيد أشباه الحقيقية، بل إلى السماء عينها، ليظهر الآن أمام وجه الله لأجلنا&#8221; (عب٩: ٢٤).</p>
<p>فالمسيح لم يصعد إلى السماء ليقدم نفسه أمام حضره الله الآب: لأنه كان في الآب منذ الأزل ولا يزال وسيظل إلى الأبد. أي أمام ذاك الذي ولَدَه، فهو الذي به يفرح الآب على الدوام (انظر أم 8: ٢٠)، أما الآن، فإن ذاك الذي كان هو الكلمة منذ الأزل ولم يكن له نصيب في الطبيعة البشرية، هو نفسه قد سبق بالجسد البشري لكي يظهر في السماء بطريقة غريبة ولا تخطر على بال. وهذا قد فعله لحسابنا ومن أجلنا، لكي رغم أنه &#8220;وجد في الهيئة كإنسان&#8221; (في۲: ۸)، فإنه بقدرته المطلقة التي لإبن الله. بينما لا يزال في هيئة الإنسان &#8211; يتمم الأمر الذي يقول: &#8220;إجلس عن يميني&#8221;، وهكذا ينقل مجد البنوة إلى كل جنس البشر من خلال نفسه. فبظهوره في هيئة إنسانية، فإن هذا يعني أنه لا يزال واحداً منا نحن البشر في جلوسه عن يمين الله الآب، رغم أنه أعلا، بما لا يُقاس &#8211; فوق كل الخليقة؛ وهو أيضا مساوٍ لأبيه في الجوهر، إذ أنه قد ولد منه كإله من إله ونور من نور. لذلك فهو قد قدَّم نفسه كإنسان للآب نيابة عنا، وذلك لكي يعيدنا نحن الذين طُرِحنَا بعيداً عن حضرة الآب بسبب التعدي القديم. يعيدنا ثانية لكي ننظر وجه الآب. فالمسيح يجلس عن اليمين في مكانه ووضعه لأنه الأبن، لكي بواسطته نُدعى نحن أيضاً أبناء وأولاد الله. لهذا السبب فإن بولس أيضاً الذي يُصِّر أن المسيح يتكلم بواسطته (انظر 2كو١٣: ٣)، يعلّمنا أن نعتبر الأحداث التي حدثت في حياة المسيح ذاته، على أنها من نصيب كل جنس البشر؛ قائلاً إن الله &#8220;أقامنا معه، وأجلسنا معه في السماويات في المسيح&#8221; (أف۲: ٦) .</p>
<p>فالمسيح يملك الأمتياز الخاص وحده. إذ هو الابن بالطبيعة، أن يجلس عن يمين الآب، ومجد هذه الكرامة يُنسَب له عن حق وبصواب وله وحده. ولكن لأن المسيح الذي يجلس هناك، هو مثلنا من كل ناحية، إذ أنه قد ظهر هناك كإنسان، في نفس الوقت نؤمن أنه إله من إله. وهذا يسبغ علينا نحن أيضا الإمتياز الخاص بهذه الكرامة. فحتى إن كنا لن نجلس عن يمين الآب نفسه. لأنه كيف يمكن للعبد أن يرتفع إلى كرامة مساوية لكرامة السيِّد؟ إلا أنه مع ذلك فقد وَعَدَ المسيح التلاميذ القديسين أنهم سيجلسون على عروش فهو يقول: &#8220;متى جلس ابن الإنسان على عرش مجده تجلسون أنتم أيضاً على اثنى عشر عرشاً تدينون أسباط إسرائيل الإثنى عشر&#8221; (متى١٩: ٢٨).</p>
<p>إذا فكأنه يقول: &#8220;أنا لا أمضي لأعد لكم منازل، لأنه توجد من قبل منازل كثيرة، وليس هناك حاجة لإقامة مساكن جديدة للخليقة؛ ولكنني أمضي لأُعِدّ لكم مكانًا. بعد أن خلصنا من الخطية التي سيطرت عليكم، حتى يمكن لأولئك الذين على الأرض أن يختلطوا مع الملائكة القديسين، ولولا ذلك فان جموع الملائكة القديسين لم تكن لتختلط أو تتعامل أبداً مع أولئك الذين تنجسوا بالتعدي. أما الآن، حينما أكون قد أكملت هذا العمل، وجعلت العالم السفلي متحدًا مع العالم الذي فوق، وأكون قد أعطيت لكم طريقاً للدخول إلى المدينة التي في الأعالي، فإني سأرجع ثانية في وقت التجديد وأخذكم إليَّ حتى حيث أكون أنا تكونون أنتم أيضاً&#8221; (يو١٤: ٣).</p>
<p>وهذا هو ما كان في ذهن الرسول بولس أيضاً، حينما يكتب في رسالته: &#8220;فإننا نقول لكم هذا بكلمة الرب: إننا نحن الأحياء الباقين إلى مجيء الرب، لا نسبق الراقدين. لأن الرب نفسه بهتاف، بصوت رئيس ملائكة وبوق الله، سوف ينزل من السماء والأموات في المسيح سيقومون أولاً. ثم نحن الأحياء الباقين سنخطف جميعاً معهم في السحب لملاقاة الرب في الهواء، وهكذا نكون كل حين مع الرب. (١تس٤: ١٥-١٧).</p>
<p></p>
<h4>الطريق والحق والحياة &#8211; للمتنيح الأنبا بيمين أسقف ملوي وأنصنا والأشمونيين<a href="#_ftn10" name="_ftnref10">[10]</a></h4>
<p><strong>أنا هو الطريق </strong>(يو ١٤: ٦)</p>
<p>في الإصحاح الرابع عشر من إنجيل معلمنا يوحنا يتحدث الرب يسوع قائلاً &#8220;لاَ تَضْطَرِبْ قُلُوبُكُمْ أَنْتُمْ تُؤْمِنُونَ بِاللهِ فَآمِنُوا بِي، فِي بَيْتِ أَبِي مَنَازِلُ كَثِيرَةٌ، وَإِلاَّ فَإِنِّي كُنْتُ قَدْ قُلْتُ لَكُمْ أَنَا أَمْضِي لأُعِدَّ لَكُمْ مَكَانًا، وَإِنْ مَضَيْتُ وَأَعْدَدْتُ لَكُمْ مَكَانًا آتِي أَيْضًا وَآخُذُكُمْ إِلَيَّ، حَتَّى حَيْثُ أَكُونُ أَنَا تَكُونُونَ أَنْتُمْ أَيْضًا، وَتَعْلَمُونَ حَيْثُ أَنَا أَذْهَبُ وَتَعْلَمُونَ الطَّرِيقَ. قَالَ لَهُ تُومَا: يَا سَيِّدُ، لَسْنَا نَعْلَمُ أَيْنَ تَذْهَبُ، فَكَيْفَ نَقْدِرُ أَنْ نَعْرِفَ الطَّرِيقَ؟. قَالَ لَهُ يَسُوعُ: أَنَا هُوَ الطَّرِيقُ وَالْحَقُّ وَالحياة لَيْسَ أَحَدٌ يَأْتِي إِلَى الآبِ إِلاَّ بِي&#8221; (يو١٤: ١- ٦).</p>
<p>ومعنى هذا أن الرب أوضح أنه ليس من طريق إلى أقداس الآب إلا بشخصه الوحيد لأنه قال في نفس الحديث الذي رآني فقد رأى الآب، أنا في الآب والآب فيَّ.</p>
<p>فالمسيحية تؤمن أن المسيح لم يقدم وصايا أو شريعة فقط ولم يشرح معالم الطريق إلى الحياة الأبدية فحسب وإنما قدم نفسه طريقاً حياً كل من يسلك فيه يحيا إلى الأبد ويجد جرأة وقدوماً للدخول في حضرة الآب السماوي.</p>
<p>لقد تحقق قول أشعياء النبي &#8220;وَتَكُونُ هُنَاكَ سِكَّةٌ وَطَرِيقٌ يُقَالُ لَهَا: «الطَّرِيقُ الْمُقَدَّسَةُ» لاَ يَعْبُرُ فِيهَا نَجِسٌ، بَلْ هِيَ لَهُمْ مَنْ سَلَكَ فِي الطَّرِيقِ حَتَّى الْجُهَّالُ، لاَ يَضِلُّ&#8221; (إش ٣٥: ٨).</p>
<p>ونلحظ في النبوءة وصفا للطريق أنها مقدسة وهذا قد تحقق في شخص القدوس الذي بلا عيب ولا دنس ولم يوجد فيه غش ، وتتضمن النبوءة قداسة السالكين، فطبيعة الطريق أنها مقدسة وتطهر أيضا السالكين فيها، وهذا يتحقق أيضاً في كل مؤمن يحيا في المسيح ويسلك وفقاً لوصاياه فالمسيح يقول لتلاميذه أنتم أنقياء بسبب الكلام الذي أكلمكم به وتتضمن النبوءة أيضا استنارة ووعياً للجهال. فهذا الطريق لا يعرف الجهال. كل جاهل يستنير بالحكمة والفهم الروحي ومن ثم لا خطر على كل السالكين لأنهم لا يسيرون في الظلمة بل يتمتعون بالنور الحقيقي الذي يضئ لكل إنسان آت إلى العالم.</p>
<p>لقد عاشت البشرية في القديم متلهفة ظهور المسيا، لأنه وحده به الخلاص. وعندما أرسلت السماء يوحنا السابق كانت مهمته أعداد ذهن البشرية لمجيء المخلص المسيا الطريق الذي انتظرته البشرية آلاف السنين. &#8220;أعدوا طريق الرب اصنعوا سبله مستقيمة&#8221;.</p>
<p>لقد أمر موسى شعب الله بألا يحيدوا عن طريق الرب يمنة أو يسرة، &#8220;فَاحْتَرِزُوا لِتَعْمَلُوا كَمَا أَمَرَكُمُ الرَّبُّ إِلهُكُمْ لاَ تَزِيغُوا يَمِينًا وَلاَ يَسَارًا&#8221; (تث ٥: ۳۲).</p>
<p>ولكن أنيَّ لشعب عنيد غليظ الرقبة أن يستمع ويطيع؟! لم تستطع البشرية طيلة العهد القديم أن تمسك بالطريق وتتحد به وتسلك فيه، فالإنسان لم يكن قد أعطى النعمة بعد &#8220;لأن الناموس بموسى أعطى، أما النعمة والحق فبيسوع المسيح صارا&#8221; ولكن لما سكب الرب الروح القدس بغني على كنيسته أضحت لها القدرة والإمكانية لتسلك في النور &#8220;بنورك يارب نعاين النور&#8221; &#8220;كلنا كغنم ضللنا ملنا كل واحد إلى طريقه&#8221; (إش٥٣: ٦) &#8220;الجميع زاغوا وفسدوا معا ليس من يعمل صلاحا ليس ولا واحد&#8221; (رو٣: ١١). ولكن شكراً لله الذي لما رأى عجزنا نزل ليهبنا قوته ولما تطلع إلى ضلالنا حنت أحشاءه ووهبنا في شخصه طريق الحق والحياة.</p>
<p>لقد كان المسيحيون في العصر الرسولي يسمون أهل الطريق قبل أن يطلق عليهم مسيحيين في إنطاكية فيقول سفر أعمال الرسل &#8220;حتی إذا وجد أناسا من الطريق رجالا أم نساء يسوقهم إلى أورشليم&#8221; (أع ۲:۹). وفي موضع آخر: &#8220;ولما كان قوم يتقسون ولا يقنعون شاتمين الطريق&#8221; (أع ۱۹: ۹).</p>
<p>وفي رسالة العبرانيين يتحدث الرسول بولس قائلا &#8220;لنا أيها الأخوة ثقة بالدخول إلى الأقداس بدم يسوع طريقاً كرسه لنا حديثاً حياً بالحجاب أي جسده&#8221; (عب۱۹:۱۰). فهو طريق حي فيه الحياة وكل من يؤمن به يحيا.</p>
<p>١- وهو مكرس لنا أي وهبه للكنيسة حتى أن كل أولاد الله يتمسكون به فيكون لهم حق الدخول إلى أقداس الآب.</p>
<p>۲ &#8211; يعطي ثقة لكل من يسلكه، لأنه لا يقوم على إستحقاقات السالك وإنما علی إستحقاقات دم يسوع الذي سفك على الصليب ليهب للمجاهدين حياة أبدية.</p>
<p>٣- وهو طريق حديث ليس كالقديم أيام موسی والأنبياء، لأن هؤلاء أعطوهم الناموس والشريعة ولكن الناموس لم يكن له القدرة أن يهب الخلاص بل كان قائماً لدينونة الإنسان وإظهار عجزه وقصوره وفساد طبيعته.</p>
<p>4 &#8211; إن هذا الطريق هو الحجاب أي جسده. لقد كان الحجاب قديماً في خيمة الإجتماع وهيكل سليمان علامة غضب الآب ورمزاً إلى عجز الإنسان عن الدخول إلى قدس الأقداس.</p>
<p>أما جسد المسيح الذي صلب والجنب الطاهر الذي طعن قد أعطانا من خلاله بابا حديثاً وطريقاً حیاً کی نتراءى أمام الآب إذ في هذا الجنب المطعون صار لنا ملجأ من كل طعنات إبليس وحماية من كل هجماته وتقديسا بدمائه لحياتنا وطبيعتنا الضعيفة الساقطة.</p>
<p>يقول بولس الرسول عن المسيح الطريق الوحيد إلى الآب &#8220;لأنه هو سلامنا. فجاء وبشركم بسلام أنتم البعيدين والقريبين، لأن به لنا كلينا قدوماً في روح واحد إلى الآب، فلستم إذا بعد غرباء ونزلاً بل رعية مع القديسين وأهل بيت الله&#8221; (أف ۲: ١٤، ۱۷- ۱۹).</p>
<p>مبارك الرب يسوع الذي أعطانا بشخصه الطريق المقدس للدخول إلى أقداس الآب. تتحقق فيه نبوءة إشعياء &#8220;وحش مفترس لا يصعد إليها لا يوجد هناك بل يسلك المفديون فيها. ومفديو الرب يرجعون ويأتون إلى صهيون بترنم وفرح أبدي على رؤوسهم إبتهاج وفرح يدركانهم، ويهرب الحزن والتنهد (إش35: 9، 10).</p>
<p>إن الرب يسوع هو الطريق، إن بدأنا به مسيرة حياتنا يمنحنا قوة الروح لغلبة تحديات الحياة، حتى نصل في النهاية إلى المجد الذي يعيش فيه مع أبيه الصالح. إنه الغاية وهو الوسيلة وهو الطريق الذي يحمل على أجنحة النسور المجاهدين به نحو أورشليم مدينة الأبكار القديسين.</p>
<p><strong>أنا هو الحق </strong>(يو١٤: ٦)</p>
<p>لقد أعلنت المسيحية في شخص المسيح أن <strong>الحق</strong> ليس كلاما وإنما هو حياة، ليس موضوعا Object بل هو ذات Subject ولذلك لما سأل بيلاطس المسيح <strong>ماهو الحق؟</strong>. لم يجبه الرب لأن <strong>الحق</strong> كان أمامه شخصاً ولم يستطع أن يتلامس معه ويدركه.</p>
<p>فكما أن الرب هو الطريق هو <strong>الحق</strong> أيضاً. فالحق هنا هو جوهر المعرفة الكاملة والطبيعة الإلهية لهذا نقول في قانون الإيمان «نور من نور. إله <strong>حق</strong> من إله <strong>حق</strong>» فهو الأمانة الكاملة والصدق الكامل والثقة الكاملة التي كل من يتكل عليها لا يخزى.</p>
<p><strong>الحق</strong> يعني الأصل الصادق الحقيقي فهو بهاء مجد الآب ورسم جوهره (عب۳:۱) وهو الإبن الوحيد الذي في حضن الآب الذي خبر (يو١: ۱۸) وفيه كل ملء اللاهوت كما يشرح الرسول بولس ذلك في رسالته إلى كولوسي &#8220;فإنه فيه يحل كل ملء اللاهوت جسديا (کو۲: ۹).</p>
<p>ويقول معلمنا يوحنا البشير &#8220;ونحن في <strong>الحق</strong> في إبنه يسوع المسيح، هذا هو الإله <strong>الحق</strong> والحياة الأبدية&#8221;</p>
<p>يستخدم اليونانيون كلمة الحق Atatheia بمعني الأصالة والنقاء. ففي يسوع تختفي الإحتمالات والتخمينات والظلال والشوائب. فى يسوع تواجه <strong>الحق</strong> وجهاً لوجه. وهذا هو سر مقاومة الفريسيين المرائين والملوثين والخادعين لشخص الرب بلا مبرر.</p>
<p>ومعرفة <strong>الحق</strong> ليست معرفة نظرية، فالشياطين يؤمنون ويقرون أن المسيح هو إبن الله الحي ولكن الرب لم يدعهم ينطقون بهذا الإعلان لأنها معرفة غير إختبارية. فمعرفة <strong>الحق</strong> ليست بالعقل فقط وإنما بالقلب والروح وبالاختبار والمعايشة والسلوك والحياة. <strong>والحق</strong> في اللاهوت المسيحي مرتبط بالكلمة والنور والحرية والحياة.</p>
<ul>
<li><strong>الحق</strong> هو الكلمة الإبن الوحيد الذي في حضن الآب. النعمة والحق بيسوع المسيح صارا (يو۱۷:۱).</li>
<li><strong>والحق</strong> مرتبط بالنور إرتباطاً صمیماً. من يفعل <strong>الحق</strong> يقبل إلى النور لكي تظهر أعماله بالله معمولة. إن الله نور وليس فيه ظلمة البتة. إن قلنا أن لنا شركة معه وسلكنا في الظلمة نكذب ولسنا نعمل <strong>الحق</strong>. (1يو١: ٥، ٦).</li>
<li><strong>الحق</strong> مرتبط بالحياة &#8220;الكلام الذي أكلمكم به هو روح وحياة&#8221; (يو٦: ٦٣).</li>
<li><strong>الحق</strong> مرتبط بالحب &#8220;يا أولادى لا نحب بالكلام ولا بالسان بل بالعمل <strong>والحق</strong>، وبهذا نعرف أننا من <strong>الحق</strong> ونسكن قلوبنا قدامه&#8221; (1یو۳: ۱۸، ۱۹).</li>
<li><strong>والحق</strong> مرتبط بالحرية <strong>الحقة</strong> &#8221; وتعرفون <strong>الحق</strong> و<strong>الحق</strong> يحرركم. فإن حرركم الإبن فبالحقيقة تكونون أحراراً&#8221; (يو٨: ٣٢، ٣٦). إن يسوع وحده هو <strong>الحق </strong>الآتي من عند الآب وهو الذي شهد <strong>للحق</strong> بتعاليمه وبسيرته وأعطي لكل من يؤمن به أن يتحرر من الباطل ورئيس هذا العالم الكذاب وأبو الكذاب لكي يحيا في النور والحب والحياة الحقيقية. هكذا يتكثف الطريق مسيحياً في الحق والحب والحياة والنور والفرح والمجد الأبدي.</li>
</ul>
<p><strong>أنا هو الحياة</strong> (يو١٤: ٦)</p>
<p>عندما أعلن المسيح له المجد عن ذاته أنه هو الطريق الحقيقي نحو الآب السماوي ، وأنه هو الحق الصادق المعلن من عنده ، كان لابد أن يكون هو أيضاً <strong>الحياة</strong> الحقيقية لأنه هو الطريق الحق <strong>للحياة</strong> الحقيقية.</p>
<p>ونستطيع أن نتأمل في العناصر الآتية عندما نتحدث عن المسيح <strong>الحياة </strong>الحقيقية المعلنة من الآب للعالم.</p>
<p><strong>منشيء الحياة</strong></p>
<p>يقول مطلع إنجيل يوحنا البشير &#8220;كل شيء به كان وبغيره لم يكن شيء مما كان فيه كانت <strong>الحياة</strong>، <strong>والحياة</strong> كانت نور الناس. كل شئ به كان وبغيره لم يكن شيء مما كان&#8221; (يو١: ٣، ٤).</p>
<p>هذا يعني أن الإبن هو الذي خلق العالمين. فالآب دبر الخلقة في البدء بإبنه الكلمة وبقوة روحه القدوس الذي كان يرف على وجه المياه. فهو الذي خلق النور وفصل المياه عن اليابس وأوجد الزحافات والطيور والحيوانات، وهو الذی کون الإنسان مما لم يكن إذ خلقه من تراب الأرض ونفخ في أنفه نسمة <strong>حياة</strong> فصار آدم نفسا حية. ورأى الآب أن كل ما صنعه الكلمة أنه حسن جداً. وأما الإنسان فخلقه على صورته کشبهه في الحرية والإرادة والنطق والإبداع والقدرة على الوحدة. هو الرب الذي خلق كل ما في السموات وما على الأرض وفي هذا يقول الرسول بولس &#8220;فانه فيه خلق الكل، ما في السموات وما على الأرض، وما يرى وما لا يرى، سواء كان عروشاً أم سيادات أم رياسات أم سلاطين، الكل به وله قد خلق&#8221; (کو١: ١٦) وفي موضع آخر يقول رسول الجهاد &#8220;لنا رب واحد يسوع المسيح الذي به جميع الأشياء ونحن له&#8221; (١كو ۸: ٦).</p>
<p><strong>الحياة الجديدة</strong></p>
<p>ولكن إذا كانت الحياة التي أعطاها الله لآدم قد تلوثت بالعصيان، أصابها الفساد بل وأن الأرض نفسها لعنت بسبب معصية آدم، فإن الله أراد أن يصلح ما أفسده الإنسان وجاء بنفسه ليعطي للبشرية <strong>الحياة</strong> الجديدة. أراد أن يعلن للعالم أن مصدر الحياة ليس للطعام والشراب ولكن اليد الإلهية التي تعطيه للإنسان. وإن الحياة المادية بدون الكلمة موت ولكن سر <strong>الحياة</strong> هو الله الذي أعطى للكون <strong>الحياة</strong> وهو الذي سيبطلها عندما تنحل العناصر وتذوب في مجيئه الثاني المخوف المملوء مجداً.</p>
<p>يقول الرسول بولس عن السيد المسيح أنه أبطل الموت وأنار <strong>الحياة</strong> والخلود بواسطة الإنجيل (۲تي۱: ۱۰).</p>
<p>وأن كل الذين يعيشون للمسيح قد إجتازوا الموت إلى <strong>الحياة</strong> وكل من آمن به ولو مات <strong>فسيحيا</strong>.&#8221;أنا هو القيامة <strong>والحياة</strong>، من آمن بي ولو مات <strong>فسيحيا</strong>، وكل من كان <strong>حياً</strong> وآمن بي فلن يموت إلى الأبد&#8221; (یو۱۱: ٢٥).</p>
<p>ويقول الرب عن نفسه أنه من يسمع كلامي ويؤمن بالذي أرسلني له <strong>حياة </strong>أبدية ولا يأتي إلى دينونة بل قد أنتقل من الموت إلى <strong>الحياة</strong> فالذين في يده لا يهلك منهم أحد أبداً. وهو ضامن <strong>الحياة</strong> كما هو منشئها. هو معطيها وهو حافظها وحاميها.</p>
<p>أنها <strong>حياة</strong> جديدة ليست <strong>كالحياة</strong> الزمنية التي تعبر كظل وتنتهي كخيال. &#8220;إن كان أحد في المسيح فهو خليقة جديدة، الأشياء العتيقة قد مضت، هوذا الكل قد صار جديداً&#8221; (٢كو٥: ۱۷).</p>
<p>مبارك الله الآب الذي أعطانا إبنه <strong>حياة</strong> أبدية ومنحنا الروح القدس لكي يمكث معنا إلى الأبد. هذا يأخذ مما للمسيح ويعطينا.</p>
<p><strong>الليتورجيات والحياة</strong></p>
<p>والكنيسة تؤمن أن الباب إلى <strong>الحياة</strong> الجديدة هو المعمودية ففي هذا السر الإلهي ننال شركة موت المسيح وقوة قيامته.</p>
<p>والذي يتابع الحوار الذي صنعه الرب مع نيقوديموس معلم الناموس والذي سطره يوحنا البشير في الإصحاح الثالث من بشارته يتأكد أن الولادة الثانية هي الولادة الروحية من الماء والروح وأنها باب الدخول إلى الملكوت &#8220;الحق الحق أقول لك إن كان أحد لا يولد من فوق لا يقدر أن يرى ملكوت الله ، قال له نيقوديموس كيف يمكن الإنسان أن يولد وهو شيخ. ألعله يقدر أن يدخل بطن أمه ثانية ويولد. أجاب يسوع الحق الحق أقول لك إن كان أحد لا يولد من الماء والروح لا يقدر أن يدخل ملكوت الله، المولود من الجسد جسد هو، والمولود من الروح هو روح، لا تتعجب أني قلت لك ينبغي أن تولدوا من فوق. الذي يؤمن بالإبن له حياة أبدية، والذي لا يؤمن بالإبن لن يرى حياة بل يمكث عليه غضب الله&#8221; (يو۳).</p>
<p>وتؤمن الكنيسة أيضا أن التناول من الجسد والدم الأقدسين هو إكسير <strong>الحياة </strong>الجديدة، وعصارة الكرمة الحقيقية، وفيتامين الحياة المقدسة وقوامها الرئيسي.</p>
<p>وفي الإصحاح السادس من نفس البشارة يوضح الرب أن الطعام البائد ليس هو مصدر <strong>الحياة</strong> &#8220;الحق الحق أقول لكم أنتم تطلبونني ليس لأنكم رأيتم آيات بل لأنكم أكلتم من الخبز فشبعتم. أعملوا لا للطعام البائد بل للطعام الباقي <strong>للحياة</strong> الأبدية الذي يعطيكم إبن الإنسان لأن هذا الله الأب قد ختمه. قال لهم يسوع أنا هو خبز <strong>الحياة</strong> من يقبل إلى فلا يجوع، ومن يؤمن بي فلا يعطش أبداً. آباؤكم أكلوا المن في البرية وماتوا&#8221;.</p>
<p>&#8220;أنا هو الخبز <strong>الحي</strong> الذي نزل من السماء. إن أكل أحد من هذا الخبز <strong>يحيا </strong>إلى الأبد والخبز الذي أنا أعطى هو جسدي الذي أبذله من أجل <strong>حياة</strong> العالم. الحق الحق أقول لكم إن لم تأكلوا جسد إبن الإنسان وتشربوا دمه فليس لكم <strong>حياة</strong> فيكم. من يأكل جسدى ويشرب دمي فله حياة أبدية وأنا أقيمه في اليوم الأخير. لأن جسدی مأكل حق ودمی مشرب حق. من يأكل جسدى ويشرب دمي يثبت فى وأنا فيه&#8221; (يو ٦).</p>
<p><strong>الحياة آتية وإسكاتولجية</strong></p>
<p>يقول الرب يسوع تأتي ساعة وهي الآن حين يسمع الأموات صوت إبن الله والسامعون <strong>يحيون</strong>. ويقول أيضا إن من يسمع كلامي ويؤمن بالذي أرسلني فله <strong>حياة</strong> أبدية ولا يأتي دينونة بل قد أنتقل من الموت إلى <strong>الحياة</strong> (يوه: ٢٤).</p>
<p>وفي مواجهة الرب يسوع للموت عند قبر لعازر قال يسوع لمرثا سيقوم أخوك. فقالت له مرثا أنا أعلم إنه سيقوم في القيامة في اليوم الأخير (القيامة الاسكاتولوجية أي الأخروية الآتية فيما بعد) فقال لها يسوع أنا هو القيامة <strong>والحياة</strong> من آمن بي ولو مات <strong>فسيحيا</strong> وكل من كان <strong>حياً</strong> وآمن بي فلن یرى الموت إلى الأبد (القيامة الحاضرة).</p>
<p>ولكي يؤكد يسوع إنه هو القيامة الآتية كما أنه هو القيامة الحاضرة، ولكی يثبت إنه فيه إتحد الزمن مع الأبدية رفع عينيه إلى فوق ثم صرخ بصوت عظیم لعازر هلم خارجاً فخرج الميت ويداه ورجلاه مربوطات بأقمطة ووجهه ملفوف بمنديل فقال لهم يسوع حلوه ودعوه يذهب فكثيرون من اليهود الذين جاءوا إلى مريم ونظروا ما فعل يسوع آمنوا به.</p>
<p><strong>يسوع هو هدف الحياة ومعناها</strong></p>
<p>كما أقام يسوع إبنة يايرس، وإبن أرملة نايين، ولعازر أخا مريم ومرثا هكذا أقام البشرية من سقوطها وعصيانها وهبوطها تحت رقابة الزمان وهدير الأيام المتلاحق بلا معنى. إن السقوط تحت وطأة الزمان يصيب الإنسان بالملل والسأم والرتابة والقلق واللامعنى، أما يسوع فقد رفع الإنسان بالإيمان فوق الحواس والهيولى والزمني وأعطى بهذا معنى <strong>للحياة</strong> على الأرض عندما أدخلها تخوم الأبدية الخالدة وأعتاب أورشليم السمائية.</p>
<p>هذا هو ما عبر عنه الرسول &#8220;الكل به وله قد خلق&#8221; (كو۱: ١٦) فكما إنه مصدر <strong>الحياة</strong> وديناميتها فهو معناها والإفصاح الصادق عن هدفها. لقد جاء الرب يسوع ليعلن أنه هو هدف الوجود كله فقبل تجسده كان الزمن إعداداً لمجيئه المبارك وحضوره للعالم هو ملء الزمن، والتاريخ من بعد صعوده هو إمتداد لعمله علی الأرض إلى أن يأتي ملء الأزمنة عندما يدخل كل المؤمنين المختارين حظيرة الإيمان فينهى الرب الزمن لأنه يصبح بلا معنى أو مضمون. ولقد عبر الرسول بولس عن المسيح كهدف أسمى للحياة بقوله لان لى <strong>الحياة</strong> هي المسيح والموت هو ربح&#8221; (في١: ۲۱).</p>
<p>وفي موضع آخر &#8220;إن عشنا فللرب نعيش وإن متنا فللرب نموت، فإن عشنا وإن متنا فللرب نحن&#8221; (رو ١٤: ٨) ولقد جاءت خاتمة إنجيل يوحنا هذه التوصية وأما هذه فقد كتبت لتؤمنوا أن يسوع هو المسيح ابن الله ولكي تكون لكم إذا آمنتم <strong>حياة</strong> بإسمه&#8221; (يو۳۱:۲۰).</p>
<p></p>
<h4>الطريق والحق والحياة &#8211; للمتنيح القمص لوقا سيداروس<a href="#_ftn11" name="_ftnref11">[11]</a></h4>
<p><strong>(يو14: 1- 11)</strong></p>
<p>هذا هو حديث الرب مع التلاميذ في الأحد السابق للصعود مباشرة &#8211; هكذا أدركت الكنيسة &#8211; لقد أكمل الرب كل شيء على الصليب، دفع الدين ودفن الموت بموته وأظهر القيامة بقيامته، وقدَّمَ نفسه حياً قائماً من الأموات وأعطانا ذاته خبزاً حياً وماءاً حياً ونور للحياة الجديدة، فماذا يحتاجه التلاميذ بعد؟.. بدأ الرب يرفعهم إلى السماويات عينها. اسمعه يقول في إنجيل اليوم: &#8220;في بيت أبي منازل كثيرة&#8221;.</p>
<p>الصعود إذن معناه الوجود في حضرة الآب، ويسكني في المساكن العلوية في حضن الآب، فالمسيح مزمع أن يصعد بجسدنا كلنا إلى فوق ويجلس بنا عن يمين الآب &#8220;أقامنا معه وأجلسنا معه في السماويات&#8221;. فالمسيح يكشف لنا إتساع حب الآب لكثيرين وسكننا الحقيقى هو في بيت الآب، وكل واحد فينا له منزلة خاصة في قلب الآب &#8211; مثل أب حنون له أولاد كثيرين، يخص كل واحد منهم بمحبة خاصة بحسب حالته، وظروفه، وضعفاته. وليس علينا يا أحباء اليوم إلا أن نتمتع بمركزنا ومنزلتنا عند الآب. لقد قال الرب للتلاميذ: &#8220;الآب نفسه يحبكم لست أسأل الآب من أجلكم&#8221; لقد صار لنا بالمسيح دالة عند الآب، وجرأة وقدوماً ومنزلة عجيبة &#8220;الآن نحن أولاد الله&#8221;. انظروا أية محبة  أعطانا الآب حتى ندعى أولاد الله.</p>
<p><strong>حيث أكون أنا تكونون أنتم أيضاً:</strong></p>
<p>إن حضن الآب هو مكان المسيح وحده. إبن الآب بالحق الواحد مع الآب في الجوهر.. أين نحن من حضن الآب؟ المسيح أعطانا هذه النعمة إنه حيث يكون هو نكون نحن أيضاً. هو أخذ الذي لنا وأعطانا الذي له.. أخذ بشريتنا ليمتعنا بألوهيته.. صار في شبه الناس لنصير نحن في حضن الآب.. المسيحية هي اتحادنا بالمسيح، وحياتنا مستترة مع المسيح في الله. عندما نصلى فنحن نقول للآب: &#8220;أبانا الذى في السموات&#8221;، وحيث المسيح جالس عن يمين الآب توجد الكنيسة كلها، ويوجد كل الذين اتحدوا بالمسيح، إذن نحن الآن حيث يوجد المسيح في حضن الآب كل حين. هذا هو وجودنا الدائم مع الله، وحياتنا بالمسيح، وفى المسيح كل حين.</p>
<p><strong>قال له فيلبس أرنا الآب وكفانا :</strong></p>
<p>المسيح جاء ليعرفنا الآب هذا هو هدف المسيح. ولكن التعرف على الآب ليس بالكلام، فالناس دائماً تتكلم عن الله. ولكن لا تبدوا معرفة الله واضحة في حياتهم وتصرفاتهم. المسيح يُعرِّفنَا الآب لا بالكلام ولا بالوعظ ولكن يُعرِّفنا الآب في شخص المسيح الحيّ &#8220;من رآني فقد رأى الآب&#8221;، &#8220;أنا في الآب والآب فيَّ&#8221;. رؤية الآب والتعرف عليه في وجه يسوع المسيح تغير حياتنا كل يوم لنكون على صورة مجده.. نتغير من مجد إلى مجد، ومن يوم إلى يوم، يتجدد ذهننا ويتغير شكلنا لنكون مثله، وتصير معرفتنا للآب ومحبتنا لا بالكلام ولا باللسان. بل بالعمل والحق.</p>
<p>المسيح في يوم صعوده لم يرنا الآب، بل أعطانا شركة مع الآب &#8220;شركتنا نحن فهي مع الآب&#8221;. الحياة الأبدية التي كانت عند الآب وأظهرت لنا في المسيح اشتراكنا فيها كحياة أبدية وكفرح وكقوة، المسيحية ليست معلومات عن الآب، أو رؤية الآب، ولكن شركة مع الآب، يا للعجب؟.</p>
<p><strong>الطريق لحضن الآب:</strong></p>
<p>ترى إن كان هكذا أحب الآب العالم حتى بذل إبنه، وإن كان لنا أن نسمع هذا عن الآب، وإن لنا عنده منزلة وقدوماً؟.. فما هو الطريق إلى حضن الآب؟ كيف نقدر أن نعرف الطريق؟ هكذا سأل لوقا الرسول. قال له يسوع: &#8220;أنا هو الطريق والحق والحياة&#8221;. هنا يبدوا واضحاً أن الطريق إلى حضن الآب هو المسيح شخصياً. المسيح لا يدلنا على الطريق للحياة مع الآب. فالمسيح لم يعطينا وصايا ولا إرشادات للعبادة ولا فروض ولا أوامر ونواهي، بل أعطانا نفسه.</p>
<p><strong>هو الطريق</strong>، فكيف تسلكه؟ الدخول إلى الطريق هو الباب، وهو المسيح، والطريق نفسه هو المسيح، طريق الوصول إلى السماء هو التجسد. المسيح صالح الأرضيين مع السمائيين، وربط السماء بالأرض.. وما علينا إلا أن نتحد به ونتمسك بالحياة الأبدية في المسيح.. لذلك قال الرب: &#8220;ليس أحد يأتي إلى الآب إلا بي&#8221;. لا توجد طريق آخرى إلى حضن الآب إلا بالمسيح. لا يوجد طريق للخلاص إلا بالمسيح. لأنه ليس بأحد غيره الخلاص. نحن عندما نأخذ المسيح في المعمودية ونتحد به، ندخل مباشرة في الطريق إلى حضن الآب. وعندما نأخذ جسد المسيح في التناول، ندخل في شركتنا مع الآب باتحادنا به، ونصير أعضاء جسمه من لحمه ومن عظامه .</p>
<p><strong>صدقوني بسبب الأعمال:</strong></p>
<p>علامة اتحادنا بالمسيح وتمتعنا بحضن الآب هي الأعمال. &#8220;الأعمال التي أعملها أنا تعملوها وأعظم منها&#8221;. فأعمالنا وحياتنا بالمسيح هي التي تظهر المسيح وتشهد له. المسيح لم يشهد للآب ولا للسماء التي نزل منها بالكلام.. المسيح شهد بالحياة. ويستحيل أن نشهد للآب إلا بأعمال المسيح شخصياً.. وبالحياة بوصايا المسيح. وهذا هو الصعود والإرتفاع فوق مستوى الأرض والأرضيات. الذى لا يخشى العالم، ولا يخاف شيئاً من العالم، لا كرامة ولا صيت ولا مركز ولا ممتلكات.. يبرهن أنه يسكن فعلاً في حضن الآب، ويشهد أن الذى من فوق، هو فوق الجميع. الذى يعرف أن يصفح عن المسيئين، ويبارك على المؤمنين، ويصلى من أجل المضطهدين، ويرتفع فوق الأحقاد والإهانات والشتائم، ويبارك على كل أحد يشهد أنه من الآب، وأن له منزلة عند الآب. العالم لم يصدق بالكلام، سيصدق عندما يرى أعمالنا التي قال عنها الرب: &#8220;ليضئ نوركم هكذا قدام الناس فيروا أعمالكم الصالحة وتمجدوا أباكم الذي في السموات&#8221;.</p>
<p>ليتنا في عيد الصعود يرتفع قلبنا حيث المسيح جالس، وحيث أجلسنا معه. لندرك بالروح مكاننا ونتمسك به، ونرفض من كل القلب كل حياة وفكر وفعل على مستوى الأرض والأرضيات. ولندرك أننا مولودين من فوق، وأن سيرتنا نحن هي في السماويات، ورجاؤنا وانتظارنا وغايتنا هي فوق. آمين.</p>
<p></p>
<h4>الأحد الخامس من الخماسين المقدسة &#8211; للمتنيح القمص بيشوي كامل<a href="#_ftn12" name="_ftnref12">[12]</a></h4>
<p><strong> (يو14: 1- 11)</strong></p>
<p>بسم الآب والأبن والروح القدس الإله الواحد آمين</p>
<p><strong>الرب يسوع هو طريق حياتنا</strong><strong>  </strong></p>
<p>نحن الان يا احبائي في بداية الأسبوع السادس من الخماسين المقدسة. ونحن نحتفل في هذا الأسبوع بصعود ربنا إلي الأقداس السماوية. ابتدأت أحاديث الكنيسة تتحول لمعاني أعمق في القيامة التي تكمل بصعود ربنا يسوع .</p>
<p>فالنهاردة اختارت الكنيسة هذا الفصل لكي يكون تأملنا طول أسبوع الصعود.</p>
<p><strong>أنا ماضٍ للآب</strong>.. أنا ماضٍ للآب بالمعنى البسيط السطحي واحد رايح مشوار.. يعني الآب ساكن في حتة وهو في حتة، وهو ها يروح المشوار ده &#8220;ماضي للآب&#8221;. ده المعنى البسيط السطحي الساذج. بسرعة فيلبس قال له طب قول لنا السكة إزاي، علشان.. زي ما انت عارف طريق المشوار دة.. فإدِّينا إحنا كمان الخريطة دي أو السكة دي علشان إحنا كمان نعرف نوصل للآب بتاعك اللي إنت بتحبه وبتكلمنا عنه.. فرد يسوع وقال يا للسذاجة يا فيلبس أي طريق تسأل عنه؟! هل هو طريق مادي.. أنا في الآب والآب فيَّ، من رآني فقد رأى الآب، كيف تقول أنت أرنا الآب؟!!!..</p>
<p>هو انا لما باكلمكم عن الصعود إفتكرتم إن دة طريق ممكن يتوصف؟!.. أنا هاقولكم أيه قصة الصعود. <strong>الصعود هو الإعلان الواضح الكامل اللي يؤكد حقيقة القيامة</strong>. معلمنا بولس الرسول في سفر العبرانيين الذي تُلي علينا في هذا الصباح يقول: &#8220;فاذ لنا ثقة يا إخوتي في دخولنا إلى الأقداس بدم يسوع المسيح طريقاً كرسه لنا حديثاً بالحجاب أي جسده&#8221;. فربنا يسوع المسيح كرس لنا طريقًا بدخوله إلى الأقداس .</p>
<p>إزاي الكلام دة لأن جسد المسيح القائم من الأموات هو الكنيسة.. ونحن أعضاء جسده كقول الرسول &#8220;من لحمه ومن عظامه&#8221;. فالمسيح رب المجد عندما كرس لنا طريقاً بجسده أي بالحجاب حملنا في جسده وأكد لينا إن هو رايح يكرس طريقاً بالجسد بتاعه، لذلك الكنيسة الملهمة بالروح القدس اختارت لنا هذا الفصل من رسالة معلمنا بولس الرسول لكي تكشف لنا ما معنى كلمة الطريق الذي يتحدث عنه ربنا يسوع المسيح.</p>
<p>إنه كرس لنا طريقا حديثاً. فجسد المسيح يا أحبائي الذي قام من الأموات هو جسم الكنيسة واللي إحنا بنقول عنه: [أصعدت باكورتي إلى السماء] .</p>
<p>فالطريق ده اتكرس إزاي؟.. يعني المسيح رب المجد بالجسد بتاع الكنيسة أخذه ودخل الأقداس العلوية. ومن هنا نكون قد عرفنا الطريق.. ليس الطريق مشوار أو حاجة تترسم لينا، ولكن الطريق هو المسيح ذاته لما حملنا في جسده وكرّس لنا هذا الطريق برش دمه ودخوله للأقداس العلوية. أما سفر رسالة معلمنا بولس الرسول أيضاً للعبرانيين تذكرنا أيضاً بمفاهيم القيامة الأولي فنقول: فلندنُ الآن بقلب صادق بيقين الإيمان قلوبنا مرشوشة نقية من الخبث وقد غسلت أجسادنا بالماء النقي.. اتغسلت الأجساد بتاعتنا بميه نقية، اتغسلت بالمعمودية  يعني قامت مع المسيح من الأموات. لكن قيامة المسيح من الأموات ما كملتش بركتها لينا إلا لما وصل بهذا الجسد الذي أخذه منا. لذلك يا احبائي اصبح معلوم لينا في اليوم اللي إحنا دخلنا فيه الكنيسة اننا يوم ولدنا من المعمودية يعني يوم ما قمنا من الأموات &#8220;مدفونين معه بالمعمودية&#8221;.. حتى كما أقيم المسيح من الأموات نسلك نحن ايضا في جده الحياة.</p>
<p>من يوم ما خرجنا من المعمودية ونحن نقول اننا ولدنا من السماء وأصبحنا أولاد السماء في شخص المسيح ونقول: أبانا الذي في السموات. المسيح نزل من السماء مخصوص علشان ينقل البشرية الساقطة اللي بقى فيه حجاب بينها وبين الله.. ينقلنا لنعمة البنوة، مش يمشيها مشوار.. <strong>هو ده الطريق</strong> .</p>
<p>إزاي البشرية دية تقدر تقول لربنا يا أبانا؟ فأول حاجة قال لهم لازم تدفنوا بالمعمودية وتقوموا قيامة جديدة وتلتحموا بجسدي، وأنا ابن الله بالطبيعة وأنتم تكونون أبناء الله بالتبني وتكون حياتكم المستترة فيَّ هي الوسيلة الوحيدة أن إنتم تكونوا أولاد الله .</p>
<p>لذلك يا احبائي <strong>عيد الصعود في الواقع هو عيد الأبوة أو عيد البنوة</strong>.. العيد اللي ابتدأ.. اللي وصلت الباكورة للسماء&#8230; اللي دخل المسيح بجسد الكنيسة طريق كُرِّس بجسده هو.. يعني اللي دفع دمه على الصليب وهو اللي أزال العداوة، وهو اللي دخل الأقداس السماوية حاملنا فيه. من أجل هذا هو ده العيد بتاعنا اللي احنا من أجله ابتدينا الطريق بتاعنا من  يوم ما دخلنا المعمودية. علشان كدة كان الرسول واضح لما بيتكلم عن الطريق قال مغسولة أجسادنا بماء نقي .</p>
<p>أما سفر الأعمال فيحدثنا عن توبة بولس الرسول (شاول) الذي كان يضطهد الكنيسة. وسفر الأعمال لما يتكلم عن الكنيسة بيديها تعبير لذيذ جداً &#8220;وطلب رسائل إلى دمشق إلى المحافل حتى اذا وجد رجالاً ونساءً يسيرون في هذا الطريق يسوقهم مسوقين إلى أورشليم&#8221;.. <strong>فأصبح المسيحيون اسمهم أهل الطريق</strong>. إذا شافوا واحد مسيحي يقولوا له: أنت من الطريق.. طريق أيه؟.. يمكن افتكروا طريقة من طرق العبادة.. لأ لأن <strong>المسيح أكد إن هو الطريق</strong> فالتلاميذ بتوعه أو المسحيين أخدوا هذا اللفظ في حياتهم وقالوا إننا أهل الطريق، فأصبح <strong>المسيح هو طريقهم</strong> وهم أهل الطريق. فمسك الذين في الطريق وراح بيهم، فربنا قال أنا هاوريلك الطريق يكون إزاي يا بولس. فمشي في السكة وقال له لماذا تضطهدني. فقال له أنا اضطهدتك؟ قال له أيوه أنت اضطهدت الطريق ودول أعضاء جسدي.. وكل إضطهاد أنت وجهته لأي إنسان مسيحي دة وُجِّه ليَّ لأني حاملهم في جسدي.. ولما قتلت استفانوس ورجمته كنت بترجمني أنا.. أنت تعرف ولادي دول أعزاء عندي قد أيه!! إذا كنتم على المستوى البشري اللي يمِّس ابنك بحاجة صغيرة تتضايق مضايقة كبيرة كأنه مَسَّك وأكتر. فإذا كنا احنا مش أبناء.. ده إحنا أعضاء في جسمه.. وإن البنوة بتاعتنا وإن كنا صحيح بنتكلم عن البنوة الأرضية فدي مجرد حاجة تنير لينا الطريق.. لكن بنوتنا غريبة وعجيبة وعظيمة.. ويقول له: أريد أيها الآب أن هؤلاء يكونون واحداً فيَّ كما أنا واحد فيك.. يكون فيهم الحب الذي أعطيتني وأكون أنا فيهم.. ويقول له: كما أنا واحد فيك خليني أنا كمان أكون واحد فيهم.. فهو يتكلم عن وحدانية، وبيتكلم عن حب، ليس من مفهوم العالم.. مش مسألة إن إحنا ها نبقى أولاده زي ما لينا أولاد على الأرض.. دي بنوة متاخدة من بنوة المسيح للآب.. وده موضوع أعلى من إدراكنا العقلي.. وده الوضع اللي أراد الله إنه يحط فيه الكنيسة وتكون الكنيسة لما يصعد المسيح بيها، تكون عن يمين الآب ممجدة.. فظهر له وقال له إنت كنت ليه بتضطهدني؟.. قال له ما اضطهدتكش.. قال له: صَعْبٌ عَلَيْكَ أَنْ تَرْفُسَ مَنَاخِسَ، وشاف النور وسمع كلام.. ولعل هذا النور كان نور القيامة بالنسبة لبولس.. إن حياته إستنارت بنور القيامة، وأشع عليه نور القيامة في حياته. ولكن نور القيامة أعمى عينين بولس لأن <strong>القيامة لابد تكون مصحوبة بالموت</strong>.. مدفونين معه بالمعمودية حتى كما أقيم المسيح من الأموات نسلك نحن أيضاً في جِدَّة الحياة.. ومش من حق أحد إنه ينال بركة القيامة إلا اللي ذاق الموت مع المسيح.. الموت عن محبة العالم.. الموت عن شهوات الجسد.. الموت عن الأرضيات.. اللي هو يبقي ابن السماء.. قال له طيب أعمل أيه علشان أبتدي أكون أبن ليك؟.. ودي من النقط المهمة خالص للناس اللي بيتكلموا عن الخلاص إن هو يعني ممكن إنسان منفرد لوحده يقول أنا اتخلصت وخلاص!!.. قال: لا يا بولس روح لبيت حنانيا.. <strong>روح للكنيسة</strong> وهي توريك ماذا ينبغي أن تفعل.. إنما كل واحد يشط في سكة لوحده ويقول أنا أعمل اللي عايز أعمله دي علاقة خاصة بيني وبين ربنا؟!!!.. <strong>قال له: روح الكنيسة</strong> ورغم إن الكنيسة كانت خايفة منه لأنه معروف عنه إنه راجل بيقتل ويشرد الناس، لكن الله ظهر في رؤيا لحنانيا وقال له إقبله.. فحنانيا فتح له الباب بتاعه.. فدخل.. قال له: أنا ظهر لي نور في الطريق وقال لي أروح وآجي لك.. ماذا ينبغي أن أعمل؟. قال له آمن. قال له آمنت.. <strong>آمنت بالمسيح إن هو ابن الله</strong>.. قال له هذا لا يكفي، لابد إن أنت تعتمد من الكنيسة، فإعتمد بولس الرسول في ذلك اليوم. وللوقت.. للوقت وقع قشور من عينه فأبصر.. ودي من أجمل النقط الدقيقة.. ودي توري إن المعمودية إعطاء بصيرة جديدة لنفس اتعمت.. والعين اللي اتفتحت دي هي عين القيامة الجديدة اللي أبصرت ربنا لأن الراجل الأعمى أول لما فتح، أول واحد شافه بص كدة لقى يسوع بالجسد لكن اتفتحت عينين بصيرته الداخلية علشان يقبل المسيح في حياته.</p>
<p>فالكتاب المقدس حب يورينا عملياً إن <strong>بولس الرسول لم يستطع أن يقبل المسيح عملياً إلا عن طريق الكنيسة وعن طريق المعمودية</strong>. أي تفتيح بصيرته الداخلية <strong>فأبصر يسوع</strong>. ولو تلاحظ في سفر الأعمال إن باستمرار القصة دية كانت هي القصة المفضلة عند بولس الرسول اللي يحكيها في كل موقف كل ما يروح حتة. ويقولوا له أيه حكايتك؟.. وأيه اللي بتنادي بيه؟.. يقول لهم ها أحكي لكم عن الموضوع أيه: إن أنا كنت ماشي ومعاند ربنا، وبعدين حصل كذا في الطريق.. وبعدين رحت الكنيسة وبعدين أبصرت.. هو في الواقع لو تاخذ بالك بولس الرسول بيحكي قصة قيامته.. بولس الرسول بيحكي قصة ولادته الجديدة.. كيف صار ابن الله.. بولس الرسول بيحكي كيف اتعمت عينيه وعبَّر عن حياته الماضية إنه إنسان أعمى في بصيرته وفي حياته وكيف إنه عن طريق الكنيسة نال سر المعمودية فأبصر للحال.. واكتشف نورالمسيح في حياته.</p>
<p>آهو ده الطريق.. الطريق إن إحنا نكون أولاد لربنا.. علشان كدة الإصحاح اللي اتقرى علينا النهاردة بيقول له إن أنا ماضي لأعد لكم مكاناً عند أبي.. قالوا له يعني المكان ده ها يبقى أرض كدة مبنية في ريح بعضها؟.. قال لهم أنتم مش فاهمين <strong>المكان عند أبي إنكم تبقوا أولاده</strong> فهو ده المكان وإن وصلتم للدرجة أنكم تبقوا أولاد حقيقيين لله آتي وآخذكم.. طب ومابتاخدناش ليه على طول؟.. قال: أنتم طلعتم من المعمودية، وأنتم اترشمتم برشم الموت عن العالم.. فأصبحتم مش أولاد للعالم، واترشمتم برشم الآب السماوي، فأصبحتم أولاد الله.. وسبتكم في العالم لغاية لما تنضجوا وتكونوا أولاد حقيقين زي ما بيقول في رسالته للعبرانيين النهاردة: محرضين بعضكم بعضاً على الأعمال الصالحة وتبعدوا عن الشر وشبه الشر وعن الأعمال دي وتكونوا أولاد للسماء..</p>
<p>ومعنى إن إحنا نعرف الطريق مش يعني إن هو هاييجي وياخدنا.. مش ها ييجي وياخدنا لما نموت ويعملوا لينا جنازة.. يبقي دي النهاية بتاعة الطريق بتاعنا.. لا.. ده هييجي ياخدنا يوم إحنا ما ندرك أبوة الآب لينا وتتعمق في حياتنا فنصير ليه. وامبارح بيقول الكلام ده &#8220;الذي يحبني يحبه أبي وأنا أحبه وله أظهر ذاتي&#8221;.. وأنا أعرفه ذاتي.. ها تعرفنا إيه يا يسوع عن نفسك؟.. هأعرفكم إني أنا ابن الله. الحتة الصعبة اللي الناس مش قادرة تفهمها اللي إنتم بواسطتها هتعرفوا الطريق.. اللي إنتم كمان هتكونوا أولاد الله.. ففيلبس أول لما طرق لذهنه قال له ورينا الطريق أو ورينا الآب وكفانا.. وتوما قال له ورينا الطريق.. قال له أنا هو الطريق، تعاليمي هي دي الطريق.. هي تعرفكم الطريق وتعرفكم إزاي الوصول  للآب.</p>
<p>الكتاب امبارح بيقول: الذي يحفظ  كلامي يحبه أبي واليه نأتي وعنده نصنع إقامة دائمة.. نصنع منزلاً. ويقول أيها الآب أريد أن هولاء يكونون معي حيثما أكون. طب هو المسيح فين؟.. أنا معكم كل الأيام وإلى انقضاء الدهر.. علشان كدة <strong>القيامة يا أحبائي تكمل باكتشاف أبوة الله لينا</strong>. ما يكفيش إن إحنا نقول إننا قمنا مع المسيح ولكن <strong>لابد اننا نحس إننا أولاد الله</strong>.</p>
<p>أما حركه الصعود دي فليست مرتبطة بصعود الروح بتاعتنا يوم ما نموت للسماء لكن بولس الرسول بيتكلم بأسلوب الماضي يقول &#8220;أقامنا معه، أصعدنا، أجلسنا معه&#8221; ويرجع تاني ويقول: أما نحن فسيرتنا.. السيرة بتاعتنا وسلوكنا على الأرض مكتوبة في السماء. يعني إحنا بنتحرك بحركة من السماء.. عارف بيفكرني بالطيارات اللي ما يبقاش فيها طيار وبيحركوها من تحت بالردار ولا بحاجة كدة ولا بأجهزة الكترونية.. فتبتدي الطيارة تتحرك وتوصل للهدف بتاعها وهي ما فيهاش راكب ولا حاجة. احنا بالضبط دلوقت على الأرض نتحرك من فوق لأن إحنا أولاد للآب، وعلى رأي واحد في تعليقه على الموضوع ده بيقول الطفل لما بيتولد من بطن أمه بتتقطع صرته علشان خلاص بينفصل عنها. لكن إحنا يوم ما اتولدنا من المعمودية بقينا أولاد للآب السماوي.. ما اتقطعش الحبل اللي رابطنا بالآب السماوي.. بحيث إن إحنا في كل لحظة نقدر نتصل بيه. أنا ما أقدرش أتصل بأبويا وأمي في كل لحظة.. لكن أنا، أبويا السماوي أستطيع إن أنا ما انفصلش عنه لا لحظة واحدة ولا طرفة عين.. ولا في صحياني ولا في عملي ولا أنا في وسط الكنيسة ولا أنا في وسط الشارع.. في كل وقت هو أبي السماوي. <strong>دي حركة الصعود المستمرة</strong> اللي قال عنها داود النبي &#8220;رتب مصاعد في قلبه&#8221; شوف داود بالروح من بعيد شاف إن ممكن الصعود ده هيكون حركة داخلية باطنية كامنة في داخل القلب، فبيقول رتب مصاعد في قلبه.. <strong>هذا هو الطريق</strong>.</p>
<p>الطريق يا اخوتي إن إحنا نكون أولاد لربنا. وهذا الإحساس عندما ينمو بياخد حيوية في حياتنا.. بالحقيقة نكون أولاد لربنا.. إحنا أخذناه بالمعمودية لكن لابد أن يكون ده احساسنا إن أنت ماشي كدة، محضون في حضن ربنا.. إن أنت ماشي كدة في رعاية أبوك السماوي.. إن أنت ماشي في ناموسه تلهج نهارا ً وليلاً.. إن أنت بتنفذ وصيته لأن أنت أبنه.. إن أنت ما بتعملش حاجة وحشة علشان أنت صورة أبوك السماوي.. يرى الناس أعمالكم الصالحة ويمجدوا أباكم الذي في السموات.. فالحبل اللي بينا ما اتقطعش أبداً.</p>
<p>حركتنا مش بالأرض.. يغلط الناس كتير ويقولوا الوسط بيؤثر والمجتمع بيؤثر علينا. ده الناس اللي هم ما إرتبطوش بالأبوة السماوية، لكن اللي لهم أب في السماء وهم أولاده بيتحركوا حسب مباديء الأب وحسب تعاليمه وحسب توجيهاته وحسب ما يرضيه، لأن الأبن الكويس يحب إن هو يكون صورة أبوه ويكون في طاعة أبوه.. <strong>هو ده الطريق</strong>.</p>
<p>بيقول له ورينا بقى الطريق.. قال يا نهار أبيض يا فيلبس! أنا معك كل هذا الزمان ولم تعرفني! أنا في الآب والآب فيَّ.. <strong>ما هو الطريق إن أنا عاوز أنقلكم علشان تكونوا أولاد للآب</strong>. لذلك بولس الرسول يؤكد هذا المعنى بمنتهى الوضوح.. إن الله.. إن المسيح كرس لنا طريقًا بوصوله إلى الأقداس العلوية <strong>بجسده الذي هو الكنيسة</strong>.. <strong>فهو ده طريقنا</strong>.. <strong>إن الطريق إن أنت تكون في صلة مستمرة بالآب السماوي</strong>.. ويمكن دلوقت تقدر تكشف بوضوح معنى الآية اللي قالها ربنا يسوع في يوم من الأيام &#8220;إن لم ترجعوا وتصيروا مثل الأطفال لن تدخلوا ملكوت السموات&#8221;.. واحنا نقول آدي الأطفال دول أصل الأطفال أبرياء.. والأطفال دول أنقياء في القلب.. ودول ناس كويسين.. فربنا عاوزنا نكون زيهم. وإنما بيني وبينك ما فيش حد يعرف يقول يا بابا ويطلعها من قلبه كدة، أو يقول يا ماما ويطلعها من قلبه بمنتهى الثقة والقوة زي الطفل. فالمسيح عايز يقول كدة إنتم بقى ها تعرفوا الطريق ساعة ما تطلعوا الكلمة دي من قلبكم وتقولوا يا أبانا الذي في السموات.. ولما أنت بتحب تتأمل في الصلاة دي، التلاميذ سألوا المسيح وقالوا له علمنا أن نصلي.. قال لهم هاديكم نموذج تصلوا بيه.. هو ده النموذج اللي تدور حواليه كل صلواتكم.</p>
<p>كونوا قديسين كما أن أباكم قدوس.. أبانا الذي في السموات، ليتقدس اسمك.. فاطلبوا ملكوت ربنا، مش ملكوت الأرض.. اهتم بالأمور السماوية وبانتشار ملكوت ربنا.. ويملك ربنا على قلبكم مش بملكوت الأرض. قولوا له لتكن مشيئتك يا أبانا.</p>
<p>آه لما الانسان مننا يوصل زي المسيح كان بيصلي في جثسيماني ويقول له كدة أيها الآب &#8220;إن شئت أن تعبر عني هذه الكأس&#8221; وطب وأنت عاوزها تعبر؟ قال له لا.. ده رجع وراها ويقول: لكن من أجل هذه الكأس أتيت.. ده أنا جاي مخصوص علشان الكأس ده، بس أعرفكم إزاي تصلوا.. إن شئت أن تعبر عني هذه الكأس ولكن لتكن لا مشيئتي أيها الآب بل مشيئتك&#8221;.. يا سلام لما يوصل الطفل كدة. لما نوصل بنعمة ربنا إن مشيئه الآب هي المشيئة اللي تكون ثابتة في حياتنا.. مش مشيئتنا احنا وإن إحنا نكون قديسين نظير إن إحنا بقينا أولاد للملكوت.. <strong>هذا هو الطريق</strong>.</p>
<p>إذاً لا يوجد طريق للآب إلا المسيح.. ليه؟ لأن المسيح هو ابن الآب بالطبيعة كلمة الله. ونحن صرنا أعضاء في جسد المسيح والمسيح أخذ هذا الجسد وكرّس به طريقاً ودخل إلى الأقداس العلوية.. فصرنا أولاد الله.</p>
<p>الله يعطينا يا أحبائي نعمة الصعود المستمر في قلوبنا لكي تكون حياتنا الدائمة على الأرض أننا نحس ببنوتنا وإرتباطنا بالسماء أكثر من إرتباطنا بالأرض اللي متنا عنها.</p>
<p>لإلهنا المجد دائماً أبدياً آمين.</p>
<p></p>
<h4>لأعد لكم مكاناً &#8211; للدكتور نصحي عبد الشهيد<a href="#_ftn13" name="_ftnref13">[13]</a></h4>
<p><strong>&#8221; </strong><strong>في بيت أبى منازل كثيرة.. أنا أمضى لأعد لكم مكاناً. وإن مضيت وأعددت لكم مكاناً، آتى أيضاً وأخذكم إليَّ &#8230;&#8221;</strong> (يو ١٤ : ٢، ٣ ) .</p>
<p><strong>المضي إلى بيت الآب</strong></p>
<p>من بين الوعود الثمينة التي أعطاها الرب يسوع لتلاميذه في حديثة الوداعى في الليلة الأخيرة قوله : &#8220;في بيت أبي منازل كثيرة.. أنا أمضي لأعد لكم مكاناً..&#8221; (يو١٤: ٢، ٣). كلام الرب هذا قبل صلبه يعني أنه بواسطة موته الذى سيحتمله لأجل خلاص البشر ثم قيامته، سيصعد بعد ذلك إلى السماء ليعد مكاناً للمؤمنين به، في بيت أبيه.</p>
<p>الرب يسوع يتحدث هنا عن ذهابه إلى الآب في السماء أي بيت الآب، ليجلس عن يمين الآب في عرش العظمة في الأعالي. وبذهاب المسيح إلى السماء بالجسد الذى قام به وجلوسه عن يمين أبيه فإنه بذلك يقوم بإعداد المكان في السماء لتلاميذه والمؤمنين به في كل العصور.</p>
<p><strong>كيفية إعداد المكان</strong></p>
<p>وهنا يأتي سؤال هل هو مكان مثل الأماكن أو المساكن التي يجهزها الإنسان على الأرض لسكنى عائلته أو أولاده؟.. طبعاً هو مكان مختلف تماماً عن كل المساكن الأرضية لأن الرب يتحدث هنا عن السماء أو عن عرش المجد الإلهي. فالمسيح بصعوده إلى السماء جلس في يمين الله الآب. ويمين الله ليس مكاناً محدوداً، لأن الله ليس له حدود أو نهاية بل هو يملأ الكل. لذلك فعندما يقول الرب له المجد أنا ماضٍ لأعد مكاناً في السماء فهذا يعني أنه سيجعل يمين الله أو بيت الآب أو عرش الله مفتوحًا أمام التلاميذ والمؤمنين، وهذا ما يوضحه القديس بولس الرسول في الرسالة إلى العبرانيين عندما يقول: &#8220;فإذ لنا ثقة بالدخول إلى الأقداس بدم يسوع طريقاً كرسه لنا حديثاً حياً بالحجاب أي جسده وكاهن عظيم على بيت الله، لنتقدم بقلب صادق في يقين الإيمان.. ولنتمسك بإقرار الرجاء راسخاً لأن الذي وعد هو أمين&#8221; (عب١٠: ١٩- ٢٣)، وهذا المعنى هو الذى فهمته الكنيسة من قول المسيح: &#8220;أنا أمضى لأعد لكم مكاناً.. وتعلمون حيث أنا أذهب وتعلمون الطريق.. أنا هو الطريق والحق والحياة ليس أحد  يأتي إلى الآب إلا بي&#8221; (يو٤: 2- 6). ولهذا وضعت الكنيسة في قراءات الأحد الخامس بعد القيامة، الذي يسبق عيد الصعود مباشرة فصل الإنجيل من يوحنا (14: 1- 11) الذي يحوي هذه الآيات التي نتحدث عنها، ووضعت فصل البولس من عبرانيين (١٠: ١٩- ٣٨)، الذي يبدأ بالآيات التي ذكرناها أعلاه: &#8220;فإذ لنا ثقة بالدخول إلى الأقداس بدم يسوع.. طريقاً كرسه لنا حديثاً.. بجسده..&#8221; الخ، أي أن الكنيسة تعلمنا أن إعداد المكان في بيت الآب أو عند الآب أو في يمين الآب هو عن طريق دخول المسيح إلى الأقداس السماوية أي إلى عرش العظمة في السماويات .</p>
<p><strong>اكتمال الفداء بالصعود</strong></p>
<p>فلا يمكن لأحد من البشر أن يدخل إلى أقداس الله لو لم يكن المسيح قد سبق أولاً ودخل وكرَّس الطريق إلى الأقداس أي افتتح الطريق الذى كان مغلقاً قبل ذلك. ولذلك يقول الرسول في العبرانيين: &#8220;أما المسيح وهو قد جاء رئيس كهنة للخيرات العتيدة&#8230;، بدم نفسه دخل مرة واحدة إلى الأقداس فوجد فداءً أبدياً&#8221; (عب٩: ١١، ١٢). وهنا يوضح حقيقة هامة جداً وقد تغيب عن أذهان البعض، أن المسيح تمم الفداء الأبدي بصعوده ودخوله إلى السماء، إلى الأقداس بدم نفسه أي بدم ذبيحته بعد أن صُلب وقام. فالفداء لم يكتمل بالصليب وحده ولا بالصليب والقيامة معاً وحدهما، بل يكتمل بدخول رئيس الكهنة حاملاً دم ذبيحته إلى داخل الأقداس أي إلى عرش الله ومجده وبهذا &#8220;وجد فداءً أبدياً&#8221; أي حصل لنا على الفداء الأبدي الذي لا يزول أو يضيع.</p>
<p>وعلى أساس دخول المسيح كسابق لأجلنا إلى يمين الله أو في الأقداس السماوية يكون للكنيسة ثقه لتدخل إلى هذه الأقداس نفسها بدم الفادي رئيس الكهنة الرب يسوع المسيح المُمجد في العرش بنفس مجد اللاهوت  مع الآب والروح القدس.</p>
<p>ولهذا يقول الرسول: &#8220;.. المسيح لم يدخل إلى أقداس مصنوعة بيد أشباه الحقيقة بل إلى السماء عينها ليظهر الآن أمام وجه الله لأجلنا&#8221; (عب٩: ٢٤).</p>
<p><strong>المسيح هو الطريق إلى الآب</strong></p>
<p>فالمسيح بصعوده بالجسد المُمجد إلى السماء صار هو الطريق الذى يأتي بواسطته أي إنسان إلى الآب. فلا يستطيع أحد أن يدخل إلى حضرة الله إلا بالمسيح. وهذا ما أعلنه الرب نفسه &#8220;أنا هو الطريق والحق والحياة ليس أحد يأتي إلى الآب إلا بي&#8221; (يو١٤: ٦).</p>
<p>فبدون الإيمان بالمسيح والاتحاد به في موته وقيامته عن طريق المعمودية المقدسة لا يمكن الدخول إلى الآب ولا معرفته. لأن الآب لا يمكن أن يعرفه أحد إلا في المسيح، كما قال للتلاميذ: &#8220;لو كنتم قد عرفتموني لعرفتم أبي أيضاً، ومن الآن تعرفونه وقد رأيتموه&#8221; (يو14: ٧). فالمسيح هو الذى يعطينا معرفة الآب في داخلنا بعمل روحه القدوس فينا، لأنه &#8220;ليس أحد يعرف الابن إلا الآب. ولا أحد يعرف الآب إلا الابن ومن أراد الابن أن يعلن له&#8221; (مت١١: ٢٧).</p>
<p><strong>آتى أيضاً وآخذكم إلىَّ</strong></p>
<p>ويكمل الرب كلامه بأنه بعد أن يمضي ويعد المكان في السماء بدخوله إلى الأقداس وجلوسه في يمين الله، يقول: &#8220;آتى أيضاً وآخذكم إلىَّ&#8221;.</p>
<p>طبعاً هذا وعد صريح من المسيح عن مجيئه الأخير من السماء بمجد عظيم ليأخذ مختاريه، والمسجل في الأناجيل الثلاثة الأولى للبشيرين متى ومرقس ولوقا. هذا المجئ هو الغاية النهائية لكل ما عمله المسيح قبل ذلك، فإنطلاقه من الأرض إلى السماء هو شرط لعودته ثانية: &#8220;إم مضيت وأعددت.. آتى أيضاً&#8221; فالانفصال، وتوقف ظروف الشركة المرئية على الأرض هو الخطوة الأولى التي ستؤدى في النهاية إلى الاتحاد بالمسيح والوجود الدائم معه. &#8220;وآخذكم إلىَّ حتى حيث أكون أنا تكونون أنتم أيضاً&#8221; (يو١٤: ٣).</p>
<p>وهذا الوعد: &#8220;آتى أيضاً&#8221; رغم أنه يشير إلى المجيء الأخير الذى هو قمة ونهاية كل مجيء آخر للرب، لكنه يشمل مرات مجيء عديدة فهناك مجيء الرب للكنيسة في يوم الخمسين، كما قال الرب للتلاميذ وهو يتحدث عن مجيء المعزي الروح القدس: &#8220;أما أنتم فتعرفونه لأنه ماكث معكم ويكون فيكم. لا أترككم يتامى إنى آتى إليكم&#8221; (يو١٤: ١٧، ١٨).</p>
<p>وما يلفت النظر في وعد الرب هذا أنه يستعمل صيغة المضارع وليس صيغة المستقبل. فهو يقول: &#8220;آتي أيضًا&#8221; ولم يقل &#8220;سآتي أيضًا&#8221;، مما يعني أن الرب يسوع بعد القيامة هو مجيء مستمر أو حضور مستمر مع المؤمنين به.</p>
<p>كما أن الرب يسوع أشار في نفس الحديث إلى &#8220;مجيء&#8221; محدد في داخل الإنسان الذى يحبه عندما قال: &#8220;إن أحبنى أحد يحفظ كلامي ويحبه أبي وإليه نأتي وعنده نصنع منزلاً&#8221; (يو١٤: ٢٣).</p>
<p>وجنباً إلى جنب مع هذا المجيء المستمر للمسيح والذي يتحقق بعمل الروح القدس في حياة الكنيسة حسب وعد المسيح (يو١٤: ٢٦)، يوجد أيضاً مجيء للمسيح في تاريخ محدد بالنسبة للإنسان، وذلك لكي يأخذ المؤمن إليه عن طريق الرحيل من الجسد بالموت: &#8220;وآخذكم إليَّ، لكى يضم نفس المؤمن إليه مع القديسين الذين سبق رقادهم، على رجاء اللقاء الأخير في قيامة المجد عند مجيء الرب من السماء بالمجد العظيم مع جميع الملائكة القديسين.</p>
<hr />
<p><a href="#_ftnref1" name="_ftn1">[1]</a>  تفسير مزمور ٢٣ &#8211; القمص تادرس يعقوب ملطي.</p>
<p><a href="#_ftnref2" name="_ftn2">[2]</a>  شرح انجيل يوحنا القديس كيرلس الاسكندري المجلد الثاني &#8211; ص١٣٣ &#8211; ترجمة دكتور نصحي عبد الشهيد وآخرون.</p>
<p><a href="#_ftnref3" name="_ftn3">[3]</a>  كتاب الحب الإلهي صفحة ٤٨٥ &#8211; القمص تادرس يعقوب ملطي.</p>
<p><a href="#_ftnref4" name="_ftn4">[4]</a>  كتاب من مقالات الأنبا أنطونيوس &#8211; صفحة ٥٠ &#8211; القمص بيشوي كامل.</p>
<p><a href="#_ftnref5" name="_ftn5">[5]</a>  تفسير مزمور ١٤٠ &#8211; القمص تادرس يعقوب ملطي.</p>
<p><a href="#_ftnref6" name="_ftn6">[6]</a>  تفسير سفر الأمثال – اصحاح 27 &#8211; القمص تادرس يعقوب ملطي.</p>
<p><a href="#_ftnref7" name="_ftn7">[7]</a>  مقال ترجمه  الأستاذ شوقي ميخائيل &#8211; نشر في مجلة مدارس الاحد عدد فبراير لسنة ١٩٦٨.</p>
<p><a href="#_ftnref8" name="_ftn8">[8]</a>  كتاب المنجلية القبطية الأرثوذكسية &#8211; صفحة 407 &#8211; البابا تواضروس الثاني.</p>
<p><a href="#_ftnref9" name="_ftn9">[9]</a>  دراسات في الكتاب المقدس &#8211; إنجيل يوحنا الإصحاح الرابع عشر &#8211; الأنبا أثناسيوس مطران كرسي بني سويف والبهنسا .</p>
<p><a href="#_ftnref10" name="_ftn10">[10]</a>  كتاب ألقاب المسيح ووظائفه &#8211; صفحة ١٠٤ &#8211; الأنبا بيمن أسقف ملوي وأنصنا والأشمونين.</p>
<p><a href="#_ftnref11" name="_ftn11">[11]</a>  كتاب تأملات روحية في قراءات أناجيل آحاد السنة القبطية &#8211; المتنيح القمص لوقا سيداروس.</p>
<p><a href="#_ftnref12" name="_ftn12">[12]</a>  كتاب عظات مضيئة معاشة &#8211; صفحة 405 &#8211; إصدار مطرانية ملوي وأنصنا والأشمونين.</p>
<p><a href="#_ftnref13" name="_ftn13">[13]</a>  الكتاب الشهري للشباب والخدام &#8211; عدد مايو ٢٠٠٤ &#8211; صفحة ٣ &#8211; إصدار بيت التكريس لخدمة الكرازة.</p>

      {% endcreateArticleAccordions %}
    </section>
  {% endblock %}
  