---
layout: 'layouts/reading.html'
title: 'يوم الأثنين من الأسبوع الخامس للخماسين المُقَدَّسَة'
tags: 'pentecost'
permalink: /articles/pentecost/5-1.html
---
  {% block content %}
    <section id="readings">
      <ul>
      {% if 'undefined' != 'undefined' %}
      
      {% else %}
      {% if '19.43:5' != 'null' %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">العشية</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeVespers '19.43:5' '41.5:21-43' %}
          </div>
        </div>
      </li>
      {% endif %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">باكر</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeMatins '19.118:16-17' '41.4:30-34' '' %}
          </div>
        </div>
      </li>
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <h3 class="flex items-center justify-between">
            <span class="kufi">القداس</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </h3>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeLitugy '45.4:4-9' '62.3:21-24' '44.7:37-41' '19.70:5-5' '43.3:25-30' %}
          </div>
        </div>
      </li>

      {% endif %}
        </ul>
    </section>
    <section id="article">
      <h3 class="mt-8 mb-4 heading-explain">شرح القراءات</h3>
      {% createArticleAccordions %}
        <h3>شهود الإرسالية</h3>
<p>تحدثنا قراءات هذا اليوم عن ← <strong>شهود الإرسالية</strong>.. سواء كانوا في:</p>
<p><strong>العهد القديم</strong> الأنبياء الذين بشرونا بخلاص الإبن المعلن من السماء وكانوا شهوداً أمناء للتدبير الإلهي الذين ختمت شهادتهم بصوت الصارخ في البرية يوحنا المعمدان مُهيئ الطريق للإبن ومُهيئ البشرية لإرسالية الإبن..</p>
<p>كما تتكلم القراءات عن <strong>شهود العهد الجديد</strong> الآباء الرسل الذين عاينوا وشهدوا إرسالية الإبن وتدبير الآب لأجل خلاص العالم..</p>
<p>ومسئولية الكنيسة في العهد الجديد أن تكون شاهدة بإرسالية الإبن الدائمة للعالم &#8220;فإذهبوا وتلمذوا جميع الأمم.. وها أنا معكم كل الأيام..&#8221; (مت 28: 19).</p>
<h3></h3>
<h4>المزامير</h4>
<p>لذلك تتكلم المزامير عن:</p>
<ul>
<li><strong>أنين البشرية</strong> وإحتياجها لإرسالية الإبن وصراخها إليه (مزمور القداس).</li>
<li><strong>القوة الإلهية</strong> التي أستعلنت في إرسالية الإبن للعالم ورفعت حكم الموت عن العالم ووهبت<br />
الحياة مجاناً (مزمور باكر).</li>
<li><strong>فرح أولاد الله</strong> بثمار الإرسالية وهو الخلاص الإلهي (مزمور عشية).</li>
<li>&#8220;وأما أنا فمسكين وفقير (البشرية بدون المسيح) اللهم أعني&#8221; (مزمور القداس)</li>
<li>&#8220;يمين الرب (الابن) صنعت قوة فلن أموت بعد بل أحيا وأحدث بأعمال الرب&#8221; (مزمور باكر)</li>
<li>&#8220;توكلي على الله فإني أعترف له خلاص وجهي هو إلهي&#8221; (مزمور عشية)</li>
</ul>
<p></p>
<h4>الإنجيل</h4>
<ul>
<li>وفي انجيل عشية عن ← <strong>بطرس ويعقوب ويوحنا الذين اختصهم الرب بمواقف معينة ليدعم شهادتهم له </strong>&#8220;فلما سمع يسوع الكلام الذي قيل قال لرئيس المجمع لا تخف آمن فقط، ولم يدع أحد يتبعه إلا بطرس ويعقوب ويوحنا أخا يعقوب &#8230;. أما هو فأخرج الجميع وأخذ معه أبا الصبية وأمها والذين معه&#8230;&#8221;.</li>
<li>وفي انجيل باكر عن ← <strong>أن إعلان سر كلمة الحياة لا يكون إلا للشهود الأمناء والكارزين بحياة المسيح </strong>&#8220;وبأمثال كثيرة كهذه كان يخاطبهم بالكلمة حسبما كانوا يستطيعون أن يسمعوا وبغير مثل لم يكن يخاطبهم وفي الخلوة كان يفسر الكل لتلاميذه&#8221;.</li>
</ul>
<p></p>
<h4>البولس</h4>
<p>وفي البولس عن ← <strong>بر العهد الجديد الذي أعلنه الإبن بإرساليته والذي أستعلن في نبوات داود وفي حياة ابراهيم </strong>&#8220;كما قال داود في التطويب للرجل الذي يحسب له الرب البر بغير أعمال طوبى للذين غُفرت آثامهم وسترت خطاياهم &#8230; أفهذا التطويب هو على الختان فقط أم لأهل الغرلة أيضاً لأننا نقول أنه حسب لإبراهيم الايمان براً&#8221;.</p>
<p></p>
<h4>الكاثوليكون</h4>
<p>وفي الكاثوليكون عن ← <strong>أن دوام ثبات حياة الإبن فينا يأتي من خلال عطية الروح القدس والشركة الدائمة معه </strong>&#8220;ومن يعمل وصاياه يثبت فيه وهو أيضاً ثابت في ذاك وإنما نعلم أنه يثبت فينا من الروح الذي أعطانا&#8221;.</p>
<p></p>
<h4>الابركسيس</h4>
<p>وفي الابركسيس عن ← <strong>ارسالية موسى النبي من الله والتي كانت لإعلان كلمة الحياة لخلاص الشعب والتي كانت رمزاً لإرسالية الإبن في ملء الزمان الكلمة المحيي </strong>&#8220;هذا هو موسى الذي قال لبني اسرائيل أن الله يقيم لكم نبياً من أخوتكم مثلي له تسمعون &#8230;. وهو الذي قبل الكلام الحي ليعهده إلينا&#8221;.</p>
<p></p>
<h4>انجيل القداس</h4>
<p>وفي انجيل القداس عن ← <strong>أعظم من شهدوا لإرسالية الإبن وتوارى تماماً ليعلن للعالم ملء نور الابن </strong>&#8220;أجاب يوحنا وقال لا يقدر إنسان أن يأخذ شيئاً من نفسه ما لم يعطى من السماء أنتم تشهدون لي أني أنا لست المسيح ولكن أُرسلت أمام ذاك &#8230;. ينبغي إذاً أن ذاك يزيد أما أنا فأنقص&#8221;.</p>
<p></p>
<h3>ملخص الشرح</h3>
<p>❈ إحتياج البشرية لإرسالية الإبن المعطية حياة وقوة إلهية لها وفرح النفوس وإتكالها على خلاص الإبن. (مزمور عشية – مزمور باكر - مزمور القداس).</p>
<p>❈ إرسالية الإبن توقف نزيف العالم وتمنح حياة لموتى الخطية وشهادة الرسل بذلك. (انجيل عشية).</p>
<p>❈ الإبن يختص شهوده الأمناء بإعلان سر كلمة الحياة لهم. (انجيل باكر).</p>
<p>❈ بر العهد الجديد هو هدف الإرسالية وهو موضوع نبوة داود وحياة ابراهيم. (البولس).</p>
<p>❈ ثبات حياة الإبن فينا من خلال عطية الروح القدس والمحبة هي شهادة الكنيسة عن هذه الحياة. (الكاثوليكون).</p>
<p>❈ إرسالية موسى رمز لإرسالية المسيح في ملء الزمان. (الابركسيس).</p>
<p>❈ يوحنا المعمدان صديق العريس والذي ختم بشهادته شهادة أنبياء العهد القديم ووارى كل ظلاله ليعلن ملء نور الإبن للعالم. (إنجيل القداس).</p>
<p></p>
<h3>عظات آبائية ليوم الأثنين من الأسبوع الخامس للخمسين يوم المقدسة</h3>
<h4>من الرسائل الفصحية - للقديس أثناسيوس الرسولي<a href="#_ftn1" name="_ftnref1">[1]</a></h4>
<p>لنحفظ العيد يا اخوتي، لأنه كما أخطر ربنا تلاميذه هكذا، فأنه يخبرنا مقدماً أن &#8220;تَعْلَمُونَ أَنَّهُ بَعْدَ يَوْمَيْنِ يَكُونُ الْفِصْحُ&#8221; (مت 26: 2) الذي فيه خان اليهود الرب، أما نحن فنبجل موته كعيد، فرحين بسبب نوالنا الراحة بآلامه.</p>
<p>إننا نجاهد لكي نجتمع بعضنا البعض، لأننا قد تشتتنا في الماضي. كنا مفقودين والآن قد وجدنا. كنا بعيدين والآن نحن قريبين. كنا غرباء والآن نحن من خاصة ذاك الذي تألم لأجلنا وسمر على الصليب، الذي حمل آثامنا كما يقول النبي (إش53: 4) وقد تألم لأجلنا لكي ينزع عنا الحزن والغم والتنهد.</p>
<p>&#8220;إِنْ عَطِشَ أَحَدٌ فَلْيُقْبِلْ إِلَيَّ وَيَشْرَبْ&#8221; (يو 7: 37).</p>
<p>لأنه هكذا هو حب القديسين في كل الأزمنة أنهم لن يكفوا قط بل دائما يقدمون ذبائح للرب، ودائما يعطشون سائلين أن يشربوا من &#8220;الرب&#8221;، كما يتغنى داود قائلاً &#8220;يَا اَللهُ، إِلهِي أَنْتَ إِلَيْكَ أُبَكِّرُ عَطِشَتْ إِلَيْكَ نَفْسِي، يَشْتَاقُ إِلَيْكَ جَسَدِي فِي أَرْضٍ نَاشِفَةٍ وَيَابِسَةٍ بِلاَ مَاءٍ، لِكَيْ أُبْصِرَ قُوَّتَكَ وَمَجْدَكَ كَمَا قَدْ رَأَيْتُكَ فِي قُدْسِكَ&#8221; (مز 63: 1، 2 لم يذكر النص كاملاً).</p>
<p>ويقول إشعياء النبي &#8220;بِنَفْسِي اشْتَهَيْتُكَ فِي اللَّيْلِ أَيْضًا بِرُوحِي فِي دَاخِلِي إِلَيْكَ أَبْتَكِرُ&#8230;&#8221; (إش26: 9).</p>
<p>وآخر يقول &#8220;انْسَحَقَتْ نَفْسِي شَوْقًا إِلَى أَحْكَامِكَ فِي كُلِّ حِينٍ&#8221; (مز 119: 20).</p>
<p>ويصرخ آخر بجسارة قائلاً: &#8220;عَيْنَايَ دَائِمًا إِلَى الرَّبِّ &#8221; (مز 25: 15).</p>
<p>وبولس ينصح قائلاً &#8220;صَلُّوا بِلاَ انْقِطَاعٍ. اشْكُرُوا فِي كُلِّ شَيْءٍ&#8221; (1تس 5: 17، 18).</p>
<p>أولئك الذين ينشغلون بهذه الأمور منتظرين الرب قائلين &#8220;لِنَعْرِفْ فَلْنَتَتَبَّعْ لِنَعْرِفَ الرَّبَّ خُرُوجُهُ يَقِينٌ كَالْفَجْرِ يَأْتِي إِلَيْنَا كَالْمَطَرِ كَمَطَرٍ مُتَأَخِّرٍ يَسْقِي الأَرْضَ&#8221; (هو 6: 4).</p>
<p>لأنه ليس فقط يشبعهم في الصباح لا يعطيهم فقط قدر ما يسألون ليشربوا، بل يعطيهم بسخاء حسب حنو محبته، واهباً إياهم في كل حين عطية الروح.</p>
<p>وما هم متعطشون إليه، إضافة إلى حديثه قائلاً &#8220;من يؤمن بي&#8221;. لأنه كما أن الماء البارد مبهج للعطش كقول المثل (أم 25: 25) هكذا مجيء الروح بالنسبة للمؤمنين في الرب هي أفضل من كل بهجة وانتعاش.</p>
<p>أنه يليق بنا في هذه الأيام التي للفصح أن نبكر مع القديسين، وأن يقترب الرب من كل نفوسنا بنقاوة أجسادنا الاعتراف والإيمان الصحيح به، حتى عندما نعطش، نرتوي بالمياه الإلهية التي منه. وبالتالي يمكننا أن نجلس في الوليمة مع القديسين في السماء، ويكون له نصيبا في صوت الفرح الواحد الذي هناك.</p>
<p>أما الأشرار يطردون من مثل هذه الأمور.. ويسمعون هذه الكلمات &#8220;فَقَالَ لَهُ: يَا صَاحِبُ، كَيْفَ دَخَلْتَ إِلَى هُنَا وَلَيْسَ عَلَيْكَ لِبَاسُ الْعُرْسِ؟!&#8221; (مت 22: 12).</p>
<p>حقاً إن الخطاة عطشى، لكن لنعمة الروح، بل لأنهم ملتهبون بالشر فإنهم محترقون تماماً بالملذات كما يقول المثل &#8220;اَلْيَوْمَ كُلَّهُ يَشْتَهِي شَهْوَةً (الشر)&#8221; (أم 21: 26). ولكن النبي يصرخ ضدهم قائلاً &#8220;وَيْلٌ لِلْمُبَكِّرِينَ صَبَاحًا يَتْبَعُونَ الْمُسْكِرَ، لِلْمُتَأَخِّرِينَ فِي الْعَتَمَةِ تُلْهِبُهُمُ الْخَمْرُ&#8221; (إش5: 11).</p>
<p>وإذ هم يجرون بقسوة في الخلاعة والشر، لذلك هم يتجاسرون فيتعطشون إلى تدمير بعضهم البعض.</p>
<p>وإذ هم يشربون أولا من مياه الكذب وعدم الإيمان، لذلك تحل بهم تلك الأمور التي أشار إليها النبي &#8220;لِمَاذَا كَانَ وَجَعِي دَائِمًا وَجُرْحِي عَدِيمَ الشِّفَاءِ، يَأْبَى أَنْ يُشْفَى؟ أَتَكُونُ لِي مِثْلَ كَاذِبٍ، مِثْلَ مِيَاهٍ غَيْرِ دَائِمَةٍ؟&#8221; (إر١٨:١٥).</p>
<p>ثانياً إذ هم يشربون مع أصحابهم (الأشرار)، فأنهم يضلون أذهانهم ويقلقونها ويفسدون الأذهان البسيطة&#8230; وإذ هم يخفون الحق ويسرقونه يطفئون القلوب.</p>
<h4>العريس الذي له العروس - القديس ديديموس الضرير<a href="#_ftn2" name="_ftnref2">[2]</a></h4>
<p>هكذا قال رب الجنود: هوذا الرجل الغصن الشرق اسمه، يخص مخلصنا الآتي إلى هذا العالم، فهو الرجل بكونه ابن مريم&#8230; لكنه النور الحقيقي وشمس البر (الشرق). في اتفاق مع هذا النص يقول إرميا: &#8220;ها أيام تأتي يقول الرب وأقيم لداود غصن برّ، فيملك ملك وينجح ويجري حقًا وعدلًا في الأرض، في أيامه يخلص يهوذا ويسكن إسرائيل آمنًا وهذا هو اسمه الذي يدعوه به: &#8220;الرب برنا&#8221; (إر ٢٣: ٥، ٦). بالحق هو غصن البرّ الذي ينبت من داود&#8230; هذا الغصن هو شمس البر وقد ارتفع من داود، هذا الذي وُلد من أرض داود حسب الجسد (رو ١: ٣)، كما قيل بإشعياء النبي: &#8220;ويكون في ذلك اليوم أن أصل يسى القائم راية للشعوب إياه تطلب الأمم ويكون محله مجدًا&#8221; (إش ١٠: ١١).. &#8220;<strong>هوذا الرجل&#8230;</strong>&#8220;.</p>
<p>هنا يعلن عن العريس الذي له العروس، فيدعوه &#8220;الرجل&#8221;. هذا ما يظهره الرسول عندما يكتب إلى أهل كورونثوس &#8220;خطبتكم لرجل واحد لأقدم عذراء عفيفة للمسيح&#8221; (٢كو ١١: ٢).. عن هذا الرجل يشهد يوحنا المعمدان أعظم مواليد النساء (مت ١١: ١١) قائلًا: &#8220;يأتي بعدي رجل صار قدامي لأنه كان قبلي&#8221; (يو ١: ٣٠) وقد أعلن هذا الرجل بقوله: &#8220;من له العروس فهو العريس، وأما صديق العريس الذي يقف ويسمعه فيفرح من أجل صوت العريس&#8221; (يو ٣: ٢٩). هذا الذي يظهره النبي أنه &#8220;الغصن&#8221;&#8230; إنه الغصن من الأعالي، غصن من النور الحقيقي، شمس البر (ملا ٣: ٢٠) أشرق للذين كانوا في الظلمة وظلال الموت (لو ١: ٧٨) لكي يبدد الظلمة وينزع الموت فنعبر إلى الحياة (يو ٥: ٢٤). إذ نصير نورًا في الرب، وكما هو مكتوب &#8220;لأنكم كنتم قبلًا ظلمة وأما الآن فنور للرب&#8221; (أف ٥: ٨).</p>
<h4>من له العروس فهو العريس - القديس أغسطينوس<a href="#_ftn3" name="_ftnref3">[3]</a></h4>
<ul>
<li>اسمعوا ما هو أقوى بكثير، شهادة أكثر وضوحًا. انظروا أي أمر تعالجونه، فإن من يحب شخصًا ما ويضعه موضع المسيح فهذا زنا&#8230; &#8220;<strong>من له العروس فهو العريس&#8221;</strong>&#8230; كونوا عفيفين، حبوا العريس&#8230;</li>
</ul>
<p>الآن أرى زناة كثيرين يرغبون أن يقتنوا العروس التي اُشتريت بثمنٍ عظيمٍ هكذا، صارت محبوبة حين كانت مشوّهة، وذلك لكي تصير جميلة، أُشتريت ونالت خلاصًا وتزينت بذاك الواحد.</p>
<p>وأما هؤلاء الزناة فيصارعون بكلماتهم لكي يُحبوا عوض العريس&#8230;</p>
<p>لنسمع صديق العريس لا للزناة ضد العريس.</p>
<p>لنسمع لذاك الغيور، ولكن ليس لحساب نفسه.</p>
<ul>
<li>يقول إني أفرح، ليس من أجل صوتي، وإنما من أجل صوت العريس. أنا في مركز المستمع، هو في موقف المتكلم. أنا كشخص يلزم أن يستنير، أما هو فالنور. أنا مثل الأذن، وهو الكلمة. لذلك صديق العريس يقف ويسمعه.</li>
</ul>
<p>لماذا يقف؟ لأنه لا يسقط.</p>
<p>كيف لا يسقط؟ لأنه متواضع.</p>
<p>انظروا فإنه يقف على أرض صلبة: &#8220;أنا لست أهلًا أن أحل سيور حذائه&#8221;. حسنًا تفعل إذ تتواضع، فتتأهل لعدم السقوط، تتأهل للوقوف، وتسمعه وتفرح جدًا بصوت العريس<strong>.</strong></p>
<ul>
<li>بطرس عين في الجسم، وهذا الشخص هو إصبع، لكنه هو عضو في ذات الجسم الذي فيه بطرس عضو. وإن كان الإصبع له سلطان أقل من العين، لكنه لا يُبتر من الجسم.</li>
</ul>
<p>من الأفضل أن تكون إصبعًا في الجسم، من أن تكون عينًا ومبتورًا من الجسم.</p>
<p>لذلك لا يخدعكم أحد يا اخوتي، لا يغرّكم أحد. حبّوا سلام المسيح الذي صلب عنكم وهو اللَّه. يقول بولس: &#8220;ليس الغارس شيئًا، ولا الساقي، بل اللَّه الذي ينمّي&#8221; (١كو ٤: ٧)..</p>
<p>لتحب الأعضاء بعضها البعض، وليحيا الكل تحت الرأس.</p>
<p>في حزنٍ يا اخوتي التزمت أن أتحدث معكم كثيرًا، ومع هذا فإنني تكلمت قليلًا، فإنني غير قادر على التوقف في الحديث.</p>
<ul>
<li>ما هو فرحه؟ أن يفرح بصوت العريس.</li>
</ul>
<p>هذا قد كمل فيّ، لقد صارت لي نعمتي، إنني لا انتحل لنفسي ما هو ليس لي، لئلا أفقد ما أنا عليه&#8230;</p>
<p>ليفهم الإنسان أنه لا يفرح بحكمته الذاتية، بل بالحكمة التي ينالها من اللَّه.</p>
<p>لا يطلب أحد أمرًا أكثر (مما عليه) فلا يفقد ما قد وجده. فإن كثيرين إذ يؤكدون أنهم حكماء يصيرون أغبياء. يوبّخهم الرسول قائلًا لهم: &#8220;إذ معرفة اللَّه ظاهرة فيهم، لأن اللَّه أظهرها لهم&#8221; (رو ١: ١٩)..</p>
<p>يلزمهم ألا ينسبوا لأنفسهم ما لم ينالونه من أنفسهم، بل ينسبوه لهذا وهو ما وهبه اللَّه مجانًا يأخذه من الجاحدين. لم يرد يوحنا أن يكون هكذا، بل أراد أن يكون شاكرًا. لقد اعترف أنه نال، وأعلن أنه قد فرح بصوت العريس، قائلًا &#8220;<strong>إذًا فرحي هذا قد كمل</strong>&#8220;.</p>
<p></p>
<h3>عظات آباء وخدّام معاصرين ليوم الأثنين الخامس للخمسين يوم المقدسة</h3>
<h4>العريس السمائي - للمتنيح الأنبا بيمين أسقف ملوي وأنصنا والأشمونين<a href="#_ftn4" name="_ftnref4">[4]</a></h4>
<p>إن علاقة الرب بالكنيسة وبالنفس البشرية تشبه بعلاقة العريس بالعروس.. في العهد القديم لم تكن هذه العلاقة واضحة تماماً، ولكنه منذ أن تجسد الإبن الكلمة وصار إنساناً مثلنا في كل شيء، فيما عدا الخطية وحدها، برزت هذه العلاقة، وتكلم الرب يسوع نفسه عنها في مواضع كثيرة..</p>
<p><strong>في العهد القديم : </strong></p>
<p>يقول هوشع النبي عن إسرائيل إنها عروس الله، ويسمع هوشع الله ينادي &#8221; وَأَخْطُبُكِ لِنَفْسِي إِلَى الأَبَدِ وَأَخْطُبُكِ لِنَفْسِي بِالْعَدْلِ وَالْحَقِّ وَالإِحْسَانِ وَالْمَرَاحِمِ، أَخْطُبُكِ لِنَفْسِي بِالأَمَانَةِ فَتَعْرِفِينَ الرَّبَّ&#8221; (هو۱۹:۲، ۲۰).</p>
<p>ويقول أشعياء النبي: &#8220;لأَنَّ بَعْلَكِ هُوَ صَانِعُكِ، رَبُّ الْجُنُودِ اسْمُهُ&#8221; (إش 5:54) &#8220;كَفَرَحِ الْعَرِيسِ بِالْعَرُوسِ يَفْرَحُ بِكِ إِلهُكِ&#8221; (إش 5:6۲).</p>
<p>وفي موضع آخر يقول بروح النبوة &#8220;فَرَحًا أَفْرَحُ بِالرَّبِّ تَبْتَهِجُ نَفْسِي بِإِلهِي، لأَنَّهُ قَدْ أَلْبَسَنِي ثِيَابَ الْخَلاَصِ كَسَانِي رِدَاءَ الْبِرِّ، مِثْلَ عَرِيسٍ يَتَزَيَّنُ بِعِمَامَةٍ، وَمِثْلَ عَرُوسٍ تَتَزَيَّنُ بِحُلِيِّهَا&#8221; (إش 61: 10).</p>
<p>أما سفر المزامير ففيه كثير من هذه التعبيرات، ولكن سفر نشيد الأناشيد كله سيمفونية روحية تنشد لحن الحب والفرح الإلهي للشركة القائمة بين الله والكنيسة بسر لا ينطق به &#8220;قَدْ سَبَيْتِ قَلْبِي يَا أُخْتِي الْعَرُوسُ قَدْ سَبَيْتِ قَلْبِي بِإِحْدَى عَيْنَيْكِ، بِقَلاَدَةٍ وَاحِدَةٍ مِنْ عُنُقِكِ، مَا أَحْسَنَ حُبَّكِ يَا أُخْتِي الْعَرُوسُ كَمْ مَحَبَّتُكِ أَطْيَبُ مِنَ الْخَمْرِ وَكَمْ رَائِحَةُ أَدْهَانِكِ أَطْيَبُ مِنْ كُلِّ الأَطْيَابِ. شَفَتَاكِ يَا عَرُوسُ تَقْطُرَانِ شَهْدًا&#8230; أُخْتِي الْعَرُوسُ جَنَّةٌ مُغْلَقَةٌ، عَيْنٌ مُقْفَلَةٌ، يَنْبُوعٌ مَخْتُومٌ&#8221; (نش 4: 9- 12). وحين كانت إسرائيل (العروس) تذهب وراء الهة غريبة، كان هذا يُعَد زنی روحي مثلما يقول الكتاب &#8220;&#8230; بَلْ زَنَوْا وَرَاءَ آلِهَةٍ أُخْرَى وَسَجَدُوا لَهَا حَادُوا سَرِيعًا عَنِ الطَّرِيقِ الَّتِي سَارَ بِهَا آبَاؤُهُمْ&#8230;&#8221; (قض ۱۷:۲).</p>
<p>&#8220;وَكَانَ بَعْدَ مَوْتِ جِدْعُونَ أَنَّ بَنِي إِسْرَائِيلَ رَجَعُوا وَزَنَوْا وَرَاءَ الْبَعْلِيمِ&#8221; (قض 33:8). لذلك يوبخهم ناحوم النبي قائلاً &#8220;وَيْلٌ لِمَدِينَةِ الدِّمَاءِ كُلُّهَا مَلآنَةٌ كَذِبًا وَخَطْفًا&#8230; مِنْ أَجْلِ زِنَى الزَّانِيَةِ الْحَسَنَةِ الْجَمَالِ صَاحِبَةِ السِّحْرِ الْبَائِعَةِ أُمَمًا بِزِنَاهَا، وَقَبَائِلَ بِسِحْرِهَا&#8221; (نا 1:3، 4).</p>
<p>وفي مواضع كثيرة يعلن الوحي حزنه وأسفه على حالة إسرائيل ويدعوها زانية لأنها خانت الذي إختارها من بين الأمم وجعلها شعباً مختاراً له &#8220;فَاتَّكَلْتِ عَلَى جَمَالِكِ، وَزَنَيْتِ عَلَى اسْمِكِ، وَسَكَبْتِ زِنَاكِ عَلَى كُلِّ عَابِرٍ فَكَانَ لَهُ&#8221; (حز 15:16؛ إر 1:3؛ إر 6:3-10).</p>
<p>كم أن مشاعر الله رقيقة نحونا نحن البشر، كم يهتم بنا، وكم يحزن لتركنا ينبوع ماء الحياة وجرينا وراء آبار مشققة لا تضبط ماء. إنه غيور وقلبه مليء بالحب والوفاء، ويريدنا أن نبادله حباً بحب وإخلاصًا بإخلاص، وتكريساً وتقديساً وعبادة تجاه الدعوة الإختيار الإلهي المقدس.</p>
<p><strong>في العهد الجديد:</strong></p>
<p>أما في العهد الجديد فقد تكلم الرب بصراحة عن هذه العلاقة عندما قال في رده على الفريسين&#8221;هل يستطيع بنو العرس أن يصوموا والعريس معهم، مادام العريس معهم لا يستطيعون أن يصوموا&#8221; (مر۱۹:۲).</p>
<p>ويقول الرب أيضاً &#8220;وَأَنْتُمْ مِثْلُ أُنَاسٍ يَنْتَظِرُونَ سَيِّدَهُمْ مَتَى يَرْجعُ مِنَ الْعُرْسِ، حَتَّى إِذَا جَاءَ وَقَرَعَ يَفْتَحُونَ لَهُ لِلْوَقْتِ. طُوبَى لأُولَئِكَ الْعَبِيدِ الَّذِينَ إِذَا جَاءَ سَيِّدُهُمْ يَجِدُهُمْ سَاهِرِينَ&#8221; (لو36:12، 37). وفي إنجيل معلمنا متی البشير عندما ضرب الرب الأمثلة عن ملكوت السموات قال: &#8220;يُشْبِهُ مَلَكُوتُ السَّمَاوَاتِ إِنْسَانًا مَلِكًا صَنَعَ عُرْسًا لابْنِهِ، وَأَرْسَلَ عَبِيدَهُ لِيَدْعُوا الْمَدْعُوِّينَ إِلَى الْعُرْسِ، فَلَمْ يُرِيدُوا أَنْ يَأْتُوا&#8221; (مت 22: 2، 3).</p>
<p>وفي تشبيه نفسه بالعريس الذي سيأتي لأخذ  العذارى قال &#8220;إن هناك عذاری حکیمات وعذارى جاهلات، أما الحكيمات، فقد أخذن في آنيتهن زيتا انتظارا للعريس، ذاك الذي أغفلته وأهملته الجاهلات، ولما جاء العريس في منتصف الليل إستيقظن العذاري جميعاً. والخمس الحكيمات دخلن معه إلى العرس، أما الجاهلات فبينما هن ذاهبات ليبتعن زيتاً، جاء العريس والمستعدات وحدهن هن اللواتي دخلن معه إلي العرس وأغلق الباب (مت 25). وقد شهد يوحنا المعمدان كخادم لأنبياء العهد القديم بأن الذي عمده هو العريس السماوي؟، وأنه ينبغي أن يزيد بينما يوحنا نفسه ينقص. ويقول &#8221; مَنْ لَهُ الْعَرُوسُ فَهُوَ الْعَرِيسُ، وَأَمَّا صَدِيقُ الْعَرِيسِ الَّذِي يَقِفُ وَيَسْمَعُهُ فَيَفْرَحُ فَرَحًا مِنْ أَجْلِ صَوْتِ الْعَرِيسِ إِذًا فَرَحِي هذَا قَدْ كَمَل&#8221;َ (يو3 :29).</p>
<p>وبولس الرسول كان يشعر في خدمته أنه يقوم بدور الإشبين كما كان الحال قديماً في أفراح العرس. ومهمة الأشبين أن يقدم العروس عذراء واثقاً متأكداً من طهرها، سعيد أن ترتبط بعريسها، وأما هو ففرحه يكمل بهذا الدور. يقول &#8220;فَإِنِّي أَغَارُ عَلَيْكُمْ غَيْرَةَ اللهِ، لأَنِّي خَطَبْتُكُمْ لِرَجُل وَاحِدٍ، لأُقَدِّمَ عَذْرَاءَ عَفِيفَةً لِلْمَسِيحِ&#8221; (۲کو ۲:۱۱ ).</p>
<p><strong>التزامات هذه العلاقة المقدسة :</strong></p>
<p><strong>١- الوفاء والأمانة :</strong></p>
<p>إن الخطية ليست مجرد كسر وصايا الله، ولكنها كسر لقلبه المحب..</p>
<p>إن الله أمين إلى المنتهی، وعدم أمانتنا لا تبطل أمانته.. إن مجرد التأمل في الصليب وآلام الرب في أسبوعه الأخير كفيل أن يلهب القلب بلواعج الحب والإخلاص والأمانة.. يقول الكتاب: &#8220;وَهُوَ مَاتَ لأَجْلِ الْجَمِيعِ كَيْ يَعِيشَ الأَحْيَاءُ فِيمَا بَعْدُ لاَ لأَنْفُسِهِمْ، بَلْ لِلَّذِي مَاتَ لأَجْلِهِمْ وَقَامَ&#8221; (2كو 5: 15) العروس إن خانت عريسها تُرجم في العهد القديم، وتُطلَق في العهد الجديد، والنفس التي تخون عريسها السماوي تُحرم من الأبدية وتحيا في عذاب أبدي.</p>
<p><strong>2- العشرة المقدسة:</strong></p>
<p>كيف نتصور عروساً لا تطيق أن تحيا مع عريسها؟ وكيف يمكن أن نقبل أن عروسا تهرب من لقاء عريسها؟ إن العروس المخلصة لعريسها تتلهف تتلهف علي ساعة تقضيها مع من أحبها. إن عمرها كله يقاس بساعات العشرة والألفة بينهما. لهذا تستلزم هذه الشركة المقدسة أن نقضي ساعات طويلة في المخدع للصلاة والمناجاة والحوار مع الرب.. أن نتأمل في حديثه لنا في الكتاب المقدس ؛ ونتلذذ به، ونصغي إليه جيداً ونطيعه وننفذ وصاياه.. أن نأخذ فترات، خلوة وإعتكاف للهدوء والصلاة والعبادة.</p>
<p>إن هذا ليس فرضا أو واجباً قهرياً، وإنما هو دلالة على الحب والإخلاص وصدق في الإحساس بالشركة المقدسة بين العروس وعريسها السماوي.</p>
<p><strong>٣- أن نحيا في الفرح والنور :</strong></p>
<p>ليس من عرس إلا ويرتبط بالأفراح والأنوار. وليس من عروس إلا وتتزين لعريسها دائماً. والقديس أبو مقار عندما شاهد إمرأة زانية طلب من أبنائه الرهبان أن يتطلعوا إليها ثم قال: [إنظروا كم هذه تتعب في تزيين نفسها لعشاقها، ونحن لا نتعب لتزيين قلوبنا وحياتنا الداخلية لعريسنا السماوي] وأنتفع أبناؤه من هذا الكلام كثيراً.</p>
<p>إن الذين يعيشون في الفرح الذي لا يتعلق به ومجيد هم أولئك الذين احتقروا أباطيل العالم لأن الفرح مرتبط كيانيا بالتجرد، والحزن الرديء مرتبط بالشهوة وحب الأقتناء. ومسيحيتنا بشارة مفرحة ودعوة إنجيلية تدعو النفس إلي أن تدخل في الفرح ويدوم فرحها. وسر الفرح الحقيقي هو اللقيا السماوية &#8220;سترونني وتفرحون ولا يستطيع أحد أن ينزع فرحي منكم&#8221;..والذين يعيشون في الفرح هم أيضا الذين يعيشون في النور. أنهم أبناء نور أبناء القيامة. الذين أحبوا النور ورفضوا أعمال الظلمة ووبخوها . هم وحدهم الذين يتمتعون بأفراح العرس الداخلي. أما الذين يعيشون في الحقد والكراهية والكبرياء والتعالي وهموم الحياة فهؤلاء هم الذين ينتزع الفرح منهم، ولا يُقبلون إلي العرس، مثل أولئك الذين إعتذروا لأن لديهم سبع بقرات أو عندهم حقل.. هذه العلل التي يتعلل بها القلب ليبرر حالته وبؤسه وسأمه وحزنه العميق.</p>
<p>4<strong>- أن نحفظ ثوب العرس طاهراً:</strong></p>
<p>العروس تعتز بثوب الزفاف. إنه جميل ورائع. إنه ناصع البياض إشارة إلي الطهارة والعفاف الداخلي. وفي سفر الرؤيا يمتدح الذين حفظوا ثيابهم طاهرة وغسلوها في دم الحمل. ويطوب الذين هربوا من الثوب المدنس.. والذين آمنوا بقدسية العلاقة القائمة بين نفوسهم والحق يحرصون علي أن يبقى ثوب العرس بلا دنس.. إنهم يعرفون أن الذين لم يكونوا لابسين ثوب العرس طردوا من الحفل كما قال الرب.. هكذا يحرص المؤمنون القديسون علي طهارة سيرتهم ونقاوة سريرتهم وعذراوية قلوبهم وأفكارهم ومشاعرهم.</p>
<p><strong>5- أن نعد أنفسنا للوليمة السماوية:</strong></p>
<p>العرس حاضر ومستقبلي أيضاً. الملكوت قائم بيننا وننتظر مجيئه بمجد عظيم مصلين دائماً في الصلاة الربانية &#8220;ليأت ملكوتك&#8221; والذين أدركوا أنهم مدعوون للعرس السماوي يدربون أنفسهم علي الإشتراك في الوليمة السماوية هنا في هذا الزمان الحاضر. القداس الإلهي وليمة سماوية ودعوة للعرس والفرح المجيد [عندما نقف أمامك نحسب كالقيام في السماء]. والذين إتسعت قلوبهم بالحب الإلهي للصلاة وممارسة الليتورجيات وصارت فرحتهم ومتعتهم في التسبيح والترنيم هؤلاء هم الذين يؤهلون للتسبيح مع خورس السمائيين في أورشليم السمائية.</p>
<p>لقد سمع يوحنا الرائي تطويب هؤلاء عندما قال له الملاك &#8220;اكْتُبْ: طُوبَى لِلْمَدْعُوِّينَ إِلَى عَشَاءِ عُرْسِ الْخَرُوفِ&#8221; (رؤ۱۹: 9).. وفي مطلع الكتاب المقدس نجد الكتاب يعلن لنا عن العرس السماوي ووجود الله مع آدم في الجنة متمتعاً بالأكل من يديه الطاهرتين.</p>
<p>وفي ختام الکتاب المقدس يطالعنا الرائي بقوله &#8220;وَأَنَا يُوحَنَّا رَأَيْتُ الْمَدِينَةَ الْمُقَدَّسَةَ أُورُشَلِيمَ الْجَدِيدَةَ نَازِلَةً مِنَ السَّمَاءِ مِنْ عِنْدِ اللهِ مُهَيَّأَةً كَعَرُوسٍ مُزَيَّنَةٍ لِرَجُلِهَا، وَسَمِعْتُ صَوْتًا عَظِيمًا مِنَ السَّمَاءِ قَائِلاً:«هُوَذَا مَسْكَنُ اللهِ مَعَ النَّاسِ، وَهُوَ سَيَسْكُنُ مَعَهُمْ، وَهُمْ يَكُونُونَ لَهُ شَعْبًا، وَاللهُ نَفْسُهُ يَكُونُ مَعَهُمْ إِلهًا لَهُمْ&#8221; (رؤ21: 2، 3).</p>
<p></p>
<h4>شرح الموسوعة الكنسية لإنجيل القداس<a href="#_ftn5" name="_ftnref5">[5]</a></h4>
<ul>
<li><strong>(ع25، 26) </strong>فهم اليهود معموديتا يوحنا وتلاميذ المسيح على أنها إحدى صور التطهير والتوبة، وفي هذا لم يخطئوا بحسب فهمهم الذي لا زال مرتبطا بناموس العهد القديم، والذي كان يحوى شرائع للتطهير&#8230; ولكن المباحثة أو المجادلة كانت مقارنة بين معمودية تلاميذ المسيح الآخذة في الازدياد، والتفاف اليهود حول المسيح، وبين معمودية يوحنا المعمدان وأتباعه، الآخذة في النقصان من جهة أخرى. وفي هذه المباحثة، أغاظ اليهود تلاميذ يوحنا الذين ذهبوا بدورهم إلى يوحنا، عارضين عليه ما أثارهم في أن الجميع يذهبون للمسيح عوضا عنه، طالبين من يوحنا الدفاع عن نفسه وعن معموديته الأسبق عن معمودية تلاميذ المسيح.</li>
</ul>
<p>نسى تلاميذ يوحنا المعمدان شهادته الأولى في عبر الأردن للسيد المسيح، وهو القائل بأنه غير مستحق أن يحل سيور حذائه (يو١: ٢٧)، وأنه ابن الله (يو١: ٣٤). فارتباطهم العاطفى، وتبعيتهم للمعمدان بمشاعرهم البشرية فقط، أوقعتهم في الغيرة من انتشار كرازة المسيح.</p>
<ul>
<li>ونحن هكذا نفعل في بعض الأحيان، فحبنا لبعض الشخصيات وتعلقنا بها، قد يجعلنا نقع في تحيز خاطئ لا يجعلنا نرى الحق، ونتبعهم في كل شيئ حتى لو خالفنا المسيح ووصيته<em>&#8230; </em>أفلا نشارك تلاميذ المعمدان خطأهم حينذاك؟!.</li>
<li><strong>(ع27- 30) </strong>في هذه الأعداد، يرد المعمدان على غيرة تلاميذه الغاضبة بنوع من التعليم الهادئ، الواضح والصريح أيضا، ولخص المعمدان تعليمه في النقاط الآتية:</li>
</ul>
<p>(١) أنه لا يستطيع أن يأخذ شيئًا أو يدّعى حقاً لم تعطه له السماء (ع٢٧).</p>
<p>(٢) تذكير تلاميذه بما سبق وقاله بأنه السابق للمسيح لتهيئة الطريق والنفوس، وليس هو المسيح.</p>
<p>(٣) شتان الفرق بين العريس صاحب الخليقة والعُرس، والذي له العروس (نفوس المؤمنين)، وبين صديق العريس الذي يكفيه، فخراً وافتخاراً، أنه صديق ساهم في إعداد العروس للعريس دون أن يدعي أن له نصيباً فيها، ولهذا يعتبر أن فرحه قد كمل (ع ٢٩)، لأن الكنيسة كنيسة المسيح.</p>
<p>(4) يؤكد المعمدان هذا الفرق، إذ يعلن أن الوضع الطبيعي <strong>&#8220;أن ذلك&#8221;</strong> (المسيح) وملكوته ينبغي أن يزيد لأنه وحده صاحب الكرامة، وأنه هو ينقص ويتوارى، حتى يقدم أيضًا كل من معه -تلاميذه- إلى المسيح صاحب العرس الحقيقي، وكأنه يقول: إذا أشرقت الشمس طغى نورها على كل المصابيح.</p>
<ul>
<li>طوباك أيها المعمدان، يا من استحققت أن تكون أعظم نبي من مواليد النساء<em>. </em>طوباك في اتضاعك ووضوح الأمور بداخلك، فلم تسرق مجد الله لحسابك، ولم تأخذ شيئًا لم يُعْطَ لك<em>. </em>فليتنا نتعلم منك ألا نعتقد أننا أصحاب الكرامة، بل مجرد خدام وعبيد<em>.. </em>ننسب كل مجد وكرامة للرب وحده، فيكمل فرحنا بمن خلّصنا كما كمل فرحك أنت.</li>
</ul>
<hr />
<p><a href="#_ftnref1" name="_ftn1">[1]</a>  كتاب الرسائل الفصحية للقديس أثناسيوس الكبير - الرسالة العشرين (عيد القيامة في 8 برمودة سنة 64 ش. - 3 أبريل سنة 384 م.) - صفحة 72 - القمص تادرس يعقوب ملطي.</p>
<p><a href="#_ftnref2" name="_ftn2">[2]</a>  تفسير سفر زكريا - الإصحاح السادس - القمص تادرس يعقوب ملطي .</p>
<p><a href="#_ftnref3" name="_ftn3">[3]</a>  تفسير انجيل يوحنا - اصحاح 3 - القمص تادرس يعقوب ملطي .</p>
<p><a href="#_ftnref4" name="_ftn4">[4]</a>  كتاب ألقاب المسيح ووظائفه - صفحة ٦٩ - الأنبا بيمن أسقف ملوي وانصنا والأشمونين.</p>
<p><a href="#_ftnref5" name="_ftn5">[5]</a>  الموسوعة الكنسية لتفسير العهد الجديد - الإصحاح الثالث من إنجيل يوحنا  - كنيسة مار مرقس مصر الجديدة.</p>

      {% endcreateArticleAccordions %}
    </section>
  {% endblock %}
  