---
layout: 'layouts/reading.html'
title: 'يوم الثلاثاء من الأسبوع الخامس للخماسين المُقَدَّسَة'
tags: 'pentecost'
permalink: /articles/pentecost/5-2.html
---
  {% block content %}
    <section id="readings">
      <ul>
      {% if 'undefined' != 'undefined' %}
      
      {% else %}
      {% if '19.118:1-2' != 'null' %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">العشية</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeVespers '19.118:1-2' '43.3:31-36' %}
          </div>
        </div>
      </li>
      {% endif %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">باكر</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeMatins '19.118:18-19' '41.4:35-41' '' %}
          </div>
        </div>
      </li>
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <h3 class="flex items-center justify-between">
            <span class="kufi">القداس</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </h3>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeLitugy '45.4:9-12' '62.4:11-17' '44.7:40-43' '19.34:5,8' '43.12:44-48' %}
          </div>
        </div>
      </li>

      {% endif %}
        </ul>
    </section>
    <section id="article">
      <h3 class="mt-8 mb-4 heading-explain">شرح القراءات</h3>
      {% createArticleAccordions %}
        <h3>جوهر وهدف الإرسالية</h3>
<p>تتكلم قراءات اليوم عن <strong>جوهر وهدف الإرسالية</strong> فالآب أرسل الإبن مخلصاً للعالم ومعطياً حياة أبدية للمؤمنين، كما أن إرسالية الإبن كان هدفها أيضاً إعلان صلاح الآب وبره الإلهي ومحبته للبشر..</p>
<h4>المزامير</h4>
<ul>
<li>فيعلن<strong> مزمور عشية </strong>عن ← أن إرسالية الإبن أعلنت صلاح الآب ورحمته الأبدية للبشر والتي لا تنظر إلى إستحقاقات البشر بل إلى فيض صلاح الله ومحبته للبشر.</li>
<li>كما يعلن <strong>مزمور باكر </strong>عن ← أن الإبن بإرساليته للعالم أعلن عن جوهر العدل الإلهي الذي لم يدع البشرية تموت بل دفع ثمن عصيان البشر كاملاً لكي تنجو البشرية من الدينونة الأبدية.</li>
<li>وفي <strong>مزمور القداس</strong> عن ← دعوة لكل أولاد الله للتقدم للإبن للإستنارة وعدم الخزي والتمسك الدائم به.</li>
<li>&#8220;إعترفوا للرب فإنه صالح وأن للأبد رحمته&#8221;.</li>
<li>&#8220;إفتحوا لي أبواب العدل لكي أدخل فيها وأعترف للرب&#8221;.</li>
<li>&#8220;تقدموا إليه واستنيروا ووجوهكم لا تخزى. ذوقوا وأنظروا ما أطيب الرب&#8221;.</li>
</ul>
<h4>انجيل عشية</h4>
<p>وفي انجيل عشية عن ← <strong>أن جوهر إرسالية الابن منح الحياة الأبدية للبشر وسكب غنى الروح وكل مجد الآب </strong>&#8220;لأن الله لا يعطي الروح بكيل لأن الآب يحب الإبن وقد دفع كل شئ في يديه من يؤمن بالإبن فله حياة أبدية&#8221;.</p>
<h4>انجيل باكر</h4>
<p>وفي انجيل باكر عن ← <strong>أن هدف إرسالية الإبن منح السلام للبشر ونزع أي مخاوف أو قلق </strong>&#8220;فأيقظوه وقالوا له يا معلم أما تحفل أن نهلك فقام وإنتهر الريح وقال للبحر أسكت وأبكم فسكنت الريح وصار هدوء عظيم ثم قال لهم ما بالكم خائفين ليس لكم إيمان بعد&#8221;.</p>
<h4>البولس</h4>
<p>وفي البولس عن ← <strong>أبوة إبراهيم التي كانت رمزاً وظلالاً لإستعلان أبوة الآب في العهد الجديد لكل المؤمنين سواء من كانوا يهوداً أو أمماً والتي ظهرت في إرسالية الإبن</strong> &#8220;ليكون أباً لجميع من يؤمنون وهم في الغرلة لكي يحسب لهم ذلك البر ويكون أباً لأهل الختان&#8221;.</p>
<h4>الكاثوليكون</h4>
<p>وفي الكاثوليكون عن ← <strong>أن جوهر وهدف إرسالية الإبن خلاص العالم وسكب الروح القدس </strong>&#8220;بهذا نعرف أننا نثبت فيه وهو فينا أنه قد أعطانا من روحه ونحن رأينا ونشهد أن الآب أرسل الإبن مخلصاً للعالم&#8221;.</p>
<h4>الابركسيس</h4>
<p>وفي الابركسيس عن ← <strong>خطورة غياب الهدف الذي تجسد من أجله إبن الله </strong>&#8220;فعملوا لهم عجلاً في تلك الأيام وذبحوا ذبائح للصنم وفرحوا بعمل أيديهم&#8221;.</p>
<h4>إنجيل القداس</h4>
<p>وفي انجيل القداس عن ← <strong>إرسالية إبن الله التي تمنح النور الإلهي </strong>(نور معرفة الله)<strong> والخلاص من ظلمة الخطية والجهل لكل المؤمنين </strong>&#8220;أنا جئت نوراً للعالم حتى أن كل من يؤمن بي لا يمكث في الظلام &#8230;. لأني ما جئت لأدين العالم بل لأخلص العالم&#8221;.</p>
<h3>ملخص الشرح</h3>
<ul>
<li>إرسالية الإبن أعلنت عن صلاح الآب ورحمته الأبدية للبشر وأعلنت جوهر العدل الإلهي وتدعو الكل للإستنارة بالإبن والتمسك به. (مزمور عشية – مزمور باكر- مزمور القداس).</li>
<li>هدف إرسالية الإبن خلاص البشر وسكب الروح القدس وكل مجد الآب. (انجيل عشية والكاثوليكون).</li>
<li>منح السلام للبشر ونزع المخاوف والقلق هو جوهر الإرسالية. (انجيل باكر).</li>
<li>أستعلنت أبوة الآب لكل المؤمنين في إرسالية الإبن والتي كانت أبوة ابراهيم رمزاً وظلالاً لها. (البولس).</li>
<li>خطورة غياب الهدف من شعب الله وتعلقهم بالآلهة الغريبة. (الابركسيس).</li>
<li>إرسالية إبن الله تمنح نور معرفة الله للمؤمنين والخلاص من ظلمة الخطية والجهل. (إنجيل القداس).</li>
</ul>
<h3>عظات آبائية ليوم الثلاثاء من الأسبوع الخامس من الخمسين يوم المقدسة</h3>
<h4>من الرسائل الفصحية - للقديس أثناسيوس الرسولي<a href="#_ftn1" name="_ftnref1">[1]</a></h4>
<ul>
<li>الرسالة الثانية والعشرون (عيد القيامة في ١٣ برمودة ٦٦ش ٨ أبريل ٣٥٠م.)</li>
</ul>
<p><strong>لماذا صلب على الصليب؟!</strong></p>
<p>ربنا يسوع المسيح الذي أخذ على عاتقه أن يموت عنا، قد بسط يديه لا على الأرض السفلى بل في الهواء، لكي يظهر أن الخلاص الذي تم على الصليب مقدم لجميع البشر في كل مكان، مهلكاً الشيطان الذي يعمل في الهواء، ولكى يمهد طريقنا الصاعد إلى السماء ويجعله حراً (سهلاً).</p>
<ul>
<li>عن الرسالة الرابعة والعشرون (عيد القيامة في ٢٤ برمودة ٦٨ش.١٩ أبريل ٣٥٢م.)</li>
</ul>
<p>في ذلك الحين عندما خرجوا من مصر وعبروها، غرق أعداؤهم في البحر، وأما الآن فإذ نعبر من الأرض إلى السماء فإن الشيطان نفسه يسقط كالبرق من السماء.</p>
<ul>
<li>عن الرسالة السابعة والعشرون (عيد القيامة في ۲۱ برمودة ٧١ش. ٧ ابريل ٣٥٥م)</li>
</ul>
<p><strong>مرة أخرى جاء يوم الفصح المحي.</strong></p>
<p>لأنه من هو فرحنا وفخرنا إلا ربنا يسوع المسيح، الذي تألم من أجلنا، وبه صرنا معروفين لدى الآب؟! لأنه هو ليس آخر بل ذاك الذي تكلم في القديم على لسان الأنبياء، وأما الآن فأنه يقول لكل واحد &#8220;أَنَا الَّذِي أُكَلِّمُكِ هُوَ&#8221; (يو4: 26).</p>
<p>حسنا قيلت هذه الكلمة، لم يتكلم مرة ويصمت أخرى، بل على الدوام وفي كل الأزمنة، من البدء لم يكف قط، إنه يحرض كل إنسان ويحدثه في قلبه.</p>
<ul>
<li>عن الرسالة الثامنة والعشرون (عيد القيامة في ١٢ برمودة ٧٢ ش ٧ ابريل ٣٥٦م)</li>
</ul>
<p>&#8230; لكي إذ صار ذبيحة من أجلنا، ننتعش بكلمات الحق، ونشترك في تعاليمه المحيية، وبالتالي نستطيع مع القديسين أن نتقبل الفرح السماوي.</p>
<p>لأنه كما دعى تلاميذه إلى حجاله السماوي، دعانا &#8220;الكلمة&#8221; معهم إلى الوليمة الإلهية غير الفاسدة، متألما من أجلنا هاهنا، أما هناك فأنه يعد الهياكل السمائية لأولئك الذين تهيأوا منصتين إلى الدعوة ومشغولين دائما بالهدف، جادين في طلب المكافأة للدعوة العليا، فيوضع الإكليل ويوهب الفرح غير الفاسد لأولئك الذين يأتون إلى الوليمة ويجاهدون ضد من يعوقوهم (الشياطين).</p>
<p>بالرغم من متاعب مثل هذه الرحلة العظيمة حسب المنطق البشري، إلا أن المخلص نفسه يجعلها رحلة سهلة وهينه..</p>
<p>أيها الأخوة.. إذ أقترب العيد، ليتنا نحن الذين تقبلنا الكرمة من المخلص، ودعينا إلى الوليمة السماوية، نمسك بسعف النخل معلنين حياة النصرة على الخطية، فنكون مثل أولئك الذين خرجوا لملاقاة المخلص في تلك المناسبة (دخوله أورشليم)، فنكون بسلوكنا مستعدين لملاقاته عندما يأتي، وأن ندخل معه ونشترك في الطعام الأبدى وهناك إلى الأبد في السماء.</p>
<h4>شرح لأنجيل القداس - القديس كيرلس الأسكندري<a href="#_ftn2" name="_ftnref2">[2]</a></h4>
<p><strong>(يو</strong><strong>12</strong><strong>: 44، 45)</strong> &#8220;<strong>فَنَادَى يَسُوعُ وَقَالَ</strong>: «<strong>الَّذِي يُؤْمِنُ بِي، لَيْسَ يُؤْمِنُ بِي بَلْ بِالَّذِي أَرْسَلَنِي، وَالَّذِي يَرَانِي يَرَى الَّذِي أَرْسَلَنِي</strong>&#8220;.</p>
<p>صرخ المسيح عالياً، وصرخته توبخ الخوف الذي يكون في وقت غير ملائم، هذا الخوف الذي أثر على الذين آمنوا به ولكنهم أخفوا إيمانهم. فهو يريد أن يُكرم من الناس الذين يؤمنون به بطريقة علنية وليس خلسة. فهو قد علم أنه رغم أن الإيمان ينبغي أن يكون في القلب، إلا أن الإعتراف الصحيح جداً المؤسس على هذا الإيمان، ينبغي أن يكون بجرأة عظيمة. وإذ هو بالطبيعة الله، قد تنازل ليأخذ صورة مشابهة لصورتنا، ولكنه يرفض في البداية أن يكشف بكلمات واضحة لآذان الناس الذين يبغضونه أنهم ينبغي أن يؤمنوا به، رغم أنه قال هذا كثيراً، وهو بالتدريج يجعل أذهان الذين يعانون من مرض الحسد الشديد ضده، وذلك بملائمة تامة لإحتياجاتهم أن ينفذوا إلى عمق أسراره الخاصة، وهو يقودهم هكذا ليس إلى شخصه الإنساني بل إلى كيانه الذي من الجوهر الإلهي: ذلك لأن الألوهية تدرك كاملة في أقنوم الله الآب، لأن الآب له في ذاته الابن والروح. وهكذا بحكمة عظيمة يتقدم بهم، قائلاً: &#8220;الذي يؤمن بي ليس يؤمن بي بل بالذي أرسلني&#8221;، لأنه لا يستبعد نفسه عن أن يكون هو موضوع إيمان بالنسبة لنا، إذ هو إله بالطبيعة وقد أشرق من الله الآب. لكنه يتعامل بمهارة مع عقل الضعفاء لكي يطوعهم إلى التقوى، لكي نفهم منه كأنه يقول كما يلي: &#8220;حينما تؤمنون بي، أنا الذي من أجلكم صرت إنساناً مثلكم، هذا من ناحية  ولكن من الناحية الأخرى أنا إله بسبب طبيعتي التي هي طبيعة الآب الذي أنا منه، فلا تظنوا عندئذ أنكم تضعون إيمانكم في إنسان، لأني أنا بالطبيعة إله رغم أني أظهر مثل واحد منكم. وأنا أملك في نفسي ذاك الذي ولدني. لأني ما دمت من نفس الجوهر مع ذاك الذي ولدني، فإن إيمانكم بالتأكيد سيكون بالآب ذاته أيضاً&#8221;. وكما قلنا قبل ذلك ، فإن الرب يدربهم ليصلوا إلى ما هو أفضل، وإذ يوحد ما هو بشري بما هو إلهي لأجل المنفعة، يقول: &#8220;من يؤمن بي&#8221; والكلمات التي بعدها. وهو قد أخبرنا بوضوح تام أن الإيمان لا يجب أن يتجه إلى إنسان، بل إلى طبيعة الله، رغم أن الكلمة كان لابساً الجسد لأن طبيعته لم تتحول إلى إنسان. ولكي يوضح تماماً أنه مساوٍ لله الآب من كل النواحي، بسبب طبيعتهما الواحدة وكونهما لهما نفس الجوهر الواحد، يقول:</p>
<p><strong>(يو ٤٦:١٢)</strong>: &#8220;<strong>أَنَا قَدْ جِئْتُ نُورًا إِلَى الْعَالَمِ، حَتَّى كُلُّ مَنْ يُؤْمِنُ بِي لاَ يَمْكُثُ فِي الظُّلْمَةِ</strong>&#8220;.</p>
<p>لاحظ هنا، أنه يمسك بإيمانهم ويثبته على ذاته، ويتمم بذلك هدفين نافعين، فمن ناحية، بإعلانه عن نفسه أنه النور، فهو يبرهن أنه هو الله بالطبيعة، لأن هذا الاسم يليق فقط بذاك الذي هو وحده بطبيعته الله؛ ومن الناحية الأخرى، بذكره لسبب مجيئه، فهو يخجل أي إنسان لا يفكر في محبته، لأننا ينبغي أن نفهم بوضوح أن الذين لم يؤمنوا به بعد ، لا يزالون في الظلمة، كما أن الوجود في النور يحصل عليه منه أولئك الذين قد آمنوا به وحدهم. وهو يقودهم إلى تذكر الأمور التي ذكرت عنه في نبوات كثيرة، التي أنبأ فيها أنه سيأتي لكي ينير العالم؛ فمثلاً &#8220;اسْتَنِيرِي، اسْتَنِيرِي، يَا أُورُشَلِيمُ، لأَنَّهُ قَدْ جَاءَ نُورُكِ، النُّورُ الْحَقِيقِيُّ وَمَجْدُ الرَّبِّ أَشْرَقَ عَلَيْكِ&#8221; (إش ٦٠: ١سبعينية)، وأيضاً: &#8220;أَرْسِلْ نُورَكَ وَحَقَّكَ&#8221; (مز٤٣: ٣)، لذلك يكون من الحق، وكأنه قال &#8220;أنا هو النور الذي تتطلعون إليه في الكتاب، إنه سياتي لأجل خلاص العالم، لكي ينير على الذين يسيرون في الظلمة كأنهم في الليل&#8221;.</p>
<p><strong>(يو٤٨:١٢)</strong>: &#8220;&#8230;.<strong>اَلْكَلاَمُ الَّذِي تَكَلَّمْتُ بِهِ هُوَ يَدِينُهُ فِي الْيَوْمِ الأَخِيرِ</strong>&#8220;.</p>
<p>هو يقول، إنهم سيكونون مدانين من أنفسهم، هؤلاء الذين يرفضون أن يسمعوا له ولا يقبلون الإيمان الذي يخلصهم. لأن من جاء لكي ينير، لم يأت لكي يدين. بل لكي يخلص. لذلك، فالذي لا يطيع، يعرض نفسه لأفظع التعاسات، دعه يلوم نفسه، لأنه ينال عقاباً عادلاً. وكأنه يقول: &#8220;لأني لست أنا سبب الدينونة، أنا الذي أريد أن أخلص الذين سيذهبون إلى الدينونة، وقد جئت لهذه الغاية. فالذي يضع قانونا لمعاقبة العصاة، يضعه ليس لأجل معاقبة الذين يكسرون القانون، بل ليكون تحذيرا للذين يسمعون فيخشونه ويخلصون. إذاً، فلأني قد جئت لأخلص، أوصيكم أن تؤمنوا، وأن لا تحتقروا كلامي؛ لأن الوقت الحاضر هو وقت خلاص وليس وقت دينونة. لأنه في يوم الدينونة، فإن الكلمة التي دعتكم إلى الخلاص هي نفسها ستكون سبباً لمعاقبة الذين يعصون.</p>
<h4>نور العالم - القديس غريغوريوس النزينزي<a href="#_ftn3" name="_ftnref3">[3]</a></h4>
<ul>
<li>رغم إننا صرنا ظلمة بسبب الخطية فإن الله قد أضفى علينا جمالًا وبهاءً من خلال نعمته الفائقة. عندما يسود الليل ويلف <a href="https://st-takla.org/Full-Free-Coptic-Books/FreeCopticBooks-002-Holy-Arabic-Bible-Dictionary/17_ZAH/ZAH_09.html">الظلام</a> كل شيء نجد أنه رغم أن بعض الأشياء تصير مضيئة بالطبيعة، إذ حل النهار، فإن مقارنتها بالظلمة لا تنطبق على الأشياء التي كانت معتمة قبلًا بالسواد.<strong> وهكذا تعبر النفس من الخطأ إلى الحق، وتتبدل صورة حياتها المظلمة إلى نعمة فائقة</strong>. انتقل بولس الرسول عروس المسيح من الظلمة إلى النور، إذ يقول لتلميذه تيموثاوس (١تي ١: ١٣)، كما العروس لوصيفاتها، إنه قد صار مستحقًا إن يكون جميلًا، لأنه كان قبلًا مجدفًا ومضطهدًا ومفتريًا ومظلمًا. ويقول بولس الرسول أيضًا أن المسيح جاء إلى العالم لينير للذين في الظلمة. إن المسيح لم يدعو أبرارًا بل خطاة إلى التوبة، الذي جعلهم يضيئون كأنوار في العالم (في ٢: ١٥)، بحميم الميلاد الثاني الذي غسلهم من صورتهم السوداء الأولى.</li>
<li>لنشعل لأنفسنا نور المعرفة. هذا يتحقق بزرع البرّ وحصاد ثمار الحياة، فإن <strong>العمل هو ابن التأمل</strong>، الأمر الذي نتعلمه بين أمور أخرى هو ما هو النور الحقيقي، وما هو النور الباطل، فنخلص من السقوط بغير حذر في الشر كأننا ساقطون في الخير. <strong>لنصبح نحن أنفسنا نور</strong><strong>ا</strong>، كما قيل للتلاميذ من النور الأعظم: &#8220;أنتم نور العالم&#8221; (مت ٥: ١٤). بل ولنصر &#8220;كأنوارٍ في العالم، متمسكين بكلمة الحياة&#8221;، أعني نصير قوة محيية للآخرين. لنتمسك بالألوهة، ونقتبس نورًا من النور الأبهى الأول. لنسر نحوه مشرقين، قبل أن نتعثر في الجبال المظلمة المعادية (إر ٤٢ : ١٦). ما دام الوقت نهار فلنسلك بأمانة كما في النهار لا بالبطر والسكر، لا بالمضاجع والعهر (رو ١٣: ١٣)، التي هي أعمال الليل الشريرة.</li>
</ul>
<h3>عظات آباء وخدّام معاصرين ليوم الثلاثاء من الأسبوع الخامس من الخمسين يوم المقدسة</h3>
<h4>نور العالم - للمتنيح الأنبا بيمين أسقف ملوي وأنصنا والأشمونيين<a href="#_ftn4" name="_ftnref4">[4]</a></h4>
<p>&#8220;<strong>أَنَا هُوَ نُورُ الْعَالَمِ مَنْ يَتْبَعْنِي فَلاَ يَمْشِي فِي الظُّلْمَةِ</strong>&#8221; (یو ۱۲:۸)</p>
<p>من الألقاب التي عرف بها الرب يسوع في الكتاب المقدس، أنه <strong>نور العالم</strong> إنه هو <strong>النور الحقيقي</strong>، الذي يضئ في الظلمة، والظلمة لا تدركه ولا تعرفه.. وهذا اللقب ذكره المسيح له المجد عن نفسه، عندما قدموا له المرأة التي أمسكت في الزنا، وكانوا يطلبون رجمها.. أشار الرب في سرية روحية، أن الظلمة لم تكن في المرأة الزانية التي تابت، وإنما في الفريسيين الذين يعيشون في حياة مظلمة داخلية، ويدَّعون أنهم يعرفون النور والحق والوصايا. وأطلق هذا اللقب مرة أخرى، عندما رأى المولود أعمى.. وواجه الفريسيين الحاقدين، الذين لم يفرحوا لأن الرب أعاد البصر لهذا المسكين، إنما أظلمت قلوبهم بالحقد، وأدانوا المخلص أنه عمل المعجزة يوم سبت..</p>
<p>فالقضية إذاً مسيحياً ليست هي قضية بصر العينين الجسديتين، إنما البصيرة التي في الداخل، التي تعرف الانسان الحق، وتلهمه الصلاح. وتقوده إلى الطريق، وتحفظه في النور والحق والحب والحياة الحقيقية.. وحتى يستكمل المقال أبعاده، نسأل:</p>
<p>١- ما الذي جاء عن النور في العهد القديم، وإشاراته ورموزه عن المخلص؟</p>
<p>۲- ما أعلنه السيد الرب لنا عن شخصه <strong>کنور للعالم</strong>، وعلاقة هذا بالمفاهيم اللاهوتية الأساسية، مثل الحق والحب والحياة؟</p>
<p>3- ما هي التداريب الروحية، التي نخرج بها من دراستنا هذه، کی نحيا في النور ونسلك كأبناء نور؟</p>
<p><strong>النور في العهد القديم</strong></p>
<p>في سفر التكوين، نقرأ عن أن الله الذي <strong>هو نور لا يدني منه</strong>، إذ رأى الأرض خربة وخالية، مشوشة ومضطربة.. أخذ روح الله يرف علی وجه المياه.. ومعنى هذا أن الحياة بدأت تدب في الخراب والفوضى..</p>
<p>وأعد روح الله الأرض، ليقول الآب بإبنه الكلمة ليكن <strong>نور</strong> فكان <strong>نور</strong>.. وهكذا كان <strong>النور</strong> إفصاحاً عن طبيعة الله</p>
<p>فالله هو النور الحقيقي، وخلق النور كان من عمل يديه، وكل ما يعمله الله حسن، ورأى الله أن النور حسن، فهو حسن لأنه صنعة يديه، ولأنه يعلن عن <strong>طبيعة الله النورانية</strong> الحقانية، ولأنه يمهد لأعمال الخلقة العظيمة الآتية من بعد، ولأنه سيكون متعة وجمالاً للإنسان الذي أراد خلقته على صورته ومثاله، لينعم بكل ما يخلقه له.</p>
<p>الله يسكن في <strong>نور</strong> لا يدنى منه، وهو <strong>النور</strong> <strong>الحقيقي</strong> . ولكنه إذا أراد أن يكشف للإنسان عن شئ من طبيعته النورانية، أعطاه النور الحي، ليكون واسطة وإيضاحاً عن إمكانية التلامس مع <strong>النور الإلهي</strong>، هذا <strong>النور الحقيقي</strong> الذي كل من يتبعه لا يمشي في الظلمة البتة.</p>
<p>وكان الرمز صريحاً في خيمة الإجتماع، فالمغارة الذهبية بشعبها الست وسرجها السبعة، كانت تشير في وضوح إلى الرب يسوع المسيح، الذي <strong>هو نور العالم</strong>، و<strong>النور الحقيقي </strong>الذي ينير كل إنسان (يو ١: ٩)، كان نورها مستمراً من المساء إلى الصباح بإستمرار.. وكانت من ذهب نقي، تشير إلى المسيح الآتی کنور العالم، وإلى النقاوة الكاملة في شخص المسيح، وإلى المؤمنين سيضيئون كأنوار في العالم (في ۲: ١٥).</p>
<p>وكذلك كان <strong>نور الله</strong> ومجده يحل بين الكروبين على غطاء تابوت الشهادة (خر ٤٠: ٣٥) فلم يقدر موسى أن يدخل خيمة الاجتماع، لأن السحابة حلت عليه، وبهاء الرب ملأ المسكن.</p>
<p>وورد بسفر العدد أنه &#8221; وَفِي يَوْمِ إِقَامَةِ الْمَسْكَنِ، غَطَّتِ السَّحَابَةُ الْمَسْكَنَ، خَيْمَةَ الشَّهَادَةِ وَفِي الْمَسَاءِ كَانَ عَلَى الْمَسْكَنِ كَمَنْظَرِ نَارٍ إِلَى الصَّبَاحِ. هكَذَا كَانَ دَائِمًا السَّحَابَةُ تُغَطِّيهِ وَمَنْظَرُ النَّارِ لَيْلاً&#8221; (عد ٩: ١٥، ١٦).</p>
<p>لقد كان النور نهاراً في السحابة، واللهيب ليلاً في عمود النار، إشارة إلی <strong>نور المسيح</strong> الذي يضئ في قلوب المؤمنين نهاراً وليلاً يهدي مواكبهم طرق السلام.</p>
<p>وفي عيد المظال أيضاً، كان اليهود يوقدون المنارة، ثم يسكبون الماء على درج الهيكل، ليذكرهم العيد كيف أخرج الرب لهم الماء من الصخر، وكيف هداهم بعمود النور ليلاً والسحابة نهاراً..</p>
<p>وفي هذا اليوم من العيد العظيم، وقف يسوع بجوار المنارة وشاهد الطقس يجري، وأعلن عن نفسه أنه <strong>نور العالم</strong>، وأن من يؤمن به تخرج من بطنه أنهار ماء حي.</p>
<p>لقد كان <strong>النور</strong> مرتبطاً بالمسيا إرتباطاً شديداً طيلة العهد القديم، وبالأخص في سفر إشعياء النبي الإنجيلي.</p>
<ul>
<li>&#8220;اَلشَّعْبُ السَّالِكُ فِي الظُّلْمَةِ أَبْصَرَ <strong>نُورًا</strong> عَظِيمًا الْجَالِسُونَ فِي أَرْضِ ظِلاَلِ الْمَوْتِ أَشْرَقَ عَلَيْهِمْ <strong>نُورٌ</strong>&#8221; (إش ۲:۹) .</li>
<li>&#8220;قَدْ جَعَلْتُكَ <strong>نُورًا</strong> لِلأُمَمِ لِتَكُونَ خَلاَصِي إِلَى أَقْصَى الأَرْضِ&#8221; (إش ٤٩: ٦) أنظر أيضا (إش ٦٠: ١)، (إش ٤٢: ٦).</li>
</ul>
<p><strong>المسيح هو النور الحقيقي</strong></p>
<ul>
<li>هو <strong>نور</strong> في شخصه المبارك &#8220;الرب <strong>نوری</strong> وخلاصي&#8221;.</li>
<li>وهو <strong>نور</strong> في طبيعته &#8220;الله <strong>نور</strong> وليس فيه ظلمة البتة&#8221;.</li>
<li>وهو <strong>نور</strong> في معرفته &#8220;كل حق هو <strong>نور</strong>. إنه ينير لكل إنسان أتيا إلى العالم لهذا كل من يتبعه، يحيا في النور ويصبح هو أيضا نوراً للآخرين.</li>
</ul>
<p><strong>النور والحياة</strong></p>
<p>إن المتأمل في اللاهوت الأرثوذكسي يجد ثمة إرتباطاً شديداً بين النور والحياة، النور والحق، النور والحب. <strong>فالمسيح هو النور</strong> <strong>وهو الحياة</strong> وقد أعلن عن هذا بوضوح عند قبر لعازر.. حيث المعركة التي واجهت فيها الحياة ظلمة الموت والخطيئة.</p>
<p>فهو عندما يعلن عن حبيبه لعازر انه قد نام، أي قد مات، يقول إن كان أحد يمشي في النهار لا يعثر، لأنه ينظر نور العالم، ولكن إن كان أحد يمشي في الليل يعثر لأن النور ليس فيه.</p>
<p>فالخطيئة هي التي أثمرت الموت، إذ يقول الكتاب أجرة الخطية موت، أما هبة الله هي حياة أبدية، وأما الذي يؤمن بالإبن فله حياة أبدية ولو مات فسوف يحيا لأن الحياة هي في شخص الرب يسوع.. ونوره ونلبس أسلحة النور &#8220;لِنَسْلُكْ بِلِيَاقَةٍ كَمَا فِي النَّهَارِ: لاَ بِالْبَطَرِ وَالسُّكْرِ، لاَ بِالْمَضَاجعِ وَالْعَهَرِ، لاَ بِالْخِصَامِ وَالْحَسَدِ، بَلِ الْبَسُوا الرَّبَّ يَسُوعَ الْمَسِيحَ، وَلاَ تَصْنَعُوا تَدْبِيرًا لِلْجَسَدِ لأَجْلِ الشَّهَوَاتِ&#8221;. (رو ۱۳: ۱۳، ١٤).</p>
<p><strong>النور والحق</strong></p>
<p><strong>المسيح هو النور الحقيقي</strong>، <strong>وهو الحق</strong> كما <strong>هو الحب والحياة</strong>. والإرتباط  وثيق تماماً بين النور والحق. فهما طريق الرب.</p>
<p>وقد سلم للكنيسة الروح القدس، وسلمه الآباء لتلاميذهم، حتی سمیت المسيحية في عصر الرسل طريقة الرب.. إنها الحياة التي فيها النور، القداسة، الوضوح والصراحة والاستقامة، الحق الذي لا يعرف غشاً أو التواء أو خداعاً أو دبلوماسية، وإشعياء في القديم بروح النبوة، حذر بشدة من الدخول في طريق الإلتواء، طريق الخداع ومجاملة الناس على حساب الوصية وحق الله..</p>
<p>&#8220;وَيْلٌ لِلْقَائِلِينَ لِلشَّرِّ خَيْرًا وَلِلْخَيْرِ شَرًّا، الْجَاعِلِينَ الظَّلاَمَ نُورًا وَالنُّورَ ظَلاَمًا، الْجَاعِلِينَ الْمُرَّ حُلْوًا وَالْحُلْوَ مُرًّا، وَيْلٌ لِلْحُكَمَاءِ فِي أَعْيُنِ أَنْفُسِهِمْ، وَالْفُهَمَاءِ عِنْدَ ذَوَاتِهِمْ&#8221; (إش ٥: ۲۰، 21).</p>
<p>ولقد أوضح الرب هذه الحقيقة، عندما واجه الكتبة والفريسين، الذين تنطبق عليهم ويلات إشعياء، عندما قال: &#8220;وَهذِهِ هِيَ الدَّيْنُونَةُ: إِنَّ النُّورَ قَدْ جَاءَ إِلَى الْعَالَمِ، وَأَحَبَّ النَّاسُ الظُّلْمَةَ أَكْثَرَ مِنَ النُّورِ، لأَنَّ أَعْمَالَهُمْ كَانَتْ شِرِّيرَةً&#8221; (يو ٣: ١٩، ٢٠)</p>
<p>وفي الإرتباط بين النور والحق، قال الرب له المجد: &#8220;وَأَمَّا مَنْ يَفْعَلُ الْحَقَّ فَيُقْبِلُ إِلَى النُّورِ، لِكَيْ تَظْهَرَ أَعْمَالُهُ أَنَّهَا بِاللهِ مَعْمُولَةٌ&#8221; (يو ٣: ۲۱).</p>
<p>والنور الذي أعلن لنا في شخص المسيح، ليس إضاءة مادية، بل هو طريق ومنهج وحياة وسلوك وإختيار &#8220;فَسِيرُوا مَا دَامَ لَكُمُ النُّورُ لِئَلاَّ يُدْرِكَكُمُ الظَّلاَمُ وَالَّذِي يَسِيرُ فِي الظَّلاَمِ لاَ يَعْلَمُ إِلَى أَيْنَ يَذْهَبُ. مَا دَامَ لَكُمُ النُّورُ آمِنُوا بِالنُّورِ لِتَصِيرُوا أَبْنَاءَ النُّورِ&#8221; (يو ۱۲: ٣٥).</p>
<p>ويقول بولس الرسول لأهل أفسس &#8220;لأَنَّكُمْ كُنْتُمْ قَبْلاً ظُلْمَةً، وَأَمَّا الآنَ فَنُورٌ فِي الرَّبِّ اسْلُكُوا كَأَوْلاَدِ نُورٍ&#8221; (أف ٥: ٨).</p>
<p>ويقول معلمنا يوحنا البشير &#8220;وَلكِنْ إِنْ سَلَكْنَا فِي النُّورِ كَمَا هُوَ فِي النُّورِ، فَلَنَا شَرِكَةٌ بَعْضِنَا مَعَ بَعْضٍ، وَدَمُ يَسُوعَ الْمَسِيحِ ابْنِهِ يُطَهِّرُنَا مِنْ كُلِّ خَطِيَّةٍ&#8221; (١يو١: ٧).</p>
<p>ويربط الرسول بولس في إلهام بديع، بين حياة القداسة واليقظة الروحية من ناحية، والنور والنهار من ناحية أخرى.</p>
<p>ويشير بالليل إلى النجاسة وظلمة الخطية، بقوله &#8220;فَلَسْتُمْ فِي ظُلْمَةٍ حَتَّى يُدْرِكَكُمْ ذلِكَ الْيَوْمُ كَلَصٍّ. جَمِيعُكُمْ أَبْنَاءُ نُورٍ وَأَبْنَاءُ نَهَارٍ لَسْنَا مِنْ لَيْل وَلاَ ظُلْمَةٍ، فَلاَ نَنَمْ إِذًا كَالْبَاقِينَ، بَلْ لِنَسْهَرْ وَنَصْحُ، لأَنَّ الَّذِينَ يَنَامُونَ فَبِاللَّيْلِ يَنَامُونَ، وَالَّذِينَ يَسْكَرُونَ فَبِاللَّيْلِ يَسْكَرُونَ&#8221; (١تس ٥: 4- 7).</p>
<p>وهذه صرخته المدوية التي أيقظت أوغسطينوس، وأعطته حياة التوبة &#8220;قَدْ تَنَاهَى اللَّيْلُ وَتَقَارَبَ النَّهَارُ، فَلْنَخْلَعْ أَعْمَالَ الظُّلْمَةِ&#8221; (رو13: 12).</p>
<p><strong>النور والحب</strong></p>
<p>لم نجد رسولاً ربط بين <strong>النور الإلهي</strong> <strong>والحب المقدس</strong>، مثلما فعل القديس يوحنا الرسول. فرسالته الأولى يدور محورها الأساسي حول هذه القضية اللاهوتية.. <strong>إن النور والحب الحقيقي هما واحد في شخص المسيح</strong>، وأن كل من في النور يحب ومن يحب يحيا في النور، ومن لا يحب فلم يعرف النور، وفي الظلمة يسلك.</p>
<p>&#8220;أَيُّهَا الأَحِبَّاءُ، لِنُحِبَّ بَعْضُنَا بَعْضًا، لأَنَّ الْمَحَبَّةَ هِيَ مِنَ اللهِ، وَكُلُّ مَنْ يُحِبُّ فَقَدْ وُلِدَ مِنَ اللهِ وَيَعْرِفُ اللهَ وَمَنْ لاَ يُحِبُّ لَمْ يَعْرِفِ اللهَ، لأَنَّ اللهَ مَحَبَّةٌ&#8221; (1يو 4: 7، 8).</p>
<p>&#8220;مَنْ قَالَ: إِنَّهُ فِي النُّورِ وَهُوَ يُبْغِضُ أَخَاهُ، فَهُوَ إِلَى الآنَ فِي الظُّلْمَةِ ،مَنْ يُحِبُّ أَخَاهُ يَثْبُتُ فِي النُّورِ وَلَيْسَ فِيهِ عَثْرَةٌ، وَأَمَّا مَنْ يُبْغِضُ أَخَاهُ فَهُوَ فِي الظُّلْمَةِ، وَفِي الظُّلْمَةِ يَسْلُكُ، وَلاَ يَعْلَمُ أَيْنَ يَمْضِي، لأَنَّ الظُّلْمَةَ أَعْمَتْ عَيْنَيْهِ&#8221; (1یو ۹:۲- ۱۱).</p>
<p><strong>تداريب روحية:</strong></p>
<ul>
<li><strong>نور المسيح يكشف ظلمتي الداخلية:</strong></li>
</ul>
<p>&#8220;إِذَا جَلَسْتُ فِي الظُّلْمَةِ فَالرَّبُّ نُورٌ لِي&#8221; (مي ٧: ٨)..</p>
<p>هل أنا أحب الأخوة؟.. هل أنا أسلك في الحق؟.. هل أنا أسمح لنور المسيح أن يستعلن في داخلي بروح القداسة، حتى يظهر رائحة المسيح الذكية للناس؟</p>
<p>[لتشرق فينا الحواس المضيئة، والأفكار النورانية، ولا تغطينا ظلمة الآلام].</p>
<ul>
<li><strong>نور المسيح يهدی طرقي</strong></li>
<li>&#8220;سِرَاجٌ لِرِجْلِي كَلاَمُكَ وَنُورٌ لِسَبِيلِي&#8221; (مز ۱۱۹ : ١٠٥) .</li>
<li>&#8220;لأَنَّ الْوَصِيَّةَ مِصْبَاحٌ، وَالشَّرِيعَةَ نُورٌ، وَتَوْبِيخَاتِ الأَدَبِ طَرِيقُ الحياة&#8221; (أم ٦ : ۲۳).</li>
<li>هل أجلس متتلمذاً كل يوم عند أقدامه، أطلب منه بإلحاح أن يقود خطواتي بنوره الإلهي؟ أم أن دوافعى ذاتية، ومحركات قلبي أرضية بشرية؟.</li>
<li><strong>نور المسيح يبهج حياتي</strong></li>
</ul>
<p>أيها النور الحقيقي، الذي يضئ لكل إنسان آت إلى العالم، أتيت إلى العالم بمحبتك للبشر، وكل الخليقة تهللت بمجيئك، أعطني أن أبتهج بنور محبتك، وليبدد نور حبك ظلمات الحقد والحسد والقلق. هبنا في كل يوم حاضر أن نرضيك فيه، لنكون أبناء نور وأبناء قيامة.</p>
<hr />
<p><a href="#_ftnref1" name="_ftn1">[1]</a>  كتاب الرسائل الفصحية للقديس أثناسيوس الكبير - صفحة 72 - القمص تادرس يعقوب ملطي.</p>
<p><a href="#_ftnref2" name="_ftn2">[2]</a>  شرح انجيل يوحنا للقديس كيرلس الاسكندري - المجلد الثاني (ص77 ، 78) - ترجمة دكتور نصحي عبد الشهيد وآخرون.</p>
<p><a href="#_ftnref3" name="_ftn3">[3]</a>  تفسير رسالة فيلبي - الإصحاح الثاني - القمص تادرس يعقوب ملطي.</p>
<p><a href="#_ftnref4" name="_ftn4">[4]</a>  كتاب ألقاب المسيح ووظائفه - صفحة ٨٦ - الأنبا بيمن أسقف ملوي وأنصنا والأشمونيين.</p>

      {% endcreateArticleAccordions %}
    </section>
  {% endblock %}
