---
layout: 'layouts/reading.html'
title: 'يوم الأربعاء من الأسبوع الخامس للخماسين المُقَدَّسَة'
tags: 'pentecost'
permalink: /articles/pentecost/5-3.html
---
  {% block content %}
    <section id="readings">
      <ul>
      {% if 'undefined' != 'undefined' %}
      
      {% else %}
      {% if '19.19:2,4' != 'null' %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">العشية</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeVespers '19.19:2,4' '41.12:35-40' %}
          </div>
        </div>
      </li>
      {% endif %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">باكر</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeMatins '19.118:24-25' '41.12:28-34' '' %}
          </div>
        </div>
      </li>
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <h3 class="flex items-center justify-between">
            <span class="kufi">القداس</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </h3>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeLitugy '45.5:20-6:4' '62.4:15-19' '44.7:44-50' '19.118:8-9' '43.13:16-20' %}
          </div>
        </div>
      </li>

      {% endif %}
        </ul>
    </section>
    <section id="article">
      <h3 class="mt-8 mb-4 heading-explain">شرح القراءات</h3>
      {% createArticleAccordions %}
        <h3>ثمار الإرسالية</h3>
<p>تتكلم قراءات اليوم عن:</p>
<ul>
<li>ثمار الإرسالية</li>
<li>وغنى الآب وهباته التي سكبها مجاناً على البشرية والكنيسة في إبنه يسوع المسيح والتي مازلنا نحيا بها ونفرح بإنسكابها علينا من خلال معرفة يسوع وشركة الكنيسة المقدسة ..</li>
</ul>
<h3></h3>
<h4>المزامير</h4>
<p>تعلن لنا المزامير عن:</p>
<ul>
<li>أول ثمر لإرسالية الإبن وهو معرفة الله التي غطت كل الأرض وأستعلنت لكل البشرية (مزمور عشية).</li>
<li>وأيضاً عن بهجة الخلاص والفرح السماوي (مزمور باكر).</li>
<li>ثم عن الالتصاق بالله والرجاء العظيم به (مزمور القداس).</li>
<li>&#8220;يوم إلى يوم يُبدي كلمة وليل إلى ليل يُظهر علماً، في كل الأرض خرج منطقهم وإلى أقطار المسكونة بلغت أقوالهم&#8221; (مزمور عشية).</li>
<li>&#8220;هذا هو اليوم الذي صنعه الرب فلنبتهج ونفرح به&#8221; (مزمور باكر).</li>
<li>&#8220;صالح هو التوكل على الرب أفضل من التوكل على البشر. صالح هو الرجاء بالرب أفضل من الرجاء بالرؤساء&#8221; (مزمور القداس).</li>
</ul>
<p></p>
<h4>إنجيل عشيّة</h4>
<p>ويعلن إنجيل عشية عن ← أعظم ثمر لإرسالية الإبن وهو جلوس البشرية (في المسيح) عن يمين الآب والنصرة الدائمة على العدو (الشيطان) &#8220;قال الرب لربي إجلس عن يميني حتى أضع أعداءك تحت قدميك&#8221;.</p>
<p></p>
<h4>انجيل باكر</h4>
<p>وفي انجيل باكر عن ← المحبة الإلهية التي إنسكبت على البشرية بإرسالية الإبن والتي فاضت في قلوب المؤمنين فأعطتهم حب بلا حدود لله وقلوب بلا جدران تجاه الآخرين &#8220;وتحب الرب إلهك من كل قلبك ومن كل نفسك ومن كل أفكارك ومن كل قوتك هذه هي الوصية الأولى، والثانية هي هذه تحب قريبك كنفسك&#8221;.</p>
<p></p>
<h4>البولس:</h4>
<p>وفي البولس يوضح أن ← <strong>غنى نعمة العهد الجديد التي حررتنا من سلطان الخطية </strong>حتى كما تسلطت الخطية في الموت هكذا تفيض وتسبغ النعمة بالبر للحياة الأبدية بيسوع المسيح ربنا &#8220;كل من يعترف أن يسوع هو إبن الله فالله يثبت فيه وهو في الله ونحن قد عرفنا وآمنا بالمحبة التي لله فينا&#8221;.</p>
<p></p>
<h4>الابركسيس:</h4>
<p>وفي الابركسيس عن ← <strong>أن سكنى الله وحضوره لم تعد قاصرة بمكان معين سواء كانت خيمة الشهادة أو الهيكل القديم، بل صارت الأرض كلها مملوءة من مجد الله وسكنى الله في قلوب أولاده</strong> &#8220;ولكن سليمان بنى له البيت ولكن العلي لا يسكن في هياكل مصنوعة بالأيدي كما قال النبي السماء كرسي لي والأرض موطئ لقدمي أي بيت تبنون لي قال الرب أو أي مكان هو مكان راحتي&#8221;.</p>
<p></p>
<h4>إنجيل القدَّاس:</h4>
<p>وفي انجيل القداس عن ← <strong>أن معرفة الآب لا تأتي إلا بالإيمان بإبنه ومن لا يقبل إرسالية الإبن سيكون غريباً عن معرفة الآب </strong>&#8220;الحق الحق أقول لكم إن الذي يقبل من أرسلني فقد قبلني والذي يقبلني فقد قبل الذي أرسلني&#8221;.</p>
<p></p>
<h3>ملخص الشرح</h3>
<ul>
<li>معرفة الآب التي غطت وجه الأرض. (مزمور عشية).</li>
<li>بهجة الخلاص والفرح السماوي. (مزمور باكر).</li>
<li>الإلتصاق بالله والرجاء به. (مزمور القداس).</li>
<li>جلوس البشرية في المسيح عن يمين الآب ونصرتها الدائمة على الشيطان. (انجيل عشية).</li>
<li>محبة الآب التي إنسكبت على المؤمنين. (انجيل باكر).</li>
<li>نعمة العهد الجديد المحررة من سلطان الخطية. (البولس).</li>
<li>الثبات في الآب في محبته. (الكاثوليكون).</li>
<li>مجد الله يملأ كل الأرض وسكنى الله وراحته في قلوب أبنائه. (الإبركسيس).</li>
<li>إرسالية الإبن هي الباب الوحيد لمعرفتنا للآب. (إنجيل القداس).</li>
</ul>
<p></p>
<h3>عظات آبائية ليوم الأربعاء من الأسبوع الخامس من الخمسين يوم المقدسة</h3>
<p></p>
<h4>من الرسائل الفصحية - للقديس أثناسيوس الرسولي<a href="#_ftn1" name="_ftnref1">[1]</a></h4>
<ul>
<li>الرسالة التاسعة والعشرون (عيد القيامة في 27 برمودة 73ش 23 أبريل 357م.)</li>
</ul>
<p>أختبر الرب تلاميذه (مر4: 37- 41) عندما كان نائما على الوسادة، في الوقت الذي فيه يصنع معجزة، وصار فيه. لأنه عندما قام وانتهر البحر، واسكت العاصفة، أظهر أمرين:</p>
<p>١- أن عاصفة البحر لم تكن بسبب الرياح (الطبيعية) بل خوفاً من ربها الذي نام فوقه .</p>
<p>٢- وأن الرب الذي انتهرها لم يكن مخلوقاً بل هو الخالق، لأن المخلوق لا يطيع مخلوقاً آخر.</p>
<p>لأنه بالرغم من أن البحر الأحمر قد انشق بواسطة موسى (خر14: 21) لكن لم يكن موسى هو الذى صنع هذا، لأن ما حدث ليس بسبب كلام موسى بل بناء على أمر الله.</p>
<p>وإن كانت الشمس قد وقفت في جبعون (يش10: 12) والقمر في وادي أيلون، إلا أن هذا لم يكن من عمل ابن نون بل من عمل الرب الذي سمع الصلاة .</p>
<p>إنه هو الذي انتهر البحر، وجعل الشمس تظلم وهو على الصليب (لو23: 45) .</p>
<p>بينما الأمور البشرية تنتهي، فأن الأمور الإلهية تبقى. لهذا السبب أيضا عندما نموت، وعندما تنتهي طبيعتنا، يقيمنا ويقودنا إلى السماء مع أننا مولودون من الأرض .</p>
<p>ليت الله يهبكم راحة.</p>
<p>إنني أعلم أنه ليس هذا الأمر فقط هو الذي يحزنكم، بل وأيضاً ما حدث من جهة اغتصاب الكنائس بالقوة (عن طريق الأريوسيين) وطردكم منها.</p>
<p>لقد احتلوا المكان لكن أنتم لكم الإيمان الرسولي.</p>
<p>هم في الأماكن حقاً، لكنهم خارج الإيمان الحقيقي، وأما أنتم فخارج الأماكن (الكنائس) حقاً، لكن الإيمان في داخلكم. واضح أنه إلإيمان الحقيقي.</p>
<p>إذا من الذي خسر أكثر؟ ومن الذي نال أكثر؟!.</p>
<p>حقا. حسن هو المكان، عندما يكرز فيه بالإيمان الرسولي، مقدس هو هذا المكان، إن كان الله القدوس ساكناً فيه!..</p>
<p>ولكن أنتم مباركون، إذ بالإيمان أنتم في داخل الكنيسة، تسكنون في أساسات الإيمان، ولكم شعبكم الكامل، إذ لم يهتز فيكم الإيمان العظيم.. لأنه إيمان مسلم بالتقليد الرسولي، وهم بالجسد يحاولون مراراً أن يهزونه لكنهم يعجزون!.</p>
<p>وعلى العكس هم قد قطعوا (من الكنيسة) بمحاولاتهم لصنع هذا.</p>
<p>فإنه مكتوب &#8220;أنت هو (المسيح) ابن الله الحي&#8221; (مت16: 16)  وقد اعترف بطرس بهذا بكشف الآب له، وقد قيل له &#8220;طُوبَى لَكَ يَا سِمْعَانُ بْنَ يُونَا، إِنَّ لَحْمًا وَدَمًا لَمْ يُعْلِنْ لَكَ، لكِنَّ أَبِي الَّذِي فِي السَّمَاوَاتِ&#8221; (مت16: 17).</p>
<p>لا يقدر أحد أن يهزم إيمانكم أيها الأخوة الأحباء إليَّ جداً.</p>
<ul>
<li>عن الرسالة الأربعين (عيد القيامة في 25 برمودة 84ش.20 أبريل 368م.)</li>
</ul>
<p>&#8220;أَنْتُمُ الَّذِينَ ثَبَتُوا مَعِي فِي تَجَارِبِي، وَأَنَا أَجْعَلُ لَكُمْ كَمَا جَعَلَ لِي أَبِي مَلَكُوتًا، لِتَأْكُلُوا وَتَشْرَبُوا عَلَى مَائِدَتِي فِي مَلَكُوتِي&#8221; (لو22: 28- 30) .</p>
<p>إذا بكوننا قد دعينا إلى العشاء السماوي العظيم، في تلك الحجرة العلوية الظاهرة ليتنا كما ينذرنا الرسول &#8220;لِنُطَهِّرْ ذَوَاتِنَا مِنْ كُلِّ دَنَسِ الْجَسَدِ وَالرُّوحِ، مُكَمِّلِينَ الْقَدَاسَةَ فِي خَوْفِ اللهِ&#8221; (2كو7: 1) حتى إذ نكون بلا دنس من الداخل والخارج نسمع &#8220;اُدْخُلْ إِلَى فَرَحِ سَيِّدِكَ&#8221; (مت25: 21).</p>
<ul>
<li>عن الرسالة الاثنان والأربعين (عيد القيامة في ۲ برمودة 86ش. 28 مارس 370م)</li>
</ul>
<p>لقد دعينا أخوة، وها هو الآن يدعونا &#8220;الحكمة&#8221; بحسب المثل الإنجيلي إلى العشاء السماوي العظيم، وهو مشبع لكل الخليقة، أقصد الفصح، أي الذي ذبح. &#8220;لأَنَّ فِصْحَنَا أَيْضًا الْمَسِيحَ قَدْ ذُبحَ&#8221; (1كو5: 7) لذلك فإن أولئك الذين تهيأوا له سيسمعون &#8220;أدخل إلى فرح الرب&#8221;.</p>
<p></p>
<h4>شرح لأنجيل القداس - القديس كيرلس الأسكندري<a href="#_ftn2" name="_ftnref2">[2]</a></h4>
<p><strong>(يو13: 18)</strong><strong> &#8220;لَسْتُ أَقُولُ عَنْ جَمِيعِكُمْ أَنَا أَعْلَمُ الَّذِينَ اخْتَرْتُهُمْ لكِنْ لِيَتِمَّ الْكِتَابُ: اَلَّذِي يَأْكُلُ مَعِي الْخُبْزَ رَفَعَ عَلَيَّ عَقِبَهُ&#8221;. </strong></p>
<p>معنى هذه الكلمات يحوي قدراً غير قليل من عدم الوضوح. فبينما يقول إن الذين يعرفون ما هو صالح ولهم غيرة أن يتمموا هذه المعرفة بالعمل، هؤلاء يكونون مباركين، فإنه يضيف في الحال: &#8220;لَسْتُ أَقُولُ عَنْ جَمِيعِكُمْ&#8221;. وأعتقد  مع كثيرين غيري  أنه يشير بهذه الكلمات إلى الخائن. فالذي يكون مكروهاً من الله، لا يمكن أن يحسب بين المباركين، وهو قد حط نفسه وأحدرها لتصير في مثل هذا الشر الشنيع.</p>
<p>ويمكن أن يكون هناك تفسير آخر لهذه العبارة. فلأن المسيح كان يقصد أنه يقول بحسب كلمة الكتاب المقدسة: &#8220;اَلَّذِي يَأْكُلُ مَعِي الْخُبْزَ رَفَعَ عَلَيَّ عَقِبَهُ&#8221; (مز٩:٤١)، فهو يشرح مقدماً بطريقة ما، ويتحاشى أن يسبب ألماً للجماعة المخلصة له من التلاميذ، ولذلك يوجه لومه لشخص واحد فقط. وحيث إنهم كانوا كلهم يأكلون خبزه، أي يشتركون في نفس الوليمة، ويتناولون الطعام الذي رتب أن يزودهم به، لذلك، فقد فعل حسناً أنه لم يدع أذهان الأبرياء أن تضطرب بمخاوف باطلة، وهو يطرد مرارة الشك بقوله: &#8220;لست أقول عن جميعكم&#8221;؛ أنا أعلم الذين إخترتهم. لكن ليتم الكتاب، الذي يأكل خبزي رفع على عقبه. &#8220;أي يعظم نفسه مزدرياً بي. إني أتصور أن الفقرة تعني شيئاً من هذا النوع.</p>
<p>والآن نقدم تعليقا آخر على هذا القول، لأجل تثبيت بسطاء الرعية. ربما يساور الشك، البعض من جهة هذه الفقرة من ناحيتين: الأولى، سيواجهنا البعض معترضين بقولهم: &#8220;إن كنا نؤمن بأن المسيح عالم بكل شيء، فلماذا إختار يهوذا؛ ولماذا جعله بين جماعة التلاميذ، إن كان يعلم أنه سيرتكب جريمة الخيانة ويسقط فريسة للطمع&#8221;؟ وسيقول آخر أيضاً &#8220;إن كان المسيح نفسه يقول، إن يهوذا رفع عقبه على سيده، ليتم الكتاب، فبذلك، يمكن أن لا يحسب يهوذا مذنباً كمسئول عن ما حدث، بل إن اللوم يجب أن يقع على القوة التي تسببت في أن &#8220;يتم الكتاب&#8221;.</p>
<p>يجب علينا الآن بسرعة أن نعطي أجوبة مفصلة على هذه الإعتراضات التي ذكرناها، ونسعى بكل إجتهاد لنقدم الدفاع المناسب في مواجهة كل منها، لأجل بنيان وراحة أولئك الذين لا يستطيعون بإمكانياتهم الذهنية أن يفهموا محتويات الكتاب الإلهي. وقبل كل شيء، يلزمنا أن نقول، إننا إن سلمنا أنفسنا لمثل هذه الإنتقادات ضد كل معاملات الله، فلن نتوقف عن أن نلوم خالقنا، بل سنشتكي دوماً ضد الله الذي خلق وأتى بالأشياء غير الموجودة إلى الوجود، وبجهل ننتقض من قدر محبته غير المحدودة للإنسان.</p>
<p>فأخبرني إذن، ما الذي يمنع آخرين من تقديم إعتراضات مثل هذه: &#8220;لماذا اخترت شاول ومسحته ملكاً على إسرائيل، وأنت تعرف أنه سوف يتجاهل فضلك عليه؟ وليس هذا فقط، بل إن مثل هذا الإتهام سيمتد ليصل إلى آدم رأس جنسنا. فبعض الذين يفكرون هكذا، ربما يقول: &#8220;لماذا خلقت وأنت العالم بكل شيء  الإنسان من تراب الأرض؟ لأنك لم تكن تجهل إنه سوف يسقط ويتعدى الوصية المعطاة له. وعلى نفس الأساس سيمضى ليقدم إعتراضات صاخبة على أمور أعلى وأكثر أهمية مثل: &#8220;لماذا خلقت طبيعة الملائكة، وأنت تعرف جيداً كإله، أن البعض منهم سيرتد ضدك. فليس جميعهم قد حفظوا رياستهم (أنظر يهوذا ١: ٦).</p>
<p>فما النتيجة التي يؤدي إليها مثل هذا التفكير؟ فإن علم الله السابق. لم يكن سيسمح له أن يظهر كخالق، ولما كانت الكائنات العاقلة قد وجدت بالمرة، وهكذا في هذه الحالة  سيكون سيداً ومهيمناً على الخليقة غيرالعاقلة فقط، ولن يكون هناك من يعترف به أنه الله بالطبيعة.</p>
<p>والآن، فإن الذين يفكرون في هذا الأمر، لابد سيدركون بوضوح، إن خالق الكل أودع في المخلوقات العاقلة قدرة على التفكير في أمورهم الخاصة، وترك لهم أن يتحركوا بحسب إتجاهات ينظمونها هم بأنفسهم، ليصلوا إلى أي هدف يختاره كل واحد منهم، وذلك بعد أن يكتشفوا بواسطة الاختبارات ما هو الطريق الأفضل. فالذين مالوا بالصواب إلى جانب الصلاح، إحتفظوا بسمعتهم الحسنة في أمان، وظلوا مشاركين للصالحات التي استؤمنوا عليها، ولم يعانوا من أي إضطراب يؤثر على هدوئهم العقلي. أما الذين فسدوا في أفكارهم الشريرة، وإنزلقوا متمردين وانحرفوا بسيول الشهوات التي لا تقاوم، فهؤلاء ينالون العقوبة التي تناسب جريمتهم؛ وبسبب عدم شكرهم التام سوف يعانون عقاباً شديداً ولا نهاية له. وطبيعة الملائكة أيضاً قد خلقت بإمكانيات وقيود مماثلة. لأن الذين &#8220;حفظوا رياستهم&#8221;، فإن مسكنهم وإقامتهم ثابتة وأكيدة في وسط الغبطة الكلية: أما الذين بميلهم إلى الشر قد سقطوا من مجدهم القديم: &#8220;قد طرحوا في سلاسل الظلام في جهنم&#8221; (أنظر٢ بط٤:٢). كما هو مكتوب &#8220;محفوظين إلى دينونة اليوم العظيم&#8221; (يهوذا٦). وبالمثل، الإنسان الأول آدم، الذي خلق في البداية. فقد كان في الفردوس، في وسط الأفراح، أي تلك الأفراح الروحانية وفي حضرة مجد الله. وكان يمكن أن يظل في تمتعه بالصالحات التي أسبغت على طبيعته في البداية، لو أنه لم يتحول إلى الإرتداد والعصيان، وبطياشة تعدى الوصية المعطاة له من الله. هكذا، أيضا فإن الله مسح شاول ملكاً، لأنه كان في البداية ذو شخصية غير وضيعة، ولكن حينما حدث تحول في سلوكه، أبعده الله من رتبته المكرمة وبهائه الملوكي.</p>
<p>وبنفس الطريقة، إختار المسيح يهوذا، وجعله بين جماعة التلاميذ، لأنه كان في البداية يتمتع بمؤهلات التلمذة. ولكن بعد فترة، حينما نجحت إغراءات الشيطان أن تجعله أسيراً للطمع الدنيء في الربح، حينما هزمته شهوة الربح، وصار خائناً عندئذ رفض من الله، وهذا لم يكن خطأ ذاك الذي دعا هذا الإنسان أن يصير رسولاً. لأنه كان في إمكان يهوذا أن ينقذ نفسه من السقوط، بأن يختار النصيب الأفضل، ويحول كل قلبه ونفسه لكي يكون تابعا مخلصاً وأميناً للمسيح.</p>
<p>أما الاعتراض الثاني، فنقدم عنه الجواب التالي: لا ينبغي أن يظن أحد أن الأقوال التي نطق بها الأنبياء القديسون تصل إلى تتميمها النهائي لمجرد أن &#8220;يتم الكتاب&#8221;. فلو كان هذا صحيحاً، فليس هناك ما يمنع أولئك الذين صاغوا سلوكهم بدقة حسب حرف الكتاب، من أن يجدوا أعذاراً للخطية غير صحيحة، أو بالحري أن يدَّعوا أنهم لم يخطئوا بالمرة. فقد يقول أحدهم &#8220;إن كان يلزم أن يتم المكتوب بمثل هذا وذاك من الأمور، فإن الذين كانوا أدوات لتميم الكتاب يجب أن يكونوا أبرياء من كل لوم. وسيظهر الكتاب الإلهي في مثل هذه الحالة &#8220;خادماً للخطية&#8221; (انظر غلا ١٧:٢)، وكأنه يحث الناس بالقوة أن يفعلوا الأفعال التي تكلم عنها، حتى أن ما نطق به في القديم يحدث فعلاً بعد ذلك.</p>
<p>ولهذا السبب، أظن أن المجادلة بهذه الطريقة، مملوءة بالتجديف، فأي إنسان، يمكن أن يكون بلا عقل سليم بالمرة حتى يفترض أن كلمة الروح القدس تكون سببا في الخطية؟ لذلك لا تعتقد أن ما يفعله أي إنسان إنما يفعله، لهذا السبب فقط، أي لكي يتم الكتاب.</p>
<p>ولكن الروح القدس قد تكلم وله علم مسبق كامل بما سوف يحدث، لكي حينما يأتي الوقت لحدوث الحدث، نجد في النبوة التي تصف الحدث، عربوناً لتأسيس إيماننا وهكذا نتمسك بالإيمان بدون أي تردد.</p>
<p></p>
<h4>معنى انجيل القداس - القديس يوحنا ذهبي الفم<a href="#_ftn3" name="_ftnref3">[3]</a></h4>
<ul>
<li>كونوا متمثلين بي كما أنا أيضًا بالمسيح (١كو ١١: ١). من أجل هذا أخذ جسدًا من جبلتنا حتى يعلمنا به الفضيلة. إذ أرسل الله ابنه في شبه جسدنا الخاطئ حتى تُدان الخطية في جسد الخطية (رو ٣: ١٨). كذلك يقول المسيح نفسه: &#8220;تعلموا مني، فإني وديع ومتواضع القلب&#8221; (مت ١١: ١٩). هذا علمنا إياه لا بالكلمات وحدها وإنما بالأعمال أيضًا.</li>
</ul>
<p>لقد دعوه سامريًا وبه شيطان ومخادعًا كما ألقوه بالحجارة، وأرسل إليه الفريسيون خدامًا ليمسكوه، ومرة أخرى لكي يجربوه، وكانوا يشتمونه، وإذ لم يجدوا فيه خطأ كان يقدم لهم خبزًا بالكلمات كما بالأعمال&#8230;</p>
<p>لنتطلع إلى ما يفعله الآن مع التلاميذ، وأية أعمال يظهرها نحو الخائن. لقد اختاره تلميذًا، وأشركه في المائدة والملح (الذي يمنع الفساد)، ورأى معجزات تستحق كل تقدير، ومع هذا صنع معه أمرًا أخطر من كل شيء، ليس برجمه أو سبه وإنما بالخيانة، ومع استحقاقه الكراهية عامله السيد بصداقة وغسل قدميه، إذ أراد بهذا أن يمنعه من الشر.</p>
<p>كان في سلطانه -لو أراد- أن يجعله يابسًا كشجرة التين، وأن يشقه إلى نصفين كما تشققت الصخور، وأن يمزقه كما انشق الحجاب، لكنه لم يرد أن يمنعه عن تحقيق خطته قهرًا إنما اختيارًا. لذلك غسل قدميه، ومع هذا لم يخجل هذا الشرير البائس.</p>
<ul>
<li>&#8220;<strong>أن تعلموا</strong>&#8221; (تعرفوا) فهذا يخص الكل، أما &#8220;<strong>أن تعملوا</strong>&#8221; فهذا ليس للكل. لهذا يقول: &#8220;<strong>طوباكم إن عملتموه</strong>&#8220;. ولهذا السبب أقول دومًا وأكرر نفس الشيء مع أنكم تعرفونه، حتى أضعكم في موضع العمل. فإنه حتى اليهود &#8220;يعرفون&#8221; لكنهم ليسوا مطوبين، لأنهم لا يعملون ما يعرفون.</li>
<li>لم يقل السيد المسيح: &#8220;من يأكل الخبز معي يسلمني&#8221;، لكنه قال: &#8220;<strong>الذي يأكل معي الخبز رفع على عقبه</strong>&#8220;، مريدًا أن يبين طبيعة اغتياله الغاشة المستورة.</li>
<li>ما علاقة هذا بما قيل قبلًا: &#8220;<strong>طوباكم إن عملتموه</strong>&#8221; حتى يضيف: &#8220;<strong>إنه يقبلكم</strong>&#8220;؟ إنه توجد علاقة قوية وتناغم قوي، فإنهم لما توقعوا أن يخرجوا إلى العالم، وأن يقاسوا شدائد كثيرة، عزاهم بأسلوبين من العزاء، الأول أوضحه لهم إذ قال: &#8220;<strong>إن علمتم هذا فطوباكم إن عملتموه</strong>&#8221; والثاني بقوله: &#8220;<strong>الذي يقبل من أرسله يقبلني</strong>&#8220;، لأنه فتح لهم بيوت جميع الذين جاءوا عندهم حتى ينالوا تعزية مضاعفة.</li>
</ul>
<p></p>
<h3>عظات آباء وخدّام معاصرين</h3>
<h4>شرح انجيل القداس – للقمص أنطونيوس فكري<a href="#_ftn4" name="_ftnref4">[4]</a></h4>
<p><strong>(يو 13: ١٦، ١٧): </strong></p>
<p><strong>&#8220;</strong><strong>اَلْحَقَّ الْحَقَّ أَقُولُ لَكُمْ: إِنَّهُ لَيْسَ عَبْدٌ أَعْظَمَ مِنْ سَيِّدِهِ، وَلاَ رَسُولٌ أَعْظَمَ مِنْ مُرْسِلِهِ. إِنْ عَلِمْتُمْ هذَا فَطُوبَاكُمْ إِنْ عَمِلْتُمُوهُ</strong><strong>&#8220;.</strong></p>
<p>المسيح يضع نفسه كمثال. وعلى التلاميذ أن يصنعوا نفس الشيء. لذلك تصلي الكنيسة طقس اللقان يوم خميس العهد (يوم صنعه المسيح) ويوم عيد الرسل فهذا عمل الرسل أن يكملوا ما عمله المسيح. وفي (١٧) حسنٌ أن نعلم والأفضل أن ننفذ (ويوجد طقس اللقان أيضًا يوم عيد الغطاس ولكن هذا إشارة للمعمودية ولا علاقة له بغسل الأرجل).</p>
<p>والسيد يطوبهم هنا لو عملوا نفس الشيء ليشجعهم في طريق خدمتهم. أي من يفعل سيكافأ في السماء. <strong>إن عملتم = </strong>هو إحساس داخلي بالحقيقة واستيعاب داخلي للدرس (البذل والاتضاع) ومن يتضع كالسيد يكون تلميذًا حقيقيًا له ورسولًا حقيقيًا له.</p>
<p><strong>(آية ١٨)</strong> &#8220;<strong>لَسْتُ أَقُولُ عَنْ جَمِيعِكُمْ. أَنَا أَعْلَمُ الَّذِينَ اخْتَرْتُهُمْ. لكِنْ لِيَتِمَّ الْكِتَابُ: اَلَّذِي يَأْكُلُ مَعِي الْخُبْزَ رَفَعَ عَلَيَّ عَقِبَهُ&#8221;.</strong></p>
<p>يهوذا لن يتقبل ولن يفهم ما أقوله فليست له محبة في داخله. الله يختار خدامه بحسب اللياقة الفردية للعمل المطلوب أداؤه، ويزود خدامه بالمعونة والتأييد، ويكمل نقائصهم إن كانوا خائفين اسمه القدوس (٢كو١٢: ٩).</p>
<p>ولكن كل إنسان حر، ولو اختار الله القديسين فقط لخدمته ينعدم مفهوم الحرية والإرادة، وينعدم مفهوم الجزاء والاجتهاد. والله اختار يهوذا كشخص متميز في الشئون المالية وظل يعلمه ويفيض عليه من محبته ثلاث سنوات وأكثر وجعله من خاصته ولكنه كان ناكرًا للجميل.</p>
<p>وبنفس الطريقة فالله اختارني فماذا أنا فاعل. وإستشهد المسيح بمزمور (٤١: ٩)، وما فيه قد قيل عن أخيتوفل الذي يرمز ليهوذا. وهو كان قريبًا جدًا لداود كما كان يهوذا.</p>
<p>ورفع العقب بعد الأكل هو من عمل الحيوان الناكر للجميل الذي بعد أن يأكل العلف يرفس صاحبه.</p>
<p>وقارن مع قول الكتاب &#8220;فسمن يشورون ورفس&#8230;&#8221; + &#8220;الثور يعرف قانيه&#8230;أما إسرائيل فلا يعرف&#8230;&#8221; (تث ١٥: ٣٢+ إش ١: ٣). <strong>أكل الخبز</strong> تعني من يحيا مع الشخص ويلتصق به.</p>
<p><strong>العقب = </strong>وهو القدم. <strong>إخترتهم = </strong>لا يعني اختيارهم للخلاص بل كتلاميذ.</p>
<p><strong>(آية ١٩)</strong> <strong>&#8220;</strong><strong>أَقُولُ لَكُمُ الآنَ قَبْلَ أَنْ يَكُونَ، حَتَّى مَتَى كَانَ تُؤْمِنُونَ أَنِّي أَنَا هُوَ</strong><strong>.&#8221;</strong></p>
<p><strong>قبل أن يكون = </strong>قبل تسليم يهوذا وقبل الصلب، <strong>حتى متى كان تؤمنون = </strong>بعد القيامة تنفتح عيونهم ويزداد إيمانهم بالمسيح الذي سيدركون وقتها أنه كان عالمًا بكل شيء حتى خيانة تلميذه، وبالتالي سيفهمون أنه سلَّم نفسه بإرادته. <strong>إني أنا هو = </strong>يهوه العالم بكل شيء وأنه سلم نفسه بإرادته.</p>
<p><strong>(آية ٢٠)</strong><strong> &#8220;</strong> <strong>اَلْحَقَّ الْحَقَّ أَقُولُ لَكُمُ: الَّذِي يَقْبَلُ مَنْ أُرْسِلُهُ يَقْبَلُنِي، وَالَّذِي يَقْبَلُنِي يَقْبَلُ الَّذِي أَرْسَلَنِي&#8221;.</strong></p>
<p>هنا يكلمهم المسيح عن إرساليتهم للعالم ليكونوا خدامًا لتطهير العالم. وهذا تشجيع لهم ليتحملوا مشاق الكرازة. بل أن يقبلوا غسيل أرجل من يضطهدهم كما غسل هو أرجل يهوذا.</p>
<hr />
<p><a href="#_ftnref1" name="_ftn1">[1]</a>  كتاب الرسائل الفصحية للقديس أثناسيوس الكبير - صفحة 77 - القمص تادرس يعقوب ملطي.</p>
<p><a href="#_ftnref2" name="_ftn2">[2]</a>  تفسير انجيل يوحنا للقديس كيرلس الاسكندري - المجلد الثاني (ص97 - 100) - ترجمة دكتور نصحي عبد الشهيد وآخرون.</p>
<p><a href="#_ftnref3" name="_ftn3">[3]</a>  تفسير إنجيل يوحنا - الإصحاح الثالث عشر - القمص تادرس يعقوب ملطي.</p>
<p><a href="#_ftnref4" name="_ftn4">[4]</a>  تفسير إنجيل يوحنا - الإصحاح الثالث عشر - القمص أنطونيوس فكري.</p>

      {% endcreateArticleAccordions %}
    </section>
  {% endblock %}
  