---
layout: 'layouts/reading.html'
title: 'يوم الخميس من الأسبوع الخامس للخماسين المُقَدَّسَة'
permalink: pentecost/5-4.html
---
  {% block content %}
    <section id="readings">
      <ul>
      {% if 'undefined' != 'undefined' %}
      
      {% else %}
      {% if '19.18:46-47' != 'null' %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">العشية</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeVespers '19.18:46-47' '43.6:70-7:1' %}
          </div>
        </div>
      </li>
      {% endif %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">باكر</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeMatins '19.118:26-27' '41.7:5-8' '' %}
          </div>
        </div>
      </li>
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <h3 class="flex items-center justify-between">
            <span class="kufi">القداس</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </h3>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeLitugy '45.6:5-11' '62.4:18-5:1' '44.7:51-54' '19.39:12' '43.17:18-21' %}
          </div>
        </div>
      </li>

      {% endif %}
        </ul>
    </section>
    <section id="article">
      <h3 class="mt-8 mb-4 heading-explain">شرح القراءات</h3>
      {% createArticleAccordions %}
        <h3>إمتداد الإرسالية</h3>
<p>تتكلم قراءات اليوم عن <strong>إمتداد الإرسالية</strong> فالكنيسة جسد المسيح هي ضمان دوام إرسالية الإبن للعالم كما قال للكنيسة جسده &#8220;أنتم نور العالم.. أنتم ملح الأرض&#8221;.. فمسئولية الكنيسة أن تُظهِر حياة الإبن وخلاصه لغير المؤمنين وتجول تصنع خيراً وتكرز ببشارة الملكوت للعالم.. وخطورة ضياع الهدف في الكنيسة أو أن يكون لها معنى أو هدف أخر غير كرازتها بإسم يسوع المخلص.</p>
<p>فكما تتكلم القراءات عن الصورة الحقيقية للكنيسة التي تستعلن فيها على الدوام <strong>إرسالية إبن الله</strong>، فهي من جانب آخر تحذر من الصورة المزيفة والمشوهة التي يقدمها المعتبرون خداماً وقادة عن كنيسة الله..</p>
<p></p>
<h4>المزامير</h4>
<ul>
<li>لذلك يبدأ<strong> مزمور عشية</strong> بالكلام عن ← <strong>مظهر من مظاهر إمتداد الإرسالية في الكنيسة، وهو ظهور خلاص الله ونصرته</strong> &#8220;ويتعالى إله خلاصي الله المعطي الإنتقام لي أخضع الشعوب تحتي&#8221;.</li>
<li>وفي<strong> مزمور باكر </strong>عن ← <strong>مكان وضوح وإشراقة الإرسالية وهي الكنيسة </strong>&#8220;مبارك الآتي بإسم الرب باركناكم في بيت الرب الله الرب أضاء علينا&#8221; (مز 117: 25).</li>
<li>وفي <strong>مزمور القداس</strong> عن ← <strong>صراخ الكنيسة وكل مؤمن لأجل دوام وجود هذه الإرسالية في الكنيسة </strong>ولأن البشر زائلون وغرباء والحق الوحيد الدائم هو المسيح الذي هو أمسا واليوم وإلى الأبد &#8220;إستمع صلاتي وتضرعي وأنصت إلى دموعي ولا تسكت عني لأني أنا غريب على الأرض ومجتاز مثل جميع آبائي&#8221; (مز38: 13).</li>
</ul>
<p></p>
<h4>إنجيل عشية</h4>
<p>ثم يوضح إنجيل عشية ← <strong>الكنيسة برعاتها الأمناء ممثلة في الآباء الرسل وكيف إختارهم المسيح ليستعلن للعالم خلال خدمتهم وكرازتهم ويدوم حضوره خلالهم، كما يحذر من الرعاة المفسدين للكرم والذين يسلبون مجد المسيح ويحجبون نوره عن العالم مثل يهوذا </strong>&#8220;أليس أنا إخترتكم أيها الإثنى عشر واحد منكم هو إبليس وكان يقول عن يهوذا سمعان الإسخريوطي لأنه كان مهتماً بأن يسلمه وهو واحد من الإثنى عشر&#8221;.</p>
<p></p>
<h4>انجيل باكر</h4>
<p>وفي انجيل باكر ← <strong>يحذر أيضاً من القيادات التي تزيف التعليم الإلهي في الكنيسة </strong>&#8220;فهم يعبدونني باطلاً إذ يعلِّمون تعاليم هي وصايا الناس لأنكم تركتم وصية الله وتمسكتم بسنة الناس&#8221;.</p>
<p></p>
<h4>البولس</h4>
<p>وفي البولس عن ← <strong>قوة القيامة والحياة الجديدة والتحرر من سلطان الخطية كعلامات على دوام إرسالية إبن الله للعالم خلال أولاد الله الشهود الأمناء </strong>&#8220;لأنه إن كنا إتحدنا معه جميعاً بشبه موته نتحد أيضاً معه بقيامته ونحن نعلم أن إنساننا القديم قد صُلب معه ليبطل جسد الخطية كي لا نعود نستعبد للخطية&#8230; كذلك أنتم أيضاً إحسبوا أنفسكم أنكم أموات عن الخطية ولكن أحياء لله بربنا يسوع المسيح&#8221;.</p>
<p></p>
<h4>الكاثوليكون</h4>
<p>وفي الكاثوليكون عن ← <strong>محبة الله التي تسكن القلب فتطرح عنه الخوف والكراهية وتجعل القلب مسكن الثالوث </strong>&#8220;لا خوف في المحبة بل المحبة التامة تلقي الخوف إلى خارج&#8230;. وكل من يؤمن بأن يسوع هو المسيح فقد ولد من الله وكل من يحب الوالد فهو يحب المولود منه أيضاً&#8221;.</p>
<p></p>
<h4>الابركسيس</h4>
<p>وفي الابركسيس عن ← <strong>المقاومين لعمل الروح القدس الذي يقود الناس إلى معرفة المسيح </strong>&#8220;يا قساة الرقاب وغير المختونين بقلوبهم ومسامعهم أنتم في كل حين تقاومون الروح القدس&#8221;.</p>
<p></p>
<h4>إنجيل القداس</h4>
<p>وفي انجيل القداس عن ← <strong>إرسالية الآب للإبن وإرسالية الإبن للكنيسة، والهدف الأعظم للإرسالية وهو الوحدة وحدة الكل في شخص المسيح</strong> &#8220;كما أرسلتني إلى العالم أرسلتهم أنا أيضاً إلى العالم &#8230;. ولست أسأل من أجل هؤلاء فقط بل أيضاً من أجل الذين يؤمنون بي بكلامهم ليكونوا جميعاً واحداً&#8221;.</p>
<p></p>
<h3>ملخص الشرح</h3>
<ul>
<li>الخلاص والنصرة هما مظهر الإرسالية وبيت الرب هو مكان الإرسالية وحضور الإبن هو الحقيقة الدائمة برغم تغير الأشخاص والرعاة. (مزمور عشية &#8211; مزمور باكر- مزمور القداس).</li>
<li>إختيار المسيح للرسل وللرعاة من بعدهم ليعلن فيهم إرساليته للعالم وخطورة تواجد رسل ورعاة الذين يسلبون مجده. (انجيل عشية).</li>
<li>القيادات التي تزيف تعليم المسيح وتقاوم الروح القدس تعطل إرسالية الإبن وتحجب نورها عن الناس. (انجيل باكر، الابركسيس).</li>
<li>قوة القيامة والحياة الجديدة والتحرر من سلطان الخطية، ومحبة الله التي تطرح أي خوف أو كراهية علامات إرسالية إبن الله خلال شهوده الأمناء. (البولس، الكاثوليكون).</li>
<li>الهدف الأعظم للإرسالية هو وحدة الكل في شخص المسيح وتصير الكنيسة أيقونة الثالوث. (إنجيل القداس).</li>
</ul>
<p></p>
<h3>عظات آبائية ليوم الخميس من الأسبوع الخامس من الخمسين يوم المقدسة</h3>
<h4>من الرسائل الفصحية &#8211; للقديس أثناسيوس الرسولي<a href="#_ftn1" name="_ftnref1">[1]</a></h4>
<ul>
<li>الرسالة الثالثة والأربعين (عيد القيامة في 22 برمودة 87ش 17 أبريل 371م.)</li>
</ul>
<p>أن دعوتنا نحن الذين من أجلنا تم الفصح، هي دعوة سماوية و&#8221;سِيرَتَنَا نَحْنُ هِيَ فِي السَّمَاوَاتِ&#8221; (في 3: 20) كقول الرسول. &#8220;لأَنْ لَيْسَ لَنَا هُنَا مَدِينَةٌ بَاقِيَةٌ، لكِنَّنَا نَطْلُبُ الْعَتِيدَةَ&#8221; (عب13: 14) وإذ نحن نتطلع إلى الأمام، نحفظ العيد كما يليق..</p>
<p>السماء هي بحق عالية، وبعدها غير محدود. إذ يقول (المرتل) &#8220;السَّمَاوَاتُ سَمَاوَاتٌ لِلرَّبِّ&#8221; (مز115: 16) لكن هذا لا يجعلنا أن نهمل أو نخاف كما لو كان هذا الطريق مستحيلاً، بل بالحري نكون مملوئين غيرةً وشوقاً. ولكن لا يكون حالنا مثل أولئك السابقين الذين تحركوا من الشرق.. وبدأوا يبنون «برجاً للسماء»، فنحتاج إلى أن نحرق اللبن بالنار، ونطلب مونة للبناء.. لأن هؤلاء قد تبلبلت ألسنتهم وفسد عملهم.</p>
<p>أما نحن فقد مهد لنا الرب طريقاً بدمه وجعله سهلاً..</p>
<p>ولم يقدم فقط لنا راحة من جهة بعد المسافة، بل أيضا بنفسه وفتح الباب لنا، الذي كان مغلقاً.</p>
<p>لأنه حقاً قد أغلق الباب من الوقت الذي خرج فيه آدم من بهجة الفردوس، وأقام شاروبيماً بسيف ملتهب بالنار.. وصار حافظاً لشجرة الحياة – والآن قد فتح الطريق..</p>
<p>والذي أقام الشاروبيم قد أظهر نعمة عظيمة وحنواً مملوء حباً، قاد معه اللص المعترف إلى الفردوس. وإذ دخل هو إلى السماء صار سابقاً لنا فاتحاً الأبواب للجميع.</p>
<p>وبولس أيضا إذ يسعى نحو الغرض لأجل جعالة الله العليا (في3: 14)  بهذا قد اختطف إلى السماء الثالثة، ورأى الأمور العلوية، ثم نزل وأخذ يعلمنا معلناً ما جاء في سفر العبرانيين &#8220;لأَنَّكُمْ لَمْ تَأْتُوا إِلَى جَبَل مَلْمُوسٍ مُضْطَرِمٍ بِالنَّارِ، وَإِلَى ضَبَابٍ وَظَلاَمٍ وَزَوْبَعَةٍ، وَهُتَافِ بُوق وَصَوْتِ كَلِمَاتٍ، اسْتَعْفَى الَّذِينَ سَمِعُوهُ مِنْ أَنْ تُزَادَ لَهُمْ كَلِمَةٌ، لأَنَّهُمْ لَمْ يَحْتَمِلُوا مَا أُمِرَ بِهِ: وَإِنْ مَسَّتِ الْجَبَلَ بَهِيمَةٌ، تُرْجَمُ أَوْ تُرْمَى بِسَهْمٍ. وَكَانَ الْمَنْظَرُ هكَذَا مُخِيفًا حَتَّى قَالَ مُوسَى: أَنَا مُرْتَعِبٌ وَمُرْتَعِدٌ. بَلْ قَدْ أَتَيْتُمْ إِلَى جَبَلِ صِهْيَوْنَ، وَإِلَى مَدِينَةِ اللهِ الْحَيِّ أُورُشَلِيمَ السَّمَاوِيَّةِ، وَإِلَى رَبَوَاتٍ هُمْ مَحْفِلُ مَلاَئِكَةٍ، وَكَنِيسَةُ أَبْكَارٍ مَكْتُوبِينَ فِي السَّمَاوَاتِ&#8221; (عب12: 18- 23).</p>
<p>من لا يريد أن يتمتع بالشركة العلوية التي مع مثل هؤلاء؟!..</p>
<p>من لا يتوق أن يحصي مع أولئك، حتى يسمع معهم &#8220;تَعَالَوْا يَا مُبَارَكِي أَبِي، رِثُوا الْمَلَكُوتَ الْمُعَدَّ لَكُمْ مُنْذُ تَأْسِيسِ الْعَالَمِ&#8221; (مت25: 34).</p>
<ul>
<li>عن الرسالة الأربعة والأربعين (عيد القيامة في 13 برمودة 88ش.8 أبريل 372م.)</li>
</ul>
<p>عندما رأى خدام رئيس الكهنة والكتبة هذه الأمور، وسمعوا الرب يقول &#8220;إِنْ عَطِشَ أَحَدٌ فَلْيُقْبِلْ إِلَيَّ وَيَشْرَبْ&#8221; (يو7: 37) أدركوا أنه ليس مجرد إنسان عادي مثلهم، بل هو هذا الذي يهب ماء للقديسين، وأنه هو الذي تنبأ عنه إشعياء. لأنه هو بحق بهاء مجد الله، وهو كلمة الله. وهكذا فهو مثل نهر روى في القديم من ينبوع الفردوس، وأما الآن فهو يعطي عطية الروح نفسها لكل البشر قائلاً &#8220;إِنْ عَطِشَ أَحَدٌ فَلْيُقْبِلْ إِلَيَّ وَيَشْرَبْ&#8221; لأن &#8220;مَنْ آمَنَ بِي، كَمَا قَالَ الْكِتَابُ، تَجْرِي مِنْ بَطْنِهِ أَنْهَارُ مَاءٍ حَيٍّ&#8221; (يو7: 38). هذا الكلام لا ينطق به إنسان، بل الله الحي، الذي بالحق يهب حياة، ويعطي الروح القدس.</p>
<ul>
<li>عن الرسالة الخامسة والأربعون (عيد القيامة في 5 برمودة 89ش.31 مارس 373م.)</li>
</ul>
<p>ليتنا نقدم تقدماتنا، مهتمين بالتوزيع على المحتاجين، وندخل في المكان المقدس كما هو مكتوب &#8220;حيث &#8220;حَيْثُ دَخَلَ يَسُوعُ كَسَابِق لأَجْلِنَا&#8221; &#8220;فَوَجَدَ فِدَاءً أَبَدِيًّا&#8221; (عب6: 20؛ 9: 12).</p>
<p>وهذا برهان عظيم أننا نحن الذين كنا غرباء، دعينا أصدقاء، وكنا قبلاً أجنبيين (عن السماء) فصرنا رعايا مع القديسين ودعينا أبناء أورشليم السماوية التي رمزت لها ما قد بناه سليمان.</p>
<p>لأنه إن كان موسى قد صنع كل الأشياء الذي رآها في الجبل، فمن الواضح أن الخدمة التي يقومون بها في الهيكل هي رمز للأسرار السماوية، التي يريدنا الرب أن ندخلها معدًا لنا طريقاً جديداً ثابتًا.</p>
<p>وإذ كانت كل الأمور القديمة رمزاً للجديدة، هكذا فإن العيد الحالي هو رمز للفرح السماوي، الذي يأتي بالمزامير والأغانى الروحية.</p>
<p>إذاً لنبدأ الأصوام.</p>
<p></p>
<h4>شرح لأنجيل القداس &#8211; القديس كيرلس الأسكندري<a href="#_ftn2" name="_ftnref2">[2]</a></h4>
<p><strong>(يو17: 19)</strong><strong> &#8220;كما أرسلتني إلى العالم أرسلتهم أنا إلى العالم، ولأجلهم أقدس أنا ذاتي، ليكونوا هم أيضا مقدسين في الحق&#8221;. </strong></p>
<p>بعد أن أعطى الرب، اسم &#8220;قدوس&#8221; للآب خاصة، وبعد أن طلب أن يحفظ تلاميذه في الحق، أي في الروح [لأن &#8220;الروح هو الحق&#8221; كما يقول الرسول يوحنا (انظريو١٦: ١٣)، كما أنه هو روح الحق أي روح الابن الوحيد نفسه (انظر يو١٣:١٦)] . فإنه يعلن أنه أرسلهم إلى العالم كما أرسله الآب إلى العالم، لأن يسوع هو رسول ورئيس كهنة إعترافنا &#8220;كما يقول بولس الرسول (انظر عب۱:۳)، وذلك بحسب ناسوته وبواسطة نزوله بالتجسد. ثم يقول، إن التلاميذ بعد أن أتم إعدادهم، يحتاجون إلى التقديس من الآب القدوس، الذي يغرس فيهم الروح القدس بواسطة الابن. لأن تلاميذ المخلص لم يكن ممكناً بالمرة أن يصيروا لامعين جداً حتى يكونوا حملة المشاعل للعالم كله، وأن يصمدوا أمام وطأة تجارب أعدائهم، وأمام هجمات الشيطان المرعبة، لو لم تكن أذهانهم قد تقوت بواسطة الشركة مع الروح القدس؛ ولما تمكنوا باستمرار أن يحققوا أمراً لم يسمع به قبلاً، ويفوق كل قدرة بشرية، ولما إنقادوا بنور الروح القدس إلى معرفة كاملة للكتب الموحي بها، والتعاليم المقدسة التي للكنيسة.</p>
<p>وإضافة إلى ذلك، فإن المخلص &#8220;فيما هو مجتمع معهم&#8221; بعد قيامته من بين الأموات، كما هو مكتوب، وإذ أمرهم أن يكرزوا بالنعمة بواسطة الإيمان في كل العالم، &#8220;أوصاهم أن لا يبرحوا من أورشليم، بل ينتظروا موعد الآب الذي سمعوه منه&#8221; (انظر أع١: ٤)، ومن أفواه الأنبياء القديسين: لأنه &#8220;يكون بعد ذلك إني أسكب روحي على كل بشر&#8221; (انظر يوئيل ٢٨:٢). والمخلص نفسه أعلن بوضوح أن روحه القدوس سيسكب عليهم، بقوله: &#8220;إن لي أموراً كثيرة لأقول لكم ولكن لا تستطيعون أن تحتملوا الآن. وأما متى جاء روح الحق، فهو يرشدكم إلى جميع الحق&#8221; (يو١٦: ١٢، ۱۳)، وأيضا وأنا أطلب من الآب فيعطيكم معزيا آخر (يو١٤: ١٦). لأن الروح القدس هو خاص بالله الآب، كما أنه خاص بالابن نفسه، لا كأن الآب والابن هما كيانين منفصلين، ولا كأن الروح موجود في أي منهما منفصلاً عن الآخر، بل إذ أن الابن بالطبيعة صادر من الآب وكائن فيه (لكونه المولود الحقيقي لجوهره)، فالروح الذي هو خاص بالآب بالطبيعة، ينزل إلى البشر، مسكوباً من الآب ولكنه يصل إلى الخليقة بواسطة الابن نفسه؛ لا كأنه خادم أو عبد ، بل هو ينبثق من جوهر الله الآب نفسه، ويسكب على أولئك الذين يستحقون أن ينالوه بواسطة الكلمة. والروح مساو للابن في الجوهر. والروح منبثق (من الآب) كاقنوم متميز، وهو قائم فيه إلى الأبد وفي وحدة معه، وأيضا له أقنوم خاص به.</p>
<p>لأننا نعتقد أن الابن له وجوده الخاص كأقنوم وهو كائن في أبيه دائماً، وله في ذاته، الآب الذي ولده؛ وأن روح الآب هو بالحقيقة روح الابن، وأنه حينما يرسل الآب روحه إلى القديسين، فإن الابن أيضا يمنح الروح لهم لأنه روحه، بسبب وحدة جوهره مع الآب. وقد أوضح الابن نفسه أن الآب يعمل بواسطته في كل شيء ، بقوله: &#8220;إنه خير لكم أن إنطلق، لأنه إن لم أنطلق لا يأتيكم المعزي ولكن إن ذهبت أرسله إليكم&#8221; (يو١٧:١٦). وأيضاً: &#8220;وأنا أطلب من الآب فيعطيكم معزياً آخر&#8221; (يو١٦:١٤). وواضح هنا أنه يعد بأن يرسل لنا المعزي.</p>
<p>وكأنه يقول: إذا حيث إن التلاميذ الذين يطيعون كلامي، قد أرسلوا إلى العالم كما أرسلت أنا، أحفظهم، أيها الآب القدوس في حقك، أي في كلمتك، الذي بواسطته يأتي الروح الذي يقدس. وما هو هدف المخلص من قوله هذا؟ إنه يسأل الآب أن يعطي لنا التقديس الذي في الروح وبواسطته، وهو يريد أن ذاك الذي كان فينا في العصر الأول للعالم، وفي بدء الخليقة (أي الروح)، أن يحييه الله في حياتنا من جديد. نقول هذا، لأن الابن الوحيد هو وسيطنا، ويقوم بدور شفيع لأجلنا أمام الآب في السماء ولكن لكي يكون شرحنا خالياً من كل غموض، ولك يكون معنى ما قل واضحا لسامعينا، فلنقل كلمات قليلة عن خلق الإنسان الأول.</p>
<p>قال موسى الموحي إليه، عن الإنسان الأول إن الله أخذ تراباً من الأرض وجبل منه الإنسان. ثم يخبرنا عن الطريقة التي بها أعطيت الحياة للجسد بعد تشكيله إذ يقول: &#8220;ونفخ في أنفه نسمة حياة&#8221; (انظر تك٧:٢)؛ ومعنى ذلك أن الحياة أعطيت للإنسان مع التقديس بواسطة الروح، ولم تكن حياة الإنسان محرومة أو مقفرة من الطبيعة الإلهية، فإنه لا يمكن أن شيئاً له أصل وضيع، أن يخلق على صورة العلي،  لو لم يكن قد أخذ ونال بواسطة الروح الذي يصوغه. كما لو كان. قناعاً جميلاً بإرادة الله، لأنه كما أن روح الله هو الشبه الكامل لجوهر الابن الوحيد حسب قول الرسول بولس: &#8220;لأن الذين سبق فعرفهم، سبق فعينهم ليكونوا مشابهة صورة إبنه &#8221; (رو۲۹:۸)، فهو (الروح) يجعل الذين يسكن فيهم مشابهين لصورة الآب، أي الابن. وهكذا تُرفع كل الأفكار إلى الآب بواسطة الابن، الذي يصدر من الآب ومعه الروح. لذلك، فهو يريد أن تجدد طبيعة الإنسان وتشكل من جديد لتكون على شكلها الأصلي بالشركة مع الروح القدس. لكي يلبسنا تلك النعمة الأولى، وإذ نتشكل من جديد لنكون مشابهين له، نستطيع أن نسود على الخطية التي تحكم في هذا العالم، ونلتصق بمحبة الله، ساعين بكل قوتنا نحو كل الأمور الصالحة، ورافعين أذهاننا فوق الشهوات الجسدية، ونحفظ جمال صورته المغروسة فينا غير مشوهة. فإن هذه هي الحياة الروحانية، وهذه هي العبادة بالروح ويمكن أن نلخص الأمر كله في أن المسيح أنعم علينا بالموهبة الإنسانية، أي التقديس بالروح والشركة مع الطبيعة الإلهية، وجعل تلاميذه هم أول من ينالونها لأنه صادق هو القول: &#8220;يجب أن الحارث الذي يتعب يشترك هو أولاً في الإثمار&#8221; (٢تي٦:٢). ولكي يكون متقدما في كل شيء (انظر كو1 :١٨)، هنا أيضاً لأنه يليق به أنه لكونه واحداً بين كثيرين، وهو إنسان مثلنا نحن البشر، ينبغي بمشابهته لنا أن يرى أنه بالحقيقية البدء، والباب والطريق لكل الصالحات لأجلنا، ولذلك أضاف هذه الكلمات &#8220;ولأجلهم أقدس أنا ذاتي&#8221; (یو۱۹:۱۷).</p>
<p>هذا القول يصعب شرحه ويعسر فهمه. ومع ذلك فإن الكلمة الذي يجعل كل الأشياء واضحة وهو الذي &#8220;يكشف العمائق من الظلام&#8221; (انظر أي٢٢:١٢)، سوف يعلن لنا أيضا هذا السر. فما يحضره أي إنسان كتقدمة مكرسة لله، يقال إنه يتقدس بحسب الناموس، كما في حالة كل بكر فاتح رحم بين بني إسرائيل، لأن الله قال لموسى القديس: &#8220;قدس لي كل بكر، كل فاتح رحم&#8221; (انظر خر۲:۱۳)، أي أن يقدمه ويكرسه ويفرزه كمقدس، نحن لا نؤكد، ولا ننصت إلى أي واحد يقترح أن الله أمر موسى أن يعطي أي تقديس بالروح، لأن قامة الكائنات المخلوقة لا تبلغ إلى القدرة أن تعمل مثل هذا العمل، بل هذا العمل لائق بالله وحده ولا يمكن أن ينسب لغيره، وأيضا حينما أراد الله أن يعين الشيوخ الذين يساعدون موسى، فهو لم يأمر موسى أن يعطي التقديس لأولئك الذين اختيروا، بل بدلاً من ذلك قال بوضوح، أنه سيأخذ من الروح الذي كان على موسى ويضع على كل واحد من الشيوخ الذين دعوا. لأن قوة التقديس بواسطة الشركة مع الروح القدس تخص فقط طبيعة ضابط الكون، وما هو معنى التقديس، أعني بحسب عادات الناموس، هذا ما يوضحه لنا سليمان بقوله: &#8220;هو شرك للإنسان أن يلغو قائلاً مقدس، وبعد النذر أن يسأل&#8221; (أم٢٥:٢٠).</p>
<p>إذاً، فحيث إن هذا هو التقديس، بحسب عادة التقديم والتخصيص فإننا نقول إن الابن قدس نفسه لأجلنا بهذا المعنى. لأنه بذل نفسه كتقدمة وذبيحة مقدسة لله الآب، &#8220;مصالحاً العالم لنفسه&#8221; (٢كو ٥: ١٩)، وأتى بالجنس البشري الذي كان قد سقط، إلى القرابة مع الآب &#8220;لأنه هو سلامنا&#8221; بحسب المكتوب (انظر أف١٤:٢).</p>
<p>وفي الحقيقة لم تكن هناك طريقة لتحقيق مصالحتنا مع الله سوى بالمسيح الذي يخلصنا ويعطينا الشركة في الروح القدس والتقديس. لأن الذي يربطنا معاً ويوحدنا مع الله هو الروح القدس، الذي عندما نناله نصير شركاء الطبيعة الإلهية، ويدخل الآب نفسه إلى قلوبنا بواسطة الابن والروح، ويوحنا الحكيم أيضا يكتب لنا عن الآب قائلا: &#8220;بهذا نعرف أننا نثبت فيه وهو فينا أنه قد أعطانا من روحه&#8221; (١يو١٣:٤). ويقول الرسول بولس أيضا &#8220;ثم بما أنكم أبناء أرسل الله ابنه إلى قلوبكم صارخاً يا أبا الآب&#8221; (غلا٦:٤). فإنه لو كنا ظللنا بدون الاشتراك في الروح القدس لما كنا قد عرفنا أن الله كائن فينا، ولو لم نكن قد إغتنينا بالروح القدس، الذي يجعلنا في رتبة البنين، لما كنا قد صرنا أبناء لله بالمرة. فكيف كان يمكن أن نكون شركاء في الطبيعة الإلهية، دون أن يكون الله فينا، وكيف كان يمكن أن نكون متحدين به بدون الشركة مع الروح القدس؟</p>
<p>ولكن الآن، نحن شركاء في الطبيعة التي تعلو على الكون وقد صرنا هياكل لله، لأن الابن الوحيد قدس ذاته لأجل &#8220;محو&#8221; خطايانا، أي أنه قدم نفسه وصار &#8220;ذبيحة مقدسة رائحة طيبة لله الآب&#8221; (انظر أف٢:٥) فهو بينما هو إله قد جاء (بالجسد) وبني جداراً فاصلاً بين الطبيعة البشرية والخطية. وهكذا فلا يوجد أي شيء يمكن أن يعوقنا عن أن ندخل إلى الله، وأن يكون لنا شركة صحيحة معه من خلال الشركة مع الروح القدس، الذي يشكلنا من جديد على البر والقداسة والمثال الأصلي للإنسان.</p>
<p>لأنه إن كانت الخطية تفصل الإنسان وتبعده عن الله، فإن البر يكون رباط إتحاد ويضعنا إلى جانب الله دون أن يفصلنا شيء عنه. لقد تبررنا بالإيمان بالمسيح. الذي &#8220;أسلم لأجل خطايانا وأقيم لأجل تبريرنا&#8221; كما يقول الكتاب (انظر رو٤:٢٥).</p>
<p>لأنه فيه كباكورة لجنسنا، أعيد تشكيل طبيعة الإنسان تماماً إلى جدة الحياة وإذ ارتفعت طبيعتنا إلى بدايتها الأولى، فإنها تشكلت من جديد للتقديس، يقول &#8220;أيها الآب قدسهم في حقك&#8221;، وذلك لأن &#8220;كلمتك هو الحق (يو۱۷:۱۷)، أي كلمتك هو أنا. لأني قدست نفسي لأجلهم، أي أتيت بنفسي كتقدمة، واحد يموت لأجل كثيرين، لكي أصلحهم إلى جدة الحياة، ولكي يكونوا مقدسين في الحق، أي فيَّ.</p>
<p>والآن، إذ قد شرحنا الحديث السابق، وصار مفهوماً بالمعنى الذي قد أعطيناه الآن، فإننا لن نتأخر عن الدخول في بحث آخر. لأنه أن نكون غيورين جداً في البحث عن معنى المقاطع الصعبة في الكتاب، ينبغي كما أعتقد أن تعطى كرامة كبيرة لمن عندهم هذه الغيرة، وأيضاً للذين يصغون إليهم بإنتباه، قال ربنا يسوع المسيح إنه قدس نفسه لأجلنا لكي نكون نحن أيضا &#8220;مقدسين في الحق&#8221;، بأي معنى تقدس هو، وهو بالطبيعة قدوس  لكي نتقدس نحن أيضاً ، دعنا إذا نبحث هذا الأمر، ونحن ملتزمون بتعاليم الكنيسة، وغير مبتعدين عن قاعدة الإيمان المستقيمة.</p>
<p>إذا، تقول إن الابن الوحيد ، إذ هو بالطبيعة الله وفي صورة الله الآب، ومساو له، &#8220;قد أخلى نفسه&#8221;  بحسب الكتاب، وصار إنساناً مولوداً من إمراة، أخذاً كل صفات طبيعة الإنسان، ما عدا الخطية، وبطريقة لا يمكن النطق بها. وحد نفسه بطبيعتنا بإرادته الحرة، لكي يجدد طبيعتنا. في نفسه أولاً، وبواسطة نفسه. إلى ذلك المجد الذي كان لها في البداية؛ وإذ أثبت أنه أدم الثاني، أي الإنسان السمائي، ولكونه المتقدم، وباكورة أولئك الذين يتم بناءهم إلى جدة الحياة، أي في عدم الفساد وفي البر والقداسة، التي بواسطة الروح القدس، فإنه من خلال نفسه يرسل العطايا الصالحة لكل جنس البشر. لهذا السبب، فرغم أنه هو الحياة بالطبيعة، صار كميت، حتى أنه إذ قد أباد قوة الموت فينا، يشكلنا من جديد بحسب حياته هو، وإذ هو نفسه بر الله الآب، صار خطية لأجلنا لأنه حسب قول النبي &#8220;يحمل هو نفسه خطايانا&#8221; (إش٤:٥٣س)، &#8220;وأحصي مع أثمة &#8221; (إش١٢:٥٣)، لكي يبررنا بواسطة نفسه، &#8220;إذ محا الصك الذي كان ضداً لنا .. مسمراً إياه بالصليب&#8221; بحسب الكتاب (كو١٤:٢). ولكونه هو نفسه أيضاً بالطبيعة قدوس كإله، وهو يمنح الخليقة كلها شركة في الروح القدس من أجل استمرارهم وثباتهم وتقديسهم، فإنه يتقدس لحسابنا في الروح القدس، وليس أحد غيره هو الذي يقدسه، بل بالحري هو نفسه يعمل بنفسه لتقديس جسده الخاص. فهو يأخذ روحه الخاص ويشترك فيه بصفته إنسائا، وهو كإله يعطي الروح لذاته، وهو قد فعل هذا لأجلنا وليس لأجل ذاته، لكي إذ تبدأ نعمة التقديس منه هو أولاً، فانها تصل حتى إلى كل جنس البشر.</p>
<p>وكما أنه بتعدي آدم وعصيانه، وهو أول جنسنا، حكم على الطبيعة البشرية بالموت، بخطية إنسان واحد، إذ سمع الإنسان الأول الحكم القائل: &#8220;لأنك تراب وإلى تراب تعود &#8221; (تك٣: ١٩)، أعتقد أنه بنفس الطريقة &#8211; بطاعة وبر المسيح، عندما صار تحت الناموس، رغم أنه كإله هو معطي الناموس. هكذا تمتد الإفخارستيا والقوة المحيية للروح القدس إلى كل البشر. لأن الروح يعيد إلى عدم الفساد ما كان قد فسد بالخطية، ويشكل إلى جدة الحياة ما كان عتيقاً، وقريباً من الاضمحلال.</p>
<p>ولكن ربما تسألون، إذاً، كيف يتقدس ذاك الذي هو بالطبيعة قدوس، وينال التقديس من خارجه؟ وبأي معنى يكون ذاك الذي يمنح الروح لكل من يستحقونه.</p>
<p>وأعني الذين في السماء والذين على الأرض. أقول كيف يمنح لذاته هذا الروح مثل هذه الأمور يصعب فحصها، أو فهمها، ويصعب شرحها، عندما تظن أن الكلمة الذي صدر من الآب كأنه خال من الروح، أو أن له الروح جزئياً فقط ولكن حينما تفكرفي التجسد الذي يفوق الإدراك واتحاد الكلمة بالجسد وتضع أمام ذهنك أن الإله الحقيقي قد صار إنساناً، مثلنا، فإنك لا تعود تندهش بعد ذلك، وتطرح عنك ارتباك الذهن، وتضع أمام أفكارك، الابن الذي هو إله وإنسان معاً في نفس الوقت، فإنك لن تفكر أن الصفات الخاصة بالبشرية ينبغي أن تطرح جانباً، وهي قد صارت لأقنوم ذاك الذي هو الابن بالطبيعة، أعني المسيح فمثلاً ألا نفكر نحن أن الموت غريب عن طبيعة الكلمة الواهب الحياة للجميع؟</p>
<p>ولكنك ستقول، إنه إحتمل الموت في الجسد، لأن الجسد مائت، ولذلك يقال إنه يموت، لأن جسده الخاص قد مات.</p>
<p>فكرتك هذه صائبة تماما، وأنت تتكلم حسناً، فهو في خطته لأجل فدائنا قدم جسده للموت، ولم يمنع بقوته الإلهية، رباطات الموت من أن تقيده. لأنه جاء بيننا وصار إنساناً، لا لأجل نفسه، بل بالحري، هو أعد الطريق بواسطة نفسه وفي نفسه  للطبيعة البشرية لكي تفلت من الموت، وترجع إلى عدم فسادها الأصلي.</p>
<p>دعنا إذا بطريقة تفكير مماثلة، نفسر طريقة تقديسه هو. هل يمكننا أن نؤكد أن الجسد  الذي من الأرض  هو مقدس بحسب طبيعته، حتى لو لم يأخذ التقديس من الله، الذي هو قدوس بالطبيعة؟ كيف يمكن أن يكون هذا؟ لأنه أي اختلاف عندئذ يمكن أن يكون بين الجسد الأرضي، وذلك الجوهر القدوس والنقي؟ وإن كان صحيحاً أن يقال إن كل المخلوقات العاقلة، بل وكل المخلوقات عموماً، لا تتمنع بالتقديس كثمرة طبيعتها الخاصة، بل هي تستعير النعمة من ذاك الذي هو بالطبيعة قدوس، ألا يكون قمة السخف أن نظن أن الجسد ليس في حاجة إلى الله، الذي يستطيع أن يقدس كل الأشياء؟ إذاً، فحيث إن الجسد ليس مقدساً من ذاته، لذلك فهو قد نال التقديس  حتى في حالة المسيح  الكلمة الذي سكن في الجسد، مقدساً هيكله بواسطة الروح القدس، وجاعلاً إياه أداة حية لطبيعته الإلهية. لهذا السبب، فإن جسد المسيح قدوس وطاهر، لكونه بحسب ما قلت حالاً-كما يقول بولس الرسول (انظر كو٩:٢) هيكل الكلمة المتحد به. لذلك، نزل عليه الروح القدس &#8211; على شكل حمامة من السماء، ولقد شهد يوحنا الحكيم بهذا، لكي تعرف أن الروح نزل على المسيح أولا كباكورة للطبيعة البشرية التي تجددت، نزل عليه كإنسان، وبهذه الصفة الإنسانية يمكن أن يتقدس. ونحن لا نقول إن المسيح صار مقدساً حينما رأى المعمدان&#8221; الروح نازلاً عليه&#8221; (انظر يو۳۲:۱)، لأنه قدوس وهو لا يزال في الرحم قبل أن يولد، فقد قال الملاك للعذراء المباركة &#8220;الروح القدس يحل عليك، وقوة العلي تظللك &#8221; (لو٣٥:١). ومع ذلك فنحن نعتقد أن جسد المسيح تقدس بواسطة الروح. فالكلمة الذي هو قدوس بالطبيعة والمولود من الآب يمسح هيكله الخاص المتحد به مثلما يمسح أجساد الآخرين المخلوقين. والمرنم إذ عرف هذا صرخ وهو ينظر إلى شخص الابن الوحيد في الجسد قائلا: &#8220;من أجل ذلك مسحك الله إلهك بدهن الابتهاج أكثر من رفقائك&#8221; (مزه٧:٤). لأنه حينما يمسح الابن هيكل جسده، يقال إن الآب هو الذي يمسح. لأن الآب يعمل بواسطة الابن. لأن كل ما يعمله الابن ينسب إلى الآب الذي منه يصدر الابن، إذ أن الآب هو الجذر والينبوع لوليده .</p>
<p>لذلك لا نتعجب عندما يعلن الرب إنه يقدس ذاته، رغم أنه هو بالطبيعة قدوس، ولا تتعجب عندما يدعى الله أباه، في الكتاب، رغم انه هو نفسه بالطبيعة إله. ولكني أرى أننا يمكن بصواب أن نستعمل مثل هذه التعبيرات دون خوف من الخطأ، بسبب احتياج العقل البشري، وذلك عن طريق التشبيه بالعلاقات البشرية. إذاً، فكما مات بالجسد لأجلنا كإنسان، رغم كونه إله بالطبيعة، وكما جعل نفسه بين المخلوقات بسبب إنسانيته، وهو يدعو الله أباه، وهو رب الكل، هكذا هو يؤكد أنه يقدس نفسه لأجلنا: لكي حينما يصل تأثير تقديسه لذاته إلينا نحن، على أساس أنه هو باكورة الطبيعة البشرية الجديدة. فنحن أيضاً يمكن أن نتقدس في الحق&#8221;، أي في الروح القدس. لأن &#8220;الروح هو الحق&#8221; كما يقول يوحنا الرسول (انظر ١يو٧:٤). لأن الروح غير منفصل عن الابن في الجوهر بأي حال، إذ أن الروح كائن في الابن وينبثق بواسطته.</p>
<p>هو يقول إنه أرسل إلى العالم، رغم أنه موجود في العالم قبل تجسده لأنه كان في العالم والعالم لم يعرفه بحسب الكتاب (انظر يوا:۱۰)، وهو يقصد أن الكيفية التي تم بها إرساله إلى العالم كانت بواسطة مسحة الروح القدس لكونه إنساناً، وهو &#8220;ملاك المشورة العظمى&#8221; حسب تشبيه النبي (انظر إش٦:٩ سبعينية). وحينما يقول إن تلاميذه أرسلوا منه ليعلنوا للعالم رسالة الإنجيل من السماء، فهو يوضح أنهم في إحتياج عظيم أن يتقدسوا في الحق، لكي يمكنهم أن يتمموا خدمة رسوليتهم إلى النهاية، بكل نجاح ونشاط.</p>
<p></p>
<h3>عظات آباء وخدّام معاصرين</h3>
<h4>الصلاة عن أبنائه &#8211; للمتنيح الأنبا أثناسيوس مطران بني سويف والبهنسا<a href="#_ftn3" name="_ftnref3">[3]</a></h4>
<p><strong>(يو17: 11- 19)</strong></p>
<p>صلى الرب عن أبنائه من أجل عدة أمور<strong>:</strong></p>
<p>(أ‌) <strong>كنت أحفظهم في أسمك:</strong></p>
<p>إنه يعلم أن الإنسان كثيرًا ما يحتاج إلى شخص يجد فيه المبادئ التي ينشدها ليمسك بيده ولو في بداية الطريق إلى أن يقوم ارتباطه بالمبادئ دون الأشخاص. ولما كان الرب ابان تجسده موجودًا معهم حسيًا، وقد آن الأوان ليرتفع، فهو يصلي ليكون الروح مشبعًا ایاهم وحافظًا وراعيًا<strong>.</strong></p>
<p>(ب‌) &#8220;<strong>ليكونوا واحدًا</strong>&#8221;</p>
<p>الكنيسة هي الوجه الظاهر للملكوت، والملكوت متسع جدًا ومنظم تمامًا. وكل مافيه مترابط في وحدة محبة وانسجام مقدسین. ولذا نراه هنا يطلب أن يكون المؤمنون واحدًا. والانقسامات الكنسية حرب شيطانية خطيرة تقسم جسد السيد المسيح، وكل مملكة تنقسم على ذاتها تخرب<strong>.</strong></p>
<p>قبل صلاة باكر من كل يوم يتلو المصلي الفصل &#8220;فأطلُبُ إلَيكُمْ، أنا الأسيرَ في الرَّبِّ: أنْ تسلُكوا كما يَحِقُّ للدَّعوَةِ التي دُعيتُمْ بها.. مُحتَمِلينَ بَعضُكُمْ بَعضًا في المَحَبَّةِ. مُجتَهِدينَ أنْ تحفَظوا وحدانيَّةَ الرّوحِ.. جَسَدٌ واحِدٌ، وروحٌ واحِدٌ&#8230;&#8221; (أف ٤: ١- 4).</p>
<p>فلنلتزم بالوحدة، ولنسرع لإصلاح أي ثلم فيها، وهكذا تكون وحدة نامية جسدًا واحدًا وروحًا واحدًا في الرب الواحد<strong>.</strong></p>
<p>(ج‌) <strong>ليس مطلوبًا أن يؤخذوا من العالم بل أن يحفظوا من شره وهم فيه</strong>.</p>
<p>والسلبية والانسحاب من الحياة لا يحلان مشكلة. والمسيحية هي التقدم لحل مشاكل الناس وليست عدم المبالاة بهم. والرسول بولس يقول لأهل كورنثوس &#8220;لا تُخالِطوا الزُّناةَ. وليس مُطلَقًا زُناةَ هذا العالَمِ، أو الطَّمّاعينَ، أو الخاطِفينَ، أو عَبَدَةَ الأوثانِ، وإلا فيَلزَمُكُمْ أنْ تخرُجوا مِنَ العالَمِ&#8221; (١كو ٥: 9، ١٠) والرب يقول &#8220;لستُ أسألُ أنْ تأخُذَهُمْ مِنَ العالَمِ بل أنْ تحفَظَهُمْ مِنَ الشِّرِّيرِ&#8221; (يو ١٧: ١٥) وقد علمنا في الصلاة الربانية &#8220;ولا تُدخِلنا التجارِب، ولكن نَجِّنا مِنَ الشِّرِّيرِ&#8221; (مت ٦: ١٣) والآباء الرهبان يقولون أن الرهبنة ليست في مجرد الخروج من العالم بل هي في خروج العالم من داخلنا، أي عدم السير وراء الشهوات، وهذا ما يقصد بالآية الأخرى، &#8220;قَدِّسهُمْ في حَقِّكَ&#8221; (يو ١٧: ١٧) فالمطلوب حياة القداسة لكل المسيحيين. وعندنا كلمة الله تهدي الطريق. والقداسة كانت من بين الصفات الباهرة التي بهرت العالم الوثني قديمًا فجعلت المسيحية تغزوه، فكان المسيحيون بقداستهم شهادة باهرة أمام الوثنيين لفعل المسيحية في تغيير الحياة فوق ما غرق فيه الناس من شهوات.</p>
<p>وهنا كلمة استعملها الرب على نفسه على الرغم من أنه بغیر حاجة لها من أي ناحية. &#8220;من أجلِهِمْ أُقَدِّسُ أنا ذاتي&#8221; (يو ١٧: ١٩) فكان هو القدوس الذي ليس فيه شر البتة ولكنه إذ يصلي ممارسًا صفة انسانية، ويطلب بلجاجة، فإنه يتكلم عن نفسه أيضًا معبرًا عن صفة إنسانية ولعله لا يقصد أنه يقدس نفسه داخلياً، بل يحفظ سلوكه في صورة القداسة حتى يقتدي به الناس ويحفظوا أنفسهم داخلياً وخارجياً.</p>
<p><strong>(يو</strong><strong>۲۰:۱۷-</strong><strong> ٢٦)</strong><strong> الكرازة</strong></p>
<p>وسائر الطلبات التي طلبها الرب هي للكنيسة كلها على مر العصور: التعليم الواعي، والوحدة، والقداسة. فهو يصلي من أجل الذين يؤمنون به بكرازة الرسل ليكونوا هم أيضا مقدسين وواحدًا. إلى أن يصلوا إلى الميراث المعد لهم &#8220;يكونونَ مَعي حَيثُ أكونُ&#8221; (يو١٧: ٢٤) في نمو مستمر وتعلم مستمر &#8220;عَرَّفتُهُمُ اسمَكَ وسأُعَرِّفُهُمْ&#8221; (يو١٧: ٢٦) فالتعليم والقداسة والوحدة مستمرة في نمو الكنيسة إلى أن تصل إلى الميراث وهناك يدخل المؤمنون في الوجه الأبدي للملكوت.</p>
<hr />
<p><a href="#_ftnref1" name="_ftn1">[1]</a>  كتاب الرسائل الفصحية للقديس أثناسيوس الكبير &#8211; صفحة 81 &#8211; القمص تادرس يعقوب ملطي.</p>
<p><a href="#_ftnref2" name="_ftn2">[2]</a>  تفسير انجيل يوحنا للقديس كيرلس الاسكندري – المجلد الثاني &#8211; ترجمة دكتور نصحي عبد الشهيد وآخرون.</p>
<p><a href="#_ftnref3" name="_ftn3">[3]</a>  كتاب تفسير إنجيل يوحنا – إصحاح ١٧ &#8211; أنبا أثناسيوس مطران بني سويف والبهنسا – اصدار لجنة التحرير والنشر بمطرانية بني سويف.</p>

      {% endcreateArticleAccordions %}
    </section>
  {% endblock %}
  