---
layout: 'layouts/reading.html'
title: 'يوم الجمعة من الأسبوع الخامس للخماسين المُقَدَّسَة'
tags: 'pentecost'
permalink: /articles/pentecost/5-5.html
---
  {% block content %}
    <section id="readings">
      <ul>
      {% if 'undefined' != 'undefined' %}
      
      {% else %}
      {% if '19.118:8-9' != 'null' %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">العشية</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeVespers '19.118:8-9' '42.14:7-11' %}
          </div>
        </div>
      </li>
      {% endif %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">باكر</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeMatins '19.118:28,21' '42.14:12-15' '' %}
          </div>
        </div>
      </li>
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <h3 class="flex items-center justify-between">
            <span class="kufi">القداس</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </h3>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeLitugy '45.6:17-22' '62.5:1-6' '44.8:1-4' '19.119:145-146' '43.17:22-26' %}
          </div>
        </div>
      </li>

      {% endif %}
        </ul>
    </section>
    <section id="article">
      <h3 class="mt-8 mb-4 heading-explain">شرح القراءات</h3>
      {% createArticleAccordions %}
        <h3>مجد الإرسالية</h3>
<p>تتكلم قراءات اليوم عن <strong>مجد الإرسالية</strong> فمجد إبن الله يختلف كلياً عن مجد العالم وعن مجد البشر:</p>
<ul>
<li>فإذا كان مجد الإنسان في جبروته وسطوته، فمجد إبن الله في إتضاعه..</li>
<li>وإذا كان مجد العالم في زيف بريقه، فمجد إبن الله في بساطته..</li>
<li>وإذا كان مجد الذات هو شهوة الإنسان الطبيعي، فإن مجد الخدمة والبذل هو شهوة أولاد الله ..</li>
</ul>
<p>لذلك تظهر <strong>قراءات اليوم</strong> ما هو مجد إبن الله، وكيف أظهر إبن الله في إرساليته جوهر المجد الحقيقي الذي يعطيه الله للإنسان وللكنيسة..</p>
<p></p>
<h4>المزامير</h4>
<p>لذلك توضح المزامير:</p>
<ul>
<li>مجد النفس الإلتصاق بالله والرجاء به وحده. (مزمور عشية).</li>
<li>و تسبيح إسمه وإستعلان خلاصه. (مزمور باكر).</li>
<li>وطلب حقوقه وحفظ وصاياه. (مزمور القداس).</li>
<li>&#8220;صالح هو التوكل على الرب أفضل من التوكل على البشر&#8221;.</li>
<li>&#8220;صالح هو الرجاء بالرب أفضل من الرجاء بالرؤساء&#8221; (مز117: 7، 8) .</li>
<li>&#8220;أنت هو إلهي فأشكرك إلهي أنت فأرفعك أعترف لك يا رب لأنك إستجبت لي وصرت لي مخلصاً&#8221; (مز117: 27، 28) .</li>
<li>&#8220;صرخت من كل قلبي فاستجبت لي يا رب أطلب حقوقك صرخت إليك فخلصني لأحفظ شهاداتك&#8221; (مز118: 112، 113).</li>
</ul>
<p></p>
<h4>إنجيل عشية</h4>
<p>وفي انجيل عشية عن ← <strong>مجد الإرسالية في الإتضاع، </strong>ولا يقصد بالإتضاع المظاهر الخارجية أو الكلمات الناعمة المصطنعة، ولكن يقصد به ضمير المتكأ الأخير.. &#8220;ولكن إذا دُعيت فإمض وإتكئ في المكان الأخير حتى إذا جاء الذي دعاك يقول لك يا صاح إرتفع إلى فوق حينئذ يكون لك مجد أمام كل المتكئين معك لأن كل من يرفع نفسه يتضع ومن يضع نفسه يرتفع&#8221;.</p>
<p></p>
<h4>انجيل باكر</h4>
<p>وفي انجيل باكر عن ← <strong>أن الخدمة الباذلة والمحبة العملية خاصة للمزدرى وغير الموجود والمحتاج والذين ليس لهم أحد يذكرهم، هذه الخدمة هي مجد إرسالية إبن الله ومجد الكنيسة في المسيح في الأرض وفي السماء</strong> &#8220;لكن إذا صنعت وليمة فإدع المساكين والضعفاء والعرج والعميان فتصير مغبوطاً إذ ليس لهم ما يكافئوك به لأنك ستعطي المكافأة عنهم في قيامة الأبرار&#8221;.</p>
<p></p>
<h4>البولس</h4>
<p>وفي البولس عن ← <strong>حياة البر والطهارة والتقوى كإعلان عملي واضح عن مجد إرسالية إبن الله في أولاده القديسين </strong>&#8220;فشكراً لله تعالى إذ كنتم عبيداً للخطية لكنكم أطعتم بقلوبكم صورة التعليم التي تسلمتموها وإذ أعتقتم وتحررتم من الخطية وصرتم عبيداً للبر والتقوى &#8230;. هكذا قدموا أعضاءكم لعبودية البر والطهارة&#8230; والآن إذ تحررتم من الخطية وصرتم عبيداً لله فلكم ثمار مطهرة مقدسة عاقبتها حياة أبدية&#8221;.</p>
<p></p>
<h4>الكاثوليكون</h4>
<p>وفي الكاثوليكون عن ← <strong>غلبة العالم بالإيمان القوي بإرسالية إبن الله لأجل خلاص العالم </strong>&#8220;لأن كل من ولد من الله يغلب العالم والغلبة التي بها نغلب العالم هي إيماننا به. من هو الذي يغلب العالم غير ذاك الذي يؤمن بأن يسوع المسيح هو إبن الله&#8221;.</p>
<p></p>
<h4>الابركسيس</h4>
<p>وفي <strong>الابركسيس </strong>عن ← <strong>أن هياج العالم على أولاد الله لا يعوق مجد إرسالية إبن الله في الكنيسة ولا يقف أمام قوة الكرازة بإسم المسيح للعالم </strong>&#8220;فأما شاول فكان يضطهد بيعة الله إذ كان يدخل المنازل ويجر الرجال والنساء ويسلمهم إلى السجن والذين تفرقوا كانوا يجولون مبشرين بكلمة الله&#8221;.</p>
<p></p>
<h4>إنجيل القداس</h4>
<p>وفي انجيل القداس عن ← <strong>المجد الإلهي الذي يمنحه إبن الله لكل المؤمنين وهو معرفة الآب وشركة الثالوث وضياء المحبة الإلهية التي أشرقت في قلب كل من يؤمن بالإبن </strong>&#8220;وأنا قد أعطيتهم المجد الذي أعطيتني ليكونوا هم أيضاً واحداً كما نحن أيضاً واحد&#8230; وعرفتهم إسمك وسأعرفهم أيضاً لتكون فيهم المحبة التي أحببتني بها وأنا أيضاً فيهم&#8221;.</p>
<p></p>
<h3> ملخص الشرح</h3>
<ul>
<li>مجد النفس الحقيقي هو في رجاؤها بالله وتسبيح إسمه وشهوة حفظ الوصية. (مزمور عشية - مزمور باكر – مزمور القداس).</li>
<li>ضمير المتكأ الأخير والمحبة الإنجيلية وخدمة المزدرى وغير الموجود إعلان واضح عن مجد إرسالية إبن الله في شهوده الأمناء. (انجيل عشية - انجيل باكر).</li>
<li>حياة البر والطهارة وغلبة العالم بالإيمان القوي بإبن الله يظهران مجد إرساليته فينا لكل العالم. (البولس - الكاثوليكون).</li>
<li>هياج العالم والأشرار لا يقف أمام مجد الكرازة بإسم المسيح لكل الأمم. (الابركسيس).</li>
<li>معرفة الآب والشركة مع الثالوث وإشراقة المحبة الإلهية في القلوب هي ثمار إرسالية إبن الله ومجدها في الخليقة الجديدة. (إنجيل القداس).</li>
</ul>
<p></p>
<h3>عظات آبائية <strong>للجمعة الخامسة للخمسين يوم المقدسة</strong></h3>
<h4>الأبن هو بالطبيعة واحد مع الآب - للقديس كيرلس الأسكندري<a href="#_ftn1" name="_ftnref1">[1]</a></h4>
<p><strong>(يو ١٧: ٢٢، ٢٣)</strong></p>
<p>&#8220;وَأَنَا قَدْ أَعْطَيْتُهُمُ الْمَجْدَ الَّذِي أَعْطَيْتَنِي، لِيَكُونُوا وَاحِدًا كَمَا أَنَّنَا نَحْنُ وَاحِدٌ. أَنَا فِيهِمْ وَأَنْتَ فِيَّ لِيَكُونُوا مُكَمَّلِينَ إِلَى وَاحِدٍ، وَلِيَعْلَمَ الْعَالَمُ أَنَّكَ أَرْسَلْتَنِي، وَأَحْبَبْتَهُمْ كَمَا أَحْبَبْتَنِي&#8221;</p>
<p>نحن نقول -وهذا حق- إن الابن الوحيد له وحدة جوهرية وطبيعية مع أبيه، إذ أنه مولود وصادر منه بمعنى حقيقي وهو كائن فيه. ورغم أنه يبدوا أن له في أقنومه كيان متميز، إلا أنه يعتبر واحداً مع أبيه بسبب وحدته في الجوهر معه. ولكن حيث إنه في تجسده لأجلنا لخلاص أنفسنا، تخلى – كما لو كان – عن ذلك الوضع الذى كان له في البدء، وأعنى مساواته مع الله الآب، ويبدوا كأنه صار بعيداً عنه، وكأنه خرج عن مجده غير المنظور، لأن هذا هو معنى تعبير &#8220;آخذاً صورة عبد&#8221; (أنظر في ٢: ٧)؛ فإن ذاك الذى كان من البدء في العرش مع الآب ينال هذا المجد وهو في الجسد، كهبة، فهذا الجسد الذى هو هيكله الترابي المائت، الذى هو حقاً جزء من طبيعته، يحتاج بالضرورة أن ينال كهبة، هذا المجد الذى كان له بالطبيعة؛ فهو صورة الآب ومساوٍ له.</p>
<p>لذلك، رغم أن الجسد الذى من رحم امرأة، أي الهيكل الذى أخذه من العذراء، ليس مساوياً بأى حال لله الآب، وليس من نفس الطبيعة معه، إلا أنه بصيرورته جسد الكلمة، فإنه صار واحداً معه. لأن المسيح واحد، والابن واحد حتى عندما صار إنساناً.</p>
<p>ومن هذه الوجهة ، يُدرك على أنه واحد مع الآب، إذ يدخل في هذا الإتحاد حتى وهو في الجسد، ذلك الجسد الذى لم يكن يتمتع أصلاً بالاتحاد مع الله. وبإختصار ووضوح أكثر، فإن الابن الوحيد يقول إن ذلك «المجد» الذي أُعطى له، إنما أُعطي لجسده، وطبعاً أُعطي كلية من الآب، من خلال الابن، في الروح. لأنه لم تكن هناك طريقة أخرى سوى هذه يمكن أن يتمم بها الاتحاد مع الله، حتى في حالة المسيح نفسه لكونه قد صار إنسانًا. أي أن الجسد تقدس بالاتحاد مع الروح، وهكذا صار الجسد مع الله الكلمة ومن خلاله وصل إلى الآب. فهو يقول: &#8220;أيها الآب هذا المجد الذى أعطيتني قد أعطيتهم ليكونوا واحداً كما أننا نحن نحن واحد&#8221;.</p>
<p>لأننا نصير واحداً بعضنا مع بعض بحسب الكيفية التي أوضحناها قبل قليل، وأيضًا نحن نصير واحداً مع الله.</p>
<p>وقد شرح الرب بأى معنى نصير نحن واحداً معه ولكى يجعل فائدة تعليمه واضحة أضاف الكلمات &#8220;أنا فيهم وأنت فىّ ليكونوا مكملين إلى واحد&#8221;. لأن الأبن يسكن فينا بمعنى جسمي كإنسان وأيضاً بمعنى روحي كإله، إذ يتحد بنا بسر الإفخارستيا بواسطة عمل روحه الفعال ونعمته، إذ يبنى أرواحنا إلى جِدة الحياة، ويجعلنا شركاء طبيعته الإلهية.</p>
<p>وهكذا نرى أن المسيح هو رباط الاتحاد بيننا وبين الله والآب، وإذ هو إله بالطبيعة والتي هي طبيعة أبيه، يجعلنا من خلال ناسوته أغصاناً له.</p>
<p>لأنه لم يكن ممكنًا للطبيعة الخاضعة للفساد أن تُرفع إلى عدم الفساد بأى طريقة أخرى سوى بأن تنزل إليها تلك الطبيعة العالية فوق كل فساد وتغيير، لكى تخفف حِمل البشرية التي كان يجعلها دائماً هابطة، حتى يمكنها أن تبلغ إلى خيرها الخاص بها، وباجتذابها إلى الشركة معها والاتصال بها، فإنها تنزع عنها الحدود الخاصة بالمخلوق وتشكلها لمشابهة ذاتها وهو ما كان متعارضاً مع طبيعتها.</p>
<p>لذلك، لقد جُعلنا مكملين في الوحدة مع الله الآب، من خلال وساطة المسيح. لأننا بقبولنا في نفوسنا ذاك الذى هو الابن بالطبيعة، بالمعنيين الجسدي والروحي، كما قلت منذ قليل، والذى له الوحدة الجوهرية مع الآب، فإننا قد تمجدنا وصرنا شركاء طبيعة الله العالي جداً.</p>
<p>فحينما يريد المسيح أن يُدخلنا إلى الاتحاد مع الله الآب ، فإنه في نفس الوقت . يُنزل على طبيعتنا هذه البركة من الآب ، ويعلن أيضاً أن القوة التي تمنحها النعمة ستكون رداً مقنعًا ضد أولئك الذين يظنون أنه ليس من الله. فأى أساس يكون هناك لهذا الاتهام الكاذب، إن كان هو يُمجد الذين قد أقبلوا إليه بالايمان والمحبة المخلصة، بالاتحاد مع الآب؟</p>
<p>وكأنه يقول: أيها الآب، حينما ينالون إتحاداً معك بواستطي، عندئذ &#8220;يعلم العالم أنك أرسلتني&#8221;، أي أنني جئت لأسعف الذين على الأرض بمحبتك الشفوقة، ولأتمم الخلاص للذين يخطئون هناك.</p>
<p>وإلى جانب ذلك، يقول إن الذين قد اشتركوا في هذه النعمة المحبوبة جدأ، يعلمون &#8220;أنك أحببتهم كما أحببتني&#8221;. لأنه بالتأكيد فإن الذى قبلنا في الاتحاد معه كبشر، وحُسبنا جديرين بحب عظيم كهذا، وأعطانا الفرصة لربح هذه البركةً، فإنه بالتأكيد يتحدث عن الحب المُعطى لنا على أنه مساوٍ لحب الآب للمسيح.</p>
<p>ولا ينبغي لأى مستمع يقظ أن يرتبك بهذا الكلام لأنه واضح، بدون جدل، أن العبد لا يمكن أن ينافس سيده والآب لن يُعطى نفس قدر الحب للمخلوقات كما يعطيه الابن. ولكن ينبغي أن نعتبر إننا ننظر هنا إلى ذاك الذى هو محبوب منذ الأزل على أنه بدأ أن يصير محبوباً حينما صار إنسانًا.</p>
<p>لذلك فإن ما أخذه وناله، سنجد أنه أخذه ليس لنفسه، بل لنا نحن.</p>
<p>فكما أنه حينما قام حياً بعد أن أخضع قوة الموت، فإنه تمم قيامته ليس لنفسه، لأنه هو الكلمة وهو الله، بل أعطى لنا هذه البركة من خلال نفسه وفى نفسه «لأن طبيعة الإنسان. كانت في المسيح كُليتها. وكانت مقيدة برباطات الموت»؛ وبالمثل ينبغي أن نقول إنه نال محبة الآب، ليس لنفسه، لأنه كان محبوباً منه دائماً منذ الأزل، بل هو بالحري يقبل هذه المحبة منه بعد تجسده، لكي يُنزل علينا محبة الآب، فكما أننا نحن منذ الآن في المسيح باكورة جنسنا، صرنا مشاركين لقيامته ومجده، هكذا أيضاً نحن محبوبون مثله؛ ولكننا نعترف بالتفوق والعلو للابن الوحيد، وننذهل بحق من رحمة الله التي لا تقارن، من نحونا، إذ هو يفيض علينا بالأشياء التي تخصه ويشركنا معه في كل ما هو خاص به وحده .</p>
<p><strong>(يو ١٧: ٢٤)</strong></p>
<p>&#8220;أَيُّهَا الآبُ أُرِيدُ أَنَّ هؤُلاَءِ الَّذِينَ أَعْطَيْتَنِي يَكُونُونَ مَعِي حَيْثُ أَكُونُ أَنَا، لِيَنْظُرُوا مَجْدِي الَّذِي أَعْطَيْتَنِي، لأَنَّكَ أَحْبَبْتَنِي قَبْلَ إِنْشَاءِ الْعَالَمِ&#8221;.</p>
<p>وبعد أن صلى لأجل التلاميذ أو بالحري لأجل كل الذين يأتون إليه بالإيمان، وبعد أن طلب من الآب أن يكون لهم معه إتحاد، ومحبة وتقديس، فهو يضيف مباشرة هذه الكلمات؛ مبيناً أن الحياة معه، وأن يحسب الإنسان مستحقاً لرؤية مجده، فهذا يخص فقط أولئك الذين سبق أن اتحدوا بالآب بواسطته، وقد حصلوا على محبته التي يحبه الآب بها.</p>
<p>فإننا محبوبون كأبناء، بحسب ما نكون مماثلين لذلك الذي هو ابنه بالطبيعة. فرغم أن محبة الآب لنا ليست بنفس قياس محبته للابن، ولكن بما أنها مشابهة تماماً لمحبة الآب للأبن ومتوافقة معها، فإنها تصور لنا مجد الابن.</p>
<p>لذلك، يقول: أيها الآب أريد أن هؤلاء الذين لي، والذين أقبلوا إليّ بالإيمان، وبالنور الصادر منك، يكونون معي وينظرون مجدي.</p>
<p>وأية لغة يمكن أن تكشف عظمة البركة المتضمنة في الوجود مع المسيح نفسه؟</p>
<p>لأن نفوسنا سوف تتمتع بغنى لا يعبر عنه أي &#8220;ما لم تره عين، ولم تسمع به أذن ولم يخطر على بال إنسان، ما أعده الله للذين يحبونه&#8221; (أنظر ١كو ٢: ٩).</p>
<p>فأي شيء يمكن أن ينقض الفرح الكامل لأولئك الذين قد خصص لهم نصيب في الوجود مع المسيح، رب الكل؟..</p>
<p>ويبدوا أن الرسول الحكيم القديس بولس قد فكر أن هذا الأمر يفوق كل إدراك، لأنه يقول: &#8220;أن أنطلق وأكون مع المسيح ذاك أفضل جداً&#8221; (أنظر في ١: ٢٣). وبالتأكيد فإن الذى فضل هذه المكأفأة العظيمة المحبوبة على الحياة في هذا العالم، سيقدم لنا الشهادة الحقيقية أن البركة التي يعطيها الرب لخاصته الذين يوجدون معه هي عظيمة جداً؛ وهو الذى يُعطي كل الأشياء لكل الناس بوفرة وسخاء.</p>
<p>والكلمة التي تكلم بها الرب بواسطته تؤيد ما نقوله، فهو إذ كان له المسيح متكلماً فيه (أنظر ٢كو ١٣: ٣)، ويعلن له قوات الدهر الآتي، تكلم هكذا: &#8220;الأموات سيقومون أولاً، ثم نحن الأحياء الباقين سنخطف جميعاً معهم في السحب لملاقاة الرب في الهواء، وهكذا نكون كل حين مع الرب&#8221; (١تس ٤: ١٦، ١٧).</p>
<p>وأيضًا فإن ربنا نفسه وعدنا بهذه البركة قائلاً: &#8220;أنا أمضى لأعد لكم مكاناً … آتى أيضاً وأخذكم إلىّ؛ حتى حيث أكون أنا تكونون أنتم أيضاً&#8221; (يو١٤: ٣).</p>
<p>فإما، نستنتج من كلامه، أنه يقصد بذلك بيتنا في السماء، أو بحسب خط تفكير آخر، سنفترض أنه سيخصص لنا نفس المكان معه: أي أمجاد وكرامات مماثلة لما له بحسب مشابهتنا له. لأننا سنكون &#8220;على صورة جسد مجده&#8221; (أنظر في ٣: ٢١)، &#8220;وسنملك معه&#8221; (2تي ٢: ١٢) كما يقول الكتاب المقدس، وهو يعد، أننا نحن أيضاً سنجلس معه متوجين في ملكوت السماوات.</p>
<p>وإذ نترك جانباً هذا الأمر، على أنه ليس موضع جدل ولا يحتاج لأى براهين أخرى، وهو أننا سنكون مع المسيح وسنشترك في مجده، وسنكون شركاء في ملكوته،</p>
<p>نأتي إلى النقطة الأخرى، وأعني الكلمات &#8220;لكى ينظروا مجدي&#8221; لذلك، فإن رؤية مجد المسيح لن تعط للدنيويين والخطاة، ولا لمن يهينون ناموس الله، بل فقط للقديسين والأبرار.</p>
<p>وهذا نعرفه أيضاً من كلام النبي: فليبعد الشرير بعيداً، لكي لا يرى مجد الرب&#8221; (إش ٢٦: ١سبعينية).</p>
<p>وأيضاً نقرأ في الإنجيل لقول مخلصنا المسيح: &#8220;طوبى لأنقياء القلب لأنهم يعاينون الله&#8221; (مت ٥: ٨). ومن هم الذين يمكنهم أن يكونوا أنقياء القلب سوى هؤلاء الذين بإتحادهم بالله بالابن في الروح القدس، قد حرروا أنفسهم من الشهوات الجسدية، وأبعدوا عن أنفسهم لذة العالم، وقد أنكروا ذواتهم وسلموا أنفسهم كلية لمشيئة الروح القدس، والذين بكل نقاوة وإخلاص صاروا مواطنين مع المسيح. وذلك مثلما كان بولس، الذي بسبب نقاوته التامة لم يخف أن يقول &#8220;مع المسيح صُلبت فأحيا لا أنا بل المسيح يحيا فىّ&#8221; (غل ٢: ٢٠).</p>
<p>وإسمع أيضاً صوت أحد القديسين مُرنماً: &#8220;قلباً نقياً أخلق فىّ يا الله وروحاً مستقيماً جدد في داخلي. لا تطرحني من قدام وجهك وروحك القدوس لا تنزعه مني. رد لي بهجة خلاصك، وبروح مدبر أعضدني&#8221; (أنظر مز٥١: ١٠– ١٢). فالمرنم يدعوا الروح بهجة الخلاص، لأنه يعطى البشر فرحاً ثابتاً ودائمًا، ويرشدهم وسط كل التغيرات والظروف في هذا العالم، لأن الروح هو روح المخلص الحقيقى الوحيد، أي المسيح. والمرنم يعطي أيضاً للرب أسماء عديدة، ويطلب قلباً نقياً في صلاته، ويسأل نوال الروح: حيث إن الذين لا يتحدون بالله. ويصيرون شركاء في بركة المسيح بواسطة الروح، لا يكون لهم قلب كامل، بل بالحري قلب متمرد ومضطرب.</p>
<p>لذلك، نلخص الكلام ونقول إن المسيح أراد أن يُمنح تابعيه خاصية الوجود معه، ورؤية مجده، لأنه يقول محبوب من &#8220;قبل إنشاء العالم&#8221;، وبهذا يبين بوضوح أن سر فدائنا الذى تممه لأجلنا هو قديم جداً، وأن طريق خلاصنا الذى تحقق من خلال وساطته، كان معروفاً سابقاً عند الله الآب.</p>
<p>ومعرفة سر فدائنا هذا لم يُمنح للبشر على الأرض في البداية، ولكن كان هناك الناموس (قبل إتمام السر). الذى كان مؤدبنا لكى يعلمنا الحياة الإلهية، معطياً لنا معرفة غامضة من خلال الرموز، إذ كان الله الآب يحفظ لنا البركة للوقت المناسب بواسطة المخلص.</p>
<p>وهذه المعرفة تبدوا لنا ذات فائدة كبيرة لكى تبين أن إزدراء أبناء إسرائيل وتذمرهم هو عديم التقوى، الذين أختاروا أن يدافعوا عن الناموس بإستمرار، حتى حينما جاء الحق، فكان يجب عليهم حينئذ أن يتخلوا عن الرموز.</p>
<p>كما أن هذه المعرفة نافعة جداً للرد على الآخرين الذين يظنون أن مشورة الآب التي رسمت السرالعظيم لفدائنا، جاءت متأخرة.</p>
<p>لذلك أيضاً قال الرسول بطرس (محطماً رأي أصحاب هذا الرأي)؛ عن المسيح أنه &#8220;معروفاً سابقاً قبل تأسيس العالم&#8221; (أنظر ١بط ١: ٢٠). ولكنه أظهر في الأزمنة الأخيرة.</p>
<p>وينبغي أن نلاحظ أيضًا، أنه يقول إن الآب قد أعطى التلاميذ أنفسهم، كما أعطاه المجد الإلهي، والسيادة الشاملة، لا بحسب صفته بالطبيعة كإله، ورب الكل، الذى له الكرامة الملوكية في ذاته، بل بالحري كإنسان ما صار بتجسده، والإنسان ينال كل الأشياء كهبات من الله، فهي ليست له بحق الميلاد. لأن المخلوقات تنال كل شيء من الله، وليس شيء بالمرة مما فيها هو لها من ذاتها، رغم إنها تبدوا أنها تملك أموراً حسنة.</p>
<p><strong>(يو١٧: ٢٥)</strong></p>
<p>&#8220;أَيُّهَا الآبُ الْبَارُّ، إِنَّ الْعَالَمَ لَمْ يَعْرِفْكَ، أَمَّا أَنَا فَعَرَفْتُكَ، وَهؤُلاَءِ عَرَفُوا أَنَّكَ أَنْتَ أَرْسَلْتَنِي&#8221;.</p>
<p>هنا، هو يدعوا الرب، &#8220;البار&#8221;، بينما كان يمكن أن يستخدم لقباً آخر فهو &#8220;الآب&#8221; قدوس، نقي، كلي الطهارة، وهو صانع العالم وخالقه، ويتصف بكل صفة أخرى تناسب ضابط الكون.</p>
<p>وينبغي أن نسأل، لماذا لقبه المسيح &#8220;بالبار&#8221;، بينما كان يمكن أن يعطيه إسماً آخر، فهو أمر نافع لنا جداً إن كنا لا ندع أي عبارة في الكتاب المقدس أن تفلت منا.</p>
<p>فحينما أراد المسيح لنا أن نتقدس بنعمة أبيه، متمماً في نفسه صفة الشفيع والوسيط، فإنه قدم شفاعته بهذه الكلمات: &#8220;أيها الآب القدس… أحفظهم في حقك&#8221; (أنظر يو ١٧: ١١، ١٧)، ويقصد &#8220;بالحق&#8221; ليس شيئًا آخر سوى روحه الذى بواسطته يحفظ نفوسنا، خاتماً إياها بشبهه، وبانياً لها بقوته التي لا يُعبر عنها، لتكون شجاعتنا غير هيابة. ويحثنا أن نظهر غيرة شديدة في أعمال صالحة كثيرة، ولا ندع شيئًا يقف في طريقنا، أو يجعلنا نتراجع، لكي بهذا نُسرع باشتياق في طريقنا لعمل مشيئة الله، ونستخف باختراعات الشيطان وبلذات العالم. لأن الذين خُتموا مرة بالروح القدس، والذين يقبلون في أذهانهم عربون نعمته، ينالون قوة في قلوبهم لأنهم يكونون &#8220;لابسين قوة من الأعالي&#8221; (أنظر لو ٢٤: ٤٩).</p>
<p>لذلك، فالمسيح طلب من الآب أن يقدسنا، لكي نتمتع ببركات هكذا عظيمة جداً. وهنا أظن أيضاً، أن مثل هذه الفكرة كانت في ذهنه. لأنه إلى جانب ما قاله عن حاجتنا للتقديس من الآب، فإنه أضاف هذه الكلمات بخصوصنا: &#8220;وأنا قد أعطيتهم المجد الذى أعطيتني ليكونوا واحد كما نحن… لأنك أحببتهم كما أحببتني&#8221; وأيضاً &#8220;أيها الآب أريد أن هؤلاء الذين أعطيتني يكونون معي حيث أكون أنا&#8221; (أنظر يو١٧: ٢٢– ٢٤).</p>
<p>وبعد أن تكلم هكذا، فأنه يدعوا الآب مباشرًة &#8220;البار&#8221; وهذا له سبب لأنه بمسرة الآب صار الابن إنساناً، لكي يمنح طبيعة الإنسان التي خُلقت لأجل أعمال صالحة، التقديس بواسطة الروح، والاتحاد مع الله، ويعطينا مكان سكني في المنازل التي فوق، لنحيا هناك ونمتلك معه. لأن الله لم يخلق الإنسان في البداية، لكي يعمل الشر، ولكن طبيعته انحرفت إلى الرذيلة بخداعات الشيطان الخبيثة، وضل بعيداً عن إرشاد يد الله له الذى كان يتمتع به أولاً. وكأن طبيعته قد اضطربت من أساسها.</p>
<p>حقاً، إنه يليق بالآب البار أن يرفع ثانية تلك الطبيعه البشرية، التي كانت قد أُسقطت بواسطة خبث الشيطان ويعيد تأسيسها في وضعها السابق الذى أُنزلت عنه على نحو غير ملائم، وأن يخلصها من نتن الخطية، ويغيرها إلى صورتها الأصلية كما كانت قد خُلقت أولاً. وأن يُخضع أيضاً العدو الذى هاجم الإنسان وتجاسر أن يدبر مكيدة لهلاكه. أي الشيطان، للعقاب، الذى يستحقه، رغم أني أظن أن أي عقاب سيكون بسيطاً، لذاك الذى أظهر مثل هذا الجنون ضد الله.</p>
<p>لذلك، يقول: &#8220;أيها الآب البار. فأنت بار وأحكامك مستقيمة&#8221; (أنظر مز١١٩: ١٣٧)؛ لأنك قد أرسلتنى إلى العالم لأنقذه وأجدده.</p>
<p>ولكن واحسرتاه على عمى العالم!.. فهو يقول: فرغم أنك بار كما قلت، فإن &#8220;العالم لم يعرفك&#8221;. لأنهم لو عرفوك لكانوا بالتأكيد قد رأوا فورًا حكمك المملوء شفقة ومحبة، وإرادتك المملوءه رحمة. ولأسرعوا لقبول مخلصهم، ولقدموا له الخدمة طوعاً.</p>
<p>إذاً فالمسيح أجرى هذا الحديث، وكأنه يقدم تشكرات نيابة عنا ولأجلنا، إذ أنه في بره، قد منح الخلاص لأولئك الذين تألموا بسبب خبث إبليس، وقد حكم على إبليس بالهلاك. وهو يقول، إن العالم، أي أولئك الذين يقاومون رسالة الإنجيل الإلهية بسبب ذهنهم العالمي، لم يعرفوا أن الآب بار، لأنه كما يقول الرسول بولس: &#8220;لأن إله هذا الدهر قد أعمى أذهان غير المؤمنين لئلا تضئ لهم انارة إنجيل مجد المسيح&#8221; (أنظر ٢كو٤: ٤).</p>
<p>ولكنه شهد لتلاميذه أنهم عرفوه ولهذا فهو يهبهم مرة أخرى كرامة عظيمة يُحسدون عليها. فهو يبين أنهم مرتفعون فوق كل خزي العالم وإذدرائه، عن طريق معرفتهم للآب، وأيضاً، بالطبع عن طريق إعترافهم أن المسيح هو الابن.</p>
<p>لذلك فحينما وجه التهمة ضد العالم بأنه لم يعرف الآب أي الإله الحي الحقيقي، فإنه في نفس الوقت، شهد للتلاميذ أنهم عرفوه، ومن هنا فهو أمر لا شك فيه، أنهم ليسوا من العالم، لأنهم قد أصبحوا خاصة المسيح الذى هو فوق العالم كقول الرسول بولس: &#8220;الذى به قد صلب العالم لي وأنا للعالم&#8221; (أنظر غل ٦: ١٤)، ويقول أيضا بخصوصنا: &#8220;الذين هم للمسيح قد صلبوا الجسد مع الأهواء والشهوات&#8221; (أنظر غل ٥: ٢٤).</p>
<p>وحينما نقول إن التلاميذ لم يكونوا من العالم، فنحن لا نقصد أنهم لم يكونوا موجودين بأجسادهم فيه لأنهم يظهرون &#8220;كأنوار في العالم ممسكين بكلمة الحياة (أنظر في٢: ١٥، ١٦). بل نحن نقصد بالحري أنهم كانوا يسيرون على الأرض، فقد كانوا مواطنين للسماء، وإذ ودعوا شهوات الجسد ورفعوا أذهانهم عالية جداً فوق كل شهوة العالم، فإنهم بلغوا إلى علو فائق في الفضيلة بحسب قول المزمور: &#8220;لأن أعزاء الله ارتفعوا جداً فوق كل الأرض&#8221; (أنظر مز٤٦: ٩ سبعينية). لأن الذين قد وصلوا إلى الرجولة الحقيقية بقوة الله، قد تركوا جانباً أفكار الأرض واتجهوا بأذهانهم نحو السماء؛ فإن هذا كما أظن هو معنى كلمة &#8220;إرتفعوا&#8221;. هو يقول إذن، أيها الآب، العالم لم يعرفك في برك. ولكن أنا عرفتك، لأني أنا لم أنظر إلى المجد الإلهي الذي هو لي بالطبيعة، بل وضعت نفسي، ونزلت إلى الفقر البشري، لكي أخلص الجنس الذى سقط بعيداً عن قرابته معنا. ورغم أن العالم لم يعرف هذا، إلا أن التلاميذ قد إغتنوا بهذه المعرفة، وأدركوا حقاً أنك أرسلتني؛ أي قد جئت لكي أجعل قصدك يصل إلى نتيجة مجيدة، بإنقاذ العالم الذي كان في خطر.</p>
<p><strong>(يو ١٧: ٢٦)</strong></p>
<p>&#8220;وَعَرَّفْتُهُمُ اسْمَكَ وَسَأُعَرِّفُهُمْ، لِيَكُونَ فِيهِمُ الْحُبُّ الَّذِي أَحْبَبْتَنِي بِهِ، وَأَكُونَ أَنَا فِيهِمْ&#8221;.</p>
<p>هو يقول إن معرفة الله الآب هي كائنه فيه في تلاميذه الذين لازموه. ولئلا ينخدع أي إنسان بإنحراف كبير في الرأي ويظن أن تلاميذه لهم هذه المعرفة بدرجة مساوية له هو، فإن المسيح يميز في الحال بينهم وبين نفسه، ويجعل الفرق واضحاً جداً، موضحاً أنه هو الذى يكشف لهم معرفة الله الآب، بينما هم حصلوا على هذه المعرفة بواسطته. لأن ربنا يسوع المسيح، إذ هو الكلمة ومشورة الآب وحكمته فهو بديهياً يعرف ما هو في داخله، ويعرف في ذاته أفكار الآب الخفية جداً، مثلما يعرف عقل أي إنسان ما فيه من أفكار، ومثلما أنه لا يُخفى شيء مما في قلوبنا عن فهمنا البشري، فإن التلاميذ، لا يتمتعون بالقدرة على صياغة أو مفهوم عن الله بفهمهم الخاص، بل هو بواسطة نور الروح القدس يحصلون على المعنى الحقيقي لأسرار الابن، وهكذا ينالون إمكانية أن يعرفوا الآب. إذاً، فهو أمر مناسب جداً، ولأجل منفعتنا، أن المسيح أضاف الكلمات التالية: &#8220;وعرفتهم اسمك وسأعرفهم&#8221;.</p>
<p>لاحظوا أيضاً، كيف أن الأقنومين، أعني الآب والابن، يعملان معاً لكي يجعلا الألوهية معروفة للبشر. لأن الآب يجعلنا حكماء بإعلان ابنه لنا، وأيضاً فإن الابن يجعلنا حكماء بإعلان الآب لنا. وقد تكلم الرب أيضاً بهذه الكلمات للمبارك بطرس في قيصرية فيلبس قائلاً: &#8220;طوبى لك ياسمعان بن يونا. إن لحماً ودماً لم يعلن لك لكن أبي الذي في السموات&#8221; (مت١٦: ١٧). لأن بطرس أعترف وأعلن إيمانه عنه أنه هو المسيح ابن الله الحي. والآن هو يقول: &#8220;وعرفتهم اسمك وسأعرفهم&#8221;. لأن الابن الوحيد لا يكف عن أن يعلن لنا معنى السر الخاص بذاته كما أعلنه لتابعيه الأولين في البداية، وهذا يفعله باستمرار، إذ يغرس في كل واحد منا نور الروح القدس، ويقود أولئك الذين يحبونه إلى معرفة تلك الأمور التي تفوق فهمهم وأدراكهم. وقد أشار إلى الغرض وإلى نوع المنفعة التي سيمنحها لنا بإعلانه أنه قد أعلن الآب للتلاميذ، وأنه سيجعله معروفاً لتابعيهم بقوله: &#8220;ليكون فيهم الحب الذى أحببتني به وأكون أنا فيهم&#8221;. لأن الذين قد جُعلوا قادرين بواسطة نقاوة الفكر، أن يعرفوا الله الآب، وقد تعلموا وتدربوا في معرفة السر الذي في المسيح، سيحصلون تماماً وسيتمتعون بلا جدال بحب الآب الكامل مثل حبه للآخرين. لأن الآب يحب ابنه محبة كاملة، والمسيح نفسه كائن في الآب مع الروح القدس، والمسيح من خلال ذاته يوحد في الشركة الروحية مع الله الآب، الإنسان الذى يعرفه، والذى يتعب في طاعة كلمة الحق الإلهي المستقيمة. هو يعرفنا اسم الآب، بإعلان نفسه لنا، إذ هو ابنه. لأن معرفة ذاك الذى ولد مرتبطة ارتباطاً لا ينفصل بمعرفة ذاك الذى ولده، والعكس أيضاً صحيح وإن كان صحيحاً أن إدراك الابن مرتبط بالضرورة بإدراك الآب، وهكذا أيضاً إدراك الآب في إدراك الأبن، ومعرفة أحدهما موجودة ضمن معرفة الآخر؛ فكيف يمكن أن يكون الابن مخلوقاً كما يدعى بعض عديمي التقوى؟ لأنه إن تكلم أحد عن الابن، فهو بذلك يقدم فكرة وجود أب له، بينما لو دعاه مخلوقاً فهو يقودهم إلى فكرة وجود صانع. ولكن بما أن الابن يدعوا الله أب وليس صانع أو خالق، فهو يعي بوضوح أنه هو نفسه إبن بالحقيقة. لذلك، فالإبن هو بالحقيقة إبن وليس مخلوقاً، كما يقولون لأن ما يقولونه يعني أن من صنعه هو خالقه. وليس أباه. ولا يقلل بأقل قدر من قوةً الحقيقة  أن لقب ابن يعتبر أمراً خاصاً بالبشر. لأن الصفات التي تخصه وهى له في ذاته لكونه بالطبيعة ابن الله أبيه، هذه الصفات أنزلها إلينا نحن، حتى أن الكتاب المقدس يعطيها لنا أحياناً وينسب لأولئك الذين هم أبناء بالتبني، الصفات التي تخص إبن بالطبيعة. وهذا ليس أمراً عجيباً، إن كنا نحن أيضاً قد حصلنا على لقب إبن، وهكذا قد شاء الله أن يكرمنا في محبته ورحمته، حتى أنه دعا أولئك الذين نشأوا من الأرض، بلقب آلهة.</p>
<p></p>
<h4>العظة الآبائية الثانية القديس غريغوريوس النيسي<a href="#_ftn2" name="_ftnref2"><sup>[2]</sup></a></h4>
<p><strong>وكما هو الحال فى أتحاد المسيح مع الأب &#8220;أنا والآب واحد&#8221; </strong>(يو١٠: ٣٠)<strong> كذلك يتم اتحاد المسيح معنا &#8220;إليه نأتي وعنده نصنع منزلاً&#8221; -</strong></p>
<p>منذ أن بدأت العروس فى السير والتقدم وهى لا تكتفى بدرجة معينة بالكمال بل تسعى دائماً وتتقدم وهى تشبه أحيانا بالفرس الذى طرح فرعون فى البحر (نش١: ٩) وبأنواع السلاسل والزينة التى حول الرقبة (نش١: ١٠، ١١) وهى قانعة بهذه الدرجات بل تصعد وتنمو دائماً حتى تصير مثل قارورة الطيب المملوءة بالرائحة الذكية حيث تأخذ من رائحة الرسالة الالهية ثم تأتي بعد ذلك الى الثمر الذى هو عناقيد العنب فى الكرمة الذى له الرائحة الذكية ثم تنمو بعد ذلك وتأخذ لقب الجميلة والمحبوبة والتي لها عينان جميلتان مثل الحمامة. ثم تتقدم أكثر فأكثر حتى تبصر جيداً وتدرك جمال الكلمة وكيف نزل كظل الى السرير فى هذه الحياة فى شكل الطبيعة البشرية حيث أشار الى التجسد &#8220;ها أنت جميل ياحبيبي وحلو وسريرنا أخضر&#8221; (نش١: ١٦) ثم تشتاق بعد ذلك الدخول فى الفضيلة فتقول &#8220;جوائز بيتنا أرز وروافدنا سرو&#8221; ( نش١: ١٧) ومعناه أن هذا الخشب (السرو) المصنوع منه أثاث البيت يرمز الى الثبات الدائم والنمو المتواصل فى الكمال لأن هذا الخشب لا يسوس ولا يعفن قط . ثم يشرح الوحي الالهي نمو النفس فى الفضيلة بمقارنتها بالسوسن بين الشوك &#8220;كالسوسنة بين الشوك كذلك حبيبتى بين البنات&#8221; (نش٢: ٢) وبعد ذلك تدرك العروس الفرق بين عريسها وبين الآخرين فتقول أنه &#8220;كالتفاح بين شجر الوعر (الغابة) كذلك حبيبى بين البنين&#8221; (نش٢: ٣) وتشعر النفس أن العريس هو مثل الربيع بين الفصول فتأتي الى ظله &#8220;تحت ظله اشتهيت أن أجلس&#8221; (نش٢: ٣) والظل هنا هو الناموس والأنبياء ثم تدخل النفس الى بيته &#8220;أدخلني الى بيت الخمر&#8221; (نش٢: ٤) وبيت الخمر هو بيت الحب (الكنيسة) حيث تزود العروس بالروائح وتتغذى بالتفاح (الأسرار) وعن طريق جروحات المحبة الغالية (الصليب) استقبلت سهمة الذي بيده اليمنى ثم صارت هى سهماً فى يده وقذف هو هذا السهم بيده اليمنى فأتت بالقرب من نفسه ورفعها بيده اليسرى ووجه رأسها الى السماء حيث الهدف الأعلى لها. وحين وصلت العروس الى مراتب الكمال فأنها تشرح للنفوس الأخرى مدى محبتها للعريس الذى تشتاق اليه وهى تثير محبتهم أيضا بنوع من القسم.</p>
<p>ولكن رغم ذلك هى لا تكف عن السعى نحو الكمال لأنه لا يوجد حدود لهذا الكمال، وعندئذ يصير أقصى ما وصلت اليه عروس النشيد كأنه بداية لما هومبسوط أمامها أن تشتاق اليه.</p>
<p>وكل هذا هو تصوير لدعوة العروس خلال سماع  حواسها الروحية للتأمل فى الأسرار الروحية فتبدأ تنظر الى من تحبه، وكأنه يظهر لها فى أشكال مختلفة، فهو هنا يُشبَّه بالظبي وبغفر الأيائل (جمع أيل) &#8220;أرجع وأشبه يا حبيبي الظبي أو غفر الأيائل على الجبال المشعبة&#8221; (نش٢: ١٧) ولكن الرؤية لا تظل على نفس المكان لأنه يقف على الجبال ويقفز من مكان لآخر.</p>
<p>ثم تصل العروس ثانية الى درجات أخرى من الكمال حينما تأتيها الدعوة ثانية أن تترك ظل الحائط وتأتى الى النور وتستريح على شقق الصخرة &#8220;في محاجىء الصخر فى ستر المعاقل&#8221; (نش٢: ١٤) ثم تنعم بوقت الربيع وتجمع الزهور وتسعد بمسرات الربيع وسط أشجان الطيور.</p>
<p>خلال كل هذا تحرز العروس كل كمال والآن هى تستعد أن تبصر وجه العريس بوضوح وصراحة وأن تنصت اليه مباشرة بدلاً من أن تسمعه خلال الآخرين. أى سعادة رائعة يمكن أن نتخيلها حين نرى الرب ويصير كل ما وصلت اليه كأنه بداية لرجائها فى الوصول الى ما لم تصل اليه.</p>
<p>وهى الآن تسمع صوت الرب مباشرة حين يأمر الصيادين ويعطيهم ثقته بخصوص الكرمة الروحية التى هى النفس أن يمسكوا الثعالب الصغيرة المفسدة. وهذا هو اتحاد الأثنين معاً. الله جاء الى النفس (بالتجسد) والنفس اتجهت لكى تتحد معه &#8220;حبيبي لي وأنا له الراعي بين السوسن&#8221; (نش٢: ١٦) أنه حول طبيعتنا من عالم الظل الى أقصى الحق وعندئذ تصعد الروح وترتقي وتتقدم من فضيلة لأخرى حتى تكمل كل رجائها فى الوصول الى أعلى القامات. لأنه بالتأكيد لا شىء يفوق فرح الوجود مع المحبوب. وحين تصل النفس الى هذه الدرجة فإن الروح تظل تبكي كما لو كانت لم تصل بعد الى هدفها، وكأنها لم تمتلك بعد ما كانت تشتاق اليه، وتظل فى شغف وشوق وتعبر عن شوقها هذا بتلك الآيات &#8220;فى الليل على فراشي طلبت من تحبه نفسي طلبته فما وجدته&#8221; (نش٣: ١، ٢) أنه لا يوجد أي حدود للوصول الى عظمة الوجود الالهي ولا يوجد أى قياس بشري للمعرفة أن يصير مبدأ لإدراك هدفنا أو يعوقنا للتقدم الدائم نحو السماء، بل إن الروح التى تسير نحو الحق فى الطرق الالهية يتم قيادتها إلى كل درجة من التقدم الروحي نحو الكمال حتى يصير الوصول الى هذا الكمال ممكناً أن يصير كأنه بداية الشوق نحو الأشياء السمائية.</p>
<p>والآن يجب أن ندرك التعاليم المقدمة الينا ونضعها في فكرنا وأن نستعد للعرس الالهي بالكامل فى الأمور الالهية السمائية، وأن نحول الفكر من المستوى الجسدي الى المستوى الروحي. ومن خلال الرموز نستطيع أن نتعلم الكثير.</p>
<p>وهنا تفسير تلك الرموز: العروس تشير الى الروح، والله هو العريس الذى تحبه الروح من كل قلبها ومن كل نفسها ومن كل قدرتها، وعندئذ تصل النفس الى أقصى أملها عندما تتحد فعلاً مع من تحبه &#8220;وجدت من تحبه نفسي فأمسكته ولم ارخه حتى أدخلته بيت أمي وحجرة من حبلت بي&#8221; (نش٣: ٤) وتتحدث النفس عن الشركة مع الله فى البر كأنه سرير &#8220;سريرنا أخضر&#8221; (نش١: ١٦) والليل يشير الى التأمل فى غير المنظور مثل موسى النبي الذي دخل فى الظلام الى حيث يوجد الله وكما يقول داود النبي &#8220;جعل الظلمة ستره حوله&#8221; (مز١٨: ١١) ولذلك تقول عروس النشيد &#8220;في الليل على فراشي طلبت من تحبه نفسي&#8221; (نش٣: ١) وحين تصل النفس الى هذه القامة فإنها تشعر أيضا أنها لم تصل الى الكمال بعد، وكأنها لم تبدأ بعد، ولكن حين تدخل النفس الى العرس الالهي فإنها تستريح فى الشركة مع الله، وكأنها تنام على سرير، ولكنها فجأة تتقدم الى العالم غير المنظور محاطة بالوجود الالهي غير المنظور، وتبحث عن ذلك الذى هو مخبأ فى السحاب المظلم غير المنظور. ثم تشعر النفس بالحب نحو ذلك الذى تشتاق اليه، واذ بالمحبوب نفسه يبقى فى أفكارنا، وعندئذ تبصره النفس بالليل على الفراش، وتتعلم من وجوده الأبدي أنه بلا بداية ولا نهاية أما جوهره وكيانه فهذا الذى لم تستطع النفس أن تدركه لذلك تقول &#8220;طلبته فما وجدته&#8221; (نش٣: ١) لقد دعوته باسمه ولكن لا يوجد أى أسم يستطيع أن يحتويه لأن اسمه لا يحده أي معنى لأنه فوق كل الأسماء، ولذلك تقول العروس طلبته فما وجدته لأنها تأكدت أنه لا نهاية لعظمة الله القدوس &#8220;عظيم هو الرب وحميد جداً وليس لعظمته استقصاء&#8221; (مز١٤٥: ٣) ثم قامت الروح بعد ذلك وتقدمت الى العالم الروحي الفائق الذى تدعوه العروس هنا &#8220;المدينة&#8221; حيث توجد الرياسات والقوات والعروش وكل أجناد الملائكة السمائيين وكل الجمع غير المحصى، ولها رجاء وأمل أن تجد ذاك الذي تحبه. وفى بحثها عنه فإنها تجد كل جيش الملائكة &#8220;وجدني الحرس الطائف فى المدينة&#8221; (نش٣: ٣) ولكنها لم تجد وسط هذه الأمور هدفها. وعندئذ تسأل النفس ذاتها هل من الممكن إدراك ذاك الذي أحبه؟.. هل رأيتم الذي تحبه نفسي؟.. ولكن كانت الإجابة الوحيدة هى الصمت، وبصمتهم أفادوها أن ما تبحث عنه هو فوق إدراكهم. وحينما ذهبت النفس بفكرها الى المدينة السمائية ولم تدرك حبيبها حتى عن الأشياء الروحية غير المادية، وعندئذ نست كل ما أخذته وحصلت عليه من مثل لأنها أدركت أن ما تبحث عنه يفوق الإدراك فى جوهره وأن كل ما يمكن أن تفهمه كأنه لا شىء ولذلك تقول &#8220;فما جاوزتهم إلا قليلاً&#8221; (نش٣: ٤). لقد تركت النفس كل المخلوقات المرئية، وكل المخلوقات الروحانية أيضاً، وعندئذ بالإيمان فقط وجدت من تحبه وأدخلته الى حجرتها (نش٣: ٤، ٥) وهذه الحجرة هى القلب الذى يدخل الله فيه، وعندئذ ترجع النفس الى حالتها الأولى التى كانت عليها منذ البدء وقامتها التى ولدت بها من الأم (فى ذلك الميلاد الثاني بالمعمودية).</p>
<p>تقول عروس النشيد &#8220;إني مريضة حباً&#8221; (نش٢: ٥).</p>
<p>وهنا تشرح العروس السهام التى أصابت قلبها والتى تركت فيها أثار هذا الحب. لأننا نعلم من الأنجيل أن &#8220;الله محبة&#8221; (١يو٤: ٨) وأن الله أرسل أبنه الوحيد لأجل خلاصنا، وقيل عنه &#8220;وجعل فمي كسيف حاد، وفى ظل يده خبأني وجعلني سهماً مبرياً فى كنانته أخفاني&#8221; (إش٤٩: ٢) والسهم هنا هو الإيمان لأن الله قد أتحد مع الإنسان الذى يلتصق به، وكما هو الحال فى أتحاد المسيح مع الأب &#8220;أنا والآب واحد&#8221; (يو١٠: ٣٠) كذلك يتم اتحاد المسيح معنا &#8220;إليه نأتي وعنده نصنع منزلاً&#8221; (يو١٤: ٢٣).</p>
<p>وحين أرتفعت الروح الى أعلا فإنها ترى فى نفسها السهم الحلو للمحبة الذى جُرحت به، وهى تبتهج بهذه الجروح وتقول لأنني مريضة حباً.. وفي الواقع هى جروح محببة وآلام حلوة لها بها تسمو النفس فوق هذا العالم، لأنه بإلقاء سهم المحبة يدخل العريس الى داخل النفس وتتحول النفس الى الفرح بدخول تلك المحبة اليها، ونحن نعرف كيف يتم توجيه السهم، وكيف تعمل كل يد. اليد اليسرى تمسك القوس، واليد اليمنى تشد الوتر للخلف وفى نفس الوقت يشد السهم الى أقصى درجة للخلف وعندئذ يضرب السهم الممسوك باليد اليسرى. وفى النص السابق وفى إشعياء النبي تصير النفس كالسهم فى يد الماسك بالقوس وهو يمسكها باليد اليمنى من ناحية وباليد اليسرى من الناحية الأخرى، وهذا له معنى مجازي فى الآية &#8221; شماله تحت رأسي ويمينه تعانقني&#8221; (نش٢: ٦) وتفسير هذه الآيه أنه باليد اليمنى يعطي العمر الطويل فى الأبدية وبيده اليسرى يمنحنا الغنى والمجد الأبدي. لذلك الذين يجرون وراء مجد العالم لا يمكنهم أن يتحدوا مع الله. وحينما تقول العروس شماله تحت رأسي فهي تشرح الطريق التي يصوب بها السهم للهدف، لأنه باليد اليمنى يشد النفس للخلف ثم يدفعها للسماء فتسرع الى هناك ولكن دون أن تنفصل عن رامي السهم &#8220;في كنانته أخفاني&#8221; (إش٤٩: ٢) فالنفس تحمل الى هناك وتستريح فى يديه كما يخبرنا الأمثال &#8220;في يمينها طول أيام وفى يسارها الغنى والمجد&#8221; (أم٣: ١٦).</p>
<p></p>
<h4>مجد البشرية في المسيح - القديس غريغوريوس النيسي<a href="#_ftn3" name="_ftnref3"><sup>[3]</sup></a></h4>
<p><strong>واحدة هى حمامتي</strong>:</p>
<p>&#8220;وَاحِدَةٌ هِيَ حَمَامَتِي كَامِلَتِي الْوَحِيدَةُ لأُمِّهَا هِيَ عَقِيلَةُ (ابنة) وَالِدَتِهَا هِيَ&#8221; (نش٦: ٩).</p>
<p>يتضح معنى هذه الآية من كلمات الرب يسوع المسيح فى الأنجيل حين بارك تلاميذه القديسين وأعطاهم قوة وفى صلاته للآب منحهم الوحدة التى هى قمة كل بركة &#8220;ليكون الجميع واحداً&#8221; (يو١٧: ٢١) تلك هى وحدانية البر والسلام التى تحدث عنها بولس الرسول &#8220;مجتهدين أن تحفظوا وحدانية الروح برباط السلام&#8221; (أف٤: ٣). فانه خلال الأتحاد مع الروح القدس يجعل المؤمنين جسداً واحداً له هدف واحد هو الرب يسوع &#8220;ليكونوا واحداً كما أننا نحن واحد&#8221; (يو١٧: ٢٢). &#8220;وأعطيتهم المجد الذى أعطيتني&#8221; (يو١٧: ٢٢)&#8230;&#8230; وقد أعطى لتلاميذه هذا المجد حين قال لهم &#8220;أقبلوا الروح القدس&#8221; (يو٢٠: ٢٢) وهذا المجد كان للمسيح ويمتلكه قبل كون العالم، والآن قد تمجدت الطبيعة البشرية بالروح القدس.</p>
<p>وهذا الاشتراك فى المجد بالروح القدس قد أعطى لكل الذين يتمجدون به منذ تأسيس الكنيسة عن طريق التلاميذ ولهذا يقول الرب يسوع المسيح &#8220;وأنا قد أعطيتهم المجد الذي أعطيتني ليكونوا واحداً كما أننا نحن واحداً. أنا فيهم وأنت فيَّ ليكونوا مكملين الى واحد&#8221; (يو١٧: ٢٢) والذى ينمو من الطفولة الروحية الى النضج الكامل ومن العبودية الى البنوة قد أخذ روح التجدد والطهارة وعندئذ يقول العريس لهذه النفس &#8220;واحدة هي حمامتي كاملتي. الوحيدة لأمها&#8221; (نش٦: ٩) بالتأكيد نحن نعرف من هى أم تلك الحمامة لأننا نعرف أصل الشجرة من ثمارها، فاذا رأينا انساناً فإننا نعرف أنه مولود من انسان. واذا رأينا تلك الأم فإننا سنعرف من هى ابنتها الحمامة التى نتحدث عنها لأننا نرى طبيعة الآباء فى أبنائهم. ونسل الروح هو روح. واذا كان النسل حمامة فلابد أن تكون الأم هى الحمامة التى نزلت من السماء واستقرت فى الأردن كما شهد يوحنا المعمدان بذلك. هذه هى الحمامة التى مدحتها بنات أورشليم &#8220;رأتها البنات فطوبتها، الملكات والسرارى فمدحتها&#8221; (نش٦: ٩) كل البشر يحبون أن يمدحوا ويمجدوا، لهذا فان البنات طوبن الحمامة، وكلهن اشتقن أن يصيروا مثلها ومدحهن لها هو شوق أن يصيروا مثلها فيصير الكل واحداً.</p>
<p>لأن الكل سوف يأتي الى تلك النهاية حين يصير الله الكل فى الكل وسوف يتم تحطيم الشر نهائياً ويصير الكل متحدين متوافقين فى شركتهم مع الله.</p>
<p></p>
<h4>مجد الوحدانية أعظم من الآيات - القديس يوحنا ذهبي الفم<a href="#_ftn4" name="_ftnref4"><sup>[4]</sup></a></h4>
<ul>
<li>&#8220;<strong>المجد الذي أعطيتني أعطيتهم</strong>&#8220;، لكي بالآيات وبالعقائد يلزمهم أن يكونوا نفسًا واحدة. <strong>فإن هذا هو المجد أن يكونوا واحدًا، وهذا أعظم حتى عن الآيات</strong>. فكما أننا نعجب من الله حيث لا يوجد في طبيعته صراع أو خلاف، وهذا هو مجده العظيم، هكذا يقول أيضًا ليت هذه الأمور تكون علة للمجد. قد يسأل أحد: كيف يسأل الأب أن يعطيهم هذه بينما يقول أنه هو نفسه يعطيهم إياها؟ سواء كانت عظته خاصة بالعجائب أو الانسجام بينهم أو السلام، فإنه هو يهبهم هذه الأمور، بينما يقدم هذه الطلبة لكي يهبهم راحة «أنه يطلب من الآب عنهم».</li>
<li>قال: &#8220;<strong>أيها الآب أريد أن هؤلاء الذين أعطيتني يكونون معي حيث أكون أنا&#8221;</strong> هذا هو ما ابتغوه، إذ كثيرًا ما كانوا يقولون: &#8220;يا سيد إلى أين تذهب؟&#8221; (يو13: 36). قال السيد المسيح للآب: &#8220;<strong>لينظروا مجدي</strong>&#8220;، إذ يذكر هنا بطريقة غامضة أن <strong>الراحة كلها هي أن ينظر تلاميذه إلى ابن الله، هذا يجعلهم يتمجدون. </strong>هذا ذكره بولس الرسول قائلًا: &#8220;ونحن جميعًا ناظرين مجد الرب بوجهٍ مكشوفٍ كما في مرآة، نتغير إلى تلك الصورة عينها، من مجدٍ إلى مجدٍ كما من الرب الروح&#8221;(2كو3: 18). وكما أن الذين ينظرون إلى أشعة الشمس ويتمتعون بهواء لطيف، يتمتعون بمعاينتهم هذا، هكذا يكون حالنا، حينئذ يقدم لنا هذا النظر لذة أكثر من لذة الناظرين إلى أشعة الشمس بكثير.</li>
<li>قد أرانا هنا أنه لا يعرف الله (الآب) إلا الذين عرفوا ابنه، وكأن السيد المسيح يقول للآب: كنت أشاء أن يكون للناس نصيبهم إلا أنهم لم يعرفوك. وعلى ما يلوح لظني أنه يقول هنا هذا القول مستصعبًا غباوتهم، لأنهم لم يريدوا أن يعرفوا هذه الصفة إنه صالح وبار.</li>
<li>سنتمتع نحن أيضًا حسب قياسنا، إن كنا متعقلين. لذلك يقول بولس: &#8220;إن كنا نتألم معه فنتمجد أيضًا معه&#8221; (رو8: 17). أما الذين ببلادتهم ونومهم يعملون ضد أنفسهم، حينما يُقدم أمامهم مثل هذا المجد وعدم دخولهم الجحيم، حين يكون في قدرتهم أن يملكوا ويتمجدوا مع ابن الله، ومع ذلك يحرمون أنفسهم من بركات عظيمة كهذه، هؤلاء يستحقون ربوات الدموع ويصيرون أكثر بؤسًا من أي كائن.</li>
<li>أرأيت كيف بلغ السيد المسيح بكلامه إلى غاية جيدة؟ إلى المحبة التي هو أم الأفعال الحسنة كلها وكمالها&#8230; ليتنا إذن نؤمن بالله ونحبه، فلا يقال لنا: &#8220;يعترفون بأنهم يعرفون الله، ولكنهم بالأعمال ينكرونه&#8221; (تي1: 16) مرة أخري:&#8221;فقد أنكر الإيمان وهو شرٌّ من غير المؤمن&#8221; (1تي5: 8). لأنه بينما يهتم (غير المؤمن) بأهله وأقاربه والغرباء لا تسعف أنت حتى الذين ينتمون إلى عائلتك، فأي عذر لك عندما يُجدف علي الله ويُهان بسببك؟.</li>
</ul>
<p></p>
<h3>عظات آباء وخدّام معاصرين</h3>
<h4>الإيمان والرجاء - لقداسة البابا تواضروس الثاني<a href="#_ftn5" name="_ftnref5">[5]</a></h4>
<p><strong>(يو 17: 22- 26)</strong></p>
<p>&#8220;أَنَا فِيهِمْ وَأَنْتَ فِيَّ لِيَكُونُوا مُكَمَّلِينَ إِلَى وَاحِدٍ&#8221; (ع ٢٣)</p>
<p>هذا تعبير عن الإيمان.</p>
<p><strong>الإيمان:</strong> ثقة كاملة في الله الذي يعمل، وهى تأتي بصيغة الفعل (وليس الأسم) في إنجيل يوحنا وتتكرر ١٠٠ مرة في مقابل ١١ مرة في إنجيل متى و١٤ في إنجيل مرقس و٩ في إنجيل لوقا. وهذا يعني سُلطان المسيح العامل فىّ.</p>
<p>&#8220;إِذَا سِرْتُ فِي وَادِي ظِلِّ الْمَوْتِ لاَ أَخَافُ شَرًّا، لأَنَّكَ أَنْتَ مَعِي&#8221; (مز٢٣: ٤)، &#8220;اَلرَّبُّ نُورِي وَخَلاَصِي، مِمَّنْ أَخَافُ؟ الرَّبُّ حِصْنُ حَيَاتِي، مِمَّنْ أَرْتَعِبُ؟&#8221; (مز2٧: ١).</p>
<p>وحياة الإيمان حياة مليئة بالرجاء، وأعظم مثال للرجاء قصة مريم المجدلية، لذا ضع أمام عينيك أن الحياة ليست موقف واحد بل عدة مواقف. ولكن احذر في جميعها من أخطر عدو وهو &#8220;قطع الرجاء&#8221; أو اليأس.</p>
<p>إننا نصلى في أوشية المرضى:</p>
<p>&#8220;يا رجاء من ليس له رجاء.</p>
<p>مُعين من ليس له معين.</p>
<p>عزاء صغيري القلوب.</p>
<p>ميناء الذين في العاصف&#8221;.</p>
<p>وتذكَّر قصة الإبن الضال الذى فقد كل شيء إلاّ رجاءه، وعلى هذا الرجاء عاد إلى بيته .</p>
<p>وتذكّر إبراهيم أبو الآباء وسارة العاقر&#8230;</p>
<p>وكذلك زكريا وأليصابات زوجته.</p>
<p><strong>إن المحبة لها جناحين هما: الإيمان والرجاء.</strong></p>
<p><strong>إتَّكِل عليه:</strong><strong> </strong></p>
<ul>
<li>الله هو الساعى لأرضنا بالتجسد.</li>
<li>وهو الداعي لخلاصنا بالصليب والفداء.</li>
<li>وهو الراعى لحياتنا وكل أيام عمرنا.</li>
</ul>
<p>ولذلك نعرف أنه يتعامل معنا من خلال ثلاثة قوانين:</p>
<ul>
<li>هو صانع الخيرات على الدوام &#8220;كُلَّ الأَشْيَاءِ تَعْمَلُ مَعًا لِلْخَيْرِ لِلَّذِينَ يُحِبُّونَ اللهَ&#8221; (رو ٨: ٢٨).</li>
<li>وهو محب البشر جميعاً وحتى الإنسان الخاطئ يُحبه وإن كان لا يحب خطيته بالطبع.</li>
<li>وهو ضابط الكل ما يرى وما لا يرى. الكل في قبضة يده وليس شيء خارج عن سلطانه.</li>
</ul>
<p>ولأنه كذلك فإننا نحصد بركات القيامة في حياتنا لأنه:</p>
<ul>
<li>ملك السلام ← مصدر السلام الحقيقي.</li>
<li>واهب الفرح ← مُعطي الفرح الحقيقي.</li>
<li>مانح الرجاء ← مانح الرجاء الحقيقي.</li>
</ul>
<p>إن المرنم داود يوصينا في (مز٣٧: ٥) &#8220;سَلِّمْ لِلرَّبِّ طَرِيقَكَ وَاتَّكِلْ عَلَيْهِ وَهُوَ يُجْرِي&#8221; .</p>
<h4>الصلاة الأخيرة - للمتنيح الأنبا أثناسيوس مطران بني سويف والبهنسا<a href="#_ftn1" name="_ftnref1">[6]</a></h4>
<p><strong>الإصحاح السابع عشر من انجيل معلمنا يوحنا البشير</strong></p>
<p>كان الرب يصلي كثيراً. وكان أحيانا يطيل الصلاة مثلما حدث ليلة التجلي، أو يقضي الليل كله في الصلاة مثلما في ليلة أختياره التلاميذ (لو٦: ١٢) أو ليلة القبض عليه. والصلاة المذكورة في هذا الإصحاح لم ترد في الأناجيل الأخرى. اذ يبدو أنها كانت في البيت حيث أكلوا الفصح، فأنها غير الصلاة التي أوردتها الأناجيل الأخرى عن البستان، فإنه خرج بعدها إلى البستان (يو۱۸: ۱).</p>
<p><strong>(۱</strong><strong>:</strong><strong>۱۷</strong><strong>- </strong><strong>۱۰)</strong> <strong>مجد وحياة</strong></p>
<p>بعد أن دخل الرب أورشليم ظهر صوت &#8220;مَجَّدْتُ، وَأُمَجِّدُ أَيْضًا&#8221; (یو۱۲: ۲۸) وكان المقصود بذلك المجد احتماله ألم الصليب. أنظر (يو۲۷:۱۲) وحين خرج يهوذا لتنفيذ الخطة قال الرب &#8220;الآنَ تَمَجَّدَ ابْنُ الإِنْسَانِ وَتَمَجَّدَ اللهُ فِيهِ&#8221; (يو ۱۳: ۳۱).</p>
<p>وهنا تبدأ الصلاة بالحديث عن هذا المجد. أي أن الفداء يفتح باب السماء للناس ويعطيهم الحياة الأبدية، وهذا مجد محبة الله الذي لايقل عن مجد عدله وسلطانه &#8220;الَّذِي إِذْ كَانَ فِي صُورَةِ اللهِ، لَمْ يَحْسِبْ خُلْسَةً أَنْ يَكُونَ مُعَادِلاً ِلله. لكِنَّهُ أَخْلَى نَفْسَهُ، آخِذًا صُورَةَ عَبْدٍ، صَائِرًا فِي شِبْهِ النَّاسِ. وَإِذْ وُجِدَ فِي الْهَيْئَةِ كَإِنْسَانٍ، وَضَعَ نَفْسَهُ وَأَطَاعَ حَتَّى الْمَوْتَ مَوْتَ الصَّلِيب. لِذلِكَ رَفَّعَهُ اللهُ أَيْضًا، وَأَعْطَاهُ اسْمًا فَوْقَ كُلِّ اسْمٍ. لِكَيْ تَجْثُوَ بِاسْمِ يَسُوعَ كُلُّ رُكْبَةٍ مِمَّنْ فِي السَّمَاءِ وَمَنْ عَلَى الأَرْضِ وَمَنْ تَحْتَ الأَرْضِ، وَيَعْتَرِفَ كُلُّ لِسَانٍ أَنَّ يَسُوعَ الْمَسِيحَ هُوَ رَبٌّ لِمَجْدِ اللهِ الآبِ&#8221; (في٢: ٦-۱۱).</p>
<p>وأطرد استعمال لفظ &#8220;<strong>مجد</strong>&#8221; لعملية الصلب منذ دخول الرب أورشليم: &#8220;وَكَانُوا يَصْرُخُونَ: «أُوصَنَّا مُبَارَكٌ الآتِي بِاسْمِ الرَّبِّ مَلِكُ إِسْرَائِيلَ» وَوَجَدَ يَسُوعُ جَحْشًا فَجَلَسَ عَلَيْهِ كَمَا هُوَ مَكْتُوبٌ: «لاَ تَخَافِي يَا ابْنَةَ صِهْيَوْنَ هُوَذَا مَلِكُكِ يَأْتِي جَالِسًا عَلَى جَحْشٍ أَتَانٍ» وَهذِهِ الأُمُورُ لَمْ يَفْهَمْهَا تَلاَمِيذُهُ أَوَّلاً، وَلكِنْ لَمَّا تَمَجَّدَ يَسُوعُ، حِينَئِذٍ تَذَكَّرُوا أَنَّ هذِهِ كَانَتْ مَكْتُوبَةً عَنْهُ&#8221; (١٢: ١٣-١٦). واستمر إلى نهاية الإنجيل حین استعملت عن الرسول بطرس لما أشار الرب متنبئاً عن الطريقة التي يموت بها الرسول &#8220;قال هذا مشيراً إلى أية ميتة كان مزمعاً أن <strong>يمجد</strong> الله بها&#8221; (۱۹:۲۱) والكنيسة تعمل شيئاً مشابهاً لهذا حين تصلي صلوات سبت الفرح، فتجمع بين الطقس الحزين والطقس السنوي علامة على أن الفرح قد بدأ بتمام الصلب والفداء، وإن كان الحزن مستمراً إلى أن يكمل الفرح بالقيامة. كما أن الكنيسة تتلو مزمور &#8220;عرشك يا الله إلى دهر الدهور&#8221; في صلاة الساعة الحادية عشرة من يوم الثلاثاء لأن يوم الأربعاء فيه ذهب يهوذا واتفق مع رؤساء اليهود على تسليم السيد، فهي في نهاية صلوات الثلاثاء تخاطب الرب بهذا المزمور علامة على أنها تعبده وتحييه في هذه الساعة التي يبدأ فيها يوم الخيانة، وفي التمجيد الخاص بأسبوع الآلام &#8220;لك القوة والمجد والبركة والمجد إلى الأبد..&#8221; وتضيف الكنيسة منذ ليلة الأربعاء لنفس السبب.. مخلصی الصالح&#8221;.</p>
<p><strong>(6:17- ٨)</strong> <strong>كانوا لك وأعطيتهم لي</strong></p>
<p>خلق الله جميع الناس، ولكنهم سقطوا، ثم جاء الفادي وجدد خلقهم. كنا جميعاً لله بالخلق الأول، وتجددت بنويتنا بالخلق الثاني &#8220;اذ ليس بغيره خلاص&#8221;.</p>
<p>ليس من فارق بين الآب والابن، ولكن عمل الفداء يمجد في السماء مجداً خاصاً لأنه سحق العدو واسترد الأسرى.</p>
<p>&#8220;هُمْ قَبِلُوا وَعَلِمُوا يَقِينًا أَنِّي خَرَجْتُ مِنْ عِنْدِكَ&#8221; المؤمنون بالرب يعلمون يقيناً أنه الإله، وأنه الخالق &#8220;كُلُّ شَيْءٍ بِهِ كَانَ، وَبِغَيْرِهِ لَمْ يَكُنْ شَيْءٌ مِمَّا كَانَ&#8221; ولكنهم يكرمون عمل الفداء تكريماً خاصاً لأنه أعاد لهم حياتهم المفقودة. أعاد لهم كل شئ.</p>
<p>وهو لايقصد أنهم كانوا للآب ثم صاروا للابن لافتراق الاثنين، بل أنهم كانوا تحت سلطان العدل فصاروا تحت الرحمة وبذا انتقلوا من تحت حكم الموت إلى حكم الحرية والحياة.</p>
<p><strong>(۱۷</strong><strong>: </strong><strong>۱۱</strong><strong>- </strong><strong>۱۹)</strong> <strong>الصلاة عن أبنائه</strong></p>
<p>صلى الرب عن أبنائه من أجل عدة أمور:</p>
<p><strong>(أ) كنت أحفظهم في أسمك:</strong> إنه يعلم أن الإنسان كثيراً ما يحتاج إلى شخص يجد فيه المبادئ التي ينشدها ليمسك بيده ولو في بداية الطريق إلى أن يقوم ارتباطه بالمبادئ دون الأشخاص. ولما كان الرب أبان تجسده موجوداً معهم حسياً، وقد آن الأوان ليرتفع، فهو يصلي ليكون الروح مشبعاً أیاهم وحافظاً وراعياً.</p>
<p><strong>(ب) </strong>&#8220;<strong>وليكونوا واحداً</strong>&#8220;<strong>:</strong> الكنيسة هي الوجه الظاهر للملكوت، والملكوت متسع جداً ومنظم تماماً. وكل مافيه مترابط في وحدة محبة وانسجام مقدسین. ولذا نراه هنا يطلب أن يكون المؤمنون واحداً. والانقسامات الكنسية حرب شيطانية خطيرة تقسم جسد السيد المسيح، وكل مملكة تنقسم على ذاتها تخرب.</p>
<p>قبل صلاة باكر من كل يوم يتلو المصلي الفصل &#8221; فَأَطْلُبُ إِلَيْكُمْ، أَنَا الأَسِيرَ فِي الرَّبِّ: أَنْ تَسْلُكُوا كَمَا يَحِقُّ لِلدَّعْوَةِ الَّتِي دُعِيتُمْ بِهَا .. مُحْتَمِلِينَ بَعْضُكُمْ بَعْضًا فِي الْمَحَبَّةِ، مُجْتَهِدِينَ أَنْ تَحْفَظُوا وَحْدَانِيَّةَ الرُّوحِ.. جَسَدٌ وَاحِدٌ، وَرُوحٌ وَاحِدٌ&#8230;&#8221; (أف٤: ١-٦).</p>
<p>فلنلتزم بالوحدة، ولنسرع لإصلاح أى ثلم فيها، وهكذا تكون وحدة نامية جسداً واحداً وروحاً واحداً في الرب الواحد.</p>
<ul>
<li><strong>ليس مطلوبا أن يؤخذوا من العالم بل أن يحفظوا من شره وهم فيه</strong>. والسلبية والإنسحاب من الحياة لايحلان مشكلة. والمسيحية هي التقدم لحل مشاكل الناس وليست عدم المبالاة بهم.</li>
</ul>
<p>والرسول بولس يقول لأهل كورنثوس &#8220;لاَ تُخَالِطُوا الزُّنَاةَ، وَلَيْسَ مُطْلَقًا زُنَاةَ هذَا الْعَالَمِ، أَوِ الطَّمَّاعِينَ، أَوِ الْخَاطِفِينَ، أَوْ عَبَدَةَ الأَوْثَانِ، وَإِلاَّ فَيَلْزَمُكُمْ أَنْ تَخْرُجُوا مِنَ الْعَالَمِ&#8221; (۱كو ٥: ٩، ۱۰) والرب يقول &#8220;لَسْتُ أَسْأَلُ أَنْ تَأْخُذَهُمْ مِنَ الْعَالَمِ بَلْ أَنْ تَحْفَظَهُمْ مِنَ الشِّرِّيرِ&#8221; وقد علمنا في الصلاة الربانية &#8220;لاتدخلنا التجارب، ولكن نجنا من الشرير&#8221; والآباء الرهبان يقولون أن الرهبنة ليست في مجرد الخروج من العالم بل هي في خروج العالم من داخلنا، أي عدم السير وراء الشهوات وهذا مايقصده بالآية الأخرى &#8220;قَدِّسْهُمْ فِي حَقِّكَ&#8221; (ع ۱۷) فالمطلوب حياة القداسة لكل المسيحيين. وعندنا كلمة الله تهدي الطريق. والقداسة كانت من بين الصفات الباهرة التي بهرت العالم الوثني قديماً فجعلت المسيحية تغزوه، فكان المسيحيون بقداستهم شهادة باهرة أمام الوثنيين لفعل المسيحية في تغيير الحياة فوق ماغرق فيه الناس من شهوات.</p>
<p>وهنا كلمة استعملها الرب على نفسه على الرغم من أنه بغیر حاجة لها من أي ناحية. &#8220;من أجلهم أقدس ذاتي&#8221; فكان هو القدوس الذي ليس فيه شر البتة ولكنه اذ يصلي ممارساً صفة انسانية، ويطلب بلجاجة، فإنه يتكلم عن نفسه أيضا معبراً عن صفة إنسانية يطلبها لجميع الخدام والقادة في الكنيسة الذين جعل نفسه واحداً منهم.</p>
<p><strong>(</strong><strong>۲۰</strong><strong>:</strong><strong>۱۷</strong><strong>- ٢٦)</strong> <strong>الكرازة</strong></p>
<p>وسائر الطلبات التي طلبها الرب هي للكنيسة كلها على مر العصور: التعليم الواعي، والوحدة، والقداسة. فهو يصلي من أجل الذين يؤمنون به بكرازة الرسل ليكونوا هم أيضاً مقدسين وواحداً. إلى أن يصلوا إلى الميراث الأبدي المعد لهم &#8220;يَكُونُونَ مَعِي حَيْثُ أَكُونُ أَنَا&#8221; في نمو مستمر وتعلم مستمر &#8220;عَرَّفْتُهُمُ اسْمَكَ وَسَأُعَرِّفُهُمْ&#8221; فالتعليم والقداسة والوحدة مستمرة في نمو الكنيسة إلى أن تصل إلى الميراث وهناك يدخل المؤمنون في الوجه الأبدي للملكوت.</p>
<h4>دعوة الليتورجيات إلى الوحدة - للمتنيح الأنبا بيمن أسقف ملوي وأنصنا والأشمونين<a href="#_ftn2" name="_ftnref2">[7]</a></h4>
<p><strong>شركة المؤمنين معاً: </strong></p>
<p>إن المؤمنين عندما يتركون بيوتهم ليذهبوا إلى الكنيسة لممارسة الأسرار الإلهية والإشتراك في الخدمات الكنسية تمحى بينهم الفوارق الطبقية واللغوية والإجتماعية والجنسية، إنهم الآن عائلة واحدة وأهل بيت الله مع القديسين، إن الجو الكنسي يلفهم جميعاً بروح واحد، وتلتئم الجماعة كلها، وتتناغم كما يحدث لأصوات الآلات الموسيقية التي تعزف لحناً واحداً يرتله الخورس تمجيداً لاسم الله في الكنيسة.</p>
<p>فالليتورجيات تصلى من أجل وحدانية القلب والروح والفكر، كما أنها بالتالي تعمل على تنمية هذه الوحدانية بين المتفرقين وتجمعهم إلى واحد، وتدعم بينهم حياة الشركة والوحدانية.</p>
<p>ففي قداس القديس إغريغوريوس طلبة يجاوب الشعب بعد كل ربع منها قائلاً: کیراليصون، مطلعها تضرع لتدعيم وحدانية القلب [نعم نسألك أيها المسيح إلهنا ثبت أساس الكنيسة.. وحدانية القلب التي للمحبة فلتتأصل فينا… حل تعاظم أهل البدع ونحن كلنا أحسبنا في وحدانية التقوى…]</p>
<p>وفي قداس القديس باسيليوس تصلي الكنيسة قائلة: [اجعلنا مستحقين كلنا ياسيدنا أن ننال من قدساتك طهارة لأنفسنا وأجسادنا وأرواحنا؛ لكي نكون جسداً واحداً، وروحاً واحداً، ونجد نصیباً وميراثاً مع جميع القديسين الذين أرضوك منذ البدء].</p>
<p>وفي ليتورجية الصلوات السبع تضع الكنيسة في صلاة باكر جزء من رسالة معلمنا بولس الرسول إلى أهل أفسس لتؤكد للمؤمنين أهمية هذا الاتجاه في حياتهم الروحية والكنسية &#8220;أسألكم أنا الأسير في الرب أن تسلكوا كما يحق للدعوة التي دعيتم إليها بكل تواضع القلب والوداعة وطول الأناة، محتملين بعضكم بعضاً بالمحبة، مسرعين إلى حفظ وحدانية الروح برباط الصلح الكامل، لكي تكونوا جسداً واحداً وروحاً واحداً كما دعيتم إلى رجاء دعوتكم الواحد: رب واحد، وإيمان واحد، ومعمودية واحدة&#8221;.</p>
<p>وعلى ذلك تستطيع أن تقول أن الكنيسة تطالب أولادها بوحدانية القلب والروح، لأنهم يعيشون لهدف واحد، ولهم أب واحد، ولهم إيمان واحد، فمن ثم يلزم أن يحققوا هذه الوحدة بالإتضاع والوداعة وطول الأناة والمحبة، ويحمل الأقوياء أثقال الضعفاء ليتمموا ناموس المسيح، وكما يسرعون إلى حفظ هذه الحياة مبتعدين عما يمزق هذه الوحدة من نميمة أو عداوة، أو شر أو كبرياء، أو تعالي أو أنانية أو حب للرياسة والظهور.</p>
<p><strong>كم تحتاج مجتمعاتنا الدينية إلى الالتفات لصوت الليتورجيات الصارخ كل حين داعياً للوحدانية والألفة ولم الشمل</strong> &#8230;</p>
<p>وتبدو الوحدة في الليتورجيات وخاصة ليتورجية الإفخارستيا واضحة إذ يصلي الأسقف أو الكاهن من أجل الشعب، والشعب أيضا يتجاوب معه &#8220;ولروحك أيضاً&#8221;، وفي الإنسجام الحادث بين الأسقف أو الكاهن مع الشماس على الشعب صورة للألفة التي بين الجماعة بعضها بعضاً، وتعبير عن الروح الواحد الذي ألفه ووحده الروح القدس بإنسكاب المحبة في قلوب الجميع.</p>
<p>إن السر الكامن وراء الإنقسامات هو ضياع الهدف الواحد والحي المشترك، إذ يسعى المنقسمون إلى أهداف أخرى غير مجد المسيح وحده. وهنا تصبح محبة الذات والعطف عليها هي مصدر كل إنقسام، وكل تشتت وضياع للوحدانية والألفة الروحية.</p>
<p>وفي هذا يقول معلمنا بولس الرسول &#8220;فرحاً مع الفرحين، وبكاءً مع الباكين، ، مهتمين بعضكم لبعض اهتماماً واحداً غير مهتمين بالأمور العالية بل منقادين إلى المتضعين، لا تكونوا حكماء عند أنفسكم، لا تجازوا أحداً عن شر بشر معتنين بأمور حسنة قدام جميع الناس&#8221; (رو ١٢: ١٥-۱۷).</p>
<p>ويقول أيضاً &#8220;فلنعكف على ما هو للسلام، وما هو للبنيان بعضنا لبعض&#8221; (رو١٤: ١٩) وفي صلاته لأهل رومية يدعو قائلاً: &#8220;ليعطيكم إله الصبر والتعزية أن تهتموا إهتماماً واحداً فيما بينكم بحسب المسيح يسوع لكي تمجدوا الله أبا ربنا يسوع المسيح بنفس واحدة وفم واحد، لذلك اقبلوا بعضكم بعضاً كما أن المسيح أيضاً قبلنا لمجد الله&#8221; (رو١٥: ٥-٧)</p>
<p>وعندما حدثت إنشقاقات في كنيسة كورنثوس أرسل إليهم أن يقولوا جميعاً قولاً واحداً ولا يكون بينهم إنشقاقات، بل يكونون كاملين في فكر واحد ورأي واحد، وأعتبر الحسد والخصام والإنشقاق هو العلامة الأكيدة أن أعضاء الكنيسة جسديون ويسلكون حسب البشر، لأن واحد منهم لبولس والآخر لأبلوس.</p>
<p>فالكنيسة التي ينشغل أعضاؤها جميعاً بتمجيد الثالوث القدوس والتسبيح والعبادة، وخدمة الإنجيل، والكرازة والتبشير، وجذب النفوس الضالة؛ كنيسة لا يحدث فيها خصومة، وإن حدث اختلاف في وجهات النظر كما حدث بين بطرس وبولس في كنيسة الرسل فسرعان ما يجتمع الكل بالروح الواحد، ويصدر القرار الواحد &#8220;رأى الروح القدس ونحن&#8221; ومعنی هذا أننا نختلف ولكن لا ننقسم، لأن الهدف واحد والروح واحد والحس الروحي مشترك، والجميع يطلبون مجد الله وحده.</p>
<p>أما إذا تحولت الكنيسة إلى مؤسسة أو منظمة أو هيئة أرضية لها مجال إدارة وتنظيمات بشرية، وأصبح الأعضاء حريصين على حضور المناقشات والاجتماعات، وغير معتادین حضور القداسات والخدمات الكنسية الروحية؛ فإنه من الممكن أن يحدث لها ما يحدث لجميع الأحزاب والتكتلات والهيئات من إنقسامات حادة وإنشقاقات مُرّة، لأن الروح القدس لا يعمل إلا في الوحدة الروحية، كما أن المسيح لا يستعلن إلا في الجماعة المحبة المتضعة، &#8220;والنهاية كونوا جميعاً متحدي الرأي بحس واحد ذوى محبة أخوية مشفقين لطفاء&#8221; (1بط ٣: 8).</p>
<hr />
<p><a href="#_ftnref1" name="_ftn1"></a></p>
<p><a href="#_ftnref1" name="_ftn1">[1]</a>  كتاب شرح إنجيل يوحنا للقديس كيرلس عامود الدين - الفصل الثاني عشر صفحة ٤١٠ - مشروع الكنوز القبطية.</p>
<p><a href="#_ftnref2" name="_ftn2">[2]</a>  كتاب من مجد إلي مجد للقديس غريغوريوس النيسي - صفحة ١١٧ -  ترجمة القمص إشعياء ميخائيل -  كنيسة رئيس الملائكة ميخائيل بالظاهر.</p>
<p><a href="#_ftnref3" name="_ftn3">[3]</a>  كتاب من مجد إلي مجد للقديس غريغوريوس النيسي – فصل 59 -  ترجمة القمص إشعياء ميخائيل -  كنيسة رئيس الملائكة ميخائيل بالظاهر.</p>
<p><a href="#_ftnref4" name="_ftn4">[4]</a>  تفسير إنجيل يوحنا - إصحاح ١٧ -  القمص تادرس يعقوب ملطي.</p>
<p><a href="#_ftnref5" name="_ftn5">[5]</a>  كتاب المنجلية القبطية الأرثوذكسية - صفحة 405 - البابا تواضروس الثاني.</p>
<p><a href="#_ftnref1" name="_ftn1">[6]</a>  دراسات في الكتاب المقدس - إنجيل يوحنا – صفحة 216 - الأنبا أثناسيوس مطران كرسي بني سويف والبهنسا.</p>
<p><a href="#_ftnref2" name="_ftn2">[7]</a>  كتاب مسيح الكون كله - صفحة ٦٢ - المتنيح الأنبا بيمن.</p>

      {% endcreateArticleAccordions %}
    </section>
  {% endblock %}
  