---
layout: 'layouts/reading.html'
title: 'يوم السبت من الأسبوع الخامس للخمسين يوم المُقَدَّسَة'
tags: 'pentecost'
permalink: /articles/pentecost/5-6.html
---
  {% block content %}
    <section id="readings">
      <ul>
      {% if 'undefined' != 'undefined' %}
      
      {% else %}
      {% if '19.135:19-20' != 'null' %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">العشية</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeVespers '19.135:19-20' '42.14:1-6' %}
          </div>
        </div>
      </li>
      {% endif %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">باكر</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeMatins '19.36:5-6' '43.7:37-46' '' %}
          </div>
        </div>
      </li>
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <h3 class="flex items-center justify-between">
            <span class="kufi">القداس</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </h3>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeLitugy '58.10:1-13' '62.5:11-21' '44.23:6-11' '19.135:3,5' '43.14:1-11' %}
          </div>
        </div>
      </li>

      {% endif %}
        </ul>
    </section>
    <section id="article">
      <h3 class="mt-8 mb-4 heading-explain">شرح القراءات</h3>
      {% createArticleAccordions %}
        <h3>الإبن هو الطريق الوحيد لمجد ومعرفة الآب</h3>
<p>تتكلّم قراءات اليوم عن:</p>
<ul>
<li>مجد ظهور الحق الالهي.</li>
<li>ومعرفة الله المعرفة الحقيقية.</li>
<li>والأمتلاء من الروح القدس.</li>
</ul>
<p>بعدما تمجدت الطبيعة البشرية بالصليب والقيامة وصار التسبيح حياة الكنيسة ومجدها، نالت البشرية البصيرة والإستنارة للشركة مع الثالوث والعبادة بالروح لا بالحرف.</p>
<h4>المزامير</h4>
<p>لذلك تتكلم المزامير عن:</p>
<ul>
<li>عن معرفة الله واستعلان عظمته (مزمور القداس).</li>
<li>وظهور مراحمه وبره. (مزمور باكر).</li>
<li>ودوام تمجيد إسمه القدوس. (مزمور عشية).</li>
<li>مزمور عشية: &#8220;يا بيت إسرائيل باركوا الرب. يا بيت هارون باركوا الرب&#8230;&#8221;.</li>
<li>مزمور باكر: &#8220;يا رب في السماء رحمتك وبرك إلى السحاب&#8230;&#8221;.</li>
<li>مزمور القداس: &#8220;سبحوا الرب فإن الرب صالح &#8230;. لأني أنا قد علمت أن الرب عظيم هو أفضل من جميع الآلهة&#8221;.</li>
</ul>
<h4>انجيل عشية</h4>
<p>ويتكلم إنجيل عشية عن ← <strong>إستعلان الحق في الكنيسة وجوهر الوصية وروحها </strong>الذي يهدف إلى راحة الإنسان وشفاؤه وخلاصه وأن الوصية ونظام الكنيسة يخدم تدبير الله لفرح الإنسان وليس العكس أي يصير النظام الكنسي هو الإله الذي يقف عائقاً أمام تدبير الله ويكون حملاً ثقيلاً على الإنسان.</p>
<p>&#8220;وإذ برجل أمامه كان به إستسقاء فأجاب يسوع وخاطب الناموسيين والفريسيين قائلاً: أيحل الإبراء في السبت أم لا فسكتوا فأمسكه وأبرأه وصرفه. ثم قال لهم من منكم يقع حماره أو ثوره في بئر ولا يصعده حالاً في يوم السبت&#8221;.</p>
<h4>انجيل باكر</h4>
<p>وفي <strong>انجيل باكر </strong>عن ← <b>استعلان ماء الحياة المروي لكل النفوس المحتاجة والعطشانة </b>والينبوع الوحيد للبشرية الذي يسدد كل احتياجاتها بروحه القدوس الذي سكبه علي الكنيسة بعد صعوده المجيد</p>
<p>&#8220;وفي اليوم الأخير من العيد الكبير وقف يسوع وصاح قائلاً: من يعطش فليقبل إليَّ ليشرب ومن يؤمن بي كما قال الكتاب تجري من بطنه أنهار ماء الحياة قال هذا عن الروح الذي كان المؤمنون به مزمعين أن يقبلوه&#8221;.</p>
<h4>البولس</h4>
<p>وفي البولس عن ← <strong>ظلال العهد القديم ورموزه </strong>التي أشارت وألمحت إلى ذبيحة الخلاص التي أستعلنت في الصليب وأتمت تحقيق كل الرموز وأعلنت عن خلاص الإنسان الدائم ومسرة الله بتحرير البشرية في المسيح من سلطان الخطية الذي كَمُلَ بصعوده المجيد</p>
<p>&#8220;لذلك عند دخوله إلى العالم قال إنك لم تُسر بالذبائح والقرابين ولكنك هيأت لي جسداً&#8230; ثم بعد هذا قال ها أنذا أجئ لأعمل مسرتك يا الله. وبهذا القول يبطل الأول لكي يثبت الثاني. فبمسرة هذه تقدسنا بقربان جسد يسوع المسيح الذي تقدم مرة واحدة وكل رئيس أحبار كان يقوم ويخدم كل يوم إنما كان يقرب تلك الذبائح عينها التي لم تكن تستطيع قط أن تطهر الخطايا فأما هذا فإنه بعدما قرب ذبيحة واحدة عن الخطايا جلس عن يمين الله إلى الأبد.&#8221;&#8230;</p>
<h4>الكاثوليكون</h4>
<p>وفي الكاثوليكون عن ← <strong>إستعلان معرفة الإله الحق والحياة الأبدية المعرفة الإختبارية اليقينية والشركة الحقيقية معه وإستجابة كل صلواتنا وطلباتنا إن كانت حسب مشيئته </strong></p>
<p>&#8220;وهذه الشهادة هي أن الله أعطانا حياة أبدية فمن كان متمسكاً بالأبن فهو أيضاً متمسك بالحياة&#8230; والثقة التي لنا عنده هي أنه إن طلبنا شيئاً حسب مشيئته يسمع لنا. وإن كنا نعلم أنه مهما طلبنا يسمع لنا فنحن واثقون بأنه يكون لنا جميع ما قد سألناه فيه&#8230;. وقد علمنا أيضاً أن إبن الله قد جاء وقد أعطانا بصيرة كي نعرف الحق ونحن ثابتون في الحق بإبنه يسوع المسيح هذا هو الإله الحق والحياة الأبدية&#8221;.</p>
<h4>الابركسيس</h4>
<p>وفي الابركسيس عن ← <b>استعلان الحق الإلهي في الكارزين وفي حياتهم وسيرتهم النقية واستعلان المعونة الإلهية لهم</b></p>
<p>&#8220;فوثب كتبة حزب الفريسيين فطفقوا يرفعون أصواتهم ويقولون لسنا نجد شيئاً ردياً في هذا الرجل&#8230; فلما كان الليل وقف به الرب وقال: ثق يا بولس لأنك كما شهدت لي في أورشليم هكذا ينبغي أن تشهد لي في رومية أيضاً&#8221;.</p>
<h4>إنجيل القداس</h4>
<ul>
<li>وفي إنجيل القداس عن ← <b>استعلان بيت الآب والطريق إلى الآب ومعرفته من خلال إرسالية إبن الله، </b>ومن يشرق في قلبه نور المسيح يجد الطريق إلى بيت الآب، ويسلك بالحق، ويذوق الحياة الجديدة</li>
</ul>
<p>&#8220;في بيت أبي منازل كثيرة ولولا ذلك لكنت أقول لكم أني أمضي لأعد لكم مكاناً&#8230; حتى تكونوا أنتم أيضاً معي حيث أكون أنا&#8230; قال له يسوع أنا هو الطريق والحق والحياة ليس أحد يأتي إلى الآب إلا بي&#8230; من رآني فقد رأى الآب&#8221;.</p>
<p>والعجيب هو تكرار نفس إنجيل قدّاس اليوم السبت في إنجيل قدّاس الغد الأحد مع إختلاف قراءاتهما ليعلن وحدة المضمون ولكن قراءات الأوَّل هي المدخل الذي أوضح ما هي البركات التي كانت سينالها أولاد الله من صعوده المجيد.</p>
<h3>ملخص القراءات</h3>
<ul>
<li>بركات الصعود ظهور بره الإلهي ويقين معرفته ودوام تسبيحه. (مزمور عشيّة وباكر والقدّاس)</li>
<li>وملء الروح هو الذي يجعلنا نعيش روح الوصيّة وليس الحرف (إنجيل باكر وعشية).</li>
<li>تقديسنا بذبيحة المسيح ومجدنا فيه بصعوده وجلوسه عن يمين الآب.(البولس).</li>
<li>الإستنارة والبصيرة لمعرفة الإله الحقيقي هي ثمار تجسده وصعوده. (الكاثوليكون).</li>
<li>دعم الله بعد صعوده لكل شهوده وكارزيه. (الإبركسيس).</li>
</ul>
<p>❈ رسم الرب بصعوده طريق حياتنا وأعطي ضماناً للميراث الأبدي. (انجيل القدَّاس).</p>
<h3>عظات آبائية و عظات آباء وخدّام معاصرين</h3>
<p><a href="https://katameros.bible/church-reading/%d9%8a%d9%88%d9%85-%d8%a7%d9%84%d8%b3%d8%a8%d8%aa-%d9%85%d9%86-%d8%a7%d9%84%d8%a3%d8%b3%d8%a8%d9%88%d8%b9-%d8%a7%d9%84%d8%ae%d8%a7%d9%85%d8%b3-%d9%84%d9%84%d8%ae%d9%85%d8%b3%d9%8a%d9%86-%d9%8a%d9%88/">ليوم السبت من الأسبوع الخامس للخمسين يوم المقدسة</a></p>
<p>يمكن الرجوع لعظات<a href="https://katameros.bible/church-reading/%d9%8a%d9%88%d9%85-%d8%a7%d9%84%d8%a3%d8%ad%d8%af-%d9%85%d9%86-%d8%a7%d9%84%d8%a3%d8%b3%d8%a8%d9%88%d8%b9-%d8%a7%d9%84%d8%ae%d8%a7%d9%85%d8%b3-%d9%84%d9%84%d8%ae%d9%85%d8%b3%d9%8a%d9%86-%d9%8a%d9%88/"> يوم الأحد من الأسبوع الخامس</a> لتكرار موضوع انجيل القداس</p>

      {% endcreateArticleAccordions %}
    </section>
  {% endblock %}
