---
layout: 'layouts/reading.html'
title: 'يوم الأحد من الأسبوع السادس للخمسين يوم المُقَدَّسَة'
permalink: pentecost/6-0.html
---
  {% block content %}
    <section id="readings">
      <ul>
      {% if 'undefined' != 'undefined' %}
      
      {% else %}
      {% if '19.146:1,2,10' != 'null' %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">العشية</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeVespers '19.146:1,2,10' '41.12:28-37' %}
          </div>
        </div>
      </li>
      {% endif %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">باكر</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeMatins '19.147:1-2' '43.14:8-14' '' %}
          </div>
        </div>
      </li>
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <h3 class="flex items-center justify-between">
            <span class="kufi">القداس</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </h3>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeLitugy '46.15:57-16:8' '60.1:2-12' '44.20:1-16' '19.147:12,18' '43.16:23-33' %}
          </div>
        </div>
      </li>

      {% endif %}
        </ul>
    </section>
    <section id="article">
      <h3 class="mt-8 mb-4 heading-explain">شرح القراءات</h3>
      {% createArticleAccordions %}
        <h3>أحد الملك الغالب ورأس الجسد</h3>
<ul>
<li>&#8220;وأخضع كل شئ تحت قدميه واياه جعل رأساً فوق كل شئ للكنيسة&#8221; (أف١: ٢٢).</li>
<li>&#8220;فإن كنتم قد قمتم مع المسيح فاطلبوا ما فوق حيث المسيح جالس عن يمين الله&#8221; (كو٣: ١).</li>
<li>[تعالوا ياجميع الشعوب لنسجد ليسوع المسيح هذا هو الله مخلصنا ورب كل جسد]. (توزيع العنصرة – صوم الرسل).</li>
<li>[إن السيد المسيح كان يعمل قبل الصعود باسم الكنيسة المختفية فيه ولحسابها أما بعد الصعود فاختفى هو فيها لتعمل لحسابه وباسمه]. (القديس أغسطينوس).<a href="#_ftn1" name="_ftnref1">[1]</a></li>
<li>[إن المسيح وهو الكامل بذاته قد ارتضى أن يكتمل التدبير بالكنيسة وأن يربط نفسه بها كمخلص وفاد ورأس لها، وكما أن الرأس متمم بالجسد هكذا الكنيسة هي تمام المسيح]. (القديس يوحنا ذهبي الفم).<a href="#_ftn2" name="_ftnref2">[2]</a></li>
<li>[المسيح هو رأس الكنيسة وهو علامة الوحدة والحياة المشتركة والاعتراف بالمسيح هو شرط دخول الجماعة والتشيه به هو الطريق والاتحاد به كرأس وأعضاء هو كمال الشركة المسيحية]. (القديس باسيليوس).<a href="#_ftn3" name="_ftnref3"><sup>[3]</sup></a></li>
</ul>
<p></p>
<h3>شواهد القراءات</h3>
<p>عشية: المزمور (مز 145: 1، 9) &#8211; الإنجيل (مر 12: 28- 38).</p>
<p>باكر: المزمور (مز 146: 1، 2) &#8211; الإنجيل (يو 14: 4- 18).</p>
<p>القداس: البولس (1كو 15: 57، 58؛ 16: 1- 8) &#8211; الكاثوليكون (1بط 1: 2- 12) – الابركسيس (أع 20: 1- 16) –</p>
<p>المزمور (مز 147: 1، 5)  &#8211; الانجيل (يو 16: 23- 33).</p>
<p><strong> </strong></p>
<h3> شرح القراءات</h3>
<p>تحدثنا قراءات الأحد السادس عن الرب يسوع له المجد الملك الغالب، ورأس الجسد، فبعد ما أكمل التدبير بصعوده بالجسد إلى السماء استعلنت غلبة الكنيسة فيه وبه، وصار لها الغلبة الدائمة ما دام الأبن رأسها وقائدها ومدبرها الأول، وصارت الكنيسة المقدسة في المسيح عن يمين الآب، أي صارت الكنيسة مستحقة في المسيح لكل غناه وعطاياه وبره الإلهي وأيضا استعلنت الكنيسة كجسد المسيح، أي صعد المسيح بجسد بشريته بالكنيسة جسده إلى الآب لتصير كنيسة مجيدة لا دنس فيها ولا غضن بل تكون مقدسة وبلا عيب.</p>
<p></p>
<h4>المزامير</h4>
<p>لذلك جاءت المزامير لتعبر عن هذه العطايا في مزمور ( ١٤٥ ، ١٤٦ ، ١٤٧ ) مزامير التسبيح والتمجيد، وذلك لأن صعود المسيح بالجسد للسماء وإستعلان الكنيسة جسده وإرسالية الروح القدس هي مصدر الفرح الدائم للكنيسة.</p>
<ul>
<li>لذلك يبدأ<strong> مزمور عشية </strong>← <strong>بتسبيح الأبن الذي يملك </strong><strong>(بصعوده بالجسد)</strong><strong> إلى الدهر</strong>. &#8220;سبحي يا نفسي للرب. أسبح الرب في حياتي وأرتل لإلهي مادمت موجوداً، يملك الرب إلى الدهر&#8221; (مز١٤٥: ١، ٩).</li>
<li>وفي <strong>مزمور باكر ←</strong> <strong>تسبيح الأبن الذي يجمع كنيسته المتفرقة ويبنيها</strong> &#8220;سبحوا الرب فالمزمور جيد ولإلهنا يرضي التسبيح. الرب يبني أورشليم. متفرقي اسرائيل الرب يجمعهم&#8221; (مز١٤٦: ١).</li>
<li><strong>وفي مزمور القداس ←</strong> عن <strong>تسبيح الأبن لأجل هبوب روحه القدوس على الكنيسة</strong> &#8220;سبحي يا أورشليم الرب. سبحي إلهك يا صهيون. تهب ريحه فتسيل المياه&#8221; (مز147: ١، 5).</li>
</ul>
<p></p>
<h4>انجيل عشيَّة</h4>
<p>وفي إنجيل عشية يوضح أن ← <strong>الأبن القائم عن يمين الآب سر غلبة الكنيسة ونصرتها الدائمة على الشيطان</strong>، وهذا هو إعلان الروح القدس للأنبياء &#8220;وداود نفسه قال بالروح القدس: قال الرب لربي اجلس عن يميني حتى أضع أعدائك تحت قدميك&#8221; (مر١٢: ٣٦).</p>
<p>كما يعلن الإنجيل عصب الكنيسة جسد المسيح <strong>المحبة</strong> (كقول المتنيح القمص بيشوي كامل)،</p>
<ul>
<li>محبة الله من كل القلب</li>
<li>ومحبة القريب كالنفس &#8220;تحب الرب إلهك من كل قلبك ومن كل نفسك ومن كل أفكارك ومن كل قوتك، هذه هي الوصية الأولى، والثانية هي هذه تحب قريبك كنفسك، لا وصية أخرى أعظم من هاتين&#8221; (مر 12:30، 31).</li>
</ul>
<p></p>
<h4>انجيل باكر</h4>
<p>وفي انجيل باكر عن ← <strong>عطايا الأبن لأعضاء جسده لأجل مجد الآب </strong>&#8220;الحق الحق أقول لكم من يؤمن بي فالأعمال التي أنا أعملها يعملها هو أيضاً ويعمل أعظم منها لأني ماض إلى الآب ومهما سألتم بإسمي أفعله لكم ليتمجد الآب بالأبن&#8221; (يو14: 12، 13).</p>
<p></p>
<h4>البولس</h4>
<p>وفي البولس عن ← <strong>الآب الذي يعطينا الظفر والغلبة بأبنه يسوع المسيح </strong>&#8220;ولكن شكراً لله الذي أعطانا الظفر والغلبة بربنا يسوع المسيح&#8221; (1كو 15: 57).</p>
<p>وأيضاً عن ← <strong>شركة العطاء في الكنيسة علامة الجسد الواحد</strong> &#8220;هكذا افعلوا أيضاً في يوم الأحد، فليضع كل واحد منكم خازناً ما تيسر حتى إذا جئت لا يكون أيضاً جمع، ومتى حضرت فالذين يختارونهم أرسلهم برسائل ليحملوا صدقاتكم إلى أورشليم&#8221; (١كو١٦: ١- ٣).</p>
<p>ويختم البولس باشتياق القديس بولس لحضور يوم عيد الخمسين &#8220;لأني أرجو أن أمكث عندكم زماناً إن أذن الرب ولكني أمكث بأفسس إلى يوم الخمسين&#8221; (1كو 16: 7، 8).</p>
<p></p>
<h4>الكاثوليكون</h4>
<p>وفِي الكاثوليكون عن ← أن<strong> الغلبة بقوة الله وإيمان الكنيسة، </strong>وضرورة وجود الضيقات لتزكية الإيمان وامتحانه بنار التجارب &#8220;أنتم الذين بقوة الله وبالإيمان محروسون للخلاص المعد أن يعلن في الزمان الأخير الذي به تفرحون إلى الأبد مع أنكم الآن يجب أن تحزنون قليلاً في هذا الزمان بتجارب متنوعة لتكون تزكية إيمانكم وهي أثمن من الذهب الفاني مع أنه يمتحن بالنار&#8221; (١بط ١: ٥- ٧).</p>
<p>ويتكلم أيضاً عن<strong> ← إرسالية الروح القدس من السماء </strong>&#8220;الذين أعلن لهم أنهم ليس لأنفسهم بل لنا كانوا يخدمون بهذه الأمور التي أخبرتم بها أنتم الآن بواسطة الذين بشروكم في الروح القدس الذي أرسل من السماء&#8221; (١بط ١: ١٢).</p>
<p></p>
<h4>الابركسيس</h4>
<p>وفي الإبركسيس عن ← <strong>استعلان قوة الحياة وغلبة الموت بحضور رأس الجسد وسط الكنيسة جسده في الأفخارستيا </strong>&#8220;وفي يوم الأحد إذ كان التلاميذ مجتمعين لتوزيع جسد المسيح كان بولس يخاطبهم .. فنزل بولس واستلقى عليه وعانقه قائلاً: لا تضطربوا لأن نفسه فيه ثم صعد وكسر الخبز وأكل ومكث يتكلم حتى أن طلع الفجر وعند ذلك خرج وأتوا بالفتى حيا وفرحوا به فرحا عظيما&#8221; (أع ٢٠: ٧- ١٢).</p>
<p>ثم يختم الأبركسيس باشتياق القديس بولس لحضور يوم الخمسين &#8220;لأن بولس عزم أن يتجاوز أفسس في البحر لئلا يعرض له أن يصرف وقتاً في آسيا لأنه كان يسرع ان أمكن أن يعمل يوم الخمسين في أورشليم&#8221; (أع٢٠: ١٦).</p>
<p></p>
<h4>انجيل القداس</h4>
<p>وفي انجيل القداس عن ← <strong>علاقة الكنيسة بالآب خلال الأبن وبواسطته</strong> &#8220;الحق الحق أقول لكم أن ما تسألونه من الآب بإسمي فإياه يعطيكم، إلى الآن لم تسألوا شيئاً بإسمي، سلوا فتأخذوا ليكون فرحكم كاملاً&#8221; (يو١٦: ٢٣، ٢٤).</p>
<p>وأيضاً يختم الإنجيل ← <strong>بسر غلبة الكنيسة في كل جيل، الأبن قائدها ورأسها</strong> &#8220;قلت لكم هذا ليكون لكم فيَّ سلام، في العالم سيكون لكم ضيق ولكن ثقوا أنا قد غلبت العالم&#8221; (يو ١٣: ٣٢).</p>
<p></p>
<h3>ملخص الشرح</h3>
<p><strong>الطريق إلى الآب</strong></p>
<ul>
<li>صعود المسيح بالجسد للسماء واستعلان الكنيسة جسده وإرسالية الروح القدس مصدر الفرح الدائم للكنيسة. (مزمور عشيَّة &#8211; مزمور باكر -مزمور القدَّاس).</li>
<li>الإبن القائم عن يمين الآب سر نصرة الكنيسة وغلبتها على الشيطان وهذا هو إعلان الروح القدس للأنبياء. (انجيل عشية).</li>
<li>المحبة هي عصب الكنيسة. (إنجيل عشية).</li>
<li>عطايا الأبن الملك للكنيسة جسده لأجل مجد الآب. (إنجيل باكر).</li>
<li>الآب يعطينا الظفر بإبنه يسوع وشركة العطاء في الكنيسة علامة الجسد الواحد. (البولس).</li>
<li>الغلبة تتم بقوة الله وبإيمان الكنيسة وحتمية الضيقات لتزكية الإيمان. (الكاثوليكون).</li>
<li>إرسالية الروح القدس من السماء. (الكاثوليكون).</li>
<li>إستعلان قوة الحياة وغلبة الموت في الكنيسة والأفخارستيا. (الابركسيس).</li>
<li>إشتياق القديس بولس لحضور يوم الخمسين كشركة حية مع الكنيسة الأم. (البولس – الأبركسيس).</li>
<li>علاقة الكنيسة بالآب تتحقق بالأبن، والأبن هو سر نصرة الكنيسة وغلبتها الدائمة. (إنجيل القداس).</li>
</ul>
<p></p>
<h3>أفكار مقترحة للعظات للأحد السادس من الخمسين يوم المقدسة</h3>
<h4>الغلبة في المسيح (المسيح نصرتنا)</h4>
<ul>
<li>الأعداء (الشيطان وكل قواته) تحت القدمين. (انجيل عشية).</li>
<li>الأعمال التي يعملها أبناء الله عظيمة. (انجيل باكر).</li>
<li>الغلبة والنصرة نصيبنا في المسيح. (البولس).</li>
<li>التجارب تزكية وتنقية لأولاد الله. (الكاثوليكون).</li>
<li>حضور المسيح في الكنيسة يهب حياة للموتي. (الابركسيس).</li>
<li>المسيح يُعطينا الغلبة علي العالم. (انجيل القدَّاس).</li>
</ul>
<h4><strong>الفرح </strong></h4>
<ul>
<li>بالفرح يملك الله علينا ويبني أورشليمنا (قلوبنا) ويُحرِّك بروحه مياه حياتنا. (مزمور عشية<strong>،</strong> باكر<strong>،</strong> القداس).</li>
<li>فرح الإيمان وفرح الخلاص: &#8220;الذي به تفرحون إلى الأبد&#8221;. &#8220;ولكنكم تؤمنون به فتبتهجون بفرح لا يُنْطَق به ومجيد&#8221;. (الكاثوليكون).</li>
<li>فرح القيامة من الموت: &#8220;وأتوا بالفتى حياً وفرحوا به فرحاً عظيماً&#8221;. (الابركسيس).</li>
<li>فرح الصلاة: &#8220;سلوا فتأخذوا ليكون فرحكم كاملاً&#8221;. (انجيل القداس).</li>
</ul>
<h4>الفرح الذي لا يُنزع &#8211; الطلبة المُستجابة &#8211; النصرة الأكيدة (إنجيل القدَّاس):</h4>
<ol>
<li>الفرح الذي لا يُنْزَع: &#8220;</li>
</ol>
<p>&#8220;ولكني سأراكم أيضاً فتفرحون ولا ينزع أحد فرحكم منكم وفِي ذلك اليوم لا تسألونني شيئ&#8221;.</p>
<ul>
<li>يوجد فارق كبير بين فرح النفس وفرح القلب.</li>
<li>الأول: عاطفي إنفعالي سطحي يعتمد على المؤثرات الخارجية، وعلى الجوانب النفسية.</li>
<li>الثاني: فرح روحي يعتمد على حضور الله في حياة الإنسان، لذلك يمس القلب والأعماق.</li>
<li>والجميل أن الرب يقول أننا إذا إمتلأنا بهذا الفرح القلبي لا نحتاج أن نسأل شيئاً لأن هذا الفرح ستكون فيه كل الكفاية.</li>
</ul>
<ol start="2">
<li>الطلبة المُستجابة:</li>
</ol>
<p>&#8220;كل ما تطلبونه من الآب بإسمي أُعطيكُم إيَّاه &#8221;</p>
<p>في هذه الحالة ستكون طلبة أولاد الله ملكوت الله وبرّه (مت٣٣:٦) وسيكون السؤال الدائم في الصلاة الإمتلاء من الروح القدس (لو١٣:١١) وسننشغل فقط فيما هو لخلاصنا وأي طلبات أخرى سنطلبها مع الخضوع الكامل والثقة المتناهية في تدبير أبوته الإلهية ومحبته الفائقة.</p>
<ol start="3">
<li>النصرة الأكيدة:</li>
</ol>
<p>غلبتنا على العالم وضيقاته لا تكون إلَّا به الغالب والذي خرج غالباً ولكي يغلب (رؤ٢:٦) والغلبة هنا ليست رفع الضيقات بل إجتياز أتونها دون ضرر وإذا إمتلأ الإنسان من محبة المسيح فلن يقف أمامها شدة أو ضيق أو إضطهاد&#8230; (رو٣٥:٨).</p>
<h3></h3>
<h3>من وحي ظهورات الرب بعد القيامة</h3>
<p><strong>تلميذي عمواس «رحلة الحياة ورفيق الطريق».</strong></p>
<ul>
<li>يرافقنا الرب كل يوم في طريق حياتنا ونحن لاندري.</li>
<li>يسير بجوارنا معزيا ونحن لانعرف.</li>
<li>يلتهب قلبنا برسائله دون أن نعرف مصدرها.</li>
<li>يحاول معنا جاهداً أن يشرح قصده في الألم لكن يجهده بطء قلبنا في الإيمان.</li>
<li>كل هذا الحب وهذه العطايا لم يكتشفاه طول الطريق إلا بعد ما ألزماه بحبهما للغرباء أن يبيت معهما.</li>
<li>حينئذ إنفتحت العيون والقلوب ورأوا مجده.</li>
<li>الله يعزيني في حزني الشديد لكني لاأدرك ذلك إلا بعد ما أفتح أحشائي لإحتياج الآخرين.</li>
<li>الله يسكب سلامه ونعمته في قلبي وقت تجربتي لكني أتأكد من ذلك وأفرح به وقت سعيي وراء مايحتاجه الآخرين.</li>
<li>حينئذ أدرك أنه كان يرافقني لحظة بلحظة ويسندني برفق ويشرح لي قصده وكان يغير ما بداخلي دون أن أدرك وقتها ذلك.</li>
<li>.ماأجمل كلمة &#8221; فألزماه &#8221; هذه التي يعرفها جيدا من يشعر بإحتياج الآخرين.</li>
</ul>
<p></p>
<h3>عظات آبائية للأحد السادس «أحد الغالب» من الخمسين يوم المقدسة</h3>
<h4>فرح القديسين لا ينقطع أبداً، لأن المسيح حي إلى الأبد &#8211; للقديس كيرلس الأسكندري<a href="#_ftn4" name="_ftnref4">[4]</a></h4>
<p><strong>(يو١٦: ١٦) </strong></p>
<p>&#8220;بعد قليل لا تبصرونني، ثم بعد قليل أيضا ترونني، لأني ذاهب إلى الآب&#8221;.</p>
<p>بعد أن قال لهم المخلص أولاً، إنه سيكشف لهم بواسطة روحه كل ما هو ضروري وجوهري بالنسبة لهم أن يعرفوه، فهو يتحدث إليهم عن آلامه وقيامته والتي بعدها يتم صعوده إلى السماء، وإرساله للروح كأمر ضروري، لأنه من غير الممكن بعد ذهابه للآب، أن يتحدث إلى رسله القديسين، بالجسد (وكأنه لم يصعد بعد). وهو يتحدث إليهم بحرص شديد، لكي لا يجعل حزنهم عظيمًا، لأنه كان يعرف جيداً أن خوفاً عظيماً سوف يستولى علي قلوبهم، لأنه كان يتوقع أن تحل بهم شرور مرعبة ولا يمكنهم تحملها حينما يحرمون من وجوده بينهم، بصعوده إلى الآب. لهذا السبب. أعتقد أنه لا يخبرهم أنه سيموت بل يخفي عنهم هذا الأمر مؤقتاً، الذي كان اليهود يقصدون أن يتمموه بجنونهم. ولسبب مراعاته لظروفهم فهو يجعل حديثه ليناً، ويبين لهم أنهم بعد أن يتعرضوا للآلام سينالون فرح القلب الذي ينتج عن قيامته، إذ يقول: &#8220;بعد قليل لا تبصرونني، ثم بعد قليل أيضاً ترونني&#8221;. فالآن إذ اقترب زمن موته الذي سيجعله غير مرئي بالنسبة لتلاميذه لفترة قصيرة، إلى أن يقوم بإبادة الجحيم، ويفتح الأبواب لخروج أولئك الذين كانوا هناك، ثم يبني بعد ذلك هيكل جسده لأنه بعد ذلك أظهر نفسه لتلاميذه، ووعدهم أنه سيكون معهم دائماً إلى انقضاء الدهر كما هو مكتوب (انظرمت۲۰ :۲۸). فرغم أنه غائب بالجسد، إذ قد مضى إلى الآب وجلس عن يمينه لأجلنا، فهو لا يزال يسكن بواسطة روحه مع أولئك الذين هم جديرين به، وهو على اتصال دائم مع قديسيه؛ لأنه قد وعد أنه لن يتركنا بدون عزاء. ولأنه كان هناك وقت قليل قبل أن تبدأ آلامه، فهو يقول &#8220;بعد قليل لا تبصرونني&#8221;؛ لأنه كان سيختفي عن الأنظار بواسطة الموت لفترة قصيرة، ثم يقول &#8220;ثم بعد قليل أيضًا ترونني. لأنه قام في اليوم الثالث بعد أن كرز للأرواح التي في السجن&#8221; (انظر ١بط ٣: ١٩). وبهذا صار البرهان على محبته لجنس البشر كاملاً تمامًا، بإعطائه الخلاص ليس فقط للأحياء، بل أيضا لكرازته بغفران الخطايا لأولئك الذين ماتوا، والذين كانوا يجلسون في الظلمة في أعماق الهاوية بحسب الكتاب.</p>
<p>ولاحظوا، كيف عندما أشار إلى آلامه وقيامته، قال: &#8220;بعد قليل لا تبصرونني ثم بعد قليل أيضا ترونني&#8221; وكيف أنه أضاف &#8220;لأني ذاهب إلى الآب&#8221; وترك باقي الكلام ولم يذكره. فهو لم يشرح لهم طول الفترة التي سيمكثها هناك (عند الآب) أو متى سيأتي ثانية ولماذا كان الأمر هكذا؟ لأنه ليس لنا أن &#8220;نعرف الأزمنة والأوقات التي جعلها الآب في سلطانه&#8221; بحسب كلمات المخلص نفسه (انظرأع ١: ٧).</p>
<p><strong>(يو١٦: ١٧-١٨)</strong></p>
<p>&#8220;فقال قوم من تلاميذه، بعضهم لبعض: ما هو هذا الذي يقوله لنا: بعد قليل لا تبصرونني، ثم بعد قليل أيضا ترونني، ولأني ذاهب إلى الآب؟.. فقالوا: ما هو هذا القليل الذي يقول عنه؟ لسنا نعلم بماذا يتكلم&#8221;.</p>
<p>لأن التلاميذ القديسين لم يفهموا معنى ما قاله، فهم يتحدثون سراً بعضهم مع بعض، متسائلين ما معنى ما يقوله: &#8220;بعد قليل لا تبصرونني ثم بعد قليل أيضاً ترونني&#8221;. والمسيح يدرك رغبتهم في المعرفة، ويبين لهم أنه يعرف ما يجري في عقولهم، وما هو مخبئ في أعماق قلوبهم، كأنهم قد نطقوا وتكلموا به. فأي شيء يمكن أن يخفي عن ذاك &#8220;الذي كل شيء عريان أمامه&#8221; (انظر عب ٤: ۱۳).</p>
<p>ولذلك أيضا يقول لأحد القديسين &#8220;من هو الذي يخفي مشورة عني، ويضع كلمات في قلبه ويظن أنه يجعلها مخفية عني&#8221;؟ (انظر أي ۲:۳۸ سبعينية). فالرب في كل مناسبة يغذيهم بالإيمان السليم وغير المتزعزع .</p>
<p><strong>(يو١٦: ١٩-</strong><strong>۲۰)</strong></p>
<p>&#8220;فعلم يسوع أنهم كانوا يريدون أن يسألوه، فقال لهم: أعن هذا تتساءلون فيما بينكم، لأني قلت: بعد قليل لا تبصرونني، ثم بعد قليل أيضا تروئني. الحق الحق أقول لكم: إنكم ستبكون وتنوحون والعالم يفرح. أنتم ستحزنون، ولكن حزنگم يتحول إلى فرح&#8221;.</p>
<p>فلأنهم كانوا يرغبون أن يعرفوا معنى كلماته، فهو يعطيهم شرحا أوضح لآلامه، ويمنحهم أن يعرفوا مقدمًا ما هو مزمع أن يتألم به من أجل منفعتهم. وهو يعطيهم هذا الشرح مقدماً لا لكي يسبب لهم أنزعاجاً قبل الأوان، بل إذ يتسلحون بهذه المعرفة يكونون أكثر شجاعة في مواجهة الرعب الذي سيهاجمهم. لأن الخطر المتوقع حدوثه يكون تأثيره أخف عندما يحدث، عن الخطر غير المتوقع. وكأن الرب يقول لهم &#8220;إذا حينما تكونون أنتم خاصتي حقاً وأنتم متحدون بي بمحبتكم لي، فحينما تنظرون مرشدكم ومعلمكم واقعاً تحت أفعال جنون اليهود وشتائمهم وثورتهم عندئذ أنتم &#8220;ستبكون وتنوحون، والعالم يفرح&#8221; والعالم هو أولئك الذين لا يريدون أن يتبعوا مشيئة الله، بل هم مقيدون بشهوات العالم، وهو يشير أيضاً الى الرعاع من غوغاء اليهود، وأيضا إلى عصابة عديمي التقوى من أعداء الله الذين كانوا يقودونهم، أي الكتبة والفريسيين،الذين كانوا يسخرون بمخلصنا اثناء المحاكمة، وصاحوا بكلمات تدينهم بالهلاك، فمرة قالوا: &#8220;إن كنت ابن الله فإنزل عن الصليب فنؤمن بك&#8221; (مت۲۷، ٤٠، ٤٢)، ومرة أخرى قالوا: &#8220;يا ناقض الهيكل وبانيه في ثلاثة أيام خلص نفسك&#8221; (مت ٤٠:۲۷). هذه هي كلمات لسان اليهود المملوءة تجديفًا. وبينما أفكار أهل العالم هي هكذا، وبينما تكون أفعالهم وصرخاتهم هكذا، &#8220;فأنتم ستبكون&#8221;، ولكنكم لن تتألموا بهذه المعاناة لفترة طويلة لأن حزنكم سيتحول إلى فرح، لأني سأقوم من الموت، وسأنزع سبب حزنكم وسأعزي النائحين، وسأجدد فيهم شجاعة وثقة حسنة تدوم معهم بلا نهاية. لأن فرح القديسين لا ينقطع أبداً. لأن المسيح حي إلى الأبد، وهو الذي حل رباطات الموت لأجل كل جنس البشر، وربما يتصل بهذا أيضا أن نقول إن أهل العالم سيكونون في حالة بؤس بلا نهاية برفضهم المسيح. لأنه إن كان المسيح حينما مات بالجسد، فان خاصته ناحوا وبكوا، أما العالم ففرح بألامه، وإن كان الموت والفساد قد أُبطِلَت قُوَّتهما بقيامة مخلصنا المسيح من بين الأموات، وحزن القديسين تحول إلى فرح، فبالتأكيد أيضاً فإن فرح أهل العالم سيتحول إلى حزن.</p>
<p></p>
<h4>شرح نص إنجيل القدَّاس – للقديس أغسطينوس<a href="#_ftn5" name="_ftnref5">[5]</a></h4>
<ul>
<li>يُفهم من ذلك بأن التلاميذ قد أُلقوا في حزن على موت الرب، وفي الحال امتلأوا فرحًا بقيامته. أما العالم الذي يعني به الأعداء الذين قتلوا المسيح، فكانوا حتمًا في نشوة من الفرح بقتل المسيح في الوقت نفسه الذي كان فيه التلاميذ في حزنٍ.</li>
<li>&#8220;<strong>لا ينزع أحد فرحكم منكم&#8221;</strong>، لأن فرحهم هو يسوع نفسه.</li>
<li>الكنيسة في الوقت الحاضر في حالة مخاض تشتهي تلك الثمرة التي لتعبها، لكنها عندئذ ستلد تأملًا واقعيًا. الآن تتمخض لتلد في أنين، عندئذ تلد في فرح. الآن تلد خلال صلواتها، عندئذ تلد بتسابيحها.</li>
<li>الرب غير متوانٍ بخصوص وعده، بعد قليل سنراه، حيث لا نعود نسأل شيئًا&#8230; إذ لا يوجد شيء نشتهيه، ولا يوجد شيء مخفي نسأل عنه. هذا القليل يبدو لنا طويلًا، لأنه لا يزال مستمرًا وسينتهي، عندئذ نشعر كم كان هذا الوقت قليلًا.</li>
<li>في العالم المقبل إذ نبلغ الملكوت حيث نصير مثله، إذ نراه كما هو (١يو ٣: ٢)، ماذا عندئذ نطلب، إذ ستتحقق كل رغبتنا بالصالحات (مز١٠٣: ٥)؟ وكما يُقال في مزمورٍ آخر: &#8220;سأشبع عندما يُعلن مجدك&#8221; (مز١٧: ١٥) فإن الطلبة تُمارس بسبب نوع من الاحتياج، الأمر الذي لا موضع له حيث يسود الفيض.</li>
<li>يعرف الرب يسوع كيف أن نفس الإنسان، أي الذهن العاقل الذي خُلق على صورته، لا تقدر أن تشبع إلاَّ به وحده&#8230;</li>
</ul>
<p>يعرف أنه قد أُظهر وأنه مخفي. يعرف أن فيه قد أُعلن ما هو مخفي. يعرف هذا كله. يقول المزمور: &#8220;يا لعظم فيض عذوبتك يا رب التي أخفيتها للذين يخافونك، التي تصنعها للذين يترجونك&#8221; (مز٣٠: ٢٠).</p>
<p>عذوبتك عظيمة ومتعددة أخفيتها للذين يخافونك&#8230;</p>
<p>فلمن تفتحها؟ للذين يترجونك.</p>
<p>سؤال بجانبين قد أُثير، لكن كل جانب يحل الآخر&#8230;</p>
<p>هل الذين يخافون والذين يترجون مختلفون؟</p>
<p>أليس الذين يخافون الله هم يترجونه&#8230;؟</p>
<p>للناموس الخوف، وللنعمة الرجاء.. الناموس ينذر من يتكل على ذاته، والنعمة تعين من يثق في الله.. نحن نسمع الناموس. فإن لم توجد نعمة، تسمع العقوبة التي تحل بك.. لتصرخ: &#8220;ويحي أنا الإنسان الشقي!&#8221; (رو٧: ٢٤) لتعرف نفسك أنك منهزم، لتكن قوتك في خزي ولتقل: &#8220;ويحي أنا الإنسان الشقي! من ينقذني من هذا الجسد المائت؟&#8221;.. هكذا ينذر الناموس من يعتمد على ذاته.</p>
<p>أنظر هوذا إنسان يعتمد على ذاته، يحاول أن يجاهد، إنه منبطح ومُستعبد وأُخذ أسيرًا. من تعلم أن يعتمد على الله، وقد بقي الناموس ينذره ألا يعتمد على ذاته، الآن تسنده النعمة. إذ يعتمد على الله. في هذه الثقة يقول: &#8220;من ينقذني من جسد هذا الموت؟ نعمة الله بيسوع المسيح ربنا&#8221; (رو٧: ٢٤، ٢٥).</p>
<p>الآن أنظر إلى العذوبة، تذوقها، تلذذ بها. اسمع المزمور: &#8220;ذوقوا وانظروا ما أعذب الرب&#8221; (مز٣٤: ٨). يصير عذبًا لك، إذ ينقذك.</p>
<p>كنت في مرارة ذاتك، عندما اعتمدت عليها. لتشرب العذوبة، ولتتقبل غيرة الفيض العظيم هكذا.</p>
<ul>
<li>ما تسألونه يُحسب كلا شيء بالنسبة لما أريد أن أعطيكم. لأنه ماذا سألتم باسمي؟ أن تخضع الشياطين لكم. لا تفرحوا بهذا، فإن ما قد سألتموه هو لا شيء، فلو كان ذلك شيئًا لكان يسألهم أن يفرحوا..</li>
</ul>
<p>&#8220;<strong>لكي يكون فرحكم كاملًا</strong>&#8220;، أي اسألوا ما يشبعكم.</p>
<p>عندما تسألون أمورًا زمنية لا تسألون شيئًا. &#8220;من يشرب من هذا الماء يعطش أيضًا&#8221; (يو٤: ١٣)..</p>
<p>اسألوا ما يشبعكم!</p>
<p>تحدثوا بلغة فيلبس: &#8220;يا رب أرنا الآب وكفانا&#8221; (يو١٤: ٨). &#8220;قال له الرب: أنا معكم كل هذا الزمان ولم تعرفني؟ من رآني يا فيلبس، فقد رأى الآب أيضًا&#8221; (يو١٤: ٩).</p>
<p>قدم تشكرات للمسيح الذي صار ضعيفًا لأجلكم لأنكم ضعفاء، ولتكن رغباتكم معدة للاهوت المسيح لكي تشبع بها.</p>
<ul>
<li>قوله: &#8220;<strong>كل ما طلبتم</strong>&#8221; يجب ألا يُفهم أنه أي طلب كان، بل أي شيء يكون بالحقيقة له علاقة بالحياة المطوَّبة.</li>
</ul>
<p>وما جاء بعد ذلك: &#8220;<strong>إلى الآن لم تطلبوا شيئًا باسمي</strong>&#8221;  يُفهم بطريقتين: إما أنكم لم تطلبوا باسمي، إذ لم تعرفوا اسمي بعد كما يجب، أو أنكم لم تطلبوا شيئًا، إن قورن بما يجب أن تطلبوه، فما تطلبونه يُحسب كلا شيء.</p>
<ul>
<li>علة حبنا أننا محبوبون (من الله). بالتأكيد أن نحب الله، فهذه عطية إلهية. إنه هو الذي أعطانا النعمة أن نحبه، أحبنا بينما كنا نحن لا نحبه. حتى عندما كنا لا نسره كنا محبوبين منه، لعلنا نصير موضوع سروره في عينيه. فإننا ما كنا نقدر أن نحب الابن ما لم نحب الآب أيضًا. الآب يحبنا، لأننا نحب الابن، متطلعين إلى أن نتسلم من الآب والابن القدرة أن نحب كلًا من الآب والابن، لأن المحبة تنسكب في قلوبنا بروح الاثنين ( رو٥: ٥). بالروح نحب كلًا من الآب والابن الذي نحبه مع الآب والابن. إذن الله هو الذي يعمل هذا الحب التقوي الذي لنا، وبه نعبد الله. وقد رأى أنه صالح، وعلى هذا الأساس هو نفسه أحب ما قد عمله فينا. لكنه ما كان يعمل فينا لو لم يحبنا أن يعمل فينا.</li>
<li>لقد جاء من عند الآب لأنه من الآب، وجاء إلى العالم ليظهر للعالم الشكل الجسدي الذي أخذه من العذراء. لقد ترك العالم بانسحابه جسديًا، وانطلق إلى الآب بصعوده كإنسان، لكنه لم يترك العالم بحضوره الفعَّال المُدبر له.</li>
<li>إننا نثق في ذاك الذي قال: &#8220;افرحوا، أنا قد غلبت العالم&#8221; ، لأننا ننال النصرة على عدونا إبليس، بمعونته وحمايته.</li>
<li>لماذا يقول لنا: &#8220;<strong>افرحوا</strong>&#8221; إلاَّ لأنه قد غلب لأجلنا، وحارب لأجلنا؟</li>
</ul>
<p>فإنه أين حارب؟ لقد حارب بأن أخذ طبيعتنا له..</p>
<p>لقد غلب من أجلنا نحن الذين أظهر لنا قيامته..</p>
<p>التصق يا إنسان بالله، هذا الذي خلقك إنسانًا. التصق به جدًا، ضع ثقتك فيه.</p>
<p>أدعه، ليكن هو قوتك. قل له: &#8220;فيك يا رب قوتي&#8221;.</p>
<p>عندئذ تتغنى عندما يهددك الناس، وأما ما تتغنى به يخبرك الرب نفسه: &#8220;إني أترجى الله، لا أخشى ماذا يفعل بي الإنسان&#8221; (مز٥٦: ١١).</p>
<ul>
<li>في التجربة التي يواجهونها بعد تمجيده قبلوا الروح القدس، ولم يتركوا «السيد المسيح»</li>
</ul>
<p><strong>إن كانوا قد هربوا من مدينة إلى مدينة لكنهم لم يهربوا منه هو</strong><strong>.</strong></p>
<p>بينما تلحق بهم التجربة في العالم يجدون فيه سلامًا.</p>
<p>عوض كونهم شاردين منه بالأحرى يجدون فيه ملجأ. فإنهم بعمل الروح القدس فيهم يتحقق فيهم ما قيل الآن: &#8220;<strong>كونوا متهللين، أنا قد غلبت العالم</strong> &#8221;</p>
<p>كانوا متهللين وغالبين، ولكن في من؟ فيه. فإنه ما يُحسب غالبًا للعالم إلا لكي تغلب أعضاؤه العالم. لهذا يقول الرسول: &#8220;شكرًا لله الذي يهبنا الغلبة&#8221; مضيفًا في الحال: &#8220;بربنا يسوع المسيح&#8221; ( ١كو ١٥ : ٧٥ )</p>
<p>.</p>
<h4>النصرة – للقديس يوحنا ذهبي الفم<a href="#_ftn6" name="_ftnref6">[6]</a></h4>
<p><strong>&#8220;</strong><strong>ولكننا في هذه جميعاً يعظم انتصارنا بالذي أحبنا &#8221; </strong>(رو٨: ٣٧)<strong>.</strong></p>
<p>الأمر الأكثر دهشة إذاً، هو أننا لم ننتصر فحسب، بل أننا انتصرنا أيضاً مع وجود مكائد أو دسائس ضدنا. وليس فقط انتصرنا بل &#8220;ويعظم انتصارنا&#8221; أي بكل سهولة وبدون جهد ومتاعب، أو تحمُّل للصعاب، إذ هو يقوم بإعداد الإرادة،</p>
<p>وهكذا في كل مكان نقيم نصباً تذكارياً للإنتصار ضد الأعداء. وهذا مبرر جداً، لأن الله هو ذاك الذي يدعمنا. إذاً لا نتشكك في أن التعذيب الذي يقع علينا، يقودنا إلي الإنتصار على أولئك الذين يعذبوننا، وأنه عندما نُضطَهد، فإننا نتغلب علي مُضطهدينا، وعندما نموت نحوّل الأحياء ونغيّرهم.</p>
<p>لأنه في حضور قوة الله ومحبته، لا شيء يمكن أن يعيق تحقيق الأمور العجيبة والمدهشة، ولا يوجد ما يعطل إشراق الأنتصار كما سبق وأشرنا. لأننا لا ننتصر فقط، بل ننتصر بطريقة عجيبة، لكي يعلم الذين يفكرون بالشر، أن الحرب لم تكن ضد بشر بل كانت ضد تلك القوة التي لا تُهزم .</p>
<p>لاحظ إذاً أن اليهود كانوا في مواجهة اثنين من المنتصرين، وتحيَّروا وقالوا: &#8220;ماذا نفعل بهذين الرجلين&#8221; (أع ٤: ١٦). الأمر الأكثر دهشة هو أنه على الرغم من أنهم كانوا يحتجزونهم، ويعتبرونهم مذنبين، وسجنوهم وضربوهم، تحيَّروا وصاروا مرتبكين، وانهزموا بهذه الأمور ذاتها، والتي توقعوا أنهم سينتصرون بها،</p>
<p>فلا الطغاة، ولا جموع من البشر، ولا كتيبة شياطين، ولا الشيطان نفسه، استطاع أن يهزم هؤلاء القديسين، بل ومع كل هذه القوة المضادة، فقد هزموا الجميع، رغم كل ما ابتدعوا من وسائل، بل صارت كلها ضدهم، ولهذا قال: &#8220;يعظم انتصارنا&#8221;.</p>
<p>لأن قانون هذا الإنتصار كان جديداً في أن ينتصروا بالأمور المضادة، وألا يُهزموا أبداً، بل كما لو كانوا هم المتحكمون في النهاية، وهكذا يسلكون في هذا الجهاد.</p>
<p></p>
<h4>النصرة على الشيطان &#8211; للقديس يوحنا ذهبي الفم <a href="#_ftn7" name="_ftnref7">[7]</a></h4>
<ul>
<li>يصوب الشيطان سهاماً ضدي، لكن أنا معي سيف .</li>
</ul>
<p>هو معه قوس، أما أنا فجندي أحمل سلاحاً ثقيلاً..</p>
<p>إنه حامل قوس لكنه لا يجسر أن يقترب إليّ ،إذ يلقي بسهامه من بعيد .</p>
<ul>
<li>عندما يرى أب محب الإنسان الذي قتل ابنه، فإنه لا يعاقب المجرم فقط، وإنما يدمر أيضاً السلاح نفسه الذي استخدمه. <strong>هكذا عندما يجد المسيح أن الشيطان قد ذبح إنساناً، فإنه ليس فقط يعاقب الشيطان، وإنما يدمر السلاح نفسه</strong> .</li>
<li>هل كان الشيطان يهرب إن دعا أحد إسم اللص المصلوب أو أي (<strong>شخص</strong>) مصلوب آخر؟ بالطبع لا، بل كان سيسخر منه. لكنه عند سماع اسم يسوع المسيح الناصري يُدعَى، يهرب سريعاً كما من النار .</li>
<li>لا نخشى شيئاً، فإننا لكي نقهر الشيطان يلزمنا أن نعرف أن مهارتنا لن تفيد شيئاً، وأن كل شيء هو من نعمة الله.</li>
</ul>
<p></p>
<h4>عبور العالم بسلام والنصرة علي الشيطان &#8211; للعلَّامة أوريجانوس<a href="#_ftn8" name="_ftnref8">[8]</a></h4>
<p>(في شرحه لسفر العدد 21: 21- 24)</p>
<p>وارسل موسى أو بالأحرى &#8220;ارسل إسرائيل رسلاً الى سيحون ملك الأموريين قائلاً دعني أمر في أرضك لانميل الى حقل ولا الى كرم ولا نشرب ماء بئر. في طريق الملك نمشي حتى نتجاوز تخومك، فلم يسمح سيحون لإسرائيل بالمرور في تخومه، بل جمع سيحون قومه وخرج للقاء إسرائيل إلى البرية فأتى إلى هايص وحارب إسرائيل فضربه إسرائيل بحد السيف وملك أرضه&#8221; (عد٢١: ٢١– ٢٤).</p>
<p><strong>سيحون هو الشيطان</strong></p>
<p>القصه واضحة، لكن فلنصل للرب حتى يرينا بعض الأشياء التي تكون مناسبة لمعاني داخلية.</p>
<p>سيحون له معنيان: شجرة عقيمة أو متكبرة. أرسل إسرائيل إذاً رسلاً الى سيحون، الى هذه الشجرة العقيمة، هذه الشجرة المتشامخة المتكبرة. أما سيحون هذا فهو ملك الأموريين، بمعنى مرشدًا الى المرارة أو متحدثًا. &#8220;موسى أرسل رسلاً الى سيحون قائلاً دعني أمر في أرضك&#8221;، نحن قلنا حسب التفسير الروحي أن الملك سيحون يمثل الشيطان لأنه متكبر وعقيم. أعتقد أننا لا يجب أن نندهش إذا دعوته ملك، حيث أن سيدنا ومخلصنا قال عنه في الانجيل &#8220;رئيس هذا العالم خارجاً&#8221; (يو١٢: ٣١). إذا كان قد دعي رئيساً لهذا العالم كله في الأناجيل فهل من غير المناسب أن نقارنه بسيحون ملك الأموريين أو بأي ملك من الأمم الأخرى.</p>
<p>هو قد دعي رئيساً لهذا العالم ليس لأنه قد خلق العالم، بل لأن الخطاة كثيرون في العالم. وبما أنه رئيس الخطاة فقد دعي رئيس العالم أي رئيس الذين لم يتركوا بعد العالم لكي يتجهوا الى الآب. بنفس المعنى قد قيل إن &#8220;العالم كله قد وضع في الشرير&#8221; (١يو٥: ١٩). ماذا يفيدنا أن نقول إن المسيح هو رئيسنا إذا كنا مقتنعين بأفعالنا وأعمالنا ونحن تحت سلطة الشيطان؟ هل لا نعرف بوضوح الى أي رئيس ينتمي الفاجر، الفاسق، الظالم؟ رجل من هذا النوع هل يستطيع أن يقول أنه وضع تحت سلطان المسيح، ولو كان في الظاهر قد أحصى تحت اسم المسيح؟ حيث إن المسيح رئيسنا، لا يرتكب أبداً لا النجاسة ولا البغي، ولا يوجد فيه مكان أبدًا لشهوة الظلم. وفي هذا المعنى. أنه يجدر بنا أن نقول إن المسيح هو رئيس الفضائل، والشيطان رئيس الشر وكل ظلم.</p>
<p><strong>كبرياء الشيطان</strong></p>
<p>إذاً &#8220;أرسل إسرائيل رسلاً الى ملك الأموريين، ملك من الذين يقودون الى المرارة، ملك عقيم، ملك متكبر. كيف نعرف الكبرياء، كبرياء الشيطان؟ أنه هو الذي قال &#8220;بقدرة يدي صنعت وبحكمتي لأني  فهيم ونقلت تخوم شعوب ونهبت ذخائرهم وحطمت الملوك كبطل، فأصابت يدي ثروة الشعوب كعش&#8221; (إش١٠: ١٣، ١٤). أنه يقول أيضًا هذا الروح المتكبروالمتشامخ &#8220;أصعد الى السموات أرفع كرسي فوق كواكب الله وأجلس على جبل الإجتماع في أقاصي الشمال، أصعد فوق مرتفعات السحاب أصير مثل العلي&#8221;؟ (إش ١٤: ١٣، ١٤)، هل مازلت تسأل هل هو متشامخ ومتكبر؟ نعم هومتشامخ ومتكبر.</p>
<p>إنه كذلك والذي كُتب عنه &#8220;لا يخدعنكم أحد على طريقة ما لأنه لا يأتي إن لم يأت الإرتداد أولأ ويُستعلن إنسان الخطية ابن الهلاك المقاوم والمرتفع على كل ما يُدعَى إلهاً أو معبوداً حتى أنه يجلس في هيكل الله كإله مُظهرًا نفسه أنه إله&#8221; (٢تس٢: ٣، ٤). إذاً كل كائن متكبر متشامخ هو ابن لهذا الروح المكتبر، أو تلميذه ومقتدي به، لهذا السبب قال الرسول عن بعض الناس &#8220;لئلا يتكبر فيسقط في دينونة ابليس&#8221; (1تي 3: 6) ستحاكم بدينونة مماثلة للدينونة التي سيحاكم بها ابليس.</p>
<p><strong>جحد الشيطان</strong></p>
<p>اذاً نحن الذين نريد أن نمر خلال هذا العالم لنصل إلى الأرض المقدسة.. إلى الأرض الموعود بها للقديسين، ونحن &#8220;أرسلنا بكلمات سلام لسيحون&#8221; مع وعد بأننا &#8220;لا نمكث في أرضك وبأننا لا نتأخر معه&#8221; (عد٢١ 21، 22)، بأننا في طريق الملك نمشي حتي نتجاوز تخومك بدون أن نميل الي حقل، ولا إلى كرم ولا نشرب ماء بئر.</p>
<p>فلنتأمل متى أعطينا هذه الوعود، هذا العهد للشيطان؟ على كل مؤمن أن يتذكر عندما تقدم لمياه المعمودية<a href="#_ftn9" name="_ftnref9">[9]</a>، عندما أخذ أول ختم الإيمان وجاء إلى مصدرالخلاص فليتذكر الكلمات التي نطق بها حينئذ، يتذكر جحد الشيطان، إنه وعد ألا يستعمل فخاخه، ولا أعماله، ولايخضع أبدًا لعبوديته ولا لإغراءاته. وهذا ما يقدمه لنا &#8220;ظل&#8221; كلمات الشريعة، &#8220;إسرائيل لا يميل الى أي حقل ولا الى كرم&#8221; (عد٢١: ٢٢). إنه وعد أيضًا بأنه لن يشرب من ماء أي بئر، المؤمن لا يأخذ أي نقطة من علم الشيطان، من علم الفلك، من السحر، من أي معلومات مضادة للتقوى نحو الله، لأنه له ينابيعه الخاصة، أنه يشرب من ينابيع إسرائيل، أنه يشرب من ينابيع الخلاص، أنه لا يشرب من بئر سيحون &#8220;ولا يترك ينبوع الحياة&#8221; (إر٢: ١٣)، لا ينقر في الآبار المشققة، لكنه يعلن أنه يتبع طريق الملك.</p>
<p>ما هو طريق الملك ؟  بكل تأكيد طريق الذي قال: &#8220;أنا هو الطريق والحق والحياة&#8221; (يو١٤: ٦). أنه طريق ملوكي حيث قال النبي عنه &#8220;اللهم أعط أحكامك للملك&#8221; (مز٧٢: ١). يجب إذاً أن نتبع طريق الملك بدون أن نميل إلى أي جانب ولا إلى أي حقل ولا إلى كرم، بمعنى أن إدراك المؤمنين لا يجب أن يميل نحو الأعمال أو نحو الأفكار الشيطانية.</p>
<p><strong>عبور العالم في سلام</strong> :</p>
<p>كيف إذًا نريد أن نعبر أرض مملكة الأموريين بسلام؟</p>
<p>نستطيع أن نقبل سلام الأموريين غير المؤمنين الذين في العالم. لكن اسمهم يعني كما سبق أن قلنا، مرشدًا إلى المرارة أو متحدثين يقودون الكفار وغير المؤمنين إلى المرارة؟ ليس من الصعوبة شرح ذلك. بالنسبة للذين يتحدثون نستطيع أن نفهمه كما يلي: إن كل الكفار والذين هم تحت سلطان ابليس لا يعرفون إلا أن يتحدثوا، لكنهم يتحدثون بلا شيء ويشهد عليهم كتابهم، وهم المنجمون وبعض الفلاسفة أيضًا الذين لا ينطقون إلا بكلمات باطلة وفارغة. على العكس ذلك &#8220;ملكوت المؤمنين الذي من الله ليس بكلام بل بقوة&#8221; (أنظر١كو٤: ٢٠).</p>
<p><strong>الاضطهاد</strong><strong>: </strong></p>
<p>نحن نريد أن نعبر العالم في سلام، لكن هذا يُغضب رئيس هذا العالم، فهو عندما يسمعنا نعلن أننا لا نريد أن نمكث معه، وعندما يعرف أننا لا نريد أن نتأخر ولا أن نلمس أي شيء من الأشياء التي يملكها، كل هذا يزيد كراهيته وكبرياؤه، وغضبه، فيسلط علينا الاضطهادات ويضاعف من الأخطار ويُكثر من الآلام. لهذا السبب قال الكتاب المقدس &#8220;جمع سيحون جميع قومه وخرج للقاء إسرائيل&#8221; (عد٢١: ٢٣). ها هم كل هؤلاء القوم الذين مع سيحون، يجتمعون ضد إسرائيل؟ إنهم رؤساء وحكام هذا العالم، كل عبيد الشر الذين يهاجمون بلا انقطاع شعب الله ويضطهدونه.</p>
<p><strong>اتمام الوصايا</strong>:</p>
<p>ماذا يفعل إسرائيل؟ إنه يأتي يقول الكتاب المقدس إلى &#8220;ياهص&#8221;، وياهص تعني &#8220;اتمام الوصايا&#8221;، فإذاً نحن نأتي أيضا إلى هذا المكان، بمعنى الى إتمام الوصايا، متى تقدم ضدنا الشيطان المتكبر والمتشامخ مع جميع جيش سيحون، ومهما شرع في القتال ضدنا وحرض ضدنا كل أبالسته، سيكون لنا النصرة عليه، إن أتممنا وصايا الله، حيث إن إتمام الوصايا يعني أن يكون لنا النصرة على ابليس وكل جنوده، وحينئذ يتم لأجلنا الكلام الذي قاله الرسول &#8220;وإله السلام سيسحق الشيطان تحت أرجلكم سريعا ً (رو١٦: ٢٠). وكلام السيد الرب &#8220;ها أنا أعطيكم سلطاناً لتدوسوا الحيات والعقارب وكل قوة العدو ولا يضركم شيء&#8221; (لو١٠: ١٩). كل ذلك لا يمكنه فعلاً أن يؤذينا &#8220;إذا أتينا إلى ياهص&#8221; (1بط ٤ :١١)، بمعنى إذا حفظنا وصايا وتعاليم سيدنا يسوع المسيح الذي له المجد والسلطان إلى أبد الآبدين آمين.</p>
<p></p>
<h4>التعليق على انجيل القداس – للشهيد كبريانوس<a href="#_ftn10" name="_ftnref10">[10]</a></h4>
<p>من جهة الراحة، <strong>ماذا نجد في العالم سوى حرب دائمة مع الشيطان</strong>، وصراع في معركة دائمة ضد سهامه وسيوفه؟! حربنا قائمة ضد محبة المال والكبرياء والغضب وحب الظهور، وصراعنا دائم ضد الشهوات الجسدية وإغراءات العالم.</p>
<p>ففكر الإنسان يحاصره العدو من كل جانب، وتحدق به هجمات الشيطان من كل ناحية. وبالجهد يقدر للفكر أن يدافع، وبالكاد يستطيع أن يُقاوم في كل بقعة. فإن استهان بحب المال، ثارت فيه الشهوات. وإن غلب الشهوات انبثق حب الظهور. وإن انتصر على حب الظهور اشتعل فيه الغضب والكبرياء، وأغراه السُكر بالخمر، ومزّق الحسد انسجامه مع الآخرين، وأفسدت الغيرة صداقاته.</p>
<p>هكذا تعاني الروح كل يوم من اضطهاداتٍ كثيرةٍ كهذه، ومن مخاطرٍ عظيمةٍ كهذه تُضايق القلب، ومع هذا لا يزال القلب يبتهج ببقائه كثيرًا هنا بين حروب الشيطان! مع أنه كان الأجدر بنا أن تنصب اشتياقاتنا ورغباتنا في الإسراع بالذهاب عند المسيح، عن طريق الموت المعجل. إذ علمنا الرب نفسه قائلًا: &#8220;الحق الحق أقول لكم أنكم ستبكون وتنوحون والعالم يفرح؛ أنتم ستحزنون، ولكن حزنكم يتحول إلى فرح&#8221; (يو١٦: ٢٠).</p>
<p>من منّا لا يرغب في أن يكون بلا حزن؟!</p>
<p>من منّا لا يتوق إلى الإسراع لنوال الفرح؟!</p>
<p>لقد أعلن الرب نفسه أيضًا عن وقت تحويل حزننا إلى فرح بقوله: &#8220;ولكن سأراكم أيضًا فتفرح قلوبكم ولا ينزع أحد فرحكم منكم&#8221; (يو١٦: ٢٠). <strong>مادام فرحنا يكمن في رؤية المسيح&#8230; </strong>فأي عمى يُصيب فكرنا، وسخافة تنتابنا متى أحببنا أحزان العالم وضيقاته ودموعه أكثر من الإسراع نحو الفرح الذي لا ينزع عنا؟!</p>
<p>يا له من نفع نقتنيه بخروجنا من هذا العالم!</p>
<p>لقد حزن التلاميذ، عندما أعلن لهم المسيح أنه سينطلق، فقال لهم: &#8220;لو كنتم تحبونني لكنتم تفرحون لأني قلت أمضي إلى الآب&#8221; (يو١٤: ٢٨)، معلِّمًا إيانا أن نفرح عند رحيل أحد أحبائنا من هذا العالم ولا نحزن، متذكرين حقًا قول الرسول الطوباوي بولس: &#8220;لي الحياة هي المسيح والموت هو ربح&#8221; (في١: ٢١).</p>
<p>نحسب في الموت أعظم ربح، الأمر الذي لا نقدر أن نقتنيه بواسطة شباك هذا العالم أو نجتنيه بواسطة خطايا الجسد ورذائله. <strong>فبالموت نترك الأتعاب المؤلمة ونتخلص من أنياب الشيطان السامة، لنذهب إلى دعوة المسيح لنا متهللين بالخلاص الأبدي</strong>.</p>
<p></p>
<h4>الغالب – للقديس أفراهات<a href="#_ftn11" name="_ftnref11">[11]</a></h4>
<p>لنضع على رؤوسنا خوذة الخلاص، لكي لا نُجرح ونموت في المعركة.</p>
<p>لنمنطق أحقاءنا بالحق، فلا نوجد ضعفاء في القتال.</p>
<p>لنقم ونوقظ المسيح، فيهدئ الأمواج عنا.</p>
<p>لنأخذ الترس تجاه الشرير، كاستعدادٍ لإنجيل مخلصنا. (أف٦: ١٥- ١٦).</p>
<p>لنقبل من ربنا السلطان أن ندوس على الحيات والعقارب. (لو١٠: ١٩).</p>
<p>لنفرح في رجائنا في كل وقتٍ. (رو١٢: ١٢)، حتى يفرح بنا ذاك الذي هو رجاؤنا ومخلصنا&#8230;</p>
<p>لنأخذ لأنفسنا سلاحًا للمعركة. (أف٦: ١٦)، هو الإستعداد للإنجيل.</p>
<p>لنقرع باب السماء (مت٧: ٧)، فيُفتح أمامنا وندخل فيه.</p>
<p>لنسأل الرحمة باجتهاد، فننال ما هو ضروري لنا.</p>
<p>لنطلب ملكوته وبره (مت٦: ٣٣).</p>
<p>لنتأمل في ما هو فوق، في السماويات، حيث المسيح صاعد وممجد.</p>
<p>لكن لننسَ العالم الذي هو ليس لنا، حتى نبلغ الموضوع الذي نحن مدعوون إليه.</p>
<p>لنرفع أعيننا إلى العلا، لنرى الضياء المتجلي.</p>
<p>لنرفع أجنحتنا كالنسور، لنرى حيث تكون الجثة (مت٢٤: ٢٨).</p>
<p>عدونا حاذق يا عزيزي، ومحتال ذاك الذي يقاتلنا. يُعد نفسه للهجوم على الشجعان الظافرين، ليجعلهم ضعفاء. أما الواهون الذين له فلا يحاربهم، إذ هم مسبيون مُسلمون إليه.</p>
<p>من له جناحان يطير بهما عنه، فلا تبلغ إليه السهام التي يقذفها نحوه؟.</p>
<p>يراه الروحيون يحارب، ولا يتسلط سلاحه على أجسادهم.</p>
<p>لا يخافه كل أبناء النور، لأن الظلمة تهرب من أمام النور. أبناء الصالح لا يخشون الشرير، لأنه أعطاهم أن يطأوا عليه بأقدامهم (تك٣: ١٥).</p>
<p></p>
<h3>عظات آباء وخدّام معاصرين <strong>للأحد السادس من الخمسين يوم المقدسة</strong></h3>
<h4>المسيحية فرح &#8211; لقداسة البابا تواضروس الثاني<a href="#_ftn12" name="_ftnref12">[12]</a></h4>
<p><strong>(يوحنا 16: 23- 33)</strong></p>
<p><strong>المسيحية ديانة فرح</strong>:</p>
<ul>
<li><strong>وأنواع الفرح</strong>:</li>
</ul>
<ol>
<li>فرح يونان باليقطينة، وسليمان بتعبه على الأرض.</li>
<li>بإخراج الشياطين كما فعل التلاميذ أمام المسيح.</li>
<li>بوسائط النعمة والتوبة مثل ما حدث في مثل الابن الضال.</li>
<li>بالذهاب إلى الكنيسة &#8220;فرحت بالقائلين لي: إلى بيت الرب نذهب&#8221; (مز١٢٢).</li>
<li>بالتجارب &#8220;احسبوه كل فرح يا إخوتي..&#8221; (يع١: ٢).</li>
<li>بالملكوت &#8220;ادخل إلى فرح سيدك&#8221; (مت ٢٥: ٢١).</li>
</ol>
<ul>
<li><strong>السلام والفرح</strong><strong>:</strong></li>
</ul>
<ol>
<li>بشخص المسيح وكلامه وحضوره الدائم.</li>
<li>بخدمة الناس والاهتمام بهم.</li>
<li>بالأبتسامة واللطف والتشجيع.</li>
</ol>
<p>&#8221; ليكن لكم فىّ سلام&#8221; والسلام هو المسيح.</p>
<p>في مقابل أنه قال لنا عن العالم: &#8220;سيكون لكم ضيق&#8221; أي أن العالم هو ضيق وقد كلمتكم بهذا:</p>
<ul>
<li>ليكن لكم سلام : المسيح هو السلام.</li>
<li>في العالم سيكون لكم ضيق: العالم هو الضيق.</li>
<li>ولكن ثقوا: الإيمان بمثابة بذرة.</li>
<li>أنا قد غلبت العالم : النصرة هي الثمرة.</li>
</ul>
<p></p>
<p><strong>الثقة في المسيح:</strong></p>
<ul>
<li><strong>لماذا؟..</strong></li>
</ul>
<p>لأنه قائم منتصر على الموت آخر عدو للإنسان: &#8220;أين شوكتك يا موت0&#8221; (١كو١٥: ٥٥).</p>
<ul>
<li><strong>متى؟.. </strong></li>
</ul>
<p>في كل وقت وطول العمر: &#8220;توكل على الرب بكل قلبك وعلى فهمك لا تعتمد&#8221; (أم٣: ٥).</p>
<ul>
<li><strong>كيف؟.. </strong></li>
</ul>
<p>بأن يكون المسيح محور حياتنا ورجائنا.</p>
<p><strong>أمثلة من خلال:</strong></p>
<ul>
<li><strong>لمسة:</strong> مثل شفاء المرأة نازفة الدم التي لمست ثوبه (مت٩: ٢١).</li>
<li><strong>كلمة:</strong> قالها لبطرس الرسول عندما كان يصطاد وقال له: قد تعبنا الليل كله&#8230; ولكن على كلمتك<br />
ألقى الشبكة (لو٥: ٥).</li>
<li><strong>حركة:</strong> مثلما في تهدئة الريح والعواصف عندما أسكت الرب البحر والأمواج (مر٤: ٣٩).</li>
</ul>
<p><strong>تدريب روحى:</strong></p>
<p>احفظ وردد مزمور الراعى «مزمور ٢٣»  وتأمل فيه يومياً لتعيش الثقة في المسيح الذى يعتنى بك في كل أيام حياتك .</p>
<p></p>
<h4>شرح نص أنجيل القداس – المتنيح اتلأنبا أثناسيوس مطران بني سويف والبهنسا<a href="#_ftn13" name="_ftnref13">[13]</a></h4>
<p><strong>(يو١٦: ١٦) </strong></p>
<p>&#8220;بعد قليل لا تبصرونني، ثم بعد قليل أيضا ترونني، لأني ذاهب إلى الآب&#8221;.</p>
<p>بعد أن قال لهم المخلص أولاً، إنه سيكشف لهم بواسطة روحه كل ما هو ضروري وجوهري بالنسبة لهم أن يعرفوه، فهو يتحدث إليهم عن آلامه وقيامته والتي بعدها يتم صعوده إلى السماء، وإرساله للروح كأمر ضروري، لأنه من غير الممكن بعد ذهابه للآب، أن يتحدث إلى رسله القديسين، بالجسد (وكأنه لم يصعد بعد). وهو يتحدث إليهم بحرص شديد، لكي لا يجعل حزنهم عظيمًا، لأنه كان يعرف جيداً أن خوفاً عظيماً سوف يستولى علي قلوبهم، لأنه كان يتوقع أن تحل بهم شرور مرعبة ولا يمكنهم تحملها حينما يحرمون من وجوده بينهم، بصعوده إلى الآب. لهذا السبب. أعتقد أنه لا يخبرهم أنه سيموت بل يخفي عنهم هذا الأمر مؤقتاً، الذي كان اليهود يقصدون أن يتمموه بجنونهم. ولسبب مراعاته لظروفهم فهو يجعل حديثه ليناً، ويبين لهم أنهم بعد أن يتعرضوا للآلام سينالون فرح القلب الذي ينتج عن قيامته، إذ يقول: &#8220;بعد قليل لا تبصرونني، ثم بعد قليل أيضاً ترونني&#8221;. فالآن إذ اقترب زمن موته الذي سيجعله غير مرئي بالنسبة لتلاميذه لفترة قصيرة، إلى أن يقوم بإبادة الجحيم، ويفتح الأبواب لخروج أولئك الذين كانوا هناك، ثم يبني بعد ذلك هيكل جسده لأنه بعد ذلك أظهر نفسه لتلاميذه، ووعدهم أنه سيكون معهم دائماً إلى انقضاء الدهر كما هو مكتوب (انظرمت۲۰ :۲۸). فرغم أنه غائب بالجسد، إذ قد مضى إلى الآب وجلس عن يمينه لأجلنا، فهو لا يزال يسكن بواسطة روحه مع أولئك الذين هم جديرين به، وهو على اتصال دائم مع قديسيه؛ لأنه قد وعد أنه لن يتركنا بدون عزاء. ولأنه كان هناك وقت قليل قبل أن تبدأ آلامه، فهو يقول &#8220;بعد قليل لا تبصرونني&#8221;؛ لأنه كان سيختفي عن الأنظار بواسطة الموت لفترة قصيرة، ثم يقول &#8220;ثم بعد قليل أيضًا ترونني. لأنه قام في اليوم الثالث بعد أن كرز للأرواح التي في السجن&#8221; (انظر ١بط ٣: ١٩). وبهذا صار البرهان على محبته لجنس البشر كاملاً تمامًا، بإعطائه الخلاص ليس فقط للأحياء، بل أيضا لكرازته بغفران الخطايا لأولئك الذين ماتوا، والذين كانوا يجلسون في الظلمة في أعماق الهاوية بحسب الكتاب.</p>
<p>ولاحظوا، كيف عندما أشار إلى آلامه وقيامته، قال: &#8220;بعد قليل لا تبصرونني ثم بعد قليل أيضا ترونني&#8221; وكيف أنه أضاف &#8220;لأني ذاهب إلى الآب&#8221; وترك باقي الكلام ولم يذكره. فهو لم يشرح لهم طول الفترة التي سيمكثها هناك (عند الآب) أو متى سيأتي ثانية ولماذا كان الأمر هكذا؟ لأنه ليس لنا أن &#8220;نعرف الأزمنة والأوقات التي جعلها الآب في سلطانه&#8221; بحسب كلمات المخلص نفسه (انظرأع ١: ٧).</p>
<p><strong>(يو١٦: ١٧-١٨)</strong></p>
<p>&#8220;فقال قوم من تلاميذه، بعضهم لبعض: ما هو هذا الذي يقوله لنا: بعد قليل لا تبصرونني، ثم بعد قليل أيضا ترونني، ولأني ذاهب إلى الآب؟.. فقالوا: ما هو هذا القليل الذي يقول عنه؟ لسنا نعلم بماذا يتكلم&#8221;.</p>
<p>لأن التلاميذ القديسين لم يفهموا معنى ما قاله، فهم يتحدثون سراً بعضهم مع بعض، متسائلين ما معنى ما يقوله: &#8220;بعد قليل لا تبصرونني ثم بعد قليل أيضاً ترونني&#8221;. والمسيح يدرك رغبتهم في المعرفة، ويبين لهم أنه يعرف ما يجري في عقولهم، وما هو مخبئ في أعماق قلوبهم، كأنهم قد نطقوا وتكلموا به. فأي شيء يمكن أن يخفي عن ذاك &#8220;الذي كل شيء عريان أمامه&#8221; (انظر عب ٤: ۱۳).</p>
<p>ولذلك أيضا يقول لأحد القديسين &#8220;من هو الذي يخفي مشورة عني، ويضع كلمات في قلبه ويظن أنه يجعلها مخفية عني&#8221;؟ (انظر أي ۲:۳۸ سبعينية). فالرب في كل مناسبة يغذيهم بالإيمان السليم وغير المتزعزع .</p>
<p><strong>(يو١٦: ١٩-</strong><strong>۲۰)</strong></p>
<p>&#8220;فعلم يسوع أنهم كانوا يريدون أن يسألوه، فقال لهم: أعن هذا تتساءلون فيما بينكم، لأني قلت: بعد قليل لا تبصرونني، ثم بعد قليل أيضا تروئني. الحق الحق أقول لكم: إنكم ستبكون وتنوحون والعالم يفرح. أنتم ستحزنون، ولكن حزنگم يتحول إلى فرح&#8221;.</p>
<p>فلأنهم كانوا يرغبون أن يعرفوا معنى كلماته، فهو يعطيهم شرحا أوضح لآلامه، ويمنحهم أن يعرفوا مقدمًا ما هو مزمع أن يتألم به من أجل منفعتهم. وهو يعطيهم هذا الشرح مقدماً لا لكي يسبب لهم أنزعاجاً قبل الأوان، بل إذ يتسلحون بهذه المعرفة يكونون أكثر شجاعة في مواجهة الرعب الذي سيهاجمهم. لأن الخطر المتوقع حدوثه يكون تأثيره أخف عندما يحدث، عن الخطر غير المتوقع. وكأن الرب يقول لهم &#8220;إذا حينما تكونون أنتم خاصتي حقاً وأنتم متحدون بي بمحبتكم لي، فحينما تنظرون مرشدكم ومعلمكم واقعاً تحت أفعال جنون اليهود وشتائمهم وثورتهم عندئذ أنتم &#8220;ستبكون وتنوحون، والعالم يفرح&#8221; والعالم هو أولئك الذين لا يريدون أن يتبعوا مشيئة الله، بل هم مقيدون بشهوات العالم، وهو يشير أيضاً الى الرعاع من غوغاء اليهود، وأيضا إلى عصابة عديمي التقوى من أعداء الله الذين كانوا يقودونهم، أي الكتبة والفريسيين،الذين كانوا يسخرون بمخلصنا اثناء المحاكمة، وصاحوا بكلمات تدينهم بالهلاك، فمرة قالوا: &#8220;إن كنت ابن الله فإنزل عن الصليب فنؤمن بك&#8221; (مت۲۷، ٤٠، ٤٢)، ومرة أخرى قالوا: &#8220;يا ناقض الهيكل وبانيه في ثلاثة أيام خلص نفسك&#8221; (مت ٤٠:۲۷). هذه هي كلمات لسان اليهود المملوءة تجديفًا. وبينما أفكار أهل العالم هي هكذا، وبينما تكون أفعالهم وصرخاتهم هكذا، &#8220;فأنتم ستبكون&#8221;، ولكنكم لن تتألموا بهذه المعاناة لفترة طويلة لأن حزنكم سيتحول إلى فرح، لأني سأقوم من الموت، وسأنزع سبب حزنكم وسأعزي النائحين، وسأجدد فيهم شجاعة وثقة حسنة تدوم معهم بلا نهاية. لأن فرح القديسين لا ينقطع أبداً. لأن المسيح حي إلى الأبد، وهو الذي حل رباطات الموت لأجل كل جنس البشر، وربما يتصل بهذا أيضا أن نقول إن أهل العالم سيكونون في حالة بؤس بلا نهاية برفضهم المسيح. لأنه إن كان المسيح حينما مات بالجسد، فان خاصته ناحوا وبكوا، أما العالم ففرح بألامه، وإن كان الموت والفساد قد أُبطِلَت قُوَّتهما بقيامة مخلصنا المسيح من بين الأموات، وحزن القديسين تحول إلى فرح، فبالتأكيد أيضاً فإن فرح أهل العالم سيتحول إلى حزن.</p>
<p></p>
<h4>الرب يسوع غالب العالم &#8211; للمتنيح القمص بيشوي كامل<a href="#_ftn14" name="_ftnref14">[14]</a></h4>
<p>عظة الأحد السادس من الخماسين المقدَّسة (يو١٦: ٢٣- ٣٣)</p>
<p>بسم الآب والابن والروح القدس الإله الواحد آمين</p>
<p><strong>الرب يسوع هو غالب العالم </strong></p>
<p>موضوعنا بنعمة ربنا وتعزية الروح القدس هو اللي رتبته الكنيسة لينا، صعد الرب الي السماء، وأوصي تلاميذه أن لا يبرحوا أورشليم حتي يلبسوا قوة من الأعالي، وقال لهم إنهم ينتظروا موعد الآب.</p>
<p>كنا بنتكلم إمبارح في الإصحاحات (١٤- ١٧) من إنجيل معلمنا يوحنا، الأربع إصحاحات دول من أول إصحاح ١٤، ابتدأ يكلم المسيح تلاميذه عن أخطر موضوع زي ما بيقول النهاردة.. الذي من أجله قد جاء &#8220;من عند الآب خرجت وأتيت إلي العالم وأيضاً أترك العالم وأمضي إلي الآب&#8221;.</p>
<p><strong>لماذا تجسد المسيح ولماذا صلب ولماذا قام؟ </strong></p>
<p>هاتقولي اتجسد علشان يبارك الجنس البشري ويحل في وسطينا، وهاتقولي هو <strong>اتصلب علشان يفدينا من خطايانا</strong> لأنه بيحبنا، وتقولي إنه <strong>قام لأنه أقامنا معه</strong>. وسمعنا كتير عن القيامة، ماذا بعد ذلك؟ المسيح ما يستريحش أبداً إلا لما تكْمل رسالته، علشان كدة قال لهم خير لكم ان أنطلق، أحسن ليكم أن أنطلق.. ولو إنتم بتحبوني لكنتم تفرحون لأني ماضي إلي أبي.. إلي أبي لو كنتم تحبوني بحق كنتم تفرحوا أن رسالتي تكمل، إيه اللي عاوزه يا رب بالنسبة لينا بعد ما غفرت خطايانا وسامحتنا وفديتنا؟ قال <strong>أريد أن تكون الكنيسة عن يمين الآب</strong>. فأنا ماضي إلي الآب، ودايماً إحنا نرد في القُدَّاس ونقول صعد إلي السموات وجلس عن يمين أبيه. <strong>فإحنا جسم الكنيسة</strong>.. جسم المسيح الكنيسة، فالمسيح صعد للسماء واستقرت الكنيسة في يمين الآب.. يمين القوة.. يمين العظمة.. في يمين الله الآب ضابط الكل، وأكمل ربنا يسوع كل عمل، وقال اتفضلوا الآب آهو في مواجهتكم، علشان كده النهاردة برضه من صلواته الأخيرة دية، بيقول لهم لست أسأل الآب لأجلكم.. <strong>مش ها أسأل الآب لأجلكم لأن الآب نفسه يحبكم، أنتم بقيتم خلاص في مواجهة الآب</strong>.</p>
<p><strong>أبوة الله الآب</strong></p>
<p>مرة تانية يقول <strong>لن أترككم يتامي</strong> إنتم من غير أب كنتم يتامي، أنا جاي علشان أسكب.. علشان أوصل الكنيسة لإدراك معني الأبوة، علشان تعرف إن الله ده أبوها، هذه العملية لا يمكن تكون بالبساطة إن ربنا يقول أنا اخترتكم.. <strong>بقيتوا أولادي</strong>، لكن الله المسيح كلمة الآب لما أخذ جسدنا أعطانا إمكانية إن إحنا نكون أعضاء جسده فوجوده في يمين الآب يبقي وجودنا إحنا في يمين الآب، هو ابن الله بالطبيعة، وإحنا أعضاء جسده الذي أخذه من السيدة العذراء.. فإحنا أيضاً أولاد لله.. <strong>الله الآب يحبنا جداً فأعطانا روحه القدس</strong>، فقال لهم لا تبرحوا أورشليم حتي تأخذوا موعد الآب، <strong>ولما تقرأ الإصحاحات دية كلها لا تجد حديث إلا عن الأب</strong>، هو ده بيت القصيد، الموضوع إنه عاوز يوصل الإنسان إلي إدراك احساسات الله بالنسبة ليه، لأن أوحش ما في الموضوع إن يكون ابن عايش مع أبوه، ويقول لك ده مش أبويا، أو مش حاسس بأبوته.</p>
<p><strong>طبيعة الله حب </strong></p>
<p>المسيح نزل من السماء وأخذ جسدنا ومات عنا وفدانا، وصعد بهذا الجسد للسماء لكي يكشف لنا عن طبيعة الله الذي يحبنا.&#8221; <strong>لست أسأل الآب لأجلكم لأنه هو نفسه يحبكم</strong>&#8220;. المسيح أكمل الرسالة بتاعته علشان كدة في أخر الرسالة بيقول &#8220;تأتي ساعة كل واحد يتفرق إلي خاصته&#8221; ويقوم هيرودس وبيلاطس ورؤساء الكهنة والكتبة والفريسيين ، وكل دول يقوموا على الرب.. ويقدموا له الصليب ويتركوه وحده.. ويقول: &#8220;<strong>ولكني لست وحدي، لأن الآب معي</strong>&#8220;. ده أنا باقدم الرسالة الخطيرة، ده أنا بأوصّل الكنيسة ليمين الآب، هأوصلها له إزاي؟ هاوصلها له مغسولة بالدم الذكي الكريم طاهرة نقية حلوة فها أغسلها بدمي علي الصليب.. فالآن الكل تركوني ولكني لست وحدي.</p>
<p><strong>روح البنوّة</strong></p>
<p>وبعدين يرجع يقول لهم شوفوا العالم مش شايفني إني أنا اتغلبت &#8220;لكن ثقوا أنا قد غلبت العالم&#8221;. في العالم سيكون لكم ضيق، يعني العالم يقدر يسييء، إذاً العالم المادي يقدر يسيء لحاجاتنا المادية، ولكن المسيح لما صعد بالكنيسة اللي هي جسده فغلب العالم لأن <strong>العالم بقي تحت رجلين الكنيسة</strong>، غلب الشيطان وإرتفع بالكنيسة في يمين الآب فالكنيسة النهاردة ممجدة في يمين الآب السَّماويّ. وأخذت موعد الآب. <strong>فتح الآب أحشاؤه</strong>،<strong> وسكب روحه</strong> ، لأن الآب لم يعطنا أقل من هذا، لكنه أعطانا روحه القدس، لذلك يؤكد معلمنا بولس الرسول أننا لم نأخذ بعد روح العبودية.. ما أخذناش روح الخوف، بل أخذنا روح التبني أو روح الآب، الذي به نصرخ ونقول &#8220;إبانا الآب&#8221;. لست أسأل الآب من أجلكم، أنا وصلتكم للآب.. وإنتم دلوقتي تعيشوا في هذا العالم بهذا الإحساس العميق: إن لكم أب سماوي، وأن الآب السَّماويّ أعطاكم روحه، وأنتم بتتحركوا بالروح ده، <strong>ومعرفتنا عن الله معرفة زي ما كنّا بنتكلم</strong>، <strong>مش معرفة عقلية لكن هي معرفة أبوة</strong> لأن الله سكب روحه فينا فما بقاش إحنا اللي بنعرف ربنا لكن هو اللي عرفنا بروحه، مش الطفل اللي بيعرف أبوه لكن أبوه اللي بيحتضنه، بيربيه، بينشأه، وبعدين الإبن يبتدي يحس بحنان هذا الآب، فيبتدي يعرف كل حاجة فيه ويعرف حاجات ما يعرفش يعبر عنها بذهنه، بعقله البشري، لكن يعرف حاجات يحسها، ويحس ويعرف حاجات في أبوه ما يقدرش يتكلم عنها بلسانه، ولا هو يعرف ينطق.</p>
<p><strong>روح المعرفة </strong></p>
<p>فالآب سكب روحه فينا، فهذا الروح أعطانا معرفة فائقة الوصف، ليس المعرفة التي يتخيلها العالم إنه يقدر يعرف ربنا عن طريق الكتب.. عن طريق المناقشات.. وعن طريق الجدل.. وعن طريق أمور العالم المادية.. كأن الله حكر لأمكانيات إنسان ذكي أو نبيه أو إنسان متعلم.. أو إمكانيات إنسان.. دولة غنية.. أو دولة عندها فلوس تقدر تطبع كتب كتير أو تقدر تعمل دعاية كثير.. أو عندها برامج اعلامية كبيرة.. كأن الله حكر للناس دول.. &#8220;لا&#8221;.. الله مش ها يتعرف بكل هذه الوسائل، ولكن الله أرسل روحه لأولاده <strong>وباب المعرفة أصبح مفتوح أمام كل واحد مننا</strong>، لأن هذا الروح روح الآب يعرفنا أمور كثيرة، ويأخذ مما للمسيح ويعطينا، فيأخذ من هذه الأسرار ويعطي أولاده، فيصبح أولاد الله، <strong>أولاد الآب السَّماويّ عندهم أسرار الهية مسكوبة من عند الآب ليهم، </strong>&#8220;<strong>الحق الحق أقول لكم إن كل شيء تسألون بإسمي يعطيكم إياه</strong>&#8220;.</p>
<p>النهاردة عاوز يكلمنا عن نقطة من النقط اللي سجلها في الإصحاحات دي، إحنا قلنا إن كل الإصحاحات الأربعة دول بيتكلموا عن الأب اللي أحبنا، واكتشاف الكنيسة ليه، ومكان الكنيسة النهاردة إن هي عن يمين الآب، وإن الآب وهب الكنيسة روحه، وإن الإبوة مش كلام، لكن الأبوة حب وإنسكاب للروح القدس. النهاردة بنتكلم عن <strong>علاقة الابن بأبوه</strong>.</p>
<p>السؤال: للأن لم تسألوا شيء، كل ما تسألون الأب باسمي يعطيكم إياه، أنا لست أسأل الآب لأجلكم لأن الأب نفسه يحبكم، طبعاً لو أعطي للتلاميذ فرصة للرد علي السؤل ده.. هايقولوا ما إحنا مرات كتير سألنا منك حاجات كتيرة ما إدتهالناش.. مرة كنّا قدام السامرة، وسألنا منك نار تنزل من السماء، وتحرق أهل السامرة، ومع ذلك ما نزلتش نار بالعكس زعقت فينا، وقلت لبطرس اذهب عني يا شيطان، ومرات سألنا منك إنك تكتر من الحاجات الحلوة اللي بتفرح الناس دية زي إشباع الجموع، والحاجات دي وماكررتهاش.. وبعدين جاي النهاردة تقول لنا للآن لم تطلبوا شيء؟!، قال آه.</p>
<p><strong>لأن أنا هدفي كله ورسالة المسيح كلها إن أنا أوصلكم للآب</strong>، وعاوزك تعرف إزاي الابن يبتدي يطلب من أبوه، إنتم كنتم في الأول بتلفوا حوالين نفسكم، لكن أنا لما نقلت الكنيسة وبقت في يمين الآب، أصبحت الكنيسة إن هي تطلب من الآب لأن الأب يحبها، وأول حاجة نشوف المسيح في طلبته الأخيرة طلب إيه؟</p>
<p><strong>طلبات المسيح في الصلاة الوداعية</strong></p>
<p><strong>الوحدانية</strong></p>
<p>هو رأس الكنيسة.. والكنيسة في يمين الآب. والأبواب انفتحت ليها، وأخذت روح الآب وكل ما نسأل من الآب يعطينا. طب صلى المسيح قال إيه في آخر صلاته دي؟ قال: &#8220;أيها الآب أريد أن هؤلاء يكونون واحداً فيّ، كما أنا واحد فيك&#8221;. فالطلبة اللي طلبها المسيح بالنسبة للآب قال له زي ما أنا واحد فيك &#8220;<strong>الوحدانية</strong>&#8221; دول كمان يكونوا واحداً فينا لكي يعلم العالم أنك أحببتني.. <strong>طلبة غريبة جداً</strong>، ما هو المسيح في الآب واحد، قال دولت كمان اللي انا جايبهم من العالم (علشان الرسالة بتاعتي تكون كملت) يكونوا واحد فيّ.. وإنت واحد فيّ، فيكونوا واحد فينا، أمال تفتكر روح ربنا ده مش ممكن يستقر.. غير هو روح الآب وروح الابن.. إيه علاقته بالإنسان؟ الإنسان ده لما اتخلق إتنفخت فيه نسمة حياة، تطلع منه يرجع الإنسان إلي التراب، لكن لأننا بقينا أعضاء جسمه <strong>فبقدر ما نكون إحنا في حالة من الوحدانية بقدر ما نحس بإنسكاب روح الله فينا</strong>. رغم إن الله موجود، أخذنا روح الله، وانسكب فينا بالمعمودية، علشان كده المسيح يقول: اثبتوا فيّ، علي قد ما الغصن يكون ثابت في الأصل علي قد ما يكون كل ما للشجرة الأصلية ابتدأ ينسكب ويجري في الأعضاء اللي هي بقت ثابتة في الجسم.</p>
<p><strong>الثبات في الله</strong></p>
<p>&#8220;<strong>اثبتوا فيّ</strong>&#8221; لو المسيحيين عرفوا العطية اللي أعطيت لهم قد إيه؟ إنهم أصبحوا أعضاء في جسم المسيح، وإنهم عن يمين الآب، وكل ما يطلبونه من الآب يعطيهم، أطلب من الآب إيه؟ أنا في حضنه، أطلب الوحدانية، إن أنا أكون واحد، شوف المسيح هنا في صلاته في الآخر يقول: &#8220;الجميع تركوني وحدي&#8221; تقول ودي صعبة؟ قال آه تؤثر في النَّفس جداً، ولكني لست وحدي، لأني في حضن أبي، ولكن لست وحدي لأن أبي معي، قد كلمتكم بهذا لكي يكون لكم فيّ سلام، العالم ده أنا غلبته، غلبته إزاي؟ لا شفناك ماسك سيف، ولا عملت حرب، ولا نزلت نار من السماء، كنّا متوقعين من المسيح كده إن هو يعمل لنا شوية حركات كده تكون فيها نوع من القوة، والعنف! علشان كدة الناس حتي اللي قصاده التانيين: الكتبة والفريسيين يختشوا ويخافوا، ويبتدوا يعملوا للمسيحية حساب وبتاع، قال لهم ما أنا غلبت العالم كله، والعالم قدر يفصلني عن أبي؟! كلهم تركوني، وأهانوني، وأنصرفوا عني &#8220;ولكني لست وحدي لأن الآب معي&#8221;. أهي الطلبات اللي أنا عاوز أوصلها للكنيسة بتاعتي.</p>
<p><strong>خطورة الانفصال عن حضن الآب</strong></p>
<p>هو إيه أخطر علي النَّفس اللي اتولدت في الكنيسة إلا إنها تنفصل عن حضن الآب، إيه الخطر علي الإبن الضال إلا إنه فكر إنه يسيب بيت أبوه، ويروح لكورة بعيدة، هناك في الكورة البعيدة كان هو الموت لأنه انفصل عن بيت أبوه، لكن لما رجع لحضن أبوه مرة تانية، دبت فيه الحياة من جديد، ولم يعد للموت أي سلطان عليه، فأصبح هو غالب العالم وغالب الموت طول ما هو في حضن الآب.</p>
<p><strong>فالكنيسة الثابتة في المسيح تطلب من المسيح كل شيء فيعطيها</strong>. إيه كل شيء ده؟ لسة الحاجات التانية اللي بنفكر فيها؟ &#8220;لا&#8221;.. قال أيها الآب أريد أن هؤلاء يكونوا واحداً فيّ كما أنا واحد فيك، فالمسيح النهاردة بيدينا صورة من صور الصلاة إزاي نصلي إزاي للآب، <strong>قال نصلي لكي نكون واحد فيه</strong>.</p>
<p><strong>وحدانية المشيئة</strong></p>
<p><strong>ما شفتش المسيح مرة عمل وصية ضد وصية الآب</strong>، لا، لأن هم الإثنين واحد. تقول لي يا أبونا السؤال ده ما يتسئلش، لأن ده كلمة الآب، إزاي يبقي فيه مشيئتين زي ما غلط البعض وقال فيه مشيئتين، ده هي مشيئة واحدة، لأننا لم نر مرة واحدة إن المسيح صنع شيء ضد مشيئة الآب. وده يؤكد إنها مشيئة واحدة، تقول لي مرة صلى، وقال لتكن لا مشيئتي.. ده كان بيعلمنا.. لكن ما حصلش إن مشيئة المسيح اختلفت مع مشيئة الآب طرفة عين، لأن أنا في الآب، والآب فيَّ، فإزاي يكون فيه مشيئتين!! <strong>فالوحدانية وحدانية مشيئة، فبقدر ما تنطبق مشيئتك علي مشيئة المسيح ، تكون إنت واحد في الآب</strong> يكون روح ربنا إنت ثابت فيه، آهي دي حتة في الصلاة مهمة جداً عاوز المسيح يؤكد عليها، للآن لم تطلبوا شيء اطلبوا كي تأخذوا كي يكون فرحكم كامل، تطلبوا علشان تأخذوا علشان الفرح بتاعكم يكون كامل. طب إحنا يا رب لما تدينا عطايا تانية، قال فعلاً بتفرحوا، أي واحد بيأخذ شيء في العالم، بينال شيء بيفرح، لكن هذا الفرح لن يدوم إلي الأبد لأنه فرح من العالم، وبسبب أمور مادية فنفرح به فترة من الوقت، وبعدين يخلص الفرح ده.</p>
<p>لكن إن ثبتم فيّ لا يقدر أحد أن ينزع فرحكم..لأن الفرح هنا ها يكون ثمر للروح القدس.. هايكون ثمر للروح القدس.. الروح القدس اللي سكبه الآب في يوم الخمسين، <strong>وأعطي لينا </strong><strong>(للكنيسة)</strong> علشان إحنا أعضاء جسم المسيح، هذا الروح المعزي من ثماره الأساسية الفرح، الفرح، لا يقدر أحد أن ينزع هذا الفرح منكم، لأنه خلي بالك.. أصبح طبيعة الكنيسة اللي هي في يمين الآب لكنه فرح ليس من فرح العالم زي ما نشوف دلوقت.</p>
<p><strong>المحبة </strong></p>
<p>نسأل إيه كمان؟ نشوف المسيح سأل إيه في صلاته الأخيرة &#8220;أيها الآب أريد أن هؤلاء يكون فيهم الحب الذي أحببتني به وأكون أنا فيهم&#8221;، أنا عاوز يكون فيهم الحب اللي أنت أحببتني به.. ده كلام كبير جداً لأننا لما بنتكلم دلوقتيإ إحنا بنأخذ من العطايا بتاعة المسيح. العطايا بتاعة المسيح اللي ليه عند الآب، إحنا دلوقتي بنأخذها لأننا أعضاء في جسم المسيح، بالروح المنسكب اللي إحنا أخذناه بالمعمودية وانسكب فينا، بهذا الروح القدس نأخذ مما للآب، يأخذ مما للمسيح ويعطينا، المسيح ليه إيه؟ &#8220;أريد أن هؤلاء يكون فيهم الحب الذي أحببتني به، وأكون أنا فيهم&#8221; أنا عاوز يكون فيهم الحب اللي إنت أديتهوني، إحنا دلوقتي ما بناخدش، ما بنطلبش طلبات علي المستوي العادي، الله يعلم هذه الطلبات كلها وبيعطيها لنا، بيعطيها لنا وزيادة، لكن إبتدأ يرتفع بينا كأولاد الله ككنيسة قائمة عن يمين الآب، إلي مستوي أعلي من الطلبات أعلي جداً من مستوي العالم ده.</p>
<p><strong>الإلتصاق بالمسيح </strong></p>
<p>ابتدأ يقول لنا اطلبوا الوحدانية، اثبتوا فيّ لكي يكون الجميع واحداً فيّ كما أنا واحد فيك، إبتدأوا اطلبوا إن إنتم لا تنفصلوا عني لا لحظة واحدة، ولا طرفة عين علشان تعيشوا الحياة الأبدية، ابتدأوا اطلبوا من الروح القدس اللي فيكم إنه يسكب حبه، لأن معلمنا بولس الرسول يقول: &#8220;لأن محبة الله قد انسكبت فينا بالروح القدس&#8221; ولما اتكلم عن انسكاب المحبة بالروح القدس، كانت المناسبة صعبة، قال &#8220;أفتخر في الضيق&#8221; يعني معناها إنه كان ساعتها في ضيقة كبيرة والضيق أنشأ فيه صبر كبير، في وسط الضيقة دية فيه حب انسكب في قلبه، لم ير له مثيل لأنه ليس من حب العالم، وليس حب بشري، ولا حب علي مستوي حب إنسان لإنسان، أو أب لأبنه، أو أخ لأخوه، أو زوج لزوجته، مش حب من هذا النوع أبداً اللي موجود في العالم، لكن حب الهي، مش في قدرة الإنسان يأخذه، أسألوا، لأنه في إمكان الروح القدس إنه يسكبه في قلوبنا حتي في وسط الضيق. للآن لم تطلبوا شيئاً.</p>
<p><strong>اطلبوا الطلبات اللي أنا طلبتها </strong></p>
<p>المسيح واقف يقول <strong>إديهم الحب اللي إنت إديتهوني</strong>، يا سلام، قال &#8220;لا&#8221; مش من الحب اللي في العالم، قال له إديهم السلام بتاعي، إيه السلام بتاع المسيح؟ <strong>سلامه إنه واحد في الآب</strong>، قال ليس كما يعطي العالم أعطيكم، علشان كده أول آية، أول آية في صلاة يسوع الأخيرة دية أول الإصحاح الرابع عشر، يقول كدة &#8220;لا تضطرب قلوبكم، أنا ماض لأعد لكم مكاناً، وإن مضيت وأعددت لكم مكاناً آتي وآخذكم حتي حيث أكون أنا تكونون أنتم&#8221;. فإنت رايح تعد لينا مكان علشان كده بتقول لينا ما تضطربوش، إصبروا يعني، لأ، أنا مش رايح أعد لكم مكان عادي، المكان اللي أنا رايح أعده هأعده ليكم إن أنا <strong>هآخذ الكنيسة كلها وأحطها عن يمين الآب</strong> فأصبح الكنيسة لها مكان، والمكان اللي أنا رايح أعده ليكم إن أنا هاحطكم عن يمين الآب، فها يبقي لكم مكان عند الآب، ده المكان.. فعلشان كدة ما تضطربش قلوبكم، أنا ماض لأعد لكم مكاناً، إن مضيت وأعددت لكم مكاناً آتي أيضاً وآخذكم لأنكم أنتم أعضاء جسمي فعندئذ يكون مكانكم في يمين الآب، خلاص يبقي لنا مكان.</p>
<p>دلوقت أنت عاوز مكان ليك؟ تقول لي يا أبونا أقول لك لما نموت، ونروح السماء ها يبقي لنا مكان فوق في السماء، تقول لأ ده إحنا النهاردة الكنيسة خلاص مكانها في يمين الآب، <strong>إحنا لنا مكان، وإحنا لنا أب دلوقتي</strong>، هو ده المكان بتاعنا، مالناش مكان تاني، طبعاً التلاميذ ما فهموش الكلام ده لكن كانوا بيسألوا دايماً قل لنا حكاية الآب إيه، والمكان اللي إنت ها تعده شكله إيه؟ لأن نفس الإنسان دايماً إنه عاوز يعرف يا تري المكان ده ها يبقي مريح ودرجة الحرارة هاتبقى فيه شكلها إيه، وها يبقي فيه شجر ولا يبقي فيه زرع، ها يبقي فيه راحة، هايبقي فيه سلام، مش ها يبقي فيه مشاكل مادية، ها يبتدي الإنسان يتعب، مش ها يكون فيه مرض، مش ها يكون فيه تعب، ها يكون فيه سلام كامل، الآب قال لهم، لا، ده مكان تاني عن يمين الآب، <strong>مكان دايم في وحدانية دايمة</strong>.</p>
<p><strong>السلام السَّماويّ</strong></p>
<p>اطلبوا الطلبات دية، <strong>سلام</strong>، مش من سلام العالم، ولو إني مستعد أديكم من سلام العالم، وأحافظ عليكم، وأدبر أموركم، وشعور رؤوسكم أحصيها <strong>وتدعوني في وسط الضيق فأنقذكم</strong>، وأديكم علي قد مستواكم، لكن مش ده الهدف اللي أنا جاي من أجله، <strong>جاي علشان أحط الكنيسة في يمين الآب</strong>.</p>
<p>وقف المسيح يصلي ويقول: &#8220;أيها الآب لست أسأل أن تأخذهم من العالم بل أن تحفظهم من الشرير&#8221;. لو كان المكان إنه مجرد إنه رايح يعد مكان علشان لما نموت ها نروح نقعد فيه، والناس تفسر أنه راح يعد مكان علشان لما يجي يأخد أرواحنا نبقي نروح نقعد في السماء، ما كانش يقول: &#8220;لست أسأل أن تأخذهم من العالم، بل أن تحفظهم من الشرير&#8221;. لأن المكان أعد فعلاً وخلاص، وإحنا مكاننا اتعرف إحنا مكاننا دلوقت في حضن الآب فكل اللي عاوز يقوله ما ينفصلوش عنك دولت أيها الآب، ما ينفصلوش عنك، يكونوا واحد، يكونوا مملوئين من الحب ليك.</p>
<p><strong>الفتور الروحي </strong></p>
<p>إيه الخطر اللي يهددنا دلوقتي، يهددنا الشرير، لست أسأل أن تأخذهم من العالم، بل تحفظهم من الشرير، يهددنا الإنفصال عنه، يهددنا إن محبة الآب في قلبنا تقل ودي أوحش حاجة، ودي إحنا كلنا بنشتكي منها بمرارة لما ييجي وقت مش عارفين لا نصلي ولا نتعامل مع ربنا، ونقعد نتكلم بلغاتنا ونقول فيه فتور، فيه فتور روحي، يعني إيه فيه فتور روحي بين الآب وبيننا؟ ده روحه جوانا! الفتور الروحي ده جه من إيه؟</p>
<p>حتي الكتاب المقدس يقول في سفر الرؤيا &#8220;ارجع إلي محبتك الأولى&#8221; <strong>ارجع.. اذكر من أين سقطت وتب</strong> وارجع إلي محبتك الأولى، واذكر من أين سقطت وتب.. <strong>اطلب المحبة</strong>، لست أسأل أن تأخذهم من العالم بل أن تحفظهم من الشرير، تحفظهم في الوحدانية وتحفظهم في انسكاب الحب فيهم بالروح القدس، روحك أيها الأب.. يعيشوا فرحانين بك أيها الآب طول حياتهم مش في العالم بس إلي أبد الآبدين.</p>
<p><strong>لست أسأل أن تأخذهم من العالم </strong></p>
<p>كل واحد مننا يملأ الفرح قلبه، لأن هو في حضن الآب السَّماويّ،&#8221; لست أسأل أن تأخذهم من العالم، خذهم في الوقت اللي إنت عاوز تأخذه، وخليهم زي ما إنت عاوز، لهم رسالة، بولس الرسول قال: &#8220;لي إشتهاء أن أنطلق وأكون مع المسيح فذاك أفضل جداً&#8221;. ولكن أن أبقي لأجلكم فربنا له حكمة في كل حاجة بالنسبة للإنسان في طول عمره علي الأرض، أو في قصر عمره، أو في رسالته اللي يؤديها، أو إلي آخره، ده مش موضوعنا، لكن مكان قعاد، وإحنا قاعدين فيه بس مش وإحنا قاعدين علي الكراسي دلوقت في الكنيسة، لكن إحنا في حضن الآب ومكاننا معروف.</p>
<p>لست أسأل أن تأخذهم من العالم، ده مش الموضوع اللي شاغلني، يعمروا كتير يعمروا قليل مش مهم، لكن احفظهم من الشرير، احفظهم في وحدانيتك، ودايماً <strong>اسكب الحب أيها الروح القدس في قلبهم أكثر لكي يدركوا حب الآب كل يوم</strong>، كل يوم، لغاية لما يحسوا إن حب الآب ليهم أكتر من الإحتمال.</p>
<p>أنا نفسي كل واحد مننا يعيش في هذا الحب فرحاً وفِي ملء السلام في وسط عالم صاخب ومضطرب ويفتكر كلمة المسيح الأولانية اللي ابتدأ بها صلاته &#8220;لا تضطرب قلوبكم&#8221;. ومرة من المرات يقول لهم أنا ماضي إلي الآب، خلاص هآخذ الكنيسة.</p>
<p>لما كلمتكم عن هذا ملأ الحزن قلوبكم وإبتديتم تحزنوا، ابتدا يصلي المسيح ويقول: &#8220;أيها الأب لست أسأل أن تأخذهم من العالم بل أن تحفظهم من الشرير&#8221; ويصلي كمان ويقول: &#8220;أيها الآب العالم لم يعرفك، أما هؤلاء فعرفوك، وأنا عرفتهم وأعطيتهم الحب الذي أعطيتني، من أجلهم أقدس أنا ذاتي ليكونوا هم أيضاً مقدسين&#8221;.</p>
<p><strong>القداسة</strong></p>
<p>المسيح يقدس ذاته، ليه؟ المسيح مش قدوس!! المسيح قدوس، ده <strong>هو القداسة، هو القداسة بعينها</strong>. ده أحنا في مفهومنا بنعتبر مش زي العالم ما بيعتبر، <strong>مش القداسة إن الواحد ما يعملش خطية</strong> بنعتبر إن <strong>القداسة هي الثبات في القدوس</strong>. <strong>إذا ما ثبتناش في الله ما نبقاش قديسين</strong>، لأن القداسة هي الله، هو وحده القداسة. وإن ثباتنا فيه هو القداسة، من أجلهم أقدس ذاتي، تقدس ذاتك !! قال <strong>أقدس يعني أكرز ذاتي</strong>، أنا ذاتي دي أنا خالق العالم.</p>
<p>المسيح بيتكلم العالم ده كله أنا خالقه، لكن أنا ذاتي متكرسة ومقدسة في أولادي دول، في أولادي دول، من أجل ذلك أنا أسأل أن يكونوا قديسين، يعني هم ها يكونوا واحد فينا، من أجلهم أنا أقدس ذاتي لكي يكونوا هم ايضاً مقدسين، طلبة خطيرة جداً اللي هي تكريس الحياة لكي تكون مقدسة في الله.. وأول لما تكون الحياة مقدسة في الله تشع القداسة في الآخرين.</p>
<p>من أجلهم أقدس أنا ذاتي لكي يكونوا هم أيضاً مقدسين وإبتدأت طلبات المسيح تتكرر وتأخذ مفاهيم عميقة جداً إنما ما تقدرش تفسرها بعيد عن الدرجة اللي ها توصل فيها الكنيسة لوحدانيتها مع الآب أو في جلوسها عن يمين الآب..</p>
<p>لذلك يا أحبائي هذه الإصحاحات الأربعة محتاجة إلي قراءة بدقة، وبتأمل عميق جداً بمفهوم إن <strong>المسيح وصل للهدف الأخير إنه خلي الكنيسة بقت في درجة من البنوّة الكاملة </strong>في يمين الآب وأن لا يمكن أن تُفهم المسيحية إلا عن هذا الطريق إن إحنا بقينا أولاد الله. وأولاد الله يعني مكاننا اتحدد في يمين الآب.</p>
<p>ونمرة (٢) إن إحنا أعطينا روح الآب نفسه لكي يسكن فينا، علشان كده العطايا اللي بتأخذها الكنيسة علي مستوي إلهي، تأخذ بنوة، تأخذ روح الله، تأخذ جسد المسيح ودمه، تأخذ ثبات فيه، تأخذ حب إلهي ينسكب فيها، من أجل هذه الأمور تأخذ تكريس كامل، تكريس الحياة لله لكي تكون الحياة مقدسة ومكرسة ليه، تأخذ الأمور ديه كلها علشان كده الطلبات أبتدات تبقي طلبات إلهية، ليست علي المستوي القديم الأولاني اللي كانوا بيطلبوه لأن الكنيسة الآن صعدت مع المسيح، رفع قديسيه للعلا معه، أعطاهم قرباناً لأبيه.</p>
<p>لإلهنا المجد دائماً أبدياً آمين.</p>
<p></p>
<h4>في انتظار الروح القدس &#8211; للمتنيح القمص لوقا سيداروس<a href="#_ftn15" name="_ftnref15">[15]</a></h4>
<p><strong>(يو16: 23- 33)</strong></p>
<p>رجع التلاميذ من جبل الصعود بفرح عظيم. وقد أوصاهم الرب قبل صعوده قائلاً: &#8220;لا تبرحوا أورشليم إلى أن تلبسوا قوة من الأعالى&#8221; لكي لا تكون حركة الكرازة من قوة بشرية، بل بقوة روح الله الذى يملأهم ويحركهم ويقودهم ويتكلم فيهم.. لكي يكون فضل القوة والعمل لله، وليس لإنسان. وصعد التلاميذ إلى العلية التي هي الكنيسة الأولى، وظلوا مدة العشرة أيام يواظبون على الصلاة والطلبة مع القديسة العذراء مريم، إلى أن حل الروح القدس عليهم في يوم الخمسين وملأهم من كل حكمة وكل فهم كموعد الله.</p>
<p>والكنيسة في هذه الأيام تعيش بروح التلاميذ. تسترجع حرارة الصلاة والسؤال والطلبة إلى الآب. وتطلب وتجتمع بروح واحد ونفس واحدة ليتمجد فيها عمل الروح القدس الساكن فيها.</p>
<p>والرب يسوع في فصل الإنجيل اليوم يوجه نظرنا نحو الآب للصلاة قائلاً: &#8220;كل ما طلبتم من الآب باسمى يعطيكم&#8221;. لقد كان الرب مزمعاً أن يسكب الروح القدس على التلاميذ.</p>
<p>فما فائدة الصلاة والسؤال إذن؟</p>
<p>بالصلاة نؤهل لنعمة الروح القدس ونُظهر استعدادنا القلبى لقبوله، ونهيء نفوسنا لحلوله فينا.. بدون صلاة قلبية وتوسل إلى الآب، لا ننال قوة ولا مؤازرة الروح في حياتنا. إن سبب ضعفنا الشديد، هو فتورنا في الصلاة وإهمالنا في الطلبة.</p>
<ul>
<li>إن الروح القدس نار تتأجج داخلنا بالصلاة. لذلك تصلي الكنيسة كل يوم في ساعة حلول الروح القدس (٩ صباحاً) هكذا: &#8220;روحك القدوس يا رب الذى أرسلته على التلاميذ الأطهار.. هذا لا تنزعه منَّا لكن جدده في أحشائنا&#8221;. فالروح الذى انسكب على التلاميذ وهم في حالة صلاة يتجدد داخلنا كل يوم بالصلاة.</li>
<li>القديس العظيم الأنبا أنطونيوس يوصي أولاده هكذا: &#8220;أطلبوا باستقامة قلب أن ينعم عليكم بإتيان ناره غير المادية عليكم من الصلاة لتحرق كل أفكاركم ومشوراتكم الردية.</li>
</ul>
<p><strong>اطلبوا تأخذوا ليكون فرحكم كاملاً</strong></p>
<p>كثيراً ما طلبنا من الله ولم نأخذ. كما يقول يعقوب الرسول: &#8220;تطلبون ولا تأخذون لأنكم تطلبون ردياً&#8221;. فهل لنا في هذه الأيام أن نوجه طلبتنا إلى الآب من جديد؟.. وعندما نطلب لابد أن ننال، لأن الآب يهب الروح القدس للذين يسألونه، وعندما يتجدد الروح فينا، سيصير فينا الفرح الكامل الذى لا يعرفه العالم. فالروح المعزي هو المصدر الوحيد للفرح في وسط ضيقات هذا العالم.</p>
<p><strong>تطلبون باسمى</strong></p>
<p>والمسيح المبارك في فصل الإنجيل يركز فكرنا في اسمه فكل طلبة بدون اسم يسوع، لا موضع لها عند الآب، وكل صلاة وتوسل بدون اسم يسوع تصير بلا قيمة. لقد عرف التلاميذ قوة هذا الاسم في القوات والآيات والعجائب، وفى قوة الخلاص الكائنة لنا فيه: &#8220;ليس اسم آخر تحت السماء قد أعطى بين الناس به ينبغي أن نخلص&#8221;. ليتنا نختبر كيف نردد الاسم المقدس الذى لربنا يسوع بلا انقطاع.</p>
<ul>
<li>حزقيا النبي: رأى بالروح رؤيا عجيبة، عظام كثيرة يابسة جداً وملقاة على الأرض متفرقة. وقال له الرب: &#8220;تنبأ على هذه العظام، وقل لها أيتها العظام اسمعى كلمة الرب&#8221; فتنبأ كما أمره الرب، فرأى حزقيال العظام ترتعش فتقاربت كل عظمة إلى عظمة، إذا العصب كساها وبسط عليها جلد وليس فيها روح. ثم قال له الرب تنبأ على الروح وقل: &#8220;هلم يا روح هب على هؤلاء القتلى فيحييون&#8221;. فتنبأ فدخل فيهم الروح فحيوا وقاموا على أقدامهم جيش عظيم جداً.. ثم قال الرب: &#8220;هذه العظام هي كل بيت إسرائيل&#8221;. قبل حلول الروح لابد من حركة تقارب بين العظام وتهيئة عجيبة لحلول الروح. وهذه الأيام العشرة التي تسبق حلول الروح القدس هي أيام المصالحة والوحدانية بين العظام اليابسة، لكي تقوم بعمل الروح القدس بقوة.. هكذا عاش التلاميذ هذه الأيام بنفس واحدة مواظبة على &#8220;الصلاة والطلبة&#8221;. هذه الأيام هي فرصة للكنيسة لكى تتجمع قتلاها من جديد وتسهم لعمل الروح القدس ليقبلهم ويجعلهم ضمن جيش الحياة الأبدية. هذه الأيام هي فرصة لجمع المتفرقين والمشتتين في موت الأنانية، والانفراد بالرأي، والاعتداد بالذات، والمقتولين بكل أنواع الشهوات، والمنفصلين عن مصدر الحياة وينبوع النعمة. هل لنا أن نجمع شتاتنا ونجتمع بنفس واحدة للصلاة والطلبة فتتقارب عظامنا برعش الصلاة، ويجتمع كل عظم إلى عظمه ويكسينا عصب المحبة القلبية، ثم يكسينا جلد الجسد الواحد ويعطينا بر المسيح.</li>
<li>إن أكبر ضربة يوجهها العدو الشيطان إلى الكنيسة موجهة دائماً ضد الروح الواحد، والقلب الواحد. أكبر ضربة يوجهها ضد المحبة في الكنيسة. كل بيت ينقسم على ذاته يخرب وكل مدينة منقسمة على ذاتها تخرب. هذه الأيام فرصة لكل بيت أن يأخذ بركة الروح الواحد في الصلاة، والروح الواحد في المحبة. الروح القدس لا يحل ولا يرتاح طالما هناك انقسام أو شقاق.</li>
</ul>
<p><strong>عمل الصلاة</strong></p>
<p>يبدوا أن الصلاة بنفس واحدة لها عمل خطير جداً. فالتلاميذ عندما واظبوا على الصلاة بنفس واحدة، تهيأوا لقبول الروح القدس ومرة أخرى عندما كان بطرس في داخل السجن. ظلت الكنيسة بنفس واحدة فتزعزع المكان وانفتحت أبواب السجن وخرج بطرس بيد ملاك الرب.</p>
<p>الآن يا أخوة.. للكنيسة نفوس كثيرة في سجون مختلفة، والشيطان أغلق عليها في سلاسل رهبته، وأحكم حراسته عليها، فهل للكنيسة أن تعود إلى الصلاة بنفس واحدة مرة أخرى لتخرج المحبوسين؟</p>
<p></p>
<h4>الأحد السادس من الخماسين المقدسة &#8211; للمتنيح القمص تادرس البراموسي<a href="#_ftn16" name="_ftnref16">[16]</a></h4>
<p><strong>&#8220;في العالم سيكون لكم ضيق لكن ثقوا أنا قد غلبت العالم</strong><strong>&#8221; </strong>(يو16: 23- 32)</p>
<p>لم يقدر التلاميذ أن يفهموا معنى قول السيد المسيح أنهم قليل لا يبصرونه ثم بعد قليل يبصرونه لأنهم لم يكونوا قد فهموا القيامة بعد ولا أمنوا أنه سيقوم في اليوم الثالث. فعلم الرب يسوع بما في داخلهم لأنه عالم الخفايا. فقال لهم ستبكون وتنوحون والعالم يفرح لكن حزنكم يتحول إلى فرح. الفرح الذى تم للتلاميذ عند قيامة الرب يسوع لا يمكن أن ينزعه منهم أحد. لأن قيامته كانت بمجد عظيم لأنه لا يذوق الموت فيما بعد وإنه حي إلى الأبد وإلى أبد الدهور وإنه يساعدهم ويساعد جميع المؤمنين على احتمال الشدائد والأحزان والضيقات والبلايا هذه الألامات التي تأتي إليهم بسبب الأيمان وبعد احتمال هذه الأمور تفرح قلوبهم فرحة الانتصار. إلى أن يأتي في مجده ويعلن ميراث الملكوت الدائم حيث الفرح والسعادة الكاملة التي لا يشوبها كدر أو حزن.</p>
<p>وعد الرب يسوع تلاميذه بحلول الروح القدس. وقال لهم متى حل الروح القدس لا تحتاجون إلى شيء وهو يوضح لكم كل شيء ويذكركم بكل ما قلته لكم. وعاتبهم قائلاً إلى الآن لم تطلبوا شيء من الأب باسمي. أطلبوا تأخذوا ليكون فرحكم كاملاً بشرط أن يكون طلبكم بأتضاع وأن يكون نموكم الروحي وامتداد الكنيسة ويكون بأسمي وموافق لأرادة الآب.</p>
<p>أنا أعطى لكم الأن أمثال لكن يأتي وقت لا أكلمكم فيه بأمثال بل أخبركم عن الآب علانية ومتى حل الروح القدس بواسطته تعلمون الأمور جميعها وأنير لكم الطريق حينئذ تفهمون عدل الله وقداسته ورحمته ومحبته للبشر. وعندما يحل الروح القدس عليكم تطلبون بأسمي فيعطيكم الأب ما تطلبون لأنه يحبكم. لأنكم أحببتموني وأمنتم أني من عند الآب خرجت أي أني أبن الله الأزلي خرجت من عند الآب لأفدي العالم وتجسدت من الروح القدس ومن العذراء القديسة مريم وأيضاً اترك العالم وأمضي إلى الآب أي أصعد إلى السماء وأجلس عن يمين الآب.</p>
<p>قال الرب يسوع لتلاميذه بعد هذا الحديث الطويل الذى أراد به أن يربطهم بالآب ويعرفهم أن الفداء مرتبط بالثالوث القدوس لأن الثالوث أشترك في الفداء. ثم ابتدأ يكلمهم عن الفداء وعن الآمه قال لهم تأتى ساعة فيها تتفرقون كل واحد إلى خاصته وتتركوني وحدي لكن أنا لست وحدي لأن الآب معي كلمتكم بهذا ليكون لكم في سلام. لا تضطرب قلوبكم حين يقع عليكم الضيق والاضطهاد لأنه في العالم سيكون لكم ضيق لكن ثقوا أنا قد غلبت العالم بسيرتي المقدسة وتعاليمي السمائية وبالآمي وموتي وقيامتي وكما غلبت أنا ستغلبون أنتم أن ثبتم في أيماني ومحبتي وبأنتصاري تنتصرون أنتم على كل قوة العدو فلا يستطيع العالم ولا الشيطان ولا الخطية أن تتسلط عليكم. كونوا أقوياء لأنكم ستنالون قوة متى حل الروح القدس عليكم فلا يغلبكم العالم ولا شيء مما في العالم لأن العالم يزول وكل شهواته.</p>
<p><strong>العظة الأولى </strong></p>
<p>أ – الوعد باستجابة الطلب</p>
<p>ب – كلمة عتاب لكى نطلب من الآب</p>
<p>ج – الوعد بالشركة ووضوح الكلمة</p>
<p>د – البرهان القاطع والحب الدافع</p>
<p>ه &#8211; الاعتراف الأكيد والحب الوطيد</p>
<p>و – إعلان الرب والدافع من القلب</p>
<p>ذ – الهروب من المسؤلية وحب الرئاسة</p>
<p>ح – ضيقات الخدمة وحلاوة الثمرة</p>
<p>ط – تأتى الرياح لتنبت الجذور</p>
<p>ى – لا تاج بلا غلبة دون جهاد</p>
<p><strong> </strong></p>
<p><strong>العظة الثانية </strong></p>
<p>أ – غنى مراحم الرب وعطاياه الكثيرة</p>
<p>ب – فرح الرب بقضاء إعوازنا</p>
<p>ج – أمثال الرب بتوضيح الأمور</p>
<p>د – محبة الله للإنسان وجزيل عطاياه</p>
<p>ه &#8211; حكمة مجئ الرب إلى العالم وخروجه منه</p>
<p>و – أيمان التلاميذ وتثبت العقيدة</p>
<p>ذ – وعد الرب وحفظ القلب</p>
<p>ح – إعلان الرب وتبكيت القلب</p>
<p>ط – وعد الرب بالسلام واحتمال الآلام</p>
<p>ى – الانتصار بعد الحروب والغلبة بعد الجهاد</p>
<p></p>
<p><strong>العظة الثالثة </strong></p>
<p>أ – وعد وسؤال وعطايا</p>
<p>ب – طلب وأخذ وفرح وملكوت</p>
<p>ج – الأبوة والحب والتضحية</p>
<p>د – دخول وخروج وعالم وسماء</p>
<p>ه &#8211; كلام وتحقق وخفايا</p>
<p>و – ساعة وترك وتفريق</p>
<p>ذ – ضيق وغلبة سلام وثقة</p>
<p>ح – شركة مع الآب والأبن</p>
<p>ط – إعوازنا ومخازن السماء</p>
<p>ى – استجابة الصلاة وسخاء العطاء</p>
<p>فرحين في الرجاء صابرين في الضيق مواظبين على الصلاة.</p>
<hr />
<p><a href="#_ftnref1" name="_ftn1">[1]</a>  تفسير سفر زكريا &#8211; إصحاح ٤٩ &#8211; القمص تادرس يعقوب ملطي.</p>
<p><a href="#_ftnref2" name="_ftn2">[2]</a>  حياة وفكر كنيسة الآباء &#8211; ص ٧١  – القمص أثناسيوس فهمي جورج.</p>
<p><a href="#_ftnref3" name="_ftn3">[3]</a>  رعاة حسب قلبي &#8211; ص ٦٩ – القمص أنطونيوس كمال حليم.</p>
<p><a href="#_ftnref4" name="_ftn4">[4]</a>  شرح إنجيل يوحنا للقديس كيرلس الأسكندري &#8211; المجلد الثاني صفحة ٣٣٠ &#8211; ترجمة دكتور نصحي عبد الشهيد &#8211; مؤسسة القديس أنطونيوس &#8211; المركز الأرثوذكسي للدراسات الآبائية.</p>
<p><a href="#_ftnref5" name="_ftn5">[5]</a>  تفسير إنجيل يوحنا الإصحاح السادس عشر &#8211; القمص تادرس يعقوب ملطي.</p>
<p><a href="#_ftnref6" name="_ftn6">[6]</a>  تفسير رسالة بولس الرسول إلي أهل رومية للقديس يوحنا ذهبي الفم &#8211; صفحة ٣٨٥ &#8211; ترجمة دكتور سعيد حكيم يعقوب &#8211; مؤسسة القديس أنطونيوس &#8211; المركز الأرثوذكسي للدراسات الآبائية بالقاهرة.</p>
<p><a href="#_ftnref7" name="_ftn7">[7]</a>  كتاب من كتابات القديس يوحنا الذهبي الفم – صفحة 178 &#8211; إعداد القمص تادرس يعقوب ملطي وآخرين.</p>
<p><a href="#_ftnref8" name="_ftn8">[8]</a>  كتاب أوريجينوس عظات علي سفر العدد &#8211; صفحة ١٧٠ &#8211; ترجمة المتنيح القس برسوم عوض ومراجعة دكتور نصحي عبد الشهيد &#8211; مؤسسة القديس أنطونيوس &#8211; المركز الأرثوذكسي للدراسات الآبائية.</p>
<p><a href="#_ftnref9" name="_ftn9">[9]</a>  الجحد العلني للشيطان ولكل أعماله قبل المعمودية يعتبر من الطقوس القديمة في الكنيسة ولا يزال يمارس حتى اليوم في المعمودية.</p>
<p><a href="#_ftnref10" name="_ftn10">[10]</a>  تفسير سفر الحكمة &#8211; الإصحاح 4، تفسير سفر أيوب الاصحاح 3 &#8211; القمص تادرس يعقوب ملطي.</p>
<p><a href="#_ftnref11" name="_ftn11">[11]</a>  تفسير سفر أيوب &#8211; الإصحاح الأربعون &#8211; القمص تادرس يعقوب ملطي.</p>
<p><a href="#_ftnref12" name="_ftn12">[12]</a>  كتاب المنجلية القبطية الأرثوذكسية &#8211; صفحة 413  &#8211; البابا تواضروس الثاني.</p>
<p><a href="#_ftnref13" name="_ftn13">[13]</a>  تفسير انجيل يوحنا – الاصحاح 16 – الأنبا اثناسيوس مطران بني سويف والبهنسا – لجنة التحرير والنشر بمطرانية بني سويف..</p>
<p><a href="#_ftnref14" name="_ftn14">[14]</a>  كتاب عظات مضيئة معاشة للقمص بيشوي كامل &#8211; صفحة ٤٢٨ &#8211; إصدار مطرانية ملوي وأنصنا والأشمونين.</p>
<p><a href="#_ftnref15" name="_ftn15">[15]</a>  كتاب تأملات روحية في قراءات أناجيل آحاد السنة القبطية &#8211; المتنيح القمص لوقا سيداروس.</p>
<p><a href="#_ftnref16" name="_ftn16">[16]</a>  كتاب تأملات وعناصر روحية في آحاد وأيام السنة التوتية &#8211; صفحة ١٩٣ &#8211; إعداد القمص تادرس البراموسي.</p>

      {% endcreateArticleAccordions %}
    </section>
  {% endblock %}
  