---
layout: 'layouts/reading.html'
title: 'يوم الأثنين من الأسبوع السادس للخمسين  يوم المُقَدَّسَة'
tags: 'pentecost'
permalink: /articles/pentecost/6-1.html
---
  {% block content %}
    <section id="readings">
      <ul>
      {% if 'undefined' != 'undefined' %}
      
      {% else %}
      {% if '19.47:1' != 'null' %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">العشية</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeVespers '19.47:1' '41.6:30-34' %}
          </div>
        </div>
      </li>
      {% endif %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">باكر</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeMatins '19.47:6-7' '41.8:22-26' '' %}
          </div>
        </div>
      </li>
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <h3 class="flex items-center justify-between">
            <span class="kufi">القداس</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </h3>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeLitugy '45.8:2-5' '62.5:9-13' '44.9:23-31' '19.28:9,8' '43.16:15-23' %}
          </div>
        </div>
      </li>

      {% endif %}
        </ul>
    </section>
    <section id="article">
      <h3 class="mt-8 mb-4 heading-explain">شرح القراءات</h3>
      {% createArticleAccordions %}
        <h3>ديناميكية الصعود</h3>
<p>تتكلم قراءات هذا اليوم عن <strong>ديناميكية الصعود</strong>.. فالنفس التي تحيا مع المسيح هي في صعود مستمر، وإذا كانت لها ضعفات فهي سقطات مؤقتة عارضة.. لكن الصعود دائم لأن حركتها في المسيح دائماً إلى فوق &#8220;إن كنتم قد متم مع المسيح فأطلبوا ما فوق حيث المسيح جالس عن يمين الله. إهتموا بما فوق لا بما على الأرض&#8221; (كو ٣: ١).</p>
<h4>المزامير</h4>
<p>لذلك تتحدث المزامير عن:</p>
<ul>
<li>دعوة كل الشعوب في العهد الجديد للتسبيح والإبتهاج والفرح. (مزمور عشية).</li>
<li>لأن الرب ملك بالصعود على قلوب البشرية في العهد الجديد. (مزمور باكر).</li>
<li>لذلك فالدعوة موجهة لكل إنسان ولكل الشعوب بالصعود الدائم مع المسيح وفي المسيح. (مزمور القدَّاس).</li>
<li>&#8220;يا جميع الأمم صفقوا بأيديكم. هللوا بصوت الإبتهاج&#8221;. (مزمور عشية)</li>
<li>&#8220;رتلوا لإلهنا. رتلوا لملكنا&#8230; لأن الرب ملك على جميع الأمم&#8221;. (مزمور باكر)</li>
<li>&#8220;خلص شعبك. بارك ميراثك. إرعهم وإرفعهم إلى الأبد&#8221;. (مزمور القداس)</li>
</ul>
<h4>انجيل عشية</h4>
<p>وفي انجيل عشية عن ← <strong>صعود الكنيسة من العالم إلى البرية حيث الخلوة والإنفراد والجلسة الهادئة عند قدمي يسوع </strong>التي تجعل النفس والكنيسة في إرتفاع دائم وسمو عن فكر العالم وهمومه وأفراحه الكاذبة &#8220;وإجتمع الرسل إلى يسوع وأخبروه بكل شئ ما عملوه وما علّموا به فقال لهم: تعالوا أنتم وحدكم إلى موضع قفر واستريحوا قليلاً.. فذهبوا فى السفينة إلى موضع قفر منفردين&#8221;.</p>
<h4>انجيل باكر</h4>
<p>وفي انجيل باكر عن ← <strong>احتياج النفس المريضة للصعود عن فكر العالم وفلسفات البشر إلى مسيح الشفاء والإستنارة خارجاً عن روح العالم </strong>&#8220;وجاءوا إلى بيت صيدا فقدموا إليه أعمى وطلبوا إليه أن يلمسه فأمسك بيد الأعمى وأخرجه خارج القرية وتفل في عينيه.. فأبصر وشُفي ورأى كل شئ جلياً فأرسله إلى بيته قائلاً: لا تدخل القرية ولا تقل لأحد فيها&#8221; (مر ٨: ٢٢- ٢٦).</p>
<h4>البولس</h4>
<p>وفي البولس عن ← <strong>ناموس المسيح الذي يصعدنا ويحررنا من ناموس الخطية والموت </strong>&#8220;لأن ناموس روح الحياة في المسيح يسوع قد أعتقنا من ناموس الخطية والموت&#8221;.</p>
<h4>الكاثوليكون</h4>
<p>وفي الكاثوليكون عن ← <strong>صعودنا من شهادة البشر إلى شهادة الله </strong>&#8220;إن كنا نقبل شهادة البشر فشهادة الله أعظم&#8230; هذه هي الشهادة أن الله أعطانا الحياة الأبدية وهذه الحياة هي في إبنه&#8221;.</p>
<h4>الابركسيس</h4>
<p>وفي الابركسيس عن ← <strong>أن الكرازة هي صعود مستمر ودخول وخروج مع المسيح </strong>&#8220;وكان معهم يدخل ويخرج في أورشليم ويجاهر باسم الرب يسوع &#8230;.&#8221;..</p>
<p>وعن ← أن كنائس السلام والترتيب والبنيان ومخافة الرب والتعزية هي كنائس الصعود &#8220;وأما الكنائس في جميع اليهودية والجليل والسامرة فكان لها سلام وترتيب وبنيان وكانت تسير في مخافة الرب وبتعزية الروح القدس كانت تتكاثر&#8221;.</p>
<h4>انجيل القداس</h4>
<p>وفي انجيل القداس عن ← <strong>الصعود عن موت العالم وأفراحه الكاذبة إلى رؤية وإختبار الحضور الإلهي الدائم في حياة أولاد الله يوم بعد يوم </strong>&#8220;بعد قليل لا ترونني وأيضاً بعد قليل ترونني&#8230; الحق الحق أقول لكم إنكم ستبكون وتنوحون والعالم يفرح وأنتم تحزنون ولكن حزنكم يتحول إلى فرح&#8230; وأنتم أيضاً الآن تحزنون وسأراكم أيضاً فتفرحون وفرحكم لا ينزعه أحد منكم&#8221;.</p>
<h3>ملخص الشرح</h3>
<p>❈ دعوة كل الأمم للتسبيح لأن الرب ملك بالصعود على الكل ودعوة لكل الشعوب للصعود معه وفيه. (مزمور عشية – مزمور باكر - مزمور القداس).</p>
<p>❈ صعود الكنيسة الدائم من العالم إلى هدوء الرب حيث الخلوة مع يسوع. (انجيل عشية).</p>
<p>❈ إحتياج النفس المريضة للصعود عن فكر العالم وفلسفات البشر لنوال الشفاء والإستنارة من المسيح. (انجيل باكر).</p>
<p>❈ ناموس الحياة في المسيح يصعدنا من ناموس الخطية والموت. (البولس).</p>
<p>❈ الإيمان ينقلنا ويصعدنا من شهادة البشر إلى شهادة الله. (الكاثوليكون).</p>
<p>❈ الكرازة بإسم الرب يسوع هي صعود مستمر ودخول وخروج معه. كنائس السلام والترتيب والبنيان ومخافة الرب هي كنائس الصعود الدائم. (الابركسيس).</p>
<p>❈ الصعود عن موت العالم وأفراحه الكاذبة إلى رؤية وإختبار الحضور الإلهي على الدوام. (إنجيل القداس).</p>
<h3>عظات آبائية ليوم الأثنين من الأسبوع السادس من الخمسين يوم المقدسة</h3>
<h4>شرح لأنجيل القداس - القديس كيرلس الأسكندري<a href="#_ftn1" name="_ftnref1">[1]</a></h4>
<p><strong>(يو١٦: ٢١، ٢٢)</strong><strong> &#8220;الْمَرْأَةُ وَهِيَ تَلِدُ تَحْزَنُ لأَنَّ سَاعَتَهَا قَدْ جَاءَتْ، وَلكِنْ مَتَى وَلَدَتِ الطِّفْلَ لاَ تَعُودُ تَذْكُرُ الشِّدَّةَ لِسَبَبِ الْفَرَحِ، لأَنَّهُ قَدْ وُلِدَ إِنْسَانٌ فِي الْعَالَمِ. فَأَنْتُمْ كَذلِكَ، عِنْدَكُمُ الآنَ حُزْنٌ وَلكِنِّي سَأَرَاكُمْ أَيْضًا فَتَفْرَحُ قُلُوبُكُمْ، وَلاَ يَنْزِعُ أَحَدٌ فَرَحَكُمْ مِنْكُمْ&#8221;. </strong></p>
<p>يتوسع الرب في حديثه عن العزاء الذي أعطاه للتلاميذ ويوضحه بكلمات متنوعة لكي يساعدهم على إستبعاد مرارة الحزن. فهو يحثهم باجتهاد عن طريق إيضاح قوي، على ضرورة الاحتمال، وأن لا ينزعجوا من الاضطرابات والأحزان ما دامت ستنتهي حتما بالفرح. لأنه يقول إن ولادة الطفل هي نتيجة مخاض مؤلم، وإن الأمهات يحصلن على الفرح بأطفالهن عن طريق الألم. فلو كانت الأمهات قد أصبن بالجبن من توقعهم مخاض الولادة. لما كان قد وافقن على الحمل، بل كن بالحري قد هرين من الزواج، الذي يؤدي إلى الحمل، وبذلك ما كن قد صرن أمهات بالمرة، متحاشيات بجبنهن حالة مرغوبة جداً، ومثلثة الغبطة وهكذا بطريقة مماثلة ستحصلون على مكافاة حزنكم. لأنكم ستفرحون حينما ترون ولادة مولود جديد في العالم، عديم الفساد، ولا يستطيع الموت أن يسود عليه. وواضح أنه يشير هنا إلى نفسه، هو يخبرهم أن فرح القلب الذي سينالوه في شخصه لا يمكن أن ينزع منهم أو يفقد. لأنه كما يقول بولس إنه بعد أن مات مرة لأجل الجميع، &#8220;لا يموت أيضاً&#8221; انظر (رو٩:٦). إذا فإن فرح القلب الذي يستند عليه، له في الحقيقة أساس أكيد. لأننا إن كنا قد نحنا بسبب موته، فمن سيأخذ منا فرحنا، ونحن نعرف الآن أنه حي ويدوم حيا إلى الأبد. هو الذي يعطينا ويرتب لنا جميعا كل البركات الروحية؟ وهكذا كما يقول المخلص &#8220;لن يأخذ أحد فرحكم منكم&#8221; أي من القديسين؛ أما الذين سمروه على الصليب فسينزع منهم فرحهم إلى الأبد. فالآن إذ قد إنتهت آلامه التي ظنوها فرصة للفرح، فسيكون الحزن هو نصيبهم حتما وبالضرورة.</p>
<h4>فرح وسط الآلام - للقديس يوحنا ذهبي الفم<a href="#_ftn2" name="_ftnref2">[2]</a></h4>
<p>وعندما كتب إلى أهل تسالونيكي، أشار إلى أشياء مشابهة أيضاً: &#8220;وأنتم صرتم متمثلين بنا وبالرب، إذ قبلتم الكلمة في ضيق كثير&#8221;. لاحظ كيف جاز هؤلاء الضيق، وليس فقط مجرد ضيق، بل ضيقات كثيرة. لأن التجربة كانت صعبة، والخطر كان مستمراً، ولم يترك الذين جاهدوا أن يلتقطوا أنفاسهم أو يستريحوا. لكن رغم كل هذه المعاناة، وهذه الآلام، لم يغضبوا، ولم يتذمروا، ولم يفقدوا شجاعتهم، بل فرحوا كثيراً جداً، من أين تستنتج هذا؟ من كلمات الرسول بولس نفسه، لأنه بعدما قال: &#8220;في ضيق كثيرة&#8221;، أضاف: &#8220;بفرح الروح القدس&#8221;. معلناً هكذا بأن التجارب وإن كانت قد سببت ضيقاً كثيراً، إلا أنها قد ولدت فرحاً. لأن الذى عزاهم وأراح ضميرهم، هو أن كل هذه المعاناة، كانت لأجل المسيح. وما يدهشني في المسيحيين آنذاك، ليس في حجم أو قدر المعاناة والآلام التي جازوها، بقدر ما أنهم عندما إجتازوا هذه الضيقات لأجل الله، كانوا فرحين. وعندما يجتاز المرء الضيقة، يعاني، فهذه سمة من سمات الشجاعة، والنفس المحبة لله. لكن أن يحتمل أحد التجربة بنبل وشجاعة، وأن يشكر ذاك الذى سمح بالتجربة، فهذا ملمح نفس تتسم بالبطولة، ومتطلعة نحو الأمور السمائية، ومتحررة من كل الأمور الأرضية. وليس فقط قد وصل الأمر إلى هذا الحد، لكنه أعلن عن شرور أخرى قد عاناها المؤمنين أنذاك من أصدقائهم وأقربائهم، وهذا كان أسوأ شيء، هكذا يقول: &#8220;فإنكم أيها الإخوة صرتم متمثلين بكنائس الله التي هي في اليهودية في المسيح يسوع، لأنكم تألمتم أنتم أيضاً من أهل عشيرتكم تلك الآلام عينها، كما هم أيضاً من اليهود &#8220;في كل شيء صرتم متمثلين؟ في أنكم &#8220;تألمتم أنتم أيضاً من أهل عشيرتكم – كما من اليهود&#8221;. إذاً ها هي حرب، بل وحرب أهلية، سبب ألماً كبيراً. يقول النبى: &#8221; لأَنَّهُ لَيْسَ عَدُوٌّ يُعَيِّرُنِي فَأَحْتَمِلَ لَيْسَ مُبْغِضِي تَعَظَّمَ عَلَيَّ فَأَخْتَبِئَ مِنْهُ. بَلْ أَنْتَ إِنْسَانٌ عَدِيلِي، إِلْفِي وَصَدِيقِي&#8221;. وهذا ما حدث آنذاك كان يشغل الرسول بولس وهو يرى المؤمنين وهم يعانون ويتعبون، فقد أراد المضطهدين أن يجعلوهم يركعون تحت ثقل الكوارث، وأن يتألمون بسبب الإصابات المؤلمة  جداً، وإستخدموا أساليب متنوعة حتى يهبطوا من عزيمتهم الآن يقول لهم: &#8220;إذ هو عادل عند الله أن الذين يضايقونكم يجازيهم ضيقاً، وإياكم الذين تتضايقون راحة معنا، عند استعلان الرب يسوع  من السماء&#8221; ويقول في موضع آخر &#8220;الرب قريب لا تهتموا بشئ&#8221; ، ويقول أيضاً: &#8220;فلا تطرحوا ثقتكم التي لها مجازاة عظيمة. لأنكم تحتاجون إلى الصبر، حتى إذا صنعتم مشيئة الله تنالوا الموعد&#8221;. بعد ذلك يحثهم على الإحتمال، قائلاً: لأنه بعد قليل جداً سيأتي الآتي ولا يبطئ&#8221;. تماماً مثل طفل يبكي، ويتضايق بسبب غياب أمه، ويطلبها بإستمرار وبدموع، ثم يأتي جار ويعزيه، قائلاً له إنتظر قليلاً، وأينما تكون، ستأتي أمك. هكذا فعل الرسول بولس وهو يرى المؤمنين وهم متضايقون، ويبكون ويحزنون، ويطلبون جميعاً ظهور المسيح، لأنه لم يكن في مقدورهم بعد أن يحتملوا هذا السيل من الكوارث، معزياً إياهم قائلاً: &#8220;بعد قليل جداً سيأتي الآتي ولا يبطئ&#8221;.</p>
<h3>عظات آباء وخدّام معاصرين ليوم الأثنين من الأسبوع السادس من الخمسين يوم المقدسة</h3>
<h4>الفرح الحقيقى – للأستاذ كمال حبيب (المتنيح الأنبا بيمين أسقف ملوي وأنصنا والأشمونيين)<a href="#_ftn3" name="_ftnref3">[3]</a></h4>
<p>اَلْحَقَّ الْحَقَّ أَقُولُ لَكُمْ: إِنَّكُمْ سَتَبْكُونَ وَتَنُوحُونَ وَالْعَالَمُ يَفْرَحُ أَنْتُمْ سَتَحْزَنُونَ، وَلكِنَّ حُزْنَكُمْ يَتَحَوَّلُ إِلَى فَرَحٍ.. عِنْدَكُمُ الآنَ حُزْنٌ وَلكِنِّي سَأَرَاكُمْ أَيْضًا فَتَفْرَحُ قُلُوبُكُمْ، وَلاَ يَنْزِعُ أَحَدٌ فَرَحَكُمْ مِنْكُمْ” (يو ٢٠:١٦، ۲۲)</p>
<p><strong>أهمية الفرح:</strong></p>
<p>يقول رجال علم النفس أن الإنسان الفرح غالبا ما يحيا في صحة جسمية قوية وحالة نفسية سليمة كما يكون انتاجه وفيراً. وتكاد تتفق كل مدارس علم النفس في أن الفرح حاجة نفسية عند الفرح يحتاج لها و يسعى اليها سعياً متواصلاً.</p>
<p>لقد ثبت أن الانسان عندما يكون فرحاً يتعلم بسهولة بعكس الحال عندما يكون حزيناً أو متضايقاً، فإن هذه الحالة النفسية تتضارب مع دوافع التعلم ومثيراته.</p>
<p>والشباب خاصة يميل إلى الفرح، ولذلك نجده يكون الجماعات والأندية ليحيا فيها مع الرفقة في جو مليء بالفرح والابتهاج.</p>
<p>على ذلك فإن دراسة موضوع الفرح تهم الجميع. لذلك فإنه يتعين علينا بادى. ذي بد. أن نعرف:</p>
<p><strong>ما هو الفرح الحقيقي ؟</strong></p>
<p>هل إذا وجدنا إنسانا يضحك نحكم عليه بأنه فرح لمجرد أنه يضحك؟.</p>
<p>وهل إذا قابلنا شخصاً يبتسم نحكم عليه أنه فرح لمجرد أنه يبتسم؟.</p>
<p>وهل الشباب الذي يلهو ويعبث ويلقى النكات البذيئة على قارعة الطريق أناس فرحون؟.</p>
<p>وهل الفرح أن يسكر الإنسان بالخمر ويتمايل ذات اليمين وذات اليسار؟..</p>
<p>الحقيقة أن الناس يحكمون أحياناً أحكاما ظاهرية فيقولون إن أصحاب الحالات السابقة فرحون، ولكن الفرح الحقيقى فرح يتصف بالدوام.. أعنى أنه من النوع الذي أوصى به الكتاب المقدس عندما قال&#8221; &#8220;افرحوا كل حين&#8221; (١تي٥: ١٦)، (في٣: ١)، (تي٤:٤).</p>
<p>لأن الإنسان الثمل لا يكون فرحا عندما يفيق، كما أن الشاب الذي يدمن المخدرات لا يكون مبتهجاً عندما يصحو من حالة التخدير.. بل على العكس من هذا فإن هذا وذاك ينالهما غم وحزن شديد في الأعماق، عندما تنقشع سحابة النشوة الظاهرية لتظهر دناءة النفس واخفاقها أمام ذاتها.</p>
<p>أما الإنسان المسيحي فهو فرح في كل وقت.. في الشدة والضيق كما في الترقية والتقدير.. في المرض والألم كما في الصحة والهناءة.. ذلك لأنه يحس أن كل ظروف حياته ليست ملك يديه، ولكن هي من الله ولله ولسان حاله يقول مع يعقوب الرسول &#8220;اِحْسِبُوهُ كُلَّ فَرَحٍ يَا إِخْوَتِي حِينَمَا تَقَعُونَ فِي تَجَارِبَ مُتَنَوِّعَةٍ&#8221; (يع١: ٢).</p>
<p>وهكذا يكون المعيار الأول الإيمان الحقيقي مدى احتفاظ الإنسان بفرحه الداخلي دون أن تتسرب اليه هموم العالم الخارجية وظروفه السيئة. بل هو في كل حين يطلب من إلهه المحب ليكون فرحه كاملا (يو١٥: ١١) وفي الكتاب المقدس شخصیتان توضحان ديمومة الفرح مع اختلاف ظروف الحياة - يوسف في العهد القديم يحتفظ بفرحه وسلامه في السجن كما في بيت أبيه، عند فوطيفار كما في عرش الوزارة، والعذراء مريم في العهد الجديد تبتهج بالرب في اليتم كما في قمة المجد، في وجود الرب في بيتها كما في تركه إياها للكرازة.. عند الصلبوت كما في اللقاء بعد الانتصار على القبر.</p>
<p>والصفة الثانية من صفات الفرح الحقيقي أن يكون في الرب. وعلى ذلك فإن كل فرح عالمي مهما بدا أمام الناس هو فرح ظاهري يخرج عن دائرة الفرح الحقيقي. والعذراء مريم توضح هذه الناحية بقولها &#8220;تُعَظِّمُ نَفْسِي الرَّبَّ، وَتَبْتَهِجُ رُوحِي بِاللهِ مُخَلِّصِي&#8221; (لو١: 46، ٤٧) وداود النبي الذي إذ شعر أن الرب مصدر فرحه هتف قائلاً &#8220;فَرِحْتُ بِالْقَائِلِينَ لِي: إِلَى بَيْتِ الرَّبِّ نَذْهَبُ&#8221; (مز۱۲۲: ۱).</p>
<p>و ليس أدل على أن الفرح الحقيقي مصدره الرب من أن الذين لمست قلوبهم محبة الله تركوا العالم وعاشوا حياتهم كلها ليتلذذوا بالرب (مز٣٧: ٤). ولم ينضب معين تأملاتهم واختباراتهم في الفرح الذي ملأ قلوبهم من الله. بل إن الشهداء أقطع دليل على عظم قيمة الفرح الإلهي، فقد تضاءلت غريزة حب البقاء حتى تلاشت عندما وقفت أمامها الرغبة في التعبير عن الفرح الداخلي بالإيمان الجديد الذي أكل القلب وأشعله سعيراً ملتهباً.. ومظهر . التعبير عن الفرح الداخلي الترتيل والتهليل والتسبيح الدائم الذي تغني به أجدادنا حتى في ساحات الاستشهاد، عندما اختلط ترتيلهم بزئير الأسود ولهيب النيران. ولا عجب إذن في أن المسيحية وإن جلبت على الإنسان أحزاناً ظاهرية مصدرها الضيق في العالم، إلا أنها تحمل في جوهرها كل عناصر الفرح الحقيقي للنفس الإنسانية.</p>
<p>ولنحلل الفرح إذن لنرى مدى تحقيق المسيحية لعوامله الأولية:</p>
<p><strong>مقومات الفرح الحقيقى :</strong></p>
<p><strong>(١) السلام:</strong> إنه أهم عامل لوجود الفرح الحقيقي فلن نجد إنساناً فرحاً بالحقيقة إلا إذا كان يتمتع بالسلام الداخلي. والسلام قبل كل شي. ، هبة علوية من السماء.. فقد وعد السيد المسيح المؤمنين أن يمنحهم سلاماً ليس كسلام العالم بل سلاماً يفوق كل عقل يحفظ قلوبهم وأفكارهم في المسيح يسوع.</p>
<p><strong>( </strong><strong>۲</strong><strong>) الاتكال على الله والإيمان بقوته:</strong></p>
<p>إن الإنسان المسيحي يحيا في سلام لأنه يحس بأن إلهه يحمل عنه كل متاعبه: ألق على الرب همك وهو يعولك، من الضيق دعوت الرب فأجابني من الرحب، الرب لي فلا أخاف.. ولقد اختبر داود النبي حياة الفرح الداخلي العميق لأنه كان رجل الاتكال على الله. إذ عرف من حياته عناية الله به عندما هاجمه الأسد والدب، وعندما صارع جليات الجبار. ولذلك نجد مزاميره تنضح دائماً بعلامات التهليل الحقيقي والثقة الأكيدة بمعونة الرب للإنسان المؤمن فسمعه ينشد على قيثارته &#8220;وَيَفْرَحُ جَمِيعُ الْمُتَّكِلِينَ عَلَيْكَ إِلَى الأَبَدِ يَهْتِفُونَ، وَتُظَلِّلُهُمْ وَيَبْتَهِجُ بِكَ مُحِبُّو اسْمِكَ&#8221; (مز٥: ١١) وفي موضع آخر يقول &#8220;جَعَلْتُ الرَّبَّ أَمَامِي فِي كُلِّ حِينٍ، لأَنَّهُ عَنْ يَمِينِي فَلاَ أَتَزَعْزَعُ. لِذلِكَ فَرِحَ قَلْبِي، وَابْتَهَجَتْ رُوحِي جَسَدِي أَيْضًا يَسْكُنُ مُطْمَئِنًّا&#8221; (مز١٦: ٨، ۹).</p>
<p>وبطرس الرسول يترجم هذه المشاعر المقدسة في قوله &#8220;ذلِكَ وَإِنْ كُنْتُمْ لاَ تَرَوْنَهُ الآنَ لكِنْ تُؤْمِنُونَ بِهِ، فَتَبْتَهِجُونَ بِفَرَحٍ لاَ يُنْطَقُ بِهِ وَمَجِيدٍ&#8221; (١بط ١: ٨)، وما من شك في أن حياة الاتكال تعطى للنفس طمانينة وسلاماً يفتقر اليه الانسان البائس الذي يحيا وحيداً في خضم الحياة المتلاطمة والقيم المتضاربة، ولعل أروع صورة توضح ما نقول تلك التي نقرأها في أعمال الرسل عندما ألقي بطرس في السجن وأخذ يرنم ويهلل ثم نام فرحاً حتى جاء ملاك الرب وأخرجه بقوة عجيبة، وتاريخ كنيستنا مليء بالمواقف التي فيها اتكل رجالها على الله فعبرت التجارب وظلت هي قوية راسخة كمقدار رسوخ الفرح في قلوب أبنائها. ولسان حالها قول المرنم &#8220;هُمْ عَثَروُا وَسَقَطُوا، أَمَّا نَحْنُ فَقُمْنَا وَانْتَصَرْنَا&#8221; (مز۲۰: ۸).</p>
<p><strong>(</strong><strong>۳</strong><strong>) هدوء الضمير والنفس:</strong></p>
<p>وهناك فارق كبير بين هدوء الضمير ونوم الضمير. فداود عندما أخطأ خطيئته المعروفة نام ضميره واحتاج إلى منبه قوي يوقظه ولما استيقظ ضميره بكى على فعلته حتى أنه كان يعوم فراشه بدموعه. وهدوء الضمير لا يتحقق اطلاقاً إلا إذا كانت مخافة الرب عميقة في قلب المؤمن كقول داود &#8220;سمِّر خوفك في لحمي&#8221; ، كما أن التوبة والاعتراف تهئ. للنفس تخلصا من برائن الخطيئة وتغسلها من آثارها السيئة فيصبح الضمير في حالة أقرب إلى الهدوء والرضا وهكذا كلما أحس الإنسان بأفعاله الرديئة وكلما جاهد للتخلص منها مستندا إلى نعمة الرب ومعونته. هدأ ضميره واستراح لأن النفس تسلك في طرق الرب. وقمة هذا الهدو عندما ترجع النفس إلى موضع راحتها. ومسيحيتنا تهيء لنا مصدراً عظيماً للفرح عندما تضع أمام أعيننا ملكوت الله الذي قيل عنه إنه بر وسلام و فرح في الروح القدس (رو٤: ٧) وهذا الهدف يعزى المؤمن في جهاده لأنه يحس أن ضيقته الأرضية تنشىء له ثقل مجد أبدي، ويحس أيضا أن أمجاداً سماوية تنتظره هناك في الموضع الذي هرب منه الحزن والتنهد في نور القديسين و بولس الرسول عبر عن أهمية هذا الهدف في تعزيتنا وهدوءنا الداخلي بقوله &#8220;لو كان لنا رجاء فقط في هذا العالم لكنا أشقى جميع الناس&#8221; (١كو١٥: ١٩).</p>
<p>وعلى ذلك فإن النفس تقبل راضية كل ضيق وكل تجربة لأن أيام الغربة قليلة ولا بد أن تنتهي. أما أمجاد السماء فهى أبدية، ويسوع نفسه يمسح بيده كل دمعة من دموع أحبائه. وهكذا يلخص بولس الرسول هذه النواحى بقوله &#8220;فَرِحِينَ فِي الرَّجَاءِ&#8221; (رو۱۲: ١٢).</p>
<p>كما أن السيد ذكر أهمية ملكوت السماء في فرح المؤمن إذ قال بفمه الطاهر &#8221; وَلكِنْ لاَ تَفْرَحُوا بِهذَا: أَنَّ الأَرْوَاحَ تَخْضَعُ لَكُمْ، بَلِ افْرَحُوا بِالْحَرِيِّ أَنَّ أَسْمَاءَكُمْ كُتِبَتْ فِي السَّمَاوَاتِ&#8221; (لو۱۰: ۲۰). وهكذا يكون الرجاء مصدر تعزبة النفس وهدوئها وعربون فرحها الدائم فيما بعد.</p>
<p><strong>(٤ ) المحبة ووحدانية الروح :</strong></p>
<p>يقول بولس الرسول &#8220;افْرَحُوا اِكْمَلُوا تَعَزَّوْا اِهْتَمُّوا اهْتِمَامًا وَاحِدًا عِيشُوا بِالسَّلاَمِ، وَإِلهُ الْمَحَبَّةِ وَالسَّلاَمِ سَيَكُونُ مَعَكُمْ&#8221; (2کو ۱۳: ۱۱)</p>
<p>وهكذا يحدد معلم المسيحية الإطار الذي فيه يجب أن يحيا المؤمن.. إطار المحبة والاهتمام الواحد.. هذا الاهتمام الواحد الذي يظهر في الفكر الواحد والقلب الواحد والنفس الواحدة كما يقول الكتاب &#8220;وكان لجمهور المؤمنين قلب واحد&#8221; وعندما كانت كنيستنا روحاً واحدة يحس كل فرد فيها بآلام أخيه و يشاركه أحزانه وأفراحه كان المؤمنون سعداء في حياتهم، ولكن عندما دخلت الأطماع الشخصية والأهواء الفردية وميول الأنانية جاءت معها الفرقة والانقسامات، وتمزقت وحدانية الروح وبردت المحبة وتعددت الاهتمامات ونزع الفرح من قلوب الناس.. كم نحن في حاجة إلى الاقتداء برب المجد في محبته وصفحه عن الأعداء، کي لا نفرح بسقوط أعدائنا ولا تبتهج قلوبنا إذا عثروا (أم ٢٤: ١٧)، كم نحن في حاجة إلى أن نقتدى بيوسف الذي قبل أخاه يهوذا الذي باعه عندما جاء إلى مصر.. كم نحن في حاجة إلى البحث عن الخروف الضال کي نفرح به مع السماء أكثر من التسع والتسعين التي لم تضل (مت ۱۸: ۳) كم نحن في حاجة إلى أن نعيش في سلام ومحبة!! كي نفرح مع الفرحين ونحزن مع الحزاني.. نحس باحتياجات الفقير كما لا نحسد الغني، ونعطف على الفقير والضعيف والصغير دون أن نتآمر على القوي. بذلك يعطينا الرب الفرح الدائم الذي يملأ قلوبنا..</p>
<p>وختام الأمر كله أن المؤمن الذي امتلأ قلبه فرحا مقدساً وكان مصدر فرحه دائماً الاتكال على الرب والثقة بقوته العجيبة وحجر زاويته السلاح المقدس الذي من الرب، ومنبعه هدوء الضمير وراحة النفس، ومثيره الوحدانية والترابط الإجتماعي المتين مع كافة المؤمنين.. إن مثل هذا المؤمن يحيا في نمط يختلف عن أهل العالم الذين يعيشون معه وتتسع ود حياتهم في فرحها وابتهاجها.. في سرورها وعزائمها إلى اللانهاية المطلقة عندما تلتقى بالرب في سماء المجد.</p>
<h3>المراجع</h3>
<p><a href="#_ftnref1" name="_ftn1">[1]</a>  تفسير انجيل يوحنا للقديس كيرلس الاسكندري - المجلد الثاني  - صفحة 332 - ترجمة دكتور نصحي عبد الشهيد وآخرون.</p>
<p><a href="#_ftnref2" name="_ftn2">[2]</a>  كتاب الحقيقة والظلال للقديس يوحنا ذهبي الفم - صفحة 75 - ترجمة دكتور سعيد حكيم يعقوب.</p>
<p><a href="#_ftnref3" name="_ftn3">[3]</a>  مجلة مدارس الأحد - فبراير لسنة ١٩٥٩.</p>

      {% endcreateArticleAccordions %}
    </section>
  {% endblock %}
