---
layout: 'layouts/reading.html'
title: 'يوم الثلاثاء من الأسبوع السادس للخمسين يوم المُقَدَّسَة'
permalink: pentecost/6-2.html
---
  {% block content %}
    <section id="readings">
      <ul>
      {% if '19.47:4-5' != 'null' %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">العشية</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeVespers '19.47:4-5' '41.9:14-29' %}
          </div>
        </div>
      </li>
      {% endif %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">باكر</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeMatins '19.47:3-4' '41.9:30-32' '' %}
          </div>
        </div>
      </li>
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <h3 class="flex items-center justify-between">
            <span class="kufi">القداس</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </h3>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeLitugy '45.8:9-11' '62.5:9-12' '44.5:27-29' '19.116:1-2' '43.16:23-33' %}
          </div>
        </div>
      </li>
        </ul>
    </section>
    <section id="article">
      <h3 class="mt-8 mb-4 heading-explain">شرح القراءات</h3>
      {% createArticleAccordions firstName, lastName %}
        <h3>قوة الصعود</h3>
<p>تتكلم قراءات اليوم عن <strong>قوة الصعود</strong> فصعود المسيح له المجد أعطى البشرية:</p>
<ul>
<li>النصرة على الشيطان، وعلى العالم، وعلى مؤامرات الأشرار.</li>
<li>ولم يعد الإنسان في المسيح يرهب أي شئ، فالقوة الإلهية المعطاة للإنسان بصعود المسيح قادرة على هدم الحصون وكل علو يرتفع ضد معرفة الله..</li>
</ul>
<p></p>
<h4>المزامير</h4>
<p>لذلك تبدأ المزامير بالإعلان عن:</p>
<ul>
<li><strong>مظهر قوة الصعود</strong> (مزمور عشية) في أن الرب صعد بصوت البوق، فأبواق الملائكة تقدمت أمام صعوده المجيد مُظهرة رهبة الحدث الإلهي &#8220;صعد الله بتهليل والرب بصوت البوق&#8221;.</li>
<li><strong>جوهر قوة الصعود </strong>(مزمور باكر) أنها ليست قوة مادية أو عالمية بل قوة إلهية أعطت للكنيسة النصرة الدائمة وجعلتنا ميراثه ونصيبه وخاصته.. &#8220;أخضع الشعوب لنا والأمم تحت أقدامنا. إختارنا ميراثاً له جمال يعقوب الذي أحبه.</li>
<li><strong>النتيجة الطبيعية للصعود المجيد </strong>(مزمور القداس) بأن البشرية صار لها حق إستجابة الطلبات وصارت لها دالة عند الله الآب.. &#8220;أحببت أن يسمع الرب صوت تضرعي لأنه أمال بسمعه إلىَّ فدعوته في أيامي.</li>
</ul>
<p></p>
<h4>انجيل عشية</h4>
<p>ثم يعلن انجيل عشية عن ← <strong>مصير البشرية بدون المسيح، وما يفعله بها رئيس هذا العالم </strong>&#8220;فوقع على الأرض يرتعد ويزبد&#8230;. ومراراً كثيرة يُلقيه في النار وفي الماء ليهلكه..&#8221;.</p>
<p>وعن <strong>فعل المسيح له المجد في إنسان العهد الجديد </strong>في أنه رفعه وأصعده من الأرض والأرضيات إلى القيامة الدائمة معه &#8220;فأمسك يسوع بيده وأنهضه فقام&#8221;.</p>
<p></p>
<h4>انجيل باكر</h4>
<p>وفي انجيل باكر عن ← <strong>أن قوة الصعود مخفية عن الكثيرين ومعلنة فقط لأولاد الله وخاصته وأحبائه </strong>&#8220;ولما خرج من هناك إجتاز الجليل ولم يُرِد أن يُعلِّم أحد لأنه كان يُعَلِّم تلاميذه وكان يقول لهم أن إبن الإنسان سيُسلم إلى أيدي الناس فيقتلونه وبعد ثلاثة أيام يقوم&#8221;.</p>
<p></p>
<h4>البولس</h4>
<p>وفي البولس عن ← <strong>عمل الروح القدس فينا </strong>الذي يُصعدنا من الموت ويعطينا دائماً حياة القيامة وقوة الصعود &#8220;فإن كان روح ذلك الذي أقام سيدنا يسوع المسيح من بين الأموات سيحيي أجسادكم المائتة بروحه الحال فيكم&#8221;.</p>
<p></p>
<h4>الكاثوليكون</h4>
<p>وفي الكاثوليكون عن ← <strong>قوة الحياة في المسيح </strong>التي تُصعدنا من موت العالم ومن شهادة البشر وتصوراتهم &#8220;وهذه هي الشهادة أن الله قد أعطانا الحياة الأبدية وهذه الحياة هي في إبنه فمن كان متمسكاً بالإبن فهو أيضاً متمسك بالحياة&#8221;.</p>
<p></p>
<h4>الابركسيس</h4>
<p>وفي الابركسيس عن ← <strong>قوة الكرازة بإسم المسيح وقوة الله التي يعطيها لكارزيه أمام قوات العالم </strong>&#8220;فأما أنتم فملأتم أورشليم بتعليمكم&#8230;. أجاب بطرس والرسل وقالوا ينبغي أن يُطاع الله أكثر من الناس&#8221;.</p>
<p></p>
<h4>إنجيل القداس</h4>
<p>وفي انجيل القداس عن ← <strong>قوة صعود المسيح </strong>التي أعطت لأولاد الله العطايا العظمى والثمينة وهي إستجابة الصلاة والدالة مع الآب في إسم المسيح وأيضاً النصرة على العالم وضيقاته وأوجاعه &#8220;الحق الحق أقول لكم إن ما تسألونه من الآب بإسمي فأياه يعطيكم، إلى الآن لم تسألوا شيئاً بإسمي، سلوا فتأخذوا ليكون فرحكم كاملاً &#8230;. في العالم لكم ضيق ولكن تقووا أنا قد غلبت العالم&#8221;.</p>
<p></p>
<h3>ملخص الشرح</h3>
<ul>
<li>مظهر قوة الصعود (أبواق الملائكة) وجوهر قوة الصعود (النصرة والميراث) ونتيجة الصعود (الدالة عند الآب). (مزمور عشية – مزمور باكر- مزمور القداس).</li>
<li>مصير البشرية بدون مسيح الصعود وسلطان الشيطان عليها وفعل ابن الله في إنسان العهد الجديد. (انجيل عشية).</li>
<li>فعل قوة الصعود مخفي عن العالم ومعلن للكنيسة. (انجيل باكر).</li>
<li>الروح القدس يمنحنا قوة القيامة والصعود من موت العالم إلى حياة الله. (البولس).</li>
<li>قوة الصعود مرتبطة بالإيمان والتمسك الدائم بإبن الله مصدر الحياة. (الكاثوليكون).</li>
<li>قوة الكرازة بإسم المسيح والتي يعطيها للكنيسة الكارزة أمام قوات العالم. (الابركسيس).</li>
<li>صعود المسيح أعطى للمؤمنين الدالة مع الله الآب والنصرة الدائمة على العالم. (إنجيل القداس).</li>
</ul>
<p></p>
<h3>عظات آبائية ليوم الثلاثاء من الأسبوع السادس من الخمسين يوم المقدسة</h3>
<h4>شرح انجيل القداس &#8211; القديس كيرلس الأسكندري<a href="#_ftn1" name="_ftnref1">[1]</a></h4>
<p><strong>(يو16: 23، 24)</strong><strong> &#8220;وَفِي ذلِكَ الْيَوْمِ لاَ تَسْأَلُونَنِي شَيْئًا اَلْحَقَّ الْحَقَّ أَقُولُ لَكُمْ: إِنَّ كُلَّ مَا طَلَبْتُمْ مِنَ الآبِ بِاسْمِي يُعْطِيكُمْ. إِلَى الآنَ لَمْ تَطْلُبُوا شَيْئًا بِاسْمِي اُطْلُبُوا تَأْخُذُوا، لِيَكُونَ فَرَحُكُمْ كَامِلاً&#8221;. </strong></p>
<p>يقول الرب إن تلاميذه القديسين سوف يزدادون في الحكمة والمعرفة حينما يلبسون قوة من الأعالي بحسب الكتاب (انظر لو٤٩:٢٤). وإذ تكون أذهانهم قد إستنارت بمصباح الروح فإنها عندئذ يمكنها أن تدرك كل حكمة، حتى دون أن يسألوا ذاك الذي لم يعد حاضراً معهم بالجسد. والمخلص لا يقول هذا لأنهم لن يكونوا محتاجين إلى إنارة منه، بل لأنهم حينما يكونون قد نالوا روحه، وصار هو ساكناً في قلوبهم، فإن أذهانهم لن ينقصها أي شيء صالح، وستمتلئ بأكمل وأعظم معرفة. ونعني بالمعرفة الكاملة، أنها المعرفة الصحيحة وغير القابلة للخطأ، والتي لا تحتمل أن تفكر أو أن تقول أي شيء شرير، والتي لها إيمان مستقيم بالثالوث القدوس المتساوي في الجوهر.</p>
<p>لأننا إن كنا &#8220;ننظر الآن في مرآة في لغز، ونعرف بعض المعرفة&#8221; (انظر1كو۱۲:۱۳)، فإننا لا نبتعد أو نضل عن تعاليم الحق بل نلتصق بروح الكتب المقدسة الموحى بها، والمعرفة التي نحصل عليها هي كاملة، وهي معرفة لا يستطيع أحد أن ينالها سوى بنور الروح القدس المعطى له.</p>
<p>وبهذه الطريقة فهو يحث التلاميذ أن يصلوا لنوال النعم الروحية وفي نفس الوقت يعطيهم هذا التشجيع. أن ما يسألونه سيحصلون عليه بتأكيده لهم بإضافة &#8220;الحق الحق&#8221; إلى وعده، أنهم إن تقدموا إلى عرش الآب وطلبوا أي شيء بإسمه، فانهم سينالونه، فهو نفسه يعمل كوسيط ويدخلهم إلى حضرة الآب. فهذا هو معنى قوله  &#8220;بإسمي&#8221;؛ &#8220;؛ لأننا لا نستطيع أن نقترب من الله الآب سوى بواسطة الابن وحده &#8220;لأن به لنا قدوماً في روح واحد إلى الآب&#8221; بحسب الكتاب (انظر أف١٨:٢). لهذا أيضا هو يقول: &#8220;أنا هو الباب&#8221;. &#8220;أنا هو الطريق .. ليس أحد يأتي إلى الآب إلا بي&#8221; (انظر یو٧:١٠، يو٦:١٤).</p>
<p>وحيث إن الابن هو إله أيضا، فهو مع الآب يعطى عطايا صالحة للقديسين، ويشترك معه في منحنا نصيب المباركين. والرسول بولس الموحي إليه، يؤكد أيضا بوضوح إيماننا بهذا بكتابة هذه الكلمات. &#8220;نعمة لكم وسلام من الله أبينا والرب يسوع المسيح&#8221; (رو۷:۱) وبحق ألقابه: الوسيط، رئيس الكهنة، الشفيع، فيه تدخل صلواتنا إلى الآب، إذ هو يعطينا كل جرأة لمخاطبة الآب. إذا، باسم مخلصنا المسيح ينبغي أن نقدم طلباتنا إلى الآب، فهكذا سوف يمنحنا الآب إجابة لها برضا، وسيعطي للذين يسألون عطايا صالحة، لكي نأخذها ونفرح بها.</p>
<p>وهكذا إذ نمتلئ بالنعم الروحية، ونغتنى بنعمة المعرفة المعطاة لنا منه بواسطة الروح القدس الساكن في قلوبنا، فإننا سنحصل على نصرة سهلة على كل شهوة غريبة ورديئة. وهكذا إذ نكون نشطين في الأعمال الصالحة، وإذ نمارس كل فضيلة بغيرة حارة، وإذ نتقوى بكل ما يؤدي إلى التقديس، فاننا نفرح فرحاً عظيماً بتوقعنا للمكافأة التي تنتظرنا. وإذ نطرد عنا كل كآبة تنبع من الضمير الشرير، فان قلوبنا تمتلئ بالفرح الذي في المسيح. كل هذا لم يكن موجوداً في حياة رجال الزمن القديم، فهم لم يمارسوا هذا النوع من الصلاة لأنهم لم يعرفوه. ولكن هذا النوع من الصلاة قد أعطاه لنا المسيح في الوقت المناسب، حينما جاء وقت تكميل فدائنا، وقد حصلنا على الثمرة الكاملة لكل صلاح بواسطته. لأنه كما أن الناموس لم يكمل شيئاً، وكما أن البر حسب الناموس هو ناقص، هكذا أيضا كانت طريقة الصلاة المرتبطة بالناموس.</p>
<p><strong>(يو١٦: ٣٣)</strong> &#8220;<strong>قَدْ كَلَّمْتُكُمْ بِهذَا لِيَكُونَ لَكُمْ فِيَّ سَلاَمٌ فِي الْعَالَمِ سَيَكُونُ لَكُمْ ضِيقٌ، وَلكِنْ ثِقُوا: أَنَا قَدْ غَلَبْتُ الْعَالَمَ&#8221;.</strong></p>
<p>وكأن المسيح هنا يلخص حديثه إليهم من أجل فائدتنا؛ ويقدم في كلمات قليلة معنى ما قد قاله لهم، ويضع أمامهم معرفة مشيئته باختصار. وكأنه يقول: لأني قد كلمتكم بهذه الكلمات لكي يكون لكم في سلام، ولكي تعرفوا انكم ستقابلون إضطرابا في العالم، وستتعرضون لضيقات كثيرة من أجلي ولكنكم لن تنهزموا من الأخطار التي تحيط بكم لأني قد غلبت العالم، ولكي أجمل ما قد قلته واضحاً تماماً بالنسبة لكم، فإني سأشرح لكم أولاً ما معنى أن يكون لنا سلام في المسيح، لأن العالم أي أولئك الذين يحبون أمور العالم، هم في سلام بعضهم مع بعض، ولكنهم ليس لهم سلام في المسيح. فمثلاً، إن الذين يسعون وراء اللذات الحسية هم أعزاء جداً ومحبوبون من المشابهين لهم في سعيهم؛ وأيضاً الإنسان الذي يشتهي الغني الذي لا يملكه، يكون لهذا السبب جشعاً وميالاً للسرقة، وهو يكون مقبولاً من أولئك الذين يمارسون نفس رذائله &#8220;لأن كل مخلوق يحب مثيله، والإنسان يميل إلى شبيهه&#8221; بحسب القول (انظر بن سيراخ١٣: ١٦،١٥ سبعينية).</p>
<p>ولكن في كل العلاقات من هذا النوع فإن لفظة السلام المقدسة تستخدم في أمور وضيعة، والمثل الذي ذكرناه صحيح، ولكنه مع القديسين يختلف عما هو مع الأشرار. لأن الخطية ليست هي رباط السلام، بل بالحري الإيمان والرجاء والمحبة وقوة التقوى من نحو الله، وكل هذا في المسيح. إن أهم العطايا الصالحة المعطاة لنا هي &#8220;السلام في المسيح&#8221;، والذي يجذب وراءه المحبة الأخوية التي هي لصيقة للسلام، الرسول بولس يقول: إن &#8220;المحبة هي تكميل الناموس&#8221; (انظر رو ۲۰:۱۳). والذين يحبون بعضهم بعضاً سوف تأتي إليهم بالتأكيد محبة الله نفسه فوق كل شيء آخر، وكما يقول يوحنا إنه إن أحب أحد أخاه فلابد أن يحب الله نفسه أيضاً. ويشير الرب إلى حقيقة أخرى، وأعني في كلماته: &#8220;في العالم سيكون لكم ضيق: ولكن ثقوا أنا قد غلبت العالم&#8221;، فأي شخص يريد أن يفسر هذه الكلمات بمعنى بسيط سيقول هكذا: لقد ظهر المسيح أنه أعلى وأقوى من كل خطية ومن كل عائق عالمي؛ وبما أنه غلب فإنه أيضا سيمنح القوة للغلبة لأولئك الذين يجاهدون لأجل إسمه، وإن أراد أحد أن يجد معنى أعمق لهذه الكلمات، فإنه قد يتأمل هكذا: بما أن المسيح كإنسان، مات وقام من أجلنا، جاعلاً قيامته بداية الانتصار على الموت، فإن قوة قيامته ستمتد إلينا نحن بالتأكيد، حيث إن ذاك الذي غلب الموت هو واحد منا لكونه إتخذ جسدنا، وكما إننا بقوته نغلب الخطية ونغلب الموت الذي مات تماماً في المسيح أولاً، فالمسيح إذ هو الذي يزودنا بالبركة كأقرباء له، لذلك أيضا ينبغي أن نثق ونفرح لأننا سوف نغلب العالم. لأن المسيح كإنسان غلبه لأجلنا، صائر بذلك البداية والباب والطريق لجنس البشر. لأن الذين كانوا مرة ساقطين ومهزومين، قد صاروا الآن منتصرين وغالبين، بواسطته فهو الذي غلب كواحد منا ولأجلنا، لأنه لو كان قد غلب كإله لما كنا قد إنتفعنا بشيء، ولكن بغلبته كإنسان نكون نحن غالبين، لأنه بالنسبة لنا هو آدم الثاني الآتي من السماء حسب الكتاب (انظر ١كو١٥: ٤٧). وكما &#8220;لبسنا أولا صورة الترابي&#8221;، وصرنا مثله ساقطين تحت نير الخطية، هكذا بالمثل أيضا &#8220;سنلبس صورة السمائي&#8221; (١كو١٥: ٤٩)، أي المسيح، غالبين قوة الخطية ومنتصرين على كل ضيقة تقابلنا في العالم؛ لأن المسيح قد غلب العالم.</p>
<p></p>
<h4>الغالب &#8211; القديس افراهاط<a href="#_ftn2" name="_ftnref2">[2]</a></h4>
<p>لنضع على رؤوسنا خوذة الخلاص، لكي لا نُجرح ونموت في المعركة.</p>
<p>لنمنطق أحقاءنا بالحق، فلا نوجد ضعفاء في القتال.</p>
<p>لنقم ونوقظ المسيح، فيهدئ الأمواج عنا.</p>
<p>لنأخذ الترس تجاه <strong>الشرير</strong>، كاستعدادٍ لإنجيل مخلصنا  (أف ٦: ١٥، ١٦).</p>
<p>لنقبل من ربنا السلطان أن <strong>نسود على الحيات والعقارب</strong> (لو١٠: ١٩).</p>
<p>لنفرح في رجائنا في كل وقتٍ (رو١٢:١٢)، حتى يفرح بنا ذاك الذي هو رجاؤنا ومخلصنا&#8230;</p>
<p><strong>لنأخذ لأنفسنا سلاحًا للمعركة </strong>(أف٦: ١٦)، هو الاستعداد للإنجيل.</p>
<p>لنقرع باب السماء (مت٧:٧)، فيُفتح أمامنا وندخل فيه.</p>
<p>لنسأل الرحمة باجتهاد، فننال ما هو ضروري لنا.</p>
<p>لنطلب ملكوته وبره (مت٦: ٣٣).</p>
<p>لنتأمل في ما هو فوق، في السماويات، حيث المسيح صاعد وممجد.</p>
<p>لكن لننسَ العالم الذي هو ليس لنا، حتى نبلغ الموضوع الذي نحن مدعوون إليه.</p>
<p>لنرفع أعيننا إلى العلا، لنرى الضياء المتجلي.</p>
<p>لنرفع أجنحتنا كالنسور، لنرى حيث تكون الجثة (مت٢٤: ٢٨)&#8230;</p>
<p>عدونا حاذق يا عزيزي، ومحتال ذاك الذي يقاتلنا. يُعد نفسه للهجوم على الشجعان الظافرين، ليجعلهم ضعفاء. أما الواهون الذين له فلا يحاربهم، إذ هم مسبيون مُسلمون إليه.</p>
<p>من له جناحان يطير بهما عنه، فلا تبلغ إليه السهام التي يقذفها نحوه؟</p>
<p><strong>يراه الروحيون يحارب، ولا يتسلط سلاحه على </strong>أجسادهم.</p>
<p>لا يخافه كل أبناء النور، لأن الظلمة تهرب من أمام النور. أبناء الصالح لا يخشون الشرير، لأنه أعطاهم أن يطأوا عليه بأقدامهم (تك٣: ١٥).</p>
<p></p>
<h3>عظات آباء وخدّام معاصرين ليوم للثلاثاء السادس من الخمسين يوم المقدسة</h3>
<h4>الأحد السادس &#8211; للمتنيح القمص لوقا سيداروس<a href="#_ftn3" name="_ftnref3">[3]</a></h4>
<p><strong>(يو16: 23- 33)</strong></p>
<p><strong>في انتظار الروح القدس</strong></p>
<p>رجع التلاميذ من جبل الصعود بفرح عظيم. وقد أوصاهم الرب قبل صعوده قائلاً: &#8220;لا تبرحوا أورشليم إلى أن تلبسوا قوة من الأعالي&#8221; لكي لا تكون حركة الكرازة من قوة بشرية، بل بقوة روح الله الذى يملأهم ويحركهم ويقودهم ويتكلم فيهم.. لكي يكون فضل القوة والعمل لله، وليس الإنسان. وصعد التلاميذ إلى العلية التي هي الكنيسة الأولى وظلوا مدة العشرة أيام يواظبون على الصلاة والطلبة مع القديسة العذراء مريم إلى أن حل الروح القدس عليهم في يوم الخمسين وملأهم من كل حكمة وكل فهم كموعد الله.</p>
<p>والكنيسة في هذه الأيام تعيش بروح التلاميذ. تسترجع حرارة الصلاة والسؤال والطلبة إلى الآب. وتطلب وتجتمع بروح واحد ونفس واحدة ليتمجد فيها عمل الروح القدس الساكن فيها. والرب يسوع في فصل الإنجيل اليوم يوجه نظرنا نحو الآب للصلاة، قائلاً: &#8220;كل ما طلبتم من الآب باسمي يعطيكم&#8221;.</p>
<p>لقد كان الرب مزمعاً أن يسكب الروح القدس على التلاميذ فما فائدة الصلاة والسؤال إذن؟ بالصلاة نؤهل لنعمة الروح القدس ونظهر استعدادنا القلبي لقبوله، ونهنيء نفوسنا لحلوله فينا.. بدون صلاة قلبية وتوسل إلى الآب، لا ننال قوة ولا مؤازرة الروح في حياتنا. إن سبب ضعفنا الشديد، هو فتورنا في الصلاة وإهمالنا في الطلبة.</p>
<ul>
<li>أن الروح القدس نار تتأجج داخلنا بالصلاة. لذلك تصلي الكنيسة كل يوم في ساعة حلول الروح القدس (٩ صباحاً) هكذا: &#8220;روحك القدوس يا رب الذى أرسلته على التلاميذ الأطهار.. هذا لا تنزعه منا لكن جدده في أحشائنا&#8221;. فالروح الذى انسكب على التلاميذ وهم في حالة صلاة يتجدد داخلنا كل يوم بالصلاة.</li>
<li>القديس العظيم الأنبا أنطونيوس يوصى أولاده هكذا: [أطلبوا باستقامة قلب أن ينعم عليكم بإتيان ناره غير المادية عليكم من الصلاة لتحرق كل أفكاركم ومشوراتكم الردية].</li>
</ul>
<p><strong>اطلبوا تأخذوا ليكون فرحكم كاملاً</strong><strong> </strong></p>
<p>كثيراً ما طلبنا من الله ولم نأخذ. كما يقول يعقوب الرسول: &#8220;تطلبون ولا تأخذون لأنكم تطلبون ردياً&#8221;. فهل لنا في هذه الأيام أن نوجه طلبتنا إلى الآب من جديد؟ وعندما نطلب لابد أن ننال، لأن الآب يهب الروح القدس للذين يسألونه، وعندما يتجدد الروح فينا، سيصير فينا الفرح الكامل الذى لا يعرفه العالم. فالروح المعزي هو المصدر الوحيد للفرح في وسط ضيقات هذا العالم.</p>
<p><strong>تطلبون باسمي</strong><strong> </strong></p>
<p>والمسيح المبارك في فصل الإنجيل يركز فكرنا في اسمه، فكل طلبة بدون اسم يسوع، لا موضع لها عند الآب، وكل صلاة وتوسل بدون اسم يسوع تصير بلا قيمة. لقد عرف التلاميذ قوة هذا الاسم في القوات والآيات والعجائب، وفى قوة الخلاص الكائنة لنا فيه: &#8220;ليس اسم آخر تحت السماء قد أعطي بين الناس به ينبغي أن نخلص&#8221;. ليتنا نختبر كيف نردد الاسم المقدس الذي لربنا يسوع بلا انقطاع.</p>
<ul>
<li>حزقيال النبي: رأى الروح رؤيا عجيبة، عظام كثيرة يابسة جداً وملقاة على الأرض متفرقة. وقال له الرب: &#8220;تنبأ على هذه العظام، وقل لها أيتها العظام اسمعي كلمة الرب&#8221;.. فتنبأ كما أمره الرب، فرأى حزقيال العظام ترتعش فتتقاربت كل عظمة إلى عظمة، إذا العصب كساها وبسط عليها جلد وليس فيها روح. ثم قال له الرب تنبأ على الروح وقل: &#8220;هلم يا روح هب على هؤلاء القتلى فيحيون&#8221;. فتنبأ فدخل فيهم الروح فحيوا وقاموا على أقدامهم جيش عظيم جداً.. ثم قال الرب: &#8220;هذه العظام هي كل بيت إسرائيل&#8221;. قبل حلول الروح لابد من حركة تقارب بين العظام وتهيئة عجيبة لحلول الروح. وهذه الأيام العشرة التي تسبق حلول الروح القدس هي أيام المصالحة والوحدانية بين العظام اليابسة، لكى تقوم بعمل الروح القدس بقوة.. هكذا عاش التلاميذ هذه الأيام بنفس واحدة مواظبة على &#8220;الصلاة والطلبة&#8221;. هذه الأيام هي فرصة للكنيسة لكى تتجمع قتلاها من جديد وتسهم لعمل الروح القدس ليقبلهم ويجعلهم ضمن جيش الحياة الأبدية. هذه الأيام هي فرصة لجمع المتفرقين والمشتتين في موت الأنانية، والانفراد بالرأي، والاعتداد بالذات، والمقتولين بكل أنواع الشهوات، والمنفصلين عن مصدر الحياة وينبوع النعمة. هل لنا أن نجمع شتاتنا ونجتمع بنفس واحدة للصلاة والطلبة فتتقارب عظامنا برعش الصلاة، ويجتمع كل عظم إلى عظمة ويكسينا عصب المحبة القلبية، ثم يكسينا جلد الجسد الواحد ويعطينا بر المسيح.</li>
<li>إن أكبر ضربة يوجهها العدو الشيطان إلى الكنيسة موجهة دائماً ضد الروح الواحد، والقلب الواحد. أكبر ضربة يوجهها ضد المحبة في الكنيسة. كل بيت ينقسم على ذاته يخرب، وكل مدينة منقسمة على ذاتها تخرب. هذه الأيام فرصة لكل بيت أن يأخذ بركة الروح الواحد في الصلاة، والروح الواحد في المحبة. الروح القدس لا يحل ولا يرتاح طالما هناك انقسام أو شقاق.</li>
</ul>
<p><strong>عمل الصلاة</strong><strong> </strong></p>
<p>يبدوا أن الصلاة بنفس واحدة لها عمل خطير جداً. فالتلاميذ عندما واظبوا على الصلاة بنفس واحدة، تهيأوا لقبول الروح القدس. ومرة أخرى عندما كان بطرس في داخل السجن. صلت الكنيسة بنفس واحدة فتزعرع المكان وانفتحت أبواب السجن وخرج بطرس بيد ملاك الرب.</p>
<p>الآن يا أخوة.. للكنيسة نفوس كثيرة في سجون مختلفة، والشيطان أغلق عليها في سلاسل رهبته، وأحكم حراسته عليها، فهل للكنيسة أن تعود إلى الصلاة بنفس واحدة مرة أخرى لتخرج المحبوسين؟.</p>
<hr />
<p><a href="#_ftnref1" name="_ftn1">[1]</a>  تفسير انجيل يوحنا للقديس كيرلس الاسكندري &#8211; المجلد الاول (ص٢٠٣ &#8211; ٢٠٩) &#8211; ترجمة دكتور نصحي عبد الشهيد وآخرون.</p>
<p><a href="#_ftnref2" name="_ftn2">[2]</a>  تفسير سفر أيوب &#8211; الإصحاح الأربعون &#8211; القمص تادرس يعقوب ملطي.</p>
<p><a href="#_ftnref3" name="_ftn3">[3]</a>  كتاب تأملات روحية في قراءات أناجيل آحاد السنة القبطية &#8211; المتنيح القمص لوقا سيداروس.</p>

      {% endcreateArticleAccordions %}
    </section>
  {% endblock %}
  