---
layout: 'layouts/reading.html'
title: 'يوم الأربعاء من الأسبوع السادس للخمسين يوم المُقَدَّسَة'
tags: 'pentecost'
permalink: /articles/pentecost/6-3.html
---
  {% block content %}
    <section id="readings">
      <ul>
      {% if 'undefined' != 'undefined' %}
      
      {% else %}
      {% if '19.23:5' != 'null' %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">العشية</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeVespers '19.23:5' '41.9:33-37' %}
          </div>
        </div>
      </li>
      {% endif %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">باكر</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeMatins '19.23:1-3' '41.9:38-42' '' %}
          </div>
        </div>
      </li>
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <h3 class="flex items-center justify-between">
            <span class="kufi">القداس</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </h3>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeLitugy '45.7:1,2,3,4,5,6,7,8,10' '62.5:13-18' '44.19:6-10' '19.40:13,17' '43.17:1-8' %}
          </div>
        </div>
      </li>

      {% endif %}
        </ul>
    </section>
    <section id="article">
      <h3 class="mt-8 mb-4 heading-explain">شرح القراءات</h3>
      {% createArticleAccordions %}
        <h3>الصعود وجسد المسيح</h3>
<p>تتكلم قراءات اليوم عن <strong>إرتباط الصعود بإستعلان الكنيسة جسد المسيح</strong> .. فبصعود المسيح له المجد بجسده المقدس إلى السماء أعلن عن تدبير الآب من جهة الكنيسة وعن ملء الكنيسة بالروح والمواهب (أف١: ٢٣)، (أف٤: ١٠) ..</p>
<h4>المزامير:</h4>
<ul>
<li>لذلك تبدأ القراءات بمزمور الكنيسة والأسرار والأفخارستيا &#8220;هيأت قدامي مائدة مقابل الذين يحزنونني دهنت بالزيت رأسي وكأسك أسكرني. (مزمور عشية).</li>
<li>&#8220;الرب يرعاني فلا يعوزني شئ في مكان خضرة أسكنني رد نفسي&#8221;. (مزمور باكر).</li>
<li>ويختم بمزمور القداس الذي يعلن عن الكنيسة فلك الخلاص والذي كان الشعب يترنم به وقت تدشين بيت الرب في القديم &#8220;يا رب أرضى بخلاصي&#8230;.&#8221;. (مزمور القداس).</li>
</ul>
<h4>انجيل عشيّة</h4>
<p>ثم يوضح انجيل عشية ← <strong>أهمية صعود الكنيسة والمؤمنين من فكر العالم وكبريائه وإفتخاره إلى فكر المسيح</strong> &#8220;سألهم فيم كنتم تفكرون في الطريق. في أيهم العظيم بينهم&#8230;. ثم أخذ ولداً وأقامه في وسطهم وأمسكه وقال لهم من يقبل أحد هؤلاء كهذا بإسمي فقد قبلني&#8221;..</p>
<p>ويوضح أيضاً <strong>حقيقة الكنيسة ومعناها</strong> &#8220;ولما دخل البيت (الكنيسة)&#8230; فجلس ودعا الإثنى عشر. ثم أخذ ولداً&#8230;&#8221; فالمسيح رأس الكنيسة والتلاميذ الحجارة الحية وأغصان الكرمة التي خلالها تطعم كل أغصان العهد الجديد والولد في الوسط هو في بساطته واتضاعه ونقاوته أساس ترابط البناء وتماسكه.</p>
<h4>انجيل باكر</h4>
<p>وفي انجيل باكر عن ← <strong>أن التحزب أخطر ما يواجه الكنيسة من داخل، ويعطل ويعوق صعودها الدائم في المسيح واستعلانها كجسد واحد </strong>&#8220;وقال له يوحنا يا معلم رأينا واحداً يخرج شياطين بإسمك فمنعناه لأنه لا يتبعنا فقال له يسوع: لا تمنعوه لأنه ليس أحد يصنع قوة بإسمي ويقدر سريعاً أن يقول عليَّ سوءً&#8221;..</p>
<p>كما يتكلم أيضاً عن<strong> ← العثرات التي تعطل نمو وبنيان المؤمنين الصغار </strong>&#8220;ومن يعثر أحد هؤلاء الصغار المؤمنين بي فخير له بالحري أن يُعلق به حجر رحى ويطرح في البحر&#8221;.</p>
<h4>البولس</h4>
<p>وفي البولس يوضح ← <strong>الزواج كصورة حية وأيقونة للعلاقة بين المسيح والكنيسة، </strong></p>
<p>وأن ← <strong>الكنيسة قد تحررت من ناموس العهد القديم</strong> الذي يحكم دائماً بالموت على الخطية وصارت الكنيسة جسد المسيح الذي يحيا بالروح لا بالحرف ويعطي في الكل ثماراً الهية &#8220;إن الناموس يسود على الرجل مادام حياً فإن المرأة التي تحت رجل هي مرتبطة بالناموس بالرجل الحي، ولكن إن مات الرجل فقد تحررت من ناموس الرجل&#8230;. فالآن يا إخوتي قد متم للناموس بجسد المسيح لتصيروا لآخر للذي أُقيم من بين الأموات لتثمروا لله&#8230; فأما الآن فقد تحررنا من أعمال الناموس إذ مات الذي كان يمسكنا حتى نعبد الله بجدة الروح لا بعتق الحرف&#8221;.</p>
<h4>الكاثوليكون</h4>
<p>وفي الكاثوليكون عن ← <strong>استجابة الطلبات والصلوات التي صارت لنا في المسيح بصعوده إلى السماء وجلوسه عن يمين الآب</strong> والتي تؤول إلى مجد الكنيسة وبنيانها وخلاص نفوس كل أعضائها وليس إلى طلبات خاصة بل إلى إنشغال دائم بخلاص جسد المسيح وبهاءه الذي هو مسرة ابن الله &#8220;وهذه هي الثقة التي لنا عنده أنه يسمع لنا إن طلبنا شيئاً وكان طلبنا بحسب مسرته وإن كنا نعلم أنه مهما طلبنا يسمع لنا نعلم بأنه يكون لنا جميع ما نطلبه منه وإن رأى أحد أخاه قد إرتكب خطية غير موجبة عليه للموت فليسأل الله أن يهب له حياة كمن أتى خطية ليست للموت&#8221;.</p>
<h4>الابركسيس</h4>
<p>وفي الابركسيس عن ← <strong>غنى مواهب الكنيسة وغنى كرازتها للعالم وانتشار الملكوت </strong>&#8220;فطفقوا يتكلمون بلغات ويتنبأون&#8230; ثم أن بولس قد دخل المجمع وكان يتكلم علانية وحده ثلاثة أشهر ويقنع فيما يختص بملكوت الله&#8230; حتى سمع كلمة الرب يسوع جميع الساكنين في آسيا من اليهود واليونانيين&#8221;.</p>
<h4>إنجيل القدَّاس</h4>
<p>وفي انجيل القداس عن ← <strong>صلاة المسيح الشفاعية لأجل الكنيسة </strong>والتي هي غاية تدبير الآب في خلقة العالم &#8220;ولما تكلم يسوع بهذا رفع عينيه إلى السماء وقال يا أبت قد أتت الساعة مجد إبنك ليمجدك أبنك كما أعطيته سلطاناً على كل جسد لتعطي حياة أبدية لكل من أعطيته له&#8230; قد أظهرت إسمك للناس الذين أعطيتهم لي من العالم لك هم وقد أعطيتهم لي وكلامك حفظوه&#8230; فأنا أطلب من أجلهم لست أطلب من أجل العالم بل من أجل الذين أعطيتهم لي لأنهم لك&#8221;.</p>
<h3>ملخص الشرح</h3>
<ul>
<li>الكنيسة مكان خضرة ونضارة النفس بالروح ونبع النعم الخلاصية خلال أسرارها المقدسة. (مزمور عشية – مزمور باكر – مزمور القداس).</li>
<li>رأس الكنيسة هو المسيح وأعمدتها الرسل وبساطة واتضاع ونقاوة الطفولة هم أساس ترابط وتكامل البناء الكنسي كله. (انجيل عشية).</li>
<li>الكبرياء والتحزب والعثرات أخطر ما يعطل الصعود الدائم لجسد المسيح. (انجيل عشية - انجيل باكر).</li>
<li>الزواج هو الأيقونة الحية التي ترمز لإرتباط المسيح بالكنيسة. (البولس).</li>
<li>استجابة الطلبات لأجل بنيان الكنيسة وخلاص أعضائها هو مسرة الآب والإبن. (الكاثوليكون).</li>
<li>غنى مواهب الكنيسة المعطاة من الروح القدس وغنى الكرازة للعالم كله. (الإبركسيس).</li>
<li>صلاة المسيح الشفاعية لأجل الكنيسة التي هي غاية التدبير الإلهي من خلقة العالم. (إنجيل القداس).</li>
</ul>
<h3>عظات آبائية <strong>ليوم الأربعاء من الأسبوع السادس من الخمسين يوم المقدسة</strong></h3>
<h4>شرح لأنجيل القداس - القديس كيرلس الأسكندري<a href="#_ftn1" name="_ftnref1">[1]</a></h4>
<p><strong>(يو١٧: ٣)</strong><strong> &#8220;وَهذِهِ هِيَ الْحَيَاةُ الأَبَدِيَّةُ: أَنْ يَعْرِفُوكَ أَنْتَ الإِلهَ الْحَقِيقِيَّ وَحْدَكَ وَيَسُوعَ الْمَسِيحَ الَّذِي أَرْسَلْتَهُ&#8221;. </strong></p>
<p>هو يحدد أن الإيمان هو أم الحياة الأبدية، ويقول إن قوة المعرفة الحقيقية لله ستجعلنا نظل إلى الأبد في حالة عدم فساد، وسعادة، وقداسة. ونحن نقول إن المعرفة الحقيقية هي تلك التي لا يمكن أن تنحرف إلى أي شيء آخر، أو تجري وراء أمور غير لائقة. لأن البعض قد &#8220;عبدوا المخلوق دون الخالق&#8221; (رو٢٥:١)، وقد تجاسروا أن يقولوا للخشب &#8220;أنت أبي، وللحجر أنت ولدتني&#8221; انظر (إر٢٧:٢). لأن البشر التعساء إنحدروا إلى مثل هذا الجهل المطبق، حتى أنهم أعطوا اسم الله العظيم لقطع الخشب التي لا تشعر، ونسبوا لها المجد الذي لا يعبر عنه الخاص بالطبيعة الإلهية التي هي فوق الكل.</p>
<p>إذا، فإن الرب يدعو الله الآب بالإله الحقيقي وحده بعكس الآلهة الكاذبة، ويقصد أن يميز الإله الحقيقي عن تلك التي تسمى آلهة كذباً، فإن هذا هو هدف كلماته. إذاً، فمن الصواب تماماً، أن يتحدث أولاً عن الله أنه واحد وواحد فقط ثم يذكر بعد ذلك مجده الذاتي بقوله &#8220;ويسوع المسيح الذي أرسلته&#8221;. لأنه لا يستطيع أحد، بأي حال، أن يبلغ إلى المعرفة الكاملة للأب إن لم يمسك  بالارتباط اللصيق . بمعرفة وليدة أي الابن. لأنه من يعرف الآب، لأبد أن يعرف الابن أيضا.</p>
<p>إذن فحينما قال إن الآب هو الإله الحقيقي، فهو لم يستبعد نفسه. فلكونه في الآب ومن الآب بالطبيعة، يكون هو نفسه أيضا الإله الحقيقي والإله الوحيد مثلما أن الآب هو الإله الوحيد، لأنه لا يوجد سواه من هو الإله الحقيقي وحده. &#8220;لأن آلهة الأمم شياطين&#8221; انظر (مز٩٦: ٥). لأن الخليقة مستعبدة، ولا أعرف كيف يعبدون هذه الآلهة، ويغرقون في مثل هذه الحمأة من عدم التفكير والحماقة الشهوانية. إذن ففي وسط الآلهة الكثيرة في هذا العالم، التي دعيت آلهة كذبا وزيفا يبرز الإله الحقيقي الوحيد مختلفاً تماما عنها، والابن أيضا الذي هو بالطبيعة في الآب ومن الآب، وهو متميز عن الآب وفي نفس الوقت له الطبيعة نفسها. وأقول متميز عنه لأن له أقنومه الخاص؛ لأن الابن هو الابن وليس الآب. وأقول أيضا إن له نفس الطبيعة، لأن الابن المولود من الآب هو واحد مع الآب بالطبيعة بدون إنفصال.. لأن الآب واحد مع الابن، وهو آب ويسمى آب لأنه ولد الابن. إذن، فهو يقول &#8220;هذه هي الحياة الأبدية أن يعرفوك أنت الإله الحقيقي وحدك، ويسوع المسيح الذي أرسلته&#8221;. وقد يسأل أحد أولئك الذين لا يملون من الإستماع إلى الكتاب المقدس، ويسعون باجتهاد في دراسة التعاليم الإلهية، ويقول: هل نحن نقول إن المعرفة هي الحياة الأبدية، وإن معرفة الإله الحقيقي تكفي لتعطينا أماناً تماماً للمستقبل ولن ينقصنا شيء آخر بعد ذلك؟ إذن كيف يكون &#8220;الإيمان بدون أعمال ميت؟&#8221; انظر (يع٢٦:٢).</p>
<p>نحن، حينما نتحدث عن الإيمان فنحن نقصد معرفة الله الحقيقية لأن المعرفة تأتي بواسطة الإيمان، ويشهد لنا إشعياء النبي عن هذا عندما قال: &#8220;إن لم تؤمنوا فلن تفهموا &#8221; (إش٩:٧) سبعينية، ونحن نعرف من كتابات الرجال القديسين أن المعرفة التي تتكون من أفكار عقيمة هي غير نافعة بالمرة، لأن أحد التلاميذ القديسين كتب يقول: &#8220;أنت تؤمن إن الله واحد، حسنًا تفعل، والشياطين يؤمنون ويقشعرون&#8221; (يع١٩:٢). فماذا نقول إذا عن هذا؟ كيف يتكلم المسيح بالحق حينما يقول إن الحياة الأبدية هي معرفة الله الآب الإله الحقيقي ومعرفة الابن معه. أظن إننا ينبغي أن نجيب أن قول المخلص هو صحيح تماماً.</p>
<p>لأن هذه المعرفة هي حياة، وهي تعمل على توليد معنى السر كله، وتمنحنا إشتراكاً في سر الإفخارستيا، الذي بواسطته نتحد بالكلمة الحي واهب الحياة. وأعتقد أنه لهذا السبب يقول الرسول بولس إن &#8220;الأمم شركاء في الجسد وشركاء في المسيح&#8221; انظر (أف٦:٣)، لأنهم يشتركون في جسده ودمه المباركين؛ وبهذا المعنى فإن أعضاءنا يمكن أن يقال عنها إنها &#8220;أعضاء المسيح&#8221; (انظر (١كو١٥:٦). إذن فهذه المعرفة التي تحضر إلينا الإفخارستيا بواسطة الروح، هي حياة. لأنها تسكن في قلوبنا، وتشكل من جديد أولئك الذين يقبلونها إلى البنوة مع المسيح، وتصوغهم ليدخلوا في عدم الفساد وفي التقوى نحو الله، من خلال الحياة حسب الإنجيل. إذاً، فلأن ربنا يسوع يعلم أن معرفة الإله الحقيقي الوحيد تأتي إلينا بالبركات التي تحدثنا عنها وتوحدنا بها، لذلك يقول إن هذه المعرفة هي الحياة الأبدية، إذ أنها هي أم الحياة الأبدية ومربيتها، إذ أن هذه المعرفة هي في ذاتها وطبيعتها حبلى بتلك الأشياء التي تسبب الحياة وتقود إليها.</p>
<p>وأعتقد أنه ينبغي أن نلاحظ بإنتباه، بأية طريقة يقول المسيح إن معرفة الإله الحقيقي الوحيد. تكتمل فينا بكل ملئها. لأننا نرى كيف أنها لا يمكن أن توجد بدون معرفة الابن، وواضح أيضا أنها لا يمكن أن توجد بدون الروح القدس، لأن هذه هي طبيعة الإيمان بكل أقانيم الثالوث بحسب الكتاب المقدس. إن اليهود بسيرهم وراء وصايا موسى، رفضوا تعدد الآلهة الكاذبة، وعبدوا الإله الحقيقي الوحيد بإرشاده، وذلك حسب قول الناموس للرب إلهك تسجد وإياه وحده تعبد (انظر (مت١٠:٤)، (تث٦ :١٣). ولكن أولئك الذين لا يزالون يتعلقون بعبادة الإله الحقيقي الوحيد، وهم ليس لهم بعد معرفة كاملة بذاك الذي يعبدونه، يلزمهم أن يعرفوا أن ليس فقط أن خالق كل الأشياء هو واحد  الذي هو الإله الحقيقي، بل أيضا أنه أب وقد ولد أبنا، بل أكثر من كل ذلك، أن يشخصوا ويتطلعوا بانتباه إليه في صورته التي لا تتغير، الذي هو الابن. لأن عن طريق سمات الصورة، يمكننا إلى نبلغ إلى المعرفة الكاملة للأصل، إذاً، كان من الضروري جداً أن يخبرنا ربنا يسوع المسيح، أن أولئك الذين دعوا بالإيمان إلى البنوة والحياة الأبدية، ينبغي ليس فقط أن يعلموا أن الإله الحقيقي هو واحد فقط، بل إنه أيضا أب، وهو أبو ذاك الذي صار جسداً لأجلنا، والذي أرسله الآب ليعيد ويخلص طبيعة البشر العقلاء التي كانت قد فسدت.</p>
<h3>عظات آباء وخدّام معاصرين ليوم للأربعاء من الأسبوع السادس من الخمسين يوم المقدسة</h3>
<h4>الصلاة الأخيرة - للمتنيح الأنبا أثناسيوس مطران بني سويف والبهنسا<a href="#_ftn2" name="_ftnref2">[2]</a></h4>
<p>كان الرب يصلي كثيراً. وكان أحيانا يطيل الصلاة مثلما حدث ليلة التجلي، أو يقضي الليل كله في الصلاة مثلما في ليلة أختياره التلاميذ (لو٦: ١٢) أو ليلة القبض عليه. والصلاة المذكورة في هذا الإصحاح لم ترد في الأناجيل الأخرى. اذ يبدو أنها كانت في البيت حيث أكلوا الفصح، فأنها غير الصلاة التي أوردتها الأناجيل الأخرى عن البستان فأنه خرج بعد هذه الصلاة من البيت إلى البستان (يو۱۸: ۱).</p>
<p><strong>(۱</strong><strong>:</strong><strong>۱۷</strong><strong>- </strong><strong>۱۰)</strong> <strong>مجد وحياة</strong></p>
<p>بعد أن دخل الرب أورشليم ظهر صوت &#8220;مجدت وأمجد أيضاً&#8221; (یو۱۲: ۲۸) وكان المقصود بذلك المجد احتماله ألم الصليب (أنظر يو۲۷:۱۲) وحين خرج يهوذا لتنفيذ الخطة قال الرب &#8220;الآنَ تَمَجَّدَ ابْنُ الإِنْسَانِ وَتَمَجَّدَ اللهُ فِيهِ&#8221; (يو۱۳: ۳۱).</p>
<p>وهنا تبدأ الصلاة بالحديث عن هذا المجد. أي أن الفداء يفتح باب السماء للناس ويعطيهم الحياة الأبدية وهذا مجد محبة الله الذي لايقل عن مجد عدله وسلطانه &#8220;الَّذِي إِذْ كَانَ فِي صُورَةِ اللهِ، لَمْ يَحْسِبْ خُلْسَةً أَنْ يَكُونَ مُعَادِلاً ِللهِ. لكِنَّهُ أَخْلَى نَفْسَهُ، آخِذًا صُورَةَ عَبْدٍ، صَائِرًا فِي شِبْهِ النَّاس وَإِذْ وُجِدَ فِي الْهَيْئَةِ كَإِنْسَانٍ، وَضَعَ نَفْسَهُ وَأَطَاعَ حَتَّى الْمَوْتَ مَوْتَ الصَّلِيب لِذلِكَ رَفَّعَهُ اللهُ أَيْضًا، وَأَعْطَاهُ اسْمًا فَوْقَ كُلِّ اسْمٍ لِكَيْ تَجْثُوَ بِاسْمِ يَسُوعَ كُلُّ رُكْبَةٍ مِمَّنْ فِي السَّمَاءِ وَمَنْ عَلَى الأَرْضِ وَمَنْ تَحْتَ الأَرْضِ، وَيَعْتَرِفَ كُلُّ لِسَانٍ أَنَّ يَسُوعَ الْمَسِيحَ هُوَ رَبٌّ لِمَجْدِ اللهِ الآبِ &#8221; (في٢: ٦-۱۱).</p>
<p>وأطرد استعمال لفظ &#8220;مجد&#8221; لعملية الصلب منذ دخول الرب أورشليم &#8220;وَكَانُوا يَصْرُخُونَ: أُوصَنَّا مُبَارَكٌ الآتِي بِاسْمِ الرَّبِّ مَلِكُ إِسْرَائِيلَ&#8230; وَهذِهِ الأُمُورُ لَمْ يَفْهَمْهَا تَلاَمِيذُهُ أَوَّلاً، وَلكِنْ لَمَّا تَمَجَّدَ يَسُوعُ، حِينَئِذٍ تَذَكَّرُوا أَنَّ هذِهِ كَانَتْ مَكْتُوبَةً عَنْهُ&#8221; (يو ١٢: ١٣، ١٦). واستمر إلى نهاية الإنجيل حین استعملت عن الرسول بطرس لما أشار الرب متنبأ عن الطريقة التي يموت بها الرسول &#8220;قَالَ هذَا مُشِيرًا إِلَى أَيَّةِ مِيتَةٍ كَانَ مُزْمِعًا أَنْ <strong>يُمَجِّدَ</strong> اللهَ بِهَا&#8221; (يو۱۹:۲۱) والكنيسة تعمل شيئاً مشابهاً لهذا حين تصلي صلوات سبت الفرح فتجمع بين الطقس الحزين والطقس السنوى علامة على أن الفرح قد بدأ بتمام الصلب والفداء، وان كان الحزن مستمراً إلى أن يكمل الفرح بالقيامة. كما أن الكنيسة تتلو مزمور &#8220;عرشك يا الله إلى دهر الدهور&#8221; في صلاة الساعة الحادية عشرة من يوم الثلاثاء لأن يوم الأربعاء فيه ذهب يهوذا واتفق مع رؤساء اليهود على تسليم السيد، فهي في نهاية صلوات الثلاثاء تخاطب الرب بهذا المزمور علامة على أنها تعبده وتحييه في هذه الساعة التي يبدأ فيها يوم الخيانة وفي التمجيد الخاص بأسبوع الآلام &#8220;لك القوة والمجد والبركة والعزة إلى الأبد..&#8221; وتضيف الكنيسة منذ ليلة الأربعاء لنفس السبب.. &#8220;مخلصی الصالح&#8221;.</p>
<p><strong>(يو17: ٦-٨)</strong><strong> كانوا لك وأعطيتهم لي : </strong></p>
<p>خلق الله جميع الناس، ولكنهم سقطوا ثم جاء الفادی وجدد خلقهم. كنا جميعا لله بالخلق الأول، وتجددت بنويتنا بالخلق الثاني &#8220;إذ ليس بغيره خلاص&#8221;.</p>
<p>ليس من فارق بين الآب والابن، ولكن عمل الفداء يمجد في السماء مجداً خاصاً لأنه سحق العدو واسترد الأسرى.</p>
<p>&#8220;هم قبلوا وعلموا يقينا أني خرجت من عندك&#8221; المؤمنون بالرب يعلمون يقينا أنه الإله، وأنه الخالق &#8220;كل شئ به كان وبغيره لم يكن شئ مما كان&#8221; ولكنهم يكرمون عمل الفداء تكريماً خاصاً لأنه أعاد لهم حياتهم المفقودة. أعاد لهم كل شيء.</p>
<p>وهو لايقصد أنهم كانوا للآب ثم صاروا للابن لافتراق الاثنين، بل أنهم كانوا تحت سلطان العدل فصاروا تحت الرحمة وبذا انتقلوا من تحت حكم الموت إلى حكم الحرية والحياة.</p>
<h4>الحياة الأبدية – المتنيح القمص بيشوي كامل<a href="#_ftn3" name="_ftnref3">[3]</a></h4>
<p>من رسالة يوحنا الرسول الاولى الأصحاح الأول: &#8220;اَلَّذِي كَانَ مِنَ الْبَدْءِ، الَّذِي سَمِعْنَاهُ، الَّذِي رَأَيْنَاهُ بِعُيُونِنَا، الَّذِي شَاهَدْنَاهُ، وَلَمَسَتْهُ أَيْدِينَا، مِنْ جِهَةِ كَلِمَةِ الْحَيَاة فَإِنَّ <strong>الْحَيَاةَ أُظْهِرَتْ</strong>، وَقَدْ رَأَيْنَا وَنَشْهَدُ وَنُخْبِرُكُمْ بِالْحَيَاةِ الأَبَدِيَّةِ الَّتِي كَانَتْ عِنْدَ الآبِ وَأُظْهِرَتْ لَنَا الَّذِي رَأَيْنَاهُ وَسَمِعْنَاهُ نُخْبِرُكُمْ بِهِ، لِكَيْ يَكُونَ لَكُمْ أَيْضًا شَرِكَةٌ مَعَنَا وَأَمَّا شَرِكَتُنَا نَحْنُ فَهِيَ مَعَ الآبِ وَمَعَ ابْنِهِ يَسُوعَ الْمَسِيحِ وَنَكْتُبُ إِلَيْكُمْ هذَا لِكَيْ يَكُونَ <strong>فَرَحُكُمْ كَامِلاً</strong>&#8221; .</p>
<p>كثير منا يعتقد أن الحياة الأبدية هي التي تعقب موت الانسان ثم يذهب الى الفردوس موضع الراحة، وعندما يأتي يوم الدينونة يقوم الذين صنعوا الصالحات الى قيامة الحياة والذين صنعوا السيئات الى قيامة الدينونة، ومن هنا تبدأ الحياة الأبدية!!.. لا يا أخوتي.. هذا تفكير خاطىء.. أنا أريد منك أن تضع علامة تساوى وأنت مطمئن للغاية أن <strong>الحياة الأبدية هي المسيح</strong>. وهذا الكلام صحيح.</p>
<p>هيا بنا نرى ماذا تعني الحياة الأبدية بدون الدخول في مناقشات ومجادلات فلسفية ربما لا توصلنا الى شيء. الحياة معناها عدم الموت، ونحن نعلم ان سبب الموت هو الخطية. اذن لو استطعنا أن نقضي على الخطية لا نموت. لكن الذي سبب لي الخطية هو العالم. اذن لو وجدت من يغلب العالم أضمن ان لا أموت وأظل في حياة دائمة. المسيح عندما جاء كان شبعان للغاية نتيجة طبيعته اللاهوتية.. وجد العالم يكذب.. لكن أنا لا أكذب . وجد العالم يسرق (مثل رؤساء الكهنة).. لكن أنا لا أسرق. لهذا عندما وجده جماعة اليهود على هذا الحال صلبوه على الصليب. من أجل هذا الصليب من ضمن ما يرمز فإنه يرمز الى غلبة العالم والشيطان والخطية. ونحن مهما نخطىء فخطيتنا ثمنها مدفوع مقدماً. أنا اضمن لك أن الثمن مدفوع لكن لا أضمن لك التوبة وهذه تعتمد على جهادك. ربما تخرج من هذا العالم وانت لم تتب بعد فانت حينئذ لم تستفد بالدم المدفوع على الصليب. أنا أريدك تعيش في العالم فرحان. صدقني يا أخي.. هذه الحياة رائعة جداً ولا تفتكر أن الحياة مثل ما هي في أذهان أولاد العالم عبارة عن لبس وأكل وضحك.. لا على الاطلاق.. الحياة في المسيح أكثر لذة من كل هذا بكثير وسعادتها لا تنتهي.</p>
<p>تواظب على قراءة الانجيل.. ويوم ان تسقط تقوم وتتحد مع المسيح بسر عجيب في التناول. انها حياة جميلة. وأنا أريد أن أقول أكثر من ذلك.. <strong>الانفصال عن المسيح هو الموت نفسه</strong>.</p>
<p>هناك قصة مشهورة تقول: كان هناك رجل يهودي يدعى فليكسينوس، وفي نفس الوقت كان هناك مسيحيان. وفي مرة اجتمع هذان المسيحيان وأخذ احدهما يشتكى للآخر قائلاً: يا أخي من يوم ما سرت وراء المسيح أصبحت فقيراً وجوعاناً ولم أصبح مثل ما كنت عليه من قبل. فما كان من الثاني إلا إنه شجعه وقال له يا صديقي إن المال ليس كل شيء ويكفي الحياة مع المسيح وهذا غنى كاف. وفي النهاية اتفق الاثنان للذهاب للرجل اليهودي لاستشارته في هذا الموضوع. فقال اليهودي للانسان المسيحي المتذمر: اجحد المسيح وأنت تصبح غنياً وذى أموال كثيرة. وقام وأحضر له صليب عليه المسيح مصلوب وأعطاه حربة وقال له أطعن جنب المسيح بالحربة وردد اجحدك ايها المسيح أنت وصليبك. وفعلاً ما أن طعن الرجل المسيحى جنب المسيح بالحربة للوقت مات الرجل. وهذا صحيح <strong>عندما ترك المسيح مات</strong>. وتكملة القصة أن هذا الرجل اليهودي آمن بالمسيح لأنه كان عنده ابنة ضريرة وما ان وضع على يمينها المسيح المطعون بالحربة أبصرت للوقت.</p>
<p>المهم إن <strong>الإنفصال عن المسيح هو الموت فعلاً</strong>. وبالتالي <strong>الإتحاد بالمسيح هو الحياة الأبدية</strong>. ماذا لو حدث في أى جنازة والناس تبكي، يجيء المسيح ويلمس النعش ويقول للميت لك أقول قم!! تخيل منظر الناس التي كانت تبكي مدى الفرح المفاجيء الذي يحدث لها. صدقنى يا أخي إن هذه المعجزة تتم يومياً فينا.. المسيح يقيم يومياً نفوسنا الميتة ويجعلها تحيا حياة ابدية معه. هل تتذكر الحديث الذي دار بين ربنا يسوع ومرثا أخت لعازر:</p>
<p>&#8220;فَقَالَتْ مَرْثَا لِيَسُوعَ:«يَا سَيِّدُ، لَوْ كُنْتَ ههُنَا لَمْ يَمُتْ أَخِي لكِنِّي الآنَ أَيْضًا أَعْلَمُ أَنَّ كُلَّ مَا تَطْلُبُ مِنَ اللهِ يُعْطِيكَ اللهُ إِيَّاهُ. قَالَ لَهَا يَسُوعُ: سَيَقُومُ أَخُوكِ. قَالَتْ لَهُ مَرْثَا: أَنَا أَعْلَمُ أَنَّهُ سَيَقُومُ فِي الْقِيَامَةِ، فِي الْيَوْمِ الأَخِيرِ. قَالَ لَهَا يَسُوعُ: أَنَا هُوَ الْقِيَامَةُ وَالْحَيَاةُ مَنْ آمَنَ بِي وَلَوْ مَاتَ فَسَيَحْيَا. وَكُلُّ مَنْ كَانَ حَيًّا وَآمَنَ بِي فَلَنْ يَمُوتَ إِلَى الأَبَدِ أَتُؤْمِنِينَ بِهذَا؟. قَالَتْ لَهُ: نَعَمْ يَا سَيِّدُ أَنَا قَدْ آمَنْتُ أَنَّكَ أَنْتَ الْمَسِيحُ ابْنُ اللهِ، الآتِي إِلَى الْعَالَمِ&#8221; (يو۲۱:۱۱– ۲۷).</p>
<p>حدث في مرة من المرات انه انتشر بين تلاميذ المسيح أن يوحنا لن يموت. وكان يوحنا يتكيء على صدر المسيح وكل اشتياقاته كانت في المسيح. فذهب بطرس وجماعة التلاميذ ليسألوا المسيح هل يوحنا لن يموت؟ فأجاب يسوع أنا لم أقل انه لن يموت ولكن إن شئت أن لا يموت فلن يموت. وكان ربنا قادراً ان يجعل يوحنا لا يموت.</p>
<p><strong>فالحياة الأبدية هي الحياة في المسيح</strong> . فلنحيا في المسيح لنذوق الحياة الأبدية.</p>
<h4>العمل الذى أعطيتنى لأعمل قد أكملته – المتنيح الدياكون يسي حنا<a href="#_ftn4" name="_ftnref4">[4]</a></h4>
<p>في نهاية ثلاث سنوات من الكرازة. وبعد أن رسم يسوع للبشرية طريقها الى الله طريق القداسة التي لها من القوة ما يغير الخطاة، والمحبة التي تصل الى اعلان أبوة الله لنا جميعاً. رفع يسوع عينيه الى السماء وقال &#8220;الْعَمَلَ الَّذِي أَعْطَيْتَنِي لأَعْمَلَ قَدْ أَكْمَلْتُهُ&#8221; (يو١٧: ٤) !</p>
<p>انه كمن يقدم تقريراً عن مهمة انتدب لأجلها وأتمها. فيبدأ في تقريره هذا ليشرح طبيعة هذه المهمة وغايتها والطريقة التي تكمل بها تلك الغاية ..</p>
<p>فلنأتي إليه الآن.. ولنقف بجوار تلاميذه بعد أن أوصاهم وصيته الأخيرة، ورفع عينيه إلى السماء ليحدث الآب عن ساعة تأتي، ومجد يستعلن: ها هو يقول &#8220;أَيُّهَا الآبُ، قَدْ أَتَتِ السَّاعَةُ&#8221; (يو١٧ : ١). نعم، أتت الساعة التي يقف فيها الحاكم محكوماً عليه، فيدين الناس جابلهم فيلقون بذلك كل خطاياهم على رأسه ليحملها عنهم. إنها الساعة التي يطيع فيها الإبن حتى الموت لكي يفتدى من قادهم عصيانهم إلى الموت. ويغير من طبيعتهم كعبيد ليصبحوا أبناء الله.. ها هو يقول أيضاً &#8220;مَجِّدِ ابْنَكَ لِيُمَجِّدَكَ ابْنُكَ أَيْضًا&#8221; (يو١٧: ١).</p>
<p>هذا المجد الذي يستعلن لمن لم يطلب لنفسه مجداً من العالم المملوء بالرياء. بل هو مجد حقیقي لا يتأتى إلا عن طريق الهوان والآلام. إنه مجد من الله الآب عندما تكمل ارادته في الابن فيهب الخلاص من الخطية والحياة من الموت. &#8220;لأَنَّهُ هكَذَا أَحَبَّ اللهُ الْعَالَمَ حَتَّى بَذَلَ ابْنَهُ الْوَحِيدَ، لِكَيْ لاَ يَهْلِكَ كُلُّ مَنْ يُؤْمِنُ بِهِ، بَلْ تَكُونُ لَهُ الْحَيَاةُ الأَبَدِيَّةُ&#8221; (يو٣: ١٦).</p>
<p>والآن يستطرد يسوع مصلياً ومبيناً بالتفصيل ماذا فعل من أجل خاصته فلنتأمل نحن أيضاً في هذه الصلاة حتى نتعلم كيف نتبع خطواته ونقدم تقريراً عما نعمله يوماً بيوم حتى نتفهم ماذا يريد الله منا ثم نراجع أعمالنا لنرى إن كانت تتفق تماما وتلك الارادة:</p>
<p>۱- <strong>&#8220;أَنَا أَظْهَرْتُ اسْمَكَ لِلنَّاسِ الَّذِينَ أَعْطَيْتَنِي مِنَ الْعَالَمِ&#8221; </strong>(يو١٧: ٦) لقد أظهر يسوع اسم الله. وعلينا نحن أن نظهر اسم الله فلا نذكره في أقوالنا أو تصرفاتنا فحسب بل نشهد له حتى يشهد لنا، و نعترف به حتى يعترف بنا أمام ملائكة أبيه فنرث معه في ملكوته السماوي.</p>
<p>٢- <strong>&#8220;لأَنَّ الْكَلاَمَ الَّذِي أَعْطَيْتَنِي قَدْ أَعْطَيْتُهُمْ&#8221;</strong> (يو۱۷: ۸) - لقد أعطاهم يسوع كلمة الله  و نحن علينا أن نقبل الكلمة ونخبر بها كل من يحتاج إلى بشارتها المفرحة. هذا القبول الذي يقتضينا أولاً أن نواظب على سماع كلمة الله في وداعة وطاعة ثم نقدمها لكل من هم حولنا فيقبلونها عندما يجدوا ثمرها ظاهراً في حياتنا.</p>
<p>٣- <strong>&#8220;مِنْ أَجْلِهِمْ أَنَا أَسْأَلُ&#8221;</strong> (يو۱۷: ۹) – والصلاة من أجل الآخرين تقتدر كثيراً في فعلها وتعود بفيض من النِعَمْ على الجميع . إنها صلاة تخلو من الأنانية. و تتشبع بالمحبة التي هو الجوهر الإلهي في حياتنا.</p>
<p>4- &#8220;حِينَ كُنْتُ مَعَهُمْ فِي الْعَالَمِ كُنْتُ أَحْفَظُهُمْ فِي اسْمِكَ الَّذِينَ أَعْطَيْتَنِي حَفِظْتُهُمْ&#8221; (یو۱۷: ۱۲) – لقد حفظهم يسوع، وعلينا نحن أن نحافظ على الوزنات التي وهبنا إياها الله ونستثمرها. ونرعى في اهتمام كل من إئتمنا الله على حياتهم، فلا نعثر أولادنا أو نتهاون في تربيتهم ولا نستهتر في مسئوليتنا إزاء عائلاتنا يمكن أن نقول مع يشوع &#8220;أما أنا وبيتي فنعبد الرب&#8221;. و نستر بار شادنا كثرة خطايا أصدقائنا وزملائنا حتى نصبح الملح الذي يملح الأرض ويحفظ من الفساد.</p>
<p>٥- &#8220;أَمَّا الآنَ فَإِنِّي آتِي إِلَيْكَ&#8221; (يو۱۷: ۱۳) لقد قرر يسوع وجهته وغايته  ذلك الهدف الوحيد الذي ينبغي أن يكون هدفنا والذي من أجله وُجدنا في هذه الحياة. وكل غاية تنحرف عن هذا الاتجاه لا تصل بنا إلى نهاية سعيدة.. فالذي يتجه الى المال أو العلم أو السلطان لا بد أن يسمع يوماً هذا الصوت القائل &#8220;يا غبي هذه الليلة تطلب نفسك منك فهذه التي أعددتها لمن تكون&#8221;. أما الذي يرى أن غايته مجيء ملكوت الله فهو يهتف في اشتياق وفرح قائلاً &#8220;لي اشتهاء أن أنطلق وأكون مع المسيح ذاك أفضل جداً&#8221;.</p>
<p>6- &#8220;كَمَا أَرْسَلْتَنِي إِلَى الْعَالَمِ أَرْسَلْتُهُمْ أَنَا إِلَى الْعَالَمِ&#8221; (يو۱۷: ۱۸) لقد أرسل يسوع تلاميذه الى العالم  وينبغي أن نضم معنا كل من تثمر فيه محبة يسوع فيمضي الى باقي إخوته في العالم. نعم، إننا لا ننتظر من العالم رجاء ولكن لنا ثقة في أن من غلب العالم سوف يغلب أيضاً بنا. إنه لا يدعونا إلى الاعتزال ولا يسأل الرب أن يأخذنا من العالم بل أن يحفظنا من الشرير. لذلك ينبغي أن تجعل خدمته هي كل وجهتنا حتى نصبح بحق نوراً للعالم.</p>
<p>۷- &#8220;وَلأَجْلِهِمْ أُقَدِّسُ أَنَا ذَاتِي، لِيَكُونُوا هُمْ أَيْضًا مُقَدَّسِينَ فِي الْحَقِّ&#8221; (يو١٩:١٧) لقد قدس يسوع ذاته من أجل تلاميذه ! و نحن لا يقتصر أثر سلو كنا على أنفسنا بل يتعداها إلى الآخرين أيضاً. فكل شر فينا يعثر من هم حولنا، وعندما نتمسك با لقداسة نجد أن فاعليتها تمتد إلى تقديس من يلتصقون بنا ويعاشرونا.</p>
<p>إن العالم في احتياج الى مزيد من الحب والقداسة والله اعطانا ان نكون متممين للغاية التي من أجلها جاء يسوع إلى الأرض.</p>
<p>فلنرفع إليه قلوبنا كل يوم مقدمين تقريراً عما فعلناه لإتمام هذه الغاية ونقول مع الرب يسوع في صلاته الشفاعية عندما ودع تلاميذه &#8220;الْعَمَلَ الَّذِي أَعْطَيْتَنِي لأَعْمَلَ قَدْ أَكْمَلْتُهُ&#8221; (يو١٧: ٤).</p>
<h3>المراجع</h3>
<p><a href="#_ftnref1" name="_ftn1">[1]</a>  كتاب شرح إنجيل يوحنا للقديس كيرلس الأسكندري ( المجلد الثاني صفحة ٣٥٢ ) - ترجمة دكتور نصحي عبد الشهيد وآخرون.</p>
<p><a href="#_ftnref2" name="_ftn2">[2]</a>  تفسير إنجيل يوحنا الإصحاح السابع عشر - الأنبا أثناسيوس - لجنة التحرير والنشر بمطرانية بني سويف.</p>
<p><a href="#_ftnref3" name="_ftn3">[3]</a>  مجلة مدارس الاحد - عدد مارس لسنة 1990.</p>
<p><a href="#_ftnref4" name="_ftn4">[4]</a>  مجلة مدارس الاحد - عدد مايو لسنة 1962.</p>

      {% endcreateArticleAccordions %}
    </section>
  {% endblock %}
