---
layout: 'layouts/reading.html'
title: 'يوم الخميس من الأسبوع السادس للخمسين يوم المُقَدَّسَة'
permalink: pentecost/6-4.html
---
  {% block content %}
    <section id="readings">
      <ul>
      {% if '19.68:32-33' != 'null' %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">العشية</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeVespers '19.68:32-33' '42.9:51-62' %}
          </div>
        </div>
      </li>
      {% endif %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">باكر</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeMatins '19.68:18-19' '41.16:12-20' '' %}
          </div>
        </div>
      </li>
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <h3 class="flex items-center justify-between">
            <span class="kufi">القداس</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </h3>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeLitugy '54.3:13-16' '60.3:15-22' '44.1:1-14' '19.24:7-8' '42.24:36-53' %}
          </div>
        </div>
      </li>
        </ul>
    </section>
    <section id="article">
      <h3 class="mt-8 mb-4 heading-explain">شرح القراءات</h3>
      {% createArticleAccordions firstName, lastName %}
        <h3>عيد الصعود</h3>
<p>الصعود وكمال التدبير</p>
<p>تتكلم قراءات اليوم عن <strong>الصعود وكمال التدبير</strong> فاليوم هو كمال تدابير إبن الله:</p>
<ul>
<li>لأجل تجديد طبيعة الإنسان</li>
<li>ولأجل استحقاق البشرية لسكنى الروح القدس في يوم الخمسين..</li>
</ul>
<p></p>
<h4>المزامير:</h4>
<p>لذلك تدعو القراءات البشرية في المزامير إلى:</p>
<ul>
<li>تسبيح الله وتمجيده لأنه صعد إلى السماء. (مزمور عشية).</li>
<li>وأعطى الكرامة والمجد للبشر وخلصهم من قبضة ابليس. (مزمور باكر).</li>
<li>وأدخل كل أولاده إلى الأمجاد الأبدية وفتح لهم باب الأقداس السماوية. (مزمور القداس).</li>
<li>&#8220;رتلوا للذي صعد إلى السماء نحو المشرق&#8221;.   (مزمور عشية).</li>
<li>&#8220;صعد إلى العلاء وسبى سبياً وأعطى كرامات للناس&#8221;.  (مزمور باكر).</li>
<li>&#8220;ارفعوا أيها الرؤساء أبوابكم وإرتفعي أيتها الأبواب الدهرية ويدخل ملك المجد&#8221;.  (مزمور القداس).</li>
</ul>
<p></p>
<h4>انجيل عشية</h4>
<p>وفي إنجيل عشية عن ← أ<strong>ن كمال التدبير كان دائماً أمام أعين إبن الله في تجسده وخدمته على الأرض كذلك لم تعطله جهالات البشر </strong>&#8220;ولما تمت أيام صعوده ثبت وجهه للذهاب إلى أورشليم وأرسل رسلاً أمامه فلما مضوا دخلوا قرية للسامريين لكي يعدوا له فلم يقبلوه لأن وجهه كان متجهاً نحو أورشليم&#8221;.</p>
<p></p>
<h4>انجيل باكر</h4>
<p>وفي انجيل باكر عن ← <strong>صعود الرب بالجسد إلى السماء معلناً كمال تدبيره الإلهي لأجل خلاص البشرية. </strong></p>
<p>وأيضاً عن ←<strong> عطايا وثمار صعود ابن الله للكنيسة. </strong></p>
<p>وأيضاً عن ←<strong> مسئولية الكنيسة بعد صعود ابن الله.</strong></p>
<p>&#8220;ومن بعد ما كلمهم الرب يسوع إرتفع إلى السماء وجلس عن يمين الله أما أولئك فخرجوا وكرزوا في كل مكان وكان الرب يعمل معهم ويثبت الكلام بالآيات التي تتبعهم إلى أبد الآباد آمين&#8221;.</p>
<p></p>
<h4>البولس</h4>
<p>وفي البولس عن ← <strong>أن الصعود أعلن عن كمال تدبير ابن الله في تجسده </strong>&#8220;وبالإجماع عظيم هو سر التقوى الله ظهر بالجسد وتبرر بالروح وتراءى للملائكة وبشر به بين الأمم وأومن به في العالم وصعد بالمجد&#8221;.</p>
<p></p>
<h4>الكاثوليكون</h4>
<p>وفي الكاثوليكون عن ← <strong>المعمودية سر العهد الجديد الذي به نلنا قوة قيامة المسيح وصعوده </strong>&#8220;فنحن الآن على ذلك الشبه تخلصنا بالمعمودية ليس لإزالة وسخ الجسد بل سؤال ضمير صالح عن الله بقيامة يسوع المسيح الذي هو جالس عن يمين الله الذي صعد إلى السماء فخضعت له الملائكة والسلاطين والقوات&#8221;.</p>
<p></p>
<h4>الابركسيس</h4>
<p>وفي الابركسيس عن ← <strong>كمال تدبير ابن الله للكنيسة بأعمال تجسده وصعوده وإنتظار فيض الروح القدس على الكنيسة وكرازتها في العالم وشهادتها له في كل الأرض وانتظار مجيئه الثاني </strong>&#8220;الكلام الأول الذي أنشأته يا ثاؤفيلس عن جميع الأمور التي إبتدأ ربنا يسوع المسيح يفعلها ويعملها حتى اليوم الذي قد صعد فيه&#8230; وفيما هو مجتمع معهم أوصاهم أن لا يبرحوا من أورشليم بل ينتظروا موعد الآب الذي سمعتموه مني&#8230; فلما قال هذا إرتفع وهم ينظرون وأخذته سحابة ثم توارى عن عيونهم&#8230; إن يسوع هذا الذي صعد عنكم إلى السماء يأتي هكذا كما رأيتموه صاعداً إلى السماء&#8221;.</p>
<p></p>
<h4>إنجيل القداس</h4>
<p>وفي انجيل القداس عن ← <strong>تدبير الله لخلاص البشر كان حسب الكتب والنبوات والمزامير ولم يكن شيئاً مفاجئاً </strong>لذلك أعلن الرب بعد قيامته للتلاميذ عن كمال تدبيره الإلهي بصعوده بالجسد إلى السماء &#8220;وقال لهم هذا هو الكلام الذي قلته لكم إذ كنت معكم أنه لا بد أن يتم جميع ما هو مكتوب عني في ناموس موسى والأنبياء والمزامير حينئذ فتح قلوبهم ليفهموا الكتب وقال لهم أنه هكذا كتب أن يتألم المسيح ويقوم من الأموات في اليوم الثالث &#8230;. ثم أخرجهم إلى بيت عنيا ورفع يديه وباركهم وفيما هو يباركهم انفرد عنهم وأصعد إلى السماء&#8221;.</p>
<p><strong> </strong></p>
<h3>ملخص الشرح</h3>
<ul>
<li>تمجيد إبن الله الذي صعد إلى السماء معطياً المجد والكرامة للبشر ومحررهم من قبضة ابليس وفاتحاً لهم باب الأقداس السماوية. (مزمور عشية &#8211; مزمور باكر- مزمور القداس).</li>
<li>كمال التدبير الإلهي كان دائماً أمام أعين ابن الله حال تجسده على الآرض. (انجيل عشية).</li>
<li>كمال تدبير ابن الله بصعوده بالجسد إلى السماء سكب عطايا الصعود الإلهي للكنيسة وأعلن عن مسئولية الكنيسة في كرازتها للعالم. (انجيل باكر).</li>
<li>الصعود أعلن عن كمال التدبير الإلهي في التجسد. (البولس)</li>
<li>المعمودية سر العهد الجديد الذي به نلنا كل عطايا التدبير الإلهي في موت المسيح وقيامته وصعوده. (الكاثوليكون).</li>
<li>الكنيسة في العهد الجديد هي مكان إستعلان غنى التدبير الإلهي. (الابركسيس).</li>
<li>تدبير الله لخلاص البشر لم يكن مفاجئاً بل كان حسب النبوات والمزامير. (إنجيل القداس).</li>
</ul>
<p></p>
<h3>عظات آبائية لعيد الصعود المجيد</h3>
<h4>الصعود &#8211; للقديس كيرلس الأسكندري<a href="#_ftn1" name="_ftnref1"><sup>[1]</sup></a></h4>
<p><strong>(لو24: 36) </strong><strong>&#8220;وَفِيمَا هُمْ يَتَكَلَّمُونَ بِهذَا وَقَفَ يَسُوعُ نَفْسُهُ فِي وَسْطِهِمْ، وَقَالَ لَهُمْ: سَلاَمٌ لَكُمْ&#8221;</strong></p>
<p>والآن، نحن نلتزم بترتيب الحوادث، فإننا نقول إن رواية القيامة قد بلغت الرسل من جهات مختلفة، وصارت رغبتهم في رؤية الرب جامحة، وها هو يأتي بحسب رغبتهم ويقف مرئياً في وسطهم ويعلن نفسه إذ قد صاروا يبحثون عنه ويتوقعون حضوره، وها هو الآن يظهر لهم وأعينهم ليست ممسكة عن المعرفة، ولا كمن يتحدث معهم عن شخص آخر، وهو الآن يسمح لهم أن يبصروه بوضوح، ويحييهم بالتحية الملائمة، ولكن مع ذلك فإنهم &#8220;فَجَزِعُوا وَخَافُوا، وَظَنُّوا أَنَّهُمْ نَظَرُوا رُوحًا&#8221; (لو24: 37)، أي ظنوا أنه ليس هو نفسه، بل مجرد شبح وخيال. وللوقت فإنه هدَّأ من روعهم وقلقهم بسبب هذه الأفكار التي خطرت في قلوبهم وخاطبهم بتحيته المعتادة وقال: &#8220;سَلاَمٌ لَكُمْ&#8221;.</p>
<p><strong>(</strong><strong>عدد </strong><strong>۳۸)</strong> &#8220;<strong>فَقَالَ لَهُمْ: مَا بَالُكُمْ مُضْطَرِبِينَ، وَلِمَاذَا تَخْطُرُ أَفْكَارٌ فِي قُلُوبِكُمْ؟&#8221;</strong></p>
<p>لكي يقنعهم الرب بتأكيد لا يدع مجالاً للشك بأنه هو نفسه الذي تألم، فإنه يبين للتو بسبب كونه الله بالطبيعة، فإنه يعرف ما هو مخفي، وأن الأفكار الثائرة داخلهم لا تخفى عن معرفته، لذلك &#8220;<strong>قَالَ لَهُمْ: مَا بَالُكُمْ مُضْطَرِبِينَ</strong>؟&#8221; هذا برهان واضح أن هذا الذي يرونه أمامهم ليس شخصاً آخر، بل هو نفسه الذي رأوه يذوق الموت على الصليب، والذي وضع في القبر، وهو نفسه الذي يفحص القلوب والكلى والذي ليس شيء غير مكشوف لعينيه. هذا الأمر يعطيه لهم كعلامة تدل علي شخصه، أعني معرفته بالأفكار الثائرة داخلهم. ولكي يبرهن لهم بصورة أقوى، وبطريقة أخرى أن الموت قد قهر، وأن الطبيعة البشرية قد خلعت عنها الفساد في شخصه كباكورة، فإنه أراهم يديه ورجليه وثقوب المسامير وسمح لهم بأن يمسكوه، لكي يقنعهم بكل وسيلة أن نفس الجسد الذي تألم هو الذي قام كما قلت لكم. لذلك ليت لا أحد يثير اعتراضات تافهة بخصوص القيامة، وإن كنتم تسمعون الكتاب المقدس يقول عن الجسم الإنساني إنه يزرع جسماً حيوانياً ويقام جسماً روحانياُ (١كو٤٤:١٥) فلا تنكروا عودة الأجسام البشرية إلى عدم الفساد، لأنه كما أن الحيواني هو الذي يكون تابعاً ويخضع للبهيمية أي الشهوات الجسدانية، كذلك أيضاً الروحاني هو تحت سلطان الروح القدس (أي جسماً روحانياً).</p>
<p>لأنه لن يوجد بعد القيامة من الموت فرصة للعواطف الجسدانية لأن مهماز الخطية سيكون بلا قوة تماماً، وهذا الجسد نفسه الذي جبل من الأرض، سوف يلبس عدم فساد. ولكي يتأكد التلاميذ تماماً أن هذا هو نفسه الذي تألم وقبر، وهو الذي قام ثانية وهو واقف الآن أمامهم، فإنه  كما قلت لكم  أراهم يديه ورجليه. وأمرهم أن يكونوا مقتنعين تماماً أنه ليس روحاً كما يظنون، بل هو بالحري قام بجسد حقيقي، فيقول لهم: <strong>&#8220;</strong><strong>فَإِنَّ الرُّوحَ لَيْسَ لَهُ لَحْمٌ وَعِظَامٌ كَمَا تَرَوْنَ لِي&#8221;</strong> (ع٣٩)، لأن الظل والروح والشبح لا يمكن لمسها باليد.</p>
<p>وبعد أن أراهم  كما قلنا  يديه ورجليه، فإنه أقنعهم تماماً أن الجسد الذي تألم قد قام، ولكن من أجل أن يجعل فيهم قدراً وافراً من الإيمان بتأكيد أكثر، فإنه سألهم عن طعام، <strong>&#8220;فَنَاوَلُوهُ جُزْءًا مِنْ سَمَكٍ مَشْوِيٍّ&#8221; </strong>(ع٤٢)، <strong>&#8220;فَأَخَذَ وَأَكَلَ قُدَّامَهُمْ&#8221;</strong> (ع٤٣)، وهذا فعله ليس لأي سبب آخر سوى أن يبين أن من قام من الأموات هو نفسه الذي فيما مضى أكل وشرب معهم طوال فترة خدمته معهم، وهو الذي تكلم معهم كإنسان بحسب الصوت النبوي في القديم (باروخ۳: 37)، وكان قصده من هذا أن يلاحظوا أن الجسم البشري يحتاج فعلاً إلى غذاء من هذا النوع، أما الروح فلا تحتاج لذلك. فالذي يستحق أن يدعى مؤمناً، والذي يقبل بلا تردد شهادة الإنجيليين القديسين (بخصوص القيامة) لن ينصت فيما بعد إلى خرافات الهراطقة، ولن يمكنه أن يحتمل تجارة الخياليين المغرضة والرخيصة (يقصد هنا هؤلاء الذين يُروجون إشاعة أن جسد المسيح خيالي أو شبح أي ليس جسداً حقيقياً). إن قوة المسيح تفوق أسئلة البشر، كما أنها ليست على مستوى الفهم كالأحداث المعتادة. المسيح أكل آنذاك جزءاً من سمك بسبب القيامة، أما النتائج الطبيعية للأكل فلا يمكن أن تحدث في حالة المسيح بالطريقة التي يمكن أن يعترض بها غير المؤمن، الذي لا يعرف سوى أن ما يدخل الفم يلزم بالضرورة أن يمضي إلى الجوف ويندفع إلى المخرج (مت١٧:١٥)، أما المؤمن فلن يفسح مجالاً لمثل هذه الاعتراضات التافهة في عقله، ولكن يترك الأمر إلى قوة الله.</p>
<p><strong>(</strong><strong>عدد ٤٥)</strong> <strong>&#8220;حِينَئِذٍ فَتَحَ ذِهْنَهُمْ لِيَفْهَمُوا الْكُتُبَ&#8221;.</strong></p>
<p>بعد أن هدّأ الرب أفكارهم بما قاله لهم، وبلمسة أيديهم له، وبمشاركته لهم في الأكل، حينئذ فتح ذهنهم ليفهموا أنه كان ينبغي له أن يتألم وأن يُعلَّق على خشبة الصليب. هنا يعيد الرب إلى أذهان التلاميذ ما قاله لهم سابقاً، لأنه سبق أن أخبرهم بخصوص آلامه على الصليب بحسب ما تكلم الأنبياء قبل ذلك بوقت طويل كما أنه فتح أيضاً عيون قلوبهم حتى يفهموا النبوات القديمة.</p>
<p>لقد وعد المخلص تلاميذه بحلول الروح القدس الذي سبق أن أعلن الله عنه في القديم بيوئيل النبي (يؤ٢٨:٢)، والقوة النازلة من الأعالي حتى يصيروا أقوياء لا يقهرون ويكونوا بلا خوف تماماً لكي يُعَلِّمُوا السر الإلهي للناس في كل مكان.</p>
<p>إنه يطلب إليهم الآن بعد القيامة أن يقبلوا الروح القدس: <strong>&#8220;اقْبَلُوا الرُّوحَ الْقُدُسَ&#8221; </strong>(يو20: 22) ويضيف &#8220;أَنْ لاَ يَبْرَحُوا مِنْ أُورُشَلِيمَ، بَلْ يَنْتَظِرُوا «مَوْعِدَ الآبِ الَّذِي سَمِعْتُمُوهُ مِنِّي، لأَنَّ يُوحَنَّا عَمَّدَ بِالْمَاءِ، وَأَمَّا أَنْتُمْ فَسَتَتَعَمَّدُونَ بِالرُّوحِ الْقُدُسِ، لَيْسَ بَعْدَ هذِهِ الأَيَّامِ بِكَثِيرٍ&#8221; (أع1: 4، 5) إنه لا يضيف ماء إلى ماء، ولكنه يكمل ما كان ناقصاً بإضافة ما كان مكملاً له (أي الروح).</p>
<p><strong>(</strong><strong>عدد ٥١)</strong> <strong>&#8220;وَفِيمَا هُوَ يُبَارِكُهُمُ، انْفَرَدَ عَنْهُمْ وَأُصْعِدَ إِلَى السَّمَاءِ&#8221;.</strong></p>
<p>أنه ارتفع إلى السماء حتى يشترك في عرش الآب بالجسد الذي هو متحد به.</p>
<p>هذا الطريق الجديد قد صنعه الكلمة لنا بعد أن ظهر في الطبيعة البشرية. وبعد ذلك، وفي الوقت المناسب، سوف يأتي ثانية في مجد أبيه مع الملائكة، فيأخذنا إليه لنكون دائماً معه.</p>
<p>لذلك دعنا نُمجده، هذا الذي وهو الإله الكلمة صار إنساناً لأجلنا، هذا الذي تألم بإرادته في الجسد وقام من الأموات وأبطل الفساد، هذا الذي ارتفع إلى السماء، وسوف يأتي بمجد عظيم ليدين الأحياء والأموات، وليعطي كل واحد بحسب أعماله، هذا الذي به ومعه لله الآب يليق المجد والقوة مع الروح القدس إلى دهر الدهور. آمین.</p>
<p></p>
<h4>المسيح مثل عصا، ماتت وقامت، ورفعت إلى السموات &#8211; للقديس كيرلس الأسكندري<a href="#_ftn2" name="_ftnref2"><sup>[2]</sup></a></h4>
<p>تشير العصا &#8211; بطريقة رمزية &#8211; إلى عمانوئيل، لأنه هكذا دُعِيَ في الكتاب المقدس. على سبيل المثال، يقول إشعياء النبي &#8220;ويخرج قضيب (عصا) من جذع يسى وينبت غصن من أصوله&#8221; (إش ١١: ١). وداود النبي يقول لله الآب: &#8220;عصاك وعكازك يعزيانني&#8221; (مز٢٣: ٤). لأنه مكتوب: &#8220;الرب يعضد الأبرار&#8221; (مز٣: ٥).</p>
<p>أما نحن الخراف العقلية وغنم مرعاه الذين في كل العالم، يُقدم لنا المسيح ذاته مثل عصا. وليس فقط عصا، بل شجرة البلسم ذات الرائحة الذكية، وشجرة جوز الهند، وأيضاً شجرة نبات الدلب الباسقة المعروفة باستقامة قوامها العالي. إن شجرة البلسم هي رمز للموت «لأن الجسد الميت يُسكب عليه روائح ذكية» والرائحة الاذكى من كل الروائح هي لشجرة البلسم. والمسيح مات لأجلنا وقبر بحسب الكتب (انظر رو٥: ٩). كذلك العصا التي هي من شجرة جوز الهند ترمز إلى السهر واليقظة «لأنه يسبب لنا عدم النوم. والمسيح قام لأجلنا. لأنه لم يُمسَك من أبواب الهاوية، ولا أُسِرَ بقيود الموت». أخيراً، العصا من شجرة الدلب يبدو أنها تصوِّر مسيرة المسيح نحو الأعالي، أي صعود المسيح إلى السموات. لأن هذا النوع من الشجر يتميز بطوله وباستقامته وامتداده لأعلى. أيضاً رُفِعَ الابن بيمين الآب. لأن بطرس قال له &#8220;وإذ ارتفع بيمين الله&#8221; (أع ٢: ٣٣) وبواس يقول إن المسيح &#8220;رُفِعَ وأعطاه إسماً فوق كل إسم&#8221; (في٢: ٩)، ليكون له السجود من الجميع.</p>
<p>لكن إن أراد أحد أن ينظر لهذا النبات من جهة أخرى، إذ هناك من هم فضوليون حول معاني الأسماء، ولأن هذه الشجرة لها أوراق عريضة ومتسعة، فهم يقولون، إنها لأجل هذا دعيت في اللغة اليونانية بمعنى المتسعة. لأننا نحن اتسعنا بالإيمان والمحبة، وصرنا مزدهرين حول المسيح. لان الناموس ضيق، وضيقٌ هو أيضاً عقل عابدي الأوثان، ولا يتسع لأحد. وحقاً يصرخ الله لجميع الأمم بفم النبي: &#8220;تعلموا أن تسمعوا عندما تكونوا متضايقين&#8221; (إش ٢٨: ٢٠). وبولس الرسول يكتب إلى أهل كورنثوس الذين يريدون أن يرجعوا إلى الضلال القديم بعد اتساع الإيمان،  قائلاً: &#8220;فمنا مفتوح إليكم أيها الكورنثيون. قلبنا متسع. لستم متضيقين فينا بل متضيقين في أحشائكم. فجزاء لذلك أقول كما لأولادي كونوا أنتم أيضاً متسعين. لا تكونوا تحت نير مع غير المؤمنين. لأنه أية خلطه للبر والإثم. أية شركه للنور مع الظلمة. وأي إتفاق للمسيح مع بليعال. وأي نصيب للمؤمن مع غير المؤمن&#8221; (٢كو٦: ١١-١٥). يقول المرنم أيضاً لعمانوئيل مشيراً إلى ضيق الناموس: &#8220;أما وصيتك فواسعة جداً&#8221; (مز١١٩: ٩٦)، و&#8221;في طريق وصاياك أجري لأنك ترحب قلبي&#8221;، وأيضًا: &#8220;أتمشى في رحب لأني طلبت وصايتك&#8221; (مز١١٩: ٤٥).</p>
<p>لكن العصا التي من شجر اللوز، كما قلت منذ قليل، تسبب يقظةً لمن يتناول ثمرتها، يتضح هذا مما قاله الله لإرميا النبي: &#8220;ماذا أنت راءٍ يا إرميا. فقلت أنا راءٍ قضيب (عصا) لوز&#8221; (إر١: ١١)، فقال الرب &#8220;أحسنت الرؤي لأني أنا ساهر على كلمتي لأجريها&#8221; (إر١: ١٢). هكذا فإن المسيح قدم لنا ذاته على أنه مثل العصا التي ماتت وقامت ورُفعت إلى السموات، وأنه يوسِّع قلوب الذين يقبلونه بواسطة الروح القدس.</p>
<p>لكن أين وضع يعقوب العُصي؟ وضعها علي أحواض المسقاة، وهي ترمز إلى المسقاه والأحواض التي تسقي  عقولنا، أي الخاصه بنا، وكتابات موسى وتعاليم الأنبياء هي التي تسكب علينا كلمة الله. لأنه مكتوب: &#8220;فتسقون مياهاً بفرحٍ من ينابيع الخلاص&#8221; (إش١٢: ٣). هناك سنجد عمانوئيل، عصا القوة نراه كميت لأجلنا، وهو البكر من الأموات (انظر كو١: ١٨)، ونراه يصعد إلى السموات ممجداً ويكثر هؤلاء الذين يؤمنون، كما قلت سابقاً. لأن كل أقوال الأنبياء ومن بينهم موسى النبي، تقودنا إلى سر المسيح. لذلك قال بولس الرسول: &#8220;لأن غاية الناموس هي المسيح&#8221; (رو١: ٤).</p>
<p>إذن، خطّط يعقوب على العُصي بقعاً بيضاء نازعاً قشرتها. هكذا الحيوانات توّحمت وولدت صغاراً ذات ألوان ناصعة. بالمثل، نزع المسيح ظلال الناموس. وبرقع الكتب النبوية مقدماً هكذا الأقوال التي تحوي كل هذه الأمور ناصعة ومرئية. لقد قدم نشيداً روحيًا ساحراً، وأقنع الإرادة بأن تقبله وتحبل وتلد فضائل متنوعة متدربة بطريقتين: بالعمل والقول. لذلك عبَّر الأنبياء العظام عن هؤلاء الذين تبرّروا بالإيمان، صارخين بقوة قائلين: &#8220;شدِّدوا الركب المرتعشة ثبتوها. قولوا لخائفي القلوب تشدَّدوا لا تخافوا. هوذا إلهكم. الإنتقام يأتي. جزاء الله. هو يأتي ويخلصكم&#8221; (إش ٣٥: ٣). وأيضا &#8220;هوذا السيد الرب بقوة يأتي وذراعه تحكم له. هوذا أجرته معه وعملته قدامه. كراعٍ يرعى قطيعه. بذراعه يجمع الحملان وفي حضنه يحملها ويقود المرضعات&#8221; (إش٤٠: ١٠). بمعنى أن الحنان والرأفة ستكون روحياً لأولئك الذين يحملون الكلمة الإلهية فعلاً، لأنهم سوف يحملون ثماراً ويلدون أينما يكونون، مفاخر حياتهم الإنجيلية، الأمر الذي لم يصر أبداً من قبل. لأن هذه هي ثمار النفوس التقية والتي بلا لوم.</p>
<p></p>
<h4>الصعود &#8211; للقديس يعقوب السروجي<a href="#_ftn3" name="_ftnref3"><sup>[3]</sup></a></h4>
<ul>
<li><strong>بموته نزل إلى هوة الأموات التي ابتلعت آدم، ومثل السباح الشجاع أصعد الجوهرة</strong>.</li>
</ul>
<p>نزل وجس الأعماق، وافتقد المفتونين، وفتش عن المفقودين، واضطجع بين الأموات، وألقى سريره بين المتوفين. صنع هناك خصاماً مع الهلاك، وطالبه بصورة آدم التي فسدت.</p>
<p><strong>نزل إلى أسافل الأرض ليفتش على صورة الخالق العظيمة التي فسدت في الهاوية. خاصم الموت في بلد الموت، وطلب صورته، وأخذ الذي له، وعاد ليرجع من الهلاك</strong>.</p>
<p>هناك غلب الغاشم في موضعه، وفتش خزائنه، وأخرج النهب الذى جمعه في مقصوراته. حل الأسير، وربط السالب بقوة، وعاد ليصعد إلى موضع أبيه مثل القوي. سلك طريقه ليرجع إلى العلو عند أبيه، ولم تقف أمامه أبواب الهاوية عندما خرج. صرخ في هوة الأموات العظيمة، فسقطت أسوارها، وسبى السبي، وأخذه وأتى من الهلاك. صعد من القتل، وتبعه الجبروت، وصنع الخلاص، وعاد قوسه بقوة.</p>
<p>رش القيامة على الأموات وشجعهم، وصعد منتصرًا من العمق إلى علو عظيم. التقى به المستيقظون (السمائيون) في باب القبر عندما خرج، واشتاج وسجد له عبيد أبيه الذين أُرسلوا. قدم التلاميذ أبناء النهار المبددون، وأبهج النور التلميذات اللواتى كن حزينات.</p>
<p><strong>صعد من الأرض شمس البر العظيم، لأنه نزل ليفتقد كل الأعماق، وبعدئذ يرتفع. أظهر نفسه بأنه ذهب وأتى بجبروت، وافتقد خاصته ولم يسلك الطريق برجليه</strong>.</p>
<ul>
<li><strong>جمع بنى سرّه على جبل الزيتون، وجبل الزيتون أيضًا هو سر المسحة. ليصير دهن للمعمودية من الزيتون، ومنه أيضًا يرتفع المسيح إلى بلد أبيه. خزينة الدهن في جبل الزيتون للمسحةً، ومنه أيضًا صعد المسيح عند أبيه. ولهذا جمعهم على ذلك الجبل، ليزودهم بالزيت لرشم كل الأرض</strong>..</li>
</ul>
<p>جمع الكنيسة التي مات لأجلها على جبل الزيتون، لتراه وهو يصعد إلى موضع أبيه. سلك المخلص العظيم طريقه، وكمّل عمله، وخرج ليذهب، ويرسل الغنى للعروس التي جلبها. أخذ الفقيرة والمعوزة والمعذبة، ووضع لها عهداً أنه يرسل لها خزانة أبيه. سبى سبياً وأخذه.. وأعطى المواهب للذليلة المطرودة التي كانت محتاجة. عادت من السبي، وكانت عارية، فصعد وأرسل الروح القدس معطي الثياب لجميع العراة. أتى السبي العظيم الذى خلصه وليس له شيء، فصعد ليجلب الكنوز والثروات ليرسلها إليه.</p>
<p><strong>أتى ومات في موضعنا، وصعد ليحيينا في موضع أبيه، ليُحيي بموته العالم الذى لم يكن حياً</strong>.</p>
<p>جمع التلاميذ والرسل والأحباء وبنى السرّ ليبين لهم نفسه علناً عندما يصعد. رأوا قيامته، وتأكدوا منها، وجلبهم ليروا هناك صعوده.</p>
<p><strong>ليكونوا شهوداً لقيامته وصعوده، ويملأوا الأرض بكرازته</strong>.</p>
<p>سمعوا بآذانهم، ونظروا بعيونهم، وأمسكوا بأيديهم، وعرفوه، ولمسوه، وصاروا شهوداً لكل طريقه.</p>
<ul>
<li><strong>يبارك المسيح البشر، ويَعِدهُم أن يمكث معهم.</strong></li>
</ul>
<p>إذ بسط يديه ليبارك الحاضرين، دخلوا كما في العالم العتيد، يذوقون عربون الحياة الأبدية. فقد جاء ليحول الأرض إلى سماء، والبشر إلى ملائكة مطوَّبين! جاء ليعلن حلوله وسط كنيسته كل الأيام وإلى انقضاء الدهر (مت٢٨: ٢٠).</p>
<ul>
<li><strong>بسط يديه وبرفرفته باركهم، لتتبارك الأرض الملعونة بوضع يده</strong>.</li>
</ul>
<p>دعا الآب وسلمهم له ليحفظهم الآب باسمه من شرور هذا العالم الشرير. <strong>أعطاهم السلام، ليُعطوه للأرض كلها، ويحل سلامه محله بالنسبة إليهم. شجعهم ووعدهم </strong><strong>(قائلاً)</strong><strong>: إننى معكم، لئلا يحزنوا عندما يرتفع من عندهم. إنه معهم وهوذا اسم الآب عندهم، ويرسل الروح حتى لا يتركهم أيتاماً</strong>.</p>
<ul>
<li><strong>إذ كانوا يتفرسون فيه ارتفع عنهم، واستقبله الذين في الأعالى وهم يسجدون له بأكاليلهم</strong>. صعد بالمجد وركب البأس والجبروت، وكانت الأعالى والأعماق مبتهجة به، لأنه طمأنها . طُعن عندما خلص، وتألم عندما أعاد، وصعد عندما انتصر، وألقى قوسه، وهو مخوف ومسبح أكثر من المخلّصين. <strong>سُرت الأرض، لأنه أستأصل أشواكها ثم إرتفع. وابتهجت السماء، لأن رب الأعالي تحرك ليأتي إليها.. افتخرت الجهات بالوسيط الذى أمنها، وصالح العلو والعمق لأنهما كانا غاضبين</strong>.</li>
</ul>
<p>شجبت الضلالة، وسقطت الخطيئة، وانهارت الهاوية، ورُبط الموت، وصار آدم محلولاً، والثعبان مرضوضاً.</p>
<ul>
<li><strong>أتى الملائكة ليفرحوا هناك مع التلاميذ، لأنه خلط الجهة بالجهة بأمان عظيم. لبس الملائكة</strong><strong> &#8220;</strong><strong>ثياباً&#8221;</strong> <strong>بيضاء من فرحهم، لأن الجنس البشرى تصالح معهم، لأنهم كانوا غاضبين.</strong></li>
</ul>
<p><strong>بابن الله اختلطت السماء والأرض ببعضهما بعضاً، وبه اطمأن البشر والملائكة</strong>.</p>
<ul>
<li>إرتفع من جبل الزيتون كما هو مكتوب، إرتفع بنفسه ولم يرفعه أحد عندما صعد.</li>
</ul>
<p><strong>لم تنزل إليه المركبة كما نزلت لإيليا، لأن الرب أصعد إيليا عندما صعد</strong>. صنع له احتفالًا بالمركبة وخيل النار، لأنه لم يكن يستطيع أن يصعد بقوته إلى حيث صعد. إرتفع مخلصنا كما هو مكتوب، ولم تكن تلزمه المركبة عندما إرتفع.</p>
<p><strong>كان أبن الغرباء محتاجاً ليركب لأنه إنسان، ولم يطلب أبن الله مركبة لأنه الله</strong> .</p>
<ul>
<li>لقد جاء من عند الآب لأنه من الآب، وجاء إلى العالم ليظهر للعالم الشكل الجسدى الذى أخذه من العذراء. لقد ترك العالم بانسحابه جسدياً، وانطلق إلى الآب بصعوده كإنسان، لكنه لم يترك العالم بحضوره الفعَّال المدبر له.</li>
<li>ليأتوا إلى الكنيسة ويسمعوا منا أين هو، يسمعوا ذلك من الإنجيل.. إنه رحل (صعد)، وهو حاضر هنا. عاد لكنه لم يتركنا. حُمل جسده إلى السماء لكنه لم يسحب جلاله من العالم.</li>
<li>إن كانوا يصعدون وينزلون إليه فهو موجود فوق وهنا في نفس الوقت. فإنه لا يمكن بأية حال أن يصعدوا وينزلوا إليه ما لم يكن موجوداً هناك حيث يصعدون وهنا حيث ينزلون.. لنرى المسيح فوق وأسفل خلال شاول، فقد جاء صوت الرب نفسه من السماء قائلاً: &#8220;شاول، شاول، لماذا تضطهدني؟ (أع ٩: ٤). ماذا؟.. من أين صرخ؟ من السماء، فهو إذن فوق. ويقول لماذا تضطهدني؟ فهو أيضًا تحت (لأن بولس لم يصعد إلى السماء ليضطهده).</li>
<li>عندما ارتفع وبلغ إلى موضع السحابة، تاقت إليه السحب، وخرجت للقائه واستقباله. لم تنزل السحابة إلى الأرض عندما صعد، بل استقبلته عندما وصل عندها إلى موضعها. ارتفع من الأرض إلى السماء، كما يعرّف كتاب لوقا لمن هم متميزون. عندما بدأ يصل إلى موضع السحابة العالي، <strong>خرجت السحابة واستقبلته وهو يجتاز. احتفلت وخرجت للقاء ربها، ليس لتحمله بل لتستقبله، لأنه أتى ليجتاز بجوارها</strong>.</li>
</ul>
<p>لم تصعد السحابة معه، إلى حيث صعد، لكنها استقبلته في موضعها وتوقفت. <strong>كما ترك الأرض بصعوده عندما ارتفع، هكذا ترك أيضاً السحابة عندما صعد. وكانت الطغمات تستقبله في مواضعها وتخومها عندما كان يرتفع إلى موضعه العالي. كانت تستقبله لا لتحمله حتى يرتفع، لأنه هو الذى يحمل المواضع وطغماتها. ترك السحابة في موضع الغيوم المضطرب، وارتفع في الموضع الصافي</strong>.</p>
<p>في كل المواضع وفى كل الأعالي حيث كان يجتاز، كانت تستقبله الطغمة الموجودة في الموضع. عندما كان يصعد رافقته البروق والسحب والرياح والهبوب والأهوية وظلت في تخومها. كان رؤساء القوات والقوات يستقبلونه في ولاياتهم ويتخلفون عنه خائفين. استقبله هؤلاء الذين هم أعلى من الوسطيين، بينما ظل السفليون طغمة بعد طغمة في موضعها وكانوا ينسحبون.</p>
<p><strong>كانت تستقبله أفواج النار بخوف عظيم، وظلت في مواضعها وهى ترتجف. خرج لإكرامه جميع الأركان العالية، وتركهم وارتفع إلى العلو الأعلى. وصل إلى المركبة، لكنه لم يمكث على المركبة، لأنه ارتفع إلى أعلى منها، إلى الأعالى الواسعة</strong>. هي أيضًا استقبلته في موضعها عندما صعد، وصعدت معه بقدر ما حدد لها أن تصعد. وتخلفت عنه، وصعد هو عند أبيه، حيث لا يوجد مجال ليمشي المستيقظون (السمائيون). ترك السرافيم الذين يقدسونه برفرفاتهم، والكاروبيم الذين يرتلون له بخوف عظيم. والأشخاص والوجوه والأجنحة والعجلات الناطقة، غيمة النار التي كلها ترش اللهيب.</p>
<p>كان الوحيد يتباهى فوق هذه، حيث لا يوجد مجال لترتفع العقول. كان يتباهى في قدس أقداس الأحبار العظيم، حيث لا سلطان لأحد أن يدخل إليه بإستثناء الواحد. في المسكن المخيف الداخلي الموجود فيه الآب، يقدر الابن وحده فقط أن يدخل عند أبيه.</p>
<ul>
<li><strong>يوجد كهنة ورئيس الكهنة واحد فقط، وواحد يدخل إلى قدس الأقداس لا كثيرين. دخل الوحيد وحده عند أبيه، ولا توجد فرصة ليدخل آخر عند الآب. حرك الملك داود عازف القيثارة الإلهي صوته نحو أبواب العلو ليفتحها. ارتفعي أيتها الأبواب الأبدية، أعني ليست مفتوحة إلا له، وليس لأحد</strong> <strong>(القدرة) أن يدخل فيها</strong>.</li>
</ul>
<p>ظل الملائكة قبل أن يصلوا إلى الأعالي وإلى الأبواب، وارتفعت الأبواب ليدخل الملك وحده. إلى الموضع الخفي والمستتر والمخيف الذي لا يوصف، وهو فوق كل الأعالي والمسافات والمواضع. عندما صعد توقفت طغمات طغمات، ومكثت كل واحدة منها في موضعها. وارتفع إلى موضع خفي لا علم للمخلوقات به، وخبره ليس مختلطًا بالكائنات وبالاتقانات.</p>
<ul>
<li><strong>المسكن غير مصنوع، ولا يوجد مثله في المصنوعات، الموضع بعيد عن الملائكة وعن الأفكار</strong>.</li>
</ul>
<p>لا تصعد إليه العقول والأفكار، ولا يفكر حتى المستيقظون ليقولوا أين هو موجود. ظل السفليون في تخوم ولاياتهم، وأيضًا الوسطيون والعلويون والذين هم أعلى منهم. وكما اختفى عن ذلك الفوج الذى كان على جبل الزيتون، كذلك اختفى عن الوسطيين والعلويين.</p>
<p><strong>ودخل وحده إلى قدس الأقداس الداخلي، ولم يدخل معه العقل ولا الفكر</strong>.</p>
<p>توقف العقل ولم يقدر أن يتجاسر ويرتفع أيضًا ليعرف كيف ارتفع الابن. يصعد العقل مثل الملاك ولا يزيد أكثر، وحيث يظل المستيقظون تظل الأفكار.</p>
<ul>
<li><strong>اختفى الابن عن العقول وعن الملائكة، كما اختفى أيضًا عن توما ويوحنا</strong>.</li>
</ul>
<p>نظر إليه سمعان بقدر ما استطاع أن ينظر وهو يصعد، ونظر جبرائيل وميخائيل بقدر استطاعتهما.</p>
<p>ونظر العقل إليه بقدر ما استطاع أن يتجاسر، ومدت الأفكار حركاتها لترى موضعه. ارتفع وصار باطنياً، واستتر عن التلاميذ، وعن الملائكة، وعن العقول. <strong>وعن الأذهان، وعن الأفكار، وعن حركاتها، ولا تقدر أن تنظر إليه بسبب ارتفاعه</strong>.</p>
<ul>
<li><strong>قف يا سمعان، لقد صعد ربك إلى موضعه العالي، ومهما تنظر فلن تراه لكثرة ارتفاعه</strong>.</li>
</ul>
<p><strong>قف يا جبرائيل، لأنه ارتفع أعلى من فوجك، ولست صاحب سلطان، لترتفع وراءه إلى موضعه.</strong></p>
<p><strong>قفى أيتها المركبة، وحركي عجلاتك لتباركي الخفي في موضعه، لأنه ليس مأذوناً لك أن تشاهدي موضعه.</strong></p>
<p><strong>قف يا ميخائيل، يا رئيس القوات العظيم، لأنك لن تصل إلى مرتفعات ربك العالية.</strong></p>
<p><strong>قف أيها العقل الذى تجاسر ويخطو ويقفز ويسقط، لئلا تتجاسر أيضًا </strong><strong>(لتبلغ)</strong><strong> إلى المرتفعات التي لا تُدرك.</strong></p>
<p><strong>دخل رئيس الأحبار إلى قدس الأقداس بدم نفسه ليصالح أباه مع الإنسانية. هو الذبيحة، وهو رئيس الكهنة، وهو السكيب، وهو يُدخِل نفسه لتَطهُر به كل البرية.</strong></p>
<p><strong>ذاك الذى نزل صعد، وذاك الذى تنازل أخضع الأعالي، وهو نزل وتفقدنا، وهو صعد وخلصنا، له التسبيح.</strong></p>
<p></p>
<h4>ميمر (آخر) لصعود ربنا للسماء – للقديس يعقوب السروجي<a href="#_ftn4" name="_ftnref4"><sup>[4]</sup></a></h4>
<p>انت ابن الله وانت الانسان من مريم ولم تدرك من العاليين والتحتانيين. طللت من العلو وأشرقت من العمق، صرت مولوداً ومن يفحصك. نارك خفية ومنظرك ظاهر واستعلانك مرتفع. من يجسر أن يقلب جمر النار. من يستطيع أن يقلب البحر إلى يابس ليمشى فيه. من يستطيع أن يصر المياه في منديل ويحبس حدود ضوء الشمس في حضنه . خرج شمس البر على كل الأقطار وطرد منها كل ظلالات الباطل. مشى وأتى في الطريق التي تمرمرت بالحية وسكب وملأها عسلاً حلواً بخطواته. مد يده في شق الحية المفسودة وأخرج آدم الذي انعض وابتلي هناك.</p>
<p>تجسد ليقبل الآلام وأخذ إثم العالم بآلام صلبوته. عتق العبيد المستعبدين وأصعدهم ليكونوا أولاداً لأبيه. شفى المرضى وصحح الأوجاع وطهر البرص وفتح العميان. بسط المنحنيين. أنطق الخرس. دعا الخطاة وبرر العشارين. أحيا الأموات وغمر الأرض بتحننه ووضع السلام بين الأرضيين والسمائيين.</p>
<p>فتح بصليبه باب الفردوس وأدخل المحسودين المطرودين. حل المربوطين والمسيين برباط العصمة. وعاد ليصعد لمكان أبيه، بعد أن أتى من القيامة أقام أربعين يوماً في العالم وبعد ذلك ارتفع إلى حضن أبيه. في أربعين يوماً كمل جميع كرازته. أقام اربعين يوماً في الأرض لكى بعروق الإيمان يشدد البشري. وأكل وشرب ليس لأنه محتاج للأكل بل ليحقق قيامته بغير شك. لئلا ينظروا فيه كمثل بالشكل أو الظل، في موضع واحد قال جسونى لأنى لست روحاً وبعد حين أراهم موضع المسامير. وأيضاً أعطوه وأكل سمكاً وشهداً ولما كملت أعضاء البشارة في جميع حواسها وضع وجهه ليرتفع السمواته العالية.</p>
<p>وجمع بنى سره لجبل الزيتون لأن من الزيتون يكون زيت المسحة. ومنه تعالى المسيح لبلد أبيه. من أجل هذا جمعهم إلى ذلك الجبل ليزودهم بالزيت لرشم كل الأرض. وصعد ليرسل روح القدس معطى الحياة لكل العراة. أتى ليموت في بلدنا وصعد ليحيينا في بلد أبيه. لكى بموته يحيي العالم الغير الحي. جمع التلاميذ الرسل المحبوبين لينظروا صعوده هناك كما تحققوا قيامته عندما نظروه، ليملأوا الأرض بكرازته.</p>
<p>بسط يديه وباركهم لكى بوضع يده تتبارك الأرض الملعونة. وعاد للاب واستودعهم ليحفظهم الآب باسمه من شرور هذا العالم. أعطاهم السلام ليعطوا هم لجميع الأرض. كملهم بسلامه وموضعه وشجعهم بميعاده &#8220;إنى معكم&#8221;. لئلا يحزنوا عندما يتعالى من عندهم. أنا معكم واسم الآب عندكم وروح القدس أرسله لكم. لم يتركهم يتامى، سلامه معهم وجعل اسم الآب حارساً لهم والبارقليط يعمل الغنى للتلمذة.</p>
<p>أيها الآب احفظهم باسمك لأن اسمك عظيم، واسم الآب التصق بالرسل بكلمة الإبن لأن الابن قال إنى معكم ولا يكذب وصار معهم كما وعد علانية. أتى روح القدس وأتى الغنى وها هو معهم الآب والابن والروح القدس كما نطق. الآب يحفظ والابن يطهر والروح القدس يهب الغنى. الثالوث الذي به قام العالم الغير فاسد علمهم وأوصاهم وأرسلهم كما أرسل الشمس باشراقها للأرض كلها. أخرجوا امضوا تلمذوا وعلموا الشعوب وعمدوهم باسم الآب والإبن والروح القدس. الرشم العظيم الثالوث الغير المنقسم أعطاه لرسله، لکی به يرشموا شعوب الأرض. أعطى الثالوث والمسحة من جبل الزيتون لتكون المرشم وخلاص العالم. استودعهم وباركهم وشجعهم وزودهم وارسلهم ليبشروا. استقبله العاليون وسجدوا له بأكاليلهم. صعد بالمجد وركب العصمة والجبروت.</p>
<p>فرحت الأرض لأنه قلع شوكها وبعد ذلك صعد وابتهجت السموات لأن رب العالمين صعد إليها. ملك النور وانتهى الظلام. لم تنزل خلفه مركبة كمثل إيليا لأن إبليا لما صعد أصعده الرب وجعل له تبجيلاً بالمركبة وخيول النار. ولما ناحت صفوف الرسولية لأنه تركها وتعالى. ضج الملائكة وبشروا أنه يأتي. عبيد الملك شجعوا عروس الملك كي لا تحزن لأن العريس يأتى وتنظره. أعطاك روحه وها هو ههنا معك في بلدك. صرت منه وصار منك ولم يتركك. تقدم الملائكة إلى التلاميذ وشجعوهم أن سيدكم يأتي لا تحزنوا لارتفاعه. كما نظرتموه ماضياً تنظرونه أيضاً يأتي. وبمجيئه الثاني يشرق بجبروته.</p>
<p>بابن الله إختلط السماء والأرض بعضها ببعض و به اصطلح الملائكة والبشر. ظهر بالجسد وصعد بالمجد ولما صعد نظره الناس والملائكة. دخل عظيم الأحبار لقدس الأقداس الذي ليس ثمة سلطان لأحد أن يدخله إلا واحداً. للمسكن المخوف الجواني الذي فيه الآب. الابن فقط يستطيع أن يدخل إلى والده كمثل العبرانيين الذين اجتمعوا حول جبل سينا ولم يصعد لرأس الجبل إلا موسى. الموضع الذي صعد إليه موسى العظيم لم يصعد إليه لا هرون ولا فنحاس ولا اليعازر والموضع الذي تعالى الابن إلى أبيه لم يتعال لا الكاوربيم ولا السارافيم. الوحيد دخل وحده إلى والده. داود الملك الكينار الإلهي حرك صوته ليفتح الأبواب العالية كما قال إرتفعى ايتها الأبواب الدهرية. وارتفعت الأبواب ليدخل الملك هو وحده للمكان الخفى المستور المخوف الغير المنطوق. عظيم الأحبار دخل لقدس الأقداس بدم نفسه ليرضى أباه مع البشر. هو الذييح وعظيم الكهنة وهو له أدخل لتتطهر به الخليقة كلها. هو نزل افتقدنا وهو صعد وخلصنا له المجد الدائم إلى الأبد وعلينا رحمته آمين.</p>
<p></p>
<h4>ميمر الصعود المجيد &#8211; للأب المكرم القس بولس البوشي<a href="#_ftn5" name="_ftnref5"><sup>[5]</sup></a></h4>
<p>صلاته وبركاته تشملنا إلي النفس الأخير آمين</p>
<p>يا من صعد إلى السماء جسدانياً وهو يملأ الكل بلاهوته، أيها المسيح إلهنا، اصعد هممنا من تنازل الأرضيات إلى اشتياق السمائيات.</p>
<p>يا من شرف جنس البشر بارتفاع الجسد المأخوذ منهم إلى حيث مجد لاهوته الأزلي، أيها السيد، ارفع عقولنا من رذائل هذا العالم إلى ارتقاء ذلك الدهر المستأنف .</p>
<p>يا من عظّم الإنسان الترابي وجعله أهلا أن يصير سمائياً، اقبلنا إليك أيها الرب الإله الذي يعلو الكل وهو فوق كل رئاسة وسلطان، وهب لي أنا أيها القدوس قولاً لأتكلم على كرامة صعودك إلى الذي لم تزل فيه أزلياً.</p>
<p>يا من وهب للأرضيين أن يبلغوا رتبة السمائيين أعطني نطقاً، يا عمانوئيل إلهنا، الذي أعطى قوة للجسدانيين أن يصيروا روحانيين لأنطق على جلال ارتفاعك العجيب بالجسد إلى السموات التي أنت فيها باللاهوت لم تزل .</p>
<p>امنحني معرفة يا من وهب فضلاً وخلاصاً وارتفاعاً لجنسنا الذي كان ساقطاً في هاوية الهلاك وصيره فوق في ملكوت السماء الباقية، لأخبر بحسن بهائك وأنت صاعد إلى علو سمائك، وأرسل مع داود المرنم وأقول &#8220;صعد الله بتهليل الرب. بصوت القرن رتلوا لإلهنا رتلوا لملكنا رتلوا، لأن الرب هو ملك الأرض كلها، رتلوا بفهم بأن الرب هو ملك على كل الشعوب، جلس الله على كرسي مجده&#8221; (مزمور ٤٦) .</p>
<p>أعلن معه أيضاً بدخولك في أبواب المجد الدهرية وأقول &#8220;أرفعوا أيها الرؤساء أبوابكم، إرتفعي أيتها الأبواب الدهرية ليدخل ملك المجد، من هو ملك المجد؟ رب القوات هذا هو ملك المجد&#8221; (مزمور ٢٣).</p>
<p>وأخبر معه أيضاً بالسبي الذي اقتلعه من يد الشيطان بصعود الجسد الذي اتحدت به وافضت مواهبك على البشر وأقول &#8220;صعد إلى العلا وسبى سبياً وأعطى الناس عطايا&#8221; (أف٤: ٨). ونسجد لك ونسبح جميعاً معه قائلين يا جميع ملوك الأرض سبحوا الله. رتلوا للرب الذي صعد إلى سماء السماء في المشارق، ونرسل لك أيضاً معه تسبيحاً جديداً لأن الأشياء العتيقة قد زالت، وكل شيء قد تجدد بك أيها المسيح الرب الذي جدد الخليقة بقيامته وأعلى رتبتها بصعوده ونقول جميعاً قائلين بإتفاق واحد &#8220;سبحوا الرب تسبيحاً جديداً، سبحوا الرب يا جميع الأرض باركوا اسمه، بشروا يوماً فيوماً بخلاصه، حدّثوا في الأمم أن الرب قد ملك&#8221; (مز ٩٦: ١، ٢). أعني غلب الشيطان، وأن الجسد قد ظفر بالمُلك الأبدي كما قال لرسله بعد قيامته، أُعطيت كل سلطان في السماء وعلي الأرض وإن كان السلطان له لم يزل، إنما أعني الجسد الذي أعطي كرامة وسلطاناً باتحاده باللاهوت وإقامته من بين الأموات، وهكذا نفهم نوع الصعود والجلسة والمُلك كقول داود &#8220;الرب قد ملك فلتبتهج الأرض سحاب وضباب حوله، بالعدل والحق اتقن كرسيه&#8221; (مز٩٧: ١) هذا هو الملك الذي عناه جبرائيل الملاك للسيدة مريم البتول قائلاً: &#8220;ويملك على بيت يعقوب إلي الأبد ولا يكون لمُلكه انقضاء&#8221; وداود أيضاً يقول &#8220;قال الرب لربي إجلس عن يميني حتي أضع أعداءك تحت موطيء قدميك عصا قوة يرسل لك من صهيون وتملك في وسط أعدائك إلى الأبد&#8221; (مز١١٠: ١) وهذا الموضع فسره الرب في الانجيل وهكذا اسمه القدوس قد ملك في وسط أعدائه .</p>
<p>وليس إلي وقت ينقضي بل إلى الأبد بلا انقضاء، وعنى بأعدائه الشياطين المردة واليهود الكفرة والذين لم يذعنوا للايمان باسمه كما قال &#8220;فاعدائي الذين لم يشاءوا أن أملك عليهم فآتوني بهم واذبحوهم قدامي&#8221; (لو ١٩: ٢٧) أعني انتقاماً منهم في استعلانه الثاني، وبحق أيها الأخوة الأحباء إن كرامة هذا العيد الشريف أعني عيد صعود ربنا يسوع المسيح إلى السماء جليلة جداً لأن فيه كمال التدبير بالتجسد العجيب.</p>
<p>اليوم صعد الرب إلي السموات بالجسد وهو فيها باللاهوت لم يزل، وإنما ذكر نزوله أي أنه تجسد وذكر صعوده أي أنه صعد بالجسد الذي اتحد به إلى فوق كل رئاسة وسلطان .</p>
<p>اليوم صعد الرب إلى سماء السموات وخضعت له الملائكة والرؤساء والقوات .</p>
<p>اليوم صار الذي كان تحت الكل ساقطاً في التراب والبلاء على الأرض، فوق الكل في سما السموات، ولما نظر البشر إلى الجسد الذي كان ساقطاً في الهاوية أنه قد علا إلى سماء السموات فوق كل ما يرى وما لا يرى علموا أن الهلاك قد مضى، والغضب قد ذهب وانقضى، ومجد حرية البنوة قد استنار بربنا يسوع المسيح لأنه كيف تستطيع الأرض الصعود إلى السماء لو لم يتحد بها رب السماء بالتجسد العجيب &#8220;وصعد إلى حيث مجده غير المدرك، وكيف يقدر الجسدانيون أن يصيروا روحانيين لو لم يتجسد منهم رب الأرواح وإله كل جسد ويصلح كل شيء كما يليق به، كيف يقدر المسجونون تحت حكم الموت والفناء أن يبلغوا رتبة الذين لم يوجب عليهم حكم الموت أعني الملائكة لو لم تخالط طبيعتهم ذاك البار غالب الموت ويصعدها فوق الكل. فكل شيء خضع تحت قدميه.</p>
<p>لم تصر لنا النعمة بمقدار الزلة، بل عظمت نعمة ربنا يسوع المسيح وفاقت كل زلة وهفوة وبلغت في العلو حتي نفذت إلى سماء السموات فوق كل الملائكة والرؤساء والقوات.</p>
<p>اليشع النبي يعلمنا سر صعوده وذلك أنه مكتوب في أسفار الملوك إن بني الأنبياء أتوا إلى اليشع النبي وسكنوا عنده فقال لهم يا إخوة ليس في المكان سعة لنا جميعاً فاقطعوا لكم خشباً من على شاطيء نهر الأردن واصنعوا لكم محلاً تأوون إليه. ولم يكن عندهم سوى فأس واحدة فأخذوها ومضوا يقطعون بها فانقلعت العصاة من الفأس وسقط الحديد في نهر الأردن وكان الموضع مهبط مياه قوي التيار جداً. فأتوا وأعلموا اليشع النبي بذلك فأخذ عصاة جديدة غير تلك الأولى وأتى إلى الموضع الذي سقطت فيه الفأس وألقي العود الجديد في النهر فطفا الحديد فمد النبي يده وأخذ الفأس، وكان هذا مثالاً بروح النبوة على البشرية التي سقطت في بحر العالم ورسبت مثل حديد ثقيل ولم تقدر أن تصعد فتحنن الرب السماوي وأتحد بجسد طاهر لم يعتق بالخطية بل أخذه من البتول مريم بغير زرع بشر ثم أصعده بغير مانع كما يليق به وأعطي لجنسنا القوة على الصعود إلى حيث مجده كما يقول الرسول &#8220;نتمسك بالرجاء الموضوع أمامنا الذي هو لنا كمرساة للنفس مؤتمنة وثابتة تدخل إلي ما داخل الحجاب حيث دخل يسوع كسابق لأجلنا صائراً علي رتبة ملكي صادق رئيس كهنة إلى الأبد&#8221; (عب ٦: ١٨) وقال أيضاً فلنقترب الآن إلى كرسي نعمته لنظفر بالرحمة ونستفيد النعمة ليكون لنا ذلك عوناً في زمان الضيق.</p>
<p>يعقوب اسرائيل سبق فابصر كيفية صعود الرب حيث أبصر سلماً مرتفعاً من الأرض إلى السماء وملائكة الله نازلين وصاعدين عليه والرب فوق أعلى السلم .</p>
<p>يدل هذا على تدبير الرب الذي أكمله بالتجسد البشري وارتقى من واحدة إلى أخرى كنوع السلم حين التجسد إلى حين الصعود والملائكة خادمون له في ذلك بأسره من حين البشارة إلى حين القيامة والصعود.</p>
<p>هلم في وسطنا اليوم أيها الإنجيلي القديس لوقا لنأخذ منك سياق القول على صعود الرب وكيف كتبت الانجيل بتأييد الروح من ابتداء التجسد وأكملته بالصعود ثم ابتدأت أيضاً بالصعود في كتاب الإبركسيس وجعلته فاتحة القول ثم ذكرت كيف كان كمال الانجيل وجمعت الإثنين في حال الصعود وقلت &#8220;الكلام الأول أنشأته يا ثاؤفيلا&#8221; أعني الإنجيل المقدس، قال &#8220;عن جميع ما أبتدأ يسوع يفعله ويعلِّم به&#8221; (لو١: ١) أعني سياسة تدبير الرب وأنه عمل أولاً وعلمنا أن نتبع أثره، ولكيما يظهر بهذا أن كل ما عمله إنما كان لأجل تأديبنا وتعليمنا وليس حاجة به إلى ذلك.</p>
<p>أعطانا بهذا مثالاً أن نعمل ونعلِّم قال &#8220;حتى اليوم الذي صعد فيه&#8221; أي أن الصعود الكريم هو كمال بشرى الإنجيل وفيه انتهى القول في نوع تدبير الله قال &#8220;بعدما أوصى رسله الذين أصطفاهم بروح قدسه&#8221; أعني الوصية التي ذكرها في الإنجيل، قال &#8220;أولئك الذين أراهم نفسه أنه حي&#8221; أعني القيامة المقدسة التي هي عربون قيامتنا، قال &#8220;بعد ما تألم بآيات كثيرة&#8221; أعني بالآيات شهادات الأنبياء التي تقدمت لأجله تظهر كيفية علامات آلامه المحيية مع الآيات التي كانت وقت الصلبوت علانية من تغير وجه السماء والأرض واضطراب العناصر، قال: &#8220;في أربعين يوما كان يتراءى لهم ويتكلم عن الأمور المختصة بملكوت الله&#8221; أعني أنه مكث أربعين يوماً بعد القيامة المقدسة يظهر لهم حيناً بعد حين، فحيناً يظهر لهم ليفرح قلوبهم بمشاهدته، وحيناً يختفي بقوة لاهوته عنهم لكي يشتاقوا إليه ويحفظوا ما أوصاهم به ويتذاكروه فيما بينهم، وقوله: يتكلم على ملكوت الله، أعني كل تعاليمه لأجل ملكوت السموات التي هو صاعد إليها بالجسد وهو اللاهوت حال فيها، قال &#8220;وفيما هو مجتمع معهم أوصاهم أن لا يبرحوا أورشليم&#8221; وهذه الوصية قد تقدم ذكرها في الإنجيل وهي وصيته لهم أن لا يبرحوا أورشليم حتي يتذرعوا القوة من العلاء، وههنا أيضاً بناء على ذلك قال &#8220;بل ينتظرون موعد الآب&#8221;.</p>
<p>قد تقدم ووعدهم بأن يرسل إليهم موهبة الروح، وهو والآب واحد في العقل والقوة، ولهذا قال &#8220;موعد الآب&#8221; لكي يثبت لهم وحدانية اللاهوت بغير تجزيء ولا افتراق قال &#8220;ذلك الذي سمعتموه مني&#8221; أعني أن منه سمعوا ذلك وهو والآب واحد كما قال لليهود وأيضاً قال لفيلبس من رآني فقد رأي الآب، قال &#8220;يوحنا عمد بالماء وأنتم تعمدون بالروح القدس&#8221; ذكر ههنا شرف المعمودية التي هم مزمعون أن يقبلوها بحلول الروح القدس عليهم عندما تعطيهم موهبة الكمال، وأن يوحنا شرف بالعماد لكن بالماء وأنتم تعمدون بعماد الروح ثم تكونون أئمة لكل المسكونة في الميلاد من فوق. قال &#8220;ليس بعد أيام كثيرة&#8221; أعني كمال الخمسين فلما سألوه عن مُلك بني اسرائيل الجسداني نزع هذا التشاغل العالمي من عقولهم ثم عرفهم أن الروح إذا أقبل عليهم يملأهم معرفة ويعلمون كل شيء، وليس هذا فقط بل ويقبلون قوة فاضلة حتي يكونوا له شهوداً ليس في مكان واحد، بل قال في أورشليم واليهودية والسامرة وإلي أقصي الأرض.</p>
<p>فلما أكمل لهم هذه الأشياء بأسرها وثبتهم على انتظار الموعد الذي يهبط عليهم من السماء ويكون لهم مرشداً ومعزياً ومعلماً، حينئذ باركهم الرب الإله معدن كل البركات، وصعد إلي السماء أمام أعينهم وهم ينظرون إليه ثم قبلته سحابة ليتم المكتوب &#8220;استوى على السحاب ومشى على أجنحة الرياح&#8221; (مز١٠٤: ٣) أعني أن الجو غير المحسوس والرياح غير المضبوطة صعد فيها بقوة لاهوته من غير مانع وكأن لها أجنحة خادمة لباريها وأيضاً مكتوب &#8220;سحاب وضباب حوله. بالعدل والحق اتقن كرسيه&#8221; (مز٩٧: ٢)، ومكتوب &#8220;ركب على الكاروبيم وطار، طار على أجنحة الرياح&#8221; (مز١٨: ١٠). ذكر أولاً ركوبه على الكاروبيم ثم ذكر طيرانه على أجنحة الرياح ليعلن قوة لاهوته وأنه غير محتاج إلى شيء من البرايا بل هو أصعد الجسد المتحد به بقوة إلي أعلى المراتب الروحانية فوق كل القوات العقلية، ولما شاهدوا خضعوا جميعاً -الملائكة والرؤساء والقوات- أعني كافة الروحانيين الذين فوق السموات، أما الرسل فبقوا قياماً متفرسين نحوه وهو صاعد وهم متعجبون.</p>
<p>وفيما هو كذلك إذ وقف بهم رجلان بلباس أبيض لامع أعني أن ملاكين ظهرا لهم بشبه البشر لكي يقدروا على مخاطبتهم ولكي يعلمونا أن السمائيين قد صاروا واحداً مع الأرضيين بالرب الذي أصعد الجسد المتحد به إلى السماء لأن لوقا جرت عادته في ذكر الملائكة، أنها تظهر بشبه الناس كما ذكر في الإنجيل عن الملاكين اللذين بشروا النسوة بهذا المثال بعينه، فقالا &#8220;أيها الرجال الجليليون&#8221; يعني أن الرسل من الجليل، قالا &#8220;لماذا أنتم قيام متفرسون في السماء&#8221; أعني أن صعود الرب إلى السماء ليس أمراً غريباً، ثم قالا &#8220;إن يسوع الذي صعد عنكم إلى السماء، هكذا يأتي كما رأيتموه صاعداً إلى السماء&#8221; عنيا بيسوع المخلص لأنه سمي بهذا الاسم لأجل التجسد فأعلنا لهم كرامة صعوده ثم أثبتا مجيئه في استعلانه الثاني من السماء التي صعد إليها لأنهم مزمعون أن يأتوا معه كما قال الرب &#8220;إنه يأتي في مجده مع ملائكته القديسين ثم أن الرسل الأطهار رجعوا إلى أورشليم مسرورين بما شاهدوا من المجد والكرامة لأجل الموعد الإلهي &#8211; فلما دخلوا إلى العلية المقدسة التي كانوا مجتمعين فيها أولًا مع الرب، وفيها دخل عليهم والأبواب مغلقة، كمثل عبيد يتذكرون المكان الذي كانوا فيه مع سيدهم منتظرين رجاء الموعد وهم فرحون .</p>
<p>وقد كانت سيدتنا مريم أيضاً مع نسوة تقيات مواظبات مع الرسل على الصلاة والطلبة بنفس واحدة منتظرين جميعاً موعد الروح القدس، وهم مشتاقون لما سمعوه من الرب أن به الغاية في معرفة الكمال، وهو المرشد إلى الحق، فإن به يعطون قوة نشر البشرى في أقطار الأرض كلها .</p>
<p>نعظم الآن يا أحبائي صعود الرب يسوع المسيح ونعيِّد له بكل الوقار والإكرام، لأن به شرف ورفع طبيعتنا الأرضية الهالكة وجعلها فاضلة سمائية كما يقول الرسول &#8220;إن الله الغني برحمته من أجل كثرة محبته لما كنا أمواتاً بخطايانا أحيانا بنعمته وأحبنا وأقامنا وأجلسنا مع يسوع المسيح&#8221; (أف٢: ٤) .</p>
<p>نسجد ونمجد الذي خضعت له الملائكة والرؤساء والقوات، نخرج مع رسله عقلياً خارجاً عن المدينة -الذي هو الخروج عن سيرة العالم الحسي &#8211; ثم نصعد إلي الجبل &#8211; الذي هو ارتقاء العقل عن الرذيلة &#8211; إلى علو الفضيلة ليباركنا مع خواصه الأطهار الأفاضل ونسجد له معهم، ثم نرتل مع النبي المرنم داود قائلين &#8220;عظموا الرب إلهنا واسجدوا في جبله المقدس فإن الرب إلهنا قدوس&#8221; (مز٩٩: ٩). وأيضاً نقول ندخل إلى مظلته ونسجد في موضع قدسه ثم نصعد إلى العلية ونمكث ناظرين نحوه وله مترجين لكي يمنحنا موهبة روح قدسه، حتى يرشدنا إلى البر والحق إذ أن الرسول يعلمنا بمثل ذلك قائلاً &#8220;إن كنتم قد متم مع المسيح فاطلبوا ما فوق حيث المسيح جالس عن يمين الله واهتموا بما فوق لا بما على الأرض&#8221; فإذا سمعت بالجلوس عن يمين الله فلا تظن أنه يمين محسوس لأن داود يقول &#8221; يمين الرب رفعتني يمين الرب صنعت قوة&#8221; فلا تفتكر في شيء محسوس ولا يمين ضد اليسار، بل يعني باليمين القوة والرفعة وأن الجسد الذي كان أسفل الكل صيره فوق جالساً يعلو الكل، وبولس يفسر هذا قائلاً &#8220;إنه أجلسه عن يمينه فوق في السموات فوق الرؤساء والملائكة والمسلطين وفوق كل اسم يسمى وكل شيء أخضع تحت قدميه&#8221; أعني باليمين الرفعة والقوة والشرف الذي أعطي للجسد المتحد به لأنه باللاهوت هناك لم يزل .</p>
<p>فلنرفض عنا الآن دنس العالم ولنطلب الشرف الذي صار لنا لئلا نكون نحن السبب في هلاك نفوسنا وحدنا.</p>
<p>نحفظ أجسادنا نقية وأرواحنا طاهرة مضيئة لأجل الذي اتحد بحبه بالبشرية ورفعها إلى السماء العلوية.</p>
<p>فصنع صلحاً وسلاماً مع بعضنا لأجل الذي صعد إلى السموات وصير الأرضيين واحداً مع السمائيين .</p>
<p>نرحم أهل الفاقة من أجل الذي رحمنا وأعطانا كل شيء بسعة غناه لحاجتنا .</p>
<p>نسلك أمامه في سبيل مستقيم لكي يجعلنا مستحقين الإرتقاء إلى السبل العلوية السمائية، التي تقدمنا فيها رئيس الحياة الأبدية مخلص كل البرية، نحب النقاوة والطهارة ونجاهد على حفظها لكي يشرق فينا نور نعمته في علية نفوسنا ويملأنا من موهبة روح قدسه .</p>
<p>ننطق بمجده ونتكلم بعجائبه ونخبر بقوة خلاصه وعظم ذراعه ونتلو ما صنع من أجلنا لكي نستحق الشركة مع رسله الأطهار الذين كرزوا باسمه بين الملوك والسلاطين وكافة الشعوب باجتهاد ومحبة كل أيام حياتهم. إذ أن الرسول يفتخر بذلك ويتلو في هذه الألفاظ قائلاً: &#8220;عظيم هو سر التقوى، الله ظهر في الجسد وتبرر بالروح وتراءى للملائكة وبشروا به في كل الأمم وآمن به العالم وصعد في المجد&#8221; (١تي٣: ١٦).</p>
<p>ونحن نسأل ربنا يسوع المسيح الذي صعد إلى السموات، أن يصعدنا بقوته من بحر هذا العالم المهلك، ويثبت في السبيل المستقيم أقدامنا، ويغفر ما تقدم من قبيح أعمالنا، ويساعدنا على العمل برضاه وحفظ وصاياه، ويرحم كافة بني المعمودية الذين رقدوا على رجاء الإيمان باسمه القدوس بشفاعة سيدتنا الطوباوية البتول القديسة مريم والدة الخلاص، وكافة الرسل الأطهار والشهداء والقديسين الأبرار آمين.</p>
<p></p>
<h4>الصعود &#8211; للقديس أغسطينوس<a href="#_ftn6" name="_ftnref6"><sup>[6]</sup></a></h4>
<p>ربنا يسوع المسيح صعد الي السماء بعد اربعين يوما من قيامته ولاجل ذلك اوصانا بجسده حيث يقيم هو، لانه سبق فرأى أن كثيرين سيكرمون لأنه صعد الي السماء ورأى ان تكريمهم له سيكون بلا فائدة اذا وطئوا بقسوة واستعلاء أعضاء جسده هنا علي الأرض.</p>
<p>وخشية أن يضل أحد، وبينما هو يعبد الرأس في السماء يدوس بقسوة القدمين على الأرض أوضح لنا اين أتوجد اعضاء جسده بينما هو مزمع الصعود الي السماء، تكلم آخر كلمات له على الأرض ولم يقل بعدها أية كلمات أخرى لقد أوصانا الرأس قبل صعوده الي السماء، أوصانا بأعضاء جسده التي علي الأرض ثم فارقنا ومنذ ذلك الحين لا نرى مسيحاً يتحدث على الأرض ولكنه يتحدث من السماء ولكن لماذا؟.</p>
<p>لأن أعضاء جسده هنا على الأرض كانوا يداسون بالأقدام، لقد تحدث مع شاول الذي كان يضطهد الكنيسة تحدث اليه من الأعالي قائلاً &#8220;شاول شاول لماذا تضطهدني&#8221;.</p>
<p>انا صعدت الي السماء ولكني ما زلت اقيم على الأرض، هنا اجلس عن يمين الآب ولكن هناك أنا جوعان وعطشان وغريب.</p>
<p>بأي طريقة إذاً قد اوصانا بجسده إبان صعوده الي السماء؟..</p>
<p>حين سأله التلاميذ قائلين &#8220;يا رب هل في هذا الوقت ترد الملك الى بني اسرائيل&#8221; (اع١: ٦- ٨). أجابهم في لحظة انطلاقه &#8220;ليس لكم أن تعرفوا الأزمنة والأوقات التي جعلها الآب في سلطانه لكنكم ستنالون قوة متى حل الروح القدس عليكم وتكونون لي شهوداً في اورشليم واليهودية والسامرة والى اقصى الأرض&#8221;. نعم، أين يمكن أن أقيم حين أصعد؟!..</p>
<p>انني صاعد لأنني الرأس ولكن جسدي مازال يقيم أسفل. أين يقيم؟ في كل الأرض. احذروا، لا تضربوا أحداً، لا تتسببوا في ايلام أحد، احذروا أن تهينوا أحداً، هذه آخر كلمات للمسيح وهو صاعد الي السماء. تخيلوا انساناً مريضاً يتألم في فراشه وجسده يبلي من المرض وهو على أبواب الموت، روحه مزمعة أن تنطلق ولكنه قلق جداً علي شيء عزيز عليه يحبه حباً جماً، لقد تذكره فجمع ورثته وتوسل اليهم وأوصاهم أن يتمموا هذا الشيء. انه بجهد رهيب ينطق بالكلمات قبل أن تنطلق روحه وحين أملى كلماته الأخيرة أسلم روحه. وصار جثة موضوعة في القبر، ان ورثته يتذكرون كلماته الأخيرة جيداً.</p>
<p>تصوروا لو أن انسانا طلب منهم ألا يفعلوا هذا الشيء ماذا يمكن أن يقولوا له؟ هل لا نفعل ما نطق به أبونا وهو يسلم روحه وقد أوصانا به مع أخر نسمة في حياته؟!</p>
<p>إن كلماته ترن في أذننا بينما هو يفارق الحياة، مهما أهملنا من كلمات أخرى له ولكن كلماته الأخيرة لها علينا سلطان أقوى، أننا لا نعود نراه بعد الآن أو نسمع كلاماً من فمه.</p>
<p>يا أخوتي فكروا بقلوب مسيحية حقاً فإن كان بالنسبة لورثة انسان تحدث بكلمات قبل دخوله القبر تكون كلماته لهم عظيمة وحلوة وذات قيمة فكم وكم يجب أن نتنبه لكلمات المسيح التي قالها وهو ليس عائداً الي القبر وانما صاعداً الي السماء؟!.</p>
<p>إن الإنسان الذي يعيش ويموت وتذهب روحه الي مكان آخر ويوضع جسده في القبر سواء نفذت الكلمات أم لم تنفذ فإن ذلك لا يوجد فرقاً عنده، إنه يعاني من أشياء أخرى أما ان يكون في أحضان ابراهيم يتمتع بالفرح أو في النار الأبدية يشتاق الي نقطة ماء. بينما تقبع جثته بلا احساس في القبر ومع ذلك يهتم الناس بكلماته.</p>
<p>ما الذي يمكن أن يتطلع اليه اولئك الذين لم يحافظوا علي أخر كلمات له ذاك الذي يجلس في السماء يتطلع من الأعالي الي الذين يطيعون والذين لا يطيعون كلماته.</p>
<p>الذي نطق وقال: &#8220;شاول شاول لماذا تضطهدني&#8221; الذي يحفظ الي يوم الدينونة عقاب الذين يتركون أعضاءه تتألم؟ .</p>
<p></p>
<h4>مجد طبيعتنا &#8211; للقديس يوحنا ذهبي الفم<sup> <a href="#_ftn7" name="_ftnref7">[7]</a></sup></h4>
<p>انظروا إلى طبيعتنا كيف انحطت ثم ارتفعت. فإنه ما كان يمكن النزول إلى أكثر مما نزل إليه الإنسان، ولا يمكن الصعود إلى أكثر مما ارتفع إليه المسيح&#8230; ويوضح بولس ذلك إذ يقول: &#8220;الذي نزل هو الذي صعد أيضًا&#8221;. أين نزل؟ &#8220;إلى أقسام الأرض السفلي&#8221;؛ وصعد إلى &#8220;فوق جميع السموات&#8221; (أف٤: ٩، ١٠).. إننا لم نكن سوى ترابًا ورمادًا.. لقد صرنا أكثر غباء من الحيوانات غير العاقلة، فقد صار الإنسان يُقارن بها وصار مثلها (مز ٤٨: ٢١، إش ١: ٣).</p>
<p>انظروا كيف صرنا أكثر غباءً من الحمار والثور (إش١: ٣)، ومن طيور السماء واليمامة والسنونة (إر٨: ٧).. صرنا تلاميذ للنمل (أم٦: ٦).. أكثر جمودًا من الحجارة (إش٦: ٢)،  نشّبه بالأفاعي (مز٥٨: ٥).. نُدعى أبناء إبليس (يو٨: ٤٤).. هكذا صار انحطاطنا وعدم استحقاقنا.. لكن اليوم ارتفعت طبيعتنا فوق كل خليقة. اليوم استعاد الملائكة من فقدوهم منذ زمن طويل! اليوم رأى رؤساء الملائكة أولئك الذين يشتاقون إلى رؤيتهم منذ زمن بعيد! اليوم رأوا طبيعتنا في العرش الإلهي تتلألأ في جمال أبدي ومجد سرمدي!.</p>
<p>لقد نلنا هذابسبب &#8220;الجسد&#8221; الذي قدمه الرب، <strong>لقد قدم للآب بكر طبيعتنا</strong>. وبسبب كرامة المُقدم وكمال قابل التقدمة، وجد الآب &#8220;<strong>العطية</strong>&#8221; مقبولة، فاستلمها بيده وضمها لنفسه وقال (للرب المتجسد): &#8220;اجلس عن يميني&#8221; (مز ٦٨: ١٠)</p>
<p>ألم يرتفع (الناسوت المتحد باللاهوت) إلى فوق السماوات؟!</p>
<p>أليست هذه كرامة بلا قياس؟!</p>
<p>لقد ارتفعت (طبيعتنا في شخص الإله المتجسد) فوق السماوات، وسمت فوق الملائكة. لقد عبرت فوق رؤساء الملائكة والشاروبيم، وحلقت فوق السيرافيم، عالية أكثر من كل القوات السمائية، واستراحتفي العرش الإلهي الحقيقي وحده&#8230;</p>
<p><strong>إن سلوك جنسنا كان هكذا شريرًا في الماضي، حتى كان الأمر في خطر من أن يُباد كل الجنس البشرى عن وجه الأرض. والآن نحن الذين قبلًا حُسبنا غير متأهلين للبقاء في الأرض رُفعنا إلى السماوات.</strong></p>
<p><strong>نحن الذين كان قبلًا غير مستحقين للمجد الأرضي، نصعد الآن إلى ملكوت السماوات، وندخل السماوات، ونأخذ مكاننا أمام العرش الإلهي.</strong></p>
<p><strong>هذه الطبيعة التي لنا، التي كان الشاروبيم يحرس أبواب الفردوس منها، هوذا اليوم ترتفع فوق الشاروبيم!</strong></p>
<p>كيف يمكننا أن نعبر على حدث عظيم (<strong>عيد الصعود)</strong> هكذا عبورًا سريعًا؟!</p>
<p>لأنه نحن الذين أسأنا إلى مثل هذه المراحم العظيمة، حتى صرنا غير مستحقين للأرض ذاتها، وسقطنا من كل سلطان وكرامة، بأي استحقاق نرتفع إلى كرامة علوية كهذه؟!</p>
<p>كيف انتهى الصراع؟!</p>
<p>لماذا زال غضب اللّه&#8230;؟</p>
<p>وماذا يعنى هذا؟ بالرغم من أننا أسأنا إليه، فإنه هو الذي يسعى إلينا ويدعونا إلى السلام. إنه حقا هكذا، فإذ هو اللّه، وهو الإله المحب الذي يدعونا إليه.</p>
<p>* هذه أيضا علامة أنه صعد إلى السماء، إذ لم تحمله نار كما في حالة إيليا، ولا مركبات نارية، بل &#8220;<strong>أخذته سحابة</strong>&#8220;، بكونها رمزًا للسماء، كما يقول النبي: &#8220;جعل السحاب مركبته&#8221; (مز١٠٤: ٣)، فقد قيل هذا عن الآب نفسه. لذلك يقول: &#8220;على السحاب&#8221; بطريقة رمزية حيث يود أن يتحدث عن القوة الإلهية، فإنه لا توجد قوة أخرى تُرى على السحاب. اسمع أيضًا ما يقوله نبي آخر: &#8220;يجلس الرب على سحابة خفيفة&#8221; (إش١٩: ١).. أيضًا على الجبل حلّ السحاب بسبب الله، حيث دخل موسى في الظلمة، ولم يكن السحاب بسبب موسى.</p>
<p>* على أي الأحوال، ما رأته أعينهم لم يكن مُشبعًا تمامًا. فبالنسبة للقيامة رأوا نهايتها ولم يروا بدايتها (إذ لم يروه أثناء قيامته). أما في الصعود فرأوا البداية ولم يروا النهاية.</p>
<p>فبالنسبة للأولى لم يكن من الضروري أن يروا البداية، لأن الرب نفسه الذي يتحدث بهذه الأمور حاضر، والقبر يعلن بكل وضوح أنه ليس فيه السيد. وأما في الأخيرة فكانوا محتاجين أن يتعرفوا على التكملة بكلمة الغير (بواسطة الملاكين). فلم تكن أعينهم قادرة أن تريهم إياه، أي في العلا، ولا أن تخبرهم بأنه بالحقيقة صعد إلى السماء.. لذلك جاءت ملائكة تخبرهم به. لاحظوا كيف حدث كل شيء بتدبيرٍ، وأن ما حدث لم يكن بالروح وحده، وإنما كان لأعينهم دورها في ذلك.</p>
<p>* كان المنظر الخارجي مبهجًا (بلباسٍ أبيض)، كانا ملاكين في شكل رجلين.</p>
<p>* الفارق بين الملائكة والبشر عظيم، مع هذا فإنه يجلبهم ليقتربوا إلينا أسفل&#8230; إنهم يعملون من أجلنا، ومن أجلنا يجرون هنا وهناك، ويترقبون مجيئنا (إليهم). هذه هي خدمتهم، إنهم يُرسلون في كل طريق لحسابنا.</p>
<p>* اليوم (عيد الصعود) استعاد الملائكة من فقدوهم منذ زمن طويل!</p>
<p>اليوم رأى رؤساء الملائكة أولئك الذين يشتاقون إلى رؤيتهم منذ زمنٍ بعيدٍ!</p>
<p>اليوم رأوا طبيعتنا (إذ اتحد بها الابن الكلمة) في العرش الإلهي، تتلألأفي جمالٍ أبديٍ ومجدٍ سرمدي!</p>
<p>هذا ما اشتهاه الملائكة زمانًا!</p>
<p>هذا ما كان ينتظره رؤساء الملائكة!</p>
<p><strong>ومع أن الطبيعة البشرية قد سمت فوقهم في الكرامة، لكنهم فرحوا من أجل الخير الذي حلّ بنا، لأنه عندما حلّ بنا العقاب حزنوا.</strong></p>
<p>وبالرغم من أن الشاروبيم وقفوا حارسين الفردوس (عند طردنا)، إلا أنهم اغتموا من أجل شقائنا، وذلك مثلهم كمثل عبد يقبض بيد رفيقه في حضرة سيده، ويلقي بهفي السجن ويبقى حارسًا إياه، لكنه مملوء حزنًا من أجل الضيقة التي حلت بزميله&#8230; هكذا فعل الشاروبيم إذ قاموا باستبعاد البشر عن الفردوس، لكنهم كانوا حزانى من أجل هذا&#8230;</p>
<p>ولكي تعرفوا أنهم حزنوا على ذلك، أوضح لكم هذا بما يحدث بين البشر. لأنه إن كنتم ترون أناسًا لهم حنو على العبيد رفقائهم، فإنكم لا تشكون أن هذا كان بالنسبة للشاروبيم. لأن هذه القوات السمائية أكثر حنانًا من البشر.</p>
<p>منْ منَ البشر لا يتألم إذ يرى الغير يُعاقبون، حتى ولو كان العقاب بعدلٍ ومن أجل خطايا كثيرة؟!</p>
<p>هذا الحنو هو أمر مستحق للمديح، فإنه بالرغم من معرفة الشاروبيم عن جرائم الناس، وإدراكهم أنهم عصوا عصيانًا خطيرًا، لكنهم يحزنون من أجلهم حزنًا قلبيًا. وذلك مثل موسى أيضًا عندما أعلن هذا بعدما ارتكب شعبه <a href="https://st-takla.org/Full-Free-Coptic-Books/FreeCopticBooks-002-Holy-Arabic-Bible-Dictionary/18_EN/EN_029.html">عبادة الأوثان</a>، إذ قال: &#8220;والآن إن غفرت خطيتهم، وإلا فامحني من كتابك الذي كتبت&#8221; (خر٣٢: ٣٢).</p>
<p>ماذا تقصد يا موسى؟! أنت ترى كفرهم، ومع ذلك هل تحزن بسبب معاقبتهم؟! يقول: نعم لأجل هذا أحزن إذ هم يُعاقبون، ولو أنهم ارتكبوا ما يستحق العقاب&#8230;</p>
<p>وهكذا فإن موسى، وحزقيال (٩: ٨)، وإرميا (١٠: ٢٤)، هؤلاء حزنوا من أجل الخطاة، أفلا تشفق القوات السمائية من أجل ضيقاتنا&#8230;؟!</p>
<p>فإنهم يرون شؤوننا كأنها شئونهم، لهذا كم تكون فرحتهم، إذ يروننا قد تصالحنا مع اللّه! فما كانوا يفرحون هكذا لو لم يكونوا قد حزنوا من أجلنا. أما فرحهم فواضح من كلمات المسيح نفسه: &#8220;أقول لكم هكذا يكون فرح في السماء بخاطئ واحد يتوب&#8221; (لو١٥: ٧). فإن كانت الملائكة تفرح متى رأت إنسانًا خاطئًا يرجع إلى اللّه تائبًا، فكيف لا يمتلئون فرحًا عظيمًا عندما يرون الطبيعة البشرية كلها، في بكرها، تصعد اليوم إلى السماء؟!</p>
<p>اسمعوا أيضًافي موضع آخر عن فرح الطغمات السمائية بسبب رجوعنا إلى الصداقة مع اللّه. فإنه عندما وُلد ربنا حسب الجسد، ناظرين إلى أنه منذ تلك اللحظة قد حلت الصداقة مع الجنس البشرى عوض العداوة، وإلا ما كان قد نزل بينهم، فإذ رأوا ذلك ترنمت جوقة سمائية قائلة: &#8220;المجد للّهفي الأعالي، وعلى الأرض السلام، وبالناس المسرة&#8221; (لو٢: ١٤).</p>
<p>أتريدون أن تعرفوا عظم غبطتهم وفرحهم عندما رأوا المسيح صاعدًا إلى السماء؟! أنصتوا إلى كلماته التي يخبرنا بها عنهم كيف كانوا يصعدون وينزلون على الدوام، وهذا أسلوب من ينتظر أن يرى أمرًا جديدًا عجيبًا.</p>
<p>وأين يظهر أنهم كانوا يصعدون وينزلون؟</p>
<p>أنصتوا إلى كلمات الرب: &#8220;من الآن ترون السماء مفتوحة، وملائكة اللّه يصعدون وينزلون على ابن الإنسان&#8221; (يو١: ٥١).</p>
<p>هذه هي علامة القلوب المتحننة المملوءة حبًا، إذ لم ينتظروا الوقت المعين، إنما سبقوا الساعة المحددة بالبهجة.</p>
<p>وهكذا بقوا صاعدين ونازلين برغبة مملوءة شوقًا وحبًا، منتظرين تلك الرؤية الجديدة العجيبة من جهة (الإله المتأنس) الذي يظهرفي السماوات.</p>
<p>بسبب هذه كانت الملائكة تظهرفي كل حين: عندما وُلد، وعندما قام، وعندما صعد إلى السماوات. إذ يقول الكتاب المقدس: &#8220;إذا رجلان قد وقفا بهما بلباس أبيض&#8221;. لبسهما هذا يعلن عن فرحتهما.</p>
<p>وقد قالا للتلاميذ: &#8220;أيها الرجال الجليليون، ما بالكم واقفين تنظرون إلى السماء؛ إن يسوع هذا الذي ارتفع عنكم إلى السماء&#8221; (أع ١: ١٠، ١١).</p>
<p>ركز انتباهك معي! لماذا قالا هكذا للتلاميذ؟! ألم يرَ التلاميذ ما هو حادث أمامهم؟ ألم يقل الإنجيلي: &#8220;هذا ارتفع وهم ينظرون&#8221;. لماذا وقف الملاكان بهما وأخبراهما عن صعوده إلى السماء؟! كان ذلك لسببين:</p>
<p><strong>السبب الأول</strong>: لأن التلاميذ بدأوا يحزنون، لأن المسيح سيتركهم&#8230; &#8220;ليس أحد منكم يسألني أين تمضي، لكن لأني قلت لكم هذا قد ملأ الحزن قلوبكم&#8221; (يو١٦: ٥، ٦)..</p>
<p>لأجل هذا وقف الملاك بمن حزنوا عند الصعود، مذكرًا إياهم بأنه سيأتي أيضًا مرة أخرى &#8220;<strong>إن يسوع هذا الذي ارتفع عنكم إلى السماء، سيأتي كما رأيتموه منطلقًا إلى السماء</strong>&#8220;. كأنه يقول لهم: &#8220;أنتم تحزنون لأنه صعد. لكن لا تحزنوا بعد، فإنه سيعود&#8221;. وقد قال لهم ذلك حتى لا يفعلوا ما فعله أليشع، ممزقًا ثيابه عندما رأى سيده يصعد إلى السماء (٢مل٢: ١٢)، لأنه لم يقف به أحد يقول له بأن إيليا سيعود مرة أخرى. فلكي لا يفعلوا هذا، وقف بهما الملاكان وعزياهم، ونزعا عنهم الحزن الذي ملأ قلوبهم. هذا هو سبب ظهور الملاكين.</p>
<p>وأما <strong>السبب الثاني</strong> فهو ليس بأقل من الأول، إذ أضافا قائلين: &#8220;<strong>يسوع هذا الذي</strong> <strong>ارتفع عنكم</strong>&#8221; لماذا؟ لقد ارتفع إلى السماء. والمسافة بينهم وبين السماء شاسعة، تعجز قدرة أبصارهم عن أن ترى جسدًا يرتفع إليها&#8230; لهذا فإن الملاكين وقفا بهم وأوضحا لهم حقيقة الصعود إلى السماء، حتى لا يظنوا أنه أُخذ إلى فوق حيث يوجد إيليا، بل بالحق صعد إلى السماوات. ولهذا السبب قيل لهم: &#8220;<strong>هذا الذي ارتفع</strong> <strong>عنكم إلى السماء</strong>&#8220;. لم يضف هذا القول بغير سبب. لكن إيليا أُخذ إلى فوق كما إلى السماء، لأنه خادم. أما يسوع فقد صعد إلى السماء (حيث العرش الإلهي) إذ هو الرب.</p>
<p><strong>واحد صعد في مركبة، والآخر في سحابة.</strong></p>
<p>عندما دُعي العبد أُرسلت إليه مركبة، أما الابن فإذ له العرش الإلهي، وليس أي عرش بل عرش أبيه، وقد جاء في إشعياء.. &#8220;هوذا الرب راكب على سحابة&#8221; (إش١٩: ١)..</p>
<p>إذ صعد إيليا سقط عنه رداءه لأليشع (٢مل٢: ١٣)، وإذ صعد يسوع أرسل النعم لتلاميذه، لهم جميعًا، وليس لنبيٍ واحد، بل إلى أمثال أليشع كثيرين بل ومن هم أكثر من أليشع مجدًا.</p>
<p>لنقم أيها الإخوة المحبوبون، ولنرفع أعين نفوسنا تجاه ذاك الذي سيعود، إذ يقول لنا بولس: &#8220;لأن الرب نفسه بهتافٍ، بصوت رئيس ملائكة، وبوق اللّه ينزل من السماء&#8230; ثم نحن الأحياء الباقين سنُخطف جميعًا معهم في السحب لملاقاة الرب في الهواء&#8221; (١تس٤: ١٦). ولكن ليس الكل (يتمتع بهذا) بل بعضنا يصعد إلى السماوات وآخرون يبقون&#8230;</p>
<p>اسمعوا ماذا يقول المسيح؟ &#8220;اثنتان تطحنان على الرحى. تؤخذ الواحدة وتترك الأخرى&#8221; (مت٢٤: ٤١)..</p>
<p>فهل نحن أيضًا نصعد&#8230;؟!</p>
<p>وعندما أقول &#8220;<strong>نحن</strong>&#8221; أحسب نفسي لست (مستحقًا) أن أكون بين الذين يصعدون. لأنني لست هكذا بلا إحساس أو فهم حتى أتجاهل خطاياي. وإذ أخشى أن أتلف فرح هذا العيد المقدس، لهذا فإنني أبكي بدموع مرة عندما استرجع في ذهني هذه الكلمات وأتذكر خطاياي.</p>
<p>وإذ لا أريد أن أنزع فرح هذا العيد، فإنني أنهي عظتي تاركًا فرح هذا العيد يشعفي أذهانكم دون أن يُحتجب، فلا يبتهج الغنى كثيرًا بغناه، ولا يتضايق الفقير بسبب فقره، بل يصنع كل إنسان عمله أيا كان حسبما يمليه عليه ضميره.</p>
<p>لأن الإنسان السعيد ليس هو الغنى، ولا الفقير إنسان بائس، بل بالأحرى مطوّب، ومثلث التطويبات، ذاك الذي يكون مستحقًا أن يصعد على السحاب ولو كان أفقر الجميع.</p>
<p>وهو بالحق بائس ومثلث البؤس، ذاك الذي يحسب مع المفقودين ولو كان أغنى من جميع الناس.</p>
<p></p>
<h3>عظات آباء وخدّام معاصرين لعيد الصعود المجيد</h3>
<h4>صعد إلى السماء &#8211; لقداسة البابا تواضروس الثاني<a href="#_ftn8" name="_ftnref8">[8]</a></h4>
<p><strong>(لوقا 24: 36- 53)</strong></p>
<p><strong>صعد إلى السماء</strong><strong> </strong></p>
<ul>
<li>قبل الصعود كان السيد المسيح:</li>
<li>يظهر ويثبت إيمان تلاميذه ويعالج ضعفهم.</li>
<li>يُحدثهم عن الأمور المُختصة بملكوت السماوات.</li>
<li>يعدهم بموعد الآب، الروح القُدس، وليناظروه.</li>
<li>يُعدِّهم للمجئ الثانى يوم الرب العظيم.</li>
<li>وفى الوقت العظيم كان السيد المسيح:</li>
<li>يمر على بيت عنيا وبستان جثسيمانى قبيل الصعود على جبل الزيتون، ليربط في أذهان تلاميذه أن الصعود ثمرة من ثمرات الصليب.</li>
<li>من فوق الجبل يتم الصعود علامة السمو والأرتفاع.</li>
<li>ويظهر ملاكان (رجلان) يوضحان حقيقة الأنتظار للتلاميذ من أجل المجئ الثاني.</li>
<li>ثم يعود التلاميذ بفرح ويسجدون في الجبل ويعودون إلى أورشليم.</li>
<li>أما بعد الصعود فقد نلنا بركات عديدة :</li>
<li>المسيح هو صاحب السماء.</li>
<li>مسيحيتنا سماوية سامية.</li>
<li>تأهلنا لسُكنى السماء حيث يُعد لنا مكاناً.</li>
<li>ننتظر بشوق المجئ الثانى من الشرق، &#8220;وإلى الشرق انظروا&#8221; نداء في كل قداس.</li>
</ul>
<p>&#8220;ليس أحد صعد إلى السماء إلا الذى نزل من السماء ابن الإنسان الذى هو في السماء&#8221; (يو٣: ١٣).</p>
<p><strong> </strong></p>
<p><strong>السماء</strong> <strong>المفتوحة</strong></p>
<p>الصعود ليس حدثاً تاريخياً مُجرداً، وإنما مُتعة روحية يعيشها الإنسان في أعماقه، حيث تتفتح أمامه أبواب السماء كل يوم، وتنفتح أبواب قلبه أمام مسيحه بكونه عرشه.</p>
<ul>
<li>اختبار السماء المفتوحة «الأبواب المفتوحة» في عيد الصعود يُعطينا.</li>
<li>المستقبل المفتوح، أي الرجاء في شخص مسيحنا القائم والمنتصر.</li>
<li>القلب المفتوح، أي الاحتمال مثلما قال بولس الرسول: &#8220;في طهارة، في علم، في أناة، في لطف، في الروح القدس، في محبة بلا رياء&#8221; (٢كو٦: ٦).</li>
<li>السماء المفتوحة للصلاة والطلب، حيث تأتى استجابات صلواتنا في الوقت المناسب.</li>
<li>وهكذا فإن العلاقة بين السماء والأرض يُلخصها طريقان:</li>
<li>الطريق النازل: وهو طريق التجسد.. والفداء.</li>
<li>الطريق الصاعد: وهو طريق الصعود.. والملكوت.</li>
<li>ومن الناحية التاريخية فإن في هذا العيد هناك ثلاثة عناصر هامة:</li>
<li>تواضع الحدث: فالمسيح صعد باتضاع في أسلوب بسيط غير إيليا النبي.</li>
<li>روعة المشهد: فقد ارتفع أمام أعينهم ليُرينا مشهد الكنيسة الصاعدة.</li>
<li>عظمة الوعد: الذى يشهد للابن ويعمل في تمجيد رسالة المسيح على الأرض.</li>
<li>لقد كان المسيحيون يتبادلون التهاني في عيد الصعود المجيد بعبارة &#8220;ماران آثا&#8221; وهى كلمة يونانية تعني &#8220;الرب قريب&#8221; أو &#8220;الرب سيأتي&#8221; أو &#8220;الرب قادم&#8221;.</li>
</ul>
<p></p>
<h4>الصعود &#8211; للمتنيح الأنبا بيمن أسقف ملوي وأنصنا والأشمونين<a href="#_ftn9" name="_ftnref9">[9]</a></h4>
<p><strong>ما ذكره سفر الأعمال عن الصعود المقدس:</strong></p>
<p>وفيما هو مجتمع معهم أوصاهم أن لا يبرحوا من أورشليم بل ينتظروا موعد الآب الذي سمعتموه مني. لأن يوحنا عمد بالماء وأما أنتم فستتعمدون بالروح القدس ليس بعد هذه الأيام بكثير، أما هم المجتمعون فسألوه قائلين يا رب هل في هذا الوقت ترد الملك إلى إسرائيل؟، فقال لهم ليس لكم أن تعرفوا الأزمنة والأوقات التي جعلها الآب في سلطانه. لكنكم ستنالون قوة متي حل الروح القدس عليكم، وتكونون لي شهوداً في أورشليم وفي كل اليهودية والسامرة وإلى أقصى الأرض.</p>
<p>ولما قال هذا ارتفع وهم ينظرون، وأخذته سحابة عن أعينهم. وفيما كانوا يشخصون إلى السماء وهو منطلق إذا رجلان قد وقفا بهم بلباس أبيض، وقالا: أيها الرجال الجليلیون ما بالكم واقفين تنظرون إلى السماء إن يسوع هذا الذي ارتفع عنكم إلى السماء سيأتي هكذا كما رأيتموه منطلقا إلى السماء حينئذ رجعوا إلى أورشليم من الجبل الذي يدعى جبل الزيتون الذي هو بالقرب من أورشليم على سفر سبت&#8221; (أع١: ٤- ۱۲) .</p>
<p><strong>إلى بيت عنيا</strong></p>
<p>يقول معلمنا لوقا إن الرب يسوع أخرجهم إلى بيت عنيا (لو٢٤: ٥٠)، خارجاً عن أورشليم تلك المدينة الصاخبة التي فيها يصعب الإختبار الروحي العالي وإذا كانت قرية بيت عنيا تعني في المفهوم اللغوي بیت النور فلابد إذا أن يتوافق الحدث مع المكان، وتتناغم الصورة البهية مع الإطار المكاني المعد لها..</p>
<p>ونحن لا نستطيع أن نصعد بافكارنا إلى فوق طالما نعيش حياة الصخب والضجيج.. يلزمنا أن نخرج معه إلى مكان الهدوء. مكان الاختبارات العميقة حتى يمكننا أن نتلامس مع حقيقة الصعود الإلهي.</p>
<p>وهناك على جبل الزيتون الذي طالما أخذ الرب تلاميذه إليه يعلمهم ويصلي بهم اختار الرب أن يكون هناك اللقاء الأخير مع تلاميذه في حياته التي عاشها علی الأرض.</p>
<p>وليس بغريب على الرب أن يأخذ تلاميذه إلى مكان خلاء، ففي حياته شهدت الوحدة وأماكن الخلاء مواقف كثيرة لشخصه المبارك. ففيها كان يصلي، وفيها أشبع الجموع، وفيها تجلى بمجده أمام ثلاث من تلاميذه، وعلى إحدى الجبال الهادئة القريبة من أورشليم صعد إلى السماء بمجد عظيم .</p>
<p>وإذا كان آدم قد اختبأ وراء الأشجار في بستان عدن، فإن آدم الثاني قد ظهر أمام تلاميذه صاعداً إلى الآب بعد أن أصلح ما أفسده آدم، وبعدما أعطى ثوب النعمة للمؤمنين بدلاً من أوراق التين المزيفة التي خاطها آدم في الجنة لنفسه..</p>
<p>فصعود المسيح على جبل الزيتون هو الصورة المضادة لهبوط آدم في جنة عدن.. وانتصار المسيح وغلبته وارتفاعه إلى المجد هو العمل الإلهي المقابل للانحدار الخطير الذي سقط فيه الإنسان حتى أعماق الهاوية.</p>
<p>وهذا هو ما عمله الرب يسوع على جبل الزيتون.. أخذ طبيعتنا الساقطة بعد أن افتداها ومجدها بقوة القيامة وأصعدها معه وفيه إلى الآب السماوي ليكون الإنسان حاضراً في الأقداس الإلهية كل حين.. ذلك بديلاً للتيه الذي سقط فيه آدم عندما فقد شركته في دوامة العصيان والتمرد والتأله الكاذب.</p>
<p>وهذا هو ما تنبأ عنه زكريا النبي في القديم &#8220;إن قدمي الرب تقف في ذلك اليوم على جبل الزيتون الذي قدام أورشليم من الشرق&#8221; (زك١٤: ٤) .</p>
<p><strong>يا رب</strong> يا من أقمت لعازر في بيت عنيا، وأخذت تلاميذك إلى جبل الزيتون لتريهم حقيقة الأبدية وتؤكد لهم أنك ابن السماء، وكما نزلت من فوق من المجد السماوي لابد أن تعود إلى هناك، فوجه عيناي دائماً إلى هذه القمم السماوية، وارفع اشتياقاتي إلى فوق لأنه مكتوب&#8221;إن كنتم قد قمتم مع المسيح فاطلبوا مافوق حيث المسيح جالس عن يمين الله&#8221; (کو٣: ١) .</p>
<p><strong>رفع يديه وباركهم</strong></p>
<p>هذا هو القصد الذي من أجله أتيت أيها الرب أن يكون الإنسان تحت يديك. وهذا ليس تسلطاً منك وإنما نعمة ورحمة.. فالخضوع لذراعك الرفيعة هو ملء الحرية الحقيقية والخروج عن دائرة طاعتك هو الموت الحقيقي.. عندما ترفع يديك فإن البركة كلها تحل على الساجدين عند قدميك.. لقد كنت تفعل هذا في الجنة عندما كان آدم يعيش في كنف محبتك متمتعاً ببركات طاعتك المقدسة.. ولكنه لما سقط لم يصبح تحت دائرة يديك بل عاش تحت سلطان رئیس هذا العالم، ومن محبتك نزلت لكي تعيده مرة أخرى إلى دائرة حبك.. آه يا رب لما ترك الإنسان بيتك السماوي عاش في البلبة والتشتت والتمزع والعزلة والفراغ الداخلي، ولم يعد الإنسان قادراً أن يحتمل أخاه بل عاش منقسما متخاصماً لا تجمعه وحدة ولا تربطه ألفة.. ولكن شكراً لك يا سيدي فقد جمعت في شخصك الجميع ووحدت المتنافرين وبك تحققت طلبتك أمام الآب أن نكون جميعاً واحداً كما إنك أنت والآب واحد، وهاهم التلاميذ كلهم سجود تحت يديك الآن في روح واحد وقلب واحد وإتجاه واحد ليس بينهم من يريد أن يترك حظيرة الراعي الصالح الأمين ..</p>
<p>أتوسل إليك يا رب أن ترفع يديك الطاهرتين وتبارك شعبك المسيحي وتوحده، وكلما رفع کاهنك في الكنيسة يديه على مثالك ليعطي للشعب الحل من الخطيئة. وكلما انحنت هامات المؤمنين تحت يديه أثق يا رب أنك بشخصك تجمعنا كلنا وتوحدنا كلنا.. يا من باركت في ذاك الزمان، الآن أيضا بارك ..</p>
<p>وهذه هي البركة الحقيقية أن نتمتع بمواهب روحك القدوس، وأن تكون لنا إلهاً ونحن نكون لك شعباً. فيك يا رب تثبيت المواعيد، وفيك تحققت كل بركة وعدت بها أبينا إبراهيم. وبعد نعمتك الغامرة وبركتك السماوية لا تحتاج لأمر أرضي لأنك باركتنا بكل بركة روحية في السماويات.. فبركة النسل رفعتها إلى بركة الولادة الثانية، وبركة الزيت والدقيق سموت بها إلى مواهب الروح المعزي، والأرض التي تفيض لبناً وعسلاً هي الكنيسة التي تعطينا من ملئك لكي نمتلئ إلى كل ملء الله ..</p>
<p></p>
<p><strong>ثم ارتفع إلى السماء.</strong></p>
<p>يقول معلمنا مرقس الإنجيلي: &#8220;ثم إن الرب بعد ما كلمهم ارتفع إلى السماء&#8221; (مر١٦: ١٩)، ونحن نقر بهذا في قانون الإيمان قائلين: «تألم وقبر وقام من بين الأموات.. وصعد إلى السموات وجلس عن يمين أبيه».. كان لابد للرب أن يصعد إلى السماء لأنه جاء من السماء.. &#8220;ليس أحد صعد إلى السماء إلا الذي نزل من السماء ابن الإنسان الذي هو في السماء&#8221; (يو۳: ۱۳)..</p>
<p>حقيقة إن الرب بلاهوته يملأ السماء والأرض، ولم تخل ذرة من الكون من وجوده فهو يملأ الكل. ولكن الرب أصعد باكورتنا إلى السماء كما يقول القداس الأغريغوري «قتلت خطيتي بقبرك أصعدت باکورتي إلى السماء أظهرت لي إعلان مجيئك هذا الذي تأتي لتدين الأحياء والأموات وتعطي كل واحد كأعماله»..</p>
<p>وقديما نقل أخنوخ حياً ورُفع إيليا في مركبة نارية لحفظهما في أماكن علوية.. ولكن إرتفاع الرب يسوع لم يكن على هذا المستوى. فالرب يسوع صعد بقوته الذاتية تماماً كما قام بنفس هذه القوة.. قوة الروح القدس الكائن فيه والمنبثق من الآب ومستقر في أقنومه.. أما أخنوخ وإيليا فقد إحتاجا إلى قوة من الرب لكي يرفعهما.. وسوف يعودان إلى الأرض ليموتا ثم يقوما.. هذا أمر يخالف تماماً ما حصل مع الرب يسوع فإنه قد صعد حياً ولن يذوق الموت إلى الأبد: &#8220;أنا هو الأول والآخر والحي وكنت ميتاً وها أنا حي إلى أبد الآبدين آمين. ولی مفاتيح الهاوية والموت&#8221; (رؤ١: ١٨)، وصعود المسيح له المجد بجسده الطاهر الممجد هو كمال التدبير الإلهي إذ أنه بعد أن افتدى آدم بالصليب دبر أن يأخذ إلی السماءالجسد الذي أحتمل آلام الصليب محتفظاً فيه بآثار الجراح والطعنة وأكليل الشوك لكي يكون رئيس كهنة رحيماً يرثي لضعفاتنا وقد رآه يوحنا الرائي كخروف مذبوح إذ يقول: &#8220;ربوات ربوات وألوف ألوف قائلين بصوت عظيم مستحق هو الخروف المذبوح أن يأخذ القدرة والغنى والحكمة والقوة والكرامة والمجد والبركة (رؤ٥: ۱۲).</p>
<p>وإذا كانت الملائكة قد نزلت من السماء لتعلن لنا ميلاد ابن الله الكلمة كطفل وليد في مذود بیت لحم، فإن جوقة الملائكة ورؤساء الملائكة الملتحفين بالمجد قد جاءوا أيضا ليسجدوا للرب الذي يركب على الشاروبيم والذي يطير على أجنحة الرياح، والذي اجتاز السموات ليجلس عن يمين الله غالباً ممجداً إلى الأبد..</p>
<p>ونحن نستطيع بعد صعود الرب في السحاب أن نقدم الشكر للعزة الإلهية لأن الرسول بولس أعلمنا أنه عند مجيئه الثاني سنُخطَف جميعاً في السحب لملاقاة الرب في الهواء (١تس٤: ١٧). لقد أوصانا أن نكون مستعدين لهذه الساعة حاملين في آنيتنا زيتاً مع العذارى الحكيمات، وأن نسهر مع العبيد الأمناء، وأن نثمر لحساب مجده مع أصحاب الوزنات الخمس .</p>
<p><strong>وجلس عن يمين الآب</strong></p>
<p>لا يقصد بالجلوس هنا الجلوس الجسمانی لأن الآب ليس له يمين ويسار، والسماء ليست لها زوايا وأبعاد وحدود.. ولكن المقصود بيمين الآب أن الابن بعد أن أكمل التدبير وأتم الفداء أخذ ما له من قدرة وسلطان ومجد وعظمة لائقة بأقنومه القدوس المساوي لأقنوم الآب السماوي.. وهذا هو ماعناه الرسول بولس بقوله &#8220;الذي وهو بهاء مجده ورسم جوهره وحامل كل الأشياء بكلمة قدرته بعدما صنع بنفسه تطهيراً لخطايانا جلس في يمين العظمة في الأعالى&#8221; (عب١: ٣)..</p>
<p>وبصعود الرب إلى السماء وجلوسه عن يمين الآب قد تحققت النبوءة التي قالها داود في القديم: &#8220;قال الرب لربي اجلس عن يميني حتى أضع أعداءك موطئاً لقدميك&#8221; (مز۱۱۰: ۱) .</p>
<p>وقد أوضح الرسول بولس في رسالته إلى العبرانيين مركز المسيح بعد صعوده وكيف أنه قد صار أعظم من الملائكة بقوله: &#8220;لمن من الملائكة قال قط اجلس عن يميني حتى أضع أعداءك موطنا لقدميك&#8221; (عب١: ١٣)، وبقوله: &#8220;جلس في يمين العظمة في الأعالی. صائراً أعظم من الملائكة بمقدار ما ورث اسماً أفضل منهم&#8221; (عب١: ٤)، وهذا الذي وضع قليلاً عن الملائكة بتجسده نراه بعد موته وقيامته وصعوده مكللاً بالمجد والكرامة (عب۲: ۹).</p>
<p>وكلما رفعنا أعيننا نحو السماء إلى المجد حيث أنت جالس يا رب عن يمين العظمة نتذكر بهاءك ومجدك ونقول مع عبدك إشعياء ويل لنا فنحن نجسو الشفتين. من يستطيع يا رب أن يقترب من مجدك؟!..</p>
<p>في القديم لم يكن يقدر أحد أن يقترب من خيمة الإجتماع عندما تكلم الرب مع هرون في الشكينة، وفي القديم لم يستطع شعب الله أن يقترب من الجبل عندما حل الله عليه ليكلم موسی.. وأما كليم الله فقد امتلأ بهاء حتى أنه وضع برقعاً علی وجهه من شدة الضياء .</p>
<p>إذا كان هذا مجدك على الأرض فكم يكون مجدك في السماء؟! ويذهلني للغاية أن الذي التحف بالمجد والبهاء هو هو نفسه الذي نزل إلى أعماق الهاوية وقضى وقتاً في الجحيم ليسبي النفوس التي كانت في أسر إبليس.. هذا أمر يعزيني كثيراً أن مجد الله ليس تعالياً وتشامخاً وأن نزول الله ليس احتقاراً وابتذالاً واضمحلالاً. عجيب أنت يا رب في مجدك!! في عظمة رفعتك وفي مجد اتضاعك!!.</p>
<p><strong>سيأتي هكذا بمجد عظيم</strong></p>
<p>يقول معلمنا لوقا إن الرب عندما ارتفع أخذته سحابة عن أعين تلاميذه وفيما كانوا يشخصون إلى السماء وهو منطلق إذا رجلان قد وقفا بهم بلباس أبيض (أع١: ٩، ۱۰)، هذا أمر يذكرني بالملاكين اللذين كانا عند القبر الفارغ واحداً عند الرأس والآخر عند الرجلين حيث كان جسد يسوع موضوعاً (يو۱۱:۲۰، ۱۲) ويذكرنا بالملاك والجوقة التي وقفت بالرعاة يوم ميلاد الرب تبشرهم بالمجد الذي في الأعالي والسلام والمسرة اللتين صارتا على الأرض.. وكل هذا يذكرنا أيضاً بصورة الملائكة الموضوعة على حجاب قدس الأقداس في خيمة الاجتماع و أجنحة الكاروبيم التي فوق غطاء التابوت. فحيثما يوجد السيد يوجد خدامه معه أيضاً والملائكة هم جميعاً أرواح خادمة. تقدم السجود اللائق للرب وتعلن البشری المفرحة للناس .</p>
<p>وكل منا إذا التصق بحياة التسبيح يصبح هكذا ملاكاً (انجيلوس)، يمتلئ من روح السجود لله، كما يمتلئ أيضا من روح الكرازة والبشارة والخدمة .</p>
<p>قال الملاكان للتلاميذ: أيها الرجال الجلیلیون مابالكم واقفين تنظرون إلى السماء. إن يسوع هذا الذي ارتفع عنكم إلى السماء سيأتي هكذا كما رأيتموه منطلقاً إلى السماء&#8221; (أع١: ١١) .</p>
<p>إن حقيقة المجيء الثاني المخوف المملوء مجداً أمر تكلم عنه الرب مراراً. فهو الذي قال لتلاميذه: &#8220;وإن مضيت وأعددت لكم مكاناً آتي أيضاً وأخذكم إليَّ&#8221; (يو١٤: ٣).. وهو الذي قال أيضاً &#8220;ويبصرون ابن الإنسان آتياً علی سحاب السماء بقوة ومجد كثير&#8221; (مت٢٤: ٣٠). وهو الذي قال: &#8220;ومتى جاء ابن الإنسان في مجده وجميع الملائكة القديسين معه فحينئذ يجلس على كرسي مجده ويجتمع أمامه جميع الشعوب فيميز بعضهم من بعض كما يميز الراعي الخراف من الجداء&#8221; (مت٢٥: ۳۱).</p>
<p>ولكن كلمات الملاك جاءت تاکيداً لما أخبروا به، ودليلاً واقعياً عملياً لأحاديث النعمة التي سمعوها. وهكذا عاشت كنيسة الرسل طيلة العصور فرحة في الرجاء، وما من رجاء إلا بالمجيء الثاني.</p>
<p>لقد كان المسيحيون قديماً يحيون بعضهم بعض عند الإنصراف قائلين: &#8220;الرب آت&#8221;، هذه الحقيقة كانت عزاؤهم في الضيق، وفرحهم في التجارب، وطعامهم في طريق الغربة، ومرساة نفوسهم في برية موحشة، قفر بلا ماء.</p>
<p>ويظل المؤمنون من جيل إلى جيل يجددون عهد الانتظار بلهفة وشغف فی كل اجتماع للتناول من القربان المقدس، إذ يقول الكاهن على لسان الرب &#8220;فی کل مرة تأكلون من هذا الخبز وتشربون من هذه الكاس تبشرون بموتي وتعترفون بقيامتي وتذكرونني إلى أن أجئ&#8221;. فيرد الشعب قائلاً: «حقاً حقاً حقاً بموتك يا رب نبشر، وبقيامتك وصعودك إلى السموات نعترف نسبحك نباركك نشكرك يا رب ونتضرع إليك يا إلهنا» وقد رتبت الكنيسة أن يقف المؤمنون مصلين تجاه المشرق لأن الملاك قال: &#8220;سيأتي هكذا كما رأيتموه منطلقا إلى السماء&#8221; وكما يشير المشرق إلى الضياء والنور فإن الكنيسة تربي أبناءها على العبادة في النور، لأننا جميعاً أبناء نور وأبناء قيامة.</p>
<p><strong>وعاد التلاميذ بفرح عظيم</strong></p>
<p>عاد التلاميذ إلى أورشليم لأن الرب أوصاهم ألا يبرحوها حتى يلبسوا قوة من الأعالي، عادوا إلى العلية.. بيت يوحنا (مرقس)، المحبب إليهم جميعاً.. ذاك المكان الذي يذكرهم بليلة العشاء السري.. هناك غسل الرب أقدامهم، وهناك أعطاهم جسده ودمه الأقدسين لأول مرة في التاريخ.. وهناك اجتمعوا مراراً وهناك حضر الرب بعد قيامته والأبواب مُغَلَّقّة وأراهم يديه وجنبه.. وسيشهد المكان المقدس هذا بعد فترة قليلة حلول الروح القدس على التلاميذ وتأسيس كلمة الرب الشاهدة له..</p>
<p>لقد عاد التلاميذ بفرح، لأنه مكتوب &#8220;الرب قد ملك فلتتهلل الأرض ولتفرح الجزائر الكثيرة، سحاب وضباب حوله&#8221; (مز٩٧: ١). عاد التلاميذ بفرح عظيم لأن الأسد دخل إلى عرينه والعريس إلى خدره. ولقد ذهب الرب إلى السماء ليعد لنا مكاناً فكيف لا نفرح ونتهلل!! لقد وعد بفمه الطاهر قائلاً: &#8220;أنا أمضي لأعد لكم مكاناً.. آتي أيضاً وآخذكم إلى حتى حيث أكون أنا تكونون أنتم أيضاً&#8221; (يو١٤: ٣) .</p>
<p>&#8220;ما أعظم مساكنك يا رب الجنود، تشتاق وتذوب نفسي للدخول في ديار الرب&#8221;. إن بولس عندما شاهد شيئاً من مجدها قال عنها: &#8220;ما لم تره عين ومالم تسمع به أذن وما لم يخطر على قلب بشر ما أعده الله لمحبي إسمه القدوس، وهو أيضاً إذ تلامس مع هذا المجد العتيد قال &#8220;فإني أحسب أن آلام الزمان الحاضر لا تقاس بالمجد العتيد أن يستعلن فينا&#8221; (رو ١٨:٨).</p>
<p>لقد انتصر الرب ودخل مجده فكيف لا نبتهج بفرح عظیم؟ بالحقيقة يا رب كرسيك إلى دهر الدهور، قضيب الإستقامة هو قضيب ملكك، لأنك أحببت البر وأبغضت الإثم.. من أجل هذا مسحك الله إلهك بزيت البهجة أفضل من رفقائك (مز٤٥: ٦، ٧). لقد عبَّر الرسول بولس عن المجد الذي ناله الرب بقيامته وصعوده إلى السماء، والذي يستحقه لأجل كل ما عمله لنا من فداء وغفران وتبرير وخلاص بقوله: &#8220;وأجلسه الآب عن يمينه في السماويات فوق كل رياسة وسلطان وقوة وسيادة وكل اسم يسمي ليس في هذا الدهر فقط بل في المستقبل أيضاً وأخضع كل شي تحت قدميه وإياه جعل رأساً فوق کل شئ للكنيسة&#8221;..</p>
<p>هبنا يا رب أن نعاين قبساً من مجدك السماوي، لأننا إذا أدركنا عظمتك الحقيقية احتقرنا كل أباطيل العالم ورفضنا کل مجد أرضي.</p>
<p>هبنا يا سيد يا من صرت رأسا ًوملكاً وسيداً على كل رياسة وسلطان أن أسعى في غيرة وحرارة کي أكسب النفوس لكنيستك دائرة مجدك وملكوتك علی الأرض وأفرح عندما أجد كثيرين يخضعون لمشيئتك وأعطني أن أصلي من أجل الذين لم يخضعوا حتى الآن، وإن طلبت مع الكثيرين لأجلهم فاسمح وتوبهم وضمهم إليك كي تكون الأرض كلها للرب ولمسيحه .</p>
<p><strong>رئيس كهنة إلى الأبد</strong></p>
<p>يقول الرسول بولس &#8220;وأما رأس الكلام فهو أن لنا رئيس كهنة مثل هذا قد جلس في يمين عرش العظمة في السموات، خادماً للأقداس والمسكن الحقيقي الذي نصبه الرب لا إنسان، لأن كل رئيس كهنة يقام لكي يقدم قرابين وذبائح، فمن ثم يلزم أن يكون لهذا أيضاً شئ يقدمه، فإنه لو كان على الأرض لما كان كاهناً إذ يوجد الكهنة الذين يقدمون قرابين حسب الناموس. الذين يخدمون شبه السمویات وظلها.. ولكنه الآن قد حصل على خدمة أفضل بمقدار ما هو وسيط أيضا لعهد أعظم قد تثبت على مواعيد أفضل&#8221; (عب٨: ١- ٦). <strong>ومن هذا النص الإلهي نتبين الحقائق الآتية:</strong></p>
<ul>
<li>أن الرب يسوع كانت له وظيفة كهنوتية.</li>
<li>أن هذه الوظيفة يمارسها الرب بعد جلوسه عن يمين الآب خادما للأقداس والمسكن الحقيقي السماوي.</li>
<li>أن كهنوته تثبت عندما صعد إلى السماء لأنه لو كان على الأرض لما كان کاهناً إذ يوجد كهنة من سبط لاوي يقدمون ذبائح وقرابين حسب شريعة العهد القديم.</li>
<li>أن ذبيحته وخدمته أفضل بما لا يقاس إذا ما قورنت بذبيحة العهد القديم.</li>
</ul>
<p>وقد شرح الرسول بولس الملهم بالروح القدس كافة هذه العناصر شرحاً تفصيلياً رائعاً في رسالته إلى العبرانيين التي يشتهي أن يطالعها ويتأملها بدقة كل مسيحي لأن فيها كنوز مذخرة وتأملات روحية عميقة مذهلة.. وقد أوضح لنا الرسول أن الرب يسوع لم يأخذ هذه الوظيفة الكهنوتية من نفسه ولم يمجد نفسه ليصير رئيس كهنة بل إن الآب نفسه هو الذي أعطاه إياها، وهو الذي أقسم أن يكون المسيح كاهناً إلى الأبد على رتبة ملكي صادق. وفي هذا نرى رفعة مركز الرب كوسيط بين الله والإنسان (عب٥: ٤- ٦)، فهو ليس مجد إنسان مثل هرون وبنيه إنما جاء على رتبة أعلى بكثير من رتبة لاوي وهی رتبة ملكي صادق. وقد شرح الرسول بولس أن رتبة ملكي صادق أعلى من رتبة لاوي لأن ملكي صادق نفسه قابل إبراهيم عند رجوعه من كسره الملوك فإنحنى إبراهيم أمامه وبارکه ملکي صادق وتقبل من إبراهيم العشور ورفع ذبيحة من خبز وخمر.. ومن ثم فإن ملكي صادق يعتبر أعظم من لاوي لأن لاوي كان في صُلب إبراهيم عندما إنحني أمام ملكي صادق وقدم له العشور. ومن أجل هذا جاء المسيح كاهناً على رتبة ملكي صادق وليس على رتبة لاوي. إن عظمة كهنوت المسيح تتمثل أيضاً لا في الرتبة فقط بل في نوع الذبيحة عينها.. ففي القديم كانت الذبائح تقدم من التيوس والعجول وأشباهها وهذه لا تقدس إلا إلى طهارة الجسد، أما دم المسيح فبروح أزلي يطهر ضمائرنا من أعمال ميتة ليخدم الله الحي.. إن الرب يسوع لم يقدم ذبيحة حيوانية لفداء الإنسان بل قدم ذبيحة نفسه. وكل قطرة من قطرات الدم الغالي الثمين أهرقت على الصليب لهي أغلى ثمنا أمام الله من العالم كله، وأطهر من جميع طغمات الملائكة، وقادرة على تقديس الكون كله ..</p>
<p>فخدمة المسيح الكهنوتية لم تكن في خيمة شهادة أو في هيكل أرضي، بل كانت في المسكن الأعظم السماوي في أقداس الآب السماوي، ولم يكن المقصود منها تأدية طقوس وفروض أرضية، بل قصد منها نوال الفداء الأبدي والخيرات العتيدة الروحية.. لأجل هذا يقول الرسول بولس: &#8220;أما المسيح وهو قد جاء رئيس كهنة للخيرات العتيدة فبالمسكن الأعظم والأكمل غير المصنوع بيدٍ أي الذي ليس من هذه الخليقة، وليس بدم تیوس وعجول بل بدم نفسه دخل مرة واحدة إلى الأقداس فوجد فداءً أبدياً&#8221; (عب٩: ١١، ۱۲) .</p>
<p>ولأجل قداسة الرب المطلقة فإنه ليس له اضطرار أن يقدم كل يوم مثل رؤساء كهنة العهد القديم ذبائح أولاً عن خطايا نفسه ثم عن خطايا الشعب لأنه فعل هذا مرة واحدة إذ قدم نفسه، وبعدما قدم ذاته الإلهية الطاهرة عن خطايا العالم جلس إلى الأبد عن يمين الله (عب۱۲:۱۰)،</p>
<p>وإذ صارت ذبيحة الرب الممجدة بعد قيامته من بين الأموات فوق كل زمان وكل مكان، أمكن للكنيسة بالروح القدس أن تقدم جسد المسيح ودمه الحقيقيين كصورة مرئية للذبيحة الحقيقية القائمة في العرش الإلهي، التي لا يراها المؤمنون الآن وهم على الأرض بعيونهم الجسدية.</p>
<p>وفي هذا يقول الكاهن عند استدعاء الروح القدس لتقديس القرابين: «ففيما نحن أيضاً نصنع ذكر آلامه المقدسة وقيامته من الأموات وصعوده إلى السموات وجلوسه عن يمينك أيها الآب وظهوره الثاني الآتي من السموات المخوف المملوء مجداً نقرب لك قرابينك من الذي لك على كل حال ومن أجل كل حال وفي كل حال».</p>
<p>ومعنى هذا أن الرب يسوع الكاهن الأعظم الذي يقف أمام الآب كشفيع عن المؤمنين لا يزال يمارس كهنوته ويقدم ذبيحته للمجاهدين في شكل خبز وخمر لكي يتحدوا بجسده ودمه غفراناً لخطاياهم وحياة أبدية لكل من يتناول منهما. لأجل هذا نثق في مقدار العمل العظيم الذي عمله الرب يسوع معنا عندما مات وقام وصعد إلى السماء.. إنه &#8220;يقدر أن يخلص أيضا إلى التمام الذين يتقدمون به إلى الله إذ هو حي في كل حين ليشفع فيهم. لأنه كان يليق بنا رئيس كهنة مثل هذا قدوس بلاشر ولا دنس قد انفصل عن الخطاة وصار أعلى من السموات&#8221; (عب٧: ٢٥، ٢٦).</p>
<p><strong>ومسئوليتنا الآن</strong></p>
<ul>
<li>أن نتمسك بالإقرار لأنه ليس لنا رئيس كهنة غير قادر أن يرثى لضعفاتنا بل مجرب في كل شيئ مثلنا بلا خطية فلنتقدم بثقة إلى عرش النعمة لكي ننال رحمة ونجد عونا في حينه ..</li>
<li>ليكن لنا ثقة أيها الأخوة بالدخول إلى الأقداس بدم يسوع طريقا كرسه لنا حديثاً حياً بالحجاب أي جسده وكاهن عظيم على بيت الله .</li>
<li>لنتقدم بقلب صادق في يقين الإيمان مرشوشة قلوبنا من ضمير شرير ومغتسلة أجسادنا بماء نقي (عب۱۰: ۱۹- ۲۱) .</li>
<li>غير ناظرين إلى الأشياء التي ترى بل التي لا ترى لأن التی تری وقتية وأما التي لا ترى فأبدية&#8221; (2كو٤: ۱۸) لأن سيرتنا الآن في السموات التي منها ننتظر مخلصاً هو الرب يسوع المسيح الذي سيغير جسد تواضعنا ليكون على صورة جسد مجده بحسب عمل استطاعته أن يُخضع لنفسه كل شئ (في٣: ٢٠).</li>
</ul>
<p>ولنسمع في خشوع نصيحة الكنيسة المسطورة في كتاب السنكسار عن عيد الصعود: &#8220;فأية تعزية وأی فرح حصل عليهما الجنس البشري في هذا اليوم الذي فيه سيدنا له المجد بعدما انتصر على العالم والشيطان والموت بسفك دمه على خشبة الصليب، صعد إلى السموات ليعد لنا مكاناً، فهل بعد هذا لا نتبعه ونعمل وصاياه كيف لا ونحن يجب أن نصعد معه بعقولنا رافضين كل أمل ورغبة في الأمور الزمنية وتائقين نحو السماء متأملين في نعيمها الدائم، ومنعطفين بكل قلوبنا نحو البلوغ إلى ذلك الوطن السعيد حيث نرث ونملك ونتنعم هناك.</p>
<p></p>
<h4>ظهورات متعددة &#8211; للمتنيح القمص لوقا سيداروس<a href="#_ftn10" name="_ftnref10">[10]</a></h4>
<p>ثم أن الرب ظل يظهر لنا مدة أربعين يوماً يتكلم معنا عن أسرار الملكوت.. كشفها كلها لنا واستودعها خزانة قلوبنا حتى إذا ما ذهبنا نكرز ببشارة الملكوت يكون ملكوته وأسرار ملكوته داخلنا. وبعد الأربعين يوماً من قيامته أخرجنا خارج القرية ووضع يديه علينا وباركنا وفيما هو يباركنا انفرد عنا ثم ابتدأ يرتفع رويداً رويداً ونحن شاخصون إليه حتى أخذته سحابة عن أعيننا صرنا في دهشة وشبه ذهول، ثم أرسل إلينا ملاكين من السماء وقالا: &#8220;أيها الرجال الجليلون، ما بالكم واقفين تنظرون إلى السماء؟ إن يسوع هذا الذي ارتفع عنكم إلى السماء سيأتي هكذا كما رأيتموه منطلقاً إلى السماء&#8221;.</p>
<p>يا للعجب لم نحزن عندما فارقنا هذه المرة، بل منظره وهو صاعد إلى السماء رفع أفكارنا عالياً حتى صار كنزنا (المسيح) في السماء.</p>
<p>صارت السموات وطننا؛ وسيرتنا فيها؛ وهدفنا أن نوصل كل إنسان ونحضره كاملاً في المسيح يسوع. توطد إيماننا بالمسيح ابن الله الحي الكائن والذي كان والذي سيأتي ثانية وهو مالئ الكل بلاهوته.</p>
<p>رجعنا إلى العلية والفرح يغمرنا جميعاً. سجدنا وصلينا وأحسسنا بالقلب الواحد والحب والفرح والنور. إنها حياة جديدة بأكملها. قلت لإخوتي الرسل: الآن علمنا تدبير المسيح من اختيارنا كاثنی عشر سبط جديد لبنيان كنيسته التي هي جسده. وهذا الأمر يدرك بالروح في البشرية الجديدة والخليقة الجديدة. وقد علمت أننا سنخرج إلى العالم نكرز بملكوت الله ونثمر للروح ونلد شعباً جديداً غيوراً في أعمال صالحة وحائزاً على نعمة البنوة. فالأمر ليس عدداً بقدر ما هو كيان وأساسات بنیان ملكوت الله.</p>
<p>والآن وقد خان واحد منا خيانة عظمى وسلم نفسه للشيطان وروح الظلمة وأحب المال أكثر من المسيح وكملت فيه نبوات ونبوات أن تكون داره خراباً ولا يسكنها ساكن ويقطع اسمه في جيل واحد وكمل فيه كلام يسوع أنه كان خير له لو لم يولد . فالآن يجب أن نختار واحداً عوضاً عن يهوذا يكون شاهداً بموت الرب وقيامته وملتصقاً بالمسيح منذ معرفتنا به ودخوله وخروجه ليأخذ قرعة الخائن ويذهب إلى أسقفيته التي يرسله الروح إليها. فاختاروا رجلين فيهما هذه المواصفات &#8220;ثم ألقوا قرعتهم، فوقعت القرعة على متياس، فحسب مع الأحد عشر رسولاً&#8221;.</p>
<p></p>
<h4>عيد الصعود &#8211; للمتنيح الأرشيدياكون بانوب عبده<a href="#_ftn11" name="_ftnref11">[11]</a></h4>
<p><strong>صعوده إلى السماء:</strong></p>
<p>يقول مرقس الأنجيلي &#8220;ثم إن الرب بعد ما كلمهم ارتفع إلى السماء&#8221; (مر١٦: ٩)، والسماء التي صعد إليها هي المحل الأساسي أي أعلى السموات حيث يظهر الله حضوره وجلاله للقديسين والملائكة، وفيها المسيح بالجسد المقدس المتحد باللاهوت ويبقى هناك إلى مجيئه الثاني طبقاً لقول بطرس عنه &#8220;الذي ينبغي أن السماء تقبله إلى أزمنة رد كل شيء التي تكلم عنها الله بفم جميع أنبيائه القديسين منذ الدهر&#8221; (أع٣: ٢١). ويقول بولس البوشى في ميمره إن مخلصنا [صعد إلى السموات بالجسد وهو فيها باللاهوت لم يزل، وإنما ذكر نزوله أي أنه تجسد، وذكر صعوده أي أنه صعد بالجسد الذى اتحد به إلى فوق كل رياسة وسلطان، وخضعت له الملائكة والرؤساء والقوات&#8221;.</p>
<p>ويفصل الآباء صعوده بقولهم إنه بعد توديع تلاميذه انطلق إلى فوق واجتاز طبقة الهواء الذى هو السماء الأولى، وطبقة الجلد الذى هو السماء الثانية، ثم اجتاز الفردوس إلى فوق كما قيل عنه إنه &#8220;إجتاز السموات&#8221; (عب٤: ١٤)، أي جاوزها إلى ما بعدها، كما قال عنه بولس &#8220;إن الذى نزل هو الذى صعد أيضاً فوق جميع السموات لكى يملأ الكل&#8221; (أف٤: ١٠)، وهناك جلس في عرش الآب كقوله &#8220;من يغلب فسأعطيه أن يجلس معي في عرشي كما غلبت أنا أيضاً وجلست مع أبى في عرشه&#8221; (رو٣: ٢١). ولما كان سر التجسد الألهى قد ظل مكتوماً حتى عن الطغمات الملائكية، فالكنيسة التي أقتناها المخلص بدمه هي التي أزاحت الستار عنه وكاشفت به الطغمات السمائية، كما يتضح ذلك من الحوار الذى دار بينها وبينهم، واستخدمت فيه ما نطق به داود بلسان الوحي القائل &#8220;أرفعوا أيها الرؤساء أبوابكم. وارتفعي أيتها الأبواب الدهرية ليدخل ملك المجد&#8221;. فتستفسر هذه الطغمات عن هذا المللك بقولها &#8220;من هو هذا ملك المجد&#8221;، فتجيبها قائلة &#8220;الرب العزيز القادر. الرب القوي في الحروب&#8221;. ثم تكرر النداء قائلة &#8220;إرفعوا أيها الرؤساء أبوابكم. وإرتفعي أيتها الأبواب الدهرية ليدخل ملك المجد&#8221;، فتكرر الطغمات الأستفسار قائلة &#8220;من هو هذا ملك المجد&#8221; فتجيبها قائلة &#8220;رب القوات. هذا هو ملك المجد&#8221; (مز٢٤: ٧- ١٠). وإذ كانت الكنيسة القبطية تجمع بين القيامة والصعود في الاحتفاء بعيد القيامة المجيد في الإحتفاء بعيد القيامة المجيد، فما ذلك إلا للتدليل على أن تمجيد الكلمة المتجسد في قيامته يتساوى مع تمجيده في صعوده.</p>
<p>ويقول لوقا عن صعوده &#8220;وفيما هو يباركهم انفرد عنهم وأصعد إلى السماء&#8221; (لو٢٤: ٥١). ولقد ترك صعوده أمامهم وهم يشاهدونه أثراً كبيراً في ذاكراتهم، وقوى إيمانهم بأنه حي وملك، ودفع دعوى جميع المقاومين الذين ادعوا أنه مات كسائر الناس.</p>
<p></p>
<p><strong>صعوده بالسحابة</strong></p>
<p>ويبين لوقا في سفر الأعمال كيف صعد رب المجد إلى السماء فيقول &#8220;ولما قال هذا ارتفع وهم ينظرون وأخذته سحابة عن أعينهم&#8221; (أع١: ٩). وقد أشارت نبوات داود إلى ذلك أكثر من مرة، فجاء في أحداها قوله &#8220;ركب على الشاروبيم وطار. طار على أجنحة الرياح&#8221; (مز١٨: ١٠)، فذكر أولاً ركوبه على الشاروبيم ثم طيرانه على أجنحة الرياح ليعلن قوة لاهوته، وأنه غير محتاج إلى شيء من البرايا. فأصعد الجسد المتحد به بقوة إلى أعلى المراتب الروحانية فوق كل القوات العقلية.</p>
<p>وقال في نبوة ثانية &#8220;الذى جعل مسالكه على السحاب. الماشي على أجنحة الرياح&#8221; (مر١٠٤: ٣)، أعني أن الجو غير المحسوس والرياح غير المضبوطة صعد فيها بقوة لاهوته من غير مانع، وكأن لها أجنحة خادمة لباريها.</p>
<p>ثم قال في نبوة ثالثة &#8220;الرب قد ملك فلتتهلل الأرض ولتفرح الجزائر الكثيرة سحاب وضباب حوله&#8221; (مز٩٧: ١، ٢)، فقوله &#8220;ملك&#8221; أي غلب الشيطان، وأن الجسد ظفر بالمُلك الأبدي كما قال لرسله بعد قيامته &#8220;أعطيت كل سلطان في السماء وعلى الأرض&#8221;. وإن كان السلطان له لم يزل، إنما عنى الجسد الذى أعطى كرامة وسلطاناً باتحاده باللاهوت وإقامته من بين الأموات، وهكذا نفهم نوع الصعود والجلسة والملك. هذا هو الملك الذى عناه الملاك غبريال حين بشر مريم وقال لها: &#8220;ويملك على بيت يعقوب إلى الأبد ولا يكون لملكه نهاية&#8221; وهو أيضاً ما أشار إليه المرنم حين قال &#8220;كرسيك يا الله إلى دهر الدهور. قضيب الإستقامة هو قضيب ملكك&#8221; (مز٤٥: ٦).</p>
<p>لقد نقل أخنوخ حياً، ورفع إيليا في مركبة نارية في أماكن علوية، ولم يكن رفعهما بسلطانهما أما صعود المخلص فكان بسلطانه المطلق وإلى أعلى عليين.</p>
<p>هذا وركوبه على السحاب هو لأظهار مجده ومهابته كما فعل بطور سيناء، وليعلمنا أن الأبرار سوف يختطفون إليه على السحاب كما يقول بولس &#8220;ثم نحن الأحياء الباقين سنخطف جميعاً معهم في السحب لملاقاة الرب في الهواء&#8221; (١تس ٤: ١٧).</p>
<p>ويقول السروجى [ولما تعالى إلى بلد السحاب ليكرمه. لم تنزل السحب ولكنه لما صعد إليها قبلته والتقت بسيدها&#8230; قبلته ولم تحمله لأنه مكرم&#8230; هو الذى تعالى ولم يرفعه أحد&#8230; لم تأته مركبة مثل إيليا&#8230; تعالى العريس إلى بلده].</p>
<p><strong>صعوده بالمجد</strong></p>
<p>ويتحدث الرسل في رسائلهم عن صعود المخلص إلى السماء بمجد عظيم فبولس يقول &#8220;وبالإجماع عظيم هو سر التقوى. الله ظهر بالجسد تبرر في الروح تراءى لملائكة كرز به بين الأمم أومن به في العالم رفع في المجد&#8221; (١تي٣: ١٦). ويبين كاتب سفر الأعمال انه إرتفع بيمين الله فيقول عنه &#8220;هذا رفَّعه الله بيمينه رئيساً ومخلصاً&#8221; (أع 5: 31)، وبطرس في خطابه يوم الخمسين أيَّد هذا حين قال عنه إنه &#8220;إرتفع بيمين الله وأخذ موعد الروح القدس&#8221; (أع٢: ٣٣). ويزيد بولس الإيضاح فيقول &#8220;لذلك رفَّعه الله أيضاً وأعطاه إسماً فوق كل إسم&#8221; (في٢: ٩)، ثم يبين الصفة التي دخل بها إلى السماء فيقول عنه &#8220;حيث دخل يسوع كسابق لأجلنا صائراً على رتبة ملكى صادق ورئيس كهنة إلى الأبد&#8221; (عب٦: ٢٠). وقوله &#8220;دخل كسابق&#8221; يراد به أننا إن حفظنا وصاياه نصعد كلنا إليه ونجلس معه مخلدين متنعمين في ملكه الدائم. ويزيد بطرس الأيضاح بقوله &#8220;إذ قد مضى إلى السماء وملائكة وسلاطين وقوات مخضعة له&#8221; (١بط ٣: ٢٢).</p>
<p>وهذا المجد الذى صعد به سبقت النبوات فأشارت إليه، فالمزمور يقول عنه &#8220;صعد الله بتهليل. والرب بصوت البوق&#8221; (مز٤٧: ٥)، هذا عدا النبوة التي أشرنا إليها عند الكلام على صعوده بالسحابة وهى التي تقول &#8220;ركب على الشاروبيم وطار. طار على أجنحة الرياح&#8221; (مز١٨: ١٠).</p>
<p><strong>جلوسه</strong><strong>:</strong></p>
<p>ويقول الأنجيلى إن مخلصنا لما صعد إلى السماء &#8220;جلس عن يمين الله&#8221; (مر١٦: ١٩)، ويقول المتشكك إذا صح القول بالجلوس على الأبن لأنه تجسد فكيف يقال عن الآب إن له يميناً، إذ معنى هذا أن يكون الجالس والمجلوس عن يمينه جسمين منفردين في جهتين مختلفتين؟ ويرد على ذلك بأن الجلوس هنا ليس هو الجلوس المعروف بل المقصود به المبالغة في الأكرام والأجلال الحاصلين للصاعد متجسداً. ويحتمل أن يكون المراد بالجلوس عدم مفارقة الناسوت للاهوت في الصعود وبعد الصعود أيضاً. ولئلا يظن أن الأبن غير مساوٍ للآب بسبب تجسده أو صار له بعد من الإله، قيل أنه جلس عن يمينه ليُعلِّم أن اتصاله بالآب باق بحاله، وأنه لم ينقص شيئاً من مجده وشرفه. وإذا كان السيد قد قال عن الملائكة إنهم &#8220;يرون وجه أبي الذى في السموات&#8221; (مت١٨: ١٠)، وهو لم يرد إلا مجده لأن الوجه أشرف ما في الإنسان، وبذلك كان لهم الدالة والقربى عنده ، فمن باب أولى الناسوت المسيحي. وإذا كان قد ذكرعن الله في الأسفار النبوية الطلوع والنزول، ولم يرد بذلك الأمر المشهور بل التنازل في الخطاب على نحو ما ألفته عقول المخاطبين، فكذلك نحن نفسر الجلوس بالتشريف واليمين بالمجد.</p>
<p>وبالجملة لا يراد بالجلوس الجلوس الجسماني ولا تعدد الجوهر الفرد، ولا صورة جسمانية للآب لها يمين ويسار، لأن الله جل وعلا روح محدود. إنما هذا تعبير روحي للدلالة على سمو منزلة المسيح وعظمة رفعته إلى حد الكمال الألهي، والمساواة في القدرة والسلطان والعظمة وكل كمال جوهري بين الأقانيم الثلاثة. ويفهم بجلوسه أيضاً المُلك مع أبيه وتدبير الكنيسة.</p>
<p><strong>جلوسه عن اليمين</strong></p>
<p>أما يمين الآب فلا يفهم به مكان معين في السماء فهذا من خصائص الأجسام لأن الله موجود في كل مكان وليس له يمين وشمال، بل إن ذلك استعارة يعبر بها عن المساواة بالمجد والشرف والعزة والقدرة إلى أخر الكمالات الألهية، وبتعبير آخر مساواته للآب في اللاهوت والمجد.</p>
<p>وقد تنبأ داود عن جلوسه عن يمين أبيه بقوله &#8220;قال الرب لربي اجلس عن يميني حتى أضع أعداءك تحت موطئ قدميك&#8221; (مز١١٠: ١). وأيد بولس هذا المعنى غير مرة في رسائله فقال في رسالته إلى العبرانيين &#8220;وأما رأس الكلام فهو أن لنا رئيس كهنة مثل هذا قد جلس في يمين عرش العظمة في السموات&#8221; (عب٨: ١)، وقال أيضاً &#8220;ناظرين إلى رئيس الأيمان ومكمله يسوع الذي من أجل السرور الموضوع أمامه احتمل الصليب مستهينًا بالخزي فجلس في يمين عرش الله&#8221; (عب١٢: ٢). ثم يبين أنه بذلك فاق جميع الملائكة وذلك بقوله &#8220;ثم لمن من الملائكة قال قط اجلس عن يميني حتى أضع أعداءك موطئاً لقدميك&#8221; (عب١: ١٣). وأنه جلس عن اليمين بعد أن أتم عمل الفداء، فقال عنه &#8220;الذي وهو بهاء مجده وصورة أقنومه وحامل كل الأشياء بكلمة قدرته بعد ما صنع بنفسه تطهيراً لخطايانا جلس في يمين العظمة في الأعالي&#8221; (عب١: ٣). واستفانوس أيضاً في خطابه لليهود قال &#8220;ها أنا أنظر السموات مفتوحة وابن الإنسان قائماً عن يمين الله&#8221; (أع٧: ٥٥).</p>
<p>ويقرر بولس أن جلوسه عن اليمين هو إلى الأبد إذ يقول &#8220;وكل كاهن يقوم كل يوم يخدم ويقدم مراراً كثيرة تلك الذبائح عينها التي لا تستطيع البتة أن تنزع الخطية. وأما هذا فبعد ما قدم عن الخطايا ذبيحة واحدة جلس إلى الأبد عن يمين الله&#8221; (عب10: ١١، ١٢).</p>
<p><strong>عظمته:</strong></p>
<p>وتأكيداً لأن الجلوس عن اليمين يراد به العظمة يقول بولس عنه إنه &#8220;جلس في يمين العظمة في الأعالي صائراً أعظم من الملائكة بقدر ما ورث اسماً أفضل منهم&#8221; (عب١: ٣). وليس هذا التفوق على الملائكة فحسب بل كما قال بولس &#8220;واجلسه عن يمينه في السماويات فوق كل رياسة وسلطان وقوة وسيادة وكل اسم يسمى ليس في هذا الدهر فقط بل في المستقبل أيضاً وأخضع كل شيء تحت قدميه وإياه جعل رأساً فوق كل شيء للكنيسة&#8221; (أف١: ٢٠- ٢٢). وبطرس يؤكد أيضاً هذه العظمة بقوله عنه &#8220;الذى هو في يمين الله إذ قد مضى إلى السماء وملائكة وسلاطين وقوات مخضعة له&#8221; (1بط 3: 22).</p>
<p><strong>خضوع أعدائه له:</strong></p>
<p>وتتضمن نبوة داود المشار إليها سابقاً أن الرب قال له &#8220;أجلس عن يميني حتى أضع أعداءك تحت موطئ قدميك&#8221; (مز١١٠: ١)، والأعداء المقصودين هم الشياطين واليهود والكفرة والذين لم يؤمنوا به، وذلك لقوله له المجد &#8220;فأعدائي الذين لم يشاءوا أن أملك عليهم فاتوني بهم وأذبحوهم قدامي&#8221; (لو١٩: ٢٧). وزاد بولس على هذا التفصيل قوله عن آخر عدو وهو الموت &#8220;لأنه يجب أن يملك حتى يضع جميع الأعداء تحت قدميه. آخر عدو يبطل هو الموت&#8221; (١كو١٥: ٢٥، ٢٦). وقد تكرر خضوع الأعداء له في (عب١٠: ١، ١٣).</p>
<p><strong>دوام ملكه:</strong></p>
<p>أما أنه يملك فثابت من قول الرسول سابقاً وهو &#8220;لأنه يجب أن يملك حتى يضع جميع الأعداء تحت قدميه&#8221; (١كو١٥: ٢٥)، وكون هذا المُلك دائم إلى الأبد يؤيده المزمور القائل &#8220;كرسيك يا الله إلى دهر الدهور. قضيب الأستقامة قضيب ملكك لأنك أحببت البر وأبغضت الأثم . من أجل هذا مسحك الله إلهك بزيت البهجة أفضل من رفقائك&#8221; (مز٤٥: ٦، ٧).</p>
<hr />
<p><a href="#_ftnref1" name="_ftn1">[1]</a>  كتاب تعليقات لامعة علي سفر التكوين للقديس كيرلس عمود الدين &#8211; صفحة ٣٤٣ &#8211; ترجمة دكتورجورج عوض إبراهيم ومراجعة دكتور نصحي عبد الشهيد.</p>
<p><a href="#_ftnref2" name="_ftn2">[2]</a>  كتاب تعليقات لامعة علي سفر التكوين للقديس كيرلس عمود الدين &#8211; صفحة ٣٤٣ &#8211; ترجمة دكتورجورج عوض إبراهيم ومراجعة دكتور نصحي عبد الشهيد.</p>
<p><a href="#_ftnref3" name="_ftn3">[3]</a>  كتاب الحب الإلهي  &#8211; صفحة ٩١٤- ٩٢٦ &#8211; القمص تادرس يعقوب ملطي.</p>
<p><a href="#_ftnref4" name="_ftn4">[4]</a>  مجلة مدارس الأحد عدد مايو لسنة ١٩٦٩.</p>
<p><a href="#_ftnref5" name="_ftn5">[5]</a>  كتاب مقالات الأنبا بولس البوشي أسقف مصر وأعمالها &#8211; صفحة ٩٩ &#8211; القس منقريوس عوض الله.</p>
<p><a href="#_ftnref6" name="_ftn6">[6]</a>  كتاب عظات القديس أغسطينوس علي رسالة يوحنا الأولي – ترجمة القس بنيامين مرجان.</p>
<p><a href="#_ftnref7" name="_ftn7">[7]</a>  تفسير سفر إشعياء &#8211; إصحاح ٤٧ ، تفسير سفر الأعمال الإصحاح الأول &#8211; القمص تادرس يعقوب ملطي.</p>
<p><a href="#_ftnref8" name="_ftn8">[8]</a>  كتاب المنجلية القبطية الأرثوذكسية &#8211; صفحة 409 &#8211; البابا تواضروس الثاني.</p>
<p><a href="#_ftnref9" name="_ftn9">[9]</a>  كتاب موسوعة الأنبا بيمن &#8211; المجلد الثاني (الأصوام والأعياد &#8211; الجزء الأول) &#8211; صفحة ٢٣٧ &#8211; مطرانية ملوي وأنصنا والأشمونين.</p>
<p><a href="#_ftnref10" name="_ftn10">[10]</a>  كتاب القديس بطرس يعلمني &#8211; صفحة ١٠١ &#8211; القمص لوقا سيداروس.</p>
<p><a href="#_ftnref11" name="_ftn11">[11]</a>  كتاب كنوز النعمة لمعونة خدام الكلمة &#8211; الجزء السادس صفحة ٣٦٢ &#8211; الأرشيدياكون بانوب عبده.</p>

      {% endcreateArticleAccordions %}
    </section>
  {% endblock %}
  