---
layout: 'layouts/reading.html'
title: 'يوم الجمعة من الأسبوع السادس للخمسين يوم المُقَدَّسَة'
tags: 'pentecost'
permalink: /articles/pentecost/6-5.html
---
  {% block content %}
    <section id="readings">
      <ul>
      {% if 'undefined' != 'undefined' %}
      
      {% else %}
      {% if '19.99:1-2' != 'null' %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">العشية</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeVespers '19.99:1-2' '41.8:34-9:1' %}
          </div>
        </div>
      </li>
      {% endif %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">باكر</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeMatins '19.110:1-2' '41.9:2-7' '' %}
          </div>
        </div>
      </li>
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <h3 class="flex items-center justify-between">
            <span class="kufi">القداس</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </h3>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeLitugy '46.11:2-16' '62.5:14-21' '44.22:6-10' '19.69:32,33,30' '43.14:26-31' %}
          </div>
        </div>
      </li>

      {% endif %}
        </ul>
    </section>
    <section id="article">
      <h3 class="mt-8 mb-4 heading-explain">شرح القراءات</h3>
      {% createArticleAccordions %}
        <h3>مجد البشرية</h3>
<p>تتكلم قراءات اليوم عن مجد البشرية الذي نالته بصعود المسيح بالجسد إلى السماء الذي أعاد لنا نحن المؤمنين مجد الشركة مع الآب وسكن الروح القدس والنصرة الدائمة على قوات الظلمة..</p>
<h4>المزامير</h4>
<p>لذلك تبدأ المزامير:</p>
<ul>
<li>بإعلان حقيقة مجد ابن الله الذي أخلى ذاته من أجل مجد أولاده. (مزمور عشية).</li>
<li>لذلك أعطى لأولاده عطية الشركة مع الآب وإمكانية النصرة على الشيطان. (مزمور باكر).</li>
<li>والتي جعلت الكنيسة تحيا التسبيح الدائم لإبن الله. (مزمور القداس).</li>
<li>&#8220;الجالس على الشاروبيم فلتتزلزل الأرض&#8221;. (مز98: 1).</li>
<li>&#8220;قال الرب لربي إجلس عن يميني حتى أضع أعدائك تحت موطئ قدميك&#8221;. (مز109: 1).</li>
<li>&#8220;اسبح إسم الله بالتمجيد وأرفعه بالتسبيح&#8221; (مز68: 27).</li>
</ul>
<h4>انجيل عشية</h4>
<p>وفي انجيل عشية يوضح ← <strong>مجد ابن الله في مجيئه الثاني مع طغمات الملائكة</strong>. &#8220;لأن من يستحي بأن يعترف بي وبكلامي في هذا الجيل الفاسق الخاطئ يخزيه ابن الانسان متى جاء في مجد أبيه مع ملائكته القديسين&#8221;.</p>
<h4>انجيل باكر</h4>
<p>وفي انجيل باكر يعلن ← <strong>أن عربون هذا المجد استعلن للكنيسة جسده في حضوره الدائم فيها مع أعضاء جسده السمائيين </strong>(إيليا وموسى)<strong> والأرضيين </strong>(بطرس ويعقوب ويوحنا). &#8220;وبعد ستة أيام أخذ يسوع بطرس ويعقوب ويوحنا فأصعدهم إلى جبل عال على إنفراد وتجلى أمامهم وصارت ثيابه تلمع كالثلج بيضاء جداً لا يقدر قصار على الأرض أن يبيض هكذا وتراءى لهم إيليا وموسى&#8230;&#8221;.</p>
<h4>البولس</h4>
<p>وفي البولس عن ← <strong>أن مجد المسيح في الكنيسة وللكنيسة كمثل مجد الرجل في المرأة للمرأة </strong>فكما أن رأس المسيح الآب أي أن المسيح له المجد يعلن مجد الآب كذلك الرجل رأس المرأة بمعنى أن المرأة تعلن مجد رجلها لذلك تغطي رأسها وكما أن ابن الله في وحدة التدبير والإرادة مع الآب وفي خضوعه للآب أعطانا مجده هكذا الزوج في وحدة تدبيره وارادته مع المسيح يأخذ مجد المسيح وكذلك الزوجة في وحدة تدبيرها وارادتها مع رجلها وفي خضوعها له يعطيها المسيح مجده خلال زوجها وتصير الأسرة المسيحية أحد إعلانات العهد الجديد عن مجد الثالوث &#8220;ولكن أريد أن تعلموا أن رأس كل رجل هو المسيح وأن رأس المرأة بعلها ورأس المسيح هو الله &#8230;&#8230; وإن كان قبيحاً بالمرأة أن تحلق رأسها أو يجز شعرها فلتتغط فأما الرجل فليس يجب أن يغطي رأسه لأنه صورة الله ومجده وأما المرأة فهي مجد بعلها&#8221;.</p>
<h4>الكاثوليكون</h4>
<p>وفي الكاثوليكون عن ← <strong>مجد وحدة مشيئتنا مع المسيح </strong>لذلك صارت لنا الثقة والدالة العظيمة عنده ونلنا مجد استجابة الطلبات والتي استعلنت خلال عضويتنا في جسد المسيح في صلواتنا لأجل كل من في موت الخطية &#8220;وهذه هي الثقة التي لنا عنده أنه إن طلبنا شيئاً حسب مشيئته يسمع لنا &#8230;. وإن رأى أحد أخاه قد إرتكب خطية ليست للموت يطلب فيهب له حياة للذين يخطئون ليس للموت&#8221;.</p>
<p>كما يتكلم أيضاً عن ← <strong>مجد البصيرة والإستنارة ومعرفة الحق</strong> &#8220;وقد علمنا أيضاً أن ابن الله قد جاء وقد أعطانا بصيرة لنعرف الحق ونحن ثابتون في الحق بإبنه يسوع المسيح&#8221;.</p>
<h4>الابركسيس</h4>
<p>وفي <strong>الابركسيس </strong>عن ← <strong>مجد ابن الله </strong>الذي رغم أنه قائم عن يمين الآب فهو حاملاً كل مؤمنيه في جسده لذلك يعلن مجد حمايته للكنيسة وسلطانه على المقاومين بل وإفتقاده لهم<strong> &#8220;</strong>فحدث لي وأنا ذاهب ومتقرب إلى دمشق نحو نصف النهار بغتة ابرق حولي نور عظيم من السماء فسقطت على الأرض وسمعت صوتاً يقول لي: يا شاول يا شاول لماذا تضطهدني؟، فأجبت وقلت: من أنت يا سيد، فقال: أنا يسوع الناصري الذي أنت تضطهده&#8221;.</p>
<h4>إنجيل القداس</h4>
<p>وفي انجيل القداس عن ← مجد الروح القدس للمؤمنين الذي يعلمنا كل شئ ويعطينا مما للمسيح من سلامه ونعمته ونصرته على الشيطان. &#8220;فإذا جاء المعزي الروح القدس الذي سيرسله الآب بإسمي فهو يعلمكم كل شئ ويذكركم بكل ما قلته لكم سلامي أترك لكم سلامي أنا أعطيكم &#8230;. فإن رئيس هذا العالم آت وليس له فيَّ شئ&#8221;.</p>
<h3>ملخص الشرح</h3>
<ul>
<li>الكنيسة تحيا التسبيح الدائم لإبن الله الجالس على الشاروبيم الذي أخلى ذاته ليعطي لأولاده مجد الشركة مع الآب وسكن الروح القدس. (مزمور عشية - مزمور باكر – مزمور القداس).</li>
<li>الكنيسة تعلن عن عربون مجد إبن الله خلال حضوره الإلهي فيها وسط أعضاء جسده السمائيين والأرضيين إلى أن يستعلن بهاء مجده في مجيئه الثاني مع ملائكته القديسين. (انجيل عشية - انجيل باكر).</li>
<li>مجد المسيح في الكنيسة ومجد الإبن مع الآب متجسد في الأسرة المسيحية في شركة الحب والخضوع بين الرجل والمرأة وفي وحدة مشيئتهما في المسيح. (البولس).</li>
<li>وحدة مشيئتنا مع المسيح يمنحنا مجد الثقة والدالة والبصيرة والإستنارة وإستجابة الصلاة لأجل سلامة الكنيسة وخلاص الجسد الواحد. (الكاثوليكون).</li>
<li>مجد ابن الله القائم عن يمين الآب معلن في حمايته للكنيسة جسده وفي سلطانه على المقاومين وافتقاده لهم. (الابركسيس).</li>
<li>صعود المسيح منح المؤمنين به مجد الروح القدس الذي ينقل لهم كل ما للمسيح. (إنجيل القداس).</li>
</ul>
<h3>عظات آبائية للجمعة السادسة للخمسين يوم المقدسة</h3>
<h4>مقالة من أجل السلام الداخلي - القديس الأنبا أنطونيوس كوكب البريَّة<a href="#_ftn1" name="_ftnref1"><sup>[1]</sup></a></h4>
<p>ليكن ظاهراً لنا يا أخوة أننا أُمرنا أن نسعى في طلب السلامة لندركها. فإن عيني الرب تنظر للصديقين، ومسامعه تنصت إلى صلواتهم.</p>
<p>أيها الأخوة.. لنعرف السلام الذى في الله، ونسعى إليه لئلا يكون لنا نصيب الخطاة، فهو القائل سلامي أعطيكم سلامي أتركه لكم.</p>
<p>تعالوا يا أخوتي بالحقيقة لنجاهد حتى نمسك بالسلام الذى في المسيح، من أجل أن السلامة النازلة لنا من عند أب الأنوار وملك الدهور الذى يحب السلامة، فقد جعل له شركة مع حبيب الآب يسوع المسيح ومع ملائكته، فلا يلحقنا شيء من التعب.</p>
<p>أما بنو الشرير فإنهم يكونون في حسد وقلق.</p>
<p>أنه من أجل الحسد الذى هو رئيس المكر تعذب بنو الله وبالحسد قويت الخطية، وملك الموت على الجحيم، وصار الشجر بغير ثمر وأبدل طبيعتها.</p>
<p>من أجل الحسد سفكت الدماء التي بغير خطية.</p>
<p>فلنهرب من الحسد والخصام. لأن الذى يكون صديقاً لحسود أو مخاصم فهو صديق لسبع ضار. إن المطمئن لسبع أو ثعبان أكثر سلامة ممن يطمئن لمخاصم أو حسود.</p>
<p>إنسان لا يخاف من الخصام لا يشفق على أحد من الناس، وإن كان صديقه، وليس أحد يظهر أمامه ذو قدر أو مستقيم على الطريق، لأن دمك في يديه كمثل كف ماء يهرقه على الأرض. وحياتك معدودة عنده كلا شيء.</p>
<p>والآن يا أولادي.. اهربوا من الحسد حتى تصيرون أولاداً أحباء للسلامة، ولا تكونوا أضداد بعضكم لبعض، لأن الأنسان الشرير في حياته كلها يسرع في أعمال الهلاك، ويكون سعيداً في حياة ردية، ويصبح الشتم كريماً عنده، ويفتخر بكلام الجهالة.</p>
<p>والآن يا أولادى أن كثيرين منكم يحبون أن يسعوا على الأرض بثمرات الحقل أو الخمر أو كروم، فلا تأكلوا وتشربوا بلا مقدار، لئلا تنسوا الرب إلهكم كمثل كلام الإنجيل، بل نتعب في العمل بأيدينا لكي نرفع للرب ذبائح ومحرقات سلامة، لكى يسمع الله الصالح صلاتنا، ونسمع صوته الحلو القائل: طوباهم المصلحين بين الناس، فإنهم يدعون بنو الله، إله السلامة إلى الأبد.</p>
<h4>رباط السلام والمحبة - القديس الشهيد كبريانوس أسقف قرطاجنة <a href="#_ftn2" name="_ftnref2"><sup>[2]</sup></a></h4>
<ul>
<li>نقرأ في الإنجيل أيها الأخوة الأحباء إن ربنا ومخلصنا عندما حان وقت آلامه بدأ يعلن لتلاميذه عن انطلاقه من هذا العالم الى الآب وخلال أحاديثه لرفقائه المحبوبين التي قدمها لهم كجزء أساسي من ذكراه. استودعهم كعطية خاصة بركة الوحدة والسلام قائلاً &#8220;سلامي أعطيكم&#8221; كما لو كان يريد أن يقول لهم: «في سلام أترككم وفي سلام سوف أجدكم». فإنه إذ كان منطلقاً «بعيداً» عنهم رغب أن يمنحهم شيئاً كان يود أن يكون في كل البشر عند عودته إلى خاصته ترك هذا الميراث واخبرهم عن كل الأمور الصالحة الخاصة بوعده -ومن بينها- مجازاة حفظ السلام.</li>
</ul>
<p>فلذا يا إخوتي <strong>إذا كنا نرغب في أن نكون وارثين للمسيح فعلينا أن نصون سلامه فينا وندوم فيه</strong>.</p>
<p>المسيح أعطانا السلام، كما قد سمعتم تواً أوصانا أن نكون في سلام، وذي فكر واحد مع بعضنا البعض ولقد وضع علينا أن نحفظ رباط السلام والمحبة غير منفصمة أو منثلمة. وفي مكان آخر -من الإنجيل- يعلن الرب عن مجازاة السلام. حيث يقول: &#8220;طوبى لصانعي السلام لأنهم أبناء الله يدعون&#8221;. <strong>واذا بدأ الإنسان في أن يكون إبناً لله فقد بدأ أيضا أن يكون صانع السلام</strong> -والعكس صحيح- يرفض أن يكون ابناً لله من يأبى أن يقبل السلام. ومن يستهن بأن يكون صانع سلام فهو بالتالي يحرم نفسه من أن يكون الله أباً له. فأبناء الله ينبغي أن يكونوا صانعي السلام ذو قلب شفوق بسطاء في الكلام، متحدين في سلام المحبة مرتبطين ارتباطاً وثيقاً ببعضهم البعض برباط المودة الأخوية. ينبغي أن نكون دائما في سلام مع الصالح ومع الطالح حتى ولو أوقف نفسه خصماً لنا. لأن الناس حتى ولو كانوا أشراراً ينبغي أن يظلوا محبوبين منا لأنهم خلائق الله. فالسلام الحقيقي إذ وجد يربط الأخوة معاً برباط السلام ويفيض أيضا فيهم الحب لكل إنسان من حولهم. السلام يجعل روح الله يأتي إلينا بصفة خاصة، <strong>السلام هو والد الحب الحقيقي</strong>. <strong>السلام هو علامة القداسة</strong>. يقول الرب عنه بفم نبيه: &#8220;أحبو الحق والسلام&#8221; (زك ٨: ١٩) <strong>السلام هو شفاء للناس</strong>، مجد للكهنوت وفرح للأمة، ورعب للأعداء المتطرفين وغير المتطرفين. كل إنسان يجب أن يكون حريصاً على السلام أيها الأخوة. يحيا دائماً في الله من يحيا في سلام مقدس ويشارك القديسين في رفقة الله.</p>
<ul>
<li>بدون سلام لا صلاة ولا تقدمة تكون مقبولة. إنه واجب الكاهن أن يُعلِّم الشعب أنهم ينبغي أن يعيشوا في سلام، وعلى الشعب أن يسمع ويطيع ما يجب على الكاهن أن يُعلِّمهم إياه، إنه من واجب الراعي أن يمنع ما هو غير لائق. وواجب الشعب أن يتلقن هذا التعليم ويتبعه، على كل من الكهنة والشعب في كل الحالات أن يحفظوا رباط الوحدة في الإيمان والمحبة لأنه بدون السلام لا صلاة الكاهن ولا تقدمه المؤمن تكون مقبوله لدي الله.</li>
</ul>
<p>لذلك إذا أردنا أن يستجيب الله سريعا لصلواتنا فعلينا أن نحيا في سلام حقيقي &#8220;فإن قدمت قربانك إلى المذبح، وهناك تذكرت أن لأخيك شيئاً عليك، فاترك هناك قربانك قدام المذبح، واذهب أولاً اصطلح مع اخيك، وحينئذ تعال وقدم قربانك&#8221; (مت٥: ۲۳، ٢٤).</p>
<p>الله يريد أن نحيا في سلام وفي فكر واحد تجاه بعضنا البعض. وقد أبان مخلصنا لنا ذلك عندما كان يتكلم في الإنجيل ويقول للآب السماوي: &#8220;أيها الآب القدوس، احفظهم في اسمك الذين أعطيتني، ليكونوا واحداً كما نحن&#8221; (يو۱۷: ۱۱).</p>
<p>ومن أجل هذا يحث الرسول المؤمنين قائلاً لهم: &#8220;أطلب إليكم أيها الأخوة أن تقولوا جميعكم قولاً واحداً، ولا يكون بينكم انشقاقات، بل كونوا كاملين في فكر واحد ورأي واحد&#8221; (1كو١: ۱۰).</p>
<p>وأيضاً: &#8220;لا يكن خصام ولا حسد&#8221; (رو۱۳: ۱۳): &#8220;ليرفع من بينكم كل مرارة وسخط وغضب وصياح وتجديف مع كل خبث&#8221; (أف ٤: ۳۱)، وفي مكان آخر يقول: &#8220;محتملين بعضكم بعضاً في المحبة. مجتهدين أن تحفظوا وحدانية الروح برباط السلام. جسد واحد، وروح واحد، كما دعيتم أيضا في رجاء دعوتكم الواحد&#8221; (أف٤: ٢-٤). فوحدة الفكر كانت موجودة بين الرسل لذلك فإن المؤمنين الجدد الذين كانوا يحفظون وصايا الرب حفظوا كذلك محبته. والكتاب المقدس يقدم الدليل على هذا: &#8220;كلهم كانوا يواظبون بنفس واحدة على الصلاة والطلبة، مع النساء ومريم أم يسوع، ومع إخوته&#8221; (أع١: ۱)، ولذلك سمعت صلواتهم أنهم كانوا يطلبون بثقة أي شئ أرادوه من سخاء الله.</p>
<h3>عظات آباء وخدّام معاصرين للجمعة السادسة للخمسين يوم المقدسة</h3>
<h4>افرح بمسيحك - لقداسة البابا تواضروس الثاني<a href="#_ftn3" name="_ftnref3">[3]</a></h4>
<p><strong>هذا الإنجيل:</strong></p>
<ul>
<li>هو همزة الوصل بين عيدى الصعود والعنصرة،</li>
<li>وهو إنجيل صلاة الساعة الثالثة من صلوات الأجبية اليومية، تذكاراً لعطية الروح القدس،</li>
</ul>
<p><strong>وفيه:</strong></p>
<ul>
<li>الروح القدس: المحامى – معزى – مُدافع عنا.</li>
<li>سلام المسيح: فريد – دائم – حقيقى – ليس من العالم .</li>
</ul>
<p><strong>سلام العالم</strong>:</p>
<ul>
<li>مُتذبذب.</li>
<li>وهمي.</li>
<li>ويدور حول امتيازات الجسد والمال والمنصب&#8230;</li>
</ul>
<p>إن <strong>عطية السلام</strong> تتطلب هجر الخطية،</p>
<p>ورئيس هذا العالم هو الشيطان.</p>
<ul>
<li>ولكن ما معنى عبارة: «أبي أعظم مني؟».</li>
</ul>
<p>المقصود هو أعظم في الحالة لا في الجوهر.</p>
<p>وقد كانت هذه الكلمات هي التي يستخدمها أريوس في بدعته، وكذلك شهود يهوة أو الأريوسية الجديدة حتى الآن.</p>
<p><strong>الفرح بالمسيح</strong> (يو ١٤: ٢٨) هو:</p>
<ul>
<li>في تحقيق هدفه في حياتنا حسب مشيئته الصالحة.</li>
<li>في الشركة الدائمة معه من خلال وسائط النعمة.</li>
<li>في معيته في قلوبنا والإشتياق الدائم له.</li>
<li>ولكن كيف اقتني الفرح بالمسيح؟</li>
<li>تثبيت العشرة الدائمة مع الله أي التواصل اليومى معه بلا فتور أو إهمال .</li>
<li>التدريب المستمر للنظر بعين الإيمان أي عين المسيح التي ترى من فوق الأرض .</li>
<li>حياة الشكر والرضا لأن هذا هو مفتاح البركات التي تُفرح قلب الإنسان .</li>
<li>حياة الشركة والمشاركة أي الخروج من الذات والانطلاق نحو الآخر بالحب والخدمة .</li>
</ul>
<p><strong>سلامنا المسيح</strong></p>
<ul>
<li>إن الروح القدس يُعلِّم ويُذكِّر، وهو:</li>
<li>مُنبثق من الآب.</li>
<li>مُرسل من الابن.</li>
<li>وعطية السلام تنبع من القلب وتصب في العقل &#8220;سلام الله الكامل الذى يفوق كل عقل يحفظ قلوبكم وأفكاركم في المسيح يسوع&#8221; (في٤: ٧).</li>
<li>وعطية السلام يقدمها المسيح:</li>
<li>سلاماً أترك لكم ← فهو سلام جماعى.</li>
<li>سلامى أعطيكم ← فهو سلام خاص أي عطية أو هبة.</li>
<li>في الخدمة يقول الكاهن: السلام لجميعكم «إيرينى باسى».. وفي النهاية يقول «اذهبوا بسلام».</li>
<li>وهناك نوعان هامان من السلام:</li>
<li>السلام القلبي:</li>
</ul>
<p>من الروح القدس ولا يعتمد على الظروف الخارجية، بل على عمل الله والثقة في وعوده ورفقة المسيح للإنسان &#8220;إن سرت في وادى ظل الموت فلا أخاف شراً لأنك أنت معي&#8221; (مز٢٣: ٤).</p>
<p>مثال: التلاميذ في السفينة وقت هياج البحر، ظنوا أن المسيح نائم ففقدوا سلامهم. ولكن متى نفقد سلامنا؟.</p>
<p>عندما لا تسير الأمور على هوانا بسبب متابعتنا لأخطاء الناس، لأننا نشعر بالظلم. وفى موقف المعتدى عليه، لأن لنا رغبات لم تُحقق، بسبب الخطية، بسبب إرهاق أعصابنا، بسبب أفكار الإنسان «سريع الشك، قليل الحيلة».</p>
<ul>
<li>سلام الكنيسة:</li>
</ul>
<p>هناك أوشية السلام، وهذه الأوشية نصليها في كل مناسباتنا، وفيها نصلي من أجل أن يحمي المسيح كنيسته من: الإنقسام والتحزب والعثرة والسقوط الهرطقة والمبدعين.</p>
<ul>
<li>&#8221; ليس كما يعطى العالم أعطيكم أنا&#8221; (يو١٤: ٢٧).</li>
<li>عطية العالم ← مقابل شيء، وثمين - متقلبة، وغير دائمة - محدودة وقصيرة.</li>
<li>أما عطية المسيح فهي ← هبة ومنحة بلا مقابل – دائمة، لأن المسيح دائم غير محدودة - وشاملة.</li>
</ul>
<h4>وحدانية القلب والروح - للمتنيح أنبا بيمن أسقف ملوي وأنصنا والأشمونين<a href="#_ftn4" name="_ftnref4"><sup>[4]</sup></a></h4>
<p><strong>الليتورجيات تصلى من أجل وحدانية القلب والروح والفكر</strong></p>
<p><strong>شركة المؤمنين معاً:</strong></p>
<p>إن المؤمنين عندما يتركون بيوتهم ليذهبوا إلى الكنيسة لممارسة الأسرار الإلهية والإشتراك في الخدمات الكنسية تمحى بينهم الفوارق الطبقية واللغوية والإجتماعية والجنسية، إنهم الآن عائلة واحدة وأهل بيت الله القديسين، إن الجو الكنسي يلفهم جميعاً بروح واحد، وتلتئم الجماعة كلها، وتتناغم كما يحدث لأصوات الآلات الموسيقية التي تعزف لحناً واحداً يرتله الخورس تمجيداً لإسم الله في الكنيسة.</p>
<p><strong>فالليتورجيات تصلى من أجل وحدانية القلب والروح والفكر، كما أنها بالتالي تعمل على تنمية هذه الوحدانية بين المتفرقين وتجمعهم إلى واحد، وتدعم بينهم حياة الشركة والوحدانية</strong>. ففي قداس القديس إغريغوريوس طلبة يجاوب الشعب بعد كل ربع منها قائلاً: کیراليصون، مطلعها تضرع لتدعيم وحدانية القلب: «نعم نسألك أيها المسيح إلهنا ثبت أساس الكنيسة. <strong>وحدانية القلب التي للمحبة فلتتأصل فينا</strong>.…حل تعاظم أهل البدع ونحن كلنا أحسبنا في وحدانية التقوى&#8230;.».</p>
<p>وفي قداس القديس باسيليوس تصلي الكنيسة قائلة: «اجعلنا مستحقين كلنا ياسيدنا أن ننال قدساتك طهارة لأنفسنا وأجسادنا وأرواحنا؛ <strong>لكي نكون جسداً واحداً، وروحاً واحداً، ونجد نصیباً وميراثاً مع جميع القديسين الذين أرضوك منذ البدء</strong>».</p>
<p>وفي ليتورجية الصلوات السبع تضع الكنيسة في صلاة باكر جزء من رسالة معلمنا بولس الرسول إلى أهل أفسس لتؤكد للمؤمنين أهمية هذا الاتجاه في حياتهم الروحية والكنسية: «أسألكم أنا الأسير في الرب أن تسلكوا كما يحق للدعوة التي دعيتم إليها بكل تواضع القلب والوداعة وطول الأناة، محتملين بعضكم بعضاً بالمحبة، مسرعين إلى حفظ وحدانية الروح برباط الصلح الكامل، لكي تكونوا جسداً واحداً وروحاً واحداً كما دعيتم إلى رجاء دعوتكم الواحد: رب واحد، وإيمان واحد، ومعمودية واحدة».</p>
<p>وعلى ذلك تستطيع أن تقول أن الكنيسة تطالب أولادها بوحدانية القلب والروح، لأنهم يعيشون لهدف واحد، ولهم أب واحد، ولهم إيمان واحد، فمن ثم يلزم أن يحققوا هذه الوحدة بالإتضاع والوداعة وطول الأناة والمحبة، ويحمل الأقوياء أثقال الضعفاء ليتمموا ناموس المسيح، وكما يسرعون إلى حفظ هذه الحياة مبتعدين عما يمزق هذه الوحدة من نميمة أو عداوة، أو شر أو كبرياء، أو تعالي أوأنانية أو حب للرياسة والظهور.</p>
<p>كم تحتاج مجتمعاتنا الدينية إلى الالتفات لصوت الليتورجيات الصارخ كل حين داعياً للوحدانية والألفة ولم الشمل..</p>
<p>وتبدو الوحدة في الليتورجيات وخاصة ليتورجية الإفخارستيا واضحة إذ يصلي الأسقف أو الكاهن من أجل الشعب، والشعب أيضا يتجاوب معه «ولروحك أيضاً»، وفي الإنسجام الحادث بين الأسقف أو الكاهن مع الشماس على الشعب صورة للألفة التي بين الجماعة بعضها بعضاً، وتعبير عن الروح الواحد الذي ألفه ووحده الروح القدس بإنسكاب المحبة في قلوب الجميع.</p>
<p>إن السر الكامن وراء الإنقسامات هو ضياع الهدف الواحد والحيّ المشترك، إذ يسعى المنقسمون إلى أهداف أخرى غير مجد المسيح وحده. وهنا تصبح محبة الذات والعطف عليها هي مصدر كل إنقسام، وكل تشتت وضياع للوحدانية والألفة الروحية. وفي هذا يقول معلمنا بولس الرسول &#8220;فرحاً مع الفرحين، وبكاءً مع الباكين، <strong>مهتمين بعضكم لبعض اهتماماً واحداً غير مهتمين بالأمور العالية بل منقادين إلى المتضعين،</strong> &#8220;<strong>لا تكونوا حكماء عند أنفسكم</strong>، لا تجازوا أحداً عن شرٍ بشر معتنين بأمور حسنة قدام جميع الناس&#8221; (رو١٢: ١٥-۱۷).</p>
<p>ويقول أيضاً &#8220;فلنعكف على ما هو للسلام، وما هو للبنيان بعضنا لبعض&#8221; (رو١٤: ١٩) وفي صلاته لأهل رومية يدعو قائلاً: &#8220;ليعطيكم إله الصبر والتعزية أن تهتموا إهتماماً واحداً فيما بينكم بحسب المسيح يسوع لكي تمجدوا الله أبا ربنا يسوع المسيح بنفس واحدة وفم واحد، لذلك <strong>اقبلوا بعضكم بعضاً كما أن المسيح أيضا قبلنا لمجد الله</strong>&#8221; (رو١٥: ٥-٧ ) وعندما حدثت إنشقاقات في كنيسة كورنثوس أرسل إليهم أن يقولوا جميعاً قولاً واحداً ولا يكون بينهم إنشقاقات، بل يكونون كاملين في فكر واحد ورأي واحد. وأعتبر الحسد والخصام والإنشقاق هو العلامة الأكيدة أن أعضاء الكنيسة جسديون ويسلكون حسب البشر، لأن واحد منهم لبولس والآخر لأبلوس. فالكنيسة التي ينشغل أعضاؤها جميعاً بتمجيد الثالوث القدوس والتسبيح والعبادة، وخدمة الإنجيل، والكرازة والتبشير، وجذب النفوس الضالة؛ كنيسة لا يحدث فيها خصومة، وإن حدث اختلاف في وجهات النظر كما حدث بين بطرس وبولس في كنيسة الرسل فسرعان ما يجتمع الكل بالروح الواحد ، ويصدر القرار الواحد &#8220;رأى الروح القدس ونحن&#8221; ومعنی هذا أننا نختلف ولكن لا ننقسم لأن الهدف واحد والروح واحد والحس الروحي مشترك، والجميع يطلبون مجد الله وحده. أما إذا تحولت الكنيسة إلى مؤسسة أو منظمة أو هيئة أرضية لها مجال إدارة وتنظيمات بشرية، وأصبح الأعضاء حريصين على حضور المناقشات والاجتماعات، وغير معتادین حضور القداسات والخدمات الكنسية الروحية؛ <strong>فإنه من الممكن أن يحدث لها ما يحدث لجميع الأحزاب والتكتلات والهيئات من إنقسامات حادة وإنشقاقات مُرّة</strong>، لأن الروح القدس لا يعمل إلا في الوحدة الروحية، كما أن المسيح لا يستعلن إلا في الجماعة المحبة المتضعة &#8220;والنهاية كونوا جميعاً متحدى الرأي بحس واحد ذوى محبة أخوية مشفقين لطفاء&#8221; (ابط٣: ٨) .</p>
<h4>سلاماً أترك لكم ،.سلامى أعطيكم - بقلم راهب بأحد أديرة الصعيد <a href="#_ftn5" name="_ftnref5"><sup>[5]</sup></a></h4>
<p><strong>&#8220;سَلاَمًا أَتْرُكُ لَكُمْ سَلاَمِي أُعْطِيكُمْ لَيْسَ كَمَا يُعْطِي الْعَالَمُ أُعْطِيكُمْ أَنَا لاَ تَضْطَرِبْ قُلُوبُكُمْ وَلاَ تَرْهَبْ. سَمِعْتُمْ أَنِّي قُلْتُ لَكُمْ: أَنَا أَذْهَبُ ثُمَّ آتِي إِلَيْكُمْ لَوْ كُنْتُمْ تُحِبُّونَنِي لَكُنْتُمْ تَفْرَحُونَ لأَنِّي قُلْتُ أَمْضِي إِلَى الآبِ&#8221; </strong>(يو١٤: ٢٧، ٢٨)</p>
<p>هذه يا أحبائي بعض كلمات رب المجد يسوع لتلاميذه – في إنجيل قداس الجمعة السادسة من الخمسين المقدسة وهو اليوم التالي مباشرة لعيد الصعود - كلمات رب المجد ليلة آلامه،<strong> وكأنه في الوقت الذي فيه يستقبل السيد المسيح الألم يعد أذهان التلاميذ للصعود، </strong>في نفس الوقت الذي یحنى ظهره للآلام بكل مرارتها نجده يحمل سمات الفرح لأنه يدرك -وهو ابن الله الحي- أن وراء هذه الآلام صعود، ووجه أنظار التلاميذ لهذا الصعود قائلاً &#8220;أنا ماض لأعد لكم مكانا&#8221;.</p>
<p>هذا الحديث يا أحبائي يكشف لنا عن مفهوم الألم، وهو أننا <strong>في وسط الألم والضيقات ينبغي أن ترتفع عيوننا إلى السماويات</strong>، العين الناظرة إلى ما هو فوق وإلى المجد المعد لها في الأبدية تستطيع أن تجتاز الألم – لا أقول بلا أحزان – ولكن ممتلئة رجاء وسلاماً.</p>
<p>لم يمنع المسيح الآلام عن البشرية ولم يعد بشئ من هذا بل على العكس أكد أننا لابد أن نجتاز في الألم ولكنه قال: &#8220;ثقوا أنا قد غلبت العالم&#8221;، <strong>سر الغلبة أن المسيح ليس من هذا العالم بل من فوق، هو فوق الألم ووضعه الطبيعي أن يكون صاعداً إلى فوق جالساً عن يمين الآب</strong>، لذا لا تستطيع الآلام أن تسحب قلبه إلى الأرض ولا للضيق أن يضيق من قلبه أو يتعب من نفسه في الداخل.</p>
<p>في رسالته الأولى إلى كنيسة الله التي في تسالونيكي يكتب إليهم بولس الرسول وهم وسط الضيق والألم ويقول &#8220;لاَ يَتَزَعْزَعَ أَحَدٌ فِي هذِهِ الضِّيقَاتِ فَإِنَّكُمْ أَنْتُمْ تَعْلَمُونَ أَنَّنَا مَوْضُوعُونَ لِهذَا &#8221; (۱تس۳: ۳)، موضوعون لأجل الآلام، أليس غريبا أن يسمح الله بوجودي على الأرض لقبول وتحمل الألم ؟!.. لأنه الطريق الوحيد للارتفاع مع المسيح والوجود معه في السماويات.</p>
<p>لا يمكن لإنسان أن يعبر إلى الحياة الأبدية ولا أن يلتقى مع المسيح على السحاب ولا أن يسمع تلك الكلمات المفرحة &#8220;تعالوا إليّ يا مباركي أبي رثوا الملك المعد لكم&#8230;&#8221; مالم ندخل أولاً في طريق الآلام.. لأجل هذا يقول أحد القديسين [من يهرب من الألم يهرب من الله].</p>
<p>نحن نعيش في الآلام في العالم لكي نوجد مع المسيح في الأمجاد.</p>
<p><strong>الألم يا أحبائي سبب ومصدر للسلام رغم أنه مُرّ</strong>.. ما دام حباً في المسيح وليس لأجل خطايانا. وفي الوقت الذي نجد فيه رب المجد يئن ويصرخ &#8220;إن أمكن فلتعبر عنى هذه الكأس..&#8221; وكانت قطرات العرق تتصبب منه كالدم و&#8221;نفسى حزينة جدا حتى الموت..&#8221; ولكن إن تطلعنا إلى أعماقه نجد تلك التعبيرات الجميلة على لسان معلمنا بولس الرسول &#8220;من أجل السرور الموضوع أمامه احتمل الصليب مستهيناً بالخزي&#8221;.</p>
<p>ما أريد قوله إنه إن كان المسيح قد ارتفع إلى السموات فإنما لكي يقدم هذه العطية لنا جميعاً <strong>(حيث توجد الرأس توجد بقية الأعضاء)</strong> وكما يعبر القديس غريغوريوس قائلاً [المسيح أخذ طبيعتنا وهي مجتذبة للأرض، ولكن لم يكن ممكناً لجسد المسيح أن يستقر على الأرض لأنه من فوق فارتفع بسلطانه وبقوته إلى فوق]، طبيعتي من الأرض ولكن باتحادي مع الرأس صار: <strong>حيث يكون المسيح يكون أيضاً تلاميذه</strong>، وأصبحنا نسمع في رسالة بولس الأولى إلى تسالونيكي &#8221; سَنُخْطَفُ جَمِيعًا مَعَهُمْ فِي السُّحُبِ لِمُلاَقَاةِ الرَّبِّ فِي الْهَوَاءِ، وَهكَذَا نَكُونُ كُلَّ حِينٍ مَعَ الرَّبِّ&#8221; (1تس٤: ١٧)، ويقول القديس غريغوريوس [<strong>كما أن المسيح صعد هكذا أعطانا نحن أيضاً الشركة معه في أن نرتفع</strong>]. هو صعد بسلطانه ولاهوته، أما نحن فنرتفع بالمسيح الساكن فينا، لأننا أخذنا الطبيعة الجديدة القادرة أن ترتفع بالمسيح يسوع لكى نلتقى معه على السحاب.</p>
<p>موضوع ارتفاعنا وملاقاة الرب على السحاب ليس بالأمر الجديد الذي نمارسه عند مجيئه، ولكنها خبرة يومية نختبرها كل يوم، كل يوم نختبر كيف يرتفع جسدنا فوق الأرض، <strong>كما يقول الكاهن في القداس [أين هي قلوبكم؟] فيرد الشعب [هي عند الرب]</strong>، لم يعد لنا مكان على الأرض، مكاننا في السماء، كما يؤكد معلمنا بولس الرسول <strong>&#8220;أقامنا معه..&#8221; &#8220;أجلسنا معه في السماويات..&#8221; &#8220;إن كنتم قد قمتم مع المسيح فاطلبوا ما فوق حيث المسيح جالس..&#8221;</strong> هذا هو المكان الطبيعي لنا.</p>
<p><strong>ليكن قلبك واشتياقاتك وشهوة قلبك فوق، فحياتك فوق لأن رأسك فوق ولا يمكن أن يكون الرأس فوق والجسد تحت !!..</strong></p>
<p><strong>ليعطنا إلهنا الصالح حياة الارتفاع فوق كل ما هو أرضي لكي نحيا بقوة الصعود وعمله فينا، ليرتفع قلبنا فوق كل الماديات مشتهياً دائماً أن يوجد معه في أحضان الآب.</strong></p>
<h3>المراجع</h3>
<p><a href="#_ftnref1" name="_ftn1">[1]</a>  كتاب من مقالات الأنبا أنطونيوس - صفحة ٢٣ - القمص بيشوي كامل - كنيسة مار جرجس سبورتنج.</p>
<p><a href="#_ftnref2" name="_ftn2">[2]</a>  كتاب نقاوة القلب في المفهوم الكتابي والآبائي - الجزء الثاني صفحة ٧٢٤، ٧٤٥ - إعداد أحد الآباء الرهبان بدير السيدة العذراء &#8220;برموس &#8220;.</p>
<p><a href="#_ftnref3" name="_ftn3">[3]</a>  كتاب المنجلية القبطية الأرثوذكسية - صفحة 411 - البابا تواضروس الثاني.</p>
<p><a href="#_ftnref4" name="_ftn4">[4]</a>  كتاب مسيح الكون كله صفحة ٦٢ - نيافة أنبا بيمن.</p>
<p><a href="#_ftnref5" name="_ftn5">[5]</a>  مجلة مدارس الأحد عدد مايو لسنة ٢٠٠١</p>

      {% endcreateArticleAccordions %}
    </section>
  {% endblock %}
