---
layout: 'layouts/reading.html'
title: 'يوم السبت من الأسبوع السادس للخمسين يوم المُقَدَّسَة'
permalink: pentecost/6-6.html
---
  {% block content %}
    <section id="readings">
      <ul>
      {% if 'undefined' != 'undefined' %}
      
      {% else %}
      {% if '19.51:10' != 'null' %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">العشية</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeVespers '19.51:10' '42.11:53-54*@+42.12:1-3' %}
          </div>
        </div>
      </li>
      {% endif %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">باكر</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeMatins '19.112:4' '42.10:21-24' '' %}
          </div>
        </div>
      </li>
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <h3 class="flex items-center justify-between">
            <span class="kufi">القداس</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </h3>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeLitugy '49.4:8-16' '60.5:5-12' '44.24:10-21' '19.136:1-2' '43.16:15-23' %}
          </div>
        </div>
      </li>

      {% endif %}
        </ul>
    </section>
    <section id="article">
      <h3 class="mt-8 mb-4 heading-explain">شرح القراءات</h3>
      {% createArticleAccordions %}
        <h3>الإنسان الجديد المُمتلئ من روح الله</h3>
<p>تتكلّم قراءات اليوم عن <strong>الإنسان الجديد </strong>الذي كان صعود المسيح بالجسد هو باكورة له، لذلك قيل عنه أنه:</p>
<ul>
<li>بكر كل خليقة (كو١: ١٥).</li>
<li>وبكراً بين أخوة كثيرين (رو٨: ٢٩).</li>
</ul>
<p>لذلك تتركز القراءات في هذا اليوم على <strong>صورة هذا الإنسان الجديد المخلوق بحسب الله في البر وقداسة الحق</strong>.</p>
<p></p>
<h4>المزامير</h4>
<p>ولهذا تبدأ القراءات بالمزامير:</p>
<ul>
<li>في <strong>مزمور عشية </strong>← بالحديث عن <strong>اشتياقات الإنسان الجديد</strong> نقاوة القلب واستقامة الروح</li>
</ul>
<p>&#8220;قلباً نقياً أخلق فىَّ يا الله وروحاً مستقيماً جدد في أحشائي&#8221; (مز٥٠: ١٠).</p>
<ul>
<li>وفي <strong>مزمور باكر ←</strong> عن <strong>إشراقة نور المسيح للإنسان الجديد</strong> المستقيم الطريق والقلب.</li>
</ul>
<p>&#8220;نور أشرق في الظلمة للمستقيمين&#8221; (مز١١١: ٣).</p>
<ul>
<li><strong>ويعلن مزمور القداس ←</strong> عن <strong>تسبيح الإنسان الجديد</strong> للرب وإكتشاف الطبيعة الجديدة لحقيقة الرب<br />
أنه صالح وأن مراحمه إلى الأبد ثابتة.</li>
</ul>
<p>&#8220;إعترفوا للرب فإنه صالح وأن إلى الأبد رحمته&#8221; (مز١٣٥: ١).</p>
<p></p>
<h4>انجيل عشية</h4>
<p>ويحذر انجيل عشية ← <strong>من المكر والرياء الذي يفسد الحياة كلها </strong>وإن أعماق الإنسان مكشوفة أمام الله ويمكن أن تنكشف أمام الإنسان في أي وقت &#8220;وبدأ يقول لتلاميذه أولا تحرزوا لنفوسكم من خمير الفريسيين الذي هو رياؤهم ما من شئ مكتوم لا يظهر وليس خفي لا يُعلم&#8221;.</p>
<p></p>
<h4>انجيل باكر</h4>
<p>وفي انجيل باكر عن ← <strong>نعمة العهد الجديد وإعلانات وعطايا الآب المخفية </strong>عن فكر وحكمة وفلسفات العالم وأولاده ومعلنة لإنسان العهد الجديد وأولاد الله الذين لهم بساطة ونقاوة الأطفال. &#8220;وفي تلك الساعة تهلل يسوع بالروح وقال أشكرك أيها الآب رب السماء والأرض فإنك أخفيت هذه عن حكماء وفهماء وأعلنتها للأطفال&#8221;.</p>
<p>وكأنه يُقارن بين خفيَّات البشر التي ستُعلن أمام الجميع.. وخفيات الله التي ستعلن فقط للبسطاء وأنقياء القلب.</p>
<p></p>
<h4>البولس</h4>
<p>وفي البولس عن ← <strong>هدف وتطلع الانسان الجديد </strong>بعد صعود المسيح للسماء إلى إستثمار المواهب لبنيان جسد المسيح والبنيان الواحد في الإيمان ومعرفة ابن الله والصدق في المحبة والنمو فيها إلى قياس قامة ملء المسيح &#8220;لأجل تكميل القديسين لعمل الخدمة لبنيان جسد المسيح حتى نكون جميعاً شيئاً واحداً في اإيمان بإبن الله والمعرفة به ونكون لرجل واحد كامل إلى قياس قامة ملء المسيح كي لا نكون فيما بعد أطفالاً مضطربين ومحمولين بكل ريح تعليم&#8230; بل صادقين في المحبة لننمو في كل شئ إلى ذاك الذي هو الرأس المسيح&#8221;.</p>
<p></p>
<h4>الكاثوليكون</h4>
<p>وفي الكاثوليكون عن ← <strong>الإتضاع والسهر والثبات في الإيمان </strong>أسلحه أولاد الله للنصرة على الشيطان والنجاة من فخاخه &#8220;وكونوا جميعاً خاضعين بعضكم لبعض وتسربلوا بالتواضع لأن الله يقاوم المستكبرين ويعطي النعمة للمتواضعين&#8230; أصحوا واسهروا فإن الشيطان خصمكم يجول ويزأر كالأسد ملتمساً من يبتلعه هو فقاوموه راسخين في الإيمان عالمين أن نفس هذه الآلام تصيب سائر اخوتكم الذين في هذا العالم&#8221;.</p>
<p></p>
<h4>الابركسيس</h4>
<p>وفي الابركسيس عن ← <strong>طهارة ونقاوة السلوك المسيحي </strong>الناتج عن ضمير بلا عثرة ضمير الإنسان الداخلي الجديد. &#8220;لذلك أنا أدرب نفسي ليكون لي دائماً ضمير بلا عثرة من نحو الله والناس&#8230; كان ينبغي أن يحضروا لديك ويشتكوا إن كان لهم عليَّ شئ أو ليقل هؤلاء أيضاً أنفسهم أي ذنب وجدوا فيَّ وأنا قائم أمام المجمع&#8221;.</p>
<p></p>
<h4>إنجيل القداس</h4>
<ul>
<li>وفي إنجيل القداس عن ← <strong>مجد الإنسان الجديد معرفة الثالوث خلال فعل الروح القدس </strong>&#8220;كل ما لأبي فهو لي لهذا قلت لكم أنه يأخذ مما لي ويخبركم&#8221;.</li>
</ul>
<p>ويتكلم أيضاً عن<strong> ← صورة الإنسان الجديد المختلفة عن العالم، </strong>فأفراح العالم تختلف كلية عن أفراح أولاد الله &#8220;الحق الحق أقول لكم أنكم ستبكون وتنوحون والعالم يفرح أنتم تحزنون ولكن حزنكم يؤول إلى فرح&#8221;.</p>
<p></p>
<h3>ملخص القراءات</h3>
<ul>
<li>نقاوة القلب وإستقامة الروح هي سمات الإنسان الجديد ، التي تؤهله لإشراقة النور الإلهي. (مزمور عشية &#8211; مزمور باكر &#8211; مزمور القداس).</li>
<li>خفيات البشر (الأشرار) ستُعلن أمام الجميع ، وخفيات الله ستُعلن فقط للقديسين. (انجيل عشيّة &#8211; انجيل باكر).</li>
<li>قياس قامة ملء المسيح هو مجد وهدف الإنسان الجديد.(البولس).</li>
<li>التواضع والسهر وقبول الآلام هم ضمان نقاوة الإنسان الجديد. (الكاثوليكون).</li>
<li>قدوة الإنسان الجديد الضمير بلا عثرة من نحو الله والناس. (الإبركسيس).</li>
<li>أفراح وآلام الإنسان الجديد التي لا يعرفها العالم. (انجيل القدَّاس).</li>
</ul>
<p></p>
<h3>عظات آبائية و عظات آباء وخدّام معاصرين</h3>
<p>يمكن الرجوع لعظات يوم الأحد من الأسبوع السادس</p>

      {% endcreateArticleAccordions %}
    </section>
  {% endblock %}
  