---
layout: 'layouts/reading.html'
title: 'يوم الأثنين من الأسبوع السابع للخماسين المُقَدَّسَة'
permalink: pentecost/7-1.html
---
  {% block content %}
    <section id="readings">
      <ul>
      {% if 'undefined' != 'undefined' %}
      
      {% else %}
      {% if '19.22:2' != 'null' %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">العشية</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeVespers '19.22:2' '42.4:38-41' %}
          </div>
        </div>
      </li>
      {% endif %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">باكر</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeMatins '19.119:164-165' '42.4:42-5:3' '' %}
          </div>
        </div>
      </li>
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <h3 class="flex items-center justify-between">
            <span class="kufi">القداس</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </h3>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeLitugy '45.8:12-17' '63.1:1-8' '44.14:19-23' '19.82:8,6' '43.15:1-8' %}
          </div>
        </div>
      </li>

      {% endif %}
        </ul>
    </section>
    <section id="article">
      <h3 class="mt-8 mb-4 heading-explain">شرح القراءات</h3>
      {% createArticleAccordions %}
        <h3> الكنيسة ملكوت الآب</h3>
<p>تتكلم قراءات اليوم عن <strong>الكنيسة المكان والمجال والكيان الذي يستعلن فيه ملكوت الآب</strong>..</p>
<p></p>
<h4>المزامير</h4>
<p>لذلك تحدثنا المزامير عن تدرج إشراقة الملكوت في نفوس أبناء الله..</p>
<ul>
<li>فالمدخل الذي من خلاله تتعرف النفس على جمال الملكوت هو الصلاة والصراخ إلى الله التي فيها يشتاق الانسان للتعرف على الله ومحبته (مزمور عشية).</li>
<li>ثم تنمو النفس إلى كمال العشرة والتسبيح الدائم، فتختبر السلام الإلهي الذي يفوق كل عقل (مزمور باكر).</li>
<li>وهكذا تمتلئ النفس من إشراقة نور اللاهوت (مزمور القداس).</li>
<li>&#8220;إلهي بالنهار أصرخ إليك&#8230;&#8221;. (مز٢: ٢٠).</li>
<li>&#8220;سبع مرات في النهار سبحتك&#8230; فلتكن سلامة عظيمة للذين يحبون إسمك&#8221;. (مز١١٨: ١٢٧، ١٢٨).</li>
<li>&#8220;أنا قلت أنكم آلهة وبنو العلي كلكم&#8221;. (مز٨١: ٦).</li>
</ul>
<p></p>
<h4>انجيل عشية</h4>
<p>وفي انجيل عشية عن ← <strong>بداية ملكوت العهد الجديد</strong> ملكوت الشفاء الإلهي من حمى الخطية والأرواح النجسة وسلطان إبليس. &#8220;فوقف فوقاً منها وزجر الحمى فتركتها وفي الحال قامت وخدمتهم، وعند غروب الشمس كان كل الذين عندهم مرضى بأنواع أمراض كثيرة يقدمونهم إليه&#8230; وكانت الشياطين تخرج من كثيرين&#8221;.</p>
<p></p>
<h4>انجيل باكر</h4>
<p>وفي انجيل باكر عن ← <strong>ملكوت الإنجيل والبشارة المفرحة </strong>لكل النفوس البعيدة &#8220;فقال لهم إنه ينبغي لي أن أبشر في المدن الأخرى بملكوت الله لأني لهذا أرسلت، وكان يبشر في مجامع اليهودية&#8221;.</p>
<p></p>
<h4>البولس</h4>
<p>وفي البولس عن ← <strong>ملكوت التبني </strong>فالبنين هم الوحيدين المستحقين لمجد الملكوت &#8220;إذ لم تأخذوا روح العبودية أيضاً للخوف، بل أخذتم روح التبني الذي به نصرخ يا أبا الآب والروح نفسه أيضاً يشهد لأرواحنا أننا أبناء الله&#8221;.</p>
<p></p>
<h4>الكاثوليكون</h4>
<p>وفي الكاثوليكون عن ← <strong>ملكوت الحق والمحبة في الكنيسة </strong>وهي الفضائل والمواقف التي تميز أولاد الله عن أولاد العالم. &#8220;من الشيخ إلى المختارة كيرية وإلى أولادها الذين أحبهم في الحق&#8230; من أجل الحق الثابت فينا والذي سيكون معنا إلى الأبد يكون معكم السلام والنعمة والرحمة من الله الآب ومن الرب يسوع المسيح إبن الآب بالحق والمحبة&#8221;.</p>
<p></p>
<h4>الابركسيس</h4>
<p>وفي الابركسيس عن ← <strong>الكنيسة ملكوت الله المتوجة بآلام المسيح </strong>فدخولنا الملكوت يزين بشركة آلامنا مع المسيح وفي المسيح. &#8220;وبشرا في تلك المدينة وتلمذا كثيرين ثم رجعا&#8230; يشددون أنفس التلاميذ ويطلبان إليهم أن يثبتوا في الإيمان وأنه بضيقات كثيرة ينبغي أن ندخل ملكوت الله&#8221;.</p>
<p></p>
<h4>انجيل القداس</h4>
<p>وفي انجيل القداس عن ← <strong>الكنيسة كرمة الآب وملكوته </strong>(خلال المسيح الكرمة الحال فيها)<strong> والمؤمنين هم الأعضاء المثمرة في الكنيسة جسد المسيح كرمة العهد الجديد وهي الكرمة المشتهاة</strong> التي هي في تدبير الآب منذ الأزل واستعلن ملكوته فيها في تجسد ابنه يسوع المسيح &#8220;أنا هو الكرمة الحقيقية وأبي الكرام&#8230; أنا هو الكرمة وأنتم الأعضاء، من يثبت فيَّ وأنا فيه فهذا يأتي بثمر كثير&#8230; بهذا يتمجد أبي أن تأتوا بثمر كثير وتكونوا لي تلاميذ&#8221;.</p>
<p></p>
<h3>ملخص الشرح</h3>
<p>❈ الصلاة هي مدخل إشراقة الملكوت والتسبيح الدائم والسلام هما علامات نور اللاهوت في الكنيسة ملكوت الآب.   (مزمور عشية – مزمور باكر &#8211; مزمور القداس).</p>
<p>❈ ملكوت الآب هو ملكوت الشفاء الإلهي من حمى الخطية ومن سلطان إبليس. (انجيل عشية).</p>
<p>❈ ملكوت الآب هو ملكوت البشارة المفرحة وغنى كلمة الله للنفوس البعيدة. (انجيل باكر).</p>
<p>❈ ملكوت الآب هو ملكوت التبني فالآب يمنح البشرية التبني خلال الكنيسة وفعل الروح القدس فيها. (البولس).</p>
<p>❈ يظهر ملكوت الآب في الكنيسة خلال الشهادة للحق والمحبة الإنجيلية. (الكاثوليكون).</p>
<p>❈ ملكوت الآب يزين أعضاؤه بشركة آلام المسيح. (الابركسيس).</p>
<p>❈ الكنيسة كرمة الآب وملكوته بحضور المسيح الكرمة فيها والمؤمنين هم الأعضاء الحية المثمرة في الكرمة المشتهاة. (إنجيل القداس).</p>
<p></p>
<h3>عظات آبائية ليوم الأثنين من الأسبوع السابع من الخمسين يوم المقدسة</h3>
<h4>شرح لأنجيل القداس &#8211; القديس كيرلس الأسكندري<a href="#_ftn1" name="_ftnref1">[1]</a></h4>
<p><strong>(يو15: 5، 6)</strong><strong> &#8220;أَنَا الْكَرْمَةُ وَأَنْتُمُ الأَغْصَانُ الَّذِي يَثْبُتُ فِيَّ وَأَنَا فِيهِ هذَا يَأْتِي بِثَمَرٍ كَثِيرٍ، لأَنَّكُمْ بِدُونِي لاَ تَقْدِرُونَ أَنْ تَفْعَلُوا شَيْئًا، إِنْ كَانَ أَحَدٌ لاَ يَثْبُتُ فِيَّ يُطْرَحُ خَارِجًا كَالْغُصْنِ، فَيَجِفُّ وَيَجْمَعُونَهُ وَيَطْرَحُونَهُ فِي النَّارِ، فَيَحْتَرِقُ&#8221;. </strong></p>
<p>يقول ربنا يسوع المسيح صراحة إنه دعا نفسه الكرمة لهذا السبب، وهذا السبب وحده، أي لكي نفهم بوضوح، وليس فقط أن نرى بعيني الجسد، كما تدرك هيئة ملموسة محسوسة ومرئية جيداً جداً، أن الذين يتحمسون لأن يكونوا ملتصقين به تماماً، ويريدون أن يتمتعوا باتحاد وثيق مع طبيعته، سيعطى لهم القدرة والشروط اللازمة لحياة الفضيلة والإتيان بالثمر الروحاني؛ إذ أنهم بالتأكيد يزودون، من مصدرها، كما من أمهم الكرمة، بقوة وطاقة حقيقية. أما أولئك الذين قد نزعوا أو قطعوا منه، بتحولهم إلى الخطية وإلى السلوك الذي لا يرضي الله، فليس فقط لن يكون لهم قدرة على عمل الفضيلة، أو أن يظهروا الثمار التي تأتي من الصلاح، بل يصيرون مأكلًا للنار، كمصير لا مفر منه، لأن ما لا منفعة منه من جهة البر، يناسبه أن ينال العقوبة، مثلما أن الأغصان الجافة لا تصلح لشيء سوى النار.</p>
<p>وستجدون برهانا حقيقياً، لا يمكن مناقضته، لما قلناه، ليس بالبحث في فصول حياة قديسي العهد القديم، بل بالحري بتركيز إنتباهكم على دراسة حياة الرسل القديسين أنفسهم، لأنهم، بحرصهم على محبة للمسيح بكل طريقة وثباتهم فيه، وقد إعتبروا انه لا يوجد بالمرة شيء أهم من التقوى والبر نحوه، قد صاروا معروفين في العالم كله، وظهر للعالم كله ثمر فضيلتهم، وإذ صاروا نموذجاً واضحاً للمحبة نحو الله، كصورة لامعة لكل الذين تحت الشمس فإنهم اقتنوا لأنفسهم إكليل المجد غير المضمحل مع الله. أما ذاك الذي، بقطع قليلة من الفضة سقط في شبكة الهلاك، وأعني الخائن الحقير يهوذا، فقد قطع من الكرمة الحقيقية، أي المسيح، وجف، وفقد وظيفته كتلميذ للمخلص، إذ فقد فاعلية الروح المحيية. لأنه طرح خارجاً، حسب قول المخلص لأنه تغرب عن المسيح، وسلم كشيء نافل لذلك الذي يعاقب بالنار. لذلك، فبطريقة مناسبة، وضع ربنا يسوع المسيح أمام سامعيه فرح القلب الذي ينبع من الرغبة في الاتحاد الحميم معه ومن الناحية الأخرى يضع أمامهم العقاب الناتج عن الانفصال عنه، وهكذا يفهمون أن هناك طريقتان لحثنا على الخلاص. لأنه إما بأن نتطلع للأمام نحو المجد والحياة، أو بالخوف من العقاب بالنار، يمكننا بكل اجتهاد وحماس، وبكل قلبنا وعقلنا، أن نتمسك بالاتحاد الحميم معه.</p>
<p>ولكن الرب يدعو الآب، الكرام، إذ يعزى العناية اليقظة بنا إلى طبيعته الإلهية، كما سبق أو أوضحنا مطولاً. فهو (المسيح) يقوم بعمل &#8220;يد&#8221; للكرام، الذي لا يستخدم يداً أخرى، وذلك بحسب مساواته في الجوهر معه، كما هي حقيقة الأمر، وكما يمكننا أن نرى بالطريقة التالية، لأنه كبرهان على أن كل الأشياء تعمل بالابن، كما بيد الآب، أنصتوا لما يقوله الآب نفسه عن خلائقه: كل هذه الأشياء صنعتها يدي (انظر إش٢:٦٦، أع٥٠:٧)، بينما كل الأشياء صنعت بالابن، حسب الكتب المقدسة.</p>
<p>وينبغي أن نلاحظ أن بولس الإلهي يصور لنا القطع الحقيقي. حتى وإن لم يكن قطعاً من كرمة. حينما يقول: &#8220;هُوَذَا لُطْفُ اللهِ وَصَرَامَتُهُ: أَمَّا الصَّرَامَةُ فَعَلَى الَّذِينَ سَقَطُوا، وَأَمَّا اللُّطْفُ فَلَكَ، إِنْ ثَبَتَّ فِي اللُّطْفِ، وَإِلاَّ فَأَنْتَ أَيْضًا سَتُقْطَعُ&#8221; (رو۲۲:۱۱).</p>
<p><strong>(يو </strong><strong>۷</strong><strong>:١٥)</strong><strong> &#8220;إِنْ ثَبَتُّمْ فِيَّ وَثَبَتَ كَلاَمِي فِيكُمْ تَطْلُبُونَ مَا تُرِيدُونَ فَيَكُونُ لَكُمْ&#8221;. </strong></p>
<p>هو يقول إن الإتحاد معه بحب غير متزعزع، وحفظ الكنز النقي الذي لدروس الإنجيل، والتعليم الصحيح لعقائد الإيمان، والمدعمة أيضا بتفسيرات لا تخطئ، والمحافظة على كل هذه ككنز إلهي وروحاني، سيكون أساساً لأعظم وأكمل صلاح. فإن كل حديث المخلص يحمل لنا هذا المعنى، إذا جعلنا في إعتبارنا الهدف الموضوع أمامنا في الأناجيل فلا يستطيع أحد أن ينكر أنه بوعد المسيح أنه سيعطي باستمرار ما هو صالح للذين يسألونه، يعطى لنا ضماناً واضحاً جداً، وأظن أنه من الضروري أن نسأل ما هو المعنى الدقيق لهذه الكلمات: &#8220;إن ثبتم في وثبت كلامي فيكم، تطلبون ما تريدون فيكون لكم&#8221;، فهل يستطيع أي واحد أن يقول إن الثبات في المسيح يمكن البلوغ إليه بدون حفظ كلامه؟ وكل الناس العقلاء، بلا شك يجيبون على هذا السؤال بالنفي.</p>
<p>وأذكر السامع أننا عند سؤالنا عن نوع المحبة للمسيح، وفحصنا عن ما هي هذه المحبة، وكيف يمكن أن توجد في حالة كمال، عندئذ قلنا إنه توجد وسيلتان؛ وأعني أولا بواسطة الإيمان الذي بلا لوم، وأيضا أن يظهر هذا الإيمان بالعمل بقوة المحبة العاملة في الداخل، وإن ثقتنا في كلمات مخلصنا أن الأمر هو هكذا معنا، فيتبع هذا أن أولئك الناس يعطون شرحاً خطيراً لا يطاق عن العلاقة بالمخلص، باعترافهم بمجرد إيمان بالألفاظ فقط، دون أن ينالوا المحبة التي تثمر اعمالاً مستقيمة كاملة.</p>
<p>هؤلاء لهم علاقة بالمسيح نتيجة الاعتقاد فقط، بمعنى أنهم لا يدينون بديانة أو عبادة أخرى، ولكن لأنهم لا يحتفظون بكلماته ثابتة فيهم فسوف يدانون ويمكن أن نقول، إنهم يطرحون كرازة الإنجيل بعيداً وينسونها، ولا يعطون إهتماماً وتقديراً لكلمات المخلص، مخضعين كل شيء لشهواتهم، ويوجهون دوافعهم غير الملجمة للإنشغال بالأمور الأرضية وحدها، وبسبب هذا يبتعدون عن &#8220;الكرمة الحقيقية&#8221;، وإذ يحتقرون نعمة العلاقة الحميمة معه بسبب شهواتهم، فإنهم يحسبون أن الثبات في المسيح لا أهمية له. والآن فإن المسيح يقول عن كل شخص مثل هذا ما يلي: &#8220;لَيْسَ كُلُّ مَنْ يَقُولُ لِي: يَا رَبُّ، يَا رَبُّ يَدْخُلُ مَلَكُوتَ السَّمَاوَاتِ بَلِ الَّذِي يَفْعَلُ إِرَادَةَ أَبِي الَّذِي فِي السَّمَاوَاتِ&#8221; (مت۲۱:۷).</p>
<p>ويبرهن تلميذ المسيح أيضا على أن الإيمان بمفرده، والذي لا يحصل على معونة النور الذي يشع من الأعمال، لن يكف لضمان علاقة حميمة مع الله، إذ يقول: &#8220;أَنْتَ تُؤْمِنُ أَنَّ اللهَ وَاحِدٌ حَسَنًا تَفْعَلُ وَالشَّيَاطِينُ يُؤْمِنُونَ وَيَقْشَعِرُّونَ&#8221; (يع١٩:٢). ألا يمكن أن يقول أحدهم لأولئك الذين يظنون أن الإيمان العاري بمفرده يكفي لكي يجعلهم يمكن أن يحصلون على الشركة التي من فوق  أنه حتى الشياطين يمكن أن يرتفعوا إلى الشركة مع الله ما داموا يعترفون بوحدانيته ويؤمنون بوجوده؟ كيف يمكن أن يكون هذا؟ فإن مجرد معرفة أن خالق كل الأشياء ومنشئها هو إله واحد هو بلا فائدة. ولكني اعتقد أنه من الضروري الحياة بالتقوى أمامه مع الإيمان، لأن مثل هذا الإنسان يثبت في المسيح وتتحقق فيه كلمات المزمور: &#8220;خَبَأْتُ كَلاَمَكَ فِي قَلْبِي لِكَيْلاَ أُخْطِئَ إِلَيْكَ&#8221; (مز۱۱:۱۱۹).</p>
<p>وكما يحدث إذا وضعنا ناراً في إناء نحاسي، فهذا يجعل الإناء يكتسب الحرارة المنبعثة من النار، هكذا أيضاً فإن العقل الذي ينشغل تماماً بالتعليم الإلهي السمائي بالسعي الدائم نحو كل فضيلة فإنه يشتعل بالفضيلة. لأنه مكتوب: &#8220;كَلِمَتُكَ مُمَحَّصَةٌ جِدًّا، وَعَبْدُكَ أَحَبَّهَا&#8221; (مز١١٩: ١٤٠). وكأن الرب يقول &#8220;لذلك دع هذا الإنسان الذي يؤسس نفسه في محبتي وتعليمي، وقد بلغ إلى هذه الكرامة العالية حتى أنه يثبت في، ويثبت كلامي فيه، دع هذا الإنسان أن يتقدم بدالة، وبثقة كاملة يسأل كل ما يؤدي إلى الغبطة والسعادة، وسوف يستجاب له بدون إبطاء: لأنه الرب يقول أنا أعطي. ويقول الذي يقاومنا: حسنا إذا، إذا طلب أي إنسان ما هو خطأ، فهل يأخذ ما طلبه، وهل سيمنحه الاله المحب للفضيلة طلبا مثل هذا؟ أذهب عنى، أيها الإنسان صاحب المشورة الشريرة، لأن الله لا يمنح شيئاً مضاداً لطبيعته الخاصة، ولا يمنح أي شيء من الأشياء الشريرة، ولكن هذا هو الرأي الصائب المستقيم والعادل. إنه واضح أن ذلك الإنسان الذي يثبت في المسيح، ويثبت كلام المسيح فيه، يعرف بسبب صلاحه وبره كيف يطلب الأمور المرضية الله. فواضح أنه قد سمح للذين يخبأون كلمته في قلوبهم أن يطلبوا ما يريدون، إذ هو يعرف تماماً أنهم يسعون فقط للاشتراك في بركات طبيعة روحانية إلهية.</p>
<p>إذاً، لأن مخلصنا المسيح قد حدد تماماً بهذه الكلمات صفة الإنسان الذي يصلي ويطلب لينال كل ما يريده من الله، لذلك دعنا نصوغ حالتنا لتكون حسب هذا المثال، إن كنا نرغب في الحصول على البركة السمائية، ولكن إن كنت تعرف أنك أنت لست مثل ذلك الإنسان الذي أشار إليه المسيح بكلماته المذكورة، فلا غرابة إنك تسقط وتعثر. ولكن حتى لو كان العبء يبدو ثقيلاً عليك، فإنك إذ تجعل إيمانك يتحد بالمجد النابع من الأعمال الصالحة (فان هذا هو الثبات في المسيح)، وإذ يكون كلامه ثابتاً فيك، فتقدم في ثقة، وأحصل على أي شيء تطلبه من الله بدون إبطاء.</p>
<p></p>
<h4>شرح إنجيل القداس &#8211; القديس يوحنا ذهبي الفم<a href="#_ftn2" name="_ftnref2">[2]</a></h4>
<ul>
<li>لم يذكر الكرمة هنا لأجل معنى آخر إلا لكي يعلم التلاميذ أنهم بدون قوة السيد المسيح لا يمكنهم أن يعملوا شيئًا، وأنهم على هذا المثال يحتاجون أن يتحدوا به كاتحاد <a href="https://st-takla.org/Full-Free-Coptic-Books/FreeCopticBooks-002-Holy-Arabic-Bible-Dictionary/19_J/j_14.html">الغصن</a> بالكرمة.</li>
</ul>
<p>في قول السيد المسيح لتلاميذه:<strong> &#8220;كل غصن فيّ لا يأتي بثمر ينزعه&#8221; </strong>يذكر عيشتهم بطريقة غامضة، موضحًا أنه بدون أعمال لا يحق لهم أن يوجدوا فيه. وقوله <strong>&#8220;كل غصن فيّ لا يأتي بثمر ينزعه&#8221;، </strong>معناه أن هذا الغصن يتمتع باهتمام كثير من السيد المسيح.</p>
<ul>
<li>لم يقل أن الأصل (الجذر) محتاج إلى رعاية الكرام بل الأغصان، أما ذكر الأصل هنا فليس لهدف سوى أن يتعلموا أنهم لا يستطيعون أن يفعلوا شيئًا بدون قوته، وأنه يلزمهم أن يتحدوا معه بالإيمان كما تتحد الأغصان بالكرمة. &#8220;<strong>كل غصن فيَّ لا يأتي بثمر ينزعه</strong>&#8220;.</li>
</ul>
<p>هنا يشير إلى طريقة الحياة، مظهرًا أنه بدون أعمال لا يمكن أن نكون فيه &#8220;<strong>كل ما يأتي بثمر ينقيه</strong>&#8220;. مع أن الجذر يتطلب عناية أعظم من الفروع حيث يُحفر له وينقب حوله، لكنه لم يقل شيئًا من هذا، إنما كل ما قاله يخص الأغصان. يظهر أن الأصل فيه الكفاية في ذاته، وأما التلاميذ فيحتاجون إلى عونٍ عظيمٍ من الكرام، مع أنهم ممتازون. لهذا يقول: &#8220;<strong>كل ما يأتي بثمر يقلمه</strong>&#8220;&#8230; هذا يمكن الجزم به أنه قيل بخصوص الاضطهادات التي تحل بهم. فإن &#8220;<strong>ينقيه</strong>&#8221; هو أن يقلمه فيجعل الغصن يحمل ثمرًا أفضل. لهذا يُظهر أن الاضطهادات تجعل الناس أكثر قوة</p>
<p>ولكي لا ينفصلوا عنه بسبب جبنهم، شدد أنفسهم عند استرخائها بالخوف، وألصقهم فيه، وبسط لهم فيما بعد آمالًا صالحة، في المستقبل. فإن الأصل باقٍ، أما النزع أو البقاء فخاص بالأغصان. فإنه إذ يحثهم بالطريقين، بالأمور المبهجة أو المؤلمة، فإنه يطلب أولًا ما يلزم عمله من جانبنا</p>
<p>يقول السيد المسيح لتلاميذه: &#8220;<strong>بدوني لا تقدرون أن تفعلوا شيئًا</strong>&#8220;. إنه لخسارة عظيمة ألا يقدر الغصن أن يعمل شيئًا، ولكن السيد المسيح لم يوقف العقوبة عند هذا الحد، بل ذهب إلى أبعد من ذلك، لأنه قال: &#8220;<strong>يطرح خارجًا كالغصن فيجف</strong>&#8220;. وبقوله: &#8220;<strong>ويطرحونه في النار فيحترق</strong>&#8221; يوضح أن الذين يقاومونه يحترقون.</p>
<ul>
<li>يقول: &#8220;<strong>يطرح خارجًا</strong>&#8220;، فلا يعود يتمتع بيد المزارع. &#8220;إنه يجف&#8221;، بمعنى إن كان ليس له جذور فإنه يتعرض للخطر، إن كانت لديه أية نعمة يتعرى منها، وبهذا يُحرم من كل عون وحياة.</li>
</ul>
<p>وما هي النهاية؟ يُطرح في النار. لكن لا يكون هذا حال من يثبت فيه. عندئذ يشير إلى ما هو الذي يثبت قائلًا: &#8220;إن ثبت كلامي فيكم&#8221;. فإنه إذ يقول: &#8220;إن سألتم شيئًا باسمي أفعله لكم&#8221; يضيف: &#8220;إن كنتم تحبونني احفظوا وصاياي <a href="https://st-takla.org/Bibles/BibleSearch/showVerses.php?book=53&amp;chapter=14&amp;vmin=15">(يو 14: 15)</a>. هنا: &#8220;<strong>إن كنتم تثبتون في، ويثبت كلامي فيكم، تسألون لأنفسكم ما فيكون</strong> <strong>لكم</strong>&#8220;. قال هذا ليظهر من جانب أن الذين يتآمرون ضده يحترقون، ومن جانب آخر فإنه يظهر للآخرين أنهم لا يُقهرون، إذ يقول: &#8220;في هذا يتمجد أبي أنكم تأتون بثمرٍ كثيرٍ، وتصيرون تلاميذي&#8221;</p>
<p>ألا ترون أن الابن لم يساهم بأقل من الآب في اهتمامه بالتلاميذ؟ الآب هو الذي يقّلم من جانب، ويحفظهم فيه من الجانب الآخر. الثبوت في الأصل (الجذر) هو الذي يعطي الأغصان ثمارًا.</p>
<p>إن ما لا يّقلم وإن ثبت في الأصل يحمل ثمرًا لكن ليس بالقدر اللائق، أما الذي لا يثبت في الأصل فلا يأتي بثمرٍ نهائيًا، لكن لا يزال التقليم يظهر أنه خاص بالابن والثبوت في الأصل خاص بالآب الذي ولد الأصل. ألا ترون أن كل الأشياء عامة سواء التقليم والإمكانية بالتمتع بما هو من الأصل؟</p>
<p><strong>تمجيد الآب</strong>، حيث يُعلن حب الآب الفائق في حياتنا، ويتجلى بهاؤه على أعماقنا، ونمارس بالحق بنوتنا له، &#8220;حتى متى أظهر نكون مثله لأننا سنراه كما هو&#8221;.</p>
<ul>
<li><strong>ا</strong><strong>لثمر المتزايد</strong>، حيث تتحقق كل طلباتنا في الصلاة.</li>
<li>نتمتع <strong>بالتلمذةٍ له</strong>، فنصير رجال الله، نشهد له لنرد كل نفس إليه، لكي يصير الكل &#8220;أهل بيت الله&#8221; <a href="https://st-takla.org/Bibles/BibleSearch/showVerses.php?book=59&amp;chapter=2&amp;vmin=19">(أف 2: 19)</a>.</li>
<li>أترون كيف أن الذي يحمل ثمرًا هو تلميذ؟ ولكن ماذا: &#8220;<strong>بهذا يتمجد أبي</strong>؟ يعني: &#8220;أنه يُسر عندما تثبتونفيه، حينما تأتون بثمرٍ&#8221;</li>
</ul>
<p></p>
<h3>عظات آباء وخدّام معاصرين ليوم الأثنين من الأسبوع السابع من الخمسين يوم المقدسة</h3>
<h4>الكرمة &#8211; للمتنيح الأنبا كيرلس مطران ميلانو<a href="#_ftn3" name="_ftnref3">[3]</a></h4>
<p>حقا لك مقر.. الكرمة</p>
<p>حقا لك مقر في قلوبنا</p>
<p>شكراً لك يا الله يا من غرست هذه الكرمة بيمينك.. شكراً لك يا من أقتنيتها بدمك الثمين.. يا من ترويها كل حين من ينبوعك.. يا من ترعاها في كل زمان..</p>
<p>وشكراً لك يا من تنمي أغصانها.. ويا من تحميها وأبواب الجحيم لن تقوى عليها..</p>
<p>يا الله.. من غيرتك أكثر غيرة على كرمتك.. هي في قلبك وأنت في قلبها.. في كل زمان أنت الحاضر في كل مكان فيها..</p>
<p>في قديم الزمان.. افتقدت كرمتك بالآيات والعجائب والآباء والأنبياء.. ولأجل انشغالك بالكرمة قلت &#8220;ماذا يصنع لكرمي وأنا لم أصنعه&#8221;..</p>
<p>وفي ملء الزمان.. بتجسدك أتيت إلى كرمتك وأنرت على الساكنين في الظلمة وظلال الموت وصرت حجراً للزاوية..</p>
<p>وبموتك أقمت كرمتك التي كان قد قضى عليها الموت.. وبقيامتك استرجعت لها الحياة مرة أخرى..</p>
<p>وبصعودك المعظم أرسلت روحك القدوس على تلاميذك الأطهار وجعلتهم رعاة حسب قلبك.. بهم ترعى رعيتك هم يطلبون الضال.. ويستردون المطرود.. ويجبرون الكسير.. ويداوون الجريح..</p>
<p>وفي هذا الزمان.. تُرى ماذا تقول لنا؟.. هل تكرر لنا ما قلته قديماً &#8220;ماذا يصنع لكرمي وأنا لم أصنعه؟&#8221;.. أم تقول &#8220;أنت بلا عذر أيها الإنسان&#8221;؟ &#8230;</p>
<p>هل تقول لنا في هذا الجيل أنا أفتقدتكم براع أمين.. نتلامس معه.. نسمعه ويسمعنا.. نكلمه ويكلمنا.. قريب منا.. حاضر معنا.. يكلمنا ويعلمنا ويرشدنا ويدبر أمورنا..</p>
<p>قال لي قلبي بالحقيقة نحن بلا عذر.. فهلم نتضرع إلى الرب غارس الكرمة، عن الكرمة وفاديها شاكرين على كل ما يصنعه معنا.. نشكره لأنه منحنا راعياً يحيا حياة التسليم الكامل لله.. إن سألناه الساكن في قلبه نرى الله وقديسيه..</p>
<p>وإن قلنا له &#8220;ما الذي يشغل فكرك&#8221; ندرك أنه ليس شيء آخر سوى الكتاب المقدس وأقواله وآياته ووعوده..</p>
<p>وإن طلبنا أن نعرف منه من هو الذي عن يمينه يقول لنا أنه مستند على السيد المسيح الذي أظهر لنا نور الآب وأنعم علينا بمعرفة الروح القدس الحقيقية..</p>
<p>حياة التسليم الكامل جعلت روح الله القدوس يعمل فيه بوضوح وغزارة.. فثمار ومواهب الروح القدس فيه يبصرها المستقيمون فيفرحون ويتهللون..</p>
<p>روح الله القدوس بسيط في طبيعته وكثير الأنواع في فعله ولأجل عمله فيه نراه بسيطاً وعميقاً في حياته وكثير الأنواع في أفعاله..</p>
<p>من يقدر أن يحيا بالبساطة العميقة سوى الذي يعمل فيه روح الله..</p>
<p>من يقدر أن يعلم بالبساطة وتعليمه يكون له تأثير قوي وكثير الأنواع في فعله سوى الذي يعمل فيه روح الله..</p>
<p>روح الله يشعل ويلهب ويضيء وينير ومصحوب برائحة المسيح الزكية وهذا ما نراه في أعمال راعينا..</p>
<p>بتعاليمه القلوب تلتهب بمحبة الله والفكر يستنير بمعرفة الله وتتغير حياة كثيرين ويشتمون منها رائحة المسيح..</p>
<p>الطفل يتهلل برؤيته.. والشيخ يستند على بشاشته..</p>
<p>الخادم يشعل مصباحه بتعاليم راعينا فلا ينسى قوله &#8220;أنت تخدم بيت الرب فمتى تخدم رب البيت&#8221;؟..</p>
<p>الكاهن بضياء نصائح راعينا يسعى أن يريح الناس وإن لم يقدر لا يكون سبباً في تعبهم..</p>
<p>نعمة الإحساس بالغير ساكنة في قلب راعينا وبها أشعل قلب رعيته لكي تتمنع بالاهتمام بالفقير واليتيم والأرمل..</p>
<p>كلماته ألقت ضوء على أفهام الكل بأن الجسد مصيره سينتهى ناصحاً &#8220;يا ليته ينتهى في عمل صالح&#8221;..</p>
<p>بشعلة الرهبنة التي فيه أضاء شمعة في الأديرة التي كادت أن تندثر وأخرجها من باطن الأرض.. وأشعل فيها حياة الرهبنة من جديد.. وغرس أديرة حديثة في أماكن متعددة فيها يشتمون رائحة المسيح في قديسيه..</p>
<p>راعينا يعرفنا ببساطة المفاهيم اللاهوتية.. وخطورة استخدام الآية الواحدة.. واليقظة أمام الهرطقات الحديثة.. ويعلمنا &#8220;الله وكفى&#8221;.</p>
<p>طوبى للرعية التي يختار لها الرب راعياً مثلك.. به ينير عقلها.. ويضىء فهمها ويجعلها تفهم كلام الله المحيي..</p>
<p>روح الله ساكن فيك.. وسائر معك هو مشتعل فيك وأنت تشعل الآخرين.. هو ملتهب فيك وأنت تلهب من يلمسك..</p>
<p>هو مضىء فيك وبه أنت تضىء لمن حولك.. هو منير فيك وأنت تنير في ذهن من يسمعك..</p>
<p>المسيح ساكن فيك ورائحته الزكية في أعمالك هي التي جعلت لك مقر في قلوب رعيتك.</p>
<h4>أنا هو الكرمة الحقيقية – للمتنيح الأنبا بيمين أسقف ملوي وأنصنا والأشمونيين<a href="#_ftn4" name="_ftnref4">[4]</a></h4>
<p>ورد هذا اللقب في العهد القديم عن إسرائيل التي اعتبرت کرمة الله، التي انتقاها من العالم لكي تفلح وتخصب وتأتي بالثمر المرجو منها، بعد أن غذاها بالشريعة والناموس والوصايا وأرسل لها الكهنة والأنبياء.</p>
<p><strong>أشعياء النبي والكرمة</strong></p>
<p>يعتبر أشعياء النبي من أكثر أنبياء العهد القديم حديثا ونبوءة وتوبيخا وتشجيعا الإسرائيل كرمة الله.</p>
<p>لنسمع إليه موبخاً إسرائيل على فساده وخيانته &#8220;لأُنْشِدَنَّ عَنْ حَبِيبِي نَشِيدَ مُحِبِّي لِكَرْمِهِ: كَانَ لِحَبِيبِي كَرْمٌ عَلَى أَكَمَةٍ خَصِبَةٍ، فَنَقَبَهُ وَنَقَّى حِجَارَتَهُ وَغَرَسَهُ كَرْمَ سَوْرَقَ، وَبَنَى بُرْجًا فِي وَسَطِهِ، وَنَقَرَ فِيهِ أَيْضًا مِعْصَرَةً، فَانْتَظَرَ أَنْ يَصْنَعَ عِنَبًا فَصَنَعَ عِنَبًا رَدِيئًا «وَالآنَ يَا سُكَّانَ أُورُشَلِيمَ وَرِجَالَ يَهُوذَا، احْكُمُوا بَيْنِي وَبَيْنَ كَرْمِي مَاذَا يُصْنَعُ أَيْضًا لِكَرْمِي وَأَنَا لَمْ أَصْنَعْهُ لَهُ؟ لِمَاذَا إِذِ انْتَظَرْتُ أَنْ يَصْنَعَ عِنَبًا، صَنَعَ عِنَبًا رَدِيئًا؟ فَالآنَ أُعَرِّفُكُمْ مَاذَا أَصْنَعُ بِكَرْمِي: أَنْزِعُ سِيَاجَهُ فَيَصِيرُ لِلرَّعْيِ أَهْدِمُ جُدْرَانَهُ فَيَصِيرُ لِلدَّوْسِ وَأَجْعَلُهُ خَرَابًا لاَ يُقْضَبُ وَلاَ يُنْقَبُ، فَيَطْلَعُ شَوْكٌ وَحَسَكٌ وَأُوصِي الْغَيْمَ أَنْ لاَ يُمْطِرَ عَلَيْهِ مَطَرًا» إِنَّ كَرْمَ رَبِّ الْجُنُودِ هُوَ بَيْتُ إِسْرَائِيلَ، وَغَرْسَ لَذَّتِهِ رِجَالُ يَهُوذَا فَانْتَظَرَ حَقًّا فَإِذَا سَفْكُ دَمٍ، وَعَدْلاً فَإِذَا صُرَاخٌ&#8221; ( أش ۱:۵- ۷).</p>
<p>إن ما قاله أشعياء بروح النبوة هو ما قاله رب المجد في مثل الكرم والكرامين الأردياء وشبه الكرم بإسرائيل ورعايته لها وتسليمه إياها لرؤساء الكهنة والكتبة والفريسين.. هؤلاء الذين قتلوا الأنبياء الذين أرسلهم واحدا واحدا، ثم أخيرا عندما رأوا الابن الوريث (الرب يسوع) تآمروا عليه لكي يتخلصوا منه وهكذا نزعت الكرمة من أيديهم إلى الأبد وأعطاها لكرامين جدد. وأما إسرائيل فصارت خراباً، والأمم التي لم تكن تعرف الرب صارت هي إسرائيل الجديدة كنيسة الله والمسيح هو غصن البر فيها.</p>
<p><strong>المسيح هو غصن البر</strong></p>
<p>لم يكن اختيار إسرائيل من الأمم نوعاً من التعصب الجنسي وإنما كان الهدف أن يأتي منها المسيح ابن داود حسب الجسد حتى وإن زاغت إسرائيل وفسدت الكرمة، فإن الرب الإله يختار بنفسه منها غصناً من جذع ليس ينبت قدامه کفرخ وكعرق من أرض يابسة (إش 5۳: ۲).</p>
<p>وفي هذا يقول إشعياء النبي &#8220;وَيَخْرُجُ قَضِيبٌ مِنْ جِذْعِ يَسَّى، وَيَنْبُتُ غُصْنٌ مِنْ أُصُولِهِ وَيَحُلُّ عَلَيْهِ رُوحُ الرَّبِّ&#8221; (إش ۱:۱۱، 2).</p>
<p>وبروح النبوة يؤكد النبي الإنجيلي هذا الاتجاه بقوله &#8220;هَا أَيَّامٌ تَأْتِي، يَقُولُ الرَّبُّ، وَأُقِيمُ لِدَاوُدَ غُصْنَ بِرّ، فَيَمْلِكُ مَلِكٌ وَيَنْجَحُ، وَيُجْرِي حَقًّا وَعَدْلاً فِي الأَرْضِ، فِي أَيَّامِهِ يُخَلَّصُ يَهُوذَا، وَيَسْكُنُ إِسْرَائِيلُ آمِنًا، وَهذَا هُوَ اسْمُهُ الَّذِي يَدْعُونَهُ بِهِ: الرَّبُّ بِرُّنَا&#8221; (إر۲۳: 5، 6).</p>
<p>وهكذا كل من يؤمن بالابن تكون له حياة أبدية ويصبح عضواً في كنيسة الله الكرمة الحقانية.</p>
<p><strong>العذراء مريم الكرمة </strong></p>
<p><strong>     </strong>تقول الكنيسة في صلواتها عن العذراء مريم [أنت هي الكرمة الحقيقية الحاملة عنقود الحياة، نسألك أيتها المملوءة نعمة مع الرسل من أجل خلاص نفوسنا مبارك الرب إلهنا. مبارك الرب يوماً فيوماً يهيئ طريقنا لأنه إله خلاصنا]<strong>.</strong></p>
<p>والعجيب أن الكنيسة تذكر هذه القطعة في صلوات الساعة الثالثة التي يتحدث فيها الإنجيل من يوحنا البشير عن قول الرب يسوع أنا هو الكرمة الحقيقية وأبی الكرام، كل غصن في لا يأتي بثمر يقطعه، وكل ما يأتي بثمر ينقيه ليأتي بثمر أكثر.</p>
<p>وفي مواضع أخرى كثيرة تؤكد الكنيسة في تسابيحها وألحانها وصلواتها عن العذراء أنها هي الكرمة لأنها حملت عنقود الحياة ابن الله الكلمة</p>
<p><strong>الكنيسة هي الكرمة</strong></p>
<p>وكما أن كل ما تشبه به العذراء تشبه به الكنيسة هكذا تطلق على الكنيسة أنها الكرمة الحقيقية، لأن المسيح هو جذعها وأصلها، والمؤمنون هم أعضائها الذين يستمدون عصارة الحياة من هذا الجذع لكى تورق الأغصان وتثمر وتحمل العناقيد المملوءة خيرا وبركة.</p>
<p>فالكنيسة أصبحت من خلال اتحادها بالمسيح وثبوتها في الحق هي الكرمة الحقيقية، وإسرائيل الجديدة والمسيح فيها هو الأصل الذي تسري منه عصارة الحياة نحو كل الأعضاء (كو۲: ۱۹). وبدون الثبوت فى هذا الأصل تنقطع العصارة ويذبل الغصن ويلقي للحريق.</p>
<p><strong>الآب هو الكرام</strong></p>
<p>إذا كان المسيح في الكنيسة هو الكرمة التي تحمل الأغصان المثمرة، فإن الآب السماوي هو الكرام، لأن هذا هو عمل الآب. إنه إختارها كما اختار إسرائيل وكما إختار العذراء مريم وكما إختار الكنيسة.</p>
<p>فعمل الثالوث هو هكذا، الآب اختارها، والابن تنازل وتجسد وأتحد بها وحمل أغصانها وثبت نفسه في أغصانها، والروح القدس هو الذي قدسها وطهرها وأعدها لتكون عروساً للمسيح وجسداً طاهراً مقدساً للرأس التي تحمل الأعضاء.</p>
<p>والكنيسة لا تسمى كنيسة إلا إذا كانت ثابتة في النعمة والحق هذين اللذين صارا بالمسيح يسوع.. وبدونها لا تصبح كرمة حقيقية تحمل الجوهر والحق الثابت، وإنما تشابه مؤسسات العالم ومنظماته وتجمعاته وكافة هيئاته.</p>
<p><strong>مسئوليتنا إزاء هذا اللقب</strong></p>
<p><strong>1-الثبوت المتبادل</strong></p>
<p>مسئولية المؤمن أن يثبت في المسيح، وأن يثبت المسيح فيه كما يقول الرب في الكتاب &#8220;اثبتوا فيّ وأنا فيكم&#8221;.</p>
<p>ولا يمكن أن يحدث هذا الثبوت إلا من خلال الطبيعة الجديدة التي ننالها بالميلاد الثاني، وبالتناول من سر الإفخارستيا.. سر الشركة وسر الأسرار فی الكنيسة.</p>
<p>&#8220;مَنْ يَأْكُلْ جَسَدِي وَيَشْرَبْ دَمِي يَثْبُتْ فِيَّ وَأَنَا فِيهِ&#8221; ويقول الكتاب أيضاً &#8220;إِنْ لَمْ تَأْكُلُوا جَسَدَ ابْنِ الإِنْسَانِ وَتَشْرَبُوا دَمَهُ، فَلَيْسَ لَكُمْ حَيَاةٌ فِيكُمْ، مَنْ يَأْكُلُ جَسَدِي وَيَشْرَبُ دَمِي فَلَهُ حَيَاةٌ أَبَدِيَّةٌ، وَأَنَا أُقِيمُهُ فِي الْيَوْمِ الأَخِيرِ.. فَمَنْ يَأْكُلْنِي فَهُوَ يَحْيَا بِي&#8230; مَنْ يَأْكُلْ هذَا الْخُبْزَ فَإِنَّهُ يَحْيَا إِلَى الأَبَدِ&#8221; (يو6: ۵۳- ۵۸).</p>
<p>ويؤكد الرب أهمية هذا الثبوت بقوله &#8220;ثْبُتُوا فِيَّ وَأَنَا فِيكُمْ كَمَا أَنَّ الْغُصْنَ لاَ يَقْدِرُ أَنْ يَأْتِيَ بِثَمَرٍ مِنْ ذَاتِهِ إِنْ لَمْ يَثْبُتْ فِي الْكَرْمَةِ، كَذلِكَ أَنْتُمْ أَيْضًا إِنْ لَمْ تَثْبُتُوا فِيَّ&#8221; ( يو 4:15).</p>
<p>ويقول أيضا &#8220;بِدُونِي لاَ تَقْدِرُونَ أَنْ تَفْعَلُوا شَيْئًا&#8221;. إن المسيح: [هو حياتنا كلنا، خلاصنا كلنا، شفاؤنا كلنا، وقيامتنا كلنا].</p>
<p>كلما نشهد للحق ونحيا بالتقوى تنسجم حياتنا مع العصارة المقدسة الآتية من الجذع ، وبهذا تدب الحياة في عضويتنا لكي نحيا ولا يقوى علينا موت الخطيئة، وتحديات العالم وهجمات إبليس وحروب الذات.</p>
<p><strong>۲ &#8211; </strong><strong>الوحدة المقدسة</strong></p>
<p>إن كنا أغصانا في كرمة واحدة، وأعضاء فی جسد واحد، فإنه يلزمنا أن نحمل نفس العصارة، ونفس الدموية حتى يحدث الانسجام، ولا يكون ثمة تضارب يؤدي إلى الانفصال أو الموت.</p>
<p>أنها مسئولية الأعضاء أن يحرصوا علی وحدانية القلب التي للمحبة، والكنيسة عندما تصلى في أوشيتها عقب حلول الروح القدس على القرابين الموضوعة على المذبح تقول: [اجعلنا كلنا يا سيدنا مستحقين أن نتناول من قدساتك طهارة لأنفسنا وأجسادنا وأرواحنا لنكون جسداً واحداً وروحاً واحداً وقلباً واحداً.</p>
<p>والرسول يشرح وحدانية الجسد إذ يقول في رسالته إلی کورنثوس عن العصارة الواحدة التي تنتشر في جميع الأغصان &#8220;لأَنَّهُ كَمَا أَنَّ الْجَسَدَ هُوَ وَاحِدٌ وَلَهُ أَعْضَاءٌ كَثِيرَةٌ، وَكُلُّ أَعْضَاءِ الْجَسَدِ الْوَاحِدِ إِذَا كَانَتْ كَثِيرَةً هِيَ جَسَدٌ وَاحِدٌ، كَذلِكَ الْمَسِيحُ أَيْضًا، لأَنَّنَا جَمِيعَنَا بِرُوحٍ وَاحِدٍ أَيْضًا اعْتَمَدْنَا إِلَى جَسَدٍ وَاحِدٍ، يَهُودًا كُنَّا أَمْ يُونَانِيِّينَ، عَبِيدًا أَمْ أَحْرَارًا، وَجَمِيعُنَا سُقِينَا رُوحًا وَاحِدًا&#8221; (1كو ۱۲: ۱۲، ۱۳).</p>
<p>&#8220;فَإِنَّنَا نَحْنُ الْكَثِيرِينَ خُبْزٌ وَاحِدٌ، جَسَدٌ وَاحِدٌ، لأَنَّنَا جَمِيعَنَا نَشْتَرِكُ فِي الْخُبْزِ الْوَاحِدِ&#8221; (1 كو۱۰: ۱۷).</p>
<p>والكنيسة في مطلع صلاة باكر تضع التداريب الروحية التي تحفظ وحدانية الروح:</p>
<ul>
<li>أن نسلك كما يحق للدعوة التي دعينا إليها.</li>
<li>أن يكون لنا رجاء الدعوة الواحد والإيمان الواحد.</li>
<li>تواضع القلب والوداعة وطول الأناة.</li>
<li>محتملين بعضناً بعضاً في المحبة.</li>
<li>ومسرعين إلى حفظ وحدانية الروح برباط الصلح الكامل.</li>
</ul>
<p>هكذا نحفظ ارتباط جميع الأغصان بالكرمة ووحدة جميع الأعضاء في الجسد الواحد.</p>
<p><strong>3 &#8211; قبول التنقية</strong></p>
<p>يقول الكتاب &#8220;كل غصن يأتي بثمر ينقيه ليأتي بثمر أكثر&#8221;.. وهكذا ترتبط العضوية الحية بقبول التنقية والتهذيب والتأديب، حتی يبقى الغصن محتفظاً بحيويته، ولا تضيع العصارة في أفرع وزوائد لا فائدة منها، فيحدث التشتت وضياع الهدف وعدم وضوح الرؤية.</p>
<p>إن العضو المؤمن لا يرفض تأديب الرب له، لأنه يعلم أن من يحبه الرب يؤدبه، وكما يفعل الكرام بتقليم الكرمة لكي تحافظ على العصارة في الأغصان المثمرة، هكذا يعمل الرب معنا عندما يجدنا أعضاء حية في جسده المقدس، إنه يحرص على إزالة كل ما يعطل نمونا واتضاعنا وإثمارنا. فالكبرياء والتعالي والافتخار وحب المديح والسعي وراء إرضاء الذات.. هذه كلها يقلمها بالآلام والضيقات والتجارب المرة ليبقى الغصن متدلياً بالعناقيد الممتلئة التي تفرح قلب الآب.</p>
<p><strong>4-الثمر المتكاثر </strong></p>
<p>إن علامة ثبوت الغصن وسريان العصارة إليه، أنه يورق ثم يثمر عناقيد &#8220;ثلاثين وستين ومائة &#8220;، أما إذا فقد الثمر وانقطع سريان العصارة فهذا يعني جفافه ثم سقوطه وإلقاؤه في النار لأنه لم يعد يصلح لشيء إلا الحريق .</p>
<p>ليمتحن الإنسان فينا نفسه هل هو يحب الصلاة؟ هل هو شغوف بكلمة الله؟</p>
<p>هل يسري فيه تيار النعمة؟ هل يمتلئ دوما من الروح؟ هل يلتهب قلبه بالحب الإلهي ومحبة الاخوة؟ هل له دور في خدمة الكنيسة والجماعة؟ وهل هو ينمو فی العمل حسب الموهبة المعطاة له.. إن هذه هي معايير الحيوية والفاعلية. ليسكب الرب فينا روحه القدوس لنكون دائما مثمرين ثمراً متكاثراً لحساب مجد الله.</p>
<hr />
<p><a href="#_ftnref1" name="_ftn1">[1]</a>  تفسير انجيل يوحنا للقديس كيرلس الاسكندري &#8211; المجلد الثاني – ص 267 &#8211; ترجمة دكتور نصحي عبد الشهيد وآخرون.</p>
<p><a href="#_ftnref2" name="_ftn2">[2]</a>  تفسير إنجيل يوحنا – الاصحاح 15 &#8211; القمص تادرس يعقوب ملطي.</p>
<p><a href="#_ftnref3" name="_ftn3">[3]</a>  كتاب شفتاك يا عروس تقطران شهداً &#8211; الجزء الخامس صفحة ٥٥ &#8211; دير الأنبا شنوده العامر بميلانو.</p>
<p><a href="#_ftnref4" name="_ftn4">[4]</a>  كتاب ألقاب المسيح ووظائفه &#8211; صفحة ٦١ &#8211; الأنبا بيمن أسقف ملوي وأنصنا والأشمونيين.</p>

      {% endcreateArticleAccordions %}
    </section>
  {% endblock %}
  