---
layout: 'layouts/reading.html'
title: 'يوم الثلاثاء من الأسبوع السابع للخماسين المُقَدَّسَة'
tags: 'pentecost'
permalink: /articles/pentecost/7-2.html
---
  {% block content %}
    <section id="readings">
      <ul>
      {% if 'undefined' != 'undefined' %}
      
      {% else %}
      {% if '19.48:1' != 'null' %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">العشية</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeVespers '19.48:1' '41.9:14-29' %}
          </div>
        </div>
      </li>
      {% endif %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">باكر</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeMatins '19.138:1,3' '42.6:12-16' '' %}
          </div>
        </div>
      </li>
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <h3 class="flex items-center justify-between">
            <span class="kufi">القداس</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </h3>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeLitugy '45.8:22-27' '63.1:8-13' '44.14:20-23' '19.13:6,5' '43.15:9-15' %}
          </div>
        </div>
      </li>

      {% endif %}
        </ul>
    </section>
    <section id="article">
      <h3 class="mt-8 mb-4 heading-explain">شرح القراءات</h3>
      {% createArticleAccordions %}
        <h3>الكنيسة المغروسة على مجاري الروح القدس</h3>
<p>تتكلم قراءات اليوم على <strong>الكنيسة المبنية والمؤسسة على فيض وملء الروح القدس</strong> &#8220;لأننا جميعنا بروح واحد إعتمدنا إلى جسد واحد يهوداً كنا أم يونانيين، عبيداً أم أحرار، وجميعنا سقينا روحاً واحدا&#8221;..</p>
<h4>المزامير</h4>
<p>لذلك تبدأ القراءات بالمزامير التي تتحدث عن ← <strong>تسبيح الله وتمجيده</strong> وهذه هي إحدى علامات فيض الروح القدس في الكنيسة: <strong>تمجيد الآب والإبن</strong>..</p>
<h4>مزمور عشية</h4>
<p>لذلك يبدأ مزمور عشية بالحديث عن ← الكنيسة مجال ومكان تمجيد الآب فهي مدينة الله المقدسة التي يستعلن فيها تسبيحه وتمجيده.</p>
<h4>مزمور باكر</h4>
<p>ويعلن مزمور باكر عن ← سبب تمجيد الآب وهو إستجابة الآب لكل صلواتنا وطلباتنا بالروح.</p>
<h4>مزمور القداس</h4>
<p>ويختم مزمور القداس ← بتمجيد الإبن المخلص وفرح النفس بخلاصه العظيم.</p>
<ul>
<li>&#8220;عظيم هو الرب ومسبح جداً في مدينة إلهنا على جبله المقدس&#8221;.</li>
<li>&#8220;أعترف لك يا رب من كل قلبي لأنك اسنمعت كل كلمات فمي&#8221;.</li>
<li>&#8220;أسبح الرب المحسن إلىَّ وأرتل لأسم الرب العالي&#8230; يبتهج قلبي بخلاصك&#8221;.</li>
</ul>
<h4>انجيل عشية</h4>
<p>ويتكلم انجيل عشية وباكر عن ← <strong>الصلاة الدائمة بالروح</strong> كعلامة على فيض وملء الروح في الكنيسة ولكل نفس كقول القديس سيرافيم: إن الروح القدس هو الصلاة ..</p>
<p>وهذا ما تدعوا إليه قطع الساعة الثالثة أن يتجدد فينا فعل الروح القدس بالصلاة: هلم تفضل وحل فينا&#8230;</p>
<p>لذلك يعلن إنجيل عشية عن ← <strong>صلاة النصرة على الشيطان المقرونة بالإيمان والصوم</strong> &#8220;كل شئ مستطاع للمؤمن&#8230; هذا الجنس لا يمكن أن يخرج بشئ إلا بالصلاة والصوم.</p>
<h4>انجيل باكر</h4>
<p>وفي انجيل باكر عن<strong> ← صلاة الخدمة والدعوة</strong>.. وهي تحتاجها الكنيسة في كل جيل لضمان قانونية الدعوة ونقاوة الخدمة وفاعليتها &#8220;وخرج في تلك الأيام ليصلي على الجبل وكان ساهراً في صلاة الله فلما كان النهار دعا تلاميذه وإختار منهم إثنى عشر الذين سماهم رسلاً&#8221;.</p>
<h4>البولس</h4>
<p>ويعلن البولس عن ← <strong>شركة الروح وفعله المستمر مع أولاد الله</strong>..</p>
<ul>
<li>فهو يعطي للمؤمن الحياة الجديدة &#8220;نحن الذين لنا باكورة الروح&#8221; ..</li>
<li>ويعضد ضعفنا ويؤازرنا ويسندنا في جهادنا اليومي &#8220;وكذلك الروح أيضاً يعين ضعفنا&#8221;..</li>
<li>وهو أيضاً يشفع فينا بإستمرار ليحقق فينا مشيئة الآب وهو أن نحيا قديسين &#8220;ولكن الذي يفحص القلوب يعلم ما هو إهتمام الروح لأنه بحسب مشيئة الله يشفع في القديسين&#8221;.</li>
</ul>
<h4>الكاثوليكون</h4>
<p>ثم يتكلم الكاثوليكون عن ← <strong>الكنيسة الثابتة في تعليم الإبن وأهمية صحة التعليم ونقاوته لضمان إستمرارية عمل الروح القدس في الكنيسة</strong> &#8220;إحتفظوا بأنفسكم لا تضيعوا ما إقتنيتم&#8230; كل من يخالف تعليم المسيح ولم يثبت فيه فليس له الله، ومن يثبت في تعليم المسيح فهذا له الآب والإبن جميعاً&#8221;.</p>
<h4>الابركسيس</h4>
<p>ثم يحدثنا الابركسيس عن ← <strong>الكنيسة الثابتة في الإيمان والمتشددة بإلهها في الضيقات كإعلان عن أساسها القوي بالروح وإستحقاقها الملكوت</strong> &#8220;وفي العد خرج مع برنابا &#8230;. يشددان نفوس التلاميذ ويطلبان إليهم أن يثبتوا في الإيمان، وأنه بضيقات كثيرة ينبغي أن ندخل ملكوت الله.</p>
<h4>إنجيل القداس</h4>
<p>وفي انجيل القداس يختم ← <strong>بالكنيسة الثابتة في المحبة والفرح كإعلان دائم عن ملء الروح فيها وشركتها الدائمة مع الثالوث </strong>&#8220;كما أحبني أبي أحببتكم أنا أيضاً، إثبتوا في محبتي، إن حفظتم وصاياي تثبتون في محبتي كما أنا أيضاً حفظت وصايا أبي وأثبت في محبته، قلت لكم هذا ليثبت فرحي فيكم ويتم فرحكم أنتم أيضاً&#8221;.</p>
<h3> ملخص الشرح</h3>
<ul>
<li>الكنيسة المملوءة بالروح هي التي يستعلن فيها تمجيد الآب لإستجابته طلباتها بالروح وتمجيد الإبن لخلاصه العظيم. (مزمور عشية – مزمور باكر- مزمور القداس).</li>
<li>صلاة الكنيسة المملوءة بالروح المقرونة بالصوم والإيمان تعطي النصرة الدائمة على الشيطان. (انجيل عشية).</li>
<li>الكنيسة المملوءة بالروح في سهر وصلاة دائمين لضمان قانونية دعوة خدامها ونقاوة خدمتهم. (انجيل باكر).</li>
<li>الروح القدس يعطي الحياة الجديدة ويعضد ضعفنا ويشفع فينا ليحقق مشيئة الآب أن يكون الكل قديسين. (البولس).</li>
<li>أهمية ثبات الكنيسة وثباتها في تعليم الإبن لضمان فيض الروح القدس فيها. (الكاثوليكون).</li>
<li>قوة إيمان الكنيسة وثباتها في الضيقات علامة أساسها على الروح القدس. (الابركسيس).</li>
<li>ملء الروح في الكنيسة يجعلها ثابتة في المحبة والفرح ودائمة الشركة مع الآب والإبن. (إنجيل القداس).</li>
</ul>
<h3>عظات آبائية ليوم الثلاثاء من الأسبوع السابع من الخمسين يوم المقدسة</h3>
<h4>شرح لأنجيل القداس - القديس كيرلس الأسكندري<a href="#_ftn1" name="_ftnref1">[1]</a></h4>
<p><strong>(يو15: 11)</strong><strong> &#8220;كَلَّمْتُكُمْ بِهذَا لِكَيْ يَثْبُتَ فَرَحِي فِيكُمْ وَيُكْمَلَ فَرَحُكُمْ&#8221;. </strong></p>
<p>المسيح، عندما قدم لنا مثل الكرمة، وعلمنا بعد ذلك أن الغصن الذي ينفصل وينزع من الكرمة الأم التي تغذيه، يصبح بلا نفع، وأنه يلقى في النار، هذا الكلام أزعج تلاميذه إنزعاجاً غير قليل، لأن الأخبار المرعبة حتى لو كانت لا تشير إلى الحاضر فهي تسبب خوفاً غير قليل لمن يسمعونها خصوصاً إذا كان غموض المستقبل يولد شكوكاً بأن ما يسمعونه مرجح أن يحدث. لذلك فإن الرب يرفع تلاميذه الذين أصيبوا بالخوف والرعب بسبب الأخبار المرعبة ويعطيهم شجاعة وثباتاً، إذ إنه يترك الحديث المحزن ويكلمهم عن نوالهم فرح القلب في الله، فهو يقول لتلاميذه، أنا لم أكلمكم بهذه الأخبار المرعبة لكي أنزع الشجاعة من عقولكم ولا لكي أزعجكم، ولا لكي تنكسروا بالتفكير في الشرور الآتية فتفشلوا في الوصول إلى سعادتكم الآتية، بل بالعكس أنا قلت هذه الأخبار لكم لكي لا يحدث لكم شيء من الشرور، بل ليكون لكم فرح فيّ، و&#8221;يثبت فرحي فيكم&#8221; وإني أعتقد أننا ينبغي أن نفحص بعمق أكثر عن معنى هذه الفقرة وما الذي يريد المسيح أن نأخذه لنا مما يعنيه بهذا الكلام.</p>
<p>اذاً، يجب أن نأخذ هذه الفقرة على أن لها معنى مزدوج فإما أن نقول إن هذه الكلمات عن &#8220;يكون لكم فرح بي، أو فرح فيَّ، كما تستخدم في مناقشة لا تحمل إلا المعنى الواضح الظاهر: بمعنى إنكم أنتم أنفسكم يمكن أن تجعلوا قوتكم كاملة، بنظركم إلى المكافاة والبركات التي تفوق كل الأمور الأرضية، والأجر الذي ستربحونه نتيجة أتعابكم، والمجد العظيم الذي سيكون لكم مع الله، أو إن فكرنا فيها بمعنى آخر، فنحن سندخل إلى عمق أكثر في البحث.</p>
<p>فماذا تعني إذن، هذه الكلمات: &#8220;لكي يكون فرحي فيكم؟ هل تعني أن الابن الوحيد، هو كإنسان مثلنا، ولكن بدون خطية، قد قرر أن يتحمل كل الآلام التي فرض عليه جنون اليهود أن يجتازها؟ لأننا نجده يهان ويضطهد، ويعير بتعييرات مرة، ويبصق عليه، ويضرب بالعصي وبجلدات السياط، وأخر الكل أكملوا كل هذا بتسميره على الصليب من أجلنا وبسبب خطايانا، وفي وسط كل هذه المعاناة المرعبة، فإنه لم ينفر من عار الآلام التي كانت بحسب تدبيره، بل كان مملوء، ببهجة القلب والفرح الذي يليق به، إذ أنه رأى جموع الذين يخلصون، ورأى مشيئة الله الآب تتحقق لهذا السبب فهو قد حسب الإهانة والعار فرحاً واعتبر المعاناة لذة لأنهم حينما تجاسروا عليه بأمور لا تقبلها طبيعته، فإننا نجد أنه قد كتب عنه: &#8220;وَفِي تِلْكَ السَّاعَةِ تَهَلَّلَ يَسُوعُ بِالرُّوحِ وَقَالَ: أَحْمَدُكَ أَيُّهَا الآبُ، رَبُّ السَّمَاءِ وَالأَرْضِ، لأَنَّكَ أَخْفَيْتَ هذِهِ عَنِ الْحُكَمَاءِ وَالْفُهَمَاءِ وَأَعْلَنْتَهَا لِلأَطْفَالِ نَعَمْ أَيُّهَا الآبُ، لأَنْ هكَذَا صَارَتِ الْمَسَرَّةُ أَمَامَكَ&#8221; (لو۲۱:۱۰)، لاحظوا أنه حينما رأى الحكمة تعطى للأطفال والبسطاء، فرح وتهلل بالروح، وقدم تشكرات للآب الذي يخلصنا؛ وحينما اجتاز في أرض السامريين وكان قد تعب من السفر كما هو مكتوب، جلس على بئر يعقوب (انظر يو٤: ٦). ولكن حينما أظهرت له المرأة السامرية الحاجة للحصول على الماء، أخبرها عن الماء الحي، وتنبأ عن جموع السامريين الذي سيؤمنون به، ولم يعط إهتماماً كبيراً بالاحتياجات المادية، فهذا ما قاله لتلاميذه حينما طلبوا منه أن يأكل من الطعام الذي أحضروه &#8220;طَعَامِي أَنْ أَعْمَلَ مَشِيئَةَ الَّذِي أَرْسَلَنِي وَأُتَمِّمَ عَمَلَهُ&#8221; (يو٤: ٣٤) أليس واضحاً من هذا أنه اعتبر تتميمه لمشيئة أبيه، أي إعطاء ملجأ للخلاص لأولئك الذين سقطوا، هو لذته وفرحه؟ هذا الأمر لا شك فيه.</p>
<p>فهو يقول، كل هذا قد كلمتهم به &#8220;ليكون فرحي فيكم&#8221; لكى  تعطيكم تلك الأمور تشجيعاً وهذا يفرحني، ولكي تواجهوا المخاطر بشجاعة ممنطقين أنفسكم برجاء أن هناك أناساً سيخلصون بواسطتكم، وإن تعرضتم للمعاناة في هذا العمل فانكم لا تهبطوا إلى الضعف واليأس، بل تفرحون أكثر جداً حينما تتحقق بواسطتكم مشيئة ذلك &#8220;الَّذِي يُرِيدُ أَنَّ جَمِيعَ النَّاسِ يَخْلُصُونَ، وَإِلَى مَعْرِفَةِ الْحَقِّ يُقْبِلُونَ&#8221; (١تي٢: ٤) لأني أنا أيضاً فرحت بهذا واعتبرت آلامي حلوة ولذيذة ، لذلك إذن، حينما يقول، إنكم تختارون أن يكون لكم هذا الفرح، الذي هو فرحي، عندئذ يكون لكم الفرح كاملاً وتاماً، فنحن نعتقد أن الفرح التام والكامل هو ذلك الفرح الذي يكون في الله وبالله، والذي ينتج من الأعمال الصالحة عن طريق ثبات الرجاء واستقراره، ولأن هذا الفرح قد نشأ من مصدر أصيل، فلسنا نحن فقط بل يسوع نفسه أيضا يسر به. ونحن نقول إن الفرح الذي من العالم هو فرح ناقص؛ لأنه مؤقت وسريع الزوال، وناتج عن أسباب غير جديرة بالتقدير، أي عن أسباب أرضية تتلاشي سريعاً مثل الأشباح والظلال، وكما تقول إن البغضة تكون كاملة عندما تكون على أساس عادل، كما يقول داود المبارك عن مقاومي مجد الله &#8220;غْضًا تَامًّا أَبْغَضْتُهُمْ&#8221; (مز١٣٩: ٢٢). هكذا فإن المحبة الكاملة هي التي تقود أولئك الذين قد اختاروها، في الله وبالله، لكي يقدموا ذواتهم كلية لله، وهذه المحبة الكاملة لا تتعلق بأي أمور أرضية وأي أشياء لا قيمة حقيقية لها.</p>
<p><strong>(يو١٥: ١٢، </strong><strong>۱۳</strong><strong>)</strong> <strong>&#8220;هذِهِ هِيَ وَصِيَّتِي أَنْ تُحِبُّوا بَعْضُكُمْ بَعْضًا كَمَا أَحْبَبْتُكُمْ؛ لَيْسَ لأَحَدٍ حُبٌّ أَعْظَمُ مِنْ هذَا: أَنْ يَضَعَ أَحَدٌ نَفْسَهُ لأَجْلِ أَحِبَّائِهِ&#8221;.</strong></p>
<p>والآن هو يجعل معنى الآية السابقة أكثر وضوحًا، أي ضرورة أن يثبت فرحه في تلاميذه، كأنه يقول بوضوح: أنا أعطيكم هذه الوصية، وأريد أن تعلموا الذين يريدون أن يتبعوني أن يفعلوا هذا، وإن يفكروا هكذا بأن يمارسوا مثل هذه الطريقة في المحبة نحو بعضهم البعض كما فعلت أنا وأتممت المحبة، ما أعظم مقياس محبة المسيح وعلوها، هذا يظهره المسيح نفسه حينما يقول: إنه لا يوجد ما هو أعظم من مثل هذه المحبة، التي تدفع المحب أن يتخلى عن الحياة نفسها من أجل أولئك الذين يحبهم، وبهذا الكلام، فهو ليس فقط يعظ تلاميذه أنهم لا يليق بهم أن يهربوا خوفاً من مقابلة الأخطار من أجل الذين يحبونهم، بل أنه هو نفسه أيضاً لا ينفر من أن يضع نفسه بكل استعداد ورضا لكي يسلم جسده للموت، لأن قوة محبة مخلصنا قد بلغت إلى هذا المستوى العظيم جداً، وهذه الكلمات كانت تحمل قوته الفاعلة، وبتشجيعه لتلاميذه أن يبلغوا إلى شجاعة عظيمة وغير عادية، وبحثه لهم على المحبة الأخوية الكاملة، وبحمايته لقلوبهم بسلاح الغيرة الحسنة ومحبة الله، وإذ يرفعهم ليكون لهم غيرة باسلة لا تتغلب، فإنه يجعلهم يسرعون بكل قوة ليعملوا كل شيء حسب مسرته الصالحة. وهذا ما نراه عند بولس الرسول حيثما قال: &#8220;لِيَ الْحَيَاةَ هِيَ الْمَسِيحُ وَالْمَوْتُ هُوَ رِبْحٌ&#8221; (في١: ٢١)، وأيضاً: &#8220;لأَنَّ مَحَبَّةَ الْمَسِيحِ تَحْصُرُنَا إِذْ نَحْنُ نَحْسِبُ هذَا: أَنَّهُ إِنْ كَانَ وَاحِدٌ قَدْ مَاتَ لأَجْلِ الْجَمِيعِ، فَالْجَمِيعُ إِذًا مَاتُوا&#8221; (٢كو ٥ :١٤). وأيضاً: &#8220;مَنْ سَيَفْصِلُنَا عَنْ مَحَبَّةِ الْمَسِيحِ؟ أَشِدَّةٌ أَمْ ضَيْقٌ أَمِ اضْطِهَادٌ أَمْ جُوعٌ أَمْ عُرْيٌ أَمْ خَطَرٌ أَمْ سَيْفٌ؟&#8221; (رو٨: ٣٥). انظروا كيف يؤكد أنه لن يستطيع أي شيء أن يهزمنا ويسود علينا لكي يفصلنا عن محبة المسيح. وإن كان الاهتمام بالرعايا وإطعام خراف المسيح هما محبة له، ألا يكون واضحاً تماماً أن من يبشر بكلمة الخلاص للذين لم يعرفوا الله، سوف يغلب الموت والاضطهاد والسيف، وسوف لا يحسب حساباً للضيقات؟.</p>
<p>وإن كان مناسباً أن نركز المعنى ونلخص كلمات مخلصنا، وأن نعبر بكلمات قليلة عما يريد أن يفعله تلاميذه؛ فهو يدعوهم أن يحفظوا قلوبهم ثابتة بشجاعة، وخالية من كل خوف، وأن يبشروا بكلمة الإيمان به، ويكرزوا بالإنجيل لكل الذين في العالم. ونفس هذا الأمر يأمر به بواسطة كلمة إشعياء النبي: على جبل عال أصعدي يا مبشرة صهيون. أرفعي صوتك بقوة يا مبشرة أورشليم ارفعي ولا تخافي&#8221; (إش٤٠: ٩). وسنجد أن التلاميذ القديسين أنفسهم كان عندهم القوة ليفعلوا هذا مباشرة، حينما يسألون الله بصلاة حارة. ففي إحدى المرات يذكرون چنون اليهود ويصرخون إلى الله، &#8220;وَالآنَ يَا رَبُّ، انْظُرْ إِلَى تَهْدِيدَاتِهِمْ، وَامْنَحْ عَبِيدَكَ أَنْ يَتَكَلَّمُوا بِكَلاَمِكَ بِكُلِّ مُجَاهَرَةٍ&#8221; (أع٢٩:٤).</p>
<p>لأن الذين يقاومون ويثورون بعدم تقوى ضد خدمة الإنجيل الجهارية هم كثيرون جداً. ولكن حتى لو كان الرعب شديداً، وأفكار المشورة الشريرة ترتفع بشكل مخيف، فلن يكون هناك ذكر للألم والمعاناة وسط تلاميذه الحقيقيين إلى أن تبلغ الأعمال البارة النابعة من المحبة إلى غايتها. مثل هذه المحبة، أنا أعني، كما وضعها مخلصنا أمامنا كنموذج: &#8220;الَّذِي مِنْ أَجْلِ السُّرُورِ الْمَوْضُوعِ أَمَامَهُ، احْتَمَلَ الصَّلِيبَ مُسْتَهِينًا بِالْخِزْيِ&#8221; (عب٢:١٢)، لكي يكمل الخلاص لأولئك الذين قد أخطأوا، فلو أن الرب لم يكن راغباً في أن يتألم لأجلنا، لكنا قد ظللنا أمواتًا، وعبيدا للشيطان، جهال وعميان، ولبقينا في حاجة إلى كل صلاح، وعبيد للذة والخطية. أما الآن إذ قد أعطي المخلص حياته لأجلنا بسبب المحبة التي يحبنا بها، مظهرًا محبة تفوق كل مقارنة، وهكذا جعلنا موضع إعجاب ومباركين ببركة مثلثة، ولسنا في عوز إلى أي شيء صالح.</p>
<p>إذاً، فمعنى النص كما فهمناه سيتفق مع فهم جمع التلاميذ الملهمين واذا وصل هذا القول إلى كل العالم، وأعني: &#8220;هذِهِ هِيَ وَصِيَّتِي أَنْ تُحِبُّوا بَعْضُكُمْ بَعْضًا كَمَا أَحْبَبْتُكُمْ&#8221; فإن فائدة عظيمة سنتتج لكل من يسمعها ويتأمل فيها. لأنه أن كانت المحبة نحو الأخوة تحفظ كل وصية من مخلصنا وتعمل على تحقيقها، فإن من يحاول بكل ما يستطيع من قوة أن يكمل هذه الوصية فإنه سيتعرض للنقد واللوم، ولكنه سيكون جديرًا بكل إعجاب، حيث إن مجمل كل الفضائل مختزن في هذه الوصية. لأن المحبة لبعضنا البعض تلي مباشرة المحبة نحو الله وكل قوة البر نحو الله تكمل في هذه الكلمة الواحدة أي: &#8220;تُحِبُّ قَرِيبَكَ كَنَفْسِكَ&#8221; (غل٥: ١٤).</p>
<h4>محبة المسيح - القديس مقاريوس الكبير<a href="#_ftn2" name="_ftnref2">[2]</a></h4>
<p>(العظة العاشرة)</p>
<p><strong>الشركة والاتحاد بالعريس السماوي</strong></p>
<p>[مواهب النعمه الالهيه تحفظ وتزاد باتضاع القلب والاهتمام الجاد ولكنها تضيع بالكبرياء والكسل].</p>
<p><strong>المحبة الحارة للمسيح:</strong></p>
<p>1- إن النفوس التي تحب الحق وتحب الله، وتشتهي برجاء كثير وإيمان أن تلبس المسيح كلية، لا تحتاج كثيراً إلي تذكيرالآخرين، بل أنها لا تحتمل ولا إلي لحظة، أن تكون محرومة من حبها المشتعل للرب واشتياقها السمائي له بل بالحري اذ يكونون مسمرين تماماً وكليةً في صليب المسيح، فإنهم يشعرون بإحساس النمو والتقدم الروحي نحو العريس الروحاني، واذ يكونون مجروحين بالشوق السماوي، وجائعين الى بر الفضائل، فإنه يكون لهم رغبة عظيمة لا تنطفيء في إشراق وإنارة الروح.</p>
<p><strong>العطش والشوق المتزايد:</strong></p>
<p>وحتي إذا نالوا بواسطة إيمانهم، امتياز معرفة الأسرار الالهية وحتي إذا جعلوا شركاء في بهجة النعمة السماوية، فإنهم مع ذلك لا يضعون ثقتهم في أنفسهم، ولا يظنون أنهم شيء، بل بقدر ما يحسبون أهلاً لنوال المواهب الروحية، بقدر ما يزدادون عطشاً للشهوة السماوية، ويزدادون في طلبها باجتهاد وسهر.</p>
<p>وبقدر ما يشعرون في انفسهم بالتقدم الروحاني، فأنهم يزدادون جوعاً وعطشاً إلي شركة النعمة وازديادها.. وبقدر مايزدادون في الغني الروحاني، فأنهم بقدر ذلك يعتبرون أنفسهم فقراء، إذ أنهم لا يشبعون من الشوق الروحاني الحار إلى العريس السماوي، كما يقول الكتاب &#8220;الذين يأَكَلَون يعَودَون إِلَيَّ جَائِعين، وَالذينْ يشَرِبَوننِي يعَطشونْ&#8221; (ابن سيراخ ٢٤: 29).</p>
<p><strong>التحرر من الشهوات وشركة الروح السرية:</strong></p>
<p>٢– فمثل هذه النفوس، التي تحب الرب حباً حاراً لا ينطفيء، تكون أهلاً للحياة الأبدية، ولهذا السبب تمنح لهم نعمة التحرر من الشهوات وينالون اشراق الروح القدس بالتمام، وحضوره الذي يفوق الوصف، والشركة السرية معه في ملء النعمة، ولكن بعض النفوس تتراخى ولا يكون لها همة وجراءة، فلا تطلب وهي هنا على الأرض في الجسد، أن تنال - بصبر وطول أناة - تقديس القلب، ليس جزئياً بل تقديساً تاماً، إذ هي لم تتوقع أبداً أو تترجى أن يكون لها شركة كاملة في الروح المعزي بكل ثقة ويقين، وبكل إحساس واع، ولم تتوقع أبداً أن تتحرر من شهوات الشر بقوة الروح، أو ربما تكون، بعدأن نالت نعمة الله مرة، قد انخدعت  بالخطية وأسلمت ذاتها للإهمال والتكاسل.</p>
<p>٣– فهولاء اذ قد نالوا نعمة الروح، وحصلوا علي بعض عزاء النعمة، في الراحة والشوق والحلاوة الروحانية، فانهم يتكلون علي هذا، ويتشامخون، ثم يصيرون مهملين، ولا يكون لهم  انسحاق قلب، ولا عقل متضع ، فلا هم يصلون إلى الدرجة الكاملة -  درجة الحرية من الشهوات - ولا هم ينتظرون ويطلبون الامتلاء التام بالنعمة بكل اجتهاد وسهر وايمان، بل أنهم يشعرون بالاكتفاء، ويخلدون الى الراحة قانعين بالعزاء القليل الذي نالوه من النعمة. فالنمو القليل الذي حصلت عليه هذه النفوس كانت نتيجته الكبرياء بدلاً من التواضع ولذلك فانهم على المدى الطويل يتجردون من كل نعمة أعطيت لهم، بسبب احتقارهم وإهمالهم، وبسبب خداعهم لأنفسهم بالعجرفة الباطلة.</p>
<p><strong>الشركة السرية مع العريس السماوي:</strong></p>
<p>٤– والنفس التي تحب الله والمسيح حقيقة، حتي إذا عملت عشرة آلاف من أعمال البر، فهي تعتبر ذاتها انها لم تعمل شيئاً، بسبب حبها المشتعل الذي لا يخمد من نحو الله.. وبالرغم من انها تجهد الجسد بأصوام، وبأسهار إلا أنها في نظرتها إلى الفضائل تعتبر نفسها كأنها  لم تبدا بعد بأي عمل جدي لأجلها.</p>
<p>وبالرغم من مواهب الروح المتنوعة، والاستعلانات والأسرار السماوية التي ينعم بها عليها، فهي تشعر في ذاتها أنها لم تحصل على شيء بالمرة، وذلك بسبب حبها غير المحدود، والذي لا ينطفيء من نحو الرب.</p>
<p>طوال النهار تشتاق وتجوع وتعطش بالايمان والمحبة وبمداومة الصلاة، وهي تستمر في شوق بلا شبع لأسرار النعمة، ولتتميم كل فضيلة. وهي تكون مجروحة بحب حار مشتعل حب الروح السماوي، ويتحرك في داخل نفسها باستمرار بالنعمة الهام وشوق حار للعريس السماوي، راغبة أن تدخل دخولاً كاملاً إلى الشركة السرية الفائقة الوصف معه، بتقديس الروح.</p>
<p><strong>رؤية العريس السماوي في نور الروح:</strong></p>
<p>واذ يرتفع الحجاب عن وجه النفس، فأنها تحدق في العريس  السماوي وجهاً لوجه في نور الروح الذي لا يعبر عنه، وتختلط به بمليء الثقة، وتتشبه بموته، وترقب دائماً بشوق عظيم ان تموت لأجل المسيح، وهي تثق بيقين شديد أنها ستنال بقوة الروح انعتاقاً كاملاً من الخطية ومن ظلمة الشهوات، حتى إذا ما اغتسلت وتطهرت بالروح، وتقدست نفساً وجسداً، يسمح لها حينئذ أن تكون إناءً طاهراً معداً لاستقبال المسحة السماوية، وحلول المسيح الملك الحقيقي وحينئذ تؤهل للحياة الأبدية اذ تكون قد صارت منذ تلك الساعة مسكناً طاهراً للروح القدس.</p>
<p><strong>الأتعاب والتجارب في طريق الملكوت</strong><strong>:</strong></p>
<p>٥- ولكن النفس لا تصل الي كل هذه الدرجات مرة واحدة أو بدون امتحان.. فبأتعاب كثيرة ومجاهدات، ووقت طويل واهتمام جاد، وبامتحانات وتجارب متنوعة، تنال النمو والتقدم الروحاني إلى أن تصل إلى درجة الحرية الكاملة من الأهواء والشهوات، حتى إذا احتملت كل تجربة يجربها بها الشرير، بصبر وشجاعة، فانها حينئذ تتمتع بامتيازالحصول علي الكرامات العظيمة، والمواهب الروحية وكنوز الغنى السماوي، وهكذا تصير وارثة للملكوت السماوي بالمسيح يسوع ربنا الذي له المجد والقدرة إلي الأبد آمين.</p>
<h3>عظات آباء وخدّام معاصرين <strong>ليوم الثلاثاء من الأسبوع السابع من الخمسين يوم المقدسة</strong></h3>
<h4>كيف أنمو في محبة المسيح - للمتنيح القمص بيشوي كامل<a href="#_ftn3" name="_ftnref3">[3]</a></h4>
<p>في الحقيقة نحن نغالط أنفسنا حين نطلب أن نتعلم كيف نحب الله، فنحن بهذا نضع الله في الصورة التي لا تليق به كأنه غير جذاب حتى أننا نُغصب على محبته. ولو أننى تأملت محبة الرب التي جذبت المجدلية ومتى وزكا ويوحنا لأدركت مقدار جاذبية الله ومحبته لنا. أما محبتنا فهى طاقة موجودة فينا ينقصها التوجيه، فحين نوجه الطفل نحو محبة العالم يصير إنساناً عالمياً، ونحن نوجهه نحو محبة المسيح نخلق منه مسيحياً حقيقياً &#8220;لأَنَّ مَحَبَّةَ اللهِ قَدِ انْسَكَبَتْ فِي قُلُوبِنَا بِالرُّوحِ الْقُدُسِ الْمُعْطَى لَنَا&#8221; ( رو ٥ : ٥ ). إذن ، فنحن نملك إمكانية الحب بفعل الروح فينا، وطالما اختبرنا فترات من الفتور الشديد التي تقطعها لمسات الروح فتلتهب قلوبنا بحب لا ندري مصدره. إنه الروح القدس، روح الحب الذى من عند الآب ينبثق. وفى تعبيرنا الأرثوذكسي نؤمن أنه ينبثق من الآب في الابن، فهو الذى يوحدنا مع المسيح بفعل محبته المنسكبة فينا.</p>
<p><strong>دواعي المحبة:</strong></p>
<p>قال الرب: &#8220;فَإِنْ كُنْتُمْ وَأَنْتُمْ أَشْرَارٌ تَعْرِفُونَ أَنْ تُعْطُوا أَوْلاَدَكُمْ عَطَايَا جَيِّدَةً، فَكَمْ بِالْحَرِيِّ الآبُ الَّذِي مِنَ السَّمَاءِ، يُعْطِي الرُّوحَ الْقُدُسَ لِلَّذِينَ يَسْأَلُونَهُ؟&#8221; (لو١١: ١٣). لقد أخذت من الآب بركات كثيرة فما هو مقياسها ودليل الاستفادة منها؟ إن امتلاء القلب بمحبة الله أكثر من كل شيء في الوجود هو دليل وعلامة الملء بالروح. ونحن حين ندرس الإصحاح ١٦ من سفر حزقيال تظهر لنا رعاية الله. فأورشليم هنا تعني النفس البشرية التي يخاطبها الرب قائلاً: &#8220;كنت غريبة ، فَلَمْ تُقْطَعْ سُرَّتُكِ، وُلدت في خزى وعار، وأوشك نزيف الخطية أن يهلكك. لم تُشفق عليك عين بسبب قذارتك فكرهوك. انقطع رجاء الكل في حياتك فتركوك للموت في دماء الخطية. أما أنا فلما مررت بك قلت لك: بِدَمِكِ عِيشِي، بِدَمِكِ عِيشِي! الخطية نزعت عنك ثياب النعمةً ، أما أنا فَمَرَرْتُ بِكِ وَرَأَيْتُكِ، وَإِذَا زَمَنُكِ زَمَنُ الْحُبِّ&#8221;.</p>
<p>حقاً لكل منا زمن اسمه زمن الحب، فيه وزعنا محبتنا للعالم بكل ما فيه، مع أن الرب هو الوحيد الذى يستحق كل ما لدينا من حب.</p>
<ul>
<li>&#8220;فَبَسَطْتُ ذَيْلِي عَلَيْكِ وَسَتَرْتُ عَوْرَتَكِ، وَحَلَفْتُ لَكِ، وَدَخَلْتُ مَعَكِ فِي عَهْدٍ&#8221;. كان العهد القديم بدم تيوس وعجول أما العهد الجديد فقد كتبه المسيح بدمه على الخشبة. يا ليتنا ندخل في عهد مع الرب.</li>
</ul>
<p>&#8220;فَصِرْتِ لِي&#8221; ليس لندخل ضمن ملكية الله بل ليدخل الله ضمن ملكيتنا.</p>
<ul>
<li>ثم يبدأ الرب في تجميلنا لتصبح نفوسنا عروساً له ، كما نرى في مثل الابن الضال. &#8220;حَمَّمْتُكِ&#8221; يشير إلى المعمودية التي يجب أن نتذكرها كل يوم حين نتلامس مع الماء أثناء غسيل الوجه أو الأيدى أو أثناء الاستحمام.</li>
</ul>
<p>لقد اغتسلنا بدم المسيح في المعمودية، ولو كانت لنا العين الروحية لرأينا المسيح يعمد وليس الكاهن. &#8220;مَسَحْتُكِ بِالزَّيْتِ&#8221; يعنى مسحة الميرون التي بها نثبت في الروح القدس. &#8220;أَلْبَسْتُكِ مُطَرَّزَةً&#8221; فقد صرنا نلبس الرب يسوع نفسه وينبغى أن نتذكر ذلك كلما ارتدينا ثيابنا.</p>
<ul>
<li>&#8220;وَحَلَّيْتُكِ بِالْحُلِيِّ، فَوَضَعْتُ أَسْوِرَةً فِي يَدَيْكِ وَطَوْقًا فِي عُنُقِكِ، وَوَضَعْتُ خِزَامَةً فِي أَنْفِكِ وَأَقْرَاطًا فِي أُذُنَيْكِ وَتَاجَ جَمَال عَلَى رَأْسِكِ&#8221; أي أن الرب قد قدس حواسنا كلها.</li>
<li>&#8220;وَأَكَلْتِ السَّمِيذَ وَالْعَسَلَ وَالزَّيْتَ&#8221; أي غذى نفوسنا بواسائط النعمة.</li>
<li>&#8220;وَجَمُلْتِ جِدًّا جِدًّا، فَصَلُحْتِ لِمَمْلَكَةٍ، وَخَرَجَ لَكِ اسْمٌ فِي الأُمَمِ لِجَمَالِكِ، لأَنَّهُ كَانَ كَامِلاً بِبَهَائِي الَّذِي جَعَلْتُهُ عَلَيْكِ&#8221;. إن محبة الله لا تنقص أمام جحود الإنسان، ولعل ذبيحة الرب لآدم تؤكد لنا هذه الحقيقة، وما كانت هذه الذبيحة إلا رمزاً لذبيحة الصليب.</li>
</ul>
<p>إذن، نحن نملك طاقة حب كاملة والله لا ينقصه وصف لأن حلاوته كاملة، ولكن هناك أسباباً لفتور المحبة من جهتنا لما نكتشفها ونعالجها نقول للرب ما قالته العروس: &#8220;أَنَا لِحَبِيبِي وَحَبِيبِي لِي&#8221;.</p>
<p><strong>أسباب فتور المحبة</strong></p>
<ol>
<li><strong> الضيقات: </strong></li>
</ol>
<p>يعلمنا الرسول أن نفتخر في الضيقات إذ يقول: &#8220;نَفْتَخِرُ أَيْضًا فِي الضِّيقَاتِ، عَالِمِينَ أَنَّ الضِّيقَ يُنْشِئُ صَبْرًا، وَالصَّبْرُ تَزْكِيَةً، وَالتَّزْكِيَةُ رَجَاءً، وَالرَّجَاءُ لاَ يُخْزِي&#8221; (رو٥ : ٣- 5).</p>
<p>كثيراً ما تهز الضيقات المادية محبتنا لله، وهكذا نحب الرب بقدر نجاحنا المادي أو الدنيوي. هذه ليست محبة !! الرسول لا يطلب منا أن نحتمل الضيقات بل أن نفتخر بها إذ يرى محبة الله خلالها.</p>
<ul>
<li>كنت أزور فتاة مريضة لازمت فراشها ثلاثة اشهر بألم شديد، سألتها عما استفادته من هذه التجربة، فقالت: لقد فهمت الآن قيمة نفسي تماماً. ولو أن ألف إنسان حدثوني عن التواضع لما استفدت منهم كما استفدت من مرضي، شكراً لمحبة الله ودروسه الحلوة.</li>
</ul>
<p>لقد أعطى الرب لهذه الفتاة فضيلة التواضع في ثلاثة أشهر بينما يجاهد القديسون لأجلها سنوات طويلة.</p>
<p>الضيقات هي عمليات تجميل يجريها الرب في نفوسنا لتصير لائقة بعرسه المبارك. لهذا يصلى المرنم: &#8220;ابلني يا رب وجربني، نق قلبي وكليتي&#8221;!! هل يطلب الإنسان البلوى والتجربة؟! نعم إن كانت هي طريق النقاوة!.</p>
<p>ليتنا ندرك هذا السر فنشكر الله ونفرح بتجاربه المتنوعة (يع١: ٢ – ٥).</p>
<ol start="2">
<li><strong> الخطية: </strong></li>
</ol>
<p>هذه تطفئ محبة الله في القلب، فمع أننا ننادى الرب طوال النهار: &#8220;يا أبانا الذى في السماوات&#8221;، إلا أننا نجرح أبوة قلبه كل حين بخطايانا الكثيرة، متجاهلين أن الرب يحبنا بالقدر الذى به يحب ابنه الوحيد.</p>
<p>ليتنا نعتبر الخطية في ضوء محبة الله، فالخطية إساءة لهذه المحبة. نحن نجرح المسيح ولكنه يتألم لأجلنا. متى يصير شعورنا نحو الخطية مرهفاً جداً؟!.</p>
<p>ما هي نظرتنا نحو خطايا الآخرين؟ هم جرحوا المسيح؟ فليكن.. ونحن حينما ندينهم نضاعف جراحاته! خطيه الإدانة تجرح المسيح مضاعفاً. ليتنا نضمد جراحات يسوع لما نراه مجروحاً فنبحث عن البعيدين ونجدبهم إلى بيت الرب كإعلان عن محبتنا له. أعرض ليسوع خطاياك وتب عنها، وتب أيضاً عن خطايا زملائك فتكسبهم للمسيح.</p>
<p><strong>التوبة هي أهم علامات الحب. </strong></p>
<p>والمجدلية قدمت لنا أعمق درس في الحب إذ غُفرت لها خطاياها الكثيرة لأنها أحبت كثيراً.</p>
<p>ومن التوبة يتولد أختبار الدين؛ أنا مدين للمسيح بحياتي التي أعطاها لي بموته. يا ليتني أرفع رأسي نحو الصليب وأسأل نفسي: هل سددت ما علي من دين؟ هل أعطيت الرب كرامتي وصحتي وشبابي؟ حتى هذا كله لا يوفي شيئاً!.</p>
<p>اختبار التوبة يعطينا إحساساً بالشكر، فنرفع قلوبنا كل يوم وفى كل مكان ونردد اسم يسوع قائلين: يا ربي يسوع المسيح ارحمني، يا ربي يسوع المسيح احرسني، يا ربي يسوع المسيح اغفر لي، يا ربي يسوع المسيح ارع حياتي.. أذكر اخوتي.. أنا لك وأنت لي.. وهكذا، هذه الصلوات القصيرة تولد في القلب محبة شديدة للمسيح بالروح القدس المنسكب فينا كتيار نازل من السماء، يثمر فينا شكراً دائماً، وصلاة متواترة، وحديثاً حاراً عن الرب.</p>
<p>محبة الله لا يستطيع إنسان أن يتكلم عنها، هي عطية الروح تغمرنا إذا طلبناها بصدق ومثابرة. ولربنا المجد إلى الأبد. آمين.</p>
<h4>محبة الله – للمتنيح الأرشيدياكون حبيب جرجس<a href="#_ftn4" name="_ftnref4">[4]</a></h4>
<p>المحبة شيء عظيم تدنو به النفس وهي واثقة ثابتة فرحة مسرورة، وتقرب من موضوع حبها وهي مستبشرة آمنة بتلك الثقة والدالة. مستشيرة من تحبه في كل أمر، ولا تفعل شيئاً يخالف ارادته مزدرية بكل ما يعترض طريقها.</p>
<p>من يحب لا يستصعب شيئاً، لان النفس التي تحب الله ترتقي فوق الصعوبات وتستسهل الضيقات، وتصير المسالك الوعرة أمامها ممهدة، والمعوجات طرقاً مستقيمة، كل وطاء يرتفع أمامها، وكل جبل عال ينخفض تحت أقدامها، ولا يوجد شيء لا تقدر عليه المحبة.</p>
<p>المحبة دائماً مرتفعة الي فوق، متقدمة الي الأمام، ولا ترجع الي الوراء ولا تريد أن تقف عند حد حتي تحصل علي ما ترغبه وترجوه وتشتهيه ممن تحبه، ولا تطيق أن يثبطها أدني عائق أو يرجعها عن غرضها.</p>
<p>المحبة قوية في ذاتها، لا تشعر بضعف أو عجز، بل تحسب كل شيء مستطاعاً لها، هي قادرة علي كل شيء، ولا تقدر قوة أن تقف دونها بل تهزأ بكل شيء في سبيل تقدمها، تحب الحرية والتنزه عن الدنايا، ولا تطمع بخير زمني، ولا تهلع عند الضيقة، لانها قوية كالموت، وعميقة كالهاوية، مستمرة كلهيب نار، إن أنفق الانسان كل ما في الأرض لشرائها لا تقبل، لا ثمن لها، تحتقر كل ما هو مادي، وتزدري بكل كرامة دنيوية، ولا تقبل رشوة، ولا تسكن إلا في القلب والروح ولا تعرف إلا الإحساس والشعور.</p>
<p>المحبة تأبي الخفاء وتحب الصراحة والظهور، ومهما اجتهد صاحبها أن يخفيها تجلت باسمي مظاهرها، لا تجزع من خوف ولا ترهب وعيداً ولا تخشي تهديداً، ومهما ضيق عليها فلا تتوارى، بل كشعلة مستمرة وكنار مضطرمة تتصاعد وتنير طريقها.</p>
<p>المحبة ثابتة وغير متزعزعة، كما تسر في الرخاء لا تستاء في الشدة، لا يهمها ما يعطي لها من المواهب قدر ما تنظر وتعتبر الواهب نفسه.</p>
<p>متي حلت محبة الله في القلب كانت هي المحرك والمسلط والباعث والملهم والقائد والمرشد والمعلم والمتكلم والمنظم والمذكر والمقوي والمساعد والمنير والمبكت والمعزي والمسلي وبالجملة الفاعل لكل شيء، اذا انسكبت في القلب ملأته بالفضائل وفاضت منه ينابيع البركات. وظهرت أثمارها في حياة الانسان.</p>
<p>لا شيء في الحياة ولا في الفضائل إلا وهو نتيجة من نتائج المحبة، أو ثمرة من ثمراتها أو مظهر من مظاهرها، أو شعاع من أنوارها، أو حركة من قوتها، أو فعل من أفعالها، أو عنصر من عناصرها..</p>
<p>فالايمان محبة متمسكة بمحبوبها، والرجاء محبة منتظرة ومتوقعة قرب مجيء حبيبها، والسلام محبة هادئة، ودرس كلام الله محبة تقرأ رسائل محبوبها، والصلاة محبة متوسلة تسكب نفسها أمام المحب وتفيض من ملء شغفها، وتعلن عواطفها نحو من تحبه، والتواضع محبة جالسة تحت أقدام الحبيب، والصبر محبة تقبل كل ما يرد اليها ممن تحب، والحمية والغيرة محبة متوقدة تغار علي مجد المحبوب، والكرازة بالانجيل محبة تنشر مبادئها وترغب خلاص الجميع لمعرفة الحبيب، وكره الخطية محبة الابتعاد عن كل ما يفرقها عن محبوبها، والشفقة محبة مساعدة، والحكمة محبة تظهر في رزانتها، والعدل محبة تظهر الحق، وهكذا لا تجد فضيلة إلا وهي مظهر من مظاهر المحبة.</p>
<p>متي سادت المحبة علي الجميع حولت كل شيء الي صلاح وخير، تقوي الذاكرة، وتحيي الارادة، وتهب اللسان فصاحة، وتمنح القاضي عدلاً، والمحامي حقاً، والطبيب طيبة، والكاتب صدقاً، والمعلم اخلاصاً، والعالم دقة، والمهندس ضبطاً، والتاجر أمانة، وتحدث تغييراً حتي في ظواهر الانسان، فتكسب العينين اشراقاً وضياء، والوجه لمعاناً وصفاء، والملامح سكوناً، حتي الصوت تكسبه حسن الايقاع وجميل النغم.</p>
<hr />
<p><a href="#_ftnref1" name="_ftn1">[1]</a>  تفسير انجيل يوحنا للقديس كيرلس الاسكندري - المجلد الثاني - ص 276 - ترجمة دكتور نصحي عبد الشهيد وآخرون.</p>
<p><a href="#_ftnref2" name="_ftn2">[2]</a>  كتاب عظات القديس مقاريوس الكبير -  ترجمة دكتور نصحي عبد الشهيد – مؤسسة القديس أنطونيوس – المركز الأرثوذكسي للدراسات الآبائية.</p>
<p><a href="#_ftnref3" name="_ftn3">[3]</a>  الكتاب الشهرى للشباب والخدام - عدد ديسمبر لسنة ٢٠٠٤ - بيت التكريس لخدمة الكرازة .</p>
<p><a href="#_ftnref4" name="_ftn4">[4]</a>  كتاب تاريخ الوعظ وأهميته في الكنيسة المسيحية عموماً والقبطية خصوصاً - صفحة ٦٢ - الأرشيدياكون حبيب جرجس.</p>

      {% endcreateArticleAccordions %}
    </section>
  {% endblock %}
