---
layout: 'layouts/reading.html'
title: 'يوم الأربعاء من الأسبوع السابع للخمسين يوم المُقَدَّسَة'
tags: 'pentecost'
permalink: /articles/pentecost/7-3.html
---
  {% block content %}
    <section id="readings">
      <ul>
      {% if 'undefined' != 'undefined' %}
      
      {% else %}
      {% if '19.19:8,7' != 'null' %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">العشية</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeVespers '19.19:8,7' '42.7:18-23' %}
          </div>
        </div>
      </li>
      {% endif %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">باكر</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeMatins '19.12:6' '42.7:24-28' '' %}
          </div>
        </div>
      </li>
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <h3 class="flex items-center justify-between">
            <span class="kufi">القداس</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </h3>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeLitugy '45.8:28-39' '64.1:1-8' '44.15:4-9' '19.89:52,49' '43.15:12-16' %}
          </div>
        </div>
      </li>

      {% endif %}
        </ul>
    </section>
    <section id="article">
      <h3 class="mt-8 mb-4 heading-explain">شرح القراءات</h3>
      {% createArticleAccordions %}
        <h3><strong>الكنيسة المدعوة والمختارة في المسيح</strong></h3>
<p>تتكلم قراءات اليوم عن <strong>الكنيسة المدعوة والمختارة في المسيح</strong> .. فالكنيسة جسد المسيح، كرمة العهد الجديد، جمعت أغصانها من كل الأمم ومن كل القبائل والشعوب والألسنة، وبعد ما كانت الأغصان غريبة عن الكرمة وخالية من الحياة، صارت في المسيح جنساً مختاراً، مملكة وكهنوتاً وأمة مقدسة وشعباً مبرراً، وصارت دائماً كرمة مشتهاة بالرب حارسها، الذي يسقيها كل لحظة ويحرسها ليلاً ونهاراً، ولم تعد موحشة غريبة مطروحة، بل صارت تحيا في المسيح دائماً زمن الحب..</p>
<h4>المزامير</h4>
<p>لذلك تعلن المزامير عن:</p>
<ul>
<li>الكنيسة المختارة من خلال كلمة الله ووعوده الإلهية فالإبن من خلال إعلان كلمته ينير الطريق أمام كل نفس. (مزمور عشية).</li>
<li>ويجعل النفس في حالة تطهير مستمر وتنقية دائمة. (مزومر باكر).</li>
<li>ويكللها بمجد الرب وتسبيحه طول الأيام. (مزمور القداس).</li>
<li>&#8220;إعلان أقوالك ينير لي ويفهم الأطفال الصغار&#8221;. (مزمور عشية).</li>
<li>&#8220;كلام الرب كلام نقي فضة محمية مجربة في الأرض قد صفيت سبعة أضعاف&#8221;. (مزومر باكر).</li>
<li>&#8220;مبارك الرب إلى الدهر يكون&#8221;. (مزمور القداس).</li>
</ul>
<h4>انجيل عشية</h4>
<p>ثم يتكلم إنجيل عشية عن ← <strong>الكنيسة المدعوة والمختارة في المسيح لشفاء العالم وخلاصه</strong> من كل الأوجاع والأتعاب.. فيوحنا يدعو تلاميذه لتبعية المسيح، والمسيح له المجد يعلن جوهر دعوته.. &#8220;فأجاب وقال لهما إذهبا فأخبرا يوحنا بما رأيتما وسمعتما إن العميان يبصرون والعرج يمشون والبرص يطهرون والصم يسمعون والموتى يقومون والمساكين يبشرون وطوبى لمن لا يشك فيَّ&#8221;.</p>
<h4>انجيل باكر</h4>
<p>ويعلن انجيل باكر عن ← <strong>الكنيسة المدعوة في المسيح التي جعل المسيح أصغر أعضائها ينالون غنى نعمة العهد الجديد</strong> العطية التي كان يشتهيها من بعيد أعظم أنبياء العهد القديم .. &#8221; أقول لكم أنه لا أحد في مواليد النساء أعظم من يوحنا المعمدان أما الأصغرمنه في ملكوت السموات فهو أعظم منه .</p>
<h4>البولس</h4>
<p>وفي البولس يتكلم عن ← <strong>الكنيسة المدعوة لمشابهة صورة الإبن ولنوال تبريره ونعمته ونصرته ومحبته</strong>.. &#8220;ونحن نعلم أن كل الأشياء تعمل معاً للخير للذين يحبون الله الذين هم مدعوون حسب قصده لأن الذين سبق فعرفهم سبق فعينهم ليكونوا مشابهين صورة إبنه ليكون هو بكراً بين أخوة كثيرين والذين سبق فعينهم فهؤلاء دعاهم أيضاً والذين دعاهم بررهم أيضاً&#8221;.</p>
<h4>الكاثوليكون</h4>
<p>وفي الكاثوليكون عن ← <strong>اصالة ونقاوة دعوة الكنيسة في المسيح المعلنة في شهادتها للحق الإلهي في طرق حياتها وسلوكها</strong>.. &#8220;ولقد فرحت جداً إذ حضر الأخوة وشهدوا لك بالحق الذي فيك كما أنك تسلك بالحق ليس لي فرح أعظم من هذا أن أسمع عن أولادي أنهم يسلكون بالحق&#8221;.</p>
<h4>الابركسيس</h4>
<p>وفي الابركسيس عن ← <strong>كنيسة الأمم المدعوة منذ القديم لقبول كلمة الإنجيل وفيض الروح القدس في ملء الزمان في المسيح</strong>.. &#8220;وقال لهم أيها الرجال الأخوة أنتم تعرفون أنه منذ أيام قديمة انتخب الله بيننا أنه بفمي يسمع الأمم كلمة الإنجيل فيؤمنون والله العارف القلوب شهد لهم إذ أعطاهم الروح القدس كما لنا أيضاً ولم يميز بينهم وبيننا إذ طهر بالإيمان قلوبهم&#8221;.</p>
<h4>إنجيل القدَّاس</h4>
<p>وفي إنجيل القدَّاس عن ← <strong>الكنيسة المدعوة في المسيح للتبني للآب ومعرفة مشيئته وتدبيره لأجل خلاص العالم وبنيانه وسلامه وفرحه</strong>.. &#8220;لست أدعوكم عبيداً لأن العبد لا يعلم ما يعمل سيده أما أنتم فقد دعوتكم أحبائي لأني أعلمتكم بكل ما سمعته من أبي ليس أنتم اخترتموني بل أنا اخترتكم وأقمتكم لتذهبوا وتأتوا بثمر ويدوم ثمركم لكي يعطيكم الآب ما تسألونه بإسمي&#8221;.</p>
<h3>ملخص الشرح</h3>
<ul>
<li>الإبن خلال إعلان كلمته ينير الطريق أمام كل نفس ويجعلها في حالة تطهير وتنقية دائمة ويكللها بمجد الآب وتسبيحه.</li>
<li>كلمة الله = إستنارة (عشية)، وتطهير (باكر)، واكليل (القداس). (مزمور عشية وباكر والقداس).</li>
<li>الكنيسة مدعوة في المسيح لشفاء العالم من أوجاعه وأتعابه. (إنجيل عشية).</li>
<li>دعوة الكنيسة في المسيح أعطت أصغر أعضائها شهوة أعظم أنبياء العهد القديم (إنجيل باكر).</li>
<li>الكنيسة مدعوة لمشابهة صورة الإبن ولنوال تدبيره ونعمته ونصرته ومحبته. (البولس).</li>
<li>الكنيسة الشاهدة للحق الإلهي في طريق حياتها وسلوكها تعلن عن أصالة ونقاوة دعوتها في المسيح. (الكاثوليكون).</li>
<li>كنيسة الأمم مدعوة في المسيح لقبول كلمة الإنجيل وفيض الروح القدس. (الإبركسيس).</li>
<li>الكنيسة مدعوة في المسيح للتبني للآب ومعرفة مشيئته وتدبيره لأجل سلام العالم وبنيانه وإثماره وخلاصه. (إنجيل القداس).</li>
</ul>
<h3>عظات آبائية ليوم الأربعاء من الأسبوع السابع من الخمسين يوم المقدسة</h3>
<h4>شرح لأنجيل القداس - القديس كيرلس الأسكندري<a href="#_ftn1" name="_ftnref1">[1]</a></h4>
<p><strong>(يو١٥: ١٢، ١٣)</strong><strong> &#8220;</strong> <strong>هذِهِ هِيَ وَصِيَّتِي أَنْ تُحِبُّوا بَعْضُكُمْ بَعْضًا كَمَا أَحْبَبْتُكُمْ</strong><strong>. لَيْسَ لأَحَدٍ حُبٌّ أَعْظَمُ مِنْ هذَا: أَنْ يَضَعَ أَحَدٌ نَفْسَهُ لأَجْلِ أَحِبَّائِهِ</strong><strong>&#8220;. </strong></p>
<p>والآن هو يجعل معنى الآية السابقة أكثر وضوحا، أي ضرورة أن يثبت فرحه في تلاميذه، كأنه يقول بوضوح: أنا أعطيكم هذه الوصية، وأريد أن تعلموا الذين يريدون أن يتبعوني أن يفعلوا هذا، وإن يفكروا هكذا بأن يمارسوا مثل هذه الطريقة في المحبة نحو بعضهم البعض كما فعلت أنا وأتممت المحبة ما أعظم مقياس محبة المسيح وعلوها، هذا يظهره المسيح نفسه حينما يقول: إنه لا يوجد ما هو أعظم من مثل هذه المحبة، التي تدفع المحب أن يتخلى عن الحياة نفسها من أجل أولئك الذين يحبهم، وبهذا الكلام، فهو ليس فقط يعظ تلاميذه أنهم لا يليق بهم أن يهربوا خوفاً من مقابلة الأخطار من أجل الذين يحبونهم، بل أنه هو نفسه أيضا لا ينفر من أن يضع نفسه بكل استعداد ورضا لكي يسلم جسده للموت، لأن قوة محبة مخلصنا قد بلغت إلى هذا المستوى العظيم جداً، وهذه الكلمات كانت تحمل قوته الفاعلة، وبتشجيعه لتلاميذه أن يبلغوا إلى شجاعة عظيمة وغير عادية، ويحثه لهم على المحبة الأخوية الكاملة، وبحمايته لقلوبهم بسلاح الغيرة الحسنة ومحبة الله، وإذ يرفعهم ليكون لهم غيرة باسلة لا تتغلب، فإنه يجعلهم يسرعون بكل قوة ليعملوا كل شيء حسب مسرته الصالحة. وهذا ما نراه عند بولس الرسول حيثما قال: &#8220;لي الحياة هي المسيح والموت هو ربح&#8221; (في١: ٢١)، وأيضاً: &#8220;لأن محبة المسيح تحصرنا، إذ نحن نحسب هذا أنه إن كان واحد قد مات لأجل الجميع فالجميع إذا ماتوا&#8221; (٢كو ٥ :١٤). وأيضا &#8220;من سيفصلنا عن محبة المسيح  أم اضطهاد أم جوع أم عري أو خطر أو سيف&#8221; (رو٨: ٣٥). انظروا كيف يؤكد أنه لن يستطيع أي شيء أن يهزمنا ويسود علينا لكي يفصلنا عن محبة المسيح. وإن كان الاهتمام بالرعايا وإطعام خراف المسيح هما محبة له، ألا يكون واضحاً تماماً أن من يبشر بكلمة الخلاص للذين لم يعرفوا الله، سوف يغلب الموت والاضطهاد والسيف، وسوف لا يحسب حساباً للضيقات؟.</p>
<p>وإن كان مناسباً أن نركز المعنى ونلخص كلمات مخلصنا، وأن نعبر بكلمات قليلة عما يريد أن يفعله تلاميذه؛ فهو يدعوهم أن يحفظوا قلوبهم ثابتة بشجاعة، وخالية من كل خوف، وأن يبشروا بكلمة الإيمان به، ويكرزوا بالإنجيل لكل الذين في العالم. ونفس هذا الأمر يأمر به بواسطة كلمة إشعياء النبي: على جبل عال أصعدي يا مبشرة صهيون. أرفعي صوتك بقوة يا مبشرة أورشليم ارفعي ولا تخافي&#8221; (إش٤٠: ٩). وسنجد أن التلاميذ القديسين أنفسهم كان عندهم القوة ليفعلوا هذا مباشرة، حينما يسألون الله بصلاة حارة. ففي إحدى المرات يذكرون چنون اليهود ويصرخون إلى الله، &#8220;والآن يا رب أنظر إلى تهديداتهم وأمنح عبيدك أن يتكلموا بكلامك بكل مجاهرة&#8221; (اع٢٩:٤).</p>
<p>لأن الذين يقاومون ويثورون بعدم تقوى ضد خدمة الإنجيل الجهارية هم كثيرون جداً. ولكن حتى لو كان الرعب شديداً، وأفكار المشورة الشريرة ترتفع بشكل مخيف، فلن يكون هناك ذكر للألم والمعاناة وسط تلاميذه الحقيقيين إلى أن تبلغ الأعمال البارة النابعة من المحبة إلى غايتها. مثل هذه المحبة، أنا أعني، كما وضعها مخلصنا أمامنا كنموذج: &#8220;الذي من أجل السرور الموضوع أمامه احتمل الصليب مستهيناً بالخزي&#8221; (عب٢:١٢)، لكي يكمل الخلاص لأولئك الذين قد أخطأوا، فلو أن الرب لم يكن راغبا في أن يتألم لأجلنا، لكنا قد ظللنا أمواتًا، وعبيداً للشيطان، جهال وعميان، ولبقينا في حاجة إلى كل صلاح، وعبيد للذة والخطية. أما الآن إذ قد أعطي المخلص حياته لأجلنا بسبب المحبة التي يحبنا بها، مظهرًا محبة تفوق كل مقارنة، وهكذا جعلنا موضع إعجاب ومباركين ببركة مثلثة، ولسنا في عوز إلى أي شيء صالح.</p>
<p>إذاً، فمعنى النص كما فهمناه سيتفق مع فهم جمع التلاميذ الملهمين واذا وصل هذا القول إلى كل العالم، وأعني: &#8220;هذه هي وصيتي أن تحبوا بعضكم بعضاً كما أحببتكم أنا&#8221; فإن فائدة عظيمة سنتتج لكل من يسمعها ويتأمل فيها. لأنه أن كانت المحبة نحو الأخوة تحفظ كل وصية من مخلصنا وتعمل على تحقيقها ، فإن من يحاول بكل ما يستطيع من قوة أن يكمل هذه الوصية فإنه سيتعرض للنقد واللوم، ولكنه سيكون جديرًا بكل إعجاب، حيث إن مجمل كل الفضائل مختزن في هذه الوصية. لأن المحبة لبعضنا البعض تلي مباشرة المحبة نحو الله وكل قوة البر نحو الله تكمل في هذه الكلمة الواحدة أي: &#8220;تحب قريبك كنفسك&#8221; انظر (غلا٥: ١٤).</p>
<p><strong>(يو١٥: ١٦)</strong><strong> &#8220;لَيْسَ أَنْتُمُ اخْتَرْتُمُونِي بَلْ أَنَا اخْتَرْتُكُمْ، وَأَقَمْتُكُمْ لِتَذْهَبُوا وَتَأْتُوا بِثَمَرٍ، وَيَدُومَ ثَمَرُكُمْ، لِكَيْ يُعْطِيَكُمُ الآبُ كُلَّ مَا طَلَبْتُمْ بِاسْمِي&#8221;.</strong></p>
<p>لا يريد الرب أن يحزن تلاميذه القديسين بكلمات ثقيلة جداً، إذ هو يعرف كإله ميل العقل البشري إلى الضعف، هذا من ناحية، ومن الناحية الأخرى هو لا يعطيهم تأكيدات مفرطة حتى يسقطوا في حالة إرتداد وعصيان لأن هذا مرض خطير، بل هو يستعمل طريقة وسط بين الإتجاهين، وإذ يخلط بينهما، فهو يقودهم بطريقة ملائمة إلى طريق مأمون، ويعطيهم أن يعرفوا حالة أكثر ثباتاً واستقراراً، وأن من يبتعد عن هذه الحالة يكون في وضع مشكوك فيه تماماً وغير مطمئن بالمرة لذلك إذاً فبعد أن أراحهم كثيراً بكلمات التعزية، وحثهم أن يفرحوا من جهة الأمور التي يحتمل أن يتركوها، فإنه يدعوهم مرة أخرى بوصاياه إلى الاجتهاد ليكون لهم شجاعة وثقة، حاثاً إياهم أن يغيروا أذهانهم وبالحري أن يفرحوا بالأمور التي كانوا يخافون منها، ويأمرهم أن يظهروا أقصى غيرة، وأن يمارسوا المحبة الأخوية بأعلى مستوى، وأن يكونوا نافعين للناس الذين ليس لهم إيمان بعد، وان يسرعوا بالكلام وبأعمال البر أن يجذبوا البعيدين إلى الرغبة في أن يتحدوا بالله بالإيمان.</p>
<p>وإذ يقدم نفسه كمثال وصورة لما ينبغي أن يفعلوه، ويحضر أمامهم ما قد تممه فعلاً من أجلهم، فهو يحثهم أن يتمثلوا بمعلمهم ويكونوا هم أنفسهم بارزين في عمل البرمثله وذلك عندما يقول &#8220;لستم انتم اخترتموني بل انا اخترتكم&#8221;، وما بعد ذلك من كلمات وكأن الرب يقول لهم: يا تلاميذي منطقوا أنفسكم بالمحبة بعضكم نحو بعض لأنكم ينبغي عليكم أنتم أيضاً أن تجتهدوا وتعملوا وتمارسوا بعضكم نحو بعض بغيرة جادة واهتمام شديد تلك الامور التي اتممتها أنا أولاً لكم لأني &#8220;أنا اخترتكم&#8221;، ولستم أنتم الذين اخترتموني، أنا جذبتكم إلى نفسي، وجعلت نفسي معروفاً لأولئك الذين لم يعرفوني من خلال رحمتي العظيمة، وأنا أتيت بكم إلى فكر ثابت لكي أقودكم إلى فوق، أي أن أمنحكم القدرة على أن تتقدموا للأمام نحو ما هو أعظم، وأن تأتوا بثمر لله، لذلك فليكن لكم ثقة كاملة أن &#8220;كل ما تطلبونه بإسمي&#8221; سوف تنالونه، لذلك حيث إنكم تتبعون كلماتي وخدمتي، ولكم الإهتمام الذي ينبغي أن يتمتع به تلاميذي الحقيقيين؛ فيتبع ذلك أنكم لا ينبغي أن تضعوا عقبات. بإبطائكم وتأخركم  في طريق من يطلب الإيمان بإراداته، وهو مدعو في ذاته إلى حياة التقوى، بل ينبغي بالحري أن تكونوا مرشدين لأولئك الذين لا يزالون جهالاً وضالين، وتأتوا بإنجيل الخلاص لأولئك الذين لا يفضلون أن يتعلموه، وتعطوهم باجتهاد أن يصلوا إلى معرفة الله الحقيقية، حتى لو كان ذهن سامعيكم متقسياً لدرجة العصيان. وهكذا بواسطة وعظكم يمكن أن يرجعوا ويتقدموا تدريجيا نحو ما هو أفضل ليثمروا لله، حتى يكون الثمر الذي يدوم ويحفظ، وبواسطة الصلاة المقبولة، فإنكم تمنحون ما تريدون، &#8220;إن طلبتم باسمي&#8221;.</p>
<p>هذا يكفي لشرح هذه الآيات. ولكن من الضروري أيضا أن نلخص معنى النص في كلمات قليلة لنجعله واضحاً لسامعينا. فالرب يحث تلاميذه، أن تكون لهم محبة عظيمة من نحو الآخرين، ويريدهم أن يظهروا غيرة عظيمة وفي سعيهم المستمر في كل النواحي أن يناضلوا بتعب كثير لكي يأتوا بالنفوس التي لم تؤمن بعد، إلى الإيمان والقداسة، كما فعل هو أولاً من أجلنا ومن أجلهم. فكونه هو نفسه الذي اختار تلاميذه، فهذا أمر لا شك فيه، وأظن أنه ليس من الضروري أن نذكر كيف وبأية طريقة دعا كل واحد منهم. ولكن لا يزال حديث المخلص مملوء ومحمل بالمعنى الذي شرحته حالاً، وما يلي من كلامه سيحثنا أكثر على هذا المعني لانه يقول: (يو١٥: ١٧) &#8220;بهذا أوصيكم حتي تحبوا بعضكم بعضًا&#8221;.</p>
<h4>المحبة - للآباء القديسين يوحنا ذهبي الفم ، أغسطينوس ، دوروثيئوس من غزة<a href="#_ftn2" name="_ftnref2">[2]</a></h4>
<ul>
<li>يقول الرسول: &#8220;محتملين بعضكم بعضا في المحبة&#8221; (أف٤: ٢)، كيف يمكن للإنسان أن يحتمل الآخرين حتي اذا كان حاد الطبع أو ناقداً للأخرين؟ لقد عرفنا الرسول الوسيلة &#8220;في المحبة&#8221;.. أنه يريد أن يقول: إن كنت لا تحتمل قريبك فيكف يحتملك الله؟ إن لم تحتمل زميلك الخادم فكيف يحتملك السيد؟ فحيثما وجدت المحبة تستطيع أن تتحمل كل شيء.</li>
</ul>
<p>يقول الرسول: &#8220;مجتهدين أن تحفظوا وحدانية الروح برباط السلام&#8221; أربط يديك برفق أربطهما بذلك الاسم الحسن الذي لهذا الرباط. ارتبط بأخيك لأن من يرتبط في المحبة يستطيع أن يتحمل كل شيء بسهولة. ارتبط به وهو بك.</p>
<p>يوجد في جسم الإنسان روح تستحوذ الأعضاء المختلفة. لهذا السبب أعطى لنا الروح الواحد الذي يوحد مختلفي الجنس والأخلاق، يوحد بين الكبار والصغار والأغنياء والفقراء والأطفال والأحداث، والنساء والرجال.. ويصير الكل في وحدة أكثر مما للجسد الواحد. كما أن النار عندما تجد قطعاً من الخشب الجاف تقوم بلهيب واحد، أما إذا كان الخشب رطباً لا تقوم النار في وحدة واحدة، هكذا الأمر هنا فلن تستطيع طبيعة باردة &#8220;في المحبة&#8221; أن تتحد في هذه الوحدة أما الإنسان الحار في المحبة فيمكنه أن يتحد. لذلك فعلى الأقل ينتج توهج المحبة &#8220;برباط السلام&#8221; راغباً في أن نرتبط جميعاً معاً. إنه يطلب منا أن نرتبط كلا بالآخر بمجرد كوننا في سلام أو نحب الأخرين بل أن يكون لنا جميعاً روح واحده يا له من رباط مجيد!! ليتنا نرتبط بعضنا بعضاً في الله بهذا الرباط. إن القوي متى ارتبط بالضعيف أعطاه قوة ولا يهلكه.</p>
<p>هذه السلسلة «قيود المحبة المنسكبة بالروح القدس» لا تستطيع أن تعيقها مسافة فلا السماء ولا الأرض ولا الموت ولا أي شيء آخر لأنها أعظم من هذه جميعها وأقوى منهم.</p>
<p>هذا هو الرباط الذي لن يتردد الذي لا يقيد الأيدي التي ترتبط به بل يحررها. إنه يعطيها شجاعة أوفر في تلك التي للأيدي التي لم ترتبط به. ولو أن المحبة تصدر عن روح واحد لكن في قدرتها أن تحتضن كثيرين دفعة واحدة.</p>
<p><strong>[القديس يوحنا ذهبي الفم]</strong></p>
<ul>
<li>قال صاحب المزامير: &#8220;لكل كمال رأيت حداً&#8221; (مز۱۱۹: ٩٦) وماذا رأى؟</li>
</ul>
<p>وهل تعتقد بأنه تسلق قمة جبل عال، وأجال نظره في الأفق وتأمل سطح الكرة الأرضية وفي أرجاء العالم ثم قال « لكل كمال رأيت امداً؟ لا تبتعد كثيراً بل تسلق هذا الجبل وانظر إلى الأمد..</p>
<p>الجبل هو المسيح.. هلم إلى المسيح وأنظر فيه أمد كل كمال.</p>
<p>وما هو هذا الكمال؟</p>
<p>سل بولس فإنه ينبئك إن &#8220;كمال الوصية المحبة بقلب وضمير صالح وإيمان ثابت&#8221; ثم أن بولس يقول في محل آخر &#8220;كمال الشريعة المحبة&#8221; وهل أكمل من الكمال المتقن؟ حقاً أيها الأخوة إن لقطة كمال تؤخذ هنا بمعناها الصحيح ولا تظنوا أنها تعني النهاية في كل شيء بل كماله،</p>
<p>وما هو الكمال؟</p>
<p>والغاية كمال شريعة المسيح تبرير كل مؤمن &#8220;وما معنى المسيح الكمال؟ &#8220;المسيح هو الله وكمال الشريعة المحبة والله محبة والأب والآبن والروح القدس واحد. هذا هو الكمال بالنسبة إليكم وما هو دون ذلك فهو طريق وواسطة، فلا تتعلق بالطريقة لئلا تخسر الكمال وإن وصلت في هذا الطريق فلا تتوقف قبل الكمال.</p>
<p>وما هو الكمال؟</p>
<p>كمالي هو أن أتحد بالله. إن كنت تتحد بالله قد أكملت شوطك وسكنت في الوطن.</p>
<p>كل ما نطلبه في سبيل أخر وسيلة هو ولا غاية. أما الذي تسعى إليه في سبيل ذاته، مجاناً، فهو الغاية إنك تطلب المجد تحقيقاً لعمل أو تتميماً لغاية أو إرضاء له . إياك أن تحب المجد من أجل المجد لئلا تكتفي به، إنك تطلب الثناء. إن طلبته في سبيل الله فحسناً تصنع وأما إن طلبته في سبيل ذاته شراً تصنع وعن الطريق تضل.. وحين تمدح أعمالك كلها في الله فلا خوف على مجدك من أن يضيع لأن الله ثابت فتجاوز هذا المديح عينه ولا تتوقف عليه.</p>
<p>وبالتالي فهذه هي الغاية التي تكلم عنها المزمور قال: &#8220;لكل عمل رأيت أمداً&#8221; وكأنى بإنسان يسأله عن الأمر الذي رآه فيجيب: &#8220;أما وصيتك فواسعة جداً&#8221; (مز۱۱۹: ٩٦)، ذاك هو أمد الوصية ورحبها. رحب الوصية المحبة لأنه حيث المحبة فلا ضيق وفي رحب الوصية كان يقيم الرسول حين قال: &#8220;فمنا مفتوح إليكم أيها الكورنثيون. قلبنا متسع. لستم متضايقين فينا&#8221; (١كو٦: ١١، ١٢)، ولذاك فوصيتك رحبة جداً.</p>
<p>وما هي الوصية الرحبة؟ &#8220;وصية جديدة أعطيكم أن تحبوا بعضكم بعضاً&#8221; لا ضيق في المحبة. إن شئت أن تحيا على الرحب في هذه الأرض فأسكن محلاً فسيحاً ومهما يصنع بك الإنسان فلا يمكنه أن يضيق عليك لأنك تحب ما لا يستطيع أن يعمل شيئاً ضده. إنك تحب الله واخوتك وتحب شريعة الله وكنيسته الأزلية. إنك على الأرض تكد لكنك سوف تصل إلى المكافأة التي وعدك بها. ومن الذي يستطيع أن ينزع منك ما تحب. إن لم يكن أحد يستطيع أن ينزع ما تحب فكن مطمئناً. إنك تسهر مطمئناً وتنام مطمئناً فلا يضيع منك ما تحب.. لستم بحاجة إلى توسيع قلوبكم بل إسألوا الله أن &#8220;تحبوا بعضكم بعضاً. أحبوا جميع الناس حتى أعدائكم لا لأنهم إخوة لكم بل ليصيروا إخوة لكم فتتأججون حباً أخوياً تجاه من هو بالحقيقة أخاً لكم. أو تجاه عدو لكم لتجعلوا منه بفضل محبتكم له أخاً. وإن أحببت إنساناً غير مؤمن بالمسيح فإيمانه به إيمان شيطان ولذا توبخه على ضلاله الباطل. عليك أن تحبه حباً أخوياً ومع أنه يصير لك أخاً وبرغم ذلك أحبه لتصيره لك أخاً. وبالتالي فإن محبتنا الأخوية تتجه نحو جميع المسيحيين أعضاء المسيح. إن قاعدة المحبة أيها الأخوة وقوتها وازدهارها وثمارها وشرابها وطعامها وقبلاتها لا تعرف شبعاً وإن كان لها هذا الجمال الوافر، علينا أثناء سفرنا على هذه الأرض، فكم تكون غبطتنا بها في وطننا؟.</p>
<p><strong>[القديس أوغسطينوس]</strong></p>
<ul>
<li>محبة الله ومحبة القريب</li>
</ul>
<p>إذا كانت لنا المحبة والحنان والشفقة فلن نترصد العيوب للأخرين، حسبما قيل &#8220;لأن المحبة تستر كثرة من الخطايا&#8221; (۱بط ٤: ۸) وأيضا المحبة لا تفكر في السوء وتستر على كل شيء (١كو۱۳: ٥، ۷) فإذا كان لنا المحبة &#8220;الحقيقية&#8221; فهي نفسها ستستر كل زلة، وسيغير موقفنا من عيوب الناس كموقف القديسين إزاءها. هل كان القديسون مكفوفي البصيرة حتى أنهم كانوا لا يرون الخطايا؟ ولكن من يستهجن الخطية مثل القديسين؟ ومع هذا فإنهم لا يكرهون الخاطئ ولا يدينونه ولا يتباعدون أنفسهم عنه، بل على النقيض من هذا، فإنهم يشفقون عليه ويرشدونه ويعزونه، ويعتنون به كعضو مريض، ويعملون كل ما بوسعهم لإنقاذه.</p>
<p>الأم عندما يتسخ ابنها ويصير شكله قبيحاً، فإنها لا تتباعد عنه مشمئزة منه بل تسر بأن تنظفه وتعيده إلى شكله اللطيف المبهج، كذلك هو الأمر مع القديسين، فإنهم يعتنون بالخاطئ ويهانون ويحتملون عبء إصلاحه، منتهزين الفرصة المناسبة حتى لا يكون سبباً في إعثار الأخرين، وحتي يتقدموا هم أنفسهم في محبة المسيح.. ليتنا نقتني نحن أيضاً، المحبة، نقتني الرحمة على القريب، حتى نقي أنفسنا من ثلب الأخرين الذي يكدر النفس من دينونتهم واحتقارهم، لنعاون بعضنا كما تتعاون الأعضاء في الجسد الواحد.. &#8220;وأعضاء بعضا البعض&#8221; كما يقول الرسول (رو١٢: ٥)، &#8220;فإن كان عضو واحد يتألم، فجميع الأعضاء تتألم معه&#8221; (١كو١٢: ٢٦).. وخلاصة القول ليكن لنا كل واحد حسب طاقته، بأن نكون متحدين &#8220;في المحبة&#8221; بعضنا ببعض، لأنه كلما اتحدنا بالقريب بقدر ذلك يكون اتحادنا بالله.</p>
<p>ولكي تفهموا فحوى الكلام سأسوق لكم تشبيهاً مأخوذاً عن الآباء &#8220;آباء الرهبنة: افترضوا دائرة مرسومة على الأرض، أي خطاً دائرياً له مركز وله محيط، طبقوا روحياً ما سأقوله لكم: تصوروا أن هذه الدائرة هي العالم ومركز الدائرة هو الله وانصاف قطر الدائرة هي الطرق المختلفة أو أنواع الحياة التي يحياها البشر. أما القديسون الراغبون في الاقتراب من الله فإنهم عندما يسيرون نحو وسط الدائرة فبقدر ما يتعمقون إلى الداخل بقدر ما يقتربون بعضهم من بعض كما يقتربون في نفس الوقت من الله وأنتم تفهمون بديهياً أن العكس صحيح، فإنه عندما ينائي الإنسان عن الله منجذباً ناحية الخارج، فواضح أنه بقدر ابتعاده عن الله يكون ابتعاده عن الآخرين، وبقدر ابتعاده عن الآخرين يكون ابتعاده أيضاً عن الله. هذه هي طبيعة المحبة: بقدر ما نحن في الخارج ونحب الله، بقدر ما نحن على هذا البعد نفسه من جهة محبة القريب. أما إذ كنا نحب الله فبقدر ما نقترب إليه بمحبتنا له بقدر ما يكون لنا شركة محبة القريب، وبقدر ما نكون متحدين بالقريب نكون متحدين بالله.</p>
<p><strong>[أبا دوروثيؤس من غزة]</strong></p>
<h3>عظات آباء وخدّام معاصرين ليوم الأربعاء من الأسبوع السابع من الخمسين يوم المقدسة</h3>
<h4>الغضب من الإخوة - للمتنيح القمص صليب سوريال<a href="#_ftn3" name="_ftnref3">[3]</a></h4>
<p><strong>القانون الأول في الغضب </strong></p>
<p><strong> (١) </strong>&#8220;قَدْ سَمِعْتُمْ أَنَّهُ قِيلَ لِلْقُدَمَاءِ: <strong>لاَ تَقْتُلْ</strong>، وَمَنْ قَتَلَ يَكُونُ مُسْتَوْجِبَ الْحُكْمِ. وَأَمَّا أَنَا فَأَقُولُ لَكُمْ: إِنَّ كُلَّ مَنْ <strong>يَغْضَبُ</strong> عَلَى أَخِيهِ <strong>بَاطِلاً</strong> يَكُونُ مُسْتَوْجِبَ <strong>الْحُكْمِ</strong>.</p>
<p>وَمَنْ قَالَ لأَخِيهِ: <strong>رَقَا</strong>، يَكُونُ مُسْتَوْجِبَ <strong>الْمَجْمَعِ</strong>، وَمَنْ قَالَ: <strong>يَا أَحْمَقُ</strong>، يَكُونُ مُسْتَوْجِبَ <strong>نَارِ جَهَنَّمَ</strong>.</p>
<p>فَإِنْ قَدَّمْتَ قُرْبَانَكَ إِلَى الْمَذْبَحِ، وَهُنَاكَ تَذَكَّرْتَ أَنَّ لأَخِيكَ شَيْئًا عَلَيْكَ، فَاتْرُكْ هُنَاكَ قُرْبَانَكَ قُدَّامَ الْمَذْبَحِ، وَاذْهَبْ أَوَّلاً اصْطَلِحْ مَعَ أَخِيكَ، وَحِينَئِذٍ تَعَالَ وَقَدِّمْ قُرْبَانَكَ.</p>
<p><strong>(٢)  </strong>كُنْ مُرَاضِيًا لِخَصْمِكَ سَرِيعًا مَا دُمْتَ مَعَهُ فِي الطَّرِيقِ، لِئَلاَّ يُسَلِّمَكَ الْخَصْمُ إِلَى الْقَاضِي، وَيُسَلِّمَكَ الْقَاضِي إِلَى الشُّرَطِيِّ، فَتُلْقَى فِي السِّجْنِ.</p>
<p>اَلْحَقَّ أَقُولُ لَكَ: لاَ تَخْرُجُ مِنْ هُنَاكَ حَتَّى تُوفِيَ الْفَلْسَ الأَخِيرَ&#8221;.</p>
<p><strong>(مت ٥: ٢١- ٢٦)</strong>.</p>
<p>يمكن تقسيم<strong> أول قانون </strong>من <strong>قوانين ملكوت السموات </strong>إلى ثلاثة أقسام:</p>
<ol>
<li>علينا أن <strong>لا نغضب</strong> مع أخينا (مت ٥ : ٢١، ٢٢).</li>
<li>علينا أن <strong>نصطلح</strong> مع أخينا حسب الطريقة التي أخبرنا الكتاب عنها (مت ٥: ٢٣، ٢٤).</li>
<li>علينا أن لا نجعل لأخينا <strong>شيئاً ضدنا</strong> (مت ٥: ٢٥، ٢٦).</li>
</ol>
<p><strong>القسم الأول من هذا القانون: أن لا نغضب مع أخينا </strong></p>
<p>فاليهودي تحت ناموس موسى القديم نهاه الله &#8220;لا تقتل&#8221;. أي أن سفك الدماء كان محرماً عليه.</p>
<p>أما السيد المسيح فقد ذهب إلى أبعد من ذلك بكثير فوصل إلى <strong>منشأ القتل، </strong>ألا وهو <strong>الغضب الخفي </strong>فى القلب، فحرمه بقانونه هذا. والإحتفاظ بالغضب داخل القلب يتحول إلى كراهية، إن قايين غضب فحقد أي قتل المحبة، ثم قتل أخاه.</p>
<p>قال القديس جيروم &#8220;لا أعرف سلاماً بغير حب، ولا شركة بدون سلام&#8221; وقال القديس بولس &#8220;فِي كُلِّ مَكَانٍ، رَافِعِينَ أَيَادِيَ طَاهِرَةً، بِدُونِ غَضَبٍ وَلاَ جِدَال&#8221; (١تي٢: ٨).</p>
<p><strong>هناك ثلاث درجات للغضب: </strong></p>
<p><strong>1- </strong>أن نغضب على أخينا. وهنا يبحث القاضي الإتهام للتأكد من صحته.</p>
<p>2- أن نحتقر أخانا (فكلمة رقاً هي تعبير إحتقار للموجه إليه الحديث وعدم إحترامه) وهنا يبحث المجمع الإتهام فهو أكبر محكمة قضائية لا نقض فيها ولا إبرام.</p>
<p>3- أن <strong>نضمر الشر </strong>لأخينا (يا أحمق كلام خال من النعمة فقد يجعله ييأس، والإنسان اليائس لا يرى باب السماء) وإذا وصلنا إلى هذا الحد أصبح من المشكوك فيه أننا أولاد الله ونكون إذ ذاك مستوجبين نار جهنم (جهنم: مكونة من كلمتين عبرييتين &#8220;جه – هنوم&#8221; أي داخل هنوم، وهنوم هو وادي تلقى فيه مخلفات الحيوانات والذبائح مملؤة دود والنار مشتعلة فيها بلا إنقطاع، رمز لعقاب إبليس وجنوده – دودها لا يموت ونارها لا تنطفئ)</p>
<p>وإذا وصلنا إلى هذه الدرجة الثالثة نجدها تساوى القتل في العهد القديم إننا إذا احتفظنا بالغضب داخل قلوبنا يتحول إلى كراهية فكيف نكره أن نرى إنساناً وهو قد صنعه الله مثلنا على صورته ومثاله؟ لذلك يؤكد لنا يوحنا الرسول ما ورد في العظة على الجبل قائلًا: &#8220;<strong>مَنْ لاَ يُحِبَّ أَخَاهُ يَبْقَ فِي الْمَوْتِ. </strong>كُلُّ مَنْ <strong>يُبْغِضُ</strong> أَخَاهُ فَهُوَ <strong>قَاتِلُ</strong> نَفْسٍ، وَأَنْتُمْ تَعْلَمُونَ أَنَّ <strong>كُلَّ قَاتِلِ نَفْسٍ لَيْسَ لَهُ حَيَاةٌ أَبَدِيَّةٌ ثَابِتَةٌ فِيهِ&#8221; </strong>(١يو٣: ١٤، ١٥).</p>
<p>فمن يغضب علي أخيه لا يرث الملكوت الذى أعده الله لأولاده الذين أعطاهم الحب بعضهم لبعض.</p>
<p>قد لا نضمر السوء لأخينا ولكن ترى هل نحتقره أحياناً بأى وجه من الوجوه؟ هل نعامله بإزدراء؟ فمن نكون حتى نزدري غيرنا. إن داود قال عن نفسه &#8220;أنا كلب ميت&#8221; ونحن بدون الله لا شيء. فلا ينبغي أن نتدخل في شئون غيرنا.</p>
<p>أخشى أننا كثيرا ما نحتقر أخانا فنكسر قانون المحبة وبالتالي نكسر أول قانون من قوانين الملكوت.</p>
<p>ولرُب قائل يقول: أنك نسيت جملة هامة: أفلم يقل الكتاب من يغضب على أخيه <strong>باطلاً؟</strong>!!إننى عندما أغضب على أخي لا أغضب عليه باطلاً.</p>
<p>آه كثيرًا ما استترت أنا أيضاً وراء هذا <strong>العذر </strong>غضبت على أخي مراراً وكنت في كل مرة أقول لنفسي أن <strong>لدى عذراً وجيهاً </strong>لغضبي ولكن ليست هذه هي الترجمة للآية في اللغة اليونانية.</p>
<p><strong>الغضب الخاطئ </strong></p>
<p>إننا نخدع أنفسنا ونبرر الكراهية التي في قلوبنا، ولكن لن يحكم أحد على الغضب أنه باطل أو غير باطل إلا الله وقد يكون الدافع إلى الغضب نفسه خطية ومن أمثله ذلك:</p>
<p>(١) <strong>غضب عن حسد: </strong>كما غضب اليهود على السيد المسيح عندما سمعوا الأطفال يهتفون &#8220;أوصنا يا ابن داود&#8221; غضبوا وقالوا له أتسمع ما يقوله هؤلاء (مت٢١: ١٥) أغضبهم صوت الأولاد ولم يغضبهم ضجيج الباعة في هيكل الرب.</p>
<p>(٢) <strong>الابن الأكبر: </strong>غضب ولم يرد أن يدخل (لو١٥) للإحتفال بعودة أخيه.</p>
<p>(٣) <strong>عيسو ويعقوب: </strong>منافسة نجح فيها المنافس مرتين فقد تعقب يعقوب عيسو مرتين في البركة والبكورية.</p>
<p>(٤) <strong>اليهود: </strong>عند عدمإحتمالهم لتبكيت السيد المسيح لهم على خطاياهم &#8220;إمتلأ غضباً جميع الذين في المجمع عندما سمعوا هذا&#8221; (يو٢٤: ١٥- ٢٨) قال القديس بولس &#8220;لِيُرْفَعْ مِنْ بَيْنِكُمْ كُلُّ مَرَارَةٍ وَسَخَطٍ وَغَضَبٍ وَصِيَاحٍ وَتَجْدِيفٍ مَعَ كُلِّ خُبْثٍ&#8221; (أف٤: ٣١) <strong>كل هذا غضب لا يصنع بر الله لتعارضه مع كل الفضائل. </strong></p>
<p><strong> الغضب المقدس </strong></p>
<ul>
<li>يخيل إلىّ إنى أسمع بعضهم يقول: ألم يخبرنا الكتاب في (أف ٤: ٢٦) أن نغضب؟</li>
<li>نعم إن هناك غضباً هو إحدى <strong>صفات الله. </strong>ونحن كأولاد نشترك فيه فالآيه صريحة لا تحتمل التأويل وليس معناها أن نغضب على أخينا إذ تقول &#8220;<strong>إغضبوا ولا تخطئوا لا تغرب الشمس على غيظكم ولا تعطوا ابليس مكاناً</strong>&#8221; (أف٤: ٢٦) وهذه الآيه تعتبر تدريباً لنا.</li>
<li>الغضب المقدس يكون الدافع إليه غيرة طاهرة على اسم الرب ومقادسه ووصاياه ورغبة صادقة في الدفاع عن الحق في غير ما غرض شخصي. وهو الدفاع عن كرامة الله وليس عن كرامتنا الشخصية ومن أمثلة ذلك:</li>
<li><strong>موسى: </strong>الذى لم يكن مثله في حلمه ووداعته لما أبصر العجل الذهبي الذي صنعه بنو إسرائيل حمى غضبه (خر٢٢: ٢٢).</li>
<li><strong>نحميا: </strong>لما وجد اليهود – أثناء بناء السور يقرضون إخواتهم بالربا ويستذلونهم ولما سمع صراخ الشعب بإذنيه غضب ووبخ العظماء والولاة على الربا وإضطرهم أن يكفوا عنه ويرحموا الشعب (نح٥).</li>
<li><strong>بولس الرسول: </strong>احتدت روحه فيه لما رأى المدينة مملؤه أصناماً (أع ١٧: ١٦).</li>
<li><strong>السيد المسيح: </strong>حينما راقبه اليهود وهو يشفي صاحب اليد اليابسة في يوم السبت فنظر حوله إليهم بغضب حزيناً على غلاظة قلوبهم (مر٣: ٥).</li>
<li><strong>السيد المسيح في الهيكل: </strong>وجد بداخله الباعة والصيارف &#8220;قَلَّبَ مَوَائِدَ الصَّيَارِفَةِ وَكَرَاسِيَّ بَاعَةِ الْحَمَامِ&#8230; ووبخهم قَائِلاً لَهُمْ:&#8230; بَيْتِي بَيْتَ صَلاَةٍ يُدْعَى&#8230; وَأَنْتُمْ جَعَلْتُمُوهُ مَغَارَةَ لُصُوصٍ&#8221; (مر١١: ١٥- ١٧).</li>
</ul>
<p>إن الآيه التي ذكرها بولس الرسول التي لا تحمل التأويل: &#8220;لاَ تَغْرُبِ الشَّمْسُ عَلَى غَيْظِكُمْ&#8221; (أف٤: ٢٦) أي لا تنام وفى قلبك بغضة من ناحية الطرف الآخر وهذا تدريب لكل زوجين لابد من تصفية المواقف أولاً بأول كل طرف يسأل الآخر إن كان هناك ما أساء به إليه حتى يمكن أن يخلدا إلى النوم في صفاء وسلام ولكى يرفرف عليهما سلام الله &#8220;فلاَ تَضْرِبُكَ الشَّمْسُ فِي النَّهَارِ، وَلاَ الْقَمَرُ فِي اللَّيْلِ&#8221; (مز١٢١: ٦).</p>
<p>أحياناً نسمع في حالات الصلح التي نتوسط فيها الزوجة تقول للزوج &#8220;أنا ليَّ عشرين سنة وأنا زعلانة منك&#8221;!! عشرين سنة شايلة في قلبها!! والزوج يقول للزوجة &#8220;ليَّ ثلاثين سنة وأنا محتمل أعمالك&#8221; كيف يحدث ذلك لو كانا يُصفيان كل خلاف أولاً بأول لما تجمعت الكراهية في القلب التي كثيراً ما تسبب الأمراض المزمنة.</p>
<p>فلنترك الكبرياء ويطلب كل منا الصفح من الأخر حتى يستمر السلام والمحبة في بيوتنا.</p>
<p>إننا نقرأ عن شروط المحبة &#8220;المحبة لا تحتد&#8221; (١كو١٣: ٥) مع المحبة لا يوجد غضب ولا يوجد عدم إحتمال فكل إنسان يخطئ ولو كانت حياته يوماً واحداً على الأرض.</p>
<p>فهل تحتد أنت على زوجتك أو على أولادك أو على أخيك أو على أحد من أفراد منزلك أو على مرؤسيك أو على رئيسك!!..</p>
<p>دعني أن أقرر لك <strong>أن هذا الأمر من معطلات البركة. </strong></p>
<p>كم من إناس تملكهم الغضب من أجل خلاف على تركة صغيرة أو لشعورهم بالإهانة، أيهما أحسن أن تتحمل الإهانة وتكسب السماء أم تغضب وتذهب إلى نار جهنم. إنك عندما تتحمل الإهانة يحتملك الرب.</p>
<p>كم من الناس اليوم غضبى مع آخريين! وكم من منازعات حتى بين المسيحيين أنفسهم.</p>
<p>ربما أختلفت مع بعض الناس على عمل من الأعمال. ربما أساءك البعض فأصبحت لا تحادثهم: فإذا صادف وقابلتهم في الطريق ملت إلى أحد الأزقة، أو أحدقت ببصرك إلى جهة أخرى وكأنك لا تراه، وإذا حدث أن قابلتهم وجهاً لوجه أحدقت إليهم بنظرة شاردة تعبر عما في قلبك من جفاء وربما عداوة ثم تتعجب أوتتساءل لماذا لم تحصل على بركة، أو تمتلئ بالروح القدس!..</p>
<p>كم من منازعات عائلية لا يلوم كل أحد نفسه ويقول أنا السبب.. لقد حدث نوء شديد في البحر فقال يونان أنا السبب فرتب الرب أن يبتلعه حوت، واصبح الحوت حجرة للصلاة وصلى يونان حتى أعاده الرب إلى المكان الذى خالفه فيه ويقوم بالمصالحة.</p>
<p>إياك أن تنام وفى قلبك كراهية لأحد ثم تبرر نفسك وتقول أنا أحبه لكن من بعيد لبعيد.. إن المحبة دائماً من قريب لقريب، أما المحبة من بعيد نتيجتها أن الله سيقول لك وأنا لا أعرفك إبق بعيداً عني.</p>
<ul>
<li>سؤال أتعلم ما هو الدافع الخفي الذى يحفزك إلى الغضب أو الأحتداد على أخيك؟! ليس هو <strong>الإنسان الجديد: </strong>فإن هذا مخلوق في البر والقداسة، وكما يقول القديس يوحنا في (١يو٣: ٩) إن الإنسان الجديد لا يخطئ أي أنه لا يستمر في خطاياه بل <strong>يتوب ويعترف بخطئه.</strong></li>
</ul>
<p>فما هو ذلك الدافع إذاً؟!.. هو لاشك ناشئ عن <strong>الإنسان العتيق</strong>، أي الحياة العتيقة الخاطئة التي لا تزال عالقة بى وبك. والتي تخلصت منها بالمعمودية: بالميلاد الجديد من الماء والروح، والتي تجددت منها بالتوبة والإعتراف أمام الله في وجود أب إعترافك.</p>
<p>ولربما  تصرخ آية معلمنا بولس قائلًا: &#8220;مَنْ يُنْقِذُنِي مِنْ جَسَدِ هذَا الْمَوْتِ؟&#8221; (رو٧: ٢٤)! هل أستطيع أن أخلص من هذا الإنسان العتيق؟ نشكر الله أنك تستطيع الخلاص منه، لأن المسيح عندما مات على الصليب لم يصنع فداء عن الخطية نفسها التي ارتكبت في الماضى فقط، بل لقد فصل في سبب الخطية نفسها وفى علتها وفى أمر الحياة العتيقة الخاطئة. كما قال القديس بولس الرسول &#8220;<strong>عَالِمِينَ هذَا: أَنَّ إِنْسَانَنَا الْعَتِيقَ قَدْ صُلِبَ مَعَهُ لِيُبْطَلَ جَسَدُ الْخَطِيَّةِ</strong>&#8220;(رو ٦: ٦).</p>
<p>فالدافع الذى يحفزك ويحفزني إلى الغضب على أخينا هو جزء من الإنسان العتيق الذى صلب على الصليب، لكن من الممكن أن نتخلص منه بإيماننا بعمل المسيح الفدائي على الصليب، وعندما تأتي لتأخذ الحل من الآب الكاهن فهو يقرر لك أن خطاياك تستمد غفرانها من الصليب، وخطيتك سمرت مع المسيح على الصليب: &#8220;مَعَ الْمَسِيحِ صُلِبْتُ، فَأَحْيَا لاَ أَنَا، بَلِ الْمَسِيحُ يَحْيَا فِيَّ&#8221; (غل٢: ٢٠) لقد أصبحت خليقة جديدة، والمسيح يحيا داخلك وتتمتع بوجوده فى داخلك.</p>
<p><strong>القسم الثانى من هذا القانون هو: الصلح مع أخينا </strong></p>
<p><strong>&#8220;</strong>فَإِنْ قَدَّمْتَ قُرْبَانَكَ إِلَى الْمَذْبَحِ، وَهُنَاكَ تَذَكَّرْتَ أَنَّ لأَخِيكَ شَيْئًا عَلَيْكَ، فَاتْرُكْ هُنَاكَ قُرْبَانَكَ قُدَّامَ الْمَذْبَحِ (الصوم أوالصلاة أو العشور أو تناول). وَاذْهَبْ أَوَّلاً اصْطَلِحْ مَعَ أَخِيكَ (ليس مجرد الذهاب بل مصالحة من الداخل) وَحِينَئِذٍ تَعَالَ وَقَدِّمْ قُرْبَانَكَ&#8221; (مت٥: ٢٣، ٢٤).</p>
<p>إن المصالحة لا تتم بمجرد الذهاب إليه. بل المصالحة في الداخل بعواطفك، حيث تخضع معتذراً لأخيك في حضرة الله الذى تريد أن تقدم له قربانك ولذلك فإذا كان الأخ الذى أخطأت إليه حاضراً، فإنك تستطيع أن تهدئه بفكرك الذى تنقى وتعيده إلى محبته الأولى وعطفه عليك وطلبك المغفرة منه هذا يمكن أن يحدث إن كنت قد سبقت وإنسحقت أمام الله طالبًا المغفرة، فتذهب إلى أخيك <strong>لا بخجل مدفوعاً بحب قوي</strong>. ثم هنا تعود إلى ما سبق أن فكرت فيه وهو تقديم قربانك.</p>
<p>فإذا تأخرت عن تقديم قربانك ففي وسعك أن تقدمه في وقت آخر، أما إذا أخرت المصالحة فربما لا يكون لديك فرصة لإجرائها بعد ذلك.</p>
<p><strong>فلا يقبل في العبادة صوم أو صلاة أو قربان المسيء إلى أخيه.</strong></p>
<p>وأخيك هنا تعني أي شخص. فلا ننتظر حتى يأتي هو ويعاتبنا.</p>
<p>في الصوم الكبير يوجد أسبوع إستعداد كان آباؤنا في الماضى يذهبوا ويقرعوا على أبواب بيوت إخواتهم ويقولون: يا أخى أنا أتيت إليك في الصوم لأقول لك سامحني ، فإنى أخطأت إليك.. ويرد الآخر ويقول: أنا الذى أخطأت.. ويقبلا بعضهما البعض، وترجع المحبة كما كانت.</p>
<p>وهذه المحبة هي من الله، لأننا اذا أحببنا غيرنا يحبنا الله، فالحب قبل القربان لأن <strong>الله محبة </strong>ليس فيه بغضة البتة. أن الله يحب حتى الخطاة، وهو يغفر كل خطايانا عندما نصطلح مع الآخرين.</p>
<p>لكننا في هذه الأيام نصوم ونحن في خصام مع الآخرين ونقول نحن لا نغضب عليهم باطلاً فهم يستحقون كل عقاب لكن ماذا نستحق نحن عند الله. إنه لا مانع عندي من أن أقدم الحِلّ لكل واحد يخاصم أخاه لأن صومه غير مقبول، فكيف تمتنع عن أكل اللحم وأنت تأكل لحم أخيك. فإذا تذكرت عند الصلاة أو الصوم أو الصدقة أنك في خصام مع أخيك أترك كبرياءك وقل لأخيك أنا غلطان وإكسر الكبرياء التي في قلبك لأن قبل الكسر الكبرياء، وإذا كان عندنا إستعداد لتنفيذ الوصية يعطينا الرب نعمة والمسيح الساكن فينا يقوينا لأنه يحيا فينا ونحصل على بركة كبيرة جداً لحياتنا.</p>
<p>مرة دعى الأب الكاهن إحدى السيدات لحضور أيام النهضة في الكنيسة فقالت له: أنني أريد أولاً أن أكتب خطابين لأنه يوجد إناس زعلانيين مني، فلازم أبدأ بالمصالحة لكى أحضر ويغير الله حياتي..</p>
<p>إن الله لن يغير حياتنا إلا لما نتغير نحن، ومن عدم رضا الله عنا هو وجود خلاف بيننا وبين الآخرين.</p>
<p>لاحظ أنه لم يقل وهناك تذكرنا أن لنا شيئًا على أخينا فإن هذا رد فعل &#8220;وَمَتَى وَقَفْتُمْ تُصَلُّونَ، <strong>فَاغْفِرُوا</strong> إِنْ كَانَ لَكُمْ عَلَى أَحَدٍ شَيْءٌ، لِكَيْ <strong>يَغْفِرَ لَكُمْ</strong> أَيْضًا أَبُوكُمُ الَّذِي فِي السَّمَاوَاتِ زَّلاَتِكُمْ، وَإِنْ <strong>لَمْ تَغْفِرُوا</strong> أَنْتُمْ <strong>لاَ يَغْفِرْ</strong> أَبُوكُمُ الَّذِي فِي السَّمَاوَاتِ أَيْضًا زَّلاَتِكُمْ&#8221; (مر١١: ٢٥، ٢٦).</p>
<p>نرى أن الشرط الذى يعلق الله عليه <strong>الغفران</strong> <strong>لنا</strong> هو أن <strong>نغفر للأخرين</strong> حتى إذا وقفنا لنصلى يغفر لنا الله خطايانا أيضاً.</p>
<p>فليس المقصود من هذه الآية على أي حال أن نتذكر أن لنا شيئًا عند أخينا بل المقصود أن نتذكر أن <strong>علينا</strong> شيئًا لأخينا فإذا ما ذكرنا الله بذلك فإن الرب نفسه يأمرنا بأن &#8220;إذهب أولاً إصطلح مع أخيك، وحينئذ تعال وقدم القربان، فإن مسامحة الأخرين هذه ليست شرطاً للخلاص من الخطية فقط بل أيضاً شرط للشركة مع الآب السماوي.</p>
<p>وهكذا لا تنتظر أن يباركك الله إن لم تصطلح مع أخيك أولاً – نعم – قد يبدوا هذا أمراً طبيعيًا. لكنك إذا أظهرت إستعداداً <strong>للطاعة</strong> أعطاك الله <strong>النعمة</strong> التي تحتاجها كى تنفذ هذا الأمر الألهي. وحينئذ تحصل من وراء ذلك على <strong>بركة كبرى</strong> في حياتك الشخصية بل وفى حياة الشخص الذى تصطلح معه.</p>
<p><strong>إن الله لا يباركنا الأ إذا أصلحنا هذا الخطأ في حياتنا.</strong></p>
<p><strong>إختبار عملى : </strong></p>
<ul>
<li>شاب كان يعمل في مصنع وسرق منه ١٢ دستة من منتجات المصنع أثناء خدمته به، حضر إجتماعاً وكان المتحدث فيه يتحدث عن <strong>الأمانة.</strong> تحرك قلب الشاب فرد ما سبق وسرقه من المصنع. تلقى الخادم خطاباً من المصنع يقول:</li>
</ul>
<p>[سيدى العزيز – ربما سرّك أن إجتماعاتك قد أتت بالثمار المرجوة، فقد زارنا اليوم شاباً كان يعمل عندنا منذ عدة شهور، فأرجع لنا صندوقًا يحتوى على ١٢ دستة من منتاجات مصنعنا، كان قد سرقها وهو في خدمتنا. ففكرنا ربما تحب أن تعرف هذا الأمر <strong>وتأثير كلمة الله </strong>التي أرسلها على فمك فحركت قلبه ليرد ما سرقه، وها نحن نرفق خطابنا عينة مما كان قد سرقها كتذكار لنجاحك].</p>
<p>أيها العزيز – إن تعذر عليك أن تقابل أخاك وجهاً لوجهه <strong>أكتب له خطاباً . إعزم الأن، </strong>إنها فرصة مصالحة، ولا تحاول أن تبرر نفسك بأي وجه من الوجوه.</p>
<ul>
<li>سيده تشاجرت مع قريب لها أخبرتني أنها ذهبت إليه وأعترفت له بخطئها وطلبت منه أن يسامحها ولكنها مع ذلك لم تتحسن حالتها وبعد حديث طويل عرفت السبب في عدم تحسن حالتها فإنها عندما إعترفت بخطئها قالت: [ولكنك استفزتني] ولا شك أن هذه الجملة زادت الطينة بِلة. لأنها ذهبت لتدافع عن نفسها ليس لكى تعترف بخطئها، فالإعتراف بالخطأ يجب أن يكون <strong>كاملاً وصريحاً وبكل وضوح وبدون التماس الأعذار. </strong>ذلك إن كنا نريد صلحاً حقيقياً مع أخينا.</li>
</ul>
<p><strong>تداريب: </strong></p>
<ol>
<li>غضب وليد التسرع والأندفاع: بينما لو تروى الإنسان وفكر لما كان هناك داعٍ للغضب. فلقد نصحنا يعقوب الرسول &#8221; لِيَكُنْ كُلُّ إِنْسَانٍ &#8230;. مُبْطِئًا فِي التَّكَلُّمِ، <strong>مُبْطِئًا فِي الْغَضَبِ&#8221; </strong>(يع١: ١٩).</li>
<li>في تعاملك مع إنسان غضوب:</li>
</ol>
<ul>
<li>لا تقف في وجهه عند ثورة الغضب وحاول الهروب.</li>
<li>إذا لم تستطيع الهروب فكر في أنه قد تكون هناك ظروف داخلية متعبة تدفعه إلى الغضب والإنفعال.</li>
</ul>
<ol start="3">
<li>هذا الغاضب هو أخوك أو زوجك أو زوجتك لا تحسبه عدواً.</li>
<li>فكر لماذا لا تكون أنت المخطئ وأنت لا تدري وقد أثرته بأقوالك أو تصرفاتك.</li>
<li>تذكر أن النار لا تطفئها النار وإنما يطفئها الماء، والغضب لا يطفئه الغضب بل المحبة وطول الروح &#8220;الجواب اللين يصرف الغضب&#8221; (أم ١٥: ١) - تكلم برفق وطيبة قلب.</li>
<li>لا تحسب للغضوب تصرفاته أثناء غضبه أو ما يتفوه به وتجاهل أخطاءه.</li>
</ol>
<p><strong> نصائح لمن يغضبون: </strong></p>
<ul>
<li>جاهد ضد خطية الغضب.</li>
<li>ليس مصدر الغضب دائمًا هو أفعال الآخرين الخاطئة وإثارتهم بل نقطة ضعف فينا.</li>
</ul>
<p><strong>قصة : </strong></p>
<p>راهب كان يغضب في بعض الأوقات – فكر أن يمضى ويسكن وحده، وإنه مادام بمفرده لن توجد أسباب لإثارته. ملأ قلّة فتدحرجت وأنسكب الماء، ملأها ثانية وثالثة وهى تتدحرج وتنسكب، غضب وأمسكها وحطمها وسخرت منه الشياطين. قال لنفسه: [هوذا قد غُلبت في الوحدة، فلأذهب إلى الدير <strong>لأن الإنسان في كل موضع يحتاج إلى جهاد وصبر ومعونه إلهية</strong>].</p>
<ul>
<li>درب نفسك طويلاً على اللطف وطول الأناة والوداعة والهدوء والإحتمال والمحبة.</li>
<li>إدرس الأسباب التي تثير غضبك وعالجها – قد يكون إرهاق أعصابك هو السبب أو ربما سبب جسدى عالج نفسك، فما ذنب الأخرين حتى يحتملونك.</li>
<li>درب نفسك على عدم التدخل فيما لا يعنيك.</li>
<li>إن غضبت فلا تترك غضبك يستمر طويلاً حاول أن تهدئ نفسك بسرعة. أذكر قول الرسول &#8220;لاَ تَغْرُبِ الشَّمْسُ عَلَى غَيْظِكُمْ، وَلاَ تُعْطُوا إِبْلِيسَ مَكَانًا&#8221;. (أف ٤: ٢٦).</li>
<li>تذكر أخطائك التي تقع أثناء غضبك – درب نفسك على تركها وأشكر الله أن هذا الغضب قد كشف لك نقائص مختفية داخلك وإبدأ بمعالجتها.</li>
<li>إعترف لله على يد الكاهن، وأسال الله في كل صلاة أن يرفع عنك هذا المرض ويعطيك روح الوداعة أطلب بلجاجة وتأكد أنك ستنال ما تطلبه لأن الله نفسه يريده لك.</li>
</ul>
<h4>ليس لأحد حب أعظم من هذا – للمهندس يسى حنا <a href="#_ftn4" name="_ftnref4">[4]</a></h4>
<p>&#8220;لَيْسَ لأَحَدٍ حُبٌّ أَعْظَمُ مِنْ هذَا: أَنْ يَضَعَ أَحَدٌ نَفْسَهُ لأَجْلِ أَحِبَّائِهِ&#8221; (يو ١٥: ١٣)</p>
<p>هكذا أحب الله العالم  رغم ما قدمه العالم لله من شر، وما حاوله أبناء الناس من الابتعاد عن الله، وما اختاره آدم و بنوه من السير في طريق التعالي والكبرياء.</p>
<p>رغم كل ذلك أحب الله العالم، حباً يزيد في حدوده عن كل ما في مقدور البشر من عواطف ويتلاقى مع كل ما لجلاله من قداسة فلا يسمح ببقاء الشر، ولا يسمح بفناء الشرير.</p>
<p>هكذا أحب الله العالم حتى بذل ابنه الوحيد  بذل ينبع من حياة وتضحية حتى الموت تعيد إلى المائتين الخلود، واتضاع حتى الهوان والصلب، و ليخلص من في الجحيم ويعيدهم إلى فردوس النعيم.</p>
<p>هكذا أحب الله العالم حتى بذل ابنه الوحيد، لكي لا يهلك كل من يؤمن به  من يؤمن به إيماناً ايجابياً  عاملاً يراه في حبه الذي لا يُحَد فيحب، ويراه في وداعته فيتعلم منه ويسعى في ذات الطريق الذي سلك فيها ذاك حتى يصل إلى الحياة الأفضل.</p>
<p>هكذا أحب الله العالم حتى بذل ابنه الوحيد لكي لا يهلك كل من يؤمن به بل تكون له الحياة الأبدية.. كيف نحبه كما أحبنا؟!  «عندما نثبت فيه و نأتى بثمر» « ونقبل طواعية أن ينقينا لنأتي بثمر كثير» «عندما نحفظ وصاياه داخل القلب» « ونحب بعضنا بعضاً كما أحبنا»</p>
<p>وكيف نحب بعضنا بعضاً؟!..</p>
<p>عندما نسعى لتوسيع دائرة اهتمامنا بمن هم حولنا  فنمتد من حب الأبناء إلى حب الأهل والأقرباء  ومن حب القريب إلى حب الغريب، ومن حب الغريب إلى حب العدو. وهو وحده القادر «أن ينمينا ويزيدنا في المحبة بعضنا لبعض وللجميع»</p>
<p>وكيف نصل إلى حب الجميع؟!</p>
<p>عندما لا نعتمد على ذواتنا، ولانركز تفكيرنا في مصالحنا، فتتحول صلواتنا من أجل أنفسنا إلى الصلاة من أجل الغير كأفراد وجماعات &#8220;فنشعر بالسعادة إذ نحيا في شركة القديسين إذ نتعزى بالإيمان الذي فينا جميعاً&#8221; (رو ۱:۲۱).</p>
<p>وما هي غاية هذا الحب؟!</p>
<p>&#8220;أن نتأصل ونتأسس في المحبة حتى نستطيع أن ندرك مع جميع القديسين ، ما هو العرض والطول والعمق. ونعرف محبة المسيح الفائقة المعرفة لكى نمتلىء إلى كل ملء الله&#8221; (أف٣: ١٨، ١٩). فلنركع تحت صليبه، ونرفع عيونا إلى جنبه المجروح، ونتوج هامتنا بسلطان حبه ذلك الذي حمل على هامته إكليل الشوك. ونضع أنفسنا كما وضع ذاته من أجلنا لكي يكون لنا بموته الحياة الأبدية.</p>
<h3>المراجع</h3>
<p><a href="#_ftnref1" name="_ftn1">[1]</a>  تفسير انجيل يوحنا للقديس كيرلس الاسكندري - المجلد الاول (ص٢٠٣ - ٢٠٩) - ترجمة دكتور نصحي عبد الشهيد وآخرون.</p>
<p><a href="#_ftnref2" name="_ftn2">[2]</a>  كتاب نقاوة القلب في المفهوم الكتابي والآبائي (صفحات ١٠١٥ ، ١٠٢٤ ، ١٠١٢) - إعداد أحد الآباء الرهبان بدير السيدة العذراء &#8220;برموس&#8221;.</p>
<p><a href="#_ftnref3" name="_ftn3">[3]</a>  كتاب قوانين ملكوت السموات - صفحة ١٥ - القمص صليب سوريال .</p>
<p><a href="#_ftnref4" name="_ftn4">[4]</a>  مجلة مدارس الاحد - عدد ابريل لسنة 1962.</p>

      {% endcreateArticleAccordions %}
    </section>
  {% endblock %}
