---
layout: 'layouts/reading.html'
title: 'يوم الخميس من الأسبوع السابع للخماسين المُقَدَّسَة'
permalink: pentecost/7-4.html
---
  {% block content %}
    <section id="readings">
      <ul>
      {% if 'undefined' != 'undefined' %}
      
      {% else %}
      {% if '19.132:4-5' != 'null' %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">العشية</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeVespers '19.132:4-5' '42.8:22-25' %}
          </div>
        </div>
      </li>
      {% endif %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">باكر</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeMatins '19.91:13-14' '42.8:1-3' '' %}
          </div>
        </div>
      </li>
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <h3 class="flex items-center justify-between">
            <span class="kufi">القداس</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </h3>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeLitugy '46.14:5-11' '64.1:10-15' '44.15:7-12' '19.31:16-17' '43.15:17-25' %}
          </div>
        </div>
      </li>

      {% endif %}
        </ul>
    </section>
    <section id="article">
      <h3 class="mt-8 mb-4 heading-explain">شرح القراءات</h3>
      {% createArticleAccordions %}
        <h3>أساس الكنيسة</h3>
<p>تتكلم قراءات اليوم عن <strong>أساس الكنيسة وهو حضور المسيح الدائم وسط شعبه</strong>..</p>
<ul>
<li>فالكنيسة ليس لها معنى ولا كيان دون حضور المسيح.. فهو صاحب السلطان.. وحافظ كنيسته وشعبه وسط أمواج العالم. (انجيل عشية).</li>
<li>وهو الكارز ببشارة الملكوت خلال خدامه الأمناء (انجيل باكر).</li>
<li>وهو الذي إختار شعبه وأعضاء جسده من العالم الذين بحبهم للمسيح صاروا غرباء عن فكر العالم وروح العالم بالرغم من رسالتهم الخلاصية في المسيح للعالم (انجيل القداس).</li>
</ul>
<p></p>
<h4>المزامير</h4>
<p>لذلك تبدأ القراءات بالمزامير بالتحدث عن ← <strong>الكنيسة المبنى والمعنى</strong> ..</p>
<ul>
<li>فالكنيسة هي موضع الرب ومسكنه. (مزمور عشية).</li>
<li>وهي المنتصرة بالمسيح على الشيطان وكل قوته. (مزمور باكر).</li>
<li>وهي التي تعلن نور المسيح وخلاصه. (مزمور القداس).</li>
<li>&#8220;ولا أعطي لعيني نوماً ولأجفاني نعاساً أو راحة لصدغي إلى أن أجد موضعاً للرب ومسكناً لإله يعقوب&#8221;. (مزمور عشية).</li>
<li>&#8220;وعلى الأفعى وملك الحيات تطأ وتسحق الأسد والتنين&#8221; (مزمور باكر).</li>
<li>&#8220;لينر وجهك على عبدك وخلصني برحمتك يا رب&#8221; (مزمور القداس).</li>
</ul>
<p></p>
<h4>إنجيل عشية</h4>
<p>ثم يعلن إنجيل عشية عن ← <strong>أساس سلامة الكنيسة وهو حضور المسيح في وسطها وسلطانه</strong>.. &#8220;وفي أحد الأيام ركب السفينة مع تلاميذه&#8230; نزل في البحر ريح شديدة وأحاطت بهم فصاروا في خطر فأتوا وأيقظوه قائلين: يا معلم إننا نكاد نهلك، فقام وانتهر الريح وأمواج الماء فسكنت وصار هدوء عظيم&#8221;.</p>
<p></p>
<h4>مزمور باكر</h4>
<p>ويعلن انجيل باكر عن ← <strong>أساس كرازة الكنيسة وهو عمل المسيح في خدامه الأمناء</strong> &#8220;وحدث بعد ذلك أنه كان يسير في كل مدينة وقرية يكرز ويبشر بملكوت الله ومعه الإثنى عشر ونساء أخريات&#8221;.</p>
<p></p>
<h4>البولس</h4>
<p>ويعلن البولس عن ← <strong>أساس بيان الكنيسة وهو إعلان ومعرفة فكر الله وقصده في حياة الناس وأن المواهب عامة مثل التكلم بألسنة ليست أساس بنيان الكنيسة</strong> &#8220;أريد أن جميعكم تتكلمون بألسنة ولكن بالأولى أن تتنبأوا فإن من يتنبأ أفضل ممن يتكلم بألسنة إلا إذا ترجم حتى تنال الكنيسة بنياناً&#8221;.</p>
<p></p>
<h4>الكاثوليكون</h4>
<p>وفي الكاثوليكون عن ← <strong>أساس تعليم الكنيسة وهو نقاوة السلوك</strong> فالتعليم الكنسي هو التعليم حسب التقوى المعلن في نقاوة الحياة &#8220;من أجل ذلك إذا جئت فسأذكره بأعماله التي يعملها هاذراً علينا بالأقاويل الخبيثة&#8230; أيها الحبيب لا تتمثل بالشر بل بالخير لأن من يعمل الخير فهو من الله&#8230; ديمتريوس مشهود له من الكل ومن الحق نفسه&#8221;.</p>
<p></p>
<h4>الابركسيس</h4>
<p>وفي الابركسيس عن ← <strong>أساس خلاص الكنيسة وهي النعمة المجانية التي أعلنها المسيح بفدائه وخلاصه</strong> &#8220;إذ طهر بالإيمان قلوبهم والآن لماذا تجربون الله لتضعوا نيراً على رقاب التلاميذ لم يستطع آباؤنا ولا نحن أن نحمله لكن بنعمة الرب يسوع المسيح نؤمن أن نخلص كما أولئك أيضاً&#8221;.</p>
<p></p>
<h4>إنجيل القداس</h4>
<p>وفي إنجيل القداس عن ← <strong>أساس وجود الكنيسة ودوامها وهو الإقتداء بإبن الله والمحبة الأخوية </strong>&#8220;بهذا أوصيكم أن تحبوا بعضكم بعضاً إن كان العالم يبغضكم فاعلموا أنه قد أبغضني من قبل&#8230; ليس عبد أعظم من سيده وإن كانوا قد طردوني فسيطردونكم أنتم أيضاً وإن كانوا قد حفظوا كلامي فسيحفظون كلامكم&#8221;.</p>
<p></p>
<h3>ملخص الشرح</h3>
<ul>
<li>الكنيسة هي موضع الرب ومسكن وإعلان نصرته على الشيطان ومصدر نور المسيح وخلاصه. (مزمور عشية &#8211; مزمور باكر- مزمور القداس).</li>
<li>أساس سلامة الكنيسة هو حضور المسيح الدائم فيها وسلطانه على كل القوات المضادة. (انجيل عشية).</li>
<li>أساس كرازة الكنيسة وخدمتها في عمل المسيح في خدامه الأمناء. (انجيل باكر).</li>
<li>أساس بنيان الكنيسة في إعلانها الدائم عن فكر الله وقصده للناس. (البولس).</li>
<li>أساس التعليم الكنسي في نقاوة الحياة للمعلمين وشهادة حياتهم. (الكاثوليكون).</li>
<li>أساس خلاص وإيمان البشر في الكنيسة في نعمة الله المجانية في فداء المسيح وخلاصه. (الابركسيس).</li>
<li>أساس وجود الكنيسة ودوامها في إفتدائها بإبن الله والمحبة الإنجيلية لأعضائها.     (إنجيل القداس).</li>
</ul>
<p></p>
<h3>عظات آبائية ليوم الخميس من الأسبوع السابع من الخمسين يوم المقدسة</h3>
<h4>شرح لأنجيل القداس &#8211; القديس كيرلس الأسكندري<a href="#_ftn1" name="_ftnref1">[1]</a></h4>
<p><strong>(يو15: 18)</strong><strong> &#8220;إِنْ كَانَ الْعَالَمُ يُبْغِضُكُمْ فَاعْلَمُوا أَنَّهُ قَدْ أَبْغَضَنِي قَبْلَكُم&#8221;. </strong></p>
<p>سنجد أن الطريقة التي يتبعها مخلصنا في كل حالة، ليست أقل بأي حال من مهارة وفن الأطباء الدقيق، فهو دائما يتبع خطة نافعة لسامعيه. فإن الأطباء يفحصون الأمراض المستعصية التي تظهر أحيانا في الأجساد، بواسطة مصادر ومراجع فنهم الطبي، ولكن المسيح يضع سوراً ليمنع دخول الشر، إذ يقوي نفس كل إنسان بوصايا تضمن منع الشر. لذلك، حيث إن التلاميذ كان مقرراً لهم أن يصيروا رؤساء ليس على أمة واحدة أو على مقاطعة واحدة أو بلد واحد، بل بالحري ليكونوا معلمين للكون كله، وأن يكرزوا للعالم كله برسالة الإنجيل، ويحولوا سامعيهم إلى الإيمان بالإله الحقيقي وحده، ويغيروهم من الخطية إلى السلوك الذي يليق بالمؤمنين، ويجعلوا الناموس  وأنا أعني ناموس الإنجيل  هو قانون حياتهم. لذلك فالمسيح يدعو تلاميذه، أن يحسبوا كراهية العالم لهم كلا شيء، أي كراهية أولئك الذين ربطوا قلوبهم بالأمور العالمية، وإختاروا أن يحيوا في الخلاعة وعدم التقوى. لأنه هل يجرؤ أحد أن يقول، إن الرب رأى من المناسب أن يعطي هذه الوصايا لتلاميذه، مبيناً أنه من النافع لهم أن يكونوا مكروهين، ويكون الرب قد أوصاهم بهذا بدون سبب؟ دعنا من هذه الحماقة، لأن كلامه لا يمكن أن ينحدر إلى مثل هذا المعنى غير المعقول.</p>
<p>فهو ينصحهم أن لا يعطوا إهتماماً لكراهية كل الناس لهم، ويقول بطريقة ممتازة  بأوضح وأدق كلام: &#8220;إن كان العالم يبغضكم&#8221;، أي إن كان أولئك الذين يكرمون ما هو من العالم ويربطون عواطفهم بالأمور الأرضية وحدها، هؤلاء إن نظروا إليكم بكراهية، فاعلموا حقاً، هكذا يعلن: أن معلمكم قد إحتمل هذا قبلكم.</p>
<p>ويمكن لأي واحد أن يدرك بسهولة أن أمر المخلص سيأتي بنفع عظيم لمعلمي الأسرار الحلوة. إذا نظر إلى طبيعة الظروف، لأنهم بالحري يسعون بأقصى إجتهاد أن يطرحوا عنهم كلام الحكمة البشرية معتبرينه ثقيلاً وبشعاً، ويبتعدون عن أولئك الذي يفضلون لذاتهم الخاصة وحدها أهم من كل شيء. ولكن هناك اعتبار ضروري قد فاتني أن ألاحظه، رغم أنه مناسب جداً ومتصل ببحث الكلمات التي أمامنا.</p>
<p>أقول، لأن اليهود يخدمون فقط حرف الناموس الموسوي، ويبنون كل شئ عندهم على تلك الأشياء التي كانت تمارس كرموز &#8220;إلى وقت الإصلاح&#8221; (انظر عب٩: ١٠)، لذلك لم يعطوا أي إعتبار لتعليم الإنجيل، بل كانوا يظنون أنهم ينبغي أن يعتبروا خدام الإنجيل أردأ من أشر أعدائهم. وهناك آخرون يتبعون ضلالاً مختلفاً عن أفكار اليهود، هؤلاء يعطون مجد الله الذي لا ينطق به، للمخلوقات، وأنا أقصد بهؤلاء، الوثنيين، هؤلاء لم يقبلوا الكلمة بالفرح المناسب، هذه الكلمة التي تستطيع أن تنير قلوبهم. فلأنهم كانوا غارقين في رذائلهم التي نشأوا عليها، فإنهم حسبوا أن جهلهم هو أثمن شيء عندهم، وكانوا غير ميالين أن يتركوا المرض اللاصق بهم. وحيث إن طبيعة الحالة هي كذلك، فمن يمكنه أن يشك أن تلاميذ المخلص، سيكونون مكروهين ليس من اليهود فقط، بل ومحتقرين جداً من أولئك المرضى بضلال الوثنيين؟</p>
<p>وهكذا فإن الناس الذين كانوا يخصصون أنفسهم للذة، ويعيشون حياة المتعة الجسدية كانوا لا يرحبون بالرسل ولا يطيقونهم. ولكن لو أن تلاميذ المخلص فكروا في أنهم سيكونون مكروهين من هؤلاء الناس الذين ذكرناهم واعتبروا هذه الكراهية أمراً ثقيلاً عليهم، ولو أنهم أسرعوا للسعي في إرضاء مشاعر هؤلاء المرضى بهذه الحالة، ألا يكون واضحاً تماماً للجميع، أنهم لن يقدموا للناس الكلمة القادرة أن تخلص أي إنسان مهما كان، بل سيشغلوا أفكارهم بأمور تافهة باطلة، ولا يخرجون من أفواههم الكلمات الشجاعة الموافقة لمشيئة الله، مكلمين كل واحد بحسب ما يرضي ذوقه؟</p>
<p>لذلك فإن نصيحة الرب لهم، أن لا يسعوا أن يكونوا محبوبين، وأن يتجاهلوا كراهية بعض الناس لهم، هذه النصحية ضرورية لكي ينال الناس منفعة من مشوراتهم، وهذا ما نرى القديس بولس يفعله حينما يقول بوضوح: &#8220;أَفَأَسْتَعْطِفُ الآنَ النَّاسَ أَمِ اللهَ؟ أَمْ أَطْلُبُ أَنْ أُرْضِيَ النَّاسَ؟ فَلَوْ كُنْتُ بَعْدُ أُرْضِي النَّاسَ، لَمْ أَكُنْ عَبْدًا لِلْمَسِيحِ&#8221; (غلا١٠:١). وأيضا حينما وبخ واحداً في كورنثوس، وسمع أنه حزن كثيراً، يقول &#8220;لأَنَّهُ إِنْ كُنْتُ أُحْزِنُكُمْ أَنَا، فَمَنْ هُوَ الَّذِي يُفَرِّحُنِي إِلاَّ الَّذِي أَحْزَنْتُهُ؟&#8221; (2كو٢:٢)، &#8220;لأَنَّ الْحُزْنَ الَّذِي بِحَسَبِ مَشِيئَةِ اللهِ يُنْشِئُ تَوْبَةً لِخَلاَصٍ بِلاَ نَدَامَةٍ&#8221; (٢كو١٠:٧)، لذلك إنه أمر لا جدال فيه أن الكلام الذي يسعى أن يرضي تلذذ السامعين، سيشبع غرور الناس بدلاً من أن ينفعهم، ولكن الذي يطيع كلام المخلص لن يسلك في خدمته بهذه الطريقة، لأنه سيفضل بالحري أن يرضيه، وسيعتبر حتى كراهية أولئك الناس الذين ينظرون للفضيلة بأشد عداوة، سيعتبر كراهيتهم ثروة روحانية له.</p>
<p>إذن، يقول الرب، حينما تثور ضدكم الكراهية في العالم، حتى أن الناس يشهرون بكم ويسيئون إلى سمعتكم الحسنة، فاطرحوا عنكم هذه العثرة من طريقكم وانتصروا عليها، عالمين أن الكرامات التي تقدم لكم من الذين يحبون العالم، لا يمكن أن تهبكم سعادة وفرحاً، إن كانوا لا يحتملون أن يسمعوا كلمة البشارة التي تنفعهم. فإني أنا بالحقيقة ربكم ومعلمكم. أما أولئك الذين فضلوا الإهتمام بالأمور الأرضية وإحتقروا البركات السمائية فهم يبغضون المسيح نفسه أيضاً، وهذا يؤدي إلى هلاكهم. وأظن أنه ليس من الصعب إيضاح هذا الأمر لأن الرب قال في الإنجيل للبعض: &#8220;لاَ يَقْدِرُ الْعَالَمُ أَنْ يُبْغِضَكُمْ، وَلكِنَّهُ يُبْغِضُنِي أَنَا، لأَنِّي أَشْهَدُ عَلَيْهِ أَنَّ أَعْمَالَهُ شِرِّيرَةٌ&#8221; (يو٧:٧). وإذ يضع نفسه نموذجاً لتلاميذه القديسين في هذا الأمر، فهو يدعوهم أن يسيروا في الطريق الذي أعده حينما قال صراحة في موضع آخر: &#8220;طُوبَى لَكُمْ إِذَا عَيَّرُوكُمْ وَطَرَدُوكُمْ وَقَالُوا عَلَيْكُمْ كُلَّ كَلِمَةٍ شِرِّيرَةٍ، مِنْ أَجْلِي، كَاذِبِينَ. اِفْرَحُوا وَتَهَلَّلُوا، لأَنَّ أَجْرَكُمْ عَظِيمٌ فِي السَّمَاوَاتِ، فَإِنَّهُمْ هكَذَا طَرَدُوا الأَنْبِيَاءَ الَّذِينَ قَبْلَكُمْ&#8221; (متى٥: ١١، ۱۲).</p>
<p><strong>(یو٢٥:١٥)</strong><strong> &#8220;لكِنْ لِكَيْ تَتِمَّ الْكَلِمَةُ الْمَكْتُوبَةُ فِي نَامُوسِهِمْ: إِنَّهُمْ أَبْغَضُونِي بِلاَ سَبَبٍ&#8221;. </strong></p>
<p>وهو يبين بوضوح أن هذا الأمر لم يكن غير معروف مقدماً بواسطة الناموس، الذي تنبأ بكل ما سوف يحدث. ولكننا نقول إنه ليس لهذا السبب تنبأ الناموس عن هذه الأيام الأخيرة أن اليهود حينما يبغضون الآب والابن، فانهم سيدانون بأنهم ظالمون، بل لأن الآب والابن كانا يعرفان أنهما سيكونان مكروهين من اليهود، فإن الناموس الإلهي المقدس تنبأ بذلك، مبيناً أن الروح لا يجهل المستقبل. لأنه مكتوب في سفر المزامير. ما يشير إلى شخص المسيح، وكأنه يوبخ جنون اليهود بقوله: &#8220;وَبُغْضًا ظُلْمًا أَبْغَضُونِي&#8221; (انظر مز٢٥: ١٩). فبالتأكيد كان بغضهم له ظلماً. نعم بالتأكيد كانوا ساخطين عليه بدون سبب، هؤلاء الذين لا يوجد أي مبرر لكراهيتهم له، وخاصة من جهة الأعمال الطيبة التي عملها في وسطهم ، وبالحري كان ينبغي أن يحبوه بتقوى فائقة، وكان ينبغي بالحري أن يفرحوا بأن يصيروا تابعين له. فأي إنسان يريد أن يلتمس عذراً لليهود في عصيانهم، دعه يتقدم ويخبرنا عن ما هو السبب الذي يبرر أن يبغضه أي إنسان. هل أي عمل من أعمال المسيح يستحق البغضة أو العداوة؟ هل إنقاذه للبشر من الموت والفساد؟ هل تحريره لهم من طغيان الشيطان، وإبادته لسيادة الخطيئة، وإستعادة الإنسان الذي كان مستعبداً، إلى حالة البنوة لله؟ وهو الذي بمحبته للبشر وغفرانه للخطايا، رفع الذين كانوا أمواتاً بالخطيئة، رفعهم إلى البر.. وهو الذي أعطاهم أن يصيروا شركاء الروح القدس، أي شركاء الطبيعة الإلهية. وفتح لنا مسكن الملائكة القديسين، ومنح البشرهبة الدخول إلى السماء.</p>
<p>فكيف يكون من العدل، أن ذاك الذي وهب لنا كل هذه العطايا، يقابله الناس بالبغضة؟ أليس بالأحرى أن نكافئه بتشكرات في قلوبنا وعلى ألسنتنا، ونقدم له هدية العرفان بالجميل دائماً؟  ومع ذلك، فأعتقد أنه لا يوجد شيء يمكن أن يغير اليهودي العنيد ليتحول إلى التفكير السليم. فهو أبغض بدون سبب . ذاك الذي كان ينبغي بالحري أن يحبه بكل قلبه ويكرمه بطاعة صادقة، ولكن ربنا يرينا هنا حسنًا، أنه لم يكن يجهل طبع اليهود العنيد، بل سبق أن عرف وسبق أن أخبر أن هكذا سيكون حالهم، ولكنه مع ذلك عاملهم بلطف وصفح كما يليق بطبيعته الإلهية. ورغم أنهم كانوا في حالة عدم إستعداد لتقبل الكلمة، فإنه وضع أمامهم كلمة الكرازة التي تدعوهم للخلاص، كما أنه أضاف إلى ذلك أنه صنع لهم معجزات لأجل مساعدتهم على الإيمان، وذلك لمن يوجد بينهم أناس ذوي ميول صالحة ومناسبة.</p>
<p>وهنا أيضا فإنه يعطي تلاميذه فائدة غير قليلة، لكي عندما يتحلون بروح المغفرة واللطف، يمكنهم أن يصلوا بالكرازة بالخلاص حتى إلى أولئك الذين يشتمونهم، وبذلك فإنهم يسيرون في طريق ذلك السمو الذي ظهر فيه هو أولاً. لأنه عندما يكون هناك شيء صالح، فانه يُرى في المسيح أولاً، ثم يُرى فينا نحن بعده؛ فمنه تتدفق كل البركات.</p>
<p></p>
<h4>محبَّة الله ومحبَّة القريب &#8211; القديس يوحنا كاسيان<a href="#_ftn2" name="_ftnref2">[2]</a></h4>
<p>إن هدفنا هو ملكوت السموات وهو الهدف الثابت الذي لا يتغير قط. وبدون طهارة القلب لايمكن أن نصل لهذا الهدف. ويجب أن نحتفظ بهذا الهدف دائماً في عقلنا. وقد يحدث أحياناً لفترة قصيرة أن ينحرف قلبنا عن الطريق المستقيم ولكن يجب أن نرجعه ثانية وأن نقود حياتنا بالتقوى المناسبة لهذا الهدف.</p>
<p>ويجب أن نفعل كل شئ من أجل هذا الهدف المباشر، فنحن نترك اوطاننا وعائلاتنا وممتلكاتنا وكل شئ عالمي لكي ننال طهارة القلب. ونحن نحتقر الغنى المادي من أجل محبة إخوتنا لئلا نقاتل بالغضب ونسقط من الحب. وإذا ما تحركنا بالغضب ضد أخينا. حتى لو كان من أجل أمور بسيطة فإننا نسقط من هدفنا ويكون خروجنا من العالم غير ذي أهمية.</p>
<p>ولقد حذرنا بولس الرسول من ذلك حين قال &#8220;وَإِنْ سَلَّمْتُ جَسَدِي حَتَّى أَحْتَرِقَ، وَلكِنْ لَيْسَ لِي مَحَبَّةٌ، فَلاَ أَنْتَفِعُ شَيْئًا&#8221; (١كو٣:١٣).</p>
<p>ونحن نعلم أن الكمال لايتوقف علي مجرد ترك العالم ولكنه يأتي بعد إدراك الحب كما يقول الرسول بولس &#8220;الْمَحَبَّةُ تَتَأَنَّى وَتَرْفُقُ الْمَحَبَّةُ لاَ تَحْسِدُ الْمَحَبَّةُ لاَ تَتَفَاخَرُ، وَلاَ تَنْتَفِخُ، وَلاَ تُقَبِّحُ، وَلاَ تَطْلُبُ مَا لِنَفْسِهَا، وَلاَ تَحْتَدُّ، وَلاَ تَظُنُّ السُّوءَ&#8221; (١كو ١٣: 4، ٥) وكل هذه الأمور السابقة التي تحدث عنها بولس الرسول هي التي تؤسس طهارة القلب. ونحن نفعل كل شئ من أجل هذا ونحتقر كل ممتلكاتنا ونحتمل الأسهار والأصوام بفرح والقراءة الروحية والتسبيح.</p>
<p>إن الأصوام والأسهار وقراءة الكتاب المقدس ليست هي الهدف والكمال ولكننا نصل إلي الكمال عن طريق تلك الممارسات. لأنه لن يفيدنا إفتخارنا بأصوامنا وأسهارنا وقراءتنا في الكتاب المقدس إذا لم نصل الي محبة الله ومحبة القريب، لأن كل من أدرك حب الله في قلبه فإن عقله يكون دائماً مع الله.</p>
<p></p>
<h3>عظات آباء وخدّام معاصرين ليوم الخميس من الأسبوع السابع من الخمسين يوم المقدسة</h3>
<h4>اختبار الحب العظيم &#8211; للمتنيح الدكتور وليم سليمان قلادة <a href="#_ftn3" name="_ftnref3">[3]</a></h4>
<p>يحفظ تراث الرهبنة الحوارات التي دارت في البرية المصرية بين بعض رهبان الكنائس الاخرى ومن أشهرهم <strong>يوحنا كاسيان</strong> وبين الرهبان المصريين.</p>
<p>فلقد حضر هذا الراهب إلى مصر من ديره الأول في بيت لحم في السنوات الأخيرة من القرن الرابع، وعاش بين آباء البرية الأقباط، ثم عاد واستقر في دير انشأه في مرسيليا بفرنسا. وطلب منه أسقف المنطقة بعد ذلك أن يكتب في لغة بسيطة عما شاهده من حياة أولئك القديسين البسيطة.</p>
<p>ولقد تجول كاسيان في ربوع مصر يبحث عن آبائها المنتشرين في أرجائها. وهكذا جاء مع صحبه إلى بلدة بجوار بحيرة المنزلة اسمها تنيس تحيط بها البحيرات المالحة من كل جانب. وذهبوا الى أسقف المنطقة الذي يدعى ارشيبوس. واذ عرف أنهم يرغبون في لقاء النساك القديسين المقيمين حتى في الأماكن النائية، أخذ عكازه ومزوده كعادة الرهبان الى منطقة تحولت إلى مستنقعات بسبب طغيان البحر فصارت خراباً وهجرها سكانها. وصارت مسكناً لراغبي حياة العزلة والنسك.</p>
<p>واختار الأسقف أن يأخذهم الى أب ناسك قديس تقدم في العمر حتى جاوز المائة، <strong>نشيطاً في الروح  هو القديس شيريمون</strong>.</p>
<p><strong>يقول يوحنا كاسيان: </strong></p>
<p>« وبالتطلع الى وجه هذا الرجل العجيب وطريقة سيره &#8211; سألناه بانسحاق أن يقول لنا كلمة. ويعطينا تعليماً. واذ أخبرناه أن غاية مجيئنا الواحدة هي اشتياقنا الى التعليم الروحي تنهد تنهداً عميقاً وقال:<strong> [</strong>أي تعاليم يمكنني أن أعلمكم بها، وأنا قد وهن بي ضعف السن..<strong>].</strong></p>
<p>ولكن الزوار صمموا على أن [تترك صمتك قليلاً وتزرع فينا المبادىء التي يمكننا أن نعتنقها.. فنحن نعلم بفتورنا وعدم استحقاقنا&#8230; لكن على الأقل من أجل مشقة الرحلة الطويلة إذ أسرعنا بأشتياق للمجيء هنا من ديرنا في بيت لحم لأجل الإستماع إلى تعاليمك والإنتفاع بها.</p>
<p><strong>يقول القديس شيريمون</strong> أن الرسول الطوباوي بولس يجمل مجموع الخلاص في الفضائل الثلاثة: &#8220;الإيمان والرجاء والمحبة&#8221; ثم يواصل شرحه موضحاً قول الرسول: &#8220;هذه الثلاثة  ولكن أعظمهن المحبة&#8221; (1کو۱۳: ۱۳).</p>
<p>كيف؟ الإيمان بوجود الله يجعلنا نبعد عن الخطية، خوفاً من الدينونة المقبلة.</p>
<p>والرجاء في حياة الدهر الآتي يجعلنا نحرص على الصلاح من أجل الحصول على المجد الأبدي.</p>
<p><strong>أما المحبة فإنها</strong> «<strong>تشعل فينا حب السيد المسيح وحب ثمار الروح</strong>» «هذه الأمور الثلاثة، ولو أن ظاهرها يشير إلى هدف واحد ونهاية واحدة -لأنها تحثنا على الابتعاد عن الأمور غير اللائقة- إ<strong>لا أنها تختلف فيما بينها في السمو.</strong></p>
<p><strong>فالمحبة تتعلق بالله</strong> وبالذين نالوا في داخلهم أن يكونوا على صورة الله ومثاله.</p>
<p>بهذا القول <strong>يربط القديس شيريمون بين العهدين ربطاً مبدعاً، ويجعل كمال القديم في العهد الجديد</strong>.</p>
<p>انه كاتب مبدع متعلم في ملكوت السموات (مت ١٣: ٥٢) يخرج من كنزه جواهر جديدة ويحرر القديمة من صدأ الحرف وتراب الشكلية.</p>
<p><strong>فسفر التكوين يعلن ان الله خلق الانسان على صورته ومثاله</strong> (تك1: 26، 27).</p>
<p><strong>والعهد الجديد يعلمنا أن &#8220;الله محبة&#8221;</strong> (١يو٤: ٨، ١٦).</p>
<p><strong>واذن يكون الانسان محبة  لأنه على صورة الله وشبهه</strong>.</p>
<p>بعد هذا يحول القديس المختبر هذه الفضائل الثلاثة الى <strong>ممارسة عملية</strong> فيها النمو الروحي ، يقول: [متی رغب انسان الكمال، يلتزم أن يتقدم من <strong>المرحلة الاولى التي للخوف</strong> والتي دعيت بحق عبودية اذ قيل عنها &#8220;مَتَى فَعَلْتُمْ كُلَّ مَا أُمِرْتُمْ بِهِ فَقُولُوا: إِنَّنَا عَبِيدٌ بَطَّالُونَ&#8221; ( لو۱۷: ۱۰). <strong>متقدماً خطوة تالية صاعدا الى طريق الرجاء المرتفع، حيث لا يدعى بعد عبداً  بل أجيراً</strong> ينتظر المكافأة .. واذ يظهر الانسان في هذه المرحلة كأجير ينتظر الأجرة الموعود بها. لا يقدر أن يدرك حب الابن الواثق من محبة أبيه وسخائه وأن كل ما للاب <strong>هو له</strong>].</p>
<p>ويستخلص المعلم شعور الأجير هذا من قصة الابن الضال:</p>
<p>[ولهذا فان ذلك الضال الذي خسر اسم &#8220;الابن&#8221; (رغم بنوته لأبيه) لم يقدر أن يتجاسر ويطمع في أن يطلب ما للبنوة عندما قال &#8220;لست مستحقا أن أدعى لك ابناً&#8221;. وتدرج هذا التائب في مراحل الفضائل: لأنه بعد ما أكل خرنوب الخنازير .. و &#8220;رجع إلى نفسه&#8221;، غلب عليه خوف مفيد مشمئزاً من قذارة الخنازير خائفاً من عقوبة الجوع القارس. وكما لو كان عبداً اشتاق أن يكون أجيراً، وفكر في الاجرة: &#8220;كم من أجير لأبى يفضل عنه الخبز وأنا أهلك جوعاً. أقوم وأذهب إلى أبي وأقول له: يا أبي أخطأت إلى السماء وقدامك ولست مستحقاً أن أدعى لك ابناً  اجعلني كأحد أجرائك&#8221; (لو٢٥: ۱۷- ۱۹).</p>
<p>ومع كلمات التوبة المملوءة انسحاقاً، ركض اليه أبوه وقابله بعطف عظيم أكثر مما طلب الابن (التائب) قاطعاً حديثه لكي لا ينطق بما هو أقل  اذ لا يريد أن يجعله أجيراً.</p>
<p><strong>فاذ قطع الضال المرحلتين الأوليين بغير توان</strong> (أي مرحلة العبد والأجير أو الايمان والرجاء) <strong>أعاده الآب الى كرامة بنوته السابقة</strong>.</p>
<p>ونحن أيضاً يجدر بنا أن نسرع هكذا بغير توان بواسطة نعمة الحب الثابتة فينا <strong>الى المرحلة الثالثة التي للبنوة</strong>، حيث نؤمن أن كل ما للآب هو لنا، ويمكننا أن نتمثل بالابن في قوله &#8220;كل ما للآب فهو لي&#8221; (یو١٦: ١٥).</p>
<p>وتحثنا وصايا مخلصنا إلى ما يشبه ذلك إذ يقول &#8220;كونوا أنتم كاملين كما أن أباكم الذي في السموات هو كامل&#8221; (مت٥: ٤٨)..</p>
<p>هكذا يشير القديس المعلم الى <strong>معنى الكمال في المسيحية</strong>  <strong>إنه المحبة، التي هي كمال الناموس</strong> (رو ۱۳: ۹) وهي رباط الكمال (کو٣: ١٤).</p>
<p>إن السيد في صلاته الأخيرة الى أبيه الصالح يطلب أن يكون المؤمنون به واحداً في المحبة: &#8220;لِيَكُونَ الْجَمِيعُ وَاحِدًا، كَمَا أَنَّكَ أَنْتَ أَيُّهَا الآبُ فِيَّ وَأَنَا فِيكَ، لِيَكُونُوا هُمْ أَيْضًا وَاحِدًا فِينَا&#8221;- ويعلن الرب أنه بهذه المحبة والوحدة- &#8220;لِيُؤْمِنَ الْعَالَمُ أَنَّكَ أَرْسَلْتَنِي. وَأَنَا قَدْ أَعْطَيْتُهُمُ الْمَجْدَ الَّذِي أَعْطَيْتَنِي، لِيَكُونُوا وَاحِدًا كَمَا أَنَّنَا نَحْنُ وَاحِدٌ. أَنَا فِيهِمْ وَأَنْتَ فِيَّ لِيَكُونُوا مُكَمَّلِينَ إِلَى وَاحِدٍ، وَلِيَعْلَمَ الْعَالَمُ أَنَّكَ أَرْسَلْتَنِي..&#8221; (يو۱۷: 21– ۲۳).</p>
<p>ويواصل القديس شيريمون تعليمه الروحي:</p>
<p>[ويجدر بنا أن <strong>نبذل طاقتنا لكي نرتقي في اشتياق كامل من الخوف الى الرجاء، ومن الرجاء الى محبة الله ومحبة</strong> الفضائل ذاتها وهكذا اذ نعبر في ثبات الى <strong>محبة الصلاح ذاته</strong>، نثبت في الصلاح قدر ما تستطيع الطبيعة البشرية].</p>
<p>وفي حديث يعبر عن خبرة طويلة تحولت فصارت طبيعة ثابتة، يمارسها المؤمن في &#8220;بساطة&#8221; وهدوء  كما بالنسبة للتنفس أو جريان الدم في العروق ثم تتحول هذه البساطة الى ابتهاج وفرح بممارسة الفضيلة &#8211; بهذه الطبيعة الجديدة يعلمنا القديس عن أنه:</p>
<p>[يوجد فرق شاسع بين من يخمد نيران الخطية في داخله خوفاً من جهنم، أو مترجياً الجزاء المقبل  وبين من يبغض الخطية ذاتها ودنسها <strong>بدافع الحب الإلهي</strong>. فبالحب يحافظ على فضيلة النقاوة ببساطة غیر منتظر أي جزاء مقبل  انما <strong>يبتهج</strong> بمعرفة الصلاح الحاضر، صانعاً الخير ليس عن خوف من العقاب بل ابتهاجا بالفضيلة. مثل هذا.. يحتفظ في أعماقه بمحبة الفضيلة ذاتها، ولا يسمح لأي شيء مضاد أن يدخل الى قلبه انما يكره ذلك فعلاً كراهية شديدة. وبهذا يكتسب الثبات في الصلاح&#8230; ويتحصن بفضيلة السلام الدائم. أما من جهة قهر هجوم الخطايا فيتمتع الآن بحالة ثابتة من الأمن، ويبلغ الى محبة الفضيلة نفسها. وبهذا يحتفظ بالصلاح بصفة مستمرة اذ يعكف على المداومة عليها]..</p>
<p>ويعود القديس شيريمون مرة أخرى الى <strong>الربط بين المحبة وصورة الله</strong> [<strong>من يتكل على معونة الله وليس على مجهوده الذاتي يوهب له أن يبلغ هذه الحالة</strong>  فينتقل من حالة العبودية التي يسودها الخوف، ومن حالة الطمع &#8220;الاجراء&#8221; حيث لا يطلب كثيراً مجد الواهب كجزاء  عابراً إلى حالة التبني حيث لا يعود هناك خوف ولا طمع، بل يكون الحب الذي لا يسقط أبداً.. <strong>ومن يصير بالمحبة على صورة الله ومثاله</strong> يبتهج في الصلاح من أجل الصلاح ذاته، ويكون له مثل هذا الشعور <strong>من جهة الصبر والوداعة</strong>.</p>
<p>فلا يغضب بسبب أخطاء الخطاة، إنما في حنو وترفق يطلب لهم الصفح لأجل ضعفاتهم.. لهذا لا يظهر بغضاً على الذين ضلوا بل رحمة، مترنماً لله <strong>بكل سلام عقلي</strong>.</p>
<p>وإذ يكون عقله دائم الاتضاع، يستطيع أن ينفذ الوصية الانجيلية بكمالها: &#8220;أَحِبُّوا أَعْدَاءَكُمْ&#8230; صَلُّوا لأَجْلِ الَّذِينَ يُسِيئُونَ إِلَيْكُمْ&#8221; (مت٥: ٤٤)].</p>
<p><strong>ويواصل المعلم الروحي:</strong></p>
<p>[وبهذا ننال الجزاء الذي يلحق بهذه الوصية  اذ لا نكون فقط على صورة الله ومثاله، بل وندعى أبناء الله اذ يقول الرب &#8220;لِكَيْ تَكُونُوا أَبْنَاءَ أَبِيكُمُ الَّذِي فِي السَّمَاوَاتِ&#8221; (مت ٥: ٤٥)].</p>
<p>وهنا أيضاً يكشف المعلم المختبر الهدوء الذي يسكن في النفس حين تحيا بطبيعة البنوة:</p>
<p>[كيف يمكن للطبيعة البشرية أن تتشبه بالله سوى أن تظهر <strong>محبة هادئة في الداخل نحو الصالحين والطالحين متمثلة بالله الذي يفعل الصلاح حباً في الصلاح ذاته فتبلغ إلى التبنى الحقيقي الذي لأولاد الله</strong> &#8230;]</p>
<p>ذلك أنه [عندما يكتسب أي انسان محبة الصلاح التي تكلمنا عنها والتي بها نتشبه بالله &#8211; <strong>حينئذ يوهب له قلب الله الحنون</strong> فيصلي من أجل المسيئين اليه قائلاً على نفس المثال &#8220;يا أبتاه اغفر لهم لانهم لا يعلمون ماذا يفعلون&#8221; (مت٢٣: 34).</p>
<p>ويقدم المعلم صاحب الخبرة في تعليم تلاميذه وارشادهم &#8220;العلامة الواضحة&#8221; التي تكشف للنفس أنها لم تصل بعد الى هذه المحبة الهادئة الثابتة &#8211; هذه العلامة هي &#8220;عدم حزن النفس من أجل أخطاء الآخرين في حنو  أنما تحكم عليهم كديان في يوم عنيف].</p>
<p>[فلا يقدر انسان أن ينال كمال نقاوة القلب من لا ينفذ قول الرسول: &#8220;احملوا بعضكم أثقال بعض، وهكذا تمموا ناموس المسيح&#8221; (غل٢:٦).</p>
<p>ويفتح القديس طريق الكمال أمام الانسان الذي لا يحرك قلبه وارادته وفعله  إلا المحبة. فيوضح أن ثمة درجات الكمال وقياساته المتنوعة، ذلك أن &#8220;نجما يمتاز عن نجم&#8221; (١کو ١٥: ٤١، ٤٢)</p>
<p>والرب يدعونا من الأشياء السامية الى الأسمى من كمال الى آخر. بمعنى أن يصعد بغيرة الروح من الخوف الى الرجاء واخيرا الى المحبة التي هي آخر مرحلة.. فيها ثقة كاملة، وفرح دائم، تبعدهم عن خوف العبيد ورجاء الأجير الى محبة الله، وتجعلهم أبناء وتنقلهم من كمال الى كمال أعظم].</p>
<p><strong>فالمحبة أعظم من جميع المواهب</strong>، ولا شيء أبقى منها ولا أكثر ثباتاً &#8211; (١کو۱۲: ۳۱- ۱۳: ۱- ۳).</p>
<p>وفي حديث هذا المعلم نجد تواصل التعليم الروحي الأصيل واستمراره.</p>
<p>ففي بستان الرهبان نقرأ أن أبا الرهبان القديس انطونيوس قال مرة لتلاميذه: <strong>أنا لا أخاف الله</strong>.. فدهشوا، وقالوا له: ما هذه الكلمة الصعبة يا أبانا&#8230; قال لهم: <strong>لأني أحبه يا أولادي  والحب يطرد الخوف</strong>.</p>
<p>وواضح أن أب الرهبان العظيم كان يردد ما قاله القديس يوحنا الانجيلي: &#8220;لا خوف في المحبة  بل المحبة الكاملة تطرح الخوف الى خارج ..&#8221; (١یو٤ :١٨) (أنظر ترويض الاذهان في بستان الرهبان للقمص ارمانيوس حبشي شتا البرماوى الباب الثاني، رقم ٢).</p>
<p>ويتابع القديس شيريمون هذا التعليم شارحاً ومفصلاً وموضحاً جوانب جديدة مبدعة فيه. فيقول:</p>
<p>[من يثبت في هذا الحب الكامل، بالتأكيد يتدرج الى درجة أعلى  وهي <strong>الخوف النابع من الحب</strong>  الذي ليس هو الخوف من العقوبة، وفقدان المجازاة، انما هو الخوف من الحب العظيم].</p>
<p>هنا تصل الحياة الروحية الى ذروتها، فتصبح علاقة حية واقعية بين الانسان والهه. لیست خضوعاً مصمتاً لوصية مكتوبة، وتنفيذاً حرفياً لرسوم شكلية دون دفء علاقة المحبة والفرح بالصداقة والثقة الهادئة والثابتة في الله. بل يصور القديس هذه العلاقة الحلوة كما بين الأخ وأخيه، والصديق وصديقه، والحبيب ومن يحب: [فالابن في محبته للأب اللطيف يهابه، والاخ يخاف من أخيه، وهكذا الصديق وصديقه، والزوج ورفيقه، ولكنه ليس خوفاً من الضرب، بل <strong>حرصاً على مشاعر الحب كي لا تجرح</strong>. فيحرص في كل كلمة وكل تصرف ألا تفتر محبته تجاهه]. ولدى إشعياء أن مخافة الرب هي كنز الصديق (إشِ٣٣: ٦).</p>
<p>كيف؟ يقول القديس شيريمون: [<strong>يوجد فرق بين الخوف الذي لا ينقصه شيء، والذي هو كنز الحكمة والمعرفة</strong> (إش٣٣: ٦) <strong>والذي هو رأس الحكمة</strong> (مز١١١: ١٠) <strong>وبين الخوف من العقوبة الذي يُستبعد</strong> (بضم الياء) <strong>من قلوب الكاملين بملء المحبة</strong> (١يو٤: ١٨)].</p>
<p>ولذلك يوضح المعلم أنه يوجد خوف مزدوج، ويدعونا الله أن <strong>نخطو من خوف العبودية</strong> (رو ٨: ١٥، عب ٢: ١٥) وهو الخوف من القصاص المرعب <strong>الى ملء حرية المحبة وثقة الأحباء أبناء الله</strong>.</p>
<p>وهنا يظهر ابراهيم أبو الآباء كنموذج وقدوة، فلقد صارت علاقته بالله علاقة ثقة وألفة وصداقة. حتى أنه &#8220;دعى خليل (أي صديق) الله&#8221; (یع۲: ۲۳، إش٨:٤١ ، ۲ أی۲۰: ۷).</p>
<p>ويواصل القديس شيريمون تعليمه موضحاً أن يسوع المسيح ابن الله يقدم هذا المثل الكامل لهذا الحب، فلقد أعلن النبي مقدماً أنه يحل عليه روح الرب  &#8220;روح الحكمة والفهم&#8221;، &#8220;روح المشورة والقوة&#8221;، &#8220;روح المعرفة <strong>ومخافة الرب</strong>&#8221; مخافة المحبوب من نحو من يحب.</p>
<p>بل يتحول الخوف من &#8220;عذاب&#8221;: الى فرح ومسرة وتنعم. فالنبي يواصل: &#8220;ولذته تكون في مخافة الرب&#8221; أو &#8220;ويتنعم بمخافة الرب&#8221; بحسب الترجمة اليسوعية (إش ۱۱: ۱- ۳).</p>
<p>ويعلق المعلم على ذلك قائلاً [ان هذا هو عظمة غنى هذا الخوف أنه اذ يستقر على أحد بقوته لا يستحوذ على جزء من عقله بل كل عقله، وليس ذلك بغير ادراك  لانه مرتبط إرتباطاً وثيقاً بالمحبة التي &#8220;لا تسقط أبداً&#8221; (١کو۱۳: ۸).</p>
<p>هذا هو الخوف الذي ينتمي للكمال  اذ أن الاله المتجسد جاء  ليس فقط ليخلص البشرية، وإنما لكي يرسم لنا أيضا صورة الكمال ومثال الصلاح، لأنه &#8220;ابن الله الحقيقي.. الذي لم يفعل خطية ..&#8221; (١بط ۲: ۲۲)، فلا يشعر بخوف العقوبة المرعب].</p>
<p>بل تمثلت فيه المحبة الكاملة المطلقة، وهو يدعونا لأن ندخل في شركة هذه الوحدة، ونمتلىء بسعادتها، ونختبر نعيمها وفرحها هنا على هذه الارض، تمهيدا للفرح الدائم إلى الأبد في الدهر الآتى.</p>
<hr />
<p><a href="#_ftnref1" name="_ftn1">[1]</a>  تفسير انجيل يوحنا للقديس كيرلس الاسكندري &#8211; المجلد الثاني صفحة ٢٨٧- ترجمة دكتور نصحي عبد الشهيد وآخرون.</p>
<p><a href="#_ftnref2" name="_ftn2">[2]</a>  كتاب سياحة القلب صفحة ١٢٨ &#8211; ترجمة القمص إشعياء ميخائيل.</p>
<p><a href="#_ftnref3" name="_ftn3">[3]</a>  مجلة مدارس الأحد عدد يناير لسنة ١٩٨٨.</p>

      {% endcreateArticleAccordions %}
    </section>
  {% endblock %}
  