---
layout: 'layouts/reading.html'
title: 'يوم الجمعة من الأسبوع السابع للخماسين المُقَدَّسَة'
permalink: pentecost/7-5.html
---
  {% block content %}
    <section id="readings">
      <ul>
      {% if '19.42:8' != 'null' %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">العشية</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeVespers '19.42:8' '42.11:24-26' %}
          </div>
        </div>
      </li>
      {% endif %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">باكر</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeMatins '19.119:96,89' '42.8:18-21' '' %}
          </div>
        </div>
      </li>
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <h3 class="flex items-center justify-between">
            <span class="kufi">القداس</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </h3>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeLitugy '46.14:12-17' '65.1:22-25' '44.15:13-18' '19.25:1-3' '43.7:37-39' %}
          </div>
        </div>
      </li>
        </ul>
    </section>
    <section id="article">
      <h3 class="mt-8 mb-4 heading-explain">شرح القراءات</h3>
      {% createArticleAccordions firstName, lastName %}
        <h3>بنيان الكنيسة</h3>
<p>تحدثنا قراءات اليوم عن <strong>بنيان الكنيسة</strong>..</p>
<ul>
<li>فتتكلم المزامير عن ← مراحم الرب وكلمته وحمايته التي هي الضمان الدائم لبنيان الكنيسة ..</li>
<li>ويتحدث إنجيل عشية وانجيل باكر عن ← المسئولية الشخصية لكل إنسان عن نفسه وعن خلاصه.</li>
<li>والبولس عن ← دور التعليم في بنيان الكنيسة.</li>
<li>والكاثوليكون عن ← دور الرعاية في البنيان.</li>
<li>والابركسيس عن ← دور الكرازة للعالم في البنيان.</li>
<li>ويختم بانجيل القداس عن ← ملء الروح القدس عقب البنيان.</li>
</ul>
<p></p>
<h4>مزمور عشية</h4>
<p>لذلك تبدأ القراءات بمزمور عشية الذي يعلن ← <strong>مراحم الرب الدائمة للكنيسة </strong>في نهار العالم وليله والتي تجعل الكنيسة في نهار دائم من أجل غنى المراحم الإلهية. &#8220;بالنهار يأمر الرب برحمته وبالليل يظهرها.</p>
<p></p>
<h4>مزمور باكر</h4>
<p>وفي مزمور باكر عن ← <strong>كلمة الرب الأساس الأبدي للكنيسة</strong> فكل شئ إلى زوال وله منتهى أما كلمة الرب ووصاياه فليس لها نهاية ولا حدود لفعلها وتأثيرها وكل ما يؤسس على كلمة الرب سيدوم إلى الأبد.. &#8220;لكل تمام رأيت منتهى أما وصاياك فواسعة جداً يا رب كلمتك دائمة في السموات إلى الأبد&#8221; (مز١١٨: ٦٧، ٧٢).</p>
<p></p>
<h4>مزمور القداس</h4>
<p>وفي مزمور القداس عن ← <strong>حماية ورعاية الرب للكنيسة وتطلع الكنيسة الدائم للرب راعيها وحاميها والذي تضع فيه كل رجائها</strong>.. &#8220;إليك رفعت نفسي. إلهي عليك توكلت. فلا تخزني إلى الأبد ولا تضحك بي أعدائي. لأن جميع الذين ينتظرونك لا يخزون&#8221; (مز24: 1).</p>
<p></p>
<h4>انجيل عشية</h4>
<p>وفي انجيل عشية ← <strong>خطورة غياب البنيان وعدم اهتمام النفس بالنعمة الإلهية فتصير مسرحاً للشيطان</strong>.. &#8220;فإذا لاجاء ووجده فارغاً مكنوساً مزيناً حينئذ يمضي ويأخذ سبعة أرواح أخر شراً منه فيدخلون ويسكنون هناك هناك فتكون أواخر ذلك الإنسان شراً من أوائله&#8221;.</p>
<p></p>
<h4>انجيل باكر</h4>
<p>وفي انجيل باكر عن ← <strong>مكافأة الذين تعمل فيهم النعمة ولهم ثمر واضح في حياتهم وعقوبة الذين ليس لهم ثمر</strong>.. &#8220;إن الذي له سيعطى والذي ليس له فالذي يظنه له أيضاً سينزع منه&#8221;.</p>
<p>كما يعلن الرب عن ← <strong>مكانة أمه العذراء والدة الإله </strong>في أنها كانت مستودع رائع للإبن الكلمة فلم يكن فقط في أحشائها آخذاً منها جسداً بل كان يملأ عقلها وقلبها لذلك مدحها ليس فقط لولادتها له بالجسد بل أيضاً لأنها صارت نموذجاً لكل أم تحيا حسب فكر الله ومشيئته.. &#8220;فأجاب وقال لهم إن أمي وإخوتي هم هؤلاء الذين يسمعون كلمة الله ويعملون بها&#8221;.</p>
<p></p>
<h4>البولس</h4>
<p>وفي البولس عن ← <strong>دور المواهب في الكنيسة</strong> وأهميتها إنها يعطيها الروح القدس لأجل بنيان الكنيسة وليس لأجل المهارات الشخصية أو القدرات الذاتية لأي إنسان، فأي موهبة لا تبني الآخرين ليست من الروح.. لذلك يوضح هنا أن التكلم بألسنة إذا لم يكن له رسالة واضحة لمن يسمعها وترجمة فليس له قيمة وتكون كمن يتكلم في الهواء.. والذهن هنا يقصد به ذهن الآخر (الكنيسة) فإذا لم يعرف من حولنا ماذا نصلي تكون صلواتنا بلا ثمر. &#8220;اطلبوا لأجل بنيان الكنيسة أن تزداد&#8230; وأرتل بروحي وأرتل بالذهن أيضاً وإلا فإن كنت باركت بالروح فالذي يشغل مكان الثاني كيف يقول آمين عند شكرك لأنه لا يعرف ماذا تقول فإنك تشكر حسناً ولكن الآخر لا يبنى&#8221;.</p>
<p></p>
<h4>الكاثوليكون</h4>
<p>وفي الكاثوليكون عن ← <strong>هدف الرعاية في الكنيسة </strong>وهو سلام أولادها وخلاصهم ونجاتهم من الهلاك. &#8220;وارحموا البعض مميزين وخلصوا البعض بالخوف مختطفين من النار&#8221;.</p>
<p></p>
<h4>الابركسيس</h4>
<p>ويعلن الابركسيس أن ← <strong>بنيان الكنيسة ونموها وامتداد ملكوتها هو في قصد الله منذ الأزل واستعلن في ملء الزمان في كنيسة العهد الجديد</strong>.. &#8220;بعد هذا أرجع فأبني خيمة داود الساقطة وأبني أيضاً ردمها ثانية لكي يطلب الباقون من الناس الرب وكل الأمم الذين دعي إسمي عليهم يقول الرب الصانع هذا كله معلومة عند الرب منذ الأزل جميع أعماله&#8221;.</p>
<p></p>
<h4>إنجيل القداس</h4>
<p>وفي إنجيل القداس عن ← <strong>فيض الروح القدس وأنهار ماء الحياة التي تروي الكنيسة وتبنيها وتضمن دوام حيوية الكنيسة واستقرارها</strong>.. &#8220;من يؤمن بي كما قال الكتاب تجري من بطنه أنهار ماء الحياة قال هذا عن الروح الذي كان المؤمنون به مزمعين أن يقبلوه&#8221;.</p>
<p></p>
<h3> ملخص الشرح</h3>
<ul>
<li>الكنيسة وجدت بمراحم الرب الغنية وتدعم وتبنى بكلمته المحيية وتحفظها وتصونها رعايته الأبوية. (مزمور عشية &#8211; مزمور باكر- مزمور القداس).</li>
<li>النفس الفارغة المستهينة بالنعمة تصير مسرحاً للشيطان. (انجيل عشية).</li>
<li>العذراء والدة الإله نموذجاً للنفس المثمرة بالنعمة خلال حياتها بفكر الله حتى بعد ولادتها للإبن الكلمة بالجسد. (انجيل باكر).</li>
<li>المواهب في الكنيسة هدفها بنيان الأعضاء. (البولس).</li>
<li>الرعاية في الكنيسة هدفها خلاص ونجاة أولادها. (الكاثوليكون).</li>
<li>نمو الكنيسة وانتشار الملكوت في كل العالم هو قصد الله منذ الأزل. (الابركسيس).</li>
<li>حيوية الكنيسة وضمان استقرار بنائها في المسيح يعتمد على فيض الروح القدس فيها (أنهار ماء الحياة). (إنجيل القداس).</li>
</ul>
<p></p>
<h3>عظات آبائية <strong>للجمعة السابعة للخمسين يوم المقدسة</strong></h3>
<h4>الروح: بئر الماء الحي – للعلَّامة أوريجانوس<a href="#_ftn1" name="_ftnref1">[1]</a></h4>
<ul>
<li>ويتفق أن كل نفس منا تحتوى على بئر ماء حي، وأنه مخبأ بداخلها شيء من الحس السماوي وصورة الله. هذه هي البئر التي سدَّها الفلسطينيون، أي القوى المعادية، بالتراب. وبأى تراب؟ بالمشاعر الجسدية والأفكار الأرضية ولذلك قد &#8220;لبسنا صورة الترابي&#8221; (1كو 15: 49). وإذن فحين كنا نلبس صورة الترابي، قام الفلسطينيون بسد آبارنا، ولكن الآن وقد جاء إسحق الجديد (إسحاقنا)، فلنستقبل مجيئه ونحفر آبارنا؛ لنرفع التراب منها، ولننقها من كل القاذورات ومن كل فكر موحل وأرضي، وسنجد فيها الماء الحي، هذا الماء الذى يقول عنه الرب: &#8220;من آمن بي، تجري من بطنه أنهار ماء حي&#8221; (يو 7: 38). لاحظ كم أن الرب كريم: لقد طمر الفلسطينيون الآبار وتشاجروا معنا على مجارٍ مائية شحيحة وهزيلة، فرد لنا الرب مكانها منابع وأنهاراً.</li>
</ul>
<p><strong>صورة الرب داخل الروح</strong></p>
<ul>
<li>أنتم إذاً يا من تنصتون إليّ اليوم، إذا قبلتم بإيمان ما تسمعون، فيعمل إسحق بداخلكم أنتم أيضًا ويطهر قلوبكم من المشاعر الأرضية. وإذ ترون أن مثل هذه الأسرار العميقة مخبأة في الكتاب المقدس، فإنكم تتقدمون في الفهم، وترتقون في المشاعر الروحية وتصيرون بدوركم معلمين وتنبع منكم &#8220;أنهار ماء حي&#8221; (يو 7: 38).</li>
</ul>
<p>بيد أن كلمة الله هو هناك وفعله الحالي هو أن يزيح التراب من كل نفس من نفوسكم، وأن يفتح ينبوعك، فهو في الواقع بداخلك ولا يأتي من الخارج كما أن &#8220;ملكوت الله بداخلك&#8221; (لو 17: 21). والمرأة التي أضاعت درهمها، فإنها لم تجده خارجاً ولكن في بيتها: لقد &#8220;أوقدت سراجها وكنست بيتها&#8221; (لو 15: 8) من القاذورات والأوساخ التي تراكمت فيه زمانًا طويلًا بواسطة الكسل والغباء، وهناك وجدت درهمها.</p>
<p>أما أنت، فإذا أضأت سراجك، إذا التجأت لإنارة الروح القدس، ورأيت &#8220;النور في نوره&#8221; (مز 35: 10 س.)، فستجد الدرهم بداخلك، لأنه قد وضعت فيك صورة الملك السماوي. ففي البداية عندما خلق الله الإنسان &#8220;عمله على صورته وشبهه&#8221; (تك 1: 26؛ تك 5: 1)، ولم يضع هذه الصورة بالخارج ولكنه بداخله. وهي لا يمكن أن تظهر فيك طالما كان بيتك ممتلئاً بالقاذورات والأوساخ. نبع المعرفة هذا كان بداخلك لكن لم يكن من الممكن أن يتدفق لأن الفلسطينيين كانوا قد ملأوه بالتراب وعملوا فيك &#8220;صورة الترابي&#8221; (1كو 15: 49)، وهكذا لبست قديماً صورة الترابي، لكن الآن بعد ما سمعته للتو؛ وإذ تخلصت بواسطة كلمة الله من كتلة التراب الكبيرة هذه التي كانت تضايقك، فلتجعل &#8220;صورة الله&#8221; تنبلج فيك.</p>
<p><strong>صورة الله والخطية</strong></p>
<p>هذه إذاً هي الصورة التي قال الآب للابن عنها: &#8220;لنعمل الإنسان على صورتنا كشبهنا&#8221; (تك 1: 26).</p>
<p>إن رسام تلك الصورة هو ابن الله، وهو رسام بهذه الجودة وهذه القدرة بحيث لصورته أن تظلم بفعل الإهمال ولكنها لا تتلف بفعل المكر. تبقى صورة الله دائمًا فيك حتى وإن وضعت عليها &#8220;صورة الترابي&#8221;.</p>
<p>أنت رسام تلك الصورة (صورة الترابي). فهل أكمدتك الشهوة؟ فها أنت قد وضعت لوناً أرضيًا. هل يلهبك الطمع؟ فها قد مزجت لوناً آخر. هل صيرك الغضب قاسياً؟ ها إنك تضيف لوناً ثالثًا. والكبرياء أيضًا يضيف لوناً آخر، وكذلك العقوق، وهكذا فإنك ترسم أنت بنفسك من خلال كل نوع من أنواع المكر، ومن خلال تجميع الألوان المختلفة، &#8220;صورة الترابي&#8221; التي لم يضعها الله فيك. ولذا يجب علينا أن نتضرع إلى من يقول بالنبي &#8220;ها أنا أمحو كغيم ذنوبك وكدخان خطاياك&#8221; (إش 44: 22)، وحين يكون قد محى فيك كل هذه الألوان المأخوذة من الخبث، فحينئذ تسطع فيك &#8220;الصورة&#8221; التي خلقها الله، أنت ترى إذاً كيف أن الكتاب المقدس يعمد إلى أساليب في التعبير وإلى رموز ليُعلِّم النفس أن تعرف ذاتها وأن تتطهر.</p>
<p><strong>كتابة الخطية وكتابة الروح القدس</strong></p>
<p>هل تريد أن ترى أيضًا شكلًا آخر لهذه الصورة؟ إذن، فهناك الصك الذى يكتبه الله والصك التي نكتبه نحن. أما نحن فنكتب صك الخطية. اسمع الرسول: &#8220;إذ محا الصك المكتوب ضدنا مع أحكامه، والذى كان ضدًّا لنا، قد أزاله مسمراً إياه بالصليب&#8221; (كو 2: 14). هذا الصك الذى يتحدث عنه كان &#8220;وثيقة&#8221; بخطايانا، لأن كل واحد منا يعتبر مدينًا بخطاياه ويكتب صك (الإقرار) بخطيئته. وفى محكمة الله التي يصف دانيال النبى جلستها، يقول إن هناك &#8220;أسفار مفتوحة&#8221; (دا 7: 10) تحتوى دون أدنى شك على خطايا البشر. فنحن قد كتبناها إذاً بخطايانا. وفى الإنجيل، ويمثل ذلك في المثل الإنجيلي الذى لوكيل الظلم (لو 16: 8) الذى يقول لكل مدين: &#8220;خذ صكك واجلس واكتب: ثمانين&#8221; (لو 16: 7)، وما يليه. أنت ترى إذاً أنه قد قيل لكل مدين &#8220;خذ صكك&#8221;، ويبرز من هنا أن صكك هو صك خطايا. أما الله فيكتب صك العدل لأن الرسول يقول ذلك: &#8220;إنكم رسالة مكتوبة لا بحبر بل بروح الله الحي، لا في ألواح حجرية بل في ألواح لحمية، في قلوبكم&#8221; (2كو 3: 2، 3). فلديك إذاً بداخلك صك الله، صك الروح القدس، ولكن إذا أخطأت، فإنك توقع إقرارًا بالخطية. لاحظ أنك حين أتيت إلى صليب السيد المسيح وإلى نعمة المعمودية، فإن إقرارك بالدين قد سُمر على الصليب (كو 2: 14) ومحيَ في ماء المعمودية، فلا تُعِد كتابة ما تم محوه ولا تُعِد ما تم إبطاله: لا تحتفظ بداخلك سوى برسالة الله، وكتابة الروح القدس وحدها التي ينبغي أن تبقى بداخلك.</p>
<p><strong>لنحفر آبارنا مع إسحق الجديد</strong></p>
<p>لكن لنرجع إلى إسحق ونحفر معه آبار ماء حي. يمكن للفلسطينيين أن يثيروا اعتراضات ونزاعات، فعلينا ألا نتوقف عن المثابرة مع إسحق في حفر الآبار حتى يُقال لنا نحن أيضاً: &#8220;اشرب مياها من آنيتك ومن آبارك&#8221; (أم 5: 15). ولنحفر حتى تفيض مياه البئر على &#8220;ساحاتنا&#8221; (أم 5: 16)، لكي لا يكفي علم الكتاب لنا نحن فقط ولكن لكي نعلم الآخرين ونثقفهم، لكي ما يشرب البشر والبهائم أيضاً، اسمعوا أيها الحكماء واسمعوا أيها البسطاء: &#8220;معلم الكنيسة مدين للحكماء كما للجهلاء&#8221; (رو 1: 14)، فيجب عليه أن يسقي البشر وأن يسقي البهائم لأن النبي قال: &#8220;يا رب أنت تخلص الناس والبهائم&#8221; (مز 35: 7 س.). من أجل هذا، فليتفضل الرب نفسه، يسوع المسيح مخلصنا وينيرنا ويطهر قلوبنا &#8220;له المجد والسلطان إلى أبد الآبدين آمين&#8221; (1 بط 4: 11؛ رؤ 1: 6).</p>
<p>العظة الآبائية الثانية &#8211; للجمعة السابعة للخمسين يوم المقدسة</p>
<p><strong>كنوز الروح القدس &#8211; </strong>للقديس يوحنا ذهبي الفم<a href="#_ftn2" name="_ftnref2">[2]</a></p>
<p>لقد تناولنا في العظة السابقة، وما قبلها، عبارة رسولية واحدة، وجعلنا كلامنا منصباً على تفسير هذه العبارة &#8220;فإذ لنا روح الإيمان عينه حسب المكتوب آمنت لذلك تكلمت&#8221;، واليوم سنتوقف عند هذه العبارة، وهذا أنا أفعله حتى تنتفعوا أنتم لا لكى أظهر أنا. لأن هذا الموضوع قد إستحوذ عليَّ مرة أخرى، لا لكي أظهر أمامكم بإعتباري الحكيم، كثير الخبرة والمعارف، بل لكي أكشف لكم حكمة الرسول بولس، وأفتح شهيتكم لسماع هذا الكلام. لأنه من الواضح أن عمقه الروحى يكون أفضل، عندما يولد لنا من عبارة واحدة، نهر غني من المعاني. وأنتم أيضاً لو علمتم أنه من خلال كلمة رسولية واحدة، يمكن للمرء أن يُثمر بغنى ووفرة، ويقتني حكمة لا يُعبَّر عنها، فإنكم لن تعبروا على رسائله هكذا بسطحية وعدم تدقيق، بل ستتحركوا مقتاتين على الرجاء بأنكم ستتوقفوا على كل عبارة موجودة داخل الرسائل لتكشفوا معناها وأهميتها.</p>
<p>لأنه إذا كانت عبارة واحدة فقط قد أفرزت لنا ثلاث عظات، فكم من الكنوز ستتدفق لنا لو تناولنا مقطعاً كاملاً، وتعمقنا في فهمه بالتدقيق؟ وبناء على ذلك، ينبغي أن لا نتوقف، قبل العودة إلى كل العبارات الإلهية. لأنه لو كان أولئك الذين يحفرون الأرض، حتى يستخرجون الذهب، قد أستخرجوا الكثير منه، فإنهم لن يتوقفوا حتى يخرجوا كل ما وجدوه، فبالأكثر جداً ينبغي علينا نحن إن نظهر شوقاً وإهتماماً، تجاه البحث في العبارات الإلهية، لأننا نحفر ونستخرج الذهب، لكن ليس المادي المحسوس، بل الذهب الروحي. فنحن لا نعمل في المعادن التي تستخرج من باطن الأرض، بل في كنوز الروح القدس. ورسائل القديس بولس هي كنوز وينابيع لا تنضب، وهى خامات متنوعة، لأنها تعطينا كنوزاً ثمينة أكثر قيمة من الذهب، وهي بالحق ينابيع متدفقة، لأنها لاتجف أبداً، وبقدر ما تأخذ منها، على قدر ما تنساب مرة أخرى أكثر فأكثر، وهذا يظهره الزمن الذى عبر بكل وضوح. لقد عاش القديس بولس قبل خمسمائة عام، وخلال هذه الفترة الزمنية الطويلة، فإن كثيرين من الكتاب، والمعلمين والباحثين، قد أخذوا الكثير من رسائله، ومع ذلك، فإن كنوزها لم تفرغ. هذا الكنز غير مدرك للأحاسيس، ولذلك لا يستفيد بالرغم من التنقيب في منجمه، بل إنه يفيض ويتزايد، ولماذا أشير إلى السابقين، فكم عدد الذين سيأتوا بعدنا، وعدد الآخرين الذين سيأتوا بعدهم، ممن سيأخذون من هذا النبع، ومع ذلك لن يتوقف عن الجريان، وهذا الكنز لن ينقص، لأن هذه الينابيع (الرسائل) روحية وبحسب طبيعتها لا تستنفذ أبداً. وما هي هذه العبارة الرسولية والتي في حديثي السابق، كلمتكم عنها؟ هي الآتى &#8220;فإذ لنا روح الإيمان عينه حسب المكتوب آمنت لذلك تكلمت&#8221;.</p>
<p>فقد تحدثنا قبلاً عن: لماذا قال &#8220;روح الإيمان عينه؟&#8221;، ووجدنا سبباً واحداً، وكان هذا لكي نُثبِت مدى التوافق بين العهدين القديم  والجديد. لأنه بالحق عندما يتضح أن روح الإيمان عينه هو الذى حرَّك لسان داود النبي حتى يقول: &#8220;آمنت لذلك تكلمت&#8221;، ويجعل نفس الرسول بولس تسمو هكذا وترتفع، فمن الواضح جداً أن هناك قرابة وتوافق بين الأنبياء والرسل، وأن التوافق والتطابق بين العهدين القديم والجديد هو حتمي ومؤكد. لكن وحتى لا أرهقكم، مكرراً نفس الكلمات، لنتقدم في حديثنا لنتكلم عن السبب الآخر، الذى لأجله قال: &#8220;روح الإيمان عينه&#8221;، لأنني وعدتكم أن أذكر سبباً آخر لهذه العبارة الرسولية. لكن يجب أن تستعدوا لتلقي الشرح، لأن المعنى الذى سأقدمه، هو عميق، ويحتاج أو يتطلب عقولاً قوية، ونفوساً حساسة لذلك أترجاكم أن تتابعوا هذا الشرح الذى سأقوله الآن، كلمة كلمة. لأنه إذا كان التعب والجهد، يتعلق بي، فالمنفعة هي لكم، ولكي نتكلم بصورة أكثر وضوح، فإن الجهد ليس هو جهدي أنا، بل عطية  الروح القدس. أي مثل إعلان الروح القدس للحقيقة، فإنه لا المتكلم، ولا السامع يتعب في شيء لأن السهولة في الإعلان عن الحقيقة، هو أمر كبير للغاية. إذاً فلتتابعوا الشرح كلمة، كلمة، لأنه حتى وأن تابعتم أكثر أجزاء الحديث، لكنكم تغافلتم عن جزء صغير منه، فلن تشعروا بجمال المعنى في كماله، لأنكم بهذا تكونوا قد فقدتم جزء من المعنى. لأنه تماماً، فمثل أولئك الذين لا يعرفون الطريق، ويحتاجون إلى مرشد فإنهم حتى وإن كانوا بعد قد تابعوه لمدة طويلة، إلا أنهم إذاً شردوا عنه لحظة، وإختفى من أمام أعينهم، فلن يجدوه، لن ينفعهم الإرشاد الذى تم حتى تلك اللحظة في شيء، وسيكون بلا فائدة على الإطلاق، ولن يعرفوا إلى أين يتجهوا. هكذا أولئك الذين يتابعون متحدثاً ما، إن حدث وشردوا عنه قليلاً، فإنهم سيفقدوا التواصل معه، حتى وأن كانوا قد تابعوا معظم الحديث، ولن يستطيعوا أن يفهموا المعاني. إذاً حتى لا تعانوا هذا الأمر، فلتتابعوا حديثي بإهتمام وإنتباه حتى نصل إلى نهايته، ونفهم المعنى بشكل جيد.</p>
<p></p>
<h3>عظات آباء وخدّام معاصرين <strong>للجمعة من الأسبوع السابع للخماسين </strong><strong>المُقَدَّسَة</strong></h3>
<h4>نبع الارتواء &#8211; لقداسة البابا تواضروس الثاني<a href="#_ftn3" name="_ftnref3">[3]</a></h4>
<p>كان عند اليهود ثلاثة أعياد رئيسية لها علاقة بالأرض والزرع:</p>
<ul>
<li>عيد الفصح: وهو بداية الحصاد والباكورات.</li>
<li>عيد الخمسين: وهو كمال الحصاد.</li>
<li>عيد المظال: وفيه جمع حصاد العنب والزيتون ، والشكر على بركات السنة كلها.</li>
</ul>
<p>كان عيد المظال هو أكبر وأقدس أعياد اليهود ويستمر سبعة أيام، مع يوم أخير للراحة يُسمى اليوم العظيم من العيد، وهو آخر الأعياد للسنة المقدسة، وفيه يخرج اليهود إلى العراء ويعيشون في مظال مصنوعة من أغصان الأشجار تذكاراً لمعيشة اليهود ٤٠ سنة في البرية بعد خروجهم من مصر.</p>
<p>هذا الخروج مرتبط بالمظال، وهذا الذي نراه في حديث وقت التجلِّي عن الخروج العتيد، واشتياق بطرس أن يصنع ثلاث مظال، وبعد هذا يستمر العيد سبعة أيام يكون اليوم الثامن هو اليوم الكبير أو العظيم ويُمَثِّل عندهم في الذكرى يوم الوصول إلى أرض كنعان.</p>
<p>كان في آخر أيام العيد يأخذ رئيس الكهنة من مياة بركة سلوام ويصبَّها على مذبح النحاس تذكاراً لحادثة خروج الماء من الصخرة في البرية، وقد ذكر بولس الرسول أن الصخرة هي المسيح (١كو١٠: ٤).</p>
<p><strong>فالمسيح هو نبع الأرتواء</strong> الذى قال عنه إشعياء: &#8220;كنبع مياه لا تنقطع مياهه&#8221; (إش٥٨: ١١).</p>
<p>إذاً الإرتواء منه للقلب العطشان لا يبقى ارتواء وحسب، ولكنه يحول الصخر إلى نهر.. فيصير ينبوع ارتواء للآخرين.. إنه شيء يفوق عقل العطشان.</p>
<p>إن ينابيع الارتواء هي: المخدع، المنجلية، المذبح.</p>
<p><strong>الماء الحي:</strong></p>
<p>عيد المظال هو أحد أهم ثلاثة أعياد عند اليهود، يستمر لمدة أسبوع، وفى آخر يوم هناك طقس &#8220;سكب الماء&#8221; من بركة سلوام على مذبح المحرقة.</p>
<p><strong>الماء</strong>: كان رمز للخلاص من الهلاك ← الفُلك وسط الطوفان &#8211; عبور البحر الأحمر &#8211; مقابلة يسوع والسامرية &#8211; شفاء المولود أعمى &#8211; شفاء مريض بركة بيت حسداً.</p>
<ul>
<li><strong>الروح</strong>: مياه حية وهو ينبوع النعمةً، ونجد في الكتاب المقدس أن:</li>
</ul>
<p>المؤمن يجد المسيح دائماً عند البئر ← إسحق ورفقة &#8211; المسيح والسامرية &#8211; &#8230;</p>
<p>أما غير المؤمن فنجده عند المياه الراكدة.</p>
<ul>
<li><strong>أنهار مياه</strong>: القداسة، الفضائل، المواهب.. كلها أنهار مياه روحية ← إنها نهر واحد متعدد القنوات لأن<br />
الروح واحد ولكن مواهب وعطايا متعددة (رو١٢: ٥- ٨).</li>
</ul>
<p><strong>سؤال</strong>:</p>
<p>كيف أحفظ هذه المياه لكى لا تتسرب أو تختفي؟</p>
<p>أو كيف أحفظ وعائى سليماً لكى لا تنفذ منه مياه النعمة الإلهية.. من الشقوق التي تصنعها الخطية..؟</p>
<p>ج: هناك:</p>
<ul>
<li><strong>الصدأ أو الخطية</strong>: إنه ضعف الإيمان وغيابه.</li>
<li><strong>العتة والشهوات</strong>: إنها حياة الدنس والنجاسة.</li>
<li><strong>اللصوص والروح الشرير</strong>: إنها الغفلة والكسل .</li>
</ul>
<p>إن رش المياة في نهاية القداس هو تحقيق حلول الروح القدس الذى يغمر الكنيسة منذ يوم العنصرة ولذا جاء كلام السيد المسيح في اليوم الثامن عن الماء الحي.. الماء الروحى الذى قال عنه في سفر الرؤيا &#8220;من يعطش فليأت ومن يرُد فليأخذ ماء حياة مجاناً&#8221; (رؤ٢٢: ١٧).</p>
<p>مثلاً الغني الغبي (لو١٢: ١٨- ٢٠). مات دون أن يرتوي: لأن ارتواءه كان من العالم، ونسى أن العالم يزول وشهوته معه.</p>
<p></p>
<h4>العظة الثانية<br />
<strong>دعوا الروح يملأكم &#8211; </strong>المتنيح الأنبا غريغوريوس &#8211; أسقف عام البحث العلمى والدراسات القبطية <a href="#_ftn4" name="_ftnref4">[4]</a></h4>
<p>جاء في الإصحاح الخامس من رسالة القديس بولس الرسول الى كنيسة الله التي في أفسس:</p>
<p>&#8220;فكونوا متمثلين بالله كأولاد أحباء. واسلكوا في المحبة كما أحبنا المسيح أيضا وأسلم نفسه لأجلنا قرباناً وذبيحة لله رائحة طيبة&#8221;.</p>
<p>&#8220;وأما الزنا وكل نجاسة وطمع فلا يُسَمَّ بينكم كما يليق بقديسين. ولا القباحة ولا كلام السفاهة والهزل التي لا تليق بل بالحري الشكر. فأنكم تعلمون هذا أن كل زانٍ أو نجس أو طماع الذي هو عابد للأوثان ليس له ميراث في ملكوت المسيح والله&#8221;.</p>
<p>&#8220;لا يغركم أحد بكلام باطل لأنه بسبب هذه الأمور يأتي غضب الله على أبناء المعصية. فلا تكونوا شركاءهم. لأنكم كنتم قبلاً ظلمة وأما الآن فنور في الرب. اسلكوا كأولاد نور. لأن ثمر الروح هو كل صلاح وبر وحق. مختبرين ما هو مرضي عند الرب. ولا تشتركوا في أعمال الظلمة غير المثمرة بل بالحري وبخوها. لأن الأمور الحادثة منهم سراً ذكرها أيضاً قبيح. ولكن الكل إذا توبخ يظهر بالنور لأن كل ما أُظهر فهو نور. لذلك يقول إستيقظ أيها النائم وقم من بين الأموات فيضيء لك المسيح&#8221;.</p>
<p>&#8220;فانظروا كيف تسلكون بالتدقيق لا كجهلاء بل كحكماء. مفتدين الوقت لأن الأيام شريرة. من أجل ذلك لا تكونوا أغبياء بل فاهمين ما هي مشيئة الرب. ولا تسكروا بالخمر الذي فيه الخلاعة بل دعوا الروح يملأكم. مكلمين بعضكم بعضاً بمزامير وتسابيح وأغاني روحية، مترنمين ومرتلين في قلوبكم للرب. شاكرين كل حين على كل شيء في اسم ربنا يسوع المسيح لله والآب. خاضعين بعضكم لبعض في خوف الله&#8221; (أف٥: ١-٢١).</p>
<p><strong>الإمتلاء بالروح</strong></p>
<p>الموضوع الذي يدور عليه حديثنا هو قول الكتاب: &#8220;دعوا الروح يملأكم&#8221;.. ما معني الإمتلاء بالروح؟.. وأي روح هوالمقصود هنا؟.</p>
<p><strong>معنى الإمتلاء:</strong></p>
<p>&#8220;دعوا الروح يملأكم&#8221; العبارة تفرض أنه في إمكان الإنسان أن يمتلئ بالروح، من أجل هذا يقول الكتاب المقدس: &#8220;دعواالروح يملأكم&#8221;. ولابد أن يكون هذا موضوعنا ولكننا نرجئ الحديث عنه الآن إلى أن يأتي وقته.</p>
<p><strong>ما معنى الإمتلاء؟</strong></p>
<p>نقول؛ إمتلأ الوعاء، معناه أن الوعاء أمتلأ بمحتويات سواء كانت ماء أو سائلاً من أي نوع.. إلى أن يصل إلى الحافة بحيث لا يبقى في الوعاء شيء فارغ.</p>
<p>معنى الإمتلاء إذن أن يصل الوعاء للدرجة التي يكون المحتوى فيه قد صعد في المقياس إلى ملئه أو إلى نهاية هذا الوعاء أي إلى حافته العليا.</p>
<p><strong>مرحلتان</strong><strong> : </strong></p>
<p>هذا هو الإمتلاء، ولكن يتلو هذا مرحلة أخرى هي بعد أن يمتلئ الوعاء: أ<strong>ن يفيض</strong>.. وهذا تعبيراً استخدمه رب المجد قائلاً: &#8220;من آمن بي فكما قال الكتاب ستجري من باطنه أنهار ماء حي. وإنما قال هذا عن الروح الذي كان المؤمنون به عتيدين أن ينالوه&#8221; (يو٧: ٣٨، ٣٩).. يعني إمتلاء الوعاء أولاً، ومن بعد أن يمتليء يفيض.. فتجري الأنهار من هذا الوعاء من بعد إمتلائه.</p>
<p>هنا مرحلتان: <strong>مرحلة الإمتلاء</strong>، ثم <strong>مرحلة الفيض</strong> الذي يترتب عليه أن تجري أنهار من هذا الفيض.</p>
<p><strong>معني الإمتلاء بالروح</strong></p>
<p>المقصود بالروح هنا ليس الروح الانسانية، وإن كان العمل هو مع الروح الإنسانية إنما الإمتلاء بالروح هنا المقصود به الإمتلاء من نعمة الروح القدس وعمل الروح القدس، فيصل الإنسان إلى أن يصير عمل الروح القدس شاغلاً كل فراغ القلب والروح، بحيث لا يبقى هناك مكان لشيء آخر. ومن دون هذا لا يكون هناك إمتلاء. فالإمتلاء معناه أن يَشغَل فراغ القلب كله وأن تَشغَل الروح، فلا يصير للروح الانسانية اهتمامات أخرى وإنما يصير الإهتمام كله روحيًا، وما عدا ذلك فليست له أهمية، ولا يكون في بؤرة الشعور إطلاقاً، وسواء تم أو لم يتم فليس له مكان.</p>
<p>وهذه هي المرحلة التي قال عنها الرسول مرة &#8220;ليكن الذين يستخدمون هذا العالم كالذين لا يستخدمونه&#8221; (١كو٧: ٣١) هذه هي مرحلة فقدان الإهتمام بالأمور التي تعد تافهة القيمة بإذاء القيم الأبدية التي تشغل بها النفس الإنسانية والتي تملأ كل فراغ القلب وكل أعماق النفس، بحيث يدخل عمل الروح القدس في النفس الانسانية روحاً وجسداً بل يدخل الى كل جزء فيها: الى المخاخ والى المفاصل. يعني أن ينفذ عمل الروح القدس الى كل شيء في النفس روحاً وجسداً بحيث لا يكون هناك شيء آخر.</p>
<p><strong>الإنتشار</strong></p>
<p>ومرحلة الإمتلاء هذه تحتاج الى عملية إنتشار طولاً وعرضاً وعلواً وعمقاً. هذه هي التي يعنيها الرسول بقوله &#8220;لكي تعرفوا ما هو العرض والطول والعلو والعمق&#8221; (أف٣: ١٨). <strong>فهو امتداد في كل الإتجاهات</strong>. ومن دون هذا يكون عمل الروح محصوراً مضيقاً عليه محبوساً مخنوقاً وبالتالي ينطفئ عمل الروح.</p>
<p>فإذا أتينا بمصباح من الكيروسين (الجاز) توافر له نصيب من الأوكسجين مع الوقود من الزيت أو من (الجاز) وكان الفتيل نظيفاً، فإن الضوء يستمر والمصباح يشتعل. أما إذا سددنا فوهة المصباح من فوق بأيدينا أو بكتاب أو ما إلى ذلك وبهذا نكون قد منعنا عنه الأكسجين فإنه بعد قليل ينطفئ المصباح بعد أن ينفذ الأوكسيجين، ينطفيء المصباح بدون أي مجهود من جانبنا. ولذلك يقول الكتاب المقدس لنا ولكل الذين أخذوا موهبة الروح القدس &#8220;اضرم موهبة الله التي فيك&#8221; (٢تي١: ٦). اشعل موهبة الله التي فيك. وهذه يعني أن هذه الموهبة يمكن أن تضرم ويمكن أيضاً أن تُطفاً.</p>
<h4>موعد الروح القدس &#8211; للدكتور نصحي عبد الشهيد<a href="#_ftn5" name="_ftnref5">[5]</a></h4>
<p>في ظهوره الأخير للتلاميذ قبل صعوده إلى السماء بالجسد قال الرب يسوع لهم: &#8220;وَهَا أَنَا أُرْسِلُ إِلَيْكُمْ مَوْعِدَ أَبِي فَأَقِيمُوا فِي مَدِينَةِ أُورُشَلِيمَ إِلَى أَنْ تُلْبَسُوا قُوَّةً مِنَ الأَعَالِي&#8221; (لو٢٤: ٤٩).</p>
<p>ونفهم من كلام المخلص أن هناك وعداً قديماً من الله بأن يسكب روحه على البشر، وأن هذا الوعد سيتم عندما يصعد المسيح إلى السماء ويرسل الروح القدس الموعود به من الله للناس. وهذا ما أوضحه معلمنا بطرس الرسول بكل جلاء عندما تحدث يوم الخمسين بعد حلول الروح القدس إلى جمهور اليهود الذين تجمعوا بسبب صوت حلول الروح، لكي يشرح لهم معنى هذه الظاهرة السماوية، فقال: &#8220;هذَا مَا قِيلَ بِيُوئِيلَ النَّبِيِّ: يَقُولُ اللهُ: وَيَكُونُ فِي الأَيَّامِ الأَخِيرَةِ أَنِّي أَسْكُبُ مِنْ رُوحِي عَلَى كُلِّ بَشَرٍ، فَيَتَنَبَّأُ بَنُوكُمْ وَبَنَاتُكُمْ، وَيَرَى شَبَابُكُمْ رُؤًى وَيَحْلُمُ شُيُوخُكُمْ أَحْلاَمًا. وَعَلَى عَبِيدِي أَيْضًا وَإِمَائِي أَسْكُبُ مِنْ رُوحِي فِي تِلْكَ الأَيَّامِ فَيَتَنَبَّأُونَ. وَأُعْطِي عَجَائِبَ فِي السَّمَاءِ مِنْ فَوْقُ وَآيَاتٍ عَلَى الأَرْضِ مِنْ أَسْفَلُ: دَمًا وَنَارًا وَبُخَارَ دُخَانٍ تَتَحَوَّلُ الشَّمْسُ إِلَى ظُلْمَةٍ وَالْقَمَرُ إِلَى دَمٍ، قَبْلَ أَنْ يَجِيءَ يَوْمُ الرَّبِّ الْعَظِيمُ الشَّهِيرُ. وَيَكُونُ كُلُّ مَنْ يَدْعُو بِاسْمِ الرَّبِّ يَخْلُصُ. (أع ٢: ١٦– ٢١).</p>
<p>فهذه النبوة التي استشهد بها معلمنا بطرس الرسول، والتي تنبأ بها يوئيل النبي &#8211; الذى عاش حوالى سنة ٤٠٠ قبل الميلاد &#8211; تكشف لنا وجود الوعد الإلهي بإعطاء الروح القدس للبشر من جديد بعد أن هجر الروح الإنسان بسبب خطاياه وتمرده على الله. بل يبدوا أن وعد الله بسكب الروح أقدم من عصر يوئيل لأننا نقرأ في إشعياء النبي: &#8220;إِلَى أَنْ يُسْكَبَ عَلَيْنَا رُوحٌ مِنَ الْعَلاَءِ&#8221; (إش٣٢: ١٥)، وأيضاً: &#8220;أَسْكُبُ رُوحِي عَلَى نَسْلِكَ وَبَرَكَتِي عَلَى ذُرِّيَّتِكَ&#8221; (إش٤٤: ٣).</p>
<p>وهكذا أيضاً نجد إشارة لهذا الوعد الإلهي بإعطاء الروح في حزقيال النبي: &#8220;وَأَجْعَلُ رُوحِي فِي دَاخِلِكُمْ، وَأَجْعَلُكُمْ تَسْلُكُونَ فِي فَرَائِضِي، وَتَحْفَظُونَ أَحْكَامِي وَتَعْمَلُونَ بِهَا&#8221; (حز ٣٦: ٢٧).</p>
<p>وربما هذا ما جعل مخلصنا يقول في إنجيل يوحنا عن الروح القدس: &#8220;مَنْ آمَنَ بِي، كَمَا قَالَ الْكِتَابُ، تَجْرِي مِنْ بَطْنِهِ أَنْهَارُ مَاءٍ حَيٍّ&#8221;. ويكمل البشير قائلاً: &#8220;قَالَ هذَا عَنِ الرُّوحِ الَّذِي كَانَ الْمُؤْمِنُونَ بِهِ مُزْمِعِينَ أَنْ يَقْبَلُوهُ&#8230;&#8221; (يو٧: ٣٨، ٣٩). كما قال الكتاب، أي كتب الأنبياء في العهد القديم.</p>
<p>وهذا الماء الحي (أي الروح) هو ما تنبأ عنه إشعياء أيضاً &#8220;فَتَسْتَقُونَ مِيَاهًا بِفَرَحٍ مِنْ يَنَابِيعِ الْخَلاَصِ&#8221; (إش١٢: ٣). ولذلك نجد معلمنا بطرس بعد أن شهد للجموع يوم الخميسن عن قيامة المسيح أخبرهم أن الرب يسوع بعد أن قام من الأموات، أرتفع إلى يمين الله وأخذ موعد الروح القدس من الآب ثم سكب الروح الذى يرون ويسمعون علامات حلوله على الكنيسة يوم الخمسين مثل ألسنة منقسمة كأنها من نار استقرت على كل واحد منهم، مع صوت كما من هبوب ريح عاصفة (أع٢: ٢، ٣).</p>
<p><strong>نوال موعد الروح</strong></p>
<p>حل الروح القدس يوم الخمسين تحقيقاً للوعد الإلهي، كنتيجة لتضحية المسيح بنفسه لأجل خلاص الجميع. فالرب يسوع صنع الخلاص للجميع بصلبه وقيامته وصعوده إلى يمين الآب، ولكن حصول كل إنسان بذاته على الخلاص شخصياً يستلزم أن يؤمن الإنسان بالمسيح إلهاً ورباً ومخلصاً ويتوب ويعتمد باسمه، فيعمل فيه الروح القدس ولينقل إليه خلاص المسيح بصفة شخصية، ويسكن فيه الروح القدس بعد أن يعتمد.</p>
<p>وهذا ما قاله بطرس الرسول للذين نخسوا في قلوبهم يوم الخمسين: &#8220;تُوبُوا وَلْيَعْتَمِدْ كُلُّ وَاحِدٍ مِنْكُمْ عَلَى اسْمِ يَسُوعَ الْمَسِيحِ لِغُفْرَانِ الْخَطَايَا، فَتَقْبَلُوا عَطِيَّةَ الرُّوحِ الْقُدُسِ. أَنَّ الْمَوْعِدَ هُوَ لَكُمْ وَلأَوْلاَدِكُمْ وَلِكُلِّ الَّذِينَ عَلَى بُعْدٍ&#8230;&#8221; (أع٢: ٣٨، ٣٩). فموعد الروح القدس الذى اخذه يسوع بصعوده، وسكبه على الكنيسة يوم الخمسين، هو مقدم لكل من يتوب ويؤمن ويعتمد، وهكذا، يكون تحقيق الموعد مستمراً إلى اليوم وسيظل مستمراً إلى أن يأتي الرب في مجيئه الثاني، وذلك لكل من يؤمن بالمسيح ويطيعه كما قال معلمنا بطرس إن الله يعطى الروح القدس للذين يطيعون يسوع (أع٥: ٣٢).</p>
<p>ويقول معلمنا بولس الرسول إننا ننال موعد الروح القدس بالإيمان بالمسيح يسوع (غلا٣: ١٤). ويقول لأهل أفسس: إذ آمنتم بإنجيل الخلاص بالمسيح فإنكم ختمتم بروح الموعد القدوس (أف١: ١٣).</p>
<p><strong>أنهار ماء حي</strong></p>
<p>لقد قال الرب إن من يؤمن به تجري من بطنه أنهار ماء حي (يو٧: ٣٨) أي الروح القدس. ونحن نحتاج أن نحافظ على مياه الحياة جارية ومتدفقة. يقول القديس أمبروسيوس: [هذه المياه هي عطية الروح القدس. ومن يستطيع أن يجعلها تتدفق في صدري؟ يا ليتها تتدفق فىّ، يا ليت الذى يهب الحياة الأبدية يفيض عليَّ. يا ليته يفيض علينا ولا يذهب بعيداً، لأن الحكمة يقول: &#8220;اِشْرَبْ مِيَاهًا مِنْ جُبِّكَ، وَمِيَاهًا جَارِيَةً مِنْ بِئْرِكَ. ولا تَجعَل مياه بِئْرِكَ تفيض في شوارعك&#8221; (أم٥: ١٥، ١٦). كيف أحفظ هذه المياه لكي لا تتسرب ولا تختفي؟. كيف أحفظ وعائي سليماً حتى لا تنفذ مياه الحياة الأبدية من الشقوق التي تصنعها الخطية؟ علّمنا يا رب كل هذا، كما علّمت تلاميذك وقلت لهم: &#8220;لاَ تَكْنِزُوا لَكُمْ كُنُوزًا عَلَى الأَرْضِ حَيْثُ يُفْسِدُ السُّوسُ وَالصَّدَأُ، وَحَيْثُ يَنْقُبُ السَّارِقُونَ وَيَسْرِقُونَ &#8221; (مت٦: ١٩)].</p>
<p><strong>اطلب يسوع ليعطيك الماء الحى</strong></p>
<p>ويقول القديس أمبروسيوس أيضاً: [إذا كنت تطلب يسوع تخلى عن الخزانات المشققة، لأن المسيح لن يجلس عند بركةً بل عند البئر. وهناك وجدته المرأة السامرية، وآمنت به وهى التي طلبت منه الماء الحى (يو٤: ٦). ورغم أنك كان يجب أن تأتي في الصباح الباكر، إلا أنك حتى إن جئت متأخراً ولو في الساعة السادسة فسوف تجد يسوع في انتظارك متعبًا من الرحلة. وهو متعب وأنت السبب في ذلك، لأنه كان يفتش عنك منذ زمن وعدم إيمانك أتعبه طويلاً. إلا أنه لن يغضب إذا جئت الآن بل سيطلب منك أن يشرب وهو الذى يعطي أكثر مما نفتكر. وهو سيشرب ليس من نهر تجري مياهه هنا على الأرض، وإنما يريد أن يشرب خلاصك وأعمالك الحسنة. لقد شرب الكأس أي الآلام التي بها فداك من خطاياك، حتى عندما تشرب من دمه المقدس تطفئ عطشك لهذا العالم].</p>
<hr />
<p><a href="#_ftnref1" name="_ftn1">[1]</a>  كتاب العلٍّامة أوريجينوس عظات علي سفر التكوين صفحة 222 &#8211; ترجمة أستاذة مريم أشرف سيدهم ، أستاذة مريم رشاد حليم ، دكتورة جينا بسطا.</p>
<p><a href="#_ftnref2" name="_ftn2">[2]</a>  كتاب الحقيقة والظلال للقديس يوحنا ذهبي الفم &#8211; صفحة ٦٧ &#8211; ترجمة دكتور سعيد حكيم يعقوب.</p>
<p><a href="#_ftnref3" name="_ftn3">[3]</a> كتاب المنجلية القبطية الأرثوذكسية &#8211; صفحة 415 &#8211; قداسة البابا تواضروس الثاني.</p>
<p><a href="#_ftnref4" name="_ftn4">[4]</a>  موسوعة الأنبا غريغوريوس أسقف عام البحث العلمى والدراسات القبطية &#8211; الجزء الأول صفحة ٢٢ &#8211; إعداد الإكليريكي منير عطية.</p>
<p><a href="#_ftnref5" name="_ftn5">[5]</a>  الكتاب الشهري للشباب والخدام &#8211; عدد يونيو ويوليو لسنة ٢٠٠٩ &#8211; صفحة ١٢ &#8211; إصدار بيت التكريس لخدمة الكرازة.</p>
<p></p>
<p></p>

      {% endcreateArticleAccordions %}
    </section>
  {% endblock %}
  