---
layout: 'layouts/reading.html'
title: 'تقديم القمص يسى ثابت'
meta:
  desc:
    'تقديم القمص يسى ثابت - دراسات في القراءات اليومية للكنيسة القبطية الارثوذكسية'
intro:
  title: 'تقديم القمص يسى ثابت'
permalink: pages/abona-yassa.html
---

{% createArticleAccordions %}
  <div class="entry-content">
    <div>
      <p>
        <span>إختارت لنا كنيستنا المُقدَّسة هذا الكم الضخم من القراءات الكتابية من العهدين القديم والجديد لتعزف لنا سيمفونية جميلة عن الحب الإلهي للإنسان</span>.</p>
    </div>
    <div>
      <p>
        <span>وفي هذا البحث محاولة بسيطة لفهم وإدراك ما أدركته الكنيسة عندما وضعت قراءات الصوم الكبير</span>.</p>
      <p>
        <strong>
          <span>لذلك يشمل هذا البحث فصول عدَّة لتناول موضوع القراءات من جوانب متعدِّدة</span>:</strong>
      </p>
      <p>
        <span>(١) معني ومغزي القراءات الكنسية بصفة عامَّة</span>.</p>
      <p>
        <span>(٢) تاريخ قراءات الصوم الكبير</span>.</p>
      <p>
        <span>(٣) موضوع قراءات الصوم الكبير</span>.</p>
      <p>
        <span>(٤) أوجه التشابه بين قراءات الصوم الكبير ومثيلاتها في الكنائس: السريانية، والبيزنطية، واللاتينية</span>.</p>
      <p>
        <span>(٥) الرابط بين قراءات الصوم الكبير، والبصخة المُقدَّسة، والخمسين يوم المُقدَّسة، في الكنيسة القبطية</span>.</p>
      <p>
        <span>(٦) نظرة إحصائية في قراءات الصوم الكبير</span>.</p>
      <p>
        <span>(٧) مُقارنة بين قراءات أيَّام الصوم الكبير</span>.</p>
      <p>
        <span>(٨) مُقارنة بين قراءات السبوت والآحاد للصوم الكبير</span>.</p>
      <p>
        <span>(٩) ماذا يحتوي شرح قراءة كل يوم ؟</span>.</p>
      <p>
        <span>(١٠) قراءات صوم نينوي (يونان)</span>.</p>
      <p>
        <span>(١١) قراءات سبت وأحد الرفاع</span>.</p>
      <p>
        <span>(١٢) قراءات الأسبوع الأوَّل</span>.</p>
      <p>
        <span>(١٣) قراءات سبت الإسبوع الأول ، وقراءة أحد الكنوز</span>.</p>
      <p>
        <span>(١٤) قراءات الأسبوع الثاني</span>.</p>
      <p>
        <span>(١٥) قراءات سبت الإسبوع الثاني ، وقراءة أحد التجربة</span>.</p>
      <p>
        <span>(١٦) قراءات الأسبوع الثالث</span>.</p>
      <p>
        <span>(١٧) قراءات سبت الإسبوع الثالث ، وقراءة أحد الإبن الضال</span>.</p>
      <p>
        <span>(١٨) قراءات الأسبوع الرابع</span>.</p>
      <p>
        <span>(١٩) قراءات سبت الإسبوع الرابع ، وقراءة أحد السامرية</span>.</p>
      <p>
        <span>(٢٠) قراءات الأسبوع الخامس</span>.</p>
      <p>
        <span>(٢١) قراءات سبت الإسبوع الخامس ، وقراءة أحد المخلَّع</span>.</p>
      <p>
        <span>(٢٢) قراءات الأسبوع السادس</span>.</p>
      <p>
        <span>(٢٣) قراءات سبت الإسبوع السادس ، وقراءة أحد المولود أعمى</span>.</p>
      <p>
        <span>(٢٤) قراءات الأسبوع السابع</span>.</p>
      <p>
        <strong>
          <span>شكر خاص</span>:</strong>
      </p>
      <p>
        <span>أَوَدُّأن أشكر الآباء الذين أمدوني بمادة القراءات في كنائسهم ( الأسقف يوس بونت من الكنيسة الكاثوليكية بهارلم بهولندا ، والأب الخوري صموئيل صموئيل راعي الكنيسة السريانية بأمستردام بهولندا ، والأب باسيليوس خميس راعي كنيسة الروم الأرثوذكس بهولندا )</span>
      </p>
      <div id="m_-6249581322949104586yiv6540673567yqtfd01816">
        <p>
          <span>وأريد أن أُعبِّر عن خالص شكري لتعب كثيرين في إتمام هذا البحث ( ليبارك الرب من فيض وغني نعمته بيوتهم وكل ما لهم ) ، الذين تعبوا في كتابة العظات ( وورد ) وهم كثيرين من إيبارشية هولندا وإيبارشية بني سويف ، وأشكر الدكتور جوزيف موريس فلتس (مركز باناريون للتراث الآبائي) لمراجعته الباب الخاص بإنجيل القدَّاس في فكر آباء الكنيسة ، والدكتور جورج عوض إبراهيم (مركز دراسات الآباء) لمراجعته البحث كله</span>
        </p>
        <p>
          <span>وأشكر الدياكون دميان بشاي ( كنيسة السيدة العذراء بأمستردام ) لتجميع البحث ، والأستاذ محسن ماهر توفيق ( كنيسة مار مرقس ببني سويف ) لمراجعته كل العظات الواردة في البحث والتأكُّد من صحة كل المراجع</span>
        </p>
        <p>
          <span>وأشكر الأحباء الذين صمَّموا الموقع ( المهندسة كارلا كمال روفائيل ) ، ومن تعبوا في وضع كل البحث علي الإنترنت وتطبيقه بشكل رائع : الأستاذ مينا الفي ، ومن ساعدوه في تنزيل البحث الأستاذ بموا بشاي ، والأستاذ جابرييل صابر</span>
        </p>
        <p>
          <span>وأشكر القائمين علي موقع</span>
          <a
            href="http://st-takla.org/"
            target="_blank"
            rel="noopener"
            data-saferedirecturl="https://www.google.com/url?q=http://st-takla.org&amp;source=gmail&amp;ust=1643979204751000&amp;usg=AOvVaw2qvxGnYIwRkFN65aQf6kaO">st-takla.org</a>))<span>والذي من خلاله أخذت الكثير من أقوال الآباء التي ترجمها الأب الموقَّر القمص تادرس يعقوب ملطي</span>
        </p>
        <p>
          <span>وأختم شكري بتعبيري عن إمتناني الكبير ، بأبوَّة قداسة البابا المُعظَّم الأنبا تواضروس الثاني لسماحه لضعفي بوضع عظاته العميقه عن الصوم في هذا البحث ، ومساندة أسقفنا المحبوب الأنبا أرساني الذي يشجِّع دائماً كل دراسة تظهر مجد كنيستنا المُقدَّسة</span>
        </p>
        <p>
          <span>فليبارك الرب بغني نعمته في هذه الدراسة البسيطة كما بارك في الخمس خبزات والسمكتين بصلوات أبينا الساهر عنَّا صاحب القداسة والغبطة البابا تواضروس الثاني وشريكه في الخدمة الرسولية أبينا الأسقف المحبوب أنبا أرساني وصلوات كل آباء الكنيسة الاجلاء وصلوات شعبنا التقي العظيم، وللثالوث القدوس كل الكرامة والمجد والسلطان إلى دهر الدهور آمين</span>.</p>
        <p>
          <strong>
            <span>القمص يسَّى ثابت مساك</span>
          </strong>
        </p>
        <p>
          <span>خادم مذبح والدة الإله بأمستردام</span>
        </p>
        <p>
          <span>إيبارشية هولندا للأقباط الأرثوذكس</span>
        </p>
        <p>
          <span>الإيميل</span>:<a
            href="mailto:katameros.bible@gmail.com"
            target="_blank"
            rel="noopener">katameros.bible@gmail.com</a>
        </p>
      </div>
    </div>
  </div>
{% endcreateArticleAccordions %}