---
layout: 'layouts/reading.html'
title: 'تقديم نيافة الأنبا أرساني'
meta:
  desc:
    'تقديم نيافة الأنبا أرساني - دراسات في القراءات اليومية للكنيسة القبطية الارثوذكسية'
intro:
  title: 'تقديم نيافة الأنبا أرساني'
permalink: pages/anba-arsany.html
---
3{% createArticleAccordions %}
  <div class="entry-content">
    <p>
      <span>الكنيسة القبطية لها برنامج&nbsp;</span>
      <span>دسم&nbsp;</span>
      <span>على مدار</span>
      <span>السنة من خلال القراءات الكنسية، التي تأتي بترتيب بديع متناسق، مع دقة في اختيار فصول القراءات من الكتاب المقدس لتتكامل مع بعضها، سواء في قراءات اليوم</span>
      <span>الواحد، أو في برنامج شهر أو موسم من مواسم الكنيسة. فالبرنامج السنوي ككل متكامل، سواء في القراءات يوم الاحد أو في قراءات بقية أيام الاسبوع، وكذلك في قراءات أيام الأصوام والأعياد. هذا التكامل يحوي</span>
      <span>تراثاً روحياً يحمل إلينا غني وزخم وروحانية الطقس في الكنيسة القبطية الأرثوذكسية ويحفظها وينقلها عبر الزمان</span>
      <span>&nbsp;إلي&nbsp;</span>
      <span>أجيال كثيرة.</span>
    </p>
    <p>
      <span>وقد جاءت القراءات بهذا التنسيق المبدع لتشهد بعمل الروح القدس، ليس فقط في</span>
      <span>الآباء الذين وضعوها، بل وأيضا في الكنيسة التي حافظت عليها. وبالمداومة على</span>
      <span>تقديمها ساهمت في تقديم فكراً لاهوتياً دقيقاً وطريقاً روحياً مستقيماً عبر الأجيال. فالقراءات لها وظيفة تعليمية تربوية، وعلى ضوء مفاهيمها تستلم الأجيال اللبن العقلي فتنمو به في المعرفة، وتتسلم الحقائق الإلهية في يسر وسهولة. فالمسيحية روح تُسلَّم، ليست مجرد معرفة تُلقَّن. والقراءات الكنسية بتنظيمها تقوم بهذه المهمة وقد ثبت فاعليتها على ممر الأجيال.</span>
    </p>
    <p>
      <span>ومن الجميل حقاً أن تقدم لنا الكنيسة هذه القراءات في طقس خشوعي ولحن بديع وقور يحمل</span>
      <span>إلينا أنَّات الروح القدس، فإنه يبكت النفس</span>
      <span>للتوبة، ويقودها لتدخل مع عبق البخور المتصاعد إلى شركة</span>
      <span>مع&nbsp;</span>
      <span>المخلوقات الروحية في السماء.</span>
    </p>
    <p>
      <span>هذه الدراسة التي يقدمها لنا جناب الاب الموقر القمص يسي ثابت ميساك هي عرض للقيم الروحية لهذا التراث الرائع، وما يحتوي عليه من فكر روحي ولاهوتي، فيها شرح للتنسيق الرائع الذي يجمع القراءات الكنسية سواء في يوم الاحد أو أيام الأسبوع وذلك خلال أيام السنة العادية (السنوي) أو خلال فترة صوم نينوي والصوم الكبير، أو خلال أيام الخماسين، أو خلال شهر كيهك، وقد احتوي كل يوم على أكثر من نموذج لعظات حملت نصوص وأفكار من تفسير الآباء للكتاب المقدس. وإني إذ أقدم هذا</span>
      <span>العمل إليك – أيها القارئ العزيز – أصلي إلى الله أن يكون سبب فائدة وبركة، وأن يكون مشجعاً لكثيرين لبدء</span>
      <span>دراسة متخصصة في هذا الموضوع الهام، بشفاعة أمنا القديسة العذراء مريم وصلوات أبينا الطوباوي قداسة البابا المعظم الانبا تواضروس الثاني الرب يحفظه لنا.</span>
    </p>
    <p>
      <span>&nbsp;</span>
    </p>
    <p>
      <b>
        <span>الانبا ارساني</span>
      </b>
    </p>
    <p>
      <b>
        <span>أسقف إيبارشية هولندا</span>
      </b>
      <b></b>
    </p>
    <p><img
        class="alignnone size-medium wp-image-686"
        src="https://katameros.bible/wp-content/uploads/2022/02/s7201311123358-300x158.jpg"
        alt=""
        width="300"
        height="158"
        srcset="https://katameros.bible/wp-content/uploads/2022/02/s7201311123358-300x158.jpg 300w, https://katameros.bible/wp-content/uploads/2022/02/s7201311123358.jpg 380w"
        sizes="(max-width: 300px) 100vw, 300px"></p>
  </div>
{% endcreateArticleAccordions %}