---
layout: 'layouts/reading.html'
title: 'معني ومغزى القراءات الكنسية'
meta:
  desc: 'معني ومغزى القراءات الكنسية - دراسات في القراءات اليومية للكنيسة القبطية الارثوذكسية'
intro:
  title: 'معني ومغزى القراءات الكنسية'
permalink: pages/meaning-beyond-the-readings.html
---

{% createArticleAccordions %}
  <div class="entry-content">
    <p>
      رُبَّما لا يوجد نص كتابي يوضِّح معنى ومغزى قراءات الكنيسة مثل قصة تلميذي عمواس ولقاؤهما مع المسيح له المجد القائم من بين الأموات، وانفتاح أعينهما لرؤيته (لو٢٤ : ١٣ &#8211; ٣٥)
      .
    </p>
    <p>
      حدث هذا
      (إنفتاح الأعين لرؤيته)
                        بعد أن كان يكلمهم في الطريق من موسى والأنبياء، وكان قلبهما يلتهب بكلمته، وعندما ألزماه بالمكوث عندهما مال النهار، وكسر معهما الخبز فإنفتحت أعينهما.
    </p>
    <p>
      نحن هنا أمام كلمة الله من المسيح له المجد نفسه، وأمام سلوك وحياة عنوانها المحبّة، وأمام عطيَّة إلهية
      (إنفتاح الأعين الداخلية)
                        .
    </p>
    <p>
      وربَّما يوضِّح هذا
      <b>هدف القراءات الكنسية، أنها ليست جزءاً من طقس كنسي أو رخصة للتناول
      </b>
      <b>(كما أشيع وسط الناس أنه يجب أن نلحق إنجيل القدَّاس ليحق لنا التناول!)</b>
      <b>.</b>
    </p>
    <p>
      <b>كما أنها ليست فقط للتعليم والتوبيخ والتأديب
      </b>
      (٢تي ٣ : ١٥)
      <b>
        رغم قيمتها العظمى في ذلك، بل هي بالأكثر السراج المنير إلى أن ينفجر النهار ويطلع كوكب الصبح المنير في قلوبنا (٢بط ١ : ١٩)</b>
      .
    </p>
    <p>
      <b>وليست قيمتها فقط طقساً في قداس، بل غذاء حياتنا
      </b>
      (مت ٤:٤)
      <b>،</b>
      <b>
        ونور طريقنا(أم ٦ : ٢٣ )
      </b>
      <b>، وسلاح جهادنا (أف ٦ : ١٧) ،
      </b>
      <b>وأمان خدمتنا</b>
      (يش ١ : ٨)
      ،
      <b>وهذيذنا اليوم كله</b>
      (مز ١ : ٢).
      <b></b>
    </p>
    <p>
      لذلك ما أجمل أن تكون قراءات القدَّاس تُكَمِّل قراءاتنا اليومية وأن تتجلَّى قراءاتنا الخاصة بقراءات الكنيسة.
    </p>
    <p>
      وإذا أخذنا في الاعتبار الثلاثة أعمدة في لقاء الرب مع تلميذي عموّاس سنراهم في تلاقي وانسجام ووحدة لا تنفصم:
    </p>
    <p>
      <b>(أولاً) ثم ابتدأ من موسى</b>
      &#8230;..
      (لو ٢٤ : ٢٧)
    </p>
    <p>
      المُتكلِّم هنا هو الرب نفسه لذلك التهب القلب واستعد بعدها للرؤية الإلهية.
    </p>
    <p>
      وهذا ما تفعله كنيستنا المُقدَّسة وطقسها المملوء روحانية في الإستعداد الخاص للقراءات وبالأكثر جداً عند قراءة الأناجيل.
    </p>
    <p>
      لذلك يوجد قدّاس خاص بالقراءات إسمه قدّاس الموعوظين تأتي فيه خمسة قراءات من الكتاب المقدس، وتسبقها أربعة قراءات في عشيّة وباكر وصلوات سريَّة يُصليها الكاهن لأجل إنفتاح أعين الجميع
      (والكاهن نفسه)
                        على حضور ابن الله في كلمته، ولأجل إنفتاح الأذن على رسالة الخلاص.
    </p>
    <p>
      <b>سر البولس:</b>
    </p>
    <p>
      &#8220;أنت الآن أيضاً أيها الصالح محب البشر أنعم علينا وعلى شعبك كله بعقل غير مشتغل، وفهم نقي لكي نعلم ونفهم ماهية منفعة تعاليمك المقدسة التي قُرأت علينا الآن من قبّله وكما تشبه بك أنت يا رئيس الحياة،هكذا نحن أيضاً أجعلنا مستحقين أن نكون متشبهين به في العمل والإيمان&#8221;.
    </p>
    <p>
      <b>سر الكاثوليكون:
      </b>
    </p>
    <p>
      &#8220;أيها الرب الهنا الذي من قِبل رسلك القديسين أظهرت لنا سر إنجيل مجد مسيحك، وأعطيتهم كعظيم الموهبة التي لا تحد التي لنعمتك أن يبشروا في كل الأمم بالغنى الذي لا يستقصى لرحمتك&#8221;.
    </p>
    <p>
      <b>سر الانجيل:</b>
    </p>
    <p>
      &#8220;فلنستحق سماع أناجيلك المقدسة ونحفظ وصاياك وأوامرك ونثمر فيها بمائة وستين وثلاثين بالمسيح يسوع ربنا&#8221;.
    </p>
    <p>
      كما إختارت الكنيسة رتبة خاصة للقراءة
      (أغنسطس)
                        أي قارئ ومُفسِّر للكتب المُقدَّسة أي أن الذي يقرأ يجب أن تكون كلمة الله في قلبه
                        (تث ٦:٦).
    </p>
    <p>
      وإذا جئنا إلى الأنجيل فسنجد الإستعداد أكثر والمهابة أكبر كما لو أننا نقترب من جبل مدخن بالنار (خر ٢٤ : ١٧)
      فتجعل الكنيسة أوشية خاصة بالأنجيل والمدح فيها والتطويب لمن سيسمع كلمته
                        ((رؤ ١ : ٣)
                        وأنها كانت شهوة أنبياء وأبرار كثيرين أن يسمعوا كلمة وبشارة الخلاص بل وشهوة الملائكة (١بط ١ : ١٠ &#8211; ١٢)
                        .
    </p>
    <p>
      ونجد نداء من الشماس والصليب لأعلي للتنبيه: أنصتوا بحكمة لنسمع الإنجيل المقدس، والكاهن يُعطي البخور لحضوره في كلمته على المنجلية، وشمَّاسان واقفان بشمع إعلاناً عن نور كلمته، وشعباً تقياً واقفاً بخشوع في انتظار نور خلاصه وقوة حضوره الإلهي، ورسالته الشخصية لكل واحد منهم.
    </p>
    <p>
      ورُبَّما نحتاج هنا أن نقف كثيراً مع القديس يوحنا الرائي
      (رؤ ٤:٥)
                        عندما وجد السفر المختوم، والذي لم يقدر أحد على الأرض أو في السماء أن يفتح السفر المختوم إلا ابن الله
                        (الخروف القائم كأنه مذبوح)
                        .
    </p>
    <p>
      وإذا تفحَّصنا الجو المُحيط بهذا السفر عند فتحه وإستعلان ما فيه سنجد الآتي:
    </p>
    <ul>
      <li aria-level="1">
        الخروف القائم كأنه مذبوح (ذبيحة الإفخارستيا).
      </li>
      <li aria-level="1">
        أربعة وعشرون شيخاً (الكهنوت).
      </li>
      <li aria-level="1">
        قيثارات وجامات مملوءة بخوراً الذي هو صلوات القدّيسين (البخور).
      </li>
      <li aria-level="1">
        ربوات ربوات وألوف ألوف ملائكة (شركة السمائيين).
      </li>
      <li aria-level="1">
        تسبحة ليتورجية تقول: (قدوس قدوس قدوس).
      </li>
      <li aria-level="1">
        مرد الشعب والمؤمنين &#8220;آمين&#8221;.
      </li>
    </ul>
    <p>
      وهذا تأكيد علي أن الإعلان الإلهي في الكلمة والكتاب المقدس يتجلى في الليتورجيا، أي أن الإفخارستيا هي التي تفتح عيوننا على حضوره في كلمته، ويفتح الله أسفاره المختومة في كل قداس وسط بخور الكهنة والتسبحة الليتورجية
      (لحن آجيوس)
                        وصلوات وشركة السمائيين (الهيتنيات) كما حدث مع القديس يوحنا الحبيب في رؤياه
                        (رؤ 4:5).
    </p>
    <p>
      أي أن قمَّة الإعلان الإلهي في الكتب المُقدَّسة يكون في الليتورجيا !
    </p>
    <p>
      كما نرى هذا في رؤية إبراهيم لله عندما قدم الخروف ذبيحة بدلاً من إسحق كما يقول أبونا تادرس يعقوب ملطي:
    </p>
    <p>
      [&#8220;يهوه يرأه&#8221; أي &#8220;الله يرى&#8221; (تك ٢٢ : ١٤)
      ،
                        هكذا تراءى الله لإبراهيم في موضع الذبيحة، إذ فيه تمت المصالحة بين الله والناس، وصار لنا حق رؤيته كأبناء لنا موضع في حضن الآب خلال الذبيحة يرفعنا الروح القدس وينطلق بنا إلى الأحضان الإلهية لننعم برؤية إلهية، لا على المستوى البصيرة الزمنية إنما رؤية الإتحاد مع الله والتمتع بشركة أمجاده أبدياً. من هنا صار المذبح في كنيسة العهد الجديد يمثل السماء عينها &#8230; موضع لقاء الله مع الانسان في الأبن الذبيح.]
                        ( القمص
                        تادرس
                        يعقوب
                        ملطي
                        &#8211;
                        تفسير
                        سفر
                        التكوين
                        إصحاح
                        ٢٢)
    </p>
    <p>
      ورُبَّما يُفسِّر هذا وجود قديسين من شعبنا لم ينالوا قسطاً من التعليم، وكانت علاقتهم بالقداس وكلمة الله فيه الكفاية لأن يكونوا أغنياء في الإيمان
      (يع ٢ : ٥)
                        بل وموضع إختيار الله في الكرازة بإسمه (١كو ١ : ٢٧).</p>
    <p>
      وإذا تلاقت كلمته الليتورجية
      (في القدَّاس)
                        مع كلمته في حياة الإنسان اليومية سيلتهب قلب الإنسان بمحبته وسيسمع صوته بوضوح من خلال قراءات الكنيسة ولا نحتاج لفلسفات ونظريات في كيف نسمع صوته لأن صوته منخفض خفيف(١مل ١٩ : ١٢)
                        وهو لا يصيح (مت ١٢ : ١٩)
                        ولا يسمع أحد في الشوارع (العقل المملوء من الأفكار الباطلة) صوته بل يسمعه جيداً من تدرَّبوا علي السكون والهدوء الداخلي (إش ٣٠ : ١٥)
                        .
    </p>
    <p>
      وأعتقد أنني لا أبالغ إذا قلت أن كل من يحضر قراءات الكنيسة بعطش لمحبته وحضوره، وتركيز كامل مع ما يقوله الروح
    </p>
    <div>(رؤ ٢ : ٧)
      سيسمع صوته من الكوي (نش ٢ : ٩)
                        ،
                        وسيقول وجدت من تحبه نفسي ، ويدرك ويختبر غني محبّته
                        (نش ٨ : ٣)
                        وستتغير طلباتنا عندما يُشرق النور في قلوبنا وسنخضع لإرادته حتي الموت
                        (أع ٢١ : ١٣)
                        .
    </div>
    <p>
      وهذا ما يؤكِّد عليه العلامة أوريجانوس
      في أهمية الإنصات والإهتمام بقراءات الكنيسة من جهة، وأيضاً إرتباطها بالحياة المقدسة من جهة أخرى:
    </p>
    <p>
      [إن قرأنا بإهمال بلا غيرة للفهم أو الإدراك يكون الكتاب كله مُغطى بالبرقع حتى الأناجيل والرسائل].
    </p>
    <p>
      [يأتي بعضكم بعد القراءة مباشرة، والبعض لا يناقش ما يسمعه، ولا ينطق به، هؤلاء لا يتذكرون وصايا الناموس الإلهي القائلة: &#8220;اِسأل أباكَ فيُخبِرَكَ، وشُيوخَكَ فيقولوا لكَ.&#8221;
      (تث ٣٢ : ٧)
                        . والبعض لا ينتظر حتى نهاية القراءة في الكنيسة، وآخرون لا يهتمون إن كانت القراءات قد تُليت أم لا .. أقول عن هؤلاء أنه عند قراءة موسى ليس فقط لا يوضع برقع بل يوضع حائط وسور في قلبهم].
    </p>
    <p>
      [لا تكفي الدراسة لمعرفة الكتب المقدسة، إنما يليق بنا أن نتضرع إلى الرب ونتوسل إليه نهاراً وليلاً حتى يأتي الحمل الذي من سبط يهوذا ويمسك الكتاب المختوم ويفك ختومه
      (رؤ 5:5)،
                        هذا الذي لما شرح لتلميذيه إلتهب قلبيهما فقالا: &#8220;ألم يكن قلبنا ملتهباً فينا إذ كان يشرح لنا الكتب&#8221;
                        (لو ٢٤ : ١٣) ،
                        ليتحنن الرب علينا الآن إذ قيل: &#8220;الرَّبُّ فهو الرّوحُ، وحَيثُ روحُ الرَّبِّ هناكَ حُرِّيَّةٌ.&#8221;
                        (٢كو ٣ : ١٧)
                        ، حتى تثبت حرية المعرفة ونخلص من عبودية البرقع، لهذا أضاف الرسول قائلاً: &#8220;ونحن جمياً ناظرين مجد الرب بوجه مكشوف&#8221; &#8230; ولكن كيف يمكن أن نجد هذه الحرية إن كنا لا نزال عبيداً للعالم والمال وشهوات الجسد؟!]
    </p>
    <p>
      (
      العلامة
                        أوريجانوس
                        &#8211;
                        تفسير
                        سفر
                        الخروج
                        اصحاح
                        ٣٤
                        &#8211;
                        القمص
                        تادرس
                        يعقوب
                        ملطي)
    </p>
    <p>
      <b>(ثانياً) ألزماه
      </b>
      &#8230;
      (لو ٢٤ : ٢٩)
    </p>
    <p>
      يأتي العمود الثاني في هذا البنيان وهو السلوك المسيحي وخاصة محبَّة الآخرين.
    </p>
    <p>
      تخيَّل معي لو لم يلزماه أن يمكث معهما، ما أكبرها خسارة، لأنهم كانوا سيخسرون رؤيته، ولا كانوا سيدركون ما حدث لهم في الطريق.
    </p>
    <p>
      وهذا يوضِّح أهمّية المحبّة المسيحية في القراءت الكنسية لأن نور الكلمة يُشرق في قلوب المحبة ، وهي بابنا إلى الأقداس لنرى فداؤنا وفادينا(عب ١٠ : ٢٢)
      ، ودون المحبة يصير ما نسمعه وما نقوله نُحاساً يطن أو صنجاً يرن (١كو ١٣ : ١)
                        ، حتى لو تكلمنا بألسنة الناس والملائكة!..
    </p>
    <p>
      وإذا تتبعنا ظهورات الله لإبراهيم أب الآباء نراها مرتبطة بمحبته وعطائه للآخرين (تك ١٤ ، ١٥)
      .
    </p>
    <p>
      وإذا عرفنا أن الله إشترط علي أيوب غفرانه لأصدقائه الذين أساءوا اليه(أي ٤٢ : ١٠)
      قبل رد سبيه وتعويضه، نعرف معنى وقيمة المحبة والوصية الإلهية، وارتباطها بالكلمة وبحضور الله في حياتنا.
    </p>
    <p>
      <b>(ثالثاً) فإنفتحت أعينهما</b>
      &#8230;
      (لو ٢٤ : ٣١)
    </p>
    <p>
      إنفتاح الأعين يحدث في كل قداس لمن يسمعون الكلمة من الرب نفسه، ومن يعيشون المحبة المسيحية العملية ولا يُقصَد بها الرؤى المادية بل رؤية القلب الداخلية، وانفتاح أعين الانسان الداخلية على طبيعة الله ومحبته وصفاته وتدبيره الإلهي في حياة الانسان وفي الكنيسة وفي العالم.
    </p>
    <p>
      وهكذا تتحرك حياة الإنسان مع تغيُّر تلك الصورة عينها من مجد إلى مجد (٢كو ٣ : ١٨)
      وكلما تنفتح الأعين يزداد إحتياج الانسان للنعمة ومعرفة الله (٢بط ٣ : ١٨) ويزداد يقين الانسان من ضعف بشريته(٢كو ٥ : ١٢) ،
                         وإناءه الخزفي(٢كو ٤ : ٧) 
                        وأنه دائماً تحت الآلام والضعف
                        (يع ٥ : ١٧)
                        وفي الموازين الى فوق (دا ٥ : ٢٧).
    </p>
    <p>
      فالرؤية هنا عطيّة إلهية مجانية يأخذها من يشعر بفقره الشديد (مز ٧٠ : ٥)
      ومن يضع كل رجاؤه في نعمة الله ومحبته
                        (مت ٥ : ٣).
    </p>
    <p>
      وهكذا تُقدِّم لنا الكنيسة المُقدَّسة قراءات تقودنا إلى داخل العُليَّة لنجلس مع المسيح فيغسل أقدامنا وخطايانا ويهبنا أعظم ما يمكن أن نناله &#8220;حياته فينا&#8221; (١يو ٥ : ١١)
      في جسده المقدس ودمه الطاهر، ونخرج معه وفيه مبشرين بموته وقيامته.
    </p>
    <p>
      فطوبى لكل انسان يعيش الحياة قداساً إفخارستياً مملوءاً من الشكر والتسبيح والحب والعطاء، ومن بهجة كلمته ومن غنى حضوره، وتكون خدمته قداس بعد القداس
      (حسب تعبير المتنيح الأنبا أثناسيوس مطران بني سويف والبهنسا)
                        ، فيعيش في الكنيسة وقراءاتها محبة المسيح الفائقة المعرفة ويمتلئ إلى كل ملء الله(أف ٣ : ١٩)
                        ، وللثالوث القدوس كل المجد والعظمة والتسبيح والشكر والقدرة والسلطان إلى أبد الآبدين آمين.
    </p>
  </div>
{% endcreateArticleAccordions %}