---
layout: 'layouts/reading.html'
title: 'الاحد الاول من شهر توت'
tags: 'sundays'
permalink: /articles/sundays/1-1.html
---
  {% block content %}
    <section id="readings">
      <ul>
      {% if 'undefined' != 'undefined' %}
      
      {% else %}
      {% if '19.30:4,10' != 'null' %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">العشية</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeVespers '19.30:4,10' '40.11:11-19' %}
          </div>
        </div>
      </li>
      {% endif %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">باكر</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeMatins '19.31:1,19' '40.21:23-27' '' %}
          </div>
        </div>
      </li>
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <h3 class="flex items-center justify-between">
            <span class="kufi">القداس</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </h3>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeLitugy '54.1:12-19' '59.1:22-27' '44.13:25-33' '19.31:23,19' '42.7:28-35' %}
          </div>
        </div>
      </li>

      {% endif %}
        </ul>
    </section>
    <section id="article">
      <h3 class="mt-8 mb-4 heading-explain">شرح القراءات</h3>
      {% createArticleAccordions %}
        <p>هانذا أرسل ملاكي فيهيء الطريق امامي وياتي بغتة الى هيكله السيد الذي تطلبونه وملاك العهد الذي تسرون به هوذا ياتي قال رب الجنود &#8221; (ملا٣-١)</p>
<p>وانت ايها الصبي نبي العلي تدعى لانك تتقدم امام وجه الرب لتعد طرقه (لو ٧٦:١)</p>
<p>الذى شهد لة يوحنا بن ذكريا قائلا: أن الرب يسوع المسيح لما تعمد و صعد من الماء اذ السموات قد انفتحت لة و رأى روح الله نازلا مثل حمامة و آتيا علية و صوت من السموات قائلا: هذا هو ابنى الحبيب الذى به سررت. و فى الغد نظر يوحنا يسوع مقبلا الية فقال: هوذا حمل الله الذى يرفع خطية العالم.  (قسمة عيد الغطاس)</p>
<p>&#8221;   لم يلبس يوحنا الثياب الناعمة لأنه لم يتغاضَ عن الخطيّة، متملّقًا السالكين فيها، بل بالأحرى وبّخهم بقسوة، بكلمات مرّة، قائلًا: &#8220;يا أولاد الأفاعي من أراكم أن تهربوا من الغضب الآتي؟‍!&#8221; (لو 3: 7)، حيث يقول سليمان أيضًا: &#8220;كلام الحكماء كمهاميز (عصا في رأسها حديدة تنخس بها البهائم) وكمسامير منغرزة&#8221; (جا 12: 11). كلمات الحكماء تشبه بالمسامير والمهاميز  فلا تداهن غباوة الخطاة بل تجرحها&#8221;<a href="#_ftn1" name="_ftnref1">[1]</a> &#8221;</p>
<p>لم يدع يوحنا ملاكا للمسيح فحسب وإنما دعي أيضا سراجا يضئ أمامه إذ تنبأ داود (رتب سراجا لمسيحي) بكونة ليس فقط أعد سبله في البرية وإنما أشار أيضا إلى حمل الله مثيرا أذهان البشر بكرازته عنه ليدركوا أنه هو الحمل الذي إعتاد موسي أن يتحدث عنه<a href="#_ftn2" name="_ftnref2">[2]</a> &#8221;</p>
<h3>شواهد القراءات</h3>
<p>(مز ٢٩: ٤-١٠) (مت ١١: ١١-١٩) (مز ٣٠: ١٩-١) (مت ٢١: ٢٣-٢٧) (١تي ١: ١٢-١٩) (يع ١: ٢٢-٢٧)  (أع ١٣: ٢٥ - ٣٢) (مز ٣٠: ١٩-٢٦) (لو ٧: ٢٨-٣٥)</p>
<h3>ملاحظات على قراءات اليوم</h3>
<p>+ قراءة الإبركسيس اليوم (اع ١٣: ٢٥ - ٣٢) تُشبه قراءة الإبركسيس (أع ١٣: ٢٦ - ٣٣) ليوم ٢٩ كيهك (عيد ميلاد ربنا يسوع المسيح) ، وتُشبه قراءة الإبركسيس ليوم ٢ بؤونه (أع ١٣ : ٢٥ - ٣٣)</p>
<p>تحكي هذه القراءة عظة القديس بولس عن التدبير الإلهي في الخلاص وهو هدف تجسّد الكلمة (٢٩ كيهك) وشهود هذا التدبير الإلهي مثل يوحنا المعمدان (٢ بؤونه ) ، لذلك تأتي أيضاً في الأحد الأوَّل من شهر توت الذي يأتي توافقاً مع عيد القديس يوحنا المعمدان ( ٢ توت )</p>
<p>+ مزمور قدَّاس اليوم (مز ٣٠: ٢٦ - ١٩) هو نفس مزمور عشيَّة يوم ٢٦ مسري (شهادة القديس موسي وسارة أخته) ، ومزمور باكر في الأحد الأول من شهر أبيب ، وجاءت آية ١٩ أيضاً في مزمور باكر اليوم</p>
<p>وهو المزمور الذي يتكلَّم عن محبَّة القديسين للرب، مثل القديس موسي وسارة أخته (٢٦ مسري) ، والقديس يوحنا المعمدان ( الأحد الأوَّل من شهر توت ) ، والآباء الرسل ( الأحد الأوَّل من شهر أبيب )</p>
<p>+ قراءة إنجيل عشيَّة (مت ١١: ١- ١٩)، وإنجيل القدَّاس (لو ٧: ٢٨ - ٣٥) اليوم هما نفس قراءة إنجيل عشيَّة (لو ٧: ٢٨ - ٣٥) ، قراءة إنجيل باكر (مت ١١ : ١١ - ١٩) ليوم ٣٠ بؤونه ( عيد ميلاد يوحنا المعمدان )</p>
<p>وكلا القراءتان تتكلمان عن شهادة الرب يسوع عن يوحنا أنه أعظم مواليد النساء، وعن مثل الباعة في الأسواق الذين ينادون بعضهم بعضاً قائلين &#8221; زمرنا لكم فلم ترقصوا &#8230;. &#8221;</p>
<h3> شرح القراءات</h3>
<p>تتلخص قراءات هذا اليوم في شهود تدبير الاب للخلاص وملاك العهد الجديد الذي اعد الطريق للسيد (يهيئ طريقك قدامك) لذلك وإن كانت قراءات اليوم تُعطي إهتماماً خاصاً بيوحنا المعمدان السابق لمجئ الرب والشاهد لحمل الله ولمعمودية العهد الجديد لكن أيضاً تُشير القراءات اليوم إلي كل شهود الآب في تدبير الخلاص للبشرية</p>
<p>فتتكلّم المزامير عن تسبيحهم وإعترافهم (مزمور عشيّة )  وتوكّلهم عليه ( مزمور باكر ) وغني صلاحه الإلهي فيهم ( مزمور القدَّاس )</p>
<p>يدعو مزمور عشية القديسيين الي الترتيل والاعتراف للرب فأعظم شهود للاب هم المُسبّحون اسمه والمعترفين لذكر قدسه وسط اغراءات وزيف العالم</p>
<p>( رتّلوا للرب يا جميع قديسيه واعترفوا لذكر قدسه )</p>
<p>ويوضح مزمور باكر سر قوة شهود الاب في توكلهم الكامل عليه ومخافة الله فيهم لذلك يتذوقون كثرة صلاح الله</p>
<p>( عليك يارب توكلت فلا تخزني إلي الأبد وبعدلك نجني ما أعظم كثرة صلاحك يارب الذي ادخرته للذين يخافونك )</p>
<p>ويعلن مزمور القداس شهاده القديسيين   المؤمنين لتدبير الاب والمعلن في محبتهم للاب وابتغائهم للحق وامتلاؤهم من الصلاح الالهي ومخافه الله</p>
<p>( أحبوا الرب يا جميع قديسيه لأن الرب ابتغي الحقائق ما أعظم كثرة صلاحك يارب الذي ادخرته للذين يخافونك )</p>
<p>وتُقدِّم القراءات شهود الآب من الكارزين الذين كانوا مُضْطَهدي الكنيسة ( البولس ) ومن الشعب ( الكاثوليكون ) ومن أنبياء العهد القديم ورسل العهد الجديد ( الإبركسيس )</p>
<p>ويقدم البولس مثالا ونموذجا رائعا لشهود الاب وهو واحد ممن اضطهدوا الكنيسة ( مجدفا ومضطهدا وشتاما ) لذلك يقول عن نفسه ( ان المسيح يسوع جاء الي العالم ليخلص الخطاة الذين اولهم انا لكنني لهذا رحمت لكي يظهر في اولا يسوع المسيح كل اناته مثالا للمؤمنين به للحياة الابدية )  لذلك يدعو الرسول تلميذه تيموثاوس وخدام كل جيل ان يكونوا هم ايضا شهود للاب باستعدادهم للجهاد بالايمان والضمير الصالح ( لكي تمنطق ذاتك بها للمحاربة الحسنة ولك ايمان وضمير صالح )</p>
<p>اما الكاثوليكون فيخاطب كل المؤمنين وكل الشعب ان يكونوا هم ايضا شهود للاب من خلال اهتمامهم بالمحتاجين والمعوزين ومن خلال نقاوة حياتهم ( واما الديانة الطاهرة غير الدنسة عند الله الاب هي هذه  افتقاد اليتامي والارامل في ضيقتهم وان يحفظ الانسان نفسه من العالم بلا دنس )</p>
<p>وفي الابركسيس اوضح القديس بولس شهاده العهد القديم لتدبير الخلاص ووحدة الكتاب المقدس (واقوال الانبياء التي تقرا في كل سبت تمموها اذ حكموا عليه ) كما يعلن ان كل سعي وخدمة يوحنا اكتمل في اعداد الطريق للمخلص    ( ولما اكمل يوحنا سعيه ) كما اوضح ان الاباء الرسل هم شهود تدبير الخلاص ( هؤلاء الذين هم الان شهود له عند كل الشعب )</p>
<p>وفِي الأناجيل شهود الآب هم مغتصبي الملكوت (إنجيل عشيّة) ومن يبحثون عن الإيمان وليس السلطان (إنجيل باكر ) ومن لا يرفضون مشورة الله ويتذرعون بالحجج ( إنجيل القدَّاس )</p>
<p>ويدعو انجيل عشيه الكل ان يغتصبوا اليهم ملكوت السموات متشبهين بيوحنا المعمدان ولاتكون فيهم رخاوة وتراخي البعض (جالسين في الاسواق ) الذين يبحثون عن حجه لتكاسلهم خلال انتقادهم لكل عمل روحي وايضا انتقاد كل خادم وكارز</p>
<p>(ومن أيام يوحنا المعمدان إلي الآن ملكوت السموات يُغصب والغاصبون يختطفونه &#8230; زمرنا لكم فلم ترقصوا نحنا لكم فلم تبكوا )</p>
<p>ويوضِّح إنجيل باكر مصدر شهاده القديسيين الكائنة في رب المجد والاتيه من السماء لذلك لايفهمها ولايدركها من يحيون عبيداً لمكانتهم لذلك ينشغلون بالسلطان ولا يلتفتون للإيمان</p>
<p>(جاء إليه رؤساء الكهنة وشيوخ الشعب بينما هو يعلم قائلين: بأي سلطان تفعل هذا ومن الذي أعطاك هذا السلطان ؟ &#8230; فأما هم ففكروا في أنفسهم قائلين: إن قلنا من السماء يقول لنا فلماذا لم تؤمنوا به وإن قُلْنَا من الناس نخاف من الجمع)</p>
<p>اما انجيل القداس فيعلن عظم شهاده يوحنا المعمدان وحياته &#8221; ليس احد في مواليد الناس اعظم من يوحنا المعمدان كما يعلن جاذبية خدمته وشهادته لكل المحتاجين الخلاص &#8221; وجميع الشعب اذ سمعوا والعشارون  برَّروا الله معتمدين بمعمودية يوحنا &#8221;</p>
<h3>مُلخَّص القراءات</h3>
<p>شهود تدبير الآب هم من يتكِّلون عليه ويعترفون لذكر إسمه ولغني صلاحه فيهم                                    (المزامير)</p>
<p>وهم أنبياء العهد القديم ورسل العهد الجديد وكل المؤمنين ومن تفتقدهم النعمة من مُضَطَهدي الكنيسة     (البولس والكاثوليكون والإبركسيس )</p>
<p>ومن يغتصبون الملكوت ومن يشهدوا به ومن يقبلوا الإيمان                                                 (انجيل عشيّة وباكر والقدّاس)</p>
<h3>إنجيل القدَّاس في فكر آباء الكنيسة</h3>
<p><strong>يوحنّا والمسيح</strong></p>
<p>&#8220;يتصف الدور الذي قام به يوحنّا كسابق للمسيح في خطّة الله الخلاصيّة بأنه دور التابع. إن يسوع يتكلم عن يوحنّا أمام الكتبة والفرّيسيّين بغية أنْ يريهم أنه ليس ببر الناموس تكون الدرجة العظمى في ملكوت السماوات؛ بلْ بالإيمان.&#8221; (كيرلُّس السكندري).</p>
<p>&#8220;يوحنّا إذ يعِدّ الطريق للمسيح، يبتعد عن حصار العالم؛ لأنه ليس كهؤلاء المتذبذبين كالقصبة التي لا عمق لجذورها، تحب الماء المتدفّق؛ بلْ هو القصبة التي صارت قلمًا ينضح بما فيه مِن الروح إذ قد انغمس في دم المسيح.&#8221; (أمبروسيوس)</p>
<p>&#8220;يوحنّا هو أعظم نبي وُلِد مِن امرأة؛ أما يسوع، فهو أعظم نبي مولود مِن عذراء، متمًّا لنبوءة موسى في التثنية&#8221; [أمبروسيوس]</p>
<p>+ يمهّد يوحنّا للعهد الجديد، ولكن كمؤرِّخ (مولود مِن امرأة)</p>
<p>وإذ هو ليس في العهد الجديد؛ لذا فإن بني العهد الجديد (المولودين مِن الله) أعظم منه.&#8221; (كيرلُّس السكندري)</p>
<p>&#8220;إن القبول بأن يسوع هو المسيّا إجهار بعدل الله أو صلاحه، وقبول بخطّته للخلاص كما استُعلِنَت في معمودية يوحنّا، المعمودية التي للتوبة.&#8221; (أمبروسيوس).</p>
<p>&#8220;,&#8221;هذا الجيل&#8221;, يشمل الفريسيين والصدوقيين والشيوخ والناموسيين وعلْية القوم.&#8221; (كيرلُّس السكندري)</p>
<p>&#8220;تلائم المراثي وألحان الحزن أجواء التجنيز حيث يبكي المرء الموت الذي جلبته عليه الخطيّة. الغناء والرقص يُذكّران بأناشيد الأنبياء مثل موسى وحزقيال.&#8221; (أمبروسيوس)</p>
<p>&#8220;إن السمة الظاهرة في هذا الجيل مِن الشعب هي الصبيانية في تمسّكهم بأفكارهم، وبأن لا رقص ولا نوح يستطيع توحيدهم في الإيمان.&#8221; (كيرلُّس السكندري).</p>
<p>&#8220;بنو الحكمة قد صاروا أقلّ القوم شأنًا، والمنبوذون بين أهل فلسطين – العشّارين والخطاة – صاروا أعمدة كنيسة العادل.&#8221; (أوغسطينوس)<a href="#_ftn3" name="_ftnref3">[3]</a>.</p>
<h3> الكنيسة في قراءات اليوم</h3>
<p>النعمة والمحاربة الحسنة (الجهاد )                      البولس</p>
<p>العمل بالكلمة                                                الكاثوليكون</p>
<p>وحدة العهدين القديم والجديد                             انجيل عشية والإبركسيس</p>
<h3>  أفكار مقترحة لعظات</h3>
<p><strong>(العظة الأولي )</strong></p>
<p>قبول رسالة الخلاص والشهادة لها</p>
<p>١- حياة المخافة                                                    مزمور باكر والقدّاس</p>
<p>٢- اغتصاب الملكوت                                                 إنجيل عشيّة</p>
<p>٣- المحاربة الحسنة                                                  البولس</p>
<p>٤- العمل بالكلمة وحفظ الإنسان نفسه بلا دنس            الكاثوليكون</p>
<p>٥- الكرازة بالخلاص                                                   الإبركسيس</p>
<p>٦- قبول مشورة الله وبرّ الله                                        إنجيل القدَّاس</p>
<p><strong>( العظة الثانية )</strong></p>
<p>التوبة وبدايه سنة قبطية جديدة</p>
<p>كرازة يوحنا كانت تتركز علي التوبة وتغيير الحياة ( صدق التوبة - نقاوة التوبة - كمال التوبة )</p>
<p>١-صدق التوبة ( التغيير )</p>
<p>هو أهم العلامات علي صدق التوبة ( تغيير عاداتي للأفضل - تغيير مشاعري بزيادة الحب للآخرين- تغيير سلوكياتي- تغيير افكاري وتقديسها )</p>
<p>مثال : السامرية ( يو ٤ ) متي بعد لاوي ( مت ٩ ) زكا العشار ( لو ١٩ ) - موسي الأسود &#8230;.. )</p>
<p>٢- نقاوة التوبة ( نقاوة قلب الإنسان وإتجاهاته ودوافعه )</p>
<p>&#8221;  لاتفتكروا ان تقولوا لنا ابراهيم أبا &#8220;(لو ٨:٣) (خطورة الافتخار بالشكل دون تغيير- صلاة وصوم وإعتراف وتناول لكن دون تغيير )</p>
<p>مثال : الفريسي والعشّار ( لو ١٨ )</p>
<p>٣- كمال التوبة ( التوبة الدائمة )</p>
<p>حياة التوبة ( هدفها الوصول إلي ملء قامة المسيح لذلك هي إحتياج التائبين وعمل المؤمنين وكمال القديسين -  كيف أقارن ماأفعله علي ماكان يفعله المسيح له المجد محبتي علي محبته طهارتي علي طهارته صلاتي علي صلاته اتضاعي علي اتضاعه وهكذا الي آخره )</p>
<p>مثال: بولس الرسول ( كونوا مُتمثِّلين بي كما أنا أيضاً بالمسيح ) (١ كو ١١ : ١)  ، ( وليهدي قلوبكم إلي محبة الله وإلي صبر المسيح) (٢ تس ٣ : ٥ )  ، ( ناظرين إلي رئيس الإيمان ومكمله يسوع)  (عب ٢:١٢ )</p>
<p><strong>(العظة الثالثة )</strong></p>
<p>كرازة يوحنا  اثمار التوبة ( العطاء - الأمانة - الكفاية وعدم ظلم الآخرين )</p>
<p>١-العطاء</p>
<p>من له ثوبان فليعط من ليس له (لوقا ١١:٣)</p>
<p>العطاء والقلب المفتوح للآخرين ليس فقط الماديات لكن المشاعر والأحشاء مشكلة الغني الغبي ( لو ١٦ بالمقارنة مع المرأة ذات الفلسين (لو٢١-٢)</p>
<p>٢- الأمانة</p>
<p>لاتستوفوا أكثر مما فرض لكم (لوقا ١٣:٣)</p>
<p>فلنتحاشى عدم الأمانة (يهوذا وسرقة ما في الصندوق - يوحنا ١٢ - وكيل الظلم -(لوقا ١٦-٣)</p>
<p>٣- الكفاية والقناعة</p>
<p>الكفاية وعدم ظلم الآخرين</p>
<p>لاتظلموا أحد ولاتشوا بأحد واكتفوا بعلائفكم (لوقا ١٤:٣)</p>
<p>الظلم &#8230; (مت ١٨: ٢٣) العبد الذي لم يرحم رفيقة</p>
<p>الوشاية والكلام الزور ونقل الكلام السلبي عن الآخرين</p>
<p>من يستر معصية يطلب محبة ومن يكرر أمراً  يُفرِّق بين الأصدقاء (أم ٩:١٧)</p>
<h3>عظات آبائية</h3>
<h4>قداسة المعمدان وقداسة المسيح للقديس كيرلس الأسكندري</h4>
<ul>
<li>(لو ٧: ٣١- ٣٥) &#8221; ثم قال الرب : فبمن أُشبهُ أّناس هذا الجيل ؟ وماذا يُشبهون ؟ يشبهون أولاداً جالسين في السوق يُنادون بعضهم بعضاً ويقولون : زمرنا لكم فلم ترقصوا ، نُحنا لكم فلم تبكوا ، لأنه جاء يوحنا المعمدان لا يأكل خُبزاً ولا يشرب خمراً ، فتقولون : به شيطان ، جاء ابن الإنسان يأكل ويشرب ، فتقولون : هوذا إنسان أكول وشريب خمر ، مُحب للعشارين والخطاة ، والحكمة تبررت من جميع بنيها &#8220;.</li>
<li>الذين لهم عقل سليم يفحصون كل شيء ، ويرفضون ما هو زائف ، لكنهم يقبلون ويمدحون ما هو بلا لوم ، وهذا أيضاً ما يطلبه منا بولس الحكيم ، حيث كتب قائلاً :&#8221; كونوا حكماء امتحنوا كل شيء تمسَّكوا بالحسن ، امتنعوا عن كل شبه شر &#8221; (١تس ٥: ٢١) . لذلك وكما قلت لنا نحن أيضاً أن نفحص بتدقيق، وبعين العقل المميَّزة كل ما يُفعل ، ونبحث في طبيعة الأفعال ، لكي نوافق علي ما هو بلا لوم بينما نرفض ماهو زائف ، ولكن إذا لم نميز بين الأشياء فإننا نتعرض لخطورة إصدار حكم رديء علي أشياء مستحقة للمدح جداً ، وأن نحسب ما هو شرير أنه لائق للإطراء والتصفيق ، وعندئذ تنطبق علينا كلمات النبي :&#8221; ويل للقائلين للشر خيراً وللخير شراً، الجاعلين الظلام نوراً والنور ظلاماً ، الجاعلين المُر حلو والحلو مراً &#8220;(إش ٥: ٢٠) . هكذا كانت صفة الإسرائيليين وخاصة أولئك الذين كانوا رؤساء لهم، أي الكتبة والفريسيين الذين عنهم قال المسيح &#8221; بماذا أشبه أناس هذا الجيل؟&#8221;.</li>
<li>ربما كان هناك نوع من اللعب بين أولاد اليهود أو شيء من هذا النوع بمجموعة من الشباب كانت تقسم إلي قسمين، وكانوا يلعبون ويخلطون الأمور بعضها ببعض، وكانوا ينتقلون سريعاً من حالة إلي أخري مما هو مفرح إلي ما هو محزن، وكان بعضهم يلعب علي آلات الموسيقي بينما البعض الآخر كانوا ينوحون . فالنائحون لم يكونوا يشاركون فرح أولئك الذين يلعبون الموسيقي ويُهللون، ولا أيضاً أصحاب الآلات الموسيقية كانوا يشتركون في حزن أولئك الذين يبكون، وأخيراً لاموا بعضهم بعضاً لعجزهم عن التعاطف مع بعضهم البعض أي علي غياب الشعور المشترك لأن فريقاً منهم يقول &#8221; زمرنا لكم فلم ترقصوا &#8221; فيرد عليهم الفريق الآخر &#8221; نحنا لكم فلم تبكوا &#8221; .</li>
<li>لذلك فالمسيح يُعلن أن الجمهور اليهودي وقادتهم كانوا في حالة من الشعور شبيهة بهذه، لأنه يقول &#8221; جاء يوحنا المعمدان لا يأكل خبزاً ولا يشرب خمراً فيقولون ، به شيطان ، جاء ابن الإنسان يأكل ويشرب فيقولون هوذا إنسان أكول وشريب خمر ومُحب للعشارين والخطاة &#8221; . أيها الفريسي الغبي بأي طريقة إذاً يمكن أن تُربح إلي الإيمان ، وأنت هكذا تلوم كل الأشياء بلا تفريق ، ولا تعتبر أي شيء مستحقاً للمديح ؟ فالمعمدان المبارك كان سابقاً للمخلص، منادياً قائلاً &#8221; توبوا لأنه قد اقترب ملكوت الله &#8220;(مت ٣: ٢) ، لأنه كان رجلًا يستحق أن ينال الثقة ، وهو قادر علي الإقناع ، حتي أنهم هم أنفسهم شهدوا له أن حياته كانت نبيلة وجديرة بالإعجاب ، فهو قد سكن في البراري وكان يرتدي ثيابًا فقيرة وخشنة وبالكاد كان يُلبَّي ضرورات جسده بالجراد والعسل البري . وأنتم قد خرجتم لتروه كشخص قديس ، وقد وصل إلي كمال فضيلة ، فهل تجروء أيها الفريسي بعد ذلك أن تتكلم رديئاً عن فعل هذا الشخص وهو شخص ينبغي بالحري أن يحسب مُستحقاً لكل إعجاب ؟ هل تقول إن به شيطان وهو الذي كان بالأصوام يميت قانون الخطية الذي في أعضائنا الجسدية المحارب ضد ناموس ذهننا ؟ (انظر رو ٧: ٢٣) ، وهل هناك ما هو أعظم من حياة التعفف ؟ لأنه كونه قادراً أن ينتهر بحكمة تلك اللذات التي تقود إلي الشر وأن يعيش حياة زهد وتعفف ، فكيف لا يكون هذا عظيماً وباهراً ؟</li>
<li>إن المعمدان المبارك كان مكرساً كلية في تقواه نحو المسيح ، ولم يكن يوجد فيه أقل اعتبار للشهوات الجسدية ، أو لأمور هذا العالم ، لذلك فهو إذ تخلي تماماً عن ارتباكات هذا العالم الباطلة وغير النافعة فإنه عمل في أمر واحد بكل اهتمام وهو أن يُتمم بلا لوم الخدمة التي أؤتمن عليها ، لأنه قد أمر أن يكرز قائلاً&#8221; أعدوا طريق الرب &#8220;(إش ٤٠: ٣) . أخبرني هل أنت تظن أن هذا الإنسان به شيطان ، وهو إنسان ليس للشيطان سلطان عليه ، وهو ليس أسيراً لأي شهوة شريرة ، وهو قد قفز فوق كل شراك حب الجسد الوضيع ، وهو قد أمر جموع الشياطين أن تسكت ، وقاوم هجماتهم برجولة ؟ فإنه في الحقيقة لم يكن ليصل لهذا المجد وتلك الفضيلة إلا بواسطة المسيح، الذي هو مُمجد ومرتفع جداً فوق الشيطان ، الذي يجرب القديسين ويصر بأسنانه علي نجاحهم . ألا تخجل إذاً من أن تشتم واحداً قد وصل إلي مثل هذا الصبر العظيم والاحتمال الكبير ، وله حول رأسه أكاليل من الفضيلة الرجولية ؟ هل تُحرك لسانك ضده وتتجاسر بوقاحة أن تفتري عليه ، بأن تقول إنه إنسان مجنون ، وتافه وليس مالكاً لقواه العقلية ؟</li>
<li>ثم دعونا نري ، مَنْ هو علي الناحية الأخري ، وما يبدو كأنه يتبع طريقاً مختلفاً عن سلوك المعمدان ، فالمسيح لم يكن في البرية ، بل بالحري جعل مسكنه في المدينة بصحبة رسله القديسين ، هو لم يأكل جراداً وعسلاً برياً ، وثيابه لم تكن من وبر الإبل ، ولم يكن له منطقة من جلد علي حقويه ،وطريقة حياته بالحري كانت كالطريقة المعتادة في المدن ، ولم يكن فيها خشونة مثل تلك التي كان يمارسها المعمدان القديس . فهل أنت إذاً تمدحه علي الأقل ، وهل توافق علي سهولة طريقته ، واختلاطه بحرية مع الآخرين ، وعدم اهتمامه بالمرة من جهة طعامه ؟ لا أظن ، فإن ميلك إلي النقد القاسي يمتد حتي إلي المسيح ، فأنت تقول أيها الفريسي &#8221; هوذا إنسان أكول ، وشريب خمر ، محب للعشارين والخطاة ، فهل بسبب أنه تصادف أنك رأيت يسوع يأكل مثل الناس ، فهو يبدو لك أنه شريب خمر وأكول ؟ كيف يمكنك أن تُثبت ذلك لأنه حينما قامت مرَّة مريم ومرثا باستقباله في بيت عنيا ، وكانت واحدة منهما منشغلة بخدمة كثيرة ، فإننا نري المسيح يمنع المبالغة والزيادة ، ويدعو إلي ما هو ضروري فقط ، لأنه قال &#8221; مرثا مرثا أنت تهتمين وتضطربين لأجل أمور كثيرة ولكن الحاجة إلي أشياء قليلة ، أو إلي واحد &#8220;انظر (لو ١٠: ٤١) . وهكذا كان هو دائماً وفي كل مكان .</li>
<li>ولكن هل أنت تتهم المسيح بسبب أنه كان يمشي مع العشارين والخطاة ؟ وهل هذا هو سبب استيائك ؟ ولكن أي ضرر يمكن أن تتخيله أصاب المسيح من ترحيبه أن يكون مع الخطاة ؟ فهو لم يكن معرضاً بأن يتأثر بخطاياهم لأنه كان فوق كلَّ خطية تماماً ، حتي أنه قال مرة &#8221; رئيس هذا العالم يأتي وليس له فيَّ شيء &#8220;(يو ١٤: ٣٠) ، وفي مرة أخري قال &#8221; من منكم يبكتني علي خطية ؟&#8221;(يو ٨: ٤٦) . لذلك فهو لا يمكن أن يتلوث من أي ناحية بوجوده مع الخطاة</li>
<li>ولكنك تقول أيها الفريسي ، إن ناموس موسي أمر أننا &#8221; لا ينبغي أن نتكلم مع الأشرار &#8221; . دعونا إذاً ندرس موضوع الناموس ، ودعونا نري لأي سبب منع الإسرائيليين أن يتحدثوا مع الأشرار ، ويختلطوا مع الخادعين ، والآن فإن الحقيقة بالتأكيد هي ، أن ناموس موسي أمر بهذه الأشياء ، ليس لكي تتفاخر بنفسك علي الأخرين ، وتجعل الوصية سبباً للانتفاخ ، بل بالحري بسبب أن ذهنك ضعيف وأنت منجذب إلي الحماقة ، وبسبب أن قلبك يجري بإرادته وراء اللذات الشريرة فإن الناموس يحفظك من الرغبة في أن تكون مع أولئك الذين حياتهم تستحق اللوم ، لئلا تصير مثلهم في ذهنك وتُقتنص بغباوة في فخهم &#8221; لأن المعاشرات الرديئة تفسد الأخلاق الجيدة &#8220;(١كو ١٥: ٢٣) . لذلك فأنت قد استلمت الوصية كحارس لضعفك ، فلو أنك كنت قد تأسست في الفضيلة ، ولو كان عقلك ثابتاً في مخافة الله لما كان الناموس يمنعك من أن تتحدث حديثاً نافعاً مع أولئك الذين هم ضعفاء ، وذلك لكي ما يصيروا متمثلين بتقواك ويتعلموا أن يتشبهوا بأعمالك ، حتي أنهم إذ يسيرون في خطوات غيرتك ، يمكن أن يتقدموا إلي ما هو أكثر فضلاً وسمواً ، لذلك فلا تتخيل تخيلات متكبرة ، إذ أنه حتي في وصية موسي أنت متهم بالضعف .</li>
<li>أنت تلوم المسيح لسيره مع الخطاة والعشارين : هل أنت تفعل ذلك لئلا يتأثر بنجاستهم ؟ لذلك أخبرني هل أنت تتخيل أنه يشترك أيضاً في ضعفك ؟ هل أنت جاهل تماماً بالأسرار الخاصة به ؟ وهي أن الكلمة إذ هو الله صار معنا ، إي تجسد لأجلنا ، وأن الآب أرسله &#8221; لا ليدين العالم ، بل ليخلص به العالم &#8220;(يو ٣: ١٧) . لأن مَنْ يدين ، هو الذي يتحاشي صحبة مثل هؤلاء الذين لا زالوا في خطاياهم ، أما الذي يريد أن يخلص فإنه يكون معهم ويحثهم ويؤثر عليهم ليتغيروا من مسالكهم المشينة ، وأن يختاروا الطريق المؤدي إلي الحياة الأبدية بدلاً من طريق الشر ، إنه لم &#8221; يأت ليدعو أبراراً بل خطاة إلي التوبة &#8221; (لو ٥: ٣٢) . وكما قال هو نفسه &#8221; لا يحتاج الأصحاء إلي طبيب ، بل المرضي &#8221; . لذلك فلماذا تلومه علي محبته للإنسان هكذا وتنتقده علي لطفه الإلهي ؟ لماذا توبخه علي كونه شفوقاً بِنَا ، وشافياً لمرضنا ؟</li>
<li>إن كل إنسان يمدح الأطباء ، ليس حينما يتحاشون الاختلاط بالمرضي ، بل حينما يكونون معهم دائماً ، وبوسائل فهمهم الخاص بهم بالتدريج إلي الصحة التامة . وإذا كان يسوع هو طبيب النفوس والأرواح ، فلماذا تلومه لتخليصه الخطاة ؟ إنه لا يمكن أن يتلوث ، حتي لو أكل مع الخطاة ، لأن الشمس الساطعة ترسل أشعتها و تدخل إلي كل شيء تحت السماء ويحدث إذاً أن القاذورات تتعرض لتأثيرها ، أما الشمس التي ترسل إشعاعها فهي لا تتلوث بالمرة رغم أنها تسطع علي مواد كريهة جداً ، إن ربنا يسوع المسيح هو شمس البر ، ولا يستطيع إنسان شرير مهما كان أن يُلوثه حتي لو كان قريباً بجواره ويأكل معه .</li>
<li>هذا ما نقوله فيما يخص المسيح مخلصنا جميعاً ، ولكن مع ذلك ربما يعترض البعض ويقول أليست أيضاً كرازة الإنجيل الجديدة والمخلصة توصينا بوضوح أن نبتعد عن الاتصال بالناس غير الطاهرين ؟ لأن بولس الحكيم جداً كتب أيضاً للبعض &#8221; كتبتُ إليكم في الرسالة أن لا تخالطوا الزناة ، إن كان أحد مدعواً أخًا زانياً أو سكيراً أو خاطفاً أو عابد وثن فلا تؤاكلوا مثل هذا &#8220;(١كو ٥: ٩- ١١) . لذلك فقد كان مناسباً للمسيح أن يكون مثالاً لنا في هذا السلوك ، لقد فقدت مقياسك الذي تقيس به أيها الأخ المحبوب ! وأنت ترغب أن تنافس كرامة سيدك العالية ، وأنت تمسك بما يفوق طبيعتك جداً ، فلاحظ ضعف ذهنك ، فإن المسيح إله أما أنت فإنسان تتسلط عليك اللذات الجسدية وذهنك ينخدع بسهولة للضلال ، ويصير فريسة سهلة للخطايا ، ومع ذلك فإذا شعرت بثقة في قدرتك الشجاعة أن تسير في سلوك بلا لوم ، وأيضاً أن تعظ الآخرين ، فمع ذلك ليس هناك ما يستطيع أن يمنعك من أن تشتهي أن تكون مع الأشرار ومحبي الخطية ، فإن نصائح الرجال الروحانيين كثيراً ما أفادت أولئك الذين فيّ الخطية ، وبالعكس فإن كنت أنت نفسك لا تخلص بسهولة حتي حينما تحفظ نفسك بعيداً من رفقة الشر ، فإنك يجب أن تكون حريصاً في هذه الناحية ، تذكر كاتب كتاب الأمثال الذي يقول &#8221; المساير الحكماء يصير حكيماً ، ورفيق الجُهال يُضر &#8220;(أم ١٣: ٢٠) . وأيضاً يقول داود المبارك &#8221; مع الرجل الكامل تكون كاملاً ، ومع الطاهر تكون طاهراً ومع الأعوج تكون ملتوياً &#8220;(مز ١٨: ٢٥- ٢٦) .</li>
</ul>
<p>فلكي تنجو مثل الظبي من الشباك &#8221; انظر (أم ٦: ٥) ، وتهرب من الناس الأشرار ، فابتعد عن أولئك الذين لا يستطيعون أن يمتنعوا عن النجاسة ، وتوسل إلي المسيح أن يطهر أي شيء فاسد فيك ، ويعينك في كل ضعفاتك البشرية لأن الكلمة الذي جاء من الله هو إله ، رغم أنه صار جسداً، أي صار إنساناً ، الذي به ومعه لله الآب التسبيح والسلطان مع الروح القدس إلي دهر الدهور آمين<a href="#_ftn4" name="_ftnref4">[4]</a></p>
<h4> تفسير النص الكتابي لإنجيل القداس في فكر القديس إمبروسيوس</h4>
<p>لا يتحدَّث الرب هنا عن الرقص المصاحب للملذَّات و الترف، بل الرقص الروحي، الذي فيه يسمو الإنسان بالجسد الشهواني، ويسمح لأعضائه أن تتنعَّم بالأرضيَّات &#8230;</p>
<p>بولس رقَص روحياً، إذ لأجلنا يقول أمتد إلي قدَّام ناسياً ما هو وراء، ساعيًا نحو ما هو أمامه، جُعالة السيِّد المسيح (في ٣ : ١٣- ١٤) &#8230;</p>
<p>هذا هو السرّ إذن: إننا زمَّرنا لكم بأغنيّة العهد الجديد فلم ترقصوا، أي لم تسمعوا بعد بأرواحكم بواسطة النعمة الإلهيّة .</p>
<p>&#8220;نُحنا لكم فلم تبكوا&#8221; أي لم تندموا &#8230;</p>
<p>عندما جاءكم يوحنا مناديًا بالتوبه بنعمة السيِّد المسيح . فالرب معطي النعمة، وإن كان يوحنا قد أعلن عنها كخادم له .</p>
<p>أما الكنيسة فتحفظ بالاثنين، حتي تُدرك النعمه دون أن تنزع عنها التوبه . النعمة هي عطيّة الرب الذي وحده يهبها والتوبه هي علاج الخاطئ.  لم يؤمن اليهود بتسابيح الأنبياء و لا بمراثيهم &#8230;</p>
<p>&#8220;زمَّرنا لكم فلم ترقصوا&#8221;</p>
<p>ترنَّم موسى عندما عبَر موسى البحر وانشقَّت المياه (خر ١٥) . وترنَّم إشعياء بنشيد كرْمِه المحبوب (إش ٥: ١)، ليُشير إلى أن الشعب اليهودي الذي سبق فأثمر فضائل كثيرة سيُصبح كتلة من الرذائل.</p>
<p>وتغنَّى الثلاثة فِتية حينما رُبِطت أرجلهم، إذ صارت لهم النار ندى. فبينما كان كل ما في الداخل والخارج يحترق، صارت النيران تلاطفهم، فلم تلسعهم ولا أضرَّتهم (دا ٣: ٢٤).</p>
<p>أعلن حبقوق نشيدًا يتنبَّأ عن آلام المسيح كمصدر تعزية للمؤمنين (حب ٣)، مخفِّفًا من حزن الشعب.</p>
<p>هكذا تغنّى الأنبياء بأغانِ روحيّة ارتفعت إلى الكرازة بالخلاص العام، وأيضًا بكى الأنبياء لكي يميلوا بمراثيهم الحزينة قلوب اليهود المتحجِّرة.</p>
<p>يعلمنا الكتاب أن نرنِّم للرب (مز ٤٧: ٦)، وأن نرقص في حكمة كقول الرب لحزقيال أن يضرب بيده ويخبط برجليْه (حز ٦ : ١١ ). الله لا يطالب بحركات مضحكة يقوم بها جسم ثائر، ولا يطلب تصفيق النساء&#8230; إنما يوجد الرقص الوقور حيث ترقص الروح بارتفاع الجسد بالأعمال الصالحة، عندما نُعلِّق قيثارتنا على الصِفصَاف.</p>
<p>يأمر الرب النبي أن يضرب باليد والرجل وأن يغنِّي لأنه كان يرى عرس العريس، الذي فيه تكون الكنيسة هي العروس والمسيح هو الحبيب. إنه عرس رائع فيه يتَّحد الروح بالكلمة، والجسد بالروح&#8230;</p>
<p>هذا هو العُرس الذي حاول داود النبي أن يحقِّقه، وله قد دُعينا&#8230; إنه يحثِّنا لنٌسرع نحو هذا المشهد المٌفرح: &#8220;ارفعوا نغمة، وهاتوا دفًا، عودًا حٌلوًا مع رباب&#8221; (مز ٨٠: ٢ - ٣). ألا تتخيَّل النبي راقصاً&#8230;؟ ألا تسمع صوت ضاربي قيثارة (الرباب) ودقَّات أرجل الراقصين؟ إنه العرس! لتأخذ أنت أيضًا قيثارة حتى إذا ما تمتَّعت بلمسة الروح، تستجيب أوتارك الداخليّة مع صدَى الأعمال الصالحة. لتمسك بالعود فيتحقَّق الانسجام بين كلماتك وأعمالك، وخذ الدف فيهبك الروح أن تترنَّم خلال آلة جسدك من الداخل<a href="#_ftn5" name="_ftnref5">[5]</a></p>
<h4>بين يوحنا المعمدان والمسيح له المجد عند القديس يعقوب السروجي</h4>
<p>الصوت محدَّد وموضعه يوجد بين الفم والأذن ويتبدد ، لأنه ليس موجوداً في جوهر الكلمة .</p>
<p>وهكذا فإن بداية يوحنا ونهايته معروفة وزمنه ليس منذ أزمنة العالم .</p>
<p>بدايته صارت من اليصابات بنت اللاويين ، ونهايته أيضاً حيث رقصت (ابنة) هيروديا .</p>
<p>الروح القدس صار له مربياً ، وركض وبدأ وانتهي ومضي وقته في مسيرة طريقه .</p>
<p>وكما تصير بداية للصوت من الشفتين وتصير نهايته حين يصل إلي باب الأذن … هكذا أيضاً تحل الكلمة في الرسالة ، وتصير محفوظة تحت الأختام في السجلات .</p>
<p>لا يقدر أحد أن يحبس الصوت في الرسالة ، ولم يحل يوحنا في البتول ، لأنها كانت مختومة .</p>
<p>ربنا الكلمة ابن الله حلّ في الشابة ، وكان خبره محفوظاً تحت أختام البتولية .</p>
<p>جاء الصوت من الزواج ، أي ابن اللاويين لتجليه ، وأرسله أمامه إلي قفر اليهودية .</p>
<p>وكما أن موضع الصوت هو موضع فارغ ، هكذا أيضاً يوحنا هو في موضع مقفر .</p>
<p>هل من بين المولودين من النساء من هو أعظم منه ؟</p>
<p>الكلام عن يوحنا مهيب جداً ، وليس له جمال واحد حتي نذكره ، بل هو كثير الجمال . كيف أجروء علي وصف هذا الجمال ؟ فالكلمة تتعطل بسبب كثرة جماله . بأية كلمات وميامر أكرز بهذا العظيم ؟ فاللسان يعجز ويرتجف من قصته .</p>
<p>هل أدعوه نبياً؟ إن خبره مختلط مع الرسل ، هل اعتبره رسولاً ؟ هوذا دوره موضوع بين الأنبياء ؟ إنه رئيس الكهنة الذي به كمل واستراح الناموس ، وبعده أصبح لاوياً دون ممارسة الكهنوت .</p>
<p>هذا هو المولود من بنت هارون جسدياً ، ويُصعِد ذبائح روحية مثل ملكي صادق (تك١٤: ١٨) . هذا هو المختون حسب الناموس من قِبَل العهد القديم ، وها هو يكشف عن الختان بغير أيادٍ في معمودية العهد الجديد .</p>
<p>هذا الذي صار مثل الوسيط للعهدين ، فختم الواحد وبدأ بالآخر لأنه كان صادقاً …</p>
<p>هذا الذي قَبِل الروحَ القدس في بطن أمه ، وكرز هناك بحَبَل المباركة ( العذراء مريم ) .</p>
<p>هذا المحبوب الذي رقص وهو جنين في بطن أمه أمام الكائن بلاهوته منذ الأزل الذي أتي إلي بطن العذراء …</p>
<p>هذا الذي رفس أمه برقصه ، لتبارك الأم الشابة التي كانت تحمل الجنين العتيق الأيام .</p>
<p>هذا الذي بدأ بالكرازة من البطن ، ولم يتوقف إلي أن قال له السيف : اسكت .</p>
<p>هذا الذي ركض إلي النهر مثل الصياد، وألقي شبكته هناك ، وملأها صيداً روحياً .</p>
<p>هذا الذي صار صوتاً في القفر ، وخرج ليمهد الدرب للشعوب ليأتوا عند الله .</p>
<p>هذا الذي توصَّل أن يلمس الابنَ ويسمع الآبَ ويري الروح ويكرز بالثالوث القدوس …</p>
<p>الكلمة الإلهي قد رأي جماله وصوّره بألوان كلمته وكتب عنه: لا يوجد بين المولودين أعظم منه (مت١١:١١)<a href="#_ftn6" name="_ftnref6">[6]</a>.</p>
<h4>عظة للقديس غريغوريوس النيسي في تعليقه علي (نش ٢ :١٢)</h4>
<p>إن صدى الصوت يجعل الفصل ممتعًا، ويتردد غناء الطيور في بساتين الفاكهة، ويصل صدى صوت اليمامة الشجي إلى آذاننا&#8230; جاء من منح الربيع لنفوسنا. فأمر ريح الشر التي أهاجت البحر أن تسكن: &#8220;وقال للبحر أسكت أبكم. فسكت الريح وصار هدوء عظيم&#8221; (مر ٤ : ٣٩ ). فأصبح كل شيء هادئا وابتدأت حياتنا في الازدهار وازدانت بالبراعم والأزهار، وتمثل الأزهار الفضيلة في حياتنا التي تُثمر في مواسمها. لذلك يقول كلمة الله: &#8220;لأن الشتاء قد مضى، والمطر مرّ وزال. الزهور ظهرت في الأرض. بلغ أوان القَضْب وصوت اليمامة سُمع في أرضنا&#8221; (نش ٢: ١١ - ١٢)&#8230;</p>
<p>يقول العريس: &#8220;انظروا فإن المروج مزدهرة بأزهار الفضيلة. هل ترى هذا النقاء في جمال النرجس العبق؟ هل ترى ورد التواضع والبنفسج الذي يمثل رائحة السيد المسيح الزكية؟ لماذا إذن لا تعمل تاجًا من هذه الزهور؟ فهذا هو موسم قَْضب الزهور! وتعمل فرعًا تاجًا لتزين به نفسك؟ قد حلّ موسم التقليم. يشهد بذلك صوت اليمامة، إنه يشبه، &#8220;الصوت الصارخ في البرية&#8221; (مت ٣: ٣) فيوحنا المعمدان هو اليمامة. هو الذي تقدم هذا الربيع المنير، الذي أنبت لبني البشر الزهور الرائعة للقضب، وقدمها لكل من رغب في جمعها. إنه هو الذي بيّن لنا &#8220;ويخرج قضب من جذع يسىَّ&#8221; (إش ١١: ١)  &#8220;هو حمل الله الذي حمل خطية العالم&#8221; (يو ١ : ٢٩ ). وهو الذي أوضح لنا التوبة عن الخطية والحياة حسب الفضيلة. يقول النص: &#8220;سُمع صوت اليمامة في أرضنا&#8221;: وهي تُنادى &#8220;يا أرض&#8221; هؤلاء الذين أُدينوا لخطيتهم، هؤلاء الذين يُطلِق عليهم الإنجيل العشارين والزناة، الذين سمعوا صوت يوحنا المعمدان بينما البقية لم تقبل تعاليمه<a href="#_ftn7" name="_ftnref7">[7]</a></p>
<h3>عظات آباء معاصرين</h3>
<h4>عظة لقداسة البابا تواضروس الثاني:</h4>
<p><strong>يوحنا المعمدان </strong></p>
<p>هذا إنجيل أول أحاد السنة القبطية الجديدة والكنيسة تختار هذا الفصل وتحدد أمامنا معالم الطريق:</p>
<p>هدف الحياة هو الملكوت السماوى.</p>
<p>معوق الطريق هو الرفض / التذمر.</p>
<p>العلاج هو الحكمة ( المسيح ذاته ).</p>
<p>+ اختارت الكنيسة هذا الفصل من الإنجيل ؛ لأنه يتكلم عن يوحنا المعمدان الذى كان شهيداً</p>
<p>+ كان يوحنا إنساناً عظيماً &#8230;.. لماذا ؟</p>
<p>أ – كرس كل حياته للرب</p>
<p>ب – أمتلأ بالروح من بطن أمه</p>
<p>ج – كان ناسكاً غير مدلل. كان يبعد عن المسكر (عادات )</p>
<p>د – متضع جداً / يعتبر نفسه مجرد صوت</p>
<p>ه - كارز للمسيح / شاهد للحق</p>
<p>+ حديث السيد المسيح عن يوحنا المعمدان يبين كيف أن الإنسان المسيحى الأصغر في ملكوت السموات هو أعظم من أعظم الرجال (يوحنا المعمدان )</p>
<p>حديث المسيح عن قطاع من الناس يمكن أن نسميهم الرافضين أو المتزمرين أو المعترضين، أو أصحاب النظرة المحدودة فهم +</p>
<p>رفضوا المعمدان لأنه عاش حياة الزهد والتقشف = رفضوا الصرامة والشدة</p>
<p>رفضوا المسيح لأنه خالط الخطاه وأحبهم، ولم يكن قاسياً معهم = رفضوا السماحة والبشاشة</p>
<p>وقد استعار المسيح مقطعاً من لعبة كان الأولاد يلعبون بها حين يرفض البعض أن يشاركوهم فرحاً أو حزناً &#8230;. رفضوا أن يرقصوا / (زمرتا ) أو أن ينوحوا / نحنا</p>
<p>مثل هؤلاء لهم تفكيرهم غير السليم &#8230; ولذلك نحن مع بداية عام جديد نحتاج أن نختبر أفكارنا ومشاعرنا في المسيح &#8230; بروح الصلاة &#8230; بروح الإنجيل &#8230; بروح المشورة &#8230; لنعيش في الحكمة الحقيقية التي هي شخص المسيح ذاته</p>
<p><strong>موضوعات قراءات الأحاد:</strong></p>
<p>+ تقسم قراءات الأحات حول موضوع:</p>
<p>١- محبة الله الآب</p>
<p>٢- نعمة  الأبن الوحيد</p>
<p>٣- شركة وعطية الروح القدس</p>
<p>+ وقراءات اليوم تقدم ثلاثة دروس هامة</p>
<p>١- عظمة الملكوت : هدف يحدد سلوكنا &#8230; ( الأصغر أعظم من يوحنا )</p>
<p>٢- خطورة التبرير : تبرير الذات / الخطية . (مثل الفريسيين – آخاب الملك )</p>
<p>٣- ضرورة الحكمه : وهى شخص يسوع المسيح  . بالمشورة والتلمذة دائماً<a href="#_ftn8" name="_ftnref8">[8]</a></p>
<h4> للمتنيح أنبا أثناسيوس مطران كرسي بني سويف والبهنسا</h4>
<p><strong>شهادة الرب عن يوحنا (مت ۱۱: ۷- ۱۹)</strong></p>
<p>لقد سبق يوحنا وشهد عن الرب بقوله &#8221; هوذا حمل الله الذي يرفع خطية العالم ،(يو ۱ : ۲۹) وهانحن نجد الرب يشهد له بدوره &#8221; أنه أعظم المولودين من النساء &#8221; كان يوحنا رسولا للمملكة السماوية ، يعلن حقها في صراحة ، ويشهد لها بحياته الفاضلة أما الذين كانوا يشهدون لمملكة هيرودس فكانوا يتملقونه بالكذب مادحين تصرفه الخاطىء ، وكانوا يلبسون الثياب الناعمة، ولكن عند الله كان يوحنا أعظم من نبي ، بل أعظم المولودين من النساء جميعا .لأن كل أنبياء العهد القديم تنبأوا عن الرب من بعد ، أما يوحنا &#8221; فجاء ملاكا &#8221; يهيء الطريق قدامة « (مل ٣ : ١) وعاصره ، وعمده . فأولئك اشتهوا أن يروا أو يسمعوا ما حصل عليه يوحنا ولم ينالوا : فسر تفوقه عليهم ، قربه من الرب وتمتعه به ولكنه مات قبل الفداء فذهب الى موضع الانتظار حتى فتح له الباب معهم .أما أصغر مؤمن في ملكوت السموات فينال الروح القدس وهو على الأرض ، ويصير الملكوت داخله ، وحين يرقد تدخل روحه مباشرة الى راحة الفردوس - فسر تفوق بني الملكوت على يوحنا هو تمتعهم بنعمة الخلاص : ويقول في (آية ١٢) أن ملكوت الله منذ يوحنا يغصب ، وذلك لأنه قبل يوحنا كان الأنبياء يتنبأون عنه وعن الرب يسوع . وأما هو فجاء مبشرا بالملكوت الوشيك ، والذي صار حقيقة بسرعة كبيرة ، ولذا فكل من قبل الملكوت انما هو يختطف النجاة لنفسه .</p>
<p><strong>الحكمة تبررت من بنيها : (مت ۱۱: ١٦ - ١٩)</strong></p>
<p>والعالم دائما يحاول أن يخفي حقيقة الملكوت ويشوهه فوجه الانتقاد الى يوحنا على صورته النسكية ، ووجه الانتقاد للرب على مظهره العادي ، وادعي على الاثنين بما ليس فيهما وهكذا يشهد المؤمنون للحكمة التي أتتهم بأنها بارة على الرغم من تنكر العالم لها . كما أن تنكر العالم للحكمة هو بذاته إظهار لعلو برها . فظهر بر الحكمة بتبعية المؤمنين ومعارضة الأشرار .</p>
<p>وليتوقع الخادم الأمين عدم رضاء الناس عليه ، فكل الناس يستطيعون أن يمدحوا الإنسان المرائي ، لأنه يظهر لكل منهم بالوجه الذي يعجبه &#8221; ويل لكم اذا قال فيكم جميع الناس حسننا (لو ٦ : ٢٦).</p>
<p><strong>الحكمة السماوية (مت ۱۱: ٢٥-٢٩) ص١٧٠</strong></p>
<p>أنه أخفي أمر الملكوت عن الحكماء لدى أنفسهم، وأعلنها للاطفال البسطاء الذين هم التلاميذ .وان ما يراه الطفل ببساطة لا يراه الانسان المعتمد على حكمته ، فالحكيم في عيني نفديه سقويم ، وليس معنى هذا أن المسيحية ضد العلم بل هي تشحذ العقل وتنيره بنورها ، والفضيلة التي فيها. ولقد دام النقاش بين الفلاسفة المسيحيين والوثنيين، وخرجت المسيحية منه منتصرة وجذبت كثيرين من الوثنيين اليها بنورها. والايمان بالابن أصل الاستنارة، والعلم مع الايمان شهادة أمينة للرب الذي خلق المواهب الطبيعية وحدد الطبيعة البشرية<a href="#_ftn9" name="_ftnref9">[9]</a></p>
<h4>الأحد الأول من شهر توت للمتنيح القمص لوقا سيداروس</h4>
<p><strong>يوحنا المعمدان (لو ٧ :٢٨- ٣٥)</strong></p>
<p>منذ أيام احتفلت الكنيسة بإستشهاد القديس يوحنا المعمدان ٢ توت والكنيسة تضع القديس يوحنا المعمدان مقدما علي مصاف القديسين والشهداء والنساك . لأن يوحنا المعمدان بشهادة الرب نفسه أعظم مواليد النساء وقد حباه الرب بميزات فريدة وفائقة..</p>
<p>+ إذ ولد بوعد ورؤيا وكلام رئيس ملائكة من أبوين بارين سالكين في جميع وصايا الرب وأحكامه بلا لوم</p>
<p>+ وأمتلأ من بطن أمه من الروح القدس وسجد وأرتكب بابتهاج أمام مركبة الشاروبيم العذراء القديسة وهي حاملة إبن الكلمة في بطنها ، كما رقص داود أمام تابوت العهد .</p>
<p>+ وهو الملاك الذى أرسله الرب قدامه بنبوات سابقه ليهيئ الطريق قدامه ويرد قلوب الأباء ويهئ للرب شعبًا  مستعدًا</p>
<p>+ وهو الناسك ساكن البراري منذ نشأته والزاهد في العالم بكل مباهجه والعجيب في ملبسه ( وبر الأبل ومنطقة من جلد على حقويه) ، وفي مأكله ( كان يأكل جرادا وعسلًا  بريًا ) وفي انعزاله في القفار .</p>
<p>+ وهو وريث روح إيليا الناري وقوته والمتكلم بالحق بلا مواربة وبلا مجاملة</p>
<p>+ وهو المتمسك بالله وبالحق الإلهي لا يتقلب ولا يتغير ولا يشابه قصبة تحركها الريح ولا متنعم في حرير وقصور الملوك وريائهم وتلونهم ، بل ثابت في إلهه كالجبل تعصف به الزوابع والأعاصير فيهزأ بها راسخًا لا يتزعزع . وهو صوت الصراخ للغافلين والمتوانين في براري العالم &#8230;ليهدى التأئهين وينبه السكارى ويبكي الخطاه ويوقظ الضمير ويلهب القلب ويعمد بماء التوبة كل من يقبل إليه . ويكفى يوحنا المعمدان – الكاهن إبن الكاهن – أنه يستحق أن يعمد مخلصنا الصالح في نهر الأردن ويرى الروح نازلًا  ومستقرًا عليه ويسمع صوت الآب من السماء ( هذا هو إبنى الحبيب  الذي به سررت ) .</p>
<p>+ ويوحنا المعمدان هو الذي قدم المسيح للعالم على أنه حمل الله وكررها مرارًا فهو بعين روحانية نبوية نظر إلى الحمل مذبوحًا  مقدمًا عن حياة العالم</p>
<p>+ وهو أعلن لنا المسيح الذي يعمد بالروح القدس والنار، والمسيح الديان الماسك رفشة في يديه ويشفي بيدره ويجمع القمح إلى المخازن، أما التبن فيحرق بنار لا تطفأ.</p>
<p><strong>روح إيليا وروح إيزابيل </strong></p>
<p>وقفت إيزابيل الشريره في أيام إيليا تقاوم طريق الله وتخدم أنبياء البعل والنجاسات، وعندما قتل إيليا بروحه النارى أنبياء البعل وبنى مذبح الرب المنهدم ورد الشعب رجوعًا إلى طريق الحياة مع الله هاجت ايزابيل واقسمت بوعد أ ن تقتل إيليا وتنتقم منه هكذا أيضًا وقفت هيروديا في آيام يوحنا المعمدان عندما شهد للحق ، ووقف ضد شهوات هيرودس ونجاسه هيروديا ، وقفت تتحين الفرص وتدبر المكائد حتى ألقى هيرودس الملك يوحنا المعمدان في السجن ولم تهدأ حتى قطع رأس يوحنا وقدم لها على طبق</p>
<p>+ وسواء كانت ايزابيل في أيام إيليا أو هيروديا في أيام يوحنا المعمدان فانه لا يجب أن ننظر إليهما كمجرد أفراد ولكن الذهن الروحى يدرك أن إيزابيل وهيروديا تمثلان مبدأ ( الفداء لحق الله ومقاومة عبيد الله الحى وكل من يغار للرب غيرة روحية ) وقد تكتمل أمامنا شخصية إيزابيل وهيروديا عندما نقرأ عن المرأة الزانية التي رآها القديس يوحنا اللاهوتي في سفر الرؤيا جالسه على وحش له سبعه رؤوس وعشرة قرون ( السبعة رؤوس هي سبعة ملوك والعشرة قرون أيضًا عشرة ملوك  ) .</p>
<p>+ إذًا حيثما يوجد روح إيليا وروح يوحنا المعمدان (روح الحق ) توجد روح إيزابيل وروح هيروديا ( روح المقاومة ) ، وفي جميع الحالات نجد أن روح إيزابيل اخضعت السلطان الزمنى لمصلحتها فآخاب الملك وهيرودس ومن على شاكلتهم ليس أكثر من آلات طيعة في يد روح الزنى والشهوات روح إيزابيل .</p>
<p><strong>لا يحل لك </strong></p>
<p>أن روح يوحنا المعمدان لا  تموت . وصوت يوحنا المعمدان لا يسكت بموت الجسد . قيل أن رأس يوحنا المعمدان وهى موضوعه على الطبق كانت تصرخ في وجه هيرودس &#8221; لا يحل لك أن تأخذ هيروديا إمرأة أخيك زوجة لك &#8221; لقد أرادت هيروديا أن تسكت هذا الصوت الصارخ فطلبت أن يموت ولكن الصوت كان يزداد صراخًا في الضمير في الداخل . ولكن إلى متى تظل روح إيزابيل وهيروديا والمأة الزانية تتمتع بسلطان وقوة وسطوة على أولاد الله ؟ إلى متى تطلب نفس إيليا وتقتل يوحنا المعمدان وتسكر من دم القديسين وشهداء الرب يسوع ؟!</p>
<p>أن التاريخ في الكتاب المقدس يعزينا جدًا إذ يذكر نهاية إيزابيل الأليمة كيف أكلت الكلاب جسمها ولحست دمها ، وسفر الرؤيا يثبت إيماننا من جهه سقوط المرأة الزانية ودينونتها &#8221; في يوم واحد ستأتي ضرباتها موت وحزن وجوع وتحترق بالنار لأن الرب الإله الذي يدينها قوي.</p>
<p><strong>اولاد الله</strong></p>
<p>الآن. نحن أولاد الله والرح الساكن فينا. هو روح الحق ذاته الذي يعمل في إيليا وملأ يوحنا المعمدان وروح إيزابيل تقف مضادة للحق في كل زمان وفي كل مكان. تستخدم شهواتها وسلطانها.</p>
<p>+ هيا يا أخوه نشهد للحق. بلا خوف ونسلك بالروح ولا نكمل شهوة الجسد</p>
<p>+ هيا نشهد للحق في داخل أنفسنا ، وقبل أن نقف أمام هيرودس الملك نقف كل واحد أمام نفسه وهى مائلة للشر ونقول &#8221; لا يحل لك &#8221; هلم نراجع أنفسنا كم أخذنا بالوجوه وكم جاملنا الناس على حساب كلمة المسيح ؟</p>
<p>+ كم جبنا وإمتلأنا خوفًا من مجرد تهديدات من روح إيزابيل فتركنا الحق. وخفنا على مصالحنا ومادياتنا ومراكزنا وتنكرها المبأدئ في لحظة من الزمن ؟</p>
<p>+ كم مرة تغاضينا عن الشهادة للحق واعتذرنا أمام أنفسنا وأمام الآخرين بعدم مسئوليتنا عن الناس ؟</p>
<p>+ كم مرة. احتفظنا بسلامنا  خوفًا من مواجهة روح إيزابيل وفضلنا روح البعد والإنطواء عن. شهادة الحق ؟ إن صوت يوحنا يصرخ في ضميرنا ودم الشهادة للحق هو أغلى ما في كنيستنا هو كنزها وسرها لأن كنيستنا هي أم. الشهداء.</p>
<p>ليعطينا الرب روح الشهادة له في السر والعلن بلا خوف&#8230;.<a href="#_ftn10" name="_ftnref10">[10]</a></p>
<h4>الأحد الأول من شهر توت المبارك للمتنيح القمص تادرس البراموسي</h4>
<p><strong>أنه ليس بين مواليد النساء أعظم من يوحنا المعمدان (لو ٧ – ٢٨ – ٣٥)</strong></p>
<p>لم يتمم أحد من الناس القصد الذى أرسله من أجله أفضل من يوحنا . يوحنا المعمدان آخر أنبياء العهد القديم . آخر من اعدوا الشعب لمجئ الرب يسوع له المجد . لم يكن يسوع يقارن يوحنا كإنسان بإنسان مسيحى لكنه كان يقارن بين الحياة قبل مجئ المسيح والحياة في ملئ ملكوته . شهد يوحنا للرب يسوع قائلاً . هذا الذى قلت عنه أنه يأتي بعدى . كان قبلى لأنه أقدم منى . الذى لست مستحقاً أن أحل سيور حذائه . وكانت شهاده الرب يسوع ليوحنا شهادة السيد للعبد . عن عظمه يوحنا فقال : ليس بين مواليد النساء أعظم من يوحنا . فكانت شهاده فخر وتقدير . من نظر تعظيمه ليوحنا وشهادة الرب يسوع له تذوب منه الكبرياء والعظمة وهذه السيره الحسنه تدفعنا جميعاً إلى السير في هذا الطريق وتتبع الرب ونسير على منواله . ونشهد مع المسيح أن يوحنا حقاً كان عظيماً بالرغم من شهادة الرب يسوع عن عظمة يوحنا وقد أتى إليه الشعب معتمدين منه . هؤلاء الناس بالرغم من أنهم قادة الشعب إلا أنهم كانوا دائماً متزمتين ولهم أراء بعيده عن الصواب لذا قال عنهم الرب يسوع . بمن أشبه أناس هذا الجيل . يشبهون أولاداً جالسين في السوق ينادون بعضهم بعضًا ويقولون زمرنا لكم فلم ترقصوا نحنا لكم فلم تبكوا والحكمة تبررت من جميع بيتها . في كل جيل من الأجيال نجد المعارضين للحق كمن يقول خالف تعرف لذلك كانت الكنيسة تعانى كثيراً من هؤلاء الذين يبررون أنفسهم ويفترون على الآخرين لأنهم لم يماثلوهم .</p>
<p><strong>العظة الأولى</strong></p>
<p>أ – عظيماً في البشارة به</p>
<p>ب – عظيماً في مولده</p>
<p>ج – عظيماً في معيشته</p>
<p>د – عظيماً في البرية</p>
<p>ه - عظيماً في شهادة الحق</p>
<p>و – عظيماً في كرازته</p>
<p>ذ – عظيماً  في شهادة الرب له</p>
<p>ح – عظيماً في حكمته</p>
<p>ط – عظيماً في أعداد طريق الرب</p>
<p>ى – عظيماً في موته</p>
<p><strong>العظة الثانية</strong></p>
<p>أ – صدق الكلام وشهادة الحق</p>
<p>ب – رد الجميل وردع الأقاويل</p>
<p>ج – عظمة الخالق وميراث الملكوت</p>
<p>د – قبول الخطأ ورفض المستكبرين</p>
<p>ه - إزاحة الستار وكشف الأسرار</p>
<p>و – النظره الإلهية وحكم البشرية</p>
<p>ذ – الحيرة ورفض المشورة</p>
<p>ح – توبة العشارين ورفض الفريسيين</p>
<p>ط – الجيل الشرير ومشورة القدير</p>
<p>ى – التشبه بالاشرار ورفض الأثمار</p>
<p><strong>العظة الثالثة</strong></p>
<p>أ – شهادة فخر واعزاز من رب السماء</p>
<p>ب – حب وتسليم وايمان</p>
<p>ج – البر الذاتي ورفض المشورة</p>
<p>د – عدم المسئولية والهروب من الواقع</p>
<p>ه - الحكم الظالم ومشورة الشيطان</p>
<p>و – عدم التمييز بين الخير والشر</p>
<p>ذ – عظمة الأبناء وكرامة الأشياء</p>
<p>ح – الأصغر في الإيمان بطل في الميدان</p>
<p>ط – العشارين تابوا والفريسيين هربوا</p>
<p>ى – تبررت الحكمة من أبناء الظلمة<a href="#_ftn11" name="_ftnref11">[11]</a></p>
<h4>عظة للمتنيح القمص بولس باسيلي عن قراءة الأحد الأول من شهر توت</h4>
<p>شهيد الحق !!</p>
<p>تقسيم على ضوء القراءات الكنسية</p>
<p>البولس  : (۱تی۱ : ۱۲ - ۱۹)</p>
<p>كاثوليكون : (يعقوب۱ : ۲۲ - ۲۷)</p>
<p>أبركسيس : (أع ١٣ : ٢٥ - ۳۲)</p>
<p>الانجيل : (لوقا ۷ : ٢٨ - ٣٥)</p>
<p>تمهيد :عظتنا هذه على ضوء القراءات الكنسية ، ويلاحظ القارىء أن رسالة البواس ، ورسالة الكاثوليكون، ورسالة الأبركسيس جميعها تدور حول محور فصل الانجيل كما يتضح مما يأتى :</p>
<p><strong>القسم الأول : مؤهلات هذا الشهيد</strong></p>
<p>( ۱ ) ناكر الذات : ( أنظر البولس العدد ١٥ ) &#8221; صادقة هي الكلمة ومستحقة كل قبول أن يسوع المسيح جاء إلى العالم ليخلص الخطاة الذين أولهم أنا &#8221; قارن قول بولس عن نفسه &#8221; أنا أول الخطاة ، بقول يوحنا &#8220;ينبغى أن ذلك يزيد وانى أنا أنقص &#8221; (يو ۳ : ۳۰) وقوله &#8221; أنا لست مستحقاً أن أنحنى وأحل سيور حذائه &#8221; (مر ١ : ٧) ( أنظر فصل الأبركسيس العدد ٢٥ ) وقارن قول يوحنا أيضاً &#8221; أنا لست مستحقاً ، بقول الفريسي &#8221; أنا لست مثل باقي الناس &#8221;</p>
<p>( ۲ ) عدو اللذات : ( أنظر الكاثو ليكون العدد ٢٧ ) &#8220;الديانة الطاهرة النقية …حفظ الانسان نفسه بلا دنس من العالم ، وقد تمت هذه الحقيقة في شخصية يوحنا إذ كان عدو الملذات والشهوات ، وذلك في تقشفه الزائد مأكلا وملبساًومسكناً ، ثم في حياته الخشنة في البرية ، ثم في قداسته التي لا يرقى إليها الشك والتي شهد له بها .</p>
<p>الأعداء ۔ رؤساء كهنة اليهود وشيوخ شعبهم  عند ما سألهم يسوع عن معمودية يوحنا هل هي من الناس قالوا &#8221; لو قلنا من الناس نخاف من الشعب لأن يوحنا عند الجميع مثل نبی &#8221; (مت ٢١ : ٢٦) وحتى هيرودس عندما طلب منه قطع رأس يوحنا ، خاف لأنه &#8220;كان يهاب يوحنا عالماً انه رجل بار وقديس &#8221; (مر ٦ : ٢٠) والفضل ما شهدت به الأعداء .</p>
<p>( ۳ ) ممهد طريق الحق والحياة : كتب عنه اشعياء &#8221; صوت صارخ في البرية أعدوا طريق الرب ، اصنعوا سبله مستقيمة ، كل واد يمتلى . وكل جبل واكمة ينخفض وتصير المعوجات مستقيمة والشعاب طرقاً سهلة ويبصر كل بشر خلاص الله &#8221; (لو ٣ : ٤)</p>
<p>قارن هذا بما ذكره الأبركسيس في ( العدد ٢٦ ) &#8221; إليكم أرسلت كلمة هذا الخلاص ، فالكلمة هو المسيح ، ويوحنا هو صوته ، وكان سفيراً ناجحاً مصلحاً دعا إلى السلام والمحبة ، ومهد طريق الحق والحياة .</p>
<p><strong>القسم الثاني : رسالة الشهيد</strong></p>
<p>( ۱ ) رسالة الأمانة والقوة : ( أنظر البولس العدد ١٣ ) &#8221; اشكر المسيح يسوع ربنا &#8230; إنه حسبنى امينا ، وهل من يشك في أمانة يوحنا ؟ وقوله &#8221; الذي قوانى &#8221; وهل من يشك في قوة يوحنا الروحية والأدبية ؟ ؟</p>
<p>( ۲ ) رسالة الخدمة والايثار : ( أنظر البولس أيضاً ) كانت خدمة يوحنا مبنية على روح الايثار لا الأثرة ( ۳ ) رسالة حرب وسلام : ( أنظر البولس العدد ١٨ ) &#8221; لكى تحارب المحاربة الحسنة ولك إيمان وضمير صالح &#8221; ۔ حرب ضد الخطية ، د الظلم والفساد ، ضد الرشوة ، ضد الأنانية ،</p>
<p>ولكنها رسالة سلام : سلام بين الأسرة والوطن &#8221; و يرد قلوب الآباء والأبناء والعصاة إلى فكر الأبرار &#8221; (لو ۱ : ۱۷)</p>
<p><strong>تأملات روحية..نقاط تفسيرية</strong></p>
<p>في عظة الأحد الأول من نوت (لو ۷ : ۲۸ - ٣٥)</p>
<p>هل شك يوحنا وهو في سجنه بايمانه بالرب يسوع ؟! (لو ۷ : ۱۹)</p>
<ul>
<li>يعتقد البعض بأن إرساله تلميذيه للمسيح قائلا &#8221; أنت هو الآتي أم ننتظر آخر &#8221; ولاسيما أثناء وجوده في السجن ، فيه معنى الشك في شخصيته ورسالته و يبرهنون على ذلك بأن المسيح بعد أن صنع طائفة عن المعجزات أمامهما قال لها &#8221; اذهبا وأخبرا يوحنا بما رأيتها وسمعتها &#8230; وطوبى لمن لا يعثر في &#8221; .</li>
<li>والواقع والمسلم به عند الأغلبية الساحقة من المفسرين أن يوحنا لا يمكن أن يشك في المسيح بعد أن شهد له بأنه &#8220;حمل الله &#8221; (يو ۱ : ۲۹) و بأنه &#8220;ابن الله &#8221; (يو ١ : ٣٤)  وبأنه &#8221; العريس &#8221; (يو ۳ : ۲۹) وبأنه &#8220;من فوق وهو فوق الجميع &#8221; (يو ٣ : ٣١) وبأنه الأقوى منه الذي ليس مستحقاً أن ينحنى ويحل سيور حذائه (مت ٢ : ١١) .</li>
</ul>
<ul>
<li>و أنه لا يمكن أن يشك في المسيح بعد أن شاهد بعينيه واستمع بأذنيه ذلك المشهد الخالد . يسوع يأتى إليه ليعمده فيمنعه قائلا &#8221; أنا المحتاج أن أعتمد منك وأنت تأتى إلى . . . فلما اعتمد يسوع صعد للوقت من الماء وإذا السموات قد انفتحت له فرأى روح الله نازلا عليه مثل حمامة وآتياً عليه وصوت من السموات قائلا هذا هو ابني الحبيب الذي به سررت &#8221; (مت ٣ : ١٤ - ١٧)</li>
</ul>
<p><strong>إذن لماذا أرسل يوحنا تلك الإرسالية تسأل يسوع ذلك السؤال ؟ ؟</strong></p>
<p>الجواب عندى هو :</p>
<ul>
<li>إن يوحنا علم  لأنه ممتلىء من الروح القدس  بأن منيته أوشكت ووقت انحلاله قد حضر ، وأنه يعلم نفسية تلاميذه المتعصبين الذين يغارون كل الغيرة على مركز معلمهم يوحنا ، والذين كانوا يغتاظون كما يشهدون ارتفاع &#8221; بنط &#8221; المسيح وانخفاض &#8221; بنط &#8221; يوحنا الأمر الذي كان كثيراً ما سبب احتداماً واصطدماً بين تلاميذ يوحنا وتلاميذ المسيح .</li>
<li>وحدثت مباحثة من تلاميذ يوحنا مع يهود من جهة التطهير فجاءوا إلى يوحنا وقالوا له يا معلم هوذا الذي كان معك في عبر الأردن الذي أنت قد شهدت له هو والجميع يأتون إليه ، أجاب يوحنا وقال لا يقدر إنسان أن يأخذ شيئاً إن لم يكن قد أعطى من السماء ، أنتم أنفسكم تشهدون لي أني قلت أني لست أنا المسيح بل ان مرسل أمامه ، من له العروس فهو العريس ، وأما صديق العريس الذي يقف ويسمعه يفرح فرحاً من أجل صوت العريس ، إذن فرحى هذا قد كمل ، ينبغي أن ذلك يزيد وأنى أنا أنقص &#8221; .</li>
<li>أن الزيادة في شخصية المسيح يقا بلها نقصان في شخصية يوحنا ، قد أغضبت تلاميذ يوحنا الجسدانيين النفسانيين الذين توقعوا أن يحتل زعيمهم مركز الصدارة ، وبالطبع سيكون لهم هم حينذاك قصب السبق على تلاميذ &#8221; المنافس الخطير لمعلمهم &#8221; الا وهو شخص الرب يسوع .</li>
</ul>
<p>من أجل هذه الاعتبارات ، فكر يوحنا  لقرب نهايته . أن يبادر فيثبت تلاميذه في إيمانهم بيسوع ، وأن يؤكد لهم عملياً ما سبق أن علمهم إياه شفاهة ، فرأى أن يرسل مندوبين عن تلاميذه إلى يسوع المسيح حتى يشاهدا بالعيون ، ويلمسا بالأيدي ، فيتدعم فيهما الإيمان ، وهذا مشتهى ما يريد أن يصل إليه يوحنا حتى يزيد ذاك ، وينقص هو !!</p>
<ul>
<li>والدليل على صدق ما نقول من عدم شك يوحنا في شخص المسيح ، هو أن المسيح نفسه  بعد انصراف الرسولين  جعل يدافع عن يوحنا دفاعاً نادراً حتى لا يتسرب أى ظن إلى عقول السامعين من جهة إيمان يوحنا فقال &#8221; ماذا خرجتم إلى البرية لتنظروا أقصبة تحركها الريح .. الخ&#8221;.</li>
<li>وفى هذا دفاع أي دفاع عن قوة إيمان المعمدان وأنه ليس كالقصبة التي تزعزعها التجارب أو تعصف بها آلام السجون ، ولا يعقل البتة أن يوحنا يكون قد تطرق إليه الشك في المسيح في الوقت الذي يضفى عليه المسيح أعظم الألقاب ويغمره بأفخم الصفات !!</li>
<li>ولو كان المفهوم من هذا السؤال تطرق الشك إلى قلب يوحنا ، لما كان المسيح في حاجة إلى أن يجرى ما أجراه من المعجزات الكثيرة &#8221; لأن يوحنا سبق أن رأى كثيراً من العجائب ، إذن قصد المسيح أن يثبت إيمان الوفد المرسل لا إيمان المرسل نفسه ، فصنع تلك المعجزات إذ &#8221; في تلك الساعة شفى كثيرين من أمراض وأدواء وأرواح شريرة ووهب البصر لعميان كثيرين &#8220;(لو ۷ : ۲۱) كيما يرى الوفد بعينه ، ويسمع بأذنه ، ويلمس بيده ، إن العمى يبصرون والعرج يمشون و البرص يطهرون والصم يسمعون والموتى يقومون والمساكين يبشرون فلا يعودون يتشككون في شخصه المبارك &#8221; وطوبى لمن لا يعثر في . . &#8220;.</li>
<li>&#8220;الاصغر في ملكوت السموات أعظم من &#8221; (لو ۷ : ۲۸)</li>
<li>يرى البعض أن &#8221; الأصغر &#8221; هنا هو شخص ربنا يسوع الذي يحسب  بالقياس إلى الميلاد الزمني ، أصغر من يوحنا بستة أشهر ! ! وهذا رأى القديس يوحنا الذهي الفم .</li>
<li>ويرى البعض الآخر أن &#8220;الأصغر &#8221; هنا بمعنى المؤمن الذي ينتقل من هذه الحياة وينتصر على الخطية ويصل ميناء السماء بسلام ، يكون أعظم من يوحنا الحي بالجسد في ذلك الوقت إذ يكون لا يزال معرضاً لشدائد الجسد ! !</li>
<li>إن التفسير الواضح  . عندى  هو أن « الأصغر ، من جماعة المفديين الذين ذاقوا نعمة المسيح ، والذين أشرقت في قلوبهم نعمة الصليب ، وغمرت حياتهم بركات قيامة الرب المجيدة ، هذا الأصغر يحسب أعظم من يوحنا الذي لم تكتحل عيناه برؤية رب النجد على الصليب ، أو بنور القيامة المباركة . فالمؤمن الذي نال رتبة البنوة بالمعمودية و بركاتها العظمى ، هذا المؤمن مهما يكن من بساطة مركزه فهو أعظم من يوحنا الذي هو أعظم مواليد النساء لأن يوحنا مات قبل إشعاع نور الفداء .</li>
<li>من أجل ذلك قال رب المجد لتلاميذه &#8221; لكم أعطيت أسرار ملكوت السموات فإن أنبياء وملوكا اشتهوا أن يروا ما أنتم ترون ولم يروا &#8221; إن يوحنا دعا نفسه &#8221; صديق العريس &#8221; أما أبناء الإيمان المسيحي فهم شخص &#8221; العروس &#8221; وفارق كبير بين العروس و بين صديق العريس ، فصلة الصديق بالعريس صلة وقتية ، أما صلة العروس بالعريس فصلة دائمة قوية (يو ٣ : ٢٩) .</li>
</ul>
<p>&#8221; والعشارون برروا الله معتمدين بمعمودية يوحنا&#8221; (لو ۷ : ۲۹)</p>
<ul>
<li>هذا هو الإيمان العامل .. برروا الله ولم يسكتوا ، بل تقدموا إلى طلب العماد من يوحنا .. هذا هو الإيمان الايجابي .</li>
</ul>
<p>قال مار اسحق &#8221; مثل المصور الذي يصور الماء على الحائط هكذا الانسان الذي يقول ولا يعمل &#8221; كقول يعقوب الرسول &#8221; إيمان بدون أعمال ميت &#8221; (یع ٢ : ٢٦)</p>
<p>&#8221; أما الفريسيون والناموسيون رفضوا مشورة الله من جهة انفسهم &#8221; (لو ۷ : ۱۰)</p>
<ul>
<li>ومعنى هذا أن الانسان حر الاختيار للطريق الذي يرغبه ، كما قال الرب &#8220;ها أنذا وضعت أمامك طريقين طريق الحياة إن سرت فيه تحيا وطريق الموت إن سرت فيه تموت ولكنى أشير عليك أن تسير في طريق الحياة فتحيا &#8221; وكما قال الرب لأورشليم &#8220;كم مرة أردت أن أجمع أولادك كما تجمع الدجاجة فراخها تحت جناحيها ولم تريدى فهوذا بيتك يترك لك خرابا &#8221; .</li>
<li>وقوله له المجد &#8221; ها أنذا واقف على الباب وأقرع إن سمع أحد وفتح الباب أتعشى معه وهو معى &#8221; &#8221; من يقبل إلى لا أخرجه خارجاً &#8221; تركونى أنا بنبوع الماء الحي وحفروا لأنفسهم آباراً مشققة لا تضبط ماء &#8221; وكما قال سليمان &#8221; رفضتم كل مشورتي ولم ترضوا تو بیخی &#8221; (أم ١ : ٢٥) إن الله &#8220;يريد أن جميع الناس يخلصون وإلى معرفة الحتى يقبلون &#8221; .</li>
</ul>
<p>&#8221; هذا هو الذي كتب عنه &#8221; (لو ۷ : ۲۷)</p>
<ul>
<li>نرى هنا رب المجد يدعم قضية الشهادة عن يوحنا &#8221; بالمكتوب &#8221; ومن هنا نرى أهمية الإطلاع على النبوات &#8221; قارنين الروحيات بالروحيات &#8221; فحين قابل السيد تلميذی عمواس شرح لهم النبوات ثم ابتدأ من موسى ومن جميع الأنبياء يفسر لهما الأمور المختصة بملكوت الله &#8221; (لو ٢٤ : ٢٧) وحين نشبت المعركة بين المسيح والشيطان في البرية لم يكن سلاح كل منهما سوى &#8221; المكتوب &#8220;(مت ٤ : ١ - ۱۱) * &#8220;يكفى أنه يكون التلميذ كمعلمة&#8221;</li>
<li>كان المسيح &#8221; رجل أوجاع والمختبر الحزن &#8221; وهكذا كان تلميذه يوحنا المعمدان رجل آلام و تجارب منذ مولده ، حين قتل هيرودس أطفال بيت لحم ، حورب يوحنا في طفولته ، وطورد إلى البرية كما طورد يسوع في طفولته فهرب إلى مصر ، وفى شبابه أيضاً اضطهد وحورب بسبب صراحته فسجنوه ومن السجن قطعوا رأسه ، هكذا المعلم الصالح ، حوكم ظلماً من أجل كرازته بالحق .</li>
</ul>
<p><strong>رواية السنكسار عن يوحنا :</strong></p>
<ul>
<li>جاء بسنكسار الكنيسة انه لما ولد سيدنا المسيح وأتى مجوس ليسجدوا له قائلين &#8221; أين هو المولود ملك اليهود &#8221; اضطرب هيرودس وأرسل يقتل أطفال بيت لحم فهرب الطفل يسوع ، أما يوحنا المعمدان فأخذته أمه ومضت به إلى الجبل وأقامت هناك ست سنين تربيه ثم ماتت وبقى الصبي في البراري إلى يوم ظهوره لاسرائيل ، وعند قتل الأطفال سمع هيرودس بأخبار يوحنا فظن انه المسيح فأرسل يطلبه من زكريا أبيه ، فأنكره عليه ، فهدده بالقتل فقال زكريا للجند هلموا فأريكم المكان الذي أخذته منه فتأخذونه ، فجاءوا معه إلى الهيكل فوضعه على جناحه حيث كان قد بشره الملاك بولادته ، وعندئذ خطفه ملاك الرب إلى البرية ، فلما لم يجدوه قتلوا زكريا أباه بين الهيكل والمذبح ، وأخفى الرب جسده ، أما دمه فصار كالحجر ، وسمع أحد الكهنة صوتاً صارخاً في الهيكل قائلا , قد قتل زكريا بن براخيا وصوته يصرخ حتى يأتى المنتقم له ، ! !</li>
</ul>
<p><strong>دفاع المسيح عن خادم الامين :</strong></p>
<ul>
<li>إتهم البعض يوحنا المعمدان بأنه &#8221; مترفه متنعم &#8221; وأنه &#8221; مزعزع العقيدة &#8221; وأن &#8221; به شيطاناً &#8221; فتولى السيد بنفسه الدفاع الحار عن تلميذه فنفى عنه انه &#8221; كالقصبة التي تحركها الريح &#8221; وأنه &#8220;الانسان اللابس الثياب الناعمة &#8220;.</li>
</ul>
<p>فليتعز خدام الله الأمناء المشتكى عليهم والمفترى على سمعتهم وصيتهم عالمين أن عدو الخير كثيراً ما يشتكى ضد مختاری الله .</p>
<p><strong> &#8221; الحكمة تبررت من جميع بنيها &#8221; (لو ٧ : ٣٥)</strong></p>
<ul>
<li>ارتأى البعض بأن اليهود كانوا قد اعوجوا واظلمت طرقهم و تقست مشاعرهم وظلموا المسيح البار ويوحنا النبي الأفضل ، إلا أن للحكمة بقية باقية ، من الشعب المؤمنين الذين برروا &#8221; الحكمة &#8221; وآمنوا بها وأثبتوا أنهم أبناء الملكوت .</li>
<li>وعندي أن الرأى الأصوب هو : أن الجيل الذي عاش فيه يوحنا كان جيلا مذبذباً لم يعجبه أي حال ، &#8221; و لم يستقر على حال من القلق &#8221; ولذلك لم تلاق خدمة يوحنا أي هوى في نفوس &#8221; فريق الراقصين &#8221; ولا رضى من &#8220;فريق النائحين &#8221; والحكمة من كلا الفريقين قد تبررت أو تبرأت أو تجردت ! ! فلا هؤلاء تحكموا في موقفهم وحكمهم على يوحنا، ولا أولئك أيضاً أنصفوا الرجل ، بل ظلموه ، ولم يفهموه ، وأخيراً جنوا عليه وقتلوه ! !</li>
<li>قال القديس ايرونيموس &#8220;إن هيروديا لما قطعت رأس يوحنا جعلت تنخس لسانه بإبرة في يدها ، لتشفى غليلها منه بسبب تو بيخها إياه ، وكأنما الموت وسفك الدماء لم يكن كافياً لأن يروى غليلها! ! &#8221; *&#8221; لست مستحقاً أن أحل سيور حذائه &#8221; (لو ٣: ١٦)</li>
<li>قالت الشرائع والتقاليد الاسرائيلية بأنه يمكن للتلميذ أن يقوم بشتى مظاهر الإكرام والتبجيل لمعلمه ما خلا أمر واحد حرمته عليه تحريماً قاطعا ألا وهو&#8221; حمل حذاء معلمه أو حل سيوره &#8221; معتبرة هذا الأمر من صميم اختصاص العبيد، وهكذا نرى يوحنا يستكثر على نفسه أن يكون عبدا للمسيح ! !</li>
</ul>
<p><strong>  *  اللعب ومفهوم المسيحية (لو ۷: ۳۲) </strong></p>
<p>هل الألعاب الرياضية أو التسلية البريئة ضد الروح المسيحية؟ !</p>
<ul>
<li>كلا فالرسول يقول إن &#8221; الرياضة الجسدية نافعة لقليل و لكن التقوى نافعة لكل شيء إذ لها موعد الحياة الحاضرة والعتيدة &#8221; (١ تي ٤ : ٨) وكونها نافعة &#8221; لقليل &#8221; فبالقياس إلى الجسد ، ومركزه إزاء الروح ، فالألعاب مهمة حتى اننا نقرأ أن الله أقام يوماً في أورشليم &#8221; تمتلئ أسواقالمدينة من الصبيان والبنات لاعبين في أسواقها &#8221; (زك ٨ : ٥) إن اللعب رياضة والمسيحية تدعو إلى الرياضة ، و تشبيه السيد المسيح ذلكالجيل بالأولاد اللاعبين في الأسواق ، دليل على اهتمامه بالأطفال ومراقبته لألعابهم .</li>
<li>وفي تاريخ الكنيسة نقرأ عن يوحنا الحبيب تلميذ المسيح والذي كان يرى في كثير من الأحايين يلعب ، مما جعل أحدهم يعترض على ذلكفأجاب ، ماذا يكون من أمر القوس المشدود دواماً في يد الصياد دون أن يرخيه ساعة أو بضع ساعة ؟</li>
<li>قيل إن القديس فرنسيس الأسيسى كان يلعب يوماً مع طفل فقال له أحدهم ماذا كنت تفعل لو أن المسيح جاء فجأة وأنت تلعب ؟ أجاب &#8220;كنتأستمر في لعبتى حتى أكملها لأني ابتدأتها لمجد الله!! <a href="#_ftn12" name="_ftnref12">[12]</a> &#8220;</li>
</ul>
<h3>من وحي قراءات اليوم</h3>
<p><strong>  زمرنا لكم فلم ترقصوا نحنا لكم فلم تبكوا (لو ٣٢:٧)</strong></p>
<p>+ يبحث البعض في ضعفات القادة لا في رسالتهم هربا من مواجهه أنفسهم</p>
<p>+ اعتراض البعض علي طريقة معيشة يوحنا وطريقة معيشة الرب رغم إختلافهما يعلن زيف هروبهم من مواجهة أنفسهم</p>
<p>+ لايتهلل البعض مع تسبيح الكنيسة ولاينسحق مع دعوتها للتوبة</p>
<p>+  لايجب أن يقضي الخادم كل أيَّام خدمته مُزَمِّراً ولا أيضا نائحاً</p>
<p>+ تتغير طريقة خدمتنا وأسلوبنا توافقا مع إرادة الله وإحتياجات الناس لا مع أمزجتهم</p>
<p>+ لايجب أن تكون إنفعالات الناس هدف طريقة خدمتنا، بل هي وسيلة تغييرهم للأفضل</p>
<p>+ نحن ننوح على خطايانا في ذات الوقت الذي نفرح فيه بغفران الله ومحبته</p>
<p>+ ماأجمل أن يستمر الخادم في رسالة الفرح رغم برودة الناس وماأجمل أن لايكف عن المناداة بالتوبة برغم قساوتهم</p>
<p>+ يجري البعض وراء الحماس العاطفي للعبادة خارج تقليد الكنيسة باحثا عن التغيير الوقتي والنفسي</p>
<p>+ الله يقبل بكاؤنا ورقصنا - فرحنا - إذا كان تعبيرا صادقا عن تغيير حياتنا</p>
<h3>المراجع:</h3>
<p><a href="#_ftnref1" name="_ftn1"></a>١- الأب غريغوريوس (الكبير). تفسير إنجيل متي إصحاح ١١ - القمص تادرس يعقوب ملطي</p>
<p><a href="#_ftnref2" name="_ftn2"></a>٢- العلامة ترتليان - تفسير إنجيل مرقس الإصحاح الأوَّل - القمص تادرس يعقوب ملطي</p>
<p><a href="#_ftnref3" name="_ftn3"></a>٣-  JR, A. J. &amp; Oden, T.C. ( 2003 ). Luke (The Ancient Christian Commentary on Scripture,      New testament part III ). Illinois ( USA ) : InterVarsity press. Page 120</p>
<p>ترجمة الأخت إيفيت منير - كنيسة مار مرقس ببني سويف</p>
<p><a href="#_ftnref4" name="_ftn4"></a>٤- المرجع : كتاب تفسير إنجيل لوقا للقديس كيرلس الأسكندري صفحة ١٧٥ - ترجمة دكتور نصحي عبد الشهيد</p>
<p><a href="#_ftnref5" name="_ftn5"></a>٥- تفسير إنجيل لوقا ( إصحاح ٧ ) - القمص تادرس يعقوب ملطي</p>
<p><a href="#_ftnref6" name="_ftn6"></a>٦- كتاب ملاك البرية المقدس صفحة ١٧ - القمص تادرس يعقوب ملطي</p>
<p><a href="#_ftnref7" name="_ftn7"></a>٧- القديس غريغوريوس النيسي - تفسير سفر صفنيا الإصحاح الثاني - القمص تادرس يعقوب ملطي</p>
<p><a href="#_ftnref8" name="_ftn8"></a>٨- المرجع : كتاب المنجلية القبطية الأرثوذكسية صفحة ١٨٧</p>
<p><a href="#_ftnref9" name="_ftn9"></a>٩- المرجع : دراسات في الكتاب المقدس - تفسير إنجيل متي ( الإصحاح الحادي عشر ) - الأنبا أثناسيوس مطران كرسي بني سويف والبهنسا</p>
<p><a href="#_ftnref10" name="_ftn10"></a>١٠- المرجع : كتاب تأملات روحية في قراءات أناجيل آحاد السنة القبطية - المتنيح القمص لوقا سيداروس</p>
<p><a href="#_ftnref11" name="_ftn11"></a>١١- المرجع كتاب تاملات وعناصر روحية في احاد وايام السنة التوتية اعداد القمص تادرس البراموسي</p>
<p><a href="#_ftnref12" name="_ftn12"></a>١٢- كتاب المواعظ النموذجية الجزء الأول (صفحة ٦٩ - ٧٧) - القمص بولس باسيلي</p>

      {% endcreateArticleAccordions %}
    </section>
  {% endblock %}
