---
layout: 'layouts/reading.html'
title: 'الأحد الثاني من شهر توت المبارك'
tags: 'sundays'
permalink: /articles/sundays/1-2.html
---
  {% block content %}
    <section id="readings">
      <ul>
      {% if 'undefined' != 'undefined' %}
      
      {% else %}
      {% if '19.7:10-11' != 'null' %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">العشية</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeVespers '19.7:10-11' '42.4:38-41' %}
          </div>
        </div>
      </li>
      {% endif %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">باكر</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeMatins '19.8:1,4' '41.1:35-39' '' %}
          </div>
        </div>
      </li>
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <h3 class="flex items-center justify-between">
            <span class="kufi">القداس</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </h3>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeLitugy '55.1:12-18*@+55.2:1-10' '59.2:5-13' '44.11:19-26' '19.21:1-2' '42.10:21-28' %}
          </div>
        </div>
      </li>

      {% endif %}
        </ul>
    </section>
    <section id="article">
      <h3 class="mt-8 mb-4 heading-explain">شرح القراءات</h3>
      {% createArticleAccordions %}
        <p>&#8221; صنع الكل حسنا في وقته وأيضا جعل الأبدية في قلبهم التي بلاها لا يدرك الإنسان العمل الذي يعمله الله من البداية إلي النهاية &#8221; (جا١١:٣)</p>
<p>واجعل شرفك ياقوتا وابوابك حجارة بهرمانيه وكل تخومك حجارة كريمة وكل بنيك تلاميذ الرب وسلام بنيك كثيرا بالبر تثبتين بعيدة عن الظلم فلا تخافين وعن الارتعاب فلا يدنو منك &#8230; هذا هو ميراث عبيد الرب وبرهم من عندي يقول الرب &#8220;(أش ٥٤: ١٢-١٧)</p>
<p>وهذه هي الحياة الأبدية: أن يعرفوك أنت الإله الحقيقي وحدك ويسوع المسيح الذي أرسلته &#8221; (يو ٣:١٧)</p>
<p>&#8221; ردَّنا يا الله إلي خلاصك واصنع معنا كصلاحك يا من يصنع أكثر ممَّا نسأل أو نفهم &#8221;</p>
<p>القدَّاس الغريغوري</p>
<p>&#8221; مملكة طاهر النفس داخل قلبه، والشمس التي تشرق فيها هي نور الثالوث القدوس وهواء نسيمها هو الروح القدس المعزي، والسكان معه هم طبائع الأطهار الروحانية وحياتهم وفرحهم وبهجتهم هو المسيح ضياء الآب. &#8221; الشيخ الروحاني -<a href="#_ftn1" name="_ftnref1">[1]</a></p>
<h3>شواهد القراءات</h3>
<p>(مز ٧: ١٢-١٣)  (لو ٤: ٣٨-٤١)  (مز ٨ : ١-٣ ) (مر١: ٣٥-٣٩)  (٢تي ١ : ١٢- ٢ : ١-١٠)  (يع ٢ : ٥-١٣)     (أع١١ : ١٩-٢٦)  (مز ٢٠ : ١-٢)  (لو ١٠ : ٢١-٢٨)</p>
<h3>  ملاحظات على قراءات اليوم</h3>
<p>+ قراءة البولس اليوم (٢تي ١: ١٢ - ٢: ١ - ١٠) تُشبه قراءة البولس (٢تي ٢: ٣ - ١٥) ليوم ٢٠ أبيب (شهادة القديس ثاؤدورس الشطبي )</p>
<p>قراءة اليوم تتكلَّم عن الإيمان والمحبَّة التي في المسيح يسوع والوديعة الصالحة بالروح القدس الساكن فينا، أمَّا قراءة يوم ٢٠ أبيب تتكلَّم عنالجندية للمسيح يسوع وإحتمال المشقَّات والتي توافق القديس ثاؤدورس كقائد في الجيش</p>
<p>+ قراءة الإبركسيس اليوم (أع ١١: ١٩ - ٢٦) هي نفس قراءة الإبركسيس ليوم ٢٢ طوبه (نياحة أنبا أنطونيوس) ، وتُشبه قراءةالإبركسيس (أع١١ : ١٥-٢٤) ليوم ٩ هاتور ( تذكار إنعقاد مجمع نيقية )</p>
<p>ومجيء القراءة اليوم فهو للإشارة إلي فرح برنابا بخلاص الأمم (كما تهلَّل يسوع بالروح لأجل إعلان الإيمان للأطفال أي الأمم ومؤمني العهد الجديد) أمَّا مجيئها يوم ٩ هاتور فهو لأجل إعلان إيمان الأمم، وإرسالية الكنيسة لبرنابا الرسول لهم لضمان سلامة الإيمان (تذكار مجمع نيقية) ، ومجيئها يوم ٢٢ طوبه للإشارة إلي ما قيل عن القدّيس برنابا كأنه وصف مُشابه لشخصية أنبا أنطونيوس ( رجلاً صالحاً وممتلئاً من الروح القدس والإيمان )</p>
<p>+ قراءة إنجيل قدَّاس اليوم (لو ١٠: ٢١ - ٢٨) تُشبه قراءة إنجيل قدَّاس (لو ١٠: ٢١ - ٢٤) ليوم ٢٠ أبيب (شهادة القديس ثاؤدورس الشطبي )</p>
<p>والكلام اليوم عن عطايا الإنسان الجديد من الآب في المسيح، بينما مجيئها يوم ٢٠ أبيب للتركيز علي السلطان المُعطي لأولاد الله من الآبفي المسيح</p>
<h3> شرح القراءات</h3>
<p>تتركز قراءات هذا اليوم على &#8221; جوهر وغاية تدبير الآب &#8221; الحياة الابدية وملكوت الله المعلن في الخلاص بإبنه</p>
<p>لذلك يوضح أيضا من هم الذين يتمتعون بالحياة الأبدية في المسيح يسوع</p>
<p>تبدأ المزامير بعطايا الملكوت (مزمور عشيّة) ومكانة أبناء الملكوت (مزمور باكر) وخلاص الله لهم (مزمور القدَّاس)</p>
<p>لذلك يوضح مزمور عشية عطايا الملكوت للمؤمنين المعونة والنجاة (صادقة هي معونتي من الله المنجى مستقيمي القلوب</p>
<p>ويظهر مزمور باكر تميز الإنسان ومكانته عند الآب (من هو الإنسان حتى تذكره أو إبن الإنسان حتى تفتقده)</p>
<p>كما يتكلم مزمور القداس عن أن شهوة قلب إنسان العهد الجديد وسؤاله الدائم خلاص الله وقوته الذي به وحده يفرح ويتهلل الملك أو القائد وكل شعبه (يأرب بقوتك يفرح الملك وبخلاصك يتهلل جدا)</p>
<p>وتتكلّم القراءات عن إعداد الكارزين بالملكوت وجهادهم ( البولس ) ومُستحقّي الملكوت ( الكاثوليكون ) والأمم المدعوين الجدد فيملكوت العهد الجديد ( الإبركسيس )</p>
<p>يبدأ البولس بالكلام عن الكارزين بهذا الملكوت وكيفية إعدادهم (وما سمعته مني بشهود كثيرين هذا أودعه أناسا أمناء يكونون أهلا أن يعلموا آخرين) وكيف يكون لهم جهاد الجندي في الحرب وصبر الفلاح في الزراعة (فاشترك أنت في احتمال المشقات كجندي صالح ليسوع المسيح &#8230;.فلن ينال الإكليل إن لم يجاهد قانونيا&#8230;..ولابد للفلاح الذي يتعب أن ينال أولا من الأثمار ) كما يوضح هدف جهاد الجندي وتعب الفلاح ( لأجل ذلك أنا أصبر علي كل شئ لأجل المختارين لكي ينالوا الخلاص الذي في المسيح يسوع مع المجد الأبدي )</p>
<p>بينما يعلن الكاثوليكون فئه أخري من مستحقي الملكوت وهم الفقراء (أما اختار الله فقراء العالم أغنياء في الإيمان) ويلاحظ أن آخر آية في البولس &#8221; لأجل المختارين &#8221; وأول آية في الكاثوليكون &#8221; أما اختار الله &#8221; لذلك يحذر أيضا من تسلط الأغنياء علي الفقراء وخطورة غياب الرحمة التي يمكن ان تحرم الإنسان من الملكوت (لأن الحكم هو بلا رحمة لمن لم يعمل رحمة)</p>
<p>أما الإبركسيس فيعلن عن الكرازة للأمم الأعضاء الجدد في ملكوت العهد الجديد &#8221; هؤلاء الذين لما دخلوا أنطاكية كانوا يتكلمون مع اليونانيين مبشرين بالرب يسوع &#8221;</p>
<p>وتُوضِّح الأناجيل ملكوت الشفاء (إنجيل عشيّة) وملكوت بشارة الخلاص للبشر في كل مكان (إنجيل باكر) وملكوت الفرح والشكر والاستنارة (إنجيل القدَّاس)</p>
<p>في إنجيل عشية تظهر إحدي الفئات المحتاجه للملكوت وهم المرضي المحتاجين للشفاء (جميع الذين عندهم مرضي</p>
<p>فوضع يديه علي كل واحد منهم وشفاهم)</p>
<p>وفي إنجيل باكر إحتياج الكل له ليس فقط المرضي والشفاء لكن أيضاً الإحتياج للخلاص ولحضوره الإلهي (قالوا له إن الكل يطلبونك) ويظهر أيضا محبة إبن الله للكل (لنذهب إلي مكان آخر &#8230;.لنبشر هناك أيضا )</p>
<p>ويختم إنجيل القداس بأعظم عطايا الثالوث للبشر الفرح القلبي بالروح القدس (تهلل يسوع بالروح القدس) وحياة الشكر الدائم للآب (أشكرك أيها الآب رب السماء والأرض) واستنارة الإبن لإنسان العهد الجديد (وأعلنتها للأطفال&#8230;.ومن يريد الإبن أن يعلن له )</p>
<p>كما تجد كلمة تهلل أو يتهلل تكررت في مزمور القدَّاس (وبخلاصك يتهلل جدا) وفِي إنجيل القدَّاس (وفِي تلك الساعة تهلل يسوع بالروح القدس)</p>
<p>كما يعلن المدخل الوحيد لهذه العطايا المجانية وهي إنسكاب الحب الإلهي في القلب محبة الله من كل القلب والنفس والفكر والقدرة ومحبّةالقريب كالنفس (تحب الرب إلهك من كل قلبك&#8230;. وقريبك مثل نفسك)</p>
<p><strong>   ملحوظة</strong></p>
<p>إنجيل عشيّة من الأحد الثاني (لو ٤ : ٣٨-٤١) تكرّر في الأحد الثالث ولكن من إنجيل مرقس (مر ١ : ٢٩-٣٤) - قصّة شفاء حماة سمعان - ونلاحظ فيها شفاء الرب لها بعد دخوله بيت بطرس واندراوس مباشرة لكن شفاء باقي المرضي حدث بعد غروب الشمس (لو ٤ : ٤٠) ، (مر١ : ٣٢) ولعل سبب هذا انه كان يوم السبت (لو ٤ : ٣١- ٣٣- ٣٨) فشفاء الرب لحماة سمعان كان قبل غروب شمس السبت لانه هو رب السبت وهذا فهمه التلاميذ أنه يمكن أعمال الشفاء يوم السبت (يو ٩ : ٢-٧) ولكن لم تكن تفهمه بعد الجموع البسيطة لذلك انتظر الرب غروب الشمس ليشفي أمراضهم حسب الناموس ليُراعي بساطة فكرهم وإدراكهم</p>
<p><strong>  ملخّص القراءات</strong></p>
<p>أبناء الملكوت يتمتّعون بالعطايا الإلهية وأهمّها الخلاص                                  (مزمور عشية وباكر والقدّاس)</p>
<p>وهم من كل الأمم وكل فئات الشعب وجهادهم مثل الجنود في القتال             (البولس والكاثوليكون والإبركسيس وإنجيل باكر )</p>
<p>لذلك يتمتّعون بفرح الخلاص والشكر ومحبّة الجميع                                     (إنجيل عشيّة وإنجيل القدَّاس)</p>
<h3>إنجيل القدَّاس في فكر آباء الكنيسة</h3>
<p>معلّم الناموسيّ</p>
<p>&#8220;يعّد الأطفال أهلاً للخلاص بقدر أكبر مِن حكماء العالم.&#8221; (إكليمندُس السكندري)</p>
<p>&#8220;الابن يَعرِف الآب معرفةً تامة لأنه مِن الله.&#8221; (فم الذهب)</p>
<p>&#8220;ها إن التلاميذ أيضًا قد نالوا القوة التي لملكوت الله – قوة إخراج الشياطين وتطهير البرّص وإقامة الموتى – تلك العطية التي لم تَعدْ تمنح للملوك والأنبياء فقط.&#8221; (كيرلُّس السكندري)</p>
<p>&#8220;كان الناموسي يريد اصطياد يسوع؛ لكنه بهذا الفعل يظهر أنه لا يدرك سر التجسّد، وإن هذا الذي أمامه ليس مجرّد رجل؛ بلْ هو ابن الله بالحقيقة.&#8221; (كيرلُّس السكندري)</p>
<p>تفترض الإجابة أن طريق التوراة هو سبيل الحياة. وتعاليم يسوع كلها ترتكز على هاتين الوصيتين وتعلو بجناحيهما معا. (إفرام السرياني)</p>
<p>&#8220;لأن معرِفة الناموس هو معرِفة سر التجسّد الإلهي، وهو إدراك الحقيقة.&#8221; (أمبروسيوس).</p>
<p>توضح إجابة يسوع على سؤال الناموسي عن الحياة الأبديّة أن الناموسي فقد فريسته، وأن استجوابه يسوع لن يؤتي ثمرا.&#8221; (كيرلُّس السكندري)<a href="#_ftn2" name="_ftnref2">[2]</a></p>
<h3>الكنيسة في قراءات اليوم</h3>
<p>النعمة والجهاد القانوني                            البولس</p>
<p>الملكوت والدينونة                                    الكاثوليكون</p>
<p>الامتلاء من الروح القدس                           الإبركسيس</p>
<p>الوحدة الجوهرية بين الآب والإبن                 انجيل القدَّاس</p>
<p>مرشد الحياة الابدية في كلمة الله                انجيل القدَّاس</p>
<h3>أفكار مقترحة لعظات</h3>
<p><strong> (١) العظة الأولي</strong></p>
<p>من هم مُسْتَحقِّي الملكوت؟</p>
<p>١- المُبشِّرين والكارزين                                                      إنجيل باكر والبولس</p>
<p>٢- الذين يجاهدون مثل الجندي والذين يتعبون مثل الفلاح             البولس</p>
<p>٣- أغنياء الإيمان والمحبَّة                                                     الكاثوليكون</p>
<p>٤- حياة الصلاح والإمتلاء من الروح القدس والإيمان                    الإبركسيس</p>
<p>٥- الذين يحبون الله من كل القلب والقريب كالنفس                     إنجيل القدَّاس</p>
<p><strong> (٢) العظة الثانية</strong></p>
<p><strong>&#8221; المحبة &#8220;</strong></p>
<p><strong>١- تحب الرب إلهك من كل قلبك</strong></p>
<p>(مركز الإهتمام ) ومن كل نفسك ( مركز الوجدان ) ومن كل فكرك ( مركز الإدراك ) ومن كل قدرتك ( مركزالإرادة )</p>
<p>محبة اللة تعبر عنها كل قوي وملكات الإنسان الإهتمام والإنفعال والإدراك والإرادة</p>
<p>إذا حضر أحد قداس يظهر اهتمامه في استعداده الليلة السابقة وإرادته في استيقاظه مبكرا وانفعاله في مشاركته في صلوات وألحان القداس وإدراكه في فهمه لكل ما يحدث في الطقس فتنسكب المحبة الإلهية بغني في أعماقه</p>
<p>فأنت تحب بقلبك عندما تهتم، وتحب بوجدانك عندما تشارك، وتحب بإرادتك عندما تلتزم، وتحب بفكرك عندما تفهم.</p>
<p>راجع (تثنية ٤:٦) لتعرف كيف نعلن محبة الله</p>
<p>راجع (أفسس ١٨:٣) لتري ابعاد المحبة الإلهية</p>
<p>يمكن للمتكلم ان يستشهد بسيمفونية الحب الإلهي في القداس الغريغوري وفي قسمه الإبن الوحيد (أيها الابن الوحيد الإله الكلمة الذي أحبنا)</p>
<p><strong>  ٢- تحب قريبك كنفسك</strong></p>
<p>محبه القريب كالنفس أفضل من جميع المحرقات والذبائح (مر٣٣:١٢)</p>
<p>ان تحب (لأن ) هذه هي محبه البشر لكن ان تحب أحد ( بالرغم من ) فهذه هي محبه المسيح</p>
<p>راجع (١كو ١٣) لتعرف حدود محبه القريب</p>
<p>مقابله الخير بالشر تصرف شيطاني، ومقابله الشر بالشر تصرف حيواني ، ومقابله الخير بالخير تصرف إنساني ، ومقابله الشربالخير تصرف مسيحي ، فما عسانا نختار ؟</p>
<p><strong> (٣) العظة الثالثة</strong></p>
<p>&#8221; تهلل بالروح&#8230;اشكرك&#8230;أعلنتها للأطفال &#8221;</p>
<p><strong>  ١- تهلل بالروح</strong></p>
<p>تهليل الروح مختلف عن فرح النفس فالنفس قدر ما تلهب وجدان الإنسان سريعا سرعان ما تخبو وتنطفئ ربما الي النقيض فكثيرون ممن يضحكون كثيرا يخفون كآبة وحزن دفين</p>
<p>أما تهليل وفرح الروح فهو يمس أعماق الإنسان ويفيض علي كيانه كله حتى الجسد</p>
<p><strong>  ٢- أشكرك</strong></p>
<p>الشكر المقدم لله هو خلاص الإنسان&#8230;انبا انطونيوس</p>
<p>ليست عطية بلا زيادة الا التي بلا شكر &#8230;. مار إسحق السرياني</p>
<p>صلاة الشكر في كل مناسبات الكنيسة</p>
<p>التسبحة الكنسية هي شكر وفرح الكنيسة الدائم بمحبة الله الغنية</p>
<p><strong>  ٣-اعلنتها للأطفال</strong></p>
<p>الأطفال هنا لا يقصد بها بساطة العقل والجهل لكن بساطة القلب ونقاوته وقبوله دون تشكيك في مواعيد الله</p>
<p>يعلن الله كل شيء لمن يتجهون إليه ببساطه</p>
<p>أعظم ما يعلنه الله هو تدبيره لخلاص الإنسان</p>
<p>اعلانات الله ليست ضد العقل لكنها فوق ادراكه</p>
<p>لنقبل الي الآب السماوي كأطفال، ونصدق كل وعوده كأطفال، ونرتمي في أحضانه وقت تعبنا وألمنا كأطفال</p>
<h3>عظات ابائية</h3>
<h4>الآب يعلن أسراره للأطفال عند القديس كيرلس الأسكندري</h4>
<p>(لو١٠: ٢١) &#8221; وفى تلك الساعة تهلل يسوع بالروح وقال: أحمدك أيها الآب، رب السماء والأرض لأنك أخفيت هذه عنالحكماء والفهماء وأعلنتها للأطفال. نعم أيها الآب، لأن هكذا صارت المسرة أمامك &#8221; .</p>
<p>قال أحد الأنبياء القديسين: &#8221; هلموا إلى المياه أيها العطاش جميعاً &#8221; (إش ٥٥: ١٠) وهو بهذا يوجهنا إلى كتابات البشيرين القديسين كمالي ينابيع مياه، فكما أن المياه مبهجة للنفس الظامئة كما يقول الكتاب (أم ٢٥: ٢٥) ، هكذا تكون معرفة أسرار المخلص التي تعطى الحياة للعقل الذى يحب التهذيب . دعونا نقترب من الينابيع المقدسة، من المياه الحية والمعطية الحياة، تلك المياه التي هي عقلية وروحية. هيا لنمتلئ منها ولا نكل من الشرب. فإن ما يزيد عن الكفاية في هذه الأمور، لا يزال لأجل بنياننا، والشره هنا ممدوح جداً ، إذن ، ما هو الذى قاله المخلص – هذا الينبوع النازل من السماء ، نهر الفرح – فذلك نتعلمه مما قد تلى علينا الآن : &#8221; في تلك الساعة تهلل يسوع بالروح القدس وقال &#8221; إذن يجب على كل من يحب التعليم أن يقترب من كلمات الله بكل عناية وليس بلا حماس ، بل بالعكس ، بكل غيرة ، لأنه مكتوب : &#8221; كلمن يتعب ويجتهد له خير وفير &#8221; (أم ٢٤ : ٢٣) ، فالفحص الكلمات وخاصة ما هو المقصود بالتعبير أنه &#8221; تهلل بالروح القدس &#8221; .</p>
<p>الروح القدس ينبثق من الله الآب كما من الينبوع، ولكنه ليس غريباً عن الابن، لأن كل ما للآب فهو للكلمة الذى هو بالطبيعة وبالحقيقة مول ودمنه . لقد رأى المسيح أن كثيرين قد ربحوا بفعل الروح الذي منحه هو للذين يستحقونه، وللذين أوصاهم ليكونوا خداماً للرسالة الإلهية. لقدرأى أن آيات عجيبة تجرى على أيديهم، وأن خلاص العالم بواسطته – أعنى الإيمان – قد بدأ الآن، لذلك فقد تهلل بالروح القدس، أي بالأعمال والمعجزات التي تمت بواسطة الروح القدس . لقد عين الرب الاثنا عشر الذين دعاهم أيضاً رسلاً ، وبعد ذلك عين سبعين آخرين الذين أرسلهم كسابقين أمامه إلى كل قرية ، ومدينة في اليهودية ، ليبشروا به وبالأمور المختصة به ، وقد أرسلهم مزينين حسناً بالكرامات الرسولية ، ومميزين بفعل نعمة الروح القدس ، لأنه أعطاهم قوة على الأرواح النجسة ليخرجوها ، لذلك فبعد أن عملوا معجزات كثيرة ، رجعوا إليه قائلين : &#8221; يارب حتى الشياطين تخضع لنا باسمك &#8221; وكما قلت لكم سابقاً ، إذ أن الرب يعلم جيداً أن الذين أرسلهم قد صنعوا خير الكثيرين بل وهم أنفسهم قد عرفوا مجده بالاختبار ، فإنه امتلأ بالفرح بل بالتهليل ، ولأنه صالح ومحب البشر ويريد خلاص الجميع ، فقد وجد لنفسه سبباً للتهليل ، ألا وهو تحول أولئك الذين كانوا في الضلال ، واستنارة الذين كانوا في الظلمة ، واستعلان مجده لأولئك الذين بلا معرفة أو تعليم . فماذا يقول إذن؟ &#8221; أحمدك أيها الآب رب السموات والأرض &#8221; &#8230;. وهذه الكلمات : &#8221; أعترف لك &#8221; يقولها مثل البشر بدلاً من &#8221; أقبل إحسانك &#8221; أي &#8221; أشكرك &#8221; ، لأن الكتب الإلهية الموحى بها اعتادت أن تستعمل كلمة &#8221; أعترف &#8221; بمثل هذه الطريقة ، لأنه مكتوب : &#8221; سيعترفون لاسمك العظيم المرهوب ، يارب ، لأنه مرهوب وقدوس &#8221; (مز٩٨ : ٣) ،</p>
<p>وأيضاً &#8221; أعترف لك يارب بكل قلبى وأخبر بجميع عجائبك &#8221; (مز٨٥ : ٢) .</p>
<p>ولكنى ألاحظ أيضاً أن أذهان الناس الفاسدين لا ترعوى عن فجورها، وبعضاً منهم يعترض علينا قائلاً &#8221; ها الابن يقدم اعتراف الحمد للآب، فكيف لا يكف أقل من الآب؟ &#8221; ولكن كل من هو ماهر في الدفاع عن تعاليم الحق ، يجيب عن هذا قائلاً : &#8221; وماذا يمنع أيها السادة الكرام ،أن الابن مع كونه مساوياً في الجوهر ، يحمد ويشكر أباه ، لأنه يخلص كل الذين تحت السماء بواسطته ؟ ولكن إن ظننت أنه بسبب شكره هوأقل من الآب، فلاحظ أيضاً ما يلى : أنه يدعو الآب &#8221; رب السماء والأرض &#8221; . ولكن بالتأكيد فإن ابن الله الضايط الكل بالتساوى معه هو رب الكل ، وفوق الكل وليس هو أقل منه ، أو مختلف عنه في الجوهر ، ولكنه إله من إله ، مكلل بنفس الكرامات ، ويملك بحق جوهره ، المساواة معه في كل شيء ، وهذا كاف للإجابة عليهم .</p>
<p>لكن دعونا الآن نتأمل الكلمات التي خاطب بها أباه بخصوصنا ونيابة عنا إذ يقول: &#8221; لأنك أخفيت هذه عن الحكماء والفهماء وأعلنتها للأطفال، نعم أيها الآب لأن هكذا صارت المسرة أمامك &#8220;، لأن الآب قد كشف لنا السر الذى كان مكتوماً ومحفوظاً في صمت عنده ، من قبل إنشاء العالم الذى هو تجسد الابن الوحيد ، الذى كان معروفاً سابقاً حقاً ، قبل إنشاء العالم ، ولكن أعلن لسكانه فى أواخر الدهر . فالمبارك بولس يكتب: &#8221; لى أنا أصغر جميع القديسين أعطيت هذه النعمة أن أبشر به بين الأمم بغنى المسيح الذى لا يستقصى ، وأنير الجميع في ما هو تدبير السر المكتوم منذ الدهور في الله خالق الجميع &#8221; (أف ٣ : ٨) . إن هذا السر العظيم المسجود له الذى لمخلصنا كان من قبل تأسيس العالم ، مخفياً في معرفة الآب ، وبالمثل نحن قد سبق أن عرفنا ، وسبق أن عيننا لتبنى البنين . وهذا ما يعلمنا إياه أيضاً المبارك بولس بقوله: &#8221; مبارك الله أبو ربنا يسوع المسيح الذي باركنا بكل بركة روحية في السماويات في المسيح، كما اختارنا فيه قبل تأسيس العالم لنكون قديسين وبلا لوم قدامه إذ سبق فعيننا في المحبة للتبني بيسوع المسيح لنفسه &#8221; (أف ١: ٣ – ٥). فلنا إذن – كما للأطفال – كشف الآب السر الذي كان مخفياً ومحفوظاً في صمت طوال الدهور.</p>
<p>لقد سبقنا في هذا العالم حشد كبير كانوا على مستوى الكلمات، لهم لسان طلق متميز، لهم سمعة كبيرة في الحكمة، وفى فخامة التعبير، والأسلوب الجميل، ولكن كما قال عنهم بولس: &#8221; حمقوا في أفكارهم وأظلم قلبهم الغبي، وبينما هم يزعمون أنهم حكماء صاروا جهلاء، وأبدلوا مجد الله الذي لا يفنى بشبه صورة الإنسان الذى يفنى والطيور والدواب والزحافات &#8230; لذلك أسلمهم الله إلى ذهن مرفوض &#8221; (رو١: ٢١ – ٢٥)، &#8221; وجعل الله حكمة هذا العالم جهالة &#8221; (١كو ١: ٢٠)، كما أنه لم يعلن لهم السر. أما لنا نحن فقد كتب: &#8221; إن كان أحد يظنانه حكيم بينكم في هذا الدهر، فليصر جاهلاً لكي يصير حكيماً، لأن حكمة هذا العالم هي جهالة عند الله &#8221; (١ كو ٣: ١٨). لذلك، فيمكن المرء أن يؤكد أن من له مجرد حكمة العالم فقط، هو جاهل وبلا فهم أمام الله، ولكن من يظهر أنه جاهل في نظر حكماء هذا العالم، ولكن له في قلبه وفكره نور رؤية الله الحقيقية فهو حكيم أمام الله. وبولس يؤكد هذا أيضاً بقوله : &#8221; لأن المسيح أرسلني لا لأعمد بل لأبشر ، لا بحكمة كلام لئلا يتعطل صليب المسيح ، فإن كلمة الصليب عند الهالكين جهالة ، وأما عندنا نحن المخلصين فهي قوة الله ، لأنه مكتوب سأبيد حكمة الحكماء وأرفض فهم الفهماء &#8221; (١كو ١ : ١٧ – ١٩) (إش ٢٩ : ١٤) ، وقد أرسل بولس أيضاً قائلاً : &#8221; فانظروا دعوتكم أيها الإخوة  أن ليس كثيرون حكماء حسب بالجسد ، ليس كثيرون أقوياء ،ليس كثيرون شرفاء ، بل أختار الله جهال العالم ليخزى الحكماء &#8221; (١كو ١ : ٢٦) والذين يظهرون كأنهم جهلاء ، بمعنى أنهم ذوو ذهن نقى وعديم المكر ، وهم بسطاء كأطفال في الشر ، لهؤلاء أعلن الآب ابنه ، إذ هم أنفسهم أيضاً قد سبق فعرفهم وسبق فعينهم لتبنى البنين . ومن المناسب في ظني أن نضيف أيضاً ما يأتي، أن الكتبة والفريسين الذين بلغوا شأنا عظيماً عند اليهود بسبب علمهم الناموسى كانوا يعتبرون أنفسهم حكماء، ولكن حكم عليهم بنفس النتيجة أنه ليسوا هكذا في الواقع، فإرميا النبى يخاطبهم في موضع ما قائلاً: &#8221; كيف تقولون نحن حكماء وشريعة الرب معنا بينما حولها قلم الكتبة الكاذب إلى الكذب. خزى الحكماء ارتاعوا وأخذوا، ها قد رفضوا كلمة الرب فأية حكمة لهم؟ (إر ٨ : ٨ -٩) ، لأنهم رفضوا كلمة المخلص أي رسالة الإنجيل الخلاصية ، أو بعبارة أخرى ، كلمة الله الآب الذى من أجلنا صار إنساناً ، لذلك فهم أنفسهم قد رفضوا ، وعنهم قال أيضاً إرميا النبى : &#8221; وهم يدعون فضة مرفوضة ، لأن الرب قد رفضهم &#8221; (إر ٦ : ٣٠) . وقد أخفى عنهم سر المسيح أيضاً، لأنه قال عنهم في موضع ما لتلاميذ &#8221; لأنه قد أعطى لكم أن تعرفوا أسرار ملكوت السموات ، وأما لأولئك فلم يعط (مت ١٣ : ١١) &#8221; أعطى لكم &#8221; ، أي لمن ؟ هو بوضوح للذين آمنوا، لهؤلاء الذين تعرفوا على ظهوره، للذين يفهمون الناموس روحياً ، الذين يدركون أنه معنى الإعلان القديم الذى للأنبياء ، الذين يعترفون انه الله وابن الله ، لهولاء سر الآب أن يعلن ابنه الذى به ، ومعه لله الآب التسبيح والسلطان مع الروح القدس إلى الأبدين آمين<a href="#_ftn3" name="_ftnref3">[3]</a> .</p>
<h4>محبة النفس للرَبٌ بلا شِبَع في عظات القديس مقاريوس الكبير</h4>
<p>إن النفوس الْتي تحبُ الحقّ وتحبُ الله وتشتاق بعِظّم رجاءٍ وإيمان أنْ تلبس المسيح بالتَمام، لا حاجة بها إلى تذكير كثير من الآخرين، لا ولاتحتمل أن توجد محرومة، ولو قليلا، من شوقها السّماويّ ومن عشقها للرّب، بل إنها تكون بكل كيانها مُسَمّرةٌ على صليب المسيح ، وتدرك فيذاتها، يومًا بعد يوم الإحساس بارتقائها الروحيّ نحو العريس الروحاني.</p>
<p>فلكونها مجروحة بالشوق السّماويّ وجائعة لبر الفضائل، فإنها تقتني استنارة الروح القدس في توق شديد بلا شبع. بل وحتى اذا ما صارتا هلا  بواسطة ايمانها لأن تنال معرفة الأسرار الإلهية، أو أضحت شريكة لبهجة النعمة السّماويّة، فإنها لا تضع ثقتها في ذاتها حاسبةٌ أنها قد صارت شيئًا، بل كلما أُهِّلت للمواهب الرُوحيّة اقَتَنت الشوق السماويٌ بلا شبّع وفتشْت عليه باجتهاد، وكلّما أدركت في ذاتها تقدمها الروحي أضحت أكثر جوعا وعطشًا للاشتراك في النعمة والنموّ فيها، وكلّما اغتَنّت روحيًا أصبحت بالأحرى مسكينةٌ عند ذاتها، إذ تقتني شوقا روحانيًا نحو العريس السَّماويَ بلا شِبّع، كما هو مكتوب في الأسفار: &#8220;الَّذِينَ يَأْكُلونني يجُوعُونَ أَيْضًا (الي)، وَالْذِينَ يَشرَبُون ويعطشون أَيضا&#8221; (سي21:24– حسب النص )</p>
<p>١) مثل هذه النفوس التي اقتنت حبّا ناريا للرّبَ بلا شبّع تصبح جديرة بالحياة الأبديّة، ولهذا أيضًا فإنها تحسب أهلًا للتّحرّر من الأهواء وتحظي بالتّمام باستنارة الرُوح القدس الفائق الوصف وبالشركة السَرَيّة معه في ملء النعمة. أما كل النفوس المائعة الرخوة فلكونها لا تزالفي الجسد، فإنها لا تطلب منذ الآن، بالصّبر وطول الأناة أن تَقبل تقديس القلب، لا جزئيا فقط، بل كليا، ولا ترجو أن تشترك بالتَمام في الروح المعزي بكلّ فهم ويقين، ولا تنتظر أن تتحرّر من أهواء الشرّ بواسطة الروح القدس، ولهذا فحتي وإن كانت تُؤهَّل للنعمة الإلهيّة، فلكونها مسروقة ٌمن الشَّر، تُسَلّم ذاتها إلى اللّامبالاة والاسترخاء.</p>
<p>٢) ذلك لأنَّها لما نالت نعمة الرُّوح القدس واقتنت عزاءً النَّعمة في راحةٍ وشّوقٍ وحلاوةٍ روحانيّةٍ ثمّ اتكلت على هذا، استعلت وتهاونت، غير منكسرة القلب ولا متواضعة اللُّبّ ، رغم انها ما بلغت بعد قامةً انعدام الأوجاع بالكمال ولا هي تَرَجَّت بكلّ اجتهادٍ وأمانةٍ امتلاءها بالتمام بالنعمة ، بل إِنَّها اكتفت بالنَّزر اليسير من تعزية النِّعمة ورَكنّت إليه وقنعت به، فبات تقَدّمُها إلى الكبرياء أكثر منه إلى الاتضاع. مثل هذه النفوس تتعرَّى في النهاية من أَيَّة موهبةٍ أُهَّلَتْ لها، وذلك بسبب استهانتها وإهمالها وتشامخها الباطل في مُخَيِّلتها.</p>
<p>فإنَّ النفس الَّتي بالحقّ تحب الله وتحبٌ المسيح، حتىٌّ وإن كانت تعمل عشرةً آلافٍ من أعمال البر، فإِنها عند ذاتها كأنها ما عَمِلَت شيئا بالمرة، وذلك من أجل شوقها الذي لا يشبع نحو الرّبَ. وإن كانت تُضْني جسدها بأصوام وأسهار، تَحَسَب وكأنها ما بدأت بعد في السعي لأجل الفضائل. وإنْ هي صارت أهلًا لأن تنال مواهب الرّوح القدس المتنوِّعة أو تحظي باستعلاناتٍ وأسرار سماوية، فكأنها ما ظَفِرت بشيء ٍفي ذاتها حتى الآن، من أجل محبتها التي بلا قياس وبلا شبع نحو الرّب. بل إنها طوال اليوم بالإيمان والمحبّة والدّأْبِ على الصلاة، يتملكها الجوع والعطش، بلا شبّع لأسرارٍ النعمة ولاقتناء كلّ فضيلة؛ وتكون مجروحة بالعشق السّماويّ الذي للرُوح القدس، ومدفوعة في ذاتها كل حين- بشّوق ناريّ، بفعل النعمة - إلى العريس السَّماوي، وتَوَّاقَةً لأن تُؤَّهْل للشركة معه بالتّمام، تلك الشركة السريّة الَتي لا يُعَبرّ عنها، في تقديس الروح. وتشخص النَّفْسُ بوجه مكشوف إلى العريس السّماوي، وجهاً لوجه، في نور روحاني لا يُنطّق به، ممتزجة به بكلّ يقين، متشبّهة بموته ومنتظرة كلَ حين، في توقٍ شديد، أن تموت لأجل المسيح، ومؤمنة بيقين أن تنال بالروح القدس الفداء الكامل من الخطيئة ومن ظلمة الأهواء حتي إذا ما تطهَّرّت بالرُوح القدس، وتقدّسَت نفساً وجسداً، تؤَّهل لتغدُو إناءً طاهراً لتَقبُّل الدُّهن السّماوي ومنزلاً للمسيح الملك الحقيقي وحينذاك تُعَيّن مستحقة للحياة السّماويّة، إذ قد صارت منذ الآن مسكنًا طاهرًا للرُّوح القدس<a href="#_ftn4" name="_ftnref4">[4]</a></p>
<h4>رسالة من القديس انطونيوس لأولاده الرهبان</h4>
<p>أعلموا أحبائي أنه من البدء لما حادت النفس عن الله الوحيد حصلت المخالفة وصار الشيطان يمضي بجميع النفوس إلى الجحيم. وكما قيل &#8221; بآدم الأول صار الموت &#8221; فتحنن الاله الكلمة وتجسد بالسر الذي لا يدرك وأكمل كل التدابير لخلاصنا فنزل إلى الجحيم وسبا سبياً وأعطى عطايا واجتذب النفوس المحبوسة فيه وخلصها من سلطة الشيطان. وحفظ غير المطيعين في الظلمة بأمره لا بسلطة الشيطان. إلى يوم الحكم الرهيب. وأصعد الذين اطاعوا وسمعوا وعملوا بالأوامر الألهية إلى السماء حيث الفردوس وكان سبب صعودهم إلى السماء النار غيرالمرئية التي هي حرارة الأعمال الصالحة، التي اشتعلت في قلوبهم. هذه النفس التي تسكنها نار الله، تشبه طيراً ذا جناحين يطير بهما ويعلو مرتفعاً في جو السماء. أما النفس التي تفتقد هذه الأجنحة فلا تبقى لها استطاعة أن ترتفع إلى الجو لفقدها قوة تلك النار وتبقى مثل طير نزع عنه جناحيه وصار لا يستطيع الطيران. وأيضاً شبهت نفس الانسان بالطير لتكون الحرارة فيه هي سبب وجوده في العالم لأن البيض إذا لم يحتضنه الطير في كل وقت فانه لا تخرج منه أفراخ لهذا قال الرب في الأنجيل المقدس يا أورشليم يا قاتلة الأنبياء وراجمة المرسلين اليها كم مرة أردت أن اجمع بنيك كما يجمع الطائر فراخه تحت جناحيه فلم تريدوا. وإذا علمتم ان الحرارة سبب الحياة للفراخ في البيضة فلا تحرموا أنفسكم من هذه الحرارة. لأن قوة هذه النار تنزع منكم حروباً كثيرة يعدها لكم الشيطان لينزع منكم هذه النار المعطاه لكم من الرب لأنه يعلم أنه لا قوة له عليكم مادامت معكم وفيكم هذه النار فجاهدوا اذاً قبالته وأعرفوا حيله لأنه يطمر لكم المرارة في الحلاوة حتى لا تظهر. ويصور لكم أشياء كثيرة حسنة وهي ليست كذلك ليميل قلوبكم اليه بحيله المتشبهة بالحق والشيطان يقاوم بقوته كل النفوس المتعبدة لله تعبداً حسناً. وأوجاع كثيرة يلقيها في النفس ليطفئ تلك النار التي تقام بها الفضيلة. وأول هذه الأوجاع راحة الجسد وما يختص بنياحه. فاذا رأى الشيطان أنه لا يطاع ولا يقبل أمره في شيء منها فانه يأتي بحيل آخر فيظهر كملاك نور أو أشياء آخر مهيبة ليميل قلوبهم اليه فاذا رآهم أيضاً متحفظين من هذه الأخر ولا يقبلونها منه ولا يسمعونها مطلقاً فانه حينئذ يولى عنهم مخزياً. وعند ذلك تسكنهم روح الله. فاذا سكنت فيهم روح الله فانها تريحهم من أتعابهم في جميع أعمالهم ويحلو لهم حمل نير الله كما كتب الأنجيل &#8221; أحملوا نيرى عليكم &#8221; ونجدهم يصبرون ولا يتعبون قط لا في عمل الفضائل ولا في الخدمة ولا في سهر الليالي. ولا يغضبوا من شتيمة الناس ولا يخافوا البتة لا من انسان ولا من وحش ولا من جان. لأن فرح الله معهم ليلاً ونهاراً، ويربى عقولهم ويغذيها . لأن النفس دائماً تتربى بهذا الفرح وتتغذى عليه وبه تسمو وتصعد إلى السماء. وكما أن الجسد قوامه وثباته بالخبز والماء لأننا نرى الطفل يتربى بلبن أمه وبعده بالطعام الرطب وبعده بما أتفق له يوماً فيوماً ويتقوى ويجسر قلبه على أعدائه المقاومين له. فان لحقه مرض يمنعه من الأكل فان أعداؤه يقوون عليه من كل جانب ويغلبونه ولا بمكنه أن ينال الصحة بعد مرضه ويغلب أعداءه إلا بملازمة الطبيب أياه ومعالجته له. وهكذا النفس الإنسانية ، اذا لم يكن فرح الله فيها فانها توجد مريضة ومطروحة بجراحات خبيثة ، فاذا هي اجتهدت في طلب انسان خادماً لله عارفاً بالطب الروحانى وتمسكت به فانه يشفيها من أوجاعها وتقوم دفعة أخرى ويعلمها ما يخص الله ويحصل لها ذلك الفرح الذى هو طعامها . وعند ذلك تقدر أن تواجه أعدائها الذين هم الأرواح الشريره وتغلبهم وتدوس كل مشوراتهم وتتكمل بالفرح. فالآن يا أحبائي اذا علمتم هذا فتحفظوا من مشورات الشيطان الردية لأنه يأتي بصورة من يقول الحق ليخدع من يقبله فاذا أتاكم بشبه ملاك نور فلا تصدقوه ولا تسمعوه منه لأنه يصطاد المؤمنين بأساليب تبدوا حسنة وهى ليست كذلك، بل والذين لم يكملوا بعد لا يعرفون حيله هذه ولا ما يلقيه في قلوبهم في كل وقت. أما الكاملون فانهم يعرفونها كما يقول الكتاب (الذين بسبب كثرة التمرن قد صارت لهم الحواس مدربه)،</p>
<p>أما المؤمنون الذين لم يكملوا اذا لم يحترسوا لذواتهم فأنه يخدعهم بطعامه الطيب الذى ليس بطيب ويجذبهم كمثل ما يجذب الصياد السمكة عندما يغطى رأس السنارة بالطعم لذلك لا يعلم السمك بالسنارة المستورة بالطعم بل يتقدم ويبلغ الطعام الجيد الذى تراه عينه فيؤخذ عاجلاً بسهولة لعدم فهمه فافهموا هذا، السمك لوعلم أنه يؤخذ بذلك الطعم لكان ينفر منه ولا يقربه بتاتاً. هكذا فلنكن لنا حكمة السمك ولا نسلك فيما نعلم انه يفقدنا الحياة الأبدية. فالعدو يصطاد المؤمنين الغير الكاملين بأساليب تشبه الحق كما يقول سليمان الحكيم &#8221; يوجد طريق يطن انها مستقيمة وآخرتها إلى أسافل الجحيم &#8221; ومكتوب أيضاً في عاموس النبى &#8221; فقال له الرب ماذا ترى يا عاموس قال أنا أرى شبكة لأخذ الطير &#8221; ومعلوم أن الطير لفزعه من أن يؤخذ من على الأرض تراه يتعالى في الجو ويصنع له في المواضع العاليه مكانًا لراحته ورقاده وهناك يكون آمناً. وقد نرى الصياد يحتال فيأتىً إلى أسفل مكانه وينصب له شبكة ويخايله بالطعم فاذا نزل من العلو يقتنصه . هكذا يصنع الشيطان ويصيد المؤمنين الغير كملاء بحيلة التي يشبهها بالحق وهي ليست كذلك وينزلهم من علوهم لأنه هكذا فعل لما اختفى في الحية وقال لحواء انكما اذا اكلتما من الشجرة تصيران آلهه وتنفتح أعينكما وتصيران عارفان للخير والشر. حواء لما سمعت هذا الكلام مال قلبها له وظنت أنه حق لأنه لم تفحص كلامه فلما أكلت وأطعمت آدم أصابهما الذل العظيم وسقطا من علوهما. وهكذا يفعل بالمؤمنين الذين لم يكملوا عندنا لا يفرقون بين الخير والشر بل يتبعون شهواتهم وأهوائهم ويتمسكون برأيهم ولا يرجعوا ليتعلموا من آبائهم الذين قد كملوا وفرقوا بين الخير والشر ويظنون في أنفسهم الكمال. فهؤلاء يا أولادى يشبهون تلك الطيور التي صنعت وكرها في الجو وهبطت إلى الأرض واقتناصها الصيادون بالحيل الخيالية. وهكذا يكون لهؤلاء لأجل اتكالهم على ذواتهم وعملهم مشيئات قلوبهم وتكميل ارادتهم وقلة طاعتهم وعدم استماعهم لآبائهم فان الشيطان حينئذ يأتي عليهم بهذه المناظر الخادعة ويصنع فيهم كبرياء القلب إذ يريهم في الليل احلاماً ويحققها لهم نهاراً ليضلهم وليس هذا فقط ويأتي لهم بأنوار في الليل حتى أن مواضعهم تضئ – ويصنع أشياء كثيرة وعلامات لا نستطيع أن تأتى عليها أو نكتبها . فعندما يقبلونه بهذه الصفة فانه يهبط بهم عاجلاً من علوهم كمثل ما ذكرنا عن هبوط الطيور من أجل روح الكبرياء لعدم الطاعة التي تملكت عليهم ويجعلهم يظنون أنها صاروا عظماء واجلاء في الروحانية أكثر من الكثيرين فلا يرجعون يسمعون من آبائهم ويتم فيهم قول الكتاب انهم عناقيد زاهرة قاسية. لأن التعليم وطاعة الآباء صارت صعبة عليهم تظنهم انهم قد عرفوا كل شيء . فيا أولادي المباركين أفهموا ما قلته لكم ، فأنكم لا تقدروا ان تتقدموا وتنموا بالزيادة ولا تكنلوا وتعرفوا ان تفصلوا بين الخير والشر اذا لم تسمعوا من تعليم آبائكم الكاملين في الروح لأن آبائنا صنعوا بسماعهم من آبائهم وتعليمهم منهم فتقدموا ونموا وصاروا معلمين كما هو مكتوب في حكمة يشوع ابن سيراخ وتعلموا من آبائكم واقبلوا تعليمهم &#8221; فيجب عليكم أن تماثلوا هؤلاء الذين اطاعوا آبائهم وسمعوا منهم في كل شيء وتسلموا من آبائهم جميع الله التي تعلموها من آبائهم وهم أيضاً صاروا معلمين لبنيهم المؤمنين الطائعين. لان اسحق اطاع إبراهيم. ويعقوب أطاع اسحق. ويوسف اطاع يعقوب، واليشع اطاع إليليا . وبولس اظاع حنانيا. وتيموثاوس اطاع بولس . وهؤلاء وأمثالهم من القديسين اطاعوا وأكملوا إرادة الله بتكميلهم الطاعة لمعلمهم في كل شيء ونفذوا مشيئتهم وعرفوا الحق وتعلموا البر واستحقوا خيرات روح الله. عند ذلك صاروا ينطقون بالحق في كل شيء كما هو مكتوب في حزقيال النبي &#8221; إنى جعلتك مدبراً لبيت إسرائيل &#8221; فالآن يا أحبائى بالرب المستقيمون بقلوبهم أن تأتوا إلى قدام وتنموا بزيادة وتصيروا غير مضطربين بقلوبكم ولا يقدر الشيطان أن يهزأ بكم في كل شيء فاسمعوا من آبائكم واطيعوا فلا تسقطوا وأنا اعلمكم شيئاً آخر يثبت الانسان من بدايته إلى نهايته، وهو أن يحب الله من كل النفس ومن كل القلب ونيته ويتعبد له . عند ذلك يعطيه الله قوة عظيمة وفرحاً وتحلوا له جميع أعمال الله مثل الشهد وكل أتعاب الجسد أيضاً ويصبح الهذيد والسهر وحمل نير الرب عليه خفيفاً حلوا . ولأجل محبة ربنا للبشر يحصنه ضد الشيطان حتى لا يتعظم بل يثبت في الجهاد ويزداد في النمو . فعوضاً عن القوة ثقلاً وضعفاً وعوضاً عن الفرح حزناً وعوضاً عن الراحة والهدوء قلقاً وعوضاً عن الحلاوة مرارة وبكثير مثل هذا يصاب بها محب الله ويتقوى بالأكثر في جهادها ويغلبها فاذا غلبها فان روح الله تكون معه في كل شيء وتقويه حتى لا يخاف البتة من شيء ردئ. وإنما اسأل سيدي الرب يسوع أن يعطيكم هذه النعمة لأجل طاعتكم ويحفظها لكم، الذي له مع أبيه وروح قدسه التسبيح والتقديس من جميع الناطقين إلى أبد الآبدين آمين.<a href="#_ftn5" name="_ftnref5">[5]</a></p>
<h4>هو يتجوَّل ويبحث عن النفوس المتأهِّلة والقادرة على قبول عظمة حبه للعلَّامة أوريجانوس</h4>
<p>نُظر الله بواسطة إبراهيم أو بواسطة قدِّيسين آخرين، وذلك خلال النعمة الإلهيَّة. لم تكن عينا إبراهيم هما وحدهما علَّة الرؤية، بل الله قدم نفسه لكي يُرى بواسطة الإنسان البار، الذي تأهَّل لرؤيته.</p>
<p>ربَّما يوجد ملاك بجوارنا الآن ونحن نتكلَّم، لكننا لا نقدر أن نراه بسبب عدم استحقاقنا.</p>
<p>ربَّما تسعى العين (الجسديَّة) أو الداخليَّة لتنال هذه الرؤيا، لكن إن لم يعلن الملاك نفسه لنا نحن الذين لنا هذه الرغبة لن نقدر أن نراه.</p>
<p>هذه الحقيقة لا تخص رؤية الله في هذا العصر الحاضر فحسب، بل وعندما نرحل من هذا العالم. لأن الله وملائكته لن يظهروا لكل البشر بعد رحيلهم مباشرة&#8230; بل توهِب هذه الرؤيا للقلب الطاهر الذي تأهَّل لرؤية الله.</p>
<p>الإنسان الذي تثقَّل قلبه بالخطيَّة ليس في نفس الموضع مع ذاك الذي قلبه طاهر، فالآخر يرى الله بينما الأول لا يراه.</p>
<p>أظنّ أن هذا حدث عندما كان المسيح هنا في الجسد على الأرض. فإنَّه ليس كل من نظره نظر الله. بيلاطس وهيرودس الوالي تطلَّعا إليه وفي نفس الوقت لم ينظراه (كإله).</p>
<p>لذلك فإن ثلاثة رجال جاءوا إلى إبراهيم في منتصف النهار بينما جاء اثنان إلى لوط في المساء (تك ١٩: ١)، إذ لم يكن لوط قادرًا أن يتقبَّل عظمة نور الظهيرة أمَّا إبراهيم فكان قادرًا على قبول كمال بهاء النور</p>
<p>رؤية الله عقليَّة وروحيَّة وليست جسديَّة&#8230; ولهذا استخدم المخلِّص بحرص الكلمة اللائقة وقال: &#8220;لا يعرف أحد الآب إلاَّ الابن&#8221; ولم يقل &#8220;يرى&#8221;. مرة أخرى يقوم للذين يهبهم رؤية الله &#8220;روح المعرفة و&#8221;روح الحكمة&#8221; حتى أنَّهم خلال الروح نفسه يرون الله (إش ١١: ٢)</p>
<p>العضو الذي به نعرف الله ليس عين الجسد، بل عين العقل، إذ يرى بما هو على صورة الخالق، ويتقبَّل فضيلة معرفته بعناية الله</p>
<p>الآن وإن كنا نبدو متأهَّلين لرؤية الله بعقلنا وقلبنا، فإنَّنا لا نراه كما هو بل كما يصير بالنسبة لنا حيث يجلب عنايته فتحملنا</p>
<p>يليق بنا أن ندرك كم من أمور يجب أن تقال عن (هذا) الحب، وكم من أمور يجب أن تقال عن الله، حيث إنَّه هو نفسه &#8220;الحب&#8221;. فإنَّه كما أنَّه لا يقدر أحد أن يعرف الآب إلاَّ الابن ومن يسر الابن أن يعلن له&#8230; بنفس الطريقة لأنَّه يدعى &#8220;الحب&#8221;، فإن الروح القدس المنبثق من الآب، الذي وحده يعرف ما هو في الله، كما أن روح الإنسان يعرف ما هو في الابن (١كو ٢ :١١) هنا فإن الباراقليط روح الحق المنبثق من الآب (يو ١٥ : ٢٦) هو يتجوَّل ويبحث عن النفوس المتأهِّلة والقادرة على قبول عظمة حبُّه، أي عظمة الله، إذ يشتهي أن يعلن ذلك لهم.<a href="#_ftn6" name="_ftnref6">[6]</a></p>
<h4>العظة الآبائية الخامسة الخاصة بالأحد الثاني من شهر توت</h4>
<h4>الشكر للقديس يوحنا ذهبي الفم</h4>
<p>ماذا تعنى &#8221; في قلوبكم للرب &#8221; ؟ أن يكون (التسبيح) بإصغاء شديد وفهم فمن لا يصغى تماماً بترنم ناطقاً بالكلمات، بينما يجول قلبه هنا وهناك</p>
<p>يقول : &#8221; شاكرين كل حين &#8230; &#8221; بمعنى : &#8221; لتعلم طلباتكم لدى الله بالشكر &#8221; (في ٤ : ٦) ،</p>
<p>فإنه ليس شيء يسر الله مثل إنسان شاكر &#8230;</p>
<p>يقول : &#8221; شاكرين كل حين على كل شيء &#8221; ما هذا ؟ هل نشكر على كل ما يحل بنا ؟ نعم ، حتى وإن حل بنا مرض أو فقر . فإن كان في العهد القديم ينصحنا الحكيم : &#8221; اقبل ما يحل بك بفرح وصبر حينما تصير إلى حال أقل &#8221; . (ابن سيراخ ٢ : ٤) ، كم بالأولى في العهد الجديد ؟ ! نعم ، قدم التشكرات حتى لو لم تعرف الكلمة ( التي تقدمها ) ! &#8230;</p>
<p>إن كنت تشكر في الراحة والرخاء والنجاح والغنى ، فهذا ليس بالأمر العظيم ولا هو بالعجيب إنما يلزم الإنسان أن يشكر حين يكون في أحزان وضيقات ومتاعب . ليست كلمة أفضل من القول : &#8221; أشكرك أيها الرب &#8221; &#8230;</p>
<p>لنشكر الرب على البركات التي نراها والتي لا نراها أيضاً، والتي نتقبلها بغير إرادتنا ، فإن الكثير من البركات ننالها بغير رغبتنا ودون معرفتنا &#8230;</p>
<p>حينما نكون في فقر أو مرض أو نكبات فلنزد تشكراتنا ، لا أقصد بالتشكرات خلال الكلمات واللسان ، وإنما خلال العمل والأفعال ، وفى الذهن وبالقلب لنشكره بكل نفوسنا ، فإنه يحبنا أكثر من والدينا ، وكبعد الشر عن الصلاح ، هكذا الفارق الشاسع بين الحب الله لنا وحب أبائنا . هذه ليست كلماتى ، إنما هي كلمات المسيح نفسه الذى يحبنا . اسمعه يقول : &#8221; أم أي إنسان منكم إن سأله ابنه خبزاً يعطيه حجراً ؟ ! &#8230;. فإن كنتم وأنتم اشرار تعرفون أن تعطوا أولادكم عطايا جيدة فكم بالحرى أبوكم الذى في السماوات ، يهب خيرات للذين يسألونه ؟ ! (مت ٧: ٩ - ١١) .</p>
<p>اسمع أيضاً ما قيل في موضع آخر: &#8221; هل تنسى المرأة رضيعها، فلا ترحم ابن بطنها؟! حتى هؤلاء ينسين وأنا لا أنساك &#8221; (إش ٤٩ : ١٥)</p>
<p>إن كان لا يحبنا ، فلماذا خلقنا ؟ هل من ضرورة تلزمة على خلقنا ؟ هل نحن نقدم له عوناً أو خدمة؟ هل يحتاج منا أن نرد له شيئاً  ؟ اسمع ما يقوله النبى: &#8221; قلت للرب: أنت ربى ، خيرى لا شيء غيرك &#8221; (مز ١٦ : ٢) &#8230; لنمجد الله على كل شيء!<a href="#_ftn7" name="_ftnref7">[7]</a></p>
<h4>العظة الآبائية السادسة الخاصة بالأحد الثاني من شهر توت</h4>
<h4>حكمة الله قد كشفت لنا أسرار القوات العلوية للقديس غريغوريوس النيسي</h4>
<p><strong>مرآة الكنيسة :</strong></p>
<p>والآن صوت الكلمة هو صوت القوة فى الخليقة ، هو النور الذى يشرق على وصيته ، وهو يأمر فان السماء توجد وكل المخلوقات أيضا توجد حين ينطق الله بالكلمة . والأن أيضا حين ينطق الكلمة للعروس أن تأتى اليه فأنه فى الحال يعطى قوة للوصية وتنفذ ما يريده العريس فى الحال . وتتحول العروس الى شىء سماوى وتتغير النفس من المجد الذى توجد عليه الى المجد الأعلى وذلك حين تسلك فى الكمال . ولهذا فان خورس الملائكة الذى يحيط بالعريس يعبرون عن اعجابهم بالعروس بكلمات المديح هذه &#8221; قد سبيت قلبى يا أختى العروس &#8221; (نش ٤ : ٩) لأن الكمال المنسوب للعريس والذى يشع منه على الملائكة وعلى النفوس التى تتبعه أيضا يجعلها مثله فى طهارة وبلا شهوة جسدية وتصير النفس فى علاقة كأخت لهذه القوات السمائية الملائكية ولذلك يقولون لها قد سبيت قلبى ياأختى العروس لأنها أصبحت أختا لهم بسبب كمالها وأطلق عليها كلمة عروس بسبب شركتها مع العريس الكلمة أما معنى كلمه قد سبيت قلبى فهو أنك قد أعطيتنا حياة كما لو كانوا يريدون أن يقولوا لها أنك قد أعطيتنا قلبا فى داخلنا وهذا هو ما فسره الرسول بولس حين قال &#8221; لكى يعرف الآن عند الرؤساء والسلاطين فى السماويات بواسطة الكنيسة بحكمة الله المتنوعة حسب قصد الدهور الذى صنعه فى المسيح يسوع ربنا الذى به لنا جراءة وقدوم بايمانه عن ثقة &#8221; (أف ٣ : ١٠ - ١٢) وتفسير ذلك أن حكمة الله قد كشفت لنا أسرار القوات العلوية التى تعلن حكمة الله وعجائبه .</p>
<p>ولكن كيف تأتى الحياة بعد الموت ؟ وكيف تتحول الخطية الى بر والشتيمة والسب الى مديح . والخوف الى مجد والضعف الى قوة ؟ أن هذه القوات السمائية لها خبرة فقط بالحكمة الالهية التى تصنع المعجزات ، والله الكلى القدرة يعمل خلال قواته ويأتى بالخليقة الى الوجود حين يريد الله ذلك وهو خلق كل الأشياء حسنا لأنها أتت من مصدر واحد كله جمال وهو الله . ولكن حكمة الله المتنوعة هذه قد أعلنت الآن خلال الكنيسة . كيف صار الكلمة جسدا؟ كيف أتحد الموت بالحياة لأننا نحن شفينا بجراحاته وآلام الصليب هزمت كل قوات العدو . الله غير المنظور فى الجسد حرر كل من سباهم الشيطان وأصبح الله نفسه هو المشترى وهو الثمن أيضا ، لأنه أسلم نفسه للموت من أجل فدائنا وهو لم ينفصل عن الحياة وهو فى آلام الموت . هو جاء كعبد ولكنه لم يزل ملكا .</p>
<p>كل هذا وغيره أيضا هو عمل الحكمة الالهية المتنوعة والتى هى غامضة علينا. ان كل أصدقاء العريس يتعلمون خلال الكنيسة ويعطى لهم قلبا جديدا لكى يدركوا أسرار الحكمة الالهية الآخرى . وأيضا اذا ما نحن رأينا جمال العريس مطبوعا فى العروس ومدركا فى الخليقة كلها فأننا نمتلىء تعجبا لأن رغم أن &#8221; الله لم ينظره أحد قط &#8221; (١يو ٤ : ١٢) كما يقول الرسول يوحنا أو كما يقول بولس الرسول &#8221; ولا يقدر (أحد) أن يراه &#8221; (١تي ٦ : ١٦) ولكنه حين صنع الكنيسة التى هى جسده وبناها على الحب خلال نمو الانسان جعلنا نتحد كلنا ونصير واحدا فى كمال واحد &#8221; الى انسان كامل الى قياس قامة ملء المسيح &#8221; (أف ٤ :١٣) واذا كانت الكنيسة هى جسد المسيح ، فان المسيح هو رأس هذا الجسد وأعطى الكنيسة طهارته حيث نرى فى الكنيسة نقاوة غير المنظور مثل انعكاس النور فى السماء وهكذا فان أصدقاء العريس يرون شمس البر حين يبصرون وجه الكنيسة كما لو كانت مرآة نقية وعندئذ نستطيع أن ترى المسيح بانعكاس نوره على الكنيسة.</p>
<p><strong>احدى عينيك</strong></p>
<p>وهنا يقول أصدقاء العريس الى العروس &#8221; قد سبيت قلبى ياأختى العروس. قد سبيت قلبى باحدى عينيك &#8221; (نش ٤: ٩).</p>
<p>وهذا معناه أنك قد أعطيتنا روحا وعملا بهما نستطيع أن نرى النور الذى فيك وهم اذ يكررون ذلك لنما هم يضيفون الى تأكيدهم ثقة.</p>
<p>أما تفسير كلمة باحدى عينيك فهو أن الروح لها عملان فى النظر أولهما هو رؤية الحق حين نبتعد عن الأشياء الحسية والثانية هى حين ننحرف ونخضع لسلطان الحواس . والمعنى هو أن العين النقية للعروس هى مفتوحة فقط لرؤية البر والصلاح أما العمل الثانى فهو معطل تماما . ولذلك يمدح الأصدقاء احدى عينيها وهى تلك التى تراه هو فقط ذاك الذى له طبيعة آبدية غير متغيرة هو الآب الحقيقى والأبن الوحيد والروح القدس . وهذا الثالوث هو واحد ولا يوجد أى انفصال بين الأقانيم الثلاثة رغم وجود عمل مختلف عن الآخر لكل آقنوم ولكن هناك وحدة كاملة بينهم . ولكن يوجد بعض البشر لا يستطيعون الرؤية لأنهم يتصورون الأنفصال بين الثالوث وهم لذلك لا يبصرون أى شىء . أما الذين يتطلعون الى الله فأنهم يبتعدون عن رؤية الأشياء المادية عديمة الوجود .</p>
<p>ولكن الانسان الذى لديه الرؤية الحادة نحو الله فهو يصير مثل الأعمى بالنسبة للأشياء الأخرى المادية التى تجذب العين .وهذا هو السبب الذى من أجله تمدح العروس من الملائكة وهم أصدقاء العريس على احدى عينيها فقط لأنها اغمضت العين الأخرى عن رؤية الأمور الزائلة . أما الانسان الذى لديه اعين كثيرة فهو أعمى بالنسبة للأمور الروحية لأنه يستعمل عيونه فى رؤية الأشياء الزائلة فقط . ولكن العين الحادة والنظر الطاهر هو لذلك الانسان الذى ينظر باحدى عينيه فقط الى الصلاح ولهذا فان النص يبدو غامضا &#8221; قد سبيت قلبى باحدى عينيك بقلادة (سلسلة ) واحدة من عنقك &#8221; (نش ٤ : ٩). ومعنى الكلمة بعين واحدة أى بروح واحدة لأن الانسان الجسدى لا يتمتع بالوحدة فى الهدف لوجود شهوات متعددة تملك على روحه وتصير منهزمة من الشهوات المتعددة ويكون نصيبها عندئذ هو الحزن والملذات والغضب والخوف والوقاحة والجبن .</p>
<p>لذلك نحن نتعلم أن الانسان الذى يتطلع الى العريس الكلمة تصير له روح واحدة فقط بسبب انتظام حياة الفضيلة . وهذا هو السبب الذى من أجله نفهم معنى كلمة &#8221; باحدى &#8221; أنه مطابق للكلمة بروح واحد ونظام واحد .</p>
<p>أما تفسير الآية &#8221; بقلادة واحدة من عنقك &#8221; فهو أن القلادة هى السلسلة التى عليها نيشان يعلق فى الرقبة . ومعنى ذلك هو أن عين العروس أصبحت تنظر الى أمر واحد فقط وهو العريس الكلمة وصارت لها روح واحدة فقط لأنها غير منقسمة للشهوات المختلفة التى تحاول أن تستعبدها وأصبح شكل رقبتها كاملا لأنها تحمل عليها نير تبعية المسيح الذى هو قلادة فى العنق الذى هو النظر الدائم والهدف المستمر نحو البر فقط . وهذا هو مثار مدح أصدقاء العريس وتعجبهم من العين الواحدة والروح الواحدة وحمل نير المسيح والآن بعد أن عرفنا أن أصدقاء العريس هم الملائكة وهذا هو سبب مديحهم لها ثم جاء العريس وأكد أيضا هذا المديح وشهد أيضا لجمال العروس التى هى الكنيسة وهذا ما سوف نتحدث عنه فى التأمل التالى عن سر جمال الكنيسة التى هى عروس المسيح<a href="#_ftn8" name="_ftnref8">[8]</a></p>
<h3>عظات اباء وخدام معاصرين</h3>
<h4>عظة لقداسة البابا تواضروس الثاني</h4>
<p><strong>محبة الله الآب</strong></p>
<p>+ هذا الشهر يتحدث عن محبة الله الآب ، ولذا نرى نظرة شاملة في محبة الإنسان لله كما يلى</p>
<p>١- كل القلب = الروح           روح هادئة فرحة .           بالعبادة / الصلاة والتسبيح</p>
<p>٢- كل النفس = النفس       نفس سوية مستقرة .      بالتوبة والاعتراف والتناول</p>
<p>٣- كل القدرة = الجسد.     جسد معافى صحيح.          بالصوم والانقطاع</p>
<p>٤- كل الفكر = العقل.         عقل ناضج نابض.               بالكلمة والانجيل</p>
<p>+ المسيحية صاحبة نظرة شمولية للإنسان تعالجه وتشبع عناصره الأربعة (روح ونفس وجسد وعقل) دون إهمال لعنصر أو تصغير أواهتمام بواحد دون الأبعاد الأخرى &#8230; مثل:</p>
<p>فلسفات احتقرت الجسد وجعلته عدو الإنسان الأول.</p>
<p>فلسفات نادت: نأكل ونشرب لأننا غداً نموت ، وهذا نسميه ( تسفيه الروح )</p>
<p>فلسفات اهتمت بالغرائز دون العقل والروح وخاصة الجنس والدنس</p>
<p>فلسفات اهتمت بالعقل والوجود فقط &#8230; وهكذا</p>
<p><strong>الاستعداد للملكوت</strong></p>
<p>+ كيف نستعد للملكوت؟</p>
<p>سؤال هام يليق مع بداية العام القبطي الجديد ويقدم لنا أنجيل هذا الأحد الأجابة عن هذا السؤال: أنها &#8221; المحبة &#8221; بكل أبعادها فهى الطريق الوحيد للملكوت</p>
<p>+ ما هي أبعاد هذه المحبة ؟</p>
<p>إنها ثلاثة  ابعاد يمكن تلخيصها فيما يلى:</p>
<p>١- محبة شاملة : ( مثل ) قصة الشاب الغنى</p>
<p>٢- محبة عاملة : ( مثل ) السامرى الصالح</p>
<p>٣- محبة دائمة : (مثل ) مريم ومرثا</p>
<p>+ وعين المحبة  لا ترى الخطأ وتستر على الضعف ، وتترجى كل شيء وتشجع كل شيء</p>
<p>+ وسواء كانت المحبة &#8221; شاملة &#8221; لله . و &#8221; عاملة &#8221; لكل الناس . فالمهم أن تكون &#8221; دائمه &#8221; في حياة الإنسان</p>
<p>+ وصية المحبة : المحبة للناس برهان المحبة لله . ومحبة الله نبع محبة للناس</p>
<p>القلب منه محبة الله: النفس ( المحبة في صورة العبادة )</p>
<p>القدرة (المحبة في صورة الطاعة)</p>
<p>الفكر (المحبة في صورة التأمل )<a href="#_ftn9" name="_ftnref9">[9]</a></p>
<h4>الأحد الثانى من شهر توت المبارك للمتنيح القمص تادرس البراموسي</h4>
<p><strong>أفعل هذا. فتحيا (لو ١٠ – ٢١ – ٢٨)</strong></p>
<p>قدم الرب يسوع له المجد الشكر للأب على أن الحق الروحى معلن لكل إنسان وليس لصفوه معينة من الشعب أو للمختارين فقط أو الذين لهم اليد الطولي في الحصول على كثير من المزايا. ويبدوا أن العديد من منافع هذا العالم ومزاياه تذهب فقط للإنسان الذكي أو الغنى أو بهى الطليعة. والحقيقة أن هذا الأمر متاح للجميع والتكافؤ بغض النظر عن المركز والامكانيات المادية أو القدرات البشرية ونحن إذ نتقدم للرب يسوع. لا بقوتنا أو بذكائنا ورجاحة عقولنا، بل بثقتنا وايماننا لنرفع الشكر إلى الله. على أن لنا جميعاً فرصة للوصول إلى معتمدين على دم المسيح الفادى.</p>
<p>في كل مجال لم يترك الرب فرصة إلا ويوضح فيها أمور كثيرة لأجل حياتهم ولأجل الخدمة وعن لاهوته. الحقيقة أن التلاميذ تمتعوا بكثير من المزيا في وجودهم مع الرب يسوع وفى هذا الإنجيل نظر إليهم وقال: طوبى للعيون التي تنظر ما تنظرونه. الحقيقة لم يتمتع أحد بمثل هذا الجمال الذي تمتع به التلاميذ ثم قال لهم موضحاً. أن الأنبياء وملوك أرادوا أن ينظروا ما أنتم تنظرونه وأن يسمعوا ما أنتم تسمعون ولم يسمعوا. في كل هذا العمل العظيم والكلام الجميل المعزى من فم الرب يسوع أحد الناموسين لكي يجربه ما أبخسك أيها الإنسان نحن في عمق التعزية وأنت في حضن الشيطان. قام يجرب الرب يسوع قائلاً يا معلم ماذا أعمل لأرث الحياة الأبدية. الرب يسوع يعلم ما ينويه هذا الرجل إلا أنه أراد أن يعطيه كلمه الخلاص لعله يتوب فقال له. ما هو مكتوب في الناموس وكيف يقرأ. فأجاب الرب وقال تحب الرب إلهك (لو ١٠ – ٢٧) فقال الرب يسوع بالصواب أجبت. افعل هذا فتحيا. ولنا تأمل في قصة هذا الرجل الناموسى الذى أراد أن يجرب الرب يسوع ففي إيجاز نقول: -</p>
<p><strong>العظة الأولى</strong></p>
<p>أ – عطايا الله للبشر</p>
<p>ب – إعلان ما خفى عن الحكماء</p>
<p>ج – مسرة الآب في إيماننا</p>
<p>د – الطوبى لكل مستحقيها</p>
<p>ه - عمل الروح القدس في العهد الجديد</p>
<p>و – تقديم الشكر في البداية والنهاية</p>
<p>ذ – إعلان ملكوت الله وشروطه</p>
<p>ح – كبرياء الإنسان وتجربة الديان</p>
<p>ط – حفظ القشور والبعد عن الصواب</p>
<p>ى – نصيب المسيحية لم ينله الأنبياء</p>
<p><strong>العظة الثانية</strong></p>
<p>أ – سؤال من أهم الاسئله في الحياة</p>
<p>ب – ماذا أعمل لأرث الحياة الأبدية</p>
<p>ج – عن القلب وطلاقه اللسان</p>
<p>د – مجرب وليس أمين لا يستحق النعمه</p>
<p>ه - أجابه تحث القلب وتيقظ الضمير</p>
<p>و – كيف نهتم بالداخل ونترك الشكليات</p>
<p>د – ابحث عن الفعل وليس القول أفعل هذا فتحيا</p>
<p>ح – حرمان الحكماء وفرحه الأطفال</p>
<p>ط – كنوز الحكمة. وأبناء النعمة</p>
<p>ى – حواس الإنسان ونعم المنان</p>
<p><strong>العظة الثالثة</strong></p>
<p>أ – مسرة الله في خلاص الخطاة</p>
<p>ب – مساوات الأبن بالآب وإعلان ذلك</p>
<p>ج – النعمة المعطاة وحرمان الخطاة</p>
<p>و – الحكمة في الطلب والغش في السؤال</p>
<p>ه - تهور الشباب ونسيان القيم</p>
<p>و – إعلان الوصية والتزام البشرية</p>
<p>ذ – الناموس المختار ورافض الثمار</p>
<p>ح – أجابت السؤال وسوء الأعمال</p>
<p>ط – لم يعرف القريب ومن الصواب غريب</p>
<p>ى – تكريس الحواس والبعد عن الوسواس<a href="#_ftn10" name="_ftnref10">[10]</a></p>
<h4>عظة عن قراءة اليوم للمتنيح القمص بولس باسيلي</h4>
<p><strong>ماذا اعمل لأرث الحياة الأبدية</strong></p>
<p><strong>الوصية العظمى!!</strong></p>
<p>تقسيم على ضوء القراءات الكنسية:</p>
<p>البولس :      (٢ تی۱ : ۱۲ - ۲ : ۱ – ١٠)</p>
<p>كاثوليكون :   (يعقوب۲ : ٥ -١٣)</p>
<p>ابركسيس:    (أع١١: ١٩ - ٢٦)</p>
<p>الانجيل:       (لوقا۱۰: ۲۱ - ۲۸)</p>
<p><strong>تمهيد:</strong></p>
<p>حول كلمة &#8221; المحبة &#8221; اجتمعت جميع القراءات الكنسية لهذا الفصل، فالبولس يوصى بالتمسك بها (۲ تی ۱: ۱۳) والكاثوليكون يعتبرها تكميل الناموس (يع ۲ : ۸) ، والأبركسيس يحدثنا عن أول مرة دعى فيها التلاميذ مسيحيين ، وجوهر المسيحية المحبة لأن الله محبة (أع ١١ : ٢٦) والانجيل يدور حول محورها &#8221; تحب الرب الهك &#8230; وقريبك مثل نفسك &#8221; (لو ۱۰ : ۲۷)</p>
<p><strong>القسم الأول: دوافع المحبة</strong></p>
<p>(١ ) لأن المحبة تكميل الناموس &#8221; إن كنتم تكملون الناموس الملوكى تحب قريبك كنفسك فحسناً تفعلون (يع ٢ : ٨) ( أنظر الكاثوليكون )</p>
<p>(٢ ) لأن المحبة باب الملكوت &#8221; ورثة الملكوت الذي وعد به الذين يحبونه &#8221; (يع ٢ : ٥) ( أنظر الكاثوليكون )</p>
<p>(٣) ولأن المحبة أساس المسيحية &#8221; تمسك بصورة الكلام الصحيح الذي سمعته منى في الإيمان والمحبة &#8221; (۲تی۱ : ۱۳) ( أنظر البولس ) وعلى أساس المحبة &#8221; دعى التلاميذ مسيحيين في أنطاكية أولا &#8221; (أع ١١ : ٢٦) ( أنظر الأبركسيس )</p>
<p>(٤ ) ولأن المحبة هي الوصية العظمى &#8221; يا معلم أية وصية هي العظمى في الناموس فقال له يسوع تحب الرب إلهك . . . هذه هي الوصية الأولى والعظمى &#8221; (مت۲۲ : ٢٦ - ٢٨)</p>
<p>( ه ) ولأن المحبة هي الذبيحة العظمى &#8220;محبة من كل القلب . . . ومحبة القريب كالنفس هي أفضل من جميع المحرقات والذبائح &#8221; (مر ۳۳:۱۲) (۱کو ۳:۱۳)</p>
<p><strong>القسم الثاني : قوانين المحبة</strong></p>
<p>(١) أن تكون بحرارة وسخاء &#8221; من كل قلبك ومن كل فكرك ومن كل قدرتك ومن كل نفسك &#8221; (مت ۲۲: ۷) &#8221; فأحبوا بعضكم بعضاً من قلب طاهر بشدة &#8221; (۱بط ۱: ۲۲)</p>
<p>(٢) وأن تكون مخلصة وبلا رياء &#8221; المحبة فلتكن بلا رياء &#8221; (رو ۱۹:۱۲) (٢کو ٦: ٦) كمحبة يوناثان لداود (۱صم ۲۰: ۱۷)</p>
<p>(٣) و أن تكون للجميع بلا استثناء &#8221; نحو بيوتنا (أف ه: ٢٥) و &#8221; نحو وطننا (خر ۳۲: ۲۳) و &#8221; نحو الغرباء (رو ۱۲: ۱۳) و &#8221; نحو الأعداء (مت ه: ٤٤) و &#8221; نحو الجميع (غلا ٦ : ١٠)</p>
<p><strong>القسم الثالث: ثمار المحبة</strong></p>
<p>(١) في الرفق بالانسان &#8221; الله ليس بظالم حتى ينسى عملكم وتعب المحبة التي أظهرتموها نحو اسمه إذ قد خدمتم القديسين وتخدمونهم &#8221; (عب ٦: ١٠) (مت ٣٥:٢٥)</p>
<p>(٢) في مشاركة الوجدان &#8220;فرحاً مع الفرحين و بكاء مع الباكين &#8221; (رو ١٢: ١٥) (ا کو ١٢: ٢٦) كمحبة يوسف لاخوته ، وراعوث لحماتها في الصفح والغفران &#8221; كونوا لطفاء بعضكم نحو بعض شفوقين متسامحين &#8221; (أف ٤: ٣٢) (کو ۳: ۱۳))</p>
<p>(٣) تأملات روحية نقاط تفسيرية&#8230;</p>
<p>في عظة الأحد الثاني من توت (لو ۱۰: ۲۱ - ۲۸)</p>
<p>&#8220;تهلل يسوع بالروح&#8221; لأول مرة نرى يسوع يتهلل بالروح ، لأول مرة يسجل له الكتاب &#8220;ضحكة واحدة &#8221; بينما سجل له &#8221; ثلاث دمعات &#8221; دمعة على أورشليم يرثيها ويبكيها ، ودمعة على لعازر حبيبه ، ودمعة في بستان جثسيمانى حتى تصبب عرقه كقطرات الدم !!</p>
<ul>
<li>ليست المسيحية شيئاً مقبضاً مظلماً كئيبا ، إنها فرح مقدس عظيم ، إن المسيحية لا تطلب الذهاب دائما إلى بيت النوح ، ولكنها تطلب الذهاب أيضا إلى بيت الفرح &#8221; افرحوا في الرب كل حين وأقول لكم أيضا افرحوا &#8221; (في٣: ١) وقول النبي &#8221; اعبدوا الرب بفرح &#8221; (مز١٠٠: ٢ )وكقول المرنم &#8221; اسمعنى سروراً وفرحا فتبتهج عظام سحقتها &#8220;(مز٥١: ٨) ، و &#8220;الصديقون يفرحون ، يبتهجون أمام الله ويطفرون فرحا &#8220;(مز ٦٨: ٢)، لقد ذهب المسيح إلى بيت لعازر الميت ، و بيت ابنة يايروس ، وسار في جنازة ابن الأرملة ولكنه أيضا لبي عرس قانا الجليل .</li>
<li>وفرق كبير بين فرح وفرح: فرح العالم وفرح الروح ، فرح العالم في الخمر واللهو ، فرح الروح في الرب. فرح العالم كثيراً ما يستحيل حزنا، وفرح الروح ان ينتهى (اي ٢٠: ١٨) .</li>
</ul>
<p>لخص أحدهم مثل السامرى الصالح في أربعة مواقف:-</p>
<p>موقف اللصوص الذين سلبوا الرجل ماله، وشعارهم &#8220;كل مالك فهو لى&#8221;</p>
<ul>
<li> موقف الكاهن واللاوى اللذين رأيا الجروح واجتازا دون عمل شئ. وشعارهما: &#8220;كل ما لى فهو لى &#8220;. *موقف صاحب الفندق الذي يعالج المجروح بالأجر، وشعاره: &#8221; بعض ما لى نظير بعض مالك &#8220;</li>
<li>موقف السامري الذي يعتبر المجروح قريبه الذي يجب أن يعتنى به ، وشعاره: &#8220;كل ما لى فهو لك &#8220;. و •&#8221;من هو قريبي؟ &#8221; توجد في العالم ألوان كثيرة، ولكنها كلها أشعة من الشمس الواحدة: الندى، المطر ، الضباب ، البخار ، وكلها ما . في صور مختلفة.</li>
<li>المسافة بين أورشليم وأريحا نحو عشرين ميلا أرضها أودية عميقة ، تكثر فيها الكهوف ، وفى صخورها يكمن اللصوص وقطاع الطريق ، حتى أنها دعيت &#8221; الطريق الحمراء &#8221; نسبة لكثرة ما يراق فيها من دماء المسافرين ، و لكن شكرا لله لأن هذه الطريق عينها سار فيها &#8220;السامرى الصالح &#8221; دون خوف أو وجل ، واستطاع أن يحيل &#8220;الطريق الحمراء &#8221; إلى &#8220;طريق بيضاء &#8221; وهكذا &#8221; من الأكل خرج أكل ومن الجافى خرجت حلاوة ، ! !</li>
<li>لماذا &#8220;تهلل يسوع بالروح &#8221; ؟ وما الدافع إلى هذا الفرح؟ اقرأ السبب في الأعداد السابقة: &#8221; فرجع السبعون بفرح قائلين يا رب حتى الشياطين تخضع لنا باسمك &#8221; فسبب التهليل والفرح نجاح الكرازة وانتصار الحق ، وقبول الكثيرين لبشارة الخلاص ، حتى رب المجد قال لهم , رأيت الشيطان ساقطا مثل البرق من السماء ، ! !</li>
<li>&#8220;اخفيت هذه عن الحكماء والفهماء وأعلنتها للاطفال &#8221; :</li>
</ul>
<p>ومعنى هذا أن أسرار ملكوت السموات لم تكشف لفلاسفة ذلك العصر، ولا لعلماء اليهود ، بقدر ما كشفت للتلاميذ الصيادين والجهلة ، حتى أن الرسول يقول:</p>
<p>&#8221; اختار الله جهال العالم ليخزى الحكماء ، واختار الله ضعفاء العالم ليخزى الأقوياء&#8221; واختار الله أدنياء العالم والمزدرى وغير الموجود ليبطل الموجود &#8220;(١كو ١: ٢٧)</p>
<p>وطبيعي أن الوحى يقصد &#8220;بالحكماء &#8220;هنا ، الحكماء في أعين أنفسهم ، أو المدعين الحكمة حتى أنه مكتوب &#8221; سأبيد حكمة الحكماء وأرفض فهم الفهماء ، اين الحكيم اين الكاتب اين مباحث هذا الدهر ، ألم يجهل الله حكمة هذا العالم ؟ &#8220;(١كو ١: ١٩)</p>
<ul>
<li>أما قوله &#8221; أعلنتها للاطفال &#8221; فيشير بها إلى شيئين :</li>
</ul>
<p>الشيء الأول : التلاميذ الذين هم في عداد الأطفال من حيث القداسة والبراءة والطهارة .</p>
<p>والشيء الثاني أنهم في عداد الأطفال من حيث سذاجتهم وجهالتهم بوصف كونهم صيادين فقراء ، وعشارين محتقرين من الناس</p>
<ul>
<li>عند الربيين أقوال ذات مغزى في المحبة :</li>
</ul>
<p>+&#8221;الذي يعيش كريما مضيافا من تلقاء نفسه له الفردوس &#8221; .</p>
<p>+&#8221;إن ضيافة الغريب المسافر أعظم من التمتع بإعلان إلهى &#8220;.</p>
<p>+ &#8220;كل من زار مريضا ينج من دينونة جهنم&#8221;.</p>
<ul>
<li>&#8220;كيف تقرأ &#8221; ؟ قال أحد الفلاسفة &#8221; إنني دائم السفر والتجوال لألقى الفلاسفة والعلماء والأدباء والمفكرين من كل جنس ودين ، غير عابئ بالزمن والحدود أو حالة الجو &#8221; فأنا أصغى بوساطة الكتب  إلى الأموات القدامى ، كما أصغى إلى الأحياء الذين تفصلني عنهم المسافات الشاسعة وتختلف أجواء بلادهم عن جو بلادنا تمام الاختلاف &#8230;&#8221; .</li>
<li>إن في أذهاننا جميعا شيئاً من الفراغ تتسع رقعته أو تضيق تبعا لاهتمام المرء.</li>
</ul>
<p>بالقراءة والدراسة أو إهماله إياهما ، ومن حسن الحظ أن القراءة هي المتعة الوسعيدة التي لا يمكن أن يسأمها المرء بعد حين ، وأيا ما كانت مشاغل المرء اليومية ، فإن لديه ساعة أو ساعتين قبل النوم أو في الصباح الباكر يستطيع أن يطالع خلالها في كتاب الله ثم في كتب الأدب والاجتماع أو أي كتاب يتعلق وهوايته المفضلة .</p>
<ul>
<li>&#8220;من هو قريبى &#8221; ؟ قال جبران خليل جبران :</li>
</ul>
<p>&#8221; بخبثهم واحتيالهم فرقوا بين العشيرة والعشيرة ، وأبعدوا الطائفة عن الطائفة ، و بغضوا القبيلة بالقبيلة فحتى متى نتبدد كالرماد أمام هذه الزوبعة القاسية ، ونتصارع . كالأشبال الجائعة بقرب هذه الجيفة المنتنة ؟ &#8220;.</p>
<p>&#8221; لحفظ عروشهم وطمأنينة قلوبهم قد سلموا الدرزي لمقاتلة العربي ، وحمسوا الشيعي لاصارعة السني &#8221; ، ونشطوا الكردي لذبح البدوى ، وشجعوا الأحمدى لمنازعة المسيحى ، فحتى متى يصرع الأخ أخاه على صدر الأم ، وإلى متى يتوعد الجار جاره ، ويتباعد الصليب عن الهلال أمام عين الله؟<a href="#_ftn11" name="_ftnref11">[11]</a>&#8220;.</p>
<h4>أريد أن أري الله للقمص يوحنا باقي</h4>
<p><strong>الباب الاول</strong></p>
<p><strong>أريد أن أري الله</strong></p>
<p>* أنا أؤمن بوجود الله ولكني أريد أن أراه بعينى ، فمن حقى أن أرى إلهی ، فكيف أعبد إلهًا لا أراه ؟!</p>
<p>+ ثم إن الله غير محدود ويملأ كل مكان وهو أعلى من أن تراه . أنت مخلوق صغير من مخلوقاته ، فلا تستطيع أن تحصره ، فهو ليس مثل اخلوقات التي تراها بعينيك بل هو خالق الكل وإن رأيته مثل باقي المخلوقات فلا يكون هو الله</p>
<p>* أنا أعلم أنی محدود وهو غير محدود ولكني أريد أن أرى ولو شيئًا منه</p>
<p>+ تستطيع إدراكه من خلال مخلوقاته، كما يقول معلمنا بولس الرسول&#8221; لان أموره غير المنظورة ترى منذ خلق العالم مدركة بالمصنوعات قدرته السرمدية ولا هوته &#8220;(رو١: ٢٠) .</p>
<p><strong>كما يظهر ذلك في:</strong></p>
<p>١- خلق الله لكل هذه المخلوقات من العدم ولا يمكن أن تتطور المخلوقات إلا من مخلوقات أولى ولكن من خلق المادة التي تطورت منها كل هذه المخلوقات إلا الله؟</p>
<p>٢- أبدع الله في مخلوقاته سواء النباتات بأزهارها الجميلة وروائحها العطرية التي لا يستطيع الإنسان أن يصنع مثلها في الجمال، والحيوانات المختلفة بأشكالها المتباينة، وفوق الكل الإنسان الذي مازال العلماء يدرسون عظمة تكوينه ولم يدركوا إلا القليل عنه</p>
<p>٣- نظام الكون الذي لا يمكن أن يوجد إلا بواسطة منظم، الذي هو الله، فالكواكب تدور في مسارات محدودة رغم ضخامتها ولو انحرف أحدها ولو قليلاً لتحطم الكون كله لأنه مترابط، وكل مجموعة شمسية تتحرك كواكبها بنظام خاص ودقيق فلا يتعارض مع باقي المجاميع الشمسية داخل ما يسمى بالمجرات ؛ ويوجد في العالم ملايين المجرات . فمن هو المنظم العظيم لكل هذه إلا الله أنت تثبت لى وجود الله. أشكرك جداً على هذا، ولكن مازالت أشواق قلبي أن أراه لأني أحبه. أنا لا أشك في وجوده، ولكني مشتاق أن ألمسه.</p>
<p>+ إن موسى قبلك طلب أن يرى الله، ولكن الله قال له أنه لا يمكن أن يراه إنسان، فلأجل مجده وبهائه العظيم لا يحتمل أحد أن يراه</p>
<p>+ ولكن موسی تکلم مع الله كثيرا فإن كنت لا أحتمل عظمته ومجده، ولكن أريد أن أراه بأي طريقة وأشعر بوجوده. لقد تمتع الناس برؤياه عندما تجسد وعاشوا معه ولمسوه، وبالطبع ساعدهم هذا على الحياة الروحية ومعرفته.</p>
<p>+ حقا إنها نعمة كبيرة تمتع بها كل من عاشوا أيام تجسد المسيح. ولكن لا تنسى أن كثيرين لم يؤمنوا، بل قاموا عليه وصلبوه. وهو أيضا لم يحرم كل من عاشوا على الأرض بعد صعوده بأن أعطانا الروح القدس ليسكن فينا ويشعرنا بوجوده.</p>
<p>+ الخلاصة أنا أريد أن أرى الله &#8230; أنا شخص عادي لا أريد أبحاثًا عن الله ولكني أريده هو لأني أحبه &#8230; أرشدني إلى وسائل تساعدني أن أرى الله .</p>
<p><strong>الباب الثاني وسائل رؤية الله</strong></p>
<p>إن الله يحبك ويريد أن يظهر نفسه لك، ولكن لأنك مازلت في الجسد لا تستطيع أن تنطلق في تمتعك برؤياه، فالجسد كالستارة التي تحجب عنك الكثير من عظمة الله ، ولكن على قدر ما تحيا بالروح وتخضع الجسد لها تنطلق تدريجيًا من سجن الجسد لتعاین الله ، فيبدأ الله بكشف نفسه لك وتزداد تدريجيًا رؤيتك له حتى تستحق أن تنطلق من الجسد لتراه بأكثر وضوح في السماء .</p>
<p>وفي الأبدية تنمو في معرفة الله إلى ما لا نهاية وتتمتع برؤياه بما لا يعبر عنه. وإليك بعض الوسائل التي رتبها لك الله لتساعدك على رؤياه.</p>
<p><strong>الفصل الأول</strong></p>
<p><strong>١-الأسرار المقدسة</strong></p>
<p>ضرورة الأسرار الله يظهر نفسه لمحبيه المؤمنين به ، لذا يتجلى في كنيسته وسط أولاده الذين يريدون أن يروه . فعلى قدر عظمته التي لا تحد ، لكن من السهل جدًا أن يعاينه من يطلبه . وقد رتب الله في الكنيسة وسائل المعاينته أهمها أسرار الكنيسة التي هي أساس الخلاص وبدونها لا يمكن الوصول إلى الملكوت</p>
<p><strong>۲۔ سرالمعمودية</strong></p>
<p>الأسرار المقدسة هي عمل خفى للروح القدس تؤمن به النفس وتعاينه ملموسًا من خلال مادة السر، ففي سر المعمودية مثلاً يحل الروح القدس على الماء ويعطيه خاصية أن يغير طبيعة كل من ينزل إليه فيلده ميلاداً جديداً وينزع عنه الطبيعة المائلة للفساد ويعطيه طبيعة جديدة مائلة للخير، فالعين ترى الماء ويد الكاهن تلمسه والإيمان يعاين الله الذي يلد أولاده من بطن الكنيسة ، التي هي المعمودية ، ليصيروا أبناء لها وأعضاء في الجسد الذي هو المسيح</p>
<p><strong>٣- سرالإعتراف</strong></p>
<p>أكثر الأسرار التي نعاين فيها الله نتيجة لتكرارها في حياتنا هي سرى الإعتراف والتناول. ففي سر التوبة والاعتراف يدخل المعترف إلى حضرة الله في وجود الكاهن وکیل أسراره ، وبعد الصلاة لاستدعاء الروح القدس يلقي المعترف بكل خطاياه ومتاعبه عند أقدام المسيح الذي يعطي بروحه القدوس إرشادات محددة لعلاج مشاكل المعترف على لسان أب الإعتراف ، فيسمع المعترف صوت الله بشكل يحتمله وهو كلمات الكاهن ، لأنه لا يستطيع أن يحتمل شيئًا من عظمة الله وصوته كما ظهر على الجبل لبني إسرائيل عندما أعطاهم الوصايا والشريعة ، فصوت الرعود كان شديداً مع البروق والضباب والنار والدخان وصوت البوق الذي كان يزداد اشتدادا ، فلم يحتمل بنو إسرائيل سماع الله أو رؤيته وطلبوا من موسي أن يتكلم هو مع الله ثم يخبرهم بما يريده الله منهم (خر ۱۹) .</p>
<p>بعد إتمام الإعتراف يضع الكاهن الصليب على رأس المعترف ويسمع بأذنيه حلاً من الله على فم الكاهن بغفران جميع خطاياه .</p>
<p>إنها رؤية لله على أعلى مستوى يشعر بها كل من استعد لهذا السر ، وهو فرصة للحوار مع الله وسؤاله عن كل شئ ، فيسمع الإنسان إجابات الله على فم الكاهن الذي هو أداة هذا السر ليعلن الله وجوده به .</p>
<p><strong>٤- سرالتناول :</strong></p>
<p>في سر التناول من جسد الرب ودمه ، لا يرى الإنسان الله فقط بل يأخذه داخله ويتحد به ، فتسري قوة الله فيه لتشدده وتثبته وتنير عينيه، وتغفر خطاياه .</p>
<p>إنك تستطيع أن ترى الله في جسده المقسوم ودمه المسفوك المقدم على المذبح كل يوم ، وتراه ليس رؤية العين فقط بل إحساس الكيان كله في التلامس والاتحاد به ليغير حياتك من الضعف إلى القوة ويشبعك بمحبته ويقودك في طريق الأبدية السعيدة .</p>
<p><strong>٥- الإستعداد للأسرار </strong></p>
<p>إستعد للسر بالتوبة والصلاة واطلب رؤيته وألح عليه ، حينئذ يكشف لك نفسه أكثر من كل من حولك لأنك تريده . وهو مستعد أن يعلن نفسه بطرق ملموسة لبعض الناس أثناء الأسرار تأكيداً لحضرته ، ولكن على أي الأحوال ستشعر به واضحاً عاملاً فيك فيمتلئ قلبك سلاما .</p>
<p>كان هذا الكاهن يخدم في كنيسة بإحدى قرى مصر وقد اعتاد عمل القداسات وتقديم ذبيحة جسد الرب ودمه ليتناول منها المؤمنون ، ولكن يبدو أنه من اعتيادهم التناول فتوت مشاعرهم من جهة مجد الله العظيم الذي يقدم نفسه لهم على المذبح كل يوم ليروه ويتحدوا به .</p>
<p>في أحد الأيام وبعد أن أنهى الكاهن صلاة القداس وناول الشعب وصرفهم ، سار في طريقه بجوار الترعة واتسخت يداه من الأتربة فنزل إلى الترعة ليغسلهما ، وفيما هو يفعل ذلك سمع صرخات من بعيد : حرام عليكم ما تغرقوش الولد ..</p>
<p>فنظر الكاهن حوله ولم يجد أي أطفال ، فتعجب هو وكل من معه ، وحاول ثانية أن يغسل يديه ولكنه سمع صرخات أحد الفلاحين من بعيد تنادی ثانية :</p>
<p>حرام عليكم ما تموتوش الولد ..</p>
<p>إزداد تعجب الكاهن ومن معه ولكن الروح القدس أرشده فنظر إلى يديه ولاحظ أن هناك جزءا صغيرا من جسد الرب ودمه مازال عالقا بأحد أصابعه ، ففهم وأسرع يلتقطه بفمه ويعتذر لله عن تهاونه ويشكره لأنه أرشده ونبه قلبه ، وشكر أيضا ملاك الذبيحة الذي نبهه ولعله كان صوت الفلاح هذا الذي نادى عليه ، وشعر هو وكل من معه بخوف شديد من أجل عظمة الله الذي يتنازل ويتجسد ليفدينا ويقدم نفسه لنا على المذبح المقدس في الكنيسة .</p>
<p>في القداس التالي بالكنيسة قص الكاهن كل ما حدث على الشعب، فامتلأت قلوبهم خوفاً وفرحاً وفي نفس الوقت شکروا الله الذي نبه قلوبهم لتخرج من فتورها ، وازداد ارتباطهم بالقداسات والتناول من الأسرار المقدسة ، واهتم كل أهل القرية بعد ذلك بالمواظبة على حضور القداسات ليعاينوا الله ويتمتعوا برؤيته</p>
<p><strong>الفصل الثاني</strong></p>
<p><strong>الصلاة</strong></p>
<p><strong>١-الله يدعوك للصلاة</strong></p>
<p>إن كانت مقابلة العظماء في الأرض ليست میسورة للجميع، ولكن مقابلة الله ملك الملوك ورب الأرباب متاحة للجميع في الصلاة. فهو يرحب بهم ويدعوهم للحديث معه في كل وقت، بل يمسك بهم حتى لا ينصرفوا عنه أو يملوا من الوجود بين يديه. &#8220;ينبغي أن يصلي كل حين ولا يمل &#8221; (لو ۱:۱۸)، &#8221; صلوا بلا انقطاع &#8221; (۱تس ٥: ١٧).</p>
<p><strong>٢- تحدث بدالة البنوة </strong></p>
<p>صلاتك هي استجابة لدعوة الله الذي يريد أن يعلن نفسه لك ويلتقي بك، فأنت لست متطفلاً على الله، بل ادخل بدالة البنوة لتجد أحضانه مفتوحة لك وتفرح بك لأنك استجبت لدعوته</p>
<p>عندما تتقابل معه في الصلاة تحدث معه ببساطة في كل ما تريد، لأنه أبوك فلا تخجل منه واعلم أنه يقدر كلامك ويهتم به لأنك ابنه . أشكره على عطاياه واعتذر على خطاياك واطلب منه ما تريد لك ولغيرك ممن تهتم بهم</p>
<p><strong>٣- لقاء مستمر </strong></p>
<p>إبدأ يومك بالصلاة لتصافح الله وتأخذه معك في مسيرة حياتك اليومية، تحدث معه في الطريق واطلبه قبل أي عمل وانتهز الفرص لتخلو به جانبا وتردد مزاميرك فتتمتع برؤيته مرات كثيرة على مدى اليوم، وإذا ضغطت عليك المشاغل فلك فرصة في نهاية اليوم لتسرع إلى مخدعك تبث أشواقك له وتستريح بين يديه مهما كان تعب اليوم كله .</p>
<p><strong>٤- تحدث والله يجيب</strong></p>
<p>أطلب من الله ما تريد وثق أنه يسمعك وبالطبع يستطيع أن يرد عليك، وذلك بطرق مختلفة منها أن تشعر بميل داخلك إلى شيء يزداد ثباتًا مع صلواتك. ولأن الله يكلمك بوضوح فهو يعرفك ويقدم نفسه لك بلا غموض بشرط أن تسلم مشيئتك له وتخضع الإرادته فيسهل عليك سماعه</p>
<p><strong>٥- الصلاة طريق الكاملين </strong></p>
<p>عندما تتذوق حلاوة الحديث مع الله في الصلاة، يفرح قلبك وتزداد أشواقك للوجود معه، فتحب التسبيح والشكر وتردد كلمات التسبحة ومزامير الشكر فتشعر بمجده يضئ عليك وتدخل في إحساس فرح لا تريد الخروج منه، وهكذا ترى الله ويزداد وضوحًا لك قدر ما تشتاق إلى الصلاة وتعطيها وقتًا لك أطول طوال اليوم.</p>
<p>كان هذا الجندي الذي يدعى مجدي مجندا أثناء الحرب مع إسرائيل، وبعد الإنتصار عليها استطاعت القوات الإسرائيلية أن تحدث ثغرة في الجيش المصرى ، وبهذا حاصرت مجموعة من الجنود المصريين کان بينهم هذا الجندي وانقطعت أخبارهم تمامًا عن ذويهم . بدأ القلق يساور أسرته المؤمنة بالمسيح، فأسرعوا إلى الصلاة من الصباح إلى الليل لمدة ثلاثة أيام وفي اليوم الثالث طرق الباب ضابط برتبة كبيرة طويل القامة وله شارب كثيف وكان مملوءًا من القوة والحيوية وقال لهم: أنه حضر إليهم من طرف ابنهم مجدى وطمأنهم على سلامته وبشرهم بأن المشكلة ستنتهي خلال أسبوع وسيتم تبادل الأسرى ويعود مجدى إلى بيته، ففرحوا جدًا وشكروا هذا الضابط وبعد انصرافه رفعوا صلاة شكر عميقة لله واستمروا في صلواتهم</p>
<p>بعد أسبوع وصل مجدي إليهم، وكم كانت فرحتهم بلقياه بعد غيبة طويلة كان يعد فيها من المفقودين</p>
<p>بعد أن اطمأنوا على كل أحواله، شكروه على الضابط الذي أرسله إليهم وطمأنهم، لأن قلوبهم كانت مضطربة وفي قلق شديد عليه ولم يهدئهم إلا وصول هذا الضابط إليهم . تعجب مجدى وقال لهم أنه لم يرسل إليهم أحدًا,</p>
<p>علت علامات الحيرة والدهشة على وجوه الكل، يا ترى من هذا الضابط الذي هدأ قلوبهم وحدد لهم ميعاد رجوع مجدى بالضبط؟ !</p>
<p>أرشد الله أحد أفراد الأسرة وقال لهم: أنه لا شك مارجرجس شفيعنا الذي طلبناه كثيرا أثناء الثلاثة أيام فأرسله الله إلينا ليطمئنا .</p>
<p>وقف الجميع يقدمون صلاة شكر وتمجيد للشهيد العظيم مارجرجس وقد امتزجت دموعهم بابتساماتهم وازدادت قلوبهم ثباتا في الإيمان بقوة الصلاة التي تحرك السماء وكل قديسيها .</p>
<p><strong>الفصل الثالث</strong></p>
<p><strong>الكتاب المقدس</strong></p>
<p><strong>١-تجسد الله</strong></p>
<p>الله لا يستطيع أحد أن يراه ولكنه يريدك أن تراه، ولأنك مخلوق صغير وإمكانياتك محدودة فهذا يستدعى من الله أن يتضع ويجسد نفسه في صورة ملموسة يسهل عليك أن تراها ؛ وهذا ما حدث في ملء الزمان بتجسده &#8221; الله لم يره أحد قط الابن الوحيد الذي في حضن الآب هو خبر &#8221; (يو ١: ١٨) . وإمعانا من في تبسيط نفسه ليسهل على الإنسان أن يراه ، جسد نفسه أيضا في كلمات مقروءة وهي كلمات الكتاب المقدس الذي تستطيع أن تلتقى مع الله من خلاله دون أن يشعر بك أحد ، فيحدثك في أمور شخصية أنت وحدك الذي تفهمها ، فالكتاب المقدس رسالة شخصية لك من الله وحديث مفتوح منه لكل طالبيه .</p>
<p><strong>٢ الله يجيب</strong></p>
<p>إن الله يشعر بك ويسمع صلاتك ويرد عليك بطرق مختلفة من أهمها الكتاب المقدس، سواء عندما تقرأه يوميًا في قراءتك المنظمة المتتالية لأصحاحاته أو بورود آية على ذهنك لم تكن تفكر فيها من قبل ليرد بها على سؤالك .</p>
<p><strong>۳۔ صفات الله</strong></p>
<p>في الكتاب المقدس يكشف الله لك عن نفسه لتفهم طباعه وأسلوبه وتكون صداقة معه ، فهو أعظم من كل البشر ومحبته فائقة لا يعبر عنها وتستطيع أن تلمسها من خلال معاملاته مع أولاده في العهدين ، وهكذا تتعرف على الله عن قرب</p>
<p><strong>٤- الله غني</strong></p>
<p>يتحدث الله معك بالكتاب المقدس في كل مواضيع حياتك التي قد تكون حدثت مع غيرك ولكنها تنطبق عليك تماما ، وقد تكون مواقف أو آيات موجهة لأشخاص ولكنها تناسب الموقف الذي تمر به الآن . فكلام الله غنى يشبع ويجيب ويرشد أولاده في كل جيل ، بل وكلما قرأته تكتشف جديدًا فيه لتعرف الله أكثر من ذي قبل وتراه أوضح وتشبع بحبه</p>
<p><strong>٥- إختر آية</strong></p>
<p>إحرص على اختيار آية كل يوم مما تقرأه وتحاول تطبيقها في حياتك ، وحينئذ ستكتشف أنه لأجل صلاتك وطلبك آية من الله ستجد أن هذه الآية حل لمشاكل كثيرة تقابلك في هذا اليوم وإرشاد واضح لحيرة قلبك .</p>
<p><strong>٦- قدمه لغيرك</strong></p>
<p>عندما تتمتع بلقاء الله في الكتاب المقدس كل يوم ، فلا تحرم غيرك من التمتع به ، بل شجعهم على قراءته فقد يكونوا حتى الآن غير مختبرين اللقاء بالله خلال آياته ، وبهذا تخدمهم أكبر خدمة إذ تسندهم وتفرح قلوبهم بعشرة الله .</p>
<p>تعرض هذا الشاب منذ طفولته لقسوة في المعاملة من والديه ، فكانت أمه عصبية جدا .. تغضب وتعاقبه بشدة وكانت تفضل أخته عليه لأجل هدوئها وطاعتها ، أما والده فقد انشغل بأعماله وبعلاقاته السيئة مما كان يثير شجار كثير بينه وبين زوجته أدى في النهاية إلى الإنفصال .</p>
<p>شعر هذا الشاب باضطراب داخله وأنه فاقد للحنان والحب مما جعله أنانيا يفكر في راحته قبل كل من حوله ، فتباعد عنه زملاء الدراسة بالإضافة إلى ضيق أسرته منه مما زاد اضطرابه وجعله يتعثر في دراسته ويرسب السنة تلو الأخرى .</p>
<p>بدأت صداقته مع بعض الأصدقاء الأشرار لعله يجد نفسه بينهم ، وبالفعل بدأ يتميز في العنف والقسوة عندما كانوا يتعرضون لمشاجرات مع مجموعات أخرى من الشباب حتى صار زعيمًا لمجموعته ، فأشبع هذا رغبته في الإعجاب بنفسه وزاد أنانيته أيضا.</p>
<p>إحتاج للمال ، إذ كثرت طلباته ولم تعد والدته قادرة على توفيرها ، ففكر مع زملائه في السرقة التي بدأت بمسروقات قليلة ثم ازدادت تدريجيا مستخدما فيها قوته وتهديداته للآخرين حتى بدأ في تدبير السطو على بعض المنازل بل وأصبح معروفا في منطقته بالعنف والبلطجة .</p>
<p>استمر في سطوه على المنازل والمحلات حتى ضج منه الناس وأبلغوا البوليس الذي دبر له كمينًا وتم القبض عليه هو وبعض زملائه وحكم عليه بالسجن .</p>
<p>تميز داخل السجن بالقسوة في معاملته مع زملائه فكانوا يتحاشونه مما أكد شعور العزلة داخله بل وسخطه على العالم والناس وكل شئ حوله .</p>
<p>سمع كاهن السجن المسئول عن الإرشاد الديني فيه بخبر هذا السجين فطلب أن يجلس معه ، فذهب أحد نزلاء السجن ليدعوه ، أما هو فرفض وبعد إلحاح قبل وأتى إلى الكاهن الذي سأله :</p>
<p>*لماذا لا تريد أن تحضر &#8230; إنى أحبك وأريد أن ألتقى بك .</p>
<ul>
<li>أنت لا تعرفني فكيف تحبنى .. لا يوجد إنسان واحد يحبني .</li>
</ul>
<p>*لماذا تقول هذا عن نفسك ؟</p>
<ul>
<li>أنا أعرف أني أناني وعنيف ولا أستطيع أن أكون غير ذلك لأن حياتي علمتني أن أكون هكذا وبالتالي لا يمكن أن يحبنى أحد</li>
</ul>
<p>* يوجد واحد يحبك ويريد الجلوس معك .</p>
<p>تساءل بتهكم قائلا : يا ترى من هو ؟ !</p>
<p>هو المسيح الذي مات من أجلك ومن أجل كل البشر ، الذي أحبك حتى قدم حياته لأجلك ، وهو يريد أن يكون معك وأنت داخل السجن ليرفع عنك أتعابك ويسندك .</p>
<ul>
<li>أشكرك أنك تقوم بوظيفتك حسنا ، فقد حفظت هذا الكلام وتقوله لكل من تقابله ولكن إبحث عن شخص آخر تقول له هذا الكلام . ثم هم بالإنصراف .</li>
</ul>
<p>إنتظر قليلا فإني أريد أن أعطيك هدية .</p>
<p>وأخرج الكاهن من جيبه إنجيلا صغيرًا ليقدمه له ، فرفض الشاب أن يأخذه وقال له :</p>
<ul>
<li>إعطه لأي شخص آخر لأنى لا أريد أن أقرأ فيه .</li>
</ul>
<p><strong>*</strong> خده معك ، إنه لن يضرك ، فقط إحتفظ به .</p>
<p>حتى ينهى الشاب هذا الحديث السخيف وغير المجدي في نظره ، أخذ الإنجيل وانصرف إلى زنزانته ولم يحضر القداس الذي كان الكاهن سيقيمه . ظل هذا الشاب في عنفه وانعزاله عن باقى المسجونين والضيق يزداد داخله ، ولكن كلمات الكاهن كانت تتردد داخله مرات كثيرة .. « إنه يحبك ومات لأجلك ) .</p>
<p>في أحد الأيام ازداد الضيق بهذا الشاب وهو عاجز عن الخروج من هذا السجن القاسي عليه الذي أفقده حريته ومحاولته إثبات ذاته ، ثم نظر حوله فوقعت عيناه على هذا الكتاب الصغير الذي أعطاه له الكاهن ، فقال في نفسه لماذا لا أقرأ فيه ؟ ودعاه حب الإستطلاع أن يفتحه .</p>
<p>شعر الشاب عندما بدأ يقرأ في إنجيل متى بشئ من الهدوء والتعجب لأحداث حياة المسيح مما زاد رغبته في معرفة الكثير عنه ، فأخذ يقرأ فيه كل يوم صفحات ليست بقليلة وازداد إحساسه بحنان المسيح ورفقه بمن حوله وفي نفس الوقت شعر بقوة شخصيته ونجاحه في كل خطواته .</p>
<p>بدأ قلبه يتأثر ويقول في نفسه :</p>
<p>هل يمكن أن يحبني بعد كل ما فعلت ؟ !</p>
<p>استمر في قراءته بل بدأ يلتهم الكلمات ويقرأ ساعات في كل يوم .</p>
<p>بدأ يسأل زملاءه عن ميعاد الزيارة التالية للكاهن وعندما حضر أسرع إليه يريد الجلوس معه ، وبدأ يحكى له عن حياته ويسأله هل يمكن أن يقبله المسيح بعد كل ما فعل ؟</p>
<p>شجعه الكاهن بكلمات محبة كثيرة وبعد أن اعترف بكل خطاياه في سر الإعتراف ، نال حلاً بالغفران وتقدم للتناول من الأسرار المقدسة بعد انقطاع طويل جدًا عنها إذ لم يتناول منذ طفولته .</p>
<p>إستمر في قراءة الكتاب المقدس ولكن بتركيز وفهم . قرأه عدة مرات وظهر التغير واضحا في سلوكه مع من حوله .</p>
<p>مرت السنوات وخرج من السجن مختلفًا تمامًا ليحيا حياة جديدة مع المسيح تعجب لها كل من كان يعرفه سابقا في شره .</p>
<p><strong>الفصل الرابع</strong></p>
<p><strong>الطبيعة</strong></p>
<p><strong>١- الشمس</strong></p>
<p>يقول داود النبي &#8221; السموات تحدث بمجد الله والفلك يخبر بعمل يديه &#8221; (مز ۱۹ : ۱) . فهذه المخلوقات العظيمة رتبها الله لمنفعة الإنسان ليرى قوة الله فيها ، فيرى داود النبي الشمس كالعروس الخارج من خدره ( الحجرة الخاصة ) وذلك عند الفجر عندما تشرق الشمس فتطلع على المسكونة بهدوء ، كالعروس المتمايلة في نعومتها ، ولكنها في نفس الوقت قوية وجبارة بقوة الله التي فيها فيقول &#8221; تتهلل مثل الجبار المسرع في طريقه من أقصى السموات خروجها ومدارها إلى أقاصيها ولا شئ يختفى من حرها &#8221; (مز١٩ : ٥-٦) ، فهى تتحرك مرسلة أشعتها وحرارتها وضياءها إلى كل الأرض وتؤثر في الجميع.</p>
<p>هكذا المسيح إلهنا المولود في مزود بوداعة هو الله القوى المشرق من العلاء لينير لكل إنسان في العالم ويدفئه بمحبته. وهكذا كل إنسان روحي يسلك بوداعة وقوة الله عاملة فيه، يستطيع أن ينير لكل من حوله .</p>
<p><strong>٢- البحر </strong></p>
<p>تستطيع أن ترى الله أيضا في البحر العظيم الذي يفتح أحضانه مرحبا بالكل ليسبح فيه، بل يرحب بأكبر السفن ليحملها كما يحمل الأب ابنه ويوصله إلى بر الأمان ، ويلقى بمياهه على الشاطئ في شكل زبد أبيض جميل ليدعو الكل للدخول إليه . إنه مثل إلهنا المحب الذي يدعونا للصلاة والحديث معه كل حين.</p>
<p><strong>٣- التأمل </strong></p>
<p>تستطيع أن ترى الله إذا فكرت أكثر من هذا، ليس فقط في الشمس والبحر ولكن في كل المخلوقات مثل القمر والنجوم والهواء والرمال والأشجار والحيوانات والحشرات، وتتعلم أيضا منها دروسًا كثيرة كما تعلم سليمان الحكيم من النملة ويدعو الكسلان ليتأمل في نشاطها ويرى قوة الله العاملة فيها (أم ٦: ٦) .</p>
<p>تستطيع أن تكتشف الله إذا جلست في خلوة معه بهدوء كل يوم أو كل أسبوع، خاصة إن جلست في مكان مفتوح لتتمتع برؤية الله في خلائقه</p>
<p><strong>٤- إفحص نفسك </strong></p>
<p>إذا كشف الله لك عن نفسه في الطبيعة وأضاء عليك ببهائه ، تستطيع أن تفحص نفسك فتشكره على عطاياه وتعرف خطاياك وتتوب عنها بل تبحث في هدوء عن أسبابها لتتحاشاها ، وبهذا تتمتع ليس فقط برؤية الله بل بتنقيته لنفسك وقبول توبتك وأيضًا تصحبه معك في حياتك اليومية فيحتضنك ويعمل فيك وبك .</p>
<p>كان خادما بالكنيسة يتمتع بقداستها وصلواتها وأسرارها المقدسة وكان يحب الخلوة والتأمل وخاصة في الطبيعة، فكان ينتهز الفرص ليجلس في شرفة منزله وينظر إلى السماء باحثا عن الله الذي يكشف له معانى روحية ومشاعر مشبعة لنفسه ، وكان يحب زيارة الأديرة وهناك يستمتع بهوايته المفضلة وهي الجلوس في البرية ليبحث عن الله في الطبيعة المحيطة به .</p>
<p>واجهت هذا الخادم مشكلة وهي أنه كان يمتلك قطعة أرض في إحدى القرى قد ورثها عن والده وكان يؤجرها للمزارعين، وفي أحد السنين أجرها لمزارع جديد ولما حل ميعاد دفع الإيجار أرسل إليه ولكنه ماطل في الدفع ، وأرسل له أكثر من مرة وللأسف بدأ يرد على من يرسلهم بطريقة سيئة ، فسافر إليه وحاول التفاهم معه ولكنه رفض بحجة عدم توفر المال معه وادعى أن الزراعة لم تعطه العائد المطلوب وتعرضت لمشاكل كثيرة ، مع أن الخادم كان يعلم أن الزراعة قد نجحت وكان المحصول وفيرًا .</p>
<p>حاول الخادم الإستعانة بشيوخ البلد ولكن الفلاح كلمهم بجفاء وأصر على موقفه في تأجيل الدفع . عاد الخادم إلى بيته وهو في ضيق وحيرة ، هل سيلتجئ إلى القضاء ولكن هناك مشكلة أن أوراق الأرض ليست متكاملة عنده بالإضافة إلى مشاكل القضاء التي تستغرق وقتا طويلاً وما يسببه ذلك من توتر الأعصاب ، أم يصمت ويترك هذا المزارع المزعج يتمادي في شره واستغلاله له ؟؟</p>
<p>وضع مشكلته هذه في الصلاة طالبا إرشاد الله ، ومن أجل ضيقه أراد هذا الخادم أن يلقى عنه أتعابه ، فذهب إلى مكانه المفضل وهو الدير ليتمتع بخلوته مع الله تاركا مشكلته بين يديه . وفي حديقة الدير جلس تحت ظلال بعض الأشجار وأخذ يتأمل في الطبيعة فنظر إلى الأشجار العالية وقال لنفسه ، إن هذه الأشجار لها جذور ممتدة إلى أعماق كبيرة لكيما تحمل هذه السيقان المرتفعة ، وبدأ يحدث نفسه لماذا لا يتعمق في حياته مع الله التي يتممها في مخدعه بعيدا عن العيون ، مثل هذه الجذور التي تبحث عن الطعام لتغذى الشجرة ، فالطعام كثير لكل من يطلبه كما أن الله غنى لكل من يلتجئ إليه . ثم نظر إلى ساق الشجرة المرتفع وسأل نفسه كم من السنين استغرق تكوين هذه الساق ، إنها خلايا أخذت تنقسم داخل هذا النبات وأوعية تكونت داخله لنقل الطعام ، وعمليات حيوية تمت في الأوراق الخضراء لامتصاص أشعة الشمس وتحويلها إلى مواد مفيدة للنبات ، وتغيرت طبيعة بعض الخلايا ليصير للساق جدار سميك يحميها . إنها عمليات كثيرة جدا وهي عمليات النمو للوصول إلى شجرة عظيمة مثل هذه . ثم وجه السؤال إلى نفسه قائلا : لماذا تتكاسلين يا نفسى عن جهادك الروحي لترتبطي بالله وتصدى عنك كل خطية ؟</p>
<p>إن الله مستعد أن يساعدك ، فإن كان يهتم بالنباتات والأشجار ألا يهتم بك أنت التي جعلك رأسًا لخليقته ؟ !</p>
<p>ارتفع نظره نحو السماء ليرى أغصان الشجرة التي تعلوها فرآها كأنها الأذرع المفتوحة نحو السماء لتسبح الله الذي أعطاها أن ترتفع نحوه وسندها بالجذور العميقة والساق القوية الطويلة ، وشعر أن هدف حياته هو الصلاة وتسبيح الله وليس الانشغال بهموم العالم ، وأن كل الإمكانيات التي أعطاها الله له هدفها هو توفير احتياجاته ليتفرغ القلب لمحبة الله والصلاة .</p>
<p>شعر هذا الخادم بسلام في قلبه بعد تأمله في الطبيعة وأن كل همومه قد زالت عنه ولكنه شعر بالعطش لأن الجو كان حارًا ، وفيما هو جالس في مكانه ولم يمض من الوقت إلا دقيقة واحدة ، . وجد عاملاً من الدير يقترب منه ويسأله حل يريد أن يشرب ، فتعجب جدًا كيف عرف أنه عطشان ، وأجابه بالإيجاب فمد العامل يده بزجاجة من الماء فشرب منها وشكره .</p>
<p>انصرف العامل وشعر الخادم بوجود الله معه الذي وفر له هذا الاحتياج الصغير ، وهو جرعة ماء ليروى عطشه ، إذا هو قادر على أن يحل مشاكله .</p>
<p>عاد هذا الخادم إلى بيته في سلام وفرح ظهر على وجهه ، ولم يعد يفكر في مشكلة الأرض بل اكتفى بالصلاة من أجلها .. في اليوم التالي سمع طرقات على الباب ، فقام ليفتح وإذ هو يفاجاً بالمزارع الذي استأجر أرضه يقف أمامه ، فرحب به وبعد أن جلس قدم المزارع اعتذارًا واضحا له عن تأخيره في سداد ما عليه ثم قدم له المبلغ المتفق عليه . فرح الخادم جدًا وشكر الله ولكنه تعجب لهذا التغيير المفاجئ ، فسأل المزارع عن السبب .</p>
<p>قال المزارع : إني بصراحة كنت أطمع في أن لا أعطيك كل ما تستحقه وأعطيك جزء بعد مدة طويلة ، ولكن منذ أيام عندما نمت ليلا حلمت أني في الحقل وأمامى شجرة صغيرة أخذت تنمو وترتفع حتى صارت عظيمة ولها فروع ممتدة نحو السماء ، ثم سمعت صوتا يأتيني من أعلى الشجرة ويناديني :</p>
<ul>
<li>ما تسرأش غيرك عشان غيرك ما يسرأكش .</li>
</ul>
<p>استيقظ المزارع من النوم منزعجا وقال في نفسه :</p>
<ul>
<li>الناس كلها بتسرق بعض إشمعنة أنا اللي هادي الناس حقوقها كلها .</li>
</ul>
<p>وحاول أن يتناسى هذا الحلم ، وفي الصباح الباكر ذهب كعادته إلى حقله ، وعند الغروب رجع إلى بيته ففوجئ بزوجته تستقبله وهي تبكي وتقول لها : إنها خرجت لزيارة إحدى قريباتها وعادت لتجد البيت قد سرق ، فحزن وخاف جدًا إذ وجد الحلم بدأ يتحقق .</p>
<p>وإذ رأت زوجته انزعاجه سألته عن السبب فقص لها قصة الحلم ، فألحت عليه أن يسدد كل شئ حتى لا تتكرر معهم هذه السرقات وليبارك الله فيما عندهم ، لذا أسرع يدبر المبلغ المطلوب ليدفعه إلى صاحب الأرض.</p>
<p><strong>الفصل الخامس</strong></p>
<p><strong>أحداث الحياة</strong></p>
<p><strong>١-الأحداث رسائل إلهية</strong></p>
<p>لأن الإنسان لا يقبل دائمًا صوت الله المباشر له ، إما لأنه يتعارض مع منطقه أو رغباته أو مع آراء الناس ، لذا يستخدم الله أحداث الحياة الطبيعية ليرسل للإنسان صوته لعله يتوب ويرجع إلى الله ويطيع وصاياه ، فالأحداث أكثر تأثيرًا في الناس لأنها واقع معاش يرونه بأعينهم فلا يستطيعون إنكاره أو التنصل منه ، وهو قريب منهم ويلاحقهم مدى الحياة .</p>
<p><strong>٢ الأمثال :</strong></p>
<p>استخدم المسيح نفسه الأمثال في تعليمه للجموع لأنها أحداث من حياتهم ، فيكون فهمها سهلاً عليهم ويعرفون منها قصد الله وتعليمه بطريقه لا يسهل نسيانها ليؤكد بهذا أن الأحداث المحيطة تأثيرها قوى على الإنسان وأنها رسائل شخصية منه لكل واحد</p>
<p><strong>۳ غربة العالم</strong></p>
<p>يحدثك الله كثيرًا معلنًا لك أنك غريب عن العالم ووطنك الحقيقي هو السماء ، فترى كل شئ حولك متقلب ومعرض للفساد والضياع ، بل حتى الإنسان نفسه يموت ويترك كل شئ . فكل جنازة تحضرها أو تعزية في انتقال أحد هي رسالة من السماء تدعوك للاستعداد للأبدية وتجعلك تزهد في الماديات فلا تتعلق بها بل تستخدمها بمقدار ليظل قلبك منشغلا بالروحيات .</p>
<p><strong>٤- الإتكال على الله</strong></p>
<p>إذا حاولت الإعتماد على قوتك وصحتك تجد الأمراض التي تصيبك ومن حولك تنهيك عن هذا ، وإذا اتكلت على علاقتك ببعض الشخصيات التي تفيدك في حياتك تجد بعضهم ينتقلون فجأة من الأرض أو يصابون بالأمراض أو يغضب الرؤساء عليهم فيستبعدونهم . وإذا نظرت للدول القوية والغنية تجد تغيرات غير متوقعة ، مثل انحلال الإتحاد السوڤيتي إلى دول متفرقة وتحولها من دولة عظمة إلى مجموعة عادية من الدول</p>
<p>وهكذا لا يبقى إلا الله وحده الثابت منذ الأزل وإلى الأبد أقوى من الكل ، فتستند عليه وتتمتع برعايته .</p>
<p><strong> ٥- أحداث كل يوم</strong></p>
<p>ليتك من الآن تدقق وتنظر بإمعان نحو الأحداث التي تمر بك سواء في حياتك الشخصية أو المجتمع المحيط بك وتصلى ليكشف الله لك عن نفسه فيها ، وبالتدرب على هذا الأمر ستنمو صلاتك وتتدرب أذناك الداخليتان على سماع صوت الله وتشعر بوجوده الدائم معك فيفرح قلبك وتتذوق الأبدية وأنت على الأرض .</p>
<p>كان تاجرًا كبيرًا يعيش مع زوجته وولديه في سلام ولكن علاقته بالكنيسة كانت ضئيلة جدًا ، على عكس زوجته التي كانت تحب الكنيسة ومرتبطة بأسرارها المقدسة واجتماعاتها وخدمتها ،مما ساعدها أن تكون متفانية في خدمة بيتها والعناية بزوجها وأولادها .</p>
<p>ارتبط الولدان بمدارس الأحد وتقدما في دراستهما حتى صارا في التعليم الثانوي ، ولكن الزوج لأجل أعماله الكثيرة كان لا يجلس في بيته إلا قليلا ومعظم وقته يقضيه في العمل . لاحظت الزوجة بعض التغير على زوجها في اهتمامه بمظهره أكثر من المعتاد وتأخره في العمل أكثر من ذي قبل ، وحتى في الوقت القليل الذي كان يقضيه في منزله تأتيه مكالمات تليفونية ينفرد بسببها في حجرته ويتكلم بصوت منخفض .</p>
<p>بدأت الزوجة تشك في سلوك زوجها وبحاستها الأنثوية شعرت بوجود امرأة في حياته .</p>
<p>انتهزت فرصة دخوله الحمام وبحثت في تليفونه المحمول ، وإذ تكتشف رقما متكررا ، فأخذته عندها وفي اليوم التالي طلبت هذا الرقم من أحد كبائن التليفون العامة لتفاجأ بصوت إحدى الموظفات العاملات مع زوجها ، فتأكدت من شكوكها .</p>
<p>حاولت أن تهدئ نفسها بالصلاة وهي تراقب زوجها الذي لاحظت استمراره في تصرفاته غير المعتادة . وفي أحد الأيام لم تستطع أن تمسك أعصابها فانفجرت فيه وأظهرت كل شكوكها التي تدور في داخلها . أنكر الزوج بشدة واتهمها بالشك والتجسس عليه وعدم المحبة وغضب غضبًا شديدًا .</p>
<p>حاولت الزوجة أن تصدق ما قاله زوجها ، ولكن قلبها كان يحدثها عن وجود علاقة سيئة .</p>
<p>مرت الأيام وصلواتها الدامعة لا تنقطع حتى فوجئت بتليفون يأتيها من مجهول يقول لها أن زوجها الآن مع هذه الموظفة في شقته الخاصة وأعطاها العنوان . طار عقلها واندفعت نحو هذه الشقة التي لم تكن تعلم عنها شيئا لتفاجأ بزوجها يفتح لها بملابسه الداخلية ، فاندفعت داخل الشقة لتجد هذه الموظفة داخل حجرة النوم تحاول ارتداء ملابسها وإصلاح هندامها ، فصرخت الزوجة بشدة في هذه الموظفة وفي زوجها وبالكاد استطاع الزوج أن يهدئ من روعها ويصرف هذه الموظفة ويرجع مع زوجته إلى بيته . صمتت الزوجة منتظرة توبة واضحة من زوجها لإصلاح هذه الخيانة الفظيعة التي لم تكن تتخيل حدوثها ، ولكنه ظل صامتاً ولم يتكلم . بعد يوم وبخها بشدة على ما فعلته وأعلن ببجاحة أنه على علاقة بهذه السيدة منذ فترة طويلة ، فلم تستطع الزوجة أن تتكلم أمام هذا الفجور وأخذت تبكى بشدة . استغل الزوج عدم عمل زوجته وأن والديها قد انتقلا منذ مدة وليس لها إلا أخت واحدة ضعيفة الشخصية ، فتمادي في شره معتمدا على أمواله ومركزه وقوة شخصيته بل شعر أنه استراح عندما علمت زوجته بكل شئ ، واتهمها أنها لم تعد الزوجة المناسبة له فقد ذهب عنها جمالها ومن حقه أن يعيش حياة سعيدة مع من تعجبه مادام مقتدرا وذا أموال كثيرة .</p>
<p>كان هذا الكلام له وقع الصاعقة على هذه الزوجة التعيسة فالتجأت إلى الصلاة وأب اعترافها الذي أخذ يساندها بالكلمات المشجعة ويطلب منها أن تصلى من أجله ليتوب ، مؤكدا لها أن صلواتها لن تضيع هباء .</p>
<p>استمر الزوج في خيانته ولكن الله لم يصمت بل حاول أن يدعوه إليه ليتوب . فقد زاره في مكتبه على غير ميعاد صديق قديم له وبدأ يحدثه عن علاقته بالله ويدعوه للكنيسة ، ولكنه استهان بالكلام ورفض التجاوب مع هذا الصديق . امتدت يد الله في أحداث متوالية لتوقظه من غفلته ، فبدأت تجارته تتعرض لخسارات متوالية لم يكن يتوقعها حتى بدأ مركزه المالي يهتز في السوق العامة ويتشكك الناس في التعامل معه مما جعل تجارته تتملص وأصبح غير قادر على سد مصاريفه فأخذ يقلل منها .</p>
<p>تضايق جدًا ولكنه للأسف ظل متماديا في شره بالرغم من شعوره بید الله تلطمه لطمات متتالية ، بل ظل معانداً لا يريد الرجوع لله</p>
<p>حدثت المفاجأة بانتقال والده الذي كان يحبه جدًا وبعد أقل من شهر توفيت والدته أيضًا مما ترك أثرًا عميقا في حياته ، إذ شعر كأن ظهره أصبح مكشوفا وأنه فقد السند النفسي الذي كان له ، مما جعله مهتزًا نفسيًا ولكنه لم يتب بعد .</p>
<p>في أحد الأيام عندما دخل منزله وجد على غير توقع في أحد أدراج مكتب ابنه مقدارًا من المخدرات وبخبرته عرفه ، فأسرع يسأل زوجته التي لم تعرف أنه مخدر وعندما واجه ابنه ارتبك الابن ولكن بضغط أبيه عليه اعترف أنه قد أدمن هذا المخدر وله مدة سنة في هذا الإدمان ، بل هذا هو السبب الحقيقى لرسوبه في الجامعة .</p>
<p>دخل هذا الرجل حجرته وانهار أخيرًا باكيًا وأخذ يحدث الله ويقول له :</p>
<p>لقد عاندتك طوال عمرى ولكني لا أستطيع أن أستمر في معاندتي بعد أن رأيت ابنى يضيع منى…لقد خسرت كل شئ، زوجتي وتجارتي ووالداى ، ولكني لا أستطيع أن أحتمل أن أخسر ابنى .</p>
<p>استمر في دموعه وصلواته التي كان يلفها اليأس ولم يبق عنده إلا رجاء قليل .</p>
<p>وهنا تدخلت الزوجة الوفية لتساند زوجها وهي تبكى أيضا على ابنها وقالت له :</p>
<p>مازال هناك رجاء ، يمكنك أن تعود إلى الله وإلى بيتك &#8230; كلنا محتاجينلك والله لن يتركنا .</p>
<p>تشجع الزوج ووقف أمام الله وزوجته متعهدًا أنه سيقطع علاقته بكل شر ويبدأ حياة جديدة مع الله ويرتبط بالكنيسة أملاً في إنقاذ ابنه .</p>
<p>بالفعل قام واتصل بهذه السيدة وأنهى علاقته بها وأنهى عقد الشقة المفروشة وقال لزوجته :</p>
<p>أريد أن أذهب لأب اعترافك لأبدأ حياة جديدة مع الله . شجعه الكاهن وقبل اعترافه وتناول من الأسرار المقدسة وبدأ يصلى ويقرأ في الكتاب المقدس ودفعه كل هذا أن يتقدم نحو ابنه الذليل تحت سلطان المخدرات ليشجعه حتى لا ينزعج مما حدث له ، خاصة وأنه اكتشف تورطه في سرقات كثيرة داخل البيت وخارجه ، واستطاع بلطف أن يقنع ابنه بالعلاج . وبدأ فعلاً ودخل مصحة لهذا الغرض .</p>
<p>استمر علاج الابن أكثر من سنة على مراحل مختلفة ازداد أثناءها إرتباط الزوج بالكنيسة ، وفي كل هذا كان يقبل يدى زوجته التي بصلواتها وثباتها حفظت هذا البيت من الخراب .</p>
<p>بدأت تجارته تتحسن ببركة الله وبدأ يستعيد سمعته الطيبة في السوق وعاد ليجلس مع زوجته وابنيه الجامعيين في فرح حول الكتاب المقدس.</p>
<p><strong>الفصل السادس</strong></p>
<p><strong>الضيقات</strong></p>
<p><strong>١-ضعف الإنسان</strong></p>
<p>تضغط الضيقة عليك وتشعر بعجزك عن مواجهتها والتغلب عليها وتحاول استخدام إمكانياتك دون جدوى فتشعر بضعفك، وحينئذ لا تجد لك مكانًا لتلجئ إليه إلا الله، فتتشبث به وتلح عليه وإذ يرى الله أنك تطلبه بصدق وأمانة، يفرح برجوعك إليه رغم تأثره لآلامك ، لأنه يطلب خلاص نفسك قبل راحتك المادية . وإذ يراك تطلبه، لا يعطيك فقط سؤل قلبك، وهو حل المشكلة ولكن ما هو أكثر من هذا وهو أن يظهر نفسه لك ويشعرك بوجوده معك.</p>
<p><strong>۲ الممارسات الروحية</strong></p>
<p>إن كان لك قانون روحى وتعودت الصلاة وقراءة الكتاب المقدس والذهاب إلى الكنيسة، فتلقائياً إن حلت بك ضيقة ستسرع إلى الوسائل التي تعودتها لتطلب الله ، وبالتالي تجده وتتمتع أيضًا بحله لمشاكلك . ولكن إن لم تكن معتاداً على العلاقة مع الله فستبحث عن وسائل مادية لحل مشكلتك وإن فشلت قد تسقط في اليأس أو تلتجئ إلى الله ولكن بضعف إيمان وحينئذ لن يظهر لك الله، فهو يظهر نفسه لمن يؤمنون به ويشعرون أن حل مشاكلهم عنده هو وحده .</p>
<p><strong>٣- التجرد</strong></p>
<p>إذ يدخل الإنسان في الضيقة ينشغل قلبه بها ويقل طلبه للماديات ، فيخفت بريقها وتأثيرها عليه ويستطيع التخلي عنها بسهولة أكثر ، مما يساعده على رفض الخطايا المتعلقة بها ، فتحرره الضيقة تدريجيًا من الجسدانيات ، وهذا يساعده على النظر إلى الله فيصلي بحرارة ويقبل على كل أمر روحى يساعده على التخلص من ضيقته ، وهكذا تزداد علاقة الإنسان بالله حتى يؤهل لظهور الله له ، فيلمسه في كلمات الكتاب المقدس التي كان يقرأها قبلاً ولا تؤثر فيه ، ويسرع إلى الكنيسة ليسمع كلمة الله ويتأثر بالعظات الروحية ، فيظهر الله له من خلال حياته العادية ليس فقط الروحية بل على أفواه الأفراد المحيطين به ومن خلال تعاملاته معهم ، فيفرح وسط الضيقة بلقائه مع الله حتى تكاد تنسيه مرارتها .</p>
<p><strong> ٤- الإرادة</strong></p>
<p>بتوالى الضيقات يتعود الإنسان ترك الماديات ويزداد ضبطه لنفسه فيها ، وإذ يحتمل الإهانات يكتسب تدريجيًا فضيلة الإتضاع ، ولأجل تخلصه من الضيقة يلتجئ كثيرًا إلى الله فيزداد سعيه نحوه وجهاده في التوبة لرفض الخطية فيفسح مكانا لله . وهكذا تزداد وتتقوى إرادته ويكتسب صلابة روحية تجعله يتمسك بالله وحينئذ يستحق أن يظهر الله له ، فيراه في أشكال مختلفة لم تكن تخطر على باله مثل ترنيمة أو مزمور أو قراءة عادية في أحد الصحف &#8230; فطرق الله لا تنتهى ليعلن نفسه لأولاده وإن احتاج الأمر يمكن أن يصنع معجزات واضحة ، المهم أن يمتع أولاده به فيروه بوضوح أكبر من أي وقت آخر . عاشت هذه السيدة مع زوجها العامل بإحدى الحرف ومعهما طفلهما الوحيد في حياة متوسطة تميل إلى الفقر أكثر من الغنى ، ولكنها كانت تشكر الله الذي أحبته ، إذ كانت مرتبطة بالكنيسة وأسرارها وتعودت أن تلتجئ إلى الله كل يوم وتكلمه كأب وصديق . مرت الأيام هادئة والطفل يكبر حتى صار فتي ، ولم يفلح في دراسته لذا لم يكملها وحاول والده أن يجد له عملاً ولكنه لم يلتزم به ، فقد كان مدللاً إلى حد ما وغير متحمل للمسئولية وظل هكذا حتى صار شابا . استمر الأب يعمل في عمله وعاش في سلام مع زوجته ولكن كانت مشكلتهما هي هذا الابن الوحيد الذي لا يلتزم بعمله .</p>
<p>حدث ما لم يكن متوقعا وهو موت الأب العائل الوحيد للأسرة ليترك وراءه أرملة عجوز وابن لا يعتمد عليه.</p>
<p>حاول الابن أن يعمل بتشجيع أمه ولكن لم يتحسن إلا قليلاً و مما عرض هذه الأسرة لفقر شديد ، فكانوا يحصلون على قوتهم الضروري بصعوبة ، لأن هذا الابن صار هو المورد الوحيد للأسرة إذ كانت الأرملة العجوز غير قادرة على العمل .</p>
<p>ازدادت الضيقة المالية في إحدى المرات بسبب بقاء هذا الابن فترة طويلة بدون عمل وفرغ البيت من أي طعام حاولت الأم أن تحصل على مال بأى شكل ولم تجد ، وحاولت أيضا البحث عن أي عمل بسيط يقوتها ولم تجد فجلست في بيتها تصلي في دموع وتطلب معونة الله الذي لم يتركها طوال حياتها وقد عبر بها خلال ضيقات كثيرة سابقة . بعد ذلك جلست في جوع لا تعرف ماذا تفعل ومرت الساعات ثقيلة وجسمها الضعيف يتخاذل تدريجيا من الجوع وهي تصلى يارب ارحم &#8230; يارب أنقذني لأن ليس لى سواك .</p>
<p>سمعت طرقا على الباب ، فقامت ببطء وهي تترنح لتفتحه فوجدت رجلين واقفين أمامها ويقولان لها أننا أصحاب المحل الذي تحت شقتك ونعرض عليك عرضًا وهو أننا محتاجين لشرفة منزلك التي فوق محلنا لتكون مخزنا لبضائعنا ، وكذلك محتاجين أن نعلق يافطة كبيرة للمحل على شرفتك ونقدم مقابل استغلال هذه الشرفة وحرمانك من الاستفادة منها مبلغ خمسمائة جنيه أول كل شهر . كانت المفاجأة فوق توقع هذه الأرملة العجوز &#8230; إنها استجابة الله التي تعلو فوق كل ما طلبته أو فكرت فيه ، فوافقت في الحال وأعطياها مائة جنيه كعربون لإعداد الشرفة من اليوم التالي . وقفت الأرملة أمام الله في صلاة انسكبت فيها دموعها قبل كلامها لتشكره على حل مشكلتها ، ليس بأن تجد طعام اليوم ولكن طوال عمرها ، إنه الله الحنون والأب الذي لا يمكن أن ينسى أولاده ويتجلى عمله بأكثر وضوح في الضيقات الصعبة<a href="#_ftn12" name="_ftnref12">[12]</a> .</p>
<h4>النفس التي تحب الله ترتقي فوق الصعوبات وتستسهل الضيقات للقديس الارشيدياكون حبيب جرجس</h4>
<p>المحبة شيء عظيم تدنو به النفس وهي واثقة ثابتة فرحة مسرورة، وتقرب من موضوع حبها وهي مستبشرة آمنة بتلك الثقة والدالة. مستشيره من تحبه في كل أمر، ولا تفعل شيئاً يخالف ارادته مزدرية بكل ما يعترض طريقها.</p>
<p>من يحب لا يستصعب شيئاً، لان النفس التي تحب الله ترتقي فوق الصعوبات وتستسهل الضيقات، وتصير المسالك الوعرة أمامها ممهدة، والمعوجات طرقاً مستقيمة، كل وطاء يرتفع أمامها ، وكل جبل عال ينخفض تحت أقدامها ، ولا يوجد شيء لا تقدر عليه المحبة .</p>
<p>المحبة دائماً مرتفعة الي فوق ، متقدمة الي الامام ، ولا ترجع الي الوراء ولا تريد أن تقف عند حد حتي تحصل علي ما ترغبه وترجوه وتشتهيه ممن تحبه ، ولا تطيق أن يثبطها أدني عائق أو يرجعها عن غرضها ، المحبة قوية في ذاتها ، لا تشعر بضعف أو عجز ، بل تحسب كل شيء مستطاعاً لها ، هي قادرة علي كل شيء ، ولا تقدر قوة أن تقف دونها بل تهزأ بكل شيء في سبيل تقدمها ، تحب الحرية والتنزه عن الدنايا ، ولا تطمع بخير زمني ، ولا تهلع عند الضيقة ، لانها قوية كالموت ، وعميقة كالهاوية ، مستمرة كلهيب نار ، ان انفق الانسان كل ما في الارض لشرائها لا تقبل ، لا ثمن لها ، تحتقر كل ما هو مادي ، وتزدري بكل كرامة دنيوية ، ولا تقبل رشوة ، ولا تسكن إلا في القلب والروح ولا تعرف إلا الاحساس والشعور .</p>
<p>المحبة تأبي الخفاء وتحب الصراحة والظهور ، ومهما اجتهد صاحبها أن يخفيها تجلت باسمي مظاهرها ، لا تجزع من خوف ولا ترهب وعيداً ولا تخشي تهديداً ، ومهما ضيق عليها فلا تتواري ، بل كشعلة مستمرة وكنار مضطرمة تتصاعد وتنير طريقها .</p>
<p>المحبة ثابتة وغير متزعزعة ، كما تسر في الرخاء لا تستاء في الشدة ، لا يهمها ما يعطي لها من المواهب قدر ما تنظر وتعتبر الواهب نفسه .</p>
<p>متي حلت محبة الله في القلب كانت هي المحرك والمسلط والباعث والملهم والقائد والمرشد والمعلم والمتكلم والمنظم والمذكر والمقوي والمساعد والمنير والمبكت والمعزي والمسلي وبالجملة الفاعل لكل شيء ، اذا انسكبت في القلب ملأته بالفضائل وفاضت منه ينابيع البركات . وظهرت أثمارها في حياة الانسان .</p>
<p>لا شيء في الحياة ولا في الفضائل إلا وهو نتيجة من نتائج المحبة ، أو ثمرة من ثمراتها أو مظهر من مظاهرها ، أو شعاع من أنوارها ، أو حركة من قوتها ، أو فعل من أفعالها ، أو عنصر من عناصرها ، فالايمان محبة متمسكة بمحبوبها ، والرجاء محبة منتظرة ومتوقعة قرب مجيء حبيبها ، والسلام محبة هادئة ، ودرس كلام الله محبة تقرأ رسائل محبوبها ، والصلاة محبة متوسلة تسكب نفسها أمام المحب وتفيض من ملء شغفها ، وتعلن عواطفها نحو من تحبه ، والتواضع محبة جالسة تحت أقدام الحبيب ، والصبر محبة تقبل كل ما يرد اليها ممن تحب ، والحمية والغيرة محبة متوقدة تغار علي مجد المحبوب ، والكرازة بالانجيل محبة تنشر مبادئها وترغب خلاص الجميع لمعرفة الحبيب ، وكره الخطية محبة الابتعاد عن كل ما يفرقها عن محبوبها ، والشفقة محبة مساعدة ، والحكمة محبة تظهر في رزانتها ، والعدل محبة تظهر الحق ، وهكذا لا تجد فضيلة إلا وهي مظهر من مظاهر المحبة .</p>
<p>متي سادت المحبة علي الجميع حولت كل شيء الي صلاح وخير ، تقوي الذاكرة ، وتحيي الارادة ، وتهب اللسان فصاحة ، وتمنح القاضي عدلاً ، والمحامي حقاً ، والطبيب طيبة ، والكاتب صدقاً، والمعلم اخلاصاً، والعالم دقة ، والمهندس ضبطاً ، والتاجر أمانة ، وتحدث تغييراً حتي في ظواهر الانسان ، فتكسب العينين اشراقاً وضياء ، والوجه لمعاناً وصفاء ، والملامح سكوناً، حتي الصوت تكسبه حسن الايقاع وجميل النغم<a href="#_ftn13" name="_ftnref13">[13]</a> .</p>
<h3>من وحي قراءات اليوم</h3>
<p>ماذا أعمل لأرث الحياة الأبدية &#8221; (لو ١٠: ٢٥)</p>
<p>+ الناموسي يسأل (ونحن أيضا) ماذا أعمل؟ والمسيح له المجد يقول اتبعني</p>
<p>+ دائما ببنشغل بالأعمال لكنه يريدني أن أنشغل بتبعيته</p>
<p>+ عندما نتبعه ونتحد به لا تكون لنا أعمال خاصة، بل أعمال المسيح</p>
<p>+ الحياة الأبدية هي حياتنا في المسيح وللمسيح</p>
<p>+ التركيز في أعمالنا يضخم ذواتنا اما التركيز فيه يطهر اعمالنا وينمينا في النعمة</p>
<p>+ الله يفرح بكل مانقدمة عن محبة حقيقية له وعن محبة نقية للآخرين</p>
<p>+ الحياة الأبدية هي الكنز المخفي في الحقل فطوبي لمن يسعي كل يوم لإكتشاف بهاءه</p>
<p>+ عندما نتبعه ونحفظ كلمته تتغير حياتنا دون ان ندري ودون ان ننشغل بما نقدمه لان نعمته تقود كل تصرف</p>
<p>+ نور العالم وملح الأرض والرائحة الذكية هي توابع ومرافقات حضوره الإلهي دون إعلان</p>
<p>+ الله لايدعونا لأعمال عظيمة، بل لتبعيه دائمة له وأبسط مانفعله سيكون له اثر عظيم في نفوس الآخرين</p>
<h3>المراجع:</h3>
<p><a href="#_ftnref1" name="_ftn1"></a>١- تفسير سفر حزقيال الإصحاح الأول - القمص تادرس يعقوب ملطي</p>
<p><a href="#_ftnref2" name="_ftn2"></a>٢- JR, A. J. &amp; Oden, T.C. ( 2003 ). Luke (The Ancient Christian Commentary on Scripture,      New testament part III ). Illinois ( USA ) : InterVarsity press. Page 174 , 177</p>
<p>ترجمة الأخت إيفيت منير - كنيسة مار مرقس ببني سويف</p>
<p><a href="#_ftnref3" name="_ftn3"></a>٣- المرجع : تفسير إنجيل لوقا للقديس كيرلس الأسكندري صفحة ٣١٤ - ترجمة دكتور نصحي عبد الشهيد</p>
<p><a href="#_ftnref4" name="_ftn4"></a>٤- عظات القديس مقاريوس الكبير - العظات الخمسون للقديس أنبا مقار الكبير - ترجمة الراهب يونان المقاري</p>
<p><a href="#_ftnref5" name="_ftn5"></a>٥- المرجع : من مقالات الأنبا أنطونيوس صفحة ١٠٠ - القمص بيشوي كامل - كنيسة مار جرجس سبورتنج</p>
<p><a href="#_ftnref6" name="_ftn6"></a>٦- المرجع : تفسير سفر ملوك الأول إصحاح ١٩ - القمص تادرس يعقوب ملطي</p>
<p><a href="#_ftnref7" name="_ftn7"></a>٧- المرجع كتاب الحب الالهي صفحة ٢٢ ، ٢٣ – القمص تادرس يعقوب ملطي</p>
<p><a href="#_ftnref8" name="_ftn8"></a>٨- المرجع كتاب من مجد الي مجد  للقديس غريغوريوس النيسي – ترجمة القمص اشعياء ميخائيل – كنيسة الملاك ميخائيل بالظاهر</p>
<p><a href="#_ftnref9" name="_ftn9"></a>٩- المرجع : كتاب المنجلية القبطية الأرثوذكسية صفحة ١٨٩</p>
<p><a href="#_ftnref10" name="_ftn10"></a>١٠- المرجع كتاب تاملات وعناصر روحية في احاد وايام السنة التوتية اعداد القمص تادرس البراموسي</p>
<p><a href="#_ftnref11" name="_ftn11"></a>١١- المرجع : كتاب المواعظ النموذجية الجزء الأول صفحة ١٢٣ - ١٢٨ -المتنيح القمص بولس باسيلي</p>
<p><a href="#_ftnref12" name="_ftn12"></a>١٢- المرجع : كتاب أريد أن أري الله للقمص يوحنا باقي - كنيسة مارمرقس - مصر الجديدة</p>
<p><a href="#_ftnref13" name="_ftn13"></a>١٣- المرجع : كتاب تاريخ الوعظ وأهميته في الكنيسة المسيحية عموما والقبطية خصوصاً صفحة ٦٢ - الأرشيدياكون حبيب جرجس</p>

      {% endcreateArticleAccordions %}
    </section>
  {% endblock %}
