---
layout: 'layouts/reading.html'
title: 'قراءات الأحد الثالث من شهر توت'
permalink: sundays/1-3.html
---
  {% block content %}
    <section id="readings">
      <ul>
      {% if 'undefined' != 'undefined' %}
      
      {% else %}
      {% if '19.9:1-2' != 'null' %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">العشية</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeVespers '19.9:1-2' '41.1:29-34' %}
          </div>
        </div>
      </li>
      {% endif %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">باكر</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeMatins '19.9:10-11' '40.8:5-13' '' %}
          </div>
        </div>
      </li>
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <h3 class="flex items-center justify-between">
            <span class="kufi">القداس</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </h3>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeLitugy '46.2:1-16' '60.1:13-21' '44.9:22-31' '19.18:46,49' '42.19:1-10' %}
          </div>
        </div>
      </li>

      {% endif %}
        </ul>
    </section>
    <section id="article">
      <h3 class="mt-8 mb-4 heading-explain">شرح القراءات</h3>
      {% createArticleAccordions %}
        <p></p>
<p></p>
<p>لاحظ الكامل وانظر المستقيم فان العقب لأنسان السلامة (مز٣٧:٣٧)</p>
<p>&#8221; الذين اراد الله ان يعرفهم ما هو غنى مجد هذا السر في الامم، الذي هو المسيح فيكم رجاء المجد الذي ننادي به منذرين كل انسان، ومعلمين كل انسان، بكل حكمة، لكي نحضر كل انسان كاملا في المسيح يسوع (كو٢٧:١)</p>
<p>وأمَّا نحن كُلنُّا فهب لنا كمالنا المسيحي يُرضيك أمامك &#8221; أوشيه الراقدين&#8221;</p>
<p>&#8221; بمعنى إلى أن نُظهر أن لنا جميعنا الإيمان الواحد، حينما نكون كلنا واحدًا، ونكون كلنا متشابهين في معرفة الرباط المشترك. هكذا يليق بك أن تتعب عاملًا بهذا الهدف. فإن قبلت الموهبة بهذا الهدف أي بنيان الغير، فإنك لن تتوقف عن العمل إن حسدك الآخرون. لقد كرمك الله، وسامك لكي تبني غيرك. نعم بهذا الهدف كان الرسول منشغلًا، وبذات الهدف كان النبي يتنبأ ويعمل والإنجيلي يكرس بالإنجيل والراعي والمعلم يعملان، الكل يتعهد عملًا مشتركًا واحدًا. الآن إذ نؤمن كلنا إيمانًا متشابهًا توجد وحدانية، ويتحقق &#8220;الإِنْسَانٍ الكَامِلٍ&#8230;<a href="#_ftn1" name="_ftnref1">[1]</a></p>
<p></p>
<p></p>
<h3>شواهد القراءات</h3>
<p>(مز ١:٩) (مر ١: ٢٩-٣٤) (مز ٩: ٧-٦) (مت ٨: ٥-١٣) (١كو ٢: ١-١٦) (١بط ١: ١٣-٢١) (أع ٩: ٢٢-٣١)  (مز ٤٦:١٧-٥٠) (لو ١٩ :١-١٠)</p>
<p></p>
<p></p>
<h3>ملاحظات على قراءات اليوم</h3>
<p></p>
<p>+ آية ٧ في مزمور باكر اليوم تكرَّرت في مزمور عشيَّة (مز ٩: ٧) رتِّلوا للرب الساكن في صهيون وأخبروا في الأمم بكل أعماله يوم ٢٦ توت (تذكار القديسة إليصابات )</p>
<p>والإشارة هنا إلى كنيسة العهد الجديد الكاملة التي تشمل كل الأمم</p>
<p>أمَّا يوم ٢٦ توت فالإشارة إلى صهيون (الكنيسة) ملجأ المساكين ومجدهم</p>
<p>+ قراءة إنجيل باكر اليوم (مت٨: ٥-١٣) هي نفس قراءة إنجيل عشيَّة يوم ٢٥ هاتور (شهادة أبو سيفين)</p>
<p>مجيئها اليوم لتضع قائد المئة مع زكَّا العشار (موضوع إنجيل القدَّاس) بعظم الاشتياق للمسيح له المجد في زكَّا العشَّار كنموذج للخطأة وعظم الإيمان في قائد المئة كنموذج للأمم</p>
<p>أمَّا مجيئها يوم ٢٥ هاتور فهو للإشارة إلي سلطان أولاد الله في المسيح وإيمانهم الكامل به (مثل قائد المئة)</p>
<p>كما أن موضوع هذه القراءة ( لقاء الرب مع قائد المئة ) جاء أيضاً في إنجيل عشيَّة يوم ١٦ توت (لو ٧ : ١-١٠) ، وهو الموافق لتذكار تجديد كنيسة القيامة ، وأيضاً في قراءة إنجيل عشيَّة  في الأحد الرابع من شهر أبيب ، واختيار الكنيسة للقراءة بحسب القديس متي في تذكار أبو سيفين للإشارة إلي سلطان الرب ( موضوع قراءة يوم ٢٥ هاتور ) ، أمَّا اختيار الكنيسة للقراءة بحسب القديس لوقا في يوم ١٦ توت فهو لأجل الإضافة التي ذكرها القديس لوقا وهو طلب اليهود من الرب باجتهاد لأجل قائد المئة لأنه &#8221; بني لنا المجمع ، وهو الجزء الذي لم يذكره القديس متي ، &#8221; لذلك جاءت في تذكار تجديد كنيسة القيامة</p>
<p>أمَّا مجيئها في الأحد الرابع من شهر أبيب فهو للإشارة إلي شفاء غلام قائد المئة وعظمة إيمان قائد المئة مقارنة بعتاب الرب لمرثا &#8221; ألم أقل لك: إن آمنت ترين مجد الله &#8221;</p>
<p>+ قراءة الإبركسيس اليوم (أع ٩: ٢٢-٣١) تُشبه قراءة الإبركسيس (اع ٩: ٢٢-٣٠) ليوم ٣ طوبه ( شهادة أطفال بيت لحم )</p>
<p>مجئ القراءة اليوم للإشارة إلي التغيير الذي حدث لشاول (كما زكَّا العشار في لقائه مع الرب موضوع إنجيل القدَّاس) ، أمَّا مجيئها يوم ٣ طوبه فهو للإشارة إلي نجاة شاول من مكيدة اليهود ( كما الطفل يسوع من مكيدة هيرودس )</p>
<p>+ إنجيل قدَّاس اليوم (لو١٩: ١-١٠) هو نفس إنجيل قدَّاس الأحد الرابع من شهر أمشير، إنجيل باكر يوم ١٦ توت ( تذكار تجديد كنيسة القيامة )</p>
<p>والذي يحكي قصة لقاء الرب مع زَكَّا العشار، الذي كان نموذجاً لإنسان العهد الجديد في الأحد الثالث من توت، ونال الخلاص في الأحد الرابع من أمشير</p>
<p>والعجيب مجيئه يوم ١٦ توت مع تذكار تجديد الكنيسة، وكأن الكنيسة تُشير إلي بيوت أولاد الله ( زكَّا ) تصير كنائس بحضور المسيح له المجد فيها ( ينبغي لي اليوم أن أكون في بيتك )</p>
<p></p>
<p></p>
<h3>شرح القراءات</h3>
<p></p>
<p>تتكلم قراءات هذا اليوم علي تدبير الله الآب ل&#8221; الرجل الكامل &#8221; الذي يمثله إبن الإنسان (إلي إنسان كامل إلي قياس قامة إبن الله)</p>
<p>تبدأ المزامير بإعلان أن الرجل الكامل هو من يختبر في حياته عجائب الله (مزمور عشيّة) وفِي حياة الآخرين بأعماله (مزمور باكر) ويشهد أمام الكل بها ( مزمور القدَّاس )</p>
<p>في مزمور عشية الإعلان عن عجائب الله للإنسان الكامل وشكر الإنسان من كل القلب (أعترف لك يارب من كل قلبي وأحدث بجميع عجائبك)</p>
<p>بينما يتكلم مزمور باكر عن أعمال الله العظيمة في إنسان الله بين الأمم (رتلوا للرب..وأخبروا في الأمم بأعماله )</p>
<p>أما مزمور القداس فيعلن كمال التدبير في أولاده وهو استعلان الخلاص ( ويتعالى إله خلاصي ) لذلك يمتلئ فم الإنسان بالتسبيح ( من أجل هذا أعترف لك يارب في الأمم )</p>
<p>وتتكلّم القراءات عن عطايا الآب للإنسان الكامل الحكمة السماوية ( البولس ) والقداسة والمخافة ( الكاثوليكون ) وقوّة الشهادة للمسيح له المجد ( الإبركسيس )</p>
<p>فيتكلم البولس عن الحكمة المعطاة للكاملين والتي تأتي فقط من الشركة مع المسيح المصلوب والتي لا يدركها العالم ولا يقبلها لكنها تعطي استنارة وإدراك لجة محبة الله للبشر والتي بها يحكم الإنسان الكامل علي كل شئ (لم أعزم أن أعرف شيئا بينكم إلا يسوع المسيح وإياه مصلوبا &#8230;لكننا نتكلم بحكمه بين الكاملين بحكمه ليست من هذا الدهر &#8230;ونحن لم نأخذ روح العالم بل الروح الذي من الله لنعرف الأشياء الموهوبة لنا من الله &#8230;أما الروحي فيحكم في كل شئ )</p>
<p>أما الكاثوليكون فيتكلم عن الطريق للحكمة والاستنارة متمثلا في القداسة والمخافة (كأولاد الطاعة غير مشتركين ومتمثلين بالشهوات السابقة&#8230;. فكونوا أنتم أيضا قديسين في كل سيرة&#8230;فسيروا زمان غربتكم بخوف)</p>
<p>بينما يعلن الإبركسيس عن ثمر الحكمة السماوية في الإنسان الكامل وهو قوة الشهادة للمسيح له المجد (أما شاول فكان يزداد قوة وكان يزعج اليهود الساكنين في دمشق &#8230;.وكيف جاهر في دمشق بإسم يسوع &#8230; يدخل في أورشليم ويخرج ويجاهر بإسم الرب يسوع )</p>
<p>ويأتي في الإبركسيس ماجاء في الكاثوليكون علي التأكيد علي كمال مخافة الله في كل الشعب</p>
<p>فسيروا زمان غربتكم بخوف                                                                  الكاثوليكون</p>
<p>(وكانت تُبْني وتسير في خوف الرب)                                                      الإبركسيس</p>
<p>وفِي الأناجيل خلاص الله لليهود                                                           (إنجيل عشيّة )</p>
<p>وخلاصه للأمم (انجيل باكر)                                 ولكل الخطاة والبعيدين ( إنجيل القدَّاس )</p>
<p>لذلك في إنجيل عشيّة يمكث السيد داخل البيت اليهودي والكل يأتون إليه بكل إحتياجاتهم (قدموا إليه جميع السقماء والمجانين وكانت المدينة كلها مجتمعة عند الباب فشفي كثيريين )</p>
<p>أما في إنجيل باكر فالرب يمشي في الطريق ويقابل الأمم خارج البيت لأنهم لم يكونوا مستحقين ثم يدعوهم لأن يدخلوا بيت الخلاص (فقال له يسوع  أنا آتي وأشفيه &#8230;كثيرون سيأتون من المشارق والمغارب ويتكئون مع إبراهيم وإسحق ويعقوب في ملكوت السماوات )</p>
<p>لذلك يعلن في إنجيل القداس أنه ليس فقط الأمم تفرح بالمخلص بل وكل الخطاة والمنبوذين يهبهم خلاصه المجاني مستقرا في بيوتهم وقلوبهم ومعلنا لهم عن اليوم الجديد (ينبغي لي أن أكون اليوم في بيتك&#8230;إنه دخل إلي بيت رجل خاطئ ليستريح&#8230;.اليوم صار الخلاص لهذا البيت )</p>
<p>تكرار له معني</p>
<p>تكرر في قراءات اليوم كلمة &#8221; بيت &#8221; في إنجيل عشية (دخلوا بيت سمعان وأندراوس ) وفي إنجيل باكر ( ياسيد غلامي مطروح في بيتي ) وفي إنجيل القداس ( صار الخلاص لهذا البيت ) لتعلن القراءات عن بيت العهد الجديد بيت الشفاء لليهود ( عشية ) وبيت الإستحقاق للأمم ( باكر ) وبيت الخلاص للكل ( إنجيل القداس ) والبيت السماوي               ( إنجيل باكر )</p>
<p>والسيّد في البيت اليهودي يأتي اليه كل المرضي (إنجيل عشيّة) ويمشي في الطريق ويقابل الأمم خارج البيت لأنه لم يكن لهم بعد بيت (إنجيل باكر ) ويدخل بيت الخطاة ويمنحهم الخلاص                                            ( إنجيل القدَّاس )</p>
<p>فبين بشرية محمومة بالخطية (اليهود في عشية) وبشرية معذبة مطروحة ( الأمم في باكر ) يعلن الآب تدبيره الخلاصي للكل في محبة الإبن الوحيد للكل                                                                                       ( إنجيل القداس )</p>
<p>لذلك أكدت القراءات أيضا على بنوتنا لإبراهيم الذي سنختبره في البيت السماوي (ويتكئون مع إبراهيم وإسحق ويعقوب في ملكوت السموات &#8230;. فإنه هو أيضا إبن إبراهيم) في إنجيل باكر وإنجيل القداس</p>
<p>ويضع البعض (كنز التفسير الشماس بشارة بولس ص ٥٠٠ ) مقارنة بين زَكَّا العشار وسخاء عطاؤه والغني المذكور في الإصحاح السابق &#8211; لو ١٨ &#8211; والذي منعته محبة المال من تبعية الرب كما أن ما فعله زَكَّا كان أكثر مما تطلبه الشريعة الموسوية (خر ٢٢ : ١ -٤) (عد ٥ : ٧) وحكم علي نفسه حكماً صارماً للغاية</p>
<p></p>
<p></p>
<h3>إنجيل القدَّاس في فكر آباء الكنيسة</h3>
<p></p>
<p><strong>المسيح يلقى زكَّا</strong></p>
<p>&#8220;فيما كان يسوع يقترب نحو أريحا، لقي الأعمى ولقي زكّى، هذين المنبوذين اللذين بهما شاء أنْ يصنع رحمة.&#8221; (أمبروسيوس).</p>
<p>&#8220;زكّى هو رئيس العشّارين؛ إذن فهو كثير الخطايا وقد يحصيه الفريسيون مع الزناة كأسوأ نماذج للفساد.&#8221; (كيرلُّس السكندري).</p>
<p>&#8220;يُظهِر زكّى كم يكون مِن الصعب ولكنه مستطاع أنْ يدخل الغني ملكوت السماوات.&#8221; (جيروم).</p>
<p>&#8220;مِن غير المألوف لاحد في مكانته أنْ يصعد فوق شجرة جمّيز؛ ولكنْ مِن أجْل أنْ يرى يسوع، عليه أنْ يرتفع فوق الأرض بكل ما فيها مِن خطايا وجهالات عالمية.&#8221; (كيرلُّس السكندري).</p>
<p>&#8220;مِثل المسيح الذي رُفِع على الصليب ليُظهِر جهالة الله، هكذا زكّى أيضًا يعتزم أنْ يصير جاهلاً حتى يستطيع أنْ يرى يسوع مصلوبا.&#8221;(أوغسطينوس).</p>
<p>&#8220;لقد تقبّل يسوع زكّى في قلبه بالترحاب؛ ولذا فهو مستعدّ لأنْ يستقبله زكّى بالترحاب في بيته.&#8221; (أوغسطينوس).</p>
<p>&#8220;إن الرب العالم أفكار زكّى يدعوه ليأتي تاركًا حياته في الناموس حتى ينزل إلى محضر يسوع ليصير ابنًا حقيقيًا لإبراهيم.&#8221; (إفرام السرياني)<a href="#_ftn2" name="_ftnref2">[2]</a>.</p>
<p></p>
<p></p>
<h3>  الكنيسة في قراءات اليوم</h3>
<p></p>
<p>إيمان الأمم                                                           إنجيل باكر</p>
<p>المصلوب رب المجد &#8211; الثالوث &#8211; مكافأة الله لمحبيه             البولس</p>
<p>النعمة والمخافة                                                     الكاثوليكون</p>
<p>عمل الروح القدس في الكنيسة                                  الإبركسيس</p>
<p></p>
<p></p>
<h3> أفكار مقترحة لعظات</h3>
<p></p>
<p><strong> (١) ( العظة الأولي )</strong></p>
<p><strong>  حياة الكاملين</strong></p>
<p>١- خدمة الكاملين (فشفي كثيرين كانوا معذبين بأمراض كثيرة)                         إنجيل عشيّة</p>
<p>٢- سلطان الكاملين  ( لأني أنا أيضاً تحت سلطان لي )                                    إنجيل باكر</p>
<p>٣- حكمة الكاملين السماويَّة  ( لكنّنا نتكلم بحكمة بين الكاملين )                          البولس</p>
<p>٤- قداسة الكاملين في المسيح  ( كونوا قديسين لأني أنا أيضاً قدوس )                الكاثوليكون</p>
<p>٥- قوّة الكاملين (وأما شاول فكان يزداد قوّة)                                                   الإبركسيس</p>
<p>٦- عطاء الكاملين (ها أنا أعطي نصف أموالي للمساكين )                                إنجيل القدَّاس</p>
<p></p>
<p><strong> ( ٢) ( العظة الثانية ) </strong></p>
<p><strong>  دور الإنسان في حياة الخلاص</strong></p>
<p>١- الإجتهاد في طلب الله &#8221; طلب أن يري يسوع من هو</p>
<p>إشتياقات زكا لرؤية الرب يسوع كانت فائقة لايمنعها أي شئ مهما كان</p>
<p>الذين يبكرون إليّ يجدونني (أم ١٧:٨)</p>
<p>٢- الإصرار على رؤيته رغم كل المعوقات &#8221; وإذ كان قصير القامة صعد إلي جميزة لكي يراه</p>
<p>&#8221; إستمروا في السؤال تعطوا إستمروا في الطلب تجدوا إستمروا في القرع يفتح لكم &#8221; (لو ٩:١١)(حسب الترجمة الأصلية )</p>
<p>من سيفصلنا عن محبة المسيح&#8230;&#8230;. (رو ٣٥:٨)</p>
<p>٣- عدم التأجيل وسرعة إغتنام الفرصة &#8221; أسرع وأنزل</p>
<p>كيف يستفيد الإنسان من زيارات النعمة له ولايؤجل أي فرصة للقاء مخلصه</p>
<p>فالله الآن يأمر جميع الناس في كل مكان أن يتوبوا متغاضيا عن أزمنة الجهل (أع ٣٠:١٧)</p>
<p>ها أنا واقف على الباب أقرع إن سمع أحد صوتي وفتح الباب أدخل إليه أتعشي معه وهو معي (رؤ ٢٠:٣)</p>
<p>التخلي الدائم والترك من أجل المسيح &#8221; ها أنا يارب أعطي نصف أموالي للمساكين ٤-</p>
<p>&#8221; بل إني أحسب كل شيء أيضا خسارة من أجل فضل معرفة المسيح يسوع ربي، الذي من أجله خسرت كل الأشياء، وأنا أحسبها نفاية لكي أربح المسيح (في٨:٣)</p>
<p>كل واحد منكم لايترك جميع أمواله لايقدر أن يكون لي تلميذا &#8221; (لو ٣٣:١٤)</p>
<p></p>
<p><strong>(٣) (العظة الثالثة)</strong></p>
<p><strong> سخاء الله في خلاصه لنا وفينا</strong></p>
<p>١- قبول فتيلتنا المدخنة وقصبتنا المرضوضة&#8221; نظر إلي فوق فرآه وقال له يازكا اسرع وانزل</p>
<p>وإذ كان لم يزل بعيدا رآه أبوه فتحنن &#8230;.. (لو ٢٠:١٥)</p>
<p>اللهم إرحمني أنا الخاطئ &#8230;.. نزل إلى بيته مبررا (لو ١٨: ١٤-١٣)</p>
<p>٢- يعطي أكثر حسب غناه وليس حسب كفايتنا &#8221; ينبغي أن أمكث اليوم في بيتك</p>
<p>والقادر أن يفعل فوق كل شئ &#8230;&#8230; (أف ٢٠:٣)</p>
<p>٣- &#8220;سكيب الخلاص لكل محبيك &#8221; اليوم حصل خلاص لهذا البيت</p>
<p>وسلام بنيك كثيرا (أش١٣:٥٤)</p>
<p>زكا طلب الرب بإجتهاد والرب بارك كل بيته وكل أحباؤه بسببه</p>
<p>٤- &#8220;إهتمام الله بالهالكين &#8221; لأن إبن الإنسان قد جاء لكي يطلب ويخلص ماقد هلك</p>
<p>منك تبني الخرب القديمة &#8230;. فيسمونك مرمم الثغرة مرجع المسالك للسكني (أش ١٢:٥٨)</p>
<p>هكذا يكون فرح في السماء بخاطئ واحد يتوب (لو ٧:١٥)</p>
<p>أخيراً هل كان زَكَّا يعتقد بأنه معروف جداً عنده ومحبوب أيضاً وأن رب المجد يريد دخول بيته وأن يمنحه الخلاص</p>
<p>كل هذه العطايا والنعم كانت في انتظار زَكَّا وكان المدخل الوحيد &#8221; طلب أن يري يسوع من هو &#8221; رغم كل المعوقات والصعوبات</p>
<p>وإذا لم يكن زَكَّا قد فعل ذلك كان سيعتقد مثله مثل كثيرين بأنه غير معروف وليس موضع اهتمام الله ولا يوجد له رصيد ولا يوجد غني في انتظاره</p>
<p></p>
<p></p>
<p><strong>(٤) العظة الثانية في الاحد الرابع من أمشير</strong></p>
<p></p>
<h3>عظات آبائية</h3>
<p></p>
<h4>يسوع وزکا للقديس كيرلس الأسكندري</h4>
<p></p>
<p>(لو١:١٩-۱۰) : &#8221; ثم دخل وانا في أريحا . وإذا رجل اسمه زگا وهو رئيس للعشارين وكان غنياً . وطلب أن يرى يسوع من هو ولم يقدر من الجمع لأنه كان قصير القامة. فركض متقدما وصعد إلى جميزة لكي يراه لأنه كان مزمعًا أن يمر من هناك. فلما جاء يسوع إلى المكان نظر إلى فوق فرآه وقال له: يا زكا أسرع وانزل لأنه ينبغي أن أنت امكث اليوم في بيتك. فأسرع ونزل وقبلة فرحًا . فلما رأى الجميع ذلك تذمروا قائلين: الله دخل ليبيت عند رجل خاطي. فوقف زكا وقال للرب: ها أنا يا رب أعطي نصف أموالي للمساكين وإن كنت قد وشيت بأحد أرد أربعة أضعاف. فقال له يسوع : اليوم حصل خلاص لهذا البيت إذ هو أيضا ابن إبراهيم . لأن ابن الإنسان قد جاء لكي يطلب ويخلص ما قد هلك&#8221;.</p>
<p>كان زکا &#8216; رئيسا للعشارين، وكان رجلا مستعبدا تماما للطمع، وكان هدفه الوحيد هو أن يزيد أرباحه، لأن هذا هو ما كان يفعله العشارون، مع أن بولس يدعوه (أي الطمع) عبادة أوثان (كو٣ :٥) ، وهذه العبارة تناسب فقط أولئك الذين ليست لهم معرفة بالله  وحيث إنهم بلا خجل يجاهرون علانية بهذه الرذيلة، فإن الرب قد ألحقهم صواب جداً بالزواني ، عندما قال لرؤساء اليهود : &#8221; ان الزواني والعشارين يسبقونكم الى ملكوت الله &#8221;  انظر   (مت۳۱:۲۱) . أما زكا فلم يستمر بين صفوفهم، بل حسبه المسيح جديرا بالرحمة لأنه هو الذي يقرب البعيدين، ويعطي نورا لأولئك الذين في الظلمة.</p>
<p>تعالوا إنن لنري كيف كانت طريقة اهتداء زكا، لقد رغب أن يرى يسوع، ولذلك صعد إلى جميزة، وهكذا فإن بذرة الخلاص نبتت داخله، والمسيح رأى هذه البذرة بعيني لاهوته، قبل أن ينظر إلى فوق ليراه بعينيه البشريتين &#8221; . وحيث إن قصده بالنسبة لجميع البشر هو أن يخلصوا، فإنه بسط لطفه إليه وشجعه وقال له: &#8221; أسرع وانزل &#8221; . إن زكا طلب أن يراه لكن الجمع منعه، ولكن لم يكن سبب المنع هو الناس، بقدر ما كانت خطاياه هي المانع. &#8220;وهو كان قصير القامة &#8221; ليس فقط من وجهة نظر جسدية، بل أيضًا من وجهة روحية، ولم يكن بإمكانه أن يراه بطريقة أخرى إلا بأن يرتفع عن الأرض ويصعد إلى الجميزة التي كان المسيح مزمعا إن يمر بها . والآن فإن القصة تحوى لغزًا داخلها، فلا توجد طريقة أخرى يستطيع بها الإنسان أن يرى المسيح ويؤمن به إلا بأن يصعد إلى الجميزة ، إلأ بأن يعتبر أعضاءه التي على الأرض ، الزنا ، النجاسة .. إلخ، أن يعتبرها مقاء. إن المسيح كان مزمعا لن يمر بالجميزة ، ولأنه حدد لطريقه أن يعبر على الناموس ، أي شجرة التين ( الجميزة ) ، فإنه قد اختار جهالات العالم أي الصليب والموت . وكل من يحمل صليبه ويتبع كلام المسيح يخلص إذا ما عمل الناموس بفهم (روحي) ، وكأنه شجرة تين لا تحمل تيناً بل حماقات ( بالمعنى الروحي ) ، لأن السلوك الخفي للمؤمنين يبدو لليهود انه حماقة ، الذي هو عبارة عن قطع الرذيلة والتطهير منها ، والامتناع عن الممارسات الرديئة ، مع أنهم غير مختونين بالجسد بالمعنى اليهودي الختان ولا يحفظون السبت . لذلك إذ علم المسيح أن زكا كان مهيأ للطاعة وغيوراً للإيمان ومستعدًا أن يتغير من الرذيلة إلى الفضيلة، لذلك فقد دعاه أيضًا، وبالطبع فإن زکا سوف يترك شجرة التين ( الجميزة ) ليربح المسيح . لذلك أسرع ونزل وقبل المسيح بفرح ، ليس فقط لأنه رأه كما كان يرغب ، بل أيضا لأن المسيح قد دعاه ، ولأنه قبله ليقيم عنده ، الأمر الذي لم يكن يتوقعه أبدا .</p>
<p>(لو٥:۱۹) &#8220;یا زگا اسرع وانزل لأنه ينبغي أن امكث اليوم في بيتك</p>
<p>كان هذا من فعل سبق المعرفة الإلهية لأنه عرف جيدًا ما كان سيحدث، فهو راي أن نفس زكا كانت مستعدة جدًا لأن تختار حياة مقدسة، ولذلك هداه إلى التقوی ، لذلك فإن الرجل قبل المسيح بفرح ، وكان هذا بداية تحوله إلى الصلاح ، وتخليه عن أخطائه السابقة ، وأن يستودع نفسه بشجاعة لطريق أفضل .</p>
<p>لكن ربما يقول أحد للمسيح مخلصنا جميعا: [ ماذا تفعل يارب ؟ هل تمضي لتمكث مع زكا؟ وهل تتنازل وتقيم مع رئيس العشارين؟ إنه لم يغتسل بعد من وصمة حبه الجشع للربح القبيح ، إنه لا يزال مريضًا بالطمع أصل كل الجرائم ، لا يزال مريضًا مملوءاً بعيب السلب والاغتصاب .</p>
<p>ويجيب (المسيح ) : نعم أنا أعرف هذا تمامًا ، إنني أنا هو الله بالطبيعة ، واری طرق كل إنسان على الأرض ، وما هو أكثر من هذا ، أنا أيضًا أعرف الأشياء المستقبلة . أنا دعوته إلى التوبة لأنه مستعد لها ، ومع أن الناس يتذمرون ويلومون لطفي ، فإن الحقائق نفسها سوف تبرهن على أنهم مخطئون . يقول النص : &#8221; فوقف زکا وقال للرب ها أنا أعطى نصف أموالي للمساكين ، وإن كنت قد وشيت بأحد أرد أربعة أضعاف &#8221; .</p>
<p>ها أنتم ترون توبته ، تغيره السريع نحو طريق أفضل ، إسراعه نحو التقوی ، محبته السخية للفقراء والذي كان قبلاً شعارًا بل رئيسا للعشارين ، والذي أسلم نفسه للطمع وانشغل بالربح ، في الحال صار رحيمًا ومكرسًا لأعمال المحبة . إنه يعد بان يوزع ثروته للمحتاجين، وإنه سيعوض كل من غشهم ، وهذا الذي كان عبدا للطمع جعل نفسه فقيرا وتوقف عن الاهتمام بالأرباح .</p>
<p>لذلك ، فليت جموع اليهود لا يتذمرون عندما يخلص المسيح الخطاة ، بل ليجيبونا عن هذا : هل يوجد لديهم أطباء ينجحون في جلب الشفاء حينما يفتقدون المرضى ؟ هل يمتدحونهم عندما يستطيعون أن يخلصوا المرضى من قروح بشعة أم يلومونهم ويمتدحون أولئك غير الماهرين في عملهم ، بل هم كما أظن ، سوف يحكمون بالأفضلية للماهرين في مساعدة كل من يعانون من الأمراض . فلماذا يلومون المسيح إذن ، إذ أنه عندما كان زکا ساقطًا ومدفونا في أمراض روحية ،  أقامه المسيح من حفر الهلاك ..</p>
<p>ولكي يعلمهم هذا يقول لهم : &#8221; اليوم حصل خلاص لهذا البيت و هو أيضا أن لإبراهيم &#8221; لأنه حيث يدخل المسيح ، فبالضرورة يكون هناك خلاص أيضا . لذلك ليت المسيح يكون فينا نحن أيضا، وهو يكون فينا عندما نؤمن ، لأنه يسكن في قلوبنا بالإيمان ونكون نحن منزلا له . لذلك كان من الأفضل لليهود أن يبتهجوا لأن زکا خلص بطريقة مدهشة، لأنه هو أيضا حسب من أبناء ابراهيم الذين وعدهم الله بالخلاص في المسيح ، بواسطة الأنبياء القديسين قائلا : &#8221; سوف يأتي مخلص من صهيون وينزع الآثام عن يعقوب ، وهذا هو عهدي معهم ، عندما أحمل خطاياهم (إش٥٩: ٢٠ -٢١) ، وليطلب من كانوا مفقودين ، وليخلص من قد هلكوا ، لأن هذا هو عمله ، وهذا هو ثمر لطفه الإلهي ، وهو يحسب كل الذين آمنوا به جديرين بهذا (الخلاص ) ، هو الذي به ومعه لله الآب التسبيح والسلطان مع الروح القدس إلى أبد الآبدين . آمين<a href="#_ftn3" name="_ftnref3">[3]</a>.</p>
<p></p>
<p></p>
<h4>الإنسان الكامل في فكر القديس غريغوريوس النيسي</h4>
<p></p>
<p>إذاً يجب أن نتقدم دوماً نحو الكمال، أي الوصول الى حالة الانسان الكامل، بحسب كلام الرسول بولس: &#8220;إلَى أنْ نَنتَهيَ جميعُنا إلَى وحدانيَّةِ الإيمانِ ومَعرِفَةِ ابنِ اللهِ. إلَى إنسانٍ كامِلٍ. إلَى قياسِ قامَةِ مِلءِ المَسيحِ. كيْ لا نَكونَ في ما بَعدُ أطفالاً مُضطَرِبينَ ومَحمولينَ بكُلِّ ريحِ تعليمٍ، بحيلَةِ الناسِ، بمَكرٍ إلَى مَكيدَةِ الضَّلالِ. بل صادِقينَ في المَحَبَّةِ، نَنمو في كُلِّ شَيءٍ إلَى ذاكَ الذي هو الرّأسُ: المَسيحُ&#8221; ويقول فيم وضع أخر: &#8220;ولا تُشاكِلوا هذا الدَّهرَ، بل تغَيَّروا عن شَكلِكُمْ بتجديدِ أذهانِكُمْ، لتختَبِروا ما هي إرادَةُ اللهِ: الصّالِحَةُ المَرضيَّةُ الكامِلَةُ.&#8221;</p>
<p>ويعنى بإرادة الله الكاملة: أن النفس قد خُلقت مجبولة علي التقوى، وتزينها نعمة الروح القدس, كزهرة رائعة الجمال، لكن هذا أيضًا مرتبط بالجهاد الروحي؛ يعتمد على عطية الروح القدس، وعلى جهاد المؤمن، لأن تجديد النفس يعتمد على مدى قبولنا لنعمة الروح القدس، لأنه هو الذي يعطيها هذا الجمال الذي يطلبه. وهذا يعني أنه على قدر ما يتسع ويمتد جهادك للوصول إلى التقوى، بقدر ما تنمو وتتسع النفس بهذا الجهاد الذى يطلبه منّا الرب، إذ يقول: &#8220;اجتَهِدوا أنْ تدخُلوا مِنَ البابِ الضَّيِّقِ، فإنِّي أقولُ لكُمْ: إنَّ كثيرينَ سيَطلُبونَ أنْ يَدخُلوا ولا يَقدِرونَ&#8221; وأيضا &#8220;ملكوتُ السماواتِ يُغصَبُ، والغاصِبونَ يَختَطِفونَهُ.&#8221; وأيضًا يقول: &#8220;الذي يَصبِرُ إلَى المُنتَهَى فهذا يَخلُصُ.&#8221; وأيضًا: &#8220;بصَبرِكُمُ اقتَنوا أنفُسَكُمْ.&#8221; ويقول الرسول بولس: ولنُحاضِرْ بالصَّبرِ في الجِهادِ المَوْضوعِ أمامَنا. وأيضا&#8221;ألستُمْ تعلَمونَ أنَّ الذينَ يَركُضونَ في المَيدانِ جميعُهُمْ يَركُضونَ، ولكن واحِدًا يأخُذُ الجَعالَةَ؟ هكذا اركُضوا لكَيْ تنالوا.&#8221; وفي موضع آخر يقول: &#8221; كخُدّامِ اللهِ، في صَبرٍ كثيرٍ&#8221;</p>
<p>إذاً هذا هو السبب الذي يسمح لنا أن نركض، والذي يدفعنا إلى الاهتمام بالجهاد وبقوة، لأن مقياس عطية النعمة يتحدد وفقا لجهاد الذي يستقبلها. إن الحياة الأبدية، والفرح السمائي الذي لا يُعبرَ عنه، يهبنا إياه الروح القدس، أما ما يجعلنا مستحقين لقبول النعمة والتمتع بها، فهو عشق الجهاد الذى يُنْشِئَه الإيمان فينا. فعندما يرافق عمل البر، نعمة الروح القدس في أي نفس،فإنها تمتلئ بالحياة الطوباوية، أما إذا إن انفصل احدهما عن الآخر ، فلن يُحقق هذا للنفس أي ربح من أي نوع، لأنه ليس من الطبيعي أن تزور نعمة الله النفوس التي تتجنب الخلاص، بل ومن غير الواضح أن قوة الفضيلة بمفردها، تستطيع أن تسمو بالنفوس إلي الحياة الحقيقية بدون نعمة الروح القدس لأن المرنم يقول: &#8220;إنْ لم يَبنِ الرَّبُّ البَيتَ، فباطِلاً يتعَبُ البَنّاؤونَ. إنْ لم يَحفَظِ الرَّبُّ المدينةَ، فباطِلاً يَسهَرُ الحارِسُ.&#8221; ويقول أيضا: &#8220;لأنَّهُ ليس بسَيفِهِمْ امتَلكوا الأرضَ، ولا ذِراعُهُمْ خَلَّصَتهُمْ، لكن يَمينُكَ وذِراعُكَ ونورُ وجهِكَ، لأنَّكَ رَضيتَ عنهُمْ.&#8221; ماذا يقصد بهذا الكلام؟ يقصد معونة إلهنا التي يقدمها للعاملين معه، بالإضافة إلي ذلك أنه لا ينبغي لأولئك الذين يعتقدون أن كل مجازاتهم تعتمد علي أتعابهم، أن يضعوا ثقتهم في إنجازاتهم البشرية، بل يجب عليهم أن يعتمدوا علي إرادة اللّه، وعلي رجائهم وأملهم النهائي في هذه الحياة<a href="#_ftn4" name="_ftnref4">[4]</a>.</p>
<p></p>
<p></p>
<h4>زكَّا العشار ليعقوب السروجي</h4>
<p></p>
<p>+ زكا رئيس الخاطفين لدغته حية خفية، فنظر إلى الأبن، وزال السم من أعضائه. لدغة الحية آلمته، ولما شعر بها ركض ليرى ذاك الذى عاش العبرانيون بسره. حل ربنا محل حية النحاس بالنسبة لرئيس العشارين (عد٢١:٤ – ٩) الذى عضه الإثم كالحية. كانت الخطيئة منتشرة في جسمه كالسم، وعندما نظر إلى الابن تلاشت منه وتبرر</p>
<p>+ رأى (زكا) بأنه لا يقدر أن يرى الابن كما أراد، فركض الحكيم إلى التينه ليحقق مطالبه</p>
<p>كان يقول زكا للتينة مثل هذه العبارات: وفرى لى الفرصة، كما أنت معتادة منذ البداية. أنت ألبست آدم الأوراق لما تعرى ، لتكتمل بك حاجتى الآن حتى أرى الابن  (تك ٣ : ٧) . أعطينى ارتفاعك لأتسلقه ، وأقف على أغصانك ، وأتأمل في رب عدن الذى جاء ليتفقدنا  (تك٢ : ٨) .</p>
<p>هيئ لى محلاً على قمتك العالية، لأقف وأرى ذاك الذى أنبت مع أبيه كل الأشجار اصبرى قليلاً إلى أن أنظر ، وأتأمل في ثمر الحياة الذى أرسل لنا من قبل العلى . قامتى قصيرة، ولو لم أقف على علوك، لن أصل لأرى ربم بين الجموع . ليس لى أرتفاع ، وليس لك ثمر ، لأنك مقفرة (مت٢١ : ١٩-٢٢) ، كونى لى علواً ، وأنا أصير ثمرة فيك . لتحتلي محل قامتى عندما أتسلق عليك، وأنا أحل محل الثمرة بالنسبة لك .</p>
<p>+ كانت ثمرة هذه التينة المجدبة عزيزة ، لأن المسيح قطفها من أغصانها أثناء مروره . رأى زكا كباكورةً في الشجرة ، وأسرع وقطفه من تلك الشجرة وهو يمر إلى أريحا (لو ١٩ : ١) . لم يكن يشبه آدم الذى هرب بين الأشجار ، وأخذ من تلك التينة أوراقاً ولا شيء آخر (تك٣: ٧ – ٨) . من الشجرة اشتاق أن يرى الابن ، وليس مثل آدم الذى اختبأ من الخالق (تك٣ : ١٠) . كان قد نضج بالمحبة، وكان مليئاً بطعم التوبة حتى قُدم لله ولذ له . من أريحا ومن الجميزة التي كانت مجدبة، عمل المسيح بجهده هذه الثمرة<a href="#_ftn5" name="_ftnref5">[5]</a></p>
<p></p>
<p></p>
<h4>التوبة للقديس أغسطينوس</h4>
<p></p>
<p>اشكر الله واشك ذاتك لانه يغفر خطاياك برحمه منه.اذ لو أراد ان يعاملك بحسب استحقاقك لما وجد فيك سوي ما يستحق الذم . اتق وجهه قبل مجيئه واعترف بما عليك كي لا يجد فيك سوي ما يستحق الثواب لا العقاب . الا يليق يمجد الله ان تعترف فتسبحه . بقدر ما تسئ حالة المريض يمدح الطبيب . اعترف أكثر بخطاياك أن راودك اليأس بسبب آثامك . كلما كثرت الخطايا المعترف بها كلما عظم مجد الغافر، وطالما أنك تعترف بخطاياك فستظل نوعا ما على خلاف مع الله . وكيف لا يكون هذا حالك ان كنت تشكر ثم نعمل ما لا يرضيه ؟ أن اعترفت بخطاياك وشكوتها تبدأ مصالحتك مع الله الذي يلتهم خطاياك ان شكوتها من تلقاء نفسك انضمت إلى الله وكأنك أمام اثنين : الإنسان والخاطئ . هو صنع ما ارتضيته كإنسان وأنت صنعت ما ارتضيته كخاطئ . انقض ما صنعت ليخلص الله ما صنع . عليك ان تكره فيما صنعته أنت وان تحب ما صنعه الله . وحين يبدأ عملك ان يزعجك ينبثق عن اتهام الأعمال الشريرة مبدأ الأعمال الصالحة . أن الإقرار بالأعمال الشريرة بداية الأعمال الصالحة . لا تكن لطيفا مع نفسك ولا تداعبها ولا تفتر قائلا في باطنك : أني بار إذا أحببت النور والحق فعليك أن تشكو فيك آثامك . لا توفر نفسك ولا ترحمها . يرحمك الله بل اعترف بما تريد ان يغفره لك . اتخذ إثمك قاضيا عليك ولا تتخذه محاميا عنك . اجلس أنت على منبر ضميرك وامثل في قفص الاتهام . يغتبط الشيطان حين تتهمه وهذا جل ما يتمناه حقا . انه يريد ان ترشقه بأنواع التهم شرط ان يفقد اعترافك ماله من استحقاق . اتهم نفسك ليكون لك الله محاميا . سوف يشفي أمراضك كلها ، ولكن إذا شئت لأنه لو شفي كل مريض لما شفاه رغما عنه . أكتشف في اعترافك عن رحمه قلبك تدخل في قطيع الله …</p>
<p>يا أولاد الأفاعي من علمكم أن تهربوا من الغضب الآتي ألا تثمروا ثمراً يليق بالتوبة ، فكل شجرة لا تثمر ثمرا طيبا تقطع وتلقى في النار (لو٧:٣ &#8211; ۹) : إذا لم تثمر تلك الثمار الطيبة فباطلا تفكر بالحصول على مغفرة خطاياك بتوبة عميقة . ما هي تلك الثمار ؟ اسمع يوحنا «من كان لديه ثوبان فليقسمهما بينه وبين من لا ثوب له . ومن كان لديه طعام فليعمل كذلك . » هل تريد كلاما أكثر وضوحا وصراحة وتأثيرا من هذا الكلام ؟ وهل هو مخالف لما قال أنفا &#8221; فكل شجرة لا تثمر ثمراً تقطع وتلقى في النار &#8221; وهل هو مخالف لقضائه على الذين هم عن الشمال &#8221; اذهبوا عني يا ملاعين إلى النار الأبدية لأني جعت فلم تطعموني &#8221; (مت ٢٥: ٤١ &#8211; ٤٢) قليل على الإنسان أن يبتعد عن الخطيئة إذا اهمل الخطايا السالفة وفقا لما كتب : &#8221; يا أبني أن اخطات فلا تزد على خطاياك ولا تظن نفسك في حمي من الخطيئة حتى اتخذت هذا الموقف ، والنبي يقول &#8221; استغفر عما سلف من الخطأ ليترك لك &#8221; (ابن سيراخ ۱۱:۲۱) . وأي نفع لك من الاستغفار إذا لم تستعد لا يستجاب لك بفضل ثمارك الجديرة بالتوبة إن كنت نظیر شجرة عقيمة قطعت وألقيت في النار ؟ وإن شئت أن تستجب صلاتك فاغفر يغفر لك واعطي تعطي. أنك تطالع في الكتب المقدسة أن &#8221; الماء يطفئ النار الملتهبة والصدقة تلغى الخطايا » (ابن سيراخ ۳ : ۳۳) وتطالع أيضا &#8220;خبئ الصدقة في قلب الفقر وهي تتوسل إلى الرب من أجلك &#8221; كما وانك تقرأ ايضا &#8221; لذلك أيها الملك فلتحسن مشورتي لديك وأقتد خطاياك بالصدقة » (دا٤-۲۷)<a href="#_ftn6" name="_ftnref6">[6]</a></p>
<p></p>
<p></p>
<h3>عظات آباء وخدام معاصرين</h3>
<p></p>
<h4>عظة لقداسة البابا تواضروس الثاني</h4>
<p></p>
<p><strong>اشتياق الى المخلص:  </strong></p>
<p>++هذا الإنجيل يتحدث عن زكا:</p>
<p>أ – شخصيته: رئيس عشارين وهوعمل مرزول من اليهود : لأن صاحبه يتميز بالطمع والجشع وعدم الرحمة</p>
<p>غنى جداً، ولكن أمواله عاجزة عن أن تحقق له ما يربد (رؤية المسيح)</p>
<p>قصير القامة: أي الأرادة ضعيفة – الحياة صعبه – الإمكانيات القليلة .</p>
<p>واسع الحيله  : يشي بالأخرين – يصعد على الشجرة .</p>
<p>ب – قصته: في مدينة واسعة الثراء: أريحا المشهورة بالتجارة</p>
<p>على شجرة كان اللقاء:</p>
<p><strong>والخشبة رمز الصليب.</strong></p>
<p>الشجرة رمز الكنيسة التي تحمل العالم كله.</p>
<p>لضرورة الارتفاع عن العالم .</p>
<p>تقابل مع إله واسع القلب : المسيح : يقبله – يخلصه – يزوره .</p>
<p>+ لقد طلب يسوع زكا . وكانت المبادرة من قبله : وأعطاه الخلاص والفرح</p>
<p>+ قدم زكريا دليلاً قوياً عما فعلته زيارة المسيح له – وذلك برد أربعة أضعاف كتعويض</p>
<p>تدريب: زكا اشتاق لرؤية المسيح فصعد إلى جميزة &#8230;.. وأنت تشتاق إلى رؤية المسيح فماذا تصنع؟!</p>
<p><strong>الانتصار على المال:  </strong></p>
<p>+ زكا رمز لانتصار القلب على أعظم سيد عرفته الأرض &#8221; المال &#8221; . فهو صنم سلب الدنيا. بأسرها وطرح بقامات عالية في أرض الخطية. هذا الإله حطم إنسانية الإنسان وأفقده عقله وروحه ليبقى الجميع ساجداً حوله.</p>
<p>+ المال أصعب وأخطر أسلحة العصر الحديث الذي يقوض أركان الدعوة والتبعية. والحياة النقية والمستقيمة. وهذه أمثلة:</p>
<p>١- يهوذا: زعزع المال أساسات التلمذة داخل جدران قلبه</p>
<p>٢- بلعام انهدمت أركان الخدمة والنبوه داخل قلبه</p>
<p>٣- الشاب الغنى: رفض بسببه قبول ملكوت الله ومضى حزيناً</p>
<p>+ لقد كان لقاء زكا مع المسيح سر تحول حياته من جمع المال ليصبح أكثر محسن على الأرض</p>
<p>+ هناك احتياجان عظيمان في النفس البشرية كانا عند زكا</p>
<p>١- الحاجة إلى التقدير &#8230;. وقد وجدها في السلطة</p>
<p>٢- الحاجة إلى الأمان &#8230;. وجدها في المال</p>
<p>ولكنه لم يشبع والدليل أنه طلب أن يرى يسوع &#8230; وقد أحس به يسوع ونادى عليه &#8221; يا زكا &#8221; وكان نداءً خاصاً، لقد تنازل زكا عن حبه للمال وقبل المسيح في قلبه  دون أن يطلب منه<a href="#_ftn7" name="_ftnref7">[7]</a> .</p>
<p></p>
<p></p>
<h4>عظة للمتنيح القمص لوقا سيداروس</h4>
<p></p>
<p><strong>زكا العشار</strong></p>
<p>ترى هل كان زكا يبحث عن يسوع؟ أم أن الرب يسوع دخل إلى أريحا خصيصًا يبحث عن زكا؟ لقد تحرك قلبك زكا بعد أن دخل يسوع إلى أريحا &#8230; ربما سمع زكا عن يسوع وربما اشتهى أن يراه لكنه لم. يسمع إليه في مكان آخر &#8230; فالرب يسوع هو الراعى الصالح يسعى في طلب الضال ويرد المطرود .</p>
<p>كثيرًا ما فكرنا في توبتنا أو الرجوع وإصلاح سيرتنا &#8230; ولكن هي إرادته من نحونا حتى قبل أن نفكر فيه؟!</p>
<p><strong>طلب أن يري يسوع من هو</strong></p>
<p>كثيرون طلبوا يسوع من أجل شفاء الأمراض أو إقامة الموتي أو من أجل الطعام البائد &#8230; أما زكا فطلب يسوع ليعرفه من هو &#8230; من المؤكد أن يكون زكا قد سمع عن الرب يسوع بسمع الأذن، ولكنه يريد أن يراه ويختبره ويتعرف عليه &#8230; ربما سمع عن المثل الذي قاله الربعين الفريسى والعشار &#8230; والآن يريد أن يري بنفسه الذي يبرر العشار. لقد سمع عن المسيح أنه محب الخطاة ولكن. هذا لا يكفى أنه يسعى لكى يكون مكانه مع المتكئين على صدر يسوع – كثيرأ ما إكتفينا أن نسمع عظة أو نقرأ كتابًا عن الرب يسوع، ولكن قليلا. ما سعينا لكى نقف نراه أنه موجود معنا كل يوم على المذبح &#8230; فهل لنا أن نراه ونتذوق حبه؟</p>
<p><strong>مشكلة زكا</strong></p>
<p>كم مرة تقف مشاكلنا وخطايانا كجبل ضخم يحجزنا عن الله وقد نتصور أنه لا مفر ولا خلاص طالما نحن قد وصلنا إلى حال كهذه &#8230; ولكن غير. المستطاع عند الناس مستطاع لدى الله .</p>
<p>والسؤال الذى يصعب الإجابة عليه. هل لأمثال زكا نصيب في خلاص أو رجاء في حياة أبدية؟ وليس جواب على مثل هذا السؤال إلا عند يسوع المسيح ربنا &#8230;</p>
<p>إن مشكلة زكا المربوطة بمحبة المال وعبادة العالم التي طالما عذبت نفسه عائشاً في ظلم وقساوة، هذه المشكلة تحل في لحظة واحدة &#8230; ومشكلة المرأة الخاطئة ومشكلة اللص &#8230; هذه المشاكل التي تبدوا في نظرنا كأن لا حل لها لا تستغرق لحظات أمام مراحم إلهنا ودمه الذي يطهر أعتى الخطاة.</p>
<p><strong>لم يقدر من الجمع لأنه كان قصير القامة</strong></p>
<p>كم مرة إعتذرنا بقصر قامتنا التي تعطلنا عن رؤية المخلص &#8230; بل وكثيراً ما ألقينا اللوم على الله نفسه &#8230; لماذا خلقتني قصير القامه ؟ ولكنا لم نترك ولم نفعل شيئاً، بل وكثيراً ما يجبرنا تزاحم الناس عن. رؤية يسوع فترجع من منتصف الطريق ونقول أن الناس حول يسوع حجبوا رؤيتنا له &#8230; الملتفين. حوله يسوع في زحام في الكنيسة وهم أبعد ما يكونون عن المسيح هؤلاء يحجبون يسوع عن الآخرين</p>
<p>+ ولكن يا لقلب زكا الملتهب وما أبعده عن النفس التي تريد أن تتعلل بعلل &#8230; إنه يطلب يسوع بإخلاص فيركض متقدماً ويصعد إلى جميزة فيرتفع فوق مستوى قامته وفوق مستوى الناس الحاجبين الرؤيا</p>
<p>كان مزمعاً أن يمر من هناك</p>
<p>لابد أن. ننتظر يسوع لكى يمر من أمامنا ولكن أيها العزيز ، يسوع له طريق واحد يسلكه &#8230; هل تعلم من أين يمر يسوع عليك ؟ طريق صليب ضيق . لا تنتظر أن يمر عليك وآنت سائر في طريق آخر في طريق واسع في مسرات وملاهي هذا العالم .  فالمنتظرون في هذا الًأماكن لا. يتوقعوا مطلقاَ أن يحظوا برؤية يسوع .</p>
<p>يا زكا أسرع وأنزل لأنه ينبغي أن أمكث اليوم في بيتك</p>
<p>تشتهى فقط أن نرى يسوع ولكن يسوع يفاجئنا بأنه مزمع أن يدخل بيتنا ويمكث عندنا ويأكل معنا ويستريح فينا كل ما كان يتمناه زكا مجرد رؤية يسوع ولو من بعيد ، ولكن الرب قال ينبغي أن أمكث اليوم في بيتك . ما أعجب مقاصد الله من نحونا هو يريد أن يعطينا أكثر مما نسأل وفوق ما نفتكر . مرثا كانت تشتهى أن يشفى لعازرأخوها من المرض ، ولكن الرب كان مزمعاَ أن يريها مجرد الله ويقيم لعازر من الأموات . أبراهيم أشتهى أن يكون له مجرد نسل ، ولكن الله كان يريد ان يعطيه نسلاَ تتبارك فيه جميع قبائل الأرض .</p>
<p>فوقف زكا وقال للرب ها أنا يارب أعطى نصف أموالى للمساكين وإن كنت قد وشيت بأحد أرد أربعة أضعاف</p>
<p>دخول مخلصنا إلى بيت زكا يغير كل شيء &#8230; هل من المعقول أن يدخل الرب يسوع إلى قلب زكا ويظل زكا محباَ للمال ؟ هل من المعقول أن يدخل الرب قلب زكا ويظل في قلبه ظلم. إلى أحد أو إغتصاب ؟ هذا مستحيل . أذاَ هذه ثمرة طبيعيه لدخول المسيح إلى داخلنا دخولاً حقيقياَ &#8230; لقد دخل الرب بيت سمعان الفريسى وخرج سمعان ولم يأخذ شيئاَ من. الرب ولا تغيرت حياته ، ولكن عندما دخل الرب إلى بيت زكا حدث تغيير كلى وأصبح بيت زكا كنيسة مقدسة ، بيت صلاة وبيت عطاء وسخاء&#8230;</p>
<p>+ كثيراَ ما كانت علاقتنا بالله كلمه أو كلمات جافه في الصلاة بلا تغير في. طريقة الحياة . وحقيقة الأمر ان النفوس التي يدخل المسيح إليها دخولاَ حقيقياَ لابد لها من التغيير الحقيقى فتتحول عنها من النظر إلى الماديات إلى النظر إلى بهاء مجد المسيح ولا تعود تحد من مسيرتها في أمور هذا العالم الزائل . وهذا واضح أشد الوضوح في حياة زكا . ففي اللحظة التي دخل فيها الرب إلى بيته سقط العالم تحت قدمى. زكا وبسهولة وفرح ألقى من يده نصف أمواله وأستعد أن يرد أربعة أضعاف ، لأن في زيارة النعمة للنفس البشرية يمتلئ الإنسان من حرارة روحية وبدفع قوى يجد الإنسان نفسه مدفوعاَ لتنفيذ الوصايا ليثمر الروح .</p>
<p>+ لذلك يجدر بنا أن نسأل نفوسنا كل يوم &#8230; أين ثمار التوبة في حياتنا ؟ اليوم حصل خلاص لهذا البيت إذا نظر الرب النفس نشيطة في حركتها مثل زكا مستجيبة لعمل الروح القدس تشتهى أن ترى يسوع وتتخطى قامتها القصيره وازدحام الجموع وتجرى بلهفة وتصعد. على جميزة ثم تقبل الرب إلى داخل منزلها وتتنازل عن مساراتها القديمة وأغتصابها وظلمها بلا ندامة ، إذ يري الرب حركات النفس النشيطة وثمار توبتها ، يعلن الرب خلاصاَ ويهبها حياة أبدية ويعطيها ميراث. إبراهيم أبن الإنسان قد جاء يطلب ويخلص ما قد هلك &#8230; سيظل الله يطلبنا حتى لو بلغنا إننا. في نظر الناس في صفوف الهالكين &#8230; فالرب لا يطفئ فتيلة مدخنة. وقصبة مرضوضة لا يقصفها . سيظل مبقى على رائحة الحياة التي فينا لعلنا في يوم نطلبه فنجده قريباَ منا إنها مراحم عجيبة لا نستحقها &#8230; ليتنا لا نتوانى لأنه يريد أن يخلصنا<a href="#_ftn8" name="_ftnref8">[8]</a> .</p>
<p></p>
<p></p>
<h4>الخلاص في مفهوم كنيستنا للمتنيح القمص بيشوي كامل</h4>
<p></p>
<p>الأب والابن والروح القدس إله واحد آمین</p>
<p>من موسى النبي بركاته علينا آمين . الأصحاح الأول الآية ١٤ . بيتكلم عن حياة العبودية بيقول &#8221; ومرروا حياتهم بعبودية قاسية في الطين واللبن وفي كل عمل في الحقل &#8221; .</p>
<p>ومرروا حياتهم بعبودية قاسية .. في الأصحاح ٣ من سفر الخروج لموسى النبي بيقول : &#8221; وظهر له ملاك الرب بلهيب نار من وسط عليقة فنظر وإذا العليقة تتوقد بالنار والعليقة لم تكن تحترق . فقال موسى أميل الآن لأنظر هذا المنظر العظيم لماذا لا تحترق العليقة . فلما رأى الرب أنه مال لينظر ناداه الله من وسط العليقة وقال موسی موسى فقال هانذا فقال لا تقترب إلى ههنا اخلع حذاءك من رجليك لأن الموضع الذي أنت واقف عليه أرض مقدسة.</p>
<p>ثم قال أنا إله أبيك إله إبراهيم وإله اسحق وإله يعقوب .</p>
<p>فغطى موسى وجهه لأنه خاف أن ينظر إلى الله . فقال الرب إني قد رأيت مذلة شعبي الذي في مصر وسمعت صراخهم من أجل مسخريهم . إني علمت أوجاعهم فنزلت لأنقذهم من أيدي المصريين وأصعدهم من تلك الأرض إلى أرض جيدة وواسعة إلى أرض تفيض لبنا وعسلا &#8221; .</p>
<p>رأيت مذلة شعبي وسمعت أنينهم ونزلت لأخلصهم من أعدائهم . وبعدين في الآخر قد أنقذتهم من هذه &#8230; دیه آیات بسيطة من سفر الخروج .</p>
<p>لكن في الواقع سفر الخروج ده من الأسفار اللى الكنيسة بتاعتنا بتهتم بيها وبالذات في فترة أسبوع الآلام وفي قراءات يوم الجمعة الكبيرة والرموز بتاعة خروف الفصح والخلاص وازای تم بدم الخروف وكل الحاجات دية لها معاني كثير خالص . إحنا بنعتبر أن العهد القديم كان كله بيرمز للعهد الجديد فسفر الخروج عبارة عن قصة بسيطة خالص &#8230; إن الشعب ده بتاع ربنا تعب وجاع مالقاش ياكل .. ده ايام موسي &#8221; يعقوب .. يوسف &#8221; فنزل لأرض جاسان نزل لمصر يعني وبعدين استوطن هناك في أرض جاسان وبعدين لقي القمة العيش كويسة فاكل وشرب واستريح على كده وبعدين ابتدأ نظير لقمة العيش اللي بيأكلها يمرر عيشته فرعون بعبودية مرة دى قصاد دی وبعدين عاشوا في العبودية .</p>
<p>ناس كده فكرت في الخلاص وديه أول صورة بمنتهی الوضوح &#8230; فيه صور ثانية طبعا في التكوين. لكن دي الصورة الواضحة للمنهج اللى رسمة الكتاب المقدس لما ابتدأ يتكلم عن الخلاص فابتدأت ناس تفكر في العبودية ديه لغاية إمتی هاتنتهي ؟ تنتها ماشية فتنتهی ازای ومين يخلصها ؟ !!</p>
<p>تعال نحسبها .. فرعون قوي بجيشه ثم إن مش كل الناس هتيجي وراه لأن فيه إغراءات والأكل والشرب واللحم وقدور اللحم والكرات والبصل والحاجات اللى قال عنها سفر الخروج ..فيه ناس أخذتهم الغيرة قالوا إحنا ممكن نعمل خلاص فطلع موسی بدرعته ولقي اثنين بيتخانقوا مع بعض قال لهم لأ إحنا ابتدأنا في الخلاص فقتل المصري وساب زميله وبعدين قعد موسی هربان في البرية ٤٠ سنة بمنتهی الخوف والرعب .</p>
<p>صحيح هو ابتدا بداية ونيته كانت كويسة لكن كانت بداية ذاتية .. الصورة الجميلة اللي بيصورها هنا سفر الخروج بيقول كده لو تحاول أنت تفهمها في مفهوم التجسد الإلهی . التجسد الإلهي عبارة عن إيه ؟ إن ربنا في السماء شاف حال الإنسان التعبان وشاف المذلة والبؤس اللي هو فيه .</p>
<p>والإنسان خطيته بتتكاثر عليه يوم بعد يوم وأجرة الخطية إيه ؟ موت . بيقول الكتاب المقدس هكذا أحب الله العالم حتى بذل ابنه الوحيد فأرسل ابنه أخذ جسد إنسان .. جه في الهيئة كانسان اتحد بطبيعتنا وبعدين أنقذنا بالصليب وبعدين أخرجنا من الأرض ديه وأصعدنا معه وأجلسنا معه في السموات . يبقى إذا نفس الرحلة بالظبط اللى اتعملت في العهد الجديد هي اللي اتعملت في العهد القديم . في العهد القديم بيقول إيه ؟ في العهد القديم بيقول أنا في السماء رأيت مذلة شعبي وسمعت أنينه وصراخه ونزلت لأنقذهم وبعدين أصعدهم من الأرض . آدی مفهوم الخلاص عند ربنا . مافيش طريقة ثانية .. لأ مافيش طريقة غير دية . لازم أنزل بنفسی . لازم طبعا .</p>
<p>إحنا لما بنتكلم في ترنيمة العليقة فاكرين في ليالي ٧و٤ نقول العليقة التي رآها موسى النبي في البرية والنيران تشعل جواها مثال أم النور طوباها حملت جمر اللاهوتية . فالنيران تشعل جواها ولم تمسسها بأذية .. فلازم إن ربنا بنفسه هو اللى ينزل . يعني هاقول لك ليه الإنسان مافيش فائدة فيه ؟ يبقى الفرق بين المسيحية والديانات الثانية كلها الديانات الثانية كلها بتجاهد بجهدها الذاتي .. وإيه ؟ وعاوزة توصل لإيه ؟ لربنا . إحنا العكس الآية مقلوبة ربنا اللى ينزل من السماء ويتحد بطبيعتنا وينقذنا ويطلعنا لفوق .</p>
<p>تقول لى ده واحد كبير وغرقان في البير تقول له اطلع يطلع ازاي ؟ فنزل الله زي ما بيقول معلمنا بطرس وجعلنا شركاء معه في الطبيعة الإلهية . لكن .. ماعرفش وقت الليلة يسمح &#8211; لكن أنا بنعمة ربنا لو أنت أخذت سفر الخروج کرحلة لحياتك على الأرض هو ده المنهج اللى رسمة ربنا بالظبط . هاتشوفه بيتفسر بطريقة دقيقة جداً جداً في عهد النعمة في العهد الجديد .</p>
<p>الأول ابتدی بالعبودية يقول لك مرروا حياتهم بعبودية قاسية . العبودية في الواقع كانت نتيجة لقمة العيش اللى بيأكلوها لهم . إدوهم العالم يدى من عنده يدى حاجة يدي معاها عبودية .</p>
<p>العبودية الفرق بينها وبين الحرية في الواقع مش واضح قوي .. في عينين الناس يعني لو سألت الابن الضال مثلا في بيت أبوه .. قلت له أنت في عبودية ؟ ده قبل ما يطلع أول مرة . أنت في عبودية ولا في حرية ؟ يقول لك أنا في منتهی العبودية تقول له ليه ؟ أنت مش في بيت أبوك ؟ ! تبقى عبودية !! يقولك حارمني من المصروف ؟ والأكل . ويجوا أصحابي هو بيقول عليهم وحشين . أنا مش شايف إن هم وحشين . وأجی مثلا أطلع مع ده يقول لي ماتطلعش مع ده ، ماتعملش كده ، ماتسهرش في الحتة الفلانية .. لأ .. دیه عيشة ديه ؟ ! دی عبودية !!</p>
<p>يا ابني ياحبيبي دية مش عبودية ده العبودية أنت تروح تبيع نفسك للذل والعار .. هي دی عبودية . يقول لك مرروا حياتهم في عبودية قاسية . آه هي دي العبودية . ففيه أنواع من العبودية كثيرة تعال الأول شوف العبودية الأولانية : الشيطان . يقول الشيطان لحواء يقول لها صحيح هل الله قال لكما لاتأكلوا من كل شجر الجنة ؟ ده كذاب .. أصل الشيطان مش يقول لها حتى شجرة معرفة الخير والشر &#8230; يقول لها من كل شجر الجنة . قالت آه أو قالت له لأ.. من شجرة الخير والشر بس .. معرفة الخير والشر . قال لها لأ .. لأ .. ده ربنا دائما يحب الناس اللي تعيش معاه تعيش في العبودية يعني إيه معناه .. إنه يخليك كده .. طب كلي وأنت ها تصيری مثل الله وتتفتح عينيك وتشوفي كل شئ . قال آه كده .. أغويها كده ..وابتدأت من هنا .. الإنسان باع نفسه بنفسه للشيطان .</p>
<p>ابحث القضية دية تجد حواء وآدم سمعوا كلام مين أكثر ؟ ربنا ولا الشيطان ؟ سمعوا الشيطان لأنهم عبيد للشيطان بملء حريتهم  عشان إيه ؟ عشان أكلة صغيرة طبعا . العبودية دي كانت نتيجتها الذل . لكن في الأول الواحد يفتكر إن إيه .. نتيجتها يعنى بحبحة .. لأ .. نتيجتها إنه يتعرى طبعا . نتيجة القتل الحرية بتاعة الابن الضال إنه راح سكة القتلة والخرنوب يأكله دی عبودية .</p>
<p>فيه عبودية ثانية عبودية تبص تلاقي الإنسان في الدنيا ديه بيجرى ليل نهار . الصبح وبالليل يا عم بتجرى وراء إيه مش عايش مبسوط ؟ يقول لك الفلوس .. وأنا عاوز أعمل وأسوی . يا غبي في هذه الليلة تطلب منك نفسك . المسيح مايقولش كده يا غبي .. يا غبي ماذا ينتفع الإنسان لو العالم كله وخسر نفسه . يقول لأ لسة .. طب على رأي القديس اغسطينوس يقول إية ساعات واحد يفتكر إنه بيملك</p>
<p>بعيد عنك شئ في حقيقة الأمر إن الشئ هو اللي بيملكه . يعني هو بيملك شئ لكن يجي ينام يحط رأسه على المخدة بلا شئ ده هو اللي بيملکه . لأنه مربوط من رقبته . منظر كده يعني مش أنا اللي ملكت الشئ ده هو اللي ملكني . اللى بيثير تفكيرى زى ما هو عاوز . وفيه عبودية المراكز . على فكرة موسى كان نبيه يعني كان فيه روح ربنا . موسی ده لو كان في مركزه مش كان ممكن يعمل خلاص . أه ممكن .. لأن موسی ده مركزه كبير ابن ابنة فرعون . يعني يجي وقت من الأوقات يبقى هو الحاكم الكلى للبلد . أه .. أما فكرة .. صحيح . لو كان موسی تنه في المركز بتاعه كان خلص الشعب بتاعه . ده من الخلاص عن طريق الإية ؟ المركز . الناس تفتكر فعلا با سلام .. لو إحنا بس يبقى لنا مراكز في الحتت الفلانية دية ودية ودية فممكن نعمل أعمال عظيمة خالص . يا شيخ !! إنما موسى قال إيه ؟ موسى قال لا .. لأ أنا أتذل مع إخواتي .. اشيل عار المسيح . وهو ده منهج الخلاص . أبي أن يدعی ابن ابنة فرعون مفضلا بالأحرى أن يذل مع شعب الله . هو قال أنا إيه ؟ أنا هاخلص اخواتي ؟ إخواتی ؟ ! فين هو ده طريق الخلاص . ربنا يسوع المسيح لما أراد خلاصنا قال أنزل مع إخواني أدعوهم إخواتي وأصير . معاهم . وفيما قد تجرب معهم يقدر أن يعين المجربين . هو ده الخلاص الخلاص هو التجسد . على كل حال موسی خايب في الحتة دية . لكن فيه عبودية ثانية عبودية المراكز نجح فيها موسی ، لكن موسی نزل يقول الناس تعالوا تعالوا للحرية ويالا بينا نتحرر . طب ما أنت یا موسی السة عبد . قال أنا عبد ازای ؟ ده المركز بتاعى أنا دسته بجزمتى . قال له لا .. فاضل إيه بقى ؟ قال له يا موسی انت ماتحررش لسة من عبودية ذاتك لأنك لما طلعت عشان تخلص إخوانك شمرت درعك كده وقلت أنا إيه أولا أنا راجل أعرف أتكلم كويس . مع إن يوم ربنا ما ناداه قال له أنا مابعرفش أتكلم ده أنا ألدغ . قبل كده أنا أعرف أقتل كويس وأنا عضلاتی قوية وأنا.</p>
<p>إحنا ممكن نقوم بثورة فظيعة ونقلب الدنيا&#8230; وأنا ها هاعمل وأخلي وأسوی &#8230; عبودية الذات . عشان كده ربنا يسوع المسيح لما جه يتكلم قال .. قال .. من أراد أن يكون لي تلميذا أول حاجة إيه ينكر ذاته قبل ما يحمل الصليب . ما هي الخطورة إنه يحمل الصليب ازاى ؟ في الترجمة القبطية : &#8221; يكفر بذاته &#8221; يعني العجيب يكفر بذاته نمرة ۲ يحمل صليبه نمرة ٣ وبعدين يتبع المسيح &#8230;</p>
<p>يعني لازم تمشي كده .. مافيش واحدة قبل الثانية ..</p>
<p>یعنی تیجی أنت تتبع المسيح من قبل ما تكفر بذاتك تتوه ماتتبعش المسيح . تمشي خارج الإيه ؟ .. زی يهوذا الاسخریوطی ماهو كان مع المسيح بس ماكنش يري المسيح : زی ما درستوا زمان في الرياضة الخطين المتوازيين لا يتلاقيا أبدا . إيه طب إيه الحكاية في الخلاص ؟ موسی عملت إيه ؟ قال الخلاص إحنا عملنا له برنامج خلاص قصة ومترتبة .</p>
<p>تعرف نتيجة للعملية دية ربنا عمل إيه في موسی ؟ توهه في البرية .. خايف٤٠ .. ٤٠سنة ضايع .. أصل موسی ضاع في الخدمة عشان عبودية الفرد.. عبودية الذات . عبودية الفرد لما موسی حس بنفسه . قال له اسمع بس أقف هنا ..أنت فكرك أنت اللى بتشتغل الشغل ده .. واسمك هو اللى عامل الهيصة ديه ؟ طول بالك أنا هاورى لك دلوقت ازاي تكون .</p>
<p>الأول تيجي تاخد مين فتاه في البرية ، ٤٠ سنة شوف كانت بتبحث عنه المباحث ، ولا مخابرات ، ولا إيه .. ويدوروا عليه . اللى هو ياعيني تايه يقول لك إذا سمع صوت حد يخاف من خياله .</p>
<p>أصله ياعيني موسى أتابيه ماتحررش من عبودية الذات ولا تحرر من عبودية القيود . یعنی موسی خايف بيني وبينك كده مش كل واحد يقتل يعني يبقى شجاع . ده موسي قتل المصرى لكن هو في حقيقة الأمر هو خايف على نفسه بدليل إنه هربان 40 سنة .. ممكن نعطل الخدمة ٤٠ سنة ؟ آه .. يقول لك ربنا أخر الخدمة في الكنيسة ٤٠ سنة عشان تبتدي بالطريقة اللي هي ربنا عاوزها .. هي اللي ربنا يتمجد فيه ذاته . هو مش اللى ٤٠ سنة يا موسی هربان في الذل .</p>
<p>قال له جه في يوم من الأيام ظهر له في العليقة قال له يا موسی انا عندي برنامج لك خلاص قال له عندك برنامج . أنا كان عندي زمان برنامج قال أنا عندي برنامج أنا بنفسي أنزل وأقود الشعب بایدى أنا بذراعی .</p>
<p>الحقيقة قال طب عاوز منى إيه ؟ قال له أنت تروح لفرعون .. قال لأ يا عم أنا أروح لفرعون ؟ قال له ياربي أولا أنت مش واخد بالك ده أنا على حكم بالإعدام أنا هربان منه فيبقى مش أنا &#8230; قال لأ أنت &#8230; قال له طب أنا عاوز أنبهك لحاجة ثانية يارب ..ألدغ &#8230;ده إنت هاتروح تقول كلمتين لفرعون . ألست بصاحب كلام ! قال له برده أنت مين اللى خلق اللسان ؟ قال له ربنا . طب ليه بتقول إنك الدغ ؟ لسه بتتكلم بذاتك ثاني .. ما كفاکش ٤٠ سنة عشان تحرم تقول لساني أبدا.. قال خد العصاية ديه وروح قال له طب هاروح لفرعون وأقول له أيه ؟ قال قول له جای من عند ربنا .</p>
<p>هايقول لى طيب لو سألني سؤال حرج يقول لي اسمه إيه ربنا بتاعك أقول له إيه ؟ زمان كانوا بيسموا الآلهة اسم . قال له اسمي يعني هو اللى شهود يهوه بياخذوها يعني كأنها إيه . يهوه يعني هو ربنا . هتقول لي اسمي إيه ؟ هو ربنا . قال له ادینی دلیل .. دليل إيه إذا كنت أنا اللى باكلمك وبأقول لك روح عشان تطلع الشعب كده تقول كلمتين أنت عاوز دلیل ؟ !! إذا ماكنتش شفتني وأنا كلمتك في العليقة !! أنا عاوز أقول يا إخوتي في المرحلة الأولى في الخلاص مرحلة الجهد الذاتي .</p>
<p>المرحلة الثانية ربنا رأي إيه قال يعني أنت فكرك فرعون ده .. أنا هاديله ، كل خبطة والثانية قال له : طب كويس يروح يقول له اخرج شعبي ليعبدني يقول يعبدك إيه يعبد ربنا طيب ويرجعوا تانی شعب إسرائيل يقولوا لموسى إيه لماذا أنت أخرجتنا من عند فرعون مش كنا بناكل عيش وكنا عايشين تحت الذل ليه بس مين قال لكم عاوزين خلاص ماتسيبونا بس في حالنا .</p>
<p>ويروح ربنا يخبط فرعون خبطة يصرخ لموسى يقول له حرمت هاطلعهم &#8230;</p>
<p>يضحك عليه . كم ضربة ضربهم ربنا لفرعون ؟ ۹ ضربات !! كل ضربة تقطم الوسط لكن يموت مايموتش من الضربات التسع ديه &#8230; كلها ماموتتش فرعون .. خلي لبالك &#8230;الخلاص ده نوع ثاني من الخلاص الأولانی كانوا بيسرقوا البكورية ، والخلاص الثاني كان بالضربات . برده ماتخلصش . الناس افتكرت إن ربنا ده في السماء كده بيقول خلصت الإنسان ولا يجي كده ماسك الإنسان وضاربه قلمین &#8230; فالضربات كانت تأديب لفرعون لكن ماتمش الخلاص &#8230; طب أمال الخلاص تم ازای ؟ هو الآية بتقول كده : رأيت مذلة شعبي وسمعت أنينهم لازم أنزل أنا بنفسي لازم أخلصهم وأنقذهم وأخذهم بدرعتي ديه وأطلع بيهم &#8230; مين يخلص ولاده ؟ !!</p>
<p>ده أنت لو عندك ابن في النار .. تیجی کده تقول له لما أطلب لك المطافی کده عشان تخلصك ؟ ! ده إنت تخش تخطف الولد کده من وسط النار وتيجي مطلعه بره!!!</p>
<p>وبعدين يجي خروف الفصح .. أنا الحقيقة عشان الوقت بتاعكم مش عاوز أتكلم عن خروف الفصح انتوا كلكم طبعا عارفين الدليل بتاعه للخلاص . وإن هو لازم خروف الفصح ده واخد بالك مايشتر اش غير في اليوم العاشر ويذبح في اليوم ١٤ من شهر نيسان .</p>
<p>والمسيح رب المجد دخل أورشليم في اليوم العاشر من شهر نيسان والمسيح اتذبح في اليوم ال ١٤ ويتاكل على أعشاب مرة . وهي مرارة التوبة مهمة للخلاص ياه : ياه .. عظم من عظامه لا تنكسر رمز للمسيح إن هو ما تكسرتش عظامه ، ولأن المؤمنين إيمانهم زي العظم ما يتكسرش . وتشويه على أعشاب مرة وتاكلوه بعجلة .. الخلاص بتاعكم.</p>
<p>وتكون فريضة دهرية عشان كده حتى المسيح لما قدم لینا جسده ودمه اعتبرناه قدم فريضة دهرية في كل مرة بنتناول بنقول مع داود النبي كاس الخلاص آخذ&#8230; كأس الخلاص إيه ؟ المزمور بتاع صلاة الساعة التاسعة بيقول كأس الخلاص أخذ فعل مستمر يعني&#8230; لأن هو بيقول له إن هي فريضة دهرية يعني واحد يقول لك ايه ؟ الخلاص تم وبتاع &#8230; لا ياعم الخلاص هنا مستمر كل يوم في حياتنا . علشان كده هو بيقول لك يعملوا فريضة دهرية .</p>
<p>نزل ربنا &#8230; موسی قال لفرعون .. قال له أخرج الشعب عشان ايه .. يروح ويعبد ربنا . قال له طب ماتعبدوه قريب . قال له لأ لازم في الصحراء بعيد . قال له طب هاتبعدهم قد إيه ؟ طب بلاش الستات بتوعهم &#8230; قال له لأ لازم الستات بتوعهم قال له طب خذوا الستات بتوعهم وبلاش الغنم والبقر بتوعهم &#8230; قال له لأ لازم الغنم والبقر بتوعهم كل دية عروض لأن فرعون رمز للشيطان أنصاف الحلول يعني ماشي مع ربنا مش سايب لك كده ديل . فالمهم مافيش فائدة ..</p>
<p>ايه .. قال له طيب هتعبدوا فين ؟ قال له على مسيرة ٣ أيام . يعني لما تحسبها بالظبط تجد ان المسافة اللي مشى فيها الشعب من أرض جاسان لغاية سطح البحر الخليج بتاع البحر الأحمر هيبقى بالظبط يأخذ ٣ أيام . طبعا العملية دية تمت بعد ذبح الخروف والدم اللى دهنوا به العتبة والقائمتين . وطلعوا وقفوا على سطح البحر هنا يبقى يبان بقي ايه عمل ربنا . وبعدين قالوا له مافيش كان قبور في مصر عشان جای تدفنا هنا ؟ !! قال لهم اسمعوا وهو ماسك العصاية في ايده &#8211; العصاية دائما رمز للصليب &#8211; يعني خلاص للرب . وأنا بأقول القصة مش من الناحية الجسدية لأ .. حتى مش من الناحية الفكرية . وتعرف .. لو هم اتفرقوا في وسط الصحراء واتفتح البحر ساعتها.. على ما يتلموا يكون فرعون لحقهم . یعنی وقفتهم كانت مهمة .. عشان كده الخلاص تم بسرعة . فالبحر قدامهم من ناحية وإيه .. فرعون الشيطان من ناحية .. المهم ان هم عدوا البحر.</p>
<p>في الإصحاح ال ١٤ وماسك العصا ضرب البحر بالعصا اللي هي رمز للصليب . وبعدين بقي فيه منظر خطير جدا .. الشيطان وجنوده والجيش بتاعه كله في قعر البحر ؟ والشعب اللي كان غلبان على سطح البحر وصل البر الثاني . فابتدأ موسی يرتل ترتيلة اسمها ترتيلة موسي عبد الله في الإصحاح ١٥ ياريت تحفظها .</p>
<p>الإصحاح ١٥ يقول فيها &#8221; حينئذ رنم موسی وبني إسرائيل للرب بهذه التسبحة أرنم للرب فإنه قد تعظم الفرس وراكبه طرحهم في البحر . الرب قوتي ونصيبي وقد صار لي خلاصا إلى آخره ..&#8221;.</p>
<p>لغاية لما اخدت مريم النبية أخت هارون الدف بيدها وخرجت جميع النساء بدفوف وراءها ..فالخلاص في طبيعته عبارة عن ترنيمة رقص .الشيطان بقی .. الشيطان غرقان في البحر وهم على بر البحر بيرقصوا وفرحانين .</p>
<p>إحنا بنقول إن البحر الأحمر ده رمز للمعمودية . لأن المعمودية هي الحد . زي ما بيقول الرسول إن هم خلصوا بالماء . والماء أيضا بتاع الطوفان هو اللى أهلك الناس .. والماء بتاع الطوفان هو اللى نجی نوح . يعني الماء عمل عمليتين مع بعض . كان السبب في هلاك ناس .. والسبب في خلاص نوح . وماء البحر الأحمر كان السبب في هلاك فرعون وهي نفس الماء اللى هو وقف الحاجز بين الصفين بين الماضي وبين العهد الجديد .</p>
<p>فوقفوا يرتلوا &#8230; تعرف كنيستنا الجميلة &#8230; يا خسارة بس الناس مش واخدة بالها الأيام دی &#8230; تعرف إن كل ليلة في التسبحة لازم تترتل ترنيمة موسی .. يا سلام!!</p>
<p>اسمها الهوس الأول : ترتل ترتيلة موسى الإصحاح ال ١٥ ده يتقرأ كل ليلة في الكنيسة في التسبحة بتاعة نصف الليل &#8230;كل ليلة &#8230;الترتيلة الجميلة وآية آية بدون تحريف لا بحرف زيادة ولا بحرف نقص ليه ؟ عشان خاطر المؤمنين يفتكروا إن المعمودية اللى أنقذتنا وهي اللي خلصتهم وإن هم ماكنش ممكن أبدا يرقصوا ويفرحوا إلا بواسطة دم الخروف.</p>
<p>إن هم ايه ؟ يعبروا البحر . هاقول لك بقي حاجة أجمل من كده .. احنا قلنا خروف إيه ؟ الفصح . تعال اقرأ رؤيا ١٥ بقي ، رؤيا ١٥ لما يجي يتكلم في سفر الرؤيا .. إيه رأيك في الحتة الجميلة دية بتقول ايه رؤیا ١٥ ؟ ثم رأيت آية أخرى في السماء عظيمة وعجيبة سبع ملائكة معهم السبع ضربات الأخيرة ، ورأيت كبحر من زجاج .. آدي البحر آهو ، مختلط بنار والغالبين على الوحش وصورته وعلى سمته وعدد اسمه واقفين على البحر الزجاجي ومعهم قيثارات الله وهم يرتلون ترنيمة موسي عبد الله وترنيمة الخروف . ولما تقرأه في سفر الرؤيا تلاقيها هي هي نفسيها نفس الألفاظ اللى اتقالت في سفر الخروج . عاوز أوري لك المنهج بتاع كنيستنا خطير جدا . إن الترتيلة اتقالت في العهد القديم وبتتقال في العهد الجديد .</p>
<p>لأن دية كنيسة المسيح وبتقولها الكنيسة النهاردة كل يوم في العهد الجديد وهنقولها فوق في السماء على طول إلى أبد الآبدين .. نفس الترتيلة إيه رأيك في الكلام ده ؟ !</p>
<p>إذا الخلاص مستمر من العهد القديم ماشي وعمال يشتغل كده . نرجع ثانی نقول : طيب الخلاص ده إيه ترنيمة ؟ آه&#8230; غنيوة &#8230; أغنية فرح ..غنوه صدقني .. والغنيوة تتقال برقص كمان . ماقصدتش رقص يعنى المعنى اللى بيحصل في العالم أو الهرجلة ديه &#8230; لكن رقص روحی یعنی فرحة قلبية ، لأن المسيح حط قدامنا الميه عن طريق المعمودية وأنا عبرت الناحية الثانية .الحقيقية يا جماعة إن الخلاص في مفهوم الكنيسة عندنا .. اتحاد بربنا .</p>
<p><strong>فالنقطة الأولانية هي الاتحاد بالله :</strong></p>
<p>لم يكن ممكن أن يحدث الخلاص إلا إذا كان الله ينزل ويتجسد بواسطة إنسان . معايا كده .. ماكانش ممكن أن يحدث الخلاص إلا إذا كان الله ينزل ويتجسد بواسطة إنسان . عشان كده المنهج العملي للخلاص إن أنا اتحد بالله .</p>
<p>المسيح نبهنا وقال اثبتوا في أنا الكرمة وأنتم الأغصان أثبتوا في ودائما يقول اثبتوا.. في قصة كده بتقول إيه ؟ إن كان في بنت تنزل السوق فاية الشبان بيعاكسوها ، فراحت البنت ديه جابت أخوها . فأخوها لما جه مسكت في أيده . طول ما هي ماسكة في إيده محدش يقدر يعاكسها .. آه طبعا ..أخوها الكبير معاها .طيب إذا سأبت إيده إذا سابت أيده على طول يبهدلوها .</p>
<p>إذا الخلاص في المفهوم الأصلي هو التجسد واتحادنا به .عشان كده الكنيسة بتاعتنا بتعمل stress بتؤكد دائما على الاتحاد . بتقدمه عن طريق التوبة والصلاة والتناول والشركة المقدسة . وماتنساش حاجة شركة جسم المسيح لأننا كلنا أعضاء في جسد إيه ؟ واحد . أقرأ كده في رسالة بولس لأهل أفسس &#8221; إننا من لحمه ومن إيه عظامه &#8221; إن الجسم ده جسم واحد الكنيسة بتاكل أكلة واحده .. الكنيسة بتاكل أكلة واحدة ..</p>
<p>أنا يعني باتكه على نقطة التجسد . عشان تفهم إيه هو الخلاص وبعدين الخلاص مش ممكن كان يتم غير بدم الخروف .. مش ممكن وبعدين لابد إن الخلاص يكون عبور للمعمودية المسيح قال كده &#8221; إن لم تولدوا من الماء والروح لن تدخلوا ملكوت السموات &#8221; وإن دیه شرطية . فعلى رأي كلام المسيح لنيقوديموس قال له أنت معلم الناموس عاوز يقول له أنت نسيت البحر الأحمر يا حضرة نيقوديموس ؟ ! فعبور البحر في المعمودية هو بناء قد تم للخلاص .</p>
<p>آه طبعا .. الخلاص . لأن ثمر الروح محبة وإيه ؟ فرح نمرة ۲ تيجي لواحد مسیحی کده حزين . ياعم حزين على إيه ؟ يقول لك حصل كذا كذا ضايقوني في شغلی عملوا لي معرفش إيه .. ياعم ده بيقولوا افرحوا وتهللوا يبقى إنت مش عايش في الخلاص بتاع المسيح لأ في حاجة واحدة بس تحزن عليها .. يقول لي إيه ؟ أقول له الخطية ..</p>
<p>حتى حزن الناس العادي ده المسيح قال طوبي للحزاني .. لأ أنا مش باعزيك بافرحك ..وصحيح وحتى أتون النار المسيح قاعد مع الثلاث فتية يتمشى رايح جای . يقولوا خلينا هنا على طول .. حد يصدق !! لكن أتون النار ومعاهم مين ؟ . معاهم المسيح &#8230;عشان كده أرجو يا أحبائي . .. إن الخلاص في ذهننا اللي قدمته الكنيسة بتاعتنا هو الثبات في المسيح . لما تيجي أنت القداس بتاعنا ده .. إيه القداس ده ؟ عبارة عن ربنا موجود .</p>
<p>عرفنا في البداية العضوية الكنسية وقرأت كده في تفسير الآباء عن العضوية الكنسية . لقيت بيقول على العضوية الكنسية .. العضوية الكنسية يعني الناس بتتناول من جسد الرب ودمه . لأن لما أخش في شركة الكنيسة ونبقى جسد واحد يبقى كلنا أصبحنا جسد واحد . يبقى اتحدنا بإله واحد .. رب واحد . اقرأ في رسالة أفسس معمودية واحدة .. إله واحد .. رب واحد .. روح قدس واحد .. يبقي حصلت وحدة .</p>
<p>يبقى كلنا أعضاء في جسم المسيح . دی العضوية . بيتكلم طبعا على كنيسة إيه ؟ القديسين. فخلاص ..عشان كده بيقول رأيت مذلة شعبی ونزلت عشان أخلصه . طب ما تبعت نبی لا نبي ولا رئيس أنبياء ولا واحد يقدر يتمم الخلاص ..المسيح بنفسه ..عشان كده يا أحبائي مش ممكن يحدث خلاص خارج دائرة الكنيسة لأن الكنيسة في جسم المسيح .</p>
<p>مرة كان في الكنيسة كده شاب بيتكلم مع واحدة ست لطيفة قالت له أنا عاوزه أسألك سؤال .. أنا لما باصلی کده بحس كده يعني باحس بیسوع .. قال لها جميل .. قالت له أنا بحب الملائكة والقديسين قوى قال لها صحيح ..قالت له آه بس مش بأحس بيهم قال لها يبقى مابتحسيش بيسوع قالت له لأ ده أنا باحبهم خالص بأحس بیسوع .. بس احساسی بالملائكة والقديسين مش قوی . قال لها لازم أنت مش واخدة بالك من الحكاية دي .. ده يسوع قاعد في السماء قدامه الملائكة والقديسين مافيش قديسين ازای ؟ !</p>
<p>لأن حقيقة الكنيسة أقول إيه بس ؟ أقول إن الكنيسة هي جسد يسوع اللى هم القديسين . ويسوع هو رأس الإية الكنيسة . هاتقول لي أحس بالرأس ولا أحس بالأيد . ما هي الإيد .. إن ماحستش بالإيد دية يبقى معناه إن الإيد دية ميتة . تقولی لي اللي في السماء بيكلموا كمان وإحنا نكلمهم هاقول لك أنت لسة برده بتكلم اللى في السماء .. مش كلنا أعضاء في جسم واحد ؟ وهو يعني عشان فلان ده كان معنا وبعدين بكرة راح السما يبقى انقطع من عضوية المسيح ؟ !! ربط الأعضاء كلها ربط القديسين.. الأعصاب كلها بتربط الأعضاء دیه ببعض بالرأس . ولا بتربط كل عضو بالرأس وبس منفصل عن بقية الأعضاء ؟ !! سيبك من الحكاية ديه ..</p>
<p>المهم نتكلم بعد كده عن عبورهم المعمودية اللى هي بداية الخلاص . المعمودية ديه كانت بحر.. الشيطان بقى مش قادر يروح الناحية دي . كان فيه ناس قالوا خلاص ياعم مادام إحنا عدينا البحر خلاص إيه اللى هايجيب لنا فرعون مرة ثانية ؟ ولا حد يقدر يكلمنا ..يالا بقى بلطوا في الخط .. ابتدوا يناكفوا شوية قالوا لموسي الآه ياموسى قال لهم إيه ؟ قالوا له لأ أنت تطلعنا من مصر وتجيبنا هنا .. ده إحنا كنا نعيش عبيد عند فرعون ولاتجيبناش تموتنا.. فين اللحم ؟ وقدور اللحم ؟ دی ريحتها مش راضية تطلع من مناخيرنا ..وفين البصل ؟ وفين الكرات ؟ ده أكل مصر ده كان لذيذ جدا .. قال لهم ده انتوا عبرتوا البحر !! العبودية في قلبهم لسة .فقال لهم لا شوفوا بقى .. المنطقة اللى انتوا ماشيين فيها دي اسمها البرية شكلها إيه ؟ قالوا له وحش قوي . قال ومصر كان شكلها إيه ؟ قالوا كان شكلها جميل.. مش كنا في عبودية صحيح ..لكن كانت العمارات جميلة ، والدنيا منورة كده ، والأرض مزروعة خضراء لطيفة ، وحاجات حلوة .. جايبنا في برية قفرة هنا ؟ قال لهم نسيتوا في حاجة .. برية صحيح قفرة .. لكن فيها إيه ؟ فيها ربنا . ومصر حلوة صحيح بالأنوار بتاعتها لكن ما فيهاش ربنا .</p>
<p>أنا بتكلم عن العهد القديم . طبعا العهد الجديد يقول مبارك شعبي مصر أنا بتكلم عن الرمز اللى هو بيه بيتم الخلاص والتعب اللى أنت بتتعبه في هذا العالم جماله ولذته إن ربنا معاه .. معای آه معاي .. ده أنت عضو في جسم المسيح ماتنفصلش تعرف يمكن أنت تسيب ربنا لكن ربنا ما سيبكش .</p>
<p>هاقول لك كلام صعب .. تعرف لو واحد أنكر المسيح وأنكر الإيمان وراح غير دينه ورجع ثاني الكنيسة وقال لأبونا عمدني مرة ثانية .. تفتكر أعمده ؟ لأ ماأعمدوش طبعا .. أقول له يابني .. يقول لي أنا عاوز تعمدني من جديد دلوقت اهوه .. أقول له أبدا ده مرة واحدة أنت اتولدت من فوق .. زي الابن الضال . هو كل مرة الابن الضال يروح يسقط يقوم يروح يتعمد من جديد أو يتولد ولادة ثانية من جديد ؟ ! الواحد يتولد كام مرة ؟ ! مرة واحدة . لكن العملية ديه بتاعة ربنا ولا بتاعة الإنسان ؟ لأ ياعم إحنا طقوسنا تقول أن عملية الولادة الثانية دي عملية النعمة الإلهية .</p>
<p>بقى إحنا كنيستنا بتقول على الولادة الثانية هي النعمة ؟ ولا غيرنا بيقول على الولادة الثانية دي نعمة من فوق ؟ لأ .. إحنا اللى بنقول .. اثبت لك أنا .. وأنا صغير اتولدت من المعمودية ولا كنت أفهم حاجة أخذتها ببلاش كده .. ولا حتى بقوة الذات . لكن واحد ثاني يقابلك ويقول لك آه أنا في يوم ١٦ معرفش ايه الساعة كذا أتجددت واتولدت ولادة ثانية . هو قبل ما يكلم بيقول لك أنا . وقال لما كبر وبقي عنده ۲۰ سنة ولا ٣٥ سنة اتخلص واتجدد ..وعمال يلف حوالين نفسه . لكن كنيستنا اللي عاش فيها وأخد الخلاص بالمعمودية عمره ما حيقول أنا في يوم من الأيام ذقت الخلاص . حيقول أنا خدتها كده ..أنا أخدتها كده يا عم ..وأنا ما استاهلش ..</p>
<p>وأول ما الإنسان يأخذ الخلاص بالنعمة الإلهية حاسس إنه مديون لربنا . فمالها البرية ؟ جميلة البرية .. هي الكنيسة . الكنيسة البرية ؟ قال آه اسمعوا الكلام ده . عاوزين إيه عاوزين تاكلوا أجيب لكم أكل من السما .. ياه !! تنزل من السما أكل ؟ ! قال آه . انزل من السماء أكل وتاكلوا منه طول عمركم ..وبعدين شوفوا الربط الدقيق جدا . لما تقرا يوحنا ٦ تجد أن ربنا الأول أكل ٥٠٠٠ أكلهم عيش . قال ألاه .. برافوا عليه . وبعدين رجع قال لهم إيه رأيكم في موسي ؟ قالوا لأ.. موسی برده كان أحسن منك شوية قال لهم ليه ؟ قالوا له أنت أكلت ٥٠٠٠ مرة لكن هو كان كل يوم عمال إيه ينزل من في البرية .قال لهم طيب آباؤكم أكلوا المن في البرية وإيه ؟ ماتوا . آه حتى الأكل اللي من السماء آخرتها رغم إنه نازل من إيدين ربنا وأخرته يموتوا ؟ !! قال آه أمال إيه الخلاص ده اللى هاتديهولنا ؟ قال لأ .. أنا مش بابعت لكم أكل افهموا كويس . الكنيسة مش بتبعت لكم أكل يا إخوة . أنا حاديكم نفسی تاكلوها .. هو ده القداس .. عارف القداس يعني إيه ؟ ! الكنيسة هي البرية .</p>
<p>عارف بتيجي الكنيسة تاكل إيه ؟ مرة النهاردة تقول ياسلام على وعظة أبونا كانت ممتازة .. آه بكرة أبونا يموت يعني أبونا دائم ؟ ! قال آه والنهاردة كانت وعظته كده طب بكرة ربنا يسحب منه الوعظة دي ما يعرفش يوعظ تانی .. صدقني ساعات أقف على المنبر کده .. الكلمة تتحاش في فمي ما ترضاش تطلع أكون واخد ألم في نفسي يومها ولا حاجة ..يعني تبص تلاقي .. أمال بنروح الكنيسة ليه قال الكنيسة ياعمي اسمها كنيسة إيه ؟ تروح تلاقي يسوع على المذبح تاكله . آباؤكم أكلوا المن في البرية وإيه ؟ وماتوا ..</p>
<p>أنا أديكم جسدی . طب وتدينا منين ماء ؟ قال جنب المسيح أهوه والصخرة تبعتهم وكانت الصخرة هي الإيه ؟ المسيح .. مش الإنجيل قال كده ؟ الصخرة مشيت وراء الشعب في البرية .. طلع لهم ماء حلو . الصخرة دية انضربت بالعصاية زي المسيح ما انضرب بالحربة في جنبه على الصليب وطلع من جنبه ماء كده حلو وشربوا . یا سلام ياجمال البرية .. فيها الأكل .. وفيها الشرب!</p>
<p>اسمعوا بقي اسمعوا بقي فيها ربنا موجود . هو ربنا موجود فين يا خواتي ؟ ده زمان قال لموسى في العليقة أنا هانزل . وهو نزل لموسى في العليقة ماهو لما نزل لموسي في العليقة ماطلعش . تنه قاعد .. الغاية لما طلع شعبه .</p>
<p>أنا باقول كده يعني من يوم ما نزل للتجسد تنه متحد بطبيعتنا لغاية لما نطلع فوق في السماء . قال لهم لأ .. عاوزين حاجة واضحة على قد ايه ؟ الفكر المادي ؟</p>
<p>ابنوا لي بيت آه وابتدأت سكني الله تبقى موجودة كده . ما الكنيسة واقفة .. تعال ياموسى اطلع على الجبل فوق .. تعمل طوله كذا وعرضه كذا ..إيه ده ؟ طب ما يعملوا حاجة يبنوا أي حاجة وخلاص .. قال لأ ده أوصاف محددة ليه.. يعنى مش عاوز بيت تسكن فيه ؟ قال لأ ده أنا دي عملية انتوا ما تفهموهاش ..أنا باعمل شبه السماويات .</p>
<p>بولس الرسول بيقول إيه ؟ السماويات صدقني أنا ما عرفش الأطوال دي اختارها ربنا ليه ؟ مهما اتكلموا عنها لكن قطعا لها اختلاط بالسماء ، وبالكنيسة الحاضرة . فابتدأ يرسمها .. قال له ايه ؟ أنا هاعمل خيمة وأقسم إيه معاك ..وكل يوم تيجونی وتخشوا تقعدوا معايا .. وأنا ها اقعد معاكم . يا حلاوة ده هو ده الخلاص الجديد .. بقى إيه ربنا يبقى معانا ؟ ! آه بس في العهد الجديد بقي أنقح من كده بقى ..كانت رمز .</p>
<p>زمان ربنا كان يسكن في الخيمة . وكان يسكن في الهيكل بتاع سليمان . النهاردة أنتم هياكل الله وروح الله إيه ؟ ساكن فيكم .. طب والخيمة فيها إيه قال : قسط المن وعصا هارون وشورية حاجات كده تعبر عن مجد ربنا .</p>
<p>قال طب وكنيسة العهد الجديد ؟ قال : جسده ودمه حاضر على الإيه على المذبح .</p>
<p>طب یا الهی طب والمعمودية كانت في العهد القديم إيه ؟ قال كانت بحر واتفتح بالعصاية بقوة الصليب . طب وفي العهد الجديد ؟ قال روح ربنا يحل وتترشم بالميرون .</p>
<p>ألاه أنا ها قول حكايه واللي حكاها لي الله ينيح نفسه وليه قرايب هنا موجودين من اللي قاعدين هنا حاضرين اللي هو بني الكنيسة لينا هنا في اسبورتنج الدكتور لبيب قلدس . كان عنده واحد قريبه من مصر أنا مش فاكره لكن من هنا كان عنده عيل صغير كده . هم بيقولوا في البيت قدامة أبونا بيشوي فحافظ الاسم .. فالولد جابوه يتعمد أنا عمدته فالولد ده بعدما تعمد .. كان كبير هو عارف شكلي فسأل باباه قال له يا بابا مین الراجل اللى كان لابس هدوم بيضه ده ، ودقنه بيضة ووشه منور وجميل كده وكان واقف إيه وقت ماكنت أنا باغطس قال له يا ابني ده أبونا بيشوي ..اللي كان منصرك . قال لأ مش أبونا بيشوي .. اللي كان واقف في ريحه .. أنا بأقول الحكاية ديه لأن قطعا أنا مش متذكر الشخص لكن أنا فاكر الدكتور لبيب . لأن هو اللى حكى لى الحكاية ديه : وبيقول لى الولد شاف حاجة أنا ماشفتهاش . المسيح نفسه اللى كان بيعمده . أنا باتكلم عن حاجات بسيطة .. روح ادرس في العهد القديم الرموز كلها اتعملت لينا وإحنا قاعدين هنا نتمحك في محكات وشوية مناقشات لا تودی ولا تجيب ..</p>
<p>ونتكلم عن الخلاص مفهومه إيه .. ومش مفهومه إيه ..اقرا في سفر الخروج عشان تشوف العمل العظيم الخطير الضخم اللى اتعمل في المعمودية إن ماكنتش شايفه بيشوفوه الأطفال بعين الإيمان . المسيح بنفسه بيعمد ، ويرشم بالميرون ، ويحل الروح القدس ، ونبقى هياكل لروح الله . و ٣٦ جزء في جسم الإنسان بيترشم ويبقى جسم الإنسان هيكل ده مقدس أفأخذ أعضاء المسيح وأجعلها أعضاء زانية حاشا .. مين قال لك إن ده ابنك ؟ تقول لي ده أنا ولدته . لحمي ودمی . فالابن صحيح الولد ده يوم ماتعمد بقي ابن لربنا . طب وحضرتك بقيت ايه بعد كده بقيت اشبين &#8230; اشبين يعني الوكيل . والوكيل لازم يكون أمين لأنه هايطالب في الآخر . انتوا واخدين بالكوا من الحتة ديه ؟ يعني المعمودية جت عشان تاخد ولادكم منكم وتقول لكم دول ولاد ربنا مش ولادكم ..</p>
<p>أمال أنا شغلتي إيه ؟ الأب والأم ! شغلتكم خطيرة لو حاجة ملكك تتصرف فيها زي ما أنت عاوز . لكن ده أنت الموكل على الأشياء كلها . الخطير إنك أصبحت أنت وكيل والوكيل عليه أمانة . شوف بقى مثل الوزنات . أنا أتهيألي مثل الوزنات معمول على العيال بتاعتنا . واحد خد 5 واحد خد ۲ وواحد خد ۱ فالوزنات واحد ثابت .</p>
<p>المهم كان الخلاص هو سكني الله في الكنيسة بس كان الشكل إيه ؟ أنا عاوز أقول إن ناس افتكروا إن ما دام فرعون اضرب بالصليب يبقى الخلاص خلص.</p>
<p>الخلاص يا أحبائي تم فعلا تم نهائيا من ١٩٧٤ سنة لو التاريخ مظبوط بالظبط ده تم على الصليب &#8221; . وبعدين كل واحد مننا فهم إن الخلاص أخده زی واحد قسم تركة وإدي لكل واحد في البشرية نصيبه ده أخد نصيبه .. وده أخد نصيبه .. كل واحد يروح في المعمودية يأخذ نصيبه من الخلاص . يقول لي خلاص ؟ ! مش أنا اتعمدت ؟ أقول لك لا لسه لما طلعوا من البحر الأحمر .. لما طلعوا من البحر الأحمر حصل ما يأتي : الكل قالوا خلاص فرعون إيه ؟ انتهى .. والخلاص خلص وانتهينا بقى .</p>
<p>بصوا من بعيد كده لقوا ناس اسمهم عماليق قالوا يادي الخيبة!! هو ايه ده الشيطان بيطلع ثانی ؟ قال آه .. الشيطان موجود أمال إيه اللى حصل زمان ؟ قال لكن دلوقت فيه حاجة مهمة .</p>
<p>إيه اللي حصل أيام البحر الأحمر ؟ مش ضربة واحدة بالعصاية ( الصليب ) مش ضيعت الشيطان ؟ الناس افتكرت إن هي لما عدت رجليها على البرية حطت رجليها في سيناء يبقى خلاص الخلاص انتهى &#8230;لا ياعم .. ده لسه فيه مشوار طويل على ما توصل لأرض كنعان . قالوا نعمل إيه ؟ قالوا تروحوا تحاربوا وتشتغلوا &#8230; قالوا نحارب إزاي ؟ قال له ياموسی تجيب ناس يروحوا يضربوا عماليق وإنت تنك رافع إيديك طول النهار كده . طول النهار تتنك رافعها كده على مثال . إيه ؟ الصليب .وفي نفس الوقت تبقى إنت كمان إيه ؟ بتصلی .. موسي تعب وطى إيدية معناه يعنى إيه ؟ بطل جهاده الروحي . اتغلب . جت له الأخبار قال اتغلبنا قال له أمال هنخلص ازای ؟ قال له شوف تمسك في إيدين ربنا دائما يقوم الشيطان لما يجي ناحيتك يلاقيك إيه .. ؟ يخاف من ربنا هو ما يخافش منك أبدا الشيطان &#8230; ما يخافش منك الشيطان يضحك عليك .. الشيطان يخاف من مين ؟ من ربنا .</p>
<p>هو ربنا مش ضرب الشيطان على الصليب .. الشيطان قيد قيد قيد ۱۰۰۰ سنة على الصليب وهو مقيد تقول لى أمال الشر اللي في العالم ده ليه ؟ هاقول لك ياحبيبي اتقيد شئ واتغيرت طبيعته شئ ..يعني في أسد حطناه في قفص هل الأسد جوه القفص ما بقاش أسد ؟ واحد مد له إيده جوه القفص يبقى هيعمل معاه إيه ؟ يلعب معاه يعني ؟ ما هو نسي .. المسيح ما قالش في الكتاب المقدس إنه غير طبيعة الشيطان عملها ملاك .</p>
<p>إنما المسيح قال له إوعى تقرب من ولادي فاهم ؟ ! وأنا أدفع الدم بتاعهم أهه قال له خلاص حاضر مش هاقرب لكن اللي يروح بقي هو حر .</p>
<p>إذا كانت البرية بداية الجهاد الروحي . طب وأجاهد ازای ؟ والجهاد الروحى في المنهج الأرثوذكسي إني ثابت في إيه ؟ في المسيح . الجهاد الروحي مش جهاد عضلات . مش زى موسى لما راح يضرب المصري لأ.. الجهاد الروحي إن أثبت في المسيح .</p>
<p>شوف ياعزيزي تثبت في المسيح إزای .. من يأكل جسدى ويشرب دمي يثبت في وأنا فيه .. تثبت في المسيح إن أنت تتكلم معاه في الصلاة تثبت في المسيح .. تقول أقوم وأرجع إلى أبي ..</p>
<p>وفي حضن أبوك . ماتتولدش ولادة ثانية ولا حاجة .. لكن تقول لي أنا عاوز أشتغل خدام . يقول لك ماينفعش يا ابني تشتغل خدام ماعنديش وظيفة خدام . أنت ابنى كنت ضال ورجعت .. ويحضنك ويبوسك وتثبت في المسيح تثبت في الجسم .. في الكرمة الحقيقية في جسم الكنيسة ، وترنم ترنيمة الخلاص طول عمرك وأنت عايش على الأرض لغاية إن شاء الله ترتلها وأنت مع الغالبين أمام البحر البلوری الزجاجي فوق في السماء هي نفس الترتيلة دي .</p>
<p>هاتشوف إيه إن أنت لما تروح البيت تشوف خروج ١٥ ورؤيا ١٥ والترتيب العجيب إن الإصحاح ده نمرة ١٥ وده نمرة ١٥ الاثنين والكنيسة بترتله . فربنا في وسط الكنيسة . قال له ابني لك الخيمة إزاي ؟ قال له شوف الخلاص مش إن أنت تكون عديت البحر الأحمر . الخلاص جهاد تقوله طول البرية . الخلاص ياحبيبي تقوله لما توصل كنعان . تقوله لما توصل كنعان . خلى بالك .. تقول لي طب ما الخلاص تم على الصليب أقول لك لأ الخلاص تم على الصليب وأنت أخذت نصيبك منه لكن لسه ماكملتش جهادك .. تعرف بقي هاقول لك حاجة مخيفة بقى تعرف اللي طلعوا من أرض مصر کام ٦٠٠ ألف ماشی .. ده غير اللي شايلينهم على كتافتهم .. يعني يبقوا كام ؟ ٦ مليون مثلا لو تحسب العيال بقي .. احسب بقي الباقيين ٦ مليون دول عدوا البحر الأحمر . طب اللى دخل كنعان کام ٢ النسبة خطيرة خالص النسبة خطيرة جدا .. يبقى يا جماعة موضوع مخيف إن واحد يقول لك إنه امبارح كنت باشرب سجاير النهاردة اتخلصت من السجاير ، مش السجاير هي الموضوع المهم وخلاص .. أنا أخدت الخلاص بتاعي .. لأ الخلاص مش تجارة يعني خلاص أخدت الخلاص ياحبيبي ده انت طول عمرك إن عشت ۱۰ سنین ۲۰ &#8211; ۳۰ -٤٠ &#8211; ٥٠ .. إمبارح كان انجيل إيه العذارى الحكيمات والجاهلات .</p>
<p>ودول معاهم زيت قالوا لهم يا جماعة طب إدونا شوية زيت من اللي معاكم ده.. قالوا مش متأخرين ده إحنا عاوزين نديكم . ده إحنا كثيرة علينا إن إحنا نشوفكم تقفوا بره لكن لعله لا يكفينا وإياكن والجهد كل يوم نحوش شوية .. إيه يعني عاوز أقول لك المثل بتاع العذارى الحكيمات ده أنا بتعلم منه إيه ؟ يدوبك البني آدم مننا لما يجاهد طول حياته يدوبك يحوش له الزيت اللي يكفيه ينور مصباحه .</p>
<p>تقول .. تقول لي النهاردة أنا خلاص بطلت السجاير النهاردة أنا بطلت السينما أنا كنت باشرب خمرة بطلتها ده لسه يا عم النهاردة تبطل السجاير وبكرة تبطل الحلفان دی كلها الحاجات السلبية . أمال الخلاص الخلاص عمل ايجابي الثبات في ربنا .. الخلاص أغنية الحرية .. الخلاص .. التسبيح مع الله . الخلاص بقى ساعة ما تعدى البحر الأحمر تبقي عينيك مبحلقة في كنعان ما تبصش لوراء طب إيه رأيك في اللي طلعوا من مصر دولت ٦٠٠ ألف ؟<a href="#_ftn9" name="_ftnref9">[9]</a> !!</p>
<p>ولإلهنا المجد الدائم أبديا آمين</p>
<p></p>
<p></p>
<h4>عظة للمتنيح القمص بولس باسيلي عن قراءة الأحد الثالث من شهر توت:</h4>
<p></p>
<p>زكا العشار</p>
<p>بين الظلام والنور !!</p>
<p>عظة على ضوء القراءات الكنسية :</p>
<p>البواس :         (۱ کو ۲ : ١ &#8211; ١٦)</p>
<p>كاثوليكون :      (۱بط ۱٣:۱ -۲۱)</p>
<p>الابركسيس :     (أع ٢٢:٩-۳۱)</p>
<p>الانجيل :         (لوقا ۱۹: ۱ -۱۰)</p>
<p>تمهيد : رسالة بولس تشير إلى هزيمة بولس ورغبته الصادقة في معرفة المسيح كمطلب وحيد له على مثال طلب زكا لرؤية يسوع فقال &#8221; لم أعزم أن أعرف شيئاً بينكم إلا يسوع المسيح وإياه مصلوبا &#8221; (۱ کو ۲ : ۲) .</p>
<ul>
<li>ورسالة الكاثوليكون تشير إلى الحالة الجديدة التي ينبغي أن يكون عليها المؤمن بعد معرفة المسيح فيقول الرسول بطرس &#8221; لا تشا كلوا شهواتكم السابقة في جهالتكم بل نظير القدوس الذي دعاكم كونوا أنتم قديسين &#8221; (۱بط 1: ١٤) وهذه رسالة زكا بعد رؤية يسوع .</li>
<li>ورسالة الابركسيس تشير إلى اهتداء شاؤل الطرسوسي وكيف أبصر الرب ،وهي صورة مشابهة لهداية زكا العشار (اع ۹: ۲۷)</li>
</ul>
<p><strong>القسم الأول : زكا في الظلام</strong></p>
<p>( ۱ ) خاطف شهير : &#8220;كان رئيساً للعشارين ، وهي مهنة خطف ونصب ورشوة &#8221;</p>
<p>( ۲ ) خاطیء شرير : دخل ليبيت عند رجل خاطىء ، فكان زكا معروفا بشره في المدينة كلها .</p>
<p>( ۳ ) غنى فقير : رغم غناه الكثير فقد كان جد فقير ، فقير في روحه ، وفى اخلاقه ، وفى ضميره ، كم من أغنياء فقراء ، وفقراء أغنياء ! !</p>
<p>( ٤ ) قزم قصير : رغم مركزه العالى وكونه عملاقا في السلطان ، إلا أنه كان قزماً قصير القامة حرفاً وروحاً ، قصير القامة في جسده ، وفى روحه ، وفى تصرفاته &#8221; نقص مادی وروحی &#8221; .</p>
<p><strong>القسم الثاني : زكا بين النور والظلام</strong></p>
<p>( ۱ ) شعر بنقصه : &#8220;الشعور بالعجز  كما قال أوغسطينوس  أول درجات الكمال &#8221; شعر داود بخطيته &#8221; خطيتي أمامي في كل حين &#8221; .</p>
<p>( ۲ ) عزم أن يغير طريقه : بعد الشعور جاءت العزيمة فطلب في عزم وإصرار أن يرى يسوع وأن يغير طريقه &#8221; قيل عن المجوس بعد رؤية يسوع أنهم . انصرفوا في طريق أخرى &#8221; ( انظر البولس ) .</p>
<p>( ۳ ) ركض في الطريق نحو يسوع : وهكذا كل من يرغب في الإيمان بيسوع عليه أن يجاهد في الطريق نحو المجد ، أشواك ، ضيقات ، عثرات ، محبة العالم كل ذلك في الطريق .</p>
<p><strong>القسم الثالث : زكا في النور</strong></p>
<p>( ۱ ) تغيير وتجديد : &#8221; قبله فرحاً &#8221; لا تشاكلوا شهوانكم ( انظروا الكاثوليكون ) &#8221; تغيروا عن شكلكم بتجديد أذهانكم &#8221; .</p>
<p>( ۲ ) عهد مجيد . &#8220;ها أنذا يارب أعطى &#8221; رأى زكا يسوع فضحى بكل شيء ( أنظر الابركسيس ) .</p>
<p>( ۳ ) خلاص فريد : &#8221; اليوم حصل خلاص لهذا البيت &#8221; خلاص لزكا ، خلاص لبيته كله ، شفاعة زكا في أسرته وكلمة عن حقيقة الشفاعة في الكنيسة . .</p>
<p><strong>تأملات روحية . . نقاط تفسيرية</strong></p>
<p><strong>في عظة الأحد الثالث من توت (لو ۱۹: ۱ -١٠)</strong></p>
<ul>
<li>&#8220;زكا&#8221; كلمة عبرية معناها &#8220;نقى &#8221; ومن المضحكات وشر البلية ما يضحك أن يسمى زكا الدنس باسم يدل على الطهارة والنقاء ، أليس اسم &#8221; يهوذا &#8221; يعنى &#8221; الممدوح &#8221; واسم &#8221; بار يشوع الساحر &#8221; یعنی &#8221; ابن يسوع &#8221; ؟ ! ! حقا لقد صدق الشاعر ألقاب مملكةفى غير موضعها كالهر يحكي انتفاخاً صولة الأسد . •أحب زكا يسوع بعد أن كان يبغضه ، والمحبة هي التي دفعته إلى التضحية ، ولعل هذا سر تضحية القديسين في سبيل يسوع الذين أحبوه ، لقد أحب &#8221; لفنجستون &#8221; يسوع فوصل إلى مجاهل أفريقيا و بذل نفسه في سبيل إنارتها ، والمحبة هي التي دفعت &#8221; جرينفل &#8221; إلى لبرادور الثلجية ليسكب حياته في خدمة الصيادين الفقراء ، والمحبة هي التي دفعت أنطونيوس أن يبيع أمواله ويترك جمال العالم ويذهب إلى الجبال يصلى عن نفسه وعن العالم ، والمحبة هي التي دفعت ديديمس الضرير أن يكتشف نور يسوع ، وهي التي جعلت هيلين كيلر العمياء الخرساء الصماء ، تخلق خليقة جديدة و تؤمن بيسوع وتحس بجماله ! !</li>
<li>&#8221; طلب زكا أنه يرى يسوع &#8221; &#8221; فيا أيها العطاش جميعاً هلموا إلى المياه والذي ليس له فضة تعالوا اشتروا وكلوا ، هلموا اشتروا بلا فضة وبلا ثمن خمراً و لبناً &#8221; (أش ٥٥ : ١) وهنا ثلاثة ينابيع حية : الماء ، والخمر ، واللبن : فالمياه إشارة إلى ماء الحياة الذي أشار إليه يسوع &#8221; من يشرب من الماء الذي أعطيه أنا فلن يعطش إلى الأبد &#8221; والخمر إشارة إلى الفرح والمتعة التي يجدها المؤمن عند الاتيان إلى المسيح ، وكانت الخمرة إحدى بركات العهد القديم ، واللبن للتغذية والنمو (يو٤ : ١٤)  (مز ١٠٤: ١٥) ( أع٢ :١٣) (أف ه: ۱۸) (۱بط ۲ : ۲)</li>
<li>&#8220;ان كنت قد وشيت بأحد&#8221; إن كلمة &#8221; إن &#8221; هنا لا تعنى أن زكا يشك فيما إذا كان قد ظلم أحداً أم لا ، بل انها هنا تفيد &#8221; اليقينية &#8221; على نحو ما قاله السيد المسيح &#8221; إن مضيت وأعددت لكم المكان آتى أيضاً وآخذكم إلى &#8221; فهل كان المسيح شاكاً في أمر صعوده واتيانه مرة ثانية ؟ ؟ ! ! وعلى هذا المنوال أيضاً قال الرسول بولس &#8221; إن كنتم قد قمتم مع المسيح &#8221; وقوله &#8221; إن كان بخطية واحد مات الكثيرون &#8221; !! •&#8221;نظر يسوع الى فوق ، فرآه &#8221; لم يصرخ زكما ينادى يسوع كما صرخ من قبله برتيماوس الأعمى الذي حين سمع الجمع مجتازاً سأل ما عسى أن يكون هذا فأخبروه أن يسوع الناصرى مجتاز فصرخ قائلا يا يسوع بن داود ارحمنى ، فانتهره المتقدمون ليسكت أما هو فصرخ أكثر كثيراً (لو ١٨ : ٣٥ &#8211; ٣٩) إن زكا لم يصنع كما فعل ابن بلدته الأعمى ، ومع انه لم يصرخ أو يلفت إليه أنظار يسوع، فالذي له عينان كلهيب نار نظره ، والفاحص القلوب والكلى أحس بوجوده وعلم بشغف قلبه فنظر إلى فوق فرآه ، الذي رأى &#8221; نثنائيل وهو تحت التينة &#8221; (يو١ : ٤٨) &#8221; رأى زكا وهو فوق الجميزة &#8221; أجل فهو يرى فوق ، وتحت ، ويميناً ، وشمالا ، وهو في كل مكان يرى ويبصر كل شي !!</li>
<li>&#8221; تزمر الجمع &#8221; إذ رأوا يسوع يدخل إلى بيت العشار وقالوا &#8221; إنه دخل ليبيت عند رجل خاطىء &#8221; ولست أدرى كيف كانت عيون الناس تترصد حركات يسوع ، و تتربص به على هذا الشكل ، هذا شأن الناس دائما ، مفترون ، ناقدون ، ولكن رب المجد يعلمنا هنا ألا نعبأ بالناس ولا بتذمراتهم طالما أعمالنا كلها لمجد الله ، كل ما صنعه يسوع انه قبل توبة زكا على أساس أنه أحد أبناء ابراهيم فرد بذلك على الفريسيين الذين أنكروا على زكا بنويته لابراهيم لأنه كان رجلا خاطئاً ، وهل الفريسيون المراءون هم حقاً &#8221; أبناء ابراهيم &#8221; البار ؟ !!</li>
<li>&#8220;ينبغى أنه أمكث اليوم في بيتك&#8221; ، كانت هذه الكلمة &#8221; ينبغى &#8221; عجيبة في أسلوب المسيح ، فهل يفرض انسان نفسه فرضاً على بيت ليقتحمه ؟ لكن المسيح هنا ليس بمجرد انسان ، إنما هو الله ذو السلطان الذي له كل الأرض وملؤها ، و بعلمه العميق يعرف نية زكا وأشواقه ، وأمنيته القلبية ، لذلك شاء يسوع أن يشبع رغبة زكا فلا يجعله يراه مجرد نظرة فحسب ، لا بل ينبغى أن أدخل في بيتك بل &#8221; أمكث &#8221; ويبدو يسوع مكث طويلا في بيت زكا حتى أن الناس قالوا إنه سيبيت !!</li>
<li>&#8220;كان زكا غنيا &#8221; ومع غناء دخل الملكوت ، أليس هذا ترجمة ما قاله المعلم الصالح &#8221; ما أعسر دخول المتوكلين على أموالهم ملكوت الله ؟ &#8221; ليس إذن كل غنى محروماً من الملكوت ، فهذا أحد كبار الأغنياء فتحت له أبواب الملكوت على مصاريعها !!</li>
<li>كان زكا فقيراً برغم غناه ، وكمان قصيراً لكنه رآه ، وكان بعيداً ميتاً فقربه إليه وأحياه !!</li>
<li>&#8220;لانه هو ايضا ابن ابراهيم &#8221; و بنوية زكا هنا بنوية روحية وليست حرفية ، ويذكر تقليد قديم  ردده اكليمنضس  بأن زكا قد صار فيها بعد أسقفاً لقيصرية ، و نحن لا نستطيع أن نؤكد هذا الرأى<a href="#_ftn10" name="_ftnref10">[10]</a> !!</li>
</ul>
<p></p>
<p></p>
<p></p>
<h4>الأحد الثالث من شهر توت المبارك للمتنيح القمص تادرس البراموسي</h4>
<p></p>
<p><strong>فنزل وقبله فرحا (لو١٩:١ – ١٠)</strong></p>
<p>تزمر الجموع لما رأوا الرب يسوع يدخل بيت زكا العشار لأن الجميع كانوا ينظرون إليه أنه رجل خاطئ جامع الضرائب بالظلم وعدم الاستحقاق كلهم بالرغم من أن زكا كان مخادعاً وخارجاً عن جماعة اليهود ولم يلتزم بالناموس إلا أنه تواضع وتسلق الجميزة وطلب راغباً أن يرى يسوع لذلك الرب يسوع أحبه لأنه وجد فيه شيء جديد خلاف ما يقال عليه يعنى عنده استعداد للتوبة. وكرد فعل لذلك أحبه يسوع وأمن زكا جابى الضرائب وسمع صوت الرب انزل يا زكا لأنه ينبغي أن امكث اليوم في بيتك . ما أجمل هذه الكلمة أمكث اليوم في بيتك كل ما فعلته اتركه لك . كان ذكا قصير القامة قصر قامته حال دون نظره إلى يسوع كباقى الناس لم يكن قصر القامة مشكله بالنسبة لزكا لأنه جعل في نفسه لازم يرى يسوع لم يعمل عمل حساب لكلام الناس المنتقدين بالرغم من وضعه الاجتماعى . في كل مكان وزمان يوجد مجموعة من الناس غير مستحب التعامل معهم كما كان زكا الناس بتخاف منه . والجميع يبعدون عنه لئلا تلحقهم ناره . بسبب السياسة التي كان ينتجها أو السلوك اللا اخلاقى الذى كان يتبعه . أو سبب أسلوب معين في حياتهم . ينبغي لنا نحن المؤمنين أن لا نستسلم للضغوط الاجتماعية لنتجنب هؤلاء الناس ونبعد عنهم . لأن الرب يسوع أحب هؤلاء الناس وقال هكذا لا يحتاج الأصحاء إلى طبيب بل المرضى بالرغم من تزمر الكتبة والفريسيين لكن الرب كان له هدف أخر وهو خلاص هذا الرجل . زكا لم يسمع عظه للرب يسوع أو تلاميذه بل مجرد سمع عنهم فأشتاق أن يرى يسوع . كان محتاج أن يسمع الأخبار المفرحة كان زكا حسب حكم الناس عليه رجلاً ملتوياً خاطئاً منبوذ من الجميع . لكنه لما قابل الرب يسوع أدرك أن حياته تحتاج إلى تغيير . تحتاج إلى الاستقامة. وقد غير زكا مجرى حياته وأسلوبه الداخلى بفعل خارجى . وقف في الوسط وقال يارب أنا أعطى نصف أموالى للفقراء وارد ما اغتصبته من الآخرين من أخذت منه شيء ارده أربعة أضعاف . ما أجمل التوبة وما أعظم الخلاص التوبة تبرر وتطهر. وتغير . دخل الإيمان قلب زكا دخلت معه التضحية والحب لم يكتفى بمقابلت الرب يسوع وإعطاء نصف أمواله للمساكين ورد ما أغتصبه صنع مائدة للرب يسوع ودعى الفقراء وكانت وليمة عظيمة . بيت زكا لم يدخله أحد قبل الآن لكن اليوم أصبح الفقراء والمساكين وسمع صوت الرب اليوم حصل خلاص لهذا البيت إذ أنه أبن إبراهيم . لا يكتفى يا أحبائى أن نتبع يسوع بعقولنا أو قلوبنا فقط بل يجب أن نحيا حياة التوبةحياه جديدة بالتضحية وتغير السلوك . فهل اثمر إيمانك أعمالاً أظن أننا رأينا هذا التغيير في حياة زكا العشار – ونستنتج الآتى : &#8211;</p>
<p></p>
<p><strong>العظة الأولى</strong></p>
<p>أ – رغبته القوية</p>
<p>ب – التغلب على العقبات</p>
<p>ج – الشجاعة والتضحية</p>
<p>د – عطاياه السخية</p>
<p>ه &#8211; إيمانه وترك الخطية</p>
<p>و – كرم الضيامة والأيادى السخية</p>
<p>ذ – البركات السمائية</p>
<p>ح – عزيمته القوية</p>
<p>ط – كسر الحواجز الاجتماعية</p>
<p>ى – التوبة والمعيشة الهنية</p>
<p></p>
<p><strong>العظة الثانية</strong></p>
<p>أ – محبة الله للخطاة</p>
<p>ب – حنانه ونظرته الأبوية</p>
<p>ج – صوته المنادى باكر وعشية</p>
<p>د – نسيان الماضي وغفران الخطية</p>
<p>ه &#8211; بث روح الحب وترك القنية</p>
<p>و – أتمام الخلاص والبركات السمائية</p>
<p>ذ – خلاص الهالكين ونعمه المحتاجين</p>
<p>ح – نظره الحنان ومنح الغفران</p>
<p>ط – فرحت الغرقان المنتشل من الطوفان</p>
<p>ى – بركة للجميع والخلاص السريع</p>
<p></p>
<p><strong>العظة الثالثة</strong></p>
<p>أ – الشعب وروح التزمر</p>
<p>ب – حكم الشعب والرحمة الإلهية</p>
<p>ج – الأبوة الحانية والسلطة الجائرة</p>
<p>د – فتح باب التوبة والتغاضي عن الماضى</p>
<p>ه &#8211; البر الذاتي وزرع اليأس</p>
<p>و – عطايا الله الغير محدوده</p>
<p>ذ – مرور الرب وخير البشرية</p>
<p>ح – التوبة الصادقة والخير العميم</p>
<p>ط – بنوة إبراهيم والفريسى الئيم</p>
<p>ى – تغيير القلوب والدمع المسكوب<a href="#_ftn11" name="_ftnref11">[11]</a></p>
<p></p>
<p></p>
<h4>رئيس العشارين للمتنيح الارشيدياكون رمسيس نجيب</h4>
<p></p>
<p>المسيح في طواف دائم يجتاز حياتنا ، يوزع الخير ، يصنع العجائب يطلب ويخلص ما قد هلك .</p>
<p>هو الآن في طريقه إلى أورشليم ، ليدخل طريق الآمه ، ليدخل إلى مجده . وكان لابد له أن يجتاز أريحا ، مدينة الكهنة والعشارين  فقد كان الكهنة والعشارون هما الطائفتان الممتازان . ولئن كان الاجتياز الى اريحا ضرورة جغرافية ، الا انه بالحتمية ايضا كان ضرور</p>
<p>روحية ، فقد كان زکا هناك فوق شجرة ، ينتظر الحمل الوديع ، مسیح الخطاة والعشارين ، ينتظر خلاصه !</p>
<p>ويدخل ابن داود مدينة الكهنة ، تحيط به الجموع، وتزحمه ، ولكن البشير لوقا لا يحدثنا كثيرا عن الجمع المحيط به ، بل يحدثنا فقط</p>
<p>عن واحد ، اسمه زکا..</p>
<p>ان مشهد السيد والجموع تحيط به ، تزحمه ، يتمشى بين الأجيال، كان يتكرر كل يوم . وليست العبرة في الجموع المزدحمة ، وانما في النفوس التي تتقابل معه ، وتدخل دائرة مجاله المقدسة ! هو لا يسر بما رأى الجموع المحتشدة ، قدر ما يسر بقبولها الخلاص .. هو يريد الجموع أن تلمسه روحيا ، قبل أن تنبهر بمعجزاته ! هو يريدها أن تتبعه وتطلبه هو لذاته ، لا من اجل مائدة وكسر خبز.</p>
<p>ان مشهد السيد وهو يدخل اريحا تحف به الجموع ، يذكرنا بمشهده ، والجمع يزحمه ، وهو في طريقه إلى بيت يايرس ليشفى ابنته . هل رأيتم كيف اوقف الركب المستعجل ليسأل : من لمس ثيابي ؟ وهل رأيتم الدهشة التي حلت بالتلاميذ حتى قالوا : أنت تنظر الجمع يزحمك وتقول من لمسنی ؟ والسيد يتركهم في دهشتهم . يتركهم في حياتهم ،ويحول بصره ليرى من الذي لمسه ! كانت نازفة الدم ، هي</p>
<p>التي آمنت به ، وقالت في نفسها ، بيقين الايمان : أن مسست ولو ثيابه شفيت . وكان لها ما أرادت . نالت منه الشفاء وكلمات السلام : يا ابنة ايمانك قد شفاك. اذهبی بسلام وكوني صحيحة من دائك !</p>
<p>ليت كل الذين يزحمون المعلم لهم ايمان هذه النازفة ! بل ليت كل الذين يزدحمون حوله ، يكون لهم لمسة الشفاء !</p>
<p>يسوع المسيح جاء من أجل الكل . وجاء أيضا من أجل الفرد. يسوع يشتهي خلاص كل أحد، ويسعى وراءه . ليس وارء مجموعة</p>
<p>، بل وراء كل أحد بذاته . يسوع قدس المجموعات ، لكنه أيضا حفظ وفير الاسماء ، يدعو كل خروف باسمه ويميزه . وهو حين يفعل هذا انما يقدس الجماعات . يقدسها بالخلاص . فسيكون كل فرد فيها مخلصا !</p>
<p>يسوع المسيح يجتاز أريحا ، من أجل زكا ! وزكا وحده ! وهو الآن في طوافه الدائم ، من اجل كل « زكا » آخر ! يسعى وراء كل فرد</p>
<p>في هوة الخطيئة ، في ضلال الفكر ، في تيه التجربة . وراء كل معذب . « كل زکا » ! لينجي كل هالك . يرسله الى الحرية . فقد</p>
<p>جاء يطلب ويخلص ما قد هلك ! هذا كل ما نفعله : ننتظر !</p>
<p>وماذا فعل زكا ؟!</p>
<p>ماذا فعل زكا بعد أن أزال حاجزا وضعه الشيطان في طريقه .. فقد تسلق الشجرة ليرى يسوع، فقد كان قصير القامة ! انه ركض متقدما وصعد إلى جميزة ! انه سعی ثم اكمل السعي . وكان عليه أن يجلس فوق الشجرة ، ينتظر !</p>
<p>يسوع المسيح في طوافه هو الذي يعبر ويجتاز حياتنا. نحن لا نستدعيه ، لكن ننتظره . هو الذي يبادرنا الدعوة هو الذي يأتي الينا</p>
<p>ويحركنا ، هو الذي أحبنا أولا ، بل هو العامل فينا أن نريد وأن نعمل ! علينا فقط أن نهییء قلوبنا وننتظر خلاصه .</p>
<p>أنه يجتاز دروب حياتنا ، ويقف في منعطف من منعطافاتها ، يمر أمامنا كالنسيم في رقة ، في عذوبة ، أنه لا يريد أن يسلبنا حريتنا!</p>
<p>أنه جاء ليرسلنا إلى الحرية فكيف يغتصبها منا ؟ علينا أن نغصب نحن أنفسنا أنفسنا من أجله، فنسرق الملكوت ونغتصبه !</p>
<p>وهذا ما فعله زكا !</p>
<p>يسوع ينظر إلى فوق ويراه ! هذه هي الالتفاتة المقدسة بل هي الدعوة المقدسة الهادئة ! وحين وجده مستعدا ، أمره أن ينزل ،</p>
<p>ويسرع في النزول . كان كل عطاء يسوع كافيا في هذه النظرة الحانية ! هذه النظرة التي لا تقصف قصبة مرضوضة ! أو تطفيء</p>
<p>فتيلة مدخنة ! الالتفاتة الطاهرة ، التي تحمل حبه ، وكم سبت ! وكم ردت ؟ وكم ارسلت إلى الحرية الكثيرين !!</p>
<p>وهنا يستجيب زكا بما يشبه العاصفة. هنا يغصب زكا نفسه ليغتصب الملكوت . لقد تفجر شيئا ما في حياة زكا . كانت الثورة . وكانت معها التوبة. ثورة تقلع من النفس كل اشواكها دفعة واحدة !</p>
<p>هذه هي التوبة أن أردناها ! وهذا هو قبول الدعوة أن طلبناها ! ليست كلمات نرددها ، لكنها فعل إرادی يهزنا ، يهزم الظلام الذي</p>
<p>فينا ، وثورة تقلع منا كل الخطيئة ، فلا نعود اليها مرة ثانية ! فلم نسمع أن زکا عاد الى غيه ، أو قديسا آخرا رجع إلى حمأته !</p>
<p>هي التوبة التي تصبح كالصاعقة تأتي على جذور الشر فينا وترسلنا الى ذاك المذاق الحلو !</p>
<p>هي التي تصير الزناة بتوليين .. هي التي تجدد البتولية التي اتسخت. وتحفظ بلا عيب تلك التي لم تفسد بعد.</p>
<p>هي التي تحيل العشار الى كارز ورسول. وهي التي تحيل الخطاة إلى فكر الابرار !</p>
<p><strong>في بيت زكا</strong></p>
<p>كان من المتوقع في مدينة الكهنة – اريحا – أن ينزل الملك ابن داود  في بيت أحد من أولاد هارون . ولكن المنزل الذي اختار يسوع أن يستريح فيه والذى حتمته الظروف ، كان هو بيت زكا . رئيس العشارين ! هذا ما جعل الجمع يتذمر ، كيف يلوذ السيد وهو بين</p>
<p>اتباعه ليبيت عند رجل خاطيء !</p>
<p>تأملوا كيف قابل زکا مشاعر هؤلاء ؟ كيف حاول في منهج توبته أن يكون أهلا أو على الأقل أكثر استحقاقا لضيفه المجيد ، أو يعمل كل ما في استطاعته ليكون أقل عارا ، حتى لا يخجل ضيفه الذي دعاه إلى بيته.</p>
<p>تأملوا كيف صار زکا شجرة مثمرة . انه وعلى مسمع من الجمع يعلن توبته . وليس بكلمات كما قلنا ، لكن بفعل ارادي أشبه ما يكون بالعاصفة ، يطرد من أمامه حياة ملوثة ، والى الأبد ، ليبدأ الحياة المقدسة الجديدة ، في ملء القوة !</p>
<p>انه يتكلم إلى الرب ! يتكلم الى الذي يسمعه ! يتكلم إلى من أحبه ! يتكلم اليه ففيه صار خلاصه . انه لا يهتم بالجمع المزدحم . فقد صار السيد له كل شيء. صار فردوسه وشجرة حياته . صار مشتهاه وغايته !</p>
<p>بالقلب الذي امتلأ بالفرح ، وفي غير تردد قال : ها أنا يارب أعطى نصف اموالى للمساكين وأن كنت قد وشیت بأحد أرد أربعة أضعاف.</p>
<p>+ هنا يلتزم زكا بالخدمة . يلتزم بالفقراء . يلتزم باخوة المسيح .</p>
<p>يضيف کنزه الى فوق . وحين كان يوحنا المعمدان ينادي بالتوبة ،</p>
<p>سألوه : ماذا نفعل ؟ أجاب : من له ثوبان فليعط من ليس له ! هذه هو الجانب العملي للتوبة . عطاء والتزام بالخدمة ، حتى اذا فنينا يقبلوننا في المظال الأبدية.</p>
<p>+ وهنا يلتزم زكا ايضا بالافتقار سعيا وراء غنى المسيح ! لقد قابل عطاء المسيح له . باعطاء نفسه للآخرين ! فقد وجد في سيده الكنز والغني الحقيقي . وحين يعطي زكا كل ما عنده يعطي نفسه . وفي اختیار مطلق يطلب الفقر ، يكون قد وضع قدميه في طريق الصليب الطريق الملكي ! طريق سيده !</p>
<p>هذا هو دليل ايمانه . دليل حبه . لمن قبله ولم يخذله !</p>
<p>+ وهنا يرتفع زكا فوق متطلبات الناموس ! فقد كان في حضرة الحب كله ، الذي جاء يكمل الناموس ! الشريعة تطالبه بالخمس زيادة على المختلس اذا اعترف بذنبه. وهو هنا يتجاوز ناموس الأوامر والنواهی فيتعهد امام سیده مكمل الناموس : أن يرد أربعة أضعاف لمن وشی به أو اختلس منه ! ويرتفع زكا فوق نفسه . يرتفع فوق طوفان طغيانه . وينتصر على نفسه ويستجيب الجدول الصغير لنداء البحر العظيم !</p>
<p><strong>الإعلان الالهی</strong></p>
<p>وازاء محبة زكا للسيد . ازاء اخلاصه ونبله . ازاء توبته ؛ كان اعلان السيد له ، ولأهل بيته : اليوم حصل خلاص لهذا البيت اذ هو أيضا ابن ابراهيم ! اعلان يمتلىء بالفرح ، ويمنح البهجة لأسرى الخطيئة . اعلان الهي ، يعبر فيه السيد عن قبول الذبيحة ، ودخوله ليس فقط الى بيت مقدمها ، بل إلى قلبه ايضا ! وهذا كان كل قصده.</p>
<p>لقد دخل السيد مرة إلى بيت سمعان الفريسي ، والتمس أن يدخل الى قلبه ، لكنه لم يجد له هناك مكانا يسند فيه رأسه . دخل السيد الى بيت الفريسي المتعجرف ولكنه لم يدخل إلى قلبه . أما هنا فقد دخل الى بيت زکا . ودخل ايضا الى قلبه . ليجد فيه راحته.</p>
<p>لقد زين زكا بيته حين دخله المسيح . وكيف زينه ؟ زينه بما يتفق ومشيئة المسيح . مشيئة الذي لم يزدر به . هكذا زينه : ها أنا أعطى نصف أموالي للمساكين . وان كنت قد وشیت بأحد أرده أربعة أضعاف ! وفي مثل هذه الحكمة ليتنا نزين انفسنا . نزين بيوتنا ، لكي يدخلها المسيح !</p>
<p><strong>غاية المخلص :</strong></p>
<p>ويسدل السيد الستار عن هذا اللقاء الغني بالتأمل .. ويقول : لأن ابن الانسان قد جاء يطلب ويخلص ما قد هلك !</p>
<p>نحن ضالة يسوع. يطلبنا لانه يتوق الينا . هو لا يريد أن نبقى خارج حبه . هو يريدنا أن نكون له . وهو لا يزال يطوف يجتاز حياتنا ،</p>
<p>يتعب معنا .</p>
<p>لا يزال قدماه مسمرتين على الصليب ، في وضع  انتظار ، هكذا شاء أن يبقيا كذلك ، ينزفان دماً وحباً  خلاصاً لكل أحد.</p>
<p>دخل ليبيت عند رجل خاطىء :</p>
<p>يا يسوع البار . مسيح كل الخطاة ! كيف أمضيت الليل مع زكا !</p>
<p>اخبرني يا من تحبه نفسي ! فيما حدثته ! وفيما حدثك أغلب الظن الهي .. انكما لم تناما تلك الليلة ..</p>
<p>كانت مناجاة الخاطىء الذي وجد لمن وجده. وكانت دموع الفرح للذي مات وعاش لمن أحياه ..</p>
<p>ربی ..</p>
<p>انك لم تتحدث معه عن ماض ملوث.. هذه هي محبتك كما عودتنا.. بل تجذب نظره إلى الأفق الممتد .. المملوء بالرجاء والعمل .. فهوذا الكل قد صار جديدا !</p>
<p>ربی ..</p>
<p>هل حدثته عن أورشليم ! عن آلامك ! عن مجدك !</p>
<p>هذا ما أحسبه ، فأنت لا تخفى صليبك عن تابعيك !</p>
<p>بل هذا ما تطلبه من كل اتباعك وتلاميذك !</p>
<p>ربی ..</p>
<p>ها أنا اتطفل . اتجرأ وادخل . لأقف ولو من بعيد اسمع حديثا دار</p>
<p>بينك وبين زکا .. حديث عن الحياة الجديدة . فاعرفك في قوة قيامتك</p>
<p>متشبها بموتك<a href="#_ftn12" name="_ftnref12">[12]</a>!</p>
<p></p>
<p></p>
<h3>من وحي قراءات اليوم</h3>
<p></p>
<p>&#8221; طلب أن يري يسوع من هو &#8221; (لو ٣:١٩)</p>
<p>+ لماذا طلبت أن تراه وأنت غارق في الأموال والحسابات ؟</p>
<p>+ هل رؤيته تستحق معاناه تسلق شجرة من مدير ضرائب أريحا ؟</p>
<p>+ لم  تُقيم وزناً لرأي الناس ولم يقف ضعف الجسد عائقاً أمام إشتياقات القلب</p>
<p>+ هل كانت رؤيته أهم من رأي الناس وأعذب من بريق المال ؟</p>
<p>+ أعطاك غني جلسته وزيارته رغم أن طلبتك فقط رؤيته</p>
<p>+ إكتفيت به في الشارع بينما هو أراد أن يملأ بحضوره بيتك</p>
<p>+ حبه الإلهي جعل كنوز المال تحت قدميك وعطاء الفقراء فرح يديك</p>
<p>+ تعبك في طلب رؤيته فاض غني وخلاص لكل أهل بيتك</p>
<p>+ بسبب إشتياق قلبك كان بيتك أول مكان يعلن فيه الخلاص لأهل البيت</p>
<p>+ أصبحت مُبكِّتاً لكسلنا في رؤيته ومُشجِّعاً لنا في بساطة إستجابته</p>
<p></p>
<p></p>
<p></p>
<h3>المراجع:</h3>
<p></p>
<p><a href="#_ftnref1" name="_ftn1"></a>١- القديس يوحنا ذهبي الفم &#8211; تفسير رسالة أفسس الإصحاح الرابع &#8211; القمص تادرس يعقوب ملطي</p>
<p><a href="#_ftnref2" name="_ftn2"></a>٢- JR, A. J. &amp; Oden, T.C. ( 2003 ). Luke (The Ancient Christian Commentary on Scripture,      New testament part III ). Illinois ( USA ) : InterVarsity press. Page 289</p>
<p>ترجمة الأخت إيفيت منير &#8211; كنيسة مار مرقس ببني سويف</p>
<p><a href="#_ftnref3" name="_ftn3"></a>٣- المرجع : كتاب تفسير إنجيل لوقا للقديس كيرلس الأسكندري صفحة ٦٠٨ &#8211; ترجمة دكتور نصحي عبد الشهيد</p>
<p><a href="#_ftnref4" name="_ftn4"></a>٤- القصد الإلهي من خلق الإنسان للقديس غريغوريوس النيسي &#8211; ترجمة دكتور سعيد حكيم يعقوب</p>
<p><a href="#_ftnref5" name="_ftn5"></a>٥- المرجع كتاب الحب الإلهي صفحة ٢٦١ &#8211; القمص تادرس يعقوب ملطي</p>
<p><a href="#_ftnref6" name="_ftn6"></a>٦- المرجع : كتاب نقاوة القلب الجزء الأول صفحة ٤٤٧ &#8211; إعداد أحد الآباء الرهبان بدير السيدة العذراء &#8221; برموس &#8221;</p>
<p><a href="#_ftnref7" name="_ftn7"></a>٧- المرجع: كتاب المنجلية القبطية الأرثوذكسية صفحة ١٩١</p>
<p><a href="#_ftnref8" name="_ftn8"></a>٨- المرجع : كتاب تأملات روحية في قراءات أناجيل آحاد السنة القبطية &#8211; المتنيح القمص لوقا سيداروس</p>
<p><a href="#_ftnref9" name="_ftn9"></a>٩- المرجع : كتاب عظات مضيئة معاشة صفحة ٨٤١ &#8211; إصدار مطرانية ملوي وأنصنا والأشمونين</p>
<p><a href="#_ftnref10" name="_ftn10"></a>١٠- المرجع : كتاب المواعظ النموذجية &#8211; الجزء الأول ( صفحة ١٦٨ &#8211; ١٧٣ ) &#8211; القمص بولس باسيلي</p>
<p><a href="#_ftnref11" name="_ftn11"></a>١١- المرجع كتاب تاملات وعناصر روحية في احاد وايام السنة التوتية اعداد القمص تادرس البرامزسي</p>
<p><a href="#_ftnref12" name="_ftn12"></a>١٢- المرحع كتاب معاملات المسيح مع الخطاة للارشيدياكون رمسيس نجيب</p>
<p></p>
<p></p>
<p></p>

      {% endcreateArticleAccordions %}
    </section>
  {% endblock %}
  