---
layout: 'layouts/reading.html'
title: 'قراءات الأحد الرابع من شهر توت'
permalink: sundays/1-4.html
---
  {% block content %}
    <section id="readings">
      <ul>
      {% if '19.33:4-5' != 'null' %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">العشية</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeVespers '19.33:4-5' '40.9:18-26' %}
          </div>
        </div>
      </li>
      {% endif %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">باكر</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeMatins '19.33:20-21' '40.15:21-28' '' %}
          </div>
        </div>
      </li>
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <h3 class="flex items-center justify-between">
            <span class="kufi">القداس</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </h3>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeLitugy '47.1:1-14' '62.3:8-12' '44.9:36-42' '19.28:8-9' '42.7:36-50' %}
          </div>
        </div>
      </li>
        </ul>
    </section>
    <section id="article">
      <h3 class="mt-8 mb-4 heading-explain">شرح القراءات</h3>
      {% createArticleAccordions firstName, lastName %}
        <p></p>
<p></p>
<p></p>
<p>&#8220;صوت حبيبي قارعا: افتحي لي يا أختي، يا حبيبتي، يا حمامتي، يا كاملتي &#8221; (نش ٢:٥)</p>
<p>&#8221; بعد هذا نظرت واذا جمع كثير لم يستطع احد ان يعدّه من كل الامم والقبائل والشعوب والألسنة واقفون امام العرش وامام الخروف ومتسربلين بثياب بيض وفي ايديهم سعف النخل &#8221; (رؤ٩:٧)</p>
<p>وأما أنتم فجنس مختار وكهنوت ملوكي وأمة مقدسة وشعب إقتناء                                 قسمة الآباء الرسل</p>
<p><a href="#_ftn1" name="_ftnref1">[1]</a>&#8221; الكنيسة سوداء بخطاياها كاملة بالنعمة إنها سوداء بالطبع البشري كاملة بالخلاص &#8230; سوداء بأتربة الجهاد كاملة عندما تتكلل بحلي</p>
<p></p>
<p></p>
<h3>شواهد القراءات</h3>
<p></p>
<p>(مز ٣٢: ٤-٥)، (مت ٩: ١٨-٢٦)، (مز ٣٢: ١٧-١٨)، (مت ١٥: ٢١-٢٨)، (٢كو ١: ١-١٤) (١يو ٣ : ٨-١٢) (أع ٩ : ٣٦-٤٢) (مز ٢٧-٩) (لو ٧: ٣٦-٥٠)</p>
<p></p>
<p></p>
<h3>ملاحظات على قراءات اليوم</h3>
<p></p>
<p>+ قراءة الإبركسيس اليوم (أع ٩: ٣٦ &#8211; ٤٢) تُشبه قراءة الإبركسيس (أع ٩: ٣١ &#8211; ٤٣) ليوم ١٦ توت (تذكار تجديد كنيسة القيامة)</p>
<p>وهنا في قراءة هذا الأحد الإشارة إلي طابيثا &#8221; المرأة &#8221; موضوع قراءة الأحد كُلّه</p>
<p>أمَّا مجيئها يوم ١٦ توت فهو للإشارة إلي آية ٣١ (وأما الكنيسة في كل اليهودية والجليل والسامرة فكان لهم سلام مبنيين وسائرين بخوف الرب وكانوا يزدادون كثرة بعزاء الروح القدس) ، وأيضاً آية ٤١ ( القديسين والأرامل ) أي وحدة أعضائها</p>
<p>+ قراءة إنجيل القدَّاس اليوم (لو ٧: ٣٦ &#8211; ٥٠) هي نفس قراءة إنجيل عشيَّة الأحد الثاني من كيهك، وإنجيل عشيَّة يوم ٢٩ برمهات (عيد البشارة)</p>
<p>وتأتي القراءة اليوم لأجل الإشارة إلي كمال توبة المرأة، ومحبة الآب للبشرية الضعيفة والتي أعلنها الابن في تجسُّده) ، أمَّا مجيئها يوم ٢٩ برمهات ، والأحد الثاني من كيهك لأجل البشارة بالخلاص والغفران للخطأة ( مغفورة لك خطاياك .. إيمانك قد خلصك)</p>
<p></p>
<p></p>
<h3>شرح القراءات</h3>
<p></p>
<p>تتكلم قراءات اليوم عن تدبير الآب للمرأة الكاملة (كنيسة الله)</p>
<p>فتعلن المزامير عطايا الآب للكنيسة مراحمه (مزمور عشيّة) ومعونته (مزمور باكر) وخلاصه ( مزمور القدَّاس )</p>
<p>فيخبرنا مزمور عشية عن مراحم الآب للكنيسة (يحب الرحمة والحكم امتلأت الأرض من رحمة الرب)</p>
<p>ويعلن مزمور باكر عن معونة الله ونصرته للكنيسة (لأنه هو معيننا وناصرنا)</p>
<p>أما مزمور القداس فيعلن كمال العطية الإلهية في استعلان خلاص الله لشعب الله وللكنيسة (وهو موازر خلاص مسيحه خلص شعبك بارك ميراثك)</p>
<p>أما القراءات الثلاثة فتعلن شكل وجوهر ومعني الكنيسة الكاملة في أساسها ( البولس ) وعصب الكنيسة ( الكاثوليكون ) وبهاء الكنيسة ( الإبركسيس )</p>
<p>فيتكلم البولس عن أساس الكنيسة وهو رأفة الله الآب والتعزيات الإلهية والاتكال الكامل علي نعمته ( مبارك الله أبو ربنا يسوع المسيح أبو الرأفة وإله كل تعزية&#8230;.كذلك بالمسيح تكثر تعزيتنا أيضا&#8230;.لكي لا نكون متكلين علي أنفسنا وحدنا)</p>
<p>بينما يعلن الكاثوليكون عن عصب كنيسة الله &#8221; المحبة &#8221; وهذه هي التي تظهر أولاد الله وتميزهم عن أولاد العالم ( بهذا أولاد الله ظاهرون وأولاد الشيطان كل من لا يصنع البر فليس هو من الله وكذا من لا يحب أخاه )</p>
<p>أما الإبركسيس فيتكلم عن سبب بهاء الكنيسة &#8221; الخدمة &#8221; (وكان في يافا امرأه تلميذه إسمها طابيثا التي تفسيرها وتسميتها غزالة هذه كانت ممتلئة أعمالا صالحة وصدقات التي كانت تصنعها )</p>
<p>ويتقابل الرب في الأناجيل مع نزيف اليهود (إنجيل عشيّة) وجنون الأمم ( إنجيل باكر ) مانحاً الغفران والسلام لكل الخطأة التائبين ( إنجيل القدَّاس )</p>
<p>ففي إنجيل عشية يتقابل السيد مع كنيسة اليهود النازفة حتي الموت (نازفة الدم وابنة يايرس ) والتي أعطاها الخلاص والقيامة ( تقوي ياإبنتي إيمانك قد خلصك )</p>
<p>أما في إنجيل باكر يتقابل السيد مع كنيسة الأمم المتعذبة المجنونة التي أشبعها الفتات أكثر مما أشبع الخبز الأبناء ( ياإمرأة عظيم هو إيمانك ليكن لك كما تريدين )</p>
<p>أما إنجيل القداس فيعلن عطايا الآب للبشرية في المسيح، ولكنيسة العهد الجديد (مغفورة لك خطاياك &#8230;. إيمانك قد خلصك إذهبي بسلام)</p>
<p>ويدعونا القديس أمبروسيوس للإقتداء بهذه المرأة في توبتها القوية:</p>
<p>اظهر جراحاتك للطبيب فيشفيك&#8230; أزل آثار جروحك بالدموع! فإن هذا هو ما صنعته المرأة المذكورة في الإنجيل، فأزالت بذلك نتانة خطاياها. لقد غسلت خطاياها بغسلها قدمىْ المخلص بدموعها<a href="#_ftn2" name="_ftnref2">[2]</a> &#8221;</p>
<p>والسؤال هنا: لماذا رد الرب علي أفكار الفرِّيسي تجاه المرأة (لو ٧-٣٩)، بينما لم يفعل نفس الشئ عندما فكَّر الفريسيين تجاهه هو شخصياً (لو ٧-٤٩) ؟</p>
<p>ينشغل الرب دائماً بما نفعله مع بعضنا البعض رُبَّما أحياناً أكثر ممَّا نفعله تجاهه هو ، بل ويجعله مقياس تقييم حياتنا (يع ١-٢٧) ، وخدمتنا (مت ٢٥-٣٥) ، ورعايتنا (لو ١٢: ٤٣ &#8211; ٤٦) ، وطريق نوال غفران الله (لو ١١-٤) ، أو عدم غفرانه (مت ١٨- ٣٥) ، وسبب استجابة الله لصلواتنا (مر١١-٢٥) ، أو إغلاق الأذن عنها (أم ٢١ : ١٣) ، وقبول أصوامنا (أش ٥٨ : ٦ &#8211; ١١) ، أو رفضها (أش ١-١٣) ، أو  وسبب بركة لنا (أي ٢٩-١٣) (عب ١٣-٢) ، أو علَّة دينونة علينا (عو ١-١٥)، (يع ٢-١٣)</p>
<p></p>
<p></p>
<h3>مُلخّص القراءات</h3>
<p></p>
<p>الكنيسة الكاملة ليست هي فقط كنيسة اليهود                    (إنجيل عشية )</p>
<p>بل الأمم أيضا                                                                ( إنجيل باكر )</p>
<p>وليس فقط الأبرار بل كل الخطاة                                        ( إنجيل القداس )</p>
<p>وهي التي يعطيها الآب مراحمه                                       ( مزمور عشية )</p>
<p>ومعونته ونصرته                                                             ( مزمور باكر )</p>
<p>وخلاصه                                                                       ( مزمور القداس )</p>
<p>وهي التي تأسست علي نعمته ورأفاته وفيض تعزياته              ( البولس )</p>
<p>وتأصل بنيانها بالمحبة الأخوية                                             ( الكاثوليكون )</p>
<p>وشهدت لإلهها بخدمتها الباذلة للكل                                  ( الإبركسيس )</p>
<p></p>
<p></p>
<h3>إنجيل القدَّاس في فكر آباء الكنيسة</h3>
<p></p>
<p>&#8220;تحوي بشارة متّى نصًّا آخَر عن مسحة الطِيْب؛ إلّا أن سمعان المذكور في إنجيل متّى ليس فرّيسيًّا، بَلْ أبرص.&#8221; (القديس أمبروسيوس).</p>
<p>&#8220;المغفور له بالأكثر فأَحَبَّ أكثر، هو فقط مَن يستطيع أنْ يمسح قدمَيْ يسوع مثلما فعلت المرأة الخاطئة.&#8221; (القديس أمبروسيوس).</p>
<p>&#8220;تشير أعمال المحبة التي صنعتها المرأة مع يسوع إلى تعاليم الرب، &#8211; (القديس إكليمُندُس السكندري) – فقد لاقته بالترحاب كنبيٍ مِن قِبَل الله، آتٍ لمغفرة الخطايا حتى لأكثر الناس إثما.&#8221;</p>
<p>&#8220;لا الفرّيسيّ، بَلْ المرأة الخاطئة هَذه التي تَعْرِف أن يسوع هو النبي ؛ لأنها مؤمِنة وليست فرّيسيّة.&#8221; (القديس أمبروسيوس).</p>
<p>&#8220;تواضُع المرأة هو الضمان لغفران خطاياها.&#8221; (القديس أوغسطينوس).</p>
<p>&#8220;أُهين سمعان الفرّيسيّ بفعل المرأة التي تقدّست شفتاها بتقبيل قدمَيْ يسوع ونالت الغفران.&#8221; (مار إفرام السرياني).</p>
<p>&#8220;وَرَدَ مفهوم المحبة هذا أولاً في مَثَل المَدِيْنَين اللذين يشبَّهان بفريقَين: هما اليهود والأمم.&#8221; (القديس أمبروسيوس).</p>
<p>&#8220;إن  يسوع يكلّم سمعان بهذا المَثَل كفعْلٍ للمصالحة. وما نالته المرأة مِن لدن يسوع الطبيب مِن غفرانٍ لخطاياها لهو شفاءٌ معجزيّ، مثله مثل معجزات الشفاء التي صنعها في أنحاء الجليل؛ تلك التي أدّت إلى دعوته بتناول الطعام في بيت سمعان.&#8221; (مار إفرام السرياني).</p>
<p>&#8220;كانت تُقَبِّل قدمَيه لأنها قد آمنت به؛ كذلك تفعل الكنيسة اليوم أيضًا في طقس تبادل القُبْلة وقت القداس حتى تعلن للجميع إيمانها واعترافها بالمسيح إذ بتقبيل كل أحدٍ الآخَر هَكذا تُقَبِّل المسيح. وهو لا يَزال يُدْهَن بالزّيت إذ تدهن الكنيسة كل صغير ووضيع بزيت المحبة.&#8221; (القديس أمبروسيوس).</p>
<p>&#8220;المرأة هي التي تعترف بأن يسوع هو الله؛ لا سمعان الفرّيسيّ الذي لا يحسبه إلّا مجرّد رجل.&#8221; (مار إفرام السرياني).</p>
<p>&#8220;له يعلن يسوع أنه هو النبي الأعظم الأول والآخِر، بمغفرته لخطايا المرأة التي دهنت قدمَيه.&#8221; (القديس كيرلُّس السكندري).</p>
<p>&#8220;على النقيض مِن سمعان وغيره مِن فرّيسيّين آخَرين لا يَعْلَمون أن يسوع هو المَسِيّا الغافر الخطايا، فإن المرأة المدينة بالكثير إذ غُفِر لها أظهرت قدر محبتها.&#8221; (العلّامة أوريجانوس).</p>
<p>&#8220;لقد أحبت كثيرًا لأنه قد غُفِرَ لها بالأكثر.&#8221; (القديس يوحنّا كاسيان).</p>
<p>&#8220;وراء كل هذا يبدو تدبير يسوع الخلاصيّ العظيم، وإيمانها بيسوع الذي هو أصل التدبير وأساسه لأنه هو المحبة؛ ومِن قِبَل محبته تلك يغفر الخطايا.&#8221; (القديس أمبروسيوس)<a href="#_ftn3" name="_ftnref3">[3]</a>.</p>
<p></p>
<p></p>
<h3>الكنيسة في قراءات اليوم</h3>
<p></p>
<p>أهمّية أعمال أولاد الله                                     الكاثوليكون والإبركسيس</p>
<p>التوبة وغفران الخطايا                                      انجيل القدَّاس</p>
<p></p>
<h3>  أفكار مقترحة لعظات</h3>
<p></p>
<p><strong>    (١)   العظة الأولي</strong></p>
<p><strong>    كمال المرأة</strong></p>
<p>١- عِظَمْ الإيمان ( هدب الثوب والفتات الساقط )                                 إنجيل عشيّة وإنجيل باكر</p>
<p>٢- عِظَمْ الرجاء والتعزية ( فإن كنا نتضايق فلأجل تعزيتكم وخلاصكم )       البولس</p>
<p>٣- عِظَمْ البرّ والحب ( بهذا أولاد الله ظاهرون وأولاد الشيطان )                الكاثوليكون</p>
<p>٤- عِظَمْ خدمة الآخرين ( هذه كانت ممتلئة أعمالاً صالحة وصدقات )        الإبركسيس</p>
<p>٥- عِظَمْ التوبة ( خطاياها الكثيرة مغفورة لها لأنها أحبت كثيراً )              إنجيل القدَّاس</p>
<p><strong>   (٢)    العظة الثانية</strong></p>
<p><strong>الطريق للحب الإلهي &#8221; هذه المرأة أحبت كثيرا &#8220;</strong></p>
<p>كيف نعيش ونتذوق ونشبع بالحب الإلهي ؟</p>
<p>١- المبادرة وإغتنام الفرصة رغم كلام الناس &#8221; إذ علمت أنه متكئ في بيت الفريسي جاءت بقارورة طيب</p>
<p>&#8221; فما جاوزتهم الا قليلا حتي وجدت من تحبه نفسي فأمسكته ولم ارخه &#8221; (نش٣-٤)</p>
<p>٢- التوبة الدائمة &#8221; واما هي فقد غسلت رجلي بالدموع ومسحتهما بشعر رأسها</p>
<p>&#8220;مزقوا قلوبكم لاثيابكم &#8230;.. &#8221; (يؤ ٢-١٣)</p>
<p>&#8220;بل عظوا أنفسكم كل يوم، ما دام الوقت يدعى اليوم، لكي لا يقسى أحد منكم بغرور الخطية &#8221;    (عب٣-٣١)</p>
<p>٣- الشكر الدائم &#8221; لم تكف عن تقبيل رجلي</p>
<p>اشكروا في كل شئ لان هذه هي مشيئة الله في المسيح يسوع من جهتكم (١تس ٥-١٨)</p>
<p>شاكرين كل حين على كل شئ في اسم ربنا يسوع المسيح لله والآب (أف ٥-٢٠)</p>
<p>٤- العطاء الدائم من أثمن ماعندنا &#8221; واما هي فقد دهنت بالطيب رجلي</p>
<p>ثم فتحوا كنوزهم وقدموا له هدايا &#8221; (مت٢-١١)</p>
<p>&#8221; انه في اختبار ضيقة شديدة فاض وفور فرحهم وفقرهم العميق لغني سخائهم لانهم اعطوا حسب الطاقة انا اشهد وفوق الطاقة من تلقاء انفسهم (٢كو٨-٢)</p>
<p><strong>  (٣)     العظة الثالثة</strong></p>
<p><strong>ماذا نقدم له؟ وماذا يقدم لنا ؟</strong></p>
<p>١- تقدمة الفريسي &#8221; ثم سأله أحد الفريسيين أن يأكل معه</p>
<p>قدم الفريسي وقتا وبيتا وأكلا وضيافة ومدحه الكل لكل تجهيزاته وتكاليف ضيافته ولكن لأجل بره الذاتي ونظرته للزانية الخالية من الحب لم يأخذ تقريبا شيئا</p>
<p>٢- تقدمة المرأة</p>
<p>قدمت المرأة إنسحاقا ودموعا وطيبا وصمتا وعدم إستحقاق وإزدراها الكل لأجل جرأتها لدخولها بدنسها بيت رجل دين     ولكن لأجل عمق توبتها وحبها للسيد إستحقت نصيب عشرة مقارنة بالنصيب الواحد اليتيم لرجل الدين</p>
<p>٣- ماذا قدم الناس؟</p>
<p>قدموا مدحا وتعظيما لما فعله رجل الدين من شكل خارجي جميل</p>
<p>وقدموا ذما وإنتقادا وإحتقارا لإمرأة مشهورة في البلدة بخطاياها</p>
<p>٤- ماذا قدم السيد له المجد؟</p>
<p>قدم سلاما وغفرانا إلهيا للمرأة التي أعلنت إحتياجها رغم صمتها الداخلي والخارجي بينما لم يطلب الفريسي شيئا لإحساسه بالكفاية والتميز على الآخرين وبالتالي لم يأخذ شيئا بالمقارنة بالمرأة</p>
<p><strong>(٤) العظة الرابعة ( عند أقدام الرب )</strong></p>
<p><strong>نُقدِّم توبة &#8211; نجد رجاؤنا &#8211; نغتني بنصيبنا الصالح</strong></p>
<p>١- نُقدِّم توبة</p>
<p>مثلما فعلت المرأة الخاطئة (أعطني يارب دموع كثيرة كما أعطيت للمرأة الخاطئة لكي أقبل قدميك اللتان اعتقتاني من طريق الضلالة &#8230;.. )</p>
<p>٢- نجد رجاؤنا</p>
<p>مثلما وجدت المرأتان بعد القيامة مسيح الرجاء وأمسكتا بقدميه فذهب عنهم اليأس والخوف (مت ٢٨: ٩)</p>
<p>٣- نغتني بنصيبنا الصالح</p>
<p>مثلما وجدته مريم أخت مرثا عندما كان كل هدفها أن تسمع كلامه جالسةً عند قدميه (لو ١٠: ٤٢)</p>
<p>٤- يغسل أقدامنا</p>
<p>هنا السيد القدير عند قدمي خليقته ليغسلها وينقيها ويقدسها في رسم إتضاع تقشعر أمامه السماء والأرض</p>
<p>والمفاجأة السارّة لكل مسيحي يسعي لغسل أقدام الجميع وإحتمال قساوتهم أنه يجد يدي القدير عند أقدام كل مرضي الخطية والعالم، ويكتشف أنه لا يغسل أقدام أحد بل يجد قدميه وكلَّه قد صار نقياً بمن وعد أن يكون وسط أتعاب البشر وآلامهم وأننا لا نجد يديه فقط علي مذبح صلواتنا بل تتلامس يديه الطاهرتين مع إنسحاق إرادتنا وإنشغالنا بأنين البشر (مت ١٨: ٢٠) (مت ٢٥: ٣٥)</p>
<p></p>
<p></p>
<h3>عظات آبائية</h3>
<p></p>
<h4>لقاء الرب مع المرأة الخاطئة في فكر القديس كيرلس الإسكندري</h4>
<p></p>
<p>يا جميع الأمم صفقوا بالأيادي. اهتفوا لله بصوت الابتهاج والشكر (مز ٤٧-١)</p>
<p>وما هو سبب هذا الابتهاج؟ إنه بسبب أن المخلص هنا أنشآ لنا طريقا للخلاص لم يسر فيه الذين في القديم. لان الناموس الذي وضعه موسى الحكيم كان لتوبيخ الخطية لإدانة التعديات، و لكنه لم يبرر مطلقا أى أحد. لان بولس الحكيم يكتب و يقول &#8216;مَنْ خَالَفَ نَامُوسَ مُوسَى فَعَلَى شَاهِدَيْنِ أَوْ ثَلاَثَةِشُهُودٍ يَمُوتُ بِدُونِ رأْفَةٍ (عب ٢٨:١٠)</p>
<p>أما ربنا يسوع المسيح فإذا قد أبطل لعنة الناموس وجعل الوصية التي تدين بلا قوة و غير فعالة، &#8220;صار رئيس كهنتناالرحيم&#8221; بحسب كلمات بولس المبارك (عب١٧:٢)،لأنه يبرر الخطأة بالإيمان، و يطلق المأسورين بالخطية أحرارا. و هذا أعلنه لنا بواسطة أحد الأنبياء القديسين قائلا&#8221;في ذالك الوقت يقول الرب،سيبحثون عن خطية إسرائيل فلن تكون هناك، و عن خطية يهوذا فلا يجدونها، لأنى سأكون رحيما بأولئك الذين بقوافي الأرض يقول الرب&#8221; (إر٢٠:١)، و لكن ها إن تحقق الوعد حدث لنا في وقت تجسده، كما يتأكد لنا من معانى الأناجيل المقدسة.</p>
<p>فقد دعى المسيح من أحد الفريسيين، و لأن المسيح شفوق و محب للبشر&#8221; و يريد أن جميع الناس يخلصون وإلى معرفه الحق يقبلون&#8221; (١تى:٤:٢)، وافق و منحه ما طلب منه، و اذ دخل اتكأ على المائدة، وفي الحال دخلت أمرأه مدنسة بالخطايا مثل واحد لايفيق من الخمر والسكر، وإذا شعرت بذنوبهم و تعدياتهاقدمت توسلات للمسيح القادر أن يطهرها ويحررها من كل خطية وينقذها من خطاياها السابقة&#8221;. لأنه لا يذكر الخطايا و التعديات&#8221;(عب١٢:٨)، و قد فعلت هذا وهي تغسل قدميه بدموعها و تدهنهما بالطيب وتمسحهما بشعر رأسها. مثل هذه المرأة التي كانت فاسقة و زانية وهي خطية يصعب ازالتها، لم تفقد طريق الخلاص، لأنها هربت لاجئه إلى الذى يعرف كيف يخلص و يستطيع أن يرفع من أعماق النجاسة.</p>
<p>فهى إذا لم تفشل في عرضها، و لكن الإنجيلي المبارك يخبرنا أن الفريسي الأحمق قد استاء و قال في نفسه: &#8221; لو كان هذا نبيا لعلم من هذه المرأة التي تلمسه وما هي ، انها خاطئة&#8221;. لذلك فالفريسي كان منتفخا و بلا فهم بالمرة، لانه كان من واجبها بالأحري أن ينظم حياته الخاصة و يزينها بكل الأعمال الفاضلة، و ليس أن يحكم على الضعفاء ويدين الآخرين. و لكننا نؤكد عنه أنه اذ قد تربى على عوائد الناموس، فقد أعطى لأوامره سلطانا واسعا وأراد أن يخضع المشرع ( المسيح) لوصايا موسى، لأن الناموس أوصى أن المقدس يكون بعيدا عن بعيد&#8221; عن النجس، و الله وجه اللوم لأولئك الذين كانوا رؤساء مجامع اليهود لعدم رغبتهم في تتميم ذلك، لأنه تكلم هكذا بواسطة أحدا الأنبياء القديسين قائلا: &#8221; لم يميزوا بين المقدس والنجس&#8221;(حز٢٦:٢٢). و لكن المسيح جاء من اجلنا، ليس لكى يخضع حالتنا للعنات التي بواسطة الناموس، بل ليفدى أولئك الذين تحت الخطية أعلى من الناموس، لان الناموس قد تأسس &#8220;بسبب التعديات:كما يعلن الكتاب (غل١٩:٣)، &#8220;لكى يستد كل فم و يصير كل العالم تحت قصاص من الله لأنه بأعمال الناموس كل دى جسد لا يتبررأمامه&#8221; (رو٢٠،١٩:٣)، لانه لا يوجد هناك متقدم في الفضيلة الروحانية، حتى يكون قادرا ان يتمم كل ما أوصى به، و يكون بلا لوم، و لكن النعمة التي بالمسيح تبرر لانها إذا تبطل حكم الناموس فهى تحررنا بواسطة الإيمان.</p>
<p>لذلك فإن ذلك الفريسى المتكبر الأحمق لم يحسب يسوع قد وصل حتى إلى درجة نبى، و لكن المسيح جعل دموع المرأة فرصة لكى تعلمه بوضوح عن السر، لانه علم الفريسى و كل الذين كانوا مجتمعين هناك أن الكلمة إذ هو الله، جاء إلى العالم في صورتنا &#8220;ليس ليدين العالم، بل ليخلص به العالم&#8221; (يو١٧:٣).لقد جاء لكى يغفر للمديونين كثيرا و قليلا، و لكى يظهر رحمة على الصغير و الكبير، لكى لا يكون هناك أي واحد مهما كان لا يشترك فيصلاحه. وكعربون و مثال واضح بنعمته، خلص تلك المرأة غير العفيفة، غير الطاهرة من خطاياها الكثيرة: &#8220;مغفورة لك خطاياك&#8221;. ان مثل هذا الإعلان لائق بالله حقا، وهي كلمة تبين السلطان المطلق، لانه حيث إن الناموس أدان أولئك الذين كانوافي الخطية، فمن هو الذى يستطيع أن يعلن أشياء فوق الناموس إلا ذلك الذى وضع الناموس. لذلك فإنه في الحال أطلق المرأةحرة، ثم أنه لفت انتباه ذلك الفريسى، وأولئك الذين كانوا معه إلى أمور عالية جدا،لانهم تعلموا أن الكلمة هو الله،و لم يكن كواحد من الأنبياء، بل بالأحرى يفوق مستوى البشرية، وذلك رغم أنه صار إنسانا. وربما يقول واحد لذلك الذى دعاه: أنت أيها الفريسى متدرب في الكتب المقدسة، و أنت تعرف طبعا الأوامرالتي أعطاها مرسى الحكيم، و أنت قد فحصت كلمات الأنبياءالقديسين، فمن هو إذا ذالك الذى يسير في طريق عكس الوصايا المقدسة و يحرر من الخطية؟ من هو الذى أعلن أن الذين كسروا الوصايا قد صاروا أحرار؟ لذلك اعلم بواسطة الحقائق نفسها أنه أعلى من الأنبياء والناموس، تذكر أن واحداً من الأنبياء القديسين بشر بهذه الأشياء منذ القديم عنه و قال:&#8221;سوف يأتون بالرعب إلى الرب إلهنا و يخافون منك. من هو اله مثلك غافر الآثم و صافح عن الذنب لبقية ميراثه؟ لا يحفظ إلى الأبد غضبه فانه يسير بالرأفة&#8221; (ميخا٧-١٨:١٧)</p>
<p>لذلك أولئك الذين كانوا يأكلون مع الفريسي اندهشوا وتعجبوا لرؤيتهم للمسيح مخلص الكل يملك مثل هذا السمو الالهى، و يستعمل تعبيرات تعلو على حق الإنسان، لانهم قالوا: &#8220;من هو الذى يغفر خطايا أيضا؟&#8221; هل تريدنى أن أخبرك من هو هذا؟</p>
<p>هو الذي في حضن الله الاب، والمولود منه بالطبيعة، والذى به كان كل شيءهو الذى يملك سلطانا مطلقا و تسجد له كل خليقة فيالسماء وعلى الأرض، وهو قد أخضع نفسه لحالتنا، و صار رئيس كهنتنا، لكى يقدمنا إلى الله طاهرين وأنقياء اذ قد أبطل رائحة الخطية النتنه، وجعل نفسه فينا رائحة طيبة. لانه كما يكتب بولس الحكيم جدا &#8220;نحن رائحة المسيح الذكية لله:(٢كو١٥:٢). هذا هو الذى تكلم بصوت النبى حزقيال قائلا: و أنا أكون لكم إلها و اخلاصكم من كل نجاساتكم&#8221; (حز٢٩،٢٨:٣٦). لذلك انظروا أن ما تحقق يتفق مع ما سبق أن وعد به بواسطة الأنبياء القديسين. اعترفوا به انه الله وهو اللطيف جدا والمحب للبشر، أمسكوا بطريق الخلاص، اهربوا من الناموس الذى يقتل، و اقبلوا الايمان الذى هو فوق الناموس، لأنه مكتوب: الحرف يقتل &#8220;أى الناموس، &#8220;و لكن الروح يحيى&#8221; أي التطهير الروحي الذي في المسيح. الشيطان قد ربط سكان الأرض بقيود الخطية، والمسيح قد فك هذه الحبال. انه جعلنا أحرارا، وابطل طغيان الخطية، وطرد المشتكى الذى يشتكى على ضعفاتنا لكى يتم الكتاب &#8221; ان كل أثم يسد فاه&#8221;(مز٤٢:١٠٧)، لانه الله هو الذى يبرر&#8221; فمن هو الذى يدين؟</p>
<p>(رو٣٣:٨).</p>
<p>وهذا صلى من اجله المرنم الالهى لكى يتحقق، حينما خاطب المسيح مخلص الكل هكذا &#8221; لتبد الخطاة من الأرض والأشرار لا يكونون فيما بعد&#8221; (مز٣٥:١٠٤). فانه حقا لا ينبغي أن يقول عن واحد لابس الروح إنه يلعن من هم خطاة و ضعفاء، فانه غير لائق بالقديسين أن يلعنوا أي أحد بل بالأحرى هو يطلب هذا من الله.لانه قبل مجئ المخلص كنا كلنا في الخطية، و لم يكن هناك من يعرف أنه هو الله بالحق و بالطبيعة، &#8220;لم يكن أحد يعمل صلاحا ليس و لا احد، بل الجميع زاغوا و فسدوا معا&#8221;(رو١٢:٣) ولكن بسبب ان الابن الوحيد أخضع نفسه للإخلاء و تجسد و صار إنسانا، فقد تلاشى الخطاة. لم يعد هناك خطاة لان سكان الأرض قد تبرروا بالإيمان، و قد غسلوا أدناس خطيتهم بالمعمودية المقدسة، و قد صاروا شركاء الروح القدس، وخرجوا من تحت يد العدو، وبعد أن كانوا تحت سيطرة الشيطان صاروا يسكنون تحت سلطان المسيح.</p>
<p>لذلك فإن عطايا المسيح ترفع الناس إلى رجاء طال انتظاره وإلى فرح عظيم جدا، فالمرأة التي كانت مذنبة بنجاسات كثيرة و تستحق اللوم بسبب أعمال مشينة جدا قد تبررت، لكى يكون لنا نحن أيضا ثقة أن المسيح سيرحمنا نحن أيضا بالتأكيد، حينما يرانا مسرعين اليه وساعين أن نهرب من شراك الشر. دعونا نقف أمامه، دعونا نسكب دموع التوبة، هيا بنا ندهنه بالطيب، لان دموع الذى يتوب هي رائحة طيبة لله اذكروا الذى قال&#8221; اصحوا أيها السكارى، و ابكوا وولولوا يا جميع شاربي الخمر&#8221; (يؤ٥:١)لان الشيطان يكسر القلب، ويثير العقل بالذات الشريرة، و يحدر الناس إلى نجاسات الشهوة. و لكن مادام هناك وقت فلنستيقظ، و كما يقول بولس الحكيم جدا: &#8220;لنسلك لا بالبطر والسكر، لا بالمضاجع والعهر، بل بالحري لنعمل ما هو صالح، لأننا لسنا من ليل ولا من ظلمة، بل أبناء نور و أبناء نهار&#8221; (رو١٣:١٣؛اتس ٥:٥)&#8221; لذلك فلنخلع أعمال الظلمة و نلبس أسلحة النور&#8221;(رو١٢:١٣). لا تنزعج حينما تفكر في عظم خطاياك السابقة، بل بالحري إعلم أن نعمة الله التي تبرر الخاطئ وتفك الشرير، هي أعظم (من خطاياك).</p>
<p>إذا فالإيمان بالمسيح هو عربون لنا لهذه البركات العظيمة، لانه هو الطريق الذى يقود للحياة ليصل بنا إلى المنازل التي فوق وهو الذى يرفعنا إلى ميراث القديسين، و الذى يجعلنا أعضاء ملكوت المسيح، الذى به و معه لله الآب كل تسبيح و سلطان مع الروح القدس إلى دهر الدهور<a href="#_ftn4" name="_ftnref4">[4]</a>.</p>
<p></p>
<p></p>
<h4>وأيضاً للقديس كيرلس الأسكندري</h4>
<p></p>
<p>لم تضل المرأة الطريق المستقيم ، أما الفريسي الجاهل فقد ضل ، إذ قال في نفسه : &#8221; لو كان هذا نبيا لعلم من هذه المرأة التي لمسته ، وما هي أنها خاطئة &#8221; . كان الفريسي إذن فخورا بنفسه ، معجبا بطائفته ، ضعيف المادة العقلية ، فلم يدرك الموضوع على حقيقته . كان لزاما عليه أن يروض حياته، ويزينها بالسجايا السامية ، فلا يدين المريض والعليل ويحكم عليه بما هو براء منه . ترك الفريسي هذا كله، وتعلق بأهداف الناموس الجامد ، وطلب إلى الرب يسوع المسيح أن يطيع شريعة موسي ، فقد أمرت هذه الشريعة الناس المقدسين أن يتجنبوا الأشرار المدنسين ، ولام الله كل من اختير رئيساً لمجمع اليهود ، وفرط في حقه بان اقترب من دنس مرذول وصغير ممقوت . فقد ورد على لسان أحد الأنبياء أنهم لا يميزون بين &#8220;المقدس والمرذول &#8221; ولكن المسيح قام لا ليخضعنا تحت لعنة الناموس ، بل ليفدي الخطاة برحمته التي فاقت الناموس ، لأن الناموس &#8221; قد زيد بسبب التعديات &#8221; (غل ٣-١٩) ، لكي يستد كل فم ، ويصير كل العالم تحت قصاص من الله لأنه بأعمال الناموس كل ذي جسد لا يتبرر أمامه . لأن بالناموس معرفة الخطية (رو ۳: ۱۹-٢٠)</p>
<p>جاء المسيح حتى يفي للمدين دينه ، مهما كثر الدين أو قل ، ويترأف على الناس بأسرهم كبيرهم وصغيرهم ، حتى لا يحرم إنسان أيا كان مشاركة المسيح في صلاحه . ولكي يقدم لنا السيد مثالا واضحاً لرحمته حرر هذه المرأة الخاطئة من شرورها بقوله لها : &#8221; مغفورة لك خطاياك &#8221; . ولا يمكن أن تخرج هذه العبارة إلا من فم الله لأنها تتضمن سلطانًا فوق كل سلطان لأنه لما كان الناموس يحاكم الخاطئ، فمن ذا الذي يمكنه الارتفاع فوق مستوى الناموس إلا الذي وضعه وأمر به ؟ في الحال حرر السيد المرأة ونبه الفريسي ومن جلس معه على المائدة إلى أمور سامية ، إذ تعلموا أن المسيح الكلمة هو الله ، ولذلك فهو ليس أحد الأنبياء بل يفوق كل إنسان ولو أنه تجسد وصار إنسانًا . لا تقلق وتيأس إذا أحسست بثقل وطأة خطاياك السابقة ، فإن رحمة المسيح واسعة المدى . لتكن خطيئتك عظيمة إلا أن رحمة المسيح أعظم ، فبنعمته يتبرر الخاطئ ، ويطلق سراح الأسير . ولكن اعلم أن الإيمان بالمسيح هو الذي يؤهلنا لهذه البركات الخلاصية ، لأن الإيمان هو طريق الحياة والنعمة . وفيه نسير إلى المخادع المسائية حيث نرث ملكوت القديسين الأبرار ونصبح أعضاء في مملكة المسيح<a href="#_ftn5" name="_ftnref5">[5]</a>.</p>
<p></p>
<p></p>
<h4>المرأة الخاطئة القديس أوغسطينوس</h4>
<p></p>
<p>أنه لمن المحتم أن ينال كل أثم ثقيلاً كان أم ضعيفاً، عقابه منك أنت ، يا من تندم عليه ، أو من الله الذي ينتقم منه متى ندمت عليه افحص نفسك بنفسك ، عاقب خطاياك إذا سألت رحمة الله ، وبكلمة فأما أن تعاقب أنت وأما هو إن شئت أن تتجنب عقابه فعاقب نفسك . إنما الكثيرون لا يخجلون من خطاياهم، بل يخجلون من التوبة ، يا للحماقة ، أنت لا تخجل من الجرح بل من ضمادته . أطلب الطبيب ولا تخجل، كلما كان جرح قلبك بليغًا كما وجب عليك أن تطلب الطبيب . الطبيب يغطي الجرح ويعتني به ، بالدواء يغطي الجرح ، والجرح يبرأ كنفس الطبيب وعمن تريد أن تخفي جرحك ؟ عمن يعرف كل شيء؟</p>
<p>إن الفريسي الذي دعا الرب إلى مائدته ، كان يظن نفسه سليمًا معافى بخلاف المرأة المريضة التي دخلت البيت بلا دعوة إلى حيث يسوع ، بل حملها شوقها للخلاص إلى هذا النوع من الوقاية فلم تدن من الرأس ولا من يدي الرب بل انطرحت على قدميه وغسلتهما بدموعها ونشفتهما بشعرها وقبلتهما ودهنتهما بالطيب ، على قدمي الرب استعادت الخاطئة السلام .</p>
<p>والفريسي المتكئ على المائدة أعطاه هذا المثل : كان لدائن مدينان على أحدهما خمسمائة دينار وعلى الآخر خمسون ولم يكن بوسعهما أن يقضيا دينهما فأعفاهما جميعا . فأيهما يكون أكثر حبا له ؟ &#8230; فأجابه الفريسي : ذاك الذي أعطاه من الأكثر على ما أظن . ثم ألتفت إلى المرأة وقال لسمعان : أترى هذه المرأة ؟ إني دخلت بيتك فما سكبت على قدمي ماء ، وأما هي فبالدموع بلت قدمي وبشعرها مسحتهما . أنت ما قبلتني قبلة وأما هي فلم تكف منذ دخلت عن تقبيل قدمي ، أنت ما دهنت رأسي بزيت أما هي فبالطيب دهنت قدمي ، أقول لك : غفرت لها خطاياها الكثيرة لأنها أحبت كثيراً ، وأما الذي يغفر له القليل فإنه يحب قليلا .</p>
<p>وهذا يعني أن مرضك أشد من مرضها ، تظن نفسك في صحة جيدة وأنك بحاجة إلى استغفار القليل مع أن ديونك كثيرة ، أيها الفريسي المزدرى ضافك الرب فأطعمته وما أحسست بانك محتاج إلى طعامه ، وكيف عرفت بأن الرب كان يجهل تلك المرأة ؟ إلا أنه سمح لها بأن تلمسه وتقبل قدميه وتنشفهما وتدهنهما بالطيب ؟ أنت تظن بأنه ما كان يجب يسمح لامرأة خاطئة بأن تعمل هذا بقدمين طاهرتين ولو أن امرأة كهذه دنت من قدمي ذلك الفريسي لكان قال لها ما قاله اشعياء بشأن مثيلاتها : &#8221; قف عندك . لا تدن مني لأني أقدس منك» (أش ٥:٦٥) .</p>
<p>لقد دنت من الرب مدنسة لتعود منقاه . وتقدمت منه مريضة . لتعود معافاة ، واقتربت تائية لتعود مغفورا لها . إذا أطمأن قلبك إلى الإثم الكبير الذي سوف يخلصك الرب منه بنعمة عليك أن تنتفي في الكنيسة وكأنك موصوم بوصمة عار . آمن وأقترب من قدمي الرب وأبحث عنهما واعترف باكياً فوقهما وأمسحهما بشعرك ، قدما الرب هما كل مبشر بالإنجيل وشعر المرأة خيور نافلة . أمسح بشعرك وأمسح صانعا رحمة وإذ تمسح قدمي الرب بهذا الشكل قبلهما وخذ السلام لتنال المحبة . لا تخجل ، إندم ، القلب التائب ينال شفاء والقلب المستكبر ينبذ . الرب يشفي ذوي القلوب المنسحقة الوضيعة الذين يعترفون بخطاياهم ويعاقبون أنفسهم مصدرين بحقهما حكمًا صارمًا اختبارًا لرحمة الله . وبالتالي فإنك سوف تشفى بقلب منسحق ، تائب . لا تخجل ، إسحق قلبك لأن الله يشفي أمثال هؤلاء المنسحقين القلوب . عد إلى دواء الرب ، فإنه سوف يقودك ويجبر كسرك ويحقق لك شفاءً تاماً ، وما هو مستحيل اليوم سيصير ممكناً لك غداً . من المستحسن أن تعترف بضعفك متى دنوت من الألوهة ، إن لم تشأ أن تتضع معترفا بآثامك ، فسوف تنسحق تحت يد الله ، لا تخف ذاتك فالله يخفيك<a href="#_ftn6" name="_ftnref6">[6]</a>.</p>
<p></p>
<p></p>
<h4>المرأة الخاطئة للقديس أمبروسيوس</h4>
<p></p>
<p>يقارن القديس أمبروسيوس في إحدى رسائله بين الفريسي والمرأة الخاطئة فيقول: ( كيف يقدر أن يغسل ضميره من لا يتقبل ماء المسيح ؟ أما الكنيسة فلها هذا الماء &#8220;المعمودية &#8221; ولها هذه الدموع &#8220;التوبة &#8221; .</p>
<p>غسلت خطاياها بغسلها قدمي المخلص بدموعها . أيها الرب يسوع ، فلتسمح لي أن أغسل قدميك مما انطبع عليهما بسيرك في داخلي &#8221; مع أنهما لم يتنجسا &#8221; . لكن من أين لي أن آتي إليك بماء الحياة الذي أغسل به قدميك؟ فإذ ليس لي ماء أقدم دموعا . وإذ أغسل قدميك إنما أثق أنني أنا نفسي أغتسل ، حيث تقول لي : &#8221; خطاياك الكثيرة مغفورة لك ، لأنك أحببت كثيرا &#8220;.</p>
<p>اعترف بخطاياك بدموعك ليقول عنك العدل الإلهي : غسلت قدمي بدموعها ومسحتها بشعر رأسها . فدموع محبتنا لا تستطيع فقط أن تغسل خطايانا ، وإنما تغسل أيضا خطوات الكلمة الإلهية لتثمر خطواته فينا ! إنها دموع نافعة ليس فقط تكفل قيام الخطاة ، وإنما هي غذاء للصديقين . بار هو الإنسان القائل : &#8221; صارت لي دموعي خبيرا &#8221; (مز ٣:٤٢) . إن كنت لا تستطيع الاقتراب من رأس المسيح المس قدميه برأسك .</p>
<p>القبلة هي علامة الحب . لهذا لم يستطع اليهودي &#8221; غير المؤمن &#8220;أن يمارس قبلة ، لأنه لا يعرف سلام المسيح ولا يقبله ، هذا الذي قيل عنه : &#8221; سلاما أترك لكم . سلامي أغطيكم &#8221; (يو ۲۷:١٤). هكذا ليس للمجمع اليهودي قبلات ، وإنما للكنيسة التي ترقبت المسيح وأحبته ، قائلة : &#8221; ليقبلني بقبلات فمه &#8221; (نش١: ٢) . أرادت أن تطفئ لهيب شوقها الطويل مترقبة مجيء الرب بقبلاته وأن تروي عطشها بهذه العطية.</p>
<p>الكنيسة وحدها لها قبلات العروس ، بكون القبلة عربونا للزواج وامتيازا خاصا بالعرس .</p>
<p>مغبوط هو الإنسان الذي يستطيع أن يمسح قدمي المسيح بالطيب ، الأمر الذي لم يفعله سمعان ! &#8230; الطيب هو خلاصة روائح زهور كثيرة لذا ينشر روائح زكية ومتنوعة ، وربما لا يستطيع أحد أن يسكب هذا الطيب إلا الكنيسة وحدها التي تملك الكثير من الزهور ذات الروائح المتنوعة . هنا تندمج صورة المرأة الخاطئة بالمسيح الذي حمل صورة عبد &#8221; حاملا شبة جسد الخطية &#8221; .</p>
<p>لم ينتفع الفريسي بلقائه مع المخلص ، بسبب إصراره على الكبرياء أما المرأة الخاطئة فربحت الكثير ، لأنها أحبت كثيراً خلال روح التواضع . بالكبرياء يفقد الإنسان كل بركة روحية . وبالحب المملوء تواضعًا ينعم بحب المخلص نفسه ومغفرة خطاياه .</p>
<p>أحب كثيراً فيغفر لك كثيراً . لقد أخطأ بولس كثيراً ، بل واضطهد الكنيسة ، ولكنه أحب كثيرا مثابًرا حتى الاستشهاد وغفرت له خطاياه الكثيرة &#8230; إذ لم يبخل بدمه لأجل اسم الله<a href="#_ftn7" name="_ftnref7">[7]</a> .</p>
<p></p>
<p></p>
<h4>طرق التوبة عند القديس يوحنا ذهبي الفم</h4>
<p></p>
<p>هل تريد ان احدثك عن طرق التوبة؟ انها كثيرة ومتنوعة، وجميعها تقود الي السماء.</p>
<p>١-الطريق الاول الي التوبة هو إدانة (النفس) علي الخطية. &#8220;ذكرني فنتحاكم معاً. حدث لكي تتبرر&#8221;(اش٢٦:٤٣). كذلك يقول النبي: &#8220;قلت اعترف للرب بذنبي، وانت رفعت آثام خطيتي&#8221;(مز٥:٣٢). بكت نفسك على خطاياك&#8230; لان من يدين خطاياه لا يعود يسقط فيها.</p>
<p>٢- ايقظ ضميرك، هذا الخصم الداخلي (الذي يتهمك) امام منبر حكم الرب. هذا افضل طريق للتوبة. لكن هناك طريق لايقل عنه اهمية، وهو الا تحمل ضغينة ضد اعدائك منتصراً علي الغضب، غافراًخطايا العبيد رفقائك. فإنه بهذا تغفر الخطايا التي ارتكبناها في حق سيدنا. تأمل في هذا الطريق الثاني لمغفرة الخطايا، إذ يقول &#8220;فإنه إن غفرتن للناس زلاتهم، يغفر لكم ايضاً ابوكم السماوي&#8221;(مت١٤:٦)</p>
<p>٣- هل تريد ات تتعلم طريقاً ثالثاً للتوبة؟ الصلاة الحارة بلجاجة، النابعة من القلب. ألم تر كيف صنعت الأرملة حيال القاضي الظالم (لو ٣:١٨). اما انت فقاضيك لطيف، رحوم ورءوف. هي سألته ضد خصومها، أما انت فتسأله ليس ضد خصومك، بل لأجل خلاص نفسك.</p>
<p>٤- سأتكلم ايضاً عن الصدقة، لأن لها قوة عظيمة غير منطوق بها. يقول دانيال لنبوخذ نصر الذي ارتكب كل فنون الشر، وصار جاحداً:&#8221; لذلك ايها الملك فلتكن مشورتي مقبولة لديك، وفارق خطاياك بالبر، وآثامك بالرحمة للمساكين&#8221; (دا ٣٧:٤).</p>
<p>بماذا يقارن الحنو والشفقة؟ فبعدما ارتكب خطايا لا حصر لها، ومعاصي كثيرة وعده بأنه ان أظهر عطفا علي العبيد رفقائه يغفر له.</p>
<p>٥- الوداعة والتواضع لا يقلان شأنا عما تكلمنا به، فإنهما ينزعان طبيعة الخطايا. يؤكد العشار ذلك فبكونه عجز عن ذكر أعماله الصالحة أمام الجميع، تقدم بتواضعه ملقياً عنه ثقل الخطايا العظيم (لو ١٣:١٨).</p>
<p>خاتمة</p>
<p>انظر فإننا أوردنا خمسة طرق للتوبة:</p>
<p>(اولاً) التبكيت علي الخطايا&#8230;</p>
<p>(ثانياً) المغفرة لأخطاء القريب&#8230;</p>
<p>(ثالثاً) الصلاة&#8230;</p>
<p>(رابعاً) الصدقة&#8230;</p>
<p>(خامساً) التواضع&#8230;</p>
<p>إذا لا تكن كسولاً. اسلك في هذه جميعها يوماً فيوماً . لأن الطرق سهلة، ولاتستطيع أن تعتذر بالفقر . لأنك وإن كنت تعيش كأفقر إنسان،تقدر أن تنزع عنك غضبك وتكون متواضعاً وتصلي بحرارة وتدين نفسك علي خطاياك، فالفقر ليس بحجة للهروب.</p>
<p>ولماذا أتكلم عن هذه الأمور، بل حتي ذلك الطريق الذي للتوبة وفيه يصرف الإنسان مالاً( الصدقة) فإنه لايعفينا الفقر عن إطاعة الوصية. فالارملة التي دفعت فلسين هي برهان علي ذلك (مر٤٢:١٢).</p>
<p>اذاً فلنتعلم شفاء جروحنا، ولنستخدم هذه الأدوية بثبات حتي تعود إلينا صحتنا ونتمتع بالمائدة المقدسة بالتأكيد، ونصلي بمجد عظيم الي المسيح ملك المجد، وننال الخير الأبدي، بنعمة ورأفة وحنو ربنا يسوع المسيح الذي به وله المجد والسلطان والكرامة، مع الآب والروح المحيي الكلي القداسة والصلاح، الان وكل اوان والي ابد الابد. امين<a href="#_ftn8" name="_ftnref8">[8]</a>.</p>
<p></p>
<p></p>
<h4>عظة للقديس أنبا شنوده رئيس المتوحدين عن التوبة</h4>
<p></p>
<p>لماذا لا نبكي على خطايانا؟ لماذا نكون مرهَقين إذا عقدنا العزمَ على أن نفارقها؟ لِمَ لَمْ نُعِدّ لأنفسنا ما سنحمله معنا في الطريق؟ إذا كُنَّا متيقنين أننا سنمضي في الطريق الذي سيمضي فيه كلُّ واحد – لأن كل واحد من القديسين وهو ماضٍ من هذا المسكن يقول أمام أبنائه: ”أنا ذاهب في طريق الأرض كلها“ (يش١٤:٢٣) ؛ (١مل٢ : ٢) – فمن اللازم إذًا أن يذهب كلُّ واحد فيه (في هذا الطريق). ولكن إذا وصل (الطريقُ) إلى نقطة معينة، فهو يتفرَّع إلى طريقَيْن، مثلما (يحدث) للبعض وهم يسيرون على طريق إلى مدينة. فإذا دخلو عبر باب البوابة في السور، يتفرَّع (الطريقُ) إلى اثنين: الواحد يؤدي إلى منزل مملوء من كل الخيرات، لكي يدخله المستحِقون؛ أمَّا الآخَر فيؤدي إلى سجن مملوء من كل عذاب، لكي ينحدر إليه مَن يستحقونه.</p>
<p>هكذا أيضًا الموت، فهو مفروض على كل واحد أن يخوضه مثل مَن سيخوض طريقًا. فإذا وصل (الطريقُ) إلى بوابات السموات حتى كرسي حكم الله، حينئذ يتفرَّع الطريقُ ويصير طريقَيْن: الواحد يؤدي إلى ملكوت السموات، لكي يمضي فيه الأبرار الذين حاكموا أنفسهم فيستريحوا إلى الأبد؛ أما الآخَر فيؤدي إلى الجحيم، لكي يمضي فيه الخطاةُ الذين لم يتعقَّلوا، فيُعَذَّبوا إلى الأبد. أمَّا مَن لا يرغب في أن يتقبل كلام هذا التعليم، فهو لا يرغب في أن يهرب من الغضب الآتي.</p>
<p>أنا أيضًا أراك، أيها الإنسان. إذا تحرَّك في بيتك إناءٌ خزفيٌّ أو صار صوتٌ من إناءٍ ما وهو يسقط، فأنت لا تفزع فقط، بل يضطرب قلبُك في داخلك. فأنت تخاف من إناءٍ تحرَّك أو من صوتٍ، ولكنك مع هذا تنسى الغضبَ الذي سيُسْتَعْلَن من السماء وصوتَ الأبواق، وسيقوم الموتى، كما إنك لا تفكِّر في الزلزلة والعلامات التي ستصير في الشمس والقمر والنجوم، وصوت حركة البحر، واهتزاز الأرض، والصخور.</p>
<p>فإذا أردتَ الآن أن تهرب من ذلك الغضب الآتي، وألا تأتي (تُسَلَّم) للعذابات التي ستصير، فَحِدْ عن الظلم وكلِّ خطية، فلا يقترب إليك أيُّ شر. وحتى لو اقترب (أيُّ شر)، سيرده الربُّ يسوعُ عنك. ولكن إذا تمجَّد فيك بواسطة أعمالك التي مجَّدته أنت بها  لكي تتمجَّد بها، فأنت إذًا تريد أن تدخل ملكوت السموات. اقبل (الملكوت) هنا والآن لكي يقبلك هو (الملكوت) أيضًا هناك.</p>
<p>لأنه إذا خرجت ملكةٌ إلى بلدٍ ولم يقبلها أحدٌ، فمَن لن يقول إن الذين لم يقبلوها في البلد الذي يعيشون هم فيه لن تقبلهم هي في البلد الذي أتت منه. أمَّا الذين قبلوها في البلد الذي يعيشون هم فيه فسوف تقبلهم هي أيضًا في البلد الذي أتت هي منه. ومعنى هذا الكلام أنَّ مَن لن يقبل ملكوت الله هنا والآن، فلن يدخله هناك. أما الذين سيقبلونه هنا والآن، فسوف يقبلهم هو أيضًا هناك.</p>
<p>هل تريد أن تعرف أن هذا صحيح هكذا؟ انتبه إلى ما قاله الرب في الإنجيل: ”مَن لن يقبل ملكوت الله مثل ولد فلن يدخله“ (مر١٠ : ١٥) (لو١٧:١٨). أمَّا مَن يتضع من هؤلاء الأولاد، فليس فقط سيدخله، بل أيضًا يكون هو الأعظم في ملكوت الله. هكذا مَن سيقبل ملكوت السموات في قلبه، هو يقبل إلى بيته الملكَ المسيحَ. ملكوت السموات ليس هنا أو هناك، بل قال:” هو داخلكم“ (لو ١٧ : ٢١)</p>
<p>هناك كلمة حسنة لتقال، ومن سيتركها (يهملها) سيشبع عارًا (مر٣-٣٠:)، أمَّا مَن سيتمسَّك بها سيشبع من التعزية: مَلِكٌ أراد أن يشيد مدينة أو بيتًا لجنوده وعبيده وكل مَن يخدمونه، فبدأ الملك يعمل قبلهم. مَن ذا الذي سيرى الملكَ وهو يحمل الحجارةَ أو يسحب (ماءً) مثل واحدٍ من الفَعَلة ولا يشتغل؟ والآن، كثيرون سيتأملون في نشاطه أو في هذا الكلام مثل ترانيم، البعض بابتهاج والبعض بخوف، قائلين: ”لقد اشتغل الملكُ. مَن ذا الذي لن يعمل؟“ ولكن كثيرون سيوبِّخون أيضًا كثيرين منهم كمتهاونين؛ لأن الملك نفسه كان يلاحظ مَن هم الذين يعملون لكي يكرمهم ويسكنون أيضًا في مدينتهم أو بيتهم إلى الأبد، وكذلك مَن هم الذين لا يعملون لكي يدينهم ولا يدعهم أيضًا يدخلون تلك المدينة أو ذلك البيت.</p>
<p>ممن سمعنا قط أن ملكًا قد تمنطق واشتغل أو أنه غسل أرجل جنوده؟ أمَّا الكتاب المقدَّس فيشهد أن الرب يسوع قد تمنطق بمنديل، وغسل أرجل تلاميذه (يو١٣:١٤-٥)، مستهينًا بالخزي (عب٢:١٢). وليس فقط أن كل ما عمله قد عمله كله من أجل خلاصنا، بل بذل أيضًا جسده ودمه عنا. مَن إذًا الآن من عبيده أو من جنوده المسيحيين لن يقول إنَّ الملك قد قبل الآلام؟ أو مَن الذي لن يعمل؟</p>
<p>وحتى إذا كنتُ ممتلئًا الآن من الخزي بسبب التهاون؛ لأني مملوء حقًّا (منه)، فعلى الرغم من هذا فالضرورة موضوعة عليَّ لأقول هكذا: كم من المرات أو بلا انقطاعٍ ينبغي على الإنسان أن يصلي وهو يسمع أن يسوع كان يسهر الليل في الصلاة لله (لو ٦: ١٢)؟ من أجل مَن؟ من أجل نفسه أم من أجلنا؟ انظر، كم ينبغي على الإنسان أن يصوم وهو يسمع أن يسوع قضى أربعين نهارًا وأربعين ليلة وهو صائم (مت٢:٤) (لو٢:٤)؟ من أجل مَن؟ من أجل نفسه أم من أجلنا؟ انظر أيضًا، كم ينبغي على الإنسان أن يقبل الألم وهو يسمع أن يسوع هو أيضًا قد قبل الآلام بالجسد (١بط ١:٤)؟ ليس من أجل نفسه، بل من أجلنا، وخاصة لأن يسوع لا ينسى الذين يفعلون الصلاح ولا الذين لا يفعلونه. هؤلاء قد صاروا مجتهدين حتى إنه سيأخذهم معه إلى ملكوته الأبدي، أمَّا الآخرون فلن يهربوا من النار الأبدية، ليس فقط لأنهم لم يفعلوا الصلاح، أو لأنهم لم يتألموا من أجل الرب يسوع، بل لأنهم أيضًا لم يقلعوا عن الخطية.</p>
<p>إذا كان الراعي يغضب على الخراف التي سوف تقف في الخلف لكي لا تسير أمامه إلى الحظيرة بينما هو يسوقها، فبالتالي الذين سيتخلفون عنه عندما يسير هو أمامهم، إذا عاد إليهم فسوف يصير أكثر غضبًا عليهم، ولا سيما أنهم ليسوا ضعفاء حتى يتراءف عليهم بسبب وهنهم، بل هم لم يتبعوه بسبب تشويش غبائهم. أنا أعني أنه إذا كان الله لم يتراءف على هؤلاء في ذلك الزمان في البرّية، الذين لم يطيعوه ليسلكوا في وصاياه، في حين إنهم كانوا أيضًا يفتخرون بأنفسهم قائلين:” قد تكلم اللهُ معنا“، فهو أيضًا لن يتراءف علينا إذا لم نحفظ وصاياه.</p>
<p>فما معنى ”خلفهم“ أو ”أمامهم“؟ ”خلفهم“ تعني أن الصخرة كانت تتبعهم، والصخرة كانت المسيح (١كو ١٠: ٤). من أجل هذا فالذين لم يتبعوه في ذلك الزمان قد جلب عليهم كلَّ هذه الضيقات بسبب عصيانهم وقساوة قلوبهم مثلما فتحت الأرضُ فاها وابتلعتهم (عد٣١:١٦-٣٣). أمَّا” أمامهم“ فتعني أن الرب قد جاء إلى العالم وأظهر ذاته للبشر، وهكذا عَلَّم أن ”مَن يريد أن يأتي ورائي فلينكر نفسه ويحمل صليبه ويتبعني“ (مت ١٦: ٢٤) (مر٨ : ٣٤)؛(لو ٩: ٢٣)، وأيضًا: ”خرافي تسمع صوتي وستتبعني“   (يو ١٠ : ٢٧). أمَّا” يعود“ فتعني أنه آت ليدين الأحياء والأموات.</p>
<p>والآن، لا تجعلوه، عندما يأتي، يغضب علينا بسبب أعمالنا الشريرة. لأنه في ذلك الزمان، عندما أتى، بدلاً من أن يُدَان الناس بواسطته، أدانوه هم. وبدلاً من أن يلومهم هو، حكموا هم عليه. أمَّا في هذه المرة فهو آت ليدين الكلَّ معًا، ويعطي كلَّ واحد حسب أعماله (مت٢٧:١٦).</p>
<p>أمَّا الآن فحاشا أن نُحْسَب من التبن عندما يأتي بالمذراة، بل لنُحْسَب مع الحنطة (مت ٣: ١٢) ؛(لو ٣ : ١٧)، ولا سيما أننا لسنا جاهلين، بل قد عَلِمْنا كلَّ شيء: الصالحات والشرور. ولكن إذا أدركنا أنه هو الذي يتكلَّم في النبي منذ البدء قائلاً: ”لا تجعلوني آتي وأدمِّر الأرضَ كلَّها“ (ملا ٤ : ٦ )، فسوف نعلم أيضًا أنه مخيفٌ هو ذلك اليوم. تذكَّروا كلَّ كلام الأناجيل المقدَّسة التي قالت إنها ستصير. تذكَّروا أيضًا نواميس عبده موسى وكلَّ الذي قيل في الكتاب (المقدَّس). أنتم مُبَرَّرون؛ لأنكم تمجِّدون اللهَ، كما قال الرسول:” مقدِّمين بعضكم بعضًا في الكرامة“ (رو١٢:١٠).</p>
<p>ولكن ما دام قولُ الحق حسنًا، سأقول هكذا: لا أنا سأصير مُطَوَّبًا إذا ما أنتم مدحتموني لأنني قلت لكم كلمة، ولا أنتم ستصيرون مطوبين إذا ما أنا بررتكم لأنكم تسمعونها – لأن كثيرين قد غرقوا (هلكوا) وهم يبجلون بعضهم البعض باطلاً ويُغْضِبون كلمةَ الله – ولكن إذا زكيتُ أنا كلمةَ الله وعملت ما تعلِّمني إياه. فأنا لن أصير مطوبًا أيضًا هكذا؛ لأنني ليس لي نعمة (فضل) أمام ما قاله الرب: ”متى فعلتم كلَّ ما أُمِرْتم به فقولوا: إننا عبيد بطالون. لأننا إنما عملنا ما كان يجب علينا“ (لو١٠:١٧). وهكذا إذا بررتم أنتم أيضًا كلمةَ الله وأطعتموها برعدة فلا تصنعون الظلمَ وكلَّ الشرور الأخرى، وتهتمون بكلِّ صلاحٍ لكي تفعلوه، فحينئذ ستصيرون مطوَبين<a href="#_ftn9" name="_ftnref9">[9]</a>.</p>
<p></p>
<p></p>
<h3>عظات آباء وخدام معاصرين</h3>
<p></p>
<h4>عظة لقداسة البابا تواضروس</h4>
<p></p>
<p><strong>الدموع &#8230; مشاعر حب:</strong></p>
<p>هذا الاصحاح (لو ٧: ٣٦–٥٠) نرى فيه المسيح صديق الجميع :</p>
<p>١- يحب الغرباء &#8230; شفاء عبد قائد المئه</p>
<p>٢- يهتم بالأرامل &#8230; يقيم أبن أرملة نايين</p>
<p>٣- يترفق بالخطاة &#8230; يقبل توبة المرأة الخاطئة</p>
<p>+ وهذا الانجيل يقرأ في صلاة الخدمة الثانية من صلاة نصف الليل يومياً . وهو يقدم ويعقد مقارنة بين أحد الفريسيين والمرأة الخاطئة</p>
<p>الفريسى:</p>
<p>المسيح دخل بيته ولم يدخل قلبه .</p>
<p>( النفس التي تهتم بالخارج دون الأعماق ) .</p>
<p>لم يقدم ماء .</p>
<p>كثير الكلام .</p>
<p>لم يكن له شعر يمسح به القدمين ، أي لم يكن له طاقة لخدمة أخوة يسوع الأصاغر .</p>
<p>لم يكن له قبلات علامة الحب .</p>
<p>لم ينتفع بلقاء المخلص بسبب الكبرياء ونقد الآخرين .</p>
<p>يمثل المجمع اليهودى .</p>
<p>المرأة  :</p>
<p>دخلت قلب يسوع ، ودخل فيها بالحب .</p>
<p>( النفس الجادة في لقاء من تحب ) .</p>
<p>قدماً دموعاً .</p>
<p>محبة للصمت .</p>
<p>بطاقة الجسد ( الشعر ) خدمت القدمين أي خدمت إخوة يسوع الأصاغر .</p>
<p>كان لها قبلات علامة الحب .</p>
<p>ربحت كثيراً خلال الأتضاع . فقد نظرت إلى نفسها .</p>
<p>تمثل الكنيسة المسيحية .</p>
<p>قال لها يسوع : &#8221; أذهبى بسلام &#8221; كلمة رقيقة حانية ، فيها طمأنينة ، دفء الحب ، سلام إلهى .</p>
<p>+ محبة المسيح هي لكل واحد ولذا نسمى يسوع إلهنا :</p>
<p>محب البشر : يحتضن كل ضعف وله مكان في قلبه .</p>
<p>صديق الخطاة : يقبل التائب ويحب الخاطئ ويعلمه .</p>
<p>+ كان الفريسى : مضيفاً لم يقم بواجبه ، ولم يصنع مثل المرأة لأنه كان يشعر أنه بار في عينى نفسه وتعامل مع المسيح معاملة الند للند . ( يمثل اليهود غير المؤمنين ) .</p>
<p>+ هذه المرأة تمثل الكنيسة : لها ماء : المعمودية / دموع : التوبة                                ( الروح )</p>
<p>لها شعر : خدمة ( تكريس / نذير ) للرب                                                               ( الجسد )</p>
<p>لها قبلة : محبة وصنع سلام                                                                               ( قلب )</p>
<p>لها طيب : عمل صالح / سلوك مقدس  / سيرة عطرة                                              ( عقل )</p>
<p>أعمال تائبة :</p>
<p>كانت المرأة الخاطئة إنسانة تائبة قدمت : ( مشاعر التوبة + أعمال توبة ) :</p>
<p>+ ترك = عمل سلبى : تركت الأصدقاء الأشرار – تركة كل شيء يعقوق توبتها .</p>
<p>+ عطاء = عمل إيجابى : أعطت : صدق مشاعرها – حب – الطيب – شعرها ( مجدها ) – دموع – تنازلت عن جمالها – أعطت عطاء مادى – تعب جسدى .</p>
<p>+ إتضاع = هو بداية الطريق ونهايته : احست أنها خاطئة – تحملت نظرات الفريسى – وضعت شعرها تحت الأقدام . وهكذا المسيح يقيس أعمال الحب (أر١٧-١٠) لأنه فاحص القلوب<a href="#_ftn10" name="_ftnref10">[10]</a> .</p>
<p></p>
<p></p>
<h4>المرأة الخاطئة للمتنيح نيافة الانبا كيرلس مطران ميلانو</h4>
<p></p>
<p>عندي وكلمة. . أقولها لك</p>
<p>المسيح الذي دعوته إلى بيتك .. حلقه حلاوة وكله مشتهيات (نش١٦:٥) .</p>
<p>هل رأيت هذا يا سمعان فطلبت منه أن يأتي إلى ديارك .. ويدخل تحت سقف بيتك ويجلس على مائدتك؟! ( لو ٧) .</p>
<p>وإن كان حلقه .. مائدة مشتهيات .. من الذي يطعم الآخر ؟!</p>
<p>غريب أنت يا سمعان .. كيف تدعو المسيح إلى بيتك وأنت فريسي ؟!</p>
<p>هل طلبت أن يأتي إلي بيتك بعيدا عن مسامع أخوتك الفريسيين ؟! وأين السجلات التي يتم فيها حصر عيوب الآخرين؟! هل بين يديك ؟! أم في قلبك ؟! أم في أعماق فكرك ؟!</p>
<p>أنت فريسي .. فهل في داخلك طبائع أخوتك الفريسيين الذين يصفون عن البعوضة ويبتلعون الجمل (مت٢٤:٢٣) ؟! الذين يتركون أمواتهم ويبكون على موتى الآخرين .</p>
<p>كم حلو أنت يا إلهي .. سمعان دعاك إلى وليمة في بيته .. فاستجبت ودخلت بيته .. ودخلت إلى أعماقه .. وافتقدت نفسه .. وأصعدتها من جحيم الإدانة !!</p>
<p>يا إلهي .. سمعان دعاك لتكسر خبزا عنده .. فأنت جئت إليه .. أنت يا قدوس قدمت إلى بطن فكره وجوف قلبه ما يحتاجه لكي يحيا ويتحرك ويوجد &#8230; !!</p>
<p>أنت فريسي .. أم سجان ؟!</p>
<p>أنت لم تكتف بأن تكون المرأة الخاطئة محبوسة وراء عقلك .. لأنها خاطئة عندك .. بل ذهبت في داخلك إلى البوابة الداخلية .. وأردت سجن المسيح معها في داخل عقلك ..</p>
<p>من قال لك يا سمعان .. بأن المسيح لم يعلم من هذه المرأة وما حالها ؟!</p>
<p>من قال إن المسيح الذي أنت تدينه وهو عندك في بيتك .. لم يعلم كل ما في داخلك أنت يا سمعان ؟!</p>
<p>أيها الفريسي المدقق .. هل الخاطئ لو عاد إلي نفسه ليست له توبة ؟! وهل الساقط عندما يصرخ إلي الله ليس له قيام ؟! دعني أسألك .. من الذي قال .. قد محوت كغيمة ذنوبك .. وكسحابة خطاياك (أش٢٢:٤٤)؟!</p>
<p>دعني أسألك .. من الذي قال &#8221; لا تشمتي بي يا عدوتي.. لأني إن سقطت أقوم.. وإذا جلست في الظلمة فالرب نور لي &#8221; (می ۷: ۸)</p>
<p>أنت في التراب ؟! هل لك نسل على الأرض ؟</p>
<p>سمعان له براعم حية ناطقة .. يقولون للشر خيرا ، وللخير شرا .. جاعلين الظلام نورا .. والنور ظلاما .. جاعلين المر حلوا .. والحلو مرا .. هم حكماء في أعين أنفسهم .. وفہماء عند ذواتهم .. يبررون الشرير .. وينزعون حق الصديقين (أش٢٠:٥) .</p>
<p>يا براعم سمعان .. من الذي كشف أعماق أبيكم سمعان ؟!</p>
<p>أليست الإدانة التي كانت في داخله .. هي التي جعلت المسيح يوضح بأنه لا رحمة في الدينونة لمن لم يستعمل الرحمة ؟! أياديكم تحمل المكاييل والمعايير .. احترسوا من الكيل الذي به تكيلون .. لأن به يكال لكم ويزداد (مت۷: ۲) .</p>
<p>من الذي قال لا تزن ؟! ومن الذي قال لا تدين ؟! أليست من فم العلي خرجت الوصية ؟! فالذي يزني والذي يدين كلاهما يكسر الوصية ..</p>
<p>موائد في بيت سمعان :</p>
<p>يا سمعان أنت عملت وليمة واحدة للمسيح .. ومن حولك الأهل والجيران ..</p>
<p>فهل أعددت له الطعام الذي يحبه ؟ وهل تعرف ما هو الطعام المحبب لديه ؟!</p>
<p>أنظر يا سمعان .. أنظر إلى المائدة المفروشة على الأرض .. لم تكن هي المرأة الخاطئة المحبوسة في فكرك !! إنما هي الوليمة المحببة لدي يسوع !!</p>
<p>اسمعها .. لم تصنع كما فعلت عروس النشيد .. ولم تقل شماله تحت رأسي ويمينة تعانقني (نش٢ : ٦) إنما بدموعها قالت يكفيني ان تكون شمال قدمه تحت رأسي .. وقلبه يعانقني !!</p>
<p>تأمل يا سمعان .. دموع التوبة .. هي المجاري التي تفرح مدينة الله .. التي من أجلها جاء المسيح ليفجر الينابيع ويخلص ما قد هلك ..</p>
<p>هل عرفت يا سمعان ما هو الطعام المحبب للمسيح ؟!</p>
<p>هل عرفت أن طعامه هو أن يتمم مشيئة الآب .. بدعوة الخطاة إلى التوبة ؟!</p>
<p>انظر المسيح مع الخطاة .. والخطاة يتوبون .. المسيح يسر .. والسماء تفرح .. والعجيب أنك أنت وحدك تدين !!</p>
<p>أنت يا سمعان .. قدمت مائدة من الأطعمة ..</p>
<p>والمرأة الخاطئة قدمت وليمة محببه .. استطاعت بها أن تسبي قلب المسيح ..   (نش٤ : ٩) .</p>
<p>وليمتها محببه .. لأن فيها دموع الندم والتوبة .. فيها الصراخ الصامت .. فيها الاهتمام بحالها وحدها وخلاصها ..</p>
<p>تعال يا سمعان واصطحب معك براعمك الصغيرة .. أنظروا إلي يسوع ينبوع النعم الإلهية .. والكثير الأنواع في فعله ..</p>
<p>انظر ماذا قدم في بيتك ؟! قدم وليمتين !!</p>
<p>للمرأة الخاطئة قدم لها نفسه خبز الحياة .. فأكلت وشربت وارتوت بالمسيح غافر الخطايا .. وماحي الذنوب ..</p>
<p>وقدم طعاما لأفكارك يا سمعان .. لكي تكسر المتاريس .. وتخرج من زنزانة الإدانة هاربا .. وتخرج المحبوسين والمأسورين من داخلك.. قبل أن تسقط عليك جبال خطاياك.. أكام أثامك في يوم الدينونة الرهيبة<a href="#_ftn11" name="_ftnref11">[11]</a> ..</p>
<p></p>
<p></p>
<h4>عظة للمتنيح القمص تادرس البراموسي</h4>
<p><strong>الأحد الرابع من شهر توت المبارك</strong></p>
<p></p>
<p><strong>مغفورة لك خطاياك (لو٧ :١٦–٥٥)</strong></p>
<p>ترى في قصة هذه المرأة الخاطئة أنها لم تكن مدعوه لكنها اقتحمت المكان ودخلت بيت الفريسى المتزمت وسجدت من وراء الرب يسوع عند قدميه أتت من ورائه لأنها جعلت في نفسها أنها غير مستحقه ان تواجه المسيح وجها لوجه لأن الخطية دائماً تزل صاحبها وكما قال المثل الخطية تنجس وتجرس وتفلس. لم تجد عندها شجاعة أن تأتى من أمام المسيح بل أتت من خلفه عند قدميه. نرى هنا مقارنه بين الفريسى والخاطئة وقد كسبها الخطاه في كل جولة فقد ارتكب سمعان الفريسى خطاً أجتماعياً كبيراً إذا أهمل غسل قدمى الرب يسوع. وهى عاده يهوديه تقدم للضيوف ولم يمسح راسه بزيت ولم يقبله قبله التحية . ولم يجهل ذلك التقصير بل يقصد بذلك عدم معاملة الند بالند . إما المرأة الخاطئة على العكس من ذلك فقد زرفت الدموع باكيه. وسكبت الطيب كثير الثمن على قدميه غسلت قدميه بدموعها ومسحتها بشعر راسها وكانت تقبل قدميه فغفر لها الرب خطاياها . أما سمعان الفريسى الذى يفكر في نفسه انه هو الماسك زمام الملكوت وهو الذى له الأولوية في السماء لم يغفر له الرب خطاياه هذا الفريسى المتعجرف بل غفرت خطايا الزانية المكروهه من الفريسى أن الخاطئ الذى يطلب المغفرة ويتوب عن الخطية يتقبله الرب يسوع في ملكوته. إنما من يظن أنه أبر من أن يطلب المغفرة فلن يقبل أبداً أن رد فعل عند الذي نال المغفرة هو الحب والجهاد والتضحية.</p>
<p>لم يذكر الكتاب أن هذه المرأة تكلمت كلمة واحدة مع الرب يسوع أو طلبت منه السماح والمغفرة. لكن دموعها وتصرفاتها هي التي كانت تعبر عما تقصده المرأة التي دوختها الخطية فأرادت التحرر منها كان وضعها صعب جداً كيف تواجه الشعب وتظهر أمامهم بمظهر التوبة وهى تعلم أن هذا البيت هو بيت سمعان الفريسى وربما كانت تعلم أن أحد الرجال الذين كانوا يخطئون معها هو أيضاً متكأ فيكون عائق لأنها عن التوبة والخلاص. لكن عظمة هذه المرأة كانت تكمن في شجاعتها لأنها قررت أن تتخلص من هذا الكابوس الذي هو الخطية وبالرغم من تذمر الفريسين وجميع المجتمعين عليها إلا أنها نالت الخلاص بصوت الرب مغفورة لك خطاياك التي لم ينالها الفريسى وجميع المتكئين معه ولنا فوائد كثيرة في قصة هذه المرأة.</p>
<p></p>
<p><strong>العظة الأولى</strong></p>
<p>أ – السعي وراء الخلاص</p>
<p>ب – التغلب على العقبات</p>
<p>ج – التضحية بكل غالى ونفيس</p>
<p>د – الأتضاع وعمل الرحمة</p>
<p>ه &#8211; نظرة الناس ووضع العراقيل</p>
<p>و – محبة الله وقبول الخطأة</p>
<p>ذ – المقارنة بين اللب والقشور</p>
<p>ح – حب الله للإنسان وعطاياه غير المحدوده</p>
<p>ط – غفران الخطايا والسلام الداخلى</p>
<p>ى – تاج التوبة ومدح الآباء فيها</p>
<p></p>
<p><strong>العظة الثانية</strong></p>
<p>أ – حباً في الخلاص بالرغم من المعطلات</p>
<p>ب – عدم تأخير التوبة ما دام الفرصة متاحة</p>
<p>ج – توبة من القلب ودموع الحب</p>
<p>د – بالإيمان والتضحية ذهبت لرب البرية</p>
<p>ه &#8211; دس الآفات ووضع العثرات</p>
<p>و – بشجاعة الأبطال وصلت إلى المنال</p>
<p>ذ – بالتغلب على العثرات ننال المسرات</p>
<p>ح – هدفنا الخلاص والبعد عن القصاص</p>
<p>ط – نزرف الدموع ونتبع الرب يسوع</p>
<p>ى – ننال الخلاص ونبنى على أساس</p>
<p></p>
<p><strong>العظة الثالثة</strong></p>
<p>أ – أمراه. وخطية وفريسى</p>
<p>ب – توبة ودموع. وخشوع</p>
<p>ج – تضحية ومال. وجمال</p>
<p>د – إله رحوم وفريسى متزمت وامرأة خاطئة</p>
<p>ه &#8211; كاشف الخفايا وغافر الخطايا ومانح العطايا</p>
<p>و – البر الذاتي وحاجز التوبة</p>
<p>ذ – المرأة القوية والتوبة النقية</p>
<p>ح – مراحل الله حب. وسماح ومغفرة</p>
<p>ط – التكلم في الخفاء وذم الحياة</p>
<p>ى – المحاسبة على المطلوب وغش القلوب<a href="#_ftn12" name="_ftnref12">[12]</a></p>
<p></p>
<p></p>
<h4>الأحد الرابع من شهر توت للمتنيح القمص لوقا سيداروس</h4>
<p></p>
<p>(لو٧: ٣٦–٥٠)</p>
<p>المرأة الخاطئة</p>
<p>+ قصة توبة المرأة الخاطئة مليئة بمشاعر يصعب على الإنسان أن يعبر عنها ، لأن هذه المرأة في توبتها لم تتكلم كلمة واحدة لم تفتح فاها فكيف نتكلم نحن عما عجزت هي ذاتها عن التعبير عنه ؟ لقد أذابت كل مشاعر التوبة وكل فكر الرجوع إلى الله في دموعها وسكبتها غزيرة على قدمى يسوع &#8230; لقد إبتكرت هذه المرأة بسلوكها العجيب طريقاَ جديداَ للتوبة علمت به الكنيسة كلها في كل الأجيال وصارت أعلى مثل لقوة التوبة وجرأة الوصول إلي قدمى يسوع .</p>
<p>إبتدأت تبل قدميه بالدموع</p>
<p>الدموع هي علامة العجز عن التعبير ،. فعندما تتغلب المشاعر القلبية يصمت الفم وتتكلم العيون بلغة هي أسمى من كل كلام وأقوي من كل لسان &#8230; لكن ترى ماذا تريد هذه المرأة أن تقول بدموعها التى سكبتها عند قدمى المخلص؟</p>
<p>+ هل تريد أن تقول إنها خاطئة جداَ جداَ وإنها شاعرة بنجاسات خطيتها ولا تستطيع أن تعبر عن ثقل خطاياها بالكلام</p>
<p>+ أم إنها ترى نفسها عاجزة عن التعبير عن مدى العمق. والهوة التي. صارت إليها وهى كمثل طفل مفقود من أبيه ظل في شروده تائهاَ غير مدرك مرارة البعد عن الآب حتى وجده أبوه في لحظة فانفجر الطفل باكياَ في دموع اللقاء يشكو البعد والضياع ويبكى في حنين على صدر أبيه .</p>
<p>+ أم إنها حالما نظرت المخلص الحبيب وأدركت مشاعر حبه الإلهى نحو الخطاة ونحوها هي بالذات رغم كثرة خطاياها إنفجرت تبكى بإحساس عدم الإستحقاق للحب الإلهى وشعور بالتقصير والتأخير في السعي نحو هذا القلب الحنون .</p>
<p>+ أم إنها أدركت بعين النبوة حينما نظرت إلى قدمي يسوع ، أحست للحال ما ستتحمله هذان القدمان وهما تسيران نحو الجلجثة ورأت الرب يسلم قدميه فانسكبت تبكي وتبل قدميه بالدموع</p>
<p>+ أم عندما لمست قدميه أدركت مقدار الفارق المهول بين نجاسة خطاياها وقذر أيديها وبين الطهر اللانهائي للرب القدوس فسكبت دموعها لعلها تضمل آثار نجاسة أيديها التي لمست بها قدميه الطاهرتين.</p>
<p>+ لابد أن تكون. قلب. المرأة قد إمتلأ بمثل هذه المشاعر، بل ومن المؤكد أن أفكاراً مقدسة وسامية جداً كانت مختزنة ومكشوفة في قلبها منتظرة فرصة للتعبير. &#8230; فلما وجدت منفذاً إنفجرت ينابيع دموعها بلا توقف وكأن شمس البر (يسوع ) عندما أشرقت عليها أذابت للحال ثلوج خطاياها فأسألت دموعها .</p>
<p>جاءت من ورائه</p>
<p>+ قال الرب عن العشار التائب أنه لم يشأ أن يرفع عينيه إلى السماء &#8230;. هكذا كانت هذه المرأة، جاءت من ورائه في إتضاع وإحساس بعدم الاستحقاق ومخافة وخجل كثير وعيناها مملوءتان دموعاً ومطرقتين إلى أسفل &#8230;(إيه يا نفسى غير التائبة كم من مرة وقفت بجرأة وعدم خشوع أمام الله ! )</p>
<p>+ ما أقدر هاتان العينان على استدرار مراحم الرب الحنون الذي قال: &#8220;حولي عينيك فإنهما غلبتاني &#8221;</p>
<p><strong>بين الفريسى والمرأة الخاطئة </strong></p>
<p>هوه عظيمة وبعد شاسع يفرق بين سمعان الفريسى والمرأة الخاطئة &#8230; صحيح إن سمعان إستضاف الرب يسوع في بيته ولكن المرأة الخاطئة أدخلت الرب إلى قلبها وحياتها &#8230; سمعان قدم للرب طعاماً وصنع وليمة ليفتخر بها أنه أضاف الرب ولكن معلوم أن للمسيح طعاماً آخر عرفته المرأة الخاطئة فشبع الرب بتوبتها وارتاحت نفسه في دموعها ورجوعها. سمعان إتكأ بجوار المخلص في كبرياء واعتداد بالنفس &#8230;  أما المرأة الخاطئة فلم تحسب نفسها أهلا للمس قدميه &#8230; سمعان لم يقبل الرب في وجهه أما المرأة الخاطئة إذ علمت مقدار حب الحبيب لم تشبع ولم تكف عن تقبيل قدميه &#8230; سمعان لم يغسل قدمي المخلص بماء ولكن هذه المرأة بللت قدميه بدموعها &#8230; سمعان لم يدهن رأس المخلص بزيت &#8230; أما هذه فقد دهشت بالطيب قدميه</p>
<p>&#8211;  أعرفت أيها الحبيب الفارق العجيب بين هاتين العينين ؟!</p>
<p>توجد نفوس كثيرة منشغلة بما يسمونه خدمة للمسيح مثل سمعان الفريسى ، ويسكتون ضمائرهم بأنهم يعملون من أجل ولائم أو حفلات أو أجتماعيات &#8230; ولكن أين قلوبهم وأين توبتهم ؟ إن الرب يسوع لا ترضيه ولائم مادية أصحابها قلوبهم منشغلة بالعالم ولا يسر بعطايا مقدمة من إناس ليس لهم توبة ولا دموع ولا حب مثل المرأة الخاطئة .</p>
<p>إن توبة مثل هذه المرأة قدام الرب لهي أثمن من كل عطايا الناس وهي في نظر المسيح أعظم من مشاريع ضخمة وأعمال عظيمة في نظر الناس .</p>
<p>ليتنا قبل أن نقدم عطايانا نقدم قلوبنا &#8230; وقبل أن ندعو الرب إلى وليمة في منزلنا نسكب دموعنا علي قدميه ليقبل حبنا وينعم لنا بغفران خطايانا.</p>
<p>+ هذه المرأة أحبت كثيراً ومن أجل ذلك غفرت لها خطاياها الكثيرة</p>
<p>+ ثم إلتفت إلى المرأة وقال لها: &#8221; مغفورة لك خطاياك إذهبي بسلام إيمانك خلصك &#8221;</p>
<p>يا للفرح الذي يتمتع به القلب التائب، ويا للسلام الإلهي الذي يحل في داخل النفس عوض الدموع وقرع الصدر والندم وكلمات التأنيب في داخل النفس &#8230; يشرق الرب بنوره فيبدد الظلمه ويقول كلمة سلام فيستقر في داخل النفس سلاماً إلهيا ً لا يعبر عنه &#8230; أيحن المشتكين على هذه المرأة؟</p>
<p>&#8211;  سمعان والمتكئين وجموع الذين يحركهم الشيطان للشكوى علي أولاد الله &#8230; حقاً ما قاله معلمنا القديس بولس الرسول: &#8221; من سيشتكي علي مختاري الله ؟ ! &#8221; من الذي يدين؟ المسيح هو الذي يبرر. لقد وقف الرب كراع صالح يحمي خروفه الصغير الذي إلتجأ إليه تحت ظل جناحيه ويدفع عنه هجمات الذئاب الخاطفة.</p>
<p>طوباك أيتها المرأة التي بدموعها استحقت أن تسمع كلمات عزاء من فم الرب نفسه.</p>
<p>أعطني يارب ينابيع دموع كثيرة كما أعطيت منذ القديم للمرأة الخاطئة. وأجعلني أبل قدميك اللتان أعتقتاني من طريق الضلاله ، وأقتني لي عمراً نقياً بالتوبة لكي أسمع أنا ذلك الصوت الممتلئ فرحاً القائل : &#8221; إن إيمانك خلصك<a href="#_ftn13" name="_ftnref13">[13]</a> &#8221; .</p>
<p></p>
<p></p>
<h4>عظة للمتنيح القمص بولس باسيلي عن قراءة الأحد الرابع من شهر توت</h4>
<p></p>
<p>المرأة الخاطئة</p>
<p>قارورة طيب!!</p>
<p>عظة على ضوء القراءات الكنسية:</p>
<p>البولس :                  (۲کو ١:١-١٤)</p>
<p>كاثوليكون :               (۱يو٨:٣ -١٢)</p>
<p>الابركسيس :           (أع ٩: ٣٦–٤٢)</p>
<p><strong>القسم الأول : هذه المرأة . . ماذا سكبت؟ </strong></p>
<p>(١) قارورة المال : إن تضحيتها بمالها أعظم برهان على عظمة إيمانها ، لقد تخلصت من محبة المال التي هي أصل لكل الشرور فتخلصت من &#8221; الضلال عن الإيمان ; ومن &#8221; طعنات و أوجاع كثيرة &#8221; (١تي١٠:٦) صارت محبة الله حياتها إذ تركت محبة العالم (يع ٤ :٤) مثلما سكبته مريم في (مت ٢٦: ٧) (مر١٤: ٣) سكبت مالها عند قدمى يسوع على مثال ما فعله داود &#8221; أسكب أمامه شكواي بضيقة قدامه أخبر عندما أعيت روحي في &#8221; وأنت عرفت مسلکی ، (مز ١٤٢: ٢)</p>
<p>(٢) قارورة الجمال ضحت بجمالها إذ جعلت من شعرها منشفة لقدمي مخلصها ، لقد رأت في جمال المسيح ما أنساها جمالها &#8221; لطيف ووجهك جميل &#8221; (نش٣: ١٤) رأت حسنها غشاً وجمالها باطلاً (أم ٣٠:٣١) ورأت ذهبها وحليها كخزامة الذهب في أنف خنزيرة على حد تعبير الحكيم في (أم١١:٢٢) وعلمت أن جمال المرأة الحقيقي في&#8221; الروح الوديع الهادي . الذي هو قدام الله كثير الثمن &#8221; (۱بط ٢: ٤)</p>
<p>(٣) قارورة الايمان بالأعمال : سكبت قارورة المال ثم قارورة الجمال ، ثم أيضا قارورة الايمان مقترناً بالأعمال ، فآمنت بالقادر أن يحفظ وديعتها إلى ذلك اليوم ، وعملت بإيمانها لأنها علمت أن إيماناً بدون أعمال ميت كما قال يعقوب الرسول       أنظر البولس       (٢كو ١ : ٦)       والكاثوليكون (1يو٣ :١٠)     والابركسيس   (أع ٩: ٣٦)</p>
<p><strong>القسم الثاني: وأخيراً . . ماذا كسبت ؟؟. </strong></p>
<p>(١) نعمة الخلاص : لقد رأت في يسوع جمالا فقالت له &#8220;أنت جميل ياحبيبي&#8221; (نش١: ٦) ، فبادلها المسيح شعورا بشعور ، إذ وجدها في عينيه  وهى الساقطة جميلة فقال لها &#8221; كلك جميل يا حبيبتى &#8221;  (نش٤ : ٧) فخلصها وألقى عليها ذيله و أنقذها ودم يسوع المسيح ابنه يطهر نا من كل خطية ، (١يو١ :٧)</p>
<p>(٢) احترام الناس : لقد كانت خاطئة محتقرة بين الناس لأن &#8221; عار الشعوب الخطية &#8221; (أم ٣٤:١٤) وبعد أن غفر المسيح خطاياها رد لها اعتبارها وأصبحت محترمة بين الجميع ، مكرمة من المجتمع , &#8220;فطوبى لمن غفر إثمه وسترت خطيته &#8221; (مز۳۲ :۱) لقد سترت آثامها وارتفع قرن خلاصها ، وخطيتها التي كانت كالقرمز ابيضت كالثلج ، والتي كانت حمراء كالدودی صارت كالصوف النقى &#8221; (أش ١ : ١٨)</p>
<p><strong>تأملات روحية. . نقاط تفسيرية </strong></p>
<p>حول عظة الأحد الرابع من توت (لو ٧: ٣٦-٥٠)</p>
<p>&#8221; دخل بيت الفريسي واتكأ &#8220;: جاء المسيح ليحطم الفروق بين الطبقات ففي الوقت الذي قبل دعوة سمعان الفريسي البارز في المجتمع ، المحترم كواحد من أعيان الشعب ومعلمي الشريعة ، تراه لا يرفض أن يدخل بيوت العشارين فدخل بيت لاوي العشار حيث صنع له ضيافة عظيمة ، كما دخل بيت رئيس العشارين زكا !!</p>
<p>ورغم علم المسيح بعداوة سمعان الفريسي له، وبكبريائه وغروره ، إلا أنه قبل أن يلبى دعوته ويدخل بيته ليربح نفسه &#8221; فرابح النفوس حكيم &#8221; فانظر و تعلم كيف تعامل أعداءك ، وكيف تربحهم أصدقاء لك ؟ !</p>
<p>&#8220;اتكأ&#8221;: كان الاتكاء هو عادة الجلوس إلى الولائم ،. ، وقد ورد ذكر هذه العادة كثيراً في الكتاب المقدس راجع (لو۱۱: ۳۷-۱۲): (یو ۲: ۱۸) (يو۲۱: ۲۰)، و(عزرا ٤ : ١٠) ، (ويهوديت۱۲: ١٥)</p>
<p>&#8221; و كان لمداين مديونان &#8221; : هذا المثل الرائع يمثل حب المسيح للخاطي . الأثيم الشاعر بخطيته ، ويرمز له بالمديون الذي عليه خمسمائة دينار إشارة إلى أثقال الخطايا الباهظة ، أما الخمسون الدينار فإشارة إلى الفريسيين الذين يحسبون أنفسهم مبررين أمام الله ، ذلك البر الذاتي الذي هو أقرب إلى الشر منه إلى البر ، ولعل في القصة التالية ما يفسر لنا هذا المثل أبلغ تفسير :</p>
<ul>
<li>رحب الملك بضيفه العظيم وإمعانا في إكرامه أصدر أمره بالافراج عن سجين يختاره الضيف ، فتوجه الملك وضيفه إلى السجن وبدأ الضيف يناقش المساجين واحداً فواحداً ، لماذا جاءوا بك إلى هذا السجن ؟ قال : القاضى الظالم ، وأنت ؟ قال الحظ الغاشم ؟ والثالث ؟ قال الظلم الصارم ! وهكذا دواليك ، إلى أن وصل إلى سجين سأله الضيف : وأنت ما الذي جاء بك إلى السجن ، قال ذنوبي وإجرامى وشيطاني اللعين ، جرنى إلى ما ارتكبته من إثم فظيع و بكى وصاح : رحماك اللهم رحماك . . إن القاضي ترفق بي إذ حكم على بعشر سنين وأنا الذي كنت أستحق الاعدام ! ! قال الضيف العظيم هذا الرجل أحق بالأفراج ، أما أولئك &#8221; القديسون &#8221; فدعهم في قداستهم وغرورهم !!</li>
<li>&#8221; وعلم يسوع افكاره &#8221; : تكلم الفريسي في نفسه ظناً منه أن أحداً لا يكتشف ما يفكر فيه ، ولم يعلم المسكين أن المسيح علام الغيوب وفاحص الكلى والقلوب !! قال القديس اغسطينوس &#8221; احفظ أفكارك جيداً لأن الأفكار تسمع في السماء &#8221; .</li>
</ul>
<p>&#8220;خمسمائه..وخمسون&#8221; : من هذه الأرقام المتفاوتة ، ألا نستنتج حقيقة لاهوتية هامة ؟ أن هناك تفاوتاً في كل من العذاب في الجحيم ، والثواب في النعيم فكما &#8221; أن نجما يمتاز عن نجم في المجد &#8220;(١كو ٤١:١٥) و &#8221; في بيت أبي منازل كثيرة ، هكذا في شأن العذاب &#8221; &#8221; إن صور وصيدا يكون لها حالة أكثر احتمالا يوم الدين ما لكما &#8220;(مت١١:٢٢) .</p>
<p>&#8220;لم يكن لهما ما يوفيان، &#8221; : اليس في هذه العبارة إشارة قوية إلى عجز الجنس البشري كله سواء الأغنياء أو الفقراء ، عجزاً كاملا عن سداد دیونهم للعدالة الإلهية ، وهكذا قال القداس الطاهر و لا ملاك ولا رئيس ملائكة ولا رئيس آباء ولا نبي ائتمنته على خلاصنا بل أنت بغير استحالة تجسدت و تأنست و أشبهتنا في كل شىء ما خلا الخطية وحدها وصرت لنا وسيطاً مع الآب ، والحاجز المتوسط نقضته والعداوة القديمة هدمتها و أصلحت الأرضيين مع السمائيين وجعلت الاثنين واحداً .</p>
<p>فلما عجز الجميع عن وفاء الديون تقدم يسوع بنفسه إذ أخلى نفسه آخذاً صورة عبد وإذ وجد في الهيئة كانسان ، وضع نفسه وأطاع حتى الموت موت الصليب .</p>
<ul>
<li>وفى هذه العبارة أيضاً &#8220;لم يكن لها ما يوفيان &#8221; تعليم هام آخر وهو أن البشرية مهما سمت والناس مهما ارتفعوا إلى حال القداسة لا يستطيعون أن يوفوا حق الله عليهم &#8221; لو فعلتم كل البر قولوا إننا عبيد بطالون &#8221; ، وفي هذا رد مفحم على من قالوا ببدعة &#8221; زوائد فضائل القديسين &#8221; أي أن القديسين امتلأت مخازن قداستهم وفاضت عن حاجتهم ، بينما العذاري الحكيمات حين سألهن الجاهلات &#8221; أعطيننا من زيتكن فإن مصابيحنا تنطفىء &#8221; أجابت الحكيمات قائلات &#8221; لعله لا يكفى لنا ولكن (مت ٢٥: ٩) .</li>
</ul>
<p>&#8221; انها خاطئة&#8221; : أكد الغربيون في تقليد مشهور عندهم أن هذه المرأة هي بالذات &#8220;مريم المجدلية &#8221; وهذا التقليد يذكره امبرواز ، وايرينيموس ، وأوغسطينوس وقد وافق عليه القديس اغريغوريوس الكبير ، ولكن البعض الآخر يختلف في هذا الرأى ، وإنى أميل شخصياً للرأى الأول .</p>
<ul>
<li>&#8220;اتيكت الضيافة &#8221; : ثلاثة أمور كان المضيف يقدمها لضيفه في العهود القديمة تجاهلها سمعان ولم يصنعها ليسوع</li>
</ul>
<p>الأمر الأول : تقبيل الضيف قبلة التكريم والترحيب  انظر (تك ٢٢ : ٤) (تك ٢٧ : ٦)، و(خر ۱۸ : ۷ )و (١صم٢٠:٤٠)</p>
<p>الأمر الثاني : غسل قدميه و انظر ما صنعه ابراهيم مع الملائكة الذين حسبهم غرباء ، (تك ١٨ : ٤) , وما صنعه لوط معهم ، (تك ١٩ : ٢) وهكذا أشار بولس الرسول إلى هذه العادة في صدد تعداده لفضائل الأرملة التي تختار : أن يكون مشهوداً لها في أعمال صالحة . . . أضافت الغرباء وغسلت أرجل القديسين » (۱تی ٥ :۱۰)</p>
<p>الأمر الثالث: مسح رأس الضيف بالدهن والأطياب (انظر (را ۳: ٣ -٢) (1صم۲٠:١٢)</p>
<ul>
<li>وأخيراً وليس آخرا أذكر أن المرأة الخاطئة لم تشأ أن تجلس إلى مائدة سمعان لتتلذذ بما حملته من أشهى الأطعمة ، بل وقفت عند قدى يسوع لتشبع من خبز الحياة &#8221; لأنه ليس بالخبز وحدة يحيا الإنسان بل بكل كلمة تخرج من فم الله &#8221; .</li>
</ul>
<p>وأذكر أنه و لئن كانت الوليمة المسمنة أقيمت في بيت سمعان، فإن وليمة أعظم، وليمة العجل المسمن، كانت مقامة في قلب المرأة <a href="#_ftn14" name="_ftnref14">[14]</a>!!</p>
<p></p>
<p></p>
<h4>المرأة الخاطئة للمتنيح الارشيدياكون رمسيس نجيب</h4>
<p></p>
<p><strong>خلجات نفس تائبة</strong></p>
<p>تأملوا أحبائي ، ولتسترح قلوبكم ، كم هي عظيمة رحمة إلهنا .</p>
<p>فقد غفر للمرأة الخاطئة ، ورفعها حين تثقلت بالحزن ..</p>
<p>إنه دائماً يصنع معنا الخير :</p>
<p>بالطين فتح عيني المولود أعمى ، ووهب الشفاء للمفلوج فقام في الحال وحمل السرير .</p>
<p>ومعنا نحن ، أيضاً، يصنع لنا الشفاء يحضره لنا خفية وإن كان قد منحه إياهم علانية ..إنه يعطينا اللآلىء الثمينة ، شفاء لأرواحنا ، يعطينا جسده ودمه.</p>
<p>ولنبدأ القصة :</p>
<p>مثل طبيب يجول في اليهودية يحمل معه أدويته ..</p>
<p>يدعوه سمعان الفريسي ليأكل معه خبزاً ..</p>
<p>وتسمع المرأة الخاطئة أنه هناك ، فتفرح ..</p>
<p>يموج حبها .. فیشب ويهدر .. وتتدفق أفكارها .. فتتوارد وتکثر ..</p>
<p>رأت بحر النعمة ، فكيف لا تلقي بنفسها بين طياته !</p>
<p>ففي وسط أمواجه ، تتنقى وتغتسل ..</p>
<p>وأخذت تذرف الدموع ، وكانت تحدث نفسها :</p>
<p>كبلت نفسي حين أخطأت وزنيت ! فماذا أفادني الفجور ؟</p>
<p>لوثت بالعار الأبرياء ، وسلبت مال اليتيم ..</p>
<p>نهمي للسلب لم يشبع ، وبدون خشية نهبت الأثرياء ..</p>
<p>ومثل قوس في حرب ، صرت أذبح الطيب مع الرديء ..</p>
<p>ليتني أكسب هذا الرجل .. لأنه من الله خرج ..</p>
<p>هو يدرب مسلکی ، يصحح طریقی ..</p>
<p>هذا ما قالته سراً ، تسكب فيه نفسها ، وفي لحظة ارتفعت فوق</p>
<p>نفسها ، فادرات ظهرها للعالم ، لقد أرادت ساعة شفائها.</p>
<p>فكان أن أزالت تلك الأصباغ التي أعمت بها عشاقها ..</p>
<p>وكان أنها نشدت الحرية خلاصاً من كل الأعداء ..</p>
<p>وكان أن خلعت عنها القديم ، لتلبس الجديد ..</p>
<p>وكان أن القت عن ساعديها سوار الإغراء ، وما هي إلا قيود من ذهب .</p>
<p>وكان أن خلعت ثوبها الكتاني .. أحد أدوات الفجور مزقته ، فقد صار أسود كالظلام ..</p>
<p>وكان أن رزلت حذاءها الذي تفوح منه طريق الفسق لتسير..</p>
<p>بقدمين حافيتين نحو السماء .. ومثل النسر ، جددت شبابها</p>
<p>واستجمعت قواها ، التي أضناها التعب .. ثم جمعت بيديها كل</p>
<p>الذهب ، رفعته عالياً ، بل وارتفعت كثيراً فوق نفسها وفي تنهدات</p>
<p>كانت تقول :</p>
<p>هذه ، إلهي ، التي اكتسبتها من الفجور وسلبتها من اليتيم ..</p>
<p>دعني اقتنى بها خلاصى ، وأفوز برب اليتيم .</p>
<p>وبدأت تتحرك ، والإصرار هذه المرة يدفعها ، تحمل في يد ذهبها ،</p>
<p>وبالاخری صندوق مجوهراتها . وأخذت طريقها إلى بائع الطيب ،</p>
<p>فقد قررت أن تشتري أثمن ما عنده . تعجب الرجل ، وفي دهشة قال لها :</p>
<p>أيتها المرأة ، ماذا دهاك !</p>
<p>ما هذا الذي تلبسينه للعشاق ! ألا يكفي ما سلبته من الرجال !</p>
<p>أفي مكر ، الآن ، ترتدين الحشمة !</p>
<p>يا لتناقض الصورة ، بالأمس تلبسين الفاخر من الثياب ، بينما يدك</p>
<p>خاوية تماماً من الذهب ، واليوم ترتدين الحشمة ، ويداك تحملان</p>
<p>الوفير من الذهب !</p>
<p>أنني أعجب ! ما سر هذا التغيير ! فثيابك الرثة لا تتفق والذهب</p>
<p>الوفير ، والطيب الغالي الثمن ، لا يقدر أن يحمله الثوب الحقير !</p>
<p>أخبرينني أيتها المرأة :</p>
<p>أي نوع من الرجال صادفك هذه المرة ؟</p>
<p>أتراه تاجراً مسكيناً ، لا يؤخذ بالثوب الخليع ، فارتديت له الحقير !</p>
<p>أيتها المرأة أنني أشفق عليك من الذئاب ، هاك نصيحتی :</p>
<p>هيا اترکی الفجور وعشاق الليل الكئيب ..</p>
<p>وابحثي من الآن ، عن زوج أمين ..</p>
<p>يصحح طريقك ، ويدرب مسلكك ، ويصون حياتك &#8230;</p>
<p>وفي تنهدات كانت تقول :</p>
<p>لا تعيقني أيها الرجل ، ولا تستوقفنی بتساؤلك ..</p>
<p>لقد طلبت أن أشترى الطيب ، وليس بلا ثمن ..</p>
<p>إنني سأدفعه لك ، غير نادمة أو حاقدة ..</p>
<p>فخذ منه ما تريد ، خذ الذي يبلى ، فقد رغبت في الجديد ..</p>
<p>ثم ، من ذا الذي أخبرك ؟ حين نصحتني بالزوج الأمين !</p>
<p>لأن رجلاً اليوم قابلني في الطريق .. يحمل معه الغني ..</p>
<p>إنه سباني ، وأنا سلبته ..أخذ الذى لى ، وأعطاني الذي له ..</p>
<p>سلبته كل ثروته ، بينما سلب مني خطيئتی ..</p>
<p>وما نصحتني به ، ها أنذا اليوم أفعله :</p>
<p>فقد اقتنيت لي زوجاً ، كسبته في السماء ..</p>
<p>ملكوته لا يفنی ، وسنوه من دور فدور.</p>
<p>وأخذت الطيب ، وجرت تلهث سعياً وراء الحبيب . وحار الشيطان</p>
<p>في أمرها ، وأراد أن يعرقل خطواتها . ها هو يقترب منها . الآن</p>
<p>صار قريباً ملتصقاً بها ، وفي خداع ومكر يحاول أن ينصت ولو إلى</p>
<p>تمتمة شفتيها ، عساه أن يعرف قصدها . ألم يوصنا مخلصنا</p>
<p>الصالح  بأن ندخل مخادعنا ، ونصلى للآب السمائي خفية ! إنه</p>
<p>علمنا هكذا ،  أن نرفع قلوبنا ، لئلا يسمع الشيطان صلاتنا ، فيقف</p>
<p>قدامنا ويحاربنا  ، ويثبط من همتنا .. إنه باحكام شدید ، يشد نظره</p>
<p>إلى بريق عينها ، عساه أن يعرف وجهتها ، ولما فشل في اكتشاف</p>
<p>سرها ،  راح  يتشكل في هيئة واحد من عشاقها ، ويجمع حوله</p>
<p>العديد من الرفاق ،  وحين استكمل قوته أخذ يهمس في أذانها :</p>
<p>أيتها الجميلة بين النساء ، إلى أين ؟</p>
<p>لماذا تسرعين الخطى ، وتلبسين الأثمال !</p>
<p>تخلعين الحلي ، وتلامس قدماك التراب !</p>
<p>هل مات أحد عشاقك فتذهبين توارينه التراب !</p>
<p>كم أنت طيبة ، فقد فهمت الآن ، وحسناً تفعلين !</p>
<p>سأذهب معك ، أشاركك الذكري ، فأنا أعرف قسوة الفراق.</p>
<p>وعرفت الخاطئة من هو الذي يحدثها ، إنه عدوها الذي يقف الآن</p>
<p>أمامها ، سمعته وهو يتحدث إليها ، لكن في إصرار ، قالت ما</p>
<p>يردده قلبها :</p>
<p>كيف عرفت ياصاحبي القديم ، عن الذي مات !</p>
<p>فإنني حقيقة ذاهبة ،لدفن الذي مات ..</p>
<p>انني أحمل على يدي ، أحمل نفسي ، أفكاري وخطایای ..</p>
<p>ألا تراها ! أنني ذاهبة لدفنها عند الذي مات من أجلى وقام ..</p>
<p>وضجر الشيطان ، وعلا صوته في التوسل :</p>
<p>دعك من هذا ، يا إمرأة ، وأصغى إلى ..</p>
<p>سأهبك من جديد ، الجاه الكبير والذهب الوفير ..</p>
<p>واضع يدي عليك ، وأكون لك نعم النصير ..</p>
<p>والمرأة تسمع للشيطان ، ولكنها في إصرار وثقة تجاوبه :</p>
<p>لقد تعبت منك أيها الرجل وسئمت الذهب..</p>
<p>وكسبت إلى زوجاً ، هو أبرع جمالاً من بني البشر ..</p>
<p>سنوه لا تفنى وكنزه لا يبلى إلى الأبد..</p>
<p>إنني أصرخ في وجهك : أغرب عن وجهی ولا تعد ..</p>
<p>يكفي أيها الشيطان ما مضى..</p>
<p>فقد صرت لك طائعة ، أسيرة في قبضتك..</p>
<p>صرت لك قنطرة عبور ، تدمر من فوق الأبرياء..</p>
<p>عيناي ، كحلتهما ، واعميتني ، لأعمى بها الأنقياء..</p>
<p>إنني ذاهبة الآن ، إلى الذي فتح أعين العميان ..</p>
<p>فاسترد حریتی وبصری ..أجعلهما نوراً عبر الأزمان ..</p>
<p>إنني ذاهبة إلى ذلك الذي يعطني جمالاً عوضاً عن الرماد..</p>
<p>إنه يفك قيودی ، يحطم أوثاني ..</p>
<p>وبکی الشيطان ، ولول فقد ضاع الذي معه :</p>
<p>أذلتني هذه المرأة .. أفقدتنى هیبتی ..</p>
<p>كيف أسقطها في فخ وقد شقت طريقها إلى السماء ..</p>
<p>وكيف أصيبها بسهم ، وقد حصنت جدرانها بالعناد ..</p>
<p>سأذهب وأسبقها إلى هناك ، فانني أعرفه ، إنه يسوع الناصري..</p>
<p>وأقول له : أيها الصالح وكلى الصلاح .. أنا أعرفك من أنت قدوس</p>
<p>الله !</p>
<p>ها هي الجموع تتبعك ، من أجل عظيم صلاحك ..</p>
<p>سلطانك يسبيهم ، وصلاحك يضيء لهم الطريق..</p>
<p>ستأتي إليك إمرأة خاطئة ، أنا أعرفها ، كلهم يعرفونها ..</p>
<p>إنها لخاطئة ! تمتلىء بالفجور ..</p>
<p>فاحذرها ، لا تقبلها ، وإلا فماذا تقول الجموع ؟</p>
<p>اطردها وانتهرها ، لئلا تتفرق من حولك الشعوب ..</p>
<p>وابتسم الشيطان .. وكأنه أحكم الخطة ، لكن سرعان ما ماتت</p>
<p>الإبتسامة على شفتيه ، فقد أدرك فشل خطته .. قال في نفسه :</p>
<p>لا .. لن أذهب إليه .. إنه يعرفنی تماماً .. ويعرف أنني أبو الكذاب..</p>
<p>هو الكاشف أستار الظلام . محب كل الخطاة..</p>
<p>سأذهب إلى سمعان .. وهناك أنشب مخلبی..</p>
<p>وما أنا فاعله . لن يدرکه محدثي ، وهذه هي فرصتی !</p>
<p>وذهب الشيطان ، يسرع الخطى إلى سمعان ، وكأنه رجل غني ، يتحدث إليه في وقار .</p>
<p>وكان حوار بين الشيطان وبين سمعان ، قال له الشيطان :</p>
<p>بحقك يا سمعان وقد حفظت الناموس والأنبياء..</p>
<p>من يكون هذا الرجل الذي يسمونه : يسوع الناصري..</p>
<p>فانني أملك الكثير ، وأريد دعوته إلى بيتي ، يبارك غلتی ..</p>
<p>فهل تراه صالحاً يحب الأتقياء ، أم شريراً يجالس العشارين والزناة !</p>
<p>ويجيبه سمعان :</p>
<p>يسوع الناصري ! نعم أني أعرفه ..</p>
<p>ومنذ اليوم الذي رأته فيه عينای ، هو رجل يمتلىء بالوقار ..</p>
<p>كلماته تمنح السلام ، وحياته تفيض عذوبة وإتضاعاً ..</p>
<p>يهب الشفاء في سخاء ولا يطلب مجازاة ..</p>
<p>يمنح العزاء في رجاء ، ويقيم الموتى إلى حياة ..</p>
<p>أقام ابنة يايرس إلى الحياة .. وفي الطريق إليها ، لمسته النازفة ،</p>
<p>وقد أعياها الداء ، فسرقت منه  الشفاء.</p>
<p>ويا له من سلطان انه ينتهر الرياح ويسكت الأمواج..</p>
<p>الأرملة التي فقدت وحيدها، وبينما كانت في طريقها إلى القبر لتدفنه،</p>
<p>فإذا به يلمس النعش ويقيم ابنها ، يدفعه إلى أمه ويفرح قلبها ..</p>
<p>فتح أعين العميان . وبكلمة طهر البرص في كل مكان ..</p>
<p>والأطراف المرتخية للمقعد ، أعطاها القوة : وياله من حنان !</p>
<p>لقد تأكد لي صلاحه ، وأنه من الله خرج ..</p>
<p>لهذا فقد دعوته إلى بيتي ، يبارك حصادی وغلتی..</p>
<p>وتنهد الشيطان ، فقد نجح في احکام خطته ، ثم قال لسمعان :</p>
<p>حسناً قلت أيها الرجل ، إنه يمتلىء بالصلاح ..</p>
<p>ولكن عسانا لا نمدحه قبل أن ندرك نهايته ..</p>
<p>فماذا تقول إن دخل بيتك وسمح أن يقترب إليه الزناة ؟</p>
<p>إن انتهر الزناة ، فهو رجل الصلاح ، لأنه يكره الخطاة ..</p>
<p>وليس صديقاً للذين يرتكبون الإثم من العصاة ..</p>
<p>وبمثل هذه الكلمات ، كان الشيطان يتحدث إلى سمعان ، واقترب</p>
<p>لينظر ما يحدث.</p>
<p>وذهبت الخاطئة إلى بيت سمعان ، تقف بالباب ، حياتها تمتلىء</p>
<p>بالتعديات بيدها المرتعشة تقرع الباب ، بينما قلبها كان يرتفع إلى</p>
<p>السماء في دعاء :</p>
<p>يا ابن الله المبارك الذي نزلت إلى أرضنا ترجو خلاصنا أنت</p>
<p>دعوتنی . فلا تغلق الباب في وجهی ، حتى أن فعل البشر..</p>
<p>فافتح لي أيها المتحنن لأدخل . ولا ترفض طلبتي آه یاسید وأجد فيك</p>
<p>راحتی . ملجأي وسندي وانجو من الشيطان الذي يتعقبني .. وكل جنونه وحيله..</p>
<p>فانني مثل عصفور ضعيف ، أطارد من صقر كبير .</p>
<p>لكني أهرب إليك ، لأجد الأمان في عشی .. أجد راحتى .</p>
<p>وانني مثل بقرة صغيرة ، والثور هائج ، يده ثقلت على کتفی ..</p>
<p>هذا ما كانت تردده في قلبها ، وهي على الباب تقف . ورآها</p>
<p>صاحب الدار . رآها سمعان وعرف من هي ، إنها خاطئة المدينة</p>
<p>التي يعرفها كل أحد . وتغيرت هيئته وامتلأ بالغضب ، وفي صرامة</p>
<p>كان يزجرها ويقول لها :</p>
<p>أيتها الزانية كيف تجاسرت إلى الاقتراب من هنا !</p>
<p>فمن تظنين هذا الرجل الذي دخل بيتي يتكأ ..</p>
<p>إنه الصلاح ، وليس في صحابه المستهتر والمستبيح ألا يكفي أيتها</p>
<p>المرأة الخاطئة ! ما أفسدت من الرجال ! دنست الأطهار دون خجل.</p>
<p>سلبت الأيتام في نهم ..</p>
<p>ونهبت الأثرياء وبلا حياء ..</p>
<p>ليس لك هنا صيد ، إنك لن تدرکی صلاحه.. فارحلي !!</p>
<p>وتوسلت الخاطئة إلى سمعان ، تستعطفه في مذله وانكسار :</p>
<p>أنت حقاً ياسمعان ، صاحب الدار ، وحارس الباب..</p>
<p>وأنت تعلم الذي خفي ..</p>
<p>هل تخجل من مقدمي ، وتخاف من لوم يأتي عليك !</p>
<p>دعني أدخل بمفردي .. أعرض أمري بنفسي ..</p>
<p>ولن تكون أنت مسئولاً عن دعوتی..</p>
<p>ولن يلومك أحد . فأنت لم تدعني..</p>
<p>وان رغب هو فيَّ ، فسيأمرني للدنو منه ..</p>
<p>ولا تغلق الباب . في وجهی.</p>
<p>وخاف سمعان من لوم يأتي عليه ، وخشي من دنس يدخل منزله ،</p>
<p>فأسرع واغلق الباب ، ووقف خلفه ، حتى لا تغافله وتدخل . ورأى</p>
<p>يسوع الناصرى كل شيء . ونادى سمعان وقال :</p>
<p>تعال يا سمعان ، أنا أدعوك وآمرك..</p>
<p>أيا كان من يقف على الباب ، فافتح له !</p>
<p>ودعه يأخذ ما يحتاج ثم ينصرف..</p>
<p>إن كان في حاجة إلى طعام ، فيوجد هنا خبز الحياة ..</p>
<p>إن كان عطشا إلى الماء ، فأنا هنا ينبوع المياه ..</p>
<p>إن كان مريضاً يلتمس الشفاء ، فالطبيب الحقيقي يجلس بالدار .</p>
<p>دع الخطاة يأتون إلىّ ، لأني من أجلهم أتيت ..</p>
<p>فارجع الذي تاه إلى الحظيرة ..</p>
<p>واحمل فوق منكبي فرحاً ، الذي ضل ..</p>
<p>وأرفعه إلى السماء .. فما جئت لأدعو الأبرار ، بل الخطاة إلى التوبة  ..</p>
<p>ودخلت المرأة ، تقف من وراء رجليه ، تبكي وقلبها ينبض بالحب.</p>
<p>عيناي التي عاينتا الفجور ..</p>
<p>ها هي إلهي ، تصير ينبوع دموع تغسل الشرور .</p>
<p>وما اقتنيته ثمن حمأة الخطيئة .. ها أنا أسكبه على القدمين التي</p>
<p>ارجعتاني عن طريق الضلال !</p>
<p>اسكبه على قدمی سیدی ، اللتين تتبعان طريق الخطاة ..</p>
<p>وشعري هذا المسترسل في غزارة منذ صبای ..</p>
<p>لن أحزن أن مسحت به قدميك..</p>
<p>وفمى الذي قبل الفجور ، لن أمنعه أن يقبل القدمين ..</p>
<p>بهذه الكلمات وبغيرها كانت تحدث نفسها ، وهي تسكب</p>
<p>الطيب على قدميه ، بدموعها تبللها وبشعر رأسها تمسحهما</p>
<p>.. بينا يقف سمعان الفريسي مشدوها ويصرخ في قلبه : لو</p>
<p>كان هذا نبياً لعلم من هي ؟! إنها إمرأة خاطئة.</p>
<p>وسمع السيد أفكار قلبه وهي تصرخ :</p>
<p>لقد دعوته يبارك بیتی وظننته باراً فكيف سمح للزانية أن تقترب إليه</p>
<p>وتلمس قدميه ؟</p>
<p>وحينئذ أجابه السيد :</p>
<p>یاسمعان عندي كلمة أقولها لك : كان لمداین مدیونان على الواحد</p>
<p>خمسائة دينار وعلى الآخر خمسون .. وإذ لم يكن لهما ما يوفيان</p>
<p>سامحهما جمعياً .. فقل أيهما يكون أكثر حباً له ؟.</p>
<p>لقد أحبت هذه المرأة كثيراً .. فهل اتركها ياسمعان دون صفح أو</p>
<p>ارسلها دون غفران ..</p>
<p>إنني سأرسلها إلى الحرية .. فقد أحبت ..</p>
<p>وسأكتب قصتها في إنجيلى تذكاراً لمحبتها ..</p>
<p>وإنني لازلت أدعو كل الخطاة التائبين :</p>
<p>تعالوا رثوا الملك المعد لكم من قبل إنشاء العالم ..</p>
<p>وليمتان</p>
<p>وليمتان دعى إليهما السيد . وفي محبة كاملة لبي كلا منهما دعاه</p>
<p>الفريسي المتعجرف .. وأتت إليه خاطئة المدينة . انفق سمعان من</p>
<p>ماله ، بينما هي أنفقت من حبها وسكيب نفسها ! وليس عبثا أن السيد</p>
<p>المسيح دخل بيت الفريسي يأكل خبزاً ، فقد أراد خلاصاً لكل</p>
<p>المتكئين معه . فهذا هو طعامه منذ البدء أن يتمم مشيئة الذي أرسله</p>
<p>.. أراد أن يعمل إرادته أن يقتنيهم بزرع الإيمان في قلوبهم ولهذا أتى</p>
<p>إليهم ، يحاصرهم بالحب والخير ، يغلب حسدهم وبغضتهم ويشتهى</p>
<p>عودتهم خلاصاً لأنفسهم ..</p>
<p>لكن منظر تلك الخاطئة يشدنا..</p>
<p>ووليمتها تجذب التفاتنا ، بل تغذى قلوبنا وأوراحنا ..</p>
<p>فقد أعطت منهجاً كاملاً للتوبة.</p>
<p>.. ولنتأمل ، منهجها الكامل للتوبة :</p>
<p>+ هذه المرأة كانت عظيمة في شهرتها لأنها عظيمة أيضاً في</p>
<p>خطيئتها ، تشعر بثقل أثمها وتسمع أن هذا المعلم الطاهر متکیء في</p>
<p>بيت الفريسي ، فتذهب تحمل مع طيبها الغالي الثمن ، خطاياها وقد</p>
<p>ماتت ، لتنحنی من ورائه باكية ، تبل قدميه بالدموع. تمسحها بشعر</p>
<p>رأسها . وتسكب الطيب في صمت أروع من الكلام بتنهدات قلب</p>
<p>يسرق الملكوت ويشق طريقه إلى السماء !</p>
<p>ويا لها من جرأة عظيمة تخطى بها المرأة تخوم الخجل .. فهي لم</p>
<p>تنتظره حتى يفرغ من مائدته ، لتلتقى به بعيداً عن الناس من منعطف</p>
<p>طريق ، أو انتظرت دعوة من أحد لتجد مكاناها في وليمة سمعان ..</p>
<p>لكنها في جرأة تسندها المحبة شقت طريقها ، في وقت غير مناسب ،</p>
<p>هكذا ظنه المتكئون وهكذا قدر سمعان .. لكن في وقت مناسب جداً</p>
<p>لتنال خلاصها . فوقت نيل الخلاص من السيد حاضر في كل حين ،</p>
<p>ويداه لا تكفان عن عمل الخير ..</p>
<p>هذه المرأة أدركت أنها مريضة جداً ، وأيقنت أن هذا المعلم الشاب</p>
<p>الطاهر غير الدنس هو الذي يمنحها الشفاء ، فجاءت إليه !</p>
<p>.. ولماذا نقول أنها تخطت تخوم الخجل ! ولماذا نجردها من خجلها !</p>
<p>أم كيف نفسر صمتها وانحناءة قلبها ! كيف نجد تفسيراً لدموعها التي</p>
<p>تنسكب في صمت ، وشعرها المسترسل الذي يمسح قدمى السيد !!!</p>
<p>لا .. لقد كانت هذه الخاطئة في خجل شديد !</p>
<p>كانت في خجل شديد من عارها ، وخطيئتها ، وماضيها الملطخ</p>
<p>بالوحل والآثام .. ولهذا جاءت من ورائه باكية ، تطلب ولكن في</p>
<p>تنهد ، لا تقدر على الكلام ، فماذا عساها أن تقول : دع الدموع تتكلم</p>
<p>.. وليأخذ هو الدموع ويمنحها الغفران ..</p>
<p>ومن ذا الذي قال ، أن التوبة يمكن تجريدها من الخجل ؟ أن الخجل</p>
<p>ضروری جداً للإنسان وهو يتوب .. الخجل هو الذي يجعل التوازن</p>
<p>قائماً بين الخطيئة وبين نتيجتها .. فسوف تظل الخطيئة هي العار</p>
<p>الذي يحمله الإنسان في نفسه وجسده !!</p>
<p>هذه الخاطئة تخطت تخوم الخجل ، وبالرغم من أنها تعيش فيه !</p>
<p>إنها تركت عنها الخجل الذي يعوقها عن مقابلة من يهبها الشفاء ..</p>
<p>فكيف تخجل من أن تقدم على الاعتراف ، تلك التي ارتكبت</p>
<p>المعاصي !</p>
<p>هذا هو الخجل المعوق للتوبة . بل قل هو أحد جوانب الكبرياء !</p>
<p>حسناً يقال : إنها تركت تخوم الكبرياء لكي ترتفع فوق نفسها ، تقدم</p>
<p>توبتها في انسحاق وفي خجل شديد من خطيئتها . انسحاقها</p>
<p>واحساسها بالخجل من شدة مرضها جعلاها تنشغل عن النظرات</p>
<p>التي تلاحقها ، لتسكب الدموع تبل قدميه بواجب الاعتراف.</p>
<p>انظر ! هل تريد دليلاً على اتضاعها ، إنها لم تسكب الطيب على</p>
<p>رأسه ، بل على قدميه ومن ورائه ! وسيظل الإحساس بالخجل</p>
<p>وتزایده في قلب الخاطيء ، واسفه الشديد هو أول طريق التغيير</p>
<p>نحو الحياة السامية</p>
<p>+ .. وتعالوا نسير ببطء ونحن نتلمس منهج هذه الخاطئة في التوبة ،</p>
<p>فنرى مع خجلها الممتزج باتضاعها ، والذي تخطت بهما تخوم</p>
<p>الكبرياء ، نرى كيف صارت التوبة – وكما هي في حقيقة أمرها –</p>
<p>نوعاً من المعاناة والألم .</p>
<p>فتلك الخاطئة التي عرفت السبل غير المدربة ، تجييء لتنحني عند</p>
<p>قدمى السيد ، تلتمس طريق الصلاح .. وبمعاناة شديدة !!</p>
<p>هي أولاً ، سكبت الدموع بدم قلبها . سكبت نفسها . وقفت عند قدميه</p>
<p>من ورائه باكية . هذا هو المشهد الذي نرى فيه المرأة وقد حلت</p>
<p>شعرها ، وتجتاز آلام توبتها . وها هي تعلمنا أن التوبة ليست كلمات</p>
<p>تخرج الأفواه ، بل هي صرخة ألم ، ودموع تنسكب ، وذبيحة حب</p>
<p>تشهد للمسيح الملك ! هذه هي آلام المخاض التي يخرج بعدها وليد</p>
<p>جديد للحياة .. وهذا هو الصليب الذي يحمله التائب .. يحمل سماته</p>
<p>في جسده ويسمره في قلبه ووجدانه .</p>
<p>معاناة التوبة صليب يحمله التائب ، وبخور يحترق ، يشتمه الله</p>
<p>فيسر قلبه .. فتلك المعاناة ما هي إلا وجه من أوجه الحب ، أرادها</p>
<p>التائب طواعية ، وكأنها صليب يحمله ليعبر به إلى الجلجثة قبل أن</p>
<p>تشرق  عليه أنوار وأفراح القيامة !!</p>
<p>وهذا ما عبر عنه السيد حين أوصانا ( كونوا حكماء كالحيات ) .</p>
<p>والسؤال الذي يحيل هذه الوصية إلى فعل واختبار يكون : ما هي</p>
<p>حكمة الحيات ؟ أن الثعبان وقد شاخ ، وحين يريد أن يسلخ الثوب</p>
<p>العتيق ويخلع على نفسه ثوباً جديداً ، يرغم نفسه لكي يدخل في ثقب</p>
<p>صغير ، فجوة صغيرة حادثة بين حجرين ، وإذ يرغم نفسه أن يسلك</p>
<p>هذا الباب الضيق، بمعاناة يسلخ الفاسد العتيق، ليلبس الجديد. هذه</p>
<p>هي حكمة الحياة : دخول من الباب الضيق ، جهاد مریر . دموع</p>
<p>وتعب . صليب يحمل في حب . قبول في تسليم الوصية . واختيار</p>
<p>مطلق وبإرادة مدركة للصلاح . وتخل نزيه واع يفقد ما للحرمان من</p>
<p>قسوة ، بمعاناة الدموع التي سكبتها المرأة تكون التوبة .. ويكون</p>
<p>الخلاص من الخطيئة.</p>
<p>+ هي أولاً ، سكبت الدموع بدم قلبها ، ثم تسكب ثانياً ، الطيب على</p>
<p>قدميه .. تعالوا ونحن نختم الحديث عن منهج هذه التائبة ، نتأمل</p>
<p>ماذا یعنی سكب الطيب في نهج توبتها !!</p>
<p>هل تخطت هذه المرأة وجاوزت مرحلة الخوف إلى مشارف الحب..</p>
<p>فكان ذلك الحب الذي يطرد الخوف خارجاً هذا ما حدث ! فهي عندما</p>
<p>جاءت من ورائه خائفة مرتعدة من خطيئتها وحين وقفت خلفه تسكب</p>
<p>الدموع ، وإذ ترى المعلم الصالح فتحس بدفء الطهارة يسري في</p>
<p>أوصالها ، فهو لا ينتهرها ولا يزدرى بها فانها حينذاك تتجاوز</p>
<p>خوفها وتكمل محبتها ، بل هي تحب الآن كثيراً ، وتعطى علامة</p>
<p>يفوح شذاها .. تسكب الطيب !!</p>
<p>مباركة جداً هذه المرأة الخاطئة ، التي جسدت لنا معالم طريق</p>
<p>يتلاقی فيه الخجل المقدس مع الاتضاع ، ويتقابل فيه الخوف مع</p>
<p>الحب !!</p>
<p>وها هي بالذي اكتسبته من الضلال ، تدهن به القدمين ، وتصنع به</p>
<p>الصلاح . هي سكبته على قدميه ، لتبدأ السير في أثر خطواته ، تفعل</p>
<p>الخير ، وترقى إلى الصلاح ..</p>
<p>وهل فعل الصلاح نوع من ممارسة التوبة ؟!</p>
<p>هو كذلك بلا شك . وعلى أية حال ، إنه الجهاد الثاني في طريق</p>
<p>الانتصار . إنه الجهاد الإيجابي ، فان الآباء القديسين رسموا لنا هذا</p>
<p>الاختبار. فالذي يتجاوز الجهاد السلبی ، جهاد الدموع والمعاناة ،</p>
<p>عليه أن يتقدم إلى ذلك النوع من الجهاد الإيجابي ، في سكب الطيب</p>
<p>، أعنی فعل الصلاح أو الإنشغال بالفضائل !</p>
<p>الدعوة إذن الآن ، وكما رسمتها خاطئة المدينة ، أن ننشغل</p>
<p>بالفضائل فنحن كثيراً ما نتحدث عن الخطيئة والرذيلة .. وكثيراً ما</p>
<p>تشغلنا تحذيرات الإثم عن تحديدات الصلاح والخير .. والحقيقة التي</p>
<p>تبقى أبداً خالدة وحية ، تتمشي وتعلن ذاتها هي : كما أن في الإنسان</p>
<p>رغبة للإنخداع والإنجذاب للشهوة الباطلة ، فكذلك يوجد داخل</p>
<p>الإنسان اشتهاء الاستمساك بعمل الفضائل .. ولو تعلمنا أن نمارس</p>
<p>ونكتسب فضيلة واحدة خلال كل عام بطوله لصرنا وقد بلغنا أعمارنا</p>
<p>هذه ، في عداد الكاملين .. فنحن حين نمارس فضيلة ما، نقلع عن</p>
<p>رذائل عديدة . فالفضيلة لا تمارس في الفراغ ، بل على أساس طرد</p>
<p>شرور عديدة من حياتنا.</p>
<p>( قم إذن أصعد على سلم النفس وارتفع إلى الطابق الأول منها الذي</p>
<p>هو أعمال الجسد وصنع الفضائل .. افعل الصلاح. واسكب الطيب .</p>
<p>وحينئذ يمكنك أن ترتفع إلى الطابق الثاني من نفسك الذي هو ضبط</p>
<p>الفكر والتسلط عليه . وإذ ضبطت فكرك بالطهارة ولبست العفة</p>
<p>ترتفع إلى الطابق الثالث ، الذي هو نقاوة النفس . فتعاين الله ) . هنا</p>
<p>تصلى النفس الآسفة مع الكنيسة :</p>
<p>( أعطني يارب ينابيع دموع كثيرة كما أعطيت منذ القديم للمرأة</p>
<p>الخاطئة واجعلنی مستحقاً أن أبل قدميك اللتين أعتقتانی من طريق</p>
<p>الضلال وأقدم لك طيباً فائقاً . واقتنى لى عمراً نقياً بالتوبة . لكى</p>
<p>اسمع أنا أيضاً ذلك الصوت الممتلىء فرحاً : أن</p>
<p>إيمانك خلصك ).</p>
<p>شکوك وتعال</p>
<p>كان يجب أن يؤثر منظر تلك المرأة وقد حلت شعرها ، بمعاناة</p>
<p>شديدة تحنن قلب السيد عليها ، فتستدر عطف سمعان أو المتكئين</p>
<p>معه .. ولكن ما حدث كان على النقيض .. فقد نظر إليها في كراهية</p>
<p>واشمئزاز ولم يتحرك قلبه إزاء هذه المخلوقة الكسيرة ، بل في</p>
<p>كبرياء بارد أخذ يفكر في نفسه ، وفي عمي فريسي قال في نفسه أن</p>
<p>السيد لو كان نبياً لعلم حقيقة هذه المرأة .. وعلم أنها خاطئة .. فكيف</p>
<p>يسمح لها أن تدنو منه وتقترب إليه إلى الدرجة التي تلمس قدميه !!</p>
<p>لم ينطق الفريسي بشيء من أفكاره هذه .. وكل ما فعله أنه افترض</p>
<p>أن خطيئتها قد غابت عن علم المسيح وإلا ما كان سمح لها حتى لا</p>
<p>يعاني من  إمرأة خاطئة تلمس قدميه.</p>
<p>كيف علمت يا سمعان أن السيد لم يعرفها !؟</p>
<p>وهكذا إذ تدعوه ليدخل بيتك ، تسخر منه !</p>
<p>لقد دعوته لتطعمه .. ولو علمت أنه هو الذي يطعمك ، لما فكرت هكذا ..</p>
<p>لكنك لم تفهم ! فهذه المرأة خلصت حين سمح لها السيد بالدنو منه</p>
<p>حين بللت قدميه بدموعها ومسحتها بشعر رأسها .. ثم تدهنهما بالطيب .</p>
<p>إنها اقتربت إلى الله في دنسها ، لكي تعود طاهرة اقتربت إليه لتؤدي</p>
<p>واجب الاعتراف .. لتعود وقد أقرت وآمنت به .</p>
<p>ولأن السيد سمع أفكار الفريسي ، فياليت سمعان يدرك ويفهم بهذه</p>
<p>اللفتة ، أنه كان لا يجهل خطاياها ، كما استطاع أن يقرأ أفكاره .</p>
<p>قرأ السيد افكار الفريسي ولم يوبخ جحوده ، وانما في رقة حديث</p>
<p>كمن يسترعي اهتمام الجميع أرسل السيد مثل المديونين :</p>
<p>&#8211; یا سمعان عندي كلمة أقولها لك ..</p>
<p>&#8211; قل يا معلم ..</p>
<p>&#8211; كان لدائن مدینان ، على الواحد خمسمائة دينار وعلى الآخر</p>
<p>خسمون ولم يكن لها ما يوفيانه فسامحهما كليهما فمن منهما يحبه أكثر !؟</p>
<p>ويبدو أن سمعان لم تكن عنده أقل فكرة أن هذا السؤال له علاقة ما</p>
<p>بشخصه أو أنه هو المقصود به .. فأجاب :</p>
<p>&#8211;        أظن أن الذي سامحه بالأكثر .</p>
<p>أي نبي هذا أيها الفريسي الذي تريده أن يبغض الخطاة ويرفض أن</p>
<p>يلمسه الزناة ! فها هي عظام إليشع ، حين ألقى الرجال ميتاً في قبره</p>
<p>ولمس عظام النبي ، قام ومشى على رجليه .. فكيف تستكثر أن</p>
<p>يقيمها السيد من موت خطيئتها ، ويعيد إلى الحياة المترجين رحمته</p>
<p>!! لهذا تكلم السيد وعلى مسمع من الجميع .. والذين كانوا مثل</p>
<p>سمعان يجهلون حقيقة السيد ، اقتربوا إليه كما اقتربت هي إليه ،</p>
<p>ونالوا الشفاء ..</p>
<p>ولكي يعطي السيد للمرأة توكيداً بقبول ذبيحة حبها ، وبعد أن أرغم</p>
<p>سمعان على الإجابة التي تتمثل في المرأة ، ولكي لا تلدغ فيما بعد</p>
<p>من وخزات الضمير ، أشار إليها ، وهو يكمل حديثه لسمعان :</p>
<p>أترى هذه المرأة !</p>
<p>ويا له من عتاب رقيق ، فربما من فرط كبرياء سمعان أنه لم يكلف</p>
<p>خاطره حتى بمجرد النظر إليها أو يتأمل سكيبها مكتفياً بالقاء نظرة</p>
<p>عابرة مليئة بالإدانة ، فأراد السيد أن يوقظه من أفكاره الميتة حول</p>
<p>بره الذاتي ، فأشار إلى المرأة .</p>
<p>&#8211;        دخلت بيتك وماء لرجلي لم تعط . أما هذه فقد بللت بالدموع رجلي ومسحتهما بشعرها .</p>
<p>&#8211;        لم تقبل فمي . أما هي فمنذ دخلت بيتك لم تكف عن تقبيل قدمی ..</p>
<p>بزيت لم تدهن رأسي . أما هذه فقد دهنت بالطيب قدمی . وكأن السيد أراد بهذ الكلمات أن يقول له :</p>
<p>لقد أنفقت يا سمعان من مالك . لكن من عاطفتك وإيمانك لم تنفق .</p>
<p>لقد تعبت في إقامة وليمة .. لكن لم تكن محبتك لى هي الدافع .</p>
<p>وليس عن إيمان ومحبة صنعت ، لكن لتمجيد برك وإظهار کبریائك</p>
<p>.. أما هذه الخاطئة ففي وليمتها هذه وأن بدت حزينة ، لكن أفراحها</p>
<p>تسمع في السماء .. هي سكبت أغلى ما تملك ، سكبت نفسها فوق</p>
<p>طيبها .. وأحبت كثيراً .. ولهذا هأنذا أقول لها : مغفورة لك خطاياك ..</p>
<p>وهنا ابتدا المتكئون مع سمعان يقولون أيضاً في نفوسهم .. من هذا</p>
<p>الذي يغفر الخطايا أيضاً ! ولم يتجاسروا أن يتكلموا علانية فقد كان</p>
<p>سلطانه الناتج عن حبه وطهارته وقدسيته ، والسمو الذي يشع من</p>
<p>وجهه ويسمع في صوته ، كافيين لكي يحبسوا كلماتهم فتستحيل</p>
<p>بدورها إلى خواطر تجول بقلوبهم فحسب.</p>
<p>لا يزال سمعان والمتكئون معه ينظرون إلى السيد المسيح على أنه</p>
<p>إنسان ، أما هذه المرأة فقد رأت فيه معنی آخر .. عرفت أنه قادر</p>
<p>على غفران الخطايا .</p>
<p>كيف يكون هذا ! المرأة الخاطئة عرفته أما هم فلم يعرفوه .. والذين</p>
<p>جلسوا حول المائدة كأصحاء لم يعرفوا الطبيب الحقيقي مع أنهم أشد</p>
<p>مرضاً منها ، ربما يكونون خلال الحمى الشديدة التي أصابتهم قد</p>
<p>فقدوا عقولهم &#8230; فهذا المريض المجنون حين يضحك أو يسخر ،</p>
<p>يثير شفقة الذين في صحة حتى إلى البكاء ..</p>
<p>هي استطاعت أن تعرف فقد نالت الشفاء وامسكت بالحقيقة أما هم</p>
<p>فقد بقوا في تساؤلاتهم : من هذا الذي يغفر الخطايا ..</p>
<p>ولم يجب السيد على ما يخطر في قلوبهم . لم يعطهم رداً ( أنه</p>
<p>المسيا المنتظر ابن الله الذي يغفر الخطايا .. ) بل تركهم غارقين في</p>
<p>أفكارهم ، بينا يواصل حديثه للخاطئة وقد آمنت وتبررت به :</p>
<p>&#8211;              ايمانك قد خلصك . اذهبي بسلام ..</p>
<p>ها هو يصرفها وإلى سلام يفوق كل عقل . برفق وفي هدوء يرسلها</p>
<p>إلى الحرية : فتيلة مدخنة لا يطفىء وقصبة مرضوضة لا يقصف تتشدد مع الأيام ، تتوهج ، وتضيء على ممر الأجيال .. ترشد</p>
<p>اليائسين كيف يكون الإيمان والحب وكيف يعظم معه غفران المسيح</p>
<p>الذي أحب كل الخطاة ولا يزال ..</p>
<p>بينما الرحمة تودع المرأة التي سرقت الفردوس ، لا يزال حمل الله الوديع وخلال ما قاله لسمعان الفريسي يترجی ساعة عودتهم .. فهو</p>
<p>لم يدخل بيت سمعان عبثاً ليأكل خبزاً ، وذاك الفريسي الذي دعاه</p>
<p>ليطعمه ، ما كان يعرف أن السيد كان يريده هو .. يريد أن يتغذى</p>
<p>بإيمانه .. كما أشبع جوعه بإيمانها ..</p>
<p>لذلك ليت كل روح وقد خلصت من شرورها المتعددة أن تتطهر في</p>
<p>الكنيسة . تؤمن وتقرر وتقترب من أقدام السيد .. تبحث عن أثر</p>
<p>خطواته .. وتثق في الرجاء الحي للمسيا غافر الخطايا . فان حياة</p>
<p>غير تائبة ظاهرها الاحترام كما هي بادية في حياة سمعان ومن معه</p>
<p>لهي أكثر خطراً من حياة خاطئة المدينة الملطخة بالعار ، لكن في</p>
<p>اتضاع وحب تسعى إلى قدمی السيد ، وتكسر القارورة ولن تردد ما</p>
<p>كان يقال من حولها : لماذا هذا الإتلاف ؟!</p>
<p>أيهما أكثر حباً له ؟!</p>
<p>هذا هو سؤال السيد الذي طرحه على سمعان بعد أن انتهي من سرد</p>
<p>مثله . ويبدو أن سمعان لم تكن عنده أقل فكرة أن هذا السؤال له أية</p>
<p>علاقة بشخصه ، كما لم يكن عند داود أقل فكرة عندما بادر بإصدار</p>
<p>حكمه القاسي لناثان ..</p>
<p>كان السيد يريد أن يضع سمعان في كبريائه في موضع الاتهام ،</p>
<p>يشعره بأنه هو الذي أحب قليلاً ، في الوقت الذي يعطي فيه السيد</p>
<p>توكيداً للخاطئة بغفران خطاياها وقبولها ..</p>
<p>فقد كان سمعان الفريسي هو المعنى بالكلمات : الذي يغفر له قليلاً</p>
<p>يحب قليلاً !! فقد كان يظن أنه بار بلا خطيئة أو مرتكباً للقليل منها</p>
<p>.. ولهذا أظهر القليل من الحب للسيد .. قبله لم يقبله بها . ماء لرجليه</p>
<p>لم يعط . وزيت لم يدهن به رأسه . لم يقدم سمعان واجبات الاکرام</p>
<p>اللائق ، بينما أن الخاطئة التي عرفت أنها مريضة ، سكبت الطيب</p>
<p>والدموع كوسيلة إيجابية تحنن بها قلب السيد عليها ..</p>
<p>وكأن السيد يخاطب سمعان بهذه العبارات :</p>
<p>أيها الفريسي انك دعوتنی بدافع من الحب ولكنه الحب القليل ، لأنك</p>
<p>في كبرياء وغرور تحسب أن قليلاً قد غفر لك ، على مظنة أنك بار</p>
<p>لا تخطيء وإن أخطأت فيكون بالقدر القليل . بماذا تفكر أيها</p>
<p>الفريسي في نفسك إلا بهذه الكلمات :</p>
<p>&#8211;   أنا الذي لم يسبق لي أن اقترفت جرماً . هل أحسب من عداد المجرمين ! وأنا الذي لم أكن يوماً زانياً . هل أعاقب مثل</p>
<p>هؤلاء الزناة ! ولهذا وهو يرسل تلك المرأة إلى الحرية ، يكمل</p>
<p>حديثه كمن يقرأ حالة الرياء التي لسمعان ويقول : والذي يغفر</p>
<p>له قليل يحب قليلاً ..</p>
<p>هكذا كان انكماشك وراء جدران برك الذاتي . وهكذا أوصلك</p>
<p>تفكيرك البالى إلى الحب الناقص – إلى أن تحب قليلاً !!</p>
<p>أسوق هذا التفسير لئلا يفكر ويتبادر إلى ذهن أحدهم هذا التفكير</p>
<p>الخاطئ.. وخاصة ذاك الذي ينهمك في شهواته والذي تندر به</p>
<p>القديس بولس حين قال : لنفعل السيئات لتأتي الخيرات !</p>
<p>يقول هذا التفكير الخاطيء :</p>
<p>إذا كان الذي يغفر له قليل يحب قليلاً ..</p>
<p>والذي يغفر له الكثر ، يحب كثيراً فيكون من الأفضل لكي أحب</p>
<p>كثيراً أن أخطىء أكثر لأحصل على الغفران الأكثر .. لكي على</p>
<p>أساس الغفران أحب أكثر !!</p>
<p>وواضح ابتداء في الرد على هذا التفكير المنحرف ، أن السيد لم يكن</p>
<p>يقصد هذه المعاني ، ولا قالها منفصلة عن واقع الفريسي الأمر الذي</p>
<p>أوضحناه ، وواقع الخاطئة الذي عشنا أحداثه . والمسيح قصد بهذا</p>
<p>الإعلان ( من أجل ذلك أقول لك قد غفرت لها خطاياها الكثيرة لأنها</p>
<p>أحبت كثيراً ) ، إنه يؤكد محبتها التي صارت برهاناً للغفران</p>
<p>وعلامة من علاماته . بينما يوبخ شح الفريسي المستند على</p>
<p>الكبرياء والبر الذاتي ..</p>
<p>ولو تأملنا شخصين ، أحدهما ارتكب من الشرور الشيء القليل ،</p>
<p>والآخر منها الشيء الكثير ، ونال كل منها الغفران .. ثم تساءلنا من</p>
<p>منهما يحبه أكثر ؟ لكانت الإجابة أن كل منهما بمساواة يحبه .</p>
<ul>
<li>فالذي ارتكب من الشرور أقل مدين لله فيما لم يفعل إذ ساندته</li>
</ul>
<p>نعمة الله وحاصرته فلم يخطىء ..</p>
<ul>
<li>والذي ارتكب من الشرور أكثر مدين لله فيما فعل إذ نال الغفران</li>
</ul>
<p>والصفح من محبته التي لا تنتهي ..</p>
<p>دع الأول يعزى إلى الله ما لم يقترفه بسبب نعمة الله ..</p>
<p>تماماً كما يعزى الثاني إلى الله واسع رحمته فيما ارتكبه ..</p>
<p>وكأن السيد يرد على هذا التفكير الخاطىء ويقول :</p>
<p>كون الإغراءات والشهوات كانت قريبة منك ، فإذن هي نعمتي التي</p>
<p>حفظتك ، وتكون مديناً لها فيما لم ترتكب ..</p>
<p>أما أنت الذي ارتكبت من المعاصي . وكان قلبك لا يبصر النور ،</p>
<p>فانت مدين لرحمتی ومحبتي التي غلبت الموت .. تلك التي جعلتي</p>
<p>أبقى هكذا على الصليب ، ماداً ذراعي في وضع استعداد ، أقول لكل</p>
<p>خاطیء في دعوة فردية : تعال.</p>
<p>.. تعالوا أيها الإخوة نسمع أنفسنا في تلك الخاطئة ، ونقدم شكراً</p>
<p>لله من أجل نفوسنا .. فهذه التي دخلت البيت ، خاطئة المدينة ،</p>
<p>التي يعرف كل الناس سرها ، ما هي إلا رمزاً للكنيسة وتعبير لها .</p>
<p>فقد اختيرت الكنيسة من بين الأمم .. ها هي تأتي خاطئة ثم تنال</p>
<p>التبرير منه .. وبعد أن كانت رمزاً صارت الحقيقة نفسها ..</p>
<p>إنها أتت لتبرر . وإذ علمت أنه متکیء في بيت الفريسي جاءت</p>
<p>بوعاء من المرمر بالعطر رمزاً إلى الإيمان الجديد الذي يحوي كل الفضائل</p>
<p>لقد وقفت من ورائه ، أي من الخلف ، في المرتبة الثانية بعد</p>
<p>اليهود. وبعد أن رفض اليهود مسيحهم وإنجيل خلاصهم ، عبر إلى</p>
<p>الأمم .. وتلك التي جاءت من ورائه باكية ، جعلها الله لنا رمزاً لنراه.</p>
<p>ليتا بكل الوسائل نمسح قدميه . نفعل أعمال الرحمة .. بأفواهنا</p>
<p>نقبل قدميه . نستقبل السلام . نتمثل بإيمانها وننال الشفاء من كل أثامنا. <a href="#_ftn15" name="_ftnref15">[15]</a></p>
<p></p>
<p></p>
<p></p>
<h3>من وحي قراءات اليوم</h3>
<p></p>
<p>&#8220;خطاياها الكثيرة مغفورة لها لأنها أحبت كثيراً &#8221; (لو ٤٧:٧)</p>
<p>+ ماأصعب علي نفسي يارب أن أراك تعتبر إمرأة زانية أفضل مني ككاهن عشر مرات!</p>
<p>+ تركيزي في خطايا الآخرين يحدرني من خمس مائة إلي خمسين!</p>
<p>+ لم يري الفريسي نفسه مديونا لك بل ربما دائنا لك بعبادته وعشوره!</p>
<p>+ زيارتك لبيوتنا تهدف لخلاصنا بينما جعلناها نحن مصدر إفتخارنا ووقود كبرياؤنا</p>
<p>+ لم يستأسرك دموعها وطيبها وإنسحاقها فقط بل رائحة الحب الكائن فيها والخارج منها!</p>
<p>+ لم تتكلم المرأة لتدافع عن نفسها فتكلمت أنت معلنا خلاصها!</p>
<p>+ تفكير الفريسي كان في الطعام وإشتياق المرأة كان للسلام!</p>
<p>+ أصحاب البيت لم يقدروا نعمة زيارة السيد لبيوتهم فإغتنمها الغرباء!</p>
<p>+ دخلت المرأة بيت الفريسي دون دعوته وأعطاها السيد من غناه دون طلبها!</p>
<p>+ دامت هذه الزيارة للفريسي مصدر دائم لإفتخار كاذب وللمرأة نبع دائم لخلاص كامل</p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<h3>المراجع:</h3>
<p></p>
<p><a href="#_ftnref1" name="_ftn1"></a>١- النصرة &#8221;   القديس أمبروسيوس   تفسير سفر نشيد الأناشيد الإصحاح الأول &#8211; القمص تادرس يعقوب ملطي</p>
<p><a href="#_ftnref2" name="_ftn2"></a>٢- تفسير سفر يوئيل الإصحاح الثاني &#8211; القمص تادرس يعقوب ملطي</p>
<p><a href="#_ftnref3" name="_ftn3"></a>٣- JR, A. J. &amp; Oden, T.C. ( 2003 ). Luke (The Ancient Christian Commentary on Scripture,      New testament parIII . Illinois USA ) : InterVarsity press. Page 125 )</p>
<p>ترجمة الأخت إيفيت منير &#8211; كنيسة مار مرقس ببني سويف</p>
<p><a href="#_ftnref4" name="_ftn4"></a>٤- تفسير إنجيل لوقا للقديس كيرلس الإسكندري صفحة ١٨١ &#8211; ترجمة الدكتور نصحي عبد الشهيد</p>
<p><a href="#_ftnref5" name="_ftn5"></a>٥- المرجع : كتاب نقاوة القلب صفحة ٢٤٣ &#8211; إعداد راهب من دير السيدة العذراء &#8211; برموس</p>
<p><a href="#_ftnref6" name="_ftn6"></a>٦- القديس أوغسطينوس  المرجع : كتاب نقاوة القلب صفحة ٤٩٤ &#8211; إعداد راهب من دير السيدة العذراء &#8211; برموس</p>
<p><a href="#_ftnref7" name="_ftn7"></a>٧- المرجع : كتاب نقاوة القلب صفحة ٢٤٣ &#8211; إعداد راهب من دير السيدة العذراء &#8211; برموس</p>
<p><a href="#_ftnref8" name="_ftn8"></a>٨- كتاب من كتابات القديس يوحنا ذهبي الفم صفحة ١٦١ &#8211; القمص تادرس يعقوب ملطي.</p>
<p><a href="#_ftnref9" name="_ftn9"></a>٩- ترجمها عن اللغة القبطية: د. صموئيل القس قزمان معوض &#8211; قسم الدراسات القبطية &#8211; جامعة مونستر بألمانيا</p>
<p><a href="#_ftnref10" name="_ftn10"></a>١٠- المرجع : كتاب المنجلية القبطية الأرثوذكسية صفحة ١٩٣</p>
<p><a href="#_ftnref11" name="_ftn11"></a>١١- المرجع : كتاب شفتاك يا عروس تقطران شهدا -الجزء ٢ ص ٢٢٩-  ٢٣١</p>
<p>دير الانبا شنودة رئيس المتوحدين – ايبارشية ميلانو</p>
<p><a href="#_ftnref12" name="_ftn12"></a>١٢- المرجع كتاب تاملات وعناصر روحية في احاد وايام السنة التوتية اعداد القمص تادرس البرامزسي</p>
<p><a href="#_ftnref13" name="_ftn13"></a>١٣- المرجع : كتاب تأملات روحية في قراءات أناجيل آحاد السنة القبطية &#8211; المتنيح القمص لوقا سيداروس</p>
<p><a href="#_ftnref14" name="_ftn14"></a>١٤- المرجع : كتاب المواعظ النموذجية &#8211; الجزء الأول ( صفحة ٢١١ &#8211; ٢١٦ ) &#8211; القمص بولس باسيلي</p>
<p><a href="#_ftnref15" name="_ftn15"></a>١٥- المرحع كتاب معاملات المسيح مع الخطاة للارشيدياكون رمسيس نجيب</p>
<p></p>
<p></p>
<p></p>

      {% endcreateArticleAccordions %}
    </section>
  {% endblock %}
  