---
layout: 'layouts/reading.html'
title: 'الأحد الأول من شهر بؤونة'
tags: 'sundays'
permalink: /articles/sundays/10-1.html
---
  {% block content %}
    <section id="readings">
      <ul>
      {% if 'undefined' != 'undefined' %}
      
      {% else %}
      {% if '19.9:10' != 'null' %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">العشية</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeVespers '19.9:10' '40.17:1-13' %}
          </div>
        </div>
      </li>
      {% endif %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">باكر</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeMatins '19.67:1-2' '40.28:1-20' '' %}
          </div>
        </div>
      </li>
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <h3 class="flex items-center justify-between">
            <span class="kufi">القداس</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </h3>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeLitugy '45.15:13-29' '60.1:1-9' '44.12:25*@+44.13:1-12' '19.143:10,8' '42.11:1-13' %}
          </div>
        </div>
      </li>

      {% endif %}
        </ul>
    </section>
    <section id="article">
      <h3 class="mt-8 mb-4 heading-explain">شرح القراءات</h3>
      {% createArticleAccordions %}
        <p>&#8220;<strong> افرحوا كل حين صلوا بلا انقطاع اشكروا في كل شيء،</strong> لأن هذه هي مشيئة الله في المسيح يسوع من جهتكم لا تطفئوا الروح لا تحتقروا النبوات امتحنوا كل شيء. تمسكوا بالحسن امتنعوا عن كل شبه شر &#8221; (١تس ٥: ١٦-٢٢)</p>
<p>&#8221; الفاعل بسلطةٍ مسرتك الطهر علي الذين أحبَّهم وليس كالخادم، البسيط في طبيعته الكثير الأنواع في فعله ينبوع النعم الإلهية &#8221;      سر حلول الروح القدس (القدَّاس الكيرلسي )</p>
<p><strong>&#8221; هل الروح فينا؟</strong> نعم، بالحق هو فينا، فإننا إذ ننزع الكذب والمرارة والزنا والنجاسة والطمع عن نفوسنا، وإذ نصير هكذا متحننين، مسامحين بعضنا البعض، ليس فينا مزاح، بهذا نحسب مؤهلين، فما الذي يمنع الروح من حلوله فينا وإنارتنا؟ &#8220;<a href="#_ftn1" name="_ftnref1">[1]</a></p>
<h3>شواهد القراءات</h3>
<p>(مز ٦:٩) (مت ١٧: ١-١٣)، (مز ٦٦: ١-٢)، (مت ٢٨: ١-٢٠)، (رو ١٥: ١٣- ٢٩)، (١بط ١: ١-٩)،</p>
<p>(أع ١٢: ٢٥-١٣: ١-١٢)، (مز ١٤٢: ٩-٨)، (لو ١١: ١-١٣)</p>
<h3>ملاحظات على قراءات اليوم</h3>
<p>+ قراءة إنجيل عشيَّة اليوم (مت ١٧: ١ - ١٣) تُشبه قراءة إنجيل باكر (مت ١٧: ١ - ٩)<a href="https://katameros.bible/church-reading/%d8%a7%d9%84%d9%8a%d9%88%d9%85-%d8%a7%d9%84%d8%ab%d8%a7%d9%85%d9%86-%d9%85%d9%86-%d8%b4%d9%87%d8%b1-%d8%aa%d9%88%d8%aa/"> يوم ٨ توت</a> (تذكار موسي رئيس الأنبياء) ،<a href="https://katameros.bible/church-reading/%d8%a7%d9%84%d9%8a%d9%88%d9%85-%d8%a7%d9%84%d8%ab%d8%a7%d9%84%d8%ab-%d8%b9%d8%b4%d8%b1-%d9%85%d8%b3%d8%b1%d9%8a-%d8%b9%d9%8a%d8%af-%d8%a7%d9%84%d8%aa%d8%ac%d9%84%d9%91%d9%8a-%d8%a7%d9%84%d9%85%d9%8f/"> يوم ١٣ مسري ( عيد التجلّي )</a></p>
<p>مجئ القراءة اليوم بزيادة أربع آيات (مت ١٧: ١ - ١٣)، وهي هنا تحتوي علي موضوعين: أولهما من آية ١ - ٩ وهي القراءة الخاصة بتجلَّي رب المجد أمام تلاميذه القديسين وهو الجزء المتوافق مع موضوع شهر بؤونه &#8221; الإمتلاء من الروح القدس &#8221; ومجد البشرية في المسيح</p>
<p>أمَّا الجزء المُضاف أي الأربع آيات الزائدة (عن<a href="https://katameros.bible/church-reading/%d8%a7%d9%84%d9%8a%d9%88%d9%85-%d8%a7%d9%84%d8%ab%d8%a7%d9%85%d9%86-%d9%85%d9%86-%d8%b4%d9%87%d8%b1-%d8%aa%d9%88%d8%aa/"> يومي ٨ توت،</a> <a href="https://katameros.bible/church-reading/%d8%a7%d9%84%d9%8a%d9%88%d9%85-%d8%a7%d9%84%d8%ab%d8%a7%d9%84%d8%ab-%d8%b9%d8%b4%d8%b1-%d9%85%d8%b3%d8%b1%d9%8a-%d8%b9%d9%8a%d8%af-%d8%a7%d9%84%d8%aa%d8%ac%d9%84%d9%91%d9%8a-%d8%a7%d9%84%d9%85%d9%8f/">١٣ مسري)</a> هو الجزء من آية ١٠ - ١٣ وهي القراءة الخاصة بيوحنا المعمدان، ولعل السبب في إضافتها هو مجئ<a href="https://katameros.bible/church-reading/%d8%a7%d9%84%d8%a3%d8%ad%d8%af-%d8%a7%d9%84%d8%a3%d9%88%d9%84-%d9%85%d9%86-%d8%b4%d9%87%d8%b1-%d8%a8%d8%a4%d9%88%d9%86%d9%87/"> الأحد الأول من بؤونه</a> مع تذكار يوحنا المعمدان <a href="https://katameros.bible/church-reading/%d8%a7%d9%84%d9%8a%d9%88%d9%85-%d8%a7%d9%84%d8%ab%d8%a7%d9%86%d9%8a-%d9%85%d9%86-%d8%a8%d8%a4%d9%88%d9%86%d8%a9/">( ٢ بؤونه )</a> ، وهو الذي يوضِّح توافق قراءات بعض الآحاد مع أعياد القديسين المشهورين والأعياد السيدية وأعياد العذراء والملائكة ( يمكن الرجوع لباب نظره عامة في قراءات الآيام )</p>
<p>وتأتي<a href="https://katameros.bible/church-reading/%d8%a7%d9%84%d9%8a%d9%88%d9%85-%d8%a7%d9%84%d8%ab%d8%a7%d9%85%d9%86-%d9%85%d9%86-%d8%b4%d9%87%d8%b1-%d8%aa%d9%88%d8%aa/"> يوم ٨ توت</a> لأجل ظهور موسي وإيليا مع الرب علي الجبل، وتأتي<a href="https://katameros.bible/church-reading/%d8%a7%d9%84%d9%8a%d9%88%d9%85-%d8%a7%d9%84%d8%ab%d8%a7%d9%84%d8%ab-%d8%b9%d8%b4%d8%b1-%d9%85%d8%b3%d8%b1%d9%8a-%d8%b9%d9%8a%d8%af-%d8%a7%d9%84%d8%aa%d8%ac%d9%84%d9%91%d9%8a-%d8%a7%d9%84%d9%85%d9%8f/"> يوم ١٣ مسري</a> لأجل التجلَّي ذاته</p>
<p>+ قراءة الكاثوليكون اليوم (١بط ١: ١ - ٩) هي نفس قراءة الكاثوليكون <a href="https://katameros.bible/church-reading/%d8%a7%d9%84%d8%aa%d8%a7%d8%b3%d8%b9-%d9%88%d8%a7%d9%84%d8%b9%d8%b4%d8%b1%d9%88%d9%86-%d9%85%d9%86-%d9%87%d8%a7%d8%aa%d9%88%d8%b1/">ليوم ٢٩ هاتور</a> (تذكار البابا بطرس خاتم الشهداء)</p>
<p>مجيء القراءة من بداية الإصحاح (بطرس رسول يسوع المسيح &#8230;) رُبَّما يكون سببه اسم القديس بطرس، لذلك جاءت في تذكار البابا بطرس، وفي<a href="https://katameros.bible/church-reading/%d8%a7%d9%84%d8%a3%d8%ad%d8%af-%d8%a7%d9%84%d8%a3%d9%88%d9%84-%d9%85%d9%86-%d8%b4%d9%87%d8%b1-%d8%a8%d8%a4%d9%88%d9%86%d9%87/"> الأحد الأوَّل من شهر بؤونه</a> لأجل نهاية القراءة &#8221; غاية إيمانكم خلاص أنفسكم &#8221;</p>
<p style="text-align: right;">كما أنها تُشبه قراءة الكاثوليكون (١بط ١: ١ - ١٢) <a href="https://katameros.bible/church-reading/%d8%a7%d9%84%d8%a3%d8%ad%d8%af-%d8%a7%d9%84%d8%a7%d9%88%d9%84-%d9%85%d9%86-%d8%b4%d9%87%d8%b1-%d8%a7%d8%a8%d9%8a%d8%a8/">للأحد الأوَّل من شهر أبيب</a> لأجل اسم القديس بطرس (آية ١ ) والذي يأتي مع عيد آبائنا الرسل الأطهار</p>
<p>وتُشبه قراءة الكاثوليكون (١بط ١: ٣ - ١٢) <a href="https://katameros.bible/church-reading/%d8%b9%d9%8a%d8%af-%d8%a7%d9%84%d8%b5%d9%84%d9%8a%d8%a8-%d9%82%d8%b1%d8%a7%d8%a1%d8%a7%d8%aa-%d8%a7%d9%84%d9%8a%d9%88%d9%85-%d8%a7%d9%84%d8%ab%d8%a7%d9%86%d9%8a-%d9%a1%d9%a8-%d8%aa%d9%88%d8%aa/">لثاني يوم عيد الصليب</a> <a href="https://katameros.bible/church-reading/%d8%a7%d9%84%d9%8a%d9%88%d9%85-%d8%a7%d9%84%d8%ab%d8%a7%d9%86%d9%8a-%d8%b9%d8%b4%d8%b1-%d9%85%d9%86-%d8%b4%d9%87%d8%b1-%d8%a8%d8%a7%d8%a8%d9%87/">يوم ١٢ بابة</a> (شهادة القديس متي الإنجيلي) ،<a href="https://katameros.bible/church-reading/%d8%a7%d9%84%d9%8a%d9%88%d9%85-%d8%a7%d9%84%d8%aa%d8%a7%d8%b3%d8%b9-%d9%85%d9%86-%d9%87%d8%a7%d8%aa%d9%88%d8%b1-%d8%aa%d8%b0%d9%83%d8%a7%d8%b1-%d8%a5%d9%86%d8%b9%d9%82%d8%a7%d8%af-%d9%85%d8%ac%d9%85/">يوم ٩ هاتور</a> (تذكار انعقاد مجمع نيقية) ، <a href="https://katameros.bible/church-reading/%d8%a7%d9%84%d8%ab%d8%a7%d9%86%d9%8a-%d9%88%d8%a7%d9%84%d8%b9%d8%b4%d8%b1%d9%88%d9%86-%d9%85%d9%86-%d9%83%d9%8a%d9%87%d9%83/">٢٢ كيهك</a> ( تذكار الملاك غبريال ) ،<a href="https://katameros.bible/church-reading/%d8%a7%d9%84%d9%8a%d9%88%d9%85-%d8%a7%d9%84%d8%ab%d8%a7%d9%84%d8%ab-%d9%85%d9%86-%d8%a7%d9%84%d8%b4%d9%87%d8%b1-%d8%a7%d9%84%d8%b5%d8%ba%d9%8a%d8%b1/"> ٣ نسئ</a> ( تذكار الملاك روفائيل )</p>
<p>وهي القراءة التي تكلمت عن الخلاص بالصليب الذي فتش وبحث عنه أنبياء (عيد الصليب)، وعن الذين بشروكم في الروح القدس مثل الآباء الرسل<a href="https://katameros.bible/church-reading/%d8%a7%d9%84%d9%8a%d9%88%d9%85-%d8%a7%d9%84%d8%ab%d8%a7%d9%86%d9%8a-%d8%b9%d8%b4%d8%b1-%d9%85%d9%86-%d8%b4%d9%87%d8%b1-%d8%a8%d8%a7%d8%a8%d9%87/"> (١٢ بابه)،</a> وعن نقاوة هذا الإيمان والشهادة له <a href="https://katameros.bible/church-reading/%d8%a7%d9%84%d9%8a%d9%88%d9%85-%d8%a7%d9%84%d8%aa%d8%a7%d8%b3%d8%b9-%d9%85%d9%86-%d9%87%d8%a7%d8%aa%d9%88%d8%b1-%d8%aa%d8%b0%d9%83%d8%a7%d8%b1-%d8%a5%d9%86%d8%b9%d9%82%d8%a7%d8%af-%d9%85%d8%ac%d9%85/">(٩ هاتور)</a>، وأنه شهوة الملائكة (<a href="https://katameros.bible/church-reading/%d8%a7%d9%84%d8%ab%d8%a7%d9%86%d9%8a-%d9%88%d8%a7%d9%84%d8%b9%d8%b4%d8%b1%d9%88%d9%86-%d9%85%d9%86-%d9%83%d9%8a%d9%87%d9%83/">يوم ٢٢ كيهك</a> ، و <a href="https://katameros.bible/church-reading/%d8%a7%d9%84%d9%8a%d9%88%d9%85-%d8%a7%d9%84%d8%ab%d8%a7%d9%84%d8%ab-%d9%85%d9%86-%d8%a7%d9%84%d8%b4%d9%87%d8%b1-%d8%a7%d9%84%d8%b5%d8%ba%d9%8a%d8%b1/">يوم ٣ نسئ )</a></p>
<p>+ قراءة الإبركسيس اليوم (أع ١٢: ٢٥ - ١٣: ١ - ١٢) تكرَّرت في<a href="https://katameros.bible/church-reading/%d8%a7%d9%84%d8%ae%d8%a7%d9%85%d8%b3-%d9%88%d8%a7%d9%84%d8%b9%d8%b4%d8%b1%d9%88%d9%86-%d9%85%d9%86-%d9%87%d8%a7%d8%aa%d9%88%d8%b1/"> يوم ٢٥ هاتور،</a> وفي <a href="https://katameros.bible/church-reading/%d8%a7%d9%84%d9%8a%d9%88%d9%85-%d8%a7%d9%84%d8%ab%d8%a7%d9%84%d8%ab-%d8%b9%d8%b4%d8%b1-%d9%85%d9%86-%d8%b4%d9%87%d8%b1-%d8%a8%d8%b1%d9%85%d9%87%d8%a7%d8%aa/">يوم ١٣ برمهات</a></p>
<p>مجيئها هذا اليوم للإشارة إلى ما جاء في آية ٢ (بينما هم يخدمون الرب ويصومون قال الروح القدس) عن الكنيسة المملوءة من الروح القدس والتي يقودها الروح في كل خدماتها</p>
<p>بينما مجيئها في أيام <a href="https://katameros.bible/church-reading/%d8%a7%d9%84%d8%ae%d8%a7%d9%85%d8%b3-%d9%88%d8%a7%d9%84%d8%b9%d8%b4%d8%b1%d9%88%d9%86-%d9%85%d9%86-%d9%87%d8%a7%d8%aa%d9%88%d8%b1/">٢٥ هاتور،</a> <a href="https://katameros.bible/church-reading/%d8%a7%d9%84%d9%8a%d9%88%d9%85-%d8%a7%d9%84%d8%ab%d8%a7%d9%84%d8%ab-%d8%b9%d8%b4%d8%b1-%d9%85%d9%86-%d8%b4%d9%87%d8%b1-%d8%a8%d8%b1%d9%85%d9%87%d8%a7%d8%aa/">١٣ برمهات</a> للإشارة إلي السلطان الإلهي في كلام القديسين أمام الأشرار كما حدث مع القديس بولس وأيضاً الشهيد أبوسيفين <a href="https://katameros.bible/church-reading/%d8%a7%d9%84%d8%ae%d8%a7%d9%85%d8%b3-%d9%88%d8%a7%d9%84%d8%b9%d8%b4%d8%b1%d9%88%d9%86-%d9%85%d9%86-%d9%87%d8%a7%d8%aa%d9%88%d8%b1/">(٢٥ هاتور)</a> وكما آمن الوالي لما رأي الأعجوبة الحادثة هكذا آمن الحارس لما رأي الأكاليل السماوية في تذكار الأربعين شهيداً بسبسطية<a href="https://katameros.bible/church-reading/%d8%a7%d9%84%d9%8a%d9%88%d9%85-%d8%a7%d9%84%d8%ab%d8%a7%d9%84%d8%ab-%d8%b9%d8%b4%d8%b1-%d9%85%d9%86-%d8%b4%d9%87%d8%b1-%d8%a8%d8%b1%d9%85%d9%87%d8%a7%d8%aa/"> (١٣ برمهات)</a></p>
<p>+ آية ٨ من مزمور القدَّاس اليوم (مز ١٤٢: ٨) تكرَّرت في مزمور باكر<a href="https://katameros.bible/church-reading/%d8%a7%d9%84%d8%a3%d8%ad%d8%af-%d8%a7%d9%84%d8%b1%d8%a7%d8%a8%d8%b9-%d9%85%d9%86-%d8%b4%d9%87%d8%b1-%d9%87%d8%a7%d8%aa%d9%88%d8%b1/"> الأحد الرابع من شهر هاتور</a></p>
<p>(عرفني يارب الطريق التي أسلك فيها لأني إليك رفعت نفسي)</p>
<p>الإشارة اليوم إلى قيادة الروح في طريق الحياة، وهذا يظهر أكثر في تكملة هذا المزمور في آية ١٠</p>
<p>علمني أن أعمل رضاك، لأنك أنت إلهي. روحك الصالح يهديني في أرض مستوية</p>
<p>وفي <a href="https://katameros.bible/church-reading/%d8%a7%d9%84%d8%a3%d8%ad%d8%af-%d8%a7%d9%84%d8%b1%d8%a7%d8%a8%d8%b9-%d9%85%d9%86-%d8%b4%d9%87%d8%b1-%d9%87%d8%a7%d8%aa%d9%88%d8%b1/">الأحد الرابع من شهر هاتور</a> الإشارة إلى اشتياق الإنسان لمعرفة الطريق مثل الشاب الغني موضوع إنجيل قدَّاس ذاك الأحد</p>
<h3>شرح القراءات</h3>
<p>تعلن المزامير كيف نسعى للامتلاء بالروح</p>
<p>تبدأ المزامير بالطلب الدائم (مزمور عشيّة) والاحتياج إلي نور وجهه (مزمور باكر ) وقيادة روحه ( مزمور القدَّاس )</p>
<p>مزمور عشية يبدأ بالاتكال والطلب الدائم (ويتكل عليك الذين يعرفون اسمك فلا تترك طالبيك يا رب )</p>
<p>ومزمور باكر يطلب الاستنارة والإستعلان (وليظهر وجهه علينا ويرحمنا لتعرف في الأرض طريقك وفي كل الأمم خلاصك)</p>
<p>ومزمور القداس قيادة الروح (روحك القدوس يهديني إلي الاستقامة)</p>
<p>ويظهر إنجيل عشيّة نصيب البشرية من الامتلاء بالروح وتجلي الطبيعة البشرية في المسيح (وبعد ستة أيام أخذ يسوع بطرس ويعقوب ويوحنا أخاه وأصعدهم علي جبل عال منفردين وحدهم وتجلي قدامهم وأضاء وجهه كالشمس وصارت ثيابه كالنور)</p>
<p>وتُعْلِن القراءات عن عمل الروح في ملء الرجاء ( البولس ) وكمال التطهير والتقديس والتنقية ( الكاثوليكون ) وقيادة الروح للخدمة في الكنيسة المُقدَّسة ( الإبركسيس )</p>
<p>في البولس نري ملء الروح في حياة المؤمنين في غني رجاءهم وفيض صلاحهم (وليملاكم إله الرجاء من كل فرح وسلام عندما تؤمنون وتزدادون في الرجاء بقوة الروح القدس وأنا نفسي أيضا يا إخوتي متيقن من جهتكم: أنكم أنتم مشحونون من كل عمل صالح )</p>
<p>لكنه يعلن أيضا ملء الروح وفعله في الخدمة والكرازة (لأجل إطاعة الأمم بالقول والفعل بقوة آيات وعجائب وبقوة الروح القدس حتى إني من أورشليم وما حولها إلي إلليريكون قد أتممت بشارة المسيح)</p>
<p>أما الكاثوليكون فيعلن دور وعمل الروح القدس في الخلاص فهو روح التقديس والطاعة لكيما نتنقى دائما ونتطهر ويتزكى إيماننا (بمقتضي علم الله الآب السابق في تقديس الروح للطاعة ورش دم يسوع المسيح &#8230;.. للميراث الذي لا يبلي ولا يتدنس ولا يضمحل &#8230;. لكي تكون تزكية إيمانكم كريمة أفضل من الذهب)</p>
<p>بينما يعلن الإبركسيس الكنيسة الممتلئة بالروح من خلال الصوم والصلاة وهو أساس دعوة الخدمة فيها (وبينما هم يخدمون الرب ويصومون قال الروح القدس: أفرزوا لي برنابا وشاول للعمل الذي قد دعوتهما إليه حينئذ صاموا وصلوا ووضعوا عليهما الأيادي ثم أطلقوهما فهذان إذ أرسلا من الروح القدس انحدرا إلى سلوكية)</p>
<p>وهو أيضا الروح الذي يعطي سلطان للخادم على قوات الشر والظلمة (وأما شاول الذي هو بولس أيضا فامتلأ من الروح القدس وقال: أيها الممتلىء من كل غش وكل خبث ياابن إبليس ياعدو كل بر ألا تزال تفسد سبل الرب المستقيمة فالآن هوذا يد الرب تأتي عليك فتكون أعمي لاتبصر الشمس إلى حين ففي الحال وقع عليه ضباب وظلمة وكان يدور ملتمسا من يقوده بيده فالوالي حينئذ لما رأي آمن وتعجب من تعليم الرب)</p>
<p>ويختم إنجيل القداس بقيمة اللجاجة وهدف حياة الصلاة وهو الامتلاء من الروح القدس فهذا هو سؤالنا وطلبنا وهدف قرعنا الدائم علي باب محبته الإلهية (وأنا أيضا أقول لكم: اسألوا تعطوا أطلبوا تجدوا اقرعوا يفتح لكم &#8230;. فأي أب منكم يسأله ابنه خبزا فيعطيه حجرا &#8230; فإن كنتم وأنتم أشرار تعرفون أن تعطوا أولادكم عطايا جيدة فكم بالحري الآب من السماء يعطي الروح القدس للذين يسألونه)<a href="#_ftn2" name="_ftnref2">[2]</a></p>
<p>&#8221; الآب الذي من السماء. لاحظ الفرق بين العبارة في الصلاة الربانية - أبانا الذي في السموات - والعبارة في هذه الآية - من السماء - ان في هذا إشارة إلي أننا متي صلينا تتوجه قلوبنا إليه إلي السماء وترتقي أفكارنا إلي هناك ولكن حينما يستجيب طلباتنا ويهب لنا الخيرات العظيمة فكأنه يتنازل نحونا من السماء &#8221;</p>
<h3>ملخّص القراءات</h3>
<p>لذا توضح قراءات اليوم أن ملء الروح يجب أن يكون هدف صلاتنا وعبادتنا                               (إنجيل القداس)</p>
<p>ويُعْطَي للمتكلين عليه العارفين طريقه والساعين إلي الاستقامة                                 (مزمور عشية وباكر والقداس)</p>
<p>وهو الذي يُقدِّسنا للتمام                                                                                           ( الكاثوليكون )</p>
<p>ويملانا من الرجاء                                                                                                 ( البولس )</p>
<p>ويعطي الكنيسة صحة الدعوة والسلطان علي قوات الظلمة                                                     ( الإبركسيس )</p>
<p>ويعطي اتساع للخدمة والكرازة                                                                                        ( البولس )</p>
<p>ويصعد بِنَا في المسيح ومعه إلي جبل التجلي                                                                      (إنجيل باكر )</p>
<h3>صلاة أبانا الذي في السموات في فكر آباء الكنيسة</h3>
<p>علم يسوع تلاميذه كيف يصلون (العلامة اوريجانوس). بتعليمه تلاميذه أن يخاطبوا الله كأب، يضعهم يسوع في نفس العلاقة التي له مع الله، وهذه حظوة ومسؤولية (القديس كيرلس الأسكندرى). فى كل (مواضع) الإنجيل، سيلاحظ التلاميذ علاقة يسوع مع الله الآب وسيدركون انهم أولاد لله من خلال ابن الله وأن كل الصلوات للآب دائما ما تكون من خلال الابن (العلامة أوريجانوس).</p>
<p>يتضرع يسوع للأب أولا بخصوص من هو الله — اسمه — عمله — سلطانه كملك — يعلم يسوع تلاميذه أن يتعاملوا مع اسم الله كاسم مقدس بمخاطبة الله كأب أن يتقدس اسمه بيننا، واثقين أنه سيستجيب بنعمته من أجل ابنه. القديسون فقط يستطيعون أن يصلوا &#8220;ليأتي ملكوتك&#8221; لأن الأشرار لا يريدون ملك (حكم) الله بينما هم لايزالون فى خطاياهم. أن تصلى أن تسري مشيئة الله على الأرض كما هي في السماء هو أن تصلى من أجل الحياة النقية الخالية من الملامة كحياة القديسين في السماء الذين يسكنون فى القداسة فى حضرة الله (القديس كيرلس الأسكندرى). فى الحقيقة، أن تصلى من أجل ملكوت الله هو أن تصلى من أجل نفسك كواحد من القديسين الذين يقطنون فى الملكوت (القديس أوغسطينوس).</p>
<p>أن تصلى من أجل الخبز هو أن تصلى من أجل فقر القديسين وليس من أجل الغنى (الثراء)، لأن المحتاجين فقط هم الذين يصلون هذا الطلب. إن هذأه الطلبة تحتوي التقوى السرية آلتي تؤدى إلى عدة تفاسير، ولكنها تتركز في الخبز الضروري والكافي (القديس مار إفرايم السرياني). تاريخ التفاسير يعكس مفهومين رئيسين ١) الخبز المادة الضروري للحياة في هذا العالم ٢) الخبز الجوهري الذي يؤدى إلى الحياة في الدهر الآتي كقوت روحي في الزمن الحالي. بدلا من جعل هذين الأمرين متضادين يقترح اللاهوت الجامع للقديس لوقا (الانجيلي) أن نرى الأمرين معا في ذات (نفس) الوقت (القديس يوحنا كاسيان). عندما نصلى من أجل الخبز، نحن نصلى من أجل المسيح خبزنا، حيث إن المسيح هو الحياة، والحياة خبز، ألم يقل المسيح &#8220;أنا هو خبز الحياة&#8221;. (العلامة ترتليان).</p>
<p>غفران الخطايا، الطلبة التي تلي الصلاة من أجل الخبز في الصلاة الربانية، تعطى توازنا للصلاة من أجل الخبز. أن نغفر الخطايا هو تمثل بالله (محاكاة الله) الذي يعطينا الحل (الغفران) من كل آثامنا (القديس كيرلس الإسكندرى). أن تغفر الخطية هو ان تخدم الله الذي خدمنا بغفران خطايانا (العلامة أوريجانوس). المجرب هو الشيطان، وليس الرب، كما وضح فى تجارب الشيطان ليسوع في البرية (العلامة ترتليان). القديس لوقا (فى إنجيله) لم يشمل طلبة نجنا من الشر، لأن أن ننجو من التجربة هو نفسه أن ننجو من الشر (القديس كيرلس الأسكندرى).</p>
<p>قواعد الضيافة فى القرن الأول اقتضت ان يقوم المجتمع بضيافة الضيف القادم فى منتصف الليل. يتكلم يسوع عن ضيافة الله، الذي هو، مهما كانت الظروف، كريم ومعطاء، يوفر ما نحتاجه، لأن الله أكثر فضلا مما يستطيع أى إنسان (القديس أوغسطينوس). الخبزات الثلاث تمثل التغذية التي نتلقاها من الله في الأسرار الإلهية. (القديس أمبروز)</p>
<p>إننا نسأل بالصلاة، نطلب بأن نحيا كما يليق، ونقرع بأن نثابر فى الإيمان (بيدي). كمانح للعطايا الجيدة والنعم، يعدنا الله بقسم أنه سيستجيب لصلواتنا إذا سألنا، طلبنا وقرعنا، ولكن دائما بحسب توقيته (القديس كيرلس الأسكندرى). أن نقرع على باب الرب يعنى أن نصلى له. الذي نطلبه هو ملكوت الله وحكمه الذى ينعكس(نراه) فى الآب البشرى الذى يمنح عطايا جيدة لأولاده (بيدى). السمكة، البيضة، والخبز تمثل العطايا الإنعامية الجيدة وهي الإيمان، الرجاء والمحبة التي يعطيها الآب السمانى إلى أولاده على الأرض (القديس أوغسطينوس). عندما نصلى ينبغى أن نطلب هذه العطايا التى تأتى من الروح (القدس) وليس الأشياء التي تضر جسدنا أو نفسنا، لأن الآب يريد أن يمنحنا العطايا الجيدة التى تجعلنا مقدسين وبلا لوم مع القديسين والملائكة المقدسين (القديس كيرلس الأسكندرى).<a href="#_ftn3" name="_ftnref3">[3]</a></p>
<h3>الكنيسة في قراءات اليوم</h3>
<p>ابن الله شمس البرّ ورب الأنبياء                                         إنجيل عشيّة</p>
<p>قبول الأمم                                                                    البولس</p>
<p>الثالوث والميراث السماوي + امتحان الإيمان                          الكاثوليكون</p>
<p>قيادة الروح القدس للكنيسة وإرسالية الرعاة                          الإبركسيس</p>
<p>الصلوات المحفوظة (الصلاة الربانيّة)                                  انجيل القدَّاس</p>
<h3>أفكار مقترحة لعظات</h3>
<p><b>(١) الامتلاء من الروح القدس</b></p>
<p><b>١- مصدر الامتلاء ( إشراقة نور وجه الإبن علينا )</b></p>
<p>&#8221; وأضاء وجهه كالشمس &#8221; إنجيل عشيّة</p>
<p>&#8221; وليُظهر وجهه علينا &#8221; مزمور باكر</p>
<p><strong>٢- علامات </strong><b>الامتلاء</b></p>
<p>النمو في حياة الرجاء والفرح والسلام بفعل الروح القدس</p>
<p>&#8221; وليملأكم إله الرجاء من كل فرح وسلام عندما تؤمنون وتزدادون في الرجاء بقوة الروح القدس &#8221;   البولس</p>
<p><b>٣- مجد الامتلاء (مُعجزات عمل الروح القدس في الخدمة )</b></p>
<p>&#8221; لأجل إطاعة الأمم بالقول والفعل بقوة آيات وعجائب وبقوة الروح القدس &#8221;                                البولس</p>
<p><strong>٤- دوام وضمان الإمتلاء (طاعة النفس لعمل الروح القدس)</strong></p>
<p>&#8221; بمقتضي علم الله الآب السابق في تقديس الروح للطاعة ورش دم يسوع المسيح &#8221;               الكاثوليكون</p>
<p><strong>٥- قيادة الروح القدس للخدّام والرعاة</strong></p>
<p>&#8221; وبينما هم يخدمون الرب ويصومون قال الروح القدس: أفرزوا لي برنابا وشاول للعمل الذي قد دعوتهما إليه حينئذ صاموا وصلوا ووضعوا عليهما الأيادي ثم أطلقوهما فهذان إذ أُرسلا من الروح القدس &#8221;                              الإبركسيس</p>
<p><strong>٦- دعم الروح القدس للخدّام والرعاة ضد قوات الظلمة</strong></p>
<p>&#8221; وأما شاول الذي هو بولس أيضاً فامتلأ من الروح القدس وقال: أيها الممتلئ من كل غش وكل خبث &#8221;   الإبركسيس</p>
<p><b>٧- استقامة النفس إحدى مفاعيل فعل الروح القدس في الإنسان</b></p>
<p>&#8221; روحك القدّوس يهديني إلى الاستقامة &#8221;    مزمور القدَّاس</p>
<p><b>٨- أهم هدف للصلاة هو الامتلاء من الروح القدس</b></p>
<p>&#8221; فكم بالحريّ الآب من السماء يعطي الروح القدس للذين يسألونه &#8221;      إنجيل القدَّاس</p>
<p><strong>(٢) طلباتنا من الله (بين عثرات الصلاة وبساطتها وجوهرها وعمقها)</strong></p>
<p><strong>١-عثرات الصلاة</strong></p>
<p>هذا الجيل يريد أن يُري آية</p>
<p>هذه هي آفة العصر الحالي هوس المُعجزات وطلب حل المشاكل بمعجزة وشفاء الأمراض بمعجزة والانتقام من المُضْطَهِدِين بمعجزة وهكذا تحولت الصلاة إلى انتظار الآية والمعجزة رغم أن جواب الرب علي هذا السؤال بمعجزة الصليب (لأَنَّهُ كَمَا كَانَ يُونَانُ فِي بَطْنِ الْحُوتِ ثَلاَثَةَ أَيَّامٍ وَثَلاَثَ لَيَال، هكَذَا يَكُونُ ابْنُ الإِنْسَانِ فِي قَلْب الأَرْضِ ثَلاَثَةَ أَيَّامٍ وَثَلاَثَ لَيَال. (مت ٤٠:١٢) ومعجزة النعمة أي معجزة الخلاص وتغيير الإنسان من الداخل وليس تغيير الظروف الخارجية والتي إذا لم تحدث يتعثر الناس في محبة الله وكأنهم يقولون (وماذا ننتفع إن التمسناه – (أي ١٥:٢١)</p>
<p><strong>٢- جهلنا بما لنا في المسيح في صلاتنا</strong></p>
<p>«اُطْلُبْ لِنَفْسِكَ آيَةً مِنَ الرَّبِّ إِلهِكَ. عَمِّقْ طَلَبَكَ أَوْ رَفِّعْهُ إِلَى فَوْق» (أش ١١:٧)</p>
<p>نريد أن تفعل لنا كل ما طلبنا - لا تطلبوا مثل أمم العالم</p>
<p>بينما يطلب الرب من الملك آحاز ورئيس شعب الله (أش ٧) أن يطلب طلبة عظيمة يتحجَّج الملك بأعذار واهية ويقول لا أجرب الرب رغم أن الرب بنفسه هو الذي يمنحه هذه النعمة وهذا الحق</p>
<p>وهذا ما يحدث في حياتنا اليومية وفِي صلواتنا استغراقنا في طلبات عالمية مثل أمم العالم (لو ٣٠:١٢) أمَّا ملكوت الله وبرّه (مت ٣٣:٦) فهي خارج مشغوليتنا واهتماماتنا وننحصر فقط فيما هو سوف يُزاد لنا</p>
<p><b>٣- بساطة الصلاة في احتياجنا لله</b></p>
<p>(ربي &#8230;. أين تمكث (يو ٣٨:١) - كما يشتاق الإيَّل (مز ٤٢: ١) - عند قدميه (لو ١٠: ٣٩)</p>
<p><strong>٤- عمق الصلاة</strong></p>
<p>(واظبوا على الصلاة ساهرين فيها بالشكر) (كو ٢:٤)</p>
<p>يتضح لنا هنا علامات الصلاة بعمق المواظبة أو الانتظام والسهر أي التضرع والشكر أي التسليم وقبول إرادته في حياتنا</p>
<p><strong>(٣) صلاة الكنيسة (ثمارها ومسؤوليتها وقدرة صلاة الكنيسة بفكر الله)</strong></p>
<p><strong>١- ثمار الصلاة بالروح</strong></p>
<p>اسهروا إذا وتضرعوا في كل حين، لكي تحسبوا أهلا للنجاة من جميع هذا المزمع أن يكون، وتقفوا قدام ابن الإنسان» (لو ٢١: ٣٦)</p>
<p>ثمار الصلاة هنا هي القوَّة الإلهية التي يمنحها الله مجاناً لنا فنجتاز التجربة بنعمته كما كان الفتية في الأتون (. دَخَلْنَا فِي النَّارِ وَالْمَاءِ، ثُمَّ أَخْرَجْتَنَا إِلَى الْخِصْبِ. (مز ١٢:٦٦) فليست الاستجابة هنا رفع التجربة، بل رفع الإنسان فوقها لذلك طلب الرب من تلاميذه الثلاثة في بستان جثسيماني الصلاة والسهر لكي يجتازوا تجربة الصليب لكن لأنهم لم يُصلّوا معه لذلك هرب أحدهم وأنكر الآخر</p>
<p><strong>٢- مسؤولية الصلاة لأجل الآخرين</strong></p>
<p>(مجاهد كل حين لأجلكم بالصلوات) (كو ١٢:٤)</p>
<p>&#8221; بسبب هذا أحني ركبتي لدى أبي ربنا يسوع المسيح، الذي منه تسمى كل عشيرة في السماوات وعلى الأرض. لكي يعطيكم بحسب غنى مجده، أن تتأيدوا بالقوة بروحه في الإنسان الباطن، ليحل المسيح بالإيمان في قلوبكم، وأنتم متأصلون ومتأسسون في المحبة، حتى تستطيعوا أن تدركوا مع جميع القديسين، ما هو العرض والطول والعمق والعلو، وتعرفوا محبة المسيح الفائقة المعرفة، لكي تمتلئوا إلى كل ملء الله.&#8221; (أف ٣: ١٤ – ١٩)</p>
<p>ما أجمل طلبة القديس بولس لشعب كنيسة أفسس أن يتأصلوا ويتأسسوا في المحبّة وفِي إدراك قصد الله في حياتهم وما أجمل أن يكون معروفاً عن خادم ما (أبفراس) أنه خادم الصلاة لأجل الآخرين لأجل إدراكهم مشيئة الله</p>
<p><strong>٣- القدرة الجبَّارة لكنيسة الله المُصلَّية بفكر واحد</strong></p>
<p>(وأما الكنيسة فكانت تصير منها صلاة بلجاجة إلي الله من أجله) (أع ٥:١٢)</p>
<p>الصلاة التي أخرجت بطرس الرسول من السجن ذا الحصن المنيع (أع ١٢ ) والتي زلزلت أساسات السجن مع القديسين بولس وسيلا (  أع ١٦    ) والتي تقدر علي كل أجناد الشر الروحية في السماويات (أف ٦ : ١٢)</p>
<h3>عظات آبائية</h3>
<h4>القديس الأنبا أنطونيوس</h4>
<p><strong>عطية الروح القدس</strong></p>
<p>❖ الروح القدس يجعل كل أعمال الله أحلي من العسل وقطر الشهد، سواء أكان تعبًا أو سهراً أو سكونًا أو أعمال رحمة كل ما يصنع لأجل الله يصير لهم حلوًا ، حتي يعلمهم كل شيء (يو ١٤ : ٢٦).</p>
<p>❖ احييك في روح الوداعة، الذي يعطي سلامًا ويبعث عذوبة في نفوس الأبرار. إن الروح لا يأتي لكل نفس، بل للذين يتّطهرون بالكمال من شهواتهم، لإنه قدوس ولا يقدر ان يدخل نفسًا دنسة (تصر على دنسها) إنه لا يتوقف عن سكب رائحة البر والعذوبة عليهم كما هو مكتوب &#8220;من الذى يعرف بهجة الروح إلا الذى جعل منه مسكناً له&#8221;</p>
<p>❖ كما ان الأشجار لا تقدر أن تنمو ما لم يكن لها ماء طبيعي، هكذا النفس أيضًا ما لم تنل العذوبة السماوية.</p>
<p>النفوس التي تقبل الروح وترتوى بالعذوبة السماوية هي وحدها التي تنمو.</p>
<p>❖ عندما يأتي روح الله ليسكن فيهم، يجلب لهم راحة أو يدعهم يستمتعون بالراحة في كل أنشطتهم، ويجعل نير المسيح حلو لهم، كما هو مكتوب في الأناجيل &#8221; فتجدوا راحة لنفوسكم&#8221; (مت ١١: ٢٩)، بالرغم من انهم أخذوا نيره وحملوه.</p>
<p>إذ يصبحون غير مُتعبين في ممارسة الفضيلة وفي الطاعة وسهر الليل، لا يشعرون بغضب إزاء أي فتراء بشرى ولا يحل بهم خوف، لا من إنسان ولا من وحش او من روح، لإن فرح الرب يستقر معهم نهارًا وليلا يهب حياة لعقلهم ويكون طعامهم. بهذا الفرح تنمو النفس، وتصبح قادرة علي كل شيء، أي تصير كاملة ،وبهذا الفرح تصعد إلي السماء.</p>
<p>❖ إننا نرى الطفل ينمو، يبدأ برضع لبن الأم، وبعد ذلك بعض أطعمة وأخيرًا يأكل كل أنواع الطعام الذي يأكله البشر البالغون عادة. بهذا ينمو قويًا ناضجًا ،ويقوى قلبه علي اللقاء مع أعدائه بشجاعة إن هاجموه ولكن إذا أصيب بمرض في طفولته، يقل غذاؤه وتضعف قوته فينشأ ضعيفًا ويستطيع أي عدو أن يقوى عليه ويغلبه ، لكى يستعيد صحته وقوته ليغلب اعداءه ، يلزمه أن يحصل علي مساعدة طبيب متمرس يحظى بعنايته. هكذا تمامًا بالنسبة للنفس البشرية، فإن اي نقص في الفرح الإلهي يجعلها تضعف وتعانى جراحات كثيرة وإذا حاولت ان تجد إنسانًا ، خادمًا لله، متمرناً  الشفاء الروحي، تلتصق به، فإنه اولاً يشفيها من الشهوات ، وبعد ذلك يقيمها ويعلمها كيف تحصل بمعونة الله علي هذا الفرح الذى هو غذاؤها، حينئذ يمكنها أن تقاوم اعدائها، الأرواح الشريرة وتغلبهم، وتطأ مشوراتهم تحت قدميها، وتمتلئ بالفرح الأكمل.</p>
<p>❖ رائحة الروح القدس مبهجة علي الدوام، عذبة للغاية لا يقدر لسان بشرى ان ينطق بها. ولكن من هم الذين يعرفون هذه المسرة والعذوبة التي للروح إلا أولئك الذين جاء وحل فيهم؟! يأتي الروح القدس ويحل في النفوس التائبة، ولكن بعد أتعاب كثيرة. ونحن نرى أمورًا كثيرة متشابهة حتى في هذا العالم. فمثلًا لا يُحصل على الأحجار الكريمة إلا بمشقة عظيمة. وإذ يبحث القديسون عن هذا الروح يقتنونه بكونه اللؤلؤة الكثيرة الثمن التي يتحدث عنها الإنجيل في مَثَل التاجر الذي كان يطلب اللآلئ الحسنة، وحينما وجد لؤلؤة كثيرة الثمن باع كل ما لديه واشتراها (مت١٣) نفس الأمر فيمثل &#8220;الكنز الذي في الحقل&#8221; الذي إذ وجده إنسان ذهب وباع كل شيء وأشترى ذلك الحقل (مت ٤٤:١٣).</p>
<p>❖ حرارة الروح القدس تهبنا النصرة علي الشيطان علاوة علي هذا فإن نفس الإنسان تشبه طائراً أيضًا، من حيث أن الدفء هو سبب وجوده في الحياة. فبدون تدفئة البيض لا يخرج الفرخ الحي، هكذا أيضاً بالنسبة للنفس إذ يحيط الله بالنفوس التي تطيعه ويدفئها ،يرفعها إلي الحياة الروحية. وإذ تتحقق النفس أنها مطيعة لله وملتصقة به، تشبه الطائر الذى تكمن حياته في الدفء لهذا ليتكم لا تنفصلون قط عن قوة هذه النار، احترزوا فإنه بسبب هذه النار التي يقدمها الله لكم، يشن الشيطان هجمات كثيرة لعله يحرمكم منها، وهو يعرف أنه لا غلبه له عليكم مادام لكم هذه النار.<a href="#_ftn4" name="_ftnref4">[4]</a></p>
<h3>عظات آباء وخدّام معاصرين</h3>
<h4>قداسة البابا تواضروس</h4>
<p><strong>الصلاة النقية:</strong></p>
<p>+ لباس العرس والدخول إلى السماء يتكون من:</p>
<p>أ – ثوب: الصلاة الربانية               تغطى كل أمورنا.</p>
<p>ب – منطقة: صلاة الشكر             تحيط كل حياتنا .</p>
<p>ج – حذاء: مزمور التوبة                يحفظ كل نقاوتنا.</p>
<p><strong>+ الصلاة الربانية تتكون من:</strong></p>
<p><strong> ١ – أبانا: أب + أبونا (لجميعنا)</strong></p>
<p><strong> ٢) ثلاث طلبات لتمجيد الله:</strong></p>
<p>أ – تقديس الاسم.             ب – إتيان الملكوت              ج- تكميل المشيئة</p>
<p><strong> ٣) كما في السماء كذلك على الأرض</strong></p>
<p><strong>٤) ٣ طلبات لحاجات الإنسان:</strong></p>
<p>أ – طلب الخبز           الحاضر</p>
<p>ب – طلب الغفران.       الماضي</p>
<p>ج – طلب المعونة         المستقبل</p>
<p><strong>الصلاة الروحية:</strong></p>
<p>+ الله هو صديق نصف الليل:</p>
<p>صديق: جاء لفداء الإنسان الساقط.</p>
<p>+ ٣ خبزات : مشبع احتياجات الجسد والنفس والروح .</p>
<p>= الإيمان الثالوثى.</p>
<p>= عطايا الله للبشرية: الإيمان + الرجاء + المحبة</p>
<p>+ الباب مغلق: الفهم مغلق</p>
<p>الحجر – الخبز &#8230; / قساوة القلب - (المحبة)</p>
<p>الحية – السمكة.. / مجد الإيمان – (الإيمان)</p>
<p>العقرب – البيضة.. / قطع الرجاء – (الرجاء)</p>
<p><strong>+ في الصلاة الربانية نقول:</strong></p>
<p>ليتقدس اسمك    ليأتي ملكوتك      لتكن مشيئتك.<a href="#_ftn5" name="_ftnref5">[5]</a></p>
<h4>أيضاً لقداسة البابا تواضروس</h4>
<p><strong>لو (١١:  ١ – ١٠) </strong><strong>كيف تصلى؟</strong></p>
<p>إنجيل الجمعة الأولى في الصوم يبدأ بسؤال واضح جدا، وهو أن تلاميذ السيد المسيح قالوا له: &#8221; علمنا أن تُصلي &#8220;، ولذلك السؤال يكون &#8221; كيف تُصلي؟&#8221;. كثير ينظرون إلى الصلاة باعتبارها فعل روحي، وينظرون إليها على أنها فن &#8221; فن الصلاة &#8220;، ولكننا نرى أن الصلاة هي حياة &#8221; حياة الصلاة &#8220;، وحياة الصلاة ليست حياة لوقت معين ولا في مناسبة معينة ولا في مكان معين، الصلاة حياة يعيشها الإنسان طوال حياته، والسيد المسيح قال وصية: &#8221; ينبغي أن يصلى كل حين ولا يمل &#8221; (لو ۱۸: ۱). وكأن الصلاة مرتبطة بالتنفس ، والصلاة هنا تعني العلاقة التي تربط بينك وبين الله ، وهذه العلاقة هي علاقة داخلية في القلب الداخلي ، وهي ليست مظهرية وليست خارجية ، ولكنها علاقة من الداخل ، فصمتك قد يكون صلاة ، وترنيمك صلاة ، وقفتك صلاة ، حتى أننا نقرأ في سفر النشيد عن عروس النشيد &#8221; أنا نائمة وقلبي مستيقظ &#8221; (نش ٥ : ٢) ، القلب المستيقظ للصلاة وكأن نبضات القلب هي تعبير عن نبضات الحب ، حب الإنسان لله ، وحب التواجد في حضرته على الدوام ، يقول داود النبي : &#8221; جعلت الرب أمامي في كل حين. لأنه عن يميني فلا أتزعزع &#8221; (مز ١٦: ٨) ودائماً كلمة اليمين تعني القوة ، لقد جعلت الرب أمامي كل حين من خلال الصلاة ، وهذا ما قال عنه في مزمور آخر: &#8221; أحبك يا رب يا قوتي&#8221; (مز ۱۸ : ۱).</p>
<p>أحياناً الإنسان قد ينسى نفسه بمعرفته وعلمه وبمنصبه وهيئته، ولكن داود النبي وقف برغم أنه كان ملكاً عظيماً وقال هذا التعبير: &#8221; أحبك يا رب يا قوتي &#8220;، وقوتي ليست أموالي ولا مكاني ولا معرفتي، بل هي أنت يا رب ، فحياة الإنسان مرتبطة بالله وهذه هي القوة.</p>
<p>لذلك الصلاة تأخذ شكلا واحداً، مشاعرك تكون صلاة، ودموعك صلوات، وسجودك صلاة، وصمتك أيضاً صلاة، حتى أن داود النبي قال : &#8221; من الأعماق صرخت إليك يا رب&#8221; (مز  ۱۳۰ : ۱). لا أحد يسمع هذه الصرخة سوى الله، أعماق القلب وأعماق النفس البشرية هي التي تصلي وتخاطب الله، والله يسمع ويستجيب. ولهذا في كل قداس نسمع نداء من الأب الكاهن في صيغة سؤال: &#8221; اين هي قلوبكم؟&#8221; فيرد الشعب ويقول: &#8221; هي عند الرب &#8220;، ليست هي على الأرض، بل السماء ، كل إحساسك متجه نحو السماء.</p>
<p>عندما طلب التلاميذ من الرب يسوع أن يعلمهم الصلاة قائلين له : &#8221; علمنا يا رب أن تصلي &#8220;، قد نتساءل هي الصلاة محتاجة تعليم ؟ هل محتاجة إرشاد ؟ هل محتاجة حكمة ؟ وبالتأكيد هي محتاجة كل هذا ، ولذلك أعطاهم السيد المسيح النموذج المثالي للصلاة وهي التي تسميها &#8221; الصلاة الربانية &#8220;، أو أحياناً نُسميها &#8221; صلاة الصلوات &#8220;، وقد وضع هذه الصلوات في عبارات قليلة ولكنها واسعة المعاني ، وصارت هذه الصلاة هي الصلاة الرسمية في المسيحية تصليها شرقاً وغرباً ، ويمكن أن تعتبر بمثابة البذرة التي نشأت منها كل صلواتنا ، فكل الصلوات الموجودة سواء الصلوات الفردية أو الجماعية أو الشخصية أو الرسمية كل هذه الصلوات نشأت من هذه البذرة &#8220;الصلاة الربانية &#8220;.</p>
<p><strong>قصة</strong></p>
<p>تحكي لنا سير القديسين قصة جميلة عن أن أحد الذين كانوا يعيشون في البرية كان لا يعرف من الصلاة سوى &#8221; الصلاة الربانية &#8220;، وكان يتلوها كل يوم مرات ومرات ، ولكنه كان يصليها بمشاعره ، وكان عندما يقف يصلي كان يقول : &#8221; أبانا الذي في السموات &#8221; ثم يصمت كي يعيش هذه الكلمات ، وبتكرار هذا الأمر مرات عديدة كان عندما يقف ويقول : &#8221; أبانا الذي في السموات &#8221; يسمع صوت يقول له : &#8221; نعم يا حبيبي &#8220;، ثم يقول له : &#8221; ليتقدس اسمك بأعمالك ، لتكن مشيئتك مرتبطة بمشيئتي ، ليأت ملكوتك &#8230;&#8221;، وصارت الصلاة وكأنها حوار وليس كلمات نقولها ، هي صلاة قصيرة ولكنها عميقة في المعنى .</p>
<h4><strong>في الصلاة الربانية عشر معان متكاملة هي:</strong></h4>
<p>( ١ ) فيها روح البنوة : ( أبانا ) ومعناها إن أنا ابن لك يا رب ، شعور البنوة شعور مريح للإنسان .</p>
<p>( ٢ ) فيها روح الأخوة ، إن روح الأخوة تجمعنا مع الله الواحد الأب ، ولذلك تصلي بصيغة الجمع ، وصار هو اللقب ، بعض الكنائس مثل الكنيسة الأثيوبية تنادي الأب البطريرك والأب الأسقف والأب الكاهن بكلمة &#8221; أبونا &#8221; إلى هذا اليوم.</p>
<p>( ٣ ) فيها روح المهابة : أنت تقف أمام الحضرة السماوية ، فالسماء نراها بأعيننا ونقول عنها &#8221; مسكن الله الحي في كل مكان &#8220;.</p>
<p>( ٤ ) فيها روح القداسة : ليتقدس اسمك يا رب في حياتي ، أحياناً في مسيرة حياة الإنسان قد ينسى اسم الله وينسى تقديس اسمه ، ولذلك نعتبر الحلفان خطية ، فأحيانا يستخدم الإنسان اسم الله بلا مصداقية. في هذه الوصية &#8221; ليتقدس اسمك يا رب &#8220;، يتقدس في كلامي ، فنجد واحداً في كلامه غامضاً ليتقدس اسمك يا رب هو صاحب الحق هو الذي يرى ويعرف أفعالك وأفكارك ونظرات عينيك، هو الذي يعرف مشاعرك قبل أن تخرج.</p>
<p>(٥ ) فيها روح الاستعداد : ليأت ملكوتك ، الإنسان الذي ينظر لملكوت الله أو ينتظر أن يكون له نصيب في السماء إذا انتهت حياته على الأرض فسوف يكون وجوده في السماء. وليأت ملكوتك تشير إلى الإحساس اليومي بأنك مدعو لهذا الملكوت ، فأنت مدعو لأن يكون لك حياة في السماء ونُسميها &#8221; الحياة الجديدة، أو الحياة الآخرة أو الحياة الأبدية &#8221; .</p>
<p>في مثل العذارى الحكيمات والجاهلات ، كانت العذارى الحكيمات منتظرات العريس ، يقول الكتاب : &#8221; والمستعدات دخلن معه إلى العرس &#8221; (مت ٢٥ : ١٠). وهذه ليست معاني جسدية لكنها معان روحية ، وغير المستعدات يسميهن الكتاب المقدس &#8221; بالجاهلات &#8220;، وقد ذهبن للعريس بعدما مر الوقت وقرعن على الباب &#8221; يا سيد يا سيد افتح لنا &#8221; (مت ٢٥ : ١١). فسمعن صوتاً يقول لهن : &#8221; إني ما أعرفكن &#8221; (مت ٢٥ : ١٢). هؤلاء ليس لهن نصيب ، لقد أغلق الباب أمامهن ، ولذلك يا إخوتي روح الاستعداد هي : ليأت ملكوتك .</p>
<p>( ٦ )  روح التسليم : لتكن مشيئتك ، الإنسان الذي يعيش حسب مشيئة الله هو الإنسان الذي يرى أن كل شيء يصنعه الله أنه خير، هناك شخص متذمر على كل شيء لا يقبل شيئاً ، دائماً معاند متمرد لا يعجبه أي شيء لا مكان ولا زمان ولا إنسان ولا أي شيء ، وهناك آخر يعيش حياة الرضا والقبول ، هذه الحياة : لتكن مشيئتك يا رب ، ولذلك القديس بولس الرسول وضعها في عبارة جميلة قائلا : &#8221; كل الأشياء تعمل معاً للخير للذين يحبون الله &#8221; (رو ٨ : ٢٨)، كل الأشياء حتى لو كانت أمامنا ظاهرة أنها ليست خيراً. روح التسليم هي من تقول وتردد قائلة : &#8221; أنا في يدك يا رب ، وأنت تقود أيام حياتي من يوم ليوم ، ومن سنة لسنة ، ومن مسئولية لمسئولية &#8220;.</p>
<p>( ٧ ) روح الاتكال : &#8221; كما في السماء كذلك على الأرض &#8220;. وهذه عبارة مفصلية فقبلها ثلاثة يخصون ربنا &#8221; ليتقدس اسمك  ليأت ملكوتك  لتكن مشيئتك &#8220;، وتعني هذه العبارة أني أريد يا رب أن تكون الأرض التي خلقتها مثل السماء ، أريد أن يكون بيتي مثل السماء ، وتكون كنيستي مثل السماء ، ويكون وطني مثل السماء ، أريد أن تكون البشرية كلها مثل السماء ، وأظن أن هذا هو قمة المراد .</p>
<p>من صفات السماء أنها صافية ، لذلك أريد أن تكون الأرض صافية مثل السماء، واسعة مثل السماء، كلها سلام وفرح مثل السماء.</p>
<p>( ٨ )  روح القناعة : خبزنا كفافنا أعطنا اليوم ، هذه تُسمى &#8221; روح القناعة &#8221; والقناعة صورة من صور الرضا أو الشبع الداخلي ، والرضا والشبع الداخلي لا يأتي أبداً بأمور مادية ، ولكن بقدر ارتباطك ووجودك في الحضرة الإلهية بقدر شبعك ؛ لأن القلب لا يشبع بطعام أو ماديات إنما يشبع بالله فقط ، شبع الإنسان هو بالله خالقه ، لذلك الوصية تقول : &#8221; يا ابني أعطني قلبك &#8221; (أم ٢٣ : ٢٦)، فقلب الإنسان هو ملك الله فقط ، فلا يراه أحد سوى الله،  فهذا القلب هو خزانة تخص الله بكل ما فيه ، وهذا ما يجعلنا نحفظ الصلاة ونعرف فوائدها ، فالصلاة وقاية لقلبك بدلاً من أن يتشوه ، فهي تجعل قلبك نقياً دائماً وهذا ما تصليه باستمرار: &#8221; قلباً نقياً اخلق في يا الله ، وروحاً مستقيماً جدد في داخلي&#8221; (مز ٥١ : ١٠) .</p>
<p>(٩ ) روح المغفرة : &#8221; اغفر لنا ذنوبنا كما نغفر نحن أيضا للمذنبين إلينا &#8220;. الله صاحب المغفرة ولكنه أعطى للإنسان قوة المسامحة، لكن المعادلة الرائعة تقول: &#8221; إنه على قدر ما تسامح الآخر على قدر ما تحصل على غفران الله &#8220;، لابد أن تسامح كل أحد إذا وصلت هذه الحقيقة إلى أعماقك فأنت المستفيد الأول. قد أتعجب عندما يحدث خلاف بين اثنين، ويظل هذا الخلاف مدة طويلة، فأنت لا تعرف هذا المعنى البسيط في &#8221; أبانا الذي في السموات &#8220;؛ لأنك عندما تسامح من أخطأ في حقك فأنت الكسبان لأنك ستحصل على المغفرة الإلهية، يقول لنا الكتاب المقدس : &#8221; الجميع أخطأوا وأعوزهم  مجد الله &#8221; (رو ۳ : ۲۳).</p>
<p><strong>من سيرفع الخطية عني؟! هذه هي روح المغفرة التي يسكبها الله عليك.</strong></p>
<p>(١٠) روح الحرص والحذر: &#8221; لا تُدخلنا في تجربة لكن نجنا من الشرير &#8220;. نحن نعيش في عالم فيه الخير والشر، وبه ضعفات كثيرة وخطايا متنوعة، فالإنسان عندما يقف أمام الخطايا ماذا يفعل؟ لا بد أن ينتبه لذلك. إننا في رحاب البرية دائماً نتعلم أن الخطية يسبقها الغفلة، والغفلة هي التي تجعل الإنسان ينسى الوصية وتحلي الخطية، لكننا نقف أمام الله ونقول له: &#8221; لا تدخلنا في تجربة لكن نجنا من الشرير &#8220;. لذا ما دمت محصن بروح الصلاة الدائمة لا يستطيع أحد أن يؤذيك مالم توذ نفسك.</p>
<p>هذه هي الصلاة الربانية وهي &#8221; صلاة الصلوات &#8220;، حيث تُقدم لنا نموذجاً لروح الصلاة، سواء روح البنوة، أو روح الأخوة أو المهابة أو القداسة أو روح الاستعداد أو روح الاتكال على الله أوالقناعة أو المغفرة أو الحرص والانتباه، كل هذه المفاهيم تدخل في أي صلاة أنت تُقدمها.</p>
<p>قد تعلم أن الصلوات متعددة في الكنيسة، فهناك صلاة من كلمة واحدة وهي &#8221; يا رب ارحم &#8220;، وصلاة ممكن أن تكون عبارة مثل &#8221; يا رب يسوع المسيح ارحمني أنا الخاطئ &#8220;، ويأتي فعل الصلاة &#8221; اللجاجة &#8221; أي الإلحاح على الله، لكن مشكلة الإنسان اليوم أن كل حياته صارت إلكترونية فعاش في عصر السرعة، والحياة الروحية ليست هكذا، فعندما تأتي لتزرع بذرة قد تحتاج شهوراً حتى تنبت ، وهناك نباتات تحتاج سنين ؛ لأن كل شيء يحتاج وقتاً .</p>
<p>هذا المثل يعلمنا اللجاجة، وهذه اللجاجة هي استمرار الطلبة أمام الله من أجل ما تُريده. قد نسمع عن &#8221; الأم مونيكا &#8221; البارة التي ظلت تصلي ٢٠ سنة بدموع من أجل ابنها أوغسطينوس، وقد أتت الدموع بابنها وليس هذا فحسب، بل صار القديس أوغسطينوس المعلم والفيلسوف اللاهوتي، وصار أول من كتب اعترافاته، والسبب هي صلوات أمه التي استمرت ٢٠ سنة، وقس على هذا الكثير من النماذج العديدة.</p>
<p>اللجاجة يا أحبائي هي أحد عناصر نجاح الصلاة، والله عندما لا يستجيب إنما يفعل هذا لخيرك، لذا يقول: &#8221; اسألوا تعطوا. اطلبوا تجدوا. اقرغوا يفتح لكم &#8221; (مت ۷: ٧). لا يأتي عليك يوم وتيأس أو تشك أو تشعر أن صلواتك لا يسمعها الله، فهو يسمع كل كلمة، فهو يسمع ما لا تسمعه أنت، قد يسمع مشاعرك وأنين قلبك. كلمة &#8221; اسألوا &#8221; قد تكون باللسان وتصلي به صلوات عديدة، أما &#8220;اطلبوا&#8221; فتكون بلسانك ومشاعر قلبك أيضاً، أما &#8220;اقرعوا يفتح لكم&#8221; فتكون باللسان وبالمشاعر وبالإرادة الداخلية وكأنك وحدة واحدة تقف أمام الله.</p>
<p>الخلاصة أن الله أعطانا هذه النعمة &#8220;نعمة الصلاة&#8221;، ونعمة التواجد في الحضرة الإلهية، ونعمة التمتع بالأذن التي تسمع صلواتك، لذلك روح الصلاة مرتبطة أيضاً بفترة الأصوام، صحيح أن الصوم عمل جسدي لكن الصلاة عمل روحي، صحيح أن الصوم عمل لا يقدر عليه كل إنسان مثل الأطفال والمرضى لكن الصلاة عمل يقوم به كل إنسان مهما كان الضعف ، ومهما كانت الكلمات ، فبحسب مشاعر قلبك الله يسمع ويستجيب. الصلاة الربانية هي اللسان الحلو الذي يقدر أن يعيش به الإنسان ويستمد منه روح الصلاة وشكلها ، وحياة الصلاة في كل يوم من أيام حياتك . فليعطنا مسيحنا يا أحبائي أن تكون حياتنا كلها صلاة، كما قال داود النبي : &#8221; أما أنا فصلاة &#8221; (مز ١٠٩ : ٤) ،  ويقول لنا الله &#8221; إني فتشت فوجدت قلب داود حسب قلبي &#8221; (أع ۱۳ : ۲۲) ليفتش الله في وسطنا ويجد القلوب التي حسب قلبه.<a href="#_ftn6" name="_ftnref6">[6]</a></p>
<h4>المتنيح الأنبا اثناسيوس مطران بني سويف والبهنسا</h4>
<p><strong>موضوع الصلاة: (مت٦: ٩-١٥)</strong></p>
<p>تنقسم الصلاة الربية الى مقدمة وسبع طلبات وخاتمة.</p>
<p>المقدمة: أبانا الذي في السموات ولم يقل &#8221; ابی &#8221; بل &#8220;ابانا&#8221; | فالصلاة شركة مع الآب والكنيسة: وهو الذي في السموات اي اللاهوت القدوس فلنعلم مع من نتكلم .</p>
<p>الطلبات: وكلها روحية . ولكن ثلاثا منها تختص بتمجيد الله . وأربع بحاجات البشر.</p>
<p>وليست العبادة أساسا طلبات، بل هي تسبيح. ولذا نجد الجزء الأول &#8221; ليتقدس اسمك&#8221;وهذا تسبيح أي قدوس أنت يا الله. ولذا نجد الصلوات الكنسية تسبيحات جزء كبير منها ونجد المزامير وصلوات القديسين تسبیحات في غالبيتها . ثم نقول « ليأت ملكوتك » ، و « لتكن مشيئتك ، وفي هذه الثلاثة اجزاء تسبيح وتسليم له فنتقدم بتقديس اسمه وتمجيد ملكوته الى تقديس اسمه فينا وامتلاكه ایانا وسريان كلمته على الأرض كما هي في السماء وعلينا كمطيعين .</p>
<p>والأربع طلبات المختصة بالناس &#8221; خبزنا الجوهري &#8221; أو &#8220;خبزنا الآتی &#8221; أو &#8221; كفافنا &#8221; اعطنا الآن &#8221; من يقبل الى فلا يجوع. ومن يؤمن بي فلا يعطش أبدا &#8221; (يو ٦: ٣٥) فخبز الدهر الآتي هو رب المجد ووجودنا معه &#8221; نعلم أنه اذا أظهر نكون مثله (في عالم النور) لأننا سنراه كما هو (نتغذى عليه ) ، (ايو ۳ : ۲ )&#8221; فاننا ننظر الآن في مراة في لغز لكن حينئذ وجها لوجه &#8221; (اکو ۱۳ : ۱۲) فاذا ما طلبنا الخبز الروحي فنحن نطلب نعم السماء وفعل الرب فينا وفي هذا نمو فيه لا ينتهی .</p>
<p>ثم نطلب غفران خطايانا وقد وضع لهذا الغفران شرط أن نغفر للمذنبين الينا، فان لم نغفر القليل الذي لنا لا يغفر لنا الكثير الذي علينا.</p>
<p>ونطلب الا يدخلنا في تجربة، ولكن عدو الخير لابد أن يحاربنا فنطلب أن ينجينا منه اذا ما حاربنا. وهكذا نختم بالتمجيد &#8221; لأن لك الملك والقوة …&#8221;.</p>
<p>ولما كان الرب قد قال &#8220;كل ما طلبتم من الأب باسمي يعطيكم &#8220;(يو ١٦: ٢٣-٢٤) فان الكنيسة توصي أولادها بأن يقولوا بعد هذه الطلبات &#8221; باسم المسيح يسوع ربنا، ثم يختمون &#8221; لأن لك الملك والقوة &#8230; إلخ &#8221; ومدى الصلاة الربانية غير متناه : فلا يظنن مؤمن أنه ارتفع عن مستواها لأن القديسين يصلونها ليل نهار ، ولا يصلون الى مدي بركاتها .<a href="#_ftn7" name="_ftnref7">[7]</a></p>
<h4>المتنيح القمص تادرس البراموسي</h4>
<p><strong>أسألوا تعطوا أطلبوا تجدوا أقرعوا يفتح لكم (لو ١١ – ١ ١٣)</strong></p>
<p>نلاحظ في ترتيب الصلاة الربانية التي عملها الرب يسوع لتلاميذه ففي أولها تمجيد لله تبارك أسمه ثم بعد ذلك الطلبات الأخرى. أن تمجيد الله له المجد يضعنا في أطار ذهبى سليم لتطلب منه بعد ذلك احتياجاتنا وكثير ما تتخلل صلواتنا طلبات أكثر منها شكر وتمجيد للرب يسوع الذي يعطى بسخاء ولا يعير. ترتكز هذه الصلاة على ثلاث جوانب مضيئة ومهمة مضمونها. إلحاحنا في الطلب ثم لجاجتنا في الصلاة. استجابة الله لنا، حتى لو تأنى. كما ضرب لنا مثل قاضى وصديق نصف الليل. وهكذا أن الرب له المجد أحن وأقرب من هؤلاء جميعاً. أن تدبير مؤقت ولا يمكننا أن نخزن عطايا الله. ثم نقطع كل اتصالنا به. كما لا يمكن أن يحدث عندنا اكتفاء ذاتى يغنينا عن الطلب من الله والالتجاء إليه. فأن كنت تحس بنقص مصادرك الجسدية أو تحس بفراغ روحى . اسأل نفسك كم ظللت بعيداً عن الله مصدر القوت ومصدر القوة ومعطى الخيرات هو الخالق وهو الرازق فلا تيأس، بل التجئ وهو الذي يعطى بسخاء ولا يعير حاسب نفسك كل يوم وكل ساعة. لأن الخطأ والتقصير منك. عندما علم الرب يسوع تلاميذه الصلاة الربانية جعل من الغفران حجر الزاوية. وفى علاقتهم بالله. غفر الرب يسوع خطايانا. فمن ثم يجب علينا أن نغفر نحن أيضاً لكل من يسئ ألينا فأن كنا لا نغفر فهل واضح أننا لم نفهم أننا وكل البشر نحتاج بشدة للغفران فأن لم نغفر خطايا الآخرين فلن يغفر الله لنا.</p>
<p>وقال الوحي الألهى على لسان يوحنا الإنجيلى أن قلنا أننا بلا خطية نضل أنفسنا وليس الحق فينا. لكن إذا اعترفنا بخطايانا فهو يغفر لنا خطايانا ويطهرنا من كل اثم وتسهيلاً لتوبة الخطاة قد وضعت الكنيسة سر الاعتراف أي سر التوبة ولكي يقترب الجميع إلى الله وقد أعطى للكهنة السلطان قائلاً من غفرتم لهم خطاياهم غفرت ومن أمسكتموها عليهم أمسكت الإلحاح في الصلاة يصنع الكثير. لتغير قلوبنا وعقولنا فمن المفيد أن نصلى كما لو أن الاستجابة تعتمد على صلاتنا وان كنا واثقين أن الاستجابة تعتمد على الله والالحاح في الصلاة. يعيننا على أدراك عمل الله معنا. أن كل الآباء الأرضيين يعاملون أولادهم معاملة حسنة فكم بالحرى أبونا السماوى الكامل. يعامل أبناءه أفضل معاملة. ويعطيهم الروح القدس الذي هو أعظم عطية يهبها الله للإنسان وكما وعد تلاميذه بحلول الروح القدس عليهم هكذا كان الموعد لنا كما قال يؤئيل النبى الوعد لكم ولأولادكم والذين على بعد</p>
<p><strong>العظة الأولى</strong></p>
<p>أ – الصلاة الدائمة. والقلب الخاشع</p>
<p>ب – طلب المعرفة والتمسك بالحسن</p>
<p>ج – الصلاة الربانية وعمقها الروحى</p>
<p>د – الصلاة باسم الأب ووساطة الأبن</p>
<p>ه- تقديس أسم الرب وطلب الملكوت</p>
<p>و – تقديم المشيئة. وطلب الحقيقة</p>
<p>ذ – لتعيش حياة السمائيين بالثقة واليقين</p>
<p>ح – القناعة. وتكريم الأخرين</p>
<p>ط – نغفر للآخرين ليغفر لنا الرب</p>
<p>ى – احتمال التجارب ومحبة الجميع</p>
<p>ك – انتصارنا على الشر. وحيل الشرير</p>
<p>ل – يهرب الشر ويحل السلام</p>
<p><strong>العظة الثانية</strong></p>
<p>أ – الصلاة المستجابة</p>
<p>ب – اللجاجة في الصلاة</p>
<p>ج – الصلاة من قلب نقى خالي من الأحقاد</p>
<p>د – لا تيأس لو تأنى الرب في الأحابة</p>
<p>ه - رضاء الحب وأسرار البركات</p>
<p>و – الصلاة لطلب الخير وليس للأنتقام</p>
<p>ذ – الصلاة لأجل الأخرين في ضيقاتهم</p>
<p>ح – الصلاة لكى يكون لنا الرجاء في العطاء</p>
<p>ط – الصلاة المرائية. والصلاة الدائمة</p>
<p>ى – الثقة القوية والفرح بالعطية</p>
<p>ك – العشرة مع الله والسعى لجذب الخطاة</p>
<p>ل – طلب الغفران. والتوبة بأيمان</p>
<p><strong>العظة الثالثة</strong></p>
<p>أ – أحتياج الرب للصلاة واحتياجنا نحن</p>
<p>ب – نبعد عن الأفكار ونلتصق بالبار</p>
<p>ج – طلب العلم من منبع الحب</p>
<p>د – الصلاة الربانية وما تحويه من عمق</p>
<p>ه - الصلاة والطلب بلجاجة واللجوء وقت الحاجة</p>
<p>و – باب السماء مفتوح ومناجاة الروح</p>
<p>ذ – الصلاة والعطاء وشركة السماء</p>
<p>ح - نعطى فنعطى. ويكون لنا الميراث</p>
<p>ط – المحبة القوية ومغفرة الخطية</p>
<p>ى – الأجرة من نفس العمل اغفروا ويغفر لكم</p>
<p><strong>العظة الرابعة</strong></p>
<p>أ – الصلاة الانفرادية والخلوة الروحية</p>
<p>ب – الصلاة والدروس المستفادة</p>
<p>ج – الدرس النافع والطريق إلى التوبة</p>
<p>د. مدى استجابة الرب لصلواتنا</p>
<p>ه - الباب المفتوح والأذن الصاغية</p>
<p>و – العطايا الجيدة والطلب المستجاب</p>
<p>ذ – كريم العطاء واستجداء الرحمة</p>
<p>ح – العطاء المقبول والعطاء المرفوض</p>
<p>ط – الصلاة العائلية وفائدتها على الأسرة</p>
<p>ى – مذبح العائلة وبركاته الدائمة<a href="#_ftn8" name="_ftnref8">[8]</a></p>
<h4>دكتور نصحي عبد الشهيد</h4>
<p><strong>الصلاة والروح القدس</strong></p>
<p>الصلاة هي الطريق الأساسي الذى نتهئ به لنوال عمل الروح القدس فينا بقوة . فالرب نفسه وعد أن الآب السماوى &#8221; يعطى الروح القدس للذين يسألونه &#8221; (لو ١١ : ١٣) ، وهو يحثنا على الصلاة كثيراً &#8221; ينبغي أن يُصلى كل حين ولا يُمل &#8221; ( لو ١٨ : ١ ) &#8221; اسألوا تعطوا أطلبوا تجدوا أقرعوا يُفتح لكم &#8221; (لو ١١ : ٩) . &#8221; وأن سألتم شيئاً بأسمى فإني أفعله &#8221; ، وأيضاً &#8221; أطلبوا تأخذوا ليكون فرحكم كاملاً &#8221; (يو ١٤ : ١٤- ١٦ : ٢٤) .</p>
<p><strong>عطش إلى الله :</strong></p>
<p>والصلاة هي العطش الروحي إلى الله الذى يطفئه المسيح بسكب الروح القدس لذلك يقول &#8221; من يشرب من الماء الذى أعطيه أنا لن يعطش إلى الأبد بل الماء الذى أعطيه يصير فيه ينبوع ماء ينبع إلى حياة ابدية &#8221; (يو ١٤ : ٤) . وأيضاً &#8221; إن عطش أحد فليقبل إلى ويشرب. ومن آمن بى تجرى من بطنه أنهار ماء حي . قال هذا عن الروح الذى كان المؤمنون مزمعين أن يقبلوه &#8221; (يو ٧ : ٣٧- ٣٩) . فالصلاة هي تعبير عن العطش إلى الله وبهذا العطش مع الصلاة بإيمان يجرى في داخلنا ينبوع ماء حى ، بل يقول الرب تجرى من داخلنا &#8221; أنهار ماء حي &#8221; التي هي أنهار الروح القدس المتدفقة من الرب يسوع في مجده على قلوبنا كما يقول القديس أثناسيوس [ حينما نعطش إليه فهو يشبعنا إذ هو الدى وقف في اليوم الأخير من العيد وصرخ &#8221; إن عطش أحد فليقبل إلىّ ويشرب &#8221; . لأن هذا هو الحب الذي للقديسين في كل حين. إنهم لا يكفون عن تقديم ذبيحتهم الدائمة التي يقدمونها للرب بلا انقطاع، ويعطشون دائماً ويطلبون منه أن يشربوا &#8230; والرسول يوصينا &#8221; أشكروا في كل شيء صلوا بلا انقطاع &#8221; . فأولئك الذين ينشغلون بالصلاة فإنهم ينتظرون الرب دائماً ويقولون: &#8221; فلنتتبع لنعرف الرب ، سنجده مستعداً كالصبح ، وسيأتي إلينا كالمطر المبكر ، كمطر متأخر يسقى الأرض &#8221; (هو ٦ : ٣) . فهو يشبعهم ليس فقط بوفرة وسخاء حسب كثرة محبته، مانحاً لهم نعمة الروح في كل حين . ويوضّح ما يعطشون إليه بقوله على الفور &#8221; من آمن بي &#8221; لأنه &#8221; كالمياه الباردة لنفس عطشانة &#8221; بحسب الأمثال (ام ٢٥ : ٢٥) . وهكذا فان مجيء الروح لأولئك الذين يؤمنون بالرب هو أفضل من كل انتعاش وابتهاج] .</p>
<p><strong>تقديم أنفسنا ذبيحة دائمة بالصلاة:</strong></p>
<p>وهكذا يعلمنا القديس أثناسيوس أن العطش إلى الله معناه تقديم أنفسنا ذبيحة بالصلاة وأن المسيح يشبع هذا العطش الذي نعبر عنه بالصلاة بأن يمنح روحه بغنى للذين ينتظرون الرب في الصلاة. ويوضح أن ما يعطش إليه المؤمنون بالصلاة هو مجئ الروح الذي يكون بالنسبة إليهم أفضل من كل انتعاش وفرح في العالم. لا شك أن هناك علاقة لا تنفصم بين الصلاة وبين الروح القدس وبالتالي بين الصلاة وبين الروح القدس وبالتالي بين الصلاة والامتلاء بالروح. فالروح القدس في أول مجيئه يوم الخمسين حل على الكنيسة وهى مجتمعة معاً بنفس واحدة ومواظبة على الصلاة والطلبة (أع ١ : ١٤) . ولذلك يقول القديس مقاريوس [من شاء أن يكون مسكناً للمسيح ويمتلئ من الروح القدس &#8230; يجب عليه أن يواظب دائماً على الصلاة وينتظر دائماً بإيمان وتوقّع إفتقاد الرب وعونه] . وهو يذكر أهمية المواظبة على الصلاة بإيمان وتوقّع ويؤكد في نفس الوقت مع الصلاة على السعي في طاعة وصايا المسيح وتسليم النفس له. كل هذه يذكرها معاً كوسائل ضرورية لنوال ملء الروح القدس. ويقول: [فلنتوسل إلى الله ونطلب منه باجتهاد وبإيمان، حتى يهبنا أن نجد في قلوبنا هذا الغنى، أي كنز المسيح الحقيقي بقوة الروح وفاعليته] . ويقول أيضاً: [فلنتوسل إذاً إلى الله بإيمان وبالمحبة والرجاء الكثير، لكى يمنحنا النعمة السماوية، نعمة الروح القدس ، لكى ما يحكمنا ويضبطنا ذلك الروح نفسه أيضاً ، ويقودنا إلى كل إرادة الله وينعشنا ويحيينا بكل أنواع إنعاشه وإحيائه لكى بواسطة عمل الروح هذا وفاعلية النعمة ، والنمو الروحاني نتقدم ، لنحسب أهلاً لإدراك كمال ملء المسيح كما يقول الرسول &#8221; لتمتلئوا بكل ملء المسيح &#8221; (اف ٣ : ١٩) . وأيضاً يقول: &#8221; إلى أن تنتهى جميعنا إلى إنسان كامل إلى قياس قامة ملء المسيح &#8221; (اف ٤ : ١٣) . ولقد وعد الرب كل الذين يؤمنون به ويسألونه بالحق أن يعطيهم أسرار شركة الروح الذى لا ينطق به] .</p>
<p>وهكذا يؤكد القديس مقاريوس كثيراً على ضرورة الصلاة مع الإيمان والمحبة لأجل ملء الروح. وهذا التأكيد على الصلاة لنوال ملء الروح نجده أيضاً عند القديس انطونيوس إذ يقول: [هذا الروح الناري العظيم ، الذى قبلته أنا أقبلوه أنتم أيضاً . وإذا أرادتم أن تقبلوه لكى يسكن فيكم فقدموا أولاً اتعاب الجسد وتواضع القلب ، وارفعوا أفكاركم إلى السماء في النهار والليل واطلبوا بكل قلبكم هذا الروح الناري القدوس وحينئذ يعطى لكم &#8230; ] .</p>
<p>ويقول القديس أنطونيوس أيضا لأولاده مشجعاً إياهم على نوال الروح [ ولا تفكروا في قلوبكم وتكونوا ذوى قلبيين وتقولوا من يستطيع أن يقبل هذا الروح ؟ لا يا أولادى ، لا تدعوا هذه الأفكار أن تدخل إلى عقولكم بل اطلبوا باستقامة قلب وأنتم وأنا أبوكم أجتهد معكم وأطلب لأجلكم لكى تقبلوة &#8230; اديموا الطلبة باجتهاد من قلوبكم فإنه سيُعطى لكم ، لأن ذلك الروح يسكن في القلوب المستقيمة &#8230; وحينما تنالون هذا الروح ، فإنه يكشف لكم أسرار السماء ، ويطرد منكم كل خوف ، ويغمركم فرح سماوى نهاراً وليلاً ، وهكذا ستصيرون – وأنتم في هذا الجسد – مثل أولئك الذين قد دخلوا إلى الملكوت فعلاً ] .</p>
<p>فالقديس أنطونيوس يلح على الصلاة والطلبة من كل القلب لأجل نوال الروح وقبوله . ومع الصلاة والطلبة باجتهاد يؤكد على تواضع القلب من أجل قبول الروح وهو طبعاً لا يقصد قبول الروح أن أولاده لم يكونوا قد أخذوا الروح القدس في المعمودية ولكنه يقصد نوال ملء الروح وقوته أو تدفق فيض الروح القدس وملئه للإنسان عن طريق الصلاة وتواضع القلب والثقة والإيمان في أن الرب يعطيه لهم.</p>
<p>ونحد في حديث القديس أنطونيوس تحذير من الشك في نوال الروح النارى [لا تفكروا في قلوبكم وتكونوا ذوى قلبين وتقولوا من يستطيع أن يقبل هذا .. لا تدعوا هذه الأفكار أن تدخل عقولكم، بل اطلبوا باستقامة قلب وأنتم تقبلوه] . فلكي يملأنا الروح يلزم أن نصلى كثيراً ونطلبه بإيمان ونثق ان الرب يسكب ملئه علينا وفينا كما وعد.</p>
<p><strong>تواضع القلب  :</strong></p>
<p>وينبغي أن نطلب بتواضع قلب ووداعة لأن الروح القدس لا يستريح مع النفوس المتعالية &#8221; فالله يقاوم المستكبرين وأما المتواضعين فيعطيهم نعمة  ، فتواضعوا تحت يد الله القوية &#8221; (١بط ٥ : ٥ -٦) . ويقول القديس أنطونيوس [ قدموا أولاً تواضع القلب واطلبوا هذا الروح الناري ] . فمنذ القديم أعلن الله بلسان إشعياء النبي أنه يسكن مع المُنسحق والمتواضع الروح : &#8221; لأنه هكذا قال العلى المرتفع ساكن الأبد القدوس اسمه .</p>
<p>في الموضع المرتفع المقدس أسكن ومع المنسحق والمتواضع الروح لأحيي روح المتواضعين ولأحيي قلب المُنسحقين &#8221; (إش ٥٧ : ١٥) . وسكنى الله معنا وفينا معناها حلوله بروحه لنصير هيكلاً له يستريح فيه ، وروح الله لا يستريح إلا في القلب المتواضع البسيط . ومن هنا نفهم لماذا يقول الرب يسوع أن الآب يعلن أسراره السماوية وملكوته ويعطى معرفته للأطفال ويخفيها عن الحكماء والفهماء ، ويقول إن هذه هي مسرة الآب : &#8221; أخفيت هذه عن الحكماء والفهماء وأعلنتها للأطفال نعم أيها الآب لأن هكذا صارت المسرة أمامك &#8221; (لو ١٠ : ٢١) . وكان يقصد بالأطفال تلاميذه . وعلى أساس هذه القاعدة فإن الروح القدس يملأ النفوس البسيطة المتضعة بسهولة ، فإن الأرض المنخفضة تجرى إليها المياه منحدرة بسهولة ، أما الأراضي المرتفعة فلا تستطيع المياه أن تجرى فيها . هذه تحتاج أن تنخفض لتتدفق فيه المياه ، هكذا أيضاً مع أنهار الماء الحى ، أي الروح القدس فهو يتتدفق باستمرار من الرب يسوع بجسده المُمجد ، ولكنه ينجذب بسهولة إلى النفوس البسيطة الصغيرة .</p>
<p>وهذا يؤكد ما سبق أن قلناه في تكريس القلب والحياة للرب عن ضرورة التفرغ من ذواتنا ليملأنا الروح. لذلك لا نستغرب عندما نجد أن الروح القدس يعمل بقوة في نفوس صغيرة وتبدوا في نظرنا ضعيفة بينما لا تظهر قوته فينا نحن الذين نظن أننا أفضل منهم وأقوى وأكثر منهم دراية وعلماً ومعرفة &#8221; اختار الله ضغفاء العالم ليخزى الأقوياء واختار الله جهال العالم ليخزى الحكماء لكى لا يفتخر كل ذي جسد أمامه . حتى كما مكتوب من افتخر فليفتخر بالرب &#8221; (١كو ١: ٢٧ – ٣١) .</p>
<p>فالصلاة هي الوسيلة الطبيعية والجو الطبيعى الذى به وفيه يفيض الروح بملئه . ولكن إن لم نصل بإيمان منتظرين بثقة نوال ملء الروح ، وإن لم نصل بفكر بسيط وقلب متضع فلن يفيض فينا الروح بملئه ، فالصلاة تساعدنا على اكتشاف حاجتنا إلى البساطة والإتضاع وتحطيم كبرياء قلوبنا حتى ننال تواضع القلب بعمل الروح القدس نفسه فينا ، لكى يستطيع الروح بعد ذلك أن يتدفق فينا ويملأنا بدون عائق ، أي يرفع حواجز ذواتنا أولاً لكى يمكنه بعد ذلك أن يملأنا . فالصلاة هي طريق الملء بالروح .</p>
<p><strong>غاية الحياة المسيحية الحقيقية هي إقتناء الروح القدس :</strong></p>
<p>هذا ما يقوله القديس سيرافيم الراهب الروسى في القرن التاسع عشر وذلك في الكتاب الذى أصدره عنه قدس الأب القمص ويصا السريانى ( الأنبا إيساك حالياً ) : [ إن الصلاة والصوم واعمال الخير المقدمة باسم المسيح هي أعمال ممدوحة في حد ذاتها ، ولكنها لا تعتبر هدفاً &#8230; إنها وسائل أوبضائع أرضية على الإنسان أن يتاجر فيها ليصنع مكاسب مودعةًفى بنك الروح للتوفير &#8230; لاحظ أن أي عمل إن لم نكن نعمله حباً في المسيح ، لا يجلب لنا ثمار الروح القدس ، ولا يكون له أجر في الآخرة ولا نعمة في هذه الحياة &#8230;</p>
<p>إن الإنسان الذى يشكو أن أعماله كثيرة ومع ذلك لا يحس بثمار روحية هو إنسان يعمل لحساب ذاته وليس لحساب المسيح . نعم يا صديق الرب إن إقتناء الروح القدس ، روح الله ، الأقنوم الثالث الأقدس ، هو الهدف الحقيقى للحياة المسيحية ، وما الصلاة والصوم والسهر والصدقة وغيرها من الأعمال الصالحة المعمولة حباً في المسيح ، غير وسائل لهذا الهدف &#8230; ] .</p>
<p><strong>معنى إقتناء الروح القدس :</strong></p>
<p>[ عندئذ سألت الأب سيرافيم ، بأى معنى تتكلم عن إقتناء الروح &#8230; فأجابنى : إن الإقتناء معناه أن تأخذ شيئاً ملكاً لك ، هل تفهم ؟ ألا تقول هكذا عن إقتناء المال ! نفي المعنى بالنسبة لإقتناء الروح القدس ، هل تعلم ماذا تعنى كلمة إقتناء بالمعنى البشرى ؟ الإنسان العادي هدف الحياة عنده هو إقتناء المال او نوال الألقاب أو المكافآت ، أما الإنسان المسيحى فالروح القدس عنده هو رأس مال أبدى يمكن امتلاكه بوسائل مشابهة لوسائل امتلاك المال . ربنا يسوع المسيح كلمة الله يُشبه حياتنا بسوق متاجرة ، ويدعوا الجميع أن يتاجروا إلى أن يجئ ثانية ، مفتدين الوقت. وهذا يعنى اربحوا في زمانكم ودبروا أوقاتكم الثمينة جداً لتقبلوا الإله السماوى تاجروا في البضائع الأرضيه التي هو الأعمال الصالحة المعمولة حباً في المسيح، التي تؤهلنا لنعمة الروح الكلى قدسه الذى بدونه لا خلاص لأى إنسان. لأن كل نفس إنما تحيا بالروح القدس وتتنقى مرتفعة ومتلألئة بالثالوث الواحد بحالة فائقة سرية عجيبة. إن النفوس تصبحومسكناً لروح الله الكلى القدرة ونحن لا نكون أهلاً لسكناه إلا إذا عرفنا كيف يمكننا أن نقتنيه. وهو الذى سبق ويهيئ نفوسنا وأجسادنا لنكون هيكلاً لله الخالق حسب الآيه : &#8221; [ وأسكن فيهم وأكون لهم إلهاً ويكونون لى شعباً ]  . (لا ٢٦ : ١٢) ، (٢ كو ٦ : ١٦) .</p>
<p><strong>ويواصل الشيخ سيرافيم حديثة:</strong></p>
<p><strong>الصلاة وسيلة لإقتناء الروح القدس:</strong></p>
<p>إن كل عمل محبة في المسيح يعطى نعمة الروح القدس ، والصلاة هي أسهل الوسائل وأكثرها فاعلية ويسهل استخدامها في كل آن : فقد تود الذهاب إلى الكنيسة ولكن ليس هناك كنيسة أو أن خدمة القداس تكون قد انتهت ، وقد تود مساعدة فقير ولكنك لا تجد فقيراً في طريقك ، وقد تود أن تبقى طاهراً ولكن بالنظر إلى ضعفك أمام مكايد العدو لم تستطع . أما الصلاة فإنها تصلح كل وقت، وكل إنسان يستطيع أن يقوم بها : الغنى والفقير ، الصحيح والعليل ، الصالح والخاطئ . إن قوة الصلاة عظيمة وهى تعطى نعمة الروح القدس أكثر من شيء . بواسطة الصلاة نستطيع أن نخاطب الرب الصالح والمحيي.. ] .</p>
<p>علينا أن نصلى إلى أن يحل الروح القدس علينا ويعطينا بحسب قياس يعرفه هو، ويملأنا من نعمته السمائية. وإذا زارنا الروح علينا أن نتوقف عن الصلاة ونصمت أمامة لكي تسمع النفس وتفهم رسالته &#8230; لماذا نستمر في التوسل إليه قائلين: هلم تفضل وحل فينا.. في حين أنه يكون قد آتى وحل فعلاً؟ افترض إنك دعوتنى لزيارتك في بيتك وأنا قد وصلت إلى البيت، ولكنك تستمر في دعوتى مكرراً لى &#8221; من فضلك تعال &#8221; . سأفكر بلا شك هكذا: لابد أن عقله قد تاه ، إننى هنا ورغم ذلك يستمر في دعوتى ! هكذا عندما يتعطف الروح القدس ليزورنا علينا أن نتوقف عن الصلاة الصوتية. يجب على النفس أن تكون صامتة تماماً لكى تسمع وتفهم رسالته لأن المعزى يكون آنذاك قد أتى وحل فينا ليخلصنا نحن الذين سلمنا له ذواتنا ودعونا اسمه القدوس كى نقتنيه بكل تواضع ومحبة في هياكل نفوسنا الجائعة والمتعطشة لمجيئه] .<a href="#_ftn9" name="_ftnref9">[9]</a></p>
<h4>المتنيح الدكتور موريس تواضروس الأستاذ بالكلية الإكليريكية</h4>
<p><strong>المدلولات الروحية واللاهوتية لما جاء في انجيل القداس</strong></p>
<p>عدد1: ليس لكم أجر عند (Para)أبيكم:</p>
<p>يلاحظ هنا ان الحرف Para(عند)         في وضعه اللغوي (حيث يجئ بعده الاسم – أبيكم – في حالة القابل) لا يشير إلي الله كمصدر أو أصل للمفاجاة, أي لا يقصد هنا أن يتحدث عن الله كمصدر للمكافأة بل يعني الحرف   Para(مع) فالمعني الصحيح للنص هو لن يحفظ لكم الأجر ولن ينتظركم إلي جانب أبيكم أو مع أبيكم.</p>
<p>عدد2: تصوت قدامك بالبوق (Salpisys) :</p>
<p>لا يبدو أن هذا كان يحدث بصورة علنية فيصوت المتصدق بالبوق أمامه حتي يمجده الناس، لكن يبدو أن هذه الصورة مستوحاة من صورة الأبواق التي كانت عند خزينة المعبد, حيث كان يوجد ثلاثة عشر صندوقاً في لجمع المال, علي شكل أبواق أنظر</p>
<p>(لو٢١: ٢ )(مر١٢: ٤١) .</p>
<p>استوفوا (Apechousin) أجرهم:</p>
<p>يلاحظ هنا أن الحرف apo في بداية الكلام يعني: في صورة كاملة أي أنهم أخذوا (بالكامل) أجرهم، ولم يعد لهم بعد شئ من الأجر لكي ينتظروه. لقد أخذوا كل ما يستحقون.</p>
<p>عدد7: يكررون الكلام باطلاً ((Battalogysyte :</p>
<p>يعني الفعل: يتمتم. يفأفئ – ثم صار يعني: يثرثر. يتكلم باسراف. يعيد نفس الكلام مرات كثيرة، كما كان الحال بالنسبة لعبدة البعل {1مل 18: 26} وأرطاميس الأفسسيين (أع19: 34)</p>
<p>عدد11: كفافنا (eplousion) خبزنا كفافنا:</p>
<p>هذه الكلمة تترجم بصور مختلفة في الصلاة الربانية فالبعض يصلي: خبزنا كفافنا، والبعض الآخر يُصلي: خبزنا الجوهري, وهناك من يصلي: خبزنا الآتي. فما سر هذا التنوع؟</p>
<p>إن كلمة (eplousion)صفة لكلمة (الخبز) arton وهذه الصفة وردت في العهد الجديد مرتين فقط في (مت6: 11) – (لو11: 3) ويمكن أن ترد هذه الصفة إلي الأصول التالية:</p>
<p>1/ epiousia (epi + ousia) = الجوهري.</p>
<p>وإذا أخذنا بهذا الأعتبار, كان علينا أن نصلي: خبزنا الجوهري.</p>
<p>2/ مشتقة من الفعل ep-ienai بمعني: التالي – القادم – الآتي.</p>
<p>وإذا أخذنا بهذا الأعتبار, كان علينا أن نصلي خبزنا الآتي .</p>
<p>3/ مشتقة من الفعل ep-einai = الكافي لليوم الحاضر، أي يكفي من يوم لآخر. والصلاة تتجه هنا إلى الخبز الذي يكفي ليوم ويوصل إلي اليوم الذي يليه.</p>
<p>وإذا أخذنا بهذا الأعتبار, فإننا نصلي: خبزنا كفافنا.</p>
<p>وهذا المفهوم الأخير، يعني أن السيد المسيح, يدعو أن نصلي كل يوم من أجل ما يكفي حاجتنا اليومية. وهذا يتفق مع ما يوصي به السيد المسيح في الأعداد التالية من حديثه، حيث يقول: [فلا تهتموا للغد] (مت6: 34).</p>
<p>وعند القديس متي، يلاحظ أن كلمة (eplousion) مرتبطة بكلمة (اليوم) في عبارة واحدة، أي أن الصلاة تتجه هنا إلي خبز اليوم، أو الخبز الذي يكفي ليوم.</p>
<p>ويتضح هذا بالأكثر من النص الذي أورده القديس لوقا، حيث يقول: [خبزنا كفافنا، أعطنا كل يوم] (لو١١: ٣).</p>
<p>ويتفق هذا المعني مع ما ورد في سفر الخروج، عن الخبز الذي أعطاه الله من السماء [فيخرج الشعب ويلتقطون حاجة اليوم بيومها] (خر 16: 4).</p>
<p>عدد12: ذنوبنا ((Ophellymata            وأغفر لنا ذنوبنا:</p>
<p>تعني الكلمة: ديوننا. فالخطية تصور هنا كدين, والخاطئ (Opheilw) كمدين, كما يبدو من أستعمال الفعل في (مت 18: 28-30) .</p>
<p>وعلي ذلك فالكلمة تمثل الخطيئة من ناحية كعمل خاطئ، ومن ناحية أخري كأمر يتطلب إيفاء ما علينا.</p>
<p>نغفر (aphykamen) [كما نغفر نحن أيضاً]:</p>
<p>حرفياً تعني: نُبعد. نصرف النظر عن. نعفو. ويلاحظ أن الفعل هنا ورد في الزمن الماضي، أي أن الترجمة الدقيقة هي: كما غفرنا نحن.</p>
<p>في الصلاة الربانية إذن يفترض, أنه قبل أن نطلب من الله أن يغفر لنا ذنوبنا, يجب أن نكون نحن قد غفرنا لمن أساء إلينا, أي أن المصلي قبل أن يطلب من الله أن يترك ما عليه من دين, يجب أن يكون هو قد ترك للآخرين ما عليهم من دين. وهذا ما أراد السيد المسيح أن يوضحه في مثل الملك وعبيده فقد سامح الملك عبده الذي كان مديوناً له بعشرة ألاف وزنة, غير أن ذلك العبد كان له واحد من العبيد رفقائه مديوناً له بمائة دينار ولكنه لم يسامحه, بل ألقاه في السجن حتي يوفي الدين [ فلما رأي العبيد رفقاؤه ما كان حزنوا جداً, وأتوا وقصوا علي سيدهم كل ما جري. فدعاه حينئذ سيده وقال له: أيها العبد الشرير, كل ذلك الدين تركته لك لأنك طلبت لي, أفما كان ينبغي أنك أيضاً ترحم العبد رفيقك كما رحمتك, وغضب سيده وسلمه إلي المعذبين حتي يوفي كل ما كان عليه. فهكذا أبي السماوي يفعل بكم إن لم تتركوا من قلوبكم كل واحد لأخيه زلاته] (مت18: 23 -35).</p>
<p>عدد13: تجربة ((Peirasmon</p>
<p>لا تدخلنا في تجربة:</p>
<p>من الخطأ أن نحدد هذه الكلمة علي أنها تعني فقط الاغواء للشر. انها تعني التجربة من أي نوع, دون الاشارة إلي كيفيتها الأخلاقية. وهكذا نقرأفي (تك22: 1) أن الله أمتحن ابراهيم. وفي (يو6: 6) [قال يسوع لفيلبس من أين نبتاع خبزاً ليأكل كل هؤلاء, وإنما قال هذا ليمتحنه لأنه هو علم ما هو مزمع أن يفعل]. وفي (أع16: 7), فإن بولس وتيموثيوس جربا أن يذهبا إلي بيثينية فلم يدعهما الروح. وفي (2كو 13: 5), يقول الرسول بولس [جربوا أنفسكم هل أنتم في الايمان]. وهنا علي العموم, فإن هذه المناسبات والمواقف المختلفة يمكن أن تهئ فرصة للخطيئة.</p>
<p>عندما نصلي إلي الله فإننا لا نستطيع أن ندعوه أن لا يجربنا بالشر [لأن الله غير مجرب بالشرور وهو لا يجرب أحداً, ولكن كل واحد يجرب إذا انجذب وأنخدع من شهوته] (يع1: 13 – 14).</p>
<p>عدد14: الزلات (Paraptwmata)</p>
<p>[إن غفرتم للناس زلاتهم].</p>
<p>يستعمل السيد المسيح هنا كلمة أخري عن الخطية. وهناك كلمات أخري أيضاً تدل علي الخطية، فهناك مثلاً كلمة ((amartia التي يستعملها القديس لوقا في الصلاة الربية, وفي نفس الوقت يتحدث عن الخطية كدين (لو13: 4) علي نحو ما فعل القديس متي. وليس هناك من صعوبة في افتراض أن السيد المسيح وهو يتكلم عن الخطايا بوجه عام، فإنه يستعمل اصطلاحات مختلفة تعبر عن الصور المختلفة للعمل الخاطئ أنظر(مت1: 21) حيث قيل [يخلص شعبه من خطاياهم].</p>
<p>وأما الكلمة التي نحن بصددها (Paraptwmata) فهي تشتق من الفعل ((Parapiptw وتعني: يسقط- يرتد عن- يزل (أخلاقياً)، يلقي بنفسه جانباً. وعلي ذلك، فهي تحمل معني مرتبطاً بالخطيئة من حيث إنها تدل علي الخروج عن الهدف أو عدم اصابة المرضي. وفي الاستعمال الكلاسيكي، يستعمل الفعل غالباً ليشير إلي السقوط المتعمد، كما هو في حالة أن يلقي الانسان بنفسه علي الأعداء، وهذا هو المعني السائد في لغة الكتاب، حيث يشار إلي الخطيئة كعمل عنيد متصلب ومتعمد, وطائش متهور.</p>
<p>وإليك بعض الأمثلة الكتابية عن هذا المفهوم للخطيئة:</p>
<p>[وخانوا إله ابراهيم وزنوا وراء آلهة شعوب الأرض الذين طردهم الرب من أمامهم]       (1أي 5: 25).</p>
<p>[فمات شاول بخيانته التي بها خان الرب من أجل كلام الرب الذي لم يحفظه، وأيضاً لأجل طلبه إلي الجان للسؤال. ولم يسأل من الرب، فأماته وحول المملكة إلي داود بن يسي] (أي 10: 13-14).</p>
<p>[ولما تشدد ارتفع قلبه إلى الهلاك وخان الرب الهه و دخل هيكل الرب ليوقد على مذبح البخور. ودخل وراءه عزريا الكاهن ومعه ثمانون من كهنة الرب بني البأس. وقاوموا عزيا الملك وقالوا له ليس لك يا عزيا ان توقد للرب، بل للكهنة بني هرون المقدسين للايقاد اخرج من المقدس لانك خنت و ليس لك من كرامة من عند الرب الاله. فحنق عزيا وكان في يده مجمرة للايقاد وعند حنقه على الكهنة خرج برص في جبهته أمام الكهنة في بيت الرب بجانب مذبح البخور. فالتفت نحوه عزرياهو الكاهن الراس وكل الكهنة و إذا هو ابرص في جبهته فطردوه من هناك حتى انه هو نفسه بادر إلى الخروج لان الرب ضربه] (2 أي26: 16-20).</p>
<p>أنظر أيضاً: (أخبار الأيام الثاني 29: 6) – (حزقيال 14: 13, 18: 26).</p>
<p>وعلي ذلك، فالخطية لا تتضمن عذراً أو مبرراً. انها انتهاك أو تدنيس أو أعتداء واعٍ متعمد علي الحق. انها تتضمن اذن الاثم أو الشعور بالاثم, ولذلك فإنها تذكر في العهد الجديد مرتبطة بالحاجة إلي الغفران والعفو, كما يبدو من الآيات التالية :</p>
<p>[الذي أُسلم من أجل خطايانا وأقيم لأجل تبريرنا] (رو4: 25)</p>
<p>[وليس كما بواحد قد أخطأ هكذا العطية لأن الحكم من واحد للدينونة وأما الهبة فمن جري خطايا كثيرة للتبرير] (رو5: 16).</p>
<p>[ونحن أموات بالخطايا أحياناً مع المسيح. بالنعمة أنتم مخلصون] (أف2: 5)</p>
<p>[وإذا كنتم أمواتاً في الخطايا&#8230; أحياكم معه مسامحاً لكم بجميع الخطايا] {كو2: 13} وتختلف كلمة ((Paraptwma التي نحن بصدد شرحها عن كلمة ((Parabasis التي تعني المخالفة الموضوعية والتجاوز والانتهاك للناموس، بينما أن كلمة ((Paraptwma تتضمن معني الخطيئة من حيث تأثيرها علي الفاعل، ولذلك فهي تذكر مرتبطة بالعبارات التي تشير إلي نتائج الخطية وإلي العلاج منها, كما يبدو من الآيات التالية :</p>
<p>[ولكن لَيس كَالخطِية هكَذا أَيضًا الهبةُ. لأَنه إن كَان بخطية وَاحدٍ مات الكَثيرون، فبالأَولَى كَثيرًا نعمة الله، والعطِية بالنعمة الَتي بالإنسان الواحد يسوعَ المسيح، قد ازدادت للكَثيرين] (رو5: 15) أنظر أيضاً (رو5: 17)</p>
<p>عدد16: ومتي صمتم (Nysteuyte):</p>
<p>يُستعمل هذا الفعل في زمن المضارع، أي أن السيد المسيح يتحدث عن الصوم كعمل يمارس في الوقت الحاضر ويتقدم ويتصاعد مع الزمن، فكأنه يقول: عندما تصومون الآن أو فيما بعد.</p>
<p>عابسين (Skuthrwpei)                              [ ومتي صمتم فلا تكونوا عابسين ]</p>
<p>أي ذات ملامح حزينة كئيبة تعبر عن الألم أو الأستياء أو عدم السرور. ولم تستعمل هذه الكلمة في العهد الجديد إلا مرتين: في هذا الموضع: وكذلك في الانجيل للقديس لوقا حيث صار حديث عن تلميذي عمواس، وقد كانا يسيران ويتطارحان الكلام وهما عابسين بسبب الأحداث التي تمت مع يسوع الناصري [كيف أسلمه رؤساء الكهنة لقضاء الموت وصلبوه&#8230;] (لو24: 13-21). وفي الاستعمال الكلاسيكي كانت تعني: متجهم الوجه- نكد..</p>
<p>يغيرون ((Aphanizousin وجوههم:</p>
<p>إن الفكرة الأساسية هنا، يحجب أو يخفي الوجه أكثر من أن يغيره. ويبدو هذا من المقابلة في نفس الآية بين هذه الكلمة، والكلمة المضادة لها وهي: يظهروا (Phanwsin) أي أن المعني في هذه الآية أنهم يخفون وجههم الحقيقي لكي يظهروا بوجه مقنع مزيف بقصد خداع الناس. لقد قصد السيد المسيح بكلامه أن يشير إلى المظاهر التي ترتبط عادة بالصوم مثل عدم غسل الوجه وعدم دهن الرأس. ولذلك كانت وصية السيد المسيح للصائمين [أدهن رأسك وأغسل وجهك لكي لا تظهر للناس صائماً بل لأبيك الذي في الخفاء، وأبوك الذي يري في الخفاء يجازيك علانية] (مت6: 17-18)<a href="#_ftn10" name="_ftnref10">[10]</a></p>
<h3>من وحي قراءات اليوم</h3>
<p>إسألوا تعطوا إطلبوا تجدوا إقرعوا يفتح لكم &#8230;. يعطي الروح القدس للذين يسألونه (لو١١:١٣)</p>
<p>ليس معني الآية أن كل ما نسأله سنأخذه وأن كل ما نطلبه سنجده</p>
<p>جوهر الطلب يجب أن يكون الإمتلاء من الروح القدس</p>
<p>إذا أخذنا كل ما سألنا دون الإمتلاء من الروح لن نشبع وسيستمر عطشنا أكثر</p>
<p>الإمتلاء من الروح يجعلنا ندرك تدبير الله في أمور حياتنا فلا نعيش في حيرة</p>
<p>الإمتلاء من الروح يشبع قلوبنا فنعيش في كفاية محبّته</p>
<p>الإمتلاء من الروح يُقلَّل أسئلتنا في الصلاة ويحوّلها إليّ تسبيح وشكر</p>
<p>&#8221; هذه كلها تزاد لكم &#8221; آية تعلن أنه رغم أن &#8221; هذه كلها &#8221; هي هموم حياتنا وأكثر طلباتنا فعندما نقارنها بعطية الروح تصير زوائد وأمور بسيطة</p>
<p>يريد الله أن يملأني بروحه بينما أن غارق في طلباتي وإحتياجاتي منه</p>
<p>الصلاة التي تملأ الإنسان بالروح تجعله لا يطلب إِلَّا لأجل إخوته وكل البشر</p>
<p>&#8221; نسألك أن تجدّده في إحشائنا.. روح الإستقامة &#8221; طلبة الكنيسة في قطع الساعة الثالثة ليتها تكون طلبتنا وإحتياجنا وصراخنا كل لحظة</p>
<p>&#8221; هدف الحياة هو إقتناء (أي الإمتلاء المُتَجدِّد من) الروح القدس &#8221; ق. سيرافيم ساروفسكي<a href="#_ftn11" name="_ftnref11">[11]</a></p>
<h3>المراجع:</h3>
<p><a href="#_ftnref1" name="_ftn1"></a>١- القديس يوحنا ذهبي الفم - تفسير رسالة أفسس إصحاح ٥ - القمص تادرس يعقوب ملطي</p>
<p><a href="#_ftnref2" name="_ftn2"></a>٢-ملحوظة: (كنز التفسير الشماس بشارة بولس ص ٢٩٨ )</p>
<p><a href="#_ftnref3" name="_ftn3"></a>٣- Jr, A.J. &amp; Oden, T.C. (2003). Luke (The Ancient Christian Commentary on Scripture, New Testament part III ). Illinois (U.S.A): InterVarsity Press. Pages 184</p>
<p>ترجمة الأستاذ إدوارد ميخائيل - كنيسة العذراء مريم - رونوك - ڤرچينيا - أمريكا</p>
<p><a href="#_ftnref4" name="_ftn4"></a>٤- كتاب عطية الروح القدس (صفحة ٣٩) - القمص تادرس يعقوب ملطي</p>
<p><a href="#_ftnref5" name="_ftn5"></a>٥- المرجع: كتاب إختبرني يا الله (صفحة ٦٠) - قداسة البابا تواضروس الثاني</p>
<p><a href="#_ftnref6" name="_ftn6"></a>٦-  المرجع: كتاب إختبرني يا الله (صفحة ٦٠ ) - قداسة البابا تواضروس الثاني</p>
<p><a href="#_ftnref7" name="_ftn7"></a>٧-  المرجع: كتاب دراسات في الكتاب المقدس - إنجيل متي (صفحة ١٤٢ - ١٤٤ ) - الأنبا أثناسيوس مطران كرسي بني سويف والبهنسا</p>
<p><a href="#_ftnref8" name="_ftn8"></a>٨-  المرجع: كتاب تأملات وعناصر روحية في أحاد وأيام السنة التوتية ( الجزء الأول صفحة ٢٠٨ ) - إعداد القمص تادرس البراموسي</p>
<p><a href="#_ftnref9" name="_ftn9"></a>9-المرجع: الكتاب الشهري للشباب والخدام ( عدد يونيو ويوليو لسنة ٢٠١١) - بيت التكريس لخدمة الكرازة</p>
<p><a href="#_ftnref10" name="_ftn10"></a>١٠- المرجع: كتاب المدلولات اللاهوتية والروحية في الكتاب المقدس بحسب إنجيل متي ( صفحة ٥٢ ) - دكتور موريس تواضروس أستاذ العهد الجديد بالكلية الإكليريكية</p>
<p><a href="#_ftnref11" name="_ftn11"></a>١١- المرجع: كتاب إختبرني يا الله (صفحة ٦٠ ) - قداسة البابا تواضروس الثاني</p>

      {% endcreateArticleAccordions %}
    </section>
  {% endblock %}
