---
layout: 'layouts/reading.html'
title: 'الأحد الثاني من بؤونة'
permalink: sundays/10-2.html
---
  {% block content %}
    <section id="readings">
      <ul>
      {% if 'undefined' != 'undefined' %}
      
      {% else %}
      {% if '19.16:7-8' != 'null' %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">العشية</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeVespers '19.16:7-8' '42.4:38-41' %}
          </div>
        </div>
      </li>
      {% endif %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">باكر</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeMatins '19.34:1-2' '41.16:2-8' '' %}
          </div>
        </div>
      </li>
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <h3 class="flex items-center justify-between">
            <span class="kufi">القداس</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </h3>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeLitugy '46.2:6-16' '61.1:1-8' '44.14:8-22' '19.13:6,5' '42.5:17-26' %}
          </div>
        </div>
      </li>

      {% endif %}
        </ul>
    </section>
    <section id="article">
      <h3 class="mt-8 mb-4 heading-explain">شرح القراءات</h3>
      {% createArticleAccordions %}
        <p></p>
<p></p>
<p></p>
<p>&#8221; هو: الإيمان والوداعة، فيغمر صاحبهما بالكنوز &#8221; (يش بن سيراخ ١: ٣٥)</p>
<p>&#8221; قطعاً انقطع ماء البحر والعمق العميق صار مسلكاً.. أرض غير ظاهرة أشرقت الشمس عليها وطريق غير مسلوكة مشوا عليها &#8221;    لبش الهوس الأوَّل</p>
<p>&#8221; مادامت عطيّة الله تفوق الإدراك تمامًا فمن المنطق أننا نحتاج إلى الإيمان.</p>
<p>أما ترون أن عدم الإيمان هو هوّة سحيقة، أمّا الإيمان فحصن حصين. لأن عدم الإيمان أهلك الآلاف بينما الإيمان لم يُؤدِ إلى خلاص الزانية وحدها، بل جعلها أيضًا أمّا لكثيرين.</p>
<p>إننا نستضيف برقةٍ أم كل البركات، وهو الإيمان، لكي نكون كمن هم يسيرون في ميناء هادئ مستقر تمامًا، محافظين على إيماننا الأرثوذكسي، فنقود سفينتنا باستقامة ونحظى بالبركات بالنعمة ومحبة البشر التي لربنا يسوع المسيح &#8221; <a href="#_ftn1" name="_ftnref1">[1]</a></p>
<p></p>
<p></p>
<h3><strong><em>شواهد القراءات</em></strong></h3>
<p></p>
<p>(مز ١٥: ٨،٧)، (لو ٤: ٣٨-٤١) ، (مز ٣٣ : ٢،١ )، (مر ١٦ : ٢-٨ ) (١كو ٢ : ٦-١٦)  (٢بط ١ : ١-٨ )، (أع ١٤ : ٨-٢٢) ، (مز ١٢ : ٦ )، (مت ٩ : ١-٨)</p>
<p></p>
<p></p>
<h3>ملاحظات على قراءات اليوم:</h3>
<p></p>
<p>+ مزمور باكر اليوم (مز ٣: ١، ٢) هو نفس مزمور قدَّاس الأحد الأوَّل من بابه</p>
<p>وهما الأحدين الذي يأتي فيهما إنجيل القدَّاس عن معجزة شفاء المفلوج المحمول من أربعة</p>
<p>+ قراءة الكاثوليكون اليوم (٢بط ١: ١ &#8211; ٨) هي نفس قراءة الكاثوليكون للأحد الرابع من هاتور، وتُشبه قراءة الكاثوليكون (٢بط١: ١ &#8211; ١١) ليوم ٣ مسري (نياحة القديس سمعان العمودي)</p>
<p>قراءة اليوم بالآيات الزائدة عن قراءات الآحاد (من ٩ &#8211; ١١) تتكلَّم عن الإجتهاد في حفظ الدعوة (القديس سمعان العمودي)، أمَّا قراءات الأحد الرابع من هاتور تتكلَّم عن المعرفة الكاملة لربنا يسوع بالفضائل المُتكاثرة، وقراءات الأحد الثاني من بؤونه عن عظمة الإيمان</p>
<p></p>
<p></p>
<h3><strong>شرح القراءات</strong></h3>
<p></p>
<p>يتكلم هذا الأحد عن الإيمان كمدخل وأساس وضمان دوام الامتلاء بالروح</p>
<p>تبدأ المزامير بحضور الله ضمان وأمان النفس (مزمور عشيّة) وفخرها (مزمور باكر) وخلاصها وسرورها (مزمور القدَّاس)</p>
<p>يبدأ مزمور عشية بعيون الإيمان المفتوحة على حضور الله ومسيره دائما معنا (تقدمت فرأيت الرب أمامي في كل حين لأنه عن يميني كي لا أتزعزع)</p>
<p>ويكمل مزمور باكر بافتخار الإيمان وفخره في الرب (أبارك الرب في كل وقت وفي كل حين تسبيحته في فمي بالرب تفتخر نفسي)</p>
<p>ويذكر مزمور القداس سبب افتخار النفس بالله إحسانه الإلهي وخلاصه (أسبح الرب الذي أحسن إلى &#8230; يبتهج قلبي بخلاصك)</p>
<p>ويتكلم إنجيل عشية عن إيمان التلاميذ وسؤالهم الرب لأجل حماه بطرس وأيضا إيمان الجموع في مجيئهم إلي الرب بكل أنواع الأمراض والأوجاع (وكانت حماه سمعان قد أخذتها حمي شديدة فسألوه من أجلها فوقف فوقها وزجر الحمي فتركتها وفي الحال قامت وخدمتهم ولما غربت الشمس جميع الذين عندهم مرضي بأمراض مختلفة قدموهم إليه فوضع يديه على كل واحد منهم وشفاهم)</p>
<p>تتكلّم القراءات عن سر الإيمان والحكمة السماوية (البولس ) وسموّ الإيمان الثمين ( الكاثوليكون ) وإجتهاد الإيمان ( الإبركسيس )</p>
<p>في البولس يعلن الروح القدس سر الإيمان ويفيض علينا بالحكمة الإلهية التي لايدركها العالم ولايستطيع الوصول إليها (بل كما هو مكتوب: مالم تره عين ولم تسمع به أذن ولم يخطر علي قلب بشر ماأعده الله للذين يحبونه فأعلنه الله لنا نحن بروحه لأن الروح يفحص كل شئ حتى أعماق الله &#8230;.. هكذا أيضا أمور الله لايعرفها أحد إلا روح الله ونحن لم نأخذ روح العالم، بل الروح الذي من الله لنعرف الأشياء الموهوبة لنا من الله)</p>
<p>ويحلو للقديس بطرس في الكاثوليكون أن يسميه الإيمان الثمين ويعتبر المؤمنين مساوين له في الإيمان (سمعان بطرس عبد يسوع المسيح ورسوله إلى الذين نالوا معنا إيمانا ثمينا مساويا لنا ببر إلهنا والمخلص يسوع المسيح)</p>
<p>ومع أن هبه الإيمان مجانية إلا أن ثمرها فينا يحتاج إلي إجتهاد ونشاط دائم (كما أن كل شئ قد صار لنا بقوة لاهوته للحياة والتقوي التي وهبت لنا بمعرفة الذي دعانا بمجده والفضيلة &#8230; لكي تصيروا بها شركاء الطبيعة الإلهية &#8230;. ولهذا عينه وأنتم باذلون كل اجتهاد قدموا في إيمانكم فضيلة &#8230; لأن هذه إذا كانت فيكم وكثرت تصيركم لامتكاسلين ولاغير مثمرين في معرفة ربنا يسوع المسيح)</p>
<p>بينما يشير الإبركسيس إلي إيمان المقعد من بطن أمه (وكان يجلس في لسترة رجل عاجز الرجلين مقعد من بطن أمه ولم يمش قط هذا كان يسمع بولس يتكلم فشخص إليه وإذ رأي أن له إيمانا ليشفي قال له بصوت عظيم قم منتصبا على رجليك فوثب وصار يمشي)</p>
<p>لكنه في ذات الإصحاح يدعو التلاميذ إلى الثبات في الإيمان وإحتمال الضيقات (فبشرا في تلك المدينة وتلمذا كثيرين ورجعا إلى لسترة وإيقونية وأنطاكية يثبتان أنفس التلاميذ ويعظانهم أن يثبتوا في الإيمان وإنه بضيقات كثيرة ينبغي أن ندخل ملكوت الله)</p>
<p>ويختم إنجيل القداس بإيمان الأربعة الذين لم تقف أمام إيمانهم أي معوقات أو عوائق لأجل شفاء صديقهم (وإذا برجال قد أحضروا إليه رجلا مفلوجا على سرير &#8230; ولما لم يجدوا كيف يقدمونه إليه لسبب الجمع صعدوا على السطح ودلوه مع السرير من على السقف في الوسط قدام يسوع فلما رأي إيمانهم قال للمفلوج أيها الانسان مغفورة لك خطاياك &#8230; ولكن لكي تعلموا أن لابن البشر سلطانا على الأرض أن يغفر الخطايا قال للمفلوج لك أقول قم واحمل سريرك واذهب إلى بيتك فللوقت قام أمامهم)</p>
<p></p>
<p></p>
<h4><strong><u>ومعني الآية (والشرح هنا للقمص أنطونيوس فكري)<a href="#_ftn2" name="_ftnref2">[2]</a></u></strong></h4>
<p></p>
<p>ولكن لكي تعلموا أن لابن الإنسان سلطانًا على الأرض أن يغفر الخطايا = هناك تفسير لطيف آخر لهذه الآية، أن الربيين كانوا يعلمون أن الإنسان لا يمكن شفاؤه من مرض إلاّ إذا غفرت خطاياه كلها. وبهذا يكون السيد المسيح حين قام بشفاء المفلوج قد أثبت أنه غفر خطاياه كما قال.</p>
<p>ملخّص القراءات</p>
<p>فالإيمان هو عطية الروح ( البولس )</p>
<p>لكنه يحتاج لإجتهاد الإنسان ( الكاثوليكون )</p>
<p>وثباته في الضيقات ( الإبركسيس )</p>
<p>وهو يفتح عيون القلب على الحضور الإلهي لتفتخر به وحده وتبتهج بخلاصه (مزمور عشية وباكر والقداس)</p>
<p>ويظهر ثمره عندما نسأل لأجل الآخرين (إنجيل عشية وإنجيل القداس)</p>
<p></p>
<p></p>
<h3>إنجيل القدَّاس في فكر آباء الكنيسة</h3>
<p></p>
<p><strong>المفلوج</strong></p>
<p>&#8220;يُظْهِر فِعل أصدقاء المفلوج الذين حملوه ثم نقبوا سطح المنزل حتى دلّوه ووضعوه أمام يسوع – يُظْهِر مدى جِدّيتهم وشدة إصرارهم؛ ويؤَكِّد أن كل إنسان مريض أو خاطئ لهُوَ بحاجةٍ إلى مَن يشفع له لدى الرب&#8221; (القديس أمبروسيوس)؛ &#8220;فهكذا فَعَلَ المفلوج إذ أتى به مُرافِقِيه إلى حضرةِ يسوع.&#8221;</p>
<p>&#8220;بهذا يُعلِن يسوع الطبيب لخليقته عن حضوره لكي يهبهم الشفاء الروحي بِالغفران، والجسدي أيضًا حيث شفى المفلوج.&#8221; (القديس كيرلُّس السكندري).</p>
<p>&#8220;إن يسوع يُظْهِر قدرته على شفاءِ البشر مِن كل أوجاعهم.&#8221; (القديس أمبروسيوس).</p>
<p>&#8220;غفران يسوع يُثير تساؤلاً إذا ما كان الإِيمان بحِلُّه وما يصنعه مِن آيات شفاء ضربًا مِن التجديف، أَمْ أنه بالحقيقة ابن الله.&#8221; (مار إفرام السرياني).</p>
<p>&#8220;يسوع ذو القدرة على معرفة وفحص قلوبهم وأفكارهم، هو بالتأكيد لَقادرٌ أيضًا أنْ يغفر الخطايا. والأمر الأهم الذي يريد يسوع إعلانه هو أنه ابن الإنسان الذي له السلطان على الأرض لمغفرة الخطايا؛ بَلْ وأنه سيعطي هذا السلطان لكنيسته.&#8221; (القديس كيرلُّس السكندري). &#8220;الأمر بالرجوع إلى البيت هو الأمر بالعودة إلى الفردوس.&#8221; (القديس أمبروسيوس)<a href="#_ftn3" name="_ftnref3">[3]</a></p>
<p></p>
<p></p>
<h3><strong>الكنيسة في قراءات اليوم</strong></h3>
<p></p>
<p>لاهوت الروح القدس                                                البولس</p>
<p>الجهاد (باذلون كل إجتهاد )                                     الكاثوليكون</p>
<p>بضيقات كثيرة ينبغي أن ندخل ملكوت الله                    الإبركسيس</p>
<p>شفاعة الأحياء                                                       إنجيل القدَّاس</p>
<p></p>
<p></p>
<h4><strong>أفكار مقترحة لعظات</strong></h4>
<p></p>
<p><strong>(١) الإيمان</strong></p>
<p><strong>١- الثقة في المسيح له المجد مصدر الشفاء</strong></p>
<p>&#8221; وكانت حماة سمعان قد أخذتها حمي شديدة فسألوه من أجلها &#8221; إنجيل عشيّة</p>
<p>&#8221; هذا كان يسمع بولس يتكلَّم فشخص إليه وإذ رأي أن له إيمانا ليُشفي قال له بصوت عظيم: قم منتصبا على رجليك &#8221; الإبركسيس</p>
<p>٢- سرّ الإيمان والحكمة السماوية والعطايا الإلهية</p>
<p>&#8221; بل ننطق بحكمة الله في سر الحكمة المكتومة التي سبق الله فعينها قبل الدهور لمجدنا &#8230; بل كما هو مكتوب: ما لم تره عين ولم تسمع به أذن ولم يخطر علي قلب بشر ما أعده الله للذين يحبِّونه فأعلنه الله لنا نحن بروحه &#8221;</p>
<p>٣- الإيمان الثمين الذي نلناه ببرّ الله وخلاصه</p>
<p>&#8221; سمعان بطرس عبد يسوع المسيح ورسوله إلى الذين نالوا معنا إيماناً ثميناً ببرّ إلهنا والمخلص يسوع المسيح &#8221;</p>
<p>٤- الإيمان العملي المُثمر أو اجتهاد الإيمان</p>
<p>&#8221; ولهذا عينه &#8211; وأنتم بازلون كلَّ اجتهاد &#8211; قدِّموا في إيمانكم فضيلة وفِي الفضيلة معرفة وفِي المعرفة تعففاً وفِي التعفف صبراً وفِي الصبر تقوي وفِي التقوى مودة أخوية وفِي المودة الأخويّة محبة &#8221;</p>
<p>٥- الثبات في الإيمان برغم الضيقات والآلام</p>
<p>&#8221; فبشَّرا في تلك المدينة وتلمذا كثيرين ورجعا إلى لسترة وإيقونة وأنطاكية يثبِّتان أنفس التلاميذ ويعظانهم أن بيثبتوا في الإيمان وإنه بضيقات كثيرة ينبغي ان ندخل ملكوت الله &#8221;</p>
<p>٦- شركة وشفاعة الإيمان</p>
<p>&#8221; فلما رأي إيمانهم قال للمفلوج أيها الإنسان مغفورة لك خطاياك &#8221; إنجيل القدَّاس</p>
<p>(٢) <strong>أجواء الغفران والخلاص والشفاء</strong></p>
<p>إذا كنَّا نريد أن نعيش في جو ومجال هذه المُعجزة في الغفران والخلاص والشفاء فيجب أن نحيا هذه البركات ونلتزم بهذه المسؤوليات:</p>
<p>١- الكلمة</p>
<p>أجواء الخلاص والشفاء هي أجواء كلمة الله الحية الفعَّالة (عب ٤: ١٢)، والتي فيها الحياة الأبديّة (يو ٥: ٣٩)، لذلك قدر إرتباطنا وشبعنا بكلمته قدر شفاؤنا وخلاصنا، فكلمة الله لا ترجع أبداً فارغة (أش ١١:٥٥) ، وهي إن دخلت إلي أعماقنا وغُرِسَت في قلوبنا ستكون قادرة علي خلاص نفوسنا ( يع ١ : ٢١ )</p>
<p>٢- الشركة</p>
<p>ما أجمل أن يعمل أربعة معاً بفكر وروح واحد وقلب واحد لأجل إنسان مريض، فلا يحتاج الله أن ينظر إلي إيمان المريض، بل إيمانهم (مت ٢:٩)، ولا يحتاج المريض أن يتكلَّم فقد سبقت محبتهم وأعلنت ما هو أعظم من أي كلام</p>
<p>٣- الإيمان</p>
<p>المُعجزة الوحيدة في البشائر الأربعة التي أعطي فيها الرب الشفاء لإنسان نتيجة إيمان آخرين دون كلمة واحدة (المرأة الكنعانية طلبت لأجل إبنتها وقائد المئة طلب لأجل العبد ويايرس طلب لأجل إبنته وأرملة نايين نظر الي إحتياجها فأقام إبنها)،</p>
<p>فما أعظم إيمان من يخدم الآخرين الإيمان الذي لا يأخذ فقط ما يطلبه (شفاء الجسد)، بل بالأحرى ما يحتاجه ولا يأخذ ماهو في حاضره، بل يعطيه الرب ما هو لأبديته</p>
<p>٤- حضور المسيح له المجد</p>
<p>اللقاء مع الرب يُثْمِر دائماً بما يتخطي ويتجاوز تصوراتنا كبشر (وَالْقَادِرُ أَنْ يَفْعَلَ فَوْقَ كُلِّ شَيْءٍ، أَكْثَرَ جِدًّا مِمَّا نَطْلُبُ أَوْ نَفْتَكِرُ، بِحَسَبِ الْقُوَّةِ الَّتِي تَعْمَلُ فِينَا، (أف ٢٠:٣)</p>
<p>٥- البذل</p>
<p>كم من التعب تكبَّده هؤلاء الأربعة للوصول إليه، وكم من الإنتقادات والتعليقات سمعوها من الناس وكيف أبطلوا كل حُجَّة (يُمْكِن أن تكون لدينا في تعب الخدمة وفِي معوّقاتها)، لذلك أعطاهم الرب أكثر ممَّا كانوا يتصورون ويطلبون وصاروا قدوة لنا في كيف نُحْضِر كل إنسان إلى المسيح يسوع (كو ٢٨:١)</p>
<p></p>
<p></p>
<h3>عظات آبائية</h3>
<p></p>
<h4>شفاء المفلوج بحسب تعليم القديس هيلارى أسقف بواتييه (٣١٥-٣٦٧)</h4>
<p></p>
<p>+ في قصة شفاء ذلك المفلوج نرى ان بعض الاصدقاء أتوا بها إلي يسوع ليشفيه، ولم يكن هناك أعظم من كلام السيد أثناء شفاؤه لهذا المفلوج، فهو لم يقل له: &#8220;فلتشف &#8221; أو &#8220;قم امشي&#8221;،لكنه قال:&#8221; تشجع يا إبني ، مغفورة لك خطاياك&#8221; في المسيح غُفرت كل خطايا آدم ، وفي المفلوج أُحضرت كل الأمم محمولة علي أيدي الملائكة كى تنال الشفاء.</p>
<p>والرب نفسه يدعو المفلوج ابناً له، حيث ان عمل الرب الخلاصي هو أن يغفر خطايانا ويصفح عنها.</p>
<p>ونحن هنا لا ندين المفلوج بأنه قد أقترف أية خطية أدت إلى مرضه، لا سيما أن الرب قد أوضح في مكان آخر أن مرض الأعمي منذ ولادته لم يكن نتيجة خطية أرتكبها أو خطية جناها عليه أبواه. ومع أن السيد الرب كان قد أتخذ جسدًا، لكنه كان قادر علي مغفرة الخطايا وإقامة الأجساد ايضاً اذ قال:&#8221; فلكي تروا ان ابن الإنسان له سلطان علي الأرض ليغفر الخطايا&#8221;وبعد مغفرته لخطايا ذلك المفلوج قال له:&#8221; قم وأحمل سريرك&#8221;.</p>
<p>ولقد كان المسيح قادرًا على أن يقول له فقط&#8221;قم&#8221; ولكنه كان عليه أن يشرح له كل ما يجب أن يفعله فأضاف:&#8221; أحمل سريرك وإذهب الي بيتك&#8221;.</p>
<p>لقد منحه المسيح له المجد غفرانًا لخطاياه، ومن ثم أظهر له قدرته بأنه أعاد الصحة وانهضه من سريره. بل وجعله يحمل سريره هذا. وبحمل المفلوج لسريره أظهر المسيح أن الأجساد تحررت من الوهن والمعاناة. وبرجوعه إلى بيته أظهر يسوع إنه يُعد للمؤمنين طريقًا للعودة إلى الفردوس الذي طُرد منه آدم أبو البشرية بعدما تدنس بالخطية.</p>
<p><em>&#8220;فتعجب الجموع&#8221;</em></p>
<p>لقد كان إعجاب الجموع نتيجة دهشتهم من إتمام هذا العمل الشفائي العظيم، ومع هذا فإن السر كان لا أمامهم، وقد قدّم لهم الآن لمحة عن عمله الخلاصي الذي أتى لأجله، وهو أن مامن عمل بشري يتم إلا بعد مغفرة الخطايا من قبل الرب.</p>
<p>وقد خاف الجموع من كلام الرب وأعماله إذ إنه ما من أحد يعود إلى البيت الابدى إن لم يُمنح غفرانًا الخطايا.</p>
<p>&#8220;ومجدوا الله&#8221;</p>
<p>لما تعجب الجموع مما رأوه مجدوا الرب الذي اعطي البشر مثل هذا السلطان. فترتيب الرب اللائق لهذا العمل العجيب أزال منهم الخوف والرهبة وجعلهم يمجدون الله.</p>
<p>وهذا التمجيد يليق بالمسيح وحده، فهو الغافر الخطايا بقوة الآب المولود منه والمساوى له في الجوهر الواحد. وبما ان الله وحده هو القادر أن يفعل هذا، فالأبن الوحيد الجنس له أيضًا انيغفر الخطايا. وقد بيّن المسيح هنا انه هو الله الحق وأنه مساوٍ لابيهفي الجوهرالواحد.<a href="#_ftn4" name="_ftnref4">[4]</a></p>
<p></p>
<p></p>
<h4>شفاء المفلوج عند القديس كيرلس الكبير</h4>
<p></p>
<p>إذ قال المسيح للمفلوج: &#8220;أيها الإنسان مغفورة لك خطاياك&#8221; قصد السيِّد بذلك أن يخاطب الإنسانيّة بأسرها، كل الذين يؤمنون بالمسيح تُشفى نفوسهم من أسقام الخطيّة وتُغفر لهم آثامهم التي ارتكبوها، وبعبارة أخرى يخاطب المسيح المفلوج قائلًا: لا بُد وأن أشفي روحك قبل جسدك، أما إذا لم أقم بذلك فإنَّك بقوّة الجسم تمشي على قدَّميك وتعود إلى حياة الإثم والرذيلة، ولو أنك لم تطلب أيها المريض شفاء الروح، فإنَّي أنا إله ورب أرى أمراض النفس وأسقامها، وكيف أتت بك إلى هذا المرض الوبيل.</p>
<p>ولما كان هناك جمع كبير من الكتبة والفريسيين وكان لا بُد من صنع آيّة لتعليمهم، نظرًا لامتهانهم السيِّد فإنَّ المسيح قام بعمل فائق غريب.</p>
<p>انطرح أمام المسيح على فراش المرض رجل أنهكه الفالج وأعياه ولم ينفع فيه علاج أو دواء واعترف نفس الأطباء بقصورهم عن شفاء رجل دكه المرض دكًا، فيئس أقاربه منه، إلا أنهم رأوا إشعاع الأمل يبدو عن كثب، فأسرعوا إلى حيث المسيح الطبيب العظيم الذي أتى من فوق من السماء، وقدَّموا له مريضهم، وقبل المسيح إيمانه، فبدد الإيمان سحابة المرض، إذ أن المسيح يخاطب المفلوج بالعبارة المشهورة: &#8220;مغفورة لك خطاياك&#8221;.</p>
<p>قد يسأل إنسان: &#8220;كان المفلوج في حاجة إلى شفاء جسمه، فلماذا يعلن المسيح له مغفرة الخطايا؟&#8221; ليعلمنا بأن الله يشاهد سكون أعمال الإنسان ويرى الطريق الذي يسلكه في حياته، إذ أنه مكتوب &#8220;لأن طرق الإنسان أمام عيني الرب وهو يزن كل سبله&#8221; (أم ٥: ٢١). ولما كان الله صالحًا ويريد أن كل الناس يخلصون وإلى معرفته يقبلون، فكثيرًا ما يطهر الإنسان الذي يرتكب الإثم والشر بتعذيب جسمه بمرض ينهكه داء يقعده، على حد قول الوحيّ: &#8220;تأدبي يا أورشليم&#8230; أمامي دائمًا مرض وضرب&#8221; (إر ٦: ٨). وورد في سفر الأمثال: &#8220;يا ابني لا تحتقر تأديب الرب ولا تكره توبيخه، لأن الذي يحبه الرب يؤدبه وكأب بابن يُسّر به&#8221; (أم ٣: ١٠). فحسنًا يعلن المسيح محو الخطايا والآثام فإنَّ في هذه جميعها منبع المرض وجرثومة الداء، فإذا ما مُحيت الخطيّة شُفي الإنسان من مرض الجسم الذي اتصل بها واستبشعها.</p>
<p>&#8220;فابتدأ الكتبة والفرِّيسيون يفكرون قائلين: من هذا الذي يتكلَّم بتجاديف&#8221;.</p>
<p>أعلن المسيح (كما أشرنا إلى ذلك آنفًا) مغفرة الخطايا بسلطان إلهي، ولكن هذا الإعلان أثار الفرِّيسيين وكانوا طغمة جهل وحسد، فتخاطبوا فيما بينهم: &#8220;من هذا الذي يتكلَّم بتجاديف؟&#8221;</p>
<p>ما كان يمكنكم أن تسألوا أيها الفرِّيسيون هذا السؤال لو كنتم وقفتم على معاني الأسفار المقدَّسة، وطالعتم نبوات الكتاب المقدَّس، وفهمتم سّر التجسد العظيم القدر والفائق الوصف. فبدلًا من درس النبوات اتهمتم السيِّد برذيلة التجديف وحكمتم عليه بالموت، لأن شريعة موسى أعدمت كل إباحي مجدّف، فقد ورد: &#8220;ومن جدف على اسم الرب فإنَّه يقتل&#8221; (لا ٢٤: ١٦).</p>
<p>خاطب المسيح الفرِّيسيين قائلًا: &#8220;ماذا تفكرون في قلوبكم&#8221; ، والمعنى الصريح من هذه العبارة &#8220;إنكم أيها الفرِّيسيون تعترفون بأنه لا يمكن لغير الله غفران الخطايا؟ ولكن اعلموا أيضًا أنه لا يمكن لغير الله معرفة ما يدور في خلد الإنسان فهو وحده الذي يكشف عن أعماق القلب فيقف على أسراره ونيَّاته، إذ ورد على لسان النبوَّة &#8220;أنا الرب فاحص القلب مختبر الكلى&#8221; (إر ١٧: ١٠ )، ويشير داود إلى ذلك بالقول: &#8220;المصور قلوبهم جميعًا المنتبه إلى كل أعمالهم&#8221; (مز ٣٣ : ١٥)، فالله الذي يصور القلوب والكلى هو الله الذي يغفر الخطيّة والإثم.</p>
<p>&#8220;ولكن لكي تعلَّموا أن لابن الإنسان سلطانًا&#8221;.</p>
<p>حتى يبدد المسيح سحابة الشك والريب التي تظلل بها الكتبة والفرِّيسيون، لم يغفر السيِّد خطايا الرجل المفلوج فحسب لأن الإنسان يعجز عن رؤيّة الخطايا المغفورة بعيني رأسه، بل أمر المرض فزال عن جسم المفلوج، فقام الرجل يمشي سليمًا صحيحًا، مشيرًا إلى عظمة القوّة الإلهيّة التي شفته من مرضه. فلم يؤجل كلمات المسيح للمفلوج: &#8220;قم وأحمل فراشك واذهب إلى بيتك&#8221;، فقد قام الرجل لساعته وعاد إلى بيته سليمًا معافي. حقا أن لابن الإنسان سلطانًا على الأرض أن يغفر الخطايا.</p>
<p>ولكن إلى من تشير هذه الآية؟ هل تكلَّم المسيح عن نفسه أو عنا؟ الواقع أن هذه الآية تطلق على المسيح وعلينا، لأن السيِّد يغفر الخطايا بصفته الإله المتجسد رب الناموس وواضعه، وقد تسلمنا نحن هذه القوّة الفائقة، وذلك بتتويج طبيعة الإنسان بشرفٍ عظيم القدر، حيث خاطب المسيح رسله المقدَّسين بالقول &#8220;الحق أقول لكم أن كل ما تربطونه على الأرض يكون مربوطًا في السماء وكل ما تحلونه على الأرض يكون محلولا في السماء&#8221; (مت ١٨: ١٨)، وورد في موضع آخر &#8220;من غفرتم خطاياه تغفر له ومن أمسكتم خطاياه أمسكت&#8221; (يو ٢٠: ٢٣)<a href="#_ftn5" name="_ftnref5">[5]</a></p>
<p></p>
<p></p>
<h4><strong>معجزة شفاء المفلوج للقديس أمبروسيوس أسقف ميلانو (٣٣٩-٣٩٧)</strong></h4>
<p></p>
<p>&#8221; وإذا برجال يحملون على فراش إنسانًا مفلوجاً وكانوا يطلبون ان يدخلوا به ويضعوه أمامهم، ولما لم يجدوا من أين يدخلون به لسبب الجمع صعدوا علي السطح ودلوه مع الفراش من بين الاجر الي الوسط قدام يسوع&#8221;(لو١٨:٥).</p>
<p>لم تكن معجزة شفاء هذا المفلوج مجرد حدث عرضي ولا كانت شفاءاً بسيطًا. فكما كان الرب&#8221; يعتزل في البراري ويصلي&#8221;(لو١٦:٥)، ليس لأنه كان محتاجًا للصلاة كى ينال قوة، بل لتكون مثالًا لنا، ليعلمنا أنه بالصلاة تنال قوة.</p>
<p>وهكذا شفي الرب المفلوج بسبب إيمان وطلبات أصدقاءه، ولهذا ينبغي على كل مريض أن يطلب من الآخرين أن يصلوا عنه لينال الشفاء، لإنه من خلال طلباتهم يسترد جسدنا الضعيف هيئته الأولي وتتقوى عظام حياتنا اللينة وتستقيم خطوات أعمالنا المترنحة وكل ذلك بعلاج من الله الكلمة.</p>
<p>فليرفع مرشدو الروح نفس الإنسان الساقطة التى قيدتها ضعفان الجسد وبمعونتهم يكون سهلًا ان يُحمل الإنسان ويُدلّي مرة أخرى، وبذلك يستحق أن يترآى امام يسوع.</p>
<p>&#8220;فلما رأى ايمانهم قال له:أيها الإنسان مغفورة لك خطاياك&#8221;(لو٢٠:٥).</p>
<p>عظيم هو الرب الذي يقبل تضرعات المرضى ويغفر لهم من اجل صلوات الآخرين، إنه يقبل صلوات البعض من اجل غفران خطايا الغير. فلماذا لا تطلب صلوات اصدقائك، طالما ان لهم دالة امام الله في أن يتوسلوا من أجلك كى تنال انت ما قد تضرعت لأجله؟ وأنت يا من تدين تعلّم ان تغفر، وأنت أيها المريض تعلّم ان تصلي، فإن كنت تؤمن بمن يغفر الخطايا فتعلّم ان تتضرع اليه وتناديه في الصلاة كي تقتني الصحة والحياة. وإن كنت تخجل بسبب خطاياك، فلماذا لا تطلب صلوات الآخرين.</p>
<p>اُصرخ للكنيسة لكي تصلي لأجلك، فالرب يتطلّع إليها ومن أجل أن لها داله امامه، فإنه يهبك غفرانًا لخطاياك. ويتحتم علينا ايضاً ألا نهمل دور الايمان في هذه المعجزة، إذ أننا نؤمن إنه حينما شفي الرب جسد هذا المفلوج، قد شُفيّ بالفعل الإنسان الداخلي أيضًا بمغفرة خطاياه.</p>
<p>ولمّا كان اليهود يؤكدون على ان الله وحده هو الذي يغفر الخطايا، كانوا في الوقت ذاته يناقضون كلامهم، اى عندما قالوا&#8221; من يقدر أن يغفر الخطايا إلا الله وحده&#8221;، كانوا يمجدون عظمة هذا العمل وينكرون في نفس الوقت قدرة المسيح علي مغفرة الخطايا. ولهذا نجد أن المسيح كان يشهد لنفسه من خلال أقوالهم وأعماله. لإن غير المؤمن لا يقدر أن يعترف ولا أن يؤمن بالمسيح وأعماله الإلهية، لذلك كانت شهادتهم غير ضرورية لتأكيد إلوهيته، فلو كانوا قد آمنو لكانوا قد خلصوا، هم يعترفون بقوة أن الله وحده هو الذي يغفر الخطايا. بيدّ ان إثمهم الأعظم يكمن في أنهم ينكرون ما قد أُثبت من كلامهم. عظيمًا بالحق حنق هذا الشعب غير المؤمن، فمع أنهم يعترفون أن الله وحده هو الذي يغفر الخطايا، إلا أنهم يرفضون أن يؤمنوا بالمسيح غافر الخطايا.</p>
<p>ولأن المسيح اشتهي ان يخلّص الخطاة، أظهر قدرته الإلهية عن طريق علمه بالأمور الخفية وما يدور في داخلهم، إذ يذكر الانجيل أن:&#8221;يسوع شعر بأفكارهم &#8221; وأيضًا بما قام به من عمل شفائي عظيم بعد ذلك قال لهم:&#8221;أيُما أيسر: أن يُقال مغفورة لك خطاياك أم أن يقال قم وأمش&#8221;(لو ٥: ٢٣).</p>
<p>نجد في هذه الآية إنه بعدما شفي الرب جراحات العقل والجسد، أعطي مثلًا كاملًا لقيامته، بغفران خطايا النفس ووضع نهاية لضعف الطبيعة الجسدية حتى يشفي الإنسان بأكمله، نفسًا وجسدًا. إنه لأمر عظيم أن يُغفر للإنسان خطاياه، لكن من هو القادر علي غفران الخطايا إلا الله وحده؟ وهو أيضًا يغفر الخطايا علي يد من منحهم قدرة طلب الغفران. غير أن إقامة الأجساد تُظهر بالأكثر القدرة الإلهية، فالرب نفسه هو القيامة.</p>
<p>&#8220;ولكن لكى تعملوا أن لأبن الإنسان سلطانًا علي الأرض ان يغفر الخطايا، قال للمفلوج:لك اقول قم احمل فراشك وأذهب إلي بيتك&#8221;(لو٢٤:٥).</p>
<p>ما هو هذا السرير الذي أمر الرب يسوع المفلوج كى يحمله؟ وإلي ماذا يرمز؟ إنه السرير الذي كان يغسله داود كل ليله بدموعه كما نقرأ في سفر المزامير &#8220;أعوم في كل ليلة سريري بدموعي&#8221;(مز٦:٦)، هذا هو سرير الألم الذي تنطرح عليه نفوسنا المريضة بعذاب الضمير المؤلم. ولكننا إذا حملنا هذا السرير بحسب تعاليم السيد المسيح، فإنه لا يعود بعد سريرًا للألم، بل سريرًا للراحة وسنشتاق بالأحرى إليه. حقا، إن الرب بآلامه قد حول لنا رقاد الموت إلي نعمة مفرحة، أي ما كان موتًا صار راحة الآن.</p>
<p>فلم يأمر الرب المفلوج بحمل سريره فقط، بل أن يعود أيضًا إلى بيته مرة أخرى، أي أن يرجع الي الفردوس. لإنه البيت الحقيقي للإنسان، وأول موضع يقبل الإنسان بفرحٍ، وهو ذاك البيت الذي كان الإنسان الأول قد فقده. حقًا، الآن قد رجع الإنسان الأول إلي بيته عندما أتي المسيح له المجد، وهو أفنى عمل الخداع وإسترد للإنسان ميراثه المفقود فالرب لا يأمرنا بحمل السرير فحسب، بل وبالعودة الي شخصه وإلى بيته، أي يحثنا بالعودة الي الفردوس، بيتنا الحقيقي.</p>
<p>&#8220;ففي الحال قام أمامهم وحمل ما كان مضطجعاً عليه ومضي إلى بيته وهو يمجد الله&#8221;(لو٢٥:٥).</p>
<p>ولما رأي اليهود المفلوج وهو يقوم أمامهم بكل قوة غير مصدقين هذا تعجبوا وإنذهلوا. لقد فضّلوا أن يخافوا على أن يؤمنوا بعجائب الرحمة الإلهية. ولو أنهم قد آمنوا، ما كان لهم أن يخافوا، ولو كانوا قد أحبوا ما كان لهم أن يخافوا، لإن &#8220;المحبة الكاملة تطرد الخوف خارجًا &#8220;(١يو١٨:٤). ولأنهم لم يحبوا فقد شرعوا يتحدثون بالشر. ولهذا يقول المسيح لأولئك الذين يفكرون بالشر:&#8221;لماذا تفكرون بشر في قلوبكم&#8221;.<a href="#_ftn6" name="_ftnref6">[6]</a></p>
<p>مغفرة الخطايا وفحص القلوب من اختصاص الله وحده (عند القديس يوحنا ذهبي الفم)</p>
<p>لكن دعنا نلاحظ كيف باحثهم السيد المسيح بوداعة ولطف وكل حنو. فقد نظر قوماً من الكتبة يفكرون في قلوبهم قائلين: &#8220;لماذا يتكلم هذا بتجاديف&#8221;(مر٦:٢). إنهم لم ينطقوا بكلمة، بل فكروا بها داخل قلوبهم. فأعلن الرب يسوع ما في أفكارهم قبل أن يؤكد شفاءه لجسد المفلوج، راغباً في البرهنة لهم علي قوة لاهوته، لأن هذا من اختصاص الله وحده،إذ يقول الكتاب: &#8220;لأنك انت وحدك قد عرفت قلوب كل بني البشر &#8220;(١مل٣٩:٨).</p>
<p>تأمل كلمة&#8221;وحدك&#8221; لاتعني التباين بين الابن والآب.لأنه لو كان الآب وحده الذي يعرف قلوب البشر، فكيف يعلم الابن افكارهم؟ فقد قيل عنه: &#8221; لأنه علم ما كان في الإنسان&#8221;(يو ٢٥:٢). والقديس بولس الرسول يؤكد معرفة الأسرار انها من اختصاصه، قائلاً: &#8220;ولكن الذي يفحص القلوب&#8221;(رو٢٧:٨)، مظهراً أن هذا التعبير &#8220;فاحص القلوب&#8221; مساو للقب&#8221;الله&#8221; تماماً، كأن أقول&#8221; الذي يمطر &#8220;قاصداً الله لا غيره و&#8221;الذي يشرق الشمس&#8221; بدون أن أضيف اليه كلمة &#8220;الله&#8221;، مشيراً اليه بالعمل الذي من اختصاصه وحده. هكذا بولس الرسول عندما يقول: &#8220;الذي يفحص القلوب&#8221;، يؤكد ان فحص القلوب هو من اختصاص الله وحده. لأنه لو أن هذا التعبير ليس له نفس قوة الاسم&#8221;الله&#8221;مشيراً بذلك إليه، فإنه ماكان يستخدم هذا التعبير أو لا يكتفي به وحده. فلو كان العمل (السلطان)مشتركاً بين الله وكائنات مخلوقة، لما كنا نعرف عمن يعني الرسول،إذ اشتراك السلطان يسبب ارتباكاً في ذهن السامع. وبقدر ما ظهر أن هذا من اختصاص الأب، فإن مساواته للأب لا تحتاج إلي نقاش، لذلك نقرأ قوله: &#8220;لماذا تفكرون بهذا في قلوبكم. ايما أيسر أن يقال مغفورة لك خطاياك، أم أن يقال قم احمل سريرك وامش&#8221;(مر٢: ٨- ٩)</p>
<p>انظر فإنه وضع بذلك برهاناً آخر عن سلطانه لمغفرة الخطايا. لأن مغفرة الخطايا عمل اعظم بكثير من شفاء الجسد، فكما ان الفالج مرض الجسد،هكذا الخطية هي مرض الروح، ولكن بالرغم من أن هذه أعظم لكنها غير ملموسة، اما تلك فرغم قلة اهميتها عن الأولي لكنها واضحة. لذلك استخدم الأقل كبرهان على حدوث الأعظم، مؤكداً أن هذا صنعه لأجل ضعفهم، ومن باب تنازله لحالهم الضعيف، قائلاً:&#8221;أيما أيسر أن يقال قم واحمل سريرك وامش&#8221;(مر ٩:٢). فلماذا أصنع الشئ الأقل إلا بسببهم، لان ما هو واضح يتأكد في صورة مميزة، لذلك لم يعط الرجل القدرة على القيام الا بعدما قال لهم:&#8221;ولكن لكي تعلموا أن لابن الإنسان سلطاناً على الأرض ان يغفر الخطايا (قال للمفلوج) لك أقول قم واحمل سريرك واذهب الي بيتك&#8221;(مر ١١:٢). وكأنه يقول إن لمغفرة الخطايا أهمية عظيمة، لكن لأجلكم قد اضفت ما هو أقل أيضاً لكي تكون برهاناً على الأخري.</p>
<p>فكما أنه في حالة مدحه لقائد المائه القائل:&#8221;قل كلمة فيبرأ غلامي، لاني أنا إنسان&#8230;أقول لهذا اذهب فيذهب ولآخر اتت فيأتي&#8221;(لو ٨:٧)، قد أكد فكرة قائد المائة عن طريق مدحه له.</p>
<p>وهكذا عندما وبخ اليهود أو أمسكو عليه خطأ بخصوص يوم السبت أكد سلطانه على الشريعة، هكذا أيضاً في هذه الحالة (مخلع بيت حسدا) عندما قال البعض: &#8220;قال أيضاً إن الله أبوه، معادلاً نفسه بالله&#8221;(يو ١٨:٥). فإنه عن طريق اتهاماتهم أكد لهم بأفعاله أنه لم يجدف، بل أمدنا بشهادة لانزاع فيها أنه يعمل نفس الاعمال التي يعملها الآب.<a href="#_ftn7" name="_ftnref7">[7]</a></p>
<p></p>
<p></p>
<h4><strong>قومي يا حبيبتي للقديس غريغوريوس النيسي :</strong></h4>
<p></p>
<p><strong>&#8221; قومي يا حبيبتى يا جميلتى وتعالى &#8221; (نش ٢: ١٣).</strong></p>
<p>لا يكفي أن تقوم النفس من الخطية، بل يجب أن تتقدم أيضا فى الصلاح وأن تكمل طريق الكمال. وهذا ما تعلمناه من معجزة شفاء المفلوج لأن الكلمة لم تكن أن يقوم من سرير المرض فقط، بل وأن يمشى أيضا (مت ٩: ٦) والمشى هنا معناه أن نتقدم وننمو فى الكمال. ولذلك يقول العريس للنفس قومى وتعالى. أى قوة موجودة فى تلك الوصية لأن صوت الرب هو صوت القوة &#8221; هوذا يعطى صوته صوت قوة &#8221; (مز ٦٨: ٣٣)، ويقول المزمور أيضا &#8221; لأنه قال فكان هو أمر فصار &#8221; (مز ٣٣: ٩)</p>
<p>ولذلك فان الرب يسوع المسيح يتحدث الى العروس المتكئة ويقول لها قومى وتعالى، وللحال يتحول كلامه الى فعل وعمل لأنه عندما تأخذ منه الآمر بالقيام فانها للحال تقوم وتقترب وتأتى الى النور كما هو واضح من كلامه الذى يدعوها به &#8221; قومى ياحبيبتى يا جميلتى وتعالى &#8221; (نش ٢: ١٣) فلنلاحظ هنا ارتباط تلك الصفات بعضها ببعض.</p>
<p>لأنه حين تسمع العروس الوصية وتتقوى بالكلمة ثم تقوم وتقترب وتصير جميلة لانها كمرآة ينعكس عليها الجمال الأصلى الالهى ورغم انحدار الطبيعة البشرية وسقوطها على الأرض وأصبحت تشابه الحية فى شكلها الا أنها الآن قد قامت لتنظر الى الصلاح وتعطى ظهرها للخطية وتنظر فقط الى البر الأصلى الذى هو الجمال الالهى الحقيقى واصبحت النفس مثل الحمامة لأن اتجاهها نحو النور جعلها تأخذ شكل النور وخلا هذا النور تأخذ شكل الحمامة الحلو. والحمامة ترمز الى حضور الروح القدس فى النفس.<a href="#_ftn8" name="_ftnref8">[8]</a></p>
<p></p>
<p></p>
<h3>عظات آباء معاصرين</h3>
<p></p>
<h4><strong>عظة للمتنيح الانبا كيرلس مطران ميلانو</strong></h4>
<p></p>
<p><strong>اصفح.. المفلوج</strong></p>
<p><strong>اصفح يارب عن جميع سيئاتنا وزلاتنا الله</strong></p>
<p>وحده هو القادر على مغفرة الخطايا (هو ٢: ٧).. هو غافر خطايانا.. ومنقل حياتنا من الفساد، وعلمنا أن نصلي قائلين &#8221; يا أبانا الذي في السموات.. اغفر لنا ذنوبنا، كما نغفر نحن أيضا للمذنبين إلينا &#8221; (مت ٦: ١٢).. وأوصانا قائلا &#8221; إن غفرته للناس زلاتهم، يغفر لكم أيضا أبوكم السماوي &#8221; (مت ٦: ١٤).</p>
<p>في سلطان الله أن يغفر الخطايا (مت ٦: ١٢).. وأنه يمحو أثامنا ويغسل أدناسنا بالتوبة والرجوع إليه.. وأيضا بالصفح عن أخطاء الآخرين لنا، ناظرين إلي السيد المسيح الذي صفح لطالبيه قائلا &#8221; يا ابتاه أغفر لهم &#8221; (لو ٢٣: ٣٤).</p>
<p>السيد المسيح جعل تلاميذه وكلاء لأسراره الإلهية وأعطاه السلطان قائلا &#8221; من غفرتم خطاياه تغفر له. ومن أمسكتم خطاياه تمسك &#8221; (يو ۲۰: ۲۳). ونحن نعترف لله بخطايانا في حضور وكيل أسراره &#8221; وإن اعترفنا بخطايانا فهو أمين وعادل حتى يغفر لنا خطايانا، ويطهرنا من كل إثم &#8221; (١ يو ١: ٩). وننال منحة الغفران من الله عن طريق وكلاء أسراره الإلهية.</p>
<p>الجسد السري والدم الكريم الذي نناله بعد التوبة والاعتراف.. هو يتناول حياتنا الداخلية والخارجية فيكون &#8221; طهارة لأجسادنا، وشفاء لأمراضنا وتطهيرا لآثامنا، وغسلا لأدناسنا &#8221; (قسمة القديس غريغوريوس).</p>
<p><strong>تائه خرج بعيداً عن نفسه:</strong></p>
<p>الطفل الصغير يتوه ويضل، عندما تفلت يده الصغيرة من يد مربيه.. أنه يبقى بعيداً عن أهله، وعن بيته.. وقد يبكي بدموع ساخنة، ويصرخ بحزن شديد. ولأنه عاجز عن التعبير، قد تتلقفه آياد رحيمة. ومن كل هذا نتأثر.. ولا نستعجب لأنه طفل.</p>
<p>إنما نتعجب عندما نرى إنساناً كبيراً.. يسكن في بيته، ويقيم مع أهله، ويتحرك فيه عقله.. ويدق قلبه في داخله.. ولكنه تائه وبعيد عن نفسه، ومن بعده عنها لا يعرف أنه تائه.. لا يبكي على حاله، ولا يهتم بالقيام من سقطته، ولا ينشغل بتوبته ولا رجوعه إلى نفسه، ولا يعود كما عاد الابن الضال إلى نفسه بنفسه.. تائه ينظر إلى غيره، ويحصر عيوب غيره، وفيما هو يسقط فيها يدين الآخرين!!</p>
<p>قال أحد الآباء للتائه بعيداً عن نفسه &#8221; من يترك ميته، ويبكي على ميت غيره؟ &#8221; . الانشغال بخطايا الآخرين وإدانتهم، لا يغفر لنا خطايانا.</p>
<p>خطايانا ثقيلة.. ظاهرة وخفية.. وبإرادة وبدون إرادة.. لا تحتاج أن نحمل معها خطايا الآخرين فتكون لنا زيادة في الخطية، وتمنعنا عن التوبة.. فعلينا أن نتوب ونطرح كل أحمالنا الثقيلة أمام السيد المسيح القائل &#8221; تعالوا إلي يا جميع المتعبين وثقيلي الأحمال وأنا أريحكم &#8220;.</p>
<h3>الطعام المشبع للمسيح:</h3>
<p>أخي الحبيب.. أنت تعلم جيداً أنه لو أكرمنا العالم كله ومدحنا ومجدنا.. فليست هذه هي التزكية التي يستند عليها الله فاحص الأعماق.. ولا نتزكى بها وندخل لنعاين محبة الله السرمدي عند قيامة الأموات وحياة الدهر الآتي.</p>
<p>الذي يتزكى للدخول هو الذي سمع على الأرض &#8221; مغفورة لك خطاياك &#8220;، وذلك بعد جهاد حسن وتوبة مستمرة كل لحظة.</p>
<p>الذي يرى خطاياه ويهتم بتوبته، ينكسر قلبه وينسحق، ويقبل الرب توبته كذبيحة نقية.. ومنه يشتم رائحة الرضا.</p>
<p>هيا بنا ندخل بأفكارنا لبيت سمعان الفريسي.. ونبصر ما هو الطعام المحبب للمسيح.. وما الوليمة التي يشتاق إليها قلب المسيح؟</p>
<p>وليمة أعدها سمعان والكل يعلم بهذا. ولم يستطعمها المسيح.. ووليمة أخرى عند قدمي المسيح صنعتها المرأة الخاطئة، بدموع التوبة وطلب المغفرة من غافر الخطايا.. علم بها المسيح وأحبها، وشبع بتوبتها، وأرتوى برجوعها إليه. استحقت صوت العريس القائل &#8221; سبيت قلبي يا اختي العروس بإحدى عينيك. بقلادة &#8211; واحدة من عنقك &#8220;.</p>
<p>مغفورة لك خطاياك:</p>
<p>ما أعذبها كلمة تريح النفس الهالكة.. وتخرج النفس المغلق عليها تحت الخطية.. قالها السيد المسيح للخطاة التائبين.. وهو متشوق لكي يمنحها لكل تائب. &#8221; بها يتذوق الإنسان حلاوة التوبة، وينفر من مرارة الخطية.</p>
<p>بالتوبة ينغسل القلب من الشر (أرميا ٤: ١٤). وبكلمة مغفورة لك خطاياك يخلق القلب من جديد. بمغفرة الخطايا، تفتح الأبواب السمائية. وبها يتعانق القلب الصغير التائب، مع القلب الكبير.. قلب الله القدوس.</p>
<p>إذا كنا نرى في عالمنا الحاضر ما هو تأثير كارت من مسئول كبير.. أو إمضائه أو رفع سماعته لمساعدة إنسان والاهتمام به لفتح الأبواب الأرضية أمامه.. ماذا يكون نصيب من حمل معه &#8221; مغفورة لك خطاياك &#8221; إنه يخرج من تحت الخطية.. ويحمل على أجنحة النسور.. وبها يجئ ويدخل للأحضان الأبوية المفتوحة.</p>
<p>لذا كل ما نطلبه من الله ونحصل عليه مهما بلغت قيمته، لا يعادل المنحة الإلهية عند سماع &#8221; مغفورة لك خطاياك &#8220;.</p>
<p>بها نبقى مع الله، والله يبقى فينا. ونقول مع المرنم &#8221; تعود أنت يا الله فتحينا، ويفرح بك شعبك &#8221; (مز ٨٥: ٦).<a href="#_ftn9" name="_ftnref9">[9]</a></p>
<p>سر الشفاء معناه وغايته في الإيمان الأرثوذكسي &#8211; الأب ألكسندر شميمن</p>
<p>&#8221; يجب أن نكتشف النظرة السرائرية لحياة الإنسان، تلك النظرة غير المتغيرة، والتي هي دائماً مواكبة للعصر &#8230; فالكنيسة تعتبر الشفاء سر. ولكن هناك سوء فهم استمر لقرون طويلة باعتبار الكنيسة: &#8221; دين &#8220;. سوء فهم عانت منه كل الأسرار، وتعاني منه كل عقيدة &#8221; الأسرار &#8221; ذاتها. في حين أن سر الزيت [مسحة المرضي] هو في الواقع سر الموت! &#8230; حيث يُفْتَح للإنسان ليس أكثر ولا أقل من ممر آمن للأبدية [على الأرض].</p>
<p>هناك خطر: أن اليوم، مع الاهتمام المتزايد للعلاج بين المسيحيين، أن يُساء فهم السر [سر مسحة المرضي] ، علي أنه سر للصحة [ للحصول علي الصحة ] ، وكأنّه مكمل مفيد للطب الدنيوي &#8230; [ بينما ] السر ، كما نعرفه ، هو دائماً معبر وتحول . ليس معبر إلي ما هو خارق للطبيعة [لحدوث معجزة]، بل معبر إلي ملكوت الله، إلي العالم الآتي، إلي حقيقة هذا العالم، وإلي حقيقة حياة العالم المفدية والمُسْتَعَادة [لصورتها الإولي ] بواسطة المسيح .</p>
<p>إنه ليس تُحوَّل الطبيعة لما هو خارق للطبيعة [إعجازي]، بل تحوَّل القديم إلى الجديد. فالسر (سر مسحة المرضي) ليس معجزة من خلاله يكسر الله قوانين الطبيعة، بل هو تجلّي للحقيقة المطلقة عن هذا العالم وتلك الحياة، عن الإنسان والطبيعة، عن الحقيقة التي هي: &#8221; المسيح&#8221;. فالشفاء هو سر، لأن غايته أو نهايته ليست التعافي، ولا غايته أو نهايته استعادة الصحة البدنية، بل هو سر لأن فيه دخول الإنسان إلي داخل حياة الملكوت: إلي داخل السعادة والسلام الخاص بالروح القدس. في المسيح، كل شئ في هذا العالم، سواء صحّة أو مرض، سعادة أو معاناة، أصبح الكل صعوداً ودخولًا في تلك الحياة الجديدة: المتوقعة [في الحياة الحالية ] والمرتقبة [ في الحياة الآتية ]</p>
<p>في هذه الحياة، المعاناة والمرض بلا شك هي أشياء [نعتبرها] : &#8221; طبيعية &#8221; ، ولكن طبيعيتها ذاتها أمر غير طبيعي ! فهذا يكشف الهزيمة المطلقة والدائمة للإنسان والحياة، هزيمة برغم روعة وإعجاز الطب في انتصاراته الجزئية، فإنه لا يمكنه أن ينتصر على المعاناة والمرض إنتصار مطلق. في حين أن في المسيح، المعاناة لن تزول، بل تتحوَّل لإنتصار! الهزيمة تصير ذاتها إنتصاراً! تصير الهزيمة طريق ومدخلاً إلي الملكوت، وهذا هو الشفاء الحقيقي الوحيد.</p>
<p>هنا إنسان يعاني علي سريره من الألم، وتأتيه الكنيسة وتعمل سر الشفاء [سر مسحة المرضي]. لهذا الرجل، ولكل رجل في العالم كله، المعاناة من الممكن أن تكون له &#8221; هزيمة &#8220;، عن طريق الإستسلام الكلي للظلام واليأس والعزلة. يُمْكِن أن تكون له &#8221; موت &#8221; بالمعني الحقيقي للكلمة. ويُمْكِن أيضاً أن تكون المعاناة انتصاراً مطلقاً للإنسان، وإنتصاراً للحياة في الإنسان.</p>
<p>فالكنيسة لا تأتي لتعيد الصحة إلي هذا الإنسان، ولا لكي تكون ببساطة بديل للعلاج حين يستنفذ الطب كل وسائله. بل الكنيسة تأتي لتأخذ الإنسان إلي حب ونور وحياة المسيح. تأتي ليس لمجرد أن تريحه من معاناة ولا لكي تساعده، ولكن لكي تجعل الإنسان: &#8221; شهيد &#8220;، وتجعله شاهد للمسيح في قمّة معاناته. فالشهيد هو من يري السموات مفتوحة وابن الإنسان واقف عن يمين الله. الشهيد هو الذي الله له ليس أمل آخر أو أخير لإيقاف الألم الفظيع. بل الله له هو الحياة الحقيقة، ولهذا فكل شئ في حياته ينتهي إلي الله، ويصعد لملء الحب.<a href="#_ftn10" name="_ftnref10">[10]</a></p>
<p></p>
<p></p>
<h4>عظة للمتنيح القمص تادرس البراموسي</h4>
<p></p>
<p><strong>قم وأحمل سريرك وأمضى إلى بيتك (لو ٥ – ١٧ – ٢٦)</strong></p>
<p>أن هذا الرجل المخلع غير المذكور في إنجيل القديس يوحنا ونعرفه من أن ذالك كان في رواق سليمان أما هذا الرجل في كفر ناحوم ذاك كان له ثمانية وثلاثين سنة وهذا غير مذكور عدد السنين التي بقي فيها مخلعاً. ذلك لم يكن له من يخدمه وهذا كان الكثيرون يخدمونه لذلك قال له الرب يسوع قد شئت فأطهر ثم قال له مغفورة لك خطاياك ثم أن الأربع رجال الذين كانوا يحملونه لشدة أيمانهم بقدرة الرب يسوع ثقبوا السقف وأنزلوه أمام الرب بالحبال فلما رأى الرب يسوع أيمانهم قال للمفلوج مغفورة لك خطاياك تعتبر الكنيسة أن هؤلاء الناس الأربعة الذين أنزلوا المريض أمام الرب يسوع يعتبروا الجندى المجهول.</p>
<p>لم يذكر الكتاب أسمائهم ولم يطلب منهم المريض أن يحملوه ويقدموه للرب يسوع وكان عملهم عمل تطوعى وعلى أساس أيمانهم شفى المريض لأن الرب يسوع كما قال الكتاب لما رأى أيمانهم قال للمفلوج مغفورة لك خطاياك. فما احوجنا يا أحبائى في هذه الأيام إلى هذا الجندى المجهول الذي يخدم بصمت ويقدم الخير بدون ضوضاء ويهتم بالآخرين بدون مقابل أين هو هذا الإنسان. أكيد أنه موجود ولم نراه ولم ينتظر شكر من أحد لأنه ينظر إلى المجازاة. أين الجندى المجهول بين الكهنة والخدام وأفراد الشعب لكى يفتشوا على من ليس له أحد يسأل عنه. ويقدمه للرب يسوع.</p>
<p>ثم أن هذا المريض كان سبب مرضه الخطية. فكما أن الأعضاء السليمة إذا ربطت بالقيود لا تستطيع أن تتحرك فكذلك المخلع فأنه بسبب خطاياه قد انحلت قواه وارتخت يداه ورجلاه وأصبح لا يدري بنفسه حتى انه لم يقل له الرب يسوع حسب إيمانك، بل لما رأى إيمانهم قال للمفلوج مغفورة لك خطاياك. ولما قال له هذا شفى في الحال وعادت أعضاءه إلى حركتها الطبيعية.</p>
<p>فلما كان غفران الخطايا منوطاً بالله وحده. لذا تعجب اليهود. كيف يغفر الخطايا لأنهم كانوا يفتكروا إنه إنساناً عادياً. وقالوا إنه يجدف. فعلم يسوع أفكارهم وقال لهم. لماذا تفكرون في قلوبكم. لأنه علم ما في القلوب والكلى وقد علم ما في قلوبهم. وقال لهم أي شيء أيسر شفاء مخلع أم تحرير نفس من قيود الخطية ولا ريب أن شفاء النفس أفضل بكثير من شفاء الجسد أراد أن يعلمهم أن له سلطان على الأرض أن يغفر الخطايا حينئذ قال للمفلوج قم أحمل سريرك وأذهب إلى بيتك.</p>
<p>وبذلك أثبت كونه إلهاً وقوله أبن البشر لأنه تجسد. فخافوا اليهود لأنهم راوا أعجوبة عظيمة ومجدوا الذي تكلم وعمل هذه الأعجوبة ويتسأل البعض هل المسيح إنسان أم إله. فأن قال إنسان كذبته الجموع ويقولوا أن الإنسان لا يقدر أن يغفر الخطايا ولا أن يصنع هذه المعجزات وأن قال إله فأنه كإنسان يمشى ويرى ويتكلم وأن قال الاثنين معاً. يقولون إنه واحد يرى ويتكلم ويسمع. أما نحن فنقول إنه الإله المتأنس الذي قال عنه الكتاب ولما جاء ملئ الزمان أتى أبن الله مولوداً من امرأة تحت الناموس ليفتدى الذين تحت الناموس</p>
<p></p>
<h4>العظة الأول</h4>
<p>أ – وقف المعلم وسكت معلموا الناموس</p>
<p>ب – أتوا من أقاصى البلاد ليروا رب العباد</p>
<p>ج – نالوا الشفاء من ملك السماء</p>
<p>د – الرجل المحمول والجندى المجهول</p>
<p>ه &#8211; احتمال المشقات وأخذ البركات</p>
<p>و – إيمان أكيد وقلب جديد</p>
<p>ذ – نال الشفاء وتذمر الأعداء</p>
<p>ح – حمله المتطوعين وشفاء الأمين</p>
<p>ط – عالم الخفايا. وواهب العطايا</p>
<p>ى – مجدوا الله وتذمر وجفاء</p>
<p></p>
<h4>العظة الثانية</h4>
<p>أ – معلم وشجاعة. ومبغضين</p>
<p>ب – مرضى وشفاء وفريسيين</p>
<p>ج – مجهولين وقوة الشفاء ومهتمين</p>
<p>د – حكمة الخالق ورد الضالين</p>
<p>ه &#8211; إيمان ومغفرة وطبيب أمين</p>
<p>و – عدم الرحمة ومقاومين غير رحومين</p>
<p>ذ – مفكرين وللشر فاعلين</p>
<p>ح – سلطان الهى. ونعمة مجانية</p>
<p>ط – دخل محمول. وخرج يحمل الفراش</p>
<p>ى – حيرة وخوف. وشكر على المعروف</p>
<p></p>
<h4>العظة الثالثة</h4>
<p>أ – حضروا للشفاء وانتقدوا الأبرياء</p>
<p>ب – محاولات يأسة وتدخل الحكمة</p>
<p>ج – عمل الرحمة وتضحية الأحباء</p>
<p>د – المعطى العظيم ونعمة الشفاء</p>
<p>ه &#8211; كاشف الخفايا وواهب الحياة</p>
<p>و – السلطان القوى والسر المعلن</p>
<p>ذ – دخل محمولاً وخرج حاملاً</p>
<p>ح – مضى لبيته. معافى وأمتلأ اليهود سلافاً</p>
<p>ط – شهادة الجميع. اننا رأينا عجائب</p>
<p>ى – إعلان الخفاء وكرم العطاء وتمجيد الإله<a href="#_ftn11" name="_ftnref11">[11]</a></p>
<p></p>
<p></p>
<h4>عظة للمتنيح القمص بولس باسيلي</h4>
<p></p>
<p>الحمالون الأربعة إإ</p>
<p>&#8221; يحمله أربعة &#8221; (مر ٢: ٣)</p>
<p>تمهيد: العالم اليوم أشبه بما يكون بالمفلوج الذي حطمته الخطية فنريد هنا أن نسمو بالمعجزة من المعنى الحرفى الى المعنى الروحى</p>
<p><strong>القسم الأول: العالم المفلوج</strong></p>
<p>(1)    عالم مريض بحب الذات:</p>
<p>انه &#8221; الفالج &#8221; الخطير الذى يصيب عالمنا الحاضر، فالج الأنانية وحب الذات، فمشروعاتنا لا يهدمها سوى فالج حب الذات، وبيوتنا لا يفسدها سوى الأنانية، ومجتمعنا لا يضعضعه الا المطامع الشخصية – &#8221; نبوخذ نصر &#8221; حينما قال أنا الذى بنيت مدينة بابل سقط الى دركات الحيوانية فأكل العشب مع الثيران &#8212;  و&#8221; رحبعام بن سليمان &#8221; حين قال أبى أدبكم بالسياط وأما أنا فأؤدبكم بالعقارب سقط وانقسمت مملكته</p>
<p>(2)          عالم غارق فى اللذات:</p>
<p>و &#8221; فالج اللذات &#8221; داء خطير يئن منه عالمنا الحاضر، اللذات الجسدية، والشهوات الشبابية، فلم يُسقط &#8221; شمشون الجبار &#8221; سوى استعباده للشهوات، ونومه على حجر الخطية، وسماحه لمقص اللذات أن يعمل فى شعر رأسه بعدما عمل أولاً فى قلبه وعواطفه</p>
<p>(3)          عالم موبوء بالانقسامات:</p>
<p>فى الشرق حرب وفى الغرب كرب، دماء هنا وهناك، مظالم وقلق، أين السلام؟ &#8221; لا سلام للأشرار يقول إلهي &#8221; ان سبب حروب العالم اليوم الاباحية التى يسمونها مدنية، والقنابل الذرية التي يسمونها اختراعات تقدمية. ان الخطية هى سر تلك الانقسامات ولن يعود للعالم سلامه ما لم يعد العالم الى الله &#8221; اقتربوا منى أقترب منكم يقول الرب &#8221; اسمعوا يعقوب الرسول يقول &#8221; من أين الحروب والخصومات بينكم أليست من هنا من لذاتكم المحاربة فى أعضائكم، تشتهون ولستم تمتلكون، تقتلون وتحسدون ولستم تقدروا أن تنالوا، تخاصمون وتحاربون ولستم تمتلكون لأنكم لا تطلبون، تطلبون ولستم تأخذون لأنكم تطلبون ردياً لكى تنفقوا فى لذاتكم &#8221;    (يع ٤: ١)</p>
<p><strong>القسم الثانى: الحمالون الأربعة الذين يحتاجهم العالم</strong></p>
<p>(1)          ايمان فى رجاء:</p>
<p>يحتاج العالم المفلوج لكي يشفى الى ايمان، فالشكوك طغت على العالم، والالحاد تفشى فى أرجائه، والطالب الجامعى بمجرد أن وضع قدميه على عتبة الجامعة ودرس بعض نظريات الفلاسفة تشكك فى وجود الله، وفى عقيدة الكنيسة، ورغب أن يستعمل البرجل والمثلث والمسطرة فى قياس الكون وخالق الكون إإ &#8221; قال الجاهل فى قلبه ليس إله فسدوا ورجسوا رجاسة ليس من يعمل صلاحاً، الله من السماء أشرف على بنى البشر لينظر هل من فاهم طالب الله، كلهم قد ارتدوا معاً فسدوا &#8221; (مز ٥٣: ١)</p>
<p>والايمان دائماً لا يستغنى عن الرجاء، فإيمان بدون رجاء، كسفينة بدون مرساة لا تعرف كيف ترسو على الميناء في منجاة من الغرق &#8221; داود يقول: سر قلبي وتهلل لساني حتى جسدي أيضاً سيسكن على رجاء &#8221; (أع ٢: ٢٦)، فإذ قد تبررنا بالأيمان لنا سلام مع الله، ونفتخر على رجاء مجد الله (رو ٥: ١)، ويوحنا الرسول يوصى أن نكون &#8221; فرحين فى الرجاء &#8221; (رو ١٢: ١٢) ، وأما الآن فيثبت الايمان والرجاء والمحبة (١كو ١٣ : ١٣).</p>
<p>(2)    حب بلا رياء :  ليس الايمان في رجاء فقط يحتاجه العالم بل أيضاً يحتاج الى &#8221; حب في وفاء &#8221; ويوم بتعلم العالم المحبة حتى لأعدائه اذن لبطلت الحروب والكروب ، ولشفي تماماً من فالج الحرب والشرور ، ولذلك يقول الرسول &#8221; ولكن أعظمهن المحبة &#8221; وقال الرب لتلاميذه &#8221; بهذا يعرف الجميع انكم تلاميذي ان كان لكم حب بعضكم من نحو بعض &#8221; (يو ١٣ : ٥٣) وعالم بلا محبة جحيم مقيم &#8221; ان كان لي كل الايمان حتى أنقل الجبال ولكن ليس لي محبة فلست شيئاً &#8221; &#8221; وان كنت أتكلم بألسنة الناس والملائكة ولكن ليس لى محبة فقد صرت نحاساً يطن أو صنجاً يرن &#8221; (١كو ١٣ : ١ ، ٢) والمحبة التي يحتاجها العالم ينبغي أن تكون محبة خالصة مخلصة      &#8220;محبة بلا رياء في كلام الحق في قوة الله بسلاح البر &#8221; (٢كو ٦ : ٦)</p>
<p>(3)          رحمة في اخاء:</p>
<p>والحمال الثالث الذى يحتاجه العالم اليوم &#8221; رحمة فى اخاء &#8221; بهذه الرحمة نستطيع أن نقدم الدواء لفالج العالم، ولذلك يوحنا الرسول يقول &#8221; ارحموا البعض مميزين، وخلصوا البعض بالخوف مختطفين من النار &#8221; ( يه٢٢) والدين عند الله رحمة &#8221; أريد رحمة لا ذبيحة &#8221; (هو ٦ : ٦) ويوصينا الرب &#8221; واعملوا احساناً ورحمة &#8221; ، ولن يثبت العالم في استقرار الا عن طريق الرحمة &#8221; فيثبت الكرسي بالرحمة &#8221; (أش ١٦ : ٥)</p>
<p>(4)          قناعة في اكتفاء:</p>
<p>أليست التقوى مع القناعة تجارة عظيمة؟ (١تي ٦ : ٦) اذن فلن تنجح تجارة العالم ولا تزدهر اقتصاديات الا اذا تعلم التاجر روح القناعة والاكتفاء ولذلك يوصى بولس &#8221; تعلموا يا اخوتى أن تكونوا مكتفين بكل ما عندكم &#8221; &#8221; ان كان لنا قوت وكسوة فلنكتف بهما &#8221; (١تي ٦ : ٨) ويحذرنا رب المجد &#8221; انظروا وتحفظوا من الطمع فانه ان كان لأحد كثير فليست حياته من أمواله &#8221; (لو ١٢ : ١٥) والعالم الطامع هو العالم الوثني لأن &#8221; الطمع هو عبادة أوثان &#8221; (كو ٣ : ٥) بل &#8221; كل نجاسة في الطمع &#8221; (أف ٤ : ١٩) ويحذر بولس التجار بأن لا يكونوا طامعين بالربح القبيح (١تي ٣ : ٨) ولنعلم انه &#8221; لا سارقون ولا طماعون يرثون ملكوت السموات &#8221;                  (١كو ٦ : ١٠).<a href="#_ftn12" name="_ftnref12">[12]</a></p>
<p></p>
<p></p>
<h3>من وحي قراءات اليوم</h3>
<p></p>
<p>&#8220;فلما رأي إيمانهم قال للمفلوج مغفورة لك خطاياك &#8221; (مت ٢:٩)</p>
<p>العجيب أن إيمانهم كان في شفاء المفلوج من المرض لكن الرب ابتدأ بشيء آخر</p>
<p>نحن مشغولون بما نريده لأنفسنا أو للآخرين والرب يبدأ بما نحتاجه وأهم ما ينقصنا</p>
<p>نري في الرب القدرة على الشفاء من الأمراض بينما هو يعلن هبة وعطية الخلاص</p>
<p>هل يمكن أن يكون إيماننا طريق لغفران خطايا الآخرين؟</p>
<p>غفران خطاياه كان تكليلا لتعب ومعاناة أربعة لأجل شخص محتاج ربما لا يعرفونه كلهم؟</p>
<p>يبارك الله ويفرح جدا بكل سعي وتعب ومعاناة لأجل راحة وسلامة المحتاجين</p>
<p>ربما انتقد كثير من الموجودين بالبيت طريقة اختراق الأربعة للوصول للرب</p>
<p>لكن الوصول للرب كان نتيجة العيون والتفكير المثبت على شخص المسيح له المجد والأذن المغلقة عن سماع الانتقادات</p>
<p>والوصول إليه أيضا كان نتيجة الفكر الواحد والعمل المشترك للأربعة حاملي المفلوج</p>
<p>ما أجمل وحده الفكر والقلب في خدمتنا وأعمالنا المشتركة وما أخطر شدّة وسرعة التأثر بآراء الناس فيما نقوم به.</p>
<p></p>
<p></p>
<p></p>
<h3>المراجع:</h3>
<p></p>
<p><a href="#_ftnref1" name="_ftn1">[1]</a> القديس يوحنا ذهبي الفم &#8211; تفسير رومية ١ &#8211; القمص تادرس يعقوب ملطي</p>
<p><a href="#_ftnref2" name="_ftn2">[2]</a> تفسير إنجيل متي &#8211; الإصحاح التاسع &#8211; من موقع سانت تكلا</p>
<p><a href="#_ftnref3" name="_ftn3">[3]</a> Jr, A.J. &amp; Oden, T.C. (2003). Luke (The Ancient Christian Commentary on Scripture, New Testament part III). Illinois (U.S.A): InterVarsity Press. Pages 92</p>
<p>ترجمة الأخ إيفيت منير &#8211; كنيسة مار مرقس ببني سويف</p>
<p><a href="#_ftnref4" name="_ftn4">[4]</a> شرح وتفسير آباء الكنيسة لأناجيل آحاد السنة التوتية صفحة ٢٢ &#8211; شهر بابه &#8211; دكتور جوزيف موريس فلتس</p>
<p><a href="#_ftnref5" name="_ftn5">[5]</a> القديس كيرلس الكبير &#8211; تفسير إنجيل لوقا الإصحاح الخامس &#8211; القمص تادرس يعقوب ملطي</p>
<p><a href="#_ftnref6" name="_ftn6">[6]</a> شرح وتفسير آباء الكنيسة لأناجيل آحاد السنة التوتية (شهر بابه &#8211; صفحة ٢٤) &#8211; دكتور جوزيف موريس فلتس</p>
<p><a href="#_ftnref7" name="_ftn7">[7]</a> كتاب من كتابات القديس يوحنا ذهبي الفم صفحة ٢٠٨ &#8211; القمص تادرس يعقوب ملطي</p>
<p><a href="#_ftnref8" name="_ftn8">[8]</a> المرجع : كتاب من مجد إلي مجد للقديس غريغوريوس النيسي ( فصل ١٩ ) &#8211; ترجمة القمص إشعياء ميخائيل &#8211; كنيسة الملاك بالضاهر</p>
<p><a href="#_ftnref9" name="_ftn9">[9]</a> المرجع: كتاب شفتاك يا عروس تقطران شهداً (الجزء الثاني صفحة ٩٨ &#8211; ١٠٠) &#8211; إصدار دير القديس الأنبا شنودة العامر بميلانو</p>
<p><a href="#_ftnref10" name="_ftn10">[10]</a> المرجع سر الشفاء (مسحة المرضى) معناه وغايته في الإيمان الأرثوذوكسي – الاب الكسندر شميمن &#8211; الأستاذ أشرف بشير</p>
<p><a href="#_ftnref11" name="_ftn11">[11]</a> المرجع : كتاب تأملات وعناصر روحية في أحاد وأيام السنة التوتية ( الجزء الأول صفحة ٢١٢ ) &#8211; إعداد القمص تادرس البراموسي</p>
<p><a href="#_ftnref12" name="_ftn12">[12]</a> المرجع : كتاب المواعظ النموذجية ( المجلد الأول صفحة ٢٣٥ ) &#8211; القمص بولس باسيلي</p>
<p></p>
<p></p>
<p></p>

      {% endcreateArticleAccordions %}
    </section>
  {% endblock %}
  