---
layout: 'layouts/reading.html'
title: 'الأحد الثالث من بؤونة'
tags: 'sundays'
permalink: /articles/sundays/10-3.html
---
  {% block content %}
    <section id="readings">
      <ul>
      {% if 'undefined' != 'undefined' %}
      
      {% else %}
      {% if '19.6:1*@+19.38:15' != 'null' %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">العشية</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeVespers '19.6:1*@+19.38:15' '40.7:7-12' %}
          </div>
        </div>
      </li>
      {% endif %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">باكر</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeMatins '19.38:21-22' '42.24:1-12' '' %}
          </div>
        </div>
      </li>
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <h3 class="flex items-center justify-between">
            <span class="kufi">القداس</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </h3>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeLitugy '46.4:1-16' '61.1:19-21*@+61.2:1-9' '44.17:1-12' '19.61:5,8' '40.12:22-37' %}
          </div>
        </div>
      </li>

      {% endif %}
        </ul>
    </section>
    <section id="article">
      <h3 class="mt-8 mb-4 heading-explain">شرح القراءات</h3>
      {% createArticleAccordions %}
        <p></p>
<p></p>
<p></p>
<p>&#8221; ها إن بنيك الذين ودعتهم قادمون. يقدمون مجتمعين من المشرق إلى المغرب بكلمة القدوس مبتهجين بمجد الله &#8221; (باروخ ٤: ٣٧)<br />
&#8221; الكتب المُقدَّسة أنفاس الله &#8221; ابصالية الأربعاء<br />
&#8221; حقاً مقدسة هي هذه الكتب التي تقدس وتؤله&#8230; ليس إنسان هكذا يتأثر بنصائح أي قديس من القديسين كما يتأثر بكلمات الرب نفسه محب البشر. لأن هذا هو عمله، بل عمله الوحيد، خلاص الإنسان، لهذا يحثهم على الخلاص ويفرح، قائلًا: &#8220;ملكوت السماوات داخلكم&#8221;&#8230; فالإيمان يقودك فيه، والخبرة تعلمك، والكتاب المقدس يدربك &#8221;</p>
<p></p>
<p></p>
<h3>شواهد القراءات</h3>
<p></p>
<p>(مز١:٦، ١٥:٣٣)، (مت ٧: ٧-١٢)، (مز ٣٧ : ٢٣،٢٢ )، (لو ٢٤ : ١-١٢ )،( ١كو ٤ : ١-١٦) ،( ٢بط ١ : ١٩-٢ : ١-٩ )، (أع ١٧ : ١-١٢ )، (مز ٦٠ : ٧،٤ )، (مت ١٢ : ٢٢-٣٧)</p>
<p></p>
<p></p>
<h3>ملاحظات على قراءات اليوم</h3>
<p></p>
<p>+ قراءة البولس اليوم (١كو٤: ١ - ١٦) هي نفس قراءة البولس للأحد الرابع من شهر هاتور<br />
وهي القراءة التي تكلَّمت عن الولادة بالإنجيل (موضوع قراءة الأحد الثالث من بؤونه)، وتهيئة القلوب بالكلمة (الأحد الرابع من هاتور)<br />
+ قراءة الكاثوليكون (٢بط ١: ١٩ - ٢: ١ - ٩) تُشبه قراءة الكاثوليكون (٢بط ١: ١٩ - ٢: ١ - ٨) ليوم ٨ توت (نياحة موسي رئيس الأنبياء) وتُشبه قراءة الكاثوليكون ليوم ٣٠ مسري (٢بط١: ١٩ - ٢: ١ - ٣)<br />
وهنا الكلام عن كرامة الأنبياء (وثابت عندنا كلام الأنبياء) ووحي النبوَّة (بل تكلَّم أناس بإرادة الله بالروح القدس)<br />
لذلك جاءت القراءة مع تذكار موسي النبي (٨ توت) ومعه أنبياء العهد القديم وجاءت في تذكار خاتم أنبياء العهد القديم ملاخي النبي (٣٠ مسري)<br />
وجاءت في قراءة الأحد الثالث من شهر بؤونه للإشارة إلى أهمَّية الكلمة الإلهية في حياتنا، ومصير رافضي الخلاص والمجدِّفين<br />
+ في مزمور قدَّاس اليوم (مزمور ٦٠: ٢ ، ٤) تكرَّرت الآية رقم ٤ &#8221; أنت يا الله استمعت إلي صلواتي ، أعطيت ميراثاً للذين يرهبون اسمك &#8221; في مزمور قدَّاس الأحد الثالث من بؤونه ، ومزمور باكر الأحد الرابع من بؤونه ، والإشارة في هاتين الأحدين لعطية الميراث السماوي لنا في المسيح ، في الأحد الثالث من خلال كلمته ، وفي الأحد الرابع من خلال الصلاة الدائمة والرحمة<br />
+ قراءة إنجيل قدَّاس اليوم (مت ١٢: ٢٢ - ٣٧) تُشبه قراءة إنجيل قدَّاس الأحد الثالث من بابه (مت ١٢: ٢٢ - ٢٨)<br />
قراءة اليوم تتكلَّم عن إخراج الشياطين بروح الله، وفي الأحد الثالث من بابه عن سلطان الإبن في إخراج الشياطين</p>
<p></p>
<p></p>
<h3>شرح القراءات</h3>
<p></p>
<p>يتكلم هذا الأحد عن غني الكلمة الإلهية وملء الروح<br />
فكلمة الله تجعل القلب ملتهبا بالروح ولايوجد إمتلاء حقيقي بالروح بعيدا عن كنز الكلمة الذي هو روح وحياة<br />
تبدأ المزامير بوصلة الربط بين الكلمة وملء الروح وهي إشتياقات النفس الصادقة وبحثها وإشتياقها لله وتوبتها الدائمة كتربة مهيأة لفعل الروح القدس<br />
فهي تتوكّل عليه (مزمور عشيّة) وتنتظر خلاصه (مزمور باكر) وتفرح بميراثه (مزمور القدَّاس)<br />
فالنفس في مزمور عشية التي تلقي كل إتكالها علي الله وتثق في إستجابته (لأَنِّي توكلت عليك يارب وأنت تستجيب ياربي وإلهي)<br />
وتلتصق به وتترجي خلاصه في مزمور باكر (ولاتتباعد عني.. يارب خلاصي)<br />
وفي مزمور القداس تفرح بإستجابته وتتهلل بميراثه (أعطيت ميراثا للذين يرهبون اسمك لذلك أرتل لاسمك إلى دهر الدهور)<br />
وفي إنجيل عشية يعلن أن غني الروح هو أساس السلوك المسيحي الذي هو أيضا جوهر كلمة الله وروح الوصية (اسألوا تعطوا اطلبوا تجدوا اقرعوا يفتح لكم &#8230;.. فكم بالحري أبوكم الذي في السموات يعطي الخيرات - في إنجيل لوقا ١٣:١١ يعطي الروح القدس - للذين يسألونه فكل ماتريدون أن يفعل الناس بكم افعلوا هكذا أنتم أيضا بهم لأن هذا هو الناموس والأنبياء)<br />
تتكلّم القراءات عن الإنجيل أساس الأبوّة الروحية (البولس) وقيادة الروح القدس للأنبياء في الوحي (الكاثوليكون) وأن الخلاص موضوع الكتاب كله (الإبركسيس )<br />
أما البولس فيعلن أن الأبوة الحقيقية في الكنيسة تنجب أولادا من خلال كلمة الله والإنجيل (لأنه وإن كان لكم وبرأت من المرشدين في المسيح لكن ليس آباء كثيرون لأَنِّي أنا ولدتكم في المسيح يسوع بالإنجيل فأطلب إليكم أن تكونوا متمثلين بي)<br />
لذلك يؤكد الكاثوليكون على ثبات وصحة وفاعلية كلمة الله في العهد القديم لإعداد البشرية لكوكب الصبح المنير الذي هو الكلمة المتجسد كما يوضح قيادة الروح القدس للأنبياء في كل ماكتبوه (وثابت عندنا كلام الأنبياء هذا الذي هو نعم ماتصنعونه إذا تأملتم إليه كمثل سراج مضئ في موضع مظلم حتى يظهر النهار والنور يشرق ويظهر في قلوبكم عالمين هذا أولا أن كل نبوات الكتب ليس تأويلها فيها من ذاتها خاصة وليست بمشيئة البشر جاءت نبوة في زمان، بل تكلم أناس بإرادة الله بالروح القدس)<br />
لكنه في ذات الوقت يحذر من الذين يتجرون بكلمة الله وبسببهم ينجرف الناس للنجاسات والتجديف علي الحق (وقد كان أنبياء كذبة في الشعب كما سيكون فيكم معلمون كذبة &#8230;. وكثيرون ينجذبون نحو نجاساتهم ومن قبلهم يجدّف على طريق الحق وبالظلم وكلام الباطل يتجرون بكم)<br />
أما في الإبركسيس يعلن الرسول أن رسالة الخلاص هي موضوع نبوات الأنبياء (فلما اجتازا في أمفيبوليس وأبولونية أتيا إلى تسالونيكي حيث كان مجمع اليهود فدخل بولس إليهم حسب عادته وتكلم معهم من الكتب ثلاثة سبوت موضحا ومبينا أنه كان ينبغي أن المسيح يتألم ويقوم من بين الأموات وأن هذا هو يسوع المسيح هذا الذي أبشركم به فآمن قوم منهم)<br />
كما يظهر إشتياقات وإجتهاد شعب بيرية أكثر من شعب تسالونيكي في فحص وقبول الكلمة الإلهية (وأما الإخوة فللوقت ودعوا بولس وسيلا ليلا إلى بيرية وهما لما وصلا إلى هناك دخلا إلى مجمع اليهود وكان هؤلاء أشرف من الذين في تسالونيكي فقبلوا الكلمة بكل سرور فاحصين الكتب كل يوم: هل هذه الأمور هكذا فآمن منهم كثيرون)<br />
بينما يأتي إنجيل القداس موضحا ومعلنا فعل الروح القدس في الكنيسة ورعاتها ضد قوات الظلمة (وإن كنت أنا ببعلزبول أخرج الشياطين فأبناؤكم بمن يخرجون لذلك هم يصيرون قضاة لكم وإن كنت أنا بروح الله أخرج الشياطين فقد وصل إليكم ملكوت الله)<br />
وفي ذات الوقت محذرا من رفض التوبة حتى نهاية العمر حسب تفسير الآباء أن هذا هو التجديف على الروح (لذلك أقول لكم كل خطية وكل تجديف يغفر للناس وأما التجديف على الروح القدس فلن يغفر له)<br />
لذلك يختم بأن تجديد القلب بالروح يثمر صلاحا في كل كلمات الإنسان ومحذرا من الكلام الباطل المؤدي إلي الدينونة (فإنه من فضلة القلب يتكلم الفم الإنسان الصالح من كنزه الصالح يخرج الصلاح والإنسان الشرير من كنزه الشرير يخرج الشر ولكن أقول لكم: إن كل كلمة بطالة يتكلم بها الناس سوف يعطون عنها حسابا يوم الدينونة لأنه بكلامك تتبرر وبكلامك يحكم عليك)</p>
<p></p>
<p></p>
<h3>ملخّص القراءات</h3>
<p></p>
<p>إشتياقات النفس وتوبتها الدائمة تهيئها لعمل الروح (مزمور عشية وباكر والقداس) وتجديد القلب بالكلمة والروح يقود إلي تجديد الكلام والسلوك (إنجيل عشية والقداس) والإنجيل هو الذي يلد النفوس في الخدمة ( البولس )<br />
ويشرق في القلوب كوكب الصبح (الكاثوليكون )<br />
ويعلن رسالة الخلاص للشعب المجتهد في الكلمة (الإبركسيس )</p>
<p></p>
<p></p>
<h3>الكنيسة في قراءات اليوم</h3>
<p></p>
<p>وحدة العهدين إنجيل عشيّة<br />
مجئ الرب + الآباء الروحيين البولس<br />
الروح القدس العامل في الأنبياء + دينونة الملائكة الكاثوليكون<br />
لاهوت الروح القدس إنجيل القدَّاس</p>
<p></p>
<p></p>
<h3>أفكار مقترحة لعظات</h3>
<p></p>
<p><strong>(١) كلمة الله</strong></p>
<p>١- جوهر كلمة الله إنسكاب الرحمة بين البشر وبعضهم البعض<br />
&#8221; فكل ما تريدون أن يفعل الناس بكم افعلوا هكذا أنتم أيضاً بهم لأن هذا هو الناموس والأنبياء &#8221; إنجيل عشيّة<br />
٢- طريق إستعلان الأبوّة والرعاية في الكنيسة<br />
&#8221; لكن ليس آباء كثيرون لأني أنا ولدتكم في المسيح يسوع بالإنجيل &#8221; البولس<br />
٣- فعل كلمة الله مثل سراج منير في موضع مظلم<br />
&#8221; وثابت عندنا كلام الأنبياء هذا الذي هو نعم ما تصنعونه إذا تأملتم إليه كمثل سراج مضئ في موضع مظلم حتي يظهر النهار والنور يشرق ويظهر في قلوبكم &#8221; الكاثوليكون<br />
٤- وحي الكلمة وعصمة الكتاب بالروح القدس من أي تأويل بشري<br />
&#8221; أن كل نبوات الكتب ليس تأويلها فيها من ذاتها خاصة وليست بمشيئة البشر جاءت نبوة في زمان بل تكلَّم أناس بإرادة الله بالروح القدس &#8221; الكاثوليكون<br />
٥- موضوع الخدمة وسلاح الكرازة<br />
&#8221; وتكلَّم معهم من الكتب ثلاثة سبوت مُوضِّحاً ومُبيِّناً أنه كان ينبغي أن المسيح يتألم ويقوم من بين الأموات &#8221; الإبركسيس<br />
٦- إشتياق الشعب لكلمة الله وإجتهاده في دراستها<br />
&#8221; وكان هؤلاء أشرف من الذين في تسالونيكي فقبلوا الكلمة بكل سرور فاحصين الكتب كل يوم &#8221; الإبركسيس<br />
٧- كلمة الله هي أساس صلاح القلب وكلام الخلاص والصلاح وغيابها يجعل القلب شرّيراً والكلام بطَّال<br />
&#8221; الإنسان الصالح من كنزه الصالح يُخرج الصلاح والإنسان الشرير من كنزه الشرير يُخرج الشر ولكن أقول لكم: إن كل كلمة بطَّالة يتكلَّم بها الناس سوف يُعطون عنها حساباً يوم الدينونة &#8221; إنجيل القدَّاس</p>
<p><strong>(٢) الروح القدس</strong></p>
<p>هو عطيّة الصلاة الدائمة<br />
١- إنجيل عشيَّة<br />
&#8221; اسألوا تعطوا أطلبوا تجدوا اقرعوا يفتح لكم …. فكم بالحري أبوكم الذي في السموات يعطي الخيرات &#8221;<br />
إذا ما قارنا هذا النص بمثيله في (لو ١٣:١١) سنجد أنه يقول &#8221; يُعْطي الروح القدس للذين يسألونه &#8221; أي عطيّة الإمتلاء من الروح القدس هو جوهر صلواتنا وهو أيضاً ثمرة دوام ولجاجة الصلاة من القلب وكما تقول إحدي الترجمات للآية (إستمروا في السؤال تُعْطوا إستمروا في الطلب تجدوا إستمروا في القرع يُفْتَح لكم) وربما يكون هذا هو معني يُعْطِي الخيرات للذين يسألونه فالخيرات هنا هي ملء وغني روحه القدّوس<br />
هو الناطق في الأنبياء ومصدر وحي كلمة الله<br />
٢- الكاثوليكون<br />
&#8221; وليست بمشيئة البشر جاءت نبوة في زمان بل تكلم أناس بإرادة الله بالروح القدس &#8221;<br />
هو روح الله الكامل في لاهوته والمانح السلطان علي الشيطان<br />
٣- إنجيل القدَّاس<br />
&#8221; وإن كنت أنا بروح الله أخرج الشياطين فقد وصل إليكم ملكوت الله &#8221;<br />
هو روح التوبة والتبكيت والرجوع إلي الله لذلك الرفض الدائم له لا يصحبه مغفرة<br />
٤- إنجيل القدَّاس<br />
&#8221; لذلك أقول لكم كل خطية وكل تجديف يغفر للناس وأما التجديف علي الروح القدس فلن يغفر له &#8221;<br />
بالمقارنة بما جاء في (يو ٨:١٦) أن عمل الروح القدس هو تبكيت الإنسان للرجوع إلي الله ويستمر هذا العمل لآخر لحظة في حياة الإنسان أملاً في توبته حتي ولو في لحظاته الأخيرة كما حدث مع اللص علي الصليب (لو ٢٣ : ٤١،٤٠) وكما حدث مع القديس بطرس (لو ٦٢:٢٢) برغم إنكاره ولعنه أنه لا يعرف المسيح ( وربما يكون هذا هو معني أن التجديف علي الإبن يمكن أن يُغْفَر له لأنه مازالت الفرصة موجودة لقبول تبكيت الروح القدس للتوبة والرجوع ) لكن أن يرفض الإنسان نخس الروح (أع ٣٧:٢) لآخر لحظة في حياته فهذا هو التجديف الذي لا يُغْفَر</p>
<p><strong>(٣) الكنز الصالح والكنز الشرير</strong></p>
<p>١- المعني<br />
الكنز الصالح هو الرب يسوع له كل المجد (٢كو ٤: ٧) وهو الكنز المُخْفَي (مت ١٣: ٤٤) في حقول قلوبنا كما قال القديس مقاريوس وكلمته هي ذهبنا وفضتنا (مز ١١٩: ٧٢) وكلما نتعمَّق فيها يزداد الرصيد داخلنا وتتحول قلوبنا إلي وعاء لكلمته (مز ١١٩: ١١) والكنز الشرير هو ما يوجد في قلوبنا خارج محبة المسيح ونعمته وكلمته حتي لو كان له بريق إنساني<br />
٢- البنيان<br />
كيف نبني هذا الرصيد إلَّا بأن نسمع كلمته ونعمل بها فنبني حياتنا على الصخر ونحفظ حياتنا من هبوب الرياح ومجئ الأنهار (مت ٢٤:٧) وتكون كلمته مسرتنا وإرادتنا فنلهج فيها نهاراً وليلاً (مز ١: ٢) فنغرس حياتنا على مجاري المياه<br />
٣- التأثير والطاقة<br />
معروف الآن في العالم كله أن الكلام له طاقة خارجة معه وفيه فإذا تكلمت مع شخص مكتئب تتأثر بما فيه بصورة أو أخري وإذا تكلم أحد مع شخص فرحان أيضاً لكلامه تأثير علي من يتكلَّم معه لذلك قالت الجموع عن كلام رب المجد &#8221; كان يُعلِّمهم كمن له سلطان &#8221; (مت ٢٩:٧) أي أن كلامه يحمل قوَّة الهية وهذا وعد الرب في قوَّة كلمته &#8221; أليست هكذا كلمتي كنار وكمطرقة تُحطِّم الصخر &#8221; (أر ٢٩:٢٣) ولذلك قال رب المجد &#8221; إن قال آلهة لأولئك الذين صارت إليهم كلمة الله &#8221; (يو ٣٥:١٠) وهذا يعكس مدي تأثير كلمة الله ومدي الطاقة التي تحملها لذلك تقول التسبحة ( الكتب المُقدَّسة أنفاس الله )<br />
٤- برهان الروح<br />
لا نعتمد في توصيل الكلمة للآخرين علي معلومات وحفظ آيات ودراسة عقلية لكن أهم ما نحتاجه هو برهان الروح، وعمل الروح في الكلمة لكي لا يكون الإيمان بحكمة الناس (١كو ٢: ٤)، فالحاجة إلي الإقتراب للكلمة بالروح واللجوء للروح لإعلان الكلمة وكلاهما بالصلاة والخشوع وإعترافنا أمام أنفسنا وفِي أعماقنا بالفقر والإحتياج أمام عمق كلمته (أش ٥٥: ٩)<br />
٥- ميراث الأسرة والكنيسة<br />
أعظم ما نُسَلِّمه للطفل هو كيف يقرأ (لو ٢٦:١٠) وما أجمل ما قيل عن القديس تيموثاوس (٢تي ٣: ١٥)، لذلك فإن الكنيسة التي يدرس شعبها وشبابها وأطفالها الكلمة تصمد أمام كل قوي الشر وفلسفات العالم</p>
<p></p>
<p></p>
<h3>عظات آبائية</h3>
<p></p>
<h4>القديس الأنبا أنطونيوس كوكب البرية</h4>
<p></p>
<p>مقالة من أجل أنه يجب علينا أن نتحفظ من ألسنتنا جيداً<br />
قال ربنا يسوع في الإنجيل المقدس ادخلوا من الباب الضيق أيها الأخوة الذي تدخل منه. الحكيم سليمان يظهر لنا هذا الأمر قائلاً يا أبنى لا نترك فاك يقبح لئلا يخطئ جسدك فتجاب عليك الموت. وأيضاً أن فم الجاهل له لكن لنجاهد لنصنع حافظاً قوياً على أفواهنا حتى لا ننطق بنطق شرير لأن النطق الشرير هو أشر من جميع السموم. جميع الجراحات تبرأ أما جرح اللسان فليس له شفاء البتة، لسان الثعبان أخف من لسان النمام لأنه شيطان رديء &#8230; من أجل أنه يثير اضطراباً، وحروباً رديه في وسط الأخوة ويقيم الفتن والشرور في وسط أهل السلامة ويفرق مجامع كثيرة. فاذا ادخلته اليك فانه يتركك غريباً مع جميع معارفك وكل من يصاحبه فكأنه يصاحب القاتلين بالسيف. من أجل أن صحبة القاتل والنمام نتيجتها واحده فان لم يقتلاك بالسيف فانهما يمضيان بك إلى هناك بجرح واحد. لسان النمام لا يختلف عن لسعة الحية. فالاصلح أن تساكن الحية والعقرب من السكنى مع ذي لسان نمام فان الظالم خير منه. جميع الخطايا هي أخف من النميمة. الذي ينم والذي يسمع منه بتلذذ دينونتها واحده. أن تقترب من النار وتحترق خير من أن تقترب من نمام. ابعد عنه لئلا يسلمك إلى الضربات بغير رحمة لأن فاه ممتلئ قتلا ودما في كل حين. والآن أنا آمركم أن تهربوا من النمام هروباً عظيماً. وان كان متوحداً أو سائحاً أو مجاهداً وكانت فيه نمام فاهربوا منه. وان كان أبوك أو أخوك نماماً فأهرب عنه خارجاً. والاصلح ان تقيم مع سبع ولبؤة خير لك من مقامك مع النمام. فلا تستحي من أن تهرب عنه بعيدًا لئلا يقتلك بسمة الذى للخطية. فالآن يا أولادى اهربوا من النميمة ولازموا الصمت والسكوت. لأن الساكت هو عند الله وملائكته والساكت هو في الأعالى لأنه قال بماذا يحفظ الشاب طرقك. وعندما يحفظ أقوالك ويقول لنا في يوم افتقادنا طوباك أنت يا أسرائيل الحافظ الله يحفظكم بسلامته ونعمته.<br />
مقالة من أجل السكوت<br />
هكذا قال سليمان الحكيم: أيها الأحباء أن كنزاً مختاراً في فم الحكيم، وأيضاً ان كل من يقدر على حفظ فمه ولسانه فهو يحفظ نفسه ولا يقول كلاماً كثيراً. أحفظ أيها الإنسان وتسلط على لسانك ولا تقتنى لك عادة كثرة الكلام لئلا تزيد في خطاياك اجعل اصبعك على فمك ولجاماً في لسانك من أجل أن الأنسان الذي يقول كلام كثير لا يترك للروح القدس موضعاً يحل فيه البتة. ليكون اسم الرب في فمك في الليل والنهار. وتكون متبل (مملح) بالملح الروحانى وتعلم كل أحد بعفتك. وإذا سألك المتعلم المتكلم معك لأجل كلمة فان كان فيها ربح نفس فجاوبه وإذا لم يكن فيها ربح فكن مثل الاصم الذي لا يسمع وكمثل الأخرس الذي لا يتكلم. والآن يا أولادى اقتنوا لكم العلم الحقيقى لكي تكونوا كاملين اسمعوا في طلب الحق والوداعة لكي تشبعوا من الخيرات. والجالس عند الله والكلمة المكتوبة تكمل عليه. طوباهم الذين يشبعون من مخافة الله ديان الاحياء والاموات الذي يكمل مشورة القديسين بلا فساء يحيا إلى الدهر وإلى الأبد</p>
<p></p>
<p></p>
<h4>القديس يوحنا ذهبي الفم</h4>
<p></p>
<p>لماذا لا يجبر الله الناس على أن يكونوا صالحين؟</p>
<p>&#8221; أشكر إلهي في كل حين من جهتكم على نعمة الله المعطاة لكم في يسوع المسيح أنكم في كل شيء قد استغنيتم فيه &#8221; (١كو١: ٥،٤)<br />
هذا هو ما يدعو الآخرين أن يعملوه قائلا لتعلم طلباتكم مع الشكر لدى الله، (في ٦:٤) ونفس الشيء أيضا اعتاد هو نفسه أن يعمله: معلما إيانا أن نبدأ دائما من هذه الكلمات، وأن نقدم لشكر الله قبل كل شيء. لأنه ليس شيء مقبولا لدى الله قدر أن يكون الناس شاكرين، سواء لأجل أنفسهم أو لأجل الآخرين أيضا: ولذلك فهو غالباً ما يفتتح كل رسالة بهذا (الشكر) ولكن الداعي إلى افتتاحه هذه الرسالة بالشكر هو أكثر ضرورة منه في الرسائل الأخرى. لأن الذي يشكر يفعل ذلك لأنه في حالة مرضية وكاعتراف منه بالنعمة. هذا والنعمة ليست ديناً أو مكافأة أو أجرة، تلك الحقيقة التي من المهم أن تقال في كل مناسبة  إلا أن ذلك أكثر أهمية في حالة الكورنثيين الذين كانوا يتشيعون وراء محدثي الشقاق في الكنيسة.<br />
&#8221; إلهي &#8221; إنه بتأثير المحبة القوى يُمسك بما هو عام (للجميع) و يخصصه لنفسه ، وذلك كما تعود الأنبياء من وقت لآخر أن يقولوا &#8221; يا الله إلهي &#8221; (مز ٤:٤٣ ، ٦٢: ١) وعن طريق التشجيع تراه يحثهم أن يستعملوا هذا الأسلوب هم أيضا. لأن مثل هذه التعبيرات هي خاصة بإنسان يتخلى عن كل الأمور الزمنية متجهاً إلى ذاك الذي يدعوه بمثل تلك الغيرة الحارة، إذ أنه هو وحده الذي يستطيع أن يقول هذا بحق، فهو الذي يترفع على الدوام عن أمور هذه الحياة صاعداً إلى الله، مفضلا إياه دائما على الجميع ومقدما الشكر كل حين من أجل النعمة التي قد أعطيت سابقاً، بل من أجل كل بركة منحت في أي وقت. من أجل هذا أيضاً فإنه يقدم الشكر الله. لذلك فهو لا يقول &#8221; أشكر &#8221; فحسب، بل و كل حين من جهتكم، معلماً إياهم أن يكونوا دائما شاكرين لله، وليس لأحد إلا الله فقط.<br />
&#8221; على نعمة الله &#8221; أترى كيف أنه من كل ناحية يعرض المجادلات لكي يدحضها ؟ لأنه حيث تكون&#8221; النعمة &#8221; لا تكون بعد&#8221; أعمال &#8220;، وحيث تكون&#8221; أعمال &#8221; فلا تكون<br />
بعد&#8221; نعمة &#8220;.<br />
فإذا كان (الخلاص) هو &#8220;بالنعمة &#8221; فلماذا تتعظمون في أفكاركم؟ وأنى لكم أن تكونوا منتفخين؟ .<br />
&#8221; المعطاة لكم &#8221; وبواسطة من قد أعطيت ، أبواسطتي أنا أم بواسطة رسول آخر ؟ كلا على الإطلاق، بل&#8221; بواسطة يسوع المسيح &#8221; لأن عبارة &#8221; في يسوع المسيح &#8221; تفيد هذا المعنى تأمل كيف أنه في شتى الأماكن يأتى بحرف &#8220;في &#8221; بدلا من كلمة &#8221; بواسطة &#8220;: إذن فمعنى الأولى ليس أقل قوة من الثانية &#8221; إنكم في كل شيء استغنيتم &#8221; ومرة أخرى &#8221; بمن قد استغنيتم؟ &#8221; الجواب &#8221; بواسطته &#8221; وليس أنكم استغنيتم &#8221; فحسب &#8221; بل &#8221; في كل شيء &#8221; إذن فأول كل شي. هناك &#8221; غنى&#8221; وهو &#8220;غنى الله &#8221; ثم أنه &#8221; في كل شيء &#8221; وأخيراً (هو غنى) &#8221; الابن الوحيد&#8221; فتأمل في (هذا) الكنز الذي لا ينطق به !<br />
آية ٥ &#8221; في كل كلمة وكل علم &#8220;. &#8221; الكلمة &#8221; [أو &#8220;النطق &#8220;] ليس كذلك الذي للوثنيين، بل الذي لله. لأن هناك معرفة دون &#8221; كلمة &#8221; وهناك معرفة مع &#8221; كلمة &#8221; إذا فإنه يوجد كثيرون يحوزون على المعرفة، ولكن ليست لهم القدرة على التحدث بها، كاولئك الأميين الذين ليست لهم قدرة على أن يظهروا بجلاء ما بأذهانهم. أما أنتم  فلستم كأولئك، بل إنكم قادرون على الفهم وعلى التكلم أيضاً.<br />
آية ٦ &#8221; كما ثبتت فيكم شهادة المسيح &#8221; إنه  بنوع من المدائح والشكر - يمسهم لأنكم لم تصبحوا قادرين على تعلم مبادى. الحق، وأن تكونوا ثابتين في شهادة الرب، أي في شهادة الإنجيل، لا &#8221; بفلسفة عالمية &#8221; أو بترتيب زمني لكن بواسطة &#8221; نعمة &#8221; و &#8220;بالغنى&#8221; و &#8221; المعرفة &#8220;و &#8221; الكلمة &#8221; التي أعطيت لكم منه لأن لديكم ثمرة علامات كثيرة وعجائب متعددة. ونعمة لا ينطق بها تجعلكم تقبلون البشارة، فإذا كنتم قد تأيدتم بعلامات فلماذا تتقلبون؟ هذه إذن كلمات إنسان يؤنب، ولكنه في نفس الوقت يريد أن يثبتهم في عطيته.<br />
آية ٧ &#8221; حتى أنكم لستم ناقصين في موهبة ما &#8221; هنا تقوم مشكلة كبيرة هل أولئك الذين &#8221; استغنوا في كل كلمة &#8221; حتى أنهم ليسوا بناقصين في موهبة ما (يمكن أن يكونوا) جسديين؟ لأنهم إذا كانوا في البداية (غير ناقصين) فبالأكثر الآن فكيف إذن يدعوهم جسديين؟ ، إذ يقول لهم ولم أستطع أن أكلمكم كروحيين بل كجسديين (١كو ١ : ١ - ٣) . فماذا ينبغي أن نقول نحن؟ إن أولئك الذين آمنوا من البدء ، وحصلوا على كل المواهب ( لأنهم في الحقيقة طلبوها بحرارة ) قد أصبحوا فاترين فيما بعد أو إن لم يكن كذلك فهذه الأقوال أو تلك لم توجه للجميع على حد سواء ، بل منهم من كان مستحقاً لتوبيخه ومنهم من كان جديرا بمدحه لأنهم طبقاً للواقع كانوا ما زالوا حائزين على مواهب كما يقول هو نفسه : &#8221; فكل واحد منكم له مزمور له إعلان له لسان له ترجمة فليكن كل شيء للبنيان أما الأنبياء فليتكلم إثنان أو ثلاثة &#8221; أو نستطيع أن نقول شيئاً آخر غير هذا ، وهو أنه كما يقول المعتاد عندنا أن نطلق اسم الجزء الأكبر على الكل ، كذلك كان كلام الرسول في هذا الصدد . ثم إنه  كما أظن - يلمح إلى طرقه الخاصة التي قد اتبعها معهم لأنه كان قد أظهر لهم علامات رسوليته ففي الرسالة الثانية أيضاً يقول لهم &#8221; إن علامات الرسول صنعت بينكم في كل صبر &#8221; ثم يقول لهم أيضاً &#8221; لأنه ما هو الذي نقصتم عن سائر الكنائس؟ &#8220;.<br />
أو كما قلت سابقاً، إنه كان يذكرهم بمعجزاته الخاصة، ويخاطب بهذا أولئك الذين ما زالوا يصدقون. لأن أناسا كثيرين قديسين كانوا هناك، أولئك الذين رتبوا أنفسهم لخدمة القديسين، بعد أن أصبحوا &#8221; باكورة أخائية &#8221; كما يعلن هو ذلك عنهم إلى آخر الرسالة.<br />
وكيفما كان الأمر، فرغم أن هذا المديح ليس مطابقا تماما (للواقع) إلا أنه قد قدم له على سبيل التهيئة ممهدا الطريق مقدما لحديثه. لأن الذي يتكلم بأمور ليست سارة في مطلع حديثه يبعد كلامه عن أن يسمع بين الضعفاء: لأنه إذا كان المستمعون مساوين له في الدرجة فقد يشعرون بالغضب وإذا كانوا أقل منه بكثير فقد ينكرون. ولكي يتجنب هذا، نراه يبدأ رسالته ما قد يبدو مريحاً. وأقول يبدو، لأنه حتى هذا المديح لا يوجه إليهم، بل لنعمة الله. لأن كونهم قد نالوا مغفرة الخطايا وصاروا مبررين، فهذا كان العطية التي من فوق. لذا فهو يؤكد هذه الأمور التي تبين تعطف محبة الله، حتى ينقهم من مرضهم بالتمام.<br />
&#8221; وأنتم متوقعون استعلان ربنا يسوع &#8221; وكانه يقول لهم &#8221; لماذا تضجون كثيراً &#8221; ولماذا تنزعجون كأن المسيح لا يأتى ؟ كلا، إنه لا بدأت، واليوم قريب على الأبواب، ثم تأمل حكمته، كيف أنه يجذبهم من النظرات الإنسانية البحتة ليرهبهم بذكرى كرسى الدينونة المخوف وهذا يدلنا على أنه ليس فقط ينبغي أن تكون البداءات، بل والنهاية أيضا، لأنه جدير بنا بواسطة كل المواهب وبواسطة كل ما هو حسن أن نكون متذكرين ذلك اليوم. ثم إن هناك حاجة إلى عمل كثير حتى يمكننا ان نأتى إلى النهاية<br />
(إنه يستخدم كلمة) - استعلان، التي تدل على أنه وإن كان (الرب) غير منظور، إلا انه كائن، بل وحاضر الآن، وإذن فسوف يظهر. ولذا فهناك حاجة (ماسة) إلى الصبر: لأنه لأجل هذه الخاتمة قد قبلتم الأعاجيب، حتى تظلوا راسخين<br />
آية ٨ &#8221; سيثبتكم أيضا إلى النهاية، حتى تكونوا بلا لوم &#8221; هنا يبدو انه يتودد إليهم، ولكن القول يخلو من كل ملق لأنه يعرف ايضا كيف يرجعهم إلى صوابهم، وذلك كما حين يقول لهم، فانتفخ قوم كأني لست آتياً إليكم، وايضا يقول لهم: (ماذا تريدون - أبعصاً آتي إليكم أم بالمحبة وروح الوداعة، (١كو ٤: ١١، ٢١) وفي رسالته الثانية يقول لهم: إذ أنتم تطلبون برهان المسيح المتكلم في، (٢كو ١٣: ٣) ولكنه ايضاً يلومهم بطريقة مستترة في قوله &#8221; الذي سيثبتكم &#8220;. وكلمة &#8221; بلا لوم &#8221; تدل على انهم ما زالوا متزعزعين وبالتالى فهم جديرون باللوم.<br />
لكن تأمل كيف أنه يثبتهم دائماً كما بمسامير في اسم المسيح. ولم يكن شغله الشاغل أي انسان أو معلم، بل المحبوب نفسه، آخذا على عاتقه أن بيقظ أولئك الذين تثقلت رؤوسهم بانفاسهم في الشهوات لأنه ليست هناك من رسالة أخرى ذكر فيها اسم المسيح هكذا تباعاً و لكن هذا الاسم يتردد هنا مرات عدة في آيات قليلة، حتى يمكن أن يقال انه به (أي باسم القدوس) يحيك كل الديباجة، أنظر إلى الرسالة من بدايتها &#8220;بولس المدعو رسولا ليسوع المسيح إلى المقدسين في المسبح يسوع، الذين يدعون باسم ربنا: يسوع المسيح، نعمة لكم وسلام من الله أبينا والرب يسوع المسيح. أشكر إلهي في كل حين من جهتكم على النعمة التي اعطيت لكم في يسوع المسيح كما ثبتت فيكم شهادة المسيح، متوقعين استعلان ربنا يسوع المسيح الذي سيثبتكم بلا لوم في يوم ربنا يسوع المسيح أمين هو الله الذي به دعيتم إلى شركة ابنه يسوع المسيح ربنا واطلب إليكم أيها الإخوة باسم ربنا يسوع المسيح، أترى هذا التكرار الثابت لاسم المسيح؟ ومنه يتضح حتى لأضعف القادربن على الملاحظة  انه ليس صدفة أو سهواً يفعل هذا، بل لكي بالذكر المستمر لذلك الاسم الممجد يلهب قلوبهم ويطهر فساد الداء.<br />
آية ٩ &#8221; آمين هو الله الذي به دعيتم إلى شركة ابنه &#8221; يا للعجب! يا لعظمة ما ينطق به هنا! ما أرحب عظمة العطية التي يعلن عنها! لقد دعيتم إلى شركة ابنه الوحيد، فهل تصرفون أنفسكم إلى البشر؟ أيمكن ان يكون هناك أشر من هذه التعاسة؟ وكيف دعيتم؟ بواسطة الآب. ولانه &#8220;به &#8221; و &#8221; فيه &#8221; هي العبارات التي كان يستخدمها دائماً بخصوص الابن، ولئلا يظن الناس أنه بذكره إياه هكذا يجعله في مرتبة أقل، نجده ينسب نفس التعبيرات إلى الآب لأنه يقول: ليس بهذا الانسان أو ذاك، بل وبالآب، قد دعيتم وبه ايضاً قد &#8220;استغنيتم &#8220;. ثم انكم &#8221; قد دعيتم &#8220;، وليس انكم اقتربتم من انفسكم. ولكن ماذا يعنى بقوله - إلى شركة ابنه، اسمعه في موضع آخر يعلن عن هذا الأمر بأكثر وضوح (٢تي ٢: ١٢) إن كنا نصير فستملك ايضاً معه، إذا متنا معه فسنحيا ايضا معه. ولأن ما قد نطق به كان امرا جليلا، فقد اضاف إلى قوله برهانا قاطعا عن إعتقاد لا يرقى إليه الشك إذ يقول &#8221; آمين هو الله &#8221; أي انه وصادق، فإذ هو&#8221; صادق &#8221; فسوف يتم ما قد وعد به. ولقد وعد بأن يجعلنا مشاركين لابنه الوحيد، لأنه لهذا الغرض قد دعانا ولأن هبات الله ودعوته هي بلا ندامة، (رو ۱۱: ۲۹) انه يأتى بهذه الأمور منذ البداية بنوع من البراعة المقدسة لئلا يسقطوا في اليأس من شده تأنيبه لهم، لأنه يقيناً أن عمل الله يتوالى إذا لم نتضجر من (نيره)، مثل اليهود عندما دعوا  لم يتقبلوا البركات، لكن هذا لم يكن قط من ذلك الذي دعا، بل من نقص إدراكهم لأنه هو في الحقيقة كان مستعدا أن يعطى، ولكنهم برفضهم أن يتقبلوا، أقصوا أنفسهم بعيداً. فلو أنه كان قد دعاهم إلى أمر شاق ومؤلم فحتى في هذه الحال لا يتبررون باستعفائهم من طاعته. على كل حال - لعله كان ممكناً لهم ان يقولوا (إن الدعوة كانت) هكذا (شاقة). ولكن إذا كانت الدعوة هي إلى التطهير (قارن ١کو ١: ٤ - ٧) والتبرير، والتقديس، والفداء، والنعمة، والعطية المجانية، والأشياء الصالحة المذخرة التي لم ترها عين ولم تسمع بها أذن، والله هو الذي يدعو، بل ويدعو بنفسه؛ فأى عفو يستحقه أولئك الذين لا يسارعون إليه؟ إذن فلا يلومن أحد الله، لأن عدم الإيمان لا يأتى من ذاك الذي يدعو، بل من أولئك الذين ينطلقون بعيدا عنه<br />
ولكن رُب انسان يقول، ينبغي أن يأتى هو بالبشر ولو رغما عن إرادتهم، حاشا لله! إنه لا يستخدم العنف ولا الجبر لأن ذاك الذي يدعو إلى الأمجاد والأكاليل والولائم والمباهج  هل يجر الناس قسراً واضطراراً؟ كلا على الاطلاق. لأن هذا (القسر) هو شأن من يوقع القصاص. إنه إلى الجحيم يرسل الناس رغما عنهم، اما إلى الملكوت فهو يدعو النفوس طوعا. إلى النار يحضر البشر قهراً، وهم ينوحون على أنفسهم. اما إلى (الخلود) الذي بلا نهاية فليس الأمر كذلك، بل انه لتحقير للبركات نفسها، إذا لم تكن طبيعتها تدعو الناس إلى الركض وراءها من تلقاء أنفسهم، وبشكر جزيل قد تقول: إذن فلماذا لا يقبل عليها سائر البشر؟ بسبب ضعف إرادتهم.. ولماذا لا يقضى الله على ضعف إرادتهم، ولكن أخبرني يا هذا. بأية كيفية يقضى عليها؟ ألم يبدع العالم الذي يعلم عن محبته وجبروته &#8221; لأن السماء تحدث بمجد الله &#8221; (مز ١:١٩) ألم يرسل الأنبياء؟ ألم يدعنا ويكرمنا؟ ألم يصنع المعجزات؟ ألم يعط ناموسا مكتوبا وطبيعيا أيضا؟ ألم يرسل ابنه؟ ألم يبعث الرسل؟ ألم يحذر من الخطايا؟ ألم يتوعد بالنار؟ ألم يعد بالملكوت؟ ألا يجعل شمسه تشرق كل يوم؟ أليست الأمور التي يوصينا بها بسيطة وسهلة، حتى أن كثيرين يتجاوزون وصاياه بعظمة إنكارهم لذواتهم وماذا يصنع لكرمي وأنا لم أصنعه. (اش ٥: ٤)<br />
ورب أحدكم يقول &#8221; ولماذا لم يجعل المعرفة والفضيلة فطرية فينا؟ &#8220;من يتكلم بهذا؟ اليونانيون أم المسيحيون؟ في الواقع كلا الاثنين  ولكن ليس حول الأشياء نفسها، ففريق يقيم اعتراضه بالنظر إلى المعرفة، والفريق الآخر بالنسبة إلى السلوك. إذن فقبل كل شيء نجيب على ذلك الذي من جانبنا لأني لا أهتم كثيراً بالخارجين، قدر اهتمامي بأعضائنا الأخصاء<br />
إذن ماذا يقول المسيحى؟ &#8220;إنه كان من المفضل أن تغرس فينا معرفة الفضيلة نفسها &#8220;. لقد غرسها (بالفعل)، لأنه إن لم يكن قد فعل ذلك، فمن اين كان لنا ان نعرف الأمور الواجب عملها والأخرى التي ينبغي تركها؟ ومن اين كانت تأتى القوانين والمحاكم؟ ولكن إذا قلت وكان ينبغي ان الله لا يغرس فينا المعرفة فحسب، بل فعل الفضيلة أيضا، إذن فلاى شي. نكافاً إذا كان الكل من الله؟ أخبرني، أيدينك الله على إرتكاب الخطية بنفس الطريقة التي يدين بها اليوناني؟ كلا بالتأكيد. إن لديك (أيها المسيحي) إلى حد ما، ثقة  ناشئة عن المعرفة إذن، فإن قال انسان ما الآن، أنك فيما يختص بالمعرفة ستحاسب أنت واليوناني على حد سواء  ألا ننفر من هذا القول؟ اعتقد هذا لأنك ستقول إن اليوناني بالرغم من أن له ما يستطيع به أن يصل إلى المعرفة، إلا أنه لم يرد. فإذا ما قال هذا انه كان ينبغى ان يغرس الله فينا المعرفة بالفطرة، الا تضحك منه مستخفا، وتقول له &#8221; ولكن لماذا تبحث عليها أنت؟ ولماذا لا تكون غيورا كما انا؟ بل أنك ستقف ثابتا بجرأة كبيرة وتقول انه كان من الحماقة المتطرفة ان نلوم الله لأجل عدم غرسه المعرفة بالفطرة. وتقول هذا لأنك أدركت ما يختص بالمعرفة. كذلك فلو كنت قد مارست ما يختص بالعمل (اي بالفضيلة)، ما أثرت هذه الأسئلة، بل لأنك خائر في الأعمال الفاضلة، تبرر نفسك بهذه الكلمات الواهية. لكن كيف يمكن أن يكون صوابا القول بأن يكون الانسان صالحاً بالقدر (والإجبار)؟ إذن، فبالتالى تكون البهائم المتوحشة منافسة لنا في الفضيلة ما دام بعضها أكثر عفة منا.<br />
لكن قد تقول&#8221; إنى أفضل ان أكون خيراً بالجبر وبهذا أفقد جميع المكافأت عن أن أكون شريراً بمحض اختياري مع العذاب ومقاساة الجزاء، لكنه من المستحيل ان يكون الانسان خيراً بالإكراه. إذا كنت لا تعرف العمل الذي ينبغي القيام به أخبرنا فنعلمك ماذا ينبغى ان تقول. لكن إذا كنت تعرف ان النجاسة إثم فلم لا تهرب مما هو شر؟<br />
قد تقول&#8221; لا أستطيع &#8221; لكن الآخرين الذين قاموا بأعمال أعظم من هذا بكثير سوف يحتجون عليك، بل وأكثر من هذا أنهم سيسدون فمك. لأنك ربما تكون معاشراً لزوجة ولست عفيفاً في حين أن آخر حتى بلا زوجة يحفظ عفته طاهرة. فأي عذر لك في عدم حفظك للوصية، بينما الآخر يتعدى الحدود التي وضعت لها الكنك قد تقول &#8221; لست من ذلك النوع من حيث طبيعتى الجسمية أو اتجاهى العقلي، أقول لك أن هذا (أي ممارسة الفضيلة) يحتاج لا إلى القوة، بل إلى الإرادة. وبهذا أقيم لك الدليل على أن في كل البشر نزوعا خاصاً إلى الخير: فما لا يستطيع الانسان أن يعمله، أن يكون قادراً على فعله ولو أجبر عليه  لكن إذا ما كانت الضرورة موضوعة عليه، فمعنى هذا أنه قادر عليه. فإذا لم يعمله، فإنه يتركه باختياره. إن ما أرمى اليه هو هذا: إن طيران الإنسان إلى السماء وهو في جسد ثقيل جد مستحيل، فماذا إذن لو أن ملكا أمر إنسانا أن يقوم بهذا ثم هدده بالموت قائلا. أولئك الرجال الذين لا يطيرون، آمراً بأن تقطع رؤوسهم، أو أن يحرقوا، أو ما شابه ذلك من العذاب، أيستطيع أي إنسان أن يطيعه؟ يقينا كلا. لأن هذا العمل يفوق الطبيعة. ولكن إذا ما حدث مثل هذا أمر الأمر في حالة العفة، وهب أنه قد سن قانونا بأن النجسين ينبغي أن يعاقبوا، وأن يحرقوا وأن ينكل بهم، وأن يذوقوا أقصى أنواع العذاب، ألا يطيع الكثيرون هذا ومع مثل هذا القانون؟ قد تقول &#8221; كلا &#8220;: لأن هناك قانونا موضوعا يمنع من ارتكاب الفحشا. يوجد كثيرون لا يخضعون له، (إن ذاك يحدث) لا لأن التهديد فقد سلطته، بل لأن الأغلبية الساحقة تتوقع ألا تضبط، حتى أنه إذا واجه أولئك  لحظة ارتكابهم الفعل القبيح - حاكم أو قاصد، فإن الخوف يكون شديداً بدرجة يطرد معها الشهوة. ولما لا أورد لكم نوعا من الإمكانيات أقل من هذا  هب أني أخذت إنسانا وأبعدته عن الشخص المحبوب منه، وقيدته في الأغلال، إنه سيحتمل (البعد) هذا دون شعوره بشدة الأذى. إذن فلا نقل إن هذا الانسان خير بالفطرة وذلك شرير بالفطرة، لأنه إذا ما كان الانسان خيراً بالفطرة فلن يستطيع يوما ما أن يصبح شريراً، وإذا ما كان شريراً بالفطرة، فلن يستطيع أن يكون صالحا. ولكننا اليوم نرى التغيرات تحدث تباعا، والناس بسرعة ينتقلون من هذا الجانب إلى الآخر، ويرتدون ثانية من ذاك إلى هذا، وهذه الامور قد لا نجدها في الكتب المقدسة فحسب (حيث نرى) مثلا أن العشارين يصبحون رسلا، والتلاميذ خائنين، والماهرون طاهرين، واللصوص ذوي صيت حسن، والساحرون يعبدون، والناس الاشرار ابراراً، سواء في كل من العهد القديم والعهد الجديد، بل أنه حتى في كل يوم يرى الانسان أن مثل هذه الأمور تحدث. فإذا كانت الأشياء فطرية، فلا يمكن ان تتغير. لذلك فإنه بما أننا حساسون بالفطرة، فلا يمكن بأي جهد أن نصبح مجردين من الحس. لأن ذلك الشيء الذي بالفطرة مهما كان، لن يستطيع أن يخرج عن حالته الفطرية. وعلى سبيل المثال: لم يتغير واحد قط من النوم إلى (الحياة) بدون نوم، ولم يتحول (جسد ما) من حالة الفناء إلى عدم الفناء، أو من الإحساس بالجوع إلى انعدام هذا الإحساس لديه تماما. إذن فهذه الأمور ليست مما تدعو اليه إدانتنا، أو إلى أن نؤنب أنفسنا على فعلها، ولا يمكن لأي إنسان ان يؤنب بها آخر بقوله &#8221; أيها الانسان الفاني القابل للألم &#8221; ولكن الفحشاء والفجور وما شابه ذلك، ندين عليها اولئك الذين يفعلونها، بل أننا نحضرهم أمام القضاة ليصدروا عليهم احكامهم ويعاقبونهم، واما الذين لا يقدمون على فعل هذه الأمور فإنهم ينالون الكرامة.<br />
إذن فما دمنا بسلوكنا تجاه الآخرين وبسلوك الآخرين تجاهنا عندما نحاكم ، ومن الأمور التي بخصوصها وضعنا القوانين  ومن الأشياء التي تدين عليها أنفسنا ولو لم يوجد أحد ليتهمنا و من اختبارات تحولنا إلى حالة أردأ بسبب التراخي ، وإلى حالة أفضل عن طريق المخافة - ومن الحالات التي نرى فيها الآخرين يعملون الأعمال الفضلي، و يصلون إلى اسمى درجات ضبط النفس  من هذا كله يتضح لنا جلياً أنه في مقدورنا أن نعمل الأعمال الفاضلة : فلماذا تخدع أنفسنا عبثاً منتحلين حججا وأعذارا واهية ، ليس فقط تمنع العفو ، بل تجعل العقاب غير محتمل حتى يحين لنا أن نضع ذلك اليوم المخوف نصب أعيننا ، ونرعى الفضيلة حتى بعد جهاد بسيط نحصل على الأكاليل التي لا تفنى ؟ لأن هذه الأقوال سوف لا تنفعنا شيئا، بل أن شركاءنا في الخدمة وأولئك الذين مارسوا الفضائل سيدينون أولئك الذين ظلوا في خطيئتهم: إن الرجل القاسي (القلب) سيدان بواسطة الرجل الرحيم، والشرير سيدان بالصالح، والشرس بالوديع والحاقد بالأنيس، ومحب المجد الباطل بالمنكر لذاته، والكسول بالمجد، والمستهتر بالرصين. وهكذا سيقيم الله الدينونة علينا، وسيضع كلا الفريقين في موضعه: يفيض الطوبى للواحد، والعذابات للآخر.<br />
ولكن معاذ الله أن يكون أحد الحاضرين من بين أولئك المعذبين المرذولين، بل بالحري من بين أولئك المكللين الفائزين بالملكوت. الذي نرجو الله أن يمنحنا إياه بنعمة وتعطف ربنا يسوع المسيح، الذي له مع الآب والروح القدس المجد والقوة والإكرام، الآن وكل أوان وإلى دهر الداهرين آمين.</p>
<p></p>
<p></p>
<h4>القديس ديديموس الضرير</h4>
<p></p>
<p>أوصى الرب الذي أعطاهم الناموس بهذه العبادة: &#8220;اصغ يا شعبي إلى شريعتي&#8221; (مز ٧٧: ١)، وأن يتبع هذه الدعوة: &#8220;يلهج في ناموس الرب نهارًا وليلًا&#8221; (مز ١: ٢) … لتكن هذه الكلمات التي أنا أوصيك بها اليوم على قلبك وقصها على أولادك وتكلم بها حين تجلس في بيتك وحين تمشي في الطريق وحين تنام وحين تقوم واربطها علامة على يدك ولتكن عصائب بين عينيك وأكتبها على قوائم أبواب بيتك وأبوابك&#8221; (تث ٦: ٦ - ٨). بطاعتنا للوصايا المعطاة لنا نحسب أوفياء وسامعين للناموس. كيف لا يكون بالحق وافيًا وسامعًا مادام يحفظ الكلام المقدس في نفسه وقلبه فيتكلم بها في بيته كما في الطريق، في نومه كما في يقظته؟! ففي نومه يقول للعالم بكل شيء، &#8220;إذا ذكرتك على فراشي في السهد ألهج بك&#8221; (مز ٦٣: ٦). وفي يقظنه ينطق ذات الشيء، إذ يذكر في فكره كلام ربنا قائلًا بجسارة: &#8220;يا الله، إلهي أنت، إليك أبكر&#8221; (مز ٦٣: ١). وبنفس الاشتياق يقول مع النبي إشعياء: &#8220;بِنَفْسِي اشْتَهَيْتُكَ فِي اللَّيْلِ&#8221; (إش ٢٦: ٩).<br />
الكتف المعاندة:<br />
يحدث هذا عندما نكون مغروسين في الشر فنستحق توبيخات المزمور٤٩: &#8220;للشرير قال الله: مالك تحدث بفرائضي وتحمل عهدي على فمك وأنت قد أبغضت التأديب وألقيت كلامي خلفك؟!&#8221; (مز ٤٩: ١٦ - ١٧) … من يعطي ظهره لكلام الرب يتجاهله بدون إحساس حتى أنه يدير ظهره لواهب هذا الكلام. إنهم مجانين ومملوئيين حماقة إذ يشتمون الرب واضع الشريعة بمخالفتهم لناموسه، وكما يقول الرسول: &#8220;الذي تفتخر بالناموس أبتعدى الناموس تهين الله؟!&#8221; (رو ٢: ٢٣) … إنهم يعطون ظهرهم للذي يكلمهم &#8220;حولوا نحوي القفا لا الوجه&#8221; (أر ٢: ٢٧)، مع أنه كان يجب على العكس أن يقدموا الوجه لخالق كل شيء&#8230; &#8220;إليك رفعت عيني يا ساكنًا في السموات&#8221; (مز ١٢٣: ٢١)، وأيضًا: &#8220;عيناي دائمًا إلى الرب لأنه هو يخرج رجلي من الشبكة&#8221; (مز ٢٥ : ١٥).<br />
إن الكتف المعاندة هي ثمرة الأذن الثقيلة عن السمع، وليس أُذن الجسد، بل أُذن النفس. لقد قيل: &#8220;زاغ الأشرار من الرحم، ضلوا من البطن متكلمين كذبًا، لهم حمة مثل حمة الحية، مثل الصل الأصم يسد أُذنه الذي لا يستمع إلى صوت الحواة الراقين رقي الحكيم&#8221; (مز ٥٨: ٤ - ٦). &#8220;كيف لا يكون عنيدًا وأصم من يثقل أذنه ويسدها، الذي من ولادته هو غريب عن الرب متكلمًا بالكذب وهو في البطن؟! يمكن أن ينطبق هذا أيضًا بطريقة رمزية على الذين صاروا غرباء منذ ولادتهم عن الكنيسة أمهم، ابتعدوا عنها مفضلين الأكاذيب منذ خروجهم من البطن، سدوا آذانهم مثل الحية فصارت طاقتهم في عمل الشر وبث السم.<br />
&#8220;غلظ قلب هذا الشعب وثقل أذنيه وأطمس عينيه لئلا يبصر بعينيه ويسمع بأُذنيه ويفهم بقلبه ويرجع فيُشفى&#8221; (إش ٦: ١٠). &#8220;فإنهم إذ يتلذذون بدوامة الشر والكفر التي اختاروها لأنفسهم فتثقلت آذانهم وإنطمست أعينهم وغلظ قلبهم فلا يسمعون الحديث عن الفضيلة ومعرفة الحق القادرة أن تجعلهم فضلاء وتردهم إلى ذاك الذي ابتعدوا عنه، هذا الذي يستطيع أن يشفيهم من العمي وعدم السمع &#8230;&#8221;</p>
<p></p>
<p></p>
<h4>القديس يعقوب السروجي</h4>
<p></p>
<p>١- تحاشي الثرثرة، يحفظنا من الشر<br />
٢- الحذر من نقل ما نسمعه للغير، إلا إن كان في الصمت ضررًا وخسارة وظلمًا لإنسانٍ<br />
٣- لتكن أعماقنا أشبه بمقبرة ندفن فيها ما نسمعه؛ لئلا نتمخض بكلمة تصير جنينًا للشرِّ<br />
٤- صادفني العالم وهو حامل الويلات ليوزِّعها لي. ربِّي، لا آخذ من عطيته المملوءة مضرات<br />
٥- في العالم التقتني الثرثرة والضجة مع الشتائم؛ أعطني كلمتك لأجد في صُحْبَتِها الهدوء<br />
٦- إنه بحر ثان، وها هو يُقلِقُني بعواصفه. يا ميناء الحياة، أعطني الراحة في موضعك النقي<br />
العالم حمأة، ومن ينزل إليه يُنَتِّن نفسه. ربِّي، بتعليمك اغسلني لأنني مُدَنَّس بالعالم<br />
الفريسي الذي كان بارًا حسب الناموس جمُلَ في عيني نفسه، ووقف ليذكر حسناته<br />
نظر إلى العشار الذي صعد أيضًا ليُصَلِّي، واحتقره ورذله، ووجَّه إليه كلامًا ساخرًا<br />
شكر الرب بروح مملوء ثرثرة، وقارن نفسه بالعشار، ووجد أنه أعظم منه<br />
قال: اللهم أشكرك لأنني لا أُشبه هذا العشار، لأنه نسي أنها كانت صلاة (لو ١٨: ١١)<br />
تجلس النساء في هيكل الصلوات المقدس (الكنيسة)، وفمهن مفغور بالكلام الزائد.<br />
يصرخ الأنبياء ليُعَلِّموا الأرض الصالحات، وهن يثرثرن بأخبار باطلة غير حسنة.<br />
يعمي الشيطان نفسُه عيون البشر، وفي كل الفرص يحاول أن يقتلهم.<br />
وجد المارد بأن كل واحدٍ يهمس بهدوء في الصلوات بينه وبين الرب،<br />
وبدل مسيرة الصلوات وضع همسات الأخبار الباطلة في فم النساء.<br />
أيتها الشقية اهمسي في الصلاة، واكشفي جرحَك للطبيب الخفي، الذي يضمد الجرح ولا يفضحه&#8230; يريد الشرير أن يُعَكِّر بالثرثرة هذا العمل الذي يُضَمِّد جراحات جميع الخطاة.<br />
يجعل المرء يثرثر مع قريبه في الهيكل المُقَدَّس ليسرد أخبارًا باطلة بدون فائدة.<br />
يجمع الشيطان ويجلب بعض الكلمات من الفضلات التي تركتها الضلالة في البشر.<br />
يُذَكِّرك بكلمات كنتَ قد نسيتَها قبل أن تدخل حتى تنطقها في وقت الصلوات .</p>
<p></p>
<p></p>
<h4>وايضا للقديس يعقوب السروجي</h4>
<p></p>
<p><strong>بقراءة اللاهوت تقتني النفس غِنَى عظيمًا فيما لو قبلتها بمحبة.</strong></p>
<p>موضوعة كالينبوع من أجل عطش العالم، وكل من هو عطشان يشرب منها الحياة يوميًا.<br />
الكتب الإلهية هي جداول مباركة؛ يا جميع العطاش هلموا واذهبوا واشربوا ماء الحياة.<br />
الأنهار لشرب الأجساد والحيوانات، وهوذا قراءات اللاهوت لشرب النفوس،<br />
أيها المتميز أعط الجسدَ الماءَ ليشرب، وأعط النفسَ الكتابَ لتقرأ وتتلذَّذ به.<br />
إنها عطشانة إلى الينبوع الموجود في الكتب، تضع فمها وتشرب منها الحياة كل يومٍ.<br />
النفس مُعَذَّبة من مؤانسة العالم الشرير، وهي مملوءة بالحواس والشهوات غير الجميلة&#8230;<br />
لكن لو فتحت الكتاب وقرأت بمحبة عظيمة، تستنير حالًا وترى الجمال الذي لا يُدرَك.<br />
ويدخل النور من القراءة إلى الفكر كالشعاع من القرص إلى تجويف العين.<br />
وتهبّ ريح الكتاب من بين الأسطر، وترفع دخان الضلالة عن الفكر.<br />
كلما كانت المحبة مرتبطة بالقراءة، تصير النفس نقية ومملوءة نورًا ولا تضطرب.<br />
يحسد الشرير ويطرق (الباب) حالا مثل الحاكم حتى يبطل الكتابُ بأفكار العالم المُقلِقة.<br />
لو كانت محبة النفس مرتبطة بالقراءة، ستحتقر وترذل كل النشاطات لأجله.<br />
ولو ازدادت محبة العالم بطلت القراءة، فتدخل أفعال لا تنتهي وينتهي العالم.<br />
أيتها النفس التي تريدين أن تعيشي حسنًا مع الله، اربطي محبتكِ بقراءة اللاهوت.<br />
واسكِتي منادمات العالم المضطربة، وأبطليها، وأزيليها عن فكركِ.<br />
وأنصتي إلى الكتاب الذي يكوي الجرح، ويشفي المرض، ويعتني ويضمد ويصلح النفس بالشفاء .</p>
<p></p>
<p></p>
<h4>القديس باسيليوس الكبير</h4>
<p></p>
<p><strong>معني الدينونة</strong></p>
<p>&#8220;الرب يدين الشعوب&#8221; (مز ٧ : ٨). الحديث عن الدينونة مُنتشِر في مواضع كثيرة في الكتاب المقدس، بكونه تعليمًا أساسيًا ومقنعًا بالنسبة للديانة الحقيقية لمن يؤمن بالله في المسيح يسوع.<br />
وردت كلمة &#8220;دينونة&#8221; (ومشتقاتها) بمعانٍ كثيرةٍ، مما يُسَبِّب ارتباكًا للذين لا يُمَيِّزون بدقةٍ بين المعاني&#8230;<br />
كلمة &#8220;يدين&#8221; تُستخدَم أحيانًا في الكتاب المقدس بمعنى الاستحسان، كما في العبارة: &#8220;احكم لي يا رب إن سرت في براءتي&#8221;. إذ يكمل: &#8220;جَرِّبني يا رب وامتحننّي&#8221;.<br />
أيضًا تعني &#8220;إصدار حكم&#8221;، كما في العبارة: &#8220;إن حكمنا على أنفسنا، فلا يُحكَم علينا&#8221; (راجع 1 كو 11: 31). إن امتحنا أنفسنا حسنًا، لا نخضع للدينونة.</p>
<p>مرة أخرى قيل إن الرب يدخل في المحاكمة مع كل جسدٍ (إر ٢٥: ٣١)، أي في فحصه الأعمال في حياة كل أحدٍ يُخضِع نفسه للمحاكمة، ويقارن وصاياه بأعمال الخطاة، مدافعًا عن نفسه ببراهين مؤكدًا أنه يفعل كل شيءٍ من أجل خلاص الذين يُدَانون، حتى يقتنع الخطاة أنهم يستحقُّون ما يحلّ عليهم من عقوبة بسبب خطاياهم، ويدركون العدالة الإلهية، ويقبلون بإرادتهم العقوبة التي تحل بهم.<br />
لازال يوجد معنى آخر لكلمة &#8220;يدين&#8221;، وذلك كقول الرب: &#8220;ملكة الجنوب ستقوم في يوم الدين وتدين هذا الجيل&#8221;(مت ١٢: ٤٢). إنه يقول إن الذين يرفضون التعليم الإلهي، ولا يُحِبُّون النبلاء والصالحين، بل ويهجرون تمامًا التعاليم التي تُعلِّم الحكمة، فبمقارنتهم وتضادهم لمن كانوا في جيلهم أكثر غيرة نحو النبلاء والصالحين، ينالون دينونة أقسى بسبب الأمور التي أهملوها.<br />
أعتقد أن الذين لهم هذا الجسد الترابي لا يُدَانون بطريقة واحدة، بواسطة الديَّان العادل متى كانت لهم عوامل خارجية متباينة تمامًا عن غيرهم، لهذا فإن الحُكْمَ يتفاوت من حالةٍ إلى أخرى.<br />
الظروف التي نحن فيها ليست في سلطاننا، بل وُجِدنا فيها بغير إرادتنا، مما يجعل خطايانا قد تكون أكثر خطورة أو أخف في حدّتها.<br />
تخيَّل إدانة الزنا، فالإنسان الذي سقط فيه منذ بداية حياته بممارسات شريرة ووُجِد مع والدين فاسقين، ونشأ بعادات شريرة كالسُكْرِ والعربدة وسماع قصص مُخزِية، بينما آخر كان يقوم بتحدٍّ للتمتُّع بأمورٍ سامية للغاية، ونال تعليمًا وكان له مدرسون، واستمع إلى وصايا إلهية أكثر، وتمتَّع بقراءات مفيدة ونصائح من الوالدين، وأنصت إلى قصصٍ تحثّ على الجدّية وضبط النفس وانتهاج أسلوب حياة راقيًا، فإن اندفع الأخير نحو الخطية مثل الأول، فإنه إذ يُقَدِّم حسابًا عن حياته، كيف يمكن لمثل هذا أن يكون غير مستحقٍ لعقوبة أشد بمقارنته بعقوبة الأول؟! يُتَّهَم أحدهما (الأخير) على أساس أنه لم يستخدم الميول المغروسة في أفكاره باستقامة. أما الآخر فيُتَّهم - بالإضافة إلى ذلك – أنه غرَّر بنفسه في وقت قصير بالرغم من نواله عونًا لخلاصه، وعدم ضبط نفسه وعدم حرصه.<br />
بنفس الطريقة أيضًا من تدرَّب منذ بداية حياته على التقوى والهروب من كل انحرافٍ عن تعاليم الله، ونشأ في شريعة الله التي تهاجم كل خطية وتدعو إلى عكسها، لا يكون له عذر إن عبد الأصنام مثل من تربَّى على يدي والدين فَضوِليين، أو مثل أناسٍ تعلَّموا منذ البداية عبادة الأوثان .</p>
<p></p>
<p></p>
<h4>القديس غريغوريوس أسقف نيصص</h4>
<p></p>
<p><strong>طوبي لانقياء القلب</strong></p>
<p>هذه هي النعم التي يغمر بها الرب طبيعتها وبينما هو يجازيها بالغبطة الآبدية (أو الطوبي) فانه في نفس الوقت يعلمها ويعدها للفوز بهذا الوعد، ولكن مما لا شك فأن لا يمكن الوصول بلا معاناة إلى هذه &#8221; الطوبی &#8220;. نحن نعرف أي سمات تتميز بها حياة الاثم أو حياة البر ونحن لنا الحرية أن نختار أحد الطريقتين فلنتجنب مرأى إبليس ولنتخل عن سماته. ولنلبس الصورة الإلهية مطهرين قلوبنا من كل العلل الرديئة. وهكذا نحصل على الفرح (الروحاني) فتتألق فينا الصورة الإلهية من خلال نقاوتنا في المسيح يسوع ربنا يسوع الذي له المجد إلى دهر الدهور آمين.<br />
ان الله لم يخدعنا حين وعد أنقياء القلب انهم سوف يعاينون الله، وأيضا لم يخدعنا بولس الرسول حين قال (١تي ٦: ١٦) ولا يوجد أي تعارض بين النصين لأن طبيعة الله غير المرئية صارت مرئية في خليقته وصرنا نستطيع أن نراه حين نتأمل في المخلوقات التي خلقها هو. ومعنى التطويب (مت ٥: ٨) ليس أننا نرى طبيعة الله في المخلوقات، بل نرى حكمه هذا الكون التي تقودنا إلى الحكمة الفائقة والقوة الإلهية التي تظهر في تناسق المخلوقات.<br />
وهذا التطويب يعطى تعزيه لأولئك الذين يجاهدون من أجل نقاوة القلب حتى يعاينوا الله.<br />
وهناك امثله في طبيعتنا البشرية مثل الصحة. فلا يكفي أن نتحدث عن أسباب الصحة، بل يجب أن نتمتع بها.<br />
لان الله لم يطوب الذي يعرف شيئاً عن الله، بل الذي يمتلك الله في قلبه (مت ٥: ۸) ومعنى هذا أن من يطهر قلبه فإن الكلمة تصير أكثر له ويتم فيه قول الرب &#8221; ملكوت الله داخلكم &#8221; (لو ۱۷: ۲۱) فان طهر إنسان قلبه من كل غضب وانفعال سوف يرى صورة الله الجميلة. فإن الله وضع القدرة في داخلنا على معرفته لأنه حين خلقنا وضع فينا هذا الكمال لكي يكون دائماً في طبيعتنا السلوك والسعي نحو هذا الكمال المطبوع في داخلنا.<br />
يحدث في إنساننا الداخلي عندما نزيل القذارة التي تجمعت بسبب الشر والفساد عن القلب فإنه يتنقى ويرجع إلى حاله النقاوة الأولى. وإذا نظر الإنسان إلى ذاته فإنه سوف يرى صورته الأولى في طهارته ونقاوته التي هي صورة الله نفسه مثل الذين يرون الشمس في مرآة. فأنهم لا يتطلعون إلى السماء مباشرة، ولكنهم يرون الشمس منعكسة في المرآة. وحينما تزول غمامة الظلمة من العين سوف نرى بوضوح تلك الرؤيا المباركة بالفكر الطاهر والقلب النقي. ولكن ما تلك الرؤيا: إنها الطهارة والقداسة والبساطة والنور الذي يضئ علينا وينعكس فينا من الله. وبهذا نستطيع أن ترى الله.</p>
<p></p>
<p></p>
<h3>عظات آباء معاصرين</h3>
<p></p>
<h4>قداسة البابا تواضروس الثاني</h4>
<p></p>
<p><strong>سلام الكنيسة</strong></p>
<p>+ فصل إنجيل هذا اليوم من الفصول الغنية في الكتاب المقدس ، ولقد اهتم به آباءكثيرون إذ يتحدث أساساً عن &#8221; سلام الكنيسة &#8221; خاصة ونحن في صوم الرسل ومرحلة تأسيس الكنيسة.<br />
أ – وحدة الكنيسة: يمزقها الانقسام والتحزب والتشيع &#8221; من لا يجمع معى فهو يفرق &#8221;<br />
ب – توبة الكنيسة: التجديف على الروح القدس معناه الإصرار على الخطية دون رجوع أو عودة.<br />
ج – بنيان الكنيسة: لا يتم إلا من خلال ضبط اللسان. لأن فضلة من القلب يتكلم اللسان. &#8221; وبكلامك تبرر وبكلامك تدان &#8221;</p>
<p>الهراطقة والمعلمون الكذبة: أمثلة لمن قاوم الكنيسة وهدد سلامها.<br />
الكنيسة هي ملكوت الله على الأرض، موطن الإيمان، ومسكن الله بيننا.<br />
&#8221; من ليس معي فهو على ، ومن لا يجمع معي ، فهو يفرق &#8221; (ع ٣٠)<br />
س: هل أنت تجمع مع المسيح؟ بإيمانك مثل إبراهيم &#8230; أبطال الإيمان<br />
بقدوتك مثل. يوسف &#8230; أبطال السيرة.<br />
بخدمتك مثل طابيثا &#8230; أعمال الرحمة.<br />
س: من هم الذين ليسوا مع المسيح؟<br />
أ – الهراطقة: أريوس، يهوذا – قسموا الكنيسة.<br />
ب – المعاندون، كاسروا الوصية &#8230;. أبشالوم<br />
ج – المتكبرون &#8221; أنزع الأعزاء عن الكراسى &#8221; &#8230;. شاول الملك<br />
بكلامك تتبرر وبكلامك تدان:<br />
يحدثنا الكتاب المقدس عن أربعة أنواع لللسان:<br />
١- اللسان المنضبط: يفكر قبل أن يتكلم، يعرف متى يتكلم، كلامه مفيد<br />
(من ضبط شفتيه فهو عاقل) – (لسان الصديق فضه نقية)<br />
٢- (اللسان الحريص: يتكلم بالصدق – يهتم بالتشجيع (شفتا الصديق تبوحان بما يرضى<br />
٣- اللسان المتواطئ: له دوافع خاطئة، افتراء، لوى الحقائق (الكذاب يزرع الخصام والنمام يفرق الأصحاب)<br />
٤- اللسان المدمر: صاحب الكذب، الانفعال، التبرير (كلام النفاق يفسد صاحبه)</p>
<p>من خطايا الكلام: إطالة الحديث، حماس المتكلم واندفاعه.<br />
يجب أن تراعى: نفسيه السامع، وقته، مشغولياته، مناسبة الحديث له.<br />
الكلمة الحلوة<br />
*الملاك للرعاة &#8230; البشارة<br />
*حنة الباكية وكلمة البركة من فم الكاهن &#8230; البركة<br />
* المرأة الخاطئة والمسيح &#8230;. العفو<br />
* التشجيع والتقدير.</p>
<p></p>
<p></p>
<h4>المتنيح الأنبا أثناسيوس مطران بني سويف والبهنسا</h4>
<p></p>
<p><strong>(مت ١٢: ٢٢-٣٧)</strong><br />
<strong>التجديف على الروح القدس</strong></p>
<p>انه لا فرق في مركز الأقانيم الثلاثة، ولكن الروح هو الذي يبكتنا على خطايانا، فان خالفنا نداء تبكيته، أغلقنا أمامنا باب التوبة. وحينئذ لا يكون لنا غفران.<br />
قد يقول انسان ان الله لم يخلق العالم، بل الطبيعة أوجدت نفسها، ولكنه قد يستمع بعد ذلك الى صوت الروح في داخله فيتوب عن ذلك الفكر الذي هو تجديف ضد الآب فيغفر له. وقد يقول آخر، أن المسيح ليس هو الله، ولكنه يعود فيستمع لصوت الروح فيه فيتوب عن التجديف ضد الابن فيغفر له. أما إذا رفض صوت الروح نهائيا، ونسبه الى هواجس مختلفة، فحينئذ تستحيل التوبة ويكون التجديف على الروح القدس بلا غفران. على أنه لو تاب وعاد الى سماع صوت الله، فان تلك الخطية تغفر. ولذا قال مار اسحق: &#8221; ليست خطية بلا غفران الا التى بلا توبة&#8221;.<br />
ولا يجوز أن يقال عن (الآية ۳۲) انها تعني وجود فرصة للتطهير في العالم الآخر، فليس في كنيستنا أن نقيم عقيدة على مجرد تخيل أو تخمين لأن عقائدنا كلها صريحة من الكتاب، وليس هناك أساس لفكرة المطهر لأن من يصل الى هناك دون أن يقر بخطيته هنا ويتطهر منها ليس أمامه مجال للتوبة.<br />
ولقد نسب الفريسيون قوة الله للشيطان، فقالوا عن رب المجد أنه يخرج الشياطين ببعلزبول &#8221; وهذا غير معقول لأنه لا قوة تقوى على الشياطين، الا قوة المسيح. وأولئك الذين يدعون أنهم يخرجون الشياطين وهم بعيدون عن روح المسيح الحقيقية، يبدون وكأنهم يقيمون محالفات مع الشياطين، يخدعون الناس بها نظير بعض مظاهر من الراحة التي يعطيها الشيطان لهم، مقابل امتلاكه ایاهم. فهم يطيعونه ويلبون ما يطلب ويخضعون له في كل حياتهم، في الملبس والمأكل، والمعاشرات، وكل شيء وهو طبعا لا يطلب أكثر من ذلك.<br />
فلا يكن فينا من يلجا لتلك الوسائل مهما كانت صورتها أو حتي ان تظاهر فاعلوها بالصلاة (راجع تث ۹:۱۸ - ١٤ )<br />
أما نحن فلنسلم قلوبنا لله ليكون الكنز الداخلي صالحا. وهكذا نتكلم بالصالحات، ولنتسلح بقوة الله لغلبة الشيطان .</p>
<p></p>
<p></p>
<h4>المتنيح القمص صليب سوريال</h4>
<p></p>
<p><strong>قوانين ملكوت السموات</strong></p>
<p><strong>القانون الثالث</strong><br />
<strong>في قول الصدق</strong><br />
&#8221; أيضا سمعتم أنه قيل للقدماء ، لا تحنث بل أوف للرب أقسامك. وأما أنا فأقول لكم، لا تحلفوا البتة لا بالسماء لأنها کرسی الله. ولا بالأرض لأنها موطىء قدميه. ولا بأورشليم لأنها مدينة الملك العظيم. ولا تحلف برأسك لأنك لا تقدر أن تجعل شعرة واحدة بيضاء أو سوداء. بل ليكن كلامكم نعم نعم لا لا وما زاد على ذلك فهو من الشرير &#8221; (مت ٥: ۳۳ - ۳۷) .<br />
إن الله عندما يشرع فهو يشرع لكل وقت، ولكل الحياة، ولكل الأزمنة لأنه غير زمني. وهو عندما يأمر بوصية يعطي القوة على تنفيذها، فلا نستطيع أن نقول إن قوانين ملكوت السموات لا تصلح للعصر الذي نعيش فيه.<br />
وسر عدم البركة الذي نجدها هذه الأيام في الكنيسة بالرغم من الأنشطة الظاهرة مرجعها إننا لا نطيع قوانين ملكوت السموات. مع أننا ننفذ قوانين أي بلد نعيش فيها.<br />
لقد أعطى الله لموسى على الجبل عشر قوانين في العهد القديم لكي لا يخطىء الشعب. وأكمل الله في عظة الجبل عشر قوانين لكي لا نفكر في الخطأ. لأن الفكر هو الذي يوصلنا للفعل.<br />
والقانون الثالث من هذه القوانين هو عن &#8221; قول الصدق &#8221; ويؤكد ما ورد في هذا القانون ما قاله القديس يعقوب: &#8221; ولكن قبل كل شيء يا إخوتي لاتحلفوا لا بالسماء، ولا بالارض ، ولا بقسم آخر لتكن نعمكم نعم ، ولاكم لا ، لئلا تقعوا تحت دينونة &#8221; (يع ٥ : ١٢) إن معنى الآية هو بلا شك &#8221; لا تحلف بقسم ما &#8221; الله لا يبريء من يحلف باسمه باطلا .<br />
إن التعليم الأساسي الذي يرمي إليه هذا القانون هو أنه ليس لأولاد الله قياسان للصدق. أي أنه عندما لا أحلف يمكنى أن أكذب وعندما أحلف لا بد أن أقول الصدق. بل يجب علينا أن نقول الصدق كما لو كنا حالفين. يجب أن نقول الصدق دائما لأن المسيحي ليس له قياسين، بل قیاس واحد: نعم نعم لالا. إن الله يقول ما يعنى ويعنى ما يقول. ويجب علينا كأولاده أن نتمثل به فنصدق في كلامنا كل الصدق. يجب أن تكون نعمنا نعم، ولانا لا. إن كان في قولنا أو في سلوكنا.<br />
وحتى الناس تنظر الآن لمن يحلف وتقول يعني هذا الذي يحلف ألا يكذب أبدا؟! إن خطية تجر خطية وأصبح كثيرين يحلفون باطلاً. مع أن الله في العهد القديم لا يبريء من يحلف بأسمه باطلاً.<br />
نشكر الله أنه في المحاكم سمح للمسيحيين الذين يمنعهم دينهم أن يحلفوا بأن يؤدوا القسم بالطريقة التي لا تتعارض مع إيمانهم. فأقول للمحكمة &#8221; أني أنا ممنوع أني أحلف لكني أتعهد أن أقول الحق وكل الحق ولا شيء غير الحق &#8221; لأنه ممكن أن يقول الأنسان جزءا من الحق ويخفي الجزء الثاني الذي ربما يكون في صالح الطرف الأخر.<br />
وإذا تشدد القاضي وقال لك أن المسيحين بيحلفوا ولماذا لا تحلف أنت، فإن القديس أغسطينوس قال &#8220;لو أجبر الإنسان على الحلفان لا يعتبر مخالفاً للشريعة لكن القضاء يسمح الآن ويعطيك الحق إذا تمسكت بأن لا تحلف وتقول &#8221; أنا سأقول الصدق وكل الصدق ولا شيء غير الصدق &#8220;. وأحيانا يحضروا لك الإنجيل لا التحلف عليه لكن لكي تقول الصدق أمام كتاب الله، وذلك لكي يتأكد القضاء بان هذه الشهادة حق.<br />
کتب معلمنا بولس الرسول إلى أهل كولوسي قائلاً &#8221; لا تكذبوا بعضكم على بعض إذ خلعتم الإنسان العتيق مع أعماله (كو٣: ٩) فالكذب من خصائص الأنسان العتيق، ونحن قد خلصنا من هذا الإنسان العتيق بطريقتين، الأولى هي بالمعمودية، إذ صلبنا اهواءنا مع شهواتنا لأننا متنا مع المسيح ودفنا ٣ ايام ثم يقوم الأنسان الجديد. فالأهواء والشهوات قد سمرت على عود الصليب بموت المسيح ونظرا لأن المعمودية لا تعاد لأن المسيح مات مرة واحدة عن العالم كله. هناك طريق ثاني: في الماضي كان الخاطي يضع يده على رأس الذبيحة أمام الكاهن ويقول أخطات وتذبح الذبيحة. ومادام الخطية انتقلت منه الى الذبيحة فالذبيحة تموت كرمز للمسيح الذي انتقلت كل خطايانا لتوضع فوق هامته وسمر على الصليب لکی يفتدى الذين هم تحت الموت وينالون التبني لنصبح أولاد الله. فإذا اخطأنا فالطريق الثاني هو التوبة بواسطة الاعتراف : فأنا أتوب عن خطاياي وآخذ عزما جديدا أمام الله و أقول أنا اخطات في كذا وكذا وعندما تعترف لا تتكلم عن خطايا الناس بل تكلم عن خطاياك أنت وعند الأعتراف أمام الله في وجود الكاهن لا تفتكر أنك تعترف على الكاهن وتنسى أنك أمام الله من يكون الكاهن فكر في الله الذي أمامك وأعترف قدامه وأكشف نفسك بكل جرأه وقل له أنك أخطأت في كذا وانك تائب وتقول له بدموع من فضلك حاللني وسامحني فتسمع من فم الكاهن النصيحه لكي لا تعود تخطىء ويضع ایده فوق راسك ويقول لك التحليل الذي يأتيك من السماء الذي هو مفروض أن يعطيه لك إذا اعترفت ويقول لك مغفورة لك خطاياك فتفرح بدون أن تتدخل في خطايا الناس . بل عليك أن تنظر إلى نفسك فقط. والاباء اعتبروا أن الاعتراف هو معمودية ثانية كما جاء في مجمع قرطاجنة برياسة القديس كبريانوس.</p>
<p>فالخطية هي خطأ في حق الله الذي تبنانا. ولما نخطىء نسييء إلى الله كأننا أبناء لم يربيهم أبوهم السماوي. ونحن بأعمالنا يجدف على الأسم الحسن.<br />
لذلك ينبغي أن يكون كلامنا نظيف مرتبط بالصدق والأمانة. ويجب أن تكون كلمتنا وثيقة نرتبط بها في كل معاملاتنا مع الآخرين، بدون مخاتلة أو مراوغة، حتى يستطيع الناس أن يعتمدوا على صدق قولنا: إن أولاد الله دائما يتكلموا بالصدق مهما كانت الظروف ، ولا يستطيعوا أن يكذبوا لأن الكذب ليس من طبيعتهم ، لأنه علامة من علامات الانسان العتيق الذي خلعناه يوم أن سمر المسيح على الصليب ويوم أن دخلنا جرن المعموديه وحصلنا على الغفران بالميلاد الثاني .<br />
ولكن وآسفاه فكم من البطل - بل كم من الكذب قد امتزجا بكلام البعض منا حتى تسربا إلى كل ناحية من نواحي حياتنا دون أن نشعر بهما!!<br />
للأسف المجتمع الذي نعيش فيه الآن أصبح يخلو من الصدق والأمانة والمحبة، وأصبح الحلفان مثل شرب الماء تنطق به السنتنا على الفاضي والمليان. وجرت هناك تقاليد للكذب مثل كذبة أول ابريل التي يستبيح فيها الناس التغرير بالغير أو حتى إيذائهم.<br />
وليس هناك للكذب مهما كان الدافع إليه مستقيما أو مقدسة، فالغاية لا تبرر الوسيلة، والكذب لا ينجي ولا يمكن أن نحصد من وراء الخطية خيرا.<br />
بل كل مشكلة تحل على أساس الكذب أنما يكون حلها وقتيا لا يلبث أن ينتج عنها أخطاء أخرى فالخطأ لا يصلحه خطا.<br />
يقول القديس بولس لذلك اطرحوا عنكم الكذب، وتكلموا بالصدق كل واحد مع قريبه. لأننا بعضنا أعضاء البعض &#8221; (اف ٤: ٢٥) .<br />
وجاء في سفر أشعياء النبي &#8221; أنا الرب متكلم بالصدق مخبر بالاستقامة &#8221; (اش ۱۹:٤٥) .<br />
لكن الشيطان هو الكذاب وأبو الكذاب: لذلك الكذبة لا يدخلون السماء، لأن &#8221; كراهة الرب شفتا كذب، أما العاملون بالصدق فرضاه &#8221; (ام ۲۲:۱۲) .<br />
فيجب أن نقصد من نعمنا نعم ومن لانا لا. ولنراجع موقفنا وهذا القانون. في حياتنا المنزلية وفي المجتمع وفي أعمالنا.<br />
أولا: في حياتنا المنزلية:<br />
من الضروري أن يدرك أولادنا أننا نعنى كل ما تقوله، لكن هل هذه هي الحال في بيوتنا؟ أمثلة على ذلك<br />
(١) يصبح طفل طالبا شيئا ما فتجيبه أمه قائله لان لن اعطيك اياه &#8221; لكن الطفل يعلم جيدا أنه إذا استمر في صراخه حصل على كل ما يريده.. فتعطيه الأم ما طلبه ليسكت.<br />
ليست اذن لا الأم لا<br />
(٢) يحذر الوالد أبنه قائلا: &#8221; إن فعلت كذا وكذا سأعاقبك ويخالف الولد تحذير ابيه دون أن ينال العقاب. فهل يستغرب الوالدون بعد ذلك إذا ما شب اولادهم غير مطيعين، وغير صادقين؟ وهل يستغربون إذا ما وجدوا صعوبات هائله معهم عندما يكبرون؟ يجب ألا نستغرب ذلك. فلو كانت نعمكم نعم ولاكم لا في حياتكم المنزليه لأدرك أولادكم ذلك بسهوله. أولادنا لن يتعلموا الصدق إلا بالقدوة.<br />
تحدث أحد رجال الدين قائلا:<br />
أحزنني كثيرا ما رأيته من أن الأولاد في دائره كنيستى لا يعرفون للصدق معنى، ولا يأبهون بالكذب، بل يقولونه بغير حساب ولا اكتراث قد صليت كثيرا من أجل هذا الأمر، وصممت على أن أعرف السبب وأخيرا أهتديت إلى أن العلة كامنة في منازلهم، وعرفت أنهم تعلموا في بيوتهم أن يقولوا الكذب فالقيت عظة في الكنيسة عن هذا الموضوع .وبعد العظه جاء واحد من أعضاء الكنيسه وأخبرني بأنه لم يكن يليق بي أن أعظ وجاءت سيدة وشكت أيضا من موعظتی<br />
١-بعد أسابيع زرت بیت الرجل الذي أنبني. وبينما نحن جالسين نتحدث معا دخل علينا صبي صغير وقال &#8221; أريد القدوم ياوالدي فأجاب الوالد &#8221; لست أعلم أين هو یاعزیزی &#8221; دخلت أم الصبي فقال لها الوالد &#8221; مرقس يريد أن يأخذ القدوم وهو خلف الباب أرجوك أن تخبئيها منه &#8221; والتفت اليه وقلت له في نغمة جارحة &#8221; لقد كذبت على ابنك وهو يعلم تماما أنك كذبت عليه &#8221;<br />
٢- وزرت السيدة التي شكت من عظتى. وبينما نحن نتحدث كانت ابنتها تصنع ضوضاء شديده بمطرقتها. فصاحت الأم &#8221; دعي عنك هذه الضوضاء ياماري وإلا فإنني سأعاقبك &#8221; ولكن الطفله راحت تطرق كما كانت وكررت الأم وعيدها، ولكن بدون فائده. فصاحت الأم غاضبة: &#8221; دعي عنك هذه الضوضاء يا ماري وإلا فسأقتلك واستمرت الطفله في ضوضائها. وكان معي عكازاً أتوكا عليه في مشيتي فأعطيه للأم وقلت لها هل ينفع هذا العكاز فقالت الأم &#8221; ولماذا &#8221; أجبتها &#8221; لتقتلي ابنتك كما قلتي فقالت باسمة &#8221; كلام فلم أقصد أن أقتلها حقا لكني بأخوفها أو أهوشها &#8221; فقلت لها &#8221; نعم إنك لم تقصدی ذلك وإن أبنتك على يقين إنك كنت كاذبة فيما تقولين &#8221;<br />
ومما يدخل تحت الكذب المبالغة في القول، والكلام الملتوي أو المبهم الذي تقصد به أعطاء معلومات غير صحيحة أوالكذب لأخفاء خطية.<br />
ثانيا: في المجتمع<br />
من الواجب أن تظهر نتيجة هذا القانون في حياتنا الأجتماعية. فما أكثر الكذب والنفاق في مجتمعنا الأنساني في أيامنا هذه.<br />
مثال: (۱)<br />
سيدة تطل من نافذة المنزل فترى صديقه مقبله لزيارتها فتقولي &#8221; السيدة فلانه مقبلة لزيارتي &#8221; ياللانزعاج والاقلاق &#8221; وعندما تدخل الصديقة إلى غرفة الأستقبال تظهر لها علامات السرور وامارات الترحيب بزيارتها وتلاقيها بالقبلات!! &#8230; ثم تكرر لها لماذا لم تأت منذ مدة. وتعبر عن أشتياقها إليها. وقد تعتذر عن ذلك قائلة إنها يجب أن تكون على جانب من حسن الذوق واللياقة نعم يجب أن تكوني كذلك، ولكن ليس على حساب الصدق وآسفاه!! لقد أصبح المجتمع الأنسانی مملوءا بالبطل مشحونا بالرياء<br />
مثال: (۲)<br />
قصه معروفه للكثيرين. زارت سيدة عائلة فأستقبلها الأب والأم وطفلهما وبعد أن تحدثوا سويا وخرجت السيده قالت الأم للأب &#8221; هذه السيدة بوجهين &#8221; سمع الولد هذه العبارة. وجاءت السيدة للزيارة مره ثانيه فدار الولد حولها فسألته السيدة &#8221; ماذا بك ياحبيبي &#8221; فقال لها &#8221; أصل بابا وماما قالوا عنك أنك انت بوجهين، وأنا لا أرى إلا وجه واحد وبألف لأبحث عن الوجه الثاني &#8221;<br />
أن هذه الأمور مخجلة وتنتقل إلى الأولاد بصوره بشعة وتجعلهم يشعروا بالكذب والرياء والمظاهر الكاذبة.<br />
مثال: (۳)<br />
سيدة تسأل الله ما الذي يعطل عمل النعمه في حياتها بينما هي تصلي وتصوم وتقرأ الكتاب المقدس. فأراد الله أن يعرفها السبب جاء بعض الناس لزيارتها فرحبت بهم. وصارت تعاتبهم على عدم زیارتها منذ زمن طويل، وألحت عليهم أن يلبثوا معها اليوم كله والأكل الموجود يكفي. ولم تسمح لهم بالخروج بشدة إلا أنهم إعتذروا عن ذلك وخرجوا.<br />
وحالما خرجوا قالت &#8221; أني أعجب كيف أن هؤلاء الناس لا يتورعون عن أن يزعجوني دائما ويضيعوا وقتی من حين لأخر وأنا مشغولة. وكان على الأقل ممكن أن يتحدثوا بالتليفون &#8221;<br />
وربخها الروح القدس لساعتها. وعرفت لماذا لم يستجب الله لصلواتها فقد كانت معتادة عدم الصدق الذي بلغ حد الكذب.<br />
وهيهات أن يحل روح الحق في قلب كهذا. ينبغي أن تكون نعمنا نعم ولانالا.<br />
والكذب ليس في بيوتنا وفي حياتنا الأجتماعية فقط، بل في أعمالنا أيضا.<br />
ثالثا: في أعمالنا:<br />
مثال: (4)<br />
أمين مدارس الأحد يقول: &#8221; لابد أن أكف عن تدریس مدارس الأحد إذ لا يمكنني أن أعلم شيئا في يوم الأحد، وأنا أعمل نقيضه في باقي أيام الأسبوع .<br />
لقد كان موظفا في معمل البان وكان صاحب المعمل يضطره أن يقول للناس إن الزبدة طازجة وهي ليست كذلك وان البيض صابح وهو ليس كذلك. فاستقال من عمله والرب عوضه خيراً.<br />
مثال: (٥)<br />
الأوكازيونات. فهي خداع إجتماعي - يكتب فيها التخفيض ٥٠ ٪ ولو كانت هذه النسبة صحيحة لأفلس المتجر. ولكنها أحيانا تكون بضاعة تالفة<br />
مثال: (٦)</p>
<p>موظف يعمل في محل أحذية يقول: &#8221; أني مضطر أن أقول الكذب لسيدة مقاس رجلها ٤٠ أو ٤٢ وأقرر لها أن المقاس ۳۲ او ۳۰ إذ لو أخبرت السيدة لطردت من المحل فوراً &#8221; كل هذا كذب ونفاق &#8220;.<br />
مثال: (۷)<br />
سكرتيرة تكتب ما يمليه عليها مدير الشركة وهي تعرف يقينا أن ما يقوله المدير كذب وليس فيه شيء من الصدق، وتقول إنها مضطره أن تساعد على نشر الكذب<br />
مثال: (۸)<br />
عاملة تليفون تقول ان مديرها غير موجود بينما تعلم أنه في الشركة.<br />
مثال: (٩)<br />
أب يقول لإبنه أن يرد على التليفون ويقول لأحد أصدقاءه أنه مش قاعد (ويقف) ليبرر الكلمة التي يقصد بها أنه غير موجود<br />
مثال: (۱۰)<br />
نظر أب من النافذة ووجد شخصا قادماً إليه فقال لابنه قل له إني غير موجود، فرد الرجل على الولد وقال &#8221; قل لأبيك عندما تخرج لا تترك رأسك في النافذة.<br />
مثل هذه الأمور مملوءة غش وكذب وعدم أمانة.<br />
مثال: (۱۱)<br />
قال خادم: أعرف شاباً ضحي بوظيفته لأنه عزم أن يلتزم جانب الصدق مهما كلفه ذلك كان عليه أن يحزم البضائع بطريقة معينة يستحيل على موظفي الجمارك أن يعثروا إلا على نصف العدد فتجيىء الضرائب على النصف فقط. وقال الشاب لمدير المصنع: &#8221; لا أستطيع أن أفعل ذلك لأنها طريقة غير أمينة وكاذبة&#8221;. قال له المدير &#8221; إذا كنت لا تستطيع ذلك فهناك غيرك يستطيعون وطرد من عمله. كانت النتيجة أن تقدم الشاب في حياته الروحية بخطوات واسعة وأستخدمه الله بقوة في خدمة جذب الشباب للمسيح. وفي حياته التجارية ساعده الله في تجارته الصغيرة التي نمت علی الصدق والأمانة، وكان شعاره &#8221; أطلبوا أولا ملكوت الله وبره وهذه كلها تزاد لكم &#8221; (مت ٦: ۳۳) .<br />
مثال: (۱۲)<br />
كاهن في زيارته لاحد السيدات قال إنها سيدة تقية فردت عليه أنها خاطئة ومسكينة. فأراد أن يمتحنها فقال لها &#8221; نعم أنت خاطئة لكن تقدرى تتوبي &#8221; فغضبت وردت عليه &#8220;من الذي إغتابني عندك وقال لك إني خاطئة قال لها &#8220;انت تقولين الصدق لماذا تغضبی&#8221;.<br />
مثال: (۱۳)<br />
&#8221; نردد في الترنيمة كل ما عندي لك ياربي &#8221; ومع ذلك حينما يمر علينا صندوق العطاء نبحث عن أصغر عملة في جيوبنا لنضعها في الصندوق. ان الكلام الذي نقوله في الترنيم ينبغي أن نقوله من قلبنا ونعني ما نقول. وإن كنت لا تنفذ ذلك حاول وجرب والرب يقويك لكن لا داعي لأن نكذب على الله في الصلاة.<br />
مثال: (١٤)<br />
في الصلاة نقول &#8221; إغفر لنا ذنوبنا، كما نغفر نحن أيضا للمذنبين إلينا &#8221; والحقيقة أننا لا نغفر لمن أذنب إلينا.<br />
كنت أعاتب سيدة على ما أظهرته من حقد وعدم غفران لصديقة لها. أجابتنى &#8220;سأسامحها، ولكن سأقطع كل صلة بها بعد الآن فقلت لها &#8221; وهل هذا هو الغفران الذي تريدين أن يعاملك الله به؟ أترغبين في أن الله يسامحك ثم لا يتعامل معك بعد ذلك؟<br />
مثال: (١٥)<br />
نذكر قصة الأنبا ابرآم الكبير. كان المجمع يدين راهباً أخطأ ولما وقفوا للصلاة قال &#8221; يارب ولا تغفر لنا ذنوبنا لأننا لا نغفر لمن أخطأ إلينا. قالوا له: ماذا تقول يا أبانا؟ فرد عليهم هذا هوما حدث، نحن أتينا لندينه بينما نحن ملآنين من الخطية. فالكلام الذي نصلی به نقوله فعلاً وننفذه فعلاً &#8221; وكان درسا قاسياً للمجمع، وصفحوا عن الراهب الذي أخطأ.</p>
<p>مثال: (١٦) أحد الأباء المختبرين سأله تلميذه. متى أمتلأت بروح الله؟ &#8221; فأجاب &#8221; عندما أمسكت عن الكذب على الله في صلاتي. &#8221; كم نقول للرب أننا نحبك يارب ونحن لا نعرف كيف نحبه أو نقول كما نغفر للمذنبين إلينا ونحن يمتلىء قلبنا بالحقد على من أساءوا إلينا لنهاية العمر. ينبغي أن نتعلم الصدق في الصلاه.<br />
لنا في المزمور ۳۲ بركة رباعية هامة إذ يقول:<br />
(١) طوبي للذي غفر إثمه<br />
(٢) وسترت خطيته<br />
(٣) طوبی لرجل لا يحسب له الرب خطية<br />
(٤) ولا في روحه غش<br />
فما هو المقصود بقوله &#8221; ولا في روحه عش &#8220;؟<br />
المقصود أنه خال من النفاق والبهتان. نقي وشفاف كالبلور. ويقول القديس بولس &#8221; لذلك اطرحوا عنكم الكذب وتكلموا بالصدق كل واحد مع قريبه &#8221;<br />
سألت سيدة رجل من رجال الله: &#8221; كيف أستطيع أن أتخلص من عادة المبالغة والتهويل<br />
&#8221; أجابها &#8221; يمكنك ياسيدتي أن تتخلصي من هذه العادة إذا ما كنت تسمينها بإسمها الصحيح فهي كذب يعني خطية. وتطلبي من الله ان يخلصك منها كما من ای خطية أخرى &#8220;.<br />
ذكر الواعظ عياد عياد مره دعته سيدة للغذاء، ويحتاج إلى بعض الملح، فطلب منها ملاحة فقالت &#8221; هاتي يابنت الملاحة عندنا ١٠٠ ملاحة &#8220;، أجابها قائلا &#8221; يصبح بيتك أكبر من فندق كبير فالفندق الكبير به أقل من هذا العدد &#8220;وأتضح أن بالبيت ملاحة واحدة .<br />
ان المبالغة في الأرقام كذب يراد به إظهار أهمية الموضوع أو صفات غير واقعية في أنفسنا حمانا الله من كل نوع من أنواع الكذب، نسأله أن يقوينا لنسلك بالحق لأنه هو الحق</p>
<p></p>
<p></p>
<h4>المتنيح القمص لوقا سيداروس</h4>
<p></p>
<p><strong>شفاء الأعمى والأخرس</strong></p>
<p><strong>(مت ١٢: ٢٢ – ٣٧)</strong></p>
<p><strong>بروح الله أخرج الشياطين</strong><br />
كما تهرب الظلمة وتتبدد أمام النور. هكذا مع الشيطان الروح النجس أمام روح القدوس. والروح النجس الذي سكن في الإنسان فإنه يفسده ويهلكه &#8230; قيل عن الرجل الذي كان به شياطين كثيرة. أنه كان يصيح ويقطع نفسه بالحجارة، وربط بسلاسل وقيود. ولكنه كان يقطع السلاسل ويسكن القبور. عندما يسكن الروح النجس في الإنسان، فإنه يعمل فيه لفساده وهلاكه &#8230; لأنه منذ البدء كان قتالا، وهوالمشتكى على جنسنا وعدوه. وهو عندما سكن داخل هذا الرجل تركه مجنوناً أعمى وأخرس &#8230; وهذا معناه أن الروح النجس تسلط على فكره وبصره ولسانه.</p>
<p><strong>مجنون</strong></p>
<p>الشيطان عندما يتسلط على الفكر يفسده عن طرق الله المستقيمة وعن التعقل والحكمة النازلة من فوق &#8230; يصير الإنسان مجنوناً &#8230; قد يقتحمه الشيطان بفكر العظمة فيصاب الإنسان بالجنون &#8230; ليفتكر في نفسه أنه شيء، وينسى أنه تراب ورماد، وينسى أنه بائس وفقير ومسكين، وإنه لا شيء ومزدرى وغير موجود.<br />
+ أصيب نبوخذ نصر بهذا الشيطان &#8230; شيطان العظمة فقال وهو في جنون العظمة: &#8221; أليست هذه بابل العظيمة التي بنيتها بقوتى وإقتدارى ذلك الصوت: &#8221; يطردونك من بين الناس ، ويبتل شعرك بندى السماء &#8220;.<br />
+ أصيب هيرودس الملك بجنون العظمة ولبس الحلة الملكية في يوم عيده ، صار يتكلم. فصاح الشعب: &#8221; هذا هو صوت الله لا إنسان &#8220;. فضربه ملاك الرب فدود ومات &#8230; كثيرون يصابون بجنون العظمة والكبرياء والأعتداد بالذات ويتكلمون على الكذب، ويفتكرون أنهم عقلاء. والحق أن من أراد أن يكون حكيماً فليصر جاهلاً.<br />
آخرون يصابون بجنون الشهوات. وجنون محبة العالم.<br />
آخرين يصابون بجنون العلم، والعقلانية، والفلسفات، والإلحاد.<br />
آخرون في جنون ينكرون السيد الوحيد القادر الذي له وحده عدم الموت.<br />
<strong>أعمى</strong><br />
هذا الرجل يختلف تماماً عن المولود أعمى &#8230; لأن هذه الولادات والأمراض الطبيعة والعيون الخلقية تحدث بقصد الله وتدبيره ولا دخل لإرادة الإنسان فيها. فكلها تؤول لمجد الله كما قال الرب: &#8221; لا هذا أخطأ ولا أبواه، لتظهر أعمال الله فيه &#8221; .<br />
أما هذا الإنسان فإن العمى هو نتيجة سكنى روح الظلمة فيه. لذلك عندما طرد الرب يسوع الشيطان منه بقوة الروح القدس، إستنارت عينيه مرة أخرى. &#8221; لأن النور يضئ في الظلمة والظلمة لم تدركه &#8221; .<br />
إن عيوننا التي استنارت بالمعمودية والبصيرة التي أعطاها لنا إبن الله هي أغلى ما نملك. فلنخف ياإخوة لئلا يدخل روح الظلمة إلينا ويطمس بصيرتنا.<br />
قال الرب للفريسيين: &#8221; لو كنتم عميان لما كان لكم خطية، ولكنكم لأنكم مبصرين فخطبتكم باقية.<br />
الذي يرى الحق أمامه ويغمض عينيه، أليس هذا شيء من العمى الروحى؟<br />
الذي يرى الطريق للحياة مع الله ويغمض عينيه عنها أليس هذا خطر كبير؟<br />
الذي ينظر أخاه محتاجاً ويغلق أحشاؤه عنه. أليس هذا أعمى ومسكين؟<br />
الذي لا يرى خطورة الخطية ونجاساتها ويهرب منها كما من أفعى سامة وخطر الموت، أليس هذا أعمى ومسكين؟<br />
الذي لا يرى خطاياه ونجاسات قلبه ويريح ضميره مثل الفريسى، وينظر إلى خطايا الآخرين ويحم عليهم، أليس هذا أعم قصير النظر قد نسى تطهير خطاياه؟ نحن غير ناظرين للأشياء التي ترى، بل إلى التي لا ترى. لأن التي ترى وقتية. أما التي لا ترى فأبدية. هذه هي البصيرة التي يجددها فينا الروحرالقدس كل يوم في التوبة. وفى الكنيسة. وفى الأسرار. فندرك الأشياء الموهوبة لنا من الله بحسب نعمتة وقوته.<br />
<strong>أخرس</strong><br />
الروح القدس يجدد خلقتنا ويحرر لساننا &#8230; يجعله ينطق من جديد كلمات جديدة وترنيمة جديدة. لقد حل الروح القدس على التلاميذ مثل ألسنة نار تنطق بشهادة يسوع المسيح بلا مانع وتتكلم بالحب لجميع الناس. وهذه الألسنة النارية إستقرت في الكنيسة، في كل أجيالها.<br />
الروح القدس نطق بفم بطرس الرسول كلمات فيها قوة خلاص وشهادة لقيامة المسيح من الأموات.<br />
الروح القدس تكلم في الرسولين بطرس ويوحنا وهما إنسانان عديما العلم وعاميان، بكلمات مملوءة نعمة لم يستطيع رؤساء الكهنة أن يسكناها.</p>
<p>الروح القدس تكلم بفهم إسطفانوس بحكمة لم يستطع جميع المعاندين أن يقاوموها أو يناقضوها.<br />
الروح القدس أعطى القديس القديس بولس الرسول كلمة كرازة عند إفتتاح الفم فنطق بأسرار الروح وسر الكنيسة وسر المسيح.<br />
بدون الروح القديس سيظل الإنسان أخرس واللسان عاجز عن النطق ، حتى لو قال ملايين الكلمات .<br />
التجديف على الروح القدس<br />
جماعة الفريسيين رفضوا مشورة الله من قبل أنفسهم. رفضوا عمل الروح الله ولم يقبلوه. فصار هذا تجديفاً إنتهى بهم إلى الهلاك. ونحن البوم يريد الروح أن يعمل فينا. يريد أن يحرر فكرنا وينير بصيرتنا ويطلق ألسنتا. فهل نذعن لمشورتة؟ وهل نسلم نفوسنا طوع إرادته ليعمل فينا مسرته؟ !<br />
+ الروح القدس يريد كل يوم أن يطرد عنا كل ظلمة ، وكل فكر قلة الإيمان. ويريد أن يستخدم فكرنا ولساننا وعيننا &#8230; يريدنا آلات بر الله وآلات بركة &#8230; ألا يكفينا زماناً طويلاً دفنا فيه وزناتنا. وصرنا مثل أخرس وأعمى ومجنون بلا قوة وبلا قدرة وبلا فاعلية من جهة الإيمان والحياة مع الله.<br />
+ اليوم فرصتنا أن نسلم أنفسنا ونقدم أحباءنا بالصلاة والتوسل عند قدمى الرب يسوع ليطرد عنا بقوة روحة القدوس كل أرواح العدو المقاوم ويستخدم ضعفنا لمجده .</p>
<p></p>
<p></p>
<h4>المتنيح القمص تادرس البراموسي</h4>
<p></p>
<p><strong>كل مملكة منقسمة على ذاتها تخرب (لو ١٢: ٢٢ – ٣٧)</strong></p>
<p>قدموا للرب يسوع إنسان مريض مثلث العاهات مجنون وأعمى وأخرس فشفاه لأنه لم يكن يعثر عليه شيء لكن هذا الكلام لم يعجب الكتبة والفريسيين الذين كل مرة يصنع فيها معجزة يهيجون الجموع ويحتجون بشدة كأنه أخطأ خطية تستحق الموت لكن الرب يسوع بما إنه يصنع لخير البشر فلم يهمه هذه الزوبعة التي كان يصنعها هؤلاء الناس الذين تخصصوا في التزمت ومعارضة عمل الخير. بالرغم من أن كل المرضى الذين شفاهم السيد المسيح كان مصدر المرض هو الشيطان وبالرغم من ذلك كانوا يتهموا الرب يسوع إنه يعمل معجزاته بقوة الشيطان هذا الإنسان الذي شفاه الرب يسوع. كان. مجنوناً ويقصد بكلمة مجنون أن المرض الذي أصابه كان مصدره الشيطان فأنه سد الحاستين اللتين ينظر بأحدهما نور الإيمان ويسمع بالأخرى كلمة الخلاص والتعليم الإلهى لأن قبول الإيمان. يكون بواسطة النظر أو السمع أما الرب فصنع آية مضاعفة طرد الشيطان وشفى النظر والسمع. تعجب الجمع لأنه لم يكن يعلم عن السيد المسيح سوى أنه أبن داود وكان يحهل أنه أبن الله بالطبيعة. وقد صار أنساناً لأجلنا. أن الفريسيين عندما رأوا المعجزات التي صنعها الرب يسوع. وكانوا يحسدونه على عمل الخير وبدلاً من أن يقلدوه يحاربونه. اتهموه أنه ببعلزبول يخرج الشياطين. لأن رئيس الشياطين كان يدعى بهذا الاسم. عرف الرب بأفكارهم فلم يرد أن يكشف عن ما في قلوبهم لكنه وبخهم وضرب لهم مثلاً خارجاً عن الكتب لأنه لم يكونوا يفسرون الكتب تفسيراً صحيحاً. ولما قالوا عنه إنه ببعلزبول لم يزجرهم، بل أراد أن يعرفهم عن نفسه وإنه قادر على كل شيء وعالم بكل ما في قلوبهم فلما رآهم مصرين على شرهم أراد أن يوبخهم فضرب لهم مثلاً قائلاً أن كل مملكة منقسمة على ذاتها تخرب لأن الأعداء من الخارج لا يستطيعون أن يلحقوا الخراب الذى نلحقه النزاع والانقسام الذى يحدث من الداخل وهكذا قال عن المدينة والبيت ولنا مثال. الكنيسة المسيحية لما اشتدت عليها الحروب الخارجية من الملوك الوثنيين لم تهتز وقدمت ملايين الشهداء في سبيل الحفاظ على الإيمان وبدماء الشهداء ازدادت الكنيسة قوة وامتدت إلى أقطار العالم وكانت دماء الشهداء أساساً وبنياناً للكنيسة الواحدة. لكن لما دبت الخلافات الداخلية وازدادت الهرطقات والبدع. انشقت الكنيسة شرقية وغربية وأصبح العداء مستحكم بين الكنائس. وكثرت الطوائف والانقسامات أراد الرب يسوع أن يقول الفريسيين ليس أنا رئيس الشياطين، بل أنتم لأنكم لا تحبون الخير، بل تسعون إلى الشر. لأنه لو كنت أنا أخرج الشياطين بقوة الشيطان فأبنائكم بمن يخرجون من أجل هذا هم يكونون قضاتكم. ويقصد بأبنائكم التلاميذ والمؤمنين به وأن كنت أنا بروح الله أخرج الشياطين فقد اقترب منكم ملكوت الله ويقصد به الروح القدس الذي من جوهر الله والمساوى للأب والأبن في الجوهر والربوبية</p>
<p></p>
<p><strong>العظة الأولى</strong></p>
<p>أ – مجنون أعمى وأخرس يمثل الخاطئ<br />
ب – اندهاش وأعجاب وشفاء<br />
ج – العثرات وأحداث الشبهات<br />
د – الانقسامات والخرافات والويلات<br />
ه - دخول الشيطان وأمتلاك الأبدان<br />
و – رفض الأصول والتمسك بالقشور<br />
ذ – مواجهة الشيطان بالصوم والإيمان<br />
ح – نتمسك بالله ونحارب الأهواء<br />
ط – التجديف على الروح القدس وإهانة الله<br />
ى – أن تمسكنا بالرجاء وننال الرضاء<br />
ك – من الثمرة تعرف الشجرة فالنجتهد<br />
ل – تكريس الحياة طوق النجاة<br />
م – قلوبنا كنوز كيف نستعملها<br />
ن – يوم الدينونة والاعمال المصونة<br />
س – التوبة سلم الرجاء ومغفرة الخطايا</p>
<p></p>
<p><strong>العظة التانية</strong></p>
<p>أ – مريض مثلث العاهات وأله مانح الهبات<br />
ب – بشر يكيلون الاتهامات وأله يوزع البركات<br />
ج -الأفكار الردية والحرمان من الأبدية<br />
د – شر الإنسان وشماتة الشيطان<br />
ه - ظهور الحقائق وحصن الدسائس<br />
و – القوى بقوته والعاقل بحكمته<br />
ذ – القوة في الجمع والضعف في التفرقة</p>
<p>ح – خطية التجديف. عقابها أمر مخيف<br />
ط – الكنز الحقيقى هو عمل الله في الإنسان<br />
ى – من الأعمال تنكشف الأعماق<br />
ك – الحرص في الكلام يرفع عنك الملام<br />
ل – من حكم نفسه. أشترى أحبابه<br />
م – الحكمة تبنى البيت والجهل يهدمه<br />
ن – بالمحبة تجتمع النفوس والبغضة تفرقها</p>
<p></p>
<p><strong>العظة الثالثة</strong></p>
<p>أ – حاجة الفقير وقفل الأحشاء<br />
ب – لا ننظر إلى المنتقدين وننسى وصية الله<br />
ج – ما أكثر المماطلين في أمر الخلاص فأحترس<br />
د – لا تيأس وقت الانقسامات، بل صلى إلى الله لكي يبددها<br />
ه - صوت الله ينادى فلا تتوانى<br />
و – كن مع الله فيكون معك حتى يوم اللقاء<br />
ذ – لا تعود لسانك على التجديف حتى في وقت المزاح<br />
ح – ليكن ثمرك جيد ليعرف الجميع أنك أبن الله<br />
ط – لا تدنس قلبك بالأفكار فينقلب عليك الشيطان<br />
ى – كن صالحاً في كل أمورك لكي ترضى من جندك<br />
ك – كن قليل الكلام لتنجو من المعصية<br />
ل – الحكمة في السكوت والجهل في كثرة الكلام<br />
م – الجهاد في السمو. والسمو في الجهاد<br />
ن – من ليس معنا فهو علينا ولنراقب الطريق</p>
<p></p>
<p></p>
<h3>من وحي قراءات اليوم</h3>
<p></p>
<p>إنتصر الرب علي إبليس في التجارب الثلاث بالكلمة الإلهية (مكتوب.. مكتوب.. مكتوب)<br />
كيف نسمي أنفسنا خدام الكلمة إن لم تكن هي حياتنا!!<br />
قدر إرتباطنا بكلمته قدر قوتنا ونصرتنا<br />
فتشوا الكتب عتاب الرب لمسيحيي هذا الزمان<br />
يدرس البعض سنوات لأجل العلم والشهادة بينما يستثقل بضع إصحاحات في الكتاب<br />
منذ الطفولية تعرف الكتب المقدسة تشير إلي أثمن مانسلمه للطفل<br />
الكلمة الإلهية ليست لبناء العقل بمعلومات، بل لسكب حياة وغني إلهي<br />
كنيستنا كتابية إنجيلية مغموس طقسها بروح الكتاب ومملوءة ليتورجياتها بمجد الكلمة<br />
الذي أرسله الله يتكلم بكلام الله يعلن خطورة إرساليتنا وعظم قدرها ومسؤوليتها<br />
متي يأتي الوقت الذي نسمع فيه عن بكالوريوس كتاب مقدس وماجستير كتاب مقدس؟!</p>
<p></p>
<p></p>

      {% endcreateArticleAccordions %}
    </section>
  {% endblock %}
  