---
layout: 'layouts/reading.html'
title: 'الأحد الرابع من بؤونة'
tags: 'sundays'
permalink: /articles/sundays/10-4.html
---
  {% block content %}
    <section id="readings">
      <ul>
      {% if 'undefined' != 'undefined' %}
      
      {% else %}
      {% if '19.84:8,4' != 'null' %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">العشية</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeVespers '19.84:8,4' '40.5:34-48' %}
          </div>
        </div>
      </li>
      {% endif %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">باكر</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeMatins '19.61:5-8' '43.20:1-18' '' %}
          </div>
        </div>
      </li>
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <h3 class="flex items-center justify-between">
            <span class="kufi">القداس</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </h3>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeLitugy '51.4:2-18' '59.5:9-20' '44.18:1-11' '19.69:32,33,30' '42.6:27-38' %}
          </div>
        </div>
      </li>

      {% endif %}
        </ul>
    </section>
    <section id="article">
      <h3 class="mt-8 mb-4 heading-explain">شرح القراءات</h3>
      {% createArticleAccordions %}
        <p>&#8221; لأن رجلا لا عيب فيه بادر لحمايتهم فبرز بسلاح خدمته الذي هو الصلاة والتكفير بالبخور وقاوم الغضب وأزال النازلة فتبين أنه خادمك &#8221; (حك ١٨: ٢١)</p>
<p>&#8221; أنت الذي وضعنا حياتنا عندك يارب ، أيها الرب الذي يملأ الكل احفظنا في كلَّ موضع نحضر فيه</p>
<p>والخشوع الذي صار لنا بالصلاة وطيب القلب في العمر المستقيم احفظهما لنا بلا سارق ولا ندم &#8221;</p>
<p>صلاة خضوع بعد التناول ليوحنا المثلث الطوبي (القدَّاس الكيرلسي)</p>
<p>&#8221; ليس شيء يجعلنا مساوين لله سِوى فعل الصلاح (الرحمة) …المحبَّة (الرحمة) كما لو كانت أسمى أنواع الصناعة، وحامية لمن يمارسها. إنها عزيزة عند الله، تقف دائمًا بجواره تسأله من أجل الذين يريدونها، إن مارسناها بطريقة غير خاطئة&#8230;!</p>
<p>إنها تشفع حتى في الذين يبغضون، عظيم هو سلطانها حتى بالنسبة للذين يُخطئون!</p>
<p>إنها تحل القيود، وتبدِّد الظلمة وتُطفئ النار، وتقتل الدود، وتنزع صرير الأسنان.</p>
<p>تنفتح أمامها أبواب السماوات بضمانٍ عظيمٍ، وكملكة تدخل ولا يجسر أحد الحُجَّاب عند الأبواب أن يسألها من هي، بل الكل يستقبلها في الحال.</p>
<p>هكذا أيضًا حال الرحمة، فإنَّها بالحق هي ملكة حقيقيّة، تجعل البشر كالله. أنها مجنحة وخفيفة لها أجنحة ذهبيّة تطير بها تبهج الملائكة جدًا &#8221; القديس يوحنا ذهبي الفم - تفسير إنجيل لوقا الإصحاح السادس - القمص تادرس يعقوب ملطي</p>
<h4>شواهد القراءات</h4>
<p>(مز ٨٣: ٥،٩)، (مت ٥: ٣٤-٤٨) ، (مز ٦٠ : ٧،٤) ، (يو ٢٠ : ١-١٨) ، (كو ٤ : ٢-١٨) ، (يع ٥ : ٩-٢٠) ، (أع ١٨ : ١-١١) ،  (مز ٦٨ : ٢٥،٢٧،٢٦) ، (لو ٦ : ٢٧-٣٨)</p>
<h4>ملاحظات على قراءات اليوم</h4>
<p>قراءة البولس اليوم (كو ٤: ٢ - ١٨) تكرَّرت في قراءة يوم ٢٢ بابه (تذكار لوقا الإنجيلي)</p>
<p>مجيئها اليوم للإشارة فيها إلى إلي الصلاة الدائمة &#8221; كونوا مواظبين على الصلاة، ساهرين فيها بالشكر &#8221;</p>
<p>ومجيئها يوم ٢٢ بابه لأجل &#8221; يسلم عليكم لوقا الطبيب الحبيب &#8221; لأجل تذكار القديس لوقا الإنجيلي</p>
<p>قراءة الكاثوليكون لهذا اليوم (يع ٥: ٩ - ٢٠) تكرَّرت ثلاث مرات (٢ توت، ٢٢ طوبه، ١٦ بؤونه)</p>
<p>بالإضافة إلى مجئ جزء منها في قراءات يوم ٢٥ مسري (يع ٥: ٩ - ١٢)، يوم ٦ نسئ (يع ٥: ١٦ - ٢٠)</p>
<p>مجئ القراءة اليوم للإشارة إلى فاعلية الصلاة والرحمة بالآخرين</p>
<p>ومجئ القراءة يوم ٢ توت ليُشير إلى &#8221; الأنبياء الذين تكلموا بإسم الرب &#8221;</p>
<p>ومجيئها في يوم ٢٢ طوبه (الأنبا أنطونيوس)، ١٦ بؤونه (أبا نوفر السائح ) للإشارة إلي &#8221; وصلاة البار فيها قوة عظيمة فعالة &#8221;</p>
<p>ورُبَّما مجيئها في يوم ٢٥ مسري (أنبا بيصاريون الكبير) إشارة إلي&#8221; خذوا لكم يا إخوتي مثال إحتمال المشقات &#8221;</p>
<p>ومجئ جزء منها يوم ٦ نسئ للإشارة إلي رقم ٦ (ثلاث سنين وستة أشهر) موضوع قراءات ذلك اليوم والذي يشير إلي نقص البشر وكمالات المسيح (وهو المشروح بتفصيل في قراءة ذلك اليوم)</p>
<p>+ مزمور قدَّاس اليوم (مزمور ٦٠: ٢ ، ٤) تكرَّرت آية أربعة أيضاً &#8221; أنت يا الله استمعت إلي صلواتي ، أعطيت ميراثاً للذين يرهبون اسمك &#8221; في مزمور قدَّاس الأحد الثالث من بؤونه ، ومزمور باكر الأحد الرابع من بؤونه ، والإشارة في هاتين الأحدين لعطية الميراث السماوي لنا في المسيح ، في الأحد الثالث من خلال كلمته ، وفي الأحد الرابع من خلال الصلاة الدائمة والرحمة</p>
<h4>شرح القراءات</h4>
<p>يختم هذا الشهر بأعظم وسيلتين لملء الروح وفيضه وغناه وهما الصلاة والمحبة</p>
<p>تبدأ المزامير بالصلاة لإله القدرة والقوّة (مزمور عشيّة) وإستجابة الله (مزمور باكر) وطبيعة من يصرخون في الصلاة (مزمور القدَّاس)</p>
<p>يبدأ مزمور عشية بالنفس الملتجئة إلي إله يعقوب - الصراع حتي الفجر لأجل البركة - وتطويب العبادة الكنسية والتسبيح (أيها الرب إله القوات استمع إلي صلاتي أنصت ياإله يعقوب طوبي لكل السكان في بيتك يباركونك إلي أبد الأبد)</p>
<p>وتسبح النفس الله في مزمور باكر لأنه إستجاب صلاتها، بل وأعطاها ميراثا (أنت ياالله استمعت إلى صلواتي أعطيت ميراثا للذين يرهبون اسمك لذلك أرتل لاسمك إلى دهر الدهور)</p>
<p>لذلك تدعو النفس آخرين وتعلن لهم خبرتها مع الله واستجابته للصلاة كما يوضِّح طبيعة من يصرخون - البائسين - أي الذين يشعرون باحتياجهم الشديد لله (اطلبوا الله لتحيا نفسكم لأن الرب قد استجاب للبائسين أسبح اسم الآب بالتمجيد)</p>
<p>كما يرسم إنجيل عشية طريق الكمال من الميل الثاني والصلاة لأجل الكل حتى الأعداء (وأما أنا فأقول لكم: لاتقاوموا الشر، بل من لطمك علي خَدَّك الأيمن فحول له الآخر أيضا ومن أراد أن يحاكمك ويأخذ ثوبك فاترك له الرداء أيضا ومن سخرك ميلا واحدا فامش معه اثنين &#8230;.. باركوا لاعنيكم وصلوا لأجل الذين يطردونكم لكي تصيروا أبناء أبيكم الذي في السماوات &#8230;. فكونوا إذا أنتم كاملين كما أن أباكم الذي في السماوات هو كامل)</p>
<p>تتكلّم القراءات عن السهر في الصلاة (البولس)، وشركة الصلاة والغفران (الكاثوليكون ) ، ودعم السماء لأبنائها ( الإبركسيس )</p>
<p>يدعو البولس الكل للسهر والصلاة (كونوا مواظبين على الصلاة ساهرين فيها بالشكر) ويطلب القديس بولس من المؤمنين صلاتهم لأجل خدمته وكرازته (مصلين في ذلك لأجلنا نحن أيضا لكي يفتح الله لنا بابا للكلام لنتكلم بسر المسيح)، كما يشير القديس بولس إلي جهاد الصلاة، وخادم الصلاة أبفراس لأجل إدراك الكل مشيئة الله وثباتهم فيها (يسلم عليكم أبفراس الذي هو منكم عبد للمسيح يسوع هذا الذي يجاهد كل حين لأجلكم بصلواته لكي تثبتوا كاملين وممتلئين في مشيئة الله)</p>
<p>أما الكاثوليكون فيحذرنا من أنينا على بَعضُنَا البعض، ويعطي نموذجين من أنبياء العهد القديم، نموذج الإحتمال والصبر (أيوب)، ونموذج الصلاة بإيمان (إيليا)، كما يشير إلى الصلاة الليتورجية التي تعطي شفاء الروح &#8221; الغفران &#8221; مع شفاء الجسد (لايئن بعضكم على بعض يا إخوتي لئلا تدانوا هوذا الديان واقف على الأبواب خذوا لكم يا إخوتي مثالا لاحتمال المشقات والأناة الأنبياء الذين تكلموا باسم الرب هانحن نطوب الذين صبروا لأنكم سمعتم بصبر أيوب ورأيتم عاقبة الرب &#8230;.. وإن كان واحد منكم مريضا فليدع كهنة الكنيسة وليصلوا عليه ويدهنوه بزيت باسم الرب وصلاة الإيمان تخلص المريض والرب يقيمه وإن كان قد فعل خطايا تغفر له &#8230;.. وصلوا بعضكم لأجل بعض لكي تشفوا وصلاة البار لها قوة عظيمة فعالة كان إيليا إنسانا تحت الآلام مثلنا وصلي صلاة أن لاتمطر السماء فلم تمطر على الأرض ثلاث سنين وستة أشهر وصلي أيضا فأعطت السماء المطر وأنبتت الأرض ثمرها)</p>
<p>لكن يوضح الإبركسيس أنه برغم وصية المحبة للكل يستبرئ الخادم والكارز نفسه من مقاومي الكلمة والمجدفين عليها (كان بولس يداوم على الكلام وهو يشهد لليهود أن المسيح هو يسوع وإذ كانوا يقاومونه ويجدفون نفض ثيابه وقال لهم: دمكم على رأسكم أنا برئ من الآن أنطلق إلى الوثنيين)</p>
<p>كما يعلن دعم الله لكارزيه في صلاتهم ومخدعهم في الليل (فقال الرب لبولس برؤيا في الليل: لاتخف بل تكلم ولاتسكت لأَنِّي أنا معك ولايقوم عليك أحد ليؤذيك لأن اي شعبا كثيرا في هذه المدينة فأقام سنة وستة أشهر يعلم بينهم بكلمة الله)</p>
<p>ويختم إنجيل القداس بما جاء في إنجيل باكر من الصلاة لأجل الكل، ومحبة الكل لكن يضيف عليها وصية الرب أن يكون لنا أحشاء الرحمة ويحذرنا من أن مانفعله مع الآخرين سيفعله الله معنا وسيرحمنا الله إذا كنّا كذلك مع الآخرين</p>
<p>(فكونوا رحماء كما أن أباكم أيضا رحيم ، ولاتدينوا فلا تدانوا ، لاتقضوا علي أحد فلا يحكم عليكم ، إغفروا يغفر لكم ، أعطوا تعطوا ، كيلا جيدا ملبدا مهزوزا فائضا يعطون في أحضانكم ، لأنه بالكيل الذي تكيلون يكال لكم)</p>
<p>+ معني &#8221; كيلاً جيداً ملبداً مهزوزاً فائضاً يعطون في أحضانكم &#8221;</p>
<p>إختار الرب كلمات من الحياة اليومية تشرح غني المحبَّة الإلهية، فكما هو معروف في الأسواق العامَّة قديماً عندما يريد شخص شراء كيلاً من الذرة أو الفريك … إلخ، وتريد البائعة إكرامه فتعطيه أجود ما عندها ( كيلاً جيداً ) ، ثم تضغط عليه بكفتي يديها ( ملبداً ) ، وتهز أطراف الوعاء لتضع فيه أكثر وأكثر ( مهزوزاً ) ، وإذا بلغ قِمَّته تضع ذراعيها الإثنتين ليفيض الوعاء بأكثر ممَّا يُمْكِن أن يأخذ ( تعطون في أحضانكم ) ، وهو تشبيه لما يعيشه الناس يومياً في مباشراتهم ومتاجرهم فيدركوا غني الحب الإلهي</p>
<h4>ملخّص القراءات</h4>
<p>الصلاة هي خبرة النفس مع الله تريد مشاركتها مع الآخرين                           (مزمور عشية وباكر والقداس)</p>
<p>والصلاة بإيمان مع المحبة للكل علامة بنوتنا للآب                                            (إنجيل عشية والقداس)</p>
<p>كما أنها تفتح أبواب السماء                                                                               (الكاثوليكون )</p>
<p>والصلاة في الخدمة تتطلب السهر والمواظبة والجهاد لأجل إدراك الكل قصد الله                      (البولس )</p>
<p>لكن ليس الكل يقبل المحبة والخدمة                                                                      (الإبركسيس )</p>
<p>قدر مانرحم الآخرين تشملنا مراحم الله                                                                   ( إنجيل القداس)</p>
<h4>الكنيسة في قراءات اليوم</h4>
<p>جهاد الصلاة                                                    إنجيل عشيّة والقدّاس والبولس والكاثوليكون</p>
<p>سر مسحة المرضي وسرّ الكهنوت                           الكاثوليكون</p>
<p>الإيمان والمعمودية                                               الإبركسيس</p>
<p>من وحي انجيل الغفران</p>
<h4>أفكار مقترحة لعظات</h4>
<p><strong>(١) الصلاة</strong></p>
<p>١- المواظبة على الصلاة والسهر فيها</p>
<p>&#8221; كونوا مواظبين علي الصلاة ساهرين فيها بالشكر &#8221;   البولس</p>
<p>٢- صلاة الكنيسة لأجل المرضي</p>
<p>&#8221; وإن كان واحد منكم مريضاً فليدع كهنة الكنيسة وليصلوا عليه ويدهنوه بزيت باسم الرب وصلاة الإيمان تخلِّص المريض والرب يقيمه &#8221;      الكاثوليكون</p>
<p>٣- خدَّام الصلاة المُكرَّسون لأجلها ولأجل بنيان الآخرين</p>
<p>&#8221; يسلِّم عليكم أبفراس الذي هو منكم عبد للمسيح يسوع هذا الذي يجاهد كل حين لأجلكم بصلواته لكي تثبتوا كاملين وممتلئين في مشيئة الله &#8221;     البولس</p>
<p>٤- الصلاة من أجل المُتكلِّمين وخدَّام الكلمة</p>
<p>&#8221; مُصلِّين في ذلك لأجلنا نحن أيضاً لكي يفتح الله لنا باباً للكلام لنتكلم بسر المسيح &#8221;     البولس</p>
<p>٥- قوّة وفاعلية الصلاة لأجل الآخرين برغم ضعفنا البشري وأننا تحت الآلام</p>
<p>&#8221; وصلُّوا بعضكم لأجل بعض لكي تُشفوا وصلاة البار لها قوة عظيمة فعالة كان إيليا إنساناً تحت الآلام مثلنا وصلَّي صلاة أن لا تُمطر السماء فلم تمطر علي الأرض ثلاث سنين وستة أشهر &#8221;    الكاثوليكون</p>
<p>٦- الصلاة المُستجابة هي صلواتنا في بيت الله (مزمور عشيّة) وعندما نحيا في مخافته ( مزمور باكر ) وفِي إدراكنا لإحتياجنا الشديد إليه - البائسين - وأيضاً في تسبيحنا ( مزمور القدَّاس )</p>
<p>&#8221; أيها الرب إله القوات استمع إلي صلاتي .. طوبي لكلِّ السكان في بيتك &#8230; أنت يا الله استمعت إلي صلواتي أعطيت ميراثاً للذين يرهبون اسمك &#8230; لأن الرب قد استجاب للبائسين &#8221; مزمور عشيّة وباكر والقدّاس</p>
<p>٧- الصلاة من أجل الأعداء والمُسيئين هي علامة بنوّتنا للآب وسلوكنا في طريق الكمال</p>
<p>&#8221; وصلوا لأجل الذين يطردونكم لكي تصيروا أبناء أبيكم الذي في السموات &#8230;. فكونوا أنتم كاملين كما أن أباكم الذي في السماوات هو كامل &#8230; صلوا لأجل الذين يضطهدونكم &#8221;     إنجيل عشيّة وإنجيل القدَّاس</p>
<p><strong>(٢) العطاء</strong></p>
<p>١- عطاء أهل العالم ومنهج العالم</p>
<p>&#8221; وإن أحببتم الذين يحبونكم، فأي فضل لكم؟ فإن الخطاة أيضا يحبون الذين يحبونهم وإذا أحسنتم إلى الذين يحسنون إليكم، فأي فضل لكم؟ فإن الخطاة أيضا يفعلون هكذا &#8221; (لو ٦: ٣٣،٣٢)</p>
<p>العطاء هنا جوهره الأخذ والعطاء بنفس المستوي</p>
<p>٢- عطاء الكمال المسيحي</p>
<p>&#8221; وأحسنوا وأقرضوا وأنتم لا ترجون شيئا &#8221; (لو ٦: ٣٥)</p>
<p>هنا العطاء حياة ورسالة نابع من نفس لا تشتهي شيئاً ولا ترجو شيئاً</p>
<p>٣- قدوتنا ومثالنا في العطاء</p>
<p>&#8221; فيكون أجركم عظيما وتكونوا بني العلي، فإنه منعم على غير الشاكرين والأشرار &#8221; (لو ٦: ٣٥)</p>
<p>فعطاء الله يشمل كل البشر وإشراقة شمسه وأمطار خيره تحتضن كل الخليقة (مت ٤٥:٥)</p>
<p>٤- مجد عطاؤه لنا وفيض غناه وتعويضاته</p>
<p>&#8221; أعطوا تعطوا، كيلا جيدا ملبدا مهزوزا فائضا يعطون في أحضانكم. لأنه بنفس الكيل الذي به تكيلون يكال لكم &#8221; (لو ٦: ٣٨)</p>
<p>إذا أردت أن تشتري كيلة ذرة في الريف المصري خاصة في الصعيد تجد البائعة تضع الذرة الجيدة (كيلاً جيداً) في الوعاء وتضغط عليه بيدها أي تدُكّه بيدها ( ملبداً ) ثم تهز الوعاء مرة وإثنتان ليستوعب ذرة أكثر إكراماً للمُشتري ( مهزوزاً ) وفِي النهاية تضع يداها الإثنتان حول الوعاء كأنها تحتضنه ليستوعب المزيد ( تعطون في أحضانكم ) وهكذا تُعطي المشتري الكثير جداً قدر ما تستطيع وربما أعطي الرب هذا المثل ليشير لفيض غني الآب في تعويضه لأولاده الذين يعيشون حياة العطاء</p>
<p><strong>(٣) الرحمة</strong></p>
<p>١- فاعلية الرحمة</p>
<p>&#8221; لأن الصدقة تنجي من الموت وتمحو الخطايا وتؤهل الإنسان لنوال الرحمة والحياة الأبدية &#8221; (طو ١٢: ٩)</p>
<p>لذلك أيها الملك، فلتكن مشورتي مقبولة لديك، وفارق خطاياك بالبر وآثامك بالرحمة للمساكين، لعله يطال اطمئنانك» (دا ٤: ٢٧)</p>
<p>٢- باب الرحمة الإتكال علي الرب</p>
<p>كثيرة هي نكبات الشرير، أما المتوكل على الرب فالرحمة تحيط به &#8221; (مز ٣٢: ١٠)              &#8221;</p>
<p>٣- عِظَمْ مراحم الله</p>
<p>الذي يفدي من الحفرة حياتك. الذي يكللك بالرحمة والرأفة</p>
<p>(مز ١٠٣: ٤)</p>
<p>&#8221; تراءى لي الرب من بعيد: «ومحبة أبدية أحببتك، من أجل ذلك أدمت لك الرحمة &#8221; (أر ٣١: ٣)</p>
<p>&#8221; الله الذي هو غني في الرحمة، من أجل محبته الكثيرة التي أحبنا بها &#8221; (أف ٢: ٤)</p>
<p>٤- الرحمة للوالدين والشيوخ</p>
<p>وإن ضعف عقله فاعذر، ولا تهنه وأنت في وفور قوتك، فإن الرحمة للوالد لا تنسي &#8221;</p>
<p>(يش بن سيراخ ٣: ١٥)</p>
<p>٥- بين الرحمة والعدل والدينونة</p>
<p>&#8221; كما أنه كثير الرحمة، هكذا هو شديد العقاب؛ فيقضي على الرجل بحسب أعماله &#8221; (يش بن سيراخ ١٦: ١٣)</p>
<p>&#8221; لأن الحكم هو بلا رحمة لمن لم يعمل رحمة، والرحمة تفتخر على الحكم &#8221; (يع ٢: ١٣)</p>
<p>٦- الرحمة هي جوهر الوصيّة والرعاية</p>
<p>&#8221; ويل لكم أيها الكتبة والفريسيون المراؤون! لأنكم تعشرون النعنع والشبث والكمون، وتركتم أثقل الناموس: الحق والرحمة والإيمان. كان ينبغي أن تعملوا هذه ولا تتركوا تلك &#8221; (مت ٢٣: ٢٣)</p>
<p>٧- حدود الرحمة (لكل البشر)</p>
<p>فقال: «الذي صنع معه الرحمة». فقال له يسوع: «اذهب أنت أيضا واصنع هكذا» (لو ١٠: ٣٧)</p>
<h3>عظات آبائية</h3>
<h4>القديس كيرلس الأسكندري</h4>
<p><strong>الرحمة ومحبة الأعداء وعدم الإدانة</strong></p>
<p>(لو ٦: ۲۷، ۲۸) لكني اقول لكم أيها السامعون: احبوا اعدائكم، أحسنوا إلى مبعضيكم ، باركوا لأعنيكم ، وصلوا لأجل الذين يسيئون إليكم &#8220;.</p>
<p>إن بولس المبارك ينطق بالحق حينما يقول: &#8221; ان كان أحد في المسيح فهو خليقة جديدة (٢كو٥: ۱۷)، لأن كل الأشياء قد صارت جديدة فيه وبواسطته، كل الأشياء أي العهد، والناموس وطريقة الحياة. ولكن انظروا بدقة ولاحظوا كيف أن طريقة الحياة الموصوفة هنا تليق بصورة شاملة بأولئك المعلمين القديسين، الذين كانوا عتيدين أن يكرزوا برسالة الخلاص في كل أركان العالم، ومع ذلك فبسبب هذا الأمر نفسه (أي الكرازة)، ينبغي أن يتوقعوا أن مضطهديهم سيكونون كثيرين وأنهم سيتآمرون ضدهم بطرق مختلفة كثيرة . فلو كانت النتيجة إذا أن التلاميذ قد صاروا ناقمين على هذه المضايقات وكانوا يرغبون في الانتقام من أولئك الذين أزعجوهم، لكانوا قد ظلوا صامتين وعبروا بهم دون أن يقدموا لهم الرسالة الإلهية، ولا أن يدعوهم إلى معرفة الحق. لذلك فقد كان ضروريا أن يشد ذهن المعلمين القديسين بإحساس عال من واجب الصبر، لكي يجعلهم يحتملوا كل ما يمكن أن يحل بهم، حتى لو شتمهم الناس وتأمروا ضدهم بلا مخافة. وهكذا كان سلوك المسيح نفسه قبل كل الآخرين، وذلك كمثال لنا، لأنه بينما كان لا يزال معلقا على الصليب الثمين، وبينما كان الشعب اليهودي يهزأون به، فإنه قدم لله الآب صلوات من اجلهم قائلا: &#8221; اغفر لهم لأنهم لا يعلمون ماذا يفعلون &#8221; (لو ۲۳: ٣٤). وايضا استفانوس المبارك بينما كان يرجم بالحجارة، جثا على ركبتيه قائلا: &#8221; یا رب لا تقم لهم هذه الخطية (أع ٧: ٦٠). وبولس المبارك أيضا يقول &#8221; نشتم فنبارك، يفترى علينا فنعظ&#8221; (اكو ٤: ١٢) .</p>
<p>لذلك فإن تعليم الرب كان ضروريا للرسل القديسين، ونافعا جدا لنا نحن أيضا لكي يلزمنا أن نعيش بطريقة صائبة ومثيرة للإعجاب، لأنها مملوءة من كل حكمة. ولكن أفكارنا المسبقة الخاطئة وتمرد شهواتنا الشديدة، يجعلها أمرا صعبا على أذهاننا أن نتممها، لذلك فهو إذ يعرف أن الإنسان النفساني لا يقبل هذه الأمور ويعتبر أن كلام الروح جهالة وغير ممكن تحقيقه، فهو يفصل هؤلاء(النفسانيين ) عن أولئك الذين يستطيعون أن يسمعوا ويقول : أقول لكم أيها السامعون والمستعدون أن تتمموا كلماتي . لان مجد الثبات الروحاني يظهر في التجارب والأتعاب، لذلك تمثلوا بالمسيح في هذه الأشياء، &#8221; الذي حينما شتم لم يكن يشتم عوضا. واز تألم لم يكن يهدد، بل كان يسلم لمن يقضي بعدل &#8221; (ابط ۲: ۲۳) . ولكن ربما ستعترضون قائلين في داخلكم، &#8221; المسيح هو الله أما أنا فإنسان ضعيف وليس لي إلا عقل ضعيف وغير قادر أن يقاوم هجمات الشهوة والألم&#8221;. إنك تتكلم بصواب لأن عقل الإنسان ينزلق بسهولة إلى الخطأ، ومع ذلك أقول إن الرب لم يتركك محرومًا من رحمته ومحبته. فأنت حاصل عليه في داخلك بواسطة الروح القدس، لأننا نحن مسكنه، وهو يسكن في نفوس أولئك الذين يحبونه. إنه يعطيك قوة لكي تحتمل بنبل كل ما يحل بك، وأن تقاوم برجولة هجمات التجارب. لذلك &#8220;لا يغلبنك الشر، بل اغلب الشر بالخير &#8221; (رو ۱۲: ۲۱) .</p>
<p>(لو٦: ۲۹، ۳۰) &#8221; من ضربك على خدك فاعرض له الآخر أيضا، ومن اخذ رداءك فلا تمنعه ثوبك أيضا. وكل من سألك فاعطه، ومن أحد الذي لك فلا تطالبه&#8221;.</p>
<p>- إن المسيح هو غاية الناموس والأنبياء هذا أمر أعلنه بولس الحكيم جدا في (رو١٠: ٤) ، لأن الناموس خدم كمؤدب لكي يقود الناس إلى سر المسيح. وكما يقول بولس المبارك أبعدنا &#8221; ولكن الآن بعدما جاء الإيمان لسنا بعد تحت مؤدب (غل٣: ٢٥)، لاننا لم نعد أطفالا في أذهاننا، بل بالعكس قد نمونا &#8220;الي انسان کامل الي قياس قامة ملء المسيح &#8221; (اف ٤: ۱۲). لذلك فنحن لا نحتاج إلى لبن، بل بالحري الي طعام قوي حسب ما ينعم المسيح، بأن يضع أمامنا ذلك الطريق الذي يفوق قوة الناموس، لأنه هو نفسه قال للرسل القديسين &#8220;الحق أقول لكم ان لم يزد بركم في الكتبة والفريسين فلن تدخلوا ملكوت السموات (مت٥: ١٢). فهذا إذا ما هو ضروري أن نناقشه، ماذا يعني &#8221; يزيد بركم على فيما يخص البر بحسب رسالة الإنجيل المخلصة.</p>
<p>الناموس المعطى لأولئك الذين في القديم بواسطة موسی حدد العين بالعين و السن بالسن، وبينما منع فعل الشر، فإنه لم يوص الذين يؤذون أن يحتملوا الأذى بصبر كما أوصى الإنجيل. لأنه يقول &#8221; لا تقتل، لا تسرق، لا تشهد بالزور&#8221; (خر ٢٠: ١٥) ، ويضيف أيضا إلى هذا &#8221; عين بعين ، ويد بيد ، ورجل برجل ، وجرح بجرح ورض برض (خر ۲۱ : ٢٤ ، ٢٥) . مثل هذه الوصية تستلزم من الإنسان ألايجرح الآخرين، وإذ تفترض أنه قد جرح فإن غضبه من الذي جرحه لا ينبغي أن يمتد أكثر من رد مماثل، ولكن المعنى العام لطريقة الحياة الناموسية لم تكن مرضية لله، لقد أعطيت هذه الطريقة للقدماء كمؤدب لكي تعودهم قليلًا قليلًا على بر مناسب ، وتقودهم بلطف إلى امتلاك الصلاح الكامل ، لأنه مكتوب &#8220;أن تفعل البر هو بداية الطريق الصالح &#8220;(ام ١٦ : ٥) ، ولكن في النهاية فإن كل كمال هو في المسيح وفي تعاليمه . لأن عنده &#8220;من ضربك على خدك فاعرض له الآخر. وفي هذا يشير لنا عن الطريق المؤدي إلى أعلى درجة من الصبر، وإلى جانب ذلك فهو يريد ألا نعطي اهتماما للغني حتى أنه إن كان لابسا ثوب واحد فإنه لا ينبغي أن يحسبه شيئا غير محتمل أن يعطي معه رداءه أيضا لو احتاج الأمر إلى ذلك. ولكن هذه فضيلة ممكنة فقط لعقل تحول تمامًا عن الاشتهاء والطمع، لأنه يقول ومن أخذ الذي لك فلا تطالبه، بل أعط كل من سألك. وهذا برهان بالحق على المحبة والاستعداد لأن تكون فقيرا، والإنسان الرحيم ينبغي بالضرورة أن يكون مستعدا أن يغفر، لكي يظهر اعمال محبة حتى لأعدائه .</p>
<p>(لو ٦: ۳۱) &#8221; وكما تريدون أن يفعل الناس بگم اقتلوا أنتم ايضاً بهم هكذا&#8221; •</p>
<p>قد كان محتملا أن يفكر الرسل القديسون أن هذه الأشياء يصعب وضعها موضع التنفيذ، لذلك فإن ذاك الذي يعرف كل الأشياء يتخذ القانون الطبيعي لحب النفس كحكم لما يريد أي واحد أن يحصل عليه من الآخر. فهو يقول اعمل مع الآخرين ما ترغب أن يعمله الآخرون معك. فإن رغبت أن يكونوا خشنين، وبلا شعور وغضوبین ومنتقمين، ومتخذين موقفًا معاديًا فأظهر نفسك هكذا أيضا. ولكن على العكس ان رغبت أن يكونوا شفوقين وصفوحين فلا تظن أنه شيء لا يطاق أن تكون أنت كذلك.</p>
<p>وفي حالة أولئك الذين يكون موقفهم هكذا فلا حاجة هناك إلى الناموس، لأن الله يكتب قلوبهم معرفة مشيئته. إذ يقول الرب &#8220;لأني في تلك الأيام سأجعل نواميسي في اذهانهم وأكتبها على قلوبهم &#8221; (إر ۳۱: ۳۲) .</p>
<p>(لو ٦: ٣٦) &#8221; فكونوا رحماء كما أن أباكم أيضا رحيم &#8221; .</p>
<p>عظيم هو مجد الرحمة، ولذلك فحق هو ما كتب أن &#8221; الإنسان له قيمة عظيمة، والإنسان الرحيم هو مكرم جداً &#8221; (ام ۲۰: ٦) ، لأن الفضيلة تردنا إلى صورة الله ، وتطبع على نفوسنا صفات معينة كما لو كانت من الطبيعة السامية جدا .</p>
<p>(لو ٦: ۳۷) &#8220;ولاتدينوا فلا تدانوا. لا تقضوا على أحد فلا يقضى عليکم. اغفروا يغفر لكم &#8221;</p>
<p>الرب ينزع من أذهاننا شهوة قوية جدا وهي أصل ووالدة الكبرياء. فبينما هو واجب على الناس أن يفحصوا أنفسهم ويرتبوا سلوكهم حسب مشيئة الله، إلا أنهم يتركون هذا الأمر جانبا ويشغلون أنفسهم بأمور الآخرين. وهم إذ ينسون ضعفاتهم الشخصية، فإنهم إذا رأوا ضعفًا في الآخرين يجعلونه مبررا لتصيد الأخطاء ووسيلة لتشويه السمعة. فهم يدينون الآخرين، غير عالمين أنهم لكونهم مصابين بنفس الضعفات بالتساوي مثل أولئك الذين ينتقدونهم، فإنهم يدينون أنفسهم، لأنه هكذا أيضا يكتب بولس الحكيم جدا: &#8221; لأنك فيما تدين غيرك تحكم على نفسك، لأنك أنت الذي تدين تفعل تلك الأمور بعينها &#8221; (رو ۲: ۱). بل إنه من واجبنا بالحرى أن يكون لنا رحمة على الضعفاء، مثل أولئك الذين انغلبوا من هجمات الشهوات واصطيدوا داخل شباك الخطية، وان نصلي لأجلهم ونعظهم، ونقيمهم إلى التعقل ونسعى نحن أنفسنا ألا نسقط في أخطاء مماثلة، لأن &#8220;من يدين أخاه، يذم الناموس ويدين الناموس &#8221; (يع ٤: ۱۱)، كما يقول تلميذ المسيح، لأن واضع الناموس والديان هو واحد. لأن من يدين النفس الخاطئة ينبغي أن يكون أعلى من تلك النفس. ولكن حيث إنك لست كذلك، فإن الخاطئ سيعترض عليك في إدانتك قائلا: &#8221; لماذا تدين أخاك&#8221; . ولكن إن كنت تتجاسر وتدينه دون أن يكون لك سلطان على ذلك، فإنك أنت بالحري الذي سوف تدان، لأن الناموس لا يسمح لك أن تدين الآخرين. لذلك فإن من ينقاد بإصاس صالح، لا ينظر إلى خطايا الآخرين، ولا يشغل نفسه باخطاء قريبه، بل بالحري يفحص بدقة عن أخطائه الشخصية. هكذا كان المرنم المبارك ساقطًا بوجهه أمام الله ويقول بخصوص خطاياه &#8220;إن كنت تراقب الآثام یا سيد فمن يحتمل؟ (مز ۱۲۹: ٣)، ومرة أخرى إذ يقدم ضعف الطبيعة البشرية كعذر فإنه يتوسل من أجل غفران معقول قائلا: &#8221; اذكر أننا تراب نحن &#8221; (مز ١٠٢ : ١٤)<a href="#_ftn1" name="_ftnref1">[1]</a> .</p>
<h4>أيضا للقديس كيرلس الأسكندري</h4>
<p><strong>الرحمة مِن صفات الله: -</strong></p>
<p>&#8220;مثالٌ قريبٌ جدًّا: إذا كنا قد تَكَلَّمنا عن الفضائل فأن الفضيلةَ التي تفوقُ كل ما ذكرناه مِنها هي الرأفة؛ هَذه التي يذكرها بالحديث لأنها الفضيلةُ الأسمى والتي تَصْنَعُ مَسَرَّةَ الله، وهي القامةُ الأعلى واللائقةُ لسموِّ النفوس. ويكفينا أنْ نغرس في أذهانِنا فِكرةَ أن الرأفة هي إحدى سماتِ الطبيعةِ الإِلَهيّة: - فهو يقول: &#8220;كونوا رحماء، كما أن أباكم السماوي هو رحوم.&#8221;</p>
<p>&#8220;إنه ينزع مِن عقولنا شعورًا بالغ الأذى؛ أَلَا وهو بداية ونموّ التفاخُر. فبَدَلاً مِن أنْ ينشغل الناس بفحص أنفسهم ويسلكوا حسب إرادةِ الله، فإنهم يتحوَّلون عن هذا إلى الانشغال بأمور الآخَرِين. ومَن يدين أخاه فهو يَتَكَلَّمُ ضد الناموس ويدين الناموس؛ هَكذا قال تلميذُ الرب. مُعطي الناموس والدَّيّان واحد. فينبغي أنْ يكون دَيّانُ النفس الآثمة أعلى مِن تلك النفس. ولأنَّك لستَ هَكذا، فسيعترضُ الأثيمُ عليك كقاض. لماذا تحْكُم على قريبك؟ أنت إنْ تغامرْ وتُدِنْه ولا سلطانَ لك على الدينونة فإنك أنت الذي ستُدان؛ لأن الناموس لا يُحِلُّ لك أنْ تُدين الآخَرِين. لذلك فمَن يسلك سلوكًا حسنًا، لا ينظر لخطايا الآخَرِين ولا يشغل نفسَه بعيوب مَن هم حوله؛ بَلْ يراجع بتدقيقٍ ما يَصدُر منه مِن زلّات. هَكذا سَلَكَ الطوباويُّ كاتبُ المزامير إذ كان يَخُرُّ بوجهِه أمام الله قائلاً عمّا هو فيه مِن عثرات: &#8220;إنْ كُنْتَ للآثامِ راصِدًا يا رب: يا رب مَن يَثْبُت؟&#8221; ونجِده أيضًا يصلّي مُظْهِرًا الخَطِيّة البشريّة بالطبيعة كعُذر، مُبَرِّرًا لطلب الصفح قائلاً: &#8220;اُذكرْ أننا تُراب.&#8221;,&#8221;</p>
<p><strong>المُفارَقةُ في مُجازاةِ الله: -</strong></p>
<p>&#8220;هو قد أَكَّدَ لنا بالقطع أن اللهَ الذي يعطي كُلَّ شيءٍ بسخاء لمَن يُحِبّونه، سوف يعطينا الجزاء الحسن بيدٍ سَخِيَّة؛ لأنه قال: &#8220;كيلاً جَيِّدًا مُلَبَّدًا مهزوزًا فائضًا يعطون في أحضانِكم.&#8221; وقال أيضًا: &#8220;لأنه بنفس الكيل الذي به تكيلون يُكالُ لكم.&#8221; إلّا أن هناك تعارُضًا ظاهريًّا بين هاتين العبارتين: فإنْ كنا نأخذ كيلاً جيّدًا ومُلَبَّدًا ومهزوزًا وفائضًا- فكيف سيُكالُ لنا بنفس الكيل الذي نكيلُ به؟ فإن هَذا يدلّ على جزاءٍ مُساوٍ؛ لا على جزاءٍ جزيل، فائق الكَرَم<a href="#_ftn2" name="_ftnref2">[2]</a>.&#8221;</p>
<h4>القديس يوحنا ذهبي الفم</h4>
<p>يقول الرسول : &#8221; محتملين بعضكم بعضا في المحبة&#8221;(أف ٤ : ٢) ، كيف يمكن للإنسان أن يحتمل الأخرين حتي اذا كان حاد الطبع أو ناقدا للأخرين ؟ لقد عرفنا الرسول الوسيلة &#8221; في المحبة &#8221; &#8230;. أنه يريد أن يقول : إن كنت لا تحتمل قريبك فيكف يحتملك الله ؟ إن لم تحتمل زميلك الخادم فكيف يحتملك السيد ؟ فحيثما وجدت المحبة تستطيع أن تتحمل كل شيء .</p>
<p>يقول الرسول : &#8221; مجتهدين أن تحفظوا وحدانية الروح برباط السلام &#8221; أربط يديك برفق أربطهما بذلك الاسم الحسن الذي لهذا الرباط . ارتبط بأخيك لأن من يرتبط في المحبة يستطيع أن يتحمل كل شيء بسهولة . ارتبط به وهو بك .</p>
<p>يوجد في جسم الإنسان روح تستحوذ الأعضاء المختلفة . لهذا السبب أعطي لنا الروح الواحد الذي يوحد مختلفي الجنس والأخلاق يوحد بين الكبار والصغار والأغنياء والفقراء والأطفال والأحداث ، والنساء والرجال .. ويصير الكل في وحدة أكثر مما للجسد الواحد . كما أن النار عندما تجد قطعاً من الخشب الجاف تقوم بلهيب واحد ، أما إذا كان الخشب رطبا لا تقوم النار في وحدة واحدة ، هكذا الأمر هنا فلن تستطيع طبيعة باردة &#8221; في المحبة &#8221; أن تتحد في هذه الوحدة أما الإنسان الحار في المحبة فيمكنه أن يتحد . لذلك فعلى الأقل ينتج توهج المحبة &#8221; برباط السلام &#8221; راغبا في أن نرتبط جميعا معا . إنه يطلب منا أن نرتبط كلا بالآخر بمجرد كوننا في سلام أو نحب الأخرين بل أن يكون لنا جميعا روح واحده يا له من رباط مجيد !! ليتنا نرتبط بعضنا بعضاً في الله بهذا الرباط . إن القوي متي ارتبط بالضعيف أعطاه قوة ولا يهلكه .</p>
<p>هذه السلسلة &#8221; قيود المحبة المنسكبة بالروح القدس &#8221; لا تستطيع أن تعيقها مسافة فلا السماء ولا الأرض ولا الموت ولا أي شيء أخر لأنها أعظم من هذه جميعها وأقوى منهم .</p>
<p>هذا هو الرباط الذي لن يتردد الذي لا يقيد الأيدي التي ترتبط به بل يحررها . إنه يعطيها شجاعة أوفر في تلك التي للأيدي التي لم ترتبط به . ولو أن المحبة تصدر عن روح واحد لكن في قدرتها أن تحتضن كثيرين دفعة واحدة<a href="#_ftn3" name="_ftnref3">[3]</a></p>
<h4>القديس أغسطينوس</h4>
<p>قال صاحب المزامير : &#8221; لكل كمال رأيت حداً &#8221; (مز ۱۱۹ : ٩٦) وماذا رأي ؟</p>
<p>وهل تعتقد بأنه تسلق قمة جبل عال ، وأجال نظره في الأفق وتأمل سطح الكرة الأرضية وفي أرجاء العالم ثم قال « لكل كمال رأيت امداً ؟ لا تبتعد كثيراً بل تسلق هذا الجبل وانظر إلى الأمد.</p>
<p>الجيل هو المسيح هلم إلى المسيح وأنظر فيه أمد كل كمال . وما هو هذا الكمال ؟</p>
<p>سل بولس فإنه ينبئك إن &#8221; كمال الوصية المحبة بقلب وضمير صالح وإيمان ثابت &#8221; ثم أن بولس يقول في محل آخر &#8220;كمال الشريعة المحبة &#8221; وهل أكمل من الكمال المتقن ؟ حقا أيها الأخوة إن لقطة كمال تؤخذ هنا بمعناها الصحيح ولا تظنوا أنها تعني النهاية في كل شيء بل كماله ، وما هو الكمال ؟والغاية كمال شريعة المسيح تبرير كل مؤمن &#8221; وما معنى المسيح الكمال ؟ &#8220;المسيح هو الله وكمال الشريعة المحبة والله محبة والأب والآبن والروح القدس واحد . هذا هو الكمال بالنسبة إليكم وما هو دون ذلك فهو طريق وواسطة ، فلا تتعلق بالطريقة لئلا تخسر الكمال وإن وصلت في هذا الطريق فلا تتوقف قبل الكمال . وما هو الكمال ؟ كمالي هو أن أتحد بالله . إن كنت تتحد بالله قد أكملت شوكك وسكنت في الوطن .</p>
<p>كل ما نطلبه في سبيل أخر وسيلة هو ولا غاية . أما الذي تسعى إليه في سبيل ذاته ، مجاناً، فهو الغاية إنك تطلب المجد تحقيقا لعمل أو تتميماً لغاية أو إرضاء لله . إياك أن تحب المجد من أجل المجد لئلا تكتفي به ، إنك تطلب الثناء . إن طلبته في سبيل الله فحسناً تصنع وأما إن طلبته في سبيل ذاته شراً تصنع وعن الطريق تضل &#8230; وحين تمدح أعمالك كلها في الله فلا خوف على مجدك من أن يضيع لأن الله ثابت فتجاوز هذا المديح عينه ولا تتوقف عليه .</p>
<p>وبالتالي فهذه هي الغاية التي تكلم عنها المزمور قال : &#8221; لكل عمل رأيت أمداً &#8221; وكأني بإنسان يسأله عن الأمر الذي رآه فيجيب : &#8221; أما وصيتك فواسعة جداً &#8221; (مز ۱۱۹ : ٩٦) ، ذاك هو أمد الوصية ورحبها . رحب الوصية المحبة لأنه حيث المحبة فلا ضيق وفي رحب الوصية كان يقيم الرسول حين قال : &#8221; فمنا مفتوح إليكم أيها الكورنثيون . قلبنا متسع . لستم متضايقين فينا &#8221; (١كو ٦: ١١ - ١٢) ، ولذاك فوصيتك رحبة جداً .</p>
<p>. وما هي الوصية الرحبة ، &#8221; وصية جديدة أعطيكم أن تحبوا بعضكم بعضا &#8221; لا ضيق في المحبة . إن شئت أن تحيا على الرحب في هذه الأرض فأسكن محلاً فسيحاً ومهما يصنع بك الإنسان فلا يمكنه أن يضيق عليك لأنك تحب ما لا يستطيع أن يعمل شيئا ضده . إنك تحب الله واخوتك وتحب شريعة الله وكنيسته الأزلية . إنك على الأرض تكد لكنك سوف تصل إلى المكافأة التي وعدك بها . ومن الذي يستطيع أن ينزع منك ما تحب . إن لم يكن أحد يستطيع أن ينزع ما تحب فكن مطمئناً. إنك تسهر مطمئناً وتنام مطمئناً فلا يضيع منك ما تحب &#8230; لستم بحاجة إلى توسيع قلوبكم بل إسألوا الله أن &#8221; تحبوا بعضكم بعضا . أحبوا جميع الناس حتى أعدائكم لا لأنهم إخوة لكم بل ليصيروا إخوة لكم فتتأججون حبا أخويا تجاه من هو بالحقيقة و أخا لكم . أو تجاه عدو لكم لتجعلوا منه بفضل محبتكم له أخاً . وإن أحببت إنسانا غير مؤمن بالمسيح فإيمانه به إيمان شيطان ولذا توبخه على ضلاله الباطل . عليك أن تحبه حباً أخوياً و مع أنه يصير لك أخاً وبرغم ذلك أحبه لتصيره لك أخاً . وبالتالي فإن محبتنا الأخوية تتجه نحو جميع المسيحيين أعضاء المسيح . إن قاعدة المحبة أيها الإخوة وقوتها وازدهارها وثمارها وشرابها وطعامها وقبلاتها لا تعرف شبعاً وإن كان لها هذا الجمال الوافر ، علينا أثناء سفرنا على هذه الأرض ، فكم تكون غبطتنا بها في وطننا ؟<a href="#_ftn4" name="_ftnref4">[4]</a></p>
<h4>أبا دوروثيؤس من غزة</h4>
<p><strong>محبة الله ومحبة القريب</strong></p>
<p>إذا كانت لنا المحبة والحنان والشفقة فلن نترصد العيوب للأخرين ، حسبما قيل « لأن المحبة تستر كثرة من الخطايا » (١بط ٤ : ۸) وأيضا المحبة لا تفكر في السوء وتستر على كل شيء (١كو ۱۳ : ٥ ، ۷) فإذا كان لنا المحبة &#8221; الحقيقية &#8221; فهي نفسها ستستر كل زلة ، وسيغير موقفنا من عيوب الناس كموقف القديسين إزاءها . هل كان القديسون مكفوفي البصيرة حتى أنهم كانوا لا يرون الخطايا ؟ ولكن من يستهجن الخطية مثل القديسين ؟ ومع هذا فإنهم لا يكرهون الخاطئ ولا يدينونه ولا يتباعدون أنفسهم عنه ، بل على النقيض من هذا ، فإنهم يشفقون عليه ويرشدونه ويعزونه ، ويعتنون به كعضو مريض ، ويعملون كل ما بوسعهم لإنقاذه .</p>
<p>الأم عندما يتسخ ابنها ويصير شكله قبيحاً ، فإنها لا تتباعد عنه مشمئزة منه بل تسر بأن تنظفه وتعيده إلى شكله اللطيف المبهج ، كذلك هو الأمر مع القديسين ، فإنهم يعتنون بالخاطئ ويهانون ويحتملون عبء إصلاحه ، منتهزين الفرصة المناسبة حتى لا يكون سببا في إعثار الأخرين ، وحتي يتقدموا هم أنفسهم في محبة المسيح &#8230; ليتنا نقتني نحن أيضا ، المحبة نقتني الرحمة على القريب ، حتى نقي أنفسنا من ثلب الأخرين الذي يكدر النفس من دينونتهم واحتقارهم ، لنعاون بعضنا كما تتعاون الأعضاء في الجسد الواحد &#8230; &#8221; وأعضاء بعضا البعض &#8221; كما يقول الرسول (رو ١٢ : ٥) ، &#8221; فإن كان عضو واحد يتألم ، فجميع الأعضاء تتألم معه &#8221; (١كو ١٢ : ٢٦) &#8230; وخلاصة القول ليكن لنا كل واحد حسب طاقته ، بأن نكون متحدين &#8221; في المحبة &#8221; بعضنا ببعض ، لأنه كلما اتحدنا بالقريب بقدر ذلك يكون اتحادنا بالله .</p>
<p>ولكي تفهموا فحوى الكلام سأسوق لكم تشبيهاً مأخوذاً عن الآباء &#8221; آباء الرهبنة : افترضوا دائرة مرسومة على الأرض ، أي خطأً دائرياً له مركز وله محيط ، طبقوا روحياً ما سأقوله لكم : تصوروا أن هذه الدائرة هي العالم ومركز الدائرة هو الله وانصاف قطر الدائرة هي الطرق المختلفة أو أنواع الحياة التي يحياها البشر . أما القديسون الراغبون في الاقتراب من الله فإنهم عندما يسيرون نحو وسط الدائرة فبقدر ما يتعمقون إلى الداخل بقدر ما يقتربون بعضهم من بعض كما يقتربون في نفس الوقت من الله وأنتم تفهمون بديهيا أن العكس صحيح ، فإنه عندما ينائي الإنسان عن الله منجذبا ناحية الخارج ، فواضح أنه بقدر ابتعاده عن الله يكون ابتعاده عن الآخرين ، وبقدر ابتعاده عن الآخرين يكون ابتعاده أيضا عن الله . هذه هي طبيعة المحبة : بقدر ما نحن في الخارج ونحب الله ، بقدر ما نحن على هذا البعد نفسه من جهة محبة القريب . أما إذ كنا نحب الله فبقدر ما نقترب إليه بمحبتنا له بقدر ما يكون لنا شركة محبة القريب ، وبقدر ما نكون متحدين بالقريب نكون متحدين بالله<a href="#_ftn5" name="_ftnref5">[5]</a> .</p>
<h4>القديس أغسطينوس</h4>
<p>&#8220;لقد نهانا الله عن مَحَبّةِ ذلك العالم؛ وفي نفس الوقت، وإنْ أَصَبْنا الفَهم، فقد أوصانا أيضًا بأنْ نُحِبَّه. نحنُ بالطَّبْعِ نُهِيْنا حيثُ قيل لنا: &#8220;لا تُحِبّوا العالم&#8221;؛ لَكنّنا أُوْصِينا بمحبة العالم! إذ قيل لنا: &#8220;أَحِبّوا أَعداءَكُم.&#8221; وَهُمُ العالم الذي يُبغِضُنا. إذن، فنحنُ قد نُهِيْنا عن مَحَبَّةِ ما يُحِبُّهُ الأرضيّون مما في عالمهم، وأُوْصِينا أيضًا بأنْ نُحِبَّ فيه ما يَكْرَهُهُ أهلُ العالم؛ أَلَاوهو عَمَلُ يَدَيْ الله، وتَعْزِياتُه وخَيْراتُهُ الجزيلة. مُنِعنا مِن مَحَبَّةِ ما به مِن أخطاء، وأُوصِينا بأنْ نُحِبَّ طبيعتَه. أما العالم، فهو يحب ما فيه مِن أخطاء  ويُبغِضُ طبيعَتَه. لذلك فإنّنا نُحِّبُه، ونُبْغِضُه في نفس الوقت، رغمَ أنّهُ يُحِبُّ ما نَحْنُ نُبْغِضُهُ فيه ويُبْغِضُ ما نُحِبُّه.</p>
<p>&#8220;تُعَدُّ الخيرات والصّالحات الوقتيّة لا شيءَ مُقارَنَةً بالخيرات والبركات الأَبَدِيّة كما هو حال الأشياء الكائنة عن اليسار والتي تكونُ مُحتَقَرة، مُفَضَّلًا عليها تلك الكائنةُ عن اليمين. هذا هو الهدف الذي كان يسعى نحوه الشهداءُ القَدّيسون طيلة حياتهم على الأرض. إننا ينبغي أنْ ننتظرَ نقمةَ العَدل النهائية وهي الدينونة العليا الأخيرة حيثُ لا نَفْعَ ولا فرصةللرجوع عن الخطية. أمّا نحن فلْنحتَرِزْ لأنفُسِنا أَلّا ينفد صبْرُنا بَلْ ننتظر الوقت الذي سنكون فيه مُبَرَّرين؛ لأن جزاءَ الصبرِ أكثر بكثيرٍ ممّا يستطيع أَيُّ عدوٍ أخْذه منا رغم إرادتنا مهما كانت قدرتُه.&#8221; (الرسالة 138)</p>
<p><strong>ممارسة فضيلة الرحمة: -</strong></p>
<p>لممارسة فضيلة الرحمة شِقَّان: التضحية بالنّقمة، وتقديم الشفقة. والربُّ قد أشار إلى هَذين الفعلَين في قوله الموجَز: &#8220;اغفِروا يُغْفَر لكم؛ اعطواتُعْطَوا.&#8221; لِهذا العمل أَثَره في تنقيةِ القلب إلى درجةِ أننا حتى ونحن بَعْدُ في هَذه الحياة بمحدوديتها نستطيع بفِكْرٍ نقيٍّ أنْ نُدْرَك ونُعايِن حقيقةَ الله المُطلَقة. لَكن هناك عَقَبَةً تعوقُنا، تلك التي لا بد أنْ تزول، حتى يمكن لأبصارنا أنْ تُعايِنَ النور. عن هذا قال الرب: &#8220;اعطوا صدقةً وانظروا: كلالأشياء تكون لكم طاهرة.&#8221; إذن، ففي المرتبة والدرجة السادسة يأتي تطهيرُ القلب. فلا تدينوا؛ ولَكنْ اُنظُروا إلى سَيّئاتِكم أنتم.&#8221;</p>
<p><strong>الصَدَقَةُ نَوْعان: العَطاء، والغُفْران: -</strong></p>
<p>&#8220;المسيحِيُّ يَعي بالرّوح كم ينبغي أنْ ينأى بنفسه عن أنْ يسرقَ ما للآخَر،حالَما يُدْرِك أن إخفاقَه في مُشارَكةِ المساكين بما يفيضُ عنه يُشْبِهُ السرقة. يقولُ الرب: &#8220;اعطوا، تُعْطَوا. اغفِروا، يُغْفَر لكم&#8221;. فَلْنَصْنَعْ الصدقةَبنوعيها، أَيْ لِنجُدْ بالعطاء والمغفرة، بكل لُطْفٍ وثباتطالما كنا في المقابل نصلّي للْرّبِ كي يهبنا الصالحات ولا يُجازينا كحسب أعمالنا.&#8221;</p>
<p>جناحا الصلاة: -</p>
<p>&#8220;اِغْفِرُوا، يُغْفَر لكم.&#8221; &#8220;اعطوا، تُعْطَوا&#8221;. هَذان هما جناحا الصلاة اللذان بهما ترتفع إلى الله. فسامِح المُخطئين على ما ارتكبوه واعْطِ المساكين.&#8221;</p>
<p>الرحمة، والمحبة، والمغفرة: -</p>
<p>&#8220;لذلك يكونُ لنا رجاءٌ في رحمةِ الله ما لم يكُنْ بؤسُنا غير عارٍ مِن بعض أعمال رحمة. ماذا تُريدون مِن الرب؟ الرحمة. فاعْطوا كي تُعطَوا. وماذا تُريدون مِن الربِّ أيضًا؟ المغفرة. فاغفِروا إذن، كي يُغْفَرَ لكم.</p>
<p>إن المسيحيّينَ هُم مخازنُ العطاء للمساكين.</p>
<p>أنتم تتصدَّقون فتنالون الصدقات. أنتم تغفِرون فتنالون الغُفران. أنتم كُرَماء، فتَلْقَون معاملةَ الكَرَم. أنصتوا لصوتِ الله يقول: &#8220;اغفروا،يُغفَر لكم. اعطوا، تُعْطَوا.&#8221;</p>
<p>لا تنسوا المساكين. أقول هَذا لكم جميعًا.تَصَدَّقوا يا إِخْوَتِي، ولن يَضِيْعَ ما تُعطوه. ثِقوا في الله. وأنا أؤَكِّدُ لكم أن ما تفعلوه مِن أَجْلِ المساكين لن تُضَيِّعوه؛ ليس هَذا فقط، ولَكنّي أقول لكم بوضوح أن هَذا العمل هو الذي لن تَفْقِدوا أَجْرَهُ قطْ&#8230; هَلُمّوا الآن: لنرى كيف تستطيعوا أنْ تُفْرِحوا الفقراء. كونوا لهم مخازن، لكي يعطيكم الله ما يمكن أنْ تعطوهم إياه؛ ولكي يَغْفِرَ لكم كل ما فعلْتُموه مِن آثام<a href="#_ftn6" name="_ftnref6">[6]</a>.&#8221;</p>
<h4>القديس غريغوريوس أسقف نيصص :</h4>
<p><strong>مفهوم الصلاة وجوهرها وبركاتها</strong></p>
<p>يجب أن نتعلم قبل كل شئ أن نصلي دائماً بلا توقف. لأن عمل الصلاه هو الاتحاد مع الله. وحينما يكون أي أحد مع الله فإنه ينفصل عن العدو.</p>
<p>عن طريق الصلاة نحن نحرس طهارتنا ونضبط إنفعالنا ونبعد أنفسنا عن كل باطل وننسي كل إساءاتنا ونهزم الحسد ونغلب الشر. إن الصلاة تجعلنا نعدل مسارنا عن الخطية.</p>
<p>خلال الصلاة نحن نحصل علي وجودنا الجسدي وعلي المنزل السعيد وعلي المجتمع المنظم.</p>
<p>الصلاة تجعل وطننا قويا وتعطينا النصره في الحرب والأمان في السلام. الصلاه تصالح الاعداء وتحفظ الأصدقاء.</p>
<p>الصلاة هي خاتم البتوليه وعربون إخلاص الزوجيه. هي درع الانسان في غربته وحماية للنائم وشجاعة للساهر. الصلاة تجعلنا علي حصاد جيد من الحقل وميناء سالم للبحارة. الصلاه هي المحامي لك في قضاياك. تجعلك تحصل علي العفو إذا كنت مسجونا وتعطيك الانتعاش حينما تكون قلقاً وتمنحك العزاء حين تكون حزيناً .</p>
<p>الصلاة هي نور الفرح كما هي تعزية المجربين.هي تاج الزواج للعروسين وإحتفال الفرح للمولودين الذين يلتقون بها كما هي الكفن الذي نلتحف به حين رحيلنا . الصلاة هي سر إلتصاقنا بالله والتأمل في غير المنظور. الصلاة هي قبول لصراخنا وتجعلنا متساويين مع الملائكه. خلال الصلاة نحن نحصل علي الازدهار الجيد وتحطيم للشر وتحول للأشرار . الصلاة هي الفرح بالأشياء الحاضرة وهي جوهر الأشياء المستقبلة. الصلاة هي التي حولت الحوت إلي منزل يقيم فيه يونان،وهي التي حولت اللهب المحترق الي ريح باردة لأجل الثلاثة فتية .</p>
<p>عن طريق الصلاة إنتصر بني إسرائيل علي عماليق وأبيد مائة وخمسة وثمانون ألفاًمن الأشوريين في ليله واحده بالسيف غير المنظور.</p>
<p>إن التاريخ يقدم لنا الآفاً من الامثله بجوار تلك الامثله بحيث يصير واضحاً لنا أنه لاشئ يزيد في قيمته في هذه الحياة أكثر من الصلاة.</p>
<p>يستطيع الانسان أن يقترب إلي الله عن طريق الصلاة ولكنه كثيراً ما يفشل في تقديم المجد اللائق بالعظمة حين يقف ليتحدث اليها.</p>
<p>وكثيراً ما يهين الانسان عظمه الله دون أن يدري عن طريق الطلبات التافهه. وهو في ذلك يشبه إنساناً فقيراً جاهلاً يفكر خطأ حين يقترب إلي الملك الأرضي ويطلب شيئًا يليق بهذا الملك بل يطلب شيئاً تافهاً وفقاً لهواه، هكذا الانسان الذي يقدم صلاة بدون حديث لائق ولا يرفع نفسه الي عظمة الله مانح هذه الاشياء ولكنه يريد القوه الإلهية ليستخدمها في الامور الارضيةالتافهه التي هي حسب شهواته. ولذلك هو يقدم طلبات وتوسلات غير مقبولة لذلك الذي ينظر خفايا القلب ولكنه لايطلب الله نفسه لكي يشفي إنحرافات عقله ولو أعطانا الله ماهو حسب عقولنا الرديئة لصارت الشهوات الشريرة حقيقة.</p>
<p>وعلي سبيل المثال لو ضايقني أحد الأشخاص وتحرك قلبي بالكراهية نحوه فصرخت الي الله وطلبت منه أن يضربه فكأني عندئذ أقول لله : إجعل شهوة قلبي قدامك وإجعل شري يأتي أمامك. وهكذا فإن الحروب بين البشر يتخللها الغضب ولذلك فإن من يطلب أن يقيم الله ضد عدوه معناه أنه يريد من الله أن يشترك معه في غضبه وهذا معناه أن الله يستسلم للشهوات ويسلك بطريقه بشرية ويتغير من طبيعتة الصالحة الي طبيعة الحيوانات المتوحشة، وحاشا أن يكون هذا<a href="#_ftn7" name="_ftnref7">[7]</a>.</p>
<h4>القديس يوحنا كاسيان</h4>
<p><strong>محبَّة الله ومحبَّة القريب</strong></p>
<p>إن هدفنا هو ملكوت السموات وهو الهدف الثابت الذي لا يتغير قط. وبدون طهارة القلب لايمكن أن نصل لهذا الهدف. ويجب أن نحتفظ بهذا الهدف دائماً في عقلنا. وقد يحدث أحياناً لفترة قصيرة أن ينحرف قلبنا عن الطريق المستقيم ولكن يجب أن نرجعه ثانيه وأن نقود حياتنا بالتقوي المناسبه لهذا الهدف.</p>
<p>ويجب أن نفعل كل شئ من أجل هذا الهدف المباشر، فنحن نترك اوطاننا وعائلاتنا وممتلكاتنا وكل شئ عالمي لكي ننال طهارة القلب. ونحن نحتقر الغني المادي من اجل محبة إخوتنا لئلا نقاتل بالغضب ونسقط من الحب. وإذا ما تحركنا بالغضب ضد اخينا . حتي لو كان من أجل أمور بسيطه فإننا نسقط من هدفنا ويكون خروجنا من العالم غير ذي أهميه.</p>
<p>ولقد حذرنا بولس الرسول من ذلك حين قال&#8221; وإن سلمت جسدي حتي إحترق ولكن ليس لي محبه فلا انتفع شيئاً &#8221; (١كو ٣:١٣).</p>
<p>ونحن نعلم ان الكمال لايتوقف علي مجرد ترك العالم ولكنه يأتي بعد إدراك الحب كما يقول الرسول بولس&#8221; المحبه تتأني وترفق. المبه لاتحسد. المحبه لاتتفاخر ولاتنتفخ. ولا تقبح ولا تطلب ما لنفسها ولاتحتد ولا تظن السوء&#8221;(١كو ١٣: ٤-٥) وكل هذه الأمور السابقة التي تحدث عنها بولس الرسول هي التي تؤسس طهارة القلب. ونحن نفعل كل شئ من أجل هذا ونحتقر كل ممتلكاتنا ونحتمل الاسهار والاصوام بفرح والقراءة الروحية والتسبيح.</p>
<p>إن الأصوام والأسهار وقراءة الكتاب المقدس ليست هي الهدف والكمال ولكننا نصل إلي الكمال عن طريق تلك الممارسات . لانه لن يفيدنا إفتخارنا بأصوامنا وأسهارنا وقراءتنا في الكتاب المقدس إذا لم نصل الي محبة الله ومحبة القريب، لان كل من ادرك حب الله في قلبه فإن عقله يكون دائماً مع الله<a href="#_ftn8" name="_ftnref8">[8]</a>.</p>
<h3> عظات آباء معاصرين</h3>
<h4>قداسة البابا تواضروس الثاني</h4>
<p><strong>(من عظات الصوم الكبير)</strong></p>
<p>لو (٦ : ٢٥ – ٢٨)</p>
<p><strong>من تُحب ؟</strong></p>
<p>يتكلم هذا الإنجيل عن أفعال بصيغة جماعية، فيقول على سبيل المثال : أحبوا ، أحسنوا ، أقرضوا ، كونوا رحماء ، لا تدينوا ، لا تقضوا على أحد ، أعطوا تعطوا … كلها صياغات إلزامية وبصيغة الجمع لنا كلنا ، لكن نلاحظ أن الفعل الأول هو فعل أحبوا ، ولذلك السؤال يكون &#8221; من تحب ؟&#8221;. أحياناً على مستوى الأطفال الصغار نسألهم: &#8221; تحب بابا وماما أد إيه ؟&#8221;، يجيب ويقول : &#8221; أد البحر &#8221; &#8230; وغيرها من العبارات التي تدل على مدى حب الطفل لأبيه وأمه. والسؤال لك أنت أيها السائر في طريق الرب: &#8221; من تُحب؟&#8221;. أُريد أن أذكرك أن سؤال يوم الإثنين الماضي كان &#8221; من هو الأعظم؟&#8221; فهو ينبهك لئلا تكون قد سقطت في خطية العظمة والكبرياء. كذلك يوم الثلاثاء يوجه لك سؤالا: &#8221; هل كلام الله لك؟&#8221;، فأحياناً الإنسان يقع في خطية إهمال كلمة الله . ولا بد أن تضع في فكرك أنك لا تتكلم بأي أمر إلا إذا كان فيك روح الإنجيل، وإلا كلامك يصير كلاماً بشرياً عادياً. عليك أن تنتبه لأن بكلامك تتبرر وبكلامك تدان، ممكن كلمة واحدة تحرم الإنسان من السماء، ولذلك نسمع عن تدريبات آبائنا في الصمت والحكمة وقلة الكلام، والصوم يناسبه قلة الكلام، وأيضاً قلة الطعام . إنجيل هذا اليوم يسألك &#8221; من تُحب؟ قلبك فيه مين؟&#8221; أتوقع الإجابة أن تكون متعددة ومختلفة، فهناك من يقول : &#8221; زوجي أو زوجتي ، ابني أو ابنتي ، أخي أو أختي ، أبويا أو أمي &#8230;&#8221;، ولكن أنت يا من تملك قلب المسيح : من تُحب ؟</p>
<p>الإنسان المسيحي انتقل من مرحلة احتمال الآخرين إلى مرحلة محبة المعتدين، وهذه هي طبيعة الإنسان المسيحي، فقد انتقل وارتقى من مرحلة احتمال الآخرين ومتاعبهم إلى مرحلة محبة الأعداء، والآية واضحة جداً &#8221; أحبوا أعداءكم &#8221; (مت ٥: ٤٤) ، هذا قول فم المسيح الطاهر.</p>
<p>الإنسان المسيحي ليس له عدو إلا الشيطان، ولذلك طاقة الإنسان المسيحي في الحب غير محدودة؛ لأنها بغير محدودية الله (الله محبة ) ،  وهذا هو الإنسان المسيحي الذي يريده الله ، فجوهر المسيحية هو الحب ، ولا حدود للمحبة في حياة الإنسان المسيحي ، لذلك إذا دخلت الكراهية أو إذا غابت المحبة عن قلبك فاعرف أن هذه خطية كبيرة جداً أمام المسيح. إن محبة الإنسان المسيحي ليست انتظاراً لمكافأة، ولكنه يحب حباً في الخير وفي الفضيلة .</p>
<p>أيضاً في محبة الإنسان المسيحي لكل أحد أنه يحب بغير إدانة &#8221; لا ئديئوا لكي لا تُدانوا &#8221; (مت ٧ : ١) .، لأن كل إنسان على وجه الأرض منذ آدم إلى آخر الدهور سيقف يوماً أمام الله، فالله الديان العادل أعطى الإنسان نسمة حياة ، وهذه  النسمة استثمرها واستخدمها في صنع الخير، فعش فيها واربح بها الآخرين.</p>
<p>هكذا خُلق الإنسان ، ولكن الإنسان يتعدى حدوده عندما يُدين الآخر، فالإدانة أو الدينونة هي للديان العادل ، ولذلك الإنسان المسيحي يبدأ حبه من إيمانه ، فإيمانك المسيحي وإيمانك بالمسيح هو الذي يعطيك طاقة الحب هذه ، والإيمان ليس مجرد كلام أو شعارات ولا ألفاظ ، ولا ما ندرسه في كليات اللاهوت ؛ لأن الإيمان هو حياة ، فالإيمان في حياتك هو شعورك أن لك قيمة مطلقة عند الله ، فالله يحبك ليس أنت فقط، بل كل البشر، إنه منعم على الأشرار وغير الشاكرين ، فعندما تشرق الشمس كل يوم فهي تُشرق للأبرار والأشرار؛ لأنها عطية الله، فالله هو الذي خلق وأوجد هذه الشمس لكل الناس ، لذلك محبتك وحبك لكل إنسان ينبع من إيمانك ، ونقول الإيمان بالذات ، لأنك قبل أن تولد ، الله عرفك. اسمع ما قاله لإرميا : &#8221; قبلما صورتك في البطن عرفتك وقبلما خرجت من الرحم قدسك . جعلتك نبياً للشعوب &#8221; (إر ١ : ٥)  الله يعرفك قبل أن تتشكل كجنين بعمر أيام في بطن أمك ، لقد عرفك بشكلك وبصورتك وجنسك وحجمك &#8230;. عرفك بكل شيء ، وإيمانك أن لك قيمة مطلقةعند مسيحك شيء مهم جداً.</p>
<p>الأمر الثاني أن الإيمان يعطيك الحب ، وهذا الحب نابع من الإيمان ، فهو الذي يجعلك تشعر أنك إنسان محبوب عند الله ، فأنت لك قيمه عنده ، ولذلك أنت محاط بحب الله الذي لا يزول ولا ينتهي .</p>
<p>الله يحبك في كل حالاتك ، في كل فترات عمرك ، فالإنسان هو محبوب الله وعليه يجب أن تقدم حبك لكل أحد ؛ لأنك محبوب الله ، نحن نحبه لأنه هو أحبنا أولاً وهذا الحب ينتقل لكل إنسان على وجه الأرض . الصورة الجميلة التي نتكلم عنها تأتي في بعض الأفعال التي أمامنا ، ومن بين هذه الأفعال : &#8221; احبوا أعدائكم &#8220;. هذه الوصية : &#8221; احبوا أعدائكم &#8220;، هي عمق أعماق المسيحية ، وهذا هو كلام الإنجيل ، فهذه العبارة بصيغة الأمر أو الإلزام ، فاحذر أن تبرد محبتك ، واحذر أن تُصنف الناس ، كن كما أراد المسيح فيك ، وإن كان فاجعل فترة هذا الصوم فترة مقدسة أن تراجع فيها نفسك .</p>
<p><strong>أمثلة :</strong></p>
<p><strong>١ القديس يوحنا القصير :</strong></p>
<p>يحكي لنا تاريخ الكنيسة عن القديس يوحنا القصير، فكان قديساً ناسكاً في البرية ، وهذا القديس كان يعيش في وسط آباء البرية ، وقد سمعوا عن إنسانة سقطت في الخطية وأسقطت معها كثيرين ، وصارت عدوا لطريق التوبة ، فقرر القديس يوحنا القصير أن يتوب هذه الإنسانة ، وذهب لكي ما يتوب القديسة بائيسة ، وبالطبع عندما يذهب لبيت من بيوت الخطية يعتبر أمراً غريباً ، فعندما طلب هذه الإنسانة أتت أمامه ولكنها لم تكن مغطية الرأس ، ولا ترتدي شيئاً في قدميها ، لكن مجرد أن رأته وهي في وحل الخطية ، ورأت في عينيه كل المحبة ، فبمجرد أن قال لها : &#8221; اتركي طريق الشر والخطية وقدمي توبة &#8220;، قالت له : &#8221; خذني معك&#8221;، فقال لها : &#8221; ادخلي غطي رأسك، وارتدي حذاء في قدمك &#8220;، لكنها رفضت وقالت : &#8221; لا أدخل مكان الخطية مرة أخرى &#8220;،</p>
<p>وكانت التوبة.</p>
<p>وذهب هذا القديس الناسك الوقور ومعه إنسانة بهذه الحالة ، وكأنه أنقذ نفسا . تُرى ما الذي دفع هذا القديس أن يذهب لمثل هذا المكان السيئ ؟ فلا نجد شيئاً سوى محبته ، فقد أراد بهذه المحبة أن ينقذ نفساً ويخلصها ، وللعجب كان هذا اليوم الذى تابت فيه القديسة هو آخريوم في حياتها على الأرض ، حيث ماتت منه في الطريق وقدمها تنزف دماً اثر شوك الصحراء ، ورجع القديس لإخوته الرهبان وهو  يحكي لهم القصة وهم متعجبون، إلى أن كشف لهم الله إنها كانت توبة صادقة حقيقية ، وهذه هي المحبة .</p>
<p>كان من الممكن أن يدينها بأنها سقطت في الخطية وأسقطت كثيرين ، لكنه قدم لنا صورة جميلة من صور المحبة .</p>
<p><strong>۲۔ القديس اسطفانوس :</strong></p>
<p>كان القديس اسطفانوس مملواً من الإيمان والروح القدس ، وكان وجهه كوجه ملاك منير، فأخذه اليهود لكي يرجموه ، وتخيلوا معي أنه في الوسط قائم شاب صغيريقدم اسم المسيح لكل أحد.  لقد كان القديس اسطفانوس يحمل قلباً محباً في داخلة ويقول &#8221; يارب لا تقم لهم هذه الخطية (أع ٧ : ٦٠) من أين بهذه الطاقة ؟ من أين لك هذه الصلوات ؟ فكان ينظر السماء وعيناه إلى فوق وهي في سلام وراحة. كل قديس نقرأ عنه ونسمع عنه هو إنسان عادي في كل شيء. قد تتعرض لضيق وشدة ، لكنك ترفع قلبك إلى الله بالحب ، ربما شابه اسطفانوس سيده الذي قال على الصليب : &#8221; يا أبتاه اغفر لهم لأنهم لا يعلمون ماذا يفعلون &#8221; (لو ٢٣: ٣٤). يا للعجب. لذلك الذين ارتكبوا شراً أو عنفاً يجب أن تصلي من أجلهم ، وأدعوكم للصلاة من أجل أن ينزع الله الشر من بعض القلوب ، فغير المستطاع عند الناس مستطاع عند الله، فمن الممكن من قاع الشر يخرج قديسين.</p>
<p>حبك للآخر يعطيه فرصة ، وبما أن المسيح يحبك فهو يعطيك فرصة أيضا لنقاوة القلب.</p>
<p><strong>٣ -القديس إبراهيم الجوهري</strong></p>
<p>نقرأ في تاريخ الكنيسة من حوالي ٢٠٠ سنة عن القديس &#8221; إبراهيم الجوهري &#8221; والذي كان يعمل بمثابة رئيس الوزراء ، وكان قلبه يحمل قلب الحب ، قد أتى إليه أخوه ذات مرة يشكو من جاره الذي كان يسبه بألفاظ سيئة ، فما كان من هذا الإنسان البار إلا أن يطيب قلب أخيه وقال له : &#8221; أنا حقطعلك لسانه &#8220;، ويخرج هذا الأخ متهللا معتمداً على السلطة الزمانية التي في يد أخيه . المسيحية ليست قطع لسان ، ولكنها قطع لسان الشر، فكيف أقطع لسان الشر؟ لا توجد سوى صورة واحدة وهي مزيد من الحب ، فقد قال الإنجيل : &#8221; لأنك إن فعلت هذا تجمع جمر نار على رأسه &#8221; (رو ۱۲ : ۲۰). إن المحبة تغلب لسان الشر، فنحن لا نحمل غير قلب الحب.</p>
<p><strong>* صور المحبة :</strong></p>
<p>في البداية سألت : &#8221; من تُحب ؟&#8221;، أقولك : كل الناس ، وقلبك مفتوح لكل الناس ، من تعرفه ومن لا تعرفه ، فيجب أن تمتد المحبة بين كل الفئات ، نحن لا نملك إلا الحب</p>
<p><strong>١ -  الصوم :</strong></p>
<p>من صور الحب أنك تصلي من أجل الآخرين وترفع قلبك في حرارة روحية ، وكما تُصلي في قسمة القداس ونقول : &#8221; الصوم والصلاة هما اللذان يخرجان الشياطين &#8220;. ليس هناك وسيلة أخرى غير الصوم والصلاة . ونحن نعلم أن في الصوم الكبير تكثر فيه التجارب ، ولذلك لا نملك سوى الصوم والصلاة ، وأساسهما محبة الله ، فأنا في الصوم أمتنع عن الطعام فترة من الزمن ، وعندما نأكل يكون الأكل نباتياً بسيطاً ، قل له : &#8221; يا رب أنا مشغول بك أنت وحدك &#8220;. . في فترة الصوم الكبير أهم شيء هو قلة الطعام وقلة الكلام ، فما المانع أن تقل مكالماتك ؟ وما المانع أن تقل مشاهداتك للقنوات الفضائية ؟ وما المانع من أن تقل جلوسك أمام النت ؟ فبحكم الصوم اليوم فيه محسوب ، فمن الخسارة أنه يمر منك يوم دون أن تستفيد .</p>
<p>إن أيام الصوم أيام مقدسة لا تعوض، فعدد أيام الصوم الكبير ال ٥٥ يوماً ، هم ميزان الإنسان الروحى .</p>
<p><strong>۲۔ الصلاة من أجل الآخرين :</strong></p>
<p>خصص هذا اليوم لكي ما تصلي بحرارة بدلا من أن تضيع وقتك أمام أي شيء ، خصص هذا الوقت لإنجيلك وصلواتك وارفع قلبك بحرارة.</p>
<p><strong>۳۔ افتقاد الآخرين :</strong></p>
<p>لا بد أن تفتقد الآخرين في ظروفهم المتنوعة ، فهناك بيوت منكسرة ومجروحة ،  وهناك بيوت فقيرة ، وأيضاً المرضى باي أتعاب جسدية أو نفسية ، فرصة أنك تعلم نفسك أن تبحث عن أناس من ذوي الاحتياج ، فصور الاحتياج كثيرة ولا أستطيع أن أحصرها وأذكرها .</p>
<p>الصوم فرصة أن تمتلك فيه قلباً ممتلئاً بالرحمة ، وتقترب فيه إلى الله حتى لا تكون من أصحاب القلب الجاف ، فالصوم فرصة أن تستعيد قلب الرحمة في داخلك.</p>
<p><strong>٤ محبة من لا يشعر بمحبتك :</strong></p>
<p>من صور المحبة أيضاً أنك تقدم المحبة للإنسان الذي لا يشعر بمحبتك ، فقدم مزيد من المحبة لمن يشعر إنك بعيد عنه ، قدم المحبة بكل صورها.  اصنع الخير مع الغير بكل محبة حتى لو أساء إليك ؛ لأن هذه المحبة هي التي تعلمناها من مسيحنا القدوس ، اصنع الخير وقدم الفضيلة ، قدم الكلمة الحلوة والمجاملة والابتسامة ، قدم قلبك الذي يحتضن العالم كله ، فعندما يوجد المسيح في قلبك يصير قلبك واسعاً جداً باتساع حضن المسيح على الصليب.</p>
<p>&#8220;من تحب؟&#8221;</p>
<p>أترك لك الإجابة في فترة الصوم ، ليت إجابتك تكون : &#8221; أحب كل الناس<a href="#_ftn9" name="_ftnref9">[9]</a> &#8220;.</p>
<h4>المتنيح الأنبا إبيفانيوس أسقف ورئيس دير القديس أنبا مقار</h4>
<p><strong>جمر نار</strong></p>
<p>بعد أن شرح القديس بولس الرسول ، فى رسالته الى أهل رومية ، حقائق الايمان العظمى ، وعلاقة الناموس بالنعمة ، كتب فى الاصحاح الثانى عشر توصيات هامة لما يجب أن يكون عليه السلوك المسيحى ، وما مفهوم الحب والسلام فى المسيحية . ولكن فى الآية العشرين من هذا الأصحاح ، وخاصة فى نصفها الثانى ، أورد آية اقتبسها من سفر الأمثال (أم ٢٥ : ٢٢) ، حيرت الكثير من الشراح فى تفسيرها ، لما يبدو عليها من تناقض مع مفهوم بولس  الرسول ، ومفهوم المسيحية عموما ، لوصية محبة الأعداء . يقول بولس الرسول :</p>
<p>†   &#8221; لا تنتقموا لأنفسكم أيها الأحباء ، بل أعطوا مكانا للغضب ، لأنه مكتوب : لى النقمة أنا أجازى يقول الرب . فان جاع عدوك فأطعمه ، وان عطش فاسقه . لأنك ان فعلت هذا تجمع جمر نار على رأسه . لا يغلبنك الشر بل اغلب الشر بالخير &#8221; (رو ١٢ : ١٩ - ٢١). يبدأ الأصحاح الثانى عشر بعبارة:&#8221; فأطلب اليكم &#8221; ، كاستجابة لنعمة المسيح التى شرحها لهم فى الأصحاحات السابقة ، فطلب منهم أن يقدموا أجسادهم &#8221; ذبيحة حية مقدسة مرضية عند الله &#8221; . ثم فى الفقرة التالية (12: 3 8) يشرح لهم مفهوم الذبيحة الحية ، وما يجب عليهم من احترام المواهب المختلفة المعطاة لكل واحد منهم ، والتى برغم تنوعها ، فانها تثرى الكنيسة ، وتجعل من الجميع جسدا واحدا للمسيح .</p>
<p>وفى الفقرة التالية ( 12: 9 13) يضع بولس الرسول الأساس الذى ينبغى أن يقوم عليه بناء الجماعة ، وذلك فى صورة 13 وصية ، وصايا تؤدى الى حياة الجماعة ونموها فى المحبة :</p>
<p>المحبة فلتكن بلا رياء ، كونوا كارهين الشر ، ملتصقين بالخير ، وادين بعضكم بعضا بالمحبة الأخوية ، مقدمين بعضكم بعضا فى الكرامة ، غير متكاسلين فى الاجتهاد ، حارين فى الروح ، عابدين الرب ، فرحين فى الرجاء ، صابرين فى الضيق ، مواظبين على الصلاة ، مشتركين فى احتياجات القديسين ، عاكفين على اضافة الغرباء .</p>
<p>وفى الآيات التى تلى ذلك ( 12: 14-17) يورد أيضا مجموعة من الوصايا ، الامتثال لها واطاعتها يجعل الجماعة تعيش فى سلام ، سلام مع نفسها ومع الآخرين:</p>
<p>باركو على الذين يضطهدونكم ، باركوا ولا تلعنوا ، فرحا مع الفرحين ، وبكاء مع الباكين . مهتمين بعضكم لبعض اهتماما واحدا ، غير مهتمين بالأمور العالية ، بل منقادين الى المتضعين ، لا تكونوا حكماء عند أنفسكم ، لا تجازوا أحدا عن شر بشر، معتنين بأمور حسنة قدام جميع الناس .</p>
<p>ثم فى الآية (١٨) يجمل الأمر بالوصية التى تحقق سلام الجماعة كلها :</p>
<p>&#8221; ان كان ممكنا فحسب طاقتكم سالموا جميع الناس &#8221; .</p>
<p>ان القوة الدافعة فى رسالة رومية التى تغذى كل الآيات ، وخاصة الآيات (19 21) ، والتى بدونها يحدث انقسام وخلل فى كنيسة رومية ، هى مثال المسيح الواضح فى الآية (5: 10) : &#8221; لأنه ان كنا ونحن أعداء قد صولحنا مع الله بموت ابنه &#8220;، فنحن لم نكن أبرارا ولا قديسين لذلك استحققنا موت المسيح من أجلنا ، بل كنا أعداء عصاة متمردين ، وجميعنا أعوزنا مجد الله ؛ ومع ذلك مات المسيح من أجلنا  . فماذا سيكون موقفنا من أعدائنا بعد أن نلنا المصالحة مع الله ؟</p>
<p>وتستمر الرسالة الى أهل رومية فى تقديم النصائح التى تحث الجماعة أن تعيش معا فى اتفاق وانسجام واحد . ففى الأصحاح الثالث عشر يحثهم أن يعيشوا فى سلام مع السلطات المدنية ، وفى الأصحاحين الرابع عشر والخامس عشر يحد من التوتر الناشىء بين اليهود والأمم من حيث أنواع المأكولات ومفهوم الطاهر والنجس ، ثم يختم الرسالة بتحية لكل أفراد الكنيسة الذين يعيشون معا فى سلام ومحبة .</p>
<p>وعندما نأتى الى الآيات (12: 19 21) والتى يتكلم فيها بولس الرسول عن السلام بين الجماعة : &#8221; لا تنتقموا لأنفسكم أيها الأحباء &#8230;&#8230; لا يغلبنك الشر بل أغلب الشر بالخير &#8221; ، لا نفاجىء بهذه الآيات ، فهذه هى النتيجة الحتمية لكل تعاليم بولس الرسول خلال كل الرسالة ، بل وهى أيضا صدى للعظة على الجبل على فم الرب يسوع : &#8221; أحبوا أعدائكم . باركوا لاعنيكم. أحسنوا الى مبغضيكم &#8221; (مت ٥ : ٤٤).</p>
<p>وهذا هو الميزان الذى بواسطته نعلم هل الكنيسة ، أية كنيسة ، هى كنيسة حية تسير حسب تعاليم الرب يسوع والرسل الأطهار ، أم حسب الأية : &#8221; فاذا كنتم تنهشون وتأكلون بعضكم بعضا ، فانظوروا لئلا تفنوا بعضكم بعضا &#8221; (غل 5: 15) .</p>
<p>†  والأن نأتى الى الآية العشرين :&#8221; فان جاع عدوك فأطعمه ، وان عطش فاسقه.</p>
<p>لأنك ان فعلت هذا تجمع جمر نار على رأسه&#8221;. بينما النصف الأول من الآية يتمشى تماما مع تعاليم بولس الرسول فى باقى الرسالة ، فان النصف الثانى يمثل صدمة أو حجر عثرة أمام الكثيرين . فهل جمع جمر نار ووضعه على رأس العدو يمثل نوعا من المحبة أو الشفقة عليه ؟ لأول وهلة تبدو الاجابة بالنفى . فالمفهوم هنا يعنى نوعا من الانتقام من العدو ، بينما النصف الأول من الآية يتوافق مع مثل الدينونة الأخير الذى طالبنا فيه الرب يسوع بعمل الرحمة مع الجميع ، الذين أسمائهم اخوته الأصاغر (مت ٢٥ : ٤٠).</p>
<p>لقد هاجمت الكنيسة الأولى مفهوم الانتقام الشخصى من العدو باتجاهين فى تفسير هذه الآية . الاتجاه الأول ويظهر فى كتابات بعض الآباء مثل القديس يوحنا ذهبى الفم ، وهو يشرح أنه ان صنعت خيرا مع العدو ، واستمر هو فى عداوته، فان هذه الاستمرارية تعرضه فى النهاية لحكم الله العادل فى الدينونة، وكأنك بذلك تؤكد قضاء الله فى اليوم الأخير . ونجد تلميحا لمفهوم جمر النار على رأس العدو فى سفر عزرا الرابع وهو من الأسفار الأبوكريفا اليهودية 🙁 لا يقل الخاطىء انه لم يخطىء ، لأن الله سوف يحرق جمر نار على رأس من يقول أنا لم أخطىء أمام الله وأمام مجده )  ( 4عز 16: 53) . وهناك تشبيه مجازى فى سفر المزامير يحمل نفس المعنى :&#8221; ليسقط عليه جمر ، ليسقطوا فى النار وفى غمرات فلا يقوموا &#8221;</p>
<p>(مز ١٤٠: ١٠).</p>
<p>يعزز سياق الآيات هنا هذا التفسير بعض الشىء. ففى أول الآيات يطلب بولس الرسول من المؤمنين ألا ينتقموا لأنفسهم ، بل يتركوا الانتقام لحكم الله . فعليك أن تصنع الخير مع العدو ، وأن تترك لله الحكم عليه . ومشكلة هذا التفسير أنه لا يتمشى تماما مع مفهوم محبة الأعداء. فأنا لا أصنع الخير لعدوى حتى أصب على رأسه غضب الله، ولا أقدم المعونة لمن يكرهنى لأكون سببا فى دينونته .</p>
<p>الأتجاه الثانى للتفسير نجده عند أوريجانوس وأوغسطينوس وجيروم وبيلاجيوس. وحسب رأى هؤلاء فان حرق جمر النار على رأس العدو تعبير عن الخزى والخجل الذى يصيب عدوك عندما تصنع معه خيرا . ان رد الاساءة بالاحسان يؤدى بالضرورة بمن صنعت بهم خيرا بمراجعة موقفهم ، ومن ثم يقودهم ذلك الى التوبة . يرد نفس هذا الشرح فى تعاليم اليهود الرابيين على سفر الأمثال (أم ٢٥ : ٢١ - ٢٢) ، وهى الآيات التى اقتبسها بولس الرسول هنا فى رسالة رومية :&#8221; ان جاع عدوك فاطعمه خبزا ، وان عطش فاسقه ماء، فانك تجمع جمرا على رأسه ، والرب يجازيك &#8221; . وأهمية هذا التفسير انه يتوافق مع سياق الرسالة ، كما أنه لا يتعارض مع مفهوم محبة الأعداء عموما فى المسيحية .</p>
<p>† فى بداية القرن العشرين ، ونتيجة للأبحاث الجيولوجية الخاصة بالكتاب المقدس، تم القاء بعض الضوء على تفسير آيتى رسالة رومية وسفر الأمثال . فيرى بعض العلماء أن آيات سفر الأمثال (25: 21 22) تعكس بعض مظاهر الحياة فى مصر القديمة . فالآية التالية مباشرة &#8221; ريح الشمال تجلب المطر &#8220;(أم ٢٥:٢٣ ) تفسيرية) تنطبق على حالة الطقس فى مصر وليس فى فلسطين .</p>
<p>فمن الممارسات الشعبية فى مصر القديمة، عندما كان يخطىء أحد الأشخاص فى حق آخر ، كان المخطىء يضع جمر نار فى اناء فخارى ويحمله على رأسه ويذهب به الى الشخص الذى أخطأ فى حقه . وجمر النار هنا ليس تعبيرا عن الخزى والخجل الذى يدفع للتوبة ، كما فى تفسير أوريجانوس وأغسطينوس ، ولكنه رمز للتوبة . وقد نشر عالم المصريات Siegfried  Morenz بحثا عن هذه العادة التى كانت متبعة فى مصر القديمة ، كما اكتشف العلماء الأوانى الفخارية التى كانت تستعمل فى حمل جمر النار على الرأس . فيكون المقصود من هذه الآية حسب الأبحاث أنك ان فعلت خيرا مع عدوك ، فان هذا الخير سوف يقوده الى التوبة ، فكأنه سيحمل على رأسه جمر نار كرمز لانتهاء هذه العداوة والبدء فى حياة جديدة يسودها الود والمحبة .</p>
<p>وبغض النظر عن التفسير الحرفى لهذه الآيات ، فاننا نعلم أن كل وصية فى الكتاب تحمل معها قوة على التنفيذ . وقد اختبر آباؤنا قوة هذه الآيات ، وكانوا يقومون بعمل الخير مع كل من يقصدهم حتى ولو كان يحمل لهم روحا عدوانية . وقد اختبروا جميعا قوة التغيير التى يحدثها فعل الخير فى الآخرين ، أكثر مئات المرات من قوة الاقناع أو المجادلة ، بل وأكثر أيضا من محاولة الدفاع عن النفس ولو حتى بالطرق المشروعة .</p>
<p>وقد أورد لنا كتاب بستان الرهبان هذه السيرة : يحكى عن راهب  مجاهد انه فى وقت أتاه اللصوص وقالوا له : &#8221; جئنا لنأخذ جميع ما فى قلايتك &#8221; ، فقال لهم : &#8221; خذوا ما شئتم أيها الأولاد &#8221; . فلما أخذوا جميع ما وجدوه مضوا ونسوا مخلاة مستورة بخوص ، فلما نظرها الشيخ أخذها وخرج يخطو ورائهم وهو يصيح ويقول :&#8221; يا بنى ، خذوا ما قد نسيتم &#8221; . فلما رأوا ذلك منه عجبوا من دعته وسلامة قلبه ، ردوا كل ما قد أخذوه الى قلايته . وقال بعضهم لبعض :&#8221; بحق ان هذا رجل الله &#8221; ،</p>
<p>وكان ذلك سبب توبتهم وتركهم ما كانوا عليه من اللصوصية .</p>
<p>كما يقص علينا أيضا بستان الرهبان هذه القصة : قصد الأب يوحنا الفارسى أناس أشرار خبثاء ، فأخذ ماء فى طست وغسل أقدامهم ، فما كان منهم الا أن احتشموا من اكرامه لهم ، فتابوا .</p>
<p>قدم لعدوك كأس ماء بارد وأظهر له المحبة المسيحية الحقيقية ، بدلا من مناقشته فى عداوته وتخطئة وجهة نظره . ومن أعطاك الوصية قادر أن يعطيك معها بركة طاعة الوصية . فان جاع عدوك فاطعمه خبزا ، وان عطش فاسقه ماء ، لانك ان فعلت ذلك ، فسوف تقوده الى التوبة وتكون بذلك قد ربحت أخاك الذى أمرك الانجيل أن تحبه ، حتى ولو كان غريبا عن جنسك .</p>
<p>وكما يقول الأب متى المسكين فى تفسيره لرسالة بولس الرسول لأهل رومية :</p>
<p>( أنا أطعم كل جائع فى شخص المسيح وكأنه المسيح ، وأسقى كل عطشان فى شخص المسيح وكأنه المسيح ، لأنى أحمل روح المسيح وحبه المجانى الذى أحبنى به وأنا كنت عدوا له . ان الانسان المسيحى لابد أن يعلن عن روح المسيح الذى فيه. فمن جهة عدوى أنا أظهر له روح المسيح الذى فى بحبى واطعامى له وسقيه ، الى هذا الحد أنا أكرز وكل ما أرجوه أن عدوى يحس بروح المسيح الذى فى<a href="#_ftn10" name="_ftnref10">[10]</a>  .</p>
<h4>القديس القمص بيشوي كامل</h4>
<p><strong>كيف أنمو في محبة المسيح (حزقيال ١٦ : ١ - ١٤)</strong></p>
<p>مقدمة :</p>
<p>في الحقيقة نحن نغالط أنفسنا حين نطلب أن نتعلم كيف نحب الله ، فنحن بهذا نضع الله في الصورة التي لا تليق به كأنه غير جذاب حتى أننا نغضب على محبته . ولو أننى تأملت محبة الرب التي جذبت المجدلية ومتى وزكا ويوحنا لأدركت مقدار جاذبية الله ومحبته لنا . أما محبتنا فهى طاقة موجودة فينا ينقصها التوجيه ، فحين نوجه الطفل نحو محبة العالم يصير إنساناً عالمياً ، ونحن نوجهه نحو محبة المسيح نخلق منه مسيحياً حقيقياً &#8221; لأن محبة الله قد انسكبت في قلوبنا بالروح القدس المعطى لنا &#8221; (رو ٥ : ٥) . إذن ، فنحن نملك إمكانية الحب بفعل الروح فينا ، وطالما اختبرنا فترات من الفتور الشديد التي تقطعها لمسات الروح فتلتهب قلوبنا بحب لا ندرى مصدره . إنه الروح القدس ، روح الحب الذى من عند الآب ينبثق . وفى تعبيرها الأرثوذكسى نؤمن أنه ينبثق من الآب في الابن ، فهو الذى يوحدنا مع المسيح بفعل محبته المنسكبة فينا .</p>
<p><strong>دواعى المحبة :</strong></p>
<p>قال الرب : &#8221; إن كنتم وأنتم أشرار تعرفون أن تعطوا أولادكم عطايا جيدة ، فكم بالحرى الآب الذى من السماء يعطى الروح القدس للذين يسألونه &#8221; (لو ١١ : ١٣) . لقد أخذت من الآب بركات كثيرة فما هو مقياسها ودليل الاستفادة منها ؟ إن امتلاء القلب بمحبة الله أكثر من كل شيء في الوجود هو دليل وعلامة الملء بالروح . ونحن حين ندرس الإصحاح ١٦ من سفر حزقيال تظهر لنا رعاية الله. فأورشليم هنا تعنى النفس البشرية التي يخاطبها الرب قائلاً : &#8221; كنت غريبة ، ويوم وُلدت لم تُقطع سُرتك ، وُلدت في خزى وعار ، وأوشك نزيف الخطية أن يهلكك . لم تُشفق عليك عين بسبب قذارتك فكرهوك . انقطع رجاء الكل في حياتك فتركوك للموت في دماء الخطية. أما أنا فلما مررت بك قلت لك : بدمك عيشى ، بدمك عيشى ! الخطية نزعت عنك ثياب النعمةً ، أما أنا فمررت بك وإذا زمنك زمن الحب &#8221; . حقاً لكل منا زمن اسمه زمن الحب ، فيه وزعنا محبتنا العالم بكل ما فيه ، مع أن الرب هو الوحيد الذى يستحق كل ما لدينا من حب .</p>
<p>+ &#8221; بسط ذيلى عليكى ، وسترت عورتك ، وحلفت لك ، ودخلت في عهد معك &#8221; . كان العهد القديم بدم تيوس وعجول أما العهد الجديد فقد كتبه المسيح بدمه على الخشبة. يا ليتنا ندخل في عهد مع الرب. &#8221; فصرت لى &#8221; ليس لندخل ضمن ملكية الله بل ليدخل الله ضمن ملكيتنا.</p>
<p>+ ثم يبدأ الرب في تجميلنا لتصبح نفوسنا عروساً له ، كما نرى في مثل الابن الضال. &#8221; حممتك &#8221; يشير إلى المعمودية التي يجب أن نتذكرها كل يوم حين نتلامس مع الماء أثناء غسيل الوجه أو الأيدى أو أثناء الاستحمام. لقد اغتسلنا بدم المسيح في المعمودية، ولو كانت لنا العين الروحية لرأينا المسيح يعمد وليس الكاهن. &#8221; مسحتك بالزيت &#8221; يعنى مسحة الميرون التي بها نثبت في الروح القدس. &#8221; ألبستك مطرزة &#8221; فقد صرنا نلبس الرب يسوع نفسه وينبغى أن نتذكر ذلك كلما ارتدينا ثيابنا.</p>
<p>+ &#8221; حليتك بالحلى ، فوضعت أسورة في يديك ، وطوقاً في عنقك ، وخزامة في أنفك ، وأقراطاً في أذنيك ، وتاج جمال على رأسك &#8221; أي أن الرب قد قدس حواسنا كلها.</p>
<p>&#8221; وأكلت السميذ والعسل والزيت &#8221; أي غذى نفوسنا بواسائط النعمة.</p>
<p>+ &#8221; وجملت جداً جداً فصلحت لمملكة ، وخرج لك اسم في الأمم لجمالك لأنه كان كاملاً ببهائى الذى جعلته عليك &#8220;. إن محبة الله لا تنقص أمام جحود الإنسان، ولعل ذبيحة الرب لآدم تؤكد لنا هذه الحقيقة، وما كانت هذه الذبيحة إلا رمزاً لذبيحة الصليب . إذن، نحن نملك طاقة حب كاملة والله لا ينقصه وصف لأن حلاوته كاملة، ولكن هناك أسباباً لفتور المحبة من جهتنا لما نكتشفها ونعالجها نقول للرب ما قالته العروس: &#8221; أنا لحبيبى وحبيبى لى &#8221; .</p>
<p><strong>أسباب فتور المحبة</strong></p>
<p><strong>١- الضيقات </strong></p>
<p>يعلمنا الرسول أن نفتخر في الضيقات إذ يقول: &#8221; نفتخر أيضاً في الضيقات عالمين أن الضيق يُنشئ صبراً والصبر تزكية والتزكية رجاء والرجاء لا يخزى &#8221; (رو ٥: ٣). كثيراً ما تهز الضيقات المادية محبتنا لله، وهكذا نحب الرب بقدر نجاحنا المادى أو الدنيوى. هذه ليست محبة!! الرسول لا يطلب منا أن نحتمل الضيقات، بل أن نفتخر بها إذ يرى محبة الله خلالها.</p>
<p>+ كنت أزور فتاة مريضة لازمت فراشها ثلاثة اشهر بألم شديد ، سألتها عما استفادته من هذه التجربة ، فقالت: لقد فهمت الآن قيمة نفسى تماماً. ولو أن ألف إنسان حدثونى عن التواضع لما استفدت منهم كما استفدت من مرضى، شكراً لمحبة الله ودروسه الحلوة. لقد اعطى الرب لهذه الفتاة فضيلة التواضع في ثلاثة أشهر بينما يجاهد القديسون لأجلها سنوات طويلة. الضيقات هي عمليات تجميل يجريها الرب في نفوسنا لتصير لائقة بعرسه المبارك. لهذا يصلى المرنم: &#8221; ابلنى يارب وجربنى، نق قلبى وكليتى &#8220;!! هل يطلب الإنسان البلوى والتجربة؟ ! نعم إن كانت هي طريق النقاوة! ليتنا ندرك هذا السر فنشكر الله ونفرح بتجاربه المتنوعة (يع ١: ٢ – ٥) .</p>
<p><strong>٢- الخطية</strong></p>
<p>هذه تطفئ محبة الله في القلب، فمع أننا ننادى الرب طوال النهار: &#8221; يا أبانا الذى في السماوات &#8221; ، إلا أننا نجرح أبوة قلبه كل حين بخطايانا الكثيرة ، متجاهلين أن الرب يحبنا بالقدر الذى به يحب ابنه الوحيد . ليتنا نعتبر الخطية في ضوء محبة الله، فالخطية إساءة لهذه المحبة. نحن نجرح المسيح، ولكنه يتألم لأجلنا. متى يصير شعورنا نحو الخطية مرهفاً جداً؟ ! .</p>
<p>ما هي نظرتنا نحو خطايا الآخرين؟ هم جرحوا المسيح؟ فليكن ونحن حينما ندينهم نضاعف جراحاته ! خطيه الإدانة تجرح المسيح مضاعفاً. ليتنا نضمد جراحات يسوع لما نراه مجروحاً فنبحث عن البعيدين ونجدبهم إلى بيت الرب كإعلان عن محبتنا له . أعرض ليسوع خطاياك وتب عنها، وتب أيضاً عن خطايا زملائك فتكسبهم للمسيح.</p>
<p>التوبة هي أهم علامات الحب.</p>
<p>والمجدلية قدمت لنا أعمق درس في الحب إذ غفرت لها خطاياها الكثيرة لأنها أحبت كثيراً . ومن التوبة يتولد أختبار الدين ؛ أنا مدين للمسيح بحياتى التي أعطاها لى بموته . يا ليتنى أرفع رأسى نحو الصليب وأسأل نفسى : هل سددت ما على من دين ؟ هل أعطيت الرب كرامتى وصحتى وشبابى ؟ حتى هذا كله لا يوفى شيئاً ! .</p>
<p>اختبار التوبة يعطينا إحساساً بالشكر ، فنرفع قلوبنا كل يوم وفى كل مكان ونردد اسم يسوع قائلين : ياربى يسوع المسيح ارحمنى ، ياربى يسوع المسيح احرسنى ، ياربى يسوع المسيح اغفر لى ، ياربى يسوع المسيح ارع حياتى .. اذكر اخوتى .. أنا لك وأنت لى .. وهكذا ، هذه الصلوات القصيرة تولد في القلب محبة شديدة للمسيح بالروح القدس المنسكب فينا كتيار نازل من السماء ، يثمرفينا شكراً دائماً ، وصلاة متواترة ، وحديثاً حاراً عن الرب .</p>
<p>محبة الله لا يستطيع إنسان أن يتكلم عنها ، هي عطية الروح تغمرنا إذا طلبناها بصدق ومثابرة . ولربنا المجد إلى الأبد ، آمين<a href="#_ftn11" name="_ftnref11">[11]</a> .</p>
<h4>المتنيح القمص لوقا سيداروس</h4>
<p>(لو ٦ : ٢٧ – ٣٨)</p>
<p>وصايا المسيح</p>
<p>أحبوا أعداءكم . باركوا لاعنيكم . أحسنوا إلى مبغضيكم وصلوا لأجل الذين إليكم ويضطهدونكم .</p>
<p>وصاياه ليست ثقيلة</p>
<p>قد تبدوا وصايا المسيح صعبة التنفيذ . وفى بعض الأحيان يتخيل الإنسان أنه يستحيل عليه أن يعمل هكذا . فيقف من بعيد يسأل نفسه ، ويسأل الناس &#8230; هل هذه الوصايا معقولة ؟ وهل أنا قديس حتى يطلب منى هكذا ؟ !  والواقع أن مناقشة الوصية شيء . وتنفيذها شيء أخر &#8230; القديس يوحنا الحبيب يؤكد لنا : &#8221; وصاياه ليست ثقيلة &#8221; . بل ان الرب يسوع يؤكد : &#8221; إحملوا نيرى عليكم &#8230; لأن نيرى هين وحملى خفيف &#8221;</p>
<p>تنفيذ الوصية</p>
<p>الإنسان بذاته كان عاجزاً عن تنفيذ الناموس في العهد القديم . والجميع زاغوا وفسدوا وأعوزهم مجد الله &#8221; &#8230; &#8221; ليس من يعمل صلاحاً &#8221; . لأن ناموس الخطية كان يعمل في الإنسان ويسبيه ويتسلط على إرادته . وبينما يريد أن يعمل الخير يجد الشر حاضراً أمامه ، ويجد نفسه مرغماً على عمل الشر .</p>
<p>والقديس بطرس الرسول يصرخ بلسان الإنسان قبل المسيح : &#8221; ويحى أنا الإنسان الشقى ، من جسد هذا الموت ؟ &#8221; . فإن كان الإنسان عاجزاً هكذا عن طاعة الناموس القديم ، فكم يكون الحال مع وصايا المسيح الفائقة للطبيعة ؟ !</p>
<p>الله هو العامل فينا</p>
<p>المسيحية ليست وصايا وأوامر وفروض يقف أمامها الإنسان عاجزاً . ولكن المسيحية هي حياتنا بالمسيح ، أو حياة المسيح فينا . نحن لم نأخذ وصايا وناموس . بل نأخذ قوة حياة تعمل فينا ، وناموس روح الحياة في المسيح ، يعتقنا من ناموس الخطية والموت . المسيح لم يعلم وصايا جوفاء . لم يعط قوانين وأوامر لتلاميذه &#8230; المسيح أعطى نفسه ، أعطى جسده ودمه وروحه . لكى يجدد الحياة كلها . ويرفعها إلى مستوى السماويات &#8230; فالوصايا التي نطق بها المسيح له المجد ، مناسبة جداً لإنساننا الجديد  . وموافقة تماماً لحياتنا الجديدة في المسيح . بل طبيعية جداً للخليقة الجديدة .</p>
<p>+ فكل من هو متمتع بطبيعته الجديدة التي أخذناها في المعمودية ومتمتع بحياة المسيح فيه ، وبإتحاده مع المسيح ، يعرف طبيعة الوصايا ، ويدرك لم هي صالحة ومقدسة ونافعة .</p>
<p>+ أحبوا &#8230; باركوا &#8230; أحسنوا &#8230; صلوا :</p>
<p>هذه هي ملامح طبيعتنا الجديدة . وثمر الروح القدس في إنساننا الباطن . بل نستطيع أن نقول أن الإنسان الحى بالمسيح لابد أن يكون في مكان المحبة والبركة والإحساس والصلاة &#8230; ولا يمكن أن يصدر عنه عداوه أو لعنة أو بغضة أو إساءة أو إضطهاد &#8230; إذ هو مقود بالروح القدس . ويسلك بحسب المسيح ، وفى المسيح .</p>
<p>الوصية ترفعنا</p>
<p>وصايا المسيح ترفعنا إلى ما فوق الإنسان الطبيعى ، وتجعلنا أعلى من مستوى مواجهة الشر &#8221; لا تقاوموا الشر بالشر . إغلبوا الشر بالخير &#8221; &#8230; إن جاع عدوك إطعمه ، وإن عطش إسقيه &#8221; الوصية ترفعنا من مواجهة الإنسان المعتدى علينا إلى . مواجهة الله : &#8221; نشتم فنبارك &#8221; &#8230; هنا ينتقل الإنسان من الوقوف أمام إنسان . إلى الوقوف أمام الله كإبن لله . ما أعظم شر هذه الوصايا !</p>
<p><strong>هدف الوصية</strong></p>
<p>الحياة المسيحية بجملتها هي شهادة المسيح فينا . وإعلان المسيح للعالم كله ، حتى للأشرار والمعتدين &#8230; والوصية هي التي تظهرنا أبناء الله ، وأبناء للنور : &#8221; لكى تكونوا أبناء أبيكم الذى في السموات ، فإنه مشرق شمسه على الأبرار والظالمين &#8221; . بدون تنفيذ الوصية لا يستعلن أبناء الله للعالم ، ولا يستعلن المسيح أمام الأشرار كمخلص العالم</p>
<p><strong>قوة الوصية</strong></p>
<p>الوصية تحمل روح المسيح : &#8221; الكلام الذى أكلمكم به روح وحياة &#8221; . إذاً الوصية قوية وجبارة . &#8221; وأمضى من كل سيف ذى حدين &#8221; . لو تمسكنا بها كما هي بلا محاولة للتحوير أو التبسيط ، نكون قد تمكنا بسلطان إلهى وإقتداء عجيب .</p>
<p>+ داود النبى : قبل الأزمنة إستطاع بروح المسيح أن يحسن إلى شاول الذى كان يسعى وراءه ليقتله &#8230; فكسر شره وأخجل كبرياؤه .</p>
<p>+ أحد الآباء الرهبان : لطمته شابه بها روح نجس ، فأدار لها الخد الآخر . فصرخ الشيطان وخرج منها كأنه إحترق بوصية المسيح في الحال.</p>
<p>+ القديس باخوميوس : صار مسيحياً لأنه رأى المسيحيين يحسنون إلى الجنود الوثنيين الذين يضطهدونهم ويطلبون أن يقتلوهم .</p>
<p>+ إحتمال الشهداء وصبرهم وصلواتهم من أجل الذين عذبوهم وقتلوهم . صيرت العالم كله مسيحياً بلا سيف وبلا قوة بشرية .</p>
<p>+ &#8221; إن أحببتم الذين يحبونكم فأي فضل لكم ؟ ! &#8221; .</p>
<p>المسيحية عطاء وبذل : ومغبوط هو العطاء أكثر من الأخذ &#8221; وهذا العطاء هو بذاته الذى عمله المسيح معنا وفينا ، حينما بذل ذاته من أجل الخطاة. البار من أجل الأثمة &#8230; ولم يكن المسيح يرجو شيئاً. ولا يطلب شيئاً عوضاً عن بذله وعن حبه . هذا ما يريده المسيح محققاً في حياتنا وطبيعتنا الجديدة ، البذل والعطاء بلا مقابل ، والحب بلا منفعة ، والخدمة بلا هدف أرضى . توجد محبة للمنفعة ، وخدمة وصداقة للمحبين ، والأصدقاء والمجاملين &#8230; هذه في الواقع تكون لحساب الذات البشرية لأنها وحدها المستفيدة من المجاملات – تعطى لنأخذ ونقرض لنسترد &#8230; مثل هذه الأمور يعملها الأشرار والخطاة مع بعضهم . فأين فضل مسيحيتنا إذن ؟ ! إن أحببنا أحباءنا وجاملنا أصدقاءنا فقط . فإننا لم نتعد مستوى الناس الطبيهين الأخلاقيين .</p>
<p>المسيحية ترفع بنا فوق المستوى إلى فوق حيث المسيح جالس &#8230; المسيحية حب للمحتقرين وللضعفاء ، وبذل الخطاة ، ومحبة للأعداء ، وغفران للصالبين ، وصلاة من أجل المضطهدين &#8230; هذه الأمور لا يستطيع أن يعملها الأشرار . وهذا هو ما يميز الإنسان المسيحى ، ويظهره إبناً لله أمام جميع الناس<a href="#_ftn12" name="_ftnref12">[12]</a> .</p>
<h4>المتنيح القمص تادرس البراموسي</h4>
<p>الأحد الرابع من شهر باؤنة المبارك</p>
<p>أحبوا أعدائكم باركوا لاعنيكم صلوا لأجل الذين يسئون اليكم (لو ٦ : ٢٧ – ٣٨)</p>
<p>أراد الرب يسوع له المجد أن يعلمنا مبدأ جوهرياً وهو أفضل طريق لمقاومة الشر في العالم ليس الموافقة القوية بل احتماله بالحكمة المسيحية. فمن احتمل الظلم أكراماً للرب يسوع ولأجل غايات روحية يظهر القوة الحقيقية . لا الجبن والضعف . والذى يبادر إلى الانتقام ممن يعتدى عليه . والسريع الغضب ومحب الخصام والقدرة في طلب كل حقوقه . خروج هذا الإنسان مغايرة لروح المسيح ويمدحه العالم لا الرب خلاف ذاك الذى يحمل الإهانة بالصبر لأجل اسم المسيح . فأنه يجازى بإكرام أبدى . وقول الرب يسوع وكما تريدون أن يفعل الناس بكم افعلوا أنتم أيضاً بهم هكذا . وهذه القاعدة تتنافى مع حب الذات والبغضه والانتقام والنميمة والغش أثبتت وحده الشر وقساوة جميع أفراده أي توجب بكل واحد أن بطلب منفعة غيره . ولنا من ذلك أن يفعل الإنسان بغيره شراً من فعل ذلك للغير فعل شيطانى وفعله للغير مثل فعله له . فهذا فعل وثنى . وفعله مثل ما يريده للغير فهذا فعل مسيحى . وفعله للغير أفضل ممن فعله الغير فهذا فعل ألهى . نعم أنها قاعدة وجيزة لكن السلوك بموجبها ينفى الخصومات والحروب ويجعل الأرض فردوس وتنفى عن أكثر شرائع العالم وهى لا تنفى حب الذات الطبيعى بل تجعله قياساً لحب الغير وعلى ذلك يكون حبنا الغريزى منفعة لأنفسنا وخادم للعدل والإحسان وهذه القاعدة هي خلاصه كل تعاليم الناموس والأنبياء لان غايتها أن تجعل كل واحد من الناس يحب غيره كنفسه . فالذى يفعل ذلك مطيعاً يكون مثل الأب السماوى . الذى ينعم على الابرار والأشرار والذين يعاملون الآخرين باللطف والمحبة والرحمة نظير أبيهم الرحيم الذى أفعال الرحمة عنده لا تخص . فلهذا يجب على كل من أدعى أنه أبن الله يتشبه بأبيه السمائى ولا يضمر ولا يكف عن عمل الخير وأظهار المحبة والإحسان على الأعداء والمقربين والمستفيدين من هذه الأقوال لان الإنسان إذا عمل الخير وأظهر اللطف والرأفة وعامل الناس بالمحبة والصبر وطول الأناة لا يصيبه بذلك ضرراً ولا يلحقه أي خسارة ولابد له أن يرى نفسه أخيراً قد ربح ربحاً عظيماً ويحصد ما زرعه أن لم يكن في هذه الحياة بلا شك أنه سيرث الحياة الأبدية ويتمتع مع المسيح والقديسين</p>
<p><strong>العظة الأولى</strong></p>
<p>أ – الفرق بين عصر الناموس وعصر النعمة</p>
<p>ب – سمو الديانة المسيحية وحب الأعداء</p>
<p>ج – سمو الديانة المسيحية في العطاء</p>
<p>د – سمو الديانة المسيحية في الصبر</p>
<p>ه - سمو الديانة المسيحية في الشكر والسخاء</p>
<p>و – سمو الديانة المسيحية في الحب بدون مقابل</p>
<p>ذ – لا تشابه بين العالم والمسيحية</p>
<p>ح – صنع الخير حتى مع الأعداء</p>
<p>ط – عدم الدينونة وسلب الآخرين</p>
<p>ى – الحب المضحى والعطاء المقبول</p>
<p><strong>العظة الثانية</strong></p>
<p>أ – شريعة الكمال ونعمة البنوة</p>
<p>ب – كيف نستطيع السلوك في هذه الشريعة</p>
<p>ج – شريعة التسامح وترك المعاصى</p>
<p>د – السلوك الصحيح وحب الجريح</p>
<p>ه - المجازاة عن الشر بالخير</p>
<p>و – محبة العطاء ونتشبه بأبن الله</p>
<p>ذ – عدم مشابهة أهل العالم بل نقتدى بالمسيح</p>
<p>ح – التحرر من الأرضيات والتمسك بالسمائيات</p>
<p>ط – نشكر الله ونعطى بسخاء</p>
<p>ى – لنكن رحماء لننال رحمة السماء</p>
<p>ك – نبعد عن الإدانة والنميمة والحكم الظالم على الأبرياء</p>
<p>ل – عدم الحقد على الآخرين</p>
<p>م – في العطاء شركة مع الفقراء</p>
<p>ن – لنسهر لان خطواتنا معدودة وسلوكنا محسوب</p>
<p><strong>العظة الثالثة</strong></p>
<p>أ – مغبوط السمع أكثر من الكلام</p>
<p>ب – نحتمل من يشتمنا ونكمل الوصية</p>
<p>ج – فضيلة الاحتمال تشبهاً بالمسيح</p>
<p>د – طاعة المسيح وحفظ الوصية</p>
<p>ه - عدم طلب الكرامة بل الهروب منها</p>
<p>و – حب الأعداء والبعد عن الشر</p>
<p>ذ – لا نشاكل الخطاة لمحبتكم للمنفعة</p>
<p>ح – لا نحصر حبنا في أقربائنا بل نحب الجميع</p>
<p>ط – لا تغلق أحشائك أمام المحتاجين</p>
<p>ى – لا تنتظر أجراً ممن تخدمه بل أنتظر ممن يعطى بسخاء</p>
<p><strong>العظة الرابعة</strong></p>
<p>أ – لا تدينوا لان الدينونة جرح لا يندمل</p>
<p>ب – أن أردنا رضا الله نغفر للجميع</p>
<p>ج – سلوكنا في الطريق ونتبع الرفيق ونعيش في رضاه</p>
<p>د – نسعى للخلاص ونعمل بالوصية</p>
<p>ه - نعطى من يطلب منا ولا نرفض الفقير</p>
<p>و – نعامل الناس بما يمجد الله</p>
<p>ذ – نحب الأعداء ليروا أعمالنا</p>
<p>ح – حب وأحسان وعطاء</p>
<p>ط – أن دنا الآخرين نهدم الفضيلة</p>
<p>ى – نام مظلوم أفضل من أن تنام ظالم</p>
<p>ز – من ظلم يظلم لان الأجرة من نفس العمل<a href="#_ftn13" name="_ftnref13">[13]</a></p>
<h4>من وحي قراءات اليوم</h4>
<p>&#8221; اغفروا يغفر لكم &#8221; (لو ٦: ٣٧)</p>
<p>الغفران كلمة ماأعذبها وسلوك أحيانا ماأصعبه</p>
<p>إذا كنت تغفر فإعلم أن النعمة الإلهية هي التي أعطتك هذه النعمة لأن الغفران نعمة إلهية وليست قدرة بشرية</p>
<p>الغفران دليل ملء الروح في كياننا الداخلي</p>
<p>فرق كبير جدا بين إنسان لايقدر أن يغفر وآخر لايريد</p>
<p>النعمة تعطي القدرة على الغفران لكن يجب توفر الإرادة المخلصة والصلاة الدائمة</p>
<p>الغفران لايتعارض مع وضع حدود للتعامل مع البعض لكنه يتعارض مع وضع حدود للحب والصلاة لأجلهم</p>
<p>عندما نري من أساءوا إلينا كضحايا لغياب الحب في حياتهم ربما تتغير نظرتنا إليهم</p>
<p>لاتنشغل بمدي إساءات الآخرين لك بقدر إنشغالك بمدي إمتلاؤك داخليا من سكيب الروح وغناه</p>
<p>الصلاة من أجل المسيئين تغيّر وتفيد كثيرا من يصلي تجاه من أساء إليه</p>
<p>&#8221; حينما تمتلئ النفس من ثمار الروح تتعري تماما من الكآبة والضيق والضجر وتلبس الإتساع والفرح بالله وتفتح في قلبها باب الحب لسائر الناس &#8221; مار إسحق</p>
<h3>المراجع:</h3>
<p><a href="#_ftnref1" name="_ftn1"></a>١- المرجع: كتاب تفسير إنجيل لوقا للقديس كيرلس الأسكندري (صفحة ١٣٧) - ترجمة دكتور نصحي عبد الشهيد<a href="#_ftnref2" name="_ftn2"></a></p>
<p>Jr, A.J. &amp; Oden, T.C. (2003). Luke (The Ancient Christian Commentary on Scripture, New Testament part III ). Illinois (U.S.A): InterVarsity Press. Pages 109 ,110,111</p>
<p>٢- ترجمة الأخت إيفيت منير - كنيسة مار مرقس ببني سويف</p>
<p><a href="#_ftnref3" name="_ftn3"></a>٣- المرجع : كتاب نقاوة القلب في المفهوم الكتابي والآبائي صفحة ١٠١٥ - إعداد أحد الآباء الرهبان بدير السيدة العذراء &#8221; برموس &#8221;</p>
<p><a href="#_ftnref4" name="_ftn4"></a>٤- المرجع : كتاب نقاوة القلب في المفهوم الكتابي والآبائي (صفحة ١٠٢٤) - إعداد أحد الآباء الرهبان بدير السيدة العذراء &#8221; برموس &#8221;</p>
<p><a href="#_ftnref5" name="_ftn5"></a>٥- المرجع : كتاب نقاوة القلب في المفهوم الكتابي والآبائي (صفحة١٠١٢ ) - إعداد أحد الآباء الرهبان بدير السيدة العذراء &#8221; برموس &#8221;</p>
<p><a href="#_ftnref6" name="_ftn6"></a>٦- Jr, A.J. &amp; Oden, T.C. (2003). Luke (The Ancient Christian Commentary on Scripture, New Testament part III ). Illinois (U.S.A): InterVarsity Press. Pages 108,110,111</p>
<p>ترجمة الأخت إيفيت منير - كنيسة مار مرقس ببني سويف</p>
<p><a href="#_ftnref7" name="_ftn7"></a>٧- المرجع : كتاب سياحة القلب ( صفحة ١٣٢ ) - القمص أشعياء ميخائيل - كنيسة رئيس الملائكة ميخائيل بالظاهر</p>
<p><a href="#_ftnref8" name="_ftn8"></a>٨- كتاب سياحة القلب صفحة ١٢٨ - ترجمة القمص إشعياء ميخائيل - كنيسة رئيس الملائكة ميخائيل بالظاهر</p>
<p><a href="#_ftnref9" name="_ftn9"></a>٩- المرجع : كتاب إختبرني يا الله (صفحة ٤٤) - قداسة البابا تواضروس الثاني</p>
<p><a href="#_ftnref10" name="_ftn10"></a>١٠- المرجع : كتاب مفاهيم إنجيلية ( صفحة ٣٢٢ ) - الأنبا إبيفانيوس أسقف ورئيس دير القديس الأنبا مقار</p>
<p><a href="#_ftnref11" name="_ftn11"></a>١١- المرجع : الكتاب الشهري للشباب والخدام عدد ديسمبر ٢٠٠٤ - إصدار بيت التكريس لخدمة الكرازة</p>
<p><a href="#_ftnref12" name="_ftn12"></a>١٢- المرجع : كتاب تأملات روحية في قراءات أناجيل آحاد السنة القبطية صفحة ٤٣٦ - كنيسة مار جرجس سبورتنج</p>
<p><a href="#_ftnref13" name="_ftn13"></a>١٣- المرجع : كتاب تأملات وعناصر روحية في آحاد وأيام السنة التوتية صفحة ٢١٩ - إعداد القمص تادرس البراموسي</p>

      {% endcreateArticleAccordions %}
    </section>
  {% endblock %}
