---
layout: 'layouts/reading.html'
title: '&#8211; الأحد الاول من شهر ابيب'
permalink: sundays/11-1.html
---
  {% block content %}
    <section id="readings">
      <ul>
      {% if 'undefined' != 'undefined' %}
      
      {% else %}
      {% if '19.20:6-9' != 'null' %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">العشية</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeVespers '19.20:6-9' '42.9:1-6' %}
          </div>
        </div>
      </li>
      {% endif %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">باكر</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeMatins '19.31:23,19' '40.28:1-20' '' %}
          </div>
        </div>
      </li>
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <h3 class="flex items-center justify-between">
            <span class="kufi">القداس</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </h3>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeLitugy '46.9:1-27' '60.1:1-12' '44.5:12-21' '19.89:7' '42.10:1-20' %}
          </div>
        </div>
      </li>

      {% endif %}
        </ul>
    </section>
    <section id="article">
      <h3 class="mt-8 mb-4 heading-explain">شرح القراءات</h3>
      {% createArticleAccordions %}
        <p></p>
<p></p>
<p></p>
<p>ما اجمل على الجبال قدمي المبشر بالخير المخبر بالسلام المخبر بالخلاص &#8221; (اش ٥٢: ٧)</p>
<p>في كل الارض خرج منطقهم والي أقصى المسكونة كلماتهم &#8221; (مز ١٩: ٤)</p>
<p>&#8221; لكنكم ستنالون قوة متي حل الروح القدس عليكم وتكونون لي شهودا في اورشليم وفي كل اليهودية والسامرة والي اقصي الارض &#8221; (أع ١: ٨)</p>
<p>&#8220;ايها السيد الرب يسوع المسيح الهنا الذي ارسل تلاميذه القديسين المكرمين ورسله الأطهار في العالم كله   ليكرزوا بإنجيل ملكوتك ويعلموا كل الأمم معرفتك الحقيقية &#8221;</p>
<p>أوشية الإنجيل الثانية</p>
<p>&#8221; آمنت المرأة السامرية على الفور، وبذلك اتضح أنها أكثر حكمة من نيقوديموس، بل وأكثر شجاعة وثباتًا. لأن نيقوديموس بعد أن سمع قدر ما سمعت المرأة آلاف المرات لم يذهب ويدعو آخرين لسماع هذه الكلمات، ولا تحدث بصراحة على الملأ. لكن هذه المرأة فعلت ما لم يفعله الرسل، إذ قامت بالكرازة للجميع تدعوهم إلى المسيح. بذلك قادت مدينة بأكملها إلى الإيمان بيسوع المسيح<a href="#_ftn1" name="_ftnref1">[1]</a> &#8221;</p>
<p></p>
<p></p>
<h3>شواهد القراءات</h3>
<p></p>
<p>(مز ١٩: ٧-١٠)، (لو ٩: ١-٦)، (مز ٣٠: ١٩-٢٦)، (مت ٢٨ : ١-٢٠) ، (١كو ٩ : ١-٢٧) ، (١بط ١ : ١-١٢) ، (أع ٥: ١٢-٢١)، (مز ٦:٨٨)، (لو ١٠: ١-٢٠)</p>
<p></p>
<p></p>
<h3>ملاحظات على قراءات اليوم</h3>
<p></p>
<p>+ قراءة إنجيل عشيَّة اليوم (لو ٩: ١ &#8211; ٦) هي نفس قراءة إنجيل عشيَّة يوم ٢٢ بابه (تذكار لوقا الإنجيلي الرسول)</p>
<p>وهي القراءة التي تكلَّمت عن دعوة التلاميذ الإثني عشر لذلك جاءت اليوم لأجل عيد آبائنا الرسل الأطهار (٥ أبيب) الذي يأتي في توقيت هذه الأيَّام وأيضاً في هذا الأحد لأجل الآية &#8221; وأرسلهم ليكرزوا بملكوت الله &#8221; وهي موضوع قراءات شهر أبيب كله</p>
<p>+ مزمور باكر اليوم (مز ٣٠: ٢٦ &#8211; ١٩) جاء أيضاً في مزمور عشيَّة يوم ٢٦ مسري (شهادة القديس موسي وسارة أخته)، وجاءت آية ١٩ أيضاً في مزمور باكر الأحد الأوَّل من شهر توت</p>
<p>وهو المزمور الذي يتكلَّم عن محبَّة القديسين للرب، مثل القديس موسي وسارة أخته (٢٦ مسري)، والقديس يوحنا المعمدان</p>
<p>(الأحد الأوَّل من شهر توت)، والآباء الرسل (الأحد الأوَّل من شهر أبيب)</p>
<p>+ قراءة الكاثوليكون اليوم (١بط ١: ١ &#8211; ١٢) تُشبه قراءة الكاثوليكون (١بط١: ٣ &#8211; ١٢) لثاني يوم عيد الصليب، ٩ هاتور</p>
<p>(تذكار مجمع نيقية المسكوني)، ٢٢ كيهك (تذكار الملاك غبريال)، ٣ نسئ (تذكار الملاك روفائيل)</p>
<p>وهي القراءة التي تكلمت عن الخلاص بالصليب الذي فتش وبحث عنه أنبياء (عيد الصليب)، وعن الذين بشروكم في الروح القدس مثل الآباء الرسل (١٢ بابه)، وعن نقاوة هذا الإيمان والشهادة له (٩ هاتور) ،وأنه شهوة الملائكة ( ٢٢ كيهك ، ٣ نسئ )</p>
<p>كما يأتي جزء من هذه القراءة (١بط ١: ١ &#8211; ٩) في تذكار البابا بطرس خاتم الشهداء (٢٩ هاتور)، والإختلاف هنا هو في مجئ القراءة من بداية الإصحاح (بطرس رسول يسوع المسيح &#8230;) ، ورُبما يكون هنا سبب القراءة أي إسم القديس بطرس، وهو نفس السبب لمجيئها في الأحد الأوَّل من شهر أبيب ( إضافة أوَّل آيتين اللتان ذُكِرَفيهما إسم القديس بطرس لإرتباط قراءة هذا الأحد بعيد آبائنا الرسل الأطهار )</p>
<p>قراءة الإبركسيس اليوم (أع ٥: ١٢ &#8211; ٢١) تُشبه قراءة الإبركسيس (أع ٥: ١٢ &#8211; ١٨) ليوم ١٢ بابه (تذكار متي الإنجيلي) +</p>
<p>والجزء المُضاف في قراءة الأحد يُشير إلى إنقاذ الملاك للآباء الرسل من السجن، وكرازتهم بالحياة الأبدية لكل الشعب في الهيكل</p>
<p>+ قراءة إنجيل القدَّاس اليوم (لو ١٠: ١- ٢٠) هي نفس قراءة إنجيل القدَّاس ليوم أول طوبي (شهادة القديس إستفانوس أوَّل الشمامسة) ونفس قراءة إنجيل عشيَّة يوم ١٤ بابه (تذكار فيلبس الشمَّاس) ، ونفس قراءة إنجيل القدَّاس يوم ٢٢ بابه (تذكار لوقا الإنجيلي الرسول)</p>
<p>ونري هنا أن الكنيسة رتَّبت قراءة دعوة الرب للإثني عشر (مت ١٠: ١- ١٥) كقراءة لإنجيل قدَّاس عيد آبائنا الرسل (٥ أبيب) بينما رتَّبت قراءة دعوة الرب للسبعين رسولاً ( لو ١٠ : ١ &#8211; ٢٠ ) كقراءة لإنجيل قدَّاس الأحد الأوَّل من شهر أبيب</p>
<p></p>
<p></p>
<h3>شرح القراءات</h3>
<p></p>
<p>تتكلم المزامير عن عمل الرب مع الكارزين</p>
<p>تبدأ المزامير بإستجابة الرب للكارزين (مزمور عشيّة) وأمانته معهم (مزمور باكر) ومجده فيهم (مزمور القدَّاس)</p>
<p>لذلك يبدا مزمور عشية بخلاصه واستجابته لهم (الان علمت ان الرب قد خلص مسيحه يستجيب له من سماء قدسه)</p>
<p>ويوضح مزمور باكر مكافئة الرب لكارزيه الامناء (أحبوا الرب ياجميع قديسيه لان الرب يحفظ الامناء مااعظم جودك يارب الذي ذخرته للذين يخافونك)</p>
<p>ويعلن مجده فيهم في مزمور القداس (الله الممجد في مؤامرة القديسيين عظيم هو ومرهوب على جميع الذين حوله)</p>
<p>اما انجيل عشيّة فيتكلم عن دعوة الرب للاثني عشر وتتلخص الدعوة في العطية والارسالية والوصية فهو اعطاهم سلطان علي الشيطان وارسلهم للكرازة واوصاهم في الطريق (ودعا تلاميذة الاثني عشر واعطاهم قوة وسلطانا علي جميع الشياطين وشفاء الامراض وارسلهم ليكرزوا بملكوت الله ويشفوا المرضي وقال لهم لاتحملوا شيئا للطريق لاعصا ولامزودا ولاخبزا ولافضة )</p>
<p>تتكلّم القراءات عن سلطان الكارزين ( البولس ) وموضوع الكرازة ( الكاثوليكون ) ومساندة السماء ( الأبركسيس )</p>
<p>في البولس يتكلَّم القديس بولس عن صدق رسوليته (الست انا رسولا الست انا حرا اما رايت يسوع المسيح ربنا الستم أنتم عملي في الرب)</p>
<p>ويوضح سلطان الكارز (اليس لنا سلطان ان ناكل ونشرب اليس لنا سلطان ان تتبعنا اخت زوجة كباقي الرسل واخوة الرب وكيفا ام انا وبرنابا وحدنا ليس لنا سلطان ان لا نشتغل )</p>
<p>لكنه يتنازل عن هذا السلطان لاجل الانجيل (لكننا لم نستعمل هذا السلطان، بل نتحمل كل شئ لئلا نجعل عثرة لانجيل المسيح)</p>
<p>بل ويعتبر الكرازة التزام (لانه ان كنت ابشر فليس لي فخر اذ الضرورة موضوعة علي فويل لي ان كنت لا ابشر )</p>
<p>ويتنازل عن حريته الشخصية بالكامل لاجل الاخرين (فاني اذ كنت حرا من الجميع استعبدت نفسي للجميع لاربح الاكثرين فصرت لليهود كيهودي لاربح اليهود)</p>
<p>ويختم بحرصه الشديد على خلاص نفسه (بل اقمع جسدي واستعبده حتى بعد مابشرت للاخرين لااصير انا نفسي مرفوضا)</p>
<p>بينما يعلن الكاثوليكون ان الكرازة بالملكوت وبالخلاص كانت شهوة الانبياء في القديم وتنباءوا عنها وعن كل مجد العهد الجديد ( نائلين غاية ايمانكم خلاص انفسكم الخلاص الذي فتش وبحث عنه الانبياء الذين تنباءوا عن النعمة التي صارت فيكم وبحثوا عن الزمن الذي كان يدل عليه روح المسيح المتكلم فيهم اذ سبق فشهد علي الام المسيح والامجاد الاتيه بعدها الذين اعلن لهم لانهم لا لانفسهم كانوا يعملون بل جعلوا نفوسهم لكم خداما بهذه الامور التي اخبرتم بها انتم الان بواسطة الذين بشروكم  بالروح القدس المرسل من السماء  والتي تشتهي الملائكة ان تطلع عليها )</p>
<p>ويعلن الابركسيس مساندة السماء للكارزين وللكرازة سواء بالايات والعجائب او بانقاذهم من الضيقات (وجرت على ايدي الرسل ايات وعجائب كثيرة في الشعب &#8230;&#8230; فقام رئيس الكهنة وجميع الذين معه الذين هم شيعة الصدوقيين وامتلأوا غيرة فألقوا ايديهم علي الرسل ووضعوهم في حبس العامة ولكن ملاك الرب فتح ابواب السجن في الليل واخرجهم وقال اذهبوا وكلموا الشعب في الهيكل بجميع كلام هذه الحياة فلما سمعوا بكروا ودخلوا الهيكل وجعلوا يعلمون)</p>
<p>ويختم انجيل القداس بإرسالية السبعين رسول متوافقة مع عيد ابائنا الرسل الاطهار وتتركز الكرازة على التوبة مع تحذير وتذكير بمصير الامم الذين أهملوا دعوة التوبة (وبعد ذلك عين الرب سبعين اخرين وارسلهم اثنين اثنين امام وجهه الي كل مدينة وموضع حيث كان هو مزمعا ان يمضي اليه &#8230;&#8230;. وقولوا اهم قد اقترب منكم ملكوت الله)</p>
<p>ويُعلِّق القديس أثناسيوس الرسولي على المقارنة بين إخراج الشياطين، وبين الأسماء المكتوبة في السماء</p>
<p>&#8221; كتابة أسمائنا في السماء برهان على حياتنا الفاضلة، أمّا إخراج الشيّاطين فهو هبة من المخلّص، لذلك يقول للذين يفتخرون بعمل القوات دون ممارسة الحياة الفاضلة: &#8220;لا أعرفكم&#8221;، إذ لا يعرف الله طريق الأشرار &#8220;<a href="#_ftn2" name="_ftnref2">[2]</a></p>
<p></p>
<p></p>
<h3>قراءة إنجيل القدَّاس في فكر آباء الكنيسة</h3>
<p></p>
<p>&#8221; كما يُعَدُّ التلاميذ الاثنا عشر أول مَن أَسَّس خدمة الأسقفيّة الكنسية، كذلك فالسبعون أيضًا هم مُمثِّلو كهونتها. وعلى سبيل المثال، ظنّ بعض آباءِ الكنيسة أن برنابا كان مِن بين السبعين، وكذلك سوستانيس ومتياس وتدّاوس (يوسابيوس). أرسل يسوع السبعين &#8220;كحملان وسط ذئاب&#8221; لكي بهذا يتمّ ما قيل بأشعياء النبي أن الحملان والذّئاب ستعيش معًا بسلام في الإسقيط وتكون طوعًا لطفلٍ صغير. (القدّيس أمبروسيوس). (1)</p>
<p>ولَكنْ كيف يكون لهَذه الحملان البقاء؟ لأن راعيها هو يسوع الذي سيحفظها ويحميها مِن الذئاب الخاطفة، بَلْ وحتى في وسط الاضطهاد.&#8221;</p>
<p>&#8220;لقد أُرسِلَ التلاميذ دون أنْ يأخُذوا زادًا للطريق؛ لأن مَن يعولهم ويُشْبِع احتياجاتهم هو رَبُّ الحصاد.&#8221; (القدّيس كيرلُّس السكندري).</p>
<p>&#8220;هم كارزون ببشارة الإنجيل؛ ليسوا تجّارا.&#8221; (مار إفرام السرياني).</p>
<p>&#8220;ينبغي أنْ تُلْقَى تحيّة السلام على الكُلّ دون تفرقة، حتى وإنْ تَقَبَّلها أبناء السلام فقط. (القدّيس أوغسطينوس). فإن تحيّة السلام هَذه هي تلك التي تكشف عن جوهرِ الآب.&#8221;</p>
<p>&#8220;ليس للتلاميذ أنْ يحيدوا عن رسالتهم قطْ. ولذا فلا ينبغي أنْ يسلّموا على أحدٍ في الطريق؛ لئلَّا يعوقهم هَذا عمّا عُيِّنوا مِن أجْله وهو التبشير بملكوت الله.&#8221; (القدّيس أمبروسيوس).</p>
<p>&#8220;إذا قوبل التلاميذ بالرفض، فلينفُضوا التراب العالق بأقدامهم تراب البِرّ، ليصير رمزًا للنقمة على غير التائبين؛ أولئك الذين سيكون جزاءهم أسوأ مما لأهل سَدوم.&#8221; (مار إفرام السرياني).</p>
<p>&#8220;لأن مَن يرفض السبعين سيلقى عقوبةً أمَرّ مِما لصوْر وصيدون.&#8221; (القدّيس أمبروسيوس).</p>
<p>&#8220;لقد استحَقّ التلاميذ الشرف العظيم الذي به صاروا يتكلّمون عن المسيح. وإذ يتكلّم المسيح على لسان تلاميذه فإن هَذا يكون مِن قِبَل رُوحِه. وحين يواجَه التلاميذُ بالرفض لكرازتهم بهَذا الكلام، فإن مَن سيصير مرفوضًا هو يسوع وأبوه أيضا.&#8221; (القدّيس كيرلُّس السكندري).</p>
<p><a href="#_ftn3" name="_ftnref3">[3]</a>&#8220;التكَلُّم عن المسيح هو قوة الإنجيل.&#8221; (القدّيس إيريناؤس).</p>
<p></p>
<p></p>
<h3>ملخّص القراءات</h3>
<p></p>
<p>اي ان الكرازة بالملكوت كانت موضوع النبوة وشهوة الانبياء                                                    ( الكاثوليكون )</p>
<p>وهي تهدف الي توبة الكل وهي ارسالية من الرب نفسه مرتبطة بعطية ووصية                   (انجيل باكر والقداس)</p>
<p>والكارز يتنازل عن كل ماله لاجل تتميم الكرازة مع حرصه علي خلاصه                                        ( البولس  )</p>
<p>وتسند السماء الكرازة والكارزين وتحميهم من الضيقات                                                   (المزامير والابركسيس )</p>
<p></p>
<p></p>
<h3>الكنيسة في قراءات اليوم</h3>
<p></p>
<p>الجهاد (كل من يجاهد)                                                     البولس</p>
<p>تدبير الثالوث في الخلاص والميراث السماوي                          الكاثوليكون</p>
<p>الخلاص موضوع العهد القديم وشهوة الملائكة                          الكاثوليكون</p>
<p>النصرة على الشيطان + الميراث السماوي                              انجيل القدَّاس</p>
<p></p>
<p></p>
<h3><strong>أفكار مقترحة لعظات</strong></h3>
<p></p>
<p><strong>(١) الكرازة بالملكوت</strong></p>
<p>١- مصدر قوّة الكارزين</p>
<p>&#8221; ودعا تلاميذه الاثني عشر وأعطاهم قوة وسلطاناً&#8230; وأرسلهم ليكرزوا بملكوت الله &#8221; إنجيل عشيّة</p>
<p>&#8221; الخلاص الذي فتش وبحث عنه الأنبياء الذين تنبأوا عن النعمة التي صارت فيكم وبحثوا عن الزمن الذي كان يدل عليه روح المسيح المتكلم فيهم &#8221;    الكاثوليكون</p>
<p>&#8221; ها أنا أعطيكم السلطان لتدوسوا الحيَّات والعقارب وكل قوة العدو ولا يضركم شئ &#8221; إنجيل القدَّاس</p>
<p>٢- واجبات الكارزين</p>
<p>&#8221; وقال لهم لا تحملوا شيئاً للطريق لا عصا ولا مزوداً ولا خبزاً ولا فضةً &#8221; إنجيل عشيّة</p>
<p>&#8221; بل أقمع جسدي وأستعبده حتي بعد ما بشرت للآخرين لا أصير أنا نفسي مرفوضاً &#8221;       البولس</p>
<p>&#8221; إذهبوا وكلموا الشعب في الهيكل بجميع كلام هذه الحياة &#8221;     الإبركسيس</p>
<p>٣- ضيقات الكارزين</p>
<p>&#8221; وإن كان يجب أن تتألموا بتجارب متنوعة لكي يكون تذكية إيمانكم وهي أفضل من الذهب الفاني المجرب بالنار &#8221;     الكاثوليكون</p>
<p>&#8221; فألقوا أيديهم علي الرسل ووضعوهم في حبس العامة &#8221; الإبركسيس</p>
<p><strong>(٢) الكنيسة المُقدَّسة</strong></p>
<p>(إنجيل القدَّاس)</p>
<p>١- حيوية الكنيسة ودوام خدمتها</p>
<p>&#8221; وبعد ذلك عين الرب سبعين آخرين &#8220;- &#8221; الحصاد كثير ولكن الفعلة قليلون &#8221;</p>
<p>يدعو الله كل يوم خدام للكرم الإلهي</p>
<p>ينتظر الله مننا إستجابتنا وإيجابيتنا تجاه إحتياجات الآخرين لكن ليس الكل يستجيب ويقبل دعوته</p>
<p>&#8221; كثيرين يدعون وقليلون ينتخبون &#8221;</p>
<p>٢- نقاوة الكنيسة وزهدها</p>
<p>&#8221; لاتحملوا كيسا ولامزودا ولاأحذية &#8221;</p>
<p>كثرة ماتقدمه الكنيسة لشعبها وليس كثرة ماتملكه هو الذي يجعلها نقية ومائتة عن العالم</p>
<p>٣- رسالة الكنيسة</p>
<p>&#8221; وقولوا لهم قد إقترب منكم ملكوت الله &#8221;</p>
<p>الدعوة للتوبة والحياة مع الله هو الرسالة العظمي للكنيسة أهم من كل الأنشطة والمشروعات</p>
<p>٤- كنز الكنيسة</p>
<p>&#8221; حتي الشياطين تخضع لنا بإسمك &#8221;</p>
<p>إسم يسوع هو كنز الكنيسة وسر غناها ودليل عظمتها</p>
<p>&#8221; إذا نطقوا به &#8211; إسم يسوع &#8211; تستنير عقولهم وتصعد إلي العلو قلوبهم &#8221; إبصالية الإثنين</p>
<p>٥- سلطان الكنيسة</p>
<p>&#8221; هاأنا أعطيكم سلطانا لتدوسوا الحيات والعقارب وكل قوة العدو ولايضركم شئ &#8221;</p>
<p>السلطان علي الشيطان هو عطية مجانية لكل مسيحي</p>
<p>&#8221; وإله السلام سيسحق الشيطان تحت أرجلكم سريعا &#8221;</p>
<p>( ياالذي صلب علي الصليب إسحق الشيطان تحت أقدامنا )</p>
<p>ختام الصلاة في إسبوع الآلام</p>
<p><strong>(٣) العظة الثانية في الرابع عشر من بابة</strong></p>
<p>جوهر إرسالية الكنيسة                                             إنجيل القدَّاس</p>
<p>(الدعوة الدائمة للتوبة &#8211; عطيَّة النصرة علي الشيطان &#8211; الميراث السماوي)</p>
<p><strong>١- </strong><strong>الدعوة الدائمة للتوبة</strong></p>
<p>&#8221; وقولوا لهم قد اقترب منكم ملكوت الله &#8221;</p>
<p>دعوة الخدمة وإرسالية الخادم تتحقَّق في :</p>
<p>الشركة                                                            &#8221; اثنين اثنين &#8221;</p>
<p>وضوح الهدف وتبعية السيد دائماً في كل خطوة         &#8221; أمام وجهه &#8221;</p>
<p>الحكمة والوداعة                                                  &#8221; ها أنا أرسلكم مثل حملان في وسط ذئاب &#8221;</p>
<p>عدم الانشغال بأمور العالم                                    &#8221; لا تحملوا كيساً ولا مزوداً &#8230;. &#8221;</p>
<p>مُبشِّر بالسلام                                                     &#8221; فقولوا أولاً السلام لهذا البيت &#8221;</p>
<p>يدعو الكل للملكوت                                                &#8221; وقولوا لهم قد اقترب منكم ملكوت الله &#8221;</p>
<p><strong>٢- </strong><strong>عطيّة النصرة علي الشيطان</strong></p>
<p>&#8221; فرجع السبعون بفرح قائلين يارب حتي الشياطين تخضع لنا باسمك فقال لهم رأيت الشيطان ساقطاً من السماء مثل البرق ها أنا أعطيتكم السلطان لتدوسوا الحيات والعقارب وكلَّ قوة العدو ولا يضركم شيء &#8221;</p>
<p>هذه هي صلاتنا كل يوم وكل وقت جعلتها كنيستنا المُقدَّسة في مقدمة الصلوات لنعيش إحساس ويقين النصرة الدائمة في المسيح علي الشيطان</p>
<p><strong>٣- </strong><strong>الميراث السماوي</strong></p>
<p>&#8221; ولكن لا تفرحوا بهذا إنَّ الأرواح تخضع لكم بل افرحوا أنَّ أسماءكم مكتوبة في السموات &#8221;</p>
<p>خضوع الأرواح الشريرة (دون الحياة الفاضلة) ليس علامة ويقين علي صحَّة إرسالية الكنيسة ك وربَّما يكون العكس علَّة هلاك الخادم (مت ٧: ٢٣-٢٢ ) ، أمَّا الحياة السماوية والانشغال بملكوت الله في حياتنا علي الأرض وبعد انطلاقنا إلي السماء هو علامة يقينية لصحة الدعوة ووضوح هدفها</p>
<p><strong>(٤) صورة الكنيسة في سفر أعمال الرسل</strong></p>
<p>كنيسة تعيش بالشركة وكسر الخبز والصلوات (أع ٢: ٤٢) والإفخارستيا قلبها والمنبر عقلها (أع ٢٠: ٧ )</p>
<p>كنيسة يقودها الروح القدس في رعاتها (أع ١٥: ٢٨)، وفي صلاتها (أع ٤: ٣١ )</p>
<p>كنيسة تواجه الضيقات بالصلاة (أع ٤: ٢٤)، والمقاومين بالحب (أع ٧ : ٦٠ ) ، وتصلي لأجل الجميع ( أع ٢٦ : ٢٩ )</p>
<p>كنيسة لا تخشي بطش الحكام (أع ٢١: ١٣)، في الوقت الذي ترجو فيه خلاصهم (أع ٢٧: ٢٢ )</p>
<p>كنيسة تجتذب من هم خارج الحظيرة (أع ١٠: ٤٥) في الوقت الذي يهلك من لا يحفظ مكانه داخلها (أع ٥: ٥-١٠ )</p>
<p>كنيسة تعرف قيمة ورسالة المرأة في الأسرة، وكأرملة، وكعذراء (أع ٦: ١ &#8211; ١٨: ٢٦ &#8211; ٢١: ٩ )</p>
<p>كنيسة أكبر من ضعفات رعاتها وخلافاتهم الشخصية (أع ١٥: ٣٩)</p>
<p>كنيسة تقف كل قوي الشر أمام وحدتها وصلاتها ومحبتها عاجزة (أع ١٢: ٥ &#8211; ٧ )</p>
<p>كنيسة تسبح في السجون (أع ١٦: ٢٥)، وتصلي في القيود (أع ٢٦ : ٢٩ ) ، وتبشر بالكلمة رغم اضطهادها ( أع ٨ : ٤ ) ، وتكرز في انتظار المحاكمة ( أع ٢٨ : ٣١ )</p>
<p>كنيسة تقبل الألم بإرادة فرح (أع ٥: ٤١)، في الوقت الذي تطالب بحقوقها بحكمة (أع ٢٢: ٢٥ )</p>
<p>كنيسة غناها إسم الرب يسوع (أع ٣: ٦ )</p>
<p>كنيسة تُسْتَعْلَن في كارزيها في وجوههم الملائكية (أع ٦: ١٥)، وألسنتهم في كرازتهم النارية (أع ٢٤: ٢٥)، وأيديهم المُشْبِعة والشافية ( أع ٢٧ : ٣٥ ، ٢٨ : ٨ )</p>
<p>كنيسة ما أجمل شركتها (أع ١٦: ٥)، وما أرهب أسلحتها الروحية (أع ١٩: ١٩)، وما أعظم غني نعمة الثالوث فيها (أع ٩: ٣١)</p>
<p></p>
<p></p>
<h3>عظات آباء وخدَّام معاصرين</h3>
<p></p>
<h4>القديس كيرلس الأسكندري</h4>
<p></p>
<p>معني الآية (لو ١٠: ٣) اذْهَبُوا! هَا أَنَا أُرْسِلُكُمْ مِثْلَ حُمْلَانٍ بَيْنَ ذِئَاب ٍ &#8221; بحسب تعليم القديس كيرلس الإسكندري</p>
<p>الذين يمدحون الكلمة الإلهية والمقدَّسة بصواب وبدون خطأ، هم بالتأكيد حلفاء تعاليم الحق وهم أفضل معلميه، ويعرفون جيداً كيف يقودون باستقامة كل من يرغب في النمو في المسيح، إلي كل عمل صالح وإلي الحياة غير الفاسدة ، وإلي الاشتراك في البركات الموهوبة لنا . وعن هؤلاء يُعلن الحكيم جدَّا بولس أنهم &#8221; أنوار في العالم متمسكين بكلمة الحياة &#8221; (في٢: ١٥) .</p>
<p>والتلاميذ الإلهيون هم أول هؤلاء الرجال البارزين والمشهورين ، ويُعتبرون المتقدمين في الترتيب ، كان لهم معلِّماً هذا الذي هو المُعطِي لكل فهم ، والذي يسكب نوره علي أولئك الذين يحبونه ، فهو النور الحقيقي الذي ينير السماء بل والقوات التي فوق ، وهو الذي يُخلِّص من الجهالة والظلمة أولئك الذين علي الأرض أيضاً .لاحظ كيف أنه جعل المعلِّمين المعيَّنين (للكرازة ) لكل الذين تحت الشمس ، فّعَلّة مستعدِّين ، ذوي غيرة شديدة ، وقادرين أن يفوزوا بمجد الانتصارات الرسولية ، غير مفضِّلين أي أمر من شئون العالم علي واجب الكرازة بالرسالة المقدَّسة ، وهكذا أعدٌوا ذهنهم بكل شجاعة أن يرتفعوا فوق كل المخاوف ، لا يرتعبون ولا قيد أنملة في الشدائد ، ولا ينزعجون من الموت ذاته عندما يأتي عليهم لأجل المسيح .لأنه يقول لهم : &#8221; اذهبوا &#8221; . وفِي هذه الكلمة</p>
<p>&#8221; اذهبوا &#8221; يُشجَّعهم ليصيروا أشدَّاء ، ويجعلهم يرغبون باشتياق في الانتصارات المقدَّسة ، وهكذا يُؤسسَّهم ثابتين راسخين أمام كل تجربة ، ولا يدعهم ينكمشون أمام عنف الاضطهادات. وعندما تبدأ المعارك، ويُفرِغ الأعداء سهامهم، فإن القادة الأبطال يُشجِّعون مَن تحت إمرتهم أن يقاوموا هجمات العدو ، ويحتملوا بشجاعة، فيقولون لهم مِثل هذه العبارات : &#8221; يا رفاقنا الجنود ، لا تنزعج أفكاركم من كل هذه الأشياء التي ترونها ، فنحن لسنا ضعفاء ، ولسنا غير محنَّكين في القتال ، ولكن اعرفوا جيداً طرق القتال ، فنحن نملك دروعاً مصفَّحة قوية الصنع ، ونملك أسلحة وسيوفاً وأيضاً أقواسَّاً ورماحاً ، وبالجهاد سننال النصرة ، وشجاعة القلب ستحرز لنا بحق شهرة مجيدة . هكذا إذا جاز لنا القول فإن مخلِّصنا أرسل تلاميذه إلي جموع غير المؤمنين قائلاً: &#8221; ها أنا أرسلكم مثل حملان بين ذئاب &#8221; .</p>
<p>ماذا تقول أيها الرَّب ، كيف يستطيع الحمل أن يتحدَّث مع الذئاب ؟ متي كان الحيوان المفترس في سلام مع الحمل؟ فبالكاد يستطيع الرعاة أن يحموا قطعانهم بجمعهم في الحظائر وأن يغلقوا عليها داخل السياجات، وبتخويف الوحوش التي تريد أن تفترس الحملان بواسطة نباح الكلاب، بل وأيضاً يحاربون بأنفسهم ليدافعوا عنها، ويخاطرون لأجل حماية الأعضاء الضعيفة في قطيعهم.</p>
<p>كيف إذن يأمر الرَّب الرسل القديسين الذين بلا لوم — كحملان — أن يصاحبوا الذئاب ويذهبوا إليهم بأنفسهم؟ أليس الخطر ظاهراً؟ أمَّا يصبحون فريسة جاهزة لهجماتها؟ كيف يستطيع الحمل أن ينتصر علي الذئب؟ كيف يمكن للمسالم جدَّا أن يقهر توحش الحيوانات المفترسة؟ نعم، إنه يقول : أنا الراعي لهم جميعاً ، للصغير وللكبير ، لعامَّة الناس وللأمراء ، للمعلِّمين والمتعلِّمين ، سأكون معكم وأساعدكم وأخلِّصكم من كل شر .سأذلِّل الحيوانات المتوحِّشة ، سأغيِّر الذئاب إلي حملان ، وسأجعل المضطهِدين مساعدين للمضطَهَدين وسأجعل من يسيئون إلي خرافي شركاء في خططهم المقدَّسة ، أنا أصنع كل الأشياء ، وأنا أحلها ، ولا يوجد شيء يستطيع أن يقاوم إرادتي .</p>
<p>هذه هي النتيجة الفعلية التي حدثت والتي نراها في أمثلة تمَّت بالفعل، فبولس الإلهي كان مجدِّفاً ومضطهِداً كان أكثر إيذاءً وقسوة من أي ذئب علي أولئك اللذين آمنوا بالمسيح، فهل استمر َّ في هذا السلوك ؟ هل ظلَّ ذئباً إلي النهاية ؟ كلاَّ بالمرة ، لأنه دُعِيّ من المسيح واختبر تغييراً غير متوقَّع ، وهذا الذي كان في القديم ذئباً أصبح أكثر وداعة من الحمل ، وكرز بالإيمان الذي كان يوماً يضطهده ، وكان مثل هذا التغيير غير المنتَظَر دهشة لجميع الناس ، والمسيح تمجد ، لأنه غيَّره من وحش مفترس إلي حمل .وهذا ما أنبأ به يعقوب الإلهي في بَرَكته بشأنه إذ قال : &#8221; بنيامين ذئب مفترس ، في الصباح يأكل لحماً ، وفِي المساء يقسم غنيمته &#8221; (تك٤٩: ٢٧ س).لأن الحكيم بولس كان من سبط بنيامين ، وكان في الأول كذئب مفترس يقاوم الذين آمنوا بالمسيح ، ولكن بعد وقت قصير أي فترة ، كما من الصباح إلي المساء ، قسم غنيمته ، لأنه علَّم عن يسوع وكرز به ، والأطفال في المعرفة سقاهم لبناً، أمَّا البالغين فقدم لهم طعاماً قويَّا .ففي الصباح يأكل لحماً وفِي المساء يقسم ذبيحته ، وهذا شيء مختصر فيما يخص المبارك بولس .</p>
<p>ولكن هيا بنا نناقش نقطة مشابهة ، ألا وهي دعوة الأمم ، دعنا نري ما إذا كانوا — في وقت ما — هم أيضاً وحوشاً كاسرة ، وأكثر توحشاً من الذئاب ضد خدام رسالة إنجيل الخلاص ، وكيف أنَّهم تحوَّلوا إلي الوداعة وعدم الغش بمعونة المسيح ، فهم أيضاً اضطهدوا الرسل القديسين ، ليس كأناس يحاربون الذئاب ، بل كالوحوش المفترسة يهيجون بوحشيَّة ضد الحملان ، ورغم أنهم لم يسيئوا إليهم بل دعوهم إلي الخلاص ، إلاَّ أنهم رجموهم وسجنوهم واضطهدوهم من مدينة إلي مدينة ، إلاَّ أنَّ هؤلاء الذين تصرفوا هكذا أولاً أصبحوا فيما بعد ودعاء وبلا غش ، وصاروا كالحملان التي كانوا قد اضطهدوهم !</p>
<p>مَن سوي يسوع المسيح ربنا يعمل كل هذه الأمور؟</p>
<p>لأنه هو أيضاً الذي &#8221; نقض حائط السياج المتوسط مبطلاً ناموس الوصايا في فرائض ، والذي خلق الشعبين في نفسه إنساناً واحداً جديداً صانعاً سلاماً مصالحاً الأثنين في جسد واحد مع الآب &#8221; (أف٢: ١٤) .ها قد صار انضمام للإيمان باتفاق واتحاد الفكر والإرادة — للمتوحشين مع الودعاء ، للنجسين والملوثين بالخطية مع القديسين ، أي هؤلاء الذين من قطعان الأمم مع أولئك الذين آمنوا من إسرائيل ، وعن هذا يتكلم إشعياء النبي بالروح ويقول : &#8221; فيرعي الذئب مع الحمل ، ويربض النمر مع الجدي ، وترعي البقرة والدب معاً ، ويأكُل الأسد والثور التبن معاً ، ويربض أولادهما معاً &#8221; (إش ١١: ٦ س) .</p>
<p>اعلم أيها الحبيب وافهم، أنَّ أولئك الذين تقدَّسوا بالإيمان لم يشاكلوا الأمم في عاداتهم، بل بالعكس، فإن المدعوَّين من الأُمم هم الذين شاكلوهم، فإن الذئب والأسد والنمر والدب هي حيوانات آكلة لحوم، أمَّا الحيوانات ذات الطبيعة الهادئة كالجداء والحملان والثيران تغتذي بالعشب. ولكن الحيوانات المفترسة ، يقول النبي ، سوف ترعي مع الحيوانات الأليفة وتغتذي بطعامها . إذن فليست الحيوانات الأليفة هي التي شاكَلَت عادات المتوحشة، لقد حدث العكس كما قلت، إذ تمثَّلَت الحيوانات المتوحشة بالحيوانات الأليفة، إذ تخلُّوا عن الاتجاهات الشرسة وتحولوا إلي الوداعة التي تليق بالقديسين، وتغيَّروا بالمسيح حتي صارت الذئاب حملاناً، لأنه هو الذي صيَّرهم ودعاء، ووحَّد الشعبين كما قلت، إلي ذهن مملوء بمحبة الله . هذا ما أعلنه موسي النبي في القديم صارخاً: &#8221; تهَّللوا أيها الأمم مع شعبه، أعطوا عزَّة لله &#8221; (تك٣٢: ٤٣س). فلنعظِّمه ونكرِّمه بالتماجيد ، بسبب المخلِّص رب الكل الذي به وله مع الآب التمجيد والسلطان إلي أبد الآبدين آمين<a href="#_ftn4" name="_ftnref4">[4]</a> .</p>
<p></p>
<p></p>
<h4>وايضا معني بسطاء كالحمام وحكماء كالحيات للقديس كيرلس الأسكندري</h4>
<p></p>
<p>لا يريدنا المسيح أن نكون بلا فهم بل يريدنا أن نفهم كل ما هو نافع وضروري لخلاصنا بطريقة كاملة. فإنه حتى الحكمة تعد أنها ستعطي &#8220;البسطاء ذكاءً والشاب بدء معرفة وتدبيرًا&#8221; (أنظر أم 1: 4). وقد وجدت الحكمة في سفر الأمثال أشبه بمن ترفع صوتها عاليًا، وتقول: &#8220;لكم أيها الناس أنادي وصوتي إلى بني البشر، أيها البسطاء تعلموا الذكاء، ويا جهال ضعوا قلبًا فيكم&#8221; (انظر أم ٨ : ٤)&#8230;</p>
<p>لكن كيف يكون الإنسان بسيطًا وحكيمًا في نفس الوقت؟ هذا ما يوضحه لنا المخلص في موضع آخر بقوله: &#8220;كونوا حكماء كالحيات، وبسطاء كالحمام&#8221; (مت ١٠: ١٦) ، وبنفس الطريقة يكتب الطوباوي بولس: &#8220;أيها الإخوة لا تكونوا أولادًا في أذهانكم، بل كونوا أولادًا في الشر، وأما في الأذهان فكونوا كاملين&#8221; (١كو ١٤ : ٢٠).</p>
<p>يلزمنا أن نفحص ما معنى أن نكون أولادًا في الشر، وكيف يصير الرجل هكذا بينما يكون في الذهن رجلًا ناضجًا. الطفل معرفته قليلة جدًا، وأحيانًا معدومة تمامًا، لذا فهو بريء من جهة فساد الشر، ونحن أيضًا من واجبنا أن نسعى لكي نتمثل بهم في هذا الأمر بانتزاع عادات الشر عنا تمامًا، فيُنظر إلينا كرجال ليس لهم حتى معرفة بالطريق التي تقود للغش، ليس لنا إدراك للمكر أو الخداع، بل نكون بسطاء وأبرياء نمارس اللطف والتواضع الذي لا يقدّر، ونكون مستعدين لاحتمال السخط والضغينة. بهذا نؤكد أننا نحمل سمات من هم لا يزالون أولادًا.</p>
<p>بينما تكون شخصيتنا بسيطة وبريئة، يليق بنا أن نكون كاملين في الذهن، فيتأسس فهمنا بثباتٍ ووضوحٍ على من هو بالطبيعة والحق خالق المسكونة، الله الرب&#8230;</p>
<p>يقوم كمال الذهن الرئيسي على الإيمان، فلا يكون فهمنا فاسدًا، وأما الأمر الثاني والمجاور لهذا الكمال الرئيسي والقريب منه وملازم له، فهو المعرفة الواضحة للطريق السلوكي الذي يفرح الله الذي تعلمناه بالإنجيل، الطريق الكامل الذي بلا لوم (هنا يميز القديس بين السالكين طريق الرب الإنجيلي وبين النبلاء في السلوك خلال الفلسفات التي يمكن أن تخدع).</p>
<p>من يسلك هذا الطريق يمارس حياة البساطة والبراءة، ومع ذلك فهم يعرفون أية أراء (إيمانية) يتمسكون بها وأي أعمال حقة يمارسونها. مثل هؤلاء يدخلون الباب الضيق، فلا يرفضون الأتعاب التي تلزم للتقوى في الله واللازمة لتقود إلى الحياة الممجدة.</p>
<p>هكذا بحق يتقدمون إلى اتساع فيض طريق الله ويبتهجون بعطاياه، ويربحون لأنفسهم ملكوت السماوات بالمسيح الذي لله الآب الحمد والسلطان بالمسيح معه، ومع الروح القدس إلى أبد الأبد. آمين<a href="#_ftn5" name="_ftnref5">[5]</a>.</p>
<p></p>
<p></p>
<h4>العلامة أوريجانوس</h4>
<p></p>
<p>بعد هذا قال، وهو لا يعرف حتى عدد الرسل (لقد جمع يسوع حوله عشرة رجال أو أحد عشر من أشر محصلي الضرائب والملاحين، ومع هؤلاء هرب هنا وهنالك جامعًا سبل المعيشة بطريقة مزرية وبإلحاح مخز)</p>
<p>والآن لنرد على هذا على قدر إمكاننا. إن الأمر واضح لقراء الأناجيل. التي يبدو بأن كلسس قد أهمل حتى قراءتها، أن يسوع اختار اثني عشر رسولًا، ولم يكن من بينهم محصل ضرائب سوى متى وحده. ولعل الذين لخبط بصددهم زاعما أنهم ملاحون هم يعقوب ويوحنا نظرًا لأنهما تركا السفينة وأباهما زبدي وتبعا يسوع. لأن بطرس وأخاه أندراوس، اللذين كسبا معيشتهما بشبكة صيد، لا يعتبران ضمن الملاحين، بل بين الصيادين كما يقول الكتاب المقدس.</p>
<p>إنني أسلم بأن لاوي أيضا الذي تبع يسوع كان محصل ضرائب، لكنه لم يكن ضمن الرسل، إلا كما ورد في إحدى نسخ إنجيل مرقس. لكننا لا نعرف ماذا كانت مهنة الباقين التي كانوا يحصلون منها على معيشتهم قبل أن يصيروا تلاميذ يسوع.</p>
<p>وإنني أؤكد أيضًا -ردًا على هذا- بأن الذين يدرسون موضوع رسل يسوع دراسة بفهم وتعقل يتضح لهم أن هؤلاء الناس نادوا بالمسيحية ونجحوا في المجيء بالكثيرين لإطاعة كلمة الله بقوة إلهية. لأنهم لم تكن فيهم قوة الكلام أو سرد رواية منظمة وفق المستوى اليوناني المنطقي البليغ الذي يقنع مستمعيهم.</p>
<p>ويبدو لي أنه لو كان يسوع قد اختار بعضًا ممن هم حكماء في أعين الجموع، ذوي قدرة على التفكير والتكلم بما يتفق مع الجماهير، ولو كان قد استخدمهم كوسائل لنشر تعليمه، لكان قد شُك كثيرًا في أنه استخدم طرقًا مماثلة لطرق الفلاسفة الذين هم قادة شيعة معينة</p>
<p>ولما اتضح من الأدلة الذاتية بأن تعليمه إلهي، لأن الإنجيل والبشارة به كانا بكلام الحكمة المقنع المتضمن في الأسلوب الكتابي المنمق، ولأصبح الإيمان -كإيمان فلاسفة هذا العالم في تعاليمهم- بحكمة الناس، لا بقوة الله.</p>
<p>لو كان أي واحد رأى جماعة من الصيادين ومحصلي الضرائب الذين لم يتلقوا حتى الدراسة الابتدائية (كما تسجل رواية الإنجيل عنهم إلى صدقها كلسس في هذه الناحية قائلًا إنها كانت صادقة فيما قالته عن أن التلاميذ كانوا غير متعلمين) والذين بشجاعة عظيمة كلموا اليهود عن إيمان يسوع، وبشروا به بنجاح بين الأمم الأخرى، أما كان قد اجتهد بأن يكتشف مصدر قوتهم المقنعة؟ لأنها لم تكن تلك القوة التي تحسبها عامة الشعب قوة.</p>
<p>مَن ذا الذي لا يقول إن يسوع قد تمم هذا القول (هلم ورائي فأجعلكم صيادي الناس) (مت ٤: ١٩) بقوة إلهية معينة في رسله؟ وبعد أن بيّن بولس الرسول هذا، كما سبق أن بيّنا، قال (وكلامي وكرازتي لم يكونا بكلام الحكمة الإنسانية المقنع، بل ببرهان الروح والقوة لكي لا يكون إيماننا بحكمة الناس بل بقوة الله) (١كو ٢: ٤ &#8211; ٥). ووفقًا لما قيل في الأنبياء عندما أذاعوا الكرازة بالإنجيل (أعطى الرب، ملك قوات الحبيب) كلمة للمبشرين بالإنجيل بقوة عظيمة) (مز ٦٨: ١١- ١٢). وهكذا تمت النبوة القائلة (سريعا جدًا تجرى كلمته) (مز ٤٧: ١٤ &#8211; ١٥). ونحن نرى أن صوت رسل يسوع (خرج في كل الأرض وإلى أقصى المسكونة كلماتهم) (مز ١٩: ٤) (رو ١٠: ١٨). وبناء على هذا فإن الذين يسمعون الكلمة ينادى بها بقوة يمتلئون قوة، وهذه القوة، يظهرونها بإخلاصهم وبحياتهم وبجهادهم إلى الموت من أجل الحق (سيراخ ٤: ٢٨).</p>
<p>لكن هنالك بعض الأشخاص الفارغين، الذين ليست لديهم أية قوة إلهية رغم ادعائهم الإيمان بالله بيسوع، وهم إنما يتظاهرون بأنهم قد تجددوا وقبلوا كلمة الله.</p>
<p>ورغم أنى ذكرت فيما تقدم قولا نطق به المخلص في الأناجيل فإنني سأذكره لأنه مناسب الآن، إذ هو يبين سابق علم المخلص عن التبشير بالإنجيل الواضح بأنه إلهى، وعن قوة الكلمة التي تغلب -بدون معلمين- بقوة إقناعها الإلهية أولئك الذين يؤمنون. فيسوع يقول (الحصاد كثير، ولكن الفعلة قليلون. فاطلبوا من رب الحصاد أن يرسل فعلة لحصاده) (مت ٩: ٣٧ &#8211; ٣٨)</p>
<p>وطالما كان كلسس يقول إن رسل يسوع (أشخاص أردياء السمعة) ويدعوهم (أشر مُحَلِّصي الضرائب والملاحين)، فإننا نرد عن هذه التهمة أيضا بالقول إنه يبدو بأنه يصدق الكتاب المقدس حينما يريد انتقاد المسيحية، ويكذب الأناجيل لئلا يضطر للاعتراف بإعلانات اللاهوت المعلنة في نفس تلك الأسفار. وكل مَن رأى روح الحق الذي تأثر به هؤلاء يجب مما دونوه عن الأشياء القليلة الأهمية أن يصدق ما دونوه عن الإلهيات. لقد كتب فعلا، في رسالة برنابا العامة، التي ربما يكون كلسس قد اقتبس منها، أن الرسل كانوا (رديئي السمعة ومن أشر الناس) وأن يسوع (اختار رسله الذين كانوا خطاة أكثر من كل الباقين) , في إنجيل لوقا قال بطرس ليسوع (ابعد عنى يا رب لأني رجل خاطئ) (لو ٥ : ٨)</p>
<p>وعلاوة على هذا فقد قال بولس في الرسالة الأولى إلى تيموثاوس، رغم أنه هو نفسه كان قد صار أخيرًا رسولًا ليسوع (صادقة هي الكلمة ومستحقة كل قبول أن يسوع المسيح جاء إلى العالم ليخلص الخطأة الذين أولهم انا) (١تي ١: ١٥).</p>
<p>ولسبب غير معروف نسي، أو لم يفكر أن يقول شيئًا عن بولس الذي – بعد موت يسوع – أسس كنائس كثيرة في المسيح. ولعله قد رأى أنه سوف يفسر تاريخ بولس، وكيف أضطهد كنيسة الله، وحارب المؤمنين بمرارة، لدرجة أنه أراد حتى أن يسلم إلى الموت تلاميذ يسوع. لكنه فيما بعد تغير تغييرًا كليًا حتى أنه من أورشليم إلى الليريكون أكمل البشارة بأنجيل المسيح، وكان يطمع أن يكرز بحيث لا يبنى على أساس شخص آخر، بل في الأماكن التي لم يكرز فيها مطلقًا بإنجيل الله في المسيح (رو ١٥: ١٩ &#8211; ٢١). فلماذا إذن يكون أمرًا مغيظًا إن كان يسوع وهو يريد أن يبين للبشرية مدى قدرته على شفاء النفوس، قد اختار أشخاصًا خاملي الذكر ومن أشر الناس، وهذبهم طويلًا حتى صاروا أمثلة لأسمى الصفات وأطهرها للذين تجددوا على أيديهم وقبلوا إنجيل المسيح؟</p>
<p>لقد علم يسوع تلاميذه بأن لا يكونوا متهورين قائلًا لهم &#8220;وَمَتَى طَرَدُوكُمْ فِي هذِهِ الْمَدِينَةِ فَاهْرُبُوا إِلَى الأُخْرَى&#8221; (مت ١٠: ٢٣) وأعطاهم مثلًا لتعليمه بحياته الهادئة فقد كان يحرص على أن لا يواجه الأخطار بلا مبرر. أو في الوقت غير المناسب، أو بلا هدف صالح.</p>
<p>وهذا أيضًا حرّفه كلسس بخبث عندما قال رجله اليهودي ليسوع: &#8220;لقد هربت هنا وهنالك مع تلاميذك&#8221;.</p>
<p>لعلكم تلاحظون أن الرواية التي رواها أرسطوطاليس تشبه افتراء ذلك اليهودي على يسوع وتلاميذه. فإن أرسطوطاليس عندما رأى أن محكمة العدل توشك أن تنعقد لمحاكمته على تهمة الإلحاد بسبب تعاليم معينة في فلسفته التي اعتبرها الاثينيون إلحادًا، هجر أثينا وأقام مدرسته في كالسيس مدافعًا عن نفسه أمام تلاميذه بالقول &#8220;لنهجر أثينا لئلا نعطى الأثينيين فرصة ليأثموا مرة أخرى كما حدث في حالة سقراط، ولئلا يسيئوا مرة أخرى إلى الفلسفة&#8221; لقد اعتبر كلسس أن &#8220;يسوع مع تلاميذه يتسول بكيفية مزرية وبإلحاح ما يقتاتون به.</p>
<p>فليبين لنا من أين حصل على فكرة التسول المزري اللحوح. ففي الأناجيل نجد &#8220;وَبَعْضُ النِّسَاءِ كُنَّ قَدْ شُفِينَ مِنْ أَرْوَاحٍ شِرِّيرَةٍ وَأَمْرَاضٍ: مَرْيَمُ الَّتِي تُدْعَى الْمَجْدَلِيَّةَ الَّتِي خَرَجَ مِنْهَا سَبْعَةُ شَيَاطِينَ، وَيُوَنَّا امْرَأَةُ خُوزِي وَكِيلِ هِيرُودُسَ، وَسُوسَنَّةُ، وَأُخَرُ كَثِيرَاتٌ كُنَّ يَخْدِمْنَهُ مِنْ أَمْوَالِهِنَّ.&#8221; (لو ٨: ٢-٣). أي فيلسوف كرس نفسه لمنفعة تلاميذه لم يتقبل منهم أموالًا لسد أعوازه؟ ألم يكن صوابًا ولائقًا بهم أن يفعلوا هذا؟ لكن لما قبل تلاميذ يسوع هذه الخدمة اتهمهم كلسس بأنهم تسولوا معيشتهم بكيفية مزرية وبإلحاح<a href="#_ftn6" name="_ftnref6">[6]</a>.</p>
<p></p>
<p></p>
<h4>القديس كبريانوس أسقف قرطاجنة الشهيد</h4>
<p></p>
<p>ان النبوة واخراج الشياطين وعمل المعجزات العظيمة على الأرض بالتأكيد شيء فائق ومثير للأعجاب ، ولكن الانسان لا يمكن أن يبلغ الملكوت – حتى وان كان يصنع هذا كله – ما لم يتخذ الطريق المستقيم والصحيح ، فالرب يحذر ويقول : &lt;&lt; كثيرون سيقولون لي فى ذلك اليوم يا رب ، يا رب ؛ اليس باسمك تنبأنا ، وباسمك أخرجنا شياطين ، وباسمك صنعنا قوات كثيرة ؟ فحينئذ أصرح لهم : انى لم أعرفكم قط ؛ اذهبوا عنى يا فاعلي الاثم ؛ &gt;&gt; (مت ٧ : ٢٢) فالبرّ لازم وضروري لكى يكون الانسان جديراً بجعالة الرب الديّان العادل ، يجب علينا أن نطيع وصاياه وتحذيراته حتى تنال أفعالنا الحسنة مكافأته ، والرب فى انجيله أوضح لنا ذلك فى قول موجز :    &lt;&lt; الرب الهنا رب واحد وتحب الرب الهك من كل قلبك ، ومن كل نفسك ، ومن كل فكرك ، ومن كل قدرتك هذه هى الوصية الأولى وثانية مثلها هى : تُحبّ قريبك كنفسك ، بهاتين الوصيتين يتعلق الناموس كله والأنبياء &gt;&gt; (مر ١٢ : ٢٩ – ٣١) (مت ٢٢ : ٣٧ &#8211; ٤٠) وفى نفس الوقت علّم من خلال تعاليمه الوحدة والمحبة ، وجمع الناموس والأنبياء فى وصيتين ، ولكن آية وحدة هذه التي يحفظها وآية محبة يراعيها – ذاك الذى – يُقسم الكنيسة ويدّمر الايمان ، ويُزعج السلام ، ويبدّد المحبة ويدنّس الأسرار ؟ ؛</p>
<p>أيها الاخوة الأتقياء ، لقد بدأ الشرّ منذ أمد بعيد ، ولكن الأثر المدمر لهذا الشرّ قد تزايد واستشرى ، فبدأ وباء الهرطقات والانشقاقات ينتشر من جديد ، هكذا سيكون فى نهاية العالم ، لأن الروح القدس يخبرنا ويحذرنا قائلاً :&lt;&lt; ولكن اعلَم هذا أنه فى الأيام الأخيرة ستأتي أزمنة صعبة ، لأن الناس يكونون محبين لأنفسهم ، محبين للمال ، متعظمين ، مستكبرين ، مجدّفين ، غير طائعين لوالديهم ، غير شاكرين ، دنسين ، بلا حنو ، بلا رضى ، ثالبين ، عديمي النزاهة ، شرسين ، غير محبين للصلاح ، خائنين ، مُقتحمين ، متصلقين ، محبين للذّات دون محبة لله ، لهم صورة التقوى ، ولكنهم مُنكرون قوّتها فأعرض عن هؤلاء فانه من هؤلاء هم الذين يدخلون البيوت ، ويسبون نُسيّات محمّلات خطايا ، مُنساقات بشهوات مختلفة يتعلمن فى كل حين ، ولا يستطعن أن يُقبلن الى معرفة الحق أبداُ ، وكما قاوم ينّيس ويمبريس موسى ، كذلك هؤلاء أيضاً يُقاومون الحقّ أناس فاسدة أذهانهم ، ومن جهة الايمان مرفوضون ، لكنهم لا يتقدمون أكثر ، لأن حُمقهم سيكون واضحاً للجميع ، كما كان حُمق ذينك أيضاً &gt;&gt; (٢تي ١ : ٩) ، وقد تحقق كل ما تنبأ عنه ، واذ تقترب نهاية العالم ، فانها تأتى من أجل اختبار الناس والأزمنة على السواء ، واذ يهاجم العدو بعنف يزداد الضلال أكثر وأكثر وترفع الحماقة رأسها ، والحسد يُلهب ، والشهوة تعمِى ، وعدم التّقوى يسود ، والغرور والكبرياء ينفخ ، والانشقاق يجلب سخطاً ، والغضب ينشئ تهوراُ.</p>
<p>ليت عدم التقوى وعدم الايمان الذى لذى الكثيرين لا يزعجنا أو يثيرنا ، بل بالأحرى ليته يقوى ايماننا فى ملء الحق الذى سبق فأخبرنا بهذه الأمور، اذ أن البعض قد صاروا هكذا ، لذلك ليت الاخوة الآخرون يحذرون من الأمور المشابهة لهذه ، لأننا قد أخبرنا مسبقاً عن هذه الأمور ، كما علمنا الرب قائلا : &lt;&lt; فانظروا أنتم ، ها أنا قد سبقت وأخبرتكم بكل شىء &gt;&gt; (مر ١٣ : ٢٣) ، أتوسل اليكم أن تتجنبوا مثل هؤلاء ولا تصغوا لأحاديثهم ، انها تحمل سم الموت كما هو مكتوب : &lt;&lt; سيج أذنيك بالأشواك ، ولا تصغى للسان خبيث &gt;&gt; ( بن سيراخ ٢٨ : ٢٤) ، وأيضاً &#8221; المعاشرات الرديئة تفسد الأخلاق الجيدة &#8221; (١كو ١٥ : ٣٣) ، والرب يعلمنا أن نبتعد عن مثل هؤلاء فيقول &#8221; هم عميان قادة عميان ، وان كان أعمى يقود أعمى يسقطان كلاهما فى حفرة &#8221; (مت ١٥ : ١٤) مثل هذا الانسان ينبغي أن نبتعد عنه ونتجنّبه – أيّا كان – طالما أنه خارج عن الكنيسة ، مثل هذا أخطأ وأدان نفسه ، فذاك الذى يقاوم كهنة المسيح ويفصل نفسه عن شركة اكليروس المسيح أيظن أن له المسيح ؟ ذاك الذى يتسلح ضد الكنيسة ويحارب تدبير الله ، انه عدو للمذبح ومتمرد على ذبيحة المسيح ، وجاحد للأيمان ، عبد عاصي ، ابن عاق ، أخ معاد ، يزدرى بالأساقفة ويهجر كهنة الله ، لذا يتجاسر على أن يُقيم مذبح آخر ، ويرفع صلاة أخرى غير قانونية ، انه يدنس تقدمة الرب بذبائح كاذبة ، ولا يعلم أنه يقاوم اختيار وتعيين الرب ، ولأجل تهوره واندفاعه سوف يناله العقاب الالهى.</p>
<p>هكذا نال قورح وداثان وابيرام الذين حاولوا اغتصاب حق تقديم الذبيحة، مُقاومين موسى وهارون الكاهن، فنالوا فى الحال عقوبة جسارتهم، اذ انشقت الأرض وفتحت فاها وابتلعت كل الأحياء الواقفين منهم ولم يتوقف غضب الله عند من قادوا الفتنة ، بل خرجت أيضاً نار من عند الرب وأكلت المائتين والخمسين رجلاً الآخرين الذين شاركوا فى هذا الجنون ، والذين انضموا اليهم في حماقتهم ، كل هذا بلا شك حتى نتعلّم أن كل ما سعى اليه هؤلاء الرجال الأشرار ، لإفساد قصد واختيار الله ، كان مقاومة لله.</p>
<p>(عدد ١٦: ٢٥ &#8211; ٢٦) ، وهكذا أيضاً عزّيا الملك عندما قدم بخوراً وادّعى لنفسه بالقوة حق تقديم الذبيحة مخالفاً شريعة الرب ، مع أن عزاريا الكاهن قاومه ، لكنه لم يذعن ولم يطيع ، فضربه الغضب الالهى وأصاب جبهته بالبرص ، لقد ضربه الرب بعلامة فى هذا الموضع من جسده الذى فيه يُختم من يستحقون التكريم من الرب  وأيضاً ابنى هارون اللذين وضعا ناراً غريبة على المذبح لم يأمر بها الرب ، خرجت نار من عند الرب وأكلتهم فماتا فى الحال.</p>
<p>هؤلاء ( أى المبتدعون والمنشقين ) يقتدون بلا شك بهذه الأمثلة ، هؤلاء الذين يزدرون بتقليد ( تسليم ) الله ويسعون وراء تعاليم غريبة ويقدمون تعاليم بشرية ، هؤلاء يوبخهم الرب فى انجيله قائلاً :&#8221; تركتم وصية الله وتتمسكون بتقليد الناس &#8221; (مر ٧ : ٨) انها خطية أردأ من تلك التي يسقط فيها من جَحدوا الايمان ، الذين برغم جَحودهم ، عندما يتوبون عن خطيتهم يتضّرعون لله بندم كامل ، اذ أنّهم يسعون وراء الكنيسة ويستعطفونها ، بينما هناك يقاومون الكنيسة ، ذاك ربما كان سقوطه وانكاره عن ضعف أو قهر ، أمّا هنا فيرتكب الشّر بإرادة حرة ، الذى ارتد لا يؤذى سوى ذاته ، أما من يسعى للبدع أو الانشقاق فانه يخدع ويُضلّ كثيرين بأن يجذبهم خارجاّ ، فى الحالة الأولى خسارة نفس واحدة ، وفى الثانية خسارة نفوس كثيرة ، الأول يعىّ ويعرف انه أخطأ وينوح ويندم على خطيته ، أمّا الآخر – فهو مغرور ومنتفخ فى قلبه وراضباً عن جريمته – يفصل أبناء عن أمهم ، ويضلّل قطيعّا عن راعيه ، ويشّوش أسرار الله 0 الجاحد أخطأ مرة وحسب ، أما الآخر فيخطئ كل يوم ، أخيراً الجاحد ان استشهد بعد توبته ينال الملكوت ، بينما الآخر فحتى لو ذُبح خارج الكنيسة لا يمكن أن ينال جمالات الكنيسة.</p>
<p>أيها الاخوة الأحباء ، ليت لا أحد يتعجب ، أنه حتى بعض المعترفين يسقطون فى هذه الهاوية ، وان كان البعض منهم أخطأ بصورة مخزية ، ان الاعتراف لا يهب الانسان حصانة من فخاخ الشيطان ومن التجارب ، والا ما كنا رأينا فى بعض هؤلاء المعترفين – هذه الآثام والزنى والخطايا – التى نراها الآن بحزن وأنين فى البعض منهم ، وآيا كان المعترف فانه لن يكون أفضل ولا أعظم ولا أقرب الى الرب من الملك سليمان ، الذى طالما كان يسير فى طرق الرب ، كان يحفظ النعمة التى نالها ، الا انه عندما ترك الطريق فقد هذه النعمة، لذا كُتب : &#8221; تمسك بما عندك لئلا يأخذ أحدا كليلك &#8221; (رؤ ٣ : ١١) وما كان الرب يحذر بأن اكليل البر يمكن أن ينزع ، اذ لم يكن في فقدان البر خسارة للاكليل<a href="#_ftn7" name="_ftnref7">[7]</a></p>
<p></p>
<p></p>
<h3>عظات آباء معاصرين</h3>
<p></p>
<h4>الكنيسة أيام الرسل للأستاذ نظير جيد (المتنيح البابا شنوده الثالث )</h4>
<p></p>
<p><strong>الكنيسة أيام الرسل</strong></p>
<p>أهمية دراسة هذه الفترة</p>
<p>ليس مقصدنا من التاريخ أن ندرس حوادث وأخبارا، إنما نهدف من وراء معرفة الحوادث والأخبار أن نعرف كيف نحيا ونسلك فالمسيحية روح وحياة . . . والتاريخ إذ يعود بنا إلى الماضي ، ويقدم لنا حياة نخبة من الناس إنما يفعل ذلك, لكى نعرف نهاية سيرتهم فنتمثل بإيمانهم ، . وإن كان ذلك ينطبق على تاريخ الكنيسة بوجه عام، فإنه ينطبق على الكنيسة في عهد الرسل بوجه أخص.</p>
<p>لقد قضى تلاميذ السيد المسيح مدة طويلة معه، وكان يحدثهم أحاديث طويلة خاصة لم يذكر الكتاب عنها شيئا، كان ينطلق بهم إلى مواضع خلاء، ويسير معهم ويتحدث اليهم في السفينة أو على شاطئ البحيرة، والكتاب المقدس يذكر لنا كل ذلك ولكنه لا يذكر ما دار من أحاديث. ويكتفى القديس يوحنا الحبيب بقوله، وأشياء أخر كثيرة صنعها يسوع ان كتبت واحدة واحدة فلست أظن أن العالم نفسه يسع الكتب المكتوبة.</p>
<p>ويخبرنا سفر أعمال الرسل أن السيد المسيح ظهر للتلاميذ أربعين يوماً بعد قيامته كان يكلمهم فيها عن الأمور المختصة بملكوت الله. ولكن ماذا قال لهم. لا ندري! ولكن الكلام الذي قاله السيد المسيح لتلاميذه، وإن كان غير مكتوب في الأناجيل إلا أنه وصل الينا البعض منه عن طريق التقليد والتسليم، ووصل الينا بعضه عن طريق قوانين وتعاليم الرسل، كما أنه ظهر في حياة الرسل أنفسهم ،في أعمالهم وفي أقوالهم ورسائلهم . كان الرسل إذن كنزاً ثميناً، ونحن إذ ندرس الكنيسة في عهدهم إنما نود أن نعرف الأوضاع الصحيحة السليمة التي عمل فيها الروح القدس والوحي الإلهي واختزنت فيها تعاليم السيد المسيح ذاته. كيف سارت تلك الكنيسة؟ هذا ما نود الآن أن نذكر فكرة عنه .</p>
<p><strong>عمل الروح القدس</strong></p>
<p>لعل أول ميزة تتميز بها كنيسة الرسل هي عمل الروح القدس. لقد أمرهم السيد له المجد ألا يبرحوا أورشليم حتى يحل عليهم الروح القدس واستطرد فقال. لكنكم ستنالون قوة متى حل الروح القدس عليكم وتكونون لي شهوداً في أورشليم وفي كل اليهودية والسامرة وإلى أقصى الأرض، . كان يجب أولا أن ينالوا قوة من الروح القدس ثم بعد ذلك يمكنهم أن يشهدوا للمسيح</p>
<p>وفى يوم الخمسين &#8220;ظهرت لهم ألسنة منقسمة كأنها من نار واستقرت على كل واحد منهم، وامتلأ الجميع من الروح القدس وابتدأوا يتكلمون بألسنة أخرى كما أعطاهم الروح أن ينطقوا، . وهكذا استطاع بطرس أن يلقى عظة وسط جمهور من الأعداء المستهزئين فتكون النتيجة أنهم يقبلون كلامه بفرح ويعتمدون وينضم في ذلك اليوم نحو ثلاثة آلاف نفس. إنها عظة عادية قد يلقيها واعظ الآن فلا تخلص نفساً واحدة، ولكن بطرس الممتلىء من الروح القدس عندما ألقاها على أعدائه يقول الكتاب &#8221; فلما سمعوا نخسوا في قلوبهم وقالوا لبطرس و لسائر الرسل ماذا نصنع أيها الرجال الاخوة . . . . . &#8221;</p>
<p>ومن ذلك الحين صار الروح هو كل شيء في كنيستهم. كان هو الذي يدعوهم إلى الخدمة، وهو الذي يعلمهم ويعطيهم قوة ويتكلم على ألسنتهم، وهو الذي ينقلهم من مكان إلى آخر، وهو الذي يفعل بهم المعجزات، وهو الذي يرشد مجمعهم، . . . كما كان الامتلاء من الروح القدس شرطاً أساسياً جوهرياً للخدمة</p>
<p>١- كان الروح القدس يدعوهم إلى الخدمة</p>
<p>لعل هذا يظهر جداً من التصريح الآتي: &#8221; وبينما هم يخدمون الرب ويصومون قال الروح القدس افرزوا لى برنابا وشاول للعمل الذي دعوتهما اليه&#8221; ما دام العمل هو عمل الله، فمن حق الله إذن أن يختار بنفسه الأشخاص الذين يخدمونه.</p>
<p>٢- وكان يعلمهم ويتكلم على ألسنتهم</p>
<p>لقد وعدهم السيد المسيح بذلك إذ قال: &#8221; وأما متى جاء ذاك روح الحق فهو يرشدكم إلى جميع الحق لأنه لا يتكلم من نفسه بل كل ما يسمع يتكلم به ويخبركم بأمور آتية&#8221; . وهكذا كان الرسل يمتلئون أولا من روح الله ثم بعد ذلك يتكلمون حتى يكون كلامهم من الله وليسمن ذواتهم. بعد شفاء الأعرج أخذ بطرس ويوحنا إلى المجمع، &#8220;ولما أقاموهما في الوسط جعلوا يسألونهما بأية قوة وبأى إسم صنعتها أنتها هذا. حينئذ امتلأ بطرس من الروح القدس وقال لهم . . . فليكن معلوماً عند جميعكم وجميع شعب اسرائيل انه باسم يسوع المسيح الناصري الذي صلبتموه أنتم الذي أقامه الله من الأموات. بذلك وقف هذا أمامكم</p>
<p>صحيحاً &#8221; . لم يكن ممكناً أن يتكلم بطرس بهذه الجرأة لو لم يمتلىء أولا من روح الله. ثم ها هو بولس الرجل المثقف يشرح لنا فاعلية الروح في الكلام فيقول في رسالته إلى أهل كورنثوس . . وكلامي وكرازتي لم يكونا بكلام الحكمة الانسانية المقنع بل ببرهان الروح والقوة ، لكى لا يكون إيمانكم بحكمة الناس بل بقوة الله . . . . لأن الروح يفحص كل شيء حتى أعماق الله، ويستطرد فيقول . . . . . نتكلم لا بأقوال تعلمها حكمة انسانية، بل بما يعلمه الروح القدس قارنين الروحيات بالروحيات. أ</p>
<p>٣- وكان الروح ينقلهم من مكان إلى آخر:</p>
<p>لننظر كيف أمن الخصى الحبشى وزير كنداكة ملكة الحبشة المشرف على جميع خزائنها: إنه كان جالساً في مركبته يقرأ النبى أشعياء ، وماذا حدث بعد ذلك . &#8220;قال الروح لفيلبس تقدم ورافق هذه المركبة، . فبادر فيلبس وكلم الوزير الحبشي وبشره وعمده، وهكذا وصل اسم المسيح إلى أثيوبيا .</p>
<p>ثم كيف أمن كرنيليوس قائد المئة. ظهرت رؤيا لبطرس وبينما هو متفكر في الرؤيا ه قال له الروح هوذا ثلاثة رجال يطلبونك لكن قم وانزل واذهب معهم غير مرتاب في شيء لإنى أنا قد أرسلتهم، وهكذا ذهب بطرس وبشر أول أممى وبينما هو يتكلم بكلمة الرب حلالروح القدس على جميع الذين كانوا يسمعون الكلمة فسمح لهم بطرس أن اعتمدوا.</p>
<p>وماذا نقول عن تنقلات بولس وسيلا اللذين، أرسلا من الروح القدس ، يقول الكتاب. وبعد ما اجتازوا في فريحية وكورة غلاطية منعهم الروح القدس أن يتكلموا بالكلمة في آسيا . فلما أتوا إلى ميسيا حاولوا أن يذهبوا إلى بثينية فلم يدعهم الروح وظهرت لبولس رؤيا في الليل رجل مكدوني قائم يطلب اليه ويقول أعبر إلى مكدونية وأعنا . فلما رأى الرؤيا للوقت طلبنا أن نخرج إلى مكدونية متحققين أنالرب قد دعانا لنبشرهم فأقلعنا من ترواس . . . . .&#8221;</p>
<p>ان أولاد الله لا يتحركون من ذواتهم في كرمه، إنما ينقلهم الروح القدس من مكان إلى آخر . يمنعهم من الكلام هنا ويأمرهم بالتبشيرهناك ، حسبما يشاء . . . .</p>
<p>٤ وكان الروح يفعل بهم المعجزات</p>
<p>لقد حاول حنانيا وسفيرا أن يكذبا على بطرس ولكنه يقول لحنانيا &#8221; لماذا ملأ الشيطان قلبك لتكذب على الروح القدس ، ويقول لسفيرا. ما بالكما اتفقتا على تجربة روح الرب ، . لقد كانا في الواقع يجربانه هو ، ولكنه بنفسه لم يكن يتصرف وإنما روح الله الساكن في هو هكذا وقع حناينا ميتاً وكذلك زوجته &#8221; فصار خوف عظيم على جميع الكنيسة وعلى جميع الذين سمعوا بذلك&#8221;</p>
<p>ثم ها هوذا بولس ومعه سيلا في بافوس . ان عليم الساحر يقاومهما ، طالباً أن يفسد الوالي عن الإيمان ، وأما شاول الذي هو بولس أيضا فامتلأ من الروح القدس وشخص اليه وقال . . . . . هوذا يد الرب عليك فتكون أعمى لا تبصر الشمس إلى حين . . . . . &#8220;و يعمي الرجل ويؤمن الوالي . . . ان الروح القدس يعطى لأولاد الله قوة عجيبة .</p>
<p>٥ وكان الروح القدس يرشد مجمعهم</p>
<p>لقد اجتمع الرسل في مجمع أورشليم ونظروا في أمر إيمان الأمم ، ثم أصدروا قراراً  في ذلك ، وأرسلوا بقرارهم رسالة إلى أهل أنطاكية وسوريا وكيليكية قالوا فيها, رأى الروح القدس ونحن أن . . . . . . وهكذا نرى أنهم لا يصدرون قراراً من ذواتهم وإنما الروح القدس برى وهم ينقلون ما يراه للناس</p>
<p>٦ وكان الامتلاء من الروح القدس شرطاً أساسياً جوهرياً للخدمة</p>
<p>عند اختيار الشمامسة السبعة قال الاثنا عشر لجمهور التلاميذ و انتخبوا أيها الأخوة سبعة رجال منكم مشهوداً لهم ومملوءين منالروح القدس وحكمة فنقيمهم على هذه الحاجة فاختاروا استفانوس رجلا مملوءاً من الإيمان والروح القدس و . . . . وهذا الشرط كانعاملا هاماً في نجاح الخدمة. لقد وقف ضد استفانوس مجمع الليبرتينيين والقيروانيين والاسكندريين. . ولم يقدروا أن يقاوموا الحكمة والروح الذي كان يتكلم. . هذا الشماس بلغ من قداسته أنهم أخذوه ليرجموه في سبيل المسيح. وأما هو فشخص إلى السماء وهو ممتلئ من الروح القدس فرأى مجد الله ويسوع قائماً عن يمين الله وفيها هم يرجمونه وجثا على ركبتيه وصرخ بصوت عظيم يأرب لا تقم لهم هذه الخطية وإذ قال هذا رقد.</p>
<p>هذا عن استفانوس ، وبرنابا أيضاً الذي أرسل إلى أنطاكية قيل عنه إنه كان, ممتلئا من الروح القدس والإيمان ، لذلك قيل أيضا ،فانضم إلى الرب جمع غفير وبعد هذا شيء من عمل الروح القدس في الكنيسة أيام الرسل، وهكذا يجب أن يعمل روح الله في الكنيسة في كل جيل ، حتى تدعى كنيسة الله<a href="#_ftn8" name="_ftnref8">[8]</a></p>
<p></p>
<p></p>
<h3>قداسة البابا تواضروس الثاني</h3>
<p></p>
<p><strong>إرسالية الرسل</strong></p>
<p>يقدم الإنجيل في هذا القداس «إرسالية السبعين رسولاً» ، والواقع أن العهد الجديد يقدم رسالية التلاميذ والرسل على مرحلتين:</p>
<p>أ  إرسالية الاثني عشر (متى البشير) لليهود مثل ١٢ سبط</p>
<p>ب  إرسالية السبعين (لوقا البشير) للأمم. مثل ٧٠ شيخ</p>
<p>وقد أرسلهم:</p>
<p>اثنين اثنين ؛ لأن رقم (٢) إشارة إلى حب الله والناس في قلب خدامه.</p>
<p>دور الكنيسة؛ الذي يسمع منكم يسمع مني، فالمسيح  تبارك اسمه  حاضر في أشخاص تلاميذه وبواسطة كنيسته يأتي.</p>
<p>متى نفرح؟ ليس بانهيار العدو ولا بالقدرة على صنع المعجزات، بل بالتمتع بالملكوت السماوي والحياة الفاضلة.</p>
<p>شهر القديسين:</p>
<p>هذه إرسالية السبعين وهي تختلف عن إرسالية الاثني عشر، وقد سجلها كاتب أممي هو لوقا الرسول.</p>
<p>شهر يوليو شهر القديسين</p>
<p>في أول يوليو (٢٤ بؤونه) القديس موسى الأسود. (تائب / شهید)</p>
<p>في منتصف يوليو (٨ أبيب) القديس الأنبا بيشوى.</p>
<p>(ناسك)</p>
<p>في آخر يوليو (٢٤ أبيب) القديس أبانوب الشهيد.</p>
<p>(طفل / شهید)</p>
<p>هؤلاء هيأوا الطريق طريق التوبة والنقاوة.</p>
<p>طريق النسك والزهد.</p>
<p>طريق الشهادة والدم.</p>
<p>إنهم أواني مختارة لله وللنعمة الإلهية، بالقدوة والمثال والنموذج &#8230; إنهم «فعلة» للحصاد<a href="#_ftn9" name="_ftnref9">[9]</a>.</p>
<p></p>
<p></p>
<h4>المتنيح الأنبا يؤانس أسقف الغربية</h4>
<p></p>
<p><strong>١- </strong><strong>السلطان الكنسى</strong></p>
<p>هذه الكنيسة التى اقتناها الله بدمه ، كان لابد لها من سلطان عال يرعى كيانها ويحفظه ويدبر امورها الداخلية ويسوسها &#8230; هذا هوما نسميه بسلطان  الكنيسة &#8230; وقد انتقل هذا السلطان إليها من الرب نفسه الذى قال لرسله القديسين قبل صعوده  إلى السماء&#8221; دفع إلى كل سلطان في السماء وعلى الأرض . فأذهبوا وتلمذوا جميع الأمم وعمدوهم باسم الآب والابن والروحالقدس . وعلموهم بكل ما اوصيتكم به. وها أنا معكم كل الأيام وانقضاء الدهر “ (مت ٢٨ : ١٨ &#8211; ٢٠ ) .. وقد تقلد الرسلهذا السلطان هذا حينما قال لهم : &#8221; وإن لم يسمع من الكنيسة فليكن عندك كالوثنى والعشار . الحق أقول لكن كل ماتربطونه على الأرض يكون مربوطاً في السماء . وكل ما تحلونه على الأرض يكون محلولاً في السماء &#8221; (مت ١٨: ١٧- ١٨ ) &#8230; بل لقد جعل الرب يسوع صوت الكنيسة كصوت الله نفسه &#8221; الذى يسمع منكم يسمع منى &#8221; ( لو ١٠ : ١٦ ) &#8230;</p>
<p>وحيث أن الكنيسة مؤسسة روحية ، فسلطانها سلطان روحى خالص &#8230; ولم تحاول كنيسة الرسل أن تخرج عن هذا النطاق ، أو تدعىلنفسها سلطاناً زمنياً ، أياً كان نوعه .. فمملكة المسيح مملكة روحية ليست من هذا العالم &#8230; في هذا الدهر يملك المسيح على القلوب، وفى الدهر الآتى مملكته في السماء &#8230; وقد استخدمت كنيسة الرسل هذا السلطان الإلهى المعطى لها كسياج للحفاظ على حياة المؤمنين الروحية والأدبية، ولصون الإيمان الأرثوذكسى ، وكل ما يتصل بنظام الكنيسة وعبادتها سليماً &#8230;</p>
<p>ولقد مارس الآباء الرسل هذا السلطان الإلهى في هذه الأغراض وأشباهها:</p>
<p>+ تكلم القديس بولس عن هذا السلطان الإلهى فقال &#8221; فإنى وإن افتخرت شيئاً أكثر بسلطاننا الذى أعطانا إياه الرب لبنيانكم لا</p>
<p>لهدمكم لا أخجل ، لئلا أظهر كأنى أخيفكم بالرسائل &#8221; ( ٢ كو ١٠ : ٨ &#8211; ٩ ) . وقال أيضاً &#8221; لذلك أكتب بهذا وأنا غائب لكى لااستعمل جزماً وأنا حاضر حسب السلطان الذى أعطاني إياه الرب ، للبنيان لا للهدم &#8221; ( ٢ كو ١٣ : ١٠ ) .</p>
<p>وفى كلا القولين نلاحظ أمراً هاماً ، وهو أن هذا السلطان الإلهى الذى أعطى للكنيسة في شخص الرسل ، يهدف بالدرجة الأولى للبنيان لا للهدم ، لبنيان المؤمنين لا لهدمهم . وقد تناولت قوانين الرسل هذا الموضوع بإسهاب، ووضعت تحت طائلة العقاب الإلهى كل من يستخدم هذا السلطان إستخداماً مغرضاً &#8230;</p>
<p>+ وكمثال لسلطان الكنيسة للمحافظة على حياة المؤمنين الروحية والأدبية ، موقف القديس بولس إزاء الشاب الذىارتكب زنا بالمحارم في كورنثوس &#8230; قال &#8221; فإنى أنا كأنى غائب بالجسد ، ولكن حاضر بالروح قد حكمت كأنى حاضرفىالذى فعل هذا هكذا ، باسم ربنا يسوع المسيح إذ أنتم وروحى مجتمعون مع قوة ربنا يسوع المسيح أن يسلم مثلهذا للشيطان لهلاك الجسد لكى تخلص الروح في يوم الرب يسوع &#8221; ( ١ كو ٥ : ٣ – ٥ ) &#8230; ومرة ثانية يكتب لكنيسةكورنثوس &#8230; &#8221; هذه المرة الثالثة آتى إليكم . على فم شاهدين وثلاثة تقوم كل كلمة . قد سبقت فقلت ، وأسبق فأقول كما وأنا حاضرالمرة الثانية ، وأنا غائب الآن أكتب للذين أخطأوا من قبل ولجميع أنى إذا جئت أيضاً لا أشفق &#8221; ( ٢ كو ١٣ : ١ ، ٢ ) .</p>
<p>+ وكمثال لسلطان الكنيسة للحفاظ على الإيمان الأرثوذكسى ، ما قاله معلمنا بولس الرسول لكنيسة غلاطية &#8230; &#8221; ولكنإن بشرناكم نحن أو ملاك من السماء بغير ما بشرناكم فليكن أناثيماً ( محروماً ) . كما سبق فقلنا أقول الآن وأيضاً إنكان أحد يبشركم بغير ما قبلتم فليكن أناثيماً (محروماً) &#8221; (غل ١ : ٨ ، ٩ ) &#8230; وبعد أن عرض الرسول للذين يعلمون تعليماً خاطئاً ،قال &#8221; الذين منهم هيمينايس ، والاسكندر اللذين أسلمتهما للشيطان لكى يؤدبا حتى لا يجدفا &#8221; ( ١ تى ١ : ٢٠ ) &#8230; وقالالقديس يوحنا الرسول في رسالته الثانية &#8221; إن كان أحد يأتيكم ولا يجئ بهذا التعليم فلا تقبلوه في البيت ولا تقولوا لهسلام . لأن من يسلم عليه يشترك في أعماله الشريرة &#8221; (٢ يو ١٠)</p>
<p>+ وكمثال لسلطان الكنيسة للمحافظة على نظام الكنيسة وعبادتها ، ما قاله معلمنا بولس لكنيسة كورنثوس &#8221; كما دعاالرب كل واحد هكذا ليسلك ، وهكذا أنا آمر في جميع الكنائس&#8221; ( ١ كو ٧ : ١٧ ) &#8230; &#8221; ولكن إن كان أحد يظهر أنه يحبالخصام فليس لنا نحن عادة مثل هذه ولا لكنائس الله &#8221; ( ١ كو ١١ : ١٦ ) &#8230; ويقول للتسالونيكيين &#8221; تم نوصيكم أيهاالأخوة باسم ربنا يسوع المسيح أن تتجنبوا كل أخ يسلك بلا ترتيب وليس حسب التقليد الذى أخذه منا &#8230; وإن كانأحد لا يطيع كلامنا بالرسالة فسموا هذا ولا تخالطوه لكى يخجل &#8221; ( ٢ تس ٣ : ٦ ، ١٤ ) .</p>
<p><strong>التأديبات الكنسية  </strong></p>
<p>مارست كنيسة الرسل، سلطانها المعطى لها من الله ، لبنيان نفوس أعضائها ، فأوقعت على بعض المنحرفين والخطاه بعضتأديبات خاصة بقصد تقويمهم في الفضيلة وتهذيب نفوسهم وتدريبهم على التقوى &#8230; والتأديبات الكنسية ليست قصاصاً أو عقاباًيكفر عن خطية الإنسان . فالخطية لا يكفر عنها سوى دم المسيح وحده، أما التأديبات فهى – كما قلنا – للتقويم والتهذيب ، وفىبعض الحالات لدراء خطر أو ضرر يمكن أن يحدث &#8230;</p>
<p>إن الكنيسة في هذه الحالة كالطبيب الذى يعالج مرضاه ، كلاً حسب حالته &#8230; فهو يعالج البعض بالأدوية مرة المذاق ، وينصحالبعض بالتزام الراحة التامة ، والبعض الآخر تستدعى حالتهم عزلهم عن الأصحاء ، ونهى الأصحاء عن مخالطتهم حتى لا تنتقلالعدوى إليهم &#8230; لكن إذا كان المرض خطيراً جداً ولا سبيل إلى البرء منه ، ويخشى من امتداد المرض إلى باقى الأعضاء ، فقد كانتالكنيسة – في حزن وألم – تقطع العضو من شركتها ، على نحو ما يفعل الطبيب الذى تضطره حالة المريض إلى أن يبتر عضواً منأعضاء جسمه ..</p>
<p>لكن نلاحظ فيما وصل إلينا من كتابات العهد الجديد أو قوانين الرسل، إن هذه التأديبات الكنسية كانت تتسمبروح المحبة والحنو والرحمة وطول الروح، وتستهدف ، بالفعل بنيان المؤمنين ، لا هدمهم ( ٢ كو ١٠ : ٩ ؛ ١٣ : ١٠ ) . ولا شك أن الكنيسة قد تسلمت هذه الروح من الرب يسوع الذى أظهر ملء الحنان والحب والشفقة في معاملته للخطاه ، وفىاقتيادهم إلى التوبة &#8230;</p>
<p>فالشاب الذى إرتكب خطية رنا المحارم في كورنثوس – بعد أن قدم ثمار توبته ، كتب معلمنا بولس إلى الكنيسة يقول : &#8221; مثل هذايكفيه هذا القصاص الذى من الأكثرين حتى تكونوا بالعكس تسامحونه بالحرى وتعزونه لئلا يبتلع مثل هذا منالحزن المفرط . لذلك أطلب أن تمكنوا له المحبة &#8221; (٢ كو ٢ : ٦ – ٨ ) . ويكتب إلى كنيسة تسالونيكى يقول: &#8221; إن كان أحد لايطيع كلامنا بالرساله ، فسموا هذا ولا تخالطوه لكى يخجل . ولكن لا تحسبوه كعدوا بل انذروه كأخ &#8221; (٢ تس ٣: ١٤ ) .</p>
<p>وقد أفاض الآباء الرسل في الكلام عن معاملة الخطاة بالحنو والرفق والرحمة والعدل &#8230; وقد حذروا الأسقف من القسوة والصرامةوتعالى القلب ونصحوه بالتريث.</p>
<p>وكانت هذه التأديبات الكنسية تتدرج وتتفاوت في نوعها حسب الخطأ الذى إرتكبه الشخص . وأقصى عقوبهكانت هي الفرز من الكنيسة &#8230; لكن حتى في هذه الحاله كان الهدف هو أن يخجل الخاطئ ويحس بما إرتكبه &#8230; &#8221; لا تحسبوه كعدوا ، بل إنذروه كأخ.</p>
<p></p>
<p></p>
<h4> المتنيح الأنبا كيرلس مطران ميلانو</h4>
<p></p>
<p><strong>عن الفعله والحصاد </strong></p>
<p>واحك لنا يا تاريخ. . عن الفعلة والحصاد</p>
<p>تري من هذا الشيخ الطفل الوقور؟!</p>
<p>قلت لعله التاريخ المقدس؟! .. لأنه يسجل ويصور ويحكي.. يسجل أعمالا مقدسة.. ويلتقط صورا حية نقية..</p>
<p>رأيته سفرا مفتوحا.. لم تنته صفحاته.. أحسست انه سفر لأعمال رسل، وأبرار ، وقديسين ، وأطهار ..</p>
<p>جلست تحت هذا السجل العظيم المقدس .. جلست تحت صفحاته التي تسيل حبا.. وتقطر شهدا .. جلست .. أسأل .. وأسمع .. وأرتوي .. على غلاف هذا السجل لمحت عبارة قالها السيد المسيح .. &#8221; الحصاد كثير ، والفعلة قليلون .. &#8221; .</p>
<p>نظرت إلى عيون الشيخ الطفل الوقور .. وقلت في داخلي .. يبدو أن شبكية عينيه متصلة بحدقة عين الرب .. لأنه لا يري بعيون الآخرين عندما يسجل .. بل يري بعينيه ويكتب.. وهو يروي عملا لا قولا.. أصابعه يحركها الله .. فيكتب عن الذين أحبوا الرب من كقلوبهم وهم المنقوشين على كفه (أش ٤٩: ١٦) .. لأن الحائدين عن الرب لا يكتبون في هذا السجل .. إنما على التراب يكتبون.</p>
<p>لنا نحن سكان الأرض يكتب سجلا مفتوحا عن الأبرار .. ويرسل أعمالهم إلي سفر الحياة في السماء .. التي تتبلور إلى حصاة جديدة (رؤ ۲: ۱۷ ) تجمع عمل كل واحد .. في كلمة واحدة.</p>
<p>تجرأت .. وسألت هذا الطفل الشيخ الوقور .. من أنت ؟! وما عمرك ؟! وما عملك ؟!</p>
<p>قال لي .. أنا لست شخصا . إنما أنا تاريخ!!</p>
<p>أنا وليد أعمال الفعلة الأبرار القديسين .. هؤلاء هم الذين صنعوني . ولا يوجد تاريخ مثلي يحيا بين الشعوب ويبقى على الأرض وفيالسماء ..</p>
<p>عمري يتجدد يوما بعد يوم .. لأن الفعلة الأبرار يولدون كل يوم</p>
<p>سألته .. أيها التاريخ الوقور . أنت تقول إن الأبرار يولدون كل يوم والسيد المسيح يقول الحصاد كثير والفعلة قليلون ، دعني أسألك ؟! كيف يكون الفعلة قليلون ، وكثيرون الذين يخدمون ؟ ! .. لأن كثيرون يتسابقون ويتصارعون في الخدمة لمجد أنفسهم ؟!</p>
<p>فسألته لعلي لا أفهم ما هو الحصاد ؟! فهمني كيف يجب أن نفعل ؟! ولماذا تفعل ؟ ! وأين نفعل ؟ !</p>
<p>مد يده وفتح الكتاب المقدس . وقرأ علي معجزة المفلوج ( مر ٢ ).. وسمعت عن الأربعة الذين حملوا المريض . وعرفت أنه لأجل إيمانه مشفاه المسيح .</p>
<p>ونظر إلي الشيخ وسألني .. هل تعلم من هو هذا المفلوج ؟! وهل تعرف من هم هؤلاء الأربعة الذين حملوه ؟!</p>
<p>قلت هذا المفلوج إنسان مريض .. وهؤلاء الأربعة أحباؤه وحملوه للمسيح طالبين له الشفاء . وقلت .. المسيح هو الله الكلمة المتجسد الطبيب الشافي</p>
<p>ويبدو أن إجابتي كانت ضعيفة وسطحية .. لأنه قال لي نقرأ مرة أخرى فأحسست بنحميا الذي صلى سرا عندما سأله الملكارتحشستا وقبل أن يجيب (نح ٢: ٤) . وتذكرت جيحزي الذي فتح الرب عينيه (٢ مل ٦: ١٧) . وقلت يا الله</p>
<p>أنت الحاضر في كل مكان .. أنا لا أريد أن أري ملائكة ، أنما عرفني الروح المخفي وراء الحروف .. ثم قرأت كما قال لي الشيخ..</p>
<p>أدركت ماذا يريد أن يفهمني هذا الوقور .. إذ رأيت أمامي مدينة مقدسة محببة يسكنها المسيح . ويحب أن يعمل فيها . مدينة الخدامالفعلة</p>
<p>لم أر أربعة أشخاص .. بل رأيت الجدران التي يجب أن يعمل فيها الراعي..</p>
<p>رأيت مدينة جدرانها الحب والبذل والإيمان والعمل&#8230;</p>
<p>قال لي الشيخ الوقور .. أنظر .. المفلوج هوكل مخدوم بعيد عن المسيح .. والأربعة هم الخدام الفعلة الذين اشتركوا معا واجتمعوا فيتوصيل المخدوم الواحد الخدام للمسيح ..</p>
<p>قليلون من هذا النوع .. من نوعية الأربعة الذين يجتمعون ويحملون واحدا للمسيح &#8230; ؟ !</p>
<p>في هذا الزمان علي النقيض .. إذ نرى خادما واحدا يتصارع مع نفسه ، ومع اخوته ، ومع من حوله .. من أجل خدمة أربعة مخدومين.. ولا يقدر أن يصل إليهم .. ولا يصل بأحدهم إلى المسيح ..</p>
<p>وطرح أمامي سؤالاً ؟! هل في الدينونة .. يقدر هذا الخادم أن يتصارع مع من حوله لينفرد عندما يعطي حساب الوكالة ؟!</p>
<p>هذا النوع في مخيلته يرى نفسه خادما .. لكنه غير عامل ويبقي فاعلا عندما يفتح قلبه ويمتلئ بفكر المسيح ..</p>
<p>وقال لي الوقور .. المؤلم .. أن هذا النوع من الخدام يعتقد أن به تم كل التجديد في الخدمة .. وبغيره لم يكن شيء مما كان ؟!</p>
<p>وعرفني أن الخدمة البعيدة عن شخص السيد المسيح والمتعلقة على الذات .. طرحت كثيرين جرحى .. وكل قتلاها أقوياء .. (أم ٧ : ٢٦)</p>
<p>قلت للشيخ الوقور .. أخبرني .. من الذي تسجله انت ؟! قال لي أنا أسجل الفاعل المستحق الأجرة ..</p>
<p>هل أنت تسجل الفاعل وليس الخادم ؟! قال لي .. ليس كل خادم فاعلا .. إنما أنا أسجل الخادم الفاعل .. وعرفني .. أنه يوجد منيخدم وهو جالس على عرش الكبرياء .. ويفتح فمه ويتكلم عن الاتضاع .. هل يجوز أن يسجله التاريخ ؟!</p>
<p>ويوجد من يخدم .. ويسكن قلبه الانتقام .. ويفتح فمه ويتكلم عن الهدوء الداخلي .. هل يجوز أن يسجله التاريخ المقدس ؟!</p>
<p>مثل هؤلاء لم اسجلهم عندي .. لأنهم يعتبرون أنهم فعله .. ويقولون للمسيح متى رأيناك غريبا .. وعريانا .. وجائعا .. ولم نخدمك..</p>
<p>أنا أسجل الذين رأوا المسيح وفعلوا مع الفقير الذي لا يعرفونه .. والجائع الذي لا يعرفونه .. والعريان والمحبوس والغريب . أسجل الذينعملوا كثيرا .. وفي داخلهم الشعور أنهم لم يعرفوا كيف يخدمون ؟<a href="#_ftn10" name="_ftnref10">[10]</a>!</p>
<p></p>
<p></p>
<h4>المتنيح</h4>
<h4></h4>
<h4>الأنبا إبيفانيوس أسقف ورئيس دير القديس أنبا مقار</h4>
<p></p>
<p><strong>الكرازة</strong></p>
<p>يتكرر الفعل &#8220;يكرز&#8221; ومشتقاته فى العهد الجديد أكثر من سبعين مرة. وهذا الفعل فى أصله اليونانى (كيرسو) يعنى &#8220;الاعلان أوالمناداة&#8221; : أى اذاعة واعلان حقائق محددة بواسطة مناد (كيركس) . أما الحقيقة المعلنة أو الرسالة التى يتم الكرازة بهافتسمى (كريجما) .</p>
<p>واذا أردنا أن نعرف معنى الرازة أو الكريجما من أسفار العهد الجديد ، علينا أن نستبعد من فكرنا مفهوم الكرازة بمعنى القاء عظةبليغة تخضع لقوانين الوعظ والخطابة ، فليس هذا هو المقصود بالكرازة فالعظة كانت تسمى &#8220;هوميليا          &#8221;</p>
<p>وليس &#8220;كريجما&#8221; ، وهى تلقى عادة على مجموعة من المؤمنين ، أما &#8220;الكريجما&#8221; فكانت تلقى على غير المؤمنين .</p>
<p>كذلك ليس &#8220;الكريجما&#8221; مجموعة من التعليم( ديداخى ) أو النصائح الأخلاقية  ( باراكليسيس ) ، ولا مجموعة من التأملات والشروحاتعلى بعض آيات الكتاب المقدس كما كان يحدث فى المجامع . فهذه جميعها كانت تهتم بأسلوب الحياة وتنظيم العبادة داخل الجماعاتالمسيحية . أما الكرازة أو &#8220;الكريجما&#8221; فهى اعلان عن حقيقة مطلقة تبدو جديدة بالنسبة للخبرة البشرية، ولا يمكن أن تخرج هذهالحقيقة عن موضوع تجسد الرب يسوع وموته وقيامته ، والخلاص الذى قدمه للبشرية ان تابت وآمنت بالانجيل .</p>
<p>المسيحية لا تكرز بمبادىء أخلاقية أو بشرائع اجتماعية، فهذه كلها وليدة الحياة المسيحية وتأتى كنتيجة مترتبة على الكرازة، ولكنليست هى الكرازة . المسيحية لا تكرز الا بيسوع المسيح القائم من بين الأموات ، الذى &#8221; ليس بأحد غيره الخلاص . لأن ليس اسم آخرتحت السماء ، قد أعطى بين الناس به ينبغى أن نخلص&#8221;( أع 4:12 ) .</p>
<p><strong>التعليم والكرازة</strong></p>
<p>فى كتاب العهد الجديد ، وخاصة فى الأناجيل الثلاثة الأولى ، تتكرر كلمتا الكرازة والتعليم معا: &#8221; وكان يسوع يطوف كل الجليل يعلمفى مجامعهم ، ويكرز ببشاررة الملكوت &#8220;( مت4: 23 ؛9: 35 ؛ 11: 1) . وكان مكان التعليم عادة داخل المجمع، أما الكرازة فكانت تتمفى أى مكان فى الخلاء .</p>
<p>كان التعليم يختص بتفسير الأسفار المقدسة أثناء الصلوات الطقسية فى المجمع لكى يفهم المؤمنون الصلاة بصورة أعمق. أما الكرازةفكانت تمثل صراخ الكارز فى الشوارع والقرى والبيوت . كان الكارز يذهب للجميع ، للعشارين والخطاة ، وكان يجذب انتباه أولئكالذين هم من خارج ، والذين يمنعون من حضور الصلاة مع الأبرار ( لو 18: 13 ) ، فلمثل هؤلاء أيضا جاءت دعوة الكرازة .</p>
<p>يذكر أيضا الكتاب المقدس أن الكرازة كانت تتم فى المجامع (أع9: 20) . فيسوع عندما كان يعلم فى المجامع لم يكن يقدم لهم تعاليمنظرية، ولم يكن يفسر لهم الكتب على طريقة الرابيين ، ولم يكن يخبر الحاضرين عما ينبغى أن يفعلوه. لقد كان تعليمه كرازة. كانيخبرهم عما تممه الله لهم فى هذا اليوم :&#8221; انه اليوم قد تم هذا المكتوب فى مسامعكم &#8220;( لو4: 21) . كان تفسيره يمثل صرخة الكارز ،وكان تعليمه عن مجىء ملكوت الله يتطلب قرارا ، اما القبول أو الرفض . لذلك كانت كرازته تختلف عن تعليم الرابيين فى المجامع :&#8221; لأنهكان يعلمهم كمن له سلطان وليس كالكتبة &#8221; ( مت 7: 29 ) .</p>
<p><strong>الارسالية والكرازة </strong></p>
<p>يقول القديس بولس الرسول :&#8221; كيف يكرزون ان لم يرسلوا ؛ ؟ &#8220;(رو10: 15) ، وهى عبارة قاطعة نفهم بها وظيفة الكارز . وليس منقبيل المصافة أن تتكرر كلمتا الكرازة والارسالية معا فى العهد الجديد (مر 3: 14، لو 4: 18، 9: 2). فبدون تكليف وارسال ، لا يكونهناك كارز، وبدون كارز لا تكون كرازة فالكرازة الحقيقية لا تتم عن طريق الكتب المقدسة بمفردها ، بل عن طريق تطبيق معانيهاتطبيقا سليما( لو 4: 21 ) .</p>
<p>لم يرسل الله كتبا للناس ، بل  أرسل رسلا. وباختياره من يقوم بمهمة الكرازة ، أسس خدمة الكرازة فى الكنيسة. وأثناء خدمة المسيحعلى الأرض كان على الرسل فقط أن يقوموا بمهمة الكرازة(مت10: 7) . وكان عليهم أن يتمموا كرازتهم فى فترة محددة. وبعد قيامتهمن بين الأموات أعاد تكليف الرسل بمهمة الكرازة :&#8221; اذهبوا الى العالم أجمع واكرزوا بالانجيل للخليقة كلها &#8220;(مر 16: 15) ؛ &#8220;هذاأقامة الله فى اليوم الثالث &#8230;. وأوصانا أن نكرز للشعب &#8220;(أع10: 40و42). لقد كانت وصية يسوع القائم من بين الأموات ، الذى هورب الجميع ، أن يكرز التلاميذ ليس لليهود فقط ، بل للخلقة كلها دون أدنى تمييز (كو 1: 23) .</p>
<p>قد يبدو شرط الارسالية تقييدا لخدمة الكرازة، ولكنه يحمل فى حقيقتة تعزيزا للكرازة. فصاحب الارسالية يمد الكارز بالرسالةوبالسلطان على تتميم الرسالة. فلم يكن الرسول يكرز برؤيته الخاصة أو باستكشافاته الشخصية، بل كان يكرز بما سمعه وبما عهداليه أن يخبر به :&#8221; الذى أقوله لكم فى الظلمة قولوه فى النور ، والذى تسمعونه فى الأذن نادوا به على السطوح &#8220;(مت 10: 27) . فبدون دعوة وارسال تصبح الكرازة خداعا واحتيالا ، اذ تصبح مناداة بأشياء ليست حقيقية ، أى تصبح دعاية أكثر منها ارسالية.</p>
<p><strong>المعجزات والكرازة </strong></p>
<p>يفتتح انجيل القديس متى خدمة الرب يسوع هكذا:&#8221; وكان يسوع يطوف كل الجليل يعلم فى مجامعهم ، ويكرز ببشارة الملكوت ،ويشفى كل مرض وكل ضعف فى الشعب &#8220;( مت4: 23) . وعندما أرسل يسوع تلاميذه أوصاهم أن &#8221; يكرزوا بملكوت الله ويشفواالمرضى&#8221;(لو 9: 2) . فان كانت الكرازة  أية كرازة اعلانا حقيقيا عن عمل الله ، يكون الله هو المصاحب والساهر على عمله ، ويتأكدذلك بالمعجزات والعجائب التى يجريها على أيدى رسله.</p>
<p>ليس للمعجزة أهمية فى حد ذاتها، ولكن الأهمية ترجع الى الرسالة المعلنة&#8230; &#8220;الكريجما&#8221; ؛ وما الآيات والمعجزات الا دليل على صدقهذه الرسالة :&#8221; وأما هم فخرجوا وكرزوا فى كل مكان ، والرب يعمل معهم ويثبت الكلام بالآيات التابعة &#8221;  (مر16ك 20) ، &#8221; شاهدا اللهمعهم بآيات وعجائب وقوات متنوعة ومواهب الروح القدس ، حسب ارادته&#8221;( عب 2: 4) .</p>
<p>ولم تكن الجموع تنبهر بسبب العجائب التى كان يجريها الرسل، على غرار انبهارهم من أعمال السحر التى كانت تجرى باسم الآلهةاليونانية ، بل اندهشت الجموع بالأكثر من التعليم والرسالة التى أعلنها التلاميذ. فبالنسبة للمؤمنين ب&#8221; كلمة الله&#8221;، كانت المعجزةاثباتا لحضورة معهم أما غير المؤمنين الذين أرادوا  لكى يؤمنوا أن يروا آيات وعجزات ، فحتى المعجزات فى هذه الحالة لم تجدهمنفعا ، &#8221; لأن اليهود يسألون آية، واليونانيين يطلبون حكمة، ولكننل نحن نكرز بالمسيح مصلوبا : لليهود عثرة ، ولليونانيين جهالة ؛ &#8220;( 1كو 1: 22و23) .</p>
<p><strong>مضمون الكرازة(الكريجما) </strong></p>
<p>عندما ظهر الرب يسوع لتلاميذه بعد قيامته من بين الأموات، أوجز لهم كل مضمون الكرازة، وسلمهم الرسالة التى بنوا عليها بعد ذلككرازتهم فى جميع الأمم:&#8221;لابد أن يتم جميع ما هو مكتوب عنى فى ناموس موسى والأنبياء والمزامير &#8230;.. هكذا هو مكتوب ، وهكذاينبغى أن المسيح يتألم ويقوم من الأموات فى اليوم الثالث.  وأن يكرز باسمه بالتوبة ومغفرة الخطايا لجميع الأمم، مبتدأ من أورشليم ،وأنتم شهود لذلك . وها أناأرسل اليكم موعد أبى &#8220;(لو 24: 46 49). هذا هو مضمون الكرازة، وعلى هذا الأساس كرز الرسلللمسكونة كلها .</p>
<p><strong>أ‌.    الله والمسيح</strong></p>
<p>فى بدء كرازة الرب يسوع ، نادى أنه قد أقترب ملكوت الله . أما بعد موته وقيامته فقد دخل عنصر جديد على كرازة الرسل ، وهوشخص المسيح نفسه ورسالته . لم يتخل الرسل عن الكرازة بمجىء ملكوت الله (أع 8: 12؛ 20: 25) ، لكن هذة الكرازة أخذت بعداجديدا . فبشخص المسيح تأسس ملكه على الأرض، وبنعمته وبعمل الروح القدس صار هناك امكانية لحلول ملكوت الله بين الناس</p>
<p>وكأساس للكرازة بالمسيح لزم الكرازة بعقيدة وجود الله ووحدانيته، خاصة للأمم الوثنية التى اعتادت على عبادة آلهة كثيرة(أع 17: 22؛ 1تس 1: 9) . وبدون شك كان فى المقدمة الكرازة لكل الأمم :&#8221; بغنى المسيح الذى لا يستقصى &#8220;( أف 3: 8) . وفى عبارة موجزة، كان شخص المسيح هو الموضوع الأساسى لكرازة الرسل. ففيلبس الشماس ذهب الى السامرة &#8220;وكان يكرز لهم بالمسيح&#8221;     ( أع 8: 4) . ولما تقابل مع الخصى الحبشى &#8220;بشره بيسوع&#8221;(أع 8: 35) . وبعد استشهاد استفانوس ، ذهب البعض الى أنطاكية &#8221; كانوا يخاطبون اليونانيين مبشرين بالرب يسوع &#8220;( أع 11: 20) . ويحذر القديسبولس أهل كورنثوس من قبول أى انسان يكرز لهم &#8221; بيسوع آخر&#8221; غير الذي كرز به (2كو 11: 4).</p>
<p>لأنه لما صار &#8221; الكلمة&#8221;جسدا صار هو الأعلان الحقيقى عن الله &#8220;الذى رأنى فقد رأى الآب ( يو 14: 9) .</p>
<p><strong>ب . موت المسيح والفداء </strong></p>
<p>لم ترتكن الكرازة بالمسيح الى مفاهيم مجردة، لكن كما كرز المسيح نفسه، هكذا بدأ الرسل كرازتهم باعلان &#8220;حقائق &#8221; وليس بالمناداة بشرائع أو قوانين أخلاقية . وكانت أول حقيقة هى أن يسوع هو المسيح (المسيا) . والحقيقة الثانية هى أن يسوع المسيح هو(المسيا) الذى تألم وصلب ومات وقام من بين الأموات.</p>
<p>ولم تكن الكرازة بالمسيح المصلوب من الأمور السهلة أو المحببة على آذان السامعين، ذلك لأن الصليب كان عثرة لليهود، وجهالة لليونانيين . أما القديس بولس فقد أعتبر موت المسيح هو بؤرة الكرازة ومركزها الرئيسى ، لأن به استعلن عمل المسيح الكفارى الكفارى كمخص لجميع الناس :&#8221; ولكننا نحن نكرز بالمسيح مصلوبا &#8220;(1كو 1: 23) ، &#8221; لانى لم أعزم أن أعرف شيئا بينكم الا يسوع المسيح واياه مصلوبا &#8220;( 1كو 2: 2) . ذلك لان &#8221; كلمة الصليب&#8221; (1: 18) هى نفسها &#8221; كلمة المصالحه &#8221; (2كو 5: 19) التى كرز بها بولس الرسول بغيرة وحماس. وقد أثبت بحسب خبرته الشخصية أن انجيله هذا الذى كرز به هو &#8221; قوة الله للخلاص لكل من يؤمن &#8220;(رو1: 16) . لذلك شغل مفهوم فاعلية كفارة موت المسيح جزءاهاما من كرازة الرسل:&#8221; علمين أنكم افتديتم لا بأشياء تفنى ، بفضة أوذهب &#8230;&#8230; بل بدم كريم ، كما من حمل بلا عيب ولا دنس ، دم المسيح &#8220;( 1بط 1: 18و19) .</p>
<p><strong>ج. يسوع هو المسيح القائم من بين الأموات </strong></p>
<p>كانت حقيقة قيامة المسيح هى الحقيقة الأساسية ، أو الألف والياء لكل كرازة الرسل . فبعد القيامة وحلول الروح القدس لم يستطع الرسل أن يتوقفوا عن الكرازة بيسوع المسيح ( أع 5: 42) . وحقيقة أن &#8221; يسوع هوالمسيح القائم من بين الأموات &#8221; تظهر بوضوح فى كرازة بولس الرسول. ففى عظته التى ألقاها فى مجمع تسالونيكى ، أعلن أنه :&#8221; كان ينبغى أن المسيح يتألم ويقوم من الأموات ، وأن : هذا هو المسيح يسوع الذى أنا أنادى لكم به&#8221;( أع 17: 3) . وفى مدينة كورنثوس شهد لليهود واليونانيين بالمسيح يسوع (أع 18: 5) ، ثم كتب لهم بعد ذلك يذ كرهم أن الانجيل الذى بشرهم به هو نفس الأنجيل الذى قبله:&#8221; أن المسيح مات من أجل خطايانا حسب الكتب &#8220;( 1كو 15: 1 4) . ويجب أن نتذكر أن الكرازة بقيامة يسوع تحمل معها أيضا البشارة أو الرسالة المفرحة لشركة المؤمنين فى البركات المسيانية(أع 3: 19 26) ، وأيضا الشركة فى القيامة العتيدة ( 1كو 15: 22) .</p>
<p>لقد كان من السهل على الرسل أن يكرزوا فقط بيسوع الممجد الجالس عن يمين الله، أو يكرزوا بمجموعة فضائل روحية ومبادىء أخلاقية على غرار معلمى اليونان. ولكن كما سلمهم الرب يسوع بعد قيامته الأساس الذي كان يجب عليهم أن يكرزوا به، هكذا كرزوا وهكذا نادوا بيسوع المسيح المصلوب القائم من بين الأموات.</p>
<p>وعلى نفس هذا الأساس بنت الكنيسة ايمانها، ووضعت &#8221; قانون الايمان &#8221; وأودعته صلواتها الليتورجية ليكون حافظا لها فى مواجهة البدع والهرطقات، ولكى يصبح أساسا يبنى عليه كل من مؤمن ايمانه وعقيدته.</p>
<p>+ نؤمن باله واحد وبرب واحد يسوع المسيح&#8230;.. هذا الذى من أجلنا ومن أجل خلاصنا:</p>
<p>نزل من السماء وتجسد من الروح القدس ومن مريم العذراء وتأنس، وصلب عنا على عهد بيلاطس البنطى ،</p>
<p>يألم وقبر وقام من بين الأموات فى اليوم الثالث كما فى الكتب، وصعد الى السموات وجلس عن يمين أبيه.</p>
<p>وأيضا يأتى فى مجده ليدين الأحياء والاموات&#8230;..وبالروح القدس الرب المحيى، المنبثق من الآب&#8230;&#8230;</p>
<p>وبكنيسة واحدة مقدسة جامعة رسولية ،ونعترف بمعمودية واحدة لمغفرة الخطايا ،وننتظر قيامة الأموات وحياة الدهر الأتى &#8221; .<a href="#_ftn11" name="_ftnref11">[11]</a></p>
<p></p>
<p></p>
<h4>المتنيح القمص لوقا سيداروس</h4>
<p></p>
<p><strong>ارسالية السبعين رسول</strong></p>
<p><strong> </strong><strong>لو ١٠: ١ – </strong><strong>٢٠) )</strong></p>
<p>+ وبعد ذلك عين الرب سبعين آخرين قبل هذا الكلام مباشرة وجه الرب الدعوة لعينات كثيرة وكشف عن العوائق التي تعطل الدعوة ، وتحجز النفس عن الإنطلاق للكرازة</p>
<p>١- قال له واحد : &#8221; أتبعك حينما تمضى &#8221; . فقال له الرب : &#8221; للثعالب أوجرة ، ولطيور السماء أوكار ، أما إبن الإنسان فليس له أين يسند رأسه &#8221; . وهؤلاء هم الذين يطلبون تبعية يسوع ليستفيدوا إما مركزاً أو شهرة أو أمور مادية أو مكاسب زمنية . وهؤلاء يخيبون من الدعوة . ويسقوط من النعمة ، ولا يكون لهم نصيب في أمور الملكوت .</p>
<p>٢- وقال لآخر : &#8221; إتبعنى &#8221; فقال : &#8221; يا سيد ائذن لى أن أمضى أولاً وأدفن أبى &#8221; . فقال له يسوع : &#8221; ودع الموتى يدفنون موتاهم . أما أنت فأذهب وناد بملكوت الله &#8221; . وهؤلاء الذين يشغلهم الجسد الميت عن السعي لخلاص الأرواح فيعطل خدمتهم ويشل حركتهم نحو الملكوت .</p>
<p>٣- وقال آخر أيضاً: &#8221; أتبعك يا سيد ولكن أئذن لى أولاً أن أودع الذين في بيتى &#8221; فقال له يسوع : &#8221; وليس أحد يضع يده على المحراث وينظر إلى الوراء يصلح لملكوت الله &#8221; . وهؤلاء الذين يريدون أن يتبعون الرب ويخدمون ، ولكن قلبهم وعواطفهم راجعة إلى وراء . وهؤلاء أيضاً لا يصلحون لعمل الملكوت ، لأنهم يكونون بلا حرارة وبلا روح وبلا فاعلية &#8230; وجميع هذه العينات كانت تطلب أولاً شيئاً آخر غير الملكوت . وكانوا يفضلون ما للناس أكثر مما هو لله .</p>
<p>بعد هذا عين الرب سبعين آخرين غير هذه العينات لهم إهتمام ملكوت الله وبره ، ولهم نيه ترك الكل والإلتصاق بالرب &#8230; ويحركهم حبه ويطلبون ويلتمسون وجهه قبل كل شيء .</p>
<p>فقال لهم : &#8221; الحصاد كثير ، ولكن الفعله قليلون فأطلبوا من رب الحصاد أن يرسل فعلة إلى حصاده &#8221; . حتى لو عين الرب سبعين في بوم واحد ، فإن هذه الحقيقة &#8221; الحصاد كثير والفعله قليلون &#8221; ستظل قائمة لكى لا يفتكروا في نفوسهم أنهم أكفاء ولكى يتذكروا دائماً أن العمل أكبر من جهدهم . ولكى تظل أيديهم نحو الرب في طلب المعونة &#8230; ولكى لا يفتكروا أيضاً أنهم وحدهم يصلحون للعمل . قال لهم &#8221; أطلبوا إلى رب الحصاد أنه يرسل فعله إلى حصاده &#8221; .</p>
<p>&#8221; أذهبوا هأنذا أرسلكم كحملان في وسط ذئاب ، لا تحملوا كيساً ولا مزودا &#8230; &#8221; . الكرازة بالمسيح لابد أن تنبع من واقع معاش . حينما يكرزون بالمسيح مخلص العالم والمنقذ من الضيق ، فإنهم يكرزون بالذى ينقذ الحملان من وسط الذئاب . وحينما يتكلمون عن المسيح المعطى الخيرات والواهب حياة للعالم . يتكلمون أيضاً من واقع حياتهم لانه كيسهم ومزودهم وسلامهم وقوة الدفاع عنهم &#8230; المسيح بالنسبة لهم هو كل شيء &#8230; هو كفايتهم &#8230; هكذا كرزوا : &#8221; لسنا كفاة من أنفسنا ، بل كفايتنا من الله &#8221; .</p>
<p><strong>قد أقترب منكم ملكوت الله</strong></p>
<p>هذه هي الكلمة التي جعلها الرب في فم الرسل السبعين . لقد قال الرب لمعلمى اليهود : انهم أغلقوا ملكوت الله أمام الناس فلم يدخلوا والداخلون منعوهم حياتهم . منعت وصدت النفوس وتعاليمهم حملت الناس أحمالاً ثقيلة وعثرة لم يطيقوها . أما رسل المسيح فحياتهم تفتح الملكوت أمام الجميع بسعة . منظرهم بخير أنهم بنى الملكوت &#8230; فقرهم يكرز بغنى وكرامة الملكوت &#8230; موتهم عن العالم معناه الوحيد أن هناك حياة أفضل من الحياة العادية . سيرتهم تشهد بوضوح لملكوت الله ، وتجذب كل نفس ، وتحبب لها الدخول إلى ملكوت الله .</p>
<p><strong>أي بيت دخلتموه فقولوا أولاً سلام لهذا البيت</strong></p>
<p>المسيح أعطى تلاميذه سلامه الخاص قائلاً : &#8221; وسلام لكم &#8221; . واستقر سلامه فيهم وصاروا يمنحون السلام حيثما أستقرت أقدامهم &#8230; فسلام المسيح معناه حضورالمسيح شخصياً ، لأنه هو سلامنا . فالتلاميذ عندنا يعطون سلاماً هم في الواقع يقدمون المسيح حاضراً معهم وفيهم . كذلك قال لهم : &#8221; الذى يقبلكم يقبلنى والذى يرذلكم يرذلنى &#8230; الذى يسمع منكم يسمع منى &#8221; . قبول كلمة المسيح هي قبول المسيح شخصياً . وبقبول كلمة السلام والمصالحة تدخلنا مباشرة إلى حالة سلام مع الله بربنا يسوع المسيح . فرجع السبعين بفرح قائلين : &#8221; يارب حتى الشياطين تخضع لنا يإسمك &#8221; . فقال لهم الرب : &#8221; رأيت الشيطان ساقطاً مثل البرق من السماء&#8221; . الكرازة بالمسيح تهدم مملكة الشيطان وتزعزع سلطانه وتحرره مثل البرق . ليس عمل تحت السماء أعظم من هذه المشاريع الضخمة والأعمال الخيرية العظيمة تصير حقيرة بجانب تخليص نفس من سلطان إبليس &#8230; &#8221; الذين ردوا كثيرين يضيئون كالكواكب في ملكوت أبيهم &#8221; . الشيطان لا تصرعه المشروعات ولا تسحقه قوة في الوجود ولا تزعزع سلطانه إلا الكرازة باسم يسوع ، والدخول في شركة مع المسيح بقوة الروح القدس ، وعمله في الكنيسة . &#8221; لا تفرحوا بهذا ، بل بالحرى أفرحوا أن أسماءكم كتبت في السموات &#8221; .</p>
<p><strong>سبب الفرح </strong></p>
<p>فرجع التلاميذ بفرح قائلين : &#8221; يارب حتى الشياطين تخضع لنا بإسمك &#8221; . فقال لهم الرب : &#8221; لا تفرحوا بهذا أن الشياطين تخضع لكم ، بل بالحرى أن أسماكم مكتوبة في السماوات &#8221; . لاشك أن إخراج الشياطين ، وعمل الآيات ، وثمار الخدمة &#8230;تفرح النفس وتشجع السائرين في طريق الموت . ولكن مصدر الفرح الحقيقى الدائم ، هو أن أسماءنا مكتوبة في السماوات معموديتنا ، وإتحادنا بالمسيح وميلادنا الثانى هي سبب الفرح الذى لا ينتهى ، يجب أن لا ننسى هذه الحقيقة ، حتى في خدمتنا . ويجب ألا يشغلنا شيء آخر عن هذا الفرح الإلهى اللانهائي . جميع أفراح الأرض حتى المعجزات ستنتهى . أما أفراح أسمائنا المكتوبة فلن تنتهى إلى الأبد &#8230;</p>
<p><strong>تطبيقات عملية </strong></p>
<p>أين أنت من رسل المسيح؟</p>
<p>ألست تعلم أيها الحبيب إننا نسعى كسفراء وكرائحة المسيح وكراسالته الحية المقروءة من جميع الناس ؟ كن دائماً بالمسيح الذى فيك . سيب سلام لكل بيت تدخله كإبن للمسيح ، تحمل سلامة في نفسك وتشيع روحانياً أينما وجدت .</p>
<p>ليكن المسيح هو كنزك . ليس لك كيس ولا مزود ولا متكل ولا سند في الطريق سواه .+</p>
<p>أخيراً &#8230; هل يشغلك شيء من أمورالعالم أو يفرح قلبك؟ ليكن الدافع والهدف لفرحك هو أن إسمك مكتوب في السماء &#8230; هذا معناه تذكار دائم لمعموديتك ولميلادك الثانى وهذا يدفعك بقوة السلوك كإبن لله في وسط هذا العالم<a href="#_ftn12" name="_ftnref12">[12]</a> .</p>
<p></p>
<p></p>
<h4>المتنيح القمص تادرس البراموسي</h4>
<p></p>
<p><strong>الأحد الأول من شهر أبيب المبارك</strong></p>
<p>ها أنا أرسلكم مثل حملان بين ذئاب (لو ١٠:١-٢٠ )</p>
<p>لما امتدت الكرازة في أورشليم واراد الرب يسوع أن تنتشر في كل العالم وبين الأمم أيضاً. عين الرب سبعين تلميذاً أخرين فأرسلهم أثنين . أثنين إلى كل مدينة وموضع كان مزمع أن يمضى إليه لم يذكرعن تعيين هؤلاء ألا القديس لوقا الأنجيلى . قال البعض أنهم أثنين وسبعين. ولم يذكر القديس لوقا الاثنين كعادة كاتبى الأسفاء المقدسة فأنهم يكتفون أحياناً بذكر عدد العشرات وأن نقصت أم زادت أحياناً</p>
<p>أن الرب يسوع له المجد عين السبعين تلميذاً مراعاة لعدد السنهدريم اليهودى اى مجلس اليهود الديني ولا يخفى أن عدد رؤساء العشائر في بنى إسرائيل كان سبعين وكذلك عدد الذين عينهم موسى في سيناء . وكذا عدد النحل في أيليم وكذلك الذين ترجموا الكتاب المقدس. العهد القديم . من العبرانية إلى اليونانيه بطلب بطليموس ملك مصر فقد كانوا سبعين شيخاً . أرسلهم الرب أثنين أثنين . أمام وجهه . أنه لم يكن متبقي من حياة الرب على الأرض أكثر من ستة أشهر قبل الآمه ولم يكن ممكناً أن يجول في كل قرى إسرائيل. فأرسل هؤلاء التلاميذ إلى قرى اليهودية ومدنها كما أرسل إلى الجليل مبشرين بالإيمان فأرسلهم أثنين أثنين . أراد به أن يكون أحدهما مسعفاً للأخر . وأن يزيد الناس ثقة بكلامهم وعلى فم شاهدين أو ثلاثة تقوم كل حجه وقد اتخذت الكنيسة هذا العمل قانوناً .</p>
<p>عند إرسالها خداماً للكلمة إلى الجبهات المعنية للخدمة لأن أثنين من واحد. أن الرب يسوع له المجد لم ينهى هؤلاء التلاميذ كما نهى الرسل الأثنى عشر يقول إلى طريق الأمم لا تمضوا. وأن إرسال السبعين علماً اليهود والأمم الساكنين معهم نرى فيما قاله الرب يسوع للرسل السبعين ثمانية أمور أولاً وجوب الصلاة ثانياً احتمال المشقات ثالثاً عدم الانشغال بالعالميات رابعاً القناعة في كل شيء الأكل والشرب والملبس خامسًا أقامة براهين صحيحه من شفاء مرضى وأخراج شياطين سادساً وجوب التبشير بأنه قد تمت المواعيد ونبوات الأنبياء بمجئ المسيح وقرب ملكوت السموات سابعاً الذين لم يقبلوا البشارة أخرجوا من منازلهم وأنفضوا الغبار اللاصق في أرجلكم وقولوا لهم قد اقترب منكم ملكوت السموات ثامناً حافظوا على الكرامة التي لكم بما أنكم سفراء للرب يسوع لأنكم ستكونون شركاء لسيدكم في الكرامة مقابل إهانة الناس لكم . حسب قول الرب يسوع الذى يسمع منكم يسمع منى والذى يرذلكم يرذلنى والذى يرذلنى يرذل الذى أرسلنى ولم توجد عبارة أو أشارة أوضح دلاله على الشرف الذى يلحق بخدام المسيح الذين يخدمونه بأمانة وصدق بل يضحى لأجل انتشار الإنجيل ويتمجد الرب يسوع في حياتهم.</p>
<p></p>
<p><strong>العظة الأولى </strong></p>
<p>أ – تعيين الخدام وتدقيق الاختيار</p>
<p>ب – قوة المرسل وطاعة المرسلين</p>
<p>ج – الحكمة في الرسل وسلامة العقيدة</p>
<p>د – أعداد الأرض وإلقاء البذار</p>
<p>ه &#8211; الأحتياج إلى الخدام الأمناء ونشر الوعي أمام الناس</p>
<p>و – الرسالة وصعوبة الطريق</p>
<p>ذ – عدم الاتكال على الذات وتقديم الرب في كل أمورنا</p>
<p>ح – ألقاء السلام على الجميع ورد الفعل</p>
<p>ط – اهتمام الرب بالخدام وأمورهم الجسدية</p>
<p>ى – الصبر والاحتمال حتى جنى الثمار</p>
<p>ك – سلطان السفراء من قوة الرسل</p>
<p>ل – من يرفض الرسالة يرفض المرسل</p>
<p>م – فرحة الخدام بنجاح الخدمة</p>
<p>ن – الخادم المجاهد وحصاد الثمار</p>
<p>س – وعد الرب بالأجر والميراث الأبدى</p>
<p></p>
<p><strong>العظة الثانية </strong></p>
<p>أ – ملك وسفراء ورسالة</p>
<p>ب – وصية الملك بالاجتهاد واحتمال المشقات</p>
<p>ج – الأمانة في الرسالة وحب الأخرين</p>
<p>د – التسلح بالفضائل واليقظة في العمل</p>
<p>ه &#8211; تحديد الاهتمامات والبعد عن الملذات</p>
<p>و – عدم الانشغال والسعى نحو الهدف</p>
<p>ذ – شعار المملكة محبة الأعداء وعمل الفداء</p>
<p>ح – الاستقامة في السلوك وعمل الملوك</p>
<p>ط – شفاء الأمراض والحفاظ على الأعراض</p>
<p>ى – الويلات والبعد عن الزلات</p>
<p>ك – صوت الكهنوت ونعيم الملكوت</p>
<p>ل – فرحت النجاح وحصد الأرباح</p>
<p>م – الأنتصار والبعد عن النار</p>
<p>ن – المكافئة السخية والحياة الأبدية</p>
<p></p>
<p><strong>العظة الثالثة </strong></p>
<p>أ – أتساع الخدمة وأمانة الخدام</p>
<p>ب – الصلاة النافعة والخدمة الناجحة</p>
<p>ج – الأهتمام العجيب وحمل الصليب</p>
<p>د – وجود السلام بركة للبيت وأعطاء الأمان</p>
<p>ه &#8211; خادم المذبح واحتياجات الجسد</p>
<p>و – كثرة التهريج بعيده عن التمجيد</p>
<p>ذ – سلطان الكهنوت لخدمة الشعب</p>
<p>ح – الويلات لمن يفعل العثرات</p>
<p>ط – فرح الخدام وبعد الانتقام</p>
<p>ى – سلطان وقوة ومؤازرة</p>
<p>ك – الضيقات واهتمام الله</p>
<p>ل – الفرح الارضى والحكم الأبدى</p>
<p>م – حلاوة الخدمة هي احتمال المشقات</p>
<p>ن – تعب الخادم وانتظار الثمار<a href="#_ftn13" name="_ftnref13">[13]</a></p>
<p></p>
<p></p>
<h4>المتنيح الدكتور راغب عبد النور</h4>
<p></p>
<p><strong>الكرازة شرف وتكليف</strong></p>
<p>تحدث الرب يسوع المسيح الي تلاميذه بعد القيامة، وسجل هذا الحديث القديس البشير لوقا بقوله &#8221; وأن يكرز باسمه (اسم يسوع المسيح) بالتوبة ومغفرة الخطايا لجميع الأمم مبتدأ من أورشليم. وأنتم شهود لذلك &#8220;(لو ٢٤: ٤٧- ٤٨). ثم نستشهد أيضاً بما سجله القديس البشير والرسول مرقس &#8221; اذهبوا الي العالم أجمع وإكرزوا بالانجيل للخليقة كلها &#8220;(مر ١٦: ١٦) . وأما متي الرسول والبشير فيقول &#8221; فاذهبوا وتلمذوا جميع الأمم وعمدوهم بأسم الآب والابن والروح القدس وعلموهم جميع ما أوصيتكم به &#8220;(مت ٢٨: ٢٠). وأيضاً نأتي بالنص الذي جاء في سفر الأعمال للآباء الرسل &#8221; لكنكم ستنالون قوة متي حل الروح القدس عليكم وتكونون لي شهوداً في أورشليم وفي كل اليهودية والسامرة والي أقصي الأرض &#8220;(أع ١:٨) .</p>
<p>من هذه النصوص نخلص بأن الكرازة هي أمر من السيد الرب المخلص، أمر يضع صاحبه في مكان التكليف، التكليف الذي يربط صاحبه الي خدمة الكرازة بحيث لا يجد مكانا للتخلف ، أو فرصة حرية الاختيار بين القبول والرفض ، كما أنه لا يملك من جهة هذه الخدمة عظيمة الشرف فرصة التغيير أو التطوير … لا مكان للاعتذار ، وكل شجرة لا تعطي ثمراً جيداً تقطع وتلقي في النار .</p>
<p>هذا من جهة التكليف، وهو تكليف لا يعد صاحبه برغد العيش ، أو الحياة الهنية الرخوة ، بل أنه تكليف يحمل صاحبه أفدح التكاليف من الجهة المادية . فالرب قال عن مرسليه، ها أنا أرسلكم كحملان وسط ذئاب ، وقال أيضاً ، بأنه يأتي وقت بأن كل من يقتلكم كأنه يقدم ذبيحة … ورغم ذلك فلقد وجد التكليف صفوفا من المتطوعين له أو المتلهفين عليه ، فوصية الرب المحبوب أشد قربا الي قلوبهم من كل التضحيات أو النفقات التي يتطلبها هذا التكليف الشريف .</p>
<p>هذا من جهة التكليف، أما من جهة الشرف، فليس أشرف أو أنبل من الذي جعل حياته ترجمة حقيقية في تنفيذ وصية السيد الرب ، وأن نوعا فريداً ومميزاً مع السيد الرب يكتسبها الكارز بإسمه ، بل أن هذا الانسان في كلياته أصبح منتسباً للرب وعلي شركة معه ، وفي هذا الموضوع يقول القديس الرسول الحبيب يوحنا &#8221; الذي رأيناه وسمعناه نخبركم به لكي يكون لكم إيضاً شركة معنا ، وأما شركتنا نحن فهي مع الأب ومع ابنه يسوع المسيح ونكتب اليكم هذا لكي يكون فرحكم كاملا &#8220;(١يو ١: ٣- ٤) .</p>
<p>معني ذلك أن التكليف بالكرازة فضلا عن كونه أضاف الي الانسان شرفا لم يكن ليحلم به، فأن التكليف من قبل ربنا صادف رضي أو هوي من المكلفين، وأن يكون الانسان عاملاً مع الله، وأن الله هو العامل فيه أن يريد وأن يعمل من أجل المسرة … كل هذا يجعل الانسان في مقام أسمي من مقامه، ويجعله فيّ حالة شكر دائم للرب الذي قبل ذبيحة هذا الانسان من أجل الكرازة بأسمه .</p>
<p>الكرازة لم تكن مسئولية هينة أن الدعوة بالانجيل قد قام بها كل انسان أحس بهاتف الروح القدس، أن يكون شاهداً لانجيل ربنا الكلمة المتجسد. لكن هذه الخدمة، لم تكن خلوا من الأتعاب أو المشاق، ولن تكون، لأن هذا هو صليبها الملتصق بها، أنها خدمة كلفت أصحابها كل ما يملكون ، حتي حياتهم فبذلوها مسلمين وراضيين…</p>
<p>ورغم فداحة الخسارة أو ضخامة الاحتمال، فلقد كانوا دائما في مكانهم المستعد لكل عمل صالح، ولم تستطع كل السدود المصطنعة أن تمنع انتشار الكرازة بالكلمة المتجسد. مع أن هذه السدود أو تلك الموانع لم تكن أموراً هينة.</p>
<p>ففي سفر أعمال الرسل نقرأ هذا النص &#8221; فقام رئيس الكهنة وجميع الذين معه الذين هم شيعة الصدوقيين وأمتلأوا غيرة ، فألقوا أيديهم علي الرسل ووضعوهم في سجن العامة . لكن ملاك الرب فتح أبواب السجن وأخرجهم … ثم جاء واحد وأخبرهم قائلا هوذا الرجال الذين وضعتموهم في السجن هم في الهيكل واقفين يعلمون الشعب. حينئذ مضي قائد المائة مع الخدام فأحضروهم لا بعنف لأنهم كانوا يخافون الشعب لئلا يرجموا.</p>
<p>فلما أحضروهم أوقفوهم في المجمع وسألهم رئيس الكهنة قائلا أما أوصيتكم وصية أن لا تعلموا بهذا الاسم، وها أنتم ملأتم أورشليم بتعليمكم وتريدون أن تجلبوا علينا دم هذا الانسان. فأجاب بطرس والرسل وقالوا ينبغي أن يطاع الله أكثر من الناس. إله آبائنا أقام يسوع الذي أنتم قتلتموه معلقين إياه علي خشبة، هذا رفعه بيمينه رئيسا ومخلصا ليعطي اسرائيل التوبة وغفران الخطايا، ونحن شهود له بهذه الأمور، والروح القدس أيضاً الذي أعطاه الله للذين يطيعونه<a href="#_ftn14" name="_ftnref14">[14]</a>&#8220;.</p>
<p></p>
<p></p>
<h3>من وحي قراءات الأحد الأوّل</h3>
<p></p>
<p>&#8221; وبعد ذلك عين الرب سبعين آخرين وأرسلهم اثنين اثنين أمام وجهه إلي كل مدينة وموضع حيث كان هو مزمعا أن يأتي &#8221;</p>
<p><strong>  إنجيل القداس</strong></p>
<p>+ يدعو الله كل يوم خدام جدد ليتسع الكرم الإلهي</p>
<p>+ ماأجملها الكنيسة الولود التي تنجب من رحمها كل يوم قادة جدد</p>
<p>+ الهدف الأول للقائد الكنسي إعداد قادة وليس إعداد وضمان تابعين</p>
<p>+ الدعوة توجه للخادم لكنها تحتاج تجديد كل يوم خلال نمو الحب الإلهي في القلب</p>
<p>+ اثنين اثنين يلغي لغة الأنا ويحفظ روح الشركة</p>
<p>+ إنجازات الخدمة لاتعلن صدق الدعوة، بل قدوة الخادم هي التي تقول ذلك</p>
<p>+ رأي الناس وإستفادة المحيطين بالقائد أخطار تهدد دعوته</p>
<p>+ النقد الشديد أحيانا يستخدمه الله لتنقية دعوتنا فلا نجزع من فحصه</p>
<p>+  مزمعا أن يأتي &#8220;حقيقة ما أخطر أن ننساها مع الوقت ودوامه الخدمة</p>
<p>+ أمام وجهه &#8221; ماأجملها كلمة وماأقواه ضمان للخادم أن يخدم أمام وجهه</p>
<p></p>
<p></p>
<p></p>
<h3>المراجع:</h3>
<p></p>
<p><a href="#_ftnref1" name="_ftn1"></a>١- القديس يوحنا ذهبي الفم &#8211; تفسير انجيل يوحنا الاصحاح الرابع &#8211; القمص تادرس يعقوب ملطي</p>
<p><a href="#_ftnref2" name="_ftn2"></a>٢- ( تفسير إنجيل متي &#8211; الإصحاح السابع &#8211; القمص تادرس يعقوب ملطي)</p>
<p><a href="#_ftnref3" name="_ftn3"></a> Jr, A.J. &amp; Oden, T.C. (2003). Luke (The Ancient Christian Commentary on Scripture, New Testament part III ). Illinois (U.S.A): InterVarsity Press. Pages 170</p>
<p>٣- ترجمة الأخت إيفيت منير &#8211; كنيسة مار مرقس ببني سويف</p>
<p><a href="#_ftnref4" name="_ftn4"></a>٤- تفسير إنجيل لوقا للقديس كيرلس الإسكندري (صفحة ٣٣٠) &#8211; ترجمة د. نصحي عبد الشهيد</p>
<p><a href="#_ftnref5" name="_ftn5"></a>٥- المرجع: تفسير سفر الحكمة ( إصحاح ١٥ ) &#8211; القمص تادرس يعقوب ملطي</p>
<p><a href="#_ftnref6" name="_ftn6"></a>٦- المرجع: كتاب العلامة أوريجانوس والرد علي كلسس الفيلسوف الوثني (فصل ٦٢ ، ٦٣ ، ٦٥ ) &#8211; تعريب القمص مرقس داود</p>
<p><a href="#_ftnref7" name="_ftn7"></a>٧- المرجع : كتاب مقالات القديس كبريانوس أسقف قرطاجنة الشهيد ( صفحة ٥٦ ) &#8211; ترجمة وإعداد القمصمرقوريوس الأنبا بيشوي</p>
<p><a href="#_ftnref8" name="_ftn8"></a>٨- المرجع : مجلة مدارس الأحد ( عدد يونيه ١٩٥١ ) نظير جيد</p>
<p><a href="#_ftnref9" name="_ftn9"></a>٩- المرجع : كتاب المنجلية القبطية الأرثوذكسية ( صفحة ٢٥٧ ) &#8211; قداسة البابا تواضروس الثاني</p>
<p><a href="#_ftnref10" name="_ftn10"></a>١٠- المرجع : كتاب شفتاك يا عروس تقطران شهداً (الجزء الثاني صفحة ٢٧٩-٢٨٢) &#8211; دير الأنبا شنودة العامر بميلانو</p>
<p><a href="#_ftnref11" name="_ftn11"></a>١١- المرجع: كتاب مفاهيم إنجيلية ( صفحة ٢٤٢ ) &#8211; الأنبا إبيفانيوس أسقف ورئيس دير القديس أنبا مقار</p>
<p><a href="#_ftnref12" name="_ftn12"></a>١٢- المرجع: كتاب تأملات روحية في قراءات أناجيل آحاد السنة القبطية ( صفحة ٤٤٦ ) &#8211; كنيسة مار جرجس سبورتنج</p>
<p><a href="#_ftnref13" name="_ftn13"></a>١٣- المرجع: كتاب تأملات وعناصر روحية في أحاد وأيام السنة التوتية ( الجزء الأول صفحة ٢٢٣ ) &#8211; إعداد القمص تادرس البرموسي</p>
<p><a href="#_ftnref14" name="_ftn14"></a>1٤- المرجع : كتاب نيروز الإستشهاد ( صفحة ٣٦ ) &#8211; مشروع الكنوز القبطية</p>
<p></p>
<p></p>
<p></p>

      {% endcreateArticleAccordions %}
    </section>
  {% endblock %}
  