---
layout: 'layouts/reading.html'
title: '&#8211; الأحد الثاني من أبيب'
permalink: sundays/11-2.html
---
  {% block content %}
    <section id="readings">
      <ul>
      {% if '19.128:1,5' != 'null' %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">العشية</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeVespers '19.128:1,5' '42.16:1-18' %}
          </div>
        </div>
      </li>
      {% endif %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">باكر</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeMatins '19.41:1-2' '41.16:2-8' '' %}
          </div>
        </div>
      </li>
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <h3 class="flex items-center justify-between">
            <span class="kufi">القداس</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </h3>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeLitugy '48.1:1-24' '65.1:14-25' '44.5:19-23' '19.119:1-2' '40.18:1-9' %}
          </div>
        </div>
      </li>
        </ul>
    </section>
    <section id="article">
      <h3 class="mt-8 mb-4 heading-explain">شرح القراءات</h3>
      {% createArticleAccordions firstName, lastName %}
        <p></p>
<p></p>
<p>&#8221; من هو حكيم حتى يفهم هذه الأمور، وفهيم حتى يعرفها فإن طرق الرب مستقيمة، والأبرار يسلكون فيها، وأما المنافقون فيعثرون فيها &#8221; هو ٩:١٤</p>
<p>&#8221; واجعلهم في المحبّة التي تفوق كل شئ والسلام الذي يعلو كل عقل &#8221; البركة بعد التناول &#8211; القدَّاس الكيرلسي</p>
<p>&#8221; ولنحب بعضنا بعضاً ونصنع التواضع لأننا بالمحبّة نكمل الوصايا &#8230; الناموس والأنبياء هما المحبّة التي بغير رياء لأننا من قبل المحبّة ننال المغفرة &#8221; توزيع سبوت وآحاد الصوم المقدَّس</p>
<p>&#8221; ليكن سموِّنا في تواضعنا، ومجدنا في عدم محبّتنا للمجد، وليكن اشتياقنا منصبًّا فيما يُسِر الله، واضعين في ذهننا ما يقوله لنا الحكيم: &#8220;إذ تصيرون عظماء تتّضعون بالأكثر فتجدون نعمة لدى الرب&#8221; (يشوع بن سيراخ ٣: ٢٠). فإن الله يحتقر المتعجرفين ويحسب المتكبّرين كأعداء له، لكنّه يكلِّل الودعاء ومتواضعي الذهن بالكرامات<a href="#_ftn1" name="_ftnref1">[1]</a> &#8221;</p>
<p></p>
<p></p>
<h3>شواهد القراءات</h3>
<p></p>
<p>(مز ١٢٧: ٥-١)، (لو ١٦: ١-١٨)، (مز ٤٠: ٢-١) ، (مر ١٦ : ٢-٨) ، (غل ١ : ١-٢٤ )، (يه ١ : ١٤-٢٥) ،( أع ٥ : ١٩-٢٣) ، (مز ١١٨ : ٢-١) ،( مت ١٨ : ١-٩)</p>
<p></p>
<p></p>
<h3>ملاحظات على قراءات اليوم</h3>
<p></p>
<p>+ قراءة إنجيل عشيَّة اليوم (لو ١٦: ١ &#8211; ١٨) تُشبه قراءة إنجيل القدَّاس (لو ١٦: ١ &#8211; ١٢) ليومي ٢٠ بشنس (نياحة القديس أمونيوس الأنطاكي) ، ٤ نسئ (نياحة أنبا بيمن المصري المتوحد)</p>
<p>القراءة الثانية (٢٠ بشنس)، والثالثة (٤ نسئ) تتكلَّمان عن مثل وكيل الظلم</p>
<p>أمَّا القراءة الأولي (الخاصّة بإنجيل عشيَّة اليوم) بإضافة ستَّ آيات من آية ١٣ إلي آية ١٨، وهي التي فيها الحديث عن ملكوت الله، وهو موضوع قراءات هذا الشهر &#8221; ومن ذلك الوقت يُبشَّر بملكوت الله وكل واحد يغتصب نفسه إليه &#8221;</p>
<p>+ قراءة البولس اليوم (غل ١: ١ &#8211; ٢٤) تُشبه قراءة البولس (غل ١: ١ &#8211; ١٩) ليوم ٢٧ هاتور (تذكار يعقوب المقطع) ، وفِي يوم ١٧ مسري (شهادة القديس يعقوب)</p>
<p>مجيئها اليوم لأجل الآيات الزائدة (من آية ٢٠ إلى ٢٤) والتي تُشير إلي القديس بولس الذي كان سبب تعب لكثيرين لكن بعد إفتقاد الرب له رأي فيه الجميع مجد الله</p>
<p>أمَّا مجئ القراءة الخاصة بيعقوب أخا الرب في يومي ٢٧ هاتور، ١٧ مسري لأجل إسم &#8221; يعقوب &#8221; (جاء في القراءات الخاصة بيوم ٢٧ هاتور كل ما يختص بإسم يعقوب في العهد القديم والجديد) لذلك جاءت في تذكار يعقوب المقطع (٢٧ هاتور) وفِي شهادة القديس يعقوب (١٧ مسري)</p>
<p>+ قراءة إنجيل القداس اليوم (مت ١٨: ١ &#8211; ٩) تُشبه قراءة إنجيل القدَّاس (مت ١٨: ١ &#8211; ٧) في يوم ٣ طوبه ( تذكار شهادة أطفال بيت لحم )</p>
<p>مجيئها اليوم (بإضافة آيتين ٨ ، ٩ ) ٩ ) للإشارة إلي أهمِّية الإتضاع وتجنُّب أن نكون سبب عثرة للآخرين حتي لو إقتضي الأمر بقطع أي علاقة يمكن أن تحرمنا من الملكوت ، وهي التيأوضحتها الآيات المُضافة  ، أمَّا مجيئها يوم ٣ طوبي فهو للإشارة إلي قامة الطفولة موضوع قراءات ذاك اليوم</p>
<p></p>
<p></p>
<h3>شرح القراءات</h3>
<p></p>
<p>يرسم هذا الاحد صورة لابناء الملكوت كما يحذر من العثرات التي تعوق دخوله</p>
<p>تتكلّم القراءات عن تطويب أبناء الملكوت (مزمور عشيّة) وسبب تطويبهم الرحمة بالآخرين (مزمور باكر) ومحبّة الله من كل القلب (مزمور القدَّاس )</p>
<p>فيتكلم مزمور عشية عن الاتقياء ومكافأة الرب لهم بالبركة والخير (طوبي لجميع الذين يتقون الرب السالكين في طرقة يباركك الرب من صهيون وتبصر خيرات اورشليم جميع ايام حياتك)</p>
<p>ويتكلم مزمور باكر عن الرحماء بالمساكين ومكافأة الرب لهم بالنجاة والغبطة (طوبي للذي يتفهم في امر المسكين والفقير في يوم السوء ينجيه الرب الرب يحفظه ويحييه ويجعله على الارض مغبوطا)</p>
<p>بينما يعلن مزمور القداس نقاوتهم الكامله وحبهم الشديد للرب (طوباهم الذين بلا عيب في الطريق السالكون في ناموس الرب طوباهم الذين يفحصون عن شهادته ومن كل قلبهم يطلبونه)</p>
<p>ويحكي انجيل عشية قصة وكيل الظلم ليؤكد على الامانة وخطورة محبة المال (وانا اقول لكم اصنعوا اصدقاء بمال الظلم حتى إذا فنيتم يقبلونكم في المظال الابدية الامين في القليل يكون امينا ايضا في الكثير والظالم في القليل ظالم ايضا في الكثير &#8230;. لايقدر عبد ان يخدم سيدين &#8230;. لاتقدرون ان تخدموا الله والمال)</p>
<p>ويدعو الكل الي الجهاد واغتصاب الملكوت (ومن ذلك الوقت يبشر بملكوت الله وكل واحد يغتصب نفسه اليه)</p>
<p>وتُعْلِن القراءات الأخطار المحيطة بأبناء الملكوت من الداخل التمسّك بالشكل دون الجوهر ( البولس ) ومن الخارج نار وشهوات العالم ( الكاثوليكون ) وسعي الكنيسة لإجتذاب الكل لحياة الملكوت ( الإبركسيس )</p>
<p>ويقدم البولس مثالا لمن كان بعيدا ومعاندا لكن افتقدته النعمه الالهيه وجعلته كارزا عظيما كما يحذر الرسول المؤمنين من التعاليم التي تبعدهم عن النعمة (أنى اتعجب انكم تنتقلون هكذا سريعا عن الذي دعاكم بنعمة المسيح الي انجيل اخر &#8230; فانكم سمعتم بسيرتي قبلا في الديانة اليهودية أنى كنت اضطهد كنيسة الله بافراط واخربها &#8230; ولكن لما سر الله الذي افرزني من بطن امي ودعاني بنعمته)</p>
<p>لكن يحذر الكاثوليكون من دينونة الرافضين (هوذا قد جاء الرب في ربوات قديسيه ليصنع دينونة علي الجميع ويوبخ جميع المنافقين&#8230; هؤلاء هم متذمرون ملومون سالكون بحسب شهواتهم) ويدعو المؤمنين للحذر من الدنس وإختطاف من هم في خطر نار الخطية ووعد الله بحفظه لهم من العثرة (ولنحفظ انفسنا في محبة الله منتظرين رحمة ربنا يسوع المسيح للحياة الابدية &#8230; وخلصوا البعض واختطفوهم من النار &#8230;. والقادر ان يحفظكم غير عاثرين ويقيمكم امام مجده بلا عيب في الابتهاج)</p>
<p>لذلك تدعو السماء الكنيسة في الابركسيس لتوصيل كلمة الحياة للكل (ولكن ملاك الرب فتح ابواب السجن في الليل واخرجهم وقال: اذهبوا وكلموا الشعب في الهيكل بجميع كلام هذه الحياة فلما سمعوا بكروا ودخلوا الهيكل وجعلوا يعلمون)</p>
<p>ويختم انجيل القداس باجابة الرب عن سؤال من هو الاعظم في الملكوت؟ ومن هم الذين سيدخلون الملكوت ومن هم الذين لايدخلون ويدعونا لبساطة الاطفال ونقاوتهم كما يحذر من العثرات (في تلك الساعة تقدم التلاميذ الي يسوع قائلين من هو الاعظم في ملكوت السموات فدعا طفلا واقامه في وسطهم وقال الحق اقول لكم ان لم ترجعوا وتصيروا مثل الاولاد فلن تدخلوا ملكوت السموات &#8230;. ومن اعثر احد هؤلاء الصغار المؤمنين بي فخير له ان يعلق في عنقه حجر الرحي ويغرق في البحر ويل للعالم من العثرات فانه لابد ان تاتي الشكوك ولكن ويل لذلك الانسان الذي به تاتي العثرة )</p>
<p>لماذا الأطفال بالذات نالوا المديح <a href="#_ftn2" name="_ftnref2">[2]</a></p>
<p>١- في حياتهم المتواضعة الوديعة كالأطفال (١كو ١٤: ٢٠ )</p>
<p>٢- في الثقة في كلام أبيهم السماوي والاتكال عليه وطاعته</p>
<p>٣- البساطة وتقبل الحقائق الإيمانية والروحية، فالطفل يصدق ما يقال له من والده</p>
<p>٤- الأطفال لا يشعرون أنهم أفضل من الآخرين فالغنى يلعب مع الفقير</p>
<p>٥- لاحظ أن الأطفال لا يشعرون بأنهم متواضعين، فمن يشعر أنه متواضع، أو أنه يتواضع حين يكلم إنسانًا فقيرًا فهو ليس متواضع</p>
<p>٦- التسامح المطلق فالطفل لا يحتفظ في قلبه بأي ضغينة</p>
<p>٧- إذا أحزن إنسان طفلًا فهو لا ينتقم لنفسه بذراعيه، بل يلجأ لوالديه</p>
<p>٨- الطفل بلا شهوات، بلا طلب للمجد الباطل، بلا حسد للآخرين</p>
<p>٩- إذا تشاجر الأطفال فهم سريعًا ما يتصالحون ويعودون للعب معًا</p>
<p>١٠- ملكوت الله الذي يؤسسه المسيح لا وجود فيه لمن يبحث أن يكون الأقوى والأعظم، بل من يدخله هو من يحس بضعفه وأنه لا شيء، ولكن قوته وعظمته هي في حماية الله له (٢كو ١٢: ٩ &#8211; ١٠). وهذه طبيعة الأطفال فهم يحتمون بوالديهم.</p>
<p>١١- بلغة التعليم المعاصر، فهذا الولد في حضن المسيح هو وسيلة إيضاح</p>
<p>١٢- الطفل يطلب ما يريده واثقًا في أخذه من أبيه، وهو لا يفكر في أن أبوه يعطيه لأنه يستحق، بل هو يطلب بدالة المحبة</p>
<p></p>
<p></p>
<h3>ملخّص القراءات</h3>
<p></p>
<p>اي ان ابناء الملكوت هم الاتقياء الرحماء والسالكون في وصاياه من كل القلب        ( مزمور عشية وباكر والقداس )</p>
<p>وهم الامناء في القليل                                                                                               ( انجيل عشية )</p>
<p>وهي رسالة الكنيسة ليقبل الكل الملكوت                                                                       ( الابركسيس )</p>
<p>حتي اصعب المعاندين                                                                                                     ( البولس )</p>
<p>لكن يجب ان يحفظوا انفسهم في المحبة والمخافة                                                              ( الكاثوليكون )</p>
<p>ويعيشوا بساطة ونقاوة الاطفال ويتجنبوا العثرات                                                                   (انجيل القداس )</p>
<p></p>
<p></p>
<h3>الكنيسة في قراءات اليوم</h3>
<p></p>
<p>المظال الأبديّة + اغتصاب الملكوت + أهميّة كلمة الله                                          إنجيل عشيّة</p>
<p>الدينونة + الايمان الأقدس                                                                          الكاثوليكون</p>
<p>خدمة الملائكة                                                                                         الإبركسيس</p>
<p>ملكوت السموات + جهنم النار                                                                    إنجيل القدَّاس</p>
<p></p>
<p></p>
<h3>أفكار مقترحة لعظات</h3>
<p></p>
<p><strong>(١) أبناء الملكوت</strong></p>
<p>١- التقوى والعطاء للآخرين</p>
<p>&#8221; الذين يتقون الرب &#8230; الذي يتفهم في أمر المسكين &#8230; من كل قلوبهم يطلبونه &#8221;             مزمور عشيّة وباكر والقدّاس</p>
<p>٢- الأمناء في حياتهم ووكالتهم</p>
<p>&#8221; الأمين في القليل يكون أميناً أيضاً في الكثير &#8221;                                                                إنجيل عشيّة</p>
<p>٣- المجاهدون</p>
<p>&#8221; ومن ذلك الوقت يُبشَّر بملكوت الله وكل واحد يغتصب نفسه إليه &#8221;                                           إنجيل عشيّة</p>
<p>٤- الذين عندهم إرضاء الله أهم من إرضاء الناس</p>
<p>&#8221; ٥- فأستعطف الآن الناس أم الله أم أطلب أن أرضي الناس فلو كنت بعد أطلب أن أرضي الناس لم أكن عبداً للمسيح &#8221;      البولس</p>
<p>المشغولون بخلاص الآخرين</p>
<p>&#8221; وبكِّتوا البعض عندما يكونوا مدانين وخلِّصوا البعض واختطفوهم من النار وارحموا البعض بالتقوي &#8221;              الكاثوليكون</p>
<p>٦- الحريصين من العثرات</p>
<p>&#8221; ومن أعثر أحد هؤلاء الصغار المؤمنين بي فخير له أن يُعلَّق في عنقه حجر الرحي ويُغْرَق في البحر &#8221;            إنجيل القدَّاس</p>
<p><strong>(٢) العثرات</strong></p>
<p>١- حتمية وجودها (لا يمكن إلَّا أن تأتي العثرات (لو ١:١٧ )</p>
<p>لأنها تعبر عن ضعفات البشر والخدّام والقادة ولا ننسي رياء القديس بطرس والقديس برنابا (غل ٢: ١٠-١٣) وأن إيليا الذي أغلق السماء ثلاث سنين وستة أشهر كان تحت الآلام أي تحت الضعف وإعتراف القديس يعقوب بأننا في أشياء كثيرة نعثر جميعنا</p>
<p>( يع ٢:٣ )</p>
<p>لكن يذكر الكتاب المقدَّس أيضاً عثرات ترجع أسبابها إلي إنحراف فكر الإنسان الذي يتعثر فنراه يتعثر من الخليقة الجميلة (رو ١: ٢١-٢٥ ) ومن يتعثر من الصليب ( ١كو ١ : ٣٢،٢٨ ومن يتعثر من المسيح نفسه واهب النصرة والحياة ( يو ٣٩:٩ ) ومن يتعثر من الرسل الكارزين بالحق ( ٢كو ٢ : ١٦ )</p>
<p>تفسير بطرس الأولي ٥</p>
<p>٢- خطورتها ( إسم الله يجدّف عليه بين الأمم بسببكم )</p>
<p>فلا يزال يتردد إسم ديوتريفس الذي يحب أن يكون الأول ويمنع الذين يدخلون ويطردهم من الكنيسة (٣ يو ١: ١٠-٩ ) وديماس الذي ترك الخدمة والدعوة وأحب العالم الحاضر</p>
<p>٣- الوقاية منها (لذلك أنا أيضا أدرب نفسي ليكون لي دائما ضمير بلا عثرة من نحو الله والناس أع ١٦:٢٤ )</p>
<p>أفضل طرق الوقاية هو حياة التوبة وفحص النفس على ضوء كلمة الله وقبول النقد بحكمة وإتضاع</p>
<p>٤- علاجها</p>
<p>الإنشغال بالعمل الروحي وإحتياج الخدمة والمخدومين ووضوح الهدف والإمتلاء الداخلي اليومي من غني كلمة الله والجلسة الهادئة العميقة معه وقبول عدم كمال القادة والرعاة وإمكانية ضعفهم</p>
<p><strong>(٣) الإتضاع طريق الملكوت</strong></p>
<p>نموذج ومصدر ومثال كل إتضاع</p>
<p>&#8221; فليكن فيكم هذا الفكر الذي في المسيح يسوع أيضا الذي إذ كان في صورة الله، لم يحسب خلسة أن يكون معادلا لله لكنه أخلى نفسه، آخذا صورة عبد، صائرا في شبه الناس وإذ وجد في الهيئة كإنسان، وضع نفسه وأطاع حتى الموت موت الصليب لذلك رفعه الله أيضا ، وأعطاه اسما فوق كل اسم &#8221; (في ٢: ٥-٩)</p>
<p>١- إتضاع الخدمة والمكانة</p>
<p>وَمَنْ أَرَادَ أَنْ يَصِيرَ فِيكُمْ أَوَّلاً، يَكُونُ لِلْجَمِيعِ عَبْدًا. (مر٤٤:١٠)</p>
<p>٢- إتضاع التنقية والتزكية للمؤمنين</p>
<p>فإن الذهب يمحص في النار، والمرضيين من الناس يمحصون في أتون الاتضاع. (يش بن سيراخ ٢: ٥)</p>
<p>٣- اتضاع الغرباء عن الإيمان</p>
<p>وأما يسوع فقال لها: «دعي البنين أولا يشبعون، لأنه ليس حسنا أن يؤخذ خبز البنين ويطرح للكلاب».</p>
<p>28 فأجابت وقالت له: «نعم، يا سيد! والكلاب أيضا تحت المائدة تأكل من فتات البنين!»</p>
<p>(مر ٧: ٢٨-٢٧)</p>
<p>٤- اتضاع الكاملين</p>
<p>لأنه نظر إلى اتضاع أمته. فهوذا منذ الآن جميع الأجيال تطوبني (لو ١:٤٨)</p>
<p>٥- زيف الاتضاع لعدم ارتباطه بالتوبة</p>
<p>كذلك الإنسان الذي يصوم عن خطاياه ثم يعود يفعلها، من يستجيب لصلاته، وماذا نفعه اتضاعه؟</p>
<p>يش بن سيراخ ٣٤ -٣١))</p>
<p>كتبت الى الكنيسة و لكن ديوتريفس الذي يحب ان يكون الاول بينهم لا يقبلنا (٣يو ١ : ٩)</p>
<p></p>
<p></p>
<h3>عظات آبائية</h3>
<p></p>
<h4> القديس كيرلس الكبير</h4>
<p></p>
<p><strong>ملكوت السموات وقامة الطفولة</strong></p>
<p>وبما أن المسيح قال: &#8220;دَعوا الأولادَ يأتونَ إلَيَّ ولا تمنَعوهُمْ، لأنَّ لمِثلِ هؤُلاءِ ملكوتَ اللهِ.&#8221; (مر10: 14) (مت19 :14) (لو18: 16) فتعالوا، نعم تعالوا لنفحص بعناية أي نوع من الأشخاص يلزم أن يكونأولئك الذين يريدون الحياة الأبدية والذين هم مغرمون بملكوت السموات، لأنه يوجد بكل تأكيد من يقول: أي شيء يوجد في الأطفال مما هو جدير بالاقتداء؟ هل هو عجزهم عن الحزم والذكاء؟ كيف يكون أمراً مصدقاً أن نؤكد أو نتخيّل شيئًا من هذا القبيل؟ ومع ذلك فالمسيح لا يريدنا أن نكون بلا فهم، بل يريدنا أن نعرف بصورة كاملة كل شيء نافع وضروري لخلاصنا.</p>
<p>لأن الحكمة أيضاً تَعِد أنها سوف تُعطي البسطاء ذكاء وللشبان بدء المعرفة والفهم (أم1: 4) ونحن نجدها أيضا في سفر الأمثال كمن ترفع صوتها عاليًا وتقول: &#8220;لكُمْ أيُّها الناسُ أُنادي، وصوتي إلَى بَني آدَمَ. أيُّها الحَمقَى تعَلَّموا ذَكاءً، ويا جُهّالُ تعَلَّموا فهمًا.&#8221; (أم 8: 4، 5).</p>
<p>إذن يترتب على ذلك أن الجاهل ليس له قلب؛ كما ينقصه الذكاء، وذلك ليس في الأشياء التي تستوجب اللوم، بل في الأمور التي تستحق المديح.</p>
<p>لكن المخلِّص يشرح لنا في موضع آخر كيف يمكن للإنسان أن يكون بسيطاً وذكياً بآن واحد، وذلك بقوله: &#8220;كونوا حُكَماءَ كالحَيّاتِ وبُسَطاءَ كالحَمامِ.&#8221; (مت 10: 16) ويكتب أيضًا بالمثل بولس المبارك: &#8220;أيُّها الإخوَةُ، لا تكونوا أولادًا في أذهانِكُمْ، بل كونوا أولادًا في الشَّرِّ، وأمّا في الأذهانِ فكونوا كامِلينَ.&#8221; (1كو14: 20).</p>
<p>ولكن من الضروري أن نفحص ما معنى أن نكون أطفالاً في الشر، وكيف يصير الإنسان هكذا، أما في ذهنه فيكون كاملاً. فالطفل بسبب أنه يعرف القليل جداً أو لا يعرف أي شيء مطلقًا، يُعفى بعدلٍ من تهمة الانحراف والشّر. هكذا أيضنًا من واجبنا أن نسعى للتمثل بهم بنفس الطريقة، بأن نطرح عنا تماماً عادات الشر، لكي نُعتبر</p>
<p>كأناس لا يعرفون حتى الطريق المؤدي للخداع، بل كمن لا يعرفون الخبث والاحتيال، وهكذا يعيشون بأسلوب بسيط وبريء، ويمارسون اللطف والاتضاع الفائق الثمن، كما يمتنعون بسهولة عن الغضب والحقد.</p>
<p>ونحن نؤكد أن هذه الصفات هي التي توجد في أولئك الذين لا يزالون أطفالاً.</p>
<p>لأنه بينما تكون صفاتنا هكذا في البساطة والبراءة، فإنه ينبغي أن نكون كاملين في الذهن فيكون لنا ذهن مؤسَّس بثبات في المعرفة الواضحة للذي هو بالطبيعة وبالحق خالق الكون وهو الإله والرب، ولا نعترف بأي إله آخر معه أيَّاً كان جديداً أو ما يسمى هكذا كذبّاء ونتحاشى ما يجلب علينا الهلاك بانخداعنا بالابتعاد عنه، بتبنينا بعادات الوثنيين» لذلك يلزم أن يكون ذهننا ثابتاً بقوة وواثقاً وغير متزعزع في تمسُّكه بالإله الحيّ الحقيقي، ويلزمنا أيضاً أن نهرب من الشراك الأخرى و نبتعد عن أحجار العثّرة التي يضعها إبليس، وأعني بها أولئك الناس الذين يفسدون التعليم المستقيم عن الله ويزّيفون الحق ويرفعون قرنهم عالياً ويتكلمون بالشر ضد الله.</p>
<p>إنهم يتقيأون أفكاراً من داخل قلوبهم، ويضلون نفوس البسطاء، ويحاربون ضد مجد ابن الله الوحيد، ويقولون إنه ينبغي أن يُحصّى ضمن المخلوقات، بينما هم جميعاً قد جاءوا إلى الوجود بواسطته. هؤلاء يجلبون على رؤوسهم دينونة صارمة وحتميّة، ولا يخشون أن يقولوا نفس هذه الأشياء أيضاً ضد الروح القدس، لذلك فأيما شخص يقول عنهم إنهم أبواب جهنم لا يجانبه الصواب.</p>
<p>والحكيم بولس يؤكد لنا أيضاً أننا ينبغي أن نعرض عن مثل هؤلاء الناس بعيدا قائلاً: &#8220;إنْ كانَ أحَدٌ يُبَشِّرُكُمْ بغَيرِ ما قَبِلتُمْ، فليَكُنْ &#8220;أناثيما&#8221;! (غل ١: 9).</p>
<p>لذلك فالكمال الرئيسي للذهن هو أن يترسّخ في الإيمان، وأن يكون فهمنا غير فاسد، والكمال الثاني الذي يجاور هذا الكمال الرئيسي ومماثل له بل ورفيقه الدائم هو المعرفة الواضحة لطريق السلوك الذي يرضي الله والذي نتعلمه من الإنجيل، والذي هو كامل وبلا لوم، فأولئك الذين يسيرون في هذا الطريق يعيشون حياة البساطة والبراءة، كما أنهم يعرفون أيَّة آراء ينبغي أن يتمسكوا بها، وأيَّة أفعال صائبة ينبغي عليهم أن يفعلوها، هؤلاء يدخلون من الباب الضيق، ولا يرفضون تلك الأتعاب التي تتطلبها التقوى نحو الله، ولا تلك الأتعاب الضرورية لأن يحيوا حياة مجيدة.</p>
<p>وهكذا فإنهم يتقدَّمون كما يجب إلى اتساع الفيض الذي هو نحو الله ويبتهجون بعطاياه، ويربحون لأنفسهم ملكوت السموات، بالمسيح الذي به ومعه لله الآب يليق التسبيح والسلطان مع الروح القدس إلى دهر الدهور. آمين<a href="#_ftn3" name="_ftnref3">[3]</a></p>
<p></p>
<p></p>
<h4>أيضاً للقديس كيرلس الأسكندري:</h4>
<p></p>
<p>ربما تبدو مثل هذه الأمور للبعض تافهة ولا تستحق إعارتها الانتباه، لكن متى ركز الإنسان عيني ذهنه عليها فسيتعلم من أي عيب تخلّص الإنسان، وأي تدبير حسن توجده فيه. فإن الجري وراء الكرامات بطريقة غير لائقة لا تناسبنا ولا تليق بنا، إذ تظهرنا أغبياء وعنفاء ومتغطرسين، نطلب لا ما يناسبنا، بل ما يناسب من هم أعظم منا وأسمى.</p>
<p>من يفعل هذا يصير مكروهًا، وغالبًا ما يكون موضع سخريَّة عندما يضطر بغير إرادته أن يرد للآخرين الكرامة التي ليست له&#8230; يلزمه أن يعيد ما قد أخذه بغير حق.</p>
<p>أما الإنسان الوديع والمستحق للمديح الذي بدون خوف من اللوم يستحق الجلوس بين الأولين لكنه لا يطلب ذلك لنفسه، بل يترك للآخرين ما يليق به، فيُحسب منتصرًا على المجد الباطل وسيتقبل مثل هذه الكرامة التي تناسبه، إذ يسمع القائل له: &#8220;ارتفع إلى فوق&#8221;.</p>
<p>إذن العقل المتواضع عظيم وفائق الصلاح، يخّلص صاحبه من اللوم والتوبيخ ومن طلب المجد الباطل..</p>
<p>إن طلبت هذا المجد البشري الزائل تضل عن طريق الحق الذي به يمكنك أن تكون بالحق مشهورًا وتنال كرامة تستحق المنافس! فقد كُتب: &#8220;لأن كل جسد كعشبٍ، وكل مجد إنسان كزهر عشب&#8221; (١بط ١: ٢٤). كما يلوم النبي داود محبي الكرامات الزمنيَّة، قائلًا لهم هكذا: &#8220;ليكونوا كعشب السطوح الذي ييبس قبل أن يُقلع&#8221; (مز ١٢٩: ٦). فكما أن العشب الذي ينبت على السطح ليس له جذر عميق ثابت لذا يجف سريعًا، هكذا من يهتم بالكرامات الدنيويَّة بعد أن يصير ظاهرًا في وقت قصير كالزهرة يسقط إلى النهاية، ويصير كلا شيء.</p>
<p>إن أراد أحد أن يسبق الآخرين فلينل ذلك بقانون السماء، وليتكلل بالكرامات التي يهبها الله. ليسمُ على الكثيرين بشهادة الفضائل المجيدة، غير أن قانون الفضيلة هو الذهن المتواضع الذي لا يطلب الكبرياء، بل التواضع! هذا هو ما حسبه الطوباوي بولس أفضل من كل شيء، إذ كتب إلى أولئك الذين يرغبون في السلوك بقداسة: أحبوا التواضع (كو ٣: ١٢). وقد مدح تلميذ المسيح ذلك، إذ كتب هكذا: &#8220;ليفتخر الأخ المتضع (المسكين) بارتفاعه، وأما الغني فبتواضعه لأنه كزهر العشب يزول&#8221; (يع ١: ٩ &#8211; ١٠). الذهن المتواضع والمنضبط يرفعه الله، إذ &#8220;القلب المنكسر والمنسحق يا الله لا تحتقره&#8221;(مز ٥١: ١٧).</p>
<p>من يظن في نفسه أمرًا عظيمًا وساميًا فيتشامخ في فكره وينتفخ في علو فارغ يكون مرذولًا وتحت اللعنة، إذ يسلك على خلاف المسيح القائل: &#8220;تعلموا مني، لأني وديع ومتواضع القلب&#8221; (مت ١١: ٢٩). كما قيل: &#8220;لأن الله يقاوم المستكبرين، وأما المتواضعون فيعطيهم نعمة&#8221; (١بط ٥: ٥). لقد أظهر الحكيم سليمان في مواضع كثيرة الأمان الذي يحل بالذهن المتواضع، إذ يقول: &#8220;لا تنتفخ كي لا تسقط&#8221; (ابن سيراخ ١: ٣٠)؛ كما يعلن ذات الأمر بطريقة تشبيهية: &#8220;المعلي بابه (بيته) يطلب الكسر&#8221;(أم ١٧: ١٩). مثل هذا يبغضه الله بعدل إذ يُخطئ في حق نفسه ويود أن يتعدى حدود طبيعته بغير شعور..</p>
<p>أسألك، على أي أساس يظن الإنسان في نفسه أمرًا عظيمًا&#8230;؟!</p>
<p>ليت كل إنسان ينظر إلى حاله بعينين حكيمتين، فيصير كإبراهيم الذي لم يُخطئ في إدراك طبيعته، بل دعي نفسه ترابًا ورمادًا (تك ١٨: ٢٧).</p>
<p>كما أن العشب الذي ينبت على السطح ليس له جذر عميق ثابت لذا يجف سريعًا، هكذا من يهتم بالكرامات الدنيوية بعد أن يصير ظاهراً في وقت قصير كالزهرة يسقط في النهاية ويصير كلا شيء<a href="#_ftn4" name="_ftnref4">[4]</a>.</p>
<p></p>
<p></p>
<h4>كوكب البرية الأنبا أنطونيوس:</h4>
<p></p>
<p><strong>رسالة من أجل المسكنة والإتضاع </strong></p>
<p>أتكلم معكم يا أولادى الأحباء بيسير من أخبار الأباء والقديسين الأطهار الذين رفعهم الله لأجل تواضعهم ومسكنتهم الأولى وأعطاهم المجد والغنى ههنا لكونهم تواضعوا من كل قلبهم قبل تعظم الله لهم. فأخبركم أولاً عن أب الآباء إبراهيم، الله رفعه من المسكنة الى الغنى ومن الإهانة إلى المجد ولم ينس إبراهيم مسكنته الأولى بل صار ساكناً في المظال . وكذلك اسحق ويعقوب وكان لابراهيم الاستطاعة ان يبنى القصور في كل مكان اذ قد صار له من الغنى الكثير ومن الذهب والفضة والعبيد والمواشى والإماء ما يمكنه من ذلك وظل قلبه دائماً في تذكار الله ولم ينس المسكنة ولا كثرة الخيرات التي صنعها الله معه، فلم يفعل ذلك بل سكن المظال . ولأجل ذلك ظهر الله له ومعه ملاكان وهو جالس عند شجرة ممري. ولما أهتم بربنا وملائكته ولم يأمر أحداً من عبيدة أن يصنع ما أهتم به بل أهتم هو بنفسه ولم ينس النعم التي أعطاها له الله بعد تواضعه ومسكنته.</p>
<p>نجد أنه بشيخوخته الحسنة التي كانت تناهز المئة سنة مضى إلى قطعانه وأتى بعجل جيد وذبحه وأمر زوجته أن تعجن تلات كيلات سميداً وكان كل عبيدهما وامائهما قياماً حولهما .</p>
<p>وإبراهيم لما قدم لهم لياكلوا كان واقفاً بين أيديهم بمسكنة قلب وأتضاع كمن لا شيء له . ولأجل هذه المسكنة التي كانت ظاهرة أمام الرب. أظهر له الرب ذاته وكمل له كل ارادته وقال في ذلك اليوم انه في مثل هذا اليوم من العام المقبل يكون لسارة ولد ، وكان كذلك ورزقاً ابن الموعد . اسحق هذا كان غنياً جداً وتمسكن بقلبه أمام الفلسطينين ، كانوا يظلمونه فلم ينتقم منهم وكان غناه يزداد جداً أكثر من جميعهم . كذلك كان أبونا يعقوب أنه لما أراد ان يمضى إلى بلاد ما بين النهرين قبل نياحة أبيه اسحق وحصوله على البركات منه ، ترك كل غناه في بيت أبيه وكان يمشى بمسكنة وعصاه معه وليس له الا زاد الكفاف للطريق. وكان اذا رقد وضع تحت رأسه حجراً، ولهذا أغناه الله في بيت خاله لابان . فلما أراد أن يرجع إلى بيت أبيه لم ينس المسكنة لأجل ما صار له من كثرة الغنى.</p>
<p>وكان اسحق دائماً سائراً بالمسكنة وقد أظهرها أمام الرب قائلاً إننى عبرت الأردن بعصاتى وكنت بين عسكرين فأنظروا أيضاً انه لم ينس المسكنة حتى إلى وقت نياحته. فلما سجد على رأس عصاه وكان أولاده حوله أوصاهم قائلاً لا تنسوا المسكنة الأولى يا أولادى الأحباء لأجل ما صار لكم من هذا الغنى كانت عصاه بيده دائماً ينظر اليها في كل وقت حتى لايتكبر قلبه بكثرة غناه ويذكر العبودية التي تحملها في بيت خاله لابان لأن عصاه بيده حيث كان يرعى الغنم.</p>
<p>وهكذا كان يوسف لما ملك على مصر لم ينس ذاته ولم يخز أن يظهر ذلك لفرعون بقوله لاخوته إذا سألكم فرعون فقولوا له أن عبيدك رعاة غنم. (كان رعى الغنم نجاسة عند المصريين) أنظروا إلى ملكه وغناه لم ينسياه ذله السابق ومسكنته. هكذا موسى أول الأنبياء لما صار ابنا لابنة فرعون وكان يمكنه أن يصير ملكاً على خزائن مصر جميعها عندما ذكر أخوته المولودين من إبراهيم رفعهم الله من تواضعهم ومسكنتهم قد طلب حياتهم وأرتضى أن يذل مع شعب الله من أن يكون له تنعم وقتى بالخطية في بيت الملك فنزح من كل أرض مصر وصار غريباً في أرض مديان أربعين سنة. وكان خبزه وماؤه على كتفه وهو يرعى الغنم وهوالذى عاش في قصر الملك. فلما نظر الله إلى تواضعه خاطبه أن يرجع إلى مصر ويكون رئيساً على شعب الله. فقال موسى للرب أنظر لك آخر غيرى يصلح لهذا الامر لأنى لست أصلح له . هذا القول كان احتقاراً منه لنفسه ولم يتكبر.</p>
<p>ولأجل كثرة تواضعه عظمه الله وأعطاه علامة في عصاته حتى لا ينسى المسكنة بل يشكر انعامات الله عليه  وأمره أن يصنع الآيات والعجائب بعصاته التي بيده . وكل العجائب كانت كائنة معه بالرب في عصاته ليكن تذكار مسكنته عنده ولا ينساه . تلك العصى التي كانت بيده، بها شق البحر وبها صنع العجائب بمصر. أما البحر فكان ينبغي له عندما نظر عامود النور يتقدم أمام الشعب أن ينشق ويولى هارباً فلم يكن كذلك بل ان الله جعل موسى أن يضرب البحر بعصاته فينشق .</p>
<p>لكى اذا تعظم قلب موسى لكون البحر خاف منه فينظر إلى عصاته التي بيده ويتذكر أنه بها كان يرعى الغنم في البرية وهو غريب مسكين فيتضع . فهذه العصى كانت لموسى للأمرين كلاهما الأول تعظيمًا له لأجل كثرة العجائب التي كان يصنعها بها والأخرى تذكاراً للمسكنة حتى لا يتعظم بقلبه بل بقول أن هذه القوة اليست لى بل للرب وقد قيل عن دبوره انها لما صارت لها هذه الرفعة من قبل الرب التي هي تدبير الشعب لم يرتفع قلبها بل كانت تذكر طقس النساء وتقول أن الرجل رأسها .</p>
<p>ولما أرادت أن تحارب سيسرا الملك أرسلت خلف باراق واعطته السلطه لكى يمضى ويحارب سيسرا . وإن  باراق لم تضله هذه الكرامة العظيمة ولا نسى تدابير الله بل قال لها ان كنت تنطلقى معى فأنا انطلق . لأنه كان يعلم ان الله معها وقد ولاها التدبير. حتى ان دبوره قالت له أننى اذا خرجت معك لا تكون لك كرامة بل يقال أن سيسرا سلم في يدى أمرأة . فأنظروا يا أولادى إلى كرامة هذين اذا كان ينبغي لدبوره أن تقول أن الرب أعطانى هذه الكرامة وأنا لا أعطيها لآخر بل إنها ذكرت طقس النساء من أجل اتضاع قلبها . وكان أيضاً ينبغي لباراق أنه لما تولى الأمر من دبوره أن يمضى إلى الحرب وحده ليفتخر ويقول أنا غلبت سيسرا بل بالأكثر اتخذ الإتضاع حتى يأتيه المعونة من عند الرب .</p>
<p>هكذا جدعون أيضاً لما قال له ملاك الرب أنى مرسلك إلى محاربة ملك مديان لم يتكبر بل لام نفسه وحده بانواع كثيرة وذكر مسكنته ليتخلص من الكبرياء فأول ما قال ، &#8221; يارب كن معى بقوتك حتى يخلص إسرائيل لأنى أنا وهذه الربوات يذلولون وأنا أصغر من في بيت أبى ( الذى هو سبط منسى ) فقال له الملاك أذهب وأنا أكون معك ولكن تواضع قلبه لم يتركه بغير اهتمام فطلب من الملاك علامات لأنه كان في نظر نفسه غير مستحق لهذا المقدار العظيم . ولأجل ذلك قوى على مديان بمعونة الرب وكان دائماً يذكر مسكنته الأولى هارباً من العظمة . ولما سأله الشعب أن يكون رئيساً عليهم أجابهم باتضاع قلب اننى لا أكون رئيساً عليكم وفر من الرئاسة ولم تضله الكرامة في شيء .</p>
<p>وهكذا حنه أم صموئيل النبى كانت تصنع له أفواداً في كل سنة مما يختص بها . ومعلوم ان هيكل الرب لم يكن محتاجاً حتى تأتى أم النبى بملابسه من عندها بل أن أمه فعلت هذا لأنه دخل إلى الهيكل صغيرًا وخافت أن يقول أنى ملاك أو قوى أو أنى رأيت إعلانات في الهيكل وكانت تصنع كذلك وتذهب اليه كل سنة حتى يعرف ويتحقق ابن من هو ويذكر تواضعه وجنسه لأجل هذا كان ينمو مريضاً أمام الله . وحنه أمه كانت متضعة وديعة القلب .</p>
<p>وهكذا سار داود متضعاً وديعاً فلنتخذ نحن يا أولادى الوداعة والاتضاع مثل هؤلاء لأن داود قال اذكر داود وكل دعته . وعندما كان يرعى غنم أبيه أنتخبه الله ملكاً مكرماً منه أكثر من بيت أبيه كله . ولما مضى ليحارب جليات الجبار اتخذ خمس حجارة ملس من الوادى وخبأهم في مخلته وأخذ أيضاً عصاه التي كان يرعى بها الغنم وتقدم لجليات الجبار وحاربه بقوة رب الجنود وغلبه . وأحضر أمام الملك شاول وصار مكرماً منه ولم يترك عنه لأجل كرامة قصر الملك لاعصاه ولا مخلته بل حفظهما معه ليكون قلبه دائماً متضعاً .</p>
<p>وأيضاً ليكون مثالاً لنا لنتعلم نحن . ولما صار ملكاً قال أننى لم أنس مسكنتى وتواضعى ولم يرتفع قلبى . وقال بإعلان يارب لم يرتفع قلبى ولم تستعل عيناى ولم أسلك في العظائم ولا العجائب التي هي أعلى منى وان كنت لم أتواضع لكن رفعت صوتى مثل الفطيم من اللبن على أمه كذلك المجازاة على نفسى . هذه المزامير قالها داود وهو ملك ولم ينسى مسكنته وتواضعه بل قال صغيراً كنت في أخوتى وشاباً في بيت أبى ، كنت أرعى غنم أبى وقال المزمور وهو ملك لكى يعرفه جميع العالم ويتعلموا منه الإتضاع والمسكنة. وهكذا أيضاً إيليا النبى لما صنع العجائب الكثيرة لم يترك عنه مأزرته ولا عند صعوده إلى الفردوس لئلا يتعظم قلبه لكثرة ما صنع من الآيات ، بل في صعوده طرحها على تلميذه أليشع وكان أيضاً متمنطقاً بمنطقته الجلد لتذكره انه انسان مسكين ويتذكارتلك المنطقة الجلد لم ينسى مسكنته الأولى . هكذا الآباء الرسل لما ابتدأوا يتبعوا المسيح كانوا يتذكرون مسكنتهم الأولى دائماً حتى أن ربنا يسوع المسيح قال لبطرس الرسول في كفر ناحوم عندما طولب بالجزية . امضى إلى البحر والق صنارتك في البحر والسمكة التي تطلع أولاً افتح فاها فتجد استاراً أوف عنى وعنك ، فيا أولادى انظروا إلى بطرس انه لم يترك عنه صنارته لئلا ينسى حالته الأولى ومسكنته التي كان فيها .</p>
<p>واعلموا ان ربنا يسوع أظهر إتضاع دائماً لنتضع نحن أيضاً لكى يفتضح الشيطان ويخزى وتطفئ سهامه النارية المتقدة . ولم يكن هؤلاء المذكورين ومن شابههم فقط الذين ذكروا مسكنتهم بل نجد ربنا يسوع نفسه دعى ابن الإنسان . وإنه لم يأتي ليخدم بل ليخدم . وكان اذا قيل له أنت ابن الله من قبل تعظيمه كان ينتهرهمرولا يدعهم ينطقون واذا صنع الاشفيه والعجائب كان يأمرهم قائلاً لا تعلموا أحداً وكل هذا تواضع ليعلمنا أن نحفظ مسكنتنا وضعفنا . وقد سلك أمامنا في هذا الإتضاع تاركاً الافتخار لا خوفاً منه ، كلا لأنه قادر أن يظهر قوة لاهوته في أي وقت أراد .</p>
<p>ولا يقدر أحد أن يتضع بحقيقة قلبه الا من نظر الرب نفسه . وأعلموا يا أولادى أن كثيرين يسعون بالإتضاع وليس كذلك حقيقة قلبهم ، فهم بظاهرهم متضعون أمام الناس ولم ينظروا كرامة الله وهذا الأمر لا يناله احد بكثرة الذهب والنحاس ولا بالقرب من الملك الارضى وعساكره بل مذكورعن الآباء القديسين ، الأطهار الذين جاهدوا ونظروا الرب فانهم يتواضعون بالاكثر لأننا سمعنا المكتوب عن أيوب انه قال للرب أنت تعلم أنى انسان خاطئ . ومن الذى يخلص من يديك ليت بيننا واسطه للحكم &#8230; إلى بقية المقول .</p>
<p>ثم أن أيوب لما رأى الرب في سحابة وتكلم معه وانفتحت عينى قلبه ونظر ، حسب نفسه تراباً ورماداً وندم كونه تكلم مع الرب فقال أنى أضع يدى على فاى لأنى تكلمت دفعة ولن أرجع إلى مثلها . وهكذا أيضاً أشعياء النبى بكت الشعب لأجل خطاياهم وبعد أن رأى رب الصباؤوت والسارافيم قياماً حوله علم حقيقة نفسه وقال الويل لأنى إنسان خاطئ ذو شفاه دنسه وساكن بين شعب دنس الشفتين . وتلاميذ ربنا يسوع كانوا يأكلون ويشربون معه ولم يخافوا عند مفاوضته لهم . ولما تجلى على جبل تابور وتغير شكله أمامهم سقطوا على وجوههم وعرفوا مسكنتهم وضعفهم وعلموا أنهم لا شيء أمام مجد السيد المسيح. ونحن فموجود عندما شهادات كثيرة كهذه فسبب تواضع القديسين هو ما نظروه من مجد الله .</p>
<p>والعمل الذى صنعه ربنا مع تلاميذه يقنعنا بالأكثر لكيما نعرف ان الإتضاع الحقيقى يكون للنفس في هذا العالم حينما ننظر من البعد الممجد المعد المزمع ان نناله لأن الأنجيل المقدس يقول أن ربنا يسوع لما علم ان الآب سلم في يديه كل شيء . قام عن العشاء ووضع ثيابه وأشتد بمنديل وصب ماء في لقان وبدء يغسل أرجل تلاميذه ويمسحهم بالمنديل المشتد به لأجل هذا تلاميذه صاروا متضعين . ونحن وقد حمل المسيح أدناسنا وخطايانا فليتنا نراه وهو حامل عارنا حتى نقول له كفاك يارب احتمالا من أجلنا .</p>
<p>هكذا يا أحبائى اذا نظرتم مجد الرب وعرفتم ميراثه الذى تقبلونه فاتركوا عنكم مجد البشر وداوموا على التواضع العظيم ولا تنتقلوا من موضع إلى موضع لأجل مجد الناس فتنسوا مسكنتكم الأولى . لأنى أرى قوماً هكذا صورتهم فيطلبون مجد الناس . بل كونوا عند ذواتكم كالأطفال وتشبهوا بتلميذى يوحنا المعمدان لأنهما لم يتركاه ولا قصد الأفتخار بالسير وراء غيره ، بل لما علما أن الرب يسوع هو مخلص العالم بشهادة يوحنا عنه تبعاه لكيما يصيرا من الأطفال الجدد . فاصنعوا هكذا انتم كل حين عندما تمضوا إلى من هو أكبر منكم ليتم فيكم المكتوب ليتجدد مثل النسر شبابك .</p>
<p>واعلموا انكم خطاة وابكوا على أرواحكم لأجل ما صنعتموه بعدم المعرفة . وبهذا بالحقيقة تكون إرادة الرب كائنة معكم وصانعه فيكم لأنه صالح ويغفر الخطايا لكل من يرجع اليه من البشر ولا يذكرها بعد ، بل هو يريد أن يظلوا هم ذاكرين لخطاياهم التي صنعوها أولاً لئلا ينسوها ويكونوا مطالبين بما قد غفر لهم من الخطابا . لأنه هكذا حدث لذلك العبد الذى ترك له سيده ما كان عليه من الوزنات . فلما نسى ذلك العبد فعل سيده معه ولم يرحم أخوه في العبودية فام يترك له المائة وزنه التي هي شيئاً يسيراً بالنسبة لما تركه له سيده طولب بالكسل .</p>
<p>موسى أيضًا أوصى شعبه في البرية أن ينسوا خطاياهم الأولى بقوله لهم . لذا ما دخلتم الأرض التي ترثونها فاحترزوا اذا استغنيتم أن تأكلوا وتشربوا وتبطروا . لكن اذكروا العبودية التي كانت لكم بمصر وما قد اغضبكم الرب. به في البرية ويكون هذا التذكار لكم طول أيام حياتكم تصنعونه . وهذه الوجبه يا أولادى تنطبق علينا اذ صرنا عبيداً زماناً طويلاً بمصر التي هي الخطيئة التي نحن بارادتنا استعبدنا لها . فلنجاهد اذن أن ندخل أرض الميعاد . واذا دخلنا فلا ننسى عبوديتنا بل نذكرها دائماً لئلا نأكل ونشبع ونبطر. لكن ليس موسى فقط يعلمنا ذلك بل وسائل الأنبياء أيضاً هكذا يعلموننا بأن لا ننسى خطايانا التي غفرها لنا الله. وأن نحسب أنفسنا مديونين بها لله ونجتهد أن نعمل ما يفرح قلب الله الذى فرحنا واراحنا من عقاب خطايانا، هذا على قدر طاقتنا ولكن من كل القلب والقدرة ونكون ماثلين أمام الله كمن له علينا دين لا نقدر أن نرده. انظروا إلى داود لما نال الصفح من قبل الرب   عندما أخطأ إلى أمرأة أوريا الحثى وبكته ناثان النبى لأجلنا ولأجل ما صنعه بزوجها . فعندما سمع التبكيت لوقته ندم وتاب واعترف بخطيته وتواضع أمام الله. فقال له ناثان النبى والرب نقل عنك خطيتك، لكن داود لم يتركها بل تذكرها وكتبها في المزمور الخمسين وصار هذا تذكاراً لكل الأجيال ( خطيتى أمامى في كل حين ) ولما حصل هذا الصفح العظيم قال انى أعلم المخالفين طرقك واليك يرجع المنافقون . وهذا قاله داود ليتعلم منه كافه الخطاة ويكونوا لها ذاكرين في كل وقت. وهكذا قال الله في سفر أشعياء انى امحو خطاياك ولا اذكرها، أما انت ان ذكرتها تتزكى امامى . فلاجل هذا يجب على الخاطئ أن يتذكر خطاياه التي تركها له الله لينال التزكية من قبل وعد الله . وقال أرميا النبى ، أرجعوا إلى ياجميع بيت إسرائيل لئلا أتى بغضبى عليكم . لكن أعرف أنت ظلمك وانك قد صرت جاهلاً لذاتك ومنافقاً على الهك . وهكذا نحن يا أولادى الواجب علينا اذا ما غفر لنا ربنا خطايانا أن لا نغفرها نحن لذواتنا بل نذكرها دائما ً بتجديد التوبة. ولهذا فان يوحنا المعمدان لما كان يعمد للتوبة كان يقول لهم لا تكونوا بغير اهتمام من أجل غفران خطاياكم بل اصنعوا اثماراً تليق بالتوبة ( دموع – تنهد – ندم ) لان ها هو ذا الفأس قد وضع على أصل الشجرة . كل شجرة لا تثمر ثمراً صالحاً تقطع وتلقى في النار . فهذه جميعها ذكرتها لكم يا أحبائى لأنى اذكر عظيم فضائلكم ولئلا تتغافلوا فيخفى نوركم . بل لتزدادوا أثماراً تليق باسكيمكم الملائكى الذى انتم لابسوه . واعلموا هذا أيضاً ، كيف انه لما وجد ذلك الانسان الكنز المخفى في الحقل باع كل شيء واشترى ذلك الحقل .</p>
<p>فأنتم الآن يا أحبائي بالرب ليظهر مجدكم في الشركة جميعها . لكن لا تتفكروا في هذا لئلا تتعظموا بل باتضاعكم ووداعاتكم اذكروا مسكنتكم الأولى فتصيروا كمن لا يعمل ذلك لأن موسى لما تمجد لم يعمل ببهاء وجهد لأجل اتضاعه ووداعته . ولما علم الشعب ذلك ، كانوا في خوف عظيم من النظر إلى وجهه وستر موسى وجهه ببرقع .</p>
<p>كذلك انتم يا أحبائي اذا ما تركتم عنكم خيرات هذا العالم الزائل الذى هو أرض الأموات كما تركه من تقدم ذكرهم فليكن رجاؤنا قوياً لكى تنالوا الخيرات من الرب في أرض الأحياء ، في المدينة التي لها الأساسات التي صانعها وبارئها الله فلا تطلبوا يا أولادى المباركين أن ترضوا الناس الذين في كورة الأموات باتباع أهوائهم وشهواتهم والسير حسب أعمالهم الجسدانية. والا فلا تستطيعوا أن ترضوا الرب في كورة الأحياء ومتى نلتم الخلاص من خطاياكم فلا تغفروا أنتم من أنفسكم لذواتكم لئلا تكون ثمار توبتكم عاجزة . تشبهوا بمعلم المسكونة بولس الرسول أنه بعد أن غفر له الرب بظهوره له وكلامه معه عندما اختطف إلى السماء الثالثة .</p>
<p>لم يغفر هو لنفسه بل كان ذاته بعدم معرفته الأولى التي قد نسيها الرب برحمته بل قال انى كنت مضطهداً زماناً لكنيسة الله. إلى نهاية المقول. ربنا يسوع يحفظكم في طاعته ومخافته ولا ينزع من قلوبكم التخشع والمسكنة لأنها قوة في هذا الدهر وإلى الأبد له التقديس والتسبيح مع أبيه وروح قدسه آمين<a href="#_ftn5" name="_ftnref5">[5]</a>.</p>
<p></p>
<p></p>
<h4>العلَّامة أوريجانوس:</h4>
<p></p>
<p><strong>ضعفات القديسين</strong></p>
<p>إن كان حقًا القدِّيس لا يمكن أن يخطيء أبدًا، وأنه يجب أن نعتبره كأنه معصوم من الخطأ&#8230; ما كان قد كتب &#8220;تحملون ذنب المقدس&#8221;&#8230; لو كان القدِّيسين معصومين من الخطيئة لم قال الرسول لأهل رومية &#8220;لا تنقض لأجل الطعام عمل الله&#8221; (رو ١٤: ٢٠) ، هؤلاء الذين كتب إليهم في أول رسالته &#8220;إلى جميع الموجودين في رومية أحباء الله مدعوين قديسين&#8221; (رو ١ : ٧)…</p>
<p>يقول الرسول نفسه في رسالته إلى أهل كورنثوس &#8220;إلى كنيسة الله التي في كورنثوس المقدَّسين في المسيح يسوع المدعوين قديسين&#8221; (١كو ١ : ٢). انظر بأي خطايا يوبخهم، إذ يكتب بعد ذلك: &#8220;فإنه إذ فيكم حسد وخصام وانشقاق ألستم جسديّين وتسلكون بحسب البشر؟&#8221; (١كو ٣ : ٣). كما يقول إنكم قد استغنيتم، ملكتم بدوننا، وليتكم ملكتم لنملك نحن أيضًا معكم&#8221; (١كو ٤ : ٨). وأيضًا: &#8220;فانتفخ قوم كأني لست آتيًا إليكم&#8221; (١كو ٤ : ١٨). بعد قليل يقول: &#8220;يسمع مطلقًا أن بينكم زنى، وزنى هكذا لا يسمى بين الأمم&#8221; (١كو ٥ : ٢). إنه لم يستثنِ أحدًا، فيتهم أحدهم بالزنى والآخرين بالكبرياء. بعد هذا يعاتبهم لأنهم يحاكمون بعضهم البعض: &#8220;والآن فيكم عيب مطلقًا لأن عندكم محاكمات بعضكم مع بعض&#8221; (١كو ٦ : ٧).</p>
<p>إنه يتهم الذين دعاهم قدِّيسين أنهم يأكلون ما ذُبح للأوثان ويحكم عليهم: &#8220;وهكذا إذ تخطئون إلى الإخوة وتجرحون ضميرهم الضعيف تخطئون إلى المسيح&#8221; (١كو ٨ : ١٢). إنه ليس فقط يتهمهم بأكل ما ذُبح للأوثان بل وشرب كأس الشيطان: &#8220;لا تقدرون أن تشربوا كأس الرب وكأس شياطين. لا تقدرون أن تشتركوا في مائدة الرب وفي مائدة الشياطين&#8221; (١كو ١٠: ٢١).</p>
<p>إنه يقول لهم: &#8220;لأني أولًا حين تجتمعون في الكنيسة أيسمع أن بينكم انشقاقات&#8221; (١كو ١١ : ١٨) ، كما يقول: &#8220;لأنه كل واحد يسبق فيأخذ عشاء نفسه في الأكل فالواحد يجوع والآخر يسكر&#8221; (١كو ١١ : ٢١). وبسبب هذه الأخطاء يقول: &#8220;من أجل هذا فيكم كثيرون ضعفاء ومرضى كثيرون يرقدون، لأننا لو حكمنا على أنفسنا لما حُكم علينا&#8221; (١كو ١١ : ٣٠ &#8211; ٣١)…  علاوة على هذا لم تقف الخطايا عند حد السلوك، بل وأخطاء ضد الإيمان إذ يتهمهم هكذا: &#8220;كيف يقول قوم بينكم أن ليس قيامة أموات؟&#8221; (١كو ١٥ : ١٦) ، كما يقول: &#8220;وإن لم يكن المسيح قد قام فباطل إيمانكم، أنتم بعد في خطاياكم&#8221; (١كو ١٥ : ١٧). ويطول الحديث جدًا الأمر الذي يناسب هذا المقام أن نورد جميع الشواهد بأن الذين دُعوا قديسين لا يجب أن نعتبرهم بسبب هذه التسمية معصومين من الخطأ، الأمر الذي يعتقد به من يقرأ الكتاب المقدس بطريقة سطحيّة وهو متغافل<a href="#_ftn6" name="_ftnref6">[6]</a>.</p>
<p></p>
<p></p>
<h4>الأم سنكليتيكي</h4>
<p></p>
<p>نصيحتها بأن الاتضاع وعدم التهاون يحمى من السقوط</p>
<p>وهذا الحديث يتحقق بالاتضاع وعدم التعالي. ولكي ينجو أحد من السقوط فعليه أن يرجع ويتوب ويئن من أجل الخلاص. وأرى أنك مثابرة من نفسك، لأن التزامك بمخافة الله مضاعفة، والتي لا تجعلك ترجعين إلى ما هو قديم، ولا تحتقرين العدو الذي يسعى لجر قدميك إلى الماضي. لأن عدونا يجر وراءه شياطين كثيرة، وينظر إلى النفس الكسولة لكي يفوز بها ويسقطها في حفرة، وقد يرتئي بها لكي تكون متحمسة وجادة في تحمل ألم النسك، وفجأة يدفعها بقوة نحو الضعف الخفي، الذي هو الكبرياء، وبهذه الطريقة يهلك حياة الرجال أنفسهم، وذلك هو سلاحه الأخير المؤذى على رؤوس الكل.</p>
<p>فالعدو ينبذ البشر الأقوياء الذين يسعون إلى الطهارة والنقاء، فيأتي بحروب شديدة وعنيفة بعد أن يخسر قفزاته المفاجئة الأضعف، وفى ذلك الحين يصرخ بتوعد بالقتال مصوبًا ما كل سيوفه القوية على النفوس. إبليس بعد خسارته الأولى في صيد النفس، ساعتها يستعمل سيفه الأخير، ألا وهو الكبرياء والغرور.</p>
<p>هي فخاخه الأولى؟ واضح أنها الشراهة، ومحبة اللذة، والزنا. وهذه الأرواح الشريرة تصيب الذين هم في سن الشباب. ويتبع هذه الضعفات محبة المال والجشع والبخل. والنفس المجاهدة حينما تتعرض لهذه الآلام فإنها تقهرها وتسيطر عليها وتتحكم في شهوة البطن وتهرب منها بالقداسة، واحتقار المال، وحينئذ تقطع كل ميل للشر وإثارة ما هو خفي في النفس ومنافي للأخلاق. إن مقاومة إبليس وهجومه العنيف ضد الأخوات غير لائق، قاسى ومميت هذا العدو المهلك. ومرات كثيرة يجتمعون معًا ليطرحوا النفس في الظلمة، وإثارته للزنا في النفس يسبب الموت، وفهم حركاته مجهولة من الكثيرين. لكن بالصوم نتفوق عليه، وبزيادة الفضائل برجولة نواجه كثرة أعداده.وما أخطأ به أحد تجاه البعض فليتحمل الإهمال، ويتغاضى عن الترفع على الآخرين. والذي يخضع للسرقة يخطئ بالفكر، ولا يستفيد من عمله هذا، وأيضًا لا يقوى على قول &#8220;لك وحدك أخطأت&#8221; (مز ٥١ : ٤) ، و&#8221;ارحمني&#8221;(مز ٥١ : ٤) ، ولا تتاح له الفرصة ليقول: &#8220;أعترف لك يا رب بكل قلبي&#8221; (مز ٩ : ١) ، بل كأنه يقول: &#8220;أصعد إلى السموات أرفع كرسي&#8221; (أش ١٤ : ١٣) ، وهذه الحركات تقوده إلى المتكأ الأول، وما زال يطلب نعمة الشفاء. لذلك النفس التي تعيش بترف تفسد وتخسر وتهلك وجرحها صعب شفاؤه.</p>
<p>ماذا يجب أن نعمل مع هذه الأفكار الآن؟ يجب أن نسعى باستمرار ونهتم ونحن في العالم بالسماويات. الطوباوي داود صرخ قائلًا: &#8220;أما أنا فدودة لا إنسان&#8221; (مز ٢٢ : ٦) ، وفى مكان آخر يقول: &#8220;أنا أيضًا من الطين تقرصت&#8221; (أي ٣٣ : ٦). وبالحقيقة استمعي إلى كلام أشعياء الذي قال: &#8220;كثوب عدة كل أعمال برنا&#8221; (أش ٦٤ : ٦). وإذا تسللت هذه الأفكار إليك في وحدتك، فانضمي إلى حياة الشركة مع الأخوات، والتزمي بالطعام اليومي مرة ثانية، واخضعي للتدريبات السامية حتى تتخلصي من آلام الشهوة هذه، واقبلي التوبيخ واللوم المتزايد جدًا من الأخوات الذين في نفس عمرك، واشتركي في كل العبادات الكنسية، وبذلك لن تتعرضين للعظمة إطلاقًا. واجعلي قصص حياة القديسين المميزة جدًا قريبة منك، واشتركي في آلامهم الكثيرة من خلال النسك في أيام العمر القصيرة، وتفكري في عظمة الفضائل التي تعتقدين أنك تحتاجين إليها.</p>
<p>ومن تتغلب على مرض الكبرياء هذا بعمل شرير آخر، فإن هذا يعتبر معصية، لأن ذلك ضد الطاعة والخضوع، وبذلك تتضاءل قوة النفس وتزداد في القذارة، لأنه قال أن الطاعة تتطلب: &#8220;أن تقدموا أجسادكم ذبيحة حية مقدسة مرضية عند الله عبادتكم العقلية&#8221; (رو ١٢ : ١).</p>
<p>ويجب أن نتطهر من أي حائل يمنعنا من السمو في حينه. ويجب أن نسبح ونتعجب أيضًا في الوقت المحدد، لأنه إذا وجد الكسل والتهاون طريقه إلى النفس، فإنه حقًا يفقدها الحس تجاه أي نمو نحو الصلاح والخير. ومن هي التي تنسجم مع تلك التسابيح، وإذا عملت قليلًا من أجل أي شيء صالح ومفيد، تتعجب وتعتبره عملًا عظيمًا، من أجل مخافة الله التي تملأها. والإفراط في أمور فوق مستوى البشر يعتبر من الخطايا أيضًا، وليس أقل من خطايا اللسان. لأن إبليس يتوق أن يتغذى بالكل، ويحاول أن يخفى الخطايا السالفة عن النشطاء والمجتهدين، لأنه يتمنى أن يزداد الكبرياء فيهم، أما النفوس السامية فهي تعمل شيء آخر، وذلك بأن تجعل خطاياها أمام عينيها دائمًا. لأنه من يطرح نفسه في الزنا ويتوقع العفو في المستقبل! والعدو قد يحتال عليك بطريقة أخرى، ويقول لك فرصة خلاصك مستحيلة، وقد يواسي النفوس المترنحة، وبمثل هذه الأشياء يتكلم مع النفوس المترددة.</p>
<p>راحاب التي كانت زانية ولكنها داخليًا كانت مملوءة بالإيمان، وبولس الذي كان مضطهدًا للكنيسة قد صار مختارًا، ومتى الذي كان عشارًا دعي رسولًا، واللص السارق الذي صلب مع المسيح صار أول الذين دخلوا من باب الفردوس. لا شيء يمنع النعمة عن أي إنسان أخطأ بجهل، وبالنظر إلى كل هؤلاء فإنه من الواضح أنه لا ينبغي على النفس قطع الرجاء عن ذاتها.</p>
<p>ولذلك يجب أن نهيئ الوسيلة لمثل هذه النفوس، ويجب أن نعمل على شفاء الذين يقعون في الكبرياء.</p>
<p>ويجب أن أؤكد على شيء، وهو ما الذي يحفظ الغرائز الطبيعية فينا بلا ثورة؟ عدم أكل اللحم، وآخرون يرون ولا أكل السمك أيضًا، وعدم شرب الخمر، والاستمرار في ذلك، وآخرين لا يأكلون بالزيت إطلاقًا. وبينما يصوم البعض إلى المساء، فإن آخرون يظلوا صائمين يومين أو ثلاثة. وأيضًا البعض لا يهتمون بالاستحمام كثيرًا، وكثيرين لا يستخدمون هذه الأشياء حتى في آلامهم الجسدية. وتندهشين في داخلك لأن البعض ينامون في خندق عميق، أو على سرير من الشعر، وآخرون ينامون باستمرار على الأرض. وإذا فعلوا هذا لا يتعاظمون إطلاقًا، لأن البعض يسمو فوق كل هذه الأشياء وينامون على الحجر حتى لا يعطوا فرصة لأهواء الغرائز أن تتحرك، وآخرون يعلقون أنفسهم بالسقف طول الليل، وهم يقومون بأعمال النسك هذه طوال حياتهم، ولا يفكرون في العظمة والارتفاع لأن الأرواح الشريرة تكثر عليهم عندما يقومون بمثل هذه الأعمال. فهم لا يأكلون ولا يشربون ولا يحضرون في الولائم، ولا ينامون، ويرحلون إلى أماكن موحشة، ويسكنون في مغارات، ولا يقيمون اعتبار لكل هذه الأعمال الكثير.</p>
<p>وهكذا استطاعوا الشفاء من مثل هذه الأفكار. وتخلوا عن الكلام بكبرياء واستعاضوا عن ذلك بقبول المعاناة والألم. وبهذه الطريقة أطفأوا نار الغريزة المميتة وازدادوا حرارة في الروح. وهكذا بقوة عظيمة استطاعوا أن يمنعوا الخطية في الليل باختيارهم بعمل نسكيات شديدة بكثرة، وتخلصوا من الإهمال بالعمل الصالح. وعندما تنطفئ الغرائز فينا فإن الروح القدس يدفعنا إلى الأمور السماوية. لأن النسك المتزايد يبطل الكبرياء بحزم، مثلما يكسر السيف الحجر، وينقطع الحديد بسندان الحداد. وكلما اقتربت النفس من الانضباط والاحتماء بالنسك إلى أقصى حد، فإن حرارة الكبرياء تتوارى في مكان مظلم، لأن ختان النفس بالروحيات الكثيرة يجعل البراعم الصغيرة (في الروح) تنمو بقوة.</p>
<p>ولكي يكف الواحد عن الخطأ فعليه أن يغصب نفسه ويسبق برفع أفكاره إلى السماويات، أما النفس البعيدة جدًا تجد نفسها ساقطة على الأرض. وكما أن الذين يحرثون الأرض يجدوا طعامهم، وإن الذين يلاحظون النبتة الصغيرة ويروونها بالماء بوفرة ويرعونها دائمًا يكونون مستحقين النمو والازدياد. والذين يلاحظون النبتة الصغيرة مبكرًا، فإنهم ينقون أنفسهم روحيًا بوفرة مسبقًا، لأن الإقبال على الاستعداد مسبقًا بطيب خاطر يجعل الحصاد ينمو وينضج. وكما أن بعض أطباء الأطفال المرضى يطعمونهم كثيرًا حتى يقدروا على السير، فإن البعض الآخر يبقونهم بلا طعام لكي يحمونهم.</p>
<p>وواضح أن الأناس الأشرار الذين لهم مكانة عالية يقعون في الكبرياء، ولكنهم يتظاهرون بالاتضاع، لأنه صعب على بعض أصحاب الأملاك أن يسلكوا بالاتضاع، لأنهم إذا لم يكونوا في مجد من الخارج فلن يتمكنوا من الاحتفاظ بالثروة. والتي تسلك بالاتضاع، وتتحلى بكل الفضائل، ولا تظهر لعدو الخير ما هي فيه، فهي إنسانة عظيمة. وبفهمها الراسخ تتسربل بالنصيحة التي قالها لنا الرسول بخصوص هذه الأمور: &#8220;تسربلوا بالتواضع لأن الله يقاوم المستكبرين.</p>
<p>أما المتواضعين فيعطيهم نعمة&#8221; (١بط ٥ : ٥). وإذا حرصت على التعلم والصوم والرحمة فإنها تنال الفهم وتكون منضبطة، وأيضًا يساعدها ذلك لكي لا ينكسر جدار بيتها. فارتبطي بالفضائل، كل الفضائل الملائمة، وذلك يتحقق بالاتضاع. وانظروا للثلاثة فتية القديسين وهم يسبحون في وسط الأتون، ولنحتفظ في الذاكرة بكل فضائل القديسين الآخرين، ولنحصى لهم التسابيح التي قدموها باتضاع، وممارستهم لضبط النفس في الأكل، وعدم الغضب في أماكن الاجتماع. وكما أنه من المستحيل أن تبنى السفينة بمسامير ضعيفة، فإنه من المستحيل الخلاص بدون اتضاع.</p>
<p>لأن الرب المخلص الذي عمل الصلاح للبشر بتدبير إلهي كامل قد تسربل بالتواضع، لأنه قال: &#8220;تعلموا مني لأني وديع ومتواضع القلب&#8221; (مت ١١: ٢٩) هل نفهم كلامه ونتعلم منه جيدًا!! اجعلي اتضاع الصالحين أمامك. الحديث عن الاتضاع يعطى بصيرة وفهم، ليس في السلوك فقط، بل من داخل الإنسان أيضًا، فلا يتكلم بألغاز لأن السلوك الذي في الخارج يتبع ما في الداخل. وأيضًا إذا عملت كل وصايا الرب وخضوعك لأوامره من البداية، فلا تنخدعي بالكبرياء، لأنه قال: &#8220;إذا فعلتم كل ما أمرتم به فقولوا إننا عبيد بطالون&#8221; (لو ١٧: ١٠)</p>
<p>إن الاتضاع الكامل يكون عن طريق قبول الإهانات والتوبيخ، وقبول الآلام والمحن، حتى لو استمعت لها من جاهل أو أحمق، فقير أو معدم، ضعيف ولا يعتد به. بواسطة هذه الأشياء ينشط الاتضاع. سمع المسيح الإهانات وتحمل الآلام عن الكل، فالسامريون قالوا له بك شيطان (مت ١٢: ٣٤)، وهو حمل صورة عبد، وضرب على وجهه (مت ٢٦: ٧٦) ، وتحمل جراحات قاسية.</p>
<p>فيجب علينا أن نتذكر ما فعله السيد المسيح فقد فعله باتضاعه. أما الذين يعتنون بالشكل الخارجي ويتظاهرون بالاتضاع فهم منافقون، ومتمسكون بالمجد الخارجي، ويمكن أن تعرفونهم من ثمارهم (مت ١٢: ٣٣). لأنهم متكبرون ووقحون بزيادة، وغير صابرين، وكلامهم فيه سم الأفاعي<a href="#_ftn7" name="_ftnref7">[7]</a>.</p>
<p></p>
<p></p>
<h3>عظات آباء وخدَّام معاصرين</h3>
<p></p>
<h4> قداسة البابا تواضروس الثاني</h4>
<p></p>
<p><strong>يسوع والأطفال </strong></p>
<p>وضع الطفولة عبر العصور</p>
<p>عند اليونان: معاملة بلا رقيب</p>
<p>عند اليهود: لا يحصر عددهم</p>
<p>عند المسيح: نموذج دخول الملكوت</p>
<p>لماذا ؟</p>
<p>لأن الطفولة: بلا ذات، ولا كبرياء، ولا مكر، ولا خداع . والنضوج للملكوت يحتاج : نقاوة + بساطة + اتضاع</p>
<p>أمثلة: موسى، داود</p>
<p>ملاحظات</p>
<p>خطورة تحجر القلب وقسوة المعاملة. خطورة الاهتمام بالماديات والزمنيات دون الروحيات. خطورة إهمال تعليمهم كل شيء روحيا وعلميا.</p>
<p><strong>الطفولة البريئة </strong></p>
<p>يذكر لنا هذا الفصل مشاجرة خطيرة حدثت بين التلاميذ. كيف بدأت؟</p>
<p>١- سببها الأول هو سوء الأفكار التي بذرها عدو الخير</p>
<p>٢- الفكر أدخلهم في حوار هدام</p>
<p>٣- والحوار تحول إلى شجار</p>
<p><strong>علاج المسيح لهم</strong></p>
<p>١- كشف أفكارهم</p>
<p>٢- قدم حلاً عمليا: مثال من طفل صغير، يقال إنه صار القديس أغناطيوس (أسقف أنطاكية) فيما بعد</p>
<p>+ لماذا طفل صغير؟</p>
<p>لأن الأولاد مثل أعلى في الحب والصراحة والإيمان &#8230;. ويحتاجون أن نربيهم في البيت والكنيسة لنغرس فيهم هذه الصفات الحميدة. فقامة الطفل هي النموذج لدخول الملكوت لسببين:</p>
<p>١- علاقة الطفل بأبيه</p>
<p>أ- ثقة كاملة في كلمة أبيه.</p>
<p>ب- ثقة كاملة في قدرة أبيه.</p>
<p>ج- ثقة كاملة في حماية أبيه.</p>
<p>٢- علاقة الطفل بأقرانه:</p>
<p>ا. يتصالحو بسهولة وسرعة.</p>
<p>ب- الابتسامة والمرح الدائم.</p>
<p><a href="#_ftn8" name="_ftnref8">[8]</a>     ج- براءة القلب.</p>
<p></p>
<p></p>
<h4>المتنيح الأنبا أثناسيوس مطران بني سويف والبهنسا</h4>
<p></p>
<p><strong>العودة للطفولة : ( مت </strong><strong>۱۸ : ۱-</strong><strong>٤ )</strong></p>
<p>اذا تتبعنا الصورة التي بدا عليها التلاميذ من ساعة التجلى.</p>
<p>وجدنا خط تفكير جسدانى يسرى فيها الي هذا الجزء فهم أولاً طلبوا اقامة مظال على جبل طابور، كأن السيد المسيح يقيم معهم طويلاً ، وليس هدفه الفداء ليتمه في حينه ، وكأنهم لم يدركوا حقيقة التجلى أنها صورة سماوية لاكمال معرفتهم فقط . ثانيا أن ضعفهم الروحي ظهر في عدم قدرتهم على شفاء الغلام المصروع. ثالثا أنهم حزنوا جدا لما كلمهم عن الصليب (أية ۲۳ ) فكأنهم عاجزون عن ادراك حقيقة السماء ، : وعاجزون عن الانتصار على الشيطان وغير فرحين بالصليب . رابعا وما حزن جدا ما ورد في هذه الفترة من أصحاح ۱۸ ان يسألون من فيهم يكون أعظم ؟ !</p>
<p>ومن المؤسف أن هذه الأمور قد تظهر بين المؤمنين، فنجدهم : لا يواصلون الحياة في المستوى الروحى الذي وهبهم الرب &#8221; مبارك الله أبو ربنا يسوع المسيح الذي باركنا بكل بركة روحية في السماويات في المسيح كما اختارنا فيه قبل تأسيس العالم لنكون قديسين وبلا لوم قدامه في المحبة ( أف ۱ : ۳ &#8211; ٤ ). فالرب قد جدد المؤمنين ليعيشوا في قوة &#8221; الروح ليفعلوا البر ويمجدوه مظهرين قوة فعله فيهم ، وليس في حياة فتور أو تقوی ظاهرية . ، فيكونون كمن خاطبهم الرسول بقوله &#8221; أبعد ما ابتدا تم بالروح تكملون الآن بالجسد (غل٣-٣ ).</p>
<p>أو قد يستسلمون للخطية التي حررهم الرب منها ويكتفون من الإيمان بالاسم: وهذه حالة تسبب حزنا كبيرا للرب الذي قد فدانا بدمه، وتجلب التجديف على أسمه في العالم وحري بنا أن نتدبر القول &#8221; نحن الذين متنا عن الخطية، كيف نعيش بعد فيها.ام تجهلون أننا كل اعتمد ليسوع المسيح اعتمدنا لموته . فدفنا معه بالمعمودية للموت حتى كما أقيم المسيح من الأموات بمجد الآب هكذا نسلك نحن أيضا في جدة الحياة &#8221; (رو ٦: ۲ &#8211; ٤) .</p>
<p>أو أن المؤمنين لا يحتملون آلام الحياة بفرح، ناسين أن الشيطان لا يهدأ عنهم، وأن الرب قد سبق وقال &#8221; في العالم سيكون لكم ضيق.. &#8220;وأن احتمال الألم ملازم للايمان . اذ. &#8221; قد وهب لكم ليس أن تؤمنوا به فقط، بل أن تتألموا أيضا لأجله &#8221; وفي هذا الألم على المؤمنين أن يفرحوا لأنه يؤهلهم لمجد كثير او ان تكون بينهم انقسامات، أو خلافات شديدة في الرأي تفقدهم وحدة الروح , &#8220;۰۰۰ تمموا فرحي حتى تفتكروا فكرا واحدا ولكم محبة واحدة بنفس واحدة مفتكرين شيئا واحدا » (في ۲ : ٢ )</p>
<p>أما الرب فأنه رد عليهم بأن العظمة في الملكوت، بل أن دخول الملكوت يتوقف على أن يكونوا كالاطفال لا يفكرون في العظمة فاذا ما تركنا طفلا غنيا مع طفل فقير ولم نحذره من اللعب معه.. فانه سيلعب معه طبيعيا لأنه لا يفكر في عظمته.</p>
<p>والمسيحية تبدأ بالولادة الجديدة، والمطلوب أن يستمر الانسان في حال النقاء.</p>
<p>وصورة المسيحية للشخصية القوية تختلف عن صورة العالم.. فالعالم يطلب الانسان الماكر العنيف الذي يوقف كل شخص عند حده، والذي إذا أحس بأساءة يردها. أما المسيحية فتطلب سعة الصدر وطول الروح والتصرف الحكيم في محبة ووداعة مما يجذب الناس الى الحق، وتطلب السلوك المملوء محبة، فلا يحقد ولا يحسد ولا يتفاخر ولا يطلب ما لنفسه. هذه هي التصرفات التي يطلبها السيد المسيح هنا.</p>
<p>وهناك تقليد أن ذلك الطفل الذي أوقفه السيد في وسط التلاميذ قد نما فيما بعد وصار القديس اغناطيوس الأنطاكي الذي سمي فيما بعد ثيئوفورس دور المحمول بالله &#8211; لأن الرب وضعه على ركبتيه وأقامه في وسط التلاميذ.</p>
<p>ثم ان الطفل يعتمد على الكبار، وهكذا نحن يجب ان نعتمد اعتمادا كاملا على الرب يسوع، والطفل يصدق الكبار أن يكون الكبار صادقين مع الأطفال دائما. أما رب فوعوده دائما صادقة ويلزمنا أن نثق فيه الدوام .</p>
<p>العثرة: (مت ۱۸: ٥ &#8211; ٩ )</p>
<p>العثرة هي أن يسبب الانسان لغيره أن يسقط في خطية . وتقول الآية &#8221; من قبل ولدا واحدا مثل هذا باسمي فقد قبلنی &#8220;(آية ٥)</p>
<p>ونفهم من كلمة «باسمي » ثلاثة معان : شخصية ، أو أولاده الذين دعى عليهم اسمه ، أو بروح الشهادة الأمينة له اذ دعى اسمه علينا فالرب يريدنا أن نعامل الناس، وكل الناس ، واعتبارهم واعتبارنا أبناءه حتى لا نسبب لهم عثرة..</p>
<p>ومن يعثر غيره فخير له ألا يوجد، لأنه بذلك يخطىء ويجعل غيره يخطىء . والكلمة المترجمة رحى لا تعني تلك رحى لا تعنى تلك الرحى الصغيرة التي نديرها باليد بل حجر الطاحون. وهذا تعبير كان شائعا عند اليهود ومعناه ان يختفي الانسان نهائيا عن ان يعثر غيره.</p>
<p>(أية ۸ ، ۹ ) ثم هناك عثرة الانسان لنفسه ، كان ينجذب الانسان الي الشر. والمطلوب هنا قطع الرغبة الشريرة: فيجب أن لا نجعل شيئا مهما كان غاليا علينا أن يوقعنا في الخطية كالأصدقاء، أو الاختلاط أو محبة المزاح أو الرغبة المنحرفة في النجاح (الغش ) أو التساهل مع أي شهوة من شهو اتنا ، يجب علينا أن نوقف السير نحو ما تطلبه الشهوة<a href="#_ftn9" name="_ftnref9">[9]</a>.</p>
<p></p>
<p></p>
<h4>المتنيح القمص لوقا سيداروس</h4>
<p></p>
<p><strong>الأحد الثانى من شهر أبيب </strong></p>
<p><strong>( (مت ١٨ : ١ – ٩ )</strong></p>
<p><strong>الطفولة وملكوت السموات </strong></p>
<p>في تلك الساعة تقدم التلاميذ إلى يسوع، قائلين فمن هو أعظم في ملكوت السموات . فدعا يسوع إليه ولداً وأقامه في وسطهم وقال: &#8221; الحق أقول لكم إن لم ترجعوا وتصيروا مثل الأولاد فلن تدخلوا ملكوت السماوات &#8221; . فمن وضع نفسه مثل هذا الولد فهو الأعظم في ملكوت السموات .</p>
<p><strong>طريق الطفولة </strong></p>
<p>هنا نجد أن السيد المسيح يضع أمام التلاميذ الرجوع إلى الطفولة كشرط للدخول إلى ملكوت السموات ، قائلاً : &#8221; إن لم ترجعوا وتصيروا مثل الأولاد فلن تدخلوا &#8221; . وقد علق أحد الآباء، أن المسيح ليقصد بهذا القول : &#8221; إن لم تكبروا في الروح جداً ، وتصيروا مثل الأولاد فلن تدخلوا ملكوت السموات &#8221; . إذن طريق الملكوت سهل جداً أمام الأطفال في الروح وصعب جداً أمام الذين فقدوا بساطة الطفولة .</p>
<p><strong>ولكن ما الطريق للرجوع إلى الطفولة </strong></p>
<p>ليس المطلوب أن ننزع عنا كل الصفات البشرية التي كانت لنا كأطفال. ولكن نحتاج أن نخلع خطايا كبر السن، وخبرات الشر التي دخلت إلينا من العالم ونجست دواخلنا &#8230; إذن الجهاد للسير في طريق الطفولة ، هو جهاد سلبى أكثر مما هو إيجابى . &#8221; إخلعوا الإنسان العتيق الذى فسد كشهوات الطفولة &#8221; . وهذا يأتي بالتوبة والندامة كل يوم ، وترك الخبرات القديمة ، والإعتراف أمام الكاهن ، كعلامة حقيقية للتوبة وصدق النيه وكختم إلهى لعهود الحياة الجديدة في المسيح .</p>
<p><strong>أطفالاً في الشر </strong></p>
<p>الرجوع إلى الطفولة معناه أن نكبر في الروح. ونتقدم في القداسة. وينغسل ضميرنا من كل شبه الدنس &#8230; وهذا معناه أننا نصير أطفالا من جهة الشر.</p>
<p>أما في الذهن والإدراك والفكر والتدبير فنكون كاملين &#8221; كونوا أطفالاً في الشر. أما في ذهنكم فكونوا كاملين &#8221; .</p>
<p><strong>إن لم يكن لنا إيمان الأطفال </strong></p>
<p>إن لم يكن لنا ثقة في مواعيد الله، وتصديق قلبى لكل كلمة في الأنجيل بلا فحص عقلى أو جدل وبلا أدنى شك . بل كمثل طفل يتطلع إلى أبيه ويثق في كلمته إلى أقصى حد ممكن. إن لم يكن لنا إيمان طفل حينما نقف مع الله، وحينما نترجى وجهه . فلن ندخل ملكوت السموات &#8230; نقاوة الإيمان عند الأطفال عجيبة حقاً. وتصديق الأطفال يفوق الخيال. ولكن كيف نرجع ونصير مثل طفل؟ بعد أن إمتلأنا معرفة عقلية حجزت عنا فاعلية الإيمان فصرنا نفحص كل شيء بعقلنا، فانحجزت عنا بساطة إيمان الأطفال &#8230; فعقلنا نحن الكبار لا يقبل أن يسير الإنسان على الماء أو ينقل الجبال أويقيم الميت أو يسكن الرياح &#8230; في حين أن الإيمان لا يقيم وزناً لقوانين الطبيعة ؟ كل شيء مستطاع لدى المؤمن . هنا الرجوع إلى الإيمان الطفولى ، يكون بأن يخضع الإنسان بكل قلبه ، وبكل كيانه لله ليس عن طريق العقل والمنطق . بل كطاعة وحب قلبى ، ودالة شخصية على الله ، وجحد كل معرفة بشرية . ونتعلم من حياة الآباء والقديسين الذين كملوا في الإيمان كيف يعيش كطفل؟ يثق في صدق ويقين شديد في الحياة الأبدية. وفى محبة الله ، وفى التدابير  الإلهية .</p>
<p><strong>إن لم يكن لنا طهارة الأطفال </strong></p>
<p>هل لنا أن نعود ثانية ونرجع ونصير مثل الأطفال في طهارتها &#8230; يا لحزننا على طهارة طبيعتنا الأولى، ونقاوة طفولتنا، كم كان الإنسان بريئاً في طفولته ، بريئاً في نظره ، وبريئاً في كلامه ، وطاهراً في قلبه وأفكاره ؟ وكم يحزن الإنسان عندما يقارن شبابه بطفولته ؟ هل لنا أن نرجع إلى قامة الطهارة والطفولية ونقيمها ؟ قيل عن السماء أنه لا يدخلها شيء دنس أو نجس &#8230; الأطفال الأطهار في السماء يلبسون ثياباً بيضاء غسلوها وبيضوها في دم المسيح على المذبح &#8230; إن كانت الطهارة مستحيلة بالنسبة للناس. ولكن ليس شيء عسير عند الله، بل كل شيء مستطاع &#8230; ودم يسوع المسيح يطهرنا من كل خطية . رجوعنا كل يوم هو أن نتغير عن شكلنا، ونجدد ذهننا بالصلاة والرفض الكامل لكل مناظر النجاسة. وطرح خبراتنا النجسه عند قدمى الرب يسوع. مثلما فعلت المرأة الخاطئة حين سكبت دموعها مع خطاياها ومسحت قدمى المخلص بشعر رأسها فاستحقت أن تعود بسلام قلبى مثل طفل بلا خطية &#8221; أذهبى بسلام</p>
<p><strong>إن لم يكن لنا تسليم الأطفال </strong></p>
<p>حياة الطفل وهو في حضن أبيه &#8230; وسلام الطفل وهو في يد الآب شيء مذهل لا يمكن أن يصفه إنسان. والسيد المسيح يريدنا أطفالاً في تسليمنا الكامل للآب، بلا خوف ولا إضطراب ولا قلق من مستقبل، ولا رعب من ظروف. كل هذه الأمور وغيرها تكشف أن تسليمها للحياة لم يبلغ بعد إلى قامة الطفولة التي تسلم ذاتها للآب إلى الذبح مثل أسحق .</p>
<p><strong>إن لم يكن لنا إتضاع الأطفال </strong></p>
<p>من وضع نفسه مثل هذا الطفل فهو الأعظم في ملكوت السموات . من الملامح الأساسية في الطفولة عدم تصخم الذات البشرية &#8230; فالطفل لا يعرف العظمة ولا التغاضى والتعالى على الآخرين ، ولا يعتمد بذاته ، وليست نفسه ثمينة ، لا يعرف معنى جرح الكرامة ولا معنى للإزدراء والإهانة . القصر الكبير لا يفرق عن الكوخ البسيط، وإبن الملك كطفل لا يرى إختلافاً بينه وباقى الأطفال في إتضاعنا . يريدنا أن نخلع عنا العظمة الكاذبة والحياة المظهرية القاتله والكبرياء الذي يسقطنا ويذلنا. يريدنا أطفالاً في أحساسنا بالإحتياج إلى الله. كطفل صغير يهرب إلى أبيه ويحتمى به في كل حين.</p>
<p><strong>إن لم نرجع ونصير مثل الأولاد </strong></p>
<p>ماذا نقول أيضاً أن يعوزنا الوقت لو عددنا الصفات التي للطفل؟ ولوتكلمنا عن قامة الطفولة في نقاوة القلب وفى إخلاص الصلاة وفى يقين الرجاء. وبالأكثر لو تكلمنا عن قامة المحبة الطفولية التي تحتمل كل شيء، وتصدق كل شيء، وتصبرعلى كل شيء . هذا هو شرط التمتع بالملكوت . لنسعى يا أخوة في طريق الطفولة كل يوم لنرجع إلى رتبتنا الأولى. ولنعلم أن أول علامة أعطيت للتعرف على المسيح كانت: &#8221; تجدون طفلاً مقمطاً مضجعاً في مذود &#8221; . وكأن الرب أظهر لنا طريق الملكوت داخل المذود، والإمكانيات التي للطفل الصغير<a href="#_ftn10" name="_ftnref10">[10]</a> .</p>
<p></p>
<p></p>
<h4>المتنيح القمص تادرس البراموسي</h4>
<p></p>
<p><strong>أن لم ترجعوا وتصيروا مثل الأطفال لا تدخلوا ملكوت السموات (متى ١:١٨ – ٩)</strong></p>
<p>ان الرب يسوع قد أثار هذا الحوار بسؤاله لتلاميذه عما كانوا يتجادلون فيه في الطريق. وأستخدم ولداً صغيراً لكى يعى التلاميذ ويفهموا هذا الدرس. أنتقد التلاميذ بشدة فيما يخص ملكوت الله على الأرض حتى فاتهم غرضه الإلهى فبدلاً ما يطلبوا مكاناً للخدمة سعوا وراء المراكز العالمية التي ليس لها مكاناً في خدمة الرب يسوع وما أسهل أن ينقاد الإنسان كبشر لأمور العالم ونفقد أمر خلاصنا الذى جاء لأجله الرب يسوع ونتنافس في من يكون فينا عظيماً . تسيطر علينا الكبرياء والعظمة وما أصعب أن نكون مثل الأطفال الصغار ضعاف العقول لا نعتمد على ذواتنا مكافئة ولقد يفرز الأطفال شديدى الثقة بأنفسهم وبطبيعتهم يثقون في الأباء ومن خلال هذه الثقة تنمو قدرتهم على الثقة في الله . والوالدين الذين لهم تأثير على الصغار مسؤلون أمام الله عن بقية تأثيرهم في قدرة هؤلاء الصغار على الثقة وقد حزر الرب يسوع لمن يصنع العثرات أمام هؤلاء الصغار .</p>
<p>إنه ينال عقاباً صارماً وعلينا نحن الذين وضعت علينا المسؤلية ان نساعد هؤلاء الأطفال لنجنبهم أي شيء يعثرهم أو يقودهم إلى الخطية ويجب أن لا نتهاون أطلاقاً في تعاليم . يجب أيضاً أن نزيل كل حجر عثرة يؤدى بنا إلى الخطية لأن الرب يسوع يقول خير للأنسان أن يذهب للسماء بيد واحدة من أن يذهب إلى الجحيم وله يدين فالخطية أعظم أثراً من الأيدى لأنها تؤذى أفكارنا وقلوبنا يجب ان يكون اهتمامنا بالصغار في مستوى معاملة الله لهم والرب يسوع عندما قال ان لم ترجعوا وتصيروا مثل الأطفال فلا تدخلوا ملكوت السموات يقصد بالمحبة والبساطة في طيبة القلب في عدم الحقد والأنتقام في عدم الشر في عدم حب الذات في التسامح في الطهارة وعلى كل حال أن الأطفال دائمًا يشبهون السمائيين والمتحلين بكل الفضائل والقريبين إلى الله بطبيعتهم قيل أن الطفل الصغير الذى أقامه الرب يسوع في وسط التلاميذ هو القديس أغناطيوس الذى صار فيما بعد بطريركا على أنطاكية وهو ذاك الصبى الذى شاهد الملائكة يرتلون جوقتين فأدخل هذا النظام في الكنيسة أي خورس بحرى وخورس قبلى أما سؤال التلاميذ فلم يعجب الرب يسوع فحول أفكارهم من أن يقلدون العظمة وقبل تمثيل الصفات التي تؤدى إلى العظمة الحقيقية وهى السذاجة والطهارة والوداعة والذى يحاكى الطفل في نقاء. القلب ووداعتة وبعده عن العثرات والمهاترات</p>
<p></p>
<p><strong>العظة الأولى</strong></p>
<p>أ – دخول روح الكبرياء إلى الكنيسة</p>
<p>ب – أحباط هذه الروح بالحكمة الإلهية</p>
<p>ج – الأتضاع سمووالكبرياء سقوط</p>
<p>د – جزاء الكبرياء الهلاك فأسرع بالتوبة</p>
<p>ه &#8211; الكبرياء عثرة وفخ وروح شيطانية</p>
<p>و – الكبرياء تسقط الممالك وتفريق الشعوب</p>
<p>ذ – نحرز من الكبرياء لئلا نعثر الأخرين</p>
<p>ح – نحفظ العين عن النظر الشرير لئلا نهلك</p>
<p>ط – تقديس الحواس لئلا تنزلق قدماك</p>
<p>ى – لا تمضى إلى أماكن الشر لئلا تحرقك نارها</p>
<p>ك – لتكن اعضاءنا طاهرة لئلا نشترك مع الأشرار في مصيرهم</p>
<p>ل – سرك داخلك تحكم عليه يخرج منك يحكمك</p>
<p>م – الحكمةفى التانى وفى التسرع خطأ</p>
<p>ن – لا تكن أطفال في الشر بل نكن أطفالاًفى أذهاننا</p>
<p></p>
<p><strong>العظة الثانية </strong></p>
<p>أ – الحزر من الأفكار الشريرة لئلا ننساق ورائها فتهلك</p>
<p>ب – دخول السماء بالمحبة والبساطة وعمل الفضائل</p>
<p>ج – أن ظننت أنك قائم أحذر لئلا تسقط</p>
<p>د – جزاء الكبرياء الهلاك فأسرع بالتوبة</p>
<p>ه &#8211; لا تكن عثرة لغيرك بل أنزع الغيره من بين شعبك</p>
<p>و – أقفل منافذ جسدك لئلا تقودك إلى الشر فتهلك</p>
<p>ذ – الجهاد والأنتصار في التواضع</p>
<p>ح – الرجوع من الشر حكمة وتوبة وأكليل</p>
<p>ط – الكلمة على لسانك أن حكمتها تغلبت وأن خرجت من لسانك تحكم عليك</p>
<p>ى – الحكيم يفكر ثم يعمل والجهل يعمل ثم يفكر</p>
<p></p>
<p><strong>العظة الثالثة </strong></p>
<p>أ – معلم وتلاميذ وقدوة</p>
<p>ب – طفل وأتضاع وعظة</p>
<p>ج – قبول وشروط وعظمة</p>
<p>د – شكوك وعثرة وبلايا</p>
<p>ه &#8211; تحذير وتنذير ومصير</p>
<p>و – خير وحياة وضياء وفناء</p>
<p>ذ – العظمة في الرجوع إلى النفس</p>
<p>ح – التواضع قوة والكبرياء ضعف</p>
<p>ط – بالتواضع نشترك مع الله وبالكبرياء نشترك مع إبليس</p>
<p></p>
<p></p>
<h4> المتنيح الدكتور موريس تاوضروس</h4>
<p></p>
<p><strong>المدلولات اللاهوتية والروحية لما جاء في إنجيل القدَّاس</strong></p>
<p>عدد 1 : مَن هو أعظم (Tis ara Meizwn)  &#8220;تقدم التلاميذ إلى يسوع قائلين فمن هو أعظم فى ملكوت السموات&#8221;  .</p>
<p>الترجمة الصحيحة للنص: من هو إذن الأعظم . وتعنى كلمة إذن. أن الحكم على من هو أعظم، يبنى على المقدمات السابقة كحديث السيد المسيح مع التلاميذ ، وكاصطحابه ثلاثة من التلاميذ معه إلى جبل التجلى، وغيرها . وبناء على هذه المقدسات السابقة، تساءل التلاميذ : من هو أعظم فى ملكوت السموات؟</p>
<p>عدد 3: ترجعوا (Straphyte) &#8220;إن لم ترجعوا وتصيروا مثل الأولاد&#8221; :</p>
<p>لقد اكتسبت كلمة &#8220;ترجعوا&#8221; مدلولا اصطلاحيا دينيا هاما . فالصورة التى تعبر عن مدلول هذه الكلمة – هى لشخص يدور (فى الطريق) ويتجه إلى الطريق الآخر.</p>
<p>لن تدخلوا (Ou my eiselthyte) &#8220;ان لم ترجعوا فلن تدخلوا ملكوت السموات&#8221; يؤكد السيد المسيح النفى مرتين بأداتين هما : (my) , (Ou) ، وهذا يعطى قوة لما يريد أن يعلنه . ويجب أن نلاحظ هنا التقابل الذى حدث بين مطلب التلاميذ وبين إجابة السيد المسيح عليهم. فبينما كان التلاميذ يتباحثون في من هو الأعظم ، اذا بالسيد المسيح يوضح لهم أنه من الممكن أن يحرموا حتى من الدخول إلى الملكوت ، وذلك إذا لم يرجعوا ويصيروا مثل الأولاد.</p>
<p>عدد 4: مثل هذا الولد (Ws to Paidion touto)  &#8220;فمن وضع نفسه مثل هذا الولد فهو أعظم فى ملكوت السموات&#8221; :</p>
<p>لاحظ هنا أن السيد المسيح لم يقل عليكم أن تضعوا أنفسكم كما يضع الأولاد أنفسهم، بل قال من وضع نفسه ليكون مثل هذا الطفل المتواضع ، باعتبار أ، التواضع خاصية طبيعية للطفل ، أى علينا نحن الكبار أن نبذل قصارى جهدنا لكى نصير بموجب ممارسات روحية مختلفة ما هو عليه الطفل بالطبيعة.</p>
<p>عدد 5: باسمى (Epi tw onomatimou)  &#8220;ومن قبل ولدا واحدا مثل هذا باسمى فقد قبلنى&#8221;:</p>
<p>يمكن أن تترجم الكلمة هنا: على اسمى. من أجل أسمي ولاجل خاطرى.</p>
<p>عدد 6: حجر الرحى (Mulos onikos) &#8221; من أعثر أحد هؤلاء الصغار المؤمنين بى فخير له أن يُعلَق فى عنقه حجر الرحى ويغرق فى لجة البحر&#8221; .</p>
<p>من الملاحظ أنه كان يستعمل فى ذلك الوقت نوعان من حجر الرحى: نوع يدار باليد الصغيرة، ونوع آخر كبير ، يدار بواسطة الحمار : هنا كما يبدو من الكلمة اليونانية المستعملة ، يقصد السيد المسيح النوع الثانى الكبير<a href="#_ftn11" name="_ftnref11">[11]</a>.</p>
<p></p>
<p></p>
<h3>من وحي قراءات الأحد الثاني:</h3>
<p></p>
<p><strong>لابد للعالم من العثرات</strong></p>
<p>العثرة إذا كانت مسؤولية من يعثر لكنها ليست حجة من يتعثر</p>
<p>أحيانا يبحث البعض عن عثرات الآخرين لتبرير أخطاؤهم</p>
<p>العثرة موقف ضعف لشخص لكننا نجعلها تقييم حياته وخدمته</p>
<p>&#8221; في أشياء كثيرة نعثر جميعنا &#8221; قالها أحد أعمدة الكنيسة</p>
<p>فحص الخادم لنفسه دوما وصدقه في توبته وقبوله النقد ضمانات قلة عثراته</p>
<p>تأليه القائد الكنسي الطريق الي تعثر الناس به وفيه ومن يجعل من الإكليروس آلهة ستقع عليه يوماً تماثيلهم</p>
<p>الإصلاح بروح الوداعة هو مجد الأبوة في الكنيسة</p>
<p>لم يخجل الكتاب من ذكر عثرات آباء العهد القديم ورسل العهد الجديد لكننا نقدم قديسينا للناس بلا عيب ولاعثرة</p>
<p>أحيانا تفسير الناس لقرارات ومواقف القائد يعثرهم أكثر من الموقف نفسه</p>
<p>لو حكم أحد على بطرس الرسول في إنكاره لضاعت خدمته ورسوليته لكنه وقع في يد الله</p>
<p></p>
<p></p>
<p></p>
<h3>المراجع :</h3>
<p></p>
<p><a href="#_ftnref1" name="_ftn1"></a>١- القديس كيرلس الكبير &#8211; تفسير إنجيل متي إصحاح ١٨ &#8211; القمص تادرس يعقوب ملطي</p>
<p><a href="#_ftnref2" name="_ftn2"></a>٢- (شرح لابونا أنطونيوس فكري &#8211; تفسير إنجيل متي إصحاح ١٨ )</p>
<p><a href="#_ftnref3" name="_ftn3"></a>٣- المرجع : تفسير إنجيل لوقا للقديس كيرلس الإسكندري ( صفحة ٥٨٣ ) &#8211; ترجمة دكتور نصحي عبد الشهيد</p>
<p><a href="#_ftnref4" name="_ftn4"></a>٤-  المرجع : تفسير مزمور ١٢٩ &#8211; القمص تادرس يعقوب ملطي</p>
<p><a href="#_ftnref5" name="_ftn5"></a>٥- المرجع : من مقالات الأنبا أنطونيوس ( صفحة ٦٦ ) &#8211; القمص بيشوي كامل &#8211; كنيسة مار جرجس سبورتنج</p>
<p><a href="#_ftnref6" name="_ftn6"></a>٦- المرجع : تفسير سفر العدد &#8211; إصحاح ١٨ &#8211; القمص تادرس يعقوب ملطي</p>
<p><a href="#_ftnref7" name="_ftn7"></a>٧- المرجع : سيرة الأم سنكليتيكي كما كتبها البابا أثناسيوس الرسولي &#8211; الأستاذة بولين تدري</p>
<p><a href="#_ftnref8" name="_ftn8"></a>٨- المرجع: كتاب المنجلية القبطية الأرثوذكسية (صفحة ٢٥٩) &#8211; قداسة البابا تواضروس الثاني</p>
<p><a href="#_ftnref9" name="_ftn9"></a>٩- المرجع : كتاب دراسات في الكتاب المقدس &#8211; إنجيل متي الإصحاح الثامن عشر &#8211; لجنة التحرير والنشر بمطرانية بني سويف والبهنسا</p>
<p><a href="#_ftnref10" name="_ftn10"></a>١٠- المرجع : كتاب تاملات روحية في قراءات اناجيل احاد السنة القبطية صفحة 455 – القمص لوقا سيداروس</p>
<p><a href="#_ftnref11" name="_ftn11"></a>١١- المرجع : كتاب المدلولات اللاهوتية والروحية في الكتاب المقدس بحسب إنجيل متي ( صفحة ١٣١ ) &#8211; دكتور موريس تاوضروس</p>
<p></p>
<p></p>
<p></p>
<p></p>

      {% endcreateArticleAccordions %}
    </section>
  {% endblock %}
  