---
layout: 'layouts/reading.html'
title: '- الأحد الثالث من شهر أبيب'
tags: 'sundays'
permalink: /articles/sundays/11-3.html
---
  {% block content %}
    <section id="readings">
      <ul>
      {% if 'undefined' != 'undefined' %}
      
      {% else %}
      {% if '19.52:9,8' != 'null' %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">العشية</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeVespers '19.52:9,8' '42.14:7-15' %}
          </div>
        </div>
      </li>
      {% endif %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">باكر</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeMatins '19.134:1' '42.24:1-12' '' %}
          </div>
        </div>
      </li>
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <h3 class="flex items-center justify-between">
            <span class="kufi">القداس</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </h3>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeLitugy '54.6:3-16' '59.3:1-12' '44.18:12-23' '19.145:17-18' '42.9:10-17' %}
          </div>
        </div>
      </li>

      {% endif %}
        </ul>
    </section>
    <section id="article">
      <h3 class="mt-8 mb-4 heading-explain">شرح القراءات</h3>
      {% createArticleAccordions %}
        <p>فشكرا لله على عطيته التي لا يعبر عنها.&#8221; (٢كو ٩: ١٥)</p>
<p>&#8221; لكي إذ نحيا بك ونقتات بك نُكمِّل البرَّ في كل حين واسمك القدوس يتمجد فينا &#8221;</p>
<p>صلاة شكر بعد التناول / القداس الغريغوري</p>
<p>&#8221; لقد شفَى المرضى، حتى إذ يصيروا أصحّاء يشتركون في خبز البركة، ولكن ماداموا مرضى فلا يقدرون أن ينالوا خبز بركة يسوع<a href="#_ftn1" name="_ftnref1">[1]</a></p>
<h3>شواهد القراءات</h3>
<p>(مز ٥١: ٧-٨)، (لو ١٤: ٧-١٥)، (مز ١٣٤ : ١-٢) ،( لو ٢٤ : ١-١٢) ،(١تي ٦ : ٣-١٦) ، (يع ٣ : ١-١٢) (أع ١٨ : ١٢-٢٣)، (مز ١٤٤ : ١٢-١٣)، (لو ٩ : ١٠-١٧)</p>
<h3>ملاحظات على قراءات اليوم</h3>
<p>+ جزء من مزمور عشيَّة اليوم (أتمسَّك باسمك فإنَّه صالح: قدام أبرارك) جاء أيضاً في قراءة عشيَّة<a href="https://katameros.bible/church-reading/%d8%a7%d9%84%d9%8a%d9%88%d9%85-%d8%a7%d9%84%d8%ab%d9%84%d8%a7%d8%ab%d9%88%d9%86-%d9%85%d9%86-%d8%a8%d8%a4%d9%88%d9%86%d9%87/"> يوم ٣٠ بؤونه</a> (ميلاد يوحنا المعمدان )  كإشارة إلي الأبرار مثل يوحنا المعمدان</p>
<p>+ قراءة البولس اليوم (١تي ٦: ٣ - ١٦) تُشبه قراءة البولس <a href="https://katameros.bible/church-reading/%d8%a7%d9%84%d8%a3%d8%ad%d8%af-%d8%a7%d9%84%d8%b1%d8%a7%d8%a8%d8%b9-%d9%85%d9%86-%d8%a8%d8%a7%d8%a8%d9%87/">للأحد الرابع من بابه</a> (١تي ٦: ٣ - ٢١)</p>
<p>+ قراءة البولس اليوم إكتفت بالآيات (من ٣ - ١٦) للتأكيد من خلال آيات ٦ - ٨ علي التقوي والقناعة كمصدر للبركة، والتحذير من خلال آيات من ٩ - ١١ من شهوة الغني السريع ومحبَّة المال</p>
<p>+ أمَّا قراءة <a href="https://katameros.bible/church-reading/%d8%a7%d9%84%d8%a3%d8%ad%d8%af-%d8%a7%d9%84%d8%b1%d8%a7%d8%a8%d8%b9-%d9%85%d9%86-%d8%a8%d8%a7%d8%a8%d9%87/">الأحد الرابع من بابه</a> فأضافت أيضاً آيات (١٧ - ٢١) التي تُعلن إبن الله الذي يحيى الكل (مثال إبن أرملة نايين موضوع قراءة ذاك الأحد) ، لذلك يؤكِّد للأغنياء أهمِّية الإتكِّال علي الله الحي ، والحذر من عدم يقينية الغني ، ومعني الحياة الحقيقيّة في أن يكونوا أسخياء في العطاء كرماء في التوزيع بجانب تمتُّعهم بالحياة</p>
<p>+ قراءة إنجيل القدَّاس اليوم (لو ٩: ١٠ - ١٧) تُشبه قراءة إنجيل القدَّاس لأحد البركة (لو ٩ : ١٢ - ١٧)</p>
<p><strong>المُلاحَظْ هنا هو إختلاف الآيات المُختارة</strong></p>
<p>قراءة أحد البركة إكتفت بالآيات من ١٢ - ١٧ للتركيز علي معجزة إشباع الجموع، أمَّا قراءة اليوم فأضافت آية ١٠ ، ١١ للإشارة إلي ( وكان يُكلِّمهم عن ملكوت الله ) وهي موضوع قراءات شهر أبيب كله ، لذلك أضافت الكنيسة هاتين الآيتين في <a href="https://katameros.bible/church-reading/%d8%a7%d9%84%d8%a3%d8%ad%d8%af-%d8%a7%d9%84%d8%ab%d8%a7%d9%84%d8%ab-%d9%85%d9%86-%d8%b4%d9%87%d8%b1-%d8%a3%d8%a8%d9%8a%d8%a8/">الأحد الثالث من أبيب</a> عنها في إنجيل أحد البركة</p>
<h3>شرح القراءات</h3>
<p>يحدثنا هذا الاحد عن غني الملكوت وشبع المتكئين فيه مع الملك</p>
<p>تبدا المزامير بعلامة غني اولاد الله الارتباط باسمه القدّوس لذلك تتدرّج من التمسّك به             (مزمور عشيّة)</p>
<p>الي تسبيحه وتمجيده                                                                                        (مزمور باكر)</p>
<p>إلي اختبار حضوره الالهي                                                                                  ( مزمور القدَّاس )</p>
<p>يبدأ مزمور عشيّة بالحديث عن مصادر الغني والبركة اي التمسّك باسمه (اتمسك باسمك فانه صالح قدام ابرارك)</p>
<p>وتسبيحه وتمجيده في العبادة الكنسية في مزمور باكر (سبحوا اسم الرب سبحوا ياعبيد الرب الواقفين في بيت الرب)</p>
<p>واليقين من حضوره الدائم كل وقت (الرب قريب لسائر المستغيثين به ولكل الذين يدعون اليه)</p>
<p>ويقارن انجيل عشية بين متكات العالم ومتكات ملكوت الله فمن يبحثون عن المتكا الاول ويفتخرون بالمجاملات هم اهل هذا العالم بينما من يسعون الي المتكا الاخيربحكمة ومن يبحثون عن المساكين والمنسيين هم اغنياء الملكوت ( وكان يقول للمدعوين مثلا وهو يلاحظ كيف كانوا يختارون المتكات الاولي قائلا لهم متي دعيت من احد الي عرس فلا تتكئ في المتكا الاول &#8230;&#8230; وقال ايضا للذي دعاه اذا صنعت غذاء او عشاء فلا تدع اصدقائك ولااخوتك ولااقربائك ولاجيرانك الاغنياء لئلا يدعونك هم ايضا فتكون لك مكافاة بل اذا صنعت وليمة فادع المساكين الجدع العرج العمي فيكون لك الطوبي اذ ليس لهم حتي يكافئوك لانك ستكافا في قيامة الابرار )</p>
<p>وتتكلّم القراءات عن خطورة المال دون التقوي والقناعة علي الإحساس بالملكوت                   (البولس )</p>
<p>وخطورة شهوة التعليم في وجود العثرات                                                         ( الكاثوليكون )</p>
<p>وتسخير ملوك العالم لخدمة الملكوت                                                             ( الإبركسيس )</p>
<p>ويتكلم البولس عن تجارة الملكوت المربحة والغني الداخلي بالتقوي والقناعة والايمان والبر والمحبة وحياة الاكتفاء والفرق بينها وبين تجارة العالم وشهواته واوجاعها الكثيرة (واما التقوى مع القناعة فهي تجارة عظيمة &#8230;. واذ لنا طعام ولباس فلنكتف بهما &#8230;. لان محبة المال أصل لكل الشرور الذي اذ ابتغاه قوم ضلوا عن الايمان وطعنوا انفسهم باوجاع كثيرة فاما انت يارجل الله فاهرب من هذا واسع في طلب البر والتقوي والايمان والمحبة والصبر وقبول الالام بوداعة جاهد جهاد الايمان الحسن وتمسك بحياة الابد التي اليها دعيت)</p>
<p>لذلك يحذرنا ايضا الكاثوليكون من ان التهاون في الكلام وعدم ضبط اللسان يمكن ان يخسرنا الملكوت (لاتكونوا معلمين كثيرين يااخوتي عالمين انكم تاخذون دينونة أعظم لاننا في اشياء كثيرة نعثر جميعنا &#8230;. واما اللسان فلايستطيع أحد من الناس ان يذللة.. به نبارك الله الاب وبه نلعن الناس الذين خلقهم الله علي شبهه من الفم الواحد تخرج البركة واللعنة لايجب يااخوتي ان تكون هذه الامور هكذا)</p>
<p>وفي المقابل في الابركسيس يستخدم الله الحكام والولاة للدفاع عن خدمة الملكوت وخدامه (ولما كان غاليون يتولي اخائية اجتمع اليهود بنفس واحدة علي بولس واتوا به الي كرسي الولاية قائلين ان هذا يستميل الناس ان يعبدوا الله بخلاف الناموس واذ كان بولس مزمعا ان يفتح فاه قال غاليون لليهود انه لو كان ظلما اوخبثا رديا ياايها اليهود لكنت بالحق احتملكم &#8230;. فطردهم خارج كرسي الولابة)</p>
<p>ويختم انجيل القداس بالمائدة السماوية المعدة دائما لاولاد الله الذين يلتصقون بالملك عطشا الي الملكوت وغناه وشبعه (فالجموع اذ علموا تبعوه فقبلهم وكان يخاطبهم عن ملكوت الله والمحتاجون الي الشفاء كان يشفيهم &#8230; فقال لهم اعطوهم انتم لياكلوا فقال ليس عندنا اكثر من خمسة ارغفة وسمكتين.. فاخذ الارغفة الخمسة والسمكتين ورفع نظره نحو السماء وباركهن ثم كسر واعطي التلاميذ ليقدموا للجمع فاكلوا وشبعوا جميعا)</p>
<p><strong>ملحوظة</strong></p>
<p>إنجيل قداس اليوم (لو ٩: ١٠ - ١٧) يختلف قليلاً عن إنجيل قداس أحد البركة (لو ٩: ١٢ -١٧)</p>
<p>بإضافة آيتين في إنجيل قداس اليوم، وهما اللتان تشرحان ملكوت الله وسط شعبه (كلمهم عن ملكوت الله والمحتاجون إلي الشفاء شفاهم)، وهي موضوع قراءات هذا الشهر ، لذلك لم تأت في إنجيل الأحد الخامس للتركيز فقط علي البركة التي أعطاها المسيح له المجد لشعبه من الخمس خبزات والسمكتين</p>
<h3>ملخّص القراءات</h3>
<p>غني الملكوت ياتي من التمسك باسمه القدوس والصلاه والعباده الكنسية والتسبيح (المزامير )</p>
<p>ويظهر في الاهتمام بالمساكين والمحتاجين                                                (انجيل عشية)</p>
<p>وهو غني داخلي في القلب                                                                         (البولس )</p>
<p>مع حرص خارجي في الكلام                                                                    (الكاثوليكون )</p>
<p>ويدافع عنه احيانا غير المؤمنين                                                               ( الابركسيس )</p>
<p>ويعيشه ويتمتع به كل الذين يتبعون الملك في كل مكان                               (انجيل القداس)</p>
<h3>معجزة إشباع الجموع في فكر آباء الكنيسة</h3>
<p>&#8220;مثل ملكوت الله ما يصنعه المسيّا للتعليم: يشفي ويطعم شعبه؛ هكذا حسب مواعيد الأنبياء القدامى.&#8221; (القديس أمبروسيوس).</p>
<p>&#8220;لإطعام الخمسة آلاف دلالات في العهد القديم. فإن يسوع هو النبي الشبيه بموسى الذي أطعم الشعب في البرّيّة.&#8221; (القديس كيرلُّس السكندري).</p>
<p>&#8220;كذلك فإن لمعجزة الإشباع بعض أوجه الشبه التي تربطها بالعهد القديم: - فالخمس خبزات مثلاً تشير إلى أسفار موسى الخمسة.&#8221; (القديس أوغسطينوس).</p>
<p>&#8220;أيضًا، قد تكون الخمس خبزات إشارة إلى الحواسّ الخمس، والسبع خبزات التي أشبعت الأربعة آلاف هي خبز تقديس الراحة المبشّر بخبزات القيامة الثمان.&#8221; (القديس أمبروسيوس).</p>
<p>&#8220;هذا الخبز هو كلمة الله التي تنمو في السر الذي قد صيّر الماء خمرًافي عرس قانا. إن الطعام المعجزيّ مِن الخبز والسمك والفائض عن الأربعة آلاف يعِدّ الطريق لطعام المسيح الأبقى: جسده ودمه. ومعجزة الإشباع هذه هي إشارة إلى إشباع الكنيسة بمائدة الرب ;بالوليمة السمائية.&#8221; (القديس أمبروسيوس).</p>
<p>&#8220;هذا الفائض يحفّز الذين لديهم القليل لضيافة الغرباء؛ إذ أن الرب سيوفّر كل احتياج.&#8221; (القديس كيرلُّس السكندري).</p>
<p>&#8220;مائدة الشركة مع يسوع هي إشارة لِمَا هو آت&#8230; الطعام الأُخرويّ{الأبدي}، وهو ما يعِدّه خبز الحياة يسوع للمؤمنين لحياة العالم.&#8221; (القديس كيرلُّس السكندري)<a href="#_ftn2" name="_ftnref2">[2]</a>.</p>
<h3>الكنيسة في قراءات اليوم</h3>
<p>قيامة الأبرار وملكوت الله                                                                إنجيل عشيّة</p>
<p>جهاد الإيمان الحسن والحياة الأبديّة                                                 البولس</p>
<p>ظهور ربنا يسوع المسيح.                                                               البولس</p>
<p>جهنم                                                                                      الكاثوليكون</p>
<h3>أفكار مقترحة لعظات</h3>
<p><strong>(١) وليمة الملكوت</strong></p>
<p><strong>١- مجد الإتضاع والعطاء</strong></p>
<p>&#8221; بل متي دُعيت فاذهب واتكئ في الموضع الأخير حتي إذا جاء الذي دعاك يقول لك يا صديقي انتقل إلي فوق حينئذ يكون لك شرف أمام المتكئين معك &#8230;. بل إذا صنعت وليمة فادعُ المساكين الجدع العرج العُمي فيكون لك الطوبي &#8221;     إنجيل عشيّة</p>
<p><strong>٢- مجد التقوى والقناعة</strong></p>
<p>&#8221; وأما التقوي مع القناعة فهي تجارة عظيمة &#8230; وإذ لنا طعام ولباس فلنكتف بهما &#8221;     البولس</p>
<p><strong>٣- مجد الوجود الدائم معه</strong></p>
<p>&#8221; فالجموع إذ علموا تبعوه فقبلهم وكان يخاطبهم عن ملكوت الله &#8221;                   إنجيل القدَّاس</p>
<p><strong>٤- مجد الإمتلاء من عطيته</strong></p>
<p>&#8221; فأكلوا وشبعوا جميعاً &#8221;                                                                   إنجيل القدَّاس</p>
<p><strong>(٢) مصادر البركة</strong></p>
<p><strong>١- غني حضوره وكلمته في حياتنا </strong></p>
<p>فالجموع اذ علموا تبعوه فقبلهم وكان يخاطبهم عن ملكوت الله</p>
<p>كل الذين يتبعوه ويحرصون على الجلوس معه وتخصيص الوقت وإظهار الإشتياق نحوه يشبعون من محبّته وتتبارك حياتهم</p>
<p><strong>٢- الشركة والعطاء</strong></p>
<p>كانت الخمسة خبزات والسمكتين طعام شخص أو على الأكثر أسرة صغيرة لكنها من يد الرب أشبعت الجموع كلها وذلك يبرز أهمّية عطاء المحبّة وغني الشركة والبركة المرافقة لها والغامرة بفيض</p>
<p><strong>٣- الصلاة والشكر</strong></p>
<p>فاخذ الارغفة الخمسة والسمكتين ورفع نظره نحو السماء وباركهن</p>
<p>كلما نأخذ عطايانا من يد الله ونمزجها بالشكر وقبول كل شيء من يده الإلهية تأتي البركة والعطية التي لا يعبر عنها</p>
<p>(٢كو ٩: ١٥)</p>
<p><strong>٤- النظام والترتيب</strong></p>
<p>لأنهم كانوا نحو خمسة الاف رجل فقال لتلاميذه اتكئوهم فرقا خمسين خمسين ففعلوا هكذا واتكأوا الجميع</p>
<p>لا شك أن ترتيب الجموع خمسين خمسين جعل التوزيع سهلاً ومُحادياً وفِي وقت بسيط ولو كان بدون نظام وبطريقة عشوائية لم يكن ممكناً شبع الجموع وكان ربما من غير الممكن جمع الكسر بصورة لائقة</p>
<p><strong>٥- التدبير والتوفير</strong></p>
<p>إجمعوا الكسر وصيَّة إلهيَّة لنعرف قيمة الفضلات والبواقي وإذا كانت فضلات البعض لإعواز الآخرين (٢كو ٨: ١٤) فكيف لا نكون مدبرين فيما نأكله وفيما نملكه</p>
<p><strong>(٣) بين مفردات عجز البشر ومفاتيح الله للبركة</strong></p>
<p><strong>١- بين مفردات عجز البشر (موضع قفر) ومفاتيح الله للبركة (رفع نظره نحو السماء)</strong></p>
<p>ربما يكون أوضح مثال لذلك وقت مجاعة بني إسرائيل بسبب هجوم المديانيين وحصارهم لشعب الله ورغم محنة الشعب والمجاعة والغلاء الفظيع جاءت كلمة أليشع النبي ليُطمْئِن الشعب بأنه في يوم واحد ستنتهي المجاعة وتكون وفرة في الدقيق والشعير لذلك إستهزأ به الجندي الواقف علي الباب قائلاً: هوذا الرب يصنع كُوي في السماء فردَّ عليه النبي بأنه سوف يري ولكنه لا يأكل (وقد مات بالفعل بسبب إندفاع الناس)</p>
<p>&#8221; فخرج الشعب و نهبوا محلة الاراميين فكانت كيلة الدقيق بشاقل و كيلتا الشعير بشاقل حسب كلام الرب و اقام الملك على الباب الجندي الذي كان يستند على يده فداسه الشعب في الباب فمات كما قال رجل الله الذي تكلم عند نزول الملك اليه فانه لما تكلم رجل الله الى الملك قائلا كيلتا شعير بشاقل و كيلة دقيق بشاقل تكون في مثل هذا الوقت غدا في باب السامرة و اجاب الجندي رجل الله و قال هوذا الرب يصنع كوى في السماء هل يكون مثل هذا الامر قال انك ترى بعينيك و لكنك لا تاكل منه &#8221; (٢مل ٧: ١٦-١٩)</p>
<p><strong>٢- بين مفردات البشر (ليس عندنا) - ومفاتيح الله للبركة (وشكر وبارك)</strong></p>
<p>من أجمل الأمثلة علي ذلك حبقوق النبي الذي يبتهج بالرب ويفرح بخلاصه ويشكره بالرغم من عدم إزهار التين وضعف محصول الكروم والزيتونة وغياب الطعام من الحقول والغنم من الحظائر والبقر من المذاود</p>
<p>&#8221; فمع انه لا يزهر التين و لا يكون حمل في الكروم يكذب عمل الزيتونة و الحقول لا تصنع طعاما ينقطع الغنم من الحظيرة و لا بقر في المذاود فاني ابتهج بالرب و افرح باله خلاصي الرب السيد قوتي و يجعل قدمي كالايائل و يمشيني على مرتفعاتي &#8221; (حب٣: ١٧-١٩)</p>
<p><strong>٣- بين مفردات البشر (ما هذا لمثل هؤلاء) - ومفاتيح الله للبركة (وكسر وأعطي)</strong></p>
<p>ما أجمله مثل ومثال لهذا أرملة صرفه صيدا التي قالت لإيليا النبي أنها ستأكل الكعكة هي وإبنها قبل أن يموتا بالجوع بسبب المجاعة، ولكن يطلب منها النبي أن تعمل له أولاً وتعطيه قبل إبنها وكلمته بأن الأكل سوف لا ينقطع من بيتها وتصديق المرأة لكلامه فأعطته رغم عدم كفاية ماعندها - بشرياً ومنطقياً - لهم</p>
<p>&#8221; فقال لها إيليا: لا تخافي. ادخلي واعملي كقولك، ولكن اعملي لي منها كعكة صغيرة أولا واخرجي بها إلي، ثم اعملي لك ولابنك أخيرا لأنه هكذا قال الرب إله إسرائيل: إن كوار الدقيق لا يفرغ، وكوز الزيت لا ينقص، إلى اليوم الذي فيه يعطي الرب مطرا على وجه الأرض فذهبت وفعلت حسب قول إيليا، وأكلت هي وهو وبيتها أياما &#8221; (1مل ١٧: ١٣ -١٥)</p>
<p><strong>٤- </strong><strong>البركة في الكثرة أم الكثرة في البركة؟</strong></p>
<p>هو سؤال يأتي في أذهان كثيرين، هل معني كثرة ما يقتنيه الإنسان ويملكه هو دليل البركة السماوية ، أم أن البركة السماوية هي حضور المسيح له المجد في حياتنا ، ومنه يأتي الإحساس بالفيض والبركة والغني بصرف النظر عن ما نملكه من قليل أو كثير</p>
<p><strong>١- كثرة بدون بركة</strong></p>
<p>هذا ما حذَّر القديس بولس الأغنياء منه، عندما أوصاهم أن لا يتَّكلوا علي عدم يقينية الغني ، دون غني العطاء للآخرين ودون الاتضاع (١تي ٦ : ١٧) ، وكأنه استحضر أمامه المثل الذي أعطاه الرب في الافتخار الكاذب بالغني (لو ١٢ : ٢٠) ، وكيف أفسدت شهوة محبَّة المال الكثيرين وطعنتهم بأوجاع كثيرة (١تي ٦ : ١٠) ، بل وقادت أحد تلاميذ المسيح إلي تسليم سيده (مر ١٤ : ١٠) بسبب محبَّته للفضة</p>
<p><strong>٢- الكثرة في البركة</strong></p>
<p>هنا يأتي الإحساس بالغني الداخلي حتي الفيض (٢كو ٨: ٩) ، ويعيش الإنسان شكر ما يعيشه في قليل أو كثير ( في٤ : ١٢)  ويبتهج بالعطاء من الأعواز (٢كو ٨ : ٢) ، بل ويكون الإنسان في عوزه مصدر غني لكثيرين (٢كو ٦ : ١٠)</p>
<h3> عظات آبائية وعظات آباء معاصرين</h3>
<p>يمكن الرجوع لعظات<a href="https://katameros.bible/church-reading/%d9%8a%d9%80%d9%88%d9%85-%d8%a7%d9%84%d8%a3%d8%b1%d8%a8%d8%b9%d9%80%d8%a7%d8%a1-%d9%85%d9%86-%d8%a7%d9%84%d8%a3%d8%b3%d8%a8%d9%80%d9%88%d8%b9-%d8%a7%d9%84%d8%ab%d8%a7%d9%86%d9%8a/"> يوم الأربعاء من الأسبوع الثاني في الصوم الكبير</a></p>
<p>وعظة قداسة البابا تواضروس في <a href="https://katameros.bible/church-reading/%d8%a7%d9%84%d8%a3%d8%ab%d9%86%d9%8a%d9%86-%d9%85%d9%86-%d8%a7%d9%84%d8%a3%d8%b3%d8%a8%d9%88%d8%b9-%d8%a7%d9%84%d8%ae%d8%a7%d9%85%d8%b3/">يوم الإثنين من الأسبوع الخامس من الصوم الكبير</a></p>
<h4>معجزة إشباع الجموع في فكر القديس كيرلس الكبير</h4>
<p>(يو١١:٦)&#8221;وَأَخَذَ يَسُوعُ الأَرْغِفَةَ وَشَكَرَ، وَوَزَّعَ عَلَى التَّلاَمِيذِ، وَالتَّلاَمِيذُ أَعْطَوُا الْمُتَّكِئِينَ. وَكَذلِكَ مِنَ السَّمَكَتَيْنِ بِقَدْرِ مَا شَاءُوا&#8221;.</p>
<p>لقد شكر الرب. كمثال لنا ونموذج للتقوي ينبغي ان يكون فينا: وهاهوذا كإنسان،ينسب مرة أخري قوة المعجزة للطبيعة الإلهية.هكذا كانت عادته،انه كمثال للتقوي،كما قلت،يساعد اولئك الذين كشف لهم معلماً اياهم الامور البالغة السمو،وبتدبير يحجب كرامته الإلهية،الي ان يقترب زمان آلامه:والذي كان يبذل قصاري اهتمامه ليخفيه عن &#8220;رئيس هذا العالم&#8221;</p>
<p>قابل (١كو٨:٢) لهذا السبب نراه في موضع اخر ايضاً، يستخدم كلمات بشرية، كإنسان ويشفي اذهان سامعيه مرة اخري احياناً بتشويقيات حكيمة جداً،كما في قوله &#8220;ايها الاب اشكرك لانك سمعت لي&#8221;(يو ٤١:١١).</p>
<p>اترون كم كان حديثه بشكل بشري، حديثاً محسوباً حساباً جيداً يربك فهم البسطاء جداً؛ لكنه حينما يقول هذا، كإنسان، فإنه سرعان ما يكشف عن اسلوب التدبير، ويبقي هدف مشيئته محتجبًا،</p>
<p>بترتيب فائق السمو، مقوياً ذهن البسطاء الذين صدموا، (إذ يقول): وانا علمت انك في كل حين تسمع لي (يو ٤٢:١١) لماذا (يارب) تتحدث بمثل هذه الاشياء؟ يقول لأجل هذا الجمع الواقف قلت،ليؤمنوا انك ارسلتني.اليس من الواضح إذن،انه يهدف أن يعيننا بطرق متنوعة، ولكي يحقق مايليق به،اي سر التدبيربالجسد،</p>
<p>كان في بعض الأحيان ينزل بنفسه الي اقل مما هو عليه في الحقيقة؟ لذلك فكما في تلك الفقرة، فإن عبارة &#8220;اشكرك&#8221; تؤخذ بشكل تدبيري، هكذا هي ايضاً هنا. {فإن لفظة &#8220;بارك&#8221; تفهم انها عن الخبز}.</p>
<p>لكن جدير بنا ان نلاحظ انه بدلًا من &#8220;شكر&#8221; يقول متي البشير &#8220;بارك&#8221;(مت١٩:١٤). ولكن كتابات القديسين لا تتعارض بإي حال من الاحوال، لان بولس سوف يوضح ان كلا الأمرين واحد، قائلاً إن &#8220;كل طعام الله جيد، ولايرفض شئ،إذا أخذ مع الشكر لأنه يقدس بكلمة الله والصلاة&#8221;(١تي٤-٤:٥)</p>
<p>لكن ذاك الذي يقدس بالصلاة في توسل، وهو ما نفعله دائمًا على المائدة، وهو بالتأكيد يتبارك.</p>
<p>ولكن لما كان من اللائق الا نترك اي شئ نافع دون فحص من جانبنا، هيا نتحدث قليلًا عن &#8220;خمسة ارغفة الشعير&#8221;، التي كانت مع الغلام، وعن السمكتين: لان كل نوع من هذه الانواع ذاتها، الي جانب الاعداد،انما هو مفعم بالسر.(إذ قد يتساءل شخص مجتهد في البحث)لماذا لم تكن الارغفة سوي خمسة، ولم تكن الاسماك ثلاثة؟ولماذا الارغفة خمسة،والأسماك أربع؟ وفي أية مناسبة علي الإطلاق يوجد احصاء للعدد الموجود، ولماذا لم يقل بالحري وبأكثر بساطة وبشكل عام إن الجموع الكثيرة التي بلا حصر والذين تبعوه قد تم اطعامهم كلهم بأشياء قليلة؟ الحقيقة ان الإنجيلي المبارك قد احصي وبكل اجتهاد تلك الأشياء أيضًا، ليعطينا بالتأكيد شيئًا ما نفكر فيه، والذي يحتاج منا ان نتفحصه ايضاً.</p>
<p>يقول إن الارغفة كانت خمسة وانها كانت من الشعير وانهما سمكتان وبهذه اطعم المسيح الذين يحبونه. واعتقد (وعلي محب الحكمة ان يبحث عن شئ آخر افضل)انه بالأرغفة الخمسة يشير الي كتاب الحكيم جداً موسي ذي الاسفار الخمسة،أعني الناموس كله الذي كان بمثابة الطعام الثقيل،والذي اعطي لنا بواسطة الحرف لان هذا مايلمح اليه لفظ &#8220;الشعير&#8221;.لكنه يشير &#8220;بالسمكتين&#8221; الي ذلك الطعام الذي حصلنا عليه بواسطة الصيادين،اعني،الكتب الشهية جداً التي لتلاميذ المخلص،(ويقول)إنهما اثنتان،إشارة إلي الكرازة الرسولية والإنجيلية التي أشرقت في وسطنا،والتي هي مخطوطات الصيادين وكتاباتهم الروحية.هكذا فإن المخلص إذ يخلط الجديد بالقديم وبالناموس وتعاليم العهد الجديد فهو يقوت انفس المؤمنين به،إلي الحياة التي هي بلا شك الحياة الأبدية وكون التلاميذ من الصيادين،فهو (كمًا أفترض) أمر واضح وجلي وبالرغم من أن الجميع لم يكونوا صيادين،إلا ان بينهم من كانوا كذلك،وان مناقشتنا لن ترتد عن الحق فيما قيل</p>
<p>(يو١٢:٦-١٣)&#8221;فَلَمَّا شَبِعُوا، قَالَ لِتَلاَمِيذِهِ: «اجْمَعُوا الْكِسَرَ الْفَاضِلَةَ لِكَيْ لاَ يَضِيعَ شَيْءٌ» فجَمَعُوا وَمَلأُوا اثْنَتَيْ عَشْرَةَ قُفَّةً منَ الْكِسَرِ، مِنْ خَمْسَةِ أَرْغِفَةِ الشَّعِيرِ، الَّتِي فَضَلَتْ عَنِ الآكِلِينَ.</p>
<p>قد يبدو للبعض ان المسيح يهتم بتوفير الكسر،حتي انه امر تلاميذه ان يجمعوها معاً.ومع هذا(فأنا أظن) أن كل إنسان قد يتصور بشكل ملائم،ان المسيح لا يحتمل ان ينزل الي مثل هذه الدرجة من الدنو،ولماذا أقول المسيح،بل أن احداً منا لن يفعل ذلك:لانه ما المفترض ان تكونه تلك البقايا من خمسة ارغفة من الشعير؛لكن الآية تتضمن تدبيراً عظيماً، وتجعل المعجزة واضحة للسامعين.لأنه ما أعظم تأثير السلطان الإلهي في هذا الأمر،من جهة انه لم تكن الجموع فقط غفيرة،تلك التي شبعت من خمسة ارغفة شعير وسمكتين،بل اثنتي عشرة قفة مملوءة بالكسر،قد تم جمعها ايضاً هكذا فإن المعجزة تطرد شكًا آخر،وبجمع الكسر يتأكد الإيمان انه كانت هناك وفرة من الطعام حقًا،وليس مجرد خداع نظر لعيون المشتركين في الوليمة أو الذين يخدمونهم.فما اعظم تلك الفائدة لنا وما اجدرها بالتأمل،انظروا كيف انه بواسطة هذه المعجزة،يجعلنا أوفر غيرة في اشتياقتنا لممارسة الضيافة بفرح بالغ،ويدعونا بصراحة بواسطة الاشياء التي تمت،إلي الإيقان أن الله لن يخيب من يستعد للتوزيع ويتهلل بمسلك المحبة الأخوية،ويتمم باستعداد ما هو مكتوب &#8220;ان تكسر للجائع خبزك&#8221;(اش٧:٥٨)</p>
<p>لاننا نجد ان التلاميذ في البداية كانوا مترددين في فعل ذلك الامر، لكن المخلص إذ رأي انهم يفكرون هكذا، وهبهم عدداً وفيراً من الكسر؛</p>
<p>ويعلمنا نحن ايضاً، اننا إذ ننفق قليلًا لأجل مجد الله، ننال نعمة أوفر حسب قول المسيح &#8220;كَيْلًا جَيِّدًا مُلَبَّدًا مَهْزُوزًا فَائِضًا يُعْطُونَ فِي أَحْضَانِكُمْ.&#8221;(لو٣٨:٦).</p>
<p>لهذا لا يجب ان نكون كسالي حيال شركة المحبة نحو الاخوة، بل نتقدم بالحري نحو العزم الصالح، ونترك عنا بقدر المستطاع الجبن والخوف الذي يدفعنا ألا نضيف الآخرين واذ نتثبت في الرجاء بالإيمان بقوة الله لمضاعفة القليل ايضاً، لنفتح احشائنا للمحتاجين حسب أمر الناموس. لأن الله يقول:&#8221;افتح احشاءك بسعة لأخيك المحتاج الذي معك انظر (تث١١:١٥)</p>
<p>لأنه متي ستصير رحيماً، إن ظللت قاسياً في هذه الحياة؟ متي ستتمم الوصية ان كنت تبدو وقت القدرة علي عملها منزلقاً الي التراخي؟ تذكر المرنم وهو يقول &#8220;انه ليس في الموت ذكرك. في الهاوية من يحمدك(مز٥:٦). لأنه اي ثمر يكون بعد ممن قد مات، أو كيف لأي من الذين انحدروا إلي الهاوية أن يذكر الله بتتميم وصاياه؟&#8221;لان الله قد أغلق عليه&#8221; كما هو مكتوب (اي٢٣:٣) لذلك فالحكيم جداً بولس يعلمنا ايضاً، إذ يكتب الي البعض حسبما لنا فرصة فلنعمل الخير (غل١٠:٦)<a href="#_ftn3" name="_ftnref3">[3]</a></p>
<h4>قداسة البابا تواضروس</h4>
<p><strong>المسيح شبعنا </strong></p>
<p>+ معجزة إشباع الجموع: تتكرر يوميا في صلاة الساعة التاسعة - إنه الخالق العظيم</p>
<p>+ ابتدأ النهار يميل: نهار الحياة/ نهار الشباب/ نهار السعادة/ نهار الصحة</p>
<p>«امکث معنا لأن النهار قد مال &#8230;» تلميذي عمواس.</p>
<p>من أين نبتاع خبزا؟ سؤال المسيح لفيليبس ..</p>
<p>- آدم آدم أين أنت ؟</p>
<p>- قايين أين أخوك ؟</p>
<p>- «أين وضعتموه» لعازر؟</p>
<p>- من يقول الناس أني أنا؟</p>
<p>كلها أسئلة للإثارة.. وطلب الاعتراف.</p>
<p><strong>عطية الغلام</strong></p>
<p>١- قدم كل طعامه (كريم) بعد أن خرج ومعه طعامه (مستعد)</p>
<p>٢- أسعد بتقدمته البسيطة الآلاف</p>
<p>٣- المسيح يطالبنا بالوزنة البسيطة</p>
<p><strong>رحلتنا للملكوت </strong></p>
<p>هذه المعجزة (لو ٩: ١٠- ١٧) لإشباع الجموع تتكرر يوميا وسنويا، والهدف منها في هذا الوقت - (الأحد الثالث من أبيب) أي نهاية العام القبطي - وهو الإشارة للملكوت.</p>
<p><strong>ثلاث مراحل يمر بها الإنسان المسيحي</strong></p>
<p><strong>أ - رحلة الخدمة</strong></p>
<p>- اختبار قوة المسيح وكلمته.</p>
<p>- اختبار حياة الإيمان والتسليم.</p>
<p><strong>ب - الانفراد مع الرب:</strong></p>
<p>- امتلاء بالقوة وتجديد العهد. - تصحيح الأخطاء والضعفات.</p>
<p><strong>ج   - الحديث عن الملكوت:</strong></p>
<p>تعظيم الاشتياق نحو السماء.</p>
<p>الاستعداد بالعمل والجهاد<a href="#_ftn4" name="_ftnref4">[4]</a>.</p>
<h3>من وحي قراءات الأحد الثالث</h3>
<p>أعطي التلاميذ والتلاميذ أعطوا الجموع (لو ١٦:٩)</p>
<p>كلمهم عن ملكوت الله يفسر لنا لماذا شبعوا بالقليل</p>
<p>أعطوهم أنتم ليأكلوا وصية الرب لكل راعي وكل خادم</p>
<p>العجيب أن التلاميذ أعطوا للرب الخبزات والسمكتين ولم يسألوا كيف؟</p>
<p>كل عطية صالحة من فوق لكننا كرعاة أحياناً ننسي مع الوقت</p>
<p>اثنين زائد خمسة يساوي خمسة آلاف بيده الإلهيه</p>
<p>أعطي التلاميذ للجموع الأكل والرب أعطاهم الشبع</p>
<p>إتكاء الجموع فرقا فرقا جعل التوزيع سهلا ومحايدا</p>
<p>رفع نظره نحو السماء يعلن من أين يأتي الشبع</p>
<p>إجمعوا الكسر يعلمنا أن لاننسي في شبعنا من يحتاجون إلى كسرنا</p>
<p>تذكرنا هذه المعجزة بالإفخارستيا في حضور الرب وشركة التلاميذ وشبع الجموع</p>
<h3>المراجع :</h3>
<p><a href="#_ftnref1" name="_ftn1"></a>١- العلامة أوريجانوس  تفسير إنجيل متي إصحاح ١٤ - القمص تادرس يعقوب ملطي<a href="#_ftnref2" name="_ftn2"></a></p>
<p>Jr, A.J. &amp; Oden, T.C. (2003). Luke (The Ancient Christian Commentary on Scripture, New Testament part III). Illinois (U.S.A): InterVarsity Press. Pages 150</p>
<p>٢- ترجمة الأخت إيفيت منير - كنيسة مار مرقس ببني سويف</p>
<p><a href="#_ftnref3" name="_ftn3"></a>٣- شرح إنجيل يوحنا لكيرلس عامود الدين (صفحة ٣٢٨) - مشروع الكنوز القبطية</p>
<p><a href="#_ftnref4" name="_ftn4"></a>٤- المرجع: كتاب المنجلية القبطية الأرثوذكسية صفحة (٢٦١) - قداسة البابا تواضروس الثاني</p>

      {% endcreateArticleAccordions %}
    </section>
  {% endblock %}
