---
layout: 'layouts/reading.html'
title: 'الاحد الرابع من أبيب'
permalink: sundays/11-4.html
---
  {% block content %}
    <section id="readings">
      <ul>
      {% if '19.59:10,17' != 'null' %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">العشية</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeVespers '19.59:10,17' '42.7:1-10' %}
          </div>
        </div>
      </li>
      {% endif %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">باكر</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeMatins '19.86:12-13' '43.20:1-18' '' %}
          </div>
        </div>
      </li>
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <h3 class="flex items-center justify-between">
            <span class="kufi">القداس</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </h3>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeLitugy '50.1:27-30*@+50.2:1-11' '60.1:25*@+60.2:1-10' '44.19:11-22' '19.40:5,16' '43.11:1-45' %}
          </div>
        </div>
      </li>
        </ul>
    </section>
    <section id="article">
      <h3 class="mt-8 mb-4 heading-explain">شرح القراءات</h3>
      {% createArticleAccordions firstName, lastName %}
        <p>في ذلك الحين استجيبت صلوات الاثنين أمام مجد الله العلي، (طو ٢٤:٣)</p>
<p>&#8221; كمثل طبيب حقيقي داويت جميع أمراضنا &#8230; أنظر إلينا يا ربي يسوع بعين التحنن التي لصلاحك &#8221;  ابصالية الإثنين</p>
<p>&#8221; حقًا الإيمان هو بركة عظيمة، ويصنع أمورًا عظيمة للذين يتمسكون بالحق ويتمتعون ببركات كثيرة &#8230;</p>
<p>الإيمان بركة عظيمة عندما يصدر عن مشاعر وهَّاجة وحب عظيم ونفس متقدة.</p>
<p>بالحق يجعلنا الإيمان حكماء، ويخفي انحطاطنا البشري، ويلقي بالحجج إلى أسفل ويفلسف (يعطي حكمة) بخصوص السماويات، أو بالأحرى الأمور التي لا تستطيع حكمة البشر أن تكشفها. إنها تدركها بفيضٍ وتنجح فيها<a href="#_ftn1" name="_ftnref1">[1]</a>.</p>
<h3>شواهد القراءات</h3>
<p>(مز ٥٨: ١٤-٨) (لو ٧: ١-١٠) (مز ٨٥: ١٢-١١) (يو ٢٠ : ١-١٨ ) (في ١ : ٢٧-٣٠ ، ٢ : ١-١١ )   ( ١بط ١ : ٢٥- ٢ : ١-١٠ ) ( أع ١٩ : ١١-٢٢) ( مز ٣٩ : ١٥-٥ ) (يو ١١ : ١-٤٥)</p>
<h3>ملاحظات على قراءات الأحد الرابع من أبيب</h3>
<p>+ تأتي قراءة إنجيل عشيَّة اليوم (لو ٧: ١ &#8211; ١٠) أيضاً في قراءة إنجيل عشيَّة ليوم ١٦ توت (تذكار تجديد كنيسة القيامة)</p>
<p>وهي القراءة التي تتكلم عن شفاء غلام قائد المئة وعظمة إيمان قائد المئة مقارنة بعتاب الرب لمرثا &#8221; ألم أقل لك: إن آمنت ترين مجد الله &#8221;</p>
<p>ورُبَّما كان من الأفضل مجئ المعجزة حسب القديس متي (مت ٨: ٥ &#8211; ١٣)، وليس حسب القديس لوقا (لو ٧: ١ &#8211; ١٠) لإتفاقها مع موضوع قراءات الشهر وهو الملكوت، لأن القديس متي هو الوحيد الذي قال &#8221; سيأتون من المشارق والمغارب ويتكئون مع إبراهيم وإسحق ويعقوب في ملكوت السموات&#8221; &#8221;</p>
<p>أمَّا مجيئها يوم ١٦ توت فهو للإشارة إلى قول اليهود للرب أنه يحب أمتنا وبني لنا المجمع لذلك جاءت في تذكار تجديد كنيسة القيامة، وهو الجزء الذي لم يذكره القديس متي، لذلك كانت رواية القديس متي هي الأنسب ليوم ١٦ توت</p>
<p>كما أن القراءة من القديس متي جاءت أيضاً في إنجيل عشيَّة في يوم ٢٥ هاتور (شهادة أبو سيفين) وهنا الإشارة إلي سلطان الرب في الشفاء ومدي إيمان قائد المئة وهو رجل له سلطان أرضي مُقارنة بالقديس أبو سيفين الذي كان ضابطاً في الإمبراطورية، ولكن بسلطان روحي يفوق سلاطين الأرض</p>
<p>+ قراءة الكاثوليكون اليوم (١بط ١: ٢٥ &#8211; ٢: ١ &#8211; ١٠) هي تقريباً نفس قراءة الكاثوليكون (١بط ٢ : ١ &#8211; ١٠ ) ليوم ١٦ توت ( تجديد كنيسة القيامة ) ، ومُكرَّرة أيضاً في قراءات أيَّام ١ طوبه ( شهادة إستفانوس رئيس الشمامسة ) ، ٣ طوبه( شهادة أطفال بيت لحم ) ، ٢ بؤونه ( وجود عظام يوحنا المعمدان ) ، مع ملاحظة زيادة آية في بداية هذه القراءات الثلاث وهي ختام الإصحاح الأول  ( ١بط ١ : ٢٥ )</p>
<p>والكلام في قراءة يوم (١٦ توت) للإشارة إي كنيسة العهد الجديد، الحجارة الحيّة، الكهنوت الملوكي، الجنس المُختار والأُمَّة المُقدّسة</p>
<p>ومجئ هذه القراءة في يوم (١ طوبه) للإشارة إلي مجد ظهور الله للأمم وإيمانهم به (موضوع قراءة اليوم) &#8221; الذين قبلاً لم تكونوا شعباً وأمَّا الآن فأتم صرتم شعب الله &#8221;</p>
<p>ومجيئها يوم ٣ طوبه للإشارة إلى أهمِّية التشبه بالأطفال &#8221; مثل أطفال مولودين الآن اشتهوا اللبن العقلي العديم الغش &#8221;</p>
<p>ومجيئها يوم ٢ بؤونه للإشارة إلي جوهر كرازة يوحنا وهو الإشارة إلي الحجر الذي صار رأس الزاوية وحمل الله الذي يرفع خطيَّة العالم وعريس البشريّة، كما أن رأس الزاوية (المسيح له المجد) هو الذي ربط بين العهدين القديم والجديد، كما أن يوحنا هو الذي سعي لكي يُقدِّم للبشرية عريسها الحقيقي، ورُبما لأجل هذا بدأ الإبركسيس في ذلك اليوم بكلمة &#8221; ولما أكمل يوحنا سعيه &#8221;</p>
<p>أمَّا مجيئها اليوم (الأحد الرابع من بؤونه) فهو للإشارة إلي مجد ابن الله حجر الزاوية الذي أعطي الحياة للعازر الميت بعد أربعة أيَّام في القبر</p>
<p>+ قراءة الإبركسيس اليوم (أع ١٩: ١١ &#8211; ٢٢) تُشبه قراءة الإبركسيس (أع ١٩: ١١ &#8211; ٢٠) ليوم ٢١ توت (تذكار كبريانوس الأسقف) وقراءة الإبركسيس ليوم ٢٧ بابه ( تذكار أنبا مقار الأسقف ) ، ويوم٢٢ هاتور ( تذكار القديسين قزمان وإخوته ووالدتهم ) ، وتُشبه قراءة الإبركسيس ( أع ١٩ : ١١ &#8211; ١٧ ) ليوم ٢٦ مسري ( شهادة القديس موسي وسارة أخته )</p>
<p>وتأتي هذه القراءة في يوم ٢٧ بابه لكثرة العجائب التي فعلها الله في حياة أنبا مقار الأسقف (كما هو موجود بسيرته)، ورُبما سبب مجئ القراءة أيام ٢٢ هاتور، ٢٦ مسري للمُقارنة بين الأسرة الشريرة ( سكاوا وأولاده في قراءة الإبركسيس ) والأُسر المُقدَّسة ( قزمان وإخوته ووالدتهم في يوم ٢٢ هاتور ، وموسي وسارة أخته في يوم ٢٦ مسري )</p>
<p>أما مجيئها في يوم ٢١ توت لأجل كبريانوس الذي كان ساحراً وترك السحر وتخلَّص من كل كتب السحر وهذا هو أيضاً موضوع القراءة في الإبركسيس</p>
<p>ورُبَّما كان من الأفضل تكملة القراءة حتى آية ٢٠ مثل القراءات الثلاثة الأخرى لأن الآيات الثلاثة حتى آية ٢٠ تتكلَّم عن الذين كانوا يستعملون كتب السحر وبعد إيمانهم أحرقوها (مثل كبريانوس صاحب تذكار اليوم)</p>
<p>بينما مجيئها اليوم (الأحد الرابع من أبيب) فهو للإشارة إلى &#8220;وكان اسم الرب يسوع يتعظم &#8221; كما في إقامة لعازر موضوع قراءة إنجيل هذا الأحد</p>
<h3>شرح القراءات</h3>
<p>يختم هذا الشهر بمجد الايمان بالملك ومجد ملكوته للبشرية</p>
<p>تبدأ المزامير بمراحم الله التي تدركنا (مزمور عشيّة) وتُنجّينا (مزمور باكر) وتفيض علينا بكثرة (مزمور القدَّاس)</p>
<p>لذلك في مزمور عشية رحمته تدرك الانسان وتعينه (ألهى رحمته تسبق فتدركني انت معيني)</p>
<p>بينما في مزمور باكر تعظم رحمته لاجل نجاة الانسان (لان رحمتك عظيمة على وقد نجيت نفسي)</p>
<p>وفي مزمور القداس يعطي الانسان للرب كل التعظيم لاجل خلاصه وكثرة عجائبه (وانت ايها الرب ألهى جعلت عجائبك كثيرة &#8230;. وليقل في كل حين الذين يحبون خلاصك فليعظم الرب)</p>
<p>ويتكلم انجيل عشية عن عظمة ايمان الامم في شخص المسيح له المجد الذي يفوق في بعض الاحيان ايمان من يتبعوه (فمشي يسوع معهم واذ كان غير بعيد عن البيت أرسل اليه قائد المئة اصدقاء يقول له يارب لاتتعب فاني لست مستحقا ان تدخل تحت سقف بيتي لذلك لم احسب ذاتي مستحقا ان اتي اليك لكن قل كلمة فيبرا فتاي &#8230;. فلما سمع يسوع هذا تعجب منه والتفت الي المجمع الذي يتبعه وقال الحق اقول لكم أنى لم أجد في كل اسرائيل ايمانا بهذا المقدار)</p>
<p>تُعْلِن القراءات كيف اخلي ابن الله ذاته ليهب المجد لكل المؤمنين به ( البولس ) وكيف جعلهم جنس مختار وكهنوت ملوكي ( الكاثوليكون ) فترتعب منهم كل قوات الشياطين ( الأبركسيس )</p>
<p>يرسم البولس طريق المجد الذي هياه ابن الله للبشر وهو تنفيذ مشيئة الاب وطاعته حتي الموت (فقط عيشوا كما يحق لانجيل المسيح &#8230;. فليكن هذا الفكر في كل واحد منكم وهذا هو الذي في المسيح يسوع ايضا الذي اذ كان في صورة الله لم يحسب خلسة ان يكون معادلا لله لكنه أخلى نفسه اخذا صورة عبد صائرا في شبه الناس واذ وجد في الهيئة كانسان وضع نفسه واطاع حتي الموت موت الصليب لذلك زاده الله رفعة وانعم عليه باسم فوق كل اسم لكي تجثو باسم يسوع كل ركبة ممن في السماء ومن علي الارض ومن تحت الارض ويعترف كل لسان ان يسوع المسيح هو رب لمجد الله الاب)</p>
<p>ويعلن الكاثوليكون ان رغم ان ابن الله حجر مرزول من اهل العالم لكنه لنا نحن هو حجر الزاوية وليس ذلك فقط لكنه ايضا جعلنا كلنا حجارة حية وجنس مختار ونقلنا الي مجد نوره الالهي (الذي اذ تاتون اليه حجرا حيا مرذولا من الناس، ولكن مختار من الله وكريم &#8230; هانذا اضع في صهيون حجرا مختارا في راس الزاوية كريما &#8230;.. فالحجر الذي رذله البناؤون هو قد صار راس الزاوية &#8230; واما أنتم فجنس مختار وكهنوت ملوكي وامة مقدسة وشعب مبرر لكي تخبروا بفضائل ذاك الذي دعاكم من الظلمة الي نوره العجيب)</p>
<p>وتحقق هذا في الابركسيس فمناديل وعصائب القديس بولس ازالت الامراض وطردت الارواح الشريرة واستعلن عظمة الاسم الالهي في كل اسيا (وكان الله يصنع على يدي بولس قوات كثيرة حتى انهم كانوا باخذون مناديل ومازر من على جسده ويضعونها علي المرضي فتزول عنهم الامراض وتخرج الارواح الشريرة &#8230; فوقع خوف على جميعهم وكان اسم الرب يسوع يتعظم &#8230; هكذا كانت كلمة الرب تنمو وتقوي بشدة)</p>
<p>ويختم انجيل القداس بمجد ابن الله الملك الذي يريدنا ان نعيش مجده ونراه إذا امنا به وأدركنا واختبرنا سلطانه الالهي على كل شئ حتى الموت والمجد الذي يتخطي ويتمجد في كل الام واوجاع البشر (فلما سمع يسوع قال المريض ليس للموت، بل لاجل مجد الله ليتمجد ابن الله به &#8230;. حينئذ قال لهم يسوع علانية لعازر مات وانا افرح لاجلكم أنى لم أكن هناك لتؤمنوا &#8230;. قالت له مرثا اخت الميت ياسيد قد أنتن لان له اربعة ايام قال لها يسوع الم اقل لك ان امنت ترين مجد الله &#8230; ولما قال هذا صرخ بصوت عظيم لعازر هلم خارجا فخرج الميت ويداه ورجلاه مربوطات بلفائف ووجهه ملفوف بمنديل فقال لهم يسوع حلوه ودعوه يذهب)</p>
<p>وفي شرح القديس كيرلس لبكاء الرب يسوع علي قبر لعازر يقول:&#8221; وإذا رأى الإنجيلي يسوع المسيح يبكي رغم أن الطبيعة الإلهية عديمة البكاء، فإنه دُهش لأن المعاناة هى أمر بالجسد ولا تُلائم الألوهية</p>
<p>والرب عندما رأى أن الإنسان المخلوق على صورته قد تشوه بالفساد فإنه بكى وذلك ليجعلنا نحن لا نبكي</p>
<p>لأنه لهذا السبب أيضا قد مات لكي يحررنا من الموت، وقد بكى قليلاً، لكي لا يبدو عديم المشاعر ولا يحس بإحساسات البشر لكنه أوقف دموعه بسرعه، كي يعلمنا أيضا الا نستسلم للحزن الكثير على الأموات</p>
<p>فمن أجل هذا، سمح لجسده أن يبكي قليلاً، رغم أنه بطبيعته الالهية لا يخضع لأية انفعالات حزينة، فهذه هى طبيعته الخاصة. واليهود ظنوا أنه يبكى بسبب موت لعازر، لكنه بكى حزناً على البشرية كلها، وهو لاينوح على لعازر وحده، بل هو يعرف تماما ماحدث للجميع،بأن كل البشرية خاضعة للموت، إذ أنها بعدل سقطت تحت هذا العقاب الشديد<a href="#_ftn2" name="_ftnref2">[2]</a>&#8221;</p>
<p><a href="#_ftn3" name="_ftnref3">[3]</a>  والمسيح صنع ٣ معجزات إقامة من الأموات وهي تظهر مستويات الخطية في حياتنا فالخطية هي موت</p>
<p>بنت يايرس&#8230;. لم تكفن= من دخلته الخطية حديثاً.. هذا يحتاج كلمة</p>
<p>ابن أرملة نايين.. كُفِّن ولم يُدفن، بل شُيِّعَ= من ظهرت خطيته وسط الناس.. يحتاج لمسة</p>
<p>لعازر&#8230;&#8230;&#8230;. كفن ودفن وأنتن= من أنتنت الخطية فيه.. يحتاج لصراخ الرب بصوت عظيم</p>
<p>أو قد تكون:</p>
<p>١- بنت يايرس: الخطية مازالت في طور التفكير والتخطيط لها</p>
<p>٢- ابن أرملة نايين: الخطية تم تنفيذها</p>
<p>٣- لعازر: الخطية صارت عادة</p>
<h3>ملخّص القراءات</h3>
<p>مجد الملك في مراحمه لاولاده التي تنجي وتسند وتخلص (المزامير)</p>
<p>وهو ملك اخلي ذاته ليهبنا مجده ( البولس )</p>
<p>ورغم رفض اهل العالم له جعلنا ملوكا وكهنة ( الكاثوليكون  )</p>
<p>وان كان يوجد في غير المؤمنين من يفوق ايمانه بالملك ايماننا (انجيل عشية)</p>
<p>ووهب مجده لخدامه لدرجة ارتعاب قوات الظلمة منهم ( الابركسيس )</p>
<p>وتخطي مجده كل تصورات البشر (انجيل القداس )</p>
<h3>إنجيل إقامة لعازر في فكر الآباء</h3>
<p><strong>نظرة عامة</strong></p>
<p>حقيقة أن يسوع يقول أن لعازر مجرد نائم، إنما هي وعدٌ بأمورٍ ستحدث بعد ذلك من منظور يسوع، كان لعازر نائمًا وليس ميتًا (أوغسطينوس). لم يكن يسوع بحاجة للذهاب إلى لعازر ليقيمه، لكنه اختار الذهاب حتى لا يشك أحد في أنه قام بالمعجزة (هيبوليتوس). اعتقادًا منهم أن هذه كانت إحدى عبارات يسوع الغامضة (ذهبي الفم)، لكن يسوع لم يخبرهم بعد أنه سيقيم لعازر (ذهبي الفم). مع العلم أنه قد أُرسل لشفاء المرض، لكن الموت كان لا يمكن أن يبقى مختبئًا منه (أوغسطينوس). على عكس الأطباء العاديين، الذين يبذلون أنفسهم لإنقاذ الحياة، انتظر طبيب لعازر موتهِ ليؤسس لانتصار الحياة على الموت (مار إفرام). بعبارة أخرى، يستخدم يسوع موت لعازر ليُثَبِّتْ إيمان تلاميذه (هيبوليتس).</p>
<p>لم يضمن تأخيره حدوث موت لعازر فحسب، بل إنه كان ضروريًا أيضًا، لأن حبه له ربما كان قد دفعه لشفاء لعازر، تاركاً أي فرصة لأعظم معجزات القيامة. عالماً أن لعازر قد مات، يقرر لاحقاً الذهاب إليه، ويتطوع توما للذهاب معه، مدعياً أنه سينضم إلى يسوع في الموت. وهذا إما تعبير عن الجرأة من شخصٍ لديه إحساس زائف بالشجاعة، على الرغم من أنه قد يكون بالفعل قد فهم قوة يسوع الحقيقية على الموت (كيرلس)، أو أنه تعبير عن جبانٍ أصبح فيما بعد أكثر التلاميذ حماسة (ذهبي الفم). أو ربما يعرف توما عن غير قصد أنه يجب على المرء أن يموت مع يسوع كي يحيا معه (أوريجانوس).</p>
<p>بما أن يسوع، الحياة، كان غائبًا عن لعازر وأختيه، فقد كان للموت مجال للقيام بعمله من خلال وكالة المرض (غريغوريوس النيسي). يذكرنا تقرير مريم ومرثا ليسوع عن مرض أخيهما وصديقه أنه حتى أصدقاء المسيح يعانون (ذهبي الفم).</p>
<p>مع ذلك، تُظهر أخوات لعازر إيمانًا كبيرًا في الاقتراب من يسوع لشفاء لعازر لأنهم كانوا مقتنعين بأن يسوع ليس من ذلك النوع الذي يحب ومن ثم يتخلى عن من يحبهم (أوغسطينوس). على الرغم من أن موت لعازر هو لمجد الله، إلا أن الله ليس السبب في مرض لعازر (كيرلس).  إن قيامة لعازر هي لمجد الآب والابن لأن مجد الآب والابن هو واحد. يجب أن نلاحظ أيضًا أن مجد يسوع هو نتيجةٌ لموت لعازر (ذهبي الفم)، وليس السبب. إن مريم ومرثا ولعازر هم محبوبون من ذاك الشخص الذي يستطيع أن يجلب لهم العزاء والشفاء الحقيقيين (أوغسطينوس).</p>
<p>ثم طلب يسوع من تلاميذه العودة معه إلى اليهودية، حيث سعى اليهود في السابق إلى رجمه (أوغسطينوس). كان رد فعل تلاميذه على هذا هو الخوف على أنفسهم وعليه لإفتقارهم لإيمان (ذهبي الفم). هم يفترضون أنهم يقدمون النصيحة إلى الله، ولذلك يوبخهم بطرح سؤال يتعلق بساعات النهار الاثنتي عشرة، حيث توجد هنا رمزية عظيمة، مشيرًا على سبيل المثال إلى المسيح باعتباره اليوم وتلاميذه الاثني عشر كالساعات (أوغسطينوس). قد يشير أيضًا إلى الأباء أو الرسل الإثني عشر الذين ينظرون إلى الشمس، المسيح، الذي هو اليوم الروحي (أوريجانوس). يخبر المسيح تلاميذه أن الوقت ليس هو الوقت المناسب للشمس/ الابن للانسحاب من مواجهة اليهود ما دام الوقت نهاراً، بينما لا يزال هناك وقت للنور (كيرلس). فبعيداً عن نور المسيح، لا يوجد سوى عثرة في ظلمة إبليس (أثناسيوس). وأما الذين يسلكون باستقامةٍ، كما لو كانوا نهارًا، فلا مجال للخوف من الشرير (ذهبي الفم).</p>
<p>يمكن حساب الأيام الأربعة المنقضية وفقًا للمكتوب (ذهبي الفم). ولأن بيت عنيا كانت على بعد ميلين فقط من أوروشليم، مما يعني أن المسيح كان من الممكن أن يصل مبكراً لو أراد ذلك. يأتي الكثير- حتى أعداء المسيح- لتعزية أصدقائه مريم ومرثا لأنه لم يفعل ذلك (ذهبي الفم). لم تكن مريم موجودة لترحب به، الأمر الذي قد يكمن في حقيقة أن مريم في هذا الموقف وفي كل موقف آخر تمثل الحياة التأملية، بينما تمثل مرثا الحياة العملية (أوريجانوس).</p>
<p>ومع ذلك فقد يكون صحيحًا أيضًا أن مرثا تريد ببساطة التحدث إلى المسيح على إنفراد، وعندما تتعزى هي، عندئذٍ تعزي أختها (ذهبي الفم).</p>
<p>تعرب مرثا عن خيبة أملها لغيابه على الرغم من أنه يمكن اعتبار أنه كان هناك بالفعل (أندراوس). لكن على الرغم من ضعف إدراكها بألوهيته (ذهبي الفم).</p>
<p>فإن هذا الجهل لا يوحي بعدم الإيمان(أندراوس). فمرثا تثق بأن يسوع يعرف ما هو الأفضل (أوغسطينوس). حيث يقود يسوع مرثا إلى حقائق أعلى (ذهبي الفم).</p>
<p>يسوع هو صوت الحياة والفرح الذي يوقظ الموتي (أثناسيوس). لقد كان دائمًا ولا يزال إلهًا ليس للموتي بل إله الأحياء (إيرينيؤس). فهو ضمان قيامتنا، الذي تم التنبؤ به في العهد القديم (التقليد الرسولي). لذلك لا حاجة لأولئك الذين في القبور أن يبكوا لطالما يؤمنون بكلمات يسوع (رومانوس). فالمؤمنون لا يموتون أبدًا، على الرغم من أن أجسادهم قد تموت (أوغسطينوس). إنه يمنحنا فيه رجاءً وأماناً بهيجين حيث يمكن أن يغلبنا الغم، كما هو الحال في العالم (كبريانوس). في قيامة يسوع لعازر، نحن نتذوق عربون القيامة العامة (كيرلس). برغم أننا قد نموت، فإننا نظل أحياء إن آمننا (أوغسطينوس). هذا الاعتراف الإيماني هو الاعتراف الذي يسعى يسوع إلى استخلاصه من مرثا (أوريجانوس) ومنا (كيرلس). في حين أن مرثا، ربما في حزنها، لا تجيب سؤال يسوع عن القيامة (ذهبي الفم)، إلا أنها تعترف بأنه المسيح، كما فعل بطرس ونثنائيل أيضًا (ترتليان)، وتشهد عن إيمانها بالابن، الذي هو في النهاية الإيمان بالقيامة (أوغسطينوس).</p>
<p>يسوع يدعو مريم، برغم أن النص لا يذكر أين أو متى أو كيف (أوغسطينوس).  وكما لوكان الأمر قد تم تخطيطه مسبقاً إلهياً، يتبعها اليهود كي يصبحوا هم أيضًا شهودًا على المعجزة المزمعة أن تحدث (كيرلس). ولكن يسوع، كإنسانٍ مثلنا، شعر أيضاً بالانزعاج من موت لعازر (هيبوليتوس). إذ ينزعج عند القدوم إلى القبر، وليس لاحقًا، متألماً، حيث ألوهية يسوع أكثر وضوحًا من إنسانيته في رواية يوحنا (ذهبي الفم).</p>
<p>خرجت مشاعر يسوع عن السيطرة بسبب دموع مريم ومرثا، وظنت الجموع أنه جاء إلى القبر ليبكي هناك (ذهبي الفم). وكما يفعل أيضًا على خطايانا (أوغسطينوس). بكى يسوع، لكنه لم يحزن (هيبوليتوس). لقد بكى ليعلمنا أن نبكي (أوغسطينوس) كانت والدة يسوع هي من أعطته نعمة البكاء (إيرينيؤس). كانت دموعه مثل المطر المروي الذي من شأنه أن يتسبب في عودة بذرة جسد لعازر إلى الحياة (مار إفرايم). لقد بكى بدافع الشفقة، ليس فقط لأجل لعازر، ولكن أيضًا للبشرية جميعها، المعرضة للموت (كيرلس). ولكن كان لا يزال هناك من لم يرَ الرحمة أو القوة، بل ضعفًا في يسوع بسبب التأخير في إقامة لعازر (ذهبي الفم).</p>
<p>عندما كان يسوع لم يزل بعيدًا عن القبر، انزعج بالروح، ولكن عندما اقترب للقبر، كان الإنزعاج قد بلغ مداه داخله (أوريجانوس) كإشارة إلى الاضطراب الذي كان يعصف بأعماقه (كيرلس). لقد إنزعج لأن هذا ما يفعله الإيمان عندما يرى أمراً خاطئاً أو غير مفهوم (أوغسطينوس). الحجر الموجود أمام الكهف، رائحة الجسد النتنة، تشير جميعها إلى عدم وجود فرصة للخداع (هيبوليتوس).</p>
<p>في رمزية رائحة لعازر النتنة – والتي لا يمكن إنكار تاريخيتها (أوغسطينوس)- يتم الربط بين الخطيئة والموت، والتوبة والقيامة (أوغسطينوس). يأمر يسوع برفع الحجر، لكن كلمات مرثا تدخلت مؤقتًا (أوريجانوس)، فقط لتفسح المجال للإيمان- إيمانها كأحد الأحياء الذي يثق بيسوع نيابة عن لعازر الميت (كيرلس). ومع دحرجة الحجر بعيداً، اقترب مستودع الحياة من قبر الموت (أثناسيوس).</p>
<p>تركز عيني يسوع نحو الأعلى، حيث تصرف انتباهنا بعيدًا عن الاهتمامات اليومية إلى ما هو فوق (أوريجانوس). يعرف يسوع أن الآب قد سمع صلاته بالفعل، ولهذا السبب يقدم صلاة شكرٍ بدلاً من تقديم طلبة (أوريجانوس). توضح صلاة الرب أيضًا للجموع أنه لا يتصرف أبدًا ضد إرادة أبيه (ذهبي الفم)، وتتيح لنا معرفة أن أولئك الذين يصلون حقًا فإن صلواتهم دائماً ما يُستمع إليها (أوريجانوس). لم يكن المسيح بحاجة للصلاة (هيلاري)، ولكن لأنهم وجهوا إليه تهمة التجديف، صار القبر ساحة العدالة حيث تمت تبرئة يسوع (هيبوليتوس). إنه ذاك الصوت نفسه الذي تحدث عند الخلق (أثناسيوس)، وهو أيضاً ذات الصوت الذي سيتحدث مرة أخرى عندما يدعونا للخروج من قبورنا في القيامة العامة (غريغوريوس النيسي). عندما أقام يسوع لعازر من خلال الصلاة، لم يظهر فقط سلطانه، بل أظهر أيضاً وحدته مع الآب (ذهبي الفم).</p>
<p>وكما هي محاولة لعازر الخروج، كذلك أيضاً أولئك الذين لديهم ضمير مذنب (غريغوريوس الكبير، أوغسطينوس). إن فك الأكفان التي ربطت لعازر يمثل كوننا غير مقيدين بموت الخطية (إيرينيؤس، أوريجانوس)، إذ أن الكنيسة وكل خدامها مكلفون بمهمة حل الخطاة من خطاياهم(أوغسطينوس). فهناك الكثيرين مثل لعازر محاصرون في قبورهم الخاصة حتى تحررهم كلمات يسوع (أوريجانوس)<a href="#_ftn4" name="_ftnref4">[4]</a>.</p>
<h3>الكنيسة في قراءات اليوم</h3>
<p>جهاد الإيمان + لاهوت الابن ومساواته للآب                                         البولس</p>
<p>المسيح له المجد حجر الزاوية                                                          الكاثوليكون</p>
<p>التوبة والإعتراف والنصرة على الشيطان                                            الإبركسيس</p>
<p>المسيح له المجد القيامة والحياة + اليوم الأخير                                      انجيل القدَّاس</p>
<h3>أفكار مقترحة لعظات</h3>
<h4>(١) إعلانات مجد ملكوته</h4>
<p>١- عظمة الإيمان</p>
<p>&#8221; &#8220;وقال الحق أقول لكم إني لم أَجِد في كلِّ إسرائيل إيماناً بهذا المقدار فرجع المرسلون إلي البيت فوجدوا العبد المريض قد صحَّ                                                                               <strong> إنجيل عشيّة</strong></p>
<p>&#8221; قال لها يسوع ألم أقل لك إن آمنت ترين مجد الله &#8221;            <strong>إنجيل القدَّاس</strong></p>
<p>٢- مجد شعب الله من خلال دعوة الله لهم</p>
<p>&#8221; وأما أنتم فجنس مختار وكهنوت ملوكي وأمة مقدسة وشعب مبرَّر لكي تخبروا بفضائل ذاك الذي دعاكم من الظلمة إلي نوره العجيب &#8221;                                                                     <strong> الكاثوليكون</strong></p>
<p>٣- مجد إسمه القدّوس</p>
<p>&#8221; فوقع خوف علي جميعهم وكان اسم الرب يسوع يتعظم &#8221;       <strong>الإبركسيس</strong></p>
<p>٤- مجد التوبة وعمل كلمة الله في النفوس البعيدة</p>
<p>&#8221; وكان كثيرون من الذين آمنوا يأتون معترفين ومُخبرين بأفعالهم &#8230;. هكذا كانت كلمة الرب تنمو وتقوي بشدة &#8221;                                                                                                           <strong>الإبركسيس</strong></p>
<p>٥- مجد مراحمه وعجائبه</p>
<p>&#8221; إلهي رحمته تسبق فتُدركني &#8230; لأن رحمتك عظيمة عليَّ &#8230; وأنت أيها الرب إلهي جعلت عجائبك كثيرة &#8221;</p>
<p><strong>                                                                                 مزمور عشية وباكر والقدّاس</strong></p>
<h4>(٢) أقوال وأفعال تبدو متناقضة</h4>
<p>١- وكان يسوع يحب مرثا وأختها ولعازر فلما سمع أنه مريض مكث حينئذ في الموضع الذي كان فيه يومين  ( يو ١١ : ٦-٥)</p>
<p>كيف يحبهم ويعرف أن أخوهم الذي يحبه لعازر مريض ويمكث هناك يومين ولا يذهب إليه سريعاً</p>
<p>ولكن هذا هو تدبير الله في مواعيده وتوقيتاته، حتى لو يأس البشر من جدوى أو قيمة تدخله لكن تدبيره دائماً فوق عقولنا كبشر كعلو السموات عن الأرض (أش ٥٥: ٩)</p>
<p>٢- فقال لهم يسوع حينئذ علانية: لعازر مات وأنا أفرح لأجلكم إني لم أكن هناك، لتؤمنوا (يو ١١: ١٥-١٤)</p>
<p>كيف يقترن موت أحد الأحباء بالفرح؟!</p>
<p>هذا هو حضور المسيح له المجد الذي يُخْرِج من الآكل أُكلاً ومن الجافي حلاوة (قض ١٤:١٤) ويحول الحزن إلي فرح وتعزية ورجاء</p>
<p>٣- قال لها يسوع: أنا هو القيامة والحياة. من آمن بي ولو مات فسيحيا &#8230;. بكي يسوع (يو ١١: ٣٥-٢٥)</p>
<p>كيف كان مُزمِع أن يُقيم لعازر وفِي ذات الموقف يبكي؟</p>
<p>لكن هي المشاعر الإنسانية في الكلمة المُتجسِّد الذي شابهنا وشاركنا في كل شئ عدا الخطية، وأيضاً تأكيدأ لكمال ناسوته</p>
<p>لذلك بكاء الرب لا يقل قوة ومجد عن إقامته لعازر من الموت</p>
<p>٤- قالت له: نعم يا سيد. أنا قد آمنت أنك أنت المسيح ابن الله، الآتي إلى العالم &#8230; ياسيد قد أنتن ( يو ١١: ٣٩-٢٧)</p>
<p>كيف تُعْلِن مرثا إيمانها في السيد وفِي ذات الوقت تستصعب المعجزة</p>
<p>هذا هو ضعفنا البشري رغم إعلاننا الإيمان بقوته لكن ما أجمل مراحم الله التي تحتوي ضعفاتنا</p>
<p>٥- قال يسوع: ارفعوا الحجر&#8230; ولما قال هذا صرخ بصوت عظيم: لعازر، هلم خارجا (يو ١١: ٤٣-٣٩ )</p>
<p>كيف الذي أقام لعازر بعد أربعة أيام لا يرفع الحجر بكلمة؟</p>
<p>هذا هو التوازن بين ما هو بشري وما هو إلهي بين ما نقدر على فعله وبين ما لا نستطيعه ونحتاج فيه لقدرته وقوّته</p>
<h4>(٣) رحمتك عظيمة- عجائبك كثيرة -فليعظم الرب (مزمور باكر والقدّاس)</h4>
<p>١- عِظَمْ توضعه وإخلاؤه لذاته</p>
<p>وضع نفسه واطاع حتى الموت موت الصليب لذلك زاده الله رفعة وانعم عليه باسم فوق كل اسم                                                                                                                                                               <strong>البولس</strong></p>
<p>٢- عِظَمْ عطيته لشعبه ومجده فيهم</p>
<p>واما أنتم فجنس مختار وكهنوت ملوكي وامة مقدسة وشعب مبرر                             <strong> الكاثوليكون</strong></p>
<p>٣- عجائبه الكثيرة التي يجعلها في خدّامه الأُمناء</p>
<p>&#8221; وكان الله يصنع علي يدي بولس قوات كثيرة حتي انهم كانوا باخذون مناديل ومازر من علي جسده ويضعونها علي المرضي فتزول عنهم الامراض وتخرج الارواح الشريرة &#8221;                                                      <strong>الإبركسيس </strong></p>
<p>٤- عِظَمْ إيمان الغرباء ومن هم خارج الحظيرة</p>
<p>&#8221; ارسل اليه قائد المئة اصدقاء يقول له يارب لاتتعب فاني لست مستحقا ان تدخل تحت سقف بيتي لذلك لم احسب ذاتي مستحقا ان اتي اليك لكن قل كلمة فيبرا فتاي &#8230;. فلما سمع يسوع هذا تعجب منه والتفت الي المجمع الذي يتبعه وقال الحق اقول لكم أنى لم أجد في كل اسرائيل ايمانا بهذا المقدار &#8221;                                <strong>  إنجيل عشيَّة</strong></p>
<p>٥- عِظَمْ الإيمان الذي يمجد الله وعِظَمْ الأعجوبة التي فاقت كل إمكانيات البشر</p>
<p>&#8221; قالت له مرثا اخت الميت يا سيد قد انتن لان له اربعة ايام قال لها يسوع الم اقل لك ان امنت ترين مجد الله &#8230; ولما قال هذا صرخ بصوت عظيم لعازر هلم خارجا &#8221;                                                          <strong>إنجيل القدَّاس</strong></p>
<h3>عظات آبائية</h3>
<h4>القديس أمبروسيوس</h4>
<p>سيأتي المسيح إلى قبرك، وإذ يجد مرثا المرأة التي تقدم خدمة صالحة، ومريم التي تهتم بقلبها بكلمة اللَّه مثل الكنيسة المقدسة التي اختارت النصيب الصالح تبكيان، يحنو عند موتك يرى دموع الكثيرين فيقول: &#8220;أين وضعتموه؟&#8221; بمعنى في أية حال من الجريمة هو؟</p>
<p>في أية رتبة بين النادمين؟</p>
<p>أريد أن أرى من تبكون عليه، لكي ما يحركني بدموعه. سأرى أن كان قد مات فعلًا بالخطية فأعالجه بالمغفرة.</p>
<p>يقول له الشعب: &#8220;تعال وأنظر&#8221;.</p>
<p>ما معنى &#8220;تعال&#8221;؟ لتأتِ مغفرة الخطايا، ولتأتِ الحياة إلى من رحل، والقيامة من الأموات، ليأتِ ملكوتك لهذا الخاطئ أيضًا</p>
<p>سيأتي ويأمر برفع الحجر هذا الذي سقط على كتفي الخاطئ.</p>
<p>كان يمكنه أن يحرك الحجر بكلمة أمره، لأنه حتى الطبيعة الجامدة تود أن تطيع أمر المسيح.</p>
<p>كان يمكنه بقوة عمله الصامت أن يحرك حجر القبر. هذا الذي أثناء آلامه تحركت حجارة كثيرة من قبور الأموات وانفتحت فجأة.</p>
<p>لكنه أمر الرجال أن يرفعوا الحجر بالحق حتى يؤمن غير المؤمنين بما يرونه، وينظرون الميت يقوم.</p>
<p>لكن هذا يحمل رمزًا ليهبنا قوة تخفيف ثقل الخطايا، الضغط الثقيل الذي على المجرم. من جانبنا نحرك الأثقال، ومن جانبه يقيم ويخرج من القبور أولئك الذين يتحررون من أربطتهم</p>
<p>الاستماع هنا ليس عن موضوع طاعة، بل هو اتحاد أبدي. بنفس الطريقة فإنه يُقال عن الروح القدس أنه يستمع للآب ويمجد الابن. إنه يمجد، لأن الروح القدس علمنا أن الابن صورة اللَّه غير المنظور (كو ١: ١٥)، وبهاء مجده، ورسم جوهره (عب ١: ٣ )</p>
<p>لماذا صرخ بصوت عظيم كمن لم يرد أن يعمل بالروح ويأمر في صمت إلاَّ لأنه أراد أن يَظهر ما هو مكتوب: &#8220;في لحظة، في طرفة عين، عند البوق الأخير سيقوم من الأموات بغير فساد&#8221; (١كو ١٥: ٥٢)؟ فإن رفع الصوت هو استجابة لدوي البوق. لقد صرخ &#8220;لعازر هلم خارجًا&#8221;. لماذا أضاف الاسم إلاَّ لئلا يظن أحد أنه قام بدلًا من آخر، أو أن الإقامة تمت عرضًا وليس بالأمر</p>
<p>يا من ترقد في ظلمة الضمير وفي فساد خطاياك كما في سجن الجريمة، هلم خارجًا. لتعلن عن خطاياك فتتبرر. &#8220;الفم يعترف به للخلاص&#8221; (رو١٠: ١٠). إن اعترفت عن دعوة المسيح فستنكسر القضبان، وتنحل كل سلسلة، بل وتزول نتانة الفساد الجسدي الخطيرة<a href="#_ftn5" name="_ftnref5">[5]</a></p>
<h3>عظات آباء معاصرين</h3>
<h4>قداسة البابا تواضروس الثاني</h4>
<p><strong>مسيحنا &#8230;حياة أبدية </strong></p>
<p>إنجيل إقامة لعازر يقرأ مرتين في السنة</p>
<p>١- في سبت لعازر قبل أسبوع الآلام مباشرة</p>
<p>٢- في الأحد الرابع من شهر أبيب</p>
<p>والقديس يوحنا  كاتب الإنجيل  لا يقدم لنا المسيح كصانع معجزات على أعلى مستوى، بل يقدم المسيح لنا باعتبار أن عنده الحياة الأبدية، ولذا قال لمرثا: «أنا هو القيامة والحياة» (يو ١١: ٢٥).</p>
<p>وهذه الآية الخارقة توازي في الأناجيل السابقة ما يلي:</p>
<p>١- إقامة ابنة يايرس (مر ٥: ٢١- ٤٣). (الخطية بالفكر)</p>
<p>٢- إقامة ابن أرملة نايين (لو ۷: ۱۱- ۱۷) (الخطية بالفعل)</p>
<p>تحدث المسيح لتلاميذه ولمن حوله في هذه المعجزة:</p>
<p>١- قال لتلاميذه: &#8230; «هذا المرض ليس للموت، بل لأجل مجد الله</p>
<p>٢- قال لمرثا: «أنا هو» القيامة والحياة (قيامة الجسد، قيامة الروح)</p>
<p>٣- قال للعازر: لعازر هلم خارجا (ع ٤٣) وهذا: نداء للتوبة والعودة  دعوة للانطلاق والعمل</p>
<p><strong>أسباب الموت الروحي</strong><strong>: </strong></p>
<p>١- الجهل الروحي: هلك شعبي من عدم المعرفة (هو ٤: ٦).</p>
<p>٢- عدم الإيمان: إن لم تؤمنوا تموتون في خطاياكم (يو ٨: ٢٤).</p>
<p>٣- الفتور: استيقظ أيها النائم فيضيء لك المسيح (أف ٥: ١٤).</p>
<p>٤- الرياء / التظاهر: أن لك اسما أنك حي وأنت ميت (رؤ ٣: ١).</p>
<p>٥- عدم التناول: إن لم تأكلوا &#8230; وتشربوا &#8230; ليس لكم حياة فيكم (يو ٦: ٥٣).</p>
<p>٦- الانفصال عن الله: مثل الابن الضال (لو ١٥)</p>
<p>٧- اهتمامات الجسد: اهتمام الجسد هو موت (رو ۸: ٦)</p>
<p>٨- الخطايا مهما تنوعت<a href="#_ftn6" name="_ftnref6">[6]</a></p>
<h3>من وحي قراءات الأحد الرابع</h3>
<p><strong>لو كنت ههنا لم يمت أخي!! </strong></p>
<p>ظنت مرثا أن الرب يخضع للزمن ولايملك الماضي</p>
<p>إعتقدت أن القيامة مرتبطة باليوم الأخير وليس بشخص المسيح له المجد</p>
<p>لو &#8211; تجعلنا لانثق في إله القدرة وقاهر المستحيلات</p>
<p>وتحصرنا في دائرة بشرية ضيقه بعيدا عن حلوله الإلهية.</p>
<p>لو &#8211; تعني اننا وقفنا أمام السد والحائط والإيمان يرفعنا أعلاه</p>
<p>وتدفعنا للتركيز في الماضي والرب يعلن قدرته الآن ويدعونا للنظر الي فوق.</p>
<p>لو &#8211; تجعلنا نعاتب الله والإيمان ينفتح على سمو تدبيره.</p>
<p>لو &#8211; هي لغة العجز والضعف البشري والإيمان يشير إلى حضور الله الذي يتجاوز ويحتوي ضعفنا.</p>
<p>لو &#8211; تعني اعتقادنا بغياب الله عن مآسي ماضينا والإيمان يفتح عيوننا علي الحلاوة التي تكمن في الجافي.</p>
<p>اكتشفت مرثا بعد قيامة أخوها أنها لم تكن من قبل تفكر وتختبر جيدا في الذي يقول أنا هو.</p>
<hr />
<p><a href="#_ftnref1" name="_ftn1"></a>١- لنلتصق إذن بالإيمان، ولا نعتمد على الحجج الصادرة عنا &#8221; القديس يوحنا ذهبي الفم &#8211; يوحنا ١١</p>
<p><a href="#_ftnref2" name="_ftn2"></a>٢- الكهنوت بحسب تعليم القديس كيرلس عمود الدين ص ٨٧ &#8211; ترجمة دكتور جورج عوضإبراهيم</p>
<p><a href="#_ftnref3" name="_ftn3"></a>٣- (ابونا أنطونيوس فكري &#8211; تفسير إنجيل يوحنا إصحاح ١١)</p>
<p><a href="#_ftnref4" name="_ftn4"></a>٤- ترجمة الأخ كيرلس كامل مرقس &#8211; كنيسة رئيس الملائكة ميخائيل &#8211; أبو قرقاص – المنيا</p>
<p>Elowsky, J.C. &amp; Oden, T.C   (2007). John 11-21 (The Ancient Christian Commentary on Scripture, New Testament part IVb ). Illinois (U.S.A): InterVarsity Press. Pages 1,7,11,17</p>
<p><a href="#_ftnref5" name="_ftn5"></a>٥- تفسير إنجيل يوحنا &#8211; القمص تادرس يعقوب ملطي</p>
<p><a href="#_ftnref6" name="_ftn6"></a>٦- المرجع: كتاب المنجلية القبطية الأرثوذكسية (صفحة ٢٦٣ ) &#8211; قداسة البابا تواضروس الثاني</p>

      {% endcreateArticleAccordions %}
    </section>
  {% endblock %}
  