---
layout: 'layouts/reading.html'
title: 'الأحد الاول من مسري'
tags: 'sundays'
permalink: /articles/sundays/12-1.html
---
  {% block content %}
    <section id="readings">
      <ul>
      {% if 'undefined' != 'undefined' %}
      
      {% else %}
      {% if '19.33:22,18' != 'null' %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">العشية</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeVespers '19.33:22,18' '41.6:45-56' %}
          </div>
        </div>
      </li>
      {% endif %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">باكر</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeMatins '19.33:20-21' '40.28:1-20' '' %}
          </div>
        </div>
      </li>
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <h3 class="flex items-center justify-between">
            <span class="kufi">القداس</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </h3>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeLitugy '46.9:1-27' '60.3:8-15' '44.19:23-40' '19.80:14-15' '42.20:9-19' %}
          </div>
        </div>
      </li>

      {% endif %}
        </ul>
    </section>
    <section id="article">
      <h3 class="mt-8 mb-4 heading-explain">شرح القراءات</h3>
      {% createArticleAccordions %}
        <p>أنا كالكرمة المنبتة النعمة، وأزهاري ثمار مجد وغنى. (يش بن سيراخ ٢٤: ٢٣)</p>
<p>&#8221; أيها الرب إله القوات ارجع واطلع من السماء انظر وتعهد هذه الكرمة،اصلحها وثبتها هذه التي غرستها يمينك &#8221; الأسبسمس الواطس - القدَّاس الباسيلي</p>
<p>&#8221; فكم مقدار الخطر الذي نوجد فيه ونحن نبغض بعضنا البعض أعضاءنا الصديقة المتحدة بنا أبناء الله أغصان الكرمة الحقيقية خراف القطيع العقلي الذي جمعه الراعي الحقيقي الابن الوحيد الجنس الذي لله الذي اصعد ذاته ذبيحة عنا ؟<a href="#_ftn1" name="_ftnref1">[1]</a> &#8221;</p>
<h3>شواهد القراءات</h3>
<p>(مز ٣٢: ١٦-١٩)  (مر ٦: ٤٥-٥٦)  (مز ٣٢: ١٨-١٧)  (مت ٢٨: ١-٢٠)  (١كو ٩ : ١-٢٧)  (١بط ٣ : ٨-١٥)   (أع ١٩ : ٢٣-٤٠)</p>
<p>(مز ٧٩ : ١٥-١٣)  (لو ٢٠ : ٩- ١٩)</p>
<h3>ملاحظات على قراءات اليوم</h3>
<p>+ قراءة الكاثوليكون اليوم (١بط ٣: ٨ - ١٥) هي نفس قراءة الكاثوليكون <a href="https://katameros.bible/church-reading/%d8%a7%d9%84%d9%8a%d9%88%d9%85-%d8%a7%d9%84%d8%b3%d8%a7%d8%a8%d8%b9-%d9%88%d8%a7%d9%84%d8%b9%d8%b4%d8%b1%d9%88%d9%86-%d9%85%d9%86-%d8%b4%d9%87%d8%b1-%d8%a8%d8%b1%d9%85%d9%88%d8%af%d8%a9/">ليومي ٢٧ برمودة</a>، <a href="https://katameros.bible/church-reading/%d8%a7%d9%84%d9%8a%d9%88%d9%85-%d8%a7%d9%84%d8%b9%d8%b4%d8%b1%d9%88%d9%86-%d9%85%d9%86-%d8%b4%d9%87%d8%b1-%d8%a3%d8%a8%d9%8a%d8%a8/">٢٠ أبيب</a>، وتُشبه قراءة الكاثوليكون <a href="https://katameros.bible/church-reading/%d9%8a%d9%88%d9%85-%d9%a3%d9%a0-%d8%b7%d9%88%d8%a8%d9%8a-%d8%aa%d8%b0%d9%83%d8%a7%d8%b1-%d8%b4%d9%87%d8%a7%d8%af%d8%a9-%d8%a7%d9%84%d8%b9%d8%b0%d8%a7%d8%b1%d9%8a-%d9%87%d9%84%d8%a8%d9%8a%d8%b3%d8%a7/">ليوم ٣٠ طوبه</a> من ١(بط ٣: ٥ - ١٤)</p>
<p>قراءة اليوم للإشارة إلى الكرمة الواحدة &#8221; كونوا جميعاً برأي واحد، وكونوا مشتركين في الآلام &#8221;</p>
<p>وجاءت<a href="https://katameros.bible/church-reading/%d8%a7%d9%84%d9%8a%d9%88%d9%85-%d8%a7%d9%84%d8%b3%d8%a7%d8%a8%d8%b9-%d9%88%d8%a7%d9%84%d8%b9%d8%b4%d8%b1%d9%88%d9%86-%d9%85%d9%86-%d8%b4%d9%87%d8%b1-%d8%a8%d8%b1%d9%85%d9%88%d8%af%d8%a9/"> يوم ٢٧ برمودة</a> (تذكار بقطر بن رومانوس)،<a href="https://katameros.bible/church-reading/%d8%a7%d9%84%d9%8a%d9%88%d9%85-%d8%a7%d9%84%d8%b9%d8%b4%d8%b1%d9%88%d9%86-%d9%85%d9%86-%d8%b4%d9%87%d8%b1-%d8%a3%d8%a8%d9%8a%d8%a8/"> ويوم ٢٠ أبيب</a> (تذكار تادرس الشطبي ) للإشارة إلي الذين لم يخشيا أمر الإمبراطور وكانوا شهوداً للمسيح له المجد ( وأما خوفهم فلا تخافوه )</p>
<p>أمَّا مجيئها <a href="https://katameros.bible/church-reading/%d9%8a%d9%88%d9%85-%d9%a3%d9%a0-%d8%b7%d9%88%d8%a8%d9%8a-%d8%aa%d8%b0%d9%83%d8%a7%d8%b1-%d8%b4%d9%87%d8%a7%d8%af%d8%a9-%d8%a7%d9%84%d8%b9%d8%b0%d8%a7%d8%b1%d9%8a-%d9%87%d9%84%d8%a8%d9%8a%d8%b3%d8%a7/">يوم ٣٠ طوبه</a> (شهادة العذاري القديسات بستيس وهلبيس وأغابي للإشارة إلى مكانه المرأة ورسالتها في خلاص زوجها وأسرتها (هكذا كانت قديماً النساءالقديسات)</p>
<p>+ قراءة الإبركسيس اليوم (أع ١٩: ٢٣ - ٤٠) تكررت في قراءة <a href="https://katameros.bible/church-reading/%d8%a7%d9%84%d9%8a%d9%88%d9%85-%d8%a7%d9%84%d8%b3%d8%a7%d8%a8%d8%b9-%d9%88%d8%a7%d9%84%d8%b9%d8%b4%d8%b1%d9%88%d9%86-%d9%85%d9%86-%d8%b4%d9%87%d8%b1-%d8%a8%d8%b1%d9%85%d9%88%d8%af%d8%a9/">يوم ٢٧ برموده</a> ،<a href="https://katameros.bible/church-reading/%d8%a7%d9%84%d9%8a%d9%88%d9%85-%d8%a7%d9%84%d8%b9%d8%a7%d8%b4%d8%b1-%d9%85%d9%86-%d8%a8%d8%b4%d9%86%d8%b3/"> ويوم ١٠ بشنس</a></p>
<p>وهي القراءة التي تكشف عن رفض السجود للتماثيل والضيقة التي حدثت بسببها لذلك جاء في تذكار الثلاثة فتية القديسين <a href="https://katameros.bible/church-reading/%d8%a7%d9%84%d9%8a%d9%88%d9%85-%d8%a7%d9%84%d8%b9%d8%a7%d8%b4%d8%b1-%d9%85%d9%86-%d8%a8%d8%b4%d9%86%d8%b3/">(يوم ١٠بشنس)</a> وفِي تذكار شهادة بقطر إبن رومانوس <a href="https://katameros.bible/church-reading/%d8%a7%d9%84%d9%8a%d9%88%d9%85-%d8%a7%d9%84%d8%b3%d8%a7%d8%a8%d8%b9-%d9%88%d8%a7%d9%84%d8%b9%d8%b4%d8%b1%d9%88%d9%86-%d9%85%d9%86-%d8%b4%d9%87%d8%b1-%d8%a8%d8%b1%d9%85%d9%88%d8%af%d8%a9/">(يوم ٢٧ برموده)</a></p>
<p>ومجيئها اليوم للإشارة إلي كرمة العهد الجديد التي طُعِّمَت بأغصان من الأمم (من كل آسيا)، وأيضا الضيقات التي تجتازها كنيسة الله التي هي كرمة العهد الجديد</p>
<h3>شرح القراءات</h3>
<p>تتركز قراءات هذا اليوم على الكنيسة كرمة العهد الجديد والأب كرَّامها ولعلَّ بداية قراءات البولس والكاثوليكون والإبركسيس تُعبِّر عن ماهية الكنيسة ومعناها فيبدأ البولس بتأكيد القديس بولس علي رسوليته وقانونية خدمته ونقاوتها &#8221; ألست أنا رسولاً ألست أنا حراً</p>
<p>بينما يبدأ الكاثوليكون بالفكر والقلب الواحد كإعلان عن المعني الحقيقي للكنيسة &#8221; والنهاية كونوا جميعا فكر واحد &#8221; وفِي الإبركسيس يبدأ بالضيقة وهياج الشيطان كتأكيد علي قوَّة الكنيسة وعدم احتمال العالم أمام نور ابن الله فيها</p>
<p>&#8221; وحدث إضطراب وشغب بسبب هذا الطريق &#8221;</p>
<p>(ممكن السطر ده بخط ثقيل عن الباقي) وكأن الكنيسة هي رعاية الإكليروس الباذلة ووحدة كل أعضائها في الفكر والقلب وطريق الآلام الذي تسير فيه الكنيسة في العالم</p>
<p>تبدأ القراءات بالمزامير في رعاية الكرّام لكرمته                 (مزمور عشيّة)</p>
<p>والتصاق الأغصان به                                                   (مزمور باكر)</p>
<p>والدعم والتنقية الدائمة لها منه                                   (مزمور القدَّاس)</p>
<p>فعين الكرام دائما على اغصان الكرمة في مزمور عشية (هوذا عينا الرب علي خائفيه والمتكلين على رحمته)</p>
<p>واغصان الكرمة في مزمور باكر تنظر بلهفة إلي الكرام سر فرحها (نفسنا تنتظر الرب في كل حين لأنه هو معيننا وناصرنا وبه يفرح قلبنا)</p>
<p>وفي مزمور القداس تطلب الكرمة من الكرام ان يتعدها ويثبتها فيه (وانظر وتعهد هذه الكرمة أصلحها وثبتها هذه التي غرستها يمينك)</p>
<p>وفي انجيل عشية الكنيسة في وسط بحر العالم والكرام يبدوا وكأنه بعيدا عنها وهي معذبة من أمواج العالم لكنه يأتي اليها في الوقت المناسب (فلما ودعهم مضي الي الجبل ليصلي ولما صار المساء كانت السفينة في وسط البحر وهو وحده كان على الشاطئ فراهم معذبين في الجدف لان الريح كانت ضدهم وفي الهزيع الرابع من الليل اتاهم ماشيا علي البحر وكان يريد ان يتجاوزهم فلما راوه ماشيا علي البحر ظنوه خيالا فصرخوا لان الجميع راوه واضطربوا فللوقت كلمهم وقال لهم تشجعوا انا هو لا تخافوا فصعد اليهم الي السفينة فسكنت الريح)</p>
<p>وفِي القراءات أمانة العاملين في الكرم (البولس) ومعونة الرب لهم ودفاعه عنهم (الكاثوليكون ) وهياج العالم عليهم (الإبركسيس )</p>
<p>في البولس الاباء الرسل كأغصان في الكرمة وفي ذات الوقت عاملين مع الكرَّام لأجل تطعيم اغصان جديدة في الكرمة (ومن يغرس كرما ولا يأكل من ثمره &#8230;. لكننا لم نستعمل هذا السلطان، بل نتحمل كل شيء لئلا نجعل عثرة لإنجيل المسيح &#8230;. فاني اذ كنت حرا من الجميع استعبدت نفسي للجميع لأربح الاكثرين &#8230; صرت للضعفاء كضعيف لأربح الضعفاء صرت للجميع كل نوع لأخلص على كل حال قوما)</p>
<p>اما الكاثوليكون فيتكلم عن وحدة أغصان الكرمة في الراي وفي الالم (والنهاية كونوا جميعا براي واحد وكونوا مشتركين في الالام)</p>
<p>كما يعلن حماية الكرَّام للأغصان (واما وجه الرب فهو ضد فاعلي الشر فمن ذا الذي يمكنه ان يؤذيكم ان كنتم غيورين في الخير، ولكن وان تألمتم من اجل البر فطوباكم واما خوفهم فلا تخافوه ولا تضطربوا بل قدسوا الرب المسيح في قلوبكم)</p>
<p>بينما يوضح الابركسيس ان نمو الكرمة واتساعها وزيادة اغصانها يسبب هياج العالم على الكنيسة (وحدث في ذلك الوقت اضطراب ليس بقليل بسبب هذا الطريق &#8230; وأنتم تنظرون وتسمعون انه ليس من افسس فقط بل من جميع أسيا تقريبا قد استمال بولس هذا جمعا كثيرا قائلا ان هذه التي تصنع بالأيادي ليست الهه &#8230;.)</p>
<p>ويختم انجيل القداس بمثل الكرم والكرَّامين الذي فيه الآب الكرَّام يطلب دائما من ثمر الكرم ويعلن رفض الامة اليهودية لكرمة الخلاص التي أعدها الآب للبشرية في شخص ابنه الوحيد &#8221; كان أنسان غرس كرما وسلمه الي كرامين وسافر زمانا طويلا وفي الوقت أرسل عبدا الي الكرامين ليعطوه من ثمر الكرم فجلده الكرامون وارسلوه فارغا &#8230; فأخرجوه خارج الكرم وقتلوه فماذا يفعل بهم صاحب الكرم يأتي ويهلك هؤلاء الكرامين ويعطي الكرم لأخرين &#8230; الحجر الذي رذلة البناؤون هذا قد صار راس الزاوية &#8221;</p>
<p>(الحجر المرفوض= (مز ١١٨: ٢٢- ٢٣). قيل إنه عند بناء هيكل سليمان أن البنائين وجدوا حجراً ضخماً فظنوا أنه لا يصلح لشيء فاحتقروه، ولكن إذ احتاجوا إلى حجر في رأس الزاوية (ليجمع حائطين كبيرين) لم يجدوا حجراً يصلح إلاّ الحجر الذي سبق واحتقروه. وكان ذلك رمزاً للسيد المسيح الذي احتقره رجال الدين اليهودي، ولم يعلموا أنه الحجر الذي سيربط بين اليهود والأمم في الهيكل الجديد ليصير الكل أعضاء في الملكوت الجديد. وفي هذا القول إشارة لموته وقيامته<a href="#_ftn2" name="_ftnref2">[2]</a>.)</p>
<h3>ملخّص القراءات</h3>
<p>كرمة العهد الجديد تتطلع دائما إلي كرَّامها الذي لا يكف عن رعايتها واصلاحها                        (المزامير)</p>
<p>ووحدة أغصانها في الراي والالم يحميها من مخاوف الأشرار                                          (الكاثوليكون)</p>
<p>وهياج العالم لا يستطيع ان يفقدها سلامها                                                (انجيل عشية والابركسيس)</p>
<p>والكرَّام ينتظر دائماً ثمر كرمته في كنيسته                                                 (البولس وانجيل القداس)</p>
<h3>  إنجيل القدَّاس في فكر آباء الكنيسة</h3>
<p>&#8221; هَذا المَثَلُ مَجازيّ: حيثُ يُعَدُّ اللهُ صاحب الكرمة التي قد استودعها لأُجَراء إرساء الدين اليهودي.&#8221; (القدّيس أمبروسيوس)</p>
<p>&#8220;الله الذي غَرَسَ الكرمة سافر بعيدًا لزمانٍ طويل. لَكنّه في زمان سَفَرِه أرسل أنبياء ليخبروا بخطّته للخلاص وبدينونته لرافضيه. أمّا الفَعَلَة، فقد أوهمتهم جهالتهم وصَوَّرَ لهم شرّهم انهم سيرثون الكرمة إذا قَتَلوا الابن! سيرثون الكرمة إذا قَتَلوا الابن، الوارث المالك لكلّ ما للآب.&#8221; (القدّيس كيرلُّس السكندري).</p>
<p>&#8220;يُفَسِّرُ يسوع لتاريخ الخلاص دلالةَ موته، حيثُ هو مزمعٌ أنْ يأخذ الميراث - الكرمة المغروسة في أرض إسرائيل مِن هؤلاء الذين ائتَمَنهُم عليها، ويعطيها للأمم.&#8221; (مار إفرام السرياني).</p>
<p>&#8220;بعد يوم الخمسين، ستُعطى الكرمة للرّسل ومُعلِّمِي الكنيسة، أيْ إسرائيل الجديد.&#8221; (القدّيس كيرلُّس السكندري).</p>
<p>&#8220;إذن فالكنيسة هي الكرمة، والآب الكَرّاّم؛ أمّا المسيح، فهو عصير الكرمة الذي به امتزجنا على خشبة الصليب، حتى ننال شركةَ المواهب السمائية.&#8221; (القدّيس أمبروسيوس).</p>
<p>&#8220;الخوف هو سمة الشعب في الاستجابة. &#8220;ليس هَكذا ينبغي أنْ يكون الأمر.&#8221; بَلْ لعل السبب في خشيةِ الشعب هو إدراكه لمدى ما في كلمات المسيح مِن خطورة.&#8221; (القدّيس كيرلُّس السكندري).</p>
<p>&#8220;يسوع لم يُجِبْ؛ لأن الأيام القليلة التالية للحدث أتت بالإجابة. ومع ذلك، فأن الإجابة جليّة: إنه هو الحَجَر الذي رَفَضهُ البنّاؤون.&#8221; (مار إفرام السرياني).</p>
<p>&#8220;يسوع إذ هو حَجَر الزاوية، يجمع فريقين مِن الخَلْقِ سويًّا؛ – اليهود والأمم - في جسدٍ واحد هو الكنيسة. إن الكتبة ورؤساء الكهنة قد عَلِموا أن كثيرين قد آمنوا بتعليمه، فلم يقبضوا على يسوع خشيةَ استثارة الناس. والأكثر أهمية هو أن رجال الدين هؤلاء رأوا زعزعة مكانتهم وسقْطتهم مِن خلال قراءةِ يسوع لتاريخ الخلاص.&#8221; (القدّيس كيرلُّس السكندري).</p>
<p><strong>20:9-15 </strong><strong>مَثَل الفَعَلة في الكرمة. </strong></p>
<p>&#8220;الكرمة هي بيت إسرائيل المودع لليهود.&#8221; (القدّيس أمبروسيوس): كثيرون جدًّا مِن الشُرّاّح قد فَسَّروا بعدّة معانٍ كلمة الكرمة. أمّا أشعياء، فقد أنبأ ببيانٍ أن كرمةَ رب الجنود هي بيت إسرائيل. فمَن ذا الذي يكون قد غَرَسَ هَذه الكرمة غير الله؟ تركها لأُجَراء وسافَرَ إلى كورةٍ بعيدة. إن الرب إذ هو حاضر في كل مَوْضِع لا يرتحل مِن مكانٍ لآخَر؛ بَلْ هو حاضرٌ أمام الذين يحبّونه، غائبٌ عن وجه مَن يتركونه. أزمنة طويلة تلك التي كان فيها غائبًا؛ لأَلّا تبدو دينونته غير مُستحَقَّة. فكلما عَظُمَ قدر السخاء تَكَشَّفَ كيف يكون بلا عُذْر كل مَن يمضي في عناده.</p>
<p>إنه هَكذا قد ترك كرمته الحصينة المُهيَّأة المزيّنة لليهود.&#8221; (شرْح إنجيل لوقا 9:23-24)<a href="#_ftn3" name="_ftnref3">[3]</a></p>
<h3>الكنيسة في قراءات اليوم</h3>
<p>الجهاد والمجازاة والإكليل                                                    البولس</p>
<p>الكنيسة الكرمة والآب الكرّام وابن الله حجر الزاوية                    إنجيل القدَّاس</p>
<p>الأنبياء خدًام الخلاص                                                      إنجيل القدَّاس</p>
<h3>أفكار مقترحة لعظات</h3>
<p><strong>١- ما هي الكنيسة الكرمة المُشتهاة (أش ٢:٢٧)</strong></p>
<p>١- موضع مراحم الله ورعايته ونصرته وهو الذي يتعدها ويصلحها                           (مزمور عشية وباكر والقدّاس)</p>
<p>٢- سفينة في وسط البحر لكنه لا يتركها ويُسكِّت كل ريح ضدّها                                        (إنجيل عشية)</p>
<p>٣- خدام يفعلون أي شيء لأجل أن يربحوا النفوس للمسيح &#8221; فإني إذ كنت حراً من الجميع استعبدت نفسي للجميع لأربح الأكثرين فصرت لليهود كيهودي لأربح اليهود &#8221;                                                                   ( البولس )</p>
<p>٤- شركة الآلام والفكر الواحد ونقاوة المحبّة &#8221; والنهاية كونوا جميعاً برأي واحد وكونوا مشتركين في الآلام وكونوا محبين الأخوة &#8221;                                                                                                                    ( الكاثوليكون )</p>
<p>٥- يهيج العالم دائماً ضدِّها &#8221; وحدث في ذلك الوقت اضطراب ليس بقليل بسبب هذا الطريق &#8221;          ( الإبركسيس )</p>
<p>٦- يسأل الكرّام دائماً خدّامه ورعاته ويطلب منهم ثمر الكرم &#8221; وفِي الوقت أرسل عبداً إلى الكرامين ليعطوه من ثمر الكرم &#8221; (إنجيل القدَّاس)</p>
<p><strong>(٢) ماهي الكنيسة (كيف يري الراعي شعب الله)</strong></p>
<p>كيف يري الراعي شعبه ومخدوميه؟</p>
<p>١- أنتم فلاحة الله بناء الله &#8221; (١كو ٣: ٩)</p>
<p>وأما أنتم فاللمسيح والمسيح لله (١كو٣:٢٣)</p>
<p>ما أجمل أن يري الراعي أو خادم الله شعبه أنهم فلاحة الله وبناء الله وليسوا فلاحته هو وإذا كان يغرس أو يسقي (١كو ٣: ٦) لكن النمو من عمل نعمته</p>
<p>٢- أنتم عملي في الرب (١كو ٩: ١-٢)   أنتم ختم رسالتي في الرب</p>
<p>أنتم رسالتنا مكتوبة في قلوبنا (٢كو٣: ٢)</p>
<p>إحساس الراعي بمسؤوليته أن يكون الشعب &#8221; في الرب &#8221; أي ملتصقين به وأن يكونوا في قلبه أي لا يكف عن الصلاة لأجلهم</p>
<p>٣- كما أنتم شركاء في الآلام كذلك في التعزية أيضاً (٢كو ١: ٧)</p>
<p>التصاق الراعي بآلام الناس ووحدة المصير مع من يخدمهم وشركة التعزية الآتية من المسيح له المجد</p>
<p>٤- وأنتم أيضاً مساعدون بالصلاة لأجلنا (٢كو١:١١)</p>
<p>يشعر الراعي دائماً باحتياجه لصلوات من يخدمهم كما يطلبون منه أن يُصلِّي لأجلهم وما أجمل ما أعلنه القديس بولس في تعزية الإيمان من شعب كنيسة رومية إيمانكم وإيماني – (رومية١٢:١) ويُمْكِن أن يتشجَّع بهم (أع ١٥:٢٨)</p>
<p>٥- أنتم محتملي (٢كو١١: ١)</p>
<p>يعتقد البعض أن الراعي دائماً هو الذي يحتمل من يخدمهم لكن ما أجمل أن يُقَدِّر الشعب عدم كمال وضعف من يخدمهم ويساندوه بمحبَّتِهم</p>
<p>٦- أنتم الذين جميعاً شركائي في النعمة &#8221; (في٧:١)</p>
<p>لا يوجد هنا تمايز من ناحية القيمة بل يشعر الراعي دائماً بالقيمة المتساوية لمن يخدمهم أمام الله (٢بط ١: ١)</p>
<p>٧- أنتم أيضاً مدعوَّو يسوع المسيح  (رو٦:١)</p>
<p>نحن نخدم مدعوَّو يسوع المسيح وهو الذي يوصينا دائماً عليهم (أع ٢٨:٢٠)</p>
<p>٨- أنتم مجدنا وفرحنا (١تس ٢: ٢٠)</p>
<p>إخوتي الأحباء والمُشْتَاق إليهم يا سروري وإكليلي (في١:٤)</p>
<p>ما أجمل أن يشعر كل عضو في الكنيسة أنه مصدر فرح لمن يخدمه وموضع سرور رعاته وأنه مُشْتاق اليه من رعاته وخدّامه</p>
<p><strong>(٣) الثبات في الكرمة</strong></p>
<p>١- ثبات الغصن في المسيح له المجد (الكرمة) هو أساس الثبات ومصدر الثمار</p>
<p>اثبتوا في وأنا فيكم. كما أن الغصن لا يقدر أن يأتي بثمر من ذاته إن لم يثبت في الكرمة، كذلك أنتم</p>
<p>أيضا إن لم تثبتوا في (يو ١٥: ٤) فكيف نستطيع الثبات أمامهم إن لم تكن أنت في نصرتنا؟ (١مك٣ :٥٣)</p>
<p>٢- الثبات في محبّته وحفظ وصيته هو علامة الثبات</p>
<p>إن حفظتم وصاياي تثبتون في محبتي، كما أني أنا قد حفظت وصايا أبي وأثبت في محبته. (يو ١٥: ١٠)</p>
<p>٣- الثبات في مخافة الرب والشهادة للحق والتمسُّك ببرِّه الإلهي هو ضمان وأمان الثبات</p>
<p>من لم يحرص على الثبات في مخافة الرب، يهدم بيته سريعا (يش بن سيراخ ٢٧: ٤)</p>
<p>فاثبتوا ممنطقين أحقاءكم بالحق، ولابسين درع البر (أف ٦: ١٤)</p>
<p>٤- السهر على نقاوة الإيمان هو قوَّة الثبات</p>
<p>اسهروا. اثبتوا في الإيمان. كونوا رجالا. تقووا. (١كو ١٦: ١٣)</p>
<p>٥- الثبات على تقليد الكنيسة الحي وتعاليم الآباء هو أمان الكنيسة من التعاليم الغريبة</p>
<p>فاثبتوا إذا أيها الإخوة وتمسكوا بالتعاليم التي تعلمتموها، سواء كان بالكلام أم برسالتنا. (٢تس ٢: ١٥)</p>
<p>٦- ثبات خدَّام الله في التجارب يرجع لحياة التقوى والبرّ</p>
<p>يا بني، إن أقبلت لخدمة الرب الإله، فاثبت على البر والتقوى، وأعدد نفسك للتجربة. (يش بن سيراخ ٢: ١)</p>
<p><strong>(٤) من كنوز &#8221; اشعياء ٤٩</strong></p>
<p>كيف يرانا الله؟.كيف نري نحن انفسنا؟</p>
<p>*من (اش١-٤)</p>
<p>كيف يرانا الله؟</p>
<p>&#8221; الرب من البطن دعاني&#8230;وجعل فمي كسيف حاد&#8230;،وجعلني سهما مبريا&#8230;.قال لي أنت عبدي&#8230;الذي به اتمجد&#8230;..&#8221;</p>
<p>كيف نري نحن أنفسنا؟</p>
<p>&#8221; اما أنا فقلت عبثا تعبت باطلا وفارغا افنيت قدرتي &#8221;</p>
<p>*من (اش٥-١٣)</p>
<p>كيف يرانا الله؟</p>
<p>&#8221; فأتمجد في عيني الرب والهي يصير قوتي&#8230;..جعلتك نورا للأمم&#8230;..اجعلك عهدا للشعب لإقامة الارض لتمليك املاك البراري&#8230;..اجعل كل جبالي طريقا ومناهجي ترتفع &#8221;</p>
<p>كيف نري نحن أنفسنا؟</p>
<p>&#8221; هكذا قال الرب&#8230;..للمهان النفس لمكروه الأمه لعبد المتسلطين &#8221;</p>
<p>*من (اش١٤-١٩)</p>
<p>كيف يرانا الله؟</p>
<p>&#8221; هل تنسي المراه رضيعها فلا ترحم ابن بطنها حتي هؤلاء ينسين وانا لا انساك هوذا علي كفي نقشتك…انك تلبسين كلهم كحلي وتتنطقين بهم كعروس&#8230;.ويتباعد مبتلعوك &#8221;</p>
<p>كيف نري نحن أنفسنا؟</p>
<p>&#8221; وقالت صهيون قد تركني الرب وسيدي نسيني &#8221;</p>
<p>*(اش٢٠-٢٦)</p>
<p>كيف يرانا الله؟</p>
<p>&#8221; فيأتون بأولادك في الاحضان وبناتك علي الاكتاف يحملن&#8230;..ويكون الملوك حاضنيك&#8230; وانا اخاصم مخاصمك واخلص اولادك..</p>
<p>كيف نري نحن أنفسنا؟</p>
<p>&#8221; فتقولين في قلبك من ولد لي هؤلاء وانا ثكلي وعاقر منفيه ومطرودة وهؤلاء من رباهم هانذا كنت متروكه وحدي هؤلاء اين كانوا</p>
<h3>عظات آبائية</h3>
<h4>مثل الكرم والكرامين حسب تعليم القديس كيرلس الكبير</h4>
<p>ماذا يقول المسيح إذن لرؤساء اليهود عندما يطرح أمامهم تلك الأشياء النافعة للخلاص؟ &#8221; إنسان غرس كرماً وسلَّمه إلى كرامين وسافر زماناً طويلاً &#8220;.</p>
<p>إذا فحص أي شخص عن معنى ما قيل هنا بعين الذهن الثاقبة، فإنه سوف يجد كل تاريخ بنى إسرائيل باختصار في ثنايا هذه الكلمات، لأن المرنم يوضح من هو الذي غرس الكرم، وما الذى يفهم بالحقيقة عن الكرم المغروس، عندما يقول للمسبح مخلص الجميع عن الإسرائيليين: &#8221; كرمة نقلتَ من مصر، طردت أمما وغرستها، هيأت طريقاً قدامها، وغرست جذورها حتى مَلأت الأرض &#8221;</p>
<p>(مز٧٩: ٨-٩). وأيضاً يُعلن النبي المبارك إشعياء نفس الشيء ويقول:&#8221; كان لحبيبي كرم على أكمه في مكان خصيب &#8221;</p>
<p>(إش٥: ١).</p>
<p>ويضيف بعد ذلك ليشرح معنى ما قد قيل سابقاُ بشكل غامض:</p>
<p>&#8221; إن كرم رب الجنود هو رجال يهوذا ، غرس جديد ومحبوب &#8220;(إش٥: ٧). فالذي غرس الكرم إذاً هو الله، وهو نفسه الذي سافر بعيدا لزمان طويل. ولكن إن كان الله يملأ كل الأشياء، ولا يمكن أن يكون غائباً عن الموجودات بأي حال فكيف إذن يذهب صاحب الكرم بعيداً لزمان طويل؟ هذا يعنى أنه بعدما ظهر لهم في شكل نار عند نزوله على جبل سيناء في أيام موسى – هذا الذي أعطاهم الناموس كوسيط - فإنه لم ينعم عليهم مرَّة أخرى بحضوره في صورة مرئية، ولكنها يستخدم تشبيهاً مستعاراً من الأمور البشرية، ليبين أنَّ علاقته بهم كانت مثل واحد سافر لزمان طويل.</p>
<p>وكما سبق أن قلت إنه سافر، ولكن من الواضح أنه كان يعتنى بكرمه، وكان يفكر فيه باستمرار، لأنه أرسل خداماً أمناء فى ثلاث أوقات مختلفة لكي يتسلموا المحصول، أى الثمر من الكرامين فلم تكن هناك مناسبة في هذه الفترة لم يرسل الله فى أثناها أنبياء وصديقين لينذروا بنى إسرائيل، ويحثوهم ليعطوا أثماراً توافق الحياة المجيدة اللائقة التي حسب الناموس، أما هم فكانوا أشرارا وعصاة وعنيدين، وتقسّى قلبهم ضد التحذير، فلم يصغوا بأي طريقة للكلمة التي كان يمكن أن تنفعهم. لأنه حتى النبى إشعياء كواحد كان - كأنه مغشيَّا عليه من الأتعاب والمعاناة بدون فائدة - يقول: &#8221; يارب من صَدّقّ خبرنا؟&#8221; (إش٥٣: ١). لذلك فباستخفافهم بأولئك الذين قد أُرسلوا إليهم، &#8221; فإنهم أرسلوهم فارغين بمعنى أنه لا يوجد شئ حسن يقولونه عنهم لله الذى أرسلهم. وأيضا فإن النبي إرميا يلوم الشعب اليهودي وحكامه بسبب عجرفتهم الزائدة بقوله: &#8221; لمن أتكلم وأشهد حتى يسمع؟ ها إن آذانهم غير مختونة فلا يقدرون أن يسمعوا، ها إن كلمة الرب قد صارت لهم عاراً، ولا يقبلونها &#8221; (إر٦: ١٠). ويتكلم فى موضع آخر عن أورشليم هكذا:&#8221; داوينا بابل فلم تُشف ، فلنتركها ولنذهب كل واحد إلى أرضه، لأن دينونتها بلغت السماء&#8221; (إر٥١: ٩). وكما قلت سابقاً إنه يدعو أورشليم بابل لأنها لم تختلف عن فارس فى عدم طاعتها وارتدادها، ولأنها لم تخضع نفسها للوصايا المقدسة، وربما لأنها قد حسبت مثل من لا معرفة له بالله، لأنها اختارت أن تعبُد المخلوق بدلاً من الخالق وتسجد لأعمال يديها، لأن بنى إسرائيل كانوا مذنبين بتهمة الارتداد وعبادة الأوثان. فهذه هي إذن الطريقة التي طردوا بها بخزي أولئك الذين أُرسلوا إليهم.</p>
<p>أما رب الكرم فإنه يتفكر فى نفسه ويقول: &#8221; ماذا أعمل &#8220;؟ يجب علينا أن نتمعن جيدا بأي معنى يقول هذا. هل يستخدم صاحب الكرم هذه الكلمات لأن ليس لديه مزيد من الخدام؟ بالتأكيد لا، لأنه لا ينقصه خدام آخرون يتممّون إرادته المقدسة، ولكن كما يقول طبيب عن شخص مريض، ماذا أعمل؟ إننا نفهم أنه يقصد أنه جًرَّب معه كل وسائل المهارة الطبية، ولكن بلا جدوى.</p>
<p>وهكذا نحن نؤكد أيضا أنَّ رب الكرم بعدما أظهر كل لطف وعناية بكرْمه، ولكن بدون أي نفع، فهو يقول: أرسل أبني الحبيب لعلهم يهابونه. لاحظ في هذا القول إنه أرسل الابن بعد الخدام، ولكن ليس كواحد محسوب ضمن الخدام، بل كابن حقيقي ولذلك فهو الرب. لأنه حتى وإن كان قد أخذ شكل العبد لأجل التدبير، إلا أنه لا يزال إلهاً والابن الحقيقي لله الآب ويملك السلطان الطبيعي، هل كرموا حينئذ هذا الذي أرسل كابن ورب، وكمن يملك بالخيرات كل ما لله الآب؟ هم لم يكرموه، لأنهم ذبحوه خارح الكرم بعد أن خطّطوا فى أنفسهم هدفاُ غبياً يدل على الجهل، ومملوء بكل خبث؛ لأنهم قالوا:&#8221;هلموا نقتله لكي يصير لنا الميراث:&#8221;. ولكن أخبرني أنت كيف تصوَّرت هذا؟ فهل أنت أيضا ابن الله الآب، هل ينحدر إليك الميراث كحق طبيعي؟ وإذا أنت طرحت الوارث خارج الطريق فكيف تصير سيداً لهذا الميراث الذي اشتهيه؟</p>
<p>وبالأكثر كيف لا يكون افتراضك هذا سخيفاً، لأن الرب هو بالحقيقة ابن ووارث لسلطان الله الآب بحق جوهره، فإنه عندما صار إنسانا دعا أولئك الذين آمنوا به إلى مشاركته فى ملكوته. أما هؤلاء الناس فأرادوا أن يأخذوا المملكة لأنفسهم وحدهم، دون يسمحوا للابن بأى مشاركة له معهم فى الميراث، مغتصبين لأنفسهم وحدهم الميراث الرباني. ولكن هدفهم هذا كان مملوء جهالة ويستحيل تحقيقه، لذلك يقول داود المبارك عنهم فى المزامير: &#8221; الساكن فى السماء يضحك بهم، والرب يستهزئ بهم&#8221; (مز٢: ٤).</p>
<p>لذلك فإن رؤساء المجمع اليهودى قد طُرحوا خارجا بسبب مقاومتهم لمشيئة الرب، إذ جعلوا الكرْم الذي استعينوا عليه بلا ثمر، لأن الله قال فى موضع ما: &#8221; رعاة كثيرون أفسدوا كرمي، داسوا نصيبي، جعلوا ميراثي المشتهى برية خربة جعلوه خراباً مهجوراً &#8221;</p>
<p>(إر١٢: ١٠- ١١). وقيل أيضاً بصوت إشعياء: &#8221; قد انتصب الرب للتو للمحاكمة، الرب نفسه سيدخل فى المحاكمة مع شيوخ ورؤساء الشعب، وأنتم لماذا أحرقتم كرْمي؟ &#8221; (إش٣: ١٣-١٤). وأولئك مثل الذين جَعَلوا الأرض عقيمة، لكونهم أشرار، فإنهم هلكوا بالشرور لأنه من العدل والعدل جدَّا، بما أنهم كسالى وقاتلون للرب فإنهم يكونون فريسة لتعاسات شديدة جدَّا.</p>
<p>وقد أُعطى الكرم إلى كرامين آخرين، من يكون هؤلاء الكرامون؟ إنني أجيب أنهم جماعة الرسل القديسين الكارزين بوصايا الإنجيل، وخدَّام العهد الجديد الذين هم معلٍّمون للعبادة الروحية، والذين عرفوا كيف يُوجِّهون الناس توجيهاً صحيحاً غير ملوم، ويقودوهم بطريقة ممتازة جدًّا نحو كل ما يرضي الله ويسره. وهذا أنت تتعلمه مما يقوله الرب بصوت إشعياء النبي إلى أُم اليهود، وهو المجمع: &#8221; وأرد يدى عليكِ، وأُمحصك لأنقيكِ، وسوف أهدم الذين لا يطيعون، وسوف أنزع منكِ جميع فاعلي الإثم، وسوف أخفض كل من يتشامخ، وأقيم قضاتك كما في الأول ، ومشيريك كما في البداءة&#8221;*(إش١: ٢٥- ٢٦). ويشير بهؤلاء كما قلت إلى كارزي العهد الجديد الذين يقول عنهم الرب بفم إشعياء في موضع ما: &#8220;وتُدعون كهنة الرب وخدام الله&#8221;</p>
<p>(إش٦١: ٦). أما بخصوص أنَّ الكرم قد أُعطى إلى كرامين آخرين، فهذا لا يعني فقط الرسل القديسين، ولكن يُقصد أيضاً الذين أتوا بعدهم، حتى ولو لم يكونوا من نسل إسرائيل، وهذا ما يعلنه الله بوضوح حيث يقول بفم إشعياء لكنيسة الأمم ولبقية إسرائيل: &#8220;ويأتي الغرباء فى الجنس ويرعون غنمكم والغرباء فى العشيرة سوف يكونون حرًّاثين وكرامين&#8221; (إش٦١: ٥). لأنه فى الواقع قد دعي كثيرون من الأمم وقديسون كثيرون منهم قد أُحصوا ضمن من صاروا معلمين ومرشدين، بل وإلى وقتنا هذا يزرعون بذار التقوى في المسيح في قلوب المؤمنين، ويجعلون الأمم الذين يقومون برعايتهم مثل كروم جميلة فى نظر الله.<a href="#_ftn4" name="_ftnref4">[4]</a>.</p>
<h4>هوذا حصادنا للقديس أمبروسيوس</h4>
<p>يذكر إشعياء بوضوح أن كرم رب الجنود هو بيت إسرائيل (إش ٥: ٧)، موجد هذا الكرم هو الله الذي سلمه وسافر بعيدًا، لا بمعنى أن الرب سافر إلى مكان آخر، إذ هو دائمًا حاّل في كل مكان، لكنه يظهر وجوده واضحًا جدًا في الذين يحبون، ويظل بعيدًا عن الذين يتركونه.</p>
<p>يذكر إنجيل متى أنه أحاطه بسياج (مت٢١: ٣٣)؛ (مر١٢: ١)، أي قوّاه بسياج العناية الإلهية ليحفظه من هجوم الوحش الروحي.</p>
<p>حفر معصرة، لأن أسرار آلام المسيح تبدو كالخمر الجديدة&#8230; وقد ظن الجمع أن التلاميذ سكارى حين نالوا الروح القدس (أع ٢: ١٣). حفر حوض معصرة لكي يُسكب فيه الثمر الداخلي</p>
<p>بنى برجًا، إذ وهبهم الناموس.</p>
<p>في زمن الإثمار أرسل عبيده؛ حسنًا فعل إذ أرسلهم في زمن الإثمار لا زمن الحصاد، لأن اليهود لم يقدموا أي ثمر&#8230; ولم تمتلئ معاصر اليهود من الخمر، بل سُفك دم نابوت في هذه الكرمة (١مل ٢١: ١٣)، وتنبأ دمه أنه سيكون لهذه الكرمة شهداء كثيرون&#8230; أرسل الله كثيرين، فردهم اليهود بلا كرامة ولا منفعة، لا يحملون منهم ثمرًا. أخيرًا أرسل إليهم ابنه الوحيد، فأرادوا التخلص منه بكونه الوارث، فأنكروه وقتلوه صَلْبًا</p>
<p>اعتاد الكرَّام الرحوم أن يهتم بهذا الكرم ويشذّبه وينقيه مما تكدس من كتل الحجارة. تارة يحرق بالشمس خبايا (شهوات) جسدنا، وأخرى يروي الكرم بالمطر، ويسهر عليه حتى لا تنبت الأرض شوكًا ولا يكسوها أوراق كثيرة، فيضغط غرور الكلمات الباطلة على الفضائل وينزع نموها، ويبطل نضوج البساطة وكل سمة صالحة.</p>
<p>ليحفظنا الله من أجل نهاية هذا الكرم الذي يسنده الرب المخلص، حارسًا إياه ضد كل خداع الدهر بسياج الحياة الأبدية&#8230;</p>
<p>هوذا حصادنا! ففي غمار السعادة والأمان يملأ البعض أحشاءهم الداخلية من عنب الكرم اللذيذ. وليدقق آخرون في هبات السماء، وليبصر الكثيرون ثمار البركات الإلهية عند أقدام إرادتهم بعد خلع نعالهم فيصبغوا أقدامهم العارية بالخمر الذي ينهمر عليهم، لأن الموضع الذي هم فيه أرض مقدسة (خر ٣: ٥) &#8230;</p>
<p>سلام لك أيها الكرم الثمين من أجل هذا الحارس، فقد تقدست بدم الرب الثمين، وليس بدم نابوت، ولا بدم أنبياء بلا حصر.</p>
<p>مات نابوت ولم يتهاون في ميراث آبائه، أما أنت فلأجلنا غرست استشهاد جموع الشهداء، ولأجلنا ذاق الرسل صليب الرب، لهذا أثمروا إلى أقاصي الأرض<a href="#_ftn5" name="_ftnref5">[5]</a></p>
<h4>وأيضاً للقديس أمبروسيوس عن المسيح له المجد حجر الزاوية</h4>
<p>إن حسبنا لاهوتَ المسيح هو الجبل العظيم فهذا حق: &#8220;أما أملأ أنا السماوات والأرض يقول الرب؟&#8221;(إر ٢٣: ٢٤)   فإن كان بالحق لاهوت المسيح هو الجبل العظيم، فإن تجسده يقينًا هو التل الصغير (الجبل الصغير مز ٤٢: ٦)  لهذا فالمسيح هو كلاهما معًا. فهو جبل عظيم وجبل أقل! عظيم حقًا، لأنه &#8220;عظيم هو الرب وعظيمة هي قوته” (مز ١٤٧: ٥). وأقل لأنه مكتوب: &#8220;تنقصه قليلًا عن الملائكة (مز ٨: ٥). لهذا يقول إشعياء: &#8220;رأيناه، لا صورةَ له ولا جمالَ &#8221; (أش ٥٣: ٢)، ومع أنه عظيمٌ نزلَ صائرًا أقل! وحال كونه أقلَ صارَ عظيمًا. وحال كونه عظيمًا صار أقل، لأنه &#8220;بالرغم من أنه بالطبيعة هو الله، أخلي ذاته وأخذ طبيعة عبد&#8221;     (في٢: ٦ - ٧) وحال كونه أقل صار عظيمًا، لأن دانيال يقول: &#8220;أما الحجر الذي ضرب التمثال، فصار جبلًا كبيرًا، وملأَ الأرضَ كلها&#8221; ( دا ٢ : ٣٥ ). وإن كنتم تطلبون معرفة من هو ذلك الحجر، فاعرفوا أنه &#8220;الحجر الذي رفضه البناءون، هذا صار رأس الزاوية&#8221; قابل (مز ١١٨: ٢٢)، (إش ٢٨ : ١٦) ، (مت٢١ : ٤٢)، (لو١٧ : ٢٠)،(أع ٤ : ١١)، (١بط ٢: ٦- ٧). كان هو نفسه، مع ذلك وبالرغم من أنه ظهر صغيرًا، كان عظيمًا. ويوضح إشعياء موافقته لتلك الحقيقة لأنه يقول: &#8220;يولد لنا ولد ونُعطى ابنا الذي بدايته على كتفيه، ويُدعى الرسول المشير العظيم &#8221; (إش ٩: ٥)</p>
<p>المسيح هو كل شيء لأجلكم:</p>
<p>هو حجر لأجلكم، ليبنيكم، وجبلٌ لأجلكم، لتصعدوا!</p>
<p>فاصعدوا الجبل إذن، يا من تطلبون السماويات.</p>
<p>لهذا السبب طأطأ (أحنى) السماوات، لتكونوا أقربَ إِليه!</p>
<p>ولهذا السببِ صعد إلى أعلى قمة الجبل ليرفعكم معه<a href="#_ftn6" name="_ftnref6">[6]</a>.</p>
<h4>العلامة اوريجانوس</h4>
<p>طوبى للذين استطاعوا أن يقيموا بناءً مقدسًا نقيًا على بناء أكثر طهارة</p>
<p>إننا كلنا نحن الذي نؤمن بيسوع المسيح نُسمى &#8220;حجارة حيّة&#8221;، كقول الكتاب: &#8220;كونوا أنتم أيضًا مبنيين كحجارة حيّة، بيتًا روحيًا، كهنوتًا مقدسًا، لتقديم ذبائح روحية مقبولة عند الله بيسوع المسيح&#8221; (١بط ٢: ٥). فيما يخص الحجارة الأرضية نضع أكثر الحجارة صلابة ومتانة أولًا حتى يمكن أن يُوضع عليها البناء كله، أما الحجارة التي تليه فهي الأقل متانة، وهكذا يكون الترتيب حتى أننا نجد في النهاية الأكثر ضعفًا في القمة تقريبًا بالقرب من السقف. هذا أيضًا ما نفهمه من جهة الحجارة الحية التي لبنائنا الروحي. ما هي الحجارة الموضوعة على الأساس؟ إنها &#8220;الرسل والأنبياء&#8221; كقول بولس: &#8220;مبنيين على أساس الرسل والأنبياء ويسوع المسيح نفسه حجر الزاوية&#8221; (أف٢: ٢٠). فلكي تجاور هذه الحجارة القائمة على أساس يجب أن تعرف أن المسيح نفسه هو أساس الذي يقوم عليه البناء، الأمر الذي يؤكده بولس الرسول بقوله: &#8220;فإنه لا يستطيع أحد أن يضع أساسًا آخر غير الذي وُضع الذي هو يسوع المسيح&#8221;     (كو٣ : ١١). طوبى للذين استطاعوا أن يقيموا بناءً مقدسًا نقيًا على بناء أكثر طهارة</p>
<p>لكن في هذا البناء، أي الكنيسة، يجب أن يوجد هيكل، فإنني أعتقد من كان منكم &#8220;حجارة حيّة&#8221; يقدر أن يكون هيكلًا، فيهتم بالصلاة، ويقدم تضرعاته ليلًا ونهارًا، ويذبح ذبيحة توسلاته؛ بهذا يبني الله هيكله</p>
<p>ماذا تعني الحجارة الصحيحة في رأيك؟ إنها الضمير الذي يليق أن يكون في كل أحد صحيحًا، ليس فيه نجاسة أو دنس جسدي أو روحي، فيحسب من الذين لم يرفع أحد عليهم الحديد، أي الذين لم يتقبلوا &#8220;سهام الشرير الملتهبة&#8221;، بل أطفأوها وحدّدوها بترس الإيمان. هؤلاء الذين لم يقبلوا قط حديد الحرب ولا حديد القتال والمنازعات وإنما يعيشون في سلام وهدوء كما يليق باتضاع المسيح. هذه هي الحجارة الحية التي يبني بها المسيح مخلصنا هيكله، حجارة صحيحة لم يرفع عليها أحد حديد، بهذا يريد أن يُقدم محرقات للرب وذبيحة سلامة. وإنني أعتقد أن الحجارة الصحيحة التي بلا دنس يمكن أن يكونوا الرسل القديسين الذي يشكلون معًا وبأجمعهم هيكلًا واحدًا، خلال وحدة قلوبهم ونفوسهم. يقول الكتاب: &#8220;كانوا يواظبون بنفس واحدة على الصلاة والطلبة&#8221; (أع ١: ١٤). كانوا يفتحون أفواههم قائلين: &#8220;أيها الرب العارف قلوب الجميع&#8221; (أع ١: ٢٤). إنهم كانوا قادرين أن يصلوا معًا في كامل الاتفاق بصوت واحد وروح واحد، لذلك يمكن أن يبنوا هيكلًا واحدًا بكل سهولة، فيه يمكن أن يُقدم يسوع ذبيحة للآب! أما من جانبنا نحن فعلينا أن نسعى لكي يكون لنا القول الواحد، والنفس الواحدة والفكر الواحد (١كو ١: ١٠)، &#8220;لا شيء بتحزب أو بعجب&#8221; (في ٢ : ٣)<a href="#_ftn7" name="_ftnref7">[7]</a></p>
<h3>عظات آباء وخدام معاصرين</h3>
<h4>قداسة البابا تواضروس</h4>
<p><strong>(مت٢١: ٣٣ – ٤٦)</strong></p>
<p><b>أين هي ثمارك التي تفرحني؟</b></p>
<p>هذه الفقرة الإنجيلية تقدم لنا صورة مهمة من خلال مثل، وهذا المثل نسميه &#8221; مثل الكرامين &#8220;، والسؤال في هذا الجزء هو سؤال لكل واحد فينا: أين هي ثمارك؟</p>
<p>هذا المثل له صدى في الأصحاح الخامس من سفر إشعياء، وقد يسمى هذا الأصحاح &#8221; نشيد الكرمة &#8220;، وهو يحكي عن تاريخ شعب بني إسرائيل، والمثل عبارة عن قصة يأتي من ورائها فائدة روحية وتعليم يصل إلى الجميع، فهو يشرح باختصار عن إنسان رب بيت غرس كرماً &#8221; حديقة عنب &#8221; وهذا يحتاج إلى مجهود كبير في العمل:</p>
<p>غرسا كرماً: الكنيسة هي غرس الرب</p>
<p>أحاطه بسياج: سور للحماية خاصة من الثعالب والكنيسة ايضاً تحت الحماية الخاصة لله.</p>
<p>. حفر معصرة وبنى برجاً: الكنيسة فيها نظام ووصايا وطقوس، ونجد الحديقة فيها العنب والعناقيد التي تتدلى في شكلها الجميل، وهذا تعبير عن الحيوية والخصوبة، هذا الرجل صنع لكرمه كل شيء، والله قدم لنا كل شيء وينتظر من الإنسان أن يكون له ثمر. في البداية أرسل الرجل عبيده ليأخذوا الثمر، ولكن أمسكهم الكرامون وقتلوا بعضاً منهم وجلدوا بعضاً ورجموا البعض الآخر، ثم عاد مرة أخرى وأرسل عبيداً آخرين ففعلوا بهم كذلك، بعد ذلك أرسل لهم ابنه الحبيب قائلاً: &#8221; لعلهم يهابون ابني &#8220;، ولكنهم قتلوه. والعبيد هنا يمثلون إرسال الله للأنبياء في العهد القديم، والابن يمثل إرسال الله لابنه الوحيد يسوع المسيح.</p>
<p>المثل في معناه الكتابي يرمز إلى حقيقة الأمة اليهودية وكيف أنها كانت تعيش في العناء والتذمر ، ولكن يهمنا أن ننظر إلى الفقرة الإنجيلية ونطبقها على أنفسنا لكي نستفيد روحياً ، يقول داود النبي في المزمور : &#8221; جعلت سروراً في قلبي أعظم من شرورهم إذ كثرت حنطتهم وخمرهم &#8221; (مز ٧٤ ) كانت هذه من مفردات المجتمع اليهودي ، فالحنطة والخمر &#8221; عصير العنب &#8221; والزيت &#8221; زيت الزيتون &#8220;، كانت تعبر عن الثراء ، ويقول داود النبي : أنت يا رب بوجودك في حياتي أعطيتني فرحاً وسروراً أكثر من الناس الذين لديهم هذه الأشياء ..</p>
<p>نعود للسؤال: هل حياتك فيها ثمر؟ هل شجرة حياتك تطرح أثماراً من سنة إلى سنة، ومن صوم إلى صوم؟</p>
<p><strong>هذا المثل يركز على ثلاثة أمور:</strong></p>
<p><strong>١- </strong><strong>محبة السيد الفائقة لكرمه </strong></p>
<p>الله يحبك بصورة تفوق العقل ، ليس على المستوى الفردي ولكن على المستوى الجماعي أيضاً ، وأنت عندما تجلس وتهدأ إلى نفسك تستطيع أن تسترجع نعماً كثيرة يقدمها الله لك كل صباح وتعبر عنها في صلاة الشكر عندما نقول لله : &#8221; نشكرك لأنك سترتنا وأعنتنا وحفظتنا وقبلتنا إليك وأشفقت علينا وعضدتنا وأتيت بنا إلى هذه الساعة &#8220;.</p>
<p>أيضاً من النعم الكثيرة التي يعطيها الله لنا نعمة المكان الذي نعيش فيه ، فنحن في بلادنا نعيش في جو معتدل بالمقارنة مع بلاد أخرى كثيرة ، فقد توجد بلاد درجات الحرارة فيها تحت الصفر ، وأيضا بلادنا محفوظة من ثورات الطبيعة كالزلازل والبراكين والفيضانات ، فعندنا الطبيعة هادئة وهذه إحدى النعم الموجودة في بلادنا مصر ، ومن النعم أيضاً الشمس التي تُنير لنا حياتنا ونأخذ منها الطاقة والحيوية &#8230; وغيرها كثير من النعم ، ولا أريد أن أقف وأعدد هذه النعم الكثيرة ، ولكني أريد أن أقف أمام محبة الله الفائقة للإنسان</p>
<p>قد تقول: &#8221; أنا إنسان خاطئ وأغضب الله كثيرا &#8220;. أقول لك : لكنه يحبك ، ومحبة الله لشخصك حتى وإن كانت تصدر منك أخطاء فهو ينتظر توبتك ، المحبة الفائقة التي جعلته يعمل لهذا الكرم كل شيء ، كذلك يعطيك الصحة ويوفر لك المناخ  الطيب ، ويعطيك الصداقات الطيبة أو الأسرة الهادئة ، كل هذه نعم أنعم الله بها على الإنسان ، لكن الإنسان فيه ضعف غريب أنه لا يشعر بقيمة النعمة إلا عندما يفقدها أو يحرم منها ، تصور مثلا إذا امتنع عنك الهواء ثوان قليلة فسوف تشعر بضيق في التنفس ومن الممكن أن تموت ، بينما نحن نستنشق الهواء طوال الوقت ونحيا في هذه النعمة ، نحن نعيش في نعم كثيرة لكن على الإنسان أن يتعلم الشكر ويقدر قيمة النعمة.</p>
<p><strong>٢ قتل العبيد والابن الحبيب </strong></p>
<p>هؤلاء الكرامون ليس فقط لم يقدموا ثمراً، بل أيضاً قتلوا العبيد الذين أرسلهم صاحب الكرم، فهؤلاء الكرامون الأردياء ارتكبوا أخطاء وسببوا الألم والطرد للعبيد الذين جاءوا يطلبون الثمر، وفي النهاية قتلوا ابن صاحب الكرم، وهذا يذكرنا بما فعله هيرودس عندما علم بميلاد السيد المسيح الملك حسب نبوات الكتاب، فأرسل وقتل جميع أطفال بيت لحم، هؤلاء الكرامون عاشوا في شر، فهل تقدم ثمراً يفرح به الله مقابل النعم الكثيرة التي يعطيها لك؟</p>
<p><strong>٣ ماذا يكون العقاب؟ </strong></p>
<p>يقول الكتاب أولئك الأردياء يهلكهم هلاكا رديا، ويسلم الكرم إلى كرامين آخرين يعطونه الأثمار في وقتهاً. الله ما زال يطلب الثمار في كنيسته وفي كل نفس، وهذا المثل هو إنذار لكل إنسان لئلا تزول عنه النعمة الإلهية، ويكون مصيره في النهاية الهلاك. الخلاصة &#8230; احترس لئلا تكون حياتك بلا ثمر.</p>
<p><strong>س : ما هو الثمر الذي يمكن أن يقدمه الإنسان في حياته ؟</strong></p>
<p>نقرأ في رسالة معلمنا بولس الرسول إلى أهل غلاطية عن ثمر الروح القدس أنه: &#8221; محبة فرح سلام ، طول أناة لطف صلاح ، إيمان وداعة تعفف &#8221; (غلا٥: ٢٢ - ٢٣)، وهذا هو ثمر عمل الروح القدس فيك ، لذلك يجب أن تضع أمامك هذه النماذج من الثمار لكي تراجع نفسك عليها : هل أنت إنسان محب للتذمر أو النكد ، هل وجودك لا يصنع سلاماً ، بمعنى أنك غضوب دائماً ؟ هل أنت إنسان ليس لديه التعفف والحياة النقية؟ هل أنت إنسان تغيب عنه روح الوداعة أو إنسان ليس لديه اللمحات الإنسانية الجميلة مثل اللطف ؟</p>
<p>ليس هذه الثمار المطلوبة فقط، وإنما تُوجد ثماراً أخرى كثيرة</p>
<p>ثمرة أو فضيلة الاحتمال</p>
<p>نحن نصلي في مقدمة صلاة باكر جزءاً من رسالة معلمنا بولس الرسول إلى أهل أفسس ونقول: &#8221; أسألكم أنا الأسير في الرب أن تسلكوا كما يحق للدعوة التي دعيتم إليها، بكل تواضع القلب والوداعة وطول الأناة، محتملين بعضكم بعضا بالمحبة مسرعين إلى حفظ وحدانية الروح&#8221;.. (أف ٤: ١ - ٥).</p>
<p>هل عندك ثمر &#8221; فضيلة الاحتمال &#8220;؟ يوجد إنسان لا يحتمل في نطاق أسرته، أو نطاق خدمته، أو في نطاق مجتمعه، كيف يعيش في المجتمع، والأسرة، وتستمر الخدمة؟</p>
<p>مسرعين إلى حفظ وحدانية الروح، هل الكلمة التي أقولها تُوحد الناس أم تسبب انشقاقاً؟ هل الخبر الذي أنقله يحفظ وحدانية الروح؟ أحياناً إنسان يتكلم بدون حساب نتيجة كلامه، لهذا يقول لنا أحد الآباء القديسين: &#8221; كثيراً ما تكلمت فندمت أما عن السكوت فلم أندم قط &#8220;، وهذا يعلمنا إياه الكتاب &#8221; كثرة الكلام لا تخلو من معصية، أما الضابط شفتيه فعاقل &#8221; (أم١٠ :١٩).</p>
<p>هل هذا الأمر واضح عندك، هل كلامك يوحد أم يفرق؟ قد يقول إنسان: &#8221; لا بد أن أقول الحق &#8220;، قل الحق بالطريقة الصحيحة، قل الحق بروح الحق، الحق معناه أنك تتكلم ويكون كلامك على مستوى هذا الحق &#8230; هل تجمع أم تُفرق؟ وهذا ينطبق على النطاق الضيق في صورة الأسرة، والنطاق الأوسع في صورة مجتمع أو شعب أو أمة.</p>
<p><strong>ثمرة الرحمة والقلب الرحيم</strong><strong>: -</strong></p>
<p>هل لديك هذا القلب الرحيم؟ وقد يظهر في نظراتك وكلامك. هل عملك مكلل بالرحمة؟ نحن نرتل في الصوم: &#8221; طوبى للرحماء على المساكين &#8220;، وليس المقصود بها النواحي المادية، بل ان يكون الإنسان أيضاً روحه رحيمة.</p>
<p><strong>ثمرة الشكر: </strong></p>
<p>هل تشكر ربنا على كل حال ومن أجل كل حال وفي كل حال؟ أم تشكره فقط عندما تأخذ نعمة منه؟ أم أنه يوجد عندك روح التذمر؟ في مثل الابن الضال نجده يرجع لبيت أبيه وكان سبب فرح لأبيه وللجميع، لكن يوجد شخص في هذه القصة لم يسر بعودة الابن وهو أخيه الأكبر، بل تذمر أو رفض نصيحة أبيه ورفض دخول البيت، ولا نعرف هل قدم توبة فيما بعد أم لا ؟!</p>
<p>يقول القديس مار إسحق: &#8221; ليس عطية بلا زيادة إلا التي بلا شكر &#8220;، هل أنت تشكر دائماً؟ أحياناً يكون الإنسان متذمراً حتى على حياته، أو يتذمر على مواقف الحياة المختلفة، يقول معلمنا بولس الرسول &#8221; كل الأشياء تعمل معا للخير للذين يحبون الله&#8221; (رو۸ : ۲۸).</p>
<p>من الملاحظ أيضاً أن كلمة ثمر تكررت أربع مرات في هذا المثل، وهذا يذكرنا بإشارة الصليب &#8221; أربع جهات &#8220;، يوجد ثمر يمينا ويساراً، وأيضاً إن نظرت لأعلى أو لأسفل. إن نزلت إلى الحقول التي تزرع الفاكهة أو الخضروات أو أي محصول، ورأيت الفلاحين وهم يجمعون الثمار تجد الفرحة واضحة على وجوههم، وأحياناً تجدهم يغنون بفرح، لقد زرعوا البذور من شهور واليوم يجمعون الثمار. لقد وضع السيد المسيح في حياتك بذورا كثيرة، وهو الآن ينتظر منك الثمر.</p>
<p><strong>ثمر العلاقات الجيدة:</strong></p>
<p>من الثمار أيضاً العلاقات الجيدة والطيبة مع الناس، فهل تقدم المحبة التي تأسر كل أحد؟ اسمع ما يقوله معلمنا بولس الرسول: &#8221; يا أولادي الذين أتمخض بكم أيضاً إلى أن يتصور المسيح فيكم &#8221; (غلا٤: ١٩). هو يخدم الناس وكأنه &#8221; يلد &#8220;، وكل ولادة جديدة هي ثمر، وهذا الثمر الناتج فيه صورة المسيح. تصور إنسانا يتخاصم مع هذا، ويبعد عن ذاك، وقلبه لا يتسع لآخر &#8230; كيف يعيش؟ أنت أيها الإنسان الذي نلت نعمة الروح القدس ليعمل فيك، وأعطاك الله نعماً كثيرة جداً منذ ولادتك ثم الولادة الجديدة بالمعمودية، ثم الحياة في حضن الكنيسة. وممارسة الأسرار كلها ووسائط النعمة التي تعيش بها &#8230; أين ثمرك؟ وكلما ترتقي في عمرك فمن المفترض أن تكون أكثر قرباً من السماء، وأكثر ارتفاعاً عن الأرض.</p>
<p>لذلك في نهاية هذا المثل يقول: &#8221; إن ملكوت الله ينزع منكم (الأمة اليهودية)، ويعطى لأمة (أمة العهد الجديد) تعمل أثماره &#8221;      (مت۲۱: ٤٣). من النعم الكبيرة التي نحيا فيها نعمة العهد الجديد، ومنها الله ينتظر ثمراً في حياتك، فسوف تقف أمام المسيح، فهل ستُقدم هذه الثمار أم ستكون يدك فارغة؟ وكيف ستظهر أمام الله بيد فارغة؟ وإن كان هذا الثمر على مستوى الفرد، فهناك ثمر على مستوى الكنائس أيضاً فيجب أن يكون للكنيسة ثمر، وإذا فكرت كنيسة من الكنائس في نفسها فقط، فهذه هي خطية الأنانية، إذ لم تنظر إلى أماكن أخرى تحتاج إلى معونة بصفة عامة.</p>
<p>الله ينتظر من كل كنيسة ثماراً، لقد صار اليهود بلا كنيسة &#8221; إن ملكوت الله ينزع منكم ويعطى لأمة تعمل أثماره &#8221; (مت۲۱: ٤٣)، وأصبحت هي كنيسة المسيح في العهد الجديد، وأي كنيسة هي أعضاء في جسد المسيح، وهؤلاء الأعضاء يجب أن يكونوا مثمرين.</p>
<p>انتبه! كيف تهزم أنانيتك التي تمنع وجود الثمر؟</p>
<p>اجلس مع نفسك، اسأل نفسك: هل حياتي بالحقيقة فيها ثمر؟</p>
<p>اعرف الضعفات التي فيك، وما الذي يعوقك ويعطلك ويجعل حياتك غير مثمرة. ابد</p>
<p>قف أمام الله، وقل له: &#8221; أوعدك يا رب من اليوم أن تكون حياتي فيها ثمار تفرحك وتُفرح الكنيسة كلها .</p>
<p>اجتهد في أن يكون عندك ثمر<a href="#_ftn8" name="_ftnref8">[8]</a> .</p>
<h4>المتنيح الأنبا كيرلس مطران ميلانو</h4>
<p><strong>حقا لك مقر.. الكرمة</strong></p>
<p><strong>حقا لك مقر في قلوبنا</strong></p>
<p>شكراً لك يا الله يا من غرست هذه الكرمة بيمينك &#8230; شكراً لك يا من اقتنيتها بدمك الثمين &#8230; يا من ترويها كل حين من ينبوعك &#8230; يا من ترعاها في كل زمان &#8230;</p>
<p>وشكراً لك يا من تنمى أغصانها &#8230; ويا من تحميها وأبواب الجحيم لن تقوى عليها &#8230;</p>
<p>يا الله &#8230; من غيرك أكثر غيرة على كرمتك &#8230; هي في قلبك وأنت في قلبها &#8230; في كل زمان أنت الحاضر في كل مكان فيها &#8230;</p>
<p>في قديم الزمان &#8230; افتقدت كرمتك بالآيات والعجائب والآباء والأنبياء &#8230; ولأجل انشغالك بالكرمة قلت &#8221; ماذا يصنع لكرمى وأنا لم أصنعه &#8221; &#8230;</p>
<p>وفي ملء الزمان &#8230; بتجسدك أتيت إلى كرمتك وأنرت على الساكنين في الظلمة وظلال الموت وصرت حجراً للزاوية &#8230;</p>
<p>وبموتك أقمت كرمتك التي كان قد قضى عليها الموت &#8230; وبقيامتك استرجعت لها الحياة مرة أخرى &#8230;</p>
<p>وبصعودك المعظم أرسلت روحك القدوس على تلاميذك الأطهار وجعلتهم رعاة حسب قلبك &#8230; بهم ترعى رعيتك هم يطلبون الضال &#8230; ويردون المطرود &#8230; ويجبرون الكسير &#8230; ويداوون الجريح &#8230;</p>
<p>وفي هذا الزمان &#8230; تُرى ماذا تقول لنا؟ &#8230; هل تكرر لنا ما قلته قديماً &#8221; ماذا يصنع لكرمي وأنا لم أصنعه &#8221; ؟ &#8230; أم تقول &#8221; أنت بلا عذر أيها الإنسان &#8220;؟ &#8230;</p>
<p>هل تقول لنا في هذا الجيل أنا افتقدتكم براع أمين &#8230; نتلامس معه &#8230; نسمعه ويسمعنا &#8230; نكلمه ويكلمنا &#8230; قريب منا &#8230; حاضر معنا &#8230; يكلمنا ويعلمنا ويرشدنا ويدبر أمورنا &#8230;</p>
<p>قال لي قلبي بالحقيقة نحن بلا عذر &#8230; فهلم نتضرع إلى الرب غارس، عن الكرمة وفاديها شاكرين على كل ما يصنعه معنا &#8230; نشكره لأنه منحنا راعياً يحيا حياة التسليم الكامل لله &#8230; إن سألناه الساكن في قلبه نرى الله وقديسيه &#8230;</p>
<p>وإن قلنا له &#8221; ما الذي يشغل فكرك &#8221; ندرك أنه ليس شيء آخر سوى الكتاب المقدس وأقواله وآياته ووعوده &#8230;</p>
<p>وإن طلبنا أن نعرف منه من هو الذي عن يمينه يقول لنا أنه مستند على السيد المسيح الذي أظهر لنا نور الآب وأنعم علينا بمعرفة الروح القدس الحقيقية &#8230;</p>
<p>حياة التسليم الكامل جعلت روح الله القدوس يعمل فيه بوضوح وغزارة &#8230; فثمار ومواهب الروح القدس فيه يبصرها المستقيمون فيفرحون ويتهللون &#8230;</p>
<p>روح الله القدوس بسيط في طبيعته وكثير الأنواع في فعله ولأجل عمله فيه نراه بسيطاً وعميقاً في حياته وكثير الأنواع في أفعاله &#8230;</p>
<p>من يقدر أن يحيا بالبساطة العميقة سوى الذي يعمل فيه روح الله &#8230;</p>
<p>من يقدر أن يعلم بالبساطة وتعليمه يكون له تأثير قوي وكثير الأنواع في فعله سوى الذي يعمل فيه روح الله &#8230;</p>
<p>روح الله يشعل ويلهب ويضيء وينير ومصحوب برائحة المسيح الزكية وهذا ما نراه في أعمال راعينا &#8230;</p>
<p>بتعاليمه القلوب تلتهب بمحبة الله والفكر يستنير بمعرفة الله وتتغير حياة كثيرين ويشتمون منها رائحة المسيح &#8230;</p>
<p>الطفل يتهلل برؤيته &#8230; والشيخ يستند على بشاشته &#8230;</p>
<p>الخادم يشعل مصباحه بتعاليم راعينا فلا ينسى قوله &#8221; أنت تخدم بيت الرب فمتى تخدم رب البيت &#8221; ؟ &#8230;</p>
<p>الكاهن بضياء نصائح راعينا يسعى أن يريح الناس وإن لم يقدر لا يكون سبباً في تعبهم &#8230;</p>
<p>نعمة الإحساس بالغير ساكنة في قلب راعينا وبها أشعل قلب رعيته لكي تتمنع بالاهتمام بالفقير واليتيم والأرمل &#8230;</p>
<p>كلماته ألقت ضوء على أفهام الكل بأن الجسد مصيره سينتهى ناصحاً &#8221; يا ليته ينتهى في عمل صالح &#8221; &#8230;</p>
<p>بشعلة الرهبنة التي فيه أضاء شمعة في الأديرة التي كادت أن تندثر وأخرجها من باطن الأرض &#8230; وأشعل فيها حياة الرهبنة من جديد &#8230; وغرس أديرة حديثة في أماكن متعددة فيها يشتمون رائحة المسيح في قديسيه &#8230;</p>
<p>راعينا يعرفنا ببساطة المفاهيم اللاهوتية &#8230; وخطورة استخدام الآية الواحدة &#8230; واليقظة أمام الهرطقات الحديثة &#8230; ويعلمنا &#8221; الله وكفى &#8221; .</p>
<p>طوبى للرعية التي يختار لها الرب راعياً مثلك &#8230; به ينير عقلها &#8230; ويضئ فهمها ويجعلها تفهم كلام الله المحيي &#8230;</p>
<p>روح الله ساكن فيك &#8230; وسائر معك هو مشتعل فيك وأنت تشعل الآخرين &#8230; هو ملتهب فيك وأنت تلهب من يلمسك &#8230;</p>
<p>هو مضيء فيك وبه أنت تضئ لمن حولك &#8230; هو منير فيك وأنت تنير في ذهن من يسمعك &#8230;</p>
<p>المسيح ساكن فيك ورائحته الزكية في أعمالك هي التي جعلت لك مقر في قلوب رعيتك<a href="#_ftn9" name="_ftnref9">[9]</a>.</p>
<h4>المتنيح الأنبا بيمن أسقف ملوي وأنصنا والأشمونين</h4>
<p><strong>الكرمة الحقيقية وحجر الزاوية</strong></p>
<p><strong>أنا هو الكرمة الحقيقية </strong></p>
<p>ورد هذا اللقب في العهد القديم عن إسرائيل التي اعتبرت کرمة الله، التي انتقاها من العالم لكي تفلح وتخصب وتأتي بالثمر المرجو منها، بعد أن غذاها بالشريعة والناموس والوصايا وأرسل لها الكهنة والأنبياء.</p>
<p>أشعياء النبي والكرمة</p>
<p>يعتبر أشعياء النبي من أكثر أنبياء العهد القديم حديثا ونبوءة وتوبيخا وتشجيعا</p>
<p><strong>الإسرائيل كرمة الله</strong></p>
<p>لنسمع إليه موبخا إسرائيل على فساده وخيانته &#8221; لأنشدن عن حبيبي نشيد محبي لكرمة. كان لحبيبي كرم على أكمة خصبة، فنقبه ونقي حجارته وغرسه کرم سورق وبنی برجا في وسطه، ونقر فيه أيضا معصرة فانتظر أن يصنع عنبا، فصنع عنبا رديئا.. والآن يا سكان أورشليم ورجال يهوذا أحكموا بيني وبين کرمی ماذا يصنع أيضا لكرمي وأنا لم أصنعه له لماذا إذ انتظرت أن يصنع عنبا فصنع عنبا رديئا. فالآن أعرفكم ماذا أصنع بكرمي. أنزع سياجه فيصير للرعی، أهدم جدرانه فيصير للدوس، وأجعله خرابا لا يقضب ولا ينقب، فيطلع شوك وحسك وأوصى الغيم ألا يمطر عليه مطرا. إن کرم رب الجنود هو بيت إسرائيل وغرس لذته رجال يهوذا. فانتظر حقا فإذا سفك دم وعدلا فإذا صراخ (أش۱:۵- ۷) .</p>
<p>إن ما قاله أشعياء بروح النبوة هو ما قاله رب المجد في مثل الكرم والكرامين الأردياء وشبه الكرم بإسرائيل ورعايته لها وتسليمه إياها لرؤساء الكهنة والكتبة والفريسين.. هؤلاء الذين قتلوا الأنبياء الذين أرسلهم واحدا واحدا، ثم أخيرا عندما رأوا الابن الوريث (الرب يسوع ) تآمروا عليه لكي يتخلصوا منه وهكذا نزعت الكرمة من أيديهم إلى الأبد وأعطاها لكرامين جدد. وأما إسرائيل فصارت خرابا، والأمم التي لم تكن تعرف الرب صارت هي إسرائيل الجديدة كنيسة الله والمسيح هو غصن البر فيها.</p>
<p><strong>المسيح هو غصن البر</strong></p>
<p>لم يكن اختيار إسرائيل من الأمم نوعا من التعصب الجنسي وإنما كان الهدف أن يأتي منها المسيح ابن داود حسب الجسد حتى وإن زاغت إسرائيل وفسدت الكرمة، فإن الرب الإله يختار بنفسه منها غصنا من جذع ليس ينبت قدمه کفرخ وكعرق من أرض يابسة     (أش٥۳ :۲) .</p>
<p>وفي هذا يقول أشعياء النبي &#8221; ويخرج قضيب من جذع يسی وينبت غصن من أصوله ويحل عليه روح الرب &#8221; (أش۱:۱۱).</p>
<p>وبروح النبوة يؤكد النبي الإنجيلي هذا الاتجاه بقوله &#8220;ها أيام تأتي يقول الرب وأقيم لدواد غصن بر فيملك ملك وينجح ويجري حقا وعدلا في الأرض، في أيامه يخلص يهوذا، ويسكن إسرائيل آمنا..</p>
<p>وهذا هو إسمه الذي يدعونه به الرب برنا (أر۲۳: ٥- ٦).</p>
<p>وهكذا كل من يؤمن بالابن تكون له حياة أبدية ويصبح عضوا في كنيسة الله الكرمة الحقانية.</p>
<p><strong>العذراء مريم الكرمة</strong></p>
<p>تقول الكنيسة في صلواتها عن العذراء مريم &#8221; أنت هي الكرمة الحقيقية الحاملة عنقود الحياة، نسألك أيتها المملوءة نعمة مع الرسل من أجل خلاص نفوسنا مبارك الرب إلهنا. مبارك الرب يوما فيوما يهيئ طريقنا لأنه إله خلاصنا&#8221;.</p>
<p>والعجيب أن الكنيسة تذكر هذه القطعة في صلوات الساعة الثالثة التي يتحدث فيها الإنجيل من يوحنا البشير عن قول الرب يسوع أنا هو الكرمة الحقيقية وأبی الكرام، كل غصن في لا يأتي بثمر يقطعه، وكل ما يأتي بثمر ينقيه ليأتي بثمر أكثر.</p>
<p>وفي مواضع أخرى كثيرة تؤكد الكنيسة في تسابيحها وألحانها وصلواتها عن العذراء أنها هي الكرمة لأنها حملت عنقود الحياة ابن الله الكلمة</p>
<p><strong>الكنيسة هي الكرمة</strong></p>
<p>وكما أن كل ما تشبه به العذراء تشبه به الكنيسة هكذا تطلق على الكنيسة أنها الكرمة الحقيقية، لأن المسيح هو جذعها وأصلها، والمؤمنون هم أعضائها الذين يستمدون عصارة الحياة من هذا الجذع لكي تورق الأغصان وتثمر وتحمل العناقيد المملوءة خيرا وبركة.</p>
<p>فالكنيسة أصبحت من خلال اتحادها بالمسيح وثبوتها في الحق هي الكرمة الحقيقية، وإسرائيل الجديدة والمسيح فيها هو الأصل الذي تسري منه عصارة الحياة نحو كل الأعضاء (كو۲: ۱۹). وبدون الثبوت في هذا الأصل تنقطع العصارة ويذبل الغصن ويلقي للحريق.</p>
<p><strong>الآب هو الكرام</strong></p>
<p>إذا كان المسيح في الكنيسة هو الكرمة التي تحمل الأغصان المثمرة، فإن الآب السماوي هو الكرام، لأن هذا هو عمل الآب. إنه اختارها كما اختار إسرائيل وكما اختار العذراء مريم وكما اختار الكنيسة.</p>
<p>فعمل الثالوث هو هكذا، الآب اختارها، والابن تنازل وتجسد وأتحد بها وحمل أغصانها وثبت نفسه في أغصانها، والروح القدس هو الذي قدسها وطهرها وأعدها لتكون عروسا للمسيح وجسدا طاهرا مقدسا للرأس التي تحمل الأعضاء</p>
<p>والكنيسة لا تسمى كنيسة إلا إذا كانت ثابتة في النعمة والحق هذين اللذين صارا بالمسيح يسوع.. وبدونها لا تصبح كرمة حقيقية تحمل الجوهر والحق الثابت، وإنما تشابه مؤسسات العالم ومنظماته وتجمعاته وكافة هيئاته.</p>
<p>مسئوليتنا إزاء هذا اللقب</p>
<p><strong>١- </strong><strong>الثبوت المتبادل</strong></p>
<p>مسئولية المؤمن أن يثبت في المسيح، وأن يثبت المسيح فيه كما يقول الرب في الكتاب &#8221; اثبتوا في وأنا فيكم &#8221;</p>
<p>ولا يمكن أن يحدث هذا الثبوت إلا من خلال الطبيعة الجديدة التي ننالها بالميلاد الثاني، وبالتناول من سر الإفخارستيا.. سر الشركة وسر الأسرار فی الكنيسة.</p>
<p>&#8221; من يأكل جسدي ويشرب دمي يثبت في وأنا فيه &#8221; ويقول الكتاب أيضا&#8221; إن لم تأكلوا جسد ابن الإنسان وتشربوا دمه فليس لكم حياة فيكم ، من يأكل جسدی ويشرب دمی فله حياة أبدية ، وأنا أقيمه في اليوم الأخير. فمن يأكلني فهو يحيا</p>
<p>بي . من يأكل هذا الخبز فإنه يحيا إلى الأبد &#8221; (يو ٦: ۵۳ - ۵۸).</p>
<p>ويؤكد الرب أهمية هذا الثبوت بقوله &#8221; أثبتوا في وأنا فيكم، كما أن الغصن لا يقدر أن يأتي بثمر من ذاته إن لم يثبت في الكرمة كذلك أنتم أيضا إن لم تثبتوا في&#8221; (يو 4:15) .</p>
<p>ويقول أيضا &#8221; بدوني لا تقدرون أن تفعلوا شيئا &#8220;. إن المسيح هو حياتنا كلنا، خلاصنا كلنا، شفاؤنا كلنا، وقيامتنا كلنا &#8221;</p>
<p>كلما نشهد للحق ونحيا بالتقوى تنسجم حياتنا مع العصارة المقدسة الآتية من</p>
<p>الجذع، وبهذا تدب الحياة في عضويتنا لكي نحيا ولا يقوى علينا موت الخطيئة</p>
<p>وتحديات العالم وهجمات إبليس وحروب الذات.</p>
<p><strong>٢- </strong><strong>الوحدة المقدسة</strong></p>
<p>إن كنا أغصانا في كرمة واحدة، وأعضاء فی جسد واحد، فإنه يلزمنا أن نحمل نفس العصارة، ونفس الدموية حتى يحدث الانسجام، ولا يكون ثمة تضارب يؤدي إلى الانفصال أو الموت.</p>
<p>أنها مسئولية الأعضاء أن يحرصوا علی وحدانية القلب التي للمحبة، والكنيسة عندما تصلى في أوشيتها عقب حلول الروح القدس على القرابين الموضوعة على المذبح تقول &#8221; اجعلنا كلنا يا سيدنا مستحقين أن نتناول من قدساتك طهارة لأنفسنا وأجسادنا وأرواحنا لنكون جسدا واحدا وروحا، واحدا، وقلبا، واحدا.</p>
<p>والرسول يشرح وحدانية الجسد إذ يقول في رسالته إلی کورنثوس عن العصارة الواحدة التي تنتشر في جميع الأغصان &#8221; لأنه كما أن الجسد هو واحد وله أعضاء كثيرة وكل أعضاء الجسد الواحد إذا كانت كثيرة هي جسد واحد، كذلك المسيح أيضا، لأننا جميعنا بروح واحد أيضا اعتمدنا إلى جسد واحد يهودا كنا أو يونانيين عبيدا أم أحرارا، وجميعنا سقينا روحا واحدا &#8221; (1كو۱۲:۱۲ -۱۳).</p>
<p>&#8221; فإننا نحن الكثيرين خبز واحد جسد واحد لأننا جميعا نشترك في الخبز الواحد&#8221; (1كو ۱۰: ۱۷)</p>
<p>والكنيسة في مطلع صلاة باكر تضع التداريب الروحية التي تحفظ وحدانية الروح</p>
<p>+ أن نسلك كما يحق للدعوة التي دعينا إليها</p>
<p>+ أن يكون لنا رجاء الدعوة الواحد والإيمان الواحد</p>
<p>+ تواضع القلب والوداعة وطول الأناة</p>
<p>+ محتملين بعضنا بعضا في المحبة</p>
<p>+ومسرعين إلى حفظ وحدانية الروح برباط الصلح الكامل هكذا نحفظ ارتباط جميع الأغصان بالكرمة ووحدة جميع الأعضاء في الجسد الواحد</p>
<p><strong>٣- </strong><strong>قبول التنقية</strong></p>
<p>يقول الكتاب &#8221; كل غصن يأتي بثمر ينقيه ليأتي بثمر أكثر&#8221;.. وهكذا ترتبط العضوية الحية بقبول التنقية والتهذيب والتأديب، حتی يبقى الغصن محتفظا بحيويته، ولا تضيع العصارة في أفرع وزوائد لا فائدة منها، فيحدث التشتت وضياع الهدف وعدم وضوح الرؤية.</p>
<p>إن العضو المؤمن لا يرفض تأديب الرب له، لأنه يعلم أن من يحبه الرب يؤدبه، وكما يفعل الكرام بتقليم الكرمة لكي تحافظ على العصارة في الأغصان المثمرة، هكذا يعمل الرب معنا عندما يجدنا أعضاء حية في جسده المقدس، إنه يحرص على إزالة كل ما يعطل نمونا واتضاعنا وإثمارنا. فالكبرياء والتعالي والافتخار وحب المديح والسعي وراء إرضاء الذات.. هذه كلها يقلمها بالآلام والضيقات والتجارب المرة ليبقى الغصن متدليا بالعناقيد الممتلئة التي تفرح قلب الآب.</p>
<p><strong>٤- </strong><strong>الثمر المتكاثر</strong></p>
<p>إن علامة ثبوت الغصن وسريان العصارة إليه، أنه يورق ثم يثمر عناقيد &#8221; ثلاثين وستين ومائة &#8220;، أما إذا فقد الثمر وانقطع سريان العصارة فهذا يعني جفافه ثم سقوطه وإلقاؤه في النار لأنه لم يعد يصلح لشيء إلا الحريق.</p>
<p>ليمتحن الإنسان فينا نفسه هل هو يحب الصلاة؟ هل هو شغوف بكلمة الله؟</p>
<p>هل يسري فيه تيار النعمة؟ هل يمتلئ دوما من الروح؟ هل يلتهب قلبه بالحب الإلهي ومحبة الأخوة؟ هل له دور في خدمة الكنيسة والجماعة ؟ وهل هو ينمو فی العمل حسب الموهبة المعطاة له.. إن هذه هي معايير الحيوية والفاعلية. ليسكب الرب فينا روحه القدوس لنكون دائما مثمرين ثمرا متكاثرا لحساب مجد الله.</p>
<p><strong> حجر الزاوية</strong></p>
<p>إنه اللقب الذي استشهد به المسيح عن نفسه، وهو أيضا الذي أكده الآباء الرسل في عظاتهم، أنه يمتد في قدمه إلى مزامير داود، كما يتكرر في كتابات الآباء الرسوليين ومؤلفات المعلمين الكبار عبر كل العصور.</p>
<p>فالرب يسوع في مثل الكرامين الأردياء ذكر هذا اللقب عن نفسه بقوله: &#8221; أما قرأتم هذا المكتوب، الحجر الذي رفضه البناؤون هو قد صار رأس الزاوية. من قبل الرب كان هذا، وهو عجيب في أعيننا &#8221; (مر۱۲: ۱۰).</p>
<p>ويقول معلمنا بطرس الرسول في عظته الشهيرة: &#8220;هذا هو الحجر الذي احتقرتموه أيها البناؤون، الذي صار رأس الزاوية. وليس بأحد غيره الخلاص لأن ليس اسم آخر تحت السماء قد أعطي بين الناس به ينبغي أن نخلص &#8221; (أع ٤: ۱۱ -۱۲).</p>
<p>ولعل هذا يذكرنا بما قاله سمعان الشيخ عن السيد الرب عندما حمله فی الهيكل.</p>
<p>&#8221; هذا قد وضع لسقوط وقيام كثيرين &#8220;. ويتكرر هذا اللقب في الرسائل كثيرا فبولس الرسول يقول &#8221; فلستم إذا بعد غرباء ونزلا، بل رعية مع القديسين وأهل بيت الله مبنيين على أساس الرسل والأنبياء ويسوع المسيح نفسه حجر الزاوية&#8221; (اف ۲: ١٩-٢٠).</p>
<p>ومعلمنا بطرس الرسول يقول &#8221; الذي إذ تأتون إليه حجرا حيا مرفوضا من الناس ولكن مختار من الله كريم، كونوا أنتم أيضا مبنيين كحجارة حية بيتا روحيا كهنوتا مقدسا لتقديم ذبائح روحية مقبولة عند الله بيسوع المسيح .. لذلك يتضمن أيضا في الكتاب : هأنذا أضع في صهيون حجر زاوية مختارا وكريما والذي يؤمن به لن يخزي . فلكم أنتم الذين تؤمنون الكرامة ، وأما للذين لا يطيعون فالحجر الذي رفضه البناءون هو قد صار رأس الزاوية وحجر صدمة وصخرة عثرة . الذين يعثرون غير طائعين للكلمة &#8221; (ابط٤:٢ -۸)</p>
<p><strong>من هم الرافضون</strong></p>
<p>لقد باءت بالفشل جميع المحاولات لرفض يسوع كمخلص للعالم. استطاعت كل قوى العالم الشريرة أن تتكاتف لكي تصلبه، ولكن الذي مات بالجسد حريته لخلاص العالم وفداءه هو الذي قام لكي يملئ يعطى لكل من يؤمن به خلاصا أبديا.</p>
<p>أين هو دقلديانوس؟ أين تراجان؟ أين ديسيوس؟ أين يوليان الجاحد؟ لقد طواهم التاريخ وبقى الرب يسوع ممجدا بصليبه لكي تجثو له كل ركبة مما فی السماء من فوق ومما على الأرض وما تحت الأرض. فهذا المرذول قد صار مخلص العالم،</p>
<p>وهذا المرفوض قد صار ملك الملوك ورب الأرباب، ولكنه سيبقى عثرة وصدمة لكل من لا يؤمن به.</p>
<p>+ يعثر به المتكبرون لأنه وديع ومتواضع القلب</p>
<p>+ يرفضه الشهوانيون لأنه نور العالم ونوره يوبخ أعمال الظلمة</p>
<p>+ لا يقبله المعتزون بحكمتهم الأرضية لأن الصليب عند اليونانين جهالة وعند اليهود عثرة ولكنه عندنا نحن المؤمنون قوة الله للخلاص</p>
<p>وهو حجر أساسي للبناء</p>
<p>كان من عادة اليهود أن يضعوا حجرا على شكل زاوية ويرفعون عليه عمودا</p>
<p>أساسيا يحمل البناء كله. وهذا الحجر المركزي يضم الحوائط.. لقد كان هذا اللقب عن الرب يسوع الذي ضم السمائيين والأرضيين ووحد الأمم مع اليهود وجعل الكنيسة قائمة على الإيمان بشخصه المبارك، وكل من يؤمن به لا يخزي. وإذا كانت الكنيسة بناء والرسل أعمدة فيها ونحن المؤمنون حجارة حية منحوتة، يبقى الرب يسوع الأساس لكل البناء وحجر الزاوية.</p>
<p>وهو حجر مقطوع بغیر ید</p>
<p>هذا ما رأه في القديم دانيال النبي: &#8221; قطع حجر بغیر یدین فضرب التمثال على قدميه اللتين من حديد وخزف فسحقهما.. أما الحجر الذي ضرب التمثال فصار جبلا كبيرا وملأ الأرض كلها (دا۲: ٣٤- ٣٥)</p>
<p>وهذا ما تحقق في شخص ربنا وإلهنا ومخلصنا يسوع المسيح الذي ليس من زرع بشري والذي سحق بصليبه الوثنية ونشر ملكوته على الأرض. هو القوى الجبار الذي يهدم مملكة إبليس. إنه يعمل بلا توقف. ومهما بدت قوى الشر والإلحاد منتشرة فإن الأبدية التي أدخلها التاريخ تزحف في هدوء وقوة لكي يتحقق القول الإلهي، لتكون الأرض كلها للرب ولمسيحه</p>
<p>لنتذكر قول الرب في السماء لشاول الطرسوسي صعب عليك أن ترفس مناخس.</p>
<p>مخيف هو الوقوع في يدي الرب الديان العادل ومرهوب جدا أن يعثر الواحد بصليبه</p>
<p>وملعون كل من يعاند هذا الحجر، لأنه أن سقط عليه يترضض وإن سقط الحجر</p>
<p>عليه يسحقه<a href="#_ftn10" name="_ftnref10">[10]</a>.</p>
<h4>وأيضاً للمتنيح الأنبا بيمن</h4>
<p><strong>أين الثمر المتكاثر</strong><strong>؟؟</strong></p>
<p><strong>&#8221; ليس أنى أطلب العطيه بل أطلب الثمر المتكاثر لحسابكم ، (في ٤: ١٧)</strong></p>
<p><strong>كيف نثمر؟</strong></p>
<p>ذات مرة سار رب المجد مع تلاميذه فالتقى بشجرة عديمة الثمر فلعنها فذبلت للحال وأعلن لتلاميذه أن كل شجرة لا تأتى بثمر تقطع وتلقى بالنار &#8230; ولم يكن رب المجد يقصد بالشجرة هنا إلا قلب المؤمن. والدليل على ذلك أنه يتحدث عن نفسه بأنه الكرمة الحقيقية وأن جماعة المؤمنين هم الأغصان وأن الآب السماوي هو الكرام الذي يشرف على تقليم وتهذيب الأغصان کی يزداد عمرها بينما يتخلص من الأغصان الجافة غير المثمرة كي يلقيها في النار والقلب لا يأتي بثمر إلا إذا كانت له شركه مع المسيح مصدر كل ثمر و ينبوع كل بركة. . وهذه الشركة تقوم بالعملية التي تحدث للنبات عندما تنتقل العصارة من الجذر للساق للورقة فتدب الحياة في هذه الأوراق وتتأهل الأغصان لطرح الثمار &#8230;</p>
<p>إن شركتنا مع رب المجد تغير طبيعتا الفاسدة الشريرة، تغير التربة الصخرية أو كثيرة الأشواك، تغير الحياة الجسدية المائتة بأخرى لها طبيعة جديدة وسمات تختلف عن سمات حياة أولاد العالم &#8230;</p>
<p>و القلب إذا اتحد في شركة مقدسة مع الله يستمد منه الماء الحى كما تستمد الشجرة حياتها من مجاري المياه (مز ۱: ۳) تحدث له عملية مشابهة لعملية دفن البذرة في التربة &#8230; إن الطبيعة القديمة تتمزق وتتغير &#8230; إن الكبرياء والظهور ومحبة الذات تدفن . إن محبة الله والرغبة في خدمته تتدفق في قوة متحدية كل صعاب كتلك القوة التي تدفع النبات إلى الظهور على وجه الأرض لا يعوقه عائق ولا يقف أمامه حائل … هذه الطاقة التي يشتعل بها قلب المؤمن المحب قوة داخلية اضطرمت في الأعماق بسبب محبة الله للإنسان وهي بطبيعتها قوية كما ذكرنا  إيجابية في عملها ، محبة في خدمتها ، مثمرة في نتيجتها ، والكتاب المقدس يصور لنا شخصية رائعة توضح ما سبق ذكره ، هذه الشخصية هي , بولس الرسول ، الذي عندما لمست محبة الله قلبه انسحقت كبرياؤه وغلواؤه وصلبت مواهبه وشخصيته وذاتيته ، وتدفقت الغيرة المقدسة في قلبه فطاف يبشر بالحب الإلهي في ربوع العالم مناديا , من يضعف وأنا لا أضعف . من يعثر وأنا لا التهب، (٢کو۱۱: ۳۹) .</p>
<p>على أن هذه الغيرة المقدسة التي أكلت قلبه أوصلته إلى الجلد والرجم والأسفار والأخطار والجوع والتعب والأسهار والعطش والبرد والعرى &#8230; ولكنها في نفس الوقت أثمرت كنائس قوية عامرة وخدمة مثابرة ملتهبة ونفوسا مخلصة تائبة، وآلافا من القلوب متجددة وكلمة للرب في النفوس حية نامية …</p>
<p>وماذا نقول عن أثمار يوحنا المعمدان وصاحب العشر وزنات وغيرهم ممن لا تسع الكتب أسماؤهم. لقد كانت وراء هذه الأثمار الرائعة نفوس متجددة لا تكل ولا تمل تختبر لسان حالها إنها لا تفشل في عمل الخير لأنها ستحصد في وقته إن كانت لا تكل وإن كان إنساننا الخارج يفنى فالداخل يتجدد يوما فيوم (٢كو ١٦:٤) وإن الله لم يعطنا روح الفشل، بل روح القوة والمحبة والنصح &#8230; وإن الأنسان الذي يعمل في حقل الله يجب أن يكون كالفلاح صبوراً على الزرع محتملا منتظراً الثمار وقت الحصاد، إذا ما رد الرب سبى صهيون صرنا مثل المتعزيين. منذ امتلأ فمنا فرحا ولساننا تهليلا. حينئذ يقال في الأمم أن الرب قد عظم الصنيع معنا فصرنا فرحين &#8230; الذين يزرعون بالدموع يحصدون بالابتهاج سيرا كانوا يسيرون وهم باكون حاملين بذارهم ويعودون بالفرح حاملين أغمارهم. هلليلويا، وهكذا يا أحبائي أننا لا نثمر إلا إذا اتحدنا في الله وامتلات قلوبنا غيرة ومحبة وامتلأت عزائمنا صبرا وجلداً..</p>
<p><strong>درجات الثمار</strong><strong>:  </strong></p>
<p>وليس لكل المؤمنين درجة واحدة في الثمار فهناك فروق فردية واسعة.. هناك من يأتي بثلاثين وآخر يأتي بستين وثالث يأتي بمائة.. وترجع هذه الفروق إما إلى الوزنات المعطاة فواحد له واحدة وآخر اثنين وثالث خمس، وإما إلى مدى اتساع القلب للمحبة الإلهية والعمل الإيجابي في كرم الرب. ومهما يكن فإن كل من يأتي بثمر له نصيب في أورشليم وإن اختلف نجم عن نجم في المجد. و لعلك في الحياة العملية تلمس هذه الدرجات واضحة.. فهذا مسيحي يعطى العشور والبكور والنذور فقط وآخر يعطى أكثر من الأول ويكرس نصف ماله ووقته للرب، بينما هناك ثالث عاش في حياة التكريس التام فكانت ثماره مائة، وربحت وزناته الخمس خمساً آخر مثلها . . .</p>
<p><strong>أنواع الثمار</strong><strong>:  </strong></p>
<p>والمؤمن الذي تقدس قلبه والتهب روحه لا بد أن يكون له ثمار في قدوته وفى خدمته. وقد يكون الثمر صعب الحصول عليه غير ظاهر كالعمل الفردي والافتقاد بين الشباب الجامعي البعيد عن الله وقد يكون ظاهراً كتوبة الكثيرين وقد يكون قليلا في كمه كخلاص فصل صغير في مدرسة الأحد أو كنيسة صغيرة في قرية. وقد يكون خدمة وقد يكون علما واستنارة، ولكنه رغم قلة عدده فإن قيمته غالية لأن النفس الواحدة اشتراها المسيح بدمه، ولان الانسان لا يعرف فقد يبرز من هذا الفصل قائد فذ وقد يخرج من كنيسة القرية بطريرك قديس يسجل أروع الخدمات في التاريخ.</p>
<p>ومهما يكن فإن ثمار المؤمن الحقيقي نوعها نقي فهي ليست كتلك الثمار الفاشلة التي مظهرها بهيج وفائدتها منعدمة وسر نقاوة ثمار المؤمن أنه يستمدها من مصدر النقاوة والطهر وليس له فيها ذاتية واضحة &#8230; فالأمر الذي لا شك فيه أن البر الذاتي للخادم يفسد ثماره ويجعلها غير مقبولة أمام الله وأحسن الأمثلة على ذلك الخادم الذي يقدم تعاليم من عنده وآراء ذاتية دون أن يقدم تعاليم الكتاب والكنيسة فإن ثماره لن تكون نقية ولن تثبت. وتنحصر ثمار الخادم في النواحي الآتية تقريبا: </p>
<p><strong>١- خلاص بيته </strong></p>
<p>إذ أن لسان حاله يقول ما قاله يشوع بن نون، أما أنا وبيتي فنعبد الرب، وسر اهتمامه بأسرته أنها الميدان الأول لخدمته وأن من لا يعتنى بخاصته لا سيما أهل بيته فقد أنكر الإيمان وصار أشر من غير المؤمن.</p>
<p><strong>٢- </strong><strong>كثرة تقدماته</strong></p>
<p>فهابيل قدم من أحسن ما لديه والأرملة أعطت من اعوازها واحتياجها والخادم الأمين يعطى بسخاء ولا يكاد يحس أنه يعطى، بل على العكس يشعر أنه يأخذ بركات لا يستحقها ونعماً جزيلة ليس أهلا لها. ولقد علمنا بولس في العطاء وأن من يزرع بالشح فبالشح أيضاً يحصد ومن يزرع بالبركات فبالبركات أيضا يحصد، لأن المعطى بسرور يحبه الله،</p>
<p><strong>٣- عمق خدماته </strong></p>
<p>والمسيحي الحقيقي يخدم بدافع من طاقة الحب الإلهى المذخرة في قلبه وكلما خدم أحس باحتياج إلى خدمة أكثر، وكلما تقدم في السن إزداد حماسا وكلما وعظ وعلم وافتقد أحس أن ما يعمله قليل لدين ثقيل هو فداء المسيح له على الصليب.، هذا لا يهتم الظواهر ولا يعبأ بمديح الناس أو ذمهم كالمعمدان في خدمته. وهو في خدمته إنما يهتم بخلاص النفوس وجذبها إلى حظيرة الراعي الصالح.. وفي صبر وطول أناة يجاهد لأجل اقتناص هذه النفوس من يد إبليس ليقدمها للمسيح كعربون للمحبة ودلالة على العضوية الحية المقدسة في جسد الكنيسة الجامعة.</p>
<p>ومن أحسن الأمثلة على الخدمة العميقة آباؤنا القديسون الذين عكفوا على الكتابة والتفسير فجاءت، كتابات الآباء، ثماراً شهية لكل الأجيال ورائحة ذكية ونبراساً مضيئاً لكل المجاهدين . . . علامة ودليلا على عمق من أحبوا وخدموا وكتبوا..</p>
<p><strong>٤- </strong><strong>كثرة صلواته</strong></p>
<p>والمسيحي بالضرورة مثمر في عبادته والدليل على ذلك أنه مثمر في خدمته، ذلك لأنه يحس أن الخدمة الحقيقية الناجحة لا تكون إلا بالصلاة وأن النفوس لا تصل إلى المسيح إلا بالجهاد العنيف في مخدع الصلاة وهذه الصلاة الحارة ترفع لأجل من خدموه ولأجل مخدوميه. أيضاً أنظر كيف أن المؤمنين كانوا يصلون لأجل بطرس فتزلزت أركان السجن وخرج بطرس وفك قيده واستجاب الرب لصلاة المؤمنين التي كانت بلجاجة.</p>
<p>وفرع مدارس الأحد المثمر في خدمته لا بد أنه مثمر في عبادته فإن حلقات الصلاة واجتماعات الصلاة وأيام الصلاة منتظمة ومقدرة من الجميع ينتظم فيها الكل بشغف ومثابرة من أجل هذا يتحنن الله على هذه النفوس ويفرحها بأثمار كثيرة كما أفرح قلوب المؤمنين عندما رد إليهم بطرس سليماً.</p>
<p><strong>أهمية الثمر:  </strong></p>
<p>وهكذا تلمس أن الثمار هامة جدا في محيط النعمة كما في محيط الخدمة. . فإنك إن أتيت للمسيح بنفوس كثيرة يفرح الله بجهادك وإن كان الله هو الذي عمل في الحقيقة إلا أنه يعطيك أن تشترك معه في الإسهام لتخليص النفوس من أسر وعبودية إبليس.</p>
<p>وأما الثمار المتكاثرة فهى قطعاً علامة لحب قوى ونفس منسحقة وقلب متجدد وشركة عميقة وصبر وجهاد طويل. وهنا يعلمنا يوحنا الحبيب أن الثمار هي نتيجة الأعمال الحسنة فيقول يا أولادي لا نحب بالكلام ولا باللسان، بل بالعمل الحقيقي (١يو ۲: ۱۸)</p>
<p><strong>ميادين الثمار:</strong></p>
<p>يبدأ الميدان الأول بقلب المؤمن نفسه ثم يتسع الميدان ليشمل الأسرة فيجتذبها للمسيح ثم تتوهج نيرانه فتلتهم قلوب الأقارب، والأصدقاء، والمعارف، والجيران. حتى إذا ما كسبتها نار الحب الإلهي تركتها لتعمل في دائرة أوسع فقد تمتد إلى إيبارشية أو كرازة أو خدمة عالمية لا يحددها المؤمن لنفسه، ولكن الله يفتح أبوابها كما كان يفتح لبولس عندما طلب إليه الرجل في الرؤيا قائلا أعبر إلينا وأعنا.</p>
<p>أين الثمر المتكاثر الآن؟؟</p>
<p>و نحن نحس بخزی شدید و خجل عميق إذا ما وقفنا أمام الله في هذه الأيام لنقدم له حساب وكالتنا  ننظر عن اليمين وعن اليسار لنبحث عن الثمار فنجدها قليلة ضعيفة ليست كما كانت أيام أباءنا الأولين. .</p>
<p>أين المكرسون الذين تركوا محبة العالم وأعطوا كل وقتهم وقلبهم لخدمة المسيح، أين العشور التي إذا جمعت بأمانة لما احتاج فقير واحد أو ارتد ضعيف واحد؟ اين الخدام المثابرون الذين لا يتركون الخدمة إن توظفوا أو تزوجوا. إن اغتنوا أو افتقروا، بل على العكس يزدادون غيرة واختباراً كلما مرت بهم الأيام واشتدت بهم ظروف الحياة؟ اين الخدام الذين يقبلون برضى على الانتقاد والرعاية والتلمذة والخدمة الحقيقية وملاحظة التلاميذ في الأندية المسيحية بمثابرة، ورعاية أمور الفقراء والمساكين في حنو ومحبة. أين هؤلاء وأولئك!! إننا لا نريد خدمة بالضغط وبالتدليل فهذه ثمارها ضعيفة أو معدمة. إن الحقل قد ابيض فيه الحصاد والفعلة قليلون فاطلبوا من رب الحصاد أن يرسل فعلة لحصاده اطلبوا من رب الحصاد أن يشدد ركب خدامه. اطلبوا من رب الحصاد أن يكثر من أمنائه<a href="#_ftn11" name="_ftnref11">[11]</a>.</p>
<h4>المتنيح القمص لوقا سيداروس</h4>
<p><strong>الأحد الأول من شهر مسرى</strong></p>
<p><strong>(لو ٢٠: ٩ – ١٩) </strong><strong>الكرمة الحقيقية </strong></p>
<p>كان الرب محاكمة مع الكرم الذي تعهده بكل سخاء وفاض عليه بكل غنى. ثم إذا نظر أن يصنع عنباً، صنع عنباً ردياً. وقد قال الرب بفم أشعياء النبى: &#8221; من كرم الرب هو بيت إسرائيل وغرس لذته هم رجال يهوذا &#8230; وكان إذ صنع الكرم عنباً ردياً، ان الرب أنزل به أحكاماً، إذ نزع سياج نعمته عنه فصار يدال من الغرباء وهدم جدرانه حماية. فصارت ترعى فيه قطعان الشر وتفسده. وأوصى غيم الروح وسحابته ألا تمطر عليه. فدخل في مراحل جفاف وصار مأكلا للحريق &#8221;</p>
<p>كان هذا المثل القديم معروفاً ومدوناً في نبوات أشعياء النبى. وكان مفهوماً ان خطايا الشعب استجلبت الغضب الإلهى</p>
<p>+ أما اليوم ففصل الإنجيل فيه محاكمة الكرامين الذين عهد إليهم صاحب الكرم العناية بكرمه ، وكلفهم الاهتمام به كوكلاء له هنا يكشف الرب عن خطايا الرؤساء والكهنة والمعتبرين في الشعب قال الرب أنه أرسل لهم عبيداً لكى يعطوه من ثمر الكرم ولكنهم كانوا مغتصبين الثمر لأنفسهم ، فأهانوا عبيد صاحب الكرم وأرسلوهم إليه فارغين.</p>
<p>+ وقد فهم الكتبة والفريسيون ان الرب يسوع قال هذا المثل عليهم، وأرادوا أن يلقوا عليه الأيادي</p>
<p>+ والذي يهمنا أن نلفت النظر إليه أن هذا المكتوب وإن كان يخص الكتبة والفريسيين، ويظهر عقاب ربنا لهم لسبب عدم أمانتهم &#8230; ولكن عندما يقرأ في مسامعنا اليوم فهو يخص كل واحد منا على حدة. إذ هو مكتوب من أجل منفعتنا وخلاصنا.</p>
<p>ما أجمل قول القديس بولس الرسول: &#8221; عن الأغصان التي قطعت بسبب عدم الإيمان، والأثر الإيجابي الذي يجب أن يتركه هذا العمل في حياتنا من أجل عدم الإيمان قطعت. وأنت بالإيمان ثبت، لا تستكبر، بل خف &#8220;. أن عتاب الذين لم يثبتوا في رتبهم يجب أن يوقد فينا خوف الله، ويعطينا قوة دفع ومثابرة على الجهاد، لأن الذي لم يشفق على الأغصان الطبيعية حينما لم تأت بثمر، لعله لا يشفق عليك أيضاً، ماذا إذاً أرسل صاحب الكرم إلينا يطلب ثمر الروح القدس فينا؟ الذي زرعه فينا ووهبه لنا بالميلاد الثاني والتطعيم في جسد الكرمة الحقيقية. من جهة أخرى تأمل الشدائد التي أصابت عبيد ربنا في أرساليتهم ليطلبوا ثمراً لسيدهم &#8230; ضربوا، شتموا، هزأوا بهم &#8230; طافوا في جلود غنم، وجلود معزى، معتازين مكروبين مذلين، وهم لم يكن العالم مستحقاً لهم . لقد ظهر في بادئ الأمر ضعف هؤلاء العبيد ومسكنتهم، وكان صاحب الكرم لم يعتد بهم ولم يحسب حساب آلامهم، بل أن آلام خدامه صارت هي آلامه بعينها، هو حمل آلامهم. وها هو يطلب دم جميع الأنبياء الذي سفك على الأرض، من دم هابيل الصديق إلى دم زكريا بن برخيا الذي قتل بين الهيكل والمذبح. ولذلك نستطيع أن ندرك أن آلامنا في أرساليتنا كعبيد المسيح، وكل أوجاعنا التي تصيبنا من مغتصبي الكرم بالكبرياء والتجبر. والذين يمنعون ثمر النعمة ويحجزونها بأفعالهم الآتية هذه الآلام سينتقم لها الرب في حينه إن كنا لا نكل. سينتقم الرب لدم عبيده الشهداء والمعترفين ولباس الصليب. سيعاقب الرعاة الذين رعوا أنفسهم بدل أن يرعوا الغنم. لبسوا الصوف وأكلوا السمين واغتصبوا ثمر القطيع لذواتهم.</p>
<p>+ تأمل أيضاً طول أناة الله ولطفه وإمهاله &#8230; بالحقيقة أن الله بطيء الغضب، سريع الأحسان &#8230; فرغم ما صنعوه بعيده الأول من إهانات. وهو يعلم كل شيء، إلا أنه في رأفة أحشائه لا يشاء موت الخاطئ، بل يسر برجوعه إليه. ولو أن ربنا أخذنا بأثامنا. من كان يستطيع الوقوف؟ إن تكرار أرسال عبيده هو دليل اتساع حب الله نحونا، واعطاءنا فرص للتوبة عما فاتنا بسبب إهمالنا وتوبتنا</p>
<p>الذين رفضوا الابن</p>
<p>المسيح له المجد يفرق بين أرسالية عبد من العبيد. وبين إرسالية الابن الوحيد الآب. فالذين رفضوا العبد الأول عاد فأرسل لهم عبداً آخر ثم ثالث أما وقد رفضوا الإبن فاستحقوا دينونة أبدية. رفض المسيح معناه الحرمان الأبدي من ميراث الآب والابن لأنه مكتوب ليس بأحد غيره الخلاص. وأيضاً من ليس له الإبن فليس له الآب أيضاً. من لم يؤمن بالابن فليست له حياة أبدية وقد شهد يوحنا المعمدان: &#8221; من له إبن الله له الحياة . ومن ليس له إبن الله ليست له حياة، بل يمكث عليه غضب الله &#8221; . لأن من يرفض نبياً يعطى فرصة أخرى لله أن يرسل له آخر أما من يرفض الابن فقد رفض الله ذاته. لأن الابن هو الكلمة الذاتي للآب لقد قال الرب للكتبة والفريسيين: &#8221; أنتم أبناء قتلة الأنبياء ، وأكملتم أنتم مكيال آباكم &#8221; . وكمال المكيال هنا هو صلب المسيح. فرفض المسيح يكون إذن هو امتلاء كأس غضب الله من جهة النفس واستحقاقها للدينونة العادلة.</p>
<p><strong>يعطى الكرم لآخرين </strong></p>
<p>لقد نزع الرب الكرم من الكرمين غير الأمناء، ودفعه لأيدينا إذ حسب أمناء أن نكون خدام عهد جديد.. وائتمنا على كرمه وأعطى بالروح القدس البعض أن يكونوا رعاة ومعلمين وائتمنا على الكرمة الحقيقية التي هي جسده &#8221; أنا الكرمة الحقيقية &#8220;. والآن يبدوا واضحاً أن الرب يطلب ثمر الروح فينا &#8221; محبة وفرح وسلام &#8230; الخ &#8221; غلاطية. وأيضاً يطلب ثمر من أيدينا نقدمه لعبيده ونعطيهم طعامهم في حينه<a href="#_ftn12" name="_ftnref12">[12]</a> .</p>
<h4>المتنيح القمص تادرس البراموسي</h4>
<p><strong>الأحد الأول من شهر مسرى المبارك</strong></p>
<p><strong>فاخرجوه خارج المدينة وقتلوه (لو ٩:٢٠ – ١٩)</strong></p>
<p>كثيراً ما ننعت أنفسنا عندما نتأخر في شيء بأننا أصحاب الساعة الحادية عشر. وفى أنجيل هذا الصباح يقول فجاء أصحاب الساعة الحادية عشر فأخذوا دينار. يراد بالساعة الحادية عشرة. أي قصر الزمان أو أخر حياة الأنسان أوأخر يوم أو شهر أو ساعة في حياته كما حدث مع اللص اليمين وأيضا مع المرأة الخاطئة. اللذين تبررا في ساعة واحدة ويراد بالمساواة في الأجرة دخول جميع المؤمنين ملكوت الله لا المساواة في المكافئة لان كل واحد سيجازى حسب ما يكون عمله وقوله الأولين يشير إلى الأتعاب والشرور الكثيرة التي احتملوها من اليهود وربما سأل. يسأل. لماذا لم يستأجر الجميع معاً. فالفعلة في أختلاف أرادتهم ان الرب يسوع دعاهم في خمسة أوقات لأن الإنسان له خمس حواس لأنه يندرج في خمسة أدوار وهي الطفولة والصبا والشيبه والكهوله والشيخوخة. ولأن التوراة خمسة أسفار. وان عهود الله مع الإنسان عن مجئ أبنه الحبيب خمسة. مع أدم. ونوح. وإبراهيم وموسى وداود</p>
<p>ويقول بولس الرسول. إنه ليس لمكان لعهد آخر لان العالم قد بلغ المنتهى. أن اليهود كانوا أولين. وشعباً مختاراً لكنهم لما لم يؤمنوا بالرب يسوع صاروا أخرين والآخرون الذين صاروا أولين هم الشعوب الذين رجعوا من ضلالة الأمم الوثنيين وأمنوا بالرب يسوع وقبلوا البشارة المحيية فبأيمانهم صاروا أولين وقد ضرب هذا المثل تشجيعاً للذين هم في شيخوخة ويقبلون إلى الصلاح. ولكي لا يفكروا إنه ينقصهم شيء لأنهم سيتنعمون مع الأولين في الملكوت حيث لا حسد ولا غيره. لم يصعد الرب يسوع من وقته إلى مدينة أورشليم، بل بعد ما شفى المرضى المحتاجين إلى الشفاء وعمل الأيات والمعجزات أمام الجموع وقد أنفرد التلاميذ ليحدثهم عن الامه وموته حتى لا يعثرهم الخوف والشوك عند وقوعها، بل لكي يعلموا إنه أنما يتألم بأرادته ويموت ويقوم في اليوم الثالث. وبموته والأمه يصير الخلاص لجميع الخليقة كل من يؤمن به كما بأدم مات الجميع هكذا أيضاً بالمسيح سيحيا الجميع. وقد تم الخلاص وصار لنا الميراث الأبدي الذي لا يفنى ولا يتدنس ولا يضمحل محفوظاً لنا في السموات ونكون مع المسيح إلى أبد الدهر.</p>
<p><strong>العظة الأولى </strong></p>
<p>أ – الأمانة في العمل والسهر على تنميته</p>
<p>ب – الكرم والكرامين وخيانة الأمانة</p>
<p>ج – الطمع في حق الغير والتصرف بحماقة</p>
<p>د – خلف المواعيد وأهانة العبيد</p>
<p>ه - طول الأناة وحكمة التصرف</p>
<p>و – لم يحترموا المواعيد بل قتلوا أبنه الوحيد</p>
<p>ذ -تأمر الأشرار على قتل البار</p>
<p>ح – التصرف الحكيم من الملك العظيم</p>
<p>ط – نزع الرئاسة وزالت القداسة</p>
<p>ى – لم يعرفوا الحق وأبغضوا من يسلكه</p>
<p><strong>العظة التانية </strong></p>
<p>أ – كرم وكرامين ومالك</p>
<p>ب – طمع وسلب وأهانه</p>
<p>ج – الكريم جميل والشر دخيل</p>
<p>د – حكمة الملوك وعيب السلوك</p>
<p>ه - الشر والدسائس وقتل الوارث</p>
<p>و – الهلاك والدمار وأباده الأشرار</p>
<p>ذ – الهلاك الأكيد خيانة العبيد</p>
<p>ط – الحجر المرفوض هو الأبن المولود</p>
<p>ى – صاحب الكرم الأمين انتزعه من الكرامين</p>
<p><strong>العظة الثالثة</strong></p>
<p>أ – بداية ونهاية وزمان وتسليم</p>
<p>ب – ثمر وأهانة وخيانة الأمانة</p>
<p>ج – تكرار وأنكار وجلد وجروح</p>
<p>د – أبن ووارث وعبد خائن وأب متسامح</p>
<p>ه - طمع في الميراث وشر القصاص</p>
<p>و – طرد أكيد وهلاك للعبيد</p>
<p>ذ – الأفضل للصالح والطرد للخائن</p>
<p>ح – غضب الكرامين والحق للأمين</p>
<p>ط – طلب الأنتقام من رب الأنام</p>
<p>ى – رفضوا السلام فورثوا الظلام<a href="#_ftn13" name="_ftnref13">[13]</a></p>
<h4>الدكتور جميل نجيب سليمان</h4>
<p><strong>الأحد الأول من شهر مسرى</strong> (لو۲۰: ۹-۱۹)</p>
<p><strong>مثل الكرامين يسوع المسيح حجر الزاوية</strong></p>
<p>وموعد الصليب يقترب، ومهمة الرب الفدائية تشارف نهايتها، يصارح الرب شعب إسرائيل: خاصته الذين جاء لخلاصهم، ولكنهم لم يقبلوه (يو١: ١١)، ويلخص لهم قصة الخلاص في هذا المثل، وكيف ستصل إلى ذروتها الدموية التي سيفقد معها إسرائيل دوره التليد، بينما تنفتح أبواب الخلاص على سعتها أمام أمم الأرض وتقبل الإيمان. وبين اليهود أنفسهم، فإن البسطاء والجهال والضعفاء والمزدري، ومعهم العشارون والخطأة، سوف يسبقون الكتبة والفريسيين ومعلمي للناموس، ومعهم العلماء والأقوياء، إلى ملكوت السموات (مت٣۱:٢۱). ولعلنا نلاحظ أن أحاديث المسيح الأخيرة لليهود يغلب عليها طابع اللوم والتوبيخ، وإن اختلط بالحزن والأسى، كما أن فيها إعلاناً عما ينتظرهم من نهاية أليمة: فهو، في ختام زياراته لأورشليم، ينظر إليها متأسفاً باكياً، ويخاطبها قائلا: كم مرة أردت أن أجمع أولادك كما تجمع الدجاجة فراخها تحت جناحيها ولم تريدوا..&#8221; ويختم كلمته بالحكم &#8220;هوذا بيتكم يترك لكم خرابا&#8221; (مت۲۳: ۳۷-۳۹)، (لو ۱۳: ٣١-٣٥). كما أنه في مثل شجرة التين، التي لم تعط ثمراً لثلاث سنين وطلب صاحب الكرم قطعها، وبين أن الكرام طلب أن تعطى فرصة سنة أخرى، حتى ينقب حولها ويضع زبلا فان صنعت ثمراً، وإلا ففيما بعد تقطعها&#8221; (لو١٣: ٦-٩).</p>
<p><strong>الكرم وما يشير إليه</strong><strong>:  </strong></p>
<p>يسبق الكتاب، في سفر إشعياء، ويشير إلى مأساة إسرائيل في قول الرب كان لحبيبي كرم على أكمة (مرتفع) خصبة، فنقبه ونقى حجارته، وغرسه كرم سورق، (وأحاطه بسياج) وبنى برجا (للحماية والحراسة) في وسطه، ونقر فيه أيضا معصرة&#8221;. بعد كل ما صنع الرب، كانت النتيجة صادمة: &#8220;لماذا إذ انتظرت أن يصنع عنبا (جيدا)، صنع عنباً رديئاً؟&#8221;.. وهذا هو الحكم فالآن أعرفكم ماذا أصنع بكرمي. أنزع سياجه فيصير للرعي. أهدم جدرانه فيصير للدوس واجعله خرابا..&#8221; (أش٥: ١-٦). هكذا تكون نهاية إسرائيل المرحلية، لاستعلان العهد الجديد وكنيسة المسيح التي تضم من كانوا خارج السياجات، قبل أن تعود، في نهاية الأيام، بقية إسرائيل لتعاين الخلاص، كأولين صاروا آخرین (رو۹: ۲۷). وقد استخدم الرب أيضاً &#8220;الكرم &#8220;، وما يتصل به، في أحاديثه عن الملكوت، باعتبار أنزراعات الكرم تجود في أرض إسرائيل. والكرم سريع النمو ووافر الإنتاج، ومصدر رزق للكرام كما هو غذاء وشراب شائع، والرب استخدم عصير الكرمة وهو يؤسس سر الشكر &#8220;هذا هو دمي الذي للعهد الجديد&#8221; (مت٢٦: ٢٨)، (مر١٤: ٢٥). والرب وصف نفسه أنه &#8220;الكرمة الحقيقية &#8221; وأن أباه هو &#8220;الكرام&#8221;، وأن المؤمنين هم الأغصان المتصلون بالكرم، وأن إثمار المؤمن يعتمد على ثبوته في المسيح وإلا جف واحترق (يو١٥: ١-٦). وبالإضافة إلى مثل الكرامين، استخدم الرب الكرم والفعلة الذين استأجرهم المالك في کرمه تباعاً خلال اليوم (مت۲۰: ١-١٦) لكي يبين أن هناك نصيباً واحداً لكل من يؤمن به هو الحياة الأبدية ديناراً واحداً&#8221;- (مت۲۰: ۹-۱۰)، يستوي في ذلك من تبع الرب مبكراً (الأولون، منذ الساعة الثالثة)، أو من آمن وتبع الرب في أخريات حياته (الآخرون، أصحاب الساعة الحادية عشرة). فالأجرة واحدة للجميع لأنها &#8220;على سبيل النعمة&#8221;، التي لا تتطلب غير الإيمان وثماره، لكيلا يفتخر أحد. لأننا نحن عمله، مخلوقين في المسيح يسوع لأعمال صالحة قد سبق الله فأعدها لكي نسلك فيها&#8221; (اف۲: ۸-۱۰).</p>
<p><strong>مثل الكرامين</strong></p>
<p>في مثل الكرامين، الذي ذكرته بشائر ثلاث (مت۲۱: ٣٣-٤٦) (مر۱۲: ۱-۱۲)، (لو ۲۰: ۱۹-۹)، يعلن يسوع عن انتهاء الحقبة اليهودية والعهد القديم، وبدء عهد الله الجديد، بحسب ما بشر به العهد القديم ذاته: &#8220;ها أيام تأتي، يقول الرب، وأقطع مع بيت إسرائيل ومع بيت يهوذا عهدا جديداً. ليس كالعهد (القديم) الذي قطعته مع آبائهم يوم أمسكتهم بيدهم لأخرجهم من أرض مصر، حين نقضوا عهدي فرفضتهم، يقول الرب، أجعل شريعتي في داخلهم وأكتبها على قلوبهم (وليس على الحجر)، وأكون لهم إلها وهم يكونون لي شعباً، ولا يعلم ونبعد كل واحد صاحبه، وكل واحد أخاه، قائلين: اعرفوا الرب، لأنهم سيعرفونني من صغيرهم إلى كبيرهم، يقول الرب، لأني أصفح عن إثمهم، ولا أذكر خطيتهم بعد&#8221; (إر٣١: ٣٤-٣١) (عب۸: ۷-۱۲). وهكذا، بحسب عهد الله الجديد، تتأسس كنيسة الله الحقيقية: الواحدة، المقدسة، الجامعة الرسولية، التي رأسها المسيح (أف۱: ۲۲)  (اف٤: ١٥) (کو۱: ۱۸)  (كو ۲: ۱۰)، والذي ليس بأحد غيره الخلاص&#8221; (أع٤: ١٢).</p>
<p>+والمثل يحكي قصة الخلاص من بدايتها. فالله أحب الإنسان، ورغم سقوطه دبر إنقاذه من الموت، واختار له شعبا ليحفظ وصاياه، ووعدبأن يرسل ابنه مخلصاً. كان الرب طويل الأناة، وعلى مدى الأجيال أرسل أنبياء ورسلاً للكرازة والهداية. هؤلاء هم العبيد الذين ظليرسلهم إلى الكرامين، أي قادة الشعب ومعلميهم، يطلب ثمراً أي يترجى خيرا في الناس واتباعاً لوصاياه فلم يكن هناك فقط ضلالوشرود وإنما أيضاً رفض من الكرامين لمن أرسلهم صاحب الكرم، فتعمدوا إهانتهم، بل إنهم جلدوا بعضهم وجرحوا بعضهم وطردوهمفارغين. وهكذا تجاسر الكرامون، الذين هم في الأصل أجراء وعليهم الطاعة وأداء العمل بكل أمانة، وكأنهم استولوا على الكرم كىيديروه لحسابهم، وأداروا ظهرهم لصاحب الكرم الذي حسبوا أناته ضعفاً.</p>
<p>+ والمسيح، وهو يقترب من ذروة القصة، يقول إن صاحب الكرم رأى أن الكرامين أمعنوا في التمرد، لأنهم استصغروا شأن العبيد الذينأرسلهم، ورأى أن الحل هو أن يرسل &#8220;ابنه الحبيب&#8221;، (وهو لقب لا يخفى معناه عن الفريسيين ومعلمي الناموس) ، متوقعاً أن يهابوهعندما يأتيهم ويكرموا وفادته. ولكن، لأن قلوبهم قد عميت واستولى عليها عدو الخير، فهم، على العكس، فكروا أنه قد حانت ساعةانتصارهم. فهذا الابن الحبيب الوحيد هو الوارث، فإن قتلوه، يؤول إليهم الكرم، بينما صاحب الكرم بعيد لن يقدر أن يطالهم!</p>
<p>+ ثم يصل الرب إلى الفصل الأخير الذي سوف يتم بكل حذافيره عن قريب، وسيكون السامعون ضمن أبطاله فيقول &#8220;فأخرجوه (الابنالوارث) خارج الكرم وقتلوه&#8221; (باعتبار ما سيكون) لكي يتخلصوا منه، ويظلوا محتفظين بمواقعهم الأولى. وماذا ستكون نتيجة جريرتهمالتي سوف يتحملون نتائجها دمه علينا وعلى أولادنا&#8221; (مت٢٧: ٢٥): إن صاحب الكرم الذي كانوا يحسبونه بعيدا يأتي ويهلك هؤلاءالكرامين (يسقط رؤساء اليهود)، ويعطى الكرم لآخرين (تلاميذ الرب ورسله المؤمنين به والمبشرين بخلاصه)، كما سينفتح بابالخلاص لكل شعوب الأمم الذين سيسبقون شعب إسرائيل إلى الملكوت.</p>
<p>+ هنا فهم رؤساء الكهنة والكتبة أن المثل يدينهم، وأن نهايتهم تقترب، فأعلنوا رفضهم للمثل وما يعنيه وقالوا &#8220;حاشا&#8221;. والرب يرد عليهم مذكرا إياهم بما جاء في الأنبياء وقد غفلوا عنه، والذي يتحقق الآن أمامهم لأنه لا يمكن أن يسقط: &#8220;إذا ما هو هذا المكتوب (فالأنبياء): الحجر الذي رفضه البناؤون هو قد صار رأس الزاوية&#8221; (مز۱۱۸: ۲۲) (اش٢٨: ١٦) (مت۲۱: ٤٢)</p>
<p>(مر۱۲: ۱۰)  (لو۲۰: ۱۷)</p>
<p>والرب يتقدم نحو الصليب، لا عن ضعف أو انهزام أمام جبروت العالم وحسد رؤساء اليهود، وإنما كفاد منتصر يستكمل مهمته التي تجسد من أجلها، فيصلب ويموت، ولكنه لا يمسك من الموت، بل يقوم ناقضاً أوجاعه، ليقوم معه كل من يؤمن به، وينال الحياة الأبدية. وهو ملك الملوك ورب الأرباب الذي من يتعثر فيه ويتشكك فهو يترضض، ومع هذا ربما يرجع ويحيا، أما من يتجاسر فيناصبه العداء ويقاوم هو يتحدى رئاسته ويعلن عليه الحرب، فهو يسقط عليه ويسحقه فلا تقوم له قائمة</p>
<p>+ وفي رؤيا دانیال نبوءة مسبقة عما جرى: كنت تنظر إلى أن قطع حجر بغير يدين فضرب التمثال على قدميه، اللتين من حديد وخزف فسحقهما&#8230; وصارت كعصافة البيدر في الصيف، فحملتها الريح فلم يوجد لها مكان (أي تبددت). أما الحجر الذي ضرب التمثال (على العكس) فصار جبلا كبيرا وملأ الأرض كلها&#8221; (دا٢: ٣٤-٣٥).</p>
<p><strong>يسوع المسيح حجر الزاوية </strong></p>
<p>عندما ارتفع المسيح على الصليب، حسب رؤساء الكهنة اليهود أن صلبه يقضى عليه وعلى رسالته، ولكن قيامته في اليوم الثالث كشفت عن قوته وأسقطت رئاستهم، وأسست العهد الجديد بين الله والناس، وبحلول الروح القدس يوم الخمسين، نال التلاميذ والرسل القوة من الأعالي (لو٢٤: ٤٩) التي كانوا في انتظارها، وطفقوا يشهدون بالخلاص، بدءا من أورشليم واليهودية إلى السامرة، ثم إلى أقاصي المسكونة. ومنذ الأيام الأولى، يتكلم الرسل عن المسيح أنه حجر الزاوية والمخلص الوحيد، فيقول القديس بطرس &#8220;هذا هو الحجر الذي احتقرتموه أيها البناؤون الذي صار رأس الزاوية. وليس بأحد غيره الخلاص. لأن ليس اسم آخر تحت السماء، قد أعطى بين الناس، به ينبغي أن نخلص&#8221; (أع٤: ۱۱- ۱۲). فالمسيح هو حجر الزاوية في الإيمان المسيحي، وأن المسيحية هي المسيح: ناظرين إلى رئيس الإيمان ومكمله يسوع، الذي من أجل السرور الموضوع أمامه، احتمل الصليب مستهينا بالخزي، فجلس في يمين عرش الله&#8221; (عب۱۲: ۲)؛ مبنيين على أساس الرسل والأنبياء، ويسوع المسيح نفسه حجر الزاوية&#8221; (ف۲: ۲۰)؛ .</p>
<p>وبغير الإيمان بالمسيح لا خلاص إذا &#8220;بدون إيمان لا يمكن إرضاؤه&#8221; (عب١١: ٦)، فالكتاب يخبر عن المسيح، وفي الأسرار نتحدبالمسيح، وغاية الخلاص ملكوت المسيح.</p>
<p>والمسيح هو حجر الزاوية في تأسيس الكنيسة: جسده: وأما أنتم فجسد المسيح وأعضاؤه أفراداً&#8221; (١کو ۱۲: ۲۷)</p>
<p>وإياه جعل رأساً في كل شئ للكنيسة التي هي جسده&#8221; (أف١: ٢٣)</p>
<p>&#8220;المسيح أيضاً رأس الكنيسة&#8221; (أف٥: ٢٣) ؛ وهو رأس الجسد: الكنيسة (كو ۱: ۱۸).</p>
<p>والمسيح هو حجر الزاوية في حياة المؤمن (على الأرض وفي الملكوت): من يسمع كلامي ويؤمن بالذي أرسلني فله حياة أبدية، ولا يأتيإلى دينونة، بل قد انتقل من الموت إلى الحياة&#8221; (يو٥: ٢٤)؛</p>
<p>&#8220;من يقبل إلى لا يجوع ومن يؤمن بي فلا يعطش أبداً&#8221; (يو٦: ٣٥) ؛ &#8220;من يأكل جسدي ويشرب دمي يثبت في وأنا فيه&#8221; (يو٦: ٥٦) ؛ ليس أحد يأتي إلى الآب إلا بي&#8221; (يو١٤: ٦) ؛ &#8220;الذي يثبت في وأنا فيه هذا يأتي بثمر كثير، لأنكم بدوني لا تقدرون أن تفعلوا شيئاً (يو١٥: ٥)؛وتعرفون الحق، والحق يحرركم.. فإن حرركم الابن فبالحقيقة تكونون أحراراً&#8221; (يو٨: ٣٢- ٣٦) مع المسيح صلبت فأحيا لا أنا، بل المسيح يحيا في&#8221; (غل۲: ۲۰)؛ لي الحياة هي المسيح، والموت ربح&#8221; (فی۱: ۲۱)؛ &#8220;إن أخطأ أحد فلنا شفيع عند الآب، يسوع المسيح البار، وهو كفارة لخطاياتا ليس لخطايانا فقط بل لخطايا كل العالم أيضا&#8221; (١يو۲: ۱-۲)؛</p>
<p>وهذه هي الشهادة: أن الله أعطانا حياة أبدية، وهذه الحياة هي في ابنه. من له الابن فله الحياة ومن ليس له ابن الله فليست له الحياة&#8221; (١يو٥: ۱۱-۱۲).</p>
<p>والمسيح هو الألف والياء، الأول والآخر، البداية والنهاية (رؤ۱: ۸-۱۱) و (رؤ۱۷: ٢٢- ۱۳)</p>
<p>المسيح الكل وفي الكل&#8221; (كو۳: ۱۱)؛ ومن أجله الكل وبه الكل&#8221; (عب۲: ۱۰)</p>
<p>وهو &#8220;الطريق والحق والحياة&#8221; (يو ١٤: ٦)؛ وهو &#8220;القيامة والحياة (يو١١: ٢٥)</p>
<p>وهو الديان الوحيد في اليوم الأخير (يو٥: ۲۱، ۲۲، ۲۷، ٦: ٣٨ ٤٠، ٤٤، ٥٤). نعم.. هو لنا البداية.. والنهاية.</p>
<p><strong>نحن ومثل الكرامين </strong></p>
<p>على أنه يمكن تطبيق المثل روحياً على حياتنا كمؤمنين.. فالأرض هي النفس الإنسانية، وصاحبها بالطبع هو الله جابلنا، والكرم هوالمواهب والقدرات والإمكانات التي أودعها الله فينا ونحن هم الكرامون الذين استأمننا الله على عطاياه لكي نستثمرها ونستخدمها منأجل مجد اسمه. والله وفر لنا النعم الروحية التي تساند جهادنا كي يثمر للحياة الأبدية: عبادة وتوبة، وحباً، وخدمة وكرازة، واحتمالا، وتطلعاً دائماً للأبدية. فكلمة الله هي السياج الذي يحمينا ويقود خطانا في طريق المسيح، وجسد الرب ودمه هو ما تشير إليه المعصرةالملازمة لبساتين الكروم، واسم الرب هو البرج الحصين الذي &#8220;يركض إليه الصديق ويتمنع (أم١٨ : ١٠).</p>
<p>والعبيد هم خدام الله والكلمة (وضمنهم أنبياء العهد القديم والتلاميذ والرسل الذين سجلوا كتب العهد الجديد، وكل خدام الله من بعدهم) الذين يبلغون وصية الله ويكرزون بالخلاص ويحثون على جدة للحياة. وإهانة العبيد والإساءة إليهم تكون عندما نرفض إرشاد الكاهنوالخادم، أو عدم الاعتداد به، أما رفض الابن الحبيب فيكون بإهمال كلمة الله، وعصيان الوصية عمليا بما يعني السير في الظلام. والمثل يحذر من إهمال دعوة الخلاص وتجاهل الوصية، كنوع من ممارسة الحرية وتحقيق الذات، لأن في هذا احتقارا لمحبة الله وتعالياعن تبعيته، وتجريدا للدم من قيمته وجدواه. وسيتدخل الله هنا لتنبيه المسئ بكل طريق، وإلا انضم إلى جماعة رافضي المسيح إلىالنهاية الذين مصيرهم أن يهلكهم هلاكا رديا&#8221; (مت۲۱: ٤١) في مجيئه، و&#8221;مخيف هو الوقوع بين يدي الله الحي&#8221; (عب۱۰: ۳۱).</p>
<p>ولكن يبقى القول الإلهي الذي يسند الأمناء المجاهدين: حي أنا يقول السيد الرب، إني لا أسر بموت الشرير، بل بأن يرجع الشرير عنطريقه ويحيا&#8221; (حز ۳۳: ۱۱)؛ وهو لا يشاء أن يهلك أناس، بل أن يقبل الجميع إلى التوبة&#8221; (٢بط۳: ۹)<a href="#_ftn14" name="_ftnref14">[14]</a>.</p>
<h4>المتنيح الدكتور موريس تاوضروس</h4>
<p><strong>المدلولات اللاهوتية والروحية لبعض المعاني الواردة بإنجيل القدْاس</strong></p>
<p>أحاطه بسياج (Phramgmon autw periethyken) &#8220;غرس كرما وأحاطه بسياج&#8221;</p>
<p>من المحتمل أن هذا السياج يصنع من نبات الصبر البرى ذات الأشواك، والمعروف فى الشرق.</p>
<p>حفر فى معصرة (Uruxen Iynon)</p>
<p>كانت المعصرة تحفر في الصخر، ويشير إلى هذا النبي إشعياء فى الاصحاح الخامس حيث تعطى صورة مشابهة لمثل الكرم الذي نطق به السيد المسيح. يقول النبي إشعياء: لأنشدن عن حبيبي نشيد محب لكرمه. كان لحبيبي كرم على أكمة خصبة، فنقبه ونقى حجارته وغرسه كرم سورق وبنى برجا فى وسطه، ونقر فيه أيضا معصرة، فانتظر أن يصنع عنبا رديئا &#8221; (أش١:٥-٢).</p>
<p>برج (Purgon)</p>
<p>يستعمل البرج للمراقبة، وقد يستعمل أيضا كمكان لخزن الخمور والامتعة. وهناك فى الكتاب المقدس تلميحات كثيرة لاماكن المراقبة هذه على النحو التالى:&#8221;فبقيت ابنة صهيون كمظلة فى كرم كخيمة فى مقثأة (أرض لزراعة القثاء وهو ثمر يشبه الخيار) (أش1: 8).</p>
<p>&#8220;ترنحت الأرض ترنحا كالسكران ، وتدلدلت كالعرزال (خيمة أو كوخ من الأغصان) (أش24: 20).</p>
<p>ويبنى بيته كالعث أو كمظلة صنعها الناطور (أيوب 27: 18)</p>
<p>وسلمه (Exedro) &#8220;وسلمه إلى كرامين&#8221;</p>
<p>كانت هناك أساليب ثلاث للتعامل مع الكرامين: وبحسب الطريقة الاولى، فان الفعلة يحصلون على جزء من ثمر الكرم يصل إلى الثلث أو الربع. أما النوعان الثاني والثالث من المعاملة، فبمقتضاها، أما أن يدفع المستأجر ايجارا للمالك أو يتفق مع المالك ليعطيه جزءا معينا من المحصول، سواء كان المحصول جيدا أو رديئا. وكان هذا الاتفاق يتم لسنة واحدة أو لمدى الحياة، وأحيانا كان إيجار الكرم ينتقل بالوراثة من الأب إلى الابن. ولعله يمكن القول أن هذا الأسلوب الأخير من المعاملة هو الذى يشير إليه السيد المسيح في مثل فعلة الكرم، فقد كان على المستأجرين أن يقدموا جزءا من محصولهم للمالك (21: 34 – وانظر أيضا (مر12: 2).</p>
<p>يهابون: (Entrapysontal) &#8220;أرسل لهم ابنه قائلا يهابون أبني&#8221;</p>
<p>يعنى الفعل حرفيا: يتجه الانسان الى الوراء، وعلى ذلك: يخجل. وهكذا يتضمن المعنى النظر إلى الغير فى احترام ووقار وهيبة.</p>
<p>أولئك الأردياء يهلكهم هلاكا رديئا</p>
<p>(Kakous Kakws apolesei autous) :</p>
<p>يتضح من هذه العبارة أن صاحب الكرم يعامل الفعلة بما يناسبهم، فهم أردياء ، ولذلك أيضا فان الاسلوب الذى يستعمله معهم هوأيضا من نفس نوعيتهم فيهلكهم بأسلوب ردىء (هلاكا رديئا) .</p>
<p>هؤلاء الذين (Oitines) &#8220;ويسلم الكرم إلى كرامين آخرين (هؤلاء الذين) يعطونه الأثمار فى أوقاتها&#8221;</p>
<p>يلاحظ هنا فى الصياغة اليونانية (وهو أمر غير واضح فى الترجمة العربية) أنه عندما تكلم عن الفعلة الآخرين الذين سوف يسلم إليهم الكرم، باعتبار أنهم من فئة أفضل من الكرامين السابقين، استعمل الضمير الشخصى المركب، الذى يعنى هنا &#8220;هؤلاء الذين&#8221; . هذاالضمير الشخصى المركب، يعبر فى اللغة اليونانية، أكثر مما يعبر الضمير الشخصى غير المركب، عن صفات وسمات هذه الفئةالجديدة من فعلة الكرم، فهؤلاء الكرامون الآخرون الذين سوف يسلمهم الكرم هم من هذه النوعية من الفعلة الأمناء الذين يقومونبالتزاماتهم نحو صاحب الكرم، يعطونه نصيبه من الثمار فى حينه.</p>
<p>يترضض (Sunthiasthysetai) &#8221; من سقط على هذا الحجر يترضض&#8221;</p>
<p>الكاملة اليونانية تعنى أكثر من أن ينكسر، إنه ينكسر إلى قطع أى يتحطم ويتهشم ويتمزق.</p>
<p>يسحقه (Likmysei auton) &#8221; من سقط هو عليه يسحقه&#8221;</p>
<p>الفعل هنا يعنى: يحوله إلى مسحوق. وهو أكثر من ذلك يعطى صورة للمذراة التى تفصل القمح عن التبن. أى أن المعنى الحرفى للفعل: سوف يذريه أو سوف يبعثره أو ينثره أو يبدده كالغبار<a href="#_ftn15" name="_ftnref15">[15]</a>.</p>
<h3>من وحي قراءات اليوم</h3>
<p>وفِي الوقت أرسل عبداً إلي الكرامين ليعطوه من ثمر الكرم &#8221; (لو ١٠:٢٠)</p>
<p>تري ماهي ثمار الكرم التي تنتظرها من خدمتنا أيها الكرام الأعظم؟</p>
<p>هل هي فقط كنائس نبنيها؟! أم مشروعات نقيمها؟! أم تلاميذ يتبعوننا؟!</p>
<p>أم شعارات نرفعها ليرددها شعبنا؟!</p>
<p>أم مواهب نخطف بها إعجاب أولادنا؟!</p>
<p>هل هي ثمار يجب أن يراها كل من نلقاه في طريقنا؟! أم هي ثمار يزدان بها فردوس أعماقنا وخفياتنا؟!</p>
<p>هل هي ثمار تقود الآخرين إلى محبتك أم تربطهم بِنَا؟!</p>
<p>هل هي ثمار تزيد أتباعنا أم هي تقدر حرية ونضج أولادنا؟!</p>
<p>هل هي ثمار تفرح بمثيلاتها في شركائنا أم تنافس مواهب غيرنا؟!</p>
<p>هل هي ثمار تعلنها منابرنا، أم حناجرنا، أم مظاهرنا؟!</p>
<p>&#8221; بدوني لا تقدرون أن تفعلوا شيئا &#8221; (يو ٥:١٥) اجعلها أيها الكرام الأعظم دستور حياتنا ، لك كل المجد</p>
<h3>المراجع:</h3>
<p><a href="#_ftnref1" name="_ftn1"></a>١- من عظة للقديس باخوميوس مترجمة عن القبطية - دكتور صموئيل القس قزمان معوض - جامعة مونستر ألمانيا</p>
<p>(مجلة الطريق - إصدار إيبارشية هولندا)</p>
<p><a href="#_ftnref2" name="_ftn2"></a>٢- المرجع : القمص أنطونيوس فكري - تفسير إنجيل لوقا إصحاح ٢٠</p>
<p><a href="#_ftnref3" name="_ftn3"></a>٣- Jr, A.J. &amp; Oden, T.C. (2003). Luke (The Ancient Christian Commentary on Scripture, New Testament part III ). Illinois (U.S.A): InterVarsity Press. Pages 304</p>
<p>ترجمة الأخت إيفيت منير - كنيسة مار مرقس ببني سويف</p>
<p><a href="#_ftnref4" name="_ftn4"></a>٤- تفسير إنجيل لوقا للقديس كيرلس الإسكندري ( صفحة ٦٤٣ ) - ترجمة دكتور نصحي عبد الشهيد</p>
<p><a href="#_ftnref5" name="_ftn5"></a>٥- المرجع : تفسير إنجيل مرقس الإصحاح الثاني عشر - القمص تادرس يعقوب ملطي</p>
<p><a href="#_ftnref6" name="_ftn6"></a>٦- المرجع : تفسير سفر أعمال الرسل الإصحاح الرابع - القمص تادرس يعقوب ملطي</p>
<p><a href="#_ftnref7" name="_ftn7"></a>٧-  المرجع : تفسير سفر يشوع الإصحاح الثامن - القمص تادرس يعقوب ملطي</p>
<p><a href="#_ftnref8" name="_ftn8"></a>٨- المرجع : كتاب إختبرني يا الله صفحة ٢٣٥ - قداسة البابا تواضروس الثاني</p>
<p><a href="#_ftnref9" name="_ftn9"></a>٩- المرجع : كتاب شفتاك يا عروس تقطران شهدا - الجزء الخامس ( صفحة ٥٥ - ٥٧) - دير الأنبا شنودة العامر بميلانو</p>
<p><a href="#_ftnref10" name="_ftn10"></a>١٠- المرجع : كتاب ألقاب المسيح ووظائفه ( صفحة ٦١ ، ٩٥ ) - الأنبا بيمن أسقف ملوي وأنصنا والأشمونين</p>
<p><a href="#_ftnref11" name="_ftn11"></a>١١- المرجع : كمال حبيب - مجلة مدارس الأحد عدد يناير لسنة ١٩٥٩</p>
<p><a href="#_ftnref12" name="_ftn12"></a>١٢- المرجع : كتاب تأملات روحية في قراءات أناجيل آحاد السنة القبطية ( صفحة ٤٨١ ) - القمص لوقا سيداروس - كنيسة مار جرجس سبورتنج</p>
<p><a href="#_ftnref13" name="_ftn13"></a>١٣- المرجع : كتاب تأملات وعناصر روحية في أحاد وأيام السنة التوتية ( الجزء الأول صفحة ٢٣٧ ) - إعداد القمص تادرس البراموسي</p>
<p><a href="#_ftnref14" name="_ftn14"></a>١٤- المرجع : مجلة مدارس الأحد عدد أغسطس ٢٠١٤</p>
<p><a href="#_ftnref15" name="_ftn15"></a>١٥- المرجع : المدلولات اللاهوتية والروحية في الكتاب المقدس بحسب إنجيل متي ( صفحة ١٥٥) - الدكتور موريس تاوضروس - أستاذ العهد الجديد بالكلية الإكليريكية</p>

      {% endcreateArticleAccordions %}
    </section>
  {% endblock %}
