---
layout: 'layouts/reading.html'
title: 'الاحد الثاني من مسري'
tags: 'sundays'
permalink: /articles/sundays/12-2.html
---
  {% block content %}
    <section id="readings">
      <ul>
      {% if 'undefined' != 'undefined' %}
      
      {% else %}
      {% if '19.119:145-146' != 'null' %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">العشية</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeVespers '19.119:145-146' '42.18:9-17' %}
          </div>
        </div>
      </li>
      {% endif %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">باكر</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeMatins '19.89:1-2' '41.16:2-8' '' %}
          </div>
        </div>
      </li>
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <h3 class="flex items-center justify-between">
            <span class="kufi">القداس</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </h3>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeLitugy '49.6:1-23' '62.2:7-17' '44.20:1-12' '19.89:5,15' '42.5:27-39' %}
          </div>
        </div>
      </li>

      {% endif %}
        </ul>
    </section>
    <section id="article">
      <h3 class="mt-8 mb-4 heading-explain">شرح القراءات</h3>
      {% createArticleAccordions %}
        <p>تسربلي ثوب البر الذي من الله واجعلي على رأسك تاج مجد الأزلي</p>
<p>(باروخ٢:٥)</p>
<p>&#8221; وجددت طبيعتنا الفاسدة بسر معموديتك المقدسة. وأفضت علينا مواهب روحك الأقدس. وجعلتنا امة مبررة. ومنحتنا كهنوتاً روحياً ملائكياً. وتكرمت علينا بما يسمو على كل غني وشرف ومجد &#8221; دلال إسبوع الآلام - الطلبة</p>
<p>&#8221; مملكة طاهر النفس داخل قلبه، والشمس التي تشرق فيها هي نور الثالوث القدوس، وهواء نسيمها هو الروح القدس المعزي، والسكان معه هم طبائع الأطهار الروحانية، وحياتهم وفرحهم وبهجتهم هو المسيح ضياء الآب &#8221;</p>
<p>القديس يوحنا سابا - تفسير حزقيال الإصحاح الأول - القمص تادرس يعقوب ملطي</p>
<h3>شواهد القراءات</h3>
<p>(مز ١١٨: ١١٣-١١٢) ، (لو ١٨ : ٩-١٧) ، (مز ٨٨ : ١١-٤) ، (مر ١٦ : ٢-٨)، (أف ٦ : ١-٢٣)، (١يو ٢ : ٧-١٧) ،    (أع ٢٠ : ١-١٢) ، (مز ٨٨ : ١٥-٥)، (لو ٥ : ٢٧-٣٩)</p>
<h3>ملاحظات على قراءات اليوم</h3>
<p>+ قراءة الكاثوليكون لهذا اليوم (١يو٢: ٧ - ١٧) تكرَّرت في<a href="https://katameros.bible/church-reading/%d9%82%d8%b1%d8%a7%d8%a1%d8%a7%d8%aa-%d8%a7%d9%84%d8%a3%d8%ad%d8%af-%d8%a7%d9%84%d8%ab%d8%a7%d9%84%d8%ab-%d9%85%d9%86-%d8%b4%d9%87%d8%b1-%d9%83%d9%8a%d9%87%d9%83/"> الأحد الثالث من شهر كيهك</a>، <a href="https://katameros.bible/church-reading/%d8%a7%d9%84%d9%8a%d9%88%d9%85-%d8%a7%d9%84%d8%a3%d9%88%d9%91%d9%84-%d9%85%d9%86-%d8%b4%d9%87%d8%b1-%d8%aa%d9%88%d8%aa/">وفي يوم ١ توت (رأس السنة القبطية )</a></p>
<p>كما أنها تُشبه قراءة <a href="https://katameros.bible/church-reading/%d9%82%d8%b1%d8%a7%d8%a1%d8%a7%d8%aa-%d8%a7%d9%84%d9%8a%d9%88%d9%85-%d8%a7%d9%84%d8%ad%d8%a7%d8%af%d9%8a-%d9%88%d8%a7%d9%84%d8%b9%d8%b4%d8%b1%d9%88%d9%86-%d9%85%d9%86-%d8%aa%d9%88%d8%aa/">يوم ٢١ توت</a> (١يو ٢: ٧ - ١١) مع إختلاف عدد الآيات المُختَاَرة</p>
<p>مجيئها في <a href="https://katameros.bible/church-reading/%d9%82%d8%b1%d8%a7%d8%a1%d8%a7%d8%aa-%d8%a7%d9%84%d8%a3%d8%ad%d8%af-%d8%a7%d9%84%d8%ab%d8%a7%d9%84%d8%ab-%d9%85%d9%86-%d8%b4%d9%87%d8%b1-%d9%83%d9%8a%d9%87%d9%83/">الأحد الثالث من كيهك</a> <a href="https://katameros.bible/church-reading/%d8%a7%d9%84%d9%8a%d9%88%d9%85-%d8%a7%d9%84%d8%ab%d8%a7%d9%86%d9%8a-%d9%85%d9%86-%d8%b4%d9%87%d8%b1-%d9%85%d8%b3%d8%b1%d9%8a/">والثاني من مسري</a> رُبَّما يكون سببه الآية &#8221; لأن الظلمة قد جازت والنور الحقيقي الآن يضئ &#8221;  إشارة إلي تجسُّد الكلمة<a href="https://katameros.bible/church-reading/%d9%82%d8%b1%d8%a7%d8%a1%d8%a7%d8%aa-%d8%a7%d9%84%d8%a3%d8%ad%d8%af-%d8%a7%d9%84%d8%ab%d8%a7%d9%84%d8%ab-%d9%85%d9%86-%d8%b4%d9%87%d8%b1-%d9%83%d9%8a%d9%87%d9%83/"> ( الأحد الثالث من كيهك )</a> ، وإشراقة نور وبرّ ابن الله للبشرية الضعيفة <a href="https://katameros.bible/church-reading/%d8%a7%d9%84%d8%a7%d8%ad%d8%af-%d8%a7%d9%84%d8%ab%d8%a7%d9%86%d9%8a-%d9%85%d9%86-%d9%85%d8%b3%d8%b1%d9%8a/">( الأحد الثاني من مسري )</a></p>
<p>أما قراءة الكاثوليكون<a href="https://katameros.bible/church-reading/%d8%a7%d9%84%d9%8a%d9%88%d9%85-%d8%a7%d9%84%d8%a3%d9%88%d9%91%d9%84-%d9%85%d9%86-%d8%b4%d9%87%d8%b1-%d8%aa%d9%88%d8%aa/"> ليوم ١ توت</a> (١يو٢: ٧ - ١٧) فتكلمت أيضاً، بالإضافة إلي هذا، عن عطايا نور المسيح له المجدلأولاد العهد الجديد في بداية السنة القبطية (وهي مغفرة الخطايا، والنصرة علي الشرير، ومعرفة الآب)</p>
<p>أما قراءة الكاثوليكون <a href="https://katameros.bible/church-reading/%d9%82%d8%b1%d8%a7%d8%a1%d8%a7%d8%aa-%d8%a7%d9%84%d9%8a%d9%88%d9%85-%d8%a7%d9%84%d8%ad%d8%a7%d8%af%d9%8a-%d9%88%d8%a7%d9%84%d8%b9%d8%b4%d8%b1%d9%88%d9%86-%d9%85%d9%86-%d8%aa%d9%88%d8%aa/">ليوم ٢١ توت</a> (شهادة كبريانوس الأسقف) إكتفت بالكلام عن المسيح له المجد النور الحقيقي ونور العهد الجديد والمحبة الأخويّة كعلامة عن عمل هذا النور فينا</p>
<p>+ قراءة إنجيل قدَّاس اليوم (لو ٥: ٢٧ - ٣٩) تُشبه قراءة إنجيل القدَّاس (لو ٥: ٢٧ - ٣٢) <a href="https://katameros.bible/church-reading/%d8%a7%d9%84%d9%8a%d9%88%d9%85-%d8%a7%d9%84%d8%ab%d8%a7%d9%86%d9%8a-%d8%b9%d8%b4%d8%b1-%d9%85%d9%86-%d8%b4%d9%87%d8%b1-%d8%a8%d8%a7%d8%a8%d9%87/">ليوم ١٢ بابه</a> (تذكار القديس متي الإنجيلي)</p>
<p>وهو موضوع لقاء الرب مع لاوي ومع العشارين، ومجئ الآيات الزائدة اليوم (من آية ٣٣ - ٣٩) للإشارة إلي الثوب الجديد والخمر الجديدة، أي بر العهد الجديد الذي تحقَّق في المسيح له المجد.</p>
<h3>شرح القراءات</h3>
<p>تتكلم قراءات هذا اليوم عن الكنيسة المبررة بنور ابنها فلا تستنير الا بحضوره الالهي وحبه المجاني وبره الالهي وقبوله لها دون سبب سوي غني نعمته لها ومحبته غير المشروطة</p>
<p>تبدا المزامير بصراخ النفس واحتياجها لبرّه                     (مزمور عشيّة)</p>
<p>وسكيب المراحم الالهية للبشرية                                   (مزمور باكر)</p>
<p>وفرح النفس وإستنارتها                                          (مزمور القدَّاس)</p>
<p>فيخبرنا مزمور عشية عن مراحمه الالهية في استجابته صلواتنا وصراخنا وخلاصه لنا (صرخت من كل قلبي فارحمني واستجب لي صرخت اليك فخلصني واحفظ شهادتك)</p>
<p>وتفرح النفس في مزمور باكر بمراحمه فتهلل وتسبح الله وتشهد له وتتدرج في اختبار هذه المراحم كما لو كانت بناء يعلو ويكبر (مراحمك يارب اسبحها الي الابد من جيل الي جيل أخبر بحقك فمي لاني قلت ان الرحمة تبني الي الابد)</p>
<p>ويكون هذا التسبيح في مزمور القداس هو سبب استنارة شعب الله (طوبي للشعب الذي يعرف التهليل وبنور وجهك يسلكون)</p>
<p>وفي انجيل عشية يوضح ما هو التبرير ومن هم الابرار الذين لا يعتمدون على اعمالهم، بل الذي يعبرون دائما عن احتياجهم الشديد في قصة الفريسي والعشار (وقال عن قوم واثقين بأنفسهم انهم ابرار ويحتقرون الاخرين هذا المثل &#8230;. اما الفريسي فوقف وكان يصلي في نفسه بهذا قائلا: اللهم انا اشكرك أنى لست مثل باقي الناس &#8230; واما العشار فوقف من بعيد لايشاء ان يرفع عينيه نحو السماء، بل قرع على صدره قائلا اللهم ارحمني انا الخاطئ اقول لكم ان هذا نزل الي بيته مبررا دون ذاك&#8230;. دعوا الاولاد يأتون الي ولا تمنعوهم لان لمثل هؤلاء - بساطة الاحتياج- ملكوت الله)</p>
<p>وتتكلّم القراءات عن الكنيسة المُتسلِّحة بدرع البرّ              (البولس )</p>
<p>ونور المحبّة الأخويّة                                              ( الكاثوليكون )</p>
<p>ودواء الخلود الذي يُقيم الأموات                               ( الإبركسيس )</p>
<p>ويتكلم البولس عن عدم قدرة قوات الظلمة على الكنيسة المتسلحة بدرع البر وانجيل السلام وترس الايمان (فان محاربتنا ليست مع دم ولحم، بل مع الرؤساء مع السلاطين مع ولاة عالم الظلمة مع اجناد الشر الروحية في السماويات من اجل ذلك احملوا سلاح الله الكامل &#8230;. فاثبتوا متسلحين على احقاءكم بالحق ولابسين درع البر وحاذين ارجلكم باستعداد انجيل السلام حاملين فوق الكل ترس الايمان الذي به تقدرون ان تطفئوا جميع سهام الشرير المتقدة نارا)</p>
<p>ويعلن الكاثوليكون نور المحبة الالهية وبر غفران الله المجاني لاولاده (لان الظلمة قد جازت والنور الحقيقي الان يضئ &#8230; من يحب اخاه يثبت في النور وليس فيه عثرة &#8230; اكتب اليكم ايها الاولاد لانه قد غفرت لكم خطاياكم من اجل اسمه)</p>
<p>اما الابركسيس فيظهر قيمة وقوة النور الالهي في كنيسة الافخارستيا - دواء الخلود - الساهرة مع كلمة الله التي تقيم من الموت مع اشراقة النور (وفي أحد السبوت اذ اجتمعنا لكسر الخبز خاطبهم بولس &#8230;. وكان شاب اسمه افتيخوس جالسا في الطاقة متثقلا بنوم عميق واذ كان بولس يتكلم فغلب عليه النوم فسقط من الطبقة الثالثة الي أسفل وحمل ميتا فنزل بولس ووقع عليه واعتنقه قائلا لاتضطربوا لان نفسه فيه ثم صعد وكسر خبزا وذاق وتكلم كثيرا حتى لاح النور وهكذا خرج واتوا بالفتي حيا وتعزوا تعزية ليست بقليلة)</p>
<p>ويختم انجيل القداس بتبرير الابن للخطاة ودعوته لهم للتوبة (وبعد هذا خرج يسوع فنظر عشارا اسمه لاوي جالسا عند مكان الجباية فقال له اتبعني فترك كل شئ وقام وتبعه وصنع له لاوي وليمة عظيمة في بيته وكان جمع عظيم من العشارين واخرين متكئين معهم فتذمر الفريسيون والكتبة علي تلاميذه قائلين لماذا تاكلون وتشربون مع العشارين والخطاة فاجاب يسوع وقال لهم لايحتاج الاقوياء الي الطبيب بل المرضي لاني لم ات لادعو الابرار بل الخطاة الي التوبة)</p>
<h3>ملخّص القراءات</h3>
<p>الكنيسة المستنيرة بنور الابن تفرح دائما بمراحمه الالهية                        (المزامير)</p>
<p>وتدعو الكل للبر الالهي                                                                 (انجيل القداس)</p>
<p>ويتمتع بهذا البر المحتاجين والتائبين والمحبين                                  (انجيل عشية والكاثوليكون)</p>
<p>وتنتصر بنوره وبره الالهي علي قوات الظلمة وعلي الموت                      (البولس والابركسيس )</p>
<h3>إنجيل القدَّاس في فكر آباء الكنيسة</h3>
<p>فقط القديس لوقا البشير يصف لاوي (متى العشّار) بأنه جابي  (جامع) ضرائب، مشددًا على أن لاوي كان جزءًا من المجموعة التي اعتبرت أنها من أسوأ الخطاة(القديس كيرلس الاسكندرى / الكبير/ الأول/ عمود الدين).</p>
<p>تميزت صحبة المائدة مع الخطاة بجوهر خدمة السيد المسيح ومركز جدله مع المؤسسة الدينية، وخاصة الفريسيين، الذي بين اللقاء مع لاوي عدم إيمانهم (القديس امبروسيوس). إنهم يغارون من يسوع لأنهم لا يفهمون أنه حاضر كطبيب وليس دياناَ (قاضياً)(القديس كيرلس الاسكندرى). إن استقبال السيد المسيح في بيوتنا وعلى مائدتنا هو الاستعداد له، اى للعريس، بمأدبة من الأعمال الصالحة القديس امبروسيوس).</p>
<p>هذه الصورة للسيد المسيح كعريس تتطلع الى وجود المسيح في عشاء الرب (القديس امبروسيوس) والعيد (الفرح) المسيحي عندما يأخذ السيد المسيح عروسه،أورشليم السماوية.</p>
<p>لذا فالتلاميذ يستحقون اسم &#8220;ضيوف العرس&#8221; كأعضاء في الكنيسة والذين سيصبحون أيضًا خدام العيد (مار إفرام السريانى).</p>
<p>سيصوم التلاميذ بعد صعود السيد المسيح، لأنهم سيستمرون في خلع ثوب الانسان العتيق، الذي تم خلعه أولاً في المعمودية (القديس امبروسيوس).</p>
<p>وبعد تلك الأيام، عندما يؤخذ العريس، في إشارة إلى موته وخروجه من هذا العالم وصعوده. كمثال الثوب والنبيذ الجديدين: بينما أولئك الذين يتمسكون بالناموس القديم فلن يكون لهم نصيب في الخليقة الجديدة (القديس كيرلس الاسكندرى).</p>
<p>(لو٢٧:٥-٢٨) دعوة لاوي للتلمذة</p>
<p>دعي لاوي إلى اتباع السيد المسيح</p>
<p>القديس كيرلس الاسكندرى: كان لاوي جابيا للضرائب، رجلًا جشعًا لأموال مرذولة مليء برغبة لايمكن السيطرة عليها، غير مبال بالعدالة في طريق شغفه للحصول على ما لا يستحقه. هكذا كان تشخصية العشارين.</p>
<p>ومع ذلك، تم انتشاله من معمل الخطيئة نفسها، وخلص عندما لم يكن له أمل، بدعوة من السيد المسيح مخلصنا جميعًا. فقال له يسوع &#8220;اتبعني&#8221; فترك كل شيء وتبعه&#8221;.</p>
<p>من أكثر الأشياء حكمة ما قاله القديس بولس: &#8220;أن المسيح جاء ليخلص الخطأة&#8221;، هل ترى كيف أن كلمة الله الوحيدة، بعدما تجسد، نقل إلى نفسه ارث الشيطان (اخذ الذي لنا)</p>
<p>تفسير انجيل لوقا، HOMILY 12.2</p>
<p>5: 29-32 مأدبة لاوي واستجابة يسوع الأولى للفريسيين والكتبة</p>
<p>المأدبة مع لاوي تشعل إيمانه</p>
<p>القديس امبروسيوس: تبعت الدعوة الروحية لجابي الضرائب، الذي امر باتباعه ليس بالجسد، بل بالإرادة.</p>
<p>فالقديس متى قد اختلس مرة بشراهة من الصيادين الأرباح التي تحصلوا عليها من الاعمال الشاقة والأخطار. وعندما تمت دعوته، تخلى عن مجلسه، الذي كان لسرقة أموال الآخرين.</p>
<p>نعم، لقد ترك ذلك المكان المخزي، ليسير على خطى السيد بإرادته. كما أعد وليمة عظيمة، لأن الذي يستقبل المسيح بداخله يأكل ويستلذ بكثرة من أجود أنواع الاطعمة.</p>
<p>لذلك يدخل الرب طوعا ويتكئ في شخصية من آمن.</p>
<p>شرح إنجيل (لوقا١٦-٥).</p>
<p>الحسد والاستنتاج الخاطئ يحفّز الفريسيين.</p>
<p>القديس كيرلس الاسكندرى: ولكن لأي سبب يلوم الفريسيون المخلص على تناول الطعام مع الخطأة؟ لأن الناموس كان يميز بين المقدس والدنس &#8220;أي أن الأشياء المقدسة لا تتلامس مع الأشياء الدنسة. لقد وضعوا الاتهام كما لو كانوا يبررون الناموس.</p>
<p>ومع ذلك، فقد كانت الحقيقة هي الحسد للسيد المسيح والبحث عن زلة. لكنه أظهر لهم أنه حاضر الآن ليس كقاضٍ، بل كطبيب. كان يقوم بوظيفة الطبيب الحقيقية، كونه في رفقة من هم بحاجة الى الشفاء.</p>
<p>ولكن بمجرد أن أعطوا تفسيرا لاتهامهم الأول فقد اتو بآخر، تذرعوا بخطأ أن تلاميذه لم يصوموا وكانوا يأملوا ان يستخدموا هذا كفرصة لاتهام السيد المسيح.</p>
<p>تفسير لوقا HOMILIES 21-22.</p>
<p>العريس دائما معنا في العشاء الرباني.</p>
<p>القديس امبروسيوس: &#8220;وَلكِنْ سَتَأْتِي أَيَّامٌ حِينَ يُرْفَعُ الْعَرِيسُ عَنْهُمْ&#8221;، أي هذه الأيام التي يُؤخذ فيها المسيح منا، وهو الذي قال، سأكون معكم حتى نهاية العالم عندما قال &#8220;لا أَتْرُكُكُمْ يَتَامَى&#8221;؟ لأنه من المؤكد أنه إذا تركنا، فلن نَخلص.</p>
<p>لا أحد يستطيع أن يأخذ المسيح منكَ، إلا إذا رفضته.</p>
<p>إن تباهيك لن (يخلصك) يأخذك بعيدًا، ولا غرورك، ولا يمكنك أن تفرض القانون (الناموس) الخاص بك.</p>
<p>أنه لم يأت ليدعو الصالحين، بل الخَطَأَة &#8230; الصالحون هم الذين لا يَضربون الذين يَضربونهم، بل هم الذينيُحبون أعدائهم.</p>
<p>إذا لم نفعل هكذا، سيحدث العكس. &#8220;مَا جِئْتُ لأَدْعُوَالأَبْرَارَ بَلِ الخَطَأَة &#8221; المسيح لا يدعو أولئك الذين يدعونأنهم أبرار، لأنهم لا يعرفون الله ويسعون لإثبات برهم،ولم يُخضعوا أنفسهم لبر الله.</p>
<p>لذلك فان مدعين البر لا يدعون لنوال البركة، لأنه إذا كانت النعمة تأتي من التوبة، فمن المؤكد أن من يحتقر التوبة ينبذ النعمة.</p>
<p>أولئك الذين يجعلون أنفسهم مُقدسين لن يُدعوا. العريس مأخوذ منهم. لا قيافا ولا بيلاطس اخذ السيد المسيح منا.</p>
<p>لا يمكننا أن نصوم لأن السيد المسيح معنا، ونعيد بجسد السيد المسيح ودمه. فكيف أن من لا يجوع يصوم؟</p>
<p>كيف من لم يعطش يصوم؟ ثم كيف من يشرب المسيح يعطش حيث قال بنفسه: &#8220;مَنْ يَشْرَبُ مِنَ الْمَاءِ الذي أعطيه أَنَا فَلَنْ يَعْطَشَ إِلَى الأَبَدِ &#8220;؟</p>
<p>ثم تلي ذلك اوضح القول الخاص بصيام الروح.</p>
<p>تفسير إنجيل (لوقا٢٠:٥-٢٢).</p>
<p>لماذا دعي التلاميذ ضيوف العرس؟</p>
<p>مار إفرام السرياني: خلال الفترة التي كان فيها ربنا يسوع في العالم، شبه نفسه والعروس في حفل زفاف.</p>
<p>ضيوف العروس لا يستطيعون ان يصوموا بينما العريس معهم.</p>
<p>ودعا تلاميذه ضيوف العرس لأنهم أعضاء في الكنيسة، وخدام العيد، والمبشرين الذين يدعون أولئك الذين يجلسون على المائدة.</p>
<p>تفسير دياتسارون تاتيان 5. 22أ-22ب</p>
<p>الصوم يشير الى ترك الملابس العتيقة في المعمودية.</p>
<p>القديس امبروسيوس: في هذا الجزء، يُشبه الصوم الثوب العتيق الذي رأى الرسول انه ينبغي ان يُخلع إذ قال: &#8220;إِذْ خَلَعْتُمُ الإِنْسَانَ الْعَتِيقَ مَعَ أَعْمَالِهِ، ولبستم الجديد الَّذِي يَتَجَدَّدُ لِلْمَعْرِفَةِ&#8221;، بقدسية المعمودية، لكى يتماشى التعليم مع نفس الثوب، لئلا نخلط أعمال الانسان العتيق مع الجديد، حيث يؤدي الظاهر الخارجي أعمال الجسد.</p>
<p>الإنسان الداخلي، الذي ولد من جديد، لا ينبغي أن يكون له مظهر مختلط بين الأعمال القديمة والجديدة، ولكن يجب أن يكون بنفس صبغة المسيح.</p>
<p>باتقاد الذهن، يجب أن يُقلد من طهره بالمعمودية.</p>
<p>فليغب اذن الذهن المشوّه الذي يزعج (يغضب)العريس، لأن من لم يَلبس لُباس العرس يشوه العرس. ما الذي يرضي العريس سوى سلام الروح ونقاء القلب ووضوح العقل؟</p>
<p>تفسير إنجيل (لو٢٣: ٥)</p>
<p>ان يأخذ يجب أن يصعد إلى السماء</p>
<p>القديس كيرلس الاسكندرى: كل شي جيد في وقته، ولكن ما معنى انه أُخذ العريس منهم؟</p>
<p>إنه رُفع إلى السماء</p>
<p>تفسير انجيل لوقا HOMIIES 21-22</p>
<p>5: 36-39 امثال يسوع الموجزة تلخص المشهد</p>
<p>لا شركة في الخليقة الجديدة.</p>
<p>القديس كيرلس الاسكندرى: أولئك الذين يعيشون وفقا للناموس لا يمكنهم التمتع بالشركة مع السيد المسيح.</p>
<p>لا يمكن قبول هذه الشركة في قلوب الذين لم يتجدد وابعد بالروح القدس.</p>
<p>يوضح السيد المسيح ذلك بقوله إنه لا يمكن وضع رقعة قديمة على ثوب جديد، ولا يمكن أن تحوي الجلود القديمة نبيذًا جديدًا.</p>
<p>لقد ولى العهد الأول، ولم يكن خاليا من العيوب (الأخطاء). لذلك، أولئك الذين يتمسكون به ويحفظونفي قلوبهم الوصية القديمة ليس لهم نصيب في (ترتيب) الأشياء الجديدة التي في المسيح.</p>
<p>الذي أصبحت فيه كل الأشياء جديدة، لكن عقولهم فسدت، ليس لديها انسجام أو توافق مع رسل العهد الجديد<a href="#_ftn1" name="_ftnref1">[1]</a>.</p>
<h3>الكنيسة في قراءات اليوم</h3>
<p>التبرير (صلاة الإحتياج والإنسحاق)                                                  إنجيل عشيّة</p>
<p>الصلاة الدائمة + الجهاد ضد قوات الظلمة                                              البولس</p>
<p>الإفخارستيا                                                                               الإبركسيس</p>
<p>الصوم                                                                                      إنجيل القدَّاس</p>
<h3>أفكار مقترحة لعظات</h3>
<p><strong>(١) نور الإبن وبرّه الإلهي</strong></p>
<p>١- نور الإبن هو مُرْشد الطريق ومصدر السلوك &#8221; بنور وجهك يسلكون &#8221;                           <strong> مزمور القدَّاس</strong></p>
<p>٢- صلاة الإنسحاق هي مدخل استحقاق البرّ الإلهي &#8221; بل قرع على صدره قائلاً اللهم ارحمني أنا الخاطئ &#8230;. نزل إلى بيته مبرَّرا دون ذاك &#8221;                                                                                                <strong>       إنجيل عشيّة</strong></p>
<p>٣- برّ الله هو الدرع الذي يحمي الذين يسلكون بالإستقامة &#8221; فاثبتوا متسلّحين على أحقاءكم بالحق ولابسين درع البرّ &#8221;                                                                                                                                         <strong>البولس</strong></p>
<p>٤- المحبّة الأخويّة تجعلنا دائماً في نوره وتحفظنا من عثرات السلوك   &#8221; لأن الظلمة قد جازت والنور الحقيقي الآن يضئ &#8230; من يحب أخاه يثبت في النور وليس فيه عثرة &#8221;                                                               <strong>  الكاثوليكون</strong></p>
<p>٥- حضور الله في كلمته المُقدَّسة وفِي الإفخارستيا هو قوّة نور الإبن وقيامته المُقدَّسة وفعلها في النفوس   &#8221; ثم صعد وكسر خبزاً وذاق وتكلم كثيراً حتي لاح النور وهكذا خرج وأتوا بالفتي حياً وتعزوا تعزية ليست بقليلة &#8221;   <strong>الإبركسيس</strong></p>
<p>٦- الخطاة الذين يشعرون باحتياجهم لبرّ الله هم وحدهم المدعوين لعُرْس ابن الله   &#8221; فأجاب يسوع وقال لهم لا يحتاج الأقوياء إلي الطبيب بل المرضي لأني لم آت لأدعو الابرار بل الخطأة إلي التوبة &#8221;                   <strong>  إنجيل القدَّاس</strong></p>
<p><strong>(٢) لقاء المسيح له المجد مع الخطاة</strong></p>
<p>١-لقاء الحب الإلهي مع البشرية الجائعة للحب المجاني غير المشروط</p>
<p>قدَّم الرب هنا حُبُّه المجاني للعشارين والخطاة الفئة المنبوذة من المجتمع في ذلك الحين</p>
<p>وبينما جهَّز لاوي الوليمة في بيته لرب المجد من مختلف المأكولات إكتشف في نهاية الزيارة أنه كان مع إله الحب في وليمة سمائية تتضاءل أمامها كل أغذية العالم ومشتهياته</p>
<p>وإكتشف أيضاً في نهاية الزيارة بأن الدعوة العُظمي لم تكن دعوته لرب المجد للأكل، بل دعوة إله الحب للخطاة ليتمتَّعوا بالبرّ الإلهي</p>
<p>٢- لقاء الطبيب مع المرضي</p>
<p>ما أعظمه لقاء شفي فيه الرب العشَّارين من أوجاع المادة وقيودها</p>
<p>وهذا الشفاء الذي جعل زَكَّا رئيس العشَّارين يُقدِّم نصف أمواله للمساكين (لو ١٩: ١-١٠) ولاوي يُقدِّم حياته كلها للرب ويكتب أكبر بشارة (إنجيل متي) تحكي حياة المسيح له المجد</p>
<p>٣- لقاء المُخلِّص مع الخطأة</p>
<p>من هم الذين تقابلوا مع الرب ومع خلاصه إلَّا الذين يدركون مدي ضعفهم واحتياجهم كما قال الرب للفريسيين بعد شفاء المولود أعمي عن سبب عمي قلوبهم الآن تقولون إننا نبصر فخطيتكم باقية – (يو ٤١:٩)</p>
<p><strong>(٣) الحرب الروحية (البولس)</strong></p>
<p>١- محاربتنا ليست مع دم ولحم، بل مع الرؤساء مع السلاطين مع ولاة عالم الظلمة مع اجناد الشر الروحية في السماويات</p>
<p>الحرب غير منظورة والعدو الوحيد هو الشيطان ولا يوجد لنا أعداء من البشر، بل كلهم ضحايا لذلك يجب أن تكون أسلحتنا روحية وغير منظورة</p>
<p>٢- سلاح الله الكامل</p>
<p>نحتاج لكل أنواع الأسلحة الروحية لأجل حصانتنا وحمايتنا ولكي لا يجد العدو ثغرة وفرصة ليضربنا ونحتاج أن نكون مثل الشاروبيم الكثير الأعين من أمام ومن خلف</p>
<p>٣- فاثبتوا متسلحين على احقاءكم بالحق</p>
<p>السلوك بالحق والشهادة له في حياتنا اليومية يُشبِّهها الرسول هنا بالأحقاء التي تحفظ توازن الإنسان وثباته</p>
<p>٤- ولابسين درع البر</p>
<p>برّ المسيح له المجد وقبوله الدائم المجاني لنا هو الدرع الذي يحفظنا من ضربات الشرير</p>
<p>٥- وحاذين ارجلكم باستعداد انجيل السلام</p>
<p>خدمة وحياة السلام والبعد عن المنازعات هي التي تحفظ أرجلنا من الزلل والتعثُّر والسقوط</p>
<p>٦- حاملين فوق الكل ترس الايمان الذي به تقدرون ان تطفئوا جميع سهام الشرير المتقدة نارا</p>
<p>الإيمان هو التُرس الذي يَصُدّ جميع سهام الشرير ويطفئ ناره</p>
<p>٧- سيف الروح الذي هو كلام الله</p>
<p>هذا هو السيف ذا الحدين (عب ١٢:٤) والمطرقة التي تحطم الصخر (أر٢٩:٢٣) وقدر امتلاؤنا من كلمته قدر قوتنا ونصرتنا علي الشرير ويكفي أن الرب انتصر علي الشيطان بالمكتوب ليُعلن مدي فاعلية وقوّة كلمته (مت ٤ : ١٠-٧-٤)</p>
<p>٨- مصلين بكل صلاة وطلبة</p>
<p>صلوات المؤمنين والشعب والخدّام والرعاة بفكر واحد هو ضمان نصرة الكنيسة علي كل قوات الظلمة (أع ٣١:٤)،( أع ٥:١٢)</p>
<h3>عظات ابائية</h3>
<h4>القديس مقاريوس الكبير</h4>
<p><strong>الرب يسوع طبيب الخطاة</strong></p>
<p>لأنَّه إنْ كان أَحدٌ يُعَوّل علي برِّه فقط، دون أن ينتظر برَّ الله الَّذي هو الرَّبُّ &#8220;الَّذِي صَارَ لَنَا بِرّاً وِ فِدَاءً &#8221; كما قيل (١كو١: ٣٠)، فإنَّه باطلاً وعبثاً يتعب، لأنّ كلَّ ظنِّه ببرِهّ سوف يُستعلَن في اليوم الأخير &#8221; كخرقِة طامثٍ &#8221; ، كما يقول إشعياء النَّبيّ : &#8221; قَدْ صَارَ كُلُّ بِرِّنَا مِثْلَ خِرْقَةِ طَامِثٍ&#8221; (إش٦٤: ٥) . فلنسأل الله ولنضرعْ إليه أنْ يُلبِسَنا &#8221; ثَوْبَ الخْلاصِ&#8221; ، أي ربَّنا يسوعَ المسيحَ ، النُّورَ الَّذِي لا يوصف ، الَّذِي إذا ما لَبِسَته النُّفوس فلن تخلعه إلي الدُّهور ، بل إنَّ أجسادَها أيضاً ستتمجّد في القيامة بالمجد النُّورانّي الَّذي تسربلَت به منذ الآن النُّفوسُ الأمينة النَّبيلة ، كما يقول الرَّسول :&#8221; الَّذِي أَقَامَ الْمَسِيحَ مِنَ الْأَمْوَاتِ سَيُحْيِي أَجْسَادَكُمُ الْمَائِتَةَ أَيْضاً بِروحِهِ السَّاكِنِ فِيكُمْ &#8221; (رو٨: ١١) ، فالمجد لشفقته الَّتي لا يُنطَق بها ورحمته الَّتي لا يُعبَّر عنها !</p>
<p><strong>المسيح هو طبيب النَّفس الوحيد</strong></p>
<p>وأيضاً كما أنَّ المرأة نازفةَ الدَّم حين آمنَت بالحقّ ومسَّت هُدْبَ السَّيِدّ، نالت الشفاء للتَّوِّ وجفَّ نزْفُ الينبوع النَّجس لدمها؛ هكذا كلُّ نفسٍ أَثْخَنَها جُرحُ الخطيئة عديمُ الشِفّاء، أي ينبوع الأفكار الشّرّيرة النَّجسة، إنْ هي تقدَّمَت إلى المسيح وتوسَّلَت، مؤمنة حقّاً، فإنَّها تنال الشِفّاء والخلاص من ينبوع آلامها العُضال، ويجفّ ذلك الينبوعُ الذي يُنبِع الأفكارَ النَّجسة ويأخذ في النُّضوب بقدرة يسوع وحده، وليس بأحدٍ آخرَ يمكن لهذا الجُرح أنْ يندمل. لأنْ هكذا قد رَسَمَ العدوُّ في تعدِّي آدم، أن يَجرح الإنسانَ الباطنَ القائدَ للعقل والنَّاظرَ لله ويُسدِل عليه ظلمته، فَشَخَصَت إذ ذاك عينا الإنسان إلى الشُّرور والأهواء وانغلقت عن الخيرات السَّماويّة.</p>
<p>فإنَّه هكذا قد جُرِحَ الإنسانُ الباطنُ، حتَّي إنَّ أحداً لا يمكنه شفاؤه سوي الرَّبّ فقط، فهو وحده يستطيع ذلك. لأنَّه هو لمَّا أتي رَفعَ خطيئة العالم، أي جفَّف ينبوع أفكارِ النَّفس النَّجس. فكما أنّ نازفة الدَّم تلك أنفقَت كلَّ ما تَملِك علي من كانوا يَعِدُونها بالشِّفاء ولم تصِحَّ من مرضها بواسطة أيٍّ منهم، إلى أنْ دَنَتْ من الرَّبِ مؤمنةً حقّاً ومسَّت هُدْبَه، وهكذا للوقت أحسَّت بالشفاء وتوقَّف نزيفُ دمها، كذلك النَّفس المكلومة منذ البدء بجُرح أهواء الشَّرّ عديمِ البُرْء، لم يقدر أحدٌ- لا من الأبرار ولا من الآباء ولا من الأنبياء ولا من رؤساء الآباء- أن يَشفِيَها .</p>
<p>فلقد جاء موسي لكنَّه ما استطاع أن يُعطِيَ شفاءً تامّاً، فكان في زمان النَّاموس كهنةٌ، وتقدماتٌ، وعشورٌ، وسبوتٌ، ورؤوسُ شهورٍ، وغَسَلاتٌ، وذبائحُ، ومحرَقاتٌ ، وكلُّ بقيَّة البِرّ ، وما استطاعت النَّفسُ أن تُشفَى وتتطهَّر من نزيف الأفكار الخبيثة النَّجس ، ولم يُسعِفها كلُّ برِّها لكي تبرأ ، إلى أنْ جاء المخلِّصُ ، الطَّبيبُ الحقيقيّ ، الَّذي يداوي مجَّاناً، الَّذِي بذل ذاته فديةً لأجل جنس البشر . هو وحدَه صنع فداءَ النَّفس العظيمَ الخلاصيَّ وشفاءها، هو عَتَقَها من العبوديَّة وأخرجها من الظُّلمة ومجَّدَها بنوره الخاصّ، هو أنضبَ ينبوعَ الأفكار النَّجسة فيها، لأنَّه يقول:&#8221; هُوَ ذا حَمَلُ اللهِ الَّذي يَرْفَعُ خَطِيئَةَ الْعالَمِ &#8221; (يو١: ٢٩) .</p>
<p>ذلك أنّ أدويتها الأرضيَّة، أعني أعمالَ برِّها الخاصّ فقط، ما استطاعت أن تداوِيَها وتَشفيَها مِن مثل هذا الْجرح غَير المنظور، بل إنَّه بواسطة الطَّبيعة السَّماويّة الإلهّية الَّتي لعطية الرُّوح القدس - بواسطة هذا الدَّواء فقط استطاع الإنسان أن ينال الشِفّاء ويبلغَ الحياة، متطهّراً في قلبه بالرُّوح القدس. لكنْ كما أنّ تلك المرأة ، وإنْ لم يمكنها الشِفّاء ولم يُداوَ جُرحُها ، فقد كان لها رغم ذلك قدمان لكي تأتِيَ بهما إلي الرَّبّ وبمجيئها نالت البُرء ، وبالمثل أيضاً ذلك الأعمى ، وإنْ تعذَّر عليه أن يجتاز ويأتِيَ إلي الرَّبّ لكونه لا يري ، إلَّا أنَّه أرسل صوتاً أَمْضَي من الملائكة وراح يقول :&#8221; يَا ابْنَ دَاوُدَ ارْحَمْنِي &#8221; (مر١٠: ٤٧)، (لو١٨: ٣٨) ، وهكذا لمَّا آمن نال الشِفّاء ، إذ أتي الرَّبُّ إليه وجعله يبصر جليّاً ، هكذا النّفس أيضاً ولئن تكن مجروحةً بكُلُوم &#8221; أَهْواءِ الْهَوانِ &#8221; وعمياءَ جرَّاءَ ظلمة الخطيئة ، إلَّا أنَّ لها مع ذلك الإرادةَ أن تصرخ و تدعُوَ يسوع لكَيْما يأتِيَ هو ويصنع فيها &#8221; فِداءً أَبَدِيّاً &#8220;.</p>
<p>فكما أنّ ذلك الأعمي لو لم يصرخ، ونازفةَ الدَّم لو لم تأتِ إلي الرَّبّ، لمَا كانا نالا الشِفّاء، هكذا إن لم يأتِ الإنسانُ إلي الرَّبّ بمحض إرادته وبكامل اختياره، ويتوسّلْ ب &#8221; يَقينِ الإيمانِ &#8221; ، لا ينال الشِفّاء . فلماذا أولئك لمّا آمنوا كانوا يبرأون للوقت بينما نحن لم نبصر بعدُ بالحقّ ولم نبرأ من الأهواء الخفيَّة، مع أنّ الرَّبَّ يُولي بالحريّ النَّفسَ غَير المائتة عنايةً أين منها عنايته بالجسد؟ هذه النَّفس الَّتي إذا ما أبصرَت- بحسب القائل: &#8221; اِكْشِفْ عَنْ عَيْنَيَّ &#8221; (مز١١٨: ١٨) - فلن تَعْمَي بعدُ إلي الأبد ، وإذا ما نالت الشِفّاء فلن تعودَ تُجرَحُ بعدَ ذلك . لأنَّه إن كان الرَّبُّ بمجيئه على الأرض قد أظهر عنايته بالأجساد الَّتي تَفسد، فكم بالأحري النَّفس غَير المائتة المخلوقة على صورته؟!</p>
<p>لكنَّنا لأجل عدم أمانتنا، وانقسامنا الدَّاخليّ، وعدم محبَّتنا إيَّاه من كلِّ القلب، وعدم إيماننا به بالحقّ ، لم ننل بعدُ الشِفّاء الرُّوحانيَّ والخلاص .ألَا فلنؤمْن به إذاً ولنتقدَّمْ إليه بالحقِّ، حتَّي يُجريَ فينا سريعاً الشّفاءَ الحقيقيّ ، لأنَّه وَعَدَبأنْ &#8221; يُعْطيَ الرُّوح الْقُدُسَ لِلَّذينَ يَسْأَلُونَهُ &#8221; ، وأن يفتح للَّذين يقرعون ، وأن يوجَدَ للَّذين يطلبونه ، والَّذي وَعَدَ هو &#8221; مُنَزَّهٌ عَنِ الْكَذِبِ &#8221; ، &#8221; لَهُ الْمَجْدُ وَ السُّلْطَان إلَي الدُّهور ، آمين<a href="#_ftn2" name="_ftnref2">[2]</a> &#8221; .</p>
<h4>القديس كيرلس الأسكندري</h4>
<p><strong>لقاء الرب مع لاوي</strong></p>
<p>&#8220;ام كيف يستطيع أحد أن يدخل بيت اقوى وينهب أمتعته ان لم يربط القوي أولاً ، وحينئذ ينهب بيته ؟ &#8221; (مت٢٩:١۲) ، فالمقصود ببيت القوي أي الشيطان هو بلدته على الأرض ، لما أمتعته فهي أولئك الذين يفكرون مثله ، فإنه كما اننا ندعو القديسين أواني مقدسة ، هكذا فليس هناك ما يمنع ان تسمي أولئك الذين يرتكبون كل الشرور ( بأواني الشيطان أو أمتعته ) ، لذلك فكلمة الله الوحيد دخل عند تجسده إلى بيت القوي ، أي إلى هذا العالم ، وهكذا نهب امتعته .</p>
<p>و لاوي خلص حقا، وتوبة لاوي توحي لنا نحن برجاء سعيد لأننا من هذه الحقيقة نتعلم أن التوبة تخلص، نعم وأكثر من ذلك ، فإن الله نفسه الذي هو رب الكل سيكون ضمانتنا الأكيدة ، حيث يقول بصوت النبي التفتوا إلي وأخلصوا یا جميع أقاصي الأرض &#8221;       (اش٢٢:٤٥)</p>
<p>أي واحد منكم له مئة خروف وضل واحد منها أفلا يترك التسعة والتسعين على الجبال ويذهب يطلب الضال؟ وإن اتفق أن يجده فالحق أقول لكم إنه يفرح به أكثر من التسعة والتسعين التي لم تضل. لأن جمهور الكائنات العاقلة التي تشكل قطيع المسيح في السماء وعلى الأرض، هذا الجمهور لا يعد، وهو عظيم جدا حتى أنه يصل إلى عدد كامل، لأن هذا ما يشير إليه بتعبير مئة فجموع الملائكة القديسين هم التسعة والتسعين، لأني كما قلت هم كثير ون ، أما القطيع على الأرض فهو واحد ، ولكن من النافع أن يكمل العدد ، ولذلك يبحث عنه المسيح . فهل بحث عنه إذا كمن كان ضالا، ام أنه لم يكن قد وصل إلى هذا؟ ولكن من الواضح أن ما يبحث عنه هو الذي ضل. باي طريقة إذا قد ضل وفقد؟ بسقوطه في الخطية، وبابتعاده عن المشيئة الإلهية وضلاله عن الراعي الشامل.</p>
<p>ولكن كل هذه الأشياء لم تؤثر في الفريسيين، بل بالعكس فإنهم يلومون التلاميذ، فاسمع المكتوب:</p>
<p>(لو٣٠:٥-۳۱) &#8220;فتذمر كتبتهم والفريسيون على تلاميذه قائلين: لماذا تأكلون وتشربون مع عشارين وخطاة فأجاب يسوع وقال لهم: لا يحتاج الأصحاء إلى طبيب ، بل المرضى &#8220;. هناك بعض الناس يحاولون أن يحرموا الخطاة من الرحمة الإلهية، لأنهم لا يسمحون بالتوبة، وكأنهم يوخون المخلص لبحثه عن خاصته، وسعيه أن يجمعهم من كل ناحية تشتتوا فيها، ولهؤلاء نقول : إن الفريسيين يقدمون لكم مثال التذمر حينما رأوا لاوي يدعي من الرب وجمهور من العشارين مجتمعين معا في وليمة مع المسيح مخلصنا جميعا ، فتوجهوا إلى الرسل القديسين يلومونهم قائلين : لماذا تأكلون وتشربون مع العشارين ؟ ولكنهم تلقوا الجواب : لا يحتاج الأصحاء إلى طبيب &#8221; ، لأن مخلص الكل ، لكونه طبيب الأرواح ، فإنه لا يتخلى عن أولئك الذين هم في حاجة إليه ، بل لأنه يستطيع أن يطهرهم ، فإنه يقصد أن يتحدث مع أولئك الذين لم يتطهروا بعد من خطاياهم . ولكن دعنا نرى أيها الفريسي، كبرياءك المفرط، فدعنا نتخذ المسيح نفسه ، الذي كل الأشياء مكشوفة أمامه ، نتخذه کشارح وموضح للوم الكبير الذي تجلبه على نفسك بمعاملتك المتغطرسة للخطاة . فقد تحدث السيد عن فريسي يتباهي بنفسه وهو يصلي وعن عشار يدين نفسه. فقال الرب: &#8221; الحق أقول لك أن هذا ( أي العشار ) نزل إلى بيته مبرراً أكثر من ذلك الفريسي . لذلك فالعشار الذي اعترف بخطيته تبرر أفضل من الفريسي المتعالي.</p>
<p>ولكن لأي وسبب يلوم الفريسيون المخلص لأكله مع الخطاة؟ هم يلومونه بسبب أن الناموس يفصل بين ما هو مقدس وما هو نجس ، أي أن كل شيء مقدس لا ينبغي أن يتصل بالأشياء النجسة ، فقد وجهوا الإتهام على اعتبار أنهم يدافعون عن الناموس . ولكن في الحقيقة كان عندهم حسد للرب وكانوا يتصيدون له الأخطاء. ولكنه يبين لهم أنه في حضوره الآن في العالم لم يأت كقاض بل كطبيب، ويعمل ما يجب على الطبيب أن يقوم به، بان يختلط بأولئك الذين هم في حاجة إلى الشفاء . ولكنهم بمجرد أن سمعوا رداً وتوضيحًا على اتهامهم الأول، قدموا اتهاما آخر بسبب أن تلاميذ الرب لم يكونوا يصومون قاصدين أن يجدوا فرصة ضدهم.</p>
<p>(لو ٥: ۳۳) &#8221; وقالوا له: لماذا يصوم تلاميذ يوحنا كثيرا ويقدمون طلبات، وكذلك تلامي الفريسيين أيضا، وأما تلاميذك فيأكلون ويشربون ؟ &#8221; .</p>
<p>ولكن انظروا استمرارهم في الخبث، فبعد أن رد الرب على اتهامهم الأول، فإنهم غيروا الحديث إلى موضوع آخر راغبين أن يجدوا فرصة لاتهام التلاميذ القديسين، بل ويسوع نفسه بإهمال الناموس. ولكنه يجيبهم بأنه يوجد هنا الآن عرس، فهو زمان الدعوة، زمان الكرازة ، والأطفال تتم تربيتهم ، وأولئك الذين تتم دعوتهم يتغذون باللبن ، فالصوم ليس مناسبا لهم ، وهم يقولون ، نعم أنتم تأكلون مع العشارين والخطاة ، رغم أن الناموس يأمر أن الطاهر لا ينبغي أن يتصل بالنجس ، وحجتك في تعدي الناموس هي محبتك للبشر ، ويقولون لماذا لا تصومون حسب عادة الأبرار وأولئك الذين يرغبون أن يعيشوا حسب الناموس ؟ وجوابًا على مثل هذه الاعتراضات يمكن أن نقول، أيها اليهودي هل أنت تفهم وتعرف الطريقة السليمة للصوم؟ لأنه كما يقول إشعياء النبي: في أيام صومكم توجدون مشيئتكم الخاصة، وبكل أشغالكم تسخرون، ها انكم للخصومة والنزاع تصومون ولتضربوا بلكمة الشر، لماذا تصومون لي؟ ليس هذا هو الصوم الذي اختاره يقول الرب &#8221; (اش ٥٨: ۳ -٥). فإن كنتم أنتم أنفسكم لا تعرفون كيف تصومون، فلماذا تلومون الرسل القديسين على عدم صومهم حسب طريقتكم؟</p>
<p>ولننظر الموضوع في ضوء آخر، وذلك في حالة أولئك الذين صاروا حكماء بواسطة العهد الجديد في المسيح، فهؤلاء يصومون بحكمة، أي بتذليل أنفسهم أمام عيني الله، وبأن يضعوا على أنفسهم تعبا إراديًا وصومًا عن الطعام، وذلك لكي يتمموا التوبة عن خطاياهم، أو لكي يربحوا موهبة روحية جديدة، أو حتى لكي يميتوا ناموس الخطية الذي في أعضائهم الجسدية.</p>
<p>ولكن هذا النوع من الصوم تجهله أنت أيها الفريسي! لأنك قد رفضت أن تقبل العريس السماوي الذي هو غارس ومعلم كل فضيلة، أي المسيح. وأيضا فإن القديسين يصومون لكي يخضعوا شهوات الجسد بإرهاقه. أما المسيح فلم يكن محتاجًا أن يصوم لكي يكمل الفضيلة، لأنه كإله كان حرًا من كل شهوة، ورفاقه لأنهم نالوا من نعمته صاروا أقوياء وأكملوا الفضيلة حتى بدون صوم. ورغم أنه صام أربعين يومًا فهو لم يفعل هذا ليميت أي شهوات في نفسه، بل ليضع مثالًا للبشر في سلوكه بقانون الصوم والإمساك، لذلك فهو يدافع عن نفسه حسنًا بالكلمات التي يسجلها البشير بعد ذلك.</p>
<p>(لو٥: ٣٤) &#8221; فقال لهم: أتقدرون أن تجعلوا بتي العرس يصومون ما دام العريس معهم؟ •</p>
<p>أرجو أن تلاحظوا الطريقة التي بها يوضح المسيح أنهم لم يكن لهم أي اشتراك في الفرح والعيد، بل هم غرباء تماما عن الشعور بأي فرح من جهته وليس لهم شركة في عيد العالم العظيم. لأن ظهور مخلصنا للعالم لم يكن شيئا أقل من عيد شامل قد وحد فيه نفسه روحيًا مع طبيعة الإنسان، لكي تكون كأنها عروس له، لكي بعد أن كانت عقيمة لمدة طويلة تصير مثمرة، ومباركة بأولاد كثيرين. لذلك فالجميع هم أبناء العرس الذين دعاهم برسالة الإنجيل الجديدة. أما الكتبة والفريسيون فلم يكونوا من بني العرس لأنهم ربطوا أنفسهم فقط بظل الناموس وحده. ولكن كما أنه أذن مرة لأبناء العرس أن يتعبوا أنفسهم بالصوم کامتياز مناسب للوقت لأنهم كانوا يحتفلون بعيد روحاني، فإنه لكي لا يكون الصوم مرفوضا كلية عندنا فإنه يضيف كلاما مناسبا جدا قائلا:</p>
<p>(لو ٥: ٣٥) &#8221; ولكن ستأتي آیام حين يرفع العريس عنهم، فحينئذ يصومون في تلك الأيام</p>
<p>لأن الأشياء تكون صالحة في وقتها المناسب، ولكن ما معنى أن يرفع العريس عنهم؟ المقصود هو ارتفاعه إلى السماء.</p>
<p>(لو٥: ٣٦ - ۳۷) &#8221; وقال لهم أيضا مثلا ليس احد يضع رقعة من ثوب جديد على ثوب عتیق ، وإلا فالجديد يشقه ، والعتيق لا توافقة الرقة التي من الجديد . وليس أحد يجعل خمرًا جديدة في زقاق عتيقة لئلا تشق الخمر الجديدة الزقاق، فهي تهرق والزقاق تتلف</p>
<p>الأشياء التي يؤسسها المسيح لا يستطيع أن يقبلها أولئك الذين يعيشون حسب الناموس ولا تدخل في قلوب من لم ينالوا التجديد بعد بواسطة الروح القدس، وهذا يوضحه الرب بقوله &#8221; إن رقعة جديدة لا يمكن أن توضع على ثوب عتيق ، ولا تستطيع الزقاق القديمة أن تحتمل الخمر الجديد &#8220;، لأن العهد الأول قد شاخ ، وهو لم يكن بلا عيب ، لذلك فأولئك الذين يتمسكون به ويمسكون بالوصية التي عتقت ليس لهم نصيب في عهد المسيح الجديد . لأنه فيه (المسيح ) كل الأشياء صارت جديدة (٢كو ٥ :۱۷) .</p>
<p>ولكن عقلهم إذ قد فسد فليس لهم أي انسجام ولا أي نقطة اتفاق مع خدام العهد الجديد، وإله الكل يقول في موضع ما بواسطة أحد الأنبياء القديسين: &#8221; وأعطيكم قلبًا جديدًا وأجعل روحًا جديدة في داخلكم &#8221; (حز ٣٦: ٢٦) .</p>
<p>وداود أيضا يرنم &#8220;قلبًا نقيًا أخلق في يا الله، وروحًا مستقيمًا جدد في داخلي &#8220;(مز۱۰:٥٠) .</p>
<p>ونحن قد أمرنا أن نخلع الإنسان العتيق، وأن نلبس الإنسان الجديد الذي يتجدد حسب صورة خالقه انظر (کو ٣: ۹) . وبولس أيضا يعطي نصيحة قائلا: &#8221; لا تشاکلوا هذا الدهر، بل تغيروا بتجديد أذهانكم لتختبروا ما هي إرادة الله الصالحة المرضية الكاملة&#8221;</p>
<p>(رو۱۲: ۲). لذلك فأولئك الذين لم ينالوا تجديد الروح بعد، لا يستطيعون أن يختبروا إرادة الله الصالحة المرضية الكاملة</p>
<p>&#8220;وليس أحد يحمل خمرًا جديدة في زقاق عتيقة إذا فقلب اليهود هو زقاق عتيق ، ولذلك لا يستطيع أن يحفظ الخمر الجديدة التي هي وصية الإنجيل المخلصة. &#8221; التي تفرح قلب الإنسان &#8220;. ولكن المسيح قد ملأنا بهذه البركات العظيمة بمنحه إيانا مواهب روحية بسخاء، وقد فتح لنا الطريق واسعا إلى كل فضيلة<a href="#_ftn3" name="_ftnref3">[3]</a> .</p>
<h4>العلامة أوريجانوس</h4>
<p>تعال الآن إلى يسوع، الطبيب السماوى ، أدخل إلى هذه العيادة ، التي هي كنيسته</p>
<p>+ طوبى لهم حقاً، الذين في احتياجهم لابن الله، قد تجاوزوا الحاجة إليه كطبيب لشفاء أمراضهم ، أو كراعٍ ، أو كفادٍ ، وصار احتياجهم إليه كحكمة وكلوغوس ، أو كأحد الألقاب الأخرى التي يقدمها لأولئك الذين لهم الفصح الروحى الذى يهيئهم لأسمى النعم في داخل ألوهية الكلمة قوة، ليس فقط مساعدة وشفاء من هم مرضى …، بل للإعلان عن الأسرار لأنقياء الجسد والذهن .</p>
<p>+ قد أرسل الكلمة الطبيب للخطاة ، بل وكمعلم لأولئك الذين هم بالفعل أنقياء وبغير خطية.</p>
<p>+ بواسطة نور الكلمة تتبدد ظلمة التعاليم الهرطوقية. فالكلمة يفتح أعين أنفسنا، فنستطيع التمييز بين النور والظلمة، ونختار في كل حال أن نمكث في النور.</p>
<p>ليس أمام من ينشد الشفاء سوى أن يتبع يسوع.</p>
<p>+ تعال الآن إلى يسوع، الطبيب السماوى</p>
<p>أدخل إلى هذه العيادة، التي هي كنيسته</p>
<p>انظر، فهناك ترقد أعداد من الضعفاء. تجد امرأة تطلب التطهير (مر٥: ٢٥)، (لا ١٢). كما تجد أبرص معزولاً &#8221; خارج المحلة &#8221; بسبب دنس برصه (مر١: ٤٠)؛ (لا ١٣: ٤٦)</p>
<p>إنهم ينشدون الشفاء من الطبيب، يطلبون كيف يصيرون أصحاء، وكيف يتطهرون.</p>
<p>يسوع الطبيب هو نفسه كلمة الله. إنه يُعد أدوية لمرضاه، لا من مستحضرات أعشاب، بل من قُدسيات الكلمات.</p>
<p>إذ ما نظر أحد إلى تلك الأدوية اللفظية متناثرة بلا ترتيب في ثنايا الكتب، ولم يعرف فوة مُفْرد الكلمات، ربما يعدل عنها كأشياء رخيصة تعوزها بلاغة. أما من يعْلم أن دواء النفوس هو في المسيح، فسيفهم حتماً من هذه الكتب التي تُقرأ في الكنيسة كيف يجب على كل شخص أن يجمع أعشاباً مفيدة من الحقول والجبال، أعنى قوة الكلمات، لكى يحصل من هو متعب النفس على الشفاء ، لا بقوة الأغصان الخارجية ( للنباتات الطبية ) والقشرة السطحية ، بقدر ما هو بفاعليه العصارة الداخلية .</p>
<p>+ هناك أيضاً أمور أخرى كثيرة مخفية عنا ، لا يعلمها إلا ذاك الذى هو طبيب نفوسنا. فإنه فيما يختص بصحتنا الجسدية نجد لزاماً علينا في بعض الأحيان أن نتعاطى أدوية كريهة ومُرة كعلاج لأمراض جلبناها على أنفسنا من خلال الطعام والشراب. كما يحدث إذا ما استلزمت طبيعة الدواء أن نحتاج إلى معالجة قاسية بمشرط الجراح في عملية جراحية مؤلمة.</p>
<p>نعم، وإذا حدث أن امتد المرض إلى حد تجاوز تأثير هذه الوسائل العلاجية، يصير لابد من اللجوء في آخر المطاف إلى كى الداء بالنار.</p>
<p>كيف يتسنى لنا أن ندرك أن الله طبيبنا، يرغب في غسل أمراض نفوسنا التي جلبتها علينا العديد من الخطايا والجرائم، ويستخدم علاجاً تأديبياً من أنواع مماثلة قد تصل إلى حد توقيع عقوبة النار على الذين فقدوا صحة نفوسهم.<a href="#_ftn4" name="_ftnref4">[4]</a></p>
<h4>وأيضاً للعلَّامة أو ريجانوس في تعليقة على (إر ١٥: ١٠ - ١٩)!</h4>
<p><strong>مرارة أطباء الروح </strong></p>
<p>١- يذهب أطباء الأجساد إلى المرضى حتى إلى فراشهم ولا يكفون عن بذل كل جهدهم، كما تتطلب منهم مهنة الطب، ليشفوا المرضي، وهم في ذلك، يرون مناظر فظيعة، ويلمسون أشياء تثير الاشمئزاز ، وأمام أوجاع الأخرين لا يحصلون لأنفسهم سوي الأحزان : حياتهم غير مستقرة أبدًا ، إنهم لا يوجدون أبداً مع اناس أصحاء ، وإنما دائمًا مع المجروحين والمفلوجين والمصابين بالقروح والصديد والحميات وكل أنواع الأمراض . إذا أردنا أن نمارس الطب، فعلينا أن نقوم بكل ما تتطلبه منا هذه المهنة التي اخترناها، نقوم بها دون اشمئزاز ولا إهمال عندما نواجه أي نوع من انواع المرضى الذين ذكرناهم .</p>
<p>تحدثت عن ذلك الموضوع في البداية لأن الأنبياء هم ايضا مثل أطباء الأرواح، يقضون كل وقتهم حيث يوجد المحتاجون إلى الشفاء، لأنه &#8220;لا يحتاج الأصحاء إلى طبيب بل المرضى &#8220;(لو٣١:٥) . ما يقاسيه الأطباء من جانب المرضى المعاندين، يقاسيه أيضا الأنبياء المعلمون من جانب الذين لا يريدون أن يشفوا، فإن سبب كراهية الناس لهم يرجع إلى أنهم يفرضون علاجا يخالف ما يتمناه المرضى ، فهم يمنعون عنهم اللذات والشهوات التي يريدونها ، وبالتالي فإن هؤلاء المرضى في عنادهم يصرون على عدم أخذ الأدوية المناسبة لمرضهم . إذا يهرب المرضى المعاندون من الأطباء، بل وكثيرا ما يسيئون إليهم ويهينوهم ويشتمونهم ويفعلون بهم كل ما يمكن أن يفعله الأعداء ويغيب عن ذهنهم أن الطبيب يأتي كصديق وليس كعدو، وهم لا يرون سوى الجانب المؤلم من نظام العلاج، الجانب المؤلم من استخدام المشرط ، دون أن يروا النتيجة التي تعقب الألم . إنهم يكرهون الأطباء كما لو كانوا لا يحملون إليهم سوى الآلام، ولا ينظرون إلى هذه الآلام كمرحلة من مراحل الشفاء.</p>
<p>٢- كان ذلك الشعب مريضا؛ مصابًا بكل أنواع الأمراض ذاك الذي كان يسمي نفسه شعب الله، وأرسل الله لهم الأنبياء مثل الأطباء ، أحد هؤلاء الأطباء ارميا . كان ارمیا يوجه عتابه للخطاة راغبا في إرجاعهم عن طرقهم، كان ينبغي أن ينصتوا إلى هذه الكلمات، لكنهم كانوا يتهمونه امام القضاة والحكام، لذلك كان متورطا في قضايا مستمرة، اتهمه فيها هؤلاء الذين كان يقوم برعايتهم، أي الذين كان يوجه لهم كلمات نبوته، ولكنهم لم يشفوا بسبب عنادهم . امام كل هذا كان إرميا يقول: &#8221; فقلت لا أذكره ولا أنطق بعد باسمه. فكان في قلبي کنار محرقة محصورة في عظامي &#8220;(إر۲۰: ۹) . ومرة أخري يقول حينما يري نفسه دائم التعرض للقضايا وللإهانات والشكاوي و الشهادات الزور: &#8221; ويل لي يا أمي لأنك ولدتني إنسان خصام &#8221; . يريد أن يقول عن نفسه، أنه بدلا من أن يدين الناس على خطاياهم، إذا به دان ويحكم عليه، وبدلا من أن يقاوم وینازع صار هو ونفسه &#8221; إنسان نزاع لكل الأرض &#8220;. بما أن المرضي لم ينصتوا إليه حينما نصحهم كطبيب، قال: &#8220;لم أفعل صلاحا &#8220;، وبما أنه كان يقرض أمواله الروحية، وأن الناس الذين كان يتوجه إليهم ليعمل معهم الخير وليجعلهم مدينين له بما يسمعونه منه، بما أن هؤلاء الناس لم يريدوا الإصغاء له ، قال : &#8220;لم أقرض ولا أقرضوني<a href="#_ftn5" name="_ftnref5">[5]</a></p>
<h3>عظات آباء وخدام معاصرين</h3>
<h4>قداسة البابا تواضروس الثاني</h4>
<p>المسيح .. صديق. طبيب &#8230; مخلص:</p>
<p>يتحدث هذا الإنجيل عن المسيح والبشرية.</p>
<p>++صديق يجذب:</p>
<p>+ اختيار تلاميذ من الصيادين البسطاء والعشارين المحتقرين.</p>
<p>+ دعوة قصيرة: اتبعني!!</p>
<p>ولماذا تبعوه: لأنهم شاهدوا أعماله، لأنه جذبهم بشخصيته.</p>
<p>+ طبيب يشفي</p>
<p>+ يشفي الجسد الذي احتقرته بدع كثيرة. أما المسيح فقد حمل جسد تواضعنا.</p>
<p>مخلص يفدي</p>
<p>+ ينادي بالتوبة والرجوع «فالحاجة إلى واحد</p>
<p>مثال ينطبق عليه ما سبق: هو القديس أوغسطين.</p>
<p>متى: عطية الله</p>
<p>اتبعني: «الروح والعروس يقولان تعال» (رؤ۲۲: ۱۷)</p>
<p>+ الداعي: المسيح  الروح القدس  الكنيسة</p>
<p>فرحت بالقائلين لي إلى بيت الرب نذهب» (مز۱۲۱: ۱)</p>
<p><strong>امتيازات الدعوة </strong></p>
<p>١- دعوة للقداسة</p>
<p>٢- دعوة للنجاح، لحياة أفضل</p>
<p>٣- دعوة للسلام</p>
<p>«متى» قبل الدعوة: عشار مرفوض  بلا ضمير  خائن للوطن. «متى» بعد الدعوة: تلميذ ورسول  كارز في بلاد العرب والنوبة والحبشة  كاتب الإنجيل الأول.</p>
<p>إنها دعوة:</p>
<p>رافعة       لحياة وشخصية متى.</p>
<p>دافعة       لحياة جديدة أفضل.</p>
<p><a href="#_ftn6" name="_ftnref6">[6]</a>   قادرة      على كل شيء.</p>
<h4>المتنيح الأنبا أثناسيوس مطران بني سويف والبهنسا</h4>
<p>(مت٩:٩-١٧)</p>
<p>دعوة متى: (مت۹ : ۹ - ۱۳)</p>
<p>قابل السيد متى بن حلفي وهو الذي كان اسمه أيضا لاوی. وسجل متى نفسه أنه كان عشارا، وأن أصحابه كانوا عشارين وخطاة ، ولم يستح من ماضيه لأنه كان فرحا بالخلاص ، وهو بذکر جيدا كيف أن الرب قال : انه جاء الى المرضى وليس الى الأصحاء .</p>
<p>فما أحلى أن يتمتع الخاطىء بنعمة الخلاص والغفران.</p>
<p>وقد كان الفريسيون يفرزون أنفسهم عمن يسمونهم خطاة البر لأنفسهم. أما الرب فانه يقرع باب الجميع، ويخلص الجميع وهو يفضل العمل الرحيم على تقديم الذبائح.</p>
<p>الفرح والصوم: (مت۹: ١٤-١٧)</p>
<p>لا يتكلم الفريسيون هنا وتلاميذ يوحنا عن الأصوام العامة، بل عن أصوام خاصة كان المعلم يفرضها على تلاميذه كتداريب خاصة، بدليل قولهم &#8221; لماذا نصوم نحن والفريسيون كثيرا، وأما تلاميذك فلا يصومون؟ &#8221; أي لماذا لا تدرب تلاميذك على أعمال نسكية خاصة، ولابد أن الرب والتلاميذ كانوا يصومون الأصوام العامة لأنه كان يتم كل بر الناموس. فكانوا يصومون مثلا حسب وصية زكريا &#8221; صوم الشهر الرابع، وصوم الخامس وصوم السابع، وصوم العاشر، يكون لبيت يهوذا ابتهاجا وفرحا &#8221; (زك ۸: ۱۹). أما الفريسيون فكانوا عموما يصومون مرتين في الأسبوع (لو۱۸: ۱۲)، وكانت لهم أصوام أخرى يفرضها المعلمون على التلاميذ : أما الرب فانه لكي يخلص النفوس ، لا يبنى حياتها الا على أساس النعمة . ولذلك قال لهم: «أن التلاميذ يفرحون الآن بوجود العريس معهم ، ويأتي وقت للجهادات الخاصة . فكل جهاد لنا خارج عن الايمان باطل، واما الإيمان فهو يعطى القلب فرحا وسلاما ، وحينئذ يجاهد المؤمن باذلاً حياته من أجل اسم الرب . ولذلك قاومت المسيحية الأولى العقلية اليهودية التي دخل بها البعض الى المسيحية وكانوا يريدون أن يهودوها، فاجتمع الرسل وقرروا بارشاد الروح الا يضعوا شيئا من هذه الأثقال القديمة على المؤمنين (اع ١٥: ٢٨).</p>
<p>ولا يقصد بالثوب القديم أو الزقاق العتيقة الناموس أو الشريعة القديمة، لأنها اذا فهمت فهما سليما فأنها تؤدي الى الايمان، وقد كملها الرب بالخلاص: ولكن المقصود هنا : التقليدات الكثيرة التي وضعها معلمو اليهود مثل تداريب الأصوام والاغتسالات والملابس و غيرها . أما الشريعة فما بطل منها فعلا عن المسيحيين هو ما كان ممهدا لمجيء المسيح مثل: الذبائح، أو أنواع الأطعمة التي كانوا يمتنعون عنها لما تعطى من فكرة عدم الشبع بالنعمة، فكانوا مثلا لا يأكلون السمك الخالي من الزعائف والقشر لأن القشر كان يشير الى الاكتساء بالنعمة، والزعانف تشير الى مواهب الأنسان التي يسلك بها في الحياة بحرية &#8221; أن حرركم الابن فبالحقيقة تصيرون أحرارا&#8221;. انظر (لا۱۱: ۹)</p>
<p>ويلزمنا أن نلفت النظر الى أن ممارسة الصوم بالجسد فقط دون الفضائل الروحية لا تفيد، بل ينبغي أن نفعل هذه ولا نترك تلك. كما أنه تلزم الاشارة الى أن الجهادات الخاصة في العبادة التي كان القديسون يمارسونها، قد لا تناسب بعض الناس ولا يجوز أن تمارس بطريقة آليه كانها مفروضة للجميع.<a href="#_ftn7" name="_ftnref7">[7]</a></p>
<h4>المتنيح الأنبا بيمن أسقف ملوي وأنصنا والأشمونين</h4>
<p><strong>المسيح الطبيب والعريس</strong></p>
<p>الطبيب الإلهي</p>
<p>كما كان يسوع معلما، هكذا كان طبيبا. كان يعلم في المجامع، ثم يشفي كل المرضى الذين يتقدمون إليه. عندما تذمر اليهود عليه لأنه يدخل بيوت العشارين والخطاة قال لهم لا يحتاج الأصحاء إلى طبيب بل المرضى، لأني لم آت لأدعو</p>
<p>أبرارا بل خطاة إلى التوبة (مت ۹:۹ – ۱۳)، (مر١٤:۲ - ۱۷)، (لوه: ۲۷ - ۳۲).</p>
<p><strong>في العهد القديم</strong></p>
<p>.. وفي العهد القديم كان الأنبياء ينتظرون ذاك المسيا الذي يشفي أمراضهم الروحية والجسدية والنفسية</p>
<p>فأرميا يتساءل أليس بلسان في جلعاد؟ أم ليس هناك طبيب ؟ فلماذا لم</p>
<p>تعصب بنت شعبي (أر ۸: ۲۲). وأشعياء كان حزينا لأن شعبه ليس من يشفيه.</p>
<p>&#8221; كل الرأس مريض ، وكل القلب سقيم ، من أسفل القدم إلى الرأس ، ليس فيه صحة بل جرح وإحباط ، وضربة طرية لم تعصر ولم تعصب ولم تلين بالزيت (أش ٦:۱)</p>
<p>وكان الفكر السائد عند اليهود ، أن الخطيئة هي سبب كل مرض ، فعندما تلاقي التلاميذ مع المولود أعمي ، سألوه &#8221; أهذا أخطأ أم أبواه !&#8221;. وترسب في ذهنية الشعب أنه ليس يصح إستدعاء الطبيب . إنما يطلب الله وحده. وأما الملك آسا فعندما أشتد عليه المرض لم يطلب الرب بل طلب الأطباء فمات (أي١٦ : ۱۲).</p>
<p>ولكننا لا نستطيع أن نستند على تفسير خاطئ لهذه الآية، ونرفض إحضار الأطباء عندما يشتد المرض على أحد أحبائنا وذلك لما يلى :</p>
<p>ا- أنه لم يوجد في قوانين الكنيسة كلها ما يمنع إستدعاء الطبيب</p>
<p>٢- إن الفكر اليهودي تعدل فيما بعد وامتدح يشوع بن سيراخ الطبيب مبين أن الله يستطيع أن يجری مقاصده من خلاله.&#8221; أعط الطبيب كرامته لأجل فوائده لأن الرب خلقه، لأن الطب آت من عند العلى الرب خلق الأدوية من الأرض والرجل الفطن لا يكرهها &#8221;</p>
<p>٣- أن لوقا البشير أحد الإنجيليين الأربعة كان طبيبا</p>
<p>٤- إن ما تمنعه الكنيسة وتحرمه هو إستدعاء الدجالين والمشعوذين والسحرة وأتباع الجان والعرافة لأنه مهما قدموا هؤلاء فهم أعداء كل بر ومضلون ومضللون</p>
<p>ولعل هذا ما أخطأ فيه آسا الملك.</p>
<p><strong>الرب يسوع الطبيب الحقيقي</strong></p>
<p>كما أن الطبيب يكشف على كل مريض ويراه على حقيقته، هكذا الرب يسوع يعرفنا على حقيقتنا ويفحص أعماق نفوسنا خالية من كل غش ورياء ومظهرية. أنه يعرفنا على طبيعتنا وكلمة طبيب في اليونانية تعني من درس الطبيعة.</p>
<p>وكما أن الطبيب يعالج الجميع بلا استثناء هكذا الرب يسوع هو الطبيب الحقيقي لكل البشرية وعنده وحده الدواء لكل بني البشر</p>
<p>وكما أن الطبيب يكشف المرض ويقدم الدواء الشافي هكذا الرب يعرف حقيقة أمراض نفوسنا وأجسادنا أنه يقدم لنا علاجا معجزیا.</p>
<p>وكما أن الطبيب يحنو على مرضاه، بل وكثيرا ما يخاطر بنفسه لأجل</p>
<p>شفائهم، هكذا يسوع بذل ذاته على الصليب لأجل خلاصنا ولا يتقزز من أي خاطئ يقبل إليه . إنه القائل &#8221; تعالوا إلى يا جميع المتعبين وثقيلى الأحمال وأنا أريحكم&#8221;</p>
<p>وكما أن الطبيب يعرف فرادة كل حالة على حدة ويعطي العلاج الخاص بحيث أن ما يصلح لواحد لا يصلح لآخر، هكذا الرب يسوع مخلص نفوسنا، شافي أرواحنا وأجسادنا، يعرف إحتياج كل واحد منا.</p>
<p>أنه يقدر هذه الفرادة ولا يقيد کيان الشخصية، وإنما يصلح اعوجاجنا فقط.</p>
<p>هكذا تحتفظ الشخصية في دائرة النعمة بطابعها الفريد، لأن مسرة الله أن تخصب شخصياتنا التي خلقها على صورته ومثاله، وأن تمتلئ ليكمل بنيانها في أصالة وحق وعمق.</p>
<p><strong>كيف نلتقي بالطبيب الحقيقي؟</strong></p>
<p>في مخدع الصلاة، نعرض له أمراض نفوسنا، والحروب التي تقابلنا والجراح التي أصابتنا من قتال العدو.. وهو قادر وحده بروحه القدوس أن يطهرنا</p>
<p>من كل دنس الجسد والروح.</p>
<p>في التأمل والخضوع الحقيقي لكلمة الله. فهي سيف ذو حدين خارجة إلی مفرق النفس والروح، هي مشرط الجراح الأمين الشافي الذي يدين ويعزى، يجرح ويعصب، يستأصل الفساد ويداوي كل ضعف. في التوبة بدموع وندم، وبالاعتراف الذي يعمل من خلاله الطبيب الإلهي في تقديم حلول لمشكلاتنا، وعلاج لأمراض نفوسنا، وتوجيهات وتداريب لازمة لأرواحنا، وحل لرباطات خطايانا وآثامنا.</p>
<p>في ممارسة سر مسحة المرضى، حسب أمر يعقوب الرسول، ولا يزال المسيحيون في الريف يسرعون إلى الكاهن، يستدعونه عند حالة كل مرض.. وأما في المدينة، فإن تعذر حضور الكاهن في حالة كل مرض، فلا أقل من أن يحتفظ بزيت مسحة المرضى الذي عمل مرة في المنزل، ويمكن لرئيس الأسرة أن يدهن المريض أو نفسه..</p>
<p>إسمع الكنيسة الحانية مصلية عن المرضى قائلة &#8221; تعهدهم بالمراحم والرأفات إشفهم انزع عنهم وعنا كل مرض وكل سقم، وروح الأمراض أطرده والذين أبطئوا مطروحين في الأمراض، أقمهم وعزهم، والمعذبون من الأرواح النجسة اعتقهم جميعا . أنت الذي تحل المربوطين وتقيم الساقطين.. يا رجاء من ليس له رجاء، ومعين من ليس له معين عزاء صغيري النفوس ميناء الذين في العاصف.</p>
<p>نحن يارب أمراض نفوسنا أشفها، والتي لأجسادنا عافها، أيها الطبيب الحقيقي الذي لأنفسنا وأجسادنا، یا مدبر كل جسد تعهدنا بخلاصك.</p>
<p><strong>العريس السمائی</strong></p>
<p>ان علاقة الرب بالكنيسة وبالنفس البشرية تشبه بعلاقة العريس بالعروس.. في العهد القديم لم تكن هذه العلاقة واضحة تماما، ولكنه منذ أن تجسد الابن الكلمة وصار إنسانا مثلنا في كل شيء، فيما عدا الخطية وحدها ، برزت هذه العلاقة ، وتكلم الرب يسوع نفسه عنها في مواضع كثيرة..</p>
<p>في العهد القديم:</p>
<p>يقول هوشع النبي عن إسرائيل إنها عروس ويسمع هوشع الله ينادي &#8221; أخطبك لنفسي إلى الأبد، وأخطبك لنفسي بالعدل والحق، بالاحسان والمراحم، أخطبك لنفسي بالأمانة فتعرفين الرب &#8221; (هو۱۹:۲ -۲۰).</p>
<p>ويقول أشعياء النبي: &#8220;لأن بعلك هو صانعك رب الجنود إسمه &#8221; (أش٥٤-٥) &#8220;کفرح العريس بالعروس يفرح بك إلهك&#8221; (أش ٥:٦۲)</p>
<p>وفي موضع آخر يقول بروح النبوة &#8221; فرحا أفرح بالرب، تبتهج نفسي بالهي</p>
<p>لأنه قد ألبسني ثياب الخلاص، كساني رداء البر، متل عريس يتزين</p>
<p>بعمامة، ومثل عروس تتزين بحليها &#8221; (أش۱۰:٦١).</p>
<p>أما سفر المزامير ففيه كثير من هذه التعبيرات، ولكن سفر نشيد الأناشيد كله سيمفونية روحية تنشد لحن الحب والفرح الإلهي للشركة القائمة بين الله والكنيسة بسر لا ينطق به &#8221; قد سبيت قلبي يا أختي العروس، قد سببت قلبي بأحدي عينيك بقلادة واحدة من عنقك، ما أحسن حبك يا أختي العروس. کم محبتك أطيب من الخمر، وكم رائحة أدهانك أطيب من كل الأطياب . شفتاك يا عروس تقطران شهدا أختي العروس جنة مغلقة عين مقفلة ينبوع مختوم&#8221; (نش 4:۹ ، ۱۰). وحين كانت إسرائيل (العروس) تذهب وراء الهة غريبة، كان هذا يعد زنی روحی مثلما يقول الكتاب &#8221; بل زنوا وراء آلهة أخرى، وسجلوا لها، حادوا سريعا عن الطريق التي سار بها آباؤهم ، ( قض ۱۷:۲ )وكان بعد موت جدعون أن بني إسرائيل رجعوا وزنوا وراء البعليم ( قض 33:8). لذلك يوبخهم ناحوم النبي قائلا &#8221; ويل لمدينة الدماء كلها ملآنة كذبا وخطفا.. من أجل زني الزانية الحسنة الجمال صاحبة السحر البائعة أمم بزناها وقبائل بسحرها &#8221; (ناحوم 1:3-4)</p>
<p>وفي مواضع كثيرة يعلن الوحي حزنه وأسفه على حالة إسرائيل ويدعوها زانية لأنها خانت الذي إختارها من بين الأمم وجعلها شعبا مختارا له &#8220;فإتكلت علي جمالك وزنيت علي إسمك، وسكبت زناك علي كل عابر فكان له&#8221; (حز١٦:١٥)،(أر ١:٣) ،(أر٦:٣-١٠).</p>
<p>كم أن مشاعر الله رقيقة نحونا نحن البشر، كم يهتم بنا وكم يحزن لتركنا ينبوع ماء الحياة وجرينا وراء آبار مشققة لا تضبط ماء. إنه غيور وقلبه مليئ بالحب والوفاء، ويريدنا أن نبادله حبا بحب وإخلاصا بإخلاص، وتكريسا وتقديسا وعبادة تجاه الدعوة الإختيار الإلهي المقدس.</p>
<p><strong> في العهد الجديد:</strong></p>
<p>أما في العهد الجديد فقد تكلم الرب بصراحة عن هذه العلاقة عندما قال في رده على الفريسين&#8221; هل يستطيع بنو العرس أن يصوموا والعريس معهم، مادام العريس معهم لا يستطيعون أن يصوموا &#8221; (مر۱۹:۲).</p>
<p>ويقول الرب أيضا &#8220;وأنتم مثل أناس ينتظرون سيدهم متى يرجع من العرس ، حتى إذا جاء وقرع يفتحون له للوقت .. طوبى لأولئك العبيد الذين إذا جاء سيدهم يجدهم ساهرين &#8221; (لو۳٦:١٢). وفي إنجيل معلمنا متی البشير عندما ضرب الرب الأمثلة عن ملكوت السموات قال: يشبه ملكوت السموات إنسانا صنع عرسا لأبنه وأرسل عبيده ليدعوا المدعوين إلى العرس فلم يريدوا أن يأتوا &#8221;</p>
<p>(مت ۲:۲۲).</p>
<p>وفي تشبيه نفسه بالعريس الذي سيأتي لأخذ العذاري قال &#8220;إن هناك عذاری  حکیمات وعذاري جاهلات ، أما الحكيمات، فقد أخذن في آنيتهن زيتا انتظارا للعريس، ذاك الذي أغفلته وأهملته الجاهلات، ولما جاء العريس في منتصف الليل استيقظن العذاري جميعا. والخمس الحكيمات دخلن معه إلي العرس، أما الجاهلات فبينما هن ذاهبات ليبتعن زيتا، جاء العريس والمستعدات وحدهن هن اللواتي دخلن معه إلي العرس وأغلق الباب&#8221; (مت 25). وقد شهد يوحنا المعمدان كخادم لأنبياء العهد القديم بأن الذي عمده هو العريس السماوي؟، وأنه ينبغي أن يزيد بينما يوحنا نفسه ينقص.ويقول من له العروس فهو العريس وأما صديق العريس الذي يقف ويسمعه فيفرح فرحا من أجل صوت العريس.إذا فرحي هذا قد كمل (يو 3 :29 ).</p>
<p>وبولس الرسول كان يشعر في خدمته أنه يقوم بدور الإشبين كما كان الحال قديما في أفراح العرس. ومهمة الأشبين أن يقدم العروس عذراء واثقا متأكدا من طهرها، سعيد أن يرتبط بعريسها، وأما هو ففرحه يكمل بهذا الدور. يقول &#8221; إني أغار عليكم غيرة الله ، لأني خطبتكم لرجل واحد لأقدم عذراء عفيفة للمسيح&#8221; (۲کو ۲:۱۱ ) .</p>
<p><strong>التزامات هذه العلاقة المقدسة:</strong></p>
<p>١- الوفاء والأمانة</p>
<p>إن الخطية ليست مجرد كسر وصايا الله، ولكنها كسر لقلبه المحب&#8230; إن الله أمين إلى المنتهی ، وعدم أمانتنا لا تبطل أمانته .. إن مجرد التأمل في الصليب وآلام الرب في أسبوعه الأخير كفيل أن يلهب القلب بلواعج الحب والإخلاص والأمانة.. يقول الكتاب: &#8221; وهو مات لكي يعيش الأحياء فيما بعد لا لأنفسهم، بل للذي مات لأجلهم وقام &#8221; العروس إن خانت عريسها ترجم في العهد القديم، وتطلق في العهد الجديد، والنفس التي تخون عريسها السماوي تحرم من الأبدية وتحيا في عذاب أبدي.</p>
<p>٢- العشرة المقدسة</p>
<p>كيف نتصور عروسا لا تطيق أن تحيا مع عريسها؟ وكيف يمكن أن نقبل أن عروسا تهرب من لقاء عريسها؟ إن العروس المخلصة لعريسها تتلهف تتلهف على ساعة تقضيها مع من أحبها. إن عمرها كله يقاس بساعات العشرة والألفة بينهما.لهذا تستعلن هذه الشركة المقدسة أن نقضي ساعات طويلة في المخدع للصلاة والمناجاة والحوار مع الرب .. أن نتأمل في حديثه لنا في الكتاب المقدس؛ ونتلذذ به، ونصغي إليه جيدا وتطبعه وننفذ وصاياه.. أن نأخذ فترات، خلوة وإعتكاف للهدوء والصلاة والعبادة إن هذا ليس فرضا أو واجبا قهريا، وإنما هو دلالة على الحب والإخلاص وصدق في الإحساس بالشركة المقدسة بين العروس وعريسها السماوى..</p>
<p>٣- أن نحيا في الفرح والنور</p>
<p>ليس من عرس إلا ويرتبط بالأفراح والأنوار. وليس من عروس إلا وتتزين لعريسها دائما. والقديس أبو مقار عندما شاهد إمرأة زانية طلب من أبنائه الرهبان أن يتطلعوا إليها ثم قال: «إنظروا كم هذه تتعب في تزيين نفسها لعشاقها، ونحن لا نتعب لتزيين قلوبنا وحياتنا الداخلية لعريسنا السماوي&#8221; وأنتفع أبناؤه من هذا الكلام كثيرا.</p>
<p>إن الذين يعيشون في الدرس الذي لا يتعلق به ومجيد هم أولئك الذين احتقروا أباطيل العالم لأن الفرح مرتبط كيانيا بالتجرد، والحزن الرديء مرتبط بالشهوة وحب الاقتناء. ومسيحتينا بشارة مفرحة ودعوة إنجيلية تدعو النفس إلي أن تدخل في الفرح ويدوم فرحها. وسر الفرح الحقيقي هو اللقيا السماوية&#8221; سترونني وتفرحون ولا يستطيع أحد أن ينزع فرحي منكم&#8221;. والذين يعيشون في الفرح هم أيضا الذين يعيشون في النور. أنهم أبناء نور أبناء القيامة. الذين أحبوا النور ورفضوا أعمال الظلمة ووبخوها. هم وحدهم الذين يتمتعون بأفراح العرس الداخلي. أما الذين يعيشون في الحقد والكراهية والكبرياء والتعالي وهموم الحاة فهؤلاء هم الذين ينتزع الفرح منهم، ولا يقبلون إلى العرس، مثل أولئك الذين اعتذروا لأن لديهم سبع بقرات أو عندهم حقل.. هذه العلل التي يتعلل بها القلب ليبرر حالته وبؤسه وسأمه وحزنه العميق</p>
<p>٤- أن نحفظ ثوب العرس طاهرا</p>
<p>العروس تعتز بثوب الزفاف. إنه جميل ورائع. إنه ناصع البياض إشارة إلى الطهارة والعفاف الداخلي وسفر الرؤيا يمتدح الذين حفظوا ثيابهم طاهرة وغسلوها في دم الحمل. يطوب الذين هربوا من الثوب المدنس. والذين آمنوا بقدسية العلاقة القائمة بين نفوسهم والحق يحرصون على أن يبقي ثوب العرس بلا دنس. إنهم يعرفون أن الذين لم يكونوا لابسين ثوب العرس طردوا من الحقل كما قال الرب. هكذا يحرص المؤمنون القديسون على طهارة سيرتهم ونقاوة سريرتهم وعذراوية قلوبهم وأفكارهم ومشاعرهم.</p>
<p>٥- أن نعد أنفسنا للوليمة السماوية</p>
<p>العرس حاضر ومستقبلي أيضا. الملكوت قائم بيننا وننتظر مجيئه بمجد عظيم مصلين دائما في الصلاة الربانية &#8220;ليأت ملكوتك&#8221; والذين أدركوا أنهم مدعوون للعرس السماوي يدربون أنفسهم على الإشتراك في الوليمة السماوية هنا في هذا الزمان الحاضر. القداس الإلهي وليمة سماوية ودعوة للعرس والفرح المجيد&#8221;عندما نقف أمامك نحسب كالقيام في السماء&#8221;. والذين إتسعت قلوبهم بالحب الإهي للصلاة وممارسة الليتورجيات وصارت فرحتهم ومتعتهم في التسبيح والترنيم هؤلاء هم الذين يؤهلون للتسبيح مع خورس السمائيين في أورشليم السمائية</p>
<p>لقد سمع يوحنا الرائي تطويب هؤلاء عندما قال له الملاك &#8221; أكتب طوبی للمدعوين إلى عشاء عرس الخروف&#8221; (رؤ۱۹: ٩).. وفي مطلع الكتاب المقدس نجد الكتاب يعلن لنا عن العرس السماوي ووجود الله مع آدم في الجنة متمتعا بالأكل من يديه الطاهرتين.</p>
<p>وفي ختام الکتاب المقدس يطالعنا الرائي بقوله «وأنا يوحنا رأيت المدينة المقدسة أورشليم الجديدة نازلة من السماء من عند الله مهيأه كعروس مزينة لرجلها، وسمعت صوتا عظيما من السماء قائلا &#8220;هوذا مسكن الله مع الناس وهو سيسكن معهم، وهم يكونون له شعبا ، والله نفسه يكون معهم إلها لهم&#8221; (رؤ٢١ : ٢- ٣)<a href="#_ftn8" name="_ftnref8">[8]</a>.</p>
<h4>المتنيح القمص لوقا سيداروس</h4>
<p>الأحد الثانى من شهر مسرى</p>
<p>(لو ٥: ٢٧ – ٣٩)</p>
<p>دعوة لاوى</p>
<p>&#8221; وبعد هذا خرج فنظر عشاراً أسمه لاوى جالساً عند مكان الجباية فقال له اتبعنى &#8221;</p>
<p>+ من المؤكد أن الرب خرج خصيصاً من أجل لاوى كراع صالح يبحث عن خروفه الضال. كما خرج في طلب السامرية ومشى ٦ ساعات في حر النهار، وكما خرج يطلب زكا. والمرأة الخاطئة. وسمعان. وأندراوس. وجميع الذين دعاهم باسماءهم &#8230; إذن هي دعوة شخصية وإهتمام فردى بكل واحد منا.</p>
<p>نظر عشاراً</p>
<p>عندما يمر الرب يسوع بنا ينظر إلينا &#8230; فهو لا يمر مروراً سريعاً وكأنه لا يبالى بنا، ونحن في إنهماكنا ، وفى إنشغالنا بالعالم . بل على العكس يتوقف أمامنا وينظر إلينا. ونظرة يسوع تحمل معاني كثيرة جداً:</p>
<p>١- يسوع لا ينظر نظرة خارجية إلى شكلنا أو مظهرنا &#8230; بل ينظر مباشرة إلى القلب ويفحص أعمالنا، لأن عيناه تخترقان أستار الظلام، وليس شيء مخفى. بل كل شيء مكشوب وعريان أمامه.</p>
<p>٢- نظرة يسوع تحمل إلينا حب الله وحنان ولطف يسبى النفس ويأمر الحواس. ويجعلنا ننجذب بالحب نحو الله بحركة باطنية، لو أطعناها لتركنا كل شيء بلا حساب وتبعناه.</p>
<p>٣- نظرة يسوع تدعونا للسير ورائه &#8230; لحمل الصليب وخدمة الملكوت، وإحتقار أباطيل العالم. من المؤكد أن الرب يسوع خرج للقاء كل واحد منا. ومن المؤكد أنه نظر إلينا &#8230; ولكن كثيراً ما كنا منشغلين عنه فلم ندرك الذي من أجله أدركنا المسيح.</p>
<p>إسمه لاوى جالساً عند مكان الجباية</p>
<p>يوجد تناقض مذهل بين الاسم &#8221; لاوى &#8220;، والمكان الجالس فيه مكان الجباية. لاوى = شماس &#8230; خادم الأقداس المفرز لعمل الله. المخصص للخدمة والذبائح والتسبيح &#8230; مكان الهيكل في وسط القدسات في جو البخور، ورايحة الوقائد ، وصوت الحمد ، والترنيم &#8230; ولنه الآن يجلس في مكان الجباية وسط أموال وحوله عشارون وخطاة ، في جو مشحون بالمادية والظلم والطرق العالمية &#8230; ما أبعد الفرق بين الإسم والمكان، والحال الذي وصل إليه.</p>
<p>+ تبكتنا أسماؤنا المسيحية الدالة على علاقة بالله والقديسين. بينما نوجد في أماكن وأوضاع لا تليق وبنما نكون في وسط أصدقاء يختلفون تماماً عن طبيعة أسمائنا وحياتنا مع الله. هنا في هذه اللحظات يخرج إلينا يسوع وينظر إلينا نظرة إشفاق وعتاب ودعوة. لعلنا نفيق من غفلتنا ونصحو وننفض عنا دنس خطايانا.</p>
<p>فقال له اتبعني</p>
<p>إبراهيم لما دعي أطاع، وخرج وتغرب سائراً وراء الصوت والوعد الإلهى بإلهام وإيمان. فحسب له إيمانه براً &#8230; وتغرب في أرض غريبة، وخرج وهو لا يعلم أين يمضي. واكتفى برعاية إلهه الذي ناداه: &#8221; سر أمامى وكن كاملاً &#8220;. تبعية يسوع معناها ببساطة إنه هو بشخصه يتقدمنا، يسير أمامنا ويكون هدفنا فهل نخشى شيئاً، أو نحتاج إلى شيء وهو يسير أمامنا؟</p>
<p>+ &#8221; خرافي تسمح صوتي وتتبعني &#8221; هكذا قال الرب &#8230; صوت الراعى الحنون يجمع الحملان &#8230; من يستطيع أن يصف الفرح القلبى الذى به الخروف الضال عندما يسمع صوت الراعى ؟ ها صوت الراعى الصالح ينادينا كل يوم وكل ساعة إتبعنى ؟ ونحن مازلنا جالسين مشغولين عن صوت الذي ينادينا &#8230; أموال هذا العالم الزائل خطفت أبصارنا، وشغلت أفكارنا &#8230; وصحبة العشارين والخطاة حجبت وجه الحبيب عنا. يا إخوة &#8230; إنها ساعة الآن لنستيقظ &#8230; ونسمع صوت الذي يطلب خلاصنا.</p>
<p>ترك كل شيء وقام وتبعه</p>
<p>قال الرب عن تاجر اللآلى: &#8221; إنه عندما وجد جوهرة كثيرة الثمن مضى وباع كل ما له بفرح واشتراها &#8220;. من يجد يسوع ويمتلكه يقول: &#8221; معك لا أريد أيضاً شيء &#8221; . ما سبب تمسكنا بحطام العالم وشهواته؟ أليس إننا لم نملك يسوع المسيح في داخلنا؟</p>
<p>+ إن كل شيء يمكن تركه من أجل خالق الأشياء وواهب الخيرات &#8230; هكذا قال الرسل الأطهار : &#8221; قد تركنا كل شيء وتبعناك &#8221; ، &#8221; أحسب كل شيء خسارة من أجل المسيح &#8221; .</p>
<p>+ هنا يكون الترك نتيجة حتمية لمعرفة المسيح. لأنه لا يعقل أن نعرفه ونبقى في مكاننا من إرتباطنا بالعالم، ومحبتنا للمال وصحبة العشارين.</p>
<p>+ الدعوة التي يدعونا بها الرب هي دعوة لتغيير الحياة &#8230; من إهتمام العالم إلى الأهتمام بالملكوت. ومن سعى وراء تحقيق ربح زمني، إلى سعى نحو دعوة الله العليا.</p>
<p>+ أول حركة إستجابة لدعوة الله في حياتنا هي الترك ورفض اللذات العالمية، وإحتقار أباطيل الدنيا</p>
<p>+ ثم يتبع ذلك الحركة نحو الله في تتبع خطوات الرب وإقتفاء أثار قدميه. ينبغي أن نتبع يسوع، فلا نكون إلا حيث يكون هو ، ولا تذهب ألا إلى حيث يذهب . ولا نتبعه من بعيد مثل بطرس في ليلة الآلام . فنخسر ونخطئ. بل نلتصق به ولا نتخطاه ونسير ونسبق الحوادث بذهننا وترتيبنا البشرى بل في اتضاع نسير وراءه، تتنظر إرادته ، نخضع تحت يده .</p>
<p>+ وضع له لاوى ضيافة كبيرة في بيته والذين كانوا متكئين معهم جميعاً من عشارين وآخرين. جميع الذين عرفوا الرب عن قرب وتبعوه، عرفوا قيمة خلاص النفس البشرية. ولم يتركوا فرصة دون أن يقدموا نفوس بعيده للمسيح. ويكرزوا ببشارة الملكوت &#8230; إسالوا السامرية التي كانت تنادى بالمسيح في المدينة كلها إسالوا زكا الذي جمع أهل بيته إسالوا كرمينيوس الذي جميع الأصدقاء. والأقارب ليسمعوا كلمة خلاص من فم بطرس الرسول : &#8221; ترى متى تصير بيوتنا مكان لقاء للمسيح مع الذين يدخلونها ؟ ومتى تصير جلساتنا حول شخص الحبيب؟ ومتى يدخل إلى ولائمنا ويقدس طعامنا. &#8221;</p>
<p>تذمر الفريسيون</p>
<p>إندهش الفريسيون من هذا المنظر، وتعجبوا وتحيروا جداً كيف يجلس ويأكل مع العشارين والخطاة ؟ لقد إعتذر المدعوون الرسميون ، كما قال الرب عن العشاء الإلهى . وبدأوا جميعاً برأى واحد يستعفون واحد أشترى حقلاً والتصق بتراب الأرض ، فأعفى نفسه من وليمة الملكوت . وآخر اشترى خمسة أزواج بقر وأعتبرها ثروته وكنزه . ولم يستطع أن يفارقها ليكون في وليمة الرب . وآخر تزوج بإمرأة، فقالها صرحة لا أقدر أن أجئ . فدعا الرب العشارين والخطاة ليأكلوا على مائدة ويتكئوا معه وانفتح ملكوت الله أمام الخطاة فجاؤا مسرعين واتكأوا حول الرب فكمل القول &#8221; العشارون والخطاة يسبقونكم إلى ملكوت الله<a href="#_ftn9" name="_ftnref9">[9]</a> &#8221; .</p>
<h4>المتنيح القمص تادرس البراموسي</h4>
<p>الأحد الثانى من شهر مسرى المبارك</p>
<p><strong>لا يحتاج الأصحاء إلى طبيب بل المرضى (لو ٥ : ٢٧ – ٣٩ )</strong></p>
<p>قال الرب يسوع له المجد لا جئت لادعو أبرار بل خطاه إلى التوبة (لو ٧ – ٣٣) فلتتخذ هذا القول الشافى من الرب يسوع دواءاً لأنفسنا المريضة بسبب ما اعترها من فساد الخطية. حتى كلما شعرنا برداءه حالنا وبالشر الساكن فينا وأننا مستحقين الغضب الإلهى والدينونة نلتجئ إلى الرب يسوع الذى وعدنا إنه أتى إلى العالم لكى يطلب ويخلص ما قد هلك فلنحترس أذ أن نحسب أنفسنا أبراراً وألا فلا نكون من الذين أتى المسيح لأجلهم. ولا يكون لنا فيه نصيب. فلنصغى أذاً إلى الدعوه التي دعينا إليها ونقبلها بإيمان متين إذ كنا نشعر من كل قلوبنا أننا خطاه وإذا قبلنا التوبة والخلاص فلتثبت فيهما على الدوام إلى نهاية حياتنا على الأرض وإذا شعرنا بميل إلى فعل الخطية ورأينا أننا عندما نصنع الخير نجد الشر حاضر أمامنا ( رو ٧ – ٢١ ) فعلينا بالالتجاء إلى الله مخلصنا الصالح القائل لا يحتاج الأصحاء إلى طبيب بل المرضى لم أتى لأدعو أبراراً بل خطاة إلى التوبة (لو ٥ – ٣١- ٣٥) لأن فيه تعزية للحزانى وراحة للمتعبين وقوة للضعفاء على إنه يجب علينا أن نحترس من سوء المفهومية وأرتكاب الخطية ونتوهم أن الرب قد أتى إلى العالم لكى يساعدنا ويشجعنا برحمته وطول أناته مع الاستمرار في فعل الخطية بل  أنه أتى لكى يساعدنا ويدعونا إلى التوبة وعدم الرجوع إليها ويرشدنا حتى نغتنم الفرصة ونبعد عن الخطية قبل فوات الأوان دعي الرب يسوع . القديس متى الإنجيلي وكان عشاراً . جابى الضرائب واستجاب لدعوة السيد المسيح كان اسمه قبل الدعوة لأوى فترك كل شيء وتبعه ولم يؤخر أمر التوبة إلى الغد بل قام لوقته. قام فوراً ودعى جميع أصدقائه وأحبائه لمقابلة الرب يسوع لم يكتفى بالخير لنفسه بل دعى الآخرين. ترك لأوى عمله كجابى ضرائب التي تدر عليه ربحاً وفيراً ولو أنها غير شريفة من حيث المصدر. بعد أن تبع السيد المسيح قام فصنع وليمة عظيمة للرب يسوع ودعى فيها أصدقاءه العشارين وجبات الضرائب والخطاه وتقابلوا من الرب يسوع وأمن به كثيرون منهم أما لأوى الذى ترك خلفه ثروة مادية كبيرة جاء للسيد المسيح ليربح ثروة روحية عظيمة وكان فخوراً بوجوده مع الرب يسوع بعد أن تحرر من العالم وما في العالم وأصبح خليقة جديدة وصار من تلاميذ السيد المسيح ومن الإنجيليين الأربعة وانفرد عنهم بسرد نسب السيد المسيح والسبط الذى ينتمى إليه.</p>
<p><strong>العظة الأولى </strong></p>
<p>أ – الدعوة الإلهية والنعمة الغنية</p>
<p>ب – الطاعة لصوت الله والعمل بوصاياه</p>
<p>ج -ثمار التوبة ووضوح الرؤية</p>
<p>د – المرونة في دعوة الخطاة واستعمال الحكمة</p>
<p>ه - الخدمة الصحية ويد الرب الخفية</p>
<p>و – العلاج الناجح والدواء النافع</p>
<p>ذ – ترك المظاهر والتمسك بالجوهر</p>
<p>ح – التشكيك في العقيدة والبر الذاتي</p>
<p>ط – ترك الماضى والسعى إلى الفضيلة</p>
<p>ى – الجهاد المثمر والاقتناع بالمشورة</p>
<p><strong>العظة الثانية </strong></p>
<p>أ – نظرة الله وترقب الخطاة</p>
<p>ب – ترك الكل والتمسك بالواحد</p>
<p>ج – نسيان المظالم وصنع الولائم</p>
<p>د – جمع الخطاة وبث الأمل والرجاء</p>
<p>ه - وضع العثرات وترقب السقطات</p>
<p>و – وصف الدواء للداء</p>
<p>ذ – ترك الفريسيين وأنضم إلى القديسين</p>
<p>ح – الصوم المقبول والسير المعقول</p>
<p>ط – التوبة تاج والصبر علاج</p>
<p>ى – التمسك بالخلاص برء من القصاص</p>
<p><strong>العظة الثالثة </strong></p>
<p>أ – طلب المستحيل والطاعة أكليل</p>
<p>ب – أيمان وحب وتضحية</p>
<p>ج – ولائم وتغيير وتقدير</p>
<p>د – غيرة عمياء وقداسة كاذبة</p>
<p>ه - صوت الحكمة وكلام النعمة</p>
<p>و – وضع الأثقال وقطع الآمال</p>
<p>ذ – خلاص الخطاة وفرح السماء</p>
<p>ح – التوبة الكاملة فضيلة عاملة</p>
<p>ط – اختار الكلام المناسب في الوقت المناسب</p>
<p>ى – نحترس لئلا يضيع الوقت باطلاً<a href="#_ftn10" name="_ftnref10">[10]</a></p>
<h4>مجلة مدارس الأحد</h4>
<p><strong>محصل ضرائب يستقيل</strong></p>
<p>لم تكد تمضى أسابيع حتى صدم &#8221; يسوع &#8221; جموع الشعب كما صدم رؤساءهم الدينيين من قبل، وكان ذلك عندما أضاف إلى تلاميذه القليلين سادساً ، واختار لهذا المركز الرجل الأقل شعبية في &#8220;كفر ناحوم &#8221; موظفا عاما جابي ضرائب للرومان ، محتقراً من كل انسان ، وكان هذا تلميذاً جديداً يسمى &#8220;لاوى بن الفارس&#8221; تعرف إليه &#8220;يسوع&#8221; بينما كان جالساً في &#8220;بيت المكوس&#8221; حيث يؤدي له الضرائب المسافرون ورجال القوافل .</p>
<p>ولم يكن هناك سبب شخصي لدى أهل كفر ناحوم ، ليكرهوا إلى ذلك الحد رجلا طيب القلب مثله ، ولكنهم كانوا يرون واجبا عليهم أن يحتقروا ويكرهوا كل من يجبى الضرائب ، وكانوا متوافقين على أنه لا يحل لهم أن يؤدوا الضرائب الأجنبي إلا محتجين ومكرهين ، ومع أن الضرائب كانت تؤدي لعملاء يهود مثلهم ، ولكنهم يعرفون أن النقود التي تقع في يدى لاوى تنتهى أخيرا إلى صندوق &#8221; الرومان&#8221; إذ كان &#8220;حنانيا&#8221; وغيره من رؤساء الهيكل في&#8221;أورشليم&#8221; يستأجرون لجمع تلك الضرائب رجالا أمناء طيبي القلب ولكنهم في مسيس الحاجة للعمل مثل &#8220;لاوى&#8221; هذا ، ولكن تلك الحاجة ليست عذرا مقبولا لدى الشعب، ولذلك كان &#8220;لاوى بن الفارس&#8221; رجلا محتقرأ في &#8220;كفر ناحوم&#8221; يقاطعه الجميع يتجنبونه كانه أبرص .</p>
<p>وكان يبدو وهو جالس على باب هذا الجمرك رجلا هادئًا ومتواضعاً وعالماً بأنه محتقر ومنبوذ، وفي عزلته تلك كان يذاكر ويتعلم، حتى أتقن الرومانية واليونانية وغيرهما من لغات السائحين الشرقيين والغربيين معا ، ولكن هذا لم يحبب فيه قومه ولا جعلهم يستحرمون أن يصبوا عليه آيات احتقارهم و نقمتهم كلما استطاعوا ذلك شاعرين بأن هذا هو واجبهم وهو العدل بعينه ، أليس هو بعد العميل الظاهر للرومان ، القذر الذي لا مبدأ له ؟</p>
<p>كان الصبية يجرون وراءه منادين في الشوارع: &#8220;يا لص&#8221; وكان آباؤهم في المنازل يجمعون في منزلة واحدة بين جابي الضرائب وبين اللصوص والقتلة أعداء المجتمع، كلهم سواء ، ومع ذلك ظل &#8220;لاوى&#8221; يؤدي واجبه متفانيا فيه و بمنتهى الدقة والأمانة فاحصا</p>
<p>كل ُعملة وحاسباً كل بارة، مضاعفاً ساعات عمله ومتما واجبه يوما بيوم، منبوذا حتى لا يجالسه إنسان ولا تقبل شهادته أمام محكمة دينية، وهكذا فقد كل صلة له بالعالم الخارجي.</p>
<p>و مر &#8220;يسوع&#8221; أمام المكتب الذي يجلس إليه &#8220;لاوى&#8221; ورأى الحزن المجسم في نظرته وقال له: اتبعنی!.</p>
<p>ودهش كل الواقفين من الموظفين ومن القادمين من مختلف أنحاء الدنيا إذ رأوا الرجل يقف في طاعة كاملة وأدب دون أن يتردد ودون أن يوجه سؤالا ، ويترك مكتبه وينادي مساعده أن يحل محله ويحترس ويحاسب ويفتح عينيه جيدا للعمل ، ثم يسير وراء &#8220;يسوع&#8221; كأنه كان يتبعه من قبل .</p>
<p>ولاحظ الناس أيضا أن كثيرين شفوا في ذلك اليوم وتغيرت حالتهم ولكن لا أحد انتقل من حال إلى حال مخالف تماما، بمثل ما حصل ل &#8220;لاوى&#8221; في تلك اللحظة، لقد طلب إليه&#8221; يسوع&#8221; أن يتبعه وفوراً وبكل بساطة فعل .</p>
<p>ولاحظ الناس أيضا كيف رفع كتفيه واستقام قوامه و بان الرضا في عينيه وربما الكبر، وهو يسير مع &#8220;اندراوس&#8221;و &#8221; فيلبس &#8220;و &#8220;يعقوب&#8221;و &#8220;نثنائيل&#8221;في تلك الأمسية. فقد صار له أخيراً أصدقاء يعتز بصداقتهم ويفخر، ثم يا لسعادته عندما أخبره &#8220;يسوع&#8221;  أنه من الآن سيكون اسمه &#8220;متى&#8221; ثم و لسعادته الغامرة سيذهب &#8220;يسوع&#8221; إلى ، منزله الذي يحتقره الناس ويتجنبونه .</p>
<p>وسارع الرجل وآله إلى السوق يعدون الوليمة الفاخرة وطفق يجمع كل من عرفه وكل من آنس فيه أنه سيقبل الدعوة ليقابل &#8220;يسوع&#8221; في بيته ليكسر معه الخبز.</p>
<p>وكانوا كلهم جباة ضرائب وخطاه ومنبوذين. وكانت في هذا فرصة سانحة لنقد &#8220;يسوع&#8221; فقد عاد من أورشليم &#8220;العملاء&#8221; الذين قدموا هناك عنه تقاريرهم ووقفوا في ضوء القمر خارج المنزل حيث الاحتفال بالضيف على أشده، وعندما خرج بعض التلاميذ ليقفوا برهة في الهواء الطلق تأبط أحد العملاء ذراع&#8221; اندراوس&#8221; وسحب آخر &#8220;بارثلوميوس&#8221; و&#8221;يعقوب&#8221; واختار رئيسهم &#8220;بطرس&#8221; وقال له:</p>
<p>خبرني لم يأكل معلمك ويشرب مع العشارين والخطاة ؟</p>
<p>وجاءته الإجابة كأنها من عل، فقد ظهر في تلك اللحظة&#8221; يسوع &#8220;بطوله الفارع أمام الباب وقال لهم:</p>
<p>لا يحتاج الأصحاء إلى طبيب، بل المرضى! إذهبوا إذن واعلموا هذا: إنى أريد رحمة.</p>
<p>واختفى العملاء في الظلمة باحثين عن وجه الخطأ في كلامه.؟<a href="#_ftn11" name="_ftnref11">[11]</a></p>
<h3>من وحي قراءات اليوم</h3>
<p><strong>&#8221; </strong><b>لا يحتاج الأصحاء إلي طبيب بل المرضي &#8221;  إنجيل القدَّاس </b></p>
<p>كم مرة أفنينا الكثير من وقتنا وجهدنا وطاقتنا لخدمة الأصحاء</p>
<p>من هم المرضي إلا البعيدين والقريبين المعاندين والمضادين</p>
<p>المرضي مثل السامرية يحتاجون لحوار الحب وليس حوار العداوة</p>
<p>المرضي مثل الابن الضال يحتاجون إلى الأيدي المفتوحة وأحضان الحب المجاني</p>
<p>المرضي مثل المرأة الخاطئة يحتاجون إلي الغفران</p>
<p>لا يحتاج الناس إلى حكمة كلام، بل إلي قلب سلام</p>
<p>لا يحتاج الناس إلى فرادة مواهبنا، بل إلي مجانية وصدق محبتنا</p>
<p>لا يحتاج الناس إلى ما نقوله إذا كنا لا نعيشه</p>
<p>الخادم الطبيب هو الذي يضع أمراضه الشخصية كل يوم أمام مشرط الطبيب الأعظم</p>
<p>الخادم الطبيب هو الذي لا يستنكف من مرض مخدوميه، بل يترفق بضعفهم كما يترفق الله به</p>
<h3>المراجع:</h3>
<p><a href="#_ftnref1" name="_ftn1"></a>١- تفسير انجيل لوقا، HOMILIES 21-22.</p>
<p>Jr, A.J. &amp; Oden, T.C. (2003). Luke (The Ancient Christian Commentary on Scripture, New Testament part III ). Illinois (U.S.A): InterVarsity Press. Pages 95</p>
<p>ترجمة الأخ إبراهيم القمص مكاري نجيب - كنيسة مار مرقس بالمعادي</p>
<p><a href="#_ftnref2" name="_ftn2"></a>٢- العظات الخمسون للقديس أنبا مقار (صفحة ٣٧٠ ) - ترجمة الراهب يونان المقاري</p>
<p><a href="#_ftnref3" name="_ftn3"></a>٣- المرجع : كتاب تفسير إنجيل لوقا للقديس كيرلس الأسكندري صفحة ١١٠ - ترجمة دكتور نصحي عبد الشهيد</p>
<p><a href="#_ftnref4" name="_ftn4"></a>٤- المرجع : كتاب الحب الإلهي صفحة ٤٩٠ - القمص تادرس يعقوب ملطي</p>
<p><a href="#_ftnref5" name="_ftn5"></a>٥- المرجع : كتاب عظات علي سفر إرميا للعلَّامة أوريجينوس صفحة ٨٧ - ترجمة جاكلين سمير كوستا</p>
<p><a href="#_ftnref6" name="_ftn6"></a>٦- المرجع : كتاب المنجلية القبطية الأرثوذكسية ( صفحة ٢٦٩ ) - قداسة البابا تواضروس الثاني</p>
<p><a href="#_ftnref7" name="_ftn7"></a>٧- كتاب دراسات في الكتاب المقدس - إنجيل متي ( الإصحاح التاسع - ص١٥٩، ١٦٠) - لجنة التحرير والنشر بمطرانية بني سويف</p>
<p><a href="#_ftnref8" name="_ftn8"></a>٨- المرجع: كتاب ألقاب المسيح ووظائفه (صفحة ٨٧ ، ٦٩ ) - الأنبا بيمن أسقف ملوي وأنصنا والأشمونين</p>
<p><a href="#_ftnref9" name="_ftn9"></a>٩- المرجع : كتاب تأملات روحية في قراءات أناجيل آحاد السنة القبطية ( صفحة ٤٩٨ ) - القمص لوقا سيداروس</p>
<p><a href="#_ftnref10" name="_ftn10"></a>١٠- المرجع : كتاب تأملات وعناصر روحية في أحاد وأيام السنة التوتية ( الجزء الأول صفحة ٢٤٠ ) - إعداد القمص تادرس البراموسي</p>
<p><a href="#_ftnref11" name="_ftn11"></a>١١- المرجع : مجلة مدارس الاحد شهر سبتمبر ١٩٦٦</p>
<p>مقالة: محصل ضرائب يستقيل (عن كتاب &#8221; الانسان الخالد&#8221;ترجمة الاستاذ رمسيس جبراوى)</p>

      {% endcreateArticleAccordions %}
    </section>
  {% endblock %}
