---
layout: 'layouts/reading.html'
title: 'الاحد الرابع من شهر مسري'
tags: 'sundays'
permalink: /articles/sundays/12-4.html
---
  {% block content %}
    <section id="readings">
      <ul>
      {% if 'undefined' != 'undefined' %}
      
      {% else %}
      {% if '19.119:170,176' != 'null' %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">العشية</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeVespers '19.119:170,176' '42.17:20-37' %}
          </div>
        </div>
      </li>
      {% endif %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">باكر</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeMatins '19.90:1-2' '43.20:1-18' '' %}
          </div>
        </div>
      </li>
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <h3 class="flex items-center justify-between">
            <span class="kufi">القداس</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </h3>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeLitugy '52.2:13-20*@+52.3:1-13' '59.4:7-17*@+59.5:1-5' '44.11:19-30' '19.89:11-12' '41.13:3-37' %}
          </div>
        </div>
      </li>

      {% endif %}
        </ul>
    </section>
    <section id="article">
      <h3 class="mt-8 mb-4 heading-explain">شرح القراءات</h3>
      {% createArticleAccordions %}
        <p>&#8221; أطلبوا الرب، يا جميع بائسي الأرض الذين فعلوا حكمه. اطلبوا البر. اطلبوا التواضع. لعلكم تسترون في يوم سخط الرب &#8221; (صف ٣:٢)</p>
<p>&#8221; تعالوا إليّ يا مباركي أبي رثوا الحياة الدائمة إلي الأبد. يأتي الشهداء حاملين عذاباتهم ويأتي الصديقون حاملين فضائلهم &#8221;    ختام الثيئوطوكيات الواطس</p>
<p>تتم هذه الأمور لا بانطفاء النور الحالي، إذ نقرأ أن &#8220;نور الشمس يكون سبعة أضعاف&#8221; (إش ٣٠: ٢٦)، لكن بمقارنته بالنور الحقيقي تبدو كل الأشياء مظلمة &#8221; القديس جيروم (تفسير متي ٢٤ )</p>
<h3>شواهد القراءات</h3>
<p>(مز ١١٨: ١٣٨-١٣١) ، (لو١٧ : ٢٠-٣٧)، (مز ١:٨٩) ، (يو٢٠ :١-١٨) (١تس٢ : ١٣-٣) (١تس١٢-١٣) (يع ٤ : ٧-٥ : ١-٥) (أع ١١ : ١٩-٣٠) (مز ٨٨ : ٩-١٠) (مر١٣ : ٣-٣٧)</p>
<h3>ملاحظات على قراءات اليوم</h3>
<p>+ قراءة الكاثوليكون اليوم (يع٤ : ٧-٥ : ١-٥) تُشبه قراءة الكاثوليكون (يع ٤ : ٧ - ١٧) <a href="https://katameros.bible/church-reading/%d8%a7%d9%84%d8%a3%d8%ad%d8%af-%d8%a7%d9%84%d8%ab%d8%a7%d9%84%d8%ab-%d9%85%d9%86-%d8%b4%d9%87%d8%b1-%d8%a8%d8%a7%d8%a8%d8%a9/">للأحد الثالث من بابة</a></p>
<p>قراءة اليوم تُشير في الآيات الزائدة إلي &#8221; الأيام الأخيرة &#8221; في(يع ٥: ٣)</p>
<p>بينما قراءة<a href="https://katameros.bible/church-reading/%d8%a7%d9%84%d8%a3%d8%ad%d8%af-%d8%a7%d9%84%d8%ab%d8%a7%d9%84%d8%ab-%d9%85%d9%86-%d8%b4%d9%87%d8%b1-%d8%a8%d8%a7%d8%a8%d8%a9/"> الأحد الثالث من بابه</a> تتكلَّم عن مُعطِّلات النصرة على الشيطان الإدانة والإغتياب والأنين على الإخوة</p>
<p>+ قراءة إنجيل القدَّاس اليوم (مر١٣: ٣ - ٣٧) يأتي جزء منها في قراءة إنجيل باكر (مر١٣ : ٩ - ١٣)<a href="https://katameros.bible/church-reading/%d8%a7%d9%84%d9%8a%d9%88%d9%85-%d8%a7%d9%84%d8%ae%d8%a7%d9%85%d8%b3-%d8%b9%d8%b4%d8%b1-%d9%85%d9%86-%d9%87%d8%a7%d8%aa%d9%88%d8%b1/"> ليوم ١٥ هاتور</a> (شهادة مار مينا العجايبي ) ، وإنجيل باكر<a href="https://katameros.bible/church-reading/%d8%a7%d9%84%d9%8a%d9%88%d9%85-%d8%a7%d9%84%d8%ab%d8%a7%d9%84%d8%ab-%d8%b9%d8%b4%d8%b1-%d9%85%d9%86-%d8%b4%d9%87%d8%b1-%d8%a8%d8%b1%d9%85%d9%87%d8%a7%d8%aa/"> ليوم ١٣ برمهات</a> ( تذكار الأربعون شهيداً بسبسطية )</p>
<p>والكلام اليوم عن ضيقات المؤمنين في نهاية الأيام<a href="https://katameros.bible/church-reading/%d8%a7%d9%84%d8%a7%d8%ad%d8%af-%d8%a7%d9%84%d8%b1%d8%a7%d8%a8%d8%b9-%d9%85%d9%86-%d9%85%d8%b3%d8%b1%d9%8a/"> (الأحد الرابع من مسري)</a>، والآلام التي يجتازها الشهداء وإعترافهم بالمسيح له المجد حسب وعده (أن كل من يعترف به قدّام الناس يعترف هو أيضاً به قدّام ملائكة الله ) في قراءات <a href="https://katameros.bible/church-reading/%d8%a7%d9%84%d9%8a%d9%88%d9%85-%d8%a7%d9%84%d8%ae%d8%a7%d9%85%d8%b3-%d8%b9%d8%b4%d8%b1-%d9%85%d9%86-%d9%87%d8%a7%d8%aa%d9%88%d8%b1/">١٥ هاتور</a> ، <a href="https://katameros.bible/church-reading/%d8%a7%d9%84%d9%8a%d9%88%d9%85-%d8%a7%d9%84%d8%ab%d8%a7%d9%84%d8%ab-%d8%b9%d8%b4%d8%b1-%d9%85%d9%86-%d8%b4%d9%87%d8%b1-%d8%a8%d8%b1%d9%85%d9%87%d8%a7%d8%aa/">١٣ برمهات</a></p>
<p>كما يأتي جزء منها (مر١٣: ٣٢ - ٣٧) في إنجيل باكر للأحد الموافق للنسئ ، وجزء منها (مر١٣ : ٣٣ - ٣٧) في إنجيل باكر<a href="https://katameros.bible/church-reading/%d8%a7%d9%84%d9%8a%d9%88%d9%85-%d8%a7%d9%84%d8%b9%d8%b4%d8%b1%d9%88%d9%86-%d9%85%d9%86-%d8%b4%d9%87%d8%b1-%d8%a8%d8%b4%d9%86%d8%b3/"> يوم ٢٠ بشنس</a> ( نياحة القديس أمونيوس الأنطاكي ) ، وإنجيل باكر <a href="https://katameros.bible/church-reading/%d8%a7%d9%84%d9%8a%d9%88%d9%85-%d8%a7%d9%84%d8%b1%d8%a7%d8%a8%d8%b9-%d9%85%d9%86-%d8%a7%d9%84%d8%b4%d9%87%d8%b1-%d8%a7%d9%84%d8%b5%d8%ba%d9%8a%d8%b1/">يوم ٤ نسئ</a> ( نياحة أنبا بيمين المصري المتوحد )</p>
<p>وهي قراءة خاصّة بالسهر الروحي والصلاة الدائمة لذلك جاءت في<a href="https://katameros.bible/church-reading/%d8%a7%d8%ad%d8%af-%d8%a7%d9%84%d8%b4%d9%87%d8%b1-%d8%a7%d9%84%d8%b5%d8%ba%d9%8a%d8%b1-%d8%a7%d9%84%d9%86%d8%b3%d8%a6/"> الأحد الموافق للنسئ</a> وجاءت<a href="https://katameros.bible/church-reading/%d8%a7%d9%84%d9%8a%d9%88%d9%85-%d8%a7%d9%84%d8%b9%d8%b4%d8%b1%d9%88%d9%86-%d9%85%d9%86-%d8%b4%d9%87%d8%b1-%d8%a8%d8%b4%d9%86%d8%b3/"> يوم ٢٠ بشنس</a>،<a href="https://katameros.bible/church-reading/%d8%a7%d9%84%d9%8a%d9%88%d9%85-%d8%a7%d9%84%d8%b1%d8%a7%d8%a8%d8%b9-%d9%85%d9%86-%d8%a7%d9%84%d8%b4%d9%87%d8%b1-%d8%a7%d9%84%d8%b5%d8%ba%d9%8a%d8%b1/"> ٤ نسئ</a></p>
<h3>شرح القراءات</h3>
<p>يعلن الاحد الرابع الكنيسة النازلة من السماء المزينة والمهياة كعروس لرجلها</p>
<p>هذا الاحد هو أحد السهر والانتظار والتشوق لمجئ الرب</p>
<p>لذلك تبدا المزامير بالتوبة زينة النفس (مزمور عشيّة) والله ملجأها (مزمور باكر) ويده الإلهية عزّتها ( مزمور القدَّاس )</p>
<p>في مزمور عشية نري زينة النفس بالتوبة وباحتياجها للنجاة (فلتدن طلبتي من حضرتك يارب وكقولك نجني ضللت مثل الخروف الضال فاطلب عبدك فاني لوصاياك لم انس)</p>
<p>ومزمور باكر يعلن الله ملجا النفس الساهرة (يارب ملجا كنت لنا من جيل الي جيل)</p>
<p>وفي مزمور القداس السلطان الالهي علي الكل (لك هي السموات ولك هي الارض ايضا انت اسست المسكونة وكمالها انت خلقت الشمال والبحر فلتعتز يدك ولترفع يمينك)</p>
<p>وفي انجيل عشية يعلن السهر الداخلي السهر القلبي يكمن في اعماق الانسان الداخلي وليس في ترقب العلامات في الطبيعة (ولما ساله الفريسيون متي ياتي ملكوت الله اجابهم وقال لاياتي ملكوت الله بمراقبة ولايقولون هوذا ههنا او هوذا هناك لان هاملكوت الله داخلكم &#8230; ويقولون لكم هوذا ههنا او هوذا هناك لاتذهبوا ولاتسرعوا)</p>
<p>وتُعْلِن القراءات نموذج لكنيسة ساهرة (البولس) وفِي المقابل نفوس تائهة وظالمة (الكاثوليكون ) وكنيسة مستعدّة لعلامات مجيئه بشركة المحبّة ( الإبركسيس )</p>
<p>ويمدح في البولس كنيسة تسالونيكي الساهرة لمجئ الرب في ايمانها ومحبتها وطهارتها (لان من هو رجاؤنا وفرحنا واكليل افتخارنا الستم انتم امام ربنا يسوع المسيح في ظهوره لانكم انتم مجدنا وفرحنا &#8230;. والرب ينميكم انتم ويزيدكم في المحبة بعضكم لبعض وللجميع كما نحن ايضا لكم لكي يثبت قلوبكم بلا لوم في الطهارة امام الله وابينا عند ظهور يسوع المسيح مع جميع قديسيه امين)</p>
<p>ويحذر الكاثوليكون من الادانة والظلم وتعظم المعيشة والافتخار الكاذب ( واحد هو واضع الناموس والديان القادر ان يخلص ويهلك فمن انت يامن تدين غيرك هلم الان ايها القائلون نذهب اليوم او غدا الي هذه المدينة وهناك نصرف سنة واحدة ونتجر ونربح انتم الذين لاتعرفون امر الغد لانها ماهي حياتكم انها بخار يظهر قليلا ثم يضمحل &#8230; هلم الان ايها الاغنياء ابكوا مولولين علي شقاوتكم القادمة عليكم &#8230; قد كنزتم في الايام الاخيرة هوذا اجرة الفعلة الذين حصدوا كوركم المظلومة منكم تصرخ واصوات الحصادين قد دخلت الي مسامع رب الصباؤوت )</p>
<p>ويعلن الابركسيس اجتهاد الكنيسة الساهرة في الكرازة للكل وفي شركة احتياج المؤمنين وقت الضيق (فامن جمع كثير ورجعوا الي الرب فبلغ القول عنهم الي الي اذان الكنيسة التي في اورشليم فارسلوا برنابا الي انطاكية وهذا لما اتي وراي نعمة الله فرح وكان يعزي الجميع ان يثبتوا في الرب برضاء القلب&#8230; فانضم الي الرب جمع عظيم &#8230;. وقام واحد منهم اسمه اغابوس واشار بالروح القدس ان جوعا عظيما سيصير علي كل المسكونة الذي صار ايضا في ايام كلوديوس فحتم التلاميذ حسبما تيسر لكل منهم ان يرسل كل واحد منهم شيئا خدمة الي الاخوة الساكنين في اليهودية ففعلوا ذلك مرسلين الي المشائخ بيد برنابا وشاول)</p>
<p>كما يكشف عن دور الكنيسة في مواجهة المجاعات والأوبئة (علامات نهاية العالم) في تقديم الإحتياجات اللازمة لمن هم في مجاعة.</p>
<p>ويختم انجيل القداس بالوصية الكبري والعظمي للكنيسة في كل جيل ووقت وهي السهر والصلاة وعدم الانشغال بالمواعيد والازمنة ( واما ذلك اليوم وتلك الساعة فلا احد يعرفهما ولاالملائكة الذين في السماء ولاالابن الا الاب انظروا اسهروا وصلوا لانكم لاتعرفون متي يكون الوقت كانما انسان مسافر ترك بيته واعطي عبيده السلطان ولكل واحد عمله واوصي البواب ان يسهر اسهروا اذا لانكم لاتعرفون متي ياتي رب البيت امساء ام نصف الليل ام صياح الديك ام صباحا لئلا ياتي بغتة فيجدكم نياما ومااقوله لكم اقوله للجميع اسهروا )</p>
<h3>مُلخّص القراءات</h3>
<p>الكنيسة الساهرة تثق في السلطان الالهي ملجاها ونجاتها                     (المزامير )</p>
<p>وتحيا الملكوت داخلها                                                               (انجيل عشية )</p>
<p>في محبتها وايمانها وطهارتها                                                          (البولس )</p>
<p>وتحذر من الادانة والظلم                                                           ( الكاثوليكون )</p>
<p>وتنشغل قي خدمتها بالكرازة وشركة العطاء                                   ( الابركسيس )</p>
<p>وفي عبادتها بالصلاة والسهر                                                    ( انجيل القداس )</p>
<h3>الكنيسة في قراءات اليوم</h3>
<p>الإستعداد للمجئ الثاني                                                              البولس والكاثوليكون</p>
<p>قيادة الروح القدس للكارزين + موهبة النبوّة                                          الإبركسيس</p>
<p>المجئ الثاني                                                                             إنجيل عشيّة والقدّاس</p>
<h3>أفكار مُقترحة للعظات</h3>
<p><strong>(١) سهر الكنيسة في إنتظار عريسها</strong></p>
<p>١- سهر الكنيسة لا يراقب علامات خارجية لكن سهر قلبي وملكوتها في حياتها الداخلية</p>
<p>&#8221; ولما سأله الفرَّيسيون متي يأتي ملكوت الله أجابهم وقال لا يأتي ملكوت الله بمراقبة ولا يقولون هوذا ههنا أو هوذا هناك لأن ها ملكوت الله داخلكم &#8221;    إنجيل عشيّة</p>
<p>٢- ثبات الكنيسة ونموها في المحبّة والطهارة يحفظها بلا لوم في مجيء الرب</p>
<p>&#8221; والرب يُنميكم أنتم ويزيدكم في المحبّة بعضكم لبعض وللجميع كما نحن أيضاً لكم لكي يُثبِّت قلوبكم بلا لوم في الطهارة أمام الله وأبينا عند ظهور يسوع المسيح مع جميع قديسيه &#8221;    البولس</p>
<p>٣- الغني الكاذب وظلم الآخرين يُمْكِن أن يكون عِلَّة دينونة البعض</p>
<p>&#8221; قد كنزتم في الأيام الأخيرة هوذا أجرة الفعلة الذين حصدوا كوركم المظلومة منكم تصرخ وأصوات الحصادين قد دخلت إلي مسامع رب الصباؤوت &#8221;   الكاثوليكون</p>
<p>٤- شركة المؤمنين وأحشاء الرحمة هي سند المُتضايقين في نهاية الأيّام</p>
<p>&#8221; وأشار بالروح القدس أن جوعاً عظيماً سيصير علي كل المسكونة الذي صار أيضاً في أيام كلوديوس فحتم التلاميذ حسبما تيسر لكل منهم أن يرسل كل واحد منهم شيئاً خدمة إلي الإخوة الساكنين في اليهودية &#8221;   الإبركسيس</p>
<p>٥- التوبة الدائمة هي باب النجاة لكل إنسان وكل كنيسة</p>
<p>&#8221; ضللت مثل الخروف الضال فاطلب عبدك &#8221;                                                                   مزمور عشيّة</p>
<p>&#8221; من يطلب أن يُخلِّص نفسه يهلكها ومن يهلكها يُحييها &#8221;                                                   إنجيل عشيّة</p>
<p>&#8221; قاوموا ابليس فيهرب منكم اقتربوا إلي الله فيقترب إليكم &#8221;                                                  الكاثوليكون</p>
<p>٦- حياة السهر والصلاة الدائمة هي الشغل الشاغل الأوّل للرعاة والخدام</p>
<p>&#8221; كأنما إنسان مسافر ترك بيته وأعطي عبيده السلطان ولكل واحد عمله وأوصي البواب أن يسهر &#8221;          إنجيل القدَّاس</p>
<p><strong>(٢) أعداء السهر</strong></p>
<p>١- التأجيل</p>
<p>من الحروب المشهورة لعدو الخير تأجيل كل ما هو روحي بدلاً من محاربته</p>
<p>لذلك يؤكد الكتاب المقدَّس علي اللحظة الحاضرة &#8221; هوذا الآن وقت مقبول هوذا الآن يوم خلاص (٢كو ٦ :٢)</p>
<p>فالله الآن يأمر جميع الناس في كل مكان أن يتوبوا &#8221; (أع ٣٠:١٧)</p>
<p>أقوم وأذهب إلي أبي (لو ١٨:١٥)</p>
<p>إنها الآن ساعة لنستيقظ من النوم (رو ١١:١٣)</p>
<p>وتحذرنا كنيستنا المُقدَّسة من تسويف العمر باطلاً (تحليل نصف الليل) وتدعونا للتوبة والتمسُّك الدائم بمراحم الله ( فالآن أتكل علي غني رأفتك التي لا تفرغ - قطع صلاة الساعة الحادية عشر )</p>
<p>٢- المشغولية ودوَّامة الحياة</p>
<p>أي أن الإنسان لا يجد فرصة للجلوس مع النفس ومراجعة حياته فيوم يجري وراء يوم والإنسان لا يدري &#8221; أكل الغرباء ثروته وهو لا يعرف وقد رُشَّ عليه الشيب وهو لا يعرف (هو٩:٧)</p>
<p>لذلك كان حرص رب المجد مع التلاميذ للجلسات الهادئة بعيداً عن الجموع</p>
<p>تعالوا أنتم منفردين إلي موضع خلاء واستريحوا قليلاً (مر ٣١:٦)</p>
<p>بالرجوع والسكون تخلصون بالهدوء والطمأنينة تكون قوتكم (أش ١٥:٣٠)</p>
<p>٣- الإنشغال بالآخرين والإستغراق في فحص كل شئ</p>
<p>كما فعلت المرأة السامرية بإنشغالها بالسجود في أورشليم وهي تحيا بعيدة جداً عن الله</p>
<p>وكما كان ينشغل اليهود بمجئ ملكوت الله دون أن يعيشوا الملكوت في حياتهم (لو ٢٠:١٧)</p>
<p>وكما قال سليمان الحكيم فلنسمع ختام الأمر كله إتق الله وإحفظ وصاياه لأن هذا هو الإنسان كله (جا ١٣:١٢)</p>
<p>٤- الإنغماس في شهوات العالم ومنهج العالم</p>
<p>&#8221; كذلك أيضا كما كان في أيام لوط: كانوا يأكلون ويشربون، ويشترون ويبيعون، ويغرسون ويبنون ولكن اليوم الذي فيه خرج لوط من سدوم، أمطر نارا وكبريتا من السماء فأهلك الجميع (لو١٧: ٢٨-٢٩)</p>
<p>لذلك يدعونا القديس يعقوب للسهر الدائم في قداسة الحياة وأحشاء الرحمة للمُحتاجين  الديانة الطاهرة النقية عند الله الآب هي هذه: افتقاد اليتامى والأرامل في ضيقتهم، وحفظ الإنسان نفسه بلا دنس من العالم           (يع ٢٧:١)</p>
<p>(٣ ) ثلاث نهايات</p>
<p>١- نهاية المجد البشري الباطل</p>
<p>كما شرحت قراءات الكاثوليكون عن الناس الذين يكنزون لأنفسهم دون اعتبار لعدم دوام الحياة (تظهر قليلاً ثم تضمحل) ، وعلي حساب حقوق الآخرين ( صراخ الحصادين قد دخل إلي أذني رب الجنود )</p>
<p>٢- نهاية الضيقات (قبولها - احتمالها - شركة المؤمنين)</p>
<p>٣- نهاية الحياة (الاستعداد والسهر)</p>
<h3>عظات ابائية</h3>
<h4>الرب يسوع الكاهن الأعظم والشفيع في مجيئه الأوَّل والثاني في فكر العلامة أوريجانوس</h4>
<p>إذا فهمت نتيجة القصة إذا استطعت أن ترى بعينيك &#8220;الكاهن الأعظم واقفا بين الأحياء والموتى&#8221;، فلنصعد الآن نحو الدروس الجليلة المتضمنة في هذا النص، لنرى كيف أن الكاهن الأعظم الحقيقي يسوع المسيح بعدما أخذ الجسد البشري كمجمرة، بعدما وضع فيها النار من على المذبح، أي نفسه الثمينة التي تجسد بها، بعدما وضع بخورا أي الروح القدس الذي بلا دنس وقف بين الأحياء والموتى وأبطل بالموت ذلك الذي قال عنه الرسول &#8220;له سلطان الموت أي ابليس، لكي لا يهلك كل من يؤمن به بل تكون له الحياة الأبدية&#8221; (عب٢ : ١٤)، (يو ٣ : ١٦) ، هذا هو السر الذي يرعب الملاك المهلك مقدما، حيث إنه قد عرف الصورة المتضمنة في المجمرة والنار والبخور.</p>
<p>وأنه رأى مقدمًا ما هي الذبيحة التي كان مزمعًا أن يقدمها لله بواسطة الذي يقف بين الأحياء والموتى.</p>
<p>هؤلاء خلصوا برمز النبوة، أما نحن فقد صار لنا &#8220;الخلاص حقيقة&#8221; فليست حلة الكاهن الأعظم المنسوجة من الأرجوان ومن الصوف ومن البوص هي التي أرجعت الملاك المُهلك لكنه أدرك ما ستكون عليه زينات حلة الكاهن الحقيقي التي يجب أن تخضع لها كل الخلائق وتقهر أمامها.</p>
<p><strong>في المجيء الثاني</strong></p>
<p>هذه الصورة قد تحققت عند المجيء الأول لسيدنا يسوع ومخلصنا وفي رأيي أنها ستكون كذلك بدون أي شك في المجيءالثاني. حيث إن ابن الإنسان سيأتي مرة أخرى، وفي مجيئه سيجد بكل تأكيد موتى وأحياء. هذا ما قد نستطيع أن نفهمه لأول وهلة. فالبعض سيكونون على قيد الحياة، حيث نحن الآن وآخرون كثيرون يكونون قد سبقوهم بالموت. ويمكن أن نفهم ذلك بطريقة أخرى، فنعني بالموتى الأجساد، وبالأحياء النفوس. والأحياء هم الذين ثبتوا في اعمال الحياة. في هذين المعنيين كاهننا الأعظم ومخلصنا سيقف في يوم المجيء الثاني بين الاحياء والاموات. لكن يجب ان نقول أيضا بأنه سيقف بين الاحياء والاموات عندما سيقيم الخراف عن يمينه والجداء عن يساره. ثم يقول الملك للذين عن يمينه: &#8220;تعالوا يا مباركي ابي رثوا الملكوت المعد لكم منذ تأسيس العالم.. ثم للذين على اليسار اذهبوا عني يا ملاعين الي النار الأبدية المعدة لإبليس وملائكته لأني لا اعرفكم&#8221; (مت ٢٥: ٣٣ - ٤١). الموتى إذا هم الذين قد ارسلوا الي النار الأبدية والاحياء هم الذين ادخلوا الي الملكوت<a href="#_ftn1" name="_ftnref1">[1]</a>.</p>
<h4> معني الدينونة للقديس باسيليوس الكبير</h4>
<p>&#8221; الرب يدين الشعوب&#8221; (مز٧ : ٨). الحديث عن الدينونة مُنتشِر في مواضع كثيرة في الكتاب المقدس، بكونه تعليمًا أساسيًا ومقنعًا بالنسبة للديانة الحقيقية لمن يؤمن بالله في المسيح يسوع</p>
<p>وردت كلمة &#8220;دينونة&#8221; (ومشتقاتها) بمعانٍ كثيرةٍ، مما يُسَبِّب ارتباكًا للذين لا يُمَيِّزون بدقةٍ بين المعاني&#8230;</p>
<p>كلمة &#8220;يدين&#8221; تُستخدَم أحيانًا في الكتاب المقدس بمعنى الاستحسان، كما في العبارة: &#8220;احكم لي يا رب إن سرت في براءتي&#8221;. إذ يكمل: &#8220;جَرِّبني يا رب وامتحننّي&#8221;</p>
<p>أيضًا تعني &#8220;إصدار حكم&#8221;، كما في العبارة: &#8220;إن حكمنا على أنفسنا، فلا يُحكَم علينا&#8221; راجع (١كو ١١: ٣١). إن امتحنا أنفسنا حسنًا، لا نخضع للدينونة</p>
<p>مرة أخرى قيل إن الرب يدخل في المحاكمة مع كل جسدٍ (إر ٢٥: ٣١) ، أي في فحصه الأعمال في حياة كل أحدٍ يُخضِع نفسه للمحاكمة، ويقارن وصاياه بأعمال الخطاة، مدافعًا عن نفسه ببراهين مؤكدًا أنه يفعل كل شيءٍ من أجل خلاص الذين يُدَانون، حتى يقتنع الخطاة أنهم يستحقُّون ما يحلّ عليهم من عقوبة بسبب خطاياهم، ويدركون العدالة الإلهية، ويقبلون بإرادتهم العقوبة التي تحل بهم</p>
<p>لازال يوجد معنى آخر لكلمة &#8220;يدين&#8221;، وذلك كقول الرب: &#8220;ملكة الجنوب ستقوم في يوم الدين وتدين هذا الجيل&#8221; (مت ١٢: ٤٢)  .إنه يقول إن الذين يرفضون التعليم الإلهي، ولا يُحِبُّون النبلاء والصالحين، بل ويهجرون تمامًا التعاليم التي تُعلِّم الحكمة، فبمقارنتهم وتضادهم لمن كانوا في جيلهم أكثر غيرة نحو النبلاء والصالحين، ينالون دينونة أقسى بسبب الأمور التي أهملوها.</p>
<p>أعتقد أن الذين لهم هذا الجسد الترابي لا يُدَانون بطريقة واحدة، بواسطة الديَّان العادل متى كانت لهم عوامل خارجية متباينة تمامًا عن غيرهم، لهذا فإن الحُكْمَ يتفاوت من حالةٍ إلى أخرى</p>
<p>الظروف التي نحن فيها ليست في سلطاننا، بل وُجِدنا فيها بغير إرادتنا، مما يجعل خطايانا قد تكون أكثر خطورة أو أخف في حدّتها</p>
<p>تخيَّل إدانة الزنا، فالإنسان الذي سقط فيه منذ بداية حياته بممارسات شريرة ووُجِد مع والدين فاسقين، ونشأ بعادات شريرة كالسُكْرِ والعربدة وسماع قصص مُخزِية، بينما آخر كان يقوم بتحدٍّ للتمتُّع بأمورٍ سامية للغاية، ونال تعليمًا وكان له مدرسون، واستمع إلى وصايا إلهية أكثر، وتمتَّع بقراءات مفيدة ونصائح من الوالدين، وأنصت إلى قصصٍ تحثّ على الجدّية وضبط النفس وانتهاج أسلوب حياة راقيًا، فإن اندفع الأخير نحو الخطية مثل الأول، فإنه إذ يُقَدِّم حسابًا عن حياته، كيف يمكن لمثل هذا أن يكون غير مستحقٍ لعقوبة أشد بمقارنته بعقوبة الأول؟! يُتَّهَم أحدهما (الأخير) على أساس أنه لم يستخدم الميول المغروسة في أفكاره باستقامة. أما الآخر فيُتَّهم - بالإضافة إلى ذلك – أنه غرَّر بنفسه في وقت قصير بالرغم من نواله عونًا لخلاصه، وعدم ضبط نفسه وعدم حرصه</p>
<p>بنفس الطريقة أيضًا من تدرَّب منذ بداية حياته على التقوى والهروب من كل انحرافٍ عن تعاليم الله، ونشأ في شريعة الله التي تهاجم كل خطية وتدعو إلى عكسها، لا يكون له عذر إن عبد الأصنام مثل من تربَّى على يدي والدين فَضوِليين، أو مثل أناسٍ تعلَّموا منذ البداية عبادة الأوثان<a href="#_ftn2" name="_ftnref2">[2]</a></p>
<h4>الشعوب الذين أحبوه، واعترفوا باسمه يدخلون إلى خاصته لمار يعقوب السروجي</h4>
<p>مخيف هو اليوم الذي تصير فيه الدينونة الأخيرة، وفيه يشرق ابن الله بمجدٍ عظيمٍ (يوئيل٢: ١ - ١١) ،</p>
<p>من يمينه ومن يساره بروق النار&#8230;</p>
<p>يستقيم عرش الدينونة ببرٍّ، ويجلس عليه البكر بمجدٍ عظيمٍ ليدين الشعوب،</p>
<p>ويلقي بغضبٍ وُيبعد بحنق الشعب الملعون الذي صرخ في المحكمة: اصلبه، اصلبه (متي ٢٧: ٢٢ - ٢٣)  ،</p>
<p>عليهم المراحم،</p>
<p>ولا يتركونهم ينظرون إلى العلا، لئلا يروا ضياءه وينالوا منه الرجاء،</p>
<p>كل إنسانٍ يستوجب حكم الموت لو رأى وجه الملك لن يموت،</p>
<p>الشعوب الذين أحبوه، واعترفوا باسمه يدخلون إلى خاصته، &#8230;</p>
<p>يُهيأ اثنا عشر كرسيًا ويجلس الرسل ليدينوا الشعب الملعون الذين لم يؤمنوا به (لو٢٢: ٢٨ - ٣٠) ،</p>
<p>وإذ رأوا كم أنه أهانه واحتقره وحطه لأنه كفر به بحيث لم يؤهله ليدخل إلى المحكمة مثل الشعوب،</p>
<p>حكمُ البشر قاس على البشر، لذا اسلم حكمهم للبشر، لأنهم يستحقون هكذا (٢صم ٢٤: ١٤)</p>
<p>*    لما كان ربنا يُعَلِمْ قال: من بيتٍ واحدٍ سيؤخذ واحد، وسيُترك آخر (مت٢٤: ٤٠) ،</p>
<p>لو لم تجرّ الأعمال الإنسان إلى الكرامة، لا يفيده ربوات الأبرار الذين يسكنون معه</p>
<p>الابن البار لا ينفع أباه الذي أثم، والابن الخاطئ لا يحتمي بالأب البار</p>
<p>البتول الطاهرة لا تخلص الأم التي زنت، والأخ الكامل لا يفيد أخاه المتراخي</p>
<p>من هذه الأمور التي علمها ربنا تعلم بأن واحدًا يأخذونه والآخر يتركونه بتمييز (مت٢٤ : ٤٠)</p>
<p>الخوف يرعب الأختين في بيت واحد، ولا تقدران أن تستفسرا سوية عن السبب</p>
<p>العلا يخطف تلك الكاملة لتطير في الهواء، واللجة تسحب الأثيمة لتتعذب فيها</p>
<p>الواحدة تؤخذ للقاء العريس كما قيل، وتُترك الأخرى لتعود إلى الهاوية كما كُتب (مت٢٤ : ٤٠)</p>
<p>الصوت يُرجف البنت وأمها المطمئنتين، فتخافان وترتجفان لما تُفصلان لتنتقلا،</p>
<p>يُفصل الإخوة كالأعضاء من بعضها بعضًا، ويلقي الانقسام في وحدتهم ويبعثرها</p>
<p>يُسقط ويؤخذ الأبناء كالأمعاء، ولا مجال لبطن الأم لكي يحبهم</p>
<p>تُقطع محبة النساء من رجالهن، ولن يعرف الشريك (شريكه) بسبب الخوف</p>
<p>المرأة تُعتبر مثل غريبة من قبل رجلها، وإذ كانت خاصته لم تعد خاصته لأنها فُصلت عنه</p>
<p>المتزوجون لن يعودوا إلى الزواج، والأبوّة لن تحب أحباءها</p>
<p>ومحبة الإخوة لن تثبت كما كانت لأن تلك المساواة تُفصل من الاختلاط</p>
<p>الخوف يقطع الخبر الوارد بين الأختين، ولن تنتهي تلك القصة التي تابعتاها</p>
<p>ولو كانتا مربوطتين سوية في رحى واحد، ستُفصلان من وحدتهما كما هو مكتوب (مت٢٤: ٤١)</p>
<p>ولن تكتمل كلمة المحبة عندهما، لأن الخوف المرعب يبطل كلماتهما</p>
<p>يقطع حديث البنت الحبيبة مع أمها، ويبطل كلام الملافنة (المعلمين) والباحثين</p>
<p>ينكسر القلم في يد المعلم بصورة غير اعتيادية ولن تُسجل به كتابة إلى الأبد،</p>
<p>يترك الصبيان المدرسة المجتمعين فيها، ولن يُقدموا أيضًا في صباح آخر حتى يتعلموا.</p>
<p>تغيب وتزول الحكَم من الحكماء، ولن يعرف أحد سوى الخوف من الانبعاث.</p>
<p>تهجم الحيرة على الفلاسفة في أفكارهم ولن يتذكروا إلا أن يقولوا فقط: الويل لنا.</p>
<p>تنقطع قصة النظريات والاستفسارات ولن يُفسر هناك شيء ماعدا الويل.</p>
<p>تتعثر الكلمة وتسقط من اللسان، ويرعد فقط صوت النحيب من جهنم.</p>
<p>لن يتسلى أحد ولا يُسلى رفيقه لأن كل واحدٍ سيشرب المرارة وهو يتعذب.</p>
<p>الشاب لن يسند الشيخ وهو يتألم، والأب لن يشجع ابنه لئلا يكتئب.</p>
<p>ينفصل كل واحدٍ عن رفيقه بخوف عظيم، ويقع الرعب حتى ينتقل الواحد عن رفيقه.</p>
<p><a href="#_ftn3" name="_ftnref3">[3]</a> هوذا ربنا قد تكلم عن الدينونة الأخيرة: يأخذون الواحد ويتركون الآخر كما قلنا (مت٢٤: ٤١)</p>
<h4>القديس مقاريوس الكبير</h4>
<p>إذ يسمع سليمان أباه داود ينطق بهذه الأمور، ويبني بيتًا عجيبًا، في دهشة يتساءل: هل يسكن الله حقًا على الأرض مع الإنسان؟! (١مل٨: ٢٧) بلى، يجيب داود متنبأ في المزمور المنسوب لسليمان: &#8220;ينزل مثل المطر على الجزَّة&#8221; (مز٧٢ : ٦).</p>
<p>&#8220;مثل المطر&#8221; لطبيعته السمائية، و&#8221;على الجزَّة&#8221; لناسوته. ولأن المطر ينزل على الجزاز بغير ضوضاء. لهذا فإن المجوس وهم لا يدركون سرّ الميلاد يتساءلون: أين هو المولود ملك اليهود؟ وإذ سمع هيرودس ذلك اضطرب، وأراد أن يعرف من هو هذا المولود فسأل: أين يولد المسيح؟!</p>
<p>لسنا نكرز بمجيء واحد للمسيح بل وبمجيء آخر فيه يكون ممجدًا جدًا أعظم من الأول. المجيء الأول أظهر صبره، والثاني فيحضر معه إكليل مملكته الإلهية. لأن تقريبًا كل شيءٍ في ربنا يسوع المسيح يحمل جانبين: فله نسب مزدوج، مولود من الله قبل كل الدهور، ومولود من العذراء في ملء الدهر.</p>
<p>ونزوله مزدوج، واحد يأتي فيه مختفيًا، &#8220;مثل المطر على الجزاز&#8221; (مز٧٢: ٦)، والآخر مجيء واحد مُنتظر.</p>
<p>في مجيئه الأول كان ملفوفًا بقماطات في المذود، وفي ظهوره الثاني يظهر &#8220;اللابس النور كثوبٍ&#8221; (مز١٠٤: ٢).</p>
<p>في مجيئه الأول &#8220;احتمل الصليب مستهينًا بالخزي&#8221; (عب١٢: ٢) ، وفي الثاني تحوطه جيوش الملائكة ممجدًا.</p>
<p>فنحن لا نستند على مجيئه الأول فحسب، وإنما ننتظر مجيئه الثاني أيضًا. وكما قلنا في مجيئه الأول: &#8220;مبارك الآتي باسم الرب&#8221; (مت ٢١: ٩ -٢٣ : ٣٩). سنردد أيضًا هذا في مجيئه الثاني. فإذ نتقابل مع سيدنا وملائكته، نتعبد له قائلين: &#8220;مبارك الآتي باسم الرب</p>
<p>سيأتي لا ليُحكم عليه، بل ليدين من حاكموه. ذاك الذي صمت أثناء محاكمته يقول للأشرار الذين فعلوا معه هذه الجسارة: &#8220;هذه الأشياء صنعتم وسكت&#8221; (مز٥٠: ٢١).</p>
<p>إذن، قد جاء بتدبير إلهي معلمًا الناس بالإقناع، أما هذه المرة بالضرورة يقبلونه ملكًا حتى الذين لا يريدون!</p>
<p>إن الذين يتساقط عليهم ندى روح الحياة &#8220;ينزل مثل المطر على الجزاز، ومثل الغيوث الزارفة على الأرض (مز٧٢: ٦) تنجذب قلوبهم بحبٍ إلهيٍ للمسيح يأسرهم ذلك الجمال والمجد إلى اشتهاءٍ دائمٍ نحو المسيح<a href="#_ftn4" name="_ftnref4">[4]</a>.</p>
<h3>عظات آباء معاصرين</h3>
<h4>قداسة البابا تواضروس الثاني</h4>
<p><strong>شهوة اللقاء بالحبيب:</strong></p>
<p>يتحدث هذا الفصل عن المجيء الأخير وهو يتكرر في نهاية العام القبطي.. فهذا هو الأحد الأخير أو قبل الأخير (في شهر مسرى).</p>
<p>وقد ذكرت علامات المنتهى في (مت ٢٤- مر ۱۳ - رؤيا).</p>
<p>* كان الهيكل هو كل شيء في حياة اليهودي. وليس الهدف معرفة الأزمنة أو كشف المستقبل، بل حث الكنيسة على الجهاد المستمر والترقب الدائم للمجيء الثاني.. وهذا ما نسميه «شهوة الالتقاء به».</p>
<p>* « لي اشتهاء أن أنطلق وأكون مع المسيح ذاك أفضل جدا » (في١: ٢١).</p>
<p>الهروب إلى الجبال رمز إلى الصعود إلى الفضيلة. من هم أصدقاء القديسين؟</p>
<p>١- التائبون (القديسة مريم المصرية  الأنبا موسى الأسود &#8230;..)</p>
<p>٢- المحبون (الأنبا بيشوى  البابا كيرلس السادس  الأنبا بولا &#8230;.)</p>
<p>٣- السالكون (الأنبا أنطونيوس  الأنبا باخوميوس أب الشركة &#8230;..)</p>
<p>٤- العابدون (الأنبا أرسانيوس معلم أولاد الملوك  الأنبا برسوم، &#8230;&#8230;)</p>
<p>٥- الكارزون (بولس الرسول  برنابا الرسول  مارمرقس، &#8230;..)</p>
<p><strong>أفعالنا المقدسة</strong></p>
<p>في ( ع ٣) نجد أسماء التلاميذ الأوائل الذين دعاهم الرب يسوع للخدمة والتلمذة؛ ففي معاني أسمائهم رموز واضحة</p>
<p>بطرس = صخرة الإيمان</p>
<p>يعقوب = التعقب / الجهاد</p>
<p>يوحنا = نعمة الله وحنانه</p>
<p>أندراوس = الرجولة / الجدية / بلا تراخي</p>
<p>وهذه كلها هي الفضائل اللازمة للكنيسة</p>
<p>آدم في اللغة اليونانية أربعة حروف يقول عنها «القديس أغسطينوس»: (الشرق + الغرب + الشمال + الجنوب) وهذه كلها إشارة إلى يقظة القلب الداخلي وهي التي عبر عنها الكتاب المقدس بكلمة (اسهروا)</p>
<p><strong>هناك أربعة أفعال جماعية لازمة لحياة الانتظار</strong></p>
<p>١- انظروا ( ع ٥ ) سيروا بكل حكمة وبصيرة</p>
<p>٢- تعلموا ( ع ۲۸) انتهز كل فرصة أمامك</p>
<p>٣- صلوا ( ع ۱۸) تعود الوقوف أمام الله</p>
<p>٤- اسهروا (ع ۳۷) استعد باشتياق وحرص<a href="#_ftn5" name="_ftnref5">[5]</a></p>
<h4>المتنيح الأنبا يؤانس أسقف الغربية</h4>
<p><b>نهاية العالم ومجيء المسيح الثاني</b></p>
<p>موضوع يشغل أذهاننا جميعاً ، لأنه لا يوجد من لا يعبأ بنهاية العالم ، ومجيء ربنا يسوع الثاني &#8230; فإنه سيأتي بغتة للدينونة &#8230; سوف لا يكون الحال كما هو الآن ، فإذا كان الرب قد أطال أناته علينا وأظهر لنا لطفاً ورحمة ، فسوف لا يكون الأمر على هذا النحو في الدينونة . و يكفى أن نضع أمام عيوننا تلك الصورة المرعبة التي رسمها لنا سفر الرؤيا عما سيحدث في ذلك اليوم الرهيب « ملوك الأرض والعظماء والأغنياء والأمراء والأقوياء وكل عبد وكل حر أخفوا أنفسهم في المغاير وفي صخور الجبال وهم يقولون للجبال والصخور اسقطى علينا واخفينا عن وجه الجالس على العرش وعن غضب الخروف لأنه قد جاء يوم غضبه العظيم ومن يستطيع الوقوف » (رؤيا ٦: ١٥- ١٦). لنعلم جميعاً أننا الآن في بداية النهاية ، إذا كنا لسنا من ظلمة ، بل جميعنا أبناء نور وأبناء نهار. فلقد أعطانا الرب هذه العلامات حتى لا يفاجئنا ذلك اليوم بغتة . علينا أن ننتبه ونحذر، ونصلح فوراً سلوكنا وأعمالنا وأفكارنا .</p>
<p>وللسيد المسيح له المجد مجيئان . المجيء الأول جاءه في ملء الزمان حينما ولد من الروح القدس ومن العذراء الطاهرة أم النور مريم . هذا الذي ظهر فيه بالجسد للعيان وصنع خلاصاً لجميع العالم حينما علق على الصليب ومات وقام من بين الأموات وصعد إلى السموات &#8230; أما مجيئه الثاني وهو الذي نعنيه بموضوعنا هذا فهو مجيء للدينونة. فالمسيح هو الديان الذي سيدين العالم كله. وكما يقول هو بفمه الإلهي المبارك: «لأن الآب لا يدين أحداً بل قد أعطى كل الدينونة للابن» (يوحنا٢٢:٥) ..</p>
<p><strong>مجئ المسیح الثانى حقيقة مؤكدة</strong></p>
<p>ومجيء المسيح الثاني حقيقة مؤكدة لا نزاع فيها أو مجادلة. فهي إحدى حقائق المسيحية الكبرى التي ظفرت باجماع الطوائف والمذاهب المسيحية وتعددها، إنما هو نتيجة الشهادات الواضحة الصريحة التي وردت في الإنجيل المقدس، وفي مقدمتها أقوال السيد المسيح نفسه</p>
<p>يقول السيد المسيح: «وحينئذ تظهر علامة ابن الإنسان في السماء وحينئذ تنوح جميع قبائل الأرض، ويبصرون ابن الإنسان آتياً على سحاب السماء بقوة ومجد كثير» (مت٢٤ :٣٠) &#8230; « ومتى جاء ابن الإنسان في مجده وجميع الملائكة القديسين معه فحينئذ يجلس على كرسي مجده » (مت٢٥: ۳۱) &#8230; « وحينئذ يبصرون ابن الإنسان آتياً في سحابة ومجد كثير » (لو۲۱: ۲۷)</p>
<p>أما القديس بولس الرسول فيردد هذه الحقيقة مراراً فيقول: «وأنتم متوقعون إستعلان ربنا يسوع المسيح » (كورنثوس الأولى ١ : ۲۷) استعلان معناها ظهور&#8230; « إذن لا تحكموا في شيء قبل الوقت حتى يأتي الرب » (كورنثوس الأولى ٤: ٥)&#8230; « ولكن كل واحد في رتبته ، المسيح باكورة ثم الذين للمسيح في مجيئه » (كورنثوس الأولى ١٥ : ۲۳) &#8230; « فإن سيرتنا نحن هي في السموات التي منها أيضاً ننتظر مخلصا هو الرب يسوع المسيح » (فیلبی۳ : ۲۲) &#8230; « متى أظهر المسيح حياتنا فحينئذ تظهرون أنتم أيضا معه في المجد » (کولوسی۳ : ٤) &#8230; « وننتظر ابنه من السماء الذي أقامه من الأموات ، يسوع المسيح الذي ينقذنا من الغضب الآتى» (تسالونيكي الأولى١ : ١٠) &#8230; «لأن الرب نفسه بهتاف بصوت رئيس ملائكة وبوق الله سوف ينزل من السماء » (تسالونيكي الأولى٤ : ١٦) &#8230; و يوصى بولس الرسول تلميذه تيموثاوس : « أن يحفظ الوصية بلا دنس ولا لوم إلى ظهور ربنا يسوع المسيح » ( تيموثاوس الأولى ٦: ١٤)&#8230; كما يوصى تلميذه تيطس قائلاً : « منتظرين الرجاء المبارك وظهور مجد الله العظيم يسوع المسيح (تيطس۲ : ۱۳)&#8230; وفي الرسالة إلى العبرانيين يقول : « هكذا المسيح أيضاً بعدما قدم مرة لكي يحمل خطايا كثيرين سيظهر ثانية بلا خطية . للخلاص للذين ينتظرونه » (عب٩ : ۲۸) . أما القديس بطرس الرسول فيقول : «منتظرين وطالبين سرعة مجيء يوم الرب » (بطرس الأولى٣ : ١٢).</p>
<p>كما يؤكد يوحنا الرسول مجيء المسيح الثاني فيقول: « ولكن نعلم أنه إذا أظهر نكون مثله لأننا سنراه كما هو» (يوحنا الأولى٣ : ٢).</p>
<p>هذا قليل من كثير من شهادات الانجيل المبارك التي تظهر لنا بوضوح موضوع مجيء المسيح الثاني. وواضح من هذه الشهادات أن المسيح له المجد  لا نقول إنه سيأتي فحسب  بل إنه سيأتي وينظره الجميع على نحو ما قاله الملاكان للتلاميذ بعد صعوده المبارك : «أيها الرجال الجليليون ما بالكم واقفين تنظرون إلى السماء . إن يسوع هذا الذي ارتفع عنكم إلى السماء سيأتي هكذا كما رأيتموه منطلقاً إلى السماء » (أعمال الرسل١: ١١). أو كما يقول يوحنا في سفر (الرؤيا١: ٧) وهو يتكلم عن الرب إله المجد  « هوذا يأتي مع السحاب ، وستنظره كل عين والذين طعنوه . و ينوح عليه جميع قبائل الأرض » (رؤ١: ۷).</p>
<p><strong>موعد المجئ الثاني:</strong></p>
<p>رأينا أن هناك إجماعاً على حقيقة مجيء المسيح الثاني . لكن هناك كثيرون وقعوا في خطأ محاولة تحديد وقت هذا المجيء &#8230; على أن تحديد وقت معين لمجيء المسيح ليس صحيحاً لأكثر من سبب:</p>
<p>فكان أ  لأنه يتعارض مع نصوص الكتاب المقدس . قال السيد المسيح : « أما ذلك اليوم وتلك الساعة فلا يعلم بهما أحد ولا ملائكة السموات إلا أبي وحده &#8230; اسهروا إذاً لأنكم لا تعلمون في أية ساعة يأتي ربكم &#8230; لذلك كونوا أنتم أيضاً مستعدين لأنه في ساعة لا تظنون يأتي ابن الإنسان » (مت٢٤ : ٣٦-٤٤) . وحينما كان مجتمعاً مع تلاميذه قبيل صعوده مباشرة سألوه سؤالاً يتصل بهذا الموضوع فكان جوابه : « ليس لكم أن تعرفوا الأزمنة والأوقات التي جعلها الآب في سلطانه » (أع ١: ٧) &#8230; كما أن السيد المسيح يوضح أن هذا المجيء سيكون فجائياً ويشبهه بالبرق : « لأنه كما أن البرق يخرج من المشارق و يظهر إلى المغارب هكذا يكون أيضاً مجيء ابن الإنسان » (مت٢٤ : ٢٧) . والبرق سريع وفجائي . والأمر الفجائي لا يمكن الاعلان عنه مسبقاً وإلا انتفت الفجائية فيه . ومن هنا فإن تحديد موعد لمجيء المسيح الثاني أمر غير سليم لأن هذا مخالف للنصوص الكتابية .</p>
<p>ب  تحديد موعد لمجيء المسيح الثاني يتنافى مع قصد الله في اخفاء ذلك اليوم وتلك الساعة . أما قصد الله فهو أن يجعل جميع البشر في حالة استعداد دائم ، ويمكن تشبيه هذا الموقف بموقف المدرس الذي يحاول أن يحث تلاميذه على مداومة استذكار دروسهم عن طريق قوله لهم إنه سيمتحنهم في أي أوقت دون تحديد لتاريخ الامتحان . وهذا هو نفس قصد المسيح الذي قال  بعد أن تكلم عن علامات نهاية العالم وانقضاء هذا الدهر : « انظروا اسهروا وصلوا لأنكم لا تعلمون متى يكون الوقت » (مر۱۳:۳۳) &#8230; ولقصد مشابه أخفى عن الإنسان موعد وفاته حتى ما يكون دائماً مستعداً للقاء الرب &#8230; إذ لو عرف الإنسان وقت انتقاله من العالم ، وانه مايزال باقياً من عمره سنوات طويلة ، لكان ذلك دافعاً له على التهاون وتأجيل التوبة إلى آخر وقت وربما افلتت منه الفرصة &#8230;</p>
<p>ج  تحديد موعد لمجيء المسيح الثاني وزوال هذا العالم يتنافى مع حكمة الله في أن يمضى البشر في سبل حياتهم بنشاط جم ودون تقاعس &#8230; إن إحساس المسيحي بزوال العالم ومجيء الرب ، ربما يقوده إلى الكف عن كل أعماله انتظاراً لتلك الساعة . وما يترتب على ذلك من تراخي الناس ووقوف دولاب العمل في كل نواحي الحياة . ولقد وقع بعض المسيحيين في العصر الرسولى في هذا الخطأ ، مما دعا القديس بولس إلى التدخل ليصحح هذا المفهوم الخاطيء . فكتب إلى أهل تسالونيكي يقول : « نسألكم أيها الاخوة من جهة مجيء ربنا يسوع المسيح واجتماعنا إليه أن لا تتزعزعوا سريعاً عن ذهنكم ولا ترتاعوا لا بروح ولا بكلمة ولا برسالة كأنها منا . أي أن يوم المسيح قد حضر. لا يخدعنكم أحد على طريقة ما &#8230; أما تذكرون أني وأنا بعد عندكم كنت أقول لكم هذا » (تسالونيكي الثانية٢: ١- ٥). لقد تطرفت وتجرأت بعض الطوائف المسيحية المنحرفة وحددت موعداً لمجيء المسيح بالسنة واليوم والساعة ، وطبعاً مر ذلك الوقت دون مجيء المسيح .</p>
<p>وكان الأمر مخجلاً للغاية ، فقد ظهر كذبهم . مثل هذا التصرف خاطىء تماماً بل إن نتيجته تسيء إلى المسيحية إساءة بالغة فضلاً تترتب على هذه التنبؤات من تهاون المسيحيين وسخرية غير المسيحيين .</p>
<p><strong>العلامات التي تسبق المجئ الثاني</strong></p>
<p>في الوقت الذي أغفل الله لحكمة تحديد مجيئه الثاني، فقد أعطى العلامات التي تدل على قرب مجيئه &#8230; وقبل أن نخوض في الموضوع نود أن ننتبه إلى أن المواضع التي تناولت موضوع نهاية العالم ومجيء المسيح الثاني في الإنجيل المقدس هي إنجيل متى اصحاح ٢٤ ، وإنجيل مرقس اصحاح ١٣، وإنجيل لوقا اصحاح ۰۲۱</p>
<p>ونلاحظ أنه يوجد تداخل في الكلام عن نهاية العالم مع الكلام عن خراب أورشليم وهيكلها . وما ذلك إلا لأن خراب أورشليم وهيكلها وما يكتنفها من أهوال وضيقات  ما هو إلا صورة مصغرة لما سيحدث في نهاية العالم سابقاً لمجيء المسيح الثاني .</p>
<p><strong>فما هي العلامات التي تسبق مجيء المسيح الثاني؟</strong></p>
<p><strong>١-اضطهاد المؤمنين بالمسيح</strong></p>
<p>وهي أولى العلامات التي ذكرها السيد المسيح له المجد : « وقبل هذه كلها يلقون أيديهم عليكم و يطردونكم ، و يسلمونكم إلى مجامع وسجون ، وتساقون أمام ملوك وولاة لأجل اسمى » (لوقا۲۱ : ۱۲) &#8230; وتاريخ الكنيسة منذ نشأتها وظهورها على مسرح التاريخ ، شاهد عدل على صدق ذلك وكيف كان المسيحيون يقابلون بكراهية حتى من أقرب الناس إليهم ، مصداقاً لقول السيد المسيح له المجد : « وسوف تسلمون من الوالدين والاخوة والأقرباء والأصدقاء و يقتلون منكم » (لوقا۲۱ : ١٦) &#8230; ولكن ينبغي ألا نجزع ونرتاع من هذه العلامة . فإن كان المسيح قد سبق وأعطانا هذه العلامة إلا أنه أعطانا بجانبها وعوداً ثمينة جداً ، بأن يكون معنا كل الأيام حتى انقضاء الدهر (مت۲۸ : ۲۰) . وأن أبواب الجحيم لن تقوى على الكنيسة . و يصل الأمر بعنايته أن شعرة من رؤوسنا لا تهلك . لكننا في كل هذا نحتاج إلى الصبر (لوقا٢١ : ١٨-١٩)</p>
<p>لقد دفع أسلافنا وأجدادنا ثمناً غالياً لإيمانهم ، هو حياتهم . ونحن الآن لا ندفع مثل هذا الثمن !! والسبب في ذلك أن الله بمحبته الفائقة ، يعلم ضعف إيماننا الآن، ولذلك فهو لا يسمح أن نجرب بما يفوق احتمالنا . ومع ذلك يرتد البعض عن الإيمان وتضعف وتخور عزائمهم ، و يفرطون في إيمانهم بإرادتهم ، لأنهم لا يعرفون قيمة هذا الإيمان !! إنهم كالطفل الذي يفرط بكل سهولة في حلى ذهبية أو قلم ثمين ، مقابل قطعة من الحلوى . وما ذلك إلا لأنه لا يعرف قيمة ما معه ولا يستفيد منه ، ولا يعرف كيف يستعمله !! ولكن لأن أسلافنا كانوا يعرفون قيمة إيمانهم بالمسيح ، لذلك ثبتوا حتى النهاية ، وفضلوا أن يجودوا بأرواحهم عن أن يتخلوا عن إيمانهم الأقدس . لقد حسبوا عار المسيح غنى أفضل من كنوز العالم ، مثلما قيل عن موسى : « بالإيمان لما كبر أبى أن يدعى ابن ابنة فرعون مفضلاً بالأحرى أن يذل مع شعب الله على أن يكون له تمتع وقتي بالخطية . حاسباً عار المسيح غنى أعظم من خزائن مصر، لأنه كان ينظر إلى المجازاة » (عب١١ : ٢٤ – ٢٦)</p>
<p><strong>٢- ظهور الأنبياء والمسحاء الكذبة</strong></p>
<p>هذه هي العلامة الثانية للمجيء الثاني وقد أوضحها لنا السيد المسيح له المجد حينما قال : « لأنه سيقوم مسحاء كذبة وأنبياء كذبة ، و يعطون آيات وعجائب لكي يضلوا لو أمكن المختارين أيضاً » (مر١٣: ۳۲) &#8230; « فإن كثيرين سيأتون بأسمى قائلين إني أنا هو. ويضلون كثيرين » (مر١٣ : ٦). وقد تمت هذه النبوة فعلاً بصورة جزئية فقد ظهر مسحاء كذبة وأنبياء كذبة كثيرون منذ قيام المسيحية . بعضهم ورد ذكره في العهد الجديد، والبعض سجله التاريخ . من هؤلاء باريشوع الذي التقى به معلمنا بولس الرسول في مدينة بافوس في جزيرة قبرص. وإذ حاول أن يعرقل رسالة الرسول بولس في إيمان والى الجزيرة سرجيوس بولس ضربه الرب بالعمى (أع ١٣: ٦- ١٢). كما نقرأ أيضاً سيمون الساحر الذي أدهش شعب السامرة بسحره فتبعوه من كبيرهم إلى صغيرهم ، وقالوا عنه إنه قوة الله العظيمة . وقد التقى به الرسولان بطرس و يوحنا ، في السامرة . ولما عاين المعجزات التي كانت تجرى على أيديهما ، طلب منهما أن يعطياه نعمة الكهنوت لكن بطرس قال له : « ليس لك نصيب ولا قرعة في هذا الأمر، لأن قلبك ليس مستقيماً أمام الله . فتب من شرك هذا وأطلب إلى الله أن يغفر لك فكر قلبك . لأنى أراك في مرارة المر ورباط الظلم » (أع ٨ : ۹- ٢٣). وهناك إشارات إلى أنبياء ومسحاء كذبة كثيرين قد أشار إليهم غمالائيل عضو مجلس السنهدريم  وهو مجلس اليهود الأعلى  كما جاء في (أع ٥ : ٣٦ -٣٧). أما يوسيفوس المؤرخ اليهودي الكبير الذي عاش في القرن الأول المسيحي والذي عاصر خراب أورشليم وكان حاكماً لمقاطعة الجليل الأعلى، واختير ليكون مترجماً ووسيطاً بين اليهود وبين القوات الرومانية التي حاصرت أورشليم &#8230; يوسيفوس هذا ، ألف عدة كتب مازالت موجودة بين أيدينا حتى اليوم ، أشار فيها إلى ظهور أنبياء كذبة ومسحاء كذبة &#8230; وغير الذين ذكرهم يوسيفوس ، هناك كثيرون ظهروا على مر العصور . على انه ليس ما يمنع أن يظهر في المستقبل فريق من هؤلاء الأدعياء الكذبة</p>
<p><strong>٣- الحروب والاضطرابات والثورات والقلاقل</strong></p>
<p>وهذه هي العلامة الثالثة . فقد أنبأ السيد المسيح تلاميذه أن المنتهى لن يأتى قبل أن تجتاح العالم سلسلة من الحروب والثورات والقلاقل « فإذا سمعتم بحروب وبأخبار حروب فلا ترتاعوا . لأنها لابد أن  تكون . ولكن ليس المنتهى بعد . لأنه تقوم أمة على أمة ومملكة على مملكة » (مر١٣ : ۷-۸)&#8230; « فإذا سمعتم بحروب وقلاقل فلا تجزعوا لأنه لابد أن يكون هذا أولاً . ولكن لا يكون المنتهى سريعاً . ثم قال لهم تقوم أمة على أمة ومملكة على مملكة » (لو۲۱ : ۹ -۱۰) &#8230; وكل هذه نعايشها في عالمنا كل يوم فمنذ إنتهاء الحرب العالمية الثانية سنة ١٩٤٥ وحتى اليوم، واجه العالم العديد من الحروب والثورات والانقلابات في أماكن شتى من العالم . وهكذا يتم كلام المسيح حرفياً .</p>
<p>ولما كان خراب أورشليم  كما قلنا  هو صورة مصغرة من نهاية العالم ، فقد سجل التاريخ لنا صورة مروعة للحصار الرهيب الذي ضربه الجيش الروماني على أورشليم . وقد وصف هذا الحصار بتفاصيله المؤرخ يوسيفوس اليهودي الذي عاصر هذا الخراب . فقال إنه هلك من اليهود حوالى المليون ومائة ألف ، منهم أحد عشر ألف هلكوا جوعاً ، وأسر منهم سبعة وتسعون ألفاً. وسطر عبارات تقطر دما مثل قوله إن جميع مآسى وتعاسات الناس إذا جمعت من بدء العالم كله لما كانت مريعة مثل التي أصابت أورشليم يوم خرابها ..!! ولكن الحروب لم تنته بخراب أورشليم . بل ظلت تشتعل من حين إلى آخر حتى اليوم .</p>
<p>وبعد أن كانت الحروب أقليمية، شهد العالم ما عرف باسم الحروب العالمية ، التي شهد منها حربين حتى الآن. والعالم اليوم في خوف وهلع مستمرين من إندلاع الحرب الذرية، التي لا تبقى ولا تذر&#8230;  وهكذا يتم كلام المسيح له المجد حرفياً …</p>
<p><strong>٤- ثورات الطبيعة</strong></p>
<p>يقول السيد المسيح له المجد في (لو۲۱: ۱۱) «تكون زلازل عظيمة في أماكن ومجاعات وأوبئة» . وفى (مر١٣: ٨) يقول : « وتكون زلازل في أماكن وتكون مجاعات واضطرابات » . « وتكون مجاعات وأوبئة وزلازل في أماكن» (مت٢٤: ٧). وأظن أننا جميعاً نسمع كل يوم أخبار الكوارث وثورات الطبيعة من فيضانات كاسحة إلى أعاصير مدمرة إلى زلازل رهيبة .</p>
<p>وكل هذه الكوارث تهلك عشرات الألوف في وقت قصير وربما في ثوانی قليلة ، كما يحدث في الزلازل . أما عن المجاعات التي اجتاحت العالم فقد تسببت في موت الملايين من البشر والبهائم . ولعل أحدث مثل ما حدث في أثيوبيا . ولايزال شبح الجوع يخيم على العالم و يهدد البشرية بمجاعات مخيفة. كما نقرأ كثيراً عن أخطار الفيضانات المروعة في الهند وفى الصين وغيرها . وهذا كله يذكرنا بما قاله السيد المسيح في هذا الشأن .</p>
<p><strong>٥- الارتداد الديني</strong></p>
<p>هذه العلامة ذكرها السيد المسيح وهو يتكلم عن الضيقات التي تصحب نهاية العالم : « وحينئذ يعثر كثيرون » (مت٢٤: ١٠) و يفسر لنا هذا الكلام القديس بولس الرسول في كلمات صريحة واضحة : «لأنه لا يأتي المسيح إن لم يأت الارتداد أولاً »</p>
<p>(تسالونيكي الثانية٢: ٤). فقبل مجيء المسيح الثاني يحدث ارتداد. فما هو المقصود بالارتداد ؟ &#8230;</p>
<p>الارتداد نوعان: النوع الأول هو الارتداد الديني بأكمله. أي أن يترك الإنسان المسيحية و يتحول إلى ديانة أخرى، وذلك تحت ضغوط الاضطهادات أو المضايقات أو الاغراءات العالمية أو إغراءات الخطية.</p>
<p>أو اعتناق بعض المذاهب الفكرية المعاصرة كالشيوعية أو الوجودية . والنوع الثاني من الارتداد يكون بمعنى ترك الحياة الروحية مع الله كلية بحيث لا يحمل المسيحى من المسيحية إلا اسمها فقط &#8230; وللأسف نحن نجد لهذين النوعين من الارتداد ملايين الضحايا في عصرنا الحاضر. فالشيوعية مثلاً تحارب الدين وتدعو إلى الإلحاد وهو ارتداد ديني خطير&#8230; وقد قوضت الشيوعية دعائم المسيحية في روسيا بعد أن كانت من أكبر الدول المسيحية الأرثوذكسية في العالم. فتحولت كنائسها إلى مجرد متاحف، وتحول معظم الشعب الروسي إلى ملحدين . وكثير من شباب الغرب اليوم لا دينيين</p>
<p>أما عن المرتدين عن الحياة الروحية، فما أكثرهم إن هؤلاء ينتسبون إلى المسيحية بالاسم فقط !! هؤلاء لا يعرفون شيئاً عن المسيحية  وهم الذين عناهم المسيح له المجد بقوله ، في حديثه عن نهاية العالم « ولكثرة الإثم تبرد محبة الكثيرين » (متى ٢٤ : ١٥)</p>
<p><strong>٦- وصول رسالة الإنجيل إلى العالم أجمع</strong></p>
<p>هذه هی العلامة السادسة لمجيء المسيح الثاني، يقول السيد المسيح له المجد : « ويكرز ببشارة الملكوت هذه في كل المسكونة شهادة لجميع الأمم، ثم يأتي المنتهى » (مت٢٤: ١٤). فما معنى هذا الكلام؟ في تفسير هذه الآية ينقسم علماء اللاهوت وعلماء الكتاب المقدس إلى فريقين . فريق يفهم كلام المسيح هذا على أن الإنجيل سينتشر في كل العالم وسيتحقق بذلك عصر ذهبي للمبادىء المسيحية في العالم، وتصبح الأرض كلها للرب ولمسيحه. بينما يرى فريق آخر أن هذا الانتشار سيكون انتشاراً ظاهرياً للدينونة  في حالة عدم قبول رسالة الإنجيل ، بدليل قول المسيح : « ومتى . جاء ابن الإنسان ألعله يجد الإيمان على الأرض» (لو١٨ : ٨) . وأنا شخصياً أميل للأخذ بالرأي الثاني .</p>
<p><strong>٧-علامات تظهر في الشمس والكواكب </strong></p>
<p>وهذه هي العلامة الأخيرة التي ذكرها رب المجد سابقة لمجيئه الثاني. فيقول له المجد : « وتكون علامات في الشمس والقمر والنجوم وعلى الأرض كرب أمم بحيرة . البحر والأمواج تضج ، والناس يغشى عليهم من خوف وانتظار ما يأتي على المسكونة ، لأن قوات السموات تتزعزع » » (لو٢١: ٢٥-٢٦). وها نحن نسمع عن هذه العلامات الآن . فالبقع الشمسية تنتشر على سطح الشمس والأقمار الصناعية وسفن الفضاء أخذت ترتاد الفضاء ، وقد هبط العديد من البشر على القمر وامتد نشاط الإنسان إلى كشف كواكب المجموعة الشمسية ، فوصلت المشترى وهكذا نجد أن كلام المسيح  لا أقول إنه يتم  ولكن حرفاً واحداً منه لم يسقط حتى الآن مصداقاً لوعده الإلهي « السماء والأرض تزولان ولكن كلامي لا يزول »    (مت٢٤ : ٣٥).</p>
<p><strong>الاستعداد لمجيء المسيح الثاني:</strong></p>
<p>بعد أن تأكدنا تماماً أن مجيء المسيح الثاني أمر لا جدال فيه ، وأنه حقيقة مؤكدة سوف تتحقق، أردنا أم لم نرد، قبلنا أم لم نقبل ، استعددنا له أم لم نستعد ، فدعونا نفكر ونتأمل سوياً في وضعنا إزاء هذا الحدث العظيم الخطير!! كيف نستعد لهذا المجيء ؟</p>
<p>وتأتينا الإجابة على هذا السؤال من فم المسيح له المجد نفسه . فبعد أن حذرنا وأبان لنا بوضوح علامات نهاية العالم ومجيئه الثاني قال : « انظروا ، اسهروا وصلوا لأنكم لا تعلمون متى يكون الوقت » (مر۱۳: ۳۳). ومن كلام السيد المسيح تبرز لنا حقيقتان نحن مطالبون بهما ، هما السهر والصلاة. ونجد الإشارة إليهما في كلام المسيح له المجد في (لو١٢: ٤٠)، وهو الإنجيل الذي يتلى في الخدمة الثالثة من صلاة نصف الليل. يقول : « وأنتم أيضاً تشبهون أناساً ينتظرون سيدهم متى يرجع من العرس . حتى إذا جاء وقرع يفتحون له للوقت. طوبى لأولئك العبيد الذين إذا جاء سيدهم يجدهم ساهرين . الحق أقول لكم إنه يتمنطق ويتكئهم ويتقدم ويخدمهم . وإذا جاء في الهزيع الثاني أو جاء في الهزيع الثالث .. ووجدهم يصنعون هكذا فطوبى لأولئك العبيد » .</p>
<p>فمن يريد الاستعداد لمجيء المسيح الثاني عليه بالسهر والصلاة والسهر نوعان : سهر الجسد وسهر النفس . سهر الجسد معروف ، أما سهر النفس فالمقصود به اليقظة الروحية . فيجب على الإنسان أن يسهر على خلاص نفسه ، ولا يغفل عن هذا الهدف لحظة واحدة . وقد حذرنا السيد المسيح له المجد في مثل الزوان والحنطة من النوم . فقد زرع عدو زواناً وسط الحنطة فيما كان الناس نياماً (مت۱۳: ٢٤- ۲۸) فحينما ينام الإنسان عن خلاص نفسه يأتي العدو و يزرع في فكره وفي قلبه ما يشاء له أن يزرع من زراعات فاسدة ومفسدة &#8230;</p>
<p>هناك قصة رائعة لشهيدين - زوج وعروسه الصغيرة  احتفظا بالسهر وهما يعانقان الموت  كان الزوج هو الشماس تيموثاوس في إحدى قرى صعيد مصر وعروسه الصغيرة مورا التي كانت قد بلغت السادسة عشر من عمرها . وبعد أن تزوجا بأيام قليلة أمر الوالى اريانوس بالقبض على هذا الشماس الذي كان يحتفظ بكتب الكنيسة المقدسة أخذ الوالي يعذب هذا الشماس لكى يسلمه كتب الكنيسة ليحرقها بناء على الأمر الصادر من الطاغية دقلديانوس سنة ٣٠٣م، ولكنه أبي ورفض فأخبره بعض أفراد حاشيته ، أن هذا الشماس قد تزوج فتاة صغيرة منذ أيام قليلة . ولا شك أنه سيرضخ للوالي إذا أحضر الزوجة لتغريه فتضعف صلابته ويخضع . فأحضر الوالى الزوجة مورا وأمرها أن تلبس أجمل ثيابها وتتعطر وتتزين حتى تحاول أن تستميل قلب زوجها فيرجع عن عناده ولما جاءت مورا أخذ الزوج يحذرها من الانصياع لحيل الوالى ، وأن التألم في سبيل المسيح هو هدف كل مسيحى. وما كادت مورا تسمع هذا الكلام حتى تفتح قلبها واشتهت أن تتألم على اسم المسيح . فأعلنت إيمانها منضمة إلى زوجها ، وتحملت معه صنوف العذاب دون أن تضعف. وأخيراً حكم الوالى عليهما بالموت صلباً ففرحا جداً. وبينما هما في طريقهما إلى الصلب اتفقا مع بعضهما على ألا يناما على الصليب لئلا يأتى المسيح ويجدهما نياماً !! تصوروا يا أخبائي مقدار يقظة المسيحيين الأوائل !! حتى وهم يعانقون الموت ، راعوا السهر !!</p>
<p>لقد عاش المؤمنون المسيحيون في أجيال المسيحية الأولى في سهر مستمر توقعاً لمجيء الرب . وكانت التحية الرائعة التي يحيون بها بعضهم بعضاً هي « ماران أنا » (كورنثوس الأولى١٦ : ٢٢). وهي عبارة آرامية ومعناها «تعال أيها الرب » . وتتطابق هذه العبارة مع ما قاله يوحنا في ختام سفر الرؤيا الذي هو ختام الكتاب المقدس كله: « تعال أيها الرب يسوع » (رؤيا ۲۲ :۲۰)<a href="#_ftn6" name="_ftnref6">[6]</a>.</p>
<h4>المتنيح الأنبا بيمن أسقف ملوي وأنصنا والأشمونين</h4>
<p><strong>الديان العادل</strong></p>
<p>&#8221; وجلس عن يمين أبيه وأيضا يأتي في مجده لیدین الأحياء والأموات&#8221; إن مجئ المسيح للدينونة عقيدة هامة من عقائد الكنيسة الواحدة المقدسة الجامعة الرسولية وقد سجل في قانونها الإيماني هذه العبادة &#8221; وأيضا يأتي في مجده لیدین الأحياء والأموات.</p>
<p>وفي الليتورجيات سواء التي إستعملت في القرون الأولى أو التي وصلت إلينا بعد المجامع المسكونية نجد صلوات تؤكد حقيقة المجيء الثاني المخوف المملوء مجدا.</p>
<p>ففي تسابيح الكنيسة الأولى نقرأ&#8221; أفرحوا بالرجاء المجيد، سيأتي يسوع الديان ، ويأخذ خدامه عاليا إلى منزلهم الأبدي . وسنسمع فی الحال صوت رئيس الملائكة وسيبوق بوق الله قائلا أفرحوا &#8220;.</p>
<p>وفي القداس الباسيلي المستعمل في الكنيسة الشرقية يقول الكاهن &#8221; وقام من الأموات وصعد إلى السموات وجلس عن يمينك أيها الآب ورسم يوما للمجازاة هذا الذي يظهر فيه ليدين المسكونة بعدل ويعطي كل واحد كنحو أعماله &#8221;</p>
<p>ويقول الكاهن أيضا ساعة حلول الروح القدس على القرابين : &#8220;ففيما نحن أيضا نصنع ذكرى آلام المقدسة وقيامته من الأموات وصعوده إلى السموات وجلوسه عن يمينك أيها الآب وظهوره الثاني الآتي من السموات المخوف المملوء مجدا نقرب لك قرابينك من الذي لك على كل حال ومن أجل كل حال وفي كل حال.</p>
<p>وفي قداس القديس أغريغوريوس يقول الكاهن &#8221; أظهرت لي إعلان مجيئك الذي تأتي فيه لتدين الأحياء والأموات وتعطي كل واحد كأعماله &#8220;.</p>
<p>وكان الرسل يشهدون للرب في كرازتهم أنه هو المعين من الآب ديانا للأحياء والأموات وبولس الرسول يقول لتلميذه تيموثاوس &#8221; أنا أناشدك أمام الله والرب يسوع المسيح العتيد أن يدين الأحياء والأموات عند ظهوره وملكوته &#8221; (۲تی ٤: ١).</p>
<p>وفي موضع آخر يقول &#8221; أخيرا وضع لى إكليل البر الذي يهبه لی فی ذلك اليوم الرب الديان العادل وليس لي فقط، بل لجميع الذين يحبون ظهوره أيضا &#8221; (۲تي ٤: ٨).</p>
<p>كما يقول رسول الأمم في الرسالة الثانية لأهل كورنثوس &#8221; لأنه لابد أننا جميعا نظهر أمام كرسي المسيح لينال كل واحد ما كان بالجسد بحسب ما صنع خيرا كان أم شرا&#8221; (۲کو ه: ۱۰).</p>
<p>ومعلمنا بطرس الرسول يعزى المؤمنين الذين في الشتات بقوله &#8221; إن الذين يضطهدونكم سوف يعطون حسابا للذي هو علي إستعداد أن يدين الأحياء والأموات &#8221; (ابط ٤: ه)</p>
<p>بينما يعقوب الرسول يزيدهم تعزية بقوله &#8220;هوذا الديان واقف قدام الباب (يع ٥: ۹).</p>
<p><strong>منذ القديم</strong></p>
<p>ومنذ القديم وإسرائيل يعرف جيدا أن الله ديان عادل. فقد طلب جدعون من الله أن يقضي بينه وبين العمونيين &#8221; فأنا لم أخطئ إليك ، وأما أنت فأنك تفعل بی شرا بمحاربتی ، ليقضى الرب القاضي اليوم بين بني إسرائيل وبنی عمون (قض۱۱: ۲۷).</p>
<p>وحين خاصمت سارة إبراهيم وهاجر قالت &#8221; يقضى الرب بيني وبينك (تك ١٦: ٥). وقال داود لشاول &#8221; يقضى الرب بيني وبينك وينتقم لي الرب منك ولكن يدي لا تكون عليك &#8221; (1صم ٢٤: ۱۲).</p>
<p><strong>أمثال السيد المسيح عن الدينونة</strong></p>
<p>لقد جاء المسيح يسوع إلى البشرية فاديا ومخلصا، رقيقا وحنونا ، مشجعا غافرا ، داعيا الجميع إلى التوبة والخلاص . ولكنه نبه البشرية إلى أنه في مجيئه الثاني سيأتي قاضيا ديانا عادلا.</p>
<p>وقد أورد الرب في تعاليمة أمثالا تتحدث عن الدينونة المزمع حدوثها عند مجيئه المخوف الآتي :</p>
<p>مثل الحنطة والزوان (مت۱۳: ٢٤ - ۳۰) &#8221; إنسان عدو زرع زوانا طلب العبيد من رب البيت أن يقلعوه، رفض قائلا في وقت الحصاد أقول للحصادين إجمعوا أولا الزوان إحزموه حزما ليحرق وأما الحنطة إجمعوها إلى مخزني &#8220;.</p>
<p>ومثل الغني الغبي الذي أضاع حياته في جمع الأموال والرغبة في توسيع المخازن وفي لحظة أخذت روحه وقيل له أيها الغبي هذه التي أعددتها لمن تكون (لو۱۳:۱۲-٢١)</p>
<p>مثل الشبكة المطروحة في البحر. وهذه التي امتلأت فجمعوا الجياد فی أوعية وأما الأردياء فطرحوها خارجا. هكذا يكون في انقضاء العالم يخرج الملائكة ويفرزون الأشرار من بين الأبرار ويطرحونهم في أتون النار هناك يكون البكاء وصرير الأسنان (مت۱۳: ٤٧ - ٥٠).</p>
<p>وفي مثل العذاري الحكيمات والجاهلات (مت ٢٥: ۱- ۱۳) لما جاء العريس المستعدات دخلن معه إلى العرس وأغلق الباب وأخيرا جاءت بقية العذارى أيضا قائلات يا سيد يا سيد أفتح لنا فأجاب الحق أقول لكم أني ما أعرفكن ويقول معلمنا متى أيضا ومتى جاء أبن الإنسان في مجده وجميع الملائكة القديسين معه فحينئذ يجلس على كرسي مجده ويجمع أمامه جميع الشعوب فيميز بعضهم عن بعض كما يميز الراعي الخراف عن الجداء . ويقول للذين عن يمينه &#8220;تعالوا يا مبارکی أبی رثوا الملكوت المعد لكم منذ تأسيس العالم &#8221; ويقول للذين عن اليسار &#8221; أذهبوا عني يا ملاعين إلى النار الأبدية المعدة لإبليس وملائكته &#8221; .</p>
<p>راجع (لو١٤: ١٥ – ٢٤) (لو ۱١:۱٩ – ۲۸) (لو ۱۷: ۲۰ - ۲۷) .</p>
<p><strong>الدينونة آنية ومستقبلية معا</strong></p>
<p>عندما تحدث الرب عن الدينونة أعطاها بعديها المميزين في المسيحية البعد الزمني ، والبعد الإسكاتولوجى ( الآخروی ) .</p>
<p>لقد أوضح أنه الآن ساعة الإنتفاضة من موت الخطية وعبودية الجسد والآن إلى حرية مجد أولاد الله إذ يقول &#8221; تأتي ساعة وهي الآن حين يسمع الأموات صوت أبن الله والسامعون يحيون &#8221; (يو ٥: ٢٥).</p>
<p>فالمسيح بتجسده المبارك أدان البشرية الساقطة واللاهية وكسر شوكة الخطية وحطم قوة العدو . لقد أدان كبرياء الإنسان بإتضاعه ، وأدان الحقد والكراهية والبغضاء بالحب الباذل حتى الصليب</p>
<p>ويقول القديس أغسطينوس في شرحه لكلمة الله الحية ذات الحدين . إن لها حد التشجيع للتوبة والخلاص ، ولها حد الإدانة إذ تحتفظ الكلمة بفاعليتها حتی المجيء الثاني لكي يستد كل فم وفي هذا يقول الرب &#8220;الكلام الذي أكلمكم به هو الذي يدينكم&#8221; .</p>
<p>وفي اليوم العظيم في ملئ الأزمنة عند انقضاء الدهر سيأتي الرب علی السحاب متوشحا بجسده ومحتفظا بآثار جراح الجلجثة. هذه ستكون نبعا للحب والفرح الذي لا ينضب لجماعة المفديين إذ سيدخلون معه الى عرش عشاء الخروف</p>
<p>وأما الهالكون واللاهون والمجدفون واللذين إحتقروا صليب الرب فسوف يقولون للجبال أسقطی علينا وللأكام غطينا من وجه الجالس على العرش. هذه هي الدينونة الرهيبة. لقد وعد أنه آت سريعا ومن له أذنان للسمع فليسمع<a href="#_ftn7" name="_ftnref7">[7]</a>.</p>
<h4>المتنيح القمص لوقا سيداروس</h4>
<p><strong>الأحد الرابع من شهر مسرى</strong></p>
<p><strong>(مر١٣ : ٣ – ٣٧) كنيستنا المقدسة</strong></p>
<p>+ الكنيسة المقدسة أعضاء جسد المسيح لا سلطان للزمن عليها . بل هي فوق هذا الزمان الحاضر، لأنها بإتحادها بالمسيح له المجد إتحدت بالأبدية . من أجل ذلك تعلمنا الكنيسة أن نحول هذا الزمن الحاضر بكل حوادثه إلى مدلولات أبدية . لأن سيرتنا نحن في السماويات ، كما يقول الرسول : &#8221; فكلما جئنا إلى نهاية العام ، تحول الكنيسة فكرنا إلى إنقضاء الدهر ، ومجئ ربنا يسوع ، ودخولنا إلى المجد الأبدى .</p>
<p>+ والكنيسة بهذا لا تكف عن تحويل وقتنا الزمنى . فبداية النهار صار بقيامة المسيح موعد أبدى . والساعة الثالثة ( ٩ صباحاً ) بحلول الروح القدس في مثل هذا الوقت صارت ساعة أبدية ، لا تنطوى مثل باقى الزمن ، ولا تدور الساعة لتأتى عليها . والساعة السادسة ( ١٢ ظهراً ) دخلت إلى الزمن الأبدى عندما علق الرب على الصليب . وباختصار فإن الحياة في الكنيسة يخرجنا من دائرة الفناء مع الزمن ، ويدخلنا إلى الحياة لا تزول ولا تتغير ولا تضمحل ، هي حياة المسيح فينا ، الذى هو أمس واليوم وإلى الأبد . وليس عنده تغير ولا شبه دوران .</p>
<p><strong>قل لنا متى يكون هذا ؟ وما هي علامة مجيئك ؟</strong></p>
<p>هكذا سأل الرسل الأطهار في معرض الحديث وكان ما يشغل بالهم هو متى ؟ وما هي العلامات لمجئ الرب ؟</p>
<p>+ هنا السيد المسيح يصحح مسار التلاميذ ويحول فكرهم من الزمنيات إلى الأبديات . ويبنيهم إلى الأمور الخطيرة التي يجب أن تشغل ذهنهم &#8230; أنظروا إلى نفوسكم اسهروا &#8230; أثبتوا في الإيمان لأنه سيخرج مضلون كثيرون ، وأنبياء كذبة ومعلمون كذابون باسم المسيح . ويضلون كثيرين ، ولو أمكن المختارون أيضاً ، وستبرر محبة الكثيرين . وإبن الإنسان متى جاء ألعله يجد الإيمان على الأرض .</p>
<p>+ هذا ما يجب أن ننتبه إليه بكل ذهننا الروحى ، لنحظى بالحياة الأبدية ونصيب الأبرار والحق &#8230; يقال أن كنيستنا المقدسة بأبائها ونساكها وقديسيها عاشت ملتزمة بهذا الفكر الإنجيلى فلم ننشغل قط على مر تاريخها كله بحساب الأزمنة والأوقات التي جعلها الآب في سلطانه . ولم نهتم مطلقاً بمراقبة علامات وهروب ومجاعات وأوبئة&#8230; لم نوتبك بهذه الأمور لأنها منشغلة بالأكثر بتزيين نفسها لملاقاة العريس ، فهى تسهر لتمتلئ أنيناً بالروح فتستحق أن تدخل إلى الخدر السماوى .</p>
<p>+ في الوقت الذى إنشغل فيه كثيرون بحساب الأزمنة والأوقات ووقفوا في ضلالات كثيرة وتاهوا عن الحق ، إذ لم يحفظوا وصية ربنا وكلامه الذى لا يزول .</p>
<p><strong>تحذير من الضلالات</strong></p>
<p>منذ الأيام الأولى قال القديس يوحنا الإنجيلى : &#8221; خرج إلى العالم مضلون كثيرون &#8221; . من هو المضل إلا الذى لا يعثر بيسوع المسيح آتياً في الجسد .</p>
<p><strong>هدف الضلالات</strong></p>
<p>إذن هو إنكار المسيح إبن الله الكلمة وعدم الإعتراف به الإعتراف الحسن</p>
<p>+ ما أكثر البدع والهرطقات ما مضى منها . وما هو حاضر وما يستجد . والضمان الوحيد هو الكنيسة التي هي عمود الحق وقاعدته التي حفظت الإيمان بدم شهدائها وعرق نساكها وسهر قديسيها . وسلمت إلينا الإيمان كلبن عقلى عديم الغش . أمين<a href="#_ftn8" name="_ftnref8">[8]</a> .</p>
<h4>المتنيح القمص تادرس البراموسي</h4>
<p><strong>الأحد الرابع من شهر مسرى المبارك</strong></p>
<p><strong>انظروا . أسهروا . صلوا (مر١٣:٣ – ٣١)</strong></p>
<p>أراد التلاميذ أن يعرفوا متى سينقض الهيكل فأعطاهم الرب يسوع صورة نبوية لذلك الوقت مع بعض الاحداث التي تسبقه. وتكلم أيضاً عن أحداث مستقبلية أخرى ستكون علامة على مجيئه الثانى . لقد تكلم الرب يسوع له المجد عن الأحداث القريبة والبعيدة ولم يعينها في ترتيبها الزمنى وقد عاش بعض التلاميذ حتى رأوا لما نقض الهيكل في سنة ٧٠ سبعين ميلادية وقد أكدت لهم هذه الحادثة أن كل ما قاله الرب يسوع هو حقيقة ولابد له أن يتم لقد حزرهم الرب من المستقبل ليستطيعوا أن يعيشوا في الحاضر الكثير من النبوات التي ذكرها الرب يسوع لم يتم بعد حتى الأن وهو لم يذكرها لكى نعرف زمن حدوثها بل ليساعدنا أن نظل على الدوام مستعدين ويقظين روحياً في جميع الأوقات وفى أنتظار مجيئه طلب التلاميذ من الرب يسوع قائلين ما هي نهاية الزمان وعلامة مجيئك لقد كان هناك أناس في كل جيل منذ قيامة السيد المسيح يدعون أنهم يعرفون بالتدقيق حتى مجئ الرب يسوع. لكن لم يصدق قصتهم أحد حتى الآن . لأن الرب يسوع سيأتى حسب توقيت الآب وليس توقيت الناس . وقد قال الرب يسوع بعلمه السابق أن كثير من المؤمنين سيضلون قبل مجئ الرب يسوع ومن المعلمين الكتبة الذين يدعون أن لديهم إعلانات من الله في الكتاب المقدس العلامة الوحيدة بمجئ السيد المسيح أن العالم كله سيراه أتياً على سحاب المجد (مر ١٣ – ٢٦) . ولا داعى للحيرة عما إذا كانت هذه الأزمنة الأخيرة لأنه عندما يأتي الرب يسوع سنعرفه بدون شك فأحزر يا أخى من الجماعات التي تدعى المعرفة والنبوة الخاصة بالمجئ التانى لأنه لا أحد يعلم متى سيأتى الوقت ولا الساعة</p>
<p>لما بدأت الكنيسة الأولى في النمو عانا المؤمنين من الاضطهاد الذى حدثهم عنه الرب يسوع ومنذ ذلك الوقت ظل المسيحيين يعانون من الاضطهاد وحتى الآن يواجهون في كل مكان صعاباً وأضطهادات كثيرة . لكى يشهدوا للرب يسوع كما قال لتلاميذه ستكونون لى شهود في أورشليم والسامرة وكل أقاصى الأرض. الأيمان بالرب يسوع يلزم المثابرة لأن إيماننا سيعرض للتحدى والمقاومة . وهذه الأمور ستغربل المؤمنين وتظهر الجيد من الردئ .</p>
<p>هل ممكن أن ينخدع المسيحى . نعم فتكون حجج وبراهين يفعلها المخادعين في نهاية الزمان . من القوة لدرجة يصعب معها المقاومة لكن أن كنا مستعدين كما قال السيد المسيح نستطيع أن نظل أمناء إلى النفس الأخير . عندما قال الرب يسوع أنه هو نفسه لا يعرف وقت المجئ الثانى كان يؤكد لتلاميذه طبيعة البشرية. فلا شك أنه أبن الله وهو والآب واحد ولم يكن من الحكمة أن يعلن الرب يسوع عن مواعيد المجئ الثانى . حتى للتلاميذ أنفسهم . لأنه يحدث بذلك التراخى والكسل إلى أن يقترب المجئ فيعلن اللقاء بدون استعداد ونأخذ مما لا نتعب ولا نستحقه . فما أراده الرب هو أن المطلوب هو الاستعداد وليس الحساب</p>
<p><strong>العظة الأولى</strong></p>
<p>أ – خلوة وانفراد وسؤال مغلوط</p>
<p>ب – نصيحة وتحذير وبعد عن التقدير</p>
<p>ج – علامات المجئ وساعة اللقاء</p>
<p>د – تحصين النفوس ولقاء العروس</p>
<p>ه - أعطاء الروح وتضميد الجروح</p>
<p>و – فقدان المحبة وتمرد الأحباء</p>
<p>ذ – بداية الضيقات وأظهار العلامات</p>
<p>ح – حنان الرب ونقاوة القلب</p>
<p>ط – الاحتراس من الشائعات لننجو إلى الممات</p>
<p>ى – مسحاء كذبة وعلامتهم مميزة</p>
<p>ك – صنع الآيات وأغراء النيات</p>
<p>ل – مجئ المصلوب ومحو الذنوب</p>
<p>م – سنلاقيه على السحاب ويهلك الذئاب</p>
<p>ن – ملائكة للحصاد وفرذ العباد</p>
<p>س – شجرة التين وقرب الأنين</p>
<p>ع – عدم المعرف والعلاقات المخيفة</p>
<p>ف – سهر على الدوام والانتظار إلى التمام</p>
<p><strong>العظة الثانية</strong></p>
<p>أ – المجئ التانى يهلك الجانى</p>
<p>ب – الاحتراس من المغررين والهروب من الأنين</p>
<p>ج – النبوة عن الحروب وسيتم المكتوب</p>
<p>د – أظهار ما سنراه وحتماً سنلقاه</p>
<p>ه - برودة المحبة والأنقسامات العائلية</p>
<p>و – الهروب من الشرور لنلاقيه بالسرور</p>
<p>ذ – الصبر في الضيقات وننسى ما فات</p>
<p>ح – حنان الرب والرجوع من القلب</p>
<p>ط – تحفظ اللسان لتعيش في أمان</p>
<p>ى – أنبياء كذبة ومضللين ومختارين</p>
<p>ك – العلامة الأخيرة وطوق النجاة</p>
<p>ل – رؤية المسيح مكفوله لنستريح</p>
<p>م – إرسال الملائكة لأن القضية شائكة</p>
<p>ن – شجرة التين وقوة اليقين</p>
<p>س – صدق الكلام وننسى الأنتقام</p>
<p>ع – هذا اليوم مخفى ولقاء المسيح المعزى</p>
<p><strong>العظة الثالثة</strong></p>
<p>أ – يسوع وتلاميذه والخلوة</p>
<p>ب – أسأله ومعرفة واستفادة</p>
<p>ج – تعليم وأنزار وعطية</p>
<p>د – علامات ومجاعات وحروب وزلازل</p>
<p>ه - ضيقات وكوارث واحتمال وتضحية</p>
<p>و – فقدان الانتماء الأسرى وتربع الشر</p>
<p>ذ – انتشار البغضه وتسلط الانتقام</p>
<p>ح – أهمية الصلاة لكى ننجو من الهلاك</p>
<p>ط – حنان وأبوة ورفع المعاناة</p>
<p>ى – عمل المعجزات وانتشار الويلات</p>
<p>ك – قرب المجئ وازدياد الجفاء</p>
<p>ل – إرسالية وملائكة وفصل القوات</p>
<p>م – شجرة وثمرة وعلامة</p>
<p>ن – كلام مصدق وإعلان محقق</p>
<p>س – انتظار وسهر ولقاء</p>
<p>ع – كذبة أنه سيملك ألف سنة على الأرض<a href="#_ftn9" name="_ftnref9">[9]</a></p>
<h3>من وحي قراءات اليوم</h3>
<p><strong>إسهروا</strong></p>
<p>السهر قلبي أكثر منه جسدي</p>
<p>التوبة اليومية أهم علامة للسهر</p>
<p>الإفراط في أي شئ حتي الروحيات هو طريق الغفلة</p>
<p>وضع الحدود يحمي سهرنا</p>
<p>السهر لايعني ترقب مجيئه بل الإستعداد له</p>
<p>السؤال الدائم لأنفسنا عن هدف ما نقوم به يصون سهرنا</p>
<p>الحزم الشديد مع النفس تجاه أمور تبدو بسيطة وضد ثعالب صغيرة يحفظ نقاوة سهرنا</p>
<p>المشغولية الدائمة حتي في الخدمة دون وقفة مع النفس إحدي أهداف عدو الخير</p>
<p>مراجعة أنفسنا بعد نقد الآخرين يصون سهرنا</p>
<p>مدي إهتمام كل كنيسة بالصلاة وكلمة الله والتسبيح وحفظ نقاوة المحبّة يعلن عن مدي سهرها</p>
<h3>المراجع:</h3>
<p><a href="#_ftnref1" name="_ftn1"></a>١- العلامة أوريجانوس - عظات علي سفر العدد صفحة ١٠٥ - ١٠٧</p>
<p>ترجمة المتنيح القس برسوم عوض - مراجعة دكتور نصحي عبد الشهيد</p>
<p><a href="#_ftnref2" name="_ftn2"></a>٢- المرجع : تفسير يشوع بن سيراخ الإصحاح السادس عشر - القمص تادرس يعقوب ملطي</p>
<p><a href="#_ftnref3" name="_ftn3"></a>٣- المرجع : تفسير سفر الحكمة الإصحاح الخامس - القمص تادرس يعقوب ملطي</p>
<p><a href="#_ftnref4" name="_ftn4"></a>٤- المرجع : تفسير مزمور ٧٢ - القمص تادرس يعقوب ملطي</p>
<p><a href="#_ftnref5" name="_ftn5"></a>٥- المرجع : كتاب المنجلية القبطية الأرثوذكسية ( صفحة ٢٧٣ ) - قداسة البابا تواضروس الثاني</p>
<p><a href="#_ftnref6" name="_ftn6"></a>٦- المرجع : كتاب السماء ( صفحة ١٩٢ ) - الأنبا يؤانس أسقف الغربية - مشروع الكنوز القبطية</p>
<p><a href="#_ftnref7" name="_ftn7"></a>٧- المرجع : كتاب ألقاب المسيح ووظائفه ( صفحة ١٣٦ ) - الأنبا بيمن أسقف ملوي - مشروع الكنوز القبطية</p>
<p><a href="#_ftnref8" name="_ftn8"></a>٨- المرجع : كتاب تأملات روحية في قراءات أناجيل آحاد السنة القبطية ( صفحة ٥١٩) - القمص لوقا سيداروس - كنيسة مار جرجس سبورتنج</p>
<p><a href="#_ftnref9" name="_ftn9"></a>٩- المرجع : كتاب تأملات وعناصر روحية في أحاد وأيام السنة التوتية ( الجزء الأول صفحة ٢٤٦ ) - إعداد القمص تادرس البراموسي</p>

      {% endcreateArticleAccordions %}
    </section>
  {% endblock %}
