---
layout: 'layouts/reading.html'
title: '-موضوع قراءات الآحاد'
tags: 'sundays'
permalink: /articles/sundays/1311.html
---
  {% block content %}
    <section id="article">
      <h3 class="mt-8 mb-4 heading-explain">شرح القراءات</h3>
      {% createArticleAccordions %}
        <p>قراءات الآحاد تتحرك بِنَا قبل أزمنة البشر والعالم لتُعلن تدبير الثالوث منذ الأزل لخلاصنا ( توت وبابة وهاتور ) ثم تدخل  إلي تاريخنا وواقعنا ومعاناتنا ليقدم لنا الثالوث الخلاص في تجسّد الإبن الوحيد وظهوره الإلهي وإعلان خلاصه لكل العالم ( كيهك وطوبة وأمشير ) وقبول الخلاص وإستعلان مفاعيل الصليب والقيامة ( رابع أمشير + قراءات الصوم الأربعيني والبصخة المُقدَّسة ) ، وبداية إنفتاح أعين الإنسان الجديد بالروح القدس علي مجد مفاعيل قيامة إبن الله ( الخمسين يوم المُقدَّسة ) وتهيئته للإمتلاء بالروح ( ثالث ورابع بشنس ) ، وإنسكاب الروح علي المؤمنين بغني ( بؤونة ) وميلاد الكنيسة وإستعلان الملكوت والكرازة به ( أبيب ) ومجد الكنيسة بعمل الثالوث فيها ( مسري ) وإنتظار مجيئه ( رابع مسري ) ثم إنطلاق القراءات بِنَا فوق الزمن وخارج حدود العالم نحو الأبديّة في مجئ ابن الله ( النسئ )</p>
<p>ولعلَّ في شرح الآباء الشرقيين لمفهوم الشركة مع الثالوث ما يُمْكِن أن يُلقي ضوءاً على مغزى ترتيب قراءات آحاد السنة القبطية</p>
<p>&#8221; والكتّاب الروحيون ، فضّلوا طريقة الآباء الشرقيون في التعليم ، والتي صيغت في نماذج تقليدية ، وتتلخص في اتجاهين</p>
<p>الأول: ينادي بأن الآب يخلقنا بالأبن، ويقدسنا بالروح القدس.</p>
<p>والثاني: عكسي، إذ نحن نُعطي المجد للآب من خلال الابن في الروح القدس.</p>
<p>يقول القدِّيس باسيليوس الكبير إن طريق المعرفة الإلهية، ينطلق من الروح الواحد، بواسطة الابن الواحد الوحيد، تجاه الآب الواحد، وبطريقة عكسية، فإن الصلاح الذاتي والحرية الإرادية، والمقام الملوكي، كل هذا ينبثق من الآب من خلال الإبن الوحيد في الروح القدس. هكذا يؤكد على أن الرب يسوع هو الطريق الصَّالح الذي لا إنحراف فيه ولا خطأ، فهو الذي يقود إلى الآب، هذا هو طريقنا الذي به نرتقي إلى الآب. أيضاً وكما أنه:&#8221; لا أحد يعرف الآب إلا الابن &#8220;، يقول أيضاً &#8221; لا يستطيع أحد أن يقول يسوع رب إلا بالروح القدس &#8220;، ولم يقل بواسطة الروح القدس، بل بالروح القدس لأنه &#8221; روح الله &#8221; والذين يسجدون له فبالروح والحق ينبغي أن يسجدوا &#8220;. إذاً، فطريق معرفتنا بالله يبدأ بالروح الواحد، من خلال الابن الواحد، إلى الآب الواحد، ولكن بطريقة عكسية، الصلاح الإلهي، وقداسة الله، ومجد الملكوت يصلنا من الآب بالابن في الروح القدس. وكلا الاتجاهين يُظهِر الاعتراف الكامل بالأقانيم، ولا ينتهك الإيمان القويم بالوحدانية<a href="#_ftn1" name="_ftnref1">[1]</a></p>
<p>ويلخِّص القديس أثناسيوس الرسولي هذا المفهوم في جملة واحدة</p>
<p>&#8221; وكما أن النعمة المعطاة هي من الآب بالابن ، هكذا لا يمكننا ان نشترك في الموهبة الا في الروح القدس. لاننا عندما نشترك فيه تصبح لنا محبة الآب ونعمة الابن وشركة الروح القدس<a href="#_ftn2" name="_ftnref2">[2]</a> &#8221;</p>
<p>ماذا نفهم من هذا الشرح العميق في معناه والبسيط في طريقة عرضه في ذات الوقت؟</p>
<p>أن كنيستنا المُقدَّسة رسمت لنا الخط العام للقراءات إنطلاقاً من مفهوم آباء كنيستنا الشرقية عن معني الشركة مع الثالوث، لذلك وإن كان كل شهر يتَّضح فيه عمل وفعل أحد الأقانيم الثلاثة، لكن ليس معني هذا أننا لا نجد معه الأقنومان الآخران، لأن الثالوث واحد، ولا يعمل أي أقنوم من الأقانيم أي فعل بمعزل عن الآخران</p>
<p>لذلك يمكننا أن نقول إن قراءات كل أحد تُقدِّم لنا عطايا الثالوث حتى ولو كان التركيز في أيّ منها على أحد الأقانيم</p>
<p>تبدأ قراءات الآحاد (في الاتجاه الأوَّل حسب قول القديس باسيليوس الكبير من الآب في الابن بالروح القدس)، مُعلنةً غني محبَّة الآب للبشرية والتي استعلنت في ابنه الكلمة المُتجسِّد (آحاد توت)، وعمل الابن فينا الذي نقل لنا فيه مجد الآب (آحاد بابه)، ومجد عمل الروح القدس فينا ليجعلنا تلاميذ للإبن ووارثين في ملكوت الآب (آحاد هاتور)</p>
<p>هذه الشهور الثلاثة تُعْلِن لنا تدبير الثالوث من الآب بالابن في الروح القدس</p>
<p>ثم تستكمل معنا هذه الرحلة في توضيح كيف تم كل هذا في ملء الزمان، وكيف نلنا كل هذا المجد من الثالوث في تدبير خلاصه لنا</p>
<p>فتشرح لنا تجسُّد الكلمة (آحاد كيهك)، وظهوره الإلهي لكل الأمم والشعوب (الأحدين الأوَّل والثاني من طوبه)، ومدخل قبول العطايا المعمودية (الأحدين الثالث والرابع من طوبه) ، ومجد الإتحاد بخبز الحياة في الإفخارستيا ( الآحاد الثلاثة من أمشير ) ، وإستعلان خلاصه لكل الخطاة مُمَثَّلاً في زكَّا العشار ( الأحد الرابع من أمشير )</p>
<p>وكأن لقاء الرب مع زكَّا يتوافق مع لقاء الرب مع البشرية عند الصليب ، ولا عجب أن اللقاء كان عند شجرة ( الصليب ) ، ونزل الرب إلي بيوتنا مُعلناً الخلاص لكل أهل البيت ( البشرية ) ، وتَغيَّرت وتَجدَّدت حياتنا فوق إلتزامات الوصيَّة ( أُعطي نصف أموالي للمساكين ) ، وفوق قوانين الكون ( أَرُدّ أربعة أضعاف ) ، كما أن الطريقة الوحيدة التي كانت لزكَّا لرؤية المسيح له المجد هي صعوده علي شجرة ( الصليب ) ، وهكذا رسمت كنيستنا المُقدَّسة طريق لقاؤنا مع الرب وإدراك محبته ( يو ٣ : ١٦) ، (يو ١٢ : ٢١ ، ٢٤) ، (غل ٢ : ٢٠ )</p>
<p>ثم تبدأ رحلة الصعود للآب (في الاتجاه الآخر حسب قول القديس باسيليوس الكبير ينطلق من الروح الواحد بواسطة الإبن الواحد تجاه الآب الواحد) في قراءات بشنس وبؤونه وأبيب ومسري والنسئ</p>
<p>فيبدأ معنا الروح بالحب الإلهي وكيف نُحبّ الآب من كل القلب، وكيف ننتصر في الابن على كل أفعال المضاد (الأحدين الثالث والرابع من بشنس)، وما هو طريق الإمتلاء من الروح القدس في صلاة دائمة، وإيمان، وغني الكلمة، وأحشاء الرحمة (آحاد بؤونه)</p>
<p>ويُعلِّمنا الروح كيف نشهد للابن (آحاد أبيب)، في كرازتنا وخدمتنا، وفي اتضاعنا، وفي شركتنا، وفي إيماننا بقدرته</p>
<p>وتُسْتَعلن الكنيسة (آحاد مسري)، الكرمة، والعروس ببرّ عريسها، وعائلة الله الآب، والساهرة والمُتَشوِّقة لمجيئه الثاني</p>
<p>وهكذا يصعد بنا الروح في الابن إلى الآب لتصير أعين قلوبنا دائماً في السماء موطننا الدائم (قراءات الشهر الصغير)</p>
<p>ولعلَّ هذا أيضاً ما نصليه في صلاة قسمة القديس كيرلس:</p>
<p>&#8221; حُبّك أنزلك إلي هبوطنا ، نعمتك تُصعدنا إلي علوك &#8221;</p>
<p>&#8221; حُبُّكَ أنزلك إلي هبوطنا &#8221; هي موضوع قراءات الآحاد من توت إلي أمشير ، وأيضاً موضوع قراءات الصوم الكبير والبصخة المُقدَسة</p>
<p>&#8221; نعمتك تصعدنا إلي علوك &#8221; هي موضوع قراءات الآحاد من بشنس إلي النسئ ، وموضوع قراءات الخمسين يوم المُقدَّسة</p>
<p>معني هذا أن الشهور توت، وبابه، وهاتور، وكيهك، وطوبه، وأمشير مع قراءات الصوم الأربعيني، والبصخة المُقدَّسة، تكشف لنا عن مجد محبَّة الآب في الإبن بالروح القدس</p>
<p>بينما قراءات الأحدين الثالث والرابع من بشنس (وقراءات الخمسين يوم المُقدَّسة)، وبؤونه، وأبيب، ومسري، والنسئ يصعد بنا الروح فيها بالابن إلى الآب</p>
<p>وهكذا نعيش في القراءات محبَّة الله الآب ونعمة الإبن الوحيد وشركة وموهبة وعطية الروح القدس</p>
<p>ولعلّ مقدمة إنجيل يوحنا تعبّر أيضاً عن رحلة قراءات الآحاد في كنيستنا المقدسة في إستعلانها من الآب بالابن في الروح، وفي صعودها في الروح بالابن إلى الآب</p>
<p>في البدء كان الكلمة (الثالوث - توت وبابة وهاتور)</p>
<p>والكلمة صار جسداً (التجسّد - كيهك)</p>
<p>وحل بيننا (ظهوره للأمم - أوَّل وثاني طوبة)</p>
<p>ورأينا مجده (استنارة المؤمنين - ثالث ورابع طوبة وآحاد أمشير وقراءات الصوم الأربعيني والبصخة والخمسين يوم المُقدَّسة)</p>
<p>مملوءاً نعمة (الخمسين يوم المُقدَّسة وملء الروح القدس - بشنس وبؤونة)</p>
<p>يوحنا شهد له (الكرازة - أبيب)</p>
<p>نعمة فوق نعمة (صورة الكنيسة - مسري)</p>
<h3>قراءات توت وبابة وهاتور</h3>
<p>تبدأ القراءات بشهر توت مُعلنة تدبير محبّة الآب في خلاص البشرية</p>
<p>فيتكلّم الأحد الأول عن ملاك العهد الجديد وأحد شهود التدبير الإلهي يوحنا المعمدان وكرازته بالتوبة وشهادة الرب عنه وعن خدمته ودوره في إعداد الشعب لقدوم مُخلِّص العالم</p>
<p>ويُعلن الأحد الثاني جوهر تدبير الآب في خلاص البشرية</p>
<p>فيتكلّم عن مسرّة الآب بنعمة العهد الجديد والخلاص الذي أعلنه إبنه الوحيد والذي لم تدركه فلسفات العالم وحكمته، بل أدركتها قلوب البسطاء والأنقياء الذي هم أطفال العهد الجديد</p>
<p>ويُظهر الأحد الثالث قصد الآب وتدبيره في كمال الإنسان (الرجل) والذي أعلنه ابن الإنسان في تجسده وقياس القامة التي تصل بنا إلى كل ملء الله</p>
<p>لذلك يُلاحظ في قراءات هذا اليوم دخول الرب في إنجيل عشيّة بيت اثنين رجال بطرس واندراوس وفِي إنجيل باكر لقاءه مع قائد المئة وفِي الإبركسيس الكلام على رجل هو شاول وفِي إنجيل القدَّاس لقاؤه مع زَكَّا العشّار</p>
<p>كما يؤكد الأحد الرابع علي كمال الإنسان (المرأة) والذي تجسّده الكنيسة المقدسة في عطائها وبذلها وسخاء محبتها كما تعبر عنه حياة المرأة</p>
<p>وكما يُلاحظ في وجود المرأة في قراءاته إبنة يايرس ونازفة الدم في إنجيل عشيّة والمرأة الكنعانية في إنجيل باكر وطابيثا في الإبركسيس والمرأة الخاطئة في إنجيل القدَّاس</p>
<p>ثم يأتي شهر بابة ليقدم لنا لاهوت ابن الله والذي تُعلن فيه القراءات سلطانه الإلهي على الخطيّة والمرض والطبيعة والشيطان والموت</p>
<p>فتبدأ القراءات بالأحد الأوّل وسلطانه على الخطيّة وعلى المرض على الروح وعلى الجسد في شفاء المفلوج الذي يحمله الأربعة</p>
<p>والأحد الثاني في سلطانه على الطبيعة وعلى المخلوقات في معجزة صيد السمك الكثير</p>
<p>والأحد الثالث في سلطانه على الشيطان وكل قوّته وسلطانه في شفاء المجنون الأعمي الأخرس</p>
<p>والأحد الرابع في سلطانه على الموت في إقامة إبن أرمله نايين</p>
<p>أمّا شهر هاتور فهو شهر الروح القدس وعمله في النفوس</p>
<p>فيبدأ الأحد الأوّل في الأراضي التي تشرب مياه الروح والتي تُلْقَي فيها بذاره الإلهيّة</p>
<p>والأحد الثاني في الأراضي التي أثمر فيها الروح بثلاثين وستين ومئة</p>
<p>والأحد الثالث في الموقف من العواطف البشريّة الضارّة ومن أعمال الذات التي تعطّل عمل الروح</p>
<p>والأحد الرابع في الموقف من المال والتخلّي عن كل شئ يعوق طريق كمالنا أو كمال طريقنا</p>
<p>ويأتي شهر كيهك مع ملء الزمان والتجسّد الإلهي</p>
<p>فيتكلّم الأحد الأوّل عن بشارة رئيس الملائكة لزكريا الكاهن</p>
<p>والأحد الثاني بشارته لوالدة الإلة بميلاد المُخلِّص</p>
<p>والأحد الثالث زيارة والدة الإله لإليصابات وفيض الروح في إنسان العهد الجديد</p>
<p>والأحد الرابع في ميلاد الشاهد السابق الصابغ يوحنا المعمدان</p>
<p>ويُعلن شهر طوبة الظهور الإلهي لكل العالم</p>
<p>فيتكلّم الأحد الأول عن إعلان خلاصه لكل العالم وإيمان الأمم مُمثّلة في هروبه لمصر</p>
<p>وفِي الأحد الثاني عن قبول الأمم الغريبة (أهل نينوي وملكة التيمن) وشغفها وعطشها أكثر من أولاده</p>
<p>وفِي الأحد الثالث عن معمودية الولادة الجديدة</p>
<p>وفِي الأحد الرابع عن معمودية الإستنارة ورؤية ابن الله</p>
<p>وكأن الأحدين الثالث والرابع يُعلنان ظهوره لكل من يؤمن</p>
<p>كما يُعْلِن شهر أمشير ظهوره وحضوره في الإفخارستيا</p>
<p>في الأحد الأول عن الطعام النازل من فوق</p>
<p>وفِي الأحد الثاني الطعام المُشْبِع للكل</p>
<p>وفِي الأحد الثالث عن طعام الخلود وعدم الموت</p>
<p>لذلك يختم الأحد الرابع ببداية يوم العهد الجديد وإستعلان زمن الخلاص (اليوم حصل خلاص لهذا البيت)</p>
<p>وهو الخلاص (الذي نحتاج أن نعيشه) الذي تكلّم عنه الأحدين الثالث والرابع من بشنس</p>
<p>فالأحد الثالث عن محبّة الله من كل القلب ومحبّة القريب أساس حياة الإنسان في المسيح</p>
<p>والأحد الرابع عن الإمتلاء من الروح ومن الكلمة المقدسة أساس نصرة الإنسان (الكنيسة) في التجارب</p>
<p>ويشرح شهر بؤونه ملامح الطريق للإمتلاء من الروح القدس والوسائط التي لا غني عنها لنمتلئ من روح الله</p>
<p>فيتكلّم الأحد الأوّل عن الصلاة الدائمة</p>
<p>والأحد الثاني عن الإيمان</p>
<p>والأحد الثالث عن كنز الكلمة الإلهية في القلب</p>
<p>والأحد الرابع عن المحبّة الإلهيّة</p>
<p>أيّ أن ملء الروح القدس في أولاد الله ليس له طريق غير صلواتهم الدائمة بإيمان وشبعهم بالكلمة وحياتهم بالمحبّة</p>
<p>وبعد ملء الروح تأتي الكرازة والمناداة بإقتراب ملكوت الله في شهر أبيب لذلك تكررت كلمة الملكوت في أناجيل القدّاسات</p>
<p>فالأحد الأول عن دعوة السبعين الرسول ووصايا للكارزين</p>
<p>والأحد الثاني عن مكانة الكارزين في غسل الأقدام والخدمة</p>
<p>والأحد الثالث عن رسالة الكارزين في شبع الجموع بحضور المسيح له المجد</p>
<p>والأحد الرابع في إيمان الكارزين الذي يقيم النفوس من نتن الخطيّة</p>
<p>وبذلك تتكوّن صورة الكنيسة المقدسة في شهر مسري وغني الثالوث فيها</p>
<p>فالأحد الأول الكنيسة الكرمة والآب كرّامها</p>
<p>والأحد الثاني الكنيسة العروس والإبن نورها وبرّها</p>
<p>والأحد الثالث الكنيسة الأم والعبدة والروح قائدها</p>
<p>والأحد الرابع الكنيسة الساهرة لإستقبال ابن الله</p>
<p>والأحد الخاص بالشهر الصغير (النسئ) يعلن مجيء ابن الله وعبورنا فوق أزمنة العالم وخارجها للمجد الأبدي</p>
<h3>الرابط بين قراءات الشهور الثلاثة الأولي</h3>
<p>تبدأ القراءات في الأحدين الأوّل والثاني من توت مُعْلِنة تدبير الآب لأجل خلاصنا وجوهر تدبيره في حياتنا وإعلان الآب لأطفال العهد الجديد ومسرته التي لم يدركها حكماء وفهماء هذا العالم (الأحد الثاني من توت) وبينما يُعْلِن هذا الإنجيل (الأحد الثاني) عن أهمّية محبة الله من كل القلب والنفس والفكر والقدرة ومحبّة القريب كالنفس تأتي الحدود المتعاقبة لتقدم نماذج رائعة من إشتياقات البشر وإصرار الإرادة الإنسانية لنوال الخلاص وملكوت الحب الذي يُغْتَصب</p>
<p>لذلك نري الأحد الثالث من توت زَكَّا العشار والإصرار على رؤيته (طلب أن يري يسوع من هو)</p>
<p>والأحد الرابع إقتحام المرأة الخاطئة لبيت الفريسي لتقديم طيب الحب (فلما علمت انه متكئ في بيت الفريسي أخذت قارورة طيب)</p>
<p>يتضح من هذين الأحدين مدي سعي الإنسان للمخلص وإستهانته بالأتعاب والمعوقات فلم يمنع قصر قامة زكا سعيه نحو الرب ولم يقف التزمّت الفريسي عائقاً أمام شجاعة توبة المرأة الخاطئة</p>
<p>لذلك تأتي الإستجابة الإلهية في هذين الأحدين وهذين اللقائين أكبر وأعظم مما كان يتوقع أو يحلم سواء زَكَّا أو المرأة الخاطئة فالرب ذهب ومكث في بيت رئيس العشارين ووهب الخلاص لكل بيته هذا الذي لم يطلب إلا فقط رؤيته</p>
<p>وأعطي الغفران والسلام للتي إكتفت بسكب الطيب عند قدميه ونالت مجاناً خمس مئة في مقابل خمسين لرجل الدين المُتعالي على الخطأة</p>
<p>أما وصية الأحد الثاني من توت من محبة القريب كالنفس فيشرحها ويعلنها الحدود الثلاثة من بابة (الأوّل والثاني والثالث) فنجد الأربعة يحملون مفلوجاً (الأحد الأوّل) ويفعلون أي شيء لأجل أن يصلوا به إليّ الرب، حتى لو اقتضي الأمر أن يصعدوا به على السطح بمخاطرة وشجاعة لأجل أن ينقبوا السقف وينزلوه إليّ السيد الرب</p>
<p>والأحد الثاني تمتلئ شبكة صيّاد من السمك فيدعو صديقه وشريكه لأجل أن تمتلئ الشبكتين حتى أخذتا في الغرق مُعلنة عن شركة محبّة حقيقية بين بطرس ويعقوب ويوحنا فكان يمكن لبطرس أن يعتبر ما حدث يخصّه وحده وليس أيضاً شركاؤه</p>
<p>وفِي الأحد الثالث يترفق الناس بإنسان مجنون أعمي أخرس وقدّموه إليّ الرب وذلك لعجزه بذاته أن يأتي إليه فيحتاج لمحبّة ومبادرة من حوله وربما كانوا ينتظرون شفاءاً من جنون فقط أو جنون وعمي</p>
<p>والعجيب أن سكيب الحب الإلهي ينزل على البشرية الضعيفة والمريضة خارج التصورات وفوق الإحتياجات التي طلبوها من السيّد الرب</p>
<p>فكما إستجاب الرب لزكّا العشار والمرأة الخاطئة فوق تصوّراتهم هكذا مع المفلوج الذي يحمله الأربعة ( الأحد الأوّل من بابه ) ينال غفران الخطايا أعظم وأهم من شفاء الجسد والذي لم يطلبه أحد أخذه المفلوج نتيجة محبة القريب كالنفس والأحد الثاني ينال بطرس ويعقوب ويوحنا نعمة دعوة السيد لتبعيته والتي أيضاً لم يطلبوها وحازت كل تصوّراتهم كإمتداد لشركة المحبّة بينهم فيما هو أرضي إلي فيما هو سماوي وفِي الأحد الثالث ينال المريض نعمة التحرّر من قبضة إبليس والتي لم يطلبها من حوله لكنهم طلبوا فقط شفاؤه من الجنون والعمي والخرس</p>
<p>فيتضح من كل ما سبق إستجابة الثالوث القدّوس لسعي البشر وإرادتهم لأجل خلاصهم ومحبتهم للرب من كل القلب ومحبّة قريبهم كالنفس التي أهّلتهم للغني الإلهي الذي فاق كل حدود الطلبات والإحتياجات</p>
<p>لذلك يأتي الأحد الرابع من بابة كمبادرة إلهية نحو البشرية المائتة ونفوسنا المترمّلة ليعلن عِظَمْ حنانه وإفتقاده الإلهي لشعبه فيهبنا قوة قيامته بلمسة من الكلمة المتجسد</p>
<p>يتضح من شهري توت وبابة الحب الإلهي الذي يعلنه الآب والإبن للبشرية كلها من غني عطايا ومواهب وغفران للخطايا وشفاء وتحرّر من قبضة إبليس ودعوة لتبعيته</p>
<p>لذلك تَكْمُل القراءات بشهر هاتور الذي يرسم طريق ومنهج قبول دعوة الله بالحب والتلمذة الحقيقية وهو فعل الروح القدس ومياه الروح التي تملأ أراضينا وإلحاحه على كل نفس بقبول طرقات الرب علي أبواب القلوب وإستقبال بذار الحب في قلوب جيدة مستعدة وثمر عمل الروح فينا (الأحدين الأوّل والثاني من هاتور) وترك كل عاطفة ضارّة وكل محبّة للذات وكل إستعباد للمال لكي نصير تلاميذ حقيقين له ولكي نكون منقادين بروح الله ونُؤهّل لمجده فينا (الأحدين الثالث والرابع)</p>
<p>لذلك تبدأ القراءات في الأحد الأول عن مياه الروح التي تروي أراضينا وفي الأحد الثاني عن ثمار الروح في قلوبنا التي إرتوت بماء الروح وفي الأحد الثالث ما يعوق التلمذة له وما يعوق عمل الروح القدس فينا الذات والمال والعواطف الضارة وفي الأحد الرابع طريق الكمال ترك كل شئ لأجل أن نتبعه على الدوام</p>
<h3>الرابط بين قراءات كيهك وطوبة وأمشير</h3>
<p>بعد ما أعلنت القراءات تدبير الثالوث القدّوس لأجل خلاصنا وإستعلان غني الحب الإلهي لكل نفس وللكنيسة المقدسة في الشهور الثلاثة الأولي تتحرك بنا القراءات إلى ملء الزمان في الدخول بنا إلي سر التجسد الإلهي والظهور الإلهي لكل الشعوب وإستعلان مجده فينا</p>
<p>لذلك تتركز قراءات شهر كيهك علي بشارة رئيس الملائكة لزكريا الكاهن (الأحد الأول) وبشارة رئيس الملائكة لوالدة الإله (الأحد الثاني) وزيارة والدة الالة لإليصابات (الأحد الثالث) وولادة يوحنا المعمدان (الأحد الرابع)</p>
<p>وتأتي القراءات الأربعة من الإصحاح الأوّل من إنجيل القديس لوقا (الإصحاح ثمانون آية مقسّمة على الأربعة آحاد (لو ١: ١-٢٥)، لو ١: ٢٦-٣٨)، (لو ١: ٣٩-٥٦)، (لو ١: ٥٧-٨٠))</p>
<p>وتأتي قصّة الميلاد من إنجيل القديس لوقا في إنجيل برامون الميلاد (لو ٢: ١-٢٠) وقصّة الميلاد من إنجيل القديس متي في إنجيل قدّاس عيد الميلاد المجيد</p>
<p>ثم تأتي قراءات شهر طوبة (الأحدين الأوّل والثاني) لتعلن رسالة الميلاد لكل الشعوب</p>
<p>فيتكلّم الأحد الأوّل عن قبول الأمم للخلاص لذلك يختم إنجيل القداس بهروب العائلة المقدسة لمصر والبركة التي أعطاها السيد الرب لأرض مصر كعلامة على خلاص الأمم</p>
<p>ويتكلّم الأحد الثاني عن ملكة التيمن وأهل نينوي ودينونتهم لليهود الذي لم يقبلوا المخلص رغم أنه من خاصتهم ويؤكد على أهميّة التوبة كمدخل لفعل النعمة في الأسرار الكنسية</p>
<p>لذلك تأتي المعموديّة في الأحدين الثالث والرابع من طوبة فتفتح أعين التائبين على ملء الروح (ليس بكيل يعطي الله الروح - الأحد الثالث) ورؤية ابن الله (الذي رأيته هو هو - الأحد الرابع)</p>
<p>ثم يأتي الإتحاد بالمسيح في آحاد شهر أمشير (الأوّل والثاني والثالث) ليعلن عن احتياجنا للطعام الباقي (الأحد الأوّل) ووليمة ملكوت الله مع أولاده (الأحد الثاني) والخبز النازل من السماء خبز الحياة الأبديّة (الأحد الثالث)</p>
<p>ولعلّ هذا ما عناه الآباء القديسين عن ثالوث الحياة في المسيح (التطهير والإتحاد والاستنارة) الذي نراه في التوبة في الأحدين الأوّل والثاني من طوبة والاستنارة بالمعمودية (الأحد الثالث والرابع من طوبة) وغني الحياة في المسيح والشبع بخبز الحياة والإتحاد به في الإفخارستيا جوهر قراءات هذا الشهر</p>
<p>ثم تُخْتَم قراءات الثلاث شهور بإنجيل الأحد الرابع من أمشير (اليوم حصل خلاص لهذا البيت) كإعلان عن الخلاص وكإعلان عن بيت العهد الجديد الذي يضم الكل وكإعلان عن اليوم الجديد يوم الراحة والخلاص اليوم الذي صنعه الرب موضع مسرتنا وتهليلنا</p>
<p><strong>ملحوظة</strong></p>
<p>البحث عن يسوع</p>
<p>في قراءات الأحد الأول يهرب يسوع الي مصر والأحد الثاني يشجعنا لنبحث عنه مثل ملكة التيمن والأحد الثالث الكل يأتي إليه والرابع المولود أعمي يتعرف عليه</p>
<p>والأحد الأول من أمشير الكل يطلبه والأحد الثاني يجدوه والثالث يُعْلِن ذاته والرابع نموذج زَكَّا الذي طلب أن يري يسوع</p>
<p>وهي قراءات تتمشي مع ظهور الله للبشر وإستجابة الإنسان لظهوره الإلهي</p>
<h3>الرابط بين قراءات بشنس بؤونة وأبيب ومسري والنسئ</h3>
<p>تبدأ قراءات هذه الفترة بعد يوم الخمسين وحلول الروح القدس علي التلاميذ وبداية الكرازة بالملكوت وإستعلان كنيسة العهد الجديد وقبول الأمم وإتّساع كرمة العهد الجديد بالأغصان المُطَعّمة من كل الشعوب حتى مجيء الرب الثاني</p>
<p>لذلك تدور قراءات هذه الفترة حول</p>
<p>المدخل للامتلاء من الروح (بشنس)</p>
<p>ملء الروح القدس (بؤونة)</p>
<p>والكرازة بملكوت الله (أبيب)</p>
<p>وإستعلان ماهية الكنيسة وكينونتها (مسري)</p>
<p>ومجئ ابن الله الثاني (الأحد الرابع من مسري والنسئ)</p>
<p>يأتي شهر بشنس (الأحد الثالث والرابع) فيعلن خلاص كل إنسان بالحب (تحب الرب إلهك من كل قلبك &#8230; وقريبك كنفسك) وخلاص الكنيسة ونصرتها على قوات الظلمة في إمتلائها بروح الله وحياة الصوم بعد خروجها من جرن المعمودية (أما يسوع فرجع من الأردن ممتلئا من الروح القدس فاقتاده الروح في البرية أربعين يوما يجرب من ابليس ولم يأكل شيئا في تلك الأيام ولما تمت جاع أخيرا)</p>
<p>وفي قراءات بؤونة نعيش ملؤنا بالروح يوم الخمسين ليصير الملء هدفنا وحياتنا وإحتياجنا وغنانا وشبعنا وخدمتنا</p>
<p>في صلاة دائمة (الأحد الأوّل)</p>
<p>وإيمان (الأحد الثاني)</p>
<p>وفكر واحد وشركة (الأحد الثالث)</p>
<p>ومحبّة كاملة وغفران (الأحد الرابع)</p>
<p>وفِي قراءات أبيب نعيش الكنيسة الأولي التي هي أيقونة الملكوت في كرازة دائمة (الأحد الأوّل)</p>
<p>وخدمة واتضاع وغسل أقدام (الأحد الثاني)</p>
<p>وتسديد إحتياجات الناس روحيا ونفسيا وجسديا (الأحد الثالث)</p>
<p>وقوّة إيمان تُعْلِن مجد الله (الأحد الرابع)</p>
<p>وفِي قراءات مسري نعيش معني الكنيسة وعمقها وجوهرها ككرمة والآب كرّامها (الأحد الأوّل)</p>
<p>وكعروس والابن برّها (الأحد الثاني)</p>
<p>وكعبدة وأم والروح قائدها (الأحد الثالث)</p>
<p>وكعذراء حكيمة في سهر دائم لمجيء العريس (الأحد الرابع)</p>
<p>ثم تُخْتَم الرحلة بمجئ ابن الله في مجده ومجد أبيه (أحد النسي)</p>
<h3>مصدر ومغزي إختيار موضوعات آحاد السنة القبطية</h3>
<p>+ تجعل الكنائس المسيحية فصول القراءات (الآحاد) علي حسب الأعياد الكُبري بينما تأتي قراءات الآحاد في الكنيسة القبطية حسب الشهور القبطية وما يرتبط بها (النيل والزرع وثمار الأرض) وأيضاً ترتبط بالمناسبة الكنسية (الأعياد الكُبري وأعياد العذراء والقديسين)</p>
<p>+ تتوزَّع القراءات الكنسية في الكنيسة السريانية بين ثلاث أعياد كبيرة وترتبط قراءات الآحاد بهم وهم القيامة (الفصح) والصليب والدنح (الغطاس)</p>
<p>فيُقال الأحد الأوَّل أو الثاني بعد القيامة أو الأحد الأوَّل بعد الصليب أو بعد الدنح وهكذا</p>
<p>+ بينما تتوزَّع قراءات الآحاد في الكنيسة البيزنطية بين أعياد الفصح والعنصرة ورفع الصليب</p>
<p>+ وتتوزَّع قراءات الآحاد في الكنيسة اللاتينية حسب الأعياد الكُبري الثلاث (الفصح والعنصرة أو الثالوث القدّوس والظهور الإلهي) فيُقال الأحد الأوَّل مثلاً بعد الفصح أو الثاني بعد الفصح وهكذا ..</p>
<p>+ تأتي قراءات الآحاد بعد عيد الفصح (القيامة) في الكنائس الأربع (القبطية والسريانية البيزنطية واللاتينية) مُرتبطة بموضوع الفصح، بينما تأتي قراءات الآحاد التالية للأعياد الكُبري مثل الصليب والظهور الإلهي والعنصرة عند الكنائس الثلاث (السريانية والبيزنطية واللاتينية) مرتبطة إسماً فقط ولا ترتبط بموضوع العيد الذي يسبقها</p>
<h3><strong>قراءات الآحاد في الكنيسة القبطية تتوزَّع حسب الشهور القبطية ومعانيها وما يرتبط بها: </strong></h3>
<p>1- شهر توت (إله الحكمة والمعرفة عند الفراعنة) والذي فيه تأتي قراءتي الأحد الأوَّل والثاني عن الحكمة المرفوضة من أولاد العالم (الحكمة تبررت من بنيها - إنجيل قدّاس الأحد الأوَّل) والمُعطاة لأبناء العهد الجديد فوق كل حكمة وفلسفة العالم (أخفيت هذه عن الحكماء والفهماء وأعلنتها للأطفال - إنجيل قدّاس الأحد الثاني)</p>
<p>٢- شهر هاتور (هاتور ازرع ولا تدور) تأتي قراءتي إنجيل القدَّاس في الأحدين الأوَّل (لو ٨: ٤ - ١٥) والثاني (مت ١٣: ١ - ٩) عن مثل الزارع</p>
<p>٣- شهر طوبه (فيه تكثر الأمطار ويصفو ماء النيل) لذلك تأتي قراءتي إنجيل القدَّاس في الأحدين الثالث (يو٣: ٢٢ - ٣٦) والرابع</p>
<p>(يو ٩: ١ - ٣٨) عن الماء</p>
<p>٤- شهر أمشير (ظهور بشائر القمح) لذلك تأتي قراءة إنجيل القدَّاس في الآحاد الأوَّل والثاني والثالث عن خبز الحياة</p>
<p>٥- شهر بؤونة (بداية فيضان النيل) لذلك تأتي قراءات الشهر عن ملء الروح القدس وإنجيل قدّاس الأحد الأوَّل (لو ١١: ١ - ١٣) عن عطيّة ملء الروح</p>
<p>٦- شهر مسري (جمع العنب وحصاد الكروم) لذلك تأتي قراءة إنجيل قدّاس الأحد الأوَّل عن مثل الكرم والكرامين (لو ٢٠: ٩ - ١٩)</p>
<h3><strong>+ </strong><strong>كما أن قراءات الآحاد في الكنيسة القبطية تتوزَّع أيضاً حسب المناسبة الكنسية (الأعياد الكُبري وأعياد العذراء والقديسين)</strong></h3>
<p>١- شهر توت: تأتي قراءة إنجيل قدّاس الأحد الأوَّل من شهر توت عن يوحنا المعمدان والتي توافق أيضاً عيده (شهادة يوحنا المعمدان - ٢ توت)</p>
<p>٢- شهر كيهك (تجسّد الكلمة) تأتي قراءات أناجيل قدّاسات هذا الشهر لتشرح التدبير الإلهي في تجسّد الابن الوحيد، كما أن تذكار رئيس الملائكة غبريال (ملاك البشارة بتجسّد الكلمة) يأتي يوم ٢٢ كيهك، وهو موضوع قراءة إنجيل الأحد الثاني من كيهك.</p>
<p>قراءات أناجيل آحاد كيهك:</p>
<p>الأحد الأوَّل: بشارة رئيس الملائكة لزكريا الكاهن بميلاد يوحنا المعمدان (لو ١: ١ - ٢٥)</p>
<p>الأحد الثاني: بشارة رئيس الملائكة لوالدة الإله بتجسّد الكلمة (لو ١: ٢٦ - ٣٨)</p>
<p>الأحد الثالث: زيارة والدة الإله للقديسة إليصابات (لو١: ٣٩ - ٥٦)</p>
<p>الأحد الرابع: ولادة يوحنا المعمدان (لو١: ٥٧ - ٨٠)</p>
<p>٣-شهر طوبه (قتل أطفال بيت لحم في الأحد الأوَّل والذي يتوافق مع تذكار إستشهاد أطفال بيت لحم في ٣ طوبه - والمعمودية في الأحدين الثالث والرابع والتي تتوافق مع عيد الظهور الإلهي في ١٠، ١١، ١٢ طوبه)</p>
<p>٤- شهر أبيب (دعوة الرسل السبعين والتي تتوافق مع شهادة الرسولين بطرس وبولس في ٥ أبيب)</p>
<p>٥- شهر مسري (الأحد الثالث وقراءاته عن والدة الإله والتي تتوافق مع تذكار صعود جسد والدة الإله للسماء في ١٦ مسري، والأحد الرابع من مسري وأحد النسئ والكلام عن نهاية العالم والذي يتوافق مع نهاية السنة القبطية)</p>
<h3>المراجع :</h3>
<p><a href="#_ftnref1" name="_ftn1">[1]</a> كتاب الوحدة والتمايز في الثالوث القدوس بحسب فكر آباء الكنيسة صفحة ٢٤ - دكتور سعيد حكيم يعقوب</p>
<p><a href="#_ftnref2" name="_ftn2">[2]</a> رسائل اثناسيوس الرسولي عن الروح القدس صفحة ٧٧ - تعريب القس مرقس داود</p>

      {% endcreateArticleAccordions %}
    </section>
  {% endblock %}
