---
layout: 'layouts/reading.html'
title: '- لمحة تاريخية موجزة عن قراءات الآحاد والأيَّام في الكنيسة القبطية الأرثوذكسية'
tags: 'sundays'
permalink: /articles/sundays/1361.html
---
  {% block content %}
    <section id="article">
      <h3 class="mt-8 mb-4 heading-explain">شرح القراءات</h3>
      {% createArticleAccordions %}
        <p>+ وُلِدَت القراءات الليتورجية للكنيسة الأولي من رحم قراءات الليتورجيا اليهودية، وكما جاء الرب ليُكَمِّل لا لينقض هكذا أيضاً سارت الكنيسة الأولي على نفس الدرب، وأخذت من القراءات اليهودية شعلة السراج المنير إلي أن إنفجر نور كوكب الصبح في كنف عروسه المُقدَّسة كنيسة العهد الجديد.</p>
<p>لذلك نجد الجو العام لقراءات الليتورجيات اليهودية قريب الشبه في جوهره من قدّاس الموعوظين:</p>
<p>&#8221; كانت الليتورجيات اليومية تُمارس جنباً إلي جنب مع طقوس الذبائح الصباحية والمسائية عند اليهود ، خاصة في الأعياد والسبوت ، وقد وضع المجمع اليهودي قراءات مناسبة علي الأقل للسبوت</p>
<h4><strong>ويمكننا - حسب قول القمص تادرس يعقوب ملطي - أن نوجز الآتي:</strong></h4>
<h4>الليتورجيات اليهودية اليومية في أيام السيد المسيح له المجد</h4>
<p>١- يدعو رئيس المجمع الخادم ليختار من الشعب من يقرأ الشيما (قانون الإيمان اليهودي، ويحوي (تث ٤:٦ - ٩: ١٣:١١-٢١)</p>
<p>(عد١٥: ٣٧-٤١) والبركات الثماني عشر (سبعة في السبوت)</p>
<p>٢- قراءة من أسفار موسي الخمسة بالعبرية ثم بالأرامية</p>
<p>٣- قراءة من الأنبياء أو الأسفار الأخرى</p>
<p>إن وُجِدَ الشخص المناسب أو الأشخاص المناسبون للوعظ يعظون (أع ١٥:١٣-٤)</p>
<p>&#8221; كان المسيحيون الذين من أصل يهودي يشتركون في هذه الليتورجيات اليهودية حتي سنة ٦٠ ميلادية م (أع ١٦:٢٠)</p>
<h4>+ وهذا ما يؤكِّده الأب أثناسيوس المقاري:</h4>
<p>&#8221; فطبقاً لنظام القراءات اليهودي ، والذي إنحدر إلينا من المجمع اليهودي ، كانت القراءات هي فصل من التوراة ، يعقبه فصل من الأنبياء. ثم أضافت الكنيسة في عصورها الأولي على هاتين القراءتين فصلا من رسائل بولس الرسول، ثم فصلا من الانجيل المقدس، فأصبحت القراءات أربعة. ولما سقط من الكنيسة القبطية القراءات من العهد القديم في ليتورجيا الكلمة، وللمحافظة على أربع قراءات بحسب التقليد القديم، أضافت الكنيسة قراءة من الكاثوليكون وأخري من الإبركسيس لتعود القراءات أربعة، كما كانت حسب التقليد القديم<a href="#_ftn1" name="_ftnref1">[1]</a>.</p>
<p>لذلك صارت القراءات الكتابية عامود أساسي في الليتورجيا في القرون الأولي للمسيحية.</p>
<h4>يقول القديس يوستينوس الشهيد (١٠٠ - ١٦٦م) في دفاعه:</h4>
<p>&#8221; في هذا اليوم الذي يُدعي الأحد ، يجتمع كل الذين يعيشون في المدن والقري في مكان واحد وتبدأ الليتورجيا بقراءات من الأناجيل القانونية ، وكانت تسمي مذكرات الرسل ، أو من كتب الأنبياء ، علي قدر ما يسمح به الوقت ، ثم نقف جميعاً ونرفع صلواتنا من أجل المسيحيين ومن أجل البشر في العالم أجمع. وعندما ننتهي من الصلوات، يُقبّل كل منا الآخر بقبلة السلام. ثم يصلي الكاهن صلاة التقديس على الخبز والخمر، ثم يتقدم الجميع ويتناولون من الجسد والدم. ونرسل للغائبين أيضاً مع الشمامسة &#8221;</p>
<h4><strong>الآباء والعقيدة (صفحة ٢٩٥) - دكتور سعيد حكيم يعقوب - المركز الأرثوذكسي للدراسات الآبائية</strong></h4>
<h4>شرح شكل الليتورجيا في عصر العلامة أوريجانوس (١٨٥ - ٢٥٤م)</h4>
<p>١- ليتورجية الموعوظين تسبق ليتورجية المؤمنين والموعوظون يحضرون العظة</p>
<p>٢- القراءات تشمل فصولا من العهد القديم والجديد يتبعها عرض دراسي مفصَّل ثم عظة على موضوع القراءات</p>
<p>٣- يتبع العظة مباشرة مجموعة صلوات ينهض فيها كل الشعب وقوفا وبعد الصلوات تقدم القرابين ثم تكون قبلة السلام<a href="#_ftn2" name="_ftnref2">[2]</a></p>
<p>ويقول المهندس فؤاد نجيب أن القراءات في الكنيسة الأولي تحتوي على قراءات من العهد القديم والعهد الجديد: +</p>
<p>&#8221; في القرون الأولى للمسیحیة كانت القراءات الیومیة تحوي فصولاً من الناموس والأنبیاء، لكنها بدأت تتقلص في الكنیسة ِّالقبطیة حتى انحصرت في قراءات أیام الصوم الكبیر وأسبوع الآلام<a href="#_ftn3" name="_ftnref3">[3]</a> &#8221;</p>
<p>وتوجد عظة عن العنصرة منسوبة للقديس أثناسيوس الرسولي (ق ٤):</p>
<p>&#8221; إذاً ، أنت يا من تهمل الدخول إلي بيت الله ، كيف تجرأت أن تتقدم نحو المذبح ، راغباً أن تتناول من جسد الرب ودمه ؟ إذا لم تبكِّر إلى الكنيسة، أخبرني: كيف سمعت الإنجيل؟ أو: ما التعليم الذي سمعته من بولس؟ قل لي: ما المزمور الذي قاله داود؟<a href="#_ftn4" name="_ftnref4">[4]</a></p>
<h4>+ وأيضا توجد عظة للقديس مكاريوس أسقف إتكو علي رئيس الملائكة ميخائيل (ق ٥):</h4>
<p>&#8221; فإذا اجتمع الكهنةُ والشمامسةُ والمرتِّلون وكلُّ الشعب ، كبيرُهم وصغيرُهم ، فتحوا أفواههم وسبَّحوا الله بمزامير وتراتيل روحية ، وبعد ذلك يكملون في الليل وهم يلهجون (&#8230;) لأنَّه إذا قُرِئ في كتاب الرسول في الكنيسة الأرضية ، فهذا هو البوق الأوَّل الذي يبوق أمام الملك المسيح ، وينتشر البخور قليلاً قليلاً وهم يرتلون من المزامير. فإذا اكتمل ذلك، يأتي ملك الحياة، وألوف ألوف وربوات ربوات الملائكة يرتَّلون حوله وهو داخلُ إلي بيته، الذي هو الكنيسة المقدَّسة، ويجعل بخور ألوهيته (لاهوته) يتقدم (قراءة) إنجيله المقدَّس. &#8221;</p>
<p>عظة ملاحظات ليتورجية في نصوص الأدب القبطي بمدرسة الإسكندرية (الجزء الثاني) - دكتور صموئيل القس قزمان - جامعة مونستر ألمانيا</p>
<p>ويقول المهندس فؤاد نجيب أن قراءات الأعياد السيدية هي الأساس الذي ترتب عليه قراءات الآحاد</p>
<p>يحوي قطمارس الأیام قراءات الأعیاد السیدیة الكبرى والأعیاد السیدية الصغرى، أي أعیاد السید المسیح. وهذه القراءات تعتبر الأساس الذي تم علیه ترتیب قراءات الآحاد عبر فصول السنة القبطیة، وبذلك فقراءات الأیام سابقة في تنظیمها على قراءات الآحاد<a href="#_ftn5" name="_ftnref5">[5]</a>.</p>
<p><strong>+ وللأب تادرس يعقوب ملطي رأي قريب من هذا الرأي</strong></p>
<p>&#8221; في القرن الثاني وجدت قراءات ثابتة خاصة بالأعياد السيدية ، خاصة عيديّ الفصح والعنصرة ، ثم قراءات خاصة بأعياد الشهداء ، فأيام الآحاد &#8220;<a href="#_ftn6" name="_ftnref6">[6]</a></p>
<p>&#8221; قبل مجمع نيقية كان بالكنيسة قطمارس ثابت أو أكثر &#8221;</p>
<p>ويقول الأب أوجو زانيتي أن الكنيسة القبطية كانت تحتفل بالقديسين المشهورين في بعض قراءات الآحاد</p>
<p>&#8221; الكنيسة القبطية تتحدث عن القديسين المهمين لديها في قراءات السبت والأحد - مثال يوحنا المعمدان ٢ توت) ، (يوحنا المعمدان يفتتح العام مثلما إفتتح سابقاً الطريق أمام المسيح<a href="#_ftn7" name="_ftnref7">[7]</a></p>
<p>Les Lectionnaires Coptes Annuels Basse - Egypte (Ugo Zanetti)</p>
<p>وما يؤكِّد هذا الرأي القراءات الخاصة بيوحنا المعمدان تأتي في الأحد الأوَّل من توت في الفترة التي يأتي فيها تذكار يوحنا المعمدان في ٢ توت، كما تأتي قراءة الآباء الرسل في الأحد الأوَّل من أبيب في الفترة التي يأتي فيها تذكار القديسين بطرس وبولس في ٥ أبيب، وقراءة والدة الإله في الأحد الثالث من مسري في الفترة التي يأتي فيها تذكار صعود جسدها إلى السماء في ١٦ مسري</p>
<p>وهنا نري أيضاً أن الكنيسة اليونانية إبتدأت فيها القراءات بالآحاد، ثم السبوت، ثم باقي الايام كما يقول الأب أوجو زانيتي:</p>
<p>&#8221; نحن نعلم من بداية هذا القرن وبفضل (Caspar Rene Gregory) أن سلسلة القراءات الليتورجية للكنيسة اليونانية تكونت علي ثلاث مراحل الآحاد أولا ثم السبوت وفِي النهاية بقية ايامٍ الإسبوع<a href="#_ftn8" name="_ftnref8">[8]</a> &#8221;</p>
<p>ويقول أيضاً أن المجمع الليتورجي (القدَّاس) في زمن القديس أثناسيوس الرسولي كان يوم الأحد فقط في مدينة الإسكندرية وفِي يومي السبت والأحد في باقي مدن مصر.<a href="#_ftn9" name="_ftnref9">[9]</a></p>
<p>Les Lectionnaires Coptes Annuels Basse - Egypte (Ugo Zanetti )</p>
<p>+ ويشهد بذلك أيضاً آباء الكنيسة في القرن الرابع والخامس حسب قول الأب متي المسكين:</p>
<p>البابا تيموثاوس (٣٨٢-٣٨٨)</p>
<p><a href="#_ftn10" name="_ftnref10">[10]</a>&#8221; يوم السبت ويوم الأحد هما اليومان الوحيدان اللذان تُقدَّم فيهما الذبيحة الروحانية للرب &#8221;</p>
<p>كاسيان (٣٦٠ - ٤٣٥)</p>
<p>&#8221; وفِي عموم أديرة مصر وكل الوجه القبلي لا توجد اجتماعات للكنيسة خلاف السبت والأحد وعشية وباكر لجميع الأيام وفِي يوم السبت ويوم الأحد يجتمعون الساعة الثالثة من النهار لإقامة القدَّاس<a href="#_ftn11" name="_ftnref11">[11]</a> &#8221;</p>
<p>ويورد هذا الرأي أيضاً (ليوحنا كاسيان) الأب إسطفانوس دانيال جرجس عبد المسيح (الكنيسة الكاثوليكية) في مقالته &#8221; إطلالة على تاريخ القراءات الطقسية &#8221;</p>
<h4><strong>+ ويؤكد هذا الرأي الأب أثناسيوس المقاري:</strong></h4>
<p>&#8221; وكلمة عشيّة وباكر لجميع الأيَّام تعني وجود صلوات يومية في الكنيسة يحضرها الشعب أما القدّاسات فكانت السبت والأحد في بعض كنائس مصر وفِي يوم الأحد فقط في كنيسة الإسكندرية &#8221;</p>
<p>&#8221; مسكين يصلي الصلوات المفروضة عليه ويمضي إلي الكنيسة باكراً وعشيَّة ، ويحضر قراءة الفصول ، ويتناول من جسد الرب ودمه ، ويأخذ السلامة ، ويحفظ نفسه من كل ردئ ، هذا يكون خليلاً للملائكة والشهداء والقديسين &#8221;</p>
<p><a href="#_ftn12" name="_ftnref12">[12]</a>وهو ما يشير إليه العالم الألماني هانز كيك (١٩٢٨ - ١٩٩٨م) حيث يؤكد أيضاً على أن وجود قراءات كتابيَّة في الليتورجيَّة المصريَّة في العصور المبكِّرة كل يوم صباحاً ومساءً، هي خاصيَّة تتميَّز بها كنيسة مصر<a href="#_ftn13" name="_ftnref13">[13]</a></p>
<p>+ ويؤكد الأب أثناسيوس المقاري علي وجود كثير من مخطوطات القطمارسات في متاحف العالم تحوي قراءتي السبت والأحد معاً في قطمارس واحد</p>
<p>&#8221; لذلك وجدت كثير من مخطوطات القطمارسات تخص السبت والأحد معاً بخلاف قراءات الأيَّام</p>
<p>&#8221; وأمَّا الأمر الثاني ، فهو حقيقة لا يمكن إغفالها ، وهي وجود عدد كبير من القطمارسات القبطية والعربية المخطوطة والمحفوظة في مكتبات ومتاحف العالم ، والتي يحوي بعضها قراءات للسبوت والآحاد جنباً إلي جنب ، وكل منها يُسمَّي &#8216; قطمارس السبوت والآحاد<a href="#_ftn14" name="_ftnref14">[14]</a></p>
<h4>+ ويقول الأب أوجو زانيتي أن</h4>
<p>&#8221; القدّاسات الخاصة بيوم السبت كانت موجودة في الكنيسة القبطية إلي القرن الرابع عشر</p>
<p>ويوجد خمسة وعشرين دليل علي قراءات السبوت والآحاد في القرن ١٤ وثماني أدلَّة على قراءات السبوت والآحاد في القرن ١٨، ١٩ &#8221;</p>
<p>ويقول أيضاً أنه وُجِدَت أيضاً قراءات للسبت والأحد الخامس من كل شهر في قطمارس أبو البركات (القرن ١٤)<a href="#_ftn15" name="_ftnref15">[15]</a></p>
<p>&#8221; نري في القطمارس الخاص بأبو البركات (القرن ١٤) قراءات خاصة بالسبت الخامس والأحد الخامس الخاص لكل شهر وليست خدمة شائعة كل ستة شهور أو للسنة<a href="#_ftn16" name="_ftnref16">[16]</a></p>
<p>Les Lectionnaires Coptes Annuels Basse - Egypte ( Ugo Zanetti )</p>
<p>&#8221; ويبدو أن قراءات السبت الخامس والأحد الخامس كانت تدور حول موضوع قراءات الشهر نفسه &#8221;</p>
<p>(نفس المرجع)</p>
<p>وربما هذا يوضِّح سبب إرتباط قراءات السبوت والآحاد معاً بصفة عامة كما نجده في قراءات الصوم الأربعيني وقراءات الخمسين يوم المُقدَّسة ووجود منهج خاص بهما يتبعه قراءات الأيام</p>
<p>+ وكانت تختلف قراءات الوجه القبلي عن الوجه البحري كما يقول المهندس فؤاد نجيب:</p>
<p>فقراءات كنائس الوجه القبلي، غیر الوجه البحري. وقد یوجد برنامج قراءات خاص بكنیسة واحدة. ولكن بمرور الزمن وخاصة بعد الطباعة صار هناك برنامج موحد للكنیسة القبطیة كلها<a href="#_ftn17" name="_ftnref17">[17]</a>.</p>
<p>كما توجد إشارة هامة لبدء ظهور القطمارسات عن القس ابن كبر (ق ١٤)</p>
<p>&#8221; كتاب البسخة المصرية وينسب إلي البطريرك غبريال بن تريك (ق ١٢) وكتاب القطمارس (ويشتمل علي القراطيس ، وهي الفصول التي تقرأ في الصلوات والقداسات من رسائل بولس والقتاليقون والأبركسيس والمزمور والإنجيل المقدس ، في أيام السنة بكاملها ، وهو أيضا غير متفق فإن لأهل كل كنيسة اصطلاحا فيما يقرأونه منها ، ولأهل الوجه البحري اصطلاح غير ما لأهل الوجه القبلي عليه) &#8221;</p>
<p>القراءات الكنسية في الكنيسة القبطية - القطمارس القبطي النشأة والتطور صفحة ٧ - الأنبا مقار أسقف الشرقية والعاشر من رمضان</p>
<h4>+ ويقول الأب أوجو زانيتي أن:</h4>
<p><a href="#_ftn18" name="_ftnref18">[18]</a>&#8221; قطمارس الآحاد - الحالي - هو تجميع لعدد كبير من المخطوطات &#8221;</p>
<p>Les Lectionnaires Coptes Annuels Basse - Egypte (Ugo Zanetti)</p>
<p>+ أما قطمارس الأيام الحالي هو مختصر قراءات كثيرة جداً للأيام وأيضاً قراءات مختلفة وقد إستقرت الكنيسة علي القطمارس الحالي لقراءات الأيَّام الموجود بين أيدينا وهذا كلام يطول شرحه وسيأتي الكلام عنه في شرح قراءات الأيَّام.</p>
<h3>+ ملخّص ما سبق:</h3>
<p>١- بدأت القراءات الليتورجية في الكنائس التقليدية بشكل قريب من الهيكل العام للعبادة في المجامع اليهودية.</p>
<p>٢- كانت توجد قراءات من العهد القديم والجديد، وتمثَّلت قراءات العهد الجديد في البولس والمزمور والإنجيل، ثم زادت إلى ما هو موجود حالياً مع تقلُّص قراءات من العهد القديم وبقاؤها فقط في الصوم الكبير والبصخة المُقدَّسة.</p>
<p>٣- أوَّل قراءات ظهرت في الكنيسة كانت الخاصة بأعياد الفصح والعنصرة ثم باقي الأعياد السيدية وبعدها أعياد القديسين المشهورين.</p>
<p>٤- كانت توجد قطمارسات خاصة بالسبوت والآحاد معاً إلى القرن الرابع عشر أو يمكن بعد هذا الزمن أيضاً.</p>
<p>٥- لم تكن القراءات في كنيسة مصر تتبع ترتيباً واحدا، بل كانت قراءات الوجه القبلي تختلف عن الوجه البحري.</p>
<p>٦- كانت الكنيسة في مصر في القرون الأولي تُصلِّي صلوات صباحية ومسائية يومياً بخلاف قدّاسات السبت والأحد.</p>
<p>٧- قطمارس الآحاد الحالي هو تجميع لعدد كبير من مخطوطات القطمارسات.</p>
<h3>المراجع:</h3>
<p><a href="#_ftnref1" name="_ftn1"></a>١- (الأب أثناسيوس المقاري - كتاب البصخة المُقدَّسة - الجزء الثاني ص ٢٠٩)</p>
<p><a href="#_ftnref2" name="_ftn2"></a>٢- )الأب متي المسكين - الإفخارستيا عشاء الرب - ص ٤٤٩)</p>
<p><a href="#_ftnref3" name="_ftn3"></a>٣- (م \فؤاد نجيب يوسف - كتاب دراسة منهجية للقراءات الليتورجية للكنيسة القبطية - ص ١٤٨)</p>
<p><a href="#_ftnref4" name="_ftn4"></a>٤- عظة ملاحظات ليتورجية في نصوص الأدب القبطي بمدرسة الإسكندرية (الجزء الثاني) - دكتور صموئيل القس قزمان - جامعة مونستر ألمانيا</p>
<p><a href="#_ftnref5" name="_ftn5"></a></p>
<p><a href="#_ftnref6" name="_ftn6"></a>٥-(القمص تادرس يعقوب ملطي - القراءات الكنسية في الكنيسة القبطية - ص ٣،٢)</p>
<p>٦- (م \ فؤاد نجيب يوسف - كتاب دراسة منهجية للقراءات الليتورجية للكنيسة القبطية - ص ٥٥)</p>
<p><a href="#_ftnref7" name="_ftn7"></a>٧- (الأب أوجو زانيتي - القطمارس القبطي السنوي - وجه قبلي – ص ١٤٩)</p>
<p><a href="#_ftnref8" name="_ftn8"></a>٨- (الأب أوجو زانيتي - القطمارس القبطي السنوي - وجه قبلي - ص ١٣٥</p>
<p><a href="#_ftnref9" name="_ftn9"></a>٩- (الأب أوجو زانيتي - القطمارس القبطي السنوي - وجه قبلي - ص ١٣٦)</p>
<p><a href="#_ftnref10" name="_ftn10"></a>١٠-(الأب متي المسكين - الافخارستيا عشاء الرب - ص ٤٩٦، ٤٩٨</p>
<p><a href="#_ftnref11" name="_ftn11"></a>١١-(الأب متي المسكين - الافخارستيا عشاء الرب - ص ٤٩٦، ٤٩٨</p>
<p><a href="#_ftnref12" name="_ftn12"></a></p>
<p><a href="#_ftnref13" name="_ftn13"></a>١٢- (الأب أثناسيوس المقاري - موجز التاريخ الليتورجي لكنيسة الإسكندرية جزء أول ص ٢٨٠</p>
<p>١٣- (عظة منسوبة للبابا ثاؤفيلس الإسكندري (٣٨٥ - ٤١٢ م)</p>
<p><a href="#_ftnref14" name="_ftn14"></a>١٤- (موجز التاريخ الليتورجي لكنيسة الإسكندرية الآب اثناسيوس المقاري (الجزء الثاني ص ٦٨)</p>
<p><a href="#_ftnref15" name="_ftn15"></a>١٥- (الأب أوجو زانيتي - القطمارس القبطي السنوي - وجه قبلي - ص ١٣٩</p>
<p><a href="#_ftnref16" name="_ftn16"></a>١٦- (الأب أوجو زانيتي - القطمارس القبطي السنوي - وجه قبلي - ص ١٥٤، ١٥٥)</p>
<p><a href="#_ftnref17" name="_ftn17"></a>١٧- (م\ فؤاد نجيب يوسف - كتاب دراسة منهجية للقراءات الليتورجية للكنيسة القبطية - ص٤٩)</p>
<p><a href="#_ftnref18" name="_ftn18"></a>١٨-(الأب أوجو زانيتي - القطمارس القبطي السنوي - وجه قبلي - ص ١٤٥)</p>

      {% endcreateArticleAccordions %}
    </section>
  {% endblock %}
