---
layout: 'layouts/reading.html'
title: '- نظرة عامة إحصائية على قراءات الآحاد'
tags: 'sundays'
permalink: /articles/sundays/1365.html
---
  {% block content %}
    <section id="article">
      <h3 class="mt-8 mb-4 heading-explain">شرح القراءات</h3>
      {% createArticleAccordions %}
        <h3>المزامير</h3>
<p>(١) أكثر مزامير تكرَّرت (ثلاث مرّات أو أكثر)</p>
<p>١- مزمور ٨٨ (٨٩)</p>
<p>جاء سبع مرّات (مزمور باكر ومزمور القدَّاس في الأحد الثالث من أمشير ومزمور باكر الأحد الرابع من أمشير ومزمور القدَّاس في الأحد الأوَّل من أبيب ومزمور باكر ومزمور القدَّاس في الأحد الثاني من مسري ومزمور القدَّاس في الأحد الرابع من مسري)</p>
<p>هذا المزمور هو مزمور المراحم الإلهية الغنية وختام الكتاب الثالث ( مز ٧٣ - ٨٩ ) والذي يتكلَّم عن ميثاق الله الدائم مع الإنسان لذلك تأتي آيات من هذا المزمور مع الآحاد التي يُعْلِن فيها إبن الله خلاصه وحياته ومراحمه وأيضاً ملكوته للجميع وخاصة العشارين والخطاة لذلك تأتي آيات منه مع وجود ربنا في بيت زَكَّا العشار ( الأحد الرابع من أمشير ) وفِي بيت لاوي العشار( الأحد الثاني من مسري ) ومع جميع البشر ( ويكون الجميع متعلمين من الله - الأحد الثالث من أمشير ) ، ( افرحوا بالحري أن أسماءكم مكتوبة في السموات - الأحد الأوَّل من أبيب ) والوعد بمجيئه في المجد عند إنتهاء العالم ( وحينئذ يبصرون ابن الإنسان آتياً في سحاب بقوة عظيمة ومجد )</p>
<p>وهو إحدي مزامير المراحم الإلهية الغنية كما قال القديس أثناسيوس الرسولي<a href="#_ftn1" name="_ftnref1">[1]</a></p>
<p>&#8221; ولشدة رغبتك فى أن تتذكر مراحم الله للآباء وعنايته بهم فى البرية ، ولادراكك بصلاحه رغم جحود الانسان كرر المزامير ٤٤ ، ٧٨ ، ٨٩ ، ١٠٥ ، ١٠٧ ، ١١٤ &#8221;</p>
<p>٢- مزمور ١١٨ (مز ١١٩)</p>
<p>جاء خمس مرّات (مزمور عشيّة الأحد الرابع من بابة ومزمور باكر الأحد الأوَّل من أمشير ومزمور قدّاس الأحد الثاني من أبيب ومزمور عشيّة الأحد الثاني والأحد الرابع من مسري)</p>
<p>وهذا المزمور هو مزمور تطويب الحياة مع الله أهم من كل شئ ومعرفته أفضل من كنوز الذهب والفضة واللهج والهذيذ في كلمته التي تجعلنا نعيش ملكوته على الأرض</p>
<p>لذلك ما أعجب أن تأتي الآيات منه مع الأناجيل التي يُسْتَعلن فيها إبن الله ويمنحنا ملكوته</p>
<p>&#8221; أنا هو لا تخافوا &#8221;                                               إنجيل عشيّة الأحد الرابع من بابة</p>
<p>&#8221; قبل أن يكون إبراهيم أنا كائن &#8221;                           إنجيل باكر الأحد الأوَّل من أمشير</p>
<p>&#8221; فمن اتضع مثل هذا الصبي فهذا هو العظيم في ملكوت السموات &#8221; إنجيل قدّاس الأحد الثاني من أبيب</p>
<p>&#8221; من لا يقبل ملكوت الله مثل ولد فلن يدخله &#8221;     إنجيل عشيّة الأحد الثاني من مسري</p>
<p>&#8221; لأن ها ملكوت الله داخلكم &#8221;                        إنجيل عشيّة الأحد الرابع من مسري</p>
<p>ويقول عنه القديس أثناسيوس الرسولي أنه مزمور الوعد بالبركة التي أُستعلنت في تذوق ملكوته على الأرض<a href="#_ftn2" name="_ftnref2">[2]</a></p>
<p>٣- مزمور ١٠١ (١٠٢)</p>
<p>جاء أربع مرّات (مزمور باكر ومزمور القدَّاس في الأحد الأوَّل من كيهك وفِي مزمور باكر ومزمور القدَّاس للشهر الصغير - النسئ) وهو مزمور مسياني خاص بالمسيح له المجد</p>
<p>4- مزمور ٣٢ (٣٣)</p>
<p>جاء أربع مرّات (مزمور عشيّة ومزمور باكر في الأحد الرابع من توت ومزمور عشيّة ومزمور باكر في الأحد الأوَّل من مسري)</p>
<p>مزمور باكر للأحد الرابع من توت والأحد الأوَّل من مسري هما نفس الآيات (مز ٣٢: ١٧، ١٨)</p>
<p>ويقول أبونا تادرس يعقوب ملطي أن هذا المزمور كان يُسْتَخْدَم في المناسبات الخاصة بتجديد العهد مع الله وربما لذلك إختارت الكنيسة منه مرتين في الشهر الأوَّل في السنة (توت) ومرتان في الشهر الأخير (مسري)</p>
<p>&#8221; ويمكن اعتبار مزمور التسبيح هذا حِكمي تعليمي، وفي نفس الوقت ليتورجي. يرى البعض أنه تسبحة خاصة بالأعياد، وُضع من أجل العيد الخاص بعقد ميثاق مع الله، يُحتفل به في بدء السنة الجديدة. إنه يمجد خطة الله العظيم في عنايته بشعبه، الأمر الذي يهب رجاءً في المستقبل. أنه تسبحة جديدة تستخدم في المناسبات الخاصة بتجديد العهد مع الله<a href="#_ftn3" name="_ftnref3">[3]</a>.&#8221;</p>
<p>ويقول عنه القديس أثناسيوس الرسولي:</p>
<p><a href="#_ftn4" name="_ftnref4">[4]</a>&#8221; كذلك إن شئت أن تغني في جماعة كثيرة من الأبرار المستقيمين فأنشد لهم المزمور الثالث والثلاثين &#8221;</p>
<p>ولعلَّه جاء توافقاً مع لقاء الرب يسوع مع زكَّا العشار ونواله برّ الله وخلاصه</p>
<p>٥- مزمور ٣٣ (٣٤)</p>
<p>جاء أربع مرّات (مزمور قدّاس الأحد الأوَّل من بابة ومزمور باكر الأحد الثاني من أمشير ومزمور باكر الأحد الثاني من بؤونة ومزمور عشيّة الأحد الثالث من بؤونة)</p>
<p>والآيات المُختَاَرة في مزمور قدّاس الأحد الأوَّل من بابة (مز ٣٣: ١، ٢) هي بعينها التي جاءت في مزمور باكر الأحد الثاني من بؤونة</p>
<p>ويقول القديس أثناسيوس عنه:</p>
<p>&#8221; وحينما تجد نفسك فى مواجهة أعدائك ونجحت بحكمة أن تهرب منهم وتتجنب خيانتهم وودت أن تعبر عن أمتنانك وتنادى على المترائفين فسبح بالمزمور الرابع والثلاثين فى حضورهم<a href="#_ftn5" name="_ftnref5">[5]</a> &#8221;</p>
<p>ومجيئه في الأحد الأوَّل من بابه والأحد الثاني من بؤونه وهما الأحدين الذي نجد فيهما إنجيل القدَّاس عن المفلوج المحمول من أربعة، وكأن شرح القديس أثناسيوس يعبِّر عن مشاعر المفلوج في إمتنانه للرب يسوع ومناداته على الأربعة الذين تراءفوا عليه</p>
<p>٦- مزمور ٦٦ (٦٧)</p>
<p>جاء أربع مرّات (في مزمور عشيّة الأحد الأوَّل والأحد الثاني من بابة ومزمور باكر الأحد الثاني من هاتور ومزمور باكر الأحد الأوَّل من بؤونة) وهو مزمور البركة</p>
<p>٧- مزمور ٨٥ (٨٦)</p>
<p>جاء أربع مرّات (مزمور عشيّة ومزمور القدَّاس للأحد الثالث من هاتور ومزمور عشيّة للأحد الرابع من هاتور ومزمور باكر الأحد الرابع من أبيب)</p>
<p>ويُلاحظ هنا تكراره مرتين في الأحد الثالث من هاتور وهو مزمور يوم الكفارة العظيم</p>
<p>٨- مزمور ٩٦ (٩٧)</p>
<p>جاء أربع مرّات (مزمور باكر للأحد الثاني والأحد الثالث من طوبة ومزمور القدَّاس للأحد الأوَّل من أمشير ومزمور باكر للأحد الخامس) وهو مزمور تسبحه الفرح</p>
<p>يقول القديس أثناسيوس أنه مزمور تسبيح الرب الملك علي الجميع وتذكُّر صلاحه علي البشر، وهو الموافق الظهور الإلهي وقبول الأمم الإيمان في الأحد الثاني والثالث من طوبه</p>
<p>&#8221; فاذا ما استعاد المدافعون البلاد وسيطر عليها الهدوء لأن الرب ملك ، وأردت أن تعبر عن تسابيحك على ذلك فاستعن بالمزمور السابع والتسعين &#8221;</p>
<p>ويقول أيضاً:</p>
<p>&#8221; وحين يغمرك العجب من عناية الله فى كل شىء وتستذكر صلاحه الذى غمرك به أنت وجميع الشعب وتلهفت الى تقديم المديح لله فتغنى بالمزمور ١٤٤ واستكمل المديح بالمزمورين(٩٢ ،٩٧)<a href="#_ftn6" name="_ftnref6">[6]</a> &#8221;</p>
<p>٩- مزمور ٣٠ (٣١)</p>
<p>تكرَّر ثلاث مرّات (مزمور باكر ومزمور القدَّاس للأحد الأوَّل من توت ومزمور باكر الأحد الأوَّل من أبيب) وهو مزمور الرجاء الذي فيه يستودع النبي حياته في يد الله واثقاً من القيامة آتية بعد الموت</p>
<p>١٠- مزمور ٩</p>
<p>تكرَّر ثلاث مرّات (في مزمور عشيّة ومزمور باكر للأحد الثالث من توت ومزمور عشيّة الأحد الأوَّل من بؤونة) وهو تسبحة شكر</p>
<p>يقول عنه القديس أثناسيوس أنه مزمور سقوط الشيطان وتقديم المجد لله، ولعل هذا هو الذي تحقق في توبة زكَّا العشار (الأحد الثالث من توت)</p>
<p>&#8221; أما فى المزمور ٩ فيهتف جهارا بسقوط الشيطان الذى تحقق فعلا فنسمعه يقول: &#8221; جلست على الكرسي قاضيا عادلا انتهرت الأمم أهلكت الشرير &#8221; كذلك لم يخف المرتل الحقيقية الواقعية وهى أن الابن أخذ كل السلطان للحكم من الآب &#8221;</p>
<p>&#8221; أما اكراما للنصر على العدو وحماية الخليقة ورغبة فى تقديم المجد لابن الله الذى حقق هذا كله فأنشد المزمور التاسع الموجه اليه &#8221;</p>
<p>كتاب رسالة القديس أثناسيوس الرسولي في معني المزامير صفحة ١٦، ٢٧ - ترجمة إيريس حبيب المصري</p>
<p>١١- مزمور ٦٥ (٦٦)</p>
<p>جاء ثلاث مرّات (مزمور القدَّاس للأحد الثاني من بابة ومزمور القدَّاس للأحد الثالث من طوبة ومزمور القدَّاس للأحد الرابع من بشنس) وهو تسبحه ليتورجيا تخص الله الملك</p>
<p>١٢- مزمور ٧٩ (٨٠)</p>
<p>جاء ثلاث مرّات (مزمور قدّاس الأحد الرابع من كيهك ومزمور باكر الاحد الرابع من طوبة ومزمور قدّاس الأحد الأوَّل من مسري) وهو مزمور خاص بالكنيسة</p>
<p>١٣- مزمور ١٤٢ (١٤٣)</p>
<p>جاء ثلاث مرّات (مزمور باكر للأحد الرابع من هاتور ومزمور القدَّاس للأحد الأوَّل من بؤونة وإنجيل قدّاس الأحد الخامس) وهو إحدى مزامير التوبة</p>
<p>ويقول عنه القديس أثناسيوس أنه مزمور النجاة من الأعداء (الشياطين) بالصلاة والتضرُّع:</p>
<p>&#8221; ولكنك قد تجد نفسك بعد ذلك محاصرا من الأعداء مرة أخرى فهل تريد من ينجيك ؟ اذن رتل المزمور المئة والأربعين أتريد بعد ذلك أن تدعم استنجادك بالصلاة والتضرع؟ استكماله بالمزمورين (٥،١٤٣ )<a href="#_ftn7" name="_ftnref7">[7]</a> &#8221;</p>
<p>المزامير التي جاءت مرتين</p>
<p>١- (مزمور ٦٠)</p>
<p>تكرَّر مرتين (مزمور القدَّاس للأحد الثالث من بؤونة ومزمور باكر للأحد الرابع من بؤونة)</p>
<p>٢- (مزمور ٦٢)</p>
<p>تكرَّر مرتين (مزمور باكر للأحد الأوَّل والأحد الثاني من بابة)</p>
<p>والآيات متتابعة</p>
<p>٣- مزمور ٦٤</p>
<p>جاء ثلاث مرّات (مزمور باكر ومزمور القدَّاس للأحد الأوَّل من هاتور ومزمور القدَّاس للأحد الثاني من طوبة)</p>
<p>٤- مزمور ٧٠</p>
<p>جاء مرتين (في مزمور عشيّة ومزمور القدَّاس للأحد الثالث من بابة)</p>
<p>٥- مزمور ٧٩</p>
<p>جاء ثلاث مرّات (في مزمور قدّاس الأحد الرابع من كيهك ومزمور باكر الأحد الرابع من طوبة ومزمور قدّاس الأحد الأوَّل من مسري)</p>
<p>٦- مزمور ٨٤</p>
<p>جاء مرتين (في مزمور باكر ومزمور القدَّاس للأحد الثالث من كيهك)</p>
<p>٧- مزمور ٩٧</p>
<p>جاء مرتين (مزمور القدَّاس للأحد الأوَّل من طوبة ومزمور عشيّة للأحد الثاني من طوبة)</p>
<p>٨- مزمور ١٠٣</p>
<p>جاء مرتين (في مزمور عشيّة ومزمور القدَّاس للأحد الثاني من هاتور)</p>
<p>٩- مزمور ٤٦</p>
<p>جاء مرتين (في مزمور عشيّة للأحد الأوَّل من طوبة ومزمور باكر للأحد الرابع من بشنس)</p>
<p>١٠- مزمور ٢٧</p>
<p>جاء مرتين (في مزمور القدَّاس للأحد الرابع من توت ومزمور القدَّاس للأحد الثالث من مسري)</p>
<p>١١- مزمور ١٢</p>
<p>جاء مرتين (مزمور عشيّة الأحد الأوَّل من كيهك ومزمور القدَّاس للأحد الثاني من بؤونة )</p>
<p>١٢- مزمور١٤</p>
<p>جاء مرتين (مزمور عشيّة الأحد الثاني من أمشير ومزمور باكر الأحد الثالث من مسري)</p>
<p>نفس الآيات</p>
<p>١٣- مزمور ٧٨</p>
<p>جاء مرتين (مزمور قدّاس الأحد الرابع من بابة ومزمور عشيّة الأحد الأوَّل من بشنس)</p>
<p>آيات مكررة</p>
<p>١٤- مزمور ٩٥</p>
<p>جاء مرتين (مزمور باكر الأحد الرابع من كيهك ومزمور القدَّاس للأحد الثاني من أمشير)</p>
<p>١٥- مزمور ٩٢</p>
<p>جاء مرتين (مزمور باكر الأحد الأوَّل من طوبي ومزمور عشيّة الاحد الخامس)</p>
<p>آيات مكررة</p>
<p>١٦- مزمور ٨٣</p>
<p>جاء مرتين (مزمور قدّاس الأحد الثاني من طوبي ومزمور عشيّة الأحد الرابع من بؤونة)</p>
<h3>البولس والكاثوليكون والإبركسيس في قراءات الآحاد</h3>
<h3>البولس</h3>
<h4>(١) القراءة المُكرَّرة</h4>
<p>الرابع من هاتور والثالث من بؤونة (١كو ٤: ١ - ١٦) +</p>
<p>الأول من أبيب والأوَّل من مسري (١كو ٩: ١ – ٢٧)+</p>
<h4>(٢) القراءة المُتشابهة</h4>
<p>) الرابع من بابة والثالث من أبيب (١تي ٦: ٣ - ٢١) (١تي ٦: ٣ – ١٦+</p>
<p>+ الرابع من بشنس والأحد الخامس (١كو ١٤: ١٨ – ٣٣) (١ كو ١٤: ١٨ - ٢٥)</p>
<h4>(٣) القراءة من نفس الرسالة لنفس الموضوع</h4>
<p>+ آحاد كيهك   رسالة رومية</p>
<p>كل قراءات البولس في هذا الشهر تتكلّم عن برّ العهد الجديد</p>
<p>&#8221; لأنَّ فيه يظهر برُّ الله بإيمان لإيمان &#8221;    الأحد الأوَّل</p>
<p>&#8221; وأما الآن فقد ظهر بر الله بدون الناموس مشهوداً له من قبل الناموس والأنبياء &#8221; الأحد الثاني</p>
<p>&#8221; فانه ليس بالناموس أعطي الوعد لإبراهيم أو لنسله أن يكون وارثاً للعالم بل ببرّ الإيمان &#8221; الأحد الثالث</p>
<p>&#8221; إنَّ الأمم الذين لم يسعوا في طلب البرَّ أدركوا البر البرَّ الذي من الإيمان &#8221;   الأحد الرابع</p>
<p>(٤) قراءة البولس لشهر بابة تتركَّز في شخص المسيح ونعمته ومحبته ونوره وقدرته</p>
<p>&#8221; لأننا رائحة المسيح الذكية لله. ظاهرين أنكم رسالة المسيح &#8221;                الأحد الأوَّل</p>
<p>هو الذي أضاء في قلوبنا نور معرفة مجد الله بوجه يسوع المسيح. لكي تظهر حياة يسوع أيضاً في جسدنا المائت &#8221;       الأحد الثاني</p>
<p>&#8221; من لا يحب الرب يسوع المسيح فليكن محروماً إلي مجئ الرب &#8221;        الأحد الثالث</p>
<p>&#8221; إلي ظهور ربنا يسوع المسيح. ساكناً في نور لا يدني منه &#8221;               الأحد الرابع</p>
<h3>الكاثوليكون</h3>
<h4>(١) القراءة المُكرَّرة</h4>
<p>الاول من هاتور والثالث من أبيب (يع ٣: ١ – ١٢) +</p>
<p>الرابع من هاتور والثاني من بؤونة (٢بط ١: ١ - ٨) +</p>
<p>الثالث من كيهك والثاني من مسري (١يو ٢: ٧ – ١٧) +</p>
<p>+ الأحد الثاني من هاتور والثالث من أمشير والثاني من أبيب (يه ١: ١٤ – ٢٥)</p>
<h4>(٢) القراءة من نفس الرسالة لنفس الموضوع</h4>
<p>+ الأحد الأول والثاني والثالث من بابة (يعقوب ٣، ٤، ٥)</p>
<p>(الأحد الأول والثاني والثالث من كيهك (رسالة يوحنا الأولي ١، ٢، ٣+</p>
<p>+ آحاد طوبة (رسالة يوحنا الأولي ٣، ٤، ٥)</p>
<p>+ الأحد الأول والثالث من مسري (١بط ٢، ٣)</p>
<h4>(٣) القراءات المتشابهة</h4>
<p>الأحد الأول من توت والرابع من أمشير (يع ١: ٢٢ - ٢٧)، (يع ١: ١٣ – ٢١)</p>
<p>الأحد الأول من بؤونة والأوَّل من أبيب (١بط ١: ١ - ٩)، (١بط ١: ١ – ١٢)</p>
<p>الأحد الأول من بابة والرابع من أبيب (١بط ١: ٢٢ - ٢: ١ - ٥)، (١بط ١: ٢٥ - ٢: ١ - ١٠)</p>
<p>الأحد الثالث والرابع من بابة والرابع من مسري (يع ٤: ٧ – ١٧)، ( يع ٤: ١٧ - ٥: ١١) ، (يع ٤: ٧ - ٥: ١ - ٥ )</p>
<p>الأحد الثالث من طوبة والأوَّل من بشنس (١يو ٤: ١١ - ٢١)، (١يو ٤: ١٥ - ٥: ١ - ٤ )</p>
<p>الأحد الأول من أمشير وأحد النسئ (٢ بط ٣: ١٤ - ١٨)، ٢ بط ٣: ١ – ١٨)</p>
<h3>الإبركسيس</h3>
<h4>القراءات المتتابعة</h4>
<p>١- الإبركسيس الخاص بالأحد الثالث (أع ٩: ٢٢ - ٣١) والرابع (أع ٩: ٣٦ - ٤٢) من توت من الإصحاح التاسع</p>
<p>الأحد الثالث يحكي قصة شاول وبرنابا (الرجل) والرابع قصة شفاء طابيثا (المرأة)</p>
<p>٢- الإبركسيس الخاص بشهر بابة من إصحاحات ١٣، ١٤، ١٥، ١٦ بالتتابع وهي القراءات الأربعة التي تتكلّم عن خلاص المسيح وقبول الأمم في الإيمان &#8221; وأنه فتح للأمم باب الإيمان &#8221;</p>
<p>٣- قراءة الإبركسيس للأحد الثاني (أع ٥: ١٩ - ٢٩) والثالث (أع ٥: ٣٠ - ٤٢) من هاتور والقراءتين تتكلمان عن كرازة الآباء الرسل وإلقاء القبض عليهم وشهادة القديس بطرس أمام رؤساء الكهنة ودفاع غمالائيل عنهم والكلام هنا أيضاً عن الروح القدس (موضوع شهر هاتور)</p>
<p>&#8221; ونحن شهود لهذه الأقوال والروح القدس أيضاً الذي أعطاه الله للذين يطيعونه &#8221;</p>
<p>٤- الإبركسيس للأحد الأول (أع ٧: ٣٠ - ٣٤) والثاني (أع ٧: ٣٥ - ٥٠) والثالث (أع ٧: ٨ - ٢٢) من شهر كيهك من نفس الإصحاح الذي تكلَّم عن رموز التجسّد في العهد القديم وظهورات الله للبشر كإعداد لتجسد الكلمة ورموز المُخلِّص مثل يوسف</p>
<p>&#8221; ظهر له ملاك في برية جبل سيناء &#8221;                       الأحد الثاني</p>
<p>&#8221; بيد الملاك الذي ظهر له في العليقة &#8221;                     الأحد الثالث</p>
<p>&#8221; وفِي المرة الثانية أظهر يوسف نفسه لإخوته &#8221;            الأحد الرابع</p>
<p>٥- الإبركسيس للأحد الأوَّل (أع ٥: ١٢ - ٢١) والثاني (أع ٥: ١٩ -٢٣) من أبيب من نفس الإصحاح والكلام هنا على قوَّة الكرازة وهذا هو موضوع شهر أبيب</p>
<p>٦- شهر أبيب هو شهر الكرازة وشهر الآباء الرسل لذلك يبدأ الأحد الأوَّل بالآيات والعجائب التي تمت علي يد القديس بطرس حتى كان ظله يشفي المرضي في الشوارع ويختم بالأحد الرابع ببولس الرسول الذي كانت المناديل والمآزر من على جسده تشفي الأمراض وتُخْرِج الأرواح الشريرة</p>
<p>&#8221; ٧- وجرت علي أيدي الرسل آيات وعجائب كثيرة في الشعب. حتى أنهم كانوا يُخرجون المرضي في الشوارع ويضعونهم على أسرة وفراش حتى إذا مرَّ بطرس يخيم ولو ظله على أحد منهم &#8221;      إبركسيس الأحد الأوَّل</p>
<p>&#8221; وكان الله يصنع علي يدي بولس قوات كثيرة حتي أنهم كانوا يأخذون مناديل ومآزر من علي جسده ويضعونها علي المرضي فتزول عنهم الأمراض وتخرج الأرواح الشريرة &#8220;. إبركسيس الأحد الرابع</p>
<h3>الأناجيل</h3>
<h4>أناجيل عشيّة</h4>
<p>+ إنجيل عشيّة الأحد الثاني من توت (لو ٤: ٣٨ - ٤١) هو نفس إنجيل عشيّة الأحد الثاني من بؤونة</p>
<p>إنجيل عشيّة الأحد الأوَّل من بابه (مت ١٤: ١٥ - ٢١) هو نفس إنجيل عشيّة أحد البركة+</p>
<p>إنجيل عشيّة الأحد الرابع من بابه (مت ١٤: ٢٢ - ٣٦) هو نفس إنجيل عشيّة الأحد الثاني من طوبه +</p>
<p>+ يتشابه إنجيل عشيّة الأحد الثالث من توت (مر ١: ٢٩ - ٣٤) مع إنجيل عشيّة الأحد الثالث من كيهك (مر ١: ٢٣ - ٣١) ويتشابه إنجيل عشيّة الأحد الرابع من طوبة (يو ٥: ٣١ - ٤٦) مع إنجيل عشيّة الأحد الثالث من أمشير ( يو ٥ : ٣٩ - ٤٧ ) +</p>
<p>يأتي إنجيل عشيّة الأحد الثالث والرابع من بشنس من نفس الإصحاح (مت ٢٢: ٣٤ – ٤٠)، (مت ٢٢: ٤١ - ٤٦) +</p>
<h4>أناجيل باكر</h4>
<p>+ يتشابه إنجيل باكر الأحد الأوَّل من توت (مت ١٥: ٢١ - ٢٨) مع إنجيل باكر الأحد الثالث من كيهك (مت ١٥: ٢١ - ٣١)</p>
<p>+ يتشابه إنجيل باكر الأحد الثالث من طوبه (يو ٣: ١ - ٢١) مع إنجيل باكر الأحد الثاني من أمشير (يو ٣: ١٧ - ٢١)</p>
<p>تأتي أناجيل باكر في شهور بابة وهاتور وبشنس وبؤونة وأبيب ومسري عن قيامته المُقدَّسة</p>
<p>ويأتي بصفة عامة إنجيل باكر الأحد الأوَّل من كل هذه الشهور من (مت ٢٨: ١ – ٢٠)</p>
<p>وإنجيل باكر الأحد الثاني من (مر ١٦: ٢ - ٨)</p>
<p>وإنجيل باكر الأحد الثالث من (لو ٢٤: ١ - ١٢)</p>
<p>وإنجيل باكر الأحد الرابع من (يو ٢٠: ١ - ١٨)</p>
<p>وتتوافق في هذا التقليد والترتيب مع كنيستنا المُقدَّسة الكنيسة اليونانية، فتأتي فيها قراءات قيامة الرب من بعد عيد الخمسين وتتكرَّر طوال العام حتى في الصوم الكبير، وتأتي في إحدي عشر شاهد عن قيامة الرب من الأناجيل الأربعة وتُسمَّي &#8221; بالأحد عشر إنجيل الباكرية، أو أناجيل الايوثينا &#8221; وهم بالترتيب:</p>
<p>(مت ٢٨: ١٦ - ٢٠)، (مر ١٦: ١) (مر ١٦: ٩ – ٢٠)، (لو ٢٤: ١ – ١٢)، (لو ٢٤: ١٢ - ٣٥)، (لو ٢٤: ٣٦ - ٥٣ )،</p>
<p>(يو ٢٠: ١ – ١٠)،( يو ٢٠ : ١١ – ١٨) ، (يو ٢٠ : ١٩ – ٣١) ،( يو ٢١ : ١ - ١ )، (يو ٢١ : ١٤ - ٢٥)</p>
<p>(يُمْكِن الرجوع إلي كتاب قراءات الكنيسة اليونانية - الإنجيل الإلهي والرسائل صفحة ٢١٤ - وأيضاً كتاب السنة الكنسية القبطية ص ١٤ للعلَّامة يسي عبد المسيح - إصدار الأغسطس نبيل فاروق فايز)</p>
<h4>أناجيل القدّاسات</h4>
<p>+ يتكرَّر إنجيل لقاء الرب مع زَكَّا في الأحد الثالث من توت (لو ١٩: ١ - ١٠) والأحد الرابع من أمشير</p>
<p>+ يتشابه إنجيل الأحد الثالث من بابه (مت ١٢: ٢٢ - ٢٨) مع إنجيل قدّاس الأحد الثالث من بؤونة (مت ١٢: ٢٢ - ٣٧)</p>
<p>يتشابه إنجيل قدّاس الأحد الثالث من أبيب (لو ٩: ١٠ - ١٧) مع إنجيل قدّاس أحد البركة (لو ٩: ١٢ - ١٧) +</p>
<p>+ تأتي قراءات أناجيل قدّاسات آحاد شهر كيهك كلها من الإصحاح الأوَّل من إنجيل لوقا (لو ١: ١ - ٢٥)، (لو ١: ٢٦ – ٣٨)،</p>
<p>(لو ١: ٣٩- ٥٦)، (لو ١:  ٥٧ - ٨٠ )</p>
<p>+ تأتي قراءات أناجيل قدّاسات الأحد الأوَّل والثاني والثالث من أمشير من الإصحاح السادس من إنجيل يوحنا (يو ٦: ٢٢ – ٢٧)،</p>
<p>(يو ٦: ٥ – ١٤)، (يو ٦: ٢٧ - ٤٦))</p>
<h4>الأناجيل المُكرَّرة عامة (في عشيّة وباكر والقدّاس)</h4>
<p>إنجيل قدّاس الأحد الرابع من توت (لو ٧: ٣٦ - ٥٠) هو نفس إنجيل عشيّة الأحد الثاني من كيهك</p>
<p>إنجيل عشيّة الأحد الثالث من مسري (لو ١١: ٢٧ - ٣٦) هو نفس إنجيل قدّاس الأحد الثاني من طوبة</p>
<h4>الأناجيل المُكرَّرة بشواهد مُختلفة</h4>
<p>+ إنجيل شفاء حماة سمعان</p>
<p>جاء في عشيّة الأحد الثاني من توت (لو ٤: ٣٨ - ٤١) وعشية الأحد الثالث من توت (مر ١: ٢٩ - ٣٤) وعشية الأحد الثاني من بؤونه (لو ٤: ٣٨ - ٤١)</p>
<p>+ إنجيل شفاء غلام قائد المئة</p>
<p>جاء في باكر الأحد الثالث من توت (مت ٨: ٥ - ١٣) وعشية الأحد الرابع من أبيب (لو ٧: ١ - ١٠)</p>
<p>+ إنجيل البركة</p>
<p>جاء في إنجيل عشيّة الأحد الأوَّل من بابه (مت ١٤: ١٥ - ٢١)، إنجيل قدّاس الأحد الثاني من أمشير (يو ٦: ٥ - ١٤)، وإنجيل قدّاس الأحد الثالث من أبيب (لو ٩: ١٠ - ١٧) وإنجيل عشيّة وباكر والقدّاس (مت ١٤: ١٥ - ٢١) ، (مر ٦ : ٣٥ - ٤٤ )، (لو ٩ : ١٢ - ١٧)</p>
<p>+ إنجيل مجيء الرب في الهزيع الرابع ماشياً على الماء</p>
<p>إنجيل عشيّة الأحد الرابع من بابه (مت ١٤: ٢٢ - ٣٦)، إنجيل عشيّة الأحد الثاني من طوبه (مت ١٤: ٢٢ - ٣٦)، إنجيل عشيّة الأحد الأوَّل من أمشير (يو ٦: ١٥ - ٢١)، إنجيل عشيّة الأحد الأوَّل من مسري (مر ٦: ٤٥ - ٥٦)</p>
<p>إنجيل انتهار الشياطين +</p>
<p>إنجيل عشيّة الأحد الثاني من توت (لو ٤: ٣٨ - ٤١)،</p>
<p>إنجيل عشيّة الأحد الثالث من توت (مر ١: ٢٩ - ٣٤)،</p>
<p>إنجيل عشيّة الأحد الرابع من هاتور (مت ١٧: ١٤ - ٢١)،</p>
<p>إنجيل عشيّة الأحد الثالث من كيهك (مر ١: ٢٣ - ٣١)،</p>
<p>إنجيل عشيّة الأحد الأوَّل من طوبه (لو ٤: ٤٠ - ٤٤ )</p>
<p>وإنجيل باكر الأحد الأوَّل من طوبه ( لو ٤ : ٣١ - ٣٧ ) ،</p>
<p>إنجيل باكر الأحد الثاني من طوبه ( مر ٣ : ٧ - ١٢ )</p>
<p>إنجيل عشيّة الأحد الثاني من بؤونه ( لو ٤ : ٣٨ - ٤١ )</p>
<p><a href="#_ftnref2" name="_ftn2">[١]</a> كتاب رسالة القديس أثناسيوس الرسولي في معني المزامير صفحة ٣١ - ترجمة إيريس حبيب المصري</p>
<p><a href="#_ftnref2" name="_ftn2">[2]</a>  كتاب رسالة القديس أثناسيوس الرسولي في معني المزامير صفحة ٢٦ - ترجمة إيريس حبيب المصري</p>
<p><a href="#_ftnref3" name="_ftn3">[3]</a> القمص تادرس يعقوب ملطي - تفسير مزمور ٣٣</p>
<p><a href="#_ftnref4" name="_ftn4">[4]</a> كتاب رسالة القديس أثناسيوس الرسولي في معني المزامير صفحة ٢٩ - ترجمة إيريس حبيب المصري</p>
<p><a href="#_ftnref5" name="_ftn5">[5]</a> كتاب رسالة القديس أثناسيوس الرسولي في معني المزامير صفحة ٢٩ - ترجمة إيريس حبيب المصري</p>
<p><a href="#_ftnref6" name="_ftn6">[6]</a> كتاب رسالة القديس أثناسيوس الرسولي في معني المزامير صفحة ٣٤، ٣٦ - ترجمة إيريس حبيب المصري</p>
<p><a href="#_ftnref7" name="_ftn7">[7]</a> كتاب رسالة القديس أثناسيوس الرسولي في معني المزامير صفحة ٣٦ - ترجمة إيريس حبيب المصري</p>

      {% endcreateArticleAccordions %}
    </section>
  {% endblock %}
