---
layout: 'layouts/reading.html'
title: '-الثالوث في قراءات آحاد السنة القبطية'
tags: 'sundays'
permalink: /articles/sundays/1370.html
---
  {% block content %}
    <section id="article">
      <h3 class="mt-8 mb-4 heading-explain">شرح القراءات</h3>
      {% createArticleAccordions %}
        <p>جاء في فصل (موضوع قراءات الآحاد) كيف أُسْتعلن الثالوث في الاتجاه الرأسي للقراءات (من توت إلى النسئ)، وهنا يُسْتَعلن الثالوث في الاتجاه الأفقي للقراءات (من مزمور عشيَّة حتى إنجيل القدَّاس)</p>
<p>يتضح في قراءات الكنيسة في الآحاد والأيَّام محبة الله الآب ومراحمه الغنية ورأفاته وتدبير محبّته</p>
<p>، كما تُظهر القراءات فعل الإبن وخلاصه وفداؤه وقوّته وسلطانه، ونري فيها شركة وعطية وموهبة الروح القدس وملء مواهبه وعطاياه في الكنيسة المُقدَّسة</p>
<p>ويقول الأب أوجو زانيتي أن المزامير في قراءات الكنيسة القبطية الأرثوذكسية تتكلّم عن رأفة الله الآب</p>
<p><a href="#_ftn1" name="_ftnref1">[1]</a>&#8221; المزامير تُعْلِن رأفة الله الآب &#8221;</p>
<p>Les Lectionnaires Coptes Annuels Basse - Egypte (Ugo Zanetti)</p>
<p>ويقترب هذا الكلام في رأيي من حقيقة إعلان المزامير في القراءات فنري دائماً فيها إفتقاد الله لشعبه وغني مراحمه وتدبير محبّته وطبيعي أن تتكلّم المزامير عن الله الآب لأن داود النبي ومن كتبوا المزامير لم يكونوا قد أدركوا بعد سر الثالوث</p>
<p>كما يُمكننا أن نري أيضاً في الأناجيل إبن الله وسلطانه وفداؤه ونوره وطريق وتدبير خلاصه وطبيعي أيضاً أن تتكلّم الأناجيل والبشيرين الأربعة عن الكلمة المُتجسِّد ويكون هو محور بشارتهم وجوهر الأناجيل الأربعة</p>
<p>وتشرح قراءات البولس والكاثوليكون والإبركسيس عمل الروح القدس للكنيسة وفيها وشركة المؤمنين وشهادتهم للحياة الجديدة وهذا هو موضوع سفر الأعمال والرسائل</p>
<p>المزامير                                                  غني رأفات الله الآب للبشر وبرّه الإلهي</p>
<p>الأناجيل                                                 مجد خلاص الإبن وأعمال قدرته</p>
<p>البولس والكاثوليكون والإبركسيس            فعل الروح القدس في الكنيسة المُقدَّسة وشهادتها له</p>
<h4>المزامير</h4>
<p>تُعْلِن المزامير غني رأفات الله الآب ومحبته للبشر وبرّه الإلهي للكنيسة وللمؤمنين</p>
<p>والعجيب أننا نري في مزامير الآحاد (مائة وعشرون) مدي محبة الله الآب للبشرية وإفتقاده الإلهي والمجد الذي يسكبه في أولاده ويَغْلُب على قراءات المزامير نغمة الحب الإلهي وفرح الله الآب بشعبه وقليلاً تأتي نغمة الدينونة وكأنه يقول لشعبه أنهم كرمة مُشْتهاه وليس له غيظ وليتنا نُقَدِّم له شوكنا وحسكنا (أش ٢٧: ٢ - ٤)</p>
<p>وتمتلئ قراءات بالمزامير بالدعوة للفرح والتسبيح (٥٠ قراءة) وإعلان بِرُّه ورأفاته ومراحمه وصلاحه ومعونته (٤٢ قراءة) وخَلَاصُه للكنيسة ولكل مؤمن (١٩ قراءة)</p>
<p>أمَّا الكلام عن الدينونة الإلهية (٩ قراءات) هو أقلَّ ما جاء في المزامير</p>
<p>وربما هذا يكشف عن رسم التعليم الكنسي وزينته في إعلان غني الحب الإلهي والفرح بالخلاص، وتمجيد إسم الله علي بِرَّه الإلهي للكنيسة وشعبها أكثر من التحذيرات والتوبيخيات والإنذارات</p>
<p>دعوة الفرح والتسبيح</p>
<p>من أكثر ما جاء في المزامير الدعوة إلى الفرح والتسبيح بالله على محبّته ومعونته وخلاصه</p>
<p>أمثلة:</p>
<p>&#8221; بخلاصك يتهللُ جداً &#8221;                              مزمور القدَّاس للأحد الثاني من توت</p>
<p>&#8221; في كل حين تسبحته في فمي &#8221;              مزمور القدَّاس للأحد الأوَّل من بابه</p>
<p>&#8221; فليمتلئ فمي سبحاً &#8221;                          مزمور القدَّاس للأحد الثالث من بابه</p>
<p>&#8221; فلتفرح السموات ولتبتهج الأرض &#8221;       مزمور باكر للأحد الرابع من كيهك</p>
<p>&#8221; لأنك فرحتني يارب بصنيعك &#8221;             مزمور عشيّة للأحد الرابع من أمشير</p>
<p>&#8221; أسبح الرب الذي أحسن إليَّ &#8221;               مزمور القدَّاس للأحد الثاني من بؤونه</p>
<p>&#8221; سبحوا يا عبيد الرب الواقفين في بيت الرب &#8221; مزمور باكر للأحد الثالث من أبيب</p>
<p>لمزيد من التفصيل حول دعوة الفرح والتسبيح يمكن مراجعة مزامير آحاد:</p>
<p>عشيّة أول توت ، قدّاس ثاني توت ، عشيّة وباكر والقدّاس ثالث توت ، باكر رابع توت ، قدّاس أول بابه ، عشيّة وباكر والقدّاس ثاني بابه ، عشيّة وباكر والقدّاس ثالث بابه ، عشيّة وباكر والقدّاس رابع بابه ، باكر ثالث هاتور ، عشيّة رابع هاتور ، باكر أول كيهك ، باكر رابع كيهك ، عشيّة أول طوبة ، باكر ثاني طوبه ، قدّاس ثالث طوبه ، قدّاس أول وثاني أمشير ، باكر والقدّاس ثالث أمشير ، عشيّة وباكر رابع أمشير ، قدّاس ثالث بشنس ، باكر والقدّاس رابع بشنس ،  عشيّة وباكر والقدّاس ثاني بؤونه ، قدّاس ثالث بؤونه ، عشيّة وباكر والقدّاس رابع بؤونه ، باكر ثالث أبيب ، عشيّة وباكر والقدّاس رابع أبيب ، باكر أول مسري ، باكر والقدّاس ثاني مسري ، عشيّة والقدّاس ثالث مسري ، عشيّة أحد النسئ ، باكر الأحد الخامس</p>
<p>صَلَاحْ الآب وبرُّه الإلهي ورأفاته ومعونته ومراحمه</p>
<p>أمثلة</p>
<p>&#8221; ما أعظم كثرة صلاحك يارب &#8221;         مزمور باكر وقدّاس الأحد الأوَّل من توت</p>
<p>&#8221; ليتراءف الله علينا ويباركنا &#8221;             مزمور عشيّة الأحد الأوَّل من بابه</p>
<p>&#8221; أنت يارب ترجع وترأف علي صهيون &#8221; مزمور القدَّاس للأحد الأوَّل من كيهك</p>
<p>&#8221; وأنا بالبرِّ أعاين وجهك &#8221;                مزمور عشيّة الأحد الثالث من أمشير</p>
<p>&#8221; لأن الرب قد استجاب للبائسين &#8221; مزمور قدّاس الأحد الرابع من بؤونه</p>
<p>&#8221; ما أعظم جودك يارب &#8221;                مزمور باكر الأحد الأوَّل من أبيب</p>
<p>&#8221; لأن رحمتك عظيمة عليَّ &#8221;             مزمور باكر الأحد الرابع من أبيب</p>
<p>لمزيد من التفصيل يُمْكِن الرجوع لكل المزامير الخاصة بهذا الموضوع</p>
<p>مزامير عشيّة وباكر وقدّاس أوَّل توت ، باكر ثاني توت ، قدّاس ثالث توت ، باكر رابع توت ، عشيّة أول بابه ، قدّاس ثالث هاتور ، باكر رابع هاتور ، باكر وقدّاس أول كيهك ، عشيّة وباكر ثاني كيهك ، عشيّة وباكر وقدّاس ثالث كيهك ، قدّاس أول طوبه ، قدّاس ثاني ورابع طوبه ، باكر أول أمشير ، عشيّة وباكر وقدّاس ثالث أمشير ، باكر رابع أمشير ، باكر وقدّاس أول بؤونه ، قدّاس ثاني بؤونه ، قدّاس رابع بؤونه ، باكر أول وثاني أبيب ، عشيّة ثالث أبيب ، عشيّة وباكر رابع أبيب ، عشيّة وباكر أول مسري ، عشيّة وباكر ثاني مسري ، عشيّة وقدّاس ثالث مسري ، باكر رابع مسري ، عشيّة الأحد الصغير</p>
<p>أمَّا الكلام عن دينونة الله لا تتعدي تسع قراءات من مجموع مئة وعشرين!</p>
<p>&#8221; الله قاضي عادل &#8221;                              مزمور عشيّة الأحد الثاني من توت</p>
<p>&#8221; يُحبُّ الرحمة والحكم &#8221;                      مزمور عشيّة الأحد الرابع من توت</p>
<p>&#8221; لأنك تحكم في الشعوب بالاستقامة &#8221; مزمور عشيّة الأحد الثاني من بابه</p>
<p>&#8221; إنه يأتي ليدين المسكونة بالعدل &#8221;   مزمور باكر الأحد الرابع من كيهك وعشية الأحد الأوَّل من طوبه</p>
<p>وعليّ ومرهوب                                 مزمور عشيّة الأحد الأوَّل من طوبه</p>
<p>&#8221; العدل والقضاء قوام عرشه             مزمور باكر الأحد الثاني من طوبه</p>
<p>&#8221; قُم يا الله ودِن الأرض &#8221;                   مزمور الأحد الأوَّل من أمشير</p>
<p>وعظيم ومرهوب                              مزمور قدّاس الأحد الأوَّل من أبيب</p>
<p>وتكشف المزامير عن طبيعة الله الآب فهو</p>
<p>قاضي عادل وقوي وطويل الروح       مزمور عشيّة الأحد الثاني من توت</p>
<p>ومعين عزيز                                    مزمور قدّاس الأحد الثالث من بابه</p>
<p>وعالٍ فوق الأمم                    مزمور باكر الأحد الثالث من هاتور ومزمور عشيّة الأحد الرابع من بشنس</p>
<p>ورؤوف ورحيم                           مزمور قدّاس الأحد الثالث من هاتور</p>
<p>وعظيم وصانع العجائب             مزمور عشيّة الأحد الرابع من هاتور</p>
<p>وعليّ ومرهوب                         مزمور عشيّة الأحد الأوَّل من طوبه</p>
<p>وعظيم ومُسبَّح جداً                 مزمور قدّاس الأحد الأوَّل من أمشير</p>
<p>وعظيم ومرهوب                      مزمور قدّاس الأحد الأوَّل من أبيب</p>
<p>وعادل في كل طرقه                 مزمور قدّاس الأحد الثالث من أبيب</p>
<h3>البولس</h3>
<p>يأتي الكلام مُباشرة عن الروح القدس (١٤) أربع عشر مرة</p>
<p>الآحاد ثاني وثالث توت، أول وثاني بابه، أول كيهك، أول وثاني وثالث طوبه، أول وثالث أمشير، أول وثاني بؤونة ، رابع أبيب ، ثاني مسري</p>
<p>والروح القدس في هذه القراءات هو الذي يحفظ وديعة الإيمان الصالحة في قلوبنا ( الأحد الثاني من توت ) وهو الذي يفتح عيوننا علي الأشياء الموهوبة لنا من الله ( الأحد الثالث من توت والأحد الثاني من بؤونه ) وهو الذي يلمس قلوب المخدومين ويكشف عن جوهر كلمة الحياة ( الأحد الأوَّل من بابه ) ويدعم إيماننا ( الأحد الثاني من بابه ) وطهارتنا وقداستنا ( الأحد الأوَّل من كيهك ) ويجعل ذبيحة خدمتنا مقبولة ( الأحد الأوَّل من طوبه ) ويمنحنا رجاء البر ( الأحد الثاني من طوبه والأحد الأوَّل من بؤونه ) وهو روح النعمة الذي يجب أن لا نزدري به ( الأحد الثالث من طوبه ) ومصدر إغتسالنا وتقديسنا وتبريرنا ( الأحد الأوَّل من أمشير ) وبوق التوبة للجميع ( الأحد الثالث من أمشير ) وأساس شركة الكنيسة ( الأحد الرابع من أبيب ) ونصرتها علي قوات الظلمة ( الأحد الثاني من مسري )</p>
<h4>الكاثوليكون</h4>
<p>يأتي الكلام عن الروح القدس مُباشرة في قراءات الكاثوليكون للآحاد (١٢) إثني عشر مرة</p>
<p>ثاني بابه، ثاني وثالث هاتور، رابع كيهك، ثاني وثالث طوبه، ثالث أمشير، أول وثالث بؤونة ، اول وثاني أبيب ، ثالث مسري</p>
<p>كما يأتي الكلام عن جوهر الكنيسة وعمل الروح القدس فيها من خلال الإيمان الأقدس والمحبّة الأخوية</p>
<p>(١) الإيمان الأقدس والثمين</p>
<p>جاء في الآحاد الثاني والرابع هاتور، وثالث أمشير، وأول وثاني بؤونة ، وأول وثاني أبيب</p>
<p>(٢) المحبّة الأخوية</p>
<p>جاءت في الآحاد ثاني ورابع هاتور، أول وثالث بابه، ثالث كيهك، أول وثاني طوبه، ثاني أمشير، ثالث ورابع بشنس، رابع بؤونة ، أول وثاني ورابع مسري</p>
<h3>الإبركسيس</h3>
<p>يأتي الكلام مُباشرة عن الروح القدس في قراءات الإبركسيس في الآحاد (١٥) خمس عشر مرة</p>
<p>الأحد الثاني من توت - ثالث توت - ثالث بابه - أول وثالث هاتور - أول كيهك - ثاني وثالث ورابع طوبة - ثالث ورابع بشنس - أول بؤونه - ثالث ورابع مسري - النسئ</p>
<p>ويأتي الكلام عن عمل الروح القدس في الكنيسة في الإبركسيس لكل قراءات الآحاد تقريباً</p>
<p>١- الأسرار الكنسية</p>
<p>المعمودية: ثالث طوبه، أول هاتور وأول كيهك، ثالث ورابع طوبه، رابع أمشير وبشنس وبؤونة</p>
<p>الإفخارستيا: ثالث طوبه، ثالث أمشير، ثاني مسري</p>
<p>الكهنوت: ثالث ورابع بابه، ثاني طوبه، أول بؤونة</p>
<p>التوبة والاعتراف: رابع أبيب</p>
<p>(٢) الصوم في تكريس الخدمة: الأحد الأوَّل من بؤونة</p>
<p>(٣) مجمع كنسي: ثالث بابه، ثاني طوبه (وصايا المجمع)</p>
<p>(٤) الشهادة والكرازة: كل قراءات توت وأبيب وثاني وثالث ورابع قراءات هاتور وكيهك وأمشير وبؤونة وأول وثاني بابه وثالث بشنس ورابع مسري والنسئ</p>
<p>(٥) قبول الأمم في الإيمان: أول هاتور وأول ورابع طوبه، وثالث ورابع بشنس، ورابع بؤونة</p>
<p>(٦) المواهب والمُعجزات: رابع توت وأول هاتور، أول كيهك وثالث طوبه وأمشير، أول بؤونة وأبيب، رابع أبيب ومسري، النسئ</p>
<p>(٧) مُؤازرة السماء للخدّام والكارزين وللكنيسة: ثاني هاتور ورابع طوبه، أول وثاني أمشير، رابع بشنس، أول ورابع بؤونة ، أول وثاني ورابع أبيب</p>
<h3>الأناجيل</h3>
<p>تتكلّم الأناجيل عن إبن الله وأعمال قدرته وسلطانه وخلاصه للبشر</p>
<h4>(١) أناجيل عشيّة</h4>
<p>تسير قراءات أناجيل عشيّة مع موضوعات قراءات الأحد خاصة وقراءات الشهر عامة باستثناءات قليلة</p>
<h4>شهر توت</h4>
<p>الأحد الأوَّل إنجيل عشيّة وباكر والقدّاس عن يوحنا المعمدان</p>
<p>الأحد الثالث في إنجيل عشيّة يدخل بيت بطرس وأندراوس مانحاً الشفاء وفي إنجيل باكر أيضاً مانحاً الشفاء لغلام قائد المئة المطروح في البيت وفِي إنجيل القدَّاس يدخل بيت زَكَّا مانحاً الخلاص</p>
<p>والأحد الرابع يمنح الشفاء والخلاص للمرأة نازفة الدم ويُقيم ابنة يايرس من الموت في إنجيل عشيّة وابنة المرأة الكنعانية في إنجيل باكر ويمنح الخلاص للمرأة الخاطئة في إنجيل القدَّاس</p>
<p>وبالإجمال قراءات هذا الشهر تُعْلِن محبة الله الآب للبشر التي استعلنت في تجسّد الكلمة</p>
<h4>شهر بابة</h4>
<p>تُعْلِن قراءات هذا الشهر قدرة إبن الله</p>
<p>فنراها في إشباع الجموع من خمسة خبزات وسمكتين (عشيّة الأحد الأوَّل) وفِي سلطانه علي البحر وعلي السمك (عشيّة الأحد الثاني) وعلى الريح والبحر (عشيّة الأحد الثالث) وعلى الريح والبحر والماء (عشيّة الأحد الرابع)</p>
<h4>شهر هاتور</h4>
<p>يتكلَّم إنجيل عشيّة الأحد الأوَّل عن مثل الزارع (موضوع قراءات اليوم) وفِي عشيّة الأحد الثاني عن الزهور والعشب وكيف تنمو (نفس جوهر موضوع قراءات اليوم) وإنجيل عشيّة الأحد الثالث عن حمل النير (موضوع قراءات اليوم عن حمل الصليب والتلمذة للمسيح) وفِي عشيّة الأحد الرابع رجل يجثو على ركبتيه طالباً الشفاء لإبنه (في إنجيل القدَّاس يجثو آخر علي ركبتيه يسأل الحياة الأبديّة)</p>
<h4>شهر كيهك</h4>
<p>في الأحد الأوَّل والأحد الثاني تأتي قارورة الطيب في إنجيل عشيّة إعلان عن الحب الإلهي لغة تلاقي الإنسان مع الله لذلك تأتي قارورة الطيب من المرأة على رأس السيد في الأحد الأوَّل إعلان عن محبتها الشديدة له وقارورة الطيب عند قدميه في الأحد الثاني إعلان عن التوبة</p>
<p>وفِي الأحد الثالث والرابع تخرج الشياطين من البشر ويصيروا خدّام الرب</p>
<p>&#8221; جاءت امرأة معها قارورة طيب ناردين خالص كثير الثمن &#8221;   إنجيل عشيّة الأحد الأحد الأوَّل</p>
<p>&#8221; أخذت قارورة طيب ووقفت عند قديمة من ورائه باكية &#8221; إنجيل عشيًة الأحد الثاني</p>
<p>&#8221; لأنه بسلطان يأمر الأرواح النجسه فتطيعه &#8230; فتركتها الحمَّي وصارت تخدمهم &#8221; الأحد الثالث</p>
<p>&#8221; مريم التي تدعي المجلية التي أخرج منها سبعة شياطين. كن يخدمنه من أموالهن &#8221; الأحد الرابع</p>
<h4>شهر طوبة وأمشير</h4>
<p>تأتي أناجيل عشيّة آحاد طوبه وأمشير لتُعْلِن الشهادة لابن الله لكن في البداية يرفض الرب شهادة الشيطان له ( الأحد الأوَّل من طوبه ) ويقبل شهادة التلاميذ ( الأحد الثاني من طوبه ) ويُعْلِن بنوَّته للآب ويشهد لأعماله مع الآب ( الأحد الثالث من طوبه ) ويشهد له يوحنا المعمدان ويشهد له الآب وتشهد له أعماله ( الأحد الرابع من طوبه ) وتشهد له الكتب ( الأحد الرابع من طوبه والأحد الثالث من أمشير ) ويُعْلِن ذاته لتلاميذه ( الأحد الأوَّل من أمشير ) وتُعْلِن أعماله ومعجزاته لاهوته ( الأحد الثاني من أمشير ) لذلك لا يوجد مجال لإفتخار بشر في أعمال الله خلاله ( الأحد الرابع من أمشير )</p>
<p>&#8221; فكان ينتهرهم ولم يدعهم يتكلمون لأنهم عرفوه أنه هو المسيح        &#8221; الأحد الأوَّل من طوبه</p>
<p>&#8221; سجدوا له قائلين: بالحقيقة أنت ابن الله &#8221;                                    الأحد الثاني من طوبه</p>
<p>&#8221; أبي يعمل حتي الآن وأنا أيضاً أعمل &#8221;                                         الأحد الثالث من طوبه</p>
<p>&#8221; وأمَّا أنا فلي شهادة أعظم من يوحنا ، لأن الأعمال التي أعطاني الآب لأكملها ، هذه الأعمال بعينها التي أنا أعملها ، هي تشهد لي ، أن الآب قد أرسلني ، والآب نفسه الذي أرسلني يشهد لي. فتشوا الكتب التي تظنون أن لكم فيها حياة أبدية، وهي التي تشهد لي &#8221;</p>
<p>الأحد الرابع من طوبه</p>
<p>&#8221; فقال لهم: أنا هو لا تخافوا &#8221;                                                         الأحد الأوَّل من أمشير</p>
<p>&#8221; ففهم أبوه أنه في تلك الساعة التي قال له فيها يسوع: إن ابنك حي فآمن هو وبيته كله &#8221;</p>
<p>الأحد الثاني من أمشير</p>
<p>&#8221; فتشوا الكتب التي تظنون أن لكم فيها حياة أبدية ، وهي التي تشهد لي &#8221; الأحد الثالث من أمشير</p>
<p>&#8221; كذلك أنتم أيضاً متي فعلتم كلَّ ما أُمرتم به فقولوا إننا عبيد بطالون &#8221; الأحد الرابع من أمشير</p>
<h4>شهر بشنس وبؤونة</h4>
<p>هنا يأتي إعلان الإبن عن الآب</p>
<p>عن وصيته العُظمي (الأحد الثالث من بشنس والأحد الثالث من بؤونه)، وعن بنوَّته له (الأحد الرابع من بشنس والأحد الأوَّل من بؤونه ) ، وعن عطيته ( الأحد الثالث من بؤونه ) ، وعن كمالاته ( الأحد الرابع من بؤونه ) ، ورفضه لإعتراف الشياطين له بأنه ابن الله ( الأحد الثاني من بؤونه )</p>
<p>&#8221; هذه هي الوصيّة الأولي والعُظمي والثانية مثلها &#8221;                                الأحد الثالث من بشنس</p>
<p>&#8221; قال الربُّ لربِّي اجلس عن يميني &#8221;                                                   الأحد الرابع من بشنس</p>
<p>&#8221; هذا هو ابني الحبيب الذي سُرَّت به نفسي &#8221;                                       الأحد الأوَّل من بؤونه</p>
<p>&#8221; وهي تصرخ قائلة: أنت المسيح ابن الله فكان ينتهرهم &#8221;                          الأحد الثاني من بؤونه</p>
<p>&#8221; فكم بالحري أبوكم الذي في السموات يُعطي الخيرات للذين يسألونه &#8221;       الأحد الثالث من بؤونه</p>
<p>&#8221; فكونوا إذا أنتم كاملين ، كما أنَّ أباكم الذي في السموات هو كامل &#8221;           الأحد الرابع من بؤونه</p>
<h4>شهر أبيب ومسري</h4>
<p>يأتي إعلان ملكوت الله في أناجيل عشيّة شهر أبيب ومجيء البشر إليه في الأحد الرابع من أبيب وأناجيل شهر مسري ومجيء الرب في رابع مسري والنسئ</p>
<p>&#8221; وأرسلهم ليكرزوا بملكوت الله &#8221;                                                            الأحد الأوَّل من أبيب</p>
<p>&#8221; اصنعوا لكم أصدقاء بمال الظلم حتي إذا فنيتم يقبلونكم في المظال الأبديّة &#8221; الأحد الثاني من أبيب</p>
<p>&#8221; فيكون لك الطوبى إذ ليس لهم حتي يكافئوك لأنك ستكافأ في قيامة الأبرار &#8221; الأحد الثالث من أبيب</p>
<p>&#8221; فلما جاءوا إلي يسوع طلبوا إليه باجتهاد قائلين إنه مستحق أن تفعل له هذا &#8221; الأحد الرابع من أبيب</p>
<p>&#8221; وابتدأوا يحملون المرضي علي أسرَّة إلي حيث سمعوا أنه هناك &#8221;                              الأحد الأوَّل من مسري</p>
<p>&#8221; دعوا الأولاد يأتون إليَّ ولا تمنعوهم &#8221;                                                                  الأحد الثاني من مسري</p>
<p>&#8221; لأنها أتت من أقاصي الأرض لتسمع حكمة سليمان وهوذا أعظم من سليمان ههُنا &#8221;     الأحد الثالث من مسري</p>
<p>لأنه كما أن البرق الذي يظهر في السماء ويبرُق تحت السماء كذلك يكون ابن الإنسان في يومه &#8221;    الأحد الرابع من مسري</p>
<p>&#8221; وحينئذ يبصرون ابن الانسان آتياً في سحابة بقوة ومجد كثير &#8221;                                أحد النسئ</p>
<h4>(٢) أناجيل باكر</h4>
<p>إذا تفحَّصنا أناجيل باكر لآحاد السنة القبطية نجد أنها تتكلّم عن خلاص ابن الله للبشر والذي ظهر وقت تجسّده في سلطانه على الأمراض وعلى الشياطين وفِي قيامته المُقدَّسة وفِي افتقاده لكل البشر</p>
<p>١- سلطانه الإلهي عامة وخاصة على الأمراض وعلى الشياطين</p>
<p>&#8221; ولا أنا أيضاً أُعلِمكم بأيَّ سلطان أفعل هذا &#8221;                         باكر الأحد الأوَّل من توت</p>
<p>&#8221; وجاء يكرز في مجامعهم في كل الجليل ويُخرج الشياطين        &#8221; باكر الأحد الثاني من توت</p>
<p>&#8221; لأني أنا أيضاً إنسان تحت سلطان لي جند تحت يدي &#8221;            باكر الأحد الثالث من توت</p>
<p>&#8221; ليكن لك كما تريدين فبرأت ابنتها من تلك الساعة &#8221;               باكر الأحد الرابع من توت</p>
<p>&#8221; ولكن إن كنت بإصبع الله أُخرج الشياطين &#8221;                       باكر الأحد الثاني من كيهك</p>
<p>&#8221; إذ رأوا الخرس يتكلمون والعرج يمشون &#8230; &#8221;                     باكر الأحد الثالث من كيهك</p>
<p>&#8221; لأنه بسلطان وقوّة يأمر الأرواح النجسة فتخرج &#8221;                باكر الأحد الأوَّل من طوبة</p>
<p>&#8221; والأرواح النجسة حينما نظرته خرَّت قدّامه &#8221;                     باكر الأحد الثاني من طوبة</p>
<h4>٢- قيامته المُقدَّسة</h4>
<p>تأتي أناجيل باكر في شهور بابة وهاتور وبشنس وبؤونة وأبيب ومسري عن قيامته المُقدَّسة</p>
<p>ويأتي بصفة عامة إنجيل باكر الأحد الأوَّل من كل هذه الشهور من (مت ٢٨: ١ - ٢٠)</p>
<p>وإنجيل باكر الأحد الثاني من (مر ١٦: ٢ -٨)</p>
<p>وإنجيل باكر الأحد الثالث من (لو ٢٤: ١ - ١٢)</p>
<p>وإنجيل باكر الأحد الرابع من (يو ٢٠: ١ - ١٨)</p>
<p>وتتوافق في هذا التقليد والترتيب مع كنيستنا المُقدَّسة الكنيسة اليونانية، فتأتي فيها قراءات قيامة الرب من بعد عيد الخمسين وتتكرَّر طوال العام حتى في الصوم الكبير، وتأتي في إحدي عشر شاهد عن قيامة الرب من الأناجيل الأربعة وتُسمَّي &#8221; بالأحد عشر إنجيل الباكرية، أو أناجيل الايوثينا &#8221; وهم بالترتيب:</p>
<p>(مت ٢٨: ١٦ – ٢٠)، (مر ١٦: ١)، (مر ١٦: ٩ – ٢٠)، (لو ٢٤: ١ - ١٢)، (لو ٢٤: ١٢ – ٣٥) (لو ٢٤: ٣٦ – ٥٣)</p>
<p>(يو ٢٠: ١ – ١٠) (يو ٢٠: ١١ - ١٨)، (يو ٢٠ : ١٩ – ٣١) ، (يو ٢١ : ١ – ١) ( يو ٢١ : ١٤ -  ٢٥)</p>
<p>(يُمْكِن الرجوع إلي كتاب قراءات الكنيسة اليونانية - الإنجيل الإلهي والرسائل صفحة ٢١٤ - وأيضاً كتاب السنة الكنسية القبطية ص ١٤ للعلَّامة يسي عبد المسيح - إصدار الأغسطس نبيل فاروق فايز</p>
<p>٣- إبن الله الواهب حياة وخلاص للعالم</p>
<p>هكذا أحب الله العالم حتى بذل ابنه الوحيد لكي لا يهلك كل من يؤمن به بل تكون له الحياة الأبديّة &#8221;                                                                باكر الأحد الثالث من طوبة</p>
<p>&#8221; أنا هو الخبز الحي الذي نزل من السماء إن أكل أحد من هذا الخبز يحيا إلي الأبد &#8221;</p>
<p>باكر الأحد الرابع من طوبة</p>
<p>&#8221; إن كان أحد يحفظ كلامي فلن يري الموت إلي الأبد &#8221;       باكر الأحد الأوَّل من أمشير</p>
<p>&#8221; لأنه لم يرسل الله ابنه إلي العالم ليدين العالم بل ليخلِّص به العالم &#8221;</p>
<p>باكر الأحد الثاني من أمشير</p>
<p>&#8221; لأني لم آت لأدين العالم بل لأخلص العالم &#8221;         باكر الأحد الثالث من أمشير</p>
<p>&#8221; قم وامض إيمانك خلَّصك &#8221;                                       باكر الأحد الرابع من أمشير</p>
<p>٤- إعلان محبّته وخلاصه لكل البشر</p>
<p>&#8221; لنذهب إلي مكان آخر من القري القريبة لنا &#8221;                    باكر الأحد الثاني من توت</p>
<p>إنَّ كثيرين سيأتون من المشارق والمغارب ويتكئون مع إبراهيم وإسحق ويعقوب في ملكوت السماوات &#8221;                                                                                                      باكر الأحد الثالث من توت</p>
<p>&#8221; وإنصرف إلي نواحي صور وصيداء &#8221;                            باكر الأحد الرابع من توت</p>
<p>فجاء إليه جموع كثيرة معهم عرج وعمي وصمُّ وشلُّ وآخرون كثيرون وطرحوهم عند قدميه فشفاهم &#8221;                                                                  باكر الأحد الثالث من كيهك</p>
<p>&#8221; فذاع صيت عنه في كلِّ موضع في الكورة المُحيطة &#8221;           باكر الأحد الأوَّل من طوبه</p>
<p>وتبعه جمع كثير من الجليل ومن اليهودية ومن أورشليم ومن أدومية ومن عبر الأردن وجمع كثير من صور وصيداء &#8221;                                                                                     باكر الأحد الثاني من طوبه</p>
<p>&#8221; ألم يوجد من يرجع ليُمجد الله غير هذا الغريب الجنس &#8221; باكر الأحد الرابع من أمشير</p>
<h4>(٣) أناجيل القدّاسات</h4>
<p>تتكلّم أناجيل القدّاسات عن إبن الله الذي يقبل توبة جميع الخطاة (الأحد الثالث والرابع من توت والرابع من أمشير والثاني من مسري)</p>
<p>ويسعي إلى خلاص الشعوب (الأحد الأوَّل والثاني من طوبه)</p>
<p>مُعطياً لنا غني الآب (الأحد الثاني من توت)</p>
<p>ومُلقياً بذار الحب للجميع (الأحد الأوَّل والثاني من هاتور)</p>
<p>ومانحاً لنا الغفران والبركة والحياة (الأحد الأوَّل والثاني والرابع من بابه)</p>
<p>ومُحرِّراً لنا من قبضة إبليس وواهباً لنا النصرة عليه (الأحد الثالث من بابه والرابع من بشنس) والذي أعلن ذاته لنا في تجسُّده (آحاد كيهك)</p>
<p>ودعانا لتبعيته (الأحد الثالث والرابع من هاتور والرابع من طوبه)</p>
<p>وأعطانا حياته (آحاد أمشير)</p>
<p>وجعلنا شهود ملكوته (آحاد أبيب)</p>
<p>وهو كرمتنا (الأحد الأوَّل من مسري)</p>
<p>وعريسنا (الأحد الثاني من مسري)</p>
<p>وعائلتنا (الأحد الثالث من مسري)</p>
<p>وأبديتنا (الأحد الرابع من مسري وأحد النسئ)</p>
<h4>رحلة قراءات الكنيسة</h4>
<p>لذلك يُمْكِن أن نقول إننا نعيش في قراءات كنيستنا المُقدَّسة رحلة جميلة مع الثالوث القدّوس.</p>
<p>تبدأ الرحلة بإعلان الآب عن محبته غير المحدودة للبشر، والتي أعلنها في المسيح بطرق مختلفة (زمرنا لكم - نحنا لكم - الأحد الأوَّل من توت)، ونالها وذاقها أطفال العهد الجديد (الأحد الثاني من توت)، واختارت الكنيسة نموذجين من الخطاة ليكشف الآب في المسيح عن مدي محبته لكل رجل مهما كانت خطيته (الأحد الثالث من توت)، وكل امرأة مهما كان ضعفها (الأحد الرابع من توت)</p>
<p>كما أعلنت الرحلة عن قدرة الابن على شفاء أرواحنا وأجسادنا (الأحد الأوَّل من بابه)، وعلي فيض البركة في احتياجاتنا (الأحد الثاني من بابه)، ونصرته على مُفْسِد طبيعتنا (الأحد الثالث من بابه)، وعلى آخر عدو يُمْكِن أن نلقاه وهو الموت (الأحد الرابع من بابه)</p>
<p>وكشف الروح في رحلتنا عن بذوره في داخلنا (الأحد الأوَّل من هاتور)، وثماره فينا (الأحد الثاني من هاتور)، وكيف يجعلنا تلاميذ الابن (الأحد الثالث من هاتور)، وكاملين في المجد مع الآب (الأحد الرابع من هاتور)</p>
<p>وتكشف كنيستنا المُقدَّسة كيف تم كل هذا في تجسُّد الكلمة، والذي خصصَّت له الكنيسة آحاد شهر كيهك في بشارة رئيس الملائكة لزكريا الكاهن (الأحد الأوَّل من كيهك)، وبشارته لوالدة الإله (الأحد الثاني من كيهك)، وزيارة والدة الإله لإليصابات (الأحد الثالث من كيهك)، وولادة يوحنا (الأحد الرابع من كيهك)</p>
<p>ويأتي عيد ميلاد ربنا يسوع بالجسد مُعلناً ظهوره الإلهي للبشرية كلها، فتأتي الأمم إليه - المجوس - ويذهب هو إليها (مصر - الأحد الأوَّل من طوبه)، ويُعْلِن عطش الأمم إلى الخلاص (أهل نينوي وملكة التيمن - الأحد الثاني من طوبه)، وكيف يمكن أن ننال هذا الخلاص في الكنيسة بالمعمودية (الأحد الثالث والرابع من طوبه)، والإفخارستيا (الآحاد الأوَّل والثاني والثالث من أمشير)، ليعيش الإنسان يوم الخلاص (بيت زكَّا - الأحد الرابع من أمشير)</p>
<p>وهكذا أتت بنا الكنيسة إلى النبع والمصدر والجذر وأساس كل شئ، موت المسيح له المجد وقيامته المُقدَّسة، الذي جعلنا نعيش يوم الخلاص (مثل هتافنا في لحن هذا هو اليوم الذي صنعه الرب فلنفرح ونبتهج به)</p>
<p>لذلك تتحرَّك بنا الكنيسة نحو الصليب والقيامة في قراءات الصوم الأربعيني، الذي يكشف لنا عن أبوَّة الآب (أحد الرفاع)، وكنز إبنه (أحد الكنوز)، ونصرته (أحد التجربة)، وبرَّ الآب للخطاة (أحد الإبن الضال ) ، وإستعلان خلاص إبنه لهم ( أحد السامرية ) ، وسعيه لكل إنسان ( أحد المخلَّع ) ، وإستنارة من يقبل ( أحد المولود أعمي )</p>
<p>ثم تكشف لنا قراءات البصخة عن أن موت المسيح وقيامته المُقدَّسة كانا تدبيراً إلهياً منذ البدء ، كما أضاءت بصيرتنا علي صليب المسيح له المجد وقيامته في كل أحداث وشخصيات العهد القديم ، وأخذت بأيدينا لنسير مع المسيح له المجد خطوة بخطوة في دخوله أورشليم مع خراف الفصح ( أحد الشعانين ) ، وكل أحاديثه عن الصليب ( قراءات أيَّام البصخة ، الإثنين والثلاثاء والأربعاء ) ، وفي تسليمه للآباء الرسل سرّ العهد الجديد ( خميس البصخة ) ، وفي ذهابه بإرادته الإلهية ومحبته للبشرية إلي الجلجثة لنقف هناك معاينين عظمته ( الجمعة العظيمة ) ، الإله الذي أحبنا إلي المنتهي ، وتأخذنا تسابيح الكنيسة وقراءاتها في العهدين لنعاين العبور العظيم من الجحيم إلي الفردوس ( ليلة أبو غالمسيس ) ، وهكذا يخرج إنساننا الجديد من القبر ( قيامته المُقدَّسة ) ، ليعطينا السلام الذي يفوق كل عقل ، والفرح الذي لا يُنْطَق به ومجيد</p>
<p>وهنا تسمح لنا الرحلة أن نتذوق مسيح القيامة، فنكتشف أنه رئيس إيماننا (أحد توما)، وخبزنا (أحد خبز الحياة)، وماؤنا (اللقاء مع السامرية)، ونورنا (الأحد الرابع)، وطريقنا إلى الآب (الأحد الخامس)، وغلبتنا على العالم (الأحد السادس)، وهكذا وُهِبْنا أن ننال ملء روحه فينا (أحد العنصرة)</p>
<p>وتستمر الرحلة في الكشف عن كيف نعيش دوام الملء في المحبة والرحمة (الأحد الثالث من بشنس والرابع من بؤونه)، والنصرة بالروح القدس والكلمة على الشرير (الرابع من بشنس والثالث من بؤونه)، وفي الإيمان (الثاني من بؤونه)، وفي الصلاة الدائمة (الأوَّل من بؤونه)</p>
<p>وتأتي هنا مسؤوليتنا ورسالتنا في الشهادة له، في الكرازة (الأحد الأوَّل من أبيب)، ونقاوة الحياة والإتضاع (الثاني من أبيب)، وفي الشركة (الثالث من أبيب)، وفي مجد الإيمان بقدرته الإلهية (الرابع من بؤونه)</p>
<p>وهكذا تكون الكنيسة كرمة أمينة والآب كرَّامها (الأحد الأوَّل من مسري)، ومستشفى لشفاء الخطاة والابن طبيبها (الثاني من مسري)، وعائلة الله والروح القدس قائدها (الثالث من مسري)، وعروس مُهيأة لمجئ عريسها (الرابع من مسري وأحد النسئ)</p>
<p><a href="#_ftnref1" name="_ftn1">[1]</a> (الأب أوجو زانيتي - القطمارس القبطي السنوي - وجه قبلي - ص١٤٩) - ترجمة مدام نانسي عزت عوض الله - كنيسة مارمينا - الفيوم</p>

      {% endcreateArticleAccordions %}
    </section>
  {% endblock %}
