---
layout: 'layouts/reading.html'
title: 'الأحد الأول من شهر بابه المبارك'
permalink: sundays/2-1.html
---
  {% block content %}
    <section id="readings">
      <ul>
      {% if '19.67:1-2' != 'null' %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">العشية</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeVespers '19.67:1-2' '40.14:15-21' %}
          </div>
        </div>
      </li>
      {% endif %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">باكر</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeMatins '19.63:1-2' '40.28:1-20' '' %}
          </div>
        </div>
      </li>
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <h3 class="flex items-center justify-between">
            <span class="kufi">القداس</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </h3>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeLitugy '47.2:12-17*@+47.3:1-6' '60.1:22-25*@+60.2:1-5' '44.13:36-43' '19.34:1-2' '41.2:1-12' %}
          </div>
        </div>
      </li>
        </ul>
    </section>
    <section id="article">
      <h3 class="mt-8 mb-4 heading-explain">شرح القراءات</h3>
      {% createArticleAccordions firstName, lastName %}
        <p></p>
<p></p>
<p>أرسل كلمته فشفاهم، ونجاهم من تهلكاتهم (مز ٢٠:١١٧)</p>
<p>لكي يعلم بنوك الذين أحببتهم، أيها الرب، أن ليس ما تخرج الأرض من الثمار هو يغذو الإنسان، لكن كلمتك هي التي تحفظ المؤمنين بك. سفر (الحكمة ٢٦:١٦)</p>
<p>&#8221; أنت هو ملك الدهور غير المائت الأبدي كلمة الله الذي علي الكل راعي الخراف الناطقة &#8221; قسمة للابن تقال في سبت الفرح</p>
<p>&#8221; الإنسان يعمل لا بالكلمات بل باليدين لأنه مخلوق وكلمته ليست لها كيان. أما كلمة الله فكما يقول الرسول: &#8220;حيّ وفعّال&#8221; &#8230; إذ هو خالق الكل وبغيره لم يكن شيء مما كان (يو ١: ٣) &#8230; لا يليق بنا أن نسأل: لماذا كلمة الله ليست ككلمتنا، مدركين أن الله ليس مثلنا<a href="#_ftn1" name="_ftnref1">[1]</a> &#8221;</p>
<p>+ فلما رأي إيمانهم&#8221; . عظيم هو الرب الذي يغفر للبعض من أجل طلبة الآخرين، ويقبل تضرعات البعض من أجل غفران خطايا الغير&#8230;! خادم الله له الحق أن يطلب عنك، وله دالة فُيستجاب له&#8230;!</p>
<p>تعلَّم أيها المريض كيف تتضرع، وإن كنت لا ترجو غفرانًا لخطاياك فالجأ لمن يشفع عنك، إلى الكنيسة التي تصلي من أجلك، ومن أجلها يهبك الرب الغفران&#8230;.<a href="#_ftn2" name="_ftnref2">[2]</a></p>
<p>&#8221; كيف أحمل إلى المسيح مادام السقف لم يُفتح بعد، فإن السقف هو الإدراك، أسمى شيء فينا! هنا يوجد تراب كثير خاص بالملاط الذي للسقف، أقصد به الأمور الزمنية، إن نُزعت تتحرر فينا فضيلة الإدراك من الثقل، عندئذ ننزل أي نتواضع، إذ نزع الثقل عن الإدراك لا يعلمنا الكبرياء، بل بالحري التواضع&#8221; <a href="#_ftn3" name="_ftnref3">[3]</a></p>
<p></p>
<p></p>
<h3>شواهد القراءات</h3>
<p></p>
<p>(مز ١:٦٦)، (مت ١٤: ١٥-٢١) ، (مز ٦٢ : ٢-١) ، (مت ٢٨ : ١-٢٠) ،(٢كو ٢ : ١٢ &#8211; ٣ : ١-٦) (١بط ١ : ٢٢ &#8211; ٢ : ١-٥)، (أع ١٣ : ٣٦-٤٣)، (مز٣٣: ٢-١)، (مر ٢ : ١-١٢)</p>
<p></p>
<p></p>
<h3>ملاحظات على قراءات اليوم</h3>
<p></p>
<p>+ مزمور عشيَّة اليوم (مز ٦٦: ١) ، ومزمور باكر الأحد الثاني من بابه (مز ٦٦: ٢) يكونان معاً مزمور باكر الأحد الأوَّل من شهر بؤونه (مز٦٦ : ١ &#8211; ٢)</p>
<p>وهو المزمور الذي يتكلَّم عن إستعلان الله وظهور خلاص الله للبشر، وهو ما أعلنه الرب للمفلوج (مغفورة لك خطاياك) في الأحد الأوَّل من بابه ، والثاني من بؤونه</p>
<p>+ قراءة الكاثوليكون اليوم (١بط ١: ٢٢ &#8211; ٢: ١ &#8211; ٥) تُشبه قراءة الكاثوليكون (١بط ١: ٢٥ &#8211; ٢: ١ &#8211; ١٠) للأحد الرابع من أبيب</p>
<p>تأتي القراءة الأولي (قراءة الأحد الأول من بابه) من بداية آية ٢٢ للإشارة إلي دور كلمة الله التي تعطي ولادة جديدة، وهذا هو ما جاء في إنجيل القدَّاس (فكان يخاطبهم بالكلمة ) ، وجاء بعدها ميلاد المفلوج الروحي ( مغفورة لك خطاياك ) ، وشفاؤه الجسدي ( قم إحمل فراشك )</p>
<p>أمَّا القراءة الثانية (الأحد الرابع من أبيب) فتُضاف إليها خمس آيات (من ٦ &#8211; ١٠) للإشارة إلي قيمة الإيمان بحجر الزاوية ربنا يسوع المسيح (كقول الرب لمرثا إن آمنت ترين مجد الله) ، وإلي دعوة الرب للنفوس من الظلمة إلي نوره العجيب كما دعا لعازر من ظلمة الجحيم والقبر إلي نوره الإلهي ( موضوع إنجيل قدَّاس ذاك الأحد )</p>
<p>+ قراءة الإبركسيس اليوم (أع ١٣: ٣٦ &#8211; ٤٣) هي نفس قراءة الإبركسيس ليوم ٣٠ كيهك</p>
<p>جاءت القراءة اليوم للإشارة إلي غفران الخطايا وهي العطية التي نالها المفلوج الذي كان يحمله الأربعة (إنجيل قدَّاس اليوم) ، بينما مجئ نفس القراءة يوم ٣٠ كيهك فهو للإشارة إلي الخلاص والتبرير الذي تم بتجسُّد الكلمة.</p>
<p>+ مزمور قدَّاس اليوم (مز٣٣: ١ &#8211; ٢) هو نفس مزمور باكر الأحد الثاني من بؤونه</p>
<p>وهما الأحدين الذي يأتي فيهما إنجيل القدَّاس عن معجزة شفاء المفلوج المحمول من أربعة&#8230;</p>
<p></p>
<p></p>
<h3>شرح القراءات</h3>
<p></p>
<p>تتكلم قراءات هذا الأحد عن الكلمة المحيي (كلمة الحياة) ربنا يسوع المسيح له كل المجد</p>
<p>تُعْلِن المزامير أن المبادرة يجب أن تأتي من الله إلينا فنحن لا نستطيع أن ندركه بل هو يُعْلِن ذاته لنا (مزمور عشية)    ولكن يختبر إعلانه العطشي له ( مزمور باكر ) فتفيض حياتهم تسبيح وفرح ( مزمور القدَّاس )</p>
<p>في مزمور عشيّة نري أن معرفة الخليقة للإبن الكلمة تبدأ بإستعلانه لنا وإظهار وجهه علينا فلن يدرك البشر طريق خلاصهم إلا بظهور رأفته ورحمته لهم (ليترأف الله علينا ويباركنا وليظهر وجهه علينا ويرحمنا لتعرف في الأرض طريقك وفي جميع الأمم خلاصك)</p>
<p>لكن لن يكون هذا دون الإرادة الإنسانية وإجتهادها كما في مزمور باكر (يا الله إلهي إليك أبكر لأن نفسي عطشت إليك هكذا ظهرت لك في القدس لأري قوتك ومجدك)</p>
<p>لذلك يأتي ثمر معرفته البركة والتسبيح والإفتخار به وجذب الآخرين لها كما في مزمور القداس (أبارك الرب في كل وقت في كل حين تسبحته في فمي بالرب تفتخر نفسي يسمع الودعاء ويفرحون)</p>
<p>ثم تتكلّم القراءات عن أمانة خدّام الكلمة (البولس) وفاعلية الكلمة في حياتنا ( الكاثوليكون ) وتبريرها للإنسان ( الإبركسيس )</p>
<p>لذلك يوضح البولس أهمية أمانة الكلمة التي نكرز بها ونقاوة خدمتنا بها وأهمية الخدمة بروح الكلمة وليس حرفها ( ولما أتيت إلي ترواس لأجل إنجيل المسيح&#8230;.لأننا رائحة المسيح الذكية لله في الذين يخلصون وفي الذين يهلكون &#8230;.لأننا لسنا كالكثيريين الذين يغشون كلمة الله بتجارتهم&#8230;..لأن رسالتنا هي أنتم &#8230;.مكتوبة لابمداد بل بروح الله الحي&#8230;..ليس أننا أهلا من أنفسنا وحدنا أن نفتكر شيئا كأنه من أنفسنا بل كفايتنا من الله هذا الذي جعلنا أهلا لأن نكون خدام العهد الجديد لاالحرف بل الروح لأن الحرف يقتل ولكن الروح يحيي)</p>
<p>أما الكاثوليكون فيوضح فيه القديس بطرس قيمة كلمة الله الحية في ولادتنا الجديدة وثبات فاعليتها كلبن عقلي عديم الغش ومجدها المختلف عن مجد العالم الزائل وقوة بنيانها للنفوس كحجارة حيه ( مولودين ثانية لامن زرع يفني بل مما لايفني بكلمة الله الحية الدائمة لأن كل جسد كعشب وكل مجده كزهر عشب العشب يبس وزهره سقط وأما كلمة الرب فتثبت إلي الأبد&#8230;.كأطفال مولودين الآن إشتهوا اللبن العقلي العديم الغش لكي تنمو به للخلاص إن كنتم قد ذقتم أن الرب صالح الذي إذ تأتون إليه حجرا حيا مرذولا من الناس ولكن مختار من الله كريم كونوا أنتم أيضا مبنيين كحجارة حيه بيتا روحيا كهنوتا مقدسا)</p>
<p>لذلك يؤكد الإبركسيس علي تبرير كلمة الحياة لإنسان العهد الجديد والبشارة المفرحة غفران الخطايا التي عجز عن تقديمها الناموس والتي هو جوهر المناداة بالكلمة (أنه بهذا ينادي لكم بغفران خطاياكم بهذا يتبرر كل من يؤمن من كل مالم تقدروا أن تتبرروا منه بناموس موسي&#8230;.وفيما هم خارجون جعلوا يطلبون إليهما أن يكلماهم بهذا الكلام في السبت القادم&#8230;.تبع كثير من اليهود المتعبدين من الغرباء بولس وبرنابا اللذين كانا يكلمانهم ويقنعانهم أن يثبتوا في نعمة الله)</p>
<p>يظهر إنجيل عشيّة غني الجموع والكنيسة التي تتبع كلمته فبعد ثلاثة أيام قضاها الجموع مع إبن الله ليسمعون كلمه الحياة جاءت البركة والغني والشبع بأبسط الأمور والإمكانيات بكلمات البركة التي صلي بها لله الآب سكب بها غناه الإلهي للجموع الغفيرة لدرجة الملء معلنا أنها مسؤولية الكنيسة في كل جيل ( أعطوهم أنتم ليأكلوا) لذلك تسعي الكنيسة لكلمة الحياة وحضوره الإلهي ليكون دائما هو سر غني أولادها ( ليس عندنا ههنا إلا خمسة أرغفة وسمكتين&#8230;ورفع نظره نحو السماء وباركها وكسرها وأعطي الأرغفة للتلاميذ والتلاميذ أعطوا الجموع فأكل الجموع وشبعوا)</p>
<p>أما إنجيل القداس فيعلن أن كلمة الحياة هي موضوع كرازتنا ومصدر شفاؤنا الروحي (غفران الخطايا) والجسدي ( شفاء المرض) وإعلان أهمية شفاؤنا الروحي وغفران خطايانا عن صحة الجسد ( فإجتمع كثيرون&#8230;فكان يخاطبهم بالكلمة&#8230;.يابني مغفورة لك خطاياك&#8230;..فلكي تعلموا أن لإبن الإنسان سلطانا علي الأرض أن يغفر الخطايا قال للمفلوج : لك أقول قم وأحمل سريرك وأذهب إلي بيتك &#8230;.وخرج قدام الكل حتي بهت الجميع )</p>
<p>والعجيب غفران الرب لخطايا المفلوج نتيجة ايمان الاربعة بالرغم من عدم طلبهم وأيضاً عدم طلبه ويُعطي هذا رجاء لكل إنسان مشغول بخلاص الآخرين وغفران خطاياهم فإذا كنا نصرخ لأجل غفران خطايا الآخرين فحتما سيستجيب الله لكن لاننسي أن هذا حدث &#8221; لما رأي إيمانهم<a href="#_ftn4" name="_ftnref4">[4]</a> &#8221;</p>
<p>&#8221; ولكن لكي تعلموا أن لابن الإنسان سلطانًا على الأرض أن يغفر الخطايا = هناك تفسير لطيف آخر لهذه الآية، أن الربيين كانوا يعلمون أن الإنسان لا يمكن شفاؤه من مرض إلاّ إذا غفرت خطاياه كلها. وبهذا يكون السيد المسيح حين قام بشفاء المفلوج قد أثبت أنه غفر خطاياه كما قال &#8221;</p>
<p></p>
<p></p>
<h3> ملخّص القراءات</h3>
<p></p>
<p>عندما يُعْلِن كلمة الله ذاته لنا نحن العطشي تفيض حياتنا فرحاً وتسبيحاً                             (مزمور عشيّة وباكر والقدّاس)</p>
<p>وتظهر أمانة كلمته فينا وفِي تغيير حياتنا وفِي برّ العهد الجديد                                     (البولس والكاثوليكون والإبركسيس )</p>
<p>ويظهر أيضاً في الجموع التي تتبعه لأجل كلمة الحياة فيُشْبِع إحتياجاتها الجسدية ويشفي أرواحها وأجسادها (إنجيل عشيّة والقدّاس )</p>
<p></p>
<p></p>
<h3> إنجيل القدَّاس في فكر آباء الكنيسة</h3>
<p></p>
<p>+ كلف يسوع الرجل المفلوج أن يقوم بعملٍ كان بالضرورة يستلزم أن يكون صحيحاً (أمبروسيوس).</p>
<p>+ فالإنسان قد لا يكون مصاباً بالشلل جسدياً ومع ذلك قد يكون مشلولاً من الداخل (أوغسطينوس)</p>
<p>+ إن شفاء الجسد والنفس يحدثان بشكلٍ مترابط (كليمندس السكندري)</p>
<p>+ إن خدمة الغفران ليست هي ممارسة لسلطةٍ أو حقٍ مستقل، إنما هي تشير إلى عمل الله الخلاصي (أمبروسيوس)</p>
<p>+ إن عملية غفران الخطايا، والتي يعتبرها الكتبة من اختصاص الله وحده، أثارت بشكل حاد مسألة هوية يسوع. كونه الله المتجسد، من نفس طبيعة الله، فقد كان لديه سلطان على الأرض ليتصرف كما لو كان هو الله (ذهبي الفم)</p>
<p>+ إذا كان المسيح يغفر الخطايا، فلابد أنه الله بالحقيقة، لأنه لا يمكن لأحد أن يغفر خطايا إلا الله (إيرينيؤس )&#8230;<a href="#_ftn5" name="_ftnref5">[5]</a></p>
<p></p>
<p></p>
<h3> الكنيسة في قراءات اليوم</h3>
<p></p>
<p>التلمذة &#8211; المعمودية &#8211; الثالوث                            إنجيل باكر</p>
<p>كلمة الله روح وحياة وولادة جديدة                       البولس والكاثوليكون</p>
<p>البناء الروحي                                               الكاثوليكون</p>
<p>برّ العهد الجديد وغفران الخطايا                       الإبركسيس</p>
<p></p>
<p></p>
<h3>   عظات مُقْتَرحة</h3>
<p></p>
<p><strong> (١) العظة الأولي</strong></p>
<p><strong>كلمة الله في حياتنا</strong></p>
<p>١-غني الوجود مع المسيح اليوم كُلِّه                              إنجيل عشيّة</p>
<p>٢- رائحة ذكيّة في الذين يُخلصون للكلمة                          البولس</p>
<p>٣- ضمان ثباتنا وتجديد ولادتنا                                    الكاثوليكون</p>
<p>٤- بشارة مفرحة للآخرين                                          الإبركسيس</p>
<p>٥- موضوع الكرازة ومصدر الشفاء                               إنجيل القدَّاس</p>
<p><strong>(٢) العظة الثانية</strong></p>
<p><strong> عطايا الله ومسؤوليات أولاده</strong></p>
<p><strong>١-عطايا الله</strong></p>
<p>احتياجات الجسد (أعطي الأرغفة للتلاميذ والتلاميذ أعطوا للجموع)                                    إنجيل عشيّة</p>
<p>الكفاية (كفايتنا من الله)                                                                                               البولس</p>
<p>الولادة الثانية (مولودين ثانية لا من زرع يفني بل مما لا يفني بكلمة الله الحية الدائمة)               الكاثوليكون</p>
<p>التبرير (يتبرر كل من يؤمن به) وغفران الخطايا ( ينادي لكم بغفران الخطايا )                            الإبركسيس</p>
<p>شفاء الروح والجسد (مغفورة لك خطاياك &#8211; لك أقول قم وأحمل سريرك )                                 إنجيل القدَّاس</p>
<p><strong>٢- مسؤوليات أولاده</strong></p>
<p>تسديد إحتياجات الآخرين (أعطوهم أنتم ليأكلوا)                                                            إنجيل عشيَّة</p>
<p>إعلان رائحة المسيح له المجد (لأننا رائحة المسيح الذكية لله)                                                البولس</p>
<p>المحبّة الدائمة النقيّة (أحبوا بعضكم بعضاً بمحبة دائمة من قلب طاهر)                                    الكاثوليكون</p>
<p>كرازة الغفران والتبرير للآخرين (ينادي لكم بغفران الخطايا )                                               الإبركسيس</p>
<p>يحملون إحتياجات الناس للمسيح له المجد (فقدموا إليه واحداً مفلوجاً يحمله أربعة رجال )            إنجيل القدَّاس</p>
<p><strong>(٣) العظة الثالثة</strong></p>
<p>الإيمان والشفاء والشخصيات</p>
<p>الإيمان يظهر في:</p>
<p>١-الثقة في قدرة إبن الله</p>
<p>٢- الآن &#8230; كان يمكن إنتظارهم لنهاية اليوم وبعد إنصراف الناس</p>
<p>٣- الإصرار وعدم اليأس والإجتهاد في الوصول إليه</p>
<p>الشفاء الإلهي لنفوسنا يعلن في:</p>
<p>١-الكلمة</p>
<p>٢- الشركة (الأربعة الذين حملوا المفلوج)</p>
<p>٣- العطية &#8230; الغفران</p>
<p>شخصيات تقابلت مع الرب:</p>
<p>١-الجموع المحيطة</p>
<p>تري ماذا أخذت ؟ هل شبعت من كلمته ؟</p>
<p>٢- الفريسيون</p>
<p>لم يأخذوا شيئا لإنشغالهم بفحص كل ماقيل</p>
<p>٣- المفلوج</p>
<p>لم يقل كلمة لكنه أخذ الكثير بسبب من حوله</p>
<p>٤- الأربعه</p>
<p>ماأجمل إيمانهم وإصرارهم وإسراعهم لأجل الوصول للرب</p>
<p></p>
<p></p>
<h3>عظات ابائية</h3>
<p></p>
<h4>شفاء المفلوج بحسب تعليم القديس هيلارى أسقف بواتييه (٣١٥-٣٦٧)</h4>
<p></p>
<p>+ في قصة شفاء ذلك المفلوج نرى ان بعض الاصدقاء أتوا بهإلي يسوع ليشفيه، ولم يكن هناك أعظم من كلام السيد أثناءشفائه لهذا المفلوج ، فهو لم يقل له: &#8220;فلتشف &#8221; أو &#8220;قم امشي&#8221;،لكنه قال:&#8221; تشجع ياابنى ، مغفورة لك خطاياك&#8221; في المسيحغُفرت كل خطايا آدم ، وفي المفلوج أُحضرت كل الأمم محمولةعلي أيدي الملائكة كى تنال الشفاء.</p>
<p>والرب نفسه يدعو المفلوج ابناً له، حيث ان عمل الرب الخلاصيهو أن يغفر خطايانا ويصفح عنها.</p>
<p>ونحن هنا لا ندين المفلوج بأنه قد أقترف أية خطية أدت اليمرضه، لا سيما أن الرب قد أوضح في مكان آخر أن مرضالأعمى منذ ولادته لم يكن نتيجة خطية أرتكبها أو طية جناهاعليه أبواه. ومع أن السيد الرب كان قد أتخذ جسدًا، لكنه كانقادر علي مغفرة الخطايا وإقامة الأجساد ايضاً اذ قال:&#8221; فلكىتروا ان ابن الإنسان له سلطان علي الأرض ليغفر الخطايا&#8221;وبعد مغفرته لخطايا ذلك المفلوج قال له:&#8221; قم وأحمل سريرك&#8221;.</p>
<p>ولقد كان المسيح قادرًا على أن يقول له فقط&#8221;قم&#8221; ولكنه كان عليهأن يشرح له كل ما يجب أن يفعله فأضاف:&#8221; أحمل سريركوأذهب الي بيتك&#8221;.</p>
<p>لقد منحه المسيح له المجد غفرانًا لخطاياه، ومن ثم أظهر له قدرتهبإنه أعاد الصحة وانهضه من سريره. بل وجعله يحمل سريرههذا. وبحمل المفلوج لسريره أظهر المسيح أن الأجساد تحررتمن الوهن والمعاناة. وبرجوعه إلى بيته أظهر يسوع إنه يُعِدللمؤمنين طريقًا للعودة إلي الفردوس الذي طُرد منه آدم أبوالبشرية بعدما تدنس بالخطية.</p>
<p>&#8220;فتعجب الجموع&#8221;</p>
<p>لقد كان إعجاب الجموع نتيجة دهشتهم من إتمام هذا العمل الشفائي العظيم، ومع هذا فإن السر كان لا أمامهم، وقد قدّملهم الآن لمحة عن عمله الخلاصي الذى أتى لأجله، وهو أن مامن عمل بشري يتم إلا بعد مغفرة الخطايا من قبل الرب.</p>
<p>وقد خاف الجموع من كلام الرب وأعماله إذ إنه ما من أحد يعود إلى البيت الأبدي إن لم يُمنح غفرانًا الخطايا.</p>
<p>&#8220;ومجدوا الله&#8221;</p>
<p>لما تعجب الجموع مما رأوه مجدوا الرب الذي اعطي البشر مثلهذا السلطان. فترتيب الرب اللائق لهذا العمل العجيب أزالمنهم الخوف والرهبة وجعلهم يمجدون الله.</p>
<p>وهذا التمجيد يليق بالمسيح وحده، فهو الغافر الخطايا بقوة الآبالمولود منه والمساوى له في الجوهر الواحد. وبما ان الله وحدههو القادر أن يفعل هذا، فالأبن الوحيد الجنس له أيضًا ان يغفرالخطايا. وقد بيّن المسيح هنا انه هو الله الحق وأنه مساوٍ لابيهفي الجوهرالواحد<a href="#_ftn6" name="_ftnref6">[6]</a>.</p>
<p></p>
<p></p>
<h4>شفاء المفلوج عند القديس كيرلس الكبير</h4>
<p></p>
<p>إذ قال المسيح للمفلوج: &#8220;أيها الإنسان مغفورة لك خطاياك&#8221; قصد السيِّد بذلك أن يخاطب الإنسانيّة بأسرها، كل الذين يؤمنون بالمسيح تُشفى نفوسهم من أسقام الخطيّة وتُغفر لهم آثامهم التي ارتكبوها، وبعبارة أخرى يخاطب المسيح المفلوج قائلًا: لا بُد وأن أشفي روحك قبل جسدك، أما إذا لم أقم بذلك فإنَّك بقوّة الجسم تمشي على قدَّميك وتعود إلى حياة الإثم والرذيلة، ولو أنك لم تطلب أيها المريض شفاء الروح، فإنَّي أنا إله ورب أرى أمراض النفس وأسقامها، وكيف أتت بك إلى هذا المرض الوبيل</p>
<p>ولما كان هناك جمع كبير من الكتبة والفريسيين وكان لا بُد من صنع آيّة لتعليمهم، نظرًا لامتهانهم السيِّد فإنَّ المسيح قام بعمل فائق غريب</p>
<p>انطرح أمام المسيح على فراش المرض رجل أنهكه الفالج وأعياه ولم ينفع فيه علاج أو دواء واعترف نفس الأطباء بقصورهم عن شفاء رجل دكه المرض دكًا، فيئس أقاربه منه، إلا أنهم رأوا إشعاع الأمل يبدو عن كثب، فأسرعوا إلى حيث المسيح الطبيب العظيم الذي أتى من فوق من السماء، وقدَّموا له مريضهم، وقبل المسيح إيمانه، فبدد الإيمان سحابة المرض، إذ أن المسيح يخاطب المفلوج بالعبارة المشهورة: &#8220;مغفورة لك خطاياك&#8221;</p>
<p>قد يسأل إنسان: &#8220;كان المفلوج في حاجة إلى شفاء جسمه، فلماذا يعلن المسيح له مغفرة الخطايا؟&#8221; ليعلمنا بأن الله يشاهد سكون أعمال الإنسان ويرى الطريق الذي يسلكه في حياته، إذ أنه مكتوب &#8220;لأن طرق الإنسان أمام عيني الرب وهو يزن كل سبله&#8221; (أم ٥: ٢١). ولما كان الله صالحًا ويريد أن كل الناس يخلصون وإلى معرفته يقبلون، فكثيرًا ما يطهر الإنسان الذي يرتكب الإثم والشر بتعذيب جسمه بمرض ينهكه داء يقعده، على حد قول الوحيّ: &#8220;تأدبي يا أورشليم&#8230; أمامي دائمًا مرض وضرب&#8221; (إر ٦: ٨). وورد في سفر الأمثال: &#8220;يا ابني لا تحتقر تأديب الرب ولا تكره توبيخه، لأن الذي يحبه الرب يؤدبه وكأب بابن يُسّر به&#8221; (أم ٣: ١٠). فحسنًا يعلن المسيح محو الخطايا والآثام فإنَّ في هذه جميعها منبع المرض وجرثومة الداء، فإذا ما مُحيت الخطيّة شُفي الإنسان من مرض الجسم الذي اتصل بها واستبشعها</p>
<p>&#8220;فابتدأ الكتبة والفرِّيسيون يفكرون قائلين: من هذا الذي يتكلَّم بتجاديف&#8221;</p>
<p>أعلن المسيح (كما أشرنا إلى ذلك آنفًا) مغفرة الخطايا بسلطان إلهي، ولكن هذا الإعلان أثار الفرِّيسيين وكانوا طغمة جهل وحسد، فتخاطبوا فيما بينهم: &#8220;من هذا الذي يتكلَّم بتجاديف؟&#8221;</p>
<p>ما كان يمكنكم أن تسألوا أيها الفرِّيسيون هذا السؤال لو كنتم وقفتم على معاني الأسفار المقدَّسة، وطالعتم نبوات الكتاب المقدَّس، وفهمتم سّر التجسد العظيم القدر والفائق الوصف. فبدلًا من درس النبوات اتهمتم السيِّد برذيلة التجديف وحكمتم عليه بالموت، لأن شريعة موسى أعدمت كل إباحي مجدّف، فقد ورد: &#8220;ومن جدف على اسم الرب فإنَّه يقتل&#8221; (لا ٢٤: ١٦).</p>
<p>خاطب المسيح الفرِّيسيين قائلًا: &#8220;ماذا تفكرون في قلوبكم&#8221; ، والمعنى الصريح من هذه العبارة &#8220;إنكم أيها الفرِّيسيون تعترفون بأنه لا يمكن لغير الله غفران الخطايا؟ ولكن اعلموا أيضًا أنه لا يمكن لغير الله معرفة ما يدور في خلد الإنسان فهو وحده الذي يكشف عن أعماق القلب فيقف على أسراره ونيَّاته، إذ ورد على لسان النبوَّة &#8220;أنا الرب فاحص القلب مختبر الكلى&#8221; (إر ١٧: ١٠)، ويشير داود إلى ذلك بالقول: &#8220;المصور قلوبهم جميعًا المنتبه إلى كل أعمالهم&#8221; (مز ٣٣: ١٥)، فالله الذي يصور القلوب والكلى هو الله الذي يغفر الخطيّة والإثم</p>
<p>&#8220;ولكن لكي تعلَّموا أن لابن الإنسان سلطانًا&#8221;</p>
<p>حتى يبدد المسيح سحابة الشك والريب التي تظلل بها الكتبة والفرِّيسيون، لم يغفر السيِّد خطايا الرجل المفلوج فحسب لأن الإنسان يعجز عن رؤيّة الخطايا المغفورة بعيني رأسه، بل أمر المرض فزال عن جسم المفلوج، فقام الرجل يمشي سليمًا صحيحًا، مشيرًا إلى عظمة القوّة الإلهيّة التي شفته من مرضه. فلم يؤجل كلمات المسيح للمفلوج: &#8220;قم وأحمل فراشك واذهب إلى بيتك&#8221; ، فقد قام الرجل لساعته وعاد إلى بيته سليمًا معافي. حقا أن لابن الإنسان سلطانًا على الأرض أن يغفر الخطايا</p>
<p>ولكن إلى من تشير هذه الآية؟ هل تكلَّم المسيح عن نفسه أو عنا؟ الواقع أن هذه الآية تطلق على المسيح وعلينا، لأن السيِّد يغفر الخطايا بصفته الإله المتجسد رب الناموس وواضعه، وقد تسلمنا نحن هذه القوّة الفائقة، وذلك بتتويج طبيعة الإنسان بشرفٍ عظيم القدر، حيث خاطب المسيح رسله المقدَّسين بالقول &#8220;الحق أقول لكم أن كل ما تربطونه على الأرض يكون مربوطًا في السماء وكل ما تحلونه على الأرض يكون محلولا في السماء&#8221; (مت ١٨: ١٨)، وورد في موضع آخر &#8220;من غفرتم خطاياه تغفر له ومن أمسكتم خطاياه أمسكت&#8221; (يو٢٠: ٢٣)<a href="#_ftn7" name="_ftnref7">[7]</a></p>
<p></p>
<p></p>
<h4>مغفرة الخطايا وفحص القلوب من اختصاص الله وحده للقديس يوحنا ذهبي الفم</h4>
<p></p>
<p>لكن دعنا نلاحظ كيف باحثهم السيد المسيح بوداعة ولطف وكل حنو. فقد نظر قوماً من الكتبة يفكرون في قلوبهم قائلين: &#8220;لماذا يتكلم هذا بتجاديف&#8221;(مر٦:٢). إنهم لم ينطقوا بكلمة، بل فكروا بها داخل قلوبهم. فأعلن الرب يسوع ما في أفكارهم قبل أن يؤكد شفاءه لجسد المفلوج، راغباً في البرهنة لهم على قوة لاهوته، لأن هذا من اختصاص الله وحده، إذ يقول الكتاب: &#8220;لأنك انت وحدك قد عرفت قلوب كل بني البشر &#8220;(١مل٣٩:٨).</p>
<p>تأمل كلمة&#8221;وحدك&#8221; لاتعني التباين بين الابن والآب. لأنه لو كان الآب وحده الذي يعرف قلوب البشر، فكيف يعلم الابن افكارهم؟ فقد قيل عنه: &#8221; لأنه علم ما كان في الإنسان&#8221;(يو ٢٥:٢). والقديس بولس الرسول يؤكد معرفة الأسرار انها من اختصاصه، قائلاً: &#8220;ولكن الذي يفحص القلوب&#8221;(رو٢٧:٨)، مظهراً أن هذا التعبير &#8220;فاحص القلوب&#8221; مساو للقب&#8221;الله&#8221; تماماً، كأن أقول&#8221; الذي يمطر &#8220;قاصداً الله لا غيره و&#8221;الذي يشرق الشمس&#8221; بدون أن أضيف اليه كلمة &#8220;الله&#8221;، مشيراً اليه بالعمل الذي من اختصاصه وحده. هكذا بولس الرسول عندما يقول: &#8220;الذي يفحص القلوب&#8221;، يؤكد ان فحص القلوب هو من اختصاص الله وحده. لأنه لو أن هذا التعبير ليس له نفس قوة الاسم&#8221;الله&#8221;مشيراً بذلك إليه، فإنه ماكان يستخدم هذا التعبير أو لا يكتفي به وحده. فلو كان العمل (السلطان)مشتركاً بين الله وكائنات مخلوقة، لما كنا نعرف عمن يعني الرسول، إذ اشتراك السلطان يسبب ارتباكاً في ذهن السامع. وبقدر ما ظهر أن هذا من اختصاص الأب، فإن مساواته للأب لا تحتاج إلي نقاش، لذك نقرأ قوله: &#8220;لماذا تفكرون بهذا في قلوبكم . ايما أيسر أن يقال مغفورة لك خطاياك، أم أن يقال قم احمل سريرك وامش&#8221;(مر٢: ٨- ٩).</p>
<p>انظر فإنه وضع بذلك برهاناً آخر عن سلطانه لمغفرة الخطايا. لأن مغفرة الخطايا عمل اعظم بكثير من شفاء الجسد، فكما ان الفالج مرض الجسد، هكذا الخطية هي مرض الروح، ولكن بالرغم من أن هذه أعظم لكنها غير ملموسة، اما تلك فرغم قلة اهميتها عن الأولي لكنها واضحة. لذلك استخدم الأقل كبرهان علي حدوث الأعظم، مؤكداً أن هذا صنعه لأجل ضعفهم، ومن باب تنازله لحالهم الضعيف، قائلاً: &#8220;أيما أيسر أن يقال قم واحمل سريرك وامش&#8221;(مر٩:٢). فلماذا أصنع الشئ الأقل إلا بسببهم، لان ما هو واضح يتأكد في صورة مميزة، لذلك لم يعط الرجل القدرة علي القيام الا بعدما قال لهم:&#8221;ولكن لكي تعلموا أن لابن الإنسان سلطاناً علي الأرض ان يغفر الخطايا (قال للمفلوج) لك أقول قم واحمل سريرك واذهب الي بيتك&#8221;(مر١١:٢). وكأنه يقول إن لمغفرة الخطايا أهمية عظيمة، لكن لأجلكم قد اضفت ما هو أقل أيضاً لكي تكون برهاناً على الأخري.</p>
<p>فكما أنه في حالة مدحه لقائد المائه القائل:&#8221;قل كلمة فيبرأ غلامي، لاني أنا إنسان&#8230;أقول لهذا اذهب فيذهب ولآخر اتت فيأتي&#8221;(لو ٨:٧)، قد أكد فكرة قائد المائة عن طريق مدحه له.</p>
<p>وهكذا عندما وبخ اليهود أو أمسكو عليه خطأ بخصوص يوم السبت أكد سلطانه علي الشريعة، هكذا أيضاً في هذه الحالة (مخلع بيت حسدا) عندما قال البعض: &#8220;قال أيضاً إن الله أبوه، معادلاً نفسه بالله&#8221;(يو ١٨:٥). فإنه عن طريق اتهاماتهم أكد لهم بأفعاله أنه لم يجدف، بل أمدنا بشهادة لانزاع فيها أنه يعمل نفس الاعمال التي يعملها الآب<a href="#_ftn8" name="_ftnref8">[8]</a>.</p>
<p></p>
<p></p>
<h4>غافر ذنوبنا بعطية الغفران، وشافي أمراضنا بالعفة للقديس أغسطينوس</h4>
<p></p>
<p>في صراع كهذا تكون النصرة عظيمة جدًا، لا إلى حين بل إلى الأبد، حيث ليس فقط ينتهي المرض، إنما لا يعود يظهر مرة أخري (هناك في الأبدية). فليُسمع البار نفسه وهو يقول: &#8220;باركي يا نفسي الرب، ولا تنسي كل حسناته، الذي يغفر جميع ذنوبك، الذي يشفي كل أمراضك&#8221; (مز١٠٣: ٢ &#8211; ٣).</p>
<p>إنه غافر ذنوبنا، إذ يسامحنا عن خطايانا، وهو شافي أمراضنا، إذ يضبط الشهوة الشريرة.</p>
<p>غافر ذنوبنا بعطية الغفران، وشافي أمراضنا بالعفة.</p>
<p>الأولى يتمتع بها المعترفون في العماد، والثانية تُنفَّذ في نضال المجاهدين، حيث يَغلبون خلال نعمته.</p>
<p>واحدة تحدث، إذ يصغي إلى قولنا &#8220;اغفر لنا ذنوبنا&#8221; (مت ٦: ١٢). والأخرى عند سماعه قولنا &#8220;لا تدخلنا في تجربة&#8221;، إذ يقول الرسول يعقوب: &#8220;ولكن كل واحد يُجرَّب إذا انجذب وانخدع من شهوته&#8221; (يع ١: ١٤) ونحن نطلب ضد هذا الخطأ دواءً من الرب، هذا الذي يقدر أن يشفي كل مثل هذه الأمراض.. لذا يلزم على كل من يسمع هذا أن يصرخ، قائلا:ً &#8220;أنا قلت يا رب ارحمني، اشف نفسي، لأني قد أخطأت إليك&#8221; (مز٤١: ٤). فإنه لا تكون هناك حاجة لشفاء النفس ما لم تكن قد فسدت بصنع الخطية.. فتضاد ذاتها، وتكون مريضة في جسدها.</p>
<p>في كل خطية يوجد بلا شك عمل شهوة ضد المسيح، ولكن عندما يقود ذاك الذي &#8220;يشفي كل أمراضنا&#8221; (مز١٠٣: ٣) كنيسته في الشفاء الموعود به، عندئذ سوف لا يكون في أيّ عضو من أعضائنا أيّ غضن أو دنس.</p>
<p>إذن سوف لا يشتهي الجسد ضد الروح قط، وعندئذ لا يكون هناك أيّ داعٍ لكي يشتهي الروح ضد الجسد. سينتهي هذا النزاع، سيكون هناك اتفاق بين العنصريْن علي أعلي مستوي، وسوف لا يكون هناك أحد جسديًا، حتى أن الجسد نفسه سيكون &#8220;روحيًا&#8221;.</p>
<ul>
<li>فما يفعله من جهة جسده ذاك الذي يحيا حسب المسيح، إذ يشتهي ضد الشهوة الشريرة ذاتها، مقاومًا إياها لكي يُشفَى، لكنه لم يُشفَ بعد إذ هي فيه، إلا أنه مع هذا يُنعش طبيعة الجسد الصالحة ويلاطفها، حيث &#8220;لم يبغض أحد جسده قط&#8221; (أف ٥: ٢٩). هذا أيضًا بذاته يفعله السيد المسيح من جهة كنيسته وذلك إن قارنا الأمور الصغيرة بالأمور الكبيرة. لأن السيد المسيح يضغط عليها بالانتهار، لكي لا تتكبر خلال سموها، ويرفعها بالتعزيات حتى لا تسقط في الهاوية بالضعفات. وهذا ما يقوله الرسول: &#8220;لأننا لو حكمنا على أنفسنا لما حُكم علينا، ولكن إذ قد حُكم علينا نؤدب من الرب لكي لا نُدان مع العالم&#8221; (١كو ١١: ٣١ &#8211; ٣٢) وهذا ما جاء في المزمور: &#8220;عند كثرة همومي في داخلي، تعزياتك تلذذ نفسي&#8221; (مز ٩٤: ١٩).</li>
<li> بالتأكيد لا يتحقق تجديد الإنسان الداخلي في لحظةٍ واحدةٍ عند قبول الإيمان، إنه ليس مثل التجديد الذي يحدث في العماد الروحي الذي يحدث في لحظة قبولنا لمغفرة الخطايا، في اللحظة التي فيها يُنزع عنا كل ما هو ضدنا، ولا يبقى شيء بلا مغفرة (مز ١٠٣: ١٢)</li>
</ul>
<p>الشفاء من الحمى شيء، واستعادة الإنسان لصحته بعد معاناته من الضعف بسبب المرض شيء آخر.</p>
<p>نزع الحربة من الجسم شيء، والشفاء من الجرح المميت بالعلاج الطويل والرعاية شيء آخر</p>
<p>إني أخبركم أن إزالة العلة هو مجرد الخطوة الأولى للعلاج، هذه الخطوة الأولى التي فيها تهتم بشفاء نفسك هي اللحظة التي فيها تُغفر خطاياك.</p>
<p>بالإضافة إلى هذا توجد حاجة إلى الشفاء من المرض الروحي نفسه، هذا يتحقق تدريجيًا، يومًا فيومًا، إذ تُمحى تدريجيًا صورة الإنسان الساقط الذي في الداخل، وتتجدد حسب صورة الله.</p>
<p>كل من هاتين العمليتين وُضعت في آية واحدة (مز ١٠٣: ٣). يشير المرتل:</p>
<p>أولًا: إلى ذاك الذي يغفر كل خطاياك، هذا يتحقق في العماد بمراحم الله.</p>
<p>ثانيًا، نقرأ أنه هو نفسه يشفي أمراضكم، هنا يتحدث عن التقدُّم اليومي الذي فيه تنمو صورة الله بقوة فينا<a href="#_ftn9" name="_ftnref9">[9]</a>.</p>
<p></p>
<p></p>
<p><strong>العظة الآبائية الخامسة للأحد الأول من شهر بابه والمشي هنا معناه أن نتقدم وننمو في الكمال للقديس غريغوريوس النيسي</strong></p>
<p></p>
<p><strong>ربيع الروح:</strong></p>
<p>&#8221; لأن الشتاء قد مضى والمطر مر وزال &#8221; (نش ٢: ١١).</p>
<p>ما أجمل عمل الله فى الخليقة وفى الفصول حين يقول داود النبى &#8221; الصيف والشتاء أنت خلقتهما &#8221; (مز ٧٤: ١٧) والشتاء حين يعبر انما يرمز الى عبور الحزن والكآبة والظلمة وانتهاء الأمطار ، ولكن حين يأتى الربيع تمتلىء الحقول بالأزهار ، والبذور تتفتح وتصبح على أهبة القطف حيث يأتى وقت الأزهار لعمل اكاليل الزينة أو لصنع الروائح منها ، لقد جاء وقت الفرح وصوت العصافير والطيور تشدو فى الأودية وصوت الحمام يهدر فى آذاننا . ويأتى أيضا وقت الثمر حيث يثمر شجر التين وتمتلىء كرمة العنب بالأزهار التى تبتهج انوفنا بعبيرها العطر وهذه هى صورة الربيع التى تبعد عنا كل صورة قاتمة وتبهجنا بكل ما هو مملوء بالمسرة . ولكن الفكر لا يجب أن يبقى عند حدود هذه الأشكال والصور بل يخترقها الى الأسرار والكنوز التى وراء الكلمات . والمعنى أنه بسبب كثرة الأثم فى الأيام الأخيرة بردت محبة الكثيرين ، وكثرت الأصنام التى يتعبد لها الانسان وابتدأ الانسان فى الجمود الروحى والسلوك المادى نتيجة هذه الأصنام . أما الذين يتجهون الى الله فهم يأخذون فى أنفسهم الصورة الألهية والعكس أيضا أن الذين يتجهون الى الأوثان الباطلة فهم يصيرون مثل الحجر بدلا من كونهم بشر ويصبحون جامدين وغير قادرين على النمو ويصيرون فى برودة الأصنام.</p>
<p>ولكن حين تشرق شمس البر على هذه الطبيعة القاسية التى يرمز لها بالشتاء فان الربيع حالا يأتى وريح الجنوب تبدد ذلك البرد وأشعة الشمس تعطى دفئا لكل المكان، هكذا الانسان البارد روحيا والذى أصبح مثل الحجر فأنه يتحول الى الدفء ثانية عن طريق الروح القدس ويأخذ الحرارة من أشعة الكلمة ويصير مثل نبع الماء الذى ينبع الى حياة آبدية كما يقول المزمور &#8221; المحول الصخرة الى غدران مياه. الصوان الى ينابيع مياه &#8220;(مز ١١٤: ٨) ومثل قول المرنم أيضا &#8221; يرسل كلمته فيذيبها يهب ريحه فتسيل المياه &#8221; (مز١٤٧: ١٨) .</p>
<p>لقد علم يوحنا المعمدان بهذا التعليم حين قال لليهود &#8221; أن الله قادر أن يقيم من هذه الحجارة أولادا لابراهيم &#8221; (مت ٣: ٩) وهذه هى رسالة الكنيسة حيث تستقبل الحق خلال نافذة الأنبياء وعمل الناموس . وفى الواقع كان فى العهد القديم يقف الناموس كحائط وسياج يختفى الحق خلفهما وكان يمنع ظل الخيرات أن تأتى الينا ولكن فى العهد الجديد بعد أن جاء الرب يسوع نقض هذا الحاجز وجاء نور الكلمة الى جماعة المؤمنين خلال الكنيسة وأقبل الينا النور الحقيقى خلال التجسد الالهى وأضاء لكل المؤمنين داخل الكنيسة وهكذا عن طريق تجسد الكلمة قام الذين سقطوا وتبدد الشتاء وعبر حين جاء الرب يسوع المسيح متجسدا والآن قم واستيقظ أيها النائم من وحل الخطية.</p>
<p>&#8221; قومى يا حبيبتى يا جميلتى وتعالى &#8221; (نش٢: ١٣) .</p>
<p>لا يكفى أن تقوم النفس من الخطية بل يجب أن تتقدم أيضا فى الصلاح وأن تكمل طريق الكمال. وهذا ما تعلمناه من معجزة شفاء المفلوج لأن الكلمة لم تكن أن يقوم من سرير المرض فقط، بل وأن يمشى أيضا (مت ٩: ٦) والمشى هنا معناه أن نتقدم وننمو فى الكمال. ولذلك يقول العريس للنفس قومى وتعالى. أى قوة موجودة فى تلك الوصية لأن صوت الرب هو صوت القوة &#8221; هوذا يعطى صوته صوت قوة &#8221; (مز٦٨: ٣٣) ويقول المزمور أيضا &#8221; لأنه قال فكان هو أمر فصار &#8221; (مز٣٣: ٩)</p>
<p>ولذلك فان الرب يسوع المسيح يتحدث الى العروس المتكئة ويقول لها قومى وتعالى، وللحال يتحول كلامه الى فعل وعمل لأنه عندما تأخذ منه الآمر بالقيام فانها للحال تقوم وتقترب وتأتى الى النور كما هو واضح من كلامه الذي يدعوها به &#8221; قومى ياحبيبتى يا جميلتى وتعالى &#8221; (نش٢: ١٣) فلنلاحظ هنا ارتباط تلك الصفات بعضها ببعض. لأنه حين تسمع العروس الوصية وتتقوى بالكلمة ثم تقوم وتقترب وتصير جميلة لانها كمرآة ينعكس عليها الجمال الأصلى الالهى ورغم انحدار الطبيعة البشرية وسقوطها على الأرض وأصبحت تشابه الحية فى شكلها الا أنها الآن قد قامت لتنظر الى الصلاح وتعطى ظهرها للخطية وتنظر فقط الى البر الأصلى الذى هو الجمال الالهى الحقيقى واصبحت النفس مثل الحمامة لأن اتجاهها نحو النور جعلها تأخذ شكل النور وخلا هذا النور تأخذ شكل الحمامة الحلو. والحمامة ترمز الى حضور الروح القدس فى النفس.<a href="#_ftn10" name="_ftnref10">[10]</a></p>
<p></p>
<p></p>
<h3>عظات اباء وخدام معاصرين</h3>
<p></p>
<h4>عظة لقداسة البابا تواضروس</h4>
<p></p>
<p><strong>الأصحاب الأربعة:</strong></p>
<p>+ آحاد هذا الشهر تدور حول موضوع &#8221; المسيح خادم لكل العالم &#8221;</p>
<p>+ ع ٧ : من يقدر أن يغفر الخطايا إلا الله وحده ؟</p>
<p>سؤال قصد به الإساءة إلى ربنا يسوع</p>
<p>الأصحاب الأربعة:</p>
<p>رقم ( ٤ ) يشير إلى الكنيسة : ( ٣ رتب الإكليروس + الشعب ) الكل يعمل من أجل نفس واحدة مصابة</p>
<p>رقم الإنجيليين الأربعة: فهم الذين قدموا لى المسيح أبن الله غافر خطاياى</p>
<p>رمز لثلاثة فتية والرابع شبيه بابن الآلهة</p>
<p>السرير له ٤ أركان ، رمز الألم.</p>
<p>+ لقد حسب اليهود أن شفاء الجسد ( الأمر السهل ) أصعب من شفاء النفس ( الصعب )</p>
<p>+ &#8220;تسربل يا أخى بالأتضاع كل حين فإنه يلبس نفسك المسيح معطيه &#8221;  ( يوحنا سابا )</p>
<p>+ شفاء المفلوج : بركة للمريض – بركة للجموع – بركة لنا نحن</p>
<p><strong>فن صناعة الأصدقاء:</strong></p>
<p>+ آحاد هذا الشهر تحدثنا عن &#8221; سلطان المسيح مخلصنا &#8221; من خلال أربع معجزات على ، المرض / الطبيعية  / الشيطان  / الموت . على مدار الآحاد الأربعة بالترتيب.</p>
<p>+ محور هذه المعجزة – شفاء المفلوج المدلى – هو الإيمان ، فالمسيح يطلب الإيمان قبل أن يتدخل .. وهكذا نرى أن طريقة الوصول إلى يسوع تعبرعن إيمان المريض وإيمان أصدقائه الأربعة.</p>
<p>من دروس هذه المعجزة &#8221; درس الصداقة&#8230;.. &#8221;</p>
<p>كانوا أصحاب خمسة لهم ذكريات مشتركة عزيزة لديهم &#8230; وعندما مرض صديقهم &#8230; اهتموا به وبذلوا محاولات سابقة عديدة . ومن تصرفهم مع صديقهم المريض نستخرج درساً مهماً جداً وهو:-</p>
<p><strong>الصداقه الحقيقية</strong></p>
<p>ترفع الإنسان لأعلى           تقدمه للمسيح</p>
<p>تقف في محنة الصديق (الصديق عند الضيق ) .</p>
<p>جماعية متعاونة في محبة .</p>
<p>+ يمكن أن نقارن ذلك بأصدقاء الابن الضال ( لو ١٥ )</p>
<p>مقارنة +</p>
<p>مريض محبوب :</p>
<p>له خطية .</p>
<p>نال مغفرة .</p>
<p>عاد لصحته .</p>
<p>أصدقاء أوفياء :</p>
<p>لهم إيمان .</p>
<p>نالوا مديحاً لايمانهم .</p>
<p>اقتنوا ثمرة تعبهم<a href="#_ftn11" name="_ftnref11">[11]</a>.</p>
<p></p>
<p></p>
<h4>عظة للمتنيح أنبا أثناسيوس مطران كرسي بني سويف والبهنسا</h4>
<p></p>
<p><strong>قصة المفلوج : (مت ٩: ١ &#8211; ۸)</strong></p>
<p>مدينته المذكورة في الآية الأولى لا يقصد بها الناصرة وانما كفر ناحوم ، وهي المدينة التي اختارها لاقامته (مت ٤ : ١٣).</p>
<p>تعب هؤلاء الصحاب الأربعة حتى أوصلوا المفلوج الى أمام السيد ما بين شق طريقهم في الزحام، وحفظهم توازن الفراش .ولكن ايمانهم ومحبتهم له جعلتاهم يحتملون التعب بفرح .وكان الرجل عاجزا عن الكلام ، غير أن الرب شفاه بناء على ايمان حامليه . فكم أحرى بنا الا نهمل في عماد أطفال المؤمنين الذين هم حتما ينشأون في كنف الايمان.</p>
<p>قال السيد للرجل : &#8221; مغفورة لك خطاياك ، وليس معنى هذا أن مرضه حتما كان بسبب خطيئة ، على الرغم من أن بعض خطايا تسبب أمراضا من هذا النوع ولكنه الرب الذي يشفي النفس والجسد . ولذا يعترف المؤمن قبل أن ينال سر مسحة المرضى لكي ينال الغفران عن خطيئته (يع ه : ١٥) . تذمر الكتبة عليه وقالوا : أنه يجدف ، أما هو فبين أنه يقول عبارة : &#8221; مغفورة لك خطاياك &#8221; ليست كمجرد صيغة بل لأنه الاله صاحب سلطان الغفران ، ولکی يعلموا أنه صاحب ذلك السلطان قال للمفلوج أن يحمل فراشه ويذهب الى بيته<a href="#_ftn12" name="_ftnref12">[12]</a> •</p>
<p></p>
<p></p>
<h4>اصفح ..المفلوج للمتنيح انبا كيرلس مطران ميلانو.</h4>
<p></p>
<p><strong>اصفح يارب عن جميع سيئاتنا وزلاتنا الله</strong></p>
<p>وحده هو القادر على مغفرة الخطايا (هو ٢: ٧) .. هو غافر خطايانا.. ومنقل حياتنا من الفساد، وعلمنا أن نصلي قائلين &#8221; يا أبانا الذي في السموات .. اغفر لنا ذنوبنا ، كما نغفر نحن أيضا للمذنبين إلينا &#8221; (مت ٦: ١٢) .. وأوصانا قائلا &#8221; إن غفرته للناس زلاتهم ، يغفر لكم أيضا أبوكم السماوي &#8221; (مت ٦: ١٤) .</p>
<p>في سلطان الله أن يغفر الخطايا (مت ٦: ١٢).. وأنه يمحو أثامنا ويغسل أدناسنا بالتوبة والرجوع إليه.. وأيضا بالصفح عن أخطاء الآخرين لنا، ناظرين إلي السيد المسيح الذي صفح لطالبيه قائلا &#8221; يا ابتاه أغفر لهم &#8221; (لو٢٣ : ٣٤) .</p>
<p>السيد المسيح جعل تلاميذه وكلاء لأسراره الإلهية وأعطاه السلطان قائلا &#8221; من غفرتم خطاياه تغفر له. ومن أمسكتم خطاياه تمسك &#8221;  (يو ۲۰ : ۲۳) . ونحن نعترف لله بخطايانا في حضور وكيل أسراره &#8221; وإن اعترفنا بخطايانا فهو أمين وعادل حتى يغفر لنا خطايانا ، ويطهرنا من كل إثم &#8221; (١يو ١ : ٩) . وننال منحة الغفران من الله عن طريق وكلاء أسراره الإلهية .</p>
<p>الجسد السري والدم الكريم الذي نناله بعد التوبة والاعتراف.. هو يتناول حياتنا الداخلية والخارجية فيكون &#8221; طهارة لأجسادنا ، وشفاء لأمراضنا وتطهيرا لآثامنا ، وغسلا لأدناسنا &#8221; ( قسمة القديس اغريغوريوس ) .</p>
<p><strong>تائه خرج بعيداً عن نفسه :</strong></p>
<p>الطفل الصغير يتوه ويضل ، عندما تفلت يده الصغيرة من يد مربيه .. أنه يبقى بعيداً عن أهله ، وعن بيته .. وقد يبكي بدموع ساخنة ، ويصرخ بحزن شديد . ولأنه عاجز عن التعبير ، قد تتلقفه آياد رحيمة . ومن كل هذا نتأثر .. ولا نستعجب لأنه طفل .</p>
<p>إنما نتعجب عندما نرى إنساناً كبيراً .. يسكن في بيته ، ويقيم مع أهله ، ويتحرك فيه عقله .. ويدق قلبه في داخله .. ولكنه تائه وبعيد عن نفسه ،، ومن بعده عنها لا يعرف أنه تائه .. لا يبكي على حاله ، ولا يهتم بالقيام من سقطته ، ولا ينشغل بتوبته ولا رجوعه إلى نفسه ، ولا يعود كما عاد الابن الضال إلى نفسه بنفسه .. تائه ينظر إلى غيره ، ويحصر عيوب غيره ، وفيما هو يسقط فيها يدين الآخرين !!</p>
<p>قال أحد الآباء للتائه بعيداً عن نفسه &#8221; من يترك ميته ، ويبكي على ميت غيره ؟ &#8221; . الانشغال بخطايا الآخرين وإدانتهم ، لا يغفر لنا خطايانا .</p>
<p>خطايانا ثقيلة .. ظاهرة وخفية .. وبإرادة وبدون إرادة .. لا تحتاج أن نحمل معها خطايا الآخرين فتكون لنا زيادة في الخطية ، وتمنعنا عن التوبة .. فعلينا أن نتوب ونطرح كل أحمالنا الثقيلة أمام السيد المسيح القائل &#8221; تعالوا إلي يا جميع المتعبين وثقيلي الأحمال وأنا أريحكم &#8221; .</p>
<p><strong>الطعام المشبع للمسيح :</strong></p>
<p>أخي الحبيب .. أنت تعلم جيداً أنه لو أكرمنا العالم كله ومدحنا ومجدنا .. فليست هذه هي التزكية التي يستند عليها الله فاحص الأعماق .. ولا نتزكى بها وندخل لنعاين محبة الله السرمدي عند قيامة الأموات وحياة الدهر الآتي .</p>
<p>الذي يتزكى للدخول هو الذي سمع على الأرض &#8221; مغفورة لك خطاياك &#8221; ، وذلك بعد جهاد حسن وتوبة مستمرة كل لحظة .</p>
<p>الذي يرى خطاياه ويهتم بتوبته ، ينكسر قلبه وينسحق ، ويقبل الرب توبته كذبيحة نقية .. ومنه يشتم رائحة الرضا .</p>
<p>هيا بنا ندخل بأفكارنا لبيت سمعان الفريسي .. ونبصر ما هو الطعام المحبب للمسيح .. وما الوليمة التي يشتاق إليها قلب المسيح ؟</p>
<p>وليمة أعدها سمعان والكل يعلم بهذا . ولم يستطعمها المسيح .. ووليمة أخرى عند قدمي المسيح صنعتها المرأة الخاطئة ، بدموع التوبة وطلب المغفرة من غافر الخطايا .. علم بها المسيح وأحبها ، وشبع بتوبتها ، وأرتوى برجوعها إليه . استحقت صوت العريس القائل &#8221; سبيت قلبي يا اختي العروس بإحدى عينيك . بقلادة &#8211; واحدة من عنقك &#8221; .</p>
<p><strong>مغفورة لك خطاياك :</strong></p>
<p>ما أعذبها كلمة تريح النفس الهالكة .. وتخرج النفس المغلق عليها تحت الخطية .. قالها السيد المسيح للخطاة التائبين .. وهو متشوق لكي يمنحها لكل تائب . &#8221; بها يتذوق الإنسان حلاوة التوبة ، وينفر من مرارة الخطية .</p>
<p>بالتوبة ينغسل القلب من الشر (أرميا ٤ : ١٤) . وبكلمة مغفورة لك خطاياك يخلق القلب من جديد . بمغفرة الخطايا ، تفتح الأبواب السمائية . وبها يتعانق القلب الصغير التائب ، مع القلب الكبير .. قلب الله القدوس .</p>
<p>إذا كنا نرى في عالمنا الحاضر ما هو تأثير كارت من مسئول كبير .. أو إمضائه أو رفع سماعته لمساعدة إنسان والاهتمام به لفتح الأبواب الأرضية أمامه .. ماذا يكون نصيب من حمل معه &#8221; مغفورة لك خطاياك &#8221; إنه يخرج من تحت الخطية .. ويحمل على أجنحة النسور .. وبها يجئ ويدخل للأحضان الأبوية المفتوحة .</p>
<p>لذا كل ما نطلبه من الله ونحصل عليه مهما بلغت قيمته ، لا يعادل المنحة الإلهية عند سماع &#8221; مغفورة لك خطاياك &#8221; .</p>
<p>بها نبقى مع الله ، والله يبقى فينا . ونقول مع المرنم &#8221; تعود أنت يا الله فتحينا ، ويفرح بك شعبك &#8221; (مز ٨٥ : ٦)<a href="#_ftn13" name="_ftnref13">[13]</a> .</p>
<p></p>
<p></p>
<h4>عظة للمتنيح القمص لوقا سيداروس</h4>
<p></p>
<p><strong>الأحد الأول من شهر بابه</strong></p>
<p><strong>(مر ٢: ١ – ١٢)  </strong></p>
<p><strong>شفاء المفلوج</strong></p>
<p>إنجيل هذا اليوم إنجيل خدمة المفلوجين وتقديمهم للمسيح &#8230;. إنجيل القلوب الرحيمة والتي لا ترتاح إلا في البذل والعطاء ولا تتوقف حتى تحدث قوات وآيات يتمجد فيها إسم يسوع المسيح .</p>
<p><strong>المفلوج</strong></p>
<p>المفلوج إنسان مشلول عاجز تماماً عن الحركة &#8230; ملقي علي فراشه يخيم عليه ظل الموت &#8230; ألا يوجد يوم بيننا مفتوحين كثيرين أقعدتهم الخطية وشلت حركتهم نحو الله نهائياً &#8230; لابد ترتفع نحو الله في الصلاة ، ولا أرجل تسعي نحو جعالة دعوة الله العليا وتركع في خشوع ، ولا عين تتطلع في رجاء ، ولا قلب يرتفع في خفة وسهولة &#8230; والجسد كله أنهكته الخطية وحطمته الشهوات ملقي علي سرير الخطايا منطرحاً في ظل الموت .</p>
<p><strong>أربعة رجال</strong></p>
<p>ألايوجد بيننا اليوم صاحب قلب رحيم وشفوق يتحنن على إخواته &#8230; أين غيرة نحميا ودموعه وصومه ورجائه وتذللة أمام إلههم أجل إخوته وبيت أبيه &#8230; أين دمؤع أرميا ؟أين شفاعة موسى وداود وصلاة أشعياء &#8230; ألا يوجد اليوم من يشدد يده للعمل ليحمل أوجاع إخوته &#8230; إحملوا بعضكم أثقال بعض وهكذا تمموا ناموس المسيح  .</p>
<p>فلما رأى يسوع إيمانهم</p>
<p>ولكن ما هو دون هؤلاء الأربعة في المعجزة ؟ إنه دور خطير جدًا وأساسي جداً في إتمام مقاصد الله &#8230;.</p>
<p><strong>١-إنكار الذات </strong></p>
<p>هذا شيءٍ رئيسي جدأ في خدمة النفوس المفلوجة . فالرجال الأربعة يتمثل فيهم الشكل الكامل للخدمة الحقيقية داخل الكنيسة الأسقف والكاهن والشماس والشخص العادي إذا إتحدوا بمحبة حقيقية وعملوا كمجهولين فلا مركز ولا اسم ولا شكل ولا كرامة تعطل هذه الخدمة للنفوس المفلوجة . وطالما يعيش هؤلاء الأربعة في إنكار ذات ونبذ للكرامة العالمية وحب الظهور ومشكلة من هو الأول بيننا&#8230; طالما هم يمارسون روح المسيح ويضعون أنفسهم بإتفاق كامل من أجل المسيح في خدمة النفوس المتعبة لابد أن تحدث المعجزات ، ولابد أن ينظر المسيح له المجد إلي إيمانهم ويشفي بقوة ويمنح غفران الخطايا .</p>
<p><strong>٢- الإيمان </strong></p>
<p>إن الذين تكملوا في الإيمان هم القديسون الذين صارت لهم ثقة كبيرة في شخص المسيح ، الذين بالإيمان صنعوا براً ونالوا مواعيد وتقولوا من ضعف &#8230; إن هولاء الأربعة في الكنيسة اليوم هم آباؤنا القديسون الذين يحملون النفوس المفلوجة &#8230; يحملونها بصلاتهم ويقدمونها للمخلص بإيمانهم وهو يشفيهم . الكنيسة تعيش هذا الإيمان اليوم حينما تتشفع بالقديسين من أجل الضعفاء وغير التائبين ، وتتوسل أن يكونوا محمولين علي صلواتهم ليصلوا إلى حيث الرب يسوع .</p>
<p><strong>٣-الخطية هي أصل الداء</strong></p>
<p>لقد قال الرب للمفلوج مغفورة لك خطاياك قبل أن يقول له : &#8221; قم تحمل سريرك وأمشى &#8221; . لأن الرب يسوع يعتني بالدراجة الأولى أن يخرج الخطية ويطردها من الداخل قبل أي عمل خارجي كثيراً ما نتوقع من رجال الله أن يتحدثوا عن الإصلاح الاجتماعي والأمور، والترتيبات المادية ، ومشاكل المجتمع. ولكننا نرى الكنيسة تتحدث أساساً عن التوبة والغفران &#8230;.حقيقة  أن الكنيسة مسئولة عن إيجاد حلول لمشاكل الإنسان ولكن يجب أن نكشف أن سر آلام الناس والمظالم التي يعيش فيها الإنسان والأمراض . كائن في أن الخطية وراء كل هذا ، لأن بالخطية دخل الموت إلى العالم واجتاز إلى جميع الناس . إن كل تسيب روحي وبعد عن الله هو التغاضي عن الكشف عن الخطية المستقرة في الأعماق ، والمحاولات اليائسة في الخارج قبل غفران الخطايا</p>
<p><strong>٤-غفران الخطايا</strong></p>
<p>المسيح في هذه الحادثة يظهر سلطان غفران الخطايا كيف يكون . وأراد أن يرينا كيف يتشدد الإنسان ويقوم في الحال من ضعف إلى قوة ، ومن موت إلى حياة &#8230; ومن ظلمة إلي نور حينما ينال غفران خطاياه . ولقد أراد الرب بشفاء جسد الإنسان أن يظهر لنا سر غفران الخطايا داخل النفس البشرية. هنا يقف الجسد كشاهد لما حدث خفياً في نفس ذلك المريض حينما حمل الرب نفسه ثقل خطاياه وحمل ورفع عنه موتها . فإن كان المشلول يقوم متحركاً للحال بقوة ويحمل سريرة ويسير في وسط الجموع &#8230;. إن كان هذا المنظر مذهلا للعقل البشري ومدهشاً بهذا المقدار. فماذا يكون منظر النفس من الداخل وهي تنفض رباطات الخطية وتتمتع بقوة خلاص الرب وغفران الخطايا ! !</p>
<p><strong>ولكن كيف يتم غفران الخطايا</strong></p>
<p>قال الرب للمفلوج : &#8221; مغفورة لك خطاياك &#8221;</p>
<p>الموضوع ليس مجرد كلمة قالها الرب للمفلوج ، ولكن حقيقة الأمر أن الرب يسوع رضي أن يعمل مع المريض مبادلة في غاية العجب &#8230; يأخذ خطاياه ويعطيه بره ويحمل أوجاعه ويطلق نفسه بلا قيود ، ويسلم الرب نفسه للقيود &#8230; الذي لم يعرف خطيه صار خطيه لأجلنا لكي نحن بر الله فيه . وهكذا ما كان الرب مزمعاً أن يعمله مع الجنس البشري كله بالصليب &#8230; غفران الخطايا هو أن يحمل يسوع حمل الله ويبرئنا من نيرها الرهيب ، ويبذل هو نفسه فدية عن الكثيرين &#8230;</p>
<p><strong>٥- قم إحمل سريرك</strong></p>
<p>علامة الصحة لهذا المريض صارت هي حمل الصليب &#8230; بهذا يشهد الجميع على قوة قيامة وحياة جديدة &#8230; هكذا قصد الرب أن يعطينا علامة وعربون خلاص عندما قال لنا أن نحمل صليبنا  ونتبعه &#8230; إن حمل الصليب هو علامة حياتنا الجديدة وقوتنا يعد أن ذقنا موت الصليب وعار الخطية ، صرنا نحمل الصليب كعلامة شفاء النفس وجدة حياتنا<a href="#_ftn14" name="_ftnref14">[14]</a> .</p>
<p></p>
<p></p>
<h4>سر الشفاء ( مسحة المرضي ) معناه وغايته في الإيمان الأرثوذكسي &#8211; الأب ألكسندر شميمن</h4>
<p></p>
<p>&#8221; يجب أن نكتشف النظرة السرائرية لحياة الإنسان ، تلك النظرة غير المتغيرة ، والتي هي دائماً مواكبة للعصر &#8230; فالكنيسة تعتبر الشفاء سر. ولكن هناك سوء فهم استمر لقرون طويلة باعتبار الكنيسة : &#8221; دين &#8221; . سوء فهم عانت منه كل الأسرار ، وتعاني منه كل عقيدة &#8221; الأسرار &#8221; ذاتها . في حين أن سر الزيت [ مسحة المرضي ] هو في الواقع سر الموت ! &#8230; حيث يُفْتَح للإنسان ليس أكثر ولا أقل من ممر آمن للأبدية [ علي الأرض ] .</p>
<p>هناك خطر : أن اليوم ، مع الاهتمام المتزايد للعلاج بين المسيحيين ، أن يُساء فهم السر [ سر مسحة المرضي ] ، علي أنه سر للصحة [ للحصول علي الصحة ] ، وكأنّه مكمل مفيد للطب الدنيوي &#8230; [ بينما ] السر ، كما نعرفه ، هو دائماً معبر وتحول . ليس معبر إلي ما هوخارق للطبيعة [ لحدوث معجزة ] ، بل معبر إلي ملكوت الله ، إلي العالم الآتي ، إلي حقيقة هذا العالم ، وإلي حقيقة حياة العالم المفديةوالمُسْتَعَادة [ لصورتها الإولي ] بواسطة المسيح .</p>
<p>إنه ليس تُحوَّل الطبيعة لما هو خارق للطبيعة [ إعجازي ] ، بل تحوَّل القديم إلي الجديد . فالسر (سر مسحة المرضي ) ليس معجزة من خلاله يكسر الله قوانين الطبيعة ، بل هو تجلّي للحقيقة المطلقة عن هذا العالم وتلك الحياة ، عن الإنسان والطبيعة ، عن الحقيقة التي هي : &#8221; المسيح&#8221; . فالشفاء هو سر ، لأن غايته أو نهايته ليست التعافي ، ولا غايته أو نهايته استعادة الصحة البدنية ، بل هو سر لأن فيه دخول الإنسان إلي داخل حياة الملكوت : إلي داخل السعادة والسلام الخاص بالروح القدس . في المسيح ، كل شئ في هذا العالم ، سواء صحّة أو مرض ،سعادة أو معاناة ، أصبح الكل صعوداً ودخولًا في تلك الحياة الجديدة : المتوقعة [ في الحياة الحالية ] والمرتقبة [ في الحياة الآتية ]</p>
<p>في هذه الحياة ، المعاناة والمرض بلا شك هي أشياء [ نعتبرها ] : &#8221; طبيعية &#8221; ، ولكن طبيعيتها ذاتها أمر غير طبيعي ! فهذا يكشف الهزيمة المطلقة والدائمة للإنسان والحياة ، هزيمة برغم روعة وإعجاز الطب في انتصاراته الجزئية ، فإنه لا يمكنه أن ينتصر علي المعاناة والمرض انتصار مطلق . في حين أن في المسيح ، المعاناة لن تزول ، بل تتحوَّل لإنتصار ! الهزيمة تصير ذاتها إنتصاراً ! تصير الهزيمة طريق ومدخل إلي الملكوت ، وهذا هو الشفاء الحقيقي الوحيد .</p>
<p>هنا إنسان يعاني علي سريره من الألم ، وتأتيه الكنيسة وتعمل سر الشفاء [ سر مسحة المرضي ] . لهذا الرجل ، ولكل رجل في العالم كله ،المعاناة من الممكن أن تكون له &#8221; هزيمة &#8221; ، عن طريق الإستسلام الكلي للظلام واليأس والعزلة . يُمْكِن أن تكون له &#8221; موت &#8221; بالمعني الحقيقي للكلمة . ويُمْكِن أيضاً أن تكون المعاناة انتصاراً مطلقاً للإنسان ، وإنتصاراً للحياة في الإنسان .</p>
<p>فالكنيسة لا تأتي لتعيد الصحة إلي هذا الإنسان ، ولا لكي تكون ببساطة بديل للعلاج حين يستنفذ الطب كل وسائله . بل الكنيسة تأتي لتأخذ الإنسان إلي حب ونور وحياة المسيح . تأتي ليس لمجرد أن تريحه من معاناة ولا لكي تساعده ، ولكن لكي تجعل الإنسان : &#8221; شهيد &#8221; ،وتجعله شاهد للمسيح في قمّة معاناته . فالشهيد هو من يري السموات مفتوحة وابن الإنسان واقف عن يمين الله . الشهيد هو الذي الله له ليس أمل آخر أو أخير لإيقاف الألم الفظيع . بل الله له هو الحياة الحقيقة ، ولهذا فكل شئ في حياته ينتهي إلي الله ، ويصعد لملء الحب<a href="#_ftn15" name="_ftnref15">[15]</a> .</p>
<p></p>
<p></p>
<h4>عظة للمتنيح القمص بولس باسيلي</h4>
<p></p>
<p>المفلوج (ص٢٥٢-٢٥٦)</p>
<p>حبيب الشعب!!</p>
<p>عظة على ضوء القراءات الكنسية:</p>
<p>البولس :               (۲ کو ۱۲ : ۳ &#8211; ۳ : ١-٦)</p>
<p>كاثوليكون :           (١بط ۱ : ۲۲ ، ۱ : ۲ – ٥)</p>
<p>الابركسيس :              (أع ١٣ : ٣٦ &#8211; ٤٣)</p>
<p>الانجيل :                     (مر ٢: ١- ١٢)</p>
<p><strong>القسم الأول: جموع خلف يسوع !!</strong></p>
<p>في معجزة شفاء المفلوج رأينا عينات كثيرة تبعت يسوع، بعضها مؤمن وبعضها منتقد ، و بعضها منتفع ، إلا أن الجميع بعد إتمام المعجزة اتحدوا حول نقطة واحدة وهي هذه : &#8221; بهت الجميع ومجدوا الله قائلين ما رأينا مثل هذا قط &#8221; .</p>
<p>(١) قوم تبعوه مؤمنين : وهم المفلوج وأصدقاؤه فكان يخاطبهم بالكلمة ، والإيمان هو الثقة بما يرجى (عب۱۱ : ۱) وهو أحد القواعد الرئيسية الثلاث الحياة المسيحية &#8221; الرحمة والحق والإيمان &#8221; (مت۲۳ : ۲۲) وهكذا الإيمان هو أساس البركات &#8221; إن كان أحد تعوزه حكمة فليطلب من الله الذي يعطى الجميع بسخاء ولا يعير فسيعطى له ، و لكن ليطلب بإيمان غير مر تاب البتة &#8221;    (يع ١: ٥) &#8221; مثل إيمان اسطفانوس والمرأة الخاطئة والسجان وبولس</p>
<p>(٢) وقوم تبعوه منتقدين : وهم الكتبة والفريسيون إذ جعلوا ينتقدون يسوع &#8221; لماذا يتكلم هذا هكذا بتجاديف من يقدر أن يغفر خطايا إلا الله وحده ؟&#8221;</p>
<p>قال يسوع &#8221; لا تدينوا لكي لا تدانوا &#8221; (مت ۷: ۱) &#8221; لأن الله هو الديان &#8221; (مز ٥٠: ٦)</p>
<p>(٣ ) وقوم تبعوه مغرضين : قال يسوع &#8221; أنتم تطلبونني ليس لأنكم رأيتم آيات بل لأنكم أكلتم من الخبز فشبعتم &#8221; (يو ٦ : ٢٦) إن الإيمان بالمسيح ينبغى أن يكون باخلاص و بلا رياء (۱تی ١ : ٥ )</p>
<p><strong>القسم الثاني : بركات تا بعى يسوع !!</strong></p>
<p>(١ ) يمنحهم غفراناً : شعب الله المؤمن يمنحه غفراناً كما قال اشعياء&#8221; الشعب الساكن فيها مغفور الإثم &#8221; (أش ١٢ : ٢٤) ويمنح لنا بالنعمة &#8221; بالنعمة أنتم مخلصون بالإيمان , وقول الرسول &#8221; بنعمة الرب يسوع المسيح نؤمن أن نخلص &#8221; (أع ١٥ : ١١) &#8221; ويدعى اسم يسوع لأنه يخلص شعبه من خطاياهم &#8221; .</p>
<p>(٢) يمنحهم قوة وسلاماً : &#8221; طالبو الرب يجددون قوة يرفعون أجنحة كالنسور ، يمشون ولا يتعبون ، يركضون ولا يعيون &#8221; &#8221; سلامي أعطيكم سلامی أترك لكم &#8221; &#8221; فاذ قد تبررنا بالإيمان لنا سلام مع الله &#8221; &#8221; عند كثرة همومى في داخلي تعزيانك يارب تلذذ نفسى&#8221;</p>
<p>(٣) بمحنهم حياة أبدية : &#8220;أما هبة الله فهى حياة أبدية بالمسيح يسوع ربنا &#8221; (رو ٦ :٢٣) &#8221; وكل من ترك بيوتاً . . يرث الحياة الابدية &#8221; (مت ۱۹: ۲۹) &#8221; ومن يغلب سأعطيه أن يأكل من شجرة الحياة التي في وسط فرودس الله &#8221; ( رؤ ۲ : ۷) ويوصينا الرسول بولس &#8220;جاهد الجهاد الحسن وامسك بالحياة الأبدية &#8221; (١تى ٦: ١٢).</p>
<p><strong>تأملات روحية . . نقاط تفسيرية</strong></p>
<p>حول عظة الأحد الأول من بابه (مر۲: ۱- ۱۲)</p>
<ul>
<li>&#8221; ثم دخل كفر ناحوم&#8221; : هذه القرية &#8220;كفر ناحوم &#8221; لعبت على صفحات الكتاب المقدس أدواراً خطيرة هامة ، ذلك لأن رب المجد بعدما ترك الناصرة اتخذ منها موطناً له حتى أن البشير لقبها مرة بأنها &#8220;مدينة يسوع &#8221; (مت ۹ : ۱) وصرح البشير متى بأن المسيح &#8221; ترك الناصرة وأتى فسكن في كفر ناحوم &#8221; (مت ٤ : ١٣) ولطالما صنع المسيح فيها عجائبه ومعجزاته المشهورة فقد شفى فيها غلام قائد المائة الذي كان مفلوجاً (مت ٨ : ه) كما أقام فيها حماة بطرس المطروحة بحمى شديدة (مت ٨ : ١٤) وهكذا أقام فيها مفلوجنا الذي نحن بصدده في هذه العظة . (مر٢: ١-۲۰) .</li>
<li>&#8221; سمع أنه في بيت &#8221; : لسنا نعلم بالضبط وعلى وجه التحديد بيت من هذا الذي دخله يسوع ، لكنا نرجح انه بيت سمعان بطرس الذي كان يأوى إليه دائماً وهو في كفر ناحوم &#8221; فاجتمع حوله كثيرون حتى لم يعد يسع ولا ما حول الباب &#8221; يا له من بيت محظوظ تشرف بدخول رب المجد إليه ، هل يسوع في بيتك أم أنه لا يزال خارجاً ، إن كان لا يزال خارج الباب فاصغ إليه وهو يقول &#8221; هأنذا واقف على الباب وأقرع إن سمع أحد صوتى وفتح الباب أدخل إليه أتعشى معه وهو معی &#8221; (رؤ ۳ : ۲۰) انصت إليه أيضاً وهو يقول &#8221; إن أحبنى أحد يحفظ کلامی ، ويحبه أبى ، وإليه تأتى وعنده نصنع منزلا &#8221; (يو ١٤ : ٣) .</li>
<li>&#8221; سمع أنه في بيت &#8221; : كلمة &#8221; سمع &#8221; هنا تفيد بأن المسيح دخل إلى ذلك البيت خفية ، ولكن سرعان ما ذاع خبر وجوده في ذلك البيت ! ! و لعل سبب ذلك ما نقرأه في &#8221; (مر١ : ٤٥) أي قبل دخوله هذا البيت مباشرة  من أن المسيح له المجد كان قد طهر الأبرص ، ورغم أنه أمره قائلا &#8221; أنظر لا تقل لأحد شيئا &#8221; إلا أن الأبرص &#8221; خرج وابتدأ ينادى كثيراً ويذيع الخبر حتى لم يعد يقدر أن يدخل مدينة ظاهراً &#8221; ورغم أن المسيح منذ ذلك التاريخ &#8221; لم يعد يقدر أن يدخل مدينة ظاهراً ، بل خفية لأنه لم يكن قد جاء الوقت الذي ينبغي أن يظهر فيه المسيح بوصفه صانع عجائب ومعجزات إذ &#8221; لكل شيء تحت السموات وقت &#8221; برغم ذلك كله تطاير الخبر إلى جميع التخوم بأن المسيح في بيت ، فطار إليه الشعب من كل فج عميق ! ! أجل كيف يختفى يسوع عن أنظار الناس وهو &#8221; المعلم بين ربوه &#8221; (نش ٥: ١٠) وهل &#8221; يمكن أن تخفى مدينة موضوعة على جبل &#8221; أو &#8221; يوقدون سراجاً ويضعونه تحت المكيال &#8221; ؟ ! ! (مت ٥: ١٤ -١٥) .</li>
<li>&#8221; لم يقدروا أن يقتربوا اليه من أجل الجمع &#8221; : لقد ازدحمت الجماهير على يسوع حتى أغلقت جميع الممرات إليه ، حيث كان يسوع &#8221; يخاطبهم بالكلمة &#8221; والعجيب أنه بينما كان يسوع يخاطبهم ويعظهم عن الرحمة والمحبة ، كانوا في الوقت ذاته يكسرون الوصية ، فلم يساعدوا المريض على الوصول إلى الطبيب ، ولم يفسحوا الطريق أمام المفلوج ، فأية عادة هذه ، وأي منطق ؟ ؟ ليست العبرة بالكم بل بالكيف !! كم من كنائس مزدحمة حتى يختنق الشعب ومع ذلك فالقلوب جاحدة متصلبة ! ! &#8221; إيمان بدون أعمال ميت &#8221; ولله در من قال &#8220;إن الإيمان والمحبة أشبه شيء بطرفي البرجل ، أحدهما أي الإيمان يرتكز ، والثاني يدور بأعمال البر والرحمة &#8220;</li>
<li>في هذه المعجزة اجتمعت ثلاث معجزات هامة معا ، ففي الوقت الذي نرى فيه يسوع يغفر الخطايا للمفلوج &#8221; يا بنى مغفورة لك خطاياك &#8221; نراه يعلم الغيب ويقرأ أفكار الفريسيين , &#8220;لا يعلم الغيب إلا الله &#8221; ، وثالثاً نرى يسوع يشفى هذا الفالج المستعصى ، إذن فهى معجزة مثلثة ويا لها من معجزة.</li>
<li>&#8221; مفلوجاً يحمله أربعة&#8221; : . : كانت الرياح شديدة ، وكانت الأغصان في أحد الحقول تتمايل بشدة ، فسأل الابن أباه  وكانا يسيران معاً في وسط الحقل  أليس عجيباً يا أبي أن الرياح شديدة بهذا المقدار ومع ذلك لا تقوى على كسر سيقان القمح و هى رفيعة بهذا المقدار ؟ ! فقال الأب &#8221; سببان يا ولدي من أجلهما تنتصر السيقان على الرياح : أولا ليونة السيقان فهى كما ترى تنحنى بمرونة وليونه أمام الريح إلى أن تعبر العاصفة ثم تعود فتنتفض انتفاضتها من جديد ، وثانيا كثرة السيقان و تساندها بعضها إلى جوار البعض ، وهكذا إذا تعاونا إزاء رياح الحياة العاصفة فلا بد أن يسند بعضنا بعضاً ، وهذا هو سر نجاح الأصدقاء الأربعة .</li>
<li>&#8221; اذهب الى بيتك&#8221; : ليس هذا نداء للفلوج الذي شفى فحسب بل هو صوت الله لكل شاب منحرف مستهتر ترك بيته وانطرح عند موائد الخمر والقمار إلى ما بعد منتصف الليل ، وهو صوت الله إلى كل رجل هجر زوجته تحت إغراء ما &#8221; اذهب إلى بيتك &#8221; يا من تعيش في مواخير الخطية ، يا من تضيع وقتك بين أضابير المحاكم سعياً وراء تطليق زوجتك .. اذهب إلى بيتك<a href="#_ftn16" name="_ftnref16">[16]</a>.. !!</li>
</ul>
<p></p>
<p></p>
<h4>الأحد الأول من شهر بابه المبارك للمتنيح القمص تادرس البراموسي</h4>
<p></p>
<p><strong>فعادت يده صحيحة كالأخرى (مر ٣: ١ – ١٢)</strong></p>
<p>إن قادة اليهود قد أخذوا موقف العداء من الرب يسوع فقد حسدوه على شعبيته. ومعجزاته . وسلطانه في الكلام . وكان اهتمامهم بمكانتهم الاجتماعية. والدينية بين الشعب. وفرصتهم للكسب الشخصى وكانت تهمهم أمورهم الشخصية. لذلك فقدوا رؤيتهم كقادة دينين أو قد وضعت المسؤولية عليهم لإرشاد الشعب إلى التوبة والرجوع إلى الله والبعد عن الخطية يهمهم أمر الشعب . ويشتركوا في ألامهم وأتعابهم وينهضوا قلوبهم الى السير في طريق الله ليكونوا رعاه أمناء على الرعية التي سيحاسبهم الله على تقصيرهم والواجب ايضاً عليهم أنهم قادة دينين أن يعرفوا الرب يسوع هم أولاً ثم يقدمونه للشعب لكن الغيرة قد أعمت عيونهم والخوف على مناصبهم جعلهم لم يعترفوا به بل ناصبوه العداء ولا سيما أن الرب يسوع كشف أعمالهم ورياءهم هؤلاء الناس الذين قال عنهم الكتاب من فم الكاهن تطلب الشريعة هم حفظة الناموس وهم المنكرين له والحراس عليه كيف يتصرفون بهذا الجهل والغباء. بدل أن يكونوا عارفين بمجئ المسيح المخلص أصبحوا يقاومون المسيح في أعماله وإنقاذه للشعب المنهك المظلوم المغلوب على امره لكثرت تعرض هؤلاء القادة إذا فعل الرب يسوع عملاً حسناً. أو إذ شفى مريض يعتبرونه كسر الناموس والشريعه كسرت الناموس في نظرهم شفاء انسان لكن الأتفاق على قتله لا يكسر الشريعة. عجبى على ناس ضاع الحق بينهم لم يصنع الرب يسوع معجزاته في الخفاء، بل كل معجزاته صنعها علانية وفى وسط الجموع. كان في وسط الجميع رجل يده يابسة أي مريض كان يترقب المسيح لكى يشفيه . لكن كانت فرقة أخرى تنتظر هل المسيح يشفيه أم لا لأن اليوم كان سبت الفرقة الثانية لا ترحم ولا تجعل رحمة ربنا تنزل ما أعجبها فرقة التي هي فرقة الكتبة والفريسيين كانوا ينتظرون العل المسيح يصنع المعجزة في السبت لكى يشتكوا عليه – قال لهم الرب بسوع هل يحل عمل الخير في السبت أم فعل الشر – تخليص نفس أم قتلها فسكتوا فقال للمريض مد يدك فمدها فصارت كالأخرى .</p>
<p></p>
<p><strong>العظة الأولى </strong></p>
<p>أ – الينبوع العذاب كثير الازدحام</p>
<p>ب – دخول القدير وحياة التبرير</p>
<p>ج – مراقبة الأشرار وتصرفات البار</p>
<p>د – كثرة المشتكون ومراقبة العيون</p>
<p>ه &#8211; أعمال الخير واستقامة السير</p>
<p>و – التزمت البغيض وأصل العداء</p>
<p>ذ – عمل الخلاص والنجاة من القصاص</p>
<p>ح – تشاور الأشرار لهلاك الأبرار</p>
<p>ط – شفاء المرضى. ومرض الاصحاء</p>
<p>ى – عطايا الرب يسوع وفرح الجموع</p>
<p></p>
<p><strong>العظة الثانية </strong></p>
<p>أ – التفاف الجموع والنهل من الينبوع</p>
<p>ب – التبرر بالكلام والبعد عن السلام</p>
<p>ج – كيف نختار ونبعد عن الأشرار</p>
<p>د – حالة المريض وكيف نستفيد</p>
<p>ه &#8211; تجارة الكلام والبعد عن الحقيقة</p>
<p>و – الغضب المقدس وعدم الأساءه</p>
<p>ذ – اشتراك الشر في قتل الخير</p>
<p>ح – اجتماع الشعوب في طلب المحبوب</p>
<p>ط – الاعتراف باللاهوت وما عمل المشككون</p>
<p>ى – العمل باجتهاد وراء وحيد الأب</p>
<p></p>
<p><strong>العظة الثالثة </strong></p>
<p>أ – تحمس الرؤساء للشر بلا هواده</p>
<p>ب – لم ينتسبوا للذين فعمتهم العادة</p>
<p>ج – بين الخير والشر مجتمعين دون استفادة</p>
<p>د – حاجتنا للرأي الواحد لجمع شملنا</p>
<p>ه &#8211; نقص المحبة جعل الشر يزداد</p>
<p>و – سؤال غليظ القلب يهدم ولا يبنى</p>
<p>ذ – فلنحترس على قيمتنا لئلا نضيع في الوسط</p>
<p>ح – أمامنا خير وشر ماذا نأخذ من عالمنا</p>
<p>ط – الاختيار السليم وبالخير عليم</p>
<p>ى – هلموا للشفاء مهما كانت المعاناة<a href="#_ftn17" name="_ftnref17">[17]</a></p>
<p></p>
<p></p>
<h4 class="x_ydp9bcd48a6MsoNormal"><span dir="RTL" lang="AR-SA">المتنيح الأرشيدياكون رمسيس نجيب</span></h4>
<p class="x_ydp9bcd48a6MsoNormal"><strong><span dir="RTL" lang="AR-SA">المدلي من السقف</span></strong></p>
<p class="x_ydp9bcd48a6MsoNormal"><span dir="RTL" lang="AR-SA">في كفر ناحوم المدينة التي عاش فيها السيد وكانت هناك سكناه</span> ..</p>
<p class="x_ydp9bcd48a6MsoNormal"><span dir="RTL" lang="AR-SA">وخلال طوافه الدائم في عمل الخير ، يدخل اليها ويكرز ببشارة </span><span dir="RTL" lang="AR-SA">الملكوت</span> ..</p>
<p class="x_ydp9bcd48a6MsoNormal"><span dir="RTL" lang="AR-SA">وفي بيت يرجح الشراح انه بيت بطرس التلميذ ، وحيث يزدحم </span><span dir="RTL" lang="AR-SA">الجمع حتى لم يعد يسع ولا حول البيت .. </span></p>
<p class="x_ydp9bcd48a6MsoNormal"><span dir="RTL" lang="AR-SA"> جاءوا اليه مقدمين </span><span dir="RTL" lang="AR-SA">مفلوجا يحمله أربعة ويدلونه من السقف</span>.</p>
<p class="x_ydp9bcd48a6MsoNormal"><span dir="RTL" lang="AR-SA">وكأن النبوة تسبقه إلى هناك ، كأن أشعياء يتحدث إلى المفلوج </span><span dir="RTL" lang="AR-SA">قائلا : شددوا الأيادي المسترخية والركب المرتعشة ثبتوها .. </span></p>
<p class="x_ydp9bcd48a6MsoNormal"><span dir="RTL" lang="AR-SA">وها </span><span dir="RTL" lang="AR-SA">هي الأطراف المشلولة تقدم للسيد يعيد لها القوة ..  وحين يرى </span><span dir="RTL" lang="AR-SA">اشعياء في النبوة ، مقاومة اليهود وحقد القادة ، يكمل حديثه الى </span><span dir="RTL" lang="AR-SA">كل مفلو</span><span dir="RTL" lang="AR-SA">ج ينال من الرب الشفاء ويقول : قولوا لخائفي القلوب</span> .</p>
<p class="x_ydp9bcd48a6MsoNormal"><span dir="RTL" lang="AR-SA">تشددوا لا تخافوا هوذا الهكم . هو يأتي ويخلصكم</span> .</p>
<p class="x_ydp9bcd48a6MsoNormal"><span dir="RTL" lang="AR-SA">هذه مرة ثانية يشفى فيها السيد مفلوجا مشلول الأطراف وذلك بعد </span><span dir="RTL" lang="AR-SA">أن رأيناه يعيد القوة للمقعد الذي ظل مريضا ثماني وثلاثين عاما</span> .</p>
<p class="x_ydp9bcd48a6MsoNormal"><span dir="RTL" lang="AR-SA">ان كلا منهما وان اختلفت ظروفه عن ظروف الاخر . الا أن شيئا </span><span dir="RTL" lang="AR-SA">ما وحد بينهما .. كانت الخطيئة سبب علة كل منهما وكانت الخطيئة </span><span dir="RTL" lang="AR-SA">وراء عذاب جسديهما ! ومع ذلك فقد اشتركا ايضا في النهاية </span><span dir="RTL" lang="AR-SA">نفسها ، وهي حصولهما على الشفاء الكامل .. شفاء الروح</span></p>
<p class="x_ydp9bcd48a6MsoNormal"><span dir="RTL" lang="AR-SA">والجسد</span>.<span dir="RTL" lang="AR-SA">هذا منعطف آخر من منعطفات حب السيد الرب للخطاة .. وخلال </span><span dir="RTL" lang="AR-SA">هذا اللقاء ، يمكن أن نتحسس بعدا آخر من ابعاد محبته لهم</span> ..</p>
<p class="x_ydp9bcd48a6MsoNormal"><span dir="RTL" lang="AR-SA">يكشف فيه عن عظم رحمته ، وفي الوقت نفسه عن جمال الإنسان </span><span dir="RTL" lang="AR-SA">الذي خلقه</span> ..</p>
<p class="x_ydp9bcd48a6MsoNormal"><strong><span dir="RTL" lang="AR-SA">بین کفر ناحوم  وبيت حسدا</span></strong></p>
<p class="x_ydp9bcd48a6MsoNormal"><span dir="RTL" lang="AR-SA">شتان ما بين ظروف مفلوج كفر ناحوم وتلك التي كانت المفلوج </span><span dir="RTL" lang="AR-SA">بركة بيت حسدا</span> ..</p>
<p class="x_ydp9bcd48a6MsoNormal"><span dir="RTL" lang="AR-SA">ها هو هنا يستقبل المفلوج في بيت .. بينما يذهب هو بنفسه إلى </span><span dir="RTL" lang="AR-SA">الآخر يفتش عنه في أروقة بيت حسدا .. ولحكمة فعل السيد هذا</span> !</p>
<p class="x_ydp9bcd48a6MsoNormal"><span dir="RTL" lang="AR-SA">كان السيد يريد أن يكشف لنا عن جمال خلقته التي شوهتها الخطيئة </span><span dir="RTL" lang="AR-SA">وافسدها المرض ! هو يذهب إلى بيت حسدا ليكشف لنا مقدار مثابرة </span><span dir="RTL" lang="AR-SA">الرجل وتحمله في ايمان كل ما يقع عليه .. ايمان لا يخلو من رقة </span><span dir="RTL" lang="AR-SA">في المشاعر وجرأة في الشهادة ، وها هو هنا يستقبل المفلوج المدلى </span><span dir="RTL" lang="AR-SA">من السقف . انتظره في البيت ، لم يذهب اليه وذلك لكي يعلن ايمانه </span><span dir="RTL" lang="AR-SA">امام الجميع .. </span></p>
<p class="x_ydp9bcd48a6MsoNormal"><span dir="RTL" lang="AR-SA">وعلى مرأى من الجموع المحتشدة أراد أن يعلن غيرة </span><span dir="RTL" lang="AR-SA">هذا الرجل واتقاد إيمانه !! والحق يقال ان ايمان هذا الرجل لهو </span><span dir="RTL" lang="AR-SA">اكثر  وأعمق من ايمان مقعد الثماني والثلاثين عاما. هذا ما نلتمسه </span></p>
<p class="x_ydp9bcd48a6MsoNormal"><span dir="RTL" lang="AR-SA">ونحن  نتابع أحداث هذا اللقاء ، في سلسلة معاملات المسيح مع </span><span dir="RTL" lang="AR-SA">الخطاة</span> :</p>
<p class="x_ydp9bcd48a6MsoNormal"><span dir="RTL" lang="AR-SA">في أحد الأيام كان يسوع يعلم .. قوة السيد حاضرة مع الكلمة ملازمة </span><span dir="RTL" lang="AR-SA">لها وكانت قوة الرب لشفائهم ! شفاء كل المترجين خلاصه العظيم </span><span dir="RTL" lang="AR-SA">،الخاضعين لكلمته الحية</span> .</p>
<p class="x_ydp9bcd48a6MsoNormal"><span dir="RTL" lang="AR-SA">ونلتقي بمشهد يجسد الايمان على صورة ما .. مشهد أربعة رجال </span><span dir="RTL" lang="AR-SA">يشقون طريقهم وسط الجمع المحتشد . ولما لم يجدوا من أين يدخلوا </span><span dir="RTL" lang="AR-SA">المفلوج ، صعدوا على السطح ودلوه مع الفراش من بين الآجر إلى </span><span dir="RTL" lang="AR-SA">الوسط قدام الرب</span> !</p>
<p class="x_ydp9bcd48a6MsoNormal"><span dir="RTL" lang="AR-SA">وأمام هذا المشهد ، وقبل أن تأخذنا الأحداث بعيدا عنه ، نقف لنتأمل</span> :</p>
<p class="x_ydp9bcd48a6MsoNormal">+ <span dir="RTL" lang="AR-SA">نتأمل قوة وثبات وجرأة الرجال الأربعة</span></p>
<p class="x_ydp9bcd48a6MsoNormal"><span dir="RTL" lang="AR-SA">كان مفلوج بيت حسدا يشكو من الوحدة ، ليس له انسان .. أما هنا </span><span dir="RTL" lang="AR-SA">فاصدقاء المفلوج المدلى من السقف كثيرون . اصدقاء سر الرب </span><span dir="RTL" lang="AR-SA">يسوع من ايمانهم .. ايمانهم الذي يسكت الأفكار المتعالية للمداهنين </span><span dir="RTL" lang="AR-SA">من الكتبة والفريسيين المرائين ! حقيقة لم يكن ايمان الرجال الأربعة </span><span dir="RTL" lang="AR-SA">عظيما يداني ايمان المرأة الكنعانية أو يبلغ ايمان قائد المئة ..  </span></p>
<p class="x_ydp9bcd48a6MsoNormal"><span dir="RTL" lang="AR-SA">فبينما </span><span dir="RTL" lang="AR-SA">نجد المرأة الكنعانية أو قائد المئة يطلبان كلمة فقط من السيد ، نجد </span><span dir="RTL" lang="AR-SA">هؤلاء يفكرون بطريقة مختلفة ، ويرون ضرورة احضار المفلوج </span><span dir="RTL" lang="AR-SA">أمام السيد لكي يشفيه</span>.</p>
<p class="x_ydp9bcd48a6MsoNormal"><span dir="RTL" lang="AR-SA">واستجاب السيد الرب لأيمانهم فوجه حديثه للمفلوج : ايها الانسان </span><span dir="RTL" lang="AR-SA">مغفورة لك خطاياك</span> !</p>
<p class="x_ydp9bcd48a6MsoNormal"><span lang="EN-US">• </span><span dir="RTL" lang="AR-SA">وأمام هذا المشهد ، يلح السؤال علينا ويفرض نفسه بقوة : هل من </span><span dir="RTL" lang="AR-SA">أجل ايمان الرجال الأربعة فقط ، منح السيد البرء للمفلوج ، أم كان </span><span dir="RTL" lang="AR-SA">لايمان الرجل دور ما ؟</span></p>
<p class="x_ydp9bcd48a6MsoNormal"><span dir="RTL" lang="AR-SA">يقول البشير لوقا : لما رأى الرب ايمانهم ! وهذا لا يمنع بالضرورة </span><span dir="RTL" lang="AR-SA">أن يكون ايمان الرجل حاضراً معهم ..كان ايمانهم فعلا ظاهرا رآه</span></p>
<p class="x_ydp9bcd48a6MsoNormal"><span dir="RTL" lang="AR-SA">السيد ورآه الناس جميعا .. </span></p>
<p class="x_ydp9bcd48a6MsoNormal"><span dir="RTL" lang="AR-SA">أما ايمان هذا المفلوج فقد كان فعلا باطنيا</span><span dir="RTL" lang="AR-SA">، رآه السيد وحده .. رآه القادر أن يعرف أفكار القلب وسرائر النفس</span> ..</p>
<p class="x_ydp9bcd48a6MsoNormal"><span dir="RTL" lang="AR-SA">رأى السيد في هذا المفلوج واحدا من اولئك الغاصبين الذين </span><span dir="RTL" lang="AR-SA">يحوزون ملكوت السموات بقوة . وعرف السيد فيه رجلا يمتلىء</span></p>
<p class="x_ydp9bcd48a6MsoNormal"><span dir="RTL" lang="AR-SA">غيرة وحبا له .. وان عجز لسانه عن التعبير ، وظل صامتا بلا كلام</span>.. <span dir="RTL" lang="AR-SA">ربما اسكته الخوف والحياء من الطريقة التي تطفل بها للوصول</span></p>
<p class="x_ydp9bcd48a6MsoNormal"><span dir="RTL" lang="AR-SA">إلى حضرة السيد . </span></p>
<p class="x_ydp9bcd48a6MsoNormal"><span dir="RTL" lang="AR-SA">وبقی أن نسأل : كيف نلتمس ايمان هذا الرجل </span><span dir="RTL" lang="AR-SA">بالمسيح ! كيف نلتمس غيرة هذا الرجل على المسيح ! وكيف نرى </span><span dir="RTL" lang="AR-SA">في ايمان هذا الرجل درجة أعلى من تلك التي كانت لمريض الثماني </span><span dir="RTL" lang="AR-SA">والثلاثين عاما .. هذا ما نحاول شرحه الآن</span> :</p>
<p class="x_ydp9bcd48a6MsoNormal"><span dir="RTL" lang="AR-SA">واحد من الغاصبين</span></p>
<p class="x_ydp9bcd48a6MsoNormal"><span dir="RTL" lang="AR-SA">حقا كان واحد من الغاصبين الذين يغتصبون الملكوت بقوة وحين </span><span dir="RTL" lang="AR-SA">نقرأ الانجيل : ( ولما لم يجدوا من أين يدخلون به لسبب الجمع</span></p>
<p class="x_ydp9bcd48a6MsoNormal"><span dir="RTL" lang="AR-SA">صعدوا على السطح ودلوه من الفراش من بين الآجر إلى الوسط قدام </span><span dir="RTL" lang="AR-SA">يسوع</span> ) .</p>
<p class="x_ydp9bcd48a6MsoNormal"><span dir="RTL" lang="AR-SA">مشهد الرجل وهو مدلى من السقف ، لا يخلو من معنى الشهادة وقوة </span><span dir="RTL" lang="AR-SA">التعبير عن الايمان . لا يحب ان نترك هذه الكلمات ونعبر عنها </span><span dir="RTL" lang="AR-SA">سريعا . بل لنتأمل في هذا المشهد مليا ، وسنعرف تماما نوع ايمان </span><span dir="RTL" lang="AR-SA">هذا الرجل. </span></p>
<p class="x_ydp9bcd48a6MsoNormal"><span dir="RTL" lang="AR-SA">تأملوا كيف أن مريضاً مثل هذا أقعده المرض، يمكن أن </span><span dir="RTL" lang="AR-SA">يكون له مثل هذا الثبات على مكابدة انزاله مدليا من السقف ، أن</span></p>
<p class="x_ydp9bcd48a6MsoNormal"><span dir="RTL" lang="AR-SA">المريض طريح الفراش قد يرفض العلاج ويفضل أن يبقى هكذا ،</span><span dir="RTL" lang="AR-SA">في آلام المرض على أن يلتمس علاجا لا يسر به ، فكيف الحال مع</span></p>
<p class="x_ydp9bcd48a6MsoNormal"><span dir="RTL" lang="AR-SA">هذا المفلوج وهم يصعدون به على السطح ، ويدلونه من السقف</span> !</p>
<p class="x_ydp9bcd48a6MsoNormal"><span dir="RTL" lang="AR-SA">أنني اترك لكم المفلوج يتحدث اليكم يحكى لكم مشاعره</span> ..</p>
<p class="x_ydp9bcd48a6MsoNormal">.. <span dir="RTL" lang="AR-SA">الا تشعرون كم كلفنی خروجي من البيت محمولا هكذا على </span><span dir="RTL" lang="AR-SA">فراش ..</span></p>
<p class="x_ydp9bcd48a6MsoNormal"><span dir="RTL" lang="AR-SA"> لأصير منظرا للناس وهم يلقونني بنظرات الرثاء وعبارات </span><span dir="RTL" lang="AR-SA">الاستخفاف . كانت كلماتهم التي تصل إلى أذني تستخف بی. ان</span></p>
<p class="x_ydp9bcd48a6MsoNormal"><span dir="RTL" lang="AR-SA">مشاعر الذين كانوا يحملونني كانت اقل ایلاما من نظرات الرثاء </span><span dir="RTL" lang="AR-SA">وهي تلاحقني وانا مسجى هكذا على الفراش بلا حراك</span> !</p>
<p class="x_ydp9bcd48a6MsoNormal"><span dir="RTL" lang="AR-SA">وليتهم وجدوا طريقهم سهلا للبلوغ إلى الرجل الطبيب</span> !</p>
<p class="x_ydp9bcd48a6MsoNormal"><span dir="RTL" lang="AR-SA">انني لم اعترض وهم يصعدون بي الى السطح ولم أحاول ايقافهم </span><span dir="RTL" lang="AR-SA">لاقترح اقتراحا معقولا أن يبقوا منتظرين خارجا حتى يفض</span></p>
<p class="x_ydp9bcd48a6MsoNormal"><span dir="RTL" lang="AR-SA">الاجتماع.. </span></p>
<p class="x_ydp9bcd48a6MsoNormal"><span dir="RTL" lang="AR-SA">حتى وعلى انفراد يبرئني من مرضى . يبرئنی من </span><span dir="RTL" lang="AR-SA">خطيئتی . كنت أعلم تماما نظرات القادة وهي تلتهمنى فهم </span><span dir="RTL" lang="AR-SA">يعرفون انني بالضرورة خاطىء والا ما صارت هكذا حالتی ..</span></p>
<p class="x_ydp9bcd48a6MsoNormal"><span dir="RTL" lang="AR-SA"> ولكم </span><span dir="RTL" lang="AR-SA">كان يؤلمني أن تعرض مصیبتى أمام كل المشاهدين وأنا أدلى من ا</span><span dir="RTL" lang="AR-SA">لسقف هكذا .. لكنكم ، الا تحاولون الاقتراب منی لتدركوا ما عجز </span><span dir="RTL" lang="AR-SA">الكتبة والفريسيون عن ادراکه .. </span></p>
<p class="x_ydp9bcd48a6MsoNormal"><span dir="RTL" lang="AR-SA">لقد تحملت كل هذا ، لأشهد للمسيح </span><span dir="RTL" lang="AR-SA">وسط الجمع .. أشهد بخلاصه العظيم.. أشهد للكرامة الكبيرة التي له </span><span dir="RTL" lang="AR-SA">حين يشفيني ويبرئني ! انه لهذا كان ينتظرني .. </span></p>
<p class="x_ydp9bcd48a6MsoNormal"><span dir="RTL" lang="AR-SA">كان في مقدوره أن </span><span dir="RTL" lang="AR-SA">يفسح لى الطريق أو يطلب من الناس هذا .. لكنه تركني أعبر عن </span><span dir="RTL" lang="AR-SA">حبي له . عن ايماني بقدرته وعظمته . وهو أعطاني كل شيء</span> .</p>
<p class="x_ydp9bcd48a6MsoNormal"><span dir="RTL" lang="AR-SA">خلصني من سبب علتي حين غفر لى وأرسلني إلى الحرية معاني </span><span dir="RTL" lang="AR-SA">الروح والجسد</span>.</p>
<p class="x_ydp9bcd48a6MsoNormal"><span dir="RTL" lang="AR-SA">منظر الرجل وهو مدلي من السقف ، يحمل قوة شهادة للمسيح ،</span><span dir="RTL" lang="AR-SA">ووثيقة حب واعتراف بجميل السيد له</span> ..</p>
<p class="x_ydp9bcd48a6MsoNormal"><span lang="EN-US">• </span><span dir="RTL" lang="AR-SA">ونحن لا ندرك ايمان الرجل من هذا فحسب ، بل من استجابة </span><span dir="RTL" lang="AR-SA">المريض لاسلوب السيد وخضوعه له . تأملوا مريضا يتكبد كل</span></p>
<p class="x_ydp9bcd48a6MsoNormal"><span dir="RTL" lang="AR-SA">المصاعب لينال الشفاء ، وحين يصل إلى حضرة المسيح – قدام </span><span dir="RTL" lang="AR-SA">يسوع – يقول له السيد : ثق يا بني مغفورة لك خطاياك ! </span></p>
<p class="x_ydp9bcd48a6MsoNormal"><span dir="RTL" lang="AR-SA">وهو حين </span><span dir="RTL" lang="AR-SA">سمع هذه الكلمات ، لم يتذمر ولا قال له</span> :</p>
<p class="x_ydp9bcd48a6MsoNormal">( <span dir="RTL" lang="AR-SA">ماذا تقصد بهذه الكلمات . ولماذا تفضح سيرتي انني أتيت لتشفيني </span><span dir="RTL" lang="AR-SA">من مرض الجسد . وها أنت تشفینی من مرض الروح . اليس هذا </span><span dir="RTL" lang="AR-SA">دليل عجزك أن تشفى ما هو غير منظور</span> ) .</p>
<p class="x_ydp9bcd48a6MsoNormal"><span dir="RTL" lang="AR-SA">أنه لم يفكر في هذا ولا جال حتی بخاطره ولا نطق به . بل في </span><span dir="RTL" lang="AR-SA">صمت ترك الطبيب يتبنى طريقة شفائه وبالاسلوب الذي يراه ..</span></p>
<p class="x_ydp9bcd48a6MsoNormal"><span dir="RTL" lang="AR-SA"> لم </span><span dir="RTL" lang="AR-SA">يخجل من أن السيد فضح سيرته ، ولم يغضب أو يتذمر أنه نال شيئا </span><span dir="RTL" lang="AR-SA">غير الذي جاء من اجله . بل في ايمان أقرب إلى التسليم ترك السيد </span><span dir="RTL" lang="AR-SA">يجرى فيه عجائبه . </span></p>
<p class="x_ydp9bcd48a6MsoNormal"><span dir="RTL" lang="AR-SA">فيه يعلن ذاته ، الها مخلصا للروح قبل ان يكون </span><span dir="RTL" lang="AR-SA">شافيا للجسد .</span></p>
<p class="x_ydp9bcd48a6MsoNormal"><span dir="RTL" lang="AR-SA"> هو أراد أن يشهد للمسيح ، ولهذا السبب لم يذهب </span><span dir="RTL" lang="AR-SA">المسيح اليه ، بل انتظره لكی يعلن عن قوة شهادة هذا الرجل ، وقوة</span></p>
<p class="x_ydp9bcd48a6MsoNormal"><span dir="RTL" lang="AR-SA">ايمانه ، امام الجمع المحتشد . كان في مقدور السيد ان يسهل له </span><span dir="RTL" lang="AR-SA">طريق الوصول اليه ، بل كان في مقدوره وهو في مكانه خارج الدار </span><span dir="RTL" lang="AR-SA">وبكلمة واحدة أن يقيمه .. لكنه لم يفعل هذا ، وترك الرجال الأربعة </span><span dir="RTL" lang="AR-SA">يصعدون السطح .. </span></p>
<p class="x_ydp9bcd48a6MsoNormal"><span dir="RTL" lang="AR-SA">وأمام مشهد الرجل المدلى من السقف ، يمنح </span><span dir="RTL" lang="AR-SA">السيد لهذا المريض شفاء الروح والجسد</span> ..</p>
<p class="x_ydp9bcd48a6MsoNormal"><span dir="RTL" lang="AR-SA">هو ذهب إلى مريض الثماني والثلاثين عاما ، اذ لم يكن له انسان </span><span dir="RTL" lang="AR-SA">يعينه متى تحرك الماء ، أما بالنسبة لهذا المفلوج فهو لم يكن هناك </span><span dir="RTL" lang="AR-SA">داع أن يذهب اليه اذ كان لذاك المفلوج اصدقاء كثيرون لذلك انتظره </span><span dir="RTL" lang="AR-SA">السيد في الدار .. </span></p>
<p class="x_ydp9bcd48a6MsoNormal"><span dir="RTL" lang="AR-SA">بجوار البركة يكشف السيد وبالدرجة الأولى عن </span><span dir="RTL" lang="AR-SA">مكابدة مريض الثماني والثلاثين عاما .. </span></p>
<p class="x_ydp9bcd48a6MsoNormal"><span dir="RTL" lang="AR-SA">وهنا في الدار أمام الجمع </span><span dir="RTL" lang="AR-SA">المحتشد يكشف عن غيرة المدلى من السقف ، في موقف شهادة ، </span><span dir="RTL" lang="AR-SA">وذبيحة حب تقدم ، قدام الرب يسوع</span> ! <span dir="RTL" lang="AR-SA">مجد الله وتسبيح الانسان</span> ..</p>
<p class="x_ydp9bcd48a6MsoNormal"><span dir="RTL" lang="AR-SA">الواحد القادر على شفاء النفس والجسد ، يقرأ افكار الكتبة والفريسيين وهم يتفكرون بينهم وبين أنفسهم قائلين : من يقدر أن</span></p>
<p class="x_ydp9bcd48a6MsoNormal"><span dir="RTL" lang="AR-SA">يغفر خطايا الا الله وحده ..</span></p>
<p class="x_ydp9bcd48a6MsoNormal"><span dir="RTL" lang="AR-SA"> فكان كلامه اليهم .. كلامه الذي هو دليل </span><span dir="RTL" lang="AR-SA">لاهوته وحبه .. دليل تجسده من أجل خير الانسان وحب الانسان</span> ..</p>
<p class="x_ydp9bcd48a6MsoNormal"><span dir="RTL" lang="AR-SA">لهذا قال للمفلوج : لك اقول قم احمل فراشك واذهب إلى بيتك ففی </span><span dir="RTL" lang="AR-SA">الحال قام أمام الجمهور وحمل ما كان مضطجعاً عليه ومضى إلى </span><span dir="RTL" lang="AR-SA">بيته وهو يمجد الله</span>.</p>
<p class="x_ydp9bcd48a6MsoNormal"><span dir="RTL" lang="AR-SA">هذا هو مجد الله في حياة الانسان . مجد الله في أن يعطي ويهب </span><span dir="RTL" lang="AR-SA">وليس أن يأخذ . مجد الينبوع الذي يملأ ويسقی ویروی مجد</span></p>
<p class="x_ydp9bcd48a6MsoNormal"><span dir="RTL" lang="AR-SA">الشعلة التي تلهب وتضيء وتدفيء</span>.</p>
<p class="x_ydp9bcd48a6MsoNormal">.. <span dir="RTL" lang="AR-SA">ما هو مجد الله ؟ الله يحب . مجده أن يكون الله ، أي أن يكون محبة</span>. <span dir="RTL" lang="AR-SA">وهذا هو مجد الله الذي تقابل مع تسبيح الانسان . الانسان المقعد </span><span dir="RTL" lang="AR-SA">بعد أن حمل السرير أصبح کارزا يشهد ببشارة الملكوت ويمجد الله&#8230;.</span></p>
<p class="x_ydp9bcd48a6MsoNormal"><span dir="RTL" lang="AR-SA">أنه يذهب اولا الى بيته يذيع بشرى الخلاص . فقد شفاه السيد </span><span dir="RTL" lang="AR-SA">المسيح أولا من خطاياه ، سبب علته ، قبل أن يعيد القوة إلى أطرافه </span><span dir="RTL" lang="AR-SA">المشلولة . هذا هو المجد الحقيقي للسيد المسيح أنه جاء يشفي </span><span dir="RTL" lang="AR-SA">جراحات الروح قبل أن يضمد تلك التي للجسد</span>..</p>
<p class="x_ydp9bcd48a6MsoNormal"><span dir="RTL" lang="AR-SA">الدرس الذي نتعلمه من هذا المريض المدلى من السقف بعد ان نال </span><span dir="RTL" lang="AR-SA">الشفاء هو ان نشكر الله . ونمجده بين خاصتا ثم بين البعيدين عنا</span> .</p>
<p class="x_ydp9bcd48a6MsoNormal"><span dir="RTL" lang="AR-SA">نشكره ولا نجحد أحسانه علينا ،وحين يحدونا الجحود يوما أن ننسي </span><span dir="RTL" lang="AR-SA">صنيعه معنا ، فلنفكر ثم نشكر ونردد</span> :</p>
<p class="x_ydp9bcd48a6MsoNormal"><span dir="RTL" lang="AR-SA">بارکی یا نفس الرب ولا تنسي كل حسناته ، الذي يغفر جميع </span><span dir="RTL" lang="AR-SA">ذنوبك .. الذي يشفي كل أمراضك</span> .</p>
<p></p>
<p></p>
<h3>من وحي الانجيل الاول من بابة</h3>
<p></p>
<p>&#8220;فلما رأي إيمانهم قال للمفلوج مغفورة لك خطاياك &#8221; (مت ٢:٩)</p>
<p>+ العجيب أن إيمانهم كان في شفاء المفلوج من المرض لكن الرب إبتدأ بشئ آخر</p>
<p>+ نحن مشغولون بما نريده لأنفسنا أو للآخرين والرب يبدأ بما نحتاجه وأهم ماينقصنا</p>
<p>+ نري في الرب القدرة على الشفاء من الأمراض بينما هو يعلن هبة وعطية الخلاص</p>
<p>+ هل يمكن أن يكون إيماننا طريق لغفران خطايا الآخرين؟</p>
<p>+ أم أن غفران خطاياه كان تكليلا لتعب ومعاناة أربعة لأجل شخص محتاج ربما لايعرفونه كلهم؟</p>
<p>+ يبارك الله ويفرح جدا بكل سعي وتعب ومعاناة لأجل راحة وسلامة المحتاجين</p>
<p>+ ربما انتقد كثير من الموجودين بالبيت طريقة إختراق الأربعة للوصول للرب</p>
<p>+ لكن الوصول للرب كان نتيجة العيون والتفكير المُثَبَّت على شخص المسيح له المجد والأذن المغلقة عن سماع الإنتقادات</p>
<p>+ والوصول إليه أيضا كان نتيجه الفكر الواحد والعمل المشترك للأربعة حاملي المفلوج</p>
<p>+ وما أعظم أن تكون شركة الخدّام الطريق لغفران خطايا من يخدموهم وشفاؤهم الروحي قبل الجسدي</p>
<p></p>
<p></p>
<p></p>
<h3>المراجع:</h3>
<p></p>
<p><a href="#_ftnref1" name="_ftn1"></a>١- القديس أثناسيوس الرسولي &#8211; تفسير رسالة العبرانيين إصحاح ٤ &#8211; القمص تادرس يعقوب ملطي</p>
<p><a href="#_ftnref2" name="_ftn2"></a>٢- القديس أمبروسيوس &#8211; تفسير إنجيل لوقا ٥ &#8211; القمص تادرس يعقوب ملطي</p>
<p><a href="#_ftnref3" name="_ftn3"></a>٣- الأب ثيؤفلاكتيوس &#8211; تفسير إنجيل مرقس الإصحاح الثاني &#8211; القمص تادرس يعقوب ملطي</p>
<p><a href="#_ftnref4" name="_ftn4"></a>٤- ومعني الآية ( ابونا أنطونيوس فكري &#8211; تفسير إنجيل مت إصحاح ٩ )</p>
<p><a href="#_ftnref5" name="_ftn5"></a>٥- Oden, T.C. &amp; Hall, C.A. ( 1998 ). Mark ( The Ancient Christian Commentary on Scripture, New testament part II ). Illinois ( USA ) : InterVarsity press. Page 26</p>
<p>ترجمة الأخ / كيرلس كمال مرقص &#8211; كنيسة رئيس الملائكة ميخائيل &#8211; أبو قرقاص &#8211; المنيا</p>
<p><a href="#_ftnref6" name="_ftn6"></a>٦- شرح وتفسير آباء الكنيسة لأناجيل آحاد السنة التوتية صفحة ٢٢ &#8211; شهر بابه &#8211; دكتور جوزيف موريس فلتس</p>
<p><a href="#_ftnref7" name="_ftn7"></a>٧- القديس كيرلس الكبير &#8211; تفسير إنجيل لوقا الإصحاح الخامس &#8211; القمص تادرس يعقوب ملطي</p>
<p><a href="#_ftnref8" name="_ftn8"></a>٨- المرجع : كتاب من كتابات القديس يوحنا الذهبي الفم صفحة ٢٠٨ &#8211; القمص تادرس يعقوب ملطي</p>
<p><a href="#_ftnref9" name="_ftn9"></a>٩- المرجع : تفسير مزمور ١٠٣ &#8211; القمص تادرس يعقوب ملطي</p>
<p><a href="#_ftnref10" name="_ftn10"></a>١٠- المرجع : كتاب من مجد إلي مجد للقديس غريغوريوس النيسي فصل ١٨ ، ١٩ &#8211; ترجمة القمص إشعياء ميخائيل &#8211; كنيسة رئيس الملائكة ميخائيل بالظاهر</p>
<p><a href="#_ftnref11" name="_ftn11"></a>١١- المرجع : كتاب المنجلية القبطية الأرثوذكسية صفحة 197 – قداسة البابا تواضروس الثاني</p>
<p><a href="#_ftnref12" name="_ftn12"></a>١٢- المرجع : كتاب دراسات في الكتاب المقدس &#8211; تفسير إنجيل متي الإصحاح التاسع صفحة ١٥٨ &#8211; لجنة التحرير والنشر بإيبارشية بني سويف</p>
<p><a href="#_ftnref13" name="_ftn13"></a>١٣- المرجع كتاب شفتاك يا عروس تقطران شهدا جزء٢ ، ص٩٨- ١٠٠)</p>
<p><a href="#_ftnref14" name="_ftn14"></a>١٤- المرجع : كتاب تأملات روحية في قراءات أناجيل آحاد السنة القبطية &#8211; المتنيح القمص لوقا سيداروس</p>
<p><a href="#_ftnref15" name="_ftn15"></a>١٥- المرجع سر الشفاء (مسحة المرضى) معناه وغايته في الإيمان الأرثوذوكسي – الاب الكسندر شميمن &#8211; الأستاذ أشرف بشير</p>
<p><a href="#_ftnref16" name="_ftn16"></a>١٦- المرجع كتاب المواعظ النموذحية الجزء الاول صفحة ص٢٥٢-٢٥٦</p>
<p><a href="#_ftnref17" name="_ftn17"></a>١٧- المرجع كتاب تاملات وعناصر روحية في احاد وايام السنة التوتية اعداد القمص تادرس البراموسي</p>
<p>١٨-<span dir="RTL" lang="AR-SA">المرجع : كتاب معاملات المسيح مع الخطاة  &#8211; الأرشيدياكون رمسيس نجيب &#8211; بيت الشمامسة القبطي بالجيزة</span></p>
<p></p>
<p></p>
<p></p>
<p></p>

      {% endcreateArticleAccordions %}
    </section>
  {% endblock %}
  