---
layout: 'layouts/reading.html'
title: 'الأحد الثاني من شهر بابه'
tags: 'sundays'
permalink: /articles/sundays/2-2.html
---
  {% block content %}
    <section id="readings">
      <ul>
      {% if 'undefined' != 'undefined' %}
      
      {% else %}
      {% if '19.67:3-4' != 'null' %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">العشية</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeVespers '19.67:3-4' '40.17:24-27' %}
          </div>
        </div>
      </li>
      {% endif %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">باكر</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeMatins '19.63:6,3,4' '41.16:2-8' '' %}
          </div>
        </div>
      </li>
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <h3 class="flex items-center justify-between">
            <span class="kufi">القداس</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </h3>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeLitugy '47.4:5-15' '59.3:13-18*@+59.4:1-6' '44.14:24-28*@+44.15:1-3' '19.66:1,2' '42.5:1-11' %}
          </div>
        </div>
      </li>

      {% endif %}
        </ul>
    </section>
    <section id="article">
      <h3 class="mt-8 mb-4 heading-explain">شرح القراءات</h3>
      {% createArticleAccordions %}
        <p>&#8221; تسلطه على أعمال يديك. جعلت كل شيء تحت قدميه الغنم والبقر جميعا، وبهائم البر أيضا وطيور السماء، وسمك البحر السالك في سبل المياه &#8221; (مز ٨: ٦-٨)</p>
<p>&#8220;أخضعت كل شيء تحت قدميه &#8221; (عب٨:٢)</p>
<p>&#8221; من أجلي ألجمت البحر من أجلي أظهرت طبيعة الحيوان أخضعت كل شئ تحت قدمي &#8221; القدَّاس الغريغوري</p>
<p>&#8221; لم يصطادوا شيِّئًا حتى الآن، لكن على كلمة الله نالوا سمكًا كثيرًا جدًا، ليس هو ثمرة البلاغة البشريّة بل من فعل بذار السماء. لنترك إذن الإقناع البشري ولنتمسك بعمل الإيمان الذي به تؤمن الشعوب.<a href="#_ftn1" name="_ftnref1">[1]</a></p>
<p><a href="#_ftn2" name="_ftnref2">[2]</a>&#8221; لا زالت الشبكة مطروحة والمسيح يملأها بمن يخدمه من أولئك الغارقين في بحار العالم العاصفة والثائرة &#8221;</p>
<h3>  شواهد القراءات</h3>
<p>(مز ٢:٦٦)  (مت ١٧: ٢٤-٢٧) (مز ٦٢: ٤-٣)  (مر ١٦: ٢-٨) (٢كو ٤: ٥-١٥)  (يع ٣: ١٣ - ٤: ١-٦)  (أع ١٤ : ٢٤ - ١٥ : ١-٣)      (مز ٦٥ : ٢-١) (لو ٥ : ١-١١)</p>
<h3>ملاحظات على قراءات اليوم</h3>
<p>+ آية ٢ من مزمور عشيَّة جاءت أيضاً في مزمور باكر الأحد الأوَّل من شهر بؤونه (مز ٦٦: ١- ٢)</p>
<p>+ قراءة البولس اليوم (٢كو ٤: ٥ - ١٥) تُشبه قراءة البولس (٢كو ٤: ٥ - ٥: ١ - ١٤) ليوم ٣ أبيب</p>
<p>مجيئها اليوم للإشارة إلي غني النعمة التي ننالها في وجه يسوع المسيح، بينما مجيئها يوم ٣ أبيب للإشارة إلي هدف الرعاية (أضاء في قلوبنا نور معرفة مجد الله بوجه يسوع المسيح) ، والإشارة إلي آلام الرعاية والخدمة.</p>
<h3> شرح القراءات</h3>
<p>تحدثنا قراءات هذا الأحد عن النعمة الغنية نعمة الرب المخلص</p>
<p>فتتكلم المزامير عن أن النعمة تغطي الشعوب كلها (فلتعترف لك الشعوب كلها-مزمور عشية)</p>
<p>ولكل إنسان تشمل حياته كلها (شفتاي تسبحانك لذلك أباركك في حياتي-مزمور باكر)</p>
<p>حتى تشمل أيضا الأرض والخليقة كلها (فلتسجد لك الأرض كلها-مزمور القداس)</p>
<p>كما يوضح أيضا من أين يأتي غني النعمة من الاعتراف والشهادة له (فلتعترف لك الشعوب كلها-مزمور عشية)</p>
<p>ومن الترتيل والتسبيح والشكر (وفي أوقات الأسحار كنت أرتل لك لذلك أباركك في حياتي-مزمور باكر)</p>
<p>فتعطي كل النفوس كل المجد له والسجود لإسمه القدوس(واعطوا مجدا لتسبيحه فلتسجد لك الأرض كلها-مزمور القداس)</p>
<p>لذلك يوضح إنجيل باكر منهج النعمة والمملوئين منها ( فإذن البنون أحرار ولكن لئلا نعثرهم ) فلم يعد الإنسان يري حقوقه فقط دون أن يراعي خلاص الآخرين وتجنب مايعثرهم أو يعطل خلاصهم</p>
<p>وتعلن القراءات مصدر نعمة العهد الجديد الكلمة المُتجسِّد (البولس ) وسمات من يمتلئون بالنعمة ( الكاثوليكون ) وغني النعمة لكل الأمم والشعوب ( الإبركسيس )</p>
<p>ويوضح البولس ماهو غني نعمة العهد الجديد ( لأن الله الذي قال أن يشرق نور من ظلمة هو الذي أضاء في قلوبنا نور معرفة مجد الله بوجه يسوع المسيح ولنا هذه الذخيرة في أوان خزفية) فالمسيح له كل المجد هو ذخيرتنا وكنزنا المخفي في حقول قلوبنا كما يوضح القديس بولس من أين تأتي ينابيع النعمة من الإماته اليومية لشهوات الجسد وإرادته الشريرة ( حاملين في أجسادنا كل حين إماته الرب يسوع لكي تظهر حياة يسوع أيضا في أجسادنا لأننا نحن الأحياء نسلم في كل حين للموت من أجل يسوع لكي تظهر حياة يسوع أيضا في جسدنا المائت ) كما يظهر أقوي دليل علي غني النعمة فينا أن نعرف أن كل مافينا هو لبنيان الآخرين وإزدياد شكرهم لله المستحق وحده كل مجد ( لأن جميع الأشياء كانت من أجلكم لكي تكثر النعمة ويزداد الشكر من الكثيرين لمجد الله )</p>
<p>أما الكاثوليكون فيعلن سمات وطبيعة من يمتلئون بهذه النعمة الذين يتصرفون حسنا بالحكمة المملوؤة وداعه وطهارة ورحمة وثمرا صالحا ( أما الحكمة التي من فوق فهي أولا طاهرة ثم مسالمة مترفقة مملوءة رحمة وثمرا صالحا عديمة الدينونة وعديمة الرياء) وصانعي السلام والمتواضعون ( وثمر البر يزرع في السلام لصانعي السلام &#8230;.وأما المتواضعون فيعطيهم نعمة ) والأهم أيضا من يقاومون لذات الجسد ومحبة العالم ( فمن أراد أن يكون محبا للعالم فقد صار عدوا لله أم تظنون أن الكتاب يقول باطلا الروح الساكن فينا يشتاق إلي الحسد ولكن يعطي نعمة أعظم )</p>
<p>الأبركسيس يوضح تحرك الخدمة والكنيسة وكارزيها وخدامها من خلال النعمة (ومن هناك أقلعا إلي أنطاكية حيث  كانا قد أسلما بنعمة الله إلي العمل الذي أكملاه) ويعلن غني النعمة لكل الأمم والشعوب ( وأنه فتح للأمم باب الإيمان &#8230;..فهؤلاء بعدما شيعتهم الكنيسة إجتازوا في فينيقية والسامرة يخبرونهم برجوع الأمم وكانوا يصنعون سرورا عظيما لجميع الإخوة )</p>
<p>لذلك يختم إنجيل القداس بأوضح معجزة عن غني النعمة بعد تعب الليل وظلامه ولم نحصد شيئا ولم تسعفنا خبرتنا البشرية فيعلن الإنجيل أننا عندما نسمع كلامه يصعد إلي سفينتنا وعندما نقبل ببساطة الإيمان وصاياه وأوامره وندخل إلي العمق تمتلئ شباك حياتنا وخدمتنا من نعمته فنفيض علي الآخرين في مراكب وسفن حياتهم من خير نعمته في سفينتنا ويدعونا لترك كل شئ فنسلم كل مافينا له ( فصعد إلي إحدي السفينتين التي كانت لسمعان&#8230;.ولما فرغ من الكلام قال لسمعان تقدم إلي العمق وألقوا شباككم للصيد&#8230;.أيها المعلم قد تعبنا الليل كله ولم نصطد شيئاً ولكن بكلمتك نطرح الشباك ولما فعلوا ذلك جمعوا سمكا كثيرا جدا&#8230;..ولما جذبوا السفينتين إلي الشاطئ تركوا كل شئ وتبعوه )</p>
<h3> ملخّص القراءات</h3>
<p>غني النعمة يُغطِّي حياة الإنسان كلَّها وكل الشعوب ويفيض علي الأرض ذاتها (مزمور عشيّة وباكر والقدّاس )</p>
<p>وهي كنز ابن الله فينا وفِي كل الشعوب فتغيّر كل حياتنا وتملأنا رحمة وطهارة وأثماراً صالحة (البولس والكاثوليكون والإبركسيس )</p>
<p>وتجعلنا بنين أحرار من أي شئ يُعطِّل تبعيتنا لإبن الله (إنجيل عشيّة والقدّاس )</p>
<h3>إنجيل القدَّاس في فكر آباء الكنيسة</h3>
<p>&#8221; وردت كلمة &#8220;الصيد&#8221; ومشتقّاتها في هذا الفصل مِن الإنجيل في مواضعَ متفرّقة، موحيةً للسامع أنْ يُشَبِّه بالصيد أعمال يسوع، وأنْ يرسم بعقله صورةً للكنيسة في وقتنا الحالي.&#8221; (القدّيس أوغسطينوس).</p>
<p>&#8220;لأن يسوع موجودٌ في السفينة، فقد أصبحت السفينة رمزًا للكنيسة.&#8221; (القديس مكسيموس التوريني).</p>
<p>&#8220;إن هَذه المعجزة تُركِّز على &#8220;اصطياد الناس أَحياء&#8221; عن طريق خدمة وسائط النعمة التي تُعَزِّز الكنيسة وتَحْفَظها وتنميها حتى يومنا هذا، حيث يسوع يجتذب الناس لكنيسته بواسطة الكرازة بالإنجيل.&#8221; (القديس كيرلُّس السكندري).</p>
<p>&#8220;هَذه الكنيسة دُعِيَتْ للخوض في العمق؛ مثلما صار لنوح.&#8221; (القديس مكسيموس التوريني).</p>
<p>&#8220;كما تَعِبَ الأنبياء الليل كله، كذلك كان حال الرسل. تُمَثِّلُ السفينةُ الأولى اليهود. أما الثانية الممتلئة المُحَمَّلَة بما يفوق طاقتها، فهي تُمَثِّلُ الأمم.&#8221; (مار إفرام السرياني).</p>
<p>&#8220;اصطياد الناس وهُم أَحياء هو إعلان ملكوت الله لهم في شخص يسوع، واجتذابهم لذلك الملكوت مِن خلال الأسرار الكنسية المُقَدَّسَة.&#8221; (القديس مكسيموس التوريني)<a href="#_ftn3" name="_ftnref3">[3]</a>.</p>
<h3> الكنيسة في قراءات اليوم</h3>
<p>الروح القدس الساكن فينا                            البولس والكاثوليكون</p>
<p>قبول الأمم                                                الإبركسيس</p>
<h3> عظات مقترحة</h3>
<p><strong>(١) العظة الأولي </strong></p>
<p><strong>غني النعمة</strong></p>
<p>مصادرها</p>
<p>١- التسبيح                                                                                  مزمور عشيّة وباكر والقدّاس</p>
<p>٢- إماتة الجسد                                                                                البولس</p>
<p>٣- وداعة الحكمة والرحمة والتواضع والأثمار الصالحة                                  الكاثوليكون</p>
<p>٤- الطاعة الكاملة والدخول إلي العمق                                                  إنجيل القدَّاس</p>
<p><strong>مظاهرها</strong></p>
<p>+ الشغف بكلمته الإلهية</p>
<p>إزدحمت الجموع لتسمع كلامه وهو في سفينة بطرس</p>
<p>+ الامتلاء من عطيته</p>
<p>إختبر بطرس غني عطاياه لدرجه الفيض</p>
<p>+ الالتصاق بشخصه</p>
<p>رغم كثرة ماإصطادوه وإمتلاء السفينتين إلا أن بطرس ترك السمك الكثير ومايعنيه وإلتصق بشخص المسيح</p>
<p>(كان يمكن أن يفرح بالخير المادي الكثير ويطلب حضور الرب دائما لأجل كثرة عطاياه)</p>
<p><strong>(٢) العظة الثانية </strong></p>
<p>وسائل ومداخل البركة فوق حدود العقل والمنطق</p>
<p>١- الدور البشري &#8221; التعب &#8221;</p>
<p>لم يأتي الرب إلي بطرس إلا بعد تعب الليل كله بعد ما يفعل كل مايستطيعه وتأتي البركة تبارك التعب</p>
<p>٢- الدخول إلي العمق</p>
<p>أولئك الذين لايجتهدون ويكتفون بالقشور لايعيشون حسب قصده ولاينالون غني بركته</p>
<p>٣- بساطه الإيمان وطاعة كلمة الرب</p>
<p>رغم أن بطرس كان صياد والرب كان نجار ووقت الصيد كان في الليل ومكانه لم يكن في العمق لكن قبل كلام الرب بكل ثقة وإيمان لذلك تضاعفت له البركة</p>
<p>٤- الشركة</p>
<p>لم تمتلئ فقط سفينة بطرس، بل أيضا سفينة يعقوب ويوحنا حتي أخذتا في الغرق</p>
<p>وهكذا عندما نكون معا ونعمل معا يزيد الفيض الإلهي بلا حدود</p>
<p>٥- فوق حدود المنطق</p>
<p>+ أن يتعب صيّاد ماهر طول الليل ولم يصطاد شيئا علامة علي حدود إمكانيات البشر مهما كانت المهارة والكفاءة وخبرة السنين فالإحتياج دائماً إلي كلمته (علي كلمتك .. )</p>
<p>+ أن يطلب الرب من صيّاد محترف بعد فشل الليل كله أن يلقي شباكه مرة أخري بعد غسلها بطريقة تخالف أبسط مبادئ صيد الأسماك وبرغم هذا الطاعة سريعة وبسيطة دون تردد</p>
<p>+ أن يتشارك الشركاء في الصيد الوفير رغم وضوح الكلام لبطرس فقط والإستجابة كانت بداية من بطرس لكن الشركة هي أساس البركة والفيض الكثير فهمه بطرس أنه ليس له وحده (أشاروا إلي شركائهم في السفينة الأخري)</p>
<p>+ أن يأخذ الإنسان الكثير من الله ولكنه يتركه من أجل محبّته لله ويتبعه تاركاً وراءه من يلهثون وراء الماديات وفرحاً بتبعيته للسيد مصدر الحياة (إلي من نذهب يارب وكلام الحياة الأبديّة عندك)</p>
<p><strong>(٣ ) العظة الثالثة </strong></p>
<p>مقارنات</p>
<p>١-آلام الأبرار وعطايا الله لهم وفيهم</p>
<p>+ آلامهم</p>
<p>محزونين في كل شئ - مطرودين - مُضطَهدين - مطروحين - حاملين في أجسادنا كل حين إماتة الرب يسوع       ( البولس )</p>
<p>+ عطايا الله لهم</p>
<p>أضاء في قلوبنا - ولكن الحياة فيكم - تكثر النعمة ويزداد الشكر - أما المتواضعون فيعطيهم نعمة              (البولس والكاثوليكون )</p>
<p>٢- سلوكيات الأشرار وعاقبة سلوكهم</p>
<p>+ سلوكياتهم</p>
<p>تشتهون - تقتلون - تحسدون - تخاصمون - تحاربون - تطلبون رديّاً - تُنفِقُوا في لذاتكم                             ( الكاثوليكون )</p>
<p>+ عاقبة سلوكهم</p>
<p>متضايقين - ساقطين - متروكين - هالكين                                                                                      (البولس )</p>
<p>٣- بين حكمة الأبرار وثمرتها ودهاء الأشرار وعاقبته                                                                            (الكاثوليكون )</p>
<p>+ حكمة الأبرار وثمرتها</p>
<p>طاهرة - مسالمة - مترفقة - مملوءة رحمة وثمراً صالحاً - عديمة الدينونة - عديمة الرياء</p>
<p>ثمرتها : ثمر البرّ يُزرع في السلام لصانعي السلام</p>
<p>+ دهاء الأشرار وعاقبته</p>
<p>أرضيّة نفسانية شيطانية</p>
<p>عاقبتها : الغيرة - التحزب - الإضطراب - كل أمر رديء</p>
<h3>عظات ابائية</h3>
<h4>معجزة صيد السمك حسب تعليم القديس كيرلس الكبير</h4>
<p>فلنمدح الطريقة التي أصبح بها التلاميذ صيَّادي العالم قاطبة، خاضعين للمسيح خالق السماوات والأرض، فبالرغم من أنه طُلب من تلاميذ المسيح أن يصطادوا الشعوب الأخرى، فقد وقعوا في شبكة المسيح المطمئنة، حتى إذا ما ألقوا بدورهم شباكهم أتوا بجماهير المؤمنين إلى حظيرة المسيح الحقيقيّة.</p>
<p>ولقد تنبَّأ أحد الأنبياء القدِّيسين بذلك، إذ ورد: &#8220;هأنذا أرسل إلى جزَّافين كثيرين يقول الرب، فيصطادونهم ثم بعد أرسل إلى كثيرين من القانصين فيقتنصونهم&#8221; (إر 16: 16). ويراد بالجزافين في الآية السابقة الرسل الأطهار وتشير كلمة&#8221;القانصين&#8221; إلى ولاة الكنائس ومعلميه.</p>
<p>امتلأت شباكهم سمكًا عن طريق المعجزة، وذلك ليثق التلاميذ بأن عملهم التبشيري لا يضيع سدى وهم يلقون شباكهم على جمهور الوثنيِّين والضالين. ولكن لاحظوا عجز سمعان ورفاقه عن جذب الشبكة، فوقفوا مبهوتين مذعورين صامتين، وأشاروا بأيديهم إلى إخوانهم على الشاطئ ليمدوا إليهم يد المساعدة. ومعنى ذلك أن كثيرين ساعدوا الرسل القدِّيسين في ميدان عملهم التبشيري، ولا زالوا يعملون بجدٍ ونشاط وخصوصًا في استيعاب معاني آيات الإنجيل الساميّة، بينما آخرون من معلمي الشعب ورعاته وولاته برزوا في فهم تعاليم الحق الصحيحة. لا زالت الشبكة مطروحة والمسيح يملأها بمن يخدمه من أولئك الغارقين في بحار العالم العاصفة والثائرة، فقد ورد في المزامير: &#8220;نجني من الطين فلا أغرق، نجني من مبغضي ومن أعماق المياه&#8221; (مز 69: 14)<a href="#_ftn4" name="_ftnref4">[4]</a>.</p>
<h4>عظة للعلَّامة أوريجانوس عن معجزة صيد السمك</h4>
<p>في شبكة الرسل نموت لنحيا من جديد! مكتوب في إنجيل لوقا أن مخلصنا جاء إلى شاطئ بحر الجليل ورأي &#8220;سمعان وأندراوس أخوه يلقيان شباكهم في البحر، لأنهما كانا صيادين&#8221; ثم يضيف الكتاب أن المخلص حينما رآهما دعاهما قائلًا: &#8220;هلم ورائي فأجعلكما صيادين للناس&#8221;. هذان تركا شباكهما وتبعاه. ثم وُجد أيضًا أخوان: يعقوب بن زبدي ويوحنا أخاه في السفينة مع زبدي أبيهما يصلحان شباكهما. فدعاهما أيضًا ليكونا صيادين للناس. إذا نظرنا إلى الذين أعطاهم الرب موهبة الكلمة المجدولة مثل الشبكة، والمصنوعة من مجموعة كلمات متشابكة مع بعضهما البعض ومأخوذة من الكتاب المقدس، بحيث تأسر في شباكها نفوس السامعين، وإذا علمنا أن ذلك الأمر يستلزم تواضعًا كما يعلمنا السيد المسيح، لأدركنا أنه ليس في الماضي فقط أرسل الله صيادين للناس، إنما الآن أيضًا لا يزال يرسل الرب صيادين للناس بعدما يقوم بتعليمهم، حتى يخرجونا من البحر وينقذونا من مرارة أمواجه.</p>
<p>لكن الأسماك التي تقع في الشباك تموت موتًا بلا قيامة وليس لها حياة بعد هذا الموت، أما الذين يسقطون في شباك صيادي السيد المسيح (أي الصيادين الذين أرسلهم السيد المسيح ) والذين خرجوا من البحر، يموتون هم أيضًا، لكنهم يموتون عن العالم وعن الخطية، بعد هذا الموت يحيون من جديد بواسطة كلمة الله ويأخذون حياة جديدة. أي أنك تخرج من البحر وتقع في شباك تلاميذ السيد المسيح، وعند خروجك تتغير نفسك، فلا تعد السمكة التي تعيش وسط الأمواج والخارجة من البحر لتموت، وإنما تتغير نفسك وتتبدل وتتحول إلى نفسٍ أفضل، بل وإلى نفسٍ إلهية. ويقول بولس الرسول: &#8220;ونحن جميعا ناظرين مجد الرب بوجه مكشوف كما في مرآة تتغير إلى تلك الصورة عينها من مجدٍ إلى مجدٍ كما من الرب الروح&#8221; (٢كو ٣: ١٨)</p>
<p>بما أن هذه النفس التي أُخذت من شباك الصيادين الذين أرسلهم السيد المسيح قد تغيرت ولم تعد بعد تعيش في البحر، لذا تعيش في الجبال، بحيث لا تعود تحتاج إلى صياد يصطادها من البحر، إنما تحتاج إلى نوع آخر من الصيادين البريين الذين يصطادون على كل جبلٍ وعلى كل أكمةٍ</p>
<p>عندما تكون قد خرجت من البحر وأُخذت في شباك رسل السيد المسيح، تَغَيرْ في نفسك واتركْ البحر وامحه تمامًا من ذاكرتك، ثم تعالَ إلى الجبال التي هي الأنبياء، وعلى الأكمة التي هي الأبرار، واقضِ هناك حياتك، حتى متى جاء موعد رحيلك من هذه الحياة، يرسل إليك صياديين من نوع جديد وهم الملائكة الذين يستلمون أرواح الأبرار، فهم مكلفون باستلام الأرواح الموجودة على الآكام وليس الأرواح المائتة المطروحة إلى أسفل</p>
<p>اعتقد أن هذا المعنى هو الذي كان يقصده النبي حينما قال في نبوته: &#8220;هأنذا أرسل إلى جزافين ( صيادين ) كثيرين يقول الرب فيصطادونهم ثم بعد ذلك أرسل إلى كثيرين من القانصين فيقتنصونهم عن كل جبل وعن كل أكمة<a href="#_ftn5" name="_ftnref5">[5]</a>&#8221;</p>
<h4>مقالة للقديس انطونيوس</h4>
<p><strong>لأولاده الرهبان يحثهم على تكميل الطاعة لتحل عليهم بركات آبائهم</strong></p>
<p>يا أحبائي بالرب الذين أعددتم ذواتكم لملكوت السموات وطلبتم الله لكى يكون لكم كما هو لأبيكم ولتضموا إلى الموضع الذى مضى إليه ، والبركة التي تحل عليه تحل عليكم والمجد الذى يقبله تقبلونه لأنكم قد صرتم له بنون ببنوة الحق والبركة والطاعة لأن الأولاد الطائعين هم الذين يرثون غنى آبائهم وبرهم وبركتهم لأن الطلبات التي يقدمها الأبناء أمام الله تشبه طلبات آبائهم ، فهم يرثون فضائلهم وبرهم وبركتهم . لأنه هكذا كانت طلبات يعقوب شبيهة بطلبات آبائه في كل شيء ولذلك حلت عليه كل بركات آبائه وأهل لنظر السلم الروحانى والملائكة صاعدة ونازلة عليه. وقبل أن ينال البركة من آبائه لم يكن قد رأى ولا ملاكاً واحداً . فلما نال بركة آبائه رآى الملائكة وبورك منهم . وهكذا الأبناء الحقيقيون علموا أنهم لا يستطيعون ان يروا شيئاً من القوات أن لم ينالوا البركة من آبائهم فبذلوا الجهد في الطاعة والطلب إلى أبائهم لكيما يباركونهم وبتبريكهم إياها يستحقون أن ينظروا الاجناد والملائكة وإذ هم نظروا اليهم ثبتوا بلا اضطراب في جميع الأشياء وهكذا الطوباوى بولس لما نظر إلى هؤلاء ثبت وتقوى وصرخ قائلاً ماذا يفصلنى عن محبة المسيح &#8221; ضرب أم حبس أم طرد أم جوع أم عرى أم معاوق أم سيف &#8221; وقال أيضاً انه لا الموت ولا الحياة ولا الملائكة ولا الرؤساء ولا المتسلطون ولا هذه الأشياء القائمة ولا المزمعة ولا القوات ولا العلو ولا العمق ولا الخليقة الأخرى السفلى تقدر ان تفصلنى عن محبة المسيح فأنظروا الآن يا أحبائي أن كل الذين اجتهدوا حتى صاروا بغير اضطراب لا يهمهم شيء البته وهكذا أود أن تكونوا في طاعة أبائكم وحفظ اقوالهم والمثابرة على تكميلها في الرب يسوع الذى عمل معهم لتحل عليكم بركتهم .</p>
<p>وانا مشتهى أن أراكم لما لكم من لذة المحبة في الله واطلب إليه في الليل والنهار ان يحل ببركات أبائنا عليكم وبركتى أيضاً أنا المسكين لكى تسكن فيكم القوات العقلية وتجتازوا بقية حياتكم بكل سرور . لأن كل من لم يبلغ إلى هذا المقداد فإنه لم يجتهد ليجد سرور السمائيات . واعلموا يا أولادى أن كل الوصايا ليست ثقيلة ولا متعبة بل نور حقيقي وسرور ابدى لمن كمل في الطاعة . وانا أقول لكم اننى لم افتر عن الطلب عنكم لكيما تكونوا معى حيث أكون أنا لانكم صرتم لى أبناء وقد سمعتم لى في كل شيء.</p>
<p>ولما رأى يسوع المسيح أن التلاميذ يسمعون له طلب من أبيه قائلاً يا أبتاه ، الموضع الذى أكون فيه أريد أن يكون هؤلاء معى لانهم سمعوا كلامى وانا اسلم ذاتى عنهم . يا أبتاه أنت فىّ وأنا فيك وهؤلاء فينا فيكونوا في الوحدانية كما نحن . فأنظروا يا أولادى إلى طلبة ربنا يسوع لاجل تلاميذه أن يكونوا حيث يكون هو لأنهم اطاعوه وحفظوا وصاياه بكل قلبهم . وطلبته أن يحفظهم من الشرير إلى أن يبلغوا الراحة لأنهم صاروا له احباء ، واعلموا أنه هكذا أيضاً طلبتى إلى الله عنكم . ان يحرسكم من الشرير إلى ان تبلغوا إلى موضع الراحة . وان يعطيكم بركة آبائنا . لان هذه البركات إن حلت عليكم تزيدكم نعمة عظيمة. لأن يعقوب لما مضى إلى ما بين النهرين بعد قبول البركة نظر الملائكة ظاهرين له وجهاً لوجه تمسك بالملاك حتى قبل منه البركة بزيادة وبها بارك بنية . وهكذا أنا المسكين أطلب من إلهى الذى أنا اخدمة منذ حداثتى ان يبارككم ويزيدكم من البركة الروحية والجسدية لكيما تصيروا مثل أبينا يعقوب الممتلئ بركة واعلموا أن أبينا بيعقوب لما كان بين النهرين ذكر ابويه واخذ في الرجوع إلى أرضه ولما فزع من أخيه قدم له أربعة تقدمات قبل أن يلقاه . ولم يكن أخوه فقيراً أو محتاجاً لذلك ، لأنه كان غنياً جداً. بل صنع هذا طاعة لوصية أبائه وليمحوا العداوة التي بينهما وتحل عليه بركة آبائه لانه يعلم قوة بركة ابائه .</p>
<p>كما هو مكتوب أن بركة الآباء تحل على بيوت الأبناء واعلموا يا أحبائي بالرب انه لفرح لى أن تذكروا مسكنتى وتذكروا أيضاً آبائكم الجسدانيين لتحل عليكم بركاتهم في كل حين . اعلموا هذا وسلام الرب يحفظ قلوبكم ونعمته تعضدكم له السبح من جميع الناطقين آمين<a href="#_ftn6" name="_ftnref6">[6]</a>.</p>
<h4>دعوة الرب للتلاميذ عند القديس جيروم (٣٤٢ ٤٢٠)</h4>
<p>عندما تركا ابنيَّ زبدي أباهما في القارب وتبعا يسوع، كان هذا موقفاً غريباً يفوق العقل ولا يمكن تبريره إلاَّ بالتأكيد علي أن نعمة إلهية كانت تشع من وجه المخلِّص. فهم تبعوا إنساناً لم يروه من قبل ، فهل يمكن لإنسان أن يترك أباه وأمه وعمله من أجل إنسان لم يرَ فيه شيئاً أكثر مما يري في أبيه ولا يعرف عنه شيئاً ؟ ولكنهم تركوا أباهم الجسدي ليتبعوا أباهم السَّماويّ . فهم لم يتركوا أباً بل وجدوا أباً جديراً بالسير خلفه. فما هو المراد من هذا القول؟ إنه دليل علي أن أولئك الرجال رأوا في وجه المخلِّص مسحة إلهية جذبتهم إليه واستسلموا لها دون تردُّد .</p>
<p>لقد كان أول المدعوين لتبعيَّة المخلِّص، صيادين أُمييِّن، وقد أرسلهم للكرازة حتي لا يقدر أحد أن ينسب تحوُّل المؤمنين نتيجة لكرازتهم، إلي الفصاحة والعلم، بل إلي عمل الله. إن هؤلاء التلاميذ الأربعة هم أشبه بالفرس الحاملة للمركبة المنطلقة بإيليَّا إلى السماء، أو قُل هم أربعة حجارة حيَّة أقامها السيَّد لبناء الكنيسة الحيَّة.</p>
<p>ولعل هؤلاء الأربعة بأسمائهم يشيرون إلى الفضائل الأربعة اللازمة في الحياة المسيحيَّة وفِي التلمذة للربِّ. فالأول سمعان يعني الأنصات أو الطاعة للربَّ ولوصيته، وبطرس يعني الصخرة، لأنَّ كل طاعة للربَّ إنما تقوم علي صخرة الإيمان ، وأندراوس يعني العقل والجدّية ، إذ كثيرون يقبلون الإيمان بالفكر لكن بغير جدَّية حيَّة عملِّية . ويعقوب يعني التعقب والجهاد أو المصارعة الروحيَّة حتي النهاية، وأخيراً يوحنا يعني الله حنان، إذ لا قبول لدعوة الله لو لم ينعم ويتحنّن بها الربُّ علينا<a href="#_ftn7" name="_ftnref7">[7]</a></p>
<h3>عظات اباء وخدام معاصرين</h3>
<h4>عظة لقداسة البابا تواضروس الثاني</h4>
<p><strong>بطرس صياد للناس:</strong></p>
<p>+ مكان المعجزة: بحيرة جنيسارت (اسم عبري معناهرقيثارة أو أميرة الحدائق = بحر الجليل)</p>
<p>+ المحتاج للمعجزة: بطرس</p>
<p>+ بداً المسيح معه بمعجزة صيد سمك (لو ٥)، وانتهى تعامل المسيح معه أيضاً بمعجزة صيد (يو ٢١)</p>
<p>حال القديس بطرس قبل المعجزة: مجرد كاسب رزق</p>
<p>١- يملك سفينة خاوية = سفينة بلا سمك</p>
<p>٢- يأس وظلام ليل بلا ثمر = تعب بلا ثمر</p>
<p>٣- مجرد تابع للمسيح لا أكثر = حياة بلا هدف</p>
<p>حال القديس بطرس بعد المعجزة  : محقق مشيئة الله:</p>
<p>١- سفينة  عامرة بالسمك &#8230;. سفينة عامرة</p>
<p>٢- صيد وفير السمك &#8230;. طاعة مثمرة</p>
<p>٣- حياة غنية بالمسيح &#8230;. حياة هادفة</p>
<p><strong>المسيح في المعجزة:</strong></p>
<p>١- جاذبية المسيح : الجموع حوله ، يجذب الكل حتى السمك</p>
<p>٢- محتاج للسفينة</p>
<p>٣- صاحب سلطان : على الطبيعة وعلى النفوس</p>
<p>٤- محب للسفينة . لصاحب السفينة ، ونحن</p>
<p>إن تحليل هذه المعجزة يبين لنا أن:</p>
<p>١- الصيادين : الرسل حاملو الكلمة    ٢ – السفينة : الكنيسة .         ٣ – الشبكة : الإنجيل</p>
<p>٤- البحر : العالم .                       ٥ – الشاطئ : الأبدية</p>
<p>الصيادون يصيدون السمك ليموت ، وخدام المسيح يصيدون الناس ليعيشوا</p>
<p>كانت هذه هي المرة الثانية لدعوة هؤلاء التلاميذ (بطرس ويعقوب وأندراوس) كانت الدعوة الأولى في (مت ٤: ١٨ – ٢٢)   (مر1: ١٦ : ٢٠) ، لقد ظلوا يراقبون أعمال المسيح وسلطانه إلى أن جاءهم ( حينئذ تبعوه )</p>
<p>ونحن نصنع مثلهم عندما نترك ماضينا وراء ظهورنا.. ونتجه نحوه ونقدم مستقبلنا بين يديه.</p>
<p><strong>المسيح .. حياتنا:</strong></p>
<p>+ هناك عدة دروس من هذه المعجزة صالحة لتعليمنا اليوم</p>
<p>أولاً : المسيح وحياتنا اليومية: فالمسيح يشفى المرضى ، ويخرج الأرواح الشريرة ، ولكنة أيضاً يتدخل في العمل اليومى للإنسان . فهو ليس فقط مشغولاً بخلاصنا، بل يقدم معونته لنا في أعمالنا اليومية. مثال: (دعوة متى الرسول – دعوة بولس الرسول ) .</p>
<p>ثانياً : المسيح صياد ماهر جداً : لكل إنسان .. فقد اصطاد التلاميذ بكلمة فمه &#8230; وهو الذي ملأ الشبكة بالسمك وإلى الآن يقوم بملئها. ونحن نستطيع أن نصطاد الآخرين بكلمة المسيح أي الإنجيل.</p>
<p>ثالثاً : المسيح مخلصنا من الخطية : إن المجئ للمسيح يحتاج إلى أمرين :</p>
<p>١- نتحقق أننا خطاه بأنفسنا .. و ..             ٢ – إننا لا نستطيع أن نخلص أنفسنا</p>
<p>فالرب يسوع هو الوحيد الذى يقدر أن يعيننا، ولذا واجبنا أن نترك كل شيء ونتبعه<a href="#_ftn8" name="_ftnref8">[8]</a></p>
<h4>عظة للانبا ايساك الاسقف العام</h4>
<p><strong>تلاميذ مع إيقاف التنفيذ:</strong></p>
<p>(لو٩: ٥٧ – ٦٢) .</p>
<p>+ لقد جاء التلميذ الأول عارضاً أن يتبع يسوع بحماس دون أن ينتظر أن يدعى. أما يسوع فقد ثبط من عزيمته بأن بصره بما هو فاعل. انه يقحم نفسه وهو غير مقدر تماماً تبعة ما يعرضه، وهذا هو معنى إجابة يسوع له. انه يبين له نوع الحياة التي تتطلبها تبعيته له انه يتبع شخص شريد ليس له أين يسند رأسه. كان يسوع يتحدث بهذا وهو في طريقه إلى الصليب انه يسوع المسيح الذي تتخلص حياته في كلمة واحدة من قانون الايمان الرسولى &#8221; تألم &#8221; ولا يوجد انسان يقبل حياة مثل هذه لنفسه، ولا يمكن أن يدعو انسان نفسه لوضع مؤلم كهذا. فبعدما أوضح المسيح هذا لم يلق رداً على كلمته التي قالها، بل بقيت بلا إجابة. ان الهوه التي تفصل بين التقدمة الاختيارية للتبعية، والتلمذة الفعلية هوة سحيقة. ودعوة يسوع هي التي تضيق هذه الهوة وتضع الجسور.</p>
<p>+ الثانى الذي ربما صار تلميذاً، يريد أن يدفن أباه قبل أن يبدأ في اتباع يسوع. انه مقيد بشباك الناموس. انه يعرف ما يريد وما يجب أن يفعل. دعه يتمم الناموس أولاً وبعدئذ فليتبع هناك ترتيب معين يعمل كحاجز بين يسوع والانسان الذي يدعوه. في هذه اللحظة المصيرية، لحظة دعوة المسيح، لا شيء على الأرض مهما كان مقدساً، لا ينبغي اطلاقاً، ان يكون فاصلاً بين يسوع والانسان الذى يدعوه – ولا حتى الناموس ذاته. لو كان الناموس لم يكسر أبداً من قبل، يمكن أن يكسر الآن بناء على أمر يسوع واضع الناموس. ان الناموس يفقد كل غايته لوصار حائلاً أمام التلمذة ليسوع لأن الناموس هو مؤدبنا للمسيح (غل ٣: ٢٤) عند هذه النقطة يكتسح يسوع الناموس ويأمر الانسان أن يتبعه. المسيح وحده يقدر أن يتكلم على هذا المنوال، انه وحده الذي له الكلمة الأخيرة. تلميذ المسيح مهما كان متحمساً للناموس، لا يستطيع أن يرفس مناخس. هذه الدعوة وهذه النعمة لا تقاوم.</p>
<p>+ التلميذ الثالث المزمع أن يتبع المسيح ظن مثل الأول ان اتباع المسيح ممكن أن يقدم كمبادرة منه. كما لو كانت وظيفة خطط لها لنفسه. ولكن هناك فرق بين الحالة الأولى وحالة الشخص الثالث، لأن الثالث كان عنده الجرأة الكافية ليضع شروطه. للأسف، لقد وضع نفسه في وضع متناقض ميئوس منه. لأنه رغم كونه مستعداً أن يجعل نصيبه مع يسوع، نجح في أن يضع حائلاً بينه وبين السيد. &#8221; دعى أولاً &#8221; أي أن هناك أمور لها أولوية عن التبعية. انه يريد أن يتبع، ولكنه مضطر أن يصر على أساليبه الخاصة. التلمذه بالنسبة له إمكانية واردة، ولكن يمكن تحقيقها فقط عندما تتم شروط خاصة. معنى هذا أن نخفض التلمذه إلى مستوى الفهم البشرى، عليك أن تفعل هذا أولاً ، ثم ذاك ثانياً ، هناك وقت مناسب لكل شيء . لقد وضع التلميذ نفسه تحت تصرف الرب، ولكن في نفس الوقت يحتفظ لنفسه بالحق أن يملى شروطه!! ولكن عندما يكون الامر هكذا لا تصبح التلمذه تلمذه، ولكن بروجراما نرتبه من عندياتنا ليناسب أنفسنا ، وليحكم عليه طبقاً لمقاييس الاخلاق المنطقية . مشكلة التلميذ الثالث ، أنه في نفس لحظة تعبيره عن رغبته في اتباع يسوع ، يتوقف أن يتبع على الاطلاق بجعل تبعيته طبقاً لشروطه هو وبذلك يفسد الموقف كله . ان التلمذه الصادقة لا تساوم حول شروط نضعها ليسوع قبل طاعتنا له . لذلك وجد التلميذ الثالث نفسه في تنازع ليس مع يسوع فقط ، بل مع ذاته أيضاً . ان رغباته تتعارض ليس مع ما يريده يسوع فقط . بل مع ما يريده هو ذاته أيضاً . لقد أصدر حكماً بذاته ، وقرر ضد نفسه كل هذا بقوله &#8221; دعنى أولاً &#8221; ان إجابة يسوع تثبت بجلاء وبطريقة مؤثرة بأن هذا الشخص متناقض مع نفسه وهذا يلغى التلمذه . &#8221; لا أحد يضع يده على المحراث وينظر إلى الوراء يصلح لملكوت السموات. &#8221;</p>
<p><strong>أترك العالم:</strong></p>
<p>أن أردنا أن نتبع المسيح ، هناك خطوات محددة ينبغي اتباعها : فالخطوة الأولى التي تلى الدعوة هي أن نفصل أنفسنا عن كل وجودنا السابق . لأن البقاء في الوضع القديم يجعل التلمذة للمسيح مستحيلة. كان على لاوى بن حلفاً أن يترك مائدة الصيارفة، وكان على القديس بطرس أن يترك شباكه كى يتبع يسوع . لقد ظن البعض أنه لا داعى لمثل هذا الاجراء العنيف خصوصاً في المرحل الأولى.</p>
<p>+ ولكن ألم يستطع المسيح أن يترك لاوى بن حلفا كما هو عند مائدة الصيارفة ويكتفى بأن يعطيه بعض التداريب والاختبارات الروحية ؟ كان يسوع قادرا أن يفعل هذا ، أليس هو ابن الله المتجسد ؟ ولكن الرب يسوع أراد أن يجعلها واضحة من البداية . أن كلمة المسيح ليست مجرد تعاليم معنوية ، بل هي إعادة صياغة شاملة لحياة الإنسان الطريق الصحيح الوحيد هو أن تذهب مع يسوع حرفياً . دعوة الاتباع تعنى بالضبط ان هناك طريقاً واحداً للإيمان بالمسيح وهو أن تترك كل شيء وتذهب مع ابن الله المتجسد .</p>
<p>+ أهمية الخطوة الأولى هي أنها تضعها في الوضع الذى يكون فيه الإيمان ممكناً . فالذى يرفض أن يتبع واستمر كما هو فانه لا يتعلم أبداً كيف يؤمن . ان ترك الحياة الآمنة مادياً ، والآمنه بالاهل والاقارب والآمنة بالمهنة والوظيفة لاتباع يسوع ، هي الدخول إلى حياة الإيمان واختبار النصرة التي بربنا يسوع المسيح . طالما لاوى مازال جالساً عند مائدة الصيارفة ، وبطرس عند شباكة فقد يمكنهما أن يحرزا تقدماً في مهنتيهما ، وقد يؤديا أعمالهما بكل همة ونشاط ، بل وقد يتمتعا باختبارات روحية عتيقة وحديثة مراعين الناموس ، ومنتظرين مجئ المسيا كأتقياء الأرض ، ولكن أن أرادا أن يؤمنا بالله فالطريق الوحيد هو أن يطعيا دعوة ابنه المتجسد التي تقول لهما : اتبعانى . لقد آتى المسيا ، ودعوته تنتشر ، الإيمان لا يعنى البقاء والانتظار فيما بعد – عليهما أن يقوما ويتبعا . ان الدعوة تعفيهم من كل روابط أرضية رتربطهم بالرب يسوع المسيح وحده . عليهم أن يقطعوا كل خطوط الرجعة ويدخلوا إلى حالة عدم الأمان المطلق كى ما يتعلموا أن يطلبوا كل شيء من المسيح – وكل أمورالحياة تتعلق بكلمته وحده . لوكان لاوى بقى في وظيفته ، كان ممكناً ليسوع أن يعينه في حل مشاكل حياته وهو مستمر في وضعه ولكن سوف لا يصبح أبداً رباً لكل حياته ، وسوف لا يذوق طعم الإيمان ، لأن تركه مائدة الصيارفة خلقت وضعاً جديداً يمكنه به أن يؤمن بالمسيح كأله متجسداً . كذلك بطرس عليه أن يترك السفينة ويمشى على الماء مخاطراً بحياته فوق البحر – كى ما يتعلم قوة ربه العظيم وهو يدعوه في وجفة لو لم يبادر بطرس بالمخاطرة ، ما كان تعلم معنى الإيمان أبداً . ان طريق الإيمان يمر عبر طاعة دعوة يسوع . ما لم تتخذ خطوات محدودة ، سرعان ما تضمحل أصوات هذه الدعوة في الهواء . مهما تصور الناس انهم يتبعون يسوع دون أن يتخذوا خطوات طاعته عملياً ، فانهم يضلون ذواتهم.</p>
<p>لتؤمن:</p>
<p>هناك وضع في الحياة حيث يكون الإيمان ممكناً، ووضع آخر حيث يكون الإيمان غير ممكن وعلينا أن نميز بين الوضعين .</p>
<p>١- الوضع الذي نطيع فيه دعوة يسوع هو وضع مناسب للإيمان</p>
<p>٢- الوضع الذي ليس من تخطيط البشر، فالتلمذة ليست منحة يقدمها الإنسان للمسيح</p>
<p>٣- الوضع الذي يكون دون أي استحقاق أو أهلية سابقة</p>
<p>٤- الوضع الذي يكون فيه الايمان ممكناً هو الذى لا يتم الا من خلال الايمان فقط</p>
<p>وهناك جملة من فقرتين تركز كل الحقائق السابقة على أن تؤخذ الفقرتين معاً دون انفصال:</p>
<p>المطيع هو الذى يؤمن، والمؤمن هو الذى يطيع كلنا يعرف أن الطاعة تتبع الايمان كالثمرة الشهية التي تنمو على الشجرة الجيدة. الايمان أولاً وبعد ذلك الطاعة. ولكننا لوفصلنا احدهما عن الآخر، حينئذ يواجهنا السؤال العملى : اذن متى ينبغي أن تبدأ الطاعة للمسيح:</p>
<p>الطاعة</p>
<p>الخلاص</p>
<p>الايمان</p>
<p>لا ينبغي أن نغف التحاد الصميمى بين الإيمان بالمسيح وطاعتنا للمسيح . فالايمان لا يكون حقيقياً الا حينما يكون هناك طاعة وليس بدونها أبداً . الايمان يكون ايماناً فقط في فعل الطاعة . فكما نقول ان الطاعة هي ثمرة الايمان ، ينبغي أن نقول أيضاً ان الطاعة مقدمة وتمهيد لازم للإيمان يتحتم أن نضع الافتراضان السابقان حنباً إلى جنب دون أي فصل .</p>
<p>+ ان كنا نريد أن نؤمن علينا أن نطيع وصية محددة . بدون أن نخطو هذه الخطوة المبدئية في الطاعة فان ايماننا سيكون مجرد تقوى كاذبة تنقصه القوة الفعالة ، كل شيء في حياتنا مع الله يتوقف على البداية ، الخطوة الأولى فان لها أهميتها الفريدة في تحديد مسارنا المضبوط . لقد ابتدأ معلمنا بطرس بأن ترك شباكه وبعد ذلك استطاع أن يخرج من السفينة إلى الرسولية ، أما الشاب الغنى فقد رفض الخطوة الأولى وهى أن يبيع كل ما له ، لذلك مضى حزيناً . أن الطاعة توجد نظرة جديدة للأمو تجعل الايمان ممكناً . انها خطوة في امكان كل شخص أن يخطوها لأنها في نطاق الحرية البشرية . فالقديس بطرس لا يستطيع أن يتبع المسيح الا بعد أن يترك الشباك . والكتاب المقدس يؤكد بأن الخطوة الأولى بالذات التي يقوم بها الانسان تؤثر جذرياً على وجوده كله . هذه الخطوة قد تأخذ شكل الاستجابة لدعوة حضور الخدمة في الكنيسة حيث القداس الالهى وخدمة الكلمة . فحين يخطو انسان هذه الخطوة فهو لم يفقد حريته الشخصية . تعال للكنيسة ! أيمكنك عمل هذا بمحض ارادتك ، يمكنك أن تترك منزلك في موعد الخدمة بالكنيسة وتذهب إلى هناك اتستمع إلى كلمة الحياة . ان لم تأت ، فأنت بحرية ارادتك تحرم نفسك من المكان حيث يكون الايمان ممكناً .</p>
<p>+ علينا أن نضيف على الفور ، ان هذه الخطوة ما هي الا عمل خارجى ، حتى لو كانت – في أحسن تقدير – غيرت من أسلوب الحياة . فلو أن سكيراً قطع عهداً أن لا يعود إلى السكر ، أو غنى فرق كل ثروته فكلاهما قد حرر ذاته من عبودية الخمر وعبودية المال ، ولكنهما لم يتحررا من عبودية أنفسهما . مازالا يتحركان في مدارهما الخاص ، ربما أكثر من ذي قبل مازالا مقيدين كما كانا من قبل . طبعاً لابد أن يؤديا العمل ، ولكن لا يمكن لهذه الاعمال في حد ذاتها أن تنقذهما من الموت والعصيان والاثم . ان الخطوة الأولى ليست أكثر من عمل خارجى ، استعداد ، ميل حسن . لو خطونا الخطوة الأولى بتبصر ورزانه ، فنحن نضع أنفسنا حيث يكون الايمان ممكناً . الحياة الجديدة التي تفتحها أمامنا الخطوة الأولى هذه هي حياة لم تزل داخل نطاق الحياة القديمة ، ولكن الحياة الجديدة الحقيقية التي تكون من الايمان فهى الهدف الذى لا يجب علينا أن تسئ ادراكه . فالذى ترك العالم لا يكتف بمجرد وجوده في الدير بل أمامه جهاد مستمر.</p>
<p>+ ولكن يجب أن يعمل هذا العمل الخارجي، لأنه مازال علينا أن نضع أنفسنا في الوضع الذى يكون الايمان فيه ممكناً . &#8221; في طريق وصاياك انتظرناك يارب ، إلى اسمك ، وإلى ذكرك شهوة النفس &#8221; (أشعياء ٢٦: ٧) فلنخطو هذه  الخطوة الأولى وعيوننا شاخصة ليست نحو العمل في حد ذاته بل على يسوع الذى يدعو.</p>
<p>+ القديس أنطونيوس وهو صبى العمر والعقل ما استطاع أن يبيع كل شيء ويسكن وحده في الصحراء القفرة لو لم يكن حب يسوع والنظر اليه وحده هو دافعه. ومعلمنا بطرس نراه يقفز من السفينه إلى الماء وعيناه مثبتتان على يسوع الدى يدعو، ولكن حالما نظر إلى الأمواج المياه التي كان سائراً عليها ابتدأ يغرق . في البداية صرخ ليسوع &#8221; يارب مرنى أن آتى اليك فوق الماء &#8221; ويجيب يسوع &#8221; تعال &#8221; يجب أن يدعوه يسوع أولاً لأن الخطوة الأولى ينبغي أن لا تخطى الا بناء على كلمة يسوع.</p>
<p>هذه الدعوة هي نعمته التي تدعو من الموت إلى الحياة. ولكن بعدما انتشل يسوع القديس بطرس من الغرق ودخلا السفينة، ووصل إلى الشاطئ بدأت حياة بطرس الجديدة مع المسيح: هلم ورائى فأجعلك تصير صياداً للناس &#8221; لم يكن لبطرس أي خيار ، عليه أن يترك السفينة ويأتي اليه .</p>
<p>+ ان القائلين بعدم أهمية الخطوة الأولى يسيئون فهم النعمة. على العكس يمكننا أن نؤكد أن خطوة الطاعة ينبغي أن تتخذ أولاً حتى ما يكون الايمان ممكناً. الانسان الذى لا يطيع ، لا يقدر أن يؤمن . هل تقلق لأنك تجد انه من الصعب عليك أن تؤمن؟ لا تعجب ان صعب عليك الايمان، فلابد ان في حياتك جزء يقاوم هذا الايمان ، أو هناك عصيان مستمر لوصايا يسوع في حياتك ، أو جزء هناك جزء من حياتك ترفض أن تسلمه للمسيح حسب مشيئته وبعض الشهوات الخاطئة ، ربما ، بعض الأحقاد ربما بعض الطموحات الدنيوية ، أو أسبابك الخاصة . ان كان الأمر كذلك عليك أن لا تتعجب انك لم تنل النعمة، وأن الصلاة عمل صعب عليك ، وأن طلبتك من أجل الايمان لم تستجب اذهب أولا واصطلح مع أخيك ، أترك الخطيئة المتسلطة عليك بشدة – وحينئذ تستعيد ايمانك !</p>
<p>ان كنت رافضاً لوصية الله فسوف لا تقبل منه نعمة. كيف ترجو أن تتحد معه، وانت في نقطة ما من حياتك تتنافر بعيداً عنه ؟ ان الانسان العاصى لا يقدر أن يؤمن، لأن المطيع هو فقط الذي يؤمن.</p>
<p>+ دعوة يسوع الكريمة ، تتحول الآن إلى أوامر حازمة: اصنع هذا ! أترك ذاك ! أترك السفينة وتعال ! وعندما يدعى أحد انه لا يقدر أن يطيع دعوة يسوع لأنه يؤمن ، أو لأنه لا يؤمن يقول له يسوع : طع أولا ، تمم العمل الخارجي ، أترك ارتباطاتك الدنيوية ، أترك العقبات التي تفصلك عن تنفيذ إرادة الله ، لا تقل انك لم تنل ايمانا ، انك لا تنله طالما أنت مصر على العصيان وترفض أن تبادر بالخطوة الأولى . انك لم تحصل على الإيمان لأنك لم تخطوا الخطوة الأولى ، وسوف لا تحصل عليه ما لم تخطوها بل ستتقسى أكثر في عدم ايمانك تحت رداء الايمان المتواضع ، يا لها من ذريعة خبيثة كونك تناقش على هذا النحو ، انها علامة أكيدة على عدم الايمان الذى يقود بدوره إلى عدم الطاعة. هذا هو عصيان المؤمنين ، حينما يطلب منهم الطاعة يتعللون بعدم ايمانهم ويقفون عند هذا الحد &#8221; فصرخ أبو الولد بدموع وقال أؤمن ياسيد فأعن عدم ايمانى &#8221; (مرقس٩: ٢٤) انك في الواقع تلقى بموضوع التلمذه للمسيح برمته عرض الحائط . ولكن ان كنت تؤمن ، فخذ الخطوة الأولى ، انها تقود إلى يسوع المسيح ، وان كنت لا تؤمن خذ الخطوة الأولى كذلك لأنك مأمور أن تأخذها . لا أحد يريد أن يعرف عن ايمانك أو عدم إيمانك فأعمالك هي التي تظهر ايمانك . المطلوب منك أن تكمل فعل الطاعة في الحال ، حينئذ ستجد نفسك في الوضع حيث يكون الايمان ممكناً . الايمان بكل ما تحمله الكلمة من معانى</p>
<p>+ ان الوصية التي يعطيها لنا يسوع كى نطيعها هي في حد ذاتها نعمة ، عندما نطيعها ندخل إلى نعمة الإيمان – وهكذا نرتفع من نعمة إلى نعمة ومن ايمان إلى ايمان &#8221; انجيل المسيح … فيه معلن بر الله بايمان لايمان كما هو مكتوب أما البار يحيا &#8221; (رو١: ١٧)</p>
<p><strong>أيها الرعاة، نادوا بالطاعة الحرفية للمسيح : </strong></p>
<p>عند هذه النقطة نسوق بعض الملاحظات الرعوية ، حينما يتعامل الراعى مع النفوس لا سيما في سر الاعتراف والإرشاد الروحى عليه أن نضع في ذهنه كلا الجانبين أي : المؤمن هو الذى يقدر أن يطيع ، والمطيع هو الذى يقدر أن يؤمن . فحينما يشكو الناس مثلا أن هناك صعوبة في الايمان ، فهذه علامة واضحة ان هناك عصيان بلا وعى . قد يرشد البعض بأن ينتظروا عمل النعمة ، والاكثار من وسائطها ، ولكن هذا الارشاد قد يطوح بهم بعيداً عن طريق الله وترخص النعمة في نظرهم ، ويظنون انهم وهم يمارسون وسائط النعمة وهم في حالة الخطيئة ، انه لا داعى للتوقف عن الخطيئة ! فتزداد حالتهم سوء . وتصبح كلمة النعمة عنده مرادفة لتلذذ الذات ، فيعطى الحل لذاته أن تستمر في خطاياها . وبعدما يحدث هذا ، لا يجد هذا المسكين راحة حتى لو أخذ ألف حل كهنوتى ، لقد أصبح أصماً بالنسبة لأسرار الكنيسة وبالنسبة لكلمة الله . لقد فقد القدرة على الاعتقاد في المغفرة الحقيقية لمجرد انه لم يعرفها في الواقع أبداً ان اراحة النفوس وهى مستمرة في خطاياها بدعم عصيانها بالأكثر ويثبته<a href="#_ftn9" name="_ftnref9">[9]</a>.</p>
<h4>عظة للمتنيح القمص لوقا سيداروس</h4>
<p><strong>الأحد الثاني من شهر بابه</strong></p>
<p><strong>  (لو ٥: ١ – ١١)</strong></p>
<p><strong>معجزه صيد السمك </strong></p>
<p>دخل أحد السفينتين التي لسمعان</p>
<p>المسيح هو دايماً الذي يبدأ الحركة نحونا، وهو في غالب الأحيان يبدوا كأنه محتاج إلينا . مثلما رأيناه عطشان أمام السامرية وهو مزمع أن يروي عطشها ويفيض فيها ينابيع حياة . وكما احتاج إلى الخمس خبزات وهو مزمع أن يشبع الخمس آلاف رجل هكذا أحتاج الرب سفينة سمعان وهو مزمع أن يجعله صياداً يصطاد الناس. ولكن يبدوا واضحاً أن سمعان بطرس كان مقدماً سفينته للرب بكل الرضي والسرور ، وإن كان لم يدرك القصد الإلهي لأول وهلة . ولكن ليس مطلوب منا. في مثل هذه الحالة سوي تقديم إمكانياتنا البسيطة وتسليمها في يد الرب . وبعد أن علم الرب الجموع من السفينة قال لسمعان أدخل إلى العمق وألقوا شباككم للصيد . هنا بعد أن ترضي النفس أن يدخل الرب يسوع إلى سفينتها ، يوجه الرب دعوته للنفس أن تدخل إلى العمق ، إذ تكون النفس قد تعبت ليلها دون أن تأخذ شيئاً .</p>
<p>+ إنها دعوة للذين تعبوا في الصلاة وانتهوا من الصلاة دون أن يأخذوا شيئاً . أدخل إلى العمق وقل &#8221; من الأعماق صرخت إليك يارب &#8221; . أدخل. إلى العمق في الصلاة بالإنسحاق والدموع والتذلل والصوم ، انزل إلى الأعماق في كل كلمة ، وكل طلبة ، تعمق في مواعيد الله وفي روح الصلاة &#8230; كن عميقاً في خشوعك وتوبتك . وكلماتك كثيراً ما بكت الرب شعبه قديماً &#8221; هذا الشعب يكرمني بشفتيه أمًا قلبه فيبتعد عني &#8221; .</p>
<p>+دعوة للذين قضوا حياتهم في السطحيات ، والمظاهر الكاذبة &#8230; أدخل إلى العمق لا تنظر إلى العينين ، بل إلى القلب . لا تكن سطحياً مثل الفريسيين الذين كانوا يهتمون بالشكل الخارجي وهم في أعماقهم مملوئين خبثاً وشراً . نقي أولاً داخل الكأس حينئذ يتطهر خارجها .</p>
<p>تعبنا الليل كله ولم نأخذ شيئاً</p>
<p>علي أن خبرة سمعان هذه في. حقيقتها تصلح أن تكون خبرة كل واحد فينا .</p>
<p>+ إسأل الذين أتكلوا علي يقينية الغني وسعوا وراء المال وأرادوا أن يكونوا. أغنياء كيف سقطوا في تجربة وفخ وطعنوا أنفسهم بأوجاع كثيرة . وأدركوا أن محبة المال أصل لكل الشرور . وكأن لسانهم بعد السعي الطويل يقول &#8221; تعبنا الليل كله ولم نأخذ شيئاً &#8221;</p>
<p>+. إسأل الذين جروا وراء الشهوات الجسدية وقضوا العمر ، وسكبوا شبابهم لكي يشبعوا رغباتهم ، فيخبروك أنه باطل الأباطيل الكل باطل ، وقبض الريح ، ولا منفعة تحت الشمس . وفي نهاية سعيهم يقولون ذات العبارة &#8221; تعبنا الليل كله ولم نأخذ. شيئاً &#8221; .</p>
<p>+ إسأل الذين ضيعوا عمرهم في طلب الكرامة ومديح الناس كيف رجعوا خائبين بعدما أكتشفوا أنه ليس من يمدحه الناس هو المزكي ، بل الذي مدحه من الله . وبعدما سقطوا من النعمة لأنهم كانوا يطلبون مجد الناس ، وأدركوا قول الرب نفسه &#8221; مجداً من الناس لست أقبل &#8221; فرجعوا يقولون &#8221; تعبنا الليل كله ولم نأخذ شيئاً &#8221; .</p>
<p>وهكذا تصلح هذه لكل الذين يسعون جرياً وراء أباطيل العالم ويريدون أن يمتلئوا من فراغه &#8230;</p>
<p><strong>على كلمتك ألقى الشبكة</strong></p>
<p>فرق بين من يعمل من ذاته، ومن يعمل على سند كلمة المسيح بوعد ورجاء وإيمان &#8230;لتكن ممارستنا لأعمالنا مسنودة بالكلمة&#8230; أننا نعمل لأنه هو يبارك عملنا لأننا بدونه لا نقدر أن نعمل شيئاً . وإن لم يبن الرب البيت فباطلا يتعب البناؤون &#8230;. حينئذ إذا صادفنا نجاحاً عظيماً كصيد السمك فلا ننسب هذا لمقدرتنا ولا لجهدنا، بل الله الذي يعطي ولكلمته القادرة أن تعمل في الضعف. هنا نتعلم إنكار الذات وعدم الاعتداد بالإمكانيات أو المهارات، بل نمجد إلهنا في أعمالنا ونخبر بفضائل ذاك الذي تمجد في عجزنا وضعفنا &#8230;</p>
<p>اخرج من سفينتي يارب فإني رجل خاطئ</p>
<p><strong>الأثر الأول والأعظم لعمل الله في حياتنا والمعجزات التي يصنعها معنا هو أننا نكتشف:  </strong></p>
<p><strong>١- أننا خطاة</strong></p>
<p>فالمواجهة مع الله تكشف خزينا وكسلان وتقصيرنا وتهاوننا، والمواجهة مع القدوس تطهر للحال نجاسات قلبنا فنصرخ &#8221; أنا رجل خاطئ &#8221; . بعكس ما يصنعه النجاح من غرور، فإن أولاد الله يتحول نجاحهم إلى كثرة إتضاع ومسكنة وإحساس بالخطية وإعتراف أمام الله للتوبة</p>
<p><strong>٢- عدم الاستحقاق</strong></p>
<p>فلسنا نحسب أنفسنا أهلًا أن نكون خدام للمسيح ولا أن يدخل سفينتنا، ولا أن يبارك صيدنا &#8230; هذا الشعور صاحب القديسين في الكنيسة في كل الأجيال &#8221; لسنا كفاه من أنفسنا &#8221; &#8221; أنا أصغر جميع الرسل &#8221; &#8230; &#8221; والخطابة الذين أولهم أنا &#8221; &#8230; &#8221; لست مستحق أن أدعي رسولاً &#8221; . &#8221; مهما فعلتم كل البر قولوا أننا عبيد بطالون &#8221; .</p>
<p>أحذر أيها الحبيب أن تفقد الشعور بعدم الإستحقاق لئلا تسقط مع الشيطان &#8230;</p>
<p><strong>صياد الناس</strong></p>
<p>هنا نكتشف قصد المسيح الذي بدأ بدخول سفينة سمعان ثم بصيد السمك &#8230; المسيح يريد سمعان نفسه &#8230; يريد أن. يعمل به عملاً عظيماً . يا سمعان من الآن أنت رائحة المسيح الذكية لجميع الناس يا سمعان الكلمة الإلهية في فمك هي صنارة عقلية تصيد بها النفوس بقوة وتجذبهم من بحر العالم إلى حظيرة المسيح ، وتشهد لعمل نعمة الله يا سمعان بدل قوتك الجسدية التي لا تزول لتخدم لا بالجسد بل بالروح الذي يتجدد في داخلك يوماً فيوم لا يعرف التعب ولا الملل &#8230;.</p>
<p><strong>ترك كل شيء وتبعه</strong></p>
<p>الآن لم يعد سمعان يرتبك بأمور هذه الحياة لكي يرضي من جنده . كانت كثرة السمك تربك سمعان جداً وتدخل إلي نفسه الغرور وشرور كثيرة . ولكن الآن كثرة السمك لن تحول نظره عن شخص الرب يسوع.  لنراجع أنفسنا هل تركنا كل شيء ؟ هل نتبعه أم مازالت أموالنا وأملاكنا وربما وظائفنا أو للأسف ربما لعبنا ونزهتنا ، أو أقل من هذه الأمور تجذب إنتباهنا وتربك عقلنا عن تبعية يسوع في الصلاة ، أو حضور القداسات ، أو في البذل ، أو حتي في مجرد الوجود معه  لا تجعل شيء يعوق مسيرتك خلفه ، بل اختبر ما قاله القديس أغسطينوس : &#8221; وضعت قدمي علي قمة هذا العالم عندما أصبحت لا أخاف شيء ولا أشتهي شيء<a href="#_ftn10" name="_ftnref10">[10]</a> &#8221;</p>
<h4>الأحد الثانى من شهر بابه المبارك للمتنيح القمص تادرس البراموسي</h4>
<p><strong>تركوا كل شيء وتبعوه (لو ٥: ١ – ١١)</strong></p>
<p>أمتلأ القديس بطرس ومن معه من التلاميذ رهبه أمام هذه المعجزة العجيبة. وكانت استجابتهم الأولى نحوها هي الإحساس بحقارة الإنسان بالمقارنة بهذا الشخص العظيم لقد علم بطرس أن الرب يسوع يشفى المرضى ويخرج الشياطين وإنه يتنافس في كثير من الأحيان مع الكتبة والفريسيين وأنه إنسان عظيم. لكنه دهش لما رأى أن الرب يهتم ويعتنى أيضاً بعمل الإنسان . الروتينى اليومى وأن يعرف احتياجاتنا لأن الله لا يهتم بخلاصنا فقط بل أيضاً بمساعدتنا في أمور حياتنا الجسدية هناك شرطان يسبقان اتباع الله يجب أولاً أن نعترف بطبيعتنا البشرية. الخاطئة فنحن لا نقدر أن نخلص أنفسنا وليس أحد يقدر أن يخلصنا سوى الله وحده وثانياً يجب أن نعترف بعدم جدوى جهود الإنسان فقد جاهد أولئك الصيادين طوال الليل بدون فائدة فهذه المعجزة تعلمنا الأعتماد على الله والتسليم له في كل أمورنا.</p>
<p>وقف الرب يسوع عند بحيرة جينسارت ليس ليرى البحيرة، بل كان الجمع يلتف حوله واراد أن يعلم الجموع أن الاعتماد على النفس لا يجدى شيئًا بل الاعتماد على الله أولاً رأى الصيادين في السفينتين قد خرجوا من البحر وغسلوا الشباك ولم يصطادوا شيئًا. دخل إحدى السفن وقال لصاحبها أبعد إلى العمق وجلس يعلم الشعب من داخل السفينه لم يترك الرب فرصه فيها يلقى كلمه الخلاص إلا وأنتهرها ما أراد أن يعلم الشعب ويفجر المفأجاة بصيد السمك قال سمعان أبعد إلى العمق والقوا شباككم للصيد قال له سمعان يارب قد تعبنا الليل كله ولم نأخذ شيئاً ولكن على كلمتك ألقى الشبكة. أنا واثق يارب أننا لا نصيد شيء لكن لأجل الطاعة والقوا الشباك واصطادوا سمكاً كثيراً حتى عادت شباكهم تتخرق فبكى سمعان عند قدمى المسيح وقال له . أخرج من شفينتى يارب لأنى رجل خاطئ : هذه القصة تعلمنا أننا ما دمنا على الشاطئ لا يمكن لنا أن ننال بركة الرب بل كقول الرب ادخلوا إلى العمق في عمق الكنيسة فيه خيرات كثيرة وفى عمق المسيحية فيه بركات كثيرة لا تخاف من أن تدخل إلى العمق . لما دخل سمعان إلى العمق سمع قول الرب لا تخف من الآن تكون تصطاد الناس فلما جاءوا إلى البر تركوا كل شيء وتبعوه وهكذا تكون التلمذه الحقيقيه أننا لا نتعلق بأمور العالم بل نترك كل شيء ونتمسك بالرب يسوع.</p>
<p><strong>العظة الأولى</strong></p>
<p>أ – كيف نعطى كلمة الله في كل مجتمع</p>
<p>ب – لا يدخل اليأس حياتنا، بل الرجاء</p>
<p>ج – لا تتعثر في عملك، بل القى رجائك على الله</p>
<p>د – لنسمع صوت الله ادخل إلى العمق</p>
<p>ه - الطاعة وثمارها في حياتنا</p>
<p>و – الأتكال على الله وعمل الطاعه</p>
<p>ذ – بركة الرب وتقديره للإنسان</p>
<p>ح – الاعتراف بالجميل وحب المشورة</p>
<p>ط – القناعة وحب الفضيلة</p>
<p>ى – ترك الكل والتمسك بالواحد</p>
<p><strong>العظ الثانية</strong></p>
<p>أ – السعي وراء الخير من ثمار الإيمان</p>
<p>ب – عدم الأتكال على الذات وترك مشورة الله</p>
<p>ج – مشورة الهية وبركات سمائيه</p>
<p>ه - البركة في الطاعة وسماع صوت الله</p>
<p>و – ظهور الله في بيوتنا تظهر في أعمالنا</p>
<p>ذ – كيف يتضاءل الانسان أمام قوة الله</p>
<p>ط – الدعوة الإلهية والسلوك حسب الوصية</p>
<p>ى – اندهاش الجموع لما رأوا الينبوع</p>
<p><strong>العظة الثالثة</strong></p>
<p>أ – مرسلين ورسالة</p>
<p>ب – هدف وجعلله</p>
<p>ج – دعوه وأصاله</p>
<p>د – جهاد وبسالة</p>
<p>ه - القدوة عظة صامته</p>
<p>و – التضحية قوة خفية</p>
<p>ذ – المسايرة حياة عملية</p>
<p>ط – التوبة تمحوا الخطية</p>
<p>ط – بالإيمان والحب نرث الأبدية<a href="#_ftn11" name="_ftnref11">[11]</a></p>
<h4>عظة للمتنيح القمص بولس باسيلي</h4>
<p>صيد السمك (ص٢٨٥- ٢٩٠)</p>
<p>شبكة الانجيل !!</p>
<p>عظة على ضوء القراءات الكنسية:</p>
<p>البولس :                 (٢ کو ٤: ٥ -١٥)</p>
<p>كاثوليكون :             (يع ٣ : ١٣ - ٤ : ١ -٦)</p>
<p>الابركسيس :          (أع ١٤ : ٢٤ - ١٥:۱-۳)</p>
<p>الانجيل :                (لو ١:٥-۱۱)</p>
<p>تمهيد : تدور قراءات هذا الفصل حول الكرازة بالانجيل وربح النفوس وهو محور انجيل القداس ، فالبولس يحدثنا من نور الكرازة والهداية ، فيقول &#8221; إن الذي قال أن يشرق نور من ظلمة هو الذي أشرق في قلوبنا لإنارة معرفة الله &#8221; (2كو ٤ : ٦) ثم يحدثنا عن الصيادين أو المبشرين أنهم أوان خزفية (٢كو ٤ : ٧) ومن رجاء خدام النعمة &#8221; متحيرين لكن غير يائسين &#8221; (٢ کو ٤ : ٨) والكاثوليكون يحدثنا من حكمة الكرازة ويرسم لنا الفرق بين حكم العالم وحكم المسيح (يا ۳ : ١٥-۱۸) والابركسيس يحدثنا عن نجاح الكرازة ويقدم لنا عينات من الصيادين النفوس أمتال بولس وبرنابا (أع ١٤ : ٢٦- ١٥: ٣)                                         ال<strong>قسم الأول : مؤهلات شبكة الانجيل</strong><strong>!! </strong></p>
<p>(١) شبكة لا ترجع فارغة: شبكة بطرس فشلت كثيراً &#8221; أما كلمة الله فلا ترجع فارغة &#8221;  نجاح الكلمة، وكان الله يضم للكنيسة كل يوم الذين يخلصون &#8221; أنظر الابركسيس الذي يحدثنا عن نجاح الكرازة وأن الإيمان للجميع.</p>
<p>(٢) شبكة تحيى النفوس: شبكة بطرس كانت تصطاد الأسماك من البحر الحي لتخرجها إلى الموت، أما شبكة يسوع فتصطاد النفوس من بحر الخطية الميت إلى بحر النعمة الحى، ولذلك شبه المسيح ملكوت الله بشبكة فقال &#8220;يشبه ملكوت السموات شبكة مطروحة في البحر جامعة من كل نوع فلما امتلأت أصعدوها على الشاطئ وجلسوا وجمعوا الجياد إلى أوعية وأما الأردياء فطرحوها خارجاً &#8221;   (مت٤٧:١٣)</p>
<p>(٣) شبكة تعمل في النهار: شبكة الصيد تعمل في الليل حيث تنصب شباكها للأسماك ولذلك يقول بطرس &#8221; تعبنا الليل كله &#8221; هكذا شباك الأشرار تنصب في الخفاء للأبرياء ، أما شباك الانجيل فتنصب بالنهار لخير الناس لا للإيقاع بهم ، فهى شبكة بناءة أما شباك العالم فهدامة ، قال داود &#8221; نفسى بين الأشبال &#8230; أسنانهم أسنة وسهام ، ولسانهم سيف ماض . . . هيأوا شبكة لخطواتى. . . حفروا قدامی حفرة سقطوا في وسطها ، (مز ٥٧ : ٤ - ٦) وقال عنهم داود &#8221; ليسقط الأشرار في شباكهم &#8221;       (مز١٤١ :١٠)</p>
<p><strong>القسم الثاني : مؤهلات الصيادين</strong></p>
<p>شباك الانجيل لها صيادون تتوفر فيهم المؤهلات التالية :</p>
<p><strong>( ١ ) الحكمة السماوية :</strong></p>
<p>أنظر الكاثوليكون إذ يحدثنا الرسول عن حكمة العالم أنها &#8221; حكمة أرضية نفسانية شيطانية &#8221; أما حكمة الله &#8221; فهى طاهرة ثم مسالمة مترفعة مذعنة مملوءة رحمة واثماراً صالحة عديمة الريب &#8221; (يع ٣ : ١٥ -١٧) ثم يقول الكاثوليكون &#8221; من هو حكيم وعالم بينكم فلير أعماله بالتصرف الحسن في وداعة الحكمة &#8221; (يع ٣ : ١٣) فرابح النفوس حكيم كما قال الحكيم .</p>
<p><strong>( ٢ ) أوان خزفية :</strong></p>
<p>أنظر البولس إذ يحدثنا &#8221; و لكن لنا هذا الكنز في أوان خزفية ليكون فضل القوة الله لا منا &#8221; (٢ كو ٤: ٧) ولكن إن كانوا أوان خزفية في ضعفهم وحقارتهم وفقرهم إلا أنهم &#8221; أقوياء في النعمة &#8221; (۲تی٢ : ١) ووكلاء سرائر الله ( اكو ٤ : ١) وسفراء عن المسيح     (۲کو ٥ -٢٠ ) ولهم سلطان من الله (٢کو ۱۰ : ۸)</p>
<p><strong>تأملات روحية .. نقاط تفسيرية</strong></p>
<p>حول عظة الأحد الثاني من شهر بابه (لو ١:٥ -۱۱)</p>
<p>*صياد .. وصياد !!</p>
<p>عند بحيرة جنيسارت نلمح صيادين : سمعان بطرس الصياد الفاشل الذي &#8221; تعب الليل كله ولم يأخذ شيئاً &#8220;، ويسوع المسيح الصياد الناجح الذي استطاع أن يلقى شبكته في الدقائق الأولى فيمسك صيداً كثيراً وكبيراً .</p>
<p>ففي الوقت الذي كان فيه سمعان بطرس حائراً فاشلا في صيد سمكة واحدة ، كان يسوع يلقي الشبكة على نفس &#8220;الصياد &#8221; فيمسك به ، وهكذا كان يسوع &#8221; صياد الصيادين &#8221; كما كان أيضا &#8221; واعظ الواعظين &#8221; و &#8221; معلم المعلمين&#8221;</p>
<p>*&#8221;بحيرة جنيسارت&#8221; : وهى الممتدة إلى جانب أرض جنيسارت التي ذكرها البشير متى بأنه فيها شفى يسوع جميع المرضى وطلبوا إليه أن يلمسوا هدب ثوبه فجميع الذين لمسوه نالوا الشفاء (مت ١٤ : ٣٤)</p>
<p>*&#8221;غسلوا الشباك&#8221; : وفى هذا معنى الانتهاء من الجهاد في الصيد ، واليأس القاتل الذي مني به سمعان بطرس . قال &#8221; شارل كترنج &#8221; لا تخف من الفشل واعلم أن كل إخفاق خطوة في سبيل النجاح ، وتروى الأساطير أن جماعة من الحيوانات أفزعها صياد ماهر ، كان لا يصوب بندقيته إلى حيوان إلا جندله لساعته ، وذات صباح فوجىء ملك الغابة  وكان أسداً حكيما  بهذا الصياد يصوب بندقيته نحوه ، فأغرق الأسد فجأة في الضحك ، مما جعل الصياد تأخذه الدهشة و يضع بندقيته جانباً ، ريثها تطلع إلى وجهه في مرآة لعل فيه ما أثار ضحك الأسد في مثل ذلك الظرف الرهيب ، وهنا هجم عليه الأسد وافترسه ، ومغزى هذه الأسطورة أن الضحك يذلل العقاب ، ويمكن المرء من الغلبة على الأعداء ، فاضحك دائما يضحك لك العالم و تبتسم لك الحياة !!</p>
<p>*&#8221; رأى سفينتين&#8221; أليس في هاتين السفينتين صورة حية لما في هذا الوجود ؟ ! إن الحياة سفينتان : سفينة تخرج من الميناء ، والأخرى داخلة إليه ، تطلع مرة أحد الحكماء إلى شاطىء البحر فرأى سفينة تقلع يلوح لها الناس بشارات الوداع القلبية ، وأخرى ترسو لا يشعر بها أحد ، فقال &#8221; لا تفرحن بالسفينة المقلعة لأنك تجهل أي مصير ينتظرها في البحر من زوابع تلاقيها و أخطار تعترضها ، بل الأجدر أن تفرح بالسفينة التي وصلت سالمة إلى المرفأ عائدة بجميع ركابها في أمان &#8221; .</p>
<p>إن مثل الدنيا مثل السفينة : عندما يولد الإنسان يرى من حوله يضحكون سروراً ، و لكن عندما يموت فالجميع يحزنون ، بيد أن الحالة يجب أن تكون على نقيض ذلك ، ليس من يستطيع التنبؤ بما ينتظره الطفل من آلام خلال سفره في هذا العالم ، أما إذا عاش المرء ومات في سلام فيجدر بالجميع أن يفرحوا لأنه أتم رحلته ، وسيبرح هذه الدنيا تاركا وراءه ذكرى حسنة كالتاج المتلألى . &#8221; وذكرى الصديق تدوم إلى الأبد &#8221; !</p>
<p>*&#8221;أنا عائد من ايطاليا &#8221; وأنا في الباخرة عائد من إيطاليا هبت ريح عاتية على السفينة أدخلت الذعر إلى قلبي و قلب زوجتى ، وكان معنا في الباخرة خليط من الناس ، فتطلعت إلى وجوههم جميعاً فرأيت عجباً ، رأيت البعض يبكون ، والبعض يضحكون ، والبعض يسرحون على سطح الباخرة و يمرحون ، ولكن الذي أدهشني جماعة من السياح الأجانب كانوا قادمين إلى القاهرة معنا فسمعتهم وقد جلسوا على مؤخرة السفينة وهم يغنون هذه الأغنية التي ان أنساها :</p>
<p>Forget all your troubles</p>
<p>Forget all your fears</p>
<p>Look up from the darkness</p>
<p>Look up from your tears</p>
<p>The world will soon brighten</p>
<p>The skies will be blue</p>
<p>Forget all your troubles</p>
<p>God&#8217;s love is with you</p>
<p>وخلاصة هذه الأغنية تقول &#8221; إنس همومك ومخاوفك ، وأنهض من ظلماتك وكفكف دموعك . فالعالم سيشرق حالا ، والجو سيصبح صفواً صحواً ، فانس همومك يا أخى لأن الله معك ، والله محبة &#8221; ! !</p>
<p>ويوم ننسى همومنا و نعتمد على الأذرع الأبدية تمتلىء شباك حياتنا رزقاً رصيداً .</p>
<p>*&#8221;يا معلم قد تعبناالليل كله ولم نأخذ شيئا &#8221; ولو علم سمعان في ذلك اليوم أن متاعبه المتوالية هذه &#8221; أخذ &#8221; بسببها كل شيء لما حزن وتألم . لقد حدثنا التاريخ أن &#8221; إديسون &#8221; كان يقوم بأبحاثه و تجاربه الخاصة بأحد اختراعاته فلاحظ معاونوه في المعمل أنه أجرى أكثر من مائة تجربه انتهت كلها بالفشل ، ومع ذلك يصر على الاستمرار فسألوه &#8221; ما فائدة هذه المحاولات&#8221; ؟ ، فقال &#8221; فائدتها أننا عرفنا أكثر من مائة طريقة لا تؤدى إلى الغرض المنشود &#8221; ! .</p>
<p>إن قول سممان منا لسان حال كل إنسان في الحياة ، فلن تأخذ يا أخي معك شيئاً سوى التعب والكد والدموع &#8220;عرياناً خرجت من بطن أمي عرياناً أعود إلى هناك &#8221; !!</p>
<p>* ليست هذه هي المرة الوحيدة التي فشل فيها سمعان بطرس في صيد السمك ، إن في حياته حادثاً آخر مشابها لهذا الحادث ، إقرأ الاصحاح الأخير من بشارة يوحنا تره يقول لزملائه التلاميذ &#8221; أنا أذهب لأتصيد ، قالوا له نذهب نحن أيضا معك فخرجوا ودخلوا للوقت وفي تلك الليلة لم يمسكوا شيئاً ، ولما كان الصبح وقف يسوع على الشاطي . ولكن التلاميذ لم يكونوا يعلمون أنه يسوع ، فقال لهم يسوع يا غلمان ألعل عندكم إداماً ؟ أجابوه لا فقال لهم ألقوا الشبكة إلى جانب السفينة الأيمن فتجدوا ، فألقوا ولم يعودوا يقدرون أن يجذبوها من كثرة السمك &#8221; !!!</p>
<p>* &#8221; أبعد الى العمق&#8221; : أثناء ثورة البوكسر في بلاد الصين أمرت مرسلة مبشرة بالمسيح بأن تركع لتقطع رأسها فركعت و نظرت إلى وجه معذبها ، وابتسمت فهرب الرجل من ضياء وجهها وقال لها &#8221; لا يمكن أن تموتى .. أنت خالدة &#8221; .</p>
<p>ما أجمل التعمق في الشركة مع الله ، إنها تعطى قوة ، وتضفى جمالا ، وتشع نورا وبها !!</p>
<p>* &#8221; يا معلم &#8230; يارب &#8221; : حين تلاقى سمعان بالمسيح لأول مرة في سفينته على الشاطيء ، رأى في شخصه المبارك رهبة وهيبة جعلته يخضع لقوله أن يبعد قليلا عن البر ، فقال له &#8221; يا معلم &#8230; &#8221; ولكن حين أبصر سمعان الشبكة تكاد أن تتخرق من كثرة السمك خر &#8221; له وقال &#8221; أخرج من سفينتى يا رب &#8221; ! ! وهكذا تدرج سمعان في إيمانه بالمسيح من معلم ، إلى رب ، حتى وصل إلى قوله للمسيح &#8220;أنت يسوع المسيح ابن الله الحي &#8220;!!!</p>
<p>* &#8221; من الآن تكون تصطادالناس &#8221; : يعتبر هذا &#8221; الآن &#8221; في حياة سمعان بطرس حداً فاصلاً حاسماً في تاريخ حياته ، فقد تغير برنامج سمعان منذ ذلك &#8221; الآن &#8221; تغييراً كلياً ، فاسمه لم نعد نعرفه &#8221; سمعان &#8221; بل &#8221; سماه أيضاً بطرس &#8221; (لو ٦ : ١٤) وعمله تغير من صيد سمك إلى صيد نفوس ، و بقدر ما تعلو درجة &#8221; الناس &#8221; وقيمتهم ومركزهم على درجة الأسماك والحيوانات ، بقدر ما ارتقى بطرس وارتفع مركزه ودرجته وقيمته الاجتماعية ، هذا من حيث الاسم والدرجة ، أما من حيث الوظيفة نفسها وآثارها ، فقد كان سمعان ينتشل السمك الحي من البحر الحي إلى عالم الموت ، فأصبح بطرس ينتشل النفوس الميتة من بحر الخطية الميت إلى عالم الحياة ! ! وهكذا أيضا كان سمعان يعمل في صيد السمك ليلا ، إذ صيد السمك لا يكون إلا &#8220;بالليل &#8221; ولذلك يقول &#8221; تعبنا الليل كله ، فإذا بالمسيح يغير نظام حياته فيجعله يصطاد الناس ولكن &#8220;بالنهار &#8221; على حد قول رب المجد الصياد الأعظم &#8221; ينبغى أن أعمل أعمال الذي أرسلني ما دام نهار ، يأتى ليل حين لا يستطيع أحد أن يعمل ، (يو ٤ : ٩)<a href="#_ftn12" name="_ftnref12">[12]</a> !</p>
<h3>من وحي الانجيل الثاني من بابة</h3>
<p>&#8220;قد تعبنا الليل كله ولم نأخذ شيئا &#8230;. تركوا كل شئ وتبعوه &#8221; (لو٥: ٥ - ١١)</p>
<p>+ مارأيك لو كنت طول حياتك تتمني شئ معين أو عطية معينة؟</p>
<p>+ ومارأيك لو كنت تعتقد أن إستجابة الله دليل البركة لحياتك؟</p>
<p>+ كانت طلبة بطرس لحياته وعمله الشبكة الملآنة والسمك الكثير</p>
<p>+ ماذا فعل عندما أعطاه الله سمك بلا عدد وشبكة تتقطع من كثرة مافيها ؟!</p>
<p>+ ترك كل شئ رغم شهوة السنين وصراخ الطلبة وإنتظار البركة</p>
<p>+ حضور المسيح له المجد كان أكثر بهاء من أي عطية أرضية</p>
<p>+ وأكثر جاذبية من مركب ملآن وأموال بلا حصر</p>
<p>+ ماأصعب أن نكتشف بعد تعب السنين فقدان معني شبكة ملآنة وصيد مادي وفير!!</p>
<p>+ وماأصعب أن نقيّم الرب بما يعطيه أكثر من مجد حضوره!!</p>
<p>+ لكن مازالت الفرصة موجودة للتركيز عليه أكثر من عطاياه وطلب حضوره الإلهي أعظم من إنتظار مايمنحه لنا</p>
<h3>المراجع:</h3>
<p><a href="#_ftnref1" name="_ftn1"></a>١- القديس أمبروسيوس - تفسير إنجيل لوقا الإصحاح الخامس - القمص تادرس يعقوب ملطي</p>
<p><a href="#_ftnref2" name="_ftn2"></a>٢- القديس كيرلس الكبير  - تفسير إنجيل لوقا الإصحاح الخامس - القمص تادرس يعقوب ملطي</p>
<p><a href="#_ftnref3" name="_ftn3"></a>٣- JR, A. J. &amp; Oden, T.C. ( 2003 ). Luke (The Ancient Christian Commentary on Scripture,      New testament part III ). Illinois ( USA ) : InterVarsity press. Page 87</p>
<p>ترجمة الأخت إيفيت منير - كنيسة مار مرقس ببني سويف</p>
<p><a href="#_ftnref4" name="_ftn4"></a>٤- تفسير إنجيل لوقا ( إصحاح ٥ ) - القمص تادرس يعقوب ملطي</p>
<p><a href="#_ftnref5" name="_ftn5"></a>٥- المرجع : عظات علي سفر إرميا للعلَّامة أوريجانوس عظة ١٦ ( صفحة ١٠٧ ) - ترجمة جاكلين سمير كوستا - كنيسة مار جرجس سبورتنج</p>
<p><a href="#_ftnref6" name="_ftn6"></a>٦- المرجع : من مقالات الأنبا أنطونيوس صفحة ٦ - القمص بيشوي كامل - كنيسة مار جرجس سبورتنج</p>
<p><a href="#_ftnref7" name="_ftn7"></a>٧- المرجع : كتاب شرح وتفسير آباء الكنيسة لأناجيل آحاد السنة التوتية - دكتور جوزيف موريس فلتس</p>
<p><a href="#_ftnref8" name="_ftn8"></a>٨- المرجع : كتاب المنجلية القبطية الأرثوذكسية صفحة 199 – قداسة البابا تواضروس الثاني</p>
<p><a href="#_ftnref9" name="_ftn9"></a>٩- المرجع : كتاب حياتك تلميذ للمسيح صفحة ٢٩ - نيافة أنبا إيساك الأسقف العام</p>
<p><a href="#_ftnref10" name="_ftn10"></a>١٠- المرجع : كتاب تأملات روحية في قراءات أناجيل آحاد السنة القبطية - المتنيح القمص لوقا سيداروس</p>
<p><a href="#_ftnref11" name="_ftn11"></a>١١- المرجع كتاب تاملات وعناصر روحية في احاد وايام السنة التوتية اعداد القمص تادرس البراموسي</p>
<p><a href="#_ftnref12" name="_ftn12"></a>١٢- المرجع كتاب المواعظ النموذحية الجزء الاول صفحة (ص٢٨٥- ٢٩٠)</p>

      {% endcreateArticleAccordions %}
    </section>
  {% endblock %}
