---
layout: 'layouts/reading.html'
title: 'الأحد الرابع من بابة'
tags: 'sundays'
permalink: /articles/sundays/2-4.html
---
  {% block content %}
    <section id="readings">
      <ul>
      {% if 'undefined' != 'undefined' %}
      
      {% else %}
      {% if '19.119:7-8' != 'null' %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">العشية</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeVespers '19.119:7-8' '40.14:22-36' %}
          </div>
        </div>
      </li>
      {% endif %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">باكر</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeMatins '19.35:18,28' '43.20:1-18' '' %}
          </div>
        </div>
      </li>
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <h3 class="flex items-center justify-between">
            <span class="kufi">القداس</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </h3>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeLitugy '54.6:3-21' '59.4:17*@+59.5:1-11' '44.15:1-36*@+44.16:1-5' '19.79:13' '42.7:11-17' %}
          </div>
        </div>
      </li>

      {% endif %}
        </ul>
    </section>
    <section id="article">
      <h3 class="mt-8 mb-4 heading-explain">شرح القراءات</h3>
      {% createArticleAccordions %}
        <p>لأن لك سلطان الحياة والموت؛ فتحدر إلى أبواب الجحيم وتصعد. &#8221; (سفر الحكمة١٣:١٦) &#8221;</p>
<p>قال لها يسوع: أنا هو القيامة والحياة . من آمن بي ولو مات فسيحيا &#8221; (يو ١١: ٢٥)</p>
<p>&#8221; الذي أصعدنا من العمق إلي النور ، الذي أعطانا الحياة من الموت ، الذي أنعم علينا بالعتق من العبودية &#8221; صلاة قسمة للآب</p>
<p>&#8221; إن أخطأت خطيّة مُميتة لا تستطيع أن تغسلها بدموعك، فاجعل أُمَّك تبكي عليك، التي هي الكنيسة، فإنَّها تشفع في كل ابن لها كما كانت الأرملة تبكي من أجل ابنها الوحيد. إنها تشترك في الألم بالروح، و&#8230; حينئذ تقوم أنت من الموت وتخرج من القبر. يتوقَّف حاملو الموت الذي فيك وتنطق بكلمات الحياة، عندئذ يخاف الجميع ويرجع الكل وهم يباركون الله الذي قدَّم لنا مثل هذا الدواء الذي يخلصنا من وطأة الموت. &#8221;</p>
<p><strong>القديس أمبروسيوس</strong></p>
<p>&#8221; كان ذلك يا أحبائي لتعلموا أن لجسم المسيح تأثير في خلاص الإنسان، لأن جسد الكلمة، المسيح العظيم، هو جسم الحياة المتسربل بالقوّة والسلطان، وكما أن الحديد إذا ما لمس النار بدت فيه مظاهر النار وقام بوظائف النار، كذلك جسد الكلمة المسيح تجلَّت فيه الحياة، وكان له السلطان على محو الموت والفساد<a href="#_ftn1" name="_ftnref1">[1]</a>.&#8221;</p>
<h3> شواهد القراءات</h3>
<p>(مز ١١٨: ٥-٤) (مت ١٤: ٢٢-٣٦)، (مز ٣٤: ٣٠-٢١) (يو٢٠: ١-١٨) (١تي ٦: ٣-٢١)،     (يع ٤ : ٥ – ١٧)</p>
<p>(أع ١٥: ٣٦ - ١٦: ١-٥)  (مز ١٤:٧٨)  (لو ٧: ١١)</p>
<h3>ملاحظات على قراءات اليوم</h3>
<p>+ قراءة البولس اليوم (١تي ٦: ٣ -٢١) تُشبه قراءة البولس (١تي ٦: ٣ - ١٦) ل<a href="https://katameros.bible/church-reading/%d8%a7%d9%84%d8%a3%d8%ad%d8%af-%d8%a7%d9%84%d8%ab%d8%a7%d9%84%d8%ab-%d9%85%d9%86-%d8%b4%d9%87%d8%b1-%d8%a3%d8%a8%d9%8a%d8%a8/">لأحد الثالث من شهر أبيب</a></p>
<p>قراءة البولس اليوم تكلَّمت عن أننا لم ندخل العالم بشئ ، وواضح أننا لا نقدر أن نخرج منه بشئ ( من خلال آية ٧ ) ، وأضافت أيضاً آيات ( ١٣ - ٢١ ) التي تُعلن إبن الله الذي يحيى الكل ( مثال إبن أرملة نايين موضوع قراءة الأحد ) ، لذلك يؤكِّد للأغنياء أهمِّية الإتكِّال علي الله الحي ، والحذر من عدم يقينية الغني ، ومعني الحياة الحقيقيّة في أن يكونوا أسخياء في العطاء كرماء في التوزيع بجانب تمتُّعهم بالحياة</p>
<p>أمَّا قراءة البولس ل<a href="https://katameros.bible/church-reading/%d8%a7%d9%84%d8%a3%d8%ad%d8%af-%d8%a7%d9%84%d8%ab%d8%a7%d9%84%d8%ab-%d9%85%d9%86-%d8%b4%d9%87%d8%b1-%d8%a3%d8%a8%d9%8a%d8%a8/">لأحد الثالث من أبيب</a> اكتفت بالآيات (من ٣ - ١٦) للتأكيد من خلال آيات ٦ - ٨ علي التقوي والقناعة كمصدر للبركة ، والتحذير من خلال آيات من ٩ - ١١ من شهوة الغني السريع ومحبَّة المال</p>
<p>+ قراءة الإبركسيس اليوم (أع ١٥: ٣٦ - ١٦: ١ - ٥) هي نفس قراءة الإبركسيس<a href="https://katameros.bible/church-reading/%d8%a7%d9%84%d9%8a%d9%88%d9%85-%d8%a7%d9%84%d8%ab%d9%84%d8%a7%d8%ab%d9%88%d9%86-%d9%85%d9%86-%d8%b4%d9%87%d8%b1-%d8%a8%d8%b1%d9%85%d9%88%d8%af%d8%a9/"> ليوم ٣٠ برمودة</a> ، وأيضاً نفس قراءة الإبركسيس ل<a href="https://katameros.bible/church-reading/%d8%a7%d9%84%d8%ab%d8%a7%d9%85%d9%86-%d9%88%d8%a7%d9%84%d8%b9%d8%b4%d8%b1%d9%88%d9%86-%d9%85%d9%86-%d9%87%d8%a7%d8%aa%d9%88%d8%b1/">يوم ٢٨ هاتور</a> ( شهادة القديس صرابامون )</p>
<p>مجيئها اليوم للإشارة إلي افتقاد الرعاة للرعية، والتي تعلن افتقاد الله لشعبه  &#8221; وافتقد الله شعبه- إنجيل القدَّاس &#8221;</p>
<p>بينما مجيئها <a href="https://katameros.bible/church-reading/%d8%a7%d9%84%d8%ab%d8%a7%d9%85%d9%86-%d9%88%d8%a7%d9%84%d8%b9%d8%b4%d8%b1%d9%88%d9%86-%d9%85%d9%86-%d9%87%d8%a7%d8%aa%d9%88%d8%b1/">يوم ٢٨ هاتور</a> لأجل القديس صرابامون أسقف نيقوسيا الذي كانت أيضاً مُضايقات اليهود في أورشليم سبباً في ذهابه بإرشاد إلهي إلي الإسكند رية وإقامته أسقفاً واستشهاده فيها <a href="https://katameros.bible/church-reading/%d8%a7%d9%84%d8%ab%d8%a7%d9%85%d9%86-%d9%88%d8%a7%d9%84%d8%b9%d8%b4%d8%b1%d9%88%d9%86-%d9%85%d9%86-%d9%87%d8%a7%d8%aa%d9%88%d8%b1/">(٢٨ هاتور)</a></p>
<p>ومجيئها <a href="https://katameros.bible/church-reading/%d8%a7%d9%84%d9%8a%d9%88%d9%85-%d8%a7%d9%84%d8%ab%d9%84%d8%a7%d8%ab%d9%88%d9%86-%d9%85%d9%86-%d8%b4%d9%87%d8%b1-%d8%a8%d8%b1%d9%85%d9%88%d8%af%d8%a9/">يوم ٣٠ برمودة</a> هو للإشارة إلي احتواء الله لضعفات الرعاة في خلافاتهم، وسماح الله لذلك لأجل عظم تدبيره الإلهي ، ولأجل مجيء مار مرقس إلي قبرص ومن بعدها إلي مصر <a href="https://katameros.bible/church-reading/%d8%a7%d9%84%d9%8a%d9%88%d9%85-%d8%a7%d9%84%d8%ab%d9%84%d8%a7%d8%ab%d9%88%d9%86-%d9%85%d9%86-%d8%b4%d9%87%d8%b1-%d8%a8%d8%b1%d9%85%d9%88%d8%af%d8%a9/">( ٣٠ برمودة ) ،</a></p>
<h3>  شرح القراءات</h3>
<p>تتكلم قراءات اليوم على الابن رئيس الحياة وزمن الافتقاد</p>
<p>لذا تعلن المزامير تسبيحه وشكره والإعتراف لعدله وأحكامه ويبدأ هذا الأعتراف من القلب المستقيم كما في مزمور   عشية (أعترف لك يارب باستقامة قلبي)</p>
<p>بينما يتسع هذا التسبيح ليشمل ليس فقط النفس البشرية، بل الكنيسة كلها كما في مزمور باكر (أعترف لك يارب في الجماعة الكثيرة وفي شعب عظيم أسبحك)</p>
<p>ويمتد في كل زمن ووقت كما في مزمور القداس (شاكرين لك إلى الدهر من جيل إلى جيل)</p>
<p>وفِي إنجيل باكر رئيس ومصدر الحياة ربنا يسوع له كل المجد يعطينا أهم عطايا واحتياجات البشر في رحلة الحياة في بحر هذا العالم ورياحه المضادة وأمواجه المضطربة - السلام والنجاة والشفاء والخلاص -      ويفتقدنا في يأسنا      في الهزيع الرابع (اضطربوا قائلين: إنه خيال ومن الخوف صرخوا فللوقت كلمهم قائلا تشجعوا أنا هو لا تخافوا &#8230;.. وإذ إبتدأ يغرق صرخ قائلا: يارب نجني فللوقت مد يسوع يده وأمسكه &#8230;&#8230;..وقدموا إليه جميع السقماء وطلبوا إليه أن يلمسوا طرف ثوبه فقط فجميع الذين لمسوه خلصوا)</p>
<p>وتُعْلِن القراءات أهميّة التمسّك بالحياة الأبديّة               (البولس )</p>
<p>وخطورة الظلم الذي يؤدي إلي الدينونة                      ( الكاثوليكون )</p>
<p>وافتقاد الله لكنيسته برغم ضعفات الرعاة                   ( الإبركسيس )</p>
<p>يعلن البولس أهمية التمسك بالحياة الأبدية وخطورة التعلق بالأرضيات (لأننا لم ندخل العالم بشئ ولانقدر أن نخرج منه بشئ ) وجهاد الإنسان ليمسك بالحياة الأبدية ( وأما أنت يا إنسان الله فاهرب من هذا واسع في طلب البر والتقوي والإيمان والمحبة والصبر وقبول الآلام بوداعة جاهد جهاد الإيمان الحسن وتمسك بالحياة الأبدية التي إليها دعيت ) كما يدعو أغنياء المال إلي غني العطاء وإدراك قيمة الحياة التي يحيونها ( أوص أغنياء هذا الدهر الحاضر أن لا يستكبروا ولايتكلوا علي هذا الغني الغير الثابت &#8230;. وأن يكونوا أسخياء في العطاء مدخرين لأنفسهم أساسا حسنا للمستقبل لكي يتمسكوا بالحياة الحقيقية)</p>
<p>بينما يحذر في الكاثوليكون من ظلم الأغنياء للفقراء ويطمئن المظلومين بأن الدينونة قريبة من الأشرار - علي المستوي الفردي - وهو واقف علي الأبواب ليحترس كل إنسان من أي ظلم (هلم الآن أيها الأغنياء ابكوا مولولين علي شقوتكم القادمة &#8230;.هوذا أجرة الفعلة الذين حصدوا حقولكم المظلومة منكم تصرخ وأصوات الحصادين قد دخلت إلي مسامع رب الجنود &#8230;..فإصبروا يا إخوتي إلي ظهور الرب &#8230;.هوذا الديان واقف علي الأبواب )</p>
<p>أما الإبركسيس فيوضح أن الكنيسة تعلن إفتقاد الله للبشر في كل مكان ونمو الكنيسة دليل افتقاد الله لها برغم ضعفات الرعاة (من بعد أيام قال بولس لبرنابا: لنرجع ونفتقد الإخوة في كل مدينة بشرنا فيها بكلمة الرب وكيف حالهم &#8230;&#8230;. فحصل بينهما مشاجرة حتى فارق أحدهما الآخر &#8230;&#8230; فكانت الكنائس تتشدد في الإيمان وتزداد في العدد كل يوم)</p>
<p>لذلك يعلن إنجيل القداس أعظم إفتقاد لله للبشرية المائتة من الخطية والتي ذهب إليها المخلص بنفسه ليقيمها من الموت ويعطيها الحياة (إذا واحد محمول قد مات وهو إبن وحيد لأمه &#8230;.. وقال أيها الشاب لك أقول قم اجلس &#8230;.. فاعتري الجميع خوف ومجدوا الله قائلين : قد قام فينا نبي عظيم وافتقد الله شعبه )</p>
<p>والجميل أنه رغم تأثر الافتقاد بضعفات الرعاة ( الإبركسيس ) يذهب الله شخصيا للموتى من أولاده ليفتقدهم ( إنجيل القدَّاس )</p>
<p>ويشرح القديس كيرلس الكبير أن الرب يسوع قصد أن يلمس النعش وكان يكفي لإقامة الشاب بكلمة منه كما فعل مع لعازر لكنه أراد أن يُظْهِر قوة الحياة في جسده المقدَّس كما كان يفعل في معجزات أخري</p>
<p>شواهد كتابية لقوّة ومجد الحياة في جسد الكلمة</p>
<p>(مت ٣٦:١٤)، (مت ٧:١٧)، (مر ٥٦:٦)، (مر٣٣:٧)، (لو ٤٠:٤) (لو ١٣:٥) (لو ٤٦:٨) (لو ٥٤:٨)، (يو ٦: ٥٤-٥٦)</p>
<h3>ملخّص القراءات</h3>
<p>أي أن الحياة الحقيقية هي في طلب البر والتقوي وسخاء العطاء     ( البولس )</p>
<p>وليس في ظلم الآخرين                                                   ( الكاثوليكون )</p>
<p>ويمنحها الله لنا في موتنا                                               ( إنجيل القداس )</p>
<p>أو في ضيقاتنا                                                              ( إنجيل باكر )</p>
<p>وتعلنها الكنيسة في نموها وإفتقادها                                   ( الإبركسيس )</p>
<p>لذلك تتحول إلي تسبيح من النفس المستقيمة                      ( مزمور عشية )</p>
<p>في الجماعة العظيمة الكنيسة                                           ( مزمور باكر )</p>
<p>في كل الأزمان والأوقات                                                  ( مزمور القداس )</p>
<h3>إنجيل القدَّاس في فكر آباء الكنيسة</h3>
<p>&#8220;معلّمنا لوقا يربط القيامة مِن بين الأموات بآية الشفاء التي سبقتها ليُظْهِر أن إقامة الموتى لَهي المعجزة الدالّة على أن يسوع هو المُتِمّ لرجاء نبوّات العهد القديم، وأن بمجيئه لاح الفجر الماسيّاني.&#8221; (القدّيس كيرلُّس السكندري).</p>
<p>&#8220;الذي مات هو الابن الوحيد للمرأة، وهي أرملة؛ ما يستدعي شعور المستمع بالتعاطف مع الحَدَث. يسوع ابنُ العذراء يلتقي ابن الأرملة.&#8221; (مار إفرام السرياني).</p>
<p>&#8220;الإنسان المائت يتقابل مع يسوع، الحياةُ والقيامة.&#8221; (القدّيس كيرلُّس السكندري).</p>
<p>&#8220;نحيبُ المرأة جعل يسوع يتحنَّن؛ هَكذا أيضًا تفعل أُمّ الكنيسة الآن إذ تشفع لنا مِن أجْل أوجاعنا.&#8221; (القدّيس أمبروسيوس).</p>
<p>&#8220;فيه قوةُ القداسة وقوة الحياة. إن جسد يسوع المُقَدَّس، الكلمة المتجسّد هو معطي الخلاص لهذا الإنسان المائت ولكل البشرية. ومنذ ذلك الوقت فإن هَذه المعجزة تسببت في ازدياد شهرة يسوع في اليهودية وعبْر تخومها حتى أنحاء الكورة المحيطة.&#8221; (القدّيس كيرلُّس السكندري)<a href="#_ftn2" name="_ftnref2">[2]</a>.</p>
<h3>الكنيسة في قراءات اليوم</h3>
<p>لاهوت ابن الله                                               إنجيل عشيّة</p>
<p>جهاد الإيمان الحسن + الأعمال الصالحة                البولس والكاثوليكون</p>
<p>ظهور ومجئ الرب + الدينونة                            البولس والكاثوليكون</p>
<p>الكنائس والكهنوت                                           الإبركسيس</p>
<h3>أفكار مقترحة للعظات</h3>
<p><strong>(١) العظة الأولي</strong></p>
<p>إفتقاد الله لنا</p>
<p>١-في الهزيع الرابع                                                     إنجيل عشيّة</p>
<p>٢- في عطاياه لنا سواء بزيادة أو نقصان                              البولس</p>
<p>٣- إفتقاده للمظلومين                                                    الكاثوليكون</p>
<p>٤- يُعْلِن الله إفتقاده للبشر خلال خدّامه الأمناء                         الإبركسيس</p>
<p>٥- الله يفتقد أوجاع وآلام مساكين شعبه                               إنجيل القدَّاس</p>
<p><strong>(٢) العظة الثانية</strong></p>
<p>كيف يرانا الرب في ظهوره</p>
<p>١- خائفين وقليلي الإيمان أم معترفين بلاهوته وسلطانه           إنجيل عشيّة</p>
<p>٢- أغنياء أسخياء في العطاء أم أغنياء ظالمين جشعين           البولس والكاثوليكون</p>
<p>٣- مستقيمي القلوب وشاهدين لإسمه                                المزامير</p>
<p>٤- حافظي الوصيّة بلا دنس ومحتملي المشقات                    البولس والكاثوليكون</p>
<p>٥- خدّاما مجتهدين في إفتقاد وتثبيت الآخرين                       الإبركسيس</p>
<p><strong>(٣) العظة الثالثة</strong></p>
<p>هل أنت غني؟</p>
<p>١- في تسبيحك وشهادتك للمسيح له المجد                                  المزامير</p>
<p>٢- في سلامك                                                                 إنجيل عشيّة</p>
<p>٣- في إيمانك وفِي عطاؤك                                                  البولس</p>
<p>٤- في رحمتك للآخرين                                                      الكاثوليكون</p>
<p>٥- في أمانة خدمتك                                                          الإبركسيس</p>
<p>امبروسيوس قضاة ٥</p>
<h3>عظات ابائية</h3>
<h4>إقامة إبن أرملة نايين في فكر القديس كيرلس الإسكندري</h4>
<p><strong>(لو ٧: ١١ - ١٧)</strong></p>
<p>يقول لوقا الإنجيلي ان المسيح قابل الشاب الميت الابن الوحيد للأرملة. أنها كارثة مثيرة للشفقة, و تستطيع ان تثير الرثاء و تجعل دموع الانسان تفيض. فكانت المرأة ومعها كثيرون، تتبع الميت مذهولة بمحنتها و خائرة.</p>
<p>كان الانسان الميت في طريقه للدفن و كان أصدقاء كثيرون يشيعونه الي قبره ، و لكن هناك يقابله الحياة و القيامة وأعني المسيح نفسه ، لانه هو محطم الموت و الفساد هو الذي به نحيا و نتحرك و نوجد &#8221;</p>
<p>(أع ١٧: ٢٨)</p>
<p>هو الذي أعاد طبيعة الانسان الي ما كانت عليه أصلآ. فهو الذي حرر جسدنا المشحون بالموت من رباطات الموت. لقد تحنن علي المرأة و لكي يوقف دموعها أمر قائلا &#8220;لا تبكي ، و في الحال أبطل سبب بكائها. كيف و بأية وسيلة؟</p>
<p>انه لمس النعش وبواسطة نطق كلمته الإلهية جعل الذي يرقد ميتا في النعش يعود الي الحياة، لآنه قال : أيها الشاب لك أقول قم ،وفي الحال حدث ما أمر به. فان تحقيق ما حدث كان ينتظر.</p>
<p>ويقول الإنجيل &#8221; فجلس الميت وبدأ يتكلم فدفعه الي أمه</p>
<p>آرجو أن تلاحظوا أيضا دقة التعبير لأن الإنجيل الإلهي لا يقول فقط إن الإنسان الميت جلس لئلا يهاجم أحد المعجزة بمناقشات زائفة بقوله &#8221; أي و لكن المسيح يجدد لأنه هو الحياة . فإن ذلك الذي خلق في البداية يستطيع أيضا أن يجدد إلي عدم الفساد و الحياة ، لانه يمكن أن نؤكد أن هذا هو عمل نفس الطاقة و القوة أن يفعل الأمرين الواحد و الأخر (أي الخلق و التجديد ) ، لذلك فكما يقول إشعياء النبي ويزيل الموت على الدوام ويمسح السيد الرب الدموع عن جميع الوجوه عار شعبه عن كل الأرض&#8221; (إش ٢٥: ٨) .</p>
<p>أعجوبة هنا إن كان بواسطة حيلة بارعة أو آخري يجعل الجسد يجلس لأنه لم يتبرهن بعد أنه حي أو تحرر من ربطات الموت.</p>
<p>لهذا السبب فالإنجيل يسجل بمهارة براهانين واحدا بعد الاخر كافيين للإقناع أن الشاب قام بالحقيقة وعاد إلي الحياة فيقول: فبدأ يتكلم والجسد الغير حي لا يستطيع الكلام ،&#8221; وأيضا دفعه الي أمه &#8221; وبالتأكيد فإن المرأة لم تكن لتأخذ ابنها إلي بيتها لو كان ميتآ.</p>
<p>لذلك فأولئك الأشخاص الذين أعيدوا الي الحياة بقوة المسيح نتخذهم كعربون للرجاء المعد لنا بقيامة الأموات، وهؤلاء كانوا هم : هذا الشاب ابن الأرملة ، ولعازر الذي من بيت عنيا، و ابنة رئيس المجمع</p>
<p>و هذه الحقيقة سبق أن بشر بها جماعة الأنبياء القديسين ، لأن إشعياء المبارك يقول &#8221;</p>
<p>تحيا امواتك تقوم الجثث. استيقظوا ترنموا يا سكان التراب. لان طلك طل أعشاب والأرض تسقط الاخيلة (اش ١٩: ٢٦) لأنه يقصد بالطل فاعلية المسيح المعطية للحياة، التي هي بواسطة الروح القدس.</p>
<p>والمرنم يشهد متكلما بخصوصهم بكلمات موجهة الي الله مخلصنا جميعا قائلا تحجب وجهك فيرتاعون. تسحب أرواحهم فيموتون وإلى ترابهم يعودون ترسل روحك فيخلقون وتجدد وجه الأرض</p>
<p>(مز ١٠٤: ٢٩ -٣٠) لأنه بمعصية ادم صارت وجوهنا محجوبة عن الله وصرنا نعود إلي التراب. لأن قصاص الله علي الطبيعة البشرية هو &#8220;لأنك تراب والي التراب تعود&#8221; (تك ٣: ١٩) ولكن في نهاية هذا العالم فأن وجه الأرض سيتجدد لآن الله الآب بالابن في الروح سوف يعطي حياة لكل أولئك الراقدين في داخلها.</p>
<p>إن الموت هو الذي آتي بالناس الي الشيخوخة والاضمحلال، لذلك فالموت كما لو كان قد صيرنا شيوخا وجعلنا نضمحل، لأن وأما ما عتق وشاخ فهو قريب من الاضمحلال. (عب٨: ١٣)</p>
<p>ويقصد بعار الشعب الخطية التي تلحق الخزي بالناس وتفسدهم والتي ستباد هي والهلاك، وسيتلاشى الحزن والموت و تكف الدموع التي تزرف بسببه.</p>
<p>لذلك لا تكونوا غير مصدقين لإقامة الموتى، لأنه منذ زمن بعيد تمم المسيح هذا في وسطنا بجلال إلهي ، ولا تدعو آحاد يقول أن من أقام اثنين مثلآ أو ثلاثة لا يكون كافيا أيضا لحياتنا جميعا.</p>
<p>مثل هذه الكلمات التي تفوح منها رائحة الجهل المطلق هي كلمات سخيفة مضحكة ، بل هو صواب بالحرى أن نفهم أن المسيح هو الحياة ومعطي الحياة بالطبيعة، و كيف يمكن ان تكون الحياة بالطبيعة غير كافية لجعل الجميع أحياء. أنه يكون نفس الشيء أن يقال بغباوة شديدة، أن النور أيضا يكفي فقط لإضاءة أشياء صغيرة و ليس لإضاءة الكون كله.</p>
<p>لذلك فهو أقام ذلك الذي كان ذاهبا إلي قبره، و طريقة إقامته كانت واضحة لأن لوقا الإنجيلي يقول ثم تقدم ولمس النعش، فوقف الحاملون. فقال: أيها الشاب، لك أقول: قم (لو ٧: ١٤)</p>
<p>و مع ذلك فكيف لم تكن كلمة منه كافية لإقامة الشاب الذي كان راقدا في النعش، لأن أي شيء يكون صعبا أو يعسر تحقيقه أمام كلمته ؟ فهل يوجد أعظم من كلمة الله؟</p>
<p>يا أحبائي الله فعل هذا لكي تعرفوا ان جسد المسيح المقدس فيه فاعلية وقوة لخلاص الإنسان، لأن جسد الكلمة القدير هو جسد الحياة، وقد اكتسي بقدرته. بل لاحظوا كيف أن الحديد حينما يدخل في النار ينتج تأثيرات ويحقق وظائفها. هكذا أيضا لأن الجسد صار جسد الكلمة الذي يعطي الحياة للكل، لذلك صار له أيضا قوة إعطاء الحياة، وهو يلاشي تأثير الموت والاضمحلال.</p>
<p>ليت ربنا يسوع المسيح يلمسنا أيضا وهو إذ يخلصنا من الأعمال الشريرة ومن الشهوات الجسدية فإنه يوحدنا مع جماعات القديسين، لأنه هو معطي كل صلاح ، الذي به وله مع الله الآب التسبيح والسلطان مع الروح القدس إلي دهر الدهور آمين<a href="#_ftn3" name="_ftnref3">[3]</a>.</p>
<h4>معني معجزة إقامة إبن أرملة نايين عند القديس أغسطينوس ( ٣٥٤ - ٤٣٠ )</h4>
<p>إن جميع المؤمنين الذين سمعوا عن كثرة المعجزات التي صنعها ربنا ومخلِّصنا يسوع المسيح ، شرعوا في التفكير متأثرين بها بطرق مختلفة . فالبعض ذُهل بشفائه الرائع للأمراض ، لكنهم لم يدركوا عظم تلك المعجزات وكيف يسمو عملها إلي ما وراء العالم المحسوس إلي العالم الآخر غير المحسوس الأبدي . والبعض الآخر تعجبوا إذ أن المعجزات التي سمعوا أن الربَّ عملها في أجساد الناس قد تَجلّت الآن في أرواحهم بشكل أعظم . فالله لم يُشِف أجسادهم فقط ، بل وأرواحهم أيضاً . فلا تشك أبداً في أن هناك أموات يعودون للحياة ثانية حتي الآن ، وبالرغم من أن لنا جميعاً القدرّة علي رؤية إقامة الموتي بنفس الطريقة التي قام بها ابن أرملة نايين ، غير أنه لا يُدرك إقامة الموتي روحياً ، إلاّ أولئك الذين اختبرت أنفسهم القيامة الروحية مع المسيح علي الصليب .</p>
<p>فأعظم شيء هو إقامة ما سيبقي قائماً إلي الأبد ، أي الروح البشرية ، من إقامة ما سيذوق الموت ثانية ، أعني الجسد . فهو عمل معجزي عظيم أن يقوم شخص ليحيا إلي الأبد ، عن أن يقوم ليموت ثانية . لقد فرحت الأم الأرملة ، عند إقامة ابنها ، كما تفرح الكنيسة الأم عندما تقوم أرواح أولادها كل يوم من الموت الروحي . فالشاب كان ميتاً في الجسد ، أما هؤلاء فهم أموات في الروح . كان موت الشاب موتاً منظوراً وجلب بكاء الجميع ، أما أولئك الذين ماتوا في الروح فلم يُدرِك أحد أو يفكر أنهم قد ماتوا ، ولهذا فقد كان حزن الكنيسة الأم وأبيهم السَّماوي أكبر وأعظم بسبب ما حدث بهم . فالربُّ يسوع بحث عنهم ، فهو الذي يعرف أنهم ماتوا وهو الوحيد القادر علي أن يهبهم الحياة ويردّهم إليه . فلو لم يأت المسيح ليُقيم الميت لِمَا قال الإنجيلي أن يسوع ناداه قائلاً:&#8221; أيها الشاب ، لَك أقول : قُمّّ&#8221; . بالتأكيد ، هذا يجعلك تظن أنه شخص نائم ، ولكن عندماقال :&#8221; فجلس الميت &#8221; تُدرِك حقاً أنه بالفعل كان إنساناً مائتاً ، لكن هذا الموت الجسدي لا يعتبره المسيح ، القادر علي إقامة الموتي ، أنه موت بل هو فقط نوم . فأنت تري الإنسان الميت فلا تصدق أنه يمكن أن يقوم ثانية ، أما هذا الشاب الذي أَمَرَه المسيح ليقوم ، فقد كان بالنسبة له نائماً فقط وليس ميتاً . فأمَرَه أن يقوم من هذا الرقاد ، لهذا نجد هذا الميت يقوم في الحال مع نداء المسيح له . فلا يقدر أحد أن يوقظ أخر من نومه بسهولة ، كما يقيم الربَّ الموتي من داخل القبور بكلمة واحدة .</p>
<p>إن ربنا يسوع المسيح يريد أن يعرفَّنا أن ما فعله لأجساد الناس قد فعله لأرواحهم أيضاً . فهو لم يصنع المعجزات لمجرَّد المعجزات ذاتها ، بل لكي تُثير أفعال تسآول الجموع المشاهدون ليدركوا حقيقته ويؤمن به هؤلاء القادرون علي الفهم . فالشخص الذي يري الحروف في كتاب مكتوب بأناقة بدون أن يكون قادراً علي قرأتها ، سوف يمدح مهارة الناسخ لإعجابه بالشكل الجميل المنسق للكلمات ، بينما هو لا يفهم معني هذه الحروف والكلمات . فما يراه بعينه من صورة منسقة جميلة يدفعه للثناءوالمديح ،</p>
<p>بينما عقله لم يغتني بالمعرفة . أما مَن يكون قادراً ليس فقط علي رؤية ما يراه الأخرون من صورة جيدة ومهارة نسخ جميلة بل أيضاً علي قرأته ، فهذا يكون قادراً علي فهم المغزى المُخبأ داخل تلك الحروف والهدف منها ، فتلك هي المهارة التي يجب أن تكَتسبها ، وليس رؤية ما هو من الخارج فقط ، بل وفهم ما هو في الداخل . وكذا أيضاً هؤلاء الذين رأوا معجزات المسيح بدون فهم غرض المسيح من تلك المعجزات أو معناها، وإن كان من الواجب عليهم أن يفهموها ويدركوها ، إلاّ أنهم ببساطة أعجبوا بهذه الأعمال من حيث إن هناك موتي قاموا ومرضي قد شُفوا . بينما آخرون ذهبوا إلي أبعد من هذا في الفهم السطحي، إذ أنهم أُعجبوا بها وفهموا معانيها والغرض من أتمامها ، وعرفوا مَن هو هذا الذي يفعل تلك الأعمال ، وبأي سلطان ، ومن ثّم وتبعوه وصاروا تلاميذاً له . ومثل هؤلاء التلاميذ، يجب أن نكون نحن أيضاً تلاميذاً له حتي نفهم وندرك ونتبع سرَّ أعماله ومعجزاته فنتبعه بإيمان<a href="#_ftn4" name="_ftnref4">[4]</a></p>
<h4>أيتها الأرامل ليس لكن حجة بضعف جنسكن للقديس أمبروسيوس(في تعليقه علي قضاة ٤ )</h4>
<p>أظهرت (دبورة) أن الأرملة ليست غير محتاجة إلى معونة الرجل ما دامت غير معوقة بجنسها واضعة على عاتقها أن تحقق التزامات الرجل، فقد عملت أكثر مما تعهدت. فعندما كان القضاة يحكمون اليهود، إذ لم يستطيعوا أن يجدوا من يحكمونهم ببر رجولي أو يدافعون عنهم بقوة رجولية والتهبت الحروب من كل جانب اختاروا دبورة لتحكم عليهم. هكذا حكمت أرملة الآلاف من الرجال في وقت السلام ودافعت عنهم ضد العدو (وقت الحرب). لقد وُجد في إسرائيل قضاة كثيرون من قبلها لك لم توجد قبلها قاضية&#8230; وإنني أعتقد أن عملها كقاضية قد سُجل، وأفعالها قد وُصفت حتى لا تتوقف النساء عن العمل الشجاع بسبب ضعف جنسهن. أرملة حكمت الشعب، أرملة قادت الجيوش، أرملة اختارت القواد، أرملة صممت على الحرب ونالت نصرات&#8230; ليس الجنس هو الذي يصنع القوة، بل الشجاعة</p>
<p>أيتها النساء ليس لكن عذر بسبب طبيعتكن؛ أيتها الأرامل ليس لكن حجة بضعف جنسكن. لا تنسبن تغيركن إلى فقدانكن عون الزوج، فلكل إنسان حماية كافية إن كانت نفسه لا تعوزها الشجاعة</p>
<p>هذه المرأة، قبل كل شيء هيأت كل التدابير الخاصة بالحرب، مظهرة أن احتياجات العائلة لا تعتمد على المصادر العامة وإنما الالتزامات العامة تقوم خلال تدبير الحياة العائلية، فقدمت ابنها قائدًا للجيش لنعرف أن أرملة استطاعت أن تدرب مصارعًا، علمته كأم، وأمرته كقاضية؛ بشجاعتها دربته وكنبية قدمته للنصرة، كما يقول: يا لعظمة عزيمة أرملة لم تحتجز ابنها عن المخاطر خلال عاطفة الأمومة بل بالحري في غيرة الأم حثت ابنها أن يذهب ليغلب، وكانت نقطة قرار النصرة في يد امرأة<a href="#_ftn5" name="_ftnref5">[5]</a></p>
<h4>كلام القديس غريغوريوس النزينزي عن أخته الكبري جورجونيا وكيف إستعدت للموت بلا خوف</h4>
<p>&#8221; موطن جورجونيا كان أورشليم العليا (عب١٢: ٢٢- ٢٣) &#8230; التي يقطنها المسيح، ويشاركه المجمع وكنيسة الأبكار المكتوبين في السماء&#8230;</p>
<p>كل ما استطاعت أن تنتزعه من رئيس هذا العالم أودعته في أماكن أمينة. لم تترك شيئًا وراءها سوي جسدها. لقد فارقت كل شيءٍ من أجل الرجاء العلوي. الثروة الوحيدة التي تركتها لأبنائها هي الاقتداء بمثالها، وأن يتمتعوا بما استحقته.</p>
<p>هنا أتكلم عن موتها وما تميزت به وقتئذٍ لأوفيها حقّها&#8230; اشتاقت كثيرًا لوقت انحلالها، لأنها علمت بمن دعاها وفضّلت أن تكون مع المسيح أكثر من أي شيء آخر على الأرض (في١: ٢٣)</p>
<p>تاقت هذه القديسة إلى التحرر من قيود الجسد والهروب من وحل هذا العالم الذي نعيش فيه. والأمر الفائق بالأكثر أنها تذوقت جمال حبيبها المسيح إذ كانت دائمة التأمل فيه.</p>
<p>كانت تعلم مسبقًا ساعة رحيلها عن هذا العالم، الأمر الذي ضاعف من فرحتها. ويبدو أن الله أعلمها به حتى تستعد ولا تضطرب حينئذٍ.</p>
<p>قضت كل حياتها لتغتسل من الخطية وتسعى لإدراك الكمال. ونالت موهبة التجديد المستمر بالروح القدس وصارت ثابتة فيه بحسب استحقاق حياتها الأولى..</p>
<p>لم تغفل عن التضرع من أجل زوجها أيضًا حتى يُدرك الكمال، وقد استجاب الله لطلبتها، إذ أرادت أن يكون كل ما يمت لها بصلة في حالة الكمال الذي يريده الله منا، فلا يكون شيء ناقصًا أمام المسيح من جهتها. وإذ جاءت النهاية أدلت بوصيتها لزوجها وأولادها وأصدقائها كما هو المتوقع من مثل هذه القديسة المحبة للجميع.</p>
<p>كان يومها الأخير على الأرض يوم احتفال مهيبًا، ولا نقول أنها ماتت شبعانة من أيام بني البشر، فلم تكن هذه رغبتها، إذ عرفت أنها أيام شريرة تلك التي بحسب الجسد وما هي سوى تراب وسراب. وبالأحرى كانت شبعانة من أيام الله.. وهكذا تحررت، بل الأفضل أن نقول أنها أُخذت إلى إلهها أو هربت أو غيرت مسكنها أو أسلمت وديعتها عاجلًا.</p>
<p>في وقت نياحتها خيّم صمت مهيب، وكأن مماتها كان بمثابة مراسم دينية.</p>
<p>رقد جسدها وكأنه في حالة شلل بعد أن فارقته الروح، فصار بلا حراك.</p>
<p>لكن أباها الروحي الذي كان يلاحظها جيدًا أثناء هذا المنظر الرائع شعر بها تتمتم واسترق السمع، وإذ به يسمعها تتلو كلمات المرتل: &#8220;بسلامة اضطجع أيضًا وأنام&#8221; (مز ٤: ٨). مبارك هو من يرقد وفي فمه هذه الكلمات.</p>
<p>هكذا ترنمتِ أيتها الجميلة بين النساء، وصارت الترنيمة حقيقة. ودخلتِ إلى السلام العذب بعد الألم، ورقدتِ كما يحق للإنسانة المحبوبة لدى الله التي عاشت وتنيحت وسط كلمات الصلاح.</p>
<p>كم ثمين هو نصيبكِ! إنه يفوق ما تراه العين في وسط حشدٍ من الملائكة والقوات السمائية، إنه مملوء بهاءً ونقاوة وكمالًا!</p>
<p>يفوق كل هذا رؤيتها للثالوث القدوس، فلم يعد ذلك بعيدًا عن الإدراك والحس اللذين كانا قبلًا محدودين تحت أسر الجسد.</p>
<p>أرجو أن تقبل روحك هذا المديح مني كما فعلت مع أخي قيصريوس. فقد حرصت على النطق بالمديح لاخوتي<a href="#_ftn6" name="_ftnref6">[6]</a>. &#8221;</p>
<h3>عظات اباء وخدام معاصرين</h3>
<h4>عظة لقداسة البابا تواضروس الثاني</h4>
<p><strong>الأمل &#8230; وسط المأساة :</strong></p>
<p>+ موت الابن الوحيد يضرب به المثل في الحزن الشديد (إر ٦ : ٢٦) – (زك ١٢ : ١٠)</p>
<p>+ نايين = جميلة ، مفرحة ، عذبة ، مدينة في الجليل شمال فلسطين</p>
<p>+ في هذه المعجزة نجد أن السيد المسيح تعامل مع كل أشخاصها:</p>
<p>١- مع الأرملة : قدم لها المسيح تعزية : لا تبكى . لقد فقدت زوجها وصارت بلا سند أو عائل = النفس البشرية التي حرمت من نعمة الله بسبب المعصية .</p>
<p>٢- مع حاملى النعش : قدم المسيح لمسة فيها القوة والسلطان الإلهى</p>
<p>٣- مع الأبن الميت : قدم له المسيح كلمة : &#8221; قم &#8221;  لم ترجع فارغة &#8230; بل تحققت في الحال . = إنه يمثل العقل والتفكير عند أمه ، وقد فقدته بالخطية .</p>
<p>٤- مع الجموع : رأوا المسيح الذى له السلطان إذ مجدوا المسيح معلنين عن عظمة المسيح وقوته</p>
<p><strong>أعظم رحمة:  </strong></p>
<p>مكان المعجزة : قرية نايين الحقيرة والقريبة من قرية شونم ، حيث أقام – في القديم – أليشع النبى ابن المرأة الشونمية . (٢ مل ٤ : ٣٢)</p>
<p>+ أرملة متألمة: مصدومة مرتين : وفاة زوجها .. وفاة ابنها الوحيد</p>
<p>+ ابن ميت     : رمز لموت الخطية.</p>
<p>+ المسيح متحنن : بلمسة .. غيرت الموقف كله . بكلمة .. دون طلب من المرأة المحتاجة . بقوة .. لأنه صاحب سلطان ذاتى</p>
<p>+ الجمع مندهش : قالوا عليه : نبى عظيم.</p>
<p>+ رسالة المسيح اليوم لنا هي &#8221; قم &#8221; من : النوم المظلم ، الماضى المؤلم ، الفكر اليائس ، الخطية المحبوبة ، العثرة المميتة &#8230; الخ<a href="#_ftn7" name="_ftnref7">[7]</a></p>
<h4>ارفع الموت للمتنيح الانبا كيرلس مطران ميلانو</h4>
<p><strong>ارفع یا رب عنا وعن كل العالم الموت</strong></p>
<p>بقيامة السيد المسيح ، اقتلعت شوكة الموت .. ومات الشبح المخيف للموت .. وبالمسيح يسوع عرفنا ما وراء الموت من حياة أبدية .. لذا نؤمن بحياة الدهر الآتي ، وننتظره برجاء ثابت ..</p>
<p>لقد صار الموت انتقالاً ، وهذا ما نقوله ونردده في أوشيه الراقدين &#8221; ليس موت لعبيدك بل هو انتقال &#8221; . الموت يأتي إلى الكل .. يمد يده ويخطف الجميع إليه .. ولا يستطيع أحد أن يقدم اعتذاراً للموت .. ولا يفلت أحد من قبضة يديه .. فهو القطار الذي حمل ويحمل الكل إلى محطة الانتظار .. حمل آدم وبنيه ، ويحمل كل مولود من البشرية إلى آخر الدهور .</p>
<p>في محطة الانتظار نرى منتظري الرب .. والخائفين من الرب .. نرى أطفالاً وشيوخاً .. نساء ورجالاً .. شباباً وشابات ..</p>
<p>منتظرو الرب الذين سلكوا في مخافة الرب .. بأعمالهم يرفعون أجنحة النسور ، وينجون من الموت الثاني .. يستقرون حول العرش ، وهناك يستبدلون أجنحتهم بالأجنحة النورانية .</p>
<p>الخائفون من الرب .. يبحثون عن الشقوق .. يخبئون عيونهم لكي لا ينظروا وجه من يكشفهم .. يزحفون إلى تحت الجبال لكي تسقط عليهم وللآكام لكي تغطيهم (رؤ ٦ : ١٦) .</p>
<p>مع السيد المسيح يكون الموت ربحاً . لذا نرجوه أن يرفع عنا وعن كل العالم : موت الخطية – موت الضمير - موت الحق – الخوف من الموت.</p>
<p><strong>ارفع عنا موت الخطية :</strong></p>
<p>نطلب من الرب لكي يرفع عنا وعن كل العالم موت الخطية ، لأنها قاتلة للنفس .. وبها يموت الإنسان في غير وقته (جا ۷ : ١٧) ، وبأعماله لا تكتمل أيامه على الأرض .</p>
<p>إن عاشت الخطية ، مات الإنسان ، لأنها تقتله .. وإن ماتت الخطية ، عاش الإنسان ، لأنه يحيا مع الله . الخطية والحياة مثل الليل والنهار .. لا يوجد نهار في الليل ، ولا توجد ظلمة في النهار .</p>
<p>لكي ننجو من موت الخطية .. نسمع قول الرب &#8221; اطرحوا عنكم كل معاصيكم التي عصيتم بها .. واعملوا لأنفسكم قلبا جديدا وروحا جديدة . فلماذا تموتون ؟! لأني لا أسر بموت من يموت .. فارجعوا واحيوا &#8221; (حز ۱۸: ۳۱) .</p>
<p><strong>ارفع عنا موت الضمير :</strong></p>
<p>عندما يسمع الضمير صوت الله ، يبقى مستيقظاً وساهراً على النفس .. فهو البواب في الإنسان ، الذي أوصاه المسيح بالسهر عندما قال : &#8221; مثل إنسان مسافر ترك بيته ، وأعطى عبيده السلطان ، كل واحد كعمله ، وأوصى البواب بالسهر .. &#8221; (مر١٣: ٣٤) .</p>
<p>كل مساكن النفس من &#8221; سمع ونظر ، وكلام ولمس ، وشم ، وفكر وقلب &#8221; ، كلها تحت حراسة هذا البواب . إذا قتل العالم الضمير ، مات الحارس الذي يحرس الحواس والفكر والقلب . لكي ننجو من موت الضمير ، علينا ان نفتح آذاننا لسماع وصايا روح الله القدوس ، فيحل فينا دار القضاء العادل ..</p>
<p>لا نزن لأنفسنا وللآخرين بموازين غاشة ، فالذي يصفي للبعوضة - بضمير صالح – لا يبتلع جملاً .</p>
<p>الضمير الحي يتذوق دائما الحق .. ويلفظ الباطل .. ويتذكر قول الرب &#8221; ويل للقائلين للشر خيراً .. وللخير شراً .. الجاعلين الظلام نوراً والنور ظلاماً .. المر حلواً والحلو مراً &#8221; (أش ٥ : ٢) .</p>
<p>للضمير لسان .. وفكر .. وقلب . لذا اجعل لسانك صادقا .. وقلب فكرك ، وفكر قلبك يرضيان الله .. لا تدخل شريكاً لله في قلبك ، يغير من وصايا الله .. لا تحابي الوجوه .. لا تصفق مجاملاً .. لا تمدح منافقاً ، لا تصدق كاذباً .. ولا تكذب صادقاً .. لا تحبس ضميرك في قفص ضمير الجماعة ، فتموت بأعمالهم .. لا تغير ضميرك .. ولا تستبدله ..</p>
<p>ليكن ضميرك حياً صالحاً .. أمام العالم الذي وضع في الشرير .</p>
<p><strong>ارفع يا رب عنا وعن كل العالم موت الحق</strong></p>
<p>في الحياة مع المسيح يكون الموت ربحاً .. أي موت الجسد .</p>
<p>لكن هناك نوعاً آخر من الموت نرجو أن يرفعه الرب عنا .</p>
<p>نرجو من الرب أن يرفع عنا ، وعن كل العالم :</p>
<p>موت الخطية – موت الضمير - موت الحق – الخوف من الموت .</p>
<p>كل من يحب الله ويقترب منه ، يحب الحق ويعمل الحق .. &#8221; فلا يبرئ مذنباً .. ولا يذنب بريئاً &#8221; (أم ١٧ : ١٥) .</p>
<p>الحق صار جسداً .. وجاء إلى العالم .. وسار على الأرض .. وأطلق المسبيين بعد أن فتح يد الذي قال &#8221; سأقبض بيدي على المسكونة كلها ، وأخذها كعش مهجور .. لا يستطيع أحد أن يفلت مني .. ولا يفتح فمه علي &#8221; (أش ١٠ : ١٤) .</p>
<p>لقد خلص المسيح المسكونة كلها من قبضة ابليس .. ودعاها إلي الحق قائلاً &#8221; أنا هو الطريق والحق والحياة &#8221; (يو ١٤ : ٦) ..      &#8221; إن حرركم الابن فبالحقيقة تكونون أحرارا &#8221; (يو ٨ : ٣٦) .</p>
<p>يعتقد البعض بأن الحق يموت .. ولم يعرفوا الحقيقة بأن الحق لا يعرف الموت ..</p>
<p>أبناء العالم قيدوا المسيح الحق .. ولطموه .. وظلموه .. وصلبوه .. وأيضا دفنوه .. واعتقدوا أنهم على حق لذا أماتوه .. مساكين فهم ماتوا عن الحق .. فظنوا أنه مات .</p>
<p>اللسان يحمل في يده سيف الحياة والموت (أم ١٨ : ۲۱) &#8230; أنه يطعن صاحبه عندما يتفوه بالظلم .. وينجي نفسه من الموت الثاني بكلمة الحق .</p>
<p>عندما ينتزع الحق من سكان الأرض ، ويتبرر الشرير .. ينمو فيها زوان الأشرار .. وعنها يتحول السيد الرب ويعبر .. وعليها تحل اللعنات وتنتزع البركات.كما يقول الرب&#8221; ويل للذين يبررون الشرير من أجل الرشوة . أما حق الصديقين فينتزعونه منهم &#8220;(أش٥ : ٢٣) .</p>
<p><strong>بين شهادة يوحنا المعمدان وبيلاطس الوالي :</strong></p>
<p>مساكين الذين يستريحون .. لأنهم يشهدون للحق عن بعد .. أو يكتفون بالنظر إليه .. لقد نظر بيلاطس إلى الحق .. وبرأ نفسه أمام الشعب .. واكتفى بغسل يديه ، وبقوله أنا برئ من دم هذا البار .. ولم ينقذ المسيح من أيدي اليهود ورؤساء کہنتهم وكتبتهم ..</p>
<p>بينما يوحنا المعمدان الصوت الصارخ للحق .. هتف قائلاً &#8221; . لا يحل لهيرودس الملك أن يأخذ هيروديا امرأة فيلبس زوجة له .. &#8221;</p>
<p>لقد رقصت ابنة هيروديا أمام المتكئين.. فسرت الملك والحاضرين .. ووعدها أن تطلب ما تريد .. فطلبت رأس الحق .. فحزن هيرودس .. ولكن الحق رقص في قلب الملك .. إلى أن سقط الأمر من بين يديه .. لقد نفذ الحكم بعد أن مات الملك عن الحق .. وقطعت رأس يوحنا .. وبقي الحق صارخاً .</p>
<p>لذا إذا عرفت ما هو الحق .. عليك أن تتكلم .. ولا تجعل لسانك أخرس .. وترضي التراب القوي في نظرك . ليس خفي إلا ويظهر :</p>
<p>الذي يعرف الحق .. لا يتصيد الأخطاء .. ولا يكرس عينيه ، وأذنيه لمراقبة غيره .. ولا يجعل من لسانه قاطعا للأحكام .. إنما يبحث عن سبب الخطأ لينقذ المخطئ .. كما فعل الرب مع أبيمالك ملك جرار .. وحفظه قائلا &#8221; أنا أمسكتك عن أن تخطئ إلي &#8221; (تك ٢٠ : ٦) . لأن أبيمالك أخذ سارة زوجة إبراهيم بسلامة قلب ، ونقاوة يد ، والرب يعلم هذا</p>
<p><strong>يا صديقي من أجل الحق :</strong></p>
<p>لا تقم في داخلك مجمع للمحاكم .. يضم العديد من القضايا .. لأبرار ومتهمين .. مضبوط عليهم ، ومفرج عنهم من داخل فكرك وحدك .. أو الوارد عليك من أفكار الآخرين .. والمصدقة عندك ..</p>
<p>لذا قبل أن تأتي الساعة التي تنحل فيها هذه المحاكم .. بإيقاف الفكر ومحاسبته أمام الله تذكر هذا هو عمل الرب .. وأنت من أقامك قاضيا على أخيك ؟! ليكن كل منا قاضيا على نفسه ، ليفلحها ويصلحها مع الله ، قبل أن نسمع &#8221; أعطني حساب وكالتك &#8221; (لو ١٦ : ٢ )</p>
<p><strong>ارفع عنا وعن كل العالم الخوف من الموت</strong></p>
<p>أولاد الله لا يخافون الموت .. إذ يتطلعون دائما نحو السماء من على الأرض .. هم مقيمون في أجسادهم كقيام الغرباء في الخيام .. وفي داخل الخيام الجسدية ، تبقى القلوب عالقة في السماء .. ودائما مستعدون للرحيل .. أفراحهم تكتمل عندما تنحل الخيمة الأرضية .. وعندما تفك الأوتاد المثبتة على الأرض (۲ بط ١: ١٤) .</p>
<p><strong>المسيح جرد الموت من سلطانه :</strong></p>
<p>من الخطية ولد الخوف .. وحل سلطان الموت على كل الناس .. وكل الشعوب .. وعلى كل الأمم .</p>
<p>لذا جاء المسيح الكلمة المتجسد .. وقبل الموت بإرادته .. ليدخل إلى مكان الموت ، ويميت الموت .. ويجرده من سلطانه .. بهذا يصير الإنسان من أهل السموات ، ويرده إلى رئاسته كعظيم رحمته ( ثيؤطوكية الثلاثاء ) .</p>
<p>بالمسيح يسوع مات الخوف وخاف الموت . لم يعد الانسان يخاف من الموت ، ولا يموت من الخوف . بل يفرح وهو ساكن في الجسد ويقول &#8221; أين شوكتك يا موت .. أين غلبتك يا هاوية &#8221; (١ كو ١٥ : ٥٥) . متى يكون الموت مخيفاً والخوف مميتاً :</p>
<p>عندما نسعى في الأرض ونملك لكي نبقى عليها إلى الأبد .. لأننا نجهل بأن الأرض تتزلزل وتزول ممتلكاتنا .. بذلك يكون الخوف على الأرضيات أمراً مفزعاً .</p>
<p>وأيضا عندما تنفصل أيادي القلوب عن يمين الرب .. وتفيض بالشرور ، يكون الوقوع في يد الله مخيفاً (عب۱۰ : ۳۱) .</p>
<p>لكن إن كانت أجسادنا ، وأرواحنا وأنفسنا في يد الله ، لا نخاف من الموت .. لأن الله ينقلنا بيمينه من عالم فان إلى الحياة الباقية على يمينه .</p>
<p>إن كان عزيز في عيني الرب موت أتقيائه (مز ١١٦) . هكذا تكون أفراح الأنقياء بالخروج والانطلاق من هذا العالم.</p>
<p>أولاد الله يتذكرون قول السيد المسيح &#8221; لا تخافوا من الذين يقتلون الجسد.. ولكن النفس لا يقدرون أن يقتلوها &#8221; (مت ۱۰: ۲۸) .</p>
<p>لذا قال أحد الأباء &#8221; لا يخشى فقد المال من لا يملك شيئا .. ولا يخاف النفي من يحسب السماء موطنه . ولا يهاب الموت من يرى أنه الطريق المؤدي إلى الحياة الأبدية&#8221;.</p>
<p><strong>السماء في المسيح :</strong></p>
<p>والطريق إلى السماء المسيح .. هو شخص المسيح .. وهو الذي &#8221; يحمل في يده مفاتيح الهاوية والموت &#8221; (رؤ ۱- ۱۸) .</p>
<p>لذا كل من يحيا مع المسيح يمتلئ قلبه بالفرح والسلام وينزع من قلبه الخوف والرعب من الموت . المسيح جاء إلينا على الأرض .. وجاءت معه السموات .. وفتح لنا الباب للدخول من جنبه القدوس .. ومن جسده الطاهر ، وبدمه الكريم أقام الكنيسة العروس .. أقامها له . وأعطى لها حق الدخول .. وحق الصعود إلى السماء المفتوحة فيه .. كل من يأكل الجسد المقدس ، ويشرب الدم الكريم ، يثبت في السماء ، والسماء تثبت فيه .. لا ينزعج من الموت ، ويقول مع القديس بولس الرسول &#8221; إننا إن عشنا فللرب نعيش . وإن متنا فللرب نموت .. فإن عشنا .. وإن متنا فللرب نحن &#8221; (رو ١٤: ٨) .</p>
<p>كان اسطفانوس أول الشمامسة وأول الشهداء ، يحيا مع المسيح .. لذا رأى عند رجمه السماء المفتوحة .. رأى المسيح الجالس في مجده .. وبنور المسيح تحول وجهه كوجه ملاك .. (أع ٦: ١٥) .</p>
<p>بينما اليهود الذين رجموه لم يروا السماء المفتوحة .. ولا الحياة الأبدية .. ولا المجد العتيد .. ولم تنر وجوههم .. إنما كل ما رأوه الحجارة .. والدم .. والموت فقط .</p>
<p><strong>الموت من اليأس .. والموت على الرجاء :</strong></p>
<p>ليس كل من يقبل على الموت يكون شجاعا .. فيوجد من ينتحر مهزوما من نفسه .. ومن الضغوط المحيطة .. أنه يؤذي نفسه في هذا الدهر .. وفي الدهر الآتي ..</p>
<p>القديس بولس وهو سجين وبلا سلاح.. أنقذ سجان فيلبي، عندما حاول قتل نفسه ، لأنه ظن أن الذين في السجن قد هربوا   (أع ١٦ : ٢٨)</p>
<p>أولاد الله بصبرهم إلى المنتهى، ينتحر اليأس منهم ، ويخلصون بالرجاء ، وعندما يطلبون الموت ، يكون ذلك لاشتياقات روحية بعد تذوق حلاوة ابيهم السماوي ..</p>
<p>سمعان الشيخ بعدما حمل على ذراعيه الطفل يسوع.. وعاين المسيح الرجاء المنتظر لأقطار المسكونة، قال باشتياق &#8221; الآن تطلق عبدك يا سيد حسب قولك بسلام &#8221; (لو ۲ : ۲۹) .</p>
<p>هذه العبارة التي قالها سمعان الشيخ ، تقولها الرعية في التسبحة اليومية ، ويقولها الكاهن عندما يحمل البشارة المفرحة مع الحمل ، ويطوف في الهيكل .. وبها يتذكر أنه في المسيح لا يخاف الموت .. ويعمل جاهداً أو يستعد للانطلاق ، بعيدا عن العالميات .. وعلى هذا المنوال تنسج الرعية من الراعي حياة الرجاء في الحنين إلى الرحيل .</p>
<p>حلاوة العشرة مع المسيح جعلت القديس أوغسطينوس يقول &#8221; إنني اشتهي الموت لكي أراك .. ولا أريد العيش بعد ، لكي أحيا معك &#8221; .</p>
<p><strong>لكي ننجو من الخوف:</strong></p>
<p>نتذكر بأن كسب العالم كله.. ربح خاسر للنفس . كما قال السيد المسيح &#8221; ماذا ينتفع الإنسان ، لوربح العالم كله وخسر نفسه &#8221;   (مت١٦ : ٢٦)</p>
<p>فعلينا أن نقول لكل إغراءات العالم كما قال المسيح &#8221; مملكتي ليست من هذا العالم &#8221; (يو ١٨: ٣٦) .. وبتسليم كامل نقول أيضا معه وله &#8221; في يديك أستودع روحي (لو ٢٣: ٤٦)<a href="#_ftn8" name="_ftnref8">[8]</a>.</p>
<h4>عظة للمتنيح القمص لوقا سيداروس</h4>
<p><strong>الأحد الرابع من شهر بابه (لو ٧: ١١ – ١٧)</strong></p>
<p><strong>إقامة إبن أرملة نايين</strong></p>
<p><strong>الهزيع الرابع</strong></p>
<p>في. أنجيل عشية هذا اليوم يقرأ فصل الإنجيل الذي يخبرنا عن إنقاذ التلاميذ في. الهزيع. الرابع من الليل، إذ كانوا معذبون من الأمواج وأوشكوا علي الغرق، جاءهم ربنا يسوع ماشياً علي الماء وافتقدهم وهم علي حافة الموت .</p>
<p>وهذا الحدث كان في تدبير ربنا ليرفع إيمان التلاميذ الذين كانت قلوبهم ثقيلة، ولم يبلغوا المستوي الإيماني بمعجزة أشباع الخمسة آلاف من الخمس خبزات &#8230; فإذ لم يفيدهم الوسع ألزمهم أن يركبوا السفينة وحدهم ، وسمح للبحر أن يهيج عليهم ، والرياح أن تقصف بسفينتهم . يبدوا أن هذا هو الطريق الوحيد لإيمان التلاميذ &#8230; أن يرتفع حتي يبلغ المشئ علي المياه .</p>
<p><strong>ما بعد الهزيع الرابع</strong></p>
<p>أما أرملة نايين فقد عصفت بها رياح التجارب وهاج بحر الآلآم والضيق &#8230;. ووقعت سفينة حياتها في لجة اليأس والحزن، وإنتظرت. حتى الهزيع الرابع، وكأنه لم يكن من يجيب &#8230; وحتي الهزيع الرابع عبر &#8230;. ماذا هل يوجد رجاء بعد الموت &#8230;؟ هل يوجد عزاء لأرملة فاقدة وحيدها؟</p>
<p>إنجيل اليوم هو إنجيلنا في يأسنا وإنجيلنا في. ضعفنا &#8230; إنجيل ما بعد الهزيع الرابع . مع المسيح الحياة لا يوجد يأس ، حتي ولو وصلنا محمولين إلي قبر وظنوا فينا ألا قيام &#8230; فيما بعد الهزيع الرابع يقف إلهنا يتحدي موتنا ويلمس نعشنا ويناديها بأسمائنا ، ويردنا إلي أمنا الكنيسة التي تتعذب من أجلنا بمشاعر يعجز أن يعبر عنها &#8230; فيقيمنا من موتنا ويتمجد فينا وتبهت الجموع من حولنا وتمجد قوة إلهنا في توبتنا .</p>
<p>+ السماء كلها تفرح بخاطئ واحد. يتوب، كفرح الأرملة بقيام وحيدها من الموت ، وفرح كل جيرانها الذين حزنوا لحزنها وبكوا لبكائها . ولكن لا تعطي أفراح القيامة في التوبة ، إلا إذا بلغنا إلي إنسحاق أرملة نايين روحياً &#8230; فالتوبة قيام من إنكسارنا &#8230; وربنا يرفع البائس من المزبلة ويقيم الساقطين &#8230; ويجبر منكسري القلوب . لأن ربنا يكون قريب منا حسب وعده .</p>
<p><strong>+ أيها الشاب لك أقول قم</strong></p>
<p>هنا يبدوا واضحاً أمامنا أن حياتنا كائنة في المسيح &#8230; وندرك حقيقة أن فيه كانت الحياة &#8230; فهو يحيينا بكلمة . إقامة. إبن أرملة نايين يكشف لنا سر الحياة بكلمة المسيح &#8230; كيف ينادينا فتدخل فينا قوة حياته &#8230; أليس بالكلمة خلق العالمين &#8230; وبالكلمة كان كل شيء وبدون الكلمة لم يكن شيء مما كان . فكل خليقة منظورة وغير منظورة كانت في فكر الله قبل أن توجد ولم تخرج إلي حيز الوجود والحياة إلا بالكلمة. قال الله : &#8221; ليكن نور فكان نور &#8221; &#8230; ولم يكن النور هذا ليظهر إلا إذا قال الله كلمته الخالقه والمبدعة</p>
<p>قال الله: &#8221; لنخلق الإنسان &#8230; فخلق الإنسان &#8221; . ولم يكن للإنسان أن يخرج إلى الحياة ما لم يقل الله كلمته الخالقه والخالدة هكذا أيضاً عندما دخل الموت إلي الإنسان ووقع الإنسان فريسة لروح الظلمة &#8230; كيف يخلص الإنسان إذاً؟ لا خلاص إلا بالكلمة ، ولا حياة إلا بالمسيح .</p>
<p>قال الله : &#8221; لنخلص الإنسان &#8220;وهذا هو الخلاص الذي إبتدأ الرب بالتكلم عنه كما قال القديس بولس الرسول . هنا كلمة الخلاص هي المسيح &#8230; الكلمة صار جسداً وحل بيننا ورأينا مجده وجاء لينقض أعمال إبليس &#8230; وينبذ الموت ويدوسه بقوة حياة لا تموت .</p>
<p>+ قيامة إبن أرملة نايين صارت لنا عربون قيامة بالكلمه بقوة عظيمه &#8230; المسيح هو هو أمس واليوم وإلي الأبد &#8230; يحول موتنا إلي حياة ، وحزننا إلي فرح بكلمته &#8230; الآن نحن نقبل كلمة الحياة لتقيمنا للحال عندما نتقدم للتناول من جسد المسيح &#8230; &#8221; الكلمة صار جسداً &#8220;&#8230;   وقال &#8221; خذوا كلوا هذا هو جسدي &#8221; . لم يعد قبولنا للكلمة علي مستوي سمع الأذن فحسب ، بل علي مستوي الأكل الحقيقي كمن يأكل الحياة . علي أننا نسمع الكلمة المحيية ينطق بها المسيح في داخلنا بروحه بأنات لا ينطق بها &#8230; ونسمعها كلما اتضعنا وأملنا أذننا الداخلية إلي المسيح ينادينا بإنجيل فرح وبشارة خلاصي مكتوبة لا بحبر وورق ، بل بشهادة روح وقوة حياة لا تزول .</p>
<p><a href="#_ftn9" name="_ftnref9">[9]</a>  &#8221; الكلام الذي أكلمكم به روح وحياة &#8221; . إحييني ككلمتك .</p>
<h4>الموت فرح القديسين للمتنيح القمص يوسف اسعد</h4>
<p>هناك نوع من انواع الفرح .. اعجب كل العجب به حينما أرى جمهور من الآباء القديسين يفرحون به وهو الفرح  بساعة الموت .</p>
<p>إن أفراح القديسين جعلت الموت بمعناه – أي الرحيل عن هذا العالم وخروج الروح من الجسد فرحة حقيقية ، هو فرحة العصفور حينما يخرج من القفص بعد ان كان مأسوراً ، فرحة العصفور الذي يجد ما لا نهاية من الخير الذي يطير فيه ، ويجد من الطعام الذي ياكل منه ، والماء الذي يجده دون ان يظمأ .</p>
<p>فرحة العصفور الذي يجد باباً مفتوحاً أمامه أسمه باب الموت ، لذلك قال معلمنا يوحنا في سفر الرؤيا :&#8221; سمعت صوتاً من السماء قائلاً لي اكتب طوبى للأموات الذين يموتون في الرب منذ الان . نعم يقول الروح لكي يستريحوا من اتعابهم وأعمالهم تتبعهم &#8220;(رؤ١٤: ١٣)</p>
<p>فكلمة طوبى أي يا سعادة الموات الذين يموتون في الرب، لأنهم يجدون باباً مفتوحاً يعيشون الحياة لا ظلها ، فنحن هنا في ظل الحياة والظل منعش ورطب ولكنه ليس الحقيقة ، وفارق كبير بين شجرة تين وظل شجرة التين ، فقد تجد أن منر الشجرة على الأرض جميل  ومكان الظل مريح ، ولكن ليس هو التثمرة وليس هو التين .</p>
<p>فنحن هنا في هذه الحياة نعيش كلنا كسمك في البحر فكثيرين يسعون بلا هوادة ، ويأكلون بعضهم البعض وينهشون بعضهم بعضاً ، ولا اعلم هل نسى هؤلاء جميعا ان  مصير السمك الى طبق واحد هو ( طبق الموت )فهو الذي سنحمل به الى الأرض .</p>
<p>لذلك نجد الحياة مع ظلها وجمالها هنا صراع ، وهذا لا نجده مع حقيقة  الحياة في الملكوت .. وكذلك نرى في هذه الحياة طمع يدفع الناس الى كل ما هو غير سليم ، فهذا الطمع يجعل الأنسان يأخذ نصيبه ونصيب أخيه وأبيه أيضاً ان امكن .. اى انه طمع بلا حدود ، اما في الأبدية فلا مكان هناك  للطمع ، لن الكل يوجد تحت أقدام الرب يسوع ، ففي أي شئ يطمع وهو تحت قدميه وبين يديه .</p>
<p>إننا نعيش هنا في ظل الحياة اما في الأبدية فنعيش الحياة نفسها .</p>
<p>العصفور داخل القفص يوضع له طعام ومياه ولعبة للتسلية .. لكن حياته داخل القفص شئو حياته خارج القفص شئ آخر .</p>
<p>لهذا يفرح القديسون بالموت .. لأن :</p>
<p><strong>         ١- الموت يفتح باب الحياة</strong></p>
<p>الموت يفتح باب الحياة لا ظلها ، حقاً يجوزون باب الموت الضيق وباب القبر الواطئ ، لكنهم في الحقيقة يدخلون الى رحب الحياة الأبدية وسعادتها ، لهذا كان الآباء القديسون زاهدين في ظل الحياة، ووجدوا فرحهم في زهدهم لا في أطماعهم ، زهدوا في كل شئ فوجدوا راحتهم وفرحهم ووجدوا نصيبهم الحقيقي الذي يبحثون عنه .. وهو معرفة الرب والدخول الى شركة آلامه وقوته وقيامته .</p>
<p><strong>         ٢-  الموت بركة لا يعقبها جهاد </strong></p>
<p>الموت بركة للأنسان الذي يوجد في عيني الرب قد أكمل اتعابه ، وكانت اتعابه في إتجاه مستقيم نحو مجد الله وخلاص نفسه ، فنجد ان الرب يناديه &#8221; كفاك تعباً يا حبيبي &#8230;..&#8221; تعال إلىّ.</p>
<p>وهكذا نجد أن فهم القديسين للموت كفرح حقيقي انهم ينالون بواسطته بركة وهذه البركة لا يعقبها جهاد ، فنحن على الأرض نأخذ بركة بل و بركات ، فمثلاًهذه اللحظة التي تجمعنا في بيت الله ونسمع فيها صوته هي بركة لجميعنا ،ولكن هذه البركة تحتاج لجهاد ، جهاد الأصغاء ، وجهاد تخبئة الكلمة في القلب  وجهاد السلوك بالكلمة وسط الحياة &#8230; فهذه كلها جهادات ، فكثيرون اخذوا بركات لكنهم لم يصلوا الى قديسين لأنهم لم يجاهدوا ، وظنوا ان البركة تعفيهم من الجهاد .</p>
<p>فحينما أصلي آخذ بركة.. لأني واقف في حضرة الرب، لكن حتى الوقوف في حضرة الرب يحتاج جهاد ، لكي ما يشعر النسان بالخشوع ،وأن الله يسمعه في ضعفه وحقارته ، ويحتاج أيضاً ان يجمع النسان ذهنه حتى لا يقف ليصلي بذهن مشتت ، وكل هذا جهاد .</p>
<p>اما بركة ما بعد الموت .. نجد كل المؤمنين امام عرش المجد ليلاً ونهاراً لا يتعبون ولا يجدون مشقة  ، فالموت  كفرحة عند القديسين يشمل حصولهم على بركة لا يعقبها جهاد أنما بركة تختم على كل جهاد .</p>
<p>السائح الروسي الذي يمثل الأنسان الخاطئ في جهاده في الحياة ، وهو حينما ينتشل من البالوعة ، وبعد ذلك ينظف ويلبس  ثوب أبيض جديد ويعطى له صليب يعيش به ، كان كلما يمشي ويتعب يتحول الصليب الى مائدة ياكل منها ، او شجرة يستظل بها الى ان أتت ساعة الغروب  الجميل ( ساعة الموت ) فطرح الصليب فصار سلماً رفعه من الرض الى السماء فظل يصعد درجات السلم وفي آخر درجة ظن انه وهو في السماء سيحمل صليبه كما تعود ، فقال له الرب أطرح صليبك ، وهنا تحول الصليب الى أكليل أخذه الرب بيديه وتوج رأسه فصار لابساً للأكليل .</p>
<p><strong>      3- الموت راحة :-</strong></p>
<p>يفرح القديسون بالموت لان فيه راحة ، وهنا على الرض وهم كبير ومزيف للراحة ، فالذين يسعون في طريق الملكوت لابد انهم بتعبون ويشقون ، فأن كنا نتعب ونشقى في هذا العالم من اجل رغيف العيش ومن اجل المياه التى نشربها ، ويتصبب عرقنا وينهك جسدنا ، فكم بالحري الحياة الأبدية تحتاج الى شقاء .</p>
<p>أننا هنا على الأرض نعرف يقيناً ان لنا أعمال تعب متواصلة .. وكلمة اعمال تعب معناها ان الأنسان هنا لا يطلب راحة قريبة ، ولكن الله من العلاء  سيعطينا أجازة وراحة مؤقتة ، كمثل الضابط في المعركة الذي يجد ان الجنود متعبين ومواظبين على الحراسة وعلى أعمالهم فيعطيهم نصف ساعة راحة ( لمن يحتاج أن يغسل وجهه او يشرب كوب شاي ساخن أو يأكل طعاماً خفيفاً ) نصف ساعة فقط لا لكي يسترخي او يطلب الراحة فهي راحة مؤقتة .</p>
<p>فهكذا في حياتنا على الأرض إذا عددنا ساعات الراحة سنجدها منزيارات النعمة ، لكي نلتقط أنفاسنا ونحن في طريق الملكوت ولكن لا يمكن ان يكون هناك راحة .</p>
<p>هناك قصة مشهورة عن أحد الرهبان الذي ذهب الى الدير لترهب .. فساله رئيس الدير : لماذا أتيت الى الدير لتترهب ؟ فقال له : لني تعبت في الدنيا وانا اعلم أ، حياتكم هنا في الدير مريحة ، صلاة وطعام وشراب ونوم.. فحياتكم في الدير حلوة ، فأدخله في حجرة ، وبعد قليل طلب منه خدمة يحتاجها .. وهو انه يحتاج الى قليل من الملح ، ثم قال له : أذهب الى جميع قلالي الدير وقل للرهبان من ليس لديه أتعاب يعطي لأبونا رئيس الدير قليل من الملح وكان عدد الرهبان في ذلك الوقت ثلاثة الآف راهب ، فمن اجل انه يمر على هذا العدد كله ويقرع باب كل قلاية ويطلب منه هذا الطلب &#8230; فكان هذا تدريباً صعباً جداً جعله يختبر حالة هؤلاء الرهبان ، فكلما قرع باب قلاية ليطلب الملح إذا لم يكن لديه أتعاب ، يجد ان كل راهب يقص له اتعابه والآمه ، فبعد الثلاثة الآف راهب رجع لأبونا الرئيس وقص له ما حدث، فقال له رئيس الدير لعلك تكون قد فهمت الدرس ، فهنا على الرض لا توجد راحة ، اما من يريد الراحة فعليه ان يمشي في طريق الرب بأمانه أستقامة، وحينما ينال رضى في عيني الرب  سيقول له :كفاك تعباً يا حبيبي .. تعال الي ،أما هنا على الأرض فما دمنا قد خرجنا في طلب أبن الله الوحيد لابد ان نشقى .هكذا كان أبئنا القديسون وهم يعون هذه الحقيقة فكانوا يفرحون بالموت لأنه يدخلهم الى الراحة الحقيقية التي بلا خداع .</p>
<p>فمن يتعب في الصلا ة والصوم او في قراءة الكتاب المقدساو في اعمال المحبة &#8230;لابد ان يحصد الراحة في حينها عند الموت لهذا كان القديسون يتهللون حينما يجدون ملاك الموت امامهم .</p>
<p>وتوجد قصة عن أحد الرهبان الأتقياء الذي كان شيخاً مسناً وضعيف البصر ، ومع ذلك كان يخرج من قلايته في الصباح المبكر من أجل صلاة نصف الليل والتسبحة ، وذات مرة نظراً لضعف بصره أصطدمت رأسه بعمود فوقع على الأرض ، وظل يبكي لأنه شعر انه قد ضاعت منه فرصة لأن يتعب بينما هو يقترب من الراحة ، وملأ صوته الدير كله وهو يصرخ ويقول : لقد ضاعت مني فرصة تعب ، وسمعه الرهبان وتعجبوا مما يقوله ، ومن انه وهو شيخ ومسن وعيناه لا ترى خرج وهو مستند على عصاه من أجل صلاة نصف الليل ، فأخجل هذا الرهبان الذين كانوا نائمين في قلاليهم ، وحمله  الرهبان وآثار دم على وجهه وأدخلوه الكنيسة ، وهناك وجدوا طفلاً يرقص وهو يقول : ها هي الراحة آتية ، صلوا لي يا آبائي ، ثم تنيح هذا الأب وهو يصلي معهم صلاة التسبحة وحينما رقد تذكروا كلمته &#8221; ضاعت مني فرصة وانا أقترب من الراحة &#8221; أي انه كان يقصد بالراحة الموت أي الراحة الأبدية .</p>
<p>يا احبائي غن الناس تفرح حينما تأخذ أسبوع أجازة او راحة بعد تعب طوال السنة وذلك لكي يستريحوا في مكان قليلاً بعيداً عن أتعاب العمل والحياة ولكن هذه الراحة مؤقتة .. أما الموت لأولاد الله فهو فرحة حقيقية لأنه راحة بلا خداع .</p>
<p><strong>       4- الموت مكافاة:-</strong></p>
<p>الموت أيضاً فرح للقديسين لأن الموت نبأ المكافأة التي عملوا من اجلها على الأرض ، والتي تعبوا من أجلها مثلما نقول في الترنيمة :&#8221; جايين من أنين، جايين من ظلم سنين ،امام الطغاة واقفين يتحاكموا وهم صامتين ، على الظلم كمان صابرين ، وسط التون ماشيين ، جوا السجون راضيين ، بهوان و الآم عايشيين، وصعاب وعذاب شايفيين ..&#8221;</p>
<p>هؤلاء الذين عانوا كل هذا هنا على الأرض ، ولم يجدوا مكافاة من الناس ، لكن حينما يدنو الموت يحمل إليهم فرحة المكافاة .</p>
<p>إذا كان هناك منكم من رأى اولادنا الصغار الذين نالوا مراكز عالية في العاب الدورة الأفريقية للألعاب الرياضية ، وكيف كان الأولاد يخرجون بالترتيب ويقف الأول ويلبسوه الميدالية&#8230; وكانت الفرحة على وجوههم ظاهرة ، إذ هي لحظة التتويج ولحظة الفرح ، وهناك بعض الأولاد بكوا من الفرح وهو يأخذون اجرة التعب .</p>
<p>يا أحبائي إن القديسين الذين هنا لم يجدوا كلمة شكر واحدة ، بل ربما وجدوا كلمات مذمة واهانات وأفتراءات هؤلاء حينما يأتيهم الموت يفرحون لن زمن المكافأة مرتبط بالموت ، والمكافأة عند الموت لا يوجد فيها ظلم لأن عدل الله يتبرأ من الظلم اما عدل الناس فلا يخلو من الظلم..</p>
<p>اما الذين يجاهدون حسناً ويتعبون من اجل الله يكافئهم الله حتى على كوب الماء البارد الذي هو عنده مسجل ، وعلى الخطوة التي يخرجها الأنسان من بيته ليدعو آخر ليسمع كلمة ربنا فهي محسوبة امامه ، وكلما يسير اكثر كلما يحصل على نفوس أكثر كلما يُحسب له هذا في السماء وسيأخذ مكافأة من العادل فيفرح بهذه المكافأة .</p>
<p>ان الموت عند آبائنا القديسين كان فرحاً حقيقياً لنه يمثل بالنسبة لهم زمن المكافأة الذي لا يعرف ظلم ، ولا يعرف خواطر ، بل يعرف العمل الصالح الذي من اجل الله فقط .</p>
<p>فهنا على الرض اناس كثيرة مستعدة ان تعمل خير في ظاهره لكن من اجل هدف آخر غير مجد المسيح .. مثل هدف الكرامة او المديح او كتابة اسمائهم او الحصول على مراكز ، حتى انني سمعت عن احد الأشخاص الغنياء كان مستعداً ان يتبرع بمبلغ للمحتاجين من أجل بناء مساكن لهم ، لكنه أشترط أن يسمي  الحي كله بأسمه ، فهذا النسان قد اخذ أجرته هنا .. هل سيأخذ اجره عند الرب في السماء ؟</p>
<p>اما آباؤنا القديسون كانوا يختفون كالخميرة في العجين يمارسون اعمال المحبة في الخفاء لجميع الناس ، حتى لصالبيهم ولمن يؤذيهم ، فهؤلاء لابد ان يأخذوا أجرة من الذي لاينسى أي تعب محبة ولا ينسى حتى كأس ماء بارد الذي يُقدم من اجله .</p>
<p>فرح القديسين وتعبهم يدفعني ويدفعك نحو عمل الخير ، فكلما أرى في الكنيسة عبر الأجيال رجالاً و نساءً ، شباباً وعذارى و أطفال يعيشون لله بأمانة ثم يتعذبون وتكمل حياتهم في القداسة ، اجد قوة دافعة تحرك حب الخير في داخلي ، فأفكر في عمل الخير ، فعندما تصلي الكنيسة على الأموات  ويشترك أهل البيت والمشيعيين في الصلاة يجدوا فرصة تُنهض فيهم محبة فعل الخير ..</p>
<p>فمثلاص القديسة أربسيما العذراء التي كانت عذراء جميلة فتش عليها الملك  وذهب ليأخذها من دير العذارى لكي يتزوجها ، فهربت منه واختفت في المدن ، ويصل اليها الملك فرفضت انكار المسيح ورفضت فك نذر البتولية، فامر بتعذيبها حتى أستشهدت وقطعت قطعاً، فحينما أسمع عن عذراء كهذه فهما قابلني من متاعب و أنا اجاهد من اجل العفة سأتشجع بسيرة هذه العذراء التي قدمت حياتها واستشهدت من أجل العفة وفرحت بعريسها .</p>
<p>كل هذا يشجع المؤمنين على عمل الخير ، في الناس وفي انفسهم اولاً ، فمن يضر نفسه بسيجارة أو بفعل زنا او بسرقة ، فسوف لا يقدر على فعل الخير لأي انسان فأول خير ينبغي ان يفعله يفعله في نفسه .</p>
<p>فانظر الى موت القديسين وفرحهم باتعابهم وتشجع في عمل الخير بنفسك وبالآخرين .</p>
<p>لكن وانت تفعل الخير لا تفشل مهما صادفك من معوقات أو خيانات او أفتراءات ، بمعنىانك يمكن ان تقدم بيديك احساناً او عمل خير وتجد اليد التى قدمت بها قد جرحت فيها ممن قدمت لهم ، فلا تيأس ولا تفشل لكن إلعق جراحك وأستمر في عمل الخير ، لأن &#8220;من يجازي عن خير بشرلن يبرح الشر من بيته &#8220;(ام 17: 13) أي أنك إذا قدمت خيراً ووجدت امامه شراً فلا تتوقف عن عملك ، وتذكر ان  عند الله مجازاة لمن يقابل الخير بالشر ان الشر لايترك بيته .</p>
<p>فلا تفشل في فعل الخير لن الموت (طبق لجميعنا) سوف نحصد عليه كل ما قدمنا من اعمال يزنها الله بميزانه، وتوجد في عينيه مستقيمة .</p>
<p>ان فرح الموت يشجعني ويشجعكم على محبة فعل الخير لنفسي وللآخرين ، بلا فشل مهما قوبل الخير من الآخرين ، لأن الله يعدني ويعدكم للحظة الموت ويجعلها لحظة فرح لجميعنا ، ويجعلها سبب مكافأة لنا من يد الله العادل الذي يكافئ كل واحد بحسب عمله<a href="#_ftn1" name="_ftnref1">[1]</a> .</p>
<h4>الاحد الرابع من شهر بابه المبارك للمتنيح القمص تادرس البراموسي</h4>
<p><strong>فلما رأها يسوع تحنن عليها وقال لها لا تبكي (لو٧ :١١ – ١٧)</strong></p>
<p>كان موقف هذه المرأة خطير جداً. لأنها كان سبق أن فقدت زوجها والآن فقدت أبنها الوحيد أملها في الحياة وعكازها الذى تستند عليه في شيخوختها وهو الذى تعتمد عليه في كسب معيشتها أن رحل أحد الأحباء يتقدم الناس في الأمل الذى تبقى الزواج أو الأولاد ولكن هذه المرأة كان هذا هو أبنها وحيدها لذا لم يتقدم لتعزيتها . وبعد قليل يرجع كل إنسان إلى بيته ويتركونها ينوحون معها وبعد قليل تبقى هي لوحدها بلا سند ولا صديق ولا مال تنعى حظها ولم يكن لها الأمل في الزواج مره ثانية لأنها متقدمة في أيامها وأصبحت محتاجة لمن يعطف عليها . لم يجسر انسان ويتقدم لتعزيتها لأنه لا يملك ذلك وكما قال أيوب الصديق أن معزين العالم متعبين . لكن تقدم رب المجد المعزى الوحيد الذى فيه الحياة والتعزية . الذى قال بفمه الطاهر لا أترككم يتامى بل ارسل لكم الروح المعزى يمكث معكم ويعزيكم . لمس النعش فوقف الحاملين . ثم حدث ما لم يتوقعه أحد قال أولاً للأم لا تبكى لم يجرأ أحد من الشعب أن يقول هذه الكلمة لأنه لا يستطيع وأن قال هذه الكلمة ما هو البديل لاسكاتها كانت المفاجئة عظيمةً حين ما أمر الرب يسوع الشاب قائلاً : أيها الشاب لك أقول قم . ما أعظمك يارب وما أجمل صوتك الحنون حينما تنادى قم استيقظ لسه لك جهاد على الأرض لابد لك تعيش وتستعد للانتقال مرة أخرى . جلس الميت وابتدأ يتكلم . فدفعه إلى أمه . تصوروا كم كانت فرحة الثكلى بموت ولدها . وعندما دفعه لها الرب يسوع كأنها في حلم . من الذى في حضنى هل ابنى الوحيد لك الشكر والحمد يارب لأنك شفقت على ولم تتركنى وحيده . ولا تدعنى محتاجة لأحد يعطف على . حقاً أنك أنت أب الأيتام وقاضى الأرامل</p>
<p>نظر المشيعين هذا المنظر البديع امتزجت قلوبهم بالفرح والخوف معاً ومجدوا الله قائلين قد قام فينا نبى عظيم وأفتقد الله شعبه .</p>
<p><strong>العظة الأولى</strong></p>
<p>أ – السعي لخلاص النفوس</p>
<p>ب – الإنقاذ من الموت المتسلط</p>
<p>ج – عدم الاستطاعة وتسليم الاراده</p>
<p>د – ميت وحيد وأم أرمله – من المعزى</p>
<p>ه - حنان وشجاعة وقوة إلهية</p>
<p>ذ – لمس النعش ووهب الحياة</p>
<p>ح – خوف ومجد وإيمان</p>
<p>ط – محاسبة النفس والتمسك بالأفضل</p>
<p>ى – الملم بأعوازنا والمعطى لاحتياجاتنا</p>
<p><strong>العظة الثانية</strong></p>
<p>أ – مضت أيام وأتت أخرى ولم نستفيد</p>
<p>ب – قضية الموت ونسيان الحقيقة</p>
<p>ج – ميت بدون أب وأم بدون زوج</p>
<p>د – شعب وجموع وعدم تعزية</p>
<p>ه - مفاجئة وحياة وعطية</p>
<p>و – وجود النجاه وواهب الحياة</p>
<p>ذ – فرح الشعوب ونبوات الأنبياء</p>
<p>ح – أعلان الخلاص والنجاة من القصاص</p>
<p>ط – فقد التعزيات وانتظار الرحمة</p>
<p>ى – أب التعزية ومعطى الحياة وواهب الأبدية</p>
<p><strong>العظة الثالثة</strong></p>
<p>أ – سعى الرب وراء الخطاه</p>
<p>ب – موت الضمير والبعد عن التحرير</p>
<p>ج – أرملة وحيدة والعزاء مفقود</p>
<p>د – كلمة حب ونسمة حياه</p>
<p>ه - لا دور للأسرة والحياه حره</p>
<p>و – خوف الشعوب وتمجيد المصلوب</p>
<p>ذ – نبى من الأنبياء ومخلص الخطاه</p>
<p>ح – ايمان سطحى وتبشير ومجد حرفى</p>
<p>ط – وحده الإله وواهب الحياة</p>
<p>ى – لا معزى سواء والعجب في لقاء<a href="#_ftn2" name="_ftnref2">[2]</a></p>
<h4>عظة للمتنيح القمص بولس باسيلي</h4>
<p>أبن أرملة نايين (ص٣٥٢- ٣٥٧) الميت الحى والحى الميت !</p>
<p><strong>تقسيم على ضوء القراءات الكنسية :</strong></p>
<p>البولس (١تى ٦: ٣-٢١)</p>
<p>كاثوليكون : (يع ٤ : ۱۷ - ٥: ١-١١)</p>
<p>الابركسيس (اع ١٥ : ٣٦- ١٦: ١-٥)</p>
<p>الانجيل : (لو ٧: ١١-١٧)</p>
<p>تمهيد : يحدثنا البولس عن الاستعداد للموت &#8221; لم ندخل العالم بشئ وواضح أننا لا نقدر أن تخرج منه بشئ&#8221; (١تى ٦: ٧-٩) والكاثوليكون يحدثنا عن الاهتمام بالعالم وشهواته &#8221; من يعرف أن يعمل حسنا ولا يعمل فذلك خطية . . . هلم أيها الأغنياء ابكوا الآن مولولين على شقالوتكم القادمة &#8230;&#8221; • (يع٤: ١٧-٥: ١-٦) ويحدثنا الابركسيس من وجوب النشاط الروحى &#8221; لنرجع ونفتقد اخوتنا في كل مدينة &#8221; (اع ١٥: ٣٦-١٦: ٥) كل هذا يدور حول الانجيل الذي يصور لنا خداع الحياة وموت الشباب وذبول الأزهار .</p>
<p><strong> القسم الأول : الميت الحى !!</strong></p>
<p>( ١ ) هو المؤمن العامل : &#8220;قيل عن هابيل وبه وإن مات يتكلم بعد &#8221; &#8221; إن عشتم حسب الجسد فستموتون ولكن إن كنتم بالروح تميتون أعمال الجد فستحيون ، (رو ٨ : ١٣) &#8221; إن كنا قد متنا مع المسيح ولكن أحياء لله بالمسيح بسوع ربنا &#8221; (رو ٦ : ٨-١١)</p>
<p>وموت التقى حياة لا نفاد لها كم مات قوم وهم في الناس أحياء</p>
<p>( ۲ ) هو الأنسان الكامل : والأنسان هنا يعنى الرجل الانسان ، فليس كل بشر انساناً.</p>
<p>ان الحياة نهار أو سحابته فعش نهارك من دنياك انسانا</p>
<p>&#8221; الانسان &#8221; هو من فاضت قلبه بالرحمة والانسانية للبائس المحروم ، واليائس المكلوم . &#8220;الديانة الطاهرة النقية في هذه افتقاد الأرامل واليتامى &#8221;</p>
<p><strong>القسم الثاني : الحى الميت !!</strong></p>
<p>( ۱ ) هو صاحب الضمير الميت : &#8221; وإذ كنا أمواتاً بالذنوب والخطايا &#8221; اين الاستعداد للموت ؟ &#8220;اعملوا لا للطعام البائد بل للطعام الباقي للحياة الأبدية &#8221; ( أنظر البولس )</p>
<p>ليس من مات فاستراح بميت أنما الميت ميت الأحياء</p>
<p>( ۲ ) هو صاحب الشعور الميت : هم الأغنياء البخلاء الذين قال عنهم الرسول &#8221; هلم أيها الأغنياء ابكوا الآن مولولين على شقاوتكم القادمة &#8221; ( أنظر الكاثوليكون )</p>
<p><strong>القسم الثالث : وسائل الحياة الروحية !!</strong></p>
<p>( ۱ ) الوجود بقرب منبع الحياة . &#8220;كلشجرة مغروسة عند مجاري المياه تعطي ثمرها في حينه وورقها لا يذبل&#8221; &#8221; واحدة سألت من الربية وإياها ألتمس أن اسكن في ديار الرب كل أيام حياتي&#8221; .</p>
<p>&#8220;فرحت بالقائلين لى إلى بيت الرب نذهب&#8221; ، ( انظر الابركسيس ).</p>
<p>( ۲ ) التغذى من عصارة الحياة : وفى القداس الإلهى يصلى الكاهن &#8221; اجعلنا مستحقين كلنا ياسيدنا أن نتناول من جسدك المقدس ودمك الكريم طهارة لأنفسنا واجسادنا وأرواحنا ومغفرة لخطايانا وآثامنا ، لكي نكون جسداً واحدا ًمعك &#8221; وبالتناول ننمو في الروح &#8221; انموا في النعمة وفى معرفة ربنا ومخلصنا يسوع المسيح &#8221; (۲ بط ۲ : ۱۸)</p>
<p>( ٣ ) الثبات في ينبوع الحياة : &#8221; من يأكل جسدى ويشرب دی ثبت في وأنا أثبت فيه &#8221; &#8221; إن ثبتم فى وثبت كلامي فيكم تطلبون ما تريدون فيكون لكم &#8221; وما أجمل صلوات المؤمن القائل &#8221; نسأل و نطلب من صلاحك يامحب البشر لكي تطهرنا كلنا وتؤلفنا بك من جهة تناولنا من أسرارك الإلهية وأن نكون مملوئين من روحك القدوس وثابتين في إيمانك المستقيم وممتلئين من شوق محبتك الحقيقية وننطق بمجدك كل حين بالمسيح ربنا &#8221;</p>
<h3>تأملات روحية . . نقاط تفسيرية</h3>
<p><strong>حول عظة الأحد الرابع من شهر بابه (لو ٧: ١١-١٧)</strong></p>
<p>&#8221; نايين &#8221; : وهى  كما وصفها صاحب قاموس الكتاب المقدس  مدينة في الجليل تقع على المنحدر الشمالي الغربي من جبل الدوخي على بعد ستة أميال من الناصرة ، وقد كانت مدينة كبيرة ذات ماض ، غير أنها الآن قرية حقيرة فيها نحو عشرين بيتاً و تدعى الآن &#8221; نين &#8221; !!</p>
<ul>
<li>&#8221; ونايين&#8221; هذه معناها &#8221; الجمال &#8221; ، ولست أدرى كيف كان هذا الجمال يوم أن ازدحمت شوارعها بمواكب المشيعين لذلك الشاب ابن الأرملة الوحيد ، لقد مسخ ذلك &#8221; الجمال &#8221; و لبس ثوبا من الحداد ، إلى أن جاء &#8221; بارع الجمال &#8221; فخلع عن مدينة الجمال إزارها الأسود ، وأقام لها عريسها ، والبسها ثوبا فضفاضا من الجمال والروعة ! !</li>
<li>&#8221; اذا ميت &#8221; : هل نفهم من كلمة &#8221; إذا &#8221; هنا أن المسيح تقابل مع موكب الجنازة على سبيل الصدفة ؟ كلا إن المسيحية لا تعرف صدفا ، بل ما نحسبه نحن &#8221; صدفة &#8221; إنما هو حلقة مرتبة في سلسلة منظمة ، هي سلسلة العناية الإلهية .</li>
</ul>
<p>وعلى هذا القياس قل في معجزة &#8221; المولود أعمى &#8221; إذ يقول البشير عن المسيح &#8221; وفيما هو مجتاز رأى إنسانا أعمى &#8221;           (يو ٩ : ١) فلم يكن اجتياز المسيح من ذلك المكان من قبيل الصدفة ، بل كان اجتيازه من هناك لقصد شفاء الأعمى بالذات فاذا قابلت أي شيء في حياتك يا أخى فاعلم أن هذا الشيء مرتب من السماء .</p>
<p>&#8221; معها جمع كثير من المدينة&#8221; : يبدو أن تجربة هذه المرأة كانت قاسية فادحة، إلى حد أنها جعلت أكثر الناس في المدينة يهرعون إليها يواسونها ، تلك روح طیبة كريمة أوصى بها الرسول &#8221; بكاء مع الباكين&#8221; روح المجاملات والمواساة ولكن الناس حين يواسون الناس ، يقفون معهم إلى حد تشيع الجنازة وحتى أقرب المقربين &#8220;للراحل الكريم &#8220;لا يستطيع أن ينزل معه لحملة إلى ساحة المقبرة ، اما يسوع فهو &#8221; الصديق الألزق من الأخ ، فهو لا يواسينا مجرد مجاملة فحسب ، بل يلمس بيده الرحيمة الحانية موضع الجرح فينا فيضمده ، قال أيوب الأصدقانه &#8221; کالكم معزون متعبون&#8221; اما الله فهو بحق &#8221; الروح المعزى &#8221; !!</p>
<ul>
<li>&#8220;تحنن عليها&#8221; : يوجد من يشارك &#8221; نيتشه &#8221; في القول بأن المسيحية مخطئه كل في الخطأ فى رقتها وشفقتها بالضعفاء، وأنها تساعد على بقاء النوع الأدنى بهذا الحنان ، علي أن شعار المسيحية &#8221; يجب علينا من الأقوياء أن نحتمل ضعف الضعفاء&#8221; .</li>
</ul>
<p>ان &#8221; نيتشه &#8221; نفسه لم يكن قاسياً ، لقد ذهب ليحارب ولكنهم أرجعوه إلى بيته لأنه لم يحتمل منظر الدماء ، لقد كانت حساسيته حساسية فتاة ، إنه كلام فقط ما يذيعه عن القوة ، إن ضعف المسيحية ، أو ما تسمونه ضعفاً هو عين القوة !!</p>
<ul>
<li>&#8221; لمس النعش فوقف الحاضرون&#8221; : إن لمسة واحدة من رب المجد احدثت اضطراباً في صفوف موکب بأكمله ، وهكذا مجئ يسوع إلى مكان ما يحدث اضطراباً عاماً في ذلك المكان ، الانجيل أكبر مزعج لسلام الخاطيء ، كالشمس تحدث حركة بين الوحوش والبوم والوطاويط ، على حد تعبير &#8221; آبید &#8221; !!</li>
</ul>
<p>&#8221; لك اقول &#8230; &#8221; : إن رب الجد دقيق جداً في تعبيراته ، لم يقل للشاب &#8220;قم &#8221; بلا تحديد ، بل قال له &#8221; لك أقول قم &#8221; وبكلمة &#8221; لك &#8221; نتبين تخصيص كلام السيد له المجد ، إنه يوجه النداء لشخص واحد فقط ، وإلا لو لم يكن قد حدد الكلام بقوله &#8220;لك أقول قم &#8221; فربما كان جميع الموتى في ذلك الوقت قد سمعوا النداء وقاموا !!</p>
<p>&#8220;أقول قم &#8221; : يا له من سلطان عجيب !! من هذا الذي يتحدث مخاطباً الموت &#8221; أقول قم &#8221; ؟! إنه يسوع الذي &#8221; يقول &#8221; للشيء كن فيكون ، إنه يسوع الذي يفتح ولا أحد يغلق ، ويغلق ولا أحد يفتح !! . •&#8221;أيها الشاب &#8221; : حتى الشباب يموتون &#8221; كسهام بيد جبار هكذا ابناء الشبيبة &#8221; !!</p>
<p>على قبر أحد الشبان في مقبرة انكليزية حجر نقش عليه هذه الكلمات :</p>
<p> سأل البستاني : من قطف هذه الوردة ؟</p>
<p>-اجابه خادمه قائلا : السيد !!</p>
<p>-فسكت البستاني .</p>
<p>&#8220;هو الله يفعل ما يشاء في جند السماء ، وفى سكان الأرض ، لا يوجد من يمنع يده ، أو يقول له ماذا تفعل ؟؟ &#8221;</p>
<ul>
<li>&#8220;جلس الميت &#8221; !! عجبا ، وهل الميت يجلس ؟ إنه المسيح .. إنه الله ، الذي قال عنه البشير &#8221; كل شيء به كان &#8221; إنه المسيح الذي قال فيه بولس الرسول &#8221; ورب واحد يسوع المسيح الذي به جميع الأشياء &#8221; ، وفى رسالته إلى كولوسي &#8221; فإن فيه  في المسيح  خلق الكل ما في السموات وما على الأرض &#8230; الكل به وله قد خلق الذي هو قبل كل شيء ، وفيه يقوم الكل &#8221; .</li>
<li>&#8220;الشمس والقمر &#8221; : حين أقام يسوع ابن الأرملة لا بد أن أعداء المسيح في حسدهم وغيظهم قالوا , &#8220;اليشع وإيليا أيضا صنع مثل يسوع &#8221; !! نعم ولكن ليعلم هؤلاء وأولئك أن إيليا واليشع حين أقاما ابنى أرملة الشونمية وأرملة صرفة بيت صيدا (۱مل ۱۷: ۲۱) ، (۲ مل ٤ : ٣٥) كانت القوة المحيية مكتسبة وليست غريزية فيهما ، مثل ذلك مثل ضوء القمر المكتسب من نور الشمس<a href="#_ftn3" name="_ftnref3">[3]</a>.</li>
</ul>
<h4>من وحي الانجيل الرابع من بابة</h4>
<p>&#8221;  أيها الشاب لك أقول قم &#8221; (لو ١٤:٧)</p>
<p>+ دعوة الرب لكل نفس ولكن خاصة للشباب</p>
<p>+ لايلومنا علي سقوطنا بل يمد يد الحب ليقيمنا</p>
<p>+ لايحاسبنا رغم أنّه الديان بل يشجّعنا ويقيمنا لأنّه المخلّص</p>
<p>+ هل نحن كخدّام لنا نفس الرسالة مع كل إنسان ؟</p>
<p>+ طبيعي أن ييأس الإنسان من خلاص نفسه لكن ماأخطر أن ييأس الخادم من خلاص من يخدمهم</p>
<p>+ فلنقم سريعا فهو ينتظرنا علي الباب ولنقم سريعا لئلا نخسر حتي الفتات الساقط من مائدة الأرباب</p>
<p>+ من يريد القيام لاينتظر وعاظ وحكماء بل يبحث عن من يشعر به ويأخذ بيده</p>
<p>+ ماأجمل أن يستخدمني الله لأقيم من وقع ،  وماأروع أن أجد الله يستخدمه ليقيمني وقت وقوعي في وقت آخر ، فالله بمحبته يقيم الكل خداما ومخدومين</p>
<p>+ الميت المحمول أمامنا كل يوم في النفوس اليائسة</p>
<p>+ فهل نحن ممن يبكي عليه أو من يحمله إلي القبر أم من يشعر به ويلمس قبره وتعبه ويدعوه للقيام ؟!</p>
<p><a href="#_ftnref1" name="_ftn1"></a></p>
<h3>المراجع:</h3>
<p><a href="#_ftnref1" name="_ftn1"></a>١- القديس كيرلس الكبير (تفسير إنجيل لوقا الإصحاح ٧) - القمص تادرس يعقوب ملطي</p>
<p><a href="#_ftnref2" name="_ftn2"></a>٢- JR, A. J. &amp; Oden, T.C. ( 2003 ). Luke (The Ancient Christian Commentary on Scripture,      New testament part III ). Illinois ( USA ) : InterVarsity press. Page 117</p>
<p>ترجمة الأخت إيفيت منير - كنيسة مار مرقس ببني سويف</p>
<p><a href="#_ftnref3" name="_ftn3"></a>٣- تفسير إنجيل لوقا للقديس كيرلس الإسكندري - ترجمة دكتور نصحي عبد الشهيد</p>
<p><a href="#_ftnref4" name="_ftn4"></a>٤- شرح وتفسير آباء الكنيسة لأناجيل آحاد السنة التوتية صفحة ٦٠ - شهر بابه - دكتور جوزيف موريس فلتس</p>
<p><a href="#_ftnref5" name="_ftn5"></a>٥- المرجع : تفسير سفر القضاة الإصحاح الرابع - القمص تادرس يعقوب ملطي</p>
<p><a href="#_ftnref6" name="_ftn6"></a>٦- المرجع : تفسير سفر الحكمة الإصحاح الثالث - القمص تادرس يعقوب ملطي</p>
<p><a href="#_ftnref7" name="_ftn7"></a>٧- المرجع : كتاب المنجلية القبطية الأرثوذكسية صفحة 203 – قداسة البابا تواضروس الثاني</p>
<p><a href="#_ftnref8" name="_ftn8"></a>٨- المرجع كتاب شفتاك يا عروس تقطران شهدا جزء٢ ، ص ١٢٠،  ١٢١  دير الانبا شنودة العامر بميلانو</p>
<p><a href="#_ftnref9" name="_ftn9"></a>٩- المرجع : كتاب تأملات روحية في قراءات أناجيل آحاد السنة القبطية - المتنيح القمص لوقا سيداروس</p>
<p>١٠- المرجع كتاب الفرح صفحة 35 – القمص يوسف اسعد</p>
<p><a href="#_ftnref2" name="_ftn2"></a>١١- المرجع كتاب تاملات وعناصر روحية في احاد وايام السنة التوتية اعداد القمص تادرس البراموسي</p>
<p><a href="#_ftnref3" name="_ftn3"></a>١٢- المرجع : كتاب المواعظ النموذجية الجزء الأول صفحة  ٣٢٢ - القمص بولس باسيلي</p>

      {% endcreateArticleAccordions %}
    </section>
  {% endblock %}
