---
layout: 'layouts/reading.html'
title: 'الاحد الاول من شهر هاتور'
tags: 'sundays'
permalink: /articles/sundays/3-1.html
---
  {% block content %}
    <section id="readings">
      <ul>
      {% if 'undefined' != 'undefined' %}
      
      {% else %}
      {% if '19.18:15,6' != 'null' %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">العشية</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeVespers '19.18:15,6' '41.4:10-20' %}
          </div>
        </div>
      </li>
      {% endif %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">باكر</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeMatins '19.65:9' '40.28:1-20' '' %}
          </div>
        </div>
      </li>
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <h3 class="flex items-center justify-between">
            <span class="kufi">القداس</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </h3>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeLitugy '47.9:1-9' '59.3:1-12' '44.10:37-48*@+44.11:1' '19.65:10-11' '42.8:4-15' %}
          </div>
        </div>
      </li>

      {% endif %}
        </ul>
    </section>
    <section id="article">
      <h3 class="mt-8 mb-4 heading-explain">شرح القراءات</h3>
      {% createArticleAccordions %}
        <p>&#8220;فيكون كشجرة مغروسة عند مجاري المياه، التي تعطي ثمرها في أوانه، وورقها لا يذبل. وكل ما يصنعه ينجح &#8221; (مز٣:١)</p>
<p>تفرح البرية والأرض اليابسة، ويبتهج القفر ويزهر كالنرجس يزهر إزهارا ويبتهج ابتهاجا ويرنم. يدفع إليه مجد لبنان. بهاء كرمل وشارون. هم يرون مجد الرب، بهاء إلهنا&#8230;. لأنه قد انفجرت في البرية مياه، وأنهار في القفر &#8221; (أش٣٥:٣١ -٦)</p>
<p>&#8221; هو يكون لهم ينبوع ماء حياة حلواً في حناجرهم أكثر من العسل - إذا أخبروا به تفرح قلوبهم وتزهر أجسادهم &#8221;</p>
<p><strong>أبصالية الثلاثاء</strong></p>
<p>&#8221; عند سماعكم هذا لا تبتدئوا تفتكروا في طبائع مختلفة كبعض الهراطقة الذين يذكرون أن للواحد طبيعة شرّيرة وللآخر صالحة ، وأن البعض تقودهم إرادتهم خلال تكوينهم إلي ما هو صالح أو شرير أضف إلي هذا أن الكلمات &#8221; قد أعطي لكم &#8221; تعني أنه لكم إرادة &#8221;    الأب غريغوريوس الكبير - تفسير إنجيل متي إصحاح ١٣ - القمص تادرس يعقوب ملطي</p>
<p>&#8220;كانت (الكنيسة) أولًا عديمة الماء، أما الآن فانفجرتْ فيها أنهار التعاليم الإلهية والمعتقدات السليمة، التي من يُغرَس على مجاريها يكون كالشجرة التي تعطي ثمارها في حينه وورقها لا ينتثر<a href="#_ftn1" name="_ftnref1">[1]</a> &#8221;</p>
<h3> شواهد القراءات</h3>
<p>(مز ١٧: ٦-١٥) ، (مر ٤ : ١٠-٢٠)، (مز ٦٤ : ١٠-٩) ، (مت ٢٨ : ١-٢٠)،( ٢كو ٩ : ١-٩) (يع ٣ : ١-١٢)،      (أع ١٠ : ١١ – ٣٧) ، (مز ٦٤ : ١١-١٠) ،( لو ٨ : ٤-١٥)</p>
<h3>ملاحظات على قراءات اليوم</h3>
<p>+ قراءة الإبركسيس اليوم (أع ١٠: ٣٧ - ١١: ١) تُشبه قراءة الإبركسيس (أع ١٠: ٣٤ - ٤٣) <a href="https://katameros.bible/church-reading/%d8%b9%d9%8a%d8%af-%d8%a7%d9%84%d8%b5%d9%84%d9%8a%d8%a8-%d9%82%d8%b1%d8%a7%d8%a1%d8%a7%d8%aa-%d8%a7%d9%84%d9%8a%d9%88%d9%85-%d8%a7%d9%84%d8%a3%d9%88%d9%91%d9%84-%d9%a1%d9%a7-%d8%aa%d9%88%d8%aa/">ليوم ١٧ توت الموافق لأوّل أيَّام عيد الصليب</a></p>
<p>قراءة اليوم للتركيز على موهبة الروح القدس التي أعطيت للأمم عند سماع كلمة الله</p>
<p>أمَّا مجيئها <a href="https://katameros.bible/church-reading/%d8%b9%d9%8a%d8%af-%d8%a7%d9%84%d8%b5%d9%84%d9%8a%d8%a8-%d9%82%d8%b1%d8%a7%d8%a1%d8%a7%d8%aa-%d8%a7%d9%84%d9%8a%d9%88%d9%85-%d8%a7%d9%84%d8%a3%d9%88%d9%91%d9%84-%d9%a1%d9%a7-%d8%aa%d9%88%d8%aa/">يوم ١٧ توت</a> للإشارة إلي موت المسيح له المجد وقيامته المُقدَّسة في آية ٣٩ ، ٤٠</p>
<p>+ مزمور القدَّاس اليوم (بارك إكليل السنة بصلاحك: وبقاعك تمتلئ من الدسم ) (مز ٦٤ : ١١) جاء أيضاً في قراءة مزمور القداس <a href="https://katameros.bible/church-reading/%d8%a7%d9%84%d9%8a%d9%88%d9%85-%d8%a7%d9%84%d8%a3%d9%88%d9%91%d9%84-%d9%85%d9%86-%d8%b4%d9%87%d8%b1-%d8%aa%d9%88%d8%aa/">يوم ١ توت ( رأس السنة القبطية )</a></p>
<p>والكلام اليوم يُشير إلي غني الثمر الإلهي في <a href="https://katameros.bible/church-reading/%d8%a7%d9%84%d8%a7%d8%ad%d8%af-%d8%a7%d9%84%d8%a7%d9%88%d9%84-%d9%85%d9%86-%d8%b4%d9%87%d8%b1-%d9%87%d8%a7%d8%aa%d9%88%d8%b1/">الأحد الأوَّل من شهر هاتور،</a> وإلي البركة الإلهية <a href="https://katameros.bible/church-reading/%d8%a7%d9%84%d9%8a%d9%88%d9%85-%d8%a7%d9%84%d8%a3%d9%88%d9%91%d9%84-%d9%85%d9%86-%d8%b4%d9%87%d8%b1-%d8%aa%d9%88%d8%aa/">في بداية السنة القبطية في يوم أوَّل توت</a></p>
<h3> شرح القراءات</h3>
<p>يتكلم هذا الأحد عن فيض الروح القدس للبشرية وينبوع العهد الجديد</p>
<p>تبدأ المزامير بإعلان نبع الروح (مزمور عشيّة ) ووصوله بفيض لأرضنا ( مزمور باكر ) وفرح أراضينا به ( مزمور القدَّاس)</p>
<p>لذلك تعلن المزامير هذا الينبوع الإلهي بظهوره للبشر وبداية إدراك البشر لهذا النبع في مزمور عشية ( ظهرت عيون المياه وانكشفت أساسات المسكونة )</p>
<p>بينما يوضح مزمور باكر وصول هذا النبع بفيض لأرضنا وامتلاء كياننا البشري به (تعهدت الأرض ورويتها وأكثرتها بغني وامتلأ نهر الله مياها)</p>
<p>لذلك يبين مزمور القداس استجابة الأرض لهذا الفيض ومدي فرحها به (فلترو أتلامها ولتكثر أثمارها وتفرح بقطراتها وتنبت &#8230;.. وبقاعك تمتلئ من الدسم)</p>
<p>ثم يتكلم إنجيل باكر عن معني فيض الروح للمؤمنين بداية معرفة أسرار الله وتدبيره الإلهي (فقال لهم : قد أعطي لكم أن تعرفوا أسرار ملكوت الله وأما الذين هم من خارج فبالأمثال يكون لهم كل شيء )</p>
<p>والمُلاحَظْ هنا مجيء مزمور باكر ومزمور القدَّاس من مزمور ٦٤ وهو المزمور الذي يتكلَّم عن كيف ينقل لنا الروح القدس العطايا الإلهية لذلك يقول أبونا أنطونيوس فكري أن &#8221; الأنهار والسواقي تشير للروح القدس الذي يروي أجسادنا &#8221; تفسير المزمور - القس أنطونيوس فكري</p>
<p>ويري الأب أنثيموس الأورشليمي أن &#8221; نهر الله يشير إلي نعمة الروح القدس الذي يفيض بها علي المؤمنين &#8221; تفسير المزمور - القمص تادرس يعقوب ملطي</p>
<p>أما الرسائل فتوضح إعلانات النعمة وقنواتها نعمة شركة العطاء ( البولس ) ونعمة الكلام المُمَلّح ( الكاثوليكون ) ونعمة انسكاب الروح للأمم ( الإبركسيس )</p>
<p>فيتكلم البولس عن نعمة الشركة والعطاء بفرح ومسرة لاعن حزن أو اضطرار ( ومن يزرع بالبركة بالبركة أيضا يحصد كل واحد كما ينوي بقلبه ليس عن حزن أو اضطرار لأن المعطي المسرور يحبه الله والله قادر أن يزيدكم كل نعمة لكي تكونوا ولكم كل اكتفاء كل حين في كل شئ تزدادون في كل عمل صالح )</p>
<p>أما الكاثوليكون فيوضح نعمة الكلام المقدس المملح بالنعمة كعلامه علي فيض الروح فينا ( من الفم الواحد تخرج البركة واللعنة لا يجب يا إخوتي أن تكون هذه الأمور هكذا ألعل ينبوعا ينبع من نفس عين واحدة العذب والمر هل تقدر يا إخوتي تينة أن تصنع زيتونا أو كرمة تينا فكذلك لا يمكن المالح أن يصير ماء عذبا )</p>
<p>بينما يعلن الإبركسيس عن أعظم نعم العهد الجديد نعمة انسكاب الروح ومواهبه علي الأمم دون تمييز كما حدث في عظة القديس بطرس في بيت كرنيليوس لدرجه اندهش لها مؤمني الختان (يسوع الذي من الناصرة كيف مسحه الله بالروح القدس والقوة &#8230;..فبينما بطرس يتكلم بهذه الأقوال حل الروح القدس علي جميع الذين كانوا يسمعون الكلمة فاندهش المؤمنون الذين من أهل الختان الذين جاءوا مع بطرس لان موهبة الروح القدس قد انسكبت علي الأمم أيضا &#8230;. حينئذ أجاب بطرس قائلا : أتري يستطيع أحد أن يمنع الماء حتي لا يعتمد هؤلاء الذين قبلوا الروح القدس كما نحن أيضا  )</p>
<p>لذلك يختم إنجيل القداس في مثل الزارع لتؤكد علي عطية الروح القدس للكنيسة في معرفة أسرار</p>
<p>الملكوت (فقال لهم : أما أنتم فقد أعطي أن تعرفوا أسرار ملكوت الله وأما للباقين فكان يكلمهم بأمثال حتي إنهم مبصرين لا يبصرون وسامعين لا يسمعون ولا يفهمون )</p>
<h3>ملخّص القراءات</h3>
<p>أي أن فيض الروح القدس للمؤمنين وللكنيسة كمثل ينبوع المياه الذي يملأ الأراضي والأنهار وتفرح البقاع به وتمتلئ بالدسم                                                                                            (مزمور عشية وباكر والقداس )</p>
<p>ويعطي استنارة وإدراك لأسرار الله وملكوته                                ( إنجيل باكر والقداس )</p>
<p>وتظهر نعمة الروح القدس في المؤمنين والكنيسة في شركة العطاء              ( البولس )</p>
<p>ونقاوة التعليم والكلام البناء                                                             ( الكاثوليكون )</p>
<p>وقبول الأمم والشعوب من خارج الحظيرة</p>
<h3>إنجيل القدَّاس في فكر آباء الكنيسة</h3>
<p>&#8220;يريد معلّمنا لوقا هنا أنْ يخبرنا بأن بعض النساء قد وضعن كل ممتلكاتهن تحت أقدام يسوع والاثني عشر. وهَكذا فإن الرسل اتّخذوا يسوع قدوة إذ استعانوا بالنساء في خدمة أعوزاهم حين كانوا يكرزون بالإِنجيل.&#8221; (القديس أوغسطينوس).</p>
<p>&#8220;يسوع هو الزارع الذي يغرس البذور.&#8221; (القديس كيرلُّس السكندري)، &#8220;وهو وحده الزارع الأرض منذ تأسيس العالم.&#8221; (القديس إكليمندس السكندري).</p>
<p>&#8220;إن البذرة ينبغي أنْ تذبل وتموت أولاً قَبْل أنْ تنضج وتأتي بثمر.&#8221; (القديس إكليمندس الروماني).</p>
<p>&#8220;البذرة لا ينبغي أنْ تُزْرَع على جانب الطريق، بَلْ في الطريق عينه – أَلَا وهو يسوع؛ لأنه هو الطريق.&#8221; (العلّامة أوريجانوس).</p>
<p>&#8220;,&#8221;مَن له أُذُنان للسّمع فليَسمَع.&#8221; فإن الأُذُنَ هي المدخل للقلب وللإنسان مِن الداخل.&#8221; (القديس باسيليوس الكبير).</p>
<p>&#8220;يتضح أن يسوع يفرّق الناس إلى جماعتَين: هؤلاء الذين وهبهم الله مَعرِفَة أسرار الملكوت، والباقين الذين لا عِلْمَ لهم بتلك الأسرار.&#8221; (القديس كيرلُّس السكندري).</p>
<p>&#8220;النفس الجاحدة كأنها طريقٌ مُعَدٌّ للشر.&#8221; (مار إفرام السرياني).</p>
<p>&#8220;البذور الساقطة على الصخر والتي تذبل هي مثالٌ للذين يعثرون ويرضخون أمام الاختبار والتجربة.&#8221; (القديس كيرلُّس السكندري)، &#8220;لأن كلمة الله القوية ت تَلْقَى أرضًا صلبة في أزمنة الاضطهاد.&#8221; (مار إفرام السرياني).</p>
<p>&#8220;ترمز الأشواك لِمَا تحويه الحياة مِن هموم وغِنَى وملاهٍ، وهَذه كلها تخنق البذور.&#8221; (القديس كيرلُّس السكندري)</p>
<p>&#8220;هناك درجات ومراتِب لنضوج الثَمَرة الجيّدة.&#8221; (القديس كيرلُّس السكندري).</p>
<p>&#8220;ينبغي أنْ يملأ نور الكلمة المُضيء الساكن في المُعَمَّد بيته الكنيسة ومنها ينضح بشعاعه كالمنارة للذين يقصدونها.&#8221; (العلّامة أوريجانوس).</p>
<p>&#8220;لمَن لهم، أَيْ لمَن لهم الإيمان والحياة والصبر – كل العطايا الإلَهية بواسطة الكلمة – بَلْ وأكثر تلك التي سوف ينالونها مِن لدن الله: الخلاص في اليوم الأخير.&#8221; (مار إفرام السرياني)<a href="#_ftn2" name="_ftnref2">[2]</a>.</p>
<h3>الكنيسة في قراءات اليوم</h3>
<p>العطاء للفقراء                                              البولس</p>
<p>جهنم                                                      الكاثوليكون</p>
<p>المعمودية + لاهوت الابن ولاهوت الروح القدس   الإبركسيس</p>
<p>ديّان الأحياء والأموات                                   الإبركسيس</p>
<h3>عظات مُقترحة</h3>
<p><strong>(١) العظة الأولي</strong></p>
<p>من أين تأتي مياه الروح</p>
<p>١-تعهدت الأرض ورويتها                                                              (مزمور باكر )</p>
<p>أهميه القانون الروحي لكل إنسان في أن يتعهد أرضه وحياته وتكون دائما في إرتواء (الشجرة المغروسة علي مجاري المياه  مزمور ١ )</p>
<p>٢- بقاعة تمتلئ من الدسم                                                   (مزمور القدَّاس )</p>
<p>من يزرع بالبركة.. كما ينوي بقلبه                                              ( البولس )</p>
<p>غني الحياة المُقدَّسة والأعمال الصالحة وإستقامة القلب</p>
<p>٣- من الفم الواحد تخرج البركة واللعنة                                     ( الكاثوليكون )</p>
<p>كلمات الإنسان يمكن أن تكون للبنيان ومُمَلّحة بالنعمة فتشهد لعمل الروح فيه</p>
<p>أو يمكن أن تكون كلمات مرار وهدم فتُضْعِف عمل الروح فيه</p>
<p>(ليكن كلامكم كل حين بنعمة مصلحا بملح &#8230; ؟ )</p>
<p>٤- حل الروح القدس علي جميع الذين كانوا يسمعون الكلمة            ( الإبركسيس )</p>
<p>أهمّية الاستماع الدائم لكلمة الله ومدي تأثير الكلمة الإلهية في قلب الإنسان (راجع (أش ٥٥: ١٠-١١)</p>
<p>٥- أما أنتم فقد أعطي أن تعرفوا أسرار ملكوت الله                      ( إنجيل القدَّاس )</p>
<p>استنارة الروح في الإنسان هي عطيّة إلهية مجانية تُعطي لمن يتعهدوا دائماً أرضهم ويروون أراضيهم بغني ويعيشون باستقامة القلب واللسان ويسمعون دائما الكلمة المُقدَّسة</p>
<p><strong>(٢) العظة الثانية</strong></p>
<p>مياه الروح (رؤيا حزقيال ٤٧ )</p>
<p>&#8221; والمياه إلي الكعبين &#8221; (حز٣:٤٧)</p>
<p>تصل المياه إلي الكعبين حسب علاقتنا بكلمة الله كما يقول المزمور (سراج لرجلي كلامك ونور لسبيلي ) وكما يُعْلِن القديس بولس في رسالة أفسس ( حاذين أرجلكم باستعداد إنجيل السلام ).</p>
<p>هنا تكون كلمة الله هي منهج الحياة ومصدر الإرشاد ومرجع السلوك ومقياس الكمال</p>
<p><strong>١-يسمع ويقرأ الكلمة</strong></p>
<p>(طوبي لعيونكم لأنها تبصر ولآذانكم لأنها تسمع فلنستحق أن نسمع ونعمل بأناجيلك المُقدَّسة) أوشية الانجيل المقدَّس</p>
<p>الانتظام والدوام والاستمرارية في قراءة كلمة الله يهيئ النفس لعمل الروح</p>
<p>(لأنه كما ينزل المطر والثلج من السماء &#8230; هكذا تكون كلمتي التي تخرج من فمي) (أش ٥٥: ١٠-١١)</p>
<p>٢- يُفتِّش وتسكن فيه الكلمة بغني</p>
<p>راجع (يو ٣٩:٥)،  (كو ١٦:٣) ،  (مز ١ : ٢-٣)</p>
<p>عندما يلهج فيها الأنسان نهاراً وليلاً يكون كالشجرة المغروسة على مجاري المياه التي تعطي ثمرها في حينه</p>
<p>٣- منهج الحياة ومرجع السلوك</p>
<p>راجع يش ٨:١</p>
<p>لا يبرح سفر هذه الشريعة من فمك بل تلهج فيه نهاراً وليلاً لكي تتحفظ للعمل حسب كل ما هو مكتوب فيه لأنك حينئذ تصلح طريقك وحينئذ تفلح</p>
<p>٤- مقياس الكمال</p>
<p>راجع (٢تي ٣: ١٥-١٦)</p>
<p>كل الكتاب هو مُوحي به من الله ونافع للتعليم والتوبيخ للتقويم والتأديب الذي في البرّ لكي يكون إنسان الله كاملاً متأهباً لكل عمل صالح</p>
<p><strong>(٣) العظة الثالثة</strong></p>
<p>طيور السماء - الشمس - الشوك</p>
<p>١- طيور السماء</p>
<p>وهي التي ذُكرت في التجربة الأولي لتُعلن عن أفكار وحروب الشياطين التي لا تكف عن مهاجمتنا دائماً</p>
<p>لذا يجب الحرص من هجوم الطيور فوق رؤوسنا بين الوقت والآخر وكما قال أحدهم أننا لا يمكن أن نمنع الطيور أن تُحلِّق فوق رؤوسنا لكنّنا يمكننا أن نمنعها من أن تصنع عشاً فوقها</p>
<p>وهي تُمثِّل كل الخطايا التي يعرضها عدو الخير علي أولاد الله لكنه لا يملك السلطة عليهم والخطورة هي في قبول الإنسان للأفكار الرديئة</p>
<p>٢- الشمس</p>
<p>وهي التي ذُكرت في التجربة الثانية وهي تُمثِّل التجارب التي يجتازها كل البشر وهي يمكن أن تحرق زرعنا إذا لم يوجد العمق في حياتنا فيكون الزرع ضعيفاً وغير قادر علي الصمود وأمام أشعة الشمس الحارقة وكما قال الرب في الموعظة علي الجبل بالبيت المؤسس علي الصخر والبيت المؤسس علي الرمل وكيف جاءت الأنهار وهبَّت الرياح فكشفت حالة البيت وثباته أو ضعفه</p>
<p>٣- الشوك</p>
<p>وهو الذي ذُكر في التجربة الثالثة وهو يُمثِّل الثعالب الصغار والاستهانة بالأمور التي تبدو بسيطة لذلك قال القديس بولس &#8221; امتنعوا عن كل شبه شر &#8221; (١تس ٢٢:٥)</p>
<h3>عظات ابائية</h3>
<h4>خطورة الأشواك حسب تعليم القديس يوحنا ذهبي الفم</h4>
<p>&#8221; لأنَّ أرضًا قد شَرِبَتِ المَطَرَ الآتيَ علَيها مِرارًا كثيرَةً، وأنتَجَتْ عُشبًا صالِحًا للذينَ فُلِحَتْ مِنْ أجلِهِمْ، تنالُ بَرَكَةً مِنَ اللهِ.&#8221;</p>
<p>(عب ٧:٦)</p>
<p>لنستمع لكلام الله بمخافة، بخوف ورعدة. يقول المرنم &#8221; اعبدوا الرب بخوف واهتفوا برعدة&#8221;. لكن إن كان فرحنا وهتافنا يجب أن يكون برعدة، حين يكون الكلام مخيف، مثل الكلام الحالي، فأي عقاب سنكون مستحقين له، إن لم نلاحظ هذه الأقوال برعدة؟ فبعدما قال الذين سقطوا لا يمكن أن يعتمدوا للمرة الثانية، ولن ينالوا غفران الخطايا مرة أخرى، وبعدما أظهر كم هو مُخيف هذا الأمر، أضاف &#8220;لأن أرضًا قد شربت المطر الآتي عليها مرارًا كثيرة وأنتجت عشبا صالحا للذين فلحت من أجلهم تنال بركة من الله ولكن إن أخرجت شوكًا وحسكًا فهي مرفوضة وقريبة من اللعنة التي نهايتها للحريق&#8221;.</p>
<p>إِذا لنخف أيها الأحباء. هذا التهديد ليس من الرسول بولس، هذا الكلام ليس من إنسان، بل هو من الروح القدس، من المسيح الذي يتكلم من خلال بولس. ترى مّنْ هو نقي من هذه الأشواك؟ حتى وإن كنا بعد أنقياء، فلا ينبغي أن تكون لنا شجاعة أو جرأة، بل يجب أن نخاف ونرتعد، لربما تنبت داخلنا أشواك. لكن حين نكون جميعنا بالكامل شوكا وحسكا، من أين تكون لنا الجرأة، أخبرني، وما الذي جعلنا أن نبقى في لا مبالاة؟ ما الذي يجعلنا خاملين؟ فإن ذاك الذي يعتقد أنه قائم، ينبغي عليه أن يخاف ربما يسقط، لأن الرسول بولس يقول &#8220;من يظن أنه قائم فلينظر أن لا يسقط&#8221;، فكم بالحري الذي سقط، ينبغي عليه أن يعتني بنفسه حتى يقوم؟ فإن كان الرسول بولس يخشى ربما بعدما &#8220;كرز للآخرين، يصير هو نفسه مرفوضًا&#8221;، ذاك الذي كان مُختبر للغاية، يخشى أن يصير مرفوضًا، أما نحن الذين صرنا بالفعل مستحقين للطرد، أي دفاع سيكون لنا، عندما لا نحيا في خوف، فقط نُتمم المراسم الدينية ونخلص لها علي سبيل العادة لا أكثر؟ إذا أيها الأحباء لنخف. “لأن غضب الله مُعلن من السماء”. لنخف، لأن هذا الغضب ليس فقط هو مُعلن ضد الفجور، بل وضد كل عمل ظالم، سواء كان صغيرا أو كبيرًا.</p>
<p>هنا هو يُشير إلى محبة الله للبشر. أما المطر فهو يشير إلى التعليم. وكما قال سابقًا &#8220;كان ينبغي أن تكونوا معلمين بسبب طول الزمان&#8221;، نفس الأمر يقوله هنا أيضا، والكتاب يتحدث عن التعليم في مواضع كثيرة بكلمة المطر، يقول: &#8220;وأوصي الغيم أن لا يمطر عليه مطراً&#8221; متحدثا عن بُستان اللّه. نفس الأمر نجده فموضع آخر حيث يدعو (التعليم) بالجوع بسبب نقص الخبز، وبالعطش بسبب نقص الماء. وفي موضع آخر يقول: &#8220;سواقي الله ملآنة ماء &#8220;. لأنه يقول &#8220;لأن ارضاً قد شربت المطر الآتي عليها مرارًا كثيرة&#8221;. هنا يُظهر أنهم قبلوا الكلمة مرات عديدة بخمول لكنهم ولا هكذا قد انتفعوا. فإن لم تكن قد فلحت، وإن لم تكن قد قبلت المطر، ما كان للشر أن يكون كبيرًا بهذا القدر، لأنه يقول: &#8220;لو لم أكن قد جئت وكلمتهم لم تكن لهم خطية&#8221;، لكن إن كنت قد شربت، وقَبلِت (المطر) مرات كثيرة فلأي سبب تُثمر أشياء أخرى بدلاً من أن تُنتج ثمارا جيدة؟ لأن الكتاب يقول &#8220;فانتظر أن يصنع عنبًا فصنع عنبًا رديا&#8221;.</p>
<p>أرأيت أن الكتاب يدعو الخطايا بالأشواك؟ لأن داود يقول أيضًا &#8220;تحولت رطوبتي إلى يبوسة القيظ&#8221;. وهذه اليبوسة أو الشوكة لم تأت فقط، بل تسمرت. وإن كان هناك جزء من الشوكة لا زال باقيًا بعد ولم نخرج الشوكة كاملة، فإن هذا الجزء يؤلمنا تمامًا مثل الشوكة بكاملها. ولماذا أتكلم عن هذا الجزء الصغير؟ لأنه بعدما نخرجه يبقى ألم الجرح لمدة طويلة بعد. ولهذا يحتاج الجرح لعلاج واهتمام شديد، حتى نُشفى منه تمامًا. لأنه لا يكفي فقط، أن نبيد الخطية، بل يجب أن نعالج مكان الجرح.</p>
<p>لكنني أخشى لربما يكون الكلام موجه لنا نحن، أكثر منه لآخرين، أي &#8220;أرضا قد شربت المطر الآتي عليها مرارا كثيرة&#8221;. لأننا باستمرار نشرب، باستمرار نسمع، لكن نفقد ندى الفجر عندما تشرق الشمس، ولهذا نُخرِج أشواك. ليتنا نسمع المسيح الذي يقول أن &#8220;الذي سقط بين الشوك هم الذين يسمعون ثم يذهبون فيختنقون من هموم الحياة وغناها ولذاتها ولا ينضجون ثمرًا&#8221; لأن الرسول بولس يقول &#8221; لأن أرضًا قد شربت المطر الآتي عليها مرارًا كثيرة وأنتجت عشبا صالحًا&#8221;.</p>
<p>لا يوجد أمراً نافعاً بهذا المقدار الكبير، بقدر الحياة النقية، ولا أمرًا متوافقًا ومتوازنا، مثل طريقة الحياة الفاضلة، لا شيء نافع بهذا القدر، مثل الفضيلة. يقول: &#8220;أنتجت عشبًا صالحًا للذين فلحت من أجلهم تنال بركة من الله&#8221;. هو هنا يقول إن الله هو المسبب لكل الأشياء، فيضرب اليونانيين رويدًا رويدًا الذين يعللون إنتاج الثمار لقوة الأرض. إذ يقول ليست أيدي الفلاحين هي التي تجعل الأرض تُثمر، بل أمر الله. ولهذا يقول &#8220;تنال بركة الله&#8221;. ولاحظ أنه لم يقل عن الشوك &#8220;تُنتج شوكا&#8221;، ولم يستخدم هذه الكلمة النافعة، لكن ماذا قال؟ قال &#8220;أخرجت شوكًا&#8221;. كما يمكن للمرء أن يقول، أنبتت أو أخرجت<a href="#_ftn3" name="_ftnref3">[3]</a>.</p>
<h4>أعدد حقلًا جديدًا من قطعة الأرض التي سلّمها لك الرب للعلَّامة أوريجانوس:</h4>
<p><strong>&#8220;احرثوا لأنفسكم حرثًا، ولا تزرعوا في الأشواك&#8221;.</strong></p>
<p>قيل هذا الكلام على وجه الخصوص للمعلمين والمبشرين؛ حتى لا ينطقوا بكلمات الإنجيل للسامعين قبل تهيئة حقولٍ جديدة (محروثة) في نفوسهم. لأنهم متى هيأوا حقولًا جديدة في النفوس، ومتى أصبح الناس مُعدين لاستقبال التعاليم كما في الأرض الجيدة الصالحة، عندئذ يزرعون ليس في الأشواك</p>
<p>على العكس، قمنا نحن بزرع بذور مقدسة قبل أن نُعد حقولًا جديدة في عقول الناس، زرعنا عقيدة الآب والابن والروح القدس، والقيامة، والعقاب والراحة الأبدية والناموس والأنبياء وغير ذلك من تعاليم الكتاب المقدس. أننا بهذا نخالف الوصية التي تقول أولًا: &#8220;احرثوا لأنفسكم حرثًا&#8221; أعدوا لأنفسكم حقولًا جديدة، ثانيًا: &#8220;لا تزرعوا في الأشواك&#8221;</p>
<p>قد يقول أحد السامعين: أنني لست أعلم، فهذه الوصية ليست لي</p>
<p>ليكن! كن مزارعًا (معلمًا) لنفسك، ولا تزرع في الأشواك، إنما أعدد حقلًا جديدًا من قطعة الأرض التي سلّمها لك الرب. اهتم بهذه الأرض. ابحث أين توجد الأشواك، أين توجد الهموم والاهتمامات المادية وإغراءات الغنى وحب الشهوة، وانزع في الحال تلك الأشواك التي في نفسك. ابحث عن المحراث الروحي الذي قال عنه يسوع: &#8220;ليس أحد يضع يده على المحراث وينظر إلى الوراء يصلح لملكوت الله&#8221; (لو ٩: ٦٢). بهذا تكون قد أعددت حقلًا جديدًا. بعد إعداد هذا الحقل، اذهب وخذ بذارًا من المعلمين ومن الشريعة والأنبياء والكتابات الإنجيلية وكلمات الرسل، وازرعها في نفسك بتذكرها وتنفيذها. ستبدو لك أن هذه البذار تنمو من تلقاء ذاتها، لكن الحقيقة أنها لا تنمو من مجرد تذكرك إياها، بل الرب هو الذي ينميها. &#8220;أنا غرست وأبلوس سقى، لكن الله كان ينمي&#8221; (١كو ٣: ٦)<a href="#_ftn4" name="_ftnref4">[4]</a></p>
<h4>كيف نقتلع الأعشاب الضارة (محبَّة العالم ) من قلوبنا عند القديس أغسطينوس</h4>
<p><strong>كفوا عن محبة العالم وسوف تبدأ محبة المسيح ان تسكن فيكم.</strong></p>
<p>إذا أفرغتم قلوبكم من المحبة الأرضية فسوف ترتوون من المحبة الالهية ، وتبدأ المحبة المسيحية تسكن فيكم والتي لا يمكن ان ينبع منها أي شيء شرير . اسمعوا اذا لكلماته ، انه ينظر الي قلب الانسان كأنه حقل يسكن فيه ، بأي حال سوف يجده ؟ اذا وجده مليئا بالأعشاب سوف ينقيه منها واذا وجده نظيفاً سوف يبدأ في زراعته ، سيزرع فيه شجرة عظيمة هي شجرة المحبة .</p>
<p>ما هي الأعشاب التي سيقتلعها ؟ انها محبة العالم . استمعوا اليه وهو ينظف القلب من الاعشاب الضارة قائلاً &#8221; لا تحبوا العالم ولا الأشياء التي في العالم إن أحب أحد العالم فليست فيه محبة الآب &#8221; (١يو٢: ١٥) .</p>
<p>حين تسمعون &#8221; إن أحب أحد العالم فليست فيه محبة الآب &#8221; لا تفهموا ذلك بطريقة خاطئة يا أخوتي انه كلام الله ، لقد تحدث الروح القدس في الرسول وحديثه هو الحق بعينه ( إن أحب أحد العالم فليست فيه محبة الآب ) .</p>
<p>هل ترغبون في محبة الآب لكي تشتركوا في ميراث الابن؟ لا تحبوا العالم ، اطردوا محبة العالم الشريرة (من قلوبكم ) لكي تمتلئوا بمحبة الله . أنتم آنية ، لكنكم آنية ممتلئة ، اسكبوا الذي فيكم لكي تتقبلوا ما تفتقرون اليه . لقد ولدنا ثانية من الماء والروح ، حسن لنا جداً أن لا نحب العالم والا تحولت الأسرار المقدَّسة فينا الي دينونة لنا بدلاً من أن تكون وسيلة تساعدنا لكي نخلص .</p>
<p>لكي تكون لكم قوة الخلاص يجب ان تكون فيكم جذور المحبة لكي تنالوا قوة علي الصلاح ولا تكونوا (مسيحيين) في الشكل فقط  (٢تي٣: ٥). الصورة جميلة ومقدسة ولكن اذا لم تمتلكوا الجوهر فكيف يكون الشكل جميلاً؟</p>
<p>ان الغصن الذي يقطع يلقي في الحريق . امتلكوا الصورة ولكن عن طريق اقتناء الجوهر فبأي طريقة يمكن ان تعمقوا الجذور مالم تنقوا أولاً الأرض ؟</p>
<p>ذلك بأن تحفظوا المحبة كما يقول القدِّيس : &#8221; وانتم متأصلون ومتأسسون في المحبة &#8221; (اف٣: ١٧) . كيف يمكن أن تتعمق المحبة بين الأعشاب البرية التي هي محبة العالم ؟ نقوا أرضكم من هذه الأعشاب .</p>
<p>لقد وضعت فيكم بذرة قوية أبدية وخالدة لا تدعوها تزرع في ارض تخنقها ، هذه هي الكلمات التي تنقي قلوبكم &#8221; لا تحبوا العالم ولا الأشياء التي في العالم إن أحب أحد العالم فلن تثبت فيه محبة الآب<a href="#_ftn5" name="_ftnref5">[5]</a> &#8221; .</p>
<h4>عظة للام سنكليتيكي</h4>
<p><strong>حديثها عن المحبة كأهم الوصايا.</strong></p>
<p>نحن الذين اختبرنا الخلاص من كل الصغائر، فإن هذا كان بسبب استمرارنا في التحفظ من اللامبالاة الداخلية. لأنه ينبغي أولًا أن نسهر ونحافظ على ما تعلمناه من الرب الواهب الذي قال: &#8220;تحب الرب إلهك من كل قلبك ومن كل نفسك ومن كل فكرك. وتحب قريبك كنفسك&#8221; (مت٢٢: ٣٧-٣٩). وذلك يكون أولًا بحفظ الوصايا، وبالاتكال التام على الرب الذي أنعم علينا. لأنه فعلًا الصراخ عاليًا ولو بكلمة صغيرة يعبر في المقابل على عدم تدرب وعدم خبرة في قوة هذه الوصية. لأن كل الوصايا مرتبطة بفتور المحبة، كما شهد بولس الرسول وقال: &#8220;إن غاية الوصية فهي المحبة من قلب طاهر وضمير صالح وإيمان بغير رياء&#8221; (١تى١: ٥). لأنه حقًا ما دام البشر متمتعين بكلام الروح القدس النافع، فإن المحبة تكون فيهم إلى النهاية، ويكون الخلاص والوقاية مضاعفًا بالمحبة.</p>
<p><strong>تأملاتها في مثل الزارع.</strong></p>
<p>ويجب من أجل هذه المحبة أن نكون حارين بالروح، وأيضًا تبلغ كل واحدة منا إلى التمييز الذي هو أعظم شيء نقبله. واللاتي يندفعن في الكلام يرتدون للخلف&#8221;. وقد قالت سينكليتيكي لهن: &#8220;لا نهمل المثل الذي جاء في الإنجيل عن الإثمار ثلاثين وستين ومئة (مت١٣: ٨ -٢٣). وأن تكون المئة هي تعهدنا الذي يجب أن نصل إليه، وذلك يكون بالاندفاع في تنفيذ الطقوس بانضباط وعفة. والذين يحيون بتعقل واعتدال يثمرون ثلاثين، ثم يرتقون إلى الأعلى (أي ستون ومئة)، لأن التقدم والنمو بتدرج أكثر فائدة. ونقائصنا تدفعنا بالأكثر إلى المجازفة. والنظر إلى ما هو أشر وأردأ فينا لا يوقف قوتنا الضعيفة، بل يدفعها للدخول إلى العمق، ويجعل النفس تتحمل الموت. لهذا فإن بعض الضعف في تمييز رسالة البتولية التي تحملونها يعثر أفكاركم، مثل إشاعتكم للأخطاء التي تسمعون عنها، والكلام عن الآخرين هو من الشيطان، أما السلوك بتعقل واعتدال يجعلنا جديرين ب300 ضعف، ويحفظ النفس ببساطة من كل ما هو قديم وبالى، ولتعرف النفس أن هذا هو هدف العدو. ولأن التحرر من النقائص الكثيرة يقود النفس إلى الراحة، مثل هروب الجندي من العقاب، لأن النفس التي لا تتغير أثناء الحرب تستحق العفو، وتحصل على الخلاص من العقوبة. وينبغي كما قلت سابقًا أن نتخطى الاحتياجات الكثيرة، كما علمنا الرسول أنه يجب أن: &#8220;أسعى نحو الغرض لأجل جعالة دعوة الله العليا في المسيح يسوع&#8221; (في٣: ١٤). وينبغي حينما نقوم بعمل ثمر المئة فلا نحصر أنفسنا فيها، لأن الرقم ليس هو نهاية البذل، لأنه قال: &#8220;كذلك أنتم أيضًا إذا فعلتم كل ما أمرتم به فقولوا إننا عبيد بطالون. لأننا عملنا ما كان يجب علينا&#8221; (لو ١٧: ١٠)<a href="#_ftn6" name="_ftnref6">[6]</a>.</p>
<h4>أن حديقة النفس تحتاج الى ينبوع ماء حتى يزهر البستان حين يروى باستمرار من تلك المياه للقديس غريغوريوس النيسي :</h4>
<p><strong>العين المقفلة</strong></p>
<p>&#8221; أختي العروس &#8230; عين مقفلة &#8230; ينبوع مختوم &#8221; (نش ٤: ١٢)</p>
<p>أن حديقة النفس تحتاج إلى ينبوع ماء حتى يزهر البستان حين يروى باستمرار من تلك المياه . ويشرح لنا سفر الامثال ذلك بطريقة رمزية حين يقول &#8221; لا تفض ينابيعك الى الخارج . سواقي مياه في الشوارع . لتكن لك وحدك وليس لأجانب معك &#8221; (أم ٥: ١٦ - ١٧) هنا يحذرنا الوحى الإلهي من أن يسلبنا أي أحد من مياه ذلك الينبوع والا يأخذ الغريب من ذلك الينبوع لأن كلمة مختوم تفيد أن ينبوع الماء تحت الحراسة ، وهذا يرمز الى عمل الروح الداخلي . لأن كل الأفكار تنبع من الداخل دائما ولكن حين تنجذب لتلك الأفكار ونخضع للأشياء التي تجذبنا وحينئذ نسقط . ولذلك نحن نتقدم دائما نحو البر حين نرفض تلك الأفكار الشريرة .</p>
<p>فالإنسان حبن يتحول بفكره نحو الشر فهو يعطى نبع مائه للغرباء وعندئذ يزداد الشوك في بستانه وتجف وتنشف النباتات المفيدة حين لا تروى نفوسنا من الأفكار الجيدة . والآن يجب أن نعلم أن الختم يحفظ صيانة ما نحميه لأن الختم يخيف اللصوص ويعيقهم عن أخذ أي شيء . ويصير نبع الماء بكرا لأنه لم ينتهك ويظل محفوظا للرب وحده . ونحن هنا نرى قمة المدح والمجد المقدم للعروس لأن فكرها أصبح طاهرا لم يمسه العدو بعد لأنها تحتفظ بنقاوتها وكمالها . أنه ختم الطهارة الذى يحفظ النبع طاهرا للرب ، ويحفظ نقاوة القلب حين لا يتلوث بالأفكار الشريرة .</p>
<p>ويمكن أن نعبر عن نفس الفكرة بطريقة أخرى . لأننا نعلم أنه يوجد أشياء طبيعية فينا ويوجد أشياء أخرى ليست من طبيعتنا ولكننا نكتسبها من الخارج . ولهذا يقول سفر الأمثال أن لا نعطى ماء ينبوعنا الى الغريب بل نستعمله لحديقتنا الخاصة حتى نروى غرس الله . وهذه النباتات هى رمز الفضائل لأنه اذا ما انشغل فكرنا بتلك الفضائل فان النفس لن تهتم بتلك الأشياء الخارجية وسوف تسلك نحو الفضيلة والبر وعندئذ تختم ذاتها بخاتم الحق<a href="#_ftn7" name="_ftnref7">[7]</a> .</p>
<h3>عظات اباء وخدام معاصرين</h3>
<h4>مثل الزارع لقداسة البابا تواضروس الثاني</h4>
<p><strong>الحياة معلم عظيم</strong></p>
<p>هدف المثل : تفسير اختلاف قبول الملكوت .</p>
<p>كلام الله    : القوة الكامنة في كل كلمة .</p>
<p>الطريق.   : يمثل الشريحة الأولى من الناس : أنه الشخص الذى يسمع الكلمة ولا يفهم قوتها ، ولا يتأثر بها ، فإراته لا تحفظ ما يسمعه ، وعقله مثل طريق مداس بأفكار ورغبات .</p>
<p>الصخر    : هو الشخص سريع التأثير ، ولكنه قليل العمق . له عاطفة ويقبل بفرح وقتي يزول وقت الألم والتجربة .</p>
<p>الشوك     :  طريقة الزراعة الشرقية هي بذر البذار ثم الحرث والأرض بدون تنظيف من الشوك . مثل هذا الشخص له حياتين أو أن المسيحية إحدى مشغولياته بسبب :</p>
<p>١ – هموم الحياة  : مشاغل العمل ، الأسرة ، والصحة .</p>
<p>٢ – غرور الغنى : مسرات الحياة .</p>
<p>٣ – لذات الحياة : رغبات ومسرات .</p>
<p>+ الصالح : هو من مثله الأعلى شخص المسيح وله قلب صالح جيد يعيش بأمانه + إخلاص</p>
<p><strong>أهم درسان في هذا المثل :</strong></p>
<p>أ – البداية الصغيرة ( بذرة ) .. في الوضع الصحيح تؤدى إلى محصول وفير جداً .</p>
<p>ب – رد الفعل تجاه الكلمة ( طريق – صخر – شوك – صالحة ) كما يلى :</p>
<p>١ – على الطريق انداس وأكلته الطيور : بلا جهد = بلا فهم .</p>
<p>٢ – على الصخر والحجر                : بلا عمق = بلا أصل .</p>
<p>٣ – على الأشواك                         : بلا حرص = بلا نمو .</p>
<p>٤ – على الأرض الجيدة                   : بلا كسل = بكل همة ونشاط .</p>
<p>+ الكلام الذى أكلمكم به هو روح وحياة كيف ؟ !</p>
<p>المسيح حاضر في الكلمة &#8230; وفى الأسرار &#8230; والكنيسة هي الأسرار والإنجيل .</p>
<p><strong>الخسارة  والنجاح</strong></p>
<p>كما ذكر السيد ثلاث درجات للخسارة في هذا المثل ، ذكر أيضاً ثلاثة درجات للنجاح مساوية في العدد ( والإنسان حر في القبول والرفض ) .</p>
<p>درجات الخسارة :</p>
<p>١ – طريق .. تخطف / الرافضون .       ( يهوذا الاسخريوطى )</p>
<p>٢ – صخور .. تجف / العاطفيون .</p>
<p>٣ – أشواك .. تخنق / المشغولون .</p>
<p>درجات النجاح : المثمرون بالصبر / الجهاد</p>
<p>١ – مائة .. الذين يفيضون      ٢ – ستين .. الذين يأخذون        ٣ – ثلاثين .. الذين يشتاقون .</p>
<p>+ والذين يزرعون بالدموع يحصدون بالابتهاج .</p>
<p>+ المسيح يمكنه أن يغير القلب (حز ٣٦: ٢٦) = &#8221; أنزع قلب الحجر من لحمهم وأعطيهم قلب لحم &#8221; .</p>
<p><strong>الملكوت السماوى</strong></p>
<p>أصحاح (متى ١٣ ) يقدم أمثال الملكوت السماوي وعددها سبعة أمثال . والملكوت ينتشر عن طريق بذار الكلمة ؛ لأن بذرة الحياة الجديدة هي كلمة الله المقدسة &#8230; ولكن الاستجابة هي حسب نوعية القلب :</p>
<p>نوع القلب                                        حالته                                                نوع الأرض</p>
<p>قلب متعجرف           حيث مسكن شيطان الكبرياء . فالطرق صلب.                           الطريق</p>
<p>قلب مرائي              طبيعته حجر وإن كان مظهره  غير ذلك . هذا هو الرياء                الصخر</p>
<p>قلب مهموم              بالعالم والمشاغل والغنى . هذا هو محبة  الأرضيات                    الشوك</p>
<p>قلب واعي               شاكر لأعمال الله  معه . إنها أرض منخفضة  ( متضعة )              الجيدة</p>
<p>هذه هي الضعفات :</p>
<p>١– القساوة واللامبالاة .                   ٢ – الافتقاد إلى العمق الروحي ( السطحية ) .</p>
<p>٣- الانشغال بهموم الدنيا وغناها        ٤ – الاهتمام والتواضع والجهاد<a href="#_ftn8" name="_ftnref8">[8]</a></p>
<h4>عظة للمتنيح القمص لوقا سيداروس</h4>
<p><strong>مثل الزارع</strong></p>
<p><strong>جلسة مع الرب</strong></p>
<p>هذا المثل فسره الرب للتلاميذ غلي انفراد &#8230; فهو عندما تختلي معه وتسأله عن اسرار الملكوت يفسر لنا ويفتح ذهننا لكي نفهم الكتب ، إذن لا يفهم الإنجيل المقدس في وسط مشغولات العالم واهتماماته ، وإنما يحتاج إلى جلسة على انفراد مع المسيح له المجد ، نسآله. ونفهم منه ما يعسر علينا استيعابه</p>
<p><strong>يشبه ملكوت السماوات</strong></p>
<p>+ إن ملكوت الله معناه أن الله يصير ملكاً علينا . إذن ملكوت الله فينا يمكن تشبيهه بنمو البذور في بطن الإرض ، وهذا يجعلنا نتأمل جيدا في أسرار النمو</p>
<p>+ كيف تواجه البذور في بدأيه نموها مقاومات. وصراع ضد عوامل كثيرة من الدفن في التربة إلي قول الرب &#8221; أن حبه الحنطة إن لم تمت وتدفن في الأرض تبقى وحدها ، ولكنها إن ماتت تآتي بثمر كثير &#8221; . إن هذا الصراع بين ما هو إلهي وما هو أرضي و بداية ملكوت الله .</p>
<p>+ أن ملكوت الله لأبد أن ينمو يوماً فيوم مثل البذار أما أي توقف في ملكوت الله فينا فهو إنذار بالخطر في حياتنا الروحية .</p>
<p>+ الزارع الجيد هو ابن الإنسان</p>
<p>+ المسيح يزرع فينا كلمته كل يوم وفي كل مناسبة ، وهو يلقي بذاره بلا انقطاع ، وكلمته دائمة إلي الأبد ، هو كلم الآباء  قديماً بالأنبياء وبطرق متنوعة ، أما الآن فهو يكلمنا بذاته لأنه هو الكلمة الذاتي ، وهو يزرع فينا ملكوته كل يوم حينما يطعمنا جسده المقدس &#8221; الكلمة صار جسداً &#8221; .</p>
<p><strong>فيما هو يزرع</strong></p>
<p>+ سقط بعض علي الطريق ، وسقط آخر علي الأماكن المحجرة ، وسقط آخر في وسط الشوك ، وسقط آخر على الأرض  الجيدة . لاشك أن المسيح المبارك يعرف أسرار هذه العينات جميعها ، ولكنها في مراحله ولطفه وأحساناته لا يمنع كلمته عن أحد ، يعطي الجميع بسخاء ، ويعطي. فرصة لكل أحد ولكل قلب ، هو قلب كل واحد وهو مختبر القلوب ويعرف أن فكر الإنسان مائل إلى الشر منذ صباه ولكنه طويل الروح وطويل الأنسان . ربما يقول قائل لماذا تلقى البذار علي الطريق ؟ إنه لا يعطي ثمر . ولماذا تلقي بعضاً علي  الأرض المحجرة ، وأيضاً في وسط الشوك ؟ ولكن الله في محبته يعطي الجميع فرصة وهو لا يشاء موت الخاطئ بل يسر برجوعه ، إنه يبذر بذار ملكوته في كل أرض حتي وهو يعلم أنها لا تأتي بثمر .</p>
<p><strong>موقفك من ملكوت الله</strong></p>
<p>لقد كشف لنا الرب في المثل عن عينات القلوب التي تصادفها كلمة الملكوت ، وهنا نقف قليلاً لنعرف مركزنا وموقفنا من الكلمة . أن المطلوب منا ليس أن نقبل الكلمة فقط ، بل أن نعطي لحساب الملكوت .</p>
<p><strong>+ قال الرب عن المزروع علي الطريق</strong></p>
<p>&#8221; عن كلمة الملكوت &#8221; ، &#8221; وكل من يسمع كلمة الملكوت ولا يفهم فيأتي الشرير ويخطف ما قد زرع في قلبه &#8221; . هذا هو الإنسان العالمي الذي لا يعرف كيف يخبئ. كلمة الملكوت في قلبه ، ولا كيف يفهم تدابير الله في حياته . يستطيع أن يفهم في كل ما يجري في العالم وتدابير الشر والالتواء والاهتمامات ، هو يفهم في كل شيء إلا كلمة الملكوت ، وقد يسمع الكلمة يقرأها ولكنها لا تترك في قلبه أثراً ولا تطبع في سلوكه تغييراً .</p>
<p><strong>+ وقال الرب عن المزروع في الأماكن المحجرة</strong></p>
<p>&#8221; هو الذي يسمع الكلمة وحالاً يقبلها بفرح ، ولكن ليس له أصل في ذاته بل هو إلي حين &#8221; . هذا هو الإنسان السطحي في روحياته الذي ليس له عمق مع الله ، بل كل حياته مع الله عبارة عن منظر خارجي له شكل التقوي وصورة العبادة واستقبال كلمة الله بفرح ، ولكنه يخبئ في داخله حجراً . يظهر في الخارج أنه صالح ، ولكنه في داخل قلبه يضمر شروراً . يظهر لطفاً ، ولكن في داخله رجل قساوة وتجبر ، يبدوا أمام الناس وديعاً ومتواضعاً ، ولكنه يخفي داخله حجر كبرياء وعظمة . أنه قلب فريسي سوف ينفضح سريعاً ، لأنه ليس مكتوم إلا وسيعلن ، ولا خفي إلا وسيظهر .</p>
<p><strong>+ وقال الرب عن المزروع في وسط الشوك</strong></p>
<p>هو الذي يسمع الكلمة وهم العالم وغرور الغني وشهوات العالم وسائر الأشياء تخنق الكلمة فتصير بلا ثمر . وهذا هو الإنسان الذي خلط الحياة مع الله بالحياة مع العالم ، وجمع داخل قلبه بذرة كلمة الملكوت ، وبذرة شوك العالم والخطايا وجعلهما ينميان معاً . لا مانع عنده من الصلاة  ، ولا مانع عنده من الصوم ، ولا مانع من العطاء وأعمال الرحمة ، ولا مانع من حضور القداسات وسماع كلمة الله والتناول من الأسرار ، يستطيع أن يعمل كل هذا وفي نفس الوقت لا مانع من هم العالم وغرور الغني وشهوات سائر الأشياء ، لا مانع من البطالة والأماكن النجسة ، لا مانع من المعاشرات الرديئة ومجاراة أهل العالم . لا مانع من الشهوات والغرور والكبرياء والزني والنجاسة والاعتماد علي الذات البشرية وكل هذه الأمور تخنق الكلمة فلا تأتي بثمر ، فلا تغير في الحياة ولا تجديد في الذهن ولا ثمر في الروح ولا تقدم في النعمة . لذلك تصير كل الممارسات الروحية بالنسبة لهذا الإنسان بلا فاعلية وبلا قوة .</p>
<p><b>+ أخيرا قال الرب عن الأرض الجيدة</b></p>
<p>&#8220;هو الذي يسمع الكلمة ، وهو الذي يأتي بثمر&#8221; وقال أيضاً في موضع آخر أنه يخبئ الكلمة في قلب صالح ويثمر بالصبر . أن الذي يفهم. مطاليب كلمة الله وتكاليف تبعيه المسيح ، الذي يدرك سر الصليب والحب الإلهي والألم من أجل الله ، ويفضل كلمة الله وملكوت الله علي ملذاته واحتياجاته ، ويفهم كيف ينفصل عن الكل لكي يلتصق بالواحد وكيف يسعي باجتهاد لكي يدرك الهدف الذي من أجله يجاهد ، ويفهم كيف يحمل صليبه كل يوم ويسهر في الصلاة ، ويحسب نفسه ميتاً عن العالم ولكن يحيا لله ، ويسعي كسفير عن المسيح ، ويجاهد بالصبر ضد العالم وضد الذات البشرية والإغراءات . هذا يثمر للحياة الأبدية وهذا الثمر قد لا يقدره العالم ولا قبله ولا يعترف به لأنه في الحقيقة ثمر الملكوت الذي قال عنه الرب &#8221; مملكتي ليست من هذا العالم &#8221; . أن الثمار التي يأتي بها  مثل هذا الإنسان سجلها بولس الرسول قائلاً &#8221; أما ثمر الروح فهو : محبة ، فرح ، سلام ، طول أناه ، لطف ، صلاح ، إيمان ، وداعة ، تعفف &#8221; . فتش إذاً يا عزيزي عن الثمر الذى لحساب الملكوت ، كم أثمرت ؟ ثلاثين أم ستين أم مئة ؟ وتذكر جيداً أن كل شجرة لا تعطي ثمراً تقطع ، وأن كل ما يصنع ثمراً ينقيه لكى يأتي بثمر أكثر. وإن لم يكن لنا ثمر للروح في حياتنا فلنبتدئ بأعمال التوبة ونفرح قلب الله ، إن كان القلب طريقاً للعالم ، فإنه يحتاج لسكين الروح القدس في التوبة لكي تحرثه فيصير صالحاً ، وإن كان القلب محجرًا يحتاج إلى نقاوة ونزع الحجارة والقائها خارجاً بقوة إرادة وتضرعات كثيرة ، وإن يكن شوك العالم قد نما في قلبك ، فاتعب من أجل الله وأنزع هذه الأشواك الخانقة أو أحرقها بروح التوبة ودموعها وحرارتها .</p>
<p><a href="#_ftn9" name="_ftnref9">[9]</a>  &#8221; فلنتضرع إلي الله لكى يهبنا ثمار الروح القدس &#8221;</p>
<h4>عظة للمتنيح القمص تادرس البراموسي</h4>
<p><strong>الاحد الأول من شهر هاتور المبارك</strong></p>
<p>وسقط أخر على الأرض الجيدة (لو ٨: ٤ – ١٥)</p>
<p>كان الرب يسوع له المجد في كثير من الأحيان يوضح الأمور بالأمثلة المتداولة بين الناس . والمثل يأخذ موضوعاً مشهوراً أو موقفاً معروفاً . ويعطيه تطبيعاً روحياً ويرتبط بين ما هو معروف وما هو مخفى لكى يعين السامع على فهم ما يريده من الحقائق الروحية والمثل بلفت نظر المستمع على اكتشاف الحقيقة بنفسه . لكنه يخفيها عن المتكاسل أو المتكبر مثل الكتبة والفريسيين الذين يتجاهلون الأمور . وعندما نقرأ أو نسمع أمثال الرب يسوع علينا أن نحرص ونعى معناها. فمعظم الأمثال لها معناها ولها هدف واحد فإذا سمح الزارع لبعض البذور الثمينة أن تسقط على الطريق أو على الصخر أو بين الشوك . ليست هذه صوره زارع غير مسئول ينثر بذاره بطريقة عشوائية اما الزارع يستخدم الطريقة المعروفة والمقبولة للبذار في حقل كبير فهو يبذر حفنات من البذور في الحقل ويهدف بذلك إلى إلقاء قدر ممكن من البذور في الأرض الجيدة والتربة الصالحة إلا أن هناك فاقد في البذور حيث يسقط بعضها في تربة أقل جودة من غيرها أن فشل بعض البذار في أنتاج المحصول لا يرجع إلى خطأ الزارع أو في البذار بل تعتمد على حالة التربة فأن مسئوليتنا أن تنثر البذار . أي كلمة الله وينبغي لنا أن لا نستسلم أو تيأس حين تفشل جهودنا لأنه ليس كل بذره تسقط على أرض صالحة هذا المثل ضربه الرب بين المزارعين الذين يعرفون نوعية الأرض وقوتها وكيف التعامل معها ويقصد به الكثيرين الذين يذهبون إلى الكنيسة كل واحد يحمل الكثير من المشاكل وبدلاً ما يلقى هذه المشاكل تحت قدمي الرب يسوع . تشغله هذه المشاكل عن سماع الكلمة ويحضر القداس كما لقوم عادة ويتقرب من الأسرار لكى يراه الناس إنه ملتزم ومواظب على التناول . لكنه مجرد خروجه من الكنيسة كأنه لم يدخلها ويدحرجه الشيطان يمين وشمال وكأنه لم يدخل الكنيسة ولم يتأثر بما حدث فيها ويأخذ لنفسه دينونة أعظم . لأنه أهمل أمر خلاصه وتزرع بالعالم</p>
<p><strong>العظة الأولى</strong></p>
<p>أ – سقط على الطريق وعدم الرفيق</p>
<p>ب – سقط على الصخر وتصلب القلب</p>
<p>ج – سقط وسط الشوك هم وشكوك</p>
<p>د – سقط على الأرض الجيدة ثمار ومودة</p>
<p>ه - فشل الإنسان في أسرار الملكوت</p>
<p>و – سمع بدون عمل شجر غير مثمر</p>
<p>ذ – حب العالم أضاع المعالم</p>
<p>ح – غرور البشر وانتشار الشر</p>
<p>ط – تغيير القلوب ونسيان المكتوب</p>
<p>ى – التسليم للأفكار وخسارة الديار</p>
<p><strong>العظة الثانية</strong></p>
<p>أ – حسب النوعية توهب العطية</p>
<p>ب – لا تيأس ألقى البذور وسير في النور</p>
<p>ج – الحكمة المطلوبة والكلمة المرغوبة</p>
<p>د – انتظار الأثمار حتى لو طال النهار</p>
<p>ه - بالصبر والدموع نتال المواعيد</p>
<p>و – نوعيات البشر وحكمة الزارع</p>
<p>ذ – القدوة الصالحة والثمار الناضجة</p>
<p>ح – أصبر على البذار تجنى الثمار</p>
<p>ط – لا تيأس من الجهاد وكن للكلمة جاد</p>
<p>ى – لا تكن أجير على طريق الرب سير</p>
<p><strong>العظة الثالثة</strong></p>
<p>أ – نزرع الكلمة ونرويها بالحكمة</p>
<p>ب – علينا بالجهاد حتى يأتي الميعاد</p>
<p>ج – نزرع ونسعى والرب ينمى</p>
<p>د – لا نلغى اليوم حتى تنجلى الغيوم</p>
<p>ه - لابد لنا في النهاية من الوسيلة والغاية</p>
<p>و – ننسى الأتعاب ونتلاقى مع الأحباب</p>
<p>ذ – ما أجمل الأكليل بعد أنقضاء الليل</p>
<p>ح – هلموا للحصاد ونفرح مع العباد</p>
<p>ط – ثمر وبركات وننسى ما فات</p>
<p>ى – وضع لنا التيجان فأستيقظ من الأن<a href="#_ftn10" name="_ftnref10">[10]</a></p>
<h4>عظة للمتنيح القمص بولس باسيلي</h4>
<p><strong>بين الزرع وكلام الله إإ</strong></p>
<p><strong>تقسيم على ضوء القراءات الكنسية</strong></p>
<p>البولس            : (٢كو ٩: ١-٩)</p>
<p>الكاثوليكون        : (يع ٣: ١- ١٢)</p>
<p>الابركسيس  : (أع ١٠: ٣٧ الى ١١: ١)</p>
<p>الانجيل              (لو ٨: ٤- ١٥)</p>
<p><strong>  القسم الأول – أوجه الشبه بين الزرعين</strong></p>
<p>(١) الجزاء من جنس العمل : ان الزرع الجسدي والزرع الروحي كلاهما يتلاقى عند هذه النتيجة : &#8221; الجزاء من جنس العمل &#8221; وهى نفس القانون السماوي الذى يقول &#8221; ان ما يزرعه الانسان اياه يحصد أيضاً &#8221; (غل ٦: ٧) ولذلك قال رب المجد &#8221; هل يجتنون من الشوك عنباً أو من الحسك تيناً  هكذا كل شجرة جيدة تصنع أثماراً جيدة ، وأما الشجرة الردية فتصنع أثماراً ردية ، لا تقدر شجرة جيدة أن تصنع أثماراً ردية ولا شجرة ردية أن تصنع أثماراً جيدة  فاذاً من ثمارهم تعرفونهم (مت٧: ١٦—٢٠)</p>
<p>انظر البولس : &#8221; ان من يزرع بالشح فبالشح أيضاً يحصد &#8221; (٢كو ٩: ٦) وانظر الكاثوليكون &#8221; ألعل ينبوعاً ينبع من نفس عين واحدة العذب والمر ، هل تقدر يا أخوتى تينة أن تصنع زيتوناً أو كرمة تيناً &#8221; (يع ٣: ١١-١٢)</p>
<p>( ٢) التعب والتضحية : الزرع الجسدي والزرع الروحي كلاهما يحتاج الى تعب وتضحية ، فالفلاح يحرث ويفلح ويعرق ويروى ويحرس وأخيراً يحصد ، وهكذا الزرع الروحي يحتاج الى من يفلح ويتعب ويجاهد &#8221; وكل من يجاهد يضبط نفسه فى كل شيء ، أما أولئك ( عن الزرع الجسدي ) فإكليلا يفنى ، وأما نحن فإكليلا لا يفنى &#8221; (١كو ٩: ٢٥)</p>
<p>(٣) الحصاد أوفر :   دائماً في النوعين الزرع الجسدي والروحي تزرع قليلاً تحصد كثيراً ، وفى هذا يقول الرب &#8221; أعطوا تعطوا كيلاً جيداً ملبداً مهزوزاً فائضاً &#8221; (لو ٦: ٣٨)</p>
<p>(٤) الحشرات تهدد :   الديدان والحشرات تهدد الزرعين فكما يتعرض الزرع الجسدي للديدان والحشرات تفسده ، هكذا يتعرض الزرع الروحي لحشرات الخطية وديدان الشهوات تفسده</p>
<p>+++++++++++++++++++++</p>
<p><strong>  القسم الثانى – أوجه الخلاف</strong></p>
<p>(١)  من جهة الزارع والحاصد معاً : في الزرع المادي قد يزرع واحد ويحصد الآخر ، أما في الزرع الروحي &#8221; فالنفس التي تخطئ هي تموت &#8221; (حز١٨ : ٤) وقال الرب نفسه &#8221; ها أنا آتى سريعاً وأجرتي معي لأجازي كل واحد حسب عمله (رؤ ٢٢: ٢٠) و &#8221; أعمالهم تتبعهم &#8221;</p>
<p>(٢)  من جهة الأرباح والخسائر : الأرباح والخسائر الأرضية وقتية وتنتهى سريعاً ولكن الأرباح والخسائر الروحية أبدية لن تنتهى فالربح حياة أبدية ومجد أبدى &#8221; ما لم تره عين وما لم تسمع به أذن وما لم يخطر على قلب بشر &#8221; والخسائر أبدية &#8221; نار لا تطفأ ودود لا يموت &#8221;</p>
<p>++++++++++++++++++++++</p>
<p><strong>  القسم الثالث – بركات الزرع </strong><b>الروحي</b></p>
<p>(١)          غذاء للقلوب :  &#8221; ليس بالخبز وحده يحيا الأنسان بل بكل كلمة تخرج من فم الله &#8221;</p>
<p>(٢)          عزاء للنفوس :  &#8221; عزوا بعضكم بعضاً بهذا الكلام &#8221;</p>
<p>(٣)          نور للعيون :    &#8221; سراج لرجلى كلامك ونور لسبيلي &#8221;</p>
<p>(٤)          سلاح للحياة :  &#8221; اسم الرب برج حصين يركض اليه الصديق ويتمنّع &#8221; &#8221; اذ أسلحة محاربتنا ليست جسدية بل قادرة بالله على هدم حصون &#8221; (٢كو ١٠: ٤)</p>
<p>++++++++++++++++++++++++++++</p>
<h4> تأملات روحية  نقاط تفسيرية</h4>
<p><b>في</b><strong> عظة الأحد الأول من هاتور (لو 8: 4- 15)</strong></p>
<p><strong> ثلاثين وستين ومائة :  </strong></p>
<p>ذهب كثير من المفسرين في تفسير هذه الأعداد مذاهب شتى ، وعندي أن المقصود بالثلاثين أولئك الذين زهدوا شهوات الحياة الدنيا وتابوا ، والمقصود بالستين أولئك الذين تابوا وعملوا أعمالاً صالحة ليقرنوا ايمانهم بالعمل اذ أن الايمان بدون أعمال ميت في ذاته ، وأما المقصود بالمائة أولئك الذين تابوا وآمنوا وعملوا وربحوا نفوساً للمسيح أيضاً وعلى أي حال فيفهم من هذه الأعداد معنى واضح وهو أن الأمجاد في السماء متفاوتة ولذلك قال رب المجد &#8221; في بيت أبى منازل كثيرة &#8221;</p>
<p>واذا كانت كلمة منازل هنا جمع &#8221; منزل &#8221; فأنها بتعبير أوضح جمع &#8221; منزلة &#8221; وهذا ما يفسره قول الوحى &#8221; ان نجماً يمتاز عن نجم في المجد إإ &#8221;</p>
<p><strong>  من له أذنان للسمع فليسمع :</strong></p>
<p>ان الأذن تلعب دوراً خطيراً في حياة الأنسان ، ولذلك قالوا &#8221; والأذن تعشق قبل العين أحياناً إ &#8221; كان فلاح ريفي يسير في أحد شوارع مدينة نيويورك الصاخبة فوقف وقال لبعض المارة : انى أسمع طائراً يغرد0 فسخروا منه وقالوا انه مستحيل أن تسمع تغريد الطيور وسط هذه الجلبة الصاخبة ، فأخذ الرجل قطعة من النقود وألقاها على الأرض ، وحالاً رأى المارة يلتفتون ليروا أين وقعت قطعة النقود ان الأذن تسمع ما يشوقها</p>
<p>وقديماً قال شملي الملاط شاعر المهجر يرثى أحد البخلاء المشهورين :</p>
<p>رنوا الفلوس على بلاط ضريحه              وأنا الكفيل لكم برد حياته إ</p>
<p style="text-align: right;"><strong>  هوذا الزارع قد خرج ليزرع :</strong></p>
<p>قررت احدى نقابات الفلاحين المسيحية بأمريكا في جلساتها الأخيرة أن يبدأ كل فلاح من أعضائها عمله اليومي في حقله بالدعاء التالي يتلوه بعد الصلاة الربانية : &#8221; ربنا يسوع المسيح ، لك أكرس كل يومي ، وعملي وجهودي وأفراحي وأتعابي كما أسلمك حقلي وزرعي فامنحنى أن أفكر كما تريد أنت ، وأن أعمل معك وأحيا قريباً منك ، ليأتي ملكوتك في هذا الحقل ، انقذ بيدك الحارسة جميع زروعى من الآفات والحشرات ، واحرسنى وزملائي الفلاحين من أخطار الحقل ، واقبل في حضنك أيها الغفور جميع الذين يموتون في ميدان العمل ، ولنا الشرف أن تكون أيها السيد الرب أول من شرف الحقل وأول من انتسب الى الفلاحين – آمين &#8221;</p>
<p><strong>   المزروع بين الشوك :</strong></p>
<p>تقول أسطورة فارسية بأن الله خلق الأرض سهلا جدباً مستوياً ليس فيها شيء أخضر برى ، لا زهرة ولا عليقة ولا شجرة ، وجاء لينظر ما خلق وقرر أن يجملها ولذلك أمر ملائكته أن يبذروا فى كل الأرض بذور الأشجار والأزهار من كل شهى وجميل فحملت الملائكة بذوراً ووضعت هنا بذرة زهرة المانوليا ، وهناك بذرة البرتقال ، وفى كل مكان وضعوا البذار التي ستخرج جمال الأرض</p>
<p>وقد سار الشيطان ملتحفاً بسواد الليل يبصر ما فعلت الملائكة فرأى البذار ملقاة على سطح الأرض وقال هذا عمل القدير وسأتلف ما عمل ، وقام في الحال يتمم فكرته فدفن كل بذرة رآها في أعماق الأرض حتى لا تستطيع أن تظهر أو يعرف طريقها أحد ، واستدعى الأمطار فأغرقت الأرض ومن ثم شبك يديه على صدره وابتسم قائلاً : لقد أتلفت العمل ، ولكن ابتسامته بدأت تتقلص وتتقلص الى أن تلاشت لأن تلك البذور استطاعت أن تشق الأرض التي فوقها وتخرج الى العالم مغتسلة بندى الليل أزهاراً ذات أريج وأثمار ذات حلاوة ، وصار الخراب الذى قصده الشيطان جنة في عدن إإ</p>
<p><strong> أعطى لكم أن تعرفوا أسرار ملكوت السموات :</strong></p>
<p>كم لدى المؤمنين من أسرار ؟ وكم يحدث معهم من معجزات وآيات إ</p>
<p>عندما سخروا من القديسة تريزا لأنها طلبت أن تبنى ملجأ عظيماً لليتامى والأرامل من دون أن يكون معها الا ثلاثة شلنات فقط ، قالت : بثلاثة شلنات لا تستطيع تريزا أن تفعل شيئاً ، ولكن بالله وثلاثة شلنات تستطيع تريزا أن تصنع المعجزات &#8221; أستطيع كل شيء في المسيح الذى يقويني &#8221; إ</p>
<p>طوبى لآذانكم لأنها تسمع :</p>
<p>يقول المرشد بأن السامعين غير المثمرين وصفهم المسيح بثلاثة أنواع</p>
<p>الأول : هم الذين يسمعون ولكنهم لا يكترثون</p>
<p>الثاني : هم الذين يكترثون ولكنهم لا يعزمون</p>
<p>الثالث : هم الذين يعزمون ولكنهم لا ينفذون</p>
<p>الأول : تقابله العثرة حالما يبدأ</p>
<p>والثاني : تأتيه العثرة حالما ينبت</p>
<p>والثالث : تصدمه العثرة بعدما ينمو</p>
<p>في النوع الأول : لا تفرخ البذرة بالمرة</p>
<p>وفى الثاني : تفرخ ولكنها تموت في المهد</p>
<p>وفى الثالث : تنمو ولكنها تموت قبل أن تنضج</p>
<p>&#8221; أن يسمعوا ما أنتم تسمعون ولم يسمعوا &#8221;</p>
<p>انطبق عليهم قول الله لإسرائيل &#8221; لم تسمع ولم تعرف ومنذ زمان لم تنفتح أذنك &#8221; وكلم عنه النبي قائلاً &#8221; من أكلهم وأنذرهم فيسمعوها أن أذنهم غلفاء فلا يقدرون أن يصغوا &#8221;</p>
<p>ان اشعياء النبي يقول &#8221; يوقظ كل صباح ، لي أذناً لأسمع كالمتعلمين &#8221;</p>
<p>همّ هذا العالم وغرور الغنى يخنقان الكلمة :</p>
<p>قرأت عن احدى القديسات أنها كانت دائماً تقول ان الأغنياء لا حاجز حولهم من البؤس يمنعهم من السقوط إلى الجحيم ، بل أنهم سيتدحرجون اليها دون أن يدركوا ، لأن درج السلم الذى لديهم ناعم لأنه من ذهب ورخام  إإ</p>
<p><b> ليس له أصل في ذاته :</b></p>
<p>كانت الموعظة طويلة مملة وكان موضوع العظة &#8221; الأنبياء &#8221; وكان الواعظ مسهباً في موضوعه وأخذ يجول بين الأنبياء الكبار والصغار ، وكان قد بدأ الملل والسأم على الحاضرين ، ولكن الواعظ لم يكترث ، وكان أحد السامعين في الصفوف الأمامية وقد بلغ منه الملل مبلغاً كبيراً ، فلما وصل الواعظ الى النبي ناحوم ، قال الواعظ : والآن ناحوم أين نضعه في عداد الأنبياء ؟ أين نضع ناحوم النبى ؟ فقام الرجل الملول المتبرم وترك مقعده الى الخارج وهو يتمتم ويقول:</p>
<p>أرجوك أن تضعه هنا مكاني إإ</p>
<p><b>الذى يزرعه الانسان اياه يحصد :</b></p>
<p>أسطورة قديمة قرأتها عن لقمان الحكيم ، أرسله سيده يوماً ليزرع قمحاً في حقل في بلاد العرب ، وفى وقت ما ذهب سيده ليرى القمح فوجد شعيراً لا قمحاً ، فسأل لقمان عن الأمر فأجابه &#8221; انى زرعت شعيراً &#8221; فغضب عليه وقال &#8221; ولكنني كنت منتظراً ومتوقعاً أن أحصد قمحاً ، فكيف تجرؤ على هذا التصرف الغبي في مسألة جوهرية كهذه؟؟</p>
<p>أجابه لقمان &#8221; يا سيدى أنت دائماً تزرع فى العالم بذار الشر منتظراً أن تحصد أثمار الفضيلة ، وهذا جعلني أفتكر أنه يمكن أن تحصد قمحاً حتى لو زرعنا شعيراً إإ &#8221;</p>
<p>وكان درساً قاسياً من لقمان لسيده إإ</p>
<p>&#8221; وهذا وان من يزرع بالشح فبالشح أيضاً يحصد ومن يزرع بالبركات فبالبركات أيضاً يحصد &#8221; (٢كو ٩: ٦)</p>
<p><strong>سقط بعضه على الطريق :</strong></p>
<p>حدث في احدى كنائس الغرب أن جاء راع آخر الى الكنيسة ليجمع تبرعات لكنيسته ، وبعد نهاية الخدمة طاف الشماس بقبعة الزائر على العابدين واحداً بعد الآخر ، وأخيراً عاد بها الى صاحبها ، وكم كانت دهشته حينما لم يجد بها مليماً واحداً ، فوقف في تأثر وقلبها أمام الجميع حتى يرى كل واحد أنه ليس بها شيء ثم وضعها على رأسه في هدوء وهو يقول :</p>
<p>&#8221; انى أشكر الله يا اخوتى أنها عادت الىّ سالمة إ &#8221;</p>
<p>زارع الريح إإ</p>
<p>كثيرون يزرعون الريح فلا يحصدون سوى الريح ، وفى هذا قال هوشع النبي &#8221; انهم يزرعون الريح ويحصدون الزوبعة &#8221; زرع ليس له غلة لا يصنع دقيقاً وان صنع فالغرباء تبتلعه &#8221; (هو ٨: ٧)</p>
<p>وقال الجامعة &#8221; من يرصد الريح له لا يزرع ومن يراقب السحب لا يحصد &#8221; (جا ١١: ٤)</p>
<p>ويوجه الرب على فم ميخا النبي كلمات قارسة صادمة لبنى اسرائيل ، اسمعه يقول &#8221; ان أغنياءها ملآنون ظلماً وسكانها يتكلمون بالكذب ولسانهم فى فمهم غاش فأنا قد جعلت جروحك عديمة الشفاء مخرباً من أجل خطاياك ، أنت تأكل ولا تشرب وجوعك فى جوفك أنت تزرع ولا تحصد أنت تدوس زيتونا ولا تدهن بزيت  وسلافة ولا تشرب خمراً ( ميخا ٦: ١٢- ١٥ )<a href="#_ftn11" name="_ftnref11">[11]</a></p>
<h3>من وحي قراءات الأحد الأول</h3>
<p>+ الأرض الجيدة ربما لا تستمر جيدة وهكذا الحجرية ، فكما يجب ان نكون حريصين من السقوط كذا يلزم ان يملأنا رجاء التغيير للأفضل</p>
<p>+ ما كان ينقص الأراضي الثلاثة عمق البناء والحرص من الأشواك ( العثرات ) والصبر علي الثمار فهل ينقصني شئ منهم ؟</p>
<p>+ للأسف نحن نعيش عصر الوجبات السريعة والحلول الجاهزة</p>
<p>+ النمو السريع دون أساس وجذر قوي سرعان ما تحرقه شمس التجارب والضيقات</p>
<p>+ الجذور والأساسات أشياء لا يراها الناس لكنها تضمن دوام وثبات وصلابة حياتنا</p>
<p>+ تتكون الجذور من التعمّق في كلمة الله والصلاة وتجديد عهد التوبة</p>
<p>+ الله لا يكف أبدا عن رمي بذار الحب كل يوم علي كل أرض فكيف نستقبل بذاره ؟</p>
<p>+ الثمار الغنية لا يجدها ولا يحصدها من يكتفي بكثرة اوراقه او يستهين بصغر اشواكه</p>
<p>+ لا تقضي عمرك في فحص أراضي الآخرين فأرضك ملآنة خير يكفي احتجاجك واحتياجهم ويفيض</p>
<p>+ لا تفتخر بثمار ارضك علي أحد لئلا تنسي ان تشاركه عطيتك ولا تحكم علي بور ارضه فربما تكون انت مشاركا في بوارها.</p>
<h3>المراجع:</h3>
<p><a href="#_ftnref1" name="_ftn1"></a>١- الأب أنسيمُس الأورشليمي - تفسير مزمور ١١٧ - القمص تادرس يعقوب ملطي</p>
<p><a href="#_ftnref2" name="_ftn2"></a>JR, A. J. &amp; Oden, T.C. ( 2003 ). Luke (The Ancient Christian Commentary on Scripture,      New testament part III ) Illinois ( USA ) : InterVarsity press. Page 131</p>
<p>٢- ترجمة الأخت إيفيت منير - كنيسة مار مرقس ببني سويف</p>
<p><a href="#_ftnref3" name="_ftn3"></a>٣- تفسير رسالة بولس الرسول إلي العبرانيين للقديس يوحنا ذهبي الفم صفحة ١٦٥ - ترجمة دكتور سعيد حكيم يعقوب ومراجعة دكتور جورج عوض إبراهيم</p>
<p><a href="#_ftnref4" name="_ftn4"></a>٤- المرجع : تفسير سفر إرميا الإصحاح الرابع - القمص تادرس يعقوب ملطي</p>
<p><a href="#_ftnref5" name="_ftn5"></a>٥- كتاب عظات القديس أغسطينوس علي رسالة يوحنا الأولي - القمص بنيامين مرجان</p>
<p><a href="#_ftnref6" name="_ftn6"></a>٦- المرجع : كتاب سيرة وحياة القديسة والمعلمة الطوباوية سينكليتيكي بقلم القديس البابا اثناسيوس الرسولي – ترجمة الاستاذة بولين تدري</p>
<p><a href="#_ftnref7" name="_ftn7"></a>٧- المرجع : كتاب من مجد إلي مجد للقديس غريغوريوس النيسي ( فصل ٣٥ ) - ترجمة القمص إشعياء ميخائيل - كنيسة رئيس الملائكة ميخائيل بالظاهر</p>
<p><a href="#_ftnref8" name="_ftn8"></a>٨- المرجع : كتاب المنجلية القبطية الأرثوذكسية صفحة ٢٠٦  - البابا تواضروس الثاني</p>
<p><a href="#_ftnref9" name="_ftn9"></a>٩- المرجع : كتاب وكلمهم ايضا بامثال صفحة 87 – القمص لوقا سيداروس</p>
<p><a href="#_ftnref10" name="_ftn10"></a>١٠- المرجع : كتاب تاملات وعناصر روحية في احاد وايام السنة التوتية الجزء الاول صفحة 33 – اعداد القمص تادرس البراموسي</p>
<p><a href="#_ftnref11" name="_ftn11"></a>١١- المرجع : كتاب المواعظ النموذجية الجزء الثاني صفحة 50 – القمص بولس باسيلي</p>

      {% endcreateArticleAccordions %}
    </section>
  {% endblock %}
