---
layout: 'layouts/reading.html'
title: 'الأحد الثاني من هاتور'
tags: 'sundays'
permalink: /articles/sundays/3-2.html
---
  {% block content %}
    <section id="readings">
      <ul>
      {% if 'undefined' != 'undefined' %}
      
      {% else %}
      {% if '19.104:14-15' != 'null' %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">العشية</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeVespers '19.104:14-15' '42.12:27-31' %}
          </div>
        </div>
      </li>
      {% endif %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">باكر</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeMatins '19.66:5-6' '41.16:2-8' '' %}
          </div>
        </div>
      </li>
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <h3 class="flex items-center justify-between">
            <span class="kufi">القداس</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </h3>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeLitugy '58.6:7-15' '65.1:14-25' '44.5:19-29' '19.103:16,10' '40.13:1-9' %}
          </div>
        </div>
      </li>

      {% endif %}
        </ul>
    </section>
    <section id="article">
      <h3 class="mt-8 mb-4 heading-explain">شرح القراءات</h3>
      {% createArticleAccordions %}
        <p>&#8220;طوبي لمن له زرع في صهيون &#8221; (أش ٩:٣١)</p>
<p>&#8220;زرع ليس له غلة لا يصنع دقيقاً &#8221; (هو ٧:٨)</p>
<p>&#8221; لأنه كما ينزل المطر والثلج من السماء ولا يرجعان إلى هناك، بل يرويان الأرض ويجعلانها تلد وتنبت وتعطي زرعا للزارع وخبزا للآكل هكذا تكون كلمتي التي تخرج من فمي. لا ترجع إلي فارغة، بل تعمل ما سررت به وتنجح في ما أرسلتها له &#8221; (أش ٥٥ : ١٠-١١)</p>
<p>فرح وجه الأرض ليرو حرثها ولتكثر أثمارها أعدها للزرع والحصاد &#8221; أوشية المياه والزروع والثمار - القدَّاس الباسيلي</p>
<p>&#8221; اقلبوا التربة الصالحة بالمحراث ، أزيلوا الحجارة من الحقل ، انزعوا الأشواك عنها.</p>
<p>احترزوا من أن تحتفظوا بذلك القلب القاسي الذي سرعان ما تعبر عنه كلمة الرب ويفقدها.</p>
<p>احذروا من أن تكون لكم تربة خفيفة فلا تتمكن جذور المحبّة من التعمق فيها.</p>
<p>احذروا من أن تختنق البذار الصالحة التي زُرعت فيكم خلال جهادي وذلك بواسطة الشهوات واهتمامات هذا العالم.</p>
<p>كونوا الأرض الجيَّدة وليأتي الواحد بمئة والآخر بستين وآخر ثلاثين<a href="#_ftn1" name="_ftnref1">[1]</a> &#8221;</p>
<h3>شواهد القراءات</h3>
<p>(مز ١٠٣: ١٣-١٤) ، (مر١٢ : ٢٧-٣١)، (مز٦٦:٦-٥) (مر١٦: ٢-٨)، (عب٦ : ٧-١٥) ، (يه ١: ١٤-٢٥ )، (أع ٥ : ١٩-٢٩)،               (مز١٠٣ : ١٠-١٦) ، (مت ١٣ :١-٩)</p>
<h3>ملاحظات على قراءات اليوم</h3>
<p>+ قراءة الإبركسيس للأحد الثاني (أع ٥: ١٩ - ٢٩) والثالث (أع ٥: ٣٠ - ٤٢) من هاتور تتكلمان عن كرازة الآباء الرسل وإلقاء القبض عليهم وشهادة القديس بطرس أمام رؤساء الكهنة ودفاع غمالائيل عنهم والكلام هنا أيضاً عن الروح القدس (موضوع شهر هاتور )</p>
<p>&#8221; ونحن شهود لهذه الأقوال والروح القدس أيضاً الذي أعطاه الله للذين يطيعونه &#8221;</p>
<p>وهي تشبه قراءة الإبركسيس (أع ٥ : ١٢ - ٢١) للأحد الأوَّل من شهر أبيب والكلام هنا علي قوَّة الكرازة وهذا هو موضوع شهر أبيب</p>
<h3>شرح القراءات</h3>
<p>يتحدث هذا الأحد عن ثمر الروح في حياتنا فبعد أن أوضح في الأحد الأول نبع الروح القدس وانسكابه في قلوبنا وكنائسنا يوضح في الأحد الثاني عمله وثمره فينا</p>
<p>تتكلّم المزامير عن أعمال الله التي تشبع الأرض (مزمور عشيّة) فتجعلها مثمرة (مزمور باكر) وتظهر ثمارها في جميع الأشجار ( مزمور القدَّاس )</p>
<p>فيعلن مزمور عشية أعمال الله المثمرة في حياتنا (الذي يسقي الجبال من علاليه ، من ثمرة أعمالك تشبع الأرض الذي ينبت عشبا للبهائم )</p>
<p>ويشير أبونا أنطونيوس فكري أن &#8221; الجبال تشير إلي القديسين، وهؤلاء يرويهم الله ويملاهم من الروح القدس &#8221; تفسير المزمور - القس أنطونيوس فكري</p>
<p>ومزمور باكر يعلن أراضينا المثمرة (الأرض أعطت ثمرتها ليباركنا الله إلهنا)</p>
<p>أما مزمور القداس فيعلن أشجارنا المثمرة بغني (تشبع جميع شجر الحقل وأرز لبنان الذي غرسته )</p>
<p>وهنا نري أيضاً مجيء مزمور عشيَّة ومزمور القدَّاس من نفس المزمور (مز ١٠٣)</p>
<p>لذلك يوضح إنجيل عشيّة مجد الطبيعة والجمال الذي يلبسه الله للزهور والعشب علامه علي المجد الذي يسكبه علي طبيعتنا ( تأملوا الزهور كيف تنمو لا تتعب ولاتحترف حرفة ولكن أقول لكم : إنه ولإسليمان في كل مجده كان يلبس كواحده منها فإن كان العشب الذي يوجد اليوم في الحقل ويطرح غدا في التنور يلبسه الله هكذا فكم بالحري أنتم يا قليلي الإيمان )</p>
<p>أما القراءات فتعلن إستجابة أراضي وقلوب البشر لمياه الروح ( البولس ) والفرق بين ثمار الروح وأعمال النفس ( الكاثوليكون ) وغني حقول الكرازة بتعليم الرسل ( الإبركسيس )</p>
<p>لذلك يتكلم البولس عن أمطار ومياه الروح المثمرة في المؤمنين بعكس المعاندين والمقاومين (لأن الأرض التي تشرب المطر الهاطل عليها مرارا كثيرة وتنبت عشبا صالحا للذين فلحت من أجلهم تنال بركة من الله ولكن إن أخرجت شوكا وحسكا فهي غير مفلحة وقريبة من اللعنة &#8230;&#8230; لأن الله ليس بظالم حتي ينسي عملكم وتعب محبتكم التي أظهرتموها نحو اسمه إذ قد خدمتم القديسين وتخدمونهم أيضا)</p>
<p>أما الكاثوليكون فيتكلم عن الفرق بين ثمار وثمار بين ثمار الذين يسلكون بالروح وبين النفسانيون الذين لا روح لهم (هؤلاء هم متذمرون ملومون سالكون بحسب شهواتهم فمهم يتكلم بعظائم يحابون الوجوه من أجل المنفعة &#8230;&#8230; هؤلاء هم المعتزلون بأنفسهم نفسانيون لاروح لهم وأما أنتم ياأحبائي فإبنوا أنفسكم على إيمانكم الأقدس مصلين في الروح القدس ولنحفظ أنفسنا في محبة الله &#8230;. والقادر أن يحفظكم غير عاثرين)</p>
<p>بينما يشير الإبركسيس إلي ثمر الروح في الخدمة والكرازة بغني الحقول بتعليم المسيح له المجد (فسألهم رئيس الكهنة قائلا : أما أوصيناكم وصية أن لا تعلموا بهذا الاسم وها أنتم قد ملأتم أورشليم بتعليمكم &#8230;فأجاب بطرس والرسل وقالوا : ينبغي أن يطاع الله أكثر من الناس )</p>
<p>لذلك يختم إنجيل القداس بتنوع ثمار الروح واختلاف تدرجها بين البشر واعتبار الله أنها كلها جيدة علي اختلاف درجة إثمارها (وسقط آخر علي الأرض الجيدة فأعطي ثمرا بعض مئة وآخر ستين وآخر ثلاثين )</p>
<h3>ملخّص القراءات</h3>
<p>ثمار الروح تظهر في غني وتنوّع الطبيعة                                               (المزامير )</p>
<p>وفِي رعاية الله لأولاده                                                                   ( إنجيل عشيّة )</p>
<p>في تنوّع درجاتها  ومستوياتها                                                        ( إنجيل القدَّاس )</p>
<p>وتُعطي بركة للمؤمنين وتلاحق اللعنة الرافضين والنفسانيين                      ( البولس والكاثوليكون )</p>
<p>وتتجلّي الثمار في غني حقول الكرازة بالتعليم الإلهي                               ( الإبركسيس )</p>
<h3>   إنجيل القدَّاس في فكر آباء الكنيسة</h3>
<p>يسوع قد جلس على شاطئ بحر هذا العالم حتى يجمع الجموع حوله&#8221; (القديس جيروم)، &#8220;للقائه وجهًا لوجه&#8221; (فم الذهب) &#8220;حتى يسمعوه وهو يتكلم إليهم بأمثال.&#8221; (القديس هيلاري ).</p>
<p>&#8220;هكذا يكون إعلان ظهور المختار.&#8221; (القديس كيرلُّس السكندري).</p>
<p>&#8220;إن في مزجه للأمور الخفيّة بالظاهرة في الحديث حافز لسعي المصغيين إليه لمعرِفة الخفايا مِن خلال إدراك الظاهرات.&#8221;    (القديس هيلاري ).</p>
<p>&#8220;في الحديث عن الزارع كان يسوع منشغل الفكر بعمل الفلاحة.&#8221; (القديس جيروم).</p>
<p>&#8220;قد يكون الفلاح مدعاةً للسخرية إذا زرع على الصخر. ولكن ليس هكذا الحال يكون مع النفس الحرة العاقلة: إذ ينبغي أنْ تكون مستعدة استعدادًا جيدًا لقبول الكلمة. أما لو كان هذا مستحيلاً، لَمَا تمكّن الزارع مِن أنْ يزرع. وإنْ لم يكن هناك إعداد، فإن هذا ليس خطأ الزارع؛ بلْ خطأ الأنفس التي لا تريد أنْ تتغير.&#8221; (فم الذهب).</p>
<p>&#8220;أصحاب العقول والأفكار المتحجّرة لا يقبلون البذرة الإلهية ولذلك فهم يصيرون مسلكًا سهلاً للأرواح النجسة.&#8221; (القديس كيرلُّس السكندري)<a href="#_ftn2" name="_ftnref2">[2]</a></p>
<h3> الكنيسة في قراءات اليوم</h3>
<p>طلب ملكوت الله                                                إنجيل عشيّة</p>
<p>مكافأة الله للأعمال وتعب المحبّة                            البولس</p>
<p>التقليد + الدينونة + الإيمان الأقدس                      الكاثوليكون</p>
<p>خدمة الملائكة                                                 الإبركسيس</p>
<h3>عظات مقترحة</h3>
<p><strong>(١) العظة الأولي</strong></p>
<p>من أين تأتي ثمار الروح</p>
<p>١- تأملوا الزهور كيف تنمو لاتتعب ولاتحترف حرفة &#8230; فكم بالحري أنتم ياقليلي الإيمان &#8230; بل اطلبوا ملكوت الله وهذه جميعها تزاد لكم ( إنجيل عشية )</p>
<p>الإيمان بعمل الله في الكون والطبيعة وكل شئ فلا نقلق علي مُتطلِّبات الحياة فالذي يرعي كل الخليقة بنعمته لن يترك أولاده والإجتهاد في طلب الملكوت</p>
<p>٢-  لأن الله ليس بظالم حتي ينسي عملكم وتعب محبتكم &#8230; بل كونوا متمثلين بالذين ورثوا المواعيد بالإيمان والأناة  ( البولس )</p>
<p>أتعاب المحبّة هي التي تؤهِّل الإنسان لثمار الروح الكثيرة &#8230; والمثابرة وطول الأناة وثبات الإيمان</p>
<p>٣- فإبنوا أنفسكم علي إيمانكم الأقدس مصلين في الروح القدس ولنحفظ أنفسنا في محبة الله &#8230;. والقادر أن يحفظكم غير عاثرين ( الكاثوليكون )</p>
<p>عندما نبني أنفسنا علي الإيمان المستقيم الأقدس ونعيش حياة الصلاة ونحفظ أنفسنا وعلاقاتنا وتعاملاتنا دائماً في محبة الله يحفظنا هو من العثرات ويحفظ طريق حياتنا وجهادنا</p>
<p>٤- وها أنتم قد ملأتم أورشليم بتعليمكم &#8230;فأجاب بطرس والرسل وقالوا : ينبغي أن يطاع الله أكثر من الناس ( الإبركسيس )</p>
<p>غني الشهادة للمسيح له المجد وطاعة الله فوق أي طاعة أخري مهما كانت يُغني الإنسان بثمار متجدّدة من الروح</p>
<p><strong> (٢) العظة الثانية</strong></p>
<p>القلوب التي تأتي بثمر كثير</p>
<p>١- الإلتزام والمنهج</p>
<p>أوَّل نوع من الأراضي هو الطريق أي مكان غير مخصَّص للزراعة أي حياة بلا منهج وبلا إلتزام وبلا إرشاد</p>
<p>٢- العمق</p>
<p>النوع الثاني لم يكن له عمق أرض أي ظهرت النبات سريعا وإحترق سريعا ايضاً لغياب العمق والجذور ( راجع حفر وعمَّق ووضع الأساس  مت ٧ )</p>
<p>وهي مثال لمن يجرون وراء الإنفعالات الوقتية في العبادة أو من يبحثون فقط عن شبع النفس فقط دون الروح</p>
<p>٣- الحرص</p>
<p>النوع الثالث من الأراضي هو أرض جيّدة لكن مملوءة أشواك أي قلوب مرتبطة بالعبادة ولكن دون إستقامة الحياة</p>
<p>( راجع مت ٢١:٧ )</p>
<p>٤- المنهج الصحيح والعمق في الحياة والسهر الدائم أساسيات الأرض الجيدة التي تأتي بثمر كثير لكن تحتاج أيضاً للصبر ( لو ١٥:٨ )</p>
<p><strong>(٣) العظة الثالثة</strong></p>
<p>رسائل الله لكل نفس</p>
<p>١- الرجاء</p>
<p>وهذا نراه في إمكانية التغيير من أرض محجرة أو صخرية إلي أرض جيدة</p>
<p>( إلي أن يُسكب علينا روح من العلاء فتصير البرية بستاناً ويُحسب البستان وعراً ) (أش ١٥:٣٢) ، (أش ١٧:٢٩)</p>
<p>٢- خطر الإستهانة بالشوك</p>
<p>لذا مهم جداً فحص النفس دائماً والوقوف مع النفس بحزم</p>
<p>&#8221; خذوا لنا الثعالب، الثعالب الصغار المفسدة الكروم، لأن كرومنا قد أقعلت &#8221; (نش ١٥:٢)</p>
<p>٣- رمي البذار</p>
<p>ما أجمل أن يُلقي الله البذار علي الأراضي التي يعرف أنها حجرية أو أرض يسودها الشوك وما أجمل أن نقتدي كخدام برب المجد في إلقاء بذار الحب لكل إنسان دون الإنشغال بفحصهم أو إستحقاقهم</p>
<p>٤- تنوّع الثمار</p>
<p>لم يمدح الرب فقط أصحاب المئة بل الستين والثلاثين أيضاً ليُعلن قبوله لمن ربحوا عشر وزنات أو خمس أو إثنين (مت ٢٥ : ٢٠-٢٣)</p>
<h3>عظات ابائية</h3>
<h4>ماذا قال القديس كيرلس الإسكندري عن الأنواع الأربعة للأراضي ؟</h4>
<p><strong>الطريق :</strong></p>
<p>الطريق دائمًا صلب، تَطَأه أقدام كل العابرين على الدوام، لهذا لا تبذر فيه بذار. هكذا من كانت لهم الأفكار العنيفة وغير الخاضعة، لا تَدخل الكلمة الإلهيّة المقدّسة فيهم، ولا تسندهم، لكي يتمتّعوا بثمر الفضيلة المفرح. مثل هؤلاء يكونون كالطريق الذي تطأه الأرواح الدنسة ويدوسه الشيطان نفسه، فلا يأتون بثمرٍ مقدّسٍ بسبب قلوبهم المجدبة العقيمة.]</p>
<p><strong>الأرض المحجرة :</strong></p>
<p>&#8221; يوجد آخرون يحملون الإيمان بغير اِكتراث في داخلهم، إنه مجرّد كلمات عندهم! تديُّنِهم بلا جذور، يدخلون الكنيسة فيبتهجون برؤيتهم أعدادًا كبيرة مجتمعة هناك وقد تهيّأوا للشركة في الأسرار المقدّسة، لكنهم لا يفعلون ذلك بهدف جاد وسموّ للإرادة. وعندما يخرجون من الكنائس فإنهم في الحال ينسون التعاليم المقدّسة. متى كان المسيحيّون في سلام يحتفظون بالإيمان، لكنّه متى ثارت الاضطهادات يفكّرون في الهروب طالبين الأمان. يتحدّث إرميا لمثل هؤلاء، قائلًا: &#8220;أعدّوا المجن والترس، وتقدّموا للحرب&#8221; (إر ٤٦ : ٣٠).</p>
<p>لأن يد الرب المدافع عنكم لا يمكنها أن تنهزم، وكما يقول بولس غزير العلم: &#8220;الله أمين، الذي لا يدعكم تُجرَّبون فوق ما تستطيعون، بل سيجعل مع التجربة أيضًا المنفذ لتستطيعوا أن تحتملوا&#8221; (١كو ١٠ : ١٣) &#8221;</p>
<p><strong>الأرض المملوءة أشواكاً :</strong></p>
<p>يزرع الفادي البذور، فتصادف قلوبًا تظهر قويّة مثمرة، ولكن بعد قليل تخنقها متاعب الحياة وهمومها، فتجف البذور وتَبلى، أو كما يقول هوشع النبي: &#8220;إنهم يزرعون الريح ويحصدون الزوبعة، زرع ليس له غلة لا يصنع دقيقًا، وإن صنع فالغرباء تبتلعه&#8221; (هو ٨ : ٧). لنكن زارعين ماهرين، فلا نزرع البذور إلا بعد تطهير الأرض من أشواكها، حتى نقول مع المرنم: &#8220;الذاهب ذهابًا بالبكاء حاملًا مِبذَر الزرع، مجيئًا يجيء بالترنم حاملًا حزمه&#8221;(مز ١٢٦: ٦). كل من رمى البذر على أرض تنبت شوكًا وحسكايتعرّض لخسارتين: البذر الذي يفنى، والتعب المضني. لنعلم أنه لا يمكن أن تزهر البذور الإلهيّة إلا إذ نزعْنا من عقولنا الهموم العالميّة وجردّْنا أنفسنا عن زهو الغنى الباطل، &#8220;لأننا لم ندخل العالم بشيء وواضح أننا لا نقدر أن نخرج منه بشيء&#8221; (١تي ٦ : ٧). لأنه ما الفائدة من اِمتلاكنا للأشياء الزائلة الفانية؟ &#8220;الرب لا يُجيع نفس الصديق ولكن يدفع هوى الأشرار&#8221; (أم ١٠ : ٣ ). ألم تلاحظ أن الشرور الفاسدة من نهم وطمع وشره وجشع وسكر وعبث ولهو وكبرياء تخنقنا، أو كما يقول رسول المخلّص:&#8221;كل ما في العالم شهوة الجسد وشهوة العيون وتعظّم المعيشة، ليس من الأب بل من العالم، والعالم يمضي وشهوته، وأما الذي يصنع مشيئة الله فيثبت إلى الأبد&#8221; (١يو ٢: ١٦)</p>
<p><strong>الأرض الجيدة :</strong></p>
<p>إنها أرض غنيّة ومثمرة تنتج مائة ضعف!</p>
<p>صالحة ومثمرة هي النفوس التي تتقبّل الكلمة بعمق وتحتفظ بها، وتهتم بها.</p>
<p>يُقال عن مثل هذه النفوس ما قاله الرب على فم أحد الأنبياء:&#8221;ويطوِّبكم كل الأمم لأنكم تكونون أرض مسرَّة، قال رب الجنود&#8221;(مل 3: 12). فإنه عندما تسقط الكلمة الإلهيّة على نفس طاهرة من الأمور المحزنة، تخرج جذورًا عميقة، وتأتي بسنابل حنطة تحمل ثمرًا متزايدًا<a href="#_ftn3" name="_ftnref3">[3]</a>.</p>
<p><strong>مثل الزارع للعلامة أوريجانوس</strong></p>
<p>خرج الزارع ليزرع (مت ١٣ومر ٤ولو ٨) سنثبت أن أرواحنا قد اقتبلت بذوره ، ليس كالبذور التي سقطت علي جانب الطريق ، أو الأرض المحجرة أو بين الأشواك بل سنثبت أن قلوبنا قد استوعبت زرع الله كأرض صالحة جيدة . سوف نتجمد (أر ٩ : ٢٣)و (١كو ١: ٣١) و(٢كو ١٠: ١٧) بقدر ما نستطيع في الله لأن كلمة المسيح لم يستطيع الشرير أنَّ ينتزعها من قلوبنا . سوف يشهد الكثيرون لايماننا أن زرع الله لم تخنقه الأشواك لأنهم سيرون بعيونهم أنه لاهموم هذا العالم ، ولا غرور الغني ، ولا لذات الحياة استطاعت أن تكتم كلمة الله في أرواحنا .</p>
<p>ولما كان هذا الموضوع يخص الشخص نفسه ويتوقف عليه ، فلابد لكل منا أن يسأل نفسه عما اذا كانت كلمة الله قد سقطت علي أرض محجرة أو أرض جيدة . والشدائد والضيقات تحل بنا بسبب الكلمة … هذا اذا هو وقت المحنة والتجربة الذي يكشف عن معدن الأرض ، ويكشف عمن كان زرعه في أرض محجرة ، وعن تهاون صاحب الأرض الذي لم يحفر ويعمق ، وعن قسوته اذ لم يقبل المسيح في عمق روحه … أمَّا الذي يحفظ الكلمة فلابد أن يثمر ، ولابد أن يحفظها الي المنتهي ، لابد إن تثمر الكلمة بالصبر مائة ضعف .</p>
<p>اننا نعلم ما يقوله الكتاب عمن يسقطون في وقت الضيق والاضطهاد ، بعد أن يكونوا قد تلقوا التعليم المقدَّس بفرح ظاهر (مت ١٣: ٢١) انهم يفتضحون لأن ليس لهم أصل ، ولأنهم يؤمنون الي حين . يقول معلمنا متي : والمزروع علي الأماكن المحجرة هو الذي يسمع الكلمة وحالا يقبلها بفرح ، ولكن ليس له أصل في ذاته بل هو الي حين ، فاذا حدث ضيق أو اضطهاد من أجل الكلمة يعثر  (مت ١٣: ٢٠-٢١) .</p>
<p>أما عن المؤمنين الثابتين الذين يثمرون فيقول الكتاب : وأما المزروع علي الأرض الجيدة فهو الذي يسمع الكلمة ويفهم ، وهو الذي يأتي بثمر بعض مائة وآخر ستين وآخر ثلاثين (مت١٣: ٢٣)</p>
<p>وحيث أننا - كما يقول الرسول - فلاحة الله ، بناء الله (١كو ٣: ٩) &#8221; فلاحة &#8221; في أرض جيدة و &#8221; بناء &#8221; علي الصخر ، فلنقف في صمود لا نهتز أمام العاصفة ، وكفلاحة الله لا نلق بالاً للشر ولا للضيق والاضطهاد اللذين يثوران ضدنا من اجل الكلمة ، ولا لهموم العالم ولا لغرور الغني أو لذات الحياة (مت ١٣: ٢٢) و(مر ٤: ١٩) و(لو ٨: ١٤) بل نحتقر كل هذه الأباطيل و نتلقي روح الحكمة      (أف ١: ١٧) دون قلق أو هم ، هلم نسرع الي الغني الذي لا يشوبه خداع ، ولنحث خطانا الي ما نسميه بأفراح فردوس البهجة (تك ٣: ٢٣) ولنتذكر في كل آلامنا أن خفة ضيقتنا الوقتية تنشيء لنا أكثر فأكثر ثقل مجد أبديا ونحن غير ناظرين الي الأشياء التي تري بل الي التي لا تري (٢كو ٤: ١٧) .</p>
<p>وعلينا -كذلك - أن نتحقق أن قصة هابيل ، الذي قتله قايين المجرم القاتل ، انما تنطبق علي كل الأبرياء الذين تسفك دماؤهم ظلما وعدوانا<a href="#_ftn4" name="_ftnref4">[4]</a> .</p>
<h4>عظة للقديس غريغوريوس النيسي</h4>
<p>إن الفلاح الذي يزرع الفضيلة، يجب أن يكون بسيطاً وثابتاً، ويعرف كيف ينمي ثمار التقوي، ويحرص علي حياته حتي لا تنحرف أبداً الي طريق الشر، ولا يفصل الفكر التقوي عن الإيمان، بل ان يجعلهما معاً وحدة واحدة عديمة الخبرة في أهواء الشر الكائنة خارج طريقه. بالطبع من غير الممكن للزوجة التي تعيش مع زوجها، وتلك التي تزني في زواجها، ان يترجيا نفس الاجر لحياتهما.</p>
<p>يقول المطوب موسي&#8221; لاتزرع حقلك صنفين، لئلا يتقدس الملء: الزرع الذي تزرع ومحصول الحقل لا تحرث علي ثور وحمار معاً. لا تلبس ثوباً مختلطاً صوفاً وكتاناً معاً.</p>
<p><strong>ثمار الفضيلة:</strong></p>
<p>ماذا يريد موسي النبي ان يقول بهذه الألغاز؟يريد ان يقول انه لاينبغي لاحد ان يزرع في النفس الواحدة الفضيلة والخطية، ولا ان يجعل الحياة تتسم بالمتناقضات، بمعني ان ينمي في النفس ذاتها، اشواكاً وحنطة، ولا ان تزني عروس المسيح مع اعداء المسيح، ولا ان تلد موراً من ناحية، ومن ناحية اخري تلد ظلاماً. لان هذه الامور لا تتوافق فيما بينها بحسب طبيعتها، فلا عناصر الفضيلة تتوافق مع عناصر الخطية. وأي توافق يمكن ان يوجد بين التعقل والإسراف او الإتلاف؟ كيف يمكن ان يتشابه العدل مع الظلم؟ وايه علاقة للنور مع الظلمة؟</p>
<p>الا يتراجع الواحد دوماً امام الآخر، الا يرفض ان يأتي في علاقة مع عدوه؟</p>
<p>إذا يجب علي فلاح الحياة الحكيم ان يفجر ابار مياة الحياة، كما من مصدر مياة صالحة للشرب وحسنة الطعم، دون اية شوائب تعكر صفوها، وان يعرف فقط اعمال الله، ويجاهد في تتميم هذه الاعمال، ويهتم بها كل ايام حياته.</p>
<p>هكذا حتي وان نبت خفية، فكر غريب عن ثمار الفضيلة، فذاك الذي يطلع علي كل شئ، ينظر الي اتعابك، وسينزع بقوته وعلي وجه السرعة، جذر الخداع والمراعاة لتلك الافكار الغريبة قبل ان تنبت. لان من يظهر صبراً واحتمالاً في جهاد الفضيلة، تفتقدة سريعاً نعمة الروح القدس وتبطل بذار الخطية، ولا مجال علي الإطلاق ان تخطئ النعمة هدفها، ولا تتجاهل وتترك الذي يقف دائماً الي جوار عرش الله، مظلوماً.</p>
<p>انظر الي ارملة الانجيل التي لم ترفع شكواها وتعبر عن الظلم الكبير الذي وقع عليها الي قاضي محب للناس مترفق بهم، بل الي قاض قاس، الا ان توسلاتها والحاحها الكثير في الطلب، وصبرها، غلب جمود القاضي، ودفعته ان يعاقب مقترف الظلم، اذا لا تمل ولا تتعب انت ايضاً من ان تصلي بلجاجة، لانه ان كانت تلك التوسلات قد جعلت قاضياً قاسياً يلين، فكيف لنا ان نبرر نحن ايضاً فقدان رجائنا في الصلاة لله الذي تعرف مراحمة دائماً، طريقها الي اولئك الذين يطلبونه؟ بل ان الرب نفسه يقبل لجاجتنا في الصلاة، ويحثنا علي ان نبدي استعداداً ، لذلك يقول : اسمعوا ما يقول قاضي الظلم . افلا ينصف الاه مختاريه، الصارخين اليه نهاراً وليلاً، وهو متمهل عليهم؟ اقول لكم : انه ينصفهم سريعاً.</p>
<p>ايضاً الرسول بولس يتمني ويطلب باستعداد ورغبة قوية وجهاد كثير ، ان يصل تلاميذ الإيمان الصالح الي حالة الكمال التام، وبالإضافة الي ذلك، يظهر هدف الحقيقة فيقول: الذي ننادي به منذرين كل إنسان ، ومعلمين كل انسان بكل حكمة، لكي نحضر كل إنسان كاملاً في المسيح يسوع. الامر الذي لأجله اتعب ايضاً مجاهداً، بحسب عمله الذي يعمل في بقوة. وايضاً يتوجه نحو اولئك الذين استحقوا ختم الروح القدس بالمعمودية، متمنيًا ان ينالوا بصلواتهم الدائمة، المزيد من الاستنارة والنضوج الذهني ، بواسطة هبة الروح القدس قائلاً: &#8220;لذلك انا ايضاً اذ قد سمعت بإيمانكم بالرب يسوع، ومحبتكم نحو جميع القديسين، لا ازال شاكراً لاجلكم ، ذاكراً اياكم في صلواتي، كي يعطيكم اله ربنا يسوع المسيح، ابو المجد، روح الحكمة والاعلان في معرفته، مستنيرة عيون اذهانكم، لتعلموا ما هو رجاء دعوته، وما هو غني مجد ميراثه في القديسين، وماهي عظمة قدرته الفائقة نحونا نحن المؤمنين، حسب عمل شدة قوته.</p>
<p>بعد ذلك تحدث عن كيفية نوال الروح القدس &#8220;حسب عمل شدة قوته الذيعمله في المسيح، اذ اقامهمن الموات. هنا يتكلم بوضوح عن الروح القدس وعمله في اولئك الذين ينالونه، حتي انكم انتم ايضاً -هكذا يقول-ان تقبلوا اليقين من، بنفس الطريقة، ثم يتقدم قليلاً في الرسالة، متمنياً لهم اعظم، مصلياً ان تحل علي هؤلاء القوة الكاملة التي لروح الله. يقول : &#8220;بسبب هذا احني ركبتي لدي ابي ربنا يسوع المسيح، الذي منه تسمي كل عشيرة في السماوات وعلي الارض. لكي يعطيكم بحسب غني مجده، ان تتأيدوا بالقوة بروحه في الانسان الباطن، ليحل المسيح بالايمان في قلوبكم، وانتم متأصلون ومتأسسون في المحبة، حتي تستطيعوا ان تدركوا مع جميع القديسين، ماهو العرض والطول والعمق والعلو ، وتعرفوا محبة المسيح الفائقة المعرفة، لكي تمتلئوا الي كل ملء الله<a href="#_ftn5" name="_ftnref5">[5]</a>&#8220;.</p>
<h4>وايضا للقديس غريغوريوس النيسي</h4>
<p><strong>العين المقفلة :</strong></p>
<p>&#8221; أختى العروس &#8230; عين مقفلة &#8230; ينبوع مختوم &#8221; (نش ٤ : ١٢)</p>
<p>أن حديقة النفس تحتاج الى ينبوع ماء حتى يزهر البستان حين يروى باستمرار من تلك المياه . ويشرح لنا سفر الامثال ذلك بطريقة رمزية حين يقول &#8221; لا تفض ينابيعك الى الخارج . سواقى مياه فى الشوارع . لتكن لك وحدك وليس لأجانب معك &#8221; (أم ٥ : ١٦- ١٧) هنا يحذرنا الوحى الالهى من أن يسلبنا أى أحد من مياه ذلك الينبوع والا يأخذ الغريب من ذلك الينبوع لأن كلمة مختوم تفيد أن ينبوع الماء تحت الحراسة ، وهذا يرمز الى عمل الروح الداخلى . لأن كل الأفكار تنبع من الداخل دائما ولكن حين تنجذب لتلك الأفكار ونخضع للأشياء التى تجذبنا وحينئذ نسقط . ولذلك نحن نتقدم دائما نحو البر حين نرفض تلك الأفكار الشريرة .</p>
<p>فالانسان حبن يتحول بفكره نحو الشر فهو يعطى نبع مائه للغرباء وعندئذ يزداد الشوك فى بستانه وتجف وتنشف النباتات المفيدة حين لا تروى نفوسنا من الأفكار الجيدة . والآن يجب أن نعلم أن الختم يحفظ صيانة ما نحميه لأن الختم يخيف اللصوص ويعيقهم عن أخذ أى شىء . ويصير نبع الماء بكرا لأنه لم ينتهك ويظل محفوظا للرب وحده . ونحن هنا نرى قمة المدح والمجد المقدم للعروس لأن فكرها أصبح طاهرا لم يمسه العدو بعد لأنها تحتفظ بنقاوتها وكمالها . أنه ختم الطهارة الذى يحفظ النبع طاهرا للرب ، ويحفظ نقاوة القلب حين لا يتلوث بالأفكار الشريرة .</p>
<p>ويمكن أن نعبر عن نفس الفكرة بطريقة أخرى . لأننا نعلم أنه يوجد أشياء طبيعية فينا ويوجد أشياء أخرى ليست من طبيعتنا ولكننا نكتسبها من الخارج . ولهذا يقول سفر الأمثال أن لا نعطى ماء ينبوعنا الى الغريب بل نستعمله لحديقتنا الخاصة حتى نروى غرس الله . وهذه النباتات هى رمز الفضائل لأنه اذا ما انشغل فكرنا بتلك الفضائل فان النفس لن تهتم بتلك الأشياء الخارجية وسوف تسلك نحو الفضيلة والبر وعندئذ تختم ذاتها بخاتم الحق<a href="#_ftn6" name="_ftnref6">[6]</a> .</p>
<h3>عظات اباء وخدام معاصرين</h3>
<h4>مثل الزارع لقداسة البابا تواضروس الثاني</h4>
<p><strong>كلمة الملكوت</strong></p>
<p>في أمثال الملكوت (متى ١٣) إشارة واضحة إلى الإنجيل ( كلمة الملكوت ) .</p>
<p>الإنجيل ليس للقراءة ولكن للبناء ، فالكنيسة لا ترى الإنجيل &#8221; كلمة مقروءة &#8221; بل تراه كلمة معبودة ، بدون روح العبادة لا تفهم كلمة الإنجيل .</p>
<p>الإنجيل ليست للعزاء الروحى بل للبناء الروحى ، فالذى يتقبل الكلمة بالعبادة  لا يحتاج لكثرة القراءة بل يحتاج للثبوت بعزم القلب ، والكلمة فيه تنمو وتزداد ، وهو يرى ويحس كيف يصير حياة وسلوك واستعلاناً لبناء روحى يتنامى ويرتفع .</p>
<p>النعمة لا تعمل إلا من خلال الكلمة ، ولكن ليس الكلمة المقروءة وحسب ، بل الكلمة التي دخلت لتتحول إلى عبادة وصلاة ، إنها &#8221; كلمة الملكوت &#8221; . ويقول القديس يوحنا سابا : &#8221; هذا الملكوت ليس غريباً عنا بل هو &#8221; حياتنا &#8221; إذ يعنى ملكية الرب ( الحياة ) على قلوبنا وأفكارنا وطاقتنا ، حتى نصير كأننا شعلة نار محترقة دوماً نحو السماويات &#8221; .</p>
<p>لقد بعنا حياتنا كلها للرب ودفع هو الثمن على الصليب ، ولم يعد لنا حق التصرف في شيء ما بدون استئذانه ؛ فإن أكلنا أو شربنا أو صمنا ليكن الكل لمجد اسمه &#8230;</p>
<p><strong>حياتنا الروحية :</strong></p>
<p>+ الصداقة الحقيقية : التبعية الحقيقية هي علاقة داخلية مع المسيح ، فهو لا يطلب المظهر الخارجي ( الزحام الذى حوله ) ، بل يطلب القلب أولاً بحيث لا يدخل أي آخر فيه إلا عن طريق الرب يسوع . إنه يسمح بالحب للأخرين ولكن ليس أكثر منه .</p>
<p>+ كيف تحمل الصليب ؟</p>
<p>١ – بالزهد فيما يخص أجسادنا .</p>
<p>٢ – بالحنو على أقربائنا ومن يحتاج .</p>
<p>إننا بدون قبول الصليب نحمل اسم المسيح دون حياة فينا .</p>
<p>ولذا يحتاج حمل الصليب إلى حساب النفقة :</p>
<p>مثال بناء البرج : برج الفضائل الروحية ، ملء قامة المسيح يحتاج إلى :</p>
<p>١ – حساب النفقة = جلسة هدوء وارتباط واعى بالمسيح .</p>
<p>٢ – أساس ثابت = بساطة ، تواضع = صخر الإنجيل .</p>
<p>٣ – أحجار      = وصايا لكمال النفس ولا يكفى حجر ( وصية ) واحدة .</p>
<p>٤ – بناء شاهق  = ينمو ويعلو / قائم للمراقبة والحراسة .</p>
<p>مثال الملك الذى يحارب : هو مثل القطيع الصغير الذى يترك أمواله ولا يتكل على بره  الذاتي ، ويتقدم ويغلب عدو الخير ويصير ملحاً جيداً يملح الآخرين أيضاً .</p>
<p><strong>تبعية يسوع</strong></p>
<p>هذا هو الأحد الثالث من هاتور ، وغالباً الأول من الصوم الميلادى البتول . إنه مع الأحد الرابع  يتحدثان عن &#8221; تبعية يسوع &#8221; .</p>
<p>وهناك سؤلان :</p>
<p>١ – كيف نستعد لميلاد السيد المسيح ؟</p>
<p>بالصوم     :  ٤٣ يوم .</p>
<p>بالتسبيح     :   شهر كيهك .</p>
<p>بكلمة الله    :   القراءات الكنسية .</p>
<p>٢ – كيف نحيا في تبعية السيد المسيح ؟</p>
<p>+ إنه يريد القلب كله له ( المحبة الكاملة ) .</p>
<p>ياابنى أعطنى قلبك &#8230;.</p>
<p>تحب الرب إلهك من كل قلبك &#8230;.</p>
<p>+ إنه يريد أن نحمل الصليب = نحمل المسيح     ( الطاعة الكاملة )</p>
<p>&#8221; من يحبنى يحفظ وصاياى &#8230;. &#8221;</p>
<p>+ إنه يريد أن نثق فيه تماماً . ( الإيمان الكامل )</p>
<p>&#8221; بدونى لا تقدرون أن تفعلوا شيئاً &#8221; (يو ١٥ : ٥) .</p>
<p>تبعية .. توعية .. تضحية :</p>
<p>+ مشكلة الشباب الغنى : إنه كان يطلب الجائزة دون التعب والجهاد والنفقة ، ولذا ظهرت أهم سمات شخصيته في حواره مع المسيح:</p>
<p>١ – يشعر بعدم أمان بخصوص المستقبل .</p>
<p>٢ – ينقض الوصية الأولى لأن المال صار إلهاً له .</p>
<p>٣ – يرى ويعتقد أن الغنى دليل الرضا السماوى .</p>
<p>وكان العلاج الذى قدمه له السيد المسيح :</p>
<p>١ – طرح كل معوق أرضى عن تبعية المسيح .</p>
<p>٢ – محبة الفقير والغريب وليس القريب فقط .</p>
<p>٣ – قبول حمل الصليب ( الألم والجهاد ) .</p>
<p>بطرس الرسول :</p>
<p>ماذا ترك ؟ &#8230;. ترك كل شيء ..</p>
<p>ماذا نال  ؟ &#8230;. كنز السماء &#8230;</p>
<p>والسؤال هل الاضطهاد مكسب أم خسارة ؟ ! &#8230;</p>
<p><strong>الغنى الحزين</strong></p>
<p>مميزات الشاب الغنى :</p>
<p>١ – كان غنياً ، والمال في حد ذاته نعمة وبركة .</p>
<p>٢ – كان شاباً ، والشباب قوة وجمال ونشاط .</p>
<p>٣ – كان رئيساً من رؤساء الدين (لو ١٨ : ٨) ذو وقار .</p>
<p>٤ – كان مؤدباً إذ جثا وسجد في خضوع أمام يسوع .</p>
<p>٥ – كان يشتاق للملكوت وللحياة الأبدية .</p>
<p>٦ – كان حافظ للوصايا منذ نشأته .</p>
<p>نقصات الشاب الغنى :</p>
<p>١ – ينقصه الإيمان الصحيح إذ خاطب المسيح كمعلم فقط وليس كإله .</p>
<p>٢ – ينقصه تحطيم الأصنام الداخلية وهى هنا المال ومحبته .</p>
<p>٣ – ينقصه تنفيذ الوصايا &#8230; كان يحفظها نظرياً .</p>
<p>٤ – ينقصه تأمين كنزه &#8230;. فبدلاً من الأرض &#8230; يضعه في السماء .</p>
<p>٥ – ينقصه اتباع الراعى الصالح ، فليس لحهاده معنى دون ذلك .</p>
<p>والخلاصة : كان عنده : اقتناء مادى ، اقتناء نفسى ، واقتناء روحى<a href="#_ftn7" name="_ftnref7">[7]</a> .</p>
<h4>مثل الزارع : (مت ۱۳ : ۱ - ۲۳) للمتنيح الانبا اثناسيوس مطران بني سويف والبهنسا</h4>
<p>ليست الأرض الزراعية في فلسطين منبسطة كوادى النيل ، بل هي مرتفعاتومنخفضات وقد يكون الحقل محدودا من ناحية بهوة منخفضة ، وقد يكون فيوسطه أجزاء صخرية ، وعند الأطراف تنبت حشائش لا يتمكن الفلاح مناقتلاعها لأنها على أطراف الجرف . فاذا ما نثر البذور سقط بعضها حتما علىالأرض الجيدة ، والبعض على الأرض الصخرية ، والبعض بين الشوك والبعضعلى الطريق حيث أن الطرق هناك تلتوي حول المرتفعات .</p>
<p>وقد فسر السيد نفسه هذا المثل فقال : ان العقل المتبلد المستولى عليه الشريريشبه الطريق فيأتي الشيطان سريعا ليخطف الكلمة التي تلقي عليه . والانسان السطحي الذي لا يتعمق بالكلمة يشبه الأرض الصخرية التي ليسلها أصل من التربة ، فاذا ما جاء ضيق ، أو اضطهاد يعثر سريعا. ولاانسانالمشغول بالأمور العالمية يشبه الأرض المملوءة بالأشواك . وأما الذي يسمعويفهم فهو الذي يأتي بثمر ويتقدم ناميا من ثلاثين الى ستين الى مئة.&#8221;والفاهمون يضيئون كضياء الجلد ، والذين ردوا كثيرين الى البر كالكواكبالى أبد الدهور &#8221; (دا ۱۲ : ۱۳) والأمين في القليل ، أمين أيضا في الكثير . &#8221; ومنله سيعطي ويزاد ، وأما من ليس له فالذي عنده سيؤخذ منه &#8221; (مت ۱۳ : ۱۲)</p>
<p>وقد وصف ذهبي الفم هذه الأنواع الأربعة بأن الطريق هو غير المكترثين ،والأماكن المحجرة هم ضعفاء الارادة الذين يقبلون الكلام ولا يقومون بالتوبة ،والأرض ذات الشوك هم محبو العالم ، والأرض الجيدة هم الصالحون ، وأماالزارع طبعا فهو رب المجد الذي خرج من خدره السماوي في جسد بشریوتمشي بيننا (مقالة ٤٤).</p>
<p>واذا تصورنا الأرض المنبسطة كما في وادي النيل ، فأنها تبدأ بأن تكون أرضاجيدة صالحة للزراعة ، تأتي بثمر كثير في يد الفلاح الأمين . ولكنها في يدالفلاح المهمل الذي لا ينقيها جيدا بالحرث العميق ( لا يعزقها ) فانها تمتلىءبنبات غريب هو النجيل ، وهو في أرضنا يتعمق في الأرض كثيرا ، واذا لميقتلع من جذوره فانه ينتشر فيها . ومن الغريب في هذا النجيل أنه اذا سقطتقطعة منه في الأرض فانها تنبت جذورا ونباتا جديدا. ولذلك يحرص الفلاحعلى أن يقتلعه تماما ، ويأخذه بعيدا عن الحقل ويحرقه عن آخره .</p>
<p>واذا ما أهمل الفلاح في ري الأرض ، لأن الماء يأتي في القنوات في مواعيدولأوقات محدودة ، فان الأرض تجف اذا فاتتها الدورة وتتقسی تربتها ، أو أنهاذا رواها ريا غير مشبع فان سطحها يغطى بالماء ، ولكن أعماقها لا تشبع .</p>
<p>وأما اذا زاد الأهمال ، فان الأرض تبور وحينئذ لا يحترم المارة حدودها بليخترقونها الى حقولهم فتصير طريقا للدوس . وهكذا تتحول الأرض الجيدةالى طريق صماء باهمال الفلاح .ويكاد يكون الأهمال في عنصرين أساسيين،عدم تنقية الأرض من النجيل، وعدم أشباعها بالماء . والنجيل والشوك هنا هما: هموم العالم ،وشهواته الكامنة في القلب التي تخنق الكلمة .والری هنا العبادةالأمينة . فيجب علينا أن ننقى قلوبنا من كل شر وأن كان خفيا ، ونقتلعه منأساسه كما يلزمنا ان نواظب على العبادة لتشبع منها حتى تكون حياتنا لينةشبعی بالنعمة . وأما أن أهملنا هذين الأمرين فاننا نتقسی ويكون مصيرناطريقا لگل خطية .</p>
<p>وليس خفيا أن الأرض غير المزروعة ( البائرة ) اذا سلمت لفلاح نشيط يمكن أنتتحول الى أرض جيدة والعكس صحيح (مت ١٣: ١٠-١٧) وعلى الرغم منوضوح الأمثال ومن كثرتها فان البعض لم يفهموها : ولم يسمعوا لها لأنقلوبهم قد غلظت ،وحواسهم قد انطمست فلنطلب من الرب ، ولنكن نشطين لگینحس ونعمل دائما<a href="#_ftn8" name="_ftnref8">[8]</a>.</p>
<h4>مثل الزارع للمتنيح العلامة انبا لوكاس</h4>
<p>+ جاء في مثل الزارع &#8220;وسقط آخر علي الارض الجيده فأعطي ثمراً بعضمئه وآخر ستين وآخر ثلاثين ، من له أذنان للسمع فليسمع &#8221;</p>
<p>+ ما معنيهذه الكلمات والارقام ؟</p>
<p>&#8221; نفهم من خلاصه شرح السيد المسيح لمثل الزرع والزارع (مت ١٣ : ٣- ٨-١٨-٢٣). ان المراد من بالأرص الجيده هوالقلب البشري المهيأ لقبول زرع كلام الله .</p>
<p>ولما كان حديث السيد دائماً ذا شجون لأن تعاليمه تتناول أعماق الحياه الانسانيه الجديرة بإلفات النظر الي خطورتهالمضاعفه الاهتمام بالتأمل في تفاصيلها ، لهذا كان السيد يقرن حديثه بقوله &#8221; من له اذنان للسمع فليسمع &#8221;</p>
<p>&#8221; واختلاف كميه الثمر من ثلاثين الي ستين  الي مائه امر يستوجب التأمل العميق . فمن شؤون الزراعه الحسيه المعروفهان تتناسب كميه غله الارض مع كميه البذار تناسباً طردياً وفي هذا المعني يقول الرسول &#8221; من يزرع بالشح فبالشح أيضايحصد ومن يزرع بالبركات فبالبركات أيضا يحصد &#8221; (٢كو ٩: ٦). كما اننا ان ننس ان توافر وسائل الانبات من تربه جيدهوماء وضوء وهواء عامل في ازدهار النبات وامتلائه السخي بالثمر الدسم الكثير .</p>
<p>هكذا ارض &#8221; القلب البشري &#8221; وزرع كلام الله فالتفاضل في جوده الارض وتوافر وسائل الانبات الروحي لاشك لهمااهميتها في تطور كميه الثمار من ثلاثين الي ستين الي مائه ،</p>
<p>&#8221; واذا عرفنا أن &#8221; المحبه &#8221; في القلب البشري هي سر نجاح نمو كلمه الله وازدهارها واثمارها</p>
<p>&#8221; من يحبني يحفظ كلامي … الذي لا يحبني لا يحفظ كلامي … &#8221; (يو ١٤ : ٢٣-٢٤). وعرفنا أيضاً ان تفاوت المحبه فيالقلوب وتفاضلها ، من عوامل التطور من ثلاثين إلي ستين الي مائه في الثمار الروحيه &#8221; من ذلك أقول لك قد غفرتخطاياها الكثيرة لانها أحبت كثيرأ . والذي يغفر له قليل يحب قليلا &#8221; (لو ٧: ٤٧-٤٨). وتطبيقا لذلك تستطيع أن ندرككيف ان القلوب البشريه ، تبعا لمقدار استجابتها لمحبه الله ، هكذا يكون مقدار انتاجها لزرع كلام الله فيها .</p>
<p>&#8221; ولان في استجابه القلب البشري لمحبه الله ضمانا لطيبه وجوده التربه الروحيه فيه و توافر وسائل الانبات &#8221; لهذاينبهنا فادينا الحبيب الي اهميه ذلك بقوله &#8221; انا الكرمه وانتم الاغصان … اثبتوا في وانا اثبت فيكم &#8221; (يو ١٥ : ٤ -٥).اذانه في هذا الثبات المتبادل ضمان لاستجابه القلب البشري لمحبه الله . وبالتالي لنمو الكلمه وازدهارها واثمارها ، وتبعالكميه استجابتنا لهذه المحبه يكون الثمر ثلاثين او ستين أو مائه : &#8221; فمن له اذنان للسمع فليسمع &#8221; (مت١٣ : ٩)<a href="#_ftn9" name="_ftnref9">[9]</a>.</p>
<h4>لاتزرع حقولك صنفين .. للمتنيح الانبا كيرلس مطران ميلانو</h4>
<p>لا تزرع حقلك صنفين</p>
<p>هل أنت زارع ؟! أم أنت ساقي ؟! أم أنت زارع وساقي معاً ؟!</p>
<p>جيد للإنسان أن يعمل زارعاً للخير .. وجيد أن يكون ساقياً له .. وأكثر حلاوة أن تعرف جيداً أن ليس الزارع شيئاً ولا الساقي شيئاً بل الله الذي ينمى كما يقول معلمنا بولس الرسول (١کو ۳ : ۷) .</p>
<p>هل أنت زارع ؟ ! .. أنت لا تقدر أن تقول أنا لست زارعاً ولا ساقياً .. لأن كل إنسان يعيش على الأرض يعمل زارعاً دون أن يدري .. نحن بالكلام نزرع دون أن ندري .. وبالصمت نزرع أيضاً .. بالأعمال نزرع وبالتصرفات نغرس .</p>
<p>أنت أيها الزارع ترى ماذا تزرع بأعمالك ؟ ! .. هل تزرع خيراً .. أم تزرع شراً ؟ ! .. هل تزرع حباً أم تزرع كراهية ؟ ! .. هل تزرع سلاماً أم تزرع خصومات بين إخوة متحابين ؟ ! .. هل تزرع فرحاً أم تزرع حزناً ؟ ! .. هل تزرع راحة أم تزرع تعباً ؟ ! .. هل تزرع طمأنينة أم تزرع قلقاً ؟ ! .. هل تغرس فضيلة أم تلقى معثرة ؟ ! .. أم لك المقدرة أن تزرع الصنفين .. الخير والشر ؟!</p>
<p>السيد المسيح له المجد كان يجول يصنع خيراً في كل مكان .. كان يطوف يزرع صنفاً واحداً للكل وهو الخير ..</p>
<p>أنت لا تقدر أن تزرع في الآخرين سوى ما هو من ثمرة قلبك .. لا تقدر أن تزرع الخصال الحميدة في من هم حولك قبل أن تزرعها أولا في تربة قلبك وتنمو وتثمر فيه .. مثلما يعمل الوصي ( الإشبين ) في سر المعمودية على زرع الفضائل في الطفل المعمد كما تقول الوصية : &#8221; لقد تسلمتم أولادكم من المعمودية الروحانية الطاهرة التي يطالبكم الرب بها إن أهملتم في تربيتهم &#8221; ..</p>
<p>ازرعوا فيهم الخصال الحميدة : المحبة والوداعة والاتضاع وحب التسبيح والأصوام الكنسية .. &#8221; .</p>
<p>أيها الزارع حسن أن تعمل زارعاً .. لكن الأهم هو ماذا تزرع .. لأن مستقبلك كله في يد ما تزرعه أنت ..</p>
<p>مستقبلك الأبدي متوقف على ما أنت تزرعه بأعمالك .. فلا تزرع العثرة .. لأن من يزرع العثرة في قلب أحد الأطفال الصغار يقول عنه السيد المسيح : &#8221; خير لذلك الإنسان أن يعلق في عنقه حجر الرحى ويغرق في لجة البحر &#8221; (مت ۱۸ : ٦) .</p>
<p>لذا أسع أن تزرع البر في تربة قلبك وفى قلب من حولك ليرتفع شأنهم وشأن وطنك .. &#8221; لأن البر يرفع شأن الأمة وعار الشعوب الخطية &#8221; (أم ١٤ :٣٤) .</p>
<p>مستقبلك الأبدي هو ثمرة الحصاد لزرعك .. فكل &#8221; الذين يزرعون بجهادهم ودموعهم يحصدون بالابتهاج &#8221; (مز ١٢٦ : ٥) .. يحصدون مع الله الذي يمسح كل دمعة من عيونهم (رؤ ٧ : ۱۷) . مثلما زرعت الأم دولاجي والأم رفقة في أولادهما في زمن الاضطهاد .. ومثلما غرس بولس الرسول تعليماً يؤكد فيه &#8221; أن آلام الزمان الحاضر لا تُقاس بالمجد العتيد أن يستعلن فينا &#8221; (رو ٨ : ١٨) . وما قد غرسه الرسول أثمر في قلبه ودفعه يحصد قائلاً : &#8221; لي الحياة هي المسيح والموت هو ربح &#8221; (في١ : ٢١) .</p>
<p>أنت تعلم أن السيد الرب أوصى ألا تزرع حقلك صنفين (تث ۲۲ : ۹) .. ليكن الصنف الذي تزرعه وتكتفى به هو الخير .. ولا تسمح للشر أن يغلبك بل اغلب الشر بالخير (رو ۱۲ : ۲۱) .</p>
<p>وأنت تلقى الحبوب ليكن منهجك هو مبدأ تكافؤ الفرص .. ألق بذور المحبة أمام الكل .. ألقها على الأرض الجيدة .. ولا تحرم القلب المحجر لأجل قساوته .. ولا تمنعها عن النفس المختنقة بالأشواك .</p>
<p>الحبوب تلقيها أمام الكل .. والنفس تقبلها أو لا تقبلها هذا ليس عملك وأنت لا تسأل عليه .</p>
<p>ليكن المسيح هو مثلك الأعلى فهو الذي شبه نفسه بالزارع .. لأن ليس للزارع رسالة أخرى سوى عمل الخير .</p>
<p>أيها الزارع إن أردت أن تربح .. أزرع حقلك وحقل أولادك بالوضوح .. والصراحة .. والأمانة .. والصدق .. والإخلاص .. وبهم يستريح الله في قلبك<a href="#_ftn10" name="_ftnref10">[10]</a> .</p>
<h4>المتنيح القمص تادرس البراموسي</h4>
<p>الأحد الثانى من شهر هاتور المبارك</p>
<p>من له أذان للسمع فليسمع (متى١٣: ١ – ٩)</p>
<p>استخدم الرب يسوع له المجد كثيراً من التشبيهات والأمثال عندما كان يخاطب الجموع والمثل يقارن بين شيء مألوف وأخر غير مألوف فهو يساعد على فهم الحق الروحي باستخدام أشياء أو علاقات مألوفة فالمثل يضطر السامع لاكتشاف شيء يقربه إلى المطلوب وفى نفس الوقت يخفى السر عن الكسالى المتراخين والمعاندين الذين لا يريدون رؤية ما يجب أن يرونه أما الذين يسمعون ويبحثون على الخلاص فأن الحق يصبح جلياً أمامهم يجب علينا نحن المسيحيين الذين نريد خلاص نفوسنا ونسعى لمساعدة الأخريين أن نتشجع بهذا المثل فلا تفشل إذا بدأ أحد السامعين بعدم الاكتراث وأنت تعلم أو تنصح أو تقوم بالخدم الروحية بكل أمانة فلا يمكن للأيمان أن يجرى في قواعد حسابية بل ما يجرى أنها معجزة من روح الله القدوس . أن يستخدم كلاً منا لنأتي بالأثمار المطلوبة تسمع الأذان البشرية كثيراً من الأصوات لكن هناك نوع من الإصغاء أعمق يؤدى إلى فهم روحي . فأن كتب بأمانة تطلب مشيئة الله ولك سمع روحي مستفيض تجد في الأمثال لذة وروحاً جديداً يرفعك إلى الأمام فلم يفهم التلاميذ معنى مثل الزارع فتقدموا إلى الرب يسوع يسألونه لماذا يكلمهم بأمثال قال قد أعطى لكم أن تعرفوا أسرار ملكوت السماوات وأما أولئك فلم يعط فأن من له سيعطى ويزداد وأما من ليس له فألذى عنده يؤخذ منه وابتدأ يفسر لهم المثل . كل من يسمع كلمة الله ولا يفهم يأتي الشرير ويخطف ما قد زرع في قلبه . هذا هو المزروع على الطريق والمزروع على الأماكن المتحجرة . هو الذى يسمع الكلمة حالاً يقبلها بفرح كلمة ليس لها أصل فأن حصل ضيق أو ألام فحالاً يعثر والمزروع في وسط الشوك الذى يسمع وتسحقه هموم العالم فيصير بلا ثمرة أم الأرض الجيدة فهو الذى يسمع الكلمة ويعمل هذا هو الذى يأتي بثمر فهذه النوعيات هي مجموعة البشر الذين يحضرون الصلاة ويسمعون الكلمة لكن يوجد تفاوت بين الواحد والأخر حسب الاستعداد الروحي .</p>
<p><strong>العظة الأولى</strong></p>
<p>أ – هلموا نخرج خارج المحلة لناقاه</p>
<p>ب – الأهتمام الحكيم والزرع السليم</p>
<p>ج – التنقيب والتشجيب والتسميد</p>
<p>د – السقاية والعناية وتنقية الشوائب</p>
<p>ه - الحراسة والحراثة وتنقية الزوان</p>
<p>و – الأختبار والانتظار وجنى الثمار</p>
<p>ذ – الوقت والمواعيد والرأى السديد</p>
<p>ح – وقت الحصاد وجمع العتاد</p>
<p>ط – التنقية والتقنية والرأى</p>
<p>ى – التصحيح والتلفليح والتلقيح</p>
<p><strong>العظة الثانية</strong></p>
<p>أ – ندخل داخلنا لنفتش عليه</p>
<p>ب – نجلس عند البحر لنستمع إليه</p>
<p>ج – ندخل العمق لنعطيه ونلتجئ إليه</p>
<p>د – نصغى بقلوبنا ونسمع كلامه</p>
<p>ه - نحترس من الثعالب لننجو من التجارب</p>
<p>و – نبعد عن الأحجار ننتظر الأثمار</p>
<p>ذ – نبعد عن الأحجار ننتظر الأثمار</p>
<p>ذ – نترك الهموم ونلتجئ إلى الرحوم</p>
<p>ج – نسمع ونطيع وتنضم إلى القطيع</p>
<p>ط – تنصت بالأذان قبل فوات الأوان</p>
<p>ى – صوت الرب أتى ننتظره بصلاتي وأهاتى</p>
<p><strong>العظة الثالثة</strong></p>
<p>أ – قلوب سطحية</p>
<p>ب – قلوب حجرية</p>
<p>ج – قلوب عالميه</p>
<p>د – قلوب نقية</p>
<p>ه - قلوب محسوسة</p>
<p>و – قلوب منجوسة</p>
<p>ذ – قلوب في النعمة مغروسة</p>
<p>ح – ثمار سخية</p>
<p>ط – ثمار شهية</p>
<p>ى – ثمار استعداد للأبدية</p>
<h3>من وحي قراءات الأحد الثاني</h3>
<p>&#8220;خرج الزارع ليزرع &#8230; &#8221; (مت ١٣: ٣)</p>
<p>+ عجيب أمر هذا الزارع الذي لايعمل أي شئ سوي أن يلقي بذار ويزرع</p>
<p>+ وعجيب أمره أنه يرمي البذار علي أراضي محجرة وصخرية رغم علمه بعدم أو ضعف إستجابتها</p>
<p>+ بينما نترجَّي نحن كل يوم حصادنا من الناس يستمر الله في إلقاء بذور الحب والعطاء لنا</p>
<p>+ ماأسرعنا في اليأس عندما لاتأتي بذورنا الثمار المنتظرة</p>
<p>+ وماأجمل أن تكون رسالة الخادم بالأكثر هي إلقاء البذار (أع ١٠ : ٣٨)</p>
<p>+ عندما تجد خادم عمله الأساسي والدائم هو إلقاء البذور ولاينشغل بالثمار تعرف مدي صحة ووضوح هدفه</p>
<p>+ البذار هي تقديم الحب ومساعدة كل محتاج قدر الإمكان ومساندة كل من يخدم في الخفاء</p>
<p>+ الثمار هي إستجابة الناس لخدمتنا وكلامهم الإيجابي عما نفعله وتغيير حياتهم</p>
<p>+ لكن أحياناً لايرينا الله كل هذا رغم قبوله خدمتنا وزرعنا وتعبنا (يو ٤ : ٣٧- ٣٨)</p>
<p><a href="#_ftn11" name="_ftnref11">[11]</a>+ تمتّع بثمار الروح دائماً داخلك (غل ٥ : ٢٢) لكي لاتنتظر ثمار من البشر</p>
<h3>المراجع:</h3>
<p><a href="#_ftnref1" name="_ftn1"></a>١-   القديس أغسطينوس  تفسير إنجيل متي الإصحاح الثالث عشر - القمص تادرس يعقوب ملطي</p>
<p><a href="#_ftnref2" name="_ftn2"></a>Simonetti, M. &amp; Oden, T.C. ( 2001 ). Matthew ( The Ancient Christian Commentary on Scripture, New testament part Ia ). Illinois ( USA ) : InterVarsity press. Page 263</p>
<p>٢- ترجمة الأخت إيفيت منير - كنيسة مار مرقس ببني سويف</p>
<p><a href="#_ftnref3" name="_ftn3"></a>٣- تفسير إنجيل متي الإصحاح الثالث عشر - القمص تادرس يعقوب ملطي</p>
<p><a href="#_ftnref4" name="_ftn4"></a>٤- كتاب رسالة إلي الشهداء للعلامة أوريجانوس صفحة ٨٨ - ترجمة الأستاذ موسي وهبة - كنيسة مار جرجس خمارويه بشبرا</p>
<p><a href="#_ftnref5" name="_ftn5"></a>٥- المرجع : كتاب القصد الالهي من خلق الانسان للقديس غريغوريوس النيسي صفحة 43 – ترجمة دكتور سعيد حكيم</p>
<p><a href="#_ftnref6" name="_ftn6"></a>٦- المرجع : كتاب من مجد إلي مجد للقديس غريغوريوس النيسي ( فصل ٣٥ ) - ترجمة القمص إشعياء ميخائيل - كنيسة رئيس الملائكة ميخائيل بالظاهر</p>
<p><a href="#_ftnref7" name="_ftn7"></a>٧-   المرجع : كتاب المنجلية القبطية الأرثوذكسية صفحة ٢٠٨  - البابا تواضروس الثاني</p>
<p><a href="#_ftnref8" name="_ftn8"></a>8- المرجع تفسير انجيل متي للانبا اثناسيوس مطران بني سويف والبهنسا  ص١٧٨، ١٧٩</p>
<p><a href="#_ftnref9" name="_ftn9"></a>٩-   كتاب التحفة اللوكاسية للمتنيح انبا لوكاس صفحة 78 الكتاب الرابع</p>
<p><a href="#_ftnref10" name="_ftn10"></a>١٠- المرجع كتاب فتاك يا عروس تقطران شهدا جزء ٤ ص ١١١-١١٣</p>
<p>دير الانبا شنودة رئيس المتوحدين بايبارشية ميلانو</p>
<p><a href="#_ftnref11" name="_ftn11"></a>١١-   المرجع : كتاب تاملات وعناصر روحية في احاد وايام السنة التوتية الجزء الاول صفحة 33 – اعداد القمص تادرس البراموسي</p>

      {% endcreateArticleAccordions %}
    </section>
  {% endblock %}
