---
layout: 'layouts/reading.html'
title: 'الأحد الثالث من هاتور'
permalink: sundays/3-3.html
---
  {% block content %}
    <section id="readings">
      <ul>
      {% if '19.86:2-4' != 'null' %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">العشية</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeVespers '19.86:2-4' '40.11:25-30' %}
          </div>
        </div>
      </li>
      {% endif %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">باكر</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeMatins '19.113:3-4' '42.24:1-12' '' %}
          </div>
        </div>
      </li>
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <h3 class="flex items-center justify-between">
            <span class="kufi">القداس</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </h3>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeLitugy '52.1:1-12' '60.4:3-11' '44.5:30-42' '19.86:15-16' '42.14:25-35' %}
          </div>
        </div>
      </li>
        </ul>
    </section>
    <section id="article">
      <h3 class="mt-8 mb-4 heading-explain">شرح القراءات</h3>
      {% createArticleAccordions firstName, lastName %}
        <p></p>
<p></p>
<p></p>
<p>&#8221; هيئ عملك في الخارج وأعده في حقلك، بعد تبني بيتك &#8221; (أم ٢٧:٢٤)</p>
<p>&#8221; طوبي للإنسان الذي يترك عنه هذا العمر واهتماماته المملوءة تعباً القاتلة للنفس &#8211; ويحمل صليبه يوماً فيوماً ويلصق عقله وقلبه باسم الخلاص الذي لربنا يسوع المسيح &#8221;        <strong> إبصالية الجمعة</strong></p>
<p>&#8221; طوبي لمن نسي حديث العالم بحديثه معك لأن منك تكتمل كل احتياجاته أنت هو أكله وشربه &#8230; ! أنت أعطيت روح ابنك في قلبه والروح أعطاه دالة أن يطلب منك كل ما لك مثلما يطلب الابن من أبيه ! معك حديثه في كل حين لأنه لا يعلم له أبا غيرك ! <a href="#_ftn1" name="_ftnref1">[1]</a></p>
<p></p>
<p></p>
<h3>شواهد القراءات</h3>
<p></p>
<p>(مز ٨٥: ٢-٤) ، (مت١١ : ٢٥-٣٠) ، (مز ١١٢: ٣-٢) ، (لو ٢٤: ١-١٢) ، (٢تس١ : ١-١٢) ، (١بط ٤ : ٣-١١) ، (أع ٥ ٣٠-٤٢)، (مز ٨٥ : ١٤-١) ، (لو ١٤: ٢٥-٣٥)</p>
<p></p>
<p></p>
<h3>ملاحظات علي قراءات اليوم :</h3>
<p></p>
<p>+ قراءة إنجيل عشيّة اليوم (مت ١١: ٢٥ &#8211; ٣٠) هي نفس قراءة إنجيل عشيّة ليوم ٢٤ هاتور ( تذكار الأربعة وعشرين قسيس ) ، ويوم ١٠ بشنس ( تذكار الثلاثة فتية القديسين )</p>
<p>مجئ القراءة هنا لأجل الإشارة إلي إستنارة أولاد الله بالروح وتبعيتهم للمسيح له المجد الذي يحمل هوأتعابهم بينما يحملون هم نيره بينما مجيئها يوم ٢٤ هاتور فهو للإشارة إلي جوهر رسالة الكهنوت وهو إعلان تدبير الثالوث ( آية ٢٧ ) وإراحة التعابي في المسيح ( آية ٢٨ ) ،وحمل نير الكهنوت بوداعة وتواضع القلب ( آية ٢٩ ، ٣٠ )</p>
<p>أما مجيئها يوم ١٠ بشنس فهو لأجل إعلان الحكمة السماوية للأطفال أكثر من حكماء وفهماء العالم، وهو الذي أُستعلن فيبابل من الثلاثة فتية أكثر من كل حكماء بابل</p>
<p>+ قراءة الكاثوليكون اليوم (١بط ٤: ٣ &#8211; ١١) تُشبه قراءة الكاثوليكون (١بط ٤: ١ &#8211; ١١) لأيَّام ٢٥ هاتور ، ١٣ برمهات ، ٢٣ برمودة</p>
<p><strong> قراءةالأحد الثالث من هاتور تُشير إلي السلوك بالروح موضوع القراءة</strong></p>
<p>أوَّل آيتين ( آية ١ ، ٢ ) تتكلَّمان عن التسلُّح بآلام المسيح له المجد لذلك جاءت في تذكارات الشهداء المشهورين بإحتمالهم الآلام ورتبتهم كضباط في الجيش وكأن آلام المسيح له المجد كانت أسلحتهم مثل ابو سيفين ( ٢٥ هاتور ) ، مار جرجس ( ٢٣ برموده ) ، شهادة الأربعين شهيداً بمدينة بوبسته ( ١٣ برمهات )</p>
<p>+ قراءة الإبركسيس اليوم (أع ٥ : ٣٠ &#8211; ٤٢) تُشبه قراءة الإبركسيس (أع ٥ : ٣٤ &#8211; ٤٢) ليوم ٢٩ مسري (شهادة أثناسيوس الأسقف )</p>
<p>قراءة اليوم تتكلَّم عن عطيَّة الروح القدس للذين يطيعون الله ، أمَّا قراءة يوم ٢٩ مسري تتكلَّم عن الآلام الكرازية للرعاة</p>
<p>+ إنجيل قدّاس اليوم (لو ١٤ : ٢٥ &#8211; ٣٥) هو إنجيل قدّاس يوم ١٩ توت ( ثالث يوم عيد الصليب ) ، وإنجيل قدَّاس يوم ٣ مسري ( نياحة القديس سمعان العمودي )</p>
<p>والقراءة الأولي تتكلّم عن حساب النفقة والتلمذة موضوع قراءات شهر هاتور خاصّة الأحد الثالث</p>
<p>والقراءة الثانية (١٩ توت ) تتكلّم عن حمل الصليب</p>
<p>والقراءة الثالثة ( ٣ مسري ) تتكلَّم عن البرج والصخرة في مزمور عشية والقداس وإنجيل عشية وإنجيل القداس ، وهي التي إرتبطت بسيرة حياة القديس سمعان العمودي ( سنكسار ٣ مسري )</p>
<p></p>
<p></p>
<h3> شرح القراءات</h3>
<p></p>
<p>يتكلم هذا الأحد عن قيادة الروح وإستنارته للذين يحبون الله فبعد ما شرب الإنسان من مياه الروح القدس وإرتوي بها في الأحد الأول وأثمر الروح في حياته في الأحد الثاني صار هذا الإنسان منقاد في حياته بالكامل بروح الله وبدأ يدرك أسرار الله التي لايصل إليها فكر العالم ومن يحيون به وفيه</p>
<p>تبدأ المزامير بقيادة الروح في الإتكال الدائم عليه ( مزمور عشيّة ) والتسبيح علي الدوام ( مزمور باكر ) وإختبار الخلاص ( مزمور القدَّاس )</p>
<p>لذلك يبدأ مزمور عشية بسر هذه النعمة في حياة المسيحي وهو الإتكال علي الله كل الوقت والإحتياج إليه كل الزمان ( خلص عبدك ياإلهي المتكل عليك ارحمني يارب فإني صرخت إليك النهار كله )</p>
<p>وأيضا في مزمور باكر الذين يباركون الله في كل زمان حياتهم لأن غروب الشمس يرمز إلي إنقضاء العمر ( من مشارق الشمس إلي مغاربها باركو اسم الرب )</p>
<p>لذا يطلب في مزمور القدَّاس العزة والخلاص من مراحمه الغزيرة ( أنت طويل الروح وكثير الرحمة &#8230;.. أعط عزة لعبدك وخلص ابن أمتك )</p>
<p>يبدأ إنجيل عشيّة ( باكر ؟ ) بالإعلان الإلهي والإستنارة المجانية لأطفال العهد الجديد التي لايدركها فكر العالم وفلسفاته ( أحمدك أيها الآب رب السماء والأرض لأنك أخفيت هذه عن الحكماء والفهماء وأعلنتها للأطفال &#8230;.. كل شئ قد دفع إلي من أبي وليس أحد يعرف الإبن إلا الآب ولاأحد يعرف الآب إلا الإبن ومن أراد الإبن أن يعلن له )</p>
<p>تُعْلِن القراءات سمات من ينقادون بالروح ( البولس ) وسهرهم في الصلوات ( الكاثوليكون ) ودعم الله لهم ومؤازرته لخدمتهم ( الإبركسيس )</p>
<p>أما البولس فيعلن سمات المنقادين بروح الله ( لأن إيمانكم ينمو كثيرا ومحبة كل واحد منكم بعضكم لبعض تزداد &#8230;. وشدائدكم التي تحتملونها ) كما يصلي الرسول لأجل مؤمنين تسالونيكي لكمال الإعلان والإدراك لمقاصد الله ( الأمر الذي لأجله نصلي أيضا كل حين من جهتكم أن يؤهلنا إلهنا للدعوة ويكمل كل مسرة الصلاح وعمل الإيمان بقوة )</p>
<p>كما يوضح الكاثوليكون غني السالكين بالروح وليس حسب الجسد ( ولكن ليحيوا حسب الله بالروح &#8230;. فتعقلوا إذن واسهروا في الصلوات ولكن قبل كل شئ فلتكن المحبة دائمة فيكم بعضكم لبعض بلا تذمر وليخدم كل واحد الآخرين بما نال من المواهب بعضكم بعضا كوكلاء صالحين علي نعمة الله المتنوعة )</p>
<p>أما الإبركسيس فيوضح الفرق بين خدام الروح من جهه ومن أضلوا الناس من جهه أخري وأن عطية الروح مرتبطة بطاعته ولاتكف عن المناداة والبشارة بإسم المسيح ولايوقفها أي نوع من المقاومات ( ونحن شهود لهذه الأقوال والروح القدس أيضا الذي أعطاه الله للذين يطيعونه &#8230;.. إن كان هذا الرأي أو هذا العمل من الناس فسوف ينتقض وإن كان من الله فلا يمكنكم أن تنقضوه &#8230;. أما هم فذهبوا فرحين من أمام وجه المجمع لأنهم حسبوا مستأهلين أن يهانوا من أجل إسمه وكانوا لايزالون كل يوم في الهيكل وفي البيوت معلمين ومبشرين بيسوع المسيح )</p>
<p>لأجل هذا يضع إنجيل القداس مقارنة بين من إنقادوا بالكامل بالروح وبين من وقفوا في منتصف الطريق بين من فاقت محبتهم لله عن كل محبة بشرية وأيضا قبلوا بفرح حمل الصليب وبين من إستعظموا الخسارة المادية أو العالمية أو العاطفية  ( من يأتي إلي ولايبغض أباه وأمه وامرأته وأولاده واخوته وأخواته حتي نفسه أيضا فلا يقدر أن يكون لي تلميذا ومن لايحمل صليبه ويتبعني فلا يقدر أن يكون لي تلميذا &#8230;. إن لم يترك جميع أمواله لايقدر أن يصير لي تلميذا ) لذلك يحذر من أن يفسد ملح حياتنا وطاعتنا ( الملح جيد ولكن إذا فسد الملح فبماذا يملح )</p>
<p></p>
<p></p>
<h3> ملخَّص القراءات :</h3>
<p></p>
<p>لذلك إنقياد الإنسان المسيحي بروح الله يظهر في مدي إتكاله عليه وتسبيحه وإحتياجه للخلاص ( مزمور عشية وباكر والقداس )</p>
<p>فيعطيه الروح أسرار السماء                                                        ( إنجيل باكر )</p>
<p>لمحبته لله فوق كل محبة بشرية                                                 ( إنجيل القداس )</p>
<p>كما يظهر في الكنيسة المنقادة بروح الله في محبة أعضاءها الشديدة لبعض ونمو إيمانهم وسهرهم ( البولس والكاثوليكون )</p>
<p>وفي شهادتها التي لايوقفها هياج العالم                                       ( الإبركسيس )</p>
<p></p>
<p></p>
<h3> إنجيل القدَّاس في فكر آباء الكنيسة</h3>
<p></p>
<p>لدينا هنا مفارقة كبيرة. فمن ناحيةٍ، علينا أن نحب أعدائنا، ولكن من الناحية الأخرى ، يجب أن نكره عائلاتنا بقدر ما يشكلون عقبة لنا أمام الحياة الأبدية (أوغسطينوس).</p>
<p>لا يقول يسوع أننا لا نستطيع أن نحب عائلتنا، لكننا لا نجرؤ على أن نحبهم أكثر مما نحبه (كيرلس السكندري).</p>
<p>في الوقت ذاته ، لا يمكننا أن ندع لأمنا الطبيعية وعواطفنا نحوها أن تحل محل محبتنا للكنيسة الأم المقدسة، التي تغذينا بطعام الأبدية (أوغسطينوس).</p>
<p>ما يدعونا يسوع إليه: هو أن نُصلب ونموت ونُدفن معه في المعمودية (باسيليوس الكبير).</p>
<p>يخدم الرسل كأمثلة لأولئك الذين تركوا كل شيء وراءهم لحمل الصليب (ترتليان).</p>
<p>يعلّم كلا المثلين أن كونك تلميذاً ليسوع يتطلب ثباتًا لا يقهر وغيرة لا تتزعزع (كيرلس السكندري).</p>
<p>على المسيح، أساس البرج، تُبنى الفضيلة وتُقَدَم في حياة المسيحي (غريغوريوس النيسي).</p>
<p>وهذا يقود إلى المطلب النهائي للتلمذة والغرض الآخر من المثلين: نبذ الممتلكات. إن جنسية أولئك الذين يتبعون المسيح هي السماء (باسيليوس الكبير).</p>
<p>مثل مذاق كلمة الله، فليكن هناك ملح في حياتك لجلب الخلاص (كيرلس السكندري).</p>
<p>تتلخص خطورة متطلبات التلمذة في كلمات يسوع الأخيرة: &#8220;من له أذنان للسمع فليسمع&#8221; (أوريجانوس)<a href="#_ftn2" name="_ftnref2">[2]</a></p>
<p></p>
<p></p>
<h3>الكنيسة في قراءات اليوم</h3>
<p></p>
<p>الوحدة الجوهريّة بين الآب والإبن                                      إنجيل عشيّة</p>
<p>قضاء الله العادل + مجئ الرب ومعه الملائكة للدينونة             البولس</p>
<p>يدين الأحياء والأموات + المواهب الكنسية                          الكاثوليكون</p>
<p>الفداء والخلاص + عطيّة الروح القدس                              الإبركسيس</p>
<p>حمل الصليب                                                             إنجيل القدَّاس</p>
<p></p>
<p></p>
<h3>عظات مقترحة</h3>
<p></p>
<p><strong>(١) يكون لي تلميذاً</strong></p>
<p>١-خلص عبدك ياإلهي المتكل عليك  &#8230; أَعْط عِزَّة لعبدك ( مزمور عشيّة والقدّاس )</p>
<p>تلميذ الرب هو من يتكل عليه وينتظر خلاصه ويطلب عزته فقط من لدنه</p>
<p>٢- أخفيت هذه عن الحكماء والفهماء وأعلنتها للأطفال ( إنجيل عشيّة )</p>
<p>من لا يعتمد علي حكمته وذكاؤه بل علي الله &#8211; أطفال نقاوة القلب وبساطته هم الذين تُستَعلن لهم أسرار الله وحكمته السماوية</p>
<p>٣- لأن إيمانكم ينمو كثيرا ومحبة كل واحد منكم بعضكم لبعض تزداد &#8230;. وشدائدكم التي تحتملونها ( البولس )</p>
<p>الإيمان الذي ينمو والمحبّة التي تزداد والشدائد التي نحتملها</p>
<p>٤- الأمر الذي لأجله نصلي أيضا كل حين من جهتكم &#8230; واسهروا في الصلوات ولكن قبل كل شئ فلتكن المحبة دائمة فيكم بعضكم لبعض بلا تذمر وليخدم كل واحد الآخرين بما نال من المواهب                                   ( الكاثوليكون )</p>
<p>الصلاة الدائمة والمحبّة الكاملة دون تذمّر وخدمة الآخرين</p>
<p>٥- وكانوا لايزالون كل يوم في الهيكل وفي البيوت معلمين ومبشرين بيسوع المسيح              ( الإبركسيس )</p>
<p>الشهادة الدائمة للمسيح له المجد</p>
<p>٦- من يأتي إلي ولايبغض أباه وأمه وامرأته وأولاده واخوته وأخواته حتي نفسه أيضا فلا يقدر أن يكون لي تلميذا ومن لايحمل صليبه ويتبعني فلا يقدر أن يكون لي تلميذا &#8230;. إن لم يترك جميع أمواله                               ( إنجيل القدَّاس )</p>
<p>العواطف الضارّة والهروب من الصليب ومحبّة المال عوائق أمام التلمذة الدائمة للرب</p>
<p><strong>(٢) أساسيات التلمذة الدائمة للرب</strong></p>
<p>ولا يبغض &#8230; لا يحمل &#8230; لم يترك &#8230; لا يقدر أن يصير لي تلميذاً                                       ( إنجيل القدَّاس )</p>
<p>١- ولا يبغض ( من يأتي إليّ ولا يبغض أباه وأمه وأولاده واخوته وأخواته حتي نفسه أيضاً فلا يقدر أن يكون لي تلميذاً )</p>
<p>لا يبغض هنا المقصود بها رفض المحبّة التي لا تنبع من محبة الله ولا تقود إلي محبة الله أي المحبّة البشرية الطبيعيّة العالميّة التي يمكن أن تقود وتؤدي إلي الجحيم لذلك يقول الكتاب أمينة هي جروح المحب .</p>
<p>فالدعوة هنا لرفض هذا النوع من المحبّة التي تؤدي للهلاك فمن يمتلئ من محبة المسيح سيحب ابوه وأمه وامرأته وإخوته وأخواته محبّة تهدف لخلاصهم الأبدي ( مثال : ما فعلته القديسة دميانة مع أبيها مرقس والذي يمكن ان يترجمه البعض أنها تكره والدها ولكنها بتوبيخها إياه وكلامها أنها كانت تفضّل خبر سماع موته عن إنكاره الإيمان وبهذه الطريقه قادت أبيها للإيمان مرّة أخري )</p>
<p>٢- لا يحمل صليبه</p>
<p>أي قبول كل الضيقات والشدائد والآلام من أجل الإيمان ( مثل ما جاء في البولس )</p>
<p>حمل الصليب هنا بمعني الإتحاد بالمصلوب الذي يحمل من يحمل صليبه ويعني أيضاً الطاعة الكاملة لتدبير الآب مثلما أطاع ابن الله حتي الموت موت الصليب</p>
<p>كيف يعيش الإنسان الموت عن العالم كل يوم لينال حياة المسيح ( مع المسيح صلبت &#8230; )</p>
<p>٣- إن لم يترك جميع أمواله</p>
<p>أي يترك من قلبه محبة المال في تصرفاته ولا تكون هدفاً في ذاتها</p>
<p>يمكن أن يكون المال أفضل عبد أو أسوأ سيّد (١تي ٦: ١٠)</p>
<p><strong>(٣) العظة الثالثة</strong></p>
<p>( حياة التوبة والتلمذة )</p>
<p>بعضكم بعضا &#8211; كل شئ                             الكاثوليكون</p>
<p>تكررت كل منها ثلاث مرات في الكاثوليكون لترسم لنا حياة التوبة والتلمذة وكمالها</p>
<p>١- بعضكم بعضاً</p>
<p>+ المحبّة إعلان عن نقاوة صلواتنا وسهرنا</p>
<p>&#8221; فتعقلوا إذن واسهروا في الصلوات ولكن قبل كلِّ شئ فلتكن المحبّة دائمة فيكم بعضكم لبعض &#8221;</p>
<p>رغم أهميه السهر والصلاة لكن ما هو أهم الحرص علي ناموس المحبّة بين أولاد الله لأن صلاة دون محبِّة يجعل العبادة شكلية ومرفوضة</p>
<p>وبينما يتكلَّم الكاثوليكون عن ( دوام المحبّة ) يتكلَّم البولس عن أهمّية (  نموها وإزديادها ) فينا</p>
<p>&#8221; ومحبّة كل واحد منكم بعضكم لبعض تزداد &#8221;                             البولس</p>
<p>+ ضيافة الغرباء تجسيد للمحبة العملية</p>
<p>&#8221; كونوا محبين لضيافة الغرباء بعضكم لبعض بلا تذمر &#8221;</p>
<p>ويتكلّم القديس بولس أيضاً في الرسالة للعبرانيين عن أهمّية إضافة الغرباء وأنه بها أضاف أناس ملائكة وهم لا يدرون (عب١٣: ١-٢)</p>
<p>+ هدف المواهب خدمة الجسد الواحد وبعضنا البعض</p>
<p>&#8221; وليخدم كل واحد الآخرين بما نال من المواهب بعضكم بعضاً &#8221;</p>
<p>يتضح هنا هدف المواهب ليس تميُّز أحد عن الآخرين بموهبته بل خدمة الآخرين بإحساس الوكالة والمسؤولية</p>
<p>٢- كل شئ</p>
<p>+ نهاية كلِّ شئ</p>
<p>&#8221; وإنما نهاية كلِّ شئ قد اقتربت فتعقلوا إذن واسهروا في الصلوات &#8221;</p>
<p>هنا التحذير من نهاية كل الأمور الأرضية علي الأقل علي المستوي الشخصي لكل إنسان وإحتمالية نهاية الحياة في أي وقت</p>
<p>+ قبل كلِّ شئ</p>
<p>&#8221; ولكن قبل كلِّ شئ فلتكن المحبّة دائمة &#8221;</p>
<p>ربما تكون هذه الآية تكملة لسابقتها فأفضل إستعداد للنهاية المُحتملة في أي وقت هو حِفْظ المحبّة الأخويّة</p>
<p>+ في كلِّ شئ</p>
<p>&#8221; ومن يخدم فكأنه من قوةٍ يُهيئها الله لكي يتمجد الله في كلِّ شئ &#8221;</p>
<p>هنا ثمر المحبّة الدائمة والأمانة في إستخدام المواهب إستعلان مجد الله في حياة أولاده</p>
<p></p>
<p></p>
<h3>عظات ابائية</h3>
<p></p>
<h4>مثل حساب النفقة في فكر القديس كيرلس الإسكندري</h4>
<p></p>
<p>الذين يقودون جيوشاً وقد اكتسبوا لأنفسهم مجدَّا عسكرياً، عندما يكون وقت المعركة قد حان ، يُعلَّمون الكتائب التى تحت قيادتهم كيف يربحون انتصاراً باهراً إذ يصفون هم أنفسهم بشجاعة فى مواجهة فيالق العدو، ومخلِّص الكل إذ يتمثَّل بمهارة أولئك المذكورين هنا،يبيَن بكل وضوح لكل مَنْ بنبونه طريق الشجاعة الروحية: إنه بالتقدم بقوة لا يحدها عائق إلى كل مافيهنصرة التقوى وبواسطه اجتهاد شديد لا يُقاوم، يمكنهم بعمل أن يحصلوا على الحق فى أن يكونوا معه وأن يتبعون.</p>
<p>إذن فهذا الدرس يعلمنا بوضوح أي نوع من الأشخاص يريدون أن نكون فهو يقول: &#8220;إن كان أحد يأتى إليّ ولا يبغض أباه وأمه وامرأته وأولاده وإخواته وأخواته حتى نفسه أيضاً فلا يقدر أن يكون لي تلميذاً&#8221; (لو١٤ : ٢٦)</p>
<p>ربنا يقول أحد:فماذا يارب ،هل أنت تحتقر العاطفة الطبيعية؟ هل تأمرنا أن وبغض بعضنا بعضا وأن نتجاهل الحب الذى يحقللأباء من أبنائهم، وللزوجات من أزواجهن والإخوة من إخواتهم؟ هل سنعجل مَنْ هم أعضاء فى العائلة أعداء لنا، والذين من واجبنا بالأولى أن نحبهم يلزمنا أن نعتبرهم كأعداء وذلك لكن نكون معك ولكى ما يمكننا أن نتبعك؟</p>
<p>ليس هذا هو مايقصدش المخلّص، حاشا أن يكون له مثل هذا الفكر الباطل،فإن الذى يأمر بأن نحب حتى الأعداء وبأن نغفر لكل من يسئ إلينا إذ يقول :&#8221;أحبوا أعدائكم&#8230;.. وصلوا لأجل الذين يسيئون إليكم&#8221;</p>
<p>(مت٥: ٤٤) كيف يمكن أن بريدنا أن وبغض مَنْ هم موجودون من نفس الأسرة ،وأن نغفل الإحرام الواجب بالوالدين، وأنتقدرى بإخوتنا،بل نبغض أولادنا أيضا وكذلك أنفسنا؟ لأن الذى قد نطق بالدينونة حتى على أولئك الذين يهملون قانون المحبة المتبادلة، لا يمكن أن يريد أن يكون لأبنائه ذهن متوحش أو فكر مقهور ،لكن ما يريد أن يعلّمع بهذه الوصايا هو واضح لأولئك الذين يمكنهم أن يفهموا ما قيل فى موضع آخر عن نفس الموضوع:&#8221;من أحب أباً أو أماً أكثر منى فلا يستحقنى ومن أحب ابناً أو ابنة أكثر منى فلا يستحقنى&#8221;(مت١٠:٣٧). إذا بإضافة عيارة &#8220;أكثر منى &#8221; يتضح أنه يسمح لنا أن نحب لكن ألآنحبهم أكثر منه، لأنه يطلب لنفسه عاداتنا الرئيسية. وذلك عادلجداً، لأن محبة الله فيمن هم كاملون فى الذهن،فيها شئ ما أعلى وأسمى من الإكرام الواجب للوالدين وأسمى من العاطفة الطبيعية التى نشعر بها تجاه الأولاد.</p>
<p>لكن يلزمنا أن نوضح ماهى المناسبة التى جعلت الرب يوجه كلماته نحو هذا الموضوع. إن النص الذى قرأناه من الإنجيل فىاجتماعنا السابق كان عن وصف عشاء عظيم، دُعي إليه كثيرون من قِبل مَنْ صنع الوليمه، ولكن المدعون غير مبالين بالدعوة، إذابتدأ برأي واحد يستعفون. قال له واحد إنه اشترى حقلاً وإنه مضطر أن يخرج وينظره، وقال آخر إنه اشترى خمسة أزواج بقى، وقال ثالث إنه تزوج بامرأة ، وبواسطه هذه الأعذار التانيهأعادوا من دعاهم. لذلك فقد أعطى لنا أن نفهم بمنتهى الوضوحأنه عندما جعلنا شركاء فى جوده وإحسانه، فإنه يلزمنا أن ندري بشهوات الجسد التى تخدم الجسد. وأن لا نعطى أي اعتبار لأمور العالم بل يتحتّم أن نبذل قصارى جهدنا للتقدّم نحو تلكالأشياء التى لن نتخلَّ عنها ابداً واللى تملأنا بكل غطبة، إذ أن الله يمنحنا عطايا بيد سخيّة مثل مَنْ يرحب بنا فى وليمة ثمينة ويعطينا الحق أن نبتهج مع باقى القديسين برجاء البركات الآتية . لأن الأرضيات ليس لها سوى قيمة قليلة ولا تدوم إلا لبرهة قصيرة وهى تختص بالجسد وحده، الذى هو فريسة للفساد ،ولكن الأمور الألهيه والروحية هى دائماً وباستمرار تصاحبأولئك الذين حُسبوا أهلاً لنوالها اتصل إلى ظهور لا نهاية لها. لذلك فأي قيمة يعلقها العالقون على المزارع الأرضية أو على حب اللذة الجسديه،أو على الاحترام الواجب الأقرباء بالجسد، إنكان ينبغي أن تترك لإجل محبة المسيح، مزدرين بكل هذه الأشياء التى ذٌكرت؟ لأن هناك أمثلة كثيرة كانت لأناس راغبينفى حياة بلا لوم؟ الذين حتى بعد أن لمسوا &#8211; إن جاز القول- تراب حَلّبَة المصارعة، واختبروا المصارعة فيها، وكادوا أن يصلوا إلى حق نوال إكليل الدعوة السماوية، نجدهم قد ارتدوا إلى الخلف إما لارتباطهم الأقرباء أو بسبب كونهم أضعف من أن يحتملوامعركه المثابرة، أو لكونهم تعرقلوا فى فخاخ الشهوانية، وفضلّوابحماقة اللذة الحاضرة على البركات الموضوعة أمامهم بالرجاء.وأيضا فإن خوف الموت قد أرعب كثيرين،وحينما جاء وقت الاضطهادات- حتى بواسطة الامتحان ينالون إكليل عدم الفساد-نجدهم وقد أنكروا الإيمان تحاشوا واحب التأملبصبر،وأظهروا أنفسهم ضعفاء وجبناء أسقطوا من ثباتهم، لذلكفلكى يخلق الرب فينا ذهناً لا يتزعزع، ويجعلنا غير مكترثين بكل الأمور العالمية، لأجل محبتنا له،فإنه يأمرنا أن نبغض حتى أقرباءنا حسب الجسد ،بل وبغض أنفسنا حين يدعونا الوقت لهذا كما سبق أن قلت حالاً ثم يورد الرب بعد ذلك مثالين،ويشجعأحباءه ليبلغوا إلى ثبات لا يُقهر، وليؤسس أولئك الذين يريدون أن يصلوا إلى الكرامات بالصبر والاحتساب، ويجعل فيهم غيرة لا تتزعزع،لأنه يقول: &#8220;ومَنْ منكم وهو يريد :أن يبنى برجاً، لا يجلس أولاً ويحسب النفقة هل عنده ما يلزم اكماله، لئلا يضعالأساس ولا يقدر أن يكمل فيبتدئ جميع الناظرين يهزأون به&#8221;(لو١٤: ٢٨-٢٩).لأن الذين اختاروا أن يحبوا حياة مجيدة وبلا لوم يجب أن يختزنوا مقدماً فى ذهنهم غيرة كافية لتحقيق ذلك، وأن يتذكروا الذى يقول &#8220;ياابنىإذا تقدمت لخدمة الرب أعظم نفسك للتجربة وأجعل قلبك مستقيماً وأحتمل&#8221; (يسوع ابن سيراخ٢: ١-٢).أما أولئك الذين ليست لهم مثل هذه الغيرة فكيف يمكنهم أن يصلوا إلى الهدف الموضوع أمامهم؟</p>
<p>يقول الرب:&#8221;وأى ملك إذا ذهب إلى مقاتلة ملك آخر فى حرب ، لا يجلس أولاً ويتشاور مع نفسه هل يستطيع بالعشرة آلالاف التىله أن يتغلب على من هو أقوى منه-ماذا يعنى هذا الكلام؟ إن ميت بعتها ليست مع دم ولحم بل مع الرؤساء مع السلاطين مع ولاة العالم على ظلمة هذا الدهر مع أجناد الشر الروحية فىالسموات (اف٦: ١٢).ونحن أيضا لنا أعداء كثيرون: الذهنالجسدانى، الناموس الذى يحارب فى أعضائنا، الأهواء متعددة الأنواع: شهوة اللذة،شهوة الجسد،شهوة الغنى،وغيرها منالشهوات،وينبغى أن نصارع مع هذه الشهوات، فهذه هى كتيبة أعدائنا المتوحشين. كيف إذن سننتصر؟ بإيماننا كما يقول الكتاب: إننا &#8220;بالله سوف نصنع ببأس وهو سيبيد أعدائنا &#8220;(مز٥٩: ١٢)،وبهذه الثقة يقول واحد من الأنبياء القديسين:&#8221;وهذاالسيد الرب يعيننى،فمن هو الذى يجعلنىأخزى&#8221; (إش٥٠: ٩).وداود الألهى يرنم أيضا قائلاً:&#8221;الرب نورى وخلاصى ممكن أخاف، الرب ناصر عاضد حياتى ممن أرتعب &#8220;(مز٢٦: ٨).لأنه هو قوتنا وبه سوف ننال النصرة ،لأنه قد أعطانا أن ندوس الحيات والعقارب وعلى كل قوة العدو.ولذلك يقول :&#8221;الملح جيد ولكن إذا فسد الملح فبماذا يصلح؟ &#8220;ثم يقول&#8221; إنه يطرح خارجاً&#8221; وقال أيضا&#8221;ليكن لكم فى أنفسكم ملح &#8220;(مر٩: ٥٠).أى أن يكون لكم الكلام الألهى الذى يجلب الخلاص، لكن لو اذدرينا بالكلامالألهى فإننا سوف نصير بلا طعم وأغبياء وعديمى الفائدة تماما.ومثل هذه الأشياء ينبغى لجماعة القديسين أن يطرحوها خارجاً،بعطية الرحمة والمحبة التى لهم من المسيح مخلصناكلنا،الذى به ومعه لله الآب التسبيح والسلطان،مع الروح القدس إلى دهر الدهور.آمين.<a href="#_ftn3" name="_ftnref3">[3]</a></p>
<p></p>
<p></p>
<h4>رسالة لانبا انطونيوس يحث أولادة على الجهاد ويذكرهم بجهادة</h4>
<p></p>
<p>يا أيها الأحباء بالرب انا أكتب اليكم مثل الأبناء الأحباء عند آبائهم لأن الأبناء الجسدانيين اذا ما تأملوا آبائهم ووافقوهم فأن الآباء يحبونهم من كل قلوبهم ويكرمونهم غاية الأكرام أكثر من أبنائهم غير المطيعين لهم . واذا كان لهم شيء حسن أدخروه للأولاد الموافقين لهم والمتشبهين بهم . فاما أنتم يا أحبائى بالرب الذين أنا أحبهم بكل القلب أشتهى أن أكون عندكم في كل حين وأنظركم وأبارك عليكم . لأن تعهدكم لى وتشبهكم بى ورجوعكم إلى الله . فانى أرى كل ذلك متقسيما وقد حللتم بقلبى من أجل كل هذا ، ومن الآن فانا أطلب إلى إلهى بسببكم ليلاً ونهار لكيما يعطيكم مواهبه التي أعطانيها بنعمته فقط لا باستحقاق . لأن هذا هو الغنى العظيم الذى اعطانيه ربنا وأنا أسأله أن يعطيه لكم وهذا غاية شهوتى وطلبتى دائماً الليل والنهار ، أن تكونوا في الموضع الذى أكون فيه عند انتقالى من هذا الجسد . لأن ربنا دائماً من صغرى إلى هذا اليوم يسمع لى وأنا عالم أنه برحمته يجيب لى هذه أيضاً . وقد كتبت اليكم لعظم محبة قلبى فيكم لأنكم بجهادكم للرب تشبهتم بى في كل شيء . واعلموا أن سيدنا المسيح لأجل محبته العظيمة هكذا صنع بالتلاميذه . اذ قال اننى لست أدعوكم الآن عبيداً بل أخوة وأحباء وأبناء ولما صاروا له بنين طلب إلى الآب لأجلهم قائلاً : يا أبت أريد أن يكون هؤلاء حيث أكون أنا لانى أنا فيك وهم في لكى نكون أجمعنا كاملين في الوحدانية. فانظروا وأفهموا كيف طلب ربنا يسوع المسيح من أبيه لأجل تلاميذه لكونهم صاروا له بنين وان يكونوا معه حيث يكون هو . وهكذا الآن هي طلبتى يا أحبائى أن نكون جميعاً في المكان الذى ليس فيه حزن ولا مرض ولا ظلمة ولا أرواح خبيثة بل مملوءة من كل السرور والنور والحياة الأبدية والأكاليل التي لا تضمحل وأشياء أخر كائنه هناك لا يستطيع اللسان أن يصفها لأنها دائمة إلى أبد الأبد فيا أولادى صلوا إلى الرب أن يسهل طريقى اليكم دفعة أخرى وأقيم عندكم زماناً ما . لأنى أعلم أن هذا لبنيانكم وفرحكم بالإيمان . فأنا أيضاً أفرح اذا أتيت اليكم لتفرحوا وتنموا بزيادة في الإيمان . وأعرفكم بأسرار أخر كثيرة لا يمكننى أن أكتب اليكم . وأمكم سارة التي هي الروح تفرح بكم . هذه التي أكملت حملها وولدت روحاً إلهياً فيكم وتشتهى أن تكملكم كما طلبت منها عنكم بذلك الروح النارى العظيم الذى قبلته أنا لتقبلوه أنتم أيضا . واذا أردتم أن تقبلوه ويسكن فيكم فقدموا أولاً أتعاب الجسد وتواضع القلب وأرفعوا أفكاركم إلى السماء في الليل والنهار وأطلبوا باستقامة قلب هذا الروح النارى وحينئذ يعطى لكم . لأنه هكذا وصل اليه إيليا واليشع وكافة الأنبياء . ولا تفكروا في قلوبكم وتكونوا ذوى قلبين وتقولوا من يقدر أن يقبل هذا ! لا يا أولادى لا تدعوا هذه الأفكار تأتى على قلوبكم . بل أطلبوا باستقامة قلب وأنتم تقبلونه . وأنا أيضاً أبوكم أجتهد معكم وأطلب لأجكم أن تقبلوه لأنى أنا عارف انكم كاملين وقادرين على قبوله . لأن كل من يفلح ذاته بهذه الفلاحة فان الروح يعطى له في كل جيل وإلى الأبد . وأعرف أن أناساً قبلوه ولما لم يكملوا هذه الفلاحة لم يثبت الروح فيهم فأما أنتم يا أحبائى الذين أشتهى من كل قلبي أن أنظر كم لأجل استقامة عقولكم على الطريق الحق داوموا على الطلبة باجتهاد من كل قلوبكم فانه يعطى لكم . لأن ذلك الروح يسكن في القلوب المستقيمة واذا قبلتموه فانه يكشف لكم أسرار علوية وأشياء أخر لا استطيع أن أعبر عنها بالكتابة بالقلم والمداد ، ويجعلكم أن تبتعدوا عن خوف البشر والوحوش الضارية وما يشبه ويكون لكم فرح سماوى ليلاً ونهاراً وتكونون في هذا الجسد كمن هم في ملكوت السموات . ولا تطلبوا عن أنفسكم فقط بل وعن الآخرين لأن كل من قبل الروح لا ينبغي له أن يطلب عن ذاته لكن عن الغير أيضاً . كما صنع موسى لما قبل هذا الروح طلب من أجل شعبه قائلاً لله أن كنت تهلك هؤلاء فامحى اسمى من سفر الحياة الذى كتبت وهكذا تكون طلبة كل من وصل إلى هذا الحد من القديسين وغيرهم . فاننى لا أقدر أن اصفهم باسمائهم واحداً واحداً . أما أنتم فحكماء وتعرفونهم وأنا فطلبتى الآن نهارًا وليلًا ليكون فيكم عظمة لذة هذا الروح الذى قد قبله جميع الاطهار . وانى يا أولادى الحباء ، بعد أن كتبت هذه الرسالة تحرك في روح الله أن أكتب لكم عن هذا الروح النارى في آخرها وعن المحبة الإلهية. وإذا أتيت اليكم بمعونة الله عرفتكم أشياء أخر كثيرة عن الروح النارى هذا لكى تقتنوا جميعاً. وكما بثثتكم السلام في بداية الرسالة كذلك أيضاً ابثكم السلام بمحبة الرب في آخرها بهذا الروح النارى الذى قبلته أنا وأياكم بنعمة الرب . وأطلب اليكم تتركوا ارادتكم الحسية وتلزموا الهدوء بكل نوع لكى تسكن فيكم القوات العلوية بمؤازرة هذا الروح القدس وتعينكم على العمل بإرادة الثالوث الاقدس الآب والأبن والروح القدس له السبح دائماً سرمدياً إلى أبد الأبدين آمين .<a href="#_ftn4" name="_ftnref4">[4]</a></p>
<p></p>
<p></p>
<h4>  ذبيحة الطاعة الكاملة من خلال طاعة أبونا إبراهيم عند العلامة أوريجانوس :</h4>
<p></p>
<p>ويقول الكتاب &#8221; مد إبراهيم يده ليأخذ السيف ويذبح ابنه ، وناداه ملاك الرب من السماء وقال : إبراهيم ، إبراهيم ، فأجاب : هأنذا ، فقال له الملاك : لا تمد يدك إلي الغلام ولا تفعل به شيئاً ، لأني الآن علمت أنك تخاف الله &#8221; . يؤاخذنا البعض عادةً فيما يتعلق بهذه العبارة علي أن الله يقول إنه يعلم الآن أن إبراهيم يخاف الله . كما لو كان يجهله من قبل . كان الله يعلم هذا ولم يفته ذلك لأنه &#8221; يعرف كل الأشياء قبل كونها &#8221; .</p>
<p>ولكن قد كُتبت هذه الأشياء من أجلك أنت لأنك أنت أيضاً تؤمن بالله ولكن إذا لم تتمم &#8221; أعمال الإيمان &#8221; ، إذا لم تطع جميع الوصايا حتي وإن كانت أصعب ، إذا لم تقدم ذبيحة وتُثبت أنك لا تفضل &#8221; أباً أو أماً أو ابناً &#8221; علي الله ، فلن يعترف بك كخائف الله ولن يقال عنك :&#8221; لأني الآن علمت أنك تخاف الله &#8221; .</p>
<p>غير أنه لا بد أن نأخذ بالاعتبار أن الكتاب قد وضع هذا القول إلي إبراهيم في فم ملاك وأن ما يتبع يُظهر بوضوح أن هذا الملاك هو الرب . ونستنتج من ذلك أنه إذا كان قد &#8221; عُرف كإنسان من خلال ما بدا منه بيننا نحن البشر ، فهو بالمثل بين الملائكة قد عُرف من خلال ما بدا منه كملاك ، وتفرح الملائكة في السماء اقتداء به &#8221; لخاطيء واحد يتوب &#8221; ويفتخرون بتقدم البشر ، لأنهم بمثابة مديري أنفسنا ، هم الذين &#8221; ما دمنا أولاداً &#8221; ، وكُلنا إليهم أيضاً &#8221; كما إلي أوصياء ووكلاء إلي الوقت المحدد مِن الآب &#8221; . هم أنفسهم أيضاً إذاً ، إذ يرون تقدم كل واحد منا يقولون &#8221; الآن علمت أنك تخاف الله &#8221; . فلدي علي سبيل المثال رغبة الاستشهاد ، لن يستطيع ملاك أن يقول لي من أجل ذلك : &#8221; إني الآن علمت أنك تخاف الله &#8221; لأن شهوة الروح لا يعلمها إلا الله وحده ، ولكن إذا خضت الحروب واعترفت الاعتراف الحسن ، واحتملت بقوة كل ما يصيبني ، فحينئذ يستطيع ملاك أن يقول لي ليثبتني ويقويني : &#8221; إني الأن علمت أنك تخاف الله &#8221; .</p>
<p>لكن لنعتبر أن هذه الأقوال قد قيلت لإبراهيم وأنه قد أُعلن أنه يخاف الله ، لماذا ؟ لأنه لم يمسك ابنه ، أما نحن ، فلنقارن هذا بكلمات الرسول &#8221; الذي لم يمسك ابنه ، بل أسلمه لأجلنا أجمعين &#8221; . انظر كيف أن الله يتعامل مع البشر بكرم عظيم ، لقد قدم إبراهيم لله ابناً فانياً دون أن يموت ، أمَّا الله فقد سلم من أجل البشر ابناً أبدياً للموت ، فماذا نقول نحن عن هذا ؟ ماذا نرد للرب من أجل كل حسناته ؟ الله الآب بسببنا &#8221; لم يمسك ابنه &#8221; فقولوا لي من منكم سيسمع يومًا صوت الملاك يقول له :&#8221; أنا الآن علمت أنك خائف الله ، لأنك لم تمسك ابنك &#8221; أو ابنتك أو زوجتك ، ولَم تمسك مالك أو أمجاد هذا الدهر وطموحات هذا العالم ، ولكنك احتقرت كل ذلك وحسبت كل الأشياء نفاية حتي تربح المسيح &#8221; . وبعت كل شيء وأعطيته للفقراء وتبعت كلمة الله ؟&#8221; نعم قولوا لي من منكم سيسمع من فم الملائكة مثل هذا ؟ لقد سمع إبراهيم هذا القول وقيل له :&#8221; من أجلي لم تمسك ابنك الحبيب<a href="#_ftn5" name="_ftnref5">[5]</a> &#8221; .</p>
<p></p>
<p></p>
<h4>الام سنكليتيكي</h4>
<p></p>
<p>حديثها عن صفات الذين يهتمون بالنفس من الداخل.</p>
<p>ومن المجازفة والخطر أن أشرع في أن أكون معلمًا، وأنا لا أسير في الحياة بانضباط. وكما أنه إذا اقتنيت أي بيت به شرخ واستقبلت فيه غريب، فإنني أضره إذا سقط البيت وانهار، هكذا أولئك الذين لا يهذبون أنفسهم بالانضباط والحرص، فإنهم يأتون بأنفسهم إلى الهلاك الروحي. وبالكلام يدعون للخلاص، وهم يسلكون في النقائص، فبالأحرى يجلبون لنفسهم العقاب. لأنه كيف للأرض البور أن تشرح الأقوال المكتوبة، فإنها تكون مثل كمن يقف ويرى عن بعد فتكون الرؤية غير واضحة، وكذلك يعانى عند هبوب الرياح ولو لوقت قصير، ويعانى عند سقوط المطر حتى لو كان ضئيلًا جدًا. أما التعليم العملي الذي عن اختبار فلا تزول قوته إلى زمن طويل، ويؤثر الكلام بقوة في النفس ويهدى المؤمنين بالمسيح إلى فرح أبدى.</p>
<p>فيجب علينا ألا تكون أعمال النفس في الخدمة من الخارج أو قليلة بل تكون كاملة ولكل الناس. وأهم من كل شيء ألا نسقط في التواني والكسل. وأن نقص شعر الرأس علامة على إزالة ديدان الأفكار من الرأس، وتفهمنا لهذا الفعل أفضل من الأوجاع التي يسببها لنا. لأن شعور رؤوسنا من منطق العالم هو مجد وكرامة وثروة نمتلكها، وأيضًا اقتناء الثياب اللامعة النظيفة والاستمتاع بالطعام. فنحن نرفض مجدنا هذا، بل بالأحرى نطرده بعيدًا عنا لأنها تكون مثل الديدان التي تتلف النفس. وما هي هذه الديدان؟ الافتراء وتشويه السمعة والحلف كذبًا ومحبة المال. وعلى ذلك يكون هدفنا هو الاهتمام بالنفس. وطالما الأعمال الدنيوية هي وقود وملجأ للحيات، فلنهرب من رؤيتها. والآن، نتجرد من كل ما هو ظاهر بواسطة البتولية والوحدة، ونكتشف الخطايا مسبقًا في أنفسنا ونتخلص منها تمامًا. وهكذا النفوس الطاهرة ترى بوضوح ما فعلته الأفعى في الكل، حتى ولو كان صغيرًا جدًا. وهكذا العالميون غير الطاهرين يلجأون إلى الجحور ويهربون من السهام الكبيرة، ويتخفون بما يمتلكون من أمور دنيوية. لذلك قالت لنا سينكليتيكي: يجب أن نعتني بالبيت (النفس) باستمرار وننقيه من أي شيء يتلف حياتنا، فلا يتسلل خلسة إلى داخل نفوسنا، وأيضًا نرفع بخور الصلوات أمام الله في كل فرصة، وهكذا نطرد سم السهام الحادة جدًا في الحياة، ونطرد الأفكار غير الطاهرة بالصوم والصلاة.</p>
<p>من تبتعد عن الأفاعي التي تتلف النفس يكون كلامها بمقدار وتكون حياتها نافعة للآخرين. وبالحقيقة أن شوكة إبليس مخيفة جدًا، وكثيرًا ما يثير ويؤذى أفكار النفوس المجتهدة بمناظر غير نقية في وحدتهم لكي يشغلهم ويتسلط عليهم، كما ذكرنا أيضًا هنا في موقع الأنبا تكلا هيمانوت في أقسام أخرى. ولكن لا شيء يقوى على من تؤمن بحياة الفضيلة حتى يجعلها تقبل أفكار هذا المجنون العقيمة والتافهة. لأن الله صاحب السلطان أعطى المقدرة على الخير والصلاح لكل جنسنا، كما أنه هو غاية الحياة وحاكمها وهو الذي يحول الشر إلى فائدة. وكم من المرات أتراخى في احتمال الآخرين بدون تفكير، وفى الحال يهجم عليهم إبليس. مثل الأطفال الذين يرفضون النظام ولا يحتملون تأديب الوالدين من أجل منفعتهم. فنحن نرحل بهدوء وندخل إلى الأماكن المقفرة المهجورة، وتحت هذه الظروف يجتمع علينا الشياطين المتوحشة. ولكن باحترامنا لهدفنا نجعل أعمالهم وافتراءاتهم علينا الآن بلا سبب.</p>
<p>والذين رفضوا القداسة لأنفسهم فإنهم يؤكدون بأن اللذة صارت من طبيعتهم. والزناة والسارقين والمرضى بمحبة المال والمخادعين فإنهم يشعرون بالخجل من أعمالهم ويبتعدون عن الحقيقة، وفى النهاية تهلك مقاصدهم لأنهم منعوا المعرفة على أنفسهم. لأنه من الضروري أن تقتلعهم هذه الأفكار بعيدًا عن الله علاوة على وقوعهم تحت الدينونة. لأنه قال، إذا كانت دينونتي بسبب الزنا أو الطمع أو الغش فإنها دينونة زائدة، والإنسانة البارة بسبب أن سقطاتها بإرادتها تكون دينونتها وعقوبتها أعظم. وعند البدأ في أي عمل طاهر معلن فلنتمم عمله. وهكذا أختار لنفسي نوع الدينونة، عقاب أم مجازاة.</p>
<p>ويا للعجب، إن من يرفض الأمور السماوية، فهو مسموع عند الآخرين. لأن أقوالهم دائمًا تسهل انقيادهم للإثم، وإذا تكررت أقوالهم ثانية فمن المحتمل أن يكونوا مستعبدين للإثم من البداية، وأيضًا شرورهم تشكوهم إلى الله، وإذا كانوا يريدون أن يكونوا في الأبدية معه، فلينزعوا بالكلية من النفس أي خصومة لطبيعتهم، ومن تختار لنفسها مثل هذه الأفكار فإن كل تصوراتها عقيمة وباطلة، لأنه قال في الكتاب المقدس: &#8220;قال الجاهل في قلبه ليس إله&#8221; (مز١٣: ١)، &#8220;يستهزئون ويتكلمون بالشر ظلمًا من العلاء&#8221; (مز ٧٣:٨). وإذا كنت أتقدم بكل الوسائل نحو الله، فمن الضروري أن أتبعه في كل عمل، ولأن الله في الكل فمن يتبعه فهو مكرس للرب. وإذا كنت طماع أو زاني في البداية، والذي بالفعل أمر غير لائق، فمن الضروري أن وجود الله في الحياة سوف يدين الشر الذي فيَّ. والذي بالفعل اشتاق أن يكون تحت إرشاد الله فعليه أن يتبع بالضرورة ما تعهد به.</p>
<p>والذين يبررون لأنفسهم أسباب الخطية، فإنهم يقطعون أنفسهم ويغلقون عيونهم عن ما جاء في الكتاب المقدس، فيفكرون في الشر ويريدون أن يكملوه، كما هو مكتوب: &#8220;لا تمل قلبي إلى أمر رديء لأتعلل بعلل الشر مع أناس فاعلي الإثم ولا آكل من نفائسهم&#8221; (مز١٤١: ٤). ويتمسكون بسعيهم لبث سمومهم في بداية الإنجيل، ويغصبون على أنفسهم لقبول كلام الإنجيل، مثل تلك الاعتقادات الكثيرة بخصوص ميلاده البشرى، فهي بمثابة فخاخ باطلة. لأنه قال: &#8220;أما ولادة يسوع فكانت هكذا&#8221; (مت١: ١٨). وقد سمى يسوع من الله قبل ولادته، لأنه بالحقيقة صار مخلصًا للبشر، فاسمه مرتبط بميلاده. وبخصوص الذين يتكلمون عنه كلام كذب، لم يثبت كلامهم، وسيفهمون مجده في المجيء الثاني. أما إلينا نحن المؤمنين فقد أعلن لنا نجم متألق حقيقة ميلاده وقد أظهر هذا بمقاومته للشر في كل مكان.</p>
<p>وأشعياء شهد بجهالة ادعاءاتهم: &#8220;أنا الرب صانع السلام وخالق الشر&#8221; (أش٤٥: ٧)، فسلامه لكل من يعترف بعمل الله الذي صنعه، والشر بالحقيقة للنفس التي عاشت بالشر. وبالنسبة لنا نحن الذين صرنا لله، فإن الضيقة هي نافعة جدًا، لأن خلاص النفس وتهذيب الجسد يأتي بالجوع والعطش والأمراض والفقر وأشياء أخرى. لأن حفظ النفس من الشرور يكون بتحمل الشر، وهذا يعتني بنا إلى أن نتعامل مع ما هو أعظم وأفضل، كما يقول الكتاب: &#8220;إن كنتم تحتملون التأديب يعاملكم الله كالبنين. فأي ابن لا يؤدبه أبوه&#8221; (عب١٢: ٧)، وأيضًا يقول: &#8220;عرفت يا رب أنه ليس للإنسان طريقه. ليس لإنسان يمشى أن يهدى خطواته. أدبني يا رب ولكن بالحق لا بغضبك لئلا تفنيني&#8221; (أر ١٠: ٢٣-٢٤). وأيضًا الاجتماع معهم يؤدى إلى هلاك النفس، بالذات لأنهم يتمنون أن لا نتمسك بسلوكنا. والسلوك لا يكون بالطمع والشراهة والزنا، وعدم مقاومة هذه الشرور لا يصح لكي لا نعتاد على الكلام على سلوكهم. والكتاب المقدس يتكلم عن سلوكنا مع الكل في الحياة والموت، وحقًا سلوكنا بالبصيرة هنا على الأرض يجعلنا نشترك في القيامة.<a href="#_ftn6" name="_ftnref6">[6]</a></p>
<p></p>
<p></p>
<h3>عظات اباء وخدام معاصرون</h3>
<p></p>
<h4>قداسة البابا تواضروس الثاني</h4>
<p></p>
<p><strong>حياتنا الروحية :</strong></p>
<p>+ الصداقة الحقيقية : التبعية الحقيقية هي علاقة داخلية مع المسيح ، فهو لا يطلب المظهر الخارجي ( الزحام الذى حوله ) ، بل يطلب القلب أولاً بحيث لا يدخل أي آخر فيه إلا عن طريق الرب يسوع . إنه يسمح بالحب للأخرين ولكن ليس أكثر منه .</p>
<p>+ كيف تحمل الصليب ؟  ١ – بالزهد فيما يخص أجسادنا .</p>
<p>٢ – بالحنو على أقربائنا ومن يحتاج .</p>
<p>إننا بدون قبول الصليب نحمل اسم المسيح دون حياة فينا .</p>
<p>ولذا يحتاج حمل الصليب إلى حساب النفقة :</p>
<p>مثال بناء البرج : برج الفضائل الروحية ، ملء قامة المسيح يحتاج إلى :</p>
<p>١ – حساب النفقة = جلسة هدوء وارتباط واعى بالمسيح .</p>
<p>٢ – أساس ثابت = بساطة ، تواضع = صخر الإنجيل .</p>
<p>٣ – أحجار      = وصايا لكمال النفس ولا يكفى حجر ( وصية ) واحدة .</p>
<p>٤ – بناء شاهق  = ينمو ويعلو / قائم للمراقبة والحراسة .</p>
<p>مثال الملك الذى يحارب : هو مثل القطيع الصغير الذى يترك أمواله ولا يتكل على بره  الذاتي ، ويتقدم ويغلب عدو الخير ويصير ملحاً جيداً يملح الآخرين أيضاً .</p>
<p>تبعية يسوع :</p>
<p>هذا هو الأحد الثالث من هاتور ، وغالباً الأول من الصوم الميلادى البتول . إنه مع الأحد الرابع  يتحدثان عن &#8221; تبعية يسوع &#8221; .</p>
<p>وهناك سؤلان :</p>
<p><strong>١ – كيف نستعد لميلاد السيد المسيح ؟</strong></p>
<p>بالصوم     :  ٤٣ يوم .</p>
<p>بالتسبيح     :   شهر كيهك .</p>
<p>بكلمة الله    :   القراءات الكنسية .</p>
<p>٢ – كيف نحيا في تبعية السيد المسيح ؟</p>
<p>+ إنه يريد القلب كله له ( المحبة الكاملة ) .</p>
<p>ياابنى أعطنى قلبك &#8230;.</p>
<p>تحب الرب إلهك من كل قلبك &#8230;.</p>
<p>+ إنه يريد أن نحمل الصليب = نحمل المسيح     ( الطاعة الكاملة )</p>
<p>&#8221; من يحبنى يحفظ وصاياى &#8230;. &#8221;</p>
<p>+ إنه يريد أن نثق فيه تماماً . ( الإيمان الكامل )</p>
<p>&#8221; بدونى لا تقدرون أن تفعلوا شيئاً &#8221; (يو ١٥ : ٥) .</p>
<p>تبعية .. توعية .. تضحية :</p>
<p>+ مشكلة الشباب الغنى : إنه كان يطلب الجائزة دون التعب والجهاد والنفقة ، ولذا ظهرت أهم سمات شخصيته في حواره مع المسيح:</p>
<p>١ – يشعر بعدم أمان بخصوص المستقبل .</p>
<p>٢ – ينقض الوصية الأولى لأن المال صار إلهاً له .</p>
<p>٣ – يرى ويعتقد أن الغنى دليل الرضا السماوى .</p>
<p>وكان العلاج الذى قدمه له السيد المسيح :</p>
<p>١ – طرح كل معوق أرضى عن تبعية المسيح .</p>
<p>٢ – محبة الفقير والغريب وليس القريب فقط .</p>
<p>٣ – قبول حمل الصليب ( الألم والجهاد ) .</p>
<p>بطرس الرسول :</p>
<p>ماذا ترك ؟ &#8230;. ترك كل شيء ..</p>
<p>ماذا نال  ؟ &#8230;. كنز السماء &#8230;</p>
<p><a href="#_ftn7" name="_ftnref7">[7]</a>   والسؤال هل الاضطهاد مكسب أم خسارة ؟ ! &#8230;</p>
<p></p>
<p></p>
<h4>التلمذه والفردية للانبا ايساك الاسقف العام</h4>
<p></p>
<p>(لو ١٤ : ٢٦)</p>
<p>بواسطة دعوة  يسوع يصبح الناس افراداً ، كل فرد وحده . كل واحد مجبرأن يقرر وحده . وهذا القرار لا يمكن أن يتخذه الا بنفسه فقط . المسيح هو الذى يجعلهم أفراداً حين يدعوهم ، فكل أنسان يدعى على حده ، وعليه أن يتبع على حده . ولكن الناس يخافون من الوحدة ويحاولون أن يحموا أنفسهم منها بأن يدمجوا أنفسهم في مجتمع رفقائهم ، وفى الأوساط العالمية المحيطة بهم . وإذ يصبحون فجأة على دراية بواجباتهم العالمية المحيطة بهم . ومسئولياتهم ، ينفردون من المشاركة معهم . وكل هذا تهرباً من أن يأخذوا قرار لأنفسهم انهم لا يحبون أن يقفوا وحدهم أمام يسوع ، ويجبروا أن يقرروا وعيونهم مثبتة فيه وحده . ولكن لا أب ولا أم ولا زوجة ولا ابن ولا طائفة ولا تقليد يمكن أن ينفع الانسان ويحميه لحظة دعوته . انها إرادة المسيح أن يكون معزولاً . وها نظرات المسيح المثبته على عينيه هو فقط.</p>
<p>+ يجد الناس أنهم قد انقطعوا عن كل روابط الحياة الطبيعية لحظة دعوتهم . وهذا ليس عملهم الخاص بل عمل يسوع الذى يدعوهم . لأن المسيح قد أراحهم من ضرورات العالم وأتى بهم إلى ضروراته هو . لا يمكن أن نتبع المسيح ما لم نكن مستعدين أن نقبل ونؤكد أن العهد معه له الأولوية فوق كل تعهدات أخرى . لا يوجد خيار من جانب التلميذ سوى المسيح نفسه الذى يجبره أن يقطع علاقاته مع ماضيه .</p>
<p>+ لماذا كان هذا ضروريًا ؟ لماذا لا يسمح لنا أن ننضج على مهل في التلمذة وننمو ببطء وبالتدريج ؟ كأن نتقدم أولاً في حياة القداسة ثم نتحول من النظام الطبيعى الى نظام تبعية المسيح ؟ ما هي هذه القوة التي تأتى بعنف لتحول بين الانسان وحياته الطبيعية التي سر الله أن يضعه فيها ؟ بالتأكيد ان الانفصال عن الماضى هو تكتيك شرعى غايته استقبال مواهب الله الصالحة ، كالذى في الجندية عليه أن يقطع كل طريقته في الحياة المدنية كى يؤهل للدخول إلى الحياة العسكرية . ( ليس أحد وهو يتجند يرتبك بأعمال الحياة كى يرضى من جنده ) ولكن أليس هذا التكتيك يسلب المسيحى حريته ؟ علينا أن نواجه الحقيقة : ان دعوة المسيح فعلا تقيم حاجزاً بين الانسان وحياته الطبيعية . ولكن هذا الحاجز ليس بالتأكيد ازدراء بالحياة ، ولا تحتقير للعلاقات الطبيعية الشرعية المفعمة بالشفقة والحنان ، ولكن هذا الحاجز هو الحياة التي هي الحياة حقاً ، انه الانجيل ، انه شخص يسوع المسيح المبارك .</p>
<p>+ ان تجسد المسيح قد وضع فاصلاً بين الانسان وحياته الطبيعية ، ولا يمكن أن يكون هناك رجوعاً إلى خلف لأن المسيح يسد الطريق . ان المسيح بدعوته لنا قد فصلنا من ضرورات أمور هذا العالم . وهو يريد أن يكون هو مركز كل الأشياء بحيث لا يمر شيء الا من خلاله فقط . انه يقف بيننا وبين الله كى يوصلنا إلى الله  ، ومن أجل هذا أيضاً هو يقف بيننا وبين الآخرين ، وبيننا وبين الأشياء الأخرى . انه الوسيط ليس بين الله والانسان فقط بل وبين الانسان والانسان أيضاً ، وبين الانسان والحقيقة ، فكل العالم منه وبه وله قد خلق (١كو ٨ : ٦)  (يو ١ : ٣) (عب١: ٢) انه الشفيع الوحيد في العالم . منذ مجيئه لم يعد للإنسان حق في أن يكون له علاقة مباشرة من ذاته مع أي شيء فيما بعد : لا مع الله الا في المسيح ، ولا مع العالم الا في المسيح أيضاً . المسيح يريد أن يكون هو الوسيط . طبعاً هناك آلهه أخرى كثيرة ( كالمال والشهوات ) يقدمون للناس اقتراباً مباشرا إلى العالم وهو طبعاً يستخدم كل وسيلة في حوزته ليستعيد قبضته المباشرة على الناس ، ولكن هذا هو السبب عينه الذى يتعارض فيه العالم مع المسيح الوسيط بحدة ومرارة .</p>
<p>+ ان الانفصال حتى من ضرورات العالم ، يساوى معرفة المسيح كابن الله ، وكالوسيط الوحيد . حينما نترك كل ارتباط مع العالم من أجل قيم أو مثل من السائدة في العالم فهذا فعل غير فطن . فمثلاً لو استبدلت قيما دنيئة بقيم سامية فان هذا سيكون مجرد حماسة أو عناد ، وهو محاولة لتوطيد علاقة مباشرة مع العالم بدون المسيح. ان ادركنا نحن تلاميذ المسيح بأنه هو الوسيط الوحيد يعطينا الامكانية أن ننفصل عن عالم الناس والأشياء ، لأننا لا نريد أن تكون لنا علاقة بأى شيء الا من خلال يسوع فقط . دعوة يسوع لنا ليست مجرد دعوة إلى مثل عليا ، بل هي دعوة ليكون المسيح الكلمة هو الوسيط في كل علاقاتنا ، وهو التي تكمل انفصالنا عن العالم .</p>
<p>+ لو كانت دعوة المسيح هي مجرد مفاضلة واستبدال قيمة بقيمة أخرى ، فأننا سنلتمس نوعاً من التصالح والحل الوسيط بين القيم وبعضها ، حتى لو صعدنا بالقيم المسيحية إلى القمة ، فالدعوة المسيحية أسمى من كل القيم .</p>
<p>+ دعوة المسيح تعلمنا أن علاقتنا مع العالم كانت مبنية على الضلال طول الوقت . لقد كنا نتمتع بعلاقات مباشرة مع الناس والأشياء ، ولكننا الآن نكتشف أن هذه العالاقات عينها هي التي كانت تعوقنا عن الايمان والطاعة . والآن نتعلم انه منذ مجئ المسيح وتبعيتنا له ، ودخوله إلى حياتنا ، لم تعد العلاقات المباشرة مستساغة حتى بالنسبة لروابط الحياة مع الأقرباء ، الأب والأم والأخوات والحب الزوجى ولا العلاقات الاجتماعية مع الجماعة . المسيح يقف كوسيط بيننا وبين كل هذه العلاقات سواء شعرنا بذلك أم لم نشعر . نحن لا نقدر أن نقيم علاقات من انفسنا الا من خلاله ، ومن خلال اتباعنا له . لو فكرنا غير هذا فاننا نخدع أنفسنا .</p>
<p>+ ولكن المفروض أن ننفر من أى خداع يخفى الحقيقة عن أعيننا . يتحتم علينا أن نجحد أي علاقة مباشرة مع أمور هذا العالم من أجل المسيح. فحينما نضع أنفسنا ضمن مجموعة صغرت أم كبرت ، ونبدأ لنبحث عن حقوقنا وواجباتنا داخل نطاق هذه المجموعة فان هذا بلا شك سيقف حائلاً بين وقوفنا منفردين أمام المسيح . لذلك ينبغي أن تقطع هذه العلاقة مع الجماعة من أجل المسيح لأن هذه حتمية سواء عرفنا أو لم نعرف والا فعدم كراهيتنا لهذه الروابط يعنى كراهيتنا للمسيح وهذا حقيقى أيضاً وبنوع خاص لو ادعت هذه العلاقات انها مشروعة ومقدسة على أساس المبادئ المسيحية.</p>
<p>+ حينما نسخر من تعاليم المسيح كوسيلة لتبرير العلاقات المباشرة مع أمور هذا العالم ، فأننا نقع في خطأ لاهوتى من الدرجة الأولى . أحياناً يتم الجدل على هذا النحو : ان كان المسيح هو الوسيط فقط أزال كل خطيئة كائنه في علاقتنا مع العالم  ، وبه نلنا التبرير ، لقد صالحنا يسوع المسيح مع الله وعلى هذا فاننا نقدر أن نعود إلى العالم ، وكل شيء طاهر للطاهرين – ونتمتع بعلاقاتنا المباشرة معه عن طيب خاطر … رغم أن هذا العالم هو نفسه الدى صلب المسيح ! معنى هذا أنك تساوى حب الله بحب العالم  ، ومعنى هذا أيضاً أن الذين يقطعون علاقاتهم مع أمور الدنيا يسيئون التفسير لعمل النعمة الإلهية . ويكون غرضنا من كل هذا ، كما يلذ لنا أن نتصور ، هو أن نعفى أنفسنا من الضرورة الحتمية لنقض العهد بيننا وبين الدنيا . وهكذا نحول قول المسيح عن كراهية العلاقات مع العالم إلى تأكيد مبهج بأن الله هو الذى أعطى حقائق هذا العالم . ومرة أخرى نحول تبرير الخاطئ إلى تبرير للخطيئة ! !</p>
<p>+ بالنسبة للمسيحى ، المسيح هو الحقيقة الوحيدة المعطاة من الله . كل ما ليس معطى لنا من خلال الابن المتجسد ليس من الله . كل ما لا يعطى لى من أجل المسيح لا يأتي من الله . حينما نقدم الحمد والشكر على عطايا الخلق ، علينا ان نفعل هذا من خلال يسوع المسيح وحينما نصلي من أجل حفظ الحياة بنعمة الله علينا ان نعمل صلاتنا من أجل المسيح . أي شيء لا أقدر أن أشكر الله على أمر ليس من المسيح هذه خطيئة .</p>
<p>+ لأن منه وبه وله كل الأشياء ( رو ١١: ٣٦)</p>
<p>+ الكل به وله قد خلق (كو ١: ١٦)</p>
<p>+ لأننا به نحيا ونتحرك ونوجد (أع ١٧ :٢٨)</p>
<p>+ الذى بيده نفس كل حى وروح كل بشر (أي ١٢ : ١٠)</p>
<p>+ الله الذى بيده نسمتك وله كل طرقك (دا ٥ : ٢٣)</p>
<p>+ لأنه لى الحياة هي المسيح (في١: ٢١)</p>
<p>+ لكن لنا واحد الآب الذى منه جميع الأشياء ونحن له ، ورب واحد يسوع المسيح الذى به جميع الأشياء ونحن به (١كو ٨ : ٦)</p>
<p>+ ولكن جميع الأشياء هي من الله (١كو ١١: ١٢)</p>
<p>+ أنت ( أيها الرب ) خلقت كل الأشياء وهى بإرادتك كائنه وخلقت (رؤ٤ : ١١)</p>
<p>+ كل شيء به كان وبغيره لم يكن شيء مما كان (يو ١ : ٣)</p>
<p>+ لأنه لاق بذاك الذى من أجله الكل وبه الكل (عب ٢: ١٠) .</p>
<p>الطريق أيضاً إلى الحقيقة المعطاة من الله عملى أو زميلى ، أو الزوجة أو الأبناء ، ان لم تكن معطاه لى من الله فأنا أسير في زقاق خطير وأنا أعمى . اننا منفصلون الواحد عن الآخر بهوة لا تعبر من الغربة والغيرية . ونبذل محاولات لنتغلب على الشعور بهما عن طريق العلاقات الإنسانية ، أو الانحاد العاطفي أو الروحى . ولكن يوجد طريق بين انسان وآخر ، ولا حتى بين نفس ونفس ، مهما حاولنا ان نكون محبين وشفوقين ، ومهما كنا متمكنين من علوم النفس والعلاقات الإنسانية . المسيح وحده هو القادر . ولا يمكننا أن تكون لنا علاقات صحيحة مع أقرباءنا الا من خلاله . لذلك كانت الشفاعة هي أفضل طريقة نصل بها إلى أقرباءنا والصلاة من أجل بعضناً بعضاً – المرفوعة بإسم المسيح – هي أنقى صورة مشاركة .</p>
<p>+ نحن لا نقدر أن نعرف عطايا الله حقاً ، ما لم نعرف الوسيط الذى من أجله أعطينا إياها . لا يوجد شكر فعلى لأجل بركة الوطن ، الأهل ، المجتمع ، التاريخ ، والطبيعة  بدون قلب عامر بالامتنان يعطى المجد للمسيح وحده فوق كل شيء آخر . لا يوجد أي ارتباط مع مخلوقات ما ، ولا مسئولية فعلية في العالم  ، ما لم ندرك نقض العهد الذى يفصلنا فعلا عنها . لا يوجد حب فعلى للعالم ما عدا الحب الذى يحب الله به يسوع المسيح . الوصية المعطاة لنا : &#8221; لا تحبوا العالم &#8221; (١يو ٢ : ١٥) نعم ، ولكن علينا أيضاً أن نتذكر انه &#8221; هكذا أحب الله العالم حتى بذل ابنه الوحيد لكى لا يهلك كل من يؤمن به بل تكون له الحياة الأبدية &#8221; (يو٣ : ١٦) .</p>
<p>+ الانفصال عن الارتباطات الضرورية أمر لا مفر منه ، قد يأخذ شكلاً ظاهراً كالانفصال عن الأسرة ، وفى هذه الحالة نحن مدعوون أن نحمل تعيير المسيح الذى يقع علينا بصورة منظورة . وقد يكون الانفصال خفياً ومستتراً بحيث لا يشعر به الوسط الذى نحيا فيه ولكن حتى في هذا يجب أن نكون مستعدين دائماً أن نخرجه إلى المعلن  .</p>
<p>&#8211;  أب الآباء إبراهيم يعتبر مثالاً للحالتين ، فقد كان عليه أن يترك أصدقاءه أهله وعشيرته وبيت أبيه لأن المسيح دخل بينه وبين خاصته . في هذه الحالة كان الانفصال واضحاً ، واصبح إبراهيم غريباً ونزيلاً لكى يحصل على أرض الموعد ، وكانت هذه هي دعوته الأولى .</p>
<p>&#8211;  بعد ذلك دعاه الله أن يقدم ابنه الوحيد اسحق محرقة ، لقد دخل المسيح بينه وبين ابنه ، ابن الموعد . هذه المرة لم تكن العلاقة المباشرة مجرد علاقة دم ولحم ، بل علاقة روحية أيضاً لأن اسحق كان بالنسبة لابراهيم ابن وعود الله … ينبغي أن تكسر هذه العلاقة أيضاً ، وينبغى أن يتعلم إبراهيم ان الموعد لا يتوقف على اسحق بل على الله وحده . لم يسمع أحد غير إبراهيم عن دعوة الله هذه كى يقرب ابنه على المذبح ، ولا حتى الغلامين اللذين رافقا أبراهيم إلى جبل المريا . مرة أخرى كمثل ما حدث عند خروج إبراهيم من بيت أبيه كان وحده – واحداً وحيداً منفرداً . انه يقبل الدعوة حين تأتى ، سوف لا يتعافى منها ولا يروحنها . انه يتعامل مع الله على أساس كلمته وهو مستعد أن يطيع ضد كل لا معقولية : سواء كانت طبيعية ، أم أخلاقية ، أم دينية ، انه مطيع لكلمة الله وفقط . ولكونه أبدى استعداداً أن يقدم اسحق ابنه محرقة ، بين أنه كان مستعداً أن يجاهر بنقض عهد الابوة والبنوة الذى كان قد نقضه سراً وهو يعمل هذا من أجل الله الذى دخل بينه وبين أبنه وعند هذه اللحظة عينها كل ما كان قد تركه أعيد إليه . لقد استعاد ابنه ، أراه الله ذبيحة أفضل ستحل محل إسحق ، ولكنه من الآن فصاعداً سيحتفظ بابنه بطريقة جديدة تماماً . انه ابنه من خلال الله ولأجل الله . ومن حيث أنه قد أثبت أنه مستعد أن يطيع الله حرفياً ، سمح له أن يملك ابنه اسحق وكأنه لم يكن له من قبل . يملكه من خلال يسوع المسيح .. لم يعرف ما حدث ، أي انسان آخر ، لقد نزل إبراهيم من الجبل ومعه إسحق تماماً بنفس الصورة التي صعد بها ، ولكن كل الأوضاع قد تغيرت ، لقد وضع المسيح بين الأب والأبن ، لقد ترك إبراهيم كل شيء وتبع المسيح ، وأثناء ما هو يتبعه سمح له أن يعود ويعيش في العالم كما كان من قبل . في المظهر الخارجي للصورة لم تتغير ولكن … العتيق قد مضى ، هوذا الكل قد صار جديداً . كل شيء الآن يمر من خلال المسيح .</p>
<p>+ هذه هي الطريقة الثانية ان تكون وحيداً تابعاً للمسيح في وسط المجتمع ، بين المعارف والأقرباء متمتعاً بكل ثرواتك في الحياة . ولكن لاحظ ان إبراهيم دعى – ولم يدع نفسه – إلى هذه الطريقة من الحياة . إبراهيم قد عرف أولاً كيف ينفصل عن الماضى بطريقة منظورة ، إبراهيم الذى هو الذى في العهد الجديد أصبح مثالاً يحتذى به في الايمان . يمكن ان نعمم بسهولة ما منح لابراهيم وان نجربه لأنفسنا ونفهمه على كونه مبدأ روحياً نطبقه على أنفسنا بدون تردد . نحن نميل أن نظن ان لنا نفس الدعوة في الحياة المسيحية ، فنبقى أنفسنا في متع الحياة ! ! ولكن الانفصال عن الدنيا وعثراتها بشكل ظاهر هو أسهل طريقة مؤكدة للحياة المسيحية دون التعلل بالانفصال سرياً . ما لم نكن قد تعلمنا هذا من الإنجيل ، ومن خبراتنا ، فاننا نخدع أنفسنا . سنعود للسقوط في علاقات مباشرة مع الدنيا ، بل ونكره الرفقة مع المسيح . ليس لنا أن نختار طريق الحياة الذى نتبعه ، فهذا يتوقف على أرادة المسيح  . ولكن هذا مؤكد في طريق آخر ، علينا أن نترك ضرورات العالم سواء سرياً أم علنياً .</p>
<p>+ ولكن الوسيط نفسه الدى جعلنا ننفصل ، يوجد لنا رفقة جديدة . انه يقف في المركز بينى وبين قريبى . انه يفرق ، ولكنه أيضاً يوحد . وهكذا رغم أن الطريق إلى القريب يبدوا مسدوداً الآن ، نجد الطريق الجديد والوحيد إلى القريب – الطريق الذى يمر من خلال المسيح  .</p>
<p>في (مر١٠: ٢٨ – ٣١)</p>
<p>يسوع هنا يكلم أناس صاروا في وحدة لأجله ، الذين تركوا كل شيء وقت دعوته ، ويمكنهم ان يقولوا عن أنفسهم : &#8221; ها نحن قد تركنا كل شيء وتبعناك &#8221; لقد أخذوا وعداً برفقة جديدة ، وحسب كلمات الرب يسوع ، سيأخذون في هذا الزمان مئة ضعف عن ما تركوه . ان يسوع يشير إلى الكنيسة التي تجد نفسها فيه . من ترك أباه لأجل يسوع ، سيجد بالتأكيد أب وأم وأخوة وأخوات مرة أخرى وحتى حقولاً ومنازل . رغم انه علينا ان ندخل التلمذة وحدنا ، الا اننا لا نبقى وحدنا . ان صدقنا كلمته وخاطرنا بأن نصبح في وحدة من أجله ، فان مكافأتنا هي رفقة الكنيسة المقدسة ، هنا أخوة منظورة لتعويض مئة ضعف عن كل ما فقدناه . مئة ضعف ؟ نعم ، لأنه أصبح كل ما لنا من خلال الوسيط ، ولكن مع الاكرامية – &#8221; مع اضطهادات &#8221; – هذه هي النعمة الممنوحة للكنيسة التي تتبع ربها تحت رايه الصليب . هذا ايضاً هو الوعد المعقود مع أتباع المسيح – سيكونون أعضاء في جماعة الصليب ، شعب يسوع ، الشعب الذى هو تحت الصليب …</p>
<p>+ لكى يجعلهم يعتقدون كم أن دعوته خطيرة ، وليبين لهم استحالة أن يتبعوه بقوتهم الذاتية ويؤكد ان الالتصاق به يعنى الاضطهادات ، تقدم يسوع في الأمام إلى أورشليم وإلى الصليب . وامتلأوا خوفاً وحيرة في الطريق الذى دعاهم اليه أن يتبعوه .</p>
<p>المجد كل المجد يا الهنا وربنا يسوع المسيح .. &#8221; اراكم فتفرحون ولا ينزع أحد فرحكم منكم &#8221;   آمين<a href="#_ftn8" name="_ftnref8">[8]</a></p>
<p></p>
<p></p>
<h4>الأحد الثالث من شهر هاتور المبارك للمتنيح القمص تادرس البراموسي</h4>
<p></p>
<p><strong>من لا يحمل صليبه ويتبعنى لا يدخل ملكوت السموات (لو ١٤: ١٥ – ٣٥)</strong></p>
<p>نرى في كلمات الرب يسوع وتعاليمه فوائد كثيرة ضد الباحثين عن المراكز والساعين إلى الرفعة والجاه وفى صالح العمل والمعاناه فيجب أن لا يغيب عن عقولنا الغرض من كل هذا الأتضاع والتضحية وإنكار الذات هو أن نكون مع الرب يسوع في عشائه المبهج . إن الله لا يطلب منا أن نتألم لمجرد الألم كما إنه لا يطلب منا أن نتنازل عن شيء صالح ما لم تكن في تدبيره أن يعوض ذلك بما هو أفضل كما إنه لا يدعونا إلى الأنضمام في معسكر العمل في مأدبه عشاء وعرس الحمل . حين يرتبط الله بكنيسته المحبوبة إلى الأبد كأن جمهور الذين يستمعون إلى الرب يسوع يدركون تماماً معنى أن يحمل الإنسان صليبه . فعندما كان الرومان يسوقون مجرماً لتنفيذ حكم الأعدام كانوا يجبرونه على حمل الصليب الذى يصلب عليه وكان هذا يعنى خضوعه للحكم وقد أعطى الرب يسوع هذا التعليم للجموع حتى لا يترفعوا بحماس سطحى لأتباعه وقد حث الرب يسوع المسيحيين أما أن يتعمقوا ويعرفوا كيف يتبعوه أو أن يرجعوا من وراءه أن أتباع الرب يسوع معناه الخضوع الكامل له حتى الموت كل من كان يسمع كلمات المسيح يمتلئ تعزية مثل الإنسان الذى صرخ طوبى لمن يأكل خبزاً مت ملكوت السموات فكان قول الرب يسوع ، إنسان صنع وليمة ودعا كثيرين ، وارسل عبيده ليقول للمدعويين تعالوا لأن كل شيء قد أعد فكل واحد من هؤلاء المدعوين أعتذر بشئ معين مما يجعله لا يحضر الوليمة فقال السيد لعبيده أخرجوا إلى الطرق والساحات والشوارع والأزقة وأدخل هنا كل المساكين الدع والعرج والعمى . لأنه ليس واحد من أولئك المدعوين يذوق عشائى يقصد بذلك إنه جاء إلى خراف إسرائيل الضالة ولما رفضه إسرائيل جمع من الأمم كما قال الكتاب والذين تبعوه أعطاهم سلطان أن يصيروا أبناء الله وقال هذا للجميع من أحب أباً أو أماً أو أولاد أو أخوه أو أخوات أكثر منى فلا يستحقنى ومن لا يحمل صليبه ويأتي ورائى فلا يقدر أن يكون لى تلميذاً . الملح جيد لكن إذا فسد الملح فبماذا يملح لا يصلح لشئ بل سيطرح خارجاً .</p>
<p></p>
<p><strong>العظة الأولى</strong></p>
<p>أ – شروط التلمذه</p>
<p>ب – ما هي التلمذه الحقيقية</p>
<p>ج – الاستعداد للتلميذه</p>
<p>د – الدافع للتلمذه</p>
<p>ه &#8211; المشورة والإرشاد ثمرة التلمذه</p>
<p>و – التضحية وإنكار الذات</p>
<p>ذ – الفرق بين معلم ومعلم في التلمذه</p>
<p>ح – ثمار التلمذه وفوائدها</p>
<p>ط. التلمذه في الماضي والحاضر</p>
<p>ى – الألتزام في التلمذه وضرورته</p>
<p></p>
<p><strong>العظة الثانية</strong></p>
<p>أ – الأبوه وحكمة المرشد</p>
<p>ب – الاستعداد النفسى وتنفيذ الأمر</p>
<p>ج – الطاعة والحرص على التنفيذ</p>
<p>د – الدافع للتلمذه</p>
<p>ه &#8211; عمل الروح القدس في التلمذه</p>
<p>و – مضمون فكرة التلمذه</p>
<p>ذ – المصالحة مع النفس</p>
<p>ح – التمييز بين الطاعة والرضى</p>
<p>ط – الحرص على النمو وجنى الثمار</p>
<p>ى – المحبة والتسليم الكامل</p>
<p></p>
<p><strong>العظة الثالثة</strong></p>
<p>أ – الفرق بين حب الله وحب الأهل</p>
<p>ب- الفرق بين حب الله وحب المال</p>
<p>ج – القدرة على حمل الصليب بدون أنين</p>
<p>د – القدرة والمشورة والتعقل</p>
<p>ه &#8211; التفرغ والتكريس والمثابرة</p>
<p>و – السلوك القويم ومخالفة الله</p>
<p>ذ – العمل الجاد واستمرار الجهاد</p>
<p>ح – الخدمة حباً في الخدمة وليس رياء</p>
<p>ط – العمل السرى والجندى المجهول</p>
<p>ى – لا تفرح بالمدح ولا تغضب للقدح<a href="#_ftn9" name="_ftnref9">[9]</a></p>
<p></p>
<p></p>
<h4>مؤهلات ملكوت الله  للمتنيح القمص بولس باسيلي</h4>
<p></p>
<p>تقسيم على ضوء القراءات الكنسية</p>
<p>البولس   :            (٢تس ١: ١- ١٢)</p>
<p>الكاثوليكون :          (١بط ٤: ٣- ١١)</p>
<p>الابركسيس  :         (أع ٥: ٣٠- ٤٢)</p>
<p>الانجيل       :         (لو ١٤: ٢٥- ٣٥)</p>
<p>القسم الأول :  ماهية هذه المؤهلات</p>
<p>(1)          الآلام :  على حد ما جاء فى &#8221; البولس &#8221; لكنيسة تسالونيكى &#8221; نفتخر بكم فى كنائس الله من أجل صبركم وايمانكم فى جميع اضطهاداتكم والضيقات التى يحتملونها  أنكم تؤهلون لملكوت الله الذى لأجله تتألمون أيضاً &#8221; (٢تس١: ٤-٥) لأنه وُهب لكم فى المسيح يسوع لا أن تؤمنوا به فقط بل أن تتألموا لأجل اسمه &#8221; وهذا عين ما جاء بانجيل القداس &#8221; من لا يحمل صليبه كل يوم ويتبعنى فلا يقدر أن يكون لى تلميذاً &#8221;</p>
<p>(2)   اليقظة والسهر : فلنصغ الى انذار بطرس الرسول فى &#8221; الكاثوليكون &#8221; : &#8221; انما نهاية كل شىء قد اقتربت فتعقلوا واصحوا للصلوات &#8221; (١بط ٧:٤) وهذا الانذار هو عين ما ورد فى انجيل القداس &#8221; ان فسد الملح فبماذا يملح &#8221; (لو١٤: ٢٥)</p>
<p>(3)  الوكالة الأمينة :  ومن مؤهلات دخول ملكوت الله أيضاً أن نكون وكلاء صالحين على حد تعبير الكاثوليكون &#8221; ليكن كل واحد بحسب ما أخذ موهبة يخدم بها بعضكم بعضاً كوكلاء صالحين على نعمة الله المتنوعة &#8221; (١بط٤: ١٠) وهذا عين ما أعلنه انجيل القديس بقوله &#8221; من لا يبغض أباه وأمه  لا يقدر أن يكون لى تلميذاً &#8221;</p>
<p>(4)  المحبة والايثار :   وأيضاً من المؤهلات المطلوبة لملكوت الله قول الكاثوليكون &#8221; قبل كل شىء لتكن محبتكم بعضكم لبعض شديدة لأن المحبة تستر كثرة من الخطايا ، كونوا مضيفين بعضكم بعضاً بلا دمدمة &#8221; (بط ٤: ٨) وهذه الفضائل تجمعها كلمة انجيل القداس &#8221; كل واحد منكم لا يترك جميع أمواله لا يقدر أن يكون لى تلميذاً &#8221; وفى هذا معنى التضحية بالمال لأجل الغير ، وحينئذ يستطيع أن يحب الناس فيخدمهم ، ويضيف الغرباء ويرعاهم</p>
<p>++++++++++++++++++++++++</p>
<p>القسم الثانى : ثمار هذه المؤهلات</p>
<p>(1)          فرح للمقبولين :    على حد تعبير الابركسيس عن المؤمنين للملكوت &#8221; أما هم فذهبوا فرحين من أمام المجمع لأنهم حسبوا مستأهلين أن يهانوا من أجل اسمه (أع ٥: ٤١) وهذا ما أشار اليه انجيل القداس : &#8221; الملح جيد &#8221;</p>
<p>(2)          حزن وغم للمرفوضين : أما المرفوضون من الملكوت الذين لم يتبعوا يسوع فقال عنهم البولس &#8221; ان الذين يضايقونكم يجازيهم ضيقاً  معطياً نقمة للذين لا يعرفون الله والذين لا يطيعون انجيل ربنا يسوع المسيح الذين سيعاقبون بهلاك أبدى من وجه الرب ومن مجد موته &#8221; (٢تس١: ٦-٩)  هذا عينه ما قرره انجيل القداس &#8221; وان فسد الملح لا يصلح لشىء بل يطرح خارجاً ويداس من الناس &#8221;</p>
<p></p>
<p></p>
<h4> تأملات روحية  نقاط تفسيرية</h4>
<p></p>
<p>فى عظة الأحد الثالث من هاتور (لو ١٤: ٢٥ –٣٥)</p>
<ul>
<li>&#8221; من يأتى الىّ ولا يبغض أباه &#8220;</li>
</ul>
<p>هل يطالبنا الله المحب بل المحبة المتجسد بالبغضاء ؟إ حاشا ، اذن ما معنى هذا ؟؟ ان البغضة هنا تعنى المحبة الأقل ، مثلما قيل عن يعقوب أنه &#8221; أحب راحيل أكثر من ليئة &#8221; وفى موضع آخر قيل &#8221; ان ليئة كانت مكروهة &#8221; (تك ٢٩: ٣١) وقيل أيضاً &#8221; أحببت يعقوب وأبغضت عيسو &#8221; وهذا يعنى محبة عيسو أقل من يعقوب ، وتفسير هذا فى موضع آخر &#8221; من أحب ابناً أو ابنة أكثر منى فلا يستحقنى &#8221; (مت١٠: ٢٧) وخلاصة المعنى السابق هو أن تحب الله أكثر من الناس وتفضل طاعته عن طاعة البشر</p>
<ul>
<li>&#8221; ان كان أحد يأتى الىّ &#8220;</li>
</ul>
<p>ان جميع مدارس العالم لها مواقيت ومواعيد للالتحاق ، أما مدرسة يسوع ففى كل وقت تستطيع أن تلتحق بها ، فهى مفتوحة للجميع ولكل تلميذ بلا قيود لا فى السن ولا فى الجنس ولا فى اللون ولا فى المذهب ولا فى أى شرط آخر</p>
<p>كما أنها المدرسة العجيبة التى تقبل الأولاد والبنات ، الشيوخ والشبان ، الأغنياء والفقراء بلا استثناء</p>
<ul>
<li>&#8221; حتى نفسه أيضاً &#8220;</li>
</ul>
<p>قال أفلاطون &#8221; ان الافراط فى محبة الذات هو فى الواقع مصدر كل الشرور ، ولكن من يريد أن يكون عظيماً عليه أن ينكر ذاته ومصالحه ، ويرعى ما هو عادل ، سواء أكان هذا لشخصه أم لغيره ، فليتجنب كل انسان الافراط فى محبة الذات ، ويجاهد أن يتبع مثال انسان أفضل منه</p>
<p>قالت احدى المريضات للدكتور وليم سادلر الطبيب النفسانى &#8221; أنت تعلم انى شديدة الحساسية &#8221; أجابها &#8221; نعم أنت شديدة الأنانية &#8221; فقالت له &#8221; أنا لم أقل الأنانية &#8221; فأجابها &#8221; ولكن أنا قلتها &#8221; فانصرفت من عنده غاضبة ، ولكنها تلبث أن عادت بعد عشرة أيام وعليها سيماء الخجل واعترفت للدكتور بصواب رأيه فذلك كان منشأ علتها</p>
<ul>
<li>&#8221; فكذلك كل واحد منكم لا يترك جميع أمواله &#8220;</li>
</ul>
<p>كتب روبرت هول الواعظ الشهير كلمة &#8221; الله &#8221; على قطعة من الورق ، ثم قدمها لصديقه الملحد وقال له &#8221; انظر هنا ماذا تقرأ ؟ &#8221; قال &#8221; الله &#8221; ثم أخرج قطعة من النقود الذهبية ووضعها فوق الكلمة المكتوبة وسأل صاحبه &#8221; والآن ماذا ترى الأن قال &#8221; لا شىء سوى قطعة الذهب إإ&#8221; ، قال روبرت &#8221; هكذا يا صاحبى ، ان الله موجود ولكن الذى يضع حجاباً على عينيك فلا تراه هو هذا الذهب البراق الذى كل من يحبه &#8221; ضلوا عن الايمان وطعنوا أنفسهم بأوجاع كثيرة &#8221;</p>
<ul>
<li>&#8221; يحسب النفقة &#8220;</li>
</ul>
<p>أراد أحدهم أن يستمر فى المسير فى عرض الشارع رغم ظهور &#8221; النور الأحمر &#8221; أمامه واذا بيد رجل المرور توضع على كتفه وصوت يقول &#8221; اذا أردت ياصاحبى أن تعيش طويلا فسر حسب اشارات المرور &#8221; وهذا ما يجب أن ننبه به كل مؤمن فى هذه الحياة &#8221; اذا أردت أن تعيش سعيداً فلا تخالف الارشادات الالهية واتبع طريق النور &#8221;</p>
<ul>
<li>&#8221; ان كان أحد يأتى الىّ ولا يبغض &#8220;</li>
</ul>
<p>هذه البغضة ترينا فكرة المسيحية عن الخطية ، فالبغضة التى قد نهانا الله عنها وجعلها والقتل شيئاً واحداً (١يو ٣: ١٥) نرى المسيح هنا يجعلها شرطاً لازماً لنكون له تلاميذ ، ومعنى هذا أن البغضة عندما تكون كراهية لأسباب شخصية فهى خطية مرذولة ولكنها عندما تكون انكاراً للعلائق فى سبيل الأمانة للمسيح وحقه ، فانها تكون فضيلة مسيحية وواجبة<a href="#_ftn10" name="_ftnref10">[10]</a></p>
<p></p>
<p></p>
<h4>عظة للمتنيح القمص لوقا سيداروس</h4>
<p></p>
<p>الأحد الثالث من شهر هاتور</p>
<p>(لو ١٤: ٢٥ – ٣٥)</p>
<p><strong>تبعية يسوع</strong></p>
<p>كثيراً ما نقرأ عن جموع كانت تزحم يسوع ، ولكن قليلون منهم انو يتلامسون مع يسوع ويخلصون ، وهذه العينات مثل المرأة نازفة الدم ومثل زكا العشار ومثل المولود أعمي ، وهى التي عرفت كيف تتبع يسوع . لأن ليس كل السائرين معه هم تابعون بالحقيقة . فكثيرون يتبعونه رغبة في الملكوت ، رغبة في التعزية أو ليشاركوا في أكل الخبزات ، ينبهرون من الآيات ويحبون السير وراء مسيح المعجزات ومسيح التعزيات . ولكن النفوس القليلة تتبعه إلى النهاية وتكمل المسيرة حتي البستان والآلام والصليب .</p>
<p>التفت وقال لهم</p>
<p>إن يسوع دائماً يلتفت إلى السائرين وراءه وهو حيثما يلتفت إلينا يفحص أعماق قلوبنا ينظر إلى نيتنا وهدفنا من السير وراءه . ترى لماذا نتبع يسوع في وسط الزحام ؟ ولماذا أنت بين صفوف العابدين في القداسات والعشيات ؟ ولماذا أنت بين جموع المتناولين ؟ إن الرب يسوع في وسط هذا الزحام يلتفت إليك ، ويفحص قلبك ويصحح طريقك .</p>
<p>شروط التلمذة</p>
<p>١ – إن كان أحد يأتي إلى ولا يبغض أباه &#8230; الخ &#8221;</p>
<p>هذا هو الشرط الأول لتبعية يسوع والتلمذة له . إن الرب يسوع لايريد قلبك الذى تحب به أباك وأمك وزوجتك وأولادك و&#8230;.. ولكنه يريده قلباً فارغاً تماماً من خبرات المحبة القديمة التي تلوثت بالخطية وانحصرت برباطات اللحم والدم والذات البشرية ، أليست هذه هي الوصية العظمي ان تحب الرب إلهك من كل قلبك ومن كل فكرك ومن كل قدرتك . إذن ما لم نفرغ قلوبنا من كل محبة بشرية لا نؤهل لحب الله ، فالذى يظل مرتبطاً بعواطف بشرية ويجاهد لكى يمتلئ من محبة الله يكون كعصفور يحاول الطيران بينما هو مربوط بخيط إلى الأرض . إسأل القديسة دميانة وهو تعلمك كيف تنفذ الوصية ، لأنها أحبت المسيح عريسها أكثر من الأب والأم والصديق والعالم كله . إن الرب يسوع بهذا الشرط يريد أن يخرجنا خارج حدود الذات الترابية ، لماذا أحب أبى أنا فقط وأمي أنا فقط ؟ أليس لأنهم يخصون ذاتي وينتسبون إلى &#8230;. الرب يسوع يريد أن يعطينا حباً حراً من قيود الذات . يملأنا حباً لكل الآباء ولكل الأمهات ولكل الاخوة والأقارب وكل البشرية. محبة بلا حدود وبلا قيود &#8230; محبة خالية من محبة الذات .</p>
<p>هل تستطيع أن تحب عدوك ؟ هذا مستحيل &#8230; وهذا فوق إمكانية البشر وفوق حدود الطبيعة. ولكن الرب يسوع يعطيك هذا الحب الإلهى حتي للخطاة. ولكن ما هو الطريق لهذا الحب ؟ ابتدء بتفريغ قلبك من المحبة القديمة ، أبغض أباك وأمك وأخوتك &#8230; حينئذ تأخذ من الرب يسوع محبة جديدة إلهية وفائقة للطبيعة ، تحب بها أباك وأمك وجميع الناس حتي الأعداء أيضاً . الشهداء أبغضوا المحبة الجسدية وداسوا على رباطات الجسد محبة في المسيح فأمتلات قلوبهم حباً إليها حتى للصالبين والمعذبين &#8230; إن سبب عجزنا الشديد في تنفيذ وصايا الحب الإلهى هو تمسكنا بالمحبة على مستوى الجسد وعدم تفريغ قلبنا كاملاً للمسيح .</p>
<p>٢ – من لا يحتمل صليبه ويأتي ورائي فلا يقدر أن يكون لى تلميذاً &#8230;</p>
<p>يا حبيبى أن الرب يسوع سبق ( وهو حاملاً صليبه ) (يوحنا ١٩: ١٧) . هذا هو طريق الحياة الأبدية ، الصليب ليست هو المصائب والآلام والآحزان ، هذه معاني سلبية مخيفة . فالصليب ليس موتاً عن العالم فقط لكنه حياة الله حمل الصليب ينتهي حتماً بالقيامة من الأموات ، من لا يحمل الصليب لا يؤهل لمجد القيامة . إن حمل الصليب هو الذى يميز السائرين وراء يسوع والتابعين الحقيقيين ، فإن لم تحمل صليبك ونتبع خطواته لا تكون تلميذاً له . إن حمل الصليب هو عمل يومى &#8230; كل يوم &#8230; من أجللك نمات كل النهار ، الصليب هو إماته الشهوات والطمع ومحبة العالم ومحبة المال وكل فكر خبيث والمكر والنميمة والكبرياء ، والصليب هو إطاعة الوصية الإلهية وبذل الذات . لو وجد شيء أنفع وأفضل لخلاص البشرية من الصليب لكان الرب قد أرشدنا إليه بلا شك . وبالرغم من أن الكثيرون لا يقبلون هذا الكلام . لكنه سيظل الشرط للتلمذه ليسوع . في الصليب الخلاص والحياة والأمان والعذوبة والقوة الروحية وغلبة العالم وسحق الشيطان وفرح الروح  ، فإن لم تحمل صليبك كيف تحصل على كل هذا ؟ ألا تريد أن تصير شكل معلمك الإلهى ؟ أم أنك ترفض الصليب وتؤثر السير في الباب الواسع والطريق الرحب ؟</p>
<p>أخيراً قال الرب للسائرين ورائه أن يحسبوا نفقة السير وراءه قبل أن يبرأوا ، وها هي بوضوح : &#8221; تفريغ القلب من المحبة القديمة ليمتلئ من الله وحمل الصليب وانكار الذات والموت عن العالم والحياة مع الله &#8221; . وفى الواقع أن هذه جميعها ليست جهاداً من الإنسان وحسب ، بل هي عمل النعمة وقوة الروح القدس الذى أنسكب فينا ، وهو الذى يكمل نقصنا ويقودنا في موكب النصرة في المسيح إلى التمام<a href="#_ftn11" name="_ftnref11">[11]</a> .</p>
<p></p>
<p></p>
<h3>من وحي قراءات اليوم</h3>
<p></p>
<p>لئلا يضع الأساس ولايقدر أن يكمل (لوقا ٢٩:١٤)</p>
<p>حساب النفقة ( الوقوف والندم في منتصف الطريق &#8211; بين ماهو نفسي وماهو روحي )</p>
<p>+ قراراتنا النفسية تنبع من مشاعرنا وأحاسيسنا ، أمَّا قرارات الروح تنبع من كلام الله ورسالته الشخصية لي</p>
<p>+ القرار النفسي يبحث عن غطاء روحي جاهز من أحد المشاهير في التنبؤ ، أمَّا الروحي فيترجي صلاتهم فقط لأجله</p>
<p>+ القرار النفسي يتأثر جدا بآراء الآخرين وانفعالتهم سلبا وإيجابا ، أمَّا الروحي فيتأثر بصوت الله اليومي</p>
<p>+ القرار النفسي يجعلني متشبِّثاً جدا بالمكان والعمل نفسه ، أمَّا الروحي يجعلني متشبِّثاً بالهدف والرسالة</p>
<p>+ النفسي ييأس اذا لم يحقق الهدف ، أمَّا الروحي فيخلق الهدف</p>
<p>+ النفسي يقف مجهدا في منتصف الطريق محبطا ، والروحي يعرف ان الإحباط مرحلة سيتعداها بالروح الي ماهو أعمق</p>
<p>+ راحة النفساني فيما يأخذه من الناس ماديا ومعنويا ، وراحة الروحاني فيما يقدمه لهم</p>
<p>+ حساب مستقبل حياتنا وخدمتنا بالمشاعر والنَّاس لايضمن دوام تقدمنا</p>
<p>+ اما ضمان صوت الله وإعلانه هو صخرة تتحطم أمامها كل المعوقات والموانع كل الأيام.</p>
<p>+ النفس هي إمكانيات السيارة التي نركبها ، والروح هو جهاز الإرشاد ( navigation ) ، فما الفائدة من سيارة فاخرة في اتجاه وطريق خاطئ ؟!</p>
<p></p>
<p></p>
<p></p>
<p></p>
<h3>المراجع:</h3>
<p></p>
<p><a href="#_ftnref1" name="_ftn1"></a>١- الشيخ الروحاني &#8211; تفسير سفر أشعياء إصحاح ٥٥ &#8211; القمص تادرس يعقوب ملطي</p>
<p><a href="#_ftnref2" name="_ftn2"></a>٢- ترجمة الأخ / كيرلس كمال مرقص &#8211; كنيسة رئيس الملائكة ميخائيل &#8211; أبو قرقاص &#8211; المنيا</p>
<p>JR, A. J. &amp; Oden, T.C. ( 2003 ). Luke (The Ancient Christian Commentary on Scripture,      New testament part III ). Illinois ( USA ) : InterVarsity press. Page 239,240</p>
<p><a href="#_ftnref3" name="_ftn3"></a>٣- المرجع : تفسير إنجيل لوقا للقديس كيرلس الإسكندري &#8211; ترجمة دكتور نصحي عبد الشهيد</p>
<p><a href="#_ftnref4" name="_ftn4"></a>٤- المرجع كتاب رسائل الانبا انطونيوس – القس بيشوي كامل – كنيسة مار جرجس اسبورتنج</p>
<p><a href="#_ftnref5" name="_ftn5"></a>٥- المرجع : كتاب عظات علي سفر التكوين للعلامة أوريجانوس صفحة ١٥٥ &#8211; ترجمة أ. مريم أشرف سيدهم ، أ. مريم رشاد حليم ، د. جينا بسطا</p>
<p><a href="#_ftnref6" name="_ftn6"></a>٦- المرجع : كتاب سيرة وحياة القديسة والمعلمة الطوباوية سينكليتيكي بقلم القديس البابا اثناسيوس الرسولي – ترجمة الاستاذة بولين تدري</p>
<p><a href="#_ftnref7" name="_ftn7"></a>٧-    المرجع : كتاب المنجلية القبطية الأرثوذكسية صفحة  211 &#8211; البابا تواضروس الثاني</p>
<p><a href="#_ftnref8" name="_ftn8"></a>٨- المرجع كتاب حياتك تلميذا للمسيح صفحة  80</p>
<p>الانبا ايساك الاسقف العام</p>
<p><a href="#_ftnref9" name="_ftn9"></a>٩-   المرجع : كتاب تاملات وعناصر روحية في احاد وايام السنة التوتية الجزء الاول صفحة  39 – اعداد القمص تادرس البراموسي</p>
<p><a href="#_ftnref10" name="_ftn10"></a>١٠- المرجع : كتاب المواعظ النموذجية الجزء الثاني صفحة 149 – القمص بولس باسيلي</p>
<p><a href="#_ftnref11" name="_ftn11"></a>١١- المرجع : كتاب تاملات روحية في قراءات اناجيل احاد السنة القبطية صفحة 85 – القمص لوقا سيداروس</p>
<p></p>
<p></p>
<p></p>

      {% endcreateArticleAccordions %}
    </section>
  {% endblock %}
  