---
layout: 'layouts/reading.html'
title: 'الأحد الرابع من شهر هاتور'
tags: 'sundays'
permalink: /articles/sundays/3-4.html
---
  {% block content %}
    <section id="readings">
      <ul>
      {% if 'undefined' != 'undefined' %}
      
      {% else %}
      {% if '19.86:12,10' != 'null' %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">العشية</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeVespers '19.86:12,10' '40.17:14-21' %}
          </div>
        </div>
      </li>
      {% endif %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">باكر</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeMatins '19.143:8' '43.20:1-18' '' %}
          </div>
        </div>
      </li>
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <h3 class="flex items-center justify-between">
            <span class="kufi">القداس</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </h3>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeLitugy '46.4:1-16' '61.1:1-8' '44.16:40*@+44.17:1-7' '19.100:3' '41.10:17-31' %}
          </div>
        </div>
      </li>

      {% endif %}
        </ul>
    </section>
    <section id="article">
      <h3 class="mt-8 mb-4 heading-explain">شرح القراءات</h3>
      {% createArticleAccordions %}
        <p></p>
<p></p>
<p>إذا &#8221; إذا كان الغنى ملكا نفيسا في الحياة؛ فأي شيء أغنى من الحكمة صانعة الجميع؟ &#8221; (سفر الحكمة ٥:٨)</p>
<p>&#8221; لا أحد أكبر إثما ممن يحب المال، لأن ذاك يجعل نفسه أيضا سلعة، وقد اطرح أحشاءه مدة حياته. &#8221; (يشوع بن سيراخ ١٠:١٠)</p>
<p>&#8221; إذا ما لازمناه في إنساننا الداخلي فهو يجعلنا أغنياء حتي نعطي آخرين - ليست أموال هذا العالم الزائل التي نطلبها بل خلاص نفوسنا بتلاوة اسمه القدّوس &#8221; إبصالية الأربعاء</p>
<p>&#8221; كيف يقدرون أن يتبعوا المسيح من تثقلوا بأغلال غناهم؟ أو كيف يقدرون أن يطلبوا السماء، ويتسلقون المرتفعات السامية العالية، هؤلاء الذين تثقلوا بالشهوات الأرضية؟ يظنون أنهم يملكون مع أنهم مملوكون، إنهم عبيد لأرباحهم وليسوا سادة على ما لهم<a href="#_ftn1" name="_ftnref1">[1]</a>! &#8221;</p>
<p></p>
<p></p>
<h3>شواهد القراءات</h3>
<p></p>
<p>(مز ٨٥ :٩-١١) ، (مت١٧:١٤-٢١) ، (مز١٤٢ : ٨ )، (يو ٢٠ : ١-١٨) ، (١كو ٤ : ١-١٦) ، (٢بط ١: ١-٨)، (أع ١٦: ٤٠ - ١٧ : ١-٧) ، (مز ٢:٩٩) ، (مر١٠ : ١٧-٣١)</p>
<p></p>
<p></p>
<h3>ملاحظات علي قراءات اليوم</h3>
<p></p>
<p>+ قراءة البولس اليوم (١كو ٤ : ١ - ١٦) هي نفس قراءة البولس للأحد الثالث من شهر بؤونه</p>
<p>وهي القراءة التي تكلَّمت عن الولادة بالإنجيل (موضوع قراءة الأحد الثالث من بؤونه)، وتهيئة القلوب بالكلمة ( الأحد الرابع من هاتور )</p>
<p>+ قراءة الكاثوليكون اليوم (٢بط ١: ١ - ٨) هي نفس قراءة الكاثوليكون للأحد الثاني من بؤونه ، وتُشبه قراءة الكاثوليكون (٢بط ١: ١ - ١١) ليوم ٣ مسري ( نياحة القديس سمعان العمودي )</p>
<p>قراءة اليوم تتكلَّم عن المعرفة الكاملة لربنا يسوع بالفضائل المُتكاثرة ، وقراءات الأحد الثاني من بؤونهعن عظمة الإيمان</p>
<p>أمَّا الآيات الزائدة عن قراءات الآحاد (من ٩ - ١١) تتكلَّم عن الإجتهاد في حفظ الدعوة ( القديس سمعان العمودي )</p>
<p>+ آية ٨ من مزمور باكر اليوم (مز ١٤٢: ٨) تكرَّرت في مزمور قدَّاس الأحد الأوَّل من شهر بؤونه</p>
<p>(عرفني يارب الطريق التي أسلك فيها لأني إليك رفعت نفسي)</p>
<p>الإشارة اليوم إلي قيادة الروح في طريق الحياة وهذا ما يظهر بوضوح أكثر في تكملة الآيات في هذا المزمور (آية ١٠ )</p>
<p>علمني أن أعمل رضاك، لأنك أنت إلهي. روحك الصالح يهديني في أرض مستوية</p>
<p>، أمَّا في الأحد الرابع من شهر هاتور فالإشارة إلي إشتياق الإنسان لمعرفة الطريق مثل الشاب الغني موضوع إنجيل قدَّاس ذاك الأحد</p>
<p>+ قراءة إنجيل قدَّاس اليوم (مر١٠: ١٧ - ٣١) تُشبه قراءة إنجيل باكر (مر ١٠: ١٧ - ٣٠) ليوم ٣٠ برمودة ( شهادة مار مرقس الرسول )</p>
<p></p>
<p></p>
<h3>  شرح القراءات</h3>
<p></p>
<p>هذا الأحد هو أحد المجد والتعويض لمن أحبوا الرب الذين شربوا من مياة الروح (الأحد الأول) وأثمرت حياتهم فيه (الأحد الثاني) وعاشوا في حالة ترك دائم وتخلي اختياري وانقادوا دائما بروح الله ( الأحد الثالث )ليعلن لهم وفيهم مجد وغني التعويض الإلهي ( الأحد الرابع )</p>
<p>تبدأ المزامير باعترافنا بمجده (مزمور عشيّة) واحتياجنا إليه (مزمور باكر) واحتياج كل الكنيسة (مزمور القدَّاس)</p>
<p>لذلك يبدأ مزمور عشية بإعلان المجد الوحيد في حياتنا مجد اسمه القدوس وعجائبه وعظمته (وأمجد اسمك إلي الأبد لأنك أنت عظيم وصانع العجائب أنت وحدك الإله العظيم)</p>
<p>واحتياجنا لمعرفة طريقه الإلهي في مزمور باكر (عرفني يارب الطريق التي أسلك فيها لأني إليك رفعت نفسي) ، وهو سؤال الشاب الغني عن طريق الحياة الأبديَّة في إنجيل القدَّاس</p>
<p>بينما يختم مزمور القداس بأننا خليقته لايوجد مجد من أنفسنا بل مجدنا أننا خلقته وشعبه وغنم مرعاه (أنت أيها الرب الاله خلقتنا وليس نحن ونحن شعبك وغنم رعيتك )</p>
<p>يوضح إنجيل عشية إلي أي مدي وقدرة وإمكانية يمكن أن يعملها إيماننا حتي لو كان مثل حبة الخردل فلا يقف أمامه أي شئ حتي إلي نقل الجبال (فالحق أقول لكم: لو كان لكم إيمان مثل حبة خردل لكنتم تقولون لهذا الجبل إنتقل من هنا إلي هناك فينتقل ولايكون شئ غير ممكن لديكم )</p>
<p>تُعْلِن القراءات سعي الخادم لمجد أولاده ( البولس ) ليختبروا الأمجاد الجليلة في المسيح ( الكاثوليكون ) أعظم من غني العالم وشرفه ومجده ( الإبركسيس )</p>
<p>بينما يوضح البولس أن مجد الخادم الحقيقي لايحدده رأي البشر أيا كانوا بل يأتي من الله رأسا (وأما أنا فأقل شئ عندي أن يحكم في منكم أو من يوم بشرية بل لست أحكم في نفسي أيضا &#8230;.. ولكن الذي يحكم في هو الرب إذن لاتحكموا في شئ قبل الوقت حتي يأتي الرب الذي سينير خفايا الظلام ويظهر آراء القلوب فحينئذ تكون الكرامة لكل واحد من الله) ويعلن أنه كراعي وكأب يفرح بمجد أولاده لكن يعاتبهم بأبوة فائقة (  نحن جهال من أجل المسيح وأما أنتم فحكماء في المسيح نحن ضعفاء وأما أنتم فأقوياء أنتم مكرمون وأما نحن فبلا كرامة &#8230;. ليس لكي أخجلكم اكتب بهذا بل كأولادي الأحباء أؤدبكم)</p>
<p>أما الكاثوليكون فيعلن مجد وغني الروح في الذين أثمرت حياتهم فضيلة ومعرفة وتعففا وصبرا وتقوي ومودة أخوية ومحبة ليس عن استحقاق خاص بل هي الغني والمجد المجاني المذخر في إيماننا وحياتنا في المسيح (  كما أن كل شئ قد صار لنا بقوة لاهوته للحياة والتقوي التي أعطيت لنا مجانا بعرفة الذي دعانا بمجده والفضيلة هذه الأمجاد الجليلة التي أعطيت لنا للكرامة لكي تصيروا بها شركاء الطبيعة الإلهية )</p>
<p>لذلك يعلن الإبركسيس عن قبول الفلاسفة والأغنياء والشرفاء في نظر العالم هذا الإيمان لإعلان إلي مدي سموه عن مجد العالم وبريقه ( فآمن قوم منهم وأحصوا مع بولس وسيلا ومن اليونانيين المتعبدين جمهور كثير ومن النساء الشريفات عدد ليس بقليل )</p>
<p>وبينما حذر إنجيل الأحد الثالث من عدم ترك محبة المال ( فهكذا كل واحد منكم إن لم يترك جميع أمواله لايقدر أن يصير لي تلميذا ) يعلن في إنجيل قداس الأحد الرابع خسارة من تمسكوا بالماديات عن تبعية المسيح ( أما هو فإغتم علي القول ومضي حزينا لأنه كان ذا أموال كثيرة ) وبين من تركوا كل شئ لأجل التكريس الكامل ومجد الله لهم وغني تعويضه الإلهي في حياتهم علي الأرض وغني ميراثهم السماوي ( هانحن قد تركنا كل شئ وتبعناك فأجاب يسوع وقال : الحق أقول لكم ليس أحد ترك بيتا أو إخوة أو أخوات أو أبا أو أما أو إمرأة أو أولادا أو حقولا لأجلي ولأجل الإنجيل إلا ويأخذ مئة ضعف الأن في هذا الزمان &#8230;. وفي الدهر الآتي الحياة الأبدية )</p>
<p>وبينما يعلن إنجيل باكر مجد الإيمان البسيط ( ولايكون شئ غير ممكن لديكم ) يؤكد إنجيل القداس علي هذا المجد لمن يسعون في طريق الكمال ( لأن كل شئ مستطاع عند الله )</p>
<p></p>
<p></p>
<h3>ملخّص القراءات</h3>
<p></p>
<p>لذلك المجد الإلهي يكمن في تمجيد إسم الله والسلوك في طريقة والإنتساب له           ( مزمور عشية وباكر والقداس )</p>
<p>وهو مجد داخلي لايقاس بمعايير البشر                                   ( البولس )</p>
<p>بينما يأتي إليه بشغف كل البشر                                         ( الإبركسيس )</p>
<p>وهو مجد رفعنا إلي أن نكون شركاء الطبيعة الإلهية                   ( الكاثوليكون )</p>
<p>وأعطانا القدرة علي كل شئ                                        ( إنجيل عشيّة وإنجيل القداس )</p>
<p></p>
<p></p>
<h3>إنجيل القداس في فكر آباء الكنيسة</h3>
<p></p>
<p>&#8220;النص لم يصوّر يسوع على أنه أول معلّم للنّاموس، بلْ يُظهِر أنه ربالنّاموس.&#8221; (HILARY OF POITIERS.</p>
<p>&#8220;يأخذ  المخلوق طبيعة الصلاح بقدر ارتباطه بذي الصلاح المطْلَق: الثالوث الأقدس الله الواحد.&#8221; (العلّامة أوريجانوس).</p>
<p>&#8220;حيث يكون هناك سوء في فهْم حقيقة التجسّد، يكون احتمال تراخي الإنسان في عمل الصلاح واردًا. وإلّا لَمَا رفض يسوع تسميته بال&#8221;صالح&#8221; لألّا تكون بمثابة عنوان تجسّده. وماذا رأى فيه الشاب؟ ألعله رأى أنه المانح الحياة الأبديّة، هكذا بالخطأ مسلِّمًا، جاهلاً بأنه هو حقًّا الله المتجسّد؟&#8221; (HILARY OF POITIERS, والقديس جيروم).</p>
<p>&#8220;هذا التسليم غير الصحيح الذي نطق به السائل هو الذي أعطى الردّ هذا الشكل.&#8221; (HILARY OF POITIERS).</p>
<p>&#8220;إنْ كان أحدٌ لا يعترِف بأن المسيح هو الرب فليس له أدنى أحقّية في أنْيعتبره بالخطأ معلّما فقط.&#8221; (القديس جيروم).</p>
<p>&#8220;مَن لا أحد غيره منبع وأَصل كل صلاح، هو الذي يسأل قائلاً: &#8220;لماذا تدعوني {بالتعبير البشري} صالحًا؟&#8221;,&#8221; (العلّامة أوريجانوس).</p>
<p>&#8220;حتمًا يكون الصلاح المطلق هنا لله وحده، والنّسبي هو ذلك الذي تسعى نحوه الخليقة.&#8221; (القديس أغريغوريوس النيزيَنزي).</p>
<p>&#8220;صلاح الله لا مَثيل له فهو فريدٌ، ثابتٌ، حاشى له مِن أنْ يتضاءل.&#8221; (القديس أوغسطينوس).</p>
<p>&#8220;هو وسيط الصلاح الإلهي لتاريخ البشرية.&#8221; (HILARY OF POITIERS).</p>
<p>&#8220;النعمة لا تسيطر على الإرادة قسرًا؛ بلْ تتلاقى وتتّسق مع المشيئة البشرية.&#8221; (القديس إكليمندُس السكندري).</p>
<p>&#8220;لقد مضى الشاب حزينًا؛ لأنه بقي حبيس شهواته الأرضية.&#8221; (القديس أوغسطينوس).</p>
<p>&#8221; قد يدفع الثراء المادي صاحبه لمحبّته محبة شديدة. وبالتالي يكون دخول الأغنياء في الإيمان مِن الصعوبة بمكان.&#8221; (القديس أوغسطينوس).</p>
<p>&#8220;مع ذلك فإن المسيحية لا تدع الأثرياء هكذا يفقدون الأمل؛ كَلّا.&#8221; (القديس إكليمندُس السكندري).</p>
<p>&#8220;إنْ يستطع الغني وهو في أوج ثرائه أنْ ينأى بنفسه عن الرضوخ لسلطان الثراء هذا، وأنْ يحكم نفسه، ولا يرغب في شيء غير الله وحده،يسلمْ مِن جراح ترك المال.&#8221; (القديس إكليمندُس السكندري).</p>
<p>&#8220;كما أن ترك الثروة مطلوب، كذلك مطلوب أيضًا ترك أعز الناس لدينا: ذوي قرابتنا، طالما كانوا يمثّلون عقبة في سبيلنا للخلاص.&#8221; (القديس إكليمندُس السكندري).</p>
<p>&#8220;الذين يسعون إلى حياة الإيمان، الطوباويون الذين نالوا نعمة الإيمان ينالون عطية الشركة في الأسرة الممتدّة الأطراف إلى كل أرجاء المسكونة: أسرة أكبر بكثير مِن عائلاتهم الجسدية التي أنجبتهم.&#8221; (القديس يوحنّا كاسيان)<a href="#_ftn2" name="_ftnref2">[2]</a>.</p>
<p></p>
<p></p>
<h3> الكنيسة في قراءات اليوم</h3>
<p></p>
<p>فاعلية الصلاة والصوم                                             إنجيل عشيّة</p>
<p>وكلاء أسرار الله + مجئ الرب + الأبوّة في الكنيسة         البولس</p>
<p>شركاء الطبيعة الإلهية + باذلون كل إجتهاد                     الكاثوليكون</p>
<p>القيامة من الأموات + الحياة الأبديّة + الوصايا ال.          الإبركسيس + انجيل القدَّاس</p>
<p></p>
<p></p>
<h3>أفكار مقترحة لعظات</h3>
<p></p>
<p><strong>(١) الكمال والمجد</strong></p>
<p>١- مجد النصرة علي الشيطان ( الإيمان والصوم والصلاة ) إنجيل عشيّة</p>
<p>٢- كمال تعب الخادم وحرصه علي مجد مخدوميه ( البولس )</p>
<p>٣- الأمجاد الجليلة وشركاء الطبيعة الإلهية ( الكاثوليكون )</p>
<p>٤- كمال تبعية الرب وترك كل شئ لأجله ومجد تعويضه لهم ( إنجيل القدَّاس )</p>
<p><strong>(٢) مفهوم الفداء بين سؤال وجواب</strong></p>
<p>يسأل الشاب الرب ماذا أعمل لأرث الحياة الأبديّة ؟</p>
<p>وهنا تركيز ومفهوم هذا الشاب يدور حول الأعمال ومدي أهميتها في الميراث الأبدي ودخول الملكوت</p>
<p>جواب الرب أن ليس أحد صالحاً إلَّا الله يُشير إلي أنه إذا كانت الأعمال هي أساس الميراث الأبدي - حسب مفهوم الشاب اليهودي - ولا يوجد شخص صالح إلَّا الله وحده مُطْلَق الصلاح ومصدر كل شئ صالح يُؤهِّل الانسان للملكوت لذلك فالإحتياج لهذا الإله وهذا المُخلِّص مصدر كل صلاح وهو الطريق الوحيد المؤدي إلي السموات لأنه هو وحده مصدر كل عطيّة صالحة (يع ١٧:١)</p>
<p>فيتضمن جواب الرب الإحتياج للمُخلِّص والفادي لأجل تغيير طبيعة الإنسان لكي تثمر حياته بالأعمال الصالحة التي سبق الله فأعدها لكي نسلك فيها (أف ١٠:٢)ي أن الأعمال التي ننال من خلالها الميراث السماوي هي أعمال المسيح له المجد فهو العامل فينا من أجل المسرة ( في   ) وهو الذي يحيا فيَّ (غل ٢٠:٢) والوصيّة أن نكون نوره وملحه (مت ٥ : ١٣-١٤) ورائحته (٢كو ٢ : ١٥) ورائحة معرفته (٢كو ٢ : ١٤) وتُظهر حياة يسوع في جسدنا (٢كو ٤ : ١٠) ويكون هدف خدمتنا أن يتصور المسيح له المجد في من نخدمهم ( غل ١٩:٤ ) ونعيش كسفراء عنه ونكرز بخدمة المُصالحة  (٢كو ٥ : ٢٠)</p>
<p>لذلك كان الجواب الدائم للمسيح له المجد لكل من يسأل &#8221; إتبعني &#8221; أي أنه هو مصدر كل عطيّة صالحة وكل موهبة تامة وكل أعمال أبناء الملكوت ويكون جهادنا في دوام تبعيته.</p>
<p><strong>(٣) المال &#8221; أفضل عبد وأسوأ سيد &#8220;</strong></p>
<p>١- أفضل عبد</p>
<p>+ مال الإكتفاء والإتكال علي الله</p>
<p>&#8221; لتكن سيرتكم خالية من محبِّة المال كونوا مكتفين بما عندكم لأنه قال : لا أهملك ولا أتركك &#8221; (عب٥:١٣)</p>
<p>+ مال الخدمة</p>
<p>&#8221; وأخر كثيرات كن يخدمنه من أموالهن &#8221; (لو ٣:٨)</p>
<p>+ مال العطاء للفقراء</p>
<p>&#8221; ها أنا يارب أعطي نصف أموالي للمساكين .. &#8221; (لو ٨:١٩)</p>
<p>٢- أسوأ سيد</p>
<p>+ مال الإعتداد والإفتخار الكاذب</p>
<p>&#8221; لا تعتد باموالك ولا تقل لي بها كفاية &#8221; (يش بن سيراخ ١:٥)</p>
<p>&#8221; فماذا نفعتنا الكبرياء، وماذا أفادنا افتخارنا بالأموال.قد مضى ذلك كله كالظل وكالخبر السائر.أو كالسفينة الجارية على الماء المتموج، التي بعد مرورها لا تجد أثرها، ولا خط حيزومها في الأمواج. &#8221; (حكمة ٥ :٨-١٠)</p>
<p>+ مال الظلم</p>
<p>&#8221; لا تعتد باموال الظلم فانها لا تنفعك شيئا في يوم الانتقام &#8221; (يش بن سيراخ ١٠:٥)</p>
<p>&#8221; من بنى بيتا باموال غيره فهو كمن يجمع حجارته في الشتاء &#8221; (يش بن سيراخ ٩:٢١)</p>
<p>+ مال الإستعباد</p>
<p>&#8221; لأن محبِّة المال أصل لكل الشرور الذي إذ ابتغاه قوم ضلوا عن الإيمان وطعنوا أنفسهم بأوجاع كثيرة &#8221; (١تي ٦ : ١٠)</p>
<p>&#8221; ايها الموت ما اشد مرارة ذكرك على الانسان المتقلب في السلام فيما بين امواله &#8221; (يش بن سيراخ ١:٤١)</p>
<p></p>
<p></p>
<h3>عظات ابائية</h3>
<p></p>
<h4>كيف يخلص الغني في فكر القديس كيرلس الإسكندري</h4>
<p></p>
<p>كيف يَخلٌصُ الغنيّ؟</p>
<p>أراكم وقد اجتمعت هنا اباجتهاد وغيّرة عظيمين،وكما أظن فإنكم قد جئتكم لتطلبوا لكى تأخذوا ماهولكم..وأنا من جهتى أعترفأنني وعَدْتُ في اجتماعنا أن سأتكلم ما كان ناقصاً فىحديثي،وأنا قد أتيت لأولي ما عليّ لأولادى، متوسلاً إلى المسيح مخلّصنا جميعاً أن يمنح نوره الإلهى لذهنى ويعطى نطقاًللسانى لكيما أنتفع أنا وأنتم معاً. لأن بولس كتب يقول: &#8220;يجب أن الحراث الذى يشتعل يأكل هو أولا من الأثمار&#8221;(٢تى٢: ٦).</p>
<p>لذلك دعوني أولا أن أذكركم بكل ما سبق أن تأملنا فيه، وبعد ذلك نتقدم لنكمّل ما تبقى.</p>
<p>فقد قال الإنجيلي الطوباوي:&#8221;وسأله رئيس قائلا أيها المعلّم الصالح ماذا أعمل لأرث الحياة الأبدية؟ فقال له لماذا ادعوني صالحاً ليس أحد صالحاً إلاّ واحد هو الله وهكذا إلى ما تبقى من الدرس. لقد سبق لنا أن شرحنا معنى هذه الفقرة فىالأنجيل ،وقيل لكم ما فيه الكفاية حول تلك النقطة، لأننا أوضحنا أن الابن صالح بالطبيعة وبالحق مثل ذلك الذى وَلَده ، وأن الجواب: لماذا تدعوني صالحاً؟ ليسأحد صالحاً إلا واحد هو الله، قبل بشكل نسبّي للسائل. لذلك هيّا بنا لنفحص الآيات التي تلي ذلك من الإنجيل.</p>
<p>إذن ،ماذا يقول رئيس مجمع اليهود ؟ &#8220;ماذا اعمل لأرث الحياة الأبدية؟ &#8220;إنه لا يسأل بقصد أن يتعلم، وإلا لكان سؤاله جديراً بكل ثناء ، ولكن قصده هو أن يبرهن أن المسيح لم يسمح لهم أن يحتفلوا يوصل يا موسى، بل بالأحرى قاد تلاميذه وأتباعه إلى قوانين جديدة اشترعها من نفسه، لأن رؤساء اليهود بهذا الادعاء علَّموا الشعب الذى تحت سلطانهم قائلين عن المسيح مخلصنا كلنا: &#8220;به شيطان وهو يهذي، لماذا تستطيعون لهذيله؟&#8221;(يو١٠: ٢٠)، لأنهم قالوا إن به شيطان وهو بهذا، بافتراض أنه أقام شرائعه الخاصة ضد تلك التى أُعطيت لهم من فوق من الله(بواسطة موسى). وبالحري ينبغي أن نؤكد أنهم هم الذين كان لهم شيطان وكانوا يهذون بشدة، لأنهم يقومون رب الناموس، الذى جاء لا لكي ينقّض الوصية التى أعطيت فى القديم بواسطة خدمة موسى، بل لكي يتممها بحسب كلماته هو نفسه (مت٥: ٢٧)، لأنه حوّل الظل إلى حقيقة.</p>
<p>توقع رئيس المجمع أن يسمع المسيح كأنه يقول: &#8220;كُف أيها الإنسان عن كتابات موسى ، تخلّى عن الظل إنها كانت مجرد مثالات وليس أكثر، اقترب بالأحرى من وصاياي التي  فالإنجيل&#8221;. لكنه لم يجبه هكذا، لأنه ميْز بمعرفته الإلهية هدف ذلك الذى يجربه ولكن لأنه ليس عنده وصايا أخرى سوى التي أُعطيت بواسطة موسى، فإنه وجّه الرجل إليها قائلاً له : &#8221; أنت تعرف تلك الوصايا &#8220;.التى فى الناموس وقال له:لا تقتل، لا تزن التشهد بالنور .وما هو الجواب الذى أجاب به هذا المخادع الماكر ومدير المكائد، أو بالأحرى هذا الشخص الجاهل جداً والأحمق؟ لأنهضن أنه حتى ولو كان الذي يسأله هو الله ،فإنه يمكنه مع ذلك أني تملقه بسهولة ليجيّب بحسب رغبته لكن كما يقول الكتاب المقدس: &#8220;الإنسان المخادع لا يربح&#8221;(انظر (ام ١٢: ٢٧)س.</p>
<p>ورغم أنه صوّب سنه بعيداً عن هدفه وفقد فريسته ،لكنه تحاصر على أن ينصب له فخاً آخر ،لأنه قال : هذه كلها حفظتها منذ حداثتى. لذلك فهو يستحق أن يسمع منه هذا الحواب:أيها القريشي الأحمق: &#8220;أنت تشهد لنفسك. شهادتك ليست حقاً&#8221;(يو٨: ١٣)، ولكن لنترك الآن هذا الجدل،ولنرّ بأيّة وصية صدَّالمسيح عدوه اللدود والخبيث،. فبينما كان يمكنه أن يقول :&#8221;طوبى لأنقياء القلب &#8220;(مت٥: ٣- ٨)،فإنه لم يقل له شيئاً من هذا القبيل، لكن لأن الفريسي كان مخبأً للمال وكان غنياً جداً، فقد أنتقل المسيح فى الحال لما سوف يحزنه وقال له: &#8220;بع كل مالك ووزّع على الفقراء فيكون لك كنت فى السماء وتعال اتبعني&#8221;.كان هذا (الكلام) مصدر عذاب وألم لقلب ذلك الإنسان الجشع الذي كان يتباهى بنفسه بسبب حفظه للناموس، وهذا برهّن على أنه هشّ وضعيف أيضا وهو عموماً غير مستعد لتقبّل رسالة الإنجيل الجديدة. ونخن أيضا نتعلّم كن هو حق ما قاله المسيح :&#8221;لا يجعلون خمراً جديدة فى زقاق عتيقة، لئلا تنشق الزقاق الخمر تنصب والزقاق تتلف، بل يجعلون خمراً جديدة فى زقاق جديدة(مت٩: ١٧)،لأن رئيس المجمع برهن أنه ليس زَق عتيق لا يمكنه أن يحفظ الخمر الجديد، بل ينشق ويصير عديم الفائدة ،ذلك لأنه حزن مع أنه نال درساً كان يمكن أن يجعله يربح الحياة الأبديه.</p>
<p>أما أولئك الذين قبلوا فى داخلهم بالأيمان ذلك الذي يجعل كل الأشياء جديدة، أي المسيح، فإنهم لا ينشقون إلى نصفين بنوالهم الخمر الجديدة منه.</p>
<p>لأنهم حينما اقتبلوا منه رسالة الإنجيل التي تبهج قلب الإنسان ارتفعوا فوق الغنى ومحبة المال ،وتوطد ذهنهم فى الشجاعة، ولم يقيموا وزنّا للأشياء الوقتية بل بالأحرى عطشوا إلى الأمور الأبدية، وأكرموا الفقر الاختياري، وكانوا مجتهدين فى محبتهم للإخوة .لأنه كما هو مكتوب فى أعمال الرسل القديسين: &#8220;لأن كل الذين كانوا أصحاب حقول أو بيوت كانوا يبيعونها يأتون الأثمان المبيعات ويضعونها عند أرحل الرسل، فكان يوزَّع على كل أحد كما يكون له احتياج&#8221;(اع٤: ٣٤-٣٥).</p>
<p>أما رئيس المجمع فلأنه كان ضعيفاً جداً فى عزمه ، ولم يستطع أن يسمع لسماع نصيحة بيع مقتنياته ، رغم أنها كانت ستكون لخيره ولها مكافئة جزيلة، فإن ربنا كشف المرض الذى كان يرفض داخل قلب الرجل الغنى وقال :ما أعسر دخول ذوي الأموال إلى ملكوت الله لأن دخول جمل من ثقب أبرع أيسر من دخول غني إلى ملكوت الله&#8221;. ولا يقصد المسيح بالجمل هنا ذلك الخيوان،إنما ذلك الحبل الغليظ، لأنها كانت عادة أولئك المتمرسّون أن يسّدوا الحبل الغليظ جملاً.</p>
<p>لكن لاحظوا أنه لم يقطع تماماً رجاء الأغنياء بل حفظ لهم موضعاً وطريقا للخلاص، لأنه لم يقل إنه مستحيل على الغني أن يدخل بل قال إنه يمكنه إنما بصعوبة.</p>
<p>عندما سنه التلاميذ الطوباويون هذه الكلمات اعترضوا قائلين: فمن يستطيع أن يَخلُص؟ وكان احتجاجهم لصالح أولئك الذين لهم أموال ومقتنيات، لأنهم (التلاميذ) كانوا يقولون: إننا نعرف أن لا أحد سيقتنع بأن يتخلّى عن ثروته وغناه فمن يستطيع أن يَخلُص؟ لكن بماذا أجاب الرب؟&#8221;غير المستطاع عند الناس مستطاع عند الله&#8221;. لذلك فقد احتفظ لأولئك الذين يقومون ثروات بالإمكانية أن يُحسبوا مستحقين لملكوت الله لوأرادوا، لأنه حتى لو كانوا يرفضون كلية التخلّي عما هو لان، لكن يمكنهم أن يبلغوا تلك الكرامة بطريقة أخرى. والمخلّص نفسه أظهر لنا كيف وأبى طريقة يمكن أن يحدث هذا إذ قال:&#8221;اصنعوا لكم أصدقاء بمال الظلم حتى إذا فنيتم يقبلونكم فى النزال الأبدية&#8221;(لو١٦: ٩) لأنه لا يوجد شئيمنع الأغنياء لو أرادوا أن يجعلوا الفقراء شركاء ومقاسمين لهم فى الغنى الوافر الذي يمتلكوه. ما الذي يعيق من له مقتنيات وافرة من أن يكون لطيف المعشر ومستعد أن يوزّع على الآخرين مسرعاً إلى العطاء، وأن يكون رؤوفاً وممتلئاً بالك الشفقة الكريمة التى ترضى الله. إننا سوف تجد أن الحرص على تتمّيم هذا العمل ليس هو بلا  كافأ هولا عديم النفع ،لأنه مكتوب :&#8221;الرحمة تفتخر على الحكم&#8221;(يع٢: ١٣).</p>
<p>لذلك فإن مخلّصنا وربنا كلنا يعينا ما يفيدنا بكل حجة وبالطريقة، الذى به ومعه لله الآب التسبيح والسلطان مع الروح القدس إلى أبد الآبدين آمين<a href="#_ftn3" name="_ftnref3">[3]</a>.</p>
<p></p>
<p></p>
<h4>عبودية للمال وحرمان من خدمة الله عند القديس يوحنا ذهبي الفم</h4>
<p></p>
<p><strong>١-&#8221; لا يقدر أحد أن يخدم سيدين ، لأنه إما أن يُبغض الواحد ويُحب الآخر ، أو يُلازم الواحد ويحتقر الآخر &#8220;( ع ٢٤) .</strong></p>
<p>أترون كيف يتدرج في إبعادنا عن الأمور التي لدينا الآن ، ويُقدَّم ما يريد قوله علي فترات طويلة ، فيتحدث عن الفقر الاختياري أو الإرادي ، ويطرد سلطان شهوة الجشع ، لأنه لم يكتف بما قاله قبلاً ، رغم كثرته وعظمته ، بل يضيف أيضاً أقوالاً أخري ، كإنذارات مزيدة .</p>
<p>لأنه ماذا يكون أكثر إنذاراً مما يقوله الآن ، إن كنّا نحن حقاً وبسبب غنانا وثرواتنا نبتعد عن خدمة المسيح ، أو ما الذي يمكن أن نشتهيه أكثر ، إن كنّا حقاً باحتقارنا للثروة نوجه حُبنا وعواطفنا إليه ، لتصبح محبتنا له كاملة ، وأعود فأكرر وأقول نفس الشيء ، إنه يضغط علي السامع بكلا الوسيلتين ليطلع كلامه ، وكطبيب ماهر للغاية ، يشير إلي المرض الناجم عن الإهمال ، كما يشير إلي الصحة الناتجة عن الطاعة .</p>
<p>تأملوا مثلاً ، نوع الربح المشار إليه وميزته بأن يتخلص من أمور مضادة ، فيقول الرَّب : إن الثروة لا تؤذيكم في هذا فقط ، بل هي تثير اللصوص ضدكم أيضاً ، وتعتم ذهنكم إلي أقصي حد ، وتقصيكم عن خدمة الله ، فتحولكم إلي أسري ثروات ميتة ، وهي في كلا الحالتين تضركم ، فهي من جهة تجعلكم عبيداً لا أسياداً يأمرون الآخرين ، ومن جهة أخري تطرحكم بعيداً عن خدمة الله الذي يجب خدمته قبل الجميع .</p>
<p>ومثلما أشار في موضع سابق عن مضاعفة سوء التدبير حيث &#8221; يفسد السوس &#8221; هنا علي الأرض ، بينما لا يحدث هذا هناك ، حيث الحراسة منيعة لا يمكن اختراقها ، هكذا هنا أيضاً ، يظهر مضاعفة الخسارة عندما نبعد عن الله ، وتجعلنا الثروة عبيداً لمال الظلم (mammon) . لكنه لا يعرض الأمر مباشرة ، بل يؤسس تعليمه علي اعتبارات عامة ، قائلاً :&#8221; لا يقدر أحد أن يخدم سيدين &#8221; . وهو يتحدث عن أمرين متناقضين لأنه لو لم يكن هناك تضاد ، لما تحدثت عن اثنين ، بعكس ما قيل :&#8221; كان لجمهور الذين آمنوا قلب واحد ونفس واحدة &#8220;(أع ٤: ٣٢) ، فرغم أنهم منقسمون إلي أجساد عديدة إلا أن اجتماعهم واتفاقهم قد جعل الكثيرين واحداً</p>
<p>وإذ يريد الرب أن يدعم شرحه يقول إن من يخدم سيدين ، يكره ويبغض ، بدلاً من أن يخدم ، &#8221; لأنه إما أن يبغض الواحد ويحب الآخر ، أو يلازم الواحد ويحتقر الآخر &#8221; . موضحاً أن التغيير للأفضل أمر سهل ، لئلا يقول قائل :&#8221; لقد صرت عبداً إلي غير رجعة ، لقد أصبحت تحت سيطرة الثروة &#8221; ، مؤكداً أن الإنسان يمكنه التغيير من حال إلي حال .</p>
<p><strong>٢- محبة المال لا الغني ذاته</strong></p>
<p>وكما ترون ، وإذ يتحدث بشكل عام ، ليقنع سامعه أن يكون قاضياً نزيهاً علي كلمات السيد الرب ، وأن يحكم حسب طبيعة الأشياء ذاتها حين يتيقن من صدقه ، حينئذ وليس قبل هذا الوقت يكشف السيد نفسه قائلاً :&#8221; لا يمكنكم أن تخدموا الله والمال &#8220;[ع٢٤] .</p>
<p>فلنرتعد ونحن نتأمل هذا الأمر ، ونفكر ما الذي جعل المسيح يقول ذلك ، وكيف يضع المال مع اسم الله ، لكن إن صدمنا هذا الأمر ، فإن حدوثه في أعمالنا وتفضيلنا لطغيان الذهب علي مخافة الله ، هو أمر يصدم أكثر بكثير ، ماذا إذن ؟ ألم يكن هذا ممكناً بين القدماء ؟ أجل دون شك ، ورُب قائل : كيف حصل ابراهيم إذن علي شهرة طيبة ؟ وكيف نالها أيوب ؟ لا تخبرني عن الأغنياء ، بل عن الذين يخدمون المال والثروات ، فإن أيوب كان غنياً ، ولكنه لم يخدم مال الظلم ، بل تملَّك عليه وتحكم فيه ، وكان سيداً لا عبداً ، لهذا اقتني كل شيء وكأنه وكيل لأملاك شخص آخر ، وهو لم يكن يسلب الآخرين ، بل كان يعطي المحتاجين من ماله الخاص ، والأكثر من ذلك ، أنه حين توفرت لديه الثروات لم تكن مصدر فرحه ، &#8221; ما فرحت إذ كثُرت ثروتي &#8220;( أي ٣١: ٢٥) ، ولهذا أيضاً لم يحزن حين ضاعت ثروته .</p>
<p>لكن أغنياء هذه الأيام ليسوا مثل أيوب ، بل بالحري هم في حال أسوأ من حال العبيد ، وكأنهم يدفعون الجزية لطاغية جبَّار ، وكأن ذهنهم قلعة مشغولة بمحبة المال ، تبعث إليهم بأوامرها من هناك يومياً ، ملآنة إثماً ، ولا يقوي أحد علي مُخالفتها .</p>
<p>لهذا لا تكونوا معاندين بزيادة ، لأن الله أعلن مرة وإلي الأبد ونطق أنه من المستحيل علي الإنسان أن يوفق في خدمة سيدين ، فإن قلتم لا بل هذا ممكن ، فلماذا تقولون ذلك وأحد السيدين يأمركم أن تسلبوا حقوق الآخرين بالعنف ؟ بينما يطالبك السيد الآخر أن تُجرد نفسك من محبة المقتنيات ، الأول يطالبك أن تكون عفيفاً ، والثاني أن تكون سكيراً مترفاً ، واحد يأمرك أن تحتقر الموجودات ، بينما يجذبك الآخر إلي الأمور الحاضرة . واحد يأمرك أن تحتقر المصنوعات الرخامية والحوائط والأسقف ، والآخر أن تعجب بها . فكيف لهذين الاثنين أن يتفقا ؟</p>
<p>إنه يدعو هنا مال الظلم بالسيد ، لا بسبب طبيعة المال ، بل بسبب تعاسة الذين ينحنون أسفله ، وهكذا أيضاً يدعو البطن إلهاً    (في ٣: ١٩) ، ليس بسبب كرامة هذا العضو ، بل بسبب بؤس المستعبدين للبطون والأكل ، وهو أمر أسوأ من أي عقاب ، وهذا يكفي ، أنه قبل حلول العقوبة ينهمك بطريق الانتقام ، لأن حال المجرمين المدانين حال سيئ ، الذين إذ كان الله لهم رباً ، بسبب توافه الأمور يهجرونه إلي طغيان المادة الخطير ، فيجلب عملهم عليهم منتهي الأذي ، هنا في الزمان الحاضر ، فيعانون من القضايا والانتهاكات والمضايقات والأتعاب ، التي تعمي النفوس وتكون خسارتهم فائقة ، والأخطر من ذلك كله ، أن يفقد الإنسان البركات الثمينة ، وأعظمها بركة خدمة الله<a href="#_ftn4" name="_ftnref4">[4]</a> .</p>
<p></p>
<p></p>
<h4>الأنبا شنوده رئيس المتوحدين وعلاقته بالمجتمع</h4>
<p></p>
<p>تمثل الرهبنة في أديرة الأنبا شنودة طفرة في علاقة الرهبنة بالمجتمع بوجه عام. فبالرغم من وجود ثمة علاقة بين الرهبان وأفراد المجتمع في وقت سابق، حيث كان يقوم البعض بزيارة مشاهير الرهبان لطلب النصح والمعونة والشفاء، أصبح لهذه العلاقة شكلاً آخر في عصر الأنبا شنودة رئيس المتوحدين. كان الأنبا شنودة مهتمًا بالمجتمع المحيط به، مدركًا لمشاكله واحتياجاته المادية والأخلاقية. حاول أن يعينهم على متاعب الحياة وما يلم بهم بين الحين والآخر من ضيقات مالية. بذل جهدًا كبيرًا في محاربة آفات عصره الأخلاقية، وساند المظلومين ضد ظالميهم. كان يعتبر نفسه مسؤلاً عن هؤلاء، ويسمي نفسه &#8220;خادمهم الأمين&#8221;. كان المجتمع وقتذاك مجتمعًا إقطاعيًا، لا يعترف إلا بسطوة المال وجاه السلطة. كذلك أدرك العامة من الناس محبة هذا الرجل لهم، وحرصه على مصالحهم، فتوافدوا إليه، والتفوا حوله، مما زاد من قوته واعتداده بنفسه أمام كل ذي مال وجاه. اسمعه يخاطب أحد هؤلاء الإقطاعيين، والذي كان في السابق حاكمًا لإحدى المقاطعات، فيقول له في ثقة وقوة واعتداد: &#8220;ليس عندما يعوي الذئب، الذي هو أنت يا عبد الشيطان، ويصيح بأصوات مرتفعة، يخاف الأسد، الذي هو أنا، عبد المسيح&#8221;. لذلك جاءت أيضًا عظاته تعبيرًا عن شكل هذا المجتمع واحتياجاته. لم تكن عظاته موجهة فقط لرهبانه، بل لكل زوار الدير. كانت مجتمعه يعج بالمظالم الاجتماعية كاستغلال بعض الأغنياء لحاجة الفقراء للعمل والقوت، فيقومون باستهلاك جهدهم في مقابل القليل من المال، الذي لا يسد رمق ولا يفي بحاجة.</p>
<p>إن المظالم التي كان يتعرض لها المصريون من كثرة الضرائب وقلة الدخل المادي، والتي وردت في شكل قصص واقعية في سيرة الأنبا شنودة، قد أثبتتها المصادر التاريخية من نصوص البردي وغيرها. كذلك فإن عظات الأنبا شنوده نفسه لهي أوثق شهادة على ذلك. كان كثيرًا ما يعدد هذه المظالم ويواجه بها أصحابها ليردعهم عن فعلها. ونحن هنا نسوق أمثلة على ذلك من إحدى عظاته، يبين فيها ما كان يمارسه أولئك الإقطاعيون من ظلم واضطهاد ضد الفقراء: &#8220;أليس هو نوع آخر من الإضطهاد هذا الذي تمارسونه ضد الناس، خاصة كهنة الكنيسة، حتى تطردونهم من بيوتهم، حتى في ذلك الوقت أيضًا حيث هذه المصائب الكبيرة على الأرض؟ تذهبون إلى ديارهم فلا يوجد فيها أطفال أو آباء أو أحد البتة لأنهم هربوا، فتحملون دوابهم وعرباتهم وقشهم وتأخذونها إلى مزارعكم، وتجبرونهم على جر السواقي فوق طاقتهم &#8230; أنتم مثلاً تذبحون العجل لديكم إذا كان يحتضر أو إذا أصبح منبوذًا لا فائدة منه لعملكم، ثم تقطعونه قطعة قطعة كما يحلوا لكم، وتلقون بها إليهم، حتى إلى الأرامل والعجائز والأيتام والغرباء، ثم تطالبونهم بثمن يفوق قيمته حتى تجمعوا ثمن العجل مضاعفًا، ثمنًا للحم سيئ ليس سوى عظم وأشياء عديمة القيمة &#8230; كذلك أنتم تجمعونهم ليحرسوكم فوق المراكب عندما تهربون من وجه البربر. ألا يتعقبهم البربر هم أيضًا، بينما نساءهم وأطفالهم ومتاعهم المتهالك على دوابهم وعرباتهم عندما يهربون من ديارهم إلى أماكن أخرى لينجوا بأنفسهم؟ ولهذا يقوم الكثيرون منهم باستئجار رجال بأجرهم ويرسلونهم لحراستكم. أما أنتم فلا تكتفون بذلك، بل تزيدون من ظلمكم (لهم).&#8221;</p>
<p>كان العدل هو المبدأ الأساسي عند الأنبا شنودة لإقامة مجتمع متزن. فكثيرًا ما يردد في عظاته كلمة العدل، ويعمل على تحقيقه ويطالب الآخرين به، فيقول في عظة &#8220;مبارك هو الله&#8221; أنه علينا أن &#8220;نحكم بالعدل إن استطعنا، بدلاً من أن نكون منافقين، وأن نعين المظلوم إن كان لنا السلطان&#8221;. كان يستعين على ذلك بتذكير هؤلاء الأغنياء بقصاص الله العادل منهم، إن هم تمادوا في ظلم الفقير. كان يؤكد لهم أن الله سيتعامل معهم بنفس الطريقة التي يعاملون بها الفقراء، فيقول لمثل هؤلاء: &#8220;هل صممت أذنيك لكي لا تسمع الفقير، أو حولت عينيك لكي لا تتصدق عليه أو تحكم له بالعدل؟ أيضًا سيصم الله أذنيه لكي لا يستجيب عندما تصرخ إليه أثناء حياتك على الأرض&#8221;. كان ينادي بذلك، ويحذر من العاقبة، قائلاً: &#8220;عليكم أن تشفقوا على الفقراء. أحكموا بالعدل بين الإنسان وجاره. تباعدوا عن الغضب وكل شر، وارجعوا عن سخطكم إن صادفتم عبيدكم والفقراء&#8221;. ثم يخاطب النفس التي تصنع الظلم في عبارة رائعة للغاية ومؤثرة جدًا، جاعلاً تحقيق العدل أو العدالة من الأسباب التي خُلِقَت كل نفس من أجلها ، فيقول لها: &#8220;لقد تناسيتِ البر (العدل) الذي خُلِقْتِ من أجله&#8221;.</p>
<p>وفي عظة أخرى يوصي الأغنياء بالفقراء خيرًا، ويردد في عبارات مؤثرة للغاية، قائلاً: &#8220;وأنتم أيها الأغنياء الجالسين ههنا، ألا ترون دموع الفقراء تسيل على وجناتهم؟ ها أنكم تبكون من (فرط) تأثركم. أنت ترونني أنا أيضًا، كيف أنني حزين القلب (من أجلهم). والآن اعتنوا بهم في محبتكم للبشر، واحملوا همهم في كل بر وحكم عادل، واحفظوا أنفسكم أن تظلموهم كمن يحفظ حدقة عينه، لكي تطويبكم الكلمة المكتوبة: &#8220;طوبى للذي ينظر إلى الفقير والمسكين. في يوم الشر ينجيه الرب&#8221;.</p>
<p>كذلك كان يعتبر الظلم – وهو نقيض العدل – أسوأ خطية يمكن أن يصنعها الإنسان ضد الإنسان. فالظلم عنده أشد إثمًا من الزنى، والظالم أكثر شرًا من الزاني، فيقول على سبيل المثال: &#8220;هل يوجد أشر من الإنسان الذي يدنس جسده ويلوثه مع امرأة ليست له، أو مع بهيمة، أو يدنسه بأي وسيلة قذرة أخرى؟ ولكن الأشر (منه) هو من يظلم إنسانًا.&#8221;</p>
<p>لم يقف دور الأنبا شنودة في خدمة مجتمعه على الوعظ والكلام، بل امتد للفعل والبذل من أجله. فذات مرة هجمت القبائل النوبية على بعض القرى بالقرب من أخميم ونهبوها، ثم ساقوا سكانها أسرى وسبايا. فما كان من الأنبا شنودة إلا أن ذهب إليهم وتفاوض مع رئيسهم أن يطلق سراح الأسرى على أن يحتفظ بما نهبه من أموال. لم يكتف الأنبا شنودة بهذا، بل اصطحب هؤلاء الأسرى إلى ديره حيث اعتنى بهم وقدم لهم المأكل والملبس، وقدم الدواء للمصابين منهم، حتى استقرت أحوالهم وأطلقهم إلى بيوتهم. كان عددهم يزيد عن عشرين ألف شخص قام الدير بتوفير احتياجاتهم لمدة ثلاثة أشهر، وقام رهبانه فيها بخدمتهم ورعايتهم. تم استئجار سبعة أطباء لمداوة جروحهم وتقاضوا خمسمائة ألف دراخما. وفي أثناء هذه المدة توفى من هؤلاء اللاجئين أربعة وتسعون شخصًا تم دفنهم في مقابر الدير، وولد إثنان وخمسون طفلاً. كان الدير ينفق أثناء هذه الفترة خمسة وعشرين ألف دراخما أسبوعيا على شراء الخضروات، بالإضافة للخضروات المزروعة في حقول الدير. لم يكن ذلك بالأمر السهل، فبرغم هذه المساعدات التي قدمها الدير كان هناك من يتذمر على ما يُقَدَّم له من أكل وشرب وغيره، فيقول الأنبا شنودة في عظة &#8220;مبارك هو الله&#8221;، والتي ألقاها أثناء تواجد هؤلاء اللاجئين في الدير: &#8220;ألستُ أعرف إنسانًا ما قال: لن أستطيع أن أنام في هذا المكان بدون سرير ولن أستطيع أن آكل، ولن أستطيع أن أشرب ماءًا ما لم أجد ما اعتددت أن آكله وما اعتددت أن أشربه&#8221;؟ ولم يقولوا ذلك بسبب مرض أو ضعف، بل بسبب محبة راحتهم&#8221;. ومع ذلك فلم يحاول الأنبا شنوده تعنيفهم أو طردهم من الدير، وألتمس لهم العذر، قائلاً: &#8220;أنا لم أدن الذين يفعلون هذا وقت أن فعلوه، فضعفتانا تحاربنا كلنا&#8221;.</p>
<p>لم يقتصر جهاد الأنبا شنودة فقط على محاربة الظلم والاستغلال، بل إمتد ليشمل الإيمان بالخرافات واللجوء للسحر والشعوذة وغيرها من مظاهر الجهل التي كانت منتشرة في عصره. لقد تفشت هذه العادات أحيانًا عند بعض الجهلة من الرهبان ورجال الإكليروس. كان البعض يعتقد في الطالع وما يجلب الحظ أو النحس. كانوا يذهبون للعرافين والسحرة باحثين عن حلول لمشاكلهم. هذا ما يذكره الأنبا شنودة في إحدى عظاته، قائلاً: &#8220;أما إذا افتقروا في وقت الضيق أو أصيبوا بالمرضاة أي تجارب أخرى فإنهم يتركون الله، ويهرولون نحو السحرة وأماكن العرافة ويعودون للأعمال الخادعة، كما رأيت بنفسي رأس الأفعى مربوطة في يد البعض، وسن التمساح مربوط في ذراع آخر، وحوافر ذئب مربوطة في أرجل آخر، ناهيك عن أحد الرؤساء الذي يدعو نفسه حكيمًا، لما عنفته قائلاً: &#8220;هل حوافر الذئب هي التي ستبرئك؟&#8221; قال: &#8220;إن راهبًا عظيمًا هو الذي أعطاها لي قائلاً: اربطها وسوف تشعر بالراحة&#8221; .اسمعوا هذا الفجور، حوافر ذئب ورأس أفعى وأسنان تمساح والعديد من الأشياء الباطلة الأخرى التي يضعها الناس على أنفسهم قائلين أنها ستريحهم، تاركين آخرين يضلونهم، كذلك يضمخون أنفسهم بالزيت ويسكبون الماء على رؤوسهم مما يأخذونه من العرافين والسحرة &#8230; لماذا وبخ إيليا النبي اسرائيل في ذلك الزمان قائلاً: &#8220;حتى متى تعرجوا بين الفرقتين؟ إن كان الرب هو الله فاتبعوه، وإن كان البعل فاتبعوه&#8221;، هكذا أيضًا الذين يفعلون هذا أو يتركون تلك (نقول لهم): حتى متى تعرجوا بين الفرقتين؟ إن كانت أماكن عرافة الشياطين والمعزمين والسحرة وكل من عداهم ممن يفعلون الإثم يُجدُونكم نفعًا فاذهبوا وراءهم حتى تأخذوا لعنة على الأرض وعذابًا أبديًا في يوم الدينونة، أما إذا كان بيت الله – الكنيسة – هو الذي ينفعكم فامضوا إليه<a href="#_ftn5" name="_ftnref5">[5]</a>.</p>
<p></p>
<p></p>
<h4>وأى كمال تصل اليه لا تقف عنده. بل تسعى من جديد فى مرحلة أخرى نحو الكمال كأنها سوف تبدأ سعيها من جديد للقديس غريغوريوس النيسي :</h4>
<p></p>
<p>محاجىء ( شقق ) الصخر :</p>
<p>(ياحمامتى من محاجىء الصخر الى ستر المعاقل ) (نش ٢ : ١٤)</p>
<p>فى هذا النص تصعد النفس الى درجات عليا من الكمال ، يجب ألا نغفل عن الأشياء التى تجذبنا وتقود أشواقنا نحو الكمال . وكأن الله يقول للنفس تعالى بحريتك وبدون حزن أو ضغط ولكن تقوى بشوقك نحو البر وبرغبتك الخاصة وبدون أى ضغط أخر لان السلوك فى الكمال يجب ألا يجبر عليه أى أحد بل نسعى اليه بحريتنا بعيدا عن أى ضغط وهكذا سلك رجال الله القديسون فى الطريق الالهى .</p>
<p>وهكذايجب على كل نفس أن تسعى نحو الكمال بالرغبة الدائمة للسعى نحو التقدم والصعود . وكلما تصنع تقدما . فانها ستأتى الى الصخرة التى فى ستر المعاقل . ومعنى محاجىء الصخر هو عظة رسالة الأنجيل . لأنه حينما نأتى الى الأنجيل فاننا تأتى الى الصخرة أما الناموس والوصايا فى العهد القديم فهى مثل الحائط الذى يجلب ظلا والظل معناه الرمز للأشياء التى سوف تأتى ولكننا لن نبقى كثيرا فى ظل هذا الحائط ولذلك يجب أن نتحول من الحائط الذى هو المعاقل (العهد القديم ) الى الصخرة التى هى الأنجيل والصخرة ليست بعيدة عن المعاقل . لأن العهد القديم مخبأ فيه العهد الجديد وموجودة فيه الحكمة والرموز والمعنى الواحد مترابط فى كل منها لأن وصية لا تزن قريبة اليها جدا وصية لا تشته . ووصية لا تغضب والموجودة فى العهد الجديد موجودة فى وصية لا تقتل الموجودة فى العهد القديم . وهكذا فان الصخرة (العهد الجديد ) قريبة جدا من الحائط ( أى العهد القديم ) .</p>
<p>فى كلا العهدين توجد ذبائح دم فى العهد القديم فى ذبائح الحيوانات ودم الرب يسوع فى العهد الجديد . فصح الخروف فى العهد القديم وفصح أخر فى العهد الجديد ولكن الصخرة روحية أما الحائط فجسدى . الحصن يشير الى الهيكل المصنوع من التراب بينما صخرة الأنجيل لا يوجد لها أى معنى جسدى . وفى العهد الجديد يتقدس بالنعمة والأسرار ويحفظ السبت ولكن بوسيلة روحية وليست مثل الوسيلة المادية فى العهد القديم فهو يقدس السبت فى العهد الجديد بمعنى الأمتناع عن الخطية وعدم الكف مطلقا عن فعل الخير والفضيلة لأنه تعلم أن يصنع الخير فى السبت . وفى العهد الجديد تعلم الانسان أنه لن يتنجس من أكل بعض أنواع اطعمة لأنه قد تعلم من الأنجيل أنه لا شىء يدخل الفم ينجس الانسان .</p>
<p>ان الأنجيل يرفض الوصايا الجسدية التى فى الناموس ويترجم الكلمات التى فيها الى معان روحية عالية وفقا لكلمات الرسول بولس &#8221; فأننا نعلم أن الناموس روحى &#8221; (رو ٧ : ١٤) والذى يسمو فوق الناموس &#8220;ستر المعاقل يصل الى الأنجيل محاجى الصخرة &#8221; ولكن هناك ترابط بين العهدين القديم والجديد</p>
<p><strong>انسى ما هو وراء :</strong></p>
<p>ان العناية الالهية قد قسمت الخليقة الى نوعين : الأول هو الخليقة المادية وهى تلك التى تراها بالحواس والأخرى هى روحية غير مادية . الخليقة المادية ندركها بحواسنا المادية لأن كل شىء مادى تحده الكمية والنوعية ،وفى ادراكنا لنوع الشىء وكميته يوجد دائما حدود لأهميته وعظمته فى الشكل والمظهر . أما الخليقة الروحية غير المادية فهى بلا حدود وبلا نهاية وندركها بحواسنا الروحية وعلى رأسها يوجد الله الخالق الأبدى غير المتغير والذى هو فوق كل سمو وفوق كل كمال وفوق كل نقصان أو زيادة .</p>
<p>ثم تأتى بعد ذلك الخليقة الروحية التى تتغير للأفضل فى نموها نحو الكمال . وهى خليقة تنظر دائما الى هدفها وهو الله الذى وجدت من أجله وهى تنمو وتسمو بلا حدود ولا نهاية لهذا السعى نحو الكمال . وأى كمال تصل اليه لا تقف عنده . بل تسعى من جديد فى مرحلة أخرى نحو الكمال كأنها سوف تبدأ سعيها من جديد ، وهذه هى كلمات بولس الرسول التى تعبر عن ذلك &#8221; ولكنى أفعل شيئا واحدا اذ أنا أنسى ما هو وراء وأمتد الى ما هو قدام &#8221; (في ٣ : ١٣) لأن فى كل قامة تصل اليها النفس وتسعد بها تنسى ما وصلت اليه وتسعى الى ما هو أعظم منها فى البر والكمال ، وفى تمتعنا ننسى كل ذكر للأمور الأرضية ، وهذا هو ما نتعلمه من عروس النشيد التى تنمو فى شركتها مع العريس باستمرار<a href="#_ftn6" name="_ftnref6">[6]</a></p>
<p></p>
<p></p>
<h4>الاغنياء للقديس باسيليوس الكبير</h4>
<p></p>
<p>لا تخشى إذا اغتنى إنسان، إذا زاد مجد بيته&#8221; (مز ٤٨ : ١٦) ( LXX).. هذا الإعلان ضروري لسكان العالم، سواء للأرضيين earthborn أو لبني البشر، للأغنياء كما للفقراء أيضًا. &#8220;لا تخف عندما يغتني إنسان&#8221;، يقول: عندما ترى الظالم صار غنيًّا والبار فقيرًا، لا تخف على نفسك. لا يفزع ذهنك، كما لو كانت عناية الله لا تتطلَّع إلى الشئون البشرية، أو أن السهر الإلهي يمتدُّ إلى بعض الأماكن، وليس إلى كل الأرض، لكي يرعى شئوننا. إن كانت توجد عناية إلهية، لكانت تمتد إلى كل إنسانٍ بما يناسبه. فالأبرار الذين يفهمون كيف يستخدمون الثروة يصيرون أغنياء، والأشرار الذين يستخدمون الثروة كأداة لشرِّهم يلزم أن يكونوا فقراء.</p>
<p>الآن، حيث يوجد كثيرون في الأمم وبين الأرضيين الذين لهم مثل هذه المفاهيم، وبسبب التناقض الواضح في توزيع الثروات للحياة، يظنُّون أن العالم ليس من عمل العناية الإلهية.</p>
<p>يُوَجِّه الكتاب المقدس حديثه إليهم، لكي يُهَدِّئ من انفعالاتهم غير السليمة في البداية عينها. يدعوهم أن ينصتوا إلى التعاليم. بالتأكيد، تشير على وجه الخصوص فقط إلى الشخص الفقير، عندما تقول: &#8220;لا تخشى إذا اغتنى إنسان&#8221;. هؤلاء على وجه الخصوص يحتاجون إلى تعزية، ألا يرتعدوا أمام أصحاب السلطان. إذ تقول إن الإنسان الغني ليس لديه ميزات عند موته، إذ لا يستطيع أن يأخذ ثروته معه. على أي الأحوال، إنه يحسب أن كل ما يقتنيه هو التمتُّع بها، إذ تظن نفسه أنها سعيدة في هذه الحياة بواسطة المُتملِّقين له. أما عند موته فلا يأخذ كل تلك المقتنيات.</p>
<p>تقول: إنه يأخذ فقط الثوب الذي يستر به عاره، وهذا كما يبدو أفضل ما يُقَدِّمه له أهل بيته عندما يُغَطُّونه. يلزمه أن يكون راضيًا أن ينال قطعة أرض صغيرة يُقَدِّمونها له إذ يحنو عليه الذين يدفنونه، يقدمونها إليه من أجل تكريم الطبيعة البشرية بوجه عام، وليس كامتيازٍ خاصٍ به، بل لتكريم البشرية.</p>
<p>إذن لا تضطربوا من أجل الأمور الحاضرة، إنما انتظروا تلك الحياة المُطوَّبة. فإنكم سترون أن ما يحلّ بالبار من فقرٍ وإهانة وحرمان من الترف، إنما هو لصالحه. لا تضطربوا الآن، من جهة ما تحسبونه خيرات، أنها توزّع كما بطريقة غير عادلة. ستسمعون كيف سيُقَال لغنيٍ ما. &#8220;إنك استوفيت خيراتك في حياتك&#8221; (لو ١٦ : ٢٥). أما للفقير فقد حَلَّت به بلايا في هذه الحياة، لذلك فالأخير يتعزَّى والأول يتعذَّب.</p>
<p>&#8220;وسيحمدك إذا أحسنت إليه&#8221; ( مز ٤٨ : ١٨)…LXX. بالنسبة للإنسان الأرضي وذاك الذي يظن أن الخيرات هي الميزات التي في هذه الحياة من ثروة وصحة وسلطة خاصة به. بالحقيقة مثل هذا الإنسان يحمد الله عندما ينفرد بأمورٍ حسنة، ولكن في الظروف الخطيرة ينطق باللعنات&#8230; هكذا أيضًا بالنسبة للاتهامات التي وَجَّهها الشيطان ضد أيوب (أي ١: ٩) ، وهي أن أيوب لم يكرِّم الله مجانًا، إنما نال مكافأة عن تقواه: الغِنَى وكل بقية الممتلكات. لذلك لكي يبرهن على فضيلته سحب الله كل ما لديه لكي يكون شكر الإنسان نحو الله مشرقًا خلال كل شيء</p>
<p>وأيضا من يشوع بن سيراخ اصحاح ٣٢</p>
<p>ما الصعب والمؤلم أو المستحيل في قول الرب: &#8220;بع ما عندك وأعطه للمساكين&#8221;. لو أنه كلَّفك أن تحرث الأرض أو تخاطر في التجارة، وتتحمَّل ما يتبع ذلك من جهودٍ، لفهمت ما يعتريك من الحزن، لكنه يعرض عليك الحصول على السعادة الأبدية، بطريقة سهلة وبدون عمل أو عرق، فلماذا لا تُسرّ بسهولة الخلاص، بدلا من التحسُّر وتعريض نفسك لفقدان الأجر على عملك؟</p>
<p>فإذا كنت لم تقتل حقًا كما تقول، ولم تسرق، ولم تشهد زورًا، فإنك تجعل كل جهودك باطلة، حين لا تضيف إلى ذلك ما يمكنه أن يفتح لك ملكوت الله. لو تَقَدَّم إليك طبيب ليصلح لك عضوًا من أعضائك، فإنك لا تتردَّد، بل تَقْبَل ذلك بطيب خاطرٍ، فلماذا تحزن وتتضايق حين يتقدَّم إليك طبيب النفوس، وهو يريد أن يُصَيِّرَك كاملًا بأن تضيف إليك ما ينقصك جوهريًا.</p>
<p>لا شك أنك بعيدًا جدًا عما يقتضيه حُبّ القريب، وتشهد زورًا بأنك تُحِبُّه مثل نفسك.</p>
<p>إن ما يعرضه عليك الرب دليل قاطع علي خلوِّك من المحبة الحقيقية. لأنك لو كنت قد حفظت حقًا منذ صغرك وصية الحُبّ لقريبك، وساويت ما بينك وبين أخيك، لما أمكن أن تكون لديك هذه الثروة الطائلة؟ إن الاهتمام بالفقراء يستدعي نفقات عظيمة، إذا أردنا أن ينال كل واحدٍ منهم الضروري، وأن يستفيد جميع الناس من خيرات الأرض، ويحصلوا على ما يسد حاجتهم. فمن يُحِبُّ قريبه كنفسه، ينبغي ألا يكون عنده أكثر من أخيه.</p>
<p>من الأكيد أن عندك أملاكًا واسعة، فمن أين نشأ هذا التفاوت، إلا من إيثارِك تَمَتُّعك الشخصي على حساب سعادة الآخرين؟ فكلما زدتَ غِنَى نقصتَ حبًا. لو أنك أَحببتَ قريبك لكنت قد وَزَّعت منذ زمان طويل جزءًا من أموالك. ولكنك تتعلَّق بهذه الخيرات تَعَلُّقك بجزء من روحك. ويؤلمك حرمانك منها كما يؤلمك قطع عضو من أعضاؤك<a href="#_ftn7" name="_ftnref7">[7]</a></p>
<p></p>
<p></p>
<h3>عظات اباء وخدام معاصرين</h3>
<p></p>
<h4>الغنى الحزين لقداسة البابا تواضروس الثاني</h4>
<p></p>
<p><strong>مميزات الشاب الغنى :</strong></p>
<p>١ – كان غنياً ، والمال في حد ذاته نعمة وبركة .</p>
<p>٢ – كان شاباً ، والشباب قوة وجمال ونشاط .</p>
<p>٣ – كان رئيساً من رؤساء الدين (لو ١٨ : ٨) ذو وقار .</p>
<p>٤ – كان مؤدباً إذ جثا وسجد في خضوع أمام يسوع .</p>
<p>٥ – كان يشتاق للملكوت وللحياة الأبدية .</p>
<p>٦ – كان حافظ للوصايا منذ نشأته .</p>
<p><strong>نقصات الشاب الغنى :</strong></p>
<p>١ – ينقصه الإيمان الصحيح إذ خاطب المسيح كمعلم فقط وليس كإله .</p>
<p>٢ – ينقصه تحطيم الأصنام الداخلية وهى هنا المال ومحبته .</p>
<p>٣ – ينقصه تنفيذ الوصايا &#8230; كان يحفظها نظرياً .</p>
<p>٤ – ينقصه تأمين كنزه &#8230;. فبدلاً من الأرض &#8230; يضعه في السماء .</p>
<p>٥ – ينقصه اتباع الراعى الصالح ، فليس لحهاده معنى دون ذلك .</p>
<p>والخلاصة : كان عنده : اقتناء مادى ، اقتناء نفسى ، واقتناء روحى<a href="#_ftn8" name="_ftnref8">[8]</a> .</p>
<p></p>
<p></p>
<h4>أنا لست أصلاً لكل الشرور للمتنيح انبا كيرلس مطران ميلانو</h4>
<p></p>
<p>+ أنا المال .. وصدقنى أنا لست أصلاً لكل الشرور ؟ ! أنت الذى احببتنى ومحبتك لى هي التي جعلت منى منبعاً للشرور .</p>
<p>+ أنا المال أنا أعاتبك لماذا تتهمنى وتدعى بأنى أصل لكل الشرور ؟ ! أنت الذى احببتنى أكثر من كل من هم حولك ؟ !</p>
<p>+ أحببتنى أكثر من أبيك وأمك وأخوتك وأكثر من زوجتك واولادك وأهلك ؟ !</p>
<p>+ أنا أعاتبك .. لأنك لم تحبني فقط أكثر منهم .. بل لأنك تمسكت بى وتخليت عن الكل بل وبعت الكل .</p>
<p>+ أخوك نائم جائع وأولاده عراة ومالك الذى هو أنا نائم في جيبك مغلق عليه في خرانتك .. حرام عليك .</p>
<p>+ أنا المال .. ولم أتغير .. أنا ثابت في عمله .. أنت الذى تتغير عندما أتزايد بين يديك .. تزداد محبتك لى .. وتتغير شخصيتك وتنمو براعم الشر دون أن تدرى .</p>
<p>+ انظر الى .. أنا لست لدى أياد وأرجل لكى أتحرك وأجرى وأذهب لمن يمد يده ويصرخ ويستغيث .</p>
<p>لست أدرى هل أنا عبد في يدك أيها الانسان .. أم أنت عبد وسجين في محبتى أنا المال ؟ !</p>
<p>+ أنا المال .. وأنت تمسكنى بين يديك وتتمسك بى في قلبك .</p>
<p>+ أنت لا تعرف رسالتى .. أنا لست للرصيد والتراكم أنا أحب أن أجول معك وأنت تعمل بى خيراً .</p>
<p>+ أنا المال وأنت تحركنى بأوامرك أنت تجمدنى وتفكنى بأصابعك ؟ !</p>
<p>+ دعنى أسألك ؟ ! لماذا تحسبنى في يدك وفى فكرك ؟ ! ولماذا لا تنشغل بعمل اخر غير جمعى .. ؟ !</p>
<p>+ أنا المال .. وبى تقتنى ما تريد فكيف اقتنى قلبك لكى أجعله ينشغل بتوزيعى على كل محتاج ؟ !</p>
<p>+ أنا أريدك أن تسأل عنى الأغنياء الذين كانوا قبلك أسألهم هل استطاعوا أن يحتفظوا بى في أياديهم عند رحيلهم ؟ ! وهل صنعوا لهم جيوباً في أكفانهم ؟ !</p>
<p>+ أنا عبد عندك أرجو أن تحررنى من بين يديك القينى من بين أصابعك أتركنى لكى أحيى أنفس مائتة من الجوع والبرد .. أتركنى أعمل قبلما تتركك حياتك .</p>
<p>+ دعنى أصارحك بأن أجمل أيامى هي عندما تهب الرياح والزوابع .. فأنا انتظرها بفرح ولهفة لكى أطير من بين أصابعك والقى بنفسى في حجر الأرض حتى ولو كانت أذنك ثقيلة عن السمع ؟ ! لكن ياترى هل تسمع صوت نصيحتى وأنا قريب منك بل وفى يديك ؟ !</p>
<p>+ أنت مخدوع بأننى أنا هو ثروتك الثمينة .. والحقيقية محبتك لأولادك واحساسك بمن هم حولك هم ثروتك غير المفقودة التي تصحبك في حياتك وبعد موتك</p>
<p>+ أنا المال الذى أنت تحبه أنا أحدثك من بين يديك ومن جيبك ومن خزانتك وأقول لك ليتك تعلم الحقيقة ان كثيرين من الذين يقدمون لك الخدمات ويتظاهرون بمحبتهم لك ويكرمونك هم يقدمون لك كل هذا لأجلى أنا المال .</p>
<p>+ هم يسمعون كلامك .. ويتممون رغباتك لأجل غناك ؟ ! انظر إلى جارك هو لا يملك مثلك من المال ولكنه يملك حباً ، يملك حكمة وللأسف لا تسمع كلماته لأن كلمة المسكين محتقرة ؟ !</p>
<p>+ أنا المال وأنا لست اصلاً للشرور فحرام عليك أن تصنع بى شراً فتسلمنى مكافأة في يد من يقتل بريئاً ؟ !</p>
<p>+ أنا المال أنا أصرخ ظلماً لأنك تضعنى في يد من يعوج القضاء ويسلك في الطرق غير المشروعة .</p>
<p>+ لا تضعنى في يد من يبرئ المذنب .. ويذنب البرئ .. لا ؟ ! حرام عليك أن تهدينى في يد من يفتح أمامك الأبواب المغلقة .</p>
<p>+ أنا المال الذى أنت تجمعه .. وأنا غير مستريح لأنك دائماً تدعى الفقر والعوز لكى تملكنى بوفرة .</p>
<p>+ أنت تملك ما يكفيك وما يشغلك لماذا تظلم نفسك مدعياً الفقر فالذى يدعى بأن ليس عنده الذى عنده يؤخذ منه .</p>
<p>+ أنت تصنع بى كل الشرور وتدعى على بأننى أصل لكل الشرور ؟ ! من الذى يسرق ويزن .. ويجامل ويرتشى ألست أنت ؟ !</p>
<p>+ أنا المال دعنى أحكى معك وأقول لك أن أسيادى وضعونى تحت الأرض أخفونى في أوان .. ودفنونى بأياديهم .. وماتوا وتركونى وأنا مازلت في مكانى مختفياً ولا يعرفنى أحد الا هم لأنهم ظنوا أن العمر ثابت وأن هذا العالم مؤبداً .. ولكن العجيب اذا وجدونى بالمصادفة يخرجوننى من حبسى من بين الظلام إلى حبس آخر حيث يضعونى في المتاحف ويقام على حراس ويلتقطون لى صوراً وكأنى نازل من كوكب آخر … وأصير تحفة تنظرها الأجيال من قرن إلى قرن والكل لا يعرف أننى قضيت أيامى مع انسان أنانى وبخيل لا يصنع خيراً ولم يتمم رسالتى ؟ !</p>
<p>+ أنا المال وأريد أن أسمعك صوت خالقك الذى أوصاك بأن محبتى أصل لكل الشرور .</p>
<p>+ تعال .. وأنظر .. من هم الذين يجلسون على يمين عرش الله ؟ ! هم الذين أحسوا بالمريض والعريان والجائع والمسجون والغريب هم الذين أحسوا بالمريض والعريان والجائع والمسجون والغريب هم الذين أحسوا بهؤلاء الاصاغر .</p>
<p><a href="#_ftn9" name="_ftnref9">[9]</a>+ أنا المال أنا العشور مكانى ليس عندك قم القنى في خزانة الرب وأنظر إلى كوة السماء كيف تتفتح أمامك .</p>
<p></p>
<p></p>
<h4>طاعة بلا تردد لنيافة انبا ايساك الاسقف العام</h4>
<p></p>
<p>لقد تحدى يسوع الشاب الغنى بأن يترك عنه رفاهية الحياة ويقبل حياة الفقر الاختيارى وبذلك وضع الشاب في احدى خيارين لا ثالث لهما ، اما أن يطيع أو لا يطيع في الدعوات السابقة عندما دعى يسوع لاوى من عند مائدة الصيارفة ، وعندما دعى القديس بطرس من شباك صيده ، دعاهم من مهام أشغالهم الدنيويه ، وكان على كليهما أن يتركا كل شيء ليتبعا يسوع بل وعندما دعى بطرس الرسول أيضاً لكى يمشى على أمواج البحر الهائج ، كان عليه أن يقوم بالمخاطرة بنفسه ويجازف بحياته . الشئ الوحيد الذى كان مطلوبا في كل حالة هو – الاعتماد على كلمة المسيح فقط ، والاستناد عليها كأعظم ضمان . ويا له من ضمان ، انه أضمن من كل ضمانات العالم بأسره .</p>
<p>+ على الفور تبرز قوى معاكسة مريعة تفصل بين كلمة المسيح وبين الاستجابة الفورية لها ، وعدم التردد في طاعتها : المنطق ، والضمير ، والمسئولية ، والاشفاق على الذات… الخ كل هذه تقف معوقات للاستجابة لدعوة يسوع ، بل وحتى الناموس وسلطان كلمة الانجيل قد نجد فيها ما يدعم موقف الرفض !! لأن العقل ينجد الإرادة المتقاعسة عن الطاعة بتبريرات لا نهاية لها. قد يقال لنا ان هذا اندفاع وحماس وتطرف وخروج عن المألوف ، ولكن يكفى أن الدعوة هي دعوة يسوع ، ويكفى ان الكلمة التي دعينا بها هي كلمة الله وكل المطلوب هو طاعة بلا تردد . هل نحن البشر نعدل فكر الله ؟</p>
<p>١ – ان كنا أثناء قرائتنا لانجيلنا سمعنا يسوع يتكلم الينا &#8221; ان أردت أن تكون كاملاً فاذهب وبع أملاكك واعط الفقراء ، وتعال أتبعنى &#8221; فمن المحتمل أن نناقش الأمر مع ذواتنا على هذه الطريقة : حقاً ان طلب يسوع محدد جداً وواضح بلا لبس ، ولكن على أن أتذكر ان المسيح لا يريد منى ان آخذ وصيته بطريقة فقهية حرفية ، ان كل ما يريده يسوع هو أن يكون عندى ايمان . ولكن ايمانى ليس بالضرورة يرتبط بغنى أو فقر أو أي شكل من هذا القبيل . ان الفقير والغنى على السواء يمكن أن يكون لهما حياة روحية. ليس ضرورياً أن يكون لى مقتنيات ، ولكن ان كان لى فعلى أن أحتفظ بهم واستخدمهم وكأنى لا أستخدمهم بمعنى ان يكون عندى زهداً داخلياً روحياً ، ويكون قلبى متجرداً وغير متعلق بمقتنياتى وبهذا نبرر عدم طاعتنا .</p>
<p>٢ – لقد قال يسوع &#8221; بع مالك &#8221; ولم يشترط أن لا تعيش في ترف ورفاهية . لذلك عليك أن تحتفظ بمالك بهدوء حاسباً إياه كأنك لا تملكه ، لا يكن قلبك في مالك … اننا في الواقع نعفى أنفسنا من الطاعة التي بلا تردد لكلمة يسوع بحجة الناموس حيث نفترض ان الطاعة بالايمان وفقط .</p>
<p>+ ان الفرق بيننا وبين الشاب الغنى هو انه لم يسمح لنفسه أن يبرر موقفه كأن يقول في ذاته لا يهمك ما قاله يسوع بالحرف ، فالحرف يقتل ، يمكننى أن أتمسك بغناى ولكن بروح تجرد داخلى . وبالرغم من عدم استجابتى لدعوة يسوع ، أستطيع أن أستريح في الفكرة بأن الله قد غفر لى خطاياى ويمكننى ان أتبع المسيح بالايمان. ولكن الشاب الغنى لم يقل هكذا ، لقد مضى حزيناً لأنه لم يطع ، فلا يستطيع أن يدعى انه يؤمن . كان الشاب أميناً جداً في هذا . لقد ترك يسوع وحقاً أن صدقه هذا له فوائد أكثر من أي اتحاد ظاهرى مع يسوع مؤسس على العصيان .</p>
<p>المشكلة مع الشاب الغنى ، انه كان غير قادر على التجرد الداخلى من غناه . وكإنسان غيور يبحث عن الكمال ، وربما حاول ألف مرة ولكنه فشل ، لأنه يرفض أن يطيع كلمة يسوع في اللحظة التي كان يتحتم عليه فيها أن يأخذ قراراً . لقد كان هذا الشاب صادقاً مع نفسه ، أما نحن فاننا نميل إلى كثرة الرغى بطريقة سفسطائية ، حتى اننا نحور كلمة يسوع ذاتها لسامعينا فيفهمون شيئاً مختلفاً تماماً عما قصده يسوع  .</p>
<p>+ لو قال الانجيل : أترك كل شيء وراءك وأتبعنى ، أنبذ الرفاهية التي تعيشها ، استقل من وظيفتك ، أترك أهلك وعشيرتك وبيت أبيك … ومثل هذه الدعوات التي لا يفهم منها سوى شيء واحد وهو الطاعة والاستجابة على الفور . ولكننا نجادل هكذا : طبعاً نحن معنيين ان نأخذ دعوة يسوع بطريقة جدية ، ولكن ، وماذا بعد ، نخشى أن حماس البداية يفتر فماذا نفعل أنذاك بعد أن نكون فقدنا وظائفنا الحالية قد يكون طريق الطاعة الذى يريده يسوع هو ان نخدم أهلنا بروح تجرد حقيقى نخدمهم روحياً ونكسبهم للمسيح لذلك علينا أن نستمر في كل شيء كما هو . وهكذا يأمرنا المسيح : &#8221; أترك &#8221; ونحن نؤول كلامه ليعنى &#8221; أمكث كما أنت ، وعليك بممارسة التجرد الداخلى فقط &#8221; .</p>
<p>+ مثال آخر ، لو قال لنا الانجيل : &#8221; لا تهتموا &#8221; سنؤول ما قاله ليعنى &#8221; طبعاً ليس من الخطأ أن نهتم لنعول أنفسنا ونعول من يعتمدون علينا ، والا فاننا نكون مقصرين في مسئولياتنا . ينبغي فقط ان نكون داخلياً بلا هم طوال الوقت &#8221; .</p>
<p>+ يقول لنا يسوع : &#8221; من لطمك على خدك الأيمن حول له الآخر أيضاً &#8221; فقد نؤول المعنى بأن القصد هو : ان محبتك لعدوك هو بأن ترده إلى صوابه لذلك فعليك أن تقاتله لكى ترده الى صوابه وبذلك تحبه !</p>
<p>+ يقول لنا يسوع : &#8221; أطلبوا أولاً ملكوت الله &#8221; وقد نفسرها نحن هكذا &#8221; طبعاً علينا أن نطلب كل الأشياء المعيشية أولاً ، والا كيف يمكننا أن نعيش ؟ ان ما يعينه هو أن يكون لدينا الاستعداد أن نرهن كل الأشياء لملكوت السموات &#8221; . وبهذا ، نحن نحاول أن نزوغ عن حتمية الطاعة الحرفية التي بلا تردد على طول الخط . كيف نسمح أن تمر هذه السخافة ؟ ماذا حدث حتى أن كلمة يسوع تمتهن هكذا بهذه التفاهات الفكرية ، وتترك هكذا معرضة لسخرية العالم ؟ حينما تصدر أوامر من أي أوساط أخرى في الحياة فلا يمكن أن تحور أو يشك في معناها مثلاً لو أرسل أب ابنه الصغير لكى ينام في فراشه ، فان الابن يعرف تماماً ماذا عليه أن يعمل ، ولكن لنفرض أن عقله بدأ يتباحث في الأمر كطريقة الاهوتيين الزائفين على هذا النحو : أبى يطلب منى أن أنام ، انه يعنى اننى متعب ومحتاج أن اتغلب على التعب الذى عندى بطريقة جيدة جداً وذلك بأن أخرج وألعب ، فرغم أن أبى أخبرنى ان أذهب لأنام ، الا أنه يعنى في الحقيقة أخرج وألعب . لو ساق طفل أفكاراً مثل هذه بالنسبة لوالده . أو لو فكر أحد المواطنين في قوانيين الدولة على هذا المنوال ، ماذا سيكون رد فعل من الآب أو من الدولة سوى توجيه التأنيب والعقوبة . فهل نأخذ وصية المسيح بطريقة مختلفة عن الأوامر الآخرى ؟ ونحول الطاعة التي بلا تردد إلى عصيان مشجوب ، كيف يكون هذا ؟</p>
<p>+ لقد أراد يسوع بطلبه من الشاب ان يتخلى عن ماله ، وهو أن يجعله في الوضع حيث يكون الإيمان بيسوع ممكناً ، فيعتمد على يسوع وليس على أمواله ، فيقدر ان يتبعه . ولكن السفسطة توصل في المرحلة النهائية إلى عدم الاهتمام بالدعوة .</p>
<p>+ قد يقول البعض ، ان كل شيء ، متوقف على الايمان ، وكل ما ليس من الايمان فهو خطيئة ، فسواء كنت في حالة فقر أو غنى ، زواج أو بتوليه ، توظف أو بطالة كل هذا ممكن أن يؤول في المحصلة النهائية إلى صواب . من الممكن ان يكون لنا ثروة وممتلكات وعقارات من هذا العالم ونحن في نفس الوقت مؤمنون بالمسيح – فيكون الانسان مالكاً لهذه الأشياء وكأنه لا يملكها . ولكن يبقى بيع كل ما نملك هو الاحتمال النهائي للحياة المسيحية ان تعوقت في وجودها . وفى مقدورنا في نفس الوقت ، وهذا في نطاق امكانيتنا ان نتوقع مجئ المسيح الثانى وننتظره بلهفة وهذا هو الطريق الوسط البسيط الممكن .</p>
<p>+ يا أحبائى ، ان شرح الوصية بعيداً عن مضمونها الحرفى المباشر ، قد يكون له مبرراته من وجهة النظر المسيحية ، ولكن لا ينبغي أبداً أن يقودنا هذا الشرح إلى ترك المفهوم الراسخ غير المتذبذب للوصية. قد يكون هذا ممكناً وصحيحاً للذين قد طبقوا فعلاً نقطة أو أخرى من المفهوم الحرفي الثابت للوصية . أولئك يعيشون كتلاميذ للمسيح منتظرين الآخرة الممجدة ، ويبقى التطبيق الحرفى للوصية هي الصعوبة الرئيسية الأزلية لطريق التلمذة . لأننا نميل الى تفسير دعوة ربنا يسوع المسيح لنا لكى نتبعه بصورة تفرغ الدعوة الإلهية من كل مضمون لها ، بل ندعو إلى تطبيقها بطريقة عكس ما هو مطلوب تماماً ، لتلائم الناس . وهكذا تتحول الدعوة من بركة إلى خطر دائم يستحيل أن توصلنا إلى المسيح ، ويستحيا ان تجعلنا نوصل الرسالة التي يريدها المسيح للآخرين عن طريق دعوتنا لأننا رافضون أن نطيع بحسب مفهوم الله ، ولا نطيع الا بحسب مفاهيمنا البشرية الخاصة . وعندما  يراوغ المسيحيون في تطبيق شريعة المسيح في حياتهم ، فلا عجب ان فرضت عليهم شرائع أخرى حتى ولو كانت وحشية ومذلة وعنيفة . لماذا لا نلتزم بطاعة صلبه لوصايا المسيح ؟ ان أي شخص سوف لا يشعر أنه أكثر سعادة الا حينما يطبق المفهوم الحرفى المستقيم لوصايا يسوع مطيعاً بكل صرامة حتى لو تتطلب منه أن يبيع كل أملاكه عندما يطلب يسوع هذا ، فلا يتشبث بها ، لماذا نعطى لأنفسنا الحق أن نفسر كلمة المسيح بصورة دبلوماسية لنعفى أنفسنا ، ونبرر ذواتنا عن التقصير في الطاعة ؟</p>
<p>+ ان الدعوة الفعلية ليسوع والاستجابة في طاعة بلا تردد له مغزاه القوى والمؤثر في وسط الناس . بواسطة هؤلاء المطيعين يدعو يسوع الناس الى وضع عملى حيث يكون الايمان ممكناً لهم . لهذا السبب فان دعوة يسوع هي دعوة واقعية ، وهو يريدها ان تفهم على هذا النحو ، لأنه يعرف ان الطاعة الفعلية فقط هي التي تحرر الانسان ليؤمن .</p>
<p>+ ان التذبذب في الطاعة هو مثال آخر لانحراف الانسان عن مسار النعمة الغالية إلى نعمة رخيصة لتبرير الذات . لأننا آنذاك نكون تابعين لناموس زائف من وحينا نحن ، ونصم آذاننا عن سماع صوت دعوة المسيح الرصينة ، هذا الناموس الزائف هو ناموس العالم مستخدماً ناموس النعمة ليؤاذره ويسانده ! فلا ننتصر على الروح الدنيوية في حياتنا اليومية ، ولا نختبر الغلبة في المسيح في تبعيتنا له ، بل تتفشى الدنيوية في حياتنا أكثر فأكثر ، وتتحول إلى مبدأ شرعى لا يمكن الحيود عنه وحينما يحدث هذا تتوقف النعمة عن أن تكون عطية الله الحى التي نناضل بها ضد الدنيوية ونوضع تحت طاعة المسيح .</p>
<p>+ انه المبدأ الالهى الذى يطبق حين يرفض الانسان طاعته ببساطة ، لابد من أن تتحكم فيه الشرائع الدنيوية الخطيرة . حينما نحاول أن نقاوم شريعة المسيح نضع أنفسنا على أسوأ أنواع الشرائع .</p>
<p>الطريقة الوحيدة للغلبة على الشرائع الدنيوية هي الطاعة الحقيقية للمسيح حينما يدعونا أن نتبعه . حيث انه في المسيح يكمل ناموس ويلغى ناموس في آن واحد .</p>
<p>+ عندما نحذف مبدأ الطاعة البسيطة لكلمة الله ، فاننا ننحدر إلى تفسيرغيرانجيلى للانجيل . إننا نأخذ عملية فتح الإنجيل كضمان لسلوكنا حسب مبادئ الدعوة ، ولكن مفتاح التفسير الذى نستخدمه لتفسير الانجيل ليس هو المسيح الحى كنموذج لسلوكنا في الحياة ، المسيح الذى هو مخلصنا ودياننا في آن واحد . واستخدامنا لهذا المفتاح لم يعد متوقفاً على إرادة الروح القدس الحى وحده . المفتاح الذى نستخدمه هو تعاليم بشرية عامة عن النعمة وغيرها ، نطبقه كيفما أردنا . مشكلة التلمذه اذن أصبحت مشكلة تفسير .</p>
<p>نصل اذن إلى نهاية المطاف ، بأن التفسيرالبارع لوصايا المسيح دائماً يتضمن التفسير الحرفى ، والسبب ليس في كوننا نريد أن نقيم الناموس بل أن نظهر المسيح .</p>
<p>+ بقيت كلمة بخصوص الشكوك التي تساور البعض . بأن تعليم الطاعة ببساطة ، يحيى تعليم الاستحقاق البشرى – أي الإصرار على شروط مسبقة قبل نوال نعمة الايمان المجانى . نقول ان طاعتنا لدعوة يسوع لا تقع أبدا في نطاق قدرتنا . فلو تركنا كل ممتلكاتنا مثلًا ، فهذا الفعل ليس في حد ذاته هو الطاعة التي يريدها يسوع . فقد تكون مثل هذه الخطوة على الضد تماماً من طاعة المسيح ، لأننا قد نكون آنذاك نختار بأنفسنا لأنفسنا طريقاً خاصاً في الحياة  ، أو نختار بعض المثل المسيحية دون جوهر المسيحية ذاتها ، قد تكون في ترك الانسان لما يملك هو لكى يعطى ولاء لنفسه ، أو ليقيم معينة ولكن ليس لوصية يسوع . انه لم يتحرر من ذاته ولكنه يكون قد استعبد أكثر لنفسه . ان الدخول إلى الوضع حيث يكون الايمان ممكناً ليس منحة نمن بها على يسوع ، بل هي منحة يسوع الكريمة لنا . حينما نخطو خطوات الطاعة بهذه الروح تكون مقبولة. ولكننا في تلك الحالة لا نقدر أن نتكلم عن حرية اختيار من جانبنا .</p>
<p>وفى (متى١٩ : ٢٣ – ٢٦) .</p>
<p>السؤال الذى وجهه التلاميذ إلى يسوع : من يستطيع ان يخلص ؟ يبدوا أنهم قد اعتبروا ان حالة الشاب الغنى ليست حالة استثنائية من كل الحالات ، بل هي حالة مكررة باستمرار. لأنهم لم يسألوا أي غنى يخلص ؟ بل بصورة عامة سئلوا : من يستطيع ان يخلص ؟ لأن كل إنسان حتى التلاميذ أنفسهم ، ينتمون إلى أولئك الأغنياء الذين يصعب دخولهم إلى ملكوت السموات .</p>
<p>الإجابة التي أعطاها ربنا يسوع المسيح بينت انه قد فهم سؤال التلاميذ جيداً . ان الخلاص باتباع المسيح ليس هو شيء نبلغ اليه نحن البشر من أنفسنا – بل عند الله كل شيء مستطاع<a href="#_ftn10" name="_ftnref10">[10]</a>.</p>
<p></p>
<p></p>
<h4>الأحد الرابع من شهر هاتور المبارك للمتنيح القمص تادرس البراموسي</h4>
<p></p>
<p><strong>ماذا أعمل لأرث الحياة الأبدية (مز ١٠: ١٧ – ٣١)</strong></p>
<p></p>
<p>تقدم هذا الرجل إلى الرب يسوع لكى يتأكد هل له حياة أبدية وماذا يحتاج لكى تكون له حياة أبدية وهل بينه وبين الحياة الأبدية كثيراً تحتاج لسعى وجهاد وسهر وتحصيل . كانت عنده جرأة أفضل من غيره على الأقل يريد أن يطمئن على مستقبله فسأل الرب يسوع ماذ أفعل لأرث الحياة الأبدية وهو يفهم أن الحياة الأبدية لها طريق مرسوم يلزم الإنسان أن يسلك فيه فساله الرب يسوع عن حياته الروحية وحفظه للوصايا . لم يقصد الرب يسوع حفظ الوصايا فحسب بل العمل بها يمكن الإنسان يحفظ كل الوصايا بل أيضاً كل الفضائل ويرددها كالببغاء لكنه عند العمل يعجز على اقتناء واحدة منها . قال هذا الرجل أننى حفظتها منذ حداثتى . لم يحدث أنى كسرت واحدة من الوصايا ليس بفضلى بل بفضل أمى التي علمتنى هذه الأشياء كلها والمعروف أن الأم لها دور كبير في تربية الأولاد وقربهم أو بعدهم من الله كلمة الرب يسوع له المجد بكل محبة نفذ إلى كبريائه فكشف عن دوافعه الحقيقية لأنه كان يعرف ما كان يضمره هذا الإنسان وما يفطنه داخل أعماقه . إنسان عظيم خارجه مزين يفرح الناظرين والسامعين أيضاً . كان الحزن يمزق أعماقه يعوذك شيئاً واحد بع كل أموالك وأعطى المساكين وتعالى أتبعنى . فكان هذا هو الحاجز الذى يفصل بين هذا الشاب وبين الملكوت . محبة المال كان المال هو الذى يمثل كبرياء الإنجاز والجهد الذاتي. كان الرجل لا يدرى ما يقول ماذا تعنى أموالك لك هل هي العائق في أتباعك للرب يسوع أم هي ألهك الذى تعبده فمع أن الرب يسوع طلب من هذا الرجل أن يبيع كل شيء ويعطى الفقراء الكثير من المؤمنين لم يبيعوا كل شيء بالرغم من أنهم استخدموا كل ممتلكاتهم لاحتياج الأخريين . قدم الرب يسوع محبة صادقة لهذا الرجل بالرغم إنه لا ينتفع بهذه النصيحة لأن محبته كانت سطحية فالشخص الذى يمتلك شيء على الأرض يعوزه أهم شيء هو الحياة الأبدية التي يسعى إليها دائماً بالتعب والسهر والتضحية وحمل الصليب</p>
<p></p>
<p><strong>العظة الأولى</strong></p>
<p>أ – مسيرة الحياة ووقفة تأمل</p>
<p>ب – سؤال يحتاج إلى إجابة</p>
<p>ج – اشتياق إلى الأبدية بدون معرفة</p>
<p>د – إجابة تحتاج إلى عمق تأمل</p>
<p>ه - الفرق بين حفظ الوصايا والعمل بها</p>
<p>و – عمل الله لمن يطلبه من كل قلبه</p>
<p>ذ – التمسك بالعالم يعتقنا عن الأبدية</p>
<p>ح – المال وتأثيره على المجتمع</p>
<p>ط – الثقة وأعطاء القرار</p>
<p>ى – الاختيار بين الملكوت والمال</p>
<p></p>
<p><strong>العظة الثانية</strong></p>
<p>أ – الأستعداد للمسيرة وحب الحياة</p>
<p>ب – معطلات الحياة والحروب الشيطانية</p>
<p>ح – اشتياق الإنسان للسمو وتمسكه بالعالم</p>
<p>د – حفظ الوصايا والتعمق في تنفيذها</p>
<p>ه - الحث على الأهتمام بالفقراء ومشاركتهم</p>
<p>و – الارتباط بالعالم والبعد عن الفضيلة</p>
<p>ذ – الاتكال على الأموال حجر عثرة</p>
<p>ح – اهتمام الرب بخلاص النفوس</p>
<p>ط – محاسبة النفس واتخاذ القرار</p>
<p>ى – الهدف الواحد ومسيرة الطريق</p>
<p></p>
<p><strong>العظة الثالثة</strong></p>
<p>أ – كيف نطلب احتياجاتنا من الله</p>
<p>ب – الأمانة في الطلب والإلحاح عليه</p>
<p>ج – ليس الكمال في الوصايا بل العمل بها</p>
<p>د – تمسك الإنسان بالأرضيات وثمارها</p>
<p>ه - تبكيت الرب على محبى المال وأنشغالهم عن السمائيات</p>
<p>و – الرجوع إلى الله بالقلب الواثق</p>
<p>ذ – قاتل الجسد تنتصر الروح</p>
<p>ه - تسلح بالإيمان وأبعد عن الكسل</p>
<p>ط – الحياة الأبدية هدف القديسين وقبله المسيحيين<a href="#_ftn11" name="_ftnref11">[11]</a></p>
<p></p>
<p></p>
<h4>عظة للمتنيح القمص لوقا سيداروس</h4>
<p></p>
<p><strong>يعوزك شيء واحد</strong></p>
<p></p>
<p>وفيما هو خارج إلى الطريق ركض واحد وجثا وسأله أيها المعلم الصالح ماذا أعمل لأرث الحياة الأبدية ؟ فقال له يسوع أنت تعرف الوصايا لا تزن لا تقتل &#8230; الخ . فأجاب وقال يا معلم هذه كلها حفظتها منذ حداثتي . فنظر إليه يسوع وأحبه وقال له يعوزك شيئاً وأحد أذهب وبع كل مالك وأعط الفقراء فيكون لك كنز في السماء وتعال اتبعنى حاملاً الصليب . فاغتم على القول ومضى حزيناً لأنه كان ذا أموال كثيرة &#8230; ثم قال الرب للتلاميذ &#8221; ما أعسر دخول المتكلين على الأموال إلى ملكوت الله &#8221; .</p>
<p><strong>سؤال الغني ماذا أعمل لأرث الحياة الأبدية ؟</strong></p>
<p>أن الشاب على ما يبدوا مهتم بحياتة الأبدية وميراث الملكوت. فتراه يركض ويجثوا أمام الرب يسوع ويسأل كيف يرث الحياة الأبدية ؟ ولكن يسوع يتحن قلب الذين يطلبون الملكوت وكثيراً ما يجيب على سؤالهم بسؤال ولكن سؤال يسوع ليس لعدم معرفته بأحوالنا . ولكنه يدخلنا مباشرة إلى النور والطريق المؤدى إلى الحياة ويشجعنا لكى ندخل فيه &#8230; فالرب يسوع يريد أن الجميع يخلصون وإلى معرفة الحق يقبلون .. وهو لا يشاء موت الخاطئ ولا يسر بهلاكه . بل أن الفتيلة المدخنة والقصبة المرضوضة لها رجاء عنده .</p>
<p><strong>سؤال يسوع</strong></p>
<p>أنت تعرف الوصايا : لا تزن لا تقتل لا تسرق لا تشهد بالزور لا تيلب وأكرم أباك وأمك . العجيب جداً أن الرب يسوع لم يذكر له الوصايا من أولها &#8221; تحب الرب إلهك من كل قلبك &#8230; الخ . إن الرب في حنانه يسأله الأول عن الوصايا التي يعرفها والوصايا التي يحفظها . وعندما أجاب الشاب بالإيجاب نظر إليه الرب نظرة مملوءة حب ، نظرة تشجيع قائلاً : يعوزك شيء واحد أذهب وبع كل أملاكك وأعط الفقراء ، فيكون لك كنز في السماء وتعال أتبعنى حاملا الصليب . وهنا يكشف الرب أمراً في غاية الأهمية والخطورة : ماذا تنفع الوصايا بدون محبة الله من كل القلب ؟ قد يقول واحد &#8221; الهم أنى أشكرك انى لست مثل سائر الناس الخاطفين والظالمين والزناه &#8230; أصوم مرتين كل أسبوع وأعطي عشراً من كل أموالى ؟ ولكن يا عزيزى هل تحب من كل القلب ؟ ما هي علاقتك الشخصية بالله . هكذا قال لهذا الشاب يعوزك محبتي من كل القلب أذهب أفغل هذا . فمضى حزيناً لأنه كان يحب آخر ؟ يحب العالم ، يحب المال . من أراد أن يكون محباً للعالم فقد صاراً عدواً لله انى أوثر ياربى أن أكون فقيراً من أجل حبك على أن أكون غنياً بدونك . أختار التغرب معك على الأرض أفضل من أمتلاك السماء بدونك .</p>
<p>هناك نوع من المعرفة الكاذبة للوصايا الإلهية</p>
<p>معرفة عقلانية</p>
<p>مثل إنسان يحفظ وصايا المسيح عن ظهر قلب . ويناقش في الأمور الروحية ، ويتخيل في نفسه أنه يعرف الإنجيل . بينما هو مرتبط بمحبة المال ، محبة العالم ، محبة الشهوات &#8230; لمثل هذا الإنسان يقول الرب يسوع يعوزك شيء واحد أذهب وبع وتعال واتبعنى حاملا الصليب .</p>
<p>إن هذا الشاب لا يزنى ولا يقتل ولا يسرق ويكرم أباه وأمه فماذا يطلب منه الرب أكثر من هذا ؟</p>
<p>ألا يستحق مثل هذا الشاب التقى في عينى نفسه  وفى عينى المجتمع أن يدخل الملكوت ؟ لو وجد مثل هذا الشاب في مجتمعنا الآن لمدحه الجميع  من أجل أخلاقياته ومن أجل استقامته .  ولكن الملكوت لا يوهب من أجل الأخلاق ، ولكنه يعطى للمحبين لله من كل القلب ومن كل النفس ومن كل القدرة . هذا الأساس يجعل الفريسى الذى يصلى إلى الله ويصوم مرتين في الأسبوع ، مستحقاً للملكوت . ولكن الرب يسوع يطالبنا بالوصية الأولى والعظمى ، تحب الرب إلهك من كل القلب ومن كل الفكر ومن كل القدرة وبدون هذه الوصيه يصير كل شيء باطلاً . هناك أمثله كثيرة طلب الرب إليهم أن يعملوا أمورا خارقة وفائقة للطبيعة فعملوها بفرح ووصلوا إلى ملكوت الله .</p>
<p>+ موسى أبى أن يدعى ابن ابنة فرعون مفضلا بالأحرى أن يذل مع شعب الله حاسباً عار المسيح عنده غنى أفضل من كل خزائن مصر .</p>
<p>+ إبراهيم قال له الله سر أمامى وكن كاملاً فسمع للصوت الإلهى وأطاع . ولما قال له الله اترك أهلك وعشيرتك ، خرج وهولا يعلم إلى أين يأتي &#8230; ولما قال له الله خذ ابنك وحيدك الذى تحبه وقدمه لى محرقه على الجبل الذى أعلمك به . قام باكراً وقدم ابنه ولم يمسك ابنه الوحيد .</p>
<p>+ ولاوى قال له الله اتبعنى فقام من مكان الجباية وترك كل شيء وتبع الرب ، وهكذا بقية التلاميذ &#8221; تركنا كل شيء وتبعناك &#8221; أما هذا الشاب فعندما قال أذهب وبع أملاكك وأعط الفقراء فأغتم على الفور ومضى حزيناً . أين ما كان يبدوا من اهتمام من أجل الملكوت ؟ لقد كان يركض ويجثوا على ركبتيه أمام المخلص ويسأل بلهفة . ولكن عندما طلب منه أن يبذل شيء من أجل الملكوت اغتم . هو يريد أن يحصل على الملكوت ولا يريد أن يبذل من أجل الملكوت . يريد أن يأخذ ولا يريد أن يعطى . مع أن ملكوت المسيح هو : &#8221; الغبطة في العطاء أكثر من الأخذ &#8221; .</p>
<p>+ القديس العظيم الأنبا أنطونيوس سمع هذا الفصل من الإنجيل في القرن الرابع ، فمضى على الفور وباع كل ما كان له ( ٣٠٠ فدان من أجود الأرض ) . ومع أن الشاب الذى سمعها لم تنفعه الكلمة. ولكن القديس أنطونيوس قبلها بفرح وخبأها في قلبه وخضع لناموسها ونفذها بشجاعة فرفعته الكلمة الإلهية إلى فوق وصار من أكبر القديسين الذين أرضوا الرب</p>
<p>اتبعى حاملاً الصليب</p>
<p>هذا هو ملكوت المسيح الحقيقى ، وطريق الخلاص الذى يرفضه كثيرون ، لأن البعض يرسم صورة خيالية للملكوت ويطلبون راحتهم ومتعتهم ويتصورون الملكوت فرصة الذات البشرية وللتمتع . ولكن ملكوت المسيح يبدأ بإنكار الذات وصلب الذات . فنحن في المسيح نموت لنحيا حياة أبدية ونصلب معه لنقوم فيه ونسلك في الحياة الجديدة . الذين لا يقبلون صلب المسيح لا يكون لهم نصيب في مجده وقيامته . ومن الأمور اليقينية أن غنى  هذا الشاب صار صخرة عثرة أمام خلاصه . لقد صار غناه ترف ورفاهية وتلذذ وشهوات وما أبعد هذا الطريق عن الصليب .</p>
<p>ما أحوجنا إلى الصليب الذى يضع حداً لطغيان الأمور العادية في حياتنا ويسمر إنساننا العتيق ويصلبه فنتحرر من كل رباطات وعبودية هذا العالم ونختبر حرية مجد أولاد الله<a href="#_ftn12" name="_ftnref12">[12]</a> .</p>
<p></p>
<p></p>
<h4>القمص بولس باسيلي</h4>
<p></p>
<p><strong>اكليل الجهاد</strong></p>
<p>تقسيم على ضوء القراءات الكنسية</p>
<p>البولس            :  (1كو 4: 1- 16)</p>
<p>الكاثوليكون         :  (2بط  1: 1- 8)</p>
<p>الابركسيس         : (أع 16: 40 و 17: 1-7)</p>
<p>الانجيل              :  (مر10: 17—30)</p>
<p>تمهيد : ان هذا الفصل وان كان يحدثنا عن الشاب الغنى الذى نكص على عقبه مرتداً هارباً من الملكوت ، الا أنه يرينا من زاوية أخرى عظمة الجهاد الروحى ، واكليل المجاهدين السائرين وراء يسوع ، ويتبين هذا من قول بطرس &#8221; ها نحن قد تركنا كل شىء وتبعناك فقال لهم الحق أقول لكم أنه ليس أحد نرك بيتاً أو والدين أو اخوة أو امرأة أو أولاداً من أجل ملكوت الله الا ويأخذ فى هذا الزمان أضعافاً كثيرة وفى الدهر الآتى الحياة الأبدية &#8221; (لو 18: 28- 30)</p>
<p>سيدور حديثنا حول القراءات مركزين الحديث حول انجيل القداس</p>
<p><strong>القسم الأول – متاعب الجهاد</strong></p>
<p>(1)          متاعب من داخل :</p>
<p>يتحدث الرسول فى هذه الرسالة عن متاعب كنسية كورنثوس التى يحس بها بسبب كبريائهم فيقول لهم &#8221; ان كنت قد أخذت فلماذا تفتخر كأنك لم تأخذ ، انكم قد شبعتم قد استغنيتم ، ملكتم بدوننا &#8221; (1كو 4: 7-8) هكذا الخدمة دائما تنتابها أشواك من داخل الحقل</p>
<p>(2)          متاعب من خارج :</p>
<p>وقد وضحها الرسول بولس فى رسالة البولس بقوله &#8221; ان الله أبرزنا نحن الرسل آخرين كأننا محكوم علينا بالموت لأننا صرنا منظراً للعالم والملائكة والناس الى هذه الساعة نجوع ونعطش ونعرى ونلكم وليس لنا اقامة ، ونتعب عاملين بأيدينا ، نُشتم فنبارك ، نُضطهد فنحتمل ، يُفترى علينا فنعظ  صرنا كأقذار العالم ووسخ كل شىء الى الآن &#8221; (1كو 4: 9 – 13)</p>
<p>+++++++++++++++++++++++++++++++++++</p>
<p><strong>القسم الثانى – منهج الخدمة وشروطها</strong></p>
<p>(1) ايمان وفضيلة                          (2) معرفة وتعفف</p>
<p>(3)   صبر وتقوى                          (4) مودة ومحبة</p>
<p>+++++++++++++++++++++++</p>
<p><strong>القسم الثالث – اكليل الخدمة</strong></p>
<p>( 1) اقناع :  &#8221; فاقتنع قوم منهم وانحازوا الى بولس وسيلا &#8221; (أع 17: 4)</p>
<p>( 2) اسراع :    &#8221; ومن اليونانيين المتعبدين جمهور كثير ومن النساء المتقدمات عدد ليس بقليل &#8221; (أع 17: 4)</p>
<p>+++++++++++++++++++++++++++++++++++</p>
<h3>تأملات روحية  نقاط تفسيرية</h3>
<p>فى عظة الأحد الرابع من هاتور (مز 1: 17—30)</p>
<p>&#8221; أيها المعلم الصالح &#8221;</p>
<p>قرأت فى كتب الدين الفارسية القديمة أن الانسان الصالح متى اجتاز نهر الموت يستقبله كائن بهى مجيد ويرحب به قائلاً &#8221; أنا نفسك الصالحة ، أنا نفسك الحقيقية ، أنا مبادئك العالية ، تصوراتك النقية ومقاصدك السامية ، أنا أنت إإ فتعال نذهب معاً الى حيث نحيا الى الأبد حياة سعيدة إإ</p>
<p>&#8221; ليس أحد صالحاً الا واحد وهو الله &#8221;</p>
<ul>
<li>أين هو الانسان الصالح الذى نستطيع أن نجعله أنموذجاً لنا ؟</li>
</ul>
<p>عاش فى اليونان قبل المسيح بأربعمائة سنة رجل فاضل وكان أمينا وشجاعاً ، ذلكم هو &#8221; سقراط &#8221; ولكن سقراط لم يكن مهتماً بزوجته وأولاده ، وخشناً فى طباعه فظاً فى أخلاقه ، وفى الصين قبل سقراط بمائتى سنة عاش كونفوشيوس وكان رجلاً صالحاً ، كتب أفكاراً حسنة ولكنه لم يعرف شيئاعن الله ولا محبة الناس ، وفى الهند عاش بوذا الذى ظن الحياة مجموعة أغلاط، وأن أحسن شىء نفعله فى الحياة أن نتخلص منها</p>
<p>فهل فى هؤلاء نستطيع أن نجد &#8221; المعلم الصالح &#8221; ؟ إإ</p>
<p>لما توج ادوارد السادس فى سنة 1547 فى كائدرائية وستمنستر قدموا له ثلاثة سيوف رمزاً لسيادته على انكلترا وأيرلندا وفرنسا ، وكم كانت دهشة الحاضرين أن يطلب الملك سيفاً رابعاً هو &#8221; سيف الروح &#8221; أى الكتاب المقدس ، الذى يفضله عن كل السيوف الأخرى ، وأمر باحضار نسخة من الكتاب المقدس وحمله أمامه فى موكب التتويج ومن تلك السنة بدأت تلك العادة التقليدية ، وهى ما فتئت مرعية حتى اليوم ، وتحتل مكانة رفيعة فى حفلات التتويج البريطانى وهى حمل الكتاب المقدس فى موكب التتويج.</p>
<ul>
<li>أما هيلين كيلر الصماء الخرساء البكماء فهى تقول &#8221; ما لم نتعود على اللجوء الى الكتاب المقدس فى أوقات الهناء ، كما فى أوقات العناء ، فاننا لا نقدر أن نستجيب الى تعزياته ، لأننا نفقد التوازن بين النور والظلمة &#8220;</li>
</ul>
<p>وقال الفيلد مارشال مونتجمرى فى خطاب له لهيئة أركان حربه &#8221; أيها السادة أنا أقرأ كتابى المقدس كل يوم ، فأوصيكم أن تفعلوا أنتم هكذا &#8221; إإإ</p>
<p>&#8221; أنت تعرف الوصايا &#8221; :</p>
<ul>
<li>كان الكتاب المقدس هو سلوى الملكة فيكتوريا ، فيذكر التاريخ مرة أن أميراً أفريقياً حبشياً جاء بهدايا ثمينة الى الملكة فيكتوريا واذ طلب الى جلالتها أن تخبره سر عظمة بلادها ، لم تظهر أحجارها الكريمة أو جواهرها الثمينة كما فعل الملك حزقيا مرة ، بل سلمت اليه نسخة مذهبة جميلة من الكتاب المقدس وقالت له &#8221; ان هذا هو سر عظمتنا &#8221; إإ ان كل فرد من أفراد بيتها الملكى كان يقتنى نسخة من هذا الكنز الثمين.</li>
<li>كان هذا الشاب &#8221; يحفظ &#8221; الوصايا حفظاً شكلياً ولكن فى حقيقة الأمر كان يجهل أساس الوصايا وهو &#8221; المحبة &#8221; فهو أحب قريبه كنفسه ؟ اذن لماذا لم يوزع ما عنده ليشارك غيره ؟ إإ</li>
<li>كان اليهود يقولون انه يوجد شىء واحد صالح فقط وهو الناموس ، فقصد المسيح أن يفهم الشاب أن منشىء الناموس هو الصالح وحده</li>
<li>ان المسيح هو المعلم الصالح : قال الأب محتاراً : ماذا أعمل بابنى ؟ لست أعلم الى أى معلم أقدمه وأجابه الكاهن : قدمه لسقراط يصبح أفلاطوناً ، قدمه لأفلاطون يصبح اسكندراً ، قدمه لأرخميدس يصبح طبيعياً ، قدمه لاديسون يصبح مخترعاً ، قدمه للمال يصبح عبداً ، قدمه للبشرية يصبح انساناً ، قدمه للمسيح يصبح &#8221; الهاً &#8221;  إإ</li>
<li>ان يسوع هو أعظم معلم فى العالم ، انه اله البر والبحر والجو ، حتى الرياح والبحر يطيعانه ، يتسلط على الطبيعة والممالك كلها ، يقدم الصيادون فى بريطانيا صلاة بسيطة عندما يُنزلون قواربهم الى البحر العميق وهاك صورة الصلاة &#8221; احفظنى يارب واحفظ عبدك الخاضع ، فقاربى صغير وأما البحر فانه واسع وكبير &#8221; إإ</li>
</ul>
<p>&#8221; هذه كلها حفظتها منذ حداثتى &#8221;</p>
<p>تلقى الرئيس ابراهام لنكولن الأمريكى ذات يوم رسالة من أحد أصدقائه يسأله أعظم كتاب قرأه ؟ فرد عليه بقوله : تسألنى عن أعظم كتاب قرأت ؟ انه أمى</p>
<p>&#8221; مرور جمل من ثقب ابره &#8221; إإ</p>
<p>هذا اصطلاح شرقى يعرفه أهل فلسطين ومتداول بينهم ومقبول عندهم ومعقول ، قد سبق للمسيح نفسه أن ضرب المثل نفسه عندما تحدث عن القادة العميان فقال &#8221; يصفون عن البعوضة ويبلعون الجمل &#8221;</p>
<p>وعند كل أمة من أمم العالم مثل هذه الاصطلاحات ، فعند اليونان مثلا يقولون &#8221; ان هذا أيسر من اخفاء خمسه أفيال تحت ذراع انسان &#8221; إإ وعند اللاتين يقولون   &#8221; ان هذا أيسر من صيرورة الجرادة فيلاً &#8221;</p>
<p>وقد فسر البعض ثقب الابرة هذا بأنه اشارة لا الى ابرة الخياطة المعروفة ، بل الى الباب الصغير &#8221; الخادعة &#8221; الذى يوجد عادة داخل البوابة الكبيرة المسماة الرتاج&#8221;</p>
<ul>
<li>&#8221; فنظر اليه يسوع وأحبه &#8221; (مر 10: 21):</li>
</ul>
<p>ان نظرة يسوع دائماً قوية لها مدلولاتها الفاحصة ، فنظرة المسيح لبطرس عند نكرانه اياه جعلته يتذكر غلطته ، ويتذكر نبوءة الرب بهذه الغلطة &#8221; فخرج بطرس الى خارج وبكى بكاء مراً &#8221; (لو 22: 61-62)</p>
<p>يا يسوع أنظر الىّ وذكرنى بخطيتى وذوّب خطاياى كما ذوبت بنظرتك خطية بطرس</p>
<p>النظرة التى بها                    أذبت قلب بطرسا</p>
<p>هى التى بعينها                     تذيب قلباً قد قسا</p>
<ul>
<li>&#8221; أحبه &#8221; إإ</li>
</ul>
<p>عجباً كيف يحب يسوع شاباً عبداً لذاته وللذاته ؟ كيف ؟ كيف ينظر اليه نظرة حب وهو الذى مضى حزينا من ورائه وتركه ؟</p>
<p>ان هذا معناه أن قلب هذا الشاب كان قلباً فيه النوايا الطيبة ، والرغبات الشريفة والشوق الى الحياة الأبدية ، ولكنه مغلوب على أمره إإ</p>
<p>وان حب يسوع لهذا الشاب جعله يفكر ويفكر بعمق فى الحياة الأبدية ، فلم يتركه هذا التفكير حتى أقبل من جديد وأشرق عليه نور عظيم  ويذكر تقليد قديم أن هذا الشاب الرئيس الدينى الغنى هو نفسه &#8221; شاول الطرسوسى &#8221; الذى صار فيما بعد &#8221; بولس الرسول &#8221;</p>
<p>وهكذا لم تذهب &#8221; نظرة &#8221; يسوع عبثاً ، ولا حب يسوع جزافاً ، فلقد كانت هذه النظرة وهذا الحب شبكة ومغناطيسياً جذاباً اقتنص هذا الشاب من حب العالم الى حب المسيح الذى قال فيه &#8221; مَن ذا الذى يفصلنى عن محبة المسيح &#8221; &#8221; لكن ما كان لى ربخاً فقد حسبته من أجل المسيح خسارة ، بل أنى أحسب كل شىء أيضاً خسارة من أجل فضل معرفة المسيح يسوع ربى الذى من أجله خسرت كل الأشياء وأنا أحسبها نفاية لكى أربح المسيح وأوجد فيه &#8221; وهكذا أصبح الشاب الغنى الطامع المادى المتكالب على غرور الحياة ، هو الشاب المتقشف المضحى الزاهد فى الحياة  الذى نسمعه يشهد فى اتضاع عن نفسه &#8221; فى الأتعاب أكثر ، فى الضربات أوفر ، فى السجون أكثر ، فى الميتات مراراً كثيرة ، من اليهود خمس مرات قبلت أربعين جلدة الا واحدة ، ثلاث مرات ضربت بالعصى ، مرة رجمت ، ثلاث مرات انكسرت بى السفينة ، ليلاً ونهاراً قضيت فى العمق ، بأسفار مراراً كثيرة ، أخطار من الأمم ، بأخطار فى المدينة ، بأخطار فى البرية ، بأخطار فى البحر ، بأخطار من اخوة كذبة ، فى تعب وكد ، فى أسهار مراراً كثيرة ، فى برد وعرى &#8221;</p>
<ul>
<li>&#8221; مضى مغتماً حزيناً &#8221; :</li>
</ul>
<p>ان سر حزنه خطية مستترة كانت تعذب نفسه وهو لا يشعر بها لقد كان يعتقد أنه كامل ومكمل للناموس ، ولم يكن يحس بالخطية الدفينة التى كانت فى قلبه هى عبادة المال والخطايا المستترة تضعف الارادة فقد ذهب الى المسيح متحمساً ولكن خطيته المستترة أضعفت ارادته ووقفت حائلاً بينه وبين الملكوت ، ولذلك نسمع داود النبى يصرخ قائلا &#8221; من الخطايا المستترة أبرئنى يا الله &#8221; (مز 19: 12 )<a href="#_ftn13" name="_ftnref13">[13]</a></p>
<p></p>
<p></p>
<h4>الشاب الغنی للمتنيح الارشيدياكون رمسيس نجيب</h4>
<p></p>
<p>المسيح في طواف دائم .. وعلى منعطف من دروب محبته ، التقى بالشاب الغني .. شاب امتزج فيه الحماس بالاتضاع ، فقد ركض نحوه وجثا عند قدميه ، على صورة ما أدهشت كل من رآه ، وفي الوقت نفسه جذبت اليه قلب السيد ، حتى نظر اليه واحبه.. كان لقاء كلى الصلاح ، مع من ابتغى الصلاح ليصير وارثا للملكوت .</p>
<p>كان لقاء ابن الانسان ، الذي اشتهي خلاص الإنسان ، مع واحد من البشر حاول أن يتجاوز نفسه..</p>
<p>كان لقاء حمل الله الوديع الذي لا يصيح ولا يخاصم ، مع قصبة مرضوضة أرادها أن تتشدد ! وفتيلة مدخنة اشتهي أن تتوهج !</p>
<p>وكان في نهاية المطاف ، تقابل صريح ومقدس ، بين مشيئة الله ،وبين حرية الانسان ، تلك الحرية التي هي أعظم ما وهبه الله للانسان !</p>
<p><strong>فتيلة مدخنة</strong></p>
<p>هل كان هذا الشاب مخادعا وغير صادق في نيته حين ركض نحو السيد وجثا تحت قدميه يسأله : أيها المعلم الصالح ماذا أعمل لأرث الحياة الأبدية ؟. فقد حاول البعض اتهام هذا الشاب بأنه كان مخادعا ومغرضا حين ذهب إلى السيد على ذلك النحو . والواقع أن كل ما في الموقف يؤكد صدق هذا الرجل وإخلاصه. والحال معه وليس كما كان مع الناموسی الذي جاء إلى السيد ليسأله سؤالا مشابها للسؤال الذي تقدم به الشاب الغني. فالناموسي لم يكن يسأل بإخلاص أو ينشد الحقيقة. لقد کشف البشير لوقا عن سوء تدبيره فقال : ( واذا ناموسی قام يجربه قائلا يا معلم ماذا اعمل لأرث الحياة الابدية ) .</p>
<p>كان هذا الناموسی مخادعا فيما سأل ، فقد كان لا يبغي الحياة الابدية ومتطلباتها ، وأنما أراد فقط أن يجرب المسيح . ولم يكن أيضا ، الحال مع هذا الشاب الغني مثلما كان مع الكاتب الذي جاء إلى السيد المسيح وقال له : ( یا سید اتبعك اینها تمضي ) . أن ذلك الانسان لم يطلب المسيح لذاته ، ولكن ليأخذ مجدا أو جاها . والكاشف أفكار القلوب اذ عرف فقط فيه هذا المقصد ، وعرف أن هذا الانسان يطلب مجدا بلا صلیب – أجابه : ( للثعالب أوجرة ولطيور السماء أوكار وأما ابن الانسان فليس له أن يسند رأسه)</p>
<p>أما هنا في هذا الموقف ، ومع هذا الشاب الغنى ، فان كل ما يتعلق بالموقف – سواء ما ذكره المسيح له . أو ما كتب عنه البشيرون – کل ذلك يؤكد اخلاص وصدق هذا الرجل الشاب . يكفي في ذلك ما ذكره عنه البشير مرقس حيث قال : فنظر اليه يسوع واحبه !</p>
<p>كان قلب ذلك الشاب أرضا خصبة ، وكان ممكنا له أن يصير واحدا من التلاميذ، لكن ما أخصب الأرض وما أكثر الشوك أيضا ، فقد</p>
<p>كان الشوك كثيفا إلى الدرجة التي القى فيهلا ظلالا سوداء طمست محبة ذلك الشاب وخنقت اخلاصه . أشواك أطفأت الفتيلة المدخنة ،</p>
<p>وذلك حينها « مضى .. اذا كان ذا أموال كثيرة ! الآن ، وتحت قدمی السید ، نرى أخلاص ذلك الشاب وعجزه في آن واحد .. ولنواصل متابعة أحداث القصة لنتأكد من صدق ذلك الشاب قبل أن نقف على أسباب عجزه .</p>
<p>فهو حين جاء إلى السيد ، جاء في حماس يركض ، وفي اتضاع يجثو !! وليس هذا فحسب ، بل أنه حين سأل السيد عن الحياة الأبدية ، وأجابه السيد قائلا : ( أن أردت أن تدخل الحياة فاحفظ الوصايا ) ، أظهر لهفته فقال للسيد : أي وصايا ؟ وكأنما كان يفترض أن هناك وصايا أخرى غير تلك التي جاءت بالناموس قادرة أن تهيئه للحياة الأبدية .</p>
<p>افترض هذا واظهر بسؤاله عنها مدى لهفته لكي يحفظها . وحين ذكر له السيد المسيح الوصايا التي كان يقصدها وهي : لا تقتل لا تزن . لا تسرق لا تشهد بالزور . أكرم أباك وأمك وأحب قريبك كنفسك ، قال في اعتزاز ( هذه كلها حفظتها منذ حداثتی ) ، ولم يقف الشاب عند هذا الحد أو انصرف مكتفيا بتلك الإجابة ، بل أظهر علامة اخلاصه وصدقه حين استرسل في السؤال ، وقال للسيد : ( فماذا يعوزني بعد ؟) .. وعندئذ خاطبه السيد بالوصية التي احزنت قلبه ، وجعلته يمضي حزينا . قال له السيد : أن أردت أن تكون كاملا فاذهب وبع املاكك واعط الفقراء فيكون لك كنز في السماء وتعال اتبعني .. وهنا يغتم الشاب ويقول عنه البشير متي : فلما سمع الشاب الكلمة مضى حزينا لانه كان ذا أموال كثيرة .. ولو كان الرجل مخادعا ما ذهب حزينا نتيجة لما سمع .. الأمر الذي لم يكن في وسع الكتبة والفريسيين أن يفعلوه حين كان السيد يجاوبهم ، فقد كانوا يزدادون حنقا وغيظا ويصرون على أسنانهم .. ولكن ذلك الشاب لم يفعل هكذا . انه مضي حزينا . وهذا دليل على أنه جاء بارادة طيبة سوية يشتهي الصلاح ويرغب حقا في الحياة الأبدية .</p>
<p>وهو وإن كان بعد لم يبلغ أو يرتفع إلى مستوى الوصية ، فذلك ليس لانه مخادعا ، بل لأنه كان واقعا تحت سطوة المادة ، ومحبة المال ، الأمر الذي جعله يفضل طريق كنوزه الأرضية عن الكنز السمائي !</p>
<p>ما أشبه ذلك الشاب بفتيلة مدخنة ، حاول الرب الا يطفئها ، فقد كانت هذه مشيئته ولا تزال .. فتيلة مدخنة لا يطفىء وقصبة مرضوضة لا يقصف ، حتى يخرج الحق إلى النصرة .</p>
<p><strong>منهج المسيح</strong></p>
<p>منهج المسيح وهو يجتذب الشاب الغنى إلى الملكوت ، يستحق منا أن نقف أمامه وقفة متأنية . فيه نلمس حكمة السيد ممتزجة بمحبته ، كما نلمس فيه تقدير السيد لحرية الانسان.</p>
<ul>
<li>فقد عرف السيد في ذلك الشاب صدقا على درجة ما ، فأعلن له أن يحفظ الوصايا أن أراد أن يرث الحياة . فأجابه الشاب يقول : هذة حفظتها منذ حداثتی . وتساءل الشاب الغني في الحاح لا يخلو من روح الاخلاص وقال للسيد : فماذا يعوزني بعد !؟ هنا نظر السيد المسيح الى الشاب وأحبه . وفي حكمة اشتهي السيد أن يقود ذلكالشاب الى الملكوت . لقد أظهر له عظم المجازاة قبل أن يبين له ضرورات الطريق . قال له السيد : ان أردت أن تكون كاملا فاذهب وبع أملاكك واعط الفقراء فيكون لك كنز في السماء – وتعال اتبعني حاملا الصليب.</li>
</ul>
<p>ها هو يعلن له أولا ، أن طريق الملكوت ، هو طريق الكاملين . واذ يجده ذا أموال كثيرة ، يتحدث معه عن الكنز الذي في السماء ، الذي لا يفسده ولا يعلوه صدأ، ذلك الكنز الذى لا يفنى ولا يتدنس .. وبقدر ما تعلو السماء عن الأرض ، يعلو هذا الكنز عن كل كنوز الأرض .. قال له السيد هذا كله اولا ، قبل أن يخبره عن صعاب الطريق ، تبعية المسيح وما يستلزم من انكار للذات واستشهاد مسترخص وحمل للصليب . ان السيد في محبته أظهر له أولا عظم المجازاة ، وبحكمة عظيمة فعل ، الا انه في الوقت نفسه لم يخفى عنه ضريبة الامجاد ، ومجد الصليب . فأوضح له السيد أن مجد الصليب هو معاناة الآلم – من أجل السيد.</p>
<p>ويمكن أن يقال : أن ترك الشاب الغني للمال ، وتوزيعه على الفقراء ، قد يكون أمرا میسورا وسهلا اذا ما قارناه بحمل الصليب واشتهاء الألم ، والانسلاخ الدائم عن النفس ، والأمانة اليومية من أجل المسيح طوال النهار !</p>
<p>كانت هذه كلمة السيد ممتزجة بمحبته لذلك الشاب ..</p>
<ul>
<li>ثم ايضا تقديره الالهى للانسان وحريته . فقد أوضح له الطريق وحاول أن يفتح أمامه الفردوس الحقيقي ، ثم تركه يختار بكل ارادته وملء حريته ما يشاء .. وضعه أمام مسئولية الاختيار . بكل امكانيات الإنسان الحر .</li>
</ul>
<p>ان دعوة المسيح للخطاة انما هي كالنسيم رقيقة . لا تسلب الانسان حريته ، بل على الانسان بكل حريته ، أن يتقابل معها ، فان كل الذين يأتون اليه لا يخرجون خارجا .</p>
<p>وماذا صنع الشاب الغني ! وماذا اختار ! مضى الشاب حزيناً إذ كان ذا أموال كثيرة ..</p>
<p>مضى وانسحب بعيداً، يلفه الحزن وأقبل باختياره ، على الرفض الجاحد المتنكر ..</p>
<p>مضى ، فقد اختار لنفسه ، وليس عن جهل ، هذا المصير ..</p>
<p>مشهد ذلك الشاب :</p>
<p>أمام هذا المشهد نقف طويلا متأملين :</p>
<p>+ نتأمل ، أولا ، محبة الله وجحود الإنسان :</p>
<p>يسوع المسيح ابن الله ، صورة الله غير المنظور ، عرفنا أن علاقة الله بالبشر كلها سخاء وبذل . حياة يسوع المسيح معطاة كلها لنا الى التمام . انها معطاة لنا بدون قيد ولا شرط . انها معطاة للخطاة وللصديقين ، للأشرار وللصالحين على السواء . ذلك لأن المسيح اذا كنا بعد ضعفاء مات في الوقت المعين لأجل الفجار . فانه بالجهد يموت أحد لأجل بار . ربما لأجل الصالح يجسر أحد أيضا أن يموت . ولكن الله بين محبته لنا ونحن خطاة مات المسيح لأجلنا.</p>
<p>هذه هي محبة الله..</p>
<p>وهذه هي محبة مجده في أن يحب..</p>
<p>مجد المحبة أن تحب .. ومجد الينبوع أن يسقى ويروي ويغسل ، مجد الشعلة أن تلهب وتضىء وتدفيء .. هذه هي محبة الله العميقة التي تكشف وجهها الرب يسوع. محبة الله وهي تتعامل مع الخطاة وبغير حدود . محبة الله التي تتحمل جحود الانسان !!</p>
<p>يمكن للإنسان أن يرفض الله ، ولكن العكس غير صحيح – اذ لا يمكن الله أن يرفض الانسان . فان هذا الشاب الغني قد رفض المسيح ، لكن السيد نظر اليه وأحبه !</p>
<p>( يمكن للإنسان أن ينكر الله وأن ينسى ، ولكن الله لا يمكنه أن ينكرنا</p>
<p>أو ينسانا .. يمكن للإنسان أن يترك البنوة ولكن الله لا يمكن أن لا يكون أبا ).</p>
<p>هذه نظرة السيد للشاب ..</p>
<p>كانت نظرة اشفاق وترج .. وكانت ايضا نظرة الحب الذي يوقظ المحبوب إلى حياة أوفر وأغنى ، ويفتح أمامه آفاقا لا حد لها ، آفاق</p>
<p>تحقيق ملء الوجود بتجاوز كل امتلاك ، لأن الانسان مملوك لما ملكه ، اسير ممتلكاته وخيراته التي تشده إليها وتحصره فيها وتحاول دونه ودون تفجر طاقة الحب التي بداخله والتي بها ، وبها وحدها ، يحيا ويحقق ذاته.</p>
<p>نظر اليه واحبه !</p>
<p>وليعلم كل انسان ، أن نظرة الله أنما هي نظرة حب ، وانها بمثابة دعوة لنا، ضربة سيف تنفذ إلى مفصل النفس والروح لتعيد الينا</p>
<p>شعورنا بالمسئولية ، لتوقظ فينا حرية ماتت بالخطيئة . وهذا ما حدث مع الشاب الغنى ، فان نظرة يسوع الفاحصة ، أيقظت فيه هذا الشعور.</p>
<p>ويبين ذلك من أنه عندما لم يقدر أن يلتزم ذلك الشعور أو يمسك بمقتضاه ، ومضى حزينا إذ كان ذا أموال كثيرة !</p>
<p>+ ونتأمل أيضا مجد الله وحرية الانسان .</p>
<p>مشهد هذا الشاب وهو يمضي حزينا ، منظره وهو ينهي حوار قام بينه وبين المسيح ، وبهذه الكيفية ، ليؤكد تماما هذه الحقيقة : ان الله يريد ويحترم حرية الانسان . يحترم حرية وهبها هو للانسان .</p>
<p>يحترمها إلى الحد الذي يسمح للانسان ان يستخدم ذلك الوجود . الذي وهبه له الله – ضد معطيه ( الله ) !.. يحترمها إلى حد أنه</p>
<p>يسمح للانسان ان يذهب في تمرده إلى أبعد الحدود ! وليس هذا هو ما حدث مع الشاب الغني والماثل الأن أمام عيوننا !!</p>
<p>فالايمان بالله ، وكما يريده الله ، يقين ، ولكنه يقين ينشأ ويتولد عن أرادة حرة غير مضطرة ولا مكرهة ، ذلك أن الله يريد أن يقبل اليه الانسان تلقائيا . لا مغلوبا على أمره ، يقبل الانسان اليه بحرية كاملة ، هي حرية الحب . فان هذه الحرية التي تأتي من الحب ، مليئة بشجاعة غلبت الموت وشهدت بقيمة الحب . وهذا ما فعله الشهداء حين أحبوا المسيح بحرية ، فقدموا من أجله كل شيء . لم يحبوا حياتهم الى الموت ، بل استعذبوا الألم من أجل المحبوب ، تخطوا تخوم الشك ، ويقين الايمان الحي ذهبوا وراء الرؤية البعيدة ، وشربوا كأس المر متلذذين !!</p>
<p>هذا هو مجد الله . حرية الانسان ! ليس في الله تسلط ، فهو لا يسلبنا ، انما نحن باختيارنا نأتي اليه ، بحرية البنين ، لا في خضوع العبيد ! نفعل هذا باستقلال الرجال الكاملين ، لا بتبعية الأطفال الصغار . نقبل اليه بحرية . بملء الارادة الكاملة الواعية.</p>
<p>هكذا يقول الله لنا :</p>
<p>( انني لا اطلب منكم سوى قلوبكم. خضوع العبيد كلهم تشمئز له نفسي . وأني أهب كل شيء مقابل  نظرة جميلة واحدة من رجل حر ، مقابل طاعة وحب واخلاص جميل يصدر عن رجل حر .. « من اختبر مرة واحدة أن يحب بحرية ، لا يعود يرى للخضوع</p>
<p>طعما .. من أختبر أن يحبه رجال احرار ، لا يعود يرى معنى لسجدات العبيد ! » )</p>
<p>حوار السيد مع الشاب .. وماذا يكشف ايضا ؟!</p>
<p>حوار السيد المسيح مع ذلك الشاب الغني يكشف لنا ايضا ، العديد من المسائل الروحية الهامة ، ويجدر بنا أن نتأملها وبكلمات قليلة – لانها مبادىء ومسائل تستلزم منا ممارسة واختبارا ، أكثر مما تستلزمه منا من فهم وادراك .. والضرورة تحتم علينا أن نتجاوز الكلمات لندخل عمق الاختبار.. نتأمل – أولا – مفهوم الحياة !</p>
<p>يسأل الشاب الغني السيد ويقول : ماذا أعمل لتكون على الحياة الأبدية ؟</p>
<p>والسيد يجيبه قائلا : أن أردت أن تدخل الحياة فاحفظ الوصايا ..تأمل كلمات السيد للشاب الغني وهو يجيبه على السؤال ؛ فهو لم يقل له : أن أردت أن تدخل الحياة الأبدية ، بل قال ، أن أردت أن تدخل– فقط – الحياة !</p>
<p>الحياة عند السيد ، وحسب نظرته تعني الحياة الأبدية &#8230;. نتأمل ثانيا – الوصية الأعظم ! قال السيد الكلى الصلاح للشاب الغني ، أن أردت أن تدخل الحياة فاحفظ الوصايا ! هذه وصية تحتاج الى اذن صاغية أكثر مما تحتاجه من شرح وتفسير ؛ فمن هو الذي لا يرغب في الحياة الا الذي لا يحفظ الوصايا ! وان كنا لا نحفظ الوصايا فكيف ننشد الحياة ؛ وان كنا متكاسلين فكيف نسارع إلى المجازاة !</p>
<p>والشاب الغني أجاب السيد في الحال : هذه حفظتها منذ حداثتی.</p>
<p>وهنا سمع الشاب من السيد الوصية الاعظم : إن أردت أن تكون كاملا ، بع كل أملاكك واعط الفقراء ، وتعال اتبعني حاملا الصليب</p>
<p>. وما سمعه الشاب من السيد ، نسمعه نحن ايضا في الانجيل .</p>
<p>فالسيد يجلس في السماء ، لكنه لا يمسك عن الكلام في الأرض ..هو يصرخ نحونا .. فلا نصم آذاننا .. يتحدث إلى كل انسان قائلا : ان كنت لا تستطيع أن تفعل الأمور العظيمة ، فافعل الأقل .</p>
<p>وان كان تنفيذ الوصية الأعظم صعب عليك ، فافعل الاقل. لماذا أنت متباطیء ، فلا تفعل هذه أو تلك !؟</p>
<p>.. نتأمل – ثالثا – عمل الشفقة !</p>
<p>قال السيد المسيح للشاب الغني ، وهو يرفع نظره إلى الوصية الاعظم ليرث الحياة : أن أردت أن تكون كاملا ، بع كل املاكك ،</p>
<p>واعط الفقراء ، فيكون لك كنز في السماء ، وتعال اتبعني حاملا الصليب.</p>
<p>غاية الناموس وذروته ، عمل الرحمة . إن بيع الممتلكات لا يكفي –في حد ذاته – وان كان السبيل إلى فعل العطاء ، هذا هو عمل</p>
<p>الرحمة ، أن نشارك الاعضاء المتأملة . المسيح ربنا عطاء كله ،واذ نحمله فينا ، بل صرنا جسده ، علينا أن نحس باحساسه فنشارك اعضاء جسده المتألمة.</p>
<p>هو حمل أتعاب المحتقرين والمرذولين .. بکی مع الباكين .. شعر بضعف الساقطين .. واستتر في الفقراء البائسين !! وعلينا نحن أن أردنا أن نتبع خطاة ، أن نعطى أنفسنا ، ونسكب حبنا على قدميه.</p>
<p>حديث إلى التلاميذ</p>
<p>وعندما مضى الشاب حزينا .. حينئذ تحدث السيد الى التلاميذ . بل تحدث الينا من خلال التلاميذ ، ليرسى مبادىء الملكوت . والطريق إلى الحياة الابدية..</p>
<p>قال السيد : ما أعسر دخول ذوى الأموال إلى ملكوت السموات .. مرور جمل من ثقب أبرة أيسر من دخول غني ملكوت الله . وعندما تحير التلاميذ استطرد السيد قائلاً : يابنى ما أعسر دخول المتكلين على الأموال إلى ملكوت الله .. ولما بهتوا إلى الغاية قائلين بعضهم لبعض : فمن يستطيع أن يخلص ؟ - يهدىء السيد من روعهم ويقول : عند الناس غير مستطاع ولكن ليس عند الله . لأن كل شيء مستطاع عند الله.</p>
<ul>
<li>والسيد يتحدث من خلال تلاميذه – أولا – الى أغنياء هذا الدهر !</li>
</ul>
<p>ويضع هذه الحقيقة أمام الأغنياء :</p>
<p>ان السماء لا تغلق أبوابها أمام الاغنياء ، لكن أمام المتكلين على غناهم !</p>
<p>ليس الغني ، لكن غرور الغني ..</p>
<p>ليس المال ، لكن محبة وعثرة المال ..</p>
<p>وليس الفضة أو الذهب ، بل الطمع .. فاذا كان مجرد الامتناع عن العطاء ، يكون عائقا للدخول إلى الملكوت ، فكم يكون الأمر صعبا</p>
<p>للذي يسلب ما للآخرين !</p>
<p>المسيح فى طوافه</p>
<p>السيد المسيح لم يذم الذهب أو الفضة أو الغنى ، وانما ذم الطمع ، لذلك يوصى القديس بولس اغنياء هذا الدهر قائلا :</p>
<p>( أوصى الأغنياء في الدهر الحاضر أن لا يستكبروا ولا يلقوا رجاءهم على غير يقينية الغني بل على الله الحي الذي يمنحنا كل</p>
<p>شيء بغنى للتمتع وان يصنعوا صلاحا وأن يكونوا أغنياء في اعمال صالحة ).</p>
<p>بماذا يوصيهم ؟ يوصيهم فوق كل شيء الا يستكبروا .. هو اذن الكبرياء الذي يحسون به بالاستغناء وكانه لا حاجة لهم بعد إلى شيء ..</p>
<ul>
<li>والسيد يتحدث – ثانيا – الى تلاميذه يبغي اعدادهم وتعليمهم !</li>
</ul>
<p>فالأمر الذي يجذب التفاتنا هو : لماذا يتحدث السيد الى التلاميذ وهم قوم فقراء ، عن عثرات المال ، ومحبة المال ربما ، كان يريدهم الا يخزوا من فقرهم .. وربما ، كان يشجعهم ، وقد تركوا كل شيء لكي لا يخجلوا من فقرهم اذا صار لهم غني الملكوت ..</p>
<p>والواقع ، أن الأمر الذي لا يدعو للتساؤل كما يدعو للدهشة في الوقت نفسه ، يكمن ليس في حديث السيد الى التلاميذ، بل بالاكثر في حيرة التلاميذ وخوفهم ، وهم فقراء ، جد فقراء !</p>
<ul>
<li>أتراها محبة ملأت قلوبهم ، اذا نظروا بعين ممتدة إلى المستقبل وهم يكرزون في عالم ، يمتلىء بالاغنياء ، فراعهم نهاية</li>
</ul>
<p>قوم  رغبوا  أن تكون لهم السماء !</p>
<p>وربما ايضا ، كانت حيرة التلاميذ مشوبة بنوع من التباهی ،الأمر الذي جعل كلمات السيد لهم ، تحمل تحذيرا من الكبرياء</p>
<p>.. ومن خلال حديثه إلى التلاميذ الفقراء، يتحدث إلى فقراء هذا الدهر ، لئلا يؤخذوا بالكبرياء ..</p>
<p>اني اسمع السيد يتكلم إلى فقراء هذا الدهر :</p>
<p>أيه أيها التلاميذ الفقراء .. أنكم أقرب إلى الفقر منكم إلى الغني،  فلماذا ترتاعون ولا تقبلون كلماتي ؟!</p>
<p>ان کنتم متباهين بفقركم ، فاحذروا الكبرياء لئلا يسقطكم . انکم ان افتخرتم بفقركم ، فالاغنياء المتضعون يسبقونكم ..</p>
<p>كونوا على حذر من عدم تقواكم ، لئلا يسبقوكم الأغنياء الصالحون .. لا تتباهوا بفقركم ، كما أنهم لم يتباهوا بغناهم .</p>
<p>نظرة خاطئة</p>
<p>مللر الوجودي المسيحي يرد على سارتر</p>
<p>متخذا من موفق السيد المسيح مع الشاب الغني الذي جاء اليه في حماس يركض وفي لإتضاع يجثوا ليسأله ماذا أعمل لأرث الحياة الأبدية..</p>
<p>نظرة خاطئة</p>
<p>يتبناها سارتر الوجودي الملحد عن يسوع المسيح ، مؤداها ، أنه حينما ينظر إلى الإنسان فأن هذه النظرة تفرغ الإنسان من مضمونه وتسلبه حريته وكأنه يقول ، أن الذين يتبعون المسيح هم قوم مسلوبي الإرادة .. هذا ما تفصح عنه رواية &#8221; الذباب &#8221; والتي من خلالها يعلن رؤيته الخاطئة عن السيد المسيح وأتباعه من المسيحيين ..</p>
<p>وهنا ينبرى له الفلیسوف الوجودى المسيحي &#8221; مللر&#8221; ليبين خطأ سارتر، ويضرب مثلا للقاء السيد المسيح مع الشاب الغنى ، فقد رأى فيه إخلاصاّ وإتضاعاً على نحو ما .. وحينما رد السيد المسيح على تساؤل الشاب وأشار إليه أن يبع كل أملاكه ويوزعها على الفقراء ثم يتبعه ..&#8221; مضي حزيناً إذ كان ذا أموال كثيرة &#8221;</p>
<p>وهنا يذكر مللر لسارتر</p>
<p>أن السيد لما وجد الشاب الغني التمس إخلاصا على نحو ما ..و يذكر البشير أنه &#8221; نظر إليه وأحبه &#8221;</p>
<p>هنا يتضح بوضوح أن نظرة السيد المسيح له لم تجمده أو تسلبه إرادته بل مضي حزيناً.</p>
<p>وهنا يقول مللر قولته الشهيرة .</p>
<p>&#8220;أن نظرة السيد المسيح للإنسان لا تجمد الإنسان أو تسلبه حريته لكنها توقظ في الإنسان حرية ماتت بالخطيئة &#8221;</p>
<p></p>
<p>ولعلك أيها القارئ العزيز لمست صدق هذه المقولة وأنت تقلب صفحات هذا الكتاب ولمست أن السيد المسيح في طوافه الدائم وهو يلتقي بالخطاة وينظر إليهم أن هذه النظرة أطلقتهم إلى الحرية ، &#8221; حرية مجد أولاد الله &#8221; <a href="#_ftn14" name="_ftnref14">[14]</a>&#8221; لأنه جاء ليكون لنا حياه وليكون لنا أفضل &#8221;</p>
<p></p>
<p></p>
<h3>من وحي قراءات اليوم</h3>
<p></p>
<p><strong>&#8221; ومضي حزينا لأنه كان ذَا أموال كثيرة &#8221; (مرقس ٢٢:١٠) إنجيل القداس</strong></p>
<p><strong>رسالة إلي صديقي المال</strong></p>
<p>+ هل ألقوك في يد يهوذا أم كان قيدك في قلبه لسنوات مستقرا ساكنا؟</p>
<p>+ هل احتقرت المرأة لما ألقت منك فلسين أم صدمت إذ رأيت الرب لها شاكرا؟</p>
<p>+ هل كنت سببا في غباء الغني لما بني لأجلك مخازنا؟</p>
<p>+ أم كنت عذرا لما ترك الشاب الغني تبعية المسيح خائبا؟</p>
<p>+ هل فشل بريقك مع أنطونيوس فصاربفقره الإختياري النجم في سماؤنا ؟</p>
<p>+ هل أنت حروف صنعنا منها كلمات أم أنت الكلمة والمنطق الذي مسخ وأفسد عقولنا؟</p>
<p>+ هل صرنا بك أغنياء أم فضح إمتلاكنا لك شدة بؤسنا و فقرنا؟</p>
<p>+ هل أنت في الكنائس تخدم إحتياج أولادنا أم أنت عنوان أرستقراطنا؟</p>
<p>+ هل أضعنا العمر لنحصد منك ألفا ومليونا بينما مات الحب في ابنائنا لكثرة غيابنا؟</p>
<p>+ هل يمكن أن تكون لنا عبدا أم ترانا في غباء وجهل سمحنا لك أن تكون أسوأ أسيادنا؟</p>
<p></p>
<p></p>
<p></p>
<h3>المراجع:</h3>
<p></p>
<p><a href="#_ftnref1" name="_ftn1"></a>١- القديس كبريانوس - تفسير تيموثاوس الأولي إصحاح ٦ - القمص تادرس يعقوب ملطي</p>
<p><a href="#_ftnref2" name="_ftn2"></a>٢- Oden, T.C. &amp; Hall, C.A. ( 1998 ). Mark ( The Ancient Christian Commentary on Scripture, New testament part II ). Illinois ( USA ) : InterVarsity press. Page 131,132</p>
<p>ترجمة الأخ إيفيت منير - كنيسة مار مرقس ببني سويف</p>
<p><a href="#_ftnref3" name="_ftn3"></a>٣- تفسير إنجيل لوقا للقديس كيرلس الإسكندري - ترجمة دكتور نصحي عبد الشهيد</p>
<p><a href="#_ftnref4" name="_ftn4"></a>٤- كتاب من كتابات القديس يوحنا ذهبي الفم صفحة ٣٧٦ - ترجمة القمص تادرس يعقوب ملطي وآخرين - كنيسة مار جرجس سبورتنج</p>
<p><a href="#_ftnref5" name="_ftn5"></a>٥- د. صموئيل القس قزمان معوض – جامعة مونستر بالمانيا</p>
<p><a href="#_ftnref6" name="_ftn6"></a>٦- المرجع : كتاب من مجد إلي مجد للقديس غريغوريوس النيسي ( فصل ٢٢ ، ٢٤ ) - ترجمة القمص إشعياء ميخائيل - كنيسة رئيس الملائكة ميخائيل بالظاهر</p>
<p><a href="#_ftnref7" name="_ftn7"></a>٧- المرجع تفسير سفر يشوع بن سيراخ اصحاح 20 و32 – القمص تادرس يعقوب ملطي</p>
<p><a href="#_ftnref8" name="_ftn8"></a>٨-   المرجع : كتاب المنجلية القبطية الأرثوذكسية صفحة ٢٠٨  - البابا تواضروس الثاني</p>
<p><a href="#_ftnref9" name="_ftn9"></a>٩- المرجع كتاب شفتاك يا عروس تقطران شهدا – دير الانبا شنودة العامر بايبارشية ميلانو</p>
<p><a href="#_ftnref10" name="_ftn10"></a>١٠- المرجع : كتاب حياتك تلميذا للمسيح صفحة  56 – الانبا ايساك الاسقف العام</p>
<p><a href="#_ftnref11" name="_ftn11"></a>١١-   المرجع : كتاب تاملات وعناصر روحية في احاد وايام السنة التوتية الجزء الاول صفحة  42 – اعداد القمص تادرس البراموسي</p>
<p><a href="#_ftnref12" name="_ftn12"></a>١٢- المرجع : كتاب تاملات روحية في قراءات اناجيل احاد السنة القبطية صفحة 94 – القمص لوقا سيداروس</p>
<p><a href="#_ftnref13" name="_ftn13"></a>١٣- المرجع : كتاب المواعظ النموذجية الجزء الثاني صفحة 195 – القمص بولس باسيلي</p>
<p><a href="#_ftnref14" name="_ftn14"></a>١٤- المرجع كتاب معاملات المسيح مع الخطاة للمتنيح الارشيدياكون رمسيس نجيب</p>
<p></p>
<p></p>
<p></p>

      {% endcreateArticleAccordions %}
    </section>
  {% endblock %}
  