---
layout: 'layouts/reading.html'
title: 'الأحد الأول من شهر كيهك'
permalink: sundays/4-1.html
---
  {% block content %}
    <section id="readings">
      <ul>
      {% if 'undefined' != 'undefined' %}
      
      {% else %}
      {% if '19.13:1,3' != 'null' %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">العشية</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeVespers '19.13:1,3' '41.14:3-9' %}
          </div>
        </div>
      </li>
      {% endif %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">باكر</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeMatins '19.102:19-21' '41.12:41-44' '' %}
          </div>
        </div>
      </li>
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <h3 class="flex items-center justify-between">
            <span class="kufi">القداس</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </h3>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeLitugy '45.1:1-17' '59.1:1-18' '44.1:1-14' '19.102:13,16' '42.1:1-25' %}
          </div>
        </div>
      </li>

      {% endif %}
        </ul>
    </section>
    <section id="article">
      <h3 class="mt-8 mb-4 heading-explain">شرح القراءات</h3>
      {% createArticleAccordions %}
        <p></p>
<p></p>
<p></p>
<p>العاقر ولدت سبعة، وكثيرة البنين ذبلت (١صم ٢ : ٥)</p>
<p>&#8221; تاج جمال : شيبة توجد في طريق البرّ &#8220;(أم ٣١:١٦)</p>
<p>&#8221; يا غبريال المبشر العظيم في الملائكة والطغمات المُقدَّسة العلوية حامل السيف الملتهب ناراً &#8230; وزكريا الكاهن أنت بشرته بميلاد السابق يوحنا المعمدان &#8221;    ذكصولوجية كيهك &#8211; الملاك غبريال</p>
<p>تمت ستة أشهر بتمام                   لها من بعد العقورية</p>
<p>لا يقول إلهك قط كلام                      إلا وفيه قدرة أزلية</p>
<p>( مديح خطرت حمامة في بيت زكريا )</p>
<p>&#8221; صمت زكريَّا هو صمت الأنبياء عند شعب إسرائيل، فلا يتكلَّم الله بعد مع اليهود بينما جاء الله الكلمة الذي من البدء. لقد صار معنا المسيح الذي لا يصمت، لكنه صامت حتى يومنا هذا بالنسبة لليهود<a href="#_ftn1" name="_ftnref1">[1]</a> &#8221;</p>
<p></p>
<p></p>
<h3>شواهد القراءات</h3>
<p></p>
<p>(مز١٢ :١-٤) ، (مر ١٤ : ٣-٩) ، (مز ١٠١ : ١٧-١٦) ، (مر١٢: ٤١-٤٤) ، (رو١ : ١-١٧) ، (يع١ : ١-١٨) ، (أع ١ : ١-١٤) ، (مز ١٠١ : ١١-١٤) ، (لو ١ : ١-٢٥)</p>
<p></p>
<p></p>
<h3>ملاحظات علي قراءات اليوم</h3>
<p></p>
<p>+ تتشابه قراءات اليوم مع قراءات يوم ٢٦ توت ( تذكار حبل إليصابات ) في كل شئ ما عدا مزمور عشيَّة ، والإبركسيس ، وزيادة آية ١١ في مزمور قدَّاس اليوم</p>
<p>+ قراءة إنجيل عشيَّة اليوم (مر ١٤ : ٣ &#8211; ٩) هي نفس قراءة إنجيل عشيَّة ليوم ٢٦ توت ( تذكار حبل إليصابات )</p>
<p>وهي القراءة التي تكلمت عن المرأة التي سكبت الطيب علي رأس الرب ، ومدحها الرب لمحبتها الكبيرة وجعل مدحها في الإنجيل في كل العالم ، لذلك جاءت في تذكار حبل إليصابات ( ٢٦ توت ) ، والبشارة بحبل إليصابات في الأحد الأوَّل من شهر كيهك</p>
<p>ونفس القصَّة ولكن من إنجيل متي (مت ٢٦ : ٦ &#8211; ١٣) جاءت أيضاً في قراءة إنجيل عشيَّة ليوم ٣٠ طوبي ( تذكار شهادةالعذاري بستيس وهلبيس وأغابي وصوفيا أمهن ) للحديث عن محبَّة المرأة للرب والتي شهدت لها به في عطاؤها الكبير فيسكب الطيب إشارة إلي عطاء الشهيدات بسكب الحياة كلها من أجل محبتهن للرب</p>
<p>+ مزمور باكر اليوم (مز ١٠١: ١٧-١٨ ) هو نفس مزمور باكر يوم ٢٦ توت ( تذكار حبل أليصابات )</p>
<p>مجئ المزمور اليوم للإشارة إلي إفتقاد الله للبشرية بتجسُّد الكلمة (نظر الرب من السماء علي الأرض</p>
<p>بينما مجئ القراءة في يوم ٢٦ توت للإشارة إلي إستجابة الله للمساكين &#8221; ليسمع تنهد المغلولين &#8221;</p>
<p>+ قراءة إنجيل باكر اليوم (مر١٢ : ٤١ &#8211; ٤٤) هي نفس قراءة إنجيل باكر ليوم ٢٦ توت</p>
<p>وهي القراءة التي تكلَّمت عن المرأة التي ألقت الفلسين ، لذلك جاءت اليوم كنموذج للتقوي مثل القديسة أليصابات في يوم ٢٦ توت ، وجات اليوم كنموذج لنفوس العهد الجديد الذين فاح تكريس حياتهم بظهور الكلمة المُتجسِّد</p>
<p>+ قراءة البولس أيضاً اليوم (رو ١ : ١ &#8211; ١٧) ، وقراءة الكاثوليكون (يع ١ : ١ &#8211; ١٨) هما نفس قراءة البولس والكاثوليكون ليوم ٢٦ توت ( تذكار حبل إليصابات ) والإشارة هنا في قراءة الأحد ، وهناك ( ٢٦ توت ) إلي شهود وخدَّام تجسُّد الكلمة ( زكريا وإليصابات ) ، اللذان يتبرَّران بالإيمان &#8221; إن البارفبالإيمان يحيا &#8211; البولس &#8221; ، وأيضاً بإحتمالهم التجارب يتزكَّيان بالإيمان &#8221; لأنه إذا صار مختاراً ينال إكليل الحياة &#8211; الكاثوليكون &#8220;.</p>
<p>+ قراءة الكاثوليكون اليوم تُشبه قراءة الكاثوليكون (يع ١ : ١ &#8211; ١٢) ليومي ٢٧ هاتور ( شهادة القديس يعقوب المقطع ) ، ويوم ١٧ مسري ( شهادة القديس يعقوب بن فجوج )</p>
<p>وهي القراءة التي تكلمت عن الذين إحتملوا التجارب الشديدة المتنوعةمثل القديس يعقوب المُقطع ( ٢٧ هاتور ) والقديس يعقوب بن فجوج ( ١٧ مسري ) ، كما أنها في هذه القراءة تُشير إلي القديس يعقوب كاتب الرسالة</p>
<p>والإشارة إلي الذين إحتموا تجارب متنوعة مثل القديس إليصابات ( ٢٦ توت ) ، والإشارة إلي المولودين من فوق بتجسُّد الكلمة ( الأحد الأوَّل من كيهك )</p>
<p>+ قراءة الإبركسيس اليوم (أع ١ : ١ &#8211; ١٤) تكررت يوم  ٢٢ بابه ، يوم ١ بشنس</p>
<p>وهي إفتتاحية سفر الأعمال وهي التي يبدأ فيها القديس لوقا كلامه مع ثاوفيلس لذلك جاءت في تذكار لوقا الإنجيلي ( ٢٢بابه ) ، كما تُشير القراءة أيضاً في نهايتها بإجتماع الآباء الرسل الدائم للصلاة بنفس واحدة مع والدة الإله إنتظاراً لحلول الروح المُعزِّي لذلك جاءت أيضاً في تذكار ميلاد والدة الإله ( ١ بشنس ) ، بينما مجيئها في قراءة الأحد الأوَّل من شهر كيهك للإشارة إلي التدبير الإلهي لخلاص البشر وأزمنة الله للخلاص التي لا ندركها كبشر.</p>
<p>+ مزمور القدَّاس اليوم (مز ١٠١ : ١٤) تكرَّر في مزمور قدَّاس الأحد الأوَّل من شهر كيهك</p>
<p>والعجيب إضافة آية أخري &#8211; مع آية ١٤ &#8211; من نفس المزمور في قراءة يوم ٢٦ توت &#8221; لأنه نظر إلي صلاة المساكين &#8221; للإشارة إلي إستجابة الله لزكريا وإليصابات</p>
<p>لكن آية ١٤ تتكلَّم عن إفتقاد الله للبشرية بتجسَّد الكلمة في ملء الزمان &#8221; لأنه وقت التحنن عليها &#8221;</p>
<p>+ قراءة إنجيل قدَّاس اليوم (لو ١ : ١ &#8211; ٢٥) هي نفس قراءة إنجيل قدَّاس يوم ٢٦ توت</p>
<p>والإشارة اليوم إلي التدبير الإلهي في تجسُّد الكلمة بالبشارة بميلاد يوحنا الذي سيعد الطريق أمام الرب</p>
<p>أمَّا مجيئها يوم ٢٦ توت فهو للإشارة إلي إستجابة الله لزكريا وإليصابات وتعويضه الإلهي لهم علي تقواهم بمجئ يوحنا السابق الصابغ</p>
<p></p>
<p></p>
<h3>شرح القراءات</h3>
<p></p>
<p>يعلن هذا الإسبوع شهود وخدام تجسد الكلمة</p>
<p>تُعْلِن المزامير عطش البشرية للمُخلِّص ( مزمور عشيّة ) وإستجابة الله ( مزمور باكر ) ومجئ ملء الزمان ( مزمور القدَّاس )</p>
<p>يعلن مزمور عشية &#8221; صراخ &#8221; المحتاجين للخلاص ( الي متي يارب تنساني-حتي متي تصرف وجهك عني )</p>
<p>أما مزمور باكر فيطمئنا عن &#8221; نظر الله وسماعه لنا &#8221; ( نظر الرب من السماء علي الأرض-ليسمع تنهد المغلولين )</p>
<p>لذلك يفرحنا مزمور القداس ب&#8221;تحنن الله وظهور مجده &#8221; ( وقت التحنن عليها-لأن الرب يبني صهيون ويظهر بمجده )</p>
<p>أما القراءات فتُعْلِن شهود العهد القديم الأنبياء ( البولس ) وشهود العهد الجديد الآباء الرسل وكل المؤمنين ( الكاثوليكون ) ومصدر قوّة شهادتهم ( الإبركسيس )</p>
<p>لذلك يعلن البولس عن وحدة العهدين القديم والجديد وروح الشهاده للكلمة ووحدتها عند شهود العهد القديم ( الأنبياء ) وشهود العهد الجديد ( الرسل ) لذلك يعلنها الرسول بولس بوضوح ( بولس عبد ليسوع المسيح الرسول المدعو المفرز لإنجيل الله الذي سبق فوعد به من قبل أنبياءه في الكتب المقدسة عن إبنه الذي صار من نسل داود بحسب الجسد )</p>
<p>أما الكاثوليكون فيعلن أن ليس فقط الأنبياء أو الرسل شهود لتجسد الكلمة بل كل المؤمنين في شتات العالم بإيمانهم الصامد غير المتزعزع وقت التجارب التي لاتأتيهم من توانيهم بل بسماح من الله والذين بحياتهم وبولادتهم الجديدة من الكلمة صاروا باكورة من خلائقه ( يعقوب عبد الله وربنا يسوع المسيح يهدي السلام إلي الإثني عشر سبطا الذين في الشتات-وأما الصبر فليكن فيه عمل تام لكي تكونوا كاملين وأصحاء غير ناقصين في شئ -قد شاء فولدنا بكلمة الحق لكي نكون باكورة خلائقه )</p>
<p>أما الإبركسيس فيعلن مصدر شهادة العهد الجديد وسر قوة شهاده الآباء الرسل ( ولكنكم ستنالون قوة متي حل الروح القدس عليكم وتكونون لي شهودا في أورشليم وفي كل اليهودية والسامرة وإلي أقصي الأرض )</p>
<p>أما الأناجيل فتعلن شهود الحب الإلهي ( إنجيل عشيّة ) وشهود العطاء الإلهي ( إنجيل باكر ) وشهود الإيمان والتقوي رغم العار ( إنجيل القدَّاس )</p>
<p>يقدم إنجيل عشية أحد شهود الكلمة وهي المرأة الغنية جدا بمحبتها للرب والطيب التي سكبته</p>
<p>إشارة الي كل نفس تريد أن تكون شاهدة له فتقدم أغلي ماعندها قارورة حياتها وتكريس قلبها الكامل للرب وهذا هو موضوع الكرازة بالإنجيل سكب الطيب الذي هو الحب الإلهي للبشر والذي سوف يملأ البيت كله الذي هو الكنيسة</p>
<p>وهنا أعطي الرب المرأة نعمة إعلان حبها في كل العالم كما أعطي للقديس بولس اليوم أيضاً نعمة إطاعة الإيمان في جميع الأمم</p>
<p>أما إنجيل باكر فيعلن شاهدة أخري للحب الإلهي الأرملة المسكينة ليعلن الإنجيل أن الله لاينظر إلي ثلاث مئة دينار أو فلسين بل إلي القلوب المشتاقة للحب الإلهي التي لاتتردد عن أن تعطي كل ماعندها كل معيشتها</p>
<p>والعجيب أن البعض إعترض علي تقدمة الطيب الغالي بحجة إحتياج الفقير في إنجيل عشية فتقول المرأة الفقيرة جدا في إنجيل باكر أنها لاتحتاج لتفضل محبة البشر فيزيدوا لها ماتملك أكثر من الفلسين بل هي بملء الفرح تعطي الكل لتعلن غناها الداخلي أكثر من المتفضلين بعطاء الماديات دون غني الحب الداخلي</p>
<p>أما إنجيل القداس فيقدم لنا أجمل وأعظم نموذج لشهود الكلمة في العهد القديم زكريا وأليصابات اللذان كانا سالكين في جميع وصايا الرب وأحكامه بلا لوم لكن هذا لم يمنع عقم البشرية في العهد القديم عن تقديم الخلاص أو معرفته ولم يقلل من العار الذي كانت تعيشه البشرية نتيجه هذا العقم والتي كانت تمثله عقم أليصابات وعارها والتي بشرها الملاك بقبول شهادتهم للكلمة وإعدادهم كخدام للتدبير الإلهي للخلاص بولادة يوحنا المعمدان</p>
<p>أما رئيس الملائكة فما أعظم أن تكون قيمة بشارته وسلطانها من وقوفه الدائم أمام الله</p>
<p><a href="#_ftn2" name="_ftnref2">[2]</a>(ما أجمل أن يتشرف ويفتخر جبرائيل الملاك بأنه الواقف أمام الله وما أجمل أن يكون هذا فخر كل انسان )</p>
<p></p>
<p></p>
<h3>ملخص القراءات</h3>
<p></p>
<p>لذلك فإن شهود التجسد هم البشرية التي تئن               (مزمور عشية وباكر والقداس )</p>
<p>وهم أنبياء العهد القديم ورسل العهد الجديد                    ( البولس وإنجيل القداس )</p>
<p>والنفوس المحبه جدا للرب                                              (إنجيل عشية وباكر )</p>
<p>والمؤمنين في كل مكان وزمان                                         ( الكاثوليكون )</p>
<p>وسر شهادتهم وقوتها في ملء الروح فيهم                           ( الإبركسيس )</p>
<p></p>
<p></p>
<h3>إنجيل القدَّاس في فكر آباء الكنيسة</h3>
<p></p>
<p>&#8220;معروف منذ البداية عن إنجيل لوقا أنه يعنى بالسرد التاريخي، وبالتركيز على مواضيع وأحداث – تلك التي تُعْرَف بال(لوقاوية) إلى يومنا هذا. وتعد معجزات يسوع وتعاليمه الأخلاقية بمثابة أمثلة توضح نهج معلّمنا لوقا في تناوله التاريخي للكتابة. وضع لوقا لإنجيله إطارًا كهنوتيًّا، مبتدئًا بتقدمة زكريّا في الهيكل حسب طقس اللاويّين، ومنتهيًابضحية الكهنوت؛ يسوع: الثور {العجل – على حد تعبير القديس &#8211; } الذي رُفِع ذبيحة على الصليب. والثور هو رمزُ إنجيل لوقا بحسب النبوءة، وهو ذبيحة الكفّارة، والتي ترتكز عليها بشارة الإنجيل.&#8221; (القديس أمبروسيوس).</p>
<p>&#8220;يقدّم لنا لوقا الإنطاكيّ – الطبيب الشافي لأمراض الجسد –يسوعالمعطي بدمه ترياق الخلود. أما بولس، فهو يتخذ إنجيل لوقا له رفيقأسفاره موضحًا أن به يتم شفاء الأنفس.&#8221; (القديس يوسابيوس).</p>
<p>&#8220;الروح القدس قد أعطى الكنيسة إنجيلاً واحدًا في أربعة كُتُب.&#8221; (العلّامة أوريجانوس).</p>
<p>&#8220;إن لوقا البشير لا يقُصّ رواية تجريدية أو حيادية؛ بلْ يقرّ إقرارًا مقْنِعًا مشبَّعًا بمعنى المسيحية.&#8221; (القديس أمبروسيوس)</p>
<p>&#8220;يعدّ ثاوفيلُس مثالاً لجماعة بعينها مِن الناس، أَلَا وهي جميع هؤلاء الذين يحبّون الله: المُعمَّدون باِسمه، ومن هم أهل للمعمودية أيضًا.&#8221; (القديس أمبروسيوس).</p>
<p>&#8220;هكذا يكون هدف إنجيل لوقا؛ الكرازة بالإيمان الكامل الثابت الذي به يكون الخلاص. هذا الإيمان تثبّته وترسّخه محاضرات دراسة الإنجيل، لأنها تعليمية منسَّقة ومدقّقة في وصف ما يحدث.&#8221; (العلّامة أوريجانوس).</p>
<p>&#8220;ما كُتِبَ عن زكريا وأليصابات قد كُتِبَ بلغةٍ تنمّ عن أنهما مِن سلسال مَن تبقّوا مِن مؤمني العهد القديم. فالاثنان كلاهما مِن أصلٍ كهنوتي: زكريا مِن نسل أبيّا، وأليصابات مِن بنات هارون.&#8221; (القديس أمبروسيوس).</p>
<p>&#8220;كانت أليصابات عاقرًا؛ وكان كِلَا الاثنان في سن لا أمل فيه بإنجاب. لكنّ الله استخدم كونَها عاقرًا لكي يمنّ عليها بولادة معجزية لإنسانٍ معدّ للقداسة – هكذا كما كان صنيعه مع سارة ورفقة وراحيل وحنّة. (العلّامة أوريجانوس).</p>
<p>&#8220;صمت زكريا هو علامة شكّه، وإشارة إلى أن آل إسرائيل لم يسمعوا لصوت الأنبياء.&#8221; (العلّامة أوريجانوس).</p>
<p>&#8220;ما يرتاب فيه زكريا هو كلام الله ووعده.&#8221; (القديس فم الذهب).</p>
<p><a href="#_ftn3" name="_ftnref3">[3]</a>&#8220;تواضع أليصابات هو الذي جعلها تدرك أن الله قد أزال عارها بفعله العجيب.&#8221; (القديس أمبروسيوس).</p>
<p></p>
<p></p>
<h3>الكنيسة في قراءات اليوم</h3>
<p></p>
<p>التبرعات والعشور                                         إنجيل باكر</p>
<p>الإنجيل قوة الله للخلاص                                 البولس</p>
<p>الصعود للسماء وإرسالية الروح القدس              الإبركسيس</p>
<p>خدمة الملائكة                                               إنجيل القدَّاس</p>
<p>شواهد كتابية (عب١١)- (١بط١٠:١)- (رو٩: ٢٥-٢٧)-(رو٤ )- (يو٥: ٤٥-٤٦) &#8211; (أش١:١١) &#8211; (أش٦١) &#8211; (خر ٣ )- (أم ٤:٣٠) &#8211; (أش٦:٩) ، (أش١٤:٧)</p>
<p></p>
<p></p>
<h3>أفكار مقترحة لعظات</h3>
<p></p>
<p><strong>(١) شهود الكلمة المُتجسِّد</strong></p>
<p>١- شهود غني وسكيب الحب                                               إنجيل عشيّة</p>
<p>٢- شهود العطاء رغم الإعواز                                                  إنجيل باكر</p>
<p>٣- الخادم المفرز لإنجيل الله                                                   البولس</p>
<p>٤- أنبياء العهد القديم                                                           البولس</p>
<p>٥- المولودين من فوق وباكورة خلائقه                                      الكاثوليكون</p>
<p>٦- شهوده في أورشليم وفِي كل مكان                                    الإبركسيس</p>
<p>٧- الكنيسة المُصلِّية بنفس واحدة                                          الإبركسيس</p>
<p>٨- خدام بلا لوم برغم العار والضيق مثل زكريا وإليصابات               إنجيل القدَّاس</p>
<p><strong>(٢) حياة زكريا واليصابات</strong></p>
<p>١- عاقراً &#8211; العار</p>
<p>الضيقة من الله والثمن من الناس</p>
<p>كان عدم إنجاب أليصابات ضيقة سمح بها الله لهذه الأسرة التقيّة كما يسمح الله لكل إنسان وكل اسرة بتجارب وضيقات متنوعة   (يع ٢:١) لكن كان الثمن غاليا من الناس ورأيهم ونظراتهم وتقييمهم للتجربة كانها غضب الهي او عقاب سماوي وهذا كان اصعب من التجربة ذاتها</p>
<p>٢- بلا لوم</p>
<p>كيف يحيا إنسان في تجربة شديدة لسنين عديدة وتكون حياته وعبادته امام الله بلا لوم ؟</p>
<p>غالبا السر في عدم مفارقة زكريا الكاهن الهيكل وعدم تكاسل اليصابات عن الوصيّة كما كانت حنة (لو ٣٦:٢) لا تفارق الهيكل عابدة باصوام وطلبات ليلا ونهارا لذلك احتملت حنة تجربة الترمل في سن صغير واحتملت اليصابات العقم من الله والعار من الناس</p>
<p>٣-  طلبتك قد سمعت</p>
<p>التدبير الالهي</p>
<p>انتظر الله علي طلبة زكريا واليصابات الي قبل الوقت المعين لبشارة الملاك لوالدة الاله بستة اشهر ليكون طفلهم السابق للمسيا والوحيد الذي وضع يده علي رأس السيد</p>
<p>فلم يتأخر الله ولكنها كانت خطة الهية وبركة سماوية لهذه الاسرة ليكون طفلهم اعظم مواليد النساء (لو ٢٨:٧)</p>
<p>٤-  لم تصدق كلامي</p>
<p>الضعف البشري</p>
<p>رغم ان حياتهم بلا لوم لكن هذا لا يلغي الضعف البشري</p>
<p>ضعف القديس زكريا لم يلغي تدبير الله ولم يمنع عطية الله له في الإمتلاء من الروح ولكن ربما تأجل إمتلاؤه من الروح تسعة اشهر لحين تحقيق الوعد</p>
<p><strong>(٣)  صفات خدَّام الله وسمات خدمتهم                                  إنجيل القدَّاس</strong></p>
<p>عظة يوم ٢٦ توت</p>
<p>يُعْلِن رئيس الملائكة عن صفات وسمات من يخدم أمام الرب</p>
<p>وخمراً ومسكراً لا يشرب  ( نقاوة الحياة وقداستها )</p>
<p>ومن بطن أمِّه يمتلئ من الروح القدس ( قيمة دور الأم في إعداد أبنائها للخدمة )</p>
<p>ويرد كثيرين .. إلي الرب إلههم ( دعوة الخادم ومركز خدمته الدعوة للتوبة )</p>
<p>وهو يتقدم أمامه بروح إيليا وقوّته ( يأخذ الخادم قوَّة خدمته من وجوده الدائم في حضرة الرب )</p>
<p>ليرد قلوب الآباء إلي الأبناء ( من ثمار زيارته للبيوت حلول السلام &#8211; يحل سلامكم عليه )</p>
<p>والعصاة إلي فكر الأبرار ( من بركات عمل النعمة مع الخادم تغيير العصاة )</p>
<p>يهيئ للرب شعباً مبرراً ( هذا هو الهدف النهائي لكل أعمال الخدمة وتعبها الشعب المبرر )</p>
<p></p>
<p></p>
<h3>عظات ابائية</h3>
<p></p>
<p></p>
<h4>مفهوم &#8221; بلا لوم &#8221; في فكر العلامة أوريجانوس</h4>
<p></p>
<p>وكانا كلاهما بارين أمام الله سالكين في جميع وصايا الرب وأحكامه بلا لوم (لو٦:١)</p>
<p>إن الذين يطلبون مغفرة خطاياهم، ينادون أنه ما من شخص بلا خطيه وهم فى هذا يحتكمون إلى شهادة سفر أيوب</p>
<p>حيث يقول: &#8220;من يخرج الطاهر من النجس؟ لا احد! إن كانت أيامه محدوده وعدد أشهره عندك وقد عينت أجله فلا يتجاوزه (أي4:14-5) إنهم في الحقيقة يلوكون بهذه الكلمات، لكنهم يجهلون معناها بالتمام وعلينا أن نجيبهم باختصار:ان تكون بغير خطيةمعناه فى الكتاب المقدس اما انك لم تخطئ ابدا على الإطلاٌق أو انك توقفت عن عمل الخطية.</p>
<p>لو أن هذه العبارة تصف من لم يخطئ أبدا، فإننا نوافق على انه لا احد بغير خطيه.</p>
<p>فجميعنا قد أخطأ فى لحظه ما حتى وإن كنا قد تبررنا بعد ذلك، لكن إذا ما أخذنا معنى هذه العبارة على أنه ينكر أن أي أحد، بعد أن يخطئ يستطيع أن يعود إلى ممارسة الفضيلة ولا يخطئ ثانية، فلابد أن رأيهم هذا خطا، ذلك لأن من يخطئ بإمكانه أن يتوقف عن عمل الخطية، وهذا ما يقال عنه أنه &#8220;بغیر دنس . فمكتوب عن السيد المسيح &#8220;يحضرها لنفسه كنيسة مجیدة لا دنس فيها ( اف٢٧:٥ )</p>
<p>لا بمعنى أن أعضاء الكنيسة لم يكونوا أبدا بغیر دنس، لكن بمعنى أنهم قد تحرروا من الدنس.</p>
<p>ويضيف الكتاب المقدس بلا عيب ، لا لأن أعضاء الكنيسة لم يكنلديهم نقائص الإنسان العتيق في وقت ما، وممارسات الإنسان العتيق السابق والكلمات التالية يجب أن تفهم داخل هذا الإطار: ومن ثم يجب على الكنيسة أن تكون مقدسة وبلا عيب أن « وليس معنى هذا أن أعضاءها لم يكونوا بلا عيب منذ البداية، لأنه لا أحد يتوقع انهم لم يخطئوا أبدا، لكن لأنهم حسبوا أنقياءا وبلا لوم بعد أن إنقطعوا عن الدنس. ونحن نقول هذا لكي نعلمكم أنه إذا توقف شخص ما عن الخطية، فهذا يدعي بلا دنس وبلا عيب.</p>
<p>ومن هذا المنطلق يقول الكتاب المقدس بوضوح عن زکریاوأليصابات: ”وكانا كلاهما بارين أمام الله سالكين في جميع وصايا الرب وأحكامه بلا لوم» (لو١: ٦).</p>
<p>دعنا نتمعن اكثرفى المديح الذي كتبه القديس لوقا فى روايته عن ّزكريا واليصابات، ليس فقط لأجل إستحقاقهما لهذا المديح لكن ايضا لكى نجعل من حماستهما المقدسة مثالا لنا نحذوا حذوه،فنصبح مستحقين لان نمتدح ايضا.</p>
<p>لقد كتب القديس لوقا ببساطة انهما كانا &#8220;سالكين فى جميعوصايا الرب (لو٦:١) وذلك بعد أن قال: &#8221; وكانا كلاهما بارين أمام الله (لوا:6) لأنه كثيرا ما كان يحدث أن يكون شخص ما بارا فىأعين الناس لكنه ليس بار فى عینی الله ، على سبيل المثال، شخص ما ليس لديه ما يدعيه على وليس لديه ما يلوم به على.</p>
<p>وهكذا فإني أكون بارا في أعين الناس؛ تخيل أن كل شخصلديه نفس الرأی عنى فإنهم يبحثون عن أي شيء يدينونني به، لكنهم لم يجدوا مثل هذا الشيء. فإنهم إذن يمتدحونني بالإجماع، على اعتبار أنني بار في أعين كثيرين، لكن حكم الناس غير مؤكد، لأنهم لا يعرفون إن كنت قد أخطأت ذات مرة في أعماق قلبى الخفيه او ان كنت قد رأيت إمرأة وإشتهيتها، أو زنيت بها في قلبي أم لا.</p>
<p>حينما يرانى الناس أعطى الصدقات، فإنهم لا يعلمون إن كنت أفعل هذا لأجل أن أتمم وصايا الله ام لأجل أنني أسعى لأن يمتدحني الناس ويهتفون لى والقديس لوقا البشير يقصد هذا، أي أنه يقصد &#8220;الذي مدحه ليس من الناس بل من الله ” (رو٢٩:٢) حقا، مغبوط هو الإنسان البار الجدير بالثناء في عيني الرب، من أجل هذا قد يبدو للناس أن لديهم حكم واضح،إلا أن حكمهم ليس معصوما من الخطأ اذ قد يحدث أحيانا، أنهم يمتدحون شخصا ما لا يستحق المديح أو الإطراء، ويلومون آخر لا يستحق اللوم على الإطلاق. لأنه إن كان هناك حكم بالمديح أو اللوم فإن حكم الله وحده هو الحكم العادل.</p>
<p>ومن ثم حسن أن أضاف القديس لوقا لتطويب هذين البارين أنهما كانا بارين أمام الله &#8221; (لو١: ٦)</p>
<p>ونحن حين نسلك فى أحكام الرب فاننا نحكم بحق على نحو صائب. واننى أعتقد أن القديس لوقا أثنى عليهما بمديح کامل حين قال عنهما :</p>
<p>وكانا كلاهما بارين أمام الله سالكين فى جميع وصايا الرب وأحكامه (لو ٦:١)</p>
<p>قد يقول شخص ما: &#8220;إن هذا المديح كاملا فلماذا يضيف الكتاب المقدس &#8221; بلا لوم؟</p>
<p>كان يكفي القول أنهما سالكين فى جميع وصايا الرب وأحكامه&#8221; وهو ملام .لانه كيف يمكن للشخص السالك فى جميع وصايا الرب وأحكامه أن يقع تحت اللوم؟</p>
<p>سأجيب (بايجاز): أن لم يكن هذا ممكنا&#8221; ماكنا لنفهم ما يعنيه نص اخر&#8221; العدل تتبع&#8221; (تث ١٦-٢٠)</p>
<p>لانه ان لم يكن هناك أمكانيه لفعل العدل &#8221; فاننا لن نسلك بالعدل والوصايا لكى نتبع بعدل ما هو عدل. اذ نحن حين نسلك فى وصايا الله &#8221; لنا ضمائرنا أيضا &#8230;  فقد نكون مدفوعين للقيام بالاعمال الحسنة لاجل ارضاء الرب.ونحن فى مثل هذه الحالات نتمم وصايا الله&#8221; لكننا لا نعملها &#8220;بغير لوم&#8221; اذ نحن نتبع بغير عدل ما هو عدل.حيث انه من الصعب أن نسير بغير لوم فى ميع وصايا الرب وأحكامه، إن كنا متبعین شهادة الرب في المسيح يسوع، ومديحه الذي سيعطى في يوم الدينونة أنه لابد أنناجميعا نظهر لينال كل واحد ما كان بالجسد بحسب ما صنع خيرا أم شرا (٢كو ١٠:٥)</p>
<p><a href="#_ftn4" name="_ftnref4">[4]</a>&#8220;لأننا جميعا سوف نقف أمام كرسى المسيح&#8221; (رو ١٠:١٤) لنأخذ مانستحق.</p>
<p></p>
<p></p>
<h4>البشارة بميلاد يوحنا عند القديس أمبروسيوس</h4>
<p></p>
<p>+ عبارة &#8220;بارّيْن أمام الله&#8221; لها مغزاها، فالأبرار أمام الناس ليسوا بالضرورة أبرارًا أمام الله. نظرة الإنسان</p>
<p>تختلف عن نظرة الله، &#8220;لأن الإنسان ينظر إلى العينين، وأما الرب فينظر إلى القلب&#8221; (١ صم١٦: ٧). فقد يبدو لي أن إنسانًا ما يستحق أن يُدعى بارًا، لكنه عند الرب ليس هكذا، لأن الدافع لقداسته هو التملُّق لا القلب البسيط. إذن فالإنسان لا يقدر أن يميِّز الخفيَّات، والمكافأة الكاملة هي أن نُحسب أبرارًا أمام الله، وكما يقول الرسول: &#8220;الذي مدحه ليس من الناس بل من الله&#8221; (رو٢: ٢٩). مطوّب بحق ذاك الذي يتبرَّر أمام الله! مطوّب بحق ذاك الذي يتأهَّل أن يسمع الرب يقول عنه: &#8220;هوذا إسرائيلي حقًا لا غشَّ فيه&#8221; (يو ١: ٤٧). فالإسرائيلي الحقيقي هو الذي يرى الله ويُدرك أن الله يراه، كاشفًا خبايا قلبه.]</p>
<p>+ يوجد فرح خاص في بداية الحمل بالقدّيسين وعند ميلادهم، فالقدّيس لا يُفرِّح عائلته فحسب، وإنما يكون سببًا في خلاص الكثيرين. إن هذه العبارة تعلَّمنا أن نتهلَّل بميلاد القدّيسين.]</p>
<p>+ حياتنا لا تُقيَّم حسب الزمن وإنما حسب درجات الفضيلة&#8230; فقد دُعي يوحنا عظيمًا لا بسبب قوَّته  الجسديّة بل الروحيّة، فإنَّه لم يقهر إمبراطوريَّات ولا وضع في برنامجه أن تكون له غنائم ونصرات، بل تطلَّع إلى ما هو أفضَّل جدًا، إذ كان الصوت الصارخ في البريّة الذي صرع الملذَات الجسديّة وتراخي الجسد بسمو روحه وقوَّتها. كان صغيرًا في الأمور العالميّة، عظيمًا في الروحيات. أخيرًا فإنَّ سر عظمته هو عدم سيطرة حب هذه الحياة الزمنيّة عليه الأمر الذي لم يعقه عن إدانة الخطيّة.</p>
<p>+ كان يفتقر لروح الحياة (كجنين) ونال روح النعمة، فإنَّ حقيقة الحياة تسبقها النعمة للتقديس، إذ يقول الرب: &#8220;قبلما صوَّرتك في البطن عرفتك، وقبلما خرجت من الرحم قدَّستك، جعلتك نبيًا للشعوب&#8221;(إر ١: ٥). شتَان بين روح العالم وروح النعمة،فالأولى تبدأ بالميلاد وتنتهي بالموت، أما الثانية فلا يحدّها الزمن ولا السنين، ولا يطفئ الموت شعلتها، ولا يغلق عليها رحم الأمومة&#8230; إن من يمتلك روح النعمة لا يعود يفتقر إلى شيء، ومن نال الروح القدس بلغ قمة الفضائل.</p>
<p>+ الصمت هو الكف عن تقديم الذبائح وسكوت الأنبياء، فقد توقَّف صوت النبي والكاهن، إذ يقول الله &#8220;سأنزع الجبار والنبي والقاضي&#8221; (إش١: ٣١)&#8230; أما بالنسبة لنا، فقد جاء إلينا كلمة الله الذي لا يمكن أن يسكت فينا، لذا لا يستطيع اليهودي أن يحاور المسيحي: &#8220;إذ أنتم تطلبون برهان المسيح المتكلَّم فيَّ&#8221; (١كو ١٣: ٣).</p>
<p>+ عاش إيليَّا في البريّة وكذا يوحنا، وكانت الغربان تعول الأول أما الثاني ففي طريق البريّة قد داس كل إغراءات الملاهي، وأحبَّ الفقر مبغضًا الترف. الواحد لم يسَعَ لكسب رضاء آخاب الملك، والثاني اِحتقر رضا هيرودس الملك.</p>
<p>رداء الأول مزَّق مياه الأردن، بينما الثاني جعل من هذه المياه مغسلًا يهب خلاصًا.</p>
<p>الأول ظهر مع الرب في المجد (عند التجلِّي)، والثاني يحيا مع الرب في الأرض.</p>
<p>واحد يسبق مجيء الرب الأول والآخر يسبق مجيئه الثاني.</p>
<p>الأول أنزل الأمطار على الأرض بعد أن جفَّت ثلاث سنوات والثاني غسل تراب أجسادنا في مياه الإيمان خلال ثلاث سنوات (سنة عهد الآباء وسنة عهد موسى والأنبياء؛ ثم سنة مجيء الرب إلهنا ومخلِّصنا)<a href="#_ftn5" name="_ftnref5">[5]</a>.</p>
<p></p>
<p></p>
<h4>القديس غريغوريوس النيسي</h4>
<p></p>
<p><strong>يوحنا المعمدان هو صوت اليمامة الذي يبشرنا بإقتراب الربيع الذي هو الرب يسوع</strong></p>
<p>الشتاء الأن قد مضى :</p>
<p>لقد تحدث الكلمة الى العروس ودعاها حبيبتى لأنها سارت قريبة اليه ودعاها حمامة لأنها صارت جميلة . والآن يستمر ويقول لها أن كآبة الشتاء لن تعد تتسلط على نفوسنا لأن البرد لا يمكن أن يستمر رغم أشعة شمس التوبة ولذلك يقول لها &#8221; ان الشتاء قد مضى والمطر مر وزال &#8221; (نش ٢ : ١١). ان الخطية لها أسماء كثيرة وفقا لتأثيراتها المختلفة ، أحيانا يعبر عنها بالشتاء وأحيانا أخرى بالمطر وكل اسم منها يحمل نوعا معينا من التجربة ، ففى وقت الشتاء يختفى ويجف كل شىء محبب للنفس ، كل أوراق الشجر التى هى الغطاء الطبيعى لجمال الأشجار تسقط على الأرض ، ويكف غناء العصافير وطائر العندليب يطير ويهرب بعيدا وتنام العصافير وتترك الحمامة عشها، وكل شىء باختصار يأخذ شكل الموت القاسى ، الأزهار تهلك والحشائش تموت والأغصان تعرت من الأوراق مثل العظام التى خلعت من أجسادها ، والورود والأغصان الحلوة الجميلة أصبحت الأن فى صورة قبيحة .</p>
<p>وهناك تغيرات أخرى تحدث فى فصل الشتاء للبحار لأن البحر يثور ويرتفع ليغرق الهضاب والجبال وتفيض المياه فوق حدودها المألوفة وتهاجم الأرض وتلتهمها كأنها عدو وتتعاقب هجمات الأمواج على الأرض مرات كثيرة متعاقبة وكأنها هجوم مسلح بالأسلحة .</p>
<p>وعلينا أن نفكر فى المعنى المجازى للتغيير الذى يحدث للماء فى فصل الشتاء ؟ وما هى الأشياء التى تهلك وتفنى فى فصل الشتاء ؟ وما الذى يسقط من مزرعة الأشجار ويلقى على الأرض ؟ وما هو معنى سكوت غناء الطيور ؟ وما معنى قذف أمواج البحر هكذا ؟ وما هو معنى الأمطار ؟ وقطرات المطر وماذا تشير اليه ؟ والمعنى هو أن الشتاء الذى يعبر يشير الى الضعف البشرى الذى نسلك فيه بأرادتنا الحرة .</p>
<p>ومعنى هذا أن الانسان حين كان فى الفردوس كان يحيا فى سعادة وازدهار بقدر ما كان بحالة عدم الفساد . ولكن لما جاء الشتاء الذى يرمز الى العصيان وعدم الطاعة وتحركت واهتزت الأشجار وسقطت الأوراق على الأرض وتعرى الانسان من حالة الخلود وعدم الفساد وحشائش الفضيلة قد جفت ، ومحبة الله قد بردت بسبب الاستمرار فى الخطية وتملكت الشهوات فى الانسان التى هى عواصف الهواء القوية التى بسببها تحطمت سفن كثيرة .</p>
<p>ولكن لما جاء الرب يسوع فأحضر الربيع فى نفوسنا وأمر الرياح أن تهدأ والأمواج أن تسكت اذ قال للبحر &#8221; ابكم واسكت &#8221; (مر ٤ : ٣٩)  واحضر كل شىء الى الهدوء والسلام وبدأت طبيعتنا مرة أخرى تزدهر ويظهر جمالها مع الأزهار الخاصة بها . لأن الأزهار والورود يرمزان الى الفضيلة التى بدأت ثمارها تنضج من جديد .</p>
<p>وهذا هو السبب الذى من أجلة يقول النص أن &#8221; الشتاء قد مضى والمطر مر وزال والزهور ظهرت فى الأرض &#8221; (نش ٢ : ١١) ها هى الحقول قد أمتلأت بالأزهار وأصبحت الطهارة تشرق فى مثل السوسن المملوء بالعطر ، أصبح ورد الأتضاع يملأ النفس . والنرجس ذو الرائحة العطرة التى تشير الى رائحة المسيح قد غطى النفس .</p>
<p>لماذا لا تصنع اكليلا من الزهور ؟ أنه الأن وقت تجميع الزهور لنزين بها أنفسنا . ها وقت الحصاد قد حضر وهذا ما عرفناه من صوت اليمامة &#8221; صوت اليمامة سمع فى أرضنا &#8221; (نش ٢ : ١٢).</p>
<p>هذا هو صوت اليمامة الذى يصيح ويعلن قرب الربيع وهذا رمز الى صوت يوحنا المعمدان الذى يصيح فى البرية ويبشرنا بأقتراب الربيع الذى هو الرب يسوع المسيح . أما الأزهار التى تنتشر فى الربيع فهى تشير الى الفضائل ، ان الأزهار والورود التى تأتينا فى الربيع تشير الى حياة الفضيلة التى يجب أن نسير فيها بعد ممارسة التوبة عن خطايانا حتى نطيع الرب يسوع المسيح حمل الله الذى يرفع خطايا العالم<a href="#_ftn6" name="_ftnref6">[6]</a></p>
<p></p>
<p></p>
<h3>عظات اباء وخدام معاصرين</h3>
<p></p>
<h4>قداسة البابا تواضروس الثاني</h4>
<p></p>
<p><strong>العطية العظيمة :</strong></p>
<p>نقرأ عبر آحاد هذا الشهر الأربعة ، الأصحاح الأول من إنجيل لوقا ، وهو قصة مصغرة لتاريخ البشرية الذى بدأ بوعد وانتهى بتحقيقه في تجسد ابن الله الكلمة &#8230;</p>
<p>البشارة بميلاد المعمدان</p>
<p>البشارة بميلاد المسيح</p>
<p>زيارة العذراء وتسبحتها</p>
<p>ميلاد يوحنا المعمدان</p>
<p>في إنجيل هذا الأحد :</p>
<p>زكريا الكاهن في الهيكل .. يبخر</p>
<p>اليصابات الزوجة  البارة .. عاقر</p>
<p>البشارة بمولود            &#8230; يوحنا المعمدان</p>
<p>الله يرغب في الإنسان ، وفى كل إنسان :</p>
<p>يقبل قارورة الطيب ، فلسئ الأرملة ، يرافق المجربين ، ولا ينسى صلوات زكريا الكاهن .</p>
<p>ثلاث نساء :</p>
<p><strong>شهر كيهك :</strong></p>
<p>١ – طقسه الكنسى طويل وطقسه الطبيعى قصير .</p>
<p>٢ – التسبحة ليلية ترمز إلى ظلمة العهد القديم وظلال الموت .</p>
<p>٣ – هو الشهر المريمى : مريم العذراء هي حلقة الوصل بين عهدين .</p>
<p>٤ – ليس له أحد خامس .</p>
<p>في هذا الأحد نتقابل مع ثلاثة  نساء :</p>
<p>في إنجيل عشية : مع المرأة ساكبة الطيب غالى الثمن ، والذى قدر بثلاثة مائة دينار .</p>
<p>وفى إنجيل باكر : مع المرأة التي قدمت الفلسين من إعوازها . ( الأرملة رمز البشرية ) .</p>
<p>وفى إنجيل القداس : مع اليصابات الزوجة المصلية والمؤمنة والواثقة في عمل الله .</p>
<p>اشتركن في فعل &#8221;  التقدمة &#8221;  حباً وكرامة وإيماناً في المسيح الرب .</p>
<p><strong>ومن أقوال الأباء عن زيارة العذراء لأليصابات :</strong></p>
<p>يعلق العلامة أوريجينوس على كلمات أليصابات وعلى لسانها ، قائلاً أي عمل حسن قمت به ؟ أو ما هي أهمية الأعمال التي مارستها حتى تأتى أم ربى لرؤيتى ؟ ! هل أنا قديسه ؟ ! أي كمال أو أيه أمانه داخلية بموجبها استحققت نيل هذا الامتياز : زيارة أم ربى إلى؟!</p>
<p>ويعلق القديس أمبروسيوس قائلاً على لسانها :</p>
<p>&#8221; من أين لى &#8221; بمعنى أنها لفرصة عظيمة أن تأتى أم ربى إلى اعتراف إنى لا أستحقها . &#8221; مت أين لى &#8221; ، أي فضل لى ، أو أي عمل قمت به أو أي حق هو لى &#8230; فإنى أشعر بالمعجزة وأتلمس السر<a href="#_ftn7" name="_ftnref7">[7]</a> .</p>
<p></p>
<p></p>
<h4>المتنيح القمص تادرس البراموسي</h4>
<p></p>
<p><strong>الأحد الأول من شهر كيهك المبارك</strong></p>
<p>وكان كلاهما بارين أمام الرب (لو ١ – ١ – ٢٥)</p>
<p>كان هناك أهتمام خاص بالرب يسوع له المجد وقد كتب عنه الكثيرون يصفون خبراتهم الشخصية معه وما عرفوه عنه منذ طفولته وقال عنه الكتاب كان ينمو في النعمة والحكمة والقامة . وقد كتب عنه القديس لوقا الأنجيلى شارحاً ومفصلاً بوحى من الروح القدس ومسجلاً هذه الأحداث بصورة تاريخية جميلة وشاملة مستخدماً كل المصادر المتاحة له وكان كل ما يهمه هو الحقيقة. وكان أميناً في كتابه التاريخ ليصل إلى الذين يأتون بعده بكل دقة وأمانة ، كتب قصة زكريا الكاهن وما حدث له في البشارة بابنه القديس يوحنا المعمدان الذى جاء ليعد الطريق أمام يسوع كان زكريا الكاهن خادمًا أمينًا كما قال عنه الكتاب المقدس .</p>
<p>لكنه تقدم في أيامه وكانت زوجته عاقراً لم تنجب أولاداً وشهد لهما الكتاب قائلاً وكانا كليهما بارين أمام الرب . صلى زكريا وكذلك زوجته البارة إليصابات لكى يرزقهما الله نسلاً .</p>
<p>لأنه كان عاراً في إسرائيل. لأنهم كانوا يعتبرونه شجرة غير مثمرة وقعت القرعة على زكريا للدخول إلى قدس الأقداس ليقدم البخور فظهر له الملاك جبرائيل لكى يبشره بميلاد يوحنا ولم يكن يفكر زكريا في هذا الأمر بعد تقدمه في العمر بالرغم بأن الملاك قال له صلاتك وطلباتك قبلت لدى الرب لكنه أعترض على بشارة الملاك قائلاً أنا تقدمت في أيامى وزوجتى عاقر ومتقدمة أيضاً في ايامها فأنتهره الملاك قائلاً أنا جبرائيل الواقف أمام الله وها أنت تكون صامتاً إلى يوم ولادته وقال له وتسميه يوحنا لان الرب تحنن عليه واعطاه النسل في آخر أيامه وليعرفه أن الغير مستطاع لدى البشر مستطاع لدى الله. ولم يبخل الله على الإنسان حتى ولو تأنى يعطى في الوقت المناسب. وخرج زكريا من الهيكل لكنه لم يعلم أحد من الشعب انه رأى رؤية . واستمر صامتاً حتى كانت ولادة يوحنا بمعجزة. والدين متقدمين في أيامهما ربما يكون فرح بولادته . يكون عظيماً . خمراً مسكراً لا يشرب . يمتلئ من الروح القدس من بطن أمه يرد كثيرين من بنى إسرائيل إلى الرب الهم .</p>
<p></p>
<p><strong>العظة الأولى</strong></p>
<p>أ – التقليد الكنسى وتأثيره في حياتنا</p>
<p>ب – الأمانه في التعليم وروح الخدمة</p>
<p>ج – رسالة للجميع وعمل المحبة</p>
<p>د – قوة الرسالة وثقك المرسل</p>
<p>ه &#8211; لا تصدق كل شائعة بل أمتحن الأرواح</p>
<p>و – شهادة الناس بفضائلنا أو نقائضنا</p>
<p>ذ – استجابة الرب في الوقت المناسب</p>
<p>ح – خبرات عجيبة ومواعيد صادقة</p>
<p>ط – خدمة الملائكة وتحقيق المواعيد</p>
<p>ى – صدق الرسالة وتحقيق الآمال</p>
<p></p>
<p><strong>العظة الثانية</strong></p>
<p>أ – شهادة الحق وحب الآخرين</p>
<p>ب – كيف تسلك بلا لوم في عمل الفضيلة</p>
<p>ج – عاقر ومتقدمة في السن وأستجابة</p>
<p>د – قوة الله وخدمة الملائكة</p>
<p>ه  &#8211; البشارة بالمولود ونزع العار</p>
<p>و – عظمة المولود وفرح الجيران</p>
<p>ذ – رسول سلام وصوت في البرية</p>
<p>ح – جمع الشمل وتوحيد القلوب</p>
<p>ط – عدم التصديق والحكم الألهى</p>
<p>ى – استجابة الطلب حتى بعد فوات الأوان</p>
<p></p>
<p><strong>العظة الثالثة</strong></p>
<p>أ – الطاعة في أحكام الله</p>
<p>ب – الاقتضاء بالقديسن وتتبع أثرهم</p>
<p>ج – الألتزام واجب مقدس</p>
<p>د – الاحترام للكنيسة والخضوع للخدام</p>
<p>ه &#8211; عظمة الوقت وتقدير الحدث</p>
<p>و – كلمة الرب فعاله فلنسمع ونعمل</p>
<p>ذ – لا نشك في مواعيد الله لأنه صادق</p>
<p>ح – أتمام البشارة وانفراج اللسان</p>
<p>ط – مولود بالبشارة وتربى في البرية</p>
<p>ى – الصوت الصارخ واقتراب الملكوت<a href="#_ftn8" name="_ftnref8">[8]</a></p>
<p></p>
<p></p>
<h4>المتنيح القمص بولس باسيلي</h4>
<p></p>
<p>الأسرة المثالية</p>
<p>تقسيم على ضوء القراءات الكنسية</p>
<p>البولس             :     (رو ١: ١—١٧)</p>
<p>الكاثوليكون         :   (يع ١: ١ – ١٨)</p>
<p>الابركسيس        :  (أع ٧: ٢—٧)</p>
<p>الانجيل              :    (لو١: ١ – ٢٥)</p>
<p>تمهيد : ان فصول انجيل هذا القداس جميعها تتحدث عن تجربة اليصابات العاقر0 فرسالة البولس تحدثنا عن وجوب الايمان بالتجربة فلا نشك كما شك زكريا ، ورسالة الكاثوليكون تحدثنا عن الصبر فى التجربة ، والابركسيس يحدثنا عن ابراهيم وسارة كدرس فى احتمال التجربة ورزقه بنسل بعد الأوان.</p>
<p><strong>القسم الأول – نظرة الى القراءات</strong></p>
<p>(1)          فالبولس يشير الى الايمان :</p>
<p>( أ)   ايمان مفقود فى حياة زكيا اذ تشكك فى قول ملاك الله .</p>
<p>( ب )  وايمان موجود فى قلب اليصابات اذ امتلأت بالروح القدس ومجدت الله وطوبت وباركت فخر النساء.</p>
<p>( ج )  وايمان مولود من اليصابات فى شخص الطفل يوحنا المعمدان أعظم مواليد النساء:</p>
<p>أنظر قول الرسول فى البولس &#8221; ايمانكم يُنادّى به فى كل العالم &#8221; (رو ١: ٨) ، والذى به لأجل اسمه مثلنا نعمة ورسالة لاطاعة الايمان &#8221; (رو ١: ٥) وهذا يشير الى أهمية الطاعة للايمان وهو درس لزكريا المتشكك ولكل منا &#8221; لنتعزى بينكم بالايمان الذى فينا جميعاً ايمانكم وايمانى &#8221; (رو ١: ١٢)</p>
<p>(2)          والكاثوليكون يشير الى الصبر :</p>
<p>فأليصابات وزوجها مثلان قويان على الاحتمال والصبر ، فرغم أنه ليس لهما ولد الا أنهما كانا مثلا أعلى فى قوة الصبر &#8221; احسبوه كل فرح يأخوتى حينما تقعون فى تجارب متنوعة &#8221; (يع ١: ١)  وهذه الكلمات تنطبق تماماً على حياة زكريا وأليصابات فوقوعهما فى تجربة العقر هذه المدة الطويلة كان لخيرهما ، اذ لو ولد لهما مائة ولد قبل يوحنا فى شبابهما لكانوا قد ماتوا ولم يحس بهما أحد ، ولكن حكمة الله أن يظلا بلا نسل الى أن يقترب هو من التجسد فيولد يوحنا ليكون صوتاً &#8221; للكلمة &#8221; الأزلى العظيم يقترن اسمه باسم يسوع العجيب إإ       &#8221; عالمين أن امتحان ايمانكم ينشىء صبراً &#8221; فامتحان ايمان اليصابات أنشأ صبراً &#8221; وأما الصبر فليكن له عمل تام لكى تكونوا تامين وكاملين غير ناقصين فى شىء &#8221; (يع ١: ٣)</p>
<p>(3)          والأبركسيس يشير الى تحقيق الآمال :</p>
<p>وفى هذه القراءة نرى وعد الله الذى وعد به ابراهيم يحقق الآمال : اذ قال له &#8221; أخرج من أرضك ومن عشيرتك وهلم الى الأرض التى أريك  هذه الأرض التى أنتم الآن ساكنون فيها ولم يعطه فيها ميراثاً ولا وطأة قدم ولكن وعد الله أن يعطيها ملكاً له ولنسله من بعده ولم يكن له بعد ولد &#8221; (أع ٧: ٣—٥)</p>
<p>وهكذا كان زكريا على غرار ابراهيم لم يكن له ولد فوعده الله أن يكون له ولد  فكان إإ</p>
<p><strong>القسم الثانى – موقف زكريا</strong></p>
<p>(1)          الكاهن النشيط :</p>
<p>فرغم شيخوخته فهو الراعى النشيط الذى لم يتكاسل عن أن &#8221; يكهن فى نوبة فرقته أمام الله &#8221; (لو١: ٨) هذه الرعاية اليقظة</p>
<p>ومن رعى غنما فى أرض مسبعة ونام عنها تولى رعيها الأسد</p>
<p>(2)          الشيخ المضطرب :</p>
<p>&#8221; ظهر له ملاك فاضطرب ووقع عليه خوف &#8221; (لو ١: ١٢) لماذا اضطرب ؟؟؟ لأن رؤية الملائكة كانت فى العهد القديم نذيراً بالهلاك مثلما حدث من الملاك لمدينة صوغر فى عهد لوط – ومثلما حدث من الملاك لجدعون الخ&#8230;.</p>
<p>(3)          متعجب حائر :</p>
<p>&#8221; طلبَتُكَ قد سُمعت وامرأتك اليصابات ستلد لك ابناً &#8221; (لو١: ١٣) اندهش لأن زوجته عاقر وعجوز فتشكك وطلب علامة فأعطيت له فى لسانه فضربه بالخرس إإ</p>
<p>القسم الثالث &#8212; اليصابات</p>
<p>(1)          بارة شريكة بار :</p>
<p>اذ كانت مع زوجها &#8221; بارين أمام الله سالكين فى جميع وصايا الرب وأحكامه بلا لوم &#8221;</p>
<p>هذه هى الأسرة النموذجية ، شريكة الحياة قديسة وزوجها قديس ، فلا غرابة أن منحها الله :</p>
<p>(2)          الخلاص من العار :</p>
<p>اذ قالت &#8221; نظر الىّ لينزع عارى بين الناس &#8221;</p>
<p>لقد نزع عارها،كما حدث لجدتها راحيل الذى &#8221; سمع لها الله وفتح رحمها فحبلت وولدت ابناً فقالت قد نزع الله عارى &#8221; (تك٣٠: 43)</p>
<p>(3)          الابن العظيم البار :</p>
<p>ولم تكن منحة الله لها أن خلصها من عار العقم والعقر الذى كان معروفاً فى العهد القديم ، بل أعطاها ابناً عظيما ممتازاً باراً &#8221; لم يقم بين المولودين من النساء أعظم منه &#8221;</p>
<p>++++++++++++++++++++++++++++++++++++</p>
<p></p>
<p></p>
<h3>تأملات روحية نقاط تفسيرية</h3>
<p>فى عظة الأحد الأول من شهر كيهك</p>
<p>(لو١:١—٢٥)</p>
<ul>
<li>&#8221; تتبعت كل شىء من الأول بتدقيق &#8220;</li>
</ul>
<p>كلمة لوقا مشتقة من كلمة لوقانوس اليونانية ومعناها &#8221; حامل النور &#8221; وقد رسم لنا دأهايز فى كتابه خلاصة حياة لوقا الذى يفتتح لنا فصل انجيل هذا القداس ، قال :</p>
<p>+   ولد لوقا عبداً فى بيت ثلؤفيلس الذى كان موظفاً حكومياً غنياً فى انطاكية ، وقد اكتسب ثقة سيده ، ومن ثم نال محبته له ، وقد عزم ثاؤفيلس أن يهذب عبده على نفقته فى أحسن حامية فى البلاد أى فى &#8221; طرسوس &#8221;</p>
<p>+   وقد درس الطب حيث درسه أساتذته العظام.</p>
<p>+   رجع لوقا الى أنطاكية فى بداءة الكرازة فيها وكان من أول عمل عمله ثاؤفيلس كمسيحى أن حرر عبده لوقا.</p>
<p>+   وقد ترك فيلبى مع بولس سنة 58 وبقى مع الرسول من وقتها الى استشهاد بولس .</p>
<p>+   وبعد ذلك كتب الانجيل الثالث وسفر الأعمال ، وكان ينوى كتابة جزء ثالث ولكن تيار العمل التبشيرى جرفه فلم يجد متسعاً من الوقت لكتابة شىء آخر.</p>
<p>+   كان لوقا أحد المحبوبين جداً من أعضاء الكنيسة الأولى ، وكان هو وأبلس أعظم الكتاب0 وكان هو وبولس أعظم كتبة الأسفار المقدسة.</p>
<p>+   أخرج ما كتبه لوقا وبولس من الانجيل فلن يبقى الا أقل من نصفه ، وفى النصف الأكبر كتب لوقا أكثر مما كتب بولس .</p>
<p>+   كان لوقا عظيما متعدد نواحى العظمة ، اذ كان طبيباً ، وموسيقياً ، ونقاشاً ، وشاعراً ، وواعظا ، وكاتباً من كَتبة الوحى ، وكاروزاً ومرسلا ، ومؤرخا مدققا يتتبع كل شىء من الأول بتدقيق إإ</p>
<ul>
<li>أيها العزيز ثاؤفيلس :</li>
</ul>
<p>ان &#8221; ثاؤفيلس &#8221; هذا الذى يكتب اليه لوقا هذه البشارة شريف من أشراف الأمم يحمل لقباً فخرياً كان يُخلع على السادة فى تلك الأزمنة للتبجيل والاكرام وهو لقب &#8221; العزيز &#8221; وهو نفس اللقب الذى خاطب به بولس الرسول &#8221; فيلكس &#8221; وفستوس &#8220;(أع ٢٤: ٣ &#8211; ٢٦ : ٢٥)</p>
<ul>
<li>&#8221; صحة الكلام الذى علمت به &#8221; :</li>
</ul>
<p>ان هذه الكلمات لدليل على صحة الانجيل – ولا يمكن أن يقال فى هذا العدد بأن &#8221; صحة الانجيل &#8221; قد اعتورها الشك فى زمن من الأزمنة 0 فالآثار والحفريات الكثيرة التى تكتشف فى كل جيل لا تزال تصرخ بعدم تحريف الكتاب المقدس ، ففى رومه اكتشفت قبور كثيرين من مسيحيى القرون الأولى للميلاد فى سراديب تحت الأرض منقوش عليها بعض فصول من الكتاب المقدس هى نفس الفصول التى بين أيدينا اليوم.</p>
<p>وفى أرض القدس الشريف شاهدنا بعيوننا عظمة المكتوب فى الكتاب المقدس وصحة العقائد الانجيلية بشكل واضح لا يدخله الشك من بين يديه ولا من خلفه.</p>
<ul>
<li>وقد أثبت المسيحيون وغير المسيحيين فى كتبهم صحة هذا الكتاب فقد جاء فى سورة يونس &#8221; فان كنت فى شك مما أنزلنا اليك فاسأل الذين يقرأون الكتاب من قبلك &#8221; وفى سورة المائدة &#8221; وكيف يحكمونك وعندهم التوراة فيها حكم الله &#8221; وفى سورة المائدة أيضاً &#8221; وأنزلنا اليك الكتاب بالحق مصدقاً لما بين يديه من الكتاب ومهيمناً عليه&#8221; .</li>
</ul>
<p>وقد قال البيضاوى شيخ مفسرى الاسلام فى تفسير الآية الأخيرة بأن القول &#8221; مهيمناً عليه &#8221; يعنى &#8221; رقيباً على سائر الكتب التى يحفظها من التغيير ويشهد لها بالصحة والثبات &#8221; .</p>
<p>وجاء فى سورة الحجر &#8221; انا نحن نزلنا الذكر وانا له لحافظون &#8220;وفى سورة الأنبياء &#8221; فاسألوا أهل الذكر ان كنتم لا تعلمون &#8221; وجاء فى سورة الكهف &#8221; لا مبدّل لكلماته &#8221; وفى سورة يونس &#8221; لا تبديل لكلمات الله &#8221; وفى سورة الانعام &#8221; لا مبدل لكلمات الله &#8221; وفى سورة الفتح &#8221; ولن تجد لسنة الله تبديلا &#8220;.</p>
<p>هذه الآيات الكثيرة وغيرها لدليل أى دليل على صحة الكتاب المقدس وعدم امكان تحريفه بحال من الآحوال.</p>
<ul>
<li>&#8221; زكريا من فرقة أبيا &#8221; :</li>
</ul>
<p>معنى كلمة زكريا &#8221; الرب يذكر &#8221; ومعنى كلمة أبيا &#8221; أبى هو الله &#8221; ، وهذه الفرقة هى الثانية فى الرتبة والترتيب من عدد الفرق الأربعة والعشرين الذين الذين تتكون منهم طائفة الكهنة بحسب ما فعله داود النبى عندما رأى كثرة عدد الكهنة ( ١صمو ٢٤: ١٠) وكانت كل فرقة من هذه تقوم بخدمة ايقاد البخور على المذبح فى القدس مرة كل ستة أشهر لمدة أسبوع.</p>
<ul>
<li>&#8221; ظهر له ملاك الرب أنا جبرائيل &#8221; :</li>
</ul>
<p>معنى كلمة ملاك &#8221; مرسل &#8221; وكلمة جبرائيل &#8221; قوة الله &#8221; أو &#8221; فارس من فرسان الله &#8221; أو &#8221; الله قوتى &#8221; .</p>
<ul>
<li>&#8221; اليصابات ستلد لك ابناً وتسميه يوحنا &#8221; :</li>
</ul>
<p>معنى كلمة اليصابات &#8221; قسم أو يمين الله &#8221; ويوحنا معناها &#8221; الله يتحنن &#8221; وهكذا تحنن الله على اليصابات  وياله من تحنن إإ</p>
<ul>
<li>&#8221; يدخل الى هيكل الرب ويبخر &#8221; :</li>
</ul>
<p>كان مذبح البخور فى القدس مقابل الستار الذى فصل القدس عن قدس الأقداس ، وعلى يمين المذبح كانت مائدة خبز الوجوه ، وعلى يساره المنارة الذهبية</p>
<p>. أما البخور فلابد له من مبخرة المعروفة فى القبطية ϯϢΟрϫн  وتتكون من ثلاث سلاسل اشارة الى الثالوث الأقدس وربطها برباط واحد من فوق رمز الى وحدانية الجوهر أما الجلاجل التى بالشورية فاشارة الى جرس فلك نوح الذى كان يقرع نواقيسه منبهاً الشعب للدخول ، وهكذا جلاجل المبخرة تنبه الشعب الى عمل الرحمة ، وتذكرنا بالعاقبة الوخيمة التى تردى اليها قورح وداثان وأبيرام وأتباعه الذين تشيعوا له فابتلعتهم الأرض وأحرقت أشياعه بالنار ، أما الخطاف الذى يدلى من قمة المبخرة الى أسفلها فاشارة الى نزول السيد المسيح الى عالمنا هذا ، أما قاع المجمرة فاشارة الى بطن السيدة العذراء ، والبخور الذى يوضع فيها رمز الى اللبان الذى قدمه المجوس الى الطفل يسوع ، والآطياب والحنوط التى حنط بها يوسف الرامى ونيقوديموس جسد الرب يسوع.</p>
<ul>
<li>أما الفحم الذى ينصهر بالنار فى جوف المجمرة فيشير الى الناسوت فى المسيح واتحاده باللاهوت على شكل اتحاد الفحم بالنار ، أما البخور والدخان المتصاعد منه فاشارة الى ما ذكره الرائى يوحنا &#8221; وجاء ملاك آخر ووقف عند المذبح ومعه مبخرة من ذهب وأعطى بخوراً كثيرة لكى يقدمه مع صلوات القديسين من يد الملاك أمام الله &#8221; (رؤ ٨: ٣ ).</li>
<li>أما البخور فى الكنيسة فاتماماً لنبوة ملاخى النبى القائل &#8221; لأن من مشرق الشمس الى مغاربها اسمى عظيم بين الأمم وفى كل مكان يقرب لأسمى بخور طاهر لأن اسمى عظيم بين الأمم قال رب الجنود &#8221; (مل ١: ١١).</li>
</ul>
<p>وعلى هذا رأى الرائى يوحنا الأربعة والعشرين قسيساً أمام عرش الله يمسكون بمجامر ذهبية مملوءة بخوراً هى صلوات القديسين (رؤ٥: ٨).</p>
<ul>
<li>&#8221; متعجبين من ابطائه فى الهيكل &#8221; :</li>
</ul>
<p>ووجه العجب هنا خوف الشعب من غضب الله على الكاهن وقتله ( لا ٦). لهذا كان الكاهن يسارع بالخروج من الهيكل فور انتهاء الخدمة حتى يطمئن الشعب عليه.</p>
<p>وقد حدث مرة أن الكاهن سمعان العادل تأحر داخل القدس فقلق الشعب عليه قلقاً عظيماً وكادوا يقتحمون القدس ، ولما خرج عاتبوه لعدم اهتمامه بقلقهم<a href="#_ftn9" name="_ftnref9">[9]</a></p>
<p></p>
<p></p>
<h4>عظة للمتنيح القمص لوقا سيداروس</h4>
<p></p>
<p>بشارة الملاك لزكريا</p>
<p>+ قرب ملئ الزمان ، ودنا الموعد الذى حدده الله لتجسده وكان لابد أن يسبقه من بعد ، يهئ الطريق أمامه ، وكان لابد لهذا السابق أن يكون أعظم مواليد النساء حتى يستحق أن يقوم بهذه الخدمة الجليلة . فأى والدين اختارهما الله ليأتمنهما على هذا العظيم الذى سيسبقه ؟ يصفهما الإنجيل قائلاً : &#8221; كانا كلاهما بارين أمام الله سالكين في جميع وصايا الرب وأحكامه بلا لوم ، كان كلاهما بارين أمام الله ، أي أن الله نظر إلى كل منهما وفحصه فوجده باراً ، لم يذكر الإنجيل لنا شيئاً عن ما كان يظهران به أمام الناس ، فليس لهذا الأمر وزناً عند الله ، ولم يذكر له وزن عند زكريا وإليصايات ، ومسكين هذا الإنسان الذى يفهم أن يظهر باراً أمام الناس وينسى أن الله لا يقبل الوجوه ولا يهتم برأى الناس لكنه يفحص أعماق الإنسان الداخلية .</p>
<p>+ وكان أيضًا &#8221; سالكين في جميع وصايا الرب واحكامه بلا لوم &#8221; – اين نحن من زكريا وأليصايات ، نحن الذين أصبحنا نفحص وصايا الله لنختار منها ما يناسبنا وما يناسب عصرنا وظروفنا ونترك ما لا نراه غير مناسب . أما زكريا وأليصايات فقد كانت وصايا الرب وأحكامه عندهما فوق مستوى الجدل والمناقشة وفوق مستوى الفحص والتحليل لذلك كانا سالكين في جميع الوصايا والأحكام بلا لوم لقد كانت وصايا الرب عندهما للسلوك وليس للمعرفة .</p>
<p>+ في بيت مثل هذا لابد أن ينشأ الطفل باراً قديساً ، ولابد أن يكون مختاراً من الله ومحبوباً لديه . لعلنا إذن لا نخطئ إن قلنا أن قلقنا على مستقبل أولاد لا يعيشون في مثل بيت زكريا وإليصابات لأننا لا نعيش في البر ولا نسلك في جميع وصايا الرب وأحكامه بلا لوم . فلا نقدم لهم القدوة بقدر ما نقدم العثرة . ولا نشعر بعمل الله في حياتنا بقدر ما نشعر بحرب الشيطان حولنا .</p>
<p>+ &#8221; ولم يكن لهما ولد إذ كانت إليصابات عاقراً وكانت كلاهما متقدمين في أيامهما &#8221; . لم يكن لهما ولد أي لم يكن لهما ثمر في الجسد . ولكن ثمار الروح كانت فيرة – فسلوكهما في وصايا الرب وأحكامه كلها جعلتهما بركة لمن حولهما ، وبرهما صعد أمام الله ثمرة شهية مفرحة &#8230; ومع ذلك فعقر إليصابات كان عاراً وخزياً ( إذ كانت كل أمرأة تشتهى أن يأتي من نسلها المسيح ) . فالمرأة العاقر قد حكم عليها أن المسيح لن يأتي من نسلها ، وقد كانت هذه هي شهوة كل أمرأة – كان عاراً أمام القرعة أن يدخل إلى الهيكل الذى للرب ويبخر ، كان الكاهن الشيخ يكهن في نوبة فرقته أمام الله .</p>
<p>+ ولعل كلمة &#8221; أمام الله &#8221; هنا تعبر عن شعوره الداخلي الذى كان مؤكداً يختلف عن شعور كثيرين من أخوته الكهنة إذ كانت وظيفة الكهنوت عندهم عملاً يؤدونه مثلما يؤدى كل إنسان عمله ، أصابته القرعة أن يدخل إلى هيكل الرب ويبخر – هذه القرعة رآها هو – وباقى الكهنة مصادفة أن تقع عليه – أما الحقيقة فهي أن الله قد دبر هذا الأمر حتى يبلغه البشارة المفرحة التي أعدها له في غير موعدها – فهناك عند مذبح البخور ظهر له ملاك الرب واقفاً عن يمين المذبح – وقد كانا طبيعياً أن تحيط الملائكة بمذبح البخور حتى تحمل هذا للبخور وتصعد به إلى الله ( الذى هو صلوات القديسين ) . ولكن لم يكن طبيعياً أن يظهر ملاك الرب ففي خدمته الكهنوتية الطويلة لم يسبق أن ظهر له ملاك ولا أحد من أخوته – لذلك فلما رآه زكريا أضطرب ووقع عليه خوف . فقال له الملاك لا تخف يا زكريا لأن طلبتك قد سمعت وأمرأتك إليصابات ستلد لك ابناً وتسميه يوحنا .</p>
<p><strong>ظهر له ملاك الرب واقفاً عن يمين مذبح البخور</strong></p>
<p>+ الواقع أن ملاك الرب يقف دائماً في هذا المكان لا يفارق يمين مذبح البخور &#8230; ويصعد التقدمة والصلوات ويرفع البخور إلى فوق المذبح الناطقزالسمائى &#8230; ولكننا لا نراه من أجل ضعف بصيرتنا ، فكلما أقتربنا من المذبح ، وكلما قدمنا بخور صلوات وسكبنا ذبيحة التسبيح ، فلنتذكر أن الملاك واقف هناك وأنه في وقت القبول سيقول لنفسى &#8221; لا تخف لأن طلبتك قد سمعت &#8221; .</p>
<p>+ ولكن على أن لا أضطرب ولا يضعف قلبى إذا ما تأخرت الأستجابة . هناك ملئ الزمان ووقت معين من قبل الرب من أجل طلبتى &#8230; ولابد أن أطلب ولا أكف عن الطلب وأنتظر الرب وأقول &#8221; صبرت نفسى لناموسك &#8221; .</p>
<p>+ إن في نهاية صلواتنا في الكنيسة نقول &#8221; يا ملاك هذا اليوم الطاهر إلى العلا بهذه التسبحة وأذكرنا أمام الرب ليغفر لنا خطايانا &#8230; لنثق أن الملاك ينتظر ختام تسبحتنا ليرفعها إلى فوق &#8230; وفى نهاية القداس يصرف الكاهن ملاك المذبح لينطلق إلى فوق حاملاً بخورنا ويعود حاملاً استجابة طلبتنا &#8230; كم يفرح الملاك عندما يحمل بخورنا ويفرحنا عندما يحمل إلينا أستجابة الرب لها<a href="#_ftn10" name="_ftnref10">[10]</a>.</p>
<p></p>
<p></p>
<h4>القديس القمص بيشوي كامل</h4>
<p></p>
<p>بسم الاب والابن والروح القدس الاله الواحد امين</p>
<p>في هذه الايام المقدسه تبتدي احتفالاتنا واستعداداتنا لعيد الميلاد المجيد والنهارده الاحد الاول من شهر كيهك . ولنا حسب ترتيب كنيستنا الاربع احاد ديه كل القراءات فيها بتدور حوالين الاصحاح الاول من إنجيل معلمنا لوقا . واستعداد الكنيسه لبشاره زكريا واليصابات   وبشاره الست العذراء . وميلاد يوحنا ، وميلاد السيد المسيح له المجد .</p>
<p>والترتيب ده قصد بيه إنه يهييء أذهاننا لهذا الحدث الخطير الذي سيتم في نهايه هذا الشهر . من اجل هذا اليوم يااحبائي انتظرت البشريه الآف السنين قبل مجيء السيد المسيح ومن اجل هذا اليوم كتب الانبياء قبل مجيء المسيح بألآف السنين .. ومن اجل هذا اليوم ايضا نحتفل في كل سنه .. بقي لنا ٢٠٠٠ سنه بنحتفل بعيد الميلاد .</p>
<p>في القرن الاولي كان عيد الميلاد يحتفلوا به مع عيد الغطاس . يحتفلوا بالعيدين مع بعض .. احساس روحي ان ميلاد ربنا يسوع المسيح يرتبط ارتباط كامل بميلادنا . لان لولا ميلاد المسيح وظهوره في الجسد ما كان ممكن ابدا للانسان انه يولد من السماء من الماء والروح ويصير ابناً لله . ما كان ممكن ان يكون هذا . لذلك فتجسد ربنا يسوع المسيح كان بدء كل البركات الروحيه للبشريه وكان بدء بنوتنا لله ودخولنا في شركه الاتحاد في شخصه المبارك .</p>
<p>النهارده بيكلمنا الانجيل عن زكريا واليصابات العيله البسيطه دي كانوا بارين وسالكين في جميع وصايا الله واحكامه بلا لوم ودي شهاده لما تبقي من الانجيل لعائله تبقي  شهاده عظيمه جدا . ان هم كانوا باردين وسالكين في جميع وصايا الله واحكامه بلا لوم شهاده عظيمه جدا .. وطبعا الاحداث العظيمه اللي تمت بميلاد السيد المسيح من العذراء القديسه مريم وميلاد يوحنا المعمدان من هذين الابوين البارين يكشفوا لنا سر مهم جدا . ان الطفل المقدس لابد تكون له تربه اوبيئه مقدسه لكي ينشا فيها</p>
<p>لذلك لا نستطيع ان نعيب علي اولادنا انحرافهم او نعيب علي اولادنا سوء سلوكهم اوعدم طاعتهم . لان البيت المقدس اللي سالكين في وصايا الله بوداعه حسب وصيه الانجيل هذا البيت عندما ينشأ فيه الطفل ينشأ نشاه مقدسه.. ومن ناحية اخري ايضا عندما يريد الله ان يتمجد في اولاده ويختارهم لخدمته يختارهم ايضا من بيت يكون فيه ايضا معرفه الله ومحبه الله . لكن ها نصطدم بحاجات مهمه خالص ان العيله دي كانت عيله باره وعايشه في جميع وصايا الله واحكامه .</p>
<p>لكن كانت عيله مجربه وهنا حسب منطق العالم مفروض العيله ديه اللي هي عايشه حسب وصايا الله واحكامه يكون ربنا راضي عنها . ومادام ربنا يكون راضي عنها فالمفروض يجيب لها طلباتها او علي الاقل تعيش زي بقيه الناس . مش عايزين احنا نطلب من ربنا اكثر من هذا ان احنا نعيش العيشه السهله العاديه زي بقيه الناس . وده ناس عايشين في خوف ربنا فاعطيهم ولد لكن ما اداهمش ولد .. وحسب التقليد اليهودي يبقي ربنا غضبان عليهم فاصبح عار عندهم وطلبوا كثير وما يستغناش الامر لازم اليصابات برضه قالت لزوجها مش ممكن تشوف لنا عيل نتبناه ولا حاجه ولا نوجد حل لهذه المشكله لكن الناس ها تعرف برضه العيله ديه رغم ان هي عايشه مع ربنا لكن ربنا ما سمحلهاس بالعيشه العاديه .</p>
<p>في العهد القديم حصلت نفس الظروف لابراهيم. وإبراهيم اخذ مواعيد كثيره من ربنا لدرجه انه اخذ وعد انه هايكون ليه وبنسله تتبارك جميع الامم . ابراهيم هذا جاءت امراته قلقت . قالت له انا مش طالبه حاجه.. انا عاوزه .. انا عايشه في خوف ربنا انا عايزه اعيش عيشه عاديه . حل لنا المشكلة دي يا ابراهيم لكن ربنا مش عاوزنا نعيش عيشه عاديه عاوزنا نعيش عيشه فوق العاديه .</p>
<p>ايه الحل ؟ قالت له عندك هاجر واتجوزها وهات منها ولد اهو يبقي عامل لنا حس في البيت . بعدما خلف إسماعيل واتضايقت هي من اسماعيل قالت له اكرشه اتاثر ابراهيم لانه ابنه وبعدين طلب من ربنا وقال له اعمل ايه في الولد ده ؟ياتري انت غضبان عليه قال له لا ابدا مش غضبان عليه . ده انا ها باركه  وارعاه  هو وامه هاجر في البريه وهاشوف لهم كل طلباتهم وملاك ربنا ها يحرسهم . لكن مش هو ده اللي هاتحصل بيه البركه . الولد ده صحيح سد الفراغ اللي كان موجود في البيت وحل المشكله الماديه ان هم كانوا محتاجين لولد فجاء لهم ولد لكن مش ده بتاع البركه ..</p>
<p>دايما الانسان عاوز اسماعيل.. الانسان عاوز اسماعيل. عاوز اسماعيل.. ايه اسماعيل. خطيه اسماعيل يعني .. لا مش خطيه خطيه . لكن اسماعيل في نظر ساره ان هو الحياه العاديه . الحياه العاديه وده اللي احنا بنستغرب له ان الناس اللي بيبقي ماشيه مع ربنا تعيش حياه اقل من العاديه او تتعرض لتجارب ما يتعرضلهاش الانسان العادي . حكمه ربنا واسعه وعميقه وقصد الهي .</p>
<p>لكن باختصار علشان ما نشردش في الموضوع.. فيه قدامنا حاجتين نختار اسماعيل ولا نختار اسحق . اسماعيل هوالحياه العاديه نبقي احنا نحل مشكلتنا ونبقي زي بقيه الناس .</p>
<p>اسحق مستني زي ما ربنا يأمر .. وزي ما ربنا يريد في الوقت اللي هو عايزه وفي الوقت المناسب لتكن ارادته . لان ان لو رحت جبت ولد غصب عن ربنا بطريقتي بحيلي . انا مش غصب عن ربنا باجيب لي .. الولد ده هايبقي سبب فكر في البيت . ده الولد ده هايبقي سبب غم في البيت .. والولد ده هايبقي سبب كآبه في البيت . وبعدين اول وحده هاتشتكي من الولد ده في الاخر هي امه .</p>
<p>لكن انا لو سلمت امري لربنا هايعطيني في الاخر بركه روحيه انا ما اعرفهاش هاتكون ايه .. لكن هي في قصد ربنا حاجه مستخبيه . قعدوا يطلبوا من ربنا سنين طويله . والانسان البار طلبته ما تستجابش من الناحيه الماديه . والانسان العادي من مجرد ما يطلب من ربنا انا عاوز عيل يدي له بدل العيل عشره . والانسان البار ما يسالش ربنا عنه لان ربنا هوماسك حياته  و بيرتبها .</p>
<p>برضه عايز اقول ان فيه حياتين . حياه عاديه ودي مش خطيه . يعني لما اعيش زي بقيه الناس دي مش خطيه . لكن أحيانا ربنا يحب يخليني أعيش عيشه القديسين فيقوم يضغط علي شويه الحياه العاديه اللي هي الحياه السهله .. الحياه اللي فيها راحه .. الحياه اللي ما فيهاش تعب . يعني انا عايزني ايه ؟ يا ابونا . بنقرا اصحاح في اليوم وبنصلي الصبح وبالليل وما بنؤذيش حد وحياتي الحمد الله عاديه دي الحياه العاديه اللي الانسان بيرجوها في العالم .. وبعدين فيه حياه ثانيه اللي بيقول عنها الكتاب المقدس كثير ونقرأها وتتلخبط .. &#8221; ادخلوا من الباب الضيق &#8221; ..من اراد ان يكون لي تلميذا يحمل صليبه ويتبعني &#8221; .. &#8221; اذهب بع كل مالك وتعال اتبعني &#8221; .</p>
<p>الحياه دي حياه انسان ابتدا يطمع انه مش يعيش الحياه العاديه لكن عايز ياخذ من ربنا اقصي ما يكون ان هو ياخذه حسب مراحم ربنا الواسعه .</p>
<p>الامر الثاني يا احبائي في تاخير ربنا ان هو ما يديهمش ولد في نظر الناس كان عقاب . لكن في نظر ربنا كان له حكمه.. وحكمه ربنا الانسان مش قادر يدركها . فقاعد يلطش .. ساره اقترحت ان ابراهيم يتجوز . فيه اقتراحات كثيره وتستغرب جدا لما تجد كثير من الناس اللي بتصلي وبتعرف ربنا في الكنيسه بتعتقد في السحر وفي العمل وفي الحاجات اللي بره دي .. ليه لأن هم لما تضيق بهم الحاله شويه وبعدين يبصوا يلاقوا ربنا ما جابلهمش فرج سريع يقولوا احنا عايزين نستريح باسرع ما يمكن . لان لازم نستريح. ربنا مش خالقنا للتعب فيطلبوا الراحه باي طريقه كانت . او مثلا طريقه ثانيه انك تبتدي تيجي لابونا وتقول له انا عندي مشكله كذا ولازم تتحل يبتدي أبونا يجهد ذهنه علشان يوجد لك مخرج يعمل لك فتوي او اي حاجه تطلع من الضيق ده اللي انت فيها بأي طريقه يتعاون معاك علي ان هو يسهل لك السكه مافيش مانع . لكن مش دي الطريقة اللي ربنا كان يتمناها مني ان هو يحبني ان انا اسلم له واقول له لتكن مشيئتك ولتكن ارادتك .</p>
<p>الامر المهم الذي ينقص هذه العائله رغم ان هي كانت باره امام الله ان هي تعيش حياه التسليم الكامل .. لتكن اراتك . فيه فرق كبير قوي بين العيله دي بين مشاعر الست العذراء . الست العذراء قالت للملاك ايه ؟ هوذا انا امه الرب ليكن لي كقولك &#8221; .. انا خدامه خدامه ربنا واللي يقوله ماشي.</p>
<p>ومن الطلبات الرائعه جدا والجميله في &#8221;  ابانا الذي &#8221; ان نقول له لتكن مشيئتك .. لتكن مشيئتك . هذه العيله رغم ان هي باره لكن هي قلقه .. مش مسلمه .. ده في العهد القديم .</p>
<p>اما في العهد الجديد يا احبائي فأصبح التسليم لاراده ربنا شرط في منتهي الاهميه  للحصول علي السلام الكامل والتسليم لاراده ربنا شرط في منتهي الاهميه للحصول علي السلام الكامل والتسليم لاراده ربنا في كل الظروف.. في الضيق .. وفي الحياه السهله .. لان لنا ثقه ان الهنا اسمه عمانوئيل الذي تفسيره الله معنا .</p>
<p>يعني هو معنا .. وهو قال انا معاكم كل الايام والي انقضاء الدهر . علشان كده احنا بنقول له لتكن اراتك .. اعمل اللي انت عاوز تعمله .</p>
<p>هل ممكن يكون انسان بار مش مسلم المشيئه لربنا ؟ آهي عيله آهيه كاهن وزوجته عايش في مخافه ربنا لكن قلقين وبعدين هل ممكن شخص متدين يبقي قلق ؟ تفتكر النهايه هاتكون ايه ها يوصل لمرحله الياس .. الياس ده لما الملاك جاءله وقال له هاتجيب ولد يا زكريا كان لازم يصدق الملاك لان الموضوع مش موضوع سهل ده جاي من ملاك واقف له قدام مذبح البخور عن يمين مذبح البخور وقال له انا جبرائيل اللي باكلمك دلوقتي وفي نفس اللحظه وانا واقف امام الله .</p>
<p>فيقوم يقول له ايه ؟ يقول له مش معقول .. ما خلاص الامل انا النهارده في سن الياس وحش قوي سببه ايه اليأس .. اليأس ده مرحله اخيره للانسان اللي ما سلمش لمشيئه ربنا فقلق ولما زاد القلق .. زاد القلق فانتهي بالفشل او اليأس .. بلاش اقول الفشل اقول اليأس ان ربنا فيه حتت مش ممكن يقدر يعملها او مش ممكن ها يعمل فيها احسن من كده خلاص .</p>
<p>عاوز اقول يا أخبائي ان الياس خطيه زي القلق الاثنين مرتبطين ببعض سببهم عدم التسليم. يا سلام علي الانسان المسيحي لما يحط حياته في ايدين ربنا لتكن ارادته ولتكن مشيئته المهمه جدا انا عاوز افهم ربنا يعني انه بيلعب بالناس زي الشطرنج كده.</p>
<p>واحد ما يجيبلهوش عيال وواحد يجيب له عيال انا اتعودت ان احلل الموضوع ده من ناحيتي الشخصية فقط .. ليه ربنا يدينيش انا وليه ربنا يدي ده ؟ وليه ربنا يجربني انا التجربه ما كنتش استاهلها وليه ربنا ما يجربش ده ؟ فانا دايما لمابأناقش الموضوع ده باناقشه في نطاق ذاتي يعني بألف حوالين نفسي .</p>
<p>لكن ربنا كان بيعالج الموضوع بتاع زكريا والمعياد بتاع حبل اليصابات بيعالجه في نطاق عمل عام يخص التدبير الالهي يخص الخلاص ويخص تجسد المسيح. يعني لغايه النهارده زكريا ماكانش يتوقع هو وامرأته أن يكون معهم ابن كبقيه الابناء لكن يدخل في برنامج التجسد الالهي .</p>
<p>ده موضوع اللي ما كنش يخطر بذهنه شوف قد ايه ؟ ووحاشه الانسان لما يطلب الطلبه حتي الطلبه الكويسه بيطلبها في حدود انانيته وفي حدود ذاتيته الله بقي مش زي انا الله لما بيخطط بيخطط في حدود الخير العام . ساعات ربنا يسمح لواحد بتجربه وبعدين يقول طب وانا مالي وبعدين ربنا يقول له انا عاوز اعمل بيك عمل اعلم جارك اللي فيريحك حاجه من التجربه اللي انا اديتها لك انت يا سلام ثم ان ربنا له مقاصد جايه بعد سنين طويله الله بيرتب لها من دلوقتي.</p>
<p>اذا الدرس اللي عاوز الوحي الالهي يثبته في ذهننا النهارده ان مش عايز ابص لحياتي ان هي منفصلة عن العمل الكبير اللي بيعمله الله لأجل خلاص البشريه كلها .</p>
<p>انا طوبه او حجر في هذا البناء الكبير وان هذا البناء الكبير بينمو مترابط هيكلاً مقدسا . وهذا البناء الكبير هو جسد المسيح السري هو لك. بل عاوز اقول ان هذا البناء الكبير هو البشريه كلها.. هو العالم</p>
<p>يبتدي دلوقتي الواحد يبص لذاته علي ايه هو مش إنسان عادي . تقول لي ايه انت موقفك يا أبونا حياتك انت . ممكن اقول لك حياتي انا راجل عايش في خوف ربنا ..</p>
<p>وبعيد عن الناس .. لا لي دعوه بيهم و لا ليهم دعوه بي .. وانسان آهو ربنا معايا و خلاص . وممكن اقول لك لا انا انسان في نطاق البشريه الكبيره انا آله في يد الله  يسخرني لمجد اسمه ولمجد الكنيسه بتاعته .. ويسخرني لاجل خلاص نفوس كثيره.. انا ربنا اللي يتحكم في تصرفاتي مش علشاني انا علشان غيري .. الله !! منظر جميل جدا .. عندما يضع الانسان ذاته في يدي الله لا لكي يطلب لأجل نفسه ولكن لكي يستخدمه الله لأجل اي عمل يختاره ربنا ..</p>
<p>وهنا بقي تبتدي تظهر روعه حياه التسليم لايدين ربنا ما اسالوش بقي امتي ها تعمل دي وامتي ها تعمل دي ؟ ماافرحش كثير بالنجاح ولا احزن كثير من الفشل . ولا لما تتاخر الطلبه . قلبي مليان سلام .. حاسس ان ربنا ها يستخدمني للخير .. واكثر من كده حتي الاخطاء في حياتي سيحولها الله للخير . ويجعل كل الامور تعمل معا للخير للذين يحبون الله .. وها ترجع تسألني انهي خير ؟ اقول لك الخير اللي بيقصده الله لاجل خلاص النفوس كلها .</p>
<p>ان القصد الالهي في التأخير بالنسبة للزمن بتاع ولاده يوحنا ده ترتيب. ده لازم الولد ده يتولد قبل مجيء المسيح بسته أشهر باليوم بالساعه بالثانيه يا سلام !! ده زكريا حياته طويله عدت السبعين ثمانين سنه . وبعدين بتيجي هنا عن انه بالثانيه خلال سبعين ثمانين سنه جاي تضبط الميعاد ياربي ؟ آه . بأضبط الميعاد بتاعه .</p>
<p>انا هاتكلم عن نفسي انا .. انا اتولدت في اليوم الفلاني في الساعه الفلانيه هل ربنا قاصد من ميلادي ده شيء معين لا .. ليه ما يكونش ربنا محدد ميلادي بعمل معين ها تربط بيه في حياتي . ما انا حياتي اتحطت في ايدين ربنا . ليه ربنا مايكونش بيدبر حياتي زي ما هو عايز .. دخلت المدرسة طلعت الاول طلعت الثاني .. طلعت العاشر زي ما طلعت اتخرجت .</p>
<p>دخلت الكلية المعينة دي . ليه ربنا دخلني هنا ليه ربنا ما يكونش قصد الهي لي . وليه ربنا لما اتخرجت عيني في القريه البعيده هناك دي مش كويسه وانا متضايق ومش طايق اقعد فيها .. فين القصد الالهي . عاوز تعلمني .. عاوز خير للقريه ديه عاوز يعمل بي عمل معين ؟ وليه ربنا أراد لي اتنقل في المكان الفلاني ؟ وليه ربنا أراد ان ارتبط بفلان .. اذا ابص لحياتي كلها علي بعضها انها جزء من البرنامج العام اللي بيعمله الله لأجل خلاص البشريه كلها .. انا بين ايديك ياربي مش انا اللي هاحدد لك الزمن .</p>
<p>لكن انت ياربي اللي لي الزمن لأننا هانخش في موضوع ثاني . نقطه اخيره ان الزمن عند ربنا أمر مخلوق زي ما بيخلق البني ادم زي ما بيخلق اي شيء في الوجود بيخلق الزمن علي ذلك انه سياتي وقت من الاوقات سوف لا يكون هناك زمن لان الزمن بيخلقه ربنا لقصد معين ولعمل معين وهو اللي بيحدد الازمنه. طب شوف تعبير الكتاب المقدس &#8221; ولما جاء ملء الزمان .. ولما جاء ملء الزمان أرسل الله ابنه مولودا من أمرأه تحت الناموس ليفتدي الذين تحت الناموس لننال التبني &#8221;</p>
<p>إذا فيه زمن محسوب ومترتب ولما جاء ملء الزمان . وكلمه ملء هنا يعني لما اتوضبت كل العمليه .. يوحنا خلاص جاهز . زكريا جاهز .. اليصابات جاهزه .. اطفال بيت لحم جاهزين .. الملايكه موجودين .. البشريه دلوقت عندها استعداد لقبول المخلص. الانبياء كلهم قالوا كل اللي عندهم ..</p>
<p>لما جاء ملء الزمان .. يا سلام .. وهذا الزمن كان ربنا بيملاه  من القرون القديمه كلها . آلاف السنين وهو بيرتب للخطه دي وبيرتب اللحظه دي للحظات ايضا جاءت بعديها اللي عايش فيها وانت عايش فيها النهارده.. انا اترتبت لي اللحظه اللي اتولد فيها المسيح.. ملء هذا الزمان .</p>
<p>لما جاء ملء الزمان ارسل الله ابنه مولودا من امراه تحت الناموس ليفتدي الذين هم تحت الناموس لننال التبني .</p>
<p>ايه اللي بيسبب القلق في حياه الانسان ؟ او حبيت تبحث الموضوع ده تجده هو موضوع الزمن .. ان الانسان بيربط نفسه بالزمن . مع انه الله بيخلق له الزمن وهو اللي بيحدده له لكي يصنع فيه شيء معين .. إذا الزمن ليس لي ان انا اللى ارتبه لكن الله اللي خالق الزمن هو اللي يرتبه لي ياسلام لو الانسان وصل للناحية ديه .</p>
<p>هايصبح الزمن تحت امره ..</p>
<p>شوف إحنا دلوقتي في العصر اللي بنسميه عصر السرعه . الانسان عبد للزمن الساعه دي تحركه والساعه دي تجيبهو اذا ضاعت منه ساعه يتعكنن .. وإذا وقف علي المحطة واتأخر القطار نصف ساعه تبقي ادربكت الدينا ما يقولش يمكن ترتيب ربنا يمكن كانت هاتحصل حاجه وإذا تاخر عن العمل اللي رايح يعمله بسبب القطر ده ولا بتاع يبقي ها يحدث دوشه في الشغل ولا بتاع . أنا عارف يمكن ربنا بيفتديني من خطر أكثر. كان ممكن يحدث لو رحت الشغل بدري في ميعادي المضبوط وكان ممكن تحدث حاجه أوحش فربنا فداني بخطر بسيط علشان يبعد عني خطر اوحش .. ربما هذا التأخير اللي نتج ربما سيؤدي إلي التقائي بانسان بعيد عن ربنا ودي فرصه إنه يجي للمسيح.. شيء عظيم خالص إن الانسان يضع حياته تحت ترتيب ربنا ويبقي الزمن عنصر مخلوق لخدمه الانسان بترتيب الهي وليس الزمن نوع من العبوديه يتربط بيها البني آدم علشان يجرجره الزمن شمال ويمين .</p>
<p>من اجل هذا يااحبائي اصبح هنا الزمن عند ربنا في عمليه الخلاص ده زمن محدد ومرتب واصبح الدرس الموجه لينا النهارده إن أحنا نسيب الزمن ده زمن محدد ومرتب واصبح الدرس الموجه لينا  النهارده إن أحنا نسيب الزمن ده لربنا مانرتبوش أبدا وما نقلقش  عليه . وان الولد يجي النهارده او بكره .. المهم يجي بترتيب ربنا ويأخذ وظيفته النهارده ولابكره .. ويتعين في الوقت ده ولا الوقت ده .. وانا احصل علي العمل دلوقت وعلي شهادتي وعلي درجتي ولا في وقت تاني وانا اختار لنفسي زمن محدد وانا أرتب لنفسي ترتيبات معينه لا أبدا .. أقول له لتكن ارادتك ولتكن مشيئتك التدبيرده تدبير الهي في نطاق خلاص البشريه كله وبعدين اسمع بقي اللي بيتكلموا عن هذا العمل.</p>
<p>بيقول طلبتك قد سمعت .. سمعت إن ده أنا بقي لي ٥٠ سنه بأصلي علشان الموضوع ده وصلت للياس. قال له من أول يوم سمعت شوف إزاي بقي .. بلاش القلق في حياه الانسان من أول يوم بقي ربنا بيسمع بسرعه كده ؟ ده ساعات الواحد يقول ياربي ده انا باطلب بقي لي عشر سنين ولا سنه بحالها انت مش سامع ..</p>
<p>يقول لي طلبتك سمعت .. من أول لحظه .. امرأتك اليصابات ستلد أبنا وتسمية يوحنا واشمعني يوحنا يعني .. مافيش واحد في القريه اسمه يوحنا قال له علشان تعرف ان الرب حنان يوحنا معناها ان الرب حنان .. ربنا حنين .. حنان يعني.. علشان تفتكر دايما هذه الناحية في حياتك .</p>
<p>وتعرف يازكريا هذا الولد اللي انت هاتولده مش ها تلحق تتمتع بيه لأنه معروف ان زكريا اتقتل بعد كده بسبب يوحنا.. بسبب يوحنا لأن لما هيرودس قام علشان يقتل الاطفال فقال انا عاوز الولد ده . فزكريا قال للعساكر ما اقدرش ادي لكم الولد لأني واخده من علي المذبح سيبوني احطه علي المذبح واقول لصاحب المذبح اتصرف فيه لان ده امانه في عنقي .. وده يوري لك إحساس زكريا بعد كده ان الولد ده بقي جاي من عند ربنا . يعني مش منه وزي ما ربنا يعمل يعمل في الولد . دخل حط الولد خطفه ملاك الرب من علي المذبح. طلع قال لهم الملاك اللي جابه آخذه . ( واعاله في البرية ٣٠سنه ) قالوا له إحنا ما بنفهمش الكلام ده .</p>
<p>انت هربت الولد فين  خبيته فين في الهيكل. قال لهم اللي حصل كده . قالوا مانعرفش خالفت الأوامر قطعوا رقبته فسفك دمه بين المذبح والهيكل زي ما قال السيد المسيح ان يطلب من هذا الجبل من دم هابيل الصديق الي دم زكريا بن برخيا الذي قتلتموه بين الهيكل والمذبح .. ما اتمتعش بيه .</p>
<p>لكن شوف بقي ابتدا زكريا ينتقل لمرحله ثانيه . بيقول له حنين ربنا .. حنين وانا مش هالحق اتهني بالولد .. يكون لك فرح وابتهاج طيب كويس دي اللي انا عاوزها من زمان .. قال لا مش انت لوحدك . وكثيرون سيفرحون بولادته .</p>
<p>الحاجه بتاعه ربنا ما تفرحنيش لوحدي تفرح العالم كله .. الفرح الأناني المحدود يبقي فرح ضيقً.. فرح ذاتي .. العمل بتاع ربنا عمل لذيذ ومفرح . لما تلاقي عمل ربنا واضح انت بتشكر ربنا .. لما تلاقي ربنا اعان الكنيسه للحظه ديه ودبرامورها وانقذها من تجارب كثيره تبقي الفرحه عامه للكل .. كثيرون سيفرحون بولادته</p>
<p>ويكون عظيما مادام من ربنا يبقي عظيم.. وخمرا ومسكرا لا يشرب ومن بطن امه يمتلي بالروح القدس لانه هو مستلمه من الروح القدس ويعمل عمل ربنا ويرد كثيرين من بني اسرائيل وقوي وشجاع ومعاه روح ايليا ويرد قلوب الاباء الي الابناء ويعمل صلح ويعمل سلام.. يا سلام علي عمل ربنا في حياتنا يا احبائي !! اذا ما اجمل ان الانسان يستودع نفسه بين يدي الله علشان يستخدمه ربنا .. يستخدمه طوبه في برنامج الخلاص الضخم الذي يرتبه للبشرية كلها منذ آدم الي آخر الدهور . ابقي انا قيمه في هذا البرنامج الكبير من اول ادم لغايه يوم القيامه. انا ربنا حاطني لعمل معين في نطاق هذه الدائره الواسعه علشان اتمم واكمل خدمه الخلاص التي ارادها الله للبشرية كلها.</p>
<p>ولالهنا المجد دائما ابديا آمين .<a href="#_ftn10" name="_ftnref10">[11]</a>.</p>
<p></p>
<p></p>
<h4>من وحي قراءات اليوم ؟</h4>
<p></p>
<p>&#8221; وكانا كلاهما بارين امام الله سالكين في جميع وصايا الرب واحكامه بلا لوم&#8230;وكانت اليصابات عاقرا &#8221;  (لو ٦:١) &#8211; إنجيل القداس:</p>
<p>هل تعرف معني هذا الكلام في ذلك الوقت ان تعيش إمرأة في العهد القديم دون انجاب ؟</p>
<p>هل تري معي كيف يحيا انسان في &#8221; عار &#8221; ليس له ذنب فيه ورغم ذلك يحيا هذا الإنسان حياه كامله مع الله ؟</p>
<p>هل رأيت إنساناً يحرمه الله من اغلي شئ ورغم ذلك لا يتنازل عن وصيه الله ومبادئه ؟</p>
<p>هل قابلت إنسانا يحتمل عار من الناس من اجل الله ويسلك معهم باستقامة وبرّ برغم ظلمهم له ؟</p>
<p>هل قابلت انسانا يسمح له الله بظلم كبير وخساره فائقه ورغم ذلك يقبل كل شئ من يده الإلهية ؟</p>
<p>هل تعاملت مع شخص يعاني من نظرات البشر الظالمه في شئ لا ذنب له فيه ومع هذا لا ياخذ موقف من الله ؟</p>
<p>هل تلاقيت مع انسان مجرب في اعز مايملك ورغم هذا لا ينفصل لحظه عن بيت الرب ؟</p>
<p>هل رأيت خادماً يجتاز ضيقة لسنوات عديدة ومع هذا يخدم بيت الرب من كل قلبه ؟ هل رأيت إنسانا محروم من إحتياج كبير لسنين عديدة ولا تستطيع أن تجد لوم في إيمانه ومحبته لله ؟</p>
<p>إذا رأيت &#8221; هؤلاء &#8221; فاعرف انك تقابلت مع &#8221; عظماء الإيمان &#8221; مثل زكريا واليصابات</p>
<p></p>
<p></p>
<p></p>
<h3>المراجع:</h3>
<p></p>
<p><a href="#_ftnref1" name="_ftn1"></a>١- العلَّامة أوريجانوس &#8211; تفسير لوقا الإصحاح الأوَّل &#8211; القمص تادرس يعقوب ملطي</p>
<p><a href="#_ftnref2" name="_ftn2"></a>٢- كنز التفسير &#8211; الشماس بشارة بولس ص ١٨</p>
<p><a href="#_ftnref3" name="_ftn3"></a>٣- JR, A. J. &amp; Oden, T.C. ( 2003 ). Luke (The Ancient Christian Commentary on Scripture,      New testament part III ). Illinois ( USA ) : InterVarsity press. Page 6,7</p>
<p>ترجمة الأخت ايفيت منير &#8211; كنيسة مار مرقس ببني سويف</p>
<p><a href="#_ftnref4" name="_ftn4"></a>٤- شرح وتفسير آباء الكنيسة لأناجيل آحاد السنة التوتية ( شهر كيهك ) &#8211; إشراف ومراجعة دكتور جوزيف موريس فلتس</p>
<p><a href="#_ftnref5" name="_ftn5"></a>٥- تفسير إنجيل لوقا &#8211; الإصحاح الأوَّل &#8211; القمص تادرس يعقوب ملطي</p>
<p><a href="#_ftnref6" name="_ftn6"></a>٦- . المرجع : كتاب من مجد إلي مجد للقديس غريغوريوس النيسي صفحة ١٣١ &#8211; ترجمة القمص إشعياء ميخائيل</p>
<p><a href="#_ftnref7" name="_ftn7"></a>٧- المرجع : كتاب المنجلية القبطية الارثوذكسية صفحة 217 – البابا تواضروس الثاني</p>
<p><a href="#_ftnref8" name="_ftn8"></a>٨- المرجع كتاب تاملات وعناصر روحية في احاد وايام السنة التوتية اعداد القمص تادرس البراموسي</p>
<p><a href="#_ftnref9" name="_ftn9"></a>٩- المرجع كتاب المواعظ النموذجية النموذجية الجزء الثاني صفحة 233</p>
<p><a href="#_ftnref10" name="_ftn10"></a>١٠- المرجع : كتاب تأملات روحية في قراءات أناجيل آحاد السنة القبطية &#8211; المتنيح القمص لوقا سيداروس</p>
<p>١١- المرجع : كتاب عظات مضيئة معاشة صفحة</p>
<p></p>
<p></p>
<p></p>

      {% endcreateArticleAccordions %}
    </section>
  {% endblock %}
  