---
layout: 'layouts/reading.html'
title: 'قراءات الأحد الثالث من شهر كيهك'
permalink: sundays/4-3.html
---
  {% block content %}
    <section id="readings">
      <ul>
      {% if '19.132:13-15' != 'null' %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">العشية</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeVespers '19.132:13-15' '41.1:23-31' %}
          </div>
        </div>
      </li>
      {% endif %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">باكر</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeMatins '19.85:7-8' '40.15:21-31' '' %}
          </div>
        </div>
      </li>
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <h3 class="flex items-center justify-between">
            <span class="kufi">القداس</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </h3>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeLitugy '45.4:4-24' '62.2:7-17' '44.7:35-50' '19.85:10-11' '42.1:39-56' %}
          </div>
        </div>
      </li>
        </ul>
    </section>
    <section id="article">
      <h3 class="mt-8 mb-4 heading-explain">شرح القراءات</h3>
      {% createArticleAccordions firstName, lastName %}
        <p></p>
<p></p>
<p></p>
<p>عليك استندت من البطن، وأنت مخرجي من أحشاء أمي. بك تسبيحي دائما &#8221; (مز ٦:٧١)</p>
<p>فإني أبتهج بالرب وأفرح بإله خلاصي (حب ١٨:٣)</p>
<p>&#8221; النور أشرق من مريم وإليصابات ولدت السابق &#8221; ثيئوطوكية الإثنين</p>
<p>&#8221; خطرت حمامة في بيت زكريا وفِي أميالها أعطت سلام</p>
<p>فخرجت ذات العقورية      للقاء والدة منشئ الأنام &#8221;</p>
<p>مديح يقال في توزيع الأحد الثالث من شهر كيهك</p>
<p>&#8221; من العاقر يخرج (الصوت) ليهئ الطريق ، ومنك يُشرق كلمة الحياة للعالم كله. إلتقي الصباح والمساء ليقبِّلا بعضهما، مريم الصبيَّة (الصباح) حُبلي بشمس البرِّ ، وأليصابات ( المساء )حاملة كوكب النور ، لم يقدر الكوكب أن يُقبِّل الشمس فارتعب من إشراقها ، تكلمت الصبية واختلج بطن العجوز وتحيَّر . ابن البتول عتيق الأيام يعمل، وبروح القدس مَسَحَ الطفل في بطن أمه، وأعطاه المعمودية في البطن قبل الميلاد. <a href="#_ftn1" name="_ftnref1">[1]</a>&#8221;</p>
<p></p>
<p></p>
<h3>شواهد القراءات</h3>
<p></p>
<p>(مز١٣١: ١٠-١١)، (مر١: ٢٣-٣١)، (مز ٨٤: ٦-٧ )، (مت١٥ : ٢١-٣١ )،( رو٤ : ٤ &#8211; ٢٤)، (١يو٢ : ٧-١٧) ، (أع ٧ : ٣٥-٥٠ )، (مز٨٤ : ٩-١٠)، (لو١ : ٣٩ -٥٦ )</p>
<p></p>
<p></p>
<h3>ملاحظات على قراءات اليوم</h3>
<p></p>
<p>+ قراءة البولس اليوم (رو ٤: ٤ &#8211; ٢٤) تُشبه قراءة البولس ( رو ٤ : ١٣ &#8211; ٥ : ١ &#8211; ٥ ) ليوم ٩هاتور ( تذكار إنعقاد مجمع نيقية المسكوني )</p>
<p>قراءة اليوم تتكلَّم عن برّ الله المُعْلَن لكل إنسان (غرلة وختان)</p>
<p>بينما قراءة يوم ٩ هاتور تتكلَّم (في الآيات الزائدة بعد بعد آية ٢٤) عن عظمة الإيمان</p>
<p>+ قراءة الكاثوليكون لهذا اليوم (١يو ٢: ٧ &#8211; ١٧) تكرَّرت في يوم ١ توت (رأس السنة القبطية) ، والأحد الثاني من شهر مسري</p>
<p>وتُشبه قراءة يوم ٢١ توت (١يو ٢: ٧ &#8211; ١١) مع إختلاف عدد الآيات المُختَاَرة</p>
<p>لأن قراءة الكاثوليكون ليوم ٢١ توت (تذكار الشهيد كبريانوس ) إكتفت بالكلام عن المسيح له المجد النور الحقيقي ونور العهد الجديد والمحبة الأخويّةكعلامة عن عمل هذا النور فينا</p>
<p>ومجيئها اليوم والأحد الثاني من مسري رُبَّما يكون سببه الآية &#8221; لأن الظلمة قد جازت والنور الحقيقي الآن يضئ &#8220;، إشارة إلي تجسُّد الكلمة (الأحد الثالث من كيهك) ، وإشراقة نور وبرّ ابن الله للبشرية الضعيفة ( الأحد الثاني من مسري )</p>
<p>أما قراءة الكاثوليكون ليوم ١ توت فتكلمت أيضاً، بالإضافة إلى هذا، عن عطايا نور المسيح له المجد لأولاد العهد الجديد في بداية السنة القبطية (وهي مغفرة الخطايا، والنصرة علي الشرير، ومعرفة الآب)</p>
<p>+ قراءة الإبركسيس اليوم (أع ٧: ٣٥ &#8211; ٥٠) تُشبه قراءة الإبركسيس (أع ٧: ٤٤ &#8211; ٨: ١) ليوم ١٥ هاتور (شهادة مار مينا ) ، وقراءة الإبركسيس ليوم ١٣ مسري ( عيد التجلِّي )</p>
<p>ومجئ آيات إضافية (من آية ٣٥ إلي ٤٣) في قراءة الأحد الثالث من كيهك للإشارة إلي رموز تجسُّد الكلمة ، ظهور الله في العلِّيقة ، ونبوَّة موسي النبي عن مجئ المسيح له المجد</p>
<p>أمَّا مجيئها يوم ١٥ هاتور فهو للكشف عن الآلام والعذاب الذي إجتازه القديس إستفانوس وشهادته للمسيح له المجد وسط آلامه ، ومجد الله لأولاده ، كما حدث وقت إستشهاده عندما رأي مجد الله ويسوع قائماً عن يمين الله ، ومقارنة مع الشهيد مار ميناالعجايبي الذي رأي السموات مفتوحة وعاين مجد الله قبيل ذهابه للإعتراف بالمسيح وإستشهاده ( ١٥ هاتور )</p>
<p>بينما مجيئها يوم ١٣ مسري فهو لإعلان مجد التجلّي وهو نصيب البشرية في المسيح له المجد (موضوع قراءات ١٣ مسري )</p>
<p>+ إنجيل قدَّاس اليوم (لو ١: ٣٩ &#8211; ٥٦) هو نفس إنجيل قدَّاس يوم ١ بشنس ( عيد ميلاد والدة الإله )</p>
<p></p>
<p></p>
<h3>شرح القراءات</h3>
<p></p>
<p>يتكلم هذا الأحد عن إستعلان جسد الكلمة (كنيسة العهد الجديد) بتجسده المجيد فالكنيسة التي إستعلنت بالتجسد تضم اليهود والأمم السمائيين والأرضيين التي تتطلع أن يكون الجميع واحدا فيه</p>
<p>تبدأ المزامير بإختيار الله (مزمور عشيّة ) وإحتياج البشرية ( مزمور باكر ) وإستعلان مراحم الله ( مزمور القدَّاس )</p>
<p>لذلك يبدأ مزمور عشية بإختيار كنيسة اليهود والتي كانت بهدف إعدادها لتجسد إبن الله في ملء الزمان (لأن الرب قد إختار صهيون ورضيها مسكنا له) لذلك يأتي إنجيل عشية متكلما عن معجزة شفاء في مجمع اليهود</p>
<p>أما مزمور باكر قيتكلم عن كنيسة الأمم التي نالت مراحم الله وخلاصة للكل (أرنا يارب رحمتك وأعطنا خلاصك) لذلك يخبر إنجيل باكر عن معجزة شفاء لأممية</p>
<p>أما مزمور القداس فيؤكد على تلاقي الرحمة في كنيسة الأمم مع الحق في كنيسة اليهود فصارت الإشراقة في الأرض كلها بالعدل الإلهي المنسكب من السماء (الرحمة والحق التقيا والعدل والسلام تلاثما الحق من الأرض أشرق والعدل من السماء تطلع)</p>
<p>وتتكلّم القراءات عن شفاء كنيسة اليهود (إنجيل عشيّة) وشفاء كنيسة الأمم (إنجيل باكر) وإمتلاء كنيسة العهد الجديد من الروح القدس (إنجيل القدَّاس)</p>
<p>في إنجيل عشية نري شفاء كنيسة اليهود من سلطان الأرواح النجسة ومن حمي الخطية (وللوقت كان في مجمعهم رجل به روح نجس&#8230;لأنه بسلطان يأمر الأرواح النجسة فتطيعه فخرج خبره للوقت في كل موضع في الكورة المحيطة بالجليل)</p>
<p>بينما يُعْلِن إنجيل باكر شفاء كنيسة الأمم التي طلبت مراحم إبن دَاوُدَ رغم عدم أحقيتها لكن بتواضعها وإيمانها نالت مراحم الرب ( إرحمني يارب يا إبن داود &#8230;.لم أرسل إلي أحد إلا إلي خراف بيت إسرائيل الضالة &#8230;..فقالت نعم يارب فإن الكلاب قد تأكل أيضا من الفتات الذي يسقط من مائدة أربابها&#8230;.ياإمرأة عظيم إيمانك ليكن لك كما تريدين )</p>
<p>أما إنجيل القداس فيعلن ماهو أعظم من الشفاء من الأمراض وماهو أعظم من التحرر من سلطان الشيطان فيعلن غاية تجسد إبن الله وهو الإمتلاء من الروح القدس للبشرية كلها لكنيسة العهد القديم العجوز ممثلة في أليصابات بحضور إبن الله إليها في أحشاء أمه العذراء والدة الإله والتي تعلن فيض وملء كنيسة العهد الجديد (وامتلأت أليصابات من الروح القدس &#8230;.ورحمته إلي جيل الأجيال للذين يتقونه&#8230;.أشبع الجياع خيرات )</p>
<p>أما الرسائل فتتكلم عن الكنيسة أم جميع الشعوب والأمم ( البولس ) وعصبها المحبّة والطهارة ( الكاثوليكون ) وإستعلانها في النفوس وليس فقط المباني ( الإبركسيس )</p>
<p>في البولس نري غني النعمة في كنيسة العهد الجديد وأن نعمة العهد الجديد لاتخص أولاد الجسد بل أولاد الإيمان وأنها لاتنحصر في من هم من الختان ( اليهود ) بل أيضا من الغرلة ( الأمم ) وأمومة الكنيسة للكل ( فكيف حسب أهو في الختان أم في الغرلة لم يكن في الختان بل في الغرلة وأخذ علامة الختان ختما لبر الإيمان الذي كان في الغرلة ليكون أبا لجميع الذين يؤمنون من أهل الغرلة كي يحسب لهم أيضا البر وأبا للختان للذين ليسوا من الختان فقط بل والذين يسلكون في خطوات إيمان أبينا إبراهيم&#8230;..ليكون الوعد ثابتا لجميع الذرية لا لأصحاب الناموس فقط بل لمن كان من أهل إيمان إبراهيم الذي هو أب لجميعنا كما هو مكتوب إني قد جعلتك أبا لأمم كثيرة )</p>
<p>أما الكاثوليكون فيتكلم عن غني نقاوة وطهارة وجمال كنيسة العهد الجديد بتجسد إبن الله لذلك يتكلم عن المحبة الأخوية التي هي أقوي دليل علي السلوك في النور كما يعلن قوة أولادها وشبابها ونصرتهم على العدو الشيطان بثباتهم في الكلمة وعدم محبتهم لشهوات العالم (من يحب أخاه يثبت في النور وليس فيه عثرة&#8230;.. أكتب إليكم أيها الشبان لأنكم أقوياء وكلمة الله ثابتة فيكم وقد غلبتم الشرير لا تحبوا العالم ولا الأشياء التي في العالم)</p>
<p>لذلك يعلن الإبركسيس عن جوهر الكنيسة ليس المباني فقط ولا الذبائح أيضا فقط بل الطاعة الكاملة للوصية لذلك يجد الله فيها راحته في قلوب أولاده فتصير نفوس المؤمنين كنائس له (هذا هو الذي كان في الكنيسة في البرية مع الملاك..،.، هل قربتم لي ذبائح وقرابين أربعين سنة&#8230;بل أخذتم خيمة مولوك ونجم إلهكم مرفآن..،.ولكن العلي لا يسكن في مصنوعات الأيادي&#8230;،أي بيت تبنون لي وأي هو مكان راحتي)</p>
<p></p>
<p></p>
<h3>ملخّص القراءات</h3>
<p></p>
<p>أي أن كنيسة العهد الجديد التي أسسها ودشنها الرب بتجسده المجيد هي التي أعد لها في العهد القديم (مزمور عشية والإبركسيس)</p>
<p>وهي تضم الكل في عضويتها (البولس)</p>
<p>وتعلن شفاء الكل خلال عمل إبن الله فيها (إنجيل عشية وباكر)</p>
<p>وتظهر نور الإبن فيها في المحبة الأخوية والسلوك في النور ورفض شهوات العالم ( الكاثوليكون )</p>
<p>وتعيش التسبيح الدائم لامتلائها من الروح القدس (إنجيل القداس)</p>
<p></p>
<p></p>
<h3>إنجيل القدَّاس في فكر آباء الكنيسة</h3>
<p></p>
<p>&#8220;أخفت أليصابات نفسها مدة خمسة أشهر؛ لكي تكون مريم أولى مَن اطّلع على ما نالته مِن بركات، تلك التي بها رأت دلالة افتقاد الله.&#8221; (مار إفرام السرياني).</p>
<p>&#8220;سر عظمة يوحنّا هو حلول الروح القدس عليه وهو لم يزل في بطن أمه.&#8221; (القديس أمبروسيوس).</p>
<p>&#8220;يوحنّا قد عمَّد الذي بِاسمه يجب أنْ يعتمد الجميع.&#8221; (القديس كبريانوس).</p>
<p>&#8220;لا يمكن أبدًا أنْ يكون الروح بغير قوة.&#8221; (القديس أمبروسيوس).</p>
<p>&#8220;يحمل تقارب زمن البشارة بمولد يوحنّا ويسوع إشارة إلى العلاقة بينهما وصِلتهما بقصة الخلاص.&#8221; (القديس أوغسطينوس).</p>
<p>&#8220;رغم حدّة التناقض بين عقم أليصابات وبتولية العذراء، فإن فيهما معًا تظهر أعمال الله العجيبة لهذه اللحظة الفارقة في تاريخ الخلاص.&#8221; (القديس مكسيموس التوريني)<a href="#_ftn2" name="_ftnref2">[2]</a></p>
<p></p>
<p></p>
<h3>الكنيسة في قراءات اليوم</h3>
<p></p>
<p>لاهوت ابن الله                                                                 إنجيل عشيّة</p>
<p>إيمان الأمم ( إبراهيم أب كل الأمم )                                      البولس</p>
<p>نبوّات ورموز التجسّد في العهد القديم                                    الإبركسيس</p>
<p>إعلان الروح القدس عن والدة الإله علي لسان اليصابات               إنجيل القدَّاس</p>
<p>التسبيح                                                                              إنجيل القدَّاس</p>
<p></p>
<p></p>
<h3>عظات مقترحة</h3>
<p></p>
<h4>(١) كنيسة العهد الجديد</h4>
<p>١- ورضيها مسكنا له (مزمور عشيّة ) أرنا يارب رحمتك وأعطنا خلاصك ( مزمور باكر ) الحق من الأرض أشرق والعدل من السماء تطلع ( مزمور القدَّاس )</p>
<p>الكنيسة هي مسكن الله ومكان مراحمه وخلاصه وإستعلان حقّه وعدله</p>
<p>٢- لأنه بسلطان يأمر الأرواح النجسة فتطيعه ( إنجيل عشيّة ) ياإمرأة عظيم إيمانك ليكن لك كما تريدين ( إنجيل باكر ) وإمتلأت أليصابات من الروح القدس ( انجيل القدَّاس )</p>
<p>أبناء كنيسة العهد الجديد صار لهم سلطان علي الشيطان والثقة في إستجابة الصلوات والإمتلاء من الروح القدس</p>
<p>٣- لمن كان من أهل إيمان إبراهيم ( البولس ) &#8211; من يحب أخاه يثبت في النور ( الكاثوليكون ) &#8211;  ولكن العلي لايسكن في مصنوعات الأيادي ( الإبركسيس )</p>
<p>كنيسة الإيمان مثل أبينا إبراهيم وكنيسة المحبّة التي تثبِّتنا في نور الإبن وكنيسة العبادة بالروح التي تجعل قلوبنا مسكناً له.</p>
<h4>(٢ ) سمات خدمة العذراء لإليصابات</h4>
<p>١- خدمة النداء الداخلي أكثر من خدمة التكليف</p>
<p>ذهبت والدة الإله إلي إليصابات بمجرد معرفة حملها من الملاك وأسرعت بعد البشارة مباشرة في سفر شاق في الجبال إستجابة من نداء داخلي لخدمة المحتاجين ولم تنتظر تكليف من أحد أو طلب من إليصابات</p>
<p>واليوم نري خدّام من الشعب يخدمون إحتياجات الآخرين دون تكليف رسمي من الكنيسة وهؤلاء اليوم كثيرون ربما لا يعرف عنهم الناس كثيراً</p>
<p>٢- خدمة الإحتياج أكثر من خدمة المجاملات</p>
<p>كان يمكن لأمنا العذراء أن تذهب إلي إليصابات لأيام تساعدها وترجع مباشرة ليوسف وتكون قدمت مجاملة مشكورة لإليصابات وسوف يمدحها الكثيرون ولكنها ذهبت تمكث معها طول فترة الحمل حتي وقت الولادة فكانت خدمتها إلي آخر وقت ممكن</p>
<p>٣- خدمة حمل الصليب أكثر من خدمة الصيت الحسن</p>
<p>كانت تعرف والدة الإله أن خدمتها لإليصابات لثلاث شهور ورجوعها ليوسف البار وهي حامل سوف يثير مشاكل كثيرة لها ولكنها فضلّت الخدمة بمشاكلها أفضل من الصيت الحسن بدون خدمة</p>
<p>٤- خدمة التعب</p>
<p>فأمنا العذراء سافرت من قريه إلي أخري وتحملت مشقه السفر وخطورته علي حملها من أجل خدمه اليصابات وهذا قاله القديس بولس &#8221; كل واحد سيأخذ اجرته بحسب تعبه &#8221; ١كو ٣ : ٨</p>
<p>٥- خدمة الخفاء</p>
<p>لم يعرف أحد بخدمه امنا العذراء الّا بعد ذلك بسنين عديده وهكذا ما اجمل ان يكون جانب من خدمتنا &#8221; لا يعرفه احد &#8221;</p>
<h4>(٣) سمات تسبحة والدة الإله</h4>
<p>( كنز التفسير  الشماس بشارة بولس ص ٣١ &#8211; ٣٤ )</p>
<p>١- كمال معرفتها بالأسفار المُقدَّسة</p>
<p>٢- عِظَمْ تواضعها</p>
<p>٣- شعورها بواجب تقديم الشكر</p>
<p>٤- إختبارها قدرة الله العجيبة</p>
<p>٥- شدة تمسكها بمواعيد الله</p>
<p></p>
<p></p>
<h3>عظات ابائية</h3>
<p></p>
<h4>العلَّامة أوريجانوس</h4>
<p></p>
<p><strong>تعظم نفسى الرب</strong></p>
<p>&#8221; توجد قوتان ، النفس والروح ، تعبران عن نوعين من التمجيد ، النفس تبتهج بالرب بينما الروح تعظم الله ، ليس أن تمجيد الرب يختلف عن تمجيد الله ، لأن الواحد الذى هو الله أيضاً هو أيضاً الرب ، والواحد الذى هو الرب هو أيضاً الله&#8221;</p>
<p>ونحن نسأل أنفسنا كيف يمكن للنفس أن تعظم الرب ، لأنه ان كان الرب لا يمكن أن يكون خاضعاً لا للنمو ولا للنقص ، هو دائما كما هو ، لماذا تقول مريم الآن &#8221; تعظم نفسى الرب &#8221; ؟</p>
<p>اذا تذكرنا أن الرب المخلص هو &#8221; صورة الله غير المنظور &#8221; (كو ١: ١٥)</p>
<p>واذ أعرف أن روحى مخلوقة &#8221; على صورة الله &#8221; (تك ١: ٢٧) لكى تكون صورة الصورة ( لأن نفسى ليس هى صورة الله ولكنها مخلوقة على صورة الله الأصلى )</p>
<p>حينئذ سأكون قادراً على أن أفهم الموضوع بالطريقة الآتية :</p>
<p>مثل فنان قد رسم صورة بعد أن اختار ( مثلاً ) وجه ملك واستخدم قدرته الفنية لكى يصور نموذجاً فريداً ، بنفس الطريقة فاننا حين نهتم بتحويل أنفسنا الى صورة المسيح نعيد تكوين صورة له ، صورة كبيرة أو صغيرة ، أحياناً مخفية أو غير نظيفة ولكن أحيانا لامعة ومنيرة ، ومتقابلة مع النموذج الأصلى</p>
<p>لذلك فاننى حين أوسع صورة الصورة ( أُكبّرها ) التى هى نفسى ، وأعظّمها بأعمالى وأفكارى وكلماتى ، حينئذ تصير صورة الله أعظم والرب نفسه الذى نفسى هى صورته يتمجد فى هذه النفس</p>
<p>ومثلما أن الرب ينمو فى صورتنا ، لذلك فاذا كنا خطاة فانه يصغر ويقل ، وباختصار فان الرب لايقل ولاينقص ولكننا نحن الذين بدلا من أن نلبس صورة المخلص فاننا نكسى أنفسنا بصور أخرى بدلا من صورة الكلمة ، صورة الحكمة ، صورة العدل وكل الفضائل الأخرى فاننا نلبس صورة وشبه أبليس لذلك فاننا نُدعَى ( فى هذه الحالة ) الحيات أولاد الأفاعى (مت ٢٣ : ٣٣)</p>
<p>نحن أيضا نلبس ملابس الأسود ، التنانين والذئاب حين نكون قساة ، حقودين ، مخادعين اننا حتى نتشبه بالجداء وبالخنازير حين نميل بشدة الى اللذات الحسية ، أولا نفس مريم تعظم الرب وبعد ذلك روحها تفرح بالله اذا لم نؤمن أولا لا يمكن أن نفرح.<a href="#_ftn3" name="_ftnref3">[3]</a></p>
<p></p>
<p></p>
<h4>القديس أثناسيوس الرسولي</h4>
<p></p>
<p>مريم تسلم على اليصابات</p>
<p>&#8221; أم السيد تسلّم على أم الخادم</p>
<p>&#8221; أم الملك تسلم على أم العبد</p>
<p>&#8221; أم الاله تسلم على أم الانسان</p>
<p>العذراء تعطى التحية للعجوز المتزوجة</p>
<p>من الخارج أعطت العذراء التحية لأليصابات ، وحين سلم الاثنان على بعضهما بطريقة منظورة فان الروح القدس ، الذى سكن فى أحشاء مريم حرّك ذاك الذى فى بطن اليصابات ، مثل صديق يشجع صديقه &#8221; اسرع ، استيقظ إ &#8221;</p>
<p>لذلك سجد الذى فى بطن اليصابات وسمع المسيح يتحدث اليه قائلاً : اذهب أعد الطريق أمامى لكى ما أتمم تدبيرى الذى لى</p>
<p>حين سلمت العذراء على اليصابات ( سلم المسيح أيضاً على يوحنا فى بطن أمه ) كما قيل فى الانجيل &#8221; فلما سمعت اليصابات سلام مريم ارتكض الجنين فى بطنها &#8221; (لو ١ : ٤١)</p>
<p>تعالى الآن أيها الوحش أريوس ( وكل من لا يؤمن بألوهية المسيح ) ، ألا تسمع أن ذاك الذى فى أحشاء العذراء يسلم على مَن فى أحشاء اليصابات بينما يعلن هو ( ابن العاقر ) للعالم كله : هاهوذا ابن الله فى أحشاء العذراء كيف ذلك ؟</p>
<p>حين سمع يوحنا صوت سيده حيّاه بفم أمه وامتلأ فرحاً وبهجة ليخرج سريعاً من أحشاء أمه قبل خروج سيده إ</p>
<p>لم يستطيع أن يكتم فرحه فصرخ على فم أمه مخاطباً العذراء :</p>
<p>مباركة أنت فى النساء ومباركة هى ثمرة بطنك من أين لى هذا أن تأتى الىّ أم ربى ؟ (لو ١ : ٤٣ &#8211; ٤٤)</p>
<p>يا أحبائى لا تظنوا أن يوحنا كان هو الوسيلة ولكن اليصابات هى الوسيلة التى تكلم يوحنا بفمها ، وهكذا حيا مخلصنا يوحنا بفم أمه بالتحيّة التى خاطبت بها العذراء اليصابات &#8221;</p>
<p>&#8221; أيتها العذراء العالية أنت بالحقيقة أعظم من كل عظمة أخرى</p>
<p>من يساويك فى العظمة أنت مسكن الله الكلمة ؟</p>
<p>بمن أقارنك فى كل المخلوقات أيتها العذراء ؟ أنت أعظم من الجميع</p>
<p>يا تابوت العهد ، مكسوة بالنقاوة بدلاً من الذهب</p>
<p>أنت هى التابوت الذى وُجِد فيه القسط المحتوى على المن الحقيقى الذى هو الجسد المتحد باللاهوت</p>
<p>هل أشبهك بالأرض الخصبة المثمرة ؟ انك فقتيها جداً لأنه مكتوب &#8221; الأرض موطىء قدمى &#8221; (أش ٦٦ : ١)</p>
<p>لقد حملت داخلك كل جسد الله بكماله</p>
<p>اذا قلت ان السماء ممجدة فهى لا تساويك لأنه مكتوب &#8221; السموات هى عرشى &#8221;  (أش ٦٦ : ١) بينما أنت مكان راحته</p>
<p>اذا قلت ان الملائكة ورؤساء الملائكة عظماء ، فأنك أعظم منهم جميعاً لأن الملائكة ورؤساء الملائكة يخدمون الذى سكن فى أحشائك وهم مرتعدون إ</p>
<p>لا يجرأون على التكلم فى حضرته وأنت تناجينه بحرية ، اذا قلنا ان الشاروبيم عظماء فأنت أعظم منهم جميعاً ، لأنهم يحملون عرش الله (مز ٨٠ : ١) و (مز ٩٩ : ١) بينما أنت تضمينه بيديك فى حضنك ، اذا قلنا ان السيرافيم عظماء فأنت أعظم منهم جميعاً ، لأن السيرافيم تغطى وجوهها بأجنحتها (أش ٦ : ٢) ولا تستطيع أن تنظر الى مجده الكامل ولكنك ليس فقط تتفرسين فيه بل تطعمينه وتعطيه ثدييك فى فمه القدوس</p>
<p>ان حواء قد صارت أما للأموات &#8221; لأنه فى آدم يموت الجميع &#8221; (١كو ١٥ : ٢٢)</p>
<p>لقد أخذت حواء من ثمر الشجرة وأعطت رجلها فأكل معها ، أكلوا من الشجرة التى قال الله لهما عنها &#8221; يوم تأكلان منها موتاً تموتا &#8221; (تك ٢ : ١٧) لقد أخذت حواء من ثمرتها وأكلت منها وأعطت لرجلها ليأكل فأكل ومات</p>
<p>وفيك أيتها الحكيمة سكن ابن الله ذاك الذى هو شجرة الحياة لقد أعطانا جسده بالحقيقة فأكلنا منه ووَهَبتِ الحياة للكلّ جاء الكلُ الى الحياة بنعمة الله ، ابنك الحبيب ، لأجل ذلك تتهلّل روحك بالله مخلصك<a href="#_ftn4" name="_ftnref4">[4]</a> &#8221;</p>
<p></p>
<p></p>
<h4>تفسير تسبحة والدة الإله في فكر القديس كيرلس الإسكندري</h4>
<p></p>
<p>(لو٥١:١ )&#8221;صنع قوة بذراعه، شتت المُستكبرين بفكر قلوبهم&#8221;</p>
<p>الذراع يشير رمزيًا إلي الكلمة الذى ولد من العذراء، وتعنى مريم بالمستكبرين: الشياطين الأردياء الذين سقطوا مع رئيسهم بواسطة الكبرياء.</p>
<p>ويعنى أيضًا حكماء اليونانيين الذين رفضوا ان يقبلوا كرازة الإنجيل التي عندهم جهالة، وأيضا اليهود الذين لم يؤمنوا والذين تشتتوا بسبب تصوراتهم غير عن كلمة الله.</p>
<p>وتقصد &#8220;بالأعزاء&#8221; الكتبة والفريسيين الذين يسعون للكراسي الاولي، ومع ذلك فإنه اقرب الي المعنى، ان يقصد بالأعزاء الشياطين الاردياء فان هؤلاء حينما ادّعوا السيادة علي العالم فإن الرب شتتهم بمجيئه إلينا ، ونقل اولئك الذين كانوا اسرى لهم الي سيادته وملكوته هو.</p>
<p>فإن كل هذه الاشياء حدثت بحسب نبوة العذراء بأنه:(لو٥٢:١)&#8221;انزل الاعزاء عن الكراسي ورفع المتضعين &#8220;، فالكبرياء هؤلاء الشياطين الذى شتتهم هو كبرياء فظيع وهكذا ايضا كبرياء فلاسفة اليونانيين ، وكذلك الفريسيين و الكتبة كما ذكرت. ولكنه هو انزلهم ، ورفع أولئك الذين تواضعوا تحتديه القوية ، واعطي هؤلاء السلطان ان يدرسوا الحيات والعقارب وعلي كل قوة العدو. وابطل مؤامرات هذه الكائنات المستكبرة ضدنا. اليهود الذين كانوا يفتخرون سابقًا بمملكتهم نزعت منهم بسبب عدم إيمانهم ، بينما الوثنيين الذين لم يكونوا يعرفون الله رفعهم ومجدهم بسبب ايمانهم.</p>
<p>(لو٥٣:١)&#8221;اشبع الجياع خيرات وصرف الاغنياء فارغين&#8221;</p>
<p>وهي تعنى بالجياع الجنس البشرى. إذًا انه فيما عدا اليهود كان الجميع مجروحين بالجوع، فاليهود كانوا أغنياء بإعطائهم الناموس وبتعاليم الأنبياء القديسين، فقد كان لهم التبني والعبادة والاشتراع والمواعيد (رو٤:٩) ولكنهم تلهوا بالطعام الكثير ،انتفخوا بالمنزلة التي أعطيت لهم ولأنهم رفضوا ان يقتربوا باتضاع من الكلمة المتجسد، فقد صرفوا فارغين لا يحملون شيئًا، لا الايمان ولا المعرفة ولا الرجاء في البركات الآتية، فإنهم بالحقيقة صاروا منبوذين من أورشليم الأرضية وايضا غرباء عن حياة المجد التى ستعلن في المستقبل ، لأنهم لم يقبلوا رئيس الحياة بل صلبوا رب المجد ، وتركوا ينبوع الماء الحى واعتبروا الخبز النازل من السماء انه لا شيء، ولهذا السبب فقد اتىعليهم جوع أشد من اي جوع آخر وعطش اكثر مرار من كالعطش آخر. فإنه لم يكن جوعُ الي الخبز المادي ولا عطش إلي الماء، ولكنه جوع لاستماع كلمة الله (عاموس١١:٨).</p>
<p>ولكن الأمم الذين كانوا جياع وعطشي بنفوسهم الهزيلة البائسة فقد امتلئوا بالبركات الروحية، لأنهم قبلوا الرب ، فإن كانت امتيازات اليهود قد نُقلت اليهم. (لو٥٤:١) &#8220;عضد اسرائيل فتاه ليذكر رحمته&#8221;</p>
<p>عضد اسرائيل- ليس اسرائيل يفخر بمجرد الاسم، ولكن ذلك الذى هو بالروح وبحسب المعنى الحقيقي للاسم- ذلك الذى ينظر إلي الله، ويؤمن به ، وينال تنبي البنيي بواسطة الابن بحسب الكلمة التى أعطيت ، والوعد المعطي للأنبياء والبطاركة ( رؤساء الآباء ) القدماء . ولكن كلمة اسرائيل لها انطباق حقيقي أيضا علي اسرائيل الجسدي فإن الآف وربوات من بينهم قد آمنوا .ولكنه قد ذكر رحمته كما وعد إبراهيم ، وقد تمم ما قاله له بأن فينسلك تتبارك جميع قبائل الارض (تك١٨:٢٢) فإن هذا الوعد كانفي طريقه الي التحقق بميلاد مخلصنا المسيح الذى كان علي وشك الحدوث، الذى هو نسل ابراهيم الذي فيه تتبارك الأمم ، لأنه أمسك بنسل إبراهيم كما تقول كلمات الرسول (عب١٦:٢)،وهكذا تحقق الوعد الذى أعطي للآباء<a href="#_ftn5" name="_ftnref5">[5]</a>.</p>
<p></p>
<p></p>
<h4>لقاء والدة الإله وإليصابات عند القدِّيس يعقوب السروجي (٤٥١-٥٢١)</h4>
<p></p>
<p><strong>مِنْ العاقر يخرج (الصوت) ليهيء الطريق . ومنك يُشرق كلمة الحياة للعالم كله .</strong></p>
<p></p>
<p>إلتقي الصباح والمساء ليقبَّلا بعضهما (يقصد العذراء وأليصابات) مريم الصبية (الصباح) ، حُبلي بشمس البر ، وأليصابات (المساء) حاملة كوكب النور ، لم يقدر الكوكب أن يُقبَّل الشمس فارتعب من إشراقها ، تكلمت الصبية واختلج بطن العجوز وتحيَّر . ابن البتول عتيق الأيام يعمل ، وبروح القدس مَسَحَ الطفل في بطن أمه ، وأعطاه المعمودية في البطن قبل الميلاد ، وَصَلَ سلام مريم إلي أذنيِّ العجوز ، وانسكب الروح القدس في نَفس الطفل . فاض الروح القدس مِن ابن الله وحلَّ في الكاروز وهو في بطن أمه ، عرفت مريم أن المحمول ببتوليتها هو سيد السمائيين والأرضيين ، حبلت مريم بسيِّد الكهنة والملائكة ، وشهد لها الملائكة وزوجة الكاهن ، العاقر امتلأت مِن الروح القدس ، وصارت قيثارة تّرتَّل بالمجد أمام الحَبَل الممتلىء دهشاً : &#8221; حَمَلتِ في بطنك الذي يملأ السموات والأرض بمجده مصور الأطفال في البطون حلَّ في بطنك يا مريم ، حملتِ في بطنكِ سيَّد هارون وملكي صادق الكاهن العظيم &#8221; . كان يوسف يتفرَّس فيها رئيس الكهنة في قدس الأقداس ، ينظر إليها كالسحابة علي جبل سيناء التي حلَّت داخلها قوَّة اللاهوت ، مُن يوسف ومِن مريم صارت البتولية ، ولمَّا جلس في الهيكل المقدَّس بين المعلَّمين قالت له مريم :&#8221; هُوَذا أبوك وأنا كُنَّا نَطلُبُك مُعَذَّبين !&#8221; (لو ٢: ٤٨) ، للخارجين دَعَت يوسف أباه ولم تُظهِر الطوباوية أنها بتول ، وحين جلس بين المعلّمين يسألهم لم يشأ السكوت ! قال لها أما تعلمون أنه ينبغي أن أكون فيما لأبي ؟ فأظهر أن يوسف ليس أباه ! حلَّ فيها ابن الله وخدم يوسف السرَّ الخفي ، مبارك هو الخفي الذي أتي للظهور ، له المجد دائماً …</p>
<p>بكَ يا سيدي يتحرَّك مزماري لأمجدك ، أعطني يا سيدي أصواتاً ونغمات وكلاماً ليتكلَّم فمي بغني مِن أجلك ، حبك يحرَّكني لأتكلَّم عن ميلادك ليتكلّم فمي بغني من أجلك ، حبك يُحرَّكني لأتكلَّم عن ميلادك بنفس ممتلئة دهشاً ، يا ابن العليَّ الذي شاء أن يكون مِن الأرضيين ، بك ترتفع كلمتي الضعيفة لعلو أبيك ، أنت مرتفع يا ربيَّ عن الضمائر والألسنة ، والعقول لا تقدر أن تدركك ، السموات تخاف وترتعب مِن عظمتك والبطن اتسع ليحويك وحَمَل مجدك ! عندما ينظر العقل أن السموات ممتلئة مِن عظمتك ثم يري حلولك في البطن بتخبط .</p>
<p>يا ربي : صغيرة هي السموات عن أن تسعك ، ولكن حين تشاء يتسع لك بطن مريم ! لقد أردت يا سيدي وصار البطن كافياً لك ، وإن لم تُرِد أنت فالسماء والأرض لا تسعك ! حين أرَدتَ حَمَلك حضن مريم والعوالم كلُّها ممتلئة منك ! السموات صغيرة والصبيَّة عظيمة حسب إرادتك ، حَبَلَّ مريم يدهشني ولا أستطيع أن أنطق بخبرها ، في حضن الآب عتيق الأيام الأزلي ، وداخل بطن البتول جنين محمول ! وهو كما هو !</p>
<p>جالس علي مركبة اللهيب ومحمول في بطن العذراء ! مخفيَّ بأزليَّته مُلتحف بعظمته ، لابس اللهيب متجلَّل بالمجد ، مُرهِب الشاروبيم مُدهش السارافيم مُمجد بين الصفوف ، لابس البهاء ، مُحاط بالنور ، والأم الصبية حملته في بطنها ، من أجل أنه حَلَّ في بطن مريم أعلن أنه غير محدود ! إنه غير محدود ! إنه لا يصغر بالمكان الصغير ولا يعظم بالمكان العظيم ، السموات العظيمة والبطن الصغير متساويان عنده ! بهذا ظهرت عظمته وأنه غير مُدرك ! هو في حضن أبيه وفي بطن العذراء ، مالئ الكل لم يتسع له العلو بامتداده ، لأنه أعظم مِن الكلَّ ، وحلَّ في بطن الصبية لأنه بسيط ، نزل وحلَّ في حضنها وصار حضنها الصغير عظيماً ، تتساوي عنده السموات وأحضان مريم ، ولكن مريم أمه أعظم مِن السموات لمن يتأمل فيها ، السموات كرسيه ومريم أمه ، ولا يتساوي الكرسي مع الأم لأنها أعظم .</p>
<p>لا أدعو مريم بالسموات لئلا تُهان أم الملك باسم الكرسي ، السموات لم تعط الحليب للطفل الذي مَسَكَ ثدي صدر مريم لأنها أمه . مباركة أنتِ في النساء يا مريم ، ومملؤة طوبي أيتها البتول الطاهرة ، والأم المترفَّعة عن الزواج ، حبلت ببطنك والبتولية تملأ أعضاءك ، الحليب في ثدييك وحضنك مختوم مِن الزواج ، محفوظة مِن آلام الولادة وفي بطنك ثمرة تُفرَّح كل الأمهات ، إنكِ سحابة محبوبة ممتلئة رجاء لكلَّ العالم ، وبها ارتوت الأرض العطشانة التي خربت ( يقصد طبيعتنا البشرية ) .</p>
<p>سفينة غنيَّة أرسل الآب منها كنزه ليُغني المحتاجين ، الحقل الذي أعطي غَلَّة الحياة بغير فلاحة ، وأشبع جميع الخليقة المحتاجة ، البتول هي الكرمة التي لم تُزرع وأعطت العنقود ، ومِن خمرها تَفرح المسكونة الحزينة ، ابنة المساكين صارت أُماً للغني ، ومنها يوزَّع كنوزه علي المساكين ليُغنيِهم .</p>
<p>هي الرسالة المكتوب فيها سرُّ الآب ، ليظهر منها بالجسد ويُفرَّح العالم ، صار طفلاً واشتاق له الأطفال داخل البطون ، صار ولداً وكرز النجم أنه ابن الله ، صار صغيراً والسموات تُخبَّر بمجده .</p>
<p>أعطت مريم السلام لأليصابات ، وهذا لائق لها ، لأنها زرعت السلام للبعيدين والقريبين ، وصارت كنزاً ممتلئاً سلاماً لكلَّ البشر ، ملك السلام في بطنها وأعطت السلام بشفتيها ، رقص داود أمام تابوت العهد ، وتحرَّك الطفل يوحنا في أحشاء أمه ليُكرَّم العذراء الأم المباركة البتول ، إنها أعظم مِن التابوت الممتليء بالأسرار ، صارت مريم تابوتاً حاملاً اللاهوت ، وحلَّ داخلها سيَّد الأسرار ، وتفسير جميع النبوات هذا هو الأتي ليكون حَمَلاً ، وعِوض الخطاة يُذبَح ويُحييهم ، هذا هو الحامل خطايا العالم ليُعتق جنس البشر مِن العبوديَّة ، هذا هو الذي أشرق نوره في ظلام الهاوية فحلَّ آدم مِن الهلاك ، هذا الطفل يَعتق المولودين من اللعنة التي رفعها بميلاده الجديد ، جميع ما للابن مرتفع عن إدراك العقول ولن يُدرَك بغير الإيمان .</p>
<p><strong>بمَن يجب أن نندهش ونتعجب ؟</strong></p>
<p>واحدة حُبلي بغير زواج والثانية يتحرَّك طفلها في بطنها بغير ميلاد ، أنتعجب مِن العجوز التي صار جنينها كاروزاً ، أم مِن الصبية التي تحمل طفلاً في أحشائها ؟ البتول ممتلئة عجباً بالحبَل والعاقر يتحرَّك طفلها بالكرازة ، سلام مريم دخل أذني أليصابات وسمعه الطفل ، فتحرَّك يُعِد الطريق !</p>
<p>ابن البتول ملأ يوحنا في البطن من عطاياه ، بفم مريم ملأ روح الله يوحنا في داخل البطن ، ذاك الذي نفخ الروح القدس في الإثني عشر هو الذي نفخ في الصبي . فتحرَّك بالروح ، هو حالٌ في العذراء ، ويعطي الروح والنبوة ، ولا يقدر أحد أن يأخذ شيئاً إلاَّ به ، مبارك هو طفلكِ لأن به تُرفع لعنة الأرض ، مِن أين لي أن تأتي أم ربي إليَّ ، أيتها المباركة حاملة العظيم الذي إتضع ، مَنْ يعطيني فماً يا أم الملك لأمجّد الحال فيكِ ، الذي أتي ليفتقد مسكنتي ، أيتها الطوباوية التي حلَّ فيكِ اللهيب الذي يرتعب منه السمائيون. النار المُحرقة حالة فيكِ ، وحين يولد يحرق شوك العصيان ، منكِ يشرق جرو الأسد وجميع الذئاب تهرب منه حين تنظره ، حَملتِ الشمس التي بشعاعها تضيء المسكونة ، وبها يضمحل الحزن الذي خنق العالم .</p>
<p>أيتها البتول المدهشة مِن أين لي أن تأتي إليَّ ؟</p>
<p>أيتها الصبية التي شاء عتيق الأيام أن يسكن فيها ، مِن أين لي أن تعطيني السلام ، مِن أين لي يا سيدة الخيرات الممتلئة حُسناً أن أسمع صوتك وأنظر شخصكِ وأفرح بابنكِ.<a href="#_ftn6" name="_ftnref6">[6]</a>&#8221;</p>
<p></p>
<p></p>
<h3>عظات اباء معاصرين</h3>
<p></p>
<h4>عظة لقداسة البابا تواضروس</h4>
<p></p>
<p><strong>أناشيد التجسد :</strong></p>
<p>منذ بشارة الملاك للعذراء مريم .. وابتدأ &#8221; عهد التسبيح &#8221; وقد افتتحته أمنا العذراء بتسبحتها المشهورة والتي نعتبرها &#8221; نشيد التجسد &#8221; .</p>
<p>نوعيات من التسابيح :</p>
<p>من العذراء مريم               تمثل          البتولية</p>
<p>من زكريا الكاهن.              يمثل          الخدام</p>
<p>من الرعاة البسطاء            يمثل          الفقراء</p>
<p>من الملائكة في السماء      يمثل        السمائين</p>
<p>من المجوس الحكماء          يمثل         المثقفين</p>
<p>من سمعان الشيخ             يمثل         الشيوخ</p>
<p>من حنة النبية                   يمثل         الأرامل</p>
<p>من يوحنا المعمدان جنين     يمثل         الأطفال</p>
<p><strong>تمتاز كل هذه التسابيح  بأمرين :</strong></p>
<p>أ – أساسها هو المسيح يسوع .</p>
<p>ب – موضوعها تجسده والفرح الذى صار لنا .</p>
<p><strong>تسبحة حنة ومريم :</strong></p>
<p>وجه المقارنة                  تسبحة حنة                          تسبحة مريم</p>
<p>الشاهد                      ( ١صم ٢ : ١ – ١٠ )               ( لو ١ : ٤٦ -٥٥ )</p>
<p>الموضوع المشترك      حب الله  للمساكين ومجده المعلن في نصرة من لا عون لهم</p>
<p>ما هي                       تسبحة انتظار المسيا                     تسبحة فرح</p>
<p>وتعبير عن رجاء المساكين              تسبحة تعظيم</p>
<p>قائلها                     تسبحة العاقر التي صارت أماً           تسبحة العذراء التي صارت أم المسيا مخلصها</p>
<p>لصموئيل الذى تكرس لله                 ومخلص شعبها ومخلص العالم كله</p>
<p>أوجه                          فرح قلبى بالرب ..                          تعظم نفسى الرب ..</p>
<p>الشبه                      ارتفعت قوتى بالرب                        وتبتهج روحى بالله مخلصى ..</p>
<p>ليس قدوس مثل الرب                       واسمه قدوس</p>
<p><a href="#_ftn7" name="_ftnref7">[7]</a>                          الجياع كفوا  ..                               اشبع الجياع خيرات</p>
<p></p>
<p></p>
<p></p>
<h4>عظة للمتنيح القمص لوقا سيداروس</h4>
<p></p>
<p><strong>زيارة القديسة مريم لأليصابات</strong></p>
<p>نستطيع أن نتعلم الكثير من رحلة القديسة مريم عبر جبال اليهودية وزياراتها لإليصابات أم يوحنا المعمدان. بل أن دروساً كثيرة نافعة قد تركتها القديسة الطاهرة لجميع الأجيال لاسيما للنفوس التي أرتبطت بالرب برباط الحب ودفعها الحب إلى طريق الخدمة.</p>
<p><strong>النعمة نشيطة</strong></p>
<p>النعمة نشيطة لا تعرف الخمول ومتدفقة دائماً متحركة للخدمة بلا توان ، وساعية للعمل بلا كسل . أن النعمة تغير طبيعة النفس وتجعلها خفيفة في سعيها كأنها محمولة على أجنحة النسور. وحركات النعمة مملؤة حرارة وحب . والخدمة بالنعمة تختلف تماماً عن الخدمة الذاتية التي يعرفها البشر عموماً . الناس يخدمون ذواتهم ويخدمون أغراضهم ، ويعظمون عمل يديهم حتى في العبادة والصوم والصلاة ، قد تدخل الذات البشرية وتبتلع كل شيء لحسابها . أما النعمة في خدمة إنكار الذات وخدمة الصمت والعمل في الخفاء . العذراء القديسة لم تكن تخدم حينما يطلب إليها أحد بل كانت تخدم دون أن يسألها أحد . هكذا صنعت مع إليصابات وفى عرس قانا الجليل . هكذا تصنع إلى اليوم وإلى أخر الأيام . العذراء من اللحظة التي قبلت إليها المسيح جنيناً في بطنها وصارت أما لإبن الإنسان. صارت أماً للبشرية كلها . ومن لحظتها وهى تمارس عملها الشفاعى كأم من واقع محبة الأمومة الفائقة . ومن واقع مسئوليتها الجديرة كأم لمخلص العالم كله .</p>
<p><strong>الملئ من النعمة ومحبة الأخرين</strong></p>
<p>الملئ من النعمة يخرج الإنسان من ذاته يجعله لا يعيش من أجل نفسه ولا يفكر في راحته ومصلحته الشخصية . النفس الممتلئة نعمة تفكر في الأخرين انها لا تطلب ما لنفسها. الإنسان الخالى من النعمة يهمة بالدرجة الأولى ذاته . أما الإنسان المملوء نعمة فهو مستعد أن يبذل ذاته من أجل الآخرين . العذراء القديسة مريم وهى في الأيام الأولى من حملها المقدس وفى ظروفها الخارقة للطبيعة والتي تحتاج منها إلى الهدوء وراحة لم تفكر في نفسها . قامت مسرعة إلى الجبال تسعى من أجل معونة أمرأة متقدمة في أيامها حبلى بابن في شيخوختها . ترى متى نعيش من أجل آخرين بل متى نضع أنفسنا من أجل الغير فنتشبه بالرب يسوع الذى جاء ليخدم ويبذل نفسه فدية عن كثيرين .</p>
<p><strong>الملئ من النعمة في الكلام</strong></p>
<p>قليل ما تكلمت العذراء القديسة. ولكنها عندما تكلمت نطقت بالنعمة وملئ الروح . كلمات العذراء القديسة ممسوحة بالنعمة يمتلئ سامعها من الروح ، مثلما أمتلأت إليصابات وحتى الجنين في بطن أمه عندما دخلت إليه كلمات العذراء المملؤة نعمة أرتكض الجنين بابتهاج وأمتلأ يوحنا من الروح القدس في بطن أمه . العذراء لا تتكلم من ذاتها ولا تخدم من ذاتها هي آله طيبة وسخية . أن كلمة واحدة قد تهيج السخط وتثير الغضب . كلمة واحدة قد تدنس الفكر وتوقد الشر . وكلمة واحدة قد تحكم على الناس . وكلمة واحدة قد تضرم دائرة الكون . هذا كلام النفوس الخالية من النعمة . أما النفس الممتلئة نعمة فكلامها وسلامها وحديثها البسيط يعطى نعمة للسامع . &#8221; بكلامك تبرر وبكلامك يحكم عليك &#8221; &#8230;. &#8221; لا تخرج كلمة ردية من أفواهكم &#8221; .</p>
<p><strong>الملئ من النعمة في الصلاة والتسبيح</strong></p>
<p>لم تعرف البشرية كلها كلمات للصلاة ، أرفعت إلى علو صلاة العذراء الطاهرة ولا بلغ الملائكة في تسبيحهم إلى بساطة وعمق تسبحة العذراء . فهى كلمات من نور . &#8221; تعظم نفسى الرب وتبتهج روحى باللة مخلصى . لأنه نظر إلى إتضاع أمته . فهوذا منذ الآن جميع الأجيال تطبنى لأن القديرصنع بى عظائم وأسمه قدوس ورحمته إلى جيل الأجيال للذين يتقونه . صنع قوة بذراعه شتت المستكبرين بفكر قلوبهم . أنزل الأعزاء عن الكراسى ورفع المتضعين . أشبع الجياع خيرات وصرف الأغنياء فارغين . عضد إسرائيل فتاة ليذكر رحمة كما كلم آباءنا لابراهيم ونسله إلى الأبد . آن تسبحة العذراء لا تحتاج إلى تعليق . انها ليست كلمات بشرية ، لكنها من ملئ النعمة نطقت وبالروح القدس ومن واقع اتحادها بمصدر كل عطية صالحة ، وكل موهبة تامة أخذ نعمة فوق نعمة لأن الناموس بموسى أعطى . أما النعمة والحق فبيسوع المسيح صاراً .</p>
<p><strong>إليصابات والعذراء</strong></p>
<p>أما وقوف إليصابات المرأة الوقورة وتصاغرها أمام العذراء القديسة وصراخها &#8221; من أين لى هذا أن تأتى أم ربى إلى &#8221; . فهذا يحتاج إلى وقفة مننا نحن الخطاة لنتعلم أن نكرم القديسة العذراء ليس بكلامنا أو مديحنا ، ولكن لنقبلها وهى تطرق أبوابنا كل يوم حاملة إلينا ابنها وحبيبها . لنقبلها يا أخوة بحياة البر والسلوك في وصايا الرب وأحكامة مثل إليصابات وزكريا. نتوسل إلى الرب أن يجعل لنا نصيباً أن تأتى إلينا أم ربنا وتبارك قلوبنا وبيوتنا وأولادنا.<a href="#_ftn8" name="_ftnref8">[8]</a></p>
<p></p>
<p></p>
<h4>القمص تادرس البراموسي</h4>
<p></p>
<p><strong>الاحد الثالث من شهر كيهك المبارك</strong></p>
<p></p>
<p>من أين هذا أن تأتى أم ربى ألى (يو ٣٩:١ – ٥٦)</p>
<p></p>
<p>في كل الأسفار المقدسة كان إعلان عن مولود طفل ببشارة الملاك يقابل ردود فعل متباينه . فقط ضحكت سارة أمرأة إبراهيم . أما منوح أبوا شمشون فقد أرتعب وخاف بينما شك زكريا . أما القديسة مريم فعلى العكس من ذلك لأنها خضعت لإرادة الله . إذا أمنت بما قيل لها من قبل الرب وقبلت البشارة بفرح بالرغم ما ترتب على هذا الحبل من شكوك وعدم تصديق وظروف بشرية مستحيلة فأن الله قادر أن يعمل المستحيل لكن من أين لنا الإيمان والثقة نحن البشر الذين لا يأتمن الإنسان نفسه نعم أن الأنبياء تكلموا وتنبأوا عن مجيئه لكن كان متوقع أن يأتي من إنسانة غنية أو من سلالة كهنوت وليس هذه اليتيمة الفقيرة. لكن اختيار الرب يختلف عن البشر ينبغي لنا إذا أن نسلم للرب ونتجاوب مع ما يطلبه منا لا بالضحك أو بالخوف أو بالشك بل بالقبول والتسليم الكامل يبدوا أن أليصابات علمت بالروح القدس أن مريم العذراء حباى ويولد منها المسيح أي المسيا المنتظر. لأنها عند زيارة العذراء لها بادرتها قائلة من أين أن تأتى أم ربى إلى . أسرعت السيدة العذراء إلى أليصابات لتطمئن عليها وتتأكد من حبلها بالرغم تصديقها للكلام لكنها أرادت أن ترى العاقر . وتقوم بخدمتها لأنها تحتاج لمن يخدمها . لو كانت تتعجب من أحداث الأيام السابقة وحقيقة الأمر . لربما كان حبل السيدة العذراء يكون مستحيلاً لأنه بدون زرع بشر إلا أن العجوز الحكيمة أمنت بذلك وفرحت بقدومها . لما دخلت السيدة العذراء بيت أليصابات. كانت فرحة يوحنا وهو في بطن أمه . قالت أليصابات للعذراء حين صار صوت سلامك في أذنى أرتكض الجنين بابتهاج في بطنى وأبتدات أليصابات تطوب العذراء الأم . التي آمنت بما قيل لها من الملاك وفرحت أيضاً بهذه المقابلة وأبتدأت تسبح الله الذى أختارها لتصير أناً له . تفخر بها الأجيال وتطوبها وتفرح بها النساء لأنها قد ردت لهن اعتبارهن وتفرح بها العذارى لأنها أم العذارى حقاً كما سماها الآباء معجزة الأجيال وفخر كل الخلائق بها تم الخلاص جبرت الكسور وبها رجع أدم وبنيه إلى الفردوس وفرحت أليصابات وتنبأت بما يكون من أمرها وأمر أبنها ومكثت ثلاث شهور ثم عادت الى بيتها .</p>
<p></p>
<p><strong>العظة الأولى</strong></p>
<p>أ – زيارة أم الغنى لأم الفقير</p>
<p>ب – ذهاب أم الملك لخدمة أم العبد</p>
<p>ج – سجود العبد للسيد حتى لو لم يعرفه</p>
<p>ه &#8211; تحرك الجنين في بطن أمه ابتهاجاً</p>
<p>و – طوبى لمن أمنت بما قيل لها من قبل الرب</p>
<p>ذ – الشكر والتمجيد لصاحب العطية</p>
<p>ح – تطويب مدى الأجيال وفرح كل حين</p>
<p>ط – فرح العالم وتطويب العذراء</p>
<p>ى – الاشتراك في الأفراح عذراء وعاقر</p>
<p></p>
<p><strong>العظة الثانية</strong></p>
<p>أ– تقديم الواجبات والرباط الأسرى</p>
<p>ب – ألقاء السلام يرفع الخصام ويقرب القلوب</p>
<p>ج – تحرك الجنين تأكيد لقوة العبادة</p>
<p>د – مدح الآخرين عرفاناً للجميل</p>
<p>ه &#8211; تفضيل الآخرين عن النفس فضيلة عظيمة</p>
<p>و – الإيمان الحقيقى يطهر النفس ويغسل الذنوب</p>
<p>ذ – بالتواضع نتغلب على الشر ونتقرب إلى الله</p>
<p>ح – مراحم الرب فوق الأقاويل</p>
<p>ط – قوته فوق الأقوياء والسلاطين</p>
<p>ى – أم السيد تخدم أم العبد في ولادتها وتفرح معها</p>
<p></p>
<p><strong>العظة الثالثة</strong></p>
<p>أ – اهتمام الرب بالبشرية وأتمام وعده</p>
<p>ب – محبة الإنسان لأخيه الإنسان</p>
<p>ج – مدى استعداد الإنسان لقبول الله</p>
<p>د – بركة الله في كل شيء حتى في ثمرة البطن</p>
<p>ه &#8211; لا أنا بل أنت أسلوب حب وحكمة</p>
<p>و – قبول كلام الله وطاعته</p>
<p>ذ – تقديم عمل الله وطاعته</p>
<p>ح – الالتزام بعمل الرب واليقظة لإتمامه</p>
<p>ط – تقديم خدمة الله بأمانة وقلب نقى</p>
<p>ى – الفرق بين حضور الملائكة وتحضير الملائكة<a href="#_ftn9" name="_ftnref9">[9]</a></p>
<p></p>
<p></p>
<h4>القمص بولس باسيلي</h4>
<p></p>
<p>الزيارة النموذجية :</p>
<p>تقسيم على ضوء القراءات الكنسية</p>
<p>البولس         :     (رو 4: 4—24)</p>
<p>الكاثوليكون    :    (1يو 2: 7—17)</p>
<p>الابركسيس    :   (أع 7: 35—50)</p>
<p>الانجيل          :   (لو 1: 39—56)</p>
<p>مقدمة : زياراتنا العائلية وشحنها بألفاظ النميمة والاغتياب – هذه الزيارة نموذج لما ينبغى أن تكون عليه زياراتنا من التسابيح والتماجيد.</p>
<p><strong>القسم الأول – الضيف ( العذراء )</strong></p>
<p>(1)          مؤمنة :</p>
<p>&#8221; طوبى للتى آمنت أن يتم ما قيل لها من قبل الرب &#8221; (لو 10: 45 ) تأمل رسالة البولس وهى تتحدث عن ايمان ابراهيم الذى حسب له براً ، هكذا العذراء حين بشرها الملاك آمنت.</p>
<p>(2)          شاكرة :</p>
<p>&#8221; تعظم نفسى الرب وتبتهج روحى بالله مخلصى &#8221; ( لو 1: 46) ونحن أحوج الى ما نكون الى فضيلة الشكر &#8221; فلنشكر صانع الخيرات &#8221;</p>
<p>(3)          ذاكرة :</p>
<p>ذكرت صنيع الرب مع آبائها وأجدادها &#8221; رحمته الى جيل الأجيال &#8221;</p>
<p>( أنظر الكاثوليكون فهو يشير الى المحبة الأخوية )</p>
<p>+++++++++++++++++++++++++++++++++++++</p>
<p><strong>القسم الثانى – المضيف ( اليصابات )</strong></p>
<p>(1)          تنبأت بميلاد المخلص :</p>
<p>&#8221; امتلأت اليصابات من الروح القدس وقالت مباركة أنت فى النساء ومباركة هى ثمرة بطنك &#8221; (لو 1: 42 ).</p>
<p>( أنظر الابركسيس فهو يشير الى العليقة رمز الحبل الالهى )</p>
<p>(2)          اعترفت بأمومة العذراء :</p>
<p>&#8221; من أين لى هذا أن تأتى أم ربى الىّ &#8221; وهذا أول لقب للعذراء وكانت اليصابات أول من خلع عليها هذا اللقب .</p>
<p>( أنظر الابركسيس فهو يشير الى خيمة الأجتماع رمز التجسد الالهى )</p>
<p>&#8221; نعظمك يا أم النور الحقيقى ونمجدك أيتها العذراء القديسة والدة الاله لأنك ولدت لنا مخلص العالم كله&#8221;</p>
<p>+++++++++++++++++++++++++++++++++++++</p>
<h3>تأملات روحية  نقاط تفسيرية</h3>
<p>فى عظة الأحد الثالث من شهر كيهك</p>
<p>(لو1: 39 &#8211; 56)</p>
<p>+  &#8221; مدينة يهوذا &#8221; :</p>
<ul>
<li>أجمع المفسرون على أن هذه المدينة هى حبرون المعروفة الآن بمدينة الخليل &#8221; نسبة الى ابراهيم خليل الله.</li>
</ul>
<p>+  &#8221; دخلت بيت زكريا &#8221; :</p>
<ul>
<li>فى بيت زكريا اجتمعت مريم واليصابات ، ويالهما من كوكبين عظيمين ، ولكن مريم كانت الكوكب اللامع فى البيت ، فقد أضاءت جنباته كلها باشراقها وضيائها ، وهكذا تقابلت مع اليصابات &#8221; الحق السلامة تقابلا &#8221; لقد تحدثت بعظمة مريم جميع الأديان ، فها هوذا القرآن يشهد لها قائلا &#8221; فتقبلها ربها بقبول حسن ، وأنبتها نباتاً حسناً ، وكفلها زكريا ، كلما دخل عليها زكريا المحراب وجد عندها رزقاً ، قال يا مريم أنى لك هذا ، قالت هو من عند الله ، ان الله يرزق من يشاء بغير حساب &#8221; ( آل عمران 26)</li>
</ul>
<p>+   &#8221; أم ربى &#8221; :</p>
<ul>
<li>الى الآن لا يزال البعض يرفض تسمية القديسة مريم بهذا اللقب &#8221; أم الرب &#8221; و &#8221; والدة الاله &#8221; وقديماً رفض ذلك &#8221; نسطور &#8221; الهرطوقى زاعماً أنها فقط &#8221; أم المسيح &#8221; أو &#8221; أم يسوع &#8221; معللا زعمه بأن العذراء لم تلد اللاهوت ، وقد انبرى له القديس كيرلس الكبير مفنداً بدعته بقوله &#8221; اننا بقولنا ان العذراء أم الله لا نعنى ذلك أن طبيعة الكلمة أو اللاهوت أخذ بدايته من هذه القديسة ، بل ان منها تصور الجسد المقدس بنفس ناطقة ، وبه أى بالجسد اتحد الكلمة اتحاداً أقنومياً فمن ثم يقال بأن الكلمة قد ولد حسب الجسد ، وهكذا فى نظام الطبيعة فالأمهات لا يشتركن بنوع من الأنواع البتة فى خلقة النفس ومع ذلك لا يمنع القول بأنها أمهات الانسان كله ولسن أمهات الجسد فقط .</li>
</ul>
<p>وفى عام 431للميلاد انعقد المجمع المسكونى الثالث بمدينة أفسس برياسة القديس كيرلس الكبير ضد نسطور الكافر وحرمه من الكنيسة ، ووضع مقدمة قانون الايمان التى جاء فيها &#8221; نعظمك يا أم النور الحقيقى ونمجدك أيتها العذراء القديسة والدة الاله.</p>
<p>+   &#8221; ونظر الى اتضاع أمته &#8221; :</p>
<ul>
<li>عجباً ، ان اليصابات تدعو مريم &#8221; أما للرب &#8221; أما مريم ففى فرط تواضعها تدعو نفسها &#8221; أمة الرب &#8221; وبين الأم والأمة فرق ما بين السيد والعبد.</li>
</ul>
<p>سئل القديس أوغسطينوس ما هو أول مبادىء الدين المسيحى ؟ قال : التواضع</p>
<p>وما هو المبدأ الثانى ؟ قال : التواضع</p>
<p>وما هو الثالث ؟ قال : التواضع   إإإإ</p>
<p>وكان جون بنيان الواعظ الغربى المعروف يخشى كل الخشية حياة التكبر والغرور ، وقد حدث يوماً أن ألقى عظة قوية أثارت اعجاب آلاف المستمعين فأقبل عليه المعجبون بعد الوعظ يهزون يده فى حماس ويمطرونه بوابل من عبارات المديح والاعجاب ، فاذا بالرجل فى صراحة عجيبة يقول لهم &#8221; شكراً شكراً لقد أخبرنى الشيطان بذلك وأنا على المنبر &#8221; إإ</p>
<p>وقال أحد كبار الفلاسفة يوماً &#8221; اننى أعرف أننى لا أعرف &#8221; وقال أوريجانوس الفيلسوف المعروف &#8221; اننى لا أجهل أننى جاهل &#8221;</p>
<p>وقال &#8221; المرشد &#8221; اذا كنت تهوى محبة الله والناس فاحترس من الكبر فانه دمل يبدأ فى الفكر ويفتح فيسمم كل أعمالك  هو دودة فى كنوزك تأكل ، وتحرب ثمار أرضك ، لا يحب انساناً ولا يحبه انسان ، وهو يحتقر الفضيلة فى الآخرين الافتراء ، وهو يضيع مكافأة الصلاح فى ذاته بالاعتداد بالذات ، وهو صديق الملق وأم الحسد ومرضع الغضب وخطية الأبالسة وابليس البشرية انه يكره الذين أعلى منه ، ويزدرى بمن هم أقل منه ، ولا يعترف بمساوين له  وبالاختصار يكرهك الله ان لم تكره الكبر.</p>
<ul>
<li>ومما يذكر عن سيدة أنها طلبت من أحد المحسنين مساعدة لطفل يتيم فأجابها بسخاء أنه مستعد أن يعطيها أى مبلغ تطلبه فقالت السيدة له أنها ستعلم الطفل حين يكبر أن يأتى اليك ويشكرك ، فقاطعها الرجل قائلا مهلا اننا لا نشكر السحب على المطر الذى تعطيه لنا – على الولد أن يرفع عينيه الى أعلى من ذلك ويشكر ذاك الذى يعطى السحب ويعطى المطر إإإ</li>
</ul>
<p>+    &#8221; صنع قوة بذراعه &#8221; :</p>
<ul>
<li>تشير مريم بالذراع – على حد تفسير القديس كيرلس الكبير – الى الرب يسوع الذى حبلت به ، وبالمستكبرين الى ابليس وجنوده الذين أغواهم الكبر فسقطوا فى حضيض الذل والمسكنة ، بل وتشير مريم أيضاً بالمستكبرين الى حكام الأغريق الذين أبوا أن يقبلوا جهالة المسيحية كما ادعوا وجمهور اليهود الذين لم يؤمنوا بيسوع المسيح فتفرقوا فى أطراف الأرض شذو مذر.</li>
</ul>
<p>+    &#8221;  أنزل الاعزاء عن الكراسى ورفع المتضعين &#8221; :</p>
<ul>
<li>غرق جنود ابليس وحكماء الأغريق وكتبة اليهود وفريسوهم فى بحر العظمة الفارغة والخيلاء الكاذبة فأذلهم الله ورفع عليهم قوماً اتضعت قلوبهم ، وخلصت ضمائرهم فقد أعطوا &#8221; سلطاناً ليدوسوا الحيات والعقارب وكل قوة العدو ولا يضرهم شىء&#8221;</li>
</ul>
<p>+    &#8221; أشبع الجياع خيرات وصرف الاغنياء فارغين &#8221; :</p>
<ul>
<li>يقصد بالجياع الجبلة البشرية ، فان جميع الناس ما عدا اليهود أعوزهم مجد الله ، وذاقوا مرارة الجوع والسغب ، لم يكن هناك من بين الناس سوى اليهود الذين استمتعوا لذة الناموس ، وتثقفت عقولهم بتعاليم الرسل والأنبياء اذ &#8221; لهم التبنى والمجد والعهود والاشتراع والعبادة والمواعيد ، ولكن قادهم غرورهم الى الشموخ والكبرياء ، فرفضوا السجود للاله المتجسد ، فلا عجب أن عادوا خالى الوفاض : لا ايمان ولا علم ولا رجاء ولا نعمة ، فقد نبذوا من أورشليم الأرضية وطردوا من حياة المجد والنعمة التى ظهرت لأنهم لم يقبلوا سلطان الحياة ، وصلبوا رب المجد وهجروا ينبوع الماء الحى.</li>
</ul>
<p>+     &#8221; أقام لنا قرن خلاص &#8221; :</p>
<ul>
<li>لا تشير كلمة &#8221; قرن &#8221; الى القوة فحسب ، بل والى السلطان الملكى فان المسيح مخلصنا الذى ظهر من أسرة داود الملك هو &#8221; ملك الملوك &#8221; وقوة الآب العظيمة <a href="#_ftn10" name="_ftnref10">[10]</a></li>
</ul>
<p></p>
<p></p>
<h3>من وحي قراءات اليوم</h3>
<p></p>
<p>فلما سمعت أليصابات سلام مريم إرتكض الجنين في بطنها وإمتلأت أليصابات من الروح القدس &#8221; (لو٤١:١)</p>
<p><strong>الإمتلاء بالروح</strong></p>
<p>الإمتلاء بالروح لم يكن فقط نصيب ساكني الجبال بل أيضاً ربات البيوت</p>
<p>الإمتلاء بالروح لم يكن فقط نصيب من ربطوا شعورهم بالسقف في الصلاة بل أيضا الذين أحبوا خدمة المسنين</p>
<p>الإمتلاء بالروح لم يرافقة شفاء مرضي وإخراج شياطين بل كنس ومسح وطبيخ لمحتاجين</p>
<p>الإمتلاء بالروح لم يكن هدف بل نتيجة طبيعية لمن أخلصوا في محبتهم للرب وللمعوزين</p>
<p><strong>جهادنا في الصلاة طريق ملؤنا</strong></p>
<p>ومحبتنا لله فوق كل شئ وصلب الجسد والذات شرط إمتلاؤنا</p>
<p>الإمتلاء بالروح هو نصيبك إذا جعلت محبة الله من كل القلب أهم أولوياتك</p>
<p>الإمتلاء بالروح هو مصيرك إذا كنت تخدم في خفاء العين ومن عمق القلب</p>
<p>الإمتلاء بالروح هو سبيلك إذا كنت تريد إدراك هدف حياتك</p>
<p>الإمتلاء بالروح هو إكليلك عند خروجك من العالم.</p>
<p></p>
<p></p>
<p></p>
<h3>المراجع:</h3>
<p></p>
<p><a href="#_ftnref1" name="_ftn1"></a>١-القديس يعقوب السروجي ( ٤٥١- ٥٢١ ) &#8211; القمص بنيامين مرجان &#8211; العذراء في فكر الآباء ص ٢٠٣</p>
<p><a href="#_ftnref2" name="_ftn2"></a>٢-ترجمة الأخت ايفيت منير &#8211; كنيسة مار مرقس ببني سويف</p>
<p>JR, A. J. &amp; Oden, T.C. ( 2003 ). Luke (The Ancient Christian Commentary on Scripture, New testament part III ). Illinois ( USA ) : InterVarsity press. Page 20, 23, 24</p>
<p><a href="#_ftnref3" name="_ftn3"></a>٣- المرجع : كتاب والدة الإله مريم العذراء في فكر الآباء ( صفحة ٧٥ ) &#8211; القمص بنيامين مرجان باسيلي</p>
<p><a href="#_ftnref4" name="_ftn4"></a>٤- المرجع : كتاب والدة الإله مريم العذراء في فكر الآباء ( صفحة ٩١ ) &#8211; القمص بنيامين مرجان باسيلي</p>
<p><a href="#_ftnref5" name="_ftn5"></a>٥- تفسير إنجيل لوقا للقديس كيرلس الإسكندري &#8211; ترجمة دكتور نصحي عبد الشهيد</p>
<p><a href="#_ftnref6" name="_ftn6"></a>٦- المرجع : شرح وتفسير آباء الكنيسة لأناجيل آحاد السنة التوتية ( شهر كيهك ) &#8211; إشراف ومراجعة دكتور جوزيف موريس فلتس</p>
<p><a href="#_ftnref7" name="_ftn7"></a>٧- المرجع : كتاب المنجلية القبطية الارثوذكسية صفحة 221 – قداسة البابا تواضروس الثاني</p>
<p><a href="#_ftnref8" name="_ftn8"></a>٨- المرجع : كتاب تأملات روحية في قراءات أناجيل آحاد السنة القبطية صفحة ١٢٦ &#8211; القمص لوقا سيداروس &#8211; كنيسة مار جرجس سبورتنج</p>
<p><a href="#_ftnref9" name="_ftn9"></a>٩- المرجع : كتاب تأملات وعناصر روحية في آحاد وأيام السنة التوتية الجزء الأول صفحة ٥١ &#8211; إعداد القمص تادرس البراموسي</p>
<p><a href="#_ftnref10" name="_ftn10"></a>١٠- المرجع : كتاب المواعظ النموذجية الجزء الثاني صفحة ٣٠١ &#8211; الأستاذ فؤاد باسيلي ( القمص بولس باسيلي )</p>
<p></p>
<p></p>
<p></p>

      {% endcreateArticleAccordions %}
    </section>
  {% endblock %}
  