---
layout: 'layouts/reading.html'
title: 'قراءات الأحد الرابع من شهر كيهك'
tags: 'sundays'
permalink: /articles/sundays/4-4.html
---
  {% block content %}
    <section id="readings">
      <ul>
      {% if 'undefined' != 'undefined' %}
      
      {% else %}
      {% if '19.87:5' != 'null' %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">العشية</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeVespers '19.87:5' '42.8:1-3' %}
          </div>
        </div>
      </li>
      {% endif %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">باكر</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeMatins '19.96:11-13' '41.3:28-35' '' %}
          </div>
        </div>
      </li>
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <h3 class="flex items-center justify-between">
            <span class="kufi">القداس</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </h3>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeLitugy '45.9:6-33' '62.2:24-29*@+62.3:1-3' '44.7:8-22' '19.80:1-3' '42.1:57-80' %}
          </div>
        </div>
      </li>

      {% endif %}
        </ul>
    </section>
    <section id="article">
      <h3 class="mt-8 mb-4 heading-explain">شرح القراءات</h3>
      {% createArticleAccordions %}
        <p>&#8221; فإنه يسرُّ بالرأفة &#8221; (مي ٧ : ١٨)</p>
<p>&#8221; وذكر الرب شعبه ورحم ميراثه &#8221; (تتمة أستير١ : ١٢)</p>
<p>&#8221; لأننا لا نتكل علي بِرِّنا بل علي رحمتك هذه التي بها أحييت جنسنا &#8221; صلاة الحجاب للآب للقديس يعقوب ( القدَّاس الباسيلي )</p>
<p>&#8221; ولأن نعم الله دائماً كاملة ووفيرة فهي تأتي دائماً مكدَّسة معاً كحزمة من الأشياء الصالحة ، إذ نجد هنا ثمار الصلاة ، حيث أعطي الله ولداً لإمرأة عاقر ، ثم أعطي فرحاً وابتهاجاً لكثيرين ، وكان هذا المولود تجسيداً لعظمة الفضيلة &#8230; إذ أن يوحنا لم يكن فقط نعمة لوالديه ، لكنه أيضاً كان سبباً في خلاص الكثيرين . لهذا فنحن نحتفي بابتهاج لأجل ميلاد القديسين<a href="#_ftn1" name="_ftnref1">[1]</a> &#8221;</p>
<p>&#8221; وَلَدت أليصابات العجوز آخر الأنبياء ، وَلَدت مريم اليافعة رب الملائكة . وَلَدت ابنة هارون الصوت الصارخ في البريَّة ، في حين أن ابنة داود وَلَدت إله الكون القدير . وَلَدت العاقر الصافح عن الخطايا ، لكن العذراء وَلَدت حاملها وَلَدت أليصابات من يُصلح الناس بالتوبة ، لكن مريم وَلَدت مُطهِّر الكون من الدنس . أضاء الأكبر سناً سراجاً في بيت يعقوب أبيه ، فكان هو السراج نفسه ، بينما أضاء الأصغر سناً شمس البر لكل الأمم . بشَّر الملاك زكريا ليعلن المذبوح المصلوب ، والمكروه المحسود . فالمُعمِّد بالماء سيعلن المُعمِّد بالنار وبالروح القدس . السراج الذي لم يكن مطفًأ يبشر بشمس البر ، والمملوء بالروح يبشر بمعطي الروح<a href="#_ftn2" name="_ftnref2">[2]</a> . &#8221;</p>
<h3>شواهد القراءات</h3>
<p>(مز ٥:٨٦) ، (لو ٨ : ١-٣) ، (مز ٩٥ : ١٠-١٢) ، (مر٣ : ٢٨-٣٥) ، (رو ٩ : ٦-٣٣) ، (١يو٢ : ٢٤ - ٣ : ١-٣ )، (أع ٧ : ٨-٢٢) ، (مز ٧٩ : ٣-٢) ، (لو١ : ٥٧-٨٠)</p>
<h3>ملاحظات علي قراءات اليوم</h3>
<p>+ قراءة الإبركسيس اليوم (أع ٧ : ٨ - ٢٢ )جاءت أيضاً في قراءة يوم ٣٠ بؤونه ( عيد ميلاد يوحنا المعمدان )</p>
<p>جاءت اليوم ( وأيضاً يوم ٣٠ بؤونه ) للإشارة إلي &#8221; وفي ذلك الوقت ولد موسي .. فلما طُرح أخذته إبنة فرعون &#8221; ووجه الشبه بين ولادة موسي وإضطهاد فرعون ومحاولةقتله وولادة يوحنا وإضطهاد هيرودس ومحاولة قتله</p>
<p>+ قراءة إنجيل باكر اليوم (مر ٣ : ٢٨ - ٣٥) هي نفس قراءة إنجيل القدَّاس ليوم ٢١ توت ( شهادة كبريانوس الأسقف ) ، وتُشبه قراءة إنجيل قدَّاس (مر٣ : ٢٢ - ٣٥) الأحد الثالث من مسري</p>
<p>وهو في قراءة حادي وعشرين توت يُشير إلي غفران كل خطايا وتجاديف البشر إشارة إلي كبريانوس الساحر وتوبته وإيمانه ،وأيضاً للإشارة إلي الأقوي ( المسيح المصلوب ) ، الذي ربط القوي الذي هو الشيطان ( بالصليب ) وإنتصر عليه وأخذ غنائمه، أي النفوس التي إستعبدها.</p>
<p>والجدير بالذكر هو أن صاحب تذكار اليوم ( ٢١ توت ) كان ساحراً ثم ربطته صلاة يوستينا الفتاة المسيحية فآمن وصارأسقفاً ثم شهيداً</p>
<p>وفِي القراءة الثانية ( الأحد الثالث من مسري ) تُشير إلي كينونتنا عائلة الله الصانعين إرادته إشارة إلي والدة الإله التييأتي تذكار صعود جسدها للسماء في هذا الوقت أمَّا سبب مجيئها اليوم ( صيرورتنا عائلة الله من خلال تجسُّد الكلمة )</p>
<p>+ قراءة مزمور قدَّاس اليوم (مز ٧٩ : ٢-٣) جاءت أيضاً في قراءة مزمور قدَّاس يوم ٩ هاتور ( تذكار الأربعة كائنات غير المُتجسِّدين )</p>
<p>وهي القراءة التي تتكلَّم عن الظهور الإلهي وتجسُّد الكلمة ( يا جالس علي الشاروبيم إظهر .. ) ، بينما مجيئها يوم ٩ هاتور لأجل ذكر الشاروبيم</p>
<p>+ آية ٥ في مزمور عشيّة اليوم (مز ٨٦ : ٥) تكرَّرت في مزمور عشيَّة يوم ١ بشنس ( عيد ميلاد والدة الإله ) ، ومزمور قدَّاس يوم ١٣ مسري ( عيد التجلِّي )</p>
<p>الإشارة اليوم إلي تجسُّد الكلمة &#8221; الأم صهيون تقول أن إنساناً وإنسان صار فيها . هو العلي الذي أسسها إلي الأبد &#8221;</p>
<p>ويوم ١ بشنس الأم صهيون رمز إلي والدة الإله ، بينما الإشارة في يوم ١٣ مسري إلي الجبال المُقدَّسة ( جبل التجلَّي )</p>
<h3>شرح القراءات</h3>
<p>يختم الأحد الأخير من شهر كيهك بإعلان غني تحنن الله الآب وإفتقاده للبشرية في تجسد إبنه الوحيد في ملء الزمان وفِي ميلاد يوحنا المعمدان السابق الصابغ وصوت الصارخ في البرية</p>
<p>تتكلم المزامير عن ابن الله الذي صار ابن الإنسان ( مزمور عشيّة ) وفرح كل الخليقة ( مزمور باكر ) بخلاصة العظيم ( مزمور القدَّاس )</p>
<p>في مزمور عشية نري حقيقة الكلمة المتجسد أنه إنسان وهو الله ( الأم صهيون تقول إن إنسانا وإنسان صار فيها وهو العلي ) أما مزمور باكر فيعلن فرحه وإبتهاج الخليقة بهذا الإفتقاد الإلهي للبشرية ( فلتفرح السموات ولتبتهج الأرض وليتحرك البحر وكل ملئه يبتهج كل شجر الغاب قدام وجه الرب لأنه يأتي ) لذلك يعلن مزمور القداس هدف إفتقاده وتحننه الإلهي خلاصنا ( ياجالسا علي الشاروبيم إظهر&#8230;لخلاصنا ياالله أرددنا ولينر وجهك علينا فنخلص )</p>
<p>أما الأناجيل فنري فيها إفتقاد الرب يسوع لكل فئات الناس في كل مكان ( إنجيل عشيّة ) لنكون عائلته ( إنجيل باكر ) ويُعْلِن لنا غني تحنن الآب وفيض مراحمه ( إنجيل القدَّاس )</p>
<p>يُعْلِن إنجيل عشيّة عن إفتقاد الكلمة المتجسد للكل في كل مدينة وقرية وكل رجل وإمرأة وكل صحيح بالجسد ومريض ( كان يسير في كل مدينة وقرية يكرز ويبشر بملكوت الله&#8230;وبعض النساء كان قد أبرأهن من أرواح شريرة وأمراض)</p>
<p>أما إنجيل باكر فيعلن هدف هذا الإفتقاد الإلهي الغفران للكل وأن نكون خاصته المحبوبة ( الحق أقول لكم إن كل شئ يغفر لبني البشر الخطايا وجميع التجاديف التي يجدفونها&#8230;..لأن من يصنع مشيئة الله هو أخي وأختي وأمي )</p>
<p>ولعل إشارة رب المجد هنا إلي أخي وأختي وأمي الذين يصنعون مشيئة الله هم عائلة الله في العهد الجديد التي صارت والدة الإله النموذج والمثال لها وأيضاً عائلة زكريا الكاهن وإليصابات ويوحنا موضوع إنجيل القدَّاس هذا الأحد لذلك إرتبطت هذه الآية أيضاً بعائلة زكريا وإليصابات</p>
<p>لذلك يختم إنجيل القداس بنبوة وتسبيح زكريا الكاهن وإعلانه النبوي بعد إمتلاؤه من الروح القدس عن غني هذا الإفتقاد الإلهي وعظم مراحم الله للإنسان والذي تلازم مع ولادة يوحنا المعمدان ( وإمتلأ زكريا أبوه من الروح القدس وتنبأ قائلا : مبارك الرب إله إسرائيل الذي إفتقد وصنع خلاصا لشعبه&#8230;.لتعطي علم الخلاص لشعبه بمغفره خطاياهم من أجل تحنن رحمة إلهنا التي بها إفتقدنا المشرق من العلاء ليضئ علي الجالسين في الظلمة وظلال الموت )</p>
<p>ويتضح في تسبحة زكريا الكاهن :  ( كنز التفسير الشماس بشارة بولس ص ٣٩ ، ٤٠ )</p>
<p>١- تمجيد وشكر الله</p>
<p>٢- يقينه من مواعيد الله العظيمة</p>
<p>٣- إدراكه لملكوت الله</p>
<p>٤- معرفته لجوهر الخلاص</p>
<p>أما الرسائل فتظهر الدور الإلهي غني النعمة ( البولس ) والدور الإنساني الإحتياج للثبات فيه ( الكاثوليكون ) وتدبير الله في الشعوب والأزمنة ( الإبركسيس )</p>
<p>في البولس نري هذه النعمة الغنية نعمة تحنن الله الآب علي البشر لذلك يتكلم هنا عن أن تدبير الله وتحننه الفائق فوق إدراك البشر وليس حسب مقاييس البشر المحدودة فالله يدبر الخلاص لكل الشعوب حاضرا في التاريخ ومتخطيا حدود الأزمنة والأوقات والأماكن ومستخدما قساوة الشعوب والحكام لأجل قيادة الكل نحو الخلاص الإلهي ونوال بر الله ومحبته ( فماذا نقول : هل عند الله ظلما حاشا لأنه يقول لموسي : إني أرحم من أرحم وأتراءف علي من أتراءف فإذا ليس لمن يشاء ولا لمن يسعي بل لله الذي يرحم &#8230;.فإن كان الله وهو يريد أن يظهر غضبه ويرينا قوته أتي بأناة طويلة آنية غضب مهيأة للهلاك ولكي يظهر غني مجده علي آنية رحمة قد سبق الله فأعدها للمجد&#8230;..سأدعو الذي ليس بشعبي شعبي والتي ليست بمحبوبة محبوبة ويكون في الموضع الذي قيل لهم فيه : أنتم لستم شعبي أنه هناك يدعون أبناء الله الحي )</p>
<p>أما الكاثوليكون فيشجعنا علي الثبات لنتمتع بغني هذا الحب الإلهي الذي جعلنا أبناء للآب وصار لنا دالة معه بل  وسنصير مثله ( والآن يابني : إثبتوا فيه حتي إذا أظهر تنالون دالة &#8230;.أنظروا أية محبة أعطاها لنا الآب حتي ندعي أبناء الله&#8230;.ولكن نعلم أنه إذا أظهر نكون مثله لأننا سنراه كما هو )</p>
<p>لذلك يعطينا الإبركسيس نموذج رائع لإفتقاد الله لشعبه في العهد القديم في شخص يوسف &#8221; صفنات فعنيح-خبز العالم &#8221; الذي كان رمزا لإفتقاد الله الآب للبشرية في ملء الزمان في تجسد إبنه الوحيد الذي حسده أيضا بني جنسه حسب الجسد ورغم ذلك أظهر فداؤة لهم ولكل العالم ( ورؤساء الآباء حسدوا يوسف وباعوه إلي مصر وكان الله معه&#8230;..فجعله مدبرا علي مصر وعلي كل بيته ثم أتي جوع علي كل أرض مصر وكنعان وضيق عظيم فكان آباؤنا لايجدون قمحا&#8230;.وفي المرة الثانية أظهر يوسف نفسه لإخوته )</p>
<p>كما أنه يُوضع مقارنة بين ولادة موسي وإضطهاد فرعون وملاحقته للأطفال في الإبركسيس وولادة يوحنا وأمر هيرودس الملك بقتل الأطفال في إنجيل القدَّاس</p>
<h3>ملخّص القراءات</h3>
<p>لذلك قراءات هذا الأحد تظهر غني تحنن الآب وفيض محبته للبشر والذي أستعلن في تجسد إبنه الوحيد إبن الله وإبن الإنسان في ذات الوقت ( مزمور عشية)</p>
<p>الذي جاء لأرضنا لأجل خلاصنا ( مزمور القداس)</p>
<p>لذلك إبتهجت الخليقة كلها بمجيئه                                                                                                      ( مزمور باكر)</p>
<p>المدن والقري الرجال والنساء                                                                                                            (إنجيل عشية)</p>
<p>لأنه جعلنا خاصته                                                                                                                             ( إنجيل باكر )</p>
<p>وأبناء له لنا داله قويه عنده                                                                                                                  (الكاثوليكون)</p>
<p>وسر إفتقاده لنا ولكل الشعوب لايدركه العالم                                                                                               (البولس)</p>
<p>كما لم يظهر في قصة حسد إخوة يوسف له في البداية حتي أدرك بعد زمن طويل غني تدبير الآب للعالم كله        (الإبركسيس)</p>
<p>لكننا الآن ندرك غني وعمق تدبير الآب وتحننه كلما إمتلأنا بالروح                                                              ( إنجيل القداس)</p>
<h3>إنجيل القدَّاس في فكر آباء الكنيسة</h3>
<p>&#8220;جاء يوحنّا مبشّرًا بنهاية العبادة بحسب العهد القديم والناموس والكهنوت القديم.&#8221; (مار إفرام السرياني).</p>
<p><a href="#_ftn3" name="_ftnref3">[3]</a>&#8220;لأنه الكاهن خادم الهيكل فقد استجيبت صلاة زكريا.&#8221; (القديس فم الذهب).</p>
<h3>الكنيسة في قراءات اليوم</h3>
<p>المجئ الثاني                                                       مزمور باكر</p>
<p>لاهوت الروح القدس + مكانة والدة الإله                      إنجيل باكر</p>
<p>قبول وخلاص الأمم                                               البولس</p>
<p>الشركة مع الثالوث                                                 الكاثوليكون</p>
<p>يوحنا السابق الصابغ والمهيئ الطريق                        إنجيل القدَّاس</p>
<h3>عظات مقترحة</h3>
<p><strong>(١) عطايا الآب المتحنن ورأفاته للبشرية</strong></p>
<p>١- ( ولكي يظهر غني مجده علي آنية رحمة قد سبق الله فأعدها للمجد ) البولس</p>
<p>الله الآب جعل كل أولاده آنية مجد وجعلها سبب مجد الآخرين</p>
<p>٢- ( أنه هناك يُدعون أبناء الله الحىِّ ) البولس</p>
<p>( انظروا أيَّة محبة أعطاها لنا الآب حتي ندعي أبناء الله ) الكاثوليكون</p>
<p>في المسيح له المجد صرنا أبناء لأبينا السماوي وصرنا محبوبين</p>
<p>٣- ( وأقام لنا قرن خلاص &#8230; خلاص من أعدائنا ) إنجيل القدَّاس</p>
<p>الخلاص من الخطية والعالم والشيطان والهلاك الأبدي</p>
<p>٤- ( أن يعطينا بلا خوف &#8230; لنعبده بالطهارة والحق ) انجيل القدَّاس</p>
<p>حررنا الآب من عبودية الخوف الي ثقة ودالة البنين</p>
<p>٥- ( ليضئ علي الجالسين في الظلمة &#8230; لكي تستقيم أرجلنا في طريق السلام ) إنجيل القدَّاس</p>
<p>الإستنارة وضمان طريق البرّ والسلام والحياة مع الله</p>
<p><strong>(٢) مسؤولية الأبناء ليعيشوا ويختبروا غني رأفات الآب ومراحمه</strong></p>
<p>١-( كن يخدمنه من أموالهن ) إنجيل عشيّة</p>
<p>٢- ( من يصنع مشيئة الله هو أخي وأختي وأمي ) إنجيل باكر</p>
<p>٣- ( كل من يؤمن به لا يخزي ) البولس</p>
<p>٤- ( إن ثبت فيكم ما سمعتموه من البدء فأنتم أيضاً تثبتون في الابن والآب &#8230; كل من يصنع البرّ مولود منه ) الكاثوليكون</p>
<p>٥- ( لأنك تتقدم سائراً أمام وجه الرب لتعدَّ طرقه &#8230; أما الصبي فكان ينمو ويتقوي بالروح ) إنجيل القدَّاس</p>
<p>أي أن مسؤولية الأبناء الإيمان به والثبات فيه والتَقَوِّي به وصُنْع مشيئته وخدمته بما نملكه</p>
<p><strong>(٣ ) لماذا يتأني الله في الإستجابة ؟</strong></p>
<p>١- ابراهيم وسارة ليكون اسحق ابن الموعد وليس ابن الجسد</p>
<p>٢- يوسف الصديق ليُعدِّه لقيادة مصر ونجاة العالم من المجاعة</p>
<p>وهكذا زكريا وإليصابات ليكون يوحنا السابق للسيد</p>
<p>٣- موسي النبي في البرية أربعين سنة لإعداده لقيادة شعب الله أربعين سنة أخري</p>
<p>٤- حنة أم صموئيل ليأتي نذير الهيكل وماسح الأنبياء والملوك</p>
<p>٥- أيّوب البار ليُظْهِر الله عِظَمْ صبره لكل البشر في كل جيل</p>
<p><strong>آيات عن هدف وبركات طول أناة الله :</strong></p>
<p>(عب ١٥:٦)</p>
<p>&#8221;  لكي لا تكونوا متباطئين بل متمثلين بالذين بالإيمان والأناة يرثون المواعيد &#8221; (عب ١٢:٦)</p>
<p>(يع ٧:٥)</p>
<p>&#8221; ها نحن نطوب الصابرين. قد سمعتم بصبر أيوب ورأيتم عاقبة الرب. لأن الرب كثير الرحمة ورؤوف &#8221; (يع ١١:٥)</p>
<p>(٢بط ٣ : ٩)</p>
<p>&#8221; لا يتباطأ الرب عن وعده كما يحسب قوم التباطؤ، لكنه يتأنى علينا، وهو لا يشاء أن يهلك أناس، بل أن يقبل الجميع إلى التوبة &#8221; (٢بط ٣ : ٩)</p>
<p>(لو ٧:١٨)</p>
<p>&#8221;  أفلا ينصف الله مختاريه، الصارخين إليه نهارا وليلا، وهو متمهل عليهم أقول لكم: إنه ينصفهم سريعا ولكن متى جاء ابن الإنسان، ألعله يجد الإيمان على الأرض &#8221; (لو ١٨ : ٨-٧)</p>
<h3>عظات ابائية</h3>
<h4>تسبحة زكريا الكاهن في فكر القديس كيرلس الإسكندري</h4>
<p>(لو٦٩:١) &#8220;واقام لنا قرن خلاص في بيت داود فتاه&#8221;</p>
<p>ان كلمة *قرن* تشير لا الي القوة فقط بل الي الملوكية.ولكن المسيح الذى هو المخلص الذى جاء انا من بيت  وجنسداود هو القوة والملك معا لانه هو ملك الملوك وهو قوة الآب غيرالمغلوبة.</p>
<p>(لو٧٢:١) &#8220;ليصنع رحمة مع ابائنا&#8221; المسيح هو رحمة وعدل*بر*لأننا نلنا رحمة بواستطه وتبررنا اذ قد غُسلنا من أوساخ خطيتنابالإيمان به.</p>
<p>(لو٧٣:١) &#8220;القسم الذى حلف لإبراهيم أبينا &#8221;</p>
<p>لا ينبغي لاحد حينما يسمع ان الله أقسم لإبراهيم لا ينبغي له انيسمح لنفسه ان يقسم، وكما ان الغضب حينما يقال علي الله هوليس غضبًا ولا يعنى الانفعال، ولكن يقصد به القوة التى تظهر في العقاب او اي حركة مشابهة. هكذا ايضا فالقسم بالنسبةله ليس قسمًا. لإن الله لا يقسم بل يشير إلي يقينية الحدث، أيان ما يقوله سيحدث بالضرورة، لان قسم الله هو كلمته الخاصةالتى تحث الذين يسمعونه حثًا كاملًا ، وتعطي كل واحدٍ الاعتقادبان لابد ان يحدث بالتأكيد.</p>
<p>(لو٧٦:١)&#8221;وانت ايها الصبي نبي العلي تدعي، لانك تتقدم أماموجه الرب لتعد طرقه&#8221;</p>
<p>أرجو ان تلاحظوا هذا أيضًا ، أن المسيح هو العليّ الذى كانيوحنا سابقًا له في ميلاده وكرازته لإعداد الطريق، فماذا تبقياذا لكى يقول أولئك الذين يقللون من لاهوته؟ ولماذا لا يفهمون انهحينما قتل ذكريا &#8220;وانت نبي العلي تدعى&#8221; إنما يقصدبهذا الكلام انه نبي&#8221;الله&#8221; مثل انبياء الله السابقين له.</p>
<p>(لو٧٩:١)&#8221;يضيء علي الجالسين في الظلمة&#8221;</p>
<p>كان المعمدان بالنسبة للذين تحت الناموس الساكنين فياليهودية، كأنه سراج سابق للمسيح وهكذا تكلم عنه الله سابقًا&#8221;هيأت سراجا لمسيحى &#8221; (مز١٧:١٣١).</p>
<p>والناموس يعطي اشارة عنه بالمنارة التى في المسكن الأول، التىاوصي بأن تكون موقدة دائمًا. ولكن اليهود بعد ان سُروا به فترةقصيرة مندفعين أفواجًا الي معموديته، ومعجبين بطريقة حياته، فإنهم سريعًا ما جعلوه يرقد رقاد الموت مجتهدين ان يطفئواالمصباح الدائم الاشتعال. لذلك تحدث عنه المخلص أيضًا &#8220;كانهو السراج الموقد المنير وأنتم أردتم ان تبتهجوا بنوره ساعة&#8221;(يو٣٥:٥).</p>
<p>&#8221; لكى يهدى اقدامنا في طريق السلام&#8221;</p>
<p>لأن العالم في الواقع كان تائهًا في الضلال، يعبد المخلوق بدلالخالق، وكأن الليل قد سقط علي عقول الجميع فلا يدعهميبصرون ذلك الذى هو بالطبيعة وبالحقيقة الله. ولكن رب الكلجاء للاسرائيلين مثل نور ومثل شمس<a href="#_ftn4" name="_ftnref4">[4]</a>.</p>
<h4>العلامة أوريجانوس (١٨٥-٢٥٣م)</h4>
<p>كان ميلاد يوحنا عجيباً ، لكن تنشئته كانت أكثر عجباً ، إذ لم يتربي يوحنا بالأسلوب المعتاد أو المتعارف عليه في تربية الأبناء ، حقاً لم يخبرنا الكتاب المقدس كيف تربي في كنف أمه ، وكيف ترعرع في حضنها ، بل نقلنا الكتاب المقدس مباشرة إلي القول :&#8221; أمًا الصبي فكان ينمو ويتقوي بالروح وكان في البراري إلي يوم ظهوره لإسرائيل &#8220;(لو ١: ٨٠) . ومن قبل قرأنا أن اليصابات قد تم &#8221; زمانها لتلد فولدت ابناً&#8221;(لو ١: ٥٧) .</p>
<p>وظن كثيرون أن هذا التعبير به إستطراد مبالغ فيه أو زائد عن الحد ، إذ لم يحدث أن تلد إمرأة لم يكتمل زمن ولادتها؟ لكن من يتأمل بعمق في الكتاب المقدس ، يتفهم ما يعنيه القديس بولس الرسول حين يقول :&#8221; … اعكف علي القراءة…&#8221;(١تي ٤: ١٣) . فمن يفتش بين صفحات العهدين القديم والجديد هل يجد أنه كتب عن ميلاد أحد الخطاة &#8221; أنه قد تم زمان ولادته &#8220;. أقول إنه لن يجد مثلاً واحداً علي ذلك ، لكن حين يولد إنسان بار عندئذ &#8221; يكتمل الزمن &#8221; بمعني أن مجيئه إلي العالم قد كَمُل لأن الامتلاء أو الإكتمال هو علامة ميلاد الشخص البار ، في حين أن الفراغ وعدم الإهتمام علامة علي ميلاد الخاطيء . هذا هو الهدف والمغزي من وراء هذه الكلمات .</p>
<p>وبعد ولادة يوحنا يذكر القديس لوقا البشير :&#8221; سمع جيرانها وأقرباؤها أن الرب عظم رحمته لها ففرحوا معها &#8220;(لو ١: ٥٨) . وهنأوا أمه وتمنوا أن تسمي الطفل باسم أبيه زكريا ، لكن أليصابات نطقت بفم الروح القدس لتقول :إن &#8220;اسمه يوحنا &#8221; (لو ١: ٦٣) فتعجب الجميع لأجل أن أباه وأمه قد إختصاه بهذا الاسم ، إذ لم يكن في عشيرته أحد تسمي باسم يوحنا من قبل ، فسألوا أباه ، وإذ لم يكن زكريا قادراً علي أن يجيبهم &#8221; أومأوا إلي أبيه ماذا تريد أن يُسمي ، فطلب لوحاً وكتب :&#8221;اسمه يوحنا&#8221; . فتعجب الجميع&#8221;(لو ١: ٦٢- ٦٣) . &#8221; وفي الحال انفتح فمه ولسانه &#8220;(لو ١: ٦٤) . لقد عُقد لسان الإنسان بقوة غير منظورة ، لكن بمجرد أن انفك لسانه ، لم يعد مجرد لساناً بشرياً ، بل &#8221; تكلم وبارك الله &#8220;(لو ١: ٦٤) .</p>
<p>حين امتلأ زكريا بالروح القدس ، نطق بنبؤتين : الأولي عن السيد المسيح ، والثانية عن يوحنا ، وهذا واضح جداً في كلماته ، حيث تحدث عن المخلص كما لو كان بالفعل حاضراً ويعمل في العالم ، ثم تحدث عن يوحنا ، قائلاً :&#8221; مُبارك الرب إله إسرائيل لأنه افتقد وصنع فداء لشعبه &#8220;(لو١: ٦٨) . لأنه حينما إفتقد الرب شعبه وأرد أن يخلصه ، مكثت مريم ثلاثة أشهر مع أليصابات بعد أن تحدث إليها الملاك ، حيث إن حضور المخلص بقوته التي تفوق الوصف ، لم يرشد يوحنا فقط كما ذكرنا ، لكنه أرشد زكريا أيضاً كما توضح البشارة الآن .</p>
<p>وبالتدريج ، وعلي مدار الثلاثة أشهر ، ظلَّ زكريا يتلقي غذاءاً روحياً من الروح القدس ، حيث كان يتلقي العلم كهبة إلهية دون قصد منه ، وبعدئذ تنبأ عن السيد المسيح قائلاً :&#8221; وأقام لنا قرن خلاص في بيت داود فتاه &#8220;(لو ١: ٦٩) .</p>
<p>لأن السيد المسيح جاء &#8221; من نسل داود من جهة الجسد &#8220;(رو ١: ٣) ولهذا فهو بالحقيقة قرن الخلاص الذي ولد لنا من بيت داود. كما قال بلسان أنبيائه في الزمن القديم ، وبه يكون &#8220;خلاص من أعدائنا ومن أيدي جميع مُبغضينا &#8220;(لو ١: ٧١) .</p>
<p>ولا يعني بهذا الأعداء الجسدانيين فقط ، بل بالأحري الأعداء الروحيين ، فالرب يسوع هو &#8221; الرب الجبار في القتال &#8220;(مز ٢٤: ٨) الذي يدمر جميع أعدائنا ويحررنا من فخاخهم ، أي يحررنا من أيدي جميع أعدائنا &#8221; ومن أيدي جميع مبغضينا ، ليصنع رحمة مع آبائنا ويذكر عهده المقدس &#8220;(لو ١: ٧١- ٧٢) .</p>
<p>إنني أؤمن أن مجيء الرب المخلص أبهج أبائنا إبراهيم واسحق ويعقوب لما صنعه الرب من رحمة ، لأنهم قديماً رأوا أن يومه آت فتهللوا وإبتهجوا له &#8221; أبوكم إبراهيم تهلل بأن يري يومي فرأي وفرح &#8220;(يو ٨: ٥٦) . ومما لا يمكن تصديقه أنهم قد نالوا ربحاً عوضاً عن مجيئه لاحقاً ، حينما أتي مولوداً من عذراء … ذلك لأن حضور الربُّ يسوع وعمله لم يستفد منه الأرضيين فقط ، بل السمائيين أيضاً ، لهذا يقول الرسول أيضاً :&#8221; يُصالح به الكل لنفسه ، عاملاً الصلح بدم صليبه ، بواسطته ، سواء كان ما علي الأرض ام ما في السموات &#8220;(كو ١: ٢٠) .</p>
<p>لكن إن كان حضور الرب نافعاً لمن هم في السموات ومن هم علي الأرض ، فلماذا نتردد في القول إن مجيئه قد أفاد أجدادنا أيضاً ؟ بل نقول ذلك لكي يتم ما قيل في بشارة القديس لوقا :&#8221; ليصنع رحمة مع آبائنا ويذكر عهده المقدس ، القسم الذي حلف لإبراهيم أبينا &#8220;(لو ١: ٧٢- ٧٣) لكي يهب لنا الخلاص &#8221; بلا خوف منقذين من أيدي أعدائنا &#8220;(لو ١: ٧٤) .</p>
<p>لأنه غالباً ما ينجو الناس من أيدي أعدائهم لكن ليس بلا خوف … لكن مجيء الرب يسوع هو الذي أنقذنا بلا خوف من أيدي أعدائنا.</p>
<p>إذ نحن لا نري أعداءنا عندما يحاربوننا من خلف ، لكن ودون معرفة منا بهم ، نجد أنفسنا وقد وقعنا فجأة فريسة بين فكيهم وكمائنهم ، لكن الرب يسوع قادر أن ينقلنا في لحظة في طرفة عين &#8220;(١كو ١٥: ٥٢) إلي &#8221; شركة ميراث القديسين في النور ، الذي انقذنا من سلطان الظلمة ونقلنا إلي ملكوت ابن محبته &#8220;(كو ١: ١٢- ١٣) .</p>
<p>لكي ننال العتق والخلاص &#8221; بلا خوف منقذين من أيدي أعدائنا نعبده ، بقداسة وبر قدّامه جميع أيام حياتنا &#8220;(لو ١: ٧٤- ٧٥) .</p>
<p>&#8221; وأنت أيها الصبي نبي العلي تُدعي&#8221;(لو ١: ٧٦)</p>
<p>فما السبب الذي جعل زكريا يوجه حديثه ليوحنا نفسه ، دون أن يتحدث عنه؟ إذ من غير المنطقي أن يتحدث إلي شخص لن يفهمه ولن يدرك ما يقوله له ، إذ أنه طفل رضيع ، ما لم يكن -في اعتقادي- ميلاد يوحنا ميلاداً معجزياً ، حيث إنه جاء إلي هذا العالم بنبوة بشَّر بها الملاك أباه زكريا ، وبعد أن مكثت مريم مع أليصابات ثلاثة أشهر ، وُلد يوحنا ، ومن ثم فإن كل ما كُتِب عنه يقر بحادثة إعجازية ، ربما أنك تشك كيف أن طفلاً حديث الولادة يستطيع أن يسمع ويدرك كلمات أبيه ، فما الدلالة وراء هذا الكلام الذي وجهة أبوه له ؟ لما لا وهناك واقعة أكثر عجباً ، وهي أنه عندما سمع صوت سلام القديسة مريم إرتكض وهو لا يزال جنيناً في بطن أمه .</p>
<p>لقد سمع يوحنا وهو لا يزال جنيناً في بطن أمه ، سلام يسوع الذي نطقت به أمه مريم وركض بابتهاج لأجله ، فلماذا لا تصدق أنه استطاع بعد ولادته أن يفهم نبوة أبيه ، الذي خاطبه قائلاً &#8221; وأنت أيها الصبي نبي العلي تُدعي لأنك تتقدم أمام وجه الرب لتعد طرقه&#8221;(لو ١: ٧٦) .</p>
<p>وربما يرجع السبب في تعجله للحديث مع الطفل يوحنا ، أن زكريا كان يعلم مسبقاً أن ابنه سيعيش في البرية ، وأنه لن يتمتع بوجوده معه لوقت طويل &#8221; أما الصبي فكان ينمو ويتقوي بالروح وكان في البراري إلي يوم ظهوره لإسرائيل &#8220;(لو ١: ٨٠) .</p>
<p>وموسي أيضاً عاش في البرية ، فبعد أن أكمل عامه الأربعين هرب من مصر ورعي قطعان يثرون أربعين سنه أخري ، لكن يوحنا خرج إلي البرية في سن مبكر جداً ، وهو الذي قيل عنه ، &#8221; لم يقم بين المولودين من النساء أعظم من يوحنا المعمدان ولكن الأصغر في ملكوت السماوات أعظم منه &#8220;(مت ١١: ١١) . وأيضاً تقول عنه النبوة :&#8221; ها أنا أرسل أمام وجهك ملاكي الذي يُهييء طريقك قُدامك &#8220;(مت ١١: ١٠) .</p>
<p>فهو الشخص المُعين والمرسل لاستقبال مجيء الرب وهو الذي استطاع بمجرد ولادته أن يسمع ويفهم نبواءات أبيه ، إنه بالحقيقة يُدعي ملاكاً ، ونحن إذ نصدق هذه المعجزات العظيمة ، ونؤمن بها كإيماننا بصدق القيامة ، وكإيماننا بوعود الملكوت التي يَعدنا بها الروح القدس كل يوم ، والكتاب المقدس يُعبر عن كل هذه الحقائق بأسلوب غاية في الروعة أكثر مما نتصور ، ونحن نقبلها جميعاً .</p>
<p>&#8221; أما الصبي فكان ينمو ويتقوي بالروح وكان في البراري إلي يوم ظهوره لإسرائيل &#8221; (لو ١: ٨٠) . النمو إما يكون علي المستوي الجسدي أو الروحي ، أما النمو الجسدي فلا حيلة لنا فيه ، بينما النمو الروحي لا يتحقق إلا حين يبذل الإنسان الجهد من أجله .</p>
<p>&#8221; أما الصبي فكان ينمو ويتقوي بالروح &#8221; بمعني أن روحه لم تبق عند نفس الحالة التي بدأت منها ، بل كانت تنمو باستمرار في داخله ، في كل ساعة وفي كل لحظة وكما كان ينمو بالروح هكذا أيضاً كانت نفسه تتقدم ، وليس نفسه فقط ، بل أن فكره وكل حواسه كانت تنمو بنمو روحه ، لأن هذا هو حُكم الله حين قال :&#8221; أثمرت وأكثري &#8220;(تك١: ٢٢) فالكثرة تشير إلي العدد ، بمعني أنهم زادوا في العدد علي ما كانوا عليه من قبل . لكن التقدُّم في النمو لا يتوقف علي قوتنا الذاتية ،&#8221; ومن منكم إذا اهتم يقدر أن يزيد علي قامته ذراعاً واحداً &#8220;(مت ٦: ٢٧) ومن الحماقة أن نلتزم بما لا نستطيع فعله ، بل نحن مدعوون للنماء ، ومن ثم نحن قادرون علي فعل ما نحن مدعوون من أجله ، هل تريد أن تعرف كيف يجب أن تفهم &#8220;النماء&#8221; ؟ انظر لما فعله اسحق ، يقول الكتاب المقدس عنه :&#8221; فتعاظم الرجل وكان يتزايد في التعاظم حتي صار عظيماً جداً &#8220;(تك ٢٦: ١٣) وذلك لأن إرادته كانت دائماً تتجه نحو الأفضل وتحافظ علي التقدُّم في النمو ، وظل ذهنه متعلقاً بكل الأمور السامية ، حريصاً علي أن يمرَّن ذاكرته علي تخزين ما يفوق في منزلته الكنوز ، مُداوماً علي أن يحفظه بأكثر الطرق أمناً ، هذا هو الطريق نحو النمو ، لقد زرع اسحق جميع فضائله داخل حقل نفسه ، ومن ثم امتلأت نفسه &#8221; بالوسائط &#8221; التي تكفل له النمو .</p>
<p>هكذا يوحنا أيضاً ، بينما كان لا يزال صبياً ، نما وكثُر ، فإن كان هذا الأمر بالغ الصعوبة ، نادر الحدوث بين البشر ، فكم بالحري يصعب علي صبي صغير مثله أن ينمو في الروح .</p>
<p>كان الصبي ينمو ويتقوي بالروح ، أن ينمو أمر ، وأن يتقوَّي أمر آخر ، فالطبيعة البشرية ضعيفة ، وتحتاج إلي معونة إلهية لكي تتقوي ، إذ نقرأ :&#8221; أما الجسد فضعيف &#8220;(مت ٢٦: ٤١) . فما القوة التي تستطيع أن تقويه ؟ إنها قوة الروح بالطبع &#8221; أمًا الروح فتنشيط &#8221; (مت ٢٦: ٤١) وأي شخص يريد أن يصبح قوياً ، عليه أن يتقوي في الروح فقط ، كثيرون أقوياء بالجسد ، ويعملون علي أن تصير أجسادهم أكثر قوة ، لكن جنود يسوع المسيح يجب أن يكونوا أكثر قوة في الروح ، لأن من يتقوي في الروح يسحق حكمة الجسد .</p>
<p>والنشاط الروحي هو الذي يُخضع الجسد لمطلب النفس ، علينا ألا نظن ، حين يقول الكتاب المقدس :&#8221; فكان ينمو ويتقوي بالروح &#8221; أن ما كُتب عن يوحنا هو مجرَّد (رواية) لا تتناسب معنا بأي حال من الأحوال ، بل هي مكتوبة لكي نحاكيها ، إذ يتعين علينا أن نأخذ &#8220;النمو &#8221; بالمعني الذي أوضحناه من قبل ، أي أن ننمو روحياً .</p>
<p>&#8221; وكان في البراري إلي يوم ظهوره لإسرائيل &#8221; (لو ١: ٨٠) . لقد ذكرت مؤخراً أن هناك أمر ما يثير دهشتي في امكانيات الإدراك لدي يوحنا ، فهو الذي أدرك وعرف الرب يسوع وهو لا يزال في بطن أمه ، وإرتكض فرحاً لأجله ، كذلك كان ميلاده عجيباً، وتحدث إليه أبوه زكريا وقت أن وُلِد كمن يتحدث إلي شخص يسمعه ويعي ما يقوله له . هكذا ، فمن الطبيعي بالنسبة له ألا نتوقع أن يتربي علي يدي أبيه وأمه حتي يوم إرساله إلي شعب إسرائيل ، لكنه هرب من ضوضاء المدن وضجيجها ورذائلها ، ودخل إلي البرية حيث الهواء النقي ، والسموات المفتوحة والإحساس العميق بقرب أذني الله من شفتيه .</p>
<p>لم يكن وقت خدمته قد حان ليعمَّد الناس . لكنه كان يشارك الملائكة الصلوات ، لقد دُعي من الله وسمعه وهو يجيبه قائلاً :هأنذا&#8221; (خر ٣: ٤) ، تماماً مثلما تحدث موسي إلي الرب وأجابه . ولهذا أعتقد أن يوحنا كان يكلم الرب في البرية وهو يجيبه ، أنني أعتقد في هذا ، فبما أن يوحنا المعمدان هو أعظم مواليد النساء ، وبما أن الله كان يجيب موسي ، فمن المناسب أنه كان يجيب يوحنا المعمدان أيضاً ، لأن يوحنا كان أعظم من موسي&#8230;<a href="#_ftn5" name="_ftnref5">[5]</a></p>
<h4>القديس غريغوريوس النيسي</h4>
<p>صوت اليمامة هو صوت يوحنا الذي يُبشِّرنا بإقتراب الربيع الذي هو المسيح</p>
<p>الشتاء الآن قد مضى :</p>
<p>لقد تحدث الكلمة الى العروس ودعاها حبيبتى لأنها سارت قريبة اليه ودعاها حمامة لأنها صارت جميلة . والآن يستمر ويقول لها أن كآبة الشتاء لن تعد تتسلط على نفوسنا لأن البرد لا يمكن أن يستمر رغم أشعة شمس التوبة ولذلك يقول لها &#8221; ان الشتاء قد مضى والمطر مر وزال &#8221; (نش ٢ : ١١). ان الخطية لها أسماء كثيرة وفقا لتأثيراتها المختلفة ، أحيانا يعبر عنها بالشتاء وأحيانا أخرى بالمطر وكل اسم منها يحمل نوعا معينا من التجربة ، ففى وقت الشتاء يختفى ويجف كل شىء محبب للنفس ، كل أوراق الشجر التى هى الغطاء الطبيعى لجمال الأشجار تسقط على الأرض ، ويكف غناء العصافير وطائر العندليب يطير ويهرب بعيدا وتنام العصافير وتترك الحمامة عشها، وكل شىء باختصار يأخذ شكل الموت القاسى ، الأزهار تهلك والحشائش تموت والأغصان تعرت من الأوراق مثل العظام التى خلعت من أجسادها ، والورود والأغصان الحلوة الجميلة أصبحت الأن فى صورة قبيحة .</p>
<p>وهناك تغيرات أخرى تحدث فى فصل الشتاء للبحار لأن البحر يثور ويرتفع ليغرق الهضاب والجبال وتفيض المياه فوق حدودها المألوفة وتهاجم الأرض وتلتهمها كأنها عدو وتتعاقب هجمات الأمواج على الأرض مرات كثيرة متعاقبة وكأنها هجوم مسلح بالأسلحة .</p>
<p>وعلينا أن نفكر فى المعنى المجازى للتغيير الذى يحدث للماء فى فصل الشتاء ؟ وما هى الأشياء التى تهلك وتفنى فى فصل الشتاء ؟ وما الذى يسقط من مزرعة الأشجار ويلقى على الأرض ؟ وما هو معنى سكوت غناء الطيور ؟ وما معنى قذف أمواج البحر هكذا ؟ وما هو معنى الأمطار ؟ وقطرات المطر وماذا تشير اليه ؟ والمعنى هو أن الشتاء الذى يعبر يشير الى الضعف البشرى الذى نسلك فيه بأرادتنا الحرة .</p>
<p>ومعنى هذا أن الانسان حين كان فى الفردوس كان يحيا فى سعادة وازدهار بقدر ما كان بحالة عدم الفساد . ولكن لما جاء الشتاء الذى يرمز الى العصيان وعدم الطاعة وتحركت واهتزت الأشجار وسقطت الأوراق على الأرض وتعرى الانسان من حالة الخلود وعدم الفساد وحشائش الفضيلة قد جفت ، ومحبة الله قد بردت بسبب الاستمرار فى الخطية وتملكت الشهوات فى الانسان التى هى عواصف الهواء القوية التى بسببها تحطمت سفن كثيرة .</p>
<p>ولكن لما جاء الرب يسوع فأحضر الربيع فى نفوسنا وأمر الرياح أن تهدأ والأمواج أن تسكت اذ قال للبحر &#8221; ابكم واسكت &#8221; (مر ٤ : ٣٩) واحضر كل شىء الى الهدوء والسلام وبدأت طبيعتنا مرة أخرى تزدهر ويظهر جمالها مع الأزهار الخاصة بها . لأن الأزهار والورود يرمزان الى الفضيلة التى بدأت ثمارها تنضج من جديد .</p>
<p>وهذا هو السبب الذى من أجلة يقول النص أن &#8221; الشتاء قد مضى والمطر مر وزال والزهور ظهرت فى الأرض &#8220;(نش ٢ : ١١) ها هى الحقول قد أمتلأت بالأزهار وأصبحت الطهارة تشرق فى مثل السوسن المملوء بالعطر ، أصبح ورد الأتضاع يملأ النفس . والنرجس ذو الرائحة العطرة التى تشير الى رائحة المسيح قد غطى النفس .</p>
<p>لماذا لا تصنع اكليلا من الزهور ؟ أنه الأن وقت تجميع الزهور لنزين بها أنفسنا . ها وقت الحصاد قد حضر وهذا ما عرفناه من صوت اليمامة &#8221; صوت اليمامة سمع فى أرضنا &#8221; (نش ٢ : ١٢).</p>
<p>هذا هو صوت اليمامة الذى يصيح ويعلن قرب الربيع وهذا رمز الى صوت يوحنا المعمدان الذى يصيح فى البرية ويبشرنا بأقتراب الربيع الذى هو الرب يسوع المسيح . أما الأزهار التى تنتشر فى الربيع فهى تشير الى الفضائل ، ان الأزهار والورود التى تأتينا فى الربيع تشير الى حياة الفضيلة التى يجب أن نسير فيها بعد ممارسة التوبة عن خطايانا حتى نطيع الرب يسوع المسيح حمل الله الذى يرفع خطايا العالم.<a href="#_ftn6" name="_ftnref6">[6]</a></p>
<h3>عظات اباء وخدام معاصرين</h3>
<h4>المتنيح القمص لوقا سيداروس</h4>
<p>(لو ١ : ٥٧ – ٨٠)</p>
<p><strong>ميلاد يوحنا المعمدان يوحنا السابق</strong></p>
<p>هذا هو لقب يوحنا المعمدان في الكنيسة . هو سابق لموكب الملك – يهئ طريق المسيح في كل قلب . قال عنك أشعياء : &#8221; أنه صوت صارخ في البرية أعدوا طريق الرب قوموا سبله مستقيمة &#8221; . وقال عنه أبوه زكريا : &#8221; وأنت أيها الصبى نبى العلى تدعى لأنك تتقدم أمام وجه الرب لتعد له شعباً مستعداً &#8221; . وقال الرب بفم ملاخى النبى : هأنذا أرسل إليكم إيليا النبى قبل مجئ يوم الرب العظيم والشهير &#8221; . ها قد أقترب مجئ رب البيت . العريس الحقيقى في نصف الليل . وها كل النفوس نعس وثمن في غفلة الخطية . وها الخراف منطرحه كغنم لا راعى لها . تائهة في برارى العالم ومشتتة على كل جبال الكبرياء ، وفى كل وديان اليأس من الحياة . ولكل هؤلاء جاء ابن الله الراعى الصالح يردالضال ويطلب المفقود حتى يجبره ويجبر الكسير ويعصب الجريح ويداوى جراحات النفس بجراحاته .</p>
<p>+ من يوقظ النفوس ؟ من نرسل ومن يذهب من أجلنا ؟ قال الرب : هذا هو عمل يوحنا الذى جاء يصرخ في برية هذا العالم</p>
<p>+ السلام ليوحنا صوت الروح القدس الذى يصرخ ينادى ولا يسكت إلى جيل الأجيال . يقول للخطاة : &#8221; توبوا لأنه قد أقترب منكم ملكوت الله &#8221; .</p>
<p>+ السلام ليوحنا صوت النبوة الذى يشير إلى المسيح حمل الله ويقود تلاميذه إلى حضن المسيح ويكمل فرحه بالعريس عمانوئيل.</p>
<p>+ يا يوحنا يا ابن الموعد . ها قد أقترب يوم ميلاد ربنا . وليس لنا استعداد لإستقبال المسيح . ليس لنا كنوز ذهب ولا أكياس لبان الصلاة . وليس لنا شركة آلام في دواخلنا ولا مر النسك والعبادة فهل تصرخ فينا اليوم لنتوب . وتهئ فينا شعباً مستعداً وقلباً يصلح أن يكون مذوداً لطفل المذود .</p>
<p>+ يا يوحنا يا ابن الموعد . أصرخ فينا في هذه الأيام وقل كيف تتكلمون بالصالحات وأنتم الأشرار . أصرخ فينا لنخلع توب الرياء الذى صنعناه لأنفسنا لتبدوا ظواهرنا مثل الصديقين . ونكون شكل الأبرار وأصبح لنا صورة التقوى وأولاد الشهداء وكلام الآباء والقديسين ، أصرخ فينا لنخلع كل هذا ونقبل من جديد معمودية التوبة لغفران الخطايا ، ونحيا كما يحق للدعوة التي دعينا إليها</p>
<p>+ يا يوحنا يا ابن الموعد . أصرخ فينا بروح النبى إيليا وقل إلى متى تعوجون بين الفرقتين إن كان الرب هو الله فاعبدوه . وأن كان العالم فاتبعوه وضع حداً للميوعة الروحية وضع حداً بين محبة العالم ، ومحبة الله في حياتنا .</p>
<p>+ أصرخ فينا بصوت الروح وبكت فتورنا وعدم حرارتنا وقل : &#8221; ليتك كنت بارداً أو حاراً &#8221; .</p>
<p>+ يا يوحنا يا ابن الموعد أين اليوم صرخت بالروح ؟ قائلاً : &#8221; لا يحل لك &#8221; قلها لنفوسنا عندما تريد أن تنحرف إلى العالم وترتد إلى محبة العالم وتكسر الوصايا . أصرخ بصوت عال في حياتنا في داخل قلوب قل : &#8221; لا يحل لك ولا تسكت حتى تخضع وأشفع فينا حتى لا تقسى قلوبنا &#8221; .</p>
<p>+ يا يوحنا يا ابن الموعد . أصرخ ولا تكف عن الصراخ لأن التوبة  للنفوس المرتبكة بنير  عبودية العالم ينبهها صوت صراخ المعمدان وتحس بالروح. لقد قال الملاك المبشر لزكريا أبوة : &#8221; ويكون لك فرح وابتهاج وكثيرون سيفرحون بولادته &#8221; . ان يوحنا المعمدان يمثل التوبة في حياة الكنيسة والتوبة هي فرح الأبرار.</p>
<p>+ أبتهج يا زكريا الكاهن الرجل البار السالك في جميع وصايا الرب وأحكامه بلا لوم لأنه قد ولد لك اليوم صوت التوبة والمناداة بالرجوع إلى اللة</p>
<p>+ أفرحى يا إليصابات العاقر لأن بطنك أخرجت اليوم ثمر التوبة وصوت الصراخ للخطاة إلى كل الأجيال .</p>
<p>+ أفرحوا يا جميع المنتظرين فداء لإسرائيل لأنه ولد اليوم يوحنا الذى يعطى معرفة الخلاص لجميع الشعب ويعلن لهم أحشاء رحمة إلهنا الذى أفتقدنا من العلاء وهو مزمع أن يضئ على الجالسين في الظلمة وظلال الموت.</p>
<p>+ إن الفرح بميلاد يوحنا المعمدان هو فرح بالتوبة. أن السماء كلها تفرح بخاطئ واحد يتوب . وقلب الآب يفرح برجوع الأبن الضال ، ويقول : أفرحوا معى لأن أبنى هذا كان ميتاً فعاش ، وكان ضالا فوجدناه .</p>
<p>+ ولكن الفرح بالتوبة لا يمكن أن يعبر عنه بالكرام ولا يخضع للقياس البشرى . هو فرح يدخل إليه الإنسان مباشرة &#8221; أدخل إلى فرح سيدك &#8221; .</p>
<p>+ لا يكفى أن تسمع عن الفرح الحقيقى . بل أدخل إلى الفرح بالتوبة . وادخل إلى العرس الحقيقى . إلى الوليمة السمائية. إلى عشاء الخروف إلى المذبح وامتلئ فرحاً بالتوبة وغفران الخطايا والتناول من جسد السيد المسيح.</p>
<p>+ هذا هو الفرح الذى سرى في العالم مثل النار ببشارة الإنجيل وكرازة التوبة. من بدء الإنجيل في الميلاد : &#8221; وأبشركم بفرح عظيم &#8221; . إلى ختام الإنجيل عند صعود الرب : &#8221; رجعوا بفرح عظيم &#8221; . هذا الذى قال الرب عنه : &#8221; لا يستطيع أحد أن ينزع فرحكم منكم &#8221; .</p>
<p>+ ليعطينا الرب الإله قوة هذا الفرح الإلهى بميلاده العجيب بشفاعة أم النور العذراء مريم وشفاعة يوحنا المعمدان وطلبات زكريا الكاهن وأمرأته القديسة إليصابات . آمين .</p>
<h4>المتنيح القمص بولس باسيلي</h4>
<p>الثالوث الأقدس  إ</p>
<p><strong>تقسيم على ضوء القراءات الكنسية</strong></p>
<p>البولس      :      (رو ٩: ٦—٣٣)</p>
<p>الكاثوليكون  :     (١يو ٢: ٢٤ – ٣: ١—٣)</p>
<p>الابركسيس :     (أع ٧: ٨ – ٢٢)</p>
<p>الانجيل       :      (لو١:  ٥٧- ٨٠)</p>
<p>تمهيد : فى هذا الانجيل نرى صورة واضحة للثالوث الأقدس بأقانيمه الثلاثة ، وهكذا نرى من خلال هذه الصورة الخلاص الذى جهزه الثالوث الأقدس للعالم.</p>
<p><strong>  القسم الأول – الثالوث الأقدس فى تسبحة زكريا</strong></p>
<p>(1)          حديث زكريا عن أقنوم الآب :</p>
<p>فقد ذكر عنه أنه جهز الخلاص لنا &#8221; كما تكلم بفم أنبيائه القديسين . ليصنع رحمة مع آبائنا &#8221; (لو : ٧٠ – ٧٢) فقد افتقد الآب وصنع فداء ( لو : عدد 68 ) وأقام قرن خلاص ( لو:عدد 69 ).</p>
<p>(2)          حديثه عن أقنوم الأبن :</p>
<p>اذ أشار اليه بأنه الفادى ( لو :عدد 68 ) وبأنه قرن خلاص ( عدد 69) وخلاص من أعدائنا ومن أيدى مبغضينا ( عدد 71) ومما يلفت النظر أن زكريا قد حدثنا عن قرن واحد للخلاص لا أكثر وهذا ما أيده القديس بطرس بقوله &#8221; وليس بأحد غيره الخلاص لأنه ليس اسم آخر تحت السماء قد أعطى بيد الناس به ينبغى أن نخلص &#8221; ( أع 4: 12) وبأنه النور المشرق &#8221; بأحشاء رحمة الهنا التى بها افتقدنا المشرق من العلاء ليضىء على الجالسين فى الظلمة وظلال الموت لكى يهدى أقدامنا فى طريق السلام &#8221; (لو ١: ٨٧-٧٩ ) .</p>
<p>(3)          حديثه عن الروح القدس :</p>
<p>انه شخصياً امتلأ به ( عدد 67 ) وأن الروح القدس تقوى يسوع ونما &#8221; أما الصبى فكان ينمو ويقوى بالروح &#8221; ( عدد 80 ).</p>
<p>++++++++++++++++++++++++++++++++++++</p>
<p><strong>القسم الثانى – الرسائل تشير الى ذلك</strong></p>
<p>(1)          فالبولس :</p>
<p>يتحدث عن المخلص بوصفه &#8221; حجر صدمة وصخرة عثرة &#8221; بقوله فى ختام الفصل &#8221; ها أنا أضع فى صهيون حجر صدمة وصخرة عثرة وكل من يؤمن به لا يخزى &#8221; (رو٩: ٣٣) وقيل عن هذا المخلص &#8221; ها أنه هذا قد وضع لسقوط وقيام كثيرين &#8221; ( لو ٢: ٣٤ ).</p>
<p>(2)          والكاثوليكون :</p>
<p>يتحدث عن التثليث أيضاً بشكل ملحوظ فيقول &#8221; ان ثبت فيكم ما سمعتموه من البدء فأنتم أيضاً تثبتون فى الابن وفى الآب &#8221; (١يو ٢: ٢٤).</p>
<p>(3)          والابركسيس :</p>
<p>يحدثنا أيضاً عن الوعد بميلاد المسيح المخلص والرموز التى كانت اشارة الى شخصه المبارك فى العهد القديم وأهم هذه الاشارات شخصية موسى الذى قال &#8221; يقيم لكم الرب فى وسطكم نبياً من اخوتكم مثلى له تسمعون &#8221; ونرى الرسول بولس يتحدث عن ولادة موسى رمز المخلص وهكذا نرى الرسائل الثلاث تتجاوب وتترنم مع هدف الانجيل المقدس ، وهذه حكمة القراءات الكنسية.</p>
<p>+++++++++++++++++++++++++++++++++++++</p>
<h3>تأملات روحية  نقاط تفسيرية</h3>
<p>فى عظة الأحد الرابع من شهر كيهك</p>
<p>(لو١ : ٥٧ – ٨٠)</p>
<p>+  &#8221; فى اليوم الثامن جاءوا ليختنوا الصبى &#8221; :</p>
<p>أمرت الشريعة الموسوية بأن يختنوا الذكور فى اليوم الثامن لمولدهم ولأن السيد المسيح ولد تحت الناموس ( غلا 4:4) لذلك نفذ هذه الوصية فاختتن فى اليوم الثامن ويحسن بنا أن نذكر هنا الطقوس الشرعية التى كانت تصنع فى العهد القديم لكل ذكر :</p>
<p>أولا –  تطهير الأم بحسبما ورد فى ( لا 12: 6—8 ) فانها اذ تلد ذكر تكون نجسه سبعة أيام وفى اليوم الثامن يختن الصبى ثم تقيم ثلاثة وثلاثين يوماً فى دم تطهيرها بعدما تأتى الى الهيكل بخروف حولى وفرخ حمامة أو يمامة ذبيحة خطية يقدمها الكاهن أمام الرب ويكفر عنها فتطهر من ينبوع دمها ، وان لم تنل يدها كفاية لشاة ، تأخذ يمامتين أو فرخى حمام الواحد محرقة والآخر ذبيحة خطية.</p>
<p>ثانياً – تقديم البكر المولود للرب ، كما هو مكتوب فى ناموس الرب &#8221; ان كل ذكر فاتح رحم يدعى قدوساً للرب &#8221; (خر ١٣: ٢) والدعوة &#8221; قدوساً للرب &#8221; يراد بها الفرز لخدمة الرب الذى قدس لذاته كل بكر فى بنى اسرائيل من الناس ومن البهائم يوم ضرب كل بكر فى أرض مصر وفدى أبكار الاسرائيليين ، وعلى هذا الأساس فرز سبط لاوى موهوبين له للخدمة من بين بنى اسرائيل بدل أبكار اسرائيل قابل (خر١٢: ١٢-١٣) ، (عدد٨: ٥—٢٢) على أنه كان لابد من فداء يقبل لكل فاتح رحم من كل بشر ، يقدمونه للرب وفداؤه حسب تقديم الكاهن فضة خمسة شواقل على شاقل القدس هو عشرون حيرة أى نحو ٨٠ قرشاً وبهذه الفدية يُعفى بكر الانسان من خدمة الهيكل التى تكرس لها اللاويون قابل (عدد١٨: ١٥-١٦) .</p>
<ul>
<li>ان الختان فى العهد القديم كان علامة دخول الطفل فى عهد ابراهيم &#8221; هذا هو عهدى الذى تحفظونه 000 ابن ثمانية أيام يختن منكم كل ذكر فى أجيالكم ، فيكون عهدى فى لحمكم عهداً أبدياً وأما الذكر الأغلف الذى لا يختن فى لحم غرلته فتقطع تلك النفس من شعبها &#8221; (تك ١٧: ١٠)</li>
</ul>
<p>هكذا كان الختان فى العهد القديم وكان رمزاً الى المعمودية فى العهد الجديد ، لذلك قال الرسول بولس &#8221; ختان القلب بالروح لا بالكتاب هو الختان الذى مدحه ليس من الناس بل من الله &#8221; (رو ٢: ٢٩).</p>
<p>+  &#8221; أقام لنا قرن خلاص &#8221; :</p>
<p>القرن هنا كناية الى رب المجد يسوع الذى تنبأ داود النبى فقال &#8221; هناك أنبت قرنا لداود ، رتبت سراجاً لمسيحى &#8221; (مز ١٣٣: ١٦) وقال مفسر &#8221; شرح بشارة لوقا &#8221; انه جاء فى التلمود أنه توجد عشرة قرون : قرن ابراهيم ، وقرن اسحق ، وقرن يوسف ، وقرن موسى ، وقرن الناموس ، وقرن الكهنوت ، وقرن الهيكل ، وقرن اسرائيل ، وقرن داود ، وقرن المسيح الملك ، ويقول التلمود &#8221; ان هذه القرون كانت فى البداية على رأس اسرائيل الى أن وقع اسرائيل فى الخطية فخلصت عنه ورفعت من على رأسه وأعطيت للأمم &#8220;.</p>
<p>+  &#8221; خلاص من أعدائنا ومن أيدى مبغضينا &#8221; :</p>
<p>هنا يذكرنا زكريا عن الخلاص الكامل الشامل فيقول &#8221; خلاف من جميع أعدائنا : من الخطية ، ومن الشيطان ، ومن الناس الأشرار ، من جميع جيوش المقاومين ولدغات المعاندين &#8221; .</p>
<p>+ &#8221; بأحشاء رحمة الهنا التى بها افتقدنا المشرق من العلاء ليضىءعلى الجالسين فى الظلمة وظلال الموت لكى يهدى أقدامنا فى طريق السلام &#8220;.</p>
<p>وفى هذا حديث ذو شقين : حديث عن العالم المظلم &#8221; جالسون فى الظلمة وظلال الموت &#8221; وحديث عن يسوع نور العالم &#8221; ليضىء على الجالسين فى الظلمة &#8221; وهكذا تنبأ زكريا عن يسوع الذى قال بفمه الطاهر &#8221; أنا قد جئت نوراً للعالم حتى كل من يؤمن بى لا يمكث فى الظلمة &#8220;.</p>
<p>وطريق يسوع المنير طريق نحو الهداية والسلام &#8221; يهدى أقدامنا فى طريق السلام &#8221; أجل فهو ملك السلام ورئيس السلام الذى يمنح العالم سلاماً حين ينطرح عند قدميه ، أما الأشرار فلا سلام لهم ، اذ &#8221; بينما يقولون سلام ، سلام يباغتهم المهلك &#8220;<a href="#_ftn7" name="_ftnref7">[7]</a></p>
<h4>المتنيح القمص  تادرس البراموسي</h4>
<p>أن الرب قد عظم رحمته لها ففرحوا معها (لو١: ٥٧ – ٨٠)</p>
<p>كان الاحتفال بختان الطفل المولود في الأسرة اليهودية حدثاً هاماً أمر الله به في بداية أعداده لبنى إسرائيل وعاد وأمر به وأكده ثانية من خلال موسى النبى . ولا زال الختان سارياً إلى يومنا هذا . بين اليهود حيث تحتفل العائلة. والأصدقاء بدخول الطفل الذكر إلى عهد الله مع بنى إسرائيل وهذا الأمر حدث حتى مع السيد المسيح له المجد حيث ختن في اليوم الثامن لأنه مكتوب كل ذكر فاتح رحم يدعى قدوس أو يتقدس للرب . قبل ميلاد يوحنا وبعد بشارة الملاك لزكريا يتكلم مع أهله وأصحابه بالإشارة وبعد ولادة يوحنا أنطلق لسانه بعد عدة أشهر وعندما أرادوا تسمية الطفل طلب يوحنا وكتب يسمى يوحنا بعد ذلك أنطلق لسانه . أول كلمات زكريا بعد الصمت ابتدا يسبح الله ثم تنبأ بمجئ المخلص . الذى يخلص شعبه من خطاياهم ويحررهم من خطية أدم . كما تنبأ أيضاً عن يوحنا أبنه . الذى جاء ليعد الطريق أمام الرب يسوع . لقد تحققت كل هذه النبؤات فلا عجب أن يسبح زكريا ويمجد الله الذى أنعم عليه بأبن في شيخوخته وبعد اليأس . أسترجع زكريا مئات السنين . وذكر عظمة الله في التاريخ بدأ من أبينا إبراهيم والعهد مع الله. ذو القدرة غير المحدودة وأختار أن يعمل من خلال أناس ضعفاء . لى تكون القوة ليست منهم بل من الله الذى يعطى الجميع بسخاء  . ويضع سره في أضعف خلقه كان الختان في العهد القديم في الأمة اليهودية يشير إلى المعمودية في العهد الجديد وكان يتم في اليوم الثامن بعد ولادة الطفل وقد تمم الرب يسوع هذه الأمور حسب وضع الناموس . عندما أمتنع يوحنا أن يعمد المسيح . قال له الرب يسوع ينبغي لى أن أكمل كل بر فأراد الرب يسوع أن يلتزم حتى بالناموس لكى لا يكون عثرة للآخرين لأنهم كانوا يرون الختان هو طريق الكمال اليهودى والعهد مع الله . وقال الكتاب عن زكريا وزوجته . أن الرب قد عظم رحمته لهم ففرحوا معهم .</p>
<p><strong>العظةالأولى</strong></p>
<p>أ – لنستعد للوقت المعين</p>
<p>ب – نفرح مع الفرحين</p>
<p>ج – لا نأخذ بالاسم بل بالعمل</p>
<p>د – الاتفاق في الرأي يعمل المستحيل</p>
<p>ه - وحدة الصف وأتفاق المحبة</p>
<p>و – انتظار المواعيد وأتمام الوعد</p>
<p>ذ – العبادة بالبر والنقاوة وليس باللسان</p>
<p>ح – النبوة وأرضاء الله</p>
<p>ط – أعدوا الطريق ونحمل المشقات</p>
<p>ى – انتظار النور وانقشاع الظلام</p>
<p><strong>العظة الثانية</strong></p>
<p>أ – اشتراك الجميع في أفراحنا</p>
<p>ب – الأعلان بأعمال الله معنا</p>
<p>ج – المحبة للأله الواحد</p>
<p>د – الأهتمام بعطايا الله لنا</p>
<p>ه - الرب مع خائفيه والسالكين طرقه</p>
<p>و – كلمة الله وتدبير الإنسان</p>
<p>ذ – ليكن هدفاً مسيرة سلام</p>
<p>ح – عيشتنا مع الرب سماء تانية</p>
<p>ط – تمضى إلى البرية لنمتلئ ونختلى</p>
<p>ى – سكنى البرية وتحصيل الفضائل</p>
<p><strong>العظة الثالثة</strong></p>
<p>أ – ولادة وجيران وفرح</p>
<p>ب – تسمية ووحدة الصف</p>
<p>ج – تعجب وخوف وأعلان</p>
<p>د – مفاجأة وتسمية ونبوه</p>
<p>ه - صفاء وأمتلاء وبركة</p>
<p>و – خلاص ورحمة ووعود</p>
<p>ذ – عبادة وطهارة وتقديس</p>
<p>ح – أعداد ورحمة ومغفرة</p>
<p>ط – سلام ونمو وتقوى</p>
<p>ى – طهور وكرازة وسمو</p>
<h4>المتنيح الدكتور موريس تواضروس</h4>
<p>&#8221; میلاد يوحنا المعمدان &#8221;</p>
<p>ونتحدث فيه عن النقاط التالية :</p>
<p>١)الميلاد (لوقا١: ٥٧ – ٥٨)</p>
<p>٢ – الختان (لو ١: ٥٩)</p>
<p>٣- تسمية (يوحنا ١ : ٦٠ – ٦٦)</p>
<p>٤-نبوة زكريا (لوقا١ : ٦٧ – ٨٠)</p>
<p>١ – الميلاد</p>
<p>بالرغم من أن الحبل كان بأعجوبة إلا أن الميلاد تم طبيعاً أي عندما تم زمانها لتلد . ويذكرنا هذا بمواعيد الله ومراحمه إذ لا بد أن تتحقق ، ولكن في تمام الزمان المحدد من قبل الله والمناسب لا تمام المواعيد ويتحدث لوقا البشير عن الفرح الذي قوبل به میلاد يوحنا ، من الجيران والأقرباء ، ذلك لأن ميلاد رجال الله الصالحين له أثره الطيب ليس عند أهل المولود فقط ، ولكن يشترك في تلك أيضاً الآخرون . هذا هو الفرح المطوب الذي دل على الصلة الروحية السامية التي كانت بين اليصابات وجيرانها وأقربائها .ألسنا نحن جميعاً أعضاء في جسد  واحد ومن أجل ذلك يقول الرسول &#8221; إن كان عضو واحد يكرم فجميع الأعضاء تفرح معه (١ کو ۱۲ : ٢٦) بل لقد تكلم السيد المسيح نفسه عن هذا الفرح الممتد الذي يشترك فيه الأصدقاء والجيران إذ قد تحدث عن الانسان الذى فقد خروفه، إذ وجده وفرح به دعا أيضاً الاصدقاء والجيران قائلا &#8221; افرحوا معى لأني وجدت خروفي الضال لو ١٥ : : ٦:٥)</p>
<p>۲ - الختان</p>
<p>كان الختان يتم في اليوم الثامن للميلاد ويحسب في هذه المدة يوم الميلاد أيضاً أنظر (لا ١٢ : ٣ تك ٢١ : ٤) وكان يتم الختان عن طريق الأب أحيانا (تك ١٧: ٢٣) أو الأم أحيانا أخرى (خر٢٥:٤) وكان يتم دائماً بين العبرانيين وليس بين الأمميين . وكان عادة يسمى الصبى باسمه عقب الختان كما أرادوا هنا تسمية الصبى عقب ختانه باسم زكريا أبيه .</p>
<p>۳ – تسمية يوحنا بأسمه</p>
<p>رفضت اليصابات أن يسمى الصبى باسم أبيه زكريا وعينت له اسم يوحنا و ليس من شك أن اليصابات لم تختر هذا الاسم من نفسها ولكنها أرشدت إليه بواسطة الروح القدس وليس من الصواب القول بأن زكريا نفسه كان قد أعلن لها ، إذ لو كان الأمر كذلك لما كان هناك ما يدعو لسؤال زكريا عن اسم الصبى للمرة الثانية  أن اتفاق زكريا مع اليصابات في نفس الاسم دليل على أن الأمر كان من قبل الله . غير أن الأهل والأقرباء لم يوافقوا أولا على هذه التسمية وكان وجه اعتراضهم على اليصابات قولهم ( ليس أحد في عشيرتك يدعى بهذا الإسم ) وهذا يعني أن العادة قد جرت على أن يأخذ الإبن اسم أبيه أو إسم أحد أقربائه ويلاحظ ان الطريقة التي اتبعت في سؤال زكريا عن الاسم الذي يرى اختياره لإبنه . &#8220;أومأوا إليه &#8221; دليل على ان زكريا لم يكن قادراً على السمع وكذلك طلبوا لوحا اكتب عليه دليل على انه كان أخرس لا يقوى على الكلام وقد كان هذا نتيجة لعدم تصديقه البشارة بميلاد يوحنا كما وضح سابقاً ، على ان زكريا بمجرد ان فتح فمه و لسانه تكلم مباركا الله ولم يتزمر من العقاب الذي أوقعه الله عليه إذ ظل تسعة أشهر لا يقوى على الكلام او السمع .ان الله عند ما يفتح أفواهنا للكلام يجب ان يكون أول شيء نقدمه هو التمجيد والشكر لإسمه القدوس .</p>
<p>٤ – نبوة زکریا</p>
<p>كانت نبوة زكريا تتضمن الحديث عن السيد المسيح وعن يوحنا المعمدان</p>
<p>أولا - نبوة زكريا عن السيد المسيح (لو١ : ٦٨ – ٧٥) . ويمكن تقسيمها إلى ثلاثة أقسام :</p>
<p>أ- القسم الأول ويشمل عددی ٦٨ ، ٦٩</p>
<p>ب  القسم الثاني و يشمل الاعداد  ٧٠، ٧١ ،٧٢</p>
<p>ج  القسم الثالث ويشمل الاعداد ٧٣، ٧٤ ، ٧٥</p>
<p><strong>١- القسم الأول من نبوة ذكريا عن السيد المسيح</strong></p>
<p>تتكلم النبوة هنا عن تجسد السيد المسيح وعن البركات التي ستتم نتيجة هذا التجسد ويلاحظ ان عبارة &#8221; مبارك الرب إله اسرائيل وردت أيضاً في (مزمور ٤١: ١٤ : ٧٢ : ١٨ - ١٠٦ : ٤٨) و لكن لماذا يقول إله إسرائيل فيخص بذلك إسرائيل دون غيره من الأمم ، ، ذلك لا يقصد منه ان الله هو إله إسرائيل دون غيره بل نسب الله هذا لإسرائيل لأن اسرائيل هو الشعب الوحيد من بين شعوب العالم الذي كان قد عرف الرب وعبده ، وأقام الله معه عهوده على يد ابراهيم وموسى النبي ، وإلى عهد هذه النبوة كان اسرائيل هو وحده الشعب الذي أعطيت له النبوات والوعد بمجىء المخلص و لكن اسرائيل هنا يمثل الشعب الذي اختار الله له إلها ، ومن أجل ذلك فبركات الخلاص هي ليست لإسرائيل وحده بل ولجميع الأمم والشعوب التي تعرف الله و تعبده و تختاره لها الإله الوحيد .</p>
<p>ويتحدث هنا أيضاً عن الافتقاد الذي صنعه الله مع شعبه أي بعد زمان عاد الله مرة أخرى يذكر شعبه ، والافتقاد قد یعنی تدخل الله لادانة شعبه أنظر (مز ۲۹ : ۳۲) وقد يفتقد الله شعبه ليهبه الحرية ( قال الله لموسى اذهب واجمع شيوخ اسرائيل وقل لهم : الرب إله أبائكم إله ابراهيم واسحق و بعقوب ظهر لي قائلا ، انى قد افتقدتكم وما صنع بكم في مصر ) (خر ٣ : ١٦) . فآمن الشعب ولما سمعوا أن الرب افتقد بنى اسرائيل وانه نظر مذلتهم ، خروا وسجدوا (خر ٤ : ٣١) . وقد يفتقد الله شعبه ليسلم حاجته (را ١ : ٦) أما هنا فان الله نفسه بتجسده افتقد شعبه ليهبه الخلاص إذ تقول النبوة &#8220;افتقد وصنع فداء لشعبه وأقام لنا قرن خلاص من بيت داؤد فتاه &#8220;..</p>
<p><strong>ب القسم الثاني</strong></p>
<p>يبين هنا زكريا أن أفتقاد الله لشعبه سبق و تكلم عنه الأنبياء ، ويلاحظ أن لوقا يستعمل كلمة &#8221; فم &#8221; في حالة المفرد بالرغم من أنه يشير بها إلى أكثر من نبى والأمر واضح من أن لوقا أراد أن يبين أن الأنبياء جميعاً يتكلمون من مصدر واحد وهو الله . فعبر عن هذه الوحدة في المصدر بالوحدة في المخبر . ومن هذه الوعود بمجىء المخلص ما قاله الرب على لسان داؤد النبى &#8221; أما رحمتي فلا أنزعها ولا أكذب من جهة أمانتي ، لا أنقض عهدى ولا أغير ماخرج من شفتى ، مرة حلفت بقدسي أنى لا أكذب لداؤد نسله إلى الدهر يكون وكرسيه كالشمس أمامي مثل القمر يثبت إلى الدهر والشاهد في السماء أمين &#8221;  (مز ۸۹ : ٣٣ – ٢٧) أنظر أيضاً (تك ١٥ : ۱۷) –(خر ٢٤ : ٧-٨) (لا ٢٦ : ٤٢) .</p>
<p><strong>ج  القسم الثالث</strong></p>
<p>بطهارة وبر قدامه جميع أيامنا &#8221; (لو١ : ٧٣ – ٧٥ )</p>
<p>ثانياً  نبوة زكريا عن يوحنا المعمدان &#8220;(لوا : ٧٦ – ۷) .</p>
<p>ويمكن تقسيمها إلى قسمين :</p>
<p>ا  القسم الأول ويشمل عددى ٧٦ ، ٧٧</p>
<p>ب- القسم الثانى ويشمل عددی ۷۸ ، ۰۷۹</p>
<p>أ - القسم الأول من نبوة زكريا عن يوحنا المعمدان</p>
<p>يلاحظ هنا أن زكريا يخاطب إبنه كنبي أي لم يخاطبه بنسبة صلته به كابن له فهولم يقل له &#8221; يا صبى &#8221; فزكريا ينظر إلى يوحنا باعتبار المهمة التي من أجلها أرسل &#8220;نبى العلى تدعى ، أن صلة يوحنا بالمسيح كانت أقرب من صلة يوحنا بأبيه فلم يولد يوحنا ليكون إبنا لزكريا ولكنه ولد لأن يتقدم أمام الرب ويعد طرقه ، وكلمة&#8221;طرقه&#8221; ذكرت هنا كما هو واضح في حالة الجمع فلم يقل ، ويعد , طريقه ، وهذا إشارة إلى ان السيد المسيح قد جاء لكل فرد منا ، فبالرغم من أن رسالة الخلاص رسالة عامة فهى أيضاً رسالة خاصة لكل شخص فينا ، ولكل منا طريقه الخاص الذي يربطه بالسيد المسيح ، ولكن كيف يعد يوحنا طرق الرب ؟ سيعرف يوحنا الشعب أن الخلاص أمر لا يتوقف على نجاح الأحوال السياسية أو الاجتماعية ليس هو أمر يتعلق بانسان أو نظام ولكن أمر يرتبط &#8220;بمغفرة الخطايا &#8221; ان المغفره هي أساس &#8220;الخلاص &#8221; ان المسيح لم يأت للعالم فقط ليعلمنا كيف نعيش أو ليقوم بمهمة تفسير مسائل الحياة الغامضة العسيرة أو ليكشف لنا سر وجودنا ومصيرنا ولكنه جاء قبل كل هذا ليهبنا الغفران والخلاص من خطايانا ، كذلك لم يكن المسيح مجرد فرد من أفراد البشر ولكنه كان في مجيئه وحياته يمثل الانسانية جميعها ، كانت أقواله وأعماله هى أقوال وأعمال الانسانية جميعها في شخصه ومن أجل ذلك فان بركات مجيئه عامة شملت الانسانية في ماضيها وحاضرها ومستقبلها .</p>
<p>ب  القسم الثانى</p>
<p>&#8221; لتمد أوضحت النبوة هنا أن مغفرة الخطايا أمر لا يتعلق باستحقاقات أعمال برعملناها هنا نحن بل بأحشاء رحمة إلهنا ،يوحنا إذا سيكون بشيراً برحمة السماء التي تداركت الأرض ، ولقد ربط هنا فعل الرحمة - بالاحشاء ، لأن الاحشاء تعتبر في الكتاب المقدس مركزاً للعواطف ، يقول بولس الرسول , فالبسوا كمختاری الله القديسين المحبوبين أحشاء رأفات لطفاً وتواضعاً ووداعة وطول أناة ، (كو ٣ : ١٢) والبشارة بالخلاص لا تؤكد فقط أن الخطايا &#8220;ستغفر&#8221; لنا ، ولكن هذا الغفران يصحبه نور يضيء على الجالسين في الظلمة والذي به نستطيع أن نستطلع طريق السلام فتوجه خطواتنا نحوه . والمسيح يشرق علينا من العلاء لأنه هو كوكب الصبح المنير (رؤ  ٢٢ : ١٦).. شمس البر والشفاء في أجنحتها , (ملا ٤ : ٢)هو النور الذي جاء إلى العالم .(يو ١٩:٣) وكما يبعث نور الشمس الحياة في الكون ويكون نهاية لفترة الرقاد وبداية لحياة العمل ، هكذا فان مجيء السيد المسيح نهاية لظلام الخطيئة وبداية لحياه البر . فاصلا بين طريق العداوة وطريق السلام , أنظر (مز ۲۹ : ۱۱)<a href="#_ftn8" name="_ftnref8">[8]</a> .</p>
<h3>من وحي قراءات اليوم</h3>
<p>&#8221; وسمع جيرانها وأقرباؤها أن الرب عظم رحمته لها ففرحوا معها &#8221; (لو٥٨:١)</p>
<p>المشاركة القلبية تختلف عن المجاملات ( لاأقلل من المجاملات)</p>
<p>المجاملات تنحصر في الواجب أما المشاركة تفكر في الإحتياجات</p>
<p>أحيانا يحتاج الإنسان في وقت الفرح أو الحزن للمسات محبة عملية بسيطة أفضل من شكل خارجي كبير</p>
<p>مشاركة الآخرين أفراحهم من القلب تكون أحياناً قبولاً داخلياً أن يكونوا أفضل وأكثر نجاحاً منا</p>
<p>لذلك تكون دليلاً أعمق علي صدق المحبّة التي تفرح بما هو للآخرين</p>
<p>الفرح اللي يِتْقِسم يزيد والحزن اللي يتقسم يقل</p>
<p>لايحتاج المجربين بضيقات إلي وعاظ بل إلي إحساس بشر</p>
<p>أحيانا يسبب رد فعل المحيطين بالمجربين جرح أكبر مما سببته التجربة ذاتها</p>
<p>أخطر وأسوأ مانقدمة للمجربين المثاليات والكلام المحفوظ</p>
<p>إذا جلست ثلاث دقائق مع نفسك قبل تعزية إنسان متخيلا أن ماحدث له حدث لك ( لاسمح الله ) يمكن أن يغير كثيرا في الكلام</p>
<h3>المراجع:</h3>
<p><a href="#_ftnref1" name="_ftn1"></a>١- القديس امبروسيوس اسقف ميلانو  - ش- شرح وتفسير آباء الكنيسة لأناجيل آحاد السنة التوتية - شهر كيهك - دكتور جوزيف موريس فلتس</p>
<p><a href="#_ftnref2" name="_ftn2"></a>٢- القديس افرام السرياني - شرح وتفسير آباء الكنيسة لأناجيل آحاد السنة التوتية - شهر كيهك - دكتور جوزيف موريس فلتس</p>
<p><a href="#_ftnref3" name="_ftn3"></a>٣- ترجمة الأخت ايفيت منير - كنيسة مار مرقس ببني سويف</p>
<p>JR, A. J. &amp; Oden, T.C. ( 2003 ). Luke (The Ancient Christian Commentary on Scripture,      New testament part III ). Illinois ( USA ) : InterVarsity press. Page 28</p>
<p><a href="#_ftnref4" name="_ftn4"></a>٤- تفسير إنجيل لوقا للقديس كيرلس الإسكندري - ترجمة دكتور نصحي عبد الشهيد</p>
<p><a href="#_ftnref5" name="_ftn5"></a>٥- المرجع : كتاب شرح وتفسير آباء الكنيسة لأناجيل آحاد السنة التوتية ( شهر كيهك ) - إشراف ومراجعة دكتور جوزيف موريس فلتس</p>
<p><a href="#_ftnref6" name="_ftn6"></a>٦- المرجع : كتاب من مجد إلي مجد للقديس غريغوريوس النيسي (صفحة ١٣١ ) - ترجمة القمص إشعياء ميخائيل</p>
<p><a href="#_ftnref7" name="_ftn7"></a>٧- المرجع كتاب المواعظ النموذجية النموذجية الجزء الثاني</p>
<p><a href="#_ftnref8" name="_ftn8"></a>٨- دکتور موريس تاوضروس</p>
<p>المرجع : مجلة مدارس الأحد عدد إكتوبر لسنة ١٩٦٠</p>

      {% endcreateArticleAccordions %}
    </section>
  {% endblock %}
