---
layout: 'layouts/reading.html'
title: 'الأحد الأول من طوبة'
tags: 'sundays'
permalink: /articles/sundays/5-1.html
---
  {% block content %}
    <section id="readings">
      <ul>
      {% if 'undefined' != 'undefined' %}
      
      {% else %}
      {% if '19.47:1-2' != 'null' %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">العشية</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeVespers '19.47:1-2' '42.4:40-44' %}
          </div>
        </div>
      </li>
      {% endif %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">باكر</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeMatins '19.93:1-2' '42.4:31-37' '' %}
          </div>
        </div>
      </li>
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <h3 class="flex items-center justify-between">
            <span class="kufi">القداس</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </h3>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeLitugy '45.15:4-19' '62.3:1-11' '44.14:24-28*@+44.15:1-3' '19.98:2-3' '40.2:13-23' %}
          </div>
        </div>
      </li>

      {% endif %}
        </ul>
    </section>
    <section id="article">
      <h3 class="mt-8 mb-4 heading-explain">شرح القراءات</h3>
      {% createArticleAccordions %}
        <p>&#8221; وحي من جهة مصر: هوذا الرب راكب على سحابة سريعة وقادم إلى مصر، فترتجف أوثان مصر من وجهه، ويذوب قلب مصر داخلها &#8230;.  مبارك شعبي مصر &#8221; (أش ١:١٩- ٢٥)</p>
<p>&#8221; وأمة لم تعرفك تركض إليك &#8221; (أش ٥:٥٥)</p>
<p>&#8221; الله الممجد في مشورة القديسين الجالس علي الشاروبيم رؤي في إقليم مصر &#8230; عتيق الأيام الذي تسبحه الملائكة جاء اليوم إلي اقليم مصر لكي يخلصنا نحن شعبه &#8221;</p>
<p>ذكصولوجية دخول السيد المسيح أرض مصر</p>
<p>&#8221; هلمّوا إلى برّيّة مصر لتروها أفضل من كل فردوس! ربوات من الطغمات الملائكيّة في شكل بشري، وشعوب من الشهداء، وجماعات من البتوليّين&#8230; لقد تهدّم طغيان الشيطان، وأشرق ملكوت المسيح ببهائه<a href="#_ftn1" name="_ftnref1">[1]</a>! &#8221;</p>
<h3>  ملاحظات علي قراءات اليوم</h3>
<p>+ قراءة إنجيل قداس اليوم (مت٢ : ١٣-٢٣ ) هي نفس قراءة إنجيل قداس يوم ٣ طوبه ( شهادة أطفال بيت لحم ) ، إنجيل قدَّاس</p>
<p>يوم ٢٤ بشنس ( تذكار مجئ الرب إلي أرض مصر )  ، لأن هذه القراءة تتكلم عن قتل أطفال بيت لحم (تذكار شهادة أطفال بيت لحم موضوع قراءة اليوم ) ، وأيضاً عن هروب العائلة المُقدَّسة إلي أرض مصر (الأحد الأوَّل من طوبي وإيمان الأمم ، هروب العائلة المُقدَّسة إلي مصر في ٢٤ بشنس)</p>
<h3>شرح القراءات</h3>
<p>تدور قراءات هذا اليوم علي قبول الأمم وأن مولود بيت لحم هو رجاء كل البشرية</p>
<p>لذلك يبدأ مزمور عشية بدعوة الأمم كلها علي إختلاف أماكنها وأجناسها للإبتهاج والفرح لظهور ملك كل الأرض &#8221;  ياجميع الأمم صفقوا بأيديكم هللوا لله بصوت الإبتهاج &#8230; ملك عظيم علي كافة الأرض &#8221;</p>
<p>ويوضح مزمور باكر ماهي صفات هذا الملك فهو ملك مهوب أزلي وعظيم في قوته  &#8221; الرب قد ملك ولبس الجلال لبس الرب القوة وتمنطق بها &#8230;. وانت هو منذ الأزل &#8221;</p>
<p>لذلك يعلن مزمور القداس بوضوح رسالة مولود بيت لحم لكل العالم الوثني في ذلك الوقت &#8221; أعلن الرب خلاصه قدام الوثنيين وكشف عدله لهم &#8221;</p>
<p>أما إنجيل عشية فيكشف سقوط مملكة الشيطان وبداية نهاية قوته وسلطانه علي الإنسان &#8221; وكانت أيضا شياطين تخرج من كثيرين &#8221; كما يوضح إتساع الكرازة والبشارة بالملكوت للكل &#8221; فقال لهم إنه ينبغي لي أن أبشر في المدن الأخر بملكوت الله &#8221;</p>
<p>كما يوضح إنجيل باكر مدي رعب إبليس من سلطانه &#8221; مالنا ولك يايسوع الناصري أتيت لتهلكنا &#8230;. فانتهره يسوع قائلا : اخرس واخرج منه فصرعه الشيطان في الوسط وخرج منه ولم يؤلمه شئ &#8230;.. ماهذا الكلام لأنه بسلطان وقوة يأمر الأرواح النجسة فتخرج &#8221;</p>
<p>أما البولس فيعلن فيه القديس بولس بوضوح خدمته للأمم وأن النعمة أعطيت له من الله لأجل هذا الهدف لأجل إيمان الأمم &#8221; بسبب النعمة التي أعطيت لي من الله حتي أكون خادما ليسوع المسيح لدي الوثنيين &#8230; ليكون قربان الأمم مقبولا مقدسا بالروح القدس &#8230; لأجل إطاعة الأمم بالقول والفعل &#8221;</p>
<p>كما يؤكد أن قبول الأمم شهد لها الأنبياء &#8221; كما هو مكتوب : من أجل ذلك سأعترف بك يارب بين الوثنيين &#8230; وأيضا يقول أشعياء : سيكون أصل يسي والقائم ليقود الأمم علي اسمه سيكون رجاء الأمم &#8221;</p>
<p>كما تكررت كلمة الأمم ستة مرات وكلمة الوثنيين ثلاث مرات</p>
<p>بينما يؤكد الكاثوليكون أن إحدي أهداف الظهور الإلهي هو نقض أعمال الشيطان &#8221; لأجل هذا أظهر إبن الله لكي ينقض أعمال الشيطان &#8221;</p>
<p>ويعلن أيضا دوام ظهوره الإلهي بين البشر خلالنا وفي حياة كل مسيحي &#8221; بهذا أولاد الله ظاهرون وأولاد الشيطان &#8221;</p>
<p>أما الإبركسيس يقدم فيه القديسين برنابا وبولس تقريرا عن الباب المفتوح للأمم وقبولهم الإيمان كما يعلن فرحه الكنيسة كلها برجوعهم &#8221; ولما حضرا - برنابا وبولس - وجمعا الكنيسة أخبرا بكل ماصنع الله معهما وأنه فتح للوثنيين باب الإيمان &#8230;. اجتازوا في فينيقية والسامرة يخبرونهم برجوع الوثنيين وكانوا يصنعون سرورا عظيما لجميع الإخوة &#8221;</p>
<p>أخيرا يختم إنجيل القداس بهروب العائلة المقدسة إلي مصر حسب التدبير الإلهي لتكون مصر باكورة الأمم ولتمتلئ مصر بغني حضور إبن الله إليها ولتكتمل شهادة الأنبياء مبارك شعبي مصر &#8221; قم وخذ الصبي وأمه واهرب الي مصر &#8230;. لكي يتم ماقيل من الرب بالنبي القائل : من مصر دعوت ابني &#8221;</p>
<h3>ملخص قراءات اليوم</h3>
<p>مجئ الكلمة المتجسد وظهوره الإلهي شمل كل الأمم وفرحت به كل الشعوب وتهللت بخلاصه   ( مزمور عشية وباكر والقداس )</p>
<p>وبمجيئه بطل سلطان الشيطان علي الناس                                                        ( إنجيل عشية وباكر والكاثوليكون )</p>
<p>وأعلنت الكنيسة الأولي هذه البشارة المفرحة في خدمة قديسيها برنابا وبولس            ( البولس والإبركسيس )</p>
<p>وكانت مصر هي بكر الأمم التي أعلن فيها إبن الله مجد ظهوره الإلهي                           ( إنجيل القدَّاس )</p>
<h3>عظة مقترحة</h3>
<p><strong>(١) ظهور ابن الله للأمم</strong></p>
<p>١- الفرح الدائم والقلب المُبتهج بالله وتسبيحه علي الدوام</p>
<p>&#8221; يا جميع الأمم صفقوا بأيديكم هللوا لله بصوت الابتهاج &#8221; مزمور عشيّة</p>
<p>٢- إستعلان رجاء كل البشر في شخص ابن الله والرجاء الذي ملأهم من كل فرح وسرور وقوّة</p>
<p>&#8221; علي اسمه سيكون رجاء الأمم وليملأكم إله الرجاء من كل فرح وسلام عندما تؤمنون وتزدادون في الرجاء بقوة الروح القدس&#8221;   البولس</p>
<p>٣- ظهور ابن الله جعلنا مُتشبِّهين به وصار سر تطهيرنا وتبريرنا وتجديدنا فيه</p>
<p>&#8221; ولكن نعلم أنه إذا أظهر نكون مثله لأننا سنراه كما هو وكل من عنده هذا الرجاء به يطهر نفسه كما أن ذاك طاهر &#8221;  الكاثوليكون</p>
<p>٤- ظهوره الإلهي أعطانا النصرة علي الشيطان وكل أعماله</p>
<p>&#8221; لأجل هذا أظهر ابن الله لكي ينقض أعمال الشيطان &#8221;     الكاثوليكون</p>
<p>٥- إرسالية خدّام الله وكل مسيحي للكرازة بظهوره الإلهي</p>
<p>&#8221; فقال لهم إنه ينبغي لي أن أبشر في المدن الأخر بملكوت الله &#8221; إنجيل عشيّة</p>
<p><strong>(٢)  التدبير الالهي في الضيقات</strong></p>
<p>١- امور الله غير المدركه</p>
<p>لماذا يسمح الله بقتل اطفال ابرياء ؟&#8230;..هل كانت تعرف امهاتهم ان سبب قتل ابناءهم الرضع ولاده ملك السلام؟&#8230;هل كانت هذه هي المسره التي انشدت لها الملائكه؟</p>
<p>اسئله كثيره عند كل واحد منا والبعض منها لا تناسبه اي اجابات لان بعض تدبيرات الله &#8221; فوق ادراكنا البشري &#8221; ولانجد احيانا كثيره ما يشفي غليلنا العقلي ولكن ثقتنا في محبه الله وابوته تجعلنا نسلم له كل حياتنا ونقبل كل تدبيراته حتي ولو كانت فوق عقلنا واستيعابنا.</p>
<p>٢- الضيقه المثمره بركات والجافي الذي يخرج منه الحلاوه</p>
<p>من كان يعرف ان شر هيرودس الملك وحربه الشديد علي مولود بيت لحم سيغمر مصر ببركات لاحصر لها مازلنا الي الان نعيش من غني هذه الزياره المقدسه والتي جعلت تراب مصر مقدسا وخبزات مصر تشبع جموعها وصحراءها بصلوات ناسكيها اجمل من كل فراديس العالم.</p>
<p>٣- الصمت الالهي</p>
<p>كيف يكون صمت الابرار بحكمه امام هياج الاشرار اقوي من جبروت العالم وعنفوانه وكيف ينتصر الهارب علي المطارد له ويزداد خوف الملك امام طفل رضيع.</p>
<p><strong>(٣) لماذا الهروب إلي مصر</strong></p>
<p>١- مصر أرض الملجأ</p>
<p>كما كانت لأبونا ابراهيم (تك ١٢ : ١٠) وأبونا يعقوب وأولاده (تك ٤٦ : ٧) ولشعب الله أربع مئة سنة</p>
<p>٢- لتكون أرض البركة</p>
<p>كان يمكن أن تلجأ العائلة المُقدَّسة لبلاد مُحيطة مثل الأردن ولبنان وسوريا ولكن إختار التدبير الإلهي بلد تبعد مسافة ٢٠٠٠ كيلو متر وسفر إثني عشر يوما في طرق شاقة خطرة ليُعطي البركة لمصر علي مر الأزمان</p>
<p>٣- ليرسم لنا مبدأ ومنهج الهروب من الشر حتي لو إقتضي المعاناة والتعب في سبيل عدم مواجهه الشر بالشر</p>
<p>٤- ليتمم النبوّات</p>
<p>هوذا الرب قادم بسحابة سريعة وآتياً إلي مصر &#8230;في ذلك اليوم يكون مذبح للرب في وسط أرض مصر</p>
<p>من مصر دعوت ابني</p>
<h3>عظات آبائية</h3>
<h4>عظة في هرب المسيح الي مصر للقديس يوحنا ذهبي الفم :</h4>
<p>١- فكيف يقول لنا لوقا ان الصبي كان مضطجعا في المذود ؟ لأن أمه على أثر ولادته أضجعته فيه . فانه لما كان جمهور كبير من اليهود يتواردون للاكتتاب لم يكن في الوسع وجود بیت . وهي لم تكد تبلغ بيت لحم حتى وضعت ابنها . وقد ألمع لوقا إلى ذلك قائلا : « وأضجعته في مذود لأنه لم يكن لها موضع في المنزل ، (لوقا٧:٢) . ثم أخذته وجعلته على ركبتيها . لتعلم أن في هذا أيضا التدبير الإلهي كله وان ذلك لم يحدث صدفة و بدون غاية بل كل شيء تم بعناية الهية ووفقا للنظام الذي أخبر عنه الأنبياء .</p>
<p>وإلا فما الذي حفز المجوس إلى السجود قدام الصبي . فلا العذراء كانت شائعة الذكر ولا كان البيت شهيرة ، ولا كان شيء آخر من شأنه أن يدهش الناظرين ويجذبهم إليه . وهؤلاء لم يسجدوا فحسب بل أيضا فتحوا كنوزهم وقدموا هدایا ، لا لإنسان بل لاله ، لأن اللبان والمر كانا رمزي الألوهة . فما الذي حفزهم إذا ؟ هو ما أعدهم لمغادرة بلادهم والقيام برحلة شاقة ، هو ذاك النجم وذلك النور الذي أمد الله به عقولهم والذي كان يقودهم قليلا فقليلا إلى المعرفة التامة ، وإلا لما أبدوا اكراماً بهذا المقدار عظيماً في حين أن كل الأمور كانت تبدو لهم وضيعة .</p>
<p>فانه لم يكن هنالك شيء محسوس له شأن سوی مذود وكوخ وأم فقيرة تعتمد عليه فلسفة المجوس الحقة وتقنعهم أنهم يتقدمون إلى الصبي لا كأنه إنسان بسيط بل كإله ومحسن . لذلك لم يشككوا في شيء من الأشياء الظاهرة هنالك بل بالحري كانوا يسجدون ويقدمون تقادم خالية من غلاظة تقادم اليهود . فلم يذبحوا خرفانا وثيرانا ، بل الفلسفة المسيحية هي التي كانت تقرب تلك التقادم لأنهم قربوا اعتراف وطاعة ومحبة . ثم وأوحي إليهم في الحلم أن لا يرجعوا إلى هيرودس فرجعوا في طريق أخرى إلى بلادهم .. تأمل قوة إيمانهم كيف لم يشككوا بل كيف كان في خلقهم لين ودماثة .</p>
<p>لم يقلقوا ولم يقل بعضهم البعض : إذا كان هذا الصبي ذا شأن عظيم وله بعض السلطة فلماذا يلجأ إلى الهرب والرحيل سراً؟ ولماذا يخرجنا الملاك من المدينة كشاردین وتائهين مع أننا قدمنا علانية ووقفنا جرأة أمام شعب عظيم وملك أحمق ؟ لا لم يقولوا شيئا ولا خطر لهم ما يماثل ذلك . لأن علامة الثقة الخاصة هي العمل بالأوامر دون بحث عن تبعاتها .</p>
<p>&#8220;ولما انصرفوا إذا ملاك الرب تراءى ليوسف في الحلم قائلا قم فخذ الصبي وأمه واهرب إلى مصر &#8220;. تعترضنا هنا صعوبة تتصل بالمجوس والصبي . أن المجوس لم يقلقوا بل تقبلوا كل شيء بإيمان . فيجدر بنا هنا أن نتساءل : بما أن المجوس كانوا حاضرين فلماذا لم ينقذوا الصبي بل عادوا هم إلى بلادهم ، ورحل هذا مع أمه إلى مصر ؟ لكن ماذا ؟ أكان يلزم أن يقع بين يدي هيرودس ولا يجهز عليه وهو أسيره ؟ إذن لما تمثل في النفس انه اتخذ جسدا حقيقيا ، ولما ثبتت حقيقة التجسد .</p>
<p>لأنه إذا اجترأ قوم أن يذهبوا إلى أن تجسد المخلص لم يكن سوى خرافة بعد تلك الحوادث ، ومع أفعال شتی تدبرت بنوع بشري ، فأين يبلغ بهم الكفر لو فعل كل شيء بصفته إلها وبحسب قدرته. ان الله عجل أن يخرج المجوس أولا ليعودوا إلى بلادهم ليذيعوا ما شاهدوا ويتلافي هو غضب الطاغية ، فيعلم هذا انه يقدم على أعمال لا قبل له على إتمامها ، وتحمد نيران غضبه فينثني عن عزمه الباطل ، فان الله قادر ليس فقط ينتصر على أعدائه بالقوة ، بل أيضا أن يخدعهم بسهولة .</p>
<p>على هذا النحو خدع المصريين لخير اليهود حينما كان بوسعه أن ينقل ثروتهم إلى اليهود جهراً . لكنه شاء أن يتم هذا الأمر بالخفاء ، الشيء الذي لم يجعله أقل مهابة عند أعدائه من سائر عجائبه .</p>
<p>۲ - إن أهل أشقالون وغيرهم ، لما وضعوا أيديهم على التابوت فضربهم الله،كانوا يحضون سكان نواحيهم على أن لا يحاربوا أخصامهم ولا يقاوموهم جاعلين هذه الأعجوبة إلى جانب سائر الأعاجيب فقالوا : &#8220;ولماذا تقسون قلوبكم كما قسي المصريون وفرعون قلوبهم ؟ أليس انه بعد إن شفی منهم غليله حلوا سبيلهم فانطلقوا&#8221; ( ۱ ملوك ٦ : ٦ ) .</p>
<p>فكانوا يقولون هذا لتبیان قدرة الله وعظمته ، معتقدين أن هذه الأعجوبة لا تقل عن سائر الأعاجيب التي صنعت جهراً. الأمر الذي وقع هنا أيضا والذي كان من شأنه أن يروع الطاغية. فتأمل ما كان أشد امتعاض هيرودس وأية حزازة أحس بها في قلبه حينما رأى نفسه قد خدع وهزئ به . لكن ما الفائدة إن لم يصلح نفسه .</p>
<p>ليس الذنب ذنب من دبر هذه الأمور ، إنما الذنب كله على ذلك الذي لم يذعن إلى هذا الدافع الخلاصي وأبی حمقه إلا أن ينبذ المعونة التي كان من شأنها أن تغريه وتنشله من قاع فساده فاندفع في طريق الشر لينال عقابا عن حمقه شديدا أليماً.</p>
<p>وقائل لماذا أرسل الصبي إلى مصر ؟ لم يلبث الإنجيلي أن قال لنا السبب &#8220;لتتم الكلمة القائلة : من مصر دعوت ابني &#8221; (هوشع ۱:۱۱ ) . وقد كان إرسال الصبي إلى مصر ، والمجوس إلى بلاد فارس ، مقدمة تبشر المسكونة بأمان طيبة . لأن بابل ومصر كانتا تصطليان بنار الكفر أكثر من كل بقعة في الأرض ، فأعلن المسيح منذ البدء أنه سيصلحهما كليهما ، ويحسن اخلائهما، وبهما يحقق الخير المنتظر للعالم كله . لأجل هذا السبب أرسل المجوس ،وهبط هو مع أمه الي مصر. ومما قلناه يمكننا أن نحصل أدباً آخر من شأنه أن يرقي بنا إلى فلسفة غير ضئيلة . وما هو هذا الأدب ؟ هو توقع المحن والمكايد منذ البداية .</p>
<p>دقق النظر فيما جرى للمسيح إذ كان في اللفائف . لأنه حينما ؤلد ثار ثائر طاغية ، وحدث هرب وانتقال إلى خارج الحدود ، وأمه نفيت إلى بلاد البرابرة دون ما ذنب . دقق النظر في هذا حتى إذا ما سمعت ذلك ، وكنت مكلفاً خدمة روحية ، ثم اعترضتك عقبات كاداء ، وتحملت أخطار شتی ، لا تقلق ولا تقل ما هذا . كان يلزم أن أكلل ويشاد بذكري وأن أكون لامعاً وطائر الشهرة ، لأني أقوم بعمل إلهي . تمثل بالمسيح وأمه ، واحتمل بصدر رحب ، واعلم أن خدمة الأعمال الروحية نصيبها المحن التي تلازمها في كل مكان .</p>
<p>ثم لاحظ أن ذلك لم يحدث لأم الصبي وحدها بل حدث كذلك لأولئك البرابرة . فأما هؤلاء فقد انطلقوا خلسة منسحبين بنظام ، وأما مريم التي ما غادرت قط منزلها ، فقد اضطرت أن تعاني سفراً طويلا شاقا لسبب واحد هو أنها وضعت صبيا عجيبا . تأمل كذلك هذا الأمر المدهش أن فلسطين تتآمر عليه بينما مصر تتلقاه وتجعله ينجي من الأخطار .</p>
<p>لا تلاحظ الصور والرموز في أبناء يعقوب فقط وإنما تلاحظ أيضا في السيد الرب . إن ما حدث نظرة إليه وأخبر به عنه يمثل أشياء كثيرة قد تمت فيما بعد. مثال ذلك الأتان والجحش ، وكذلك الملاك لا يخاطب مريم وإنما يخاطب يوسف . وما يقول ؟ &#8220;قم فخذ الصبي وأمه&#8221;(متی٢٠:١) فلا يضيف هنا : « امرأتك ، وإنما قال : &#8220;وأمه&#8221; ، فيما أن الولادة تمت ، وانتفى الريب ، وأشرق في الرجل نور اليقين ، يتكلم الملاك بصراحة . فلا الصبي ولا أمه يخصان يوسف &#8220;خذ الصبي وأمه واهرب إلى مصر &#8220;. ثم يدلي بسبب الهرب قائلا : &#8220;لأن هيرودس مزمع أن يطلب نفس الصبي&#8221; .</p>
<p>٣-لم يشكك يوسف سماع هذا الكلام ، ولم يقل ان هذا الأمر من الأحاجي .قد قلت لي &#8220;سيخلص شعبه &#8220;(متی٢٢:١) . وها هو الآن لا يستطيع أن يخلص نفسه،وها نحن مضطرون إلى الهرب والرحيل إلى بلاد نائية . وكل هذا إنما جاء على خلاف الوعد &#8230; لكنه لم يقل من هذا شيئا . لأن هذا الرجل كان ذا إيمان لا يضعف ، فلم يحاول معرفة موعد الرجوع ، وان عبر الملاك تعبيرا مبهماً إذ قال : &#8220;وكن هناك إلى أن أقول لك &#8220;.ولم يبطئ يوسف لأجل هذا السبب، بل أطاع وخضع لساعته ، محتملا بفرح كل المحن . لأن الله المحب البشر رطب أتعابه الشاقة بحلاوة التعزية . وهذا ما يصنعه مع جميع القديسين .</p>
<p>فلا يشاء أن يظلوا في خطر مستمر ، ولا في راحة دائمة ، لكنه يزرع حياة الصديقين تارة بالحزن ، وطوراً بالفرح . وهذا ما يجب أن تلاحظه في يوسف : شاهد العذراء حاملا فقلق وحار في أمره لما داخله فيها من الريب، لكن ما لبث أن وقف به الملاك فبدد شکوکه وأزال عنه ما حل به من الخوف . ولما رأى المولود هزه السرور ثم تبدل سروره بالقلق حينما اضطربت المدينة وامتلا الملك غضبا ، وسعى في قتل الصبي . ثم تبدل القلق بالسرور عند ظهور النجم وسجود المجوس .</p>
<p>ثم بعد السرور عاد الخوف والخطر &#8220;لأن هيرودس يطلب نفس الصبي&#8221;. بحسب تعبير الملاك . ومن جديد أمر الملاك يوسف أن يهرب ويسير في طريق المنفى ، كأنه لم يكن هناك سوى أمر بشري ، وكأن المسيح لم يكن بعد يحب أن يصنع الأعاجيب . على أنه لو صنعها في أول عمره لما صدق أحد أنه إنسان .</p>
<p>لأجل ذلك لا يصنع هيكل دفعة واحدة بل يبدأ الحبل أولا ثم الحمل تسعة أشهر فالمخلص فالولادة . فالقوة تبلغ كمالها مدى السنين و بادراك الحد اللازم من العمر للرجال ليكون سر التجسد بنجوة من الطعن . قد تقولون لماذا كانت تلك الأعاجيب من البدء ؟ كانت لأجل مريم ويوسف وسمعان المزمع أن يغادر الأرض . لأجل الرعاة،لاجل المجوس ،لأجل اليهود .</p>
<p>فلو أراد هؤلاء أن يعيروا ما كان يتم أذنا صاغية لجنوا منه خيراً المستقبل الأيام . وإذا لم يقل الأنبياء شيئا عن المجوس فلا تقلق . لأنهم لم يقولوا كل شيء ولم يسكتوا عن كل شيء .فلو لم يقولوا شيئا لأدهشت الناس رؤية الحوادث الفجائية وأقلقتهم . ولو عرف الناس كل شيء من قبل لظلوا غائصين في سبات عميق ، ولكانت مهمة الإنجيليين لا فائدة منها .</p>
<p>وان اعترض اليهود على هذه النبؤة : &#8221; من مصر دعوت ابني&#8221; زاعمين أنها قيلت عنهم ، نجبهم بأن الأنبياء كان من عادتهم أن يقولوا أشياء عن أشخاص ، ولكنها تتم في سواهم . خذ مثلا ما قيل عن شمعون ولاوي : &#8220;أقسمها في يعقوب وأفرقها في اسرائيل &#8221; (تكوين٧:٤٩ ). على أن هذه النبؤة تمت في ذريتهما لا فيهما بالذات . وكذلك ما تنبأ به نوح عن کنعان فتم في أهل جبع نسل کنعان .</p>
<p>وما تنبأ به يعقوب نفسه إذ تلك البركات القائلة : &#8220;کن سید أخيك وليسجد لك أبناء أبيك ، (تک ۲۹:۲۷ ) ، لم تتم إلآ في ذريته . وكيف يمكن أن يكون هو المقصود بها وقد كان يوجل ويتورع من أخيه وكثيرا ما كان يسجد قدامه؟ فها هوذا ما يمكن أن يطبق على النبؤة التي نحن بصددها. لأنه من أحق أن يدعى ابن الله ؟ أذاك الذي سجد للعجل الذهبي وأدخل إلى بعل فاغور وضحى بأبنائه للشياطين ، ام الذي هو ابن بطبعه ، ولم يكرم الذي ولده ؟ فلو لم يأت هذا الابن لما بلغت النبؤة هدفها المقصود.</p>
<p>٤-فانظر كيف يعبر الإنجيلي عن فكره ، حينما يقول : &#8220;لكي يتم المقول&#8221; ، مبينا أن هذا القول لم يتم لو لم يأت المسيح .وليس من قبيل الصدفة ، أن ذلك يشهر العذراء ويزيد بكرامتها . لأن الشيء الذي استطاع شعب برمته أن يناله من المديح لنفسه كان يمكن أن تناله هي ايضاً. ان اليهود كانوا يذكرون بالفخر خروجهم من مصر ويتباهون به ، الأمر الذي يلمع اليه النبي إذ صرخ :&#8221;ألستم لي كبني الكوشيين يا بني اسرائيل يقول الرب &#8220;. ألم أخرج اسرائیل من أرض مصر ، والفلسطينيين من كفتور وآرام قير » (عا ٧:٩ ) . ان هذا الفخر إنما كان للبتول أن تحوزه وحدها ، لأن هبوط الشعب وأبي الآباء يعقوب إلى مصر وخروجهم منها . لم يكونا سوي رمز لرحيلها المزدوج . فهم انطلقوا إلى مصر تخلصاً من الجوع الذي كان يتهددهم بالموت ، والمسيح هبط إليها هربا من المكايد .هم بلغوا تلك البلاد فنجوا من الجوع ، وهو بهربه إليها قدسها كلها .</p>
<p>فتأمل كيف تبدو الألوهة تحت ظواهر البشرية الوضيعة . ولما قال الملاك اهرب إلى مصر ، لم يعدهما بأن يرافقها لا في الذهاب ، ولا في الأياب ، مبينا أن أعظم رفيق لهما هو الصبي الطفل نفسه ، الذي عند ظهوره غير كل ما في العالم ، بل جعل من أعدائه خداماً ومعاونين لتدبيره الإلهي ، فإن برابرة تركوا خرافاتهم القديمة ، وجاءوا ليسجدوا له ، واغسطس قصر ساعد على مولد بيت لحم بإصدار أمر للاكتتاب، ومصر تلقت المسيح الهارب وخلصته من الحبائل المنصوبة له ، وقطعت معه عهدا وديا حتى إذا ما سمعته يعظ بواسطة رسله يكون لها الفخر بأنها أول من تلقته بين سائر البلدان . على أن هذا الامتياز إنما كان لفلسطين وحدها أن تتمتع به ، لكن مصر كانت أشد حرارة منها .</p>
<p>فاذا ما طفت صحراء مصر تجدها أجمل جنات العالم ، وانك لترى فيها أجواقاً كثيرة الملائكة بشكل بشري ، وفرقاً من الشهداء وجماعات العذارى لا تحصى ، ترى طغيان الشيطان قد كسرت شوكته ، والمسيح يتجلى بكل مجده .</p>
<p>مصر هذه أم الشعراء والفلاسفة وعلماء الفلك التي ابتدعت كل ضروب السحر ونقلته إلى سائر الأمم ، تراها الآن تجعل فخرها في الصيادين وتعبث بكل التقاليد الشيطانية التي كان يتورع منها آباؤها ، وتحف في كل مكان بعشار وخیام جاعلة الصليب في طليعة كل شيء . وهذه الأمور الصالحة ليست في المدن فقط بل أيضا في الصحاري أكثر مما هي في المدن .</p>
<p>فانك ترى في كل مكان من تلك البلاد جيش المسيح وقطيعه الملكي وحياة القوات السماوية ، وتلك الأمور يجدها المرء متغلبة ليس في الرجال وحدهم بل في الطبع الأنثوي نفسه . وفي الحقيقة أن تلك النساء لا يبدين من الفلسفة أقل مما يبدي الرجال . نعم إنهن لا يلبسن الدرع ولا يمتطين ظهور الخيل كما يرسم الشهيرون من مشترعي اليونان وفلاسفتهم لكنهن يتلقين حربا أخرى أشد هولا لأن الحرب التي يصلين نارها ضد الشيطان وقوات الظلمة إنما هي مشتركة بينهن وبين الرجال . على ان ضعف طبيعتهن لا يحول أبداً دون اشتراكهن في نضال رمزي مثل هذا .</p>
<p>لأن المعول فيه على عزم النفس لا على قوة الأجسام . فلذلك كثيرا ما تبلي النساء بلاء أشد من بلاء الرجال وتعرض أبهج الغنائم  ان السماء بأجواقها المتنوعة ليست أجمل من صحراء مصر ، وهي على هذا الشكل ، إذ ترینا مناسك الرهبان في كل مكان<a href="#_ftn2" name="_ftnref2">[2]</a></p>
<h4>أيضاً للقديس يوحنا ذهبي الفم</h4>
<p>+ لم يتعثّر يوسف عند سماعه هذا، ولا قال: هذا أمر صعب، ألم يقل لي إنه يخلّص شعبه، فكيف لا يقدر أن يخلّص نفسه، بل نلتزم بالهروب، ونقطع رحلة طويلة، ونقطن في بلد آخر؟ فإن هذا يناقض ما وعدت به! لم يقل شيئًا من هذا، لأنه رجل إيمان! بل ولا سأل عن موعد رجوعه، إذ لم يحدّده الملاك، بل قال له: &#8220;وكن هناك حتى أقول لك&#8221;. لم يحزن بل كان خاضعًا ومطيعًا يحتمل هذه التجارب بفرح. هكذا يمزج الله الفرح بالتعب، وذلك مع كل الذين يتّقونه&#8230; مدبّرًا حياة الأبرار بمزج الواحدة بالأخرى. هذا ما يفعله الله هنا&#8230; فقد رأى يوسف العذراء حاملًا، فاضطرب وبدأ يشك&#8230; وفي الحال وقف به الملاك وبدّد شكّه ونزع عنه خوفه. وعندما عاين الطفل مولودًا امتلأ فرحًا عظيمًا، وتبع هذا الفرح ضيق شديد إذ اضطربت المدينة، وامتلأ الملك غضبًا يطلب الطفل. وجاء الفرح يتبع الاضطراب بظهور النجم وسجود الملوك. مرّة أخرى يلي هذا الفرح خطر وخوف لأن هيرودس يطلب حياة الطفل، والتزم يوسف أن يهرب إلى مدينة أخرى</p>
<p>+ لو أنه منذ طفولته المبكّرة أظهر عجائب لما حُسب إنسانًا</p>
<p>+ هلمّوا إلى برّيّة مصر لتروها أفضل من كل فردوس! ربوات من الطغمات الملائكيّة في شكل بشري، وشعوب من الشهداء، وجماعات من البتوليّين&#8230; لقد تهدّم طغيان الشيطان، وأشرق ملكوت المسيح ببهائه! مصر هذه أم الشعراء والحكماء والسحرة&#8230; حصّنت نفسها بالصليب! السماء بكل خوارس كواكبها ليست في بهاء برّيّة مصر الممتلئة من قلالي النُسّاك&#8230; على أيّ الأحوال، من يعترف بأن مصر القديمة هي التي بكل خوارس كواكبها حاربت ليست في بهاء برية مصر الممتلئة من قلالي النساك&#8230; على أي الأحوال، من يعترف بأن مصر القديمة هي التي حاربت الله في برود فعبدت القطط، وخافت البصل، وكانت ترتعب منه، مثل هذا يدرك قوّة المسيح حسنًا</p>
<p>+ إذ كانت مصر وبابل هما أكثر بلاد العالم ملتهبتين بنار الشرّ، أعلن الرب منذ البداية أنه يرغب في إصلاح المنطقتين لحسابه، ليأتي بهما إلى ما هو أفضل، وفي نفس الوقت تتمثل بهما كل الأرض، فتطلب عطاياه، لهذا أرسل للواحدة المجوس، والأخرى ذهب إليها بنفسه مع أمه.</p>
<p>+تأمّل أمرًا عجيبًا: فلسطين كانت تنتظره، مصر استقبلته وأنقذته من الغدر<a href="#_ftn3" name="_ftnref3">[3]</a></p>
<h4>كنيسة الأمم للعلَّامة أوريجانوس</h4>
<p>إن الكنيسة في العهد القديم كانت كفتاة صغيرة غير ناضجة، لم تتمتع بصحبة العريس نفسه مباشرة، بل تمتعت بصحبة أصحابه أي الملائكة والآباء والأنبياء، ومن خلالهم تقبلت قبلات الله التي هي تعليم العهد الجديد ووصاياه.</p>
<p>الكنيسة هنا توجه خطابها -لا إلى العريس، ولا إلى العذارى الساعيات في الطريق- بل إلى بنات أورشليم، اللواتي اتهمن الكنيسة العروس بالقبح وشهرن بسوادها، فتُجيب الكنيسة على هذا الاتهام بحديث تؤكد به صدق الاتهام، لأنها فعلًا سوداء، وهكذا تبدو وكما حكمت عليها بنات أورشليم. ولكن ليت بنات أورشليم يدركن جمال الداخل الذي للكنيسة، إذ بينما هي سوداء فهي جميلة.</p>
<p>إنها وأن كانت في سواد وقبح قيدار إلاَّ أنها في جمال شقق -أي ستائر- بيت الملك سليمان.</p>
<p>إن الكنيسة صاحبة هذا الحديث هي كنيسة جماهير الأمم&#8230; وبماذا يمكن لكنيسة الأمم أن تتفاخر أمام بنات أورشليم الأرضية، أي اليهود؟ الذين صبوا جام غضبهم على الكنيسة وعريسها، وكالوا للكنيسة كل احتقار وازدراء، ونسبوا إليها دناءة الأصل وخسته، لأنه لا يجري في عروق أعضائها وأبنائها دم النسب إلى إبراهيم وإسحق ويعقوب … هذا هو الذنب العظيم في نظر اليهود، إن كنيسة الأمم ليست من سلالة الآباء. وتعترف الكنيسة بهذا، وتردد نفس الاتهام الذي تعيرت به من بنات أورشليم &#8220;أنا سوداء&#8221;، وهذا السواد ليس فقط للحرمان من نسب الآباء، وإنما أيضًا للحرمان من تعليم الآباء والأنبياء.</p>
<p>هؤلاء الذين رفضهم الناموس وطردوا من خيمة إسحق، خلع عليهم الإنجيل جمال شقق وستائر بيت الملك سليمان&#8230; وما هي ستائر بيت ملك السلام إلاَّ ستائر خيمة الاجتماع حيث يسكن الله مع شعبه&#8230; الخيمة التي غطتها من الخارج جلود الماعز غير الجميلة&#8230; واحتوت من الداخل روعة الستائر، فضلا عن مجد الله فيها&#8230; وستائر الخيمة هي&#8230; من خارج شعر الماعز وجلود الكباش المحمرة وجلود التخس، أما من داخل فالستائر من أسمانجوني وأرجوان وقرمز وبوص.</p>
<p>حقًا إنيّ أعجب يا بنات أورشليم أنكن توبخنني على سواد بشرتي. هل نسيتن ما ورد في ناموسكن وما عنته مريم حين تحدثت ضد موسى لأنه اتخذ لنفسه امرأة كوشية سوداء؟! ولا تعرفن أن هذا الرمز قد تحقق فيَّ بحق؟! أنا هي الكوشية! حقًا أنيّ سوداء بسبب رداءة أصلي، لكنني جميلة بالتوبة والإيمان. لقد اتخذت لنفسي ابن الله. لقد قبلت &#8220;الكلمة الذي صار جسدًا&#8221; (يو ١: ١٤) ، لقد أتيت إلى ذاك الذي هو &#8220;صورة الله، بكر كل خليقة&#8221; (كو ١ : ١٥) ، &#8220;الذي هو بهاء مجده ورسم جوهره&#8221; (عب ١ : ٣) ، فصرت جميلة! ماذا تفعلن؟ أتوبخن من تركت خطيتها. الأمر الذي يمنعه الناموس؟! أتطلبن مجد الناموس وأنتن تنتهكن إياه؟</p>
<p>صارت سوداء لأنها نزلت، لكنها حالما بدأت ترتفع &#8220;طالعة من البرية&#8221; (نش ٨: ٥) مستندة على ابن أختها (الذي جاء مولودًا من جماعة اليهود)، لا تسمح بشيء يفصلها عنه، تصير بيضاء وجميلة. فإن سوادها يتبدد تمامًا وتضيء بأشعة النور المحيط بها. هكذا تعتذر (كنيسة الأمم) لبنات أورشليم عن سوادها قائلة: لا تحسبن يا بنات أورشليم أن السواد المرتسم على وجهي طبيعي، لكن لتفهمن أنه قد حدث بسبب تجاهل شمس العدل ليّ. فإن &#8220;شمس العدل&#8221; لم يصوب أشعته عليّ مباشرة، لأنه وجدني غير مستقيمة. أننيّ شعب الأمم الذي لم يتطلع إلى شمس العدل ولا وقفت أمام الرب (لو ٢١: ٣٦) &#8230; فإنني إذ لم أؤمن في القديم أختارك الله ونلت أنت رحمة واهتم بك &#8220;شمس العدل&#8221; بينما تجاهلني أنا، ولوحني بسبب عصياني وعدم إيماني. أما الآن فإنك إذ صرت غير مؤمنة وعاصية، صار ليّ رجاء أن يتطلع &#8220;شمس العدل&#8221; إليّ أنا فأجد رحمة.<a href="#_ftn4" name="_ftnref4">[4]</a>!</p>
<h4> مجئ الرب لمصر للقديس يعقوب السروجي</h4>
<p>خرجت أشعتك على الجهات وأنارتها، وهوذا الشعوب تتنعم بنورك الذي أبهجها،</p>
<p>أشعتك بددت كل ظلمة عبادة الأصنام، وأقامت لك صورة النور بين المظلمين،</p>
<p>أرسلت رسالة إلى المجوس بكوكب النور، وجذبتهم وأخرجتهم من الظلمة إلى نورك،</p>
<p>ركض رسولك ليبشر المظلمين، فمهّد الطريق هناك لإشراقك حتى يسير فيه (زك ٦: ١٢)…</p>
<p>أرسل النور ليقتل الظلمة في موضعها، ويصنع دربًا في تيه عبادة الأصنام ،</p>
<p>ألقى شعاعًا واحدًا من أضوائه في البلد، وبإشراقه بدد ليل الضلالة القوي،</p>
<p>أتى لينير كل العالم بولادته، وأرسل أولًا إلى بداية الأرض (الشرق الأقصى) لتأتي عنده،</p>
<p>أرسل رسولًا نورانيًا وكارزين إلى البلد البعيد عن التعليم ليجلبه حتى يسترشد،</p>
<p>وضع على كتف الهمجيين نير الإشاعة، وسيّرهم على الدرب ليأتوا إلى خدمته&#8230;</p>
<p>أصنام مصر رأت المخلص وارتجفت وخافت منه، كما كُرز من قبل النبوة (إش ١٩: ١)…</p>
<p>أعمدة مصر الحاملة للأصنام ارتجفت كلها بذلك الذي جاء ليكسرها بصلبه،</p>
<p>تهدمت كل منصات الذبائح برئيس الأحبار الذي جاء إلى الذبح حتى يبطلها،</p>
<p>دخل الحق وهمس (في آذان) الأصنام وأفزعها، ودعاها لتسقط ولو أنها لا تسمع،</p>
<p>كانت مثل هذه الأمور تقال من قبل العدالة لأصنام مصر الغنية بالسجدات:</p>
<p>أسقطي أيتها الضعيفة، كفى أنك انتصرت بالاستعارات، لقد جاء المسجود له، فاتركي له المكان ليقوم على مُلكه،</p>
<p>أيتها القشور المجففة افرغي المكان لابن الله، أيتها المصورة من قبل الضلالة، انزلي من قصورك،</p>
<p>أيتها الأصنام الفاسدة التي صارت فخاخا للساجدين لها، انكسري ولا تصطادي بعدُ للفساد،</p>
<p>أيتها الضعيفة انهزمي من الجبار الذي أتى إليكِ، ولا تقومي بعدُ في موضع الملك الذي وصل،</p>
<p>أيتها المصنوعة التي أخذتِ اسم الله وأقلقت الأرض، هوذا الصانع قد نزل من موضعه ليفضحك،</p>
<p>خرجت الريح لتجمع الأشواك من الحقول، فاهرب أيها الزوان من العاصفة سيدة الجهات،</p>
<p>خاف فوج عبادة الأصنام من الجبار، وبُشرت صفوف الأصنام بالسقوط<a href="#_ftn5" name="_ftnref5">[5]</a>.</p>
<h4>مجئ الرب لمصر للقديس  جيروم</h4>
<p>&#8220;السحاب والضباب حوله&#8221; دون شك السحاب والضباب الذي حوله هو الجسم الذي أخذه الرب المخلص، بالرغم مما قيل في إنجيل يوحنا أنه &#8220;أُظهر لنا&#8221; (١يو ١: ٢). حقًا لقد ظهر للرسل، لكنه كان محتجبًا عن اليهود. ظهر للأولين على الجبل، والآخرين في الوادي المنخفض. إنه مخفي، يحدث الأولون بالتطويبات، ويتكلم مع الآخرين بالأمثال، ناظرًا إلى أنهم لا يرون بسبب غدرهم.</p>
<p>&#8220;السحاب والضباب حوله&#8221;، ظهر عندما أراد أن يظهر، وليس بحسب طبيعته الإلهية. &#8220;جعل الظلمة سترة حوله&#8221; (مز ١٨: ١١). إن كان الله نورًا، فكيف يمكن للنور أن يسكن في الظلمة؟ في هذه العبارة &#8220;الظلمة&#8221; تمثل المعرفة غير الكاملة، وضعفنا، إذ لا نستطيع أن نحملق في جلاله. إن كانت الأعين البشرية في الحقيقة تعجز عن أن تتطلع في أشعة شمس هذا العالم المخلوقة والشريكة معنا في العبودية، كم بالأكثر تكون الظلال والظلمة حول شمس البرّ حيث لا يُمكننا إدراكه ولا التطلع إليه؟ نقرأ عن القديس موسى: اقترب من السحابة (خر ٢٠: ٢١) لكي يرى الله، هذا لم يكن قادرًا أن يراه خارج السحابة. ويقول إشعياء: &#8220;هوذا الرب راكب على سحابة سريعة وقادم إلى مصر&#8221; (إش ١٩: ١) ، أي مع مريم القديسة. &#8220;على سحابة سريعة&#8221;، لأنها لم تكن مثقلة ببذور بشرية.</p>
<p>أمران يحيطان بالرب: السحاب والضباب (الظلام)&#8230;</p>
<p>أظن إنها ذات السحابة التي وردت في الإنجيل &#8220;وسحابة نيرة ظللتهم&#8221; (مت ١٧: ٥). هذا حدث عندما تجلي الرب وسقط التلاميذ على وجوههم أمامه، وجاءت سحابة نيرة ظللتهم.</p>
<p>أظن أنها تشبه السحاب الذي قيل عنه في موضع آخر: &#8220;حقك إلى السحاب&#8221; (مز ٣٦: ٥)، أي حق الرب الذي قيل عنه في الإنجيل: &#8220;أنا هو الطريق والحق والحياة&#8221; (يو ١٤ : ٦). حق الله هو المسيح؛ يبلغ حتى إلى السحاب، أي إلى الرسل والأنبياء، هؤلاء الذين كانوا كالسحاب الذي أمره ألا يمطر على إسرائيل (إش ٥: ٦). هذا يتفق مع ما ورد في سفر القضاة حيث جزة الغنم كانت جافة بينما كان المطر ينزل على بقية العالم. هذا يعني أن إسرائيل صار جافًا بينما كان المطر ينزل على العالم كله.</p>
<p>&#8220;السحاب والضباب حوله&#8221;، &#8220;هوذا الرب راكب على سحابة سريعة، وقادم إلى مصر&#8221; (إش ١٩: ١). لتعرف ماذا يعني هذا؟ الرب قادم، الرب المخلص قادم إلى مصر حيث نعيش. قادم إلى أرض الظلمة حيث فرعون، لكنه لا يأتي إلا قادمًا على سحابة سريعة. ما هي هذه السحابة السريعة؟ أظنها القديسة مريم التي حملت الابن بغير زرع بشر. جاءت هذه السحابة السريعة إلى العالم، وأحضرت معها خالق العالم. ماذا يقول إشعياء؟ &#8220;الرب قادم إلى مصر، فترتجف أوثان مصر من وجهه. الرب قادم، فترتعب أوثان مصر جدًا، ويرتطم بعضها ببعض وتتحطم. هذه هي السحابة التي حطمت معبد سيرابيس في الإسكندرية، إذ لم يحطمه قائد، بل حطمته السحابة القادمة إلى الإسكندرية (الحاملة للمسيح) &#8230;</p>
<p>لقد عرفنا السحاب، فلنبحث الآن عن الضباب.</p>
<p>الرب في الضباب، هو في النور وفي الضباب أيضًا. هو في النور بالنسبة للمبتدئين الذين يتحدث معهم بوضوح، لكنه بالنسبة للمتقدمين يحدثهم بطريقة سرائرية mystically فهو لا يتحدث مع الرسل كما مع الجماهير، إذ يتحدث مع الرسل بطريقة سرائرية. ماذا يقول؟ &#8220;من له أذنان للسمع فليسمع&#8221; (لو ٨ : ٨). هذا هو معني &#8220;وضباب حوله&#8221;، أي حوله أسرار. لهذا يقول في سفر الخروج عن كل الشعب كانوا واقفين أسفل، وأما موسى وحده فصعد على جبل سيناء في ضباب سحابة ثقيل، لأن كل شعب الله غير قادر على التعرف على الأسرار، أما موسى فكان وحده يقدر أن يفهم. لهذا يقول الكتاب: &#8220;جعل الظلمة سترة حوله&#8221; (مز ١٨: ١٢)<a href="#_ftn6" name="_ftnref6">[6]</a>.</p>
<h3>عظات آباء وخدَّام معاصرين</h3>
<h4>قداسة البابا تواضروس الثاني</h4>
<p><strong>ثلاث نبوات &#8230; وثلاث أحداث </strong></p>
<p>هذا الإنجيل (مت ٢: ١٣-٢٣) يكمل الإنجيل الذى قرأ في عيد الميلاد المجيد (مت٢: ١-١٢) .</p>
<p>هذا الجزء يشمل ٣ قصص أو أحداث قدمها، القديس متى الرسول بهدفين:</p>
<p>١ – إتمام المكتوب وتحقيق النبوات .</p>
<p>٢ – معاناة المسيح طفلاً كما حدث لموسى .</p>
<p><strong>القصة الأولى : حلم الهروب إلى مصر .</strong></p>
<p>تحقيق نبوة هوشع النبى (هو ١١: ١) .</p>
<p>-       ومصر فوق أنها بلد أمان للمسيح  ، إلا أنها كانت المكان الذى بدأ فيه تاريخ إسرائيل كشعب الله المختار .</p>
<p>-       ميلاد المسيح ثم هروبه يشبه ما حدث لموسى ولذا دعى يسوع ( موسى الجديد ) .</p>
<p><strong>القصة الثانية : مذبحة قتل أطفال بيت لحم .</strong></p>
<p>-       ولأن الله أو الكتاب المقدس لم يكن مسئولاً عن تصرفات هيرودس لذا قال : &#8221; حينئذ تم &#8230; &#8221; ( ع ٧ ) وليس كما سبق وقال : &#8221; لكى يتم &#8230; &#8221; ( ع ١٥ و ٢٣ ) النبوة في (إرميا ٣١ : ١٥) .</p>
<p>-       كان الحزن مقدمة للفرح والبركة .</p>
<p><strong>القصة الثالثة : حلم الإقامة في الناصرة الحقيرة .</strong></p>
<p>-       لم ترد الناصرة في العهد القديم أبداً بل وردت كلمة غصن  (Neser) (إش١١ : ١) وهذا لقب إزدراء وتحقير .</p>
<p>-      <a href="#_ftn7" name="_ftnref7">[7]</a> ذكر العهد الجديد الناصرة  ٢٩ مرة ولقب التلاميذ بالناصرة  .</p>
<h4>المتنيح الأنبا أثناسيوس مطران كرسي بني سويف والبهنسا</h4>
<p>(مت٢: ١٦- ٢٢)</p>
<p>قتل الأطفال من این سنتين فأقل : (مت ٢: ١٦)</p>
<p>يقول أفرايم السرياني وأوسابيوس المؤرخ أن المجوس أتوا في السنة الثانية لميلاد السيد المسيح . أما ذهبي الفم وكيرلس الأورشليمي فيقولان أن النجم ظهر للمجوس قبل الميلاد بسنتين ، فوصلوا أورشلیم وقت الميلاد .</p>
<p>والرأي الأول يرتب الحوادث على أنه ختن بعد ميلاده بأسبوع، ثم قدم الى الهيكل بعد أربعين يوما ، ثم ذهبت الأسرة الى الناصرة كما في (لو ۲ : ۳۹) . وأن أفراد الأسرة كانوا يزورون بيت لحم من وقت الى آخر لمحبتهم اياها ، وأن المجوس حين أتوا كانت الأسرة في أحد بيوت بيت لحم ، وكان الطفل ابن سنتين ولذا قال انجيل متى أن المجوس أتوا &#8221; الى البيت &#8221; ولم يقل المذود ، وأنهم &#8220;رأوا الصبي &#8221; ولم يقل الطفل (مت۲ : ۹) ، وأن الأسرة بعد ذلك توجهت الى مصر .</p>
<p>أما أصحاب الرأي الثاني، فيرون أن هذه التسميات مجرد استبدالات لفظية ، وأن الطفل كان رضيعا حين زاره المجوس وأن العائلة توجهت فورا الى مصر ، ثم الى الناصرة بعد موت هيرودس : أما قول انجيل لوقا أنهم ذهبوا الى الناصرة &#8221; لما أتموا كل شيء حسب ناموس الرب &#8221; فلا يعنی حتما أنهم ذهبوا اليها عقب الأربعين بل بعد رجوعهم من مصر .</p>
<p><strong>الهروب الى مصر :(مت ۲: ۱۹-۲۲)</strong></p>
<p>ظهر ملاك الرب ليوسف وأمره أن يذهب الى مصر وذلك ليعلمنا أن نهرب من الشر . كما أنه حين عاد من مصر وكان أرخيلاوس يملك مكان أبيه أوحى له أن يذهب الى الجلیل ٢ : ٢٣ لا توجد في العهد القديم نبوة بهذا النص . ولذا لم يذكر متى اسم نبي بالذات بل قال &#8221; الأنبياء &#8221; وقد يعني هذا انها نبوة شفهية لم ترد مكتوبة في الأسفار بل تناقلتها الأجيال شفهيا .وقد أثبت الكتاب أن هناك نبوءات نطق بها الأنبياء شفهيا ولم يسجلها الوحي مثل نبوة يونان عن رد تخم الدولة &#8221; من مدخل حماة الى بحر العربة &#8221; أي استرداد ما كان حزائيل الآرامي قد اغتصبه . ولم ترد هذه النبوة الا عند تمامها ، اذ قيل &#8221; حسب کلام الرب .. عن يد عبده يونان بن أمتای &#8221; (٢ مل ١٤ : ٢٥) كما ورد في سفر طوبيت أن نينوى ستخرب كما تكلم عنها يونان (طو ١٤ : ٦) بينما لم يثبت سفر يونان الا تهديد نينوى بالخراب الذي رفع عنها حين تابت.كما اورد العهد الجديد في رسالة يهوذا نبوءة أخنوخ النبي وهي غير واردة في العهد القديم (يه ١٤) .</p>
<p>وهناك رأي أن كلمة ناصرة مأخوذة من &#8221; نطسر &#8221; ومعناها &#8221; غصن &#8221; كما يقال أن مدينة الناصرة كانت محاطة بأشجار قصيرة متى ولذا سميت &#8221; غصن &#8221; وعلى هذا تكون النبوة المشار اليها هي تسمية الأنبياء للسيد المسيح بالغصن كقول أشعياء&#8221; ويخرج قضيب من جزع يسی ، وينبت غصن من أصوله &#8221; (أش ١١ : ١). أي أن السيد المسيح غصن ولذا سمي &#8221; ناصريا &#8220;.وبذا يكون الأنبياء الذين عناهم متى هم أشعياء وأرميا وزكريا الذين أوردوا هذه التسمية (اش ٤ : ٢-١١: ١) ، (أر ۲۳ : ٥ -۲۳ : ١٥)، (زك٣: ٨- ٦: ١٢)<a href="#_ftn8" name="_ftnref8">[8]</a>.</p>
<h4>المتنيح القمص تادرس البراموسي</h4>
<p><strong>الأحد الأول من شهر طوبه المبارك</strong></p>
<p>من مصر دعوت أبني (متى٢: ١٣ – ٢٣)</p>
<p>هذا الحلم والرؤيا الثانية التي رآها القديس يوسف النجار من الله كشفت له فيها في الأول . أن المولود من العذراء مريم هو المسيح أبن الله الذى تنبأ عنه الأنبياء وقالوا أنه سيأتى ليخلص شعبه من خطاياهم ويمحو خطية آدم التي أصبحت وصمة عار على الخليقة كلها . أما الحلم الثاني فقد أعلن الله له أن يأخذ الطفل وأمه ويهرب إلى مصر . لأنه كان بمثابة ولى أمر الطفل والمسؤل عن رعايته وحمايته. كان هيرودس يخشى أن هذا الملك المولود . يأخذ منه العرش ويحكم بدلاً عنه لأنه يهودى واليهود يختاره بسرعة لأنهم كانوا ينتظرون مثل هذا الملك ولم يفهم هيرودس . أن السبب الذى جاء لأجله المسيح ليس الملك الأرضى لأنه ترك ملك السماء الذى قال عنه الكتاب السماء ليست بطاهره أمامه وللملائكة ينسب حماقة فنزل إلى الأرض لا ليصير ملكاً أرضياً بل ليملك على القلوب من العجيب أن يهرب الله من خليقته .</p>
<p>لكى يعلمنا أن نهرب من الشر . جاء الرب يسوع له المجد هارباً إلى مصر . لكى يهب الصلح للمصريين بعد أن غضب عليهم بسبب بنى إسرائيل وأنتقم منهم بالضربات في العهد القديم وبدل اللعنة التي حلت بالمصريين أعطاهم البركة قائلاً مبارك شعب مصر . وكانت مصر هي الملجأ والمأوى الذى أحتمى فيه الرب يسوع ونجى من يد هيرودس الطاغيه لم يعثرعلى الرب يسوع أن يبيد هيرودس ونسله لكنه لم يفعل ذلك لأنه أراد أن يرد لمصر اعتبارها .</p>
<p>الذى بوجوده تباركت أرض مصر وتحطمت الأوثان وبنى مذبح في أرض مصر كما تنبأ أشعياء النبى . أما هيرودس بعد أن فتش على الرب يسوع ولم يجده أمر بقتل أطفال بيت لحم من أبن سنتين فما دون . وهو يظن أن الرب يسوع قتل من ضمنهم . ولم يعلم أن الرب ملك السماء والأرض وهو مخلص العالم. وقد جاء لأجل هذه المهمة وهيأ للجميع الحياة الأبدية</p>
<p><strong>العظة الأولى</strong></p>
<p>أ - كيف نهرب من الشر</p>
<p>ب – أمر الرب بالهروب إلى مصر</p>
<p>ج – بركة الرب يسوع لمصر والمصريين</p>
<p>د – أتمام النبوات بالمجئ إلى مصر</p>
<p>ه - غضب هيرودس لأنه لم ينتقم</p>
<p>و – أتمام الشر وقتل الأبرياء</p>
<p>ذ – خميرة الشر والتفكير الشيطانى</p>
<p>ح – بكاء وعويل بدون تحصيل</p>
<p>ط – مات الأشرار ورجع الأبرار</p>
<p>ى – عدم رد الشر بالشر</p>
<p><strong>العظة الثانية</strong></p>
<p>أ – وصية الرب أن نبعد عن الشر</p>
<p>ب – الملائكة لخدمة البشر</p>
<p>ج – الالتجاء إلى مصر وإتمام المصالحة</p>
<p>د – الخوف من الشر واتمام الفضيلة</p>
<p>ه - سفك الدماء وقتل الأبرياء</p>
<p>و – دموع الأحباب وكشف الأسباب</p>
<p>ذ – الشوق إلى الأوطان والعيشه في أمان</p>
<p>ح – الخوف على المولود من الشر والجحود</p>
<p>ط -سكن في الناصرة وهرب إلى القاهرة</p>
<p>ى – سكن في الصعيد ليقرب البعيد</p>
<p><strong>العظة الثالثة</strong></p>
<p>أ – شيخ وملك وهروب</p>
<p>ب – صوت الملائكة وهروب من الهلاك</p>
<p>ج – هروب الديان من بنى الإنسان</p>
<p>د – غضب وشر السلوك</p>
<p>ه - قتل الأطفال وخيبة الأمال</p>
<p>و – بكاء الأجداد وفقد الأحفاد</p>
<p>ذ – مات الشرير ورجع القدير</p>
<p>ح – ملاك مرسل وكلام الأنبياء</p>
<p>ط – وحى من السماء وكلام الأنبياء</p>
<p>ى – الطاعة الكاملة والسكنى في الناصرة<a href="#_ftn9" name="_ftnref9">[9]</a></p>
<h4> المتنيح القمص لوقا سيداروس</h4>
<p><strong>الأحد الأول من شهر طوبة</strong></p>
<p>(مت ٢ : ١٢ – ٢٣)</p>
<p><strong>الهروب إلى مصر</strong></p>
<p>إذا ملاك ظهر ليوسف في حلم قائلا : &#8221; قم خذ الصبى وأمه وأهرب إلى مصر &#8221; (مت ٢ : ١٣) . ان رحلة الرب إلى أرض مصر مملوءة أسراراً . وهناك أسئلة كثيرة تتبادر الى الذهن ، فمثلاً :</p>
<p><strong>لماذا هرب إلى مصر بالذات</strong></p>
<p>أن مصر ليست أقرب البلاد إلى اليهودية ، بل هناك : سوريا والأردن والعراق وصحراء العرب ولبنان . ومصر أيضاً ليست أسهل الطرق ، ولكن على العكس فهى بالنسبة لأسرائيل طريق مملوء بالمخاطر وكثير المتاهات . فيوسف رجل شيخ والعذراء القديسة حاملة طفلها الإلهى . فما أصعب الرحلة وما أقسى ظروفها . ولكن أمام كل هذا كانت رؤيا الملاك ليوسف وتدبير النزول إلى مصر كان أمراً إلهياً سبق فأعده الرب منذ الأزل ، وسبق وأخبر به الأنبياء . فهوشع النبي يقول : &#8221; من مصر دعوت إبنى &#8221; . وأشعياء النبى يصرخ قائلاً : &#8221; هوذا الذى قادم إلى مصر راكباً إذن لقد قصد الرب أن يجئ إلى مصر ، ليس بالصدفة ولا تحت إضطرار الظروف . ولكن له في مصر مذبح لابد أن يبنى ، وله في مصر عمود شهادة لابد أن يقام ، وله في مصر كنيسة شاهدة وعابدة ومتكلمة بلسان كنعان الروحى ، وله في مصر مذبح لابد أن يبنى ، وله في مصر عمود شهادة لابد أن يقام ، وله في مصر كنيسة شاهدة وعابدة ومتكلمة بلسان كنعان الروحى ، وله في مصر بركة بها يبارك رب الجنود ، قائلاً : &#8221; مبارك شعبى مصر &#8221; .</p>
<p><strong>في داخل مصر</strong></p>
<p>ان ربنا جاز في أرض مصر شمالها وجنوبها ، وتنقل في بلاد كثيرة . فلو كانت رحلته مجرد هروب ، لكن في أول مدينة صافته ، وما أنتقل إلى مكان آخر . ولكن الرب قصد أن يضع قدميه في أماكن كثيرة صارت فيما بعد منابع للروح أرتوى منها العالم كله مثل : جبل قسقام ، ووادى النطرون .</p>
<p>+ أن سر وجود الكنيسة القبطية وبقائها إلى هذا اليوم رغم ما صادفته من إضطهادات ، كائن في هذه الزيادة العجيبة .</p>
<p>+ ونحن نؤمن أن الرب اختارمصر ليضع عليها مسئولية خلاص العالم كله . فكما صارت مصر بسبب يوسف منقذة للعالم فيها منقذة للعالم الحاضر من مجاعة الروح وموت الإيمان .</p>
<p>+ فيا من أستبقيت يوسف لأبقاء حياة الأسباط في القديم وأشبعتهم من حنطة مصر &#8230; هنا حنطة مصر صارت جسدك على المذبح . وخزينها صار تراثاً في كنيسة مصر . فأنعم يارب بالشبع من جسدك ، ومن حبة الحنطة على كل العالم . ليشبع العالم روحياً بمصر ، وبإيمان كنيستها . آمين .</p>
<p>ترك لنا مثالا</p>
<p>+ فهو في هروبه من وجه هيرودس كرس لنا طريق بداية الأنتصار &#8230; من يهرب من وجه الشر ينتصر عليه . هكذا ظهر هيرودس الملك ضعيفاً ومغلوباً أمام الطفل يسوع . فهيرودس يضطرب ويخاف ويفقد صوابه ويقتل الأطفال ، كل هذا لأنه مغلوب وخائب . الهروب من وجه الشر هو طريق المتضعين الذين صار فيه ربنا وفتح لنا باب غلبه الخطية بسهولة جداً .</p>
<p>+ أهربوا من الزنى . ان أسهل طريق للنصرة على شيطان الشهوات هو الهروب الهروب من أماكن الشر ومن أفكار الشر ومن أصدقاء الشر ومن خطط الشيطان ، مثل يوسف العفيف .</p>
<p>+الذى يهرب مت محبة المال يغلب العالم . القديس أوغسطينوس شهد قائلاً : &#8221; وضعت قدمى على قمة هذا العالم عندما أصبحت لا أشتهى منه شيئاً .</p>
<p>+ أن الهروب من الشر ليس خوفاً لأن المسيح لم يهرب من وجه هيرودس خوفاً من الموت ، لأن هدف التجسد هو الصليب والرب يسوع قال : &#8221; لأجل هذا أتيت &#8221; . ولكن المسيح بهروبه وضع لنا مبدأ عدم مقاومة الشر .</p>
<p>+ فروح هيرودس : روح سفك دم ، وقتل الناس وهذا لا يغلب إلا بروح المسيح ، روح الحياة ، وروح السلام ، وروح الإتضاع . الشهداء القديسون واجهوا روح هيرودس في المضطهدين والمفيدين بروح المسيح الوديع الهادي ، وغلبوه بدم الخروف ، وبكلمة شهادتهم لم يغلبوا الشتيمة بالشتيمة ولا غلبوا السيف بالسيف ، ولكن غلبوا بالإتضاع وبروح المسيح الذى إذ شتم لم يكن يشتم عوضاً . هكذا كان داود النبى في القديم يهرب من وجهه الشر أينما وجد هرب من وجه شاول الملك . وهرب من وجه أبشالوم .</p>
<p>+ الشيطان يحاول دائماً أن يعطل طرق الله ويقف في وجه تكميل أعمال الخلاص . هكذا تبدوا محاولات الشيطان من الأيام الأولى لتجسد رب المجد يسوع . ولكن المسيح المبارك لم يترك فرصة للشيطان ليكمل أعماله الشريره. فالهروب من وجه الشر يفسد خطط الشيطان التي يدبرها ضد أولاد الله . مثل هروب داود من أمام أبشالوم فأفسد مشورة أخيتوفل فملأ الشيطان قلب أخيتوفل غيظاً وشنق نفسه .</p>
<p><strong>دخل ليملك على مصر</strong></p>
<p>لقد استعلن المسيح ملكاً من أول لحظة دخل فيها الى العالم فالمجوس جاءوا يسألون أين هو المولود ملك اليهود ؟ وهيرودس يطلب أن يقتله عالماً أنه ملك &#8230; ولكن ملكوت المسيح ليس من هذا العالم ، بل هو ملكوت سماوى &#8230; أي أن يصير المسيح ملكاً ، وان يصير الإنسان مملوكاً للمسيح. هكذا جاء المسيح إلى مصر ملكاً وديعاً راكباً على أتان حسب عادته وحسب إتضاعه . ودخل لكى يأخذ له مملكة ويقتنى له شعبا ولكن في كل جيل يعود الشيطان خائباً  منكسراً أمام مملكة المسيح في مصر ، الكنيسة التي أسسها الرب على ضخر الدهور ووعدها قائلاً : &#8221; أبواب الجحيم لن تقوى عليها<a href="#_ftn10" name="_ftnref10">[10]</a> &#8221; .</p>
<h3>من وحي قراءات اليوم</h3>
<p>قم وخذ الصبي وأمه واهرب إلى مصر (مت١٣:٢)</p>
<p>من هربوا من الشر نجوا بحياتهم (تك ١٩: ١٧)</p>
<p>ومن هربوا من الشر وجدوا الله في الطريق ينتظرهم (تك ٢٨: ١٢)</p>
<p>ومن هربوا من الشر تمجدوا أخيراً برغم ضيقتهم الوقتية (تك ٣٩: ١٢)</p>
<p>ومن هربوا من الشر لم يتركهم الله بل أعلن تدبيره لهم (خر ٣: ١٠)</p>
<p>ومن هربوا من الشر تثبتت رتبتهم ومملكتهم عن مُطارديهم (١صم ٢٠: ١)</p>
<p>قبول يوسف النجار ووالدة الإله الهروب بكل مشقاته وأخطاره يعلن مجد تسليم القديسين</p>
<p>لم يعرف هيرودس أن الله سيحوِّل شره إلي مجد لكل مصر</p>
<p>لذلك ذهاب العائلة المُقدَّسة لمصر كشف عن تدبير وحكمة وخطَّة لبركة شعب وأرض مصر</p>
<p>جاءت السحابة السريعة إلي مصر فأمطرت شعبها بنعمة غنية وبركة دائمة</p>
<p>وصارت مصر رمزاً لقبول الله في ملء الزمان لكل الأمم (أش ١٩: ١٩).</p>
<h3>المراجع:</h3>
<p><a href="#_ftnref1" name="_ftn1"></a>١- القديس يوحنا ذهبي الفم - تفسير انجيل متي الإصحاح الثاني - القمص تادرس يعقوب ملطي</p>
<p><a href="#_ftnref2" name="_ftn2"></a>٢- كتاب خطيب الكنيسة الأعظم القديس يوحنا الذهبي الفم صفحة ٣٩٦ - الأب الياس كويتر المخلّصيّ</p>
<p><a href="#_ftnref3" name="_ftn3"></a>٣- تفسير إنجيل متي الإصحاح الثاني- القمص تادرس يعقوب ملطي</p>
<p><a href="#_ftnref4" name="_ftn4"></a>٤- المرجع : تفسير سفر نشيد الأنشاد - الإصحاح الأول - القمص تادرس يعقوب ملطي</p>
<p><a href="#_ftnref5" name="_ftn5"></a>٥- المرجع : تفسير سفر الحكمة - الإصحاح الثالث عشر - القمص تادرس يعقوب ملطي</p>
<p><a href="#_ftnref6" name="_ftn6"></a>٦- المرجع : تفسير مزمور ٩٧ - القمص تادرس يعقوب ملطي</p>
<p><a href="#_ftnref7" name="_ftn7"></a>٧- المرجع : كتاب المنجلية القبطية الأرثوذكسية ( صفحة ٢٢٧ ) - قداسة البابا تواضروس الثاني</p>
<p><a href="#_ftnref8" name="_ftn8"></a>٨- المرجع : دراسات في الكتاب المقدس - إنجيل متي ( صفحة ١٠٦، ١٠٧) - الأنبا أثناسيوس مطران كرسي بني سويف والبهنسا</p>
<p><a href="#_ftnref9" name="_ftn9"></a>٩- المرجع : كتاب تأملات وعناصر روحية في آحاد وأيام السنة التوتية الجزء الأول صفحة ٥٧ - إعداد القمص تادرس البراموسي</p>
<p><a href="#_ftnref10" name="_ftn10"></a>١٠- المرجع : كتاب تأملات روحية في قراءات أناجيل آحاد السنة القبطية صفحة ١٦٢ - القمص لوقا سيداروس - كنيسة مار جرجس سبورتنج</p>

      {% endcreateArticleAccordions %}
    </section>
  {% endblock %}
