---
layout: 'layouts/reading.html'
title: 'الأحد الثاني من شهر طوبة'
permalink: sundays/5-2.html
---
  {% block content %}
    <section id="readings">
      <ul>
      {% if '19.98:3,9' != 'null' %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">العشية</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeVespers '19.98:3,9' '40.14:22-36' %}
          </div>
        </div>
      </li>
      {% endif %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">باكر</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeMatins '19.97:1-2' '41.3:7-12' '' %}
          </div>
        </div>
      </li>
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <h3 class="flex items-center justify-between">
            <span class="kufi">القداس</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </h3>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeLitugy '48.5:2-10' '62.3:18-24' '44.15:22-29' '19.83:7@19.65:2' '42.11:27-36' %}
          </div>
        </div>
      </li>
        </ul>
    </section>
    <section id="article">
      <h3 class="mt-8 mb-4 heading-explain">شرح القراءات</h3>
      {% createArticleAccordions firstName, lastName %}
        <p></p>
<p></p>
<p></p>
<p>&#8221; فتسير الأمم في نورك ، والملوك في ضياء إشراقك &#8230; وتنفتح أبوابك دائما نهارا وليلا لا تغلق. ليؤتى إليك بغنى الأمم، وتقاد ملوكهم &#8221; (أش٦٠ :٣-١١)</p>
<p>&#8220;لأنه من مشرق الشمس إلى مغربها اسمي عظيم بين الأمم، وفي كل مكان يقرب لاسمي بخور وتقدمة طاهرة، لأن اسمي عظيم بين الأمم، قال رب الجنود &#8221; (ملا ١١:١)</p>
<p>&#8221; طيب مسكوب هو اسمك القدّوس وفِي كل مكانٍ يُقدَّم بخور لاسمك القدّوس وصعيدة طاهرة &#8221;</p>
<p>سر بخور عشيّة</p>
<p>&#8221; ليكرزوا بإنجيل ملكوتك ويعلِّموا كل الأمم معرفتك الحقيقية &#8221; أوشية الإنجيل الثانية</p>
<p></p>
<p></p>
<h3>   ملاحظات علي قراءات اليوم</h3>
<p></p>
<p>+ قراءة الإبركسيس اليوم (أع ١٥ : ٢٢ &#8211; ٢٩) تُشبه قراءة الإبركسيس ( أع ١٥ : ٢١ &#8211; ٢٩) ليوم ٨ توت ( نياحة موسي النبي ) ، وتُشبه قراءة الإبركسيس ليوم ٣ مسري (أع ١٥ : ١٣- ٢٩) وهو اليوم الموافقلتذكار القديس سمعان العمودي</p>
<p>مجيئها الي للإشارة إلي خلاص الأمم &#8221; أيهاالإخوة الذين من الأمم إفرحوا &#8230; &#8221;</p>
<p>وأغلب الظن ما جاء في بداية القراءة هو سبب إختيارها في القراءتين ٨ توت ، ٣ مسري :</p>
<p>&#8221; لأن موسي منذ الأجيال الأولي كان له من يكرز به في كل مدينة &#8221; (أع ١٥ : ٢١)</p>
<p>&#8221; سمعان قد أخبر كيف افتقد الله أولاً الأمم &#8221; (أع ١٥ : ١٤)</p>
<p></p>
<p></p>
<h3>شرح القراءات</h3>
<p></p>
<p>بعد ماأعلن الكلمة المتجسد ظهوره الإلهي في الأحد الأول لكل الشعوب والأمم بدأت هذه الأمم في التعرف علي هذا المخلص الفريد في الأحد الثاني وبدأت تسعي إليه وتأتي من كل البلاد والأماكن البعيده لتغتني بخلاصه وتتبرر وبالإيمان به</p>
<p>لذلك إذا كان الأحد الأول يعلن قبول الأمم فالأحد الثاني يعلن تبريرهم في شخص إبن الله وهي تسبحة الكنيسة في شهر طوبة وفي أعياد الظهور الإلهي &#8221; يسوع المسيح إبن الله &#8230;&#8230; &#8221;</p>
<p>يبدأ مزمور عشية بإستعلان الخلاص الإلهي لكل البشر &#8221; نظرت خلاص إلهنا أقاصي الأرض جميعها &#8221;</p>
<p>ويعلن مزمور باكر إستقبال البشرية لهذا المخلص بالفرح والتهليل &#8221; الرب قد ملك فلتهلل الأرض ولتفرح الجزائر الكثيرة &#8221;</p>
<p>لذلك يأتي الكل إليه في مزمور القداس &#8221; لأنه يأتي إليك كل بشر &#8221;</p>
<p>ففي عشيه ينظرون خلاصه وفي باكر يفرحون به وفي القداس يأتون إليه</p>
<p>إنجيل عشية يعلن حقيقة الكلمة المتجسد وأهمية وقيمة جسده المقدس &#8221; والذين كانوا في السفينة سجدوا له قائلين : بالحقيقة أنت ابن الله &#8230;.. وطلبوا إليه أن يلمسوا هدب ثوبه فقط فجميع الذين لمسوه خلصوا &#8221;</p>
<p>أما إنجيل باكر فيعلن مجئ كل البشر من كل ناحيه إليه وأيضا عطيه خلاصه لهم &#8221; وتبعه جمع كثير من الجليل ومن اليهودية ومن أورشليم ومن أدومية ومن عبر الأردن وجمع كثير من صور وصيدا &#8230;. حتي وقع عليه ليلمسه كل من فيه داء والأرواح النجسة حينما نظرته خرت قدامه وصرخت قائلة : إنك أنت ابن الله &#8221;</p>
<p>لذا يعلن البولس تبرير الأمم بالإيمان بالمسيح كمدخل للخلاص ولايشترط تهودهم &#8221; ها أنا بولس أقول لكم : إنه إن اختتنتم لاينفعكم المسيح شيئا &#8230;. لأنه في المسيح يسوع لاالختان له استطاعة ولاالغرلة بل الإيمان العامل بالمحبة &#8221;</p>
<p>كما يؤكد أيضا الكاثوليكون علي أهمية الإيمان العملي بابن الله &#8221; وهذه هي وصيته أن نؤمن باسم ابنه يسوع المسيح ونحب بعضنا بعضا كما أعطانا وصية &#8221;</p>
<p>لذلك يعلن الإبركسيس قرار الآباء الرسل  في مجمع أورشليم بقبول الأمم وتبريرهم دون الإلتزام بالناموس أو التهود &#8221; أيها الأخوة الذين من الأمم افرحوا لأننا قد سمعنا أن قوما منكم قد خرجوا فأقلقوكم إذ يميلون أنفسكم بأقوال لم نقلها فقد رأينا واجتمعنا برأي واحد واخترنا رجلين وأرسلناهم إليكم مع حبيبينا برنابا وبولس &#8230;&#8230; لأن الروح القدس قد ارتضي ونحن أيضا  أن لانزيد عليكم ثقلا أكثر &#8221;</p>
<p>أما إنجيل القداس فيظهر عظمة نور إبن الله الذي يأتي إليه كل الشعوب الغريبة عن الإيمان &#8211; رجال هذا الجيل &#8211; فإذا كانت ملكة الحبشة في القديم قد أتت إلي سليمان لتسمع حكمته وإذا كانت نينوي قد قبلت كرازة يونان فكم بالأحري تقبل هذه الشعوب الغريبة من هو أعظم من يونان ومن سليمان &#8221; ملكة التيمن ستقوم في الدين مع رجال هذا الجيل وتدينهم لأنها أتت من أقاصي الأرض لتسمع حكمة سليمان وهوذا أعظم من سليمان ههنا رجال نينوي يقومون في الدين مع هذا الجيل ويدينونه لأنهم تابوا بمناداه يونان وهوذا أعظم من يونان ههنا &#8221;</p>
<p>أي أن قبول الأمم يظهر في إستعلان خلاصه لهم وركضهم نحوه بفرح                            ( مزمور عشية وباكر والقداس )</p>
<p>وإكتشافهم قوته الإلهية                                                                                               ( إنجيل عشية )</p>
<p>لذا يجتمع إليه الكل من كل ناحية                                                                                  ( إنجيل باكر )</p>
<p>وتبريرهم لايعني تهويدهم                                                                                      ( البولس والإبركسيس )</p>
<p>بل الإيمان العامل بالمحبة                                                                                          ( الكاثوليكون )</p>
<p>لذلك سيدين كل المؤمنين من الغرباء كل الرافضين من داخل البيت                                   ( إنجيل القداس)</p>
<p></p>
<p></p>
<h3>أفكار مقترحة لعظات</h3>
<p></p>
<p><strong>(١) قبول البشرية كلها الخلاص ( كيف نقبل الخلاص ونعيشه في حياتنا اليومية )</strong></p>
<p>١- السعي الدائم نحوه</p>
<p>&#8221; لأنه إليك يأتي كل بشر &#8221; مزمور القدَّاس</p>
<p>٢- التركيز في شخص إبن الله وخطورة ضعف الإيمان والتأثر بريح العالم</p>
<p>&#8221; فنزل بطرس من السفينة ومشي علي الماء ليأتي إلي يسوع ولمَّا رأي الريح خاف وإذ إبتدأ يغرق صرخ قائلاً : يارب نجني فللوقت مد يسوع يده وأمسكه &#8221; إنجيل عشيّة</p>
<p>٣- الثقة في لمسة الشفاء الإلهية وعمل جسده المقدَّس في توقف نزيف الخطية والضعف والمرض</p>
<p>&#8221; وقدموا إليه جميع السقماء وطلبوا إليه أن يلمسوا هُدب ثوبه فقط فجميع الذين لمسوه خلصوا &#8221;   إنجيل عشيّة</p>
<p>&#8221; حتي وقع عليه ليلمسه كل من فيه داء &#8221;  إنجيل باكر</p>
<p>٤- خطورة الإكتفاء بالشكل وعدم حفظ الوصيّة وضعف المحبّة</p>
<p>&#8221; لأنه في المسيح يسوع لا الختان له استطاعة ولا الغرلة بل الإيمان العامل بالمحبّة &#8221;  البولس</p>
<p>&#8221; يا أولادي لا نحب بالكلام ولا باللسان بل بالعمل والحق &#8230; لأننا نحفظ وصاياه ونعمل أمامه ما يرضيه &#8221;  الكاثوليكون</p>
<p>٥- حِفْظ الإنسان نفسه من دنس العالم وأصنامه</p>
<p>&#8221; احفظوا أنفسكم من ذبائح الأوثان &#8221;     الإبركسيس</p>
<p>٦- عِظَمْ الاشتياق البشري لحضور الله</p>
<p>&#8221; ملكة التيمن ستقوم في الدين مع رجال هذا الجيل وتدينهم لأنها أتت من أقاصي الأرض لتسمع حكمة سليمان وهوذا أعظم من سليمان ههنا &#8221;    إنجيل القدَّاس</p>
<p>٧- نقاوة وطهارة العين الجسدية والروحية</p>
<p>&#8221; سراج جسدك هو عينك فمتي كانت عينك بسيطة فجسدك كله يكون نيراً ومتي كانت شريرة فجسدك كله يكون مظلماً &#8221;    إنجيل القدَّاس</p>
<p><strong>(٢) حضور المسيح</strong></p>
<p>١- مصدر السلام                                                                          إنجيل عشيَّة</p>
<p>&#8221; ولما دخل السفينة سكنت الريح &#8221;</p>
<p>٢- مصدر الشفاء                                                                          إنجيل عشيَّة وباكر</p>
<p>&#8221; وطلبوا إليه أن يلمسوا هدب ثوبه فقط فجميع الذين لمسوه خلصوا &#8221;</p>
<p>&#8221; حتي وقع عليه ليلمسه كل من فيه داء &#8221;</p>
<p>٣- في وصيته وفِي عمل روحه القدّوس فينا                                          الكاثوليكون</p>
<p>&#8221; و من يحفظ وصاياه يثبت فيه و هو فيه و بهذا نعرف انه يثبت فينا من الروح الذي اعطانا  &#8221;</p>
<p>٤- رجاء كل إنسان                                                                          مزمور القدَّاس</p>
<p>&#8221; لأنه يأتي إليك كل بشر &#8221;</p>
<p>٥- أعظم من كل فلسفات العالم وحكمته البشرية                                   إنجيل القدَّاس</p>
<p>&#8221; ملكة التيمن ستقوم في الدين مع رجال هذا الجيل وتدينهم لأنها أتت من أقاصي الأرض لتسمع حكمة سليمان وهوذا أعظم من سليمان ههنا &#8221;</p>
<p>٦- أعظم من كل الآيات والمعجزات                                                     إنجيل القدَّاس</p>
<p>&#8221; رجال نينوي يقومون في الدين مع هذا الجيل ويدينونه لأنهم تابوا بمناداه يونان وهوذا أعظم من يونان ههنا &#8221;</p>
<p>٧- هو نور وسراج حياتنا</p>
<p>ليس احد يوقد سراجا و يضعه في خفية و لا تحت المكيال بل على المنارة لكي ينظر الداخلون النور.</p>
<p>لكن نوره لا يُوضَع في خفية ( الإلتواء وأساليب العالم ومعاملات الظلمة ) ولا تحت المكيال ( مشغولية البيع والشراء والممتلكات ) بل نور يشهد له الكل (مت ٥ : ١٤-١٦)</p>
<p><strong>( ٣ ) عِظَمْ الإشتياق وحساسية التبكيت</strong></p>
<p>١- عِظَمْ الإشتياق لحضور الله ونعمته</p>
<p>&#8221; ملكة التيمن ستقوم في الدين مع رجال هذا الجيل وتدينهم لأنها أتت من أقاصي الأرض لتسمع حكمة سليمان وهوذا أعظم من سليمان ههنا &#8221;</p>
<p>يُبَكِّتنا الله بملكة تسافر سفراً طويلاً وشاقاً لتسمع حكمة ملك أرضي ويعاتبنا قائلاً : هوذا أعظم من سليمان ها هنا</p>
<p>فهل نحن مثل يعقوب الذي صارع حتي الفجر أم مثل عروس النشيد التي إعتذرت بأنها غسلت أرجلها فكيف توسخهما ؟</p>
<p>هل نقول مع داود النبي &#8221; كما يشتاق الإيل إلي جداول المياه هكذا تشتاق نفسي إليك يا الله &#8221; (مز١:٤٢)</p>
<p>أم نعتذر مثل من رفضوا الدعوة بأني قد إشتريت خمسة أزواج بقر وأنا ماضٍ لأمتحنها (لو ١٤ : ١٩)</p>
<p>٢- حساسية التبكيت</p>
<p>&#8221; رجال نينوي يقومون في الدين مع هذا الجيل ويدينونه لأنهم تابوا بمناداه يونان وهوذا أعظم من يونان ههنا &#8221;</p>
<p>ليتني أتعلم من أهل نينوي حساسية التبكيت والإستجابة السريعة لكلمة الله ونداء التوبة بدلاً من أن أتفحص ما يُقال لي وأحاول الهروب من مواجهه الكلمة بدلاً من بساطة الإستجابة للوصية وحساسية التبكيت</p>
<p>فهل أتعلم من العشارين والخطاة الذين قبلوا تبكيت يوحنا المعمدان أم أنا أفتخر بالشكل والمكانة والرتبة مثل الكتبة والفريسيين عن الإحتياج اليومي الدائم للتوبة ومراجعة النفس وقبول مراجعة الله لي عن طريق من حولي</p>
<p></p>
<p></p>
<h3>عظات آبائية</h3>
<p></p>
<p><strong>القديس كيرلس الأسكندري</strong></p>
<p></p>
<h4>شرح إنجيل القداس حسب تعليم القديس كيرلس الإسكندري</h4>
<p></p>
<p>لأنه طالما كان إسرائيل متمسكاً بعادات آبائه ، وكان يُظهِر في أخلاقه نموذج الحياة الفاضلة التي كانت له في إبراهيم وإسحق ويعقوب ، فإنه كان كأنه في حضن الله ، أي تحت رعايته وحمايته ، ولكن بتخليه عن فضيلة أجداده ، فإنه صار كأنه أبرص ، وسقط في النجاسة لأن الأبرص هو نجس بحسب ناموس موسي ، ولكن عندما قبله الله ثانية ، ووضعه تحت حمايته ، فانه تخلَّص من برصه ، وخلع عنه نجاسة الحياة المصرية (الوثنية) .ولما حدثت هذه المعجزات أمامهم ، فإنهم صدَّقوا موسي عندما قال :&#8221; الرب إله آبائكم أرسلني إليكم &#8221; (خر٣: ١٥) .</p>
<p>لذلك لاحظوا ، إنهم لم يتخذوا من إظهار المعجزات سبباً لتصيُّد الخطأ . فلم يشتموا موسي الإلهي ، ولم يجمحوا بلسان متسِّيب ويقولوا إنه صنع المعجزات التي صنعها أمامهم بواسطة بعلزبول ، ولم يطلبوا آية من السماء محتقرين أعماله المقتدرة .</p>
<p>ولكن ها أنت تنسب إلي بعلزبول أعمالاً مكرَّمة ومعجزية ، ولم تخجل من أن تأتي بآخرين وبنفسك أيضاً إلي الهلاك عن طريق تلك الأمور نفسها (المعجزات) التي كان ينبغي أن تجعلك تحصل علي إيمان ثابت بالمسيح .ولكنه لن يعطيك آية آخري لكي لا يعطي القدسات للكلاب ولا يطرح الدُرر أمام الخنازير .</p>
<p>لأنه كيف يمكن لهؤلاء المفترين بشدة علي المعجزات التي صنعها (المسيح) أمامهم للتو ، أن يستحقوا معجزات أكثر ؟ بل علي العكس فنحن نلاحظ الكرَّامين المهرة حينما يجدون أن الأرض بطيئة في إعطاء الثمر ، فإنهم يرفعون يدهم عنها ، ويرفضون أن يحرثوها مرة أخري ، حتي لا يتكبدوا خسارتين معاً :خسارة تعبهم ، وخسارة البذار .ومع ذلك ، فقد قال ، إنه ستُعطّى لهم آية يونان فقط والتي يقصد بها الآلام على الصليب والقيامة من الأموات .</p>
<p>لأنه يقول :&#8221; كما كان يونان في بطن الحوت ثلاثة أيام وثلاث ليال ، هكذا يكون ابن الإنسان في قلب الأرض ثلاثة ليال&#8221; (مت١٢: ٤٠) . ولكن لو أنه كان ممكناً أن المسيح لا يريد أن يقاسي الموت بالجسد على الصليب لما كانت قد أُعطِيَت هذه الآية لليهود ، ولكن حيث إن الآلام التى احتملها لأجل خلاص العالم كانت لابد منها ، فقد أُعطِيَت هذه الآية لأولئك العديمي الإيمان لأجل دينونتهم . وأيضاً عندما كان يكلِّم اليهود في مرَّة أخرى قال لهم :&#8221; انقضوا هذا الهيكل وأنا في ثلاثة أيام أقيمه&#8221; (يو٢: ١٩) .وكما أتصوره ، فان إبطال الموت وملاشاة الفساد بالقيامة الموت — التي هي آية عظيمة جدّاً تدل علي قوة الكلمة المتجسد وسلطانه الإلهي — يتم البرهنة عليها بشكل كافٍ بالنسبة للناس الجادين ، بواسطة جنود بيلاطس الذين عُيِّنوا لحراسة القبر ، وقد رشوهم بأموال كثيرة ليقولوا إن تلاميذه أتوا ليلاً وسرقوه (مت٢٨: ١٣) .</p>
<p>فهي إذن آية ليست بدون منفعة ، بل هي كافية لإقناع كل سكان الأرض أن المسيح هو الله ، وأنه قاسي الموت في الجسد بإرادته وحده . إذ أنه أمر رباطات الموت أن ترحل وأباد الفساد . أما اليهود فلم يؤمنوا أيضاً بالقيامة ، ولهذا السبب قيل عنهم بحق ، إن &#8221; ملكة التيمن ستقوم في يوم الدين ضد هذا الجيل &#8221; .</p>
<p>وهذه المرأة رغم أنها بربرية ، فقد بحثت بشغف لتسمع سليمان ، ولهذا الغرض سافرت مسافة طويلة جداً لتصغي إلي حكمته في طبيعة الأمور المنظورة والحيوانات والنباتات . أما أنتم فرغم أنكم حاضرون الآن وتستمعون إلي الحكمة ذاته ، الذي أتي إليكم متحدثاً عن أمور غير منظورة وسماوية . وهو يؤكد ما يقوله بالأعمال والمعجزات ، فإنكم تتحولون بعيداً عن كلامه ولا تبالون بطبيعة كلامه العجيبة . فكيف إذن لا يكون هنا أعظم من سليمان ، أي في شخصي أنا ؟ وأرجوا أن تلاحظوا ثانية مهارة لغة الرب : فلماذا يقول &#8221; هنا &#8221; ولا يقول &#8221; فيَّ أنا &#8221; ؟ هو يقول ذلك لكي يحثنا أن نكون متضعين حتي لو كانت قد وُهِبت لنا مواهب روحية .</p>
<p>وإلي جانب ذلك فإنه من المحتمل أن لو سمعه اليهود يقول : &#8221; يوجد أعظم من سليمان في شخصي أنا &#8221; ، لكانوا قد تجرّأوا أن يتكلموا عليه بطريقتهم المعتادة ويقولون</p>
<p>&#8221; انظروا إنه يقول إنه أعظم من الملوك الذين تملكوا علينا بمجد &#8221; .</p>
<p>لذلك ، فالمخلِّص — لأجل التدبير — يستخدم لغة مناسبة ويقول &#8221; ها هنا &#8221; بدلاً من &#8221; فيَّ أنا &#8221; . ويضيف الرب على ذلك قائلاً : إن رجال نينوي سيقومون يوم الدين ويدينون اليهود . لأنهم كانوا شرسين وأمميين ولا يعرفون الرب الذي هو الله بالطبيعة وبالحق ، ولم يسمعوا قط أية نبوات من موسي ، وكانوا يجهلون عظمة أخبار النبوة ، ومع أن هذه كانت هي حالتهم الذهنية إلاَّ أنهم تابوا بمناداة يونان ، كما يقول الرب . إذن فقد كان هؤلاء الرجال أفضل جدَّاً من الإسرائيليين ، وسوف يدينهم . ولكن انصتوا إلى الكلمات نفسها : &#8221; رجال نينوي سيقومون في الدين مع هذا الجيل ويدينونه لأنهم تابوا بمناداة يونان ، وهوذا أعظم من يونان ههنا<a href="#_ftn1" name="_ftnref1">[1]</a> &#8221; .</p>
<p></p>
<p></p>
<h4>القديس ديديموس الضرير</h4>
<p></p>
<p><strong>خلاص الأمم</strong></p>
<p>هكذا قال رب الجنود: هأنذا أخلص شعبي من أرض المشرق ومن أرض مغرب الشمس، ليس فقط شعب الختان وإنما الشعب الذي من كل الأمم الذين يؤمنون بالرب المعلن في الأنجيل. قديمًا كان الشعب بالحق من أمة واحدة، من العبرانيين&#8230; حسب شهادة موسى: &#8220;حين قسم العلي للأمم، حين فرّق بني آدم، نصب تخومًا لشعوب حسب عدد بني إسرائيل، إن قسم الرب هو شعبه، يعقوب جبل نصيبه&#8221; (تث ٣٢ : ٨-٩)… كما قيل: &#8220;ويكون في ذلك اليوم أن أصل يسى القائم راية للشعوب إياه تطلب الأمم ويكون محله مجدًا&#8221; (إش ١٠ : ١١) ؛ (رو ١٥ : ١٢) &#8230; &#8220;تهللوا أيها الأمم شعبه&#8221; (تث ٣٢ : ٤٣).</p>
<p>فلم يعد هذا الشعب هو شعب العبرانيين وحدهم وإنما معهم من يعبدون الرب ويخدمونه كما تنبأ المزمور: &#8220;كل الأمم تتعبد له&#8221; (مز ٧٢ : ١١) ، وفي نص آخر: &#8220;كل الأمم الذين صنعتهم يأتون ويسجدون أمامك يا رب ويمجدون اسمك&#8221; (مز ٨٦ : ٩) ، وأيضًا: &#8220;تذكر وترجع إلى الرب كل أقاصي الأرض وتسجد قدامك كل قبائل الأمم، لأن للرب المُلك وهو المتسلط على كل الأمم&#8221; (مز ٢٢ : ٢٧ &#8211; ٢٨)… ويعلن الإنجيل عن إتحاد البشر من كل بلد بذكره كلمات المخلص: &#8220;كثيرون سيأتون من المشارق والمغارب ويتكئون مع إبراهيم وإسحق ويعقوب (مت ٨ : ١١).</p>
<p>هذه الدعوة موجهة إلى كل جهات العالم. يضاف إلى هذا ما قيل: &#8220;إله الآلهة الرب تكلم ودعا الأرض من مشرق الشمس إلى مغربها&#8221; (مز ٥٠ : ١)…  متى تكلم إله الآلهة ودعا الأرض من المشارق إلى المغارب؟ عندما ترك شعب الختان لأنهم جحدوا المخلص ملك الملوك بقولهم: &#8220;ليس لنا ملك إلاَّ قيصر&#8221; (يو ١٩ : ١٥) ، &#8220;دمه علينا وعلى أولادنا&#8221; (مت ٢٧ : ٢٥). فبصلبهم للسيد المسيح سقطوا وانتهت عبادة الحرف، واستطاع الرب أن يقول لهم: &#8220;ليس ليّ مسرة بكم قال رب الجنود ولا أقبل تقدمة من يدكم لأنه من مشرق الشمس إلى مغربها إسمي عظيم بين الأمم وفي كل مكان يقرب لإسمي بخور وتقدمة طاهرة لأن إسمي عظيم بين الأمم&#8221; (ملا ١: ١٠ -١١ )<a href="#_ftn2" name="_ftnref2">[2]</a></p>
<p></p>
<p></p>
<p><strong>القديس باسيليوس الكبير</strong></p>
<p></p>
<h4>معني الدينونة للقديس باسيليوس الكبير</h4>
<p></p>
<p>&#8221; الرب يدين الشعوب&#8221; (مز٧: ٨). الحديث عن الدينونة مُنتشِر في مواضع كثيرة في الكتاب المقدس، بكونه تعليمًا أساسيًا ومقنعًا بالنسبة للديانة الحقيقية لمن يؤمن بالله في المسيح يسوع</p>
<p>وردت كلمة &#8220;دينونة&#8221; (ومشتقاتها) بمعانٍ كثيرةٍ، مما يُسَبِّب ارتباكًا للذين لا يُمَيِّزون بدقةٍ بين المعاني&#8230;</p>
<p>كلمة &#8220;يدين&#8221; تُستخدَم أحيانًا في الكتاب المقدس بمعنى الاستحسان، كما في العبارة: &#8220;احكم لي يا رب إن سرت في براءتي&#8221;. إذ يكمل: &#8220;جَرِّبني يا رب وامتحننّي&#8221;</p>
<p>أيضًا تعني &#8220;إصدار حكم&#8221;، كما في العبارة: &#8220;إن حكمنا على أنفسنا، فلا يُحكَم علينا&#8221; راجع (١كو ١١: ٣١). إن امتحنا أنفسنا حسنًا، لا نخضع للدينونة</p>
<p>مرة أخرى قيل إن الرب يدخل في المحاكمة مع كل جسدٍ (إر ٢٥: ٣١) ، أي في فحصه الأعمال في حياة كل أحدٍ يُخضِع نفسه للمحاكمة، ويقارن وصاياه بأعمال الخطاة، مدافعًا عن نفسه ببراهين مؤكدًا أنه يفعل كل شيءٍ من أجل خلاص الذين يُدَانون، حتى يقتنع الخطاة أنهم يستحقُّون ما يحلّ عليهم من عقوبة بسبب خطاياهم، ويدركون العدالة الإلهية، ويقبلون بإرادتهم العقوبة التي تحل بهم</p>
<p>لازال يوجد معنى آخر لكلمة &#8220;يدين&#8221;، وذلك كقول الرب: &#8220;ملكة الجنوب ستقوم في يوم الدين وتدين هذا الجيل&#8221; (مت ١٢: ٤٢)  .إنه يقول إن الذين يرفضون التعليم الإلهي، ولا يُحِبُّون النبلاء والصالحين، بل ويهجرون تمامًا التعاليم التي تُعلِّم الحكمة، فبمقارنتهم وتضادهم لمن كانوا في جيلهم أكثر غيرة نحو النبلاء والصالحين، ينالون دينونة أقسى بسبب الأمور التي أهملوها.</p>
<p>أعتقد أن الذين لهم هذا الجسد الترابي لا يُدَانون بطريقة واحدة، بواسطة الديَّان العادل متى كانت لهم عوامل خارجية متباينة تمامًا عن غيرهم، لهذا فإن الحُكْمَ يتفاوت من حالةٍ إلى أخرى</p>
<p>الظروف التي نحن فيها ليست في سلطاننا، بل وُجِدنا فيها بغير إرادتنا، مما يجعل خطايانا قد تكون أكثر خطورة أو أخف في حدّتها</p>
<p>تخيَّل إدانة الزنا، فالإنسان الذي سقط فيه منذ بداية حياته بممارسات شريرة ووُجِد مع والدين فاسقين، ونشأ بعادات شريرة كالسُكْرِ والعربدة وسماع قصص مُخزِية، بينما آخر كان يقوم بتحدٍّ للتمتُّع بأمورٍ سامية للغاية، ونال تعليمًا وكان له مدرسون، واستمع إلى وصايا إلهية أكثر، وتمتَّع بقراءات مفيدة ونصائح من الوالدين، وأنصت إلى قصصٍ تحثّ على الجدّية وضبط النفس وانتهاج أسلوب حياة راقيًا، فإن اندفع الأخير نحو الخطية مثل الأول، فإنه إذ يُقَدِّم حسابًا عن حياته، كيف يمكن لمثل هذا أن يكون غير مستحقٍ لعقوبة أشد بمقارنته بعقوبة الأول؟! يُتَّهَم أحدهما (الأخير) على أساس أنه لم يستخدم الميول المغروسة في أفكاره باستقامة. أما الآخر فيُتَّهم &#8211; بالإضافة إلى ذلك – أنه غرَّر بنفسه في وقت قصير بالرغم من نواله عونًا لخلاصه، وعدم ضبط نفسه وعدم حرصه</p>
<p>بنفس الطريقة أيضًا من تدرَّب منذ بداية حياته على التقوى والهروب من كل انحرافٍ عن تعاليم الله، ونشأ في شريعة الله التي تهاجم كل خطية وتدعو إلى عكسها، لا يكون له عذر إن عبد الأصنام مثل من تربَّى على يدي والدين فَضوِليين، أو مثل أناسٍ تعلَّموا منذ البداية عبادة الأوثان<a href="#_ftn3" name="_ftnref3">[3]</a></p>
<p></p>
<p></p>
<h4>القديس يعقوب السروجي</h4>
<p></p>
<p>تطلع الاستعلان من الله على (يونان) النبي، ليذهب يرد الشعوب الأممية إلى التوبة.</p>
<p>أرسله إلى نينوى ليدعو بانقلاب خيراتها، لكي بتهديدها تبطل الشرور.</p>
<p>قال له: قم، أمضِ، وأكرز هناك لأهل نينوى، وتكلم في آذانهم بالكرازة التي أقولها لك&#8230;</p>
<p>لو أراد الله أن يضرب نينوى بسبب كثرة آثامها، لما أرسل إليها لتبتعد عن الشرور.</p>
<p>لو وضع وجهه ليؤذيها حقيقة، لأرسل الغضب بغتةً وضربها.</p>
<p>أرسل إليها لكي تشعر بالموقف، وتطلب المراحم لتخلصها.</p>
<p>رفع يده ليضرب ويهلك النائمة، ودعاها وأيقظها حتى لا تُلطم في نومها&#8230;</p>
<p>استيقظت الغيرة على العدالة ضد الشقية، وأرسل إليها بالنعمة لتستيقظ بالتوبة.</p>
<p>خرج الغضب على المدينة ليهلكها، وتقدم الحنان وغلق الأبواب ولم يدخله.</p>
<p>لولا وجود هذه المراحم، ما الحاجة أن يُرسل الكارز.</p>
<p>أرسله إلى المكان ليرده من الشرور، وبالتوبة يكون له راحة، ولا يحل الفساد&#8230;</p>
<p>لما عرفوا أن الغضب حال من العلي، هربوا منه، والتجأوا إلى التوبة&#8230;</p>
<p>جاهدوا بصفوف الصوم ضد الغضب، ولبسوا المسوح ليدخلوا الحرب التي ثارت ضدهم. أقاموا جانب البٌر بصومهم، ولبس الكبير والصغير الآلام بسبب الرعب&#8230; سأله الملك فلم يداهنه. طلب منه فلم يهدأ من تهديداته&#8230;</p>
<p>بماذا يرضي سيدك الغاضب كما تقول؟ إن أمكن اسأل معنا من أجل الغضب، وعن الأسباب التي أعدت الحربة لتهديدنا. عملنا بأية وسيلة يبطل الغضب عنا&#8230;</p>
<p>جعل الرجال والنساء والأطفال يمسكون بالصوم، كل واحدٍ حسب قوته، ليصطفوا للقتال مقابل الغضب&#8230;</p>
<p>صوم عظيم يبطل الغضب العظيم! كل الشعب يلبسون المسوح، هم وبهائمهم&#8230;</p>
<p>بالطلبة الكثيرة يستريح رب الديون. الرماد هو الغنى، هذا يليق بالملك ليتزين به. البكاء هو الذهب، به تُمحى جميع الصكوك&#8230;</p>
<p>قم أيها النشيط من الطلبة، وافرح معنا.</p>
<p>أيها الحكيم غيِّر مسوحك، لأن الغضب قد بطل.</p>
<p>قم من الرماد لأن الرب ارتضى بتقربنا إليه. اختم طلبتك، لأن المدينة تغطت بالمراحم<a href="#_ftn4" name="_ftnref4">[4]</a>.</p>
<p></p>
<p></p>
<h3>عظات آباء وخدَّام معاصرين</h3>
<p></p>
<h4>قداسة البابا تواضروس الثاني</h4>
<p></p>
<p><strong>الهروب إلى مصر</strong></p>
<p>هذا الفصل يتحدث عن الهروب إلى مصر &#8230; ولكن لماذا مصر بالذات ؟</p>
<p>١ – إنها ليست أقرب البلاد لليهودية &#8230;</p>
<p>٢ – الطريق إليها مملوء مخاطر ومتاهات .</p>
<p>٣ – ثم أن الرحلة شاقة لرجل شيخ ولمريم الصبية حاملة رضيعها .</p>
<p>ولكن :</p>
<p>هذا هو كلام النبوة : &#8221; من مصر دعوت ابنى &#8221; (هوشع ١١ : ١) . ووجود كنيستنا حتى هذا اليوم كائن في سر هذه الزيادة</p>
<p>العجيبة (إشعياء ١٩) .</p>
<p>ما هو المبدأ الروحى وراء ذلك ؟</p>
<p>إنه مبدأ الهروب من وجه الشر ، فهذا هو بداية الانتصار .</p>
<p>الهروب من : أماكن الشر ، أفكار الشر ، وأصدقاء الشر .</p>
<p>مثال  :      يوسف الصديق</p>
<p>أغسطينوس</p>
<p>داود من وجه شاول</p>
<p>الهروب ليس خوفاً من الموت بدليل أن المسيح مات راضياً على الصليب ، بل الهروب كمبدأ هو : عدم مقاومة الشر<a href="#_ftn5" name="_ftnref5">[5]</a> .</p>
<p></p>
<p></p>
<h4>المتنيح الأنبا أثناسيوس مطران كرسي بني سويف والبهنسا</h4>
<p></p>
<p><strong>الفريسيون يطلبون آية : (مت ۱۲ : ۳۸ &#8211; ٤٥)</strong></p>
<p>على الرغم من كل الآيات التي عمل قدامهم فانهم يقولون له : &#8220;نريد أن نرى منك آية &#8220;وكثيرا ما تحدث آيات ومعجزات ولكن الناس ينسونها ولا يتغيرون عن طريقهم . وذلك لأنهم غير مستعدين لتغيير حياتهم . وكثيرا ما تتغير حياة الناس دون آیات فالأساس استعداد الإنسان للتغيير وطلبه اياه . ولذلك رد السيد عليهم بأنهم لا يحتاجون الا لآية الفداء لكي يتغيروا عن طبيعتهم . فعلينا أن نركز على تقديم المسيح فاديا للناس ، وليس على أي شيء آخر كالمعجزات أو المواهب . فأهل نينوى الذين تابوا ببشارة يونان لم يروا معجزة ، وملكة التيمن اخلصت في طريقها فجاءت الى حكيم عصرها سليمان ، وأما الفريسيون و الكتبة فقلوبهم بعيدة عن التوبة ولذلك لم يتوبوا على الرغم من وجود الرب بينهم .</p>
<p>( آية ٤٠ ) وقد يسال البعض كيف نطبق الثلاثة أيام والثلاث ليال التي قضاها يونان في بطن الحوت على الرب يسوع ؟</p>
<p>والاجابة : أن اليهود يعتبرون الجزء من اليوم يوما كاملا &#8221; يوم وليلة &#8221; ( أنظر أستير ٤:١٦ ،٥: ١) . أواخرذلك الإنسان : (مت ۱۲: ٤٣ &#8211; ٤٥)</p>
<p>يقول الرب هنا : أن النعمة التي قدمها للناس طاردة للشياطين ولكن اذا لم يشبع الانسان بالمسيح بالايمان ، ويمتليء به فان عدو الخير يعود ليمتلكه . وكأنه يقول لهم : أنني أعطيكم امكانية الخلاص ، ولكنكم رفضتموها ليعود العدو فيمتلك عليكم أكثر من الأول .</p>
<p>أخوة الرب : (مت ۱۲ : ٤٦ &#8211; ٥٠)</p>
<p>كان اليهود يسمون أولاد العمومة أخوة ، وكانت مريم أم يعقوب ويوسي وسمعان ويهوذا بنت خالة السيدة العذراء، ولذلك اعتبرتا أختين وسمى أولادهما أخوة (أنظر مت ۱۳ : ٥٥، ٥٦،مر ٦ : ۳ ، يو ۱۹ : ٢٥ ، مر ١٥ : ٤٠) فحين يقول هنا أن أمه وأخوته وقفوا خارجا يطلبونه ، لا يقصد أشقاءه بل أخوته بالمعنى العام .</p>
<p>وما أحلى رده اذ اعتبر تلاميذه والمؤمنين به أهله وهكذا لا يليق بالخادم أن يتمسك بالرياطات الجسدية . بل يعتبر الأسرة هي الأسرة الروحية حتى يمكنه أن يعتني بالنفوس ، وان يقودها النمو كما أنه لا يليق بنا أن نفتخر بأقاربنا القديسين لأننا ان لم نعمل مثلهم لا نستفد من قرابتهم شيئا . أما أن سلكنا بالروح فلنا شركة مع القديسين في الأرض وفي السماء<a href="#_ftn6" name="_ftnref6">[6]</a>.</p>
<p></p>
<p></p>
<h4>المتنيح القمص تادرس البراموسي</h4>
<p></p>
<p><strong>الاحد الثانى من شهر طوبة المبارك</strong></p>
<p></p>
<p>انتظر إذا لئلا يكون النور الذى فيك ظلام (لو ١١ – ٢٧ – ٣٦)</p>
<p>كان الرب يسوع يتكلم أمام قوم يعطون الروابط الأسرة أهمية كبيرة جدأ . فأن أنسابهم ضمان هام لهم . أنهم جزء من المجتمع أن الرجل يستمد قيمته من أجداده . أما المرآة فتستمد قيمتها من أولادها كانت إجابة الرب يسوع للمراة تعنى أن شخصية الإنسان أهم بكثير من مكانته في شجرة العائلة وأن الرب يسوع قد أوضح أن أهمية المرأة تفوق مجرد قدرتها على ولادة البنيين أختار الرب يسوع قصة يونان النبى كمدخل لموته وقيامته . وكان يونان ينادى بالتوبة للأمم وليس لليهود . وكان الرب يسوع يؤكد بذلك أن رسالته ليس لليهود فقط بل للبشر أجمعين .</p>
<p>تاب أهل نينوى الأشوريين القساة وتابت ملكة سبا ومجدت الله عندما سمعت عن حكمة سليمان مع أن سليمان كان ملئ بالأخطار لكن كان على النقيض من ذلك . جاء المسيح ابن الله الكامل القدوس الذى أحب العالم ومات لأجل الجميع رفضه اليهود وقبله الأمم . النور هو الرب يسوع والعين تمثل الفهم الروحى وأن الشهوة هي الرغبة الشرهة وغير الطبيعة لا شيء وليس الخطية فقط وتكون عمياء من نور وجود الله حاسباً نفسك هل أعمتك الرغبة لكى تبعد عن الرب يسوع .</p>
<p>صرخت المرأة تطوب الرب يسوع والبطن الذى حمله والثديين الذين رضعهما بمعنى أن قيام الأسرة وتهذيبها على الأم . التي تربى وتعلم وتهذب . لكن الرب يسوع طوب الذين يسمعون كلام الله ويحفظونه وأبتدأ كالعادة يضرب لهم الأمثال . عن نينوى وعن سليمان وعن المسيح أعظم من يونان وسليمان ومن حولهم وابتدأ يعلم الإنسان أن يحترس من نوافذ جسده أي العين وما تفعله العين وخطواته على الجسد فأن كانت العين شريرة فالجسد كله يكون مظلماً . وأعمال الإنسان تظهر . ليروا أعمالكم الصالحة وليمجدوا أباكم الذى في السموات .</p>
<p></p>
<p><strong>العظة الأولى</strong></p>
<p>أ – ليشهد بأعمالنا الجميع</p>
<p>ب – تطويب السامعين العاملين</p>
<p>ج – أظهار الداء وأعطاء الدواء</p>
<p>د – مثل حى في توبة نينوى</p>
<p>ه &#8211; السعي للحصول على التوبة</p>
<p>و – الرياء في التوبة لا خفى ألا ويعلن</p>
<p>ذ – يتقدس الجسد بالكلية</p>
<p>ح – قمع الحواس والبعد عن النظرات</p>
<p>ط – تمجيد الرب في أرواحنا وأجسادنا</p>
<p>ى – حياة القداسة في التوبة الصادقة</p>
<p></p>
<p><strong>العظة الثانية</strong></p>
<p>أ -شهادة البعيدين عن الممالك</p>
<p>ب – فرح في السماء بتوبة الخطاه</p>
<p>ج – الجيل الشرير يحتاج للحكمة والتدبير</p>
<p>د – السعي وراء التوبة وسعى التوبة اليه</p>
<p>ه &#8211; حفظ الجسد ونقاوة القلب</p>
<p>و – الحزر من الغرور والسير في النور</p>
<p>ذ – كن عالى الهمة لتملئ بالنعمة</p>
<p>ح – تمجيد الوالدين والسلوك الأمين</p>
<p>ط – السعي وراء الخلاص لتعيش مرفوع الرأس</p>
<p></p>
<p><strong>العظة الثالثة</strong></p>
<p>أ – امرأة وتطويب وأله وتهذيب</p>
<p>ب – شعب شرير ونبى نذير</p>
<p>ج – ملكه وأشتياق لطلب الديان</p>
<p>د – نور وضياء وكشف الخفاء</p>
<p>ه &#8211; النظرة الشريره وتعطيل المسيرة</p>
<p>و – أحزر الغرور وأبعد عن الشرور</p>
<p>ذ – صوت الرب يناديك وعن الشر ينهيك</p>
<p>ح – كن مطيع لئلا تفرز من القطيع</p>
<p>ط – بالتوبة والخلاص تضمن الميراث</p>
<p>ى – السعي إلى الفضيلة وثمارها الجليلة<a href="#_ftn7" name="_ftnref7">[7]</a></p>
<p></p>
<p></p>
<h4>المتنيح القمص لوقا سيداروس</h4>
<p></p>
<p>الأحد الثانى من شهر طوبه</p>
<p>(لو ١١: ٢٧ – ٣٦)  كلام الله</p>
<p>&#8221; وفيما هو يتكلم بهذا رفعت أمرأة صوتها من الجمع وقالت . طوبى للبطن الذى حملك والثديين الذين رضعتهما . أما هو فقال : بل &#8221;  طوبى للذين يسمعون كلام الله ويحفظونه &#8221; .</p>
<p>+ المسيح المبارك ينقلنا مباشرة من الأعجاب بكلام الله والتأثر الوقتى ، إلى التطويب الحقيقى للذين يسمعون كلام الله ويحفظونه .</p>
<p>+ فيبدوا أن هذه المرأة أعجبت بكلام الله . أنفعلت ورفعت صوتها تمدح الرب وتطوب البطن الذى حمله والثديين الذين رضعتهما &#8230; ولكن المسيح يرفض أن تطوب العذراء فقط لأنها ولدت المسيح ، بل لأنها بالحقيقة اتحدت بالرب ، وسمحت الكلمة وقبلتها وعاشتها إلى كل الملء . بل نقول أنه ليس من استوعب كلان الله في الأرض ولا في السماء قدر العذراء القديسة التي حملت الكلمة الأزلى في بطنها تسعة شهور .</p>
<p>+ ولكن دعنا نتأمل موقفنا من سماع الكلمة الإلهية ، وموقفنا من حفظها في حياتنا وفى أعمالنا ، ومدى تأثير حياتنا ومعاملاتنا – فنحن كثيراً ما تأثرنا بالكلمة وما أعجبنا بالعظات وكثيراً ما وقفنا موقف هذه المرأة في انفعالها الوقتى ولكن في الحقيقة كلام الله للحياة ، وليس بمجرد السماع مثل كلام الناس ، ولكن كلمة الله تؤكل أكلا حقيقياً وتحيا في الداخل وتثمر وتعمل مسرة الله .</p>
<p><strong>كيف نأكل الكلمة ؟</strong></p>
<p>أكل الكلمة</p>
<p>قال الرب لحزقيال النبى في رؤياه المشهورة : &#8221; كل ما أنا معطيه &#8230; فنظرت فإذا بيد ممدودة إلى. وإذا بدرج سفر فيها فنشره أمامى وهو مكتوب من داخل ومن قفاه وكتب فيه مراث ونحيب وعويل &#8230; ففتحت فمى فأ طعمنى ذلك الدرج وقال لى يا بن آدم أطعم بطنك وأملأ جوفك من هذا الدرج الذى أنا معطيه ، فأكلت فصار في فمى كالعسل &#8221;  نبوة (حز ٢ ، ٣) . كثيراً ما أمتدت أمامنا هده اليد الحاملة السفر الإلهى &#8230; &#8221; ومددت يدى طول النهار &#8230; &#8221; ، وكثيراً ما نشره الرب أمام أعيننا وفى كل مرة كنا نرحب بالإنجيل فنقرأه وندرسه بانتظام ومواظبة ونناقش بجدة في تفاصيل الآيات والأحداث &#8230; بل وكثيراً ما نتباهى بأننا نحفظ أجزاء كثيرة وآيات &#8221; هذه كلها حفظتها منذ حداثتى &#8221; . وفى كل هذه المرات لم يتعد الإنجيل كونه سفراً مكتوباً يقرأ كباقى الكتب التي في العالم . وإلى هذا الوقت لم تكن النفس قد سمعت صوت القائل &#8221; كل ما أنا معطيه &#8221; . وإلى هذا الوقت لم تكن النفس انتبهت لحقيقة الإنجيل انه يؤكل &#8230; هنا تقف الحكمة البشرية كعادتها مضادة للإيمان ومعطلة للحياة .</p>
<p><strong>كيف يكون هذا ؟ أكل الكلام ؟</strong></p>
<p>هنا نحتاج إلى إيمان حزقيال ، في بساطة وسهولة يقول : &#8221; فتحت فمى فأطعمنى &#8230; &#8221; . الآن لم يعد أكل الكلمة شيئاً عسيراً كما في القديم . الكلمة صار جسداً &#8230; الكلمة أصبحت ملموسة مرئية على مستوى الإنسان . نحن الآن نفتح فمنا فيطعمنا الرب جسد الكلمة ، جسد المسيح &#8230;</p>
<p><strong>طوبى للجياع</strong></p>
<p>ولكن يستحيل الإنسان أن يفتح فمه للأكل إن لم يجمع ويشتهى إن الجوع إلى أكل الكلمة الإنجيل سو عريزة روحية في إنساننا الباطن . تنبأ عنها النبى في القديم ، &#8221; تأتى أيام يكون فيها جوع لا إلى الخبز ، بل إلى كلمة الرب &#8221; . لقد استبدل الرب جوعنا إلى الخبز المادى بشهوة وجوع إلى كلمة الرب &#8230; إن عطش أحد فليقبل إلى &#8230; لماذا ننسى الوصايا ؟ ولماذا تضيع منا كلمة الإنجيل ؟ لأننا نكتفى بقراءتها فقط . الكلمة تؤكل وتملأ جوف الإنسان وفراغه.</p>
<p><strong>فصارت في فمى كالعسل حلاوة</strong></p>
<p>كلمة الإنجيل شهية جداً جداً للذين أكلوها &#8221; اشهى من العسل والشهد في فمى &#8230; &#8221; كلماتك حلوة لحلقو كثيراً ما تكون الكلمة لذيذه في أفواهنا ونحن نتكلم بها للآخرين أو نرددها للمخدومين ، ولكن ليس هذا هو المقصود . حلاوة الكلمة ومذاقها الشهى حينما يأكلها الإنسان سراً من يد الله &#8230; حينما يطعمها الله نفسه . فأطعمنى &#8230; فصار فمى كالعسل حلاوة &#8221; مثل طفل يتقبل طعامه من يد أبيه &#8230; &#8221;</p>
<p>+ اجعل هذا التدريب يومياً لحياتك &#8230; اجلس أمام مجد الله في داخل نفسك في مخدعك .. وافتح فمك بتوسل أن يطعمك الرب كلمة الحياة من يده فتتلذذ بالدسم نفسك .</p>
<p><strong>هدف الكلمة</strong></p>
<p>عندما تؤكل الكلمة وتصل إلى جوف الإنسان وتستقر داخله تعمل عملاً عجيباً في الإنسان الباطن . أن كلمة الله نور وروح وحياة &#8221; سراج لرجلى كلامك &#8221; الكلام الذى أكلمكم به هو روح وحياة الإنسان الذى يأكل الكلمة تنير الكلمة داخله وتحى هواته لا يعود يسلك في الكلمة ، ولا تغشاه رائحة الأعمال الميتة . الكلمة بنورها تكشف لنا عن طبيعة الله ، وعن حبه وخلاصه وتدابيره الخفية التي يستحيل على الإنسان أن يدركها بذاته أو بقوته&#8230; لذلك إذاً أكل الإنسان الكلمة واستوعبها يكون كمن أدخل الله إلى بيته مثل بطرس وزكا &#8230; يستنير ويتغير ويكتشف وجود الله .</p>
<p>+ حينما نأكل الكلمة نتحرك داخلياً نحو الحق الإلهى ، الكلمة حيه وفعالة &#8230; طاقة إلهية رهيبة &#8230; عندما يأكلها الإنسان تحرك الداخل &#8230; تغمر طاقات جديدة في الإنسان تظل معطلة بدون كلمة الحياة ، لا توجد حركة داخلية بدون أكل الكلمة قوة الكرازة والعمل الروحى كائنه في الكلمة الحية . التناقض بين وصية الإنجيل والسلوك العملى مصدره عدم أكل الكلمة وتخرينها في العقل ، وستظل هذه الثنائية قائمة طالما كانت الكلمة حبيسة العقل البشرى<a href="#_ftn8" name="_ftnref8">[8]</a> &#8230;</p>
<p></p>
<p></p>
<h3>من وحي قراءات اليوم</h3>
<p></p>
<p>وهوذا أعظم من سليمان هاهنا &#8211; إنجيل القداس</p>
<p>ها هو ههنا ، يدعوك يامن تبحث عنه خارجاً عنك</p>
<p>ها هو ههنا ، ينتظرنك يا من تهرب منه في آبار العالم (أر ٢ : ١٣)</p>
<p>ها هو ههنا ، يقرع بابك يا من تلهث وراء أبواب البشر</p>
<p>ها هو ههنا ، سائراً معك في طريق الحياة وأنت لا تدركه (لو ٢٤ : ١٦)</p>
<p>ها هو هنا ، في إحتياجات أولاده (مت ٢٥ : ٣٥)</p>
<p>هو أعظم من تعزيات تتلمسها في كلمات البشر</p>
<p>هو أقرب لقلبك من أحاسيس أقرب الناس إليك</p>
<p>هو الأضمن للحاضر والغد من أي مخاوف مهما كانت</p>
<p>طرقاته علي بابك هادئة (رؤ ٣ : ٢٠) ، وصوته منخفض خفيف (١مل ١٩ : ١٢) ، وعينيه لا تفارقك (مز ٣٢ : ٨)</p>
<p>هو دائماً ههنا !</p>
<p></p>
<p></p>
<p></p>
<h3>المراجع:</h3>
<p></p>
<p><a href="#_ftnref1" name="_ftn1"></a>١- تفسير إنجيل لوقا للقديس كيرلس الإسكندري &#8211; ترجمة الدكتور نصحي عبد الشهيد</p>
<p><a href="#_ftnref2" name="_ftn2"></a>٢- المرجع : تفسير سفر زكريا ( الإصحاح الثامن ) &#8211; القمص تادرس يعقوب ملطي</p>
<p><a href="#_ftnref3" name="_ftn3"></a>٣- المرجع : تفسير يشوع بن سيراخ الإصحاح السادس عشر &#8211; القمص تادرس يعقوب ملطي</p>
<p><a href="#_ftnref4" name="_ftn4"></a>٤- المرجع : تفسير مزمور ٧٩ &#8211; القمص تادرس يعقوب ملطي</p>
<p><a href="#_ftnref5" name="_ftn5"></a>٥- المرجع : كتاب المنجلية القبطية الأرثوذكسية ( صفحة ٢٢٩ ) &#8211; قداسة البابا تواضروس الثاني</p>
<p><a href="#_ftnref6" name="_ftn6"></a>٦- المرجع : دراسات في الكتاب المقدس &#8211; إنجيل متي ( صفحة ١٧٦ ، ١٧٧) &#8211; الأنبا أثناسيوس مطران كرسي بني سويف والبهنسا</p>
<p><a href="#_ftnref7" name="_ftn7"></a>٧- المرجع : كتاب تأملات وعناصر روحية في آحاد وأيام السنة التوتية الجزء الأول صفحة ٦٠ &#8211; إعداد القمص تادرس البراموسي</p>
<p><a href="#_ftnref8" name="_ftn8"></a>٨- المرجع : كتاب تأملات روحية في قراءات أناجيل آحاد السنة القبطية صفحة ١٧٢ &#8211; القمص لوقا سيداروس &#8211; كنيسة مار جرجس سبورتنج</p>
<p></p>
<p></p>
<p></p>

      {% endcreateArticleAccordions %}
    </section>
  {% endblock %}
  