---
layout: 'layouts/reading.html'
title: 'الأحد الثالث من طوبة'
permalink: sundays/5-3.html
---
  {% block content %}
    <section id="readings">
      <ul>
      {% if '19.77:18-19' != 'null' %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">العشية</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeVespers '19.77:18-19' '43.5:1-18' %}
          </div>
        </div>
      </li>
      {% endif %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">باكر</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeMatins '19.97:6,4' '43.3:1-21' '' %}
          </div>
        </div>
      </li>
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <h3 class="flex items-center justify-between">
            <span class="kufi">القداس</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </h3>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeLitugy '58.10:19-39' '62.4:11-21' '44.2:38-45' '19.66:12,8' '43.3:22-36' %}
          </div>
        </div>
      </li>
        </ul>
    </section>
    <section id="article">
      <h3 class="mt-8 mb-4 heading-explain">شرح القراءات</h3>
      {% createArticleAccordions firstName, lastName %}
        <p></p>
<p></p>
<p></p>
<p>&#8221; آمن بالرب يسوع المسيح فتخلص أنت وأهل بيتك وكلماه وجميع من في بيته بكلمة الرب فأخذهما في تلك الساعة من الليل وغسلهما من الجراحات، واعتمد في الحال هو والذين له أجمعون &#8221; (أع ١٦: ٣١-٣٣)</p>
<p>&#8221; الَّذِي مِثَالُهُ يُخَلِّصُنَا نَحْنُ الآنَ، أَيِ الْمَعْمُودِيَّةُ. لاَ إِزَالَةُ وَسَخِ الْجَسَدِ، بَلْ سُؤَالُ ضَمِيرٍ صَالِحٍ عَنِ اللهِ، بِقِيَامَةِ يَسُوعَ الْمَسِيحِ، &#8221; (١بط ٣ : ٢١)</p>
<p>&#8221; الإله الوحيد جاء إلي الأردن والصورة التي فسدت وماتت بالخطيّة جددها مرة أخري بعماد الماء &#8221; ذكصولوجية عيد الغطاس</p>
<p></p>
<p></p>
<h3>ملاحظات على قراءات اليوم</h3>
<p></p>
<p>+ قراءة إنجيل باكر (يو ٣ : ١ &#8211; ٢١ ) هي نفس قراءة إنجيل قدَّاس يوم ١٤ بابه (يو ٣ : ١ &#8211; ٢١ ) ،</p>
<p>وتُشبه قراءة إنجيل باكر (يو ٣ : ١٤ &#8211; ٢١ ) لليوم الثاني لعيد الصليب وهي القراءة التي تتكلَّم عن المعمودية مجيئها اليوم ،</p>
<p>ويوم ١٤ بابه للتركيز علي لقاء الرب مع نيقوديمرس والحديث عن المعمودية ( من آية ١ &#8211; ١٤ )</p>
<p>أمَّا مجيئها ثاني يوم عيد الصليب فهو لأجل الكلام عن الصليب ومقارنته بالحية النحاسية</p>
<p>+ قراءة الكاثوليكون اليوم (١يو ٤: ١١ &#8211; ٢١ )</p>
<p>تُشبه قراءة الكاثوليكون (١يو ٤: ١٥ &#8211; ٢١ ) ليوم ٢٩ مسري ( شهادة أثناسيوس الأسقف ) ، وتُشبه قراءة الكاثوليكون ( ١يو ٤ : ١٥ &#8211; ٥ : ١ &#8211; ٤ ) ليوم ٣٠ كيهك ، والأحد الثالث من بشنس ، وقراءة الكاثوليكون ( ١يو ٤ : ٧ &#8211; ١٩ ) ليوم ٢٤ بشنس والكلام هنا اليوم عن إرسالية إبن الله لخلاص العالم والأمم ( في ٢٤ بشنس ،والأحد الثالث من طوبه ) ، والإعتراف بالمسيح وعدم الخوف ( شهادة أثناسيوس الأسقف ) ، وعن المولودين من الله ( ثاني يوم عيد الميلاد وتذكار القديس يوأنس قمص شيهيت ) في ٣٠ كيهك ، أمَّا مجيئها في الأحد الثالث من بشنس للإشارة إلي الإعتراف بالمسيح والثبات في محبته كمدخل لبركات الخلاص</p>
<p>+ تكرار آية &#8221; جُزنا في النار والماء &#8221; في مزمور قدَّاس اليوم وفي مزمور قدَّاس يوم ١٠ بشنس ( تذكار الثلاثة فتية القديسين )</p>
<p>مجيئها اليوم لأجل الإجتياز في الماء إشارة إلي المعمودية موضوع قراءة هذا الأحد</p>
<p>أمَّا مجيئها يوم ١٠ بشنس لأجل الإجتياز في النار إشارة إلي إحتمال الآلام لأجل الإيمان</p>
<p>+ قراءة إنجيل قدَّاس اليوم (يو ٣ : ٢٢ &#8211; ٣٦) تُشبه قراءة إنجيل باكر (يو ٣ : ٢٢ &#8211; ٢٩) ليوم ١٠ طوبه ( برمون عيد الغطاس ) ، ويأتي جزء منها (يو ٣ : ٢٥ &#8211; ٢٩ ) في قراءة إنجيل باكر ليوم ٢ بؤونه ( تذكار وجود عظام يوحنا المعمدان ) والحديث عن يوحنا المعمدان صديق العريس ، بالإضافة إلي الحديث ( في الآيات الزائدة من ٢٢- ٢٤ ) عن معمودية يوحنا ومعمودية الرب</p>
<p>والكلام هنا اليوم عن المعمودية، والآيات الزائدة للكلام عن عطيَّة الروح القدس التي أخذناها في المسيح له المجد بمعموديته من يوحنا وهي موضوع قراءة هذا الأحد</p>
<p></p>
<p></p>
<h3>شرح القراءات</h3>
<p></p>
<p>بعدما أعلن الرب خلاصه للأمم في الأحد الأول وإختار مصر كباكورة البركة للأمم</p>
<p>وبعدما فرحت الأمم بظهوره الإلهي وجاءت إليه من كل الشعوب في الأحد الثاني</p>
<p>يأتي الأحد الثالث بفتح باب القبول وتهيئه المدخل لكل الشعوب لنوال البركات الإلهيه من خلال &#8221; التوبة والمعمودية &#8221;</p>
<p>لذلك تتركز قراءات هذا الأحد علي التوبة والمعمودية كبداية الدخول للشركة مع الله ونوال الحياة الأبدية</p>
<p>فيبدأ مزمور عشية بإستنارة المسكونة بالبرق الإلهي وظهور الكلمة المتجسد وطريقه ومسلكه الإلهي في مياه المعمودية ( أضاءت بروقك المسكونة &#8230;. ومسالكك في المياه الكثيرة )</p>
<p>ويتكلم مزمور باكر عن معاينه كل الشعوب مجده الإلهي ( ورأي جميع الشعوب مجده أضاءت بروقه المسكونة )</p>
<p>أما مزمور القداس فيجسد مايحدث في المعمودية من فعل نار الروح القدس في مياه المعمودية لدخولنا إلي الراحة الإلهية وهو دعوة لكل للشعوب لتسبيح الرب وتمجيده ( جزنا في النار والماء وأخرجتنا إلي الراحة باركوا أيها الشعوب إلهنا واسمعوا صوت تسبيحه )</p>
<p>أما إنجيل عشية فيتكلم عن البشرية المطروحة المنتظرة ملاكا يحرك الماء كما أن شفاء أي إنسان بعد تحريك الماء إشارة إلي معمودية العهد الجديد التي فيها المياه المتحركة بفعل الروح القدس لتهب قيامة وشفاء ( في هذه كان مطروحا كثير من المرضي &#8230;. يتوقعون تحريك المياه &#8230; وكل من ينزل أولا بعد تحريك الماء كان يبرأ من كل مرض فيه &#8230; قال له يسوع : قم احمل سريرك وامش فحالا برئ الرجل وحمل سريره ومشي )</p>
<p>بينما يعلن الرب بوضوح في إنجيل باكر عن الولادة الثانية من الماء والروح ويدعو الكل لقبول وليمة الحب الإلهي في الصليب وعطية الشفاء من الخطية مثلما شفي الشعب في القديم من لدغات الحيات ( أجاب يسوع وقال له : الحق الحق أقول لك : إن كان أحد لايولد من الماء والروح لايقدر أن يدخل ملكوت الله &#8230;. وكما رفع موسي الحية في البرية هكذا ينبغي أن يرفع ابن البشر &#8230;. هكذا أحب الله العالم حتي بذل ابنه الوحيد لكي لايهلك كل من يؤمن به بل تكون له الحياة الأبدية )</p>
<p>لذلك يؤكد البولس علي أهمية التوبة وأن التوبة الدائمة هي تجديد لفعل المعمودية كما يحذر من خطورة الإرتداد عن النعمة بل حرصنا الدائم علي حياة التوبة وقبول التجارب بصبر ( فلندخل بقلب صادق ويقين الإيمان مرشوشة قلوبنا من ضمير شرير ومغتسلة أجسادنا بماء نقي &#8230;.. ولنلاحظ بعضنا بعضا للتحريض علي المحبة والأعمال الحسنة &#8230;.ولكن تذكروا الأيام الأولي التي فيها استنرتم وصبرتم علي الآلام الكثيرة بجهاد عظيم &#8230; أما البار فبالإيمان يحيا وإن ارتد لاتسر به نفسي وأما نحن فلسنا من أهل الارتداد والهروب المؤدي إلي الهلاك بل من أهل الإيمان لإحياء النفس )</p>
<p>أما الكاثوليكون فيطالب كل الذين أخذوا الطبيعة الجديدة بالمعمودية أن يعيشوا وينموا في المحبة الإلهية وأن يثبتوا فيه ( بهذا نعلم أننا نثبت فيه وهو يثبت فينا أنه قد أعطانا من روحه &#8230;. ونحن قد علمنا وصدقنا المحبة التي لله فينا الله محبه ومن يثبت في المحبة يثبت في الله &#8230;. نحن نحب الله لأنه هو أحبنا أولا &#8230;. ولنا هذه الوصية منه أن : من يحب الله يحب أخاه أيضا )</p>
<p>بينما يعلن الإبركسيس علي لسان القديس بطرس دعوة الكنيسة في كل جيل للكل لقبول الإيمان والعضوية في جسد المسيح بالتوبة والمعمودية كما يظهر عمل نعمة الروح القدس في الكرازة ( فقال لهم بطرس : توبوا وليعتمد كل واحد منكم علي اسم يسوع المسيح لغفران خطاياكم فتقبلوا موهبة الروح القدس لأن الموعد هو لكم ولأبنائكم &#8230;. وبأقوال أخر كثيرة كان يشهد لهم ويعظهم قائلا : اخلصوا من هذا الجيل الملتوي فالذين قبلوا الكلام اعتمدوا وانضم في ذلك اليوم نحو ثلاثة آلاف نفس )</p>
<p>لذلك يختم إنجيل القداس بالحديث عن المعمدان وكيف أعد النفوس للعريس الحقيقي وشهادته الصادقه لمعمودية إبن الله المعطية حياة أبدية ( فجاءوا إلي يوحنا وقالوا له : يامعلم هوذا الذي كان معك في عبر الأردن الذي أنت قد شهدت له هو يعمد والجميع يأتون إليه &#8230;.أنتم تشهدون لي أني قلت لكم : لست أنا المسيح بل أرسلت أمام ذاك &#8230;.. لأنه ليس بكيل يعطي الله الروح الآب يحب الابن وقد دفع كل شئ في يديه ومن يؤمن بالإبن فله حياة أبدية )</p>
<p>وتتعجَّب عندما تعرف أن قراءات أيَّام شهر طوبه التالية لعيد الغطاس التي شهد فيها يوحنا عن المسيح له المجد أنه العريس تجدها تتكلَّم هي أيضاً عن المسيح العريس والعُرْس الذي أعدَّه للبشرية وكأن شعار هذه الفترة للظهور الإلهي هي فرح البشرية بعريسها السماوي</p>
<p></p>
<p></p>
<h3>قراءات هذه الأيام</h3>
<p></p>
<p>بعد عيد الغطاس وكمال خدمة يوحنا المعمدان صديق العريس والفرح الذي كَمُلَ بعماد السيد وإنفتاح السماء وظهور مجد إبن الله وبداية العُرس السماوي ( قراءات عيد الغطاس ) نأتي مباشرة إلي عُرْس قانا الجليل ( إنجيل القداس ) وحضور الله فيه ثم إنتظار السيد متي يرجع من العرس في تذكار أنبا أنطونيوس ( إنجيل القداس ) وبعدها عُرْس المرأة الذي فيه دخلن المستعدات الي العرس ( انجيل القداس ) ويختم بالدعوة للدخول للفرح والعُرْس السماوي في تذكار أنبا بولا ( انجيل باكر )</p>
<p>( من له العروس فهو العريس وأما صديق العريس الذي يقف ويسمعه يفرح فرحاً من أجل صوت العريس )</p>
<p>إنجيل باكر برمون الغطاس</p>
<p>( وفِي اليوم الثالث كان عرسُُ في قانا الجليل وكانت أم يسوع هناك ودُعي أيضاً يسوع وتلاميذه إلي العرس )</p>
<p>إنجيل قدّاس عُرْس قانا الجليل</p>
<p>( وأنتم أيضاً تشبهون أناساً ينتظرون سيدهم متي يعود من العرس حتي إذا جاء وقرع يفتحون له في الحال )</p>
<p>إنجيل قدّاس ٢٢ طوبي تذكار الأنبا أنطونيوس</p>
<p>( وفيما هُن ذاهبات ليبتعن جاء العريس والمستعدات دخلن معه إلي العرس وأغلق الباب )</p>
<p>إنجيل قدّاس ٣٠ طوبي تذكار بستيس وهلبيس وأغابي</p>
<p>( كنت أمينا في القليل فأقيمك علي الكثير أدخل إلي فرح سيدك )</p>
<p>إنجيل باكر ٢ أمشير تذكار الأنبا بولا</p>
<p>أي أنه هو عريس البشرية ( عيد الغطاس ) وهو آتياً من عُرْس ( أنبا أنطونيوس ) وداعياً إلي عُرْس ( أنبا بولا ) ومُحقِّقاً علي أرضنا عُرْساً ( عرس قانا الجليل ) وداخلاً معنا إلي العُرس الأبدي ( بستيس وهلبيس وأغابي )</p>
<p></p>
<p></p>
<h3>ملخَّص القراءات</h3>
<p></p>
<p>أي أن المعمودية هي طريق المسكونة للإستنارة بمجد الله من خلال الصبغة بالنار والماء ( مزمور عشية وباكر والقداس ) وهي رجاء كل المطروحين بسبب الخطية في إنتظار إفتقاد إبن الله ( إنجيل عشية )</p>
<p>وهي دعوة الحب الإلهي من الآب للكل لنوال الحياة الأبدية ( إنجيل باكر )</p>
<p>والتي حققها عريس البشرية بشهادة المعمدان ( إنجيل القداس )</p>
<p>وتدعو لها دائما الكنيسة ( الإبركسيس )</p>
<p>وتجديد فعلها في توبة دائمة ( البولس )</p>
<p>ومحبة كاملة  ( الكاثوليكون )</p>
<p></p>
<p></p>
<h3>أفكار مقترحة لعظات</h3>
<p></p>
<p><strong>(١) لماذا معمودية العهد الجديد ؟</strong></p>
<p>١- باب الملكوت ( إن كان أحد لا يولد من الماء والروح لا يقدر أن يدخل ملكوت الله ) إنجيل باكر</p>
<p>٢- تجديد الكيان الإنساني كله من سلطان الشر والفساد ( مرشوشة قلوبنا من ضمير شرير ومغتسلة أجسادنا بماء نقي )  البولس</p>
<p>٣- من خلال التوبة والمعمودية ينال الإنسان مغفرة الخطايا ويتأهّل لقبول موهبة الروح القدس</p>
<p>( توبوا وليعتمد كل واحد منكم علي اسم يسوع المسيح لغفران خطاياكم فتقبلوا موهبة الروح القدس )   الإبركسيس</p>
<p><strong>( ٢ ) مُعطيا الناقص كرامة أفضل (وإني أنا أنقص)</strong></p>
<p>١- إسحق ( الناقص في رزقه وفي خيره المادي )</p>
<p>تنازع الفلسطينيون مع أبونا إسحق علي آبار المياه أكثر من مرة وكان يتركها لهم لذلك أعطاه الله الكثير لدرجة أنه سمي المكان رحوبوت قائلاً قد أرحب لنا الرب</p>
<p>٢- ليئة وراحيل ( الناقص في الجسد والمظهر )</p>
<p>كانت راحيل أجمل من ليئة أختها وأحبها يعقوب وكانت هي الأفضل في عينيه</p>
<p>ولكن الله أعطي ليئة أطفالاً وخاصة يهوذا الذي أتي من نسله المسيح له المجد ولاوي الذي إختار الله نسله ليختص بالكهنوت وخدمة الهيكل</p>
<p>٣- حنة أم صموئيل ( الناقص في إنجاب الأطفال )</p>
<p>لم يكن لها أولاد وبالمقارنة بضرتها فننة التي كان عندها أطفال كثيرة وكانت تُغيظها وتُضايقها فأعطاها الله صموئيل الذي صار قاضياً لكل اسرائيل وماسح الملوك</p>
<p>٤- المرأة التي أعطت الفلسين ( الناقص في إمكانياته )</p>
<p>جاءت إلي الهيكل وهي تظن أن عطيتها ناقصة وتقدمتها بسيطة بالمقارنة بعطايا وتقدمات الآخرين وإذا بها تتفاجأ بشهادة الرب لها أمام الكل بعظم عطيتها أكثر من كل الذين قدموا الكثير</p>
<p></p>
<p></p>
<h3>عظات آبائية</h3>
<p></p>
<h4>القديس كيرلس الأسكندري</h4>
<p></p>
<p>إن الابن ليس في عداد المخلوقات، بل هو فوق الجميع إله من إله</p>
<p>(يو٣: ٣١) &#8221; الذي يأتي من فوق هو فوق الجميع &#8220;.</p>
<p>يقول المعمدان إنه ليس بشئ عظيم، ولا بفائق العجب،أن يفوق المسيح مجد الطبيعة البشرية، فهو يفوق كل مجد،ولا يضع الحدود لمجده الذاتي، بل هو فوق كل الخليقة فهو إله &#8220;فوق الجميع&#8221;، فوق كل المخلوقات لا باعتباره معدودا ضمنها، بل مستثنى منها جميعا، والله هو القائم فوق الكل إلها ويضيف المعمدان السبب لكي يخزي به كل مناقض ويسكت كل معترض: &#8220;الذي يأتي من فوق هو فوق الجميع&#8221;. أي أن ذاك الذي يولد من الأصل الذي من فوق، إذ له في ذاته بالطبيعة صلاح الآب، يعترف به أن له الكيان الذي &#8220;فوق الجميع&#8221; لأنه من المستحيل أن يظهر الابن مختلفا عن الذي ولده، وخلاف ما ندركه نحن عنه وبصواب، لأن الابن الذي هو من ذات الطبيعة، وهو بهاء ورسم صورة الآب، كيف يكون أقل من الآب في المجد؟ ألن تهان طبيعة الآب الذاتية في الابن، ونهين صورة المولود ، إن حسبناه أقل؟ لكنني أظن أن هذا الأمر سيصير ظاهرا للكل، أليس مكتوبا أيضا، &#8220;لكي يكرم الجميع الابن كما يكرمون الآب.</p>
<p>من لا يكرم الابن لا يكرم الآب&#8221; (یو٥ :۲۳)، وذاك الذي يمجد بكرامة مساوية مع الله الآب، بسبب كونه منه، كيف لا يعتبر فائقا على جوهر المخلوقات؟ لأن هذا ما يعنيه القول &#8221; فوق الجميع&#8221;، لكني أتصور أن ذهن مقاومي المسيح لن يتوقف، بل سنراهم يأتون كعادتهم باستمرار ويثرثرون قائلين: (إن قال المعمدان أن الرب قد جاء من فوق فما الذي يجبرنا أن نفترض أنه جاء من جوهر الآب، بسبب قوله &#8220;من فوق&#8221; إذ أنه لم يقل &#8220;من السماء&#8221; أو حتى من تفوقه الكامن، هو فوق الجميع، ومن ثم؛ ولهذا السبب يظن أنه فوق الجميع؟) فإن كانوا يبادرونا بتلك الكلمات، فأنهم سيسمعون بدورهم أننا لا نتبع تعليلاتكم الفاسدة أيها المتكبرين، بل بالأحرى نتبع الكتب  الإلهية وهي الكتابات المقدسة وحدها. فعلينا أذاً أن نبحث فيها كيف تحدد لنا معنى عبارة &#8220;من فوق&#8221;.</p>
<p>فليسمعوا إذا لابس الروح صارخا كل عطية صالحة وكل موهبة تامة هي من فوق، نازلة من عند أبي الأنوار&#8221; (يع١٧:١). ولهذا فإنه يقول صراحة إن عبارة &#8220;من فوق&#8221; معناها من الآب، وإذ يعلم أن لا شئ آخر يفوق المخلوقات عدا طبيعة الله التي تفوق الفهم فأنه بصواب يلحق بها عبارة &#8220;من فوق&#8221; لأن كل الأشياء الأخرى واقعة تحت نير العبودية، عدا الله وحده الذي يعلو عن أن يكون تحت حكم أي شئ، بل هو الذي يحكم ويسود ومن ثم فهو بالحق &#8220;فوق الجميع&#8221;. والإبن إذ هو بالطبيعة الله ومن الله، لا يستبعد من هذا المجد، لكن إن كنتم تظنون أن &#8220;من فوق&#8221; ينبغي أن تؤخذ على أساس أنها تعني من السماء، فإنها يمكن أن تستعمل عن كل ملاك أو قوة عقلية، لأنهم يأتون إلينا من السماء وهم الذين يسكنون المدينة التي هي فوق وهم &#8221; يصعدون وينزلون على ابن الإنسان&#8221; كما يقول المخلص في (يو٥١:١).</p>
<p>فما الذي جعل المعمدان المبارك إذا أن ينسب إلى الابن وحده وبوجه خاص، ما كان في سلطان الكثيرين، وكواحد من الآتين من فوق، يدعوه بالذي &#8220;يأتي من فوق&#8221;، إذا من المؤكد أنه كان ينبغي أن يجعل تلك الكرامة عامة للباقين، فيقول &#8220;الذين جاءوا من فوق هم فوق الجميع&#8221;. لكنه يعلم أن هذا التعبير إنما هو يحق للابن الوحيد وحده الصادر من الأصل الفائق.</p>
<p>لهذا فإن &#8220;من فوق&#8221; لا تعني من السماء، بل نفهمها في تقوى وبالحق، بالمعنى الذي سبق وأوردناه، لأنه كيف يكون &#8220;فوق الجميع&#8221; إن كانت عبارة &#8220;من فوق&#8221; لا تعني من الآب، بل من السماء؟ لأنه إن كان الأمر كذلك، فأن كل ملاك من الملائكة يكون &#8220;فوق الجميع&#8221; باعتباره آت من هناك. لكن إن كان أي ملاك من الملائكة لا يعد من بين &#8220;الجميع&#8221; فمن الذي سيتبقى منهم في النهاية ليكون ضمن الجميع؟ أو كيف تبقى كلمة &#8220;الجميع&#8221; كما هي ثابتة ولا تضيع، محتفظة بمعناها بدقة ، إذا أخرجنا جمع الملائكة عن حدود &#8220;لفظة&#8221; الجميع؟ ولا تعود تبقى كلمة &#8220;الجميع&#8221; كما هي إن ظل جمع الملائكة خارج الذين هم في &#8220;الجميع&#8221;. لكن الكلمة الذي أشرق من الله الآب بكيفية تفوق الإدراك له ميلاده الخاص &#8220;من فوق&#8221;ولكونه من جوهر الآب كما من ينبوع، فأنه لا يمكن أن يجعل مجيئه مناقضا للفظة &#8220;الجميع&#8221;، إذ نرى أنه يتجاوز حدود أن يكون محسوبا بين الجميع&#8221; كما لو كان جزءا منهم.</p>
<p>بل بالحري يكون هو &#8220;فوق الجميع&#8221;، إذ هو الآخر الذي يختلف عنهم، بالطبيعة وبما يليق بقدرة الله، وكل الخصائص الأخرى التي لذلك الذي ولده. لكن ربما يقولون. وقد أربكتهم سخافة نتيجة البحث: &#8220;من فوق&#8221; لا تعني من السماء، بل من حال تفوقه على الجميع، تفوقا متأصلا فيه . إذا هيا بنا نفحص بأكثر دقة مدى قوة ما يقال لكي نرى الغاية التي يهدفون إليها من جدلهم هذا.</p>
<p>أولاً من الحماقة تماما، ومن عدم الفهم، القول إن الابن جاء من &#8220;كرامته الذاتية&#8221;، وكما لو كان قادما من مكان ما أو من كائن ما، وهو نفسه يأتي من سموه الذاتي ليكون فوق الجميع. بالإضافة إلى ذلك، فأني استفسر منهم، من جهة السمو فوق الجميع، هل هم يتقدمون بهذا السمو للابن جوهريا ودون تردد ، أم أنهم يفترضون أن هذا السمو مضاف إليه من الخارج بحسب طبيعة الحدث. فإن قالوا إنه اكتسب السمو اكتسابا، وأنه مكرم بكرامات من خارج.</p>
<p>فإن المرء يلتزم بأن يقر أن الابن الوحيد يمكنه أن يوجد مجردا من المجد ويمكن أن تنتزع منه النعمة المكتسبة (كما يسمونها)، وأن يحرم من أن يكون &#8220;فوق الجميع&#8221; فيظهر عاريا من السمو الذي يعجبون هم به الآن، لأن ما هو عارض يمكن أن يفقد إذ هو لا يخص جوهر صاحبه. لذلك فسوف يكون هناك تغيير وتبديل في الابن. وبذلك يكون مرتل المزامير كاذبا حينما يسبح عبثاً بهذه الكلمات؟ &#8220;السماوات هي عمل يديك. هي تبيد وأنت تبقى، وكلها كثوب تبلى، كرداء تغيرهن فتتغير. وأنت هو وسنوك لن تنتهي&#8221; (مز٢٦:١٠٢، ٢٧).</p>
<p>فكيف يكون هو كما هو، إن كان يتبدل ويتغير نحو الأسوأ، ويبدو وكأنه باطلاً يمجد ذاته قائلاً لأني أنا الرب لا أتغير (مل٣ : ٦) &#8220;ولا يوجد إله غيري&#8221; (أش٥:١٤ س)، وان كان الابن يتغير، فكيف لا يكون هذا التغير هو في الآب نفسه أيضا، إذ أن الإبن هو رسم جوهر الآب، ومثله تماما؟ إذا متغيرا كذلك وتصير السيادة فوق الجميع بالنسبة له ناشئة بالنمو: وإني أكتفي بهذا، لأن ما يخص الصورة هو بالضرورة يخص الأصل لكنهم لن يقولوا إن الذى له له السيادة من الخارج (وهم يرتعدون أمام هذه الصعوبات أيضا وأمام سخافات مجادلتهم)، هي سيادة جوهرية وغير متغيرة.</p>
<p>إذا أيضا أيها الحكماء جدا كيف لا توافقونا . حتى ولو كان ضد رغبتكم . أن الابن إذ هو بالطبيعة الله، &#8220;فوق الجميع&#8221; إذ هو من الجوهر الوحيد الذي لله الآب، فالابن هو &#8220;فوق الجميع&#8221; كآخر غير &#8220;الجميع&#8221;، وله سيادته الجوهرية فوق الجميع، وهو ليس من ذات الطبيعة مع الجميع، ولذلك فهو الإله الحقيقي، لأن الذي هو منفصل جوهريا عن جموع الكائنات المخلوقة، وهو بالطبيعة لا يحسب في عداد المخلوقات، فمن يكون هو الله؟ فليس هناك أمامنا من طريق آخر فيما يخص الجوهر الفريد، لأن الخليقة هي تحت سيادة الله، ونحن نفهم أن الله هو فوقها.إذا إن كان الابن هو وقد ولد من الله الآب بكيفية تفوق الإدراك، فإن عبارة &#8220;من فوق&#8221; تعني من طبيعة الآب، ولهذا فإن الابن الوحيد هو &#8220;فوق الجميع&#8221; إذ أنه هو أيضا من تلك الطبيعة ذاتها.</p>
<p>&#8221; والذي من الأرض هو ارضي، ومن الأرض يتكلم&#8221;.</p>
<p>يقول المعمدان إن الأرضي ليس له نفس التأثير من جهة قوة الإقناع مثل الذي هو إله فوق الجميع، لأن &#8220;الذي من الأرض&#8221; يتكلم كإنسان، ويحسب فقط أنه مجرد مرشد، يسلم لتلاميذه مشاعر الرغبة في الإيمان، لكن &#8220;الذي يأتي من فوق&#8221; كإله، إذ يتحدث بنعمة إلهية لا ينطق بها، فأنه يبعث بها في أسماع أولئك الذين يأتون إليه. لكن بقدر ما هو بالطبيعة فائق، هكذا بالأكثر جدا هو يفوق كل الناس في فاعليته في العمل بكل تأكيد. لهذا كان المبارك يوحنا المعمدان ينفع تلاميذه بتلك الأقوال إذ بعد أن رأوا مجد المخلص يتفوق على مجد معلمهم. وقد تعثروا الآن عثرة ليست بقليلة، جاءوا إليه قائلين: يا معلم، هوذا الذي كان معك في عبر الأردن، الذي أنت قد شهدت له، هو يعمد، والجميع يأتون إليه&#8221; (يو ٢٦:٣).</p>
<p>لہذا قام المتسربل بالروح ليقطع أوصال ذلك الاستياء وليزرع في تلاميذه مفهوما روحيا نافعا لصحتهم الروحية عن أمور غاية في الأهمية، فراح يشرح لهم سمو معنى أن المخلص هو فوق الجميع، ويعرفهم أيضا السبب الذي جعل كل الناس يأتون إلي الرب. ويتركون المعمودية بالماء، متجهين إلى تلك المعمودية الإلهية الكاملة، أي المعمودية التي بالروح القدس.</p>
<p>(یو٣٢:٣): &#8220;الذي يأتي من السماء هو فوق الجميع&#8221;.</p>
<p>يقول المعمدان إن ذلك يشهد أن هناك فرقا عظيما جدا وغير قابل للمقارنة بين أولئك الذين من الأرض وبين كلمة الله الذي يأتي من فوق. ومن السماء. فأن لم أكن أنا الإنسان المناسب للتعليم، ولم تكفكم كلمتي وحدها، فإن الابن نفسه سيؤكدها، ويشهد كيف أن المولود من الأرض يختلف عن &#8220;البدء&#8221; الذي هو فوق الجميع اختلافا يفوق الإدراك، لأنه إذ كان المخلص يجادل اليهود الأشرار ففي موضع ما قال لهم: &#8220;أنتم من أسفل، أما أنا فمن فوق&#8221; (يو٢٣:٨)، لأنه يقول إن طبيعة المخلوقات التي هي من &#8220;أسفل&#8221; تكون خاضعة وبالضرورة ومستعبدة لله الذي يخلقها ويدعوها إلى الوجود : لكنه يطلق عبارة &#8220;من فوق&#8221; أيضا على الطبيعة الإلهية الربانية والتي تفوق الفهم، إذ أنها تخضع كل المخلوقات، تحت نير سلطانها. إن المعمدان الطوباوي لم يضف تلك الأمور هكذا بلا معنى، ولأن تلاميذه يمكنهم أن يفترضوا أنه يخترع مجادلات فارغة من عنده، وبسبب خوفهم من أن يبدو أدنى من المسيح، لذلك فأن يوحنا يدعوه &#8220;أعظم&#8221; أو &#8220;من فوق&#8221; وأنه هو نفسه &#8220;من أسفل&#8221; ومن الأرض، فإنه وهو يؤكد ذلك مما قاله المخلص نفسه يختم على صدق ، قيل، ويوضح أن شرحه ليس كما تصوروا هم، مجرد عذر فارغ بل هو بالحري كشف للحق.</p>
<p>لكن لما كان الجزء التالي للآية هو &#8220;وما رآه وسمعه به يشهد&#8221; فإننا سنناقش بضع أشياء قليلة عن هذا الأمر أيضا. فقد نشأنا واعتدنا أن نقبل البرهان الكامل على كل شئ، وذلك بنوع خاص عن طريق حاستين، أقصد بهما النظر والسمع لأننا بشهادة الأذن وشهادة العين نتحدث آنذاك بالإيجاب عن أي أمر. وإذ يقنعهم المعمدان بالإسراع إلى الإيمان بالمسيح لأنه يقول &#8220;إن المسيح يتكلم بما يعرفه بدقة&#8221; فإنه يتخذ من مماثلته لنا توضيحا لكي نفهم الأمر بشكل إلهي أكثر، فيقول وما رآه وسمعه به يشهد &#8220;.</p>
<p>&#8221; وشهادته ليس أحد يقبلها &#8221; .</p>
<p>فالمعمدان الطوباوي يقول هذا، ليس لأن أحدا لا يقبل &#8220;الشهادة&#8221; أن المسيح هو الله بالطبيعة، وأنه قد أتى من فوق من الآب،وأنه فوق الجميع ، لان كثيرين قد قبلوا وآمنوا بتلك الشهادة، ومنهم بطرس الذي قال: &#8221; أنت هو المسيح ابن الله الحي&#8221; (مت١٦:١٦). لكن المعمدان يقول ذلك لأنه قد أدرك بنفسه بل وأكثر من جميعهم كرامة المتحدث العظيمة ، وكأنه يهز رأسه، ويضرب بيده على فخذه متعجبا من حماقة الذين لم يصدقوا المسيح<a href="#_ftn1" name="_ftnref1">[1]</a>.</p>
<p></p>
<p></p>
<h4>القديس ديديموس الضرير</h4>
<p></p>
<p>هكذا قال رب الجنود: هوذا الرجل الغصن الشرق اسمه، يخص مخلصنا الآتي إلى هذا العالم، فهو الرجل بكونه ابن مريم&#8230; لكنه النور الحقيقي وشمس البر (الشرق). في اتفاق مع هذا النص يقول إرميا: &#8220;ها أيام تأتي يقول الرب وأقيم لداود غصن برّ، فيملك ملك وينجح ويجري حقًا وعدلًا في الأرض، في أيامه يخلص يهوذا ويسكن إسرائيل آمنًا وهذا هو اسمه الذي يدعوه به: &#8220;الرب برنا&#8221; (أر ٢٣: ٥ ، ٦). بالحق هو غصن البرّ الذي ينبت من داود&#8230; هذا الغصن هو شمس البر وقد ارتفع من داود، هذا الذي وُلد من أرض داود حسب الجسد (رو ١: ٣) ، كما قيل بإشعياء النبي: &#8220;ويكون في ذلك اليوم أن أصل يسى القائم راية للشعوب إياه تطلب الأمم ويكون محله مجدًا&#8221; (إش ١٠ : ١١) &#8230; &#8220;هوذا الرجل&#8230;&#8221;.</p>
<p>هنا يعلن عن العريس الذي له العروس، فيدعوه &#8220;الرجل&#8221;. هذا ما يظهره الرسول عندما يكتب إلى أهل كورونثوس: &#8220;خطبتكم لرجل واحد لأقدم عذراء عفيفة للمسيح&#8221; (٢كو ١١: ٢)&#8230; عن هذا الرجل يشهد يوحنا المعمدان أعظم مواليد النساء (مت ١١ : ١١)  قائلًا: &#8220;يأتي بعدي رجل صار قدامي لأنه كان قبلي&#8221; (يو ١ : ٣٠) وقد أعلن هذا الرجل بقوله: &#8220;من له العروس فهو العريس، وأما صديق العريس الذي يقف ويسمعه فيفرح من أجل صوت العريس&#8221; (يو ٣ : ٢٩). هذا الذي يظهره النبي أنه &#8220;الغصن&#8221;&#8230; إنه الغصن من الأعالي، غصن من النور الحقيقي، شمس البر (ملا ٣ : ٢٠) أشرق للذين كانوا في الظلمة وظلال الموت (لو ١ : ٧٨) لكي يبدد الظلمة وينزع الموت فنعبر إلى الحياة (يو ٥ : ٢٤). إذ نصير نورًا في الرب، وكما هو مكتوب &#8220;لأنكم كنتم قبلًا ظلمة وأما الآن فنور للرب&#8221; (أف ٥ : ٨)<a href="#_ftn2" name="_ftnref2">[2]</a>.</p>
<p></p>
<p></p>
<h4>القديس غريغوريوس النيسي</h4>
<p></p>
<p><strong>العروس تشير الى الروح والله هو العريس الذى تحبه الروح من كل قلبها للقديس غريغوريوس النيسي :</strong></p>
<p>طلب الحب :</p>
<p>منذ أن بدأت العروس فى السبر والتقدم وهى لا تكتفى بدرجة معينة بالكمال بل تسعى دائما وتتقدم وهى تشبه أحيانا بالفرس الذى طرح فرعون فى البحر (نش ١ : ٩) وبأنواع السلاسل والزينة التى حول الرقبة (نش ١ : ١٠ &#8211; ١١) وهى قانعة بهذه الدرجات بل يصعد وتنمو دائما حتى تصير مثل قارورة الطيب المملوءة بالرائحة الذكية حيث تأخذ من رائحة الرسالة الالهية ثم تأتى بعد ذلك الى الثمر الذى هو عناقيد العنب فى الكرمة الذى له الرائحة الذكية ثم تنمو بعد ذلك وتأخذ لقب الجميلة والمحبوبة والتى لها عينان جميلتان مثل الحمامة.</p>
<p>ثم تتقدم أكثر فأكثر حتى تبصر جيدا وتدرك جمال الكلمة وكيف نزل كظل الى السرير فى هذه الحياة فى شكل الطبيعة البشرية حيث أشار الى التجسد &#8220;ها أنت جميل ياحبيبى وحلو وسريرنا أخضر&#8221; (نش ١ : ١٦) ثم تشتاق بعد ذلك الدخول فى الفضيلة فتقول &#8221; جوائز بيتنا أرو وروافدنا سرو &#8221; (نش ١ : ١٧) ومعناه أن هذا الخشب (السرو) المصنوع منه أثاث البيت يرمز الى الثبات الدائم والنمو المتواصل فى الكمال لأن هذا الخشب لا يسوس ولا يعفن قط . ثم يشرح الوحى الالهى نمو النفس فى الفضيلة بمقارنتها بالسوسن بين الشوك &#8221; كالسوسنة بين الشوك كذلك حبيبتى بين البنات &#8221; (نش ٢ : ٢) وبعد ذلك تدرك العروس الفرق بين عريسها وبين الآخرين فتقول أنه &#8221; كالتفاح بين شجر الوعر (الغابة) كذلك حبيبى بين البنين &#8221; (نش ٢ : ٣) وتشعر النفس أن العريس هو مثل الربيع بين الفصول فتأتى الى ظله &#8221; تحت ظله اشتهيت أن أجلس &#8221; (نش ٢ : ٣) والظل هنا هو الناموس والأنبياء ثم تدخل النفس الى بيته &#8221; ادخلنى الى بيت الخمر &#8221; (نش ٢ : ٤) وبيت الخمر هو بيت الحب  (الكنيسة ) حيث تزود العروس بالروائح وتتغذى بالتفاح (الأسرار ) وعن طريق جروحات المحبة الغالية ( الصليب ) استقبلت سهمة الذى بيده اليمنى ثم صارت هى سهما فى يده وقذف هو هذا السهم بيده اليمنى فأتت بالقرب من نفسه ورفعها بيده اليسرى ووجه رأسها الى السماء حيث الهدف الأعلى لها وحين وصلت العروس الى مراتب الكمال فأنها تشرح للنفوس الأخرى مدى محبتها للعريس الذى تشتاق اليه وهى تثير محبتهم أيضا بنوع من القسم .</p>
<p>ولكن رغم ذلك هى لا تكف عن السعى نحو الكمال لأنه لا يوجد حدود لهذا الكمال ، وعندئذ يصير أقصى ما وصلت اليه عروس النشيد كأنه بداية لما هو مبسوط أمامها أن تشتاق اليه .</p>
<p>وكل هذا هو تصوير لدعوة العروس خلال سماع  حواسها الروحية للتأمل فى الأسرار الروحية فتبدأ تنظر الى من تحبه ، وكأنه يظهر لها فى أشكال مختلفة ، فهو هنا يشبه بالظبى وبغفر الأيائل (جمع أيل) &#8221; ارجع واشبه يا حبيبى الظبى أو غفر الأيائل على الجبال المشعبة &#8221; (نش ٢ : ١٧) ولكن الرؤية لا تظل على نفس المكان لأنه يقف على الجبال ويقف من مكان لآخر .</p>
<p>ثم تصل العروس ثانية الى درجات أخرى من الكمال حينما تأتيها الدعوة ثانية أن تترك ظل الحائط وتأتى الى النور وتستريح على شقق الصخرة &#8221; فى محاخىء الصخر فى ستر المعاقل &#8221; (نش ٢ :١٤) ثم تنعم بوقت الربيع وتجمع الزهور وتسعد بمسرات الربيع وسط أشجان الطيور .</p>
<p>خلال كل هذا تجرز العروس كل كمال واآن هى تستعد أن تبصر وجه العريس بوضوح وصراحة وأن تنصت اليه مباشرة بدلا من أن تسمعه خلال الآخرين . أى سعادة رائعة يمكن أن نتخيلها حين نرى الرب ويصير كل ما وصلت اليه كأنه بداية لرجائها فى الوصول الى ما لم تصل اليه .</p>
<p>وهى الأن تسمع صوت الرب مباشرة حين يأمر الصيادين ويعطيهم ثقته بخصوص الكرمة الروحية التى هى النفس أن يمسكوا الثعالب الصغيرة المفسدة . وهذا هو اتحاد الاثنين معا . الله جاء الى النفس (بالتجسد ) والنفس اتجهت لكى تتحد معه &#8221; حبيبى لى وأنا له الراعى بين السوسن &#8221; (نش ٢ : ١٦) أنه جول طبيعتنا من عالم الظل الى أقصى الحق عندئذ تصعد الروح وترتقى وتتقدم من فضيلة لأخرى حتى تكمل كل رجائها فى الوصول الى أعلى القامات .</p>
<p>لأنه بالتأكيد لا شىء يفوق فرح الوجود مع المحبوب . وحين تصل النفس الى هذه الدرجة فان الروح تظل تبكى كما لو كانت لم تصل بعد الى هدفها وكأنها لم تمتلك بعد ما كانت تشتاق اليه وتظل فى شغف وشوق وتعبر عن شوقها هذا بتلك الآيات &#8221; فى الليل على فراشى طلبت من تحبه نفسى طلبته فما وجدته &#8221; (نش ٣ : ١ &#8211; ٢) أنه لا يوجد أى حدود للوصول الى عظمة الوجود الالهى ولا يوجد أى قياس بشرى للمعرفة أن يصير مبدأ لادراك هدفنا أو يعوقنا للتقدم الدائم نحو السماء ، بل ان الروح التى تسير نحو الحق فى الطرق الالهية يتم قيادتها الى كل درجة من التقدم الروحى نحو الكمال حتى يصير الوصول الى هذا الكمال ممكنا أن يصير كأنه بداية الشوق نحو الأشياء السمائية .</p>
<p>والآن يجب أن ندرك التعاليم المقدمة الينا ونضعها فى فكرنا وان نستعد للعرس الالهى بالكامل فى الأمور الالهية السمائية وأن نحول الفكر من المستوى الجسدى الى المستوى الروحى . ومن خلال الرموز نستطيع أن نتعلم الكثير .</p>
<p>وهنا تفسير تلك الرموز : العروس تشير الى الروح والله هو العريس الذى تحبه الروح من كل قلبها ومن كل نفسها ومن كل قدرتها وعندئذ تصل النفس الى أقصى أملها عندما تتحد فعلا مع من تحبه &#8221; وجدت من تحبه نفسى فأمسكته ولم ارخه حتى ادخلته بيت أمى وحجرة من حبلت بى &#8221; (نش ٣ : ٤) وتتحدث النفس عن الشركة مع الله فى البر كأنه سرير &#8221; سريرنا أخضر &#8221; (نش ١ : ١٦) والليل يشير الى التأمل فى غير المنظور مثل موسى النبى الذى دخل فى الظلام الى حيث يوجد الله وكما يقول داود النبى &#8221; جعل الظلمة ستره حوله &#8221; (مز ١٨ : ١١) ولذلك تقول عروس النشيد &#8221; فى الليل على فراشى طلبت من تحبه نفسى &#8221;  (نش ٣ : ١) وحين تصل النفس الى هذه القامة فانها تشعر أيضا أنها لم تصل الى الكمال بعد وكأنها لم تبدأ بعد ولكن حين تدخل النفس الى العرس الالهى فانها تستريح فى الشركة مع الله وكأنها تنام على سرير ولكنها فجأة تتقدم الى العالم غير المنظور محاطة بالوجود الالهى غير المنظور ، وتبحث عن ذلك الذى هو مخبأ فى السحاب المظلم غير المنظور .</p>
<p>ثم تشعر النفس بالحب نحو ذلك الذى تشتاق اليه واذ بالمحبوب نفسه يبقى فى أفكارنا وعندئذ تبصره النفس بالليل على الفراش وتتعلم من وجوده الأبدى أنه بلا بداية ولا نهاية أما جوهره وكيانه فهذا الذى لم تستطع النفس أن تدركه لذلك تقول &#8221; طلبته فما وجدته &#8221; (نش ٣ : ١) لقد دعوته باسمه ولكن لا يوجد أى أسم يستطيع أن يحتويه لان اسمه لا يحده أى معنى لأنه فوق كل الأسماء ولذلك تقول العروس طلبته فما وجدته لأنها تأكدت أنه لا نهاية لعظمة الله القدوس &#8221; عظيم هو الرب وحميد جدا وليس لعظمته استقصاء &#8221; (مز ١٤٥ : ٣) ثم قامت الروح بعد ذلك وتقدمت الى العالم الروحى الفائقالذى تدعوه العروس هنا (المدينة ) حيث توجد الرياسات والقوات والعروش وكل أجناد الملائكة السمائيين ومل الجمع غير المحصى ، ولها رجاء وأمل أن تجد ذاك الذى تحبه .</p>
<p>وفى بحثها عنه فانها تجد كل جيش الملائكة &#8221; وجدنى الحرس الطائف فى المدينة &#8221; (نش ٣ : ٣) ولكنها لم تجد وسط هذه الأمور هدفها . وعندئذ تسأل النفس ذاتها هل من الممكن ادراك ذاك الذى أحبه ؟ هل رأيتم الذى تحبه نفسى ؟ ولكن كانت الأجابة الوحيدة هى الصمت وبصمتهم أفادوها أن ما تبحث عنه هو فوق ادراكهم .</p>
<p>وحينما ذهبت النفس بفكرها الى المدينة السمائية ولم تدرك حبيبها حتى عن الأشياء الروحية غير المادية ، وعندئذ نست كل ما أخذته وحصلت عليه من مثل لأنها أدركت أن ما تبحث عنه يفوق الادراك فى جوهره وأن كل ما يمكن أن تفهمه كأنه لا شىء ولذلك تقول &#8221; فما جاوزتهم الا قليلا &#8221; (نش ٣ : ٤).</p>
<p>لقد تركت النفس كل المخلوقات المرئية وكل المخلوقات الروحانية أيضا وعندئذ بالايمان فقط وجدت من تحبه وأدخلته الى حجرتها (نش ٣ : ٤ &#8211; ٥) وهذه الحجرة هى القلب الذى يدخل الله فيه وعندئذ ترجع النفس الى حالتها الأولى التى كانت عليها منذ البدء وقامتها التى ولدت بها من الأم (فى ذلك الميلاد الثانى بالمعمودية )<a href="#_ftn3" name="_ftnref3">[3]</a></p>
<p></p>
<p></p>
<h3>عظات آباء وخدَّام معاصرين</h3>
<p></p>
<h4>قداسة البابا تواضروس الثاني</h4>
<p></p>
<p><strong>العين البسيطة .. والعين الشريرة          </strong></p>
<p>+ نتقابل في هذا الفصل مع امرأة تعجب بكلام السيد المسيح ، ويبدوا أن إعجابها كان عاطفياً وبتأثر وقتى . ولذا طوب كلامها برقة بالغة موضحاً أنه يرفض تطويب العذراء لأنها حملت وولدت المسيح فقط ، بل لأنها اتحدت بالحقيقة الرب .</p>
<p>في هذا الموقف نرى المسيح يبعد الكرامة عن نفسه :</p>
<p>١ – يرفض مديح المرأة لأنه ناقص</p>
<p>٢ – يصحح كلام المرأة نحو وجهته السليمة .</p>
<p>٣ – ينتهز الفرصة ويعلم الجموع .</p>
<p>+ يربط هذا الجزء أيضاً بين العهدين ، إذ فيه ربط بين شخصية يونان النبى وشخص المسيح ( الرمز والمرموز إليه ) .</p>
<p>+ في هذا الجزء تعليم عن &#8221; العين سراج الجسد &#8221; :</p>
<p>١ – وظيفة النور الإضاءة وبه يؤدى الإنسان كل الوظائف .</p>
<p>العين = عضو النور = قيادة الجسد = مداخل المعرفة.</p>
<p>٢ – العين المادية ، العين الروحية : نرسم القديسين بعينين متسعتين دائماً .</p>
<p>٣ – الكلمة الإلهية سبب النور الداخلى : الكلمة التي تقرأ على المنبر .</p>
<p>&#8221; الكلمة &#8221; الذى يؤكل على المذبح .</p>
<p><strong>الكتاب المقدس </strong></p>
<p>نور + حكمة + سراج</p>
<p>المسيح لم يرفض كلام المرأة بل وجهه الاتجاه الصحيح.</p>
<p>كيف تكون عينى بسيطة ؟ &#8230; بكلام الله &#8230;</p>
<p>كلام الله نسمعه لأنه لنا .</p>
<p>نحفظه ليعمل فينا .</p>
<p>نستخدمه ليثمر بنا .</p>
<p>كان سليمان الملك حكيماً ، أما المسيح فهو الحكمة ذاته .</p>
<p>والقلب الخالى من المسيح هو مسكن للشيطان .</p>
<p><strong>حياتنا وطلب الملكوت :</strong></p>
<p>أ – ذهاب يونان لأهل نينوى = عمل إلهى = النعمة .</p>
<p>ب – ذهاب ملكة التيمن لسليمان = عمل بشرى = الجهاد .</p>
<p>الكلمة صار جسداً ( في الإنجيل .. &#8221; وجدت كلامك فأكلته &#8221; &#8230; على المذبح ) .</p>
<p><strong>الفرح بنجاح الآخرين   </strong></p>
<p>من الأمراض الروحية : الجسد والحقد . وإنجيل هذا اليوم يقدم لنا فضيلة متجسدة في شخص يوحنا المعمدان ، وهى</p>
<p>فضيلة : &#8220;الفرح بنجاح الآخرين &#8221;</p>
<p>أ – السيد المسيح : هو العريس ، شمس البر ، الآتى من السماء ابن الله .</p>
<p>ب – يوحنا المعمدان : هو صديق العريس ، النجم الصغير ، الآتى من الأرض ، نبى عظيم . . نراه :</p>
<p>١ – يفرح بنجاح الآخرين .</p>
<p>٢ – يعرف حدود مهمته.</p>
<p>٣ – يعلن الإيمان الحى .</p>
<p>ج – الكنيسة         هي العروس ، القمر ، سفارة الله على الأرض .</p>
<p><strong>اكتمال فرحى </strong></p>
<p>هذا الجزء عقب محاورة نيقوديموس مع المسيح .</p>
<p>+ + &#8221; فرحى هذا قد كمل &#8221; ( ع ٣٩ )</p>
<p>هذه عبارة عن المسيح قالها يوحنا المعمدان لتلاميذه عندما أخبروه أن يسوع كان يعمد ..</p>
<p><strong>والسؤال :  متى يكمل فرحى ؟</strong></p>
<p>١ – بعمل السماء : أي العبادة في كل صورها وأشكالها ( الصلاة ، الأستماع &#8230;. الخ )</p>
<p>كل هذه تؤدى إلى فرح يعم النفس ، ويقول الإنسان في نهايتها فرحى قد كمل .</p>
<p>٢ – بعمل الخفاء : أي خدمة الآخرين بكل صورة ممكنة .</p>
<p><a href="#_ftn4" name="_ftnref4">[4]</a> إعطاء الحب وإشاعة لكل أحد ، من خلال الكلمة والفعل والتصرف والإبتسامة &#8230;</p>
<p></p>
<p></p>
<h4>المتنيح الأنبا أثناسيوس مطران كرسي بني سويف والبهنسا</h4>
<p></p>
<p><strong>شهادة يوحنا (١ : ١٩-٣٤)</strong></p>
<p>أحس اليهود أن يوحنا شخص غير عادي ، فأرسلوا إليه &#8220;كهنة ولاويين &#8220;ليناقشوه ويدرسوا الأمر رسميا من هو . فسألوه أسئلة ثلاثة هل هو المسيح ، أم هو النبي ، أم هو إيليا .</p>
<p>كان موسى النبي قد قال لليهود &#8221; يقيم لك الرب إلهك نبيا من وسطك من أخوتك مثلی ، له تسمعون ، (تث ١٨: ١٥) .</p>
<p>وقد كان المفهوم المباشر لهذه النبوة أنها عن يسوع الذي جاء بعد موسی . ولكن اليهود فهموها دائما أنها عن نبي من نوع آخر يقيم عهدا جديدا معهم هو عهد المسيا .&#8221; ويكون أن الإنسان الذي لايسمع لكلامی الذي يتكلم به باسمي أنا أطالبه &#8221; (تث ۱۹:۱۸) . وقد واجه الرسول بطرس في (أع ٤ : ٢٢) والشماس اسطفانوس (أع ٧ : ٣٧) اليهود بهذه النبوة . وقال ملاخي النبي ، هانذا أرسل ملاکی فیهيء الطريق أماما ، .. ويأتي بغتة إلى هيكله السيد الذي تطلبونه وملاك العهد الذي تسرون به ) (مل ٣ : ١) متنبأ عن مجئ يوحنا ومجيئ الرب يسوع .. وأشعياء تنبأ عن يوحنا أيضا وأسماه صوتاً &#8221; صوت صارخ في البرية أعدوا طريق الرب ، قوموا في القفر سبيلا لالهنا . كل وطاء يرتفع .</p>
<p>وكل جبل وأكمة ينخفض ، ويصير المعوج مستقیما والعراقيب سهلا . فيعلن مجد الرب ويراه کل بشر معا&#8221; (أش٤٠ :٣-٥) وتكلم ملاخي النبي أيضا &#8221; هأنذا أرسل اليكم ايليا النبي قبل مجيء يوم الرب العظيم المخوف &#8230; &#8220;(زك ٤: ٥) فكان اليهود يعتقدون أن اثنين يأتيان قبل المسيا . ولذلك سألوه ان كان هو النبي أم ايليا .. وفي الحقيقة لم يكن ليأتي قبل المسيا سوى واحد هو يوحنا المعمدان الذي سماه الوحی نبيا أو ملاکا بروح ايليا أي بصفات ايليا في النسك والشجاعة .</p>
<p>على أن بعض المفسرين في الإسلام يقولون أن نبوة موسى عن نبی (من اخوتك) (تث ١٨: ١٥) تعنى مجيئ الإسلام لأنه من أخوتهم أي من بنی اسماعیل ، ويربطون بين كلمة النبي هنا وأمرين آخرين ، الأول تسبحة حبقوق &#8221; الله جاء من تيمان والقدوس من جبل فاران .. جلاله غطى السموات والأرض امتلأت من تسبيحه &#8221; (حب ٣ : ٣) وقوله في سفر التكوين أن أسماعیل سكن في فاران (تك ۲۱: ٢١) . والأمر الثاني أنباء السيد المسيح تلاميذه بمجي الباراقليط (يو١٤: ٢٦) باعتبار أن لفظ باراقليط إذا حرف نطقه قليلا يصير بيريكليت ومعناه الحمد أو الشكر وهو قريب من لفظ &#8220;أحمد &#8220;.</p>
<p>وردنا على هذا هو أن برية فاران في البرية التي وصل إليها اليهود في نهاية العام الأول لخروجهم من مصر . ومنها أرسلوا الجواسيس ليتجسسوا الأرض (انظرعد ۱۲:۱۰ ، ١٢: ١٦ ، ١٣: ٢٦) . وفي نهاية المدة خرجوا من فاران وتوجهوا إلى أرض كنعان . وكانوا كلما سبحوا الرب على تخليصه أیاهم من التيه يذكرون الخروج من فاران وسعير وارض آدوم ابی بنی عیسو.</p>
<p>وهكذا ترنمت دبورة بعد الخلاص الذي عمله الرب بيدها على سيسرا فقالت &#8221; أنا أنا الرب أترنم .. يارب بخروجك من سعير ، بصعودك من صحراء آدوم ارتعدت الأرض . السموات أيضا قطرت . كذلك السحب قطرت ماء . تزلزلت الجبال من وجه الرب ، وسيناء هذا من وجه الرب &#8220;(قض٥: ٣-٥) . وفي هذا يقول داود النبي في المزمور &#8221; اللهم عند خروجك أمام شعبك ، عند صعودك في القفر ، الأرض ارتعدت والسماوات أيضًا قطرت أمام وجه الرب ، سيناء نفسه أمام الله إله اسرائیل ، (مز ٦٨: ٨-٩).</p>
<p>وهذا ماقاله حبقوق ليس متنبئا عن مستقبل بل مرددا تسبيح خلاص &#8221; الله جاء من تيمان والقدوس من جبل فاران . جلاله غطى السموات والأرض امتلأت من تسبيحه .. رأيت خیام کوشان تحت بلية . رجفت شقق أرض مديان .. ثقبت بسهامه رأس قبائله . عصفوا لتشتيتي . ابتهاجهم كما لأكل المسكين في الخفية .. إلى آخر الاصحاح (حب ۳) .</p>
<p>وأما الكلام عن الباراقليط فمردود بكون الباراقلیط هو روح الله القدس نفسه المعزی . الباراقليط = المعزى &#8221; الروح القدس الذي يرسله الآب باسمي &#8221; (يو ١٤: ٢٦) وهو موعد الآب الذي انتظره التلاميذ بعد صعود السيد حسب أمره لهم بألا يبرحوا أورشليم حتى يأتيهم (أع ١ : ٤) وهو الذي نزل عليهم يوم الخمسين (أع ٢ : ١ -٤) فامتلأوا به وخرجوا للتبشير وهو مع الكنيسة وفي المؤمنين وهو هبة ملازمة للإيمان والعماد.</p>
<p>على أن يوحنا وقد سبق أشعياء وقال عنه ( صوت صارخ في البرية البرية )(أش ٤٠: ٣) قد رد على سائليه في تواضع أنه ليس هو إيليا بل هو الصارخ في البرية.وحين لم يفهموا وسألوه لماذا يعمد اذن ، تمسك بأنه هو الممهد لمجئ المسيا &#8220;أنا أعمد بماء ولكن في وسطكم قائم الذي لستم تعرفونه هو الذي يأتي بعدی ، الذي صار قدامى الذي لست بمستحق أن أحل سيور حذائه &#8220;.</p>
<p>وحدد يوحنا شهادته عن الرب يسوع حين رأى الرب مقبلا اليه فقال &#8220;هوذا حمل الله الذي يرفع خطية العالم &#8221; . هذا هو الذي قلت عنه &#8221; ( آية ۳۰ ) وكرر الشهادة في اليوم الثاني أيضا ( آية ٣٥ ) .</p>
<p>أما قوله « أنا لم أكن أعرفه . لايعني أنه لم يكن يعرف يسوع الناصرى لأنهما كانا قريبين ، ويغلب الظن أنهما تقابلا كثيرا بل لم يكن يدرك أن يسوع هو المسيا المخلص حتى أشار الروح إليه بعلامة واضحة . وكان يوحنا يعرف تميز يسوع المسيح في الحياة والقداسة . فلما أقبل اليه ليعتمد قال له &#8220;أنا محتاج أن أعتمد منك وأنت تأتي الى &#8221; (مت ٣: : ١٤) وكأنه قالها ليس فقط بحكم اختباره لتميزه بل متحركا بالروح أيضا . ثم حين ظهر الروح مستقرا عليه تم فهمه واضحا . ولذا قال يوحنا &#8221; وأنا قد رأيت وشهدت أن هذا هو ابن الله &#8221; (يو ١: : ٣٤) .</p>
<p>&#8220;في الغد&#8221;وردت هذه الكلمة في هذا الاصحاح ثلاث مرات فساعدتنا على معرفة مادار في أيام هذا الاسبوع الذي بدأ بارسال اليهود مندوبين عنهم لسؤال يوحنا عن رسالته مما جعل وجه شبه بين بداية التكوين في سرده لحوادث الحلقة الاولي وبداية هذا الانجيل في وضعه لحوادث الأسبوع الأول في خدمة الرب لتجديد العالم ولا يبعد أن يكون هذا هو الأسبوع الذي تلا نزول الرب من جبل التجربة. وفيه تعرف علي التلاميذ لأول مرة ثم قابلهم في الجليل كما جاء في (مت٤: ١٧-٢٢)، و (مر ١: ١٦-٢٠)، و (لو ٥: ٢-١١)<a href="#_ftn5" name="_ftnref5">[5]</a>.</p>
<p></p>
<p></p>
<h4> المتنيح الأنبا بيمن أسقف ملوي وأنصنا والأشمونين</h4>
<p></p>
<p><strong>العريس السمائی</strong></p>
<p>ان علاقة الرب بالكنيسة وبالنفس البشرية تشبه بعلاقة العريس بالعروس.. في العهد القديم لم تكن هذه العلاقة واضحة تماما ، ولكنه منذ أن تجسد الإبن الكلمة وصار إنسانا مثلنا في كل شيء ، فيما عدا الخطية وحدها ، برزت هذه العلاقة ، وتكلم الرب يسوع نفسه عنها في مواضع كثيرة..</p>
<p><strong> في العهد القديم :</strong></p>
<p>يقول هوشع النبي عن إسرائيل إنها عروس ويسمع هوشع الله ينادي &#8221; أخطبك لنفسي إلي  الأبد ، وأخطبك لنفسي بالعدل والحق، بالاحسان والمراحم، أخطبك لنفسي بالأمانة فتعرفين الرب &#8221; (هوشع ۱۹:۲ ،۲۰).</p>
<p>ويقول أشعياء النبي: &#8220;لأن بعلك هو صانعك رب الجنود إسمه &#8221; (أش ٥٤ : ٥) &#8220;کفرح العريس بالعروس يفرح بك إلهك&#8221; (أش ٦٢ : ٥)</p>
<p>وفي موضع آخر يقول بروح النبوة &#8221; فرحا أفرح بالرب ،تبتهج نفسي بالهي لأنه قد ألبسني ثياب الخلاص ، كساني رداء البر ، متل عريس يتزين بعمامة ، ومثل عروس تتزين بحليها &#8221; (أش ٦١ : ١٠) .</p>
<p>أما سفر المزامير ففيه كثير من هذه التعبيرات، ولكن سفر نشيد الأناشيد كله سيمفونية روحية تنشد لحن الحب والفرح الإلهي للشركة القائمة بين الله والكنيسة بسر لا ينطق به &#8221; قد سبيت قلبي يا أختي العروس ، قد سببت قلبي بأحدى عينيك بقلادة واحدة من عنقك، ما أحسن حبك يا أختي العروس . کم محبتك أطيب من الخمر ، وكم رائحة أدهانك أطيب من كل الأطياب . شفتاك يا عروس تقطران شهدا  أختي العروس جنة مغلقة عين مقفلة ينبوع مختوم&#8221; (نش ٤ : ٩ ، ١٠).</p>
<p>وحين كانت إسرائيل ( العروس ) تذهب وراء الهة غريبة ، كان هذا يعد زنی روحی مثلما يقول الكتاب &#8221; بل زنوا وراء آلهة أخرى، وسجلوا لها، حادوا سريعا عن الطريق التي سار بها آباؤهم ، ( قض ۱۷:۲ )وكان بعد موت جدعون أن بني إسرائيل رجعوا وزنوا وراء البعليم (قض ٨ : ٣٣). لذلك يوبخهم ناحوم النبي قائلا &#8221; ويل لمدينة الدماء كلها ملآنة كذبا وخطفا .. من أجل زني الزانية الحسنة الجمال صاحبة السحر البائعة أمم بزناها وقبائل بسحرها  &#8221; ( ناحوم ٣ : ١ &#8211; ٤)</p>
<p>وفي مواضع كثيرة يعلن الوحي حزنه وأسفه على حالة إسرائيل ويدعوها زانية لأنها خانت الذي إختارها من بين الأمم وجعلها شعبا مختارا له &#8220;فإتكلت علي جمالك وزنيت علي إسمك، وسكبت زناك علي كل عابر فكان له&#8221; (حز ١٦ : ١٥) ،(أر ٣ : ١) ،(أر ٣ : ٦ &#8211; ١٠).</p>
<p>كم أن مشاعر الله رقيقة نحونا نحن البشر، كم يهتم بنا وكم يحزن لتركنا ينبوع ماء الحياة وجرينا وراء آبار مشققة لا تضبط ماء. إنه غيور وقلبه مليئ بالحب والوفاء، ويريدنا أن نبادله حبا بحب وإخلاصا بإخلاص، وتكريسا وتقديسا وعبادة تجاه الدعوة الإختيار الإلهي المقدس.</p>
<p><strong> في العهد الجديد :</strong></p>
<p>أما في العهد الجديد فقد تكلم الرب بصراحة عن هذه العلاقة عندما قال في رده على الفريسين&#8221; هل يستطيع بنو العرس أن يصوموا والعريس معهم ، مادام العريس معهم لا يستطيعون أن يصوموا &#8221; (مر ۱۹:۲) .</p>
<p>ويقول الرب أيضا &#8220;وأنتم مثل أناس ينتظرون سيدهم متى يرجع من العرس ، حتى إذا جاء وقرع يفتحون له للوقت .. طوبى لأولئك العبيد الذين إذا جاء سيدهم يجدهم ساهرين &#8221; (لو ١٢ : ٣٦). وفي إنجيل معلمنا متی البشير عندما ضرب الرب الأمثلة عن ملكوت السموات قال : يشبه ملكوت السموات إنسانا صنع عرسا لأبنه وأرسل عبيده ليدعوا المدعوين إلى العرس فلم يريدوا أن يأتوا &#8221; (مت ۲:۲۲)</p>
<p>وفي تشبيه نفسه بالعريس الذي سيأتي لأخذ  العذاري قال &#8220;إن هناك عذاری  حکیمات وعذاري جاهلات ، أما الحكيمات، فقد أخذن في آنيتهن زيتا انتظارا للعريس ، ذاك الذي أغفلته وأهملته الجاهلات ، ولما جاء العريس في منتصف الليل إستيقظن العذاري جميعا. والخمس الحكيمات دخلن معه إلي العرس، أما الجاهلات فبينما هن ذاهبات ليبتعن زيتا، جاء العريس والمستعدات وحدهن هن اللواتي دخلن معه إلي العرس وأغلق الباب&#8221; (مت ٢٥). وقد شهد يوحنا المعمدان كخادم لأنبياء العهد القديم بأن الذي عمده هو العريس السماوي؟، وأنه ينبغي أن يزيد بينما يوحنا نفسه ينقص.ويقول من له العروس فهو العريس وأما صديق العريس الذي يقف ويسمعه فيفرح فرحا من أجل صوت العريس.إذا فرحي هذا قد كمل (يو ٣ : ٢٩ ).</p>
<p>وبولس الرسول كان يشعر في خدمته أنه يقوم بدور الإشبين  كما كان الحال قديما في أفراح العرس . ومهمة الأشبين أن يقدم العروس عذراء واثقا متأكدا من طهرها ، سعيد أن يرتبط بعريسها ، وأما هو ففرحه يكمل بهذا الدور . يقول &#8221; إني أغار عليكم غيرة الله ، لأني خطبتكم لرجل واحد لأقدم عذراء عفيفة للمسيح&#8221; (۲کو ۲:۱۱ ) .</p>
<p><strong>  التزامات هذه العلاقة المقدسة :</strong></p>
<p><strong>١- الوفاء والأمانة :</strong></p>
<p>إن الخطية ليست مجرد كسر وصايا الله ، ولكنها كسر لقلبه المحب ..</p>
<p>إن الله أمين إلى المنتهی ، وعدم أمانتنا لا تبطل أمانته .. إن مجرد التأمل في</p>
<p>الصليب وآلام الرب في أسبوعه الأخير كفيل أن يلهب القلب بلواعج الحب</p>
<p>والإخلاص والأمانة .. يقول الكتاب : &#8221; وهو مات لكي يعيش الأحياء</p>
<p>فيما بعد لا لأنفسهم بل للذي مات لأجلهم وقام &#8221; العروس إن خانت</p>
<p>عريسها ترجم في العهد القديم ، وتطلق في العهد الجديد ، والنفس التي</p>
<p>تخون عريسها السماوي تحرم من الأبدية وتحيا في عذاب أبدي.</p>
<p><strong>2- العشرة المقدسة:</strong></p>
<p>كيف نتصور عروسا لا تطيق أن تحيا مع عريسها ؟ وكيف يمكن أن نقبل أن عروسا تهرب من لقاء عريسها؟ إن العروس المخلصة لعريسها تتلهف تتلهف علي ساعة تقضيها مع من أحبها. إن عمرها كله يقاس بساعات العشرة والألفة بينهما.لهذا تستعلن هذه الشركة المقدسة أن نقضي ساعات طويلة في المخدع للصلاة والمناجاة والحوار مع الرب .. أن نتأمل في حديثه لنا في الكتاب المقدس ؛ ونتلذذ به، ونصغي إليه جيدا وتطبعه وننفذ وصاياه .. أن نأخذ فترات، خلوة وإعتكاف للهدوء والصلاة والعبادة.</p>
<p>إن هذا ليس فرضا أو واجبا قهريا ، وإنما هو دلالة على الحب والإخلاص وصدق في الإحساس بالشركة المقدسة بين العروس وعريسها السماوى .</p>
<p><strong>٣- أن نحيا في الفرح والنور :</strong></p>
<p>ليس من عرس إلا ويرتبط بالأفراح والأنوار . وليس من عروس إلا وتتزين لعريسها دائما . والقديس أبو مقار عندما شاهد إمرأة زانية طلب من أبنائه الرهبان أن يتطلعوا إليها ثم قال : « إنظروا كم هذه تتعب في تزيين نفسها لعشاقها، ونحن لا نتعب لتزيين قلوبنا وحياتنا الداخلية لعريسنا السماوي&#8221; وأنتفع أبناؤه من هذا الكلام كثيرا.</p>
<p>إن الذين يعيشون في الدرس الذي لا يتعلق به ومجيد هم أولئك الذين احتقروا أباطيل العالم لأن الفرح مرتبط كيانيا بالتجرد ، والحزن الرديء مرتبط بالشهوة وحب الأقتناء . ومسيحيتنا بشارة مفرحة ودعوة إنجيلية تدعو النفس إلي أن تدخل في الفرح ويدوم فرحها. وسر الفرح الحقيقي هو اللقيا السماوية&#8221; سترونني وتفرحون ولا يستطيع أحد أن ينزع فرحي منكم&#8221;..والذين يعيشون في الفرح هم أيضا الذين يعيشون في النور. أنهم أبناء نور أبناء القيامة. الذين أحبوا النور ورفضوا أعمال الظلمة ووبخوها .</p>
<p>هم وحدهم الذين يتمتعون بأفراح العرس الداخلي. أما الذين يعيشون في الحقد والكراهية والكبرياء والتعالي وهموم الحاة فهؤلاء هم الذين ينتزع الفرح منهم، ولا يقبلون إلي العرس، مثل أولئك الذين إعتذروا لأن لديهم سبع بقرات أو عندهم حقل.. هذه العلل التي يتعلل بها القلب ليبرر حالته وبؤسه وسأمه وحزنه العميق.</p>
<p><strong>4-أن نحفظ ثوب العرس طاهرا:</strong></p>
<p>العروس تعتز بثوب الزفاف. إنه جميلورائع. إنه ناصع البياض إشارة إلي الطهارة والعفاف الداخلي.وسفر الرؤيا يمتدح الذين حفظوا ثيابهم طاهرة وغسلوها في دم الحمل.يطوب الذين هربوا من الثوب المدنس..والذين آمنوا بقدسية العلاقة القائمة بين نفوسهم والحق يحرصون علي أن يبقي ثوب العرس بلا دنس..إنهم يعرفون أن الذين لم يكونوا لابسين ثوب العرس طردوا من الحقل كما قال الرب..هكذا يحرص المؤمنون القديسون علي طهارة سيرتهم ونقاوة سريرتهم وعذراوية قلوبهم وأفكارهم ومشاعرهم.</p>
<p><strong>5- أن نعد أنفسنا للوليمة السماوية:</strong></p>
<p>العرس حاضر ومستقبلي أيضا. الملكوت قائم بيننا وننتظر مجيئه بمجد عظيم مصلين دائما في الصلاة الربانية &#8220;ليأت ملكوتك&#8221; والذين أدركوا أنهم مدعوون للعرس السماوي يدربون أنفسهم علي الإشتراك في الوليمة السماوية هنا في هذا الزمان الحاضر. القداس الإلهي وليمة سماوية ودعوة للعرس والفرح المجيد&#8221;عندما نقف أمامك نحسب كالقيام في السماء&#8221; .</p>
<p>والذين إتسعت قلوبهم بالحب الإهي للصلاة وممارسة الليتورجيات وصارت فرحتهم ومتعتهم في التسبيح والترنيم هؤلاء هم الذين يؤهلون للتسبيح مع خورس السمائيين في أورشليم السمائية.</p>
<p>لقد سمع يوحنا الرائي تطويب هؤلاء عندما قال له الملاك &#8221; أكتب طوبی للمدعوين إلى عشاء عرس الخروف&#8221; (رؤ ١٩ : ٩) .. وفي مطلع الكتاب المقدس نجد الكتاب يعلن لنا عن العرس السماوي ووجود الله مع آدم في الجنة متمتعا بالأكل من يديه الطاهرتين.</p>
<p>وفي ختام الکتاب المقدس يطالعنا الرائي بقوله « وأنا يوحنا رأيت المدينة المقدسة أورشليم الجديدة نازلة من السماء من عند الله مهيأه كعروس مزينة لرجلها ، وسمعت صوتا عظيما من السماء قائلا &#8220;هوذا مسكن الله مع الناس وهو سيسكن معهم ، وهم يكونون له شعبا ، والله نفسه يكون معهم إلها لهم&#8221; (رؤ ٢١ : ٢ ، ٣)<a href="#_ftn6" name="_ftnref6">[6]</a>.</p>
<p></p>
<p></p>
<h4>المتنيح القمص تادرس البراموسي</h4>
<p></p>
<p>الأحد الثالث من شهر طوبة المبارك</p>
<p><strong>ينبغي أن ذلك يزيد وأنى أنقص (يو ٣: ٢٢ – ٣٦)</strong></p>
<p>تعود البعض أن يبحثوا عن نقاط الخلاف لكى يبذروا بذار الانشقاق والسخط والشك بين الناس لا لشئ الا محبتهم في الشر وعدم الأستعداد هذا النوع من البشر يسميه الكتاب أبن إبليس وعدو كل بر لكن القديس يوحنا المعمدان  . يختلف عن هذا النوع لأنه تربى في أسرةً باره وبرية طاهرة لم تتدنس بأفكار الشيطان بكل حكمة أنهى يوحنا هذا الجدال كله بشهادته للحق تبارك اسمه وتركيزه على اللاهوت الذى يمتاز به الرب يسوع .</p>
<p>ومن بواعث الشقاق والانقسام أن يحاول البعض أخبار الآخرين على السلوك بالطريقة الخاصة الذى يسلك حتى يجمع له  مجموعة تتبع رأيه وتعيش معارضة للحق . والحقيقة يجب علينا نحن المسيحين الذين نتبع المسيح قلباً وقالباً .</p>
<p>أن نشهد للمسيح بإيماننا وبقلوبنا ويجعل أرادتنا معترفين إنه سبب خلاصنا وفادى حياتنا. ونشهد بما فعله الرب يسوع لأجلنا فكيف يمكن لأحد أن يزعزع أيماننا ويبعدنا عن الرب يسوع .</p>
<p>لقد اضطرب تلاميذ يوحنا المعمدان عندما رأوا أن الشعب جميعه الذى كانوا يرونه مع يوحنا أنه من السهل أن يجسد الإنسان من شعبيته ونجاحه في شيء ما . الحقيقة أن الرسالة واحدة والهدف واحد وهو خلاص النفوس بعث يوحنا أثنين من تلاميذه للرب يسوع قائلين أنت الأتى أم ننتظر أخر قال لهم الرب يسوع أنظروا أن العميان يبصرون والمرضى يشفون والبرص يطهرون والموتى يقومون وطوبى لمن لا يشك في هذا ما أذهل هؤلاء التلاميذ وخافوا على منصب معلمهم يوحنا يعمد حتى بعد ظهور السيد المسيح لأنه كان يعتبرها رسالة من الله يجب عليه تكميلها وظهور المسيح لا يلغى الرسالة وهى أعداد الطريق .</p>
<p>لما سألوا يوحنا عن الرب يسوع شهد قائلاً أنه ينبغي أن ذلك يزيد وأنى أنقص هذا الذى قلت عنه إنه يأتي بعد فصار قدامى لأنه أعظم منى الذى لست مستحقاً أن أنحنى وأحل سيور حذائه هذه الشهادك وهذا التواضع العجيب</p>
<p></p>
<p><strong>العظة الأولى</strong></p>
<p>أ – التكريس والحكمة في الأختيار</p>
<p>ب – معمودية التوبة والأستعداد للخلاص</p>
<p>ج – الفرق بين معمودية يوحنا ومعمودية المسيح</p>
<p>د – معمودية يوحنا وشهادة الحق</p>
<p>ه &#8211; فضيلة التواضع والشهادة للأخرين</p>
<p>و – مضمون الرسالة وأعداد الطريق</p>
<p>ذ – الفرق بين عطية الله وعطية الشعب</p>
<p>ح – الفرح بنجاح الآخرين من سمك السمائيين</p>
<p>ط – لا حياة الا بأبن الله</p>
<p>ى – إنكار الذات وعظيم الصفات</p>
<p></p>
<p><strong>العظة الثانية</strong></p>
<p>أ – المجئ لليهودية لإعلان العطية</p>
<p>ب – معمودية للتطهر ومعمودية للتبرير</p>
<p>ج – عطية الله بالاستحقاق وليس بالشطارة</p>
<p>د – شهادة صادقة ورسالة أمينه</p>
<p>ه &#8211; فرحاً مع الفارحين وحزن مع الحزانى</p>
<p>و – رسالة قوية ومرسل أمين</p>
<p>ذ – المسئولية والسهر على تنفيذها</p>
<p>ح – المباحثات الغبيه وحب الأنانية</p>
<p>ط – كثرة الماء وزرع الرجاء</p>
<p>ى – الأيمان القوى وحصد الثمار</p>
<p></p>
<p><strong>العظة الثالثة</strong></p>
<p>أ – يسوع ويوحنا ورأى الشعب</p>
<p>ب – رسالة حب وتطهير قلب</p>
<p>ج – عطية الله وبركات السماء</p>
<p>د – شهادة تقدير ومصدر تبرير</p>
<p>ه &#8211; عريس وعروس ومصدر تبرير</p>
<p>و – السماء والأرض والاختيار الحكيم</p>
<p>ذ – كلمة الله وصدق المنأجاة</p>
<p>ح – الأيمان بالمسيح وثروة التصحيح</p>
<p>ط – الالتجاء إلى البار وحسن الاختيار</p>
<p>ى – هدم الحصون والرجوع إلى الحنون<a href="#_ftn7" name="_ftnref7">[7]</a></p>
<p></p>
<p></p>
<h4>المتنيح القمص يوسف أسعد</h4>
<p></p>
<p><strong>مظاهر الفرح</strong></p>
<p>من مظاهر الفرح عند الروحيين :-</p>
<p>&#8221; يفرحون كأنهم لا يفرحون &#8221;</p>
<p>اى ان مظاهر الفرح عند اولاد الله ليس بأن يلجأوا الى الزينة والرقصين والراقصات ، ومظاهر الفرح المعروفة في العالم ، انما حينما تنظر اليهم من بعيد تظن ان هذه الجماعة لا تفرح أبداً لأن مظاهر الفرح عندهم  لا تدل على انهم فرحون .</p>
<p>وذلك لأن هؤلاء فرحهم في توبتهم والتوبة فيها نوح ودموع وتعزية ، والذي يُرى هو النوح والدموع اما التعزية فهي شخصية جداً لا يشعر بها إلا صاحبها .</p>
<p>قد تجد أنساناً يصلي وتنظر اليه وتظن أنه في نكد وحزن .. بينما هذا الأنسان الذي تراه أنت هكذا في نكد ، قد يكون في اعمق حالات فرحه لأنه يعيش التوبة الصادقة أي يربح الرب ويُجري فرح الحق في أعماقه لحساب الرب .</p>
<p>لذلك تجد أن أولاد الله فرحهم ليس مثل أفراح العالم و لا نستطيع ان نطلب من أولاد الله أن يكونوا مثل أولاد العالم .</p>
<p><strong> التسبيح</strong></p>
<p>التسبيح مظهر من مظاهر الفرح لأولاد الله ، فعندما تقول ترنيمة روحية قوية في مخدعك تكون مصدر فرح وتعزية لك ، وعندما نصلي العشية مثلاً نشعر بجمال الذكصولوجيات والترانيم الجميلة التي تربطنا بالسمائيين غير المرئييين فنشعر أننا فرحين بالتسبيح .</p>
<p>الموسيقى فن جميل يناسب أمور كثيرة منها العلاج ، فأمراض كثيرة تُعالج بالموسيقى ، أما أستخدام الموسيقى داخل بيت الله فهو امر  لم سعرفه أولاد الله بل هو دخيل على الكنيسة، حتى الغربيين الذين لديهم الآت موسيقية كثيرة عندما نبحث في تاريخهم نجد أن هذه الآلات الموسيقية حديثة لم تكن في كنيسة الرسل الأولى.</p>
<p>لذلك يمكن ان نسبح ونرنم بدون أى آلة موسيقية &#8230; أسبح بقلبي وصوتي الذي أقدمه ذبيحة حب لله .</p>
<p>ويوجد بعض الناس يشكون أن صوتهم ليس جميلاً ، فهؤلاء أقول لهم أن الله يقول لعروس النشيد &#8220;أسمعيني صوتك لأن صوتك لطيف&#8221;( نش ٢ : ١٤) فمهما كان صوتك فهو جميل في أذنيه هو ، سيفرح به لأنه خارج من قلب يفرح به .</p>
<p>لذلك جمال الصوت ليس مقياساً للفرح ، لأنه قد يدخل فيه اللذة ، واللذة حينما تدخل في أي شئ تفسده ، وقد قال لنا الآباء الرسل عندما نرنم أو نرتل ، نرتل بفهم لا بلذة .</p>
<p>ما الفائدة ان أقول ترنيمة أو ذكصولوجية لحنها جميل جداً لكني أقولها وانا فرحان بنفسي وبصوتي وليس بالرب أو لست أفهم معناها.. ما قيمتها ؟ وما قيمة هذا التسبيح ؟ هكذا كان آبائنا الرسل يسبحون ويرنمون وقد لا تظهر عليهم مظاهر الفرح العالمي التي عند الناس .</p>
<p>إن أفراح الروحيين تبني دواخلهم فتتجدد قلوبهم ، حتى وان كانت ظواهرهم تظهر عليها ملامح التعب ، فقد قال الرب للتلاميذ :&#8221; انكم ستبكون وتنوحون والعالم يفرح ، انتم ستحزنون ولكن حزنكم يتحول الى فرح &#8220;(يو ١٦ : ٢٠) ، فأفراح العالم كلها تأخذ من العالم، اما افراح الروحيين فهي شخص الرب نفسه وعشرته وكنيسته وقديسيه . لذلك مهما ترى نوحهم على الخطية والخطاه تجد أفراحهم باطنية تملأهم أكثر وترويهم، فلا يمكن ان يرى أنسان روحي الخطية تنتشر وسط الناس إلا وتلتهب أعماقه وربما يقول مع أرميا النبي :&#8221;يا ليت رأسي ماء وعيني ينبوع دموع فأبكي نهاراً وليلاً..&#8221;(إر٩ : ١)</p>
<p>وهذا النوح مكرماً في عيني الله ، حتى أن صلاة بار واحد عن مدينة يمكن أن تعفي المدينة كلها من العقوبة الألهية ، لن الله حينما يرى الدموع النقية في عيون الأبرار والقديسين يقول :&#8221;حولي عني عينيك فأنهما قد غلبتاني&#8221;(نش ٦ : ٥).</p>
<p><strong> فرح الروحيين برجوع الضال</strong></p>
<p>إن أفراح الروحيين تاتي دائماً حينما يوجد الضال ويُسترد المفقود ، فالراعي بسبب الخروف الضال يترك ال99 ليبحث عنه ، ويفتش عن الدرهم المفقود وسط تراب الأرض ، ويبحث عن الابن  الذي بدد معيشته وسط الزواني ، هكذا يكون فرح الروحيين في عودة الضال واسترداد المفقود .</p>
<p>فلا تجد إنساناً روحياً يرى الخطية تنتشر ويأكل ويشرب ويفرح كأن لاشئ يعنيه ،أنه يعلم أن أنتشار الخطية هو محاصرة له ولجميع الأنقياء على الأرض ، فلهذا هو يفتش في أجتهاد ويبحث بحثاً دقيقاً عن الضال والمفقود حتى يفرح ويقول مثلما قال الأب في مثل الأبن الضال :&#8221; قدموا العجل المسمن وأذبحوه فنأكل ونفرح &#8220;(لو ١٥ : ٣٠).. فأن طعام الروحيين وأفراحهم تكون حينما يكسبون للمسيح أرضية جديدة في قلوب الخطاة وفي قلوب العاثرين .</p>
<p>لذلك لا أظن يا احبائي أن فرحاً يدخل في أعماق الأنسان مثلما يدخل فرح عودة الضال الى معرفة الحق وعودة المفقود الى الوجود وعودة الخروف الى الحظيرة .</p>
<p>لا تظنوا أن هذا كلام .. فقد رأيت بعيني دموع أب من الفرح حين عادت أبنته مرة أخرى الى الحظيرة بعد أن ظللنا نبحث معه ، وندق على عتبه الرب بالصلوات و الأصوام ، فكان فرح لا يُعبر عنه رغم جراحه ، كان فرحه فرح أنسان روحي لا يبحث عن جسديات ولا يفتش عن أخطاء بشرية ، وأنما يبحث عن النفس التي من أجلها مات فادي البشرية .</p>
<p><strong> فرح الروحيين بالخدمة</strong></p>
<p>إننا نجد ان أفراح الروحيين تكون في الخدمة .. في الأيمان المترجم بالأعمال ، في الأيمان العامل بالمحبة (يع ٢ : ٢٢)، (غلا٥: ٦)</p>
<p>وحيث اننا سبق أن قلنا أن من أفراح الروحيين الصلاة والتسبيح ، حينما كان التلاميذ يفرحون ويسبحون الله ويصلون ، والتسبيح مادة من مواد الصلاة، والصلاة هي تعبير عن أيماننا بوجود الله .</p>
<p>فمن يقف يصلي لإله غير مرئي فهذا يعلن أيمانه ، مثلما اُعلن إيمان دانيال النبي أنه يعبد إله السماء والأرض غير المرئي ، لكن الصلاة لاتكفي وحدها دون ترجمة عملية لعملك وحياتك بعد الصلاة ، فبعد الصلاة لا ترجع الى ماضيك وعاداتك اليومية ، وذلك بعد ان تخرج من حضرة الرب بل لتستمر في حضرتهه حتى وأنت تعمل وتجاهد في حياتك اليومية .</p>
<p><strong> عمل الرحمة ترجمة عملية للصلاة</strong></p>
<p>ان صلاتك يا عزيزي هي أمتداد لمحبة سُكبت في قلبك أثناء الصلاة بالروح القدس وهي محبة الله ،أي انك تخرج لتبحث عن حب الله &#8230; ولكي تحب الله الذي  لا تراه تحبه في الجائع الذي تطعمه ، والعريان الذي تكسيه ، والعطشان الذي ترويه ، والمريض الذي تزوره ، وأيضاً السجين الذي تأتي إليه ، فهكذا قال الرب :&#8221;الحق أقول لكم بما أنكم فعلتموه بأحد إخوتي هؤلاء الأصاغر فبي فعلتم &#8220;(مت ٢٥ : ٤٠).</p>
<p>فالفرح ليس بأن تؤمن بأن الله موجود ، فالشياطين أيضاً تؤمن وتقشعر ، وليس بأن تصوم ، فالشياطين لا تأكل ابداً، فان كنت إنساناً تؤمن بالله وتصوم باسم الله .. وأنت تحمل غيرك أحمالاً، وتربط على أعناقهم نيراً وأحمالاً ثقيلة وتظلم الآخرين.. فلا قيمة لصومك او صلاتك ، ولكن أن منت تفك عقد النير  وتُرجع حق المظلوم وتنصف النسان وتُعطي لكل ذي حق حقه.. مثلما قال إشعياء النبي :&#8221;ألأيس هذا صوماً أختاره حلّ قيود الشر ، فك عقد النير وإطلاق المسحوقين أحراراً وقطع كل نير &#8220;(إش ٥٨ : ٦).</p>
<p>ففرح الروحيين بالصوم هو حينما يكون صومهم ليس لتخطيط قتل كما فعلت المرأة إيزابل  زوجة آخاب الملك ، ولكنهم يخططون لكسب النفوس نحو الأبدية .</p>
<p>يا أحبائي إذا شعرتم أن للروحيين أفراح فأعلموا أن سببها أنهم يعيشون في حضرة الرب كل لحظة – في أصوامهم وفي صلواتهم وفي جهادهم ودموعهم وفي خدمتهم كلها – فيبعث فيهم الفرح .</p>
<p><strong> الفرح بأعمال المحبة</strong></p>
<p>الله من أجل محبته يفرح قلوب اولاده من خلال أعمال المحبة ، فالصوم والصلاة والخدمة كلها أعمال محبة إذا صنعت بمحبة تجاه الآخرين .</p>
<p>والخدمة لا ترتبط بفصل او أجتماع لكن هي توصيل النفوس للمسيح واسترداد الضال ، فأنت تكون إنساناً مسيحيا ً حقاً وخادم فعلاً عندما تتقابل مع زاني وتجعله يترك الزنى ، فتكسب واحداً يصلي من اجلك حينما تضعف وتحارب الخطية أو بالزنى ،أو عندما تقابل لصاً وتساعده ان يترك السرقة فتكون قد قدمت عمل محبة تفرح انت بعده انك كسبت إنساناً للمسيح وأخاً لك في الحياة .. فإذا ضعفت يسندك بصلاته ، وهكذا تعيش الفرح الحقيقي بعودة الضال و توبة الخاطئ .</p>
<p>وأريد أن أقول  لكم ان الكنيسة ليست مجمع للقديسين ، انما مجمع القديسين ستجده في السماء ، لكن الكنيسة خليط من القديسين التائبين والمجاهدين  والخطاة الذين يعيشون في التوبة ، والأشرار الذين تحاول الكنيسة بمؤمنيها الأتقياء ان يحاصروا الشر فيهم ..</p>
<p>فالكنيسة يااحبائي مستشفى فحينما تدخل فتجد عود القمح بجوار عود الشوك فلا تستطيع ان تقول ان الشوك يشكك، لان الرب يسوع بنفسه قال &#8220;دعوهما ينميان معاً الى حصاده &#8220;(مت ١٣ : ٣٠)، لكن كن انت حبة حنطة ، كن عود قمح مثمر ، وحينما يحين الوقت ستفرح لأن الحنطة النقية ستجد من يجمعها الى الحياة الأبدية أما الشوك فله من يجمعه الى المخازن ليُحرق .</p>
<p>يا عزيزي ليكن فرحك بالخدمة ، والخدمة مؤهلها الأول في المحبة المقدمة لمن أحبنا وأسلم نفسه من أجلنا ،فأفراحنا الحقيقية كروحيين تكون في القلب الملتهب الذي يبحث عن النفوس ليرجعها الى الله ويوجدها في معرفته وفي مخافته .</p>
<p><strong> الفرح مع الفرحيين</strong></p>
<p>أن الفرح عند الروحيين هو بالفرح مع الفرحيين ، فحينما نجد عضواً بيننا يُكرم نشعر بالفرح الغير متكلف ، فالأنسان الذي يتوب ويرجع الى الرب يسوع ويعيش في وسطنا لاشك  أنه يأخذ كرامة لا توصف ، وبه تفرح السماء والملائكة ، فنفرح نحن ونشاركه الفرح ، ونفرح مع الأنسان الذي أنُتشل من بالوعة مجاري و أُنقذ وألبسناه الحلة الأولى ، ووضعنا خاتما ً في يده وإكليلاًعلى رأسه ، فيأخذ كرامة كبيرة يفرح بها ونفرح معه .</p>
<p>هناك نموذج لخادم لم يقرح بالتوبة وهو يونان النبي ،إغتم لأن الله لم بنفذ كلامه ورجع عن حمو غضبه على أهل نينوى ، وذلك لأنهم تابوا جميعاً من الرضيع الى الملك عندما نادى لهم بالتوبة ،فأصبح هو كاذباً في عيونهم ، لكن ليس هكذا الخادم ، فالمفروض انه يفرح بتوبة الناس و تكون الكنيسة كلها مستعدة للقاء العريس و لابسة للباس العرس .</p>
<p>هكذا ينبغي أن نفرح مع أى خادم او خادمة يستطيع أن يخلص نفوساً ويأتي بها للمسيح ، فنفرح معهم ونشجعهم ونعاونهم ، حتى وأن كانوا في ظاهر الأمر لا يتبعوننا، لأن التلاميذ عندما قالوا للرب :&#8221; يا معلم رأينا واحداً يُخرج الشياطين بأسمك فمنعناه لأنه ليس يتبع معنا فقال لهم يسوع لا تمنعوه لأن من ليس علينا فهو معنا &#8221;</p>
<p>(لو ٩: ٤٩ &#8211; ٥٠) ، ولأن خدام المسيح الحقيقين لا يصنعون بالكنيسة شراً ولا يقدمون جراحاً جديدة ..إذ ان الخدام الأمناء بأستمرار يقدمون حصاد الدموع التي زرعوها في المخادع بالبهجة التي توجد بها النفوس التائبة لله ، فالخدام الأمناء مخادعهم مبللة بالدموع لكي تستقيم حياة أولادهم بعيداً عن الخطية ، وقد قال المرنم :&#8221;الذين يزرعون بالدموع يحصدون بالأبتهاج &#8220;(مز ١٢٦ : ٥)</p>
<p>فأفرحوا مع الخدام المناء الذين يؤتون بالنفوس للمسيح ، شجعوهم فأنهم يحتاجون وسط معارك الشيطان الى لمسة محية وتشجيع صادق نقي .</p>
<p><strong> الفرح بالفكر الواحد</strong></p>
<p>يقول معلمنا بولس الرسول :&#8221; فتمموا فرحي حتى تفتكروا فكراً واحداً &#8220;(في ٢ : ٢)</p>
<p>ان من أفراح الروحيين أيضاً الفرح بالفكر الواحد ، والفكر الواحد لا ينسخ الشخصيات ، لكن يدل على النضوج ، فالنضج يفرح القلب ، والبيت الذي كل فرد فيه له شخصيته ولكن عندما تدخل فيه تجد أن لكل من الزوج والزوجة والأولاد فكراً واحداً في العالم والمعيشة وفي الأختيارات ، وذلك لأنه ليس لهم سوى مسيح واحد وأنجيل واحد .</p>
<p>أن وجود أفكار مختلفة داخل الأسرة الواحدة يكسر قلب الأب ويحزن قلب الم ، وذلك لأن هذه الأفكار لا تنم عن محبة ، لكن تنم عن ذوات ، ولآسيما أذا كان الطعن في الأب أو الأم ، فإذا وجد الأب ابنه الذي رباه سنيناً طويلة يطعن فيه أو في فكره أو في أعتقاده فكم يكسر هذا قلبه ! لكن ما يفرح قلب الروحيين ان يكون هناك فكراً واحداً.</p>
<p>وهذا لافكر الواحد يأتي من فكر المسيح ، قال مار بولس في الرسالة الى فيلبي &#8221; فليكن فيكم هذا الفكر الذي في المسيح يسوع أيضاً الذي إذ كان في صورة الله لم يحسب خلسة ان يكون معادلاً لله  لكنه أخلى نفسه آخذاً صورة عبد صائراً في شبه الناس . وإذ وجد في الهيئة كأنسان وضع نفسه وأطاع حتى الموت موت الصليب &#8221;</p>
<p>(في ٢ : ٥ &#8211; ٨).</p>
<p>هذا هو فكر المسيح .. الذي وهو الأقنوم الثاني في الثالوث الأقدس أخلى ذاته وأخضع نفسه ، وهنا وجدنا الآب – وهو في مساواة لأقنوم الأبن والأبن في مساواة لأقنوم الآب في الذات الألهية التي نعبدها – لكن وجدنا الأبن يحنى رأسه في نهر الأردن وتنفتح السماء ويسمع منها صوت الآب :&#8221; هذا هو أبني الحبيب الذي به سررت &#8220;(مت ٣ : ١٧)</p>
<p>يا احبائي أن الفكر الواحد يأتي من الخضوع لبعضنا البعض ، مع ملاحظة ان إختلاف الشخصيات المتعددة ليست مدعاة لتناحر الأفكار ، أنما الأفكار إذا صار أمامها إنجيل واحد صارت فكراً واحداً في المسيح .</p>
<p><strong> الفرح برؤية النجم</strong></p>
<p>هناك أيضاً فرح للروحيين ذُكر في الأصحاح الثاني في أنجيل متى وهو رؤية النجم فقد ذكر عن المجوس الذين مع كونهم علماء للفلك من أهل المشرق فقد كانوا وثنيين ، ولكن حينما رأوا النجم في السماء مستقراً على الطفل في المزود &#8220;فرحوا فرحاً عظيماً جداً&#8221;(مت ٢ : ١٠)</p>
<p>إن رؤية النجم وهو يشير الى موضع المسيح يفرح قلوب الوثنيين الذين لا يعرفون الله .. فكم بالحري يفرح قلوب المؤمنين .</p>
<p>ونجم يعني كتلة معتمة يسطع عليها النور فتضئ وتنير ، ونحن – مهما كنا في الكنيسة – كلنا بشر معتمين لكن حينما ننظر لقديس مثل مار مرقس .. كرز وتعب وسافر في الخدمة واستشهد ، فهذا نجم ،  حينما نسمع عنه الآن في وسطنا فكم يكون هذا سبب فرح عظيم لجميعنا .</p>
<p>وتزداد قلوبنا فرحاً وتهليلاً حينما نرى نجومية في تطبيق الوصية ، ولذلك قال الكتاب المقدس :&#8221; نجماً يمتاز عن نجم في المجد &#8220;(١كو ١٥ : ٤١)  فأنت يا عزيزي تفرح حينما ترى نجماً في الكنيسة ولكن النجم الحقيقي هو الذي يرشدك الى المسيح ويظهر لك المسيح ، فيصير وهو معتم مصدر فرح لك لإذ يقودك الى النور الحقيقي<a href="#_ftn8" name="_ftnref8">[8]</a></p>
<p></p>
<p></p>
<h4>المتنيح القمص لوقا سيداروس</h4>
<p></p>
<p>الأحد الثالث من شهر طوبه</p>
<p></p>
<p>(يو ٣: ٢٢ – ٣٦) <strong>شهادة يوحنا المعمدان عن المسيح</strong></p>
<p>يوحنا المعمدان</p>
<p>اجتمعت في يوحنا المعمدان صفتان : صفة النبوة وصفة شاهد العيان .</p>
<p>+ فهو نبى العلى ، بل أن المسيح قال عنه : &#8221; أعظم من نبى &#8221; وروح النبوة يستطيع أن يتجاوز الزمن غير المنظور كأنه منظور &#8230; ويرى الحقيقة كائنة في الرموز والأظلال .</p>
<p>+ وهو كشاهد عيان رأي المسيح المبارك مقبلاً إليه عند الأردن ورأى السموات مفتوحة ورأى الروح القدس نازلا كشبه حمامة ومستقراً عليه وسمع صوت الآب من السماء قائلاً : &#8221; هذا هو إبنى الحبيب الذى به سررت &#8221; . هكذا شهد يوحنا للمسيح بالروح القدس ، روح النبوة ، ربما رآه وسمعه من الله .</p>
<p><strong>حمل الله </strong></p>
<p>لقد أعلن يوحنا المعمدان عن يسوع أنه &#8221; حمل الله &#8221; . وهذا الأعلان في الواقع إكتشافاً لحقيقة المسيح الذى لم يكن يعرفها يوحنا الذى قال : &#8221; لم أكن أعرفه &#8221; . بل أن يوحنا حينما تكلم عن المسيح قبل هذا الوقت . قال عنه : &#8221; الذى رفشه في يده وسينقى بيدره ويجمع القمح إلى المخزن ، وأما التبن فيحرقة بنار لا تطفأ &#8221; (مت ٣ : ١٢) . ولكن ما رآه يوحنا عند نهر الأردن كان مختلفاً تماماً &#8230; رأى حملا حقيقياً حاملاً خطية العالم كله &#8230; أنه &#8221; حمل الله &#8221; &#8230; المختار من الله ليمحى خطايانا ويغسلنا ويغرقها في بحر العماد &#8230; هذا هو مسيح الأردن الذى نراه كل يوم قائماً عند المعمودية ومستعداً أن يحمل خطايا الذين يقبلونه &#8230;</p>
<p>+ وفى الغد أيضاً كان يوحنا واقفاً وأثنان من تلاميذه فنظر يسوع ماشياً ، فقال : هوذا حمل الله . فسمعه التلميذان يتكلم ، فتتبعا يسوع . هنا لم يكن يسوع مقبلاً نحو يوحنا ، بل كان ماشياً إلى غايته ( نحو الصليب ) . فأعلن يوحنا مرة آخرى إكتشاف &#8221; الحمل المذبوح &#8221; &#8230; وهذا الأعلان جعل تلميذى يوحنا يتبعان المسيح . إذن سر تبعية يسوع والكرازة بأسمه كائن في إكتشافه &#8221; كحمل الله &#8221; .</p>
<p>+ المسيح هو حمل الله الموجود معنا على المذبح كل يوم &#8230; هل تطرح خطاياك عليه ؟ وهل تتحد بالحمل المذبوح ؟ وهل تعلنه للجميع وتشير إليه على المذبح ليقبل إليه كثيرون ؟ هذه هي رسالة كل من عرف حمل الله .</p>
<p><strong>العريس</strong></p>
<p>وحدثت مباحثة من تلاميذ يوحنا مع يهود من جهة التطهير فجاءوا إلى يوحنا &#8230; فحدثهم مباشرة عن المسيح قائلاً : من له العروس فهو العريس &#8221; في البداية نكتشف يسوع الحمل الوديع الذى يقبلنا ويحمل خطايانا. ثم بنظره أكثر عمقاً نجد فيه العريس الحقيقى وندرك معنى الكنيسة كعروس للمسيح. هنا سر اتحادنا بالمسيح ، واتحادنا بعضنا ببعض في الكنيسة&#8230; هذا ما أعلنه مؤخراً بولس الرسول قائلاً : &#8221; خطبتكم لأقدم عذراء عفيفة للمسيح &#8221; . &#8221; وأيضاً أيها الرجال أحبوا نساءكم كما أحب المسيح أيضاً الكنيسة وأسلم نفسه لأجلها لكى يقدمها مطهراً إياها بغسل الماء بالكلمة &#8221; ١ ف . هذه هي أجابة يوحنا على سؤال التلاميذ من جهة التطهير . لقد أعلن لهم إكتشافه للعريس الذى أسلم نفسه لعروسه وقدمها بغسل الماء في الأردن إن سر العريس والعروس تحدث عنه يسوع فيما بعد قائلاً &#8221; يشبه ملكوت السموات عشر عذارى خرجن للقاء العريس خمس منهن كن جاهلات وخمس حكيمات &#8230; &#8221; فأرتباطنا بالعريس واستحقاقات العرس الإلهى يحتاج إلى نفوس حكيمة تعرف من هو عريسها ، وتمتلئ من زيت الروح القدس ، وتنتظر بسهر وصلاة حتى تلاقى وجه عريسها بفرح وتدخل إلى خدره السماوى إلى أبد الآبدين . ويوحنا المعمدان يعلن أن الكنيسة هي عروس المسيح&#8230; التي رآها يوحنا اللاهوتي في سفر الرؤيا نازلة من عند الله كعروس مهيأة لرجلها. وهى نفسها تنادى مع الروح القدس على كل نفس متغربة في العالم الروح والعروس يقولان  : &#8221; تعال وكل من يسمع فليقل تعال &#8221; . فكل من يتحد بالكنيسة ويأتي العريس السماوى ويذوق من حبه لا يكف عن الكرازة باسمه والمناداة بحبه .</p>
<p>+ ترى هل صارت نفسى عروساً للمسيح ؟ ترى هل تزينت بالطهارة وتجملت بالفضائل ؟ وهل تنتظر عريسها كل يوم بشوق ومحبة وإخلاص وصلاة ؟ يا أخوة ..ان محبة العالم زنى وخيانة للعريس &#8221; أيها الزناة والزوانى أما تعلمون أن محبة العالم عداوة لله &#8221;</p>
<p><strong>الذى يأتي من فوق هو فوق الجميع</strong></p>
<p>هنا إعلان آخر . أعلنه يوحنا عن المسيح &#8230; فهو يقدم المسيح لجموع آتياً من فوق . فلا ينبغي أن نفهم المسيح بادراك أرضى ، أو نفكر في كلامه بطريقة جسدية ، كلام المسيح هو روح وحياة ووصاياه فوق الجميع &#8230;. فوق العقل والأدراك البشرى ، وفوق الحكم الإنسانية ، وفوق الفلسفات وفوق الكل &#8230; والمسيح المبارك أتحد بنا في المعمودية لكى نصير مولودين من فوق . ويكون لنا هدف وكنز في السماء وملكوت ليس من هذا العالم الذى ينظر إلى الأرضيات يعثر في المسيح ، والذي ينظر إلى فوق يدرك الذى من أجله أدركه المسيح.</p>
<p><strong>ليس بكيل يعطى الله الروح</strong></p>
<p>نزل الروح القدس على يسوع مثل حمامة ، ويوحنا كشف لنا أموراً عجيبة تختص بخلاصنا عندما رأى الروح نازلا ومستقراً عليه &#8230; فمن ناحية إكتشفت محبة الآب للإبن يسكب الروح القدس على جسم البشرية في شخص الإبن الوحيد . ومن ناحية أخرى رأى المسيح وهو يعطى الروح القدس للبشرية بلا كيل &#8230; معرفتنا بالمسيح ليس لها حدود أو قيود أو شروط &#8230; هذه المعرفة هي عمل الروح القدس فينا وأخذنا من المسيح ليس له حدود لأن الروح القدس يأخذ مما للمسيح ويعطينا .</p>
<p>الروح القدس يطبع فينا شكل المسيح ، ويجعل فينا رائحة المسيح .والمسيح سكب فينا حبه بالروح في المعمودية لأن محبة الله قد أنسكبت في قلوبنا بالروح القدس المعطى لنا ، والروح القدس شبهه الرب يسوع بالريح الذى يهب حيث يشاء وتسمع صوتها ، ولكن لا تعلم من أين تأتى ، ولا إلى أين تذهب . فعمل الله في المولودين من فوق عمل سرى وروحى لا يستطيع أحد أن يقيسه لأنه &#8221; من قاس روح الرب ، عمل الروح لا يخضع لقياس الناس ونمو الروح ليس بكيل إنسان &#8221; .</p>
<p><strong>الذى يؤمن بالإبن له حياة أبدية</strong></p>
<p>هنا ختام حديث يوحنا عن المسيح . وهنا يعلن لنا عن نعمة البنوة والحياة الأبدية . ففي المعمودية استعلن إبن الله &#8230; وننادى الآب بصوت مسموع على الإنسان ( في المسيح ) نداء الأبوة &#8221; قائلاً : &#8221; هذا هو إبنى الحبيب الذى به سررت &#8221; . فنحن دخلنا إلى نعمة البنوة وسرور الآب &#8221; وهذه هي الحياة الأبدية أن يعرفوك أنت الإله الحقيقي ويسوع المسيح الذى أنت أرسلته &#8221; .</p>
<p>+ المعمودية إذن هي دخولنا إلى الحياة الأبدية وقبولنا نعمة البنوة في المسيح وأعظمها أسرارالأردن وإعلانك الله هناك . وهناك إستعلن المسيح حمل الله وعريس الكنيسة الآتى من فوق . وهناك سكب روحه بلا كيل ، وأدخلنا إلى الحياة الأبدية ، ونعمة البنوة<a href="#_ftn9" name="_ftnref9">[9]</a> .</p>
<p></p>
<p></p>
<h3>من وحي قراءات اليوم</h3>
<p></p>
<p><strong>لأنه ليس بكيل يعطي الله الروح (يوحنا ٣٤:٣)</strong></p>
<p>إذا كنت تعتقد أن صلاة ساعة أفضل من ربع ساعة دون عمق وإنسحاق فإعلم أنه ليس بكيل يعطي الله الروح</p>
<p>إذا كنت تري أن الصوم حتي الغروب أفضل من صوم ساعات قليلة دون محبة ورحمة فتأكد أنه ليس بكيل يعطي الله الروح</p>
<p>إذا كنّا نظن أن تبرعات الآلاف أفضل من جنيهات الفقير دون إتضاع وشكر فلنتيقن أنه ليس بكيل يعطي الله الروح</p>
<p>إذا كنّا ننظر لسنوات حياتنا مع الله ونري أنفسنا أفضل من المبتدئين دون تجديد التوبة والحب فليس بكيل يعطي الله الروح</p>
<p>إذا كانت سنين خدمتنا تقنعنا بالقامة الروحية دون تلمذة دائمة فليس بكيل يعطي الله الروح</p>
<p>إذا كنّا نكتفي بتسبيح الساعات دون تسبيح القلب والروح فليس بكيل يعطي الله الروح</p>
<p>صلاة العشار بررته رغم قلة كلماتها وتبرع الفلسين أغني المرأة بالروح عن تبرع الآلاف</p>
<p>الروح ينسكب في قلوب منسحقة وكيان يتطهر علي الدوام ونفوس في حالة عطش دائم إلي البر</p>
<p>لحظات جلوس مريم عند قدمي السيد أغنتها بالنصيب الصالح عن الأمور الكثيرة</p>
<p>إتكاء يوحنا علي صدر يسوع ملأه بفيض أكثر من ساعات لباقي التلاميذ</p>
<p></p>
<p></p>
<p></p>
<p></p>
<h3>المراجع:</h3>
<p></p>
<p><a href="#_ftnref1" name="_ftn1"></a>١- المرجع : شرح إنجيل يوحنا لكيرلس عامود الدين &#8211; الفصل الثاني &#8211; مشروع الكنوز القبطية</p>
<p><a href="#_ftnref2" name="_ftn2"></a>٢- المرجع : تفسير سفر زكريا &#8211; الإصحاح السادس &#8211; القمص تادرس يعقوب ملطي</p>
<p><a href="#_ftnref3" name="_ftn3"></a>٣- المرجع : كتاب من مجد إلي مجد للقديس غريغوريوس النيسي ( فصل ١٥ ) &#8211; ترجمة القمص إشعياء ميخائيل &#8211; كنيسة رئيس الملائكة ميخائيل بالظاهر</p>
<p><a href="#_ftnref4" name="_ftn4"></a>٤- المرجع : كتاب المنجلية القبطية الأرثوذكسية ( صفحة ٢٣١ ) &#8211; قداسة البابا تواضروس الثاني</p>
<p><a href="#_ftnref5" name="_ftn5"></a>٥- المرجع : دراسات في الكتاب المقدس &#8211; إنجيل متي ( صفحة ١١٦ &#8211; ١٢٠ ) &#8211; الأنبا أثناسيوس مطران كرسي بني سويف والبهنسا</p>
<p><a href="#_ftnref6" name="_ftn6"></a>٦- المرجع : كتاب ألقاب المسيح ووظائفه ( صفحة ٦٩ ) &#8211; الأنبا بيمن أسقف ملوي</p>
<p><a href="#_ftnref7" name="_ftn7"></a>٧- المرجع : كتاب تأملات وعناصر روحية في آحاد وأيام السنة التوتية الجزء الأول صفحة ٦٣ &#8211; إعداد القمص تادرس البراموسي</p>
<p><a href="#_ftnref8" name="_ftn8"></a>٨- المرجع : كتاب الفرح ( صفحة ٢١ ) &#8211; القمص يوسف أسعد</p>
<p><a href="#_ftnref9" name="_ftn9"></a>٩- المرجع : كتاب تأملات روحية في قراءات أناجيل آحاد السنة القبطية صفحة ١٨٢ &#8211; القمص لوقا سيداروس &#8211; كنيسة مار جرجس سبورتنج</p>
<p></p>
<p></p>
<p></p>
<p><a href="#_ftnref10" name="_ftn10"></a></p>

      {% endcreateArticleAccordions %}
    </section>
  {% endblock %}
  