---
layout: 'layouts/reading.html'
title: 'الأحد الرابع من طوبة'
tags: 'sundays'
permalink: /articles/sundays/5-4.html
---
  {% block content %}
    <section id="readings">
      <ul>
      {% if 'undefined' != 'undefined' %}
      
      {% else %}
      {% if '19.78:20,23' != 'null' %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">العشية</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeVespers '19.78:20,23' '43.5:31-46' %}
          </div>
        </div>
      </li>
      {% endif %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">باكر</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeMatins '19.88:7,18' '43.6:47-58' '' %}
          </div>
        </div>
      </li>
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <h3 class="flex items-center justify-between">
            <span class="kufi">القداس</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </h3>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeLitugy '45.11:13-36' '62.5:9-21' '44.11:2-18' '19.36:9-10' '43.9:1-38' %}
          </div>
        </div>
      </li>

      {% endif %}
        </ul>
    </section>
    <section id="article">
      <h3 class="mt-8 mb-4 heading-explain">شرح القراءات</h3>
      {% createArticleAccordions %}
        <p>&#8221; حِينَ أَضَاءَ سِرَاجَهُ عَلَى رَأْسِي، وَبِنُورِهِ سَلَكْتُ الظُّلْمَةَ. &#8221; (أي ٢٩ : ٣)</p>
<p>&#8221; الشعب السالك في الظلمة أبصر نورا عظيما. الجالسون في أرض ظلال الموت أشرق عليهم نور &#8221; (أش ٩ : ٢)</p>
<p>&#8221; الذي جعل ظُلمة الضلالة التي فينا تُضئ من قبل إتيان ابنك الوحيد بالجسد &#8230; أنت الآن أيضاً يا سيدنا أنر عيون قلوبنا وطهِّرنا كاملين في النفس والجسد والروح &#8221;  قسمة للآب</p>
<h3>ملاحظات علي قراءات اليوم</h3>
<p>+ قراءة الكاثوليكون اليوم (١يو ٥ : ٩ - ٢١) تُشير إلي الحياة التي وُهبَتْ لنا في شخص ابن الله</p>
<p>وتُشبه قراءة الكاثوليكون (١يو ٥ : ١٣ - ٢١)  لثاني يوم عيد الصليب ( ١٨ توت )</p>
<p>التي تكلّمت عن الحياة المُعطاة لنا في المسيح ( آية ١٣ ، ٢٠ ) ،وتكررت في قراءات عيد الغطاس في ١١ طوبه (١يو ٥ : ٥ - ٢١) بإضافة الآيات من ( ٥ - ١٣ ) والتي تكلمت عن المعمودية</p>
<p>+ قراءة الإبركسيس اليوم (أع ١١ : ٢ - ١٨) هي نفس قراءة الإبركسيس للأحد الرابع من شهر بشنس ، وتُشبه قراءة الإبركسيس (أع ١١ : ٢ - ١٤) ليوم ٦ نسئ ( في السنة الكبيسة )</p>
<p>تأتي هذه القراءة اليوم لأجل الحديث ( في الآيات الزائدةمن ١٤ إلي ١٨ ) عن المعمودية ، وفي الأحد الرابع من بشنس لأجل خلاص الله المُعلن لكل إنسان</p>
<p>وفي يوم ٦ نسئ لأجل رقم ستة ( مفتاح فهم قراءات ذاك اليوم ) المُمَثَّل في الإخوة الستة الذين ذهبوا مع القديس بطرس</p>
<h3>شرح القراءات</h3>
<p>بعدما إستعلن الظهور الإلهي للإبن لكل الأمم في الأحد الأول</p>
<p>وجاءوا إليه عطشي لخلاصه في الأحد الثاني</p>
<p>ونالوا عضوية ملكوته بالتوبه والمعموديه في الأحد الثالث</p>
<p>أخذوا في الأحد الرابع إستناره معرفته وأشرقت حياتهم بنور الإبن</p>
<p>لذلك يتكلم الأحد الرابع عن إشراقة  نور إبن الله التي رافقت وتابعت معموديتهم بالماء والروح لينال الأمم نعمة البصيرة لمعرفة الإله الحقيقي</p>
<p>لذلك يبدأ مزمور  عشية بابواب السماء المفتوحة وفيض مياه الروح ( وفاضت الأودية مياه &#8230; وفتح أبواب السماء )</p>
<p>ويكمل مزمور باكر بعطية الخلاص من خلال نور الإبن ( ولينر وجهك علينا فنخلص &#8230;. أحينا فندعو باسمك )</p>
<p>ونتيجة هذه العطية في مزمور القداس أن البشرية صارت تعاين نور إبن الله ( بنورك يارب نعاين النور )</p>
<p>أما في إنجيل عشية يبكت الرب اليهود لعدم قبولهم السراج الموقد المنير - يوحنا المعمدان - وأيضا رفضهم شمس البر رغم حضوره الإلهي وسطهم ورغم شهادة الكتب عنه ( كان هو السراج الموقد المنير وأنتم أردتم أن تتهلوا بنوره ساعة وأما أنا فلي شهادة أعظم من يوحنا &#8230;.. والآب نفسه الذي أرسلني يشهد لي . لم تسمعوا صوته قط ولارأيتم هيئته &#8230;. فتشوا الكتب التي تظنون أن لكم فيها حياة أبدية وهي التي تشهد لي )</p>
<p>ويعلن في إنجيل باكر إحدي ينابيع الإستنارة - الإفخارستيا - والإتحاد بإبن الله ( لأن جسدي مأكل حقيقي ودمي مشرب حقيقي . من يأكل جسدي ويشرب دمي يثبت في وأنا فيه . كما أرسلني الآب الحي وأنا أيضا حي بالآب . فمن يأكلني فهو يحيا بي )</p>
<p>بينما يوضح البولس نور الله للأمم وقساوة القلب المؤقتة لإسرائيل وأخيرا إفتقاد الكل بمراحمه الإلهية ويوضح أيضا عمق وإتساع التدبير الإلهي لخلاص الكل ( فإني أقول لكم أيها الوثنيين . بما أني أنا رسول للوثنيين أمجد خدمتي &#8230;. فإني لست أريد ياإخوتي أن تجهلوا هذا السر لئلا تكونوا عند أنفسكم حكماء أن عمي القلب قد حصل جزئيا لإسرائيل &#8230;. يالعمق غني الله وحكمته وعلمه ماأبعد أحكامه عن الفحص وطرقه عن الاستقصاء )</p>
<p>أما الكاثوليكون فيعلن الدالة والثقة في الصلاة كعلامات الإستنارة وأيضا المعرفة الحقيقية لله وإدراك الحق الإلهي ( وهذه هي الدالة التي لنا عنده : أنه إن طلبنا شيئا حسب مشيئته يسمع لنا وإن كنا نري أنه يسمع لنا كل مانطلبه منه نعلم أن لنا الطلبات التي طلبناها &#8230;. ونعلم أن ابن الله قد جاء ووهب لنا علما لنعرف الإله الحقيقي ونثبت في ابنه يسوع المسيح هذا هو الإله الحقيقي والحياة الأبدية )</p>
<p>لذلك يعلن الإبركسيس من خلال رؤيا القديس بطرس ليس فقط قبول الأمم بل ونوالهم عطية الروح القدس والمواهب الروحية مثل الأمم تماما ( فلما ابتدأت أتكلم حل الروح القدس عليهم كما حل علينا نحن أيضا في البداءة فتذكرت كلام الرب كيف قال : إن يوحنا عمد بماء وأما أنتم فسيعمدونكم بالروح القدس . فإن كان الله قد أعطاهم الموهبة كما لنا أيضا بالسوية ومؤمنين بالرب يسوع مثلنا أيضا &#8230;. وكانوا يمجدون الله قائلين : إذا أعطي الله الوثنيين أيضا التوبة للحياة )</p>
<p>ويختم إنجيل القداس بنموذج رائع للإستنارة المولود أعمي ورغم طول فترة العمي إلا إن اللقاء مع ابن الله فتح البصيرة ليس فقط عين الجسد بل أيضا أعين القلب الداخلية لتنفتح علي معرفة الإله الحقيقي ( مادمت في العالم فأنا نور العالم &#8230;. فمضي وغسل وجهه وأتي بصيرا &#8230;&#8230; إنما أعلم شيئا واحدا أني كنت أعمي والآن أبصر &#8230;.. وقال له : أتؤمن بابن الله . أجاب وقال له : من هو ياسيدي لأؤمن به . فقال له يسوع : قد رأيته وهو الذي يتكلم معك . فقال أؤمن ياسيدي وسجد له )</p>
<p>إنجيل القداس في فكر آباء الكنيسة ( يُمْكِن الرجوع لهذا الفصل في أحد المولود أعمي في قراءات الصوم الكبير )</p>
<h3>أفكار مُقترحة لعظات</h3>
<p><strong>(١) نور ابن الله  &#8221; كيف تستنير حياتنا فيه وبه ؟</strong></p>
<p><strong>١- كلمته المُقدَّسة</strong></p>
<p>( لم تسمعوا صوته قط ولا رأيتم هيئته وليست كلمته ثابتة فيكم &#8230; فتشوا الكتب التي تظنون أن لكم فيها حياة أبدية وهي التي تشهد لي ) إنجيل عشيّة نري ونعيش وندرك نور الثالوث في كلمة الله والتعمق فيها والشبع بها</p>
<p><strong>٢- الإفخارستيا</strong></p>
<p style="text-align: right;">( من يأكل جسدي ويشرب دمي يثبت فيَّ وأنا فيه كما أرسلني الآب الحي وأنا أيضاً حي بالآب فمن يأكلني فهو يحيا بي )                                                                                                                           إنجيل باكر</p>
<p><strong>٣- عمق التدبير الإلهي في قساوة الشعوب وعصيانهم</strong></p>
<p style="text-align: right;">( لأن الله أغلق علي الجميع معاً في العصيان لكي يرحم الجميع يا لعمق غني الله وحكمته وعلمه ما أبعد أحكامه عن الفحص وطرقه عن الاستقصاء لأن من الذي عرف فكر الرب أو من صار له في المشورة )                 البولس</p>
<p>يشرح القديس هنا كيف يستخدم الله عصيان شعبه وقساوته في رجوع الأمم وعضويتهم في كنيسة العهد الجديد</p>
<p><strong>٤- دالة البنين</strong></p>
<p>( وهذه هي الدالة التي لنا عنده : أنه إن طلبنا شيئاً حسب مشيئته يسمع لنا &#8230; ونعلم أنّ ابن الله قد جاء ووهب لنا علماً لنعرف الإله الحقيقي ونثبت في ابنه يسوع المسيح )                                                          الكاثوليكون</p>
<p>إستنارة البنين هي عطيّة إلهية وجوهرها معرفة الله معرفة اختبارية يقينية</p>
<p><strong>٥- نور الله في الأمم</strong></p>
<p>( فلما ابتدأت أتكلم حلَّ الروح القدس عليهم كما حلَّ علينا نحن أيضاً في البداءة &#8230; وكانوا يمجدون الله قائلين : إذاً أعطي الله الوثنيين أيضاً التوبة للحياة )                                                                                   الإبركسيس</p>
<p>فتح الرب أعين القديس بطرس والتلاميذ علي قبول الأمم وإنسكاب مواهب الروح القدس عليهم كما هم أيضاً</p>
<p><strong>٦- حضور المسيح هو مصدر نور كل البشر</strong></p>
<p>( بنورك يارب نعاين النور )                                                                                      مزمور القدَّاس</p>
<p>( وضع طيناً علي عيني واغتسلت فأبصرت )  انجيل القدَّاس كل من يتقابل معه يستنير ويري مجده ويسجد للاهوته</p>
<h4><strong>( عظة أخري مقترحة )</strong></h4>
<p><strong>(٢) لقاء الرب مع إحتياج الإنسان</strong></p>
<p><strong>١- مجد الله فينا وفي ضعفنا</strong></p>
<p>&#8221; لا هذا أخطأ ولا أبواه لكن لتظهر أعمال الله فيه &#8221;</p>
<p>دايما كتير مننا بيربط بين الخطية وبين الضيقات لكن هنا ربنا بيقول إن كل ضعفاتنا وضيقاتنا سمح بها الله لأجل خطة وتدبير ومحبة</p>
<p>مثال : تأخير الله علي زكريا بالإنجاب وعقم إليصابات وكانت تشعر بالعار لكن إكتشفت بعدها إنها خطة إلهية لأجل أن يأتي طفلها مهيئ طريق الرب</p>
<p><strong>٢- بساطة الإيمان والتصديق</strong></p>
<p>كيف يصدق شخص ولد أعمي دون خلايا العين أن مجرد ذهابه للإغتسال في بركة سلوام يعيد له كل شئ ويجعله بَصِيرا ؟!</p>
<p>كيف يصدق التلاميذ أن أكل طفل يكفي خمسة آلاف أسرة ؟!</p>
<p><strong>٣- الإستنارة عطية من يلتقي مع المسيح له المجد طالبا الشفاء</strong></p>
<p>اليهود الذين تقابلوا مع المسيح له المجد لم يطلبوا شيئا لأجل خلاصهم بل فتشوا في دفاتر الآخرين وفي خطاياهم وخرجوا من المقابلة خاسرين</p>
<p>كثيرين يحضرون الي الكنيسة ولكن من منهم يلتقي مع شفاء الرب وسلامه ولاينشغل بضعف الآخرين</p>
<h3>عظات آبائية ( يُمْكِن الرجوع أيضاً لعظات أحد المولود أعمي في قراءات الصوم الكبير )</h3>
<p><strong>القديس جيروم</strong></p>
<h3>رسالة القديس جيروم إلي كاستريتوس ليعزيه عن فقدان البصر مُسْتَشهداً بقصة المولود أعمي :</h3>
<p>إذ أكتب إليك الآن أسألك ألا تتطلع إلى البلوى الجسدية التي حلّت بك ظانًا أنها بسبب الخطية&#8230; أما نرى أعدادًا كبيرة من الوثنيين واليهود والهراطقة وأصحاب أفكار مختلفة يتمرغون في وحل الشهوة، ويسبحون في الدم في عنفٍ أكثر من الذئاب المفترسة وكالحدأة الخاطفة، ومع هذا لم يحل هذا الوباء إلى مساكنهم؟ إنهم لا يصابون مثل غيرهم، ويزدادون وقاحة ضد اللَّه، ويرفعون وجوههم حتى إلى السماء. ومن الجانب الآخر نحن نعرف أن القديسين يصابون بأمراضٍ وآلامٍ وأعواز&#8230; إن ظننت أن عماك سببه الخطية، وأن المرض الذي غالبًا ما يستطيع الأطباء أن يشفوه شهادة على غضب اللَّه، إذن فأنت تحسب إسحق خاطئًا، إذ أصيب بعمى كامل حتى خُدع، وهو يعطي البركة لمن لم يكن يود أن يعطيه. نتهم يعقوب بالخطية الذي اظلمّ نظره، فلم يعد يرى إفرايم ومنسّى (تك ٤٨ : ١)، مع أنه بعينه الداخلية وروحه النبوية استطاع أن يرى المستقبل البعيد وأن المسيح قادم من السبط الملوكي (تك ٤٩ : ١)<a href="#_ftn1" name="_ftnref1">[1]</a></p>
<h3>عظات آباء وخدَّام معاصرين</h3>
<h4>قداسة البابا تواضروس الثاني</h4>
<p><strong>النور الحقيقى</strong></p>
<p>المسيح في هذه المعجزة هو &#8221; النور&#8221; الحقيقى كما نعبر عن ذلك يومياً في صلاة باكر ، في مقابل الظلمة التي هي</p>
<p>قوة الشرير أو نظام حياة الشر . يقول السيد المسيح : &#8221; أنا هو نور العالم &#8221;</p>
<p>معلناً طبيعة الله لعملين :</p>
<p>أ – يفضح الخطية ويبددها .                ب – يكشف الأسرار ويعلنها .</p>
<p>المعجزة : وسيلة إيضاع لحقيقة لاهوتيه كبرى أنه هو &#8221; الخالق &#8221; :</p>
<p>+ إنها معجزة خلق عينين .</p>
<p>+ انتهت بالسجود كعبادة وليس أحترم فقط .</p>
<p>+ بالاعتراف والإيمان بابن الله .</p>
<p>نال هذه المعجزة الشخص المؤمن فقط بمعنى أن في قلبه تربة صالحة لبذرة الإيمان .</p>
<p>لم تكن المعجزة في فتح عيني هذا الرجل . لكن في فتح قلبه للمخلص . كان أعمى جسدياً وروحياً لكن عيناه وقلبه انفتحوا لأنه استمع إلى الكلمة وآمن بها وأطاعها ، فاختبر نعمة الله .</p>
<p><strong>معجزة لكل العالم</strong></p>
<p>+ يقدم القديس يوحنا في إنجيله ٨ معجزات :</p>
<p>٤حدثت في الجليل :</p>
<p>تحويل الماء إلى لخمر ، شفاء ابن خادم الملك ، اشباع الجموع ، المشى على الماء</p>
<p>٤ حدثت في اليهودية :</p>
<p>شفاء مريض بيت حسدا ، المولود أعمى ، إقامة لعازر ، صيد ١٥٣ سمكة .</p>
<p><strong>المحتاج والمعجزة :</strong></p>
<p>+ أعمى منذ ولاته = يستعطى .                                     + يعيره الناس = لخطيته .</p>
<p>+ إيمانه متدرج ( إنسان ، نبى ،  من الله ، ابن الله  )              + له شهادة اختبار .</p>
<p><strong>مشاهدوا المعجزة :</strong></p>
<p>+ الجيران .. محبوا الكلام والاستطلاع .</p>
<p>+ الفريسيون .. كانوا عمياناً ولم يسمعوا لنور الكلمة داخلهم &#8230; كانوا عمياناً في كبريائهم &#8230; برهم الذاتي وفى تقاليدهم وفهمهم</p>
<p>الخاطئ لكلمة الله .</p>
<p>+ الأبوان &#8230; خائفان من اليهود ، فقد أجابوا بأمانة أولاً ثم بمراوغة ثانياً.</p>
<p><strong>المسيح والمعجزة :</strong></p>
<p><a href="#_ftn2" name="_ftnref2">[2]</a>     + رأى الأعمى فبادر بشفائه  .               + أتم الشفاء ليتمجد الله لأن الوقت قصير ، ليعلن رسالة للعالم .</p>
<h4>المتنيح الأنبا بيمن أسقف ملوي وأنصنا والأشمونين</h4>
<p><strong>نور العالم</strong></p>
<p>&#8221; أنا هو نور العالم ، من يتبعني فلا يمشي في الظلمة &#8221; (یو ۱۲:۸) من الألقاب التي عرف بها الرب يسوع في الكتاب المقدس ، أنه نور العالم إنه هو النور الحقيقي ، الذي يضئ في الظلمة ، والظلمة لا تدركه ولا تعرفه .. وهذا اللقب ذكره المسيح له المجد عن نفسه ، عندما قدموا له المرأة التي أمسكت في الزنا، وكانوا يطلبون رجمها .. أشار الرب في سرية روحية ، أن الظلمة لم تكن في المرأة الزانية التي تابت ، وإنما في الفريسيين الذين يعيشون في حياة مظلمة داخلية، ويدعون أنهم يعرفون النور والحق والوصايا . وأطلق هذا اللقب مرة أخرى ، عندما رأى المولود أعمى .. وواجه الفريسيين الحاقدين ، الذين لم يفرحوا لأن الرب أعاد البصر لهذا المسكين ، إنما أظلمت قلوبهم بالحقد، وأدانوا المخلص أنه عمل المعجزة يوم سبت&#8230;</p>
<p>فالقضية إذا مسيحيا ليست هي قضية بصر العينين الجسديتين ، إنما البصيرة التي في الداخل ، التي تعرف الانسان الحق ، وتلهمه الصلاح . وتقوده إلى الطريق ، وتحفظه في النور والحق والحب والحياة الحقيقية .. وحتى يستكمل المقال أبعاده ، نسأل :</p>
<p>١ - ما الذي جاء عن النور في العهد القديم ، وإشاراته ورموزه عن المخلص ؟</p>
<p>۲ - ما أعلنه السيد الرب لنا عن شخصه کنور للعالم ، وعلاقة هذا بالمفاهيم اللاهوتية الأساسية ، مثل الحق والحب والحياة ؟</p>
<p>3 - ما هي التداريب الروحية ، التي نخرج بها من دراستنا هذه ، کی نحيا في النور ونسلك كأبناء نور ؟</p>
<p><strong>النور في العهد القديم</strong></p>
<p>في سفر التكوين ، نقرأ عن أن الله الذي هو نور لا يدني منه ، إذ رأي الأرض خربة وخالية ، مشوشة ومضطربة .. أخذ روح الله يرف علی وجه المياه .</p>
<p>ومعنى هذا أن الحياة بدأت تدب في الخراب والفوضى..</p>
<p>وأعد روح الله الأرض ، ليقول الآب فأبنه الكلمة ليكن نور فكان نور&#8230;</p>
<p>وهكذا كان النور إفصاحا عن طبيعة الله</p>
<p>فالله هو النور الحقيقي ، وخلق النور كان من عمل يديه ، وكل ما يعمله الله حسن ، ورأى الله أن النور حسن ، فهو حسن لأنه صنعة يديه، ولأنه يعلن عن طبيعة الله النورانية الحقانية ، ولأنه يمهد لأعمال الخلقة العظيمة الآتية من بعد، ولأن سيكون متعة وجمالا للإنسان الذي أراد خلقته على صورته ومثاله ، لينعم بكل ما يخلقه له .</p>
<p>الله يسكن في نور لا يدني منه، وهو النور الحقيقي . ولكنه إذا أراد أن يكشف للإنسان عن شئ من طبيعته النورانية ، أعطاه النور الحى ، ليكون واسطة وإيضاحا عن إمكانية التلامس مع النور الإلهي ، هذا النور الحقيقي الذي كل من يتبعه لا يمشي في الظلمة البتة.</p>
<p>وكان الرمز صريحا في خيمة الإجتماع، فالمغارة الذهبية بشعبها الست وسرجها السبعة ، كانت تشير في وضوح إلى الرب يسوع المسيح ، الذي هو نور العالم ، والنور الحقيقي الذي ينير كل إنسان (يو ١ : ٩)، كان نورها مستمرا من المساء إلى الصباح بإستمرار.. وكانت من ذهب نقی، تشير إلى المسيح الآتی کنور العالم ، وإلى النقاوة الكاملة في شخص المسيح ، وإلى المؤمنين سيضيئون كأنوار في العالم (في ۲: ١٥).</p>
<p>وكذلك كان نور الله ومجده يحل بين الكروبين على غطاء تابوت الشهادة (خر ٤٠ : ٣٥) فلم يقدر موسى أن يدخل خيمة الاجتماع، لأن السحابة حلت عليه، وبهاء الرب ملأ المسكن.</p>
<p>وورد بسفر العدد أنه &#8221; وفي يوم إقامة المسكن غطت السحابة المسكن خيمة الشهادة وفي المساء كان على المسكن كمنظر نار إلى الصباح .</p>
<p>&#8221; وهكذا كان دائما السحاب تغطيه ومنظر النار ليلا &#8221; (عدد ٩: ١٥- ١٦).</p>
<p>لقد كان النور نهارا في السحابة ، واللهيب ليلا في عمود النار ، إشارة إلی نور المسيح الذي يضئ في قلوب المؤمنين نهارا وليلا يهدی مواكبهم طرق السلام .</p>
<p>وفي عيد المظال أيضا ، كان اليهود يوقدون المنارة ، ثم يسكبون الماء على درج الهيكل ، ليذكرهم العيد كيف أخرج الرب لهم الماء من الصخر ، وكيف هداهم بعمود النور ليلا و السحابة نهارا&#8230;</p>
<p>وفي هذا اليوم من العيد العظيم ، وقف يسوع بجوار المنارة وشاهد الطقس يجري ، وأعلن عن نفسه أنه نور العالم ، وأن من يؤمن به تخرج من بطنه أنهار ماء حي.</p>
<p>لقد كان النور مرتبطا بالمسيا إرتباطا شديدا طيلة العهد القديم وبالأخص في سفر أشعياء النبي الإنجيلي.</p>
<p>+ &#8221; الشعب السالك في الظلمة أبصر نورا عظيما الجالسون في أرض ظلال الموت أشرق عليهم نور &#8221; (اش ۲:۹) .</p>
<p>+ قد جعلتك نورا للأمم ، لتكون خلاصي إلى أقصى الأرض (أش ٤٩: ٦) أنظر أيضا (أش ٦٠ :١)، (أش٤٢: ٦).</p>
<p><strong>المسيح هو النور الحقيقي</strong></p>
<p>+ هو نور شخصية المبارك &#8221; الرب نوری وخلاصی&#8221;.</p>
<p>+ وهو نور في طبيعته &#8221; الله نور وليس فيه ظلمة البتة &#8221; .</p>
<p>+ وهو نور في معرفته &#8221; كل حق هو نور . إنه ينير لكل إنسان أتيا إلى العالم لهذا كل من يتبعه ، يحيا في النور ويصبح هو أيضا نورا للآخرين.</p>
<p><strong>النور والحياة</strong></p>
<p>إن المتأمل في اللاهوت الأرثوذكسي يجد ثمة إرتباطا شديدا بين النور والحياة ، النور والحق ، النور والحب . فالمسيح هو النور وهو الحياة وقد أعلن عن هذا بوضوح عند قبر لعازر .. حيث المعركة التي واجهت فيها الحياة ظلمة الموت والخطيئة .</p>
<p>فهو عندما يعلن عن حبيبه لعازر انه قد نام ، أي قد مات ، يقول إن كان أحد يمشي في النهار لا يعثر ، لأنه ينظر نور العالم ، ولكن إن كان أحد يمشي في الليل يعثر لأن النور ليس فيه.</p>
<p>فالخطيئة هي التي أثمرت الموت ، إذ يقول الكتاب أجرة الخطية موت ، أما هبة الله هي حياة أبدية ، وأما الذي يؤمن بالإبن فله حياة أبدية ولو مات فسوف يحيا لأن الحياة هي في شخص الرب يسوع ونوره ونلبس أسلحة النور ولنسلك بلياقة كما في النهار ، لا بالبطر والسكر لا بالمضاجع والعهر ، لا بالخصام والحسد، بل إلبسوا الرب يسوع المسيح . ولا تصنعوا تدبيرا للجسد لأجل الشهوات . (رو ۱۳ : ۱۳ ،١٤).</p>
<p><strong>النور والحق</strong></p>
<p>المسيح هو النور الحقيقي ، وهو الحق كما هو الحب والحياة . والإرتباط  وثيق تماما بين النور والحق . فهما طريق الرب.</p>
<p>وقد سلم للكنيسة الروح القدس ، وسلمه الآباء لتلاميذهم ، حتی سمیت المسيحية في عصر الرسل طريقة الرب .. إنها الحياة التي فيها النور ، القداسة، الوضوح والصراحة والاستقامة ، الحق الذي لا يعرف غشا أو التواء أو دبلوماسية</p>
<p>وأشعياء في القديم بروح النبوة ، حذر بشدة من الدخول في طريق الإلتواء أو خداعا</p>
<p>طريق الخداع ومجاملة الناس على حساب الوصية وحق الله . &#8221; ويل للقائلين للشر خير ، وللخير شرا ، الجاعلين الظلام نورا والنور ظلاما والجاعلين المر حلوا والحلو مرا ، ويل للحكماء في أعين أنفسهم والفهماء عند ذواتهم (أش ٥ : ۲۰).</p>
<p>ولقد أوضح الرب هذه الحقيقة ، عندما واجه الكتبة والفريسين ، الذين تنطبق عليهم ويلات أشعياء ، عندما قال : وهذه هي الدينونة ، أن النور قد جاء الى العالم</p>
<p>وأحب الناس الظلمة أكثر من النور ، لأن أعمالهم كانت شريرة (يو٣ :١٩- ٢٠)</p>
<p>وفي الإرتباط بين النور والحق ، قال الرب له المجد ، وأما من يفعل الحق ، فيقبل إلى النور ، لكي تظهر أعماله أنها بالله معمولة (يو ٣: ۲۱) .</p>
<p>والنور الذي أعلن لنا في شخص المسيح ، ليس إضاءة مادية ، بل هو طريق ومنهج وحياة وسلوك وإختيار &#8221; فسيروا مادام لكم النور ، لئلا يدرككم الظلام ، والذي يسير في الظلام ، لا يعلم إلى أين يذهب . مادام لكم النور ، آمنوا بالنور لتصيروا أبناء النور&#8221; (يو ۱۲ : ٣٥) .</p>
<p>ويقول بولس الرسول لأهل أفسس &#8221; لأنكم كنتم قبلا ظلمة أما الآن فنور في الرب اسلكوا كأولاد نور &#8221; (أف ٥: ٨) .</p>
<p>ويقول معلمنا يوحنا البشير &#8221; ولكن إن سلكنا في النور ، كما هو في النور فلنا شركة بعضنا مع بعض ، ودم يسوع المسيح إبنه يطهرنا من كل خطية&#8221; (ایو ١:٧) .</p>
<p>ويربط الرسول بولس في إلهام بديع ، بين حياة القداسة واليقظة الروحية من ناحية ، والنور والنهار من ناحية أخرى.</p>
<p>ويشير بالليل إلى النجاسة وظلمة الخطية ، بقوله &#8221; فلستم فی ظلمة ، حتی يدرككم ذلك اليوم كلص . جميعكم أبناء نور وأبناء نهار. لسنا من ليل ، ولا ظلمة ، فلا ننم إذا كالباقين ، بل لنسهر ونصح ، لأن الذين ينامون فبالليل ينامون ، والذين يسكرون فبالليل يسكرون &#8221; (ا تس ٥: ٢، ٦).</p>
<p>وهذه صرخته المدوية التي أيقظت أوغسطينوس ، وأعطته حياة التوبة &#8220;قد تناهي الليل ، وتقارب النهار ، فلنخلع أعمال الظلمة&#8221;.</p>
<p><strong>النور والحب </strong></p>
<p>لم نجد رسولا ربط بين النور الإلهي والحب المقدس ، مثلما فعل القديس يوحنا الرسول . فرسالته الأولى يدور محورها الأساسي حول هذه القضية اللاهوتية.</p>
<p>إن النور والحب الحقيقي هما واحد في شخص المسيح ، وأن كل من في النور يحب ومن يحب يحيا في النور ، ومن لا يحب فلم يعرف النور ، وفي الظلمة يسلك.</p>
<p>&#8221; أيها الأحباء لنحب بعضنا بعضا ، لأن المحبة هي من الله وكل من يحب فقد</p>
<p>ولد من الله ، ومن لا يحب لم يعرف الله ، لأن الله محبة &#8220;.</p>
<p>&#8221; من قال إنه في النور ، وهو يبغض أخاه ، فهو إلى الآن في الظلمة ، من يحب أخاه يثبت في النور ، وليس فيه عثرة وأما من يبغض أخاه فهو في الظلمة وفي الظلمة يسلك ، ولا يعلم أين يمضي، لأن الظلمة أعمت عينيه (ایو ٤: ٧ - ۸) ، (ایو ۹:۲ - ۱۱).</p>
<p><strong>تداريب روحية</strong></p>
<p><strong>نور المسيح يكشف ظلمتي الداخلية</strong></p>
<p>إذا جلست في الظلمة فالرب نور لي (می ۷: ۸) .. هل أنا أحب الأخوة ؟</p>
<p>هل أنا أسلك في الحق ؟ هل أنا أسمح لنور المسيح أن يستعلن في داخلي بروح القداسة ، حتى يظهر رائحة المسيح الذكية للناس ؟ &#8221; لتشرق فينا الحواس المضيئة ، والأفكار النورانية ، ولا تغطينا ظلمة الآلام &#8221; .</p>
<p><strong>نور المسيح يهدی طرقی</strong></p>
<p>+ سراج لرجلي كلامك ، ونور لسبیلی (مز ۱۱۹ : ١٠٥) .</p>
<p>+ لان الوصية مصباح والشريعة نور ، وتوبيخات الأدب طريق الحياة (أم ٦ : ۲۳).</p>
<p>+ هل أجلس متتلمذا كل يوم عند أقدامه ، أطلب منه بإلحاح أن يقود خطواتي بنوره</p>
<p>الإلهي ؟ أم أن دوافعى ذاتية ، ومحركات قلبي أرضية بشرية ؟</p>
<p><strong>نور المسيح يبهج حياتي</strong></p>
<p>أيها النور الحقيقي ، الذي يضئ لكل إنسان آت إلى العالم ، أتيت إلى العالم</p>
<p>بمحبتك للبشر ، وكل الخليقة تهللت بمجيئك ، أعطني أن أبتهج بنور محبتك ، وليبدد نور حبك ظلمات الحقد والحسد والقلق. هبنا في كل يوم حاضر أن نرضيك فيه ، لنكون أبناء نور وأبناء قيامة<a href="#_ftn3" name="_ftnref3">[3]</a>.</p>
<h4>المتنيح الأنبا كيرلس مطران ميلانو</h4>
<p><strong>احاسيس اعمي</strong></p>
<p><strong>أحاسيس أعمي ساكن في الظلمة</strong></p>
<p>ليس عجبا عندما نسمع عن أعمي يقود أعمي وكلاهما يقعان في حفرة (مت ١٥ : ١٤) إنما كل العجب عندما نسمع عن شخص له عيون مفتوحة ويقود مبصرا .. ويقع كلاهما في هوة عظيمة ..</p>
<p>أعمي .. سنين عديدة عشتها .. وحياتي كلها لوحة واحدة لا تتغير .. لوحة كانت قاتمة .. لأنني لم أري النور من قبل .. كان النور والظلام عندي يتساويان ..</p>
<p>الطفل قبلما يتكلم ينظر بعينيه .. ويمد يده ليمسك ويلعب مع ما يراه .. يجري ويصنع ما يريد .. يجري نحو ما يراه محببا عنده .. يفر هاربا نافرا من أشياء اخري ..</p>
<p>ولأني أعمي .. عرفت الجريان من أصوات الأقدام .. أنا لست كباقي الأطفال الذين يأخذون بعدما ينظرون .. إنما كنت ألمس .. وأتحسس قبلما أخذ ..</p>
<p>طفولتي كلها لم يكن فيها طعم للعب والجريان .. من حولي الأطفال يلعبون .. أنا طفل مثلهم .. فجأة لم أجدهم حولي .. سألت وعرفت انهم يجرون بعيدا ويلعبون .. ولما حاولت أن أفعل مثلهم تعثرت قدماي .. واصطدمت أكثر من مره .. وتلقنت الدرس الاجباري .. أن الجريان واللعب ليس لي ..</p>
<p>الأطفال .. سألوني أكثر من مرة .. أين عيناك ؟ ! .. وعن الإجابة وجدت فمي عاجزاً وفاقداً النطق ..</p>
<p>الأطفال .. من حولي يصوتون ويصرخون .. وسمعت أباءهم يقولون لهم .. ! لا تبكوا .. ومن كلامهم .. عرفت ما هو البكاء ؟! وأدركت أن أباءهم يمسحون دموعهم ..</p>
<p>أنا الطفل صاحبهم ليست لدي عيون تعبر بالدموع &#8230; !! لي ألم من نوع آخر لم يعرفه إلا الذي عاش مثلي .. أنا لي مشاعر مثل الآخرين .. ليست لي عيون . لكن لي دموع .. دموعي لها قنوات تجري في داخلي .. لا يقدران يتلقفها أب .. ولا يمسحها أخ .. دموعي كانت تنمي زروع الصبر في داخلي ..</p>
<p>بعيون من هم حولي كنت اتحرك .. وبصري هو في يد قائدي الذي يمسكني بيديه..</p>
<p>معرفتي كانت من أحاديث وكلمات كل من كان حولي .. ليس هناك جديد في حياتي.. الحاضر كان كالماضي .. حكايات .. حكايات .. لابد أن أسمعها لأن جفون أذني مفتوحة عوضا عن عيني .. حكايات كنت اسمعها بحسب أمانة من يرويها .. وبالتسليم كنت أحكيها ..</p>
<p>إن انفرد بي شخص .. ومال بفمه إلى أذني .. وقال لي أنا أفتح لك قلبي .. وحكي حكايات عن تصرفات وأخطاء آخر .. تدور الدقائق .. ويأتي هذا الآخر ، ويجلس من حولي الاثنان ويتكلمان معا بحب وود ليس له مثيل &#8230; !!</p>
<p>كانت أذني لا تصدق ما تسمعه .. لذا كانت تشارك عيني بأنها تغمض عن السمع .. وكنت أسأل نفسي .. وهم بالقرب مني .. هل الانسان الذي قلبه يحفظ الإساءة .. لسانه يقدر أن يلفظ شهدا ؟! وهل لا يعلم أن ما يقوله في الخفاء يظهر علانية ؟! (لو ٨ : ۱۷) ..</p>
<p>كنت أتحير .. وأسأل نفسي .. هل أنا أعمي فقط ؟! أم أنا أصم لا أسمع ؟! أم أنا لا أفهم ما يقال ؟!</p>
<p>تكررت مثل هذه المواقف .. وزادت همسات الآخرين في أذني .. وكان صعبا على كأعمى أن أصدق كل من حولي ..</p>
<p>من أقوالهم .. وأعمالهم الملموسة كنت أقول لنفسي .. قد يهمسون عني .. وأنا لا أراهم ؟! قد يتكلمون عني بالإشارات وأنا لا أبصر ؟! أو يغيرون الأحاديث عندما يجلسون معي ؟ ! .. كنت أقول لماذا عدم الوضوح ؟! لماذا يرعوون مع الراعي .. ويأكلون مع الذئب ؟!</p>
<p>وإن كنت لا أفكر في هذه الأمور .. أنا لست اعمي ؟!</p>
<p>الذين كانوا يجلسون معي لا يحتملون البقاء كثيرا .. هم يختنقون لأن المنظر الذي كانوا يشاهدونه عندي كان واحدا !!</p>
<p>في أحاديثهم عندي .. أسمعهم يتناقشون عن الإحساس بالغير .. وكانوا يقدمون ما يريدونه .. لا ما أريده أنا &#8230; !!</p>
<p>عيونهم المفتوحة لم تحتمل المنظر الواحد .. ولم ينظروا إلى اللوحة الواحدة الميتة المحبوسة في عقلي لسنوات عديدة ؟! بعيون الرحمة .. كانوا يطلبون مني أن أكون قويا .. وأن أخرج بعيدا عن فقدان البصر .. والأمر العجيب .. أنهم كانوا ضعفاء جدا أمام أقل الضيقات التي كانت عندهم .. وحتما ستزول !!</p>
<p>في عقولهم مقاييس نموذجية عن القوة .. والاحتمال .. والشجاعة .. وكل من لا يدخل تحت هذه المقاييس يبقي عندهم مريضا وضعيفا !!</p>
<p>كان يوجد من بين الذين يرونني .. قوم يتألمون .. ولا يحتملون .. وكل ما يقدمونه لي أنهم يتأثرون .. ويندبون حظي .. وسريعا ما يعبرون &#8230; !!</p>
<p><strong>أيها المولود أعمي :</strong></p>
<p>أعذرنا .. أعذرنا على مقاييس الاحتمال والصبر المرسومة لك داخلنا .. أعذرنا على عدم معرفتنا بأحاسيس الآخرين ..</p>
<p>حقا لكل إنسان مشاعر وأحاسيس .. تختلف من انسان لآخر .. تختلف من طفل لشيخ .. لرجل .. لشاب .. لامرأة .. لمريض .. لعاجز .. ليتيم .. لجاهل .. لحكيم .. لرئيس .. لمرؤوس ..</p>
<p>بالرغم من طفولتك المجروحة كقولك .. وفقدائك لبصرك .. وفقدانك لدموعك .. ولعدم مقدرتك على الجريان واللعب .. ولكل ضيقاتك الداخلية .. هل تعلم أنك أنت الوحيد الذي لما فتح عينيه .. فتحها على شخص المسيح الخالق ؟!</p>
<p>هل تعلم .. أن آدم أب كل الخليقة .. لم يرى كما رأيت أنت ؟! آدم رأي نفسه نفسا حية عاقلة وسمع صوت ولم يره ؟!</p>
<p>أنظر إلى .. موسى كليم الله .. إلى صموئيل الطفل في الهيكل .. الملك يهوشافاط ذي العيون المفتوحة نحو الله .. جيحزي .. من بين الذين رأوا عمل الله .. رأوا ذراعه القوية .. وجنوده السمائية .. ولم يروا الله !!</p>
<p><strong>طوباك أيها المولود أعمي :</strong></p>
<p>طوباك .. لأن نورا جديدا دخل عينيك .. وأضاء عقلك .. وجعل شعارك الدائم .. &#8221; أخاطئ هو لست أعلم .. لكن أعلم شيئا واحدا ، كنت أعمي والآن أبصر .. &#8221; (يو ٩ : ٢٥) .</p>
<p>الفريسيون أصحاب العيون المفتوحة للنقد .. مدوا أياديهم لك .. بعدما خلق الله عيونك الجديدة .. مدوا أياديهم لتمشي معهم في طريق الإدانة .. وأنت بقوة رفضت السقوط معهم في الحفرة العميقة !!</p>
<p>إجابتك لهم .. أظهرت انهم عميان .. لم يقدروا أن يقودوا من أضاء الرب عينيه .. أنت مدرسة للذين لهم عيون ولا يبصرون .. مدرسة فيها نتعلم .. أن لا نحكم على أحد من كلام المقربين لدينا .. قد يكون هؤلاء المقربون محبين لنا حقا .. لكن قلوبهم مهجورة لا يسكنها الحب للكل .. نستيقظ لئلا من كثرة كلام المقربين تنهزم أفكارنا ، ولأحكامهم الخاطئة تثق قلوبنا وتتبعهم !! من المدرسة نتعلم .. كل من ينظر إلى خطايا وسلبيات الغير .. هو أعمي ولوكانت له عيون مفتوحة .. وأخرس كل من ينقلها .. وميت كل من لا يحب من كل القلب ..</p>
<p>يا إلهي .. الذي يفقد عينيه تتعثر خطواته .. والذي يفقد عيون قلبه تتحطم حياته .. ابنك ديديموس الضرير .. فقد بصره .. لكن بعيون قلبه .. رأي قلبك يا الله ..</p>
<p>يا من بكلمتك خلقت عيونا جديده للمولود أعمي .. أرفع يد العالم عن عيون قلبي .. وانتهر لجاجته الصارخة في أذني قائلة &#8221; أري لكي أؤمن &#8221; .. دع قلبي يتمسك بقولك &#8221; امن لكي تري<a href="#_ftn4" name="_ftnref4">[4]</a> &#8221; .</p>
<h4>المتنيح القمص تادرس البراموسي</h4>
<p><strong>مادمت في العالم فأنا نور العالم (يو ٩ – ١ – ٣٨ )</strong></p>
<p>كان هناك اعتقاد سائد في فكر اليهود أن المصيبة أو الكارثة أو الألم الذى يحل بالإنسان هو نتيجة خطية معينة . أما الرب يسوع فأستخدم معناه هذا الرجل والآمه لإظهار الأيمان وتمجيد الله أننا ليس في عالم ملئ بالشر . حيث لا ينال السلوك المستقيم جزاءه دائماً كما لا ينال السلوك السئ الشرير عقابه لذلك فأحياناً يتألم الأبرياء فأن الله يبعد عنا كل ألم لو كنا نلتجئ اليه بينما كان الفريسيين يجتمعون ويتباحثون وكان الناس ينالون الشفاء وحياتهم تتغير ويتبعوا المسيح بالرغم من اعتراض الكتبة والفريسيين .</p>
<p>تشكك اليهود مبنياً ليس على عدم البراهين بل على الحقد والضغينة والغيرة العمياء مما يفعل السيد المسيح. صنع الرب يسوع من الطين وطلا عينى الأعمى أراد بهذا أن يعطى أية في السبت لكى يعلمنا أن نعتنى باحتياجات الآخرين حتى في يوم الراحة سمع الرجل الذى كان أعمى كثيراً من الأسئلة وهو لم يعلم كيف شفى ومن الذى شفاه لأنه كان أعمى لما شفاه الرب يسوع لذلك لم ينظره . لكنه متأكد إنه حدث تغيير في حياته بصورة عجيبة ومعجزيه .</p>
<p>وأنه كم كان يتمنى أن يعلن للجميع ما حدث وكيف برئ ولا سيما أنه شفى في السبت كان اعتراض كثيراً جداً من الكتبة والفريسين واعتبروا المسيح إنسان خاطئ لأنه لم يقدس السبت حتى والدى المريض تنكروا لذلك لئلا يطردوا من المجمع لأن اليهود قد تعاهدوا بأن الذى يؤمن بالمسيح له المجد يخرج من المجمع . لقد تعرض هذا الرجل الذى كان أعمى لسؤلات كثيرة وتشكيك في أيمانه وشتيمة من الرؤساء وتعرض أيمانه للامتحان على أيدى بعض من لهم سلطة قال انه إنسان.</p>
<p>ثم قال أنه نبى ولما قابل الرب يسوع قال أنت المسيح أبن الله وسجد له فشتموه وطردوه من الهيكل وكما طالت حياة هذا الرجل واختبار حياته الجديدة وأدت ثقته وأيمانه بمن شفاه لأنه لم يسترد بصره فقط بل أيضاً بصيرته الروحية إذا أنه أعترف بالرب يسوع وآمن به وسجد له</p>
<p><strong>العظة الأولى</strong></p>
<p>أ – نظرة الرب للمحتاجين</p>
<p>ب – سؤال واستفسار عن حياتنا وسلوكنا</p>
<p>ج – إجابة شافية لتمجيد الله</p>
<p>د – أظهار مجد الله بالرغم من الشر المحيط</p>
<p>ه - طين واغتسال وبصيرة</p>
<p>و – شكوك وسلوك ومكائد</p>
<p>ذ – شهادة وأيمان ومجاهرة</p>
<p>ح – تذمر واحتجاج وفض اشتباك</p>
<p>ط – حرب وتشكيك وكبرياء</p>
<p>ى – أعمى يبصر ومبصرون يعمون</p>
<p><strong>العظة الثانية</strong></p>
<p>أ – أيمان المريض ونشر الخبر</p>
<p>ب – تدرج الأيمان وشهادة الاستحسان</p>
<p>ج – أله معبود يحق له السجود</p>
<p>د – هروب من المسئولية وإنكار الحقيقة</p>
<p>ه - أنكار الجميل وعدم المبالاه</p>
<p>و – خوف على المتاصب وحرمان من الأبدية</p>
<p>ذ – جبن وسلبية والحقيقة مخفية</p>
<p>ح – أعمال سطحية وخوف من البشرية</p>
<p>ط – حرمان من الخلاص لخوفهم من الناس</p>
<p>ى – حب الظلمة أكثر من النور</p>
<p><strong>العظة الثالثة</strong></p>
<p>أ – أعمى فاقد البصر يرى النور</p>
<p>ب – ناقص الخلقة – الطين</p>
<p>ج – فقير يستعطى – محتاج</p>
<p>د – أله متحنن – مكمل الناقص</p>
<p>ه - خالق وشفى</p>
<p>و – فريسيين متأمرين</p>
<p>ذ – عديمى الرحمة</p>
<p>ح – مشككين ومشتكين</p>
<p>ط – أسرة ناكرة الجميل</p>
<p>ى – متهربين من المسئولية</p>
<p>ك – جبناء وسلبيين</p>
<p><strong>العظة الرابعة</strong></p>
<p>أ – أعمى شاهد للحق</p>
<p>ب – معلن الأيمان</p>
<p>ج – مدافع قوى</p>
<p>د – حافظ للجميل</p>
<p>ه - متحد الناموس</p>
<p>و – معلم للأجيال</p>
<p>ذ – سلوك في الكمال</p>
<p>ح – لم يهب الموت والحرمان</p>
<p>ط – شهد للرب أنه الخالق والديان</p>
<p>ى – مطرود المجمع مقبول الملكوت</p>
<p>ك – مطرود من الأسرة مقبول عند الله<a href="#_ftn5" name="_ftnref5">[5]</a></p>
<h4>المتنيح القمص لوقا سيداروس</h4>
<p>الأحد الربع من شهر طوبة (يو ٩ : ١ – ٣٨)</p>
<p><strong>وفيما هو مجتاز رأى إنساناً أعمى منذ ولادة</strong></p>
<p>يسوع يمر بنا ونحن في حالة العمى الروحى وعدم الإدراك &#8230; إنه يجتاز أمامنا ولكننا لا نراه . هو موجود أمامنا ولكننا لا نشعر بوجوده. إننا عميان لا ندرك الله في حياتنا &#8230; عميلن عندما لا نلمس عمله معنا ، ولا نرى يده الخفية تدبر أمورنا &#8230; الذى لا يعرف ذاته ولا يعرف ذاته ولا يعرف خطاياه هو أعمى قصير البصر قد نسى تطهير خطاياه السالفة . الذى لا يعرف أن يميز النور من الظلمة ، والخير من الشر ، والحق من الباطل ، والقداسة من النجاسة &#8230; هو أعمى ومسكين . أما الأعمى منذ ولادته له عذر . ولكن هؤلاء الذين أستناروا مرة وذاقوا الموهبة السماوية فصاروا شركاء الروح القدس &#8230; وأخذوا بصيرة من الله في المعمودية &#8230; هؤلاء ماهو عذرهم في عدم النظر إلى الأمور الروحية وعدم التمييز ؟ إنهم ليسوا عمياناً ، ولكنهم لهم عيون ولا يبصرون ، أوربما كلت عيونهم من كثرة النظر إلى الأباطيل العالمية .</p>
<p><strong>أخطأ هذا أم أبواه حتى ولد أعمى ؟</strong></p>
<p>كثيراً ما تؤول الأمور تأويلا غير صحيح ، ونعلل الأحداث ونبحث عن أسباب لما نراه . وكثيراً ما نخطئ لأننا لا نعرف فكر الله &#8230; &#8221; لأن ما أبعد أحكامك عن الفحص وطرقك عن الأستقصاء &#8221; . وكما علت السماء عن الأرض ، علت طرق الرب عن طرقنا وأفكاره عن أفكارنا . واجابة ربنا مريحة للنفس جداً &#8230; لا هذا أخطأ ولا أبواه . لكن لتظهر أعمال الله فيه &#8230; من الممكن جداً أن تؤول كل الأمور في حياتنا لمجد الله ومن الممكن أن يتمجد الله بالموت كما يتمجد بالحياة. ويتمجد في الضعف أكثر مما في القوة فقط يجب أن نتأكد أنه ليس لنا إرادة منحرفة ومنفصلة عن الله . ان الخطية هي عمل إرادتنا الذاتية بعيداً عن إرادة الله . أما الأعمال التي تحدث في حياتنا بسماح من الله وبدون إرادتنا ( مثل المولود أعمى ) ، فهذه مسئولية الله نفسه وقصده وتدبيره الإلهى &#8230; ما أسعدنا عندما نسلم حياتنا بسهولة في يد الله فيحول ضعفنا إلى مجد الله .</p>
<p><strong>المسيح نور العالم</strong></p>
<p>قال الرب : &#8221; ينبغي أن أعمل ما دام نهار . مادمت في العالم فأنا نور العالم &#8221; . ان الظلمة للعينين معناها عدم تمتعها بالنور &#8230; وهذا أقصى ما يعانيه الإنسان &#8230; كم تكون النفس مسكينة في بعدها عن نور العالم &#8230; وكم تتخبط في الظلام ولا تعرف أين تمضى لأن ظلمة العالم أعمت عينها . ولكن لماذا يقول الرب مادمت في العالم ؟ هل يأتي وقت لا يكون الله في العالم ؟ ان الفرصة التي يمكن ان تتلامس مع المسيح فيها لا تتكرر &#8230; قيل عن عيسو أنه طلب التوبة بدموع ولم يجدها &#8230; لقد مضى زمانها بعد ان فتحت أبوابها طويلاً . وقال الرب يسوع لجماعة اليهود : &#8221; تأتى ساعة تشتهون فيها يوماً من أيام أبن الإنسان ولا تجدون &#8221; هكذا قيل أيضاً : &#8221; أطلبوا الرب مادام يوجد أدعوه فهو قريب &#8221; . قال هذا وتفل على الأرض وصنع من التفل طيناً وطلى عينى الأعمى . الإنسان يغفل كثيراً عن هذه الحقيقة ( أنه سراب ) . وعندما تغيب هذه الحقيقة عن ذهنه ، يتصرف تصرفات كلها حماقة وكبرياء . ويتخيل في نفسه المقدرة والقوة ويفتخر بغناه ويتكل على جمال صورته وجمال جسده &#8230; الخ .</p>
<p>ولكن المسيح المبارك هنا يضع الحقيقة في عينى الإنسان لكى تكون اطاراً للتصرفات ، ولكى يرى من خلالها كل شيء &#8230; فنظر باتضاع وبأنسحاق إلى كل الأمور وهذه هي الخليقة الجديدة &#8230; خلقة البصيرة الروحية المتضعه ، وإستنارة الروح القدس الوديع وهذا يبدوا واضحاً ان الرب لم يفتح لهذا الإنسان مجرد عينين حسودتين بل أنار بصيرته الداخلية. هذه عين تكتشف يسوع ، وعين تميز رياء الفريسيين ، وعين تتخطى رباطات اللحم والدم في الأبوين المتخاذلين أمام سلطان الناس .</p>
<p>قال له : اذهب وأغتسل في بركة سلوام الذى تفسيره ( مرسل ) ، فمضى وأغتسل وأتى بصيراً . بركة سلوام هي المعمودية &#8230; هي الأغتسال والتطهير والخلقة الجديدة والأستنارة ونور العين &#8230; بدونها لن يرى أحد ملكوت الله . فالجيران والذين كانوا يرونه قبلاً أنه أعمى ، قالوا : أليس هذا هو الذى كان يجلس ويستعطى ؟ آخرون قالوا هذا هو وآخرون أنه يشبهه . أما هو فقال إنى أنا هو .</p>
<p>+ معرفة المسيح تغير الشكل وتغير الملامح في الكلام والتصرفات والحياة كلها ، فالمعمودية موت وحياة &#8230; موت قديم وحياة جديدة في المسيح . والتوبة التي نعيشها هي تمتعنا بمعموديتنا ورجوعنا إلى شكلنا الأول في الطهارة والأستنارة . وهذا يجعل جيراننا ومعارفنا تتعجب وتتحير هل هذا هو فلان صديقنا الذى كنا نعرفه قبلاً ؟ آخرون يقولون هو . وآخرون لا بل يشبهه . كل توبة بدون تغيير باطلة &#8230; وكل معرفة لله مع الأحتفاظ بالحياة القديمة والعادات القديمة الباطلة . تغيروا عن شكلكم بتجديد أذهانكم لتختبروا ما هي إرادة الله الصالحة المرضية الكاملة .</p>
<p><strong>موقف الفريسيين</strong></p>
<p>دخل الفريسيون في نقاش طويل مع الرجل . في كيف إنفتحت عيناه ؟ وكيف أبصر ؟ ومن هو الذى أبصره ؟ وهل يحفظ السبت أم لا ؟ هناك فرق رهيب بين من إنفتحت عينه كمختبر ، وبين من يناقش هذا الأمر . الحياة الروحية للذين يختبرونها تختلف تماماً عن الذين يقرأون عنها ، أو يناقشون في أعمق أسرار الروح . وهنا سبب الخلاف أن الرجل كان أعمى وأبصر ، وهذا حدث خطير جداً في حياته . وأما في حياة الفريسيين فهو مجرد موضوع للبحث ، وموضوع للمناقشة .</p>
<p>المعمودية ليست جدلاً مع الذين لا يؤمنون بها . ولكنها حياتنا وفرحنا الدائم . الحياة مع المسيح وإكتشافه في حياتنا ليست تجارة كلام ولا مناقشة . ولكن حقيقة نعيشها على المذبح كل يوم . &#8221; يسوع المسيح الذين نكرز به ليس نعم ، ولا &#8221;</p>
<p><strong>موقف الوالدين</strong></p>
<p>أن معرفة المسيح هي قوة الشهادة &#8230; ويستحيل على إنسان أن يقف موقف شهادة للحق بدون المسيح &#8230; هكذا وقف أيضاً بيلاطس المسكين وغيره من الذين يخافون على مصالحهم الشخصية أو على مركزهم العالمى . فالأبوان يعرفان حق المعرفة أنه إبنهما . ولكن لا يستطيعان الشهادة للحق بسبب الخوف . أما الذى أنار المسيح عينيه فهو يشهد للحق أمام ملوك وولاه بلا خوف حتى من الموت<a href="#_ftn6" name="_ftnref6">[6]</a>.</p>
<h3>من وحي انجيل المولود اعمي</h3>
<p>&#8221; أجاب يسوع : لا هذا أخطأ ولا أبواه ، لكن لتظهر أعمال الله فيه ، ينبغي أن أعمل أعمال الذي أرسلني مادام نهار &#8221; (يو ٩ : ٣-٤)</p>
<p>يرتكز تفكير البشر علي الخطيّة والإستحقاق</p>
<p>ويرتكز تدبير الله علي الأشخاص والإحتياجات</p>
<p>لذلك لا يملّ الإنسان من فحص الآخرين وتقييمهم</p>
<p>ولا يتوقف الله عن تدبير إحتياجهم ومساعدتهم</p>
<p>ورغم أن &#8221; الآب &#8230;أعطي كل الدينونة للإبن &#8221;  (يو ٥ : ٢٢)  إلّا أن الابن قال &#8221; لم آت لأدين العالم بل لأخلص العالم &#8221; (يو ١٢ : ٤٧)</p>
<p>&#8221; ولا أنا أدينك &#8221; (يو ٨ : ١١) آية تعلن موقف الله من الخطاة وقت حياتنا علي الأرض</p>
<p>ما أخطر أن تتّجه خدمتنا لمن يستحق ( في نظرنا ) أكثر ممن يحتاج ( في أنينه )</p>
<p>وما أصعب أن ننشغل كخدام بأحكام الله أكثر من أعمال الله</p>
<p>&#8221; ان لم تتوبوا فجميعكم كذلك تهلكون &#8221; (لو ١٣ : ٣) آية تعلن التحذير من فحص مصائب الآخرين</p>
<p>أعمال الذي أرسلنا هي الرحمة والمساعدة والمساندة بصرف النظر عن الإستحقاق</p>
<h3>المراجع:</h3>
<p><a href="#_ftnref1" name="_ftn1"></a>١- المرجع : تفسير إنجيل يوحنا الإصحاح التاسع - القمص تادرس يعقوب ملطي</p>
<p><a href="#_ftnref2" name="_ftn2"></a>٢- المرجع : كتاب المنجلية القبطية الأرثوذكسية ( صفحة ٢٣٣ ) - قداسة البابا تواضروس الثاني</p>
<p><a href="#_ftnref3" name="_ftn3"></a>٣- المرجع : كتاب ألقاب المسيح ووظائفه ( صفحة ٨٦ ) - الأنبا بيمن أسقف ملوي</p>
<p><a href="#_ftnref4" name="_ftn4"></a>٤- المرجع : كتاب شفتاك يا عروس تقطران شهداً ( الجزء الثاني صفحة ٢٦٢ - ٢٦٥ ) - دير الأنبا شنودة العامر بإيبارشية ميلانو</p>
<p><a href="#_ftnref5" name="_ftn5"></a>٥- المرجع : كتاب تأملات وعناصر روحية في آحاد وأيام السنة التوتية الجزء الأول صفحة ٦٦ - إعداد القمص تادرس البراموسي</p>
<p><a href="#_ftnref6" name="_ftn6"></a>٦- المرجع : كتاب تأملات روحية في قراءات أناجيل آحاد السنة القبطية صفحة ١٩٥ - القمص لوقا سيداروس - كنيسة مار جرجس سبورتنج</p>

      {% endcreateArticleAccordions %}
    </section>
  {% endblock %}
