---
layout: 'layouts/reading.html'
title: 'الأحد الأول من أمشير'
permalink: sundays/6-1.html
---
  {% block content %}
    <section id="readings">
      <ul>
      {% if '19.82:8,6' != 'null' %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">العشية</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeVespers '19.82:8,6' '43.6:15-21' %}
          </div>
        </div>
      </li>
      {% endif %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">باكر</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeMatins '19.119:105,73' '43.8:51-59' '' %}
          </div>
        </div>
      </li>
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <h3 class="flex items-center justify-between">
            <span class="kufi">القداس</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </h3>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeLitugy '46.5:11-13*@+46.6:1-11' '61.3:14-18' '44.9:3-9' '19.96:6,4' '43.6:22-27' %}
          </div>
        </div>
      </li>
        </ul>
    </section>
    <section id="article">
      <h3 class="mt-8 mb-4 heading-explain">شرح القراءات</h3>
      {% createArticleAccordions firstName, lastName %}
        <p></p>
<p></p>
<p></p>
<p>فرأت عيونهم عظائم المجد، وسمعت آذانهم مجد صوته</p>
<p>(يشوع بن سيراخ ١١:١٧)</p>
<p>&#8221; وتجديداً للنفس والجسد والروح ومجداً لاسمك القدّوس .. ومشاركة سعادة الحياة الأبديّة وعدم الفساد &#8221;</p>
<p>القدَّاس الكيرلسي &#8211; الرشومات الثانية</p>
<p>&#8221; من كان وسط التعب يلزمه إن يسأل الله فينال فهم الثالوث، به يستريح من متاعب هذه الحياة الحاضرة. فإن ضيقته هي نصف الليل التي تدفعه نحو طلب الثالوث. لنفهم الثلاث خبزات الثالوث الذي هو جوهر واحد&#8230;</p>
<p>حينما تنال الثلاث خبزات، أي طعام معرفة الثالوث، يكون لك مصدر الحياة والطعام، فلا تخف، ولا تتوقَّف، فإن هذا الطعام بلا نهاية، إنما يضع نهاية لعوزك. تعلَّم وعلِّم، عش واِطعِم<a href="#_ftn1" name="_ftnref1">[1]</a> &#8221;</p>
<p></p>
<p></p>
<h3>شواهد القراءات</h3>
<p></p>
<p>(مز٨١: ٥-٦) ، (يو٦: ١٥-٢١) ، (مز ١١٨: ٨١-١٠٥) ، (يو ٨ : ٥١-٥٩)، (١كو ٥ :١١-٦ : ١-١١) ، (٢بط ٣ : ١٤-١٨) ، (أع ٩ : ٣-٩) ، (مز ٩٦ :٣-٥) ، (يو ٦ : ٢٢-٢٧)</p>
<p></p>
<p></p>
<h3>شرح القراءات</h3>
<p></p>
<p>تتركز قراءات هذا اليوم علي مجد ابن الله في الإنسان الجديد</p>
<p>لذلك تبدأ المزامير بإعلان مجد الله في الإنسان (مزمور عشيّة )</p>
<p>من خلال كلمة الحياة ( مزمور باكر ) ومن خلال التواجد في كنيسته المُقدَّسة ( مزمور القدَّاس )</p>
<p>في مزمور عشية يتكلَّم عن الله الديان الذي له أبناء في كل مكان وهم ميراثه في الأمم كما أنه يصيرهم إلهيين أي شركاء طبيعته (قم ياالله ودن الأرض لأنك أنت ترث في جميع الأمم أنا قلت إنكم آلهة وبنو العلي كلكم)</p>
<p>في مزمور باكر ندرك أنها نعمه تحتاج إلي طلبة دائمة من الإنسان ليعيش هذا النور والضياء الإلهي المخبأ في كلمته (سراج لرجلي هو ناموسك ونور لسبلي فليضئ وجهك على عبدك)</p>
<p>وتأكيد مزمور القداس أن هذا البهاء والجلال مرتبط ومرافق لحضوره دائما (الاعتراف والبهاء قدامه الطهر والجلال العظيم في قدسه)</p>
<p>وتُعْلِن القراءات مجد تبرير الإنسان في المسيح (البولس) ومجد النمو في معرفته (الكاثوليكون ) ومجد حمايته لعروسه الكنيسة ( الإبركسيس )</p>
<p>يعلن البولس مجد الإنسان الجديد في المسيح (ألستم تعلمون أن القديسيين سيدينون العالم فإن كان العالم يدان بكم &#8230;. ألستم تعلمون أننا سندين ملائكة) وكيف انتقلت البشرية من أحط الخطايا إلي مرتبة القديسيين (لاتضلوا: لا الزناه ولاعباد الأوثان ولاالفاسقون ولاالمأبونون &#8230; ولاالسكيرون ولاالشتامون ولاالخاطفون يرثون ملكوت الله وهكذا كان أناس منكم لكن اغتسلتم بل تقدستم بل تبررتم باسم ربنا يسوع المسيح وبروح إلهنا)</p>
<p>لكن يحذر الكاثوليكون أن هذا المجد يحتاج إلي إجتهاد وحرص وإحتراس ونمو دائم في النعمه (من أجل هذا ياأحبائي: إذ نحن منتظرين هذه اجتهدوا أن توجدوا بلا عيب ولادنس قدامه في سلام &#8230;. احترسوا من أن تضلوا بضلال الجهال فتسقطوا من ثباتكم بنفسكم، ولكن انموا في النعمة وفي معرفة ربنا ومخلصنا يسوع المسيح)</p>
<p>أما الإبركسيس فيظهر مجد ابن الله الذي يدافع عن أولاده لكنه أيضا يفتقد المقاومين عن جهل (وإذ كان منطلقا واقترب من دمشق فبغتة أضاء عليه نور من السماء &#8230;. فقال: من أنت يارب فقال له: أنا هو يسوع الناصري الذي أنت تضطهده)</p>
<p>وتُعْلِن الأناجيل مجد ابن الله المختلف عن مجد البشر والعالم (إنجيل عشيّة) والذي لا يقف أمامه الموت (إنجيل باكر) ومجد الطعام الباقي الدائم ( إنجيل القدَّاس )</p>
<p>يتكلم إنجيل عشية عن الفرق بين المجد الذي كان اليهود ينتظرونه كملك أرضي وسلطة زمنية وعطايا أرضية وبين مجده الذي يريده لنا من سكب السلام الإلهي بغني وفيض علينا (وأما يسوع فإذ رأي: أنهم مهتمون أن يأتوا ويختطفوه ليجعلوه ملكا انصرف أيضا إلى الجبل وحده &#8230;.. نظروا يسوع ماشيا علي البحر مقتربا من السفينة فخافوا فقال لهم: أنا هو لا تخافوا)</p>
<p>بينما يظهر إنجيل باكر مجد كلمته الإلهية الحافظة من الهلاك الأبدي (الحق الحق أقول لكم: إن كان أحد يحفظ كلامي فلن يري الموت إلي الأبد) كما يعلن أن مجده الإلهي رآه الأنبياء قبل تجسده بسنين كثيرة مثلما حدث مع أبونا إبراهيم الذي رآي بعين النبوة مجد خلاص الله المزمع إعلانه للبشر (أبوكم ابراهيم تهلل بأن يري يومي فرأي وفرح)</p>
<p>وأن مجد الإبن والآب هو واحد وغير منفصل (إن كنت أنا أمجد نفسي بذاتي فليس مجدي شيئا أبي هو الذي يمجدني)</p>
<p>أما إنجيل القداس فيسألنا كما سأل الرب الجموع لأي هدف نبحث عنه ولأي غرض نأتي إليه؟ هل لأجل أمور أرضية أم سماوية؟ هل لأجل ماهو بائد أم ماهو دائم ؟ هل هو وسيلة لما نريده أم هدف نحتاج معرفته ونجوع إليه ؟ ( وجاءوا إلي كفر ناحوم يبحثون عن يسوع ولما وجدوه في عبر البحر قالوا له : يامعلم متي أتيت إلي هنا أجابهم يسوع وقال لهم : الحق الحق أقول لكم : تطلبونني ليس لأنكم رأيتم آيات بل لأنكم أكلتم من الخبز فشبعتم اعملوا لا للطعام البائد بل للطعام الباقي للحياة الأبدية الذي يعطيه لكم ابن البشر لأن هذا قد ختمه الله الآب )</p>
<p></p>
<p></p>
<h3>ملخّص القراءات</h3>
<p></p>
<p>مجد ابن الله في الإنسان الجديد يُسْتَعلن في حضوره الإلهي             (مزمور وإنجيل القدَّاس)</p>
<p>وفِي كلمته المُقدَّسة                                                                  (مزمور وإنجيل باكر)</p>
<p>وهو يختلف عن مجد العالم ولا يقف أمامه الموت ولا المُعاندين            (إنجيل باكر والإبركسيس وإنجيل القدَّاس)</p>
<p>و نعيشه في تبريره لنا وفِي النموّ في معرفته وفِي نعمته                  (البولس والكاثوليكون )</p>
<p></p>
<p></p>
<h3>إنجيل القدَّاس في فكر آباء الكنيسة</h3>
<p></p>
<p><strong>الطعام الباقي</strong></p>
<p>&#8220;إن الجموع لما وجدوا يسوع تعجّبوا متسائلين كيف مضى إلى هناك هكذا منفردًا، لدرجة ربما تكون قد أنْستهم أنهم أرادوا أنْ يجعلوه ملكًا عليهم.&#8221; (القديس فم الذهب).</p>
<p>&#8220;الذي صعد إلى الجبل ليجد موضع خلاء، هو الذي يخالط الجموع الآن حتى يُشبِع أنفسهم ويملأها مِن نوع آخر مِن الطعام.&#8221; (القديس أوغسطينوس).</p>
<p>&#8220;أما هُم فما زالوا يفكرون في طعام الجسد&#8221; (القديس فم الذهب),&#8221;كذلك هو حال الناس الآن؛ حيث يطلبون يسوع ويبحثون عنه بقدر مايمكن أنْ يعطيهم، أكثر مما هو مِن أجل اسمه.&#8221; (القديس أوغسطينوس).</p>
<p>&#8220;لا يمكن للعمل أنْ يعطي الأمان ولا هذا هو الغرض منه. ويسوع يريد أنْ يخبر الناس بأنه قد أطعم أجسادهم فقط، حتى لا يبحثوا بعد عن الطعام البائد، بلْ الباقي.&#8221; (القديس فم الذهب).</p>
<p>&#8220;لأن يسوع له ختم الآب، فباستطاعته أنْ يعطي هذا الطعام الروحي. ولأنه الابن فهو يكون ختم اللاهوت؛ الوسيط الذي به نرى الآب.&#8221; [ القديس هيلاري  ].</p>
<p>&#8220;ونحن أيضًا نُختتَم بختم الله بواسطة المسيح&#8221; (القديس كيرلُّس السكندري), &#8220;وهو لنا علامة الكمال والمحبة.&#8221; (القديس أمبروسيوس).</p>
<p>&#8220;محاكاة أعمال الله هو الإيمان بالابن الذي قد ختمه الآب.&#8221; (القديس هيلاري )</p>
<p>&#8220;أما هذا الإيمان الذي لنا فهو نتاج عمل الله فينا.&#8221; (القديس أوغسطينوس).</p>
<p>&#8220;بعد كل ما قاله يسوع للجموع، فإنهم ما زالوا قليلي الإيمان يطلبون آية ومعجزة أخرى. أما المسيح فلديه ما هو أكثر ليعلّمهم: يخبرهم بأن الآب هو معطي الخبز الذي هو يكلمهم عنه&#8221; (القديس فم الذهب), &#8220;لكي بهذا يمهد لهم السبيل حتى يأكلوا ويشربوا بدلاً مِن الخبز والخمر البائدين – جسده الحق ودمه الحق.&#8221; (مار إفرام).</p>
<p>&#8220;لأنه هو خبزنا اليومي فلا احتياج لحياتنا سواه.&#8221; (القديس ترتليان).</p>
<p>&#8220;هو وحده الخبز السمائي الحقيقي الذي يعطي الحياة؛ أما المنّ فكان فقط إشارة.&#8221; (القديس كيرلُّس السكندري).</p>
<p>&#8220;حتى الموضع الذي فيه وُلِد في بيت لحم كان إشارة إلى الخبز السمائي المنتظَر&#8221; (القديس يوسابيوس), &#8220;هذا الذي يجدّد ويشدّد، مثل الماء الذي وعد به السامرية ولم يخذلها.&#8221; (القديس أوغسطينوس)<a href="#_ftn2" name="_ftnref2">[2]</a>.</p>
<p></p>
<p></p>
<h3>الكنيسة في قراءات اليوم</h3>
<p></p>
<p>لاهوت ابن الله وأزليته                                            إنجيل عشيّة وباكر والإبركسيس</p>
<p>الدينونة + التبرير                                                 البولس</p>
<p>الإجتهاد في الحياة                                              الكاثوليكون</p>
<p></p>
<p></p>
<h3>أفكار مقترحة لعظات</h3>
<p></p>
<p><strong>(١) مجد ابن الله</strong></p>
<p>١- مجده وسلطانه في الطبيعة  &#8221; نظروا يسوع ماشيا علي البحر مقتربا من السفينة فخافوا فقال لهم : أنا هو لا تخافوا &#8221;                                                                                                                            إنجيل عشيّة</p>
<p>٢- مجده في أولاده   &#8221; أنا قلت أنكم آلهة وبنو العلي كلكم &#8221;          مزمور عشية</p>
<p>&#8221; ألستم تعلمون أن القديسين سيدينون العالم &#8221;                         البولس</p>
<p>٣- مجد كلمته    &#8221; سراج لرجلي هو ناموسك ونور لسبيلي &#8221;         مزمور باكر</p>
<p>&#8221; الحق الحق أقول لكم : إن كان أحد يحفظ كلامي فلن يري الموت إلي الأبد &#8221;                     إنجيل باكر</p>
<p>٤- مجد نعمته ومعرفته   &#8221; ولكن انموا في النعمة وفِي معرفة ربنا ومخلصنا يسوع المسيح &#8221;    الكاثوليكون</p>
<p>٥- مجده في المُقاومين  &#8221; فبغتة أضاء عليه نور من السماء فسقط علي الأرض &#8221;                   الإبركسيس</p>
<p>٦- مجده في عطيّة الحياة الأبديّة لمختاريه &#8221; اعملوا لا للطعام البائد بل للطعام الباقي للحياة الأبديّة &#8221; إنجيل القدَّاس</p>
<p><strong>(٢) لماذا لا نري مجده</strong></p>
<p>١- الكسل وعدم إتخاذ موقف واضح ضد الجسد والذات</p>
<p>&#8221; فلما إستيقظوا رأوا مجده &#8221;</p>
<p>استيقظ يا مجدي! استيقظي يا رباب ويا عود! أنا أستيقظ سحرا (مز ٥٧ : ٨)</p>
<p>٢- عدم النمو وعدم تجديد الحب والإكتفاء بما نحن فيه</p>
<p>&#8221; ونحن ناظرين مجد الرب بوجه مكشوف نتغير إلي تلك الصورة عينها من مجد إلي مجد &#8221; (٢ كو ٣ : ١٨)</p>
<p>٣- غياب أحشاء الرحمة للفقير والمحتاج    (أم ١٤ : ٣١)</p>
<p>ظالم الفقير يعير خالقه، ويمجده راحم المسكين &#8221; (أم ١٤ : ٣١)</p>
<p>فرق أعطى المساكين. بره قائم إلى الأبد. قرنه ينتصب بالمجد (مز ١١٢ : ٩)</p>
<p>بقدر ما مجدت نفسها وتنعمت، بقدر ذلك أعطوها عذابا وحزنا (رؤ ١٨ : ٧)</p>
<p>٤- الكبرياء وطلب المجد الباطل وغياب الإتضاع</p>
<p>أكل كثير من العسل ليس بحسن، وطلب الناس مجد أنفسهم ثقيل (أم ٢٥ : ٢٧)</p>
<p>كبرياء الإنسان تضعه، والوضيع الروح ينال مجدا (أم ٢٩ : ٢٣)</p>
<p>لأنها إنما دخلت العالم بحب الناس للمجد الفارغ، ولذلك قد عزم على إلغائها عن قريب &#8221; (حك ١٤ : ١٤)</p>
<p>فإن من الحياء ما يجلب الخطيئة، ومنه ما هو مجد ونعمة &#8221; (يش بن سيراخ ٤ : ٢٥)</p>
<p>يا بني، مجد نفسك بالوداعة، وأعط لها من الكرامة ما تستحق &#8221; (يش بن سيراخ ١٠ : ٣١)</p>
<p>بل متى دعيت فاذهب واتكئ في الموضع الأخير، حتى إذا جاء الذي دعاك يقول لك: يا صديق، ارتفع إلى فوق. حينئذ يكون لك مجد أمام المتكئين معك. &#8221; (لو ١٤ : ١٠)</p>
<p>كيف تقدرون أن تؤمنوا وأنتم تقبلون مجدا بعضكم من بعض، والمجد الذي من الإله الواحد لستم تطلبونه؟ (يو ٥ : ٤٤)</p>
<p>٥- عدم الإيمان</p>
<p>ولا بعدم إيمان ارتاب في وعد الله، بل تقوى بالإيمان معطيا مجدا لله (رو ٤ : ٢٠)</p>
<p>٦- عدم قبول واحتمال الآلام</p>
<p>فإني أحسب أن آلام الزمان الحاضر لا تقاس بالمجد العتيد أن يستعلن فينا &#8221; (رو ٨ : ١٨)</p>
<p>إن عيرتم باسم المسيح، فطوبى لكم، لأن روح المجد والله يحل عليكم. أما من جهتهم فيجدف عليه، وأما من جهتكم فيمجد</p>
<p>(١بط ٤ : ١٤)</p>
<p><strong>(٣) لماذا نطلبه ؟ وكيف نطلب منه ؟ وماذا نطلب منه ؟</strong></p>
<p>١- لماذا نطلبه ؟</p>
<p>+ نطلبه لأنه مصدر الحياة</p>
<p>&#8221; فأجابه سمعان بطرس: يا رب، إلى من نذهب؟ كلام الحياة الأبدية عندك &#8221; (يو ٦٨:٦)</p>
<p>+ نطلبه لأنه هو مجد الكنيسة وحضوره الإلهي هو سر الإنطلاق والصعود</p>
<p>&#8221; فقال له : إن لم يَسِرْ وجهك فلا تصعدنا من ههنا &#8221; (خر ١٥:٣٣)</p>
<p>+ نطلبه لأنه هو مصدر الحكمة والإستنارة</p>
<p>&#8221; اياك يا اله ابائي احمد و اسبح الذي اعطاني الحكمة و القوة و اعلمني الان ما طلبناه منك لانك اعلمتنا امر الملك &#8221; (دا ٢٣:٢)</p>
<p>٢- ماذا نطلب منه ؟</p>
<p>+ طلبة القداسة والعفة</p>
<p>&#8221; ولما علمت بأني لا أكون عفيفا ما لم يهبني الله العفة، وقد كان من الفطنة أن أعلم ممن هذه الموهبة، توجهت إلى الرب وسألته من كل قلبي &#8221; (حكمة ٢١:٨)</p>
<p>+ طلبة الوجود الدائم في بيته والتَمتُّع بجماله ومجده</p>
<p>&#8221; واحدة سألت من الرب وإياها ألتمس: أن أسكن في بيت الرب كل أيام حياتي، لكي أنظر إلى جمال الرب، وأتفرس في هيكله &#8221; (مز ٤:٢٧)</p>
<p>+ طلب الخلاص للشعب</p>
<p>&#8221; أيها الإخوة، إن مسرة قلبي وطلبتي إلى الله لأجل إسرائيل هي للخلاص &#8221; (رو ١:١٠)</p>
<p>+ طلبة الحكمة السمائية والمعرفة الإلهية للقادة والرعاة</p>
<p>&#8221; فقال الله لسليمان من اجل ان هذا كان في قلبك و لم تسال غنى و لا اموالا و لا كرامة و لا انفس مبغضيك و لا سالت اياما كثيرة بل انما سالت لنفسك حكمة و معرفة تحكم بهما على شعبي الذي ملكتك عليه &#8221; (٢ أي ١ : ١١)</p>
<p>+ طلبات خاطئة ( طلبات المجد البشري أو التميُّز عن الآخرين )</p>
<p>&#8221; فقال لهما: ماذا تريدان أن أفعل لكما فقالا له: أعطنا أن نجلس واحد عن يمينك والآخر عن يسارك في مجدك &#8221; (مر ١٠ : ٣٦-٣٧)</p>
<p>٣- كيف نطلب ؟</p>
<p>+ حسب مشيئته</p>
<p>&#8221; وهذه هي الثقة التي لنا عنده: أنه إن طلبنا شيئا حسب مشيئته يسمع لنا &#8221; (١يو ٥ : ١٤)</p>
<p>+ من كل قلوبنا</p>
<p>وتطلبونني فتجدونني إذ تطلبونني بكل قلبكم &#8221; (أر ١٣:٢٩)</p>
<p>+ طلبة الكنيسة بفكر واحد وقلب واحد</p>
<p>&#8221; و قال ليهوذا لنبن هذه المدن و نحوطها باسوار و ابراج و ابواب و عوارض ما دامت الارض امامنا لاننا قد طلبنا الرب الهنا طلبناه فاراحنا من كل جهة فبنوا و نجحوا &#8221; (٢أي ١٤ : ٧)</p>
<p>+ الطلبة بطريقة خاطئة ( الطلبة بدون حياة التوبة )</p>
<p>&#8221; قال لهم يسوع أيضا : أنا أمضي وستطلبونني ، وتموتون في خطيتكم . حيث أمضي أنا لا تقدرون أنتم أن تأتوا &#8221; (يو ٢١:٨)</p>
<p></p>
<p></p>
<h3>عظات آبائية</h3>
<p></p>
<h4>القديس كيرلس الأسكندري</h4>
<p></p>
<p>(يو ٦ : ٢٦):&#8221;اجابهم يسوع وقال: الحق الحق اقول لكم: أنتم تطلبوننى ليس لأنكم رايتم آيات، بل لاتكم أكلتم من الخبز فشبعتم&#8221;.</p>
<p>سوف نقول لكم شيئا شائعا، ومع ذلك قلما نلجأ لاستخدامه؛ فالمعلمون العظام معتادون غالبا أن يعتريهم كثير من الغضب، حينما يسألهم (الناس) عن أمور فارغة لا طائل من وراءها وهم لا يفعلون ذلك بدافع الغطرسة، بل بالحري لتبرمهم وضيقهم من حماقة السائلين، لهذا أظن أنه من الصواب أن يقال ذلك عنا أو عن أولئك الذين هم مثلنا، لكن المخلص يلوم أولئك الذين طرحوا تلك الاستفسارات لوما كثيرا ، لحديثهم غير المهذب، وسؤالهم غير الحكيم، لا لأن ليس من واجبهم أن يطلبوا أو يكتشفوا الأمور التي بها يصيرون أمناء وصالحين، لكن لأنهم قد تبعوه لأجل منفعة جسدانية، وتلك من أحقر الأمور.</p>
<p>لأنه أي شئ أدنى من الطعام اليومي؟ علينا أن نطيع المسيح ونحبه، لا بغرض الحصول على الخيرات الجسدانية ، بل لكي ننال منه الخلاص، وعلينا ألا نقول له كلمات توقير، مثلما نقول &#8220;يا معلم&#8221;، أو نخترع الكلام المعسول كأساس يهدف إلى طلب خيرات وفيرة والحصول عليها، وبالحق فإن من يحاول عمل مثل هذه الأمور، فإنه سيلاقى من يدينه بصرامة ويكشف شره الدفين.</p>
<p>من الملائم أيضا ان نعجب بذلك التدبير. لأنه حينما رأى (الرب) أنهم كانوا مصابين بالمرض السابق ذكره، وكطبيب ماهر يملك (أدوات) حرفته، ابتكر عقارا (ذا فائدة) مزدوجة لهم، فراح ينسج التوبيخ المناسب بواسطة عجينة هي في غاية العظمة، والمعجزة التي سنجدها إذن هي في معرفة أفكارهم، وفي صانع العجائب الذي لم يخبرهم بما يطلبونه . ليس عن حب للمعرفة . وسترون التوبيخ.</p>
<p>و(لہذا الفعل) ميزة ذات شقين: فمن جهة هو يعرف تماما أساليبهم، ومن جهة فهو يدرك تماما (ما يفعلونه)، ويوضح أنهم بلا فهم  لكونهم يفكرون في الهرب من العين الإلهية .</p>
<p>بينما هم يجعلون الشر يتراكم في قلوبهم، ويلجأون إلى معسول الكلمات بألسنتهم. لكن ذلك هو جانب ذاك الذي يحثهم على ترك مرضهم هذا ، والكف عن أية خطية (ولو) صغيرة. وإذ هو يحكم عليهم بسبب خطاياهم لأجل منفعتهم، فإنه يمنع بشكل ما تيار الشر مستقبلاً. لأنه إن لم يتم منعه، يزحف ويتغلغل، لكن حينما يمسك الحق به، يخزى، ويتلوى كحبل منكمشا على نفسه.</p>
<p>لهذا يفيدهم الرب بالتوبيخ أيضا. وبتلك الأشياء التي قد يظن المرء أن (الرب) يلطمهم بها ، نراه بواسطتها هي ذاتها بمثابة &#8220;المحسن&#8221; إليهم. يجب علينا إذن، ونحن نرى البعض يمتدح قادة الكنيسة أو يتملقهم بكلمات ناعمة لنوال منفعة ما، ألا نعتبر المتملقين من المؤمنين، لقادة الكنيسة أن يخافوا من تملقهم هذا ، وينبغي ألا يكافأ المتملقون على تصفيقهم (للرؤساء)، وهم (أي المتملقون) الأحوج إلى التصويب، فلا نصمتن على أخطائهم: بل يجب علينا بالحري أن نوبخهم بجسارة، وأن نحضهم على التغيير نحو الأفضل، أو أن نجعلهم على الأقل ذوى نفع للآخرين، حسب قول بولس: &#8220;الذين يخطئون وبخهم أمام الجميع، لكي يكون عند الباقين خوف&#8221; (۱تی٢٠:٥). هذا إذن عن الموضوعات المستقلة : لكن يلزمني أن أوضح ارتباطها بعضها ببعض، وأن أتتبع بالضرورة مسار تلك الموضوعات السابق دراستها. قلنا إذن إن مجئ مخلصنا من الجبل يرمز إلى مجيئه الثاني العتيد، إلينا من السماء، وأضفنا بإيجاز، أنه ظهر لتلاميذه حينما كانوا يترقبون (مجيئه) وهم في حالة إعياء، وأنه خلصهم من خوفهم وأتى بالسفينة بسرعة إلى البر. وأمامنا هنا ما هو مرسوم لنا كما في مثال، وكنا قد أعلنا عنه في حينه. لكن تأملوا الآن أن يسوع بعد أن نزل من الجبل، فإن البعض لم يتبعه، وجاء إليه أخيرا. لأنهم كانوا قد جاءوه &#8220;في الغد&#8221; (يو٢٢:٦)، وقد أضاف الإنجيلي تلك العبارة عن قصد. ثم عند مقابلتهم سعوا أن يتملقوه بكلمات طيبة : لكن المسيح يوبخهم بعنف، موجها إليهم لوما صارما وشديدا، حتى نهتم نحن أيضا بهذا الأمر، أنه عندما يأتي الرب إلينا من السماء، يكون السعي من جانب البشر وراء الخيرات الأرضية من أكثر الأمور بطلانا وخسارة، ولن يكون هناك فرصة لمن يرغب، في إتباعه. أجل، حتى إن كان البعض يقتربون منه ، ظانين أنهم يسترضونه بكلمات ناعمة، سيجدون أن الديان لم يعد بعد لطيفا ووديعا ، بل موبخا ومنتقما. لأنكم ستجدون مع إطراء أولئك الذين وبخهم ذلك التوبيخ ذاته في كلمات المخلص، حين يقول: &#8220;كثيرون سيقولون لي في ذلك اليوم ( وهو يعني يوم الدينونة)، يا رب، يا رب، أليس باسمك&#8230; أخرجنا شياطين؟ لكنه يقول (لهم): حينئذ أصرح لهم إني لم أعرفكم قط&#8221; (مت۲۲:۷). (كأنه يقول لهم) لأنكم لم تطلبوني بنقاوة ولا أحببتم أن تسموا في القداسة، وإلا كنت قد عرفتكم، لكن مادمتم تمارسون المحبة بحسب الظاهر فقط، وهي مجرد محبة شكلية بغرض الانتفاع فإنني بحق أصرح إنني لم أعرفكم.</p>
<p>وألفاظ يا رب يا رب التي وردت في هذا النص، وردت هنا بلفظة يا معلم. وعلى من كانت العقوبة بالنسبة له شيئا مريرا، ألا يقع في الرخاوة ناظرا إلى صلاح الله، بل عليه أن يكون أكثر حزما من جهة وقوعه في التعدي، وأن يهيئ أعماله من أجل خروجه، وأن يعدها لنفسه (في الحقل)، (انظر أم٢٧:٢٤) أي &#8220;أثناء وجوده في العالم&#8221; انظر (مت۳۸:۱۳) كما هو مكتوب. عليه أن يستعد لإظهار القداسة والبر أمام عرش الدينونة الإلهي. لأنه لن يرى بعد ديانا عطوفا في غير أوان العطف، ولن يذعن (هذا الديان) لإستجداء الرحمة، وهو الذي كان يجب على الإنسان أن يطيعه بلا تسويف حينما كان يدعوه إلى الخلاص، وحين كان زمن الرحمة متاحا له، لكي يتضرع طالبا غفران خطاياه السالفة، وأن يطلب الشفقة المملوءة محبة من الله الذي يخلص.</p>
<p>(يو٢٧:١): &#8220;إعملوا لا للطعام البائد، بل للطعام الباقي للحياة الأبدية &#8220;. نطاق الحديث بشكل يشمل يعلمنا بولس شيئا من هذا القبيل، حيث يوسع من نطاق العالم كله، وبصورة أكثر عمومية، قائلا: &#8220;لأن من يزرع للجسد فمن الجسد يحصد فسادا ، ومن يزرع للروح فمن الروح يحصد حياة أبدية&#8221; (غل٨:٦). لأنه يقول إن الذين يزرعون للجسد ، هم أولئك الذين يطلقون العنان كاملاً لشهوات الجسد ، مندفعين بأقصى سرعة إلى كل ما يرغبون فيه، دون أن يميزوا بأي حال بين ما هو نافع لهم وما هو ضار ومؤذي، ودون أن يعتادوا بأي حال على استحسان ما يبدو حسنا أمام معطى الناموس، لكنهم وبدون هوادة يهرعون إلى ما هو جالب للذة ومقبول، مفضلين هذا العدم على الأمور غير المنظورة.</p>
<p>ويؤكد الرسول مرة أخرى أن الذين يزرعون للروح هم أولئك الذين يصرفون جل قصد فكرهم إلى تلك الأمور التي يريد الروح القدس لنا أن نسمو فيها، مستثمرين ذهنا منهمكا بكليته في فلاحة الصالحات، أولئك، الذين لا يستجيبون لنداء الطبيعة، إلا فيما لا يمكن غض الطرف عنه في قضاء حاجات الجسد من مأكل، وهم قد لا يحتملون حتى النزول إلى هذا المستوى. أعتقد إذن أن علينا ألا &#8220;تصنعوا تدبيرا للجسد لأجل الشهوات&#8221; (رو١٤:١٣).</p>
<p>بل بالحري، نلتفت إلى ما هو نافع بالأكثر، وأن نكون غيورين في ممارسة تلك الأمور، التي تحضرنا إلى الحياة الإلهية والأبدية. لأن الزهو بمباهج الجسد وعدم الاهتمام بشئ إلا بزوائد البطن (الأمعاء)، هو في الحقيقة شئ بهيمي وهو منتهى الحماقة، لكن أن نشغل أنفسنا بالصالحات مجتهدين في السعي للسمو في الفضائل، وأن نخضع لنواميس الروح، وبكل استعداد نطلب أمور الله ، القادرة أن تعيننا على الخلاص: فإني أؤكد أن ذلك يليق بالحق بمن يعرف طبيعته الذاتية، ولا يجهل أنه جعل مخلوقا عاقلاً &#8220;حسب صورة خالقه&#8221; (كو١٠:٣).</p>
<p>لهذا كما يقول المخلص في موضع ما: &#8220;لا نهتم&#8230; ماذا نأكل ؟ أو ماذا نشرب ؟ أو ماذا نلبس&#8221;&#8230; بل حاسبين أن النفس أفضل من الطعام والجسد أفضل من اللباس&#8221; (مت٣١:٦، ٢٥). هكذا فلنفكر كيف ندع الجزء الأفضل فينا يقوم بعمله حسنا. لأنه رغم أن الجسد له بعض الرغبات الحسنة، ويسمن بتتابع الملذات، فإن هذا لن ينفع النفس البائسة، بل على العكس، يسبب ضررا أكثر، لأنها سوف ترحل إلى النار الأبدية، حيث إن الذين فعلوا السيئات ، سوف يلقون العقاب بسبب ما فعلوا، لكن إن كان الجسد قد لجم بالتعقل الملائم وأخضع لناموس الروح، فإن  الجسد والروح كليهما يخلصان معا.</p>
<p>لهذا يصبح في منتهى السخف ، أن نهتم . &#8211; بالجسد، الذي هو إلى حين، والذي سيضمحل الآن حتى، ونحن نفتكر ألا نحرمه من أي شئ يحبه، ولا نهتم بالنفس، وكأنها شئ زائد لا لزوم له، ولا يستحق شيئا، رغم أنه  في ظني  يجب أن نشغل أنفسنا كثيرا جدا باهتمامات النفس بالأحرى، لأنها أكثر قيمة من الجسد. لأنه عندما يحتم الحق علينا أن نفضل ما هو أسمى على ما هو أدنى في المقابل، مولين هذا الأمر رأيا صائبا، وعلينا إذن، كما يقول المخلص، ألا نعمل &#8220;للطعام البائد&#8221; الذي إذا ما مر إلى الأمعاء، والذي يجعل العقل ينتشي لبرهة وجيزة جدا بأتفه الملذات، فإنه يتحول إلى نفاية، وسرعان ما يقذف خارج البطن مرة أخرى، لكن الطعام الروحي الذي &#8220;يسند قلب الإنسان&#8221; (مز١٥:١٠٤)، يحفظ الإنسان إلى حياة أبدية، الذي وعد المسيح أيضا أن يهبه لنا قائلاً: &#8220;الذي يعطيكم ابن الإنسان&#8221;، إذ أنه يتكلم عن جسده المتحد بلاهوته ، وبذلك يكون قد ربط كل سر التدبير بالجسد ، في ترتيبه الصحيح. لكنه في رأيي يلمح إلى الطعام السري الأكثر روحانية، الذي بواسطته نحيا فيه، مقدسين جسدا ونفسا ، لكننا سوف نراه يتكلم بعلانية أكثر فيما بعد. وعلينا أن نحفظ الحديث لوقته ومكانه المناسبين<a href="#_ftn3" name="_ftnref3">[3]</a>.</p>
<p></p>
<p></p>
<h4>القديس يوحنا ذهبي الفم</h4>
<p></p>
<p><strong>مفهوم الطعام الباقي حسب تعليم القديس يوحنا ذهبي الفم</strong></p>
<p></p>
<p>ماذا توقعت الجموع سوى أنه قد جاء إلي هناك عابرًا البحر بقدميه؟ إذ لم يكن ممكنًا أن يكون قد جاء بسفينة أخرى. إذ يقول الإنجيلي أنه وجدت سفينة واحدة بها التلاميذ. لذلك عندما جاءوا إليه بعد دهشة عظيمة لم يسألوه كيف عبرت، أو كيف بلغت إلى هناك، ولا طلبوا أن يفهموا آية عظيمة كهذه. وإنما ماذا قالوا؟ &#8220;يا معلم متى صرت هنا؟&#8221; (يو ٦ : ٢٥)</p>
<p>الأسلوب اللين اللطيف ليس دائمًا نافعًا، بل توجد أوقات حين يحتاج المعلم إلي استخدام لغة حادة&#8230; فعندما جاءت الجماهير ووجدت يسوع وتملقته بالقول: &#8220;يا معلم متى صرت هنا؟&#8221;</p>
<p>(يو ٦ : ٢٥) فلكي يظهر أنه لا يطلب كرامة من بشرٍ إنما يتطلع إلي أمرٍ واحدٍ وهو خلاصهم، أجابهم بحدة، لكي يصحح موقفهم لا بهذه الطريقة فحسب بل وبالكشف والإعلان عن أفكارهم</p>
<p>وبخهم بكلامه، ولكنه عمل هذا برفق وإشفاق، لأنه لم يقل لهم: يا أيها الشرهون في الأكل، يا عبيد بطونكم، قد صنعت عجائب هذا مقدارها فلم تأتوا ورائي، ولا تعجبتم لأعمالي&#8221;. لكنه خاطبهم بلطفٍ ورقةٍ، قائلًا: &#8220;تطلبونني ليس لأنكم رأيتم آيات، بل لأنكم أكلتم من الخبز فشبعتم&#8221;</p>
<p>كأنه يقول لهم: إنني غذيت أجسادكم لكي تلتمسوا الطعام الآخر الباقي المغذي أنفسكم، أما أنتم فقد أسرعتم إلى الطعام الأرضي، فلهذا لست أقتادكم إلى هذا الطعام الأرضي، بل إلى ذلك الطعام الذي ليس من شأنه أن يقدم حياة وقتية بل أبدية، المغذي أنفسكم لا أجسادكم.</p>
<p>ليس شيء أردأ وأكثر خزيًا من النهم، فإنه يجعل الذهن دنيئا والنفس جسدانية؛ إنه يسبب عمى، فلا يرى الشخص جيدا.</p>
<p>&#8220;هذا الله الآب قد ختمه&#8221; بمعنى &#8220;أرسله لهذا الهدف أن يحضر لكم طعامًا&#8221;. تعلن الكلمة أيضًا تفاسير أخرى إذ يقول المسيح في موضع آخر: &#8220;ومن قبل شهادته فقد ختم أن الله صادق&#8221; (يو ٣ : ٣٣) &#8230; يبدو لي هذا القول أنه يلمح هنا عن &#8220;الآب ختم&#8221; ليس ألا أنه &#8221; أقر&#8221; أو&#8221; أعلن بشهادته&#8221;. فالمسيح في الحقيقة أقر عن نفسه، ولكنه إذ كان يحاور اليهود قدم شهادة الآب له<a href="#_ftn4" name="_ftnref4">[4]</a>.</p>
<p></p>
<p></p>
<h4>القديس غريغوريوس النيسي</h4>
<p></p>
<p><strong>&#8211; طعام العريس :</strong></p>
<p>&#8221; ليأت حبيبى الى جنته ويأكل ثمرة النفيس &#8221; (نش ٤ : ١٦)</p>
<p>&#8221; قد دخلت جنتى يا أختى العروس &#8221; (نش ٥ : ١)</p>
<p>هنا صرخة من القلب ، هنا سمو الروح الذى يفوق كل حدود العطاء . من الذى تدعوه العروس لكى ينعم بثمارها ؟ لمن تستعد لعمل وليمة من مخازنها الخاصة ؟ من الذى تدعوه للأحتفال بما اعدته ؟ انه</p>
<p>&#8221; الذى هو قبل كل شىء وفيه يقوم الكل &#8221; (كو ١ : ١٧) هذا الذى يعطى الطعام فى حينه(لو ١٢ : ٤٢) الذى هو الخبز الذى نزل من السماء (يو ٦ : ٤١) ومن نبعه الخاص يسكب الحياة لكل الخليقة . انه هو الذى أعدت له العروس مائدتها ، والمائدة هى الفردوس المزروع بالأشجار الحية ، والأشجار والطعام الذى تقدمه هو خلاص أنفسنا . كما قال هو &#8221; طعامى أن أعمل مشيئة الذى أرسلنى&#8221; (يو ٤ : ٣٤) وارادة الله واضحة أن الجميع يخلصون والى معرفة الحق يقبلون &#8221; (١تي ٢ : ٤) .</p>
<p>ان أمر خلاصنا هو الطعام المعد له ، والثمر هو ارادتنا الحرة التى نقدمها لله وكأنها غرس مثمر يجنى . وهنا يجب أن ندرك أنه قبل ذلك قد تلذذت العروس بثمر التفاح حين قالت &#8221; وثمرته حلوة لحلقى&#8221;  (نش ٢ : ٣) ثم بعد ذلك صارت العروس نفسها حلوة بعد أن أكلت من ثمرته وصارت هى نفسها ثمرة مقدمة لصاحب الجنة يتمتع بها.  ومعنى كلمة &#8221; ليأت حبيبى &#8221; لينزل حبيبى فهذا تفسير لما تقوله فى الصلاة الربانية ليتقدس اسمك ولتكن مشيئتك .</p>
<p>وهذان الطلبان هما أساس الصلاه ، ولذلك تقول العروس لينزل حبيبى بعد أن قدمت النفس له ثمرة سلوكها فى حياة الكمال . ومجيئه هو التجسد الالهى الذى هو اعلان الحب لأننا نحن لم نكن نقدر أن نصعد الى الله القدوس.  ولذلك فان الروح التى تنمو فى الشركة مع الله وتعتمد على معونته تطلب منه دائما أن يأتى اليها ويتحد بها .</p>
<p>واجابة هذه الطلبة نراها فى أشعياء النبى &#8221; حينئذ تدعو فيجيب الرب. تستغيث فيقول هانذا &#8221; (أش ٥٨ : ٩) وحين تصلى العروس فانه يسمع توسلها ويحضر ويحل فى قلبها &#8221; تأوه الودعاء قد سمعت يارب . تثبت قلوبهم تميل أذنك &#8221; (مز ١٠ : ١٧) وهكذا يأتى العريس الى جنته حيث تهب ريح الجنوب (نش ٤ : ١٦) . ويقطف الثمار النفيسة التى هى فضائل النفس . ثم يحتفل بها ويقول الآيات التاليه .</p>
<p><strong>&#8211; السكر الروحى :</strong></p>
<p>&#8221; قد دخلت جنتى يا أختى العروس . قطفت مرى مع طيبى . أكلت شهدى مع عسلى ، شربت خمرى مع لبنى ، كلوا أيها الأصحاب اشربوا واسكروا أيها الأحباء &#8221; (نش ٥ : ١) .</p>
<p>لا يوجد أى تعارض بين هذا النص كلوا واشربوا وبين وصية الرب بالصوم والزهد فى الطعام والشراب لأن الطعام والشراب هنا روحى وليس مادى ، والسكر هنا روحى وليس بالخمر ، والنشوة هنا هى نشوة الروح وليست نشوة السكر لأن المزمور يقول &#8221; يروون من دسم بيتك ومن نهر نعمك تسقيهم &#8221; (مز ٣٦ : ٨) .</p>
<p>وهنا يتحدث داود النبى عن السكر الروحى بالجمال الالهى الذى يفوق كل تصور . حتى أنه قال أن كل من يحاول أن يصف هذا الجمال الالهى لن يقدر وسيصير كاذبا &#8221; أنا قلت فى حيرتى كل انسان كاذب &#8221; (مز ١١٦ : ١١) وقد يتهمنا البعض بالخلل العقلى وهذا ما قاله بولس الرسول &#8221; ان صرنا مختلين فلله أو كنا عاقلين فلكم &#8221; (٢كو ٥ : ١٣) وقال هذه الكلمات لفستوس الوالى &#8221; لست أهذى أيها العزيز فستوس بل أنطق بكلمات الصدق والصحو &#8221; (أع ٢٦ : ٢٥).</p>
<p>وقد اختبر بطرس الرسول أيضا هذا السكر الروحى خلال الجوع والعطش لأنه قبل أن يأتى اليه الطعام كان جوعان (أع ١٠ : ١٠) ولقد اختبر ذلك الأكل الروحى حين رأى الملاءة المدلاه من الأربعة أركان وبها أنواع متعدده من الطيور والدواب والزحافات وكل أنواع الحيوانات المختلفة وفقا لكل العبادات المختلفة .</p>
<p>ولقد أمر الله بطرس الرسول أن يذبح ويأكل من كل الأنواع ، لأن كل الأنواع صارت صالحة للأكل وهذا معناه أن رسالة الخلاص حين تصل الينا ونستقبلها بطهارة كأنها صوت الله فاننا نخلص لأن ما طهره الله لا ينجسه انسان (أع ١٠ : ١٥) وهذه الرسالة أعطيت ثلاث مرات وهذا مهناه أن الصوت الأول لله الذى يطهر والثانى لله الابن الذى يطهر والثالث هو صوت الروح القدس الذى يطهر كل نجس .</p>
<p>هذا هو السكر الروحى الذى أعده الله كمائدة لأصحابه . وخلال هذه المائدة الروحية التى ترمز للتناول تأتى النشوة الروحية . والله يحث أولئك القريبين اليه بممارسة حياة الفضيلة حين يقول لهم &#8221; كلوا أيها الأصحاب واشربوا واسكروا أيها الأحباء &#8221; (نش ٥ : ١) . ولكن يجب أن نلاحظ أن الذى يأكل ويشرب بدون استحقاق يأخذ دينونة لنفسه&#8221; (١كو ١١ : ٢٩). وبالحق ان الرب دعاهم أخوته لأنهم يصنعون مشيئتة ، ولذلك هم مستحقون لذلك الطعام &#8221; لأن من يصنع مشيئة الله هو أخى وأختى وأمى &#8221; (مر ٣ : ٣٥)<a href="#_ftn5" name="_ftnref5">[5]</a> .</p>
<p></p>
<p></p>
<h3>عظات آباء وخدَّام معاصرون</h3>
<p></p>
<h4>عظة للمتنيح القمص لوقا سيداروس</h4>
<p></p>
<p><strong>الطعام الباقى الجموع يطلبون يسوع</strong></p>
<p>بعد معجزة إشباع الجموع من الخمس خبزات &#8230; في الغد كانت الجموع تبحث عن يسوع وتطلبه . وإذا لم يجدوه في الموضع الذى أكلوا فيه الخبز ، وكبوا السفينة في طبريه وجاءوا إلى كفر ناحوم وقالوا له : يا معلم متى صرت هنا ؟ فأجابهم يسوع وقال لهم : الحق الحق أنتم تطلبوننى ليس لأنكم رأيتم آيات . بل لأنكم أكلتم من الخبز فشبعتم ، أعملوا لا للطعام البائد ، بل للطعام الباقى للحياة الأبدية الذى يعطيكم إبن الإنسان لأن هذا الله الآب قد ختمه .</p>
<p>+ ما أجمل أن تطلب يسوع ، ولكن تطلبه ليس من أجل عطاياه ، بل من أجل ذاته ، نحن نريد أن نتمتع بالمسيح ولو نحرم من جميع الأشياء الآخرى . &#8221; معك لا أريد أيضاً شيء</p>
<p><strong>المسيح والعطايا</strong></p>
<p>&#8221; كل عطية صالحة وكل موهبة تامة هي نازلة من فوق من عند أبى الأنوار الذى يعطى بسخاءولا يعير . فطعامنا الجسدى نأكله من يد يسوع ونشكره . وكل عطايا مادية نحسبها بركة من صلاح الله ولكن الرب يسوع يوجه أنظارنا إلى عطية أخرى يجب أن نعمل من أجلها . أنه يشير إلى الطعام الآخر سماه هو الطعام الباقى وفى مرة أخرى &#8221; خبز الحياة &#8221; لا يكفى أن نقول أن يسوع أعطانا نفسه ، بل يجب أن نؤكد أنه أعطانا نفسه كطعام مأكل حق ومشرب حق &#8230; أعطانا دمه المسفوك وجسده المكسور. ويريدنا أن نعمل من أجل هذا الطعام الباقى للحياة الأبدية.</p>
<p><strong>بعرق جبينك</strong></p>
<p>قال الرب لآدم أبينا : &#8221; وبعرق جبينك تأكل خبزك &#8230; &#8221; وصار الإنسان يعمل الأرض لتعطيه خبزاً . عندما قتل قايين أخيه &#8221; قال الرب : متى عملت الأرض لا تعود تعطيك قوتها &#8230; &#8221; فصار الإنسان يتعب طوال النهار لكى تعطيه الأرض خبزاً ، ويكد ويشقى طول عمره لكى يأخذ شيئاً من الأرض بعرق الجبين &#8230; وكل ما يأخذه من الأرض تستعيده الأرض مره أخرى لأنه تراب ، وإلى التراب يعود فصار الإنسان كأنه مولود للمشقة وحسب كل تعبه باطل الأباطيل وقبض الريح ، ولا منفعة تحت الشمش . والعجيب جداً أن الإنسان وهو محصور في جسده وفى مادياته حسب أن حياته في طعام الجسد . فأهتم جداً وأفنى حياته بحثاً عن طعام الجسد في أكل وفى شرب وفى مسرة جسدية و&#8230;</p>
<p><strong>لى طعام آخر</strong></p>
<p>قال التلاميذ للرب عند بئر السامرة : &#8221; يا معلم كل &#8221; فقال لهم : لى طعام آخر لستم تعرفونه : طعامى أن أعمل مشيئة الذى أرسلنى وأتمم عمله . المسيح المبارك يجوع إلينا ويشبع بتوبتنا ورجوعنا وعندما يكون المسيح فينا ، يكون فينا هذا الجوع إلى الطعام الآخر &#8230; إلى تكميل مشيئة الآب وهذا الطعام لا يعرفه العالم . ويسوع اليوم يقول : &#8221; يا إبنى أعمل من أجل هذا الطعام بكل قوتك . واتعب من أجل الحصول عليه وأعرق عرقاً مقدسا . ولا يكن كل عرقك وتعبك من أجل الطعام البائد الذى يزول .</p>
<p><strong>طوبى للجياع</strong></p>
<p>الرب يسوع طوب النفوس التي تجوع وتشتهى أن تأكل خبز الحياة وطعام البر . وهناك فرق كبير بين من يتقدم للطعام بجوع وشهوة ، ومن يتغصب ليأكل . هناك نفوس كثيرة تتقدم للتناول بإشتياق عظيم وجوع شديد . بينما نفوس أخرى تدفعها دفعاً للتناول من جسد الرب و للأكل من خبز الحياة .</p>
<p>+ الذى إعتاد أن يأكل الطعام البائد ، كيف يجوع إلى الطعام الباقى ؟</p>
<p>إن شخصاً يحضر القداس في تكاسل وفى ساعة متأخرة هل تسمى هذا الشخص جائع إلى البر ؟ وآخر لا يفكرفى التناول</p>
<p>إلا في المناسبات كعادة موروثة تريح الضمير ، هل تسمى هذا الشخص جائع للبر ؟</p>
<p><strong>أعملوا للطعام الباقى</strong></p>
<p>ان خبرة سمعان في صيد السمك : &#8221; تعبنا الليل كله ولم نأخذ شيئاً &#8221; . وخبرة المرأة السامرية : &#8221; من يشرب من هذا الماء يعطش أيضاً &#8221; . وخبرة الآباء والأجيال تعطينا درساً يجب ألا ننساه</p>
<p>+ ربى يسوع كم تعبنا من أجل طعام بائد . كم تصببنا عرقاً وأفنينا سنيناً بحثاً عن طعام الأرض ؟ كم من الوقت كل يوم أعمل فيه من أجل لقمة العيش ومن أجل الطعام البائد ثم دعنا نسأل أنفسنا كم من الأوقات نعمل من أجل الطعام الباقى الذى للحياة ؟ وما هي إستعدادنا وتعبنا من أجل خبز الحياة ؟ أن نوح البار أمضى سنين هذا عددها يستعد . فصنع فلكاً من أجل نجاته مع أولاده . وسليمان بنى هيكلاً في سبع سنوات ودشنه بألف ذبيحة . وداود كان يرقص بكل قوته أمام تابوت العهد . والآباء القديسون كم من العبادات والأصوام بذلوها أستعداداً للطعام الباقى. وعلى خلاف ذلك فإن أشخاصاً كثيرين يتقدمون للطعام الباقى بلا إستعداد لائق ، ولو إلى ساعة صلاة أو تقديم توبة ، ولا يصرفون جهداً بسيطاً من أجل طعام الحياة الأبدية تأخرهم في الحضور إلى الوليمة السمائية .</p>
<p><strong>المن السماوى</strong></p>
<p>والمسيح عندما يكلمنا عن الطعام الباقى الموهوب لنا يشير إلى نفسه . وكما كان بنو إسرائيل يبكرون كل صباح ويلتقطون المن من أجل حياتهم . هكذا كان حال الروحانيين &#8230; يبكرون كل صباح ليشبعوا بالمسيح ، ويبكرون إلى الكنيسة &#8230; انه خبز كل يوم &#8230; خبزنا اليومى &#8230; وهو أيضاً خبز المستقبل ، خبزنا الذى للغد &#8230; والرب يسوع علمنا في الصلاة أن نطلبه من الآب ، ليس كما كانت الجموع تطلبه من أجل الخيرات الزمنية والخبز المادى الذى يفنى . فكثيرين يطلبون مسيح التعزيات ، ومسيح الخيرات الزمنية ، ويطلبون أن يكون الله معهم من أجل النجاح ، ومن أجل المستقبل ، ومن أجل التوفيق في الأعمال الزمنية. ولكن يسوع يوجه نظرنا أن نطلب كقوتنا الأبدى ونسعى من أجل أن نكون لنا شركة في الحياة الأبدية<a href="#_ftn6" name="_ftnref6">[6]</a> .</p>
<p></p>
<p></p>
<h4>المتنيح القمص تادرس البراموسي</h4>
<p></p>
<p>الأحد الأول من شهر أمشير المبارك</p>
<p><strong>اعملوا لا للطعام البائد بل للطعام الباقى إلى الأبد ( يو ٦ – ٢٢ – ٢٧ )</strong></p>
<p>انتقد الرب يسوع الذين كانوا يذهبون ورائه في كل موضع يمضى إليه . لأنه رأى فيهم أنهم يذهبون ورائه لأغراض شخصية جسدية ووقتيه . لأنه أطعمهم الخبز دون أن يتعبوا وشفى مرضاهم وفتح أعين العميان منهم وجدوا حاجاتهم فيه ليستريحوا من الشغل وأتعابه ويجلسوا في بيوتهم وكل حاجاتهم مقضية . لم يفكر في حياتهم الروحية وجوعهم الروحى بل يسعون إلى الجسديات . لا لم يفكروا في خلاص نفوسهم واحتياجاتهم الروحية وسلامهم الداخلى .</p>
<p>هل نتبع الرب لأجل هذه الأشياء الفانية الأرضية الوقتية. ونترك أشتيقاتنا وأحتياجاتنا للحق ونمونا الروحى وسعادتنا الأبدية يوجد الكثيرون من البشر يسعون وراء الرب يسوع ليس لأستعداد في أنفسهم للأبدية لكسب الحياة أو الهدوء أو الراحة والحصول على التفاف الناس حولهم والشهادة لهم بالتدين وربما يكون هؤلاء كالطبل الأجوف الذى له صوت وليس له عمق وكل تصرفاته دوافع ذاتية أنانية أما المؤمنين الحقيقيين الذين تعمقوا في الرب يسوع وذاقوا حلاوة العشرة والعيشة معه يتبعونه حتى في درب الأمة ويسعون معه إلى الطريق المؤدى إلى الحياة الأبدية .</p>
<p>ينادوا دائماً بالحرية التي حررهم بها الرب يسوع ليس من خطية آدم فحسب بل حررهم من عبوديه إبليس وكما قال الكتاب . فأن حرركم الأبن فبالحقيقة تصيرون أحراراً فالأمس أكل الشعب وشبعوا وجاءوا اليوم يطلبوا الرب يسوع لا لشوقهم على تعاليمه بل لإشباع أجسادهم من الخبز الجسدى فقابلهم الرب يسوع عالم الخفايا وعلم أفكارهم ونواياهم فقال تسألون عنى ليس لأنكم رأيتم آيات بل لأنكم أكلتم من الخبز وشبعتم أعملوا لا للطعام الفانى بل للطعام الباقي للحياة الأبدية أجاب يسوع على سؤال ماذا أفعل لنرضى الله. وكان رد الرب يسوع موجزاً وشيقاً ومفيداً جداً الأيمان بالله والسير في طريقه .</p>
<p>يأكل الناس الخبز ليشبعوا جوع الجسد ولاستمرار الحياة الجسدية لكن لا يمكن أن نشبع جوع الروح ألا بتمسكنا بالرب يسوع خبز الحياة وطريق الحق ونبع شبعنا الروحى . فلنسعى إذاً لكى نلحق بالمسيرة لكى نشبع ونرتوى وتنضم إلى الموكب السمائى . ونتمتع بالرب يسوع</p>
<p></p>
<p><strong>العظة الأولى</strong></p>
<p>أ – البحث عن يسوع لكنه مفرض</p>
<p>ب – الوقوف على بحيرة العالم بدون رجاء</p>
<p>ج – لا يمكن للنجاة إلا باب واحد</p>
<p>د – مضى التلاميذ وحدهم يحتاج إلى عمق</p>
<p>ه &#8211; السعي وراء الجسديات باطل وسراب</p>
<p>و – طلب بلجاجة لكنه أرضى</p>
<p>ذ – رد الحق وإعلان الحقيقة</p>
<p>ح – التعليم السامى وفى الفكر التسامى</p>
<p>ط – مقارنة بين المن وجسد المسيح</p>
<p>ى – وعد الرب أن لا يهلك أحد من تابعيه</p>
<p></p>
<p><strong>العظة الثانية</strong></p>
<p>أ – المضي إلى البرية والجرى وراء السراب</p>
<p>ب – تعب باطل وسعى بلا فائدة</p>
<p>ج – اهتمام بالغد وطلب الفانيات</p>
<p>د – بدونه سعينا باطل ولا نستفيد شيء</p>
<p>ه &#8211; الخلاص ليس بالمكان بل بالقلب</p>
<p>و – البحث عن يسوع ليس للخلاص بل لسد الجوع الجسدى</p>
<p>ذ – سؤال غريب وطلب عجيب</p>
<p>ح – لشبع البطون مضوا يسعون</p>
<p>ط – كشف القلوب وأظهار العيوب</p>
<p>ى – النصيحة الإلهية والحياة الأبدية</p>
<p>ك – هلموا للخلاص ونترك الأوثان</p>
<p></p>
<p><strong>العظة الثالثة</strong></p>
<p>أ – غد وبحر وسفينة</p>
<p>ب – يسوع وتلاميذه وجموع جائعة</p>
<p>ج – موضع وخبز وشكر</p>
<p>د – اجتهاد وبحث ولقاء</p>
<p>ه &#8211; معلم وكلمة حق وتبكيت</p>
<p>و – عطية الله وخلاص الخطاة</p>
<p>ذ – طلب أرضى وسعى باطل</p>
<p>ح – تقديم حسده وحرمان الأمه</p>
<p>ط – عدم الإيمان وتفكير الشيطان</p>
<p>ى – جسد يسوع وانفجار الينبوع</p>
<p>ك – تعليم وتبكيت وتقويم<a href="#_ftn7" name="_ftnref7">[7]</a></p>
<p></p>
<p></p>
<h4>الدكتور جميل نجيب سليمان</h4>
<p></p>
<p><strong>الطعام الباقي للحياة الأبدية</strong></p>
<p>بعد أن أشبع الرب الخمسة آلاف رجل (غير النساء والأولاد) من خمس خبزات وسمكتين (إنجيل قداس الأحد الثاني من شهر أمشير) . انبهر الناس بهذه الآية حتى أنهم قالوا &#8220;هذا هو بالحقيقة النبي الآتي إلى العالم&#8221; (يو٦: ١٤)، مستعيدين، في أجواء عيد الفصح الذي كان على الأبواب، ذكريات الفصح الأول وخروجهم من أرض العبودية بذراع الرب الرفيعة، ووعد الله بأن يقيم لهم نبياً من وسطهم، الذي رأوه في المسيح، لا كمخلص من موت الخطية وإنما كمحرر من احتلال الرومان وسطوة ملكهم هيرودس.</p>
<p>كان النهار قد مال، وبدأت عتمة الغروب. فطلب الرب من تلاميذه أن يذهبوا إلى السفينة استعدادا للعودة من بيت صيدا، بينما هو يصرف الجموع. على أنه لما علم أنهم يزمعون أن يختطفوه ليجعلوه ملكا، تأسف في قلبه على أنهم مازالوا ملتصقين بالأرض والجسد، فتركهم ومضى وحده إلى الجبل ليصلي (مت١٤: ٢٣)، (مر٦: ٤٥-٤٦)، (يو ٦: ١٥).</p>
<p>من جانبهم، فقد نزل التلاميذ إلى السفينة. وإذ انتظروا الرب دون أن يأتي، أخذوا في الإبحار غرباً نحو كفرناحوم. فجأة هبت ريح مضادة شديدة، فهاجت مياه البحيرة وتلاعبت الأمواج بالسفينة، وأخذ التلاميذ يجاهدون في التجديف ضد الرياح والموج. ونحو الهزيع الرابع – وقد تحركوا بالكاد عدة أميال – رأوا يسوع ماشياً على الماء وهو يقترب منهم، إلى أن بدا كأنه يتجاوزهم (مر٦: ٤٨) فاضطربوا قائلين &#8220;إنه خيال&#8221;، اجتاحهم الخوف وأخذوا يصرخون. فقال لهم الرب مهدئاً روعهم &#8220;تشجعوا. ثقوا. أنا هو. لا تخافوا&#8221;. أما بطرس، المقدام المبادر، فقال يا سيد. إن كنت أنت الرب فمرني أن آتى إليك على الماء&#8221;. فقال تعال&#8221;. فنزل بطرس من السفينة وبدأ بالفعل يخطو على الماء ليأتي إلى يسوع الذي تعلقت به عيناه. على أنه لما انتبه إلى واقعه ورأى أن الريح شديدة، خاف. وإذ ابتداً يغرق صرخ إلى الرب (مستنجداً) قائلا: يارب نجني. ففي الحال مد يسوع يده وأمسك به وقال له (عاتبا): يا قليل الإيمان، لماذا شككت؟&#8221;. ولما دخلا السفينة سكنت الريح وساد الهدوء. أما باقي التلاميذ الذين رأوا ما جرى سجدوا للرب خاشعين قائلين: &#8220;بالحقيقة أنت ابن الله&#8221; (مت١٤: ۲۲-۳۳)، (مر٦: ٤٥-٥٣)، (يو ٦: ١٤-٢١)، واستكملوا إبحارهم حتى بلغوا مقصدهم.</p>
<p>من جانب الناس، فقد ظلوا على متابعتهم للرب. ففي الغد جاءوا إلى مكان الأمس، كما جاء كثيرون عبر البحيرة من طبرية (على الشاطيء الغربي) والذين كانت الريح مواتية لهم. ولما لم يجدوا الرب ولا تلاميذه، اتجهوا من جديد غربا إلى كفرناحوم فوجدوا الرب أمامهم مع تلاميذه. فدهشوا لأنهم رأوا التلاميذ أمس يبحرون وحدهم بينما يسوع لم يكن معهم. فسألوه متحیرین متى وكيف جاء إلى هنا؟</p>
<p>على أن الرب لم ينخدع بهذه اللهفة عليه واحتفائهم به. فهي لم تكن انشغالا بملكوت الله ولا تطلعاً لرؤية آيات تمجد الله، وإنما من أجل الخير والبركة اللتين تصاحبان الرب، فالمرضى يشفون، والعمي يبصرون، والصم يسمعون، كما أن البطون تمتليء بالطعام حتى الشبع. والرب لم يحاول من جانبه أن ينال إعجابهم إذا باح لهم بالسر الذي جاء به مع تلاميذه، ولكنه بكل سلطان وسعيا إلى خلاصهم واجههم بالقول الصريح: &#8220;الحق الحق أقول لكم. أنتم تطلبونني ليس لأنكم رأيتم آيات، بل لأنكم أكلتم من الخبز فشبعتم&#8221;، ثم اتبعه بهذا القانون &#8220;اعملوا لا للطعام البائد بل للطعام الباقي للحياة الأبدية الذي يعطيكم ابن الإنسان، لأن هذا (أي ابن الإنسان الله الآب قد ختمه&#8221; (يو٦: ٢٧).</p>
<p><strong>عن الطعام البائد:</strong></p>
<p>&#8220;الطعام البائد&#8221; هو كل ما نأكله ونشربه، وهو الضروري لحياة الجسد. فهو يعطي شبعاً وطاقة ونموا ويضمن أداء وظائف الجسم الحيوية. ولكن تأثيره &#8211; كل حاجات الجسد- مؤقت لعدة ساعات أو ليوم، ثم نجوع ونعطش من جديد. ومع أهميته للإنسان فهو لا يطبق أن يأكل نفس النوع كل يوم فتسأمه نفسه ويعمد إلى تغييره. وهو يتعلق بالحياة الحاضرة التي مهما طالت فهي أيضاً مؤقتة وستنتهي، فهو لن يمنع من الموت. وكما بدأ الجسد من تراب فهو إلى التراب يعود. ومع كل هذا القصور المقترن بالطعام البائد فإننا نحصل عليه بالتعب وعرق الجبين والأرض لا تعطينا قوتها (تك٣: ١٩).</p>
<p>وفي هذا الصدد، يعرض لنا الكتاب قصصاً مأساوية عن الذين اشتهوا الخبز البائد &#8220;الذين آلهتهم بطنهم ومجدهم في خزيهم&#8221; (في١٩:٣)، وكانت نهاياتهم أليمة:</p>
<p>فحواء وآدم انجذبا وانخدعا من شهرتهما وأكلا من الشجرة المحرمة، وكانت النتيجة طردهما من وجه الرب وخضوعهما للموت وكل ذريتهما (تك٣: ٦- ١٧).</p>
<p>وعيسو المستبيح، استهان عند جوعه ببكوريته وقايضها بأكلة عدس واحدة من أخيه يعقوب، ولما أراد بعدها أن يرث البركة من أبيه اسحق &#8220;رفض إذ لم يجد للتوبة مكانا مع أنه طلبها بدموع&#8221; (تك٢٥: ٣٤)، (عب۱۲: ١٦-۱۷).</p>
<p>وشعب إسرائيل في رحلة خروجهم من مصر وقد اشتاقوا إلى اللحم الذي اعتادوه أيام العبودية، أمطر الله عليهم خبزا (منا) من السماء، على أن يلتقطوا منه حاجة كل يوم بيومها، ولكن عمد بعضهم إلى أن يبقوا منه إلى اليوم التالي كضمان لطعامهم فكان يتولد فيه دود وينتن (خر١٦: ١٩). وفيما بعد سئموا المن ووصفوه بالطعام السخيف. فهكذا هو الحال مع الطعام البائد الذي لا يختبر معه الشبع أو الرضا.</p>
<p><strong>عن الطعام الباقي :</strong></p>
<p>أما عن &#8220;الطعام الباقي&#8221; – بحسب كلام المسيح &#8211; فهو للحياة الأبدية التي لا تنتهي. كما أنه عطية ابن الإنسان &#8220;الذي هو صورة الله غير المنظور&#8221; (كو١: ١٥) ويحمل خاتمه الملكى الذي يؤكد أصالته وفرادته: بشهادة الآب العلنية غير المسبوقة يوم معموديته في الأردن، وبشهادة الكتب والأنبياء بوحي الروح القدس، وبشهادة المعجزات وغفرانه للخطايا، وبمجيئه مخلصاً وفاديا للإنسان. والرب قدم نفسه نموذجاً للتحرر من عبودية الطعام البائد في مناسبتين:</p>
<p>الأولى: بعد صومه الأربعيني، فإذ جاع أخيرا جاءه إبليس ليجربه ويتحداه إن كان ابن الله حقيقة أن يصير الحجارة خبزاً ليأكل، فاستعاد له الرب ولنا وصيته القديمة &#8220;ليس بالخبز وحده يحيا الإنسان، بل بكل كلمة تخرج من فم الله&#8221; (تث ٦: ١٣)، (مت٤: ٤) (لو٤: ٤). فالصوم الحقيقي يطفيء شهوة الطعام لا أن يشعل اللهفة عليه، وهو يضرم الشوق إلى كلمة الله التي هي سر الحياة الحقيقية (عب٤: ١٢).</p>
<p>والثانية : يوم التقى عند البئر مع السامرية، وكان التلاميذ قد ذهبوا ليشتروا طعاماً، فلما عادوا قدموا له ليأكل. فقال لهم &#8220;أنا لي طعام لأكل لستم تعرفونه أنتم (بعد)&#8221; ثم أضاف طعامي أن أعمل مشيئة الذي أرسلني وأتمم عمله&#8221; (يو٤: ٣١-٣٤). فعلى المؤمن الحقيقي أن يرتب أولوياته وأن ينحاز إلى الطعام الباقي لأنه للحياة الأبدية. وعلى كل خادم أن يعمل مشيئة من أرسله &#8220;ويتمم خدمته&#8221; (٢تى٤: ٥).</p>
<p><strong>المسيح هو خبز الله الحي والحقيقي:</strong></p>
<p>دعوة الرب للجموع، التي كانت تلاحقه، بأن يتحولوا من السعي وراء خبز الجسد الفاني إلى التطلع إلى الطعام الباقي، كانت مدخله للكشف عن البعد الأعمق في معجزة تكثير الخبز والسمك لإشباع الآلاف ونقل الفكر إلى الخبز الحي الذي نزل من السماء أي إلى شخصه هو.</p>
<p>الناس، من ناحيتهم، بعد أن سمعوا ما قاله الرب، فهموا أنه يريد أن ينقلهم من الأمور المادية إلى التي تتعلق بالله. ولكن لكي يتماحكوا ويجادلوا، كما فعل الناموسي الذي أراد أن يبرر نفسه بعد أن أجابه الرب عن ماذا يفعل ليرث الحياة الأبدية بأن يمارس وصية المحبة، إذ سأل &#8220;فمن هو قريبي؟&#8221;؛ فهؤلاء أيضاً سألوا الرب &#8220;ماذا نفعل حتى نعمل أعمال الله؟&#8221; وكانت إجابة يسوع &#8220;أن تؤمنوا بالذي أرسله .</p>
<p>فالرب هو الغاية والوسيلة، وكل الأمور تبدأ وتنتهي به، والذي يؤمن بالابن لا يدان ويرث الحياة الأبدية، والذي لا يؤمن به قد دين ويمكث عليه غضب الله (يو٣: ١٨-٣٦)،</p>
<p>ولكن، إمعانا في الجدل والتهرب من مواجهة الحق والإذعان له، عادوا يسألون الرب من جدید طالبين برهانا على جدارته، كأنما لم تكفهم الآيات السابقة وحتى آية الأمس العظمي &#8220;أية آية تصنع (لنا) لنرى ونؤمن بك، ماذا تعمل؟&#8221;. ثم يتحدونه بأية صنعها موسى لأبائهم &#8220;آباؤنا أكلوا المن في البرية كما هو مكتوب أنه أعطاهم خبزاً من السماء ليأكلوا (خر ١٦: ٤)، (يو٦: ٢٠-٢١).</p>
<p>فيرد الرب بأن يصحح لهم قولهم وهو الإله الحق من الإله الحق &#8220;الحق الحق أقول لكم: ليس موسى (الذي) أعطاكم الخيز من السماء، بل (هو) أبي (الذي) يعطيكم الخبز الحقيقي من السماء (أي شخص الرب). لأن خبز الله هو النازل من السماء الواهب حياة للعالم (يو٦: ٢٢-٢٣). ففي القديم، كما هو الآن، الله هو الذي يتحنن على خليقته، وهو الذي، في سالف الزمان، أعطى المن من السماء، وهو الذي في الأيام الأخيرة أعطى الخبز الحقيقي ابنه من السماء، الذي يهب الحياة للعالم.</p>
<p>وبدا أنهم لم يفهموا أن الرب يتكلم عن نفسه وعن نزوله من السماء. وكما حدث مع المرأة السامرية عندما قال الرب إن من يشرب من الماء الذي يعطيه فلن يعطش إلى الأبد، فحسبته ماء سحرياً يغني عن الماء، وسألته أن يعطيها من هذا الماء لكي لا تعطش ولا تتكلف تعب المجيء إلى البئر لتستقي (يو٤: ١٤-١٥)؛ فهم بدورهم، وقد ظنوا أن ما يتكلم عنه الرب خبز سحري من يأكله لا يجوع، فهم لم يتحرروا من فكر الأرض وحاجة جسدهم إلى الخبز، فرأوا فيما يتكلم عنه الرب إعفاء لهم من السعي والتعب من أجل اللقمة، هكذا سألوه كما سألت السامرية &#8220;أعطنا في كل حين هذا الخبز&#8221; (يو٦: ٣٤).</p>
<p>واحتاج الرب أن ينقلهم ثانية من فكر الجسد إلى فكر الروح، موجها الأذهان هذه المرة مباشرة إلى شخصه الذي يكلمهم &#8220;أنا هو خبز الحياة، من يقبل إلى فلا يجوع ومن يؤمن بي فلا يعطش أبدا&#8221; (يو٦: ٣٥)، فالذي يتحد بالمسيح لا يبقى أسيراً ذليلاً لعطايا العالم من طعام وشراب، ولا تسبيه أشواق الشهوات الجسدية وغرور الغنى ومراكز العالم. فهو يصير حرا مكتفيا بالقوت والكسوة (١تى٦: ٨)، ولا يشعر بالخواء الذي يعانيه الجسديون أهل العالم الذين مهما أخذوا يظلون على جوعهم. وكما يقول الكتاب فإن &#8220;اهتمام الجسد هو موت.. فالذين هم في الجسد لا يستطيعون أن يرضوا الله&#8221; (رو٨: ٦- ٨).</p>
<p>والرب أضاف اختلافاً آخر عن المن، عندما قال لليهود &#8220;آباؤكم أكلوا المن في البرية وماتوا&#8221;، أما عن شخصه فهو &#8220;الخبز الحي الذي نزل من السماء (الذي) إن أكل أحد منه (فهو لا يموت بل) يحيا إلى الأبد&#8221; (يو٦:٥-٥١). وهو قال من قبل أن &#8220;من يسمع كلامي ويؤمن بالذي أرسلني فله حياة أبدية، بل قد انتقل من الموت إلى الحياة&#8221; (يو٥: ٢٤)</p>
<p>فالمسيح هو الحياة &#8220;متى أظهر المسيح حياتنا فحينئذ تظهرون أنتم أيضاً معه في المجد&#8221; (كو٣: ٤). فهو لنا الحياة الجديدة التي تمتد إلى الأبدية، بانفصالنا من الموت الذي كان يترصدنا كخطاة إلى الحياة الأبدية التي كفلها لنا خلاص المسيح. والكتاب يدعو كل مؤمن أن &#8220;جاهد الجهاد الإيمان الحسن وامسك بالحياة الأبدية التي إليها دعيت&#8221; (١تى٦: ١٢).</p>
<p>وكلام المسيح هو للحياة &#8220;الكلام الذي أكلمكم به هو روح وحياة&#8221; (يو ٦: ٦٣) &#8220;مولودين ثانية لا من زرع يفنى بل مما لا يفني بكلمة الله الحية الباقية إلى الأبد &#8220;(۱بط۱: ۲۳) و&#8221;السماء والأرض تزولان ولكن كلام الله لا يزول&#8221; (مت٢٤: ٣٥)، (مر۳: ٢٣)، (لو ۲۱: ٣٣). والنبي إرميا يكتب &#8220;وجد كلامك فأكلته، فكان كلامك لي للفرح ولبهجة قلبي (ار١٥: ١٦).</p>
<p>وخبز الافخارستيا هو شركة جسد المسيح وكأس البركة هي شركة دم المسيح (اکو١٠: ١٦). ومن يأكل جسده ويشرب دمه &#8220;فله حياة أبدية&#8221; وينال مغفرة خطاياه، ويثبت في الرب وهو يثبت فيه، ويقيمه في اليوم الأخير ليحيا معه إلى الأبد (يو٦: ٥٤- ٦٥). وبحسب القديس بولس فنحن كلنا نصير خبزاً واحداً جسداً واحداً باشتراكنا جميعاً في الخبز الواحد (١كو١٠: ۱۷).</p>
<p>كما أن &#8220;كل عطية صالحة وكل موهبة تامة هي من فوق نازلة من عند أبي &#8220;(يع١: ١٧).</p>
<p>فالمسيح، لأنه الألف والياء، البداية والنهاية، الأول والآخر (رؤ۲۲: ۱۳) هو طعامنا الباقي، وخبز حياتنا الذي من يأكله لا يجوع ولا يستبد به الطعام البائد، وينطفيء عطشه إلى مياه العالم. ففيه ومنه كفايتنا (۲کو٣: ٥)، ومعه لا نريد شيئا على الأرض (مز ٧٣: ٢٥)، الكل يبيد وهو يبقى إلى الأبد (إش ٥١: ٦)، (عب١: ١١).</p>
<p>عندما قال لنا الرب &#8220;اعملوا&#8221; للطعام الباقي، فهو قصد ألا يغيب عنا وجه الرب شمس البر وكلامه وحياته، وأن نحشد كل قوانا وطاقاتنا، التي أودعها الله فينا، من أجل حياتنا الأبدية، طالبين أولاً ملكوت الله وبره (مت٦: ٣٣، لو ۱۲: ٣١)، عارفين أن &#8220;اهتمام الجسد هو موت ولكن اهتمام الروح هو حياة وسلام&#8221; (رو٦: ٨). وفي جهادنا من أجل هذه الغاية تسندنا هذه السحابة من الشهود:</p>
<p>&#8220;فنوح عندما تلقى أمر الله ببناء الفلك أطاع وشرع في تنفيذه على الفور، ولم تفتر همته والسنون تمضي دون أن يأتي الطوفان الذي جاء بعد مائة عام فنجا هو وعائلته والحيوانات التي اختارها وهلك كل من كان خارج الفلك&#8221; (تك٧: ٢٣-٢٤)، (عب۱۱: ۷)، (ابط۳: ۲۰).</p>
<p>وبالمثل فإن لوطا انصاع لأمر الملاكين بالخروج من سدوم المرشحة للحريق. ولما دعا أصهاره للخروج معه كان كمازح في أعينهم&#8221; فنجا ومن معه بينما هلك الآخرون، حتى امرأته التي ظل قلبها متعلقاً بالأرض فلما نظرت وراءها صارت عمود ملح (تك١٩: ٢٦).  وأبونا إبراهيم، وهو في سن الثمانين، اشتكي أنه قد شاخ وليس من يرثه غير خادمه. ولكن الله وعده أن من يرثه سيخرج من صلبه. وانتظر إبراهيم عشرين عاما حتى تمم له الرب وعده. وحتي عندما طلب الرب منه أن يقدم وحيده المحبوب، الذي سيأتي منه النسل، محرقة قدمه طائعا ولم يشك في وعد الله وحسب أن الله قادر على الإقامة من الأموات وجدد له الرب البركة وأن تتبارك جميع الأمم في نسله الذي هو يسوع المسيح (تك١٥: ٢ -٦، ٢١: ١-٣، ٢٢: ١-١٨)، (عب١١: ١٧-١٩).</p>
<p>وداود الذي أحب الرب منذ صباه، لم ينتفخ أو تباعد عن الله لما صار ملكاً على إسرائيل، بل إنه تخلى عن وقاره ولم يتحرج أن يطفر ويرقص بكل قوته أمام تابوت عهد الرب (٢صم ٦: ١٤).</p>
<p>وسليمان أيضاً قضى سبع سنوات في بناء الهيكل وقدم ذبائح سلامة اثني وعشرين ألفاً من البقر ومائة وعشرين ألفا من الغنم توفيرا للرب وبيته (امل٦: ٣٨، ٨: ٦٣).</p>
<p>وبينما استكثر الشاب الغني أن يترك كل أمواله ومضى حزيناً ففقد فرصة الحياة (مت۱۹: ۲۲)، (مر ۱۰: ۲۲)، (لو۱۸: ۲۳)، فإن الصيادين الأربعة لما دعاهم الرب وراءه تركوا كل شيء وتبعوه&#8221; (مت٤: ۲۰-۲۲)، (مر۱: ۱۸)، (لو٥: ۱۱) فصاروا أعمدة الكنيسة.</p>
<p>كما أن القديس بولس، الذي كان متقدماً وسط جماعته، اعتبر كل ما كان له ربحاً خسارة عندما أدرك فضل معرفة المسيح يسوع ربه، وحسب كل الأشياء نفاية لكي يربح المسيح (فى٣: ۷-٨).</p>
<p>المسيح هو حياتنا.. خبزنا الحي الذي نزل من السماء.. طعامنا الباقي للحياة الأبدية<a href="#_ftn8" name="_ftnref8">[8]</a>.</p>
<p></p>
<p></p>
<h3>من وحي قراءات اليوم ؟</h3>
<p></p>
<p>اعملوا لا الطعام البائد بل للطعام الباقي للحياة الأبدية ( يو ٢٧:٦)</p>
<p>( الطعام البائد والطعام الباقي )</p>
<p>مانملكه هو طعام بائد ، ومانعطيه للآخرين هو طعام باقي.</p>
<p>مانورثه لأولادنا طعام بائد ، ومايتعلموه إيجابيا منا هو طعام باقي.</p>
<p>رصيدنا عند البشر طعام بائد ، ورصيدنا عند المسيح طعام باقي.</p>
<p>زمن عمرنا الطويل طعام بائد ، وزمن تنفيذ مشيئة الله طعام باقي.</p>
<p>خدمتنا للأعداد الكبيرة ( فقط ) طعام بائد ، وسعينا وراء الخروف الضال ( أيضاً ) طعام باقي.</p>
<p>بناء الكاتدرائيات ( فقط ) طعام بائد ، وبناء البشر ( أولاً ) طعام باقي.</p>
<p>مواهبنا طعام بائد ، ومحبتنا طعام باقي.</p>
<p>عظاتنا طعام بائد ، وقدوتنا طعام باقي.</p>
<p>موائدنا طعام بائد ، وضيافتنا عن حب طعام باقي.</p>
<p>ألقابنا ورتبتنا طعام بائد ، ورسالتنا طعام باقي.</p>
<p></p>
<p></p>
<p></p>
<h3>المراجع:</h3>
<p></p>
<p><a href="#_ftnref1" name="_ftn1"></a>١- القديس أغسطينوس تعليقاً علي مثل صديق نصف الليل وطلب الطعام &#8211; تفسير إنجيل لوقا إصحاح ١١ &#8211; القمص تادرس يعقوب ملطي</p>
<p><a href="#_ftnref2" name="_ftn2"></a>Elowsky, J.C. &amp; Oden, T.C. (2006). John 1 &#8211; 10 (The Ancient Christian Commentary on Scripture, New Testament part IVa). Illinois (U.S.A): InterVarsity Press. Page 221</p>
<p>٢- ترجمة الأخت إيفيت منير &#8211; كنيسة مار مرقس ببني سويف</p>
<p><a href="#_ftnref3" name="_ftn3"></a>٣- المرجع : كتاب شرح إنجيل يوحنا لكيرلس عامود الدين ( الفصل الرابع ) &#8211; مشروع الكنوز القبطية</p>
<p><a href="#_ftnref4" name="_ftn4"></a>٤- تفسير إنجيل يوحنا الإصحاح السادس &#8211; القمص تادرس يعقوب ملطي</p>
<p><a href="#_ftnref5" name="_ftn5"></a>٥- المرجع : كتاب من مجد إلي مجد للقديس غريغوريوس النيسي ( صفحة ١٧٢ ) &#8211; ترجمة القمص إشعياء ميخائيل بالضاهر</p>
<p><a href="#_ftnref6" name="_ftn6"></a>٦- المرجع : كتاب تاملات روحية في قراءات اناجيل احاد السنة القبطية صفحة 205 – كنيسة مارجرجس باسبورتنج</p>
<p><a href="#_ftnref7" name="_ftn7"></a>٧- المرجع : كتاب تاملات وعناصر روحية في احاد وايام السنة التوتية صفحة 69 – اعداد القمص تادرس البراموسي</p>
<p><a href="#_ftnref8" name="_ftn8"></a>٨- المرجع : مجلة مدارس الاحد عدد فبراير لسنة ٢٠١٤</p>
<p></p>
<p></p>
<p></p>

      {% endcreateArticleAccordions %}
    </section>
  {% endblock %}
  