---
layout: 'layouts/reading.html'
title: 'الأحد الثاني من أمشير'
permalink: sundays/6-2.html
---
  {% block content %}
    <section id="readings">
      <ul>
      {% if 'undefined' != 'undefined' %}
      
      {% else %}
      {% if '19.15:1-2' != 'null' %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">العشية</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeVespers '19.15:1-2' '43.4:46-53' %}
          </div>
        </div>
      </li>
      {% endif %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">باكر</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeMatins '19.24:3-4' '43.3:17-21' '' %}
          </div>
        </div>
      </li>
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <h3 class="flex items-center justify-between">
            <span class="kufi">القداس</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </h3>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeLitugy '58.7:1-17' '63.1:1-13' '44.18:9-12' '19.96:7-8' '43.6:5-14' %}
          </div>
        </div>
      </li>

      {% endif %}
        </ul>
    </section>
    <section id="article">
      <h3 class="mt-8 mb-4 heading-explain">شرح القراءات</h3>
      {% createArticleAccordions %}
        <p></p>
<p></p>
<p></p>
<p>&#8221;  أَمَّا عَلَيْكِ فَيُشْرِقُ الرَّبُّ، وَمَجْدُهُ عَلَيْكِ يُرَى. &#8221; (أش ٢:٦٠)</p>
<p>&#8221; يا الله الذي سبق فوسمنا للبنوَّة بيسوع المسيح ربنا كمسرَّة إرادتك كرامة لمجد نعمتك التي أنعمت بها لنا بحبيبك.. ونستطيع أن نرفع أعيننا إلي فوق نحو بهاء مجدك القدّوس &#8221; القدَّاس الكيرلسي &#8211; القسمة</p>
<p>*     تحول عدم إيمانهم إلى شهادة حسنة للمسيح. لأنهم باعترافهم أن مبلغا كبيرًا كهذا المال لن يكفي الجموع ولو لشراء زادٍ طفيف، بهذا ذاته يكللون قدرة رب الجنود التي لا يُنطق بها، هذا الذي عندما لم يتوفر شيء&#8230; تمم عمل محبته نحو الجموع بغنى فائق<a href="#_ftn1" name="_ftnref1">[1]</a>.</p>
<p></p>
<p></p>
<h3>شواهد القراءات</h3>
<p></p>
<p>(مز١٤ : ١-٣) ، (يو٤ : ٤٦-٥٣) ، (مز٢٣ :٣-٤) ، (يو ٣ : ١٧-٢١) ، (عب ٧ : ١-١٧) ، (٢يو ١ : ١-١٣) ، (أع ١٨ : ٩-٢١) ، (مز ٩٥ : ٦-٧) (يو ٦ : ٥-١٤)</p>
<p></p>
<p></p>
<h3>ملاحظات علي قراءات اليوم</h3>
<p></p>
<p>+ قراءة الكاثوليكون اليوم (٢يو ١ : ١ &#8211; ١٣) هي نفس قراءة الكاثوليكون للأحد الثاني من شهر أمشير</p>
<p>قراءة اليوم تُشير إلي حقيقة تجسُّد الكلمة ( حقيقة الجسد الذي أخذه من والدة الإله )</p>
<p>أمَّا مجيئها في الأحد الثاني من أمشير فهو إشارة إلي الكنيسة ( في لقب السيَّدة المُختارة وأيضاً في السلوك في إستقامة الحق ونقاوة المحبَّة )</p>
<p>وقد أشار إلي ذلك أحد الآباء القديسين :</p>
<p><a href="#_ftn2" name="_ftnref2">[2]</a>&#8221; واضح أن السيدة المختارة هي الكنيسة قد بُعثت إليها الرسالة. إنها مختارة في الإيمان ومعلمة لكل الفضائل. &#8221;</p>
<p>+ قراءة إنجيل باكر اليوم (يو ٤ : ٤٣ &#8211; ٥٤) مُشابه لإنجيل عشيَّة الأحد الثاني من شهر أمشير (يو ٤ : ٤٦-٥٣)</p>
<p>مجئ القراءة اليوم للإشارة إلي شفاء أسرة في قانا الجليل بحضور الرب يسوع والتي هي إحدي بركات الظهور الألهي في الأسرة ،ومجيئها في الأحد الثاني من أمشير للإشارة إلي الرب الذي أعطي خمراً من ماء كما أعطي الجموع طعاماً من خمس خبزات وسمكتين وأيضاً الإشارة إلي أنه مصدر الحياة في شفاؤه لأبن عبد الملك</p>
<p></p>
<p></p>
<h3>شرح القراءات</h3>
<p></p>
<p>تعلن قراءات هذا الأحد مجد حضوره الإلهي في حياة الكنيسة المُقدَّسة ومجد الإيمان به</p>
<p>تبدأ المزامير بمن يُعلنون مجده في سلوكهم بالحق ( مزمور عشيّة ) وفِي نقاوة قلوبهم ( مزمور باكر ) وفِي عبادتهم ( مزمور القدَّاس )</p>
<p>لذلك تتكلم المزامير عن بيت الله الكنيسة المقدسة ملء ومجد حضورة الإلهي</p>
<p>يبدأ مزمور عشية بسؤال النبي بالروح عن من هم ساكني بيت الرب ومواطني بيته أنقياء السيرة وشهود الحق ( يارب من يسكن في مسكنك أو من يحل في جبل قدسك إلا السالك بلا عيب ويعمل البر ويتكلم الحق في قلبه )</p>
<p>ويؤكد هذا أيضا في مزمور باكر فطهارة اليد ونقاوة القلب شرط الصعود إلي جبله المقدس وموضع قدسه ( من يصعد إلي جبل الرب أو من يقوم في موضع قدسه الطاهر بيديه النقي بقلبه )</p>
<p>أما مزمور القداس فيدعو الكل إلي بيت الرب بالعبادة والتسبيح وتقديم الذبائح ( قدموا للرب ياجميع قبائل الشعوب &#8230;. قدموا للرب مجدا لاسمه احملوا الذبائح وانطلقوا فادخلوا دياره أسجدوا للرب في داره المقدس )</p>
<p>إذا الذين يتمتعون بحضوره الإلهي في الكنيسة السالكين بالحق أنقياء القلب الشاهدين لمجده الإلهي واسمه القدوس</p>
<p>تُعْلِن القراءات مجد كهنوت العهد الجديد كهنوت البرّ والسلام ( البولس ) ومجد كنيسة العهد الجديد كنيسة الحق ( الكاثوليكون ) ومجد كرازة العهد الجديد المُؤيّدة من السماء ( الإبركسيس )</p>
<p>يرجع بِنَا البولس للمقارنة بين كهنوت العهد القديم وكهنوت العهد الجديد كهنوت إبن الله الذي فيه قوة حياة ويعطي ملء وغني البركة كإعلان عن مجد حضورة الإلهي في الكنيسة وفي العالم ( لأن ملكي صادق هذا &#8230;. المترجم أولا ملك البر ثم أيضا ملك ساليم الذي معناه ملك السلام بلا أب بلا أم بلا نسب لا بداءة أيام له ولا نهاية حياة بل هو مشبه بابن الله يبقي كاهنا إلي الأبد &#8230;. وبدون كل جدال الأصغر يبارك من الأكبر &#8230;. وهذا قد صار ليس بحسب ناموس وصية جسدية بل بحسب قوة حياة لاتزول )</p>
<p>أما الكاثوليكون فيشير إلي الكنيسة المقدسة التي تعلن مجد حضوره الإلهي من خلال السلوك بالحق والإلتزام بوصية المحبة والحرص علي نقاوة التعليم ( من الشيخ إلي السيدة المختارة وإلي أولادها الذين أنا أحبهم بالحق &#8230; من أجل الحق الثابت فينا وسيكون معنا إلي الأبد &#8230; فرحت جدا لأَنِّي وجدت من أولادك بعضا سالكين في الحق &#8230; أن نحب بعضنا بعضا وهذه هي المحبة أن نسلك بحسب وصاياه &#8230;. ومن يثبت في تعليم المسيح فهذا له الآب والابن ومن يأتيكم ولايجئ بهذا التعليم فلا تقبلوه في البيت )</p>
<p>ويعلن الرب في الإبركسيس عن غني حضوره في شهادة وكرازة أولاده ( فقال الرب لبولس برؤيا في الليل : لاتخف بل تكلم ولاتسكت لأَني أنا معك ولايقوم أحد عليك ليؤذيك لأن لي شعبا كثيرا في هذه المدينة فأقام سنة وستة أشهر يعلم بينهم بكلمة الله )</p>
<p>تُعْلِن الأناجيل مجد ابن الله في نجاتنا من الموت ( إنجيل عشيّة ) وفِي نجاتنا من الدينونة ( انجيل باكر ) وفِي تسديد كل احتياجاتنا ( إنجيل القدَّاس )</p>
<p>أما إنجيل عشية فيتكلم عن مجد حضوره الإلهي في الشفاء والنجاة من الموت ومجد الإيمان بسلطانه الإلهي علي المرض ( وكان في كفر ناحوم عبد لملك ابنه مريض &#8230;. وسأله أن ينزل ويشفي ابنه لانه كان مشرفا علي الموت &#8230;.. قال له يسوع : امض ابنك حي فآمن الرجل بالقول الذي قاله له يسوع وذهب وفيما هو نازل استقبله عبيده قائلين : إن ابنك حي &#8230; فآمن هو وبيته كله )</p>
<p>لذا يعلن إنجيل باكر هدف تجسده وحضوره الإلهي في العالم لخلاص البشر لالدينونتهم كما يحذر من خطورة ومسؤولية رفض النور الإلهي ( لأنه لم يرسل الله ابنه إلي العالم ليدين العالم بل ليخلص به العالم &#8230; وهذه هي الدينونة : إن النور قد جاء إلي العالم وأحب الناس الظلمة أكثر من النور )</p>
<p>ويختم إنجيل القداس بملء الغني والبركة الإلهية التي تتخطي كل الحسابات المنطقية وتعلو علي كل فكر بشري في إشباع خمسة آلاف أسرة من خمسة أرغفة شعير وسمكتان</p>
<p>( فرفع يسوع عينيه إلي فوق ونظر أن جمعا كثيرا مقبل إليه فقال لفيلبس من أين نجد خبزا لنبتاع ليأكل هؤلاء &#8230; أجابه فيلبس : لايكفيهم خبز بمائتي دينار ليأخذ كل واحد منهم شيئا يسيرا قال له واحد من تلاميذه وهو اندراوس أخو سمعان بطرس : يوجد هنا غلام معه خمسة أرغفة شعير وسمكتان ولكن كيف يكفي هذا المقدار لمثل هؤلاء الجموع &#8230;. وأخذ يسوع الأرغفة وشكر وأعطي التلاميذ والتلاميذ أعطوا المتكئين وكذلك أيضا من السمك بقدر ماشاء كل واحد فلما شبعوا قال لتلاميذه : اجمعوا الكسر الفاضلة لكي لايضيع شئ منها &#8230; فلما رأي الناس الآيات التي صنعها يسوع قالوا : إن هذا هو بالحقيقة النبي الآتي إلي العالم )</p>
<p>ويقول القمص أنطونيوس فكري:</p>
<p>وفي هذا الإصحاح نرى المسيح هو المشبع لمن يعرفه.. صار لنا كل شيء.</p>
<p>يشبع جسديًا: معجزة الخمس خبزات والسمكتين وإشباع الجموع بهم.</p>
<p>يشبع نفسيًا: وسط اضطراب البحر والعواصف أتى لتلاميذه فهدأ اضطرابهم فالبحر المضطرب رمز للعالم المضطرب وهذا يسبب اضطراب النفس.</p>
<p>يشبع روحيًا: هنا نسمع عن الجسد والدم كسر حياة وثبات في المسيح<a href="#_ftn3" name="_ftnref3">[3]</a>.)</p>
<p></p>
<p></p>
<h3>ملخّص القراءات</h3>
<p></p>
<p>يُسْتَعلن مجد ابن الله في الكنيسة المُقدَّسة في نقاوة القلب وروحانية العبادة والسلوك بالحق ( مزمور عشيّة وباكر والقدّاس )</p>
<p>وفِي شهادة الكنيسة للحق وفِي كرازتها وكهنوتها                                               ( البولس والكاثوليكون والإبركسيس )</p>
<p>وفِي نجاتنا من الموت الأرضي ومن الموت الأبدي وفِي تسديد الإحتياجات                   ( إنجيل عشيّة وباكر والقدّاس )</p>
<p></p>
<p></p>
<h3>  إنجيل القدَّاس في فكر آباء الكنيسة</h3>
<p></p>
<p>&#8220;لقد ترك يسوع أورشليم حتى يهدّئ معارضيه ويبتعد عن مضطهديه –عابرًا بحر الجليل إلى الناحية الأخرى.&#8221; (كيرلُّس السكندري).</p>
<p>&#8220;الجموع صارت تتبع يسوع لأجْل المعجزات وليس لتعاليمه؛ ما يفسر الإقلال مِن سرد يوحنّا للمعجزات في مشاركته بالكتابة عن هذه الفترة. وبفعل جدير بأنْ يوصف بالمحاكاة، يمضي يسوع مع تلاميذه لينفرد بهم بعيدًا عن الجموع والجلبة.&#8221; (فم الذهب).</p>
<p>&#8220;لم يصعد يسوع إلى العيد لأنه أراد أنْ يبطل الناموس القديم في هدوء دون أنْ يستثير المواجهة المباشرة.&#8221; (فم الذهب).</p>
<p>&#8220;انتهاجًا لإحدى طرق التدوين حيث يتحد يوحنّا مع بقية الإنجيليين في وصف بعض الأحداث&#8221; (أوغسطينوس، فم الذهب), &#8220;يكتُب أن يسوع يسأل فيلبّس عن نقص الطعام، بغية أنْ يتذكر فيلبّس فيما بعد ما قد حدث فيعترف بالآية التي صنعها يسوع.&#8221; (فم الذهب).</p>
<p>&#8220;في النهاية، فإن يسوع بإشباعه للجموع يكون لنا عبرة تجعلنا نصدّق ونؤمن أن لدى الله كل شيء مستطاع.&#8221; (كيرلُّس السكندري).</p>
<p>&#8220;عدد الأرغفة الجافة يوحي بأسفار موسى الخمسة، وأما السمكتان الصغيرتان فتوحيان بتعاليم الرسل والإنجيليين.&#8221; (كيرلُّس السكندري).</p>
<p>&#8220;تقول إحدى قراءات النبوات المصاحبة لهذا الفصل أن حبة الشعير (المسيح) اختبأت في القش (العهد القديم) إلى أنْ جاء زمن الانكسار. والسمكتان هما مثال للكهنة والملوك الذين قد اكتملت أعمالهم في المسيح.&#8221; (أوغسطينوس).</p>
<p>&#8220;الخمسة آلاف الذين قد أكلوا يُعَدّون نذيرًا بالخمسة آلاف الذين تشبَّعوا بالإيمان، المذكورين في سفر الأعمال 4.&#8221; ( هيلاري ).</p>
<p>&#8220;يبدو ويتّضح أن مَن عاينوا هذه المعجزة لم يأبهوا بها وقت حدوثها، لكنهم فقط قد فَهموا فيما بعد.&#8221; ( هيلاري ).</p>
<p>&#8220;إن ما حدث كان أكبر مما تستطيع الحواس الخمس كلها أنْ تدركه.&#8221; (إكليمندُس).</p>
<p>&#8220;هوذا خالق الحبة يُكثِر الحبوب كما لو كانت بذارًا غير نامية في الأرض، بلْ في يدييه المخصبتين المحييتين. بكسر الخبز حدث التكاثر؛ هكذا مثل انكسار الناموس القديم وانفراجه بمجيء المسيح.&#8221; (أوغسطينوس).</p>
<p>&#8220;كما تناثرت كسر الخبز فوق الجبل ثُمّ جُمعَت لتتوحد، كذلك يمكن للكنيسة أنْ تأتي مِن أقاصي المسكونة لتجتمع في ملكوت الله الأوحد.&#8221; (D1dACHE).</p>
<p>&#8220;في هذه المعجزة يبرهن ما تبقّى مِن الخبز على أن الله يدبّر احتياجاتنا بما يزيد بكثير عن كفايتنا.&#8221; (إفرام).</p>
<p>&#8220;إن عطية الخبز التي أعطاها المسيح في ذلك اليوم بواسطة رسله لباقية وقائمة في حياة الكنيسة إلى الآن وحتى انتهاء العالم.&#8221; (أوريجانوس).</p>
<p>&#8220;معجزة الوفرة تلك التي صنعها المسيح سبقتها مثيلتها القديمة في عصر إيليّا.&#8221; (ترتليان).</p>
<p>&#8220;ونحن أيضًا ينبغي أنْ نتعلم كيف نعطي بسخاء مما أنعم الله علينا به، بما أن الله يستطيع أنْ يجعل مِن الشيء اليسير ما هو كثير.&#8221; (كيرلُّس السكندري).</p>
<p>&#8220;بعد أنْ صنع يسوع هذه المعجزة، أدرك الشعب أن النبي الشبيه بموسى قد أتى إلى العالم.&#8221; (إفرام).</p>
<p>&#8220;رغم ذلك، فإن هذه المعجزة ليست أعظم مما يحدث كل يوم مِن معجزات تُحَدِّث بحفظ الله لخلائقه ورعايته لهم.&#8221; (أوغسطينوس).</p>
<p>&#8220;بعدما رأى الشعب هذه الآية، طلبوا أنْ يجعلوا المسيح ملكًا؛ لأنهم تُيِّموا بالقوة الأرضية؛ أما هو فلم يأبه بكرامة العالم&#8221; (فم الذهب), &#8220;لقد كان يَعلَم أنه هو الملك.&#8221; (أوغسطينوس).</p>
<p>&#8220;ولأننا أتباعه فنحن أيضًا نهرب مِن مجد العالم&#8221; (كيرلُّس السكندري) لأنه ليس مِن قوى السياسة تأتينا القوة، بلْ مِن الضعف.&#8221; (أمبروسيوس).</p>
<p>&#8220;يهرب يسوع مِن الزحام إلى أحد الجبال ليصلّي؛ لكي بهذا يعلّمنا أنه كلما كان الهرب ضروريًّا فهكذا تكون الصلاة.&#8221; (أوغسطينوس)<a href="#_ftn4" name="_ftnref4">[4]</a>.</p>
<p></p>
<p></p>
<h3>الكنيسة في قراءات اليوم</h3>
<p></p>
<p>إرسالية الآب للإبن                                                  إنجيل باكر</p>
<p>كهنوت العهد الجديد                                                 البولس</p>
<p>الإيمان بالتجسّد أساس المسيحية                             الكاثوليكون</p>
<p></p>
<p></p>
<h3>أفكار مقترحة لعظات</h3>
<p></p>
<p><strong>(١) مجد كنيسته</strong></p>
<p>١- مجد ونقاوة من يسكنون بيته المقدَّس</p>
<p>&#8221; من يصعد إلي جبل الرب أو من يقوم في موضع قدسه الطاهر بيديه النقي بقلبه &#8221;  مزمور باكر</p>
<p>٢- مجد خلاصه ومحبته للبشر</p>
<p>&#8221; لأنه لم يرسل الله ابنه الي العالم ليدين العالم بل ليخلص به العالم &#8221;   إنجيل باكر</p>
<p>٣- مجد كهنوت العهد الجديد</p>
<p>&#8221; وهذا قد صار ليس بحسب ناموس وصية جسدية بل بحسب قوة حياة لا تزول لأنه يشهد عنه : أنك الكاهن إلي الأبد علي رتبة ملكي صادق &#8221;    البولس</p>
<p>٤- مجد الرعاة والرعية السالكين بالحق والمحبّة</p>
<p>&#8221; فرحت جدا لاني وجدت من أولادك بعضا سالكين في الحق &#8221;    الكاثوليكون</p>
<p>٥- مجد الدعم السمائي للكارزين</p>
<p>&#8221; فقال الرب لبولس برؤيا في الليل : لا تخف بل تكلَّم ولا تسكت لاني أنا معك ولا يقوم أحد عليك ليؤذيك &#8221;  الإبركسيس</p>
<p>٦- مجد الغني والشبع في الكنيسة</p>
<p>&#8221; وأخذ يسوع الأرغفة وشكر وأعطي التلاميذ والتلاميذ أعطوا المتكئين وكذلك أيضا من السمك بقدر ما شاء كل واحد فلما شبعوا &#8221;     إنجيل القدَّاس</p>
<p>(٢) ، ( ٣ ) العظة الأولي والثانية من عظات الأحد الثالث من أبيب</p>
<p></p>
<p></p>
<h3>عظات آبائية</h3>
<p></p>
<p><strong>القديس كيرلس الأسكندري</strong></p>
<p></p>
<h4>معجزة إشباع الجموع في فكر القديس كيرلس الكبير</h4>
<p>يطلبون التحرر من طغيان الشياطين» أو الشفاء من المرض ولكن البعض الآخر كانوا يرغبون أن ينالوا منه التعليم، وكانوا يلازمونه علي الدوام بإخلاص عظيم وبجدية، لكي يتعرفوا تمامًا على تعاليمه المقدسة وحينما بدأ النهار يميل، كما يقول البشير، وكان المساء قد أقبل أعطى التلاميذ اهتماماً بالجموع واقتربوا من المخلص يسألونه من أجلهم. لأنهم قانوا: &#8220;اصرف الجموعليذهبوا الى القرى والحقول حوالينا فيبيتو! ويجدوا طعاماً لأننا ههنا في موضع خلاء&#8221;.</p>
<p>ولكن دعونا نبحث بعناية عن معني عبارة &#8216;اصرف الجموع &#8221; لأننا سنري بواسطتها الإيمان العجيب الذي للرسل القديسين، وأيضًا سنرى القوة الفائقة للطبيعة والمدهشة التي للمسيح مخلصنا فقد كانوا يتبعونه طالبين منه أن ينقذهم من الأرواح الشريرة التي تعذبهم بينما آخرون كانوا يطلبون الشفاء من أمراض متنوعة.</p>
<p>لذلك حيث إن التلاميذ عرفوا أنه بمجرد رضا مشيئته يستطيع أن يتمم لأولئك المرضى ما كانوا يطليونه، لذلك قالوا له &#8220;اصرفهم&#8221;،وهم لا يتكلمون هكذا كما لو كانوا منزعجين من الجموع أو كانوا يعتبرون أن الوقت قد مضى، بل إذ كانوا مأخوذين بالمحبة نحو الجموع بدأوا يهتمون بالشعب كما لو كانوا يمارسون مقذماوظيفتهم للرعوية، لكي نتخذ منهم قدوة لأنفسنا.</p>
<p>لأن الاقتراب (من الرب) والتوسل إليه نيابة عن الشعب هو فعللائق بالقديسين، وهو واجب الآباء الروحيين، ودليل علي قلب له اهتمام ليس بالموضوعات الشخصية وحدها، بل يعتبر مصالح الآخرين هي مصلحته الشخصيّة، وهذا مثل واضح جدًا علي هذه المحبة الفائقة. وإن كان يسمح لنا أن نمتد بتفكيرنا فوق مستوى الأمور البشرية، فإننا نقول: لأجل منفعة الذين يناسبهم هذا، إننا حينما نواصل الصلاة بحرارة مع المسيح سواء كنانسأله الشفاء من أمراض أرواحنا، أو أن يخلصنا من أي أمراض أخرى، أو كنا نرغب أن نحصل على أي شيء لأجل فائدتنا، فليس هناك أدنى شك أنه حينما نسأل في الصلاة أي شيء صالح لنا،فإن القوات العقلية وكذلك أولئك الرجالالقديسين الذين لهم دالة أمامه يتضرعون لأجلنا.</p>
<p>ولكن لاحظوا اللطف غير المحدود لذلك الذي يتوسلون إليه، فهو لا يهب فقط كل ما يسألون منه أن يمنحه لأولئك الذين تبعوه، بل أيضًا يضيف خيرات من يده اليمنى السخية منعشا بكل طريقة أولئك الذين يحبونه، ويرعاهم ويغذيهم بالشجاعة الروحية.</p>
<p>هذا ما يمكن أن نراه مما نقرأ الآن، لأن التلاميذ القديسين طلبوا من المسيح أن يصرف أولتك الذين كانوا يتبعونه ليتفرقوا بقدر ما هو مستطاع، ولكنه أمرهم أن يزودوهم بالطعام. ولكن هذا الأمر كان مستحيلاً في نظر التلاميذ، لأنه لم يكن معهم أي شيء سوي خمس خبزات وسمكتين، وهذا ما اعترفوا به له حينما اقتربوا منه.</p>
<p>لذلك، فلكي يوضح عظمة المعجزة ويجعلها تُظهر بكل طريقة أنه هو الله بطبيعته الخاصة، فقد أكثر هذه الكمية الصغيرة أضعافا مضاعفة، ونظر إلى فوق إلى السماء ليطلب بركة من فوققاصداً بهذا أيضاً ما هو لخيرنا.</p>
<p>لأنه هو نفسه الذي يملأ كل الأشياء إذ هو نفسه البركة التي تأتى من فوق من الآب، ولكي نتعلم نحن أننا حينما نبدأ في الأكل ونكسر الخبز فمن واجبنا أن نقدمه إلى الله واضعين إياه علي أيدينا الممدودة ونستنزل عليه بركة من فوق، ولذلك فقد صار هو سابقا لنا ومثالاً وقدوة في هذا الأمر.</p>
<p>ولكن ماذا كانت نتيجة المعجزة؟ إنها كانت إشباع جمع كبير وذلك بحسب ما أضافه واحد آخر من البشيرين القديسين إلى رواية المعجزة. والمعجزة لا تنتهي هنا إذ أنه جُمعت أيضنًا &#8221; اثنتا عشر قفة من الكسر &#8220;.</p>
<p>وما هو الذي نستنتجه من هذا؟ إنه تأكيد واضح أن كرم الضيافة ينال مكافأة جزيلة من الله، فالتلاميذ قدموا خمس خبزات، ولكنبعد أن تم إشباع جمع كبير هكذا، فقد جمع لكل واحد منهم قفة مملوءة من الكسر.</p>
<p>لذلك فلا يجب أن يكون هناك شيء يعوق أولئك الذين يريدون أن يستضيفوا الغرباء، مهما كان هناك ما يمكن أن يثلم إرادة واستعداد الناس لذلك. ولا يقول أحد &#8221; إني لا أملك الوسيلةالمناسبة، وما أستطيع أن أفعله هو تافه تمامًا لا يكفي كثيرين &#8220;.</p>
<p>يا أحبائي استضيفوا الغرباء، وتغلبوا على عدم الاستعداد الذي لا يربح أي مكافأة لأن المخلِّص سيضاعف القليل الذي لكم مرات أكثر من أي توقع ورغم أنك لا تعطي إلا لقليل فسوف تنال الكثير</p>
<p><a href="#_ftn5" name="_ftnref5">[5]</a>&#8221; لأن من يزرع بالبركات، فالبركات أيضًا يحصد &#8221; (٢كو ٩ : ٦) حسب كلمات بولس المبارك.</p>
<p></p>
<p></p>
<h3>عظات آباء وخدام معاصرين</h3>
<p></p>
<h4>المتنيح الأنبا صموئيل أسقف الخدمات</h4>
<p></p>
<p><strong>اشباع الجموع</strong></p>
<p>باسم الآب والابن والروح القدس إله واحد آمين سبحى یا نفسى الرب ولا تنسى جميع حسناته، جميع ما في باطني يبارك اسمه القدوس .</p>
<p>هلموا أيها الأعزاء لنتبع الرب يسوع إلى موضع خلاء مع الجموع ، لنتأمل معا صفات هذا الإله المحب والراعى المدبر والأب الحنون ، وفى وسط الطبيعة الجميلة التي تتحدث بعمل يديه ويشهد ابداعها بعظمة محبته لنا ، في هذا المشهد العجيب تتحرك مشاعر الأبوة معطية المثل الأعلى لمسئوليات القيادة والرعاية .</p>
<p>فكلمهم عن ملكوت الله والمحتاجون إلى الشفاء شفاهم ، ولكن حينما يتقدم العقل البشري فيطالب الأب بأن اصرف الجموع حتى يذهبوا ويبحثوا بأنفسهم عن طعامهم واحتياجاتهم ، حينئذ تظهر مواقف المسئولية التي لا تتخلى عن أبنائها وشعبها عندما يميل النهار وتقصر الوسائل فتصدر التعليمات ليلقن تلاميذه الذين سيصبحون قادة الكنيسة دروس القيادة ومبادى. الرعاية . أعطوهم أنتم ليأكلوا &#8211; إشعار بالمسئولية ثم درس في طريقة حل المشاكل : ليس عندنا أكثر من خمسة أرغفة وسمكتين  دراسة الامكانيات والاحتياجات والاحتمالات .</p>
<p>ثم قال : أجلسوهم فرقا خمسين خمسين، وهنا درس لضرورة التخطيط والتنظيم ، ولكن كل هذا وحده لا يحل المشكلة  فلابد أن يكمل هذا عمل النعمة الإلهية . فأخذ الامكانيات الموجودة والجموع المنظمة ورفع نظره نحو السماء وباركهن ثم كسر وأعطى التلاميذ ليقدموا للجمع فتمت المعجزة ببركة الله وقوته . فأكلوا وشبعوا . بهذا العمل الجبار رسم الرب يسوع المسيح لكنيسته مبادي. أساسية في الرعاية والقيادة : أولا : إن الكنيسة مسئولة عن إعطاء أبنائها الغذاء الروحي . فالانسان كائن يختلف</p>
<p>عن الحيوان بأن له روحاً خالدة هي التي تسمو به عن مجرد النوازع المادية والغرائز الحيوانية و تعلو به إلى مستويات الحب والتعاون والشعور بالمسئولية والمقدرة على الابداع الخلاق . إن الحوافز والدوافع الروحية قوى جبارة تدفع الانسان وتسيره نحو التقدم ، نحو البناء والتعمير . ولأن النفس خالدة فهي التي تولد الطموح واتساع الأفق ، والأمل والرجاء وهي العوامل التي نقشت عبر التاريخ تراث البشرية المجيد من حضارة وثقافة وأدب وابداع ، وهي التي ما زالت تدفع البشرية نحو التقدم والتحرر والبناء . فالقوى الروحية هي دعامة التقدم والسمو .</p>
<p>والكنيسة هي المدرسة التي تربى أبناءها بهذه القوى بتدعيم إيمانهم بالله وتأصيل الفضائل في نفوسهم حتى تكون منهم المواطن الصالح الذي يعرف مسئوليته نحو الله والوطن والمجتمع . المواطن الإيجابي الذي يحب الآخرين ويتعاون معهم بدون تفرقة أو تعصب أو تمييز، عالما أن كل البشر أبناء الله الواحد إخوة لا بد من تضافر جهودهم لبناء المجتمع المتماسك السعيد . وبذلك تكون الكنيسة دعامة أساسية في بناء المجتمع ، وهكذا نص الميثاق الوطني لجمهوريتنا العربية المتحدة : « إن القيم الروحية الخالدة النابعة من الأديان قادرة على هداية الانسان وإضاءة حياته بنور الإيمان ، وعلى منحه طاقات لا حدود لها من أجل الخير والحق والمحبة.</p>
<p>ثانيا : في درس إشباع الجموع علم الرب يسوع المسيح تلاميذه وكنيسته أن مسئوليتها لا تقتصر على تقديم الغذاء الروحي . ولأن البشر روح وجسد ، اهتم الآب والراعي باحتياجاتهم الجسدية أيضاً ، إذ شفي مرضاهم وأشبع بطونهم .</p>
<p>الكنيسة لا يمكن أن تقسم الانسان إلى قسمين : قسم روحي وقسم جسدي ، و تاخذ هي الناحية الروحية فقط ، فالانسان كل لا يتجزأ ، والكنيسة كأم مسئولة عن توفير أسباب السعادة والتكامل لأبنائها ، ليس معنى ذلك أن تتولى الكنيسة كل الخدمات اللازمة لأبنائها بنفسها فقط ، بل هي تشعر نحوهم أولا بالمسئولية وتبحث عن كل المصادر التي تهييء لأبنائها احتياجاتهم ، فتتعاون مع باقي الهيئات العامة والخاصة ، الحكومية والأهلية التي تخدم احتياجاتهم ، تأخذ من كل ما يقدمه ، و تعمل هي كأم على تكميل الباقي و تكامله . لذلك كانت الكنيسة دائما مركزاً للاشعاع تفكر في الجماهير واحتياجاتها ، ولها الشمامسة ( أى الخدام ) يقومون بالخدمات الاجتماعية ، تصلى من أجل غذاء الشعب . من أجل الزروع والعشب و نبات الحقل ، ومن أجل أهوية السماء وثمرات الأرض لكي يباركها الله</p>
<p>فتشبع الجميع . لذلك فالكنيسة تعاون و تصلى من أجل قادة الشعب الذين يحققون إرادة الله من أجل الشعب وغذائه ورفاهيته ،</p>
<p>ولر بنا المجد الدائم إلى الأبد آمين<a href="#_ftn6" name="_ftnref6">[6]</a> .</p>
<p></p>
<p></p>
<h4>المتنيح الانبا كيرلس مطران ميلانو</h4>
<p></p>
<p><strong>عتاب من رغيف</strong></p>
<p>أنا واحد من الخمسة أرغفة الذين باركهم المسيح .. وبنا أشبع الجموع .. وفاض عشرة قفة مملؤة .. ؟ ! أريد أن أتحدث معك .. قبل ان تضعني بين أسنانك .. وقبل أن تكورني بلسانك .. وتبتلعني وتهضمني .. أرجو أن تميل إلي بأذنك وتسمعني .. ؟ !</p>
<p>أنا واحد من الخمسة أرغفة .. دعني أحكي عن قصتي .. وعن خلق حبوبي .. وعن أشتياقاتي .. وعن مآساتي ؟!</p>
<p>قبل أن أصل بين يديك .. كنت حبة لنبتة صنعها الخالق .. ؟ ! كنت حبة ألقاها ورواها الزارع .. وعند نضوجي أخذني الحاصد .. إلى الطاحن .. إلى العجان .. إلى الفران .. إلى البائع .. إلى بين يديك .. ؟ !</p>
<p>أنا الرغيف .. وفي صناعتي تتلقفني الأيادي .. وفي شرائي يتصارع على الأحياء .. ويتفننون في تشكيلي وإخراجي ؟! جعلوني صغيراً وكبيراً .. وأبيضاً وأسمراً .. ومعدلاً . ؟ !</p>
<p>يوجد من يأكلني بلهفة لا توصف ؟! ويوجد من لا يجدني ويصرخ يطلبني ؟! يوجد من يحرم نفسه &#8221; ساعات صومه &#8221; ويعود إلى بشراهة أكثر من معدل أكله اليومي ؟!</p>
<p>يوجد من يمتنع عني ليس نسكاً .. ولا حباً في إطعام الصارخين .. إنما حفظاً على قوام جسده .. ورجيماً لنفسه .. ؟ !</p>
<p>في أصوامكم .. تمتنعون عني .. وفي مخازنكم تحجزونني .. وفي جوعكم تفرجون عني .. ؟ !</p>
<p>يوجد من يضعني بين أسنانه .. ويداه تحاصرني وتمتلكني .. والعجيب عيناه تنظران إلى وأنا في فم المحتاج والمسكين ؟!</p>
<p>أنا الرغيف .. علي صراع .. حولي نزاع .. الكل يطلبني .. حتي ولو كان نزيهاً في طلبي؟!</p>
<p>بعدما تكلم الرغيف عما يحدث له .. سمعته يصرخ قائلاً .. &#8221; أنا جائع .. من يسد جوعي &#8221; ؟ !</p>
<p>وقفت متحيراً وقلت .. إذا كان الرغيف جائعاً .. فكيف يكون حال الجائع الذي يأكل خبزه بعرق جبينه .. ؟ !</p>
<p>أشتقت أن أعرف كيف يجوع الرغيف ؟! وإلى ماذا ؟! فمن يخبرني ؟! قلت قد تكون هناك اشتياقات في رغيف الخبز ؟! ولانها لم تتم أصبحت مأساة يعاني منها ؟! أنتظرت .. وسمعت كيف يعبر الرغيف عن مآساته ؟!</p>
<p>قال .. أنا الرغيف .. أنا من حبوب الخالق .. ومن تصنيع البشر ؟! ليس لي يدان ورجلان ؟ ! كل حركتي بأيادي الناس ؟! وبهم يتم انتقالي من مكان لآخر ؟! وبهم أطير في الأعالي على متن الطائرات ؟! وأدخل إلى السجون والزنزانات ؟! وأرقد في المستشفيات ؟! وأجلس على أعظم الموائد وأتربع على أبسطتها .. أنا صديق الأطفال في مدارسهم ؟!</p>
<p>اشتياقاتي .. أريد أن أذهب إلى الفقراء .. والمحتاجين ؟! ومأساتي ليس لي أرجل وأياد أزحف بها ؟! ولا أجنحة أحلق بعيداً لأطعم الصارخين ؟!</p>
<p>أنا غني وعاجز .. من يجمعني وأنا في الطريق إلى القمامة ؟!</p>
<p>من يتلقفني وأنا هابط من الطائرات ؟!</p>
<p>من يجمع الكسر من على موائد المؤتمرات والندوات التي تقام من أجل المحبة والرحمة والوحدة .. ؟ ! أنا غني وعاجز .. من يسد جوعي في أطعام الجائعين ؟!</p>
<p>أفرح بالأصوام .. لإني أظن كل من يصوم يلتقي بي .. يلتقي باشتياقاتي فيخرج معي بعيداً عن دائرة نفسه .. ويشعر باحتياجات غيره .. ؟ !</p>
<p>أفرح بالأصوام .. لأني أظن كل من يصوم يخرج عن بخله .. وعن أنانيته .. فلا يكتفي أن يكسر خبزه للجائع .. بل يجوع لكي يطعمه ؟!</p>
<p>لي عتاب معكم قال الرغيف ؟! أنتم تأكلون الخبز من أجل أجسادكم .. لكن متى يتحول الخبز في أجسادكم إلى فكر مشبع بالأحساس بالغير ؟!</p>
<p>أنا رغيف وطعامي بائد .. لكنه يتحول إلى طعام باق للحياة الأبدية إذا تغذيتم بأحاسيس المسيح للجائع .. والفقير .. والعريان .. والغريب .. وشبعتم بقوله &#8221; من يفعل بأحد هؤلاء الأصاغر .. فبي فعل &#8221; (مت ٢٥ : ٤) .</p>
<p>أنا رغيف وطعامي بائد .. متى يتحول الرغيف إلى دم يغذي النظر ويصحح مساره ؟! فتنظرون إلى احتياجات الآخرين بدلاً من أخطائهم ؟!</p>
<p>مأساتي .. أنك تأخذني رغيفا لنفسك .. ولا تنقلني لغيرك المحتاج العاجز ..</p>
<p>واشتياقاتي .. عندما تكسرني بين يديك أرجو أن تنظر إلى الله الذي أحبك .. وصنع لك الخيرات .. وتذكر أنني من حبة صغيرة صنعها الخالق معجونة بقطرة مياه من قبضة يده .. وعليها عرق جبين أخيك .. فقدم شكرك الله بإحساسك بصراخ من حولك ؟<a href="#_ftn7" name="_ftnref7">[7]</a></p>
<p></p>
<p></p>
<h4>عظة للمتنيح القمص لوقاسيداروس</h4>
<p></p>
<p><strong>الخمس خبزات</strong></p>
<p>اننى أتمثل أمامى الخبزات الخمس &#8230; خبزات شعير صغيرة &#8230; يحملها صبى صغير في منديل حقير &#8230; وأتأملها والتلاميذ يحملونها ويضعونها أمام الرب يسوع .. إننى أتمثل هذه الخبزة وهى تقول للرب : ربى يسوع &#8230; كم أنا تافهه وصغيرة &#8230; أنا خبزة شعير &#8230; أنا يا سيدى لا أنفع شيئاً &#8230; الجوع حولى بلا عدد &#8230; آلاف كثيرة جوعانة &#8230; لهم ٣ أيام صائمين &#8230; يكادنا يخوروا في الطريق من الجوع ولكن من أنا يا سيدى لمثل هؤلاء الناس ؟ إننى لا أستطيع أن أشبع واحداً فقط . إننى لو وزعت نفسى على الجموع سأصير فتاتاً بلا قيمة وسأسقط على الأرض مثل التراب &#8230; إن إمكانياتى محدودة جداً ، أنا عاجزة عن أن أشبع الناس &#8230; أنا مصرورة  في منديل في حيز ضيق وفى يد صبى صغير &#8230; أمسكنى تلاميذك ورثوا لحالى &#8230; وقالوا لك يارب اصرف الجموع إلى القرى المحيطة والحقول ليجدوا ما يأكلونه &#8230; ليس لى اعتبار ولا وجود في أعين الناس بدونك . إن هذا الجمع الذى حولى لا يكفيه خبز بمئتى دينار ليأخذ كل واحد منهم شيئاً يسيراً . وأنا لا أساوى شيء بذاتى وليس لى ثمن بمفردى . ولكن صوت يسوع ينادى قائلاً : &#8221; ائتونى بها إلى هنا &#8221; انه يطلب بنفسه &#8230; وهنا تقدم الخبزة ذاتها بفرح ليد الرب قائلاً : استلم يارب ذاتى &#8230; حقيقة إنى تافهة وحقيرة ولكننى لست كذلك حينما أكون بين يديك . أنا بين يديك مباركة ومقدسة ونافعة للخدمة وقادرة على الأشباع وعلى أن يفضل منى أيضاً استلم يارب خبزك شعيرى وأنا خاضعة ومطيعة &#8230; أقدم لك مشورة حريتى &#8230; اقسمنى وأنا راخية &#8230; اجعلنى كسراً وأنا مسرورة لأنى بين يديك ، وزعنى على من تشاء ليحملنى تلاميذك إلى كل يد وإلى وكل فم &#8230; أنا لك يارب . أنا خبز الله &#8230; وحينما حملنى على يديه نظر إلى السماء وبارك &#8230; يا للنعمة التي شملتنى وأى شرف عظيم مثل هذا &#8230; انه يقدمنى للآب تماماً مثل الذبيحة التي كانت تردد أمام الله ترديداً لا يوجد كسر للخبز في يدى يسوع بهذه النظرة نحو السماء . وهذه البركة التي لا يعرفها إلا الذين استودعوا حياتهم بين يدى الرب فبارك عليهم وأشبع بهم جموع كثيرة &#8230; هكذا صنع الرب بالتلاميذ في يوم صعوده إلى السماء أخرجهم خارجاً إلى بيت عنيا ورفع يديه وباركهم تماماً مثل الخبزات وأشبع ليس خمسة آلاف فحسب بل العالم كله &#8230; ربى يسوع كلما أقرأ إنجيل أشباع الجموع وحاجتك إلى الخمس خبزات الشعير رغم إنها صغيرة وغير كافية لشئ &#8230; وكلما تبدوا الجموع أمامى جائعة إلى كسرة الخبز &#8230; اشتهى أن أكون خبزة بين يديك ، اشتهى البذل والتضحية . ولكن كثيراً ما أعتذر البعض عن الخدمة بسبب الصغر مثل أرميا ، أو بسبب ثقل اللسان مثل موسى . ولكن ما هي إمكانيات الإنسان بدون يديك يارب &#8230; أن القليل الذى في يد الرب يتحول إلى خير كثير كما أن القليل الذى في يد الصديق أفضل من ثروة أشرار كثيرين . فكم وكم إذاً وضعت إمكانياتى مهما كانت صغيرة بين يديك .</p>
<p><strong>سر البركةً</strong></p>
<p>الآن علمت أن سر البركة كائن في كسر الذات مثل الخبز &#8230; أن خدمتى ستظل صغيرة محبوسة طالما هي مصرورة في منديل أنانيتى إلى أن أوضع بين يدى يسوع &#8230; بحياة التسليم الكامل للوصية &#8230; وأكون مستعداً دائماً لبذل ذاتى من أجل أخوتى في برية هذا العالم &#8230; هنا تصير البركة في حياتى وتنتهى إلى الأبد محبتى لذاتى ، وتنكسر أنانيتى وتصير حياتى فعلاً خبزاً مكسوراً للجياع والمحرومين والمتألمين والمتضايقين &#8230; ولكن طالما أعيش لذاتى بعيداً يدى الله فلن أتمتع بهذه البركة الحقيقة. إن معجزة الخمس خبزات كشفت لنا مقدماً عن سر العشاء الأخير وسر الخبز الذى أخذه الرب على يديه الطاهرتين وباركه وقسمه وأعطى التلاميذ قائلاً : &#8221; خذوا كلوا هذا هو جسدى المكسور &#8230;. &#8221; ولكن في هذه المرة يسوع يعطى نفسه ويوزع جسدة المكسور . &#8221; الخبز الذى نكسره أليس هو شركة جسد المسيح &#8221; &#8230; هذا هو خبزنا الذى نتناوله بشكر من يد الرب على المذبح ونشبع به في برية هذا العالم .</p>
<p><strong>أكلوا وشبعوا</strong></p>
<p>أكل جميعهم وشبعوا ثم رفعوا ما فضل من الكسر اثنتى عشر قفة مملوءة . فالنعمة دائماً تفيض حتى بعد الشبع &#8230; خبز الحياة ليس خبز الكفاف ، ولكنه خبز الشبع والفيض &#8230; قال الرب للمرأة السامرية عن مياه الروح القدس : &#8221; أنها تفيض من البطن أنهار ماء حى &#8221; . ولكن الكسر ملأت أيضاً أثنتى عشر قفه &#8230; كل عمل النعمة لابد أن يكون إلى الملء .</p>
<p>هناك نفوس تنتظر الكسر التي تفضل عن الذين يشبعون توجد نفوس يفضل عنها الخبز ، ونفوس تكاد تهلك جوعاً &#8230; إذن أجمعوا الكسر &#8230; وابحثوا عن النفوس التي تطلبها . يا للإيمان المدهش الذى للمرأة الكنعانية &#8230; إنها تسأل بإلحاح عن الفتات . ويا لتوبة الإبن الضال عندما افتكر في فضلات الخبز قائلاً : &#8221; كم من أجير عند أبى يفضل عنه الخبز وأنا أهلك جوعاً &#8221; .</p>
<p><strong>اجمعوا الكسر</strong></p>
<p>قال الرب للتلاميذ &#8221; اجمعوا الكسر &#8230; &#8221; فالخبز المكسورغالى جداً في عينى الرب كل كسرة صغيرة حتى الفتات له قيمة &#8230; لا يسقط منها شيء فهى محفوظة بأمره وكلمته &#8230; هذا ما يعزى النفس جداً عندما تسلم نفسها لتكسر وتوزع وتخدم وتبذل من أجل الله .</p>
<p><strong>النفوس التي أسلمت ذاتها للرب لا يمكن أن يفقد منها شيء </strong></p>
<p>&#8221; الذين أعطيتنى لم يهلك منهم أحد &#8221; إن دموعنا وآلامنا وجهادنا في إنكار الذات ومحبتنا للآخرين &#8230; هذه الكسر لا تضيع أبداً ، بل بأمر الرب وملائكته الأطهار ، قال : &#8221; اجمعوا الكسر &#8230;. &#8221; لقد قال داود النبى للرب : &#8221; أجعل دموعى في زق عندك &#8221; . أخيراً لما رأى الناس الآيه &#8230; قالوا : هذا هو بالحقيقة النبى الآتى إلى العالم ، إذن ينبغي أن تكون شهادة المسيح هي محور أعمالنا &#8230; فإن كان كسر الخبز هو عمل المحبة أو مشاركة الآخرين إو البذل أو الخدمة أو إنكار الذات أو الإتضاع فلتكن غايتنا أن يستعلن المسيح ويظهر بمجده أمام الآخرين<a href="#_ftn8" name="_ftnref8">[8]</a></p>
<p></p>
<p></p>
<h4>المتنيح القمص تادرس البراموسي</h4>
<p></p>
<p>الأحد الثانى من شهر أمشير المبارك</p>
<p><strong>أجمعوا الكسر الفاضلة لكى لا يضيع منها شيء ( يو ٦ – ٥ – ١٤ )</strong></p>
<p>عند كسر الخبز وتقديم الخمس خبزات للجموع المحتشدة حوله نظر إلى السماء فكسر وبارك ليعلمنا بذلك أننا أذا أكلنا نشكر الله واهب القوت . وصلى لكى لا يقول عنه الحاضرون إنه يعظم نفسه أن لم يطلب من الأب فيجدفون عليه كما جدف آبائهم في البرية لما أكلوا المن النازل من السماء . لأجل ذلك شكر الآب وبارك . ثم إنه لم يكن محتاجاً إلى رفع نظره إلى السماء . وذلك حين تطهيره للبرص وشفائه للمجانين وفتح أعين العميان وإخراجه الشياطين كل هذه بسلطانه وحده أن الرب يسوع بتدبيره الألهى أمر تلاميذه أن يجمعوا الكسر الفاضله بعد أن أكل الخمس آلاف وشبعوا . وكان من جملة التلاميذ الذين جمعوا الكسر وحملوها . تلميذه الخائن يهوذا الذى أسلمه لكى لا يظن الحاضرون أن الأعجوبة خيالية صنعت لخداع الناس. لكن إذا رأوا الفضلات يظنوا أنها تكفى ليوم ويومين الكسر التي فضلت ورآها الجميع ومجدوا الله على هذه النعم التي لم يروها من قبل نظر الشعب مذهولاً ومتعجب أثنتى عشر قفة مملؤه من خمس خبزات والآكلين خمسة آلاف دون النساء والأطفال . رأى الشعب الكسر الفاضلة أمام الرب يسوع وأمام الجموع والتلاميذ شهود وكثيرون ولم يكن فيها رغيف واحد صحيح مما يجعل الكل يؤمن أنها معجزة بكل المقاييس ومن كثرت تعجب الشعب أرادوا أن يقيموا يسوع ملكاً عليهم لأنه أشبعهم بدون تعب . أن الرب يسوع بانفراد في الجبل عن أعين الناس للصلاة يعلمنا ان نبعد عن المجد الباطل . وتعظيم الناس لنا وليتعلم بذلك رعاة الكنيسة وخدامها أنهم يحتاجون إلى الاختلاء من وقت لأخر للخلوة والامتلاء . ولكى يعلمنا أننا لو أردنا مناجاة البارى تبارك اسمه يجب علينا البعد عن الضوضاء . وما أجمل أن يختلى الإنسان في البرية كما فعل الرب يسوع له المجد وتلاميذه للاختلاء والتعزية لأن البرية سبب تعزية للجميع حتى في العهد القديم كان الأنبياء يمضون إلى البرية موسى إيليا وأليشع ويوحنا المعمدان حتى الرب مضى إلى البرية ليس للامتلاء كما فعل هؤلاء بل كما قال الكتاب لكى يجرب من إبليس. ولما جاع أخفى لاهوته على إبليس فجاء إليه لكى يجربه فما أعظم من أن نمضي إلى البرية شرط أن نترك هموم العالم وراء ظهورنا كى نحصل على الامتلاء والتعزية لكن أن ذهبنا بهمومنا نحرم من البركات وننشغل بالعالميات وتبعد عنا التعزيات</p>
<p></p>
<p><strong>العظة الأولى</strong></p>
<p>أ – عينى الرب على جميع بنى البشر</p>
<p>ب – أب حنون وأله رحوم</p>
<p>ج – العلم الألهى وأمتحان الأيمان</p>
<p>د – التفكير البشري المحدود</p>
<p>ه &#8211; بصيص الأمل والتعلق بالرجاء</p>
<p>و – أمر الخالق والقول الواثق</p>
<p>ذ – حب النظام وعظيم الأهتمام</p>
<p>ح – فيه شبع وسرور وفى يمينه نعم تدوم</p>
<p>ط – بركة السماء واحتياج البشر</p>
<p>ى – الاهتمام بجمع الكسر والاحتفاظ بالنعمة</p>
<p></p>
<p><strong>العظة الثانية</strong></p>
<p>أ – أطلبوا ما فوق النعمة تفوق</p>
<p>ب – الجمع كثير والخبز وفير</p>
<p>ج – سؤال الرب والحب من القلب</p>
<p>د – تقدير البشر والفكر القاصر</p>
<p>ه &#8211; شيء يسير العدد الكبير</p>
<p>و – شكر القدير والبركات السمائية</p>
<p>ذ – تنظيم الصفوف وإشباع الألوف</p>
<p>ح – الأهتمام بالقليل وجمع ما زاد</p>
<p>ط – يركة المحبوب وأيمان الشعوب</p>
<p>ى – تبارك الإله المعطى بسخاء</p>
<p></p>
<p><strong>العظة الثالثة</strong></p>
<p>أ – يسوع وإقبال الجموع</p>
<p>ب – الاهتمام بالشعب الجائع</p>
<p>ج – امتحان الإيمان وعمل الديان</p>
<p>د – خمسة أرغفة شعير للجمع الغفير</p>
<p>ه &#8211; حب النظام ونظافة المكان</p>
<p>و – توزيع الخدمات وادراك البركات</p>
<p>ذ – جمع الفضلات وأثبات المعجزات</p>
<p>ح – أتباع الجموع وبركات الرب يسوع</p>
<p>ط – غذاء القلوب وأيمان الشعوب</p>
<p>ى – تمجيد الإله والشكر على عطاياه<a href="#_ftn9" name="_ftnref9">[9]</a></p>
<p></p>
<p></p>
<h4>المتنيح الدكتور ثروت باسيلي</h4>
<p></p>
<p><strong> العشور وبركاتها في حياتنا</strong></p>
<p>العشور هي نوع من أنواع التقدمات أو القرابين التي يقدمها الإنسان لله مثل الباكورات (البكور) والنذور وهي ذبائح شكر يقدمها الإنسان بفرح ويقبلها الله بالبركة.</p>
<p>وسوف نتحدث عن العشور من منطلق اختبار شخصي واختبارات أخرى لأناس تتمسك بالوصية وتعيش بها لأنها تعتبرها دستورا للمسيحية، فالوصية تعني أنها ضرورية التنفيذ وليست اختيارا يحتمل التطبيق أو عدمه.</p>
<p>وعندما عاش هؤلاء الناس الوصية اختبروا نتائجها وثمارها عندما تطبق بالروح والحق والتسليم.</p>
<p>كما يأتي الحديث عن العشور أو الصدقة من منطلق كتابي من خلال تتبع روح الوصية كما جاءت في العهدين القديم والجديد.  وصية العشور (التقدمة) في العهد القديم:</p>
<p>عرف قايين وهابيل ضرورة تقديم قربان الله من عمل يدين كل منهما فقدم هابيل من أبكار غنمه وقبل الرب قربانه، وقدم قايين من أثمار الأرض قرباناً للرب ولكن لم ينظر الرب لقربانه حيث كانت هناك خطية رابضة في قلبه (تك ٤ : ٣ &#8211; ٥).</p>
<p>ويأتي لقاء إبراهيم مع ملكي صادق ملك ساليم الذي أخرج خبزاً وخمراً وكان كاهنا لله العلى وبارك إبراهيم وكانت هذه هي المرة الوحيدة التي يذكر فيها تقديم الخبز والخمر من كاهن في العهد القديم حيث كانت تقدمات الكهنة من الذبائح الحيوانية. وبعد ذلك أعطى إبراهيم لملكي صادق عشرا من كل شئ (تك ١٨:١٤-۲۰). وقد فسر بولس الرسول في رسالة العبرانيين معنى هذه التقدمة: &#8220;لأن ملكي صادق هذا ملك ساليم كاهن الله العلي الذي استقبل إبراهيم راجعا من كسرة الملوك وباركه الذي قسم له إبراهيم عشرا من كل شئ …هو مشبه بابن الله &#8230;&#8221; (عب ٧: ١-٣).</p>
<p>أي أن كهنوت ملكي صادق هو رمز لكهنوت السيد المسيح الذي جاء ليحل محل كهنوت بني لاوي (أولاد إبراهيم) الذين لهم وصية أن يعشروا من الشعب والذين كانوا في صلب إبراهيم عندما خضع لملكي صادق وباركه وقدم له إبراهيم العشر من كل شئ. واستمر يعقوب في تقديم العشور عندما نذرها له إذا رجع إلى بيت أبيه بسلام وهذا الحجر الذي أسسته عمودا يكون بيت الله وكل ما تعطيني اني اعشره لك (تك ٢٢:٢٨).</p>
<p>وعند خروج بني إسرائيل من أرض مصر طلب الرب من عند دخولهم أرض الكنعانيين أن يقدموا للرب كل فاتح رحم وكل بكر من نتائج البهائم وكل بكر إنسان يقدم فدية عنه (خر ۱۳-۱۲:۱۳).</p>
<p>ويعود الرب ليذكر شعبه بوصاياه في( تث ١٤:۲۲-٢٣) &#8220;تعشيرا تعشر كل محصول زرعك الذي يخرج من الحقل سنة بسنة&#8230; لكي تتعلم أن تنتقي الرب إلهك كل الأيام&#8221; .</p>
<p>وتستمر أسفار العهد القديم في ذكر وصية التقدمة والصدقة والعطف على الفقير والمسكين والمريض حتى الأصحاح الثالث من سفر ملاخي آخر أسفار العهد القديم حيث يقول الله على لسان النبي : فإنكم سلبتمونى .. فقلتم بم سلبناك .. في العشور والتقدمة. قد لعنتم لعنا واياي انتم ساليون هذه الأمة كلها .هاتوا جميع العشور إلى الخزنة ليكون في بيتي طعام وجربوني بهذا قال رب الجنود ان كنت لا افتح لكم كوي السموات وأفيض عليكم بركة حتى لا توسع&#8230;&#8221; (ملا٣: ٨-١٠) هذه التقدمة هي حق الله إذا امتنع عن تقديمه الإنسان فإنه يسلب الله حقه وتكون اللعنة هي نصيبه.</p>
<p>هنا وفي هذا الموقف وحده وهذه الوصية فقط يسمح الله للإنسان بأن يجربه عندما يعطي عشوره ويختبر صدق مواعيد الله له بمباركة ما لديه وغمره لعطايا السموات التي لا حصر لها.</p>
<p><strong> الوصية في العهد الجديد :</strong></p>
<p>وقد يعترض البعض قائلا إنه قد انتهى عهد الوصايا والشريعة والناموس وجاء العهد الجديد بلا فرائض لأنه عهد النعمة والبر بالإيمان. وهو كذلك فعلا ولكن تجاوز السيد المسيح حرف الوصية وارتفع بالروح بالتقدمة ليتجاوز العشور كحد أدنى للعطاء إلى عطاء النفس والذات والعطاء من احتياجات النفس الخاصة كما امتدح السيد المسيح عطاء فلسي الأرملة التي أعطت من احتياجاتها في الهيكل.</p>
<p>جاء العهد الجديد ليكمل عمل الناموس في السمو بروح العطاء عند الإنسان فيصبح شعور من يعطي الصدقة كمن يأخذ من يد الله. وفيما يخص العشور لم ينقض السيد المسيح هذه الوصية بل قال: &#8221; ان لم يزد بركم على الكتبة والفريسيين لن تدخلوا ملكوت السموات&#8221; (مت ٢٠:٥) وتقدمت وصية الصدقة في الموعظة على الجبل على وصية الصلاة والصوم ومن المؤكد أن السيد المسيح يقصد بهذا الترتيب التأكيد على أهمية الصدقة التي وضعها القديس متى الرسول في بداية الأصحاح السادس وعاد إليها ليؤكد أن الصدقة هي كنز في السماء حيث لا يفسد سوس ولا صدا، &#8221; لأنه حيث يكون كنزك هناك يكون قلبك أيضا&#8221; (مت ٦: ٢١). والصدقة ليست مجرد كنز في السماء بل السبب وراء إرث الملكوت المعد لنا منذ تأسيس العالم كقول السيد المسيح نفسه: &#8220;تعالوا يا مباركي أبي رثوا الملكوت المعد لكم منذ تأسيس العالم لأني جعت فأطعمتموني عطشت فسقيتموني كنت غريباً فأويتموني عريانا فكسوتموني مريضا فزرتموني محبوسا فأتيتم إلي&#8230; الحق أقول لكم بما أنكم فعلتموه باحد إخوتي هؤلاء الأصاغر فبي فعلتم.&#8221; (مت ٣٤:٢٥-٤٠) .</p>
<p>لقد تجاوز العطاء العشور إلى بيع كل المال وإعطائه للفقراء كما أجاب يسوع الشاب الذي سأله&#8221; ماذا أعمل لأرث الحياة الأبدية؛ فنظر إليه يسوع وأحبه وقال له يعوزك شئ واحد اذهب بع كل مالك واعط الفقراء فيكون لك كنز في السماء وتعالى اتبعني حاملا الصليب (مر ۲۱:۱۰) .</p>
<p>وهكذا كانت إجابة يوحنا المعمدان على أسئلة الكثيرين ماذا نفعل لكي نتوب وترجع إلى الله ونصل إلى الملكوت؟ فيقول لهم : من له ثوبان فليعط من ليس له ومن له طعام فليفعل هكذا (لو ۱۱،۱۰:۳)، كما كانت وصية السيد المسيح للجموع: وكل من سألك فأعطه ومن أخذ الذي لك فلا تطالبه&#8221; (لو ٦: ٣٠).. لقد أحب الأنبا ابرام هذه الوصية جداً وعمل بها طوال حياته فكان يقدم ماله لكل من يسأله ولا يرفض سؤال أحد.</p>
<p>كانت الصدقة سبباً في خلاص كرنيليوس الذي لم يكن يهوديا ولكن ملاك الله خاطبه قائلا : &#8220;صلواتك وصدقاتك صعدت تذكاراً أمام الله (أع٤:١٠) وأخبره كيف يصل إلى بطرس ليعتمد ويأخذ الروح القدس.</p>
<p>وتمضي روح الوصية في رسائل بولس الرسول وبطرس ويعقوب ويوحنا لتضع الاهتمام بالفقراء أولاً وثانياً وثالثاً حتى ثامناً ثم تأتي الاهتمامات الأخرى للكنيسة من نشاطات اجتماعية وغيرها من إقامة مبان ومنشآت..</p>
<p>هذا العطاء يقدم في الخفاء &#8220;فلا تعرف شمالك ما تفعل يمينك&#8221; (مت٦: ٣).</p>
<p>هذا العطاء يقدم بروح السرور والبركة: &#8221; هذا وإن من يزرع بالشح فبالشح أيضاً يحصد ومن يزرع بالبركات فبالبركات أيضا يحصد كل واحد كما ينوي بقلبه ليس عن حزن أو اضطرار لأن المعط المسرور يحبه الله (۲کو٩: ٦، ٧).</p>
<p>هذا العطاء يقدم بروح الانسحاق والخشوع ولسان حاله يقول &#8221; لأن منك الجميع و من يدك أعطيناك &#8221; (أي ١٤:٢٩)هذا العطاء يقدم بدون حساب ودون حدود حينئذ تصير كل الوصايا سهلة وهينة الحمل.</p>
<p>قد يسأل البعض : الله غني لا يحتاج مني شيئاً فكيف يطلب منا وهو الذي يملك الكل؟؟</p>
<p>لقد عرفت الإجابة حينما كان يجلس أحد أحفادي على قدمي وكنت أطعمه شيئاً يحبه فإذ به يضع إحداها في فمي ففرحت بما أعطاني ووهبته كل ما لدي مما يحبه. هكذا الله الآب يطلب منا التعبير عن حبنا له كما عبر هذا الطفل ذو العامين من عمره.</p>
<p><strong> بركات الصدقة :</strong></p>
<p>-اختبار الطاعة للوصية والاعتراف بفضل الله علينا الذي يمتد من العطايا المادية الي العطايا البشرية متمثلة في اولادنا الذين ليسوا ملكاً لنا بل ملكاً لله،كذلك المواهب الروحية هي عطية من الله وإذا شعر الإنسان انها موهبة شخصية انسحبت منه.</p>
<p>الإيمان ببركة الله وصدق مواعيده في مباركة ما في أيدينا بعد تقديم العشور، الإيمان بأن التسعة ببركة الرب أكبر وأكثر من العشرة بدون بركة الرب.</p>
<p>قال المتنيح أبونا صليب سوريال: إن الذي لا يستطيع في صغره تقديم ۱۰ قروش من الجنيه لا يستطيع تقديم الجنيه من العشرة ولا العشرة من المائة ولا المائة من الألف&#8230;.</p>
<p>التراحم والتعاطف بين أبناء الله والشعور بالمحبة لا بالكلام واللسان بل بالعمل والحق. لقد عدد الله البركات لمن يتعطف على المسكين حيث ينجيه الرب في يوم الشر ويحفظه ويحييه ويفرح في الأرض ولا يسلمه إلى أعدائه ويعضده على سرير مرضه (مز ٤١: ١-٣).</p>
<p>قد يعمل بعض الأشخاص بجهد كبير ورغم ذلك يكاد الناتج لا يكفي ولا يفي باحتياجاتهم، وقد يعمل الآخرون بجهد أقل ويفيض ما يحصلون عليه عن احتياجاتهم والسبب وراء هذا وذاك انعدام بركة الرب أو وجودها&#8230; أخيراً يا إخوتي أقول إن العشور لا تغفر الخطايا ولا تخلص ولا توصل إلى الملكوت بدون الوصايا الأخرى ودون إعطاء كل القلب وتقديم الذات للرب إلهنا. تعليق المجلة :</p>
<p>هذه العظة و إن كانت غير حديثة لكنها تعتبر عظة كل يوم فالمجلة تنشرها لما تتميز به من شمولية واختبار شخصي ومعايشة للواقع. فالشمولية تظهر في تناول الموضوع من خلال العهد القديم والجديد ومن حيث تناول الهدف من العشور ومعناه وبركاته وكيفية القيام به وكذلك شمولية الرؤية للحياة الروحية التي لا تقوم على عنصر واحد. أما الاختبار الشخصي فيظهر من خلال الحياة العملية بالوصية وظهور البركات والثمار الفعلية في الواقع من حيث النجاح عملياً وروحيا. كذلك معايشة الواقع والرد عليه حيث يرفض المجتمع الرأسمالي السائد على العالم اليوم إعطاء مكانة للأضعف والأفقر، ومن هذا المنطلق تختلف الاتجاهات حول السبيل إلى تنفيذ وصية الصدقة والرحمة بالفقراء حيث يرى البعض فيها أنها تسبب تواكل هؤلاء الفقراء واعتمادهم المستمر على الآخرين وعدم محاولتهم الارتقاء بأنفسهم. وقد يستمر الجدل بعرض الحجج من كلا الجانبين المؤيد والمعارض ولكن تبقى وصية السيد المسيح أوضح وأقوى حجة لتعريف السبيل إلى ملكوت السموات بإطعام الفقير وإيواء الغريب وكسوة العريان&#8230; ويبقى الاختبار الشخصي دليل دامغ على صدق مواعيد الله<a href="#_ftn10" name="_ftnref10">[10]</a>.</p>
<p></p>
<p></p>
<h3>من وحي قراءات اليوم</h3>
<p></p>
<p><strong>&#8221; إجمعوا الكسر الفاضلة لكي لا يضيع شئ &#8221; (يو ١٢:٦)</strong></p>
<p></p>
<p><strong>لايوجد عند الله سلة مهملات</strong></p>
<p>دعا الله موسي وقت كسر العمر (٨٠سنة ) ليقود إثنين مليون شخص الوقت الذي كتب فيه مزمور ٩٠ معتقدا نهاية حياته في سن الثمانين ورغم محاولته الإعتذار بحجه أنه مثل الكسر</p>
<p>الخبز الذي أشبع الجموع صار كسرا مهملا من البشر إلا عناية الرب الذي طلب منهم جمعه لذلك الكسر في يد المسيح يصير مصدرا للشبع والخبز الكثير دون شكر ودون حضوره الإلهي يفضح جوع النفس وفقرها</p>
<p>تقدم العمر هو الكسر الذي لايستنكف الله من إستخدامه لإشباع آخرين ومانظنه كسر فينا أو في الآخرين يشبع به الله نفوسا كثيرة هيلين كيلر الصماء البكماء العمياء هي الكسر الذي  صار مجدا وتألقا بمحبة آنا سيلفانا مدرستها فهل عندنا مثيلاتها ؟</p>
<p>الكسر هم معاقين الجسد الذين لايجدون من يجمعهم من معاقين الحب ، والكسر هم أصحاب المواهب البسيطة الذين لايذكرهم أحد وقت تكريم الكبار &#8221; فضالتهم لإعوازكم &#8221;  (٢ كو ٨ : ١٤) آية تُعْلِن إلي أي حد قيمة الفضلات والكسر فقد كان كسر الكنائس الكبيرة يكفي الكنائس المحدودة ماديا لذلك بينما كان أجدادنا قديما يقبلون الكسر نجد أولادنا يتذمرون علي الفيض</p>
<p>&#8221; معطيا الناقص كرامة أفضل &#8221; توبيخ من القديس بولس لنا في تعاملاتنا مع من نظن أنهم ناقصين لذلك كرامة الناقص في الكنيسة إعلان عن كمال وجمال جسد المسيح</p>
<p>قبلت المرأة الكنعانية الفتات الساقط فأغتنت أكثر ممن كان عندهم خبز البنين</p>
<p>استخدام الله لجهال العالم وفقراؤه والمزدري وغير الموجود يعلن قيمة الكسر لذلك طوبي لمن يضع حياته وإمكانياته ومواهبه في قلتها وضعفها في يد من يملأ بفيض مستخدما الكسر.</p>
<p></p>
<p></p>
<p></p>
<h3>المراجع:</h3>
<p></p>
<p><a href="#_ftnref1" name="_ftn1"></a>١- القديس كيرلس الكبير &#8211; تفسير إنجيل يوحنا الإصحاح السادس &#8211; القمص تادرس يعقوب ملطي</p>
<p><a href="#_ftnref2" name="_ftn2"></a>٢- هيلاري أسقف آرل &#8211; تفسير رسالة يوحنا الرسول الثانية &#8211; القمص تادرس يعقوب ملطي</p>
<p><a href="#_ftnref3" name="_ftn3"></a>٣- ابونا أنطونيوس فكري &#8211; تفسير إنجيل يوحنا الإصحاح السادس</p>
<p><a href="#_ftnref4" name="_ftn4"></a>٤- ترجمة الأخت إيفيت منير &#8211; كنيسة مار مرقس ببني سويف</p>
<p>Elowsky, J.C. &amp; Oden, T.C. (2006). John 1 &#8211; 10 (The Ancient Christian Commentary on Scripture, New Testament part IVa). Illinois (U.S.A): InterVarsity Press. Page 209</p>
<p><a href="#_ftnref5" name="_ftn5"></a>٥- المرجع : تفسير إنجيل لوقا ( الإصحاح التاسع ) للقديس كيرلس الإسكندري &#8211; ترجمة دكتور نصحي عبد الشهيد</p>
<p><a href="#_ftnref6" name="_ftn6"></a>٦- المرجع : مجلة مدارس الأحد &#8211; عدد سبتمبر لسنة ١٩٦٥</p>
<p><a href="#_ftnref7" name="_ftn7"></a>٧- المرجع : كتاب شفتاك يا عروس تقطران شهداً &#8211; الجزء الثالث ( صفحة ١٠٩ &#8211; ١١١ ) &#8211; دير الأنبا شنودة العامر بميلانو</p>
<p><a href="#_ftnref8" name="_ftn8"></a>٨- المرجع : كتاب تاملات روحية في قراءات اناجيل احاد السنة القبطية صفحة 215 – كنيسة مارجرجس باسبورتنج</p>
<p><a href="#_ftnref9" name="_ftn9"></a>٩- المرجع : كتاب تاملات وعناصر روحية في احاد وايام السنة التوتية صفحة 72 – اعداد القمص تادرس البراموسي</p>
<p><a href="#_ftnref10" name="_ftn10"></a>١٠- المرجع : مجلة مدارس الأحد &#8211; عدد فبراير لسنة ٢٠٠٧</p>
<p></p>
<p></p>

      {% endcreateArticleAccordions %}
    </section>
  {% endblock %}
  