---
layout: 'layouts/reading.html'
title: 'الأحد الثالث من أمشير'
tags: 'sundays'
permalink: /articles/sundays/6-3.html
---
  {% block content %}
    <section id="readings">
      <ul>
      {% if 'undefined' != 'undefined' %}
      
      {% else %}
      {% if '19.17:15,3' != 'null' %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">العشية</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeVespers '19.17:15,3' '43.5:39-47' %}
          </div>
        </div>
      </li>
      {% endif %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">باكر</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeMatins '19.89:52,49' '43.12:44-50' '' %}
          </div>
        </div>
      </li>
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <h3 class="flex items-center justify-between">
            <span class="kufi">القداس</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </h3>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeLitugy '58.3:1-19*@+58.4:1-2' '65.1:14-25' '44.20:7-16' '19.89:1,6' '43.6:27-46' %}
          </div>
        </div>
      </li>

      {% endif %}
        </ul>
    </section>
    <section id="article">
      <h3 class="mt-8 mb-4 heading-explain">شرح القراءات</h3>
      {% createArticleAccordions %}
        <p>&#8221; فأجابه سمعان بطرس: يا رب، إلى من نذهب؟ كلام الحياة الأبدية عندك &#8221; (يو ٦٨:٦)</p>
<p>&#8221; اسمك القدّوس يا ربي يسوع هو ينجيهم من جميع شدائدهم .. هو يكون لهم طعام حياة تقتات به نفوسهم وأجسادهم معاً &#8221; إبصالية الثلاثاء</p>
<p>&#8221; إن المسيح هو رئيس أولئك الذين يؤمنون به ، وإنه يُطعم الذين يأتون إليه بالطعام الإلهي والسماوي &#8221;</p>
<p>القديس كيرلس السكندري<a href="#_ftn1" name="_ftnref1">[1]</a></p>
<h3>شواهد القراءات</h3>
<p>(مز ١٦ : ٣-١٣) ، (يو ٥: ٣٩-٤٧ )، (مز ٨٨ : ٢٩-٣٠) ، (يو ١٢ : ٤٤-٥٠) ، (عب ٣ : ١-٤ : ٢-١) ، (يه١ : ١٤-٢٥) ، (أع ٢٠ : ٧-١٦) ، (مز ٨٨ : ٥-١) ، (يو ٦ : ٢٧- ٤٦)</p>
<h3>ملاحظات علي قراءات اليوم</h3>
<p>+ تشابه إنجيل قدَّاس اليوم (يو ٦: ٢٧ - ٤٦ ) مع إنجيل قدَّاس ( يو ٦ : ٣٥ - ٤٦ )<a href="https://katameros.bible/church-reading/%d8%b9%d9%8a%d8%af-%d8%a7%d9%84%d8%b5%d9%84%d9%8a%d8%a8-%d9%82%d8%b1%d8%a7%d8%a1%d8%a7%d8%aa-%d8%a7%d9%84%d9%8a%d9%88%d9%85-%d8%a7%d9%84%d8%ab%d8%a7%d9%86%d9%8a-%d9%a1%d9%a8-%d8%aa%d9%88%d8%aa/"> ثاني يوم عيد الصليب</a></p>
<p>الكلام اليوم عن الرب يسوع خبز الحياة موضوع قراءات شهر أمشير، أمَّا الكلام في القراءة الثانية<a href="https://katameros.bible/church-reading/%d8%b9%d9%8a%d8%af-%d8%a7%d9%84%d8%b5%d9%84%d9%8a%d8%a8-%d9%82%d8%b1%d8%a7%d8%a1%d8%a7%d8%aa-%d8%a7%d9%84%d9%8a%d9%88%d9%85-%d8%a7%d9%84%d8%ab%d8%a7%d9%86%d9%8a-%d9%a1%d9%a8-%d8%aa%d9%88%d8%aa/"> (١٨ توت )</a> عن الإيمان بإبن الله مصدر القيامة والحياة</p>
<h3>شرح القراءات</h3>
<p>يتكلم هذا اليوم عن غني الحياة الأبدية المعطاة لنا مجانا في شخص إبن الله وفيض مراحمه الإلهية</p>
<p>يعلن مزمور عشية معني جوهر هذه النعمة في حياتنا هي معاينة وجهه وظهور مجده ببره الإلهي ( وأنا بالبر أعاين وجهك وأشبع عندما يظهر مجدك )</p>
<p>ويسأل مزمور باكر أين هي مراحمه معنا ؟ ( أين هي مراحمك الأول يارب التي حلفت بها لداوُد بالحق )</p>
<p>ويجيب مزمور القداس ( بمراحمك يارب أسبح إلي الدهر أخبر بحقك بفمي )</p>
<p>وتُعْلِن القراءات خطورة عدم الإيمان ( البولس ) وأهميّة التعب والإجتهاد ( الكاثوليكون ) وفاعلية حضوره في الكلمة والإفخارستيا التي تقيم من الموت ( الإبركسيس )</p>
<p>يُحذّرنا في البولس من خطورة عدم الإيمان التي تمنعنا من الدخول للراحة الإلهية وتؤدي بِنَا إلي الموت والهلاك ( ومن هم الذين مقتوا أربعين سنة أليس هم الذين أخطأوا الذين عظامهم سقطت في البرية ومن هم الذين أقسم لهم أن لايدخلوا راحته إلا الذين لم يطيعوا فنري أنهم لم يقدروا أن يدخلوا لعدم الإيمان فلنخف إذا لئلا مع بقاء وعد بالدخول إلي راحته يظن أحد منكم : أنه قد تأخر عن الدخول )</p>
<p>ويوضح لنا الكاثوليكون أن هذا الوعد بالحياة الأبدية يتطلب بنيان وتعب وجهاد ( وأما أنتم ياأحبائى فابنوا أنفسكم علي إيمانكم الأقدس مصلين في الروح القدس ولنحفظ أنفسنا في محبة الله منتظرين رحمة ربنا يسوع المسيح للحياة الأبدية )</p>
<p>ويحكي لنا الإبركسيس قيامة افتيخوس من الموت وقت الإفخارستيا وقوة كلمة الحياة التي كرز بها بولس الرسول ( وفي أول الأسبوع إذ اجتمعنا لكسر الخبز &#8230;.. وكان شاب اسمه افتيخوس جالسا في الطاقة متثقلا بنوم عميق وإذ كان بولس يتكلم غلب عليه النوم فسقط من الطبقة الثالثة إلي أسفل وحمل ميتا فنزل بولس ووقع عليه وعانقه قائلا : لاتضطربوا : لأن نفسه فيه ثم صعد وكسر خبزا وذاق وتكلم كثيرا حتي لاح النور وهكذا خرج وأتوا بالفتي حيّا وتعزوا تعزية ليست بقليلة )</p>
<p>وتؤكّد الأناجيل علي الحياة الأبديّة المُعلنة في كلمته ( انجيل عشيّة ) ووصيته ( انجيل باكر ) وجسده المقدَّس ( انجيل القدَّاس )</p>
<p>أما إنجيل عشية فيدعونا الرب للحياة الأبدية المعلنة في كلمته ويحذر من طلبنا المجد البشري علي حساب مجد الله ( فتشوا الكتب التي تظنون أن لكم فيها حياة أبدية وهي التي تشهد لي ولاتريدون أن تقبلوا إلي لتكون لكم حياة &#8230;.. كيف تقدرون أن تؤمنوا وأنتم تقبلون المجد من بعضكم بعض والمجد الذي للإله الواحد وحده لستم تطلبونه )</p>
<p>ويؤكد هذا في إنجيل باكر أن وصيته هي حياة أبدية وأن هدف تجسده أن يكون نورا وخلاصا للعالم ( أنا قد جئت نورا للعالم حتي كل من يؤمن بي لايمكث في الظلمة ومن يسمع كلامي ولايحفظه فأنا لاأدينه لأَنِّي لم آت لأدين العالم بل لأخلص العالم &#8230;. وأنا أعلم أن وصيته هي حياة أبدية )</p>
<p>ويختم إنجيل القداس بالدعوة الإلهية لكل البشر للإيمان بابن الله خبز الحياة النازل من السماء والواهب حياة وقيامة لكل من يقبل ويؤمن ( اعملوا لاللطعام الفاني بل للطعام الباقي للحياة الأبدية &#8230;.. لأن خبز الله هو النازل من السماء الواهب الحياة للعالم فقالوا له : ياسيد أعطنا في كل حين هذا الخبز فقال لهم يسوع أنا هو خبز الحياة من يأتي إلي فلا يجوع ومن يؤمن بي فلا يعطش إلي الأبد &#8230;.. لأن هذه هي إرادة أبي : أن كل من يري الابن ويؤمن به تكون له حياة أبدية وأنا أقيمه في اليوم الأخير )</p>
<h3>ملخّص القراءات</h3>
<p>الحياة الأبديّة مُعلنة في ظهور مجده وإستعلان مراحمه            ( مزمور عشيّة وباكر والقدّاس )</p>
<p>وفِي كلمته المُقدَّسة وفِي الإفخارستيا                                 ( إنجيل عشيّة والقدّاس والإبركسيس )</p>
<p>وفِي العمل بوصيَّته                                                            ( إنجيل باكر )</p>
<p>ويؤكِّد علي إهمية التعب والإجتهاد                                        ( الكاثوليكون )</p>
<p>ويُحذِّر من عدم الإيمان                                                            ( البولس )</p>
<h3>إنجيل القدَّاس في فكر آباء الكنيسة</h3>
<p>&#8220;خبز الله هو الطعام الوحيد الذي يستطيع إشباعنا عند وقوعنا تحت العذاب.&#8221; (أغناطيوس).</p>
<p>&#8220;ويسوع يشير إلى نفسه بأنه هو هذا الخبز دلالة على ألوهيّته، إذ بعد ذلك ينسبه لجسده.&#8221; (فم الذهب).</p>
<p>&#8220;ونحن إذ نأكل مِن خبز الحياة هذا كبشر مخلوقين للحياة الأبدية بالأساس، نكون الآن قد أُعطينا سلطانًا على الموت&#8221; (كيرلُّس السكندري)</p>
<p>&#8220;أما غير الجياع لطعام الشركة، الذين يدّعون مهابة كثرة تكرار الاشتراك، فهؤلاء يصيرون بمثابة فخ وعثرة.&#8221; (كيرلُّس السكندري).</p>
<p>&#8220;يستمر خبز المسيح طعامًا للقديسين حتى اليوم&#8221; (أمبروسيوس)</p>
<p>&#8220;حقيقة أن الآب قد أعطى المؤمنين للابن توضح أن الإيمان لا يتأتّى بمحض الصدفة.&#8221; (فم الذهب).</p>
<p>&#8220;لن يخرجهم المسيح خارجًا؛ بلْ أن التفاخر هو الذي يعصف بالإنسان،والتواضع المماثل لتواضع الله هو الذي يردّه؛ هكذا أيضًا يعمل أعضاء جسد المسيح مشيئة أبيهم بتواضع، كما كان هو أيضًا يعمل.&#8221; (أوغسطينوس).</p>
<p>&#8220;على الرغم مِن أن المسيح يُتِمّ مشيئة الآب، فإن هذه المشيئة لا تتناقض بأي حال مع مشيئته هو.&#8221; ( هيلاري ).</p>
<p>&#8220;إنْ كان المسيح قد أسلم مشيئته للآب، فهكذا حَريّ بنا نحن أيضًا أنْ نفعل، مستندين إلى مشيئة الله كي تعضدنا.&#8221; (ترتليان).</p>
<p>&#8220;هو لن يضيّع شيئًا مما أعطاه الله، ما يحوي البشرية التي اتّخذها بميلاده، وكذلك كافة الخراف، بما قد ضلّ منها أو أصيب بمرض؛ كلالذين تعهّده إياهم بالرعاية.&#8221; (جيروم).</p>
<p>&#8220;هؤلاء اختارتهم عناية الله المخوفة لكي لا يهلكوا.&#8221; (أوغسطينوس).</p>
<p>&#8220;هذه ليست مشيئة الآب فقط، بلْ الابن أيضا.&#8221; (فم الذهب).</p>
<p>&#8220;مشيئة الآب هي أن كل مَن ينظر إلى الابن ويؤمن ستكون له الحياة الأبدية. لقد رأى اليهود يسوع لكنهم لم يؤمنوا. أما نحن، فلا نرى لكننا نؤمن فاستحققنا الحياة الأبدية.&#8221; (أوغسطينوس).</p>
<p>&#8220;الذي يؤمن في الحياة هذه، سيحظى بالكمال في حياة الدهر الآتي بعد القيامة.&#8221; (إكليمندُس السكندري).</p>
<p>&#8220;ينتظر جزاء القيامة الثابتين في الإيمان.&#8221; (فم الذهب).</p>
<p>&#8220;ثُمّ سيُحضِر الآب هؤلاء المؤمنين إلى الابن، والابن سيأخذهم فيحْييهم حياة الخلود.&#8221; (كيرلُّس السكندري).</p>
<p>&#8220;هنا يكلّمنا المسيح عن قيامتين: الأولى تتحقق عندما يقبل الإنسان الإيمان وينتقل مِن الموت إلى الحياة، والثانية عندما يُقام في اليوم الأخير.&#8221; (أوغسطينوس)<a href="#_ftn2" name="_ftnref2">[2]</a>.</p>
<h3>الكنيسة في قراءات اليوم</h3>
<p>شهادة العهد القديم عن ابن الله                                       إنجيل عشيّة</p>
<p>إرسالية الآب للابن + اليوم الأخير                                    إنجيل باكر والقدّاس</p>
<p>التوبة والثبات الي النهاية                                               البولس</p>
<p>الدينونة + الإيمان الأقدس                                              الكاثوليكون</p>
<p>الإفخارستيا جسد المسيح                                               إنجيل القدَّاس</p>
<h3>أفكار مقترحة لعظات</h3>
<p><strong>(١) كيف نحيا نعمة الحياة الأبديّة في المسيح له المجد</strong></p>
<ul>
<li>١- حضوره الإلهي وإستعلان مجده</li>
</ul>
<p>&#8221; وأنا بالبرّ أعاين وجهك وأشبع عندما يظهر مجدك &#8221;                                              مزمور عشيّة</p>
<ul>
<li>٢- الحياة في كلمته المُقدَّسة</li>
</ul>
<p>&#8221; فتشوا الكتب التي تظنون ان لكم فيها حياة أبدية وهي التي تشهد لي &#8221;                   إنجيل عشيّة</p>
<ul>
<li>٣- الحياة بوصيته</li>
</ul>
<p>&#8221; وأنا أعلم أن وصيته هي حياة أبدية &#8221;                                                               إنجيل باكر</p>
<ul>
<li>٤- التوبة الدائمة والثبات فيه يجعلنا شركاء المسيح</li>
</ul>
<p>&#8221; بل عفوا بعضكم بعضا كل يوم ما دام الوقت يُدعي اليوم لكي لا يقسو واحد منكم بغرور الخطية لأننا قد صرنا شركاء المسيح &#8221;                                                                                                  البولس</p>
<ul>
<li>٥- نقاوة وبنيان الإيمان وعمق الصلاة ونقاوة المحبّة</li>
</ul>
<p>&#8221; وأما أنتم يا أحبائي فابنوا أنفسكم علي إيمانكم الأقدس مُصلِّين في الروح القدس ولنحفظ أنفسنا في محبة الله منتظرين رحمة ربنا يسوع المسيح للحياة الأبديّة &#8221;                                                          الكاثوليكون</p>
<ul>
<li>٦- شركة العبادة الليتورجيا وقوّة وفاعلية الكلمة المُقدَّسة والإفخارستيا</li>
</ul>
<p>&#8221; وفِي أول الأسبوع إذ اجتمعنا لكسر الخبز &#8230; ثم صعد وكسر خبزاً وذاق وتكلم كثيرا حتي لاح النور وهكذا خرج وأتوا بالفتي حيا وتعزَّوا تعزية ليست بقليلة &#8221;                                                               الإبركسيس</p>
<ul>
<li>٧- الرب يسوع هو وحده مصدر الحياة الأبديّة وضمان الشبع والإرتواء</li>
</ul>
<p>&#8221; أنا هو خبز الحياة من يأتي إلي فلا يجوع ومن يؤمن بي فلا يعطش إلي الأبد &#8221;              إنجيل القدَّاس</p>
<p><strong>(٢) خبز الحياة</strong></p>
<ul>
<li>١- من هو خبز الحياة</li>
</ul>
<p>توجد أشياء كثيرة في العالم تعطي الإحساس الخاطئ بالشبع</p>
<p>أمثلة &#8221; المال &#8221; الغني الغبي ، الغني ولعازر(لو١٦)</p>
<p>&#8221; الجسد &#8221; السامرية (يوحنا ٤) والمرأة الخاطئة ( لو٧)</p>
<p>&#8221; السلطة &#8221; هيرودس الملك ونبوخذ نصر</p>
<ul>
<li>٢-  الشبع بالمسيح</li>
</ul>
<p>تكريس الوقت لله كل يوم مهم جدا للشبع به</p>
<p>إحنا مش مشغولين لكن احنا مش بنعطيه الأولوية</p>
<p>قدر دراسة كلمة الله قدر الغني والشبع</p>
<p>قدر تلاوة المزامير والصلاة قدر غنانا به</p>
<p>قدر الإنتظام في العبادة الكنسية قدر نمونا في النعمة</p>
<ul>
<li>٣- الشبع الذي نسلمه لأولادنا</li>
</ul>
<p>بيقولوا &#8221; مش مهم ايه اللي هاتسيبوا لأولادك لكن مهم اللي هاتسيبوا فيهم &#8221;</p>
<p>نشجع اولادنا علي قراءة الكتاب المقدس بإنتظام</p>
<p>نشجعهم يحفظوا مزامير</p>
<p>البعض بيوعد ابنه او بنته بهدية كبيرة لو نجح او حصل علي نتيجة كويسة لكن قليل اللي يوعد ولاده بهدية كبيرة لو حفظوا عشرة مزامير تسنده طول حياته</p>
<p><strong>(٣) أيُّ طعام نتناوله ؟</strong></p>
<p><strong>١- أطعمة الهلاك</strong></p>
<p>+ طعام التذمر</p>
<p>وتكلم الشعب على الله وعلى موسى قائلين: «لماذا أصعدتمانا من مصر لنموت في البرية؟ لأنه لا خبز ولا ماء، وقد كرهت أنفسنا الطعام السخيف» (عد ٢١ : ٥)</p>
<p>+ طعام الشح والبخل</p>
<p>من شح بالطعام تتذمر عليه المدينة، ويشهد بلؤمه شهادة يقين</p>
<p>(يش بن سيراخ ٣١ : ٢٩)</p>
<p>+ طعام التنعم</p>
<p>&#8221; المضطجعون على أسرة من العاج، والمتمددون على فرشهم، والآكلون خرافا من الغنم، وعجولا من وسط الصيرة &#8221; (عا ٦ : ٤)</p>
<p>+ طعام المخالفة</p>
<p>&#8221; فرأت المرأة أن الشجرة جيدة للأكل، وأنها بهجة للعيون، وأن الشجرة شهية للنظر. فأخذت من ثمرها وأكلت، وأعطت رجلها أيضا معها فأكل &#8221; (تك ٦:٣)</p>
<p>+ طعام الخيانة</p>
<p>&#8221; لست أقول عن جميعكم . أنا أعلم الذين اخترتهم. لكن ليتم الكتاب: الذي يأكل معي الخبز رفع علي عقبه &#8221; (يو ١٨:١٣)</p>
<p>+ طعام الظلم</p>
<p>&#8221; الرب يدخل في المحاكمة مع شيوخ شعبه ورؤسائهم: وأنتم قد أكلتم الكرم. سلب البائس في بيوتكم &#8221; (أش ١٤:٣)</p>
<p><strong>٢- أطعمة الخلاص والبركة</strong></p>
<p>+ طعام الرعاية والقدرة والإلهية</p>
<p>وبالعكس اللهيب لم يؤذ جسم السريع الفساد من الحيوان، إذ كان يمشي فيه ولم يذب الطعام السماوي السريع الذوبان كالجليد، لأنك يا رب عظمت شعبك في كل شيء، ومجدته ولم تهمله، بل كنت مؤازرا له في كل زمان ومكان.</p>
<p>(حك ١٩ : ٢٠)</p>
<p>الكلام هنا عن أن المن السماوي كان سريع الذوبان بعد نزوله الأرض لكي لا يتأخر أحد عن أخذ نصيبه ورغم ذلك كان لا يذوب مع الطهي</p>
<p>«لذلك أقول لكم: لا تهتموا لحياتكم بما تأكلون وبما تشربون، ولا لأجسادكم بما تلبسون. أليست الحياة أفضل من الطعام، والجسد أفضل من اللباس؟ &#8221; (مت ٦ : ٢٥)</p>
<p>&#8221; قبل وفاتك اصنع البر؛ فإنه لا سبيل إلى التماس الطعام في الجحيم.&#8221; (يش بن سيراخ ١٤ : ١٧)</p>
<p>+ طعام العطاء والسخاء</p>
<p>&#8221; من سخا بالطعام تباركه الشفاه، ويشهد بكرمه شهادة صدق &#8221; (يش بن سيراخ ٣١ : ٢٨)</p>
<p>+ طعام أمانة التعليم النقي والرعاية الساهرة</p>
<p>فمن هو العبد الأمين الحكيم الذي أقامه سيده على خدمه ليعطيهم الطعام في حينه؟&#8221; (مت ٢٤ : ٤٥)</p>
<p>+ طعام الشركة المُقدَّسة</p>
<p>&#8221; وكانوا كل يوم يواظبون في الهيكل بنفس واحدة. وإذ هم يكسرون الخبز في البيوت، كانوا يتناولون الطعام بابتهاج وبساطة قلب &#8221; (أع ٢ : ٤٦)</p>
<p>+ طعام البركة</p>
<p>فقام وأكل وشرب، وسار بقوة تلك الأكلة أربعين نهارا وأربعين ليلة إلى جبل الله حوريب &#8221; (١مل ١٩ : ٨)</p>
<p>&#8221; وعند نهاية العشرة الأيام ظهرت مناظرهم أحسن وأسمن لحما من كل الفتيان الآكلين من أطايب الملك &#8221; (دا ١ : ١٥)</p>
<h3>عظات آبائية</h3>
<h4>الخبز الحقيقي حسب تعليم العلامة أوريجانوس</h4>
<p>اما من جهتي فسوف أتناول هذا الموضوع بشيء من الإفاضة والتفصيل ، مقتفيا اثر السيد نفسه وهو يعلمنا عن الخبز، ففي انجيل معلمنا يوحنا يوجه الرب خطابه الي الجماهير التي اتت اليه من كفر ناحوم بحثًا عنه: الحق الحق أقول لكم أنتم تطلبونني ليس لأنكم رأيم بل لأنكم أكلتم من الخبز فشبعتم &#8221; إذًا فكل من أكل من الخبز الذي باركه يسوع وشبع منه، حاول أن يدرك ابن الله أكثر من ذي قبل، وان يسرع اليه، ولهذا كانت وصية الرب التي تدعو الي الإعجاب: أعملوا لا للطعام البائد بل للطعام الباقي للحياة الأبدية الذي يعطيكم ابن الانسان&#8221;. والذين كانوا يسمعون هذا الحديث، عندما سألوه قائلين: ماذا نفعل حتي نعمل أعمال الله ؟ أجاب يسوع وقال لهم : هذا هو عمل الله أن تؤمنوا بالذى هو ارسله. والآن هوذا الرب قد ارسل كلمته وشفاهم اى المرضي كما جاء في المزامير.</p>
<p>فالذين يؤمنون بالكلمة يفعلون أعمال الله لانه هو الخبز الباقي الذى للحياة الأبدية ، ويقول أيضًا: وأبي يعطيكم الخبز الحقيقي من السماء لان خبز الله هو النازل من السماء الواهب حياة للعالم. هذا الخبز الحقيقي هو الغذاء الكامل للإنسان الأمين المخلوق علي صورة الله وبفضل هذا الخبز الذى يتغذى به يصير الي صورة الله الذي خلقه.. وهل هناك ما يفوق الكلمة غذاء للروح؟! لا يوجد ما يفوق حكمة الله قيمة للعقل الذى يدركها وليس هناك ما هو اجدر من الحق تجاوبًا مع الطبيعة العقلية.</p>
<p>ولرب معترض يقول : إذا كان المسيح يوصينا ان نطلب الخبز الجوهرى جدا ، فلماذا ترك الفرصة سانحة لنا ان نفهمه علي إنه نوع آخر من الخبز ، ولابد لنا ان نلاحظ في حديث الرب في إنجيل القديس يوحنا انه يتكلم أحيانًا عن الخبز بإعتباره شيئا آخر غير المسيح نفسه، بينما في آيات أخرى يصرح فيها بإن هذا الخبز هو ذات المسيح ولنأخذ مثالًا للنوع الأول: موسي أعطاكم خبزًا من السماء ليس الخبز الحقيقي ، بل ابي يعطيكم الخبز الحقيقي من السماء، ولكن عندما طلب إليه البعض: أعطينا في كل حين هذا الخبز، أجابهم مشيرًا الي ذاته قائلًا: أنا هو خبز الحياة من يقبل الي فلا يجوع ومن يؤمن بي فلا يعطش أبدًا.</p>
<p>وبعد ذلك بقليل يقول: انا هو الخبز الحي الذي نزل من السماء ، إن اكل احد من هذا الخبز يحيا إلي الأبد. والخبز الذي انا اعطي هو جسدى الذي ابذله من أجل حياة العالم.</p>
<p>والكتاب المقدس يشير دائمًا الي الطعام بكلمة &#8221; الخبز&#8221; كما يتضح مما كتب عن موسي انه لم يأكل خبزًا او يشرب ماءً طوال أربعين يومًا.</p>
<p>وغذاء الكلمة متعدد متنوع ومتفاوت لأنه لا يستطيع كل إنسان ان ياكل الطعام القوى الصلب الذي يعطيه التعليم الالهى ، ولهذا فقد أراد المخلص أن يعطي طعام الرياضيين لمن يتفوقون في الكمال، فيقول: والخبز الذي أنا أعطي هو جسدي الذي ابذله من اجل حياة العالم. وبعد ذلك يقول:</p>
<p>إن لم تأكلوا جسد ابن الإنسان وتشربوا دمه فليس لكم حياة فيكم. من يأكل جسدى ويشرب دمى فله حياة ابدية وأنا اقيمه في اليوم الأخير ، لان جسدى مأكل حق ودمى مشرب حق من يأكل جسدى ويشرب دمى يثبت في وانا فيه. كما أرسلنى الآب الحى وأنا حي بالآب فمن يأكلني فهو يحيا بي..</p>
<p>هذا إذًا هو الطعام الحقيقي &#8230;. جسد المسيح الذى و هو الله الكلمة صار جسدًا حسب المكتوب &#8221; والكلمة صار جسدا &#8221; وعندما نأكله ونشربه يسكن في وسطنا. وعندما يقسم ويوزع يتم المكتوب ورأينا مجده. لإن هذا هو الخبز الذى نزل من السماء، ليس كما اكل آباؤكم وماتوا. من يأكل هذا الخبز يحيا إلي الأبد .</p>
<p>ويتحدث معلمنا بولس أيضًا عن الطعام مع أهل كورنثوس الذين كانوا مازالوا أطفالًا سالكين حسب الإنسان فيقول:</p>
<p>سقيتكم لبناً لا طعامًا لأنكم لم تكونوا بعد تستطيعون بل الآن أيضًا لا تستطيعون لأنكم بعد جسديون.</p>
<p>وفي رسالته الى العبرانيين يقول: وصرتم محتاجين الي اللبن لا الي طعام قوى لإن كل من يتناول اللبن هو عديم الخبرة في كلام البر لانه طفل. وأما الطعام القوى فاللبالغين الذين بسبب التمرن قد صارت لهم الحواس مدربة علي التمييز بين الخير والشر .</p>
<p>وفي رأيي ان قول الرسول: واحد يؤمن ان يأكل كل شيء ولكن الضعيف يأكل بقولا&#8230;.. لا يقصد في الأصل طعام الجسد بل لعله يقصد كلمة الله التي تعطي غذاء الروح فالمؤمن الحقيقي الناضج يستطيع أن يأكل كل شيء كما يتضح من قوله ان واحدا يؤمن ان ياكل كل شيء، واما الضعيف والناقص فيقنع ويكتفي بالتعاليم البسيطة التي لم تبلغ من القوة ما يملأه غيره وحماسه، ولعل معلمنا بولس كان يضع مثل هذا الإنسان نصب عينيه وهو يقول انا الضعيف فيأكل بقولاً.</p>
<p>وما قاله سليمان في الأمثال ، أعتقد إنه يعلمنا ان الإنسان الذى بسبب بساطته ولكن دون أفكار شريرة - لا يستطيع أن يستوعب المبادئ الهامة والتعاليم القوية إنما يحتل وضعًا أفضل ومكانه ارقي من إنسان آخر يفوقه كفاءة وذكاء وإدراكًا للأمور لا لشيء الا لأن الاخير لا يستطيع ان يستشعر الوحدة او نعمة السلام في هذا الوجود، فهو يقول : آكلة من البقول حيث تكون المحبة و النعمة خير من ثور معلوف ومعه بغضة.</p>
<p>فالسخاء البسيط المقتصد ولكنه يقدم بضمير صالح كثيرًا مايروق لنا ونستمتع به اكثر من الضيف الذي يحتفي بنا ولكنه لايستطيع أن يقدم اكثر من هذا أحاديث جزلة ورصينة ولكنهاتحاك ضد معرفة الله</p>
<p>وتدار المناقشة بإحكام وإقناع لتوحى إلينا بتعاليم غريبة تغايروتتنافر مع ناموس ابي ربنا وإلهنا يسوع الذى اعطانا الناموسوالأنبياء.</p>
<p>إذًا فلكى لا تصاب أرواحنا بالعلل والأسقام بسبب افتقارهاللطعام</p>
<p>ولكى لا نموت لله بسبب الجوع الي كلمة الله، علينا ان نسأل الآبمن أجل الخبز الحى الخبز الجوهرى جدًا حتي نسلك فيالطاعة لتعاليم مخلصنا الصالح، وحتى نحيا حياة أفضل فيإيمان أعظم<a href="#_ftn3" name="_ftnref3">[3]</a>.</p>
<p>يمكن الرجوع لعظات الاباء وعظات الاباء المعاصرين <a href="https://katameros.bible/church-reading/%d9%8a%d9%88%d9%85-%d8%a7%d9%84%d8%a3%d8%ad%d8%af-%d9%85%d9%86-%d8%a7%d9%84%d8%a3%d8%b3%d8%a8%d9%88%d8%b9-%d8%a7%d9%84%d8%ab%d8%a7%d9%86%d9%8a-%d9%84%d9%84%d8%ae%d9%85%d8%b3%d9%8a%d9%86-%d9%8a%d9%88/">ليوم الاحد من الاسبوع الثاني من الخمسين يوم المقدسة</a></p>
<h3>عظات اباء وخدام معاصرين</h3>
<h4>عظة للمتنيح القمص لوقا سيداروس</h4>
<p><strong>الإيمان بالمسيح</strong></p>
<p>الإيمان بالمسيح هو الطريق الوحيد لمن يريد أن يعمل أعمال الله &#8230; لأن المسيح نفسه قال لتلاميذه : بدونى لا تقدرون أن تفعلوا شيئاً &#8221; . وقال أيضاً المؤمنين به : &#8221; الأعمال التي أنا أعملها تعملونها وأعظم منها &#8221; . بل أن جميع الآيات التي صنعها يسوع للناس توقفت على إيمانهم به حتى أنه قال : &#8221; كل شيء مستطاع للمؤمن &#8221; . وهذا ما تحققه بولس الرسول في نفسه حين هتف قائلاً : &#8221; أستطيع كل شيء في المسيح الذى يقوينى &#8221; . ومعروف عن الله أنه : &#8221; بدون إيمان لا يمكن إرضاؤه &#8221; . لهذا قال الرب يسوع لجماعة اليهود عندما سألوه ماذا نفعل ؟ أجابهم : &#8221; أن تؤمنوا بالذى أرسله &#8221; . ولكن ما هو الإيمان الذى يطلبه الرب يسوع ؟ أن الإنجيل ملء بالعينات التي مدح يسوع إيمانهم .</p>
<p>+ إيمان المرأة الكنعانية التي تصرخ ولا تريد أن تكف عن الصراخ حتى تأخذ شفاء إبنتها حتى او حسبها الناس كالكلاب .</p>
<p>+ إيمان قائد المئة الذى يثق في سلطان المسيح ويطلب بإتضاع مجرد كلمة تخرج من في الرب .</p>
<p>+ إيمان المرأة الخاطئة التي غسلت رجليه بالدموع ومسحتها بشعر رأسها وأكتشفت في قدميه أثر المسامير فلم تكف عن تقبيل قدميه .</p>
<p>+ إيمان نازفة الدم التي جعلت في قلبها أن تلمس ولو هدب توبه مهما كلفها من مشقة .</p>
<p>+ إيمان برثماوس الأعمى الذى ببصيرة داخلية اكتشف يسوع وصرخ نحوه ولم يسكت حتى أبرأه يسوع وأعطاه نعمه البصر .</p>
<p>هذا ما يطلبه الرب من جماعة اليهود &#8230; بل ما يطلبه من كل نفس أن تكون لها إيمان به وثقة في محبته &#8230; لأن بدون الإيمان بالمسيح لا رجاء ولا أمل في خلاص .</p>
<p>+ عندما قال لهم أن يؤمنون &#8230; قالوا له : أية آية تصنع لنرى ونؤمن .</p>
<p>+ لقد طلب موسى النبى آية من عند الرب عندما ظهر له في العلقة المشتعلة &#8230; وأعطاه الرب لا آية &#8230; بل آيات .</p>
<p>+ وطلب جدعون آية ليتثبت في معية الرب وموازرته فاستجاب الله له مرة بل مرات .</p>
<p>+ وإيليا طلب ناراً من السماء كآية على قبول الذبيحة وصحة إيمانه . فاستجاب الرب له في الحال بنار من السماء أكلت الذبيحة وحجارة المذبح ولحست الماء أيضاً .</p>
<p>+ وحزقيال الملك طلب آية على أن الرب سيشفيه من مرضه فرجعت الشمس عشر درجات من مكانها .</p>
<p>كل هؤلاء طلبوا آيه من الرب وأعطاهم لأنهم كانوا يطلبون بقلب مستقيم أمام الله وبإيمان بلا رياء وبإنكار وبدون شك في قدرته .</p>
<p>أما جماعة اليهود ، فقال لهم الرب مرة أخرى : &#8221; الجيل الشرير الفاسق ، يطلب آية ولا تعطى له آية &#8221; . أنهم يطلبون ليجربوه &#8230; مثل الشيطان الذى طلب من الرب يسوع آيات على جبل التجربة &#8230; لقد صنع الرب معهم آيات هذا عددها ولكنهم لم يؤمنوا &#8230; أنهم هم اللذين أكلوا من الخمس خبزات بالأمس &#8230; ان الآيه عندهم نوع من الإثارة وموضوع مدهش للتسلية ، ولكن ليس للتوبة ، ثم أنهم يطلبون الآيه كشرط لإيمانهم &#8230; أليس الإيمان هو الإيقان بأمور لا ترى ؟ إن الرب يسوع طوب الذين آمنوا ولم يروا &#8230; أما هؤلاء فقط نظروا آيات كثيرة صنعها الرب لو كتبت واحدة فواحدة ، فلست أظن أن العالم نفسه يسع الكتب المكتوبه . ورغم ذلك لم يتغيروا ولم يؤمنوا .</p>
<p>+ آباءنا أكلوا المن في البرية كما هو مكتوب أنه أعطاهم خبزاً ليأكلوا . فقال لهم يسوع : &#8221; الحق الحق أقول لكم ليس موسى أعطاكم الخبز من السماء . لأن خبز الله هو النازل من السماء الواهب حياة للعالم &#8230; فقالوا : &#8221; يا سيد إعطنا كل حين هذا الخبز &#8221; . فقال لهم يسوع : &#8221; أنا هو خبز الحياة من يقبل إلىّ فلا يجوع ، ومن يؤمن بى فلا يعطش أبداً . فكان اليهود يتذمرون عليه &#8230; وخاصم اليهود بعضهم بعضاً قائلين : كيف يقدر هذا أن يعطينا جسده لنأكل ؟</p>
<p>كمات الرب يسوع بسيطة جداً يفهمها الأطفال الصغار ولكنها عميقة جداً يحتار فيها حكماء هذا العالم فهمته المرأة السامرية . ووقف أمامه نقوديموس متحيراً غيرفاهم . أعلنه الرب للأطفال الصغار وأخفاه عن الحكماء والفهماء . هذا ما جعلهم يعثرون ويرتبكون كثيراً . هم يطلبون آية خبز . وهو يعطى جسده نازلاً من السماء . أن الإنسان الجسدى يستحيل عليه أن يعرف فكر الله ، بل يصطدم به دائماً ويقع في حيرة . فإن تكلم يسوع عن الملكوت . افتكروا في ملكوت أرضى وسلطان زمنى . وابتدأوا يسألون : متى يأتي ملكوت الله ؟ فيجيبهم قائلاً : لا يأتي ملكوت الله بمراقبة .</p>
<p>وسألوه : أين ؟ فقال : ها ملكوت الله داخلكم . وإن تكلم عن خمير الفريسيين الذى هو الرياء . أفتكروا في الخبز المادى والأكل ، وقالوا : ليس لنا خبز . وإن تكلم عن سيف الروح قبل الصليب . افتكروا في السيف المادى ، كلام يسوع كله أسرار . والأسرار تحتاج إلى إيمان للتقرب متها ، هي ليست صعبة أو ضد العقل البشرى. ولكنها فوق العقل البشرى . إنها أمور مختصة بملكوت الله &#8230; وملكوت الله سماوى &#8230; كيف ؟ وأين ؟ ومتى ؟ هذه الإستفسارات تشير إلى عدم الإيمان ولا تصلح مثل هذه الأسئلة للأمور السماوية . يسوع لا يلغى العقل البشرى . ولكنه يرفعه حتى ما فوق الطبيعة . لقد قصد الرب أن ينقلهم من المن إلى جسده .</p>
<p>لقد كان المن معجزة كبيرة عندما أمطره الله من السماء على أبائنا ، وقد أعطانا الآب المن كل يوم كخبز يومى وكطعام سماوى كما هو مكتوب : &#8221; أكل الإنسان خبز الملائكة &#8221; . ولكن بالرغم من ذلك . فكل الذين أكلوا الخبز ماتوا . أما الطعام الذى يقدم ( جسد المسيح ) فهو الخير الحقيقى . خبز الله الواهب حياة ، وإن كان المن قديماً يشير إلى المسيح ، ولكن في كلتا الحالتين هو عطية من الآب &#8230; الآب أعطى المن قديماً ، والآب أحب العالم وبذل إبنه الوحيد ، كيف يقدر أن يعطينا جسده ؟ مازال الشيطان إلى يومنا هذا يزرع هذه الشكوك في قلوب الكثيرين . ويسألون : هل ممكن أن يكون جسداً حقيقياً أم هو مجرد رمز وذكرى فقط ؟ ويسأل آخرون : كيف يكون الجسد الواحد حاضراً في أماكن كثيرة ؟ أو كيف يحصل لحدث واحد ثم في الماضى أن يستمر في الحاضر كل يوم ؟</p>
<p>ولا يوجد غير الإيمان إجابة على هذه الأسئلة<a href="#_ftn4" name="_ftnref4">[4]</a>.</p>
<h4>المتنيح القمص تادرس البراموسي</h4>
<p><strong>الأحد الثالث من شهر أمشير المبارك</strong></p>
<p>أنا هو خبز الحياة من يقبل إلى لا يجوع ومن يؤمن بى فلا يعطش أبداً (يو ٦: ٢٧ – ٤٦)</p>
<p>قال ملك المجد الرب يسوع لشرذمة اليهود المجتمعين حوله المنتظرين كلمة الحياة الخارجة من فمه . بعد أن أكلوا بالأمس من الخبز فشبعوا وقد إجتمعوا حوله. يريدون أن يجعلوه ملكاً عليهم ليس لأنهم أرادوا آيات ومعجزات وأمنوا بأعماله الخارقة التي لم يأتيه أحد قبله من الأنبياء بل لأنهم كما قال الرب يسوع أكلوا من الخبز وشبعوا كان يهمهم كثير قوت الجسد والحاجات الزمنية فأراد الرب يسوع أن يسموا بأفكارهم عن الأرض ويحلق بهم إلى المجد الروحى والبعد عن الأرضيات . وأراد أن يصحح لهم المفاهيم الخاطئة عن الله وعطاياه فقال .</p>
<p>ليس موسى الذى اعطاكم الخبز من السماء بل أبى في السموات وأراد أن يبين لهم أن المن ليس خبزاً حقيقيًا من السماء بل هو صورة ومثال إلى الخبز الحى الذى يقوت النفس ويحيها إلى الأبد . لأن خبز الله النازل من السماء حيث مسكن الله والقديسين ودعاه خبز الله لأنه خاص بالله. وأراد به أبن الله بالحقيقة الذى قدم جسده على الصليب ليفتدينا من لعنة الناموس والخطية وليس هو كالمن الذى سد عوز الجسد وقتياً بل هو الواهب الحياة للعالم وهو أشارة إلى جسده الذى أعطاه لتلاميذه وجعله عهداً أبدياً بينه وبين جميع الذين يتبعونه إلى مدى الأجيال. أبان الرب يسوع هذا القول  .</p>
<p>أنه هو الخبز المحى . فأنه بنعمته الغنية وروحه بقيت جميع المؤمنين ليحيوا دائماً فيه كما قال بفمه الطاهر من يأكل جسدى ويشرب دمى يحيا في وأنا فيه . فكما أن الخبز الجسدى . لحياة الجسد هكذا خبز الحياة الذى هو جسد الرب يسوع . ضروري لحياة الروح والجسد . فالرب يسوع قدم جسده لنا ليكون لنا قوت لأرواحنا وانفسنا وأجسادنا وهو يقول من يقبل إلى فلا يجوع ومن يؤمن بى فلا يعطش أبداً لأنه يسد كل احتياجات النفس ويكمل سعادتها والذين لا يقبلون يهلكون جوعاً وعطشاً أي يبقون إلى الأبد في عذاب الاحتياج إلى البركات الروحية والسلام الداخلى .</p>
<p><strong>العظة الأولى</strong></p>
<p>أ – أرادة الله أن نبعد عن الجسديات</p>
<p>ب – نطلبه من القلب وليس بالرياء</p>
<p>ج – وضوح الكلام وثبات الأيمان</p>
<p>د – الشكوك وعدم الأيمان علامة الشر</p>
<p>ه - المن في البرية وجسده للبشرية</p>
<p>و – توضيح الهدف وإعلان الحقيقة</p>
<p>ذ – تقديم جسده وهبك الحياة</p>
<p>ح – أظهار الحقيقة والحياة الأبدية</p>
<p>ط – تذمر اليهود ونقض العهود</p>
<p>ى – أثبات النبوات ونهر البركات</p>
<p><strong>العظة الثانية</strong></p>
<p>أ – أوامر الرب للسلوك في الخير</p>
<p>ب – خبث اليهود وطلب النصيحة</p>
<p>ج – عالم الخفايا ورد البلايا</p>
<p>د – أعطاء البراهين ورد الجهالة</p>
<p>ه - طلب الخبز بمفهوم أرضى</p>
<p>و – إعلان الإله عن خبز الحياة</p>
<p>ذ – تخصيص الإله عن خبز الخياة</p>
<p>ذ – تخصص الخبز لمن يستحق</p>
<p>ح – تذمر وتجريح وعدم معرفة</p>
<p>ط – راحة واطمئنان في حضن الديان</p>
<p>ى – الأيمان الصحيح بالجنب الجريح</p>
<p><strong>العظة الثالثة</strong></p>
<p>أ – هبة الحياة والوعد الأمين</p>
<p>ب – تذمر أعمى وافتراء غريب</p>
<p>ج – نتعلم من الله معرفة الطريق</p>
<p>د – ليس حياة بدون الرب يسوع</p>
<p>ه - أظهار المن السمائى واهب الحياة</p>
<p>و – العجز في التنفيذ وفعل الروح</p>
<p>ذ – نصيحة أبوية وعظمة العطية</p>
<p>ح – طاعة الله هي الإيمان بالابن</p>
<p>ط – فلسفة بشرية وطلب آية</p>
<p>ى – المن السمائى – والجسد المقدس<a href="#_ftn5" name="_ftnref5">[5]</a></p>
<h3>من وحي قراءات اليوم</h3>
<p><strong>&#8221; أنا هو خبز الحياة &#8220;</strong></p>
<p>انت تهيئ لنا كل يوم مائدة دسمه من النعمة ونحن نتهافت علي اطعمه العالم البائدة.</p>
<p>انت تريد لنا غني الاب ومجده ونحن تستهوينا الكورة البعيدة.</p>
<p>نحن نلهث وراء الابار المشققة في الخارج ونتركك ينبوع الماء الحي داخلنا.</p>
<p>انت تمنحنا مجانا غني وشبع ونحن ندفع الغالي من اوقاتنا لنقتات من فتات العالم.</p>
<p>انت ترد لنا قيمتنا وكرامتنا بينما نتسولها ونترجاها نحن من الناس.</p>
<p>بابك دائما مفتوح فلماذا نتكل على ابواب البشر.</p>
<p>وعدك دائما صادق لكننا مازلنا نثق في وعود المخلوقين.</p>
<p>متي نحقق قصدك في حياتنا ونتذوق غناك الالهي.</p>
<p>ونرتوي بالماء الحي الذي ينبع فينا الي حياه ابديه.</p>
<p>حينئذ نختبر وندرك معني أن لا نجوع وأن لا نعطش إلي المنتهي.</p>
<h3>المراجع:</h3>
<p><a href="#_ftnref1" name="_ftn1"></a>١- التجسد والحب الالهي ( بيت التكريس - د. نصحي عبد الشهيد</p>
<p><a href="#_ftnref2" name="_ftn2"></a>Elowsky, J.C. &amp; Oden, T.C. (2006). John 1 - 10 (The Ancient Christian Commentary on Scripture, New Testament part IVa). Illinois (U.S.A): InterVarsity Press. Page 226</p>
<p>٢- ترجمة الاخت إيفيت منير - كنيسة مار مرقس ببني سويف</p>
<p><a href="#_ftnref3" name="_ftn3"></a>٣- الصلاة للعلامة أوريجانوس ( صفحة ٧٩ ) - تعريب القس موسي وهبة - كنيسة مار جرجس خمارويه</p>
<p><a href="#_ftnref4" name="_ftn4"></a>٤- المرجع : كتاب تاملات روحية في قراءات اناجيل احاد السنة القبطية صفحة 226 – كنيسة مارجرجس باسبورتنج</p>
<p><a href="#_ftnref5" name="_ftn5"></a>٥- المرجع : كتاب تاملات وعناصر روحية في احاد وايام السنة التوتية صفحة 75 – اعداد القمص تادرس البراموسي</p>

      {% endcreateArticleAccordions %}
    </section>
  {% endblock %}
