---
layout: 'layouts/reading.html'
title: 'الأحد الرابع من أمشير'
permalink: sundays/6-4.html
---
  {% block content %}
    <section id="readings">
      <ul>
      {% if '19.92:4-5' != 'null' %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">العشية</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeVespers '19.92:4-5' '42.17:1-10' %}
          </div>
        </div>
      </li>
      {% endif %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">باكر</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeMatins '19.89:11,1' '42.17:11-19' '' %}
          </div>
        </div>
      </li>
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <h3 class="flex items-center justify-between">
            <span class="kufi">القداس</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </h3>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeLitugy '46.1:1-16' '59.1:13-21' '44.8:5-13' '19.24:1-2' '42.19:1-10' %}
          </div>
        </div>
      </li>
        </ul>
    </section>
    <section id="article">
      <h3 class="mt-8 mb-4 heading-explain">شرح القراءات</h3>
      {% createArticleAccordions firstName, lastName %}
        <p></p>
<p></p>
<p>&#8221; فرحا أفرح بالرب. تبتهج نفسي بإلهي، لأنه قد ألبسني ثياب الخلاص. كساني رداء البر، مثل عريس يتزين بعمامة، ومثل عروس تتزين بحليها &#8221; (أش ٦١ : ١٠)</p>
<p>&#8221; فإذ صرنا نحن شعبه فهو يخلصنا بقوة ويغفر آثامنا فلنعرفه بثبات &#8221; ثيئوطوكية الخميس</p>
<p>&#8221; لقد وجد المفقودين أيضًا. إنهم اختفوا هنا وهناك بين الأشواك، وتشتتوا بسبب الذئاب. اختفوا بين الأشواك، فجاء إليهم ليجدهم، وقد تمزق بأشواك آلامه. جاء فعلًا ووجدهم، مخلصًا إياهم&#8230; لقد خلصوا بذاك الذي ذُبح لأجلهم<a href="#_ftn1" name="_ftnref1">[1]</a> &#8221;</p>
<p></p>
<p></p>
<h3>شواهد القراءات</h3>
<p>(مز ٩١ : ٣-٢) ، (لو ١٧ : ١-١٠) ، (مز ٨٨ : ١-٩) ، (لو ١٧ : ١١-١٩) ، (١كو١ : ١-١٦) ، (يع١ : ١٣-٢١ )، (أع ٨ : ٥-١٣) ، (مز ٢٣ : ٢-١ )، (لو ١٩ : ١-١٠)</p>
<p></p>
<p></p>
<h3>ملاحظات علي قراءات اليوم</h3>
<p></p>
<p>+ قراءة الكاثوليكون اليوم (يع ١ : ١٣ &#8211; ٢١) تُشبه قراءة الكاثوليكون (يع ١ : ١٢ &#8211; ٢١) ليوم ٢٧ بابه الموافق شهادة القديس مكاريوس أسقف إتكو</p>
<p>مجيئها اليوم للإشارة إلي كيف صرنا باكورة خلائقه ( مثل زكَّا العشار موضوع إنجيل هذا الأحد )</p>
<p>بينما مجيئها يوم ٢٧ بابه بإضافة آية ١٢ &#8221; طوبي للرجل الذي يصبر في التجربة &#8221; للإشارة للحياة الطوباوية التي للقديسين موضوع قراءة ذاك اليوم</p>
<p>+ قراءة الإبركسيس اليوم (أع ٨ : ٥ &#8211; ١٣) تُشبه قراءة الإبركسيس (أع ٨ : ٣ &#8211; ١٣) ليوم ١٣ طوبه الموافق عيد عرس قانا الجليل ، يوم ٢٦ طوبه الموافق شهادة التسعة والأربعين شهيداً شيوخ شيهات )</p>
<p>مجيئها اليوم للمُقارنة بين سيمون الساحر الذي خسر كل شئ بسبب محبَّة المال ، وزكَّا العشار الذي إستهان بكل شئ وأعطاه بفرح للفقراء من أجل محبَّة المسيح</p>
<p>ومجيئها يوم ٢٦ طوبه للإشارة إلي الضيقة الجماعية وإضطهاد شاول لمجموعات من الرجال والنساء كما أن القراءة تُخْتَم بعضوية الأسرة في الملكوت بالمعمودية كما كانت في عرس قانا الجليل بحضور المسيح له المجد (١٣ طوبه )</p>
<p>+ إنجيل قدَّاس اليوم (لو ١٩ : ١ &#8211; ١٠) والذي يحكي قصة لقاء الرب مع زَكَّا العشار وهو الذي جاء أيضاً في إنجيل قدّاس الأحدالثالث من شهر توت ، وإنجيل باكر يوم ١٦ توت ( تجديد كنيسة القيامة )</p>
<p>مجيئه اليوم للإشارة إلي الخلاص ، ومجيئه في الأحد الثالث من توت للإشارة إلي لقاء الرب مع زكَّا ، ومجيئه يوم ١٦ توت مع تذكار تجديد الكنيسة ، وكأن الكنيسة تُشير إلي بيوت أولاد الله ( زكَّا ) تصير كنائس بحضور المسيح له المجد فيها ( ينبغي لي اليوم أن أكون في بيتك )</p>
<p></p>
<p></p>
<h3>شرح القراءات</h3>
<p></p>
<p>يختم هذا الأحد الستة شهور الأولي في السنة القبطية</p>
<p>ففي شهر توت أعلن الآب تدبيره الخلاصي لكل البشرية</p>
<p>وشهر بابة أظهر الإبن سلطانه الكامل والمطلق</p>
<p>وشهر هاتور ملأ أراضي قلوبنا ينابيع الروح</p>
<p>وتجسد الكلمة في شهر كيهك</p>
<p>وأظهر خلاصه للأمم وقبولهم بالمعمودية في شهر طوبة</p>
<p>ورأينا مجده الإفخارستي في ثلاثة آحاد أمشير</p>
<p>ليختم الأحد الرابع بكمال زمن الله للبشر للخلاص واليوم الجديد</p>
<p>فالأحد الرابع من أمشير هو أحد اليوم الجديد وزمن الخلاص</p>
<p>( لذلك يمكن مقابلة هذا اليوم بختام قراءات الصوم الكبير والبصخة المُقدَّسة بموت المسيح له المجد وقيامته المُقدَّسة وإستعلان خلاص الله للبشرية ، لذلك تتعجب من مجئ ذكر المعمودية والولادة الجديدة في قراءات اليوم &#8211; والتي ننال فيها قوة موت المسيح وقيامته &#8211; في البولس والكاثوليكون والإبركسيس ، وأيضاً في مزمور القدَّاس كيف هيأ الرب كل شئ علي المياه )</p>
<p>يمكن الرجوع لمزيد من الشرح في فصل &#8221; موضوع قراءات الآحاد &#8221; ، وفصل &#8221; الرابط بين قراءات الصوم الكبير والبصخة المُقدَّسة والخمسين يوم المُقدَّسة &#8221;</p>
<p>تعلن المزامير عمق تدبيره ( مزمور عشيّة ) وملء مراحمه ( مزمور باكر ) وكمال عنايته ورعايته ( مزمور القدَّاس )</p>
<p>ففي مزمور عشية تعلن النفس فرحتها بصنيع الله وعظمه عمله الخلاصي وعمق فكره وتدبيره ( لأنك فرحتني يارب بصنيعك وبأعمال يديك أبتهج ماأعظم أعمالك يارب وأفكارك عمقت جدا )</p>
<p>أما مزمور باكر يعلن كمال زمن المراحم الإلهية لكل البشر ( أنت أسست المسكونة وملئها بمراحمك يارب أسبح إلي الدهر من جيل إلي جيل أخبر حقك بفمي )</p>
<p>كما يؤكد في مزمور القداس عناية الله الكاملة بالكل ( للرب الأرض وملئها المسكونة وجميع الساكنين فيها )</p>
<p>وتُعْلِن القراءات كمال خلاصنا في المسيح في غنانا الداخلي ( البولس ) وكمال عطاياه لنا ( الكاثوليكون ) وعِظَمْ قوته الإلهية فوق سحر العالم ( الإبركسيس )</p>
<p>ثم يتكلم البولس عن الكنيسة الكاملة بمواهب أعضائها وشاهدة له وثابتة فيه إلي النهاية ( لأنكم في كل شئ قد استغنيتم به في كل كلام وكل علم كما ثبتت فيكم شهادة المسيح إنكم لستم ناقصين في شئ من المواهب وأنتم متوقعون استعلان ربنا يسوع المسيح هذا الذي سيثبتكم أيضا إلي النهاية بلا لوم في يوم ربنا يسوع المسيح )</p>
<p>ويعلن الكاثوليكون أننا صرنا الآن باكورة خلائقه ( لاتضلوا ياإخوتي وأحبائي كل عطية صالحة وكل موهبة تامة هي من فوق نازلة من عند أب الأنوار الذي ليس عنده تغيير ولاشبه ظل يزول قد شاء فولدنا بكلمة الحق لكي نكون باكورة خلائقه)</p>
<p>ويقارن الإبركسيس بين سحر العالم الذي يمجد الذات وبين قوة الله العظيمة التي تمجد اسم يسوع المسيح ( وكان في تلك المدينة رجل اسمه سيمون يستعمل السحر ويُدهش كل شعب السامرة قائلا : إني أنا شئ عظيم &#8230;. وكان الجميع يصغون إليه لأنه أقام بينهم زمانا طويلا يطغيهم بالأسحار ولكن لما آمنوا بفيلبس وهو يبشر بالأمور المختصة بملكوت الله وباسم يسوع المسيح اعتمدوا رجالا ونساء )</p>
<p>وتتكلّم الأناجيل عن علامات اليوم الجديد والخليقة الجديدة في المسيح الغفران الكامل ( إنجيل عشيّة ) والشفاء الكامل ( إنجيل باكر ) والخلاص الشامل لكل الأسرة ( إنجيل القدَّاس )</p>
<p>يُعْلِن إنجيل عشية عن كمال الغفران بين أولاد الله ( وإن أخطأ إليك أخوك فوبخه وإن تاب فاغفر له وإن أخطأ إليك سبع مرات في اليوم ورجع إليك سبع مرات قائلا : أنا تائب فاغفر له )</p>
<p>وإنجيل باكر عن كمال تطهير البشر من برص الخطية بشفاء العشرة البرص &#8211; رمز الكمال &#8211; رغم شكر غريب الجنس فقط ( وفيما هو داخل إلي قرية استقبله عشرة رجال برص فوقفوا من بعيد ورفعوا صوتهم قائلين : يايسوع يامعلم ارحمنا فنظر وقال لهم : اذهبوا وأروا أنفسكم للكاهن وفيما هم منطلقون طهروا &#8230;.. فأجاب يسوع وقال : أليس العشرة قد طهروا فأين التسعة ألم يوجد من يرجع ليمجد الله غير هذا الغريب الجنس ثم قال له : قم وامض إيمانك خلصك )</p>
<p>ويختم إنجيل القداس بلقاء الرب يسوع مع زكا كنموذج للبشرية التي جاءها الرب إلي موضعها ليدعوها بالإسم ويأتي إلي بيتنا فوق تصوراتنا ويعلن خلاصنا الذي يبحث عن كل الهالكين ( فلما جاء يسوع إلي الموضع نظر إليه وقال له : يازكا أسرع وانزل لأنه ينبغي لي اليوم أن أكون في بيتك فأسرع ونزل إليه فقبله فرحا &#8230;. فقال له يسوع : اليوم صار الخلاص لهذا البيت فإنه هو أيضا ابن ابراهيم لأن ابن البشر جاء ليطلب ويخلص الذي قد هلك )</p>
<p>كما نري مقارنة بين سيمون الساحر الذي يفعل كل شئ لأجل المال في الإبركسيس مقارنة بزكا العشار الذي قدم نصف أمواله بعد لقاءه مع الرب في إنجيل القدَّاس</p>
<p></p>
<p><strong>ملحوظة : &#8221; تكرار كلمة يوم في القراءات &#8220;</strong></p>
<p>إن أخطأ إليك أخوك سبع مرات في اليوم                                           إنجيل عشيه</p>
<p>الذي سيثبتكم أيضاً إلي النهاية بلا لوم في يوم ربنا يسوع المسيح       البولس</p>
<p>اليوم حصل خلاص لهذا البيت                                                          إنجيل القدَّاس</p>
<p>واليوم هنا ليس يوم الزمن بل يوم الخلاص ، وهو اليوم الذي تُعلنه الكنيسة في سر الإفخارستيا ( هذا هو اليوم الذي صنعه الرب &#8230; ) ، ومعناه في إنجيل عشيه حياتنا الأرضية ، وفي البولس معناه مجئ الرب ، وفي إنجيل القدَّاس معناه إستعلان الخلاص في شخص ربنا يسوع المسيح</p>
<p></p>
<p></p>
<h3>الكنيسة في قراءات اليوم</h3>
<p></p>
<p>الكهنوت                                              إنجيل باكر</p>
<p>يوم الرب + المعمودية                              البولس والإبركسيس</p>
<p>خلاص الأسرة بإيمان الأب                      إنجيل القدَّاس</p>
<p></p>
<p></p>
<h3>ملخّص القراءات</h3>
<p></p>
<p>كمال زمن الله للبشر للخلاص وعلامات اليوم الجديد تظهر في إختبار عمق تدبيره ومراحمه وعنايته  (مزمور عشيّة وباكر والقدّاس)</p>
<p>وفِي عطيّته الكامله وشفاؤه للكل وخلاصه للأسرة                                                       ( الكاثوليكون وإنجيل باكر والقدّاس )</p>
<p>ونعيشه بأن نكون أغنياء به وفيه وبغفراننا الكامل                                                                     ( البولس وإنجيل عشيّة )</p>
<p></p>
<p></p>
<h3>أفكار مقترحة لعظات</h3>
<p></p>
<p><strong>(١) يوم الخلاص</strong></p>
<p>١- يوم الغفران</p>
<p>&#8221; وإن أخطأ إليك سبع مرات في اليوم ورجع إليك سبع مرات قائلاً : أنا تائب فاغفر له &#8221;       إنجيل عشيّة</p>
<p>٢- يوم الشكر والتمجيد والتسبيح</p>
<p>&#8221; فأجاب يسوع وقال : أليس العشرة قد طهروا فأين التسعة ألم يوجد من يرجع ليمجد الله غير هذا الغريب الجنس ثم قال له : قم وامض إيمانك خلصك &#8221;         إنجيل باكر</p>
<p>٣- يوم المكافأة والدينونة</p>
<p>&#8221; هذا الذي سيثبتكم أيضا إلي النهاية بلا لوم في يوم ربنا يسوع المسيح &#8221;       البولس</p>
<p>٤- يوم الولادة الجديدة</p>
<p>&#8221; شاء فولدنا بكلمة الحق لكي نكون باكورة خلائقه &#8221;     الكاثوليكون</p>
<p>٥- بين أزمنة سحر العالم وبين يوم الملكوت</p>
<p>&#8221; وكان الجميع يصغون إليه لأنه أقام بينهم زماناً طويلاً يطغيهم بالأسحار ولكن لما آمنوا بفيلبس وهو يبشر بالأمور المختصة بملكوت الله &#8221;      الإبركسيس</p>
<p>٦- يوم حضوره الإلهي في واقعنا وبيوتنا</p>
<p>&#8221; فقال له يسوع : اليوم صار الخلاص لهذا البيت &#8221;          إنجيل القدَّاس</p>
<p><strong>( ٢ ) عوائق إختبار حضور المسيح له المجد في حياتنا</strong></p>
<p>١- ضعف الجسد وإعاقته</p>
<p>لم يمنع قصر قامة زَكَّا في أن يتسلق شجرة ربما بعد محاولات متعددة فقط لكي يري الرب في عبوره الطريق</p>
<p>كان يمكنه أن ينتظر وقتاً آخر وبطريقة أخري أكثر وقاراً لرئيس العشارين ولكن إشتياقات قلبه لم يمنعها ضعف الجسد ولم تلتفت لرأي الناس الذين رأوه يفعل هكذا وهذا هو ما رآه الرب وكافأه عليه بما لم يكن في حسبانه أو توقعاته</p>
<p>٢- الوظائف المُعينة ( رئيس العشارين )</p>
<p>يظن كثيرون أن بعض الوظائف تتعارض مع الحياة مع الله والشهادة له مثل التجارة والبيع والشراء والمعاملات المالية لكنّنا نري هنا زَكَّا يتخطي هذا الحاجز والمانع بإشتياقاته وإصراره وعطاؤه</p>
<p>٣- محبة المال ( كان غنياً )</p>
<p>بينما تقف محبة المال عائقاً قوياً أمام كثيرين (١ تي ٦ : ٢) نري زَكَّا يرتفع فوق القوانين المدنية بإمكانية تسديدة أربعة أضعاف ويفعل أكثر مما تطلبه الوصيّة في تقديم نصف أمواله للمساكين</p>
<p>٤- المشغولية والمركز الاجتماعي الكبير</p>
<p>ماذا يقول أي إنسان مشغول أو مشهور عندما يري رجلاً في مكانة مدير عام يتسلق شجرة لمجرد أن يري يسوع في الطريق ولم يطلب أكثر من ذلك مُتخطَّياً البروتوكول والشكل الإجتماعي</p>
<p><strong>(٣) العظة الثالثة والرابعة في الأحد الثالث من توت</strong></p>
<p></p>
<p></p>
<h3>عظات ابائية</h3>
<h3>يمكن الرجوع للعظات الابائية وعظات الاباء المعاصرين للاحد الثالث من شهر توت</h3>
<p></p>
<h4>لقاء الرب مع زكا في فكر القديس كيرلس الكبير</h4>
<p></p>
<p>❖ كان زكا رئيسًا للعشارين، قد استسلم للطمع تمامًا، غايته الوحيدة تضخيم مكاسبه، إذ كان هذا هو عمل العشارين، وقد دعي بولس الطمع عبادة أوثان (كو ٣ : ٥ )، ربما لأن هذا يناسب من ليس لهم معرفة الله ( بانشغالهم بالطمع ). وإذ كان العشارون يمارسون هذه الرذيلة علانية بلا خجل، لذا ضمهم الرب مع الزناة، قائلًا لرؤساء اليهود: &#8220;إن العشارين والزواني يسبقونكم إلى ملكوت الله&#8221; (مت ٢١ : ٣١ ). لكن زكا لم يستمر في عداد العشارين، إنما تأهل للرحمة بيدي المسيح الذي يدعو البعيدين للقرب منه، ويهب نورًا للذين في الظلمة ]</p>
<p>❖ أراد (زكا) أن يرى يسوع لذا تسلق شجرة جميز، هكذا نمت في داخله بذرة الخلاص. وقد رأى المسيح بعيني اللاهوت ( إيمان زكا )، وبرؤيته هذه نظره أيضًا خلال عينيّ الناسوت، فبسط له لطفه وشجعه، قائلًا له: &#8220;أسرع وانزل&#8221;</p>
<p>❖ طلب أن يراه، فعاقته الجموع، لكن لم تعقه الجموع مثلما عاقته خطاياه. لقد كان قصير القامة لا من جهة الجسد فحسب، وإنما روحيًا أيضًا.</p>
<p>❖ لم يكن له طريق آخر ليراه سوى أن يصعد فوق الأرض متسلقًا شجرة جميز هذه التي كان المسيح مزمعًا أن يمر بها.</p>
<p>❖ الآن تحمل هذه القصة في داخلها رمزًا، إذ لا يمكن لإنسان أن يرى المسيح ويؤمن به ما لم يصعد شجرة الجميز، بمعنى إقماعه لأعضائه التي على الأرض، الزنى والنجاسة إلخ</p>
<p>❖ لماذا يلومون المسيح إن كان ذلك يمكن أن تقول قد سقط ودفن في الفساد الروحي، فأقامه المسيح من هوة الهلاك؟! ولكي يعلمهم ذلك قال: &#8220;اليوم حصل خلاص لهذا البيت، إذ هو أيضًا ابن إبراهيم&#8221;. لأنه حيث يدخل المسيح بالضرورة يوجد الخلاص. ليكن في داخلنا؛ إن آمنا يكون فينا، بالإيمان يسكن في قلوبنا، ونكون نحن مسكنه. كان يليق باليهود أن يفرحوا، لأن زكا قد خلص بطريقة عجيبة، إذ حُسب هو أيضًا من بين أبناء إبراهيم الذي وعده الله بالخلاص في المسيح بواسطة الأنبياء القديسين، قائلًا: &#8220;ويأتي الفادي إلى صهيون، وإلى التائبين عن المعصية في يعقوب، يقول الرب&#8221; (إش ٥٩ : ٢٠ ). لقد قام المسيح ليخلص سكان الأرض من خطاياهم، يطلب من قد فُقدوا، ويخلص من قد هلكوا. هذا هو عمله، قل هذا هو ثمرة لطفه الإلهي<a href="#_ftn2" name="_ftnref2">[2]</a>]</p>
<p></p>
<p></p>
<h4>أحبنا ونحن خطاه عند القديس أغسطينوس</h4>
<p></p>
<p><strong>نحن نحبه لأنه أحبنا أولاً :</strong></p>
<p>كيف يمكن أن نحبه إلا لانه أحبنا أولاً ؟ بالحب نصير أصدقاء . لقد احبنا ونحن اعداء لكي نصير أصدقاء . هو أحبنا أولاً واعطانا نعمة الحب له ، لم نكن نحبه ولكن حين احببناه صرنا في جمال .</p>
<p>اذا احب انسان قبيح المنظر ومشوه أمرأة جميلة ماذا يفعل ؟ أو ماذا تفعل أمرأة مشوهه وقبيحة وسوداء حين تحب رجلاً جميلاً ؟ هل بالحب يمكنها أن تصير جميلة . هل يستطيع هو بالحب أن يصير جميلاً ؟</p>
<p>لقد أحب هذا الانسان إمرأة جميلة وحين نظر وجهه في المرآة أحس بالخجل الشديد ان يرفع وجهه الي محبوبته التي صار متيماً بها … ماذا يفعل لكي يصير جميلاً ؟ هل ينتظر لعل الجمال والطلعة البهية تأتي إليه ؟ لا يمكن ، فمع الانتظار سوف يزحف الزمن وتضاف الشيخوخة التي تجعله أكثر قبحاً . لا يوجد شيء اذا يمكن ان يفعله ، لا يمكن ان نقدم له اية نصيحة سوي ان يكبح نفسه ولا يتجرأ علي ان يحب هذا الحب غير المتكافيء .</p>
<p>واذا احب انسان جميل امرأة قبيحة واراد ان يتخذها زوجة فهو لا يحب فيها الوجه الجسدي وانما يحب فيها طهارتها ، وروحها</p>
<p>يا اخوتي قبيحة ومكروهة بسبب الخطية ولكن بمحبة الله تصير محبوبة .</p>
<p>ماذا يكون هذا الحب الذي يجعل المحب جميلاً ؟!</p>
<p>والله دائماً محبوب ، لا يمكن الا ان يحب ، غير متغير ، الذي هو محبوب دائماً احبنا هو اولا ً ، وحين أحبنا كنّا غير محبوبين وخطاه ولكن أحبنا لكي يغيرنا لنصير محبوبين .</p>
<p>كيف صرنا محبوبين ؟ بمحبته ذاك الذي هو دائماً محبوب . كلما زاد فيكم الحب صرتم محبوبين أكثر لأن الحب هو نفسه جمال الروح ، نحن نحبه لانه احبنا أولاً . اسمعوا الرسول بولس : &#8221; ولكن الله بينّ محبته لنا لانه ونحن بعد خطاه مات المسيح عنا &#8220;. (رو٥: ٨-٩) . البار لاجل الاثمة والجمال لاجل القبح .</p>
<p>اننا نجد يسوع جميلاً &#8221; انك ابرع جمالاً من كل بني البشر وقد انسكبت النعمة علي شفتيك &#8221; (مز٤٥: ٢) . لماذا هذا؟</p>
<p>انظروا لماذا هو جميل ابرع جمالاً من بني البشر &#8221; انه في البدء كان الكلمة والكلمة كان عند الله وكان الله الكلمة &#8220;(يو ١:١) .</p>
<p>ولكن لأنه اخذ جسداً فقد حمل في نفسه واخذ اليه قباحتنا التي كانت . لقد اخذ فنائنا لكي يقترب منا ، صار لابساً ايانا لكي يرفعنا الي محبة الجمال الداخلي . اين نري في الكتاب المقدس ان يسوع ( غير جميل ) . انه ابرع جمالاً من بني البشر فاين نجده ( غير جميل ) ؟! اسألوا إشعياء ( لا صورة له ولا جمال فننظر اليه) . هكذا هنا مزماران يعزفان كانهما يعطيان صورتين متنافرين علي الرغم من ان روحاً واحداً ينفخ فيهما ، الواحد يقول ( ابرع جمالاً من بني البشر) والآخر يقول ( لا صورة له ولا جمالاً فننظر اليه) .</p>
<p>بروح واحد امتلاء المزماران ولا يمكن ان يصنعا نشازاً ، لا تميلوا آذانكم بعيداً واعطوني ذهنكم . دعونا نسأل الرسول بولس ونتركه يفسر لنا تناغم الصوتين : &#8221; ابرع جمالاً من بني البشر الذي اذا كان في صورة الله ولم تكن مساواته للآب اختلاساً &#8220;(فيلبي٢: ٦- ٧) . دعوه يفسر لنا ايضا ً ( لا صورة له ولا جمال فننظر اليه- اخلي نفسه أخذاً صورة عبد صائراً في شبه الناس واذا وجد في الهيئة كإنسان وضع نفسه &#8211; لا صورة له ولا جمالاً ) لكي يعطينا الصورة والجمال .</p>
<p>أي صورة ؟ وأي جمال ؟</p>
<p>المحبة ، المحبة التي تجري ، والجري الذي بالمحبة (نش١: ٤) . انتم الآن في جمال ولكن لا تظنوا انه من انفسكم لئلا تفقدوا ما قبلتموه ، انسبوا هذا الجمال الي من صيركم في جمال ، احتفظوا بجمالكم لكي يحبكم فقط .</p>
<p>وجهوا كل الهدف اليه ، اجروا نحوه ، ابحثوا كيف تعانقونه وتقبلونه ، خافوا ان تحرموا منه فيكون خوفكم مقدساً نقياً يبقي الي الأبد.</p>
<p>ان قال احد اني احب الله (يو٤: ٢٠) :</p>
<p>+ من هو الله ؟</p>
<p>+ لماذا نحبه ؟ نحبه لانه احبنا أولاً .</p>
<p>+احبنا ونحن اشرار لنصير قديسين .</p>
<p>+ احبنا ونحن أثمة ليجعلنا ابراراً .</p>
<p>+ احبنا ونحن مرضي ليهبنا الشفاء.</p>
<p>اسألوا الناس ليخبروكم ان كانوا يحبون الله ، سوف يصرخون عالياً ويجيبون انهم يحبونه ، انهم يحبونه ، ولكن الله وحده يعلم الحقيقة<a href="#_ftn3" name="_ftnref3">[3]</a></p>
<p></p>
<p></p>
<h3>عظات اباء وخدام معاصرين</h3>
<p></p>
<h4>عظة للمتنيح القمص لوقا سيداروس</h4>
<p></p>
<p><strong>زكا العشار</strong></p>
<p>هى قصة رجوع إلى الله يضعها الإنجيل كنموذج حى لكمال التوبة وقبول الله داخل القلب قبولاً حقيقياً وبرهاناً على قوة نعمة المسيح التي تغير وترفع من القاع وعمق الخطية إلى قمة ومجد البر الذى بالمسيح يسوع . والإنجيل يركز بشدة على بعض النواحى الذى إذا عدمتها التوبة عدمت قوتها وفاعليتها :</p>
<p><strong>أولاً : يجب أن نطلب أن نرى يسوع ونسعى نحو ذلك بإخلاص .</strong></p>
<p>قال ربنا : &#8221; طوبى للجياع والعطاش إلى البر لأنهم يشبعون &#8221; . هنا الرغبة في الرجوع إلى الله تعنى إتجاه النفس بكليتها في طلب يسوع بعد أن تكون ذاقت مرارة التغرب عن الله ، وخابت في أن تجد شبعها في أباطيل الدنيا ، وفى السعي وراء سراب مجد الأرض . يبدوا ان كثيرين يطلبون ، ولكن ينقصهم كمال النية والإخلاص وتركيز من اللذين في يسوع فقط . وعندنا أمثلة الشاب الغنى ، وكثيرين من اللذين طلبوا تبعية الرب ولكنهم خابوا في الدعوة ، ولم يبلغوا إلى الدخول إلى ملكوت ربنا يسوع الأبدى . هنا الإنجيل يركز على جدية طلب النفس وسعيها المخلص وهى طالبة أن تبلغ إلى رؤية مخلصها كغريق يطلب نجاة في ساعة الخطر . وهذا يبدوا واضحاً في حركة نفس زكا النشيطة ، ركض مسرعاً وصعد على جميزة &#8230; زكا هنا يتجاوز قصر قامته الذى يمثل عجز الخليقة العتيقة ، وقصر قامة الإنسان الترابى للبلوغ إلى رؤية المسيح &#8230; يتجاوز زكا بنشاط الإرادة والعطش نحو الخلاص والركض نحو المحبوب .</p>
<p>ربى يسوع : كم إعتذرنا بقصر قامتنا &#8230; وكم ألقينا باللوم في عدم البلوغ إليك على طبيعة خلقتنا &#8230; مع أنك أتيت لكى تخلصنا من عتقنا وتجدد خلقتنا &#8230; إن كان أحد في المسيح يسوع فهو خليقة جديدة ، يكفى أن نأتى إليك بعجزنا ونتراءى أمامك بضعفنا .</p>
<p><strong>ثانياً : الإستجابة لنداء يسوع :</strong></p>
<p>ينبهنا سفر الرؤيا أن ربنا يسوع يقف منتظراً على الباب يقرع ، إن فتح له أحد يدخل إليه . وكثيراً ما نغلق أبوابنا دونه ، أونثقل آذاننا في سماع صوته وكثيراً ما تتحرك قلوبنا لنفتح له بعد أن يكون قد تحول وعبر &#8230; والمطلوب في التوبة هو أن تعرف النفس زمان إفتقادها . هنا البصيرة الروحية التي تميز زمان توبتها وتفتح قلبها وتقبل المسيح إلى داخل . وهنا يناشد السيد زكا قائلاً : &#8221; أسرع وانزل لأنه ينبغي لى أن أمكث اليوم في بيتك &#8230; &#8221; .</p>
<p>أبى يسوع : إن حركات التوبة تحتاج أن تكون نشيطة في إستجابتها لحركات قلبك نحو الإنسان &#8230; معنى هذا أن التوبة لا تتناسب مع الكسل والتهاون والتفريط والأهمال والرخاوة وعدم المبالاة وتسويف الباطل &#8230; وهذا صحيح لأن التوبة في أولى خطواتها هي طرح الكسل ونفض تراب الشهوات التي تمرغت فيه النفس المتوانية .</p>
<p>أبى يسوع : علمنى أن أستجيب لنداء نعمتك على الفور بنفس نشيطة ، وأكون رهن إشارتك ، أي إشارة هاتف الروح القدس الذى يتشفع في قلبى بتنهدات لا ينطق بها .</p>
<p><strong>ثمار دخول المسيح إلى النفس</strong></p>
<p>( ١ ) الفرح : فأسرع ونزل وقبله فرحاً .</p>
<p>إن أول ثمرات قبول المسيح قبولاً حقيقياً هي الفرح &#8230; لأن السبب الرئيسى لفرح في حياة المسيحين هو وجود الله الدائم ( أسمه عمانوئيل) ، ها أنا معكم كل الأيام وإلى إنقضاء الدهر . فالفرح هو التعبير الصادق عن إحساس النفس بالوجود في حضرة الله ، أو دخول الله إلى مخدع النفس . فإن دامت النفس في محضر القدير ، أو دام دخول الله وسكناه في مخدع النفس دام الفرح بالتبعية &#8221; أراكم فتفرح قلوبكم ولا يستطيع أحد أن ينزع فرحك منكم &#8221; . أو كما قيل عندما دخل الرب يسوع إلى علية التلاميذ &#8221; ففرح التلاميذ إذ رأوا الرب &#8221; . فالفرح الخلاصى يدوم ولا يزول ولا يتغير .</p>
<p>( ٢ ) سخاء النعمة : ها نصف أموالى للمساكين وإن كنت قد وشيت بأحد أرد له أربعة أضعاف .</p>
<p>هناك تناقض بين حركات الطبيعة وحركات النعمة. وهذا ما أوضحه القديس بولس الرسول في رسالته إلى أهل رومية &#8230; حيث شهد أنه بدون المسيح يظل الإنسان عاجزاً تماماً عن إتيان أصغر فعل من أفعال النعمة &#8230; فيسر بحسب الإنسان الباطن بالوصية والناموس ، ولكن يقف عاجزاً تماماً عن تنفيذ متطلبات الوصية &#8230; إلى يدركه ناموس روح الحياة في المسيح يسوع فينقذه ويخلصه من ناموس الخطية الكائن في أعضائه الذى بسببه بدون إرادته إلى فعل الخطية . هنا يبدوا واضحاً أن الدايل على قبول نعمة المسيح هو أن يثمر الإنسان ثمر النعمة في الحياة العملية . الطبيعة تقيم الأمور كلها حسب نظرتها الأرضيه والزمنية. تفرح للمكسب وتحزن للخسارة ، وتغضب لأدنى إهانة وتطلب ما لنفسها ، ما لمنفعتها &#8230; الطبيعة طماعة تؤثر الأخذ على العطاء ، وتحب أن تمييز نفسها عن الآخرين .</p>
<p>أما النعمة فهى تنظر إلى الأمور من فوق بنظرة سماوية تتجاوز بها ظاهر الأشياء وسطحياتها &#8230; النعمة سخية في العطاء كريمة في التوزيع &#8230; تتمجد جداً في العطاء وترتاح في بذل نفسها عن الآخرين وتود لو تشرك الجميع في خيرها ولا تطيق أن تكون بمفردها  &#8230; تقنع بالقليل ولسان حالها دائماً ينطق ، &#8221; مغبوط هو العطاء أكثر من الأخذ &#8221; . هكذا صارت النعمة التي قبلها زكا العشار مثمرة من أول لحظة ثمراً للحياة الأبدية مبنية على صدق توبته وقبوله الحقيقى لدخول ربنا يسوع إلى مخدع قلبه . &#8221; اليوم حصل خلاص لهذا البيت ، إذهو أيضاً إبن إبراهيم لأن إبن الإنسان قد جاء يطلب ويخلص ما قد هلك &#8221; . هذا ما قاله ربنا في بيت زكا . فيا لنصيبنا الفاخر في المسيح الذى جاء يطلبنا ويخلصنا ، حتى ولو كنا محسوبين ضمن الهالكين &#8230; من ذا الذى يسمع عن توبة زكا ويتوانى أو يشك في قدرة نعمة المسيح المخلصة . إن ربنا ينتظر مجرد شهوتنا لرؤيته ليكمل خلاصنا ويدخل بنفسه ، بجسده ودمه ، ليس إلى بيت مادى ، بل يحل بالإيمان في قلوبنا ويشهد بروحه فينا ، إننا أولاد الله ، واولاد إبراهيم شركاء المسيح في المجد والميراث الأبدى . آمين<a href="#_ftn4" name="_ftnref4">[4]</a>.</p>
<p></p>
<p></p>
<h4>المتنيح القمص تادرس البراموسي</h4>
<p></p>
<p>الأحد الرابع من شهر أمشير المبارك</p>
<p><strong>اليوم صار الخلاص لأهل هذا البيت لأنه هو أيضاً أبن إبراهيم (لو ١٩ – ١ – ١٠)</strong></p>
<p>أجتاز الرب مدينة أريحا . وأريحا هذه لها قصة في الكتاب المقدس. لما خرج بنى إسرائيل من مصر ووصلوا فلسطين كانت من ضمن المدن التي كان لابد لهم من اجتيازها . لكن كان عائق لهم عن امتلاكها .</p>
<p>لأنها كانت مدينة محصنة لها أسوار ولها أبواب ليس من السهل الدخول إليها ولما دخلها بعض أفراد إسرائيل مدحوها وخافوا من اجتيازها وقصة رحاب الزانية التي استضافتهم وأنقذتهم من أهل أريحا ووعدوها بأن ينقذوها هي واسرتها من الموت ولما أراد الرب لهم بالدخول طافوا حول المدينة سبع مرات فوقع السورمن ذاته وأمتلكها إسرائيل وكانت رحاب تصنع علامة من السور الذى أنزلت الجاسوسين منه وفيما بعد صارت رحاب جدة للرب يسوع بالجسد فكانت أريحا لها تاريخ في حياة السيد المسيح له المجد لم يذكر الكتاب الرب يسوع يريد أن يمكث في أريحا لكنه ذكر أنه يجتاز كانت المفاجئة العظيمة .</p>
<p>كان في أريحا رجل عظيم رئيس العشارين وكان غنياً جداً كان الجميع يهابونه خوفاً من تسلطه لأنه كان عنده سلطة من الحكومة . هذا الإنسان قال عنه الكتاب طلب راغباً أن يرى يسوع يعنى لم يجده أحد بل رغب لكنه كان قصير القامة وكان ازدحام على الرب يسوع في مروره بهذا الطريق تنازل زكا عن كبريائه وعظمته وصعد إلى جميزة كانت في الطريق . عينى الرب يسوع الثاقبة نظر إلى فوق بالرغم من الازدحام الذى حوله وناداه بصوت الأبوة يا زكا أسرع وأنزل لأنه ينبغي لى اليوم أن أمكث في بيتك .</p>
<p>كانت فرحة زكا ما أعظمها فرحة أسرع ونزل وقبله فرحاً لكن الناس اللى المسيح ما عجبهم الحال تذمروا قائلين إنه دخل يبيت عند رجل خاطئ لكن زكا خيب أمالهم وقف في الوسط وقال ها أنا يارب أعطى نصف أموالى للمساكين وأن كنت وشيت بأحد أراد له أربعة أضعاف . ففرح الرب بتوبته وقال اليوم حصل خلاص لأهل هذا البيت هو أيضاً أبن إبراهيم لأن أبن الإنسان قد جاء لكى يخلص ما قد هلك</p>
<p></p>
<p><strong>العظة الأولى</strong></p>
<p>أ – السعي الحسيس لخلاص النفوس</p>
<p>ب – الغنى ومعثرات الحياة</p>
<p>ج – طلب باجتهاد وعزيمة قوية</p>
<p>د – التغلب على الصحاب وترك الكبرياء</p>
<p>ه &#8211; نظرة الأبوة واحتواء الخطاة</p>
<p>و – صوت الحب واختراق القلب</p>
<p>ذ – قبول الصوت وطلب الملكوت</p>
<p>ح – نعمة اللقاء وسخاء العطاء</p>
<p>ط – الخلاص العجيب ونسيان الماضى</p>
<p>ى – التوبة والخلاص وترك المعاصى</p>
<p></p>
<p><strong>العظة التانية</strong></p>
<p>أ – خرج البار وأصطاد العشار</p>
<p>ب – ترك كرامة الأرض وسعى لكرامة السماء</p>
<p>ج – تغلب على التأنيب وجرى وراء الحبيب</p>
<p>د – تزمر اليهود ونسيان العهود</p>
<p>ه &#8211; نظره حنان وتنازل الديان</p>
<p>و – تقديس المكان والعيشه في أمان</p>
<p>ذ – التوبة القوية وميراث الأبدية</p>
<p>ح – العطاء بسخاء ورد الظلم</p>
<p>ط – نال الخلاص ونجى من القصاص</p>
<p>ى – ترك الجموع وسار وراء يسوع</p>
<p></p>
<p><strong>العظة الثالثة</strong></p>
<p>أ – الرغبة القوية وحب الأبدية</p>
<p>ب – التغلب على الصعاب يطلب رضا الآب</p>
<p>ج – طلبته العجيبة وإرادته القوية</p>
<p>د – أرتفع عن الأرض يرقى إلى السماء</p>
<p>ه &#8211; اهتمام الديان ومحبته للإنسان</p>
<p>و – صوت الرب واختراق القلب</p>
<p>ذ – الحب العجيب والموقف العصيب</p>
<p>ح – تعويض المظلومين وإشباع الجائعين</p>
<p>ط – أشرق الخلاص وسبق جمع الناس</p>
<p>ى – التوبة الحقيقية وميراث الأبدية<a href="#_ftn5" name="_ftnref5">[5]</a></p>
<p></p>
<p></p>
<h3>من وحي قراءات اليوم</h3>
<p></p>
<p>فطلب أن يري يسوع &#8230;. ينبغي أن أمكث اليوم في بيتك &#8221;      إنجيل القدَّاس</p>
<p>نحن نطلب فقط أن نراك وانت تسعي لتملك علي حياتنا كلها</p>
<p>نحن نكتفي بك علي الطريق وانت تأتي إلي بيوتنا</p>
<p>نكتفي بما نسمعه عنك من الناس وانت تمشي معنا لعلاقة شخصية قوية</p>
<p>لم ندرك إلي الآن غني حبك لنا بسبب ضعفنا ونظرات الناس</p>
<p>حبك الإلهي لا يهدف إلي تقييمنا وتصنيفنا بل إلي سد إحتياجاتنا</p>
<p>حبك الإلهي يبارك ويعظم إشتياقتنا البسيطة</p>
<p>عندما نتذوق حبك ونتعمق فيه يتضائل كل بريق العالم</p>
<p>يسمو الحب الإلهي علي قوانين الكون ( أرد أربعة أضعاف )</p>
<p>ويرتفع بالإنسان فوق إلتزامات الوصية ( أعطي نصف أموالي للمساكين )</p>
<p>محبة زكا لرب المجد كانت سببا وطريقا لخلاص أسرته ( حصل خلاص لهذا البيت )</p>
<p></p>
<p></p>
<p></p>
<h3>المراجع:</h3>
<p></p>
<p><a href="#_ftnref1" name="_ftn1"></a>١- القديس أغسطينوس تفسير إنجيل لوقا ١٩ &#8211; القمص تادرس يعقوب ملطي</p>
<p><a href="#_ftnref2" name="_ftn2"></a>٢- تفسير إنجيل لوقا إصحاح ١٩ &#8211; القمص تادرس يعقوب ملطي</p>
<p><a href="#_ftnref3" name="_ftn3"></a>٣- كتاب عظات القديس أغسطينوس علي رسالة يوحنا الأولي صفحة ١٦٩ &#8211; القمص بنيامين مرجان</p>
<p><a href="#_ftnref4" name="_ftn4"></a>٤- المرجع : كتاب تاملات روحية في قراءات اناجيل احاد السنة القبطية صفحة 237 – كنيسة مارجرجس باسبورتنج</p>
<p><a href="#_ftnref5" name="_ftn5"></a>٥- المرجع : كتاب تاملات وعناصر روحية في احاد وايام السنة التوتية صفحة 78 – اعداد القمص تادرس البراموسي</p>
<p></p>
<p></p>
<p></p>

      {% endcreateArticleAccordions %}
    </section>
  {% endblock %}
  