---
layout: 'layouts/reading.html'
title: 'الأحد الخامس'
permalink: sundays/8-5.html
---
  {% block content %}
    <section id="readings">
      <ul>
      {% if '19.93:3-4' != 'null' %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">العشية</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeVespers '19.93:3-4' '40.14:15-21' %}
          </div>
        </div>
      </li>
      {% endif %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">باكر</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeMatins '19.97:11-12' '41.6:35-44' '' %}
          </div>
        </div>
      </li>
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <h3 class="flex items-center justify-between">
            <span class="kufi">القداس</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </h3>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeLitugy '46.14:18-25' '59.5:1-8' '44.14:1-9' '19.143:6-7' '42.9:12-17' %}
          </div>
        </div>
      </li>
        </ul>
    </section>
    <section id="article">
      <h3 class="mt-8 mb-4 heading-explain">شرح القراءات</h3>
      {% createArticleAccordions firstName, lastName %}
        <p>إن كنت لا أفتح لكم كوى السماوات، وأفيض عليكم بركة حتى لا توسع &#8221; (ملا ٣: ١٠) &#8221; الله هو عمانوئيل الطعام الحقيقي شجرة الحياة العديمة الموت &#8230; بركات الناموس ليس فيها شيء يُشبهك &#8221; ابصالية الإثنين ( قطعة ٢٢،٧)</p>
<p>&#8221; لقد شفَى المرضى، حتى إذ يصيروا أصحّاء يشتركون في خبز البركة، ولكن ما داموا مرضى فلا يقدرون أن ينالوا خبز بركة يسوع<a href="#_ftn1" name="_ftnref1">[1]</a> &#8221;</p>
<h3>شواهد القراءات</h3>
<p>(مز ٩٢-٣) ، (مت ١٤ : ١٥ &#8211; ٢١) ، (مز ٩٦ : ١١) ، (مر ٦ : ٣٥ &#8211; ٤٤) ، (١كو ١٤ : ١٨ &#8211; ٢٥) ، (يع ٥ : ١ &#8211; ٨) ، (أع ٢٤ : ١ &#8211; ٩) ، (مز ١٤٢ : ٦ ، ٧ ) ، (لو ٩ : ١٢ &#8211; ١٧)</p>
<h3>ملاحظات على قراءات اليوم</h3>
<p>+ قراءة مزمور باكر اليوم (مز ٩٦: ١١) هي نفس قراءة مزمور باكر يوم ١٥ هاتور ( شهادة مار مينا العجايبي )</p>
<p>وهي نفس قراءة مزمور القدَّاس ليوم ١٣ برمهات (شهادة الأربعين شهيداً بمدينة بوبستة ) ، ومزمور القدَّاس ليوم ٢٣ برمودة ( شهادة مارجرجس )</p>
<p>ومجيئها اليوم لأجل الإشارة إلي البركات الروحية الغنيَّة لأولاد الله ، إشراقة النور الإلهي والفرح القلبي &#8221; نور اشرق للصديقين وفرح للمستقيمين  بقلبهم افرحوا ايها الصديقون بالرب &#8221;</p>
<p>بينما مجيئها في تذكارات الشهداء (يوم ١٥ هاتور ، ويوم ١٣ برمهات ، ويوم ٢٣ برمودة ) لأجل الاعتراف بالمسيح له المجد والشهادة له &#8221; واعترفوا لذكر قدسه &#8221;</p>
<p>+ قراءة إنجيل القدَّاس اليوم (لو ٩: ١٢ &#8211; ١٧) تُشبه قراءة إنجيل القدَّاس للأحد الثالث من شهر أبيب (لو ٩ : ١٠ &#8211; ١٧)</p>
<p>المُلاحَظْ هنا هو اختلاف الآيات المُختارة</p>
<p>قراءة أحد البركة إكتفت بالآيات من ١٢ &#8211; ١٧ للتركيز علي معجزة إشباع الجموع ، أمَّا قراءة الأحد الثالث من شهر أبيب فأضافت آية ١٠، ١١ للإشارة إلي ( وكان يُكلِّمهم عن ملكوت الله ) وهي موضوع قراءات شهر أبيب كله ، لذلك أضافت الكنيسة هاتين الآيتين في الأحد الثالث من أبيب عنها في إنجيل أحد البركة</p>
<h3>شرح القراءات</h3>
<p>تاتي قراءات هذا الاحد عندما تكون خمسة احاد في الشهر القبطي فيكون الاحد الخامس هو هذا الاحد وقراءاته تعلن البركة التي يقدمها الرب للكنيسة</p>
<p></p>
<p>تبدأ المزامير بالبركات المادّية (مزمور عشيّة ) والبركات الروحية ( مزمور باكر ) وحالة النفس دون البركة ( مزمور القدَّاس )</p>
<p></p>
<p>يبدا مزمور عشية بالكلام عن البركة المادية التي يسكبها الرب علي الأراضي والزراعة متمثلة في كثرة مياه الانهار ( رفعت الأنهار يارب رفعت الانهار صوتها ترفع الانهار صوتها من صوت مياه كثيرة )</p>
<p>ويتكلم مزمور باكر عن البركة الروحية لاولاد الله اشراقة النور الإلهي والفرح القلبي والتسبيح ( نور اشرق للصديقين وفرح للمستقيمين بقلبهم إفرحوا ايها الصديقون بالرب واعترفوا لذكر قدسه )</p>
<p>ويوضح مزمور القداس حالة النفس البشرية بدون البركة الالهية ( بسطت يدي اليك صارت لك نفسي مثل ارض عديمة الماء استجب لييارب عاجلا فقد فنيت روحي )</p>
<p></p>
<p>وتُعْلِن القراءات مجد حضور الله ومخافته في الكنيسة والعبادة ( البولس) والغني الكاذب دون البركة ( الكاثوليكون ) وإحسانات البشر المحدودة ( الإبركسيس )</p>
<p></p>
<p>ويعلن البولس غني البركة الروحية وهو اعلان الكنيسة مجد حضور الله فيها وشهادة الامم لذلك (ولكن ان كان الجميع يتنباون فدخل احد غير مؤمن او عامي فانه يوبخ من الجميع ويمتحن من الجميع وتصير خفايا قلبه   ظاهرة وهكذا يخر علي وجهه ويسجد لله معترفا ان الله بالحقيقة كائن فيكم )</p>
<p>ويحذر الكاثوليكون من ظلم الاغنياء للعمال والفقراء والذي يشهد عليهم ظلمهم ويأكل ما عندهم مثل النار ( هلم الان ايها الاغنياء إبكوا مولولين علي ابكوا شقاوتكم القادمة عليكم غناكم قد فسد وثيابكم قد اكلها العث ذهبكم وفضتكم قد صدئا وصداهما يكون شهادة عليكم وياكل لحومكم مثل النار )</p>
<p>اما الابركسيس فيعطي مثالا لمن يعتقدون ان حياتهم وماهم فيه من خير يرجع الي احسانات الولاة والحكام وليس الي الله ( اننا حاصلون بواسطتك علي سلام جزيل وقد صار لهذه الامة قيام بعنايتك  في كل زمان وفي كل مكان فنقيل ذلك منك ايها العزيز فيلكس بكل شكر )</p>
<p></p>
<p>وتوضح الأناجيل إمكانيات البشر الضعيفة (إنجيل عشيَّة )  والتكلفة الباهظة لحل البشر ( إنجيل باكر ) وغني الفيض الإلهي لكل الجموع بأقل الإمكانيات (  إنجيل القدَّاس )</p>
<p></p>
<p>بينما يوضح انجيل عشية قبول الرب الامكانيات البشرية الضعيفة ( اعطوهم انتم ليأكلوا اما هم فقالوا له : ليس عندنا هاهنا الا خمسة أرغفة وسمكتان فقال لهم : ائتوني بها الي هنا )</p>
<p>نجد في المقابل في انجيل باكر التكلفة الباهظة للحلول البشرية (اعطوهم انتم ليأكلوا فقالوا له لنمضي ونبتاع خبزا بمائتي دينار ونعطيهم لياكلوا )</p>
<p>ويعلن التلاميذ في انجيل القداس حيرتهم في التصرف وكيفية تسديد إحتياجات الناس (اعطوهم انتم ليأكلوا فقالوا ليس عندنا أكثر من خمسة ارغفة وسمكتين الا ان نذهب ونبتاع طعاما لهذا الشعب كله )</p>
<p>ويحسم الرب القضية في الاناجيل الثلاثة بإتكاء الجموع بنظام والصلاة والشكر بيده الالهية لتشبع الجموع من غني نعمته ( فقال لتلاميذه : اتكئوهم فرقا خمسين خمسين ففعلوا هكذا واتكأوا الجميع فأخذ الارغفة الخمسة والسمكتين ونظر إلي السماء وباركها ثم كسرها وأعطي التلاميذ ليقدموا للجمع فاكلوا وشبعوا جميعا ورفعوا ما فضل عنهم من الكسر اثنتي عشرة قفة مملؤة )</p>
<h4>مُلخّص القراءات</h4>
<p>البركة والغني الإلهي وتسديد الاحتياجات بفيض من أبسط الإمكانيات( إنجيل عشيّة وباكر والقدّاس )</p>
<p>والبركة مادية وروحية لمن يبسط يديه وقلبه لله ( مزمور عشيَّة وباكر والقداس عشيّة )</p>
<p>وغني مخافته يظهر في العبادة بوقار ( البولس )</p>
<p>وغياب مخافته يجعلنا ننتظر إحسانات البشر ( الإبركسيس )</p>
<p>بل ويهبط بنا إلي ظلم الآخرين ( الكاثوليكون )</p>
<h3>معجزة إشباع الجموع في فكر آباء الكنيسة</h3>
<p>&#8220;مثل ملكوت الله ما يصنعه المسيّا للتعليم: يشفي ويطعم شعبه؛ هكذا حسب مواعيد الأنبياء العظمي &#8221;   (القديس أمبروسيوس).</p>
<p>&#8220;لإطعام الخمسة آلاف دلالات في العهد القديم. فإن يسوع هو النبي الشبيه بموسى الذي أطعم الشعب في البرّيّة.&#8221; (القديس كيرلس السكندري ).</p>
<p>&#8220;كذلك فإن لمعجزة الإشباع بعض أوجه الشبه التي تربطها بالعهد القديم :- &#8220;فالخمس خبزات مثلاً تشير إلى أسفار موسى الخمسة.&#8221; (القديس أوغسطينوس).</p>
<p>&#8220;أيضًا، قد تكون الخمس خبزات إشارة إلى الحواسّ الخمس ، والسبع خبزات  التي أشبعت الأربعة آلاف هي خبز تقديس الراحة المبشّربخبزات القيامة الثمان.&#8221; (القديس أمبروسيوس).</p>
<p>&#8220;هذا الخبز هو كلمة الله التي تنمو في السر الذي قد صيّر الماء خمراً في  عرس قانا. إن الطعام المعجزيّ مِن الخبز والسمك والفائض عن الأربعة آلاف يعِدّ الطريق لطعام المسيح الأبقى: جسده ودمه. ومعجزة الإشباع هذه هي إشارة إلى إشباع الكنيسة بمائدة الرب ;بالوليمة السمائية.&#8221; ( القديس أمبروسيوس ).</p>
<p>&#8220;هذا الفائض يحفّز الذين لديهم القليل لضيافة الغرباء؛ إذ أن الرب سيوفِّر كل احتياج.&#8221; (القديس كيرلُّس السكندري).</p>
<p>&#8220;مائدة الشركة مع يسوع هي إشارة لِمَا هو آت… الطعام الأُخروي ( الأبدي ) ،  وهو ما يعِدّه خبز الحياة يسوع للمؤمنين لحياة العالم &#8221;  (القديس كيرلُّس السكندري)<a href="#_ftn2" name="_ftnref2">[2]</a>.</p>
<h3>الكنيسة في قراءات اليوم</h3>
<p>حضور الله في الليتورجيا                                                                   البولس</p>
<p>مواهب الروح القدس                                                                         البولس</p>
<p>مجئ الرب                                                                                   الكاثوليكون</p>
<h3>أفكار مقترحة لعظات</h3>
<h4>(١) البركة</h4>
<p>١- حضور المسيح وإشتياق النفوس وطاعة الخدّام أهم مداخل البركة     إنجيل عشيّة وباكر والقدّاس</p>
<p>٢- غني ومجد الكنيسة بحضور الله فيها وقوّة التأثير في الآخرين</p>
<p>&#8221; وتصير خفايا قلبه ظاهرة وهكذا يخرُّ علي وجهه ويسجد لله معترفاً أن الله بالحقيقة كائن فيكم &#8221;    البولس</p>
<p>٣- الشُح والظلم عوائق البركة</p>
<p>&#8221; هلم الآن أيها الأغنياء ابكوا مولولين علي شقاوتكم القادمة عليكم غناكم قد فسد وثيابكم قد أكلها العُثُّ &#8221;  الكاثوليكون</p>
<p>٤- زيف</p>
<p>البركة في الإعتماد علي البشر ودعمهم ومساندتهم</p>
<p>&#8221; إننا حاصلون بواسطتك علي سلام جزيل وقد صار لهذه الأمة قيام بعنايتك في كل زمان وفِي كل مكان &#8221;  الإبركسيس</p>
<p>٥- صراخ النفس وعطشها لله شرط البركة السمائية المُعْلنة في إشراقة النور الإلهي في القلب والفرح الدائم به</p>
<p>&#8221; بسطت يديَّ إليك صارت لك نفسي مثل أرض عديمة الماء &#8221; مزمور القداس</p>
<p>&#8221; نور أشرق للصديقين وفرح للمستقيمين بقلبهم &#8221;   مزمور باكر</p>
<h4>(٢) مداخل البركة</h4>
<p>١-الإشتياقات الكبيرة والعميقة</p>
<p>إشتياق الجموع للجلوس مع الرب في البرية ثلاثة أيام ليسمعوا كلمة الله يُعْلِن مدي إشتياقهم وشغفهم بكلمته     المُقدَّسة لذلك إستحقوا البركة والشفاء والشبع</p>
<p>٢- العطاء من الإعواز</p>
<p>أعطي الغلام الصغير طعامه للتلاميذ الذين أعطوه لرب المجد وأشبع بهم الجموع كلها وهذا يعكس قيمة عطيّة المحبّة من الإعواز ومدي غني البركة الإلهية فيها</p>
<p>٣- الشكر الدائم لله الآب علي كل عطاياه</p>
<p>جاءت البركة من يد ابن الله عندما شكر الله الآب ليقودنا للشكر الدائم في كل شئ وأن نرفع عيوننا للسماء في كل وقت وزمان</p>
<p>٤- الشركة المُقدَّسة</p>
<p>ما أجمل حياة الشركة بين التلاميذ الأطهار إذ تم التوزيع ببساطة وسرعة دون أن يكون نزاع أو صراع في من فيهم سيظهر أكثر أو يتقدم عن الآخرين وهكذا نري الشركة هي مدخل إستعلان إبن الله مصدر البركة والغني &#8221; لأنه حيثما اجتمع اثنان أو ثلاثة بإسمي فهناك أكون في وسطهم &#8221; مت ٢٠:١٨</p>
<p>٥- تدبير الخدمة ونظامها</p>
<p>لذلك قال الرب لهم &#8221; أتكئوهم فرقاً خمسين خمسين &#8221; (لو ٩: ١٤) ليكون التوزيع سهلاً ومحايداً</p>
<h4>(٣) يمكن الرجوع أيضا لعظات أناجيل البركة (الأحد الثاني من أمشير والثالث من أبيب )</h4>
<h3>عظات آبائية</h3>
<p>يمكن الرجوع لعظات يوم الأربعاء من الإسبوع الثاني في الصوم الكبير</p>
<h4>الربط بين معجزة إشباع الجموع وبين الوليمة السماوية أي الإفخارستيا عند القديس أمبروسيوس</h4>
<p>[ما هو السبب الذي جعل البشير يذكر موت يوحنا المعمدان ، إذ يشير هيرودس إلى موته ؟ ربَّما لأن الإنجيل الذي يُشبع الشعوب الجائعة بدأ بانتهاء الناموس.</p>
<p>لقد قدَّم الغذاء بعد شفاء نازفة الدم رمز الكنيسة، وبعد إرساليَّة الرسل المُرسلين للكرازة بملكوت الله.</p>
<p>تأمَّل من هم الذين تمتَّعوا بالوليمة؟ لم يتمتَّع بها الكسالى ولا الساكنون في الكسالى المدينة كمن هم في المجمع ولا طالبو كرامات العالم، إنما يتمتَّع بها الباحثون عن المسيح في البرِّيَّة&#8230; هؤلاء يقبلهم المسيح، ويحدِّثهم لا عن العالم، بل عن ملكوت السماوات. وإن كان من بينهم من غطَّت القروح جسده، يعطيهم الرب يسوع دواءه.</p>
<p>لقد دبَّر الله أن يُنقذ الذين شفاهم من جراحاتهم المؤلمة من الجوع ويهبهم الغذاء الروحي، إذ لا يستطيع أحد أن يتمتَّع بالوليمة السماوية إن لم يُشفَ أولًا. المدعوُّون للوليمة تمتَّعوا بالشفاء أولًا. فمن كان أعرج نال القوَّة للمشي ليأتِ عند الرب، ومن كان قد حُرم من نور عينيه لم يدخل بيت الرب إلا بعد عودة البصر إليه. هكذا يسير الرب بتدبير حسن مقدَّس في كل حين، إذ يعطي أولًا غفران الخطايا ودواء للجراحات ثم يهيئ الوليمة السماويَّة&#8230;</p>
<p>القلوب الجائعة للإيمان الراسخ لا تُشبَع إلا بجسد المسيح ودمه<a href="#_ftn3" name="_ftnref3">[3]</a></p>
<h4>القديس كيرلس الأسكندري: المفهوم العميق للبركة</h4>
<p>أيضاً ونحن نفحص المفهوم العميق للبركة التي نالها الاثنان، نقول كل مايخطر علي عقلنا ، وهذا علي ما أعتقد أنه ينفع أولئك الذين سوف يقرأون كلامنا.</p>
<p>حسناً، قال اسحق الطوباوي ليعقوب :&#8221;رائحة ابني كرائحة حقل قد باركه الرب.  فليعطِك الله من ندي السماء ومن دسم الأرض . وكثرة حنطة وخمر &#8220;(تك ٢٧: ٢٧- ٢٨) . الحديث عن الاثنين(يعقوب وعيسو ) اختلط مع بعضه، ومن الحديث عن كليهما يخرج حقٌ من خلال الحوادث التي صارت معها . وعلي أية حال ، فإن هذه الأمور لم تكتمل في يعقوب ، لكن في المسيح ،ولهؤلاء الذين نالوا الحق بالإيمان به ، الذين قد صاروا أولاد إسحق بحسب الموعد.</p>
<p>هكذا يتناسب مفهوم النبوة مع الشعب الجديد ومع المسيح نفسه الذي هو البداية والأصل ، فهو آدم الثاني حقاً وبمثابة جذر ثانٍ للبشرية لأن كل مافي المسيح هو خليقة جديدة . لقد تجددنا ثانية بالمسيح من جهة القداسة والحياة والخلود . أيضاً أعتقد أن حديث البركة يعني الرائحة الروحية الذكية التي في المسيح ، كالرائحة الجميلة والمفرحة التي تأتي من ورود الربيع في الحقول اليانعة والمزهرة . هكذا قدَّم لنا المسيح ذاته في نشيد الأنشاد قائلاً :&#8221; أنا نرجس شارون سوسنة الأودية &#8221; (نش٢: ١) .</p>
<p>حقاً كان سوسنةً ونرجساً ، هذا الذي نبت من الأرض كإنسان ، لكن بدون أن يعرف خطية ، إذ يفوح منه عبيق الرائحة الذكية علي كل المسكونة . إذاً، المسيح يشبه حقلاً مباركاً من الله حيث هو بالحق رائحة معرفة الله الآب الذكية لأن بولس الرسول قال</p>
<p>:&#8221; شكراً لله الذي يقودنا في موكب نصرته في المسيح كل حين ويُظهر بنا رائحة معرفته في كل مكان &#8220;(٢كو٢: ١٤).</p>
<p>فإن ربنا يسوع المسيح هو رائحة معرفة الله الآب الذكية ، لأنه يقول :&#8221; ليس أحد يعرف الابن إلا الآب &#8220;(مت١١: ٢٧) ، بسبب أنه من نفس طبيعة الآب ،وهو مساوٍ له في كل شيء . هذه الأقوال التي أشرنا إليها تناسب المسيح ،أما ما يتناسب مع شعب الله ، فهو الأقوال الآتية :&#8221; فليعطِك الله من ندي السماء. ومن دسم الأرض . وكثرة حنطة وخمر&#8221;(تك٢٧: ٢٨) . لأن الندي من السماء ومن دسم الأرض والخمر يشير إلي أن كلمة الله الاب قد أعطانا نعمة اشتراكنا معه بواسطة الروح القدس . وهكذا صرنا شركاء الطبيعة الإلهية ، وكذلك نلنا قمحاً وخمراً كثيراً، أي قوةً وبهجةً حيث إن كلام المرنم صادق حين يقول :&#8221; وخمرٌ تفرح قلب الإنسان … وخبز يسند قلب الإنسان&#8221; (مز ١٠٤: ١٦) . إذن ، الخُبز هو علامة القوة الذهنية والروحية ، بينما الخمر يشير إلي البهجة والفرح . وقد أعطاها المسيح بنفسه للمتحدين به . لكن كيف وبأيةِ طريقةٍ صرنا ثابتين في التقوي وغير متزعزعين ونعترف ونؤمن ونحن أقوياء وبلا أي تردد ؟ لقد صرنا هكذا لأننا نلنا سلطاناً :&#8221; أن ندوس الحيات والعقارب وكل قوة العدو&#8221;(لو١٠: ١٩) . هذا ما يشير إليه دسم الأرض (القمح الكثير ). أيضاً نلنا خمراً لأنه مكتوب:&#8221; وليملأكم إله الرجاء كل سرور وسلام في الإيمان لتزدادوا في الرجاء بقوة الروح القدس &#8220;(رو١٥: ١٣).</p>
<p>لأننا نحن ننتظر المسكن السَّماويّ ، أي الحياة الخالدة ، الحياة الأبدية ،حيث نملك مع المسيح .</p>
<p>هذه الأقوال ينبغي أن تُقال لنا ، إذ دعتنا الكلمة لهذا الأمر . بعد ذلك ، فإن بقية البركة سوف ترجع ثانيةً إلي عمانوئيل ، لأنه يقول :&#8221; ليُستعبد لك شعوب. وتسجد لك قبائل . كُن سيداً لإخوتك &#8221; (تك٢٧: ٢٩) . بمعني أن عمانوئيل وُصِفَ بالبكر عندما صار إنساناً مثلنا وبكراً بين إخوة كثيرين &#8220;(انظر رو٨: ٢٩) ، ولم يكن ممكناً أن يتوقف عن أن يكون إلهاً وربَّاً للكل ،إذ أننا نسجد له كربَّ وإله ، ورب الكل لنا نحن الذين دُعينا بالنعمة وصرنا إخوة ، كما هو مكتوب :&#8221; لأنه مَنْ في السماء يعادل الرب &#8220;(مز٨٩: ٦) . هكذا صار عمانوئيل الذي هو إله ورب الجميع للذين دُعُوا ليصيروا إخوته &#8221; لكي تجثو باسم يسوع كل ركبة ممن في السماء ومن علي الأرض ومن تحت الأرض &#8220;(في٢: ١٠) .</p>
<p>أيضاً يقول :&#8221; ليكن لاعنيكم ملعونين. ومباركوك مُباركين &#8220;(تك٢٧: ٢٩).</p>
<p>والقول واضح ، لأن الذين يلعنونه هم ملعونون وممقوتون من الله ، وعلي النقيض الذين يباركونه ، أي أن هؤلاء الذين يكرزون بمجده الإلهي هم مملؤون من المواهب الإلهية .</p>
<p>هذه هي بركة يعقوب والتي تشير إلي المعني العميق لكلمة عمانوئيل ولهؤلاء الذين تبرروا بالإيمان<a href="#_ftn4" name="_ftnref4">[4]</a>.</p>
<h4>الربط بين العطاء والبركة عند القديس كبريانوس</h4>
<p>أما تلك المخاوف التي تنتاب البعض من أن يفتقر لو أعطى صدقة بسخاء، فكونوا مطمئنين ولا تنزعجوا من جهة هذا الأمر ، فإن ما ينفق لأجل المسيح، ولأجل تتميم عمل السماء لا يمكن أن يفرغ أبدا، إن هذا الوعد  ليس من عندي، بل هو من الله (الأسفار المقدسة). فالروح القدس تكلم على فم سليمان قائلاً: « من يعطي الفقير  لا يحتاج، ولمن يحجب عنه عينيه لعنات كثيرة» (أم ٢٨ : ٢٧). موضحا أن الرحماء وفاعلي الخير لن  يمكن أبدا أن يكونوا في عوز، لكن على العكس، البخلاء والخائفون على ما لديهم ، سوف يجدون أنفسهم فيما بعد في فقر واحتياج. هكذا يقول الطوباوي بولس الممتلئ نعمة: «والذي يقدم بذارا للزارع وخبزا للأكل،سيقدم ويكثر بذاركم وينمي غلات بركم. مستغنين في كل شيء» (۲کو ٩:١٠، ١١). وأيضا: «لأن إفتعال هذه الخدمة ليس يسد إعواز القديسين فقط، بل يزيد بشكر كثير الله» (۲کو ۱۲:۹)، وذلك لأن الفقير يشكر الله كثيرا لأجل عطايانا وأعمالنا الصالحة، فيزداد الغنى لفاعلى الخير كمكافأة لهم من عند الرب، والإنجيل إذ ينظر إلى قلوب هؤلاء الناس يشجب قليلي الإيمان وغير المؤمنين ويقول: «فلا تهتموا قائلين: ماذا نأكل؟  أو ماذا  نشرب؟ أو ماذا نلبس فإن هذه كلها تطلبها الأمم. لأن أباكم السماوي يعلم أنكم تحتاجون إلى هذه كلها. لكن اطلبوا أولاً ملكوت الله وبره، وهذه كلها تزاد لكم» (مت٦: ٣١-٣٣). فكل شئ سوف يعطى ويزاد لمن يطلبون ملكوت الله وبره، فعند مجيء يوم الدينونة، سيتقدم هؤلاء الذين تعبوا في كنيسته وصنعوا أعمالاً صالحة لنوال الملكوت.</p>
<p>ليتك لا تخشى أن تخسر ميراثك الأرضي لو بدأت تتصدق منه بسخاء، ألا تعلم أيها الإنسان البائس أنك  بينما تخشى أن تفقد ثروتك، تخرب حياتك ذاتها وخلاصك. وبينما أنت قلق من أن تتقلص ممتلكاتك، لاتنتبه إلى أنك أنت ذاتك الذي تحب المال أكثر من نفسك، وأنك ضحيت بنفسك لأجل المال، لذلك حسنا يعلن الرسول ويقول: «لأننا لم ندخل العالم بشيء، وواضح أننا لا نقدر أن نخرج منه بشيء: فإن كان لنا قوت وكسوة ، فلنكتف بهما. وأما الذين يريدون أن يكونوا أغنياء، فيسقطون في تجربة وفخ وشهوات كثيرة غبية ومضرة، تغرق الناس في العطب والهلاك. لأن محبة المال أصل لكل الشرور، الذي إذ إبتغاه قوم ضلوا عن الإيمان، وطعنوا أنفسهم بأوجاع كثيرة» (١تى ٦: ٧-١٠).</p>
<p>هل تخشى أن تفرغ ثروتك متى بدأت تتصدق بسخاء؟ متى حدث أن احتاج إنسان بار لمعيشته ؟ أليس مكتوب : «الرب لا يُجيع نفس الصديق» (أم ١٠: ٣)؟ فإيليا كانت الغربان تطعمه في البرية ، ودانيال عندما ألقي في جب الأسود بأمر الملك أعدت له وجبة من السماء (انظر تتمة دا ١٣:١٤-۳۸). وبينما أنت تفعل الصلاح ، وتستحق الخير من الرب، تخشى لئلا يعوزك الطعام! إن الرب يشهد في الإنجيل ويوبخ أصحاب الأذهان المتشككة وقليلي الإيمان ويقول: «انظروا إلى طيور السماء: إنها لا تزرع ولا تحصد ولا تجمع إلي مخازن ، وأبوكم السماوي يقوتها. ألستم أنتم بالحري أفضل منها؟» (مت ٦ :٢٦).</p>
<p>إن الله يطعم الطيور والعصافير التي لا تدرك تلك الأمور الإلهية، بل وحتى الخليقة التي لا مشاعر لها، فالمأكل أو الشراب لا ينقصها أبدا، هل تعتقد أنك- وأنت مسيحى وخادم لله ومكرس في عمل الخير وعزيز جداً عند الله &#8211; أنك سوف تكون في عوز؟</p>
<p>هل يمكن أن يفكر الإنسان هكذا، أن يظن من يعطي طعاماً للمسيح ،أن المسيح لن يطعمه؟ وإن أولئك الذين أعطوا أمورا سمائية وإلهية أنهم سوف يعتازون إلى الأشياء الأرضية!! من أين يأتي هذا الفكر الخالي من الإيمان؟ من أين يأتي هذا الفكر الدنس؟ ما الذي يفعله مثل هذا القلب الجاحد، في بيت الإيمان ؟   وكيف يدعى مسيحيا من لا يؤمن بالمسيح على الإطلاق؟ إن لقب «فريسي» يليق به بالأكثر !</p>
<p>فالرب حينما تحدث في الإنجيل عن الصدقة سبق وعلمنا لأجل خلاصنا بأنه يجب علينا أن نصنع لأنفسنا أصدقاء بمال الظلم حتى نُقبل في المظال الإبدية، أضاف الكتاب بعد ذلك: «وكان الفريسيون أيضاً يسمعون هذا كله وهم محبون للمال فاستهزأوا به» (لو١٤:١٦).</p>
<p>فنحن نرى الآن مثل هؤلاء في الكنيسة. هؤلاء الذين أغلقوا آذانهم وأعموا قلوبهم، فلم يصغوا إلي التحذيرات الروحية المخلصة، لذا يجب علينا ألا نتعجب إن كانوا يزدروا بالخادم حينما يتكلم عن هذه الأمور،فأمثال هؤلاء قد استهزأوا بالرب ذاته.</p>
<p></p>
<p>لماذا لهذه الأفكار الحمقاء والفارغة أن تأخذ تسمح مكانها فيك؟ وتجعل تخوفك وقلقك من المستقبل يمنعك من فعل الخير؟ لماذا تتصور هذه الخيالات والأوهام حتى تجد لنفسك عذرًا واهياً؟ فلتعترف بالحقيقة وإكشف خفايا قلبك، لأنك لا تستطيع أن تخدع العارفين. لقد أطبقت الظلمة على ذهنك، وتسرب النور إلي خارجك ، فظلمة الطمع العميقة  قد أعمت قلبك الجسدانى: فأصبحت</p>
<p>عبد وأسير لمالك ولمقتنياتك، أنت مربوط بسلاسل وقيود الطمع، أنت الذي حررك المسيح، عدت ثانية إلي أسرك وسجنك، عدت تدخر المال على الرغم من أن ادخارك له لن يخلصك. أنت تكدس الثروة التي تثقل كاهلك بحملها الثقيل، ألا تذكر ما قاله الله للرجل الغني الذي كان يتباهى بحصاده الوفير: «يا غبي هذه الليلة تطلب نفسك منك. فهذه التي أعددتها لمن تكون؟» (لو ۲۰:۱۲). لماذا تطيل التفكير في غناك، إنك كلما صرت غنيا في نظر العالم، كلما ازددت فقرا في عيني الله؟ اقتسم أرباحك مع الرب إلهك، اجعل المسيح شريكاً في كل مكاسبك، اجعل المسيح شريك لك في ممتلكاتك الأرضية لكيما يجعلك هو أيضا وريث معه في ملكوته السماوي<a href="#_ftn5" name="_ftnref5">[5]</a>.</p>
<h3>عظات آباء وخدام معاصرين</h3>
<p>يمكن الرجوع لعظات يوم الأربعاء من الإسبوع الثاني في الصوم الكبير وعظة قداسة البابا تواضروس في يوم الإثنين من الإسبوع الخامس من الصوم الكبير</p>
<h4>المتنيح الدكتور ثروت باسيلي: العشور وبركاتها في حياتنا</h4>
<p>العشور هي نوع من أنواع التقدمات أو القرابين التي يقدمها الإنسان لله مثل الباكورات (البكور) والنذور وهي ذبائح شكر يقدمها الإنسان بفرح ويقبلها الله بالبركة.</p>
<p>وسوف نتحدث عن العشور من منطلق اختبار شخصي واختبارات أخرى لأناس تتمسك بالوصية وتعيش بها لأنها تعتبرها دستورا للمسيحية، فالوصية تعني أنها ضرورية التنفيذ وليست اختيارا يحتمل التطبيق أو عدمه.</p>
<p>وعندما عاش هؤلاء الناس الوصية اختبروا نتائجها وثمارها عندما تطبق بالروح والحق والتسليم.</p>
<p>كما يأتي الحديث عن العشور أو الصدقة من منطلق كتابي من خلال تتبع روح الوصية كما جاءت في العهدين القديم والجديد.  وصية العشور (التقدمة) في العهد القديم:</p>
<p>عرف قايين وهابيل ضرورة تقديم قربان الله من عمل يدين كل منهما فقدم هابيل من أبكار غنمه وقبل الرب قربانه، وقدم قايين من أثمار الأرض قرباناً للرب ولكن لم ينظر الرب لقربانه حيث كانت هناك خطية رابضة في قلبه (تك ٤ : ٣ &#8211; ٥).</p>
<p>ويأتي لقاء إبراهيم مع ملكي صادق ملك ساليم الذي أخرج خبزاً وخمراً وكان كاهنا لله العلى وبارك إبراهيم وكانت هذه هي المرة الوحيدة التي يذكر فيها تقديم الخبز والخمر من كاهن في العهد القديم حيث كانت تقدمات الكهنة من الذبائح الحيوانية. وبعد ذلك أعطى إبراهيم لملكي صادق عشرا من كل شئ (تك ١٨:١٤-۲۰). وقد فسر بولس الرسول في رسالة العبرانيين معنى هذه التقدمة: &#8220;لأن ملكي صادق هذا ملك ساليم كاهن الله العلي الذي استقبل إبراهيم راجعا من كسرة الملوك وباركه الذي قسم له إبراهيم عشرا من كل شئ …هو مشبه بابن الله &#8230;&#8221; (عب ٧: ١-٣).</p>
<p>أي أن كهنوت ملكي صادق هو رمز لكهنوت السيد المسيح الذي جاء ليحل محل كهنوت بني لاوي (أولاد إبراهيم) الذين لهم وصية أن يعشروا من الشعب والذين كانوا في صلب إبراهيم عندما خضع لملكي صادق وباركه وقدم له إبراهيم العشر من كل شئ. واستمر يعقوب في تقديم العشور عندما نذرها له إذا رجع إلى بيت أبيه بسلام وهذا الحجر الذي أسسته عمودا يكون بيت الله وكل ما تعطيني اني اعشره لك (تك ٢٢:٢٨).</p>
<p>وعند خروج بني إسرائيل من أرض مصر طلب الرب من عند دخولهم أرض الكنعانيين أن يقدموا للرب كل فاتح رحم وكل بكر من نتائج البهائم وكل بكر إنسان يقدم فدية عنه (خر ۱۳۰۱۲:۱۳).</p>
<p>ويعود الرب ليذكر شعبه بوصاياه في( تث ١٤:۲۲، ٢٣) &#8220;تعشيرا تعشر كل محصول زرعك الذي يخرج من الحقل سنة بسنة&#8230; لكي تتعلم أن تنتقي الرب إلهك كل الأيام&#8221; .</p>
<p>وتستمر أسفار العهد القديم في ذكر وصية التقدمة والصدقة والعطف على الفقير والمسكين والمريض حتى الأصحاح الثالث من سفر ملاخي آخر أسفار العهد القديم حيث يقول الله على لسان النبي : فإنكم سلبتمونى .. فقلتم بم سلبناك .. في العشور والتقدمة. قد لعنتم لعنا واياي انتم ساليون هذه الأمة كلها .هاتوا جميع العشور إلى الخزنة ليكون في بيتي طعام وجربوني بهذا قال رب الجنود ان كنت لا افتح لكم كوي السموات وأفيض عليكم بركة حتى لا توسع&#8230;&#8221; (ملا٣: ٨-١٠) هذه التقدمة هي حق الله إذا امتنع عن تقديمه الإنسان فإنه يسلب الله حقه وتكون اللعنة هي نصيبه.</p>
<p>هنا وفي هذا الموقف وحده وهذه الوصية فقط يسمح الله للإنسان بأن يجربه عندما يعطي عشوره ويختبر صدق مواعيد الله له بمباركة ما لديه وغمره لعطايا السموات التي لا حصر لها.</p>
<p>الوصية في العهد الجديد :</p>
<p>وقد يعترض البعض قائلا إنه قد انتهى عهد الوصايا والشريعة والناموس وجاء العهد الجديد بلا فرائض لأنه عهد النعمة والبر بالإيمان. وهو كذلك فعلا ولكن تجاوز السيد المسيح حرف الوصية وارتفع بالروح بالتقدمة ليتجاوز العشور كحد أدنى للعطاء إلى عطاء النفس والذات والعطاء من احتياجات النفس الخاصة كما امتدح السيد المسيح عطاء فلسي الأرملة التي أعطت من احتياجاتها في الهيكل.</p>
<p>جاء العهد الجديد ليكمل عمل الناموس في السمو بروح العطاء عند الإنسان فيصبح شعور من يعطي الصدقة كمن يأخذ من يد الله. وفيما يخص العشور لم ينقض السيد المسيح هذه الوصية بل قال: &#8221; ان لم يزد بركم على الكتبة والفريسيين لن تدخلوا ملكوت السموات&#8221; (مت ٢٠:٥) وتقدمت وصية الصدقة في الموعظة على الجبل على وصية الصلاة والصوم ومن المؤكد أن السيد المسيح يقصد بهذا الترتيب التأكيد على أهمية الصدقة التي وضعها القديس متى الرسول في بداية الأصحاح السادس وعاد إليها ليؤكد أن الصدقة هي كنز في السماء حيث لا يفسد سوس ولا صدا، &#8221; لأنه حيث يكون كنزك هناك يكون قلبك أيضا&#8221; (مت ٦: ٢١). والصدقة ليست مجرد كنز في السماء بل السبب وراء إرث الملكوت المعد لنا منذ تأسيس العالم كقول السيد المسيح نفسه: &#8220;تعالوا يا مباركي أبي رثوا الملكوت المعد لكم منذ تأسيس العالم لأني جعت فأطعمتموني عطشت فسقيتموني كنت غريباً فأويتموني عريانا فكسوتموني مريضا فزرتموني محبوسا فأتيتم إلي&#8230; الحق أقول لكم بما أنكم فعلتموه بأحد إخوتي هؤلاء الأصاغر فبي فعلتم.&#8221; (مت ٣٤:٢٥-٤٠) .</p>
<p>لقد تجاوز العطاء العشور إلى بيع كل المال وإعطائه للفقراء كما أجاب يسوع الشاب الذي سأله&#8221; ماذا أعمل لأرث الحياة الأبدية؛ فنظر إليه يسوع وأحبه وقال له يعوزك شيء واحد اذهب بع كل مالك واعط الفقراء فيكون لك كنز في السماء وتعالى اتبعني حاملا الصليب (مر ۲۱:۱۰) .</p>
<p>وهكذا كانت إجابة يوحنا المعمدان على أسئلة الكثيرين ماذا نفعل لكي نتوب وترجع إلى الله ونصل إلى الملكوت؟ فيقول لهم : من له ثوبان فليعطى من ليس له ومن له طعام فليفعل هكذا (لو ۱۱،۱۰:۳)، كما كانت وصية السيد المسيح للجموع: وكل من سألك فأعطه ومن أخذ الذي لك فلا تطالبه&#8221; (لو ٦: ٣٠).. لقد أحب الأنبا ابرام هذه الوصية جداً وعمل بها طوال حياته فكان يقدم ماله لكل من يسأله ولا يرفض سؤال أحد.</p>
<p>كانت الصدقة سبباً في خلاص كرنيليوس الذي لم يكن يهوديا ولكن ملاك الله خاطبه قائلا : &#8220;صلواتك وصدقاتك صعدت تذكاراً أمام الله (أع٤:١٠) وأخبره كيف يصل إلى بطرس ليعتمد ويأخذ الروح القدس.</p>
<p>وتمضي روح الوصية في رسائل بولس الرسول وبطرس ويعقوب ويوحنا لتضع الاهتمام بالفقراء أولاً وثانياً وثالثاً حتى ثامناً ثم تأتي الاهتمامات الأخرى للكنيسة من نشاطات اجتماعية وغيرها من إقامة مبان ومنشآت..</p>
<p></p>
<p>هذا العطاء يقدم في الخفاء &#8220;فلا تعرف شمالك ما تفعل يمينك&#8221; (مت٦: ٣).</p>
<p>هذا العطاء يقدم بروح السرور والبركة: &#8221; هذا وإن من يزرع بالشح فبالشح أيضاً يحصد ومن يزرع بالبركات فبالبركات أيضا يحصد كل واحد كما ينوي بقلبه ليس عن حزن أو اضطرار لأن المعطي المسرور يحبه الله (۲کو٩: ٦، ٧).</p>
<p>هذا العطاء يقدم بروح الانسحاق والخشوع ولسان حاله يقول &#8221; لأن منك الجميع و من يدك أعطيناك &#8221; (١ أي ١٤:٢٩)هذا العطاء يقدم بدون حساب ودون حدود حينئذ تصير كل الوصايا سهلة وهينة الحمل.</p>
<p>قد يسأل البعض : الله غني لا يحتاج مني شيئاً فكيف يطلب منا وهو الذي يملك الكل؟؟</p>
<p>لقد عرفت الإجابة حينما كان يجلس أحد أحفادي على قدمي وكنت أطعمه شيئاً يحبه فإذ به يضع إحداها في فمي ففرحت بما أعطاني ووهبته كل ما لدي مما يحبه. هكذا الله الآب يطلب منا التعبير عن حبنا له كما عبر هذا الطفل ذو العامين من عمره.  بركات الصدقة :</p>
<p>-اختبار الطاعة للوصية والاعتراف بفضل الله علينا الذي يمتد من العطايا المادية الي العطايا البشرية متمثلة في اولادنا الذين ليسوا ملكاً لنا بل ملكاً لله كذلك المواهب الروحية هي عطية من الله وإذا شعر الإنسان انها موهبة شخصية انسحبت منه.</p>
<p>الإيمان ببركة الله وصدق مواعيده في مباركة ما في أيدينا بعد تقديم العشور، الإيمان بأن التسعة ببركة الرب أكبر وأكثر من العشرة بدون بركة الرب.</p>
<p>قال المتنيح أبونا صليب سوريال: إن الذي لا يستطيع في صغره تقديم ۱۰ قروش من الجنيه لا يستطيع تقديم الجنيه من العشرة ولا العشرة من المائة ولا المائة من الألف&#8230;.</p>
<p>التراحم والتعاطف بين أبناء الله والشعور بالمحبة لا بالكلام واللسان بل بالعمل والحق. لقد عدد الله البركات لمن يتعطف على المسكين حيث ينجيه الرب في يوم الشر ويحفظه ويحييه ويفرح في الأرض ولا يسلمه إلى أعدائه ويعضده على سرير مرضه (مز ٤١: ١-٣).</p>
<p>قد يعمل بعض الأشخاص بجهد كبير ورغم ذلك يكاد الناتج لا يكفي ولا يفي باحتياجاتهم، وقد يعمل الآخرون بجهد أقل ويفيض ما يحصلون عليه عن احتياجاتهم والسبب وراء هذا وذاك انعدام بركة الرب أو وجودها&#8230; أخيراً يا إخوتي أقول إن العشور لا تغفر الخطايا ولا تخلص ولا توصل إلى الملكوت بدون الوصايا الأخرى ودون إعطاء كل القلب وتقديم الذات للرب إلهنا.</p>
<p>تعليق المجلة :</p>
<p>هذه العظة و إن كانت غير حديثة لكنها تعتبر عظة كل يوم فالمجلة تنشرها لما تتميز به من شمولية واختبار شخصي ومعايشة للواقع. فالشمولية تظهر في تناول الموضوع من خلال العهد القديم والجديد ومن حيث تناول الهدف من العشور ومعناه وبركاته وكيفية القيام به وكذلك شمولية الرؤية للحياة الروحية التي لا تقوم على عنصر واحد. أما الاختبار الشخصي فيظهر من خلال الحياة العملية بالوصية وظهور البركات والثمار الفعلية في الواقع من حيث النجاح عملياً وروحيا. كذلك معايشة الواقع والرد عليه حيث يرفض المجتمع الرأسمالي السائد على العالم اليوم إعطاء مكانة للأضعف والأفقر، ومن هذا المنطلق تختلف الاتجاهات حول السبيل إلى تنفيذ وصية الصدقة والرحمة بالفقراء حيث يرى البعض فيها أنها تسبب تواكل هؤلاء الفقراء واعتمادهم المستمر على الآخرين وعدم محاولتهم الارتقاء بأنفسهم. وقد يستمر الجدل بعرض الحجج من كلا الجانبين المؤيد والمعارض ولكن تبقى وصية السيد المسيح أوضح وأقوى حجة لتعريف السبيل إلى ملكوت السموات بإطعام الفقير وإيواء الغريب وكسوة العريان&#8230; ويبقى الاختبار الشخصي دليل دامغ على صدق مواعيد الله<a href="#_ftn6" name="_ftnref6">[6]</a>.</p>
<h3>من وحي قراءات اليوم</h3>
<p>جاءت البركة بعد ما مكثت الجموع ثلاثة أيام مع المسيح</p>
<p>جلوسهم ثلاثة أيام لسماع الكلمة يُبكِّت ويسحق أعذارناوإعتذاراتنا</p>
<p>كلَّمهم &#8221; أولا &#8221; عن ملكوت الله لاتعني وجود ثانيا بل أساساً لمايأتي بعدها</p>
<p>طلبت الجموع غني كلمته فإكتشفوا تسديد كل إحتياجاتهم بغني</p>
<p>ماأجمل مافعله القديس إندراوس إذ لم يستحي من قلة الموجود وأعلنه للرب</p>
<p>وكان في المكان عشب كثير يوضح إهتمام الرب براحة الناس في جلستهم</p>
<p>شكر وبارك وكسر وأعطي هي مايجب أن نفعله بما نملكه</p>
<p>البركة الإلهية تخطت وفاقت كل عجز مفردات البشر من ( موضع قفر ) ، ( وليس عندنا ) ، ( وماهذا لكل هؤلاء )</p>
<p>تمجيد الناس للرب في عمله يرجع لظهوره وحده في المشهد وإختفاء التلاميذ عن أي ظهور</p>
<p>المعجزة تعلن مباركة الرب لإشتياقات شعب ، وإنكار ذات خدام ، ونظام وترتيب</p>
<hr />
<p><a href="#_ftnref1" name="_ftn1"></a>١- العلَّامة أوريجانوس &#8211; تفسير إنجيل متي (الإصحاح الرابع عشر ) &#8211; القمص تادرس يعقوب ملطي</p>
<p><a href="#_ftnref2" name="_ftn2"></a>٢- Jr,A.J.&amp; Oden,T.C. (2002). Luke (The Ancient Christian Commentary on Scripture, New Testament III ) Illinois (U.S.A): InterVarsity Press. Pages 150</p>
<p>ترجمة الأخت إيفيت منير &#8211; كنيسة مار مرقس ببني سويف</p>
<p><a href="#_ftnref3" name="_ftn3"></a>٣- المرجع : تفسير إنجيل لوقا (الإصحاح التاسع ) &#8211; القمص تادرس يعقوب ملطي</p>
<p><a href="#_ftnref4" name="_ftn4"></a>٤- المرجع : كتاب تعليقات لامعة علي سفر التكوين للقديس كيرلس عمود الدين صفحة ٢٧٤ &#8211; ترجمة دكتور جورج عوض إبراهيم ومراجعة دكتور نصحي عبد الشهيد</p>
<p><a href="#_ftnref5" name="_ftn5"></a>٥- المرجع : كتاب مقالات القديس كبريانوس ( صفحة ١١٩ ) &#8211; ترجمة الراهب القمص مرقوريوس الأنبا بيشوي</p>
<p><a href="#_ftnref6" name="_ftn6"></a>٦- المرجع: مجلة مدرسة الاحد فبراير ٢٠٠٧</p>

      {% endcreateArticleAccordions %}
    </section>
  {% endblock %}
  