---
layout: 'layouts/reading.html'
title: 'الأحد الثالث من شهر بشنس'
permalink: sundays/9-3.html
---
  {% block content %}
    <section id="readings">
      <ul>
      {% if '19.79:13,9' != 'null' %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">العشية</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeVespers '19.79:13,9' '40.22:34-40' %}
          </div>
        </div>
      </li>
      {% endif %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">باكر</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeMatins '19.74:12,2' '42.24:1-12' '' %}
          </div>
        </div>
      </li>
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <h3 class="flex items-center justify-between">
            <span class="kufi">القداس</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </h3>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeLitugy '58.11:1-10' '62.43.4:15-21*@+62.5:1-4' '44.13:44-52' '19.68:26,19' '42.10:25-37' %}
          </div>
        </div>
      </li>
        </ul>
    </section>
    <section id="article">
      <h3 class="mt-8 mb-4 heading-explain">شرح القراءات</h3>
      {% createArticleAccordions firstName, lastName %}
        <p>&#8221; فتحب الرب إلهك من كل قلبك ومن كل نفسك ومن كل قوتك ولتكن هذه الكلمات التي أنا أوصيك بها اليوم على قلبك وقصها على أولادك، وتكلم بها حين تجلس في بيتك، وحين تمشي في الطريق، وحين تنام وحين تقوم واربطها علامة على يدك، ولتكن عصائب بين عينيك واكتبها على قوائم أبواب بيتك وعلى أبوابك &#8221; (تث ٦ : ٥-٩)</p>
<p>&#8221; إذا ما أحببنا اسم الخلاص الذي لربنا يسوع المسيح وصنعنا الرحمة بعضنا مع بعض نكمل كل الناموس &#8221; إبصالية الأربعاء</p>
<p>&#8221; طوبى للنفس التي جمعت نفسها من الطياشة الخارجة عنها، ودخلت داخلها ونظرت ربنا وهو متكئ على كرسيه الذي هو العقل، وقبلت منه وصية جديدة أعني الحب الروحي الذي هو كمال الناموس.<a href="#_ftn1" name="_ftnref1">[1]</a> &#8221;</p>
<p><a href="#_ftn2" name="_ftnref2">[2]</a>   &#8221; سأل أخ شيخًا: إني أريد أن أستشهد من أجل الله. فأجابه: &#8220;من احتمل أخاه في وقت الشدة، فذاك  أصبح داخل أتون الثلاثة  فتية &#8221;</p>
<p></p>
<p></p>
<h3>ملاحظات علي قراءات اليوم</h3>
<p>+ مزمور باكر ( مز ٧٣ : ١١ ) اليوم جاء أيضاً في مزمور باكر يوم ١٩ توت ( اليوم الثالث لعيد الصليب ) ، والإشارة في قراءة الأحد ( وأيضاً يوم ١٩ توت ) إلي إعلان الحب الإلهي من خلال الصليب</p>
<p>+ قراءة البولس اليوم (عب ١١ : ١ &#8211; ١٠) جاءت أيضاً في ٢ بؤونه ، ٢٨ مسري</p>
<p>وتُشير القراءة إلي هابيل في موته والذي كان يوحنا المعمدان ( ٢ بؤونه ) مثله في موته كما قيل &#8221; وإن مات يتكلَّم بعد &#8221;</p>
<p>وتُشير إلي أهمِّية الإيمان ( الأحد الثالث من بشنس ) ، وإلي إيمان أب الآباء إبراهيم ( ٢٨ مسري ) الذي لما دُعي أطاع أن يخرج إلي المكان الذي كان عتيداً أن يأخذه</p>
<p>+ قراءة الكاثوليكون اليوم (١يو ٤ : ١٥ &#8211; ٥ : ١ &#8211; ٤ ) هي نفس قراءة الكاثوليكون ليوم ٣٠ كيهك</p>
<p>وتُشبه قراءة الكاثوليكون ( ١يو ٤ : ١٥ &#8211; ٢١) ليوم ٢٩ مسري ( شهادة أثناسيوس الأسقف )</p>
<p>، وقراءة الكاثوليكون (١يو ٤ : ٧ &#8211; ١٩) ليوم ٢٤ بشنس ، وتُشبه قراءة الكاثوليكون (١يو ٤ : ١١ &#8211; ٢١ ) للأحد الثالث من شهر طوبي</p>
<p>والكلام هنا اليوم عن الإعتراف بالمسيح والثبات في محبته كمدخل لبركات الخلاص</p>
<p>والإعتراف بالمسيح وعدم الخوف ( شهادة أثناسيوس الأسقف ) ، وعن المولودين من الله ( ثاني يوم عيدالميلاد وتذكار القديس يوأنس قمص شيهيت ) في ٣٠ كيهك ، وعن إرسالية إبن الله لخلاص العالم والأمم ( في ٢٤ بشنس ،والأحد الثالث من طوبه )</p>
<h3>شواهد القراءات</h3>
<p>(مز ٧٨ : ٨- ١٤) ، (مت ٢٢ : ٣٤ &#8211; ٤٠) ، (مز ٧٣ : ١١- ١٦) ، (لو ٢٤ :١ &#8211; ١٢) ، (عب١١ :١ &#8211; ١٠) ، (١يو ٤ :١٥ &#8211; ٥ :١ -٤) ، (أع ١٣ : ٤٤ &#8211; ٥٢) ، (مز ٦٧ : ١٩-٢٥)، (لو١٠ : ٢٥ &#8211; ٣٧)</p>
<h3>شرح القراءات</h3>
<p></p>
<p>يدعو النبي الرب في مزمور عشية الأحد الثالث ليعطينا خلاصه وغفرانه ( من أجل مجد اسمك يارب خلصنا واغفر لنا خطايانا ) ويشير مزمور باكر بوضوح إلي الصليب وإستعلان الخلاص ( صنع خلاصا في وسط الأرض ) لذلك تسبح الكنيسة الرب في مزمور القداس كل الزمان ( باركوا الله في الكنائس الرب من ينابيع إسرائيل مبارك الرب الإله مبارك الرب يوما فيوما )</p>
<p>ويعلن إنجيل عشية طريق خلاص كل إنسان وجوهر الوصية الإلهية التي تسمو فوق الكل وهي المحبة الإلهية من كل الكيان ومحبة الكل ( وسأله واحد وهو ناموسي ليجربه قائلا : يامعلم أية وصية هي العظمي في الناموس فقال له يسوع : أحبب الرب إلهك من كل قلبك ومن كل نفسك ومن كل قوتك ومن كل فكرك هذه هي الوصية الأولي والعظمي والثانية مثلها أحبب قريبك كنفسك)</p>
<p>بينما يقدم لنا البولس نماذج لمن خلصوا في القديم وأهمية الإيمان الحي العملي ( بالإيمان قدم هابيل لله ذبيحة أفضل من قايين &#8230;. بالإيمان نقل أخنوخ لكي لايري الموت &#8230; بالإيمان نوح لما أوحي إليه عن أمور لم تر بعد خاف وبني فلكا لخلاص بيته &#8230; وصار وارثا للبر الذي حسب الإيمان )</p>
<p>أما الكاثوليكون فيقول لنا أن غلبتنا في كمال محبتنا وفي إيماننا ( لاخوف في المحبة بل المحبة الكاملة تطرح الخوف إلي خارج &#8230;. فإن هذه هي محبة الله : أن نحفظ وصاياه ووصاياه ليست ثقيلة لأن كل من ولد من الله يغلب العالم وهذه الغلبة التي تغلب العالم إيماننا )</p>
<p>وفي الإبركسيس يدعو الله كل كارز وخادم ليكون نورا وخلاصا لكل الناس ( لأن هكذا أوصانا الرب : قد أقمتك نورا للأمم لتكون أنت خلاصا إلي أقصي الأرض )</p>
<p>لذلك يختم إنجيل القداس بالمدخل الأعظم لخلاص كل إنسان ووسيلة وطريق ميراث الحياة الأبدية وهو محبة الله من كل القلب والنفس والقدرة والفكر فتجعل كل نفس أكثر إتساعا من السماء لتشمل وتغطي المحبة وتتخطي كل الحدود التي يضعها البشر ( وإذا ناموسي قام يجربه قائلا : يامعلم ماذا أصنع لأرث الحياة الأبدية فقال له : ماهو مكتوب في الناموس : كيف تقرأ فأجاب وقال : أحبب الرب إلهك من كل قلبك ومن كل نفسك ومن كل قدرتك ومن كل فكرك وقريبك كنفسك &#8230;. ومن هو قريبي &#8230;. فأي هؤلاء الثلاثة تري صار قريبا للذي وقع بين اللصوص فقال الذي صنع معه الرحمة )</p>
<h4>ملحوظة</h4>
<p>يُقال أن أريحا كان فيها حوالي ١٢ ألف لاوي لذلك كانوا يسافرون كثيراً من أريحا لأورشليم والعكس لإتمام خدمة الهيكل لذلك فهو طريق معروف لهم ( كنز التفسير الشماس بشارة بولس ص ٢٨١ )</p>
<p></p>
<p></p>
<h3>ملخَّص القراءات</h3>
<p></p>
<p>أي أن الخلاص الذي أعلنه الرب في وسط الأرض بصليبه ليعطي غفرانا وتسبيحا للبشرية كلها  ( مزمور عشية وباكر والقداس)</p>
<p>ليكون كل إنسان نورا للآخرين                                                         ( الإبركسيس)</p>
<p>هذا الخلاص نعيشة بالمحبة الكاملة من كل القلب                         ( إنجيل باكر والقداس )</p>
<p>وهذه المحبة تطرح الخوف من حياتنا                                             ( الكاثوليكون )</p>
<p>كما نعيشه بالإيمان العملي                                                              ( البولس )</p>
<p>وهذا الإيمان يعطينا الغلبة علي العالم                                             ( الكاثوليكون )</p>
<p>كما أن هذه المحبة تتخطي كل الحواجز بين البشر                            ( إنجيل القداس )</p>
<p></p>
<p></p>
<h3>إنجيل القدَّاس في فكر آباء الكنيسة</h3>
<p></p>
<p>يريد النَامُوسِيٌّ أن يوقع يسوع في شرك،لكنه بذلك يظهر أنه لا يفهم سر التجسد، لأن السيد ليس مجرد رجل أمامه بل هو ابن الله (القديس كيرلس الأسكندري ).</p>
<p>تفترض الإجابة أن طريق التوراة هو طريق الحياة.</p>
<p>كل تعاليم السيد المسيح تبقى على قمة جناحي هاتين الوصيتين (مار افرام السرياني).</p>
<p>لأنه لتعرف القانون، يجب ان تعرف سر التجسد الإلهي،الا وهو معرفة الحق (القديس امبروسيوس).</p>
<p>يُظهر رد يسوع على سؤال النَامُوسِيٌّ حول الحياة الأبدية أن النَامُوسِيٌّ قد فقد غنيمته وأن سؤاله (استجوابه) ليسوع لن يؤتي ثماره ( القديس كيرلس الأسكندري ).</p>
<p>السامري الصالح جاره لأنه أظهر شفقة (أوريجانوس).</p>
<p>كل الناس هم جيراننا، ليس فقط إخوتنا وأقاربنا ولكن أيضًا الغرباء (القديس جيروم).</p>
<p>أريحا هي صورة للعالم الذي طُرد إليه آدم من الفردوس. كانت مفاجأة كبيرة أن يكون المسافر (المار) الثالث سامريًا &#8211; وقد تم تصويره على أنه بطل تلك القصة &#8211; لأن هذا السامري ليس سوى المسيح (القديس امبروسيوس).</p>
<p>يتعامل معظم آباء الكنيسة مع مثل السامري الصالح بشكل مجازي بتفسير كريستولوجي (أوريجانوس).</p>
<p>إنه يعرّف السامري الصالح بيسوع، والزيت والنبيذ على أنهما الأسرار المقدسة، والفندق ككنيسة، مما يدل على أن رحمة الله يمكن فقط العثور عليها في (من خلال)أسرار الكنيسة (القديس أوغسطينوس).</p>
<p>من خلال تضميد جروح الانسان، تُظهر الأسرار أن لديه العديد من الادوية للشفاء. وفي اليوم التالي (الغد)عندما يصل هو يوم الرب، يوم القيامة. فان الديناريناللذان اعطاهما هما عهدي الإنجيل للتبشير لصاحب النزل وهو وكيل الأسرار (القديس امبروسيوس).</p>
<p>النَامُوسِيٌّون الذين يستجوبون (يسألوا) يسوع لا يحرزون أي تقدم حتى يدركوا أنهم نصف اموات (بين حي وميت)، وأن يسوع هو الشخص الذي يرحم والمشبه بالقريب، لأنه الشخص الذي يرغب في أن يُدعى قريبنا (القديس أوغسطينوس)، ونحن الآن نحبه كما نحب قريبنا (القديس امبروسيوس)<a href="#_ftn3" name="_ftnref3">[3]</a>.</p>
<p></p>
<p></p>
<h3>أفكار مُقترحة لعظات</h3>
<h4>(١) الخلاص</h4>
<p>١-الخلاص بالصليب وهو الإحتياج الدائم لأولاد الله                                      مزمور عشيَّة وباكر والقدّاس</p>
<p>٢- حياة الإيمان كما عاشها آبائنا الأطهار                                                       البولس</p>
<p>٣- حِفْظ الوصيَّة والمحبّة الأخويّة طريق غلبة العالم                                        الكاثوليكون</p>
<p>٤-كلمة الله كلمة الخلاص                                                                        الإبركسيس</p>
<p>٥- الرحمة دون حدود إعلان ملء المحبَّة وكمال الناموس                                  إنجيل عشيَّة والقدَّاس</p>
<p>أي أن الخلاص هو إحتياجنا كلنا ونحياه كل يوم في حياة الإيمان وحفظ الوصيّة والإلتصاق بكلمة الله ويُعْلِن عنه محبتنا الكاملة وفرحنا الدائم</p>
<h4>(٢) المحبّة من كُلِّ القلب والنفس والقدرة والفكر</h4>
<p>١- القلب ( الإهتمام &#8211; التوبة والحرص )</p>
<p>إمتلاء القلب بالحب يرجع إلي مدي إهتمام الإنسان بالحياة مع الله وكيف يجعله أهم أولوياته وكيف تكون وقفة الصلاة وجلسته مع كلمة الله أعظم من أي إنشغال آخر</p>
<p>وكيف يكون حرصه لئلا يتدنس القلب بأي إهتمام غريب وأي ثعالب صغار تُفْسِد كَرْم حياته ( نش ١٥:٢ ) وكيف تكون التوبة حياته اليومية ومراجعه النفس منهج وأسلوب حياة في كل وقت وبعد كل عمل</p>
<p>٢- النفس ( التسبيح الدائم )</p>
<p>إمتلاء النفس بالحب عندما تتعوَّد النفس علي التسبيح والشكر وتمجيد الله في صلوات الكنيسة وتسبيحاتها المختلفة طوال العام والمشاركة والإنفعال المقدَّس بها فترتاح النفس في الله وتمتلئ من محبّته الإلهية</p>
<p>٣- القدرة ( الإلتزام والتغصب )</p>
<p>تمتلىء إرادة الإنسان بالمحبّة الإلهية مع الوقفة الحازمة معها وتَغَصُّب الإنسان علي العمل الروحي والعبادة بهدف تذوق المحبّة الإلهية وشيئاً فشيئاً تتعود الإرادة وتقوي في إتجاه إرتياحها وقبولها لكل ما هو روحي ( وكل من يجاهد يضبط نفسه في كل شئ  (١كو ٩ : ٢٥)</p>
<p>٤- الفكر ( معرفة الكتب المُقدَّسة )</p>
<p>يمتلئ الفكر بمحبة الله عندما يقرأ كثيراً في كلمة الله وفِي الكتب المُقدَّسة القادرة أن تحكمه للخلاص وتُقَدِّس الفكر وتنقِّيه وتجعله فكر المسيح (١كو ٢ : ١٦)</p>
<h4>(٣) الرحمة</h4>
<p>عظة الأحد الرابع من بؤونه</p>
<h3>عظات آبائية</h3>
<h4>العلَّامة أوريجانوس</h4>
<p>&#8220;ولولوا عليها، خذوا بلسانًا (بلسمًا &#8211; مرهمًا) لجرحها لعلها تُشفَى&#8221;.</p>
<p>بما أن كل نفس يمكنها أن تحصل على الخلاص، لا توجد نفس واحدة غير قابلة للشفاء بالنسبة للرب، لذلك ينصح الله الذين يستطيعون أن يعبروا إلى أورشليم أن يحصلوا على بلسم العهد الجديد، أن يحاولوا بقدر استطاعتهم أن يستخدموا هذا العلاج مع بابل لكي تُشفى وتستعيد صحتها.</p>
<p>ليتنا نحاول نحن أيضًا أن نفعل ذلك، فنطلب من الله أن يعطينا البلسم الروحي؛ لكي نتعلم كيف نعصب جراحات بابل، مقتدين بالسامري الصالح؛ وبالتالي تُشفى هذه المدينة البائسة، فلا تعود بعد إلى حالتها الأولى.</p>
<p>أين هم الهراطقة الآن؟ أين الذين يؤمنون بتعدد أنواع النفوس، ويؤكدون وجود نوعٍ من النفوس لا رجاء فيه، والأمل في خلاصه مفقود؟ لو كانت هناك نوعية من النفوس لا بد أن تهلك، أفما كانت بابل هي أول تلك النفوس التي يجب أن تهلك؟</p>
<p>ومع ذلك، فإنه حتى بالنسبة لبابل، لم يحتقرها الله، بل يأمر الأطباء أن يضعوا بلسمًا لجرحها لعلها تشفى!</p>
<p>إذًا هؤلاء الذين صدر الأمر إليهم بمعالجة بابل، حينما علموا بإمكانية شفائها واستعادة صحتها، قاموا بالفعل بتنفيذ الأمر، ووضعوا بلسمًا على جرحها، لكن إذ وجدوا أنهم لم يحصلوا على النتيجة التي كانوا ينتظرونها، لأن بابل ظلت في شرورها ولم ترد أن تُشفى، قالوا بعد أنهم أدوا مهمتهم وتمموا مسئوليتهم: &#8220;داوينا بابل فلم تُشفَ، دعوها&#8221;. أفلا يحدث معك هذا أنت أيضًا أيها الإنسان؟</p>
<p>يحدث أحيانًا أن يرسل لك الله الملائكة ويأمرهم بوضع المراهم عليك لعلاجك من مرض النفس &#8220;لعلك تُشفى&#8221;، فتكون النتيجة أن هؤلاء الملائكة يجيبون الرب قائلين: &#8220;داوينا بابل، التي هي نفسك المضطربة بشهوات هذا العالم، فلم تُشفَ&#8221;. سبب عدم الشفاء لا يرجع إلى قلة معرفتهم وخبرتهم الطبية ولا إلى رداءة نوع البلسم، بل يرجع السبب أولًا وأخيرًا إليك أنت، لأنك لم تشأ أن تُشفى، فلم تتبع تعليماتهم وعلاجهم. &#8220;دعوها&#8221;؛ إن الملائكة هنا كانوا يمثلون أطباء مهمتهم تنفيذ أوامر الله الطبيب الأعظم؛ لقد أرادوا معالجة ضعفاتنا وتحرير نفوسنا من الرذائل، أما نحن فإننا نُبعدهم عنا بعيدًا برفضنا اتباع نصائحهم. لذلك فإن هؤلاء الملائكة، إذ يرون أن تعبهم يذهب هباءً، يقولون: &#8220;دعوها. ولنذهب كل واحدٍ إلى أرضه&#8221;. أو أنهم يقولون بطريقة أخرى: لقد سلمنا الله الدواء لمعالجة النفس البشرية، فجئنا لنجدتها وقدمنا لها الدواء، أما هي فإنها عنيدة جدًا وعاصية لا تريد أن تستمع إلى ما نقوله، وقد أصبح مجهودنا بلا ثمر، وبالتالي &#8220;دعوها ولنذهب كل واحدٍ إلى أرضه&#8221;.</p>
<p>احذر أيها الإنسان لئلا يتركك الطبيب، سواء كان هذا الطبيب ملاكًا من قبل الرب أو إنسانًا مكلفًا من قبل الله بإعطائك الدواء الذي يقودك إلى الخلاص.</p>
<p>لأنه لو تركك الطبيب وقال: &#8220;دعوها ولنذهب كل واحدٍ إلى أرضه، لأن قضاءها وصل إلى السماء وارتفع إلى السحاب&#8221;، فإن تركه إياك إنما يعني إدانتك كإنسانٍ غير قابل للشفاء لأنك رفضت أن تعالج. عندما يتركك الطبيب، ماذا يحدث لك إلا الشيء الطبيعي الذي يحدث لأي مريض فقد الأطباء الأمل في شفائه؟ المريض الذي أحب مرضه يسقط حتمًا في حالة أكثر سوءًا.</p>
<p>يظل الأطباء الصالحون المخلصون  بجانب المريض طالما يستطيعون معالجته بحسب مهنتهم، وطالما يمكنهم أن يستخدموا الدواء مع هذا المريض. لكن إذا تفاقم المرض وازداد سوءًا إلى درجة فقدان الأمل في الشفاء، أو إذا خالف المريض تعليمات الأطباء نتيجة لتعبه من الآلام وضجره منها، إذ يفقد الطبيب الأمل في مثل هذا الإنسان يدعه (يتركه) وينسحب لئلا يموت المريض بين يديه، وبالتالي تُلقى المسئولية عليه. نفس الشيء يحدث معنا نحن أيضًا، فلكي تتجنب الملائكة الأطهار أن نموت بين أيديها يتركوننا عندما يفقدون الأمل في شفاء نفوسنا ويقولون: &#8220;من أسفل القدم إلى الرأس ليس فيه صحة بل جرح وإحباط وضربة طرية لم تُعصر ولم تُعصب ولم تلين بالزيت&#8221; (إش ١ : ٦).</p>
<p>&#8220;لأن قضاءها وصل إلى السماء وارتفع إلى السحاب&#8221;.</p>
<p>الإنسان الذي تكون خطيته صغيرة، لا يرتفع قضاؤه إلى السماء، بينما الذي ينمو في الشر ينمو أيضًا قضاؤه ويزداد حجمه، وكلما تزيد شروره يزيد أيضًا عقابه. إذا كان قد أخطأ إلى الدرجة التي وصلت فيها خطاياه إلى السماء وارتفعت إلى السحاب حينما يقاوم الله بعناده ترتقي خطاياه أكثر فأكثر، لذلك فإن الرب يهين الخطية التي أوصلت قضاء الإنسان إلى السماء، كما أنه في الوقت نفسه يكافئ الإنسان البار مكافأة تليق بالحياة التي عاشها في المسيح يسوع الذي له المجد والقدرة والسلطان إلى أبد الآبدين آمين<a href="#_ftn4" name="_ftnref4">[4]</a>.</p>
<p></p>
<p></p>
<h4>مفهوم الرحمة حسب تعليم القديس يوحنا ذهبي الفم</h4>
<p></p>
<p>ان عمل الرحمه هو بالحقيقه عمل مميز، ويمجد أولئك الذين يمارسونه،لانه محبب لدي الله، و كأن عنده، ومن السهل أن يطلب من يمارسه نعمه لمن يريد، يكفي انه لا يدان عندما يمارسه بأموال ليست له، بل مسلوبه من آخرين اما عندما يكون بنقاوه، فإنه يعطي داخل كبيره لأولئك الذين يقدمونه الي الله ( في شخص الفقير) .</p>
<p>ان قوتها ( اي عمل الرحمة ) عظيمه للغايه، طالما أنها تبتهل لاجل هؤلاء الذين يقاومون اراده الله، و لأولئك الذين ارتكبوا الخطيه.</p>
<p>هذا الاحساس يكسر القيود، يبدد الظلام،يطفي النار، يميت الدود (الذي لا يموت) ، يبعد صرير الأسنان، وتفتح أبواب السماء بكل امان لعمل الرحمه هذا، وأما ما كما يحدث حين تأتي الملكه الي القصر، لا يجرؤ أحد من الحراس ان يسألها، من هي، ومن اين اتت، بل الجميع يستقبلونها علي الفور، هكذا ايضا عمل الرحمه، لانه بالحقيقه هو ملك، ويجعل الناس متمثلين بالله. لانه يقول فكونوا رحماء كما أن اباكم ايضا رحيم ٦٤٠.عمل الرحمه منطلق وشريف وخفيف الحركه، له أجنحة من ذهب .يقول المرنم فاجنحة حمامة مغشاه بفضه وريشها  بشوفه الذهب ٦٤١.اي انه تماما مثل حمامة ذهبيه تطير ولها عينان وديعتان،ونظره هادئه . لا يوجد شيء افضل من هذه العين. جميل هو الطاووس، لكنه اقل جمالا مقارنه بهذه الحمامة التي تستحق ان تنظر إلي أعلي بصفه دائمه، و محاطة بمجد إلهي كبير ،العذراء هي التي تزينها باجنحة ذهبية، ولها وجه أبيض وهادئ، هي ذي أجنحة، وخفيفة، وتقف بجوار العرش الملكي.</p>
<p>عندما تدان، نجدها تطير فجأه، وتتقدم امامنا، وتخطفنا من الجحيم، وتطوينا تحت جناحيها،هذا الإحسان هو ما يريده الله وليست الذبائح، لقد تكلم الرسول بولس كثيرا عن عمل الرحمة، وقد أحب هذا العمل كثيراً.</p>
<p>يقول المرنم الرب يحفظ الغرباء يعضد اليتيم والأرملة . الله يحب ان يدعى بهذه الصفة ، يقول داود النبي الرب رحيم ورؤف طويل الروح وكثير الرحمه ، وايضا يقول ليرتفع علي كل الارض مجدك .</p>
<p>هذه الرحمة الإلهية انقذت الجنس البشري، لانه إن لم يتراءف الله علينا، لهلك كل شيء. وهذه الرحمة قد صالحتنا مع الله ،بالرغم من أننا كنا اعداء، وصارت سببا في خيرات كثيرة،وجعلت إبن  الله يصير عبدا ويتضع. أيها الاحباء فلنحاول أن نقتضي بها (الرحمة) ، والتي بواسطتها خلصنا، ولنحبها، ولنفضلها علي المال، ولنحمل نفسا رحيمه، دون رغبه في المال.</p>
<p>لا شي يمكن ان يوصف به المسيحي، اكثر من عمل الرحمة،أيضا لا شى يدهش غير المؤمنين والأخرين بهذا القدر الكبير، إلا عندما نمارس عمل الرحمة.</p>
<p>كذلك فإننا كثيراً ما نترجي أن ننال هذه الرحمة، ونقول لله كل يوم كرحمتك اذكرني أنت من أجل جودك يارب . فلنبدأ نحن اولاً، او من الافضل ان نقول، لا نبدا أولاً، لان الله اظهر لنا رحمتة أولا لكن ايها الاحباء حتي لو كنا ثانيه، فلنتبع خطواته. لأنه لو كان الناس يقدرون الانسان الرحوم، حتي لو كنا ثانيه، فلنتبع خطواته. لأنه لو كان الناس يقدرون الانسان الرحوم، حتي وان كان يرتكب خطايا لا حصر لها، فبالاكثر جدا الله. اسمع النبي الذي يقول لك &#8221; اما انا فمثل زيتونة خضراء في بيت الله . هكذا ينبغي ان نصبر، لنصير مثل الزيتونة، لنكن محملين بثمار الوصايا من كل جهة، لانه ليس كافيا ان نكون مثل الزيتونة، بل يجب ان نكون محملين بالثمار. بالحقيقة يوجد البعض ممن يعطون، لكنهم يعطون قليلا، او يقدمون مرة واحدة طوال العام،او مرة في كل اسبوع، او يمنحون ما يجدونه بالمصادفة امامهم.هولاء هم شجرة زيتون، ولكن ليست مثمرة، بل جافه.</p>
<p>اي لانهم يصنعون رحمة، هم شجرة زيتون، ولكن لأنهم لا يفعلون ذلك بمحبة فهم ليسوا شجرة زيتون محمل بالثمار. لكن ليتنا نحن نكون شجر زيتون مثمراً.</p>
<p>وما قلته مرات عديدة، هذا اكرره الان ايضاً، ان عمل الرحمةالحقيقي غير مرتبط بحجم التقدمه، بل بنيه ذاك الذي يمارس عمل الرحمة. تعرفون ماذا صنعت الأرملة (صاحبه الفلسين )، ومن المفيد دوما ان نسوق هذا النموذج.  وحتي لا يفقد الفقير رجاءه بسبب فقره، فلينظر إلي هذه الأرملة التي قدمت فلسين وقدم البعض شعر رؤوسهم، عندما كان الهيكل في طور البناء، لكن ولا هؤلاء كانوا قلقين.</p>
<p>اما اذا كانوا يمتلكون ذهباً، وقدموا شعر رؤوسهم، فأصبحوا ملعونين، لكن طالما كانوا يمتلكون هذا فقط ( اي شعر رؤوسهم )فهذا قد قدموه، وصاروا مقبولين.</p>
<p>ومن أجل هذا فإن قايين ايضا قد أدين، لا لان تقدمته كانت أسوأ، بل لانه قدم أسوأ ما عنده، يقول الكتاب &#8220;ملعون الماكر الذي يوجد في قطيعه ذكر ويتذكر و يذبح للسيد عائبا&#8221; لم يقل فقط من يملك، لكنه قال من يملك ويحزن ان يقدم. اذا ان كان أحد لا يملك شيئا فهو برئ من الإدانه، بل وله اجر. لانه ما هو الشيء الأكثر تفاهه من فلسين، ولا قيمه له من الشعر؟ أو ما هو الأكثر بساطة من سميد جاف؟ لكن هذه الأشياء قد قبلت مثلها مثل تقدمه العجول والذهب.&#8221; لانه ان كان النشاط موجودا فهو مقبول على حسب ما للانسان لا علي حسب ما ليس له &#8221; .</p>
<p>يقول بحسب ما تمتلك يديك، يجب أن تصنع رحمة&#8221;.</p>
<p>من أجل هذا اترجاكم ان نعطي للفقراء بنيه خالصه، وحتي وان كان قليلا، سينال نفس الأجر مع أولئك الذين سيعطون الكثير، او من الأفضل أن نقول أكثر من أولئك الذين اودعوا أموالا لا حصر لها. ان صنعنا هذا فإننا سنربح الكنوز الإلهية التي لا توصف، إن لم نكن مستمعين فقط، بل عاملين أيضأ، إن لم نمتدح، بل نظهر إحسانا في وقته. وليتنا جميعا ننال هذه الخيرات، بالنعمه ومحبه البشر اللواتي لربنا يسوع المسيح الذي يليق به مع الأب والروح القدس المجد والقوة والكرامه، الآن وكل أوان والي دهر الدهور امين.<a href="#_ftn5" name="_ftnref5">[5]</a>.</p>
<p></p>
<p></p>
<h4>محبَّة الله ومحبَّة القريب عند القديس يوحنا كاسيان</h4>
<p></p>
<p>إن هدفنا هو ملكوت السموات وهو الهدف الثابت الذي لا يتغير قط. وبدون طهارة القلب لايمكن أن نصل لهذا الهدف. ويجب أن نحتفظ بهذا الهدف دائماً في عقلنا. وقد يحدث أحياناً لفترة قصيرة أن ينحرف قلبنا عن الطريق المستقيم ولكن يجب أن نرجعه ثانيه وأن نقود حياتنا بالتقوي المناسبه لهذا الهدف.</p>
<p>ويجب أن نفعل كل شئ من أجل هذا الهدف المباشر، فنحن نترك اوطاننا وعائلاتنا وممتلكاتنا وكل شئ عالمي لكي ننال طهارة القلب. ونحن نحتقر الغني المادي من اجل محبة إخوتنا لئلا نقاتل بالغضب ونسقط من الحب. وإذا ما تحركنا بالغضب ضد اخينا . حتي لو كان من أجل أمور بسيطه فإننا نسقط من هدفنا ويكون خروجنا من العالم غير ذي أهميه.</p>
<p>ولقد حذرنا بولس الرسول من ذلك حين قال&#8221; وإن سلمت جسدي حتي إحترق ولكن ليس لي محبه فلا انتفع شيئاً &#8221; (١ كو ٣:١٣).</p>
<p>ونحن نعلم ان الكمال لايتوقف علي مجرد ترك العالم ولكنه يأتي بعد إدراك الحب كما يقول الرسول بولس&#8221; المحبه تتأني وترفق. المبه لاتحسد. المحبه لاتتفاخر ولاتنتفخ. ولا تقبح ولا تطلب ما لنفسها ولاتحتد ولا تظن السوء&#8221;(١كو ١٣: ٤-٥) وكل هذه الأمور السابقة التي تحدث عنها بولس الرسول هي التي تؤسس طهارة القلب. ونحن نفعل كل شئ من أجل هذا ونحتقر كل ممتلكاتنا ونحتمل الاسهار والاصوام بفرح والقراءة الروحية والتسبيح.</p>
<p>إن الأصوام والأسهار وقراءة الكتاب المقدس ليست هي الهدف والكمال ولكننا نصل إلي الكمال عن طريق تلك الممارسات . لانه لن يفيدنا إفتخارنا بأصوامنا وأسهارنا وقراءتنا في الكتاب المقدس إذا لم نصل الي محبة الله ومحبة القريب، لان كل من ادرك حب الله في قلبه فإن عقله يكون دائماً مع الله<a href="#_ftn6" name="_ftnref6">[6]</a>.</p>
<p></p>
<p></p>
<h4> القدِّيس ساويرس الأنطاكي</h4>
<p></p>
<p>كثيرًا ما تظن عن جهلٍ أن الذي يشترك معك في ديانتك أو جنسيَّتك هو قريبك، أما أنا فأقول إن الذي يشترك في نفس الطبيعة البشريَّة هو قريبك، وكما رأيت الذي كان يرفع رأسه معتزًا بالملابس الكهنوتيَّة والذي كان يفتخر بتسميته لاويًا&#8230; لم يفكِّر أن ذاك الذي من بني جنسهما وهو عريان وقد تغطَّى بجراحات لا شفاء لها ومُلقى على الأرض، وقد أوشك أن يموت في لحظة، كان إنسانًا! لكنهما احتقروه كحجرٍ أو قطعةٍ من الخشب المرذول. أما السامري الذي لم يكن يعرف وصايا الناموس، والذي اشتهر بينهم (اليهود) بالغباء والجهل، إذ يقول الحكيم: &#8220;الجالسون في جبال السامرة والفلسطينيُّون والشعب الجاهل الساكن في شكيم &#8221; (يش بن سيراخ ٥٠ : ٢٨)</p>
<p>هذا السامري عرف الطبيعة البشريَّة وفهم من هو القريب. من كان في نظركم أيها القضاة بعيدًا جدًا قد صار قريبًا جدًا لذاك الذي احتاج إلى علاج. فلا تُقصِر تعريف القريب عند الفكر اليهودي الضعيف الذي يقف عند مقاييس ضيِّقة خاصة بالجنس&#8230; إنما كل شخص نبسط عليه روح المحبَّة هو القريب</p>
<p>لم يقل مخلِّصنا &#8220;أناس كانوا نازلين، بل قال &#8220;إنسان كان نازلًا&#8221;. إن المسألة تخص البشريَّة جمعاء، فبالحقيقة بسبب تعدي آدم للوصيَّة سقطت من مسكن الفردوس العالي المرتفع الهادئ، الذي دُعي بحق &#8220;أورشليم&#8221;، ومعناها &#8220;سلام الله&#8221;، إلى أريحا التي هي مدينة في وادٍ منخفضٍ يخنقه الحر.</p>
<p>يعلِّمنا أن حياة الأهواء في هذا العالم تفصل (البشرية) عن الله، وتسحبها إلى أسفل، وتسبب لها اختناقًا بحرارة الشهوات المُخزية، وتنتج قلقًا وتدني بها إلى الموت.</p>
<p>إذ سقطت البشريَّة هكذا، وانقلبت انجذبت إلى أسفل، انقادت رُويدًا رُويدًا إلى هِوَّة السقوط، هاجمها جمع من الشيَّاطين، فجرَّدها من ثياب الكمال على نحو ما تفعل عصابة من اللصوص، ولم يتركوا لها بقيَّة من قوَّة أو مسحة من الطهارة أو البر أو الحكمة أو أي شيء ممَّا يمثِّل الصورة الإلهيَّة، وهكذا وئدت بجراح الخطايا المختلفة المتكرِّرة، وبالجملة قاتل الشيَّاطين البشريَّة وتركوها بين حيَّة وميِّتة.</p>
<p>هذا بالحقيقة يبيِّن جيِّدًا ما اختصَّ به هذا المثَل من عُمق تدركه بالتأمَّل، لأن من عادة اللصوص والسُرَّاق أن يُحدِثوا أولًا الإصابات والجروح، حتى يجَرِّدوا الجريح بعد ذلك من ملابسه، ليس هناك في أغلب الأحيان ما يدعوهم إلى إحداث إصابة بعد ذلك. ولكن الشيَّاطين، وهم بمثابة اللصوص لا يستطيعون إلى ذلك سبيلًا، ما لم يرفعوا عنه ثياب الفضائل أولًا، وبعد ذلك يجرحونه بدون شفقة حتى الموت، لأنهم لا يريدون منَّا ملابسنا، بل ما يريدونه بالحقيقة هو خسارتنا وموْتنا، لذلك قال ربَّنا بحكمة: &#8220;فعرُّوه وجرحوه&#8221;.</p>
<p>عندما كانت البشريَّة ملقاة على الأرض، وما هي إلا لحظات لتفقد الوعي وتنتهي، رآها الناموسي المعُطَى بواسطة موسى. هذا في الواقع ما تشير إليه بعد ذلك بالكاهن واللاوي أيضًا، لأن الناموسي هو طبيب الكهنوت اللاوي. رآها لكن كان ينقصه النشاط والقوَّة، فلم يستطع أن يجلب لها الشفاء الكامل، ولم يقم البشريَّة التي كانت ملقاة على الأرض&#8230; يقول بولس الرسول: &#8220;الذي هو رمز للوقت الحاضر الذي فيه تقدَّم قرابين وذبائح لا يمكن من جهة الضمير أن تكمل الذي يخدم&#8221; (عب ٩ : ٩). &#8220;وليس بدم تيوس وعجول، بل بدم نفسه دخل مرَّة واحدة إلى الأقداس فوجد فداءً أبديًا&#8221; (عب ٩ : ١٢). لذلك لم يقل ربَّنا: &#8220;إن الكاهن واللاوي بعدما رأيا الرجل بين حيّ وميِّت ملقى على الأرض، &#8220;جازا عنه&#8221;، لكنه قال &#8220;فعرض أن كاهنًا نزل في تلك الطريق فرآه وجاز مقابله. وكذلك لاوي أيضًا، إذ صار عند المكان جاء ونظر وجاز مقابله&#8221;</p>
<p>كل منهما لم يتخطَّ الرجل فيتركه جانبًا دون أن يراه؛ بل وقف أمامه ورآه وفكر في شفائه ولمسه، ولما وجد أنه غير قادر على شفائه وقد غلبته خطورة جراحاته أي الأهواء، حينئذ رجع إلى الوراء راكضًا. وهذا هو ما تظهره عبارة: &#8220;جاز مقابله&#8221;.</p>
<p>وأخيرًا يقول: &#8220;ولكن سامريًا مسافرًا جاء إليه، ولما رآه تحنَّن. فتقدَّم وضمّد جراحاته، وصبّ عليها زيتًا وخمرًا وأركبه على دابَّته، وأتى به إلى فندق اعتنى به &#8221;</p>
<p>هنا يدعو المسيح نفسه بحق سامريًا وهو يخاطب ناموسيًا يفتخر في ذاته كثيرًا بالناموس؛ اهتم بأن يبين بقوله أنه ليس بالكاهن ولا اللاوي وعلى وجَّه العموم ليس الذين كانوا يعتقدون أنهم يسلكون حسب وصايا موسى عندهم القدرة. بل هو ذاته الذي أتى لكي يكمل إرادة الناموس مبيِّنًا بالوقائع ذاتها من هو القريب بالحقيقة، وما تنطوي عليه العبارة &#8220;تحب قريبك كنفسك&#8221; وهو الذي كان اليهود يقولون له شاتمين: &#8220;ألسنا نقول حسنًا إنك سامري وبك شيطان&#8221; (يو ٨ : ٤٨)، وهو الذي كانوا يتَّهمونه كثيرًا بتعدِّي الناموس.</p>
<p>وبمعنى آخر لا يرى أحد في تسمية المسيح بالسامري ما هو غير جدير، ولو أنها تبدو بطريقة ما أنها تسمية غير مناسبة لجلاله القدُّوس.</p>
<p>كان أيضًا يسكب النبيذ، أي الكلمة التي تعلِّم، وتضمِّد القروح. وقد أعطانا فعلًا لنشرب نبيذ التوبة، كما يقول النبي في المزامير: &#8220;أريت شعبك عُسرًا، سقيتنا خمر الترنُّح&#8221; (مز ٦٠ : ٣). ولم نكن بالحقيقة نستطيع تحمله صرفًا، لأن خطورة الجراح الخبيثة وحالتها التي لا شفاء منها كانت لا تتحمَّل مثل هذا اللذع، ولذلك خلطه بالزيت.</p>
<p>كان أيضًا يأكل مع العشَّارين والخطاة، وكان يقول للفرِّيسيِّين الذين كانوا ينحون باللائمة، يتَّهمونه وينتقدون: &#8220;فاذهبوا وتعلَّموا ما هو، إني أريد رحمة لا ذبيحة، لأني لم آت لأدعو أبرارًا بل خطاة إلى التوبة&#8221; (مت ٩ : ١٣).</p>
<p>وقد حمل على دابَّته من كان موضوع مثل هذا الاهتمام والعناية.</p>
<p>الفندق هو الكنيسة التي أصبحت تستقبل وتأوي كل الناس، فإننا لم نعد نسمع حسب ضيق الظل الناموسي والعبادة الرمزيَّة: &#8220;لا يدخل عمُّوني ولا موآبي في جماعة الرب&#8221; (تث ٢٣ : ٣)، &#8220;في ذلك اليوم قُرئ في سفر موسى في آذان الشعب ووجد مكتوبًا فيه أن عمُّونيًّا وموآبيًّا لا يدخل في جماعة الله إلى الأبد&#8221; (نح ١٣ : ١) بل نسمع: &#8220;فاذهبوا وتلمذوا جميع الأمم وعمِّدوهم باسم الآب والابن والروح القدس&#8221; (مت ٢٨ : ١٩) ، وأيضًا &#8220;بل في كل أمة الذي يتَّقيه ويصنع البرّ مقبول عنده&#8221; (أع ١٠ : ٣٥).</p>
<p>وبعد أن أتى به إلى الفندق، &#8220;اعتنى به&#8221;. أي بعد أن تشكَّلت الكنيسة من اجتماع الأمم التي كانت تموت في عبادة الآلهة العديدة، أصبح المسيح نفسه هو الساكن فيها ويسير، كما هو مكتوب، ويمنح كل نعمة روحيَّة.</p>
<p>&#8221; فإنكم أنتم هيكل الله كما قال الله أنِّي سأسكن فيهم وأسير بينهم وأكون لهم إلهًا وهم يكونون لي شعبًا&#8221; (٢كو ٦ : ١٦)</p>
<p>أعطي لصاحب الفندق دينارين، &#8220;وفي الغد لما مضى أخرج دينارين، وأعطاهما لصاحب الفندق&#8221; ، ويُفهم من هذا أنه يرمز للرسل وكذلك الرعاة والمعلِّمين الذين خلفوهم، حينما صعد إلى السماء بعد أن خوَّلهم الأمر بالاهتمام بصفة خاصة بالمريض. وأضاف قائلًا: &#8220;اعتنِ به مهما أنفقْت أكثر فعند رجوعي أوفيك&#8221;</p>
<p>ويسمَّى العهدين القديم والجديد دينارين. الأول مُعطى بواسطة ناموس موسى والأنبياء، والثاني بواسطة الأناجيل وتعاليم الرسل، وهما كلاهما ملك الله الواحد، كالدينارين يحملان صورة واحدة لهذا الملك العلي، ويطبعان نفس الصورة الملكيَّة في قلوبنا ويثبِّتانها بالكلمات المقدَّسة، لأن الناطق بها هو بالحقيقة أيضًا روح واحد<a href="#_ftn7" name="_ftnref7">[7]</a>.</p>
<p></p>
<p></p>
<h4>القديس غريغوريوس النيسي</h4>
<p></p>
<p><strong>السامرى الصالح :</strong></p>
<p>&#8221; هذا حبيبى وهذا خليلى يا بنات أورشليم &#8221; (نش ٥ : ١٦) .</p>
<p>ان عروس النشيد حاولت بوضوح أن تضع أمام أعين الخادمات الأخريات كل العلاقات حتى يستطعن أن يعرفن ذاك الذى رأته هى. وفى حديثها لهن تشير اليه وتقول هذا هو حبيبى الذى جاء الينا من اليهودية ليصير أخا وجارا للذى وقع بين اللصوص . وهذا الذى شفى جروحه بالزيت وسقاه خمرا وضمد جروحه واركبه دابته الخاصة وذهب به ليستريح فى فندق واعطاه دينارين لكى يمكث هناك ووعده فى طريق عودته أنه سوف يدفع له أى شىء يكلفه فوق ذلك .</p>
<p>ان معنى كل هذه التفاصيل واضح . لقد أراد الناموسى أن يختبر الرب وبكبريائه يريد أن يقول أنه يعرف أكثر من الآخرين . وفى مناقضته أراد أن يجرب الرب فسأله من هو قريبى (لو ١٠ : ٢٩) وعندئذ أجاب الرب بتلك القصة ليعلن عمل الخلاص المقدم لنا . حدثه عن انسان نزل من أورشليم الى اريحا ( المسيح الذى نزل من السماء وتجسد ) وهاجمه اللصوص وعروه من ملابسه وجرحوه . هذا هو المسيح الذى قبل الموت من أجل البشر بينما ظلت روحه لم تمت ثم جاء كاهن ولاوى ولم يساعده أى منهما ولم يبصرا حتى جراحاته لأنه لا يمكن أن &#8221; دم ثيران وتيوس ورماد عجلة مرشوش على المنجسين يقدس الى طهارة الجسد &#8221; (عب ٩ : ١٣) الى أن جاء ذاك الذى ليس من طبيعتنا البشرية وهو بكر الخليقة الذى فيه  يشترك كل أحد من اليهود والسامريين واليونانيين وكل أنواع البشر فأخذ نصيبا فيه . وعن طريق جسده ( يرمز اليه هنا بالدابة ) نقله الى مكان آخر ( ابعد عن الانسان المصيبة ) وشفى جراحاته اجلسه على دابته واوجد له الفندق الذى هو المحبة الالهية والرعاية حيث يجد كل التعابى وثقيلى الاحمال راحتهم (مت ١١ : ٢٨) والذين يثبتون فى تلك المحبة يجدون المسيح الذى يسكن فيهم &#8221; يثبت فى وأنا فيه &#8221; (يو ٦ : ٥٦) وعندئذ يدخل المسيح فى داخل الانسان رغم أنه لا يحتويه أى أناء . وحين دفع الدرهمين اللذين هما رمز الى محبهالله من كل القلب ومحبة القريب من كل نفس . ولكن ليس كل الذين يسمعون الناموس هم أبرار أمام الله بل الذين يفعلون الناموس هم الذين يتبررون (رو ٢ : ١٣) ونحن لا يجب أن نكتفى بالانفاق فى حدود الدرهمين فقط لوصية محبة الله ومحبة القريب . ولكن يجب أن تكون أعمالنا الحسنة مطابقة لكل الوصايا ، ولذلك قال الرب لحارس الفندق أنه سوف يكافئه على ما يكون قد أنفقه من أجل شفاء ذلك المجروح .</p>
<p>وعندئذ أصبح قريبا ذلك الانسان الذى خلال الحب صار أخا لنا ان الذى قام من اليهودية هو ذلك الذى تعلن العروس الطاهرة عنه لبنات أورشليم وتقول لهن هذا هو حبيبى وهذا هو صديقى يا بنات أورشليم. وعن طريق هذه الصفات التى اعلنتها لهن فاننا بقيادة الروح القدس سوف نجده ونقبله من أجل خلاص نفوسنا<a href="#_ftn8" name="_ftnref8">[8]</a></p>
<p></p>
<p></p>
<h3>عظات آباء وخدام معاصرين</h3>
<p></p>
<h4>القديس القمص بيشوي كامل</h4>
<p></p>
<p><strong>كيف أنمو في محبة المسيح ( حزقيال ١٦ : ١ &#8211; ١٤ )</strong></p>
<p><strong>مقدمة :</strong></p>
<p>في الحقيقة نحن نغالط أنفسنا حين نطلب أن نتعلم كيف نحب الله ، فنحن بهذا نضع الله في الصورة التي لا تليق به كأنه غير جذاب حتى أننا نغضب على محبته . ولو أننى تأملت محبة الرب التي جذبت المجدلية ومتى وزكا ويوحنا لأدركت مقدار جاذبية الله ومحبته لنا . أما محبتنا فهى طاقة موجودة فينا ينقصها التوجيه ، فحين نوجه الطفل نحو محبة العالم يصير إنساناً عالمياً ، ونحن نوجهه نحو محبة المسيح نخلق منه مسيحياً حقيقياً &#8221; لأن محبة الله قد انسكبت في قلوبنا بالروح القدس المعطى لنا &#8221; ( رو ٥ : ٥ ) . إذن ، فنحن نملك إمكانية الحب بفعل الروح فينا ، وطالما اختبرنا فترات من الفتور الشديد التي تقطعها لمسات الروح فتلتهب قلوبنا بحب لا ندرى مصدره . إنه الروح القدس ، روح الحب الذى من عند الآب ينبثق . وفى تعبيرها الأرثوذكسى نؤمن أنه ينبثق من الآب في الابن ، فهو الذى يوحدنا مع المسيح بفعل محبته المنسكبة فينا .</p>
<p><strong>دواعى المحبة :</strong></p>
<p>قال الرب : &#8221; إن كنتم وأنتم أشرار تعرفون أن تعطوا أولادكم عطايا جيدة ، فكم بالحرى الآب الذى من السماء يعطى الروح القدس للذين يسألونه &#8221; ( لو ١١ : ١٣ ) . لقد أخذت من الآب بركات كثيرة فما هو مقياسها ودليل الاستفادة منها ؟ إن امتلاء القلب بمحبة الله أكثر من كل شيء في الوجود هو دليل وعلامة الملء بالروح . ونحن حين ندرس الإصحاح ١٦ من سفر حزقيال تظهر لنا رعاية الله. فأورشليم هنا تعنى النفس البشرية التي يخاطبها الرب قائلاً : &#8221; كنت غريبة ، ويوم وُلدت لم تُقطع سُرتك ، وُلدت في خزى وعار ، وأوشك نزيف الخطية أن يهلكك . لم تُشفق عليك عين بسبب قذارتك فكرهوك . انقطع رجاء الكل في حياتك فتركوك للموت في دماء الخطية. أما أنا فلما مررت بك قلت لك : بدمك عيشى ، بدمك عيشى ! الخطية نزعت عنك ثياب النعمةً ، أما أنا فمررت بك وإذا زمنك زمن الحب &#8221; . حقاً لكل منا زمن اسمه زمن الحب ، فيه وزعنا محبتنا العالم بكل ما فيه ، مع أن الرب هو الوحيد الذى يستحق كل ما لدينا من حب .</p>
<p>+ &#8221; بسط ذيلى عليكى ، وسترت عورتك ، وحلفت لك ، ودخلت في عهد معك &#8221; . كان العهد القديم بدم تيوس وعجول أما العهد الجديد فقد كتبه المسيح بدمه على الخشبة. يا ليتنا ندخل في عهد مع الرب . &#8221; فصرت لى &#8221; ليس لندخل ضمن ملكية الله بل ليدخل الله ضمن ملكيتنا .</p>
<p>+ ثم يبدأ الرب في تجميلنا لتصبح نفوسنا عروساً له ، كما نرى في مثل الابن الضال . &#8221; حممتك &#8221; يشير إلى المعمودية التي يجب أن نتذكرها كل يوم حين نتلامس مع الماء أثناء غسيل الوجه أو الأيدى أو أثناء الاستحمام . لقد اغتسلنا بدم المسيح في المعمودية ، ولو كانت لنا العين الروحية لرأينا المسيح يعمد وليس الكاهن . &#8221; مسحتك بالزيت &#8221; يعنى مسحة الميرون التي بها نثبت في الروح القدس . &#8221; ألبستك مطرزة &#8221; فقد صرنا نلبس الرب يسوع نفسه وينبغى أن نتذكر ذلك كلما ارتدينا ثيابنا .</p>
<p>+ &#8221; حليتك بالحلى ، فوضعت أسورة في يديك ، وطوقاً في عنقك ، وخزامة في أنفك ، وأقراطاً في أذنيك ، وتاج جمال على رأسك &#8221; أي أن الرب قد قدس حواسنا كلها .</p>
<p>+ &#8221; وأكلت السميذ والعسل والزيت &#8221; أي غذى نفوسنا بواسائط النعمة .</p>
<p>+ &#8221; وجملت جداً جداً فصلحت لمملكة ، وخرج لك اسم في الأمم لجمالك لأنه كان كاملاً ببهائى الذى جعلته عليك &#8221; . إن محبة الله لا تنقص أمام جحود الإنسان ، ولعل ذبيحة الرب لآدم تؤكد لنا هذه الحقيقة ، وما كانت هذه الذبيحة إلا رمزاً لذبيحة الصليب . إذن ، نحن نملك طاقة حب كاملة والله لا ينقصه وصف لأن حلاوته كاملة ، ولكن هناك أسباباً لفتور المحبة من جهتنا لما نكتشفها ونعالجها نقول للرب ما قالته العروس : &#8221; أنا لحبيبى وحبيبى لى &#8221; .</p>
<p><strong>   أسباب فتور المحبة</strong></p>
<p><strong>١ – الضيقات :</strong></p>
<p>يعلمنا الرسول أن نفتخر في الضيقات إذ يقول : &#8221; نفتخر أيضاً في الضيقات عالمين أن الضيق يُنشئ صبراً والصبر تزكية والتزكية رجاء والرجاء لا يخزى &#8221; (رو ٥ : ٣ ) . كثيراً ما تهز الضيقات المادية محبتنا لله ، وهكذا نحب الرب بقدر نجاحنا المادى أو الدنيوى . هذه ليست محبة !! الرسول لا يطلب منا أن نحتمل الضيقات بل أن نفتخر بها إذ يرى محبة الله خلالها .</p>
<p>+ كنت أزور فتاة مريضة لازمت فراشها ثلاثة اشهر بألم شديد ، سألتها عما استفادته من هذه التجربة ، فقالت : لقد فهمت الآن قيمة نفسى تماماً . ولو أن ألف إنسان حدثونى عن التواضع لما استفدت منهم كما استفدت من مرضى ، شكراً لمحبة الله ودروسه الحلوة . لقد اعطى الرب لهذه الفتاة فضيلة التواضع في ثلاثة أشهر بينما يجاهد القديسون لأجلها سنوات طويلة . الضيقات هي عمليات تجميل يجريها الرب في نفوسنا لتصير لائقة بعرسه المبارك . لهذا يصلى المرنم : &#8221; ابلنى يارب وجربنى ، نق قلبى وكليتى &#8221; !! هل يطلب الإنسان البلوى والتجربة ؟ ! نعم إن كانت هي طريق النقاوة ! ليتنا ندرك هذا السر فنشكر الله ونفرح بتجاربه المتنوعة (يع ١ : ٢ – ٥ ) .</p>
<p><strong>٢ – الخطية :</strong></p>
<p>هذه تطفئ محبة الله في القلب ، فمع أننا ننادى الرب طوال النهار : &#8221; يا أبانا الذى في السماوات &#8221; ، إلا أننا نجرح أبوة قلبه كل حين بخطايانا الكثيرة ، متجاهلين أن الرب يحبنا بالقدر الذى به يحب ابنه الوحيد . ليتنا نعتبر الخطية في ضوء محبة الله ، فالخطية إساءة لهذه المحبة . نحن نجرح المسيح ولكنه يتألم لأجلنا . متى يصير شعورنا نحو الخطية مرهفاً جداً ؟ ! .</p>
<p>ما هي نظرتنا نحو خطايا الآخرين ؟ هم جرحوا المسيح ؟ فليكن ونحن حينما ندينهم نضاعف جراحاته ! خطيه الإدانة تجرح المسيح مضاعفاً . ليتنا نضمد جراحات يسوع لما نراه مجروحاً فنبحث عن البعيدين ونجدبهم إلى بيت الرب كإعلان عن محبتنا له . أعرض ليسوع خطاياك وتب عنها ، وتب أيضاً عن خطايا زملائك فتكسبهم للمسيح.</p>
<p>التوبة هي أهم علامات الحب .</p>
<p>والمجدلية قدمت لنا أعمق درس في الحب إذ غفرت لها خطاياها الكثيرة لأنها أحبت كثيراً . ومن التوبة يتولد أختبار الدين ؛ أنا مدين للمسيح بحياتى التي أعطاها لى بموته . يا ليتنى أرفع رأسى نحو الصليب وأسأل نفسى : هل سددت ما على من دين ؟ هل أعطيت الرب كرامتى وصحتى وشبابى ؟ حتى هذا كله لا يوفى شيئاً ! .</p>
<p>اختبار التوبة يعطينا إحساساً بالشكر ، فنرفع قلوبنا كل يوم وفى كل مكان ونردد اسم يسوع قائلين : ياربى يسوع المسيح ارحمنى ، ياربى يسوع المسيح احرسنى ، ياربى يسوع المسيح اغفر لى ، ياربى يسوع المسيح ارع حياتى .. اذكر اخوتى .. أنا لك وأنت لى .. وهكذا ، هذه الصلوات القصيرة تولد في القلب محبة شديدة للمسيح بالروح القدس المنسكب فينا كتيار نازل من السماء ، يثمرفينا شكراً دائماً ، وصلاة متواترة ، وحديثاً حاراً عن الرب .</p>
<p>محبة الله لا يستطيع إنسان أن يتكلم عنها ، هي عطية الروح تغمرنا إذا طلبناها بصدق ومثابرة . ولربنا المجد إلى الأبد ، آمين<a href="#_ftn9" name="_ftnref9">[9]</a>.</p>
<p></p>
<h4>المتنيح القمص صليب سوريال</h4>
<p><strong>القانون الأول في الغضب</strong></p>
<p>( ١ ) &#8221; قد سمعتم أنه قيل للقدماء لا تقتل ومن قتل يكون مستوجباً الحكم . أما أنا فأقول لكم إن من يغضب على أخيه باطلاً يكون مستوجباً الحكم . ومن قال لأخيه رقاً يكون مستوجباً المجمع ومن قال يا أحمق يكون مستوجباً نار جهنهم فإن قدمت قربانك إلى المذبح ، وهناك تذكرت أن لأخيك شيئاً عليك ، فأترك قربانك قدام المذبح وأذهب أولاً أصطلح مع أخيك ، وحينئذ تعال وقدم قربانك .</p>
<p>( ٢ ) &#8221; كن مراضياً لخصمك مادمت معه في الطريق ، لئلا يسلمك الخصم إلى القاضي ، ويسلمك القاضي إلى الشرطة ، فتلقى في السجن</p>
<p>الحق أقول لك لا تخرج من هناك حتى توفى الفلس الأخير ( مت ٥ : ٢١ – ٢٦ ) .</p>
<p>يمكن تقسيم أول قانون من قوانين ملكوت السموات إلى ثلاثة أقسام :</p>
<p>( ١ ) علينا أن لا نغضب مع أخينا ( مت ٥ : ٢١ – ٢٢ )</p>
<p>( ٢ ) علينا أن نصطلح مع أخينا حسب الطريقة التي أخبرنا الكتاب عنها ( مت ٥ : ٢٣ ، ٢٤ ) .</p>
<p>( ٣ ) علينا أن لا نجعل لأخينا شيئاً ضدنا ( مت ٥ : ٢٥ ، ٢٦ ) .</p>
<p><strong>القسم الأول من هذا القانون أن لا نغضب مع أخينا</strong></p>
<p>فاليهودى تحت ناموس موسى القديم نهاه الله &#8221; لا تقتل &#8221; . أي أن سفك الدماء كان محرماً عليه أما السيد المسيح فقد ذهب إلى أبعد من ذلك بكثير فوصل إلى منشأ القتل ، ألا وهو الغضب الخفى فى القلب ، فحرمه بقانونه هذا والإحتفاظ بالغضب داخل القلب يتحول إلى كراهية إن قايين غضب فحقد أي قتل المحبة ثم قتل أخاه قال القديس جيرون &#8221; لا أعرف سلاماً بغير حب ، ولا شركة بدون سلام &#8221; وقال القديس بولس &#8221; في كل مكان رافعين أيادى طاهرة بدون غضب ولا جدال &#8221; ( ١تى ٢ : ٨ )</p>
<p><strong>هناك ثلاث درجات للغضب :</strong></p>
<p>( ١ ) أن نغضب على أخينا . وهنا يبحث القاضي الإتهام للتأكيد من صحته .</p>
<p>( ٢ ) أن نحتقر أخانا ( فكلمة رقاً هي تعبير إحتقار الموجه إليه الحديث وعدم إحترامه ) وهنا يبحث المجمع الإتهام فهو أكبر محكمة قضائية لا نقض فيها ولا إبرام</p>
<p>( ٣ ) أن نضمر الشر لأخينا ( يا أحمق كلام خال من النعمة فقد يجعله ييأس ، والإنسان البائس لا يرى باب السماء ) وإذا وصلنا إلى هذا الحد أصبح من المشكوك فيه أننا أولاد الله ونكون إذ ذاك مستوجبين نار جهنم ( جهنم : مكونه من كلمتين عبرييتين &#8221; جه – هنوم &#8221; أي داخل هنوم ، وهنوم هو وادى تلقى فيه مخلفات الحيوانات والذبائح مملؤه دود والنار مشتعله فيها بلا إنقطاع ، رمز لعقاب إبليس وجنوده – دودها لا يموت ونارها لا تنطفئ )</p>
<p>وإذا وصلنا إلى هذه الدرجة الثالثة نجدها تساوى القتل في العهد القديم إننا إذا احتفظنا بالغضب داخل قلوبنا يتحول إلى كراهية فكيف نكره أن نراى إنساناً وهو قد صنعه الله مثلنا على صورته ومثاله ؟ لذلك يؤكد لنا يوحنا الرسول ما ورد في العظة على الجبل قائلًا: &#8221; من لا يحب أخاه يبقى في الموت . كل من يغضب أخاه فهو قاتل أنتم تعلمون أن كل قاتل ليس له حياة أبدية ثابتة فيه &#8221; (١يو١٤ : ٣ ، ١٥ )</p>
<p>فمن يغضب علي أخيه لا يرث الملكوت الذى أعده الله لأولاده الذين أعطاهم الحب بعضهم لبعض . قد لا نضمر السوء لأخينا ولكن ترى هل نحتقره أحياناً بأى وجه من الوجوه ؟ هل نعامله بإزدراء ؟ فمن نكون حتى نزدرى غيرنا . إن داود قال عن نفسه &#8221; أنا كلب ميت &#8221; ونحن بدون الله لا شيء . فلا ينبغي أن نتدخل في شئون غيرنا</p>
<p>أخشى أننا كثيرا ما نحتقر أخانا فنكسر قانون المحبة وبالتالي نكسر أول قانون من قوانين الملكوت ولرب قائل يقول : أنك نسيت جملة هامة : أفلم يقل الكتاب من يغضب على أخيه باطلاً ؟ !! إننى عندما أغضب على أخى لا أغضب عليه باطلاً آه كثيرًا ما استترت أنا أيضاً وراء هذا العذر غضب على أخى مراراً وكنت في كل مرة أقول لنفسى أن لدى عذراء وجيهاً لغضبى ولكن ليست هذه هي الترجمة للآية في اللغة اليونانية</p>
<p><strong>الغضب الخاطئ</strong></p>
<p>إننا نخدع أنفسنا ونبرر الكراهية التي في قلوبنا ولكن لن يحكم أحد على الغضب أنه باطل أو غير باطل إلا الله وقد يكون الدافع إلى الغضب نفسه خطية ومن أمثله ذلك :</p>
<p>( ١ ) غضب عن حسد : كما غضب اليهود على السيد المسيح عندما سمعوا الأطفال يهتفون &#8221; أوصنا يا ابن داود &#8221; غضبوا وقالوا له أتسمع ما يقوله هؤلاء ( مت ٢١ : ١٥ ) أغضبهم صوت الأولاد ولم يغضبهم ضجيج الباعة في هيكل الرب</p>
<p>( ٢ ) الابن الأكبر : غضب ولم يرد أن يدخل ( لو ١٥ ) للإحتفال بعودة أخيه .</p>
<p>( ٣ ) عيسو ويعقوب : منافسة نجح فيها المنافس مرتين فقد تعقب يعقوب عيسو مرتين في البركة والبكورية .</p>
<p>( ٤ ) اليهود           : عند عدم إحتمالهم لتبكيت السيد المسيح لهم على خطاياهم ، &#8221; إمتلأ غضباً جميع الذين في المجمع عندما سمعوا هذا ( يو ٢٤ : ١٥ – ٢٨ ) قال القديس بولس &#8221; ليرفع من بينكم كل مرارة وسخط وغضب وصياح وتجديف مع كل خبث وكونوا بعضكم نحو بعض شفوقين متسامحين &#8221; ( أف ٤ : ٣١ ) كل هذا غضب لا يصنع بر الله لتعارضه مع كل الفضائل .</p>
<p><strong>الغضب المقدس</strong></p>
<p>+ يخيل إلىّ إنى أسمع بعضهم يقول: ألم يخبرنا الكتاب في &#8221; (أف ٤ : ٢٦) &#8221; أن نغضب ؟</p>
<p>+ نعم إن هناك غضباً هو إحدى صفات الله. ونحن كأولاد نشترك فيه فالآيه صريحة لا تحتمل التأويل وليس معناها أن نغضب على أخينا إذ تقول &#8221; إغضبوا ولا تخطئوا لا تغرب الشمس على غيظكم ولا تعطوا ابليس مكاناً &#8221; ( أف ٤ ٢٦ ) وهذه الآيه تعتبر تدريباً لنا .</p>
<p>+ الغضب المقدس يكون الدافع إليه غيرة طاهرة على اسم الرب ومقادسه ووصاياه ورغبة صادقة في الدفاع عن الحق في غير ما غرض شخصى . وهو الدفاع عن كرامة الله وليس عن كرامتنا الشخصية ومن أمثلة ذلك :</p>
<p>١ – موسى الذى لم يكن مثله في حلمه ووداعته لما أبصر العجل الذهبى الذى صنعه بنو إسرائيل حمى غضبه (خروج ٢٢ : ٢٢ )</p>
<p>٢ – نحميا : لما وجد اليهود – أثناء بناء السور يقرضون إخواتهم بالربا ويستذلونهم ولما سمع صراخ الشعب بإذنيه غضب ووبخ العظماء والولاه على الربا وإضطرهم أن يكفوا عنه ويرحموا الشعب ( نح ٥ )</p>
<p>٣ – بولس الرسول: احتدت روحه فيه لما رأى المدينة مملؤه أصناماً ( أع ١٧ : ١٦ ) .</p>
<p>٤ – السيد المسيح : حينما راقبه اليهود وهو يشفى صاحب اليد اليابسة في يوم السبت فنظر حوله إليهم بغضب حزيناً على غلاظة قلوبهم ( مر ٣ : ٥ ) .</p>
<p>٥ &#8211;  السيد المسيح في الهيكل : وجد بداخله الباعة والصيارف &#8221; قلب موائد الصيارفة وكراسى باعة الحمام ووبخهم قائلاً &#8221; بيتى بيت الصلاة يدعى وانتم جعلتموه مغارة للصوص &#8221; ( مر ١١ )</p>
<p>إن الآيه التي ذكرها بولس الرسول التي لا تحمل التاؤيل : &#8221; فلا تغرب الشمس على غيظكم &#8221; أي لا تنام وفى قلبك بغضة من ناحية الطرف الآخر وهذا تدريب لكل زوجين لابد من تصفية المواقف أولاً بأول كل طرف يسأل الآخر إن كان هناك ما أساء به إليه حتى يمكن أن يخلدا إلى النوم في صفاء وسلام ولكى يرفرف عليهما سلام الله &#8221; فلا تضربك الشمس بالنهار ولا القمر بالليل &#8221; أحياناً نسمع في حالات الصلح التي نتوسط فيها الزوجة تقول للزوج &#8221; أنا في عشرين سنة وأنا زعلانة منك &#8221; عشرين سنة شايلة في قلبها !! والزوج يقول للزوجة &#8221; لى ثلاثين سنة وأنا محتمل أعمالك &#8221; كيف يحدث ذلك لو كانا يُصفيان كل خلاف أولاً بأول لما تجمعت الكراهية في القلب التي كثيراً ما تسبب الأمراض المزمنة. فلنترك الكبرياء ويطلب كل منا الصفح من الأخر حتى يستمر السلام والمحبة في بيوتنا إننا نقرأ عن شروط المحبة &#8221; المحبة لا تحتد &#8221; ( ١ كو ١٣ : ٥ ) مع المحبة لا يوجد غضب ولا يوجد عدم إحتمال فكل إنسان يخطئ ولو كانت حياته يوماً واحداً على الأرض فهل تحتد أنت على زوجتك أو على أولادك أو على أخيك أو على أحد من أفراد منزلك أو على مرؤسيك أو على رئيسك دعنى أن أقرر لك أن هذا الأمر من معطلات البركة .</p>
<p>كم من إناس تملكهم الغضب من أجل خلاف على تركة صغيرة أو لشعورهم بالإهانة ، أيهما أحسن أن تتحمل الإهانة وتكسب السماء أم تغضب وتذهب إلى نار جهنم . إنك عندما تتحمل الإهانة يحتملك الرب كم من الناس اليوم غضبى مع آخريين ! وكم من منازعات حتى بين المسيحيين أنفسهم . ربما أختلفت مع بعض الناس على عمل من الأعمال .</p>
<p>ربما أساءك البعض فأصبحت لاتحادثهم : فإذا صادف وقابلتهم في الطريق ملت إلى أحد الأزقة ، أو أحدقت ببصرك إلى جهة أخرى وكأنك لا تراه وإذا حدث أن قابلتهم وجهاً لوجهه أحدقت إليهم بنظرة شاردة تعبر عما في قلبك من جفاء وربما عداوة ثم تتعجب أوتتسأءل لماذا لم تحصل على بركة ، أو تمتلئ بالروح القدس ! كم من منازعات عائلية لا يلوم كل أحد نفسه ويقول أنا السبب . لقد حدث نوء شديد في البحر فقال يونان أنا السبب فرتب الرب أن يبتلعه حوت ، واصبح الحوت حجرة للصلاة وصلى يونان حتى أعاده الرب إلى المكان الذى خالفه فيه ويقوم بالمصالحة . إياك أن تنام وفى قلبك كراهية لأحد ثم تبرر نفسك وتقول أنا أحبه لكن من بعيد لبعيد إن المحبة دائماً من قريب لقريب أما المحبة من بعيد نتيجتها أن الله سيقول لك وأنا لا أعرفك إبق بعيداً عنى .</p>
<p>+ سؤال أتعلم ما هو الدافع الخفى الذى يحفزك إلى الغضب أو الأحتداد على أخيك ! ليس هو الإنسان الجديد: فإن هذا مخلوق في البر والقداسة .وكما يقول القديس يوحنا في ( ١ يو ٣ : ٩ ) إن الإنسان الجديد لا يخطئ أي أنه لا يستمر في خطاياه بل يتوب ويعترف بخطئه . فما هو ذلك الدافع إذاً هو لاشك ناشئ عن الإنسان العتيق ، أي الحياة العتيقة الخاطئة التي لا تزال عالقة بى وبك والتي تخلصت منها بالمعمودية : بالميلاد الجديد من الماء والروح والتي تجددت منها بالتوبة والإعتراف أمام الله في وجود أب إعترافك .</p>
<p>ولربما  تصرخ آية معلمنا بولس قائلًا : ( من ينقذنى من جسد هذا الموت ( رو ٧ : ١٤ ) ! هل أستطيع أن أخلص من هذا الإنسان العتيق ؟ نشكر الله أنك تستطيع الخلاص منه لأن المسيح عندما مات على الصليب لم يصنع فداء عن الخطية التي ارتكبت في الماضى فقط ، بل لقد فصل في سبب الخطية نفسها وفى علتها وفى أمر الحياة العتيقة الخاطئة . كما قال القديس بولس الرسول &#8220;عالمين هذا أن إنساننا العتيق قد صلب معه ليبطل جسد الخطية .  &#8221; ( رو ٦ : ٩ ) .</p>
<p>فالدافع الذى يحفزك ويحفزنى إلى الغضب على أخينا هو جزء من الإنسان العتيق الذى صلب على الصليب لكن من الممكن أن نتخلص منه بإيماننا بعمل المسيح الفائى على الصليب وعندما تأتى لتأخذ الحل من الآب الكاهن فهو يقرر لك أن خطاياك تستمد غفرانها من الصليب ، وخطيتك سمرت مع المسيح على الصليب : &#8221; مع المسيح صلبت فأحيا لا أنا بل المسيح يحيا فىّ &#8221; ( غل ٢ : ٢٠ )   لقد أصبحت خليقة جديدة ، والمسيح يحيا داخلك وتتمتع بوجوده فى داخلك.</p>
<p></p>
<p><strong>القسم الثانى من هذا القانون هو الصلح مع أخينا</strong></p>
<p>&#8221; فإن قدمت قربانك على المذبح ، وهناك تذكرت أن لأخيك شيئاً عليك فإترك هناك قربانك قدام المذبح ( الصوم أوالصلاة أو العشور أو تناول ) . وإذهب أولاً أصطلح مع أخيك ( ليس مجرد الذهاب بل مصالحة من الداخل ) وحينئذ تعال وقدم قربانك &#8221; (مت ٥ : ٢٣ – ٢٤) .</p>
<p>إن المصالحة لا تتم بمجرد الذهاب إليه . بل المصالحة في الداخل بعواطفك ، حيث تخضع معتذراً لأخيك في حضرة الله الذى تريد أن تقدم له قربانك ولذلك فإذا كان الأخ الذى أخطأت إليه حاضراً ، فإنك تستطيع أن تهدئه بفكرك الذى تنقى وتعيده إلى محبته الأولى وعطفه عليك وطلبك المغفره منه هذا يمكن أن يحدث إن كنت قد سبقت وإنسحقت أمام الله طالبًا المغفرة ، فتذهب إلى أخيك لا بخجل مدفوعاً بحب قوى . ثم هنا تعود إلى ما سبق أن فكرت فيه وهو تقديم قربانك .</p>
<p>فإذا تأخرت عن تقديم قربانك ففي وسعك أن تقدمه في وقت آخر أما إذا أخرت المصالحة فربما لا يكون لديك فرصة لإجرائها بعد ذلك فلا يقبل في العبادة صوم أو صلاة أو قربان المسئ إلى أخيه . وأخيك هنا تعنى أي شخص . فلا ننتظر حتى يأتي وهو ويعاتبنا</p>
<p>في الصوم الكبير يوجد إسبوع إستعداد كان آباؤنا في الماضى يذهبوا ويقرعوا على أبواب بيوت إخواتهم ويقولون &#8221; يا أخى أنا أتيت إليك في الصوم لأقول لك سامحني ، فإنى أخطأت إليك ويرد الآخر ويقول &#8221; أنا الذى أخطأت &#8221; ويقبلا بعضهما البعض ، وترجع المحبة كما كانت ، وهذه المحبة هي من الله ، لأننا اذا احببنا غيرنا يحبنا الله ، فالحب قبل القربان لأن الله محبة ليس فيه بغضة البته . أن الله يحب حتى الخطاه ، وهو يغفر كل خطايانا عندما نصطلح مع الآخرين لكننا في هذه الأيام نصوم ونحن في خصام مع الآخرين ونقول نحن لا نغضب عليهم باطلاً فهم يستحقون كل عقاب لكن ماذا نستحق نحن عند الله ، إنه لا مانع عندى من أن أقدم الحل لكل واحد يخاصم أخاه لأن صومه غير مقبول فكيف تمتنع عن أكل اللحم وأنت تأكل لحم أخيك . فإذا تذكرت عند الصلاه أو الصوم أو الصدقة أنك في خصام مع أخيك أترك كبرياءك وقل لأخيك أنا غلطان وإكسر الكبرياء التي في قلبك لأن قبل الكسر الكبرياء ، وإذا كان عندنا إستعداد لتنفيذ الوصية يعطينا الرب نعمة والمسيح الساكن فينا يقوينا لأنه يحيا فينا ونحصل على بركة كبيرة جداً لحياتنا .</p>
<p>مرة دعى الأب الكاهن إحدى السيدات لحضور أيام النهضة في الكنيسة فقالت له &#8221; أننى أريد أولاً أن أكتب خطابين لأنه يوجد إناس زعلانيين منى ، فلازم أبدأ بالمصالحة لكى أحضر ويغير الله حياتى &#8221; إن الله لن يغير حياتنا إلا لما نتغير نحن ، ومن عدم رضا الله عنا هو وجود خلاف بيننا وبين الآخرين .</p>
<p>لاحظ أنه لم يقل وهناك تذكرنا أن لنا شيئًا على أخينا فإن هذا ورد فعل &#8221; ومتى وقفتم تصلون فاغفروا وإن كان لكم على أحد شيء لكى يغفر لكم أيضاً أبوكم الذى في السموات زلاتكم وإن لم تغفروا أنتم لا يغفر لكم أبوكم الذى في السموات أيضاً زلاتكم &#8221; (مر ١١ : ٢٥ ، ٢٦) &#8221;</p>
<p>نرى أن الشرط الذى يعلق الله عليه الغفران لنا هو أن نغفر للأخرين حتى إذا وقفنا لنصلى يغفر لنا الله خطايانا فليس المقصود من هذه الأية على أي حال أن نتذكر أن لنا شيئًا عند أخينا بل المقصود أن نتذكر أن علينا شيئًا لأخينا فإذا ماذكرنا الله بذلك فإن الرب نفسه يأمرنا بأن &#8221; إذهب أولاً إصطلح مع أخيك ، وحينئذ تعال وقدم القربان ، فإن مسامحة الأخرين هذه ليست شرطاً للخلاص من الخطية فقط بل أيضاً شرط للشركة مع الآب السماوى .</p>
<p>وهكذا لا ننتظر أن يباركك الله إن لم تصطلح مع أخيك أولاً – نعم – قد يبدوا هذا أمراً طبيعيًا. لكنك إذا أظهرت إستعداداً للطاعة أعطاك الله النعمة التي تحتاجاها كى تنفذ هذا الأمر الألهى . وحينئذ تحصل من وراء ذلك على بركة كبرى في حياتك الشخصية بل وفى حياة الشخص الذى تصطلح معه .</p>
<p>أن الله لا يباركنا الأ إذا أصلحنا هذا الخطأ في حياتنا</p>
<p><strong>إختبار عملى :</strong></p>
<p>+ شاب كان يعمل في مصنع وسرق ١٢ دستة من منتجات المصنع أثناء خدمته به حضر إجتماعاً وكان المتحدث فيه يتحدث عن الأمانه تحرك قلب الشاب فرد ما سبق وسرقه من المصنع . تلقى الخادم خطاباً من المصنع يقول :</p>
<p>&#8221; سيدى العزيز – ربما سرك أن إجتماعاتك قد أتت بالثمار المرجوة ، فقد زارنا اليوم شاباً كان يعمل عندنا منذ عدة شهور ، فأرجع لنا صندوقًا يحتوى على ١٢ دستة من منتاجات مصنعنا ، كان قد سرقها وهو في خدمتنا ففكرنا ربنا تحب أن تعرف هذا الأمر وتأثير كلمة الله التي أرسلها على فمك فحركت قلبه ليرد ما سرقه وها نحن نرفق خطابنا عينة مما كان قد سرقها كتذكار لنجاحك &#8221; .</p>
<p>أيها العزيز – إن تعذر عليك أن تقابل أخاك وجهاً لوجهه أكتب له خطاباً . إعزم الأن ، إنها فرصة مصالحة ، ولا تحاول أن تبرر نفسك بأى وجه من الوجوه</p>
<p>+ سيده تشاجرت مع قريب لها أخبرتنى أنها ذهبت إليه وأعترفت له بخطئها وطلبت منه أن يسامحها ولكنها مع ذلك لم تتحسن حالتها وبعد حديث طويل عرفت السبب في عدم تحسن حالتها فإنها عندما إعترفت بخطئها قالت &#8221; ولكنك استفزتنى &#8221; ولا شك أن هذه الجملة زادت الطينة بلة . لأنها ذهبت لتدافع عن نفسها ليس لكى تعترف بخطئها فالإعتراف بالخطأ يجب أن يكون كاملاً وصريحاً وبكل وضوح وبدون التماس الأعذار . ذلك إن كنا نريد صلحاً حقيقياً مع أخينا .</p>
<p><strong>تداريب :</strong></p>
<p>١ – غضب وليد التسرع والأندفاع : بينما لو تروى الإنسان وفكر لما كان هناك داعٍ للغضب . فلقد نصحنا يعقوب الرسول &#8221; ليكن كل إنسان مبطئاً في التكلم ، مبطئاً في الغضب &#8221; (يع ١ : ١٩) .</p>
<p>٢ – في تعاملك مع إنسان غضوب :</p>
<p>(  أ ) لا تقف في وجهه عند ثورة الغضب وحاول الهروب .</p>
<p>( ب ) إذا لم تستطيع الهروب فكر في أنه قد تكون هناك ظروف داخلية متعبة تدفعه إلى الغضب والإنفعال .</p>
<p>٣ – هذا الغاضب هو أخوك أو زوجك أو زوجتك لا تحسبه عدواً .</p>
<p>٤ – فكر لماذا لا تكون أنت المخطئ وأنت لا تدرى وقد أثرته بأقوالك أو تصرفاتك .</p>
<p>٥ – تذكر أن النار لا تطفئها النار وإنما يطفئها الماء والغضب لا يطفئه الغضب بل المحبة وطول الروح &#8221; الجواب اللين يصرف الغضب &#8221; ( أم ١٥ : ١ ) – تكلم برفق وطيبة قلب .</p>
<p>٦ – لا تحسب للغضوب تصرفاته أثناء غضبه أو ما يتفوه به وتجاهل أخطاءه.</p>
<p><strong>نصائح لمن يغضبون :</strong></p>
<p>+ جاهد ضد خطية الغضب</p>
<p>+ ليس مصدر الغضب دائمًا هو أفعال الآخرين الخاطئة وإثارتهم بل نقطة ضعف فينا .</p>
<p><strong>قصة :</strong></p>
<p>راهب كان يغضب في بعض الأوقات – فكر أن يمضى ويسكن وحده ، وإنه مادام بمفرده لن توجد أسباب لإثارته . ملأ قلّة فتدحرجت وأنسكب الماء ، ملأها ثانية وثالثه وهى تتدحرج وتنسكب ، غضب وأمسكها وحطمها وسخرت منه الشياطين. قال لنفسه &#8221; هوذا قد غُلبت في الوحدة ، فلأذهب إلى الدير لأنالإنسان في كل موضع يحتاج إلى جهاد وصبر ومعونه إلهية &#8221;</p>
<p>+ درب نفسك طويلاً على اللطف وطول الأناة والوداعة والهدوء والإحتمال والمحبة .</p>
<p>+ إدرس الأسباب التي تثير غضبك وعالجها – قد يكون إرهاق أعصابك هو السبب أو ربما سبب جسدى عالج نفسك ، فما ذنب الأخرين حتى يحتملونك .</p>
<p>+ درب نفسك على عدم التدخل فيما لا يعنيك .</p>
<p>+ إن غضبت فلا تترك غضبك يستمر طويلاً حاول أن تهدئ نفسك بسرعة. أذكر قول الرسول &#8221; لا تغرب الشمس على غيظكم ولا تعطوا لإبليس مكاناً &#8221; . ( أف ٤ : ٢٦ ) .</p>
<p>+ تذكر أخطائك التي تقع أثناء غضبك – درب نفسك على تركها وأشكر الله أن هذا الغضب قد كشف لك نقائص مختفية داخلك وإبدأ بمعالجتها</p>
<p>+ إعترف لله على يد الكاهن ، وأسال الله في كل صلاة أن يرفع عنك هذا المرض ويعطيك روح الوداعة أطلب بلجاجة وتأكد أنك ستنال ما تطلبه لأن الله نفسه يريده لك<a href="#_ftn10" name="_ftnref10">[10]</a> .</p>
<h4>المتنيح القمص لوقا سيداروس</h4>
<p><strong>مثل السامرى الصالح (لو ١٠ : ٢٥ &#8211; ٣٧)</strong></p>
<p>&#8221; واذا ناموسىُ قام يُجربه قائلاً : يا مُعلم ، ماذا أعمل لأرث الحياة الأبدية ؟ فقال له : ما هو مكتوبُ فى الناموس كيف تقرأ ؟ فأجاب وقال : تُحب الرب الهك من كل قلبك ، ومن كل نفسك ، ومن كل قدرتك ، ومن كل فكرك ، وقريبك مثل نفسك فقال له : بالصواب أجبت افعل هذا فتحيا وأما هو فاذ أراد أن يبرر نفسه ، قال ليسوع : ومن هو قريبى ؟ فأجاب يسوع وقال : انسانُ كان نازلاً من أورشليم الى أريحا ، فوقع بين اللصوص ، فعروه وجرحوه ، ومضوا وتركوه بين حىّ وميت فعَرضَ أن كاهناً نزل فى تلك الطريق ، فرآه وجاز مقابله وكذلك لاوى أيضاً ، اذ صار عند المكان جاء ونظر وجاز مقابله ولكن سامرياً مُسافراً جاء اليه ، ولما رآه تحنّن ، فتقدمّ وضمد جراحاته ، وصبّ عليها زيتاً وخمراً ، وأركبه على دابّته ، وأتى به الى فندق وأعتنى به وفى الغد لمّا مضى أخرج دينارين وأعطاهما لصاحب الفندق ، وقال له : اعتن به ، ومهما أنفقت أكثر فعند رجوعى أوفيك فأى هؤلاء الثلاثة ترى صار قريباً للذى وقع بين اللصوص ؟ فقال : الذى صنع معه الرحمة 0 فقال له يسوع : اذهب أنت أيضاً وأصنع هكذا &#8221; (لو ١٠ : ٢٥ &#8211; ٣٧)</p>
<p><strong>ناموسىُ قام ليُجربه :</strong></p>
<p>عندما بكّت الرب الفريسيين وفضح أغوار تدبيرهم ولعن رياءهم وأعطاهم الويلات لأجل حياة المظاهر الكاذبة والجرى وراء مديح الناس فأجاب واحد من الناموسيين وقال له : يا معلم حينما تقول هذا تشتمنا نحن أيضاً فقال الرب &#8221; ويلُ لكم أنتم أيها الناموسيون إ لأنكم تُحمّلون الناس أحمالاً عسرة الحَمل وأنتم لا تمسُون الأحمال باحدى أصابعكم &#8221; (لو ١١ : ٤٦) هذا هو المنطق الداخلى الذى منه يُفكر الانسان الفريسى ، هو يحفظ الناموس بتدقيق مذهل وحرفية قاتلة ولكن للناس فقط ، للتعليم الكلامى ، وليس لنفسه ولا لحياته</p>
<p>تفسيرات وتأويلات وتحميل الناس أثقالاً فوق أثقال ، أحمالاً عَسِرة الحَمل ، لم يقدر أحد من الناس أن يحملها ، وفى ذات الوقت لا يمسون الأحمال باحدى أصابعهم فلا نصيب للناموسى من حمل الناموس أو ثقل الوصايا شىء ، يضيقون الطريق أمام الناس وهم يعيشون فى حياتهم الخاصة فى سعة ما بعدها سعة ، يُحرّمون الأشياء على الناس ويحللونها لأنفسهم ، لقد أعفوا أنفسهم من كل ثقل وضيق واحتمال ، وتركوا عنهم أثقل الناموس الحق والرحمة والايمان  (مت ٢٣ : ٢٣)</p>
<p>الناموسى اذن لم يكن ليسأل المسيح طالباً باخلاص : ماذا يعمل ليرث الحياة الأبدية ، بل أن الروح يَكشف غرضه الباطن ، انه يسأل ليجرب ، هل يُجيب الرب اجابة تتفق مع ما يحفظه هو ، وما يعرفه هو ويُعلّم به الناس ، أم أن اجابة الرب سوف تختلف ؟</p>
<p>ولكن الرب كاشف الأسرار وعارف القلوب ومختبر الكلى ، أجابه على سؤاله بسؤال قائلاً : ما هو مكتوب فى الناموس كيف تقرأ ؟ وبتلقائية العارف الحافظ عن ظهر قلب أجاب الناموسى قائلاً : تحب الرب الهك الى آخر الوصية الأولى والعظمى ، مَحبة الله من كل القلب والفكر زالنفس والقدرة ومحبة القريب كالنفس انه عارف المدخل للحياة الأبدية وميراث ملكوت السموات ، فماذا يُعوزه ؟ فقال له الرب بالصواب أجبت افعل هذا فتحيا</p>
<p>♣  العبرة اذن ليس بما نعرفه بل بما نفعله ونحياه</p>
<p>♣  الحياة الأبدية ليست معلومات ودراسات ، هى أولاً وقبل كل شىء حفظ وصايا الرب0</p>
<p>♣  الوصية الأولى والعظمى – وصية المحبة – بدونها لا يكون دخول الى ملكوت الله لأن المحبة فيها تكميل الناموس كله ، كما يقول الرسول بولس وان كانت وصية أخرى متضمنة فى تلك الكلمة عينها تحب قريبك كنفسك لأن المحبة لا تصنع شراً بالقريب (غل ٥ : ١٤)</p>
<p>♣  ليتنا نتعلم كيف عامل الرب انسان قام فى وسط الجمع ليجربه ، لم يحتد عليه ولا كشف خبثه ولكن بطول أناة ورفق احتمله ، وكلّمه كلمة الحياة بل وشجعه ومدحه أمام الناس قائلاً : &#8221; بالصواب أجبت &#8221; حقاً ان ربح النفوس حكمة الهية (أم ١١ : ٣٠)</p>
<p>يا ليت هذا المنهج الالهى يكون لنا طريقاً للسلوك الروحانى لاحتمال الآخرين حتى المجرّبين أيضاً بروح الاحتمال نستطيع أن نربح ونربح كثيراً</p>
<p><strong>أراد أن يبرر نفسه :</strong></p>
<p>♣  يبدو أن اجابة الرب أوقعت الناموسى فى حرج أو مأزق ليس فقط أمام الناس بل فى الواقع أمام نفسه فى الداخل وأمام ضميره ، اذ وجد فى الموازين ناقصاً لأنه رغم المعرفة بالناموس والوصايا اكتشف أنه تنقصه الحياة أو قل أنه وجد ذاته محروماً منها أو كما قال الرب لآخر لست بعيداً عن ملكوت الله ، لكنه فى ذات الوقت لم يكن داخل الملكوت وهذا ما يتعب النفس بالأكثر لأنه على الرغم من معرفة الطريق الا أنه ليس محسوباً ضمن السائرين فيه</p>
<p>عاد الناموسى يسأل سؤالاً آخر لعله يخرج من مأزقه أو أن يغير الموضوع فيفلت من وطأة الكلمة الالهية التى تضع الانسان فى مثل هذه المواجهة الصعبة</p>
<p>ان هذه هى حقيقة الكلمة ، أن تضع الانسان عند مفارق الطُرق ها قد جعلت أمامك طريق الحياة وطريق الموت اختبر الحياة فتحيا (تث ٣٠ : ١٩) ، ومطاليب الكلمة فى مثل هذه الحالة هى نفس مُتضعة وقلب منكسر ، لا قلباً معانداً ورقبة متصلبة</p>
<p>اسمع القديس بولس الرسول يقول للصوت الذى ناداه من السماء شاول شاول لماذا تضطهدنى من أنت يارب ؟ ماذا تريد أن أفعل ؟ وكما وصف هذا الموقف بعينه أمام الملك أغريباس قائلاً : من ثمّ أيها الملك أغريباس لم أكن مُعانداً للرؤيا السماوية &#8221; (أع ٢٦ : ١٩)</p>
<p>وهكذا الذين سمعوا الرسل فى يوم الخمسين عندما نُخسوا فى قلوبهم قالوا لبطرس وبقية الرسل ماذا نفعل أيها الرجال الاخوة (أع ٢ : ٣٧) أما ذات الناموسى المتضخمة ، فأبت أن تنحنى أمام حقيقة الكلمة وفعلها فى القلب وأراد أن يهرب من نير الكلمة الذى هو أمضى من كل سيف ذى حدين وخارق الى مفارق النفس ومميزة أفكار القلب ونياته</p>
<p><strong>من هو قريبى ؟</strong></p>
<p>ومع أن السؤال يبدو ساذجاً الا أن الرب طويل الأناة والمحتمل ضعف البشر ، يستطيع أن يُخرج من الآكل أكلاً ومن الجافى حلاوة ، فطبيعة ربنا ونعمته سخية وتعاليمه المفعمة حياة تفيض من ينبوع نعمته كاشراق الشمس على الصالحين والأشرار وكما يمطر على جميع أصناف الناس ، لأنه اله خيّر فى طبيعته ، طيب وصالح وليس لصلاحه حدود</p>
<p><strong>المثل</strong> :</p>
<p>لكى يُقرب المعنى للسامعين ، توسط بهذا المثل ولكى يُصيب فى الصميم قلب الحجر الذى للناموسى تكلم الرب فى المثل عن فعل الرحمة الفائق ، والحنو الذى هو غاية الناموس لأن الرب يريد رحمة لا ذبيحة ، ولأن الرحمة تفتخر على الحكم</p>
<p>قال الرب :</p>
<p>انسان كان نازلاً من أورشليم الى أريحا فوقع بين اللصوص فعرّوه وجرّحوه ومضوا وتركوه بين حى وميت</p>
<p>أورشليم هى مدينة الله ، مدينة الملك العظيم ، مدينة الهيكل والعبادة والذبائح وأريحا ، قديماً تدعى لوز ، بلد الملذات ، ولما بنيت وتحصنت بأسوار أريحا صارت مكمناً للشر والزنا والنجاسات حتى هدمها يشوع بن نون بالايمان عندما طاف حولها سبعة أيام ، ولما هدم أسوارها لم يستبق من المدينة أحداً بل قضى على الخطية وأباد عبادها ولم يستحيى سوى راحاب الزانية التى تخلصت بعلامة الخيط القرمزى الذى هو مثال رشاش دم المسيح الذى يخلص الخطاة (يش ٦)</p>
<p>فالانسان فى المثل الذى كان نازلاً من أورشليم الى أريحا أى منحدراً من السمائيات الى الأرضيات ، ونازلاً من رتبته وكيانه فى أورشليم الى أريحا فى طريق منحدرة نهايتها الهلاك وهذا هو واقع الانسان ، كل انسان ، حينما طُرد من الفردوس وسقط من رتبته الى الأرض ، الى التراب الذى أخذ منه</p>
<p>وقع بين اللصوص :</p>
<p>الشيطان روح الظلمة ، كان من البدء قتّالاً للناس ، هو غير الرحيم كما تسميه الكنيسة فى صلواتها عندما تقع النفس فريسة فى يديه لا يُشفق لأنه لا يعرف الشفقة ، الخطية لها سطوة غريبة ، كم طرحت كثيرين جرحى وكل قتلاها أقوياء (أم ٧ : ٢٦)</p>
<p>ان منظر الانسان الواقع بين يدى اللصوص الأشرار ، ينهشون كالأسود الكواسر بلا رحمة ، يعطى فكرة عما تكون عليه النفس البشرية وهى واقعة تحت نير الشهوات والأهواء ومُمزقة بيد الشيطان والجسد والعالم</p>
<p>فعروه ، وجرّحوه ، ومضوا وتركوه بين حى وميت :</p>
<p>أول ما يَعمله العدو الشرير فى النفس هو أن يُعرّيها من ثوب النعمة ، حقاً ، فالخطية فضيحة وعُرى والنعمة سُترة وغطاء تأمل انسان كورة الجدريين وهو به لجئون من الشياطين ساكناً فى القبور عُرياناً يصيح ويقطّع نفسه بالحجارة ، وعندما تحنن الرب يسوع عليه وأخرج منه الشياطين ، جاء أهل كورته وتعجبوا اذ وجدوه جالساً ولابساً وعاقلاً (لو ٨ : ٢٦ &#8211; ٣٥)</p>
<p>ان أول مذاقة لمرارة الخطية كما اختبرها الجميع منذ آدم أبونا الأول كانت مرارة العُرى ، انها أول خبرة مرة أليمة &#8221; لأنى عريانُ فاختبأت &#8221; (تك ٣ : ١٠)</p>
<p>وأول نعمة يتقبلها الانسان الراجع الى أحضان الآب بعد زمن الغربة والمهانة والخطية ، أول نعمة هى الحُلة الأولى ، حُلة الستر والسترة ، ستر العُرى وستر الخزى ، ثياب النعمة التى بالذبيحة أى أقمصة الجلد التى ألبسها الرب الاله لآدم</p>
<p>♣  المسيح صُلب على الصليب عُرياناً ليستر عُرينا فالتأمل فى الصليب كل يوم وحب وحب الصليب وحمل الصليب يشفى النفس التى عرتها الخطية ، لقد صار لنا صليب المسيح حصن منيع ، وستر حصين لقد افتقر الرب وهو الغنى لكى نستغنى نحن أيضاً بفقره نشكرك لأنك سترتنا</p>
<p>جرحوه :</p>
<p>ما أقسى جراح الخطية التى تطرح الانسان يعانى من نزف الحياة ، ومن ضعف الى ضعف جراحات الجسد أمرها هين ، وبقليل من دواء وضمادات تُشفى وتبرأ ، أما جراحات النفس ونزيف الحياة الداخلية التى تؤدى بالانسان الى الموت الأبدى من يشفيها</p>
<p>نازفة الدم وجدت الطريق بعدما تعبت من أطباء كثيرين وبعد أن صارت الى حال أردأ ، قالت فى نفسها أنا ان مسست هدب ثوبه فقط شُفيت ، وقد حدث هذا بالفعل فى حال لمسها لهدب ثوب الرب يسوع وقف نزيف دمها فى الحال (مر ٥ : ٢٥ &#8211; ٣٤) المسيح مَجروح من أجل معاصينا مسحوق من أجل آثامنا (إش ٥٣ : ٥) جراحات يسوع صارت عوضاً عن جراحاتنا 0 نحن مدينون لمن سفك دمه عنا فداءاً وخلاصاً وغُفراناً للخطايا</p>
<p>وتركوه بين حى وميت :</p>
<p>بعد أن سلب اللصوص كل شىء ، وعرُوا الانسان وجرحوه تركوه طريحاً مضرجاً بدمائه ، بين حى وميت</p>
<p>لا يترك الشيطان فريسة الا اذا أرادها فى هذه الحالة ، يَسلب كل شىء ، يُفقد النفس كل الغنى والفضائل التى تملكها كل ما لها ، كل كنوز الروح : المحبة والايمان والرجاء والاتضاع والقداسة الى آخر هبات الروح القدس وثماره فى النفس التى هى الغنى الحقيقى والفرح الحقيقى وقوع النفس فريسة فى يد الشيطان والعالم معناه فُقدان النفس كل غنى الروح وشركة ميراث القديسين فى النور</p>
<p>وليس هذا فقط ، بل عندما اطمئنوا الى عدم قدرته وفقدانه كل مُقومات الحياة وقد أشرف على الموت وتركوه الشيطان لا يترك فريسته الا اذا رآها على هذه الحالة البائسة حين تصير النفس لا تقدر على مجرد النهوض أو الوقوف ، أو حتى مجرد الحركة</p>
<p>نفوس كثيرة منطرحة مسكينة ، هى أقرب الى الموت منها الى الحياة بحسب الروح ، فمن جهة الحياة الروحية ربما تدخل فى عداد موتى الخطية</p>
<p>لا قدرة على صلاة ولا قوة على صوم ، ولا صبر فى جهاد ولا احتمال فى تجارب لا تحيا ولا تتحرك بالروح الذين وقعوا أسرى الجسد وجرحى الشهوات لا يتركهم الشيطان الا بعد أن يُجردهم تماماً ويصيروا ليس قتلى السيف الذين وقعوا تحت سطوة العالم وحب المال وانجرحوا بجراحات حب الكرامة والمركز والمجد الباطل يُمزقهم الشيطان ولا يتركهم وفيهم رمق الروح أو قوة الإتضاع</p>
<p>♣  تُرى من يقيم هذا المتروك بين حى وميت ، ومن له سلطان الاقامة من الأموات ؟</p>
<p>ليس سوى الذى مات وقام وغلب الموت</p>
<p>ليس سوى الذى مات من أجل خطايانا وأقُيم من أجل تبريرنا (رو ٤ : ٢٥)</p>
<p>ليس سوى الذى قتل الموت بموته وأنار الحياة والخلود</p>
<p>فعرض أن كاهناً نزل فى هذا الطريق فرآه وجاز مقابلة:</p>
<p>لقد نزل الكاهن واللاوى ، النبى والرائى ، والشيخ والمعتبر ،  الكل نزل فى هذا الطريق ، الطريق المنحدر من أورشليم &#8221; الروح&#8221; الى أريحا &#8221; الجسد &#8221; أغلق على الكل ليس من يفعل صلاحاً ليس ولا واحد (رو ٣ : ١٢) الجنس البشرى كله يَحمل طبيعة ساقطة ، لأنه حينما سقط أبونا آدم فى الغواية والمخالفة ، سقط فى الموت يوم أن تأكل من الشجرة موتاً تموت (تك ٢ : ١٧) وهكذا بانسان واحد دخل الموت الى جميع الناس اذ أخطأ الجميع (رو ٥ : ١٢)</p>
<p>سقط الجميع فى آدم ، لأنه فى آدم يموت الجميع كما يقول الرسول</p>
<p>نَظَرَهُ ، وجاز مقابله :</p>
<p>فماذا عساه الكاهن أن يفعل بهذا الانسان الطريح فى الموت ؟ فماذا يملك حتى يُقدم له ؟</p>
<p>ان كاهن العهد القديم يَملك الناموس فهل الناموس يُقيم من الأموات ؟</p>
<p>الناموس يرى ويحكم ، يُشخص الداء ، ويدين الخطية ، يفضحها ويؤثمها ، ولكنه لا يُخلص منها</p>
<p>قبل الناموس كانت الخطية كامنة ، موجودة ، ولكن فى سر كانت تعمل وتُهلك دون أن يفطن اليها الإنسان</p>
<p>فلما ظهر الناموس ، بأحكام ضد الخطايا ، كشف أن الكل صاروا تحت اللعنة لأنه مكتوب ملعون من لا يَثبُت فى كلمات الناموس ولم يستطع أحد مطلقاً أن يُكمّل الناموس</p>
<p>قال القديس بولس الرسول ان الانسان لم يعرف أن الشهوة خطية ان لم يقل الناموس لا تشتهى (رو ٧ : ٧) فهو قبل الناموس كان يشتهى – أى يفعل الخطية دون أن يُدرك مدى فسادها – &#8221; لما جاءت الوصية عاشت الخطية ، فمُتُ أنا &#8221; (رو ٧ : ٩) كمثل طبيب يُشخص المرض القاتل ، فقبل أن يأتى الطبيب ، كان المرض موجوداً ولكن لم تكن خطورته القاتلة معروفة ، فلما أظهرها الطبيب وأعلنها ، أصبحت بمثابة حكم موت على الانسان فهل يُعاب على الطبيب ؟ كلا بل المرض هو البغيض والمميت</p>
<p>هكذا يقول القديس بولس ، هل الناموس خطية ؟ حاشا فهل صار لى الصالح موتاً ؟ حاشا بل الخطية لكى تظهر أنها خاطئة جداً (رو ٧ : ١٣) اذن الناموس صالح ومقدس وعادل أما سر الموت وشوكة الموت وقوة الموت فهى كائنة فى الخطية</p>
<p>على هذا لم يستطع كاهن العهد القديم ، أو كاهن الناموس أن يؤدى خدمة للانسان الواقع بين اللصوص ، الملقى بين حى وميت ولا اللاوى أيضاً اذ سلك مسلك الكاهن عندما جاز مقابلة عبر أيضاً</p>
<p>ان الرجل الواقع بين اللصوص ، ليس بحاجة الى وصايا ، وناموس ، فرائض وشرائع ، انه فى حال الموت ويحتاج من يقيمه ويحييه ، يضمد جراحه ، ويوقف نزيف دمه انه يحتاج لمن يعطيه الحياة ، وواهب الحياة فقط هو الله لأن فيه كانت الحياة (يو ١ : ٤)</p>
<p>ولكن سامرياً مسافراً :</p>
<p>لم يقل الرب عن السامرى انه كان نازلاً ، لقد شبه الرب نفسه بهذا السامرى الصالح ، الشفوق المقيم المسكين من التراب والرافع البائس من المزبلة</p>
<p>فهو وان صار انساناً ، وأخذ شكل العبد ، ولكنه غير الخاطىء وحده ، ولد من العذراء ولكنه ليس من زرع البشر فليس فيه خطية ولم يعرف خطية0</p>
<p>فهو ليس ساقطاً ، أو نازلاً أو منحدراً كباقى البشر ، ليس مثله ، لا نبى ولا رئيس آباء ، فهم ان اشترك فى اللحم والدم ، المشى مع الناس ، لكنه قال من منكم يبكتنى على خطية ؟</p>
<p>جاء اليه :</p>
<p>فهو ليس عابر سبيل ، ولا صادفه هذا الأمر مصادفة بل هو جاء إليه</p>
<p>لقد سعى الرب نحو الانسان ، بمقاصده الأزلية ، جاء يطلب ما كان ضالاً ، وجاء يطلب ويُخلص ما قد هلك (لو ١٩ : ١٠)</p>
<p>لقد جاء للسامرية ، ومشى من أجلها ست ساعات حتى تعب وجلس هكذا على البئر فى انتظارها (يو ٤)</p>
<p>وجاء الى لاوى وناداه من عند مكان الجباية (مت ٩ : ٩)</p>
<p>وجاء من أجل الكل ونادى : تعالوا الىّ يا جميع المتعبين(مت ١١ : ٢٨)</p>
<p>وسعى الى الخاطىء الطريح حتى وجده فى مكانه ، كمثل راع صالح سعى فى طلب الضال حتى رآه فاحتضنه وخلصه</p>
<p>ولم يزل يسعى فى أثر كل ساقط ، جريح ، منطرح بين حى وميت يطلب الضال ، ويسترد المطرود ، يُجبرُ الكسير ، ويَعصبُ الجريح (حز ٣٤ : ١٦)</p>
<p>ولما رآه تحنن :</p>
<p>ان الرب يسوع وهو يقترب من قرية نايين واذا شاب محمول ميت وهو ابن وحيد لأمه وكانت أرملة ، لما رآها يسوع تحنن عليها ، وقال لها لا تبكى ولمس النعش فوقف الحاملون حينئذ نادى الميت قائلاً : أيها الشاب ، لك أقول : قُم إ فجلس الميتُ وابتدأ يتكلم ، فدفعه الى أمّه &#8221; (لو ٧ : ١٢ &#8211; ١٥)</p>
<p>هكذا كان حَنان السامرى الصالح ، ليست مشاعر بشرية مُجردة ، ولا مُشاركة وجدانية عاجزة ، تكتفى بالدموع وكلمات الرثاء ، لأن ماذا ينفع كل هذا ؟ ولكن الحَنّان القادر على الاقامة من الأموات حَنَان ابن الله الكلمة الظاهر فى الجسد ، الذى له وحده عدم الموت ، واهب الحياة ، الذى نادى لعاذر من القبر بعد أربعة أيام</p>
<p>فتقدم وضمد جراحاته :</p>
<p>&#8221; فلم يدع انساناً يظلمُهُم &#8221; (مز ١٠٥ : ١٤) &#8221; فى كل ضيقهم تضايق&#8221; (إش ٥٣ : ٩) &#8221; أحزاننا حملها ، وأوجاعنا تحمّلها وهو مجروح لأجل معاصينا ، مسحوقُ لأجل آثامنا &#8221; (إش ٥٣ : ٤ -٥)  &#8221; أنا أرعى غنمى وأربضُها ، يقول السيد الرب وأطلب الضال ، وأسترد المطرود ، وأجبرُ الكسير ، وأعصبُ الجريح (حز ٣٤ : ١٥ &#8211; ١٦) &#8221; لأنه هو يجرح ويعصبُ يسحق ويداهُ تشفيان &#8221; (أي ٥ : ١٨)</p>
<p>هكذا كتب الأنبياء عن مخلصنا الصالح أنه هو شافى سائر أمراض النفس ومُضمد جراحات الخطية وحده ، وليس آخر يستطيع أن يُنجى هكذا</p>
<p>وربنا ضمد جراحاتنا بجراحاته ، وبدل نزف دمنا بالخطية القاتلة وشوكتها المُرة ، قبل أن يَبذل دمه ويسكبه ويسكبه فداءً عنا &#8221; هو أخذ الذى لنا وأعطانا الذى له ، فلنسبحه ونمجده ونزيده علواً &#8221; ( ثيؤطوكية الجمعة )</p>
<p>وصبّ عليها خمراً وزيتا :</p>
<p>وصف الروح القدس حالة بنى اسرائيل وقد ابتعدوا عن الرب أنهم صاروا &#8221; من أسفل القدم الى الرأس ليس فيه صحةُ بل جُرحُ وأحباطُ وضربةُ طريةُ لم تُعصر ولم تُعصب ولم تُلين بالزيت &#8221; (إش ١ : ٦)</p>
<p>فالزيت ، زيت الروح القدس ، الذى يلين القساوة ، قساوة الرقبة وقساوة الطبيعة والتصلب والصلف</p>
<p>والخمر ، خمر الروح القدس ، المقدس والمطهر لسائر الأدناس ، وخمر دم المسيح المُعطى الحياة</p>
<p>وأركبه على دابته :</p>
<p>اتضع ليرفعنا ، وجاع ليشبعنا ، وعطش ليسقينا ، افتقر ليُغنينا ، لكى نستغنى نحن بفقره</p>
<p>رضى أن يُصلب على الصليب عُرياناً ليستر عُرينا وخزينا ، أى شكر نستطيع أن نقدمه لهذا الحنان المترفق بالخطاة</p>
<p>وأتى به الى فندق واعتنى به :</p>
<p>قال الآباء عن الكنيسة المقدسة أنها مستشفى ، يدخل اليها جميع المصابين بأوجاع الروح وأمراضها فيبرأون ، هى مكان شفاء الجراحات ، بيت الله ، باب السماء</p>
<p>لا خلاص من خطايا ولا شفاء من أمراض خارج أسوار الكنيسة ، أسرارها كلها معطية الحياة0</p>
<p>♣ المعمودية خليقة جديدة وثياب جديدة عوض العُرى والخزى</p>
<p>♣  التوبة والاعتراف هو خلع العتيق الفاسد الذى بحسب شهوات الغرور (أف ٤ : ٢٢) ، اطرحوا عنكم الكل : الغضب والصياح والكلام القبيح إلخ اخلعوا من جهة التصرف السابق الأمور التى ذكرها أيضاً قبيح</p>
<p>هنا تفك الكنيسة قماطات الموت ولفائف حيل الشيطان بسلطان المسيح كما قال للتلاميذ عند قبر لعاذر &#8221; حلُوه ودَعوه يذهب &#8221; (يو ١١ : ٤٤)</p>
<p>♣ التناول سَريان دم الحياة الجديدة ولبس المسيح والاتحاد به والاشتراك فى الوليمة السمائية ومائدة خبز الحياة والمن المخفى ، عوض الجوع الى الخرنوب والعطش الى الشهوات</p>
<p>♣ فى سر مسحة المرضى ، &#8221; وصلاة الايمان تشفى المريض ، والرب يُقيمُه ، وان كان قد فعل خطية تُغفر له &#8221; (يع ٥ : ١٦) ومسحة الزيت الروحانى ، تنسكب بيد السامرى الصالح على جراحات النفس والجسد0</p>
<p>وهكذا يكون دخولنا الى الكنيسة وتمتعنا بأسرارها ، كمن يدخل الى أحضان الآب تحتويه المحبة وتشفيه القبلات وتزيل عنه عار الغُربة وخزى الخطايا</p>
<p>وفى الغد لمّا مضى أخرج دينارين وأعطاهما لصاحب الفندق وقال له : اعتن به ومهما أنفقت أكثر فعند رجوعى أوفيك :</p>
<p>لم يقف عمل الرحمة الالهية عند هذا الحد ، بل امتد وسيمتد الى يوم رجوعه ومجيئه الثانى فهو يصعد الى السماء ، وسيأتى ثانية كما رأيتموه مُنطلقا الى السماء وفى مجيئه سيُجازى كل واحد بحسب عمله ويوفى عبيده الأمُناء أجر عمل المحبة ، لأنه ليس بظالم حتى ينسى تعب المحبة</p>
<p>الذين يعتنون بالخطاة ، ويُضمدون الجراحات ، ويبذلون الجهد والعُمر محبة فى المسيح</p>
<p>الذين يسهرون على خلاص الآخرين ويُخلصوا البعض مختطفين من النار</p>
<p>الذين يعملون عمل الرحمة على المستوى الروحى ، شفقة على الأثمة ، ويفتحون أحضان المسيح فى كنيسته للضال والمطرود</p>
<p>الذين صارت راحتهم فى حمل الصليب ، صليب الآخرين يَنفقون ويُنفَقون</p>
<p>الذين عملوا العمل الرسولى ، فى تعب الخدمة ، خدمة الكلمة وخدمة الأسرار ، مُنسَكبين على ذبيحة ايمان أولادهم وصاروا فى وسط المخدومين حانين هكذا كما تُربى المُرضعة أولادها ، أو كما فى ساعات المُخاض والآلام حتى يتصور المسيح كاملاً فى المخدومين</p>
<p>وكذلك الذين يَعملون عمل الرحمة بحسب فعلها الظاهر فى افتقاد الأرامل والأيتام فى ضيقهم ، فى زيارة المرضى والمحبوسين ، وسَد عوز المحتاجين</p>
<p>هؤلاء وأولئك ، عند رجوعه ومجيئه المجيد سوف يوفيهم أجراً صالحاً سمائياً فى ملكوته وميراثه الذى لا يضمحل</p>
<p>دينارين :</p>
<p>دفع الرب لصاحب الفندق المؤتمن ، دينارين ، لينفق منهما على سلامة المسكين ، لانقاذ الحياة ، ويجمع الآباء على أن الينارين هما العهدان ، القديم والجديد ، الحاويان كلمة الحياة النافعة للتقويم والتأديب ، التى هى حية وفعالة وأمضى من كل سيف ذى حدين (عب ٤ : ١٢)</p>
<p>والكنيسة هى التى تَنفق وتُعطى ، كمؤتمنة على الكلمة الحية سَلمها لها المسيح بسلطان ، فى سر ، من الانجيل توزع الكنيسة غنى للمحتاجين وستر للعرى وقوة للقيام ، وراحة للمتعبين ، ومن العهدين ، الدينارين ، تجد النفس المتعبة مراحم الله ونعمته ورحمته وعمل خلاصه</p>
<p>الكنيسة أخذت من المسيح لتعطى ، وتُنفق ، الخدمة فيها بذل وتضحية ، حب وسَكب ، والخادم لا ينتظر مجازاة أرضية أو أجرة مادية لكنه بأكثر اجتهاد يعمل منتظر رجوع الرب ومجيئه الثانى حيث تكون المكافأة ملكوت سماوى وميراث لا يفنى ولا يتدمس ولا يضمحل</p>
<p>أخيراً بعد أن قال الرب هذا المثال المُحيى ، سأل الرب الناموسى قائلاً : فأى هؤلاء الثلاثة  ترى صار قريباً للذى وقع بين اللصوص ؟ فأجاب الناموسى قائلاً : الذى صنع معه الرحمة</p>
<p>لقد صار المسيح لنا بعمل رحمته على الصليب وافتقاده الخطاة أقرب من الصديق وألصق من الأخ</p>
<p>وما عجز عنه الكاهن ( ناموس العهد القديم ) واللاوى ( الأنبياء ) حينما نظروا الى الجريح فرأوه ، ولكن عجزوا عن تقديم المعونة لانقاذ الحياة ، ما عجزوا عنه أكمله المسيح ( السامرى الشفوق ) بحنان بالغ ، وصار قريباً الينا جداً اذ احتمل آلامنا فصارت محسوسة عنده &#8221; فى كل ضيقهم تضايق ، وملاك حَضرتَه خلّصهم &#8221; (إش ٥٣ : ٩)</p>
<p>وصار قريباً لنا اذ اشترك معنا فى اللحم والدم ، وأعتق الذين كانوا كل زمانهم تحت العبودية بسبب الخوف</p>
<p>هكذا تفتخر الرحمة ، وحنو المسيح فوق جميع الأحكام والفرائض والوصايا</p>
<p>فلما أجاب الناموسى هكذا بعقل ، بادره الرب قائلاً : اذهب أنت أيضاً واصنع هكذا</p>
<p>لقد وجه الرب نظر الناموسى فى المرتين الى ضرورة العمل بمُقتضى الوصايا ، فانه  ما لم تخرج الوصايا الى حيز التنفيذ ، وما لم يُترجم الايمان الى حياة يبقى ميتاً فى ذاته كشجرة بلا ثمر</p>
<p>فان كان فعل الرحمة راق فى نظر الناموسى والسامعين حتى انه رفع الذى صنعها الى مرتبة أقرب من النبى والكاهن ، فالرب يسوع الذى مجّد الرحمة وأكملها لنا ، يدعونا أن نذهب ونصنع نحن هكذا</p>
<p>ولكن من أين للانسان أن يصنع هكذا ان لم يؤتمن على روح المسيح وفكر المسيح ، اذ يستحيل على الانسان فى ذاته أن يضع نفسه هكذا من أجل الآخرين      ♣  على هذا نجد أن صانع الرحمة بهذا المفهوم هو المسيح وحده وكل من أخذ روح المسيح فانه يعمل الأعمال ذاتها كما قال الرب للرسل الأطهار<a href="#_ftn11" name="_ftnref11">[11]</a></p>
<hr />
<p><a href="#_ftnref1" name="_ftn1"></a>١- القديس يوحنا سابا &#8211; تفسير إنجيل مرقس إصحاح ٩ &#8211; القمص تادرس يعقوب ملطي</p>
<p><a href="#_ftnref2" name="_ftn2"></a>٢- القديس بالاديوس &#8211; تفسير الرسالة الأولي لكورنثوس ١٣ &#8211; القمص تادرس يعقوب ملطي</p>
<p><a href="#_ftnref3" name="_ftn3"></a>Jr, A.J. &amp; Oden, T.C. (2003). Luke (The Ancient Christian Commentary on Scripture, New Testament part III ). Illinois (U.S.A): InterVarsity Press. Page 177</p>
<p>ترجمة الأخ إبراهيم القمص مكاري نجيب &#8211; كنيسة مار مرقس بالمعادي</p>
<p><a href="#_ftnref4" name="_ftn4"></a>٤- المرجع : تفسير سفر إرميا ( الإصحاح الحادي والخمسين ) &#8211; القمص تادرس يعقوب ملطي</p>
<p><a href="#_ftnref5" name="_ftn5"></a>٥- المرجع : تفسير الرسالة إلي العبرانيين ( صفحة ٤١٢ &#8211; ٤١٤ ) للقديس يوحنا ذهبي الفم &#8211; ترجمة الدكتور سعيد حكيم يعقوب &#8211; مؤسسة القديس أنطونيوس للدراسات الآبائية</p>
<p><a href="#_ftnref6" name="_ftn6"></a>٦- كتاب سياحة القلب صفحة ١٢٨ &#8211; ترجمة القمص إشعياء ميخائيل</p>
<p><a href="#_ftnref7" name="_ftn7"></a>٧- المرجع : تفسير إنجيل لوقا ( الإصحاح العاشر ) &#8211; القمص تادرس يعقوب ملطي</p>
<p><a href="#_ftnref8" name="_ftn8"></a>٨- المرجع : كتاب من مجد إلي مجد للقديس غريغوريوس النيصي ( صفحة ٢١٥) &#8211; ترجمة القمص إشعياء ميخائيل بالضاهر</p>
<p><a href="#_ftnref9" name="_ftn9"></a>٩- المرجع : الكتاب الشهري للشباب والخدام ( عدد ديسمبر ٢٠٠٤ ) &#8211; إصدار بيت التكريس لخدمة الكرازة</p>
<p><a href="#_ftnref10" name="_ftn10"></a>١٠- المرجع : كتاب قوانين ملكوت السموات ( صفحة ١٥ ) &#8211; القمص صليب سوريال &#8211; كنيسة مار مرقس بالجيزة</p>
<p><a href="#_ftnref11" name="_ftn11"></a>١١- المرجع : كتاب وكلمهم أيضاً بأمثال ( صفحة ١٩٩ ) &#8211; القمص لوقا سيداروس &#8211; كنيسة مار جرجس سبورتنج</p>
<p></p>
<p></p>
<p></p>
<p></p>

      {% endcreateArticleAccordions %}
    </section>
  {% endblock %}
  