---
layout: 'layouts/reading.html'
title: 'الأحد الرابع من بشنس'
tags: 'sundays'
permalink: /articles/sundays/9-4.html
---
  {% block content %}
    <section id="readings">
      <ul>
      {% if 'undefined' != 'undefined' %}
      
      {% else %}
      {% if '19.46:10-11' != 'null' %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">العشية</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeVespers '19.46:10-11' '40.22:41-46' %}
          </div>
        </div>
      </li>
      {% endif %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">باكر</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeMatins '19.47:6-7' '43.20:1-18' '' %}
          </div>
        </div>
      </li>
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <h3 class="flex items-center justify-between">
            <span class="kufi">القداس</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </h3>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeLitugy '46.14:18-33' '64.1:1-8' '44.11:2-18' '19.66:4,1,2' '42.4:1-13' %}
          </div>
        </div>
      </li>

      {% endif %}
        </ul>
    </section>
    <section id="article">
      <h3 class="mt-8 mb-4 heading-explain">شرح القراءات</h3>
      {% createArticleAccordions %}
        <p>&#8221; من سيفصلنا عن محبة المسيح؟ أشدة أم ضيق أم اضطهاد أم جوع أم عري أم خطر أم سيف كما هو مكتوب: إننا من أجلك نمات كل النهار. قد حسبنا مثل غنم للذبح ولكننا في هذه جميعها يعظم انتصارنا بالذي أحبنا &#8221; (رو ٨ : ٣٥-٣٧)</p>
<p>&#8221; نعم يارب يارب الذي اعطانا السلطان أن ندوس الحيات والعقارب وكل قوة العدو ، اسحق رؤوسه تحت أقدامنا سريعاً وبدَّد عنَّا كلَّ معقولاته الشرِّيرة المُقاومة لنا لأنك أنت هو ملكنا كلِّنا أيُّها المسيح إلهُنا &#8221; التحليل الأوَّل من التحاليل الثلاثة لختام رفع بخور عشية وباكر</p>
<p>&#8221; يليق بنا ألا نخشى تجارب هذه الحياة قط، فهي فرصة مقدَّمة للغلبة ومادة للنصرة&#8230;</p>
<p>المُضل يُكثر من جرح المجاهد، ومع ذلك فالمُجاهد في شجاعته لا يضطرب قلبه&#8230;</p>
<p>إن تعرَّضت للتجارب فاعلم أن الأكاليل تُعد<a href="#_ftn1" name="_ftnref1">[1]</a>&#8230;!</p>
<h3>ملاحظات علي قراءات اليوم</h3>
<p>+ قراءة إنجيل عشيَّة (مت ٢٢ : ٤١ - ٤٦ ) هي نفس قراءة إنجيل باكر (مت ٢٢ : ٤١ - ٤٦ ) ليوم ٣٠ كيهك ( نياحة القديس يؤانس قمص شيهيت )</p>
<p>مجيئها اليوم للكلام عن نصرتنا في المسيح علي كل قوات الظلمة (قال الربُّ لربَّي إجلس عنيميني حتي أضع أعدائك تحت قدميك ) ، وهي موضوع قراءة هذا الأحد الذي يتكلَّم فيه إنجيل القدَّاس عن نصرة المسيح له المجد علي الشيطان في التجربة علي الجبل</p>
<p>بينما مجيئها يوم ٣٠ كيهك فهو للإشارة إلي ولادة الإبن من الآب وملكوت العهد الجديد الذي تحقَّق بتجسُّد الكلمة</p>
<p>+ قراءة الكاثوليكون اليوم (٣يو ١ : ١ - ٨ ) تُشبه قراءة الكاثوليكون (٣يو ١ : ١ - ١٥ ) ليوم ٢٨ هاتور ( تذكار القديس صرابامون أسقف نيقيوس )</p>
<p>مجئ القراءة اليوم للإشارة إلي سلوك المحبة الشاهدة للمسيح</p>
<p>بينما مجيئها يوم ٢٨ هاتور للإشارة إلي للرعاة الصالحين ( ديمتريوس ) ، والرعاة الكذبة ( ديوتريفوس )</p>
<p>+ قراءة الإبركسيس اليوم ( أع ١١ : ٢ - ١٨ ) هي نفس قراءة الإبركسيس للأحد الرابع من طوبه ، وتُشبه قراءة الإبركسيس ( أع ١١ : ١٢ - ١٨ ) ليوم ٦ نسئ ( في السنة الكبيسة )</p>
<p>والإشارة في قراءة اليوم إلي خلاص العهد الجديد الذي يناله المؤمنين من كل الأمم ، والإشارة إلي المعمودية في الأحد الرابع من طوبه</p>
<p>أمَّا مجيئها يوم ٦ نسئ لأجل</p>
<p>&#8221; وجاء أيضاً معي هؤلاء الأخوة الستَّة &#8221; لأن رقم ستَّة هو مفتاح فهم قراءة هذا اليوم</p>
<h3>شواهد القراءات</h3>
<p>(مز ٤٥ : ١٠- ١١) ، (مت ٢٢ : ٤١ - ٤٦) ، (مز ٤٦ : ٦) ، (يو ٢٠ : ١ - ١٨) ، (١كو ١٤ : ١٨ - ٣٣) ، (٣يو ١ : ١ - ٨ )، (أع ١١ : ٢ - ١٨) ، (مز ٦٥ : ١-٢) ، (لو ٤ : ١ - ١٣)</p>
<h3>شرح القراءات</h3>
<p>يعلن هذا الأحد إستعلان الخلاص الإلهي والمخلص للكنيسة وفي الكنيسة وبالكنيسة</p>
<p>تبدأ القراءات بمزمور عشية بالتعريف بلاهوت المخلص وسيادته علي كل الأرض ورعايته لشعبه ونصرته لهم ( كفوا واعلموا أني أنا هو الله أعلوا بين الأمم وأعلوا علي الأرض الرب إله القوات معنا ناصرنا هو إله يعقوب )</p>
<p>ويؤكد هذا في مزمور باكر ويدعو الكل للترتيل له لأنه بصليبه ملك علي الكل ( رتلوا لالهنا رتلوا رتلوا لملكنا رتلوا لأن الرب هو ملك الأرض كلها رتلوا بفهم )</p>
<p>ويدعو مزمور باكر الكل السجود له والترتيل لإسمه ( فلتسجد لك الأرض كلها وليرتلوا لك هللوا له ياكافة الأرض رتلوا لإسمه )</p>
<p>يأتي إنجيل باكر ليعلن موضع ومكانة كنيسة العهد الجديد في المسيح عن يمين الآب وصار كل أعدائها بالصليب تحت قدميها بخلاص الإبن الوحيد ( قال لهم يسوع : فكيف يدعوه داود بالروح ربي قائلا : قال الرب لربي اجلس عن يميني حتي أضع أعداءك تحت قدميك )</p>
<p>ويظهر البولس قوة ومجد إستعلان الخلاص في الكنيسة بشهادة غير المؤمنين ( فإن اجتمعت الكنيسة كلها في مكان واحد وكان الجميع يتكلمون بألسنة فدخل عاميون أو غير مؤمنين أفلا يقولون : إنكم تهذون ولكن إن كان الجميع يتنبأون فدخل أحد غير مؤمن أو عامي فإنه يوبخ من الجميع يحكم عليه من الجميع وهكذا تصير خفايا قلبه ظاهرة وهكذا يخر علي وجهه ويسجد لله مناديا : أن الله بالحقيقة فيكم )</p>
<p>أما في الكاثوليكون فتعلن الكنيسة الخلاص في قداسة السلوك وشهادة الحق ومحبة الغرباء ونقاوة الخدمة والكرازة ( لأني فرحت جدا إذ حضر الإخوة وشهدوا ببرك كما أنك تسلك بالحق &#8230;. أيها الحبيب : أنت تفعل بالأمانة كل ماتصنعه إلي الإخوة وعلي الخصوص إلي الغرباء الذين شهدوا بمحبتك أمام الكنيسة &#8230;. لأنهم من أجل اسمه خرجوا وهم لايأخذون شيئا من الأمم )</p>
<p>بينما يخبرنا الإبركسيس بإتساع خيمة الخلاص في الكنيسة لتشمل كل الأمم والشعوب من خلال الرؤيا التي رآها القديس بطرس ( فلما ابتدأت أتكلم حل الروح القدس عليهم كما حل علينا نحن أيضا في البدء فتذكرت كلام الرب كيف قال : إن يوحنا عمد بماء وأما أنتم فستعمدون بالروح القدس فإن كان الله قد أعطاهم الموهبة كما لنا أيضا بالسوية مؤمنين بالرب يسوع المسيح فمن أنا حتي أمنع الله فلما سمعوا ذلك سكتوا وكانوا يمجدون الله قائلين : إذا أعطي الله الوثنيين التوبة أيضا للحياة )</p>
<p>ويختم إنجيل القداس بالكنيسة المنقادة بالروح في شخص ابنها الحبيب بعد عماده في نهر الأردن تتسلح بالصوم وبالكلمة وتنتصر علي ابليس ( أما يسوع فرجع من الأردن ممتلئا من الروح القدس فاقتاده الروح في البرية أربعين يوما يجرب من ابليس ولم يأكل شيئا في تلك الأيام ولما تمت جاع أخيرا وقال له ابليس : إن كنت ابن الله فقل لهذا الحجر أن يصير خبزا فأجابه يسوع قائلا : مكتوب أن ليس بالخبز وحده يحيا الإنسان بل بكل كلمة تخرج من فم الله )</p>
<h3>ملخص القراءات</h3>
<p>يستعلن الخلاص الإلهي للكنيسة في ملك ابن الله علي الأمم ( مزمور عشية وباكر والقداس )</p>
<p>وفي نصرته علي الشيطان ( إنجيل باكر والقداس )</p>
<p>ويستعلن الخلاص الإلهي في الكنيسة في المواهب وفي شهادة الحق ونقاوة السلوك ومحبة الغرباء ( البولس والكاثوليكون )</p>
<p>ويستعلن الخلاص الإلهي بالكنيسة في إيمان من هم خارج الحظيرة ( الإبركسيس )</p>
<h3>إنجيل القدَّاس في فكر آباء الكنيسة</h3>
<p>انتظر الشيطان حتى بلغ السيد المسيح الثلاثين من عمره ليجربه لأنه عندها فقط اَظهر يسوع نفسه على إنه المسيح في معموديته (مار افرام السرياني).</p>
<p>تتعامل المقدمة مع يسوع وتنقلاته حيث قاده الروح إلىالبرية للصوم (القديس كيرلس الإسكندري)</p>
<p>هناك وصف لآدم وخلفية تاريخية من سفر التكوينلهذه القصة حيث طرد آدم من الفردوس إلى الصحراء،في حين أن السيد المسيح، آدم الجديد، يذهب إلي الصحراء نيابة عنا ليخرج من برية التجربة (الاغواء)ليقودنا إلى الفردوس (القديس امبروسيوس)</p>
<p>تجذب التجربة (الغواية) الاولى يسوع إلى خطيئة الشراهة والتي لعنت آدم الأول (أوريجانوس).</p>
<p>سقط آدم بتناول طعام لم يكن له ليأكله؛ ويسوع إنتصر بعدم تناول الطعام الذي جربه به الشيطان فيلحظة من الجوع الشديد بعد أربعين يومًا من الصوم(القديس كيرلس الإسكندري)</p>
<p>إن يسوع ابن الله المتجسد، كلمة الله، هو خبز الحياة النازل من السماء الذي سيُطعم الشعب خبزَ نفسِه،ويهزم الشيطان بهذا الخبز السماوي، كلمة الله(القديس امبروسيوس)</p>
<p>في التجربة (الاغواء) الثانية، ممالك الشيطان تظهر ليسوع في لحظة من الزمن، ليست ممالك مثل روما أو بلاد فارس ولكن حُكم الشيطان في العالم(أوريجانوس).</p>
<p>لقد أخذ الشيطان هذا العالم عن طريق الاختلاس،ولكن بعد مجيء السيد المسيح، سيعيد السيد المسيح هذا العالم إلى سلطته الصحيحة من خلال إطاعة (قبول) الألم وموته (القديس كيرلس الإسكندري).</p>
<p>في التجربة (الإغراء) الاخيرة، يغير الشيطان خططه،لكن يسوع يبقى صادقا لشخصه وطبيعته التي لاتتغير (مار افرام السرياني).</p>
<p>اسِتُدرِج آدم بالطعام، وهنا شعب إسرائيل يكرر خطيئة حواء، التي كانت تتوق إلى عبادة أخري بخلاف الله (القديس امبروسيوس).</p>
<p>يخاطب المزمور (٩١) أي إنسان، يُمنح القوة في المسيح، ليدوس على الحيات والعقارب كما وعد الرب السبعين (أوريجانوس).</p>
<p>بالرغم من أن السيد المسيح يستمر في مواجهة الشيطان من خلال خدمته، فالشيطان يصير أسداً يزأر مرة أخرى عند الصلب (القديس أوغسطينوس)<a href="#_ftn2" name="_ftnref2">[2]</a>.</p>
<h3>أفكار مُقترحة لعظات</h3>
<h4>التجارب الثلاث</h4>
<p><strong>١- تجربة تحويل الحجارة إلي خبز </strong></p>
<p>( المُعجزات أم قبول الضيق والتعب من يد الله )</p>
<p>كان الرب يسوع في جوع شديد بعد فترة طويلة من الصوم وكان الحل السريع من الشيطان هو المعجزة ولكن الرب أراد بجوابه إعلان أنه يمكن للإنسان أن يحيا بآلامه وأتعابه وما ينقصه من أشياء مع غني كلمته المُقدَّسة أفضل وأعظم من تسديد الإحتياجات المادّية أو أي إحتياجات أخري عن طريق المُعجزات</p>
<p>وهذا العرض من الشيطان نجده كل يوم في هوس المُعجزات الذي نعيشه طلباً لرفع التجربة والضيق مع إنه بعد إمتلاء التلاميذ من الروح القدس لم ينجو يعقوب من الموت بمعجزة ( أع ٢:١٢ ) ولم يُشفي الكارز العظيم بولس من المرض رغم طلبه بلجاجة (   ٢ كو ١٢ : ٩،٨ ) ولم يشفي تيموثاوس من مرض معدته وأسقامه الكثيرة لأنه كان مسنوداً من الكتب المُقدَّسة التي يعرفها منذ الطفولية ( ٢تي ٣ : ١٥  ) وإيمانه عديم الرياء من جدته لوئيس وأمه أفنيكي ( ٢تي ١ : ٥ )</p>
<p><strong>٢- تجربة ممالك العالم والسجود للشيطان</strong></p>
<p>( التنازل عن المبادئ لأجل المكاسب )</p>
<p>أعطيك هذه جميعها إن خررت وسجدت لي</p>
<p>السجود للشيطان معناه التهاون مع الأمانة وكلمة الحق والتنازل عن ما يرضي الله لأجل ما يرضي الناس (غل ١٠:١ ) وللأسف عندما يستمع الإنسان لنصائح الحيَّة القديمة يكتشف مع الوقت أنه خسر كل شئ وصار عُرياناً من النعمة</p>
<p>لنتذكر يوسف الصديق ( تك ٣٩ ) ودانيال ( دا ٦ ) وبولس الرسول الذي قبل أن يخسر كل شئ من أجل فضل معرفة المسيح يسوع (غل ٨:٣ )</p>
<p><strong>٣- جناح الهيكل</strong></p>
<p>( الكبرياء الروحي )</p>
<p>وحرب المواهب والأنشطة والإنجازات ومكانة القائد وشعبيته وكيف يكون هو الأوَّل والأكبر والأعظم حتي ولو لم تقولها كلماته لكن تقولها تلميحاته وتقولها حاشيته وينسي الخادم مع وقت روح خميس العهد وغسل الأرجل والمُتكأ الأخير ( لو ١٠:١٤ ) وآخر الكل وخادم الكل (مر ٤٣:١٠ )</p>
<h4>(٢) كلمة الله سرّ النصرة</h4>
<p>١- تحمينا</p>
<p>&#8221; كل كلمة من الله نقية. ترس هو للمحتمين به &#8220;( أم ٥:٣٠)</p>
<p>&#8221; وخذوا خوذة الخلاص، وسيف الروح الذي هو كلمة الله &#8220;( أف ١٧:٦)</p>
<p>٢-.تُوحِّدنا</p>
<p>&#8221; ها ان بنيك الذين ودعتهم قادمون يقدمون مجتمعين من المشرق الى المغرب بكلمة القدوس مبتهجين بمجد الله &#8221; (باروخ ٣٧:٤)</p>
<p>٣- تُقدِّسنا</p>
<p>&#8221; إن قال آلهة لأولئك الذين صارت إليهم كلمة الله، ولا يمكن أن ينقض المكتوب &#8221; (يو ٣٥:١١)</p>
<p>٤- تُحطِّم عوائقنا</p>
<p>&#8221; أليست هكذا كلمتي كنار، يقول الرب، وكمطرقة تحطم الصخر &#8221; (أر ٢٩:٢٣)</p>
<p>٥- تخترق أعماقنا لتُحرِّرنا</p>
<p>&#8221; لأن كلمة الله حية وفعالة وأمضى من كل سيف ذي حدين، وخارقة إلى مفرق النفس والروح والمفاصل والمخاخ، ومميزة أفكار القلب ونياته &#8221; (عب ١٢:٤)</p>
<p>٦- تُعطينا الغلبة علي الشرير</p>
<p>&#8221; كتبت إليكم أيها الأحداث ، لأنكم أقوياء، وكلمة الله ثابتة فيكم، وقد غلبتم الشرير &#8221; (١يو ٢ : ١٤)</p>
<h3>عظات آبائية</h3>
<p><strong>( يُمْكِن أيضاً الرجوع للعظات الآبائية وعظات الآباء المعاصرين في أحد التجربة في الصوم الكبير )</strong></p>
<h4>مفهوم النصرة علي الشياطين في فكر العلامة أوريجانوس</h4>
<p>هل تريد أن تعلم أن بولس الرسول ليس هو فقط معلم الأمم لكن أيضاً قائد لهذه الحملة الروحية فكيف يتقدمنا في هذه المعرفة ؟ اسمع ما قد كتبه عن نفسه &#8221; إن مصارعتنا ليست مع دم ولحم بل مع الرؤساء مع السلاطين مع ولاة العالم علي ظلمة هذا الدهر مع أجناد الشر الروحية في السماويات &#8221; (اف٦: ١٢) .</p>
<p>لهذا السبب جمع المحاربين لهذا الكفاح الروحي وغير المرئي ، بأسلحة روحية وسهام غير مرئية ويقول &#8221; اثبتوا ممنطقين أحقاءكم بالحق لابسين درع البر وحاذيين أرجلكم باستعداد إنجيل السلام حاملين فوق الكل ترس الإيمان الذي به تقدرون أن تطفئوا جميع سهام الشرير الملتهبة وخذوا خوذة الخلاص وسيف الروح هو كلمة الله &#8221; (اف ٦: ١٤-١٧) .</p>
<p>يسوع رئيس الكفاح الروحي</p>
<p>مع هذه الأسلحة ومع يسوع (يشوع) كقائد ، لا تخف من الجبابرة ، وستري كيف أن الرب يسوع المسيح سيخضعهم لك ، ومثلما داس آباؤنا رقاب الأمم فسندوس رقاب الشياطين . يسوع بنفسه يقول حقاً للذين اقتربوا منه ويتبعونه بإخلاص : &#8221; ها أنا أعطيكم سلطاناً لتدسوا الحيات والعقارب وكل قوة العدو &#8221; (لو١٠: ١٩) ، يسوع يريد في كل مرة أن يعمل معجزات أنه يريد قهر الجبابرة بواسطة الجراد وأن يظفر بواسطة سكان الأرض علي &#8221; أجناد الشر الروحية في السماويات &#8221; ( أف ٦: ١٢) ربما هذا ما كان يسوع يعنيه في الأناجيل عندما قال &#8221; من يؤمن بي فالأعمال التي أنا أعملها يعملها هو ويعمل أعظم منها &#8221; (يو ١٤: ١٢) ، هذا يبدو لي شيء عظيم جداً حقاً . إن الإنسان سوف يقهر الجبابرة وفرق الأبالسة ورغم أن المسيح هو المنتصر. فينا ، إلا أنه يفضل أن ينتصر بنا وينسب النصر لنا من أن ينتصر بذاته وحده .</p>
<p>لنطرح عنا الشياطين</p>
<p>إذن لنكن دائماً مسلحين بهذه الأسلحة ولتكن سيرتنا نحن هي دائماً في السموات ، كل مشاعرنا وكل أعمالنا وكل أفكارنا وكل كلامنا لتكن سماوية ، كلما نصعد نحو السماويات بعزم كلما يهرب الأبالسة ، كلما نزيد نحن ينقصون هم .</p>
<p>إذا كانت حياتنا مقدسة وإذا كانت حسب إرادة الله فإن حياتنا هذه تجلب لهم الموت ، وإذا كانت حياتنا مرتخية ومائعة فستعطيهم قدرة ضدنا وستجعلهم جبابرة .كلما نمونا في الفضائل كلما صغروا وأصبحوا ضعفاء .</p>
<p>والعكس إذا نحن ضعفنا وبحثنا عن الممتلكات الأرضية فهم يتقوون كلما تملكنا علي الأرض كلما تركنا لهم الأماكن السماوية . فلنعمل إذن بالأحري أن نكبر حتي يصغروا هم ، أن ندخل حتي يطردوا هم . لنصعد حتي يسقطوا ، كما قال الرب في الإنجيل &#8221; رأيت الشيطان ساقطاً مثل البرق من السماء &#8221; (لو١٠: ١٨) . أننا ندوسهم حتي يدخل بنا ربنا يسوع إلي فوق ويؤهلنا للدخول إلي ملكوته في السماء له المجد والسلطان إلي أبد الآبدين آمين<a href="#_ftn3" name="_ftnref3">[3]</a>.</p>
<h4>المسيح حارب عنا وغلب عند القديس أغسطينوس</h4>
<p>هذه الأمور الثلاثة موجودة ولا يمكن أن يختبر الطمع البشري والجشع بغير هذه الأشياء ، شهوة الجسد وشهوة العيون وتعظم المعيشة ، وهذه الثلاثة تعرض لها الرب حين جربه الشيطان . (مت٤: ١- ١٠) .</p>
<p>تعرض الرب للتجربة بشهوة الجسد حين قيل له &#8221; ان كنت ابن الله فقل أن تصير الحجارة خبزاً &#8221; حين جاع بعد الصوم الطويل .</p>
<p>ولكن بأي طريق قد صد الرب المجرب وعلم جنوده فنون الحرب ؟</p>
<p>لاحظوا ماذا قال له : ليس بالخبز وحده يحيا الانسان بل بكل كلمة تخرج من فم الله .</p>
<p>وتعرض أيضاً لتجربة شهوة العيون التي تتعلق بصنع المعجزات حين قال له :</p>
<p>&#8221; اطرح نفسك الي اسفل لأنه مكتوب أنه يرسل ملائكته ليحملونك علي أيديهم لئلا تصدم بحجر رجلك &#8221; وقد قاوم الرب المجرب ولم يصنع المعجزة ، لأنه لو صنعها لكان يبدو أنه اذعن للشيطان أو صنعها كنوع من لفت النظر ، ولكن الله يصنع حين يشاء لكي يشفي الضعفاء لأنه لو كان قد صنع المعجزة هنا لكان يظن أنه يريد فقط عمل المعجزة ، ولئلا نظن ذلك لاحظوا كيف أجاب حتي حين تتعرضون لتجربة مشابهة تجيبون بنفس الكلمات &#8221; أذهب عني يا شيطان لأنه مكتوب لا تجرب الرب الهك &#8221; أي أنني اذا فعلت ذلك أكون كمن يجرب الله .</p>
<p>لقد قال ما يريد أن تقولوه أنتم (أمام التجربة ) .</p>
<p>قد يعرض العدو عليكم ذلك ويقول (أي نوع من الرجال أنت ) أي نوع من المسيحيين أنت ؟ أنك لم تصنع معجزة واحدة ، صل لكي تقيم الموتي ، صل لكي تخرج الشياطين !</p>
<p>إذا تعرضت لهذه التجربة في أي لحظة أجب وقل &#8221; مكتوب لا تجرب الرب الهك &#8221; لذلك سوف لا أجرب الرب الهي كما لو انني أكون فقط خاصته حين أصنع المعجزات ولا أكون من خاصته حين أصنع المعجزات ولا اكون من خاصته إذا لم أصنع معجزة وما معني كلماته ، اذا &#8221; افرحوا ان أسماءكم مكتوبة في السموات &#8221; ؟</p>
<p>كيف تجرب الرب بتعظم المعيشة ؟</p>
<p>حين أخذه إبليس إلي مكان عال وقال له : &#8221; أعطيك كل هذه إن خررت وسجدت لي &#8221; .</p>
<p>أراد الشيطان أن يجرب ملك العالم كله بمجد وعظمة هذا العالم الأرضي ولكن الرب خالق السماء والأرض سحق الشيطان تحت أقدامه .</p>
<p>ما هي الفائدة العظيمة التي عادت علينا من نصرة الرب علي الشيطان ؟</p>
<p>لقد اراد بأجابته أن يعلمنا ما يجب أن نعمله ، مكتوب للرب الهك تسجد وإياه وحده تعبد .</p>
<p>إذا تمسكت بهذا لن تبق فيك رغبة ملحة أو شهوة جامحة نحو العالم ، وإذا ذهبت من حياتك شهوة العالم فسوف لا تتعرض للتجربة بشهوة الجسد أو شهوة العيون وتعظم المعيشة . بذلك سوف تفسح مكاناً للمحبة الأخوية حين تأتي إلي قلبك فيمكنك أن تحب الله ، لأنه إذا كانت محبة العالم موجودة فإن محبة الله لا يمكن أن تتواجد ، تمسك بقوة بمحبة الله لأن الله يبقي إلي الأبد لكي تبقي معه إلي الأبد . لأن مثل كل إنسان هكذا تكون محبته .</p>
<p>هل تحب الأرض ؟! سوف تصير إلي الأرض .</p>
<p>هل تحب الله ؟ ماذا أقول ؟ هل تصير الهاً ؟!</p>
<p>ما كان يجب أن أتجرأ لأقول ذلك من عندي لولا قول الكتاب &#8221; أنا قلت أنكم آلهة وبنو العلي كلكم &#8220;(مز ٨٢: ٦) .</p>
<p>لا تحبوا العالم ولا الأشياء التي في العالم إن أحب أحد العالم فليست فيه محبة الآب لأن كل ما في العالم شهوة الجسد وشهوة العيون وتعظم المعيشة ليس من الآب بل من العالم ( من الناس ، من الذين يحبون العالم ) والعالم يمضي وشهوته أما من يصنع ارادة الله فيثبت إلي الأبد<a href="#_ftn4" name="_ftnref4">[4]</a> .</p>
<h4>كيف نتسلَّح روحياً عند القدِّيس يوحنا ذهبي الفم</h4>
<p>٥.أقول هذه الأمور لأننى أريد أن تحفظوا وصايا المسيح، الذي يوصينا أن نصلى ،حتى لا نقع فى تجربة، وأن نتبعه حاملين الصليب.لأن هذه الأمور ليست متناقضة ، بل هى متوافقة للغاية فيما بينها. إذاً فلتستعد هكذا مثل جندي شجاع، وأن تكون دائماً متسلحاً ، وهادئاً ، ويقظاً مستعداً لهجوم العدو. لكن يجب ألاّ تستدعي الحرب ، لأن هذه ليست سمة جندى ، بل سمة العاصى و المخالف ، أما إذا دعاك فوق التقوى ، فتجنّد على الفور ، إحتقر الحياة ، انطلق إلى الجهاد الروحي برغبة كبيرة ، حطم فيلق الأعداء، اقطع وجه الشيطان ، وأَقم نصب الأنصار .لكن إن لم يجبرك أحد أن تفعل شيئا مما لا يرضي الله ، فلا ترهق نفسك أكثر من اللازم.</p>
<p>حياة المسيحي يجب أن تكون مخضبة بالدماء ، بالطبع ليس أن يريق دماء الآخرين ، بل أن يكون مستعداً أن يُراق دمه هو.إذا لنريق دماءنا ، عندما يكون هذا لأجل المسيح بنفس القدر من الرغبة الطبيعية التي بها يمكن للمرء أن يصب ماء (لأنه في الحقيقة الدم هو ماء ينساب  في الجسم).ولننسلخ عن جسدنا بنفس السهولة ، التى نخلع بها ملابسنا. وهذا سيحدث إن لم نكن مقيدين بالمال ، وبالبيوت ، وإن لم نكن منجذبين للأمور الحاضرة بكل هذه الشهوة ، أي أنه إن كان الجنود يتبرأون من كل شئ بطيب خاطر ، والأكثر جدا يجب أن نستعد نحن جنود المسيح هكذا ، ونصطف من أجل محارة الشهوات ومقاومتها . لا يوجد الآن اضطهاد ، وياليت لا يحدث أبداً .ولكن هناك حرب أخرى ، حرب شهوة المال ، حرب شهوة الجسد ، حرب الشهوات عموماً.</p>
<p>هذه الحرب يصفها ق.بولس قائلاً:&#8221;إن مصارعاتنا ليست مع دم ولحم&#8221;.هذه الحرب موجودة على الدوام.من أجل هذا يجب أن نثبت دوماً متسلحين &#8220;فأثبتوا ممنطقين أحقائكم &#8220;،الأمر الذى يعني أن هذا أيضاُ يتعلق بالحياة الحاضرة، وقد أظهر أنه يجب علينا أن نكون مسلحين على الدوام. لأن الحرب التى تدار باللسان هي حرب كبيرة، وكبيرة أيضاً هي الحرب التى تنشب بالأعين، لنمنع هذه الحرب إذاً.شرسة هي حرب الرغبات، وانطلاقا من هذا يجب أن يتسلح جندي المسيح فأثبتوا إذاً ممنطقين احقائكم&#8221; ، وأضاف&#8221; بالحق&#8221;.</p>
<p>لأن الشهوة هي هزؤ وكذب،كما قال داود النبي في موضع&#8221;لأن خاصرتي قد امتلأت &#8220;.هذا الأمر ليس لذة أو شهوة ، بل هو ظلال شهوة. ولهذا يقول&#8221;ممنطقين احقائكم بالحق &#8220;،أي بالشهوة الحقيقية، بتعقل وبلياقة. لأنه يعرف لا معقولة الخطية وأراد أن تكون كل أعضائنا مصانة.لأنه يقول:&#8221;غضب الأثيم لا يمكن أن يبرر&#8221;.يريد أيضاً أن نرتدي درعاً وترساً.لأن الغضب وحش يندفع بسهولة،ولكي ننتصر عليه ونضبطه ، نحتاج لسياج وحواجز . ولهذا السبب تحديداً ، هذا الجزء ، أى الأحقاء ، قد خلقه الله لنا من العِظام ، كما لو كانت مخلوقة من صخر ما ، واضعاً هذه العِظام حولها كدعائم ، حتى لا يتحطم الإنسان  كله بسهولة إذا ما كٌسرت مرة أو قُطعت ، لأنه إذا حدث هذا ، سيسبب ألماً لا يحتمل وأى عضو آخر لن يمكنه أن يحتمل هذا العنف.ليس هذا فقط ، بل أن الأطباء يقولون أنه لهذا السبب وضعت الرئتين تحت القلب ، حتى أن القلب يوجد فوق شئ لين ويترضض كما لو كان على أسفنج ، ويسترح ، ولا يتحطم بقفزاته المستمرة على عظم قاس ، يترضض فوقه.</p>
<p>إذاً نحن نحتاج لدرع قوي ، حتى يظل هذا الوحش هادئ على الدوام. لكننا نحتاج أيضاً إلى خوذة. لأن الأمر هنا مرتبط بالفكر، وعلى هذا الفكر يعتمد كل شئ ، فإما أن نخلص ، إن فعلنا ما ينبغى فعله ، وإما أن نهلك إذا فعلنا عكس ذلك ، ولهذا يقول&#8221;وخذوا خوذة الخلاص&#8221;.لأن المخ بطبيعته لين ، ولهذا يُغطي من الجزء الأعلى ، كما من قشرة ما ، من خوذة عظيمة. وهذا المخ هو المسئول عن كل ماهو حسن وشرير ، سواء عرف الصواب أو عرف العكس (الأمور المخالفة). بل وأيدينا وأرجلنا تحتاج إلي أسلحة ، ليست بالطبع الأيدي والأرجل الجسدية، بل أيضاً تلك التى للنفس ، الأيدي لتفعل تلك الأمور التي ينبغي فعلها ، والأرجل لكي تذهب ألة حيث يجب ان تذهب.                                                   إذا لنسلَّح أنفسنا هكذا ، وسنستطيع أن ننتصر على الأعداء ، ونرتدي تاج النصرة بمشيئة ربنا يسوع المسيح، الذى يليق به مع الآب والروح القدس المجد  والقوة والكرامة الآن وكل أوان وإلى دهر الدهور آمين<a href="#_ftn5" name="_ftnref5">[5]</a>.</p>
<h4> القديس يعقوب السروجي</h4>
<p><strong>كمثل ضعيف جاهدت…</strong></p>
<p>افتح لي بابك يا ابن الله لكى أنظرك واخبر بك بين الجماعات . طرقك عالية عن الفاحصين فهب ضعفى صوتا يوقظ الناس لتمجيدك. حرك فيّ القول لأتكلم عن جهادك وقتالك مع الشيطان الذي يملا عقلى دهشا. أنت الله وكيف لم يخف منك الشرير . قاتل معك لأنه لم يعرف من أنت ، أنت ابن الإنسان الوحيد . خفى وظاهر . وبجسدانيتك اضطرب الشيطان بصومك المدهش. ضل الشيطان ليجربك ويعرف إن كنت انت ابن الله. أنت الجبار وكمثل ضعيف جاهدت معه لما قاتلك أخفيت قوتك بالضعف . وأيضا عظمتك استترت بتواضعك وبالحكمة اختفى لاهو تك بناسوتك . وضل الشيطان وعمل معك خصاما مدهشا .</p>
<p>ابن الله طلب أن يوفى ديون الكل ولأجل هذا احتمل تجربة الشيطان ، آدم لما جرب سقط بالخصام و تجدد الخصام لينغلب الثلاب . انغلب آدم و علم بنيه الانغلاب ، وعلمهم ابن الله كيف يغلبون ، ومن أجل هذا انزل غالب الكل وعلم الناس كيف يغلبون ، من أجل هذا عمل الجهاد بجسد الناس ، تجسم من جنس البشر وصار إنسانا وصنع القتال كمثل إنسان ولا أحد يقول أن اللاهوت جاهد ، لو قائل بلاهوته ما كانت الخليقة كلها تقف أمامه ، جسد الإبن جعل الشرير يجسر على تجربته لأنه لم يعرفه ، لأنه لو عرفه لم يعمل معه خصاما أخفى منه قوة عظمة لاهوته ولما لم يعرف من هو وابن من هو قاتل معه، نظر أنه بالمأكول انغلب آدم فتمسك السيد بالصوم في بدء الخصام والجهاد قام للجهاد وبدأ الصوم ليحقر بصومه الرغبة والشر وشهوة البطن التي للبشر ويرينا بأي سلاح يستطيع الإنسان أن يغلب الشهوات التي جلبت العار على بيت آدم .</p>
<p>ومقابل شهوة المأكول التي لآدم جاهد بالتقشف ليهزمها بالبر . بسبب مأكول الثمر انشجبت حواء وآدم ومن أجل هذا بدأ ابن الله يصوم . . عام أربعين يوما كمثل موسى وايليا ليسير في الطريق الذي درسه له أنبياء أبيه ، ظل الشيطان ينتظر أربعين يوما إن كان يجوع إبن الله أم لا ، وتفكر أنه إن لم يجع فهو روحاني . وإن جاع فهو جسداني وأنا اغلبه ، لم تكن فيه أفكار شريره مثل البشر ولا يسهل أن يخدع باهتمام الشهوات والخطية التي فتحت باب الموت ليست هي في جسده . إحترق الشرير وامتلا تمرداً ، واضطرب و تكدر إذ رأى السيد ينعم بالصوم والانضاع فأثار ابن الهلاك الجهاد بشدة ودعا قواته الشياطين ليعينوه وعساكره الكثيرين لينالوا الغلبه . ارتعب جميع الشياطين بقتال ابن الله وأرهب الشمال كله بجهاده ولم يعرفوا هل هو تحتاني أم عال . أربعين يوما أثار الشيطان تجاربه وايقظ القتالات الخفية على مخلصنا .</p>
<p>خرج المتمرد مقابل الملك وجها لوجه لكى يقاتل لأن القتال أصعب منه وفى كمال الأربعين جاع ربنا وصار ممكنا أن يجربه الشيطان . صار للمجرب غلبة ليوقظ الجهاد وبدأ يقول&#8221; إن كنت ابن الله قل أن تكون الحجارة خبزاً لتقيت نفسك &#8221; كمثل الملائكة عندما يرسلون للقديسين ليكملوا لهم احتياجهم، أظهر نفسه وأعطى المشوره.</p>
<p>لماذا تهتم بالخبز للجوعان ولم تنظر فيك عين صالحة منذ الأزل لو أمر وصار الخبز كما تجرب افتخر وأظهر نفسه كمثل قادر ، لأفسد الاتضاع الذي تنازل له وعرقل طريق الوحيد . اتضع ابن الله ليحيى آدم وحقر المجرب با تضاعه ، وإذ هو قادر أن يعمل الخبز كما قال له ، لم يصنع لئلا يظهر ذاته بالدهش . صام موسى أربعين يوما ولم يكتب أنه جاع ، وابن الله جاع في صومه لما تجرب . لم يجع موسى لأنه نظر منظر الآب والابن الذي هو كله في الأب لما صام جاع . جاع ليظهر أنه أخذ الجسد وصار منا وتشبه بنا وصار معنا من أجلنا . قال للمجرب ليس بالخبز وحده يحيا الإنسان بل بكلمة فم الرب يحيا كل أحد . حقر الجوع ولم يشأ أن يعمل هناك الخبز . وحقر العظمه ولم يشأ أن يرى أنه ابن الله . تمرمر المجرب ليثنى الخصام و تشوق للغلبه بحساره وجذب ربنا وأقامه فوق جناح الهيكل المقدس ليصنع هناك الخصام ثانيا . نظر الشيطان المكان العالى والعمق العظيم وتشوق أن ينظر هناك السقوط وبدأ يثنى من المزمور لابن الله لأجل أنه سمع منه قول الكتاب في التجربة الأولى . تكلم ربنا من التوراه وجسر الشرير أن يتكلم معه من المزمور في التجربة الثانية وبدأ يثنى كمثل عارف هكذا كتب أنه يأمر ملائكة من اجلك ليحملوك باذرعهم حتى لاتعثر رجلك بحجر . فقال ربنا مكتوب هكذا بالنبي أيضا لا تجرب الرب الهك .</p>
<p>أيها المارد أين قرأت في سفر أشير ومن كتب لك المزمور حتى تعلمته كمثل تلميذ اختزى الشيطان بالتجربة الثانية من مخلصنا وهدد واشتهى التجربة الثالثة . جذب الابن لجبل عال كما كتب . ملاء الجبل العالى خيالات زورية وصور أشباه مدائن وقرى وشعوب وممالك وأجلس ملوك واقام عظماء وأرى الابن غنى وخزائن شعوب الأرض ، جسر وقال لابن الله خر واسجد لي فأعطيها كلها لك انتهره الرب فسقط الشرير كالبرق بسرعة . وتحرك الملائكة لتمجيد ابن الله .</p>
<p>لمادعاه ربنا باسم &#8221; أمض يا شيطان&#8221; ، للوقت سقطت روح العظمه التي لكذبه . بعد تجربة الوحيد صارت خدمة من الملائكة لما حارب مع الأثيم باتضاعه كانت القوات الخفية العالية ناظره. ولم يترك الأب القوات العلوية أن تعين الابن ولا الابن قاتل بقوة لاهوته لأنه جرد نفسه وتنازل ليعمل الخصام بشبه العبد . ولما اكمل ربنا جهاده بالاتضاع تقدمت الملائكة تخدمه بدهش عظيم، لا لأجل الغلبه بل من أجل الاتضاع . وتحرك الجموع ليجدوه ويمدحوه بافراز .</p>
<p>ونحن يا اخوتى نتقدم مع اولئك ابناء النور ونرفع التمجيد للابن الذي شاء أن يتجرب من أجلنا ، وعلمنا بأي سلاح نلاقى المخاصم وبأي قوة نطفىء الآلام الوحشية . في بدء التجربة الصوم العظيم والنسك لتلطم محبة البطن والشره . وفي التجربة الثانية حقر وطرح محبة المجد لكى بالاتضاع تتحلى النفس . وفي ذاك الثالث محبة الغنى والسلطة . إهرب أنت الآن من أعمال الشر ومن العظمة لتقتني البر والاتضاع و تعال تمجد من الملائكة . إبن الله تنازل ليعلمك . مبارك هو الغالب الذي بتجربته أعطى الغلبة للمشجوبين له المجد الي أبد الدهور آمين<a href="#_ftn6" name="_ftnref6">[6]</a>.</p>
<h3>عظات آباء وخدَّام معاصرين</h3>
<h4>المتنيح القمص تادرس البراموسي</h4>
<p>الأحد الرابع من شهر بشنس</p>
<p>كثيراً ما تأتى التجارب بعد نقطة سمو في حياتنا الروحية أو خدماتنا نجد قصة إيليا يأس وتذكر دائماً أن الشيطان يختار الوقت الذى يسدد فيه هجومه وعلينا أن نكون يقظين وساهرين في أوقات النصر تمامًا كما في أوقات الإحباط . ولذى كيف يحاربنا الشيطان حينما نكشف جبهتنا ونكون معرضين لهجومه. جرب الشيطان أمنا حواء في الفردوس. كما جرب الرب يسوع في البرية وليس الشيطان رمز أو فكرة لكنه كائن له وجود حقيقى ودائماً يقاوم أولاد الله .</p>
<p>وكان الرب يسوع هدفاً أساسياً لتجارب الشيطان وإذا نجح الشيطان مع أمنا حواء . تمنى لو نجح أيضاً مع الرب يسوع أن كلمة الله وطاعتها سلاح فعال ذو حدين ضد التجربة وهو السلاح الوحيد . الذى يقاوم الإنسان به إبليس عدو الخير وقد أستخدم رب المجد الكلمة المقدسة في مواجهة هجمات الشيطان وعليك أنت أيضاً أن تفعل نفس الشئ ولكى تستخدمها بفاعلية وإيمان لابد أن تثق في مواعيد الله لأن الشيطان يعرف أيضاً الأسفار المقدسة وهو بارع في أستخدامها بصورة خادعة تناسب غرضه الشرير وطاعة كلمة الله أهم بكثير من مجرد الاستشهاد بالآيات حينئذ يكون سيفك حاداً مصقولاً دائماً.</p>
<p>لماذا جرب الرب يسوع أولاً لأن التجربة جزء من الخبرة البشرية ولكى يكمل الرب يسوع كل المكتوب عنه ثانيا كان على ابرب يسوع أن يبطل عمل أدم ويلغيه. بالرغم أن أدم خلق كاملاً وسقط في التجربة فعلى العكس من ذلك أن الرب يسوع قاوم الشيطان كما أن انتصاره يتمم الخلاص لنسل أدم . قد تكون التجربة أحياناً أغراء بعمل أمر ليس خطا في ذاته .</p>
<p>وغالباً ما تأتينا التجارب من نقاط القوة فينا وليس من نقاط الضعف . الشيطان جرب الرب يسوع في موضع قوته لأن الرب يسوع له سلطان على الحجارة وعلى ممالك العالم وعلى الملائكة بدون قصد أراد الشيطان من الرب يسوع أن يستعمل سلطانة.</p>
<p>وعندما نخضع للشيطان نستخدم قوتنا . بصورة خاطئة بصيبنا الغرور والكبرياء والاعتماد على الذات وحينما نثق في قدرتنا الذاتية نحس بعدم وجود الله ولكى نتخذ هذا الفخ لابد لنا أن ندرك أن كل ما عندما من قوة أنما هي عطية من الله لابد لنا أن نكرسها لخدمته وكما يجربنا الشيطان حينما نكون مكشوفين أمامه ومعرضين للتجارب فلنحرص اذاً ونسهر لكى نغلب إبليس وننتصر مع الرب يسوع ونقول مع بولس الرسول يعظم انتصارنا بالذى أحبنا وبذل نفسه لأحلنا.</p>
<p><strong>العظة الأولى</strong></p>
<p>أ – المعمودية طريق الصليب</p>
<p>ب – الإنسان والتجارب وكيف نتغلب عليها</p>
<p>ج – تشكيك المخلص في بنوته للأب</p>
<p>د – التجارب وفائدتها للإنسان</p>
<p>ه - شهوة العين أعطيك الأرض</p>
<p>و – شهوة الجسد أن تصير هذه الحجارة خبزاً</p>
<p>ذ – تعظم المعيشة أطرح نفسك إلى أسفل</p>
<p>ح – حيل الشيطان وشباكه وطرق خداعه</p>
<p>ط – كيف نتغلب على إبليس ومصدر هجومه</p>
<p>ى – خصمنا شرس . فلنتشدد للحرب</p>
<p><strong>العظة الثانية</strong></p>
<p>أ – الامتلاء بالروح القدس</p>
<p>ب – الايمان والتجارب . والانتصار</p>
<p>ج – الثغرات والتجارب . والبركات</p>
<p>د – تشكيك الشيطان لنا في لاهوت المسيح</p>
<p>ه - إخفاء اللاهوت وأظهار الملكوت</p>
<p>و – التجارب الشيطانية وحب القنية</p>
<p>ذ – كيف نقف أمام التجارب وبالأيمان نحارب</p>
<p>ح – بالصوم والصلاة نقاوم إبليس ونتغلب عليه</p>
<p>ط – أحترس من الهزيمة وأستعد للجهاد</p>
<p>ى – أهرب من حرب الشيطان وحارب أكثر مما كان</p>
<p><strong>العظة الثالثة</strong></p>
<p>أ – إله وامتلأ وتجارب</p>
<p>ب – إبليس وخداع</p>
<p>ج – جوع وضعف وهجوم</p>
<p>د – تجربة ودفاع وغلبة</p>
<p>ه - أمال وخيال وغرور</p>
<p>و – التجربة والحروب وصفاء القلوب</p>
<p>ذ – طعم الصنارة وشبكة الصياد</p>
<p>ح – ترك الغرور وكشف المستور</p>
<p>ط – لا تتكل على ذاتك فتخسر الجوله</p>
<p>ى – سلم أمورك للرب وهو يحارب عنك</p>
<p>الشيطان يريد أن يغربلكم كالحنطة<a href="#_ftn7" name="_ftnref7">[7]</a></p>
<h3>من وحي قراءات اليوم</h3>
<p>&#8221; أما يسوع فرجع من الأردن ممتلئا من الروح القدس فاقتاده الروح في البرية أربعين يوما يجرب من ابليس ولم يأكل شيئا في تلك الأيام &#8221;      إنجيل القدَّاس</p>
<p>+ ليس مصادفة بل بحسب تدبير وحكمة إلهية أن ترتبط معمودية الرب ، بالإمتلاء من الروح ، والصوم ، والإنتصار علي الشيطان ، بكلمة الله</p>
<p>+ إجتمعت هنا كل ضمانات أولاد الله لحياة النصرة والقوة والغلبة</p>
<p>+ بالمعمودية لبسنا المسيح (غل ٣ : ٢٧ ) ، وبالميرون سكن فينا روحه القدوس</p>
<p>+ وجهاد الصوم والصلاة هو ضمان إبطال كل أفعال المُضاد (مر ٩ : ٢٩ ) ، وإستعلان قوَّة ومجد ما أخذناه في المعمودية والميرون</p>
<p>+ وحفظ كلمة الله والهذيذ فيها هو سلاح أولاد الله تجاه أجناد الشر الروحية (أف ٦ : ١٢ - ١٧ )</p>
<p>+ وقد ضمن لنا إبن الله نصرتنا فيه علي الشيطان (رو ١٦ : ٢٠ )</p>
<p>+ ما نحتاجه هو أن نمتلئ من محبته (رو ٨ : ٣٧ ) ، ومن كلمته (عب ٤ : ١٢) ، (١يو ٢ : ١٤ ) ، والثقة الكاملة في قوته (١يو ٥ : ٤-٥) ، والإتحاد به علي الدوام (يو ٦ : ٥٧)</p>
<p>+ النصرة علي الشيطان لا تعني عدم الوقوع في الضعف ، بل عدم الإستسلام له</p>
<p>+ سلاحنا وقت ضعفنا &#8221; لا تشمتي بي يا عدوتي ، إذا سقطت أقوم &#8221; (مي ٧ : ٨)</p>
<p>+ وجعلت الكنيسة أسرارها ( التوبة والإعتراف ، والإفخارستيا ، والكهنوت ) قنوات النصرة الدائمة</p>
<hr />
<p><a href="#_ftnref1" name="_ftn1"></a>١- أُلقي يوسف في السجن كثمرة لطهارته، لكنه ما كان يشارك في حكم مصر لو لم يبعه إخوته &#8221; القديس امبروسيوس - تفسير لوقا ٤ - القمص تادرس يعقوب ملطي</p>
<p><a href="#_ftnref2" name="_ftn2"></a>٢- Elowsky, J.C. &amp; Oden, T.C. (2006). John 1 - 10 (The Ancient Christian Commentary on Scripture, New Testament part IVa). Illinois (U.S.A): InterVarsity Press. Page 72</p>
<p>ترجمة الأخ إبراهيم القمص مكاري نجيب - كنيسة مار مرقس بالمعادي</p>
<p><a href="#_ftnref3" name="_ftn3"></a>٣- عظات علي سفر العدد صفحة ٨٥ - ترجمة المتنيح القس برسوم عوض ومراجعة دكتور نصحي عبد الشهيد</p>
<p><a href="#_ftnref4" name="_ftn4"></a>٤- عظات القديس أغسطينوس علي رسالة يوحنا الأولي صفحة ٤٧ - ترجمة القمص بنيامين مرجان</p>
<p><a href="#_ftnref5" name="_ftn5"></a>٥- كتاب تفسير الرسالة إلي العبرانيين للقديس يوحنا ذهبي الفم صفحة ١٠٦ - ترجمة دكتور سعيد حكيم يعقوب</p>
<p><a href="#_ftnref6" name="_ftn6"></a>٦- المرجع : مجلة مدارس الاحد شهر مارس لسنة ١٩٧٠</p>
<p><a href="#_ftnref7" name="_ftn7"></a>٧- المرجع : كتاب تأملات وعناصر روحية في أحاد وأيام السنة التوتية ( صفحة ٢٠٥ ) - إعداد القمص تادرس البراموسي</p>

      {% endcreateArticleAccordions %}
    </section>
  {% endblock %}
