---
layout: 'layouts/reading.html'
title: 'عيد الصليب قراءات اليوم الأوّل (١٧ توت )'
permalink: annual/1-17.html
---
  {% block content %}
    <section id="readings">
      <ul>
      {% if '19.4:6-8' != 'null' %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">العشية</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeVespers '19.4:6-8' '43.8:28-42' %}
          </div>
        </div>
      </li>
      {% endif %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">باكر</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeMatins '19.60:4-5' '43.12:26-36' '' %}
          </div>
        </div>
      </li>
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <h3 class="flex items-center justify-between">
            <span class="kufi">القداس</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </h3>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeLitugy '46.1:17-31' '60.2:11-25' '44.10:34-43' '19.65:1-2' '43.10:22-38' %}
          </div>
        </div>
      </li>
        </ul>
    </section>
    <section id="article">
      <h3 class="mt-8 mb-4 heading-explain">شرح القراءات</h3>
      {% createArticleAccordions firstName, lastName %}
        <h3>قوّة الصليب</h3>
<p>&#8221; وهو مجروح لأجل معاصينا، مسحوق لأجل آثامنا. تأديب سلامنا عليه، وبحبره شفينا &#8221; (أش ٥٣: ٥)</p>
<p>&#8221; قبل أن يربط بالحبال ليحلنا من رباطات خطايانا وتواضع ليرفعنا وجاع ليشبعنا وعطش ليروينا وصعد إلى الصليب عريانًا ليكسونا بثوب بره وفتح جنبه بالحربة لكل ندخل إليه ونسكن في عرش نعمته ولكي يسيل الدم من جسده لنغتسل من آثامنا وأخيرًا مات ودفن في القبر ليقيمنا من موت الخطية ويحيينا حياة أبدية &#8221; قسمة للابن سنوي</p>
<p>&#8221; هكذا يبدو الصليب موضوع مقاومة، ومع ذلك فهو أعظم من أن يُقاوم، إذ يجتذب (المقاومين)</p>
<p>يتحدثون عن الصليب كجهالةٍ وضعفٍ. حقيقة الأمر ليس هكذا، بل هذا هو رأي الآخرين. فإنه إذ يعجز الفلاسفة عن أن يدركوه بالطرق العقلانية يبدو لهم ما هو سامٍ للغاية جهالة</p>
<p>أي شيء لم يقدمه الصليب؟ تعليم خلود النفس، وما يخص قيامة الجسد، والازدراء بالزمنيات، والاشتياق إلى الأخرويات. حقًا إنه يجعل من البشر ملائكة، ويمارس الكل في كل موضعٍ بذل الذات، ويظهرون لك أنواع الاحتمال<a href="#_ftn1" name="_ftnref1"><sup>[1]</sup></a> &#8221;</p>
<p><a href="#_ftn2" name="_ftnref2"><sup>[2]</sup></a>&#8221; إن روحي مكرسة للصليب ، الذي هو عثرة لغير المؤمنين ، لكنه خلاصنا وحياتنا الأبدية &#8221;</p>
<h3>شواهد القراءات</h3>
<p>(مز ٤: ٧ – ٩) ، (يو ٨ : ٢٨ – ٤٢) ، (مز ٥٩ : ٣ ) ، (يو ١٢ : ٢٦ – ٣٦) ، (١كو ١ : ١٧ – ٣١) ، (١بط ٢ : ١١ – ٢٥) ، (أع ١٠ : ٣٤ – ٤٣) ، (مز ٤٦ : ١ ، ٢) ، (يو ١٠ : ٢٢ – ٣٨)</p>
<h3>ملاحظات على قراءات اليوم</h3>
<p>+ إنجيل باكر اليوم (يو ١٢: ٢٦ &#8211; ٣٦) هو إنجيل باكر يوم ٨ هاتور (تذكار الأربعة الحيوانات غير المُتجسِّدين)</p>
<p>ومجيئها في عيد الصليب لأجل قول الرب الذي أشار فيه إلي صليبه</p>
<p>&#8221; وأنا أيضاً إذا ارتفعت من الأرض أجذب إليّ كل واحد &#8221;</p>
<p>ومجيئها في قراءات يوم ٨ هاتور للإشارة إلي الصوت من السماء وإعتقاد الجموع أنه صوت أحد القوّات السمائية</p>
<p>الكاثوليكون اليوم (١بط ٢: ١١ &#8211; ٢٥) يأتي جزء منه (١بط ٢ : ١١ &#8211; ١٧) في قراءات ٢٢ هاتور ، ٣٠ بؤونه ، ٢٦ مسري ، وأيضاً جزء منه (١بط ٢ : ١٨ &#8211; ٣ : ١ &#8211; ٧) في قراءات الأحد الثالث من شهر مسري</p>
<p>والجزء الذي لم يأت في القراءات الثلاثة (١بط ٢: ١٨ &#8211; ٢٥) هو جزء خاص بالصليب لذلك جاء فقط في عيد الصليب &#8221; الذي رفع خطايانا على الخشبة بجسده &#8230; والذي شُفيتم بجراحاته &#8221;</p>
<p>أمَّا الجزء الخاص بالقراءات الثلاثة فهو الذي يتكلم عن السيرة المُقدَّسة وقبول الألم من أجل الله، والشهادة للمسيح ، لذلك جاء في قراءات قبول الألم من أجل الشهادة للمسيح والشهادة للحق في ٢٢ هاتور ( شهادة القديسين قزمان وإخوته وأمهم ) ، ٣٠ بؤونه ( وجود عظام يوحنا المعمدان ) ، ٢٦ مسري ( شهادة القديس موسي وسارة أخته )</p>
<p>والجزء الخاص بالأحد الثالث من مسري يتكلَّم عن عائلة الله (الرجال والنساء في الأسرة) موضوع قراءة ذاك الأحد ( خاصة من آية ١ إلي آية ٧ في الإصحاح الثالث )</p>
<p>+ قراءة الإبركسيس اليوم (أع ١٠: ٣٤ &#8211; ٤٣) تُشبه قراءة الإبركسيس (أع ١٠ : ٣٧ &#8211; ١١ : ١) للأحد الأوَّل من شهر هاتور ، وفي قراءة ذاك الأحد التركيز علي موهبة الروح القدس التي أعطيت للأمم عند سماع كلمة الله</p>
<p>الأيام المُحوَّلة علي يوم ١٧ توت :+</p>
<p>يوم عاشر برمهات (تذكار إكتشاف وظهور الصليب)</p>
<p>يوم ١٢ مسري (تذكار تملك قسطنطين الملك )</p>
<h3>شرح القراءات</h3>
<p>تبدأ القراءات بالمزامير التي تُعْلِن ماهو صليب ابن الله وكيف صار في حياتنا؟</p>
<p>(١) هو نور وجه الابن الذي يفيض علينا بالسرور القلبي ورجاء الحياة</p>
<p>&#8221; قد ارتسم علينا نور وجهك يارب أعطيت سروراً لقلبي لأنك أنت وحدك يارب اسكنتني علي الرجاء &#8221;</p>
<p>(٢) هو علامة النجاة والخلاص</p>
<p>&#8221; أعطيت الذين يتقونك علامة ليهربوا من وجه القوس لكيما ينجو أحباؤك خلصني بيمينك &#8221;</p>
<p>(٣) مصدر التسبيح والقوّة الجاذبة لكل البشر</p>
<p>&#8221; لك ينبغي التسبيح يا الله في صهيون ولَك توفي النذور في أورشليم استمع يا الله صلاتي لأنه إليك يأتي كل بشر &#8221;</p>
<p>بينما تُبْرِز القراءات الثلاث البولس والكاثوليكون والإبركسيس قوّة الصليب في الكنيسة المقدسة</p>
<p></p>
<p>فقوّة الصليب في البولس لايفهمها أقوياء البشر والعالم بل يعتبرها ضعفاً والحكمة التي تُسْتٓعلن بالصليب لا يصل إلي عمقها حكماء وفهماء العالم لأنها فوق إدراكهم المحدود لذلك يعتبرونها جهالة وتظهر قوّة الصليب في الذين إختارهم الرب من بسطاء وجهلاء وضعفاء وأدنياء العالم لكي لا يفتخر أي بشر أمامه</p>
<p>&#8221; لأن جهالة الله أحكم من الناس وضعف الله أقوي من الناس &#8230; بل اختار الله جهّال العالم ليُخزي الحكماء واختار الله ضعفاء العالم ليُخْزي بهم الأقوياء واختار الله أدنياء العالم والمرذولين والذين ليسوا موجودين ليُبْطل بهم الموجودين&#8221;</p>
<p></p>
<p>أمّا قوّة الصليب في الكاثوليكون هي قوّة فداء وقوّة موت وقوّة حياة بالبرّ وقوّة شفاء بجراحاته</p>
<p>&#8221; الذي رفع خطايانا علي الخشبة بجسده لكي ما إذا مُتْنا بالخطايا فنحيا بالبرّ والذي شُفيتم بجراحاته &#8221;</p>
<p>بينما تظهر قوّة الصليب في الإبركسيس في الشهادة والكرازة</p>
<p>&#8221; يسوع الذي من الناصرة كمثل ما مسحه الله بالروح القدس والقوة &#8230; ويشفي كلّ الذين قُهِروا من الشيطان &#8230; ونحن شهود لكل شئ &#8230; وأمرنا أن نكرز للشعب ونشهد بأن هذا هو المعيّن من الله دياناً للأحياء والأموات وهذا الذي شهد له جميع الأنبياء أن كلّ من يؤمن به ينال باسمه غفران الخطايا &#8221;</p>
<p></p>
<p>أمّا الأناجيل فتتكلّم عن قوة الصليب في حياة البشر</p>
<p>لذلك يوضّح إنجيل عشيّة أن قوّة الصليب قوّة مُغيّرة ومُحرّرة من الخطيّة</p>
<p>&#8221; إن أنتم ثبتّم في كلامي فبالحقيقة أنتم تلاميذي وتعرفون الحق ويجعلكم الحق أحراراً &#8230; إن كل من يصنع الخطيئة فهو عبد للخطيئة &#8230; فإن حررَّكم الإبن فحقاً تصيرون أحراراً &#8221;</p>
<p>ويُعْلِن إنجيل باكر أن قوّة الصليب قوّة دينونة للعالم الشرير وقوّة سحق للشيطان وفي ذات الوقت قوّة جذب لأولاده</p>
<p>&#8221; الآن دينونة هذا العالم الآن رئيس هذا العالم يُطْرٓح خارجاً وأنا أيضاً إذا ارتفعت من الأرض أجذب إليّ كل واحد &#8221;</p>
<p>وفي إنجيل القداس نري القوة الحافظة من الهلاك</p>
<p>&#8221; لأن خرافي تسمع صوتي وأنا أعرفها فتتبعني وأنا أعطيها حياة أبدية ولن تهلك إلي الأبد ولا يخطفها أحد من يدي &#8230; ولا يقدر أحد أن يخطف من يد أبي &#8221;</p>
<p></p>
<h4>ملحوظة: تصليب النيل</h4>
<p>يقول العلامة يسي عبد المسيح أنه من بداية هذا اليوم يكفُّ النيل عن الزيادة حسب إعتقاد العامّة قديماً :</p>
<p>&#8221; تحتفل الكنيسة في اليوم السابع عشر من توت بتذكار ظهور الصليب المجيد وهذا اليوم يعرف عند العامة بتصليب النيل بمعني أن النيل يكف عن الزيادة ويبتدئ في النزول وفيه إنه إذا زاد النيل بعد عيد الصليب فإن البلاد تغرق من الفيضان (قبل بناء السد العالي ) وهذا ما يؤيد ما قلناه سابقاً أن للأعياد المسيحية إرتباطاً وثيقاً بعادات قدماء المصريين<a href="#_ftn3" name="_ftnref3"><sup>[3]</sup></a> &#8221;</p>
<h3>مُلخّص القراءات</h3>
<p>الصليب هو نور وجه الابن وعلامة النجاة والخلاص وموضوع التسبيح لكل البشر (مزمور عشية وباكر والقدّاس)</p>
<p>وقوّة الصليب وحكمته لا يفهمها أقوياء وشرفاء وحكماء العالم لسموّها علي تفكيرهم (البولس )</p>
<p>وهي قوّة حياة بالبر وشفاء للجراحات (الكاثوليكون )</p>
<p>وموضوع كرازة وشهادة الكنيسة (الإبركسيس )</p>
<p>وهي قوّة مُغٓيّرة ومُحٓرّرة للإنسان من الداخل (إنجيل عشيّة )</p>
<p>وقوّة ساحقة للشيطان وجاذبة لأولاده (إنجيل باكر)</p>
<p>وقوّة حارسة وحافظة من الشرير ومن الهلاك ( إنجيل القداس )</p>
<p></p>
<h3>أفكار مُقترحة للعظات</h3>
<h4>(١) قوَّة الصليب في حياتي اليومية</h4>
<p>١- قوَّة مُغيَّرة ومُحرِّرة للإنسان من الداخل                      إنجيل عشيَّة</p>
<p>&#8221; فإن حرَّركم الإبن فحقاً تصيرون أحراراً &#8221;</p>
<p>الحرِّية هنا داخلية حرِّية القلب من كل ما هو للإنسان العتيق من حقد وكبرياء وشهوة وخوف</p>
<p>٢- قوَّة ساحقة للشيطان وجاذبة لأولاد الله                     إنجيل باكر</p>
<p>&#8221; الآن دينونة هذا العالم ، الآن رئيس هذا العالم يُطرح خارجاً ، وأنا أيضاً إذا ارتفعت من الأرض أجذب إليَّ كل واحد &#8221;</p>
<p>الصليب يسحق الشيطان ويجتذب بالحب الخطاة والبعيدين والعطشي للخلاص</p>
<p>٣- قوَّة حارسة وحافظة من الشرير ومن الهلاك               إنجيل القدَّاس</p>
<p>&#8221; وأنا أعطيها حياة أبدية ولن تهلك إلي الأبد ولا يخطفها أحد من يدي &#8221;</p>
<p>الحياة مع المسيح المصلوب تجعلنا دائماً في يده الإلهية المثقوبة لأجلنا والتي ترتعب منها كل قوات الظلمة فلا تقدر أي قوَّة أن تخطفنا من يده</p>
<h4>(٢) قوَّة الصليب في الخدمة والكرازة</h4>
<p>١-قوَّة وحكمة الصليب عند المُخلَّصين                        البولس</p>
<p>&#8221; لأن كلمة الصليب عند الهالكين جهالة وأما عندنا نحن المخلصين فهو قوَّة الله &#8221;</p>
<p>قوَّة العالم أمام الصليب ضعف وحكمة وفلسفات العالم أمام الصليب جهالة وليس معني هذا أن الصليب ضد حكمة العالم لكنه فوقه وأعلي من إمكانياته المحدودة لذلك يقول أن جهالة الله أحكم من الناس وضعف الله أقوي من الناس</p>
<p>أي أن قوَّة الصليب وحكمته لا يفهمها أقوياء وشرفاء وحكماء العالم لسموّها علي تفكيرهم</p>
<p>٢- قوَّة شفاء وبرّ                                        الكاثوليكون</p>
<p>&#8221; لكي ما إذا مُتْنا بالخطايا فنحيا بالبرّ والذي شُفيتُم بجراحاته &#8221;</p>
<p>أعظم وسيلة لشفاؤنا ولشفاء من نخدمهم هو المحبّة المُعلنة في الصليب والقبول المجاني لكل إنسان كما قبلنا الله مجانا ببره الإلهي ( مثال : وليمة الحب مع العشَّارين والخطاة ومع لاوي ومع زَكَّا )</p>
<p>٣- قوَّة المسحة والشهادة                                 الإبركسيس</p>
<p>&#8221; يسوع الذي من الناصرة كمثل ما مسحه الله بالروح القدس والقوة هذا الذي جاء يصنع الخير ويشفي كلَّ الذين قُهِروا من الشيطان لأن الله كان معه ونحن شهود لكل شئ صنع في كورة اليهودية &#8230; &#8221;</p>
<p>المسيحي شاهد بحياته وبالخير الذي يقدمه ولمسات المحبّة التي تشفي كل المجروحين من قساوة وجحود العالم والبشر</p>
<h4>(٣) ثمار الصليب</h4>
<p>١-معرفة وإستنارة                                                مزمور عشيَّة</p>
<p>&#8221; قد ارتسم علينا نور وجهك يارب &#8221;</p>
<p>الصليب هو الطريقة الوحيدة لكي نري يسوع كل يوم عندما نموت مثل حبَّة الحنطة فنأتي بثمر كثير (نريد أن نري يسوع &#8230; ان لم تقع حبة الحنطة في الأرض وتمت فهي تبقي وحدها ولكن إن ماتت تأتي بثمر كثير &#8211; (يو ١٢: ٢١-٢٤)</p>
<p>٢- نصرة                                                             مزمور باكر</p>
<p>&#8221; أعطيت الذين يتَّقونك علامة : ليهربوا من وجه القوس لكيما ينجو أحباؤك &#8221;</p>
<p>ما أجمل ما نُسبِّح به في إبصالية الجمعة ( ربنا يسوع المسيح قد أعطي علامة لعبيده لكي يسدوا أفواه الأسود .. يطفئوا قوَّة النار .. لكي يخرجوا الشياطين .. لكي يتسلطوا علي أعدائهم .. أن يشفوا كل مرض &#8230;. )</p>
<p>٣- تسبيح                                                           مزمور القدَّاس</p>
<p>&#8221; لكي ينبغي التسبيح يا الله في صهيون &#8221;</p>
<p>التسبيح هو لغة الحب والشكر والفرح بما قدمه رب المجد لنا في صليبه وموته وقيامته</p>
<h4>( ٤ ) الصليب هو طريق معرفتنا الحقيقية لله ، ومجدنا فيه ، وجاذبية الحب للآخرين</h4>
<p>١-طريق معرفتنا الحقيقية لله</p>
<p>عندما جاء اليونانيين لفيلبس الرسول يسألونه &#8221; يا سيِّد، نريد أن نري يسوع &#8221; وجاء فيلبس إلي أنداوس ، وأندراوس إلي المسيح له المجد ، كانت الإجابة في هذا الوقت غريبة وغير مفهومة :</p>
<p>&#8221; وأما يسوع فأجابهما قائلا: «قد أتت الساعة ليتمجد ابن الإنسان. الحق الحق أقول لكم: إن لم تقع حبة الحنطة في الأرض وتمت فهي تبقى وحدها. ولكن إن ماتت تأتي بثمر كثير.&#8221;(يو ١٢: ٢٣ &#8211; ٢٤)</p>
<p>وهذا معناه أن الطريق الوحيد لرؤية الله ومعرفته بالحقيقة هو الصليب والموت عن العالم</p>
<p>٢- الصليب هو مجدنا فيه</p>
<p>) إن كنا نتألم معه لكي نتمجد أيضا معه &#8221; (رو ٨: ١٧</p>
<p>الألم في حد ذاته مُحطِّم للإنسان، لكن حضور المسيح فيه يُحوَّله إلي مجد ، بل ويأتي منه بثمر كثير &#8221; وكان في الموضع الذي صلب فيه بستان &#8220;( يو ١٩ : ٤١ )</p>
<p>والأكثر من ذلك أن يصير الألم فخر وموضع سرور الإنسان وتعزيته</p>
<p>لذلك أسر بالضعفات والشتائم والضرورات والاضطهادات والضيقات لأجل المسيح. لأني حينما أنا ضعيف فحينئذ أنا قوي.&#8221;(٢كو ١٢:  ١٠)</p>
<p>٣- الصليب هو جاذبية الحب للآخرين</p>
<p>) وأنا إن ارتفعت عن الأرض أجذب إلي الجميع &#8221; (يو ١٢: ٣٢</p>
<p>إرتفاع الأنبا أنطونيوس عن الأرضيات جذب كثيرين للرهبنة، وإرتفاع يوستينا عن الشهوات جذب كبريانوس الساحر للإيمان، وإرتفاع مار جرجس ومار مينا ، ومار بقطر ، وأبوسيفين عن مجد العالم جذب كثيرين جدَّا للإيمان</p>
<p><a href="#_ftnref1" name="_ftn1"></a>٣- القديس يوحنا ذهبي الفم (تفسير رسالة كورنثوس الإصحاح الاول &#8211; القمص تادرس يعقوب ملطي )</p>
<p><a href="#_ftnref2" name="_ftn2"></a>٤- أغناطيوس الشهيد &#8211; الكنيسة المسيحية في عصر الرسل صفحة ٢٦٧ &#8211; المتنيح أنبا يؤانس أسقف الغربية</p>
<p><a href="#_ftnref3" name="_ftn3"></a>٥- ( كتاب السنة الكنسية القبطية ص ١٨ &#8211; يسي عبد المسيح &#8211; إصدار الأغنسطس نبيل فاروق فايز)</p>

      {% endcreateArticleAccordions %}
    </section>
  {% endblock %}
  