---
layout: 'layouts/reading.html'
title: 'عيد الصليب قراءات اليوم الثاني  (١٨ توت )'
tags: 'annual'
permalink: /articles/annual/1-18.html
---
  {% block content %}
    <section id="readings">
      <ul>
      {% if 'undefined' != 'undefined' %}
      
      {% else %}
      {% if '19.99:9,5' != 'null' %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">العشية</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeVespers '19.99:9,5' '43.4:19-24' %}
          </div>
        </div>
      </li>
      {% endif %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">باكر</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeMatins '19.118:28,16' '43.3:14-21' '' %}
          </div>
        </div>
      </li>
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <h3 class="flex items-center justify-between">
            <span class="kufi">القداس</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </h3>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeLitugy '48.6:11-18' '60.1:3-12' '44.4:8-18' '19.145:1-2' '43.6:35-46' %}
          </div>
        </div>
      </li>

      {% endif %}
        </ul>
    </section>
    <section id="article">
      <h3 class="mt-8 mb-4 heading-explain">شرح القراءات</h3>
      {% createArticleAccordions %}
        <h3>شواهد القراءات</h3>
<p>(مز ٩٨: ٤ ، ٨) ، (يو ٤ : ١٩ – ٢٤)، (مز ١١٧ : ٢٧ ، ١٥)، (يو ٣ : ٤١ – ٢١)، (غل ٦ : ١١ – ١٨) ، (١بط ١ : ٣ – ١٢) ، (أع ٤ : ٨ – ١٨) ، (مز١٤٤ : ١ ، ٢)، (يو ٦ : ٣٥ – ٤٦)</p>
<h3>ملاحظات على قراءات ثاني يوم عيد الصليب</h3>
<p>+ تشابه إنجيل عشيّة ثاني يوم عيد الصليب (يو ٤: ١٩ - ٢٤) مع إنجيل باكر<a href="https://katameros.bible/church-reading/%d9%8a%d9%88%d9%85-%d9%a3%d9%a0-%d8%b7%d9%88%d8%a8%d9%8a-%d8%aa%d8%b0%d9%83%d8%a7%d8%b1-%d8%b4%d9%87%d8%a7%d8%af%d8%a9-%d8%a7%d9%84%d8%b9%d8%b0%d8%a7%d8%b1%d9%8a-%d9%87%d9%84%d8%a8%d9%8a%d8%b3%d8%a7/"> يوم ٣٠ طوبه</a> (يو ٤: ١٥ - ٢٤) والموافق لتذكار العذاري بستا وهلبيس وأغابي وصوفيا أمهم</p>
<p>مجيء القراءة في عيد الصليب لأجل كلام الرب عن الخلاص من اليهود ولكنه سيشمل كل الشعوب الساجدين بالروح والحق</p>
<p>ومجيئها في<a href="https://katameros.bible/church-reading/%d9%8a%d9%88%d9%85-%d9%a3%d9%a0-%d8%b7%d9%88%d8%a8%d9%8a-%d8%aa%d8%b0%d9%83%d8%a7%d8%b1-%d8%b4%d9%87%d8%a7%d8%af%d8%a9-%d8%a7%d9%84%d8%b9%d8%b0%d8%a7%d8%b1%d9%8a-%d9%87%d9%84%d8%a8%d9%8a%d8%b3%d8%a7/"> يوم ٣٠ طوبة</a> (بإضافة ستة آيات ) لأجل حديث الرب مع السامرية ودعوته لها لكي تحضر زوجها</p>
<p>+ قراءة إنجيل باكر اليوم (يو ٣: ١٤ - ٢١) تُشبه قراءة إنجيل باكر في <a href="https://katameros.bible/church-reading/%d8%a7%d9%84%d8%a3%d8%ad%d8%af-%d8%a7%d9%84%d8%ab%d8%a7%d9%84%d8%ab-%d9%85%d9%86-%d8%b7%d9%88%d8%a8%d8%a9/">الأحد الثالث من طوبة</a> (يو ٣: ١ - ٢١) وقراءة إنجيل قدَّاس <a href="https://katameros.bible/church-reading/%d8%a7%d9%84%d9%8a%d9%88%d9%85-%d8%a7%d9%84%d8%b1%d8%a7%d8%a8%d8%b9-%d8%b9%d8%b4%d8%b1-%d9%85%d9%86-%d8%b4%d9%87%d8%b1-%d8%a8%d8%a7%d8%a8%d9%87/">يوم ١٤ بابه</a> (يو ٣ : ١ - ٢١ ) وهي القراءة التي تتكلَّم عن المعمودية</p>
<p>مجيئها اليوم لتركيز الكلام عن الصليب ومقارنته بالحية النحاسية</p>
<p>أمَّا مجيئها في <a href="https://katameros.bible/church-reading/%d8%a7%d9%84%d8%a3%d8%ad%d8%af-%d8%a7%d9%84%d8%ab%d8%a7%d9%84%d8%ab-%d9%85%d9%86-%d8%b7%d9%88%d8%a8%d8%a9/">الأحد الثالث من طوبي</a> (يو ٣: ١ - ٢١) ، <a href="https://katameros.bible/church-reading/%d8%a7%d9%84%d9%8a%d9%88%d9%85-%d8%a7%d9%84%d8%b1%d8%a7%d8%a8%d8%b9-%d8%b9%d8%b4%d8%b1-%d9%85%d9%86-%d8%b4%d9%87%d8%b1-%d8%a8%d8%a7%d8%a8%d9%87/">ويوم ١٤ بابه</a> ( تذكار فيلبس الشمَّاس ) للتركيز علي لقاء الرب مع نيقوديمرس والحديث عن المعمودية ( من آية ١ - ١٤ ) وهي موضوع قراءة هذا الأحد ثم ربطها بالصليب (من آية ١٤ - ٢١ )</p>
<p>+ الكاثوليكون اليوم (١بط ١: ٣ - ١٢) تكرَّر في قراءات أيَّام <a href="https://katameros.bible/church-reading/%d8%a7%d9%84%d8%a3%d8%ad%d8%af-%d8%a7%d9%84%d8%ab%d8%a7%d9%86%d9%8a-%d9%85%d9%86-%d8%b4%d9%87%d8%b1-%d8%a8%d8%a7%d8%a8%d9%87/">١٢ بابه</a> ( تذكار متي الإنجيلي ) ، <a href="https://katameros.bible/church-reading/%d8%a7%d9%84%d9%8a%d9%88%d9%85-%d8%a7%d9%84%d8%aa%d8%a7%d8%b3%d8%b9-%d9%85%d9%86-%d9%87%d8%a7%d8%aa%d9%88%d8%b1-%d8%aa%d8%b0%d9%83%d8%a7%d8%b1-%d8%a5%d9%86%d8%b9%d9%82%d8%a7%d8%af-%d9%85%d8%ac%d9%85/">يوم ٩ هاتور</a> ( تذكار مجمع نيقية المسكوني ) ، <a href="https://katameros.bible/church-reading/%d8%a7%d9%84%d8%ab%d8%a7%d9%86%d9%8a-%d9%88%d8%a7%d9%84%d8%b9%d8%b4%d8%b1%d9%88%d9%86-%d9%85%d9%86-%d9%83%d9%8a%d9%87%d9%83/">يوم ٢٢ كيهك</a> ( تذكار الملاك غبريال ) ، <a href="https://katameros.bible/church-reading/%d8%a7%d9%84%d9%8a%d9%88%d9%85-%d8%a7%d9%84%d8%ab%d8%a7%d9%84%d8%ab-%d9%85%d9%86-%d8%a7%d9%84%d8%b4%d9%87%d8%b1-%d8%a7%d9%84%d8%b5%d8%ba%d9%8a%d8%b1/">٣ نسئ</a> ( تذكار الملاك روفائيل )</p>
<p>وهي القراءة التي تكلمت عن الخلاص بالصليب الذي فتش وبحث عنه أنبياء (عيد الصليب )، وعن الذين بشروكم في الروح القدس مثل الآباء الرسل <a href="https://katameros.bible/church-reading/%d8%a7%d9%84%d8%a3%d8%ad%d8%af-%d8%a7%d9%84%d8%ab%d8%a7%d9%86%d9%8a-%d9%85%d9%86-%d8%b4%d9%87%d8%b1-%d8%a8%d8%a7%d8%a8%d9%87/">( ١٢ بابه )</a> ، وعن نقاوة هذا الإيمان والشهادة له ( <a href="https://katameros.bible/church-reading/%d8%a7%d9%84%d9%8a%d9%88%d9%85-%d8%a7%d9%84%d8%aa%d8%a7%d8%b3%d8%b9-%d9%85%d9%86-%d9%87%d8%a7%d8%aa%d9%88%d8%b1-%d8%aa%d8%b0%d9%83%d8%a7%d8%b1-%d8%a5%d9%86%d8%b9%d9%82%d8%a7%d8%af-%d9%85%d8%ac%d9%85/">٩هاتور</a> ) ، وأنه شهوة الملائكة (<a href="https://katameros.bible/church-reading/%d8%a7%d9%84%d8%ab%d8%a7%d9%86%d9%8a-%d9%88%d8%a7%d9%84%d8%b9%d8%b4%d8%b1%d9%88%d9%86-%d9%85%d9%86-%d9%83%d9%8a%d9%87%d9%83/">يوم ٢٢ كيهك</a> ) ، وهو إيمان تُصقله التجارب وتجعله أثمن من الذهب ( <a href="https://katameros.bible/church-reading/%d8%a7%d9%84%d9%8a%d9%88%d9%85-%d8%a7%d9%84%d8%ab%d8%a7%d9%84%d8%ab-%d9%85%d9%86-%d8%b4%d9%87%d8%b1-%d9%85%d8%b3%d8%b1%d9%8a/">يوم ٣مسري</a> )</p>
<p>كما يأتي جزء من هذه القراءة (١بط ١: ١ - ٩) في تذكار البابا بطرس خاتم الشهداء، والاختلاف هنا هو في مجيء القراءة من بداية الإصحاح (بطرس رسول يسوع المسيح &#8230; ) ، ورُبما يكون هنا سبب القراءة أي إسم القديس بطرس</p>
<p>+ تشابه إنجيل قدّاس اليوم (يو ٦: ٣٥ - ٤٦) مع إنجيل قدّاس <a href="https://katameros.bible/church-reading/%d8%a7%d9%84%d8%a3%d8%ad%d8%af-%d8%a7%d9%84%d8%ab%d8%a7%d9%84%d8%ab-%d9%85%d9%86-%d8%a3%d9%85%d8%b4%d9%8a%d8%b1/">الأحد الثالث من أمشير</a> (يو ٦ : ٢٧ - ٤٦)</p>
<p>والكلام في القراءة الأولي <a href="https://katameros.bible/church-reading/%d8%b9%d9%8a%d8%af-%d8%a7%d9%84%d8%b5%d9%84%d9%8a%d8%a8-%d9%82%d8%b1%d8%a7%d8%a1%d8%a7%d8%aa-%d8%a7%d9%84%d9%8a%d9%88%d9%85-%d8%a7%d9%84%d8%ab%d8%a7%d9%86%d9%8a-%d9%a1%d9%a8-%d8%aa%d9%88%d8%aa/">(ليوم ١٨ توت )</a> عن الإيمان بإبن الله مصدر القيامة والحياة</p>
<p>وفي القراءة الثانية (<a href="https://katameros.bible/church-reading/%d8%a7%d9%84%d8%a3%d8%ad%d8%af-%d8%a7%d9%84%d8%ab%d8%a7%d9%84%d8%ab-%d9%85%d9%86-%d8%a3%d9%85%d8%b4%d9%8a%d8%b1/"> الأحد الثالث من شهر أمشير</a> ) عن الرب يسوع خبز الحياة <a href="https://katameros.bible/church-reading/%d9%85%d9%82%d8%af%d9%85%d8%a9-%d9%82%d8%b1%d8%a7%d8%a1%d8%a7%d8%aa-%d8%b4%d9%87%d8%b1-%d8%a3%d9%85%d8%b4%d9%8a%d8%b1/">موضوع قراءات شهر أمشير</a></p>
<h3>شرح القراءات</h3>
<p>تتكلّم قراءات اليوم الثاني عن مجد الآب المُعْلَن في صليب ابنه</p>
<p>لذلك توضِّح المزامير مجد الآب في الكنيسة المقدسة (جبله المُقَدَّس)</p>
<p>(ارفعوا الرب الهنا واسجدوا في جبله المقدس فإن الرب إلهنا قدوس ارفعوا الرب إلهنا واسجدوا لموطئ قدميه )</p>
<p>وكأن المزمور يُعْلِن أن موطئ قدميه هو الصليب وموطئ قدميه هو الحب بين البشر وهو ما يعلن مجد الآب وكأن كل أعمال المحبة الباذلة بين البشر هي إعلان عن مجد الآب الذي وجد مكاناً لموطئ قدميه فينا</p>
<p>وفي مزمور باكر عن مجد الآب فينا التي ترفعنا وتهبنا القوة الإلهية</p>
<p>(أنت هو إلهي فأشكرك إلهي أنت فأرفعك يمين الرب صنعت قوة يمين الرب رفعتني)</p>
<p>ويذكر أبونا تادرس يعقوب ملطي سبب إختيار هذا المزمور في قراءات عيد الصليب</p>
<p>&#8221; تستخدمه الكنيسة القبطية في قراءات اليوم الثاني من عيد الصليب، بكون الصليب هو تمجيد لاسم يسوع المصلوب: &#8220;يمين الرب صانعه ببأس&#8221; ، يمين الرب مرتفعة، يمين الرب صانعة ببأسٍ ،  &#8220;إلهي فأرفعك&#8221; ( تفسير مزمور ١١٨ )</p>
<p>وفي مزمور القداس مجد الآب علي الدوام وكل الأيّام</p>
<p>(أرفعك يا إلهي وملكي وأخبر باسمك إلي أبد الأبد في كل يوم أباركك وأسبح اسمك إلي دهر الداهرين )</p>
<p>وفي البولس يتكلّم عن مجد الصليب في الخليقة الجديدة وهو أيضاً موضع افتخار الرعاة والكارزين</p>
<p>(وأما من جهتي فحاشا لي أن أفتخر إلا بصليب ربنا يسوع المسيح هذا الذي به قد صُلب العالم لي وأنا صلبت للعالم لأنه في المسيح يسوع ليس الختان شئ ولا الغرلة بل الخليقة الجديدة )</p>
<p>بينما يكشف الكاثوليكون عن مجد الصليب في الميراث السماوي والإيمان الكريم الذي هو أنقي من الذهب والفرح الذي لايُنْطَق به وأمجاد ما بعد الألم وهو موضوع بشارة الأنبياء وشهوة الملائكة</p>
<p>( مبارك الله أبو ربنا يسوع المسيح الذي بكثرة رحمته ولدنا ثانية لرجاء حي بقيامة يسوع المسيح من الأموات للميراث الذي لا يبلي ولا يتدنس ولا يضمحل &#8230; لكي تكون صفوة إيمانكم كريمة أفضل من الذهب الفاني المجرّب بالنار لتوجدوا بفخر ومجد وكرامة عند استعلان يسوع المسيح &#8230; فتهلّلوا بفرح لا يُنْطَق به وممجد &#8230; بواسطة الذين بشروكم بالروح القدس المرسل من السماء التي تشتهي الملائكة أن تطلع عليها )</p>
<p>وفي الإبركسيس عن مجد معرفة المصلوب والشهادة له</p>
<p>(حينئذ امتلأ بطرس من الروح القدس وقال لهم &#8230; وليس بأحد غيره الخلاص ولا اسم آخر تحت السماء قد أُعْطِي للناس الذي به ينبغي أن يخلصوا ولما نظروا مجاهرة بطرس ويوحنا وعلموا أنهما رجلان لا يعرفان الكتابة وأنهما عامّيان فتعجبوا وكانوا يعرفونهما أنهما كان مع يسوع )</p>
<p>أما الأناجيل فتتكلم عن مجد عبادته (عشية) ومجد محبّته ( باكر ) ومجد معرفته ( القداس )</p>
<p>فنري بوضوح في إنجيل عشية مجد عبادته بالروح والحق عبادة العهد الجديد التي يطلبها الله الآب</p>
<p>(ولكن ستأتي ساعة وهي الآن حين الساجدون الحقيقيون يسجدون للآب بالروح والحق لأن الآب أيضاً يطلب مثل هؤلاء الذين يسجدون له )</p>
<p>ونري في إنجيل باكر مجد محبّته التي تسعي لخلاص الكل وتهبهم مجاناً الحياة الأبديّة في صليب الابن</p>
<p>( لأنه هكذا أحب الله العالم حتي أنه بذل ابنه الوحيد لكي لا يهلك كل من يؤمن به بل ينال الحياة الأبديّة )</p>
<p>أمّا إنجيل القداس فيُعْلِن مجد إرادة الآب في خلاص البشر من الهلاك</p>
<p>( كل ما أعطاني الآب فإليّ يقبل ومن يُقبل إليّ فلا أطرحه خارجا &#8230; وهذه هي إرادة من أرسلني أن كل ما أعطاني لا يهلك أحد منه بل أقيمه في اليوم الأخير لأن هذه هي إرادة أبي أن كل من يري الإبن ويؤمن به تكون له حياة أبدية وأنا أقيمه في اليوم الأخير )</p>
<p>كما نري أيضاً مجد معرفته والاستنارة التي يهبها مجانا للذين يقبلون اجتذاب الآب لهم</p>
<p>( لا يستطيع أحد أن يأتي إليّ إن لم يجتذبه إليّ الآب الذي أرسلني وأنا أقيمه في اليوم الأخير فإنه مكتوب في الأنبياء ويكون الجميع متعلمين من الله )</p>
<h3>مُلخّص القراءات</h3>
<p>أعلن الصليب مجد الآب في الخليقة الجديدة                                                   (البولس )</p>
<p>والميراث السماوي والإيمان النقي الثمين                                                       (الكاثوليكون )</p>
<p>والشهادة لقيامته                                                                                   (الإبركسيس )</p>
<p>كما نعيش هذا المجد في العبادة بالروح والحق                                            (إنجيل عشية)</p>
<p>وفي المحبّة الباذلة                                                                                  (إنجيل باكر)</p>
<p>وفي علمه الإلهي المُعْطي لنا                                                                (إنجيل القداس)</p>
<p>لذلك نمجده كل الأيام                                                                            (مزمور القداس)</p>
<p>في الكنيسة المقدسة                                                                             (مزمور عشية )</p>
<p>لأنه رفعنا ووهبنا القوة                                                                               (مزمور باكر)</p>
<h3>أفكار مُقترحة للعظات</h3>
<h3>الصليب ومجد الآب</h3>
<h4>(١) إعلان الصليب مجد الآب</h4>
<p><strong>١- الخليقة الجديدة                                                                         البولس</strong></p>
<p>&#8221; لأنه في المسيح يسوع ليس الختان شئ ولا الغرلة بل الخليقة الجديدة &#8221;</p>
<p>راجع( ٢بط١ : ١-٤) ، (٢ كو ٥ : ١٨،١٧ )( الكل من الله الذي صالحنا لنفسه بيسوع المسيح )</p>
<p><strong>٢- نوال مجد الميراث السماوي بالصليب والقيامة                                        الكاثوليكون</strong></p>
<p>&#8221; الذي بكثرة رحمته ولدنا ثانية لرجاء ٍ حي ٍ بقيامة يسوع المسيح من الاموات للميراث الذي لا يبلي ولا يتدنس ولا يضمحل&#8230; فشهد علي آلام المسيح والأمجاد الآتية بعدها &#8221;</p>
<p>بصليب الرب وقيامته أصبح لنا حق الدخول إلي أورشليم السمائية المدينة التي لها الأساسات</p>
<p>كما يتكلَّم أيضاً الكاثوليكون عن مجد التنقية بالتجارب وإستعلانه في حياتنا ومجد الإيمان به</p>
<p>&#8221; لتوجدوا بفخر ومجد وكرامة عند استعلان يسوع المسيح &#8221;</p>
<p>&#8221; وآمنهم به فتهللوا بفرح لا يُنْطَق به ومُمجَّد &#8221;</p>
<p><strong>٣- مجد معرفته والشهادة له                                                                 الإبركسيس</strong></p>
<p>&#8221; ولما نظروا مجاهرة بطرس ويوحنا وعلموا أنهما رجلان لا يعرفان الكتابة وأنهما عاميَّان فتعجَّبوا وكانوا يعرفونهما أنهما كانا مع يسوع &#8221;</p>
<p>العجيب هو شهادة الكتبة والفريسيين واعترافهم أن سبب مجاهرة بطرس ويوحنا هو فقط معرفتهما بيسوع وهذا يعلن مجد معرفته</p>
<h4>(٢) مجد الصليب</h4>
<p><strong>١-مجد العبادة بالروح والحق                                     إنجيل عشيَّة</strong></p>
<p>&#8221; الساجدون الحقيقيون يسجدون للآب بالروح والحقِّ &#8221;</p>
<p>يُعطي الله التطويب ليس لساجدي المكان والشكل، بل الساجدين بالروح ولا يُقْصَد هنا فقط السجود ولكن كل أشكال العبادة لله فليس شكل العبادة في ذاته يكفي لأنها ليست هدفاً بل وسيلة لتمجيد إسمه القدّوس كقول الرب &#8221; ليس كل من يقول لي (يارب يارب يدخل ملكوت السموات بل الذي يفعل إرادة أبي الذي في السموات – (مت ٢١:٧)</p>
<p><strong>٢- مجد إستعلان محبِّة الله الآب للبشر                          إنجيل باكر</strong></p>
<p>&#8221; لأنه هكذا أحب الله العالم حتي أنه بذل ابنه الوحيد لكي لا يهلك كل من يؤمن به بل ينال الحياة الأبديّة &#8221;</p>
<p>في الصليب أدركنا وما زلنا نحتاج أن ندرك أكثر ونختبر أعمق كم أحبنا الله الآب محبِّة أبدية وأدام لنا الرحمة (أر ٣١:٣) لكي لا نهلك ولكي ما تدركنا أزمنة الخلاص ونعيش زمن الحب (حز ٨:١٦)</p>
<p><b>٣-مجد الغني والشبع والارتواء وقبوله الدائم لنا           إنجيل القدَّاس</b></p>
<p>&#8221; من يأتي إليَّ فلا يجوع ومن يؤمن بي فلا يعطش إلي الأبد &#8230; ومن يقبل إلي فلا أطرحه خارجاً &#8221;</p>
<p>وهذا ما اختبرته السامرية (يو ٤) والمرأة الخاطئة (لو ٧: ٣٦-٥٠) ولاوي العشار (مت ٩:٩) وزكا رئيس العشَّارين (لو ١٩ : ١-١٠)  وبطرس بعد إنكاره (يو ٢١ : ١٥) وتوما بعد شكه (يو ٢٧:٢٠)</p>
<p><strong>٤- مجد معرفة الآب                                               إنجيل القدَّاس </strong></p>
<p>&#8221; ويكون الجميع متعلمين من الله &#8221;</p>
<p>أعظم معرفة هي معرفة كمالات الله وغني محبّته أعظم من أي معرفة بشرية وعالمية</p>
<h4>(٣) ارفعوا الرب إلهنا - يمين الرب رفعتني - أرفعك يا إلهي وملكي &#8230; في كل يوم أباركك وأسبح اسمك</h4>
<p><strong>١-ارفعوا الرب إلهنا                                                     مزمور عشيَّة</strong></p>
<p>عندما نُعطي الكرامة والاهتمام والإجلال لوصيته الإلهية مهما كانت الخسارة فنحن نرفع اسمه في حياتنا</p>
<p>وعندما تكون إرادته فوق كل فكر بشري مهما كان اعتباره</p>
<p>وعندما نسعى لمعرفته وعشرته ونعطيه باكورة أوقاتنا واهتماماتنا نحن نرفع اسمه</p>
<p><strong>٢- يمين الرب رفعتني                                                     مزمور باكر</strong></p>
<p>ولكن يكتشف الإنسان في محبّته وأمانته البسيطة أمام الله أنه ليس هو من يرفع اسم الله بل وصية الله هي التي ترفعه فوق اهتمامات العالم ومخاوفه وشهواته وإغراءاته وأن هذا هو وعده (أكرم الذين يكرمونني –( ١صم ٢ : ٣٠) ، من يضع نفسه يرتفع (لو ١١:١٤ )</p>
<p><strong>٣- أرفعك يا إلهي وملكي &#8230; في كل يوم أباركك وأسبح اسمك        مزمور القدَّاس</strong></p>
<p>وتأتي هنا ثمار تمجيد إسمه القدّوس وتقدير وصيته والأمانة في محبّته أن يختبر الإنسان ملكوت الله علي الأرض والشكر والبركة والتسبيح الدائم</p>

      {% endcreateArticleAccordions %}
    </section>
  {% endblock %}
