---
layout: 'layouts/reading.html'
title: 'اليوم الثاني من شهر توت'
permalink: annual/1-2.html
---
  {% block content %}
    <section id="readings">
      <ul>
      {% if '19.52:8,9' != 'null' %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">العشية</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeVespers '19.52:8,9' '40.14:1-12' %}
          </div>
        </div>
      </li>
      {% endif %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">باكر</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeMatins '19.92:10,14,15' '42.9:7-12' '' %}
          </div>
        </div>
      </li>
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <h3 class="flex items-center justify-between">
            <span class="kufi">القداس</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </h3>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeLitugy '58.11:32-40*@+58.12:1-2' '59.5:9-20' '44.12:1-12' '19.92:12-13' '41.6:14-29' %}
          </div>
        </div>
      </li>
        </ul>
    </section>
    <section id="article">
      <h3 class="mt-8 mb-4 heading-explain">شرح القراءات</h3>
      {% createArticleAccordions firstName, lastName %}
        <p>(صوت صارخ في البرية: أعدوا طريق الرب. قوموا في القفر سبيلا لإلهنا &#8220;(أش ٣:٤٠</p>
<p>أنت أفضل من نبي: تعاليت في البر: أنت هو صديق الختن: حمل الله.</p>
<p>ذكصولوجية يوحنا المعمدان</p>
<p>نعم وأعظم من نبي، إذ به ينتهي عصر الأنبياء. وهو أعظم من نبي، لأن كثيرين اشتهوا أن يروا (مت ١٣: ٧) ذاك الذي تنبَّأ عنه يوحنا وعاينه وعمده&#8230; إنه أعظم من الذين تساوي معهم في الميلاد، أما طبيعة الرب فمغايرة ولا تقارَن بميلاد بشري، ولا وجه للمقارنة بين الإنسان والله<a href="#_ftn1" name="_ftnref1">[1]</a></p>
<h3>شواهد القراءات</h3>
<p>(مز ٥١: ٧) ، (مت ١٤ : ١ – ١٢) ، (مز ٩١ : ٨ )، (لو ٩ : ٧ – ١٢)، (عب ١١ : ٣٢ &#8211; ١٢ : ١- ٢) ، (يع ٥ : ٩ – ٢٠)، (أع ١٢ : ١ – ١٢) ، (مز ٩١ : ١٠ ، ١١) ، (مر ٦ : ١٤ – ٢٩)</p>
<h3>ملاحظات على قراءات يوم ٢ توت</h3>
<p>+ قراءة اليوم هي إحدي القراءات الثلاثة الخاصة بيوحنا المعمدان في قراءات الأيام ( ٢ توت ، ٢ بؤونه ، ٣٠ بؤونه )</p>
<p>+ تتركَّز قراءات اليوم (٢ توت) علي شهادة يوحنا المعمدان وطريقة إستشهاده ، وتُعْلِن قراءة ٢  بؤونه حياته القوية ، وقراءة ٣٠ بؤونه ميلاده</p>
<p>+ يري البعض أن توقيت إستشهاد يوحنا كان وقت إرسالية الرب يسوع لتلاميذه الإثني عشر (مر ٦ : ٧ &#8211; ١٣) &#8211; كتاب كنوز النعمة للأرشيدياكون بانوب عبده من توت الي هاتور  ص ١٤٠</p>
<p>+ تتشابه قراءة اليوم مع قراءة ٣٠ بؤونه في المزامير الثلاثة والبولس</p>
<p>+ جزء من مزمور عشيَّة اليوم ( أتمسَّك باسمك فإنَّه صالح : قدام أبرارك ) جاء أيضاً في قراءة عشيَّة الأحد الثالث من شهر أبيب كإشارة إلي الأبرار مثل يوحنا المعمدان</p>
<p>+ تكرَّر جزء من قراءة إنجيل عشيّة لهذا اليوم (مت ١٤: ١ &#8211; ١٢) في قراءة إنجيل باكر ليوم ٣٠ مسري (مت ١٤: ١ &#8211; ٥) الموافق تذكار ملاخي النبي</p>
<p>وهو الجزء الذي يحكي إستشهاد يوحنا المعمدان ، ويأتي الفصل كلّه في عشيّة ٢ توت ( تذكار شهادة يوحنا المعمدان ) ، بينما تقف قراءة باكر ٣٠ مسري عند مكانة يوحنا عند الشعب مثل أنبياء وآباء العهد القديم</p>
<p>+ تأتي قراءة البولس لهذا اليوم (عب ١١: ٣٢ &#8211; ١٢: ١ &#8211; ٢) أيضاً في قراءات ١٠ بشنس ، ١٦ بؤونه ، ٣٠ بؤونه</p>
<p>ومجئ هذه القراءة اليوم (٢ توت) ، ويوم ٣٠ بؤونه للإشارة إلي شهادة يوحنا ( ثم في قيود أيضاً وحبس .. وماتوا بقتل السيف )</p>
<p>أمَّا مجيئها في يوم ١٠ بشنس (نياحة الثلاثة فتية القديسين حنانيا وعزاريا وميصائيل) فهو للإشارة إلي إيمانهم الذي أطفأ النار  ( الذين بالايمان قُهِروا ممالك وعملوا البرَّ ونالوا المواعيد وسدُّوا أفواه أسود وأخمدوا قوّة النار )</p>
<p>ومجيئها في قراءات يوم ١٦ بؤونه (نياحة القديس ابو نوفر ) للإشارة إلي نسكه الشديد وحياته في القفار ( وطافوا في فراء وجلود معزي &#8230; تائهين في القفار والجبال والمغاير وشقوق الأرض )</p>
<p>+ قراءة الكاثوليكون لهذا اليوم (يع ٥: ٩ &#8211; ٢٠) تكرَّرت ثلاث مرات ( ٢٢ طوبه ، ١٦ بؤونه ) ، والأحد الرابع من بؤونه ، بالإضافة إلي مجئ جزء منها في قراءات يوم ٢٥ مسري (يع ٥ : ٩ &#8211; ١٢) ، يوم ٦ نسئ (يع ٥ : ١٦ &#8211; ٢٠)</p>
<p>مجئ القراءة في هذا اليوم (٢ توت) ليُشير إلي &#8221; الأنبياء الذين تكلموا بإسم الرب &#8221;</p>
<p>ومجيئها في يوم ٢٢ طوبه (الأنبا أنطونيوس) ، ١٦ بؤونه ( أبا نوفر السائح ) للإشارة إلي &#8221; وصلاة البار فيها قوة عظيمة فعالة &#8221;</p>
<p>ورُبَّما مجيئها في يوم ٢٥ مسري ( أنبا بيصاريون الكبير ) إشارة إلي&#8221; خذوا لكم يا إخوتي مثال إحتمال المشقات &#8221;</p>
<p>ومجيئها في الأحد الرابع من بؤونه للإشارة إلي فاعلية الصلاة والرحمة بالآخرين</p>
<p>ومجئ جزء منها يوم ٦ نسئ للإشارة إلي رقم ٦ ( ثلاث سنين وستة أشهر ) موضوع قراءات ذلك اليوم والذي يشير إلي نقص البشر وكمالات المسيح ( وهو المشروح بتفصيل في قراءة ذلك اليوم )</p>
<p>+ قراءة الإبركسيس لهذا اليوم (أع ١٢ : ١ &#8211; ١٢) تُشبه قراءة الإبركسيس (أع ١٢ : ١ &#8211; ٢٤) ليوم ٢٩ هاتور وهو الموافق لتذكار الأنبا بطرس بابا الإسكندرية</p>
<p>مجئ القراءة اليوم للإشارة للذين قُتلوا بالسيف من هيرودس الملك مثل يعقوب بن زبدي ويوحنا المعمدان ، ومجيئها يوم ٢٩ هاتور للتوافق بين نهاية هيرودس الملك ونهاية شرُّه بعد نجاة القديس بطرس وبين نهاية عصر الشهداء بعد شهادة البابا بطرس</p>
<p>+ أضاف السنكسار في تذكار اليوم أيضاً شهادة داسيه الجندي</p>
<h3>شرح القراءات</h3>
<p>قراءات اليوم تتكلّم عن الشاهد للحق وشهيد كلمة الحق الذي قال لملك &#8221; لا يحل لك &#8221; ووبّخ القادة من الكتبة والفريسيين لعدم توبتهم &#8221; من أراكم أن تهربوا من الغضب الآتي &#8221;</p>
<p>وهو أيضاً أعظم مواليد النساء والسابق الصابغ الذي أعد الطريق للسيد الرب وهَيِّئ له شعباً مستعداً</p>
<p>لذلك تُجَسّد لنا القراءات شخصية يوحنا المعمدان وترسم أمامنا أيقونة حياته وشهادته بالدم وكيف قبل السجن والألم عن أن يتنازل عن الوصيّة وكيف واجه إنحراف ملك بقوّة وثبات حتى نهاية حياته</p>
<p>لذلك تقدم المزامير يوحنا في أثمار خدمته (مزمور عشية) وفِي قوة ورباطة جأشه (مزمور باكر) وعلو وسمو حياته وشهادته (مزمور القداس)</p>
<p>لذلك فهو شجرة زيتون مثمرة (مزمور عشية) وقرن وحيد القرن (مزمور باكر) ونخلة مثل أرز لبنان (مزمور القداس )</p>
<p>فيقدّم مزمور عشية حياته المثمرة</p>
<p>( وأنا مثل الزيتون المثمرة في بيت الله أتمسك باسمك فإنه صالح قدّام أبرارك )</p>
<p>وفِي مزمور باكر قوة حياته وشهادته</p>
<p>( ويرتفع قرني مثل وحيد القرن وشيخوختي في دهن دسم ويكونون بما هم مستريحون يخبرون بأن الرب إلهنا مستقيم )</p>
<p>وفِي مزمور القداس سموّ مكانته وعلوّ شأنه</p>
<p>( الصديق كالنخلة يزهو وكمثل أرز لبنان ينمو مغروسين في بيت الرب وفِي ديار بيت إلهنا زاهرين )</p>
<p>وتُعلن قراءات البولس والكاثوليكون والإبركسيس قوّة شهادة رجال الله في حياتهم في جهادهم وصلواتهم وفِي قبول الآلام حتي الموت</p>
<p>فيتكلّم البولس عن رجال الله الأنبياء وقوّة إيمانهم وحياتهم وكيف صاروا لنا مثالاً بل وسحابة شهود محيطة بنا لكي نسعي في طريق جهادهم ناظرين إلي مصدر كل إيمان وقوّة وكمال يسوع المصلوب لأجل خلاصنا</p>
<p>( والأنبياء الأخر الذين بالإيمان قهروا ممالك وعملوا البرّ ونالوا المواعيد وسدّوا أفواه أسود &#8230; من أجل هذا نحن أيضاً الذين لنا سحابة شهداء هذا مقدارها محيطة بنا فلنطرح عنا كل تكبر &#8230; وبالصبر فلنسعى في الجهاد الموضوع لنا وننظر إلي رئيس الإيمان والكمال يسوع )</p>
<p>أما الكاثوليكون فيدعو إلي طول الأناة والصبر في إحتمال المشقات كما ظهر مثالها في حياة الأنبياء</p>
<p>( خذوا لكم يا إخوتي مثال إحتمال المشقات وطول أناة الأنبياء الذين تكلموا باسم الرب ها نحن نغبط الذين صبروا لأنكم سمعتم بصبر أيّوب وعاقبة الرب قد رأيتموها لأن الرب هو عظيم الرأفة جدا وهو طويل الأناة )</p>
<p>كما يضيف إلي الصبر عِظَم صلاة الأبرار ودالتها عند الله وقوّة خدمتهم التي ترد كثيرين عن طريق الضلال كما أعلنت حياة يوحنا المعمدان وخدمته</p>
<p>( وصلاة البار فيها قوة عظيمة فعالة &#8230; ياإخوتي إذا ضَل واحد منكم عن سبيل الحق ورده واحد فليعلم أن من يرد الخاطئ عن طريق ضلالته فإنه يخلّص نفساً من الموت ويستر عن خطايا كثيرة )</p>
<p>بينما يوضح الإبركسيس هياج العالم علي رجال الله وعلي الكنيسة ومواجهه الكنيسة الضيقة بالشهادة لإلهها حتي الدم والصلاة بلجاجة بروح واحد وتدبير الله في إظهار مجده وتدخّله شخصيا لنجاة أولاده</p>
<p>( وفِي ذلك الوقت رفع هيرودس يده علي قوم من الكنيسة ليسئ إليهم فقتل يعقوب أخا يوحنا بالسيف فلما رأي أن الأمر يرضي اليهود عاد ليقبض علي بطرس أيضاً &#8230; وكانت الكنائس تصلي إلي الله من أجله بلجاجة &#8230; وإذا ملاك الرب أقبل ونور أضاء في البيت )</p>
<p>وهيرودس الملك هنا أيضاً هو حديث الأناجيل والذي أصدر أمر بقتل يوحنا المعمدان لذلك إنقلبت حياته للحزن والكآبة وصار إحساسه بصوت يوحنا المعمدان وتوبيخه له يطارده حتي بعد ما قطع رأسه (فحزن الملك &#8211; إنجيل عشية ) ، ( فكان حزين القلب &#8211; إنجيل باكر ) ، ( فحزن قلب الملك &#8211; إنجيل القداس )</p>
<p>وتُظْهِر الأناجيل عِظَم شهادة يوحنا المعمدان حتي بعد إستشهادة صوتاً مُؤرِّقاً ومُبَكّتاً لهيرودس الملك</p>
<p>ويكشف إنجيل عشية عن إعتقاد هيرودس الملك عندما سمع عن أعمال المسيح له المجد بأن يوحنا المعمدان قد قام من الأموات وليس هذا فقط، بل أيضاً هو الذي يعمل المعجزات والعجيب والغريب أن إعتقاده هذا لم يقوده إلي التوبة والإيمان برسالة يوحنا ورسالة الرب يسوع</p>
<p>( وفِي ذلك الزمن سمع هيرودس رئيس الربع خبر يسوع فقال لفتيانه هذا هو يوحنا الصابغ فإنه قام من الأموات ومن أجل هذا تُعْمل به القوات )</p>
<p>وأيضاً في إنجيل القداس</p>
<p>( ولما سمع هيرودس قال إن يوحنا الذي أنا قطعت عنقه هو الذي قام )</p>
<p>وفِي إنجيل باكر نري هيرودس الملك يطلب أن يري يسوع ليس لأجل خلاصه مثل زَكَّا العشار ولكن لأجل أن يري معجزات وآيات</p>
<p>( فقال هيرودس يوحنا أنا قطعت عنقه فمن هو هذا الذي أسمع عنه مثل هذا وكان يطلب أن يراه )</p>
<p>لكن يظهر واضحاً أيضاً في إنجيل القداس مهابة يوحنا المعمدان أمام الملوك وخوف الملك من أسير مثل إرتعاب فيلكس الوالي من الأسير بولس</p>
<p>( لأن هيرودس كان يخاف من يوحنا عالماً أنه رجل بار وقديس وكان يحفظه )</p>
<h3>مُلخّص القراءات</h3>
<p>يوحنا المعمدان هو مثل الزيتون في أثمار خدمته ومثل قرن وحيد القوة في صلابة عزيمته ومثل النخلة وأرز لبنان في علو وسمو رسالته (مزمور عشية وباكر والقدّاس )</p>
<p>وهو مثل أنبياء العهد القديم في قوة الإيمان وصبر التجارب ودالة الصلاة ورد الكثيرين لطريق الحق ( البولس والكاثوليكون )</p>
<p>ماعدا قساة القلوب مثل هيرودس الملك الذي عاد وقتل يعقوب الرسول بالسيف ( الإبركسيس )</p>
<p>ولم تقوده كرازة يوحنا المعمدان للتوبة ورغم خوفه من يوحنا ومعرفته بقداسته إلا أن عناده أهلكه ( إنجيل عشية وباكر والقدّاس )</p>
<h3>أفكار مُقترحة لعظات</h3>
<h4>(١) تشبيهات (أيقونة يوحنا المعمدان )</h4>
<p>في قراءات اليوم توجد تشبيهات مختلفة ترسم لنا معاً أيقونة يوحنا المعمدان</p>
<p>١-( شجرة )</p>
<p>الزيتون المثمرة في بيت الله                 مزمور عشيَّة</p>
<p>ويشرح في المزمور معني الزيتون المثمر التمسُّك بإسم الله حتي المنتهي والشهادة له</p>
<p>٢- ( قرن وحيد القرن )</p>
<p>ويرتفع قرني مثل وحيد القرن                           مزمور باكر</p>
<p>نري في هذا التشبيه القوَّة والغلبة التي تُعطي الراحة ( ويكونون بما هم مُستريحون )</p>
<p>٣- ( النخلة )</p>
<p>الصديق كالنخلة يزهو                                    مزمور القدَّاس</p>
<p>مخافة الله فيه وتقواه تجعله ظاهراً أمام الكل وقدوة للجميع</p>
<p>٤- ( أرز لبنان )</p>
<p>وكمثل أرز لبنان ينمو                                    مزمور القدَّاس</p>
<p>يشرح تكملة المزمور أن نمو أرز لبنان وزهو النخلة يرتبط بالوجود الدائم في بيت الله وفِي العبادة</p>
<h4>(٢) القوَّة في حياة القديسي</h4>
<p>١- قوَّة الإيمان                                               البولس</p>
<p>يشرح البولس قوَّة إيمان القديسين الذين قهروا ممالك وعملوا البرّ ونالوا المواعيد وسدوا أفواه الأسود وأخمدوا قوة النار ونجوا من حد السيف وتقووا في الضعف</p>
<p>٢- قوَّة الصلاة                                              الكاثوليكون</p>
<p>يشرح هنا قوَّة صلاة إيليا رغم ضعفه البشري ( تحت الآلام &#8211; الضعف &#8211; مثلنا ) التي أغلقت السماء ثلاث سنين وستة أشهر ثم صلي أيضاً فأعطت السماء المطر والأرض أنبتت ثمرها</p>
<p>٣- قوَّة الشركة                                              الإبركسيس</p>
<p>تتجلَّي هنا عظمة وفاعلية شركة الكنيسة والصلاة بروح واحد لله التي أنقذت القديس بطرس من الموت</p>
<p>&#8221; وكانت الكنائس تُصلِّي إلي الله من أجله بلجاجة &#8221;</p>
<p>٣- من هو يوحنا</p>
<p>١- الصابغ والنبي                                              إنجيل عشيَّة</p>
<p>دُعي الصابغ لأنه كان المعمدان والمعمودية صبغة ودُعي النبي لأنه تكلَّم عن الخلاص المزمع أن يكون وعن حمل الله الذي يحمل خطيّة العالم</p>
<p>٢- تُعمل به القوات                                              إنجيل باكر</p>
<p>قوَّة كرازة وخدمة يوحنا المعمدان جعلت الكل يهابه حتي الملك</p>
<p>٣- البار والقديس                                                 إنجيل القدَّاس</p>
<p>للأسف رغم أن هيرودس الملك كان يعرف ذلك لكن لم تقوده هذه المعرفة للتوبة والرجوع</p>
<h4>( ٤ ) عطايا الله لأولاده</h4>
<p>(ويرتفع قرني مثل وحيد القرن وشيخوختي في دهن دسم ويكونون بما هم مستريحون يخبرون بأن الرب إلهنا مستقيم ) مزمور باكر</p>
<p>القوة الإلهية التي نواجه بها الحياة وضيقاتها …. &#8221; ويرتفع قرني مثل وحيد القرن &#8220;١-</p>
<p>٢- الشبع والكفاية والغني الداخلي من النعمة والفرح والسلام …. وشيخوختي في دهن دسم</p>
<p>٣- الراحة الكاملة في العشرة مع الله …. ويكونون بما هم مستريحون</p>
<p>٤- إختبار الإنسان لمجد خطة الله في حياته وغياب الشعور بالظلم أو النقص …. يخبرون بأن الرب إلهنا مستقيم</p>
<h3>عظات آبائية</h3>
<h4>القديس كيرلس الأسكندري:  شخصية يوحنا المعمدان في فكر القديس كيرلس الكبير</h4>
<p>دُهش الناس لما رأوا من الجلال الرائع في عيشة يوحنا الهادئة، عظمة أخلاق وسِمو تقوى وصلاح، فقد هال الشعب اليهودي سِمو يوحنا ورُقيِّه في عيشته وتعاليمه، حتى ظنَّوا أنه لا بُد وأن يكون المسيح الذي أشار إليه الناموس بمختلف الرموز، ووصفه كثير من الأنبياء والرسل، إلا أن يوحنا سرعان ما لاحظ ظنونهم حتى وقف يبدِّدها بحزمٍ وعزمٍ، فأعلن في غير لبس أنه ما هو إلا خادم لسيِّده، وأن المجد والكرامة والسجود والعظمة لا تليق إلا بالمسيح الذي اسمه يفوق كل اسم.</p>
<p>عَلَم يوحنا أن المسيح أمين لكل من يخدمه، فما على الخادم إلاّ أن يعلن الحق والصدق، إذ الفرق شاسع بين الخادم وسيِّده، أي بين يوحنا والمسيح ولذلك يقول: &#8220;أنتم أنفسكم تشهدون لي أني قلت لست أنا المسيح بل أني مرسل أمامه&#8221; (يو ٣: ٢٨)، فحقًا أن يوحنا عظيم في رسالته وعظيم في شهادته، فقد كان رائع الجلال ككوكب الصباح الذي يعلن شروق الشمس من وراء الأفق.</p>
<p>أراد يوحنا أن يثبت للملأ أنه دون سيِّده مرتبة ومقامًا، فقال: &#8220;أنا أعمِّدكم بماء، ولكن يأتي من هو أقوى منِّي الذي لست أهلًا أن أحل سيور حذائه&#8221; (يو ٣: ١٦).</p>
<p>حقًا أن الفرق شاسع بين المسيح ويوحنا، بل لا تصح المقارنة بينهما، ولذلك صدَق المعمدان المغبوط رغمًا عن سِمو فضيلته وكريم خلقه بأنه &#8220;غير أهل لأن يحل سِيور حذائه&#8221;، لأنه إذا كانت القوَّات السمائيّة والعروش والسيرافيم المقدَّسة تقف حول عرش المسيح الإلهي مقدِّمة له المجد والتسبيح، فمن ذا الذي يستطيع من سكان الأرض أن يقترب من الله؟! نعم يحب الله الإنسان فهو رؤوف به رحوم عليه، ولكن يجب ألا ننكر بأي حال من الأحوال بأننا لا شيء بالنسبة له فنحن بشر ضعفاء جهلاء<a href="#_ftn2" name="_ftnref2">[2]</a></p>
<h4>القديس يعقوب السروجي: شخصية يوحنا المعمدان وشهادته عند القديس يعقوب السروجي</h4>
<p>أرسل الملك وقطع رأس ذلك الكارز ، وأتي به علي طبق ، وأعطاه للشابة لتأخذه لأمها</p>
<p>لم يخف أولئك الدنسون أبناء جهنم ، وهم ينظرون إلي رأس رجلٍ عفيف مقطوع .</p>
<p>لم يرتجفوا ولم تسقط الكؤوس من أيديهم بعد أن شاهدوا دم ذلك الكريم مسكوباً .</p>
<p>لم يوجد بينهم واحد يخالف الواجب ليبكي بسبب الجريمة العظمي التي حدثت هناك .</p>
<p>لم يرتعب قلب الملك الحقير الذي رأي فم ذلك المعلم مسدوداً بدمه الطاهر .</p>
<p>لعل الزانية ضحكت ضحكاً وهي تحتقر البهي المقتول وتعيّره .</p>
<p>وابتهجت أمام بنتها وغنّت ، لأنها دخلت ورقصت وأخذت وخرجت كما علّمتها .</p>
<p>قالت لابنتها : هلمي نفرح بالفم المغلق بالدم والصامت ، سوف لا نسمع منه الإهانة.</p>
<p>هذا جعلنا أضحوكة في بلد الجليلين ، ورجمنا بالشتائم كما لو كان بالحجارة .</p>
<p>هذا الفم كان ينفث فينا النار كل يوم ، ويخيفنا لئلا ندخل إلي بيت الملك .</p>
<p>هذا أرهب الملك كثيراً بالظلمة وبجهنم حتي لا يقترب مني لو سمعه .</p>
<p>هذا جعلني مثلاً في فم العبرانيات ، تتحدثن عني كما لو كان عن خبر العاهرات .</p>
<p>ليسكت الآن ، لأنه لم يرد أن يصمت عنا، فجعلته يسكت بدون إرادته ، وسوف لن يهيننا بعد .</p>
<p>عمل شرير لرجل عادل ( أي يوحنا المعمدان ) من قبل الأثمة (أي هيروديا وابنتها وهيرودس) ، قتيل مظلوم بالمحاباة من قبل المجرمين .</p>
<p>منظر مريع ، بتول مقتول من قبل الزانية ، وخوف عظيم : كاهن مذبوح دون أن يذنب.</p>
<p>سراج ذهبي مملوء بزيت القداسة ، وبدل الريح نفخت الشابة وأطفأت .</p>
<p>زيتون ممجد نبت علي جدول المعمودية ، وقطعه الملاعين لئلا يدهن زيته الرأس .</p>
<p>صوت كرز بملكوت الله ، وقد نبحه الإثم وأسكته لئلا يتكلم .</p>
<p>مزمار مملوء أنغاماً وغني الألحان ، وقد حسده الصم وكسروه لئلا يزمر .</p>
<p>كان قيثارة تطرد الشياطين من الإنسانية ، ولئلا يخرج شيطانها دمرتها هيروديا .</p>
<p>كان بوقارٍ يكرز بالقداسة علي الأرض ، ولم يرضِ صوته الزانية فأبطلته .</p>
<p>كان كنّارة (آلة موسيقية) توقظ الشعوب للتوبة ، ولئلا يتوبوا أسكته جهال آل هيرودس .</p>
<p>كان شجرة تحمل ثمار الإيمان ، فاستأصله الأشرار لئلا يأكل أحد من ثماره .</p>
<p>صديق العروس الذي خطبها وأعطاها للختن الملك ، قطعوا رأسه لئلا يدخل إلي الوليمة .</p>
<p>كان موته متميزا عن بقية الميتات بالنسبة إلي من يتأمل فيه، كما كان الحَبَل به في البطن متميزاً عن الحَبَل بالآخرين.</p>
<p>الحبل به بالرقص، وموته بالرقص، وقصته بعجب: نهاية ابن اللاويين صارت كبدايته.</p>
<p>رقص في بطن العجوز أمام ربه، وإذ كانت الشابة تتمايل بالرقص أوقعته لكي يموت.</p>
<p>العجوز بدأت والشابة أنهت مسيرة دربه، وموته معروف من قبل كل العالم لكونه محبوبا&#8230;</p>
<p>لما ظنوا بأنهم يهينونه، أكرموه كثيرا وأتي علي طبق كهدية في عيدٍ عظيم.</p>
<p>بمناسبة ميلاد الملك حملوه علي أيديهم، وكان يُزَّفْ كطوق ذهبي مختار.</p>
<p>كان هذا يمده إلي ذاك، وهم ينظرون إليه ويحافظون عليه كما لو كان منظر لؤلؤة.</p>
<p>كان عيدا لم يوجد أعظم منه للملك، وفي ذلك اليوم زَفّوه في احتفالاتهم.</p>
<p>قُدِّمَ رأسه الذي لا يُدرَك جماله علي طبق أمام المدعوين مثل تفاح الذهب.</p>
<p>وَردٌ نبت في قفر اليهودية، جلبه الملك في يوم عيده، ووضعه علي طبق ودخل إلي الوليمة.</p>
<p>عنقود حلو عصروه في طبق الملك، وهوذا كل الخليقة تتنعم بطعمه الحلو.</p>
<p>محب الخَتَنْ، وصديق العروس. ومُعَمِد ربه، ومعلم الحياة، وكارز الحق، والكاهن العظيم.</p>
<p>والبتول البهي، ورجل الشهرة، والحاذق في الأنبياء، والمختلط في الرسل، وسامع الآب، وماسك الابن.</p>
<p>ورائي الروح، ومتعلم الأسرار، وموبخ الملوك، والقصر الطاهر، والمبخرة المختارة، والرائحة الحلوة.</p>
<p>وعدو الأشرار، وموقظ التائبين، ورفيق القديسين، والمضطهد من قبل الإثم، والمسجون بالغيرة، والقتيل بالحسد.</p>
<p>لا يوجد آخر أعظم منه بين المولودين، مبارك الكلمة الذي جعله صوتا وأرسله أمامه<a href="#_ftn3" name="_ftnref3">[3]</a>.</p>
<h4>القديس غريغوريوس النيسي: شمس البر يشرق في نفوس قديسيه</h4>
<p>مرة أخرى ياأخوتى ، أعطيت لنا الفرصه ، أن نتمتع بالخيرات ، بإشراق يوم أحد القيامة ، بالإضافه الى تذكار الشهداء . لأنه في هذا اليوم غمر نور مجد إنجيل المسيح ، أذهاننا ، والذى بحسبه ، إنبثقت أشعة البر الخلاصية مثل الزهور ، وتلاشى ظلام الجحود والكفر ، وانار النفوس بمعرفة الحق . وأترجاج أن تنتبه لعظمة الأحسان العجيب ، فشمسنا المحسوسة ، ترسل أشعتها باكراً مخبرة بقدوم النهار ، وبنور هذه الأشعة تغطى وتحتضن كل المسكونة بإشراقها لكنها تخفى الأماكن الخاصة بالنجوم وما يرتبط بها ، حتى أنها وحدها هي التي تظهر في الأفق ، تحت قبة السماء . أما ربنا يسوع المسيح عندما أشرق من السماء لأجلنا . بحسب النبوة التي تكلمت عنه : &#8221; المشرق من العلاء . ليضئ على الجالسين في الظلمة  وظلال الموت ، لكى يهدى أقدمنا في طريق السلام &#8221; ، ليس فقط لم يخف القديسين الذين أشرقوا ببهاء قبل مجييئه ، مشابهين للنجوم ، وصاروا سابقين له ، بل أيضاً جعلهم أكثر بهاءً ، وجعل نجوم أخرى ( أي قدسون أخرون ) ، يضيئون معه بالحقيقة قد أضاء أنبياء بعد مجيئه ، أي اكثر من الوقت الذى سبق المجئ . لأنه بينما كانت النبوة بعد ، غامضة ، فإنه بعدما أتى مخلصنا الى العالم ، أناركل الأنبياء وأستعلن لهم ، وهكذا تم كمال الناموس والأنبياء &#8221; ما جئت لأنقض الناموس أو الأنبياء بل لأكمل &#8221; الآن في عصر النعمة الجديد ، قال مخلصنا عن نفسه &#8221; أنا هو نور العالم&#8221; ، عندئذ رأى أنه من اللائق بنبع الصلاح الذى خرج من عند الآب الصالح ، أن ينقل الأسم لأولئك الذين كانوا عبيداً ، لكنه قال لتلاميذه : &#8221; أنتم نورالعالم &#8221; ، وأيضاً &#8221; فليضئ نوركم هكذا قدام الناس &#8221; ، الشئ العظيم الذى به نستطيع أن نؤكد على هذه الأمور التي ذكرتها هذا ما سنعرضه بنعمة الله .</p>
<p>وهو المتعلق بيوحنا المعمدان ، الذى دعى سراجاً ، وأخبر عنه في سفر المزامير ، وشهد له من قبل الرب . وقد تحدث النبى نيابة عن الآب ، قائلاً : &#8221; رتبت سراجاً لمسيحى &#8221; أي أعددت خادماً ، وسابقاً للنور. والرب أيضاً قد أكد على صوت الآب ، إذ يقول : &#8221; كان هو السراج الموقد المنير &#8221; . لكن ذاك الذى كان سراجاً ، ليس لم يخفت نوره أبداً ، بسبب مجئ الرب الذى هو شمس البر ، لكنه أضاء أكثر ، وصار المعمدان مبشراً بالمخلص . إذاً ، فنظراً لأن يوحنا المعمدان قد أنار أمة واحدة فقط ، وهى إسرائيل فقد دعى سراجاً . لكن رسل  المخلص ، لم يدعون سراجاً ، ولا نجوماً ، بل دعيوا منارات ، لأنهم لم يضيئوا في منطقة ما فقط ، ولا في زاوية معينة من الأرض بل أشرقوا بالنور في كل المسكونة . إن الأوائل من بين القمم هم بطرس ويعقوب ويوحنا ، والذين نكرمهم اليوم ، لأجل شهادتهم للمسيح ، وقد جاهدوا معا حتى نهاية حياتهم ، لكنهم جاهدوا بطرق مختلفة ، لأعلان هذه الشهادة وقبول الإستشهاد<a href="#_ftn4" name="_ftnref4">[4]</a> .</p>
<h3>عظات آباء وخدام معاصرين</h3>
<h4> المتنيح الأنبا أثناسيوس مطران بني سويف والبهنسا: الخطية تطارد فاعلها (مت ١٤:۱-۱۲)</h4>
<p>ما أحلى الاعتراف بالخطية وتركها، أما الاحتفاظ بها فمصدر قلق دائم . &#8221; من يكتم خطاياه لا ينجح ومن يقر بها ويتركها يرحم &#8221; (أم ٢٨: ١٣) كان هيرودس انتيباس رئيس ريع في الجليل وهو الذي أخذ هيروديا أمرأة فيلبس أخيه : كما أنه هو الذي سماه السيد المسيح ثعلبا، الذي اشترك في محاكمة الرب ، وكان في بادیء الأمر يحترم يوحنا ويحب أن يسمعه . &#8221; لأن هيرودس كان يهاب يوحنا عالما أنه رجل بار وقديس وكان يحفظه، واذ سمعه فعل كثيرا ، وسمعه بسرور &#8221; (مر ٦ : ٢٠) غير أنه انساق وراء شهواته فكسر الشريعة وأخذ هيروديا ، ثم تورط في تلك الليلة التي رقصت فيها ابنتها فقتل يوحنا ، ثم طلب أن يقتل الرب بعد ذلك (لو ۱۳ : ۳۱) ، ثم اضطهد الكنيسة فقتل يعقوب أخا يوحنا (أع ۲:۱۲) وتمادي حتى قبل من الناس صرخة التملق الكاذبة &#8221; هذا صوت اله لا صوت انسان ، ولم يعط المجد لله فضربه ملاك الرب فصار يأكله الدود ومات » (أع ۱۲ : ۲۲ ، ۲۳).</p>
<p>ومن الغريب أنه يصم أذنه عن سماع تنبيه يوحنا حين كان يوحنا حيا ، ولكن صورة يوحنا تلاحقه بعد أن مات . فنحن لا يمكننا أن نهرب من صوت الله ، والأفضل لنا أن نطيعه على الدوام.</p>
<p>ومن الغريب أن ملكا كهذا تلعب به الشهوة فيتقدم بعرضه مندفعا حتى الى نصف المملكة ، وحقا قال الحكيم &#8220;مالك نفسة خير من مالك مدينة &#8221; (أم ١٦ : ۳۳).</p>
<p>كانت الشريعة تجيز للإنسان أن يأخذ زوجة أخيه أن مات بلا نسل ، ولكن أخاه كان حيا ، وكانت له ابنة ، ولكن هيرودس كان انسانا سهل التورط . والتورط فخ خطير ، فالاختلاط في هذه الأيام يوقع الناس في تورطات وحينئذ ينجرفون . ولكن التورط لا يأتي الا نتيجة الاستسلام للدالة . والدالة تفقد الطهارة .</p>
<p>فالدالة أسقطت هيرودس وأسقطت داود لأنه تساهل مع عينه وفكره . بينما كان موقف يوسف في بيت فوطيفار مخالفا تماما .</p>
<p>فكان عمله يفرض عليه الاختلاط، ولكنه لم يقم دالة بين عينيه وأحد من الناس ، ولم يختلط بقلبه مع أي امرأة . فلما يئست من أن تستثيره رتبت أن تقتنصه قسرا ولكنها عجزت ، وفضل السجن على ارتكاب الخطية . فلأنه كان متحفظا ، لم يتورط •</p>
<p>ونحن كثيرا ما نشبه هيرودس ، أن نسير وراء شهواتنا فنتصرف بتصرفات غير لائقة ، حتي المتزوجون كثيرا ما يتصرفون في البيوت تصرفات لا تليق جرياً وراء شهواتهم .حقاً ان الكتاب قال : &#8221; أن الزواج افضل من التحرق&#8221; (١كو ٧ : ٩) ولكن الزواج المسيحی رباط روحی، وعلى المتزوجين ، أن يقيموا صلواتهم بانتظام ويدرسوا الكتاب المقدس ، ويعلموا أن الأكليل جعلهما وحدة مقدسة ، ويسلكون برزانة واعتدال .</p>
<p>أما غير المتزوجين ، فالدالة خطيرة جدا عليهم والسبيل الأساسي للنجاة من خطية الجسد هو الهروب والعشرة مع الاتقياء &#8221; أما الشهوات الشبابية فاهرب منها ، واتبع البر والأيمان والمحبة والسلام مع الذين يدعون الرب من قلب نقي &#8221; (٢تي ۲ : ٢٢).</p>
<p>ومن الغريب أن هيرودس يتمسك بالمظهر &#8221; الأقسام والمتكئين معة ويرتكب القتل ، وكان أحرى به أن يقول للصبية انه قصد أن تطلب مالا وليس رقاب الناس ، ولكنها الشهوة والاستهتار على أن الضمير لن يهدأ وسيظل يطارده .لا يضير يوحنا المعمدان أنه استشهد من أجل الحق لأنه هو المثال والقدرة علي مر الدهور وليس هيرودس .</p>
<p>وعلينا أن نلتفت لنوع المجالس التي نجلسها فهيرودس کان ملكا وكان يقدر يوحنا ، ولكن مجلسه كان مجلس شر، امتلأ بالسكر والرقص والدنس ، فورطة في أشنع الخطايا . والانسان اذا استعبد للشهوة افترسه الذئب كحمل ضائع .والموقف يتكرر كل يوم وأرواح الناس تذبح بدنس الشهرة ، فيجعلون اعضاء المسيح أعضاء زانية (١كو ٦ : ١٥)  والأباحية والاثارة والجنس والعنف والجريمة تجد سوقا رائجة في الأحاديث والكتب والمجلات و الأفلام وغيرها ، ولكن علينا أن نعرف لأنفسنا حدودها &#8221; فلا نشاكل هذا الدهر بل نتغير عن شكلنا &#8221; (رو ١٢ : ٢).</p>
<p>أما موائدنا فليكن فيها الرب ، ولنشرك فيها الأبرار والفقراء والمعوزين<a href="#_ftn5" name="_ftnref5">[5]</a></p>
<h4>المتنيح القمص إشعياء ميخائيل:</h4>
<p>في حياة يوحنا المعمدان نرى خطاً فاصلاً بين الشجاعة والخوف بين الحديث والصمت، بين الوضوح والغموض ، بين القلب المملوءبالحماس لإرضاء الله وبين القلب الذى يعرج بين الفرقتين كما قال إيليا النبى .</p>
<p>إنه خط فاصل … خط فاصل يفصل كلمة الحق بالاستقامة ، ومهما كان الثمن ، ومهما كانت النتيجة ، فإن إرضاء الله يريح الضمير ،ويريح القلب بينما أرضاء الناس أو إرضاء الذات يجعل الإنسان في حيرة تقود إلى تسكين الضمير بصورة أو بأخرى :</p>
<p>بين الكلام والصمت : ١-</p>
<p>هكذا يقول سفر الجامعة : &#8221; للسكوت وقت وللتكلم وقت &#8221; (جا ٣ : ٧)  وكان على يوحنا المعمدان أنه يتكلم لأنه كان نبياً ومنضمن أعمال الأنبياء توجيه الشعب للسلوك الحسن . ولا شك أن هيرودس الملك يعتبر من ضمن الشعب الذى يجب أن يواجه .</p>
<p>وكانت رسالة يوحنا المعمدان كما حددها الملاك لزكريا الكاهن أنه &#8221; يرد كثيرين من بنى إسرائيل إلى الرب إلههم &#8220;(لو ١: ١٦) ،وذلك كله بهدف أن &#8221; يهئ للرب شعباً مستعداً &#8221; (لو ١ : ١٨) .</p>
<p>وهكذا كانت رسالة يوحنا المعمدان تتلخص في دعوته للتوبة &#8221; توبوا لأنه قد أقترب ملكوت السموات &#8221; (مت ٣: ٢ ) لذلك كان علىيوحنا المعمدان أن يتكلم ولا يسكت ، وأن يتكلم الكلام الصحيح ، ومن أجل هذا قال الرسول بولس لتلميذة تيموثاوس : &#8221; أكرز بالكلمة . أعكف على ذلك في وقت مناسب وغير مناسب . وبخ ، انتهر ، عظ بكل أناة وتعليم &#8221;  (٢تى ٤ : ٢).</p>
<p>وكلام الخادم والكارز والتلميذ والرسول والنبى يكون مسنوداً بقوة كلمة الله حسب قول الرسول بولس &#8221; وأما أنت فتكلم مما يليق بالتعليم الصحيح وكلام لا يليق … وإذا تكلم يوحنا المعمدان فيجب أن يكون كلامه لائقاً بالتعليم الصحيح .</p>
<p>والتعليم الصحيح هو أنه لا يجوز للشخص أن يأخذ امرأة أخيه بعد وفاته إلا لو كان بلا نسل لأن المقصود أن يقيم نسلاً لأخيه الميت أماإذا أخذ إنسان امرأة أخيه في حياة أخيه أو بعد وفاته ولم يكن غرضه أن يقيم نسلاً لأخيه لأن له نسلاً مثل حالة هيرودس فإنه ينطبقعليه حكم الله وعقوبته &#8221; إذاً أخذ رجل امرأة أخيه فذلك نجاسة قد كشف عورة أخيه . يكونان عقيمين &#8221; (لا ٢٠ : ٢١)  حكم الله هو هكذا… عورة امرأة أخيك لا تكشف أنها عورة أخيك &#8221; (لا ١٨ : ١٦).</p>
<p>أما استثناء هذه القاعدة فقد ورد في سفر التثنية هكذا : &#8221; إذا سكن أخوة معاً ومات واحد منهم وليس له ابن فلا تصر امراة الميت إلىخارج لرجل اجنبى . أخو زوجها يدخل عليها ويتخذها لنفسه زوجة ، ويقوم لها بواجب أخى الزوج . والبكر الذى تلده يقوم باسم أخيهالميت لئلا يمحى اسمه من إسرائيل &#8221; (تث ٢ : ٥ – ٦). فكان لزاماً على المعمدان أن يتحدث لكى يعلم التعليم الصحيح ويصحح السلوكالخاطئ ، ولذلك قال يوحنا المعمدان للملك هيرودس &#8221; لا يحل أن تكون لك أمرآة أخيك &#8221; (مر ٦ : ١٨).</p>
<p>هنا نجد قوة الكلمة تفرض سلطانها وتستمد كيانها من الله نفسه ، ولم يقلها المعمدان مرة واحدة وكفى ، بل كررها كثيرأ حسبما يقولالكتاب المقدس &#8221; وإذ سمعه ( هيرودس ) فعل كثيراً وسمعه بسرور &#8221; (مر ٦ : ٢٠) .</p>
<p>نعم إن كلمة الحق يجب أن تقال ، وأن تصل إلى السامعين وإلا فسوف ندان ونحرم من الحق نفسه الذى هو ربنا يسوع المسيح ولكنلكى نقول كلمة الحق ولا نسكت نحتاج إلى الشجاعة والجرأة وعدم الخوف .</p>
<p>بين الشجاعة والخوف : ٢-</p>
<p>كان يوحنا المعمدان ممتلئاً من الروح القدس وهو بعد في بطن أمه ( لو ١ : ١٥ ) ، والروح القدس دائماً يهب شجاعة وخاصة عند الوقوفأمام الملوك والولاة للشهادة . وفى هذا يقول الرب يسوع المسيح : &#8221; وتوقفون أمام ولاة وملوك من أجل شهادة لهم . لستم أنتم المتكلمون بلالروح القدس &#8221; (مر ١٣ : ١٩ – ١١).</p>
<p>إن الروح القدس إن طلبناه فهو يعطينا شجاعة النطق بكلمة الحق ، وشجاعة الوقوف أمام الملوك والولاة وأصحاب الرتب بلا خوف … لأنالخوف يطرح الإنسان بعيداً عن الملكوت &#8221; وأما الخائفون غير المؤمنين والرجسون والقاتلون والزناة والسحرة وعبدة الأوثان وجميع الكذبهفنصيبهم في البحيرة المتقدة بنار وكبريت الذى هو الموت الثانى (رؤ ٢١ : ٨) .</p>
<p>وهل يعقل أن يأتي الخائفون على رأس القائمة قبل غير المؤمنين وعبدة الأوثان والزناة والقتلة رغم أن هؤلاء الخائفين من بين المؤمنين .</p>
<p>وهنا نرى المعمدان شجاعًا بلا خوف لأنه كان ينظر إلى الملكوت والملكوت فقط .</p>
<p>بين الملكوت الدائم وكل ما هو زائل : ٣-</p>
<p>الملكوت هدف نسعى إليه ، ونكرز به ، ويسود على كل حياتنا وسلوكنا … لذلك يجب أن نتذكر يوحنا المعمدان وكرازته &#8221; توبوا لأنه قدأقترب ملكوت السموات &#8221; (مت ٣ : ١).</p>
<p>وكانت خدمة المعمدان أن يعد طريق الرب وأن يصنع سبله مستقيمة (مت ٣: ٣) ولذلك كان يقول للشعب &#8221; اصنعوا أثماراً تليق بالتوبة … والآن قد وضعت الفأس على أصل الشجرة . فكل شجرة لا تصنع ثمراً جيداً تقطع وتلقى في النار &#8221; (مت ٣: ٨ – ١١). إن الكرازةبالتوبة هي الوسيلة لعدم الحرمان من الملكوت، ولكن يجب ألا يغيب عن بالنا قط الملكوت حتى لا نحرم نحن منه لأن كثيرين قد ضاعمنهم الملكوت بسبب مجد العالم الحاضر .</p>
<p>يهوذا باع الرب بثلاثين من الفضة فطرح وفقد رسوليته ورتبته .</p>
<p>&#8221; ديماس قد تركنى إذ أحب العالم الحاضر &#8221; (٢تي ٤: ١٠). &#8221; لأن كثيرين يسيرون ممن كنت أذكرهم لكم مراراً ، والآن أذكرهم أيضاًباكياً وهم أعداء صليب المسيح الذين نهايتهم الهلاك الذين إلههم بطنهم ومجدهم في خزيهم ، الذين يفتكرون في الأرضيات &#8221; ، (فى ٣ : ١٨ – ١٩). لقد كان يوحنا المعمدان شاهداً عيانا للملكوت لأنه رأى وقت عماد الرب يسوع السماء مفتوحة وصوت الآب يعلن : &#8221; هذا هوابنى الحبيب &#8221; والروح القدس مستقر على رأس الرب (لو ٣ : ٢١ – ٢٢) . وهكذا يجب أن نعاين السماء المفتوحة، وأن يكون لنا شركة معالثالوث القدوس حتى يمكننا أن نشهد للحق ونعلن الملكوت !!! وعندما نحتقر الأمور الأرضية الزائله فنحن نعلن مسيرتنا نحو الملكوتوشهادتنا للحق من أجل الملكوت ، ويجب أن تكون شهادتنا هذه واضحة لا تحتمل الغموض ولا اللبس ولا الالتواء والخبث .</p>
<p>بين الوضوح والغموض :٤-</p>
<p>إن الوضوح ليس فقط وضوح الهدف وهو إرضاء الله ولكن الوضوح يجب أن يكون شاملاً لنواحى عديدة، فهو يجب أن يحتوى علىوضوح الوسيلة ، ووضوح الإجابة التي نجيب بها على أسئلة الرعية إجابة لا تحتمل الغموض ولا تحتمل أكثر من معنى ولا تحتمل التعارض .</p>
<p>&#8221; رجل ذو رأيين هو متقلقل في جميع طرقه &#8221; (يع ١: ٨).+</p>
<p>&#8221; + وحقلك لا تزرع صنفين ولا يكن عليك ثوب مصنف من صنفين (لا ١٩: ١٩). لذلك يجب أن يكون كلامنا وإجابتنا واضحة لا لبس ولاغموض فيها ولا التواء ولا خبث ولا دهاء &#8221; فاطرحوا كل خبث وكل مكر والرياء والحسد وكل مذمة &#8221; (١بط ٢: ١) .</p>
<p>إن البعض من الخدام والقادة أحياناً يكونون غير واضحين في مسلكهم … غير واضحين في تدبيرهم ، أو غير واضحين في مواجهةالمشاكل التي تعترض حياتهم … وهذا الغموض يجعل كل واحد يفسره حسب هواه ، لأنهم يخافون أن تمسك عليهم كلمة أو رأى !!</p>
<p>بين الثبات والتأرجح : ٥-</p>
<p>لقد كان المعمدان ثابتاً في رأيه ، وثابتاً في مواجهة هيرودس وخطأه الذى كان يجب مواجهته حتى يصير عند الباقين خوف ، ولم يقبلالمعمدان التأرجح الذى يعنى عدم الثبات وأن الإنسان يتأرجح مع المواقف ويغير إرشاده حسب الذى يرشده . ولذلك قال إيليا النبى &#8221; حتى متى تعرجون بين الفرقتين؟ إن كان الرب هو الله فاتبعوه ، وإن كان البعل فاتبعوه . (١مل ١٨: ٢١)  .</p>
<p>إن تأرجح الخادم أو القائد يخلق جيلاً هزيلاً لا يقوى على مواجهة العواصف ولذلك يقول الرسول بولس: &#8221; إذاً يا أخوتى الأحباء ، كونواراسخين غير متزعزعين مكثرين في عمل الرب كل حين عالمين أن تعبكم ليس باطلاً في الرب &#8221; (١كو ١٥ : ٧٨) .</p>
<p>بين الحق والتبجح :٦-</p>
<p>احياناً يسقط الخادم أو المسئول في خطية التبجح حين يختلط عليه الأمر في مواجهة القضايا الرعوية، ويسقط في خطية الشتيمة، وينسى أن الشتامين لا يرثون ملكوت الله (١كو٦: ١٠) . أو يسقط في خطية الغضب والعصبية والصوت العالى واستخدام الألفاظ الجارحة، وينسى أن غضب الإنسان لا يصنع بر الله (يع ١: ٢٠) .</p>
<p>ولذلك فنحن هنا نقول أننا يجب أن نتمسك بالحق، ونعلنه وندافع عنه … ولكن في أدب ولباقة واحترام ودون استخدام الأسلوب الجارح، وصدق الرب يسوع حين قال :&#8221; إن أخطأ إليك أخوك فأذهب وعاتبه بينك وبينه وحدكما … (مت ١٨ : ١٥) . وأغلب الظن أن المعمدان ذهبإلى هيرودس وكلمه على انفراد دون تبجح أو سباب أو عدم احترام ! ! .. إن المهم أن يصل رأينا ودفاعنا وتمسكنا بالحق بأسلوب هادئخال من التبجح وعدم الاحترام .</p>
<p>بين العدل والمحاباة :٧-</p>
<p>يقول القديس يعقوب الرسول : &#8221; يا أخوتى لا يكن لكم إيمان ربنا يسوع المسيح ، رب المجد ، في المحاباة &#8221; (يع ٢ : ١) … إن المحاباةتقود إلى التعصب والتحزب والغيرة &#8221; وحيث الغيرة والتحزب هناك التشويش وكل أمر ردئ (يع ٣ : ١٦) . إن المحاباة من الخادم أو القائدتخلق في المخدومين نوعاً من فقدان الثقة وعدم الامتثال للخادم لأنه فقد مصداقيته . قد تكون المحاباة للأغنياء ، وقد تكون للأقوياء ، وقدتكون لأصحاب المراكز والسلطات … ولكن المحاباة تطرحنا بعيداً عن الشهادة للحق وتجعلنا غير عادلين في أحكامنا  ! ! !</p>
<p>إن يوحنا المعمدان لم يحابى هيرودس الملك ليغير حكم الله أو يعطى فتوى من عندياته أوتفسير خاصاً لإرضاء هيرودس وتسكينه علىالشر الذى فعله وموافقته على أخذه أمرأة أخيه (حال حياة أخيه كما يقول البعض أو لعدم توافر الشرط وهو عدم وجود نسل للأخ الميت ) ولكن المعمدان وقف دون محاباة ودون النظر إلى من يتصرف معه وقال له لا يحل أن تأخذ امرأة أخيك (مر ٦ : ١٨) . إن المحاباة تجعلنانكسب بعض الناس ، ولكننا نخسر البعض الآخر والأكثر من هذا نخسر الحق والانتماء إلى الحق الذى هو ربنا يسوع المسيح ! !</p>
<p>بين التمسك والعناد :٨-</p>
<p>إن التمسك هو تمسك بمبدأ كتابى أو بعقيدة إيمانية … مثل تمسك المعمدان بوصية الكتاب أو تمسك أثناسيوس وكيرلس وديسقورس بعقيدة الأرثوذكسية وإيمانها. ولذلك يقول سفر الرؤيا : &#8221; الذى عندكم ( وصايا الكتاب المقدس وعقيدة الكنيسة ) تمسكوا به إلى آنأجئ (رؤ ٢ : ٢٥) . نعم لقد تمسك القديسون بما عندهم من وصايا الإنجيل وعقيدة الكنيسة ، وبذلوا حياتهم من أجل ذلك ، وقدموادماءهم تمسكاً بالإنجيل والكنيسة والعقيدة … أما العناد فهو تشبث برأى خاص ، وليس بوصية الكتاب ، وهو تمسك محوره الذاتولفائدة الذات ، ولذلك يقول الكتاب المقدس عن العناد أنه كالوثن والترافيم &#8221; (١صم ١٥ : ٢٣) . ولذلك يجب أن يحذر الخادم لئلاً يكونساقطاً في خطية العناد والتشبث بالرأى ويصير عابد وثن ( الذات ) وهو يظن أنه يدافع عن الحق ! ! لم يكن المعمدان عنيداً ولكنه تمسك بالوصية . ولم يكن الشهداء عنيدين بل كانوا متمسكين بمن أحبوه حتى الموت. إن العناد هو دفاع عن الذات ، بينما التمسك بالحق هواستعداد لبذل الذات حتى الموت ، واحتمال ما قبل الموت من حبس واضطهاد وتعذيب .</p>
<p>ضرورة الإرشاد :٩-</p>
<p>وإن كان الأمر هكذا ، وإن كان هناك خوف أن يسقط الإنسان باسم الحق في العناد والمحاباة والتبجح والتأرجح والغموض والخوفوالانزلاق إلى ما هو زائل ، لذلك يجب على الإنسان أن يتجه إلى طلب المشورة لأنه توجد طرق تظهر للإنسان وكأنها للخير ولكن عاقبتهاالموت ، وأخشى أن يظن أننا نتمسك بالحق ، ونسلك طريق الحق … بينما نحن سائرون في طريق الموت . لذلك يلزم طلب المشورة ويلزمالاتضاع والصلاة ليكشف الرب لنا ويرشدنا إلى طريق الحق وطريق الكمال … من يطلب المشورة يستحيل أن يتخلى الله عنه … إنالمشورة هي طلب النور وسط ظلمة الغموض وهى التأكيد من صحة الطريق الذى نسلك فيه والكنيسة تصلى من أجل المرشدين قائلة : ( أعط ) بهاء للإكليروس ! ! نسكاً للرهبان ! ! الرعاة اضبطهم ! ! والذين يرعونهم ثبتهم<a href="#_ftn6" name="_ftnref6">[6]</a> ! !</p>
<h4> المتنيح القمص تادرس البراموسي: اليوم الثاني من شهر توت المبارك</h4>
<p>لا يحل لك أن تأخذ إمرأة أخيك زوجة لك (مر ٦- ١٤- ٢٩)</p>
<p>إن اليهود في حياتهم الخاصة يهتمون كثيراً بالقشور بنظافة الجسد من الخارج من الغسل والنظافة الخارجية ولا يهتمون كثيراً بنظافةالداخل الذي هو أهم على أساس أنه تخرج منه الشرور والشهوات . وكان الأتقياء منهم ينفضون التراب عنهم . أعنى أرجلهم وثيابهمبعدما يمرون بمدينة للأمم الوثنية تعبيراً عن رفضهم الأعمال والرجاسات الوثنية وعندما كان التلاميذ ينفضون التراب عن أرجلهم كماأوصاهم السيد المسيح له المجد عند خروجهم من أي مدينة يهودية لم يقبلوهم ولم يؤمنوا بكرازتهم لأن ذلك كان دليلاً قوياً على أن أهلهذه المدينة قد رفضوا الرب يسوع ورسالته . قد أوضح الرب يسوع بكل جلأ أن الناس مسئولون عن كيفية إستجابتهم للإنجيل فلا لومعلى التلاميذ إذا رفضت الرسالة متى قدموها بكل أمانة ودقة فلا مسئولية على الخدام برفض الآخرين رسالة الخلاص باسم المسيحيسوع ربنا أما مسئولية الخادم فهي تبليغها بأمانة .</p>
<p>كان هيرودس الملك مثل كثيرين غيره يسأل عن حقيقة الرب يسوع له المجد لأنه لا يستطيع الناس أن يقبلوا دعوى الرب يسوع بأنه ابنالله المولود من الآب قبل كل الدهور وقد أتى متجسد من العذراء مريم ليقدم لنا الخلاص . بموته على الصليب الحقيقة أنهم لم يعرفوهلأنهم يحاولون أن يعللوا قوته وسلطانه تفسيرات بشرية بعيدة عن الصواب . ظن هيرودس أن يسوع هو يوحنا المعمدان وقد قام منالأموات مخاطبين الذين كانوا يعرفون العهد القديم أنه إيليا أو موسى أو أشعياء أو أرميا ومازال بعض الناس يفكرون فی يسوع ويظنالبعض أنهم لو أطلقوا عليه لقب نبي أو معلم أو رجل صالح فأنهم يستطيعون من التقليل من سلطانه على حياتهم لكن هذه الظنون لاتغير شيئا عن حقيقة الرب يسوع له المجد .</p>
<p>كانت فلسطين مقسمة على أربعة أقسام يحكم كل رئيس ربع وكان هيرودس انتباس حاكماً على الجليل وأخوه فيلبس على أدوميةوكانت زوجة فيلبس هي هيروديا التي تركت زوجها وتزوجت هيرودس انتباس شقيق زوجها وهو على قيد الحياة وعندما بكتها القديسيوحنا المعمدان لإرتكابها هذا الفعل القبيح دبرت له مؤامرة لقتله بدلاً من أن تتخلص من خطيتها حاولت التخلص من الشخص الذيحاول أن يردها عن الشر وهو ما كان القادة الدينيون يحاولون عمله مع الرب يسوع قبض هيرودس على يوحنا تحت ضغط من هيروديامع أنه كان يحترم إستقامة يوحنا ويهابه جداً إلا أنه فى النهاية أسلمه للقتل تحت ضغط المرأة الشريرة التي أعمتها الشهوة وتركتزوجها وتزوجت بأخيه وما يفعله الإنسان تحت ضغط كثيراً ما يكشف عن حقيقة . لم يكن لهيرودس رئيس الربع تحت سيادة الرومانمملكة ليعطيها لأخر حسب قوله أنه يعطيها ولو نصف مملكته وكان على إستعداد أن يعطى إبنة هيروديا أي شئ تريده وعندما طلبترأس يوحنا المعمدان ولم يقدر أن يرد لها طلب لأنه أقسم وكان يشعر بالحرج أمام ضيوفه لو أنكر عليها طلبها . أن للكلمات قوتها لأنهاقد تؤدي في بعض الأحيان إلى خطية شنيع كما حدث مع هيرودس .</p>
<p>فيجب علينا يا أخوتى أن لا نتسرع في كلامنا بل ننطق به بحرص شديد وكما قال الكتاب بكلامك تبرر وبكلامك تدن (مت ١٢ : ٣٧) وهكذا تم الحكم في يوحنا وقطعت رأسه بسبب قرار خاطئ مغرض وخطية متسللة وشهوة متأصلة<a href="#_ftn7" name="_ftnref7">[7]</a> .</p>
<h3>من وحي قراءات اليوم</h3>
<p>وَقَالَ لَهُ الْمَلاَكُ: «تَمَنْطَقْ وَالْبَسْ نَعْلَيْكَ». فَفَعَلَ هَكَذَا. فَقَالَ لَهُ: «الْبَسْ رِدَاءَكَ وَاتْبَعْنِي». الإبركسيس<br />
الأمور البسيطة</p>
<p>+ كيف يرسل الله ملاكاً لإنقاذ القديس بطرس من حُكْم الموت وليلة إعدامه يهتم الملاك بأن يتمنطق القديس بطرس ويلبس  نعليه ويلبس رداءه أيضاً</p>
<p>+ هذا هو إنشغال الله ليس فقط بالأمور الكبيرة والإنقاذ والنجاة، بل أيضاً أبسط الأمور</p>
<p>+ أيضاً كيف إنشغل بتقديم طعام لإبنة يايرس بعد إقامتها من الموت (لو ٥٥:٨)</p>
<p>+ وجلسة الجموع علي العشب الأخضر في معجزة سيُشْبِع فيها خمسة آلاف أسرة (يو ١٠:٦)</p>
<p>+ ويأخذ بعض المرضي علي ناحية إحتراماً لمدي ألمهم وحساسية نفسيتهم (مر ٣٣:٧)</p>
<p>+ ويسمح لدموعه تسقط مُشاركاً أحباؤه في فقد عزيز عليهم سوف يُقيمه من الأموات</p>
<p>+ كما يهتم الله بإحتياجتنا البسيطة هكذا أيضاً ينظر لخدماتنا البسيطة</p>
<p>+ لذلك يقول أنه لا ينسي كأس ماء بارد (مت ٤٢:١٠)</p>
<p>+ وربما أيضاً سينسي الناس العظات القوية والكلمات الرنَّانة</p>
<p>+ لكنهم لا ينسون مواقف وأعمال المحبّة مهما كانت بسيطة.</p>
<p><a href="#_ftnref1" name="_ftn1"></a>١- القديس أمبروسيوس &#8211; تفسير لوقا ٧ &#8211; القمص تادرس يعقوب ملطي</p>
<p><a href="#_ftnref2" name="_ftn2"></a>٢- القديس كيرلس الكبير &#8211; تفسير إنجيل لوقا الإصحاح الثالث &#8211; القمص تادرس يعقوب ملطي</p>
<p><a href="#_ftnref3" name="_ftn3"></a>٣- كتاب ملاك البرية المقدسة صفحة ٣٧ &#8211; القمص تادرس يعقوب ملطي والشماس بيشوي بشري فايز</p>
<p><a href="#_ftnref4" name="_ftn4"></a>٤- المرجع : كتاب إسطفانوس أول شهداء المسيحية للقديس غريغوريوس النيسي ( صفحة ٥٠ ) &#8211; ترجمة دكتور سعيد حكيم يعقوب</p>
<p><a href="#_ftnref5" name="_ftn5"></a>٥- المرجع : كتاب دراسات في الكتاب المقدس &#8211; إنجيل متي ( صفحة ١٨٤ ) &#8211; الأنبا أثناسيوس مطران كرسي بني سويف والبهنسا</p>
<p><a href="#_ftnref6" name="_ftn6"></a>٦- المرجع : كتاب الحق بين المعمدان وبلعام ( صفحة ٨ ) &#8211; القمص إشعياء ميخائيل</p>
<p><a href="#_ftnref7" name="_ftn7"></a>٧- المرجع : كتاب تأملات وعناصر روحية في آحاد وأيام السنة التوتية ( الجزء الثاني  صفحة ١٥ ) &#8211; إعداد القمص تادرس البراموسي</p>

      {% endcreateArticleAccordions %}
    </section>
  {% endblock %}
  