---
layout: 'layouts/reading.html'
title: 'قراءات اليوم الحادي والعشرون من توت'
permalink: annual/1-21.html
---
  {% block content %}
    <section id="readings">
      <ul>
      {% if '19.64:10' != 'null' %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">العشية</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeVespers '19.64:10' '41.4:21-25' %}
          </div>
        </div>
      </li>
      {% endif %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">باكر</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeMatins '19.70:5' '41.3:22-27' '' %}
          </div>
        </div>
      </li>
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <h3 class="flex items-center justify-between">
            <span class="kufi">القداس</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </h3>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeLitugy '50.1:1-11' '62.2:7-11' '44.19:11-17' '19.16:10-11' '41.3:28-35' %}
          </div>
        </div>
      </li>
        </ul>
    </section>
    <section id="article">
      <h3 class="mt-8 mb-4 heading-explain">شرح القراءات</h3>
      {% createArticleAccordions firstName, lastName %}
        <h3>كل آلة صورت ضدك (أش ٥٤: ١٧)</h3>
<p>(نعم يا رب الذي إعطانا السلطان أن ندوس الحيات والعقارب وكل قوة العدو اسحق رؤوسه تحت أقدامنا سريعًا وبدد عنا كل معقولاته الشريرة المقاومة لنا)</p>
<p>التحليل الأول من التحاليل الثلاثة للإبن</p>
<p>&#8221; انتبه لكي تكون متواضعاً وشجاعاً، وعندئذ سوف تهرب نفسك من تأثير الشياطين &#8221;</p>
<p>ق. نيلوس الناسك</p>
<p>يفحصك الشرير من كل الجوانب، إنه يراقب باستمرار من أين يمكن أن يصرعك، ومن أين يمكن أن يصيبك ، آملاً أن يجد موضعاً مكشوفاً وجاهزاً للإصابة )</p>
<p>ق. غريغوريوس اللاهوتي &#8211; كتاب علم الطب الروحي صفحة ٩٨، ١٧٦ ( إيروثيئوس مطران نافباكتوس ) ترجمة دكتورة نيفين سعد</p>
<h3>شواهد القراءات</h3>
<p>(مز ٦٣: ٧) ، (مر ٤ : ٢١ – ٢٥) ، (مز ٦٩ : ٥) ، (مر ٣ : ٢٢ – ٢٧) ، (في ١ : ١ – ١١) ، (١يو ٢ : ٧ – ١١) ، (أع ١٩ : ١١ – ١٧) ، (مز ١٥ : ١٠ ، ١١)، (مر ٣ : ٢٨ – ٣٥)</p>
<h3>ملاحظات على قراءات يوم ٢١ توت:</h3>
<p>+ قراءة إنجيل باكر اليوم (مر ٣: ٢٢ &#8211; ٢٧) وقراءة إنجيل القدّاس (مر ٣: ٢٨ &#8211; ٣٥) يُمثِّلان معاً إنجيل قدّاس الأحد الثالث من      مسري (مر ٣: ٢٢ &#8211; ٣٥)</p>
<p>وهو في قراءة حادي وعشرين توت يُشير إلي غفران كل خطايا وتجاديف البشر إشارة إلي كبريانوس الساحر وتوبته وإيمانه، وأيضاً للإشارة إلي الأقوي (المسيح المصلوب) ، الذي ربط القوي الذي هو الشيطان ( بالصليب ) وإنتصر عليه وأخذ غنائمه ، أي النفوس التي إستعبدهاوالجدير بالذكر هو أن صاحب تذكار اليوم (٢١ توت) كان ساحراً ثم ربطته صلاة يوستينا الفتاة المسيحية فآمن وصار أسقفاً ثم شهيداً</p>
<p>وفِي القراءة الثانية (الأحد الثالث من مسري) تُشير إلى كينونتنا عائلة الله الصانعين إرادته إشارة إلي والدة الإله التي يأتي تذكار صعود جسدها للسماء في هذا الوقت</p>
<p>ولهذا السبب أيضاً (صيرورتنا عائلة الله من خلال تجسُّد الكلمة) جاءت هذه القراءة (مر ٣: ٢٨ &#8211; ٣٥) أيضاً في إنجيل باكر الأحد الرابع من شهر كيهك</p>
<p>+ قراءة الكاثوليكون لهذا اليوم (١يو ٢: ٧ &#8211; ١١) تكرَّرت في يوم ١ توت مع إختلاف عدد الآيات المُختَاَرة (١يو ٢: ٧ &#8211; ١٧) ، وفي الأحد الثالث من شهر كيهك ، والأحد الثاني من شهر مسري</p>
<p>لأن قراءة الكاثوليكون اليوم إكتفت بالكلام عن المسيح له المجد النور الحقيقي ونور العهد الجديد والمحبة الأخويّة كعلامة عن عمل هذا النور فينا</p>
<p>أما قراءة الكاثوليكون ليوم ١ توت (١يو ٢: ٧ &#8211; ١٧) فتكلمت أيضاً، بالإضافة إلي هذا، عن عطايا نور المسيح له المجد لأولاد العهد الجديد في بداية السنة القبطية (وهي مغفرة الخطايا، والنصرة علي الشرير، ومعرفة الآب )</p>
<p>ولعلَّه كان من الأنسب أن تكون أيضاً قراءة يوم ٢١ توت مثل قراءة يوم ١ توت لأن تكملة القراءة تتكلم عن النصرة على الشيطان، وهو موضوع تذكار اليوم (كبريانوس الأسقف الذي كان قبلاً وثنياً ساحراً وآمن بسبب يوستينا)</p>
<p>أمَّا مجيئها في الأحد الثالث من شهر كيهك فهو إلي إنقضاء الظلمة ومجئ النور الحقيقي بتجسُّد الكلمة، وإشراقة نور وبرّ ابن الله للبشرية الضعيفة (الأحد الثاني من مسري )</p>
<p>+ قراءة الإبركسيس اليوم (أع ١٩: ١١ &#8211; ١٧) تُشبه قراءة الإبركسيس (أع ١٩: ١١ &#8211; ٢٠) في أيّام ٢٧ بابه (نياحة أنبا مقار         الأسقف) ، ٢٢ هاتور ( تذكار القدّيسين قزمان وإخوته ووالدتهم ) ، ٢٦ مسري ( تذكار القديس موسي وسارة أخته ) ، وتُشبه أيضاً قراءة الإبركسيس (أع ١٩ : ١١ &#8211; ٢٢) للأحد الرابع من شهر أبيب</p>
<p>وتأتي هذه القراءة في يوم ٢٧ بابه لكثرة العجائب التي فعلها الله في حياة أنبا مقار الأسقف (كما هو موجود بسيرته)، ورُبما سبب مجئ القراءة أيام ٢٢ هاتور، ٢٦ مسري للمُقارنة بين الأسرة الشريرة (سكاوا وأولاده في قراءة الإبركسيس) والأُسر المُقدَّسة (قزمان وإخوته ووالدتهم ، وموسي وسارة أخته )</p>
<p>أما سبب مجئ القراءة اليوم هو قوة إسم الرب يسوع وإسم أولاده (مثل ما حدث مع الساحر كبريانوس ويوستينه القديسة)، ورُبَّما كان من الأفضل تكملة القراءة حتي آية ٢٠ مثل القراءات الثلاثة الأخري لأن الآيات الثلاثة حتي آية ٢٠ تتكلَّم عن الذين كانوا يستعملون كتب السحر وبعد إيمانهم أحرقوها (مثل كبريانوس صاحب تذكار اليوم )</p>
<p>بينما مجيئها في الأحد الرابع من أبيب للإشارة إلى إسم الرب يسوع الذي يتعظَّم كما جاء أيضاً في إنجيل القدَّاس لذاك الأحد في أقامة لعازر من الموت</p>
<p>+ كل القراءات المُحوَّلة على هذا اليوم تخص أساقفة المشرق وهم:</p>
<p>٢٣ توت                 شهادة القديس أونانيوس الأسقف وأخيه أندراوس القس من مدينة اللد</p>
<p>١١ برمهات              شهادة القديس باسيلاؤس الأسقف بالشام</p>
<p>١٤ برمهات             شهادة الأساقفة أوخانيوس وأغابيوس وأنديوس من أورشليم</p>
<p>٢١ برمودة              نياحة القديس بروثاوس قس أثينا</p>
<h3>شرح القراءات</h3>
<p>اليوم هو يوم النصرة على الشيطان بالقوّة الإلهيّة المُعطاة والممنوحة للمؤمنين في المسيح</p>
<p>يُقدّم اليوم سيمفونية الخلاص وعمل النعمة المُعجزي في حياة البشر وقوّة الإسم المقدَّس الذي لربنا يسوع المسيح</p>
<p>فاليوم نري ساحراً (كبريانوس) يصير مؤمناً ثم نراه مُتعبِّدا ويصير أسقفاً ليختم حياته شهيداً لمحبته لإله الخلاص</p>
<p>ونرى فتاة لا تكفّ عن الصلاة فتسحق الشيطان بإيمانها وتجتذب رجلاً ساحراً للحظيرة وتصير رئيسة دير للراهبات ثم شريكة في الشهادة للمسيح بالدم مع من إجتذبته للإيمان (سنكسار يوم ٢١ توت)</p>
<p>اليوم هو يوم إنتفاء الأعذار البشرية لضعفنا وتكاسلنا وجهلنا بما لنا في المسيح والمُذخّر لنا في الإسم المقدس</p>
<p></p>
<p>لذلك تحكى قراءات اليوم عن نصرتنا في المسيح وقوّة الصلاة وضعف إبليس أمام الإيمان بإله الخلاص</p>
<p>لذلك يتكلّم مزمور عشية عن فرح المؤمنين بالرب وإفتخارهم به ومزمور باكر عن مدي إحتياج النفس لخلاصه ومدي فقرها بدون نعمته ومزمور القداس عن مدي غني وقوّة خلاصه</p>
<p>أي أن مزمور عشية يتكلم عن فرح النفس وإفتخارها (يفرح الصديق بالرب ويتّكل عليه ويفتخر كل المستقيمين بقلوبهم)</p>
<p>ومزمور باكر عن مسكنة النفس وإفتقارها (وأما أنا فمسكين وفقير اللهم أعني أنت معيني ومخلصي يارب فلا تبطئ)</p>
<p>لذلك يختم مزمور القداس عن خلاص النفس وإنتصارها (لأنك لا تترك نفسي في الجحيم ولا تدع صفيك أن يري فساداً قد عرفتني طرق الحياة تملأني فرحاً من وجهك)</p>
<p>لذلك يرسم لنا البولس والكاثوليكون والإبركسيس طريق ومنهج نصرتنا</p>
<p>لذلك يتكلّم البولس عن الصلاة الدائمة للكنيسة ورعاتها سر نصرتها</p>
<p>(أشكر إلهي على ذكركم الذي أصنعه عن جميعكم في كل حين في كل أدعيتي لكم جميعاً بفرح &#8230;. لأنكم موضوعين في قلبي &#8230; وهذا الذي من أجله أصلّي لكي تزداد محبتكم أيضاً أكثر فأكثر في المعرفة وفِي كل فهم)</p>
<p>ويشير الكاثوليكون إلى قوة وصيّة المحبّة ونورها وعندما تكون المحبّة كاملة تكون الكنيسة مستنيرة</p>
<p>(من يحب أخاه يثبت في النور وليس فيه عثرة وأما من يبغض أخاه فهو في الظلام وفِي الظلام يسلك ولا يعلم أين يمضي لأن الظلمة قد أعمت عينيه )</p>
<p>أما الإبركسيس فيُظهر قوة إسم يسوع وقوّة عمل الله في خدّامه ورسله</p>
<p>(وكان الله يصنع علي يدي بولس قوات كثيرة حتي أنهم كانوا يأخذون مناديل وخِرَقاً من علي جسده ويضعونها علي المرضي فتزول عنهم الأمراض وتخرج الأرواح الشريرة &#8230; فوثب عليهم الرجل الذي كان به الروح الشرير فتسلط عليهم وقوي عليهم حتي هربوا من ذلك البيت عراة مشدوخي الرؤوس وصار هذا ظاهراً لجميع اليهود واليونانيين الساكنين في أفسس فوقع خوف علي جميعهم وكان اسم الرب يسوع يتعظم )</p>
<p>وتُقدّم لنا الأناجيل رصيد نصرتنا في ابن الله وفِي عمل روحه القدّوس فينا</p>
<p>لذلك يبدأ إنجيل عشية بإعلان نور الإبن سراج حياتنا ويُحذّرنا من أن نضعه تحت المكيال (مشغوليات العالم ) أو تحت السرير      ( محبّة الراحة والكسل ) وأهميّة النمو في حياتنا لتنسكب أكثر عطاياه فينا</p>
<p>(ألعلَّ يوقد سراج ليوضع تحت المكيال أو تحت السرير أليس لكي يوضع علي المنارة &#8230; فإن من له يُعطي ويزاد ومن ليس له فالذي عنده يُنزع منه)</p>
<p>أما إنجيل باكر فيعلن قوّة الكلمة المتجسد وفعل صليبه وإنتهاء سلطان قوات الظلمة</p>
<p>(بل لن يقدر أحد أن يدخل بيت القوي &#8211; الشيطان &#8211; ويخطف أمتعته إِلَّا أن يُرْبٓط القويٌّ أولاً &#8211; بالصليب &#8211; وحينئذ ينهب بيته)</p>
<p>ويأتي إنجيل القدّاس فيوجّه نظرنا إلى إرادة الله في حياتنا التي تجعلنا عائلة الله وإخوة المسيح له المجد</p>
<p>(فأجابهم وقال من هي أمي وإخوتي ثم نظر إلي الجالسين حوله وقال ها أمي وإخوتي لأن من يصنع إرادة الله هذا هو أخي وأختي   وأمي)</p>
<p>أي أن مكانة أمنا العذراء والدة الإله لحياتها حسب فكر الله وتسليمها الكامل لمشيئته (هوذا أنا أمة الرب) وهذا لا يقل عن أنها كانت    أم الله بتجسده من أحشائها</p>
<p>وبينما يُقدّم لنا نموذج لمن كان يجدّف على الابن ونال الغفران بإيمانه وتوبته مثل كبريانوس الساحر نرى رفض اليهود لتبكيت       الروح يقودهم للدينونة الأبديّة</p>
<p>(الحق أقول لكم إن كل شئ يُغفر لبني البشر الخطايا وجميع التجاديف التي يجدفونها ولكن من يُجدف علي الروح القدس فلا يُغفر له  إلي الأبد بل هو مستوجب دينونة أبدية)</p>
<h3>مُلخّص القراءات</h3>
<p>الله هو إتكالنا وفرحنا ونصرتنا وحياتنا (مزمور عشية وباكر والقدّاس)</p>
<p>وهو الذي حرّرنا من القوي بالصليب (إنجيل باكر)</p>
<p>ولا يجب أن يحجب نوره مشغوليات العالم أو الكسل ومحبّة الراحة (إنجيل عشية)</p>
<p>والحياة حسب إرادته هي علّة وجودنا في عائلته والنسب إليه (إنجيل القداس )</p>
<p>والكنيسة دائمة منتصرة في المسيح بصلاتها الدائمة ( البولس )</p>
<p>ومحبتها الكاملة ( الكاثوليكون )</p>
<p>وغناها بإسم يسوع في خدمتها وشهادتها له ( الإبركسيس )</p>
<h3>أفكار مُقترحة للعظات</h3>
<h4>(١) ثلاثية النصرة على الشيطان</h4>
<p>١- الصلاة الدائمة                               البولس</p>
<p>&#8221; أشكر إلهي على ذكركم الذي أصنعه عن جميعكم في كل حين في كلِّ أدعيتي لكم جميعاً بفرح &#8221;</p>
<p>الصلاة الدائمة هي التي طلبها الرب من تلاميذه في جثسيماني لينتصروا علي الشرير (مت ٤١:٢٦  ) وهي التي أنقذت بطرس الرسول من إنتظار هيرودس وكل شعب اليهود ( أع ١٢ : ١١،٥ ) وهي التي فتحت أبواب السجن جميعها وفَكَّت قيود الجميع ( أع ١٦ : ٢٦،٢٥ )</p>
<p>٢- المحبّة الكاملة                               الكاثوليكون</p>
<p>&#8221; من يُحب أخاه يثبت في النور وليس فيه عثرة &#8221;</p>
<p>المحبّة النقية ضمان وجودنا في النور وضمان عدم تعثُّرنا</p>
<p>٣- الشهادة القوية                              الإبركسيس</p>
<p>&#8221; وكان الله يصنع علي يدي بولس قوات كثيرة حتي أنهم كانوا يأخذون مناديل وخِرقَا من علي جسده ويضعونها علي المرضي فتزول عنهم الأمراض وتخرج الأرواح الشريرة &#8221;</p>
<p>العجيب هو حدوث المُعجزات من الخرق والمناديل لكن من علي جسد كارز بإسم الرب يسوع وبغني قوته</p>
<h4>(٢) بين عمل الروح القدس والتجديف عليه</h4>
<p>١- عمل الروح القدس</p>
<p>&#8221; <strong>ومتى</strong> <strong>جاء</strong> <strong>ذاك</strong> <strong>يبكت</strong> <strong>العالم</strong> <strong>على</strong> <strong>خطية</strong> <strong>وعلى</strong> <strong>بر</strong> <strong>وعلى</strong> <strong>دينونة</strong> &#8221; (يو ١٦ : ٨)</p>
<p><strong>تبكيت</strong> <strong>الروح</strong> <strong>يدفع</strong> <strong>الإنسان</strong> <strong>للتوبة</strong> <strong>ويملأه</strong> <strong>بالرجاء</strong> <strong>إذا</strong> <strong>قَبِلَ</strong> <strong>الإنسان</strong> <strong>نداء</strong> <strong>الروح</strong> <strong>ويمكن</strong> <strong>أن</strong> <strong>يُقيم</strong> <strong>الإنسان</strong> <strong>من</strong> <strong>موت</strong> <strong>الخطية</strong> <strong>ويمنحه</strong> <strong>القيامة</strong></p>
<p>&#8221; <strong>وإن</strong> <strong>كان</strong> <strong>روح</strong> <strong>الذي</strong> <strong>أقام</strong> <strong>يسوع</strong> <strong>من</strong> <strong>الأموات</strong> <strong>ساكنا</strong> <strong>فيكم،</strong> <strong>فالذي</strong> <strong>أقام</strong> <strong>المسيح</strong> <strong>من</strong> <strong>الأموات</strong> <strong>سيحيي</strong> <strong>أجسادكم</strong> <strong>المائتة</strong> <strong>أيضا</strong> <strong>بروحه</strong> <strong>الساكن</strong> <strong>فيكم</strong> &#8221; (رو ٨ : ١١)</p>
<p><strong>ولا</strong> <strong>يتوقف</strong> <strong>عمل</strong> <strong>الروح</strong> <strong>القدس</strong> <strong>لآخر</strong> <strong>لحظة</strong> <strong>في</strong> <strong>حياة</strong> <strong>الإنسان</strong> <strong>ليقوده</strong> <strong>للتوبة</strong> <strong>والرجوع</strong></p>
<p><strong>لذلك</strong> <strong>عندما</strong> <strong>يرفض</strong> <strong>الإنسان</strong> <strong>محبة</strong> <strong>المصلوب</strong> <strong>بل</strong> <strong>ويُنكره</strong> ( <strong>مثل</strong> <strong>بطرس</strong> <strong>الرسول</strong> ) <strong>ويجحده</strong> <strong>تبقي</strong> <strong>هناك</strong> <strong>فرصة</strong> <strong>أخري</strong> <strong>إذا</strong> <strong>قَبِلَ</strong> <strong>الإنسان</strong> <strong>تبكيت</strong> <strong>الروح</strong> <strong>ونداء</strong> <strong>الرجوع</strong> <strong>والتوبة</strong> ( <strong>بكي</strong> <strong>بكاء</strong> <strong>مرا</strong> &#8211; <strong>مت</strong> <strong>٧٥</strong>:<strong>٢٦</strong>)</p>
<p><strong>٢</strong>&#8211; <strong>التجديف</strong> <strong>علي</strong> <strong>الروح</strong> <strong>القدس</strong></p>
<p><strong>التجديف</strong> <strong>هنا</strong> <strong>هو</strong> <strong>رفض</strong> <strong>عمل</strong> <strong>الروح</strong> <strong>وتبكيته</strong> <strong>وإستمرار</strong> <strong>إغلاق</strong> <strong>القلب</strong> <strong>أمام</strong> <strong>فرص</strong> <strong>الرجوع</strong> <strong>لآخر</strong> <strong>لحظة</strong> <strong>في</strong> <strong>الحياة</strong></p>
<p><strong>مثال</strong> : <strong>يهوذا</strong> <strong>الإسخريوطي</strong> &#8211; <strong>الكتبة</strong> <strong>والفريسيين</strong> <strong>رافضي</strong> <strong>الخلاص</strong></p>
<p>( <strong>يمكن</strong> <strong>الرجوع</strong> <strong>لشرح</strong> <strong>معني</strong> <strong>التجديف</strong> <strong>علي</strong> <strong>الروح</strong> <strong>في</strong> <strong>فكر</strong> <strong>القديس</strong> <strong>أغسطينوس</strong> <strong>في</strong> <strong>ختام</strong> <strong>شرح</strong> <strong>قراءات</strong> <strong>اليوم</strong> )</p>
<h4>(٣) حضور ابن الله في حياتنا ( نوره وقوّته وإرادته )</h4>
<p>١- نور ابن الله ( السراج علي المنارة )     إنجيل عشيَّة</p>
<p></p>
<p>سراج حياتنا هو الرب يسوع الذي</p>
<ul>
<li>+ ينير ظلمة القلب</li>
</ul>
<p>&#8221; لأنك أنت سراجي يارب ، والرب يضئ ظلمتي &#8221; (٢صم ٢٢ : ٢٩)</p>
<ul>
<li>+ ويُنير طريق الحياة</li>
</ul>
<p>&#8221; حين أضاء سراجه علي رأسي ، وبنوره سلكت الظلمة &#8221; (أي ٢٩ : ٣)</p>
<ul>
<li>+ ويُنير الأسرة من خلال تقوي الزوجة والأم</li>
</ul>
<p>&#8221; السراج يضئ علي المنارة المُقدَّسة ، وحسن الوجه علي القامة الرزينة &#8221; (يش بن سيراخ ٢٦ : ٢٢)</p>
<ul>
<li>ويُنير مصيرنا الأبدي في مجده السماوي</li>
</ul>
<p>&#8221; والمدينة لا تحتاج إلي الشمس ولا إلي القمر ليُضيئا فيها ، لأن مجد الله قد أنارها ، والخروف سراجها &#8221; (رؤ ٢١ : ٢٣)</p>
<p>٢- قوَّة إبن الله فينا ونصرته لنا علي الشيطان ( يربط القوي أولاً )       إنجيل باكر</p>
<ul>
<li>+ قوَّة مُحرِّرة من إبليس وأفعاله  (أع ٣٨:١٠)</li>
</ul>
<p><strong>يسوع</strong> <strong>الذي</strong> <strong>من</strong> <strong>الناصرة</strong> <strong>كيف</strong> <strong>مسحه</strong> <strong>الله</strong> <strong>بالروح</strong> <strong>القدس</strong> <strong>والقوة،</strong> <strong>الذي</strong> <strong>جال</strong> <strong>يصنع</strong> <strong>خيرا</strong> <strong>ويشفي</strong> <strong>جميع</strong> <strong>المتسلط</strong> <strong>عليهم</strong> <strong>إبليس،</strong> <strong>لأن</strong> <strong>الله</strong> <strong>كان</strong> <strong>معه</strong></p>
<ul>
<li>+ <strong>قوَّة</strong> <strong>شفاء</strong>  (مر ٣٠:٥)</li>
</ul>
<p><strong>فللوقت</strong> <strong>التفت</strong> <strong>يسوع</strong> <strong>بين</strong> <strong>الجمع</strong> <strong>شاعرا</strong> <strong>في</strong> <strong>نفسه</strong> <strong>بالقوة</strong> <strong>التي</strong> <strong>خرجت</strong> <strong>منه،</strong> <strong>وقال</strong>: <strong>من</strong> <strong>لمس</strong> <strong>ثيابي</strong></p>
<ul>
<li>+ قوَّة يقين الإيمان في الداخل   (أف ١٦:٣)</li>
</ul>
<p><strong>لكي</strong> <strong>يعطيكم</strong> <strong>بحسب</strong> <strong>غنى</strong> <strong>مجده،</strong> <strong>أن</strong> <strong>تتأيدوا</strong> <strong>بالقوة</strong> <strong>بروحه</strong> <strong>في</strong> <strong>الإنسان</strong> <strong>الباطن</strong></p>
<p>، (أف ٢٠:٣)</p>
<p><strong>والقادر</strong> <strong>أن</strong> <strong>يفعل</strong> <strong>فوق</strong> <strong>كل</strong> <strong>شيء،</strong> <strong>أكثر</strong> <strong>جدا</strong> <strong>مما</strong> <strong>نطلب</strong> <strong>أو</strong> <strong>نفتكر،</strong> <strong>بحسب</strong> <strong>القوة</strong> <strong>التي</strong> <strong>تعمل</strong> <strong>فينا</strong></p>
<ul>
<li>+ <strong>قوَّة</strong> <strong>تسند</strong> <strong>وقت</strong> <strong>الضعف</strong> (<strong>أش</strong> <strong>٢٩</strong>:<strong>٤٠</strong>)  ( <strong>يعطي</strong> <strong>المعيي</strong> <strong>قدرة،</strong> <strong>ولعديم</strong> <strong>القوة</strong> <strong>يكثر</strong> <strong>شدة</strong></li>
<li>+ قوَّة نواجه بها الضيقات  (نا ١:٢)</li>
</ul>
<p><strong>قد</strong> <strong>ارتفعت</strong> <strong>المقمعة</strong> <strong>على</strong> <strong>وجهك</strong>. <strong>احرس</strong> <strong>الحصن</strong>. <strong>راقب</strong> <strong>الطريق</strong>. <strong>شدد</strong> <strong>الحقوين</strong>. <strong>مكن</strong> <strong>القوة</strong> <strong>جدا</strong></p>
<p>٣- إرادة إبن الله ( من يصنع إرادة الله هو أخي وأختي وأمي )         انجيل القدَّاس</p>
<ul>
<li><strong>+ </strong>إرادة الله خلاص كل البشر (١تي ٢ : ٤)   <strong>الذي</strong> <strong>يريد</strong> <strong>أن</strong> <strong>جميع</strong> <strong>الناس</strong> <strong>يخلصون،</strong> <strong>وإلى</strong> <strong>معرفة</strong> <strong>الحق</strong> <strong>يقبلون</strong></li>
<li>+ إرادة الله قداستكم (١تس ٣ : ٤)    لأن هذه هي إرادة الله قداستكم</li>
<li>+ إرادة الله الحياة الصالحة (١بط ٢ : ١٥) لأن هكذا هي مشيئة الله : أن تفعلوا الخير فتسكِّتوا جهالة الناس الأغبياء</li>
</ul>
<p></p>
<h3>عظات آبائية</h3>
<h4><strong>مفهوم</strong> <strong>التجديف</strong> <strong>علي</strong> <strong>الروح</strong> <strong>القدس</strong> <strong>حسب</strong> <strong>تعليم</strong> <strong>القديس</strong> <strong>أغسطينوس</strong> :</h4>
<p>+ عطيّة الله الأولى في الروح القدس هي &#8220;<strong>مغفرة</strong> <strong>الخطايا</strong>&#8220;؛ هذا ما بدأت به بشارة يوحنا المعمدان السابق للرب&#8230; قائلًا &#8220;<strong>توبوا</strong> <strong>لأنه</strong> <strong>قد</strong> <strong>اقترب</strong> <strong>ملكوت</strong> <strong>السماوات</strong>&#8221; (مت ٣ : ١ &#8211; ٢)، وهو أيضًا ما بدأ به ربّنا بشارته (مت ٤ : ١٧). ومن الأمور التي تحدّث بها يوحنا إلى الذين جاءوا ليعتمدوا منه قوله: &#8220;أنا أعمِّدكم بماء للتوبة ولكن الذي يأتي بعدي هو أقوى منّي، الذي لست أهلًا أن أحمل حذاءه، هو سيعمّدكم بالروح القدس ونار&#8221; (مت ٣ : ١١). وقال الرب أيضًا: &#8220;يوحنا عمّد بالماء وأما أنتم فستعمِّدون بالروح القدس، ليس بعد هذه الأيام بكثير&#8221; (أع ١ : ٥)&#8230; فالنار بالرغم من إمكان فهمها على أنها الضيقات التي يتحمَّلها المؤمنون من أجل المسيح، لكن من المعقول هنا أن المقصود بها الروح القدس نفسه. لذلك عندما حلّ الروح القدس قيل: &#8220;وظهرت لهم ألسنة منقسمة كأنها من نار واستقرّ ت على كل واحد منهم&#8221; (أع ٢ : ٣). وقد قال الرب نفسه: &#8220;جئت لأُلقي نارًا على الأرض&#8221; (لو ١٢ : ٤٩)، ويقول الرسول: &#8220;حارِّين في الروح&#8221; (رو ١٢ : ١١)، لأن من الروح القدس (النار) تأتي غيرة (حرارة) الحب، &#8220;لأن محبّة الله قد انسكبت في قلوبنا بالروح القدس المُعطَى لنا&#8221; (رو ٥ : ٥)، وعلى العكس قال الرب: &#8220;تبرد محبّة الكثيرين&#8221; (مت ٢٤ : ١٢). إذن الحب الكامل هو عطيّة الروح القدس (النار) الكاملة، لكن عطيّته الأولى هي غفران الخطيّة التي بها أنقذنا من سلطان الظلمة (كو ١ : ١٣) ، ومن رئيس هذا العالم (يو ١٢ : ٣١) الذي يعمل الآن في أبناء المعصية (أف ٢ : ٢)&#8230; فالروح القدس الذي به يجتمع شعب الله في واحد يُطرد الروح الشرّير المنقسم على ذاته</p>
<p>+ فالقلب غير التائب ينطق بكلمة ضدّ الروح القدس، ضدّ هذه العطيّة المجّانيّة، وضد النعمة الإلهيّة. عدم التوبة هو التجديف على الروح القدس الذي لن يغفر لا في هذا العالم ولا في الآتي</p>
<p>+ عدم التوبة أو القلب غير التائب أمر غير مؤكّد طالما لا يزال الإنسان حيًا في الجسد. فعلينا ألا نيأس قط من إنسان مادامت أناة الله تقود الشرّير إلى التوبة، ومادام الله لم يأخذه سريعًا من هذا العالم: &#8220;هل مسرَّةً أُسرُّ بموت الشرّير يقول الرب، إلا برجوعه عن طرقه فيحيا؟!&#8221; (حز ١٨ : ٢٣). قد يكون الإنسان اليوم وثنيًا لكن من أدراك فقد يصبح مسيحيًا في الغد&#8230; ليحثك الرسول أيها الأخ قائلًا: &#8220;لا تحكموا في شيء قبل الوقت&#8221; (١كو ٤ : ٥)&#8230; أكرّر قولي بأن التجديف لا يمكن أن يثبت على إنسان بأي حال من الأحوال مادام على قيد الحياة.</p>
<p>+ حقًا إن كل خطيّة وتجديف يُغفر للبشر ليس فقط، ما يقال ضدّ ابن الإنسان. فمادامت لا توجد خطيّة عدم التوبة، هذه التي توجّه ضدّ الروح القدس الذي به تغفر الكنيسة جميع الخطايا، فإن جميع الخطايا تُغفر&#8230; إن قول رب المجد: &#8220;من قال كلمة على ابن الإنسان يُغفر له وأما من قال على الروح القدس فلن يُغفر له&#8221; لا يعني أن الروح القدس أعظم من الابن، فإنّنا لم نسمع عن هرطقة نادت بهذا. إنّما يُقصد بهذا أن من يقاوم الحق ويجدّف عليه، أي على المسيح بعد إعلانه عن ذاته بين البشر، إذ &#8220;صار جسدًا وحلّ بيننا&#8221; (يو ١ : ١٤) &#8230; ولم يقل كلمة على الروح القدس أي عاد فتاب عن مقاومته وتجديفه على المسيح فإن خطاياه تغفر له&#8230; الروح القدس مساوٍ للآب والابن الوحيد في الجوهر حسب لاهوته</p>
<p>+ لقد شرح الرب بوضوح ما رغب أن يعرِّفنا إيّاه: وهو أن من يجدف على الروح القدس -أي يقاوم بعدم توبته- ويقاوم وحدة الكنيسة التي فيها يعطي الروح القدس مغفرة الخطايا، لا يأخذ هذا الروح القدس&#8230; ولئلا يظن أحد أن ملكوت المسيح منقسم على ذاته بسبب هؤلاء الذين يجتمعون في جماعات شاذّة خارج الحظيرة تحت اسم المسيح، لذلك أردف قائلًا &#8220;<strong>من</strong> <strong>ليس</strong> <strong>معي</strong> <strong>فهو</strong> <strong>عليّ</strong> <strong>ومن</strong> <strong>لا</strong> <strong>يجمع</strong> <strong>معي</strong> <strong>فهو</strong> <strong>يفرق</strong>&#8221;  (مت ١٢ :٣٠)&#8230; فالذي يجمع بدون المسيح، مهما جمع باسمه لا يكون معه الروح القدس. وبهذا يجبرنا على أن نفهم بأنه لا يتمّ الغفران عن أي خطيّة أو تجديف -بأي حال من الأحوال- إلا باتّحادنا معًا في المسيح الذي لا يفرق.</p>
<h4>تفسير إنجيل متي (الإصحاح الثاني عشر ) &#8211; القمص تادرس يعقوب ملطي</h4>
<h4><strong>معني</strong> <strong>التجديف</strong> <strong>علي</strong> <strong>الروح</strong> <strong>القدس</strong> <strong>عند</strong> <strong>القديس</strong> <strong>كيرلس</strong> <strong>الأسكندري</strong> :</h4>
<p>الاعتراف <strong>بالمسيح</strong> <strong>وإنكاره</strong></p>
<p>(لو ١٢: <strong>٨</strong> – <strong>١٠</strong>) &#8221; <strong>وأقول</strong> <strong>لكم</strong> <strong>كل</strong> <strong>من</strong> <strong>اعترف</strong> <strong>بى</strong> <strong>قدام</strong> <strong>الناس</strong> <strong>يعترف</strong> <strong>به</strong> <strong>قدام</strong> <strong>الناس</strong> <strong>يعترف</strong> <strong>به</strong> <strong>ابن</strong> <strong>الإنسان</strong> <strong>قدام</strong> <strong>ملائكة</strong> <strong>الله</strong>. <strong>ومن</strong> <strong>أنكرنى</strong> <strong>قدام</strong> <strong>الناس</strong> <strong>ينكر</strong> <strong>قدام</strong> <strong>ملائكة</strong> <strong>الله</strong>. <strong>وكل</strong> <strong>من</strong> <strong>قال</strong> <strong>كلمة</strong> <strong>على</strong> <strong>ابن</strong> <strong>الإنسان</strong> <strong>يغفر</strong> <strong>له</strong> <strong>وأما</strong> <strong>من</strong> <strong>جدف</strong> <strong>على</strong> <strong>الروح</strong> <strong>القدس</strong> <strong>فلا</strong> <strong>يغفر</strong> <strong>له</strong> &#8220;.</p>
<p>هنا أيضاً يا من تحبون أن تسمعوا، املأوا نفوسكم بكلمات القداسة، اقبلوا في داخلكم معرفة التعاليم المقدسة لكى إذا تتقدمون بنجاح في الإيمان ، فأنكم تحصلون على أكليل المحبه والثبات في المسيح ، لأنه يمنحه ليس لضعاف القلوب التي تهتز بسهولة ، ولكن بالأولى لأولئك الذين يستطيعون أن يقولوا بحق &#8221; لى الحياة هي المسيح والموت هو ربح &#8221; (في ١ :٢١) . لأن هؤلاء الذين يعيشون بقداسة، يعيشون للمسيح، أولئك الذين يحتملون الأخطار لأجل التقوى يربحون الحياة غير الفاسدة ، إذ يكللون معه أمام منبر قضائه . هذا هو ما يعلمنا إياه بقوله: &#8221; كل من اعترف بى قدام الناس يعترف به ابن الإنسان أيضاً قدام ملائكة الله &#8221; .</p>
<p>إذن فهو شيء يعلو فوق كل الأشياء الأخرى وهو جدير بانتباهنا، أن نفحص من هو الذى يعترف بالمسيح ، وبأية طريقة يمكن أن يعترف بالمسيح ، بأيه طريقة يمكن أن يعترف به بحق وبلا لوم ، لذلك فإن بولس  الحكيم جداً يكتب لنا : &#8221; لا تقل في قلبك من يصعد الى السماء ؟ أي ليحدر المسيح ، أو من يهبط إلى الهاوية ؟ أي ليصعد المسيح من الأموات ، لكن ماذا يقول الكتاب ؟ الكلمة قريبة منك ، في فمك وفى قلبك ، أي كلمة الإيمان التي تكرز بها ، لأنك إن اعترفت بفمك بأن يسوع هو الرب وآمنت بقلبك أن الله أقامه من الأموات فسوف تحيا، &#8221; لأن بالقلب يؤمن الإنسان للبر وبالفم يعترف للخلاص &#8221; (رو ١٠ : ٦- ١٠) .</p>
<p>يشرح الرسول بهذه الكلمات سر المسيح بطريقة ممتازة جداً. فأول كل شيء يجب أن نعترف أن الأبن المولود من الله  الآب  ، هو الابن الوحيد لجوهره ، وأنه هو الله الكلمه  وهو رب الكل ، وليس كمن وهبت له الربوبية من الخارج ، بالانتساب ، بل هو الرب بالطبيعة وبالحق مثل الآب تماماً ، ويجب بعد ذلك أن نؤمن أن &#8221; الله أقامه من الأموات &#8221; أي أنه عندما صار إنسانًا ، فإنه قد تألم من أجلنا بالجسد ، ثم قام من  الأموات .</p>
<p>فالابن إذن – كما قلت – هو رب ، ولكن لا يجب أن يحسب بين أولئك الأرباب الآخرين الذين يعطى لهم وينسب إليهم اسم الربوبيه ، لأنه – كما قلت – هو وحده الرب بالطبيعة ، لكونه الله الكلمة ، الذى يفوق كل شيء مخلوق ، وهذا ما يعلمنا إياه الحكيم بولس بقوله : &#8221; لأنه وإن وجد ما يسمى آلهه في السماء أو على الأرض – كما يوجد آلهه كثيرون وأرباب كثيرون – لكن لنا إله واحد الآب الذى منه جميع الأشياء ونحن منه ، ورب واحد يسوع المسيح الذى به جميع الأشياء ونحن به &#8221; (١كو ٨ : ٦) .</p>
<p>ولكن رغم أنه يوجد إله واحد الذى اسمه الآب ، ورب واحد الذى هو الابن ، ولكن لا الآب كف عن أن يكون رباً بسبب كونه الله بالطبيعة ، ولا الابن توقف عن أن يكون هو الله بسبب كونه رب بالطبيعة ، لأن الحرية الكاملة هي صفة الجوهر الإلهى الفائق وحده ، وأن يكون بعيداً عن نير العبودية ، أو بالأحرى فإن الخليقة تكون خاضعة تحت قدميه ، لذلك رغم أن كلمة الله الوحيد الجنس صار مثلنا ، وإذ اتخذ قياس الطبيعة البشرية ، فإنه وضع تحت نير العبودية ، لأنه دفع عن قصد – الدرهمين لجباة الضرائب اليهود بحسب ناموس موسى ، إلا أنه لم يخبئ المجد الذى سكن فيه ، لأنه سأل المغبوط بطرس &#8221; ممن يأخذ ملوك الأرض الجباية أو الجزية ، أمن بنبيهم أم من الأجانب ؟ ولما قال من الأجانب ، عندئذ أجابه : إذن البنون أحرار &#8221; (مت ١٨ : ٢٥ : &#8211; ٢٦) .</p>
<p>كذلك فالابن في طبيعته الذاتية هو رب لأنه حر ، كما يعلمنا الحكيم بولس أيضاً ويكتب :  &#8221; ونحن جميعاً ناظرين مجد الرب بوجه مكشوف كما في مرآه نتغير إلى تلك الصورة  عينها من مجد إلى مجد كما من الرب الروح &#8221; (٢كو ٣ : ١٨) &#8221; وأما الرب فهو الروح ، وحيث روح الرب فهناك حرية &#8221; (٢كو ٣ : ١٧) .</p>
<p>لذلك لاحظ كيف يؤكد أن الروح هو رب . لا كمن يملك البنوة إذ إنه هو الروح وليس الأبن ، بل لكونه واحداً مع الأبن في الجوهر ، الذى هو رب وحر ، وقد تبرهن بهذه مساواة الطبيعة معه أن تلك الحرية التي تليق بالله . إذن ، فمن يعترف بالمسيح أمام الناس أنه إله ورب ، فسوف يعترف به المسيح أمام ملائكة الله ولكن متى ؟ واضح أنه في الوقت الذى سوف ينزل فيه من السماء في مجد أبيه مع الملائكة القديسين عند نهاية هذا العالم  ، وعندئذ سوف يكون يكلل المعترف الحقيقى به ، الذى له إيمان  غير متزعزع وأصيل ، وهكذا يقدم اعترافه ، وهناك أيضاً سوف يضئ جماعة الشهداء القديسين الذين احتملوا الضيقات كل الحياة وحتى الدم ، وكرموا المسيح باحتمالهم وصبرهم ، لأنهم لم ينكروا المخلص ، ولا كانوا يجهلون مجده ، بل احتفظوا بولائهم له . مثل هؤلاء  سوف يمدحون من الملائكة القديسين الذين أيضاً سوف يمجدون المسيح مخلص الجميع ، لأنه منح القديسين تلك الكرامات التي تحق لهم بنوع خاص ، وهذا ما يعلنه المرتل أيضاً ، &#8221; وتخبر السماوات بعدله ، لأن الله هو الديان &#8221; (مز ٤٩ : ٦ س) ، وهذا سوف يكون نصيب أولئك الذين يعترفون به .</p>
<p>أما الباقون الذين أنكروه واحتقروه ، فسوف ينكرهم ، عندما يقول لهم الديان ، كما تكلم  أحد الأنبياء القديسين في القديم : &#8221; كما فعلت سيفعل بك ، وعملك يرتد على رأسك &#8221; (عوبديا ١٥) وسوف ينكرهم بهذه الكلمات : &#8221; اذهبوا عنى يا فاعلى الاثم ، إننى لست أعرفكم &#8221; (لو ١٣ : ٢٧) . من هم هؤلاء الذين سوف ينكرهم ؟ أولاً : هم أولئك الذين عندما ضغط عليهم الاضطهاد ولا حقتهم  المحن . تركوا الإيمان . إن رجاء مثل هؤلاء سوف يفارقهم تماماً من جذوره ولمثل هؤلاء لا تكفي كلمات بشرية لوصف حالتهم  ، لأن الغضب والدينونة والنار التي لا تطفأ سوف تبتلعهم . وبطريقة مماثلة  ،فإن معلمى الهرطقة وتابعيهم ينكرونه لانهم يجترئون ويقولون إن كلمة الله الوحيد الجنس ليس هو الله بالطبيعة وبالحق ، ويطعنون في ولادته التي لا ينطق بها ، بقولهم إنه ليس من جوهر الآب ، بل وبالآحرى يحسبون من هو خالق الكل ضمن الأشياء المخلوقة . ويصنفون ذلك الذى هو رب الكل مع أولئك الذين هم  تحت نير العبودية ، رغم أن بولس يؤكد أننا يجب أن نقول إن &#8221; يسوع رب &#8221; (في ٢ :  ١١).</p>
<p>كما أن تلاميذ &#8221; ثرثرة نسطور يوس الباطلة &#8221; أيضاً ينكرونه بقولهم بابنين ، واحد زائف ، والأخر حقيقى : الحقيقى هو كلمة الآب ، والزائف هو الذى يملك كرامة واسم ابن بالأنتساب فقط . وهو بأسلوبهم هذا فقط هو ابن ، ونبت من نسل المبارك داود بحسب الجسد . إن دينونة هؤلاء أيضاً هي ثقيلة جداً ، لأنهم &#8221; ينكرون الرب الذى اشتراهم &#8221; (٢بط ٢ :١) ولم يفهموا سر تدبيره في الجسد ، لأنه يوجد &#8221; رب واحد وإيمان واحد كما هو مكتوب (اف ٤ : ٥) .</p>
<p>فنحن لا نؤمن بإنسان  وبإله ، ولكن برب واحد الكلمة الذى هو من الله الآب  ، الذى صار إنساناً واتخذ لنفسه جسدنا . فلذلك فإن هؤلاء أيضاً يحسبون ضمن من ينكرونه .</p>
<p>وقد علمنا الرب أن التجديف هو جريمة عظيمة جداً يرتكبها الناس ، بقوله أيضاً : &#8221; كل من قال كلمة على ابن الإنسان يغفر له ، وأما من جدف على الروح القدس فلا يغفر له &#8221; . فبأية طريقة يجب أن نفهم هذا أيضاً ، إذا كان المخلص يقصد هذا ، وهو إنه إذ استعملت كلمة احتقار من أي إنسان منا تجاه إنسان عادى فإنه سوف يحصل على الغفران إذا ما تاب فإن الأمر يكون خالياً من أي صعوبة ، لأن الله إذ هو صالح بالطبيعة ، فإنه سوف يبرئ من كل لوم جميع الذين يتوبون . ولكن إن كان التجديف موجه إلى المسيح نفسه، مخلص الكل فكيف يمكن أن يتبرأ أو ينجو من الدينونة ذلك الذى يتكلم ضده ؟ فما نقوله إذن هو هذا : أي شخص ، لم يتعلم بعد معنى  سر المسيح ، ولم يفهم أنه إذ هو بالطبيعة الله ، وقد وضع نفسه ونزل إلى حالتنا ، وصار إنساناً ، ثم يتكلم هذا الإنسان ، أي شيء ضده ( المسيح ) ، ويجدف لحد ما ، ولكن ليس بدرجه الشر التي تفقده الغفران ، فالله سوف يغفر لأولئك الذين أخطأوا عن جهل . ولكي أوضح ما أعنيه بمثال. فإن المسيح قال في موضع ما : &#8221; أنا هو الخبز الحى النازل من السماء والمعطى الحياة للعالم &#8221; (يو ٦ : ٥١) . لذلك فبسبب أن البعض لم يعرفوا مجده، بل ظنوا أنه إنسان، فإنهم قالوا &#8221; أليس هو ابن النجار الذى نحن عارفون بأبيه وأمه ، فكيف يقول إنى نزلت من السماء ؟ &#8221; . وفى مرة آخرى بينما كان واقفاً يعلم في المجمع حتى تعجب منه الجميع، لكن البعض قالوا : &#8221; كيف هذا يعرف الكتب وهو لم يتعلم  &#8221; (يو ٧ : ١٥) ، لأنهم لم يكونوا يعرفون طبعاً أن &#8221;  فيه مذخر كل كنوز الحكمة والعلم &#8221; (كو ٢ : ٣) . مثل هذه الأمور يمكن أن تغفر، إذا قيلت بتهور عن جهل.</p>
<p>أما من جهة أولئك الذين قد جدفوا على اللاهوت نفسه فإن الدينونة محتمه والعقاب ابدى في هذا العالم وفى الآتى . لأنه يقصد بالروح هنا ليس فقط الروح القدس ولكن كل طبيعة الألوهه، وكما هو معروف إنها هي طبيعة الآب والأبن والروح القدس . والمخلص نفسه يقول في مكان ما: &#8221; الله روح &#8221; (يو ٤ : ٢٤) . فالتجديف على الروح هو على كل الجوهر الفائق ، لأنه كما قلت ، إن طبيعة الألوهه كما أعلنت لفهمنا  هي الثالوث القدوس المسجود له الذى هو واحد . ليتنا إذاً كما يقول يشوع ابن سيراخ في حكمته: &#8221; نضع باباً ومزلاجاً للسان &#8221; (يشوع ابن سيراخ ٢٨: ٢٥) ، ونقترب بالأكثر نحو الله ولنقل : &#8221; ضع يارب حافظاً لفمى وباباً حصيناً لشفتى &#8221;  ، ولا تمل قلبى إلى كلام الشر &#8221; (مز ١٤٠ : ٣ س) . لأن تلك التجاديف هي كلمات رديئه ضد الله. وهكذا إن كنا نخاف الله حقاً فالمسيح سوف يباركنا، الذى به ومعه لله الآب التسبيح  والسلطان مع الروح  القدس إلى دهر الدهور أمين .</p>
<p><strong>كتاب</strong> <strong>تفسير</strong> <strong>إنجيل</strong> <strong>لوقا</strong> <strong>للقديس</strong> <strong>كيرلس</strong> <strong>الأسكندري</strong> <strong>صفحة</strong> <strong>٤١٩</strong> &#8211; <strong>ترجمة</strong> <strong>دكتور</strong> <strong>نصحي</strong> <strong>عبد</strong> <strong>الشهيد </strong></p>
<h4><strong>القديس غريغوريوس النيسي</strong></h4>
<p>أختى <strong>العروس</strong> <strong>جنة</strong> <strong>مغلقة</strong> :</p>
<p>هنا يمدح العريس عروسه ويقول لها أختى &#8230; ثم يقول لها أيضا العروس هى أختى لأنها تصنع مشيئته &#8221; لأن من يصنع مشيئه الله هو أخى وأختى وأمى &#8221; (مر٣: ٣٥) وهى عروس الرب لأنها قريبة جدا اليه ومتحدة معه.وهى جنة مزدهرة لأنها تحمل فى داخلها كل أنواع الأشجار المثمرة الجميلة ، حيث يوجد فيها التين الحلو والزيتون المثمر والنخيل العالى والكرمة المملوءة بالعناقيد ولا يوجد فيها أى أشواك أو أشجار غير مثمرة . تلك الحديقة التى تحدث عنها أشعياء النبى فقال &#8221; عوضا عن الشوك ينبت سرو وعوضا عن القريس يطلع آس ( نبات عطرى له رائحة حلوة ) ويكون للرب أسما علامة أبدية لا تنقطع &#8221; (أش٥٥: ١٣)  قال داود النبى عن تلك الحديقة &#8221; الصديق كالنخلة يزهو كالأرزفى لبنان ينمو . مغروسين فى بيت الرب فى ديار الهنا يزهرون&#8221; (مز٩٢: ١٢-١٣) وقال أيضا داود النبى&#8221; أما أنا فمثل زيتونة خضراء فى بيت الله &#8221; ( مز٥٢: ٨) وقال أيضا داود المرنم &#8221; أمرأتك مثل كرمة مثمرة فى جوانب بيتك &#8221; (مز١٢٨: ٣) وتحدث ميخا النبى عن جنة النفس أيضا فقال &#8221; بل يجلسون كل واحد تحت كرمتة وتحت تينته ولا يكون من يرعب لأن فم رب الجنود قد تكلم&#8221;(ميخا ٤:٤) .وليس من الضرورى أن نشرح المعنى الرمزى لكل من هذه الأشجار ولكن واضحا لكل أحد أن الثمر الحلو الذى لشجرة التين ، فهى فى الأول تكون الثمرة مرة وعصيرها لاذع ولا يمكن أن نأكلها ولكنها بعد أن تنضج تصير ثمرة لذيذة ومبهجة لكل حواس الروح . ووفرة محصول الزيتون الذى نجنية من أشجار الزيتون يكون أولا مر ولكن بعد أن يأخذ العناية الوافرة ويتحول الى زيتون حقيقى ويؤخذ زيته للأضاءة وللدهن حتى يخفف الآلم ويعطى الراحة ويستعمل فى سر الميرون . أما ثمار النخيل فهى عالية جدا وبعيدة عن الأرض ويصعب على اللصوص أن يسرقوه ولنلاحظ أيضا رائحة الكرم الجذابة ورائحة السرو وحلاوة التين ونستطيع أن نأخذ معنى رمزى من كل هذه الأشجار وهى أن تمتلىء النفس بثمار الفضائل المختلفة وتصير مثل الحديقة المثمرة . أما معنى أن الحديقة مغلقة فهو وجود سور يحيط بها من كل ناحية وذلك السور هو الوصايا الالهية حتى لا يستطيع أى لص أو حيوان أن يتسلل داخلها ويفسد أشجارها . وسياج النفس من كل جانب بالوصايا الالهية يجعلها حديقة قوية فى أسوارها ،تلك النفس التى قال عنها العريس &#8221; أختى العروس جنة مغلقة &#8220;(نش٤: ١٢)  ولذلك يقول المزمور &#8221; يا اله الجنود أرجعن اطلع من السماء وأنظر وتعهد هذه الكرمة والغرس الذى غرسته يمينك والابن الذى أخترته لنفسك &#8221; (مز٨٠: ١٤-١٥) .</p>
<p></p>
<p>المرجع : كتاب من مجد الي مجد للقديس غريغوريوس النيسي ( صفحة ١٦٣ ) &#8211; ترجمة القمص إشعياء ميخائيل</p>
<h3><strong><br />
عظات أخري آبائية</strong></h3>
<p><strong>يمكن الرجوع لعظات أخري في الأحد الثالث من شهر مسري</strong></p>
<h3><strong>عظات آباء وخدَّام معاصرين</strong></h3>
<p><strong>يمكن أيضاً الرجوع لعظات الأحد الثالث من شهر مسري</strong></p>
<h4><strong>أيضاً للقديس القمص بيشوي كامل</strong></h4>
<p>مجرد <strong>اسم</strong> <strong>يوستينه</strong> <strong>أقوى</strong> <strong>كرازة</strong></p>
<p>قال الساحر كبريانوس  من أشهر سحرة العالم الكفرة فى عصره  قال &#8221; لقد أحضرت وجمعت كل قوى الشر وأعظم الشياطين لغواية يوستينه  الفتاة البسيطة  ولكن جميعهم فشلوا ورجعوا خائبين &#8230; &#8221; .</p>
<p>عندئذ قلت لرئيس الشياطين الذى طالما عمل معى فى اسحارى  قلت له &#8221; ان كنتم بكل قوتكم وجنودكم تضعفون أمام فتاة ضعيفة فلابد أن يكون اله هذه الفتاة أعظم منكم &#8230; من أجل هذا لم تقدروا على تغيير قلب يوستينه فأنا لن أدين الا باله يوستينه الذى وقف معها وخزاكم &#8230;&#8221; وبشجاعة نادرة قام ولعن كل شياطينه ، وأحرق كتبه وأعلن على الملأ &#8221; أنا عبد يسوع المسيح  الاله الحقيقى اله يوستينه &#8221; .</p>
<p>يوستينه <strong>الكارزة</strong> :</p>
<p>لقد كرزت يوستينة الضعيفة بدون كلمة واحدة ، كرزت باذلالها للشيطان واظهار ضعفه أمام المسيح الذى تمسكت به ، وكرزت فحولت ساحرا مفتريا الى أسقف شهيد ، حولته من أعمق درجات الشر الى أعلى درجات القداسة ، ان يوستينه ترسم لنا بمنهج عملى كيف أن أضعف انسان فنيا اجتماعيا أو ماديا يقدر أن يخدم المسيح ويكرز له باذلاله الشيطان .</p>
<p><strong>أولا</strong> : <strong>الصلاة</strong> <strong>الدائمة</strong> <strong>برج</strong> <strong>حصين</strong> :</p>
<p>والسنكسار يذكر لنا تحت يوم 21 توت ( تذكار والدة الاله ) أن شابا من أكابر أولاد أنطاكية قد هوس بشابة مسيحية عذراء تدعى يوستينه ، كان قد رأها أثناء ذهابها الى البيعة . فالتهب قلبه بحبها ولكنها لم تعبأ به ولا بماله ولم تخشى تهديده ، فقصد الشاب ساحرا مشهورا اسمه كبريانوس كان قد حضر من بلاد المغرب ليستعرض أسحاره فى بلاد أنطاكية لأن صيته قد بلغ الآفاق ، فشكا له الشاب حاله وفشله فى تغيير قلب يوستينه . فوعده الساحر المشهور كبريانوس ببلوغ أمله ، ثم عمل كل فنون سحره ولكنه فشل . لأنه كلما أرسل اليها قوة شيطانية يجدونها تصلى فيعودون بالخيبة .</p>
<p>فانظروا يا أخوتى سر القوة الالهية فى يوستينة الفتاة البشرية ، انها كانت تتمم قول الرب يسوع لتلاميذه قوموا وصلوا لئلا تدخلوا فى تجربة (لو ٢٢ : ٤٦) الذى لو نفذه بطرس الرسول لما سقط فى الانكار والسب واللعن ، ولما غربله الشيطان أو استهزأ به .</p>
<p>❖ احترزوا لأنفسكم لئلا تثقل قلوبكم فى خمار وسكر وهموم الحياة فيصادفكم ذلك اليوم بغتة  لأنه كالفخ &#8230; اسهروا اذن وتضرعوا فى كل حين لكى تحسبوا أهلا للنجاة &#8230;(لو ٢١ : ٢٤ ، ٢٦) .</p>
<p>❖ &#8221; اصحوا واسهروا لأن ابليس خصمكم كأسد زائر يجول ملتمسا من يبتلعه هو &#8220;(١بط ٥: ٨ ) .</p>
<p>لذلك فالصلاة الدائمة = حصانة دائمة . يوستينة شابة ضعيفة لكن بالصلاة الدائمة هى فى قوة الله اللانهائية . لقد انخدع كبريانوس وشياطينه وظنوها فتاة ضعيفة كانسانة بشرية ، نظروا لضعف جسمها ورقة حالها وقلة امكانياتها وأنها كبقية بنات العالم ، ولكن كبريانوس وشياطينه ذهلوا عندما اكتشفوا أن يوستينه يستعلن الله فيها قوته غير المحدود كقول الرسول &#8221; حينما أنا ضعيف فحينئذ أنا قوى &#8220;(٢كو ١٢: ١٠) .</p>
<p>❖ الصلاة الدائمة تستعلن قوة الله الدائمة لوجود روحه الدائم بداخلنا .</p>
<p>❖ الصلاة الدائمة تضيف للانسان قوة الله اللانهائية .</p>
<p>❖ الصلاة الدائمة تضيف للانسان هيبة الله العظيمة .</p>
<p>❖ ان الكنيسة يا أخوتى فى شبابها قوة رهيبة أمام أعظم قوى الانحلال والالحاد والاغراء والتهديد ، كلهم حاملين سيوف ومتعلمين الحرب &#8221; ان الكنيسة &#8221; مرهبة كجيش بألوية &#8221; . نحن مطالبون اليوم يا أخى باستعلان قوة الله غير المحدودة ( التى نلناها بالمعمودية ومسحة الميرون ) فى حياتنا  فى حياة القطيع الصغير  أى الكنيسة العظيمة ليس بالكنيسة ضعفاء بل بالكنيسة أقوياء بقوة طهارة المسيح ، وقوة محبة المسيح ، وقوة قداسة المسيح .</p>
<p><strong>ثانيا</strong> : <strong>الصلاة</strong> <strong>الدائمة</strong> <strong>دفاع</strong> <strong>ايجابى</strong> :</p>
<p>من الخطر أن يواجه الانسان الشر والشيطان وحده ، ومن الخطر أن يمتنع الانسان عن اغراءات العالم وحده . فهذا سيتحول الى كبت وحرمان ، ولكن بالصلاة الدائمة نشبع من الله ويستعلن قوة الروح فى ضعفنا فنمتلىء حبا ونشكر الله دائما لأننا نملك أقوى قوة فى حياتنا ونحسب أن كل ما كان لنا ربحا فى العالم فهو نفاية &#8230; بالصلاة الدائمة نكتشف عظمة غنانا بالمسيح ، وعظمة قوتنا بالمسيح ، وعظمة انتصارنا بالروح الساكن فينا ، ويستعلن أمجاد الرب فى ضعفنا البشرى .</p>
<p><strong>ثالثا</strong> : <strong>مجرد</strong> <strong>اسم</strong> <strong>يوستينه</strong> <strong></strong> <strong>أقوى</strong> <strong>كرازة</strong> :</p>
<p>ولما تعب الشيطان وعجز لأن فى كل مرة يذهب اليها يجد اسم يسوع على لسانها ، عندئذ دعا كبريانوس كبير الشياطين حيلة وقال له : ان لم تحضر الى يوستينه أعتنق المسيحية . فاستنبط كبير الشياطين حيلة يخدعه بها . وذلك أنه أمر أحد جنوده أن يتزين بزيها ويظهر فى صورتها ويأتيه . ثم سبق وأعلم كبريانوس بمجيئها . ففرح وظل يرقبها . واذا بالشيطان المتشبه بها قد دخل اليه ففرح جدا كبريانوس وقام ليعانقها . ولعظم ابتهاجه بها قال لها مرحبا بسيده النساء يوستينه ، فعند ذكره ، مجرد اسمها فقط انحل الشيطان المتشبه بها وفاحت رائحة نتنة . فعلم كبريانوس الساحر أنها خديعة من الشيطان الذى لم يستطع أن يقف قبالة ذكر اسمها فقط ، فقام لوقته وأحرق كتبه وتعمد من بطريرك أنطاكية .</p>
<p>مجرد اسم يوستينه فقط :</p>
<p>الذين ثبتوا فى المسيح ، حملوا اسم المسيح ، لذلك فاسمهم مرتبط بالمسيح . &#8221; ودعى التلاميذ مسيحيين أولا فى أنطاكية &#8221; (أع ١١: ٢٦) . ومن أجل ارتباطنا باسم المسيح ، فالمسيح يجدف على اسمه بسبب تصرفاتنا الرديئة ، واسم المسيح يتمجد عندما يثبت فينا فتخرج منا رائحة المسيح الذكية . لو كانت توبة كبريانوس تمت بواسطة بطريرك أو أسقف أو واعظ مشهور &#8230; لربما قلنا ان هذا حدث من أجل قدرته وبلاغته وحنكته &#8230; لكن ماذا نقول هنا ، ان الله مستعد أن يكرز بمجرد اسمك يا أخى القارىء . بمجرد اسمك فقط يا أختى القارئة &#8230; لو ثبتم فى المسيح .</p>
<p><strong>سر</strong> <strong>الكرازة</strong> :</p>
<p>❖ ان يوستينه كشفت لنا سر القوة الالهية فى الكرازة ، ان كل شاب أو شابة أو رجل أو امرأة يثبت فى المسيح بالصلاة الدائمة ووسائط النعمة &#8230; يصبح مجرد ذكر اسمه قوة لا يستهان بها . يصبح اسم الفتاة المسيحية نورا ، والموظف المسيحى نورا ، والشاب المسيحى نورا ، &#8230; مجرد الاسم كرازة .</p>
<p><strong>اذلال</strong> <strong>الشيطان</strong> <strong>باسم</strong> <strong>يسوع</strong> <strong>كرازة</strong> <strong>للمسيح</strong> :</p>
<p>لم يكن ممكنا أن يهتز هذا الساحر العاتى بعظات أعظم الوعاظ &#8230; بقدر ما هزته قوة يوستينه التى أذلت الشيطان فى داخل مخدعها ، فالعالم اليوم يا أخوتى يتطلع الى الشاب القوى الذى يغلب الشر . ان الشباب لا يحتاج الى نصح بقدر ما يحتاج الى أن يرى النفوس التى لها سلطان أن تدوس الحيات والعقارب وكل قوات العدو  فالانتصار الشخصى على الشيطان  انتصار الكنيسة كلها  وكرازة للمسيح &#8221; ان الذين تابوا بسيرة توبة أغسطينوس بعد مماته أكثر بكثير من الذين تابوا بعظاته &#8230;</p>
<p>لذلك يا أخى لنذل الشيطان فى مخادعنا ونخرج للعالم بالقوة الالهية . لنكشف للآخرين ضعف الشيطان ونفضحه وكل ألاعيبه واغراءاته ، ونعلن لهم سر النصرة العجيبة .</p>
<p>فى تذكار العذراء مريم استشهد كبريانوس ويوستينه :</p>
<p>وبعد أن نما كبريانوس فى النعمة رسمه بطريرك أنطاكية شماسا فقسا وأخيرا جعلوه أسقفا ، فأخذ القديسة يوستينه وعينها رئيسة على دير الراهبات هناك . ولما علم الملك داكيوس بأمرهما استحضرهما ليبخرا للأصنام فرفضا ، فعذبهما بعذابات كثيرة .</p>
<p>وأخيرا ضرب رقبتيهما بالسيف &#8230;. فى سنة ٢٥٧ م ، وتعيد لهما الكنيسة مع تذكار والدة الاله فى ٢١ توت ، شفاعتهما وصلواتهما تكون مع الكنيسة الكارزة آمين .</p>
<p>المرجع : كتاب نبذات روحية هادفة ( الجزء الأول مقالة رقم ٢ ) &#8211; القمص بيشوي كامل &#8211; مشروع الكنوز القبطية</p>
<h4><strong>القديس</strong> <strong>كبريانوس</strong> <strong>والإستشهاد للقمص أثناسيوس فهمي جورج</strong></h4>
<p>وننتقِل لشمال أفريقيا، إلى قرطاچنة حيث تطور عِلْم المارتيرولوچي، على يد القديس كبريانوس الأسقف والشهيد الذي كتب مقالة مُعنونة ”الحث على الاستشهاد“ مُوجهة إلى فورتوناتوس يقول فيها ”نحن الذين – بسلطان من الرب – منحنا المؤمنين العِمَاد الأوَّل، علينا أن نُعِد كلٍ منهم للعِمَاد الثاني بحثُّهم وتعليمهم أنَّ هذا العِمَاد أعظم في النعمة، وأسمى في القُوَّة وأرفع في الشرف.. بمعمودية الماء ننال غُفران الخطايا، وبمعموديِة الدم نظفر بإكليل الفضائِل، إننا على أبواب حرب قاسية وشديدة، وعلى جنود المسيح أن يُعدِّوا ذواتهم لها بإيمان حي وشجاعة قوية، واضعين في اعتبارِهِم أن يشربوا يوميًا كأس دم المسيح حتى يُمكنهم بذلك أن يسفُكوا دِمائهم لأجله.</p>
<p>ويستطرِد الشهيد كبريانوس فيقول ”أنَّ العذابات في أزمنة ضد المسيح، تستلزِم أن نُعِد لها قلوبنا ونُشجِع نِفوس الأُخوة لكي نكون جميعًا مُستعدين للنِضال السماوي الروحاني، فليثبُت إيماننا ولنتسلَّح بكلمة الله، ومن واجبي أن أُعِد شعب الله الذي ائتمنني عليه ليكون كجيش في المُعسكر السمائي ليُواجهوا سِهام وأسلحة إبليس، ولا يمكن لمن لم يتمرن على القِتال أن يكون جُندِيًا صالِحًا للرب أو أن يفوز بإكليل الجِهاد، ها أنا أُرسِل لكم ثوب الأُرجوان الذي للحَمَل الحقيقي الذي فدانا وأحيانا، لكي تفصَّلوه لأنفُسكم فيصير ثوبًا خاصًا بكم، حتى يتغطَّى عُرينا القديم بثِياب المسيح: ثياب تقديس النعمة السمائية. استجيبوا لبوق الحرب، لقد أخذنا بتدبير الرب المعمودية الأولى، وليكُن كل واحد منا مُستعِد للمعمودية الثانية أيضًا، معموديِة الدم، أنَّ نِعمِتها أعمق وقُوَّتها أعظم وكرامِتها أثمن، التي يتمجد بها الله والمسيح، التي ننال بها إكليل كل الفضائِل، وقد صار المسيح رب المجد مِثال لنا في احتماله الآلام حتى الموت! فلا يوجد عُذر لإنسان يرفُض التَّألُم لأجله، وإن كان هو قد احتمل كل ذلك بسبب خطايانا فكم أحرى بنا جدًا أن نحتمِل بسبب خطايانا! الروح القدس يُعلِّمنا أنه لا ينبغي أن نخاف من جيش الشيطان، وأنَّ رجاءنا هو في إعلاننا الحرب ضده، لأننا بذلك ننال السُكنى الإلهية والخلاص الأبدي، ولا يوجد أعظم من وعد الرب لنا بالأمان والحِماية، فإن كنا نحيا بقلوب مُكرسة حقًا لله، فلنقبل أن ندخُل نفس امتحانات آلام الشُهداء، وجزاؤُنا يفوق بلا قياس آلامنا إذا قهرنا الشيطان ورجعنا إلى فردوسنا مُنتصرين. نُقدِّم لله إيماننا، إيمان غير فاسِد غير مُتزعزِع وفضيلة واسعة راسِخة، وقلبًا مُقدسًا، فنجلِس ونصير شُركاء ميراث المسيح ونفرح بامتلاكنا للملكوت السمائي.. فالاضطهاد يُغلِق أمامنا الأرض ويفتح أمامنا السماء، ضد المسيح يُهدِّد ولكن المسيح يضُم ويحمِل ويسنِد.</p>
<p>كتب القديس تحية للشُّهداء يقول فيها ”أيها البواسِل المغبوطُون.. إنَّ الكنيسة أُمُّكم فخورة بكم.. أيها المُتسربِلون بالبأس، عظيمة هي  قُوَّة عزيمتكم وثبات أمانتكم حتى نهايِة المجد، لم تخضعوا للعذابات بل العذابات هي التي خضعت لكم واستعجلتكُم لنِيل الأكاليل..إنَّ   المُتفرجين بإعجاب على تلك المعركة الروحية التي كانت بمثابِة سِباق نحو المسيح كانوا يرون خُدَّامه يُصارِعون دون أن يُغلبوا أبدًا،   مُعترفين بإيمانهم بصوتٍ عالٍ!! مُمتلئين بحيوية وشجاعة تفوق قُدرِة البشر، بلا سلاح من هذا الدهر، إنما مُتوشِحون بأسلحة      الإيمان، والمُحتمِلون العذابات كانوا يرون قِيامًا أكثر قُوَّة من الذين يُعذِّبونهم، الأمشاط الحديدية انتهت من الضرب والتمزيق، إلاَّ أنَّ  الأعضاء المضروبة والمُمزقة انتصرت عليها.</p>
<p>عزيز هو الموت الذي يشتري الأبدية مُقابِل الدم، كم كان المسيح فَرِحًا وكم كان يسُرُّه أن يُحارِب ويغلِب في شخص خُدَّامه المُخلصين ويُعطيهم ما يشتهون أن ينالوه!! لقد كان حاضرًا في تلك المُسابقة التي أُثيرت لأجل اسمه، وأعان وسَنَد وقوَّى وبعث الحيوية،      والذي غلب مرة الموت لأجلِنا ما بَرِحَ ينتصِر فينا.</p>
<p>كشف لنا القديس كبريانوس عن مفهوم الألم والاستشهاد في ضوء الحياة الأبدية والتعلُّق بالسماء حيث مجد إلهنا وحيث لا تقِف أمامه خليقة صامتة، فكتب مقالة عن الموت (الموت Mortality) عندما اجتاح البلاد وباء الطاعون، وهو الذي أدركته الضيقات وعاصرالاستشهاد حتى قَبِلَ الموت بقلبٍ راضِ واثِق، وأحنى رأسه للسيَّاف وهو يشكُر الله، فارتجف السيَّاف من شدة إيمانه.</p>
<p>ويرى الشهيد كبريانوس: ”إننا وُضِعنا في معسكرٍ قاسِ، على رجاء نوال المجد السمائي، وعلينا أن لا نرتعِب من عواصِف العالم، ولا نهتز منها، لأنَّ الرب سبق وكلَّمنا عن كل ما سيحدُث لنا، وأوصى كنيسته وهيَّئها وشدَّدها لتحتمِل كل ما سيأتي&#8230; هوذا السماويات تحتل مكان الأرضيات، والأمور العظيمة بدلًا من التفاهات، والأبديات عِوَض الفانيات، فما الداعي إذًا للقلق والجزع؟ من يرى هذا ويرتعِب في حزن إلاَّ الذي بلا رجاء ولا إيمان؟!! فلا يرهب الموت إلاَّ ذاك الذي لا يُريد الذهاب مع المسيح. إننا بالموت نبلُغ وطننا السمائي، الراحة الأبدية.. هذا هو سلامُنا وراحتنا الأبدية، ومن منَّا لا يتوق بالإسراع لنوال الفرح الأبدي لنذهب إلى دعوة المسيح لنا مُتهللين بالخلاص الإلهي. وينتقِل الشهيد ليُحدِّثنا عن الاشتياق للاستشهاد فيقول ”عبيد الله يشتاقون للاستشهاد، يُدرِّبون الفِكر على أمجاد الثبات بالتأمُّل فيه للاستعداد للإكليل. ويتكلم القديس على الاستشهاد كهِبة إلهية” الاستشهاد ليس من سلطانك، بل هو عطية من الله، فليس لك أن تعترِض إن فقدت ما لستَ مُستحِقًا له.. فالله الدَّيان يُتوِج خُدَّامه الذين تهيَّأت أفكارهم&#8221;حياتهم&#8221;للاعتراف والاستشهاد &#8221; ولو لم يستشهِدوا &#8221; لأنه لا يطلُب دمنا بل إيماننا.. ويذكُر القديس أيضًا كيف يكون تكريم الشُهداء وقيمة الشهادة العملية للإيمان.. فيقول ”ينبغي أن نحمِل الشهادة باجتهاد، كما حملها الذين تحرَّروا من هذا العالم بُناءً على دعوة من الرب، لأنهم سبقونا كمُسافرين، وكبحَّارة اعتادوا على الإبحار، فنشتاق إليهم بعد أن أخذوا معهم إلى هناك الثوب الأبيض.. ليتنا نستعِد لقبول إرادة الله الكامِلة بعقل رزين وإيمان ثابِت وفضيلة نشِطة.. ولا نُقاوِم الرب بل نأتي إليه متى دعانا بنفسه. لنتحرَّر من فِخَاخ العالم، ونعود إلى الفردوس والملكوت..إننا نتطلَّع إلى الفردوس كبلدنا والآباء (البطارِكة) كآباء لنا، فلماذا لا نُسرِع بل ونجري، لكي ننظُر مدينتنا ونُحيِّي آبائنا، فإنَّ لنا أحِباء كثيرين ينتظروننا، فأي سعادة تغمُرنا وإياهم عندما نجتمِع سويًا!!</p>
<p>هناك الشَرِكَة المجيدة مع الرُّسُل، هناك خورس الأنبياء المُتهللين، هناك جموع الشُهداء غير المحصيين، هناك جموع البتوليين الفائزين، هناك الرُّحماء مُكللين.. هذا هو شوقِنا العظيم، وهدف ذهابنا وإيماننا.. وفي رسالِة القديس (أل ٧٦) التي يُحيِّي فيها الشُهداء الذين فازوا بأكاليلهُم، ويشجع الذين مازالوا في السُّجون أو تحت التعذيب، وحُكِم عليهم بالعمل الشاق في المناجِم كتب يقول: ها أنتم قد احتملتُم بصبر ضرب العصى، مُتهيئين بهذا التنكيل القاسي للاعتراف العَلَنِي بإيمانكم، صبرًا! فالعصاة الخشبية الصغيرة لن تُؤثِر بشئ على الجسد المسيحي، الذي وضع كل رجائه في الخشبة الكُبرى.. من سيندهِش أن يراكم، يا آنية الذهب والفضة، في المنجم، الذي هو مصدر الذهب والفضة؟ إلاَّ أنَّ الوضع هنا قد انقلب فبدل أن يُعطي المنجم الذهب والفضة نراه هنا قد تقبَّلهُما.أقدامكم قد تقيدت بالأغلال، وأعضاؤكم المُباركة – يا هياكِل الله – تكبلت بالقيود، كما لو كان بتضييق الخِناق على الجسد يُمكنهم أن يُقيِّدوا الروح! أو كما لو أنَّ ذهبكم يمكن أن يعتريه الصدأ بملامسة حديد السلاسل!! إنها أغلال مُباركة لن يفُكها حدَّاد بل الرب يسوع نفسه! إنها لقيود مُباركة فعلًا، تلك التي تجعلكم تسيرون قدمًا في الطريق المُستقيم المُؤدي إلى الفردوس! مرحبًا بكِ أيتها الأغلال العزيزة التي تُقيد لحظة في هذا العالم لتُحرِّر إلى الأبد في العالم الأبدي هناك عند الله، في المناجِم لا نجد الفِرَاش الذي ننعم فيه بقسط من الراحة، ويتعرَّض تنعُمنا وراحِتنا للعُري والبرد، لكن من قد لبس المسيح فقد تنعَّم بالكساء الكامل والوقاية الحصينة.. يا له من مجد وبهاء سيؤول. وأكَّد القديس كبريانوس في رسالته الشهيرة في وحدة الكنيسة</p>
<p>على أنَّ الشِقاق والهرطقة من عمل الشيطان، وإنهما أشد خطرًا على وحدة المؤمنين من الاضطهاد..وبعد أن كتب رسائِل كثيرة عن الاستشهاد، ذهب إلى ساحِة الاستشهاد وخلع ثياب الحبرية وأعطاها للشمامِسة وجثا على رُكبتيهِ مُصلِيًا، ثم طلب من أولاده إعطاء الجلاَّد ٢٥ قطعة ذهبية.. ووضع المؤمنون لفائِف ومناديل تحته ليتلقوا دمه الطاهر بركة لهم، ثم عصب عينيهِ بيديهِ وحاول أن يتعجَّل المُتباطِئ في تنفيذ الحكم، وانطلقت روحه إلى مسيحها لترِث نصيبها المُعَد لها مع الشُهداء.</p>
<p></p>
<p>كتاب الإستشهاد في فكر الآباء &#8211; مارتيريا &#8211; ( صفحة ١١١ ) &#8211; القمص أثناسيوس فهمي جورج &#8211; مشروع الكنوز القبطية</p>
<h3>من وحي قراءات اليوم</h3>
<p>(من يصنع إرادة الله هذا هو أخي وأختي وأمي )     إنجيل القدَّاس</p>
<p>إدراك الله أم إرضاء الله؟!!</p>
<p>+ يريد الله في حياتنا على الأرض أن ندرك محبته وغناه وأبوته وعظمه قدرته</p>
<p>+ بينما نحن نقضي عمرنا كله محاولين إرضائه</p>
<p>+ نجتهد في صلواتنا معتقدين أنه يرضي بترديد المزامير دون عمق وتتمه السواعي دون روح</p>
<p>+ بينما يريد هو من صلاتنا تذوق الحديث معه كأب وإدراك مراحمه حتى لو في كلمات بسيطة مثل صلاة العشار</p>
<p>+ نحفظ آيات ونرددها وندرس في الكتاب دون حياة بينما هو يريدنا أن نفتش عليه في كلمته ونسمع صوته في عمقنا فيها</p>
<p>+ صار الإنقطاع في الصوم مجال إفتخار الصائمين بينما الروح لم تشبع به ولم يفيدها نسك الجسد</p>
<p>+ نقول وسائط النعمة لأن الهدف منها تذوقنا نعمته ومحبته</p>
<p>+ لكن تحولت إلى فرائض النعمة لأننا مارسناها بروتين دون روح وبتململ دون فرح وبرتابة دون نمو</p>
<p>+ يقف الله علي بابنا قارعا ملتمسا دخوله قلوبنا للعشاء والغني لنعيش معني إخوته وأخواته</p>
<p>+ ونحن نقف على بابه قارعين للالتماس رضاه في إستجابة طلباتنا!!</p>

      {% endcreateArticleAccordions %}
    </section>
  {% endblock %}
  