---
layout: 'layouts/reading.html'
title: 'قراءات اليوم السادس والعشرون من شهر توت'
tags: 'annual'
permalink: /articles/annual/1-26.html
---
  {% block content %}
    <section id="readings">
      <ul>
      {% if 'undefined' != 'undefined' %}
      
      {% else %}
      {% if '19.9:11,14' != 'null' %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">العشية</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeVespers '19.9:11,14' '41.14:3-9' %}
          </div>
        </div>
      </li>
      {% endif %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">باكر</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeMatins '19.102:19-21' '41.12:41-44' '' %}
          </div>
        </div>
      </li>
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <h3 class="flex items-center justify-between">
            <span class="kufi">القداس</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </h3>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeLitugy '45.1:1-17' '59.1:1-18' '44.7:2-7' '19.102:13,16,17' '42.1:1-25' %}
          </div>
        </div>
      </li>

      {% endif %}
        </ul>
    </section>
    <section id="article">
      <h3 class="mt-8 mb-4 heading-explain">شرح القراءات</h3>
      {% createArticleAccordions %}
        <p>&#8221; يا إله السموات خالق المياه وربَّ كل خليقة، استجبني أنا المسكينة المُتضرِّعة والمُتوكِّلة علي رحمتك &#8221; (يهو ٩: ١٧)</p>
<p>(السلام للشيخين البارين: أمام الله: الذين سلكوا فى الوصايا: كلها بلا لوم)</p>
<p>ذكصولوجية واطس للقديسة أليصابات</p>
<p>(مطوّب بحق ذاك الذي يتبرَّر أمام الله! )</p>
<p>القديس أمبروسيوس - تفسير لوقا ١ - القمص تادرس يعقوب ملطي</p>
<h3>شواهد القراءات</h3>
<p>(مز ٩: ٧ ، ١٠) ، (مر ١٤ : ٣ – ٩) ، (مز ١٠١ : ١٧ ، ١٨)، (مر ١٢ : ١٤ – ٤٤)،( رو ١ : ١ – ١٧)، (يع ١ : ١ – ١٨)،  (أع ٧ : ٢-٧) ، (مز ١٠١ : ١٤) ، (لو ١ : ١ – ٢٥)</p>
<h3>ملاحظات على قراءات يوم ٢٦ توت:</h3>
<p>+ تتشابه قراءات اليوم مع قراءات الأحد الأوَّل من شهر كيهك في كل شئ ما عدا مزمور عشيَّة، والإبركسيس ، وزيادة آية ١١ في مزمور قدَّاس اليوم</p>
<p>+ جزء من مزمور عشيَّة (مز ٩: ٧) - رتِّلوا للرب الساكن في صهيون وأخبروا في الأمم بكل أعماله - تكرَّر في مزمور باكر الأحد الثالث من شهر توت (مز ٩ : ٧)</p>
<p>والإشارة هنا إلي صهيون (الكنيسة) ملجأ المساكين ومجدهم، وفي قراءة الأحد الثالث من توت كنيسة العهد الجديد الكاملة التي تشمل كل الأمم</p>
<p>+ قراءة إنجيل عشيَّة اليوم (مر ١٤: ٣ - ٩) هي نفس قراءة إنجيل عشيَّة للأحد الأوَّل من شهر كيهك</p>
<p>وهي القراءة التي تكلمت عن المرأة التي سكبت الطيب علي رأس الرب، ومدحها الرب لمحبتها الكبيرة وجعل مدحها في الإنجيل في كل العالم، لذلك جاءت في تذكار حبل إليصابات ( ٢٦ توت ) ، والبشارة بحبل إليصابات في الأحد الأوَّل من شهر كيهك</p>
<p>ونفس القصَّة ولكن من إنجيل متي (مت ٢٦: ٦ - ١٣) جاءت أيضاً في قراءة إنجيل عشيَّة ليوم ٣٠ طوبي ( تذكار شهادة العذاري بستيس وهلبيس وأغابي وصوفيا أمهن ) للحديث عن محبَّة المرأة للرب والتي شهدت لها به في عطاؤها الكبير في سكب الطيب إشارة إلي عطاء الشهيدات بسكب الحياة كلها من أجل محبتهن للرب</p>
<p>+ مزمور باكر اليوم (مز ١٠١: ١٧ ، ١٨) هو نفس مزمور باكر الأحد الأوَّل من شهر كيهك ( يوجد خطأ في طباعة القطمارس بالنسبة لأرقام الآيات )</p>
<p>مجئ المزمور اليوم للإشارة إلي إستجابة الله للمساكين &#8221; ليسمع تنهد المغلولين &#8221; ، بينما مجئ القراءة في الأحد الأوَّل من كيهك للإشارة إلي إفتقاد الله للبشرية بتجسُّد الكلمة ( نظر الرب من السماء علي الأرض )</p>
<p>+ قراءة إنجيل باكر اليوم (مر ١٢: ٤١ - ٤٤) هي نفس قراءة إنجيل باكر للأحد الأوَّل من شهر كيهك</p>
<p>وهي القراءة التي تكلَّمت عن المرأة التي ألقت الفلسين ، لذلك جاءت اليوم كنموذج للتقوي مثل القديسة أليصابات ، وفي الأحد الأوَّل من كيهك كنموذج لنفوس العهد الجديد الذين فاح تكريس حياتهم بظهور الكلمة المُتجسِّد</p>
<p>+ قراءة البولس أيضاً اليوم (رو ١: ١ - ١٧) ، وقراءة الكاثوليكون (يع ١ : ١ - ١٨) هما نفس قراءة البولس والكاثوليكون للأحد الأوَّل من شهر كيهك</p>
<p>والإشارة هنا وهناك في قراءة الأحد إلي شهود وخدَّام تجسُّد الكلمة (زكريا وإليصابات)  اللذان يتبرَّران بالإيمان &#8221; إن البار فبالإيمان يحيا - البولس &#8221; ، وأيضاً بإحتمالهم التجارب يتزكَّيان بالإيمان &#8221; لأنه إذا صار مختاراً ينال إكليل الحياة - الكاثوليكون &#8221;</p>
<p>+ قراءة الكاثوليكون اليوم (يع ١: ١ - ١٨) تُشبه قراءة الكاثوليكون ليومي ٢٧ هاتور، ١٧ مسري (يع ١: ١ - ١٢) وهي القراءة التي تكلمت عن الذين إحتملوا التجارب الشديدة المتنوعة مثل القديس يعقوب المُقطع (٢٧ هاتور ) والقديس يعقوب بن فجوج ( ١٧ مسري ) والقديسة إليصابات ( ٢٦ توت )</p>
<p>وسبب إضافة الستّة آيات اليوم (من ١٣ - ١٨) لأنها تكلمت عن ولادتنا من فوق كعطية إلهيَّة وعن صيرورتنا باكورة من خلائقه، وهي التي حدثت مع القديسة إليصابات في كيفية الحمل وولادة يوحنا</p>
<p>+ مزمور القدَّاس اليوم (مز ١٠١: ١٤) تكرَّر في مزمور قدَّاس الأحد الأوَّل من شهر كيهك</p>
<p>والعجيب إضافة آية أخري - مع آية ١٤ - من نفس المزمور في قراءة اليوم &#8221; لأنه نظر إلي صلاة المساكين &#8221; للإشارة إلي إستجابة الله لزكريا وإليصابات</p>
<p>لكن آية ١٤ تتكلَّم عن إفتقاد الله للبشرية بتجسَّد الكلمة في ملء الزمان &#8221; لأنه وقت التحنن عليها &#8221;</p>
<p>+ قراءة إنجيل قدَّاس اليوم (لو ١: ١ - ٢٥) هي نفس قراءة إنجيل القدَّاس للأحد الأوَّل من شهر كيهك</p>
<p>والإشارة اليوم إلي إستجابة الله لزكريا وإليصابات وتعويضه الإلهي لهم علي تقواهم بمجئ يوحنا السابق الصابغ، بينما مجيئها في   قراءة الأحد للإشارة إلي التدبير الإلهي في تجسُّد الكلمة بالبشارة بميلاد يوحنا الذي سيعد الطريق أمام الرب</p>
<p>+ كل القراءات المُحوَّلة علي قراءة هذا اليوم تخص عائلة أُمنا العذراء والدة الإله والقديسة إليصابات</p>
<p>+ القراءات المُحوَّلة :</p>
<p>حادي عشر هاتور                      تذكار حنة والدة أُمنا العذراء</p>
<p>ثالث عشر كيهك                      تذكار حبل حنة بأُمنا العذراء</p>
<p>سادس عشر أمشير                    نياحة القديسة إليصابات أم يوحنا المعمدان</p>
<p>سابع مسري                             بشارة يواقيم بالعذراء مريم</p>
<h3>شرح القراءات</h3>
<p>تدور قراءات هذا اليوم حول افتقاد الله الاب للمساكين والتي اختارت الكنيسة القديسة اليصابات نموذج لهذا الافتقاد الالهي</p>
<p>ولكن مايميز مساكين هذا اليوم هو انهم اغنياء بالروح وعظماء في الايمان بصرف النظر عن وضعهم المادي فقراء ماديا كانوا ام اغنياء ويظهر في قراءات اليوم عظمة البر الالهي وزمن افتقاد الله للبشر الذي يفوق الادراك، ولكن في ذات الوقت يفيض بالغني والنعمة والملء ومن ذكرتهم قراءات اليوم هم شفعاء لكل مساكين العالم وكل من يعيش حياة صعبة سواء في عوز مادي او في حرمان من احتياج اساسي في الحياة كإنجاب الاطفال</p>
<p>ولكن قراءات هذا اليوم ايضا تصعد بنا الي التدبير الالهي للمساكين بالروح والذي يعيشه الانسان المسيحي ويؤمن به وتختبره الكنيسة المقدسة في رحلة الحياة على الارض في وعود الله لانبياءه وقديسيه وفي توقيتات الله مع البشر والخطة الكبيرة في حياة المؤمنين وفي تدبير الكنائس</p>
<p>تاتي المزامير في قراءت اليوم من مزموري ٩ ، ١٠١ وهما مزامير صراخ المساكين</p>
<p>مزمور ٩ هو ومزمور ١٠ يعتبرهما المفسرين مزمور واحد بعنوان صلاة توسلية وصراخ المسكين</p>
<p>كما ان مزمور ١٠١ هو مزمور الشعب في نهاية السبي البابلي في انتظار مراحم الله وخلاصه</p>
<p>اي ان المزموران هما صراخ نفوس متالمة وشعوب منتظرة الخلاص</p>
<p>لذلك تبدا القراءات بمزمور عشية الذي يسبح الله علي اعماله العظيمة في الامم (رتلوا للرب الساكن في صهيون واخبروا في الامم بكل اعماله )</p>
<p>وفي مزمور باكر نري قيمة تنهد المغلولين ان السماء تتحرك تجاه انينهم وصلواتهم (الرب نظر من السماء علي الارض ليسمع تنهد المغلولين )</p>
<p>اما مزمور القداس فيتكلم عن مسكنة شعوب وانتظار الخلاص في ملء الزمان فهنا الافتقاد الالهي للبشرية المسكينة وظهور مجد الله وولادة كنيسة العهد الجديد (انت يا الله ترجع وتتراف على صهيون لانه وقت التراؤف عليها لان الزمان قد حضر لان الرب يبني صهيون ويظهر بمجده لانه نظر الي صلاة المساكين)</p>
<p></p>
<p>اما البولس فيتكلم عن مساكين الامم البرابرة بالمقارنة باليونا نيين والجهلاء بالمقارنة بالحكماء والنعمة والرسالة التي نالها القديس بولس لخدمتهم ولاطاعة الايمان في جميع الامم (يسوع المسيح ربنا الذي به نلنا النعمة والرسالة لاطاعة الايمان في جميع الامم . اني مديون لليونانيين والبرابرة والحكماء والجهلاء)</p>
<p>بينما يتكلم الكاثوليكون عن مساكين الحياة المادية ومكانتهم عند الله (وليفتخر الاخ المتواضع بارتفاعه )</p>
<p>وايضا مساكين التجارب والالم وتعويضات الله لهم ( طوبي للرجل الذي يصبر في التجربة لانه اذا صار مختارا ينال اكليل الحياة الذي وعد به الرب للذين يحبونه )</p>
<p>ويقدم الابركسيس نموذج لافتقاد الله لشعبه ووعوده لهم فيبرز لنا دعوة ابونا ابراهيم والعجيب ان الله لم يعطه ميراثا ولا وطاة قدم لكن مجرد وعد الهي بالميراث لنسله (ومن هناك نقله بعد ما مات ابوه واسكنه في هذه الارض التي انتم ساكنون فيها ولم يعطه فيها ميراثا ولا وطاة قدم ولكن وعد ان يعطيها ملكا له ولنسله من بعده)</p>
<p>وهنا تضع القراءات التوافق في حياة أبونا إبراهيم وحياة زكريا الكاهن، وكيف كان إفتقاد الله لهما بوعد إلهي، وليس بحسب ما هو  بشري ، وكيف إرتبط نسل إبراهيم بالتجسُّد ، وهكذا نسل زكريا في الإعداد له</p>
<p></p>
<p>اما الاناجيل فتتكلم عن انواع من النساء يجمعهم التقوى والمحبة الشديدة لله والعطاء الفائق من الاعواز</p>
<p></p>
<p>فيتكلم انجيل عشية عن المراة ساكبة الطيب الغالي كثير الثمن والذي ربما كان كل ما ادخرته من مال سكبته علي راس السيد وسط   اندهاش التلاميذ وتحجج يهوذا بالغيرة علي المساكين كما يعلن مكافاة السيد لها بذكر ما فعلته في كل العالم (جاءت امراة معها قارورة طيب ناردين خالص كثير الثمن فكسرت القارورة وسكبتها علي راسه &#8230;. الحق اقول لكم انه حيث يبشر بهذا الانجيل في كل العالم يخبر ايضا بما صنعته هذه تذكارا لها)</p>
<p>وبينما قدم انجيل عشية امراة غنية قدمت كل ماعندها يقدم انجيل باكر امراة فقيرة تقدم كل ماعندها لتعلن القراءات ماراثون الحب    للسيد من الفقراء والاغنياء ولعلَّ المرأة المسكينة في إنجيل باكر ترد علي حجة يهوذا بالمساكين في إنجيل عشيَّة بأن قضية الفقير لا تتعلق بالعطاء المادي أكثر ممَّا تتعلق بعطاء الحب الذي ينبع فقط من محبِّة المسيح له المجد وربما لأجل هذا قال الرب للتلاميذ أن الفقراء معكم في كل حين وأما أنا فلست معكم في كل حين ( فجاءت ارملة مسكينة فالقت فلسين قيمتهما ربع فدعي تلاميذه وقال لهم الحق اقول لكم ان هذه الارملة الفقيرة قد القت اكثر من جميع الذين القوا في الخزانة لان الجميع من فضلتهم القوا واما هذه فمن اعوازها القت كل ما عندها كل معيشتها )</p>
<p>ويختم انجيل القداس بصبر اليصابات العجيب واحتمالها عار المجتمع كما يُعْلِن إفتقاد الله ليس فقط لها لكن لاعداد السابق الصابغ وكما احتاج تجسد الكلمة عذراء ممتلئة نعمة احتاج مجئ الملاك الذي يهيئ الطريق امراة في تقوي حياتها وعبادتها بلا لوم لذلك اختارها التدبير الالهي ليبدا الله من نسلها بالذي سيهيئ للرب شعبا مستعدا ( كان في ايام هيرودس ملك اليهودية كاهن اسمه زكريا من ايام خدمة ابيا وامراته كانت من بنات هرون واسمها اليصابات وكانا كلاهما بارين امام الله سالكين في جميع وحقوق الرب بلا لوم &#8230; فقال له الملاك لا تخف يازكريا لان طلبتك قد سمعت وامراتك اليصابات ستحبل وتلد لك ابنا وتسميه يوحنا &#8230; ويرد كثيرين من بني اسرائيل الي الرب الههم )</p>
<h3>مُلخّص القراءات</h3>
<p>مساكين هذا اليوم هم النفوس التي أعطت كل ما عندها للرب ( إنجيل عشية وباكر )</p>
<p>والنفوس التي تنتظر خلاص الرب ( مزمور عشية وباكر والقدّاس )</p>
<p>وهم الفقراء والمتألمين ( الكاثوليكون )</p>
<p>والأمم الغريبة والشعوب الجاهلة ( البولس )</p>
<p>وإفتقاد الله لهم حسب حكمة تدبيره وغني برّه في زمن الخلاص ( الإبركسيس و إنجيل القداس )</p>
<h3>أفكار مُقترحة للعظات</h3>
<h4>(١) برّ الله للمساكين بالروح</h4>
<p>١- برّ الحب                                                   إنجيل عشيَّة</p>
<p>&#8221; جاءت امرأة معها قارورة طيب خالص كثير الثمن فكسرت القارورة وسكبتها علي رأسه &#8221;</p>
<p>الحب هنا يتجاوز كل الحدود ويفعل أكثر حتي مما تطلبه الوصيّة لأن المرأة هنا قدمت للرب تقدمة قيمتها ثلاث مئة دينار أي أجرة عامل مدة سنة كاملة إذا حذفنا أجازات الإسبوع والأعياد ( قارن مع مثل الفعلة في مت ٢٠ وأجرة العامل دينار لليوم الكامل ) وإذا إعتبرنا أجرة العامل اليوم في مصر تتراوح ما بين ثلاثون وخمسون جنيه تصير ثمن القارورة بين تسعة آلاف وخمسة عشر ألف جنية !!</p>
<p>٢- برّ العطاء                                                 إنجيل باكر</p>
<p>&#8221; لأن الجميع من فضلتهم ألقوا وأما هذه فمن أعوازها ألقت كلَّ ما عندها وكلَّ معيشتها &#8221;</p>
<p>العطاء هنا يتجاوز أسئلتنا الكثيرة عن العشور وما يجب أن نقدمه لله وأعطت هذه المرأة لنا درساً في حياة التسليم والكفاية والقناعة</p>
<p>٣- برّ الإفتقاد الإلهي للبشر                            إنجيل القدَّاس</p>
<p>&#8221; ليردَّ قلوب الآباء إلي الأبناء والعصاة إلي فكر الأبرار لكي يهيئ للربِّ شعباً مبرَّراً &#8221;</p>
<p>إفتقاد الله لا يرجع لصلاح البشر وإستحقاقهم بل إلي غني رأفاته ومحبته وبرّه الإلهي</p>
<h4>(٢) فضائل المساكين بالروح</h4>
<p>١- حياة الإيمان                                       البولس</p>
<p>&#8221; لأنَّ فيه برُّ الله يظهر بإيمان لإيمان كما هو مكتوب أما البار فبالإيمان يحيا &#8221;</p>
<p>يتكلَّم الرسول هنا عن :</p>
<p>إطاعة الإيمان ( لإطاعة الإيمان في جميع الأمم )</p>
<p>كرازة الإيمان ( ينادي به في كل العالم )</p>
<p>تقوية القلوب بالإيمان ( نشترك في تقوية قلوبكم بالإيمان )</p>
<p>شركة الإيمان ( إيمانكم وإيماني )</p>
<p>ثمار الإيمان ( قوَّة الله للخلاص )</p>
<p>إيمان يُعْلِن برّ الله  ( لأن فيه برّ الله يظهر بإيمان لإيمان )</p>
<p>إيمان يشمل الحياة كلها ( فبالإيمان يحيا )</p>
<p>٢- كمال الصبر                                        الكاثوليكون</p>
<p>&#8221; عالمين أن تجربة إيمانكم تُنشئ صبراً وأما الصبر فليكن فيه عمل تام لكي تكونوا كاملين وأصحاء غير ناقصين في شئ &#8221;</p>
<p>يتكلَّم الكاثوليكون هنا عن نوعين من التجارب تجارب من ضعف الإنسان ( إذا انجذب وانخدع من شهوة نفسه) ويجب أن يحترس الإنسان منها لئلا تقوده للخطية وتنتهي به للموت الروحي والهلاك</p>
<p>أما النوع الثاني فهي تجارب لإمتحان الإيمان وتنقيته وتهدف إلي كماله وتنتهي به لإكليل الحياة لكن تحتاج من الإنسان للصبر الكامل والإحتمال وقبول تدبير الله لأجل خلاصه وكماله في المسيح</p>
<p>٣- الطاعة والتسليم والتكريس                       الإبركسيس</p>
<p>&#8221; وقال له أخرج من أرضك ومن عشيرتك وهلمَّ إلي الأرض التي أريك إيَّاها .. ولم يعطه فيها ميراثاً ولا وطأة قدم &#8221;</p>
<p>ما أجمل طاعة أب الآباء إبراهيم في تسليم حياته بالكامل لِيَد الله وتصديقه كل وعود الله حتي التي علي خلاف الرجاء والمنطق والعقل (رو ١٨:٤)</p>
<h4>٣) صفات خدَّام الله وسمات خدمتهم                                  إنجيل القدَّاس</h4>
<p>يُعْلِن رئيس الملائكة عن صفات وسمات من يخدم أمام الرب ( من كتاب كنز التفسير للشماس بشارة بولس )</p>
<ul>
<li>وخمراً ومسكراً لا يشرب  ( نقاوة الحياة وقداستها )</li>
<li>ومن بطن أمِّه يمتلئ من الروح القدس ( قيمة دور الأم في إعداد أبنائها للخدمة )</li>
<li>ويرد كثيرين .. إلي الرب إلههم ( دعوة الخادم ومركز خدمته الدعوة للتوبة )</li>
<li>وهو يتقدم أمامه بروح إيليا وقوّته ( يأخذ الخادم قوَّة خدمته من وجوده الدائم في حضرة الرب )</li>
<li>ليرد قلوب الآباء إلي الأبناء ( من ثمار زيارته للبيوت حلول السلام - يحل سلامكم عليه )</li>
<li>والعصاة إلي فكر الأبرار ( من بركات عمل النعمة مع الخادم تغيير العصاة )</li>
<li>يهيئ للرب شعباً مبرراً ( هذا هو الهدف النهائي لكل أعمال الخدمة وتعبها الشعب المبرر )</li>
</ul>
<h3><strong>عظات</strong> آبائية</h3>
<h4>مار أفرآم السرياني</h4>
<p>حبل اليصابات وولادة يوحنا ومقارنته بحمل والدة الإلة وميلاد رب المجد في فكر القديس إفرايم السرياني(٣٠٦-٣٧٣م):</p>
<p>وَلَدت أليصابات العجوز آخر الأنبياء، وَلَدت مريم اليافعة رب الملائكة.</p>
<p>وَلَدت ابنة هارون الصوت الصارخ فى البريَّة ، في حين أن ابنة داود وَلَدت إله الكون القدير.</p>
<p>وَلَدت العاقر الصافح عن الخطايا، لكن العذراء وَلَدت حاملها</p>
<p>وَلَدت أليصابات مَنْ يُصلح الناس بالتوبة، لكن مريم وَلَدت مُطهٍّر الكون من الدنس.</p>
<p>أضاء الأكبر سناً سراجاً في بيت يعقوب أبيه،فكان هو السراج نفسه ، بينما أضاء الأصغر سناً شمس البر لكل الأمم .</p>
<p>بشَّر الملاك زكريا ليعلن المذبوح المصلوب، والمكروه المحسود.</p>
<p>فالُمعمٍّد بالماء سيعلن  المُعمّد بالنار وبالروح القدس .</p>
<p>السراج الذى لم يكن مطفأً يبشر بشمس البر ، والمملوء بالروح يبشر بمعطي الروح.</p>
<p>عندما يدعو الكاهن الناس بالبوق، يبشر بمَن سيأتي عند سماع صوت البوق عند الإنقضاء.</p>
<p>الصوت الصارخ يعلن ما يتعلق بالكلمة،ومَن رأى الحمامة يعلن مَن تستقر عليه كبرق يسبق الرعد .</p>
<p><strong>شرح</strong> <strong>وتفسير</strong> <strong>آباء</strong> <strong>الكنيسة</strong> <strong>لأناجيل</strong> <strong>آحاد</strong> <strong>السنة</strong> <strong>التوتية</strong> - <strong>شهر</strong> <strong>كيهك</strong> - <strong>دكتور</strong> <strong>جوزيف</strong> <strong>موريس</strong> <strong>فلتس</strong></p>
<h4><strong>القديس</strong> <strong>يوحنا</strong> <strong>ذهبي</strong> <strong>الفم</strong></h4>
<p><strong>العار</strong> <strong>هو</strong> <strong>السبب</strong> <strong>في</strong> <strong>القداسة</strong> <strong>عند</strong> <strong>القديس</strong> <strong>يوحنا</strong> <strong>ذهبي</strong> <strong>الفم</strong> :</p>
<p>٤- إذاً أنت ترى أننا نشترك في الدم الذى يتم إدخاله إلى الأقداس ، الأقداس الحقيقية ، نشترك في الذبيحة التي كان يتمتع بها رئيس الكهنة . فنحن شركاء في الحقيقة الثابتة . إذاً إن كنا نشترك لا في عاره ، بل في القداسة ، فالعار هو السبب في القداسة ، لأنه تماماً مثلما أهين الرب هكذا نحن أيضاً . إذاً لو أننا خرجنا من العالم ، لصرنا شركاء الرب . ماذا يعنى إذاً بعبارة &#8221; فلنخرج إذاً إليه &#8221; يعنى أن نشترك في آلامه ، أن نحمل عار المسيح ، أن نهان لأجله ، لأنه لم يتالم خارج الباب بالمصادفة ، بل لكى نحمل نحن أيضاً صليبه ، ونعيش خارج العالم ونحرص أن نبقى خارجاً . تماماً كما أن يسوع حمل العار كمدان ، هكذا نحن أيضاً .</p>
<p>&#8221; <strong>فلنتقدم</strong> <strong>به</strong> <strong>في</strong> <strong>كل</strong> <strong>حين</strong> <strong>لله</strong> <strong>ذبيحة</strong> &#8221; . لكن أي ذبيحة يقصد ؟ هو نفسه أي الرسول بولس أضاف ، قائلاً ، &#8221; <strong>ثمر</strong> <strong>شفاه</strong> <strong>معترفة</strong> <strong>بإسمه</strong>&#8221; ، أي طلبات ، وتسابيح ، وتشكرات ، لأن هذه هي ثمر الشفاه . إن أولئك (اليهود ) ، قدموا خرافاً ، وأبقاراً وقدموها للكاهن ، أما نحن فلا ينبغي أن نقدم أي شيء من هذا ، بل نقدم الشكر ، ونتمثل بالمسيح في كل شيء ، بقدر المستطاع ، وهذا ما يجب أن تزهر به شفاهنا .</p>
<p>&#8221; <strong>لا</strong> <strong>تنسوا</strong> <strong>فعل</strong> <strong>الخير</strong> <strong>والتوزيع</strong> <strong>لأنه</strong> <strong>بذبائح</strong> <strong>مثل</strong> <strong>هذه</strong> <strong>يسر</strong> <strong>الله</strong> &#8221; ، أي يجب أن نقدم له مثل هذه الذبيحة ، لكى ينقلها إلى أعلى إلى الأب ، لأنها لا تنتقل إلى السماء بطريقة أخرى ، إلا عن طريق الأبن فقط ، أو من الأفضل أن نقول بقلب منسحق ، لقد تكلم عن كل هذا ، وبهذه الطريقة ، بسبب الضعف الروحى للمستمعين إليه ، ومن حيث أن النعمة هي للأبن ، فهذا واضح جداً لأنه كيف تكون الكرامة متساوية ، بطريقة أخرى ؟ يقول &#8221; لكى يكرم الجميع الأبن كما يكرمون الأب &#8221; فإن كان الأب حين يتمجد ، لا يتمجد الأبن فأين هي المساواة في الكرامة ؟ لأن ثمر الشفاه لأولئك المعترفين بإسمه ، هو أن يشكروه ، أي يشكروه على كل شيء ، لما عاناه من الآلام لأجلنا . فلنتحمل كل شيء بشكر ، سواء كان ذلك فقراً ، أو مرضاً أو أى شيء أخر، لأن الأبن وحده  يعرف ما هو لمنفعتنا . لأنه يقول &#8221; لأننا لا نعرف ما نصلى لأجله كما ينبغي &#8221; . إذ مادمنا لا نعرف ما نصلى لأجله كما ينبغي ، فان لم يعلمنا إياه الروح القدس ، فكيف نرغب في أن نعرف ما هو لمنفعتنا ؟ .</p>
<p>لهذا لنحرص على أن  نشكره من أجل كل شيء ولنصبر بشجاعة على كل ما يحدث لنا إذ عندما نكون فقراء ، ومرضى ، يجب أن نشكره ، عندما  يأتوا على ذكرنا بالسوء ، فلنشكره ، عندما يهينوننا ، فلنشكره . فإن هذا السلوك يجعلنا قريبين من الله ، وحينئذ سيكون الله مدين لنا من ناحية أخرى ، فالخيرات ( المادية تصبح سبب لإدانتنا ، بينما الضيقات تصير سبباً لغفران خطايانا ، فالإهانات تجلب مراحم الله ، تجلب محبة للبشر، بينما الخيرات ( المادية  ) تحملنا على الأفتخار والتباهى ، وتقودنا إلى اللامبالاة ، وتجعلنا نتصور أمورآ عظيمة عن أنفسنا ، هذه الخيرات تجعلنا خاملين . لذلك قال النبي &#8221; خير لى إنى تذللت لكى أتعلم فرائضك &#8221; . حزقيا عندما أحسن إليه وتخلص من مصائبه أفتخر ، أما عندما مرض إتضع ، وإقترب من الله . &#8221; إذ قتلهم ( الرب ) طلبوه ورجعوا وبكروا إلى الله وذكروا إن الله ضخرتهم والله العلى وليهم &#8221; ، وأيضا يقول &#8221; سمنت وغلظت اكتسيت شحماً فرفض الإله ( هذا الشعب المحبوب ) &#8221; &#8220;لأنه معروف هو الرب قضاء أمضى &#8220;.</p>
<p>إن الضيقه هي خير عظيم ، هي الطريق الضيق . لأنها تتفعنا نحو هذا الطريق ، ومن لا يتألم ، لن يستطيع أن يأتي إليه . لأن ذاك الذى يتألم داخل الطريق الضيق هو من يتمتع بالراحة ، بينما ذاك الذى يرفه نفسه ، ولا يأتي إلى الطريق الضيق ، فإنه يتألم كما قيل عندما يضغط . إسمع كيف دخل الرسول بولس إلى هذا الطريق الضيق ، يقول &#8221; أقمع جسدى وأستعبده &#8221; ، لقد أقمع جسده ، حتى يستطيع أن يدخل ( ذلك الطريق ) لذلك كان يشكر الله في كل ضيقاته . هل فقدت بعض الأموال ؟ هذا يجعلك تتقدم بكل إرتياح في الطريق الضيق . هل سقط من المجد الذى كان لك ؟ هذه سعة أو راحة أخرى هل وشي بيك ؟ هل ما قيل ضدك قد صار مؤكداً ، من جهة هذه الأمور التي لا تعرف عنها شيئاً ؟ لتفرح وتبتهج لأنه يقول &#8221; طوبى لكم إذا عيروكم وطردوكم وقالوا عليكم كل كلمة شريرة من أجلى كاذبين أفرحوا وتهللوا لأن أجركم عظيم في السموات &#8221; .</p>
<p>لماذا تتحير أو تندهش من جهة الآلام التي تحدث لك ، وتريد أن تتخلص من التجارب ؟ القديس بولس أيضاً أراد أن يتخلص من التجارب ؟ وترجى الله مرات عديدة من أجل هذا ، ولم ينل ما طلب ، لأنه توسل ثلاثة مرات ، أي كثيراً يقول من جهة هذا تضرعت إلى الرب ثلاثة مرات أن يفارقنى فقال لى تكفيك نعمتى لأن قوتى في الضعف تكمل وهنا كلمة  &#8221; الضعف  &#8221; تشير إلى الضيقات ماذا إذاً ؟ هل لأنه سمع هذا الكلام ، قد أحتملها بشكر وقال &#8221; لذلك أسر بالضعفات أي أرضى واسترح في الضيقات ؟ إذاً يجب أن نشكر الله على كل شيء على الراحة وعلى الضيقة ، ينبغي الا نتذمر ، ولا نكون جاحدين . قل أنت أيضاً عرياناً خرجت من بطن أمى وعرياناً أعود إلى هناك . إنك لم تخرج ممجداً لذلك لا تسعى للمجد . لقد أتيت للحياة عرياناً ، ليس فقط من المال ، بل ومن المجد  ، ومن السمعة الطيبة  تأمل كم من الشرور حدثت مرات عديدة ، بسبب المال ، أو من الأفضل إسمع ماذا يقول المسيح &#8221; مرور جبل من ثقب أبرة أيسر من أن يدخل غنى إلى ملكوت الله &#8221; .</p>
<p>أرأيت كم الخيرات التي يصير الغنى عائقا ً لها ، وأنت تريد أن تصبح غنياً ؟ وهل لا تفرح بفقرك ، إذ العائق قد ابتعد ؟ إنه ضيق للغاية هو الطريق المؤدي إلى ملكوت السموات ، وواسع جداً هو الثراء ، ومملوء بالزهور والإفتخار . لهذا يقول الرب &#8221; إذهب بع أملاكك &#8221; ، لكى يستقبلك الطريق الضيق . لماذا تشتهي المال ؟ من أجل هذا تركك ، لكى يحررك من العبودية ، إن الأباء الحقيقيين أيضاً ، عندما يرون أن إبنهم يسير بإتجاه الهلاك ، لأنه قد يكون قد تقابل صدفة مع عاهرة ، وبالرغم من نصحه كثيراً ، إلا أنهم لم يقنعوه أن يبتعد عنها ، حينئذ يبعدون العاهرة . هكذا يكون وفرة المال ، اذاً لأن الرب يعتنى بنا لكى يخلصنا من الخسارة التي يسببها المال ، فإنه ينزعه منا .</p>
<p>إذاً لا يجب أن نتصور أن الفقر شيء سئ أو شر ، الخطية فقط هي الشر . لأنه ولا الغنى في حد ذاته ، هو صلاح أو خير ، بل أن نكون مرضيين أمام الله ، هو فقط الخير ، إذاً فلنطلب الفقر ونسعى في أثره هكذا سندخل إلى السماء ، وسنربح الخيرات التي في السماء ، والتي ليتنا ننالها جميعاً ، بالنعمة  والرأفات ومحبة البشر اللواتى لربنا يسوع المسيح الذى يليق به مع الآب والروح القدس المجد والقوة والكرامة الآن وكل أوان وإلى دهر الدهور أمين .</p>
<p>المرجع : كتاب تفسير الرسالة إلي العبرانيين صفحة ٤٢٦ - ترجمها عن اليونانية دكتور سعيد حكيم يعقوب</p>
<h4> <strong> أيضاً لذهبي الفم</strong></h4>
<p><strong>حديث</strong> <strong>عن</strong> <strong>عمل</strong> <strong>الخير</strong> <strong>مع</strong> <strong>الفقراء</strong></p>
<p>فهل يا ترى سوف نسمع ذلك الصوت الطوباوى ؟ أما من جهتى فلا أستطيع أن أوكد ذلك بقوة ، لأن إحتقارنا للفقراء شديد . إنه وقت الصوم وقت تقدم فيه عظات كثيرة وكذلك تعاليم عن الخلاص ، وصلوات مستمرة واجتماعات يومية فما هي الفائدة من كل هذا الاهتمام الشديد ؟ لا شيء ! لأننا نرتحل من هنا ونحن ننظر جموع الفقراء في صفوف على الجانبيين وكأننا ننظر أعمدة وليس أجساداً بشرية ، ونعبر بجوارهم دون أدنى شفقة ، وكأنهم تماثيل ( جامدة ) بلا حياة ، وليسوا بشراً أحياء ونهرول للوصول إلى بيتنا . ويبررون فعلهم هذا بأن الجوع هو الذى يجبرهم على ذلك ( أي الارتحال سريعاً دون عمل الرحمة ) ولكن في الحقيقة فإن جوعكم ( بعد الاجتماع ) كان يجب أن يدفعكم للبقاء ( لعمل الرحمة مع الفقراء ) – فكما يقال في الأمثال – إن البطون المتخمة لا تعرف البطون الجائعة ولكن تلك الجائعة فبسبب احتياجها تشعر أيضاً بمثيلتها من البطون الخاوية للأخرين ( من الفقراء ) ، ولكن على ما يبدوا فأنه ولا حتى تلك البطون الجائعة تشعر بهم .</p>
<p>فإنك تجرى هكذا إلى مائدة الطعام المعدة ولا تستطيع الانتظار ولو حتى قليلا ، أما الفقير فآنه يقف منتظراً حتى المساء متلهفاً بفارغ الصبر ومشتهياً أن يضمن لنفسه طعام اليوم ، متطلعاً أن اليوم ينتهى أما المال الذى يكفى للطعام اليومى فإنه غير كافى مما يجعله يعانى ويغضب ويضطر أن يفعل ما هو فوق طاقته ، وهذا هو السبب الذى يجعلهم يهاجموننا بشدة وقت المساء ، يحلفون ويحلفون الأخرين ، يتحسرون وينحون ويمدون أيديهم ، ويضطرون أن يفعلوا كثير من الأفعال المخزية ، إذ يخافون لئلا يرتحل الجميع إلى بيوتهم وينتهى بهم الأمر إلى التجول في المدينة مثل من يتجول في برية قاحلة . كمثل من سقطوا في غرق أثناء النهار يتشبثون بأى لوح خشبى حتى يصلون لميناء السلامة قبل أن يمسى عليهم النهار ، كى لا يداهمهم الليل وهم لا يزالون بعيداً عن الميناء معانين الغرق بشكل مخيف . هكذا أيضاً الفقراء فهم يعانون الجوع مثل الغرق ، يتلهفون بفارغ الصبر أن يجمعوا قبل المساء المال الكافى لقوتهم ، حتى لا يبقوا خارج الميناء ، وهم يشاهدون أن الجميع يرحلون إلى بيوتهم . إذ أن ميناء سلامتهم هي تلك الأيادى الرحيمة .</p>
<p>أما نحن فإننا عندما نوجد في الساحات العامة لا نتأثر من سلوكهم ولا حتى عندما نعود لبيوتنا ، ولكن عندما تكون مائدة الطعام بجوارنا ممتلئه من الخيرات الزائدة عن حاجتنا  ،  - وذلك ان صح أن ندعوا تلك الأطعمة التي نأكلها خيرات وهى علامة تدين إنسانيتنا – وحتى عندما تكون المائدة معدة ونسمع أصواتهم من أسفل وهو يسيرون في الأزقة الضيقة ، يصرخون بأصوات عالية وهم سائرون بين المنازل ، حتى أنهم يعانون من الظلام الحالك ، وكأنهم في صحراء خاوية ونحن لا نبالى ، وكذلك عندما نشبع ونذهب للنوم ، نسمعهم وهم يصرخون مجدداً من أسفل وهم يعانون بشكل مخيف ونسمعهم كأصوات بشر بل ككلاب مسعورة . فآننا نظهر لا مبالاة كبيرة ، ولا حتى في ذلك الحين نغير موقفنا منهم ، لأن الليل يكون بالأكثر قد تقدم والجميع قد نام ، أما ذاك ( الفقير ) ينوح ، ليس بسبب مطلبه البسيط ، لأنه لا يسألنا سوى الخبز أو قليل من المال ، ولا يطلب أمراً ضخماً ، لأنه يعانى من الجوع المستمر ، ولكن لا عطف على المتوسلين ، لأنه وإن كان في أشد العوز إلا انه لا يجرؤ حتى ان يقترب من الأبواب بل يتوسل من أسفل ولوقت طويل . فإن نال شيئاً فانه لا يكف عن الدعاء وإن لم يأخذ فإنه لا يخرج من فمه كلمة سوء ولا يسب أو يلعن أولئك الذين في قدرتهم أن يعطوا ولا يقدمون شيئاً ، ولكنه مثل شخص يساق بواسطة جلاد لعقوبة فوق طاقة الاحتمال وإذا هو يتوسل من كل المارة ويستغيث بهم ولا يجد أي مساعدة من أحد ، يساق بوحشية ، نحو العقوبة ، هكذا أيضاً ذاك ( الفقير ) كمن يسوقه جلاد الجوع في الليل والسهر الذى لا يحتمل ، يمد يداه ويتوسل بصوت صارخ أولئك الذين يجلسون في بيتهم ، ولا ينالون أي عمل رحمة يتم طردهم بلا شفقة وبقسوة شديدة .</p>
<p>غير أن هذا الأمر لا يلين قلوبنا ، بل بعد كل هذا التصرف اللانساني نتجاسر ان نبسط أيدينا نحو السماء لنتحدث إلى الله طالبين غفران خطايانا ، ولانخاف بعد كل هذه القسوة والوحشية ، أن تسقط علينا صواعق البرق بعد صلاة مثل هذه فقل لى كيف نذهب لنخلد للنوم والراحة ولا نخاف لئلا يأتينا في منامنا ذلك الفقير ، صارخاً متسخاً ، مرتديا الخرق ، يجهش بالدموع والنحيب ويلقى باللائمة على قساوتنا ؟ ولكنى سمعت كثير من الناس يقولون أنهم بعد تلك الليلة تغاضوا فيها عن مساعدة الفقراء رأوا أنفسهم مربوطين بوثق والفقراء يجرونهم بأيديهم ، وهم ممزقون ويعانون من أمور لا حصر لها .</p>
<p>غير أن ذلك يتم في نومهم وفى أحلامهم ، وهى عقوبة مؤقتة ، ولكننا لا نخاف ، فقل لى ألعل ذلك الفقير الذى ينتحب ويصرخ وينوح ألعلنا نراه في حضن إبراهيم تماماً كما رأى الغنى لعازر ؟ كل ما حدث في هذا المثل بعد ذلك أتركه إلى ضمائركم أقصد مكان العذاب حيث الألآم التي لا تطاق والمرارة كيف طلب ماء ولم يعط له ولا حتى قطرة ، وكيف جف لسانه وكيف أنه على الرغم من توسلاته الكثيرة لم ينل أي مغفرة ، وكيف عوقب إلى الأبد . وأتمنى ألا يحدث لنا ذلك عملياً ، بل أن يكون سماع حديثنا هذا سبباً في تجنب تلك المصائر التعسة ، وأن نكون مستحقين لتقبل عطف أبينا أبراهيم ، وأن نكون معه في نفس المكان .</p>
<p>نعمة ومحبة ربنا يسوع المسيح الذى يليق به مع الآب الكرامة والمجد والقوة مع الروح القدس الآن وكل آوان وإلى دهر الدهور .</p>
<p><strong>المرجع : كتاب عظات علي سفر التكوين للقديس يوحنا ذهبي الفم ( صفحة ١٤٥ ) - ترجمة دكتور جورج فرج ومراجعة دكتور جورج عوض إبراهيم</strong></p>
<p><strong>يمكن الرجوع لعظات العلَّامة أوريجانوس والقديس أمبروسيوس والقديس غريغوريوس النيسي في عظات الأحد الأوَّل من شهر كيهك</strong></p>
<h3><strong>عظات آباء وخدام معاصرين</strong></h3>
<p><strong>يمكن الرجوع لعظات الآباء المعاصرين في الأحد الأوَّل من شهر كيهك</strong></p>
<h4>المتنيح الدكتور موريس تاوضروس</h4>
<p><strong>يسوع</strong> <strong>المسيح</strong> <strong>في</strong> <strong>الأناجيل</strong> <strong>الأربعة</strong></p>
<p>ارتبط ميلاد السيد المسيح بميلاد يوحنا المعمدان ومن هنا فإن الحديث عن يوحنا المعمدان يعتبر تمهيدا ضروريا للحديث عن السيد المسيح . ولقد تحدث لوقا من بين البشيرين الأربعة عن بشارة الملاك لزكريا بميلاد يوحنا واستغرق هذا الحديث جزءا كبيرا من الاصحاح الأول من هذه البشارة ويتضمن الحديث في هذا المجال النقاط الثلاثة التالية : -</p>
<p>١  كهانة زكريا (لو ١ : ٥ - ٧)</p>
<p>٢- بشارة الملاك لزكريا  (لو ١: ٨- ٢٢)</p>
<p>٣ - تحقق البشارة (لو ۱ : ۲۳- ٢٥)</p>
<p>۱- <strong>كهانة</strong> <strong>ذکريا</strong></p>
<p>يقول لوقا البشير (كان في أيام هيرودس ملك اليهودية كاهن اسمه زكريا من أيام خدمة أبيا ، وكانت أمرأته من بنات هرون واسمها اليصابات . وكان كلاهما بارين أمام الله سالكين في جميع الوصايا وحقوق الرب بغير لوم ولم يكن لهما ولد لأن اليصابات كانت عاقرا وكان كلاهما متقدمين في أيامهما ) (لو ١ : ٥-٧) يلاحظ أن هيرودس المشار إليه هنا هو الملقب بهيرودس الكبير وقد كان من ابنائه هيرودس انتيباس الذي تزوج هيروديه زوجة أخيه فيليس وهو الذي أمر بقطع رأس يوحنا المعمدان  وهناك هيرودس أغريبا الأول وهو الذي قتل يعقوب أخا يوحنا بالسيف (أع ١٢ : ٢) وأبنه اغريباس الثاني الذي أذن لبولس أن يدافع عن نفسه (أع ٢٦) أما زكريا فلم يكن رئيس كهنة بل واحدا ممن يباشرون العبادة في الهيكل وكان من فرقة أبيا ، وكلمة فرقة باليونانيه لها معنيان ١ - الخدمة لأيام محدودة (نح ١٣ : ۳۱)</p>
<p>٢- نظام  للخدمة في الهيكل لمدة معينة (١أي ٦:٢٣ و ۲۸ : ۱۳) وهذا هو المعنى المقصود ۔ و لقد قسم داود فرقه إلى ٢٤ فرقة يتاح لكل فرقة خدمة الهيكل اسبوعين في السنة على دورتين كل دورة منها اسبوعا کاملا  وكانت فرقة ابياهي الثامنة في ترتيب الفرق  (١أى ١٠:٢٤) ولكن بعد السبى لم يعد إلا أربع فرق فقط هم بنو يدعيا و بنو امير وبنو فشخور و بنو حاريم (عز ٢ : ٢٦ – ٣٩) ، وقسمت هذه الفرق الأربعة الى ٢٤ فرقة بحسب اسمائها القديمة وعلى ذلك فان زكريا لا ينسب إلى فرقة ابيا الأولى لأن هذه لم ترجع من السبي. أما اليصابات فكانت من بنات هرون أي أن يوحنا كان من نسب كهنوتی ليس بالنسبة لأبيه فقط و لكن أيضا بحسب نسب أمه  و لقد وصفت اليصابات مع زكريا بأنهما كانا بارين، أي كانا فاضلين وهكذا اختار الله يوحنا من عائلة تقية ، وإذا كان من الواجب أن يتوفر هذا في كل عائلة فهو بالاحرى يجب أن يسود في عائلات الكهنوت ، كعائلة زكريا الكاهن، حتى يكون الكاهن مثلاً طيبا لرعيته . وبرهما هذا لا يعنى أنهما لم يرثا خطية آدم الأصلية، لأنها عمت البشرية جميعها ماعدا السيد المسيح الذي أخذ كل ما لنا ماعدا الخطيه، بل أنهما كانا يحاولان بقدر الامكان السلوك بحسب مطالب الناموس وسالكين . في جميع الوصايا وحقوق الرب بغير لوم، ولم يكن لزكريا وزوجته ولد لأن اليصابات كانت عاقرا وكان هذا أمراً يبعث على الحزن والضيق بل كان العقم عند اليهود يعتبر عقابا على خطية (لا. ۲۰: ١٠ ، ۲۱) (أر ۲۲ : ۳۰) ومن أجل  ذلك استقبلت اليصابات البشارة قائلة .. لينزع عاري بين الناس (لو ١ : ٢٥)</p>
<p><strong>٢</strong>- <strong>بشارة</strong> <strong>الملاك</strong> <strong>لزكريا</strong></p>
<p>زكريا في الهيكل : « وبينما كان يكهن في رتبة ايام خدمته امام الله ، كعادة الكهنوت ، وقعت القرعة ان يرفع البخور فدخل هيكل الرب وكان كل جمهور الشعب يصلى خارجا وقت البخور ، (لو ١: ٨- ١٠)</p>
<p>يلاحظ أن القرعة كانت تجرى مرتين في اليوم الواحد صباحا ومساء عند تقدمة الذبيحة . ولعله في قوله « وكان جمهور الشعب يصلى خارجاً وقت البخور ، دليل على أن البشارة كانت في يوم سبت حيث يكثر الجمهور . وكما يروى في التلمود كمان وقت تقديم البخور وقتاً مقدسا يسود فيه الصمت ويشير البخور إلى الصلوات المرفوعة أمام الله كما يقول سفر الرؤيا, فصعد دخان البخور مع صلوات القديسين من يد الملاك أمام الله (رؤ ٨ : ٤) » .</p>
<p>ظہور الملاك لزكريا فظهر له ملاك الرب واقفا عن يمين مذبح البخور ، فلما رآه زكريا أضطرب وغشيه خوف . فقال له الملاك لا تخف يا زكريا فإن طلبتك قد سمعت وأمرأتك اليصابات ستحبل وتلد لك إبنا وتدعو إسمه يوحنا ويكون لك فرح وإبتهاج وكثيرون بمولده يفرحون . لأنه يكون عظمها أمام الرب وخمرا ومسكراً لا يشرب ويمتلىء من روح القدس وهو في بطن أمه ويرد كثيرين من بنى إسرائيل إلى الرب الههم ويتقدم أمامه بروح وبقوة إيليا ليرد  قلوب الآباء إلى بنيهم والعاصين إلى فكر الأبرار كي يعد للرب شعبا مبرراً . فقال زكريا للملاك بم أعلم هذا لأنى أنا شيخ وامرأتى قد تقدمت في أيامها فأجاب الملاك وقال له أنا جبرائيل الواقف أمام الله وأرسلت لا كلمك وأبشرك بهذا وها أنت تكون صامتا فلا تستطيع الكلام إلى اليوم الذي يكون فيه هذا لأنك لم تؤمن بأقوالى هذه التي ستتم في حينها وكان كل الشعب ينتظر زكريا وكان متعجبا . من إبطائه في الهيكل فلما خرج لم يستطع أن يكلمهم فعلموا  أنه رأى في الهيكل رؤيا فكان يومىء إليهم وظل صامتا (لو ١ : ۰۲۲ – ۱۱)  وقد كان ظهور الملاك لزكريا مصحوبا باضطراب وخوف فان ظهور العالم غير المنظور إلى الإنسان يصحبه اضطراب نتيجة شعورنا بخطايانا أمام قداسة هذا الموقف النوراني ويتحول هذا الاضطراب إلى خوف نتيجة شعورنا بالعقاب الذي يتتبع  بالضرورة الخطية ، ويتجلى هذا الموقف من الاضطراب والخوف في رؤيا دانيال بصورة واضحة إذ يقول دانيال فبقيت أنا وحدى ورأيت هذه الرؤيا العظيمة ولم تبق في قوة و نضارتي تحولت في إلى فساد ولم أضبط قوة &#8230; وإذا بيد تلمسني و أقامتنى مرتجفا على ركبتي وعلى كفى يدى &#8230; وقال لى لا تخف يا دانیال (دا ۱۰ : ۸ – ۱۳) ۰</p>
<p><strong>تحقيق</strong> <strong>البشارة</strong></p>
<p>ولما كملت أيام خدمته مضى إلى بيته و بعد تلك الأيام حبلت اليصابات أمرأته وأخفت نفسها خمسة أشهر قائلة أنه هكذا صنع في الرب في الأيام التي نظر فيها إلى لينزع عارى بين الناس (لو ۱ : ٢٣ – ٢٥)</p>
<p>المرجع : مجلة مدارس الأحد عدد شهر مايو لسنة ١٩٦٠</p>
<h4>القديس الأرشيدياكون حبيب جرجس</h4>
<p><strong>بشارة</strong> <strong>الملاك</strong> <strong>بميلاد</strong> <strong>يوحنا</strong> <strong>المعمدان</strong> ( <strong>لو١</strong> : <strong>٥</strong> – <strong>٢٥</strong>)</p>
<p>&#8221; <strong>لأنه</strong> <strong>يكون</strong> <strong>عظيماً</strong> <strong>أمام</strong> <strong>الرب</strong> &#8221; (<strong>لو</strong> <strong>١</strong> : <strong>١٥</strong>)</p>
<p>(أولا) لاحظ شهادة الكتاب عن تبرر زكريا وامرأته وسلوكهما في وصايا الرب بلا لوم فطوبى لمن تكون له مثل هذه الشهادة من الله .(ثانياً) لاحظ تجربة هذين البارين ببقائهما بغير ذرية وافتقاد الله لها أخيراً واستجابة دعائهما. وكيف أنعم عليهما بيوحنا الذي استحق أن يكون سابقاً للمسيح ومهيئا الطريق أمامه . (ثالثاً) خوف زكريا من الملاك يدل على ان الطبيعة البشرية خاطئة لا تحتمل رؤية شيء سماوى ، كما حصل لموسى في البرية (خر٣ : ٦) ودانيال في بابل (دا ۸ : ١٧) والنساء عند قبر المسيح (مت ۲۸ : ٥) ويوحنا في جزيرة بطمس (رؤ ۱ : ۱۷) .( رابعاً ) العظم الحقيقي لا يقوم بالغنى والوجاهة والمراكز العالية بل بالعمل من أجل مجد الله وخير الناس. (خامساً) مهما كان الأولاد صغاراً فانهم مستعدون لأن يمتلئوا من روح الله كما امتلأ يوحنا وهو لا يزال في بطن أمه .(سادساً) لاحظ صفات يوحنا وأعماله فانه (١) لم يشرب خمراً (۲) امتلأ من روح الله (۳) رد القلوب الى الله (٤) تقدم أمام الرب ليهيء له شعباً . (سابعاً) عقاب خطيئة الشك وعدم الايمان اذ ضرب زكريا بالخرس الى ان يتم كلام الملاك .</p>
<p><strong>المرجع : كتاب</strong> <strong>الكنز</strong> <strong>الأنفس</strong> <strong>للأرشيذياكون</strong> <strong>حبيب</strong> <strong>جرجس</strong> <strong>الجزء</strong> <strong>الثالث</strong> <strong>صفحة ١</strong></p>
<h3>من وحي قراءات اليوم</h3>
<p>&#8221; هكذا قد فعل بي الرب في الايام التي فيها نظر الي لينزع عاري بين الناس &#8221; (لو ١ : ٢٥)                  إنجيل القدَّاس</p>
<p>+ رأي الناس فيها عار المجتمع</p>
<p>+ وأخرج الله من عارها مجد العهد الجديد</p>
<p>+ كانت في عين الناس إمرأة عاقر</p>
<p>+ ورآها الله إمرأة مثمرة اكثر من كل نساء العالم</p>
<p>+ نظرات الناس حكمت أن حياتها تعبر عن تأديب الله</p>
<p>+ ورأي الله حياتها موضوع محبته الإلهية</p>
<p>+ رأي الناس ان الله لم يستجب لصلواتها</p>
<p>+ وكانت طلبتها في نظر الله هي موضوع اشتياقه وتدبيره الخلاصي لها</p>
<p>+ عاشت النساء في عصرها بعيدا عن الله رغم عطايا الله لهم</p>
<p>+ وتمسكت هي بتقواها ومحبه الله رغم تأخر الله عليها</p>
<p>ما أعظمك نموذج لنا</p>
<p>وما أبعدنا عن سُموّ تقواك</p>
<p>أيتها القديسة اليصابات</p>

      {% endcreateArticleAccordions %}
    </section>
  {% endblock %}
  