---
layout: 'layouts/reading.html'
title: 'اليوم السادس عشر من بؤونة'
permalink: annual/10-16.html
---
  {% block content %}
    <section id="readings">
      <ul>
      {% if '19.112:6,7,9' != 'null' %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">العشية</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeVespers '19.112:6,7,9' '40.24:42-47' %}
          </div>
        </div>
      </li>
      {% endif %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">باكر</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeMatins '19.92:10,14,15' '42.19:11-19' '' %}
          </div>
        </div>
      </li>
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <h3 class="flex items-center justify-between">
            <span class="kufi">القداس</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </h3>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeLitugy '58.11:32-40*@+58.12:1-2' '59.5:9-20' '44.18:24-28*@+44.19:1-6' '19.92:12-13' '42.12:32-44' %}
          </div>
        </div>
      </li>
        </ul>
    </section>
    <section id="article">
      <h3 class="mt-8 mb-4 heading-explain">شرح القراءات</h3>
      {% createArticleAccordions firstName, lastName %}
        <p><strong>تذكار نياحة القديس ابو نوفر السائح</strong></p>
<p>المتوكلون عليه سيفهمون الحق والامناء في المحبة سيلازمونه لان النعمة والرحمة لمختاريه</p>
<p>(الحكمة ٩:٣)</p>
<p>أنعم علينا نحن عبيدك في كل زمان حياتنا التي على الأرض، ولاسيما بالأكثر الآن. بحاسة غير ذاكرة للشرور الأولى، ونية بغير رياء، وأفكار صادقة، وقلب محب للإخوة</p>
<p>صلاة الصلح – القدَّاس الكيرلسي</p>
<p>&#8221; إن احببك الرب يمجِّدك ، انتبه ولا تتكبر ، وداوم علي الإتضاع لكي تلبث في المجد الذي وهبك الله إياه ، انتبه وتيقظ ، لانه طوبي لمن سيوجد ساهراً ، لانه سيقام علي أموال سيده (مت ٢٤: ٤٥-٤٧) وسيدخل الملكوت فرحاً (مت ٢٥: ٢١-٢٣) ويحبه أصدقاء العريس لأنهم وجدوه حارساً كرمه &#8221;  <a href="#_ftn1" name="_ftnref1">[1]</a></p>
<h3>شواهد القراءات</h3>
<p>(مز ١١١: ٥، ٢ ، ٧) ، (مت ٢٤ : ٤٢ &#8211; ٤٧) ، (مز ٩١ : ٨ ، ١٢) ، (لو ١٩ : ١١ &#8211; ١٩) ، (عب ١١ : ٣٢ &#8211; ١٢ : ١ &#8211; ٢) ، (يع ٥ : ٩ &#8211; ٢٠) ، (أع ١٨ : ٢٤ -١٩ : ١ &#8211; ٦) ، (مز ٩١ : ١٠ ، ١١) ، (لو ١٢ : ٣٢ &#8211; ٤٤)</p>
<h3>ملاحظات على قراءات يوم ١٦ بؤونه:</h3>
<p>+ قراءات اليوم تَخُصّ الآباء السوَّاح (سكان البرية البعيدون عن العالم) لذلك تأتي قراءات أيام الآباء السوَّاح مُحوَّلة علي قراءات هذا اليوم</p>
<p>+ تتكرر قراءة إنجيل عشيّة اليوم (مت ٢٤: ٤٢ &#8211; ٤٧) في إنجيل عشيّة يوم ٢٠ بشنس (نياحة القديس أمونيوس الأنطاكي ) وإنجيل عشيّة يوم ٤ نسئ ( نياحة أنبا بيمن المصري المتوحد )</p>
<p>+ يتكرَّر إنجيل باكر (مت ١٩: ١١ &#8211; ١٩) وإنجيل القداس (لو ١٢ : ٣٢ &#8211; ٤٤) اليوم في قراءة إنجيل باكر والقداس ليوم ٢٢ طوبه ( نياحة أنبا أنطونيوس ) ، ويوم ٢٥ مسري ( نياحة أنبا بيصاريون الكبير ) ، وهي قراءات الآباء النساك</p>
<p>+ تأتي قراءة البولس لهذا اليوم (عب ١١: ٣٢ &#8211; ١٢: ١ &#8211; ٢) أيضاً في قراءات ٢ توت ، ١٠ بشنس ، ٣٠ بؤونه</p>
<p>ومجئ هذه القراءة اليوم (نياحة القديس ابو نوفر ) للإشارة إلي نسكه الشديد وحياته في القفار ( وطافوا في فراء وجلود معزي &#8230; تائهين في القفار والجبال والمغاير وشقوق الأرض )</p>
<p>ومجيئها يوم ١٠ بشنس (نياحة الثلاثة فتية القديسين حنانيا وعزاريا وميصائيل) فهو للإشارة إلي إيمانهم الذي أطفأ النار  ( الذين بالايمان قُهِروا ممالك وعملوا البرَّ ونالوا المواعيد وسدُّوا أفواه أسود وأخمدوا قوّة النار )</p>
<p>ومجيئها يوم ( ٢ توت ) ، ويوم ٣٠ بؤونه للإشارة إلي شهادة يوحنا ( ثم في قيود أيضاً وحبس .. وماتوا بقتل السيف</p>
<p>+ قراءة الكاثوليكون لهذا اليوم (يع ٥: ٩ &#8211; ٢٠) تكرَّرت أربع مرات ( ٢ توت ، ٢٢ طوبه ، ١٦ بؤونه ) ، وأيضاً في الأحد الرابع من شهر بؤونه ، بالإضافة إلي مجئ جزء منها في قراءات يوم ٢٥ مسري (يع ٥ : ٩ &#8211; ١٢) ، يوم ٦ نسئ (يع ٥ : ١٦ &#8211; ٢٠)</p>
<p>مجئ القراءة في هذا اليوم وفي يوم ٢٢ طوبه ( أنبا أنطونيوس ) للإشارة إلي &#8221; وصلاة البار فيها قوة عظيمة فعالة &#8221; ، وأيضاً في الأحد الرابع من بؤونه للإشارة إلي الصلاة الدائمة وأعمال الرحمة</p>
<p>ومجيئها يوم (٢ توت) ليُشير إلي &#8221; الأنبياء الذين تكلموا بإسم الرب &#8221; لأجل تذكار يوحنا المعمدان</p>
<p>ورُبَّما مجيئها في يوم ٢٥ مسري (أنبا بيصاريون الكبير) إشارة إلي&#8221; خذوا لكم يا إخوتي مثال إحتمال المشقات &#8221;</p>
<p>ومجئ جزء منها يوم ٦ نسئ للإشارة إلي رقم ٦ (ثلاث سنين وستة أشهر) موضوع قراءات ذلك اليوم والذي يشير إلي نقص البشر وكمالات المسيح ( وهو المشروح بتفصيل في قراءة ذلك اليوم )</p>
<p>+ إنجيل قدّاس اليوم (لو ١٢: ٣٢ &#8211; ٤٤) هو نفس إنجيل قدّاس يوم ثاني وعشرين طوبة ( تذكار أنبا أنطونيوس أب جميع الرهبان ) ، وإنجيل قدّاس يوم ٢٥ مسري ( نياحة أنبا بيصاريون الكبير )</p>
<h4>القراءات المُحوَّلة :</h4>
<p>سادس عشر هاتور           تكريس كنيسة القديس أبا نوفر السائح</p>
<p>ثاني كيهك                     نياحة القديس أبا هور الراهب</p>
<p>حادي عشر كيهك           نياحة القديس أنبا بيجيمي</p>
<p>سابع عشر طوبة             نياحة القديسين مكسيموس ودوماديوس</p>
<p>خامس عشر أمشير         نياحة القديس بفنوتيوس الراهب (مُعاصر للقديس أبا نوفر )</p>
<h3>شرح القراءات</h3>
<p>تأتي قراءات هذا اليوم في تذكار نياحة القديس ابو نوفر السائح ومُحوَّل علي هذا اليوم تذكار ستة من الآباء السوَّاح</p>
<p>لذلك تتكلّم قراءات هذا اليوم علي عظم المجد وغني النعمة وكمال الأمانة في المسؤولية والمواهب المُعطاة من الله للإنسان</p>
<p></p>
<p>تبدأ المزامير بذكرهم وبرّهم الدائم للأبد ( مزمور عشيّة ) وعلوّ قامتهم ودسم شيخوختهم ( مزمور باكر ) وسموّهم مثل النخل وأرز لبنان</p>
<p></p>
<p>في مزمور عشيّة ذكرهم إلي الأبد وسلامهم عميق لا يهتز من خبث العالم ومجدهم عال كإرتفاع القرن</p>
<p>( ذكر الصدِّيق يكون إلي الأبد ولا يخشي من السماع الخبيث وبره دائم إلي أبد الأبد يرتفع قرنه بالمجد )</p>
<p>وفِي مزمور باكر نري علو قامتهم مثل القرن ودسم روحياتهم في شيخوختهم وسلامهم العميق</p>
<p>( ويرتفع قرني مثل وحيد القرن وشيخوختي في دهن دسم ويكونون بما هم مستريحون يخبرون بأن الرب إلهنا مستقيم )</p>
<p>وفِي مزمور القدَّاس عن قامتهم التي مثل النخلة ومثل أرز لبنان</p>
<p>( الصديق كالنخلة يزهو وكمثل أرز لبنان ينمو مغروسين في بيت الرب وفِي ديار بيت إلهنا زاهرين )</p>
<p>والطريف هو أن القديس بفنوتيوس عند تعرُّفه علي القديس أبا نوفر السائح وجده يحيا بجوار نخلة ويقتات منها والتي ذَبُلَتْ بعد نياحته ( سنكسار يوم ١٦ بؤونه )</p>
<p></p>
<p>وفِي القراءات نري العالم لا يستحقهم (البولس ) وصلاتهم فيها قوة عظيمة فعالة ( الكاثوليكون ) ونراهم حارين بالروح ( الإبركسيس )</p>
<p></p>
<p>يتكلَّم البولس عن جهادهم الدائم مع الله وحياتهم الصعبة في البراري والقفار والجبال وكيف عندما نراهم كسحابة شهود نطرح عنا الخطيَّة ونسعي وننظر إلي رئيس الإيمان ومكمله الرب يسوع</p>
<p>( وطافوا في فراءٍ وجلود معزي معوزين متضايقين متألمين هؤلاء الذين لم يكن العالم يستحقهم تائهين في القفار والجبال والمغاير وشقوق الأرض … من أجل هذا نحن أيضاً الذين لنا سحابة شهداء هذا مقدارها محيطة بنا فلنطرح عنا كل تكبر والخطيئة القائمة علينا جداً وبالصبر فلنسعى في الجهاد الموضوع لنا وننظر إلي رئيس الإيمان ومُكمله يسوع )</p>
<p>وفِي الكاثوليكون إيليا النبي كنموذج للآباء السوَّاح وصلاتهم التي فيها قوة عظيمة فعالة وسلطانها يمتد للسماء</p>
<p>( وصلاة البار فيها قوة عظيمة فعالة كان ايلياس إنساناً تحت الآلام مثلنا وصلي صلاة كي لا تمطر السماء فلم تمطر علي الأرض ثلاث سنين وستة أشهر وصلي أيضاً فأعطت السماء المطر والأرض انبتت ثمرها )</p>
<p>وفِي الإبركسيس عن نموذج أبلوس الحار بالروح والخبير في طريق الرب رغم معرفته فقط بمعمودية يوحنا</p>
<p>( وكان يوجد يهودي اسمه أبولوس إسكندري الجنس رجل فصيح قدم إلي أفسس مقتدر في الكتب هذا كان تلميذاً لطريقة الرب وكان وهو حار بالروح يتكلَّم ويعلم بتدقيق ما يختص بيسوع عارفاً معمودية يوحنا فقط )</p>
<p></p>
<p>وفِي الأناجيل يأتي السيد ليحاسب العبيد علي أمانة الإحتياجات ( إنجيل عشيّة ) ويحاسبهم علي المُتاجرة بالوزنات ( إنجيل باكر ) ويكافئ علي عطيّة الملكوت ويتكئ معهم فيه ويقيمهم علي كل ما له ( إنجيل القدَّاس )</p>
<p></p>
<p>يتكلَّم إنجيل عشيّة عن الدعوة الدائمة للسهر واليقظة والعبد الأمين الحكيم وحراسه بيته الخاص من النهب</p>
<p>( اسهروا إذاً …واعلموا هذا أنه لو كان رب البيت يعلم في أية ساعة يأتي السارق لسهر ولم يدع بيته ينهب … فمن هو يا تُري العبد الأمين والحكيم الذي يقيمه سيده علي عبيده ليعطيهم طعامهم في حينه )</p>
<p>وفِي إنجيل باكر الدعوة إلي عشرة عبيد للمتاجرة بالوزنات بدلا من عبد واحد في إنجيل عشيّة ويبدو أن الكلام هنا أكثر للرعاة والخدَّام</p>
<p>( كان إنسان شريف الجنس ذهب إلي كورة بعيدة ليأخذ مُلكاً لنفسه ويرجع فدعا عشرة عبيد له وأعطاهم عشرة أمناء قائلاً لهم تاجروا في هذه حتي آتي فجاء الأول قائلاً ياسيدي مناك ربح عشرة أمناء فقال له نعماً أيها العبد الصالح لأنك كنت أميناً في القليل فليكن لك سلطاناً علي عشر مدن )</p>
<p>وفِي إنجيل القدَّاس نري عطيّة الملكوت والرب بنفسه يُتَكئ عبيده ويقوم ويخدمهم ونري هنا وكيل أمين حكيم</p>
<p>( لا تخف أيها القطيع الصغير لأن أباكم قد سّرَّ أن يعطيكم الملكوت … طوبي لأولئك العبيد الذين إذا جاء سيدهم يجدهم ساهرين الحق أقول لكم أنه يتمنطق ويتكئهم ويقف ويخدمهم … فقال الرب فمن هو يا تُري الوكيل الأمين والحكيم الذي يقيمه سيده علي عبيده ليعطيهم</p>
<p>طعامهم في حينه )</p>
<h3>ملخّص القراءات</h3>
<p>نري الآباء السوَّاح في قراءات هذا اليوم في سموّهم وعلوّ قامتهم ودوام ذكرهم للأبد ( مزمور عشيّة وباكر والقدّاس )</p>
<p>وهم سحابة شهود وصلاتهم لها قوة فعالة وحارين بالروح ( البولس والكاثوليكون والإبركسيس )</p>
<p>ودائما ساهرين وأمناء ووكلاء صالحين ( إنجيل عشية وباكر والقدّاس )</p>
<h3>أفكار مقترحة للعظات</h3>
<h4>(١) عطيّة الملكوت</h4>
<p>١- تحتاج للسهر والحكمة والأمانة لكي لا تضيع منَّنا</p>
<p>&#8221; إسهروا إذاً لأنكم لا تعلمون في أية ساعة يأتي ربكم &#8230; فمن هو يا تُري العبد الأمين والحكيم &#8221; إنجيل عشيّة</p>
<p>&#8221; فقال له نعماً أيها العبد الصالح لأنك كنت أميناً في القليل فليكن لك سلطاناً علي عشر مدن &#8221; إنجيل باكر</p>
<p>٢- موضوع إشتياق المُجاهدين علي الأرض ومُؤازرة السمائيين لهم</p>
<p>&#8221; وآخرون ضُربوا مثل الطبول ولم يقبلوا إليهم النجاة لكي ينالوا القيامة الفاضلة &#8230; من أجل هذا نحن أيضاً الذين لنا سحابة شهداء هذا مقدارها محيطة بنا &#8221;               البولس</p>
<p>٣- نضع أمام أعيننا حقيقة وقوفنا أمام الديان العادل لنحفظ محبَّتنا</p>
<p>&#8221; لا يئن بعضكم علي بعض يا اخوتي لئلا تدانوا هوذا الديان واقف علي الأبواب &#8221;  الكاثوليكون</p>
<p>٤- عطيّة الملكوت موضوع مسرَّة الآب وسهر أولاد الله وأمانة الرعاة</p>
<p>&#8221; لا تخف أيها القطيع الصغير لأن أباكم قد سُرّ أن يعطيكم الملكوت &#8230; لتكن أحقاؤكم ممنطقة وسرجكم موقدة &#8230; فمن هو يا تُري الوكيل الأمين والحكيم الذي يقيمه سيده علي عبيده &#8221; إنجيل القدَّاس ( عطيّة &#8211; ترك &#8211; سهر &#8211; أمانة )</p>
<h4>(٢) نصيب الصديقين</h4>
<p>١- القوَّة والمجد والبهاء</p>
<p>&#8221; يرتفع قرنه بالمجد &#8221;                                                                   مزمور عشيّة</p>
<p>&#8221; ويرتفع قرني مثل وحيد القرن وشيخوختي في دهن دسم &#8221;            مزمور باكر</p>
<p>&#8221; الصديق كالنخلة يزهو &#8221;                                                       مزمور القدَّاس</p>
<p>٢- مكافأة الأمناء والساهرين</p>
<p>&#8221; الحق أقول لكم أنه يقيمه علي جميع أمواله &#8221;                             إنجيل عشيّة</p>
<p>&#8221; فليكن لك سلطاناً علي عشر مدن &#8221;                                            إنجيل باكر</p>
<p>٣- النصرة علي الضيقات</p>
<p>&#8221; الذين بالإيمان قهروا ممالك وعملوا البرَّ ونالوا المواعيد وسدوا افواه أسود وأخمدوا قوة النار ونجوا من حد السيف &#8221;                                                              البولس</p>
<p>٤- مكافأة الصابرين في الضيق</p>
<p>&#8221; لأنكم سمعتم بصبر أيوب وعاقبة الرب قد رأيتموها &#8221;                الكاثوليكون</p>
<p>٥- عطيّة الملكوت وخدمة السيد لهم بنفسه</p>
<p>&#8221; لا تخف أيها القطيع الصغير لأن أباكم قد سر أن يعطيكم الملكوت &#8230; طوبي لأولئك العبيد الذين إذا جاء سيدهم يجدهم ساهرين الحق أقول لكم أنه يتمنطق ويتكئهم ويقف ويخدمهم &#8221; إنجيل القدَّاس</p>
<h4>(٣) الصلاة</h4>
<p>١- سهر الصلاة</p>
<p>&#8221; اسهروا إذاً لأنكم لا تعلمون في أية ساعة يأتي ربكم &#8221;                  إنجيل عشيّة</p>
<p>٢- شركة مع السمائيين وجهاد حتي الدم</p>
<p>&#8221; من أجل هذا نحن أيضاً الذين لنا سحابة شهداء هذا مقدارها مُحيطة بنا &#8230; وبالصبر فلنسعى في الجهاد الموضوع لنا &#8221;                                                            البولس</p>
<p>٣- الصلاة تحل الأتعاب</p>
<p>&#8221; وإن كان واحد منكم قد ناله تعب فليصلي &#8221;                                             الكاثوليكون</p>
<p>٤- صلاة الكنيسة والشركة</p>
<p>&#8221; وإن كان واحد منكم مريضاً فليدع قسوس الكنيسة وليصلوا عليه ويدهنوه بزيتٍ بإسم الربِّ &#8221; الكاثوليكون</p>
<p>٥- صلاة الإيمان وإقتدار الصلاة</p>
<p>&#8221; &#8221; وصلاة الإيمان تُخلِّص المريض والرب يقيمه &#8230; وصلاة البار فيها قوةٌ عظيمةٌ فعالةٌ  الكاثوليكون</p>
<h4>( ٤ ) وعد &#8211; وصيَّة &#8211; مكافأة &#8211; تحذير                           إنجيل القدَّاس</h4>
<p>١- وعد</p>
<p>&#8221; لا تخف أيها القطيع الصغير لأن أباكم قد سُرّ أن يعطيكم الملكوت &#8221;</p>
<p>٢- وصيَّة</p>
<p>&#8221; أحقاؤكم ممنطقة ومصابيحكم موقدة &#8221;</p>
<p>٣- مكافأة</p>
<p>&#8221; يتمنطق ويتكئهم ويقف ويخدمهم &#8221;</p>
<p>٤- تحذير</p>
<p>في ساعة لا تعرفونها يأتي إبن الإنسان</p>
<h3>عظات آبائية</h3>
<p>يُمْكِن الرجوع للعظات الخاصة بإنجيل القدَّاس في يوم ٢٢ طوبه</p>
<h4>مفهوم عطية الملكوت والإستعداد لها في فكر القديس غريغوريوس النيسي</h4>
<p>هذا الملكوت، ليس هو سوى الفرح الذي يحمله الروح القدس إلى نفوسنا من السماء. إنه عربون وعينة الفرح الأبدي الذي تتمتع به نفوس القديسين في الحياة التي نترجاها.</p>
<p>هكذا يقودنا الرب ويسندنا في كل ضيقتنا بقوة الروح القدس لكي يُخلصنا، ويُعطينا الخيرات الروحية ومواهبه وعطاياه، لأن الرسول يقول: &#8220;الذي يُعزينَا في كلّ ضيقتنا، حَتى نستطيع ان نعزي الذين هم في كل ضيقة&#8221; ، وأيضا يقول المرنم: &#8220;قلبي وَلَحْمِي يَهتفان بالإله الحَي&#8221; ، وأيضا &#8220;كما من شحم وَدَسمٍ تُشبَع نفسي إن كل هذا يعلن بطريقة سرية عن الفرح والقوة التي يهبنا إياها الروح القدس.</p>
<p>ولأننا أظهرنا واوضحنا ما هو هدف التقوى، والذي يجب على كل من يختار الحياة المرضية أمام الله أن يضعه أمامه. هذا الهدف هو نقاوة النفس، وسكنى الروح القدس داخلها بواسطة الأعمال الصالحة التي تُساهم في نمونا الروحي، فيجب على كل واحد منّا، بعدما يُعد نفسه بالطريقة التي أوضحتها، وبعدما يملأ نفسه بالعشق الإلهي، أن يُسلم ذاته للصلوات والأصوام وفقًا لإرادة اللّه.</p>
<p>وليتذكر دومًا كلمات الذي قال: &#8220;صلوا بلا انقطاع&#8221; ، وأيضًا &#8220;مُواظبِينَ عَلَى الصّلاة&#8221;، بالإضافة إلى وعد الرب: &#8220;أَفَلاً يُنْصفْ اللّهُ مُخْتّارِيه، الصّارخين إِليْه نهَارًا وَلَيّلاً&#8221; لأنه يقول: &#8220;في أنَّهُ ينبغي أَنْ يُصلَّى كل حين ولا يمل&#8221;.</p>
<p>إن الغيرة في الصلاة، تمنح عطايا عظيمة، وتجعل الروح القدس يسكن في النفوس، وهذا يظهر بوضوح من خلال حث الرسول بولس لنا، بأن نكون &#8220;مْصِلَينَ بكُلَ صلاة وطلبّة كل وَقْت فِي الروح، وَسَاهِرِينَ لهذا بعينِهِ بكلّ مُواظبَة وطلبَة &#8221;.</p>
<p>حتى أنه لو أن أخًا من الاخوة سلّم نفسه لهذا القسم من الفضيلة أعني الصلاة فسيدّخر لنفسه كنزا حسنا، إذ أنه عاشقًا للصلاح الأعظم. فقط فليمارس كل واحد ذلك بضمير صالح ومستقيم دون أن يترك ذهنه قط للخداع، ولا كمن هو مضطر أن يؤدي واجبًا دون إختيار أو بدون إراداته، بل كمن يُتمم محبة نقية، ويُعبرٌ عن إشتياق النفس للإتحاد بالله، مُقدمًا للجميع تلك الثمار الصالحة الناتجة عن ثباته في الإيمان.</p>
<p>إلا أنه ينبغي على الجميع أيضا، ان يعطوا له الفرصة، ويُعبروا عن فرحهم لأنه يسير في طريق الصلاة دومًا.</p>
<p>وذلك حتى يَجِنُوا النتائج الصالحة، لأنهم بهذا يصبحوا شركاء في هذه الحياة (حياة الصلاة) من خلال مشاركتهم في هذا الفرح. وسيّمنح للذين يطلبون الرب، الطريقة التي يجب أن يُصلوا بها، وفقًا للكلمة القائلة: &#8220;الذي يُعطي كيف ينبغي أن يُصلىّ هو الذي يُصلي داخلهم&#8221;.</p>
<p>إذا يجب على مَن يُصلي على الدوام ان يطلب وأن يعرف عملاً واحد له هذا القدر من الأهمية، وان يُمارسه بكل غيرة وبكل قوة، وأن يُكرس نفسه للجهاد.</p>
<p>فالمكافأت الكبرى تتطلب جهادا كبيرًا، لأن الخطية متربصة وتختبر المؤمن من كل جهة وتلتف وتُضلل وتسعى لتحويل الإهتمام نحو إتجاه آخر.</p>
<p>من هنا يأتي النوم والخمول الجسدي وضعف النفس واللامبالاة وعدم الحذر وعدم الحرص وعدم الإحتمال والقلق وكل أعمال الشر. وهذه كلها تقود إلى الهلاك وإختطاف النفس من كل جانب، وتجعلها تتحول إراديًا إلى معسكر العدو.</p>
<p>إذًا يجب ان يكون الذهن مثل قائد حكيم يُراقب النفس دون ان يتراجع على الإطلاق أمام القلاقل التي يُثيرها الروح الشرير، ويتطلع دوما نحو الميناء السماوي، ويسلم نفسه بشكل تام وكامل للّه فهو الأمين عليها، والذي يطلبها دائمًا.</p>
<p>وليس هو أمرًا مهما ومرضيًا بحسب تعليم الكتاب المقدس، أن يسقط أحد على ركبتيه، مُتشبهًا بالذين يُصلون وهم سجودًا حتى أن جباههم تلامس التراب، بينما فكرهم مُشتتا وبعيدًا عن اللّه، بل يجب على من يصلي أن يطرد من أفكاره، كل خمول وكل فكر متعسف، وأن يُكرس نفسه وجسده للصلاة.<a href="#_ftn2" name="_ftnref2">[2]</a></p>
<h4>الشركة والاتحاد بالعريس السماوي في فكر القديس مقاريوس الكبير:</h4>
<p>&#8220;مواهب النعمه الالهيه تحفظ وتزاد بتضاع القلب والاهتمام الجاد ولكنها تضيع بالكبرياء والكسل &#8221;</p>
<p>المحبه الحاره للمسيح :</p>
<p>١ ان النفوس التي تحب الحق وتحب الله وتشتهي برجاء كثير وايمان أن تلبس المسيح كليه ، لا تحتاج كثيراً إلي تذكير الآخرين ، بل انها لا تحتمل ولا إلي لحظه ، أن تكون محرومه من حبها المشتعل للرب واشتياقها السمائي له بل بالحري إذ يكونون مسمرين تماما وكليه في صليب المسيح ، فانهم يشعرون بإحساس النمو والتقدم الروحي نحو العريسالروحاني ، واذ يكونون مجروحين بالشوق السماوي ، وجائعين الي بر الفضائل ، فانه يكون لهم رغبة عظيمه لا تنطفيءفي إشراق واناره الروح .</p>
<p>العطش والشوق المتزايد :</p>
<p>وحتي إذا نالوا بواسطة ايمانهم ، امتياز معرفه الاسرار الالهيه وحتي إذا جعلوا شركاء في بهجه النعمه السماويه ،فانهم مع ذلك لا يضعون ثقتهم في انفسهم ، ولا يظنون انهم شيء ، بل بقدر ما يحسبون أهلاً لنوال المواهب الروحيه ،بقدر ما يشعرون في انفسهم بالتقدم الروحاني ، فانهم يزدادون جوعاً وعطشاً إلي شركه النعمه وازديادها . وبقدر مايزدادون في الغني الروحاني ، فانهم بقدر ذلك يعتبرون انفسهم فقراء ، اذ انهم لا يشبعون من الشوق الروحاني الحارإلي العريس السماي ، كما يقول الكتاب &#8221; الذين يأكلون يعودون إلي جائعين ، والذين يشربونني يعطشون &#8221; ( ابن سيراخ ٢٤ : ٢١).</p>
<p>التحرر من الشهوات وشركه الروح السريه :</p>
<p>٢– فمثل هذه النفوس ، التي تحب الرب حباً حاراً لا ينطفيء ، تكون أهلاً للحياة الأبديه ، ولهذا السبب تمنح لهم نعمة التحرر من الشهوات وينالون اشراق الروح القدس بالتمام ، وحضوره الذي يفوق الوصف ، والشركه السريه معه في ملءالنعمه ، ولكن بعض النفوس تتراخي ولا يكون لها همه وجراءه ، فلا تطلب وهي هنا علي الأرض في الجسد ، أن تنال &#8211; بصبر وطول أناه &#8211; تقديس القلب ، ليس جزئياً بل تقديسا تاماً ، اذ هي لم تتوقع أبداً أو تترجي أن يكون لها شركه كاملة في  الروح المعزي بكل ثقه ويقين ، وبكل إحساس واع ، ولم تتوقع أبداً أن تتحرر من الشر بقوه الروح ، أو ربما تكون ، بعدأن نالت نعمه الله مره ، قد انخدعت  بالخطية وأسلمت ذاتها للاهمال والتكاسل .</p>
<p>٣– فهولاء اذ قد نالوا نعمه الروح ، وحصلوا علي بعض عزاء النعمه ، في الراحة والشوق والحلاوه الروحانيه ، فانهميتكلون علي هذا ، ويتشامخون ، ثم يصيرون مهملين ، ولا يكون لهم  انسحاق قلب ، ولا عقل متضع ، فلا هم يصلون إلي الدرجة الكامله &#8211;  درجه الحريه من الشهوات &#8211; ولا هم ينتظرون ويطلبون الامتلاء التام بالنعمه بكل اجتهاد وسهر وإيمان ،بل انهم يشعرون بالاكتفاء ، ويخلدون الي الراحه قانعين بالعزاء القليل الذي نالوه من النعمه . فالنمو القليل الذي حصلت عليه هذه النفوس كانت نتيجته الكبرياء بدلاً من التواضع ولذلك فانهم علي المدي الطويل يتجردون من كل نعمة أعطيت لهم ، بسبب احتقارهم واهمالهم . وبسبب خداعهم لأنفسهم بالعجرفة الباطله .</p>
<p>الشركه السريه مع العريس السماوي :</p>
<p>٤– والنفس التي تحب الله والمسيح حقيقه ، حتي إذا عملت عشره الآف من أعمال البر ، فهي تعتبر ذاتها انها لم تعملشيئاً ، بسبب حبها المشتعل الذي لا يخمد من نحو الله .</p>
<p>وبالرغم من انها تجهد الجسد بأصوام ، وبأسهار الا انها في نظرتها إلي الفضائل تعتبر نفسها كأنها  لم تبدا بعد بأي عمل جدي لأجلها .</p>
<p>وبالرغم من مواهب الروح المتنوعه ، والاستعلانات والأسرار السماويه التي ينعم بها عليها ، فهي تشعر في ذاتها انها لمتحصل علي شيء بالمره ، وذلك السبب حبها غير المحدود ، والذي لا ينطفيء من نحو الرب .</p>
<p>طوال النهار تشتاق وتجوع وتعطش بالايمان والمحبه وبمداومه الصلاة، وهي تستمر في شوق بلا شبع لأسرار النعمه ،ولتتميم كل فضيله . وهي تكون مجروحه بحب حار مشتعل &#8211; حب الروح السماوي ، ويتحرك في داخل نفسها باستمرار &#8211; بالنعمه &#8211; الهام وشوق حار للعريس السماوي ، راغبه ان تدخل دخولاً كاملاً إلي الشركة السريه الفائقه الوصف معه ،بتقديس الروح .</p>
<p></p>
<p>رؤيه العريس السماوي في نور الروح :</p>
<p>واذ يرتفع الحجاب عن وجه النفس،فانها تحدق في العريس  السماوي وجهاً لوجه في نور الروح الذي لا يعبر عنه،وتختلط به بمليء الثقه ، وتتشبه بموته ، وترقب دائماً بشوق عظيم ان تموت لأجل المسيح ، وهي تثق بيقين شديد انها ستنال بقوه الروح انعتاقاً كاملاً من الخطيه ومن ظلمه الشهوات ، حتي إذا ما اغتسلت وتطهرت بالروح ، وتقدست نفساً وجسداً ، يسمح لها حينئذ أن تكون اناء طاهراً معداً لاستقبال المسحة السماوية ، وحلول المسيح الملك الحقيقي وحينذ.   للحياه الأبديه اذ تكون قد صارت منذ تلك الساعه مسكناً طاهراً للروح القدس .</p>
<p>الأتعاب والتجارب في طريق الملكوت :</p>
<p>٥ — ولكن النفس لا تصل الي كل هذه الدرجات مره واحده أو بدون امتحان. فبأتعاب كثيره ومجاهدات ، ووقت طويل وإهتمام جاد ، وبامتحانات وتجارب متنوعه ، تنال النمو والتقدم الروحاني إلي أن تصل إلي درجه الحريه الكامله من الأهواء والشهوات ، حتي إذا احتملت كل تجربه يجربها بها الشرير ، بصبر وشجاعه ، فانها حينئذ تتمتع بامتياز الحصول علي الكرامات العظيمه ، والمواهب الروحيه وكنوز الغني السماوي ، وهكذا تصير وارثه للملكوت السماوي بالمسيح يسوع ربنا ، الذي له المجد والقدره إلي الأبد آمين . <a href="#_ftn3" name="_ftnref3">[3]</a></p>
<h4>القديس كبريانوس أسقف قرطاجنة الشهيد</h4>
<p>٢٦- إن وحدة القلب ينتابها الضعف كلما هبط سخاؤنا في الأعمال الصالحة. فالمسيحيون الأوائل باعوا بيوتهم وأراضيهم حتى يكنزوا لهم كنوزا في السماء، ثم أعطوا أثمانها التي جمعوها للرسل من أجل حاجة الفقراء (أع٤٥:٢). ولكننا الآن لا نعطى حتى ولا العشور مما نملك. وبينما أوصانا الرب أن نبيع، وتزيد . مقتنياتنا. لذلك ضعفت قوة الأمانة الله فينا والقدرة على الإيمان. من أجل ذلك إذ سبق الرب ورأى أيامنا هذه قال في إنجيله: «متى جاء ابن الإنسان، ألعله يجد الإيمان على الأرض» (لو٨:١٨). وها قد حدث ما سبق وأخبرنا به. لا توجد مخافة الله، ولا شريعة البر والحب في العمل، لا أحد يفكر في يوم الدينونة، لا أحد يضع في قلبه يوم الرب أو عقاب غير المؤمنين في الدهر الآتي، وهذا ما كان يجب عليه أن يخشاه لو كان مؤمنا، أما الذي لا يخاف ولا يخشى فهو ليس مؤمنا على الإطلاق. لأن المؤمن سيحذر، وإن فعل هذا سينجو من العقاب.</p>
<p>۲۷ &#8211; لنستنهض قلوبنا بكل ما في وسعنا من جهد، أيها الإخوة الأحباء، ولننهض من نعاس غفلتنا الماضي، ليت كل أحد منا يسهر على حفظ وتتميم وصايا الرب. لنتشبه بأولئك الذين قال لهم: «لتكن أحقاؤكم لمنطقة وسرجكم موقدة، وأنتم مثل أناس ينتظرون سيدهم متى يرجع من العرس، حتى إذا جاء وقرع يفتحون له للوقت. طوبي لأولئك العبيد الذين إذا جاء سيدهم يجدهم ساهرين» (لو ٣٥:١٢-٣٧). ينبغي أن نكون قائمين مستعدين وأحقاؤنا ممنطقة، لئلا عندما يأتي يوم انطلاقنا توجد مربوطين ومثقلين بما يعوقنا عن التأهب والاستعداد. ليت مصابيحنا تضيء بالأعمال الصالحة، ويتألق نورها بوضوح، حتى نخرج من ليل هذا العالم إلى نهار الأبدية الساطع، ونكون مع المسيح مبدع السلام، ولننتظر دوما، باستعداد مجيء ربنا المفاجئ، حتى عندما يقرع، يكون إيماننا يقظ مستعد، وننال من الرب أجرة السهر. فخداع إبليس لا يمكن أن ينال منا إلا إذا كنا غافلين ونيام عن حفظ هذه الوصايا والتحذيرات والتعاليم، فلنحفظ نفوسنا حتى نملك مع المسيح في ملكوته مثل العبيد الساهرين. آمين<a href="#_ftn4" name="_ftnref4">[4]</a></p>
<h3>عظات آباء وخدام معاصرين</h3>
<p>يُمْكِن الرجوع للعظات الخاصة بإنجيل القدَّاس في يوم ٢٢ طوبه</p>
<h4>المتنيح الأنبا كيرلس مطران ميلانو: أين نحن من الملكوت الذي فينا؟!</h4>
<p>ملكوت الله ليس قريباً منا فقط بل هو فى داخلنا كما قال السيد المسيح ملكوت الله في داخلكم (لو ۷ : ۲۱) لكن العجيب والمؤلم أن الذى فى داخلنا قد لا نراه.. أو نراه بعيداً عنا..؟!</p>
<p>لست أدرى هل نحن تائهون عنه ؟! أم هو مختف وراء العالم والعالميات؟! كيف نصل اليه؟! كيف نملكه؟! كيف نحيا فيه؟! وهل يكفي أن نصل اليه دون أن نملكه؟! فالمسيح له المجد هو الملكوت.. وفى تجسده اقترب اليه كثيرون من الكتبة والكهنة والفريسيين والصدوقيين والشعب وبالرغم من أنهم دعوه ليدخل بيوتهم ويتكئ على موائدهم واقتربوا منه.. والتصقوا به الا أنهم لم يهتموا باقتناء الملكوت وبالمثل الذين يتنبأون باسمه.. ويخرجون شياطين&#8230; ويصنعون عجائب. ولم ينشغلوا بالملكوت يجيبهم المسيح &#8220;اذهبوا عنى يا فاعلى الاثم.. اني لا أعرفكم (مت ۲۳:۷). قلت فى نفسى حقاً ما أصعب أن يكون القريب فى النفس هو البعيد عنها؟!.. الملكوت الذى فينا كيف يكون بعيداً عنا؟! فها نحن وهوذا الملكوت في داخلنا؟! ولكن أين نحن من الملكوت وكيف نمسك ذاك المختفى فينا؟! بدأت أتساءل هل ملكوت الله الذى فى داخلنا هو يكون مختفياً بسبب الصراع القائم بين شهوات الجسد واشتياقات الروح؟! &#8220;لان الجسد يشتهى ضد الروح.. والروح يشتهى ضد الجسد&#8221; (غل١٧:٥). وهل الحرب التي بين الجسد والروح حيث كلاهما ينازع الاخر هي التي تحجب أو تضعف رؤية الملكوت؟! وهل الحرب التي يشنها الشيطان على أولاد الله بأساليب متنوعة.. هي من أجل الانشغال عن طريق الملكوت؟! نظرت.. فرأيت الحرب مستمرة ولم تهدأ فبين الشيطان وأولاد الله صراع قائم بطرق متعددة وأساليب مختلفة على مر العصور. فهو (الشيطان يجاهد ويشتهى مصرحاً بأنه سيقبض بيده المسكونة كلها ويأخذها كعش مهجور ولا يستطيع أحد أن يفلت منه.. أو يفتح فمه عليه (أش ١٤:١٠).</p>
<p>ورأيت أنه قد ينجح بالفعل فى أن يقبض بيديه على كل من يقترب منه وذلك بشغل العقل بعيداً عن كل ما يعلى وينمى وينفع ويثمر روحيا .. فهو كما قال أحد الاباء ان الشيطان فتال حبال أنت تدفع له الخيوط وهو يفتل). بأنشغال العقل ينفصل الانسان عن كيف يملك الملكوت الذي في داخله؟! تأمل معى في من يريد أن يملك أرضاً أو عقاراً أو شيئاً.. لابد أن يدفع عربوناً مقدماً؟! ونحن لكى نحظى بالملكوت المملوء مجدآ ترى ماذا يكون العربون؟! أنظر الى الارض التى أنت عليها كل ما فيها من مجد وجمال وعظمة وغنى لا تصلح ان تقدم عربوناً لان كل ما عليها زائل كما تذوقه سليمان وقال &#8220;باطل الاباطيل.. الكل باطل وقبض الريح&#8221; (جا٣:١). حقا الملكوت فى داخلنا لكنه يغتصب والغاصبون يختطفونه (مت ۱۲:۱۱) فنحن نغتصبه أغتصاباً عندما نبدا بالجسد والروح عندما نضبط اجسادنا ونسمو بأرواحنا فالجسد نقمعه ونستعبده بعيداً عن الشر (۱كو ٩ : ٢٧). والروح الذي فينا نشعله ولا نطفئه. نفرحه ولا نحزنه.. (أف٣٠:٤) اسمع يا أخى ماذا يقول الساكن فى الملكوت أنه ينادي أولاده قائلاً &#8220;أنا معكم كل الايام والى انقضاء &#8220;الدهر (مت ۲۰:۲۸). &#8220;من يقبل الى لا أخرجه خارجاً&#8221; (يو ٣٧٦). أنت تبحث عن من يخرجك من الضيقات هوذا أمامك المسيح الذي يمزق لك مصائد أعدائك.. أنت تلتفت يمياً ويساراً لمن يخرج من الفخ رجليك.. هوذا المسيح بجوارك يثقب لك شباك أبليس المتقدة ناراً.. ويثقب شباك المقاومين لك. الملكوت يبدأ من هنا على الارض يبدأ عندما نحمل قلوبنا ونسلمها لله الذى أحبنا وقال &#8220;يا ابنى أعطنى قلبك&#8221; (أم ٢٦:٢٣).</p>
<p>أنظر يا أخى الحبيب لا يوجد بين الارضيين والسمائيين.. بين الناس والملائكة.. من يقدر أن يدفع العربون لملكوت الله بينما يوجد من دفع لنا ثمن الملكوت الذي في داخلنا. الله الكلمة المتجسد هو الذى دفع لنا الثمن بالكامل وهو الحاضر كل يوم على المذبح لكى كل من يقترب منه ويتحد به يعطى لنفسه عربوناً للملكوت العتيد. بالمسيح نغلب وبه نصل الى الملكوت.. اقترب من المسيح بكل قلبك وأصغ معى لما يقوله الكاهن وهو على المذبح &#8220;يا&#8221; من أعطيت جسدك المقدس ودمك الكريم لنتناول منهما كل يوم.. أجعلهما انارة لاجسادنا شفاء لامراضنا وغسلاً لادناسنا.. وبرجاً حصيناً قبالة المعاند.. وعربون حياة العالم الجديد.. وملكوت مجدك &#8220;العتيد&#8221; (من صلاة القسمة). <a href="#_ftn5" name="_ftnref5">[5]</a></p>
<p></p>
<p></p>
<h4>كتاب الصديق الدائم: إلى أين ؟!</h4>
<p></p>
<p>تذكر أيها الإنسان أنك تراب وإلى تراب تعود. تمتلئ الكنيسة</p>
<p>المقدسة بالأغنياء والفقراء ، بالشباب والشيوخ. إنه خليط عجیب</p>
<p>دائماً يتجمع حول مذبح الله.</p>
<p>والكنيسة الأم بردائها الوقور – امام المذبح ، تنادی أولادها من</p>
<p>وسط الأمور الزائلة وآلام المعالم الشديدة – تنادی أولادها باصرار</p>
<p>رقيق وشاف لكيما يتبصر ارلادها في واقع الحياة بأعين مستقيمة</p>
<p>متفهمين أمرها لكيما تبعث في أولادها بحياة كلها روية واتزان &#8230;</p>
<p>وعند انحناء كل رأس ورفع كل يد للصلاة تبصم الكنيسة كل جبهة</p>
<p>بعلامة الموت ، قائلة لكل واحد « تذكر ايها الإنسان أنك تراب وإلى تراب تعود ».</p>
<p>ما أعظم بركة هذه الأم الواعية التي لا تغفل أن تعلمنا من مصدرنا</p>
<p>الوضيع ونهايتها الحقيرة، حتى لا يلتهم الكبرياء قلوبنا او تحطمها</p>
<p>الأحزان . ففي مستهل حياة الشاب تبدو الحياة وكانها ازلية مليئة بثقة</p>
<p>متناهية ، ثم تأخذ الكنيسة هذه اليد التي كانت تفيض شراهة على</p>
<p>الملذات الزائلة ، وتذکرها بهذه الساعة الأخيرة التي لا يهرب منها</p>
<p>احد.</p>
<p></p>
<p>+ وتهمس الكنيسة بتلك الساعة الرهيبة لذوي الخبرة والكفاءة وهم</p>
<p>في اوج مجدهم لكي يزيحوا عنهم اثقال الحياة بشجاعة.</p>
<p>+ وتحدث للفقراء عن الأيام المقبلة حتى يمتلكون ثراء الله الذي لا</p>
<p>حد له ، إذ يمتلكونه بوفرة أكبر عند تكريس ساعات العوز في هذا</p>
<p>الوادي ، وادي الدموع.</p>
<p>+ و تتحدث للأغنياء عن الاكفان بدلا من الحلي ، وعن الدود الذي</p>
<p>يزحف على الألسن التي ذاقت أشهى الأطعمة ، والأعين التي لم</p>
<p>تحرم على نفسها شيئاً .</p>
<p>وبالرغم من الحائط الرقيق الذي يفصل بيننا وبين الموت ، فإننا</p>
<p>دائمغا نسهو عن هذه الحقيقة .. « إننا من تراب » .. نجد أنفسنا</p>
<p>أقوياء مملوئين شجاعة يوما ، واليوم التالى غير قادرين على</p>
<p>مساعدة انفسنا في شيء ، لأن المرض هجم علينا فجأة في يوم نذهب</p>
<p>إلى أعمالنا ، واليوم التالي مقيدين في اسرة الألم &#8230; وبالرغم من هذا</p>
<p>ففي عنفوان صحتنا نفرد أجنحتنا وكأن هذه القوة لن تزول أبداً –</p>
<p>هذه هي قصة حياتنا المتقلبة لذا ترفع الكنيسة الأم يدها محدرة تنبه</p>
<p>أطفالها المستهترين، المتغافلين، المتهاونين بأن الموت ليس ببعيد.</p>
<p>يا ربى يسوع الحبيب ، ما أعظم شروری &#8230;</p>
<p>فالموت يحصرني من كل جانب وأنا غافل عنه ، فبالامس ترکنی</p>
<p>صديق واليوم ترکنی آخر، ومع ذلك فلم يطرأ بذهني انني ربما</p>
<p>أذهب غداً . لذلك أشكرك يا إلهى الحبيب لأنك تذكرني بكل وضوح</p>
<p>وصراحة أني تراب وسأعود إليه حتما يوما ما .<a href="#_ftn6" name="_ftnref6">[6]</a></p>
<p></p>
<p></p>
<h3>من وحي قراءات اليوم</h3>
<p></p>
<p>&#8221; يتمنطق ويتكئهم ويقف ويخدمهم &#8220;!!        إنجيل القدَّاس</p>
<p></p>
<p></p>
<p></p>
<p>+ من هو الذي يتمنطق ويتكئهم ويقف ويخدمهم ؟ ومن هم المخدومون ؟</p>
<p>+ + هو السيد الذي يُتْكِئ عبيده ويقف ويخدمهم</p>
<p>+ ما أعظمها عطيّة وما أعمقها محبة وما أغناه برّ إلهي وما أسماه إتضاع</p>
<p>لكن ما هي نوعية العبيد الذين يفعل معهم سيدهم هكذا ؟</p>
<p>هم الساهرين والأمناء والحكماء والذين يُعطون الآخرين طعامهم في حينه</p>
<p>هم الذين كانوا يتمنطقوا لأجل خدمة إخوتهم ويقفون لأجل إحتياجاتهم</p>
<p>فهو لم يكن سيِّد يُخْدَم بل يَخْدِم بل يغسل الأقدام بل يقبل التعبير والإهانات والضرب لأجلهم</p>
<p>تُري أي سيادة نعيشها وأيَّة سلطة نُعلنها ؟</p>
<p>هل هي خدمة ؟ وهل هي غسل أقدام ؟</p>
<p>وهل هي أن نُتكئ الآخرين ونقف فعلاً لخدمتهم ؟</p>
<p><a href="#_ftnref1" name="_ftn1"></a>مجلة الطريق٦ / ٢٠١٢- دكتور صموئيل القس قزمان[1] ٣-</p>
<hr />
<p><a href="#_ftnref2" name="_ftn2"></a>٤- المرجع : كتاب القصد الإلهي من خلق الإنسان للقديس غريغوريوس النيسي &#8211; صفحة ٧٢ – ترجمة الدكتور سعيد حكيم</p>
<p><a href="#_ftnref3" name="_ftn3"></a>٥- كتاب عظات القديس مقاريوس الكبير &#8211; العظه العاشره صفحة ٥٩ &#8211; ترجمة دكتور نصحي عبد الشهيد</p>
<p><a href="#_ftnref4" name="_ftn4"></a>٦- كتاب مقالات القديس كبريانوس أسقف قرطاجنة الشهيد ( المقالة الأولي ) &#8211; ترجمة القمص مرقوريوس الأنبا بيشوي</p>
<p><a href="#_ftnref5" name="_ftn5"></a>٧- المرجع : كتاب شفتاك يا عروس تقطران شهداً ( الجزء الأول صفحة ١٠٩ ) &#8211; إصدار دير الأنبا شنوده العامر بإيبارشية ميلانو</p>
<p><a href="#_ftnref6" name="_ftn6"></a>٨- المرجع : كتاب الصديق الدائم &#8211; ترجمة السيدة إيزيس ميخائيل أسعد وتقديم القمص بيشوي كامل</p>

      {% endcreateArticleAccordions %}
    </section>
  {% endblock %}
  