---
layout: 'layouts/reading.html'
title: 'اليوم الثالث عشر من شهر بؤونة'
tags: 'annual'
permalink: /articles/annual/10-13.html
---
  {% block content %}
    <section id="readings">
      <ul>
      {% if 'undefined' != 'undefined' %}
      
      {% else %}
      {% if '19.34:7-8' != 'null' %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">العشية</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeVespers '19.34:7-8' '40.16:24-28' %}
          </div>
        </div>
      </li>
      {% endif %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">باكر</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeMatins '19.97:7-9' '40.18:10-20' '' %}
          </div>
        </div>
      </li>
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <h3 class="flex items-center justify-between">
            <span class="kufi">القداس</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </h3>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeLitugy '58.2:5-18' '60.1:3-12' '44.10:21-33' '19.138:1-2' '40.25:31-46' %}
          </div>
        </div>
      </li>

      {% endif %}
        </ul>
    </section>
    <section id="article">
      <h3 class="mt-8 mb-4 heading-explain">شرح القراءات</h3>
      {% createArticleAccordions %}
        <p>قراءة هذا اليوم (تذكار رئيس الملائكة جبرائيل حسب السنكسار القبطي وثاني يوم تذكار ميخائيل رئيس الملائكة حسب القطمارس الحالي) مُحوَّلة علي قراءة اليوم الثالث من النسئ ( تذكار الملاك روفائيل )</p>
<p>والعجيب في هذا اليوم أن قراءاته مُحوَّلة علي قراءات اليوم الثالث من الشهر الصغير (تذكار رئيس الملائكة رافائيل) رغم أن هذا اليوم حسب القطمارس الحالي هو ثاني يوم عيد تذكار رئيس الملائكة ميخائيل وكان يُمْكِن أن يُحوَّل علي قراءات يوم ثاني عشر هاتور (تذكار رئيس الملائكة ميخائيل )</p>
<p>وحسب السنكسار القبطي هذا اليوم هو تذكار رئيس الملائكة جبرائيل وكان يُمْكِن أن يُحوَّل علي قراءات يوم ثاني وعشرون كيهك (تذكار غبريال رئيس الملائكة)</p>
<p>يأتي أيضاً في الدفنار والسنكسار نياحة القديس يوحنا الثاني أسقف أورشليم</p>

      {% endcreateArticleAccordions %}
    </section>
  {% endblock %}
