---
layout: 'layouts/reading.html'
title: 'اليوم العشرون من شهر بؤونة'
permalink: annual/10-20.html
---
  {% block content %}
    <section id="readings">
      <ul>
      {% if 'undefined' != 'undefined' %}
      
      {% else %}
      {% if '19.105:14-15' != 'null' %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">العشية</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeVespers '19.105:14-15' '42.11:37-51' %}
          </div>
        </div>
      </li>
      {% endif %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">باكر</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeMatins '19.105:26,27,45' '40.17:1-9' '' %}
          </div>
        </div>
      </li>
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <h3 class="flex items-center justify-between">
            <span class="kufi">القداس</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </h3>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeLitugy '58.11:17-27' '61.1:19-21*@+61.2:1-8' '44.15:21-29' '19.99:6-7' '40.23:13-36' %}
          </div>
        </div>
      </li>

      {% endif %}
        </ul>
    </section>
    <section id="article">
      <h3 class="mt-8 mb-4 heading-explain">شرح القراءات</h3>
      {% createArticleAccordions %}
        <p>قراءة هذا اليوم ( نياحة أليشع النبي ) مُحوَّلة علي قراءة يوم ثامن توت ( نياحة موسي النبي )</p>
<h4>شخصية إليشع النبي عند القديس يعقوب السروجي</h4>
<p>إعالة أرملة وإبنيها</p>
<p>كان ذاك المسكين يستعمل هذه الثروات، لأنه لم يقتنِ على الأرض مع الله ذهبًا وفضةً.</p>
<p>لم يكن له شيء، لكنه كان غنيًا في كل شيءٍ، وكل ما طُلب منه وهبه للمحتاجين، فأغناهم.</p>
<p>كانت أرملة يضايقها المدينون، عرضت عليه طلبها بالدموع بسبب حاجتها.</p>
<p>ضايقها صاحب الدين، فركضت عند أليشع، ليقوم محل رجلها في حاجتها.</p>
<p>الرب هو رجل الأرملة، وبدل الرب كان (أليشع) يُطالب بأن يفرج عن المُعوزة.</p>
<p>بدل الله تمسكت به، ليحل محل الرجل، لئلا يمزقها الدائنون.</p>
<p>عرفت أنه وكيل بيت الله، لهذا طلبت منه أن ينقذها من صاحب دَينها.</p>
<p>عند من تذهب الأرملة عندما تتضايق، إلا عند الله وحده الذي هو رجلها؟</p>
<p>ولما كان أليشع وكيله، أمسكت به ليخلّص يتيميها من عبودية صاحب الدين.</p>
<p>أسرعت لتودع أمورهما إلى أب الأيتام، كما وعد بأنه يسند المظلومين، الذين مات أبوهم.</p>
<p>وإذ ارتفع صوتها، صرخت أمامه بقوةٍ، ليفي دَينها، وينقذ ابنيها من العبودية.</p>
<p>قالت له الذكية: عبدك بعلي مات، وها صاحب الدَين يمسك اليتيمين ليستعبدهما.</p>
<p>وأنت تعلم بأن عبدك كان يخاف الرب. قم مكانه، لأجل الرب الذي كان يخافه.</p>
<p>عرضت الذكية قضيتها بحكمة، حتى يُلزَم النبي ويقوم لكي يتمم مهمتها.</p>
<p>قالت له مات بعلها، وكان يخاف الرب، حتى يهتم بها بسبب كلا الأمرين.</p>
<p>أجبرته ليقف مثل رجلها، وأن يخلص ابنيّ خائف الرب من العبودية.</p>
<p>عرفت أنه نبي، ذاك الذي وعد بأنه يجازي الأصدقاء مجازاة حسنة إلى ألف جيلٍ.</p>
<p>وطلبت من النبي أن يقوم مقام الله، استنادًا إلى ذلك الوعد المستودع عندها كرهينة.</p>
<p>قام النبي أيضًا مثل مُطالب بالعدالة ليسدد كل ديونها بدل الله.</p>
<p>طُلب منه كأنما اسمه موجود في الصك، فأعطى بفرحٍ ليخلِّص اليتيمين.</p>
<p>وقف بدل الله مع الأرملة المحتاجة، وحلَّ محل رجلها في عوزها</p>
<p>سألها ماذا يوجد معها في بيتها؟ أجابته: إن لها زيتًا في قارورة.</p>
<p>لماذا إذًا سأل النبي المختار واستفسر من الأرملة (قائلاً): ماذا لكِ في البيت؟</p>
<p>حرَّك نفسه ليصنع آية في بيت الأرملة، ويُكثِّره لها ما لها، وتغتني به.</p>
<p>بالروح الذي أخذه من الله، كان قد تسلط حتى يُكثِرَ الخليقة ويُقللها ويُبدِّلها.</p>
<p>لهذا سألها ماذا لديكِ، حتى يكثِّر ذلك الشيء الموجود عندها.</p>
<p>لو كان يوجد في بيتها شيء آخر، لأكثره، وكان يثريها مما لها.</p>
<p>إذ أعلمته بأنها تملك زيتًا، صمم أن يملأ كل بيتها زيتًا، فتغتني به.</p>
<p>أخذ أليشع مفتاح إيليا العظيم ليفتح الخلائق ويغلقها مثل رب بيتٍ.</p>
<p>بهذه القوة التي بها تدفق القرن في بيت الأرملة، بُوركت القارورة وكثر الزيت.</p>
<p>معلّمه لقّنه، والرب وهب له أن يأمر الخلائق، فتخدمه بطبائعها.</p>
<p>ولهذا سأل ماذا يوجد في بيت الأرملة، ليدعو الخليقة المجيدة فتقوم.</p>
<p>وإذ وجد هناك زيتًا، أمر الزيتَ ففاض، وسُدَّ حاجة المعوزة.</p>
<p>ما أن عرف بأنها تملك في بيتها زيتًا، قال لها أن تطلب من جيرانها آنية فارغة.</p>
<p>وتدخل إلى بيتها هي وابناها وتغلق بابها، وتملأ الآنية ماءً ، وفعلت هكذا.</p>
<p>والآنية التي طلبتها ملأتها ماء وفاض الزيت واغتنى بيت المعوزة بمعجزةٍ حدثت</p>
<p>من يعطني عينًا صافية ترى الأسرار، وفمًا صاحب سلطان على الخفايا فأتكلم عنها.</p>
<p>ونفسًا مملوءة من حبّ الرب، وإيمانًا، وكلمة جلية تُحرِّك التمييز.</p>
<p>وأذنًا مملوءة حبًا عظيمًا، وعطشًا لسماع جمال الأسرار، عندما توصف بأشكالها؟</p>
<p>هذه الأرملة التي اشتكت لدى أليشع، مصوّر بها السرّ بوضوح لمن ينظر إليها.</p>
<p>كان النبي يستطيع أن يدفع دَينها بدون زيت، لو أَمَرَ صاحب الدَين أن يتركه لها.</p>
<p>كان يُقدَّم له وزنات وثياب ولم يأخذها، أما كان قادرًا أن يفي دَين تلك المشتكية؟</p>
<p>سأل الشونمية ماذا يُصنَع لها، وكان مُستعِدًا أن يقول كلمة للملك لأجلها.</p>
<p>ذاك الذي كان يسهل عليه أن يأمر الملوكَ، لماذا لم يأمر صاحبَ دَين هذه الأرملة؟</p>
<p>أدخلها وأغلق الباب عليها وعلى ولدَيها، لأجل الأسرار التي تمَّت فيها بوضوح.</p>
<p>ربنا هو نسمة نفس النبوة، ولا توجد فرصة نهائيًا، بأن تحيا بدون أسراره&#8230;</p>
<p>بتلك الأرملة التي دخلت وأغلقت الباب على نفسها صوَّر أليشع سرّ الكنيسة وخلاصنا&#8230;</p>
<p>أغلقت أبوابها وأوفت دَينها، وبها رُسمت الكنيسة التي هي أيضًا تغلق أبوابها لغفران الذنوب&#8230;</p>
<p>كان السرّ محفوظًا عن الذين في الخارج ولم يعرفوه، عندما صنعت فعلها بينها وبين ولدَيها داخل أبوابها.</p>
<p>أرسل أليشعُ صاحبُ السرِّ الروح،َ ورفرف هناك في بيت الأرملة داخل أبوابها</p>
<p>داخل الأبواب المُغلَقة تكلم ثلاثة بالسرّ، وصبُّوا، وملأوا الأوعية الفارغة غنى عظيمًا.</p>
<p>الأوعية الفارغة تدل على البشر الذين كانوا فارغين من الحياة ومن موهبة اللاهوت.</p>
<p>في داخل الكنيسة، يسكب الثالوث الحياة، ويملأ الجميع من موهبته صاحبة الكنوز.</p>
<p>هذه الأسرار التي تمت داخل الكنيسة، موجودة في كل العمل الذي صار في بيت الأرملة&#8230;</p>
<p>طلب النبي من المرأة أن تسأل الأوعية حتى من السوق ومن جيرانها لتملأها.</p>
<p>هذا يرسم أن تأخذ الكنيسة من جميع الشعوب أناسًا فارغين، وتملأهم إيمانًا.</p>
<p>قال لها: اطلبي من السوق ومن جيرانك، كما تأخذ الكنيسة من الشعوب والأمم</p>
<p></p>
<h4>المرأة الشونمية</h4>
<p>غِنَى العالم يُحمّل من يقتنيه ثقلاً، بك يا رب أَغتني، لأن غناك حياة لمن يحبك.</p>
<p>كل مُقتنَى يقتنيه المرء خارجًا عنك هو فخ عظيم، يخنق من يقتنيه.</p>
<p>ربي نقتنيك، لأنك الغِنَى الذي لا يُسلَبْ، وغناك يُكسب الحياة، والتطويب لمن يتعلق.</p>
<p></p>
<p>إذ يتغير الغنى ويعبر عن قانيه، فلماذا يفرح به، لأنه قد ركب العجلة وغيَّر المكان؟</p>
<p>هذا هو الغنى عندما يغتني الإنسان من داخله، وكل غناه يسير معه حيثما سار.</p>
<p>عبيد الرب كانوا أغنياء في الرب فقط، وكانوا فقراء في كل ما وُجد في العالم.</p>
<p>كانوا فقراء في مقتنيات الوقت القصير، لكنهم كانوا أغنياء في الله وفي مواهبه.</p>
<p>هذا هو الغِنَى: غنى كل يوم لمن يعرفه، الغنى الذي يثبت بدون تغيير لدى مقتنيه.</p>
<p>من أجل هذا اقتناه الأبرار عوض كل شيءٍ، لأن منه ينبع كل غنى بدون تغيير</p>
<p>مال إلى بيت الشونمية المملوءة بالتمييز، لأنها استحقت أن تستقبله بحبٍ إيمانٍها.</p>
<p>كان يتقيد بوصية ربنا الجديدة منذ بداية سيرته حسب (العهد) القديم.</p>
<p>أمر ربنا الرسلَ عندما يدخلون إلى المدن أن يسألوا: من يستحق (ليقيموا عنده).</p>
<p>وبما أن روح الأولين والآخِرِين واحد، فبه كان يتصرف أليشع باستنارة.</p>
<p>رأى أن الشونمية كانت مستحقة ليُقِيم عندها، وكان يزورها دائمًا حين يَعبُرُ.</p>
<p>أنت تفهم أنها كانت تستحقه بفضل تمييزها، وكلامها مع رَجلها بخصوص أليشع.</p>
<p>قالت الذكية لرجلها بخصوص أليشع: أنا أعرف أن نبي الرب قديس.</p>
<p>لم تكن تستقبله بدون تمييز، لكن بحركات الإيمان المملوء حبًا.</p>
<p>ولهذا قالت: أعرف أنه قديس، فتجلى جمال إيمانها وتميَّز</p>
<p>صوّرت (المرأة الشونمية) للنساء صورة مُحبَّبة ومملوءة جمالاً، لينظرن إليها، ويتشبهن بها مع رجالهن.</p>
<p>يسهل على المرأة أن تحث بعلَها على ما هو جميل، وبإيمانها تصير لبيتها سبَب صلاح.</p>
<p>طبيعة النساء لا تنقصها المعرفة، فإن أردن، يكن حكيمات جدًا في أعمالهن.</p>
<p>أنزلت عادات التراخي ومحبة العالم الباطلة (بعض) النساء من معرفة الله.</p>
<p>بدون ذلك طبيعة الرجل وطبيعة المرأة متساويتان في خلقتهما: الفكر والعقل والتمييز وكل فهمٍ.</p>
<p>يسهل على المرأة أن تفهم كل شيءٍ بوضوح، ما لم تُنزلها العادة إلى الرخاوة.</p>
<p>لاحظها عندما تصلي لتحب شيئًا، فإنه ليس ما يمنعها، فتشغف نفسها كلها بمحبته بشدةٍ.</p>
<p>إنها مستنيرة كثيرًا بأمور تخصها، وما تود أن تصنعه تفعله كما الرجل.</p>
<p>حينما تحب، تكون بليغة جدًا في المدح، وحينما تبغض تكون ماهرة جدًا في اللعنات&#8230;</p>
<p>إن أرادت فهي نشيطة في كل هذا، ومستنيرة في التعليم الإلهي.</p>
<p>اُنظر تمييز الشونمية وتَعلَّم منها، فإنه يلزم على جميع النساء أن ينظرن إليها.</p>
<p>ويمارسن تعليم البرّ، ويرتبطن بفكر القداسة.</p>
<p>ويصرن سبب خيرٍ لرجالهن، ويظهرن كمُعلِّمات في منازلهن.</p>
<p>وتصدر من أفواههن نصائح صالحة داخل بيوتهن لرجالهن ولأشخاصهن.</p>
<p>مثل هذه المرأة التي صارت مثالاً لكل ما هو نافع، بمشورتها الصالحة تبارك بيتها كله</p>
<p>بإيمانها أظهرت لزوجها الطريق، وصنعت لذلك القديس (أليشع) مسكنًا مقدسًا في بيتها.</p>
<p>بنفسها المُحبة التي كانت ساكنة لدى الله، قالت لزوجها: إن نبي الرب قديس.</p>
<p>ونظرًا لوجود التمييز والإيمان فيها، أمكنها أن تعرف ذلك القديس كما هو.</p>
<p>وأعطت النصيحة، وسمع الرجل للمؤمنة، وأعدَّا مكانًا ليحل النبي عندما يَعبُرُ.</p>
<p>كان النبي أيضًا فطنًا مثل الله، وقد أراد أن يكافئ الصالحين على أفعالهم الصالحة.</p>
<p>رأى العلّية التي أتقناها له حسب إرادته بفقرٍ وتجردٍ وعفافٍ.</p>
<p>واستعد ليجازيهم خيرًا كما يجازي الله أعمال أحبائه الصالحة.</p>
<p>ولئلا ينكر النبي تعب الإيمان، طلب أن يكافئ محبتها التي بها أُكرم.</p>
<p>دعاها النبي ليستفهم منها ماذا يعطيها، لتقول له ماذا تطلب منه فيعطيها.</p>
<p>هكذا يعطي الله أيضًا من يطلب منه، ويريد أن يستجيب كل سؤال من السائلين.</p>
<p>بنفس الفكر استعد نبي الرب ليعطيها ما تسأله، لأنها خدمته.</p>
<p>استفهم منها: هل تطلب منه بأن يقول عنها كلمة للملك أو لقائد الجيش فتنال مساعدة</p>
<p>أراد النبي أن يعطيها ابنًا دون أن تطلبه، إذ لم تسأل ولدًا تناله من الله.</p>
<p>عرف البهيّ بأنها كانت عاقرًا، وزوجها شيخ، فحارب الأمرين وقهرهما.</p>
<p>صارع مع العقم والشيخوخة، وجنى النبي العظيم ثمرة من كليهما&#8230;</p>
<p>كانت كلمة الرب في فم ذلك القديس، وكان يسهل عليه أن يصنع أبناء من الحجارة.</p>
<p>ولهذا وعد أن يعطي المرأة العاقر والرجل الشيخ ثمرة، ويبهجهما.</p>
<p>أشرقت من بين شفتيه قوة فاعلة، فلم تقدر الطبيعة أن تعصيه في ما يأمرها.</p>
<p>بثقةٍ وعد المرأة المقفرة، وكما وعد تمَّم الرب، وأعطاها ثمرة.</p>
<p>شبعت العاقر، وفرحت المعوزة بالثمرة، واغتنى البيت بوارثٍ محبوبٍ، وابتهج سكانه.</p>
<p>انتصر أليشع حين أمر، فأثمر الحضن العاقر، وابتهجت الشونمية بابن تحتضنه</p>
<p>أراد الرب أن ينتصر عبدُه المختار، ويعظم اسمه بالعجائب التي تُصنَع.</p>
<p>أرسل الموتَ، فقطف الثمرة المحبوبة التي نمت، والكرمة العاقر التي تحمله لبست الحِداد.</p>
<p>وهبه وأخذه ليُظهِرَ قدرته العظيمة، لأن حياة العالم كله وموته موضوعان في يديه</p>
<p>تدبير الله سام جدًا، ولا يوجد خطأ في أعماله الحكيمة.</p>
<p>كل (أعماله) تُذهل المميّزين، ولا تُدرَك إلا بمحبة الإيمان.</p>
<p>حتى عندما يأخذ الرب شيئًا من إنسانٍ، فكأنه ينال بالنسبة لمن يعرف أن يتأمل فيه.</p>
<p>عندما وهب ابنًا للعاقر كان ذلك موهبة، وحين أخذه أيضًا كان يتعامل بنعمته نفسها.</p>
<p>أراد أن يُعظِّم موهبته ويزيِّنها، لتصير محبوبة ونامية جدًا لدى آخذيها.</p>
<p>وهب ولدًا للمرأة العاقر ولكن فقدته، ثم عاد وأعطاها من الميت حيًا لكي تفرح به.</p>
<p>ضاعف هذه الموهبة المحبوبة التي أعطاها، ليكثر جمالها، ويُمدَح بها النبي العظيم.</p>
<p>وهبه القوة أن يُعطي أبناء للعواقر، وأضاف له أيضًا أن يُعِيدَ الموتى من الموت.</p>
<p>بنبوتِّه جعل البطن العاقر والهاوية يثمران، وأظهر قدرته بالحضنَين اللذين كانا مُقفريْن.</p>
<p>ولكي ينتصر جبروته (الله) في العالم كله، أمات الرب حينئذ ابن الشونمية.</p>
<p>نظر الله إلى إيمانها كم كان عظيمًا، وكانت تطلب منه دون ارتياب أن يُحيي الميتَ.</p>
<p>لهذا أخذ (الله) هذا المحبوبَ الذي سُلب، لتهتم أمه وتطلب حياة الموتى من المختار.</p>
<p>عرف بأنها لن تترك ذلك القديس حتى يقيمه، لهذا أخذه منها بالموت.</p>
<p>حكيم القلب أرسل الموتَ إلى العاقر، وجرَّد مسكنها الذي عرف الأمان بحبيبها (ابنها)</p>
<p>مات حبيبها ولم تفتح قبرًا يدخل فيه، بل وضعته في العلية التي تُنبع الحياة.</p>
<p>عرفتْ من يحل في ذلك البيت، وكانت واثقة أنه سيأتي حالاً، وسيشرق الحياة.</p>
<p>وضعت الصبي في بيت أليشع، وأغلقت عليه، ليأتي النبي ويطرد الموت من خدره.</p>
<p>وضعت الجثمان على سرير الرجل الإلهي، ليأتي ويسحق الموت الذي سحق مضجعه.</p>
<p>أدخلت الميت إلى عرين الأسد، وأغلقت الباب، ليزأر على الموت ويطرده بسرعة</p>
<p>وضعت الميت وسلكت طريقها إلى أليشع، ليأتي ويرد سبيًا أخذه الموت منها.</p>
<p>مضت لتدعو الطبيب الذي يعرف أن يحيي ميتًا، ليأتي ويشفي الصبي الميت ويقوم حيًّا.</p>
<p>بإيمانها أدركت كيف أن قوته قادرة، وطلبت منه ما يسهل عليه فعله مثل الجبار.</p>
<p>توجهت وصعدت إلى جبله لتأتي به، فينزل ويُصعد الميت من حفرة الموتى.</p>
<p>أخفت الذكية السرّ عن زوجها لئلا يتذمر، إلى أن يحيا الصبي، ثم تكشفه له</p>
<p>لماذا إذًا يا تُرَى أخفى الرب موت الصبي عن أليشع، ولم يشعر به عندما مات؟</p>
<p>لو شعر، لكان قد منع الموت عنه، وبدعائه كان يزجره، فلا يقترب منه.</p>
<p>شعوره بالصبي وطرد الأذى منه ليس عظيمًا كما أقامه وأعطاه لأمه</p>
<p>المرأة المُحِبَّة قالت لرجل الروح هذه الأمور، وبطلبها أجبرته ليعمل حسب إرادتها.</p>
<p>أرسل جيحزي، وأعطاه عصا كما قلنا، وأمر الخادم بأن يسكت ولا يتكلم في الطريق.</p>
<p>قال له: لو التقى بك رجل في الطريق، لا تُبَاركه، ولو باركك لا تردّ عليه.</p>
<p>هذا ما قاله أيضًا ربنا لتلاميذه: لا يُسَلِّموا أبدًا على أحدٍ في الطريق.</p>
<p>العبارتان إذًا قيلتا بروح واحدٍ، لأن ربنا وهب الأنبياء روحًا منه</p>
<p>أخذ العصا واجتاز أمامه كما أمره، فوصل إلى الميت، ووضع العصا عليه كما قال له.</p>
<p>لم يتحرَّك الموتُ ويهرب من التلميذ، ولم يترك الجثة وينتقل، لأنها كانت مغلقة.</p>
<p>لم تكن للعصا الضعيفة القوة لتحيي الميت، بل كان حاملها فارغًا ومجردًا من الأعجوبة.</p>
<p>تابوت العهد الذي شطَر البحر، وحطَّم السور، وصنع القوات على يديّ يشوع الكاهن العظيم.</p>
<p></p>
<p>من جهة ثانية سُبيَ سبيًا، وقُتل شعبه، وأُذل مع المسبيين.</p>
<p>لم ينتصر بأيدي كهنة طماعين حملوه، وهكذا لم تشتهر العصا بيديّ جيحزي.</p>
<p>حمل الضعيف عصا قوية ولم يصنع بها آية، كالتابوت الذي لم ينتصر بالطماعين الذين حملوه</p>
<h4>نعمان السرياني</h4>
<p>كان البهي مملوءًا بالروح القدس، كاشف الأسرار.</p>
<p>استند على إعلانات النبوة، وكان يجتر القداسة والنقاء ويمضغهما.</p>
<p>سهل عليه أن يداوي الأمراض، ويصنع القوات، ويواسي الضعفاء، ويفرّج عن المجروحين.</p>
<p>كان اسم جبروته مشهورًا بين العبرانيين، وأخباره الحسنة أقلقت أرض الأراميين.</p>
<p>قوة الشفاء صارت كالينبوع، فجرى وسقى الإسرائيليين، وفاض ليسقي الأراميين</p>
<p>سمع نعمان الأبرص قائد جيش بني عيسو بخبره، أنه يسهل عليه شفاء البرص.</p>
<p>أشرق اسمه في البلاد كالشمس، وتجمع كل المرضى من كل الجهات عند بابه.</p>
<p>أتى نعمان الأرامي مع الكثيرين، لينزع عنه قميص البرَص بواسطة أليشع.</p>
<p>أتى قائد الجيش اللابس البرَص، ووقف على بابه، وتوسل ليشفيه أليشع.</p>
<p>أرسل النبي العجيب، وقال له: اغتسلْ في الأردن سبع مرات فتطهر.</p>
<p>غضب نعمان، واحتقر الكلمة التي سمعها، وخرج غاضبًا ومنتقدًا، ثم غادر الموضع.</p>
<p>كان منتقدًا، قال: لماذا لم يخرج إليّ ويشفي مرضي؟</p>
<p>لا تنقص الأنهار في أرض أرام، لو كان الأمر هكذا، أمضى وأَغتسل فأطهر</p>
<p>v ذهب واغتسل سبع مرات كما أُمر، ونُزع برصه، وصار طاهرًا بقوة عظمى.</p>
<p>لماذا أمره أن يغتسل سبع مرات، مع أن القوة واحدة لا تخضع للتعداد؟&#8230;</p>
<p>قامت الخلائق وتخومها في ستة أيام، وفي اليوم السابع استراح من أعماله البديعة.</p>
<p>ولهذا كُرِّم السبتُ على السبعة أيام، لأنه الإكليل الذي به خُتمت كل الخلائق.</p>
<p>بنت الحكمة لها بيتًا عظيمًا مملوءًا جمالاً، وسندته بسبعة أعمدة ليقوم بها.</p>
<p>في سبعة أيام يسرع العالم نحو التغييرات، وهي تدور فيه كل يوم وتقيمه.</p>
<p>أيام الأسبوع السبعة التي بها يقوم العالم كله، تقف مثل أعمدة وتحمله.</p>
<p>ولهذا علَّم النبي الأرامي سرّ السبت، فيغتسل سبع مرات ويطهر.</p>
<p>فإن طُرح سؤال عن هذا التعداد يأتي سرّ السبت ويدخل ويظهر نفسه.</p>
<p>ومن التوراة ظهر جمال هذا العدد الذي به أقام الخالق العوالم وإبداعها.</p>
<p>تطهير الأرامي كان أعجوبة، ومع الأعجوبة كان يلزم التعليم.</p>
<p>وضع النبي عدد الأيام السبعة، ليصير نافعًا للأراميين ويفيدهم.</p>
<p>فحين يستفسرون عن عدد المرات السبع يعرفون القوة من التوراة صاحبة الكنوز.</p>
<p>ظهر خبر القدرة الخالقة والإبداع، والخالق الذي أقام العوالم في سبعة أيام</p>
<p>اغتسل نعمان، فهرب برصه، وتعافَى جسده، واقتنى جسمًا جديدًا يشبه جسم الصبي.</p>
<p>حين سمع الكلمة احتقرها لكونها ناقصة، ولما تحققت خاف من العجب بسبب عظمته.</p>
<p>قامت هذه القدرة العظيمة التي رافقت النبوة في النهر، وتعافَى الجسم الذي كان فاسدًا.</p>
<p>القدرة الخالقة التي أنجزت العالم في سبعة أيام، غيّرت الجسم بسباحة نعمان سبع مرات.</p>
<p>تعافى جسمه، وخاف من العجب، وفرح قلبه، وامتلأت نفسه بإيمان الله.</p>
<p>هرب برصه، وهربت الشكوك من فكره، ورأى العجب، فتحرَّك ليُسبِّح بسبب الأعجوبة.</p>
<p>عاد فرحًا إلى باب رجل الله ليُسبَح، لأجل الأعجوبة العُظمَى التي شاهدها.</p>
<p>اعترف بأنه لا يوجد إله في كل الأرض إلا في إسرائيل، وله يسجد.</p>
<p>هذا هو الذي أقام العالم في سبعة أيام، وهو صاحب سلطان على الخلائق ليُغيِّرَها</p>
<p>أتى الأرامي بالفضة، وأعطاها لأليشع، وتوسل إليه أن يأخذها منه كقربانٍ.</p>
<p>تعارك الغِنَى والفقر على باب بيت ذلك المسكين الإلهي.</p>
<p>داس الغِنى البغيض والبعيد عن الله، ولم يمد يده ليأخذ الفضة التي قُدِّمت له.</p>
<p>كان عيبًا على ذاك الذي صرخ في البرص فهرب، أن يحني يده مثل شقيّ إلى المال.</p>
<p>ٍكانت بغيضة في عينيه فضة الأرامي وبرصه، وبصدق طرد كليهما من عتبته.</p>
<p>أزال برصَه ورذل فضته المساوية له، واحتقر البرص والفضة، ورذل كليهما.</p>
<p>ألحّ عليه كثيرًا ليأخذ منه، فلم يتنازل، لأنه احتقر كل كنوز السلاطين.</p>
<p>كان الإيمان مضطرمًا في نفس نعمان، والتهبت فيه محبة الرب كاللهيب.</p>
<p>اشتهي أن يعطي الفضة بكثرة، والرجل الذي أبغض اقتناء الغنى لم يقبل.</p>
<p>كان هروب برص نعمان من عند الله، واحتقار النبي للمال كان من عنده.</p>
<p>جمال نفسه هو أنه هرب من المال، واحتقر الغنى الذي يحرق الكثيرين بناره.</p>
<p>محبة المال التي تقتل مرارًا حتى القديسين، قتلها النبي، وأخرجها، وداسها خارج بابه.</p>
<p>بتطهير نعمان غلبت فيه قوة الله، ونصرة النبي تعني أنه غلب محبة الذهب&#8230;</p>
<p>الوصية التي أعطاها ابن الله لرسله كانت موضوعة في نفسه ليبغض الذهب مثل التلميذ.</p>
<p>بعين النبوة السامية رأى طريق الرسل، فسار فيه بدون المقتنيات</p>
<p>محبة الفضة التي غُلبت من قبل أليشع، صنعت كمينًا لتُهلك التلميذَ المتكاسل.</p>
<p>وبما أن المعلم غلبها، عادت إلى التلميذ، وإذ وجدته متراخيًا داسته وأذلته.</p>
<p>النار التي انطفأت عند أليشع، اضطرمت وشبّت في جيحزي، ليحترق بها بدل مُعلّمه.</p>
<p>الخطيئة التي غلبها هذا المُعلِّم العظيم المملوء بهاء، عادت إلى التلميذ المملوء طمعاً.</p>
<p>رأى مُعلِّمه الذي رذل مال الأراميين، فذمّه واحتقره، لأنه سكر بمحبة الذهب.</p>
<p>قذفته شهوة الغنى بسهمٍ، فطُعن وسقط، ودفعته ليخرج ويصبح أيضًا سارقًا.</p>
<p>لم ينتظر أن يقتني فقط ما يعطونه، لكنه أسرع ليسرق مثل إنسانٍ نشيطٍ.</p>
<p>بدل المقتني صار بجسارته سارقًا، بعد أن اتقدت فيه محبة المال واضطرمت.</p>
<p>ذمّ مُعلِّمَه، قائلاً: لماذا رفض الأرامي، ولم يأخذ منه المال حين شُفي؟&#8230;</p>
<p>بما أنه سكر بشهوة محبة الذهب البغيضة، كان تمييز مُعلِّمه العظيم بغيضًا في عينيه.</p>
<p>وإذ ظن بأنه يملأ نقص مُعلِّمه، ركض السارق وراء نعمان، وقال له:</p>
<p>أتى أناس محتاجون عند مُعلِّمنا ليسندهم، وطلب منه أن يعطيه وزنة فضة لهؤلاء المحتاجين.</p>
<p>أعطاه قائد الجيش وزنة وثيابًا بقلبٍ صالحٍ وهو مسرور كما طلب هذا السارق.</p>
<p>أعطاه ضعفًا فأخذه، وعاد مسرعًا، أخفاه وطمره وبحكمة رتَّبه</p>
<p>جيحزي الجاهل، إما أنه نسي من هو مُعلِّمه، أو سَكَرَ بمحبة الذهب، وفقد عقله.</p>
<p>يا جيحزي، ماذا يُخفَى عن أليشع؟ ومتى لم يتطلع إلى الخفايا فيراها؟</p>
<p>أي سرّ اختفى يومًا ما عن أليشع، حتى تخفي فضتك عنه، فلا يدري بها؟</p>
<p>تحجب الشهوة وجه النفس وتغطيه مثل ستارٍ، وتُغَطِّيها لئلا ترى العمل الشرير.</p>
<p>لو أن ضمير المرء يدينه قبل أن يخطئ، لأظهر له أن خطيئته بغيضة، فما كان يخطئ.</p>
<p>لكن إن تحركت الشهوة وركضت إلى العملٍ، تُبطل الشهوة حُكم الضمير اللائق.</p>
<p>خطفت شهوة الفضة جيحزي، ولم يفهم أن لمُعلِّمه عينًا خفية ترى الأسرار</p>
<p>حفر وطمر، وظنَّ أن (مُعلِّمه) لا يدري، وبما أنه سكر، أظلمت نفسه ولم تفهم.</p>
<p>حاول بحيلة وطمر فضته، وأتى ووقف أمام أليشع مثل وديع.</p>
<p>هذا المُعَلِّم الذي امتلأت نفسه بروح الإعلانات يسأل: من أين أتى جيحزي؟</p>
<p>(تكلّم) بكذبٍ يتعلق بالسرقة، وقال الجاهل: عبدك لم يحِد إلى هنا ولا إلى هناك.</p>
<p>بدأ النبي يوبخه ويزجره ويفضحه ويُظهر له ما عمل في الطريق.</p>
<p>أظهرَ لي قلبي أن رجلاً نزل من المركبة للقائك، وأعطاك فضة، فأتيت وخبأتها.</p>
<p>كان قلب هذا النبي العجيب مرآة مملوءة نورًا، ترى الأسرار روحيًا.</p>
<p>وهو في بيته رأى نعمانَ وراء الجبل، عندما صرّ الوزنة، وأعطاها لجيحزي السارق</p>
<p></p>
<p>كُشف له السرّ كما لو كان معه بقربه، ووبَّخه وأخزاه، لأنه عُري أمام الكثيرين.</p>
<p>نعم أيها التلميذ، من علَّمك إن كنت قد تعلمتَ؟ ومتى وأين تعاملنا مع محبة الذهب؟</p>
<p>لماذا يا جيحزي هذا العمل الجديد، الذي لم تشاهده فيَّ، فأنت مثل سارق وطماع عظيم؟</p>
<p>لماذا المقتنيات؟ ولماذا الكروم؟ ولماذا الزيتون، والغنى الفاسد الذي لا يدوم في عالم شرير؟</p>
<p>أمرتك عندما أرسلتك لتُحيي ميتًا، ألا تُبارَك ولا تبارِك من يلتقي بك.</p>
<p>أمرتك أن تصمت وتُسرع في طريق النبوة العظمى، والآن لقد ملأتها بالسرقة.</p>
<p>ليلتصق بك برص نعمان الأرامي، والذي أخذت فضته، فخذ برصَه واقتنِه لك.</p>
<p>اقتنِ لك البرص والفضة، لأن هذا وتلك بغيضان، اقتنِ كليهما، وكن سخرية في العالم كله.</p>
<p>تحققت كلمة ذلك القديس بسرعةٍ إلهية، وألبست جيحزي الطماع قميص البرص.</p>
<p>مع كلمته تم الفعل بقوة عظمى، ولبس جيحزي النجاسة، واقتنى العار.</p>
<p>القميص الذي خلعه نعمان لبسه جيحزي، وأظهر النبي العظيم قوته بكليهما.</p>
<p>بكلمة فمه نزعه عن واحدٍ وألبس آخر، لأن قوة عظيمة كانت توجد في كلمته&#8230;</p>
<p>طهَّر نعمان، وأعطى الدنس لهذا الطماع، ووقفت شهوة الذهب والسرقة في خجلٍ.</p>
<p>احتقر الغنى وأعطى النصرة للفقر، وجعل من الطمع عارًا في العالم كله.</p>
<p>وبما أن جيحزي اشتهى الثياب واقتناها، أعطاه النبي ثوب البرص، فلبسه وخزي.</p>
<p>جُعل هذا مثل مرآة لمحبِّي الغنى، وجعل السارق مثلاً في العالم كله.</p>
<p>صوَّر النبي صورة العار لهذا السارق، ووضعها في كتابه، وهوذا كل الخليقة تنظر إليه.</p>
<p>بها يتعلم المرء أن محبة المال نجاسة، وبرَص خفي، وبغيضة جدًا لمن يقتنيها&#8230;</p>
<p>إكليل النصرة لذاك الذي أبغض اقتناء الذهب!</p>
<p>مبارك من وهب (أليشع) اسمًا جميلاً في العالم كله!</p>
<h4>الحرب بين الإسرائيلين والأراميين</h4>
<p>طبيعة النفس سامية في خلقتها، ومملوءة جمالاً، وتحمل صورة اللاهوت العُظمَى.</p>
<p>عندما تتنقَّى من الأعمال العالمية، وعندما لا تتنجس بالشهوات الغريبة؛</p>
<p>عندما تكون سيدة للجسد فلا يأمرها؛ تدبره بالقداسة، ولا يعصاها؛</p>
<p>عندما تتطهر من كل الحركات الجسدية، تنظر وترى روحيًا العوالمَ الخفية.</p>
<p>إن اجتاز ملاك أمامها لا يُخفَى عنها، وترى الأبالسة والملائكة وجهًا لوجهٍ.</p>
<p>هذه القوات المستترة ليست خفية عنها، لأنها تنظر وترى أفواجها بوضوح.</p>
<p>كل قديس يمرّن نفسه بالروحانية، يرى بوضوح كل ما يوجد على الأرض.</p>
<p>جميع القديسين يرون مثل ملائكة الرب، ولا يوجد شيء عند الله مُستتر عنهم</p>
<p>كان يرى بوضوح كمائن الملوك التي كانت تُعمَل سرًا، عندما كانت تُدبَّر.</p>
<p>عندما كانوا يتكلمون بأسرار خفية في (أرام)، كان أليشع يفضحها في أرض اليهودية.</p>
<p>دارت حرب بين الأراميين والإسرائيليين، وشبّ خطر الدم المثير للخصام والداعي إلى الحرب.</p>
<p>بينما كان أليشع يقيم مع العبرانيين، فضح الكمائن التي صنعها الأراميون.</p>
<p>عندما فكَّر ملك أرام أن يفعل شيئًا، كان يبطل التنفيذ قبل أن ينفذ كلمته.</p>
<p>عندما كان يهيئ كمينًا ليصنعه سرًا، كان يكشفه أليشع كاشف الأسرار.</p>
<p>كان ملك أرام يُحِيك الأسرار في خدره، وحالاً تنتشر بوضوح بين العبرانيين.</p>
<p>كانت أفكار الأراميين ومؤامراتهم وكل أسرارهم يُفضحها أليشع.</p>
<p>وهو في بيته، كان ينظر ويرى أيضًا كل ما هو خفي في منازل الأراميين.</p>
<p>عندما كان ينظر، لم تكن بُعد المسافات الموجودة بين البلدَين تخفي عنه شيئًا.</p>
<p>كان لهذا الرجل رؤية صافية مملوءة نورًا، بها يرى كل الخفايا بدون غطاء.</p>
<p>وعندما أراد الأراميون أن يغيِّروا الخطط، كان ذاك العبراني يراها ويفضحها.</p>
<p>لأنه كانت له عين ترى روحيًا كل أسرار الأراميين التي كان يفضحها.</p>
<p>تذمر ملك أرام واضطرب، لأن كل خفاياه كانت تُكشَف بين العبرانيين.</p>
<p>صنع كمينًا بخدعة وحيلة عُظمَى، ونصب فخًا ليوقع العبرانيين في الشَرَك.</p>
<p>كشف أليشع كل الخدعة وكل السرّ، وانكسر قلب الأرامي لأنه انفضح.</p>
<p>ظن الملك بأن أحدًا من أتباعه يكشف أسراره للإسرائيليين، ويُبطل خطط نصرته.</p>
<p>بدأ الرجل يشتكي، ويقول لعبيده: واحد من أتباعنا يكشف سرِّنا لإسرائيل.</p>
<p>فأعلنوا حالاً لملك أرام بأن أليشع يفضح خططهم وكمائنهم</p>
<p>كانت الملائكة تحرس أليشع، وحيثما ذهب كانت تسير معه القوات.</p>
<p>جيش خدام الله يحيط بخائفيه، وينجيهم من الأضرار.</p>
<p>كان مستيقظو النار يحيطون به من كل الجهات، ولم يكن يقترب منه الخطر أو التهديد.</p>
<p>خاف تلميذه الذي رأى الخيول والقوة العظيمة مثل صبي، ارتعب من الأفواج القوية.</p>
<p>خاف وعاد إلى أليشع وهو يرتعب، وقال: آه يا سيدي، كيف نعبر من الفرسان؟</p>
<p>أما أليشع فلم يَخَف من الأفواج، ولم يكن يحسب بأس الملوك شيئًا.</p>
<p>أحاطت به قوات بيت الله، التي كانت أكثر من الجموع المحيطة به</p>
<p>لما خاف التلميذ من غبار الجيش الذي رآه، شجَّعه مُعَلِّمُه لئلا يرتجف من الكثيرين.</p>
<p>القوات الموجودة معنا هي أكثر من قوات الأراميين المُحيطة بنا.</p>
<p>صلَّى البهي من أجل التلميذ لكي يراها، وفتح الربُ عينَي الخادم كما طلب له.</p>
<p>رأى الفرسان وخيول النار المملوء منها الجبل. إنه منظر مخيف ومُرعِب لمن يشاهده</p>
<p>رجل واحد قاد كل الجيش بدون قتال، وهم أضعف وأوهن من أن يتخلصوا منه.</p>
<p>عرقل نظرهم، وربط أعينهم، واقتادهم إلى حيث شاء، وأذلهم.</p>
<p>أُرسلوا ليصطادوه مثل الجبابرة، فاصطادهم هو، وجلبهم مثل الضعفاء.</p>
<p>جلب ثوب الضلالة وبسطه على وجوههم، واقتادهم مثل عميان حتى يخزيهم.</p>
<p>ذهبوا معه وهم ينظرون إليه دون أن يروه ليصيروا سخرية بجنونهم على من تجاسروا.</p>
<p>ضُرِبَ الأشقياء من قبل ملائكة الله التابعين له، وهرب نور وجوههم</p>
<p>قادهم وأدخلهم إلى قلب السامرة، ودعا الرب، ففتح عيونهم المُغلَقة.</p>
<p>رفع عنهم الضلالة التي لبسوها، فاستناروا وعرفوا أين هم؟ وكيف أتوا؟</p>
<p>عرفوا أيضا أنه الرجل الذي كانوا يطلبونه، فخافوا واضطربوا، كيف لم يعرفوه في الطريق.</p>
<p>فهموا أنه أليشع، وأنهم كانوا يبحثون عنه، وهو يتكلم معهم في الطريق ولم يعرفوه.</p>
<p>أضحى الأشقياء مُلامين وضعفاء ومملوءين خوفًا، ومحتقرين، وجهلة، وتحت الموت الذي أفزعهم.</p>
<p>نظروا إلى رجل الله كيف هو، واحتقروا الملك الذي أرسلهم</p>
<p>أتى بهم كأعداء لملك السامرة مثل الضعفاء، وأقامهم أمام وجهه&#8230;</p>
<p>رآهم الملك وتحرك مثل الجبار ليقتلهم، وكأنه هو الذي انتصر وأتى بهم وحبسهم.</p>
<p>طلب أن يرفع يده ويبيدهم بالسيف، أما رجل الرب فمنعه من أن يصنع بهم شرًا.</p>
<p>أيها الملك، إنك لم تُضعفهم في حربٍ، فلا تضربهم بقوسك ولا بسيفك.</p>
<p>لا تفتخر بنصرة ليست هي نصرتك، أطعمهم واسقهم واِجعلهم يدهشون.</p>
<p>تغلّب على الشر بالخير الذي سيصير للأراميين&#8230;</p>
<p>يليق بقديس الله أن يُطعِمَ الرجال الذين أتوا ليصطادوه.</p>
<p>بالأعجوبة العظمى التي صنع أفزعهم، وملأهم دهشة عظمى، ثم أرسلهم.</p>
<p>صنع سلامًا بين الجانبين بدون قتال، مبارك هذا الذي أعطاه القوة والبأس والجبروت</p>
<p>ماذا أقول عن تلك المجاعة التي حدثت هناك، حتى أكلت النساء أبناءهن بسبب الضيق؟</p>
<p>إنه خبر مُخيف تهرب منه الأذن، ورعدة عظيمة أن تأكل النساء أحباءهن.</p>
<p>أفسد الجوع أرحام النساء الوالدات، لئلا يُشفقن على أولادهن عندما يقتلونهم.</p>
<p>بدل أمهات صرن حيوانات مفترسة، وبسبب الضيق أكلن لحم أحبائهن.</p>
<p>طرد الجوع شفقة الأم وهزمها، لئلا تعود إلى الابن الذي يهلك.</p>
<p>طعن سهم الجوع المُرضِعة، وركعت وسقطت، وشرعت تأكل من حبيبها لكي تحيا.</p>
<p>يا للهول العظيم! أمسكت بالوارث لتقتله، وهربت محبة الأمهات بسبب المجاعة التي حدثت.</p>
<p>لم تخَف عندما صرخ الطفل تحت السكين، ولم ترتعب حين سبَحَتْ يداها في دمه</p>
<p>ارتجف الملك من الخبر المُخيف الذي ذُكِرَ، ومزَّق ثوبه وولول وصرخ بسبب ما سمعه.</p>
<p>أقسم وهدد أليشع الإلهي بقطع رأسه، بسبب الخبر المريع الذي سمعه.</p>
<p>أيها الملك، بماذا أذنبَ إليك نبي الرب؟ إنه صامت في بيته، وهو مُحاصَر مثلك في المدينة؟</p>
<p>إن أكلت النساء أبناءهن، فما شأنه وبنات السامرة اللواتي قتلن وأكلن أحباءهن؟</p>
<p>إن كان يضايقك الأراميون، فما شأنه؟ لأنه ليس له رئيس فوج، ولا قائد جيش، فماذا يصنع لك؟</p>
<p>بماذا أخطأ إليك هذا الرجل النبي، حتى تهدد بقطع رأسه كأنه أرامي؟</p>
<p>لك السلاح، ولك قادة الجيوش، اخرج وحارب، وألا لا تهدد أليشع&#8230;</p>
<p>عرف ملك السامرة من هو الرجل، وكان واثقًا من أنه إن أراد يصنع الخلاص&#8230;</p>
<p>فكر بأنه إن صلى&#8230; تخرج صلاته، وتهلك آلاف الأراميين.</p>
<p>إن دعا النار تنزل على الذين في الخارج، وإن أمر الأرض بإشارة لابتلعتهم.</p>
<p>إن أرسل كلمته تخرج على صفوفهم، ويهزمهم بلا قتال، ويبيدهم.</p>
<p>كان الملك مُحاصرًا في المدينة، صامتًا عن ضيقٍ، ولا يحزن على النساء لأنهن أكلن أحباءهن.</p>
<p>هذا الملك هو ابن إيزابل المتعطشة إلى الدم، وقد تهيأ ليجدد ما صنعته أمه.</p>
<p>عرف بأن لدى أليشع القوة، فلماذا لم يتوسل قبل أن يهدده ليقوم بعملٍ ما؟</p>
<p>المدينة محاصَرة بسبب خطايا بني الشعب، والجاهل يهدد بقطع رأس هذا القديس</p>
<p>شعر أليشع وهو جالس في بيته أن الملك عزم فأرسل لقطع رأسه.</p>
<p>رأى ببصيرته الروحية الرسول الذي خرج ليأتي للتنفيذ.</p>
<p>مع أنه كان بعيدًا، رأى عن قُرْب العمل البغيض، وكشف للشيوخ الجالسين عنده عن الرسول.</p>
<p>طلبوا منه أن يصنع الأمان وكأنه الحاكم، وأن يزجر الأراميين فيهربون.</p>
<p>وأن يصنع الرخاء في السامرة المتضايقة، ويعطي كل الخيرات للشعب المُحاصَر&#8230;</p>
<p>لتهزمِ الأراميين أو تموت، وطالبوه بالأمان والشبع العظيم<a href="#_ftn1" name="_ftnref1">[1]</a></p>
<p><a href="#_ftnref1" name="_ftn1"></a>٩- المرجع : تفسير سفر الملوك الثاني ( الإصحاح الرابع والخامس والسادس ) &#8211; القمص تادرس يعقوب ملطي</p>

      {% endcreateArticleAccordions %}
    </section>
  {% endblock %}
  