---
layout: 'layouts/reading.html'
title: 'اليوم الثاني من بؤونة'
tags: 'annual'
permalink: /articles/annual/10-2.html
---
  {% block content %}
    <section id="readings">
      <ul>
      {% if 'undefined' != 'undefined' %}
      
      {% else %}
      {% if '19.35:10,27' != 'null' %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">العشية</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeVespers '19.35:10,27' '42.7:18-28' %}
          </div>
        </div>
      </li>
      {% endif %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">باكر</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeMatins '19.51:8,19' '43.3:25-36' '' %}
          </div>
        </div>
      </li>
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <h3 class="flex items-center justify-between">
            <span class="kufi">القداس</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </h3>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeLitugy '58.11:1-10' '60.1:25*@+60.2:1-10' '44.13:25-33' '19.34:19,15' '40.11:2-10' %}
          </div>
        </div>
      </li>

      {% endif %}
        </ul>
    </section>
    <section id="article">
      <h3 class="mt-8 mb-4 heading-explain">شرح القراءات</h3>
      {% createArticleAccordions %}
        <p>وجود عظام يوحنا المعمدان</p>
<p>ويتقدم أمامه بروح إيليا وقوته، ليرد قلوب الآباء إلى الأبناء، والعصاة إلى فكر الأبرار، لكي يهيئ للرب شعبا مستعدا</p>
<p>(لو ١: ١٧)</p>
<p>&#8221; لم يَقُم في مواليد النساء من يُشبهُك ، أنت عظيم في جميع القديسين ، يا يوحنا المعمدان</p>
<p>أنتَ أفضل من نبي ، تعاليتَ في البر ، أنت هو صديق العريس ، حمل الله &#8221; ذكصولوجية القديس يوحنا المعمدان</p>
<p>&#8221; من حديثنا تعرفون أن &#8220;الصوت&#8221; يكون أولًا عندئذ تُسمع &#8220;الكلمة&#8221;، لهذا يُعلن يوحنا عن نفسه أنه &#8220;صوت&#8221;، إذ هو يسبق &#8220;الكلمة&#8221;. فبمجيئه أمام الرب دُعيَ &#8220;صوتًا&#8221;، وبخدمته سمع الناس &#8220;كلمة الرب&#8221; إنه يصرخ معلنًا: &#8220;اصنعوا سُبله مستقيمة&#8221;&#8230; إن طريق الرب للقلب يكون مستقيمًا متى استقبل بتواضعٍ كلماته للحق، يكون مستقيمًا إن مارسنا حياتنا في توافق مع وصاياه. لذلك قيل: &#8220;إن أحبّني أحد يحفظ كلامي ويحبّه أبي وإليه نأتي وعنده نصنع منزلًا&#8221; (يو ١٤: ٢٣). أمّا من يرفع قلبه بالكبرياء، ومن يلتهب بحُمّى الطمع، ومن يلوث نفسه بدنّس الشهوة يغلق باب قلبه ضدّ مدخل الحق، ولئلا يقتني الرب المدخل فإنه يحكم الإغلاق بالعادات الشرّيرة &#8220;<a href="#_ftn1" name="_ftnref1">[1]</a></p>
<h3>شواهد القراءات</h3>
<p>(مز ٣٤: ١١، ٢٩) ، (لو ٧ :١٨ - ٢٨) ، (مز ٥٠ : ٨ ، ٢٠) ، (يو ٣ : ٢٥ - ٣٦) ، (عب ١١ : ١ - ١٠) ، (١بط ١ : ٢٥ - ٢ : ١ - ١٠) ، (أع ١٣ : ٢٥ - ٣٣) ، (مز ٣٣ : ١٩ ، ١٤) ، (مت ١١ : ٢ - ١٠)</p>
<h3>ملاحظات على قراءات يوم ٢ بؤونه</h3>
<p>+ تأتي ثلاث قراءات في قراءات الأيام عن القديس يوحنا المعمدان ( ثاني توت ، ثاني بؤونة ، وثلاثون بؤونة ) هذا بالإضافة لثلاث قراءات أخري خاصة بعيد الظهور الإلهي ( الغطاس ) والتي تتكلّم ضمناً أيضاً عن القديس يوحنا المعمدان</p>
<p>+ قراءة إنجيل باكر اليوم (يو ٣ : ٢٥ - ٣٦) التي تتركَّز علي المعمدان صديق العريس ، يأتي جزء منها (يو ٣ : ٢٢ - ٢٩) في قراءة إنجيل باكر ليوم ١٠ طوبي ( برامون عيد الغطاس ) وهو الحديث عن معمودية يوحنا ومعمودية الرب ، وعن يوحنا المعمدان صديق العريس</p>
<p>وتأتي كلَّها مع إضافة ثلاث آيات أخر في إنجيل قدَّاس الأحد الثالث من شهر طوبي (يو ٣: ٢٢ - ٣٦)</p>
<p>والآيات الزائدة للكلام عن معمودية الرب ومعمودية يوحنا</p>
<p>+ قراءة البولس اليوم (عب ١١: ١ - ١٠) جاءت في ٢ بؤونه ، ٢٨ مسري ، وجاءت أيضاً في الأحد الثالث من شهر بشنس</p>
<p>وتُشير القراءة إلي هابيل في موته والذي كان يوحنا المعمدان ( ٢ بؤونه ) مثله في موته كما قيل &#8221; وإن مات يتكلَّم بعد &#8221;</p>
<p>وتُشير إلي إيمان أب الآباء إبراهيم (٢٨ مسري) الذي لما دُعي أطاع أن يخرج إلي المكان الذي كان عتيداً أن يأخذه ، وأهميِّة الإيمان ( الأحد الثالث من بشنس )</p>
<p>+ قراءة الكاثوليكون اليوم (١بط ٢ : ١ - ١٠) مُكرَّرة في قراءات أيَّام ١٦ توت ( تجديد كنيسة القيامة ) ، ١ طوبه ( شهادة إستفانوس رئيس الشمامسة ) ، ٣ طوبه ( تذكار أطفال بيت لحم ) ، مع ملاحظة زيادة آية في بداية هذه القراءات الثلاث وهي ختام الإصحاح الأول (١بط ١ : ٢٥) ، كما جاءت أيضاً في قراءات الأحد الرابع من شهر أبيب</p>
<p>والكلام في قراءة اليوم للإشارة إلي جوهر كرازة يوحنا وهو الإشارة إلي الحجر الذي صار رأس الزاوية وحمل الله الذي يرفع خطية العالم وعريس البشريّة ، كما أن رأس الزاوية ( المسيح له المجد ) هو الذي ربط بين العهدين القديم والجديد ، كما أن يوحنا هو الذي سعي لكي يُقدِّم للبشرية عريسها الحقيقي ، ورُبما لأجل هذا بدأ الإبركسيس في ذلك اليوم بكلمة &#8221; ولما أكمل يوحنا سعيه &#8221;</p>
<p>ومجيئها يوم ١ طوبه للإشارة إلي مجد ظهور الله للأمم وإيمانهم به &#8221; الذين قبلاً لم تكونوا شعباً وأمَّا الآن فأتم صرتم شعب الله &#8221;</p>
<p>ومجيئها يوم ٣ طوبه للإشارة إلي أهمِّية التشبه بالأطفال &#8221; مثل أطفال مولودين الآن إشتهوا اللبن العقلي العديم الغش &#8221;</p>
<p>وفي يوم ١٦ توت للإشارة إي كنيسة العهد الجديد ، الحجارة الحيّة ، الكهنوت الملوكي ، الجنس المُختار والأُمَّة المُقدّسة</p>
<p>ومجيئها في الأحد الرابع من بؤونه للإشارة إلي مجد ابن الله حجر الزاوية الذي أعطي الحياة للعازر الميت بعد أربعة أيَّام في القبر</p>
<p>+ قراءة الإبركسيس اليوم (أع ١٣ : ٢٥ - ٣٣) تُشبه قراءة الإبركسيس ليوم ٢٩ كيهك (أع ١٣ : ٢٦ - ٣٣)</p>
<p>تحكي هذه القراءة عظة القديس بولس عن التدبير الإلهي في الخلاص وهو هدف تجسّد الكلمة ( ٢٩ كيهك ) وشهود هذا التدبير الإلهي مثل يوحنا المعمدان ( ٢ بؤونه )</p>
<p>+ قراءات اليوم الثلاثون من شهر أمشير ( ظهور رأس القديس يوحنا المعمدان ) مُحوَّلة أيضاً علي قراءات هذا اليوم</p>
<h3>شرح القراءات</h3>
<p>تأتي قراءات هذا اليوم مع تذكار وجود عظام يوحنا المعمدان وتأتي قراءة أخري في هذا الشهر ( ٣٠ بؤونة – تذكار ميلاد يوحنا المعمدان ) لذلك بينما تتكلّم قراءات اليوم عن القوّة والصلابة في الإيمان إشارة إلي العظام تتكلّم قراءات يوم ثلاثين بؤونة عن ميلاد يوحنا وحياته وخدمته</p>
<p>تظهر في قراءات اليوم ماهو الإيمان القوي والصلب الذي كان أعظم نموذج له القديس يوحنا المعمدان وجرأته وشجاعته أمام هيرودس</p>
<p>تتكلّم كل المزامير عن العظام وكما يقول العلامة أوريجانوس أن العظام إشارة إلي صلابة الإيمان لذلك لا ينكسر حتي وقت الإضطهاد ورغم شدّة الضيق</p>
<p></p>
<p>ونري في المزامير عظام شاهدة للرب ( مزمور عشيّة ) وعظام متواضعة تائبة ( مزمور باكر ) وعظام محفوظة قوّية ( مزمور القدَّاس )</p>
<p></p>
<p>في مزمور عشيّة يشهد إيماننا القوي أي عظامنا للرب ويمجِّد إسمه القدّوس</p>
<p>( جميع عظامي تقول يارب من مثلك وليقل في كل حين ليُعظم الرب الذين يحبون خلاصك )</p>
<p>وفِي مزمور باكر ترنيمة التوبة والعظام المتواضعة التي تقود التائب للفرح الدائم</p>
<p>( تُسمعني سروراً وفرحاً فتبتهج العظام المتواضعة حينئذ يقربون العجول علي مذبحك )</p>
<p>وفِي مزمور القدَّاس عظام وإيمان محفوظ من الضعف والشك</p>
<p>( الرب يحفظ جميع عظام الصديقين وواحدة منها لا تنكسر فإن عيني الرب علي الصديقين وأذنيه مصغيتان إلي طلبتهم )</p>
<p></p>
<p>وفِي القراءات نري الإيمان القوي مثل العظام في كينونته وشهادته ( البولس ) وفِي وحدته وترابطه وصلابته ومجده ( الكاثوليكون ) وفِي كماله وإتضاعه ( الإبركسيس )</p>
<p></p>
<p>في البولس نعرف أولاً تعريف الإيمان ثم نري أبطال الإيمان وكيف شهدوا للرب في حياتهم</p>
<p>( وأما الإيمان فهو الثقة بما يُرجي والإيقان بأمور لا تُري فإنه في هذه شُهد للشيوخ بالإيمان نفهم أن العالمين أتقنت بكلمة الله حتي لم يتكون ما يُري مما هو ظاهر بالإيمان قرَّب هابيل لله ذبيحة أفضل من قايين فبه شهد له أنه صدِّيق إذ شهد الله لقرابينه وبه وإن مات يتكلم بعد بالإيمان نُقل أخنوخ لكي لا يري الموت ولم يوجد لأن الله نقله إذ قبل نقله شُهد له بأنه قد أرضي الله )</p>
<p>وفِي الكاثوليكون عن وحدة وقوّة وترابط البناء الإيماني المجيد للكنيسة المقدسة فالمؤمنون حجارة حية وكهنوت ملوكي ورأس الزاوية هو الحجر المُختار الكريم رب المجد يسوع المسيح</p>
<p>( كونوا أنتم أيضاً كحجارة حية مبنيين بيتاً روحانياً كهنوتاً طاهراً .. لأنه مكتوب في الكتاب إني هأنذا أضع في صهيون حجراً مختاراً في رأس الزاوية كريماً .. فالحجر الذي رذله البناؤون هو قد صار رأس الزاوية .. وأما أنتم فجنس مختار وكهنوت ملوكي وأمة مقدسة وشعب مبرر )</p>
<p>وفِي الإبركسيس عن كمال الإيمان وإتضاعه في تمام إرسالية وسعي وخدمة القديس يوحنا المعمدان</p>
<p></p>
<p>ولما أكمل يوحنا سعيه جعل يقول من تظنّون إني أنا لست أنا هو لكن هوذا يأتي بعدي الذي لست أهلاً أن أحُلَّ حذاء قدميه</p>
<p></p>
<p>وفِي الأناجيل عن قوّة الشخصية وصلابة الحياة ( إنجيل عشيّة وإنجيل القدَّاس ) وكمال الرسالة ( إنجيل باكر )</p>
<p></p>
<p>في إنجيل عشيّة وإنجيل القدَّاس نري قوّة شخصية يوحنا وصلابته فهو ليس قصبة تحركها الريح وهو ليس إنساناً لابساً ثياباً ناعمة وهو أفضل من نبي وهو الملاك المُهيئ الطريق أمام السيّد</p>
<p>( فأجاب يسوع وقال لهما إذهبا واخبرا يوحنا بما رأيتما وسمعتما أن العمي يبصرون والعرج يمشون والبرص يطهرون والصم يسمعون والموتي يقومون والمساكين يُبشَّرون وطوبي لمن لا يشكُّ في فلما مضي رسولا يوحنا إبتدأ يقول للجموع عن يوحنا ماذا خرجتم إلي البرية لتنظروا قصبة تُحركها الريح )           إنجيل عشيّة</p>
<p>( وبينما ذهب هذان إبتدأ يسوع يقول للجميع عن يوحنا ماذا خرجتم إلي البرية لتنظروا أقصبة تحركها الريح لكن ماذا خرجتم لتنظروا أإنساناً لابساً ثياباً ناعمة هوذا أهل الثياب الناعمة هم في بيوت الملوك لكن ماذا خرجتم لتنظروا أنبياً نعم أقول لكم أنه أفضل من نبي )        إنجيل القدَّاس</p>
<p>وفِي إنجيل باكر عن كمال الرسالة كصديق للعريس وكمال الفرح بذهاب الجميع إلي المُخلِّص</p>
<p>( فجاءوا إلي يوحنا وقالوا له يا معلم هوذا الذي كان معك في عبر الأردن الذي أنت قد شهدت له ها هو يعمّد والجميع يأتون إليه أجاب يوحنا وقال لا يقدر إنسان أن يأخذ شيئاً من نفسه وحده إن لم يكن قد أعطي من السماء أنتم تشهدون لي إني قلت لكم لست أنا المسيح بل أرسلت أمام ذاك من له العروس فهو العريس وأمَّا صديق العريس الذي يقف ويسمعه يفرح فرحاً من أجل صوت العريس إذاً فرحي قد كمل )</p>
<h3>ملخّص القراءات</h3>
<p>العظام القويّة إشارة إلي الإيمان القوي في شهادته وبهجته وحصانته (مزمور عشيّة وباكر والقدّاس )</p>
<p>وكينونته ووحدته وصلابته وكماله وإتضاعه (البولس والكاثوليكون والإبركسيس )</p>
<p>وفِي قوّة الشخصية وصلابة الحياة وكمال الرسالة (إنجيل عشيّة وباكر والقدّاس)</p>
<h3>أفكار مقترحة للعظات</h3>
<h4>(١) الإيمان</h4>
<p>١- كينونة الإيمان وشهادته</p>
<p>&#8221; وأما الإيمان فهو الثقة بما يُرجي والإيقان بأمور لا تُري &#8221;                                 البولس</p>
<p>&#8221; فبه شُهد له أنه صدِّيق إذشهد الله لقرابينه &#8230; وصنع فلكاً لخلاص بيته فبه دان العالم &#8221; البولس</p>
<p>٢- وحدة الإيمان في الكنيسة ومجده</p>
<p>&#8221; كونوا أنتم أيضاً كحجارةٍ حيةٍ مبنِّيين بيتاً روحانياً كهنوتاً طاهراً &#8230; وأما أنتم فجنسٌ مختارٌ كهنوتٌ ملوكيٌّ وأمةٌ مقدسةٌ وشعبٌ مُبرّر &#8221;                                                 الكاثوليكون</p>
<p>٣- كمال الإيمان وإتضاعه</p>
<p>&#8221; ولما أكمل يوحنا سعيه جعل يقول من تظنون إني أنا لست أنا هو لكن هوذا يأتي بعدي الذي لست أهلاً أن أحُلَّ حذاء قدميه &#8221;                                                               الإبركسيس</p>
<p>٤- صلابة الإيمان (العظام)</p>
<p>&#8221; جميع عظامي تقول يارب من مثلك &#8221; عظام شاهدة (الإيمان القوي الذي يشهد لمحبّة الله)</p>
<p>&#8221; تُسمِّعني سروراً وفرحاً فتبتهج العظامُ المتواضعة &#8221; عظام متواضعة (الإيمان القوي الذي يبتهج بأبسط معاملات الله)</p>
<p>&#8221; الرب يحفظ جميع عظام الصديقين &#8221; عظام محفوظة (الإيمان الذي يحميه الله ويحفظه لكي لا يفني)</p>
<h4>(٢) من هو يوحنا</h4>
<p>١- الملاك المُهيِّئ الطريق للرب</p>
<p>&#8221; ها أنا أُرسل أمام وجهك ملاكي الذي يُهيئ طريقك قدامك &#8221;                          إنجيل عشيّة</p>
<p>٢- صديق العريس</p>
<p>&#8221; وأما صديق العريس الذي يقف ويسمعه يفرح فرحاً &#8221;                                  إنجيل باكر</p>
<p>٣- أفضل من نبي</p>
<p>&#8221; نعم أقول لكم أنه أفضل من نبي &#8221;                                                           إنجيل القدَّاس</p>
<h4>(٣ ) كيف نختار أن ننقص</h4>
<p>ينبغي ان ذاك يزيد واني انا انقص &#8221;  &#8221;</p>
<p>عندما اختار يوحنا ان ينقص باارادته الحره امام اخر لم يكن يتخيل انها كانت بدايه زيادته امام الله والناس في كل زمان الي الان</p>
<p>كيف تختار بغير صعوبه &#8221; ان تنقص &#8221; ؟</p>
<p>+ الحياه الداخليه الغنيه</p>
<p>عندما يتذوفق الانسان حلاوه الماء الحي داخله في حياته الخاصه مع الله&#8230;.عندما يكتشف غني الانجيل وكلمه الحياه ويستغرق بنهم فيها&#8230;..عندما يختبر عذوبه الحديث في الصلاه مع الله&#8230;&#8230;.عندما لايبحث عن سند ودعم في مشاكله الا علي السماء&#8230;..</p>
<p>حينئذ لايحتاج الانسان &#8221; لزيادات &#8221; البشر وتقديرهم واهتمامهم ويكتفي بغني السماء داخله ولايتسول من الناس فتات الحب بل هو يفيض من غني الحب الالهي علي الاخرين</p>
<p>+ وضوح الهدف والرساله</p>
<p>عندما تسير علي الطريق السريع تري اللافتات الجانبيه سريعا ولاتفكر فيها كثيرا لان هدفك امامك وتسرع للوصول اليه وهو رسالتك المعطاه من الله</p>
<p>لكن اخطر مايمكن ان نبطئ في طريقنا ومسيرتنا لااستغراقنا في اللافتات الجانبيه سواء كانت سلبيه او ايجابيه مدح الناس وتقديرهم او ذمهم وعدم اهتمامهم</p>
<p>+ البحث عن المنسيين والذين ليس لهم احد</p>
<p>قد يريد الله ان تنقص خدمتنا في اتجاهات معينه لتحويل المسار لخدمه اخري لايهتم بها احد ولكن يدعوننا الله لها ومااجمل ان نطلب من الله ذلك ولاننتظر دعوته</p>
<h3>عظات آبائية</h3>
<p>يُمْكِن الرجوع لكل العظات الخاصة بيوحنا المعمدان في الأحد الأول من شهر توت ( قراءات الآحاد ) ، ويوم ٢ توت ، ويوم ٣٠ بؤونه ( في قراءات الأيام )</p>
<h4>شخصية يوحنا المعمدان في فكر القديس كيرلس الكبير :</h4>
<p>يتابع الإنجيلي الحكيم ماقدمه من افكار ويربط بين المقدمات والنتائج. لأنه عندما قال عن ابن الله&#8221;ورأينا مجده، مجداً كما لوحيد من الآب لم يكن يعني شهادته وحده، (لان رأينا تعني شهادة جماعية)، ولذلك يضم سميه يوحنا المعمدان كشاهد آخر له نفس حياة التقوي. وبذلك يصبحان شاهدين لابسين للروح وأخوين في الحق، لايعرفان كيف يكذبان.</p>
<p>ولاحظ كيف يسجل قوة شهادة يوحنا المعمدان فهو لا يقول فقط يوحنا شهد، بل يضيف إليها &#8220;وصرخ&#8221;، وأخذ برهانه من الكلمات&#8221;صوت صارخ في البرية&#8221;(إشعياء٣:٤٠).</p>
<p>ويجوز لأي من المعاندين أن يسأل، متي شهد يوحنا المعمدان للابن الوحيد؟ولمن اعطي شهادته عنه؟ يقول الإنجيلي &#8220;صرخ&#8221;، ليس في زاوية ولا بصوت منخفض ولا سراً &#8220;شهد&#8221;، بل &#8220;صرخ&#8221; عاليًا بصوت أعلي من البوق، ونشر شهادته في كل حديث له مع الناس.وياله من مبشر مجيد، وصوت نافذ، وسابق عظيم معروف.</p>
<p>بعد أن أعلن أسم الشاهد، الذي له نفس الإيمان ونفس الاسم، وبعد أن سجل أن صوته عظيم في الكرازة، يسجل شهادته نفسها، والشهادة نفسها هي أهم ما يمكن تسجيله.</p>
<p>وبماذا صرخ يوحنا المعمدان العظيم وماذا قال عن الابن الوحيد.&#8221;الذي يأتي بعدي كان قبلي&#8221;. وهذه الكلمات عميقة وتحتاج إلي فحص عميق.</p>
<p>المعني الواضح والظاهر هو: بخصوص زمن الولادة حسب الجسد. سبق المعمدان المخلص، وبعده جاء عمانوئيل بسته أشهر حسبما سجل لوقا المبارك.ولذلك افترض البعض أن هذا هو معني شهادة يوحنا المعمدان كما سجلها يوحنا الإنجيلي، أي أن الذي جاء بعدي بستة شهور كان قبلي ولكن الذي يثبت عينه الفاحصة علي الأفكار الإلهية، يمكنه أن يري أن مثل هذا التفسير السطحي لايعطينا شيئًا، بل يبعدنا تماماً عن الموضوع العام الذي يسجله الإنجيل. فيوحنا المعمدان يقدم لنا كشاهد، ليس لكي يؤكد أن المسيح جاء بعده أي حسب ميلاده الجسدي بل كشاهد علي مجده&#8221;مجداً كما لوحيد من الآب، مملوءاً نعمة وحقاً&#8221;.</p>
<p>وماهو معني شهادة المعمدان. لو انحصر الكلام عن الفارق الزمني بين المعمدان والمخلص؟ فكيف يكون قبله لو كانت الشهادة كلها عن الفارق الزمني&#8221; الذي يأتي بعدي، كان قبلي وانما في إطار ما قلناه،</p>
<p>علي القياس الظاهري في بداية الإنجيل إن الكلام هو عن أزلية الكلمة وهذا ما رآه ظاهراً لكل واحد، لان ما يأتي بعد، لايمكن ان يكون قبل طالما أن الكلام أنحصر في الجانب الزمني.ولذلك علينا أن نطرح تماماً كل كلام عن الفارق الزمني وعن الميلاد حسب الجسد. وإنما ما يريد أن يسجله المعمدان هو أن يستعمل طريقة التعبير البشرية البسيطة والضعيفة لكي يضع فيها أفكارًا عميقة.</p>
<p>لقد أراد أن يقول إن الذي يسبق ويقود له مجد أعظم من الذي يتبع. مثلما يحدث في عالم الانسان، عندما يسبق أحد من الناس غيره في صناعة النحاس أو الخشب أو النسيج، ويصبح له الفخر والمجد علي الذين يأتون ويقلدون العمل الذي سبق غيره فيه، إذ هو له معرفة أكمل وأسمي. أما إذا سبق واحد معلمه في الصناعة وتركه خلفه وأتقن شيئاً أعظم فإن المتخلف لا يمكنه أن يقول عن تلميذه الذي سبقه &#8220;الذي يأتي بعدي ، كان قبلي&#8221;.</p>
<p>وإذا نقلنا هذه الفكرة إلي ما قيل عن المخلص المسيح ويوحنا المعمدان القديس يمكننا أن نفهم معني ماقيل.كان يوحنا المعمدان قد كون حوله تلاميذاً كثيرين من الجموع الكثيرة التي جاءت تطلب المعمودية والتفت حوله، أما المسيح وهو الاعظم، لم يكن معروفًا بالمرة، ولم يعرف الناس أنه الإله.</p>
<p>ولأنه لم يكن معروفاً، بينما المعمدان كان موضع إعجاب الكل، فقد كان المسيح في هذا الوضع أقل من يوحنا في الشهرة وبذلك صار المسيح بعد يوحنا رغم أنه أعظم بكثير في الكرامة والمجد.</p>
<p>ولكن &#8220;الذي جاء بعدي كان قبلي&#8221; أي سوف يظهر كأعظم بكثير من يوحنا، لأن أعمال المسيح العجيبة اعلنت إنه الإله، بينما يظل الآخر (أي يوحنا) في إطار وحدود الطبيعة الإنسانية كمن هو &#8220;بعد&#8221;.</p>
<p>ومن ذلك ندرك المعني الخفي لما قاله يوحنا المعمدان &#8220;الذي ياتي بعدي صار قدامي&#8221;، فهو يعني :</p>
<p>الذي كان خلفي في الشهرة، هو في الحقيقة أعظم، بل يتفوق علي في كل مانقلته من شرف وكرامة. وإذا فهمنا هذه الكلمات علي هذا النحو وجدنا المعمدان شاهدًا علي مجد الابن الوحيد، وليس كشاهد علي شئ بلا قيمة. وشهادة يوحنا تعني أيضاً أن المسيح أعظم من يوحنا بكثير أي من الذي له هذه الشهرة في القداسة، أليست هذه شهادة عن مجد المسيح الخاص.</p>
<p>&#8220;لأنه كان قبلي&#8221;:</p>
<p>بعد أن قال يوحنا &#8220;صار قدامي &#8221; أضاف &#8221; لأنه كان قبلي&#8221;، فنسب له بذلك المجد الأزلي وإنه سبق كل الأشياء، لأنه هو البدء كإله بالطبيعة.وبقوله &#8221; كان قبلي&#8221; فقد كان يعني دائماً وفي كل مكان وزمان هو أسمي وأمجد. وبمقارنة الكلمة بأحد المخلوقات أي يوحنا المعمدان، تصبح شهادته ضد الذين ينكرون أزلية الكلمة بمثابة حكم بالدنيوية بالنيابة عن الذي هو فوق الجميع. ونحن لا نتأمل كرامة ومجد الابن الوحيد باعتباره فقط أقدم من يوحنا وأعظم منه في المجد، بل لأنه يفوق المخلوقات جميعًا.</p>
<h3>عظات آباء وخدام معاصرين</h3>
<p>يُمْكِن الرجوع لكل العظات الخاصة بيوحنا المعمدان في الأحد الأول من شهر توت ( قراءات الآحاد ) ، ويوم ٢ توت ، ويوم ٣٠ بؤونه ( في قراءات الأيام )</p>
<h4>المتنيح القمص تادرس البراموسي</h4>
<p>اليوم الثلاثون من شهر أمشير المبارك</p>
<p>( أنت هو الأتي أم ننتظر آخر ) (مت ۱۱ : ۲ – ۱۰)</p>
<p>مجئ السيد المسيح وولادته من عذراء كانت معجزة المعجزات ؛ حيرت الجميع حتي الأنبياء تحيروا كيف يصفون هذا المجئ العجيب الغريب؛ تكلم أشعياء النبي وقال عن الإبن الذي به يكون خلاص الأمم ؛ وتكلم داود عن جلوس الرب يسوع عن يمين الآب فقال « قال الرب لربي إجلس عن يميني حتى أضع أعداءك عند موطئ قدميك » (مز ۱۱۰ : ۱) ؛ وتكلم عن بيت لحم التي هي أصغر مدن يهوذا أنت الصغرى في كل مدن يهوذا يخرج منك مدبر يرعى شعبي إسرائيل ويوحنا المعمدان الذي تربطه صلة قرابة جسدية بالرب يسوع الذي شهد لأجله وقال الذي يأتي بعدي هو أقدم مني الذي لست مستحقاً أن انحنى وأحل سيور حذائه والذي رفشه في يده فينقي بيدرة ويجمع الحنطة إلى المخازن والتبن يحرق بالنار (لو ٣ : ١٦ – ١٧) . يوحنا الذي شهد للثالوث القدوس وقال رأيت الروح القدس نازلاً عليه مثل حمامة والآب من فوق ينادي هذا هو إبني الحبيب الذي به سررت والإبن في نهر الأردن ؛ أرسل يوحنا تلاميذه ليسأل الرب يسوع أأنت الآتى أم ننتظ آخر ؟ أنت علقت قلوبنا ؛ عيون الجميع ناظرة إليك لكي يكتشفوا السر العظيم الذي يحتويه قلبك الكبير ؛ من أنت أرح قلوبنا ؟ إن أيامي قصيرة وأريد أن أطمئن أن عيني قد رأتا الرب ؛ ويوحنا هذا تعتبره الكنيسة قنطرة العبور بين العتيقة والحديثة ؛ لم يرى الإنتصار العظيم الذي حققه الرب يسوع بموته على الصليب ولم يتم خلاصه لانه لم يرى الصليب أو القيامة لكنه كسابقيه مات على الرجاء في إنتظار الفادي الذي سدد الديون عنا ومات وتمم لنا الخلاص والفداء ؛ قال الرب يسوع لتلاميذ يوحنّا إذهبوا وقولوا له ما رأيتموه ؛ العمي يبصرون والبرص يطهرون والموتى يقومون وطوبى لمن لا يشك في (مت ١١ : ٥ - ٦) .</p>
<p>تحير أيضاً معلمي الناموس الكتبة والفريسيين لأنه أتى بالحب والتضحية يختلف كثيراً عن هؤلاء الجالسين على كراسي السلطة الأمرين بتنفيذ الناموس لأنهم لو عرفوا ما كانوا صلبوا رب المجد ؛ حنان وقيافا رؤساء الكهنة ينظروه يتكلم كمن له سلطان ؛ من أين أتى هذا الإنسان هذه المعلومات ؟ وأنه يتكلم بكلام يختلف عن كل الذين كانوا قبلة ؛ كان يتكلم مع المعلمين ويفحمهم بأجوبته مما جعلهم يحتاروا فيه ؛ ولما كانت المحبة أساس الكنيسة المسيحية سأل الرب يسوع تلميذه بطرس وكان بطرس هذا قد أنكرة ثلاث مرات عند الصليب فأراد أن يرد لبطرس إعتباره كواحد من التلاميذ ؛ صحيح مرقس كان عند الصليب لكن عندما أمسكه الجند من إزاره ترك الإزار وهرب عريان (مر ١٤ : ٥٢) لكنه لم ينكر الرب يسوع ؛ هرب من الشر ؛ كان ممكن يلحق به الشر لكنه هرب ؛ فقال الرب يسوع يا سمعان بن يونا اتحبني أكثر من هؤلاء ؟ بطرس كان يتكلم أكثر من أي واحد فى التلاميذ ؛ قال له بطرس يارب أنت تعلم إني أحبك ؛ وسأله مرة ثانية يا سمعان بن يونا أتحبني ؟ قال نعم يارب أنت تعلم إني أحبك قال له إرعى غنمي ؛ قال ثالثة – مما أحزن بطرس – قال له أتحبني قال له يارب أنت تعلم كل شئ أنت تعرف إني أحبك . وكما أنكر بطرس السيد المسيح ثلاثة مرات سأله الرب يسوع ثلاث مرات ؛ ويعتبر هذا رد إعتبار لبطرس وعودته للرسولية والتلمذة . قال الرب يسوع لبطرس لما كنت أكثر حداثة كنت تُمنطق نفسك لكن لما شخت فأنك تمد يدك ويمنطقك آخر ويحملك حيث لا تشاء ؛ قال هذا مشيراً إلى آية ميتة كان مزمع أن يموتها وأن يمجد الله بها . يذكر التاريخ أن بطرس الرسول مات مصلوباً منكس الرأس ؛ لما أراد الجند أن يصلبوه قال لهم لا تصلبوني مثل سيدي وطلب أن يصلبوه منكس الرأس ؛ وهكذا تفعل المحبة المسيحية من إنسان ناكر الجميل وأنكر سيده أمام جارية حقيرة إلى إنسان صلب لأجل المسيح وهو منكس الرأس <a href="#_ftn2" name="_ftnref2">[2]</a></p>
<h3>من وحي شهادة يوحنا المعمدان</h3>
<p>ينبغي أن ذلك يزيد وأني أنا أنقص (يو ٣: ٣٠)</p>
<p></p>
<p>+ هل نقبل أن يزيد الآخرون أكثر منّا ؟</p>
<p>+ والأصعب هل نقبل أن يزيدوا علي حسابنا ؟</p>
<p>+ هل تقبل أن يتجه من حولك لشخص آخر ؟</p>
<p>+ هل تترك بإرادة حرّة مكانك ومكانتك ؟</p>
<p>+ هل لا تريد زيادات الناس ؟ وهل لا تسعي إليها ؟</p>
<p>+ هل يعكس عطشنا لإهتمام البشر فراغنا الداخلي ؟</p>
<p>+ متي يكون نقصنا كمال وخسارتنا مجد ؟</p>
<p>+ العجيب أنه عندما إختار يوحنا أن ينقص كان هذا طريق زيادته ومجده أمام الله والناس إلي الأبد</p>
<p>+ السر يكمن في غناك الداخلي وفرح قلبك وشبع أعماقك بالنعمة</p>
<p>+ وقتها لن يكون لزيادات العالم قيمة ولن يشغلنا إهتمام ومدح الناس ولن نشعر بمرار ماينقصنا بل سنفرح بكل نقصان دون معاناة</p>
<p>&#8221; &#8221; الذي من أجله خسرت كل الأشياء وأنا أحسبها نفاية لكي أربح المسيح وأوجد فيه  (في ٣ : ٨ ، ٩)</p>
<hr />
<p><a href="#_ftnref1" name="_ftn1">[1]</a> -البابا غريغوريوس الكبير - تفسير إنجيل متي إصحاح- القمص تادرس يعقوب ملطي</p>
<p></p>
<p><a href="#_ftnref2" name="_ftn2"></a>المرجع : كتاب تأملات وعناصر روحية في آحاد وأيام السنة التوتية ( الجزء الرابع ) - إعداد القمص تادرس البراموسي[2] ٢-</p>

      {% endcreateArticleAccordions %}
    </section>
  {% endblock %}
  