---
layout: 'layouts/reading.html'
title: 'اليوم الثامن والعشرون من شهر بؤونة'
permalink: annual/10-28.html
---
  {% block content %}
    <section id="readings">
      <ul>
      {% if '19.110:4,7' != 'null' %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">العشية</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeVespers '19.110:4,7' '40.16:13-19' %}
          </div>
        </div>
      </li>
      {% endif %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">باكر</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeMatins '19.73:23,24,28*@+19.9:14' '43.15:17-25' '' %}
          </div>
        </div>
      </li>
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <h3 class="flex items-center justify-between">
            <span class="kufi">القداس</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </h3>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeLitugy '47.4:5-18*@+47.5:1-11' '60.2:18-25*@+60.3:1-7' '44.20:17-38' '19.107:32,41,42' '43.10:1-16' %}
          </div>
        </div>
      </li>
        </ul>
    </section>
    <section id="article">
      <h3 class="mt-8 mb-4 heading-explain">شرح القراءات</h3>
      {% createArticleAccordions firstName, lastName %}
        <p>قراءة هذا اليوم ( شهادة تاودوسيوس بابا الإسكندرية وقطع نسطور ) مُحوَّلة علي قراءة يوم ثالث أبيب ( نياحة أنبا كيرلس الأوَّل الكبير بابا الإسكندرية )</p>
<p>يضيف السنكسار أيضاً تذكار تكريس كنيسة الأنبا صرابامون أسقف نيقيوس</p>

      {% endcreateArticleAccordions %}
    </section>
  {% endblock %}
  