---
layout: 'layouts/reading.html'
title: 'اليوم الثلاثون من بؤونه'
permalink: annual/10-30.html
---
  {% block content %}
    <section id="readings">
      <ul>
      {% if 'undefined' != 'undefined' %}
      
      {% else %}
      {% if '19.52:8-9' != 'null' %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">العشية</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeVespers '19.52:8-9' '42.7:28-35' %}
          </div>
        </div>
      </li>
      {% endif %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">باكر</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeMatins '19.92:10,14,15' '40.11:11-19' '' %}
          </div>
        </div>
      </li>
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <h3 class="flex items-center justify-between">
            <span class="kufi">القداس</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </h3>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeLitugy '58.11:32-40*@+58.12:1-2' '60.2:11-17' '44.7:8-22' '19.92:12-13' '42.1:57-80' %}
          </div>
        </div>
      </li>

      {% endif %}
        </ul>
    </section>
    <section id="article">
      <h3 class="mt-8 mb-4 heading-explain">شرح القراءات</h3>
      {% createArticleAccordions %}
        <p><strong>تذكار ميلاد القديس يوحنا المعمدان</strong></p>
<p>لأنه يكون عظيما أمام الرب، وخمرا ومسكرا لا يشرب، ومن بطن أمه يمتلئ من الروح القدس (لو ١ : ١٥)</p>
<p>لأنه قد نظر إلى كرامتك وامرأتك اليصابات ستلد لك ابنًا وتدعوا اسمه يوحنا</p>
<p>ذكصولوجية كيهك</p>
<p>&#8221; ولأن نعم الله دائماً كاملة ووفيرة فهي تأتي دائماً مكدَّسة معاً كحزمة من الأشياء الصالحة ، إذ نجد هنا ثمار الصلاة ، حيث أعطي الله ولداً لإمرأة عاقر ، ثم أعطي فرحاً وابتهاجاً لكثيرين ، وكان هذا المولود تجسيداً لعظمة الفضيلة &#8230; إذ أن يوحنا لم يكن فقط نعمة لوالديه ، لكنه أيضاً كان سبباً في خلاص الكثيرين . لهذا فنحن نحتفي بابتهاج لأجل ميلاد القديسين &#8221;</p>
<p>القديس امبروسيوس اسقف ميلانو – ١-كيهك <a href="#_ftn1" name="_ftnref1">[1]</a></p>
<h3>شواهد القراءات</h3>
<p>(مز ٥١: ٧ ، ٨) ، (لو٧ : ٢٨ &#8211; ٣٥) ، (مز ٩١ : ٨ ، ١٢) ، (مت ١١ : ١١ &#8211; ١٩) ، (عب ١١ :٣٢ &#8211; ١٢ : ١ &#8211; ٢) ، (١بط ٢ : ١١ &#8211; ١٧ ) ، (أع ٧ : ٨ &#8211; ٢٢) ، (مز ٩١ : ١٠ ، ١١) ، (لو ١ : ٥٧ &#8211; ٨٠)</p>
<h3>ملاحظات علي قراءات يوم ٣٠ بؤونه :</h3>
<p>+ قراءة إنجيل عشيَّة (لو ٧ : ٢٨ &#8211; ٣٥) ، قراءة إنجيل باكر (مت ١١ : ١١ &#8211; ١٩) اليوم هما قراءة إنجيل عشيَّة (مت ١١ : ١ &#8211; ١٩) ، وإنجيل القدَّاس (لو ٧ : ٢٨ &#8211; ٣٥) للأحد الأوَّل من شهر توت</p>
<p>وكلا القراءتين تتكلمان عن شهادة الرب يسوع عن يوحنا أنه أعظم مواليد النساء ، وعن مثل الباعة في الأسواق الذين ينادون بعضهم بعضاً قائلين &#8221; زمرنا لكم فلم ترقصوا &#8230;. &#8221;</p>
<p>+ تأتي قراءة البولس لهذا اليوم (عب ١١ : ٣٢ &#8211; ١٢ : ١ &#8211; ٢) أيضاً في قراءات ٢ توت ، ١٠ بشنس ، ١٦ بؤونه</p>
<p>ومجئ هذه القراءة اليوم ( ٣٠ بؤونه ) ، ويوم ٢ توت للإشارة إلي شهادة يوحنا ( ثم في قيود أيضاً وحبس .. وماتوا بقتل السيف )</p>
<p>أمَّا مجيئها في يوم ١٠ بشنس ( نياحة الثلاثة فتية القديسين حنانيا وعزاريا وميصائيل ) فهو للإشارة إلي إيمانهم الذي أطفأ النار  ( الذين بالايمان قُهِروا ممالك وعملوا البرَّ ونالوا المواعيد وسدُّوا أفواه أسود وأخمدوا قوّة النار )</p>
<p>ومجيئها في قراءات يوم ١٦ بؤونه ( نياحة القديس ابو نوفر ) للإشارة إلي نسكه الشديد وحياته في القفار ( وطافوا في فراء وجلود معزي &#8230; تائهين في القفار والجبال والمغاير وشقوق الأرض )</p>
<p>+ قراءة الكاثوليكون اليوم (١بط ٢ : ١١ &#8211; ١٧) تكررت في قراءات ٢٢ هاتور ، ٢٦ مسري ، وتُشبه قراءة  الكاثوليكون في أول أيام عيد الصليب (١بط ٢ : ١١ &#8211; ٢٥)</p>
<p>والجزء الذي لم يأت في القراءات الثلاثة (١بط ٢ : ١١ &#8211; ١٦) هو جزء خاص بالصليب لذلك جاء فقط في عيد الصليب &#8221; الذي رفع خطايانا علي الخشبة بجسده &#8230; والذي شُفيتم بجراحاته &#8221;</p>
<p>أمَّا الجزء الخاص بالقراءات الثلاثة فهو الذي يتكلم عن السيرة المُقدَّسة وقبول الألم من أجل الله ، والشهادة للمسيح ، لذلك جاء في قراءات قبول الألم من أجل الشهادة للمسيح والشهادة للحق في ٢٢ هاتور ( شهادة القديسين قزمان وإخوته وأمهم ) ، ٣٠ بؤونه ( وجود عظام يوحنا المعمدان ) ، ٢٦ مسري ( شهادة القديس موسي وسارة أخته )</p>
<p>+ قراءة الإبركسيس اليوم (أع ٧ : ٨ &#8211; ٢٢)جاءت أيضاً في قراءة الأحد الرابع من شهر كيهك</p>
<p>قراءة اليوم ( عيد ميلاد يوحنا المعمدان ) ، والأحد الرابع من كيهك ( ولادة يوحنا ) للإشارة إلي &#8221; وفي ذلك الوقت ولد موسي .. فلما طُرح أخذته إبنة فرعون &#8221; ووجه الشبه بين ولادة موسي وإضطهاد فرعون ومحاولة قتله وولادة يوحنا وإضطهاد هيرودس ومحاولة قتله</p>
<h3>شرح القراءات</h3>
<p>اليوم هو تذكار ميلاد القديس يوحنا المعمدان لذلك تتركَّز قراءات اليوم علي ولادته وحياته ورسم جهاده ومكانته</p>
<p></p>
<p>تبدأ المزامير بالكلام عن أثماره الكثيرة مثل شجرة الزيتون ( مزمور عشيّة ) وقوّته مثل وحيد القرن ( مزمور باكر ) وعلوّ وسموّ مكانته مثل النخلة وأَرْز لبنان ( مزمور القدَّاس )</p>
<p></p>
<p>في مزمور عشيّة ثمر خدمته وتوبة جميع الشعب لذلك يُشبّه بشجرة الزيتون المثمرة وهو في بيت الله رغم أن معظم حياته في الصحراء ولكنّه كان يعيش معني الكنيسة الحضور الإلهي الدائم</p>
<p>( وأنا مثل شجرة الزيتون المثمرة في بيت الله وأتمسك بإسمك فإنه صالح قدّام أبرارك )</p>
<p>وفِي مزمور باكر قوّة خدمته وشهادته للحق لذلك يُشبّه بقرن وحيد القرن والعجيب أن من شروط تقديم الذبيحة في القديم وجود القرن وهو يمثِّل قوّة ذبيحة الصليب التي سحقت الشيطان ( تفسير المزمور للقمص تادرس يعقوب ملطي )  فالقرن هنا علامة قوّة ونصرة علي العدو</p>
<p>( يرتفع قرني مثل وحيد القرن وشيخوختي في دهن دسم ويكونون بما هم مستريحون ويخبرون بأن الرب إلهنا مستقيم )</p>
<p>وفِي مزمور القدَّاس علوّ وسموّ مكانته في الكنيسة المقدسة مثل علوّ النخلة وشجر الأرز في لبنان المرتفع جداً فهو صديق العريس والسابق الصابغ وملاك العهد الجديد الذي أعد طريق الخلاص وأعظم مواليد النساء</p>
<p>( الصديق كالنخلة يزهو وكمثل أرز لبنان ينمو مغروسين في بيت الربِّ وفِي ديار بيت إلهنا زاهرين )</p>
<p></p>
<p>وفِي القراءات صورة وجهاد حياته ( البولس ) وجوهر كرازته ( الكاثوليكون ) ورسم ميلاده ( الإبركسيس )</p>
<p></p>
<p>يتكلَّم البولس عن صورة وجهاد حياته التي قضي أغلبها في البراري والجبال وشقوق الأرض وكيف صار نموذجاً لنا في الصبر وجهاد التوبة والنظر الدائم إلي رئيس الإيمان</p>
<p>( وطافوا في فراء وجلود معزي معوزين متضايقين متألمين هؤلاء الذين لم يكن العالم يستحقهم تائهين في القفار والجبال والمغاير وشقوق الأرض … من أجل هذا نحن أيضاً الذين لنا سحابة شهداء هذا مقدارها محيطة بنا فلنطرح عنا كلّ تكبّر والخطيئة القائمة علينا جداً وبالصبر فلنسعى في الجهاد الموضوع لنا وننظر إلي رئيس الإيمان ومكمله يسوع )</p>
<p>وفِي الكاثوليكون عن التوبة جوهر وأساس كرازته التي بسببها قدم حياته ثمناً لها لتبكيته هيرودس الملك علي زواجه من إمرأة أخيه</p>
<p>( أيها الأحباء أطلب إليكم كغرباء ونزلاء أن تبتعدوا عن الشهوات الجسدية التي تقاتل النفس وأن يكون تصرفكم حسناً بين الأمم لكي يكونوا فيما يتكلمون به عليكم كفاعل شر إذ يرون أعمالكم الصالحة يمجدون الله في يوم الافتقاد )</p>
<p>وفِي الإبركسيس عن رسم ميلاده وحياته الأولي التي كانت مُهدَّدة بالموت بسبب هيرودس الملك ويُعطي الإبركسيس هنا نموذجان من العهد القديم لإثنان كانوا سبباً في خلاص كثيرين وكانت أيضاً نشأتهم الأولي مُهدَّدة بالموت مثل يوحنا وهما يوسف بسبب إخوته وموسي بسبب فرعون</p>
<p>( ورؤساء الآباء حسدوا يوسف وباعوه إلي مصر وكان الله معه وخلصه من جميع شدائده ومنحه نعمة وحكمة أمام فرعون ملك مصر فجعله مدبراً علي مصر وعلي كلِّ بيته … إلي أن قام ملك آخر علي مصر لم يكن يعرف يوسف فهذا دبّر حيلة علي جنسنا وأساء إلي آبائنا حتي ينبذوا أطفالهم لكي لا يعيشوا وفِي ذلك الوقت ولد موسي وكان جميلاً مرضياً عند الله هذا رُبِّي ثلاثة أشهر في بيت أبيه فلما طُرح أخذته إبنة فرعون وربته لنفسها إبناً)</p>
<p></p>
<p>وفِي الأناجيل نري يوحنا المعمدان الصابغ ( إنجيل عشيّة ) والمُغْتِصب الملكوت ( إنجيل باكر ) والمُعِدْ الطريق للرب ( إنجيل القدَّاس )</p>
<p></p>
<p>في إنجيل عشيّة نري يوحنا الصابغ والمعمودية الصبغة التي أتي إليها جميع الشعب والصبغة التي رفضها الفريسيين</p>
<p>( وجميع الشعب إذ سمعوا والعشارون مجَّدوا الله معتمدين بمعمودية يوحنا وأما الفريسيون والناموسيون فرفضوا مشورة الله من جهه أنفسهم ولم يصطبغوا منه)</p>
<p>وفِي إنجيل باكر خدمة يوحنا المعمدان هي بداية أيّام إغتصاب الملكوت التي قدمها في كرازته وصارت أيضاً موضوع كرازة العهد الجديد</p>
<p>( الحقَّ أقول لكم أنه لم يقم بين المولودين من النساء أعظم من يوحنا المعمدان ولكن الأصغر في ملكوت السموات أعظم منه ومن أيام يوحنا المعمدان إلي الآن ملكوت السموات يُغصب والغاصبون يختطفونه )</p>
<p>وفِي إنجيل القدَّاس عن إعداد الطريق لإبن الله في نبوّة زكريا الكاهن بعد إمتلاؤه من الروح القدس</p>
<p>( وامتلأ زكريا أبوه من الروح القدس وتنبأ قائلاً مبارك الرب إله إسرائيل الذي إفتقاد وصنع خلاصاً لشعبه وأقام لنا قرن خلاص … وأنت أيها الصبي نبيّ العليِّ تدعي لأنك تتقدم سائراً أمام وجه الربِّ لتُعد طرقه لتُعطي علم الخلاص لشعبه بمغفرة خطاياهم )</p>
<h3>ملخّص القراءات</h3>
<p>يوحنا المعمدان خدمته كثيرة الأثمار وشهادته للحق قوية ومكانته في الكنيسة عالية ( مزمور عشيّة وباكر والقدّاس )</p>
<p>ورسم ميلاده مثل آبائه ونشأته في البراري والجبال وأساس كرازته التوبة ( البولس والكاثوليكون والإبركسيس )</p>
<p>ومعموديته صبغة وبداية الإعداد لإغتصاب الملكوت والإعداد لخدمة السيّد الرب ( إنجيل عشيّة وباكر والقدّاس )</p>
<h3>أفكار مقترحة للعظات</h3>
<h4>(١) يوحنَّا المعمدان ( جهاد حياته &#8211; جوهر خدمته &#8211; رسم ميلاده )</h4>
<p>١- جهاد حياته</p>
<p>&#8221; لأنه جاء يوحنا المعمدان لا يأكل خبزاً ولا يشرب خمراً &#8221;                    إنجيل عشيّة</p>
<p>&#8221; وماتوا بقتل السيف وطافوا في فراء وجلود معزي مُعوزين مُتضايقين مُتألِّمين هؤلاء الذين لم يكن العالم يستحقهم &#8221;                                                                    البولس</p>
<p>٢- جوهر خدمته</p>
<p>&#8221; ومن أيام يوحنا المعمدان إلي الآن ملكوت السموات يُغْصَب والغاصبون يختطفونه &#8221; إنجيل باكر</p>
<p>&#8221; &#8221; لأن هذه هي إرادة الله أن تصنعوا الخير لكي تسدوا جهالة الناس الأغبياء كأحرارٍ  الكاثوليكون</p>
<p>٣- رسم ميلاده</p>
<p>&#8221; وفِي ذلك الوقت وُلِد موسي وكان جميلاً مرضياً عند الله &#8221;                           الإبركسيس</p>
<p>&#8221; ولما تم زمان اليصابات لتلد فولدت إبناً &#8230; وحفظها جميع السامعين في قلوبهم قائلين أتري ماذا يكون لهذا الصبي &#8221;                                                                       إنجيل القدَّاس</p>
<h4>(٢) من هو يوحنا المعمدان ( شجرة الزيتون &#8211; وحيد القرن &#8211; النخلة &#8211; أرز لبنان )</h4>
<p>١- شجرة الزيتون ( الثمر الكثير المُتزايد )</p>
<p>&#8221; وأنا مثل شجرة الزيتون المثمرة في بيت الله &#8221;                          مزمور عشيّة</p>
<p>٢- وحيد القرن ( القوَّة والثبات ورباطة الجأش والشجاعة )</p>
<p>&#8221; يرتفع قرني مثل وحيد القرن &#8221;                                               مزمور باكر</p>
<p>٣- النخلة &#8211; أرز لبنان ( السموّ وعلوُّ المكانة والقامة العالية )</p>
<p>&#8221; الصديق كالنخلة يزهر وكمثل أرز لبنان ينمو &#8221;                       مزمور القدَّاس</p>
<h3>عظات آبائية</h3>
<p>يُمْكِن الرجوع لكل العظات الخاصة بيوحنا المعمدان في الأحد الأول من شهر توت ( قراءات الآحاد ) ، ويوم ٢ توت ، ويوم ٣٠ بؤونه ( في قراءات الأيام )</p>
<h4>العلامة أوريجانوس (١٨٥-٢٥٣م)</h4>
<p>كان ميلاد يوحنا عجيباً ، لكن تنشئته كانت أكثر عجباً ، إذ لم يتربي يوحنا بالأسلوب المعتاد أو المتعارف عليه في تربية الأبناء ، حقاً لم يخبرنا الكتاب المقدس كيف تربي في كنف أمه ، وكيف ترعرع في حضنها ، بل نقلنا الكتاب المقدس مباشرة إلي القول :&#8221; أمًا الصبي فكان ينمو ويتقوي بالروح وكان في البراري إلي يوم ظهوره لإسرائيل &#8220;(لو ١: ٨٠) . ومن قبل قرأنا أن اليصابات قد تم &#8221; زمانها لتلد فولدت ابناً&#8221;(لو ١: ٥٧) .</p>
<p>وظن كثيرون أن هذا التعبير به إستطراد مبالغ فيه أو زائد عن الحد ، إذ لم يحدث أن تلد إمرأة لم يكتمل زمن ولادتها؟ لكن من يتأمل بعمق في الكتاب المقدس ، يتفهم ما يعنيه القديس بولس الرسول حين يقول :&#8221; … اعكف علي القراءة…&#8221;(١تي ٤: ١٣) . فمن يفتش بين صفحات العهدين القديم والجديد هل يجد أنه كتب عن ميلاد أحد الخطاة &#8221; أنه قد تم زمان ولادته &#8220;. أقول إنه لن يجد مثلاً واحداً علي ذلك ، لكن حين يولد إنسان بار عندئذ &#8221; يكتمل الزمن &#8221; بمعني أن مجيئه إلي العالم قد كَمُل لأن الامتلاء أو الإكتمال هو علامة ميلاد الشخص البار ، في حين أن الفراغ وعدم الإهتمام علامة علي ميلاد الخاطيء . هذا هو الهدف والمغزي من وراء هذه الكلمات .</p>
<p>وبعد ولادة يوحنا يذكر القديس لوقا البشير :&#8221; سمع جيرانها وأقرباؤها أن الرب عظم رحمته لها ففرحوا معها &#8220;(لو ١: ٥٨) . وهنأوا أمه وتمنوا أن تسمي الطفل باسم أبيه زكريا ، لكن أليصابات نطقت بفم الروح القدس لتقول :إن &#8220;اسمه يوحنا &#8221; (لو ١: ٦٣) فتعجب الجميع لأجل أن أباه وأمه قد إختصاه بهذا الاسم ، إذ لم يكن في عشيرته أحد تسمي باسم يوحنا من قبل ، فسألوا أباه ، وإذ لم يكن زكريا قادراً علي أن يجيبهم &#8221; أومأوا إلي أبيه ماذا تريد أن يُسمي ، فطلب لوحاً وكتب :&#8221;اسمه يوحنا&#8221; . فتعجب الجميع&#8221;(لو ١: ٦٢- ٦٣) . &#8221; وفي الحال انفتح فمه ولسانه &#8220;(لو ١: ٦٤) . لقد عُقد لسان الإنسان بقوة غير منظورة ، لكن بمجرد أن انفك لسانه ، لم يعد مجرد لساناً بشرياً ، بل &#8221; تكلم وبارك الله &#8220;(لو ١: ٦٤) .</p>
<p>حين امتلأ زكريا بالروح القدس ، نطق بنبؤتين : الأولي عن السيد المسيح ، والثانية عن يوحنا ، وهذا واضح جداً في كلماته ، حيث تحدث عن المخلص كما لو كان بالفعل حاضراً ويعمل في العالم ، ثم تحدث عن يوحنا ، قائلاً :&#8221; مُبارك الرب إله إسرائيل لأنه افتقد وصنع فداء لشعبه &#8220;(لو١: ٦٨) . لأنه حينما إفتقد الرب شعبه وأرد أن يخلصه ، مكثت مريم ثلاثة أشهر مع أليصابات بعد أن تحدث إليها الملاك ، حيث إن حضور المخلص بقوته التي تفوق الوصف ، لم يرشد يوحنا فقط كما ذكرنا ، لكنه أرشد زكريا أيضاً كما توضح البشارة الآن . وبالتدريج ، وعلي مدار الثلاثة أشهر ، ظلَّ زكريا يتلقي غذاءاً روحياً من الروح القدس ، حيث كان يتلقي العلم كهبة إلهية دون قصد منه ، وبعدئذ تنبأ عن السيد المسيح قائلاً :&#8221; وأقام لنا قرن خلاص في بيت داود فتاه &#8220;(لو ١: ٦٩) . لأن السيد المسيح جاء &#8221; من نسل داود من جهة الجسد &#8220;(رو ١: ٣) ولهذا فهو بالحقيقة قرن الخلاص الذي ولد لنا من بيت داود. كما قال بلسان أنبيائه في الزمن القديم ، وبه يكون &#8220;خلاص من أعدائنا ومن أيدي جميع مُبغضينا &#8220;(لو ١: ٧١) . ولا يعني بهذا الأعداء الجسدانيين فقط ، بل بالأحري الأعداء الروحيين ، فالرب يسوع هو &#8221; الرب الجبار في القتال &#8220;(مز ٢٤: ٨) الذي يدمر جميع أعدائنا ويحررنا من فخاخهم ، أي يحررنا من أيدي جميع أعدائنا &#8221; ومن أيدي جميع مبغضينا ، ليصنع رحمة مع آبائنا ويذكر عهده المقدس &#8220;(لو ١: ٧١- ٧٢) . إنني أؤمن أن مجيء الرب المخلص أبهج أبائنا إبراهيم واسحق ويعقوب لما صنعه الرب من رحمة ، لأنهم قديماً رأوا أن يومه آت فتهللوا وإبتهجوا له &#8221; أبوكم إبراهيم تهلل بأن يري يومي فرأي وفرح &#8220;(يو ٨: ٥٦) . ومما لا يمكن تصديقه أنهم قد نالوا ربحاً عوضاً عن مجيئه لاحقاً ، حينما أتي مولوداً من عذراء … ذلك لأن حضور الربُّ يسوع وعمله لم يستفد منه الأرضيين فقط ، بل السمائيين أيضاً ، لهذا يقول الرسول أيضاً :&#8221; يُصالح به الكل لنفسه ، عاملاً الصلح بدم صليبه ، بواسطته ، سواء كان ما علي الأرض ام ما في السموات &#8220;(كو ١: ٢٠) . لكن إن كان حضور الرب نافعاً لمن هم في السموات ومن هم علي الأرض ، فلماذا نتردد في القول إن مجيئه قد أفاد أجدادنا أيضاً ؟ بل نقول ذلك لكي يتم ما قيل في بشارة القديس لوقا :&#8221; ليصنع رحمة مع آبائنا ويذكر عهده المقدس ، القسم الذي حلف لإبراهيم أبينا &#8220;(لو ١: ٧٢- ٧٣) لكي يهب لنا الخلاص &#8221; بلا خوف منقذين من أيدي أعدائنا &#8220;(لو ١: ٧٤) . لأنه غالباً ما ينجو الناس من أيدي أعدائهم لكن ليس بلا خوف … لكن مجيء الرب يسوع هو الذي أنقذنا بلا خوف من أيدي أعدائنا . إذ نحن لا نري أعداءنا عندما يحاربوننا من خلف ، لكن ودون معرفة منا بهم ، نجد أنفسنا وقد وقعنا فجأة فريسة بين فكيهم وكمائنهم ، لكن الرب يسوع قادر أن ينقلنا في لحظة في طرفة عين &#8220;(١كو ١٥: ٥٢) إلي &#8221; شركة ميراث القديسين في النور ، الذي انقذنا من سلطان الظلمة ونقلنا إلي ملكوت ابن محبته &#8220;(كو ١: ١٢- ١٣) . لكي ننال العتق والخلاص &#8221; بلا خوف منقذين من أيدي أعدائنا نعبده ، بقداسة وبر قدّامه جميع أيام حياتنا &#8220;(لو ١: ٧٤- ٧٥) .</p>
<p>&#8221; وأنت أيها الصبي نبي العلي تُدعي&#8221;(لو ١: ٧٦)</p>
<p>فما السبب الذي جعل زكريا يوجه حديثه ليوحنا نفسه ، دون أن يتحدث عنه؟ إذ من غير المنطقي أن يتحدث إلي شخص لن يفهمه ولن يدرك ما يقوله له ، إذ أنه طفل رضيع ، ما لم يكن -في اعتقادي- ميلاد يوحنا ميلاداً معجزياً ، حيث إنه جاء إلي هذا العالم بنبوة بشَّر بها الملاك أباه زكريا ، وبعد أن مكثت مريم مع أليصابات ثلاثة أشهر ، وُلد يوحنا ، ومن ثم فإن كل ما كُتِب عنه يقر بحادثة إعجازية ، ربما أنك تشك كيف أن طفلاً حديث الولادة يستطيع أن يسمع ويدرك كلمات أبيه ، فما الدلالة وراء هذا الكلام الذي وجهة أبوه له ؟ لما لا وهناك واقعة أكثر عجباً ، وهي أنه عندما سمع صوت سلام القديسة مريم إرتكض وهو لا يزال جنيناً في بطن أمه .</p>
<p>لقد سمع يوحنا وهو لا يزال جنيناً في بطن أمه ، سلام يسوع الذي نطقت به أمه مريم وركض بابتهاج لأجله ، فلماذا لا تصدق أنه استطاع بعد ولادته أن يفهم نبوة أبيه ، الذي خاطبه قائلاً &#8221; وأنت أيها الصبي نبي العلي تُدعي لأنك تتقدم أمام وجه الرب لتعد طرقه&#8221;(لو ١: ٧٦) .</p>
<p>وربما يرجع السبب في تعجله للحديث مع الطفل يوحنا ، أن زكريا كان يعلم مسبقاً أن ابنه سيعيش في البرية ، وأنه لن يتمتع بوجوده معه لوقت طويل &#8221; أما الصبي فكان ينمو ويتقوي بالروح وكان في البراري إلي يوم ظهوره لإسرائيل &#8220;(لو ١: ٨٠) .</p>
<p>وموسي أيضاً عاش في البرية ، فبعد أن أكمل عامه الأربعين هرب من مصر ورعي قطعان يثرون أربعين سنه أخري ، لكن يوحنا خرج إلي البرية في سن مبكر جداً ، وهو الذي قيل عنه ، &#8221; لم يقم بين المولودين من النساء أعظم من يوحنا المعمدان ولكن الأصغر في ملكوت السماوات أعظم منه &#8220;(مت ١١: ١١) . وأيضاً تقول عنه النبوة :&#8221; ها أنا أرسل أمام وجهك ملاكي الذي يُهييء طريقك قُدامك &#8220;(مت ١١: ١٠) . فهو الشخص المُعين والمرسل لاستقبال مجيء الرب وهو الذي استطاع بمجرد ولادته أن يسمع ويفهم نبواءات أبيه ، إنه بالحقيقة يُدعي ملاكاً ، ونحن إذ نصدق هذه المعجزات العظيمة ، ونؤمن بها كإيماننا بصدق القيامة ، وكإيماننا بوعود الملكوت التي يَعدنا بها الروح القدس كل يوم ، والكتاب المقدس يُعبر عن كل هذه الحقائق بأسلوب غاية في الروعة أكثر مما نتصور ، ونحن نقبلها جميعاً .</p>
<p>&#8221; أما الصبي فكان ينمو ويتقوي بالروح وكان في البراري إلي يوم ظهوره لإسرائيل &#8221; (لو ١: ٨٠) . النمو إما يكون علي المستوي الجسدي أو الروحي ، أما النمو الجسدي فلا حيلة لنا فيه ، بينما النمو الروحي لا يتحقق إلا حين يبذل الإنسان الجهد من أجله . &#8221; أما الصبي فكان ينمو ويتقوي بالروح &#8221; بمعني أن روحه لم تبق عند نفس الحالة التي بدأت منها ، بل كانت تنمو باستمرار في داخله ، في كل ساعة وفي كل لحظة وكما كان ينمو بالروح هكذا أيضاً كانت نفسه تتقدم ، وليس نفسه فقط ، بل أن فكره وكل حواسه كانت تنمو بنمو روحه ، لأن هذا هو حُكم الله حين قال :&#8221; أثمرت وأكثري &#8220;(تك١: ٢٢) فالكثرة تشير إلي العدد ، بمعني أنهم زادوا في العدد علي ما كانوا عليه من قبل . لكن التقدُّم في النمو لا يتوقف علي قوتنا الذاتية ،&#8221; ومن منكم إذا اهتم يقدر أن يزيد علي قامته ذراعاً واحداً &#8220;(مت ٦: ٢٧) ومن الحماقة أن نلتزم بما لا نستطيع فعله ، بل نحن مدعوون للنماء ، ومن ثم نحن قادرون علي فعل ما نحن مدعوون من أجله ، هل تريد أن تعرف كيف يجب أن تفهم &#8220;النماء&#8221; ؟ انظر لما فعله اسحق ، يقول الكتاب المقدس عنه :&#8221; فتعاظم الرجل وكان يتزايد في التعاظم حتي صار عظيماً جداً &#8220;(تك ٢٦: ١٣) وذلك لأن إرادته كانت دائماً تتجه نحو الأفضل وتحافظ علي التقدُّم في النمو ، وظل ذهنه متعلقاً بكل الأمور السامية ، حريصاً علي أن يمرَّن ذاكرته علي تخزين ما يفوق في منزلته الكنوز ، مُداوماً علي أن يحفظه بأكثر الطرق أمناً ، هذا هو الطريق نحو النمو ، لقد زرع اسحق جميع فضائله داخل حقل نفسه ، ومن ثم امتلأت نفسه &#8221; بالوسائط &#8221; التي تكفل له النمو .</p>
<p>هكذا يوحنا أيضاً ، بينما كان لا يزال صبياً ، نما وكثُر ، فإن كان هذا الأمر بالغ الصعوبة ، نادر الحدوث بين البشر ، فكم بالحري يصعب علي صبي صغير مثله أن ينمو في الروح .</p>
<p>كان الصبي ينمو ويتقوي بالروح ، أن ينمو أمر ، وأن يتقوَّي أمر آخر ، فالطبيعة البشرية ضعيفة ، وتحتاج إلي معونة إلهية لكي تتقوي ، إذ نقرأ :&#8221; أما الجسد فضعيف &#8220;(مت ٢٦: ٤١) . فما القوة التي تستطيع أن تقويه ؟ إنها قوة الروح بالطبع &#8221; أمًا الروح فتنشيط &#8221; (مت ٢٦: ٤١) وأي شخص يريد أن يصبح قوياً ، عليه أن يتقوي في الروح فقط ، كثيرون أقوياء بالجسد ، ويعملون علي أن تصير أجسادهم أكثر قوة ، لكن جنود يسوع المسيح يجب أن يكونوا أكثر قوة في الروح ، لأن من يتقوي في الروح يسحق حكمة الجسد .</p>
<p>والنشاط الروحي هو الذي يُخضع الجسد لمطلب النفس ، علينا ألا نظن ، حين يقول الكتاب المقدس :&#8221; فكان ينمو ويتقوي بالروح &#8221; أن ما كُتب عن يوحنا هو مجرَّد (رواية) لا تتناسب معنا بأي حال من الأحوال ، بل هي مكتوبة لكي نحاكيها ، إذ يتعين علينا أن نأخذ &#8220;النمو &#8221; بالمعني الذي أوضحناه من قبل ، أي أن ننمو روحياً .</p>
<p>&#8221; وكان في البراري إلي يوم ظهوره لإسرائيل &#8221; (لو ١: ٨٠) . لقد ذكرت مؤخراً أن هناك أمر ما يثير دهشتي في امكانيات الإدراك لدي يوحنا ، فهو الذي أدرك وعرف الرب يسوع وهو لا يزال في بطن أمه ، وإرتكض فرحاً لأجله ، كذلك كان ميلاده عجيباً، وتحدث إليه أبوه زكريا وقت أن وُلِد كمن يتحدث إلي شخص يسمعه ويعي ما يقوله له . هكذا ، فمن الطبيعي بالنسبة له ألا نتوقع أن يتربي علي يدي أبيه وأمه حتي يوم إرساله إلي شعب إسرائيل ، لكنه هرب من ضوضاء المدن وضجيجها ورذائلها ، ودخل إلي البرية حيث الهواء النقي ، والسموات المفتوحة والإحساس العميق بقرب أذني الله من شفتيه .</p>
<p>لم يكن وقت خدمته قد حان ليعمَّد الناس . لكنه كان يشارك الملائكة الصلوات ، لقد دُعي من الله وسمعه وهو يجيبه قائلاً :هأنذا&#8221; (خر ٣: ٤) ، تماماً مثلما تحدث موسي إلي الرب وأجابه . ولهذا أعتقد أن يوحنا كان يكلم الرب في البرية وهو يجيبه ، أنني أعتقد في هذا ، فبما أن يوحنا المعمدان هو أعظم مواليد النساء ، وبما أن الله كان يجيب موسي ، فمن المناسب أنه كان يجيب يوحنا المعمدان أيضاً ، لأن يوحنا كان أعظم من موسي …<a href="#_ftn2" name="_ftnref2">[2]</a></p>
<h4>يوحنا المعمدان عند مار يعقوب السروجي</h4>
<p>الكلام عن يوحنا مهيب جداً،وليس له جمال واحد حتى نذكره،بل هو كثير كيف أجرك علي وصف هذا الجمال؟فالكلمة تتعطل بسبب كثرة جماله.</p>
<p>بأية كلمات وميامر أكرز بهذا العظيم؟فاللسان يعجز ويرتجف من قصته.</p>
<p>هل أدعوه  نبياً ؟إن خبره مختلط مع الرسل ،هل اعتبره رسولاً؟هوذا دورهم موضوع بين الأنبياء؟إنه رئيس الكهنة الذى به كمل واستراح الناموس ، وبعدها أصبح لإحياء دون ممارسة الكهنوت.</p>
<p>هذا هو المولود من بنت هارون جسدياً،ويصعد ذبائح روحية مثل ملكي صادق (تك ١٤: ١٨).هذا هو المختون حسب الناموس من قِبَل العهد القديم ،وهاهو يكشف عن الختان بغير أيادي فى معمودية العهد الجديد.</p>
<p>هذا الذى صار مثل الوسيط للعهدين،فختم الواحد وبدأ بالآخر لأنه كان صادقاً&#8230;.</p>
<p>هذا الذى قَبِل الروح القدس فى بطن أمه، وكرز هناك بحَبَل المباركة(العذراء مريم).</p>
<p>هذا المحبوب الذى رقص وهو جنين فى بطن أمه أمام الكائن بلاهوته منذ الأزل الذي أتى إلى بطن العذراء..</p>
<p>هذا الذى رفس أمه برقصة،لتبارك الأم الشابة التى كانت تحمل الجنين العتيق الأيام هذا الذى بدأ بالكرازة من البطن،ولم يتوقف إلى أن قال لها السيف : إسكت.</p>
<p>هذا الذى ركض إلى النهر مثل صياد ،وألقى شبكته هناك،وملأها صيداً روحياً.</p>
<p>هذا الذى صار صوتاً فى القفر ،وخرج ليمهد الدرب للشعوب ليأتوا عند الله.</p>
<p>هذا الذى توصَّل أن يلمس الابن ويسمع الآب ويري الروح ويكرز  بالثالوث القدوس .  .الكلمة الإلهى قد رأى جماله وصوّره بالوأن كلمته وكتب عنه:لا يوجد بين المولودين أعظم منه (مت١١: ١١).<a href="#_ftn3" name="_ftnref3">[3]</a></p>
<h4>شخصية يوحنا المعمدان في فكر القديس إمبروسيوس</h4>
<p>+ أيّة قامة في تقديرنا يستطيع أن يبلغها الجنين من وجود مريم في بيته هذه الفترة الطويلة&#8230;؟! هكذا كان النبي يأخذ المسحة المقدَّسة ويتهيَّأ للمعركة الكبرى.</p>
<p>+ في ميلاد القدّيسين يعِمْ الفرح بين الجميع، إذ هو بركة للكل.</p>
<p>قد يظن البعض أن في هذا مبالغة، إذ يوجَّه الحديث إلى طفلٍ ابن ثمانية أيام، لكننا نستطيع أن نُدرك أن هذا في الإمكان، إذ سمع الجنين صوت مريم قبْل ولادته. ولما كان يوحنا نبيًا فإنَّ للأنبياء آذانًا أُخر يفتحها روح الله ولا يفتحها نُموّ الجسد. كان يوحنا قادرًاعلى الفهم إذ سبق فركض بابتهاج في بطن أُمّه.</p>
<p>+ عاش إيليَّا في البريّة وكذا يوحنا،</p>
<p>وكانت الغربان تعول الأول أما الثاني ففي طريق البريّة قد داس كل إغراءات الملاهي، وأحبَّ الفقر مبغضًا الترف. الواحد لم يسَعَ لكسب رضاء آخاب الملك، والثاني اِحتقر رضا هيرودس الملك.</p>
<p>+ رداء الأول مزَّق مياه الأردن، بينما الثاني جعل من هذه المياه مغسلًا يهب خلاصًا.</p>
<p>الأول ظهر مع الرب في المجد (عند التجلِّي)، والثاني يحيا مع الرب في الأرض.</p>
<p>واحد يسبق مجيء الرب الأول والآخر يسبق مجيئه الثاني.</p>
<p>الأول أنزل الأمطار على الأرض بعد أن جفَّت ثلاث سنوات والثاني غسل تراب أجسادنا في مياه الإيمان خلال ثلاث سنوات ( سنة عهد الآباء وسنة عهد موسى والأنبياء؛ ثم سنة مجيء الرب إلهنا ومخلِّصنا<a href="#_ftn4" name="_ftnref4">[4]</a></p>
<h3>عظات آباء وخدام معاصرين</h3>
<p>يُمْكِن الرجوع لكل العظات الخاصة بيوحنا المعمدان في الأحد الأول من شهر توت ( قراءات الآحاد ) ، ويوم ٢ توت ، ويوم ٣٠ بؤونه ( في قراءات الأيام )</p>
<h4>قداسة البابا تواضروس الثاني</h4>
<p>زال العقم ودبت الحياة</p>
<p>+ فى هذا الجزء من الاصحاح :</p>
<p>يقدم لنا نشيد زكريا الكاهن الذى كان يمثل انتظار العهد القديم ، الذى أصبح عاقرا ولكن لما جاء ملء الزمان ، زال العقم ، ودبت الحياة من جديد فى أورشليم والهيكل والكهنوت ، فميلاد يوحنا يعنى أن المسيح على الأبواب .</p>
<p>زكريا لم ينفتح لسانة الا عند الختان (عدد ٥٩) ، وذلك لأن الختان علامة العهد ، فأنفتح لسان زكريا ليعلن عن العهد الجديد . وذلك بعد أن يذكر صورة العهد القديم كعهد انتظار للمخلص</p>
<p>(عدد٦٨-٧٥) . ثم تكلم عن ابنه كملاك العهد الجديد الذى كان الجميع ينتظرونه فيقول &#8221; لأنك تتقدم أمام وجه الرب لتعد طرقه ، لتعطى شعبه معرفة الخلاص بمغفرة الخطايا  (عدد ٧٦-٧٧) . أى أعلان وشهادة .</p>
<p>كان يوحنا المعمدان : &#8221; فى البرارى الى يوم ظهوره لاسرائيل &#8221; (عدد٨٠ ) ولذلك قصة يحفظها لنا التقليد وهى أن بعد  ميلاد  السيد المسيح واعلان هيرودس بقتل كل الأطفال المولودين ما دون السنتين ، كان ذلك معناه قتل يوحنا المعمدان أيضا لذلك يقول التقليد أن زكريا أخذه الى الهيكل وهناك أخذتة الملائكة الى البرارى ، وكان هناك الى أن ظهر فى اسرائيل ليعلن عن المسيح قبل خدمته .</p>
<p>شعار ومشورة وشهادة</p>
<p>يوحنا المعمدان يملك شعار ومشورة وشهادة :</p>
<p>١- شعار :</p>
<p>من له العروس فهو العريس ( المسيح ) ، واما صديق العريس ( المعمدان ) الذى يقف ويسمعه فيفرح فرحا &#8230;. ينبغى أن ذاك يزيد وانى أنا أنقص (يو٣: ٢٩-٣٠) . انه يعرف دوره ومسئوليته ولا يتعدى حدوده ، بل يفرح للعريس لأنه مجرد صوت .</p>
<p>٢- مشورة :</p>
<p>أ  مشورة للشعب : &#8221; توبوا لأنه قد أقترب ملكوت السموات &#8221; (مت٣: ٢).</p>
<p>اصنعوا أثمارا تليق بالتوية .</p>
<p>ب  مشورة لتلاميذه : &#8221; هوذا حمل الله الذى يرفع خطية العالم &#8221; (يو١: ٢٩)</p>
<p>وهكذا ترك تلاميذه ليتبعوا السيد المسيح .</p>
<p>ج  مشورة للملك : &#8221; لا يحل أن تكون لك امرأة أخيك &#8221; (مر ٦: ١٨) .</p>
<p></p>
<p>فكان شجاعا فى الحق .</p>
<p>٣- شهادة :</p>
<p>وضع فى السجن ومات شهيدا دون خوف من سجن أو استشهاد ، انة النموذج الذى تضعه أمامنا الكنيسة ، انه  &#8221; أعظم مواليد النساء &#8221; .<a href="#_ftn5" name="_ftnref5">[5]</a></p>
<h4>المتنيح الأنبا أثناسيوس مطران كرسي بني سويف والبهنسا</h4>
<p>شهادة الرب عن يوحنا (مت ۱۱: ۷- ۱۹ ) :</p>
<p>لقد سبق يوحنا وشهد عن الرب بقوله &#8221; هوذا حمل الله الذي يرفع خطية العالم ، (يو ۱ : ۲۹). وهانحن نجد الرب يشهد له بدوره &#8221; أنه أعظم المولودين من النساء &#8221; كان يوحنا رسولا للمملكة السماوية ، يعلن حقها في صراحة ، ويشهد لها بحياته الفاضلة أما الذين كانوا يشهدون لمملكة هيرودس فكانوا يتملقونه بالكذب مادحين تصرفه الخاطىء ، وكانوا يلبسون الثياب الناعمة، ولكن عند الله كان يوحنا أعظم من نبي ، بل أعظم المولودين من النساء جميعا .لأن كل أنبياء العهد القديم تنبأوا عن الرب من بعد ، أما يوحنا &#8221; فجاء ملاكا &#8221; يهيء الطريق قدامة « مل ٣ : ١. وعاصره ، وعمده . فأولئك اشتهوا أن يروا أو يسمعوا ما حصل عليه يوحنا ولم ينالوا : فسر تفوقه عليهم ، قربه من الرب وتمتعه به ولكنه مات قبل الفداء فذهب الى موضع الانتظار حتى فتح له الباب معهم .أما أصغر مؤمن في ملكوت السموات فينال الروح القدس وهو على الأرض ، ويصير الملكوت داخله ، وحين يرقد تدخل روحه مباشرة الى راحة الفردوس &#8211; فسر تفوق بني الملكوت على يوحنا هو تمتعهم بنعمة الخلاص : ويقول في (آية ١٢) أن ملكوت الله منذ يوحنا يغصب ، وذلك لأنه قبل يوحنا كان الأنبياء يتنبأون عنه وعن الرب يسوع . وأما هو فجاء مبشرا بالملكوت الوشيك ، والذي صار حقيقة بسرعة كبيرة ، ولذا فكل من قبل الملكوت انما هو يختطف النجاة لنفسه .</p>
<p>الحكمة تبررت من بنيها : (مت ۱۱: ١٦ &#8211; ١٩)</p>
<p>والعالم دائما يحاول أن يخفي حقيقة الملكوت ويشوهه فوجه الانتقاد الى يوحنا على صورته النسكية ، ووجه الانتقاد للرب على مظهره العادي ، وادعي على الاثنين بما ليس فيهما وهكذا يشهد المؤمنون للحكمة التي أتتهم بأنها بارة على الرغم من تنكر العالم لها . كما أن تنكر العالم للحكمة هو بذاته إظهار لعلو برها . فظهر بر الحكمة بتبعية المؤمنين ومعارضة الأشرار .</p>
<p>وليتوقع الخادم الأمين عدم رضاء الناس عليه ، فكل الناس يستطيعون أن يمدحوا الإنسان المرائي ، لأنه يظهر لكل منهم بالوجه الذي يعجبه &#8221; ويل لكم اذا قال فيكم جميع الناس حسننا &#8221; ؟ (لو ٦: ٢٦).</p>
<p>الحكمة السماوية (مت ۱۱: ٢٥-٢٩)</p>
<p>أنه أخفي أمر الملكوت عن الحكماء لدى أنفسهم ، وأعلنها للاطفال البسطاء الذين هم التلاميذ .وان ما يراه الطفل ببساطة لا يراه الانسان المعتمد على حكمته ، فالحكيم في عيني نفديه سقويم ، وليس معنى هذا أن المسيحية ضد العلم بل هي تشحذ العقل وتنيره بنورها ، والفضيلة التي فيها. ولقد دام النقاش بين الفلاسفة المسيحيين والوثنيين ، وخرجت المسيحية منه منتصرة وجذبت كثيرين من الوثنيين اليها بنورها. والايمان بالابن أصل الاستنارة ، والعلم مع الايمان شهادة أمينة للرب الذي خلق المواهب الطبيعية وحدد الطبيعة البشرية .<a href="#_ftn6" name="_ftnref6">[6]</a></p>
<h4>القديس الأرشيدياكون حبيب جرجس</h4>
<p>ولادة يوحنا المعمدان (لو١: ٥٧ &#8211; ٨٠)</p>
<p>وأما الصبي فكان ينمو ويتقوى بالروح» (لو١ : ٨٠) .</p>
<p>(أولا) المحبة المتبادلة بين الجيران والأقارب حيث نرى مثالا لذلك في فرح هؤلاء مع اليصابات وهي من أفضل مزايا المؤمنين (ثانياً) فائدة من فوائد التجارب فان زكريا تعلم في أثناء صمته الخضوع لارادة الله ولم يقبل أن يسمى ابنه الا باسم يوحنا كما دعي من الملاك ومعنى يوحنا نعمة أو رحمة أو حنان .(ثالثاً) أعظم ما نتمناه لأولادنا ما حصل عليه يوحنا اذ كانت يد الرب معه فهل تطلب هذه العطية من الله لنفسك .(رابعاً) حاسات الشكر التي ملأت قلب زكريا ومعرفته التامة بصدق مواعيد الله وكيف أفاض ذلك في تسبحته .(خامساً) معرفة زكريا عن ماهية ملكوت المسيح وما سيكون من غفران الخطايا والعبادة بالروح بلا خوف .</p>
<h3>من وحي قراءات اليوم</h3>
<p>&#8221; أن يعطينا بلا خوفٍ الخلاص من أيدي أعدائنا لنعبده &#8221;              إنجيل القدَّاس</p>
<p>بين عبادة الخوف وبين عبادة وخدمة الحب</p>
<p></p>
<p>+ الفرق الكبير بين عبادة العهد القديم وعبادة العهد الجديد هو الفرق بين عبادة الخوف وعبادة الحب</p>
<p>&#8221; + &#8221; هذه الكلمات كلم بها الرب كل جماعتكم في الجبل من وسط النار والسحاب والضباب (تث ٢٢:٥)</p>
<p>ولما رأي الجموع صعد إلي الجبل فلما جلس تقدم إليه تلاميذه &#8221; (مت ٥: ١)</p>
<p>+ فرق بين جبل مُضطرم بالنار يحتاج أربعين يوم صوم للكلام مع الله ، وبين جبل يأخذنا الله بنفسه إليه ليُكلمنا عن ملكوته دون إستعداد خاص سوي إشتياق الحب</p>
<p>+ تجسَّد الكلمة لكي يزرع الحب في خليقته وينزع عنهم الخوف منه</p>
<p>+ يجعل الخوف كل حياتنا تحت العبودية (عب ١٥: ٢)</p>
<p></p>
<p>+ ويصعد بنا الحب إلي مجد البنين وإلي كل ملء الله (أف ١٩:٣)</p>
<p>+ ولكن ما أسهل تربية الآخرين علي الخوف التي تضمن كل الولاء وما أصعب تربيتهم علي الحب الذي لا يخشي إنطلاقهم الذي يفطمنا ويفطمهم عن ملكيتنا لهم أو تبعيتهم لنا</p>
<p>&#8221; + فطلبت إليه  كثيراً أن يأتي إليكم مع الإخوة &#8230; ولكن لم تكن له إرادة البتة أن يأتي الآن &#8221; (١كو ١٦ : ١٢) آية تعلن كيف كان الحب في شركة الخدمة يصون كرامة وحرية الآخرين رغم الإحتياج إليهم !</p>
<p>+ &#8221; اقبلونا. لم نظلم أحدا. لم نفسد أحدا. لم نطمع في أحد &#8221; (٢كو ٧ : ٢) آية تُعْلِن نقاوة أجواء الخدمة وإمتلاؤها بالحب المجاني بين الخدّام والمخدومين</p>
<hr />
<p><a href="#_ftnref1" name="_ftn1"></a>١٠- شرح أناجيل السنة التوتية &#8211; دكتور جوزيف موريس فلتس</p>
<p><a href="#_ftnref2" name="_ftn2"></a>١١- المرجع : كتاب شرح وتفسير آباء الكنيسة لأناجيل آحاد السنة التوتية صفحة ١٢١ &#8211; دكتور جوزيف موريس فلتس</p>
<p><a href="#_ftnref3" name="_ftn3"></a>١٢- كتاب ملاك البرية المقدسة صفحة ٦ &#8211; ترجمة القمص تادرس يعقوب ملطي والشماس بيشوي بشري فايز</p>
<p><a href="#_ftnref4" name="_ftn4"></a>١٣- تفسير إنجيل لوقا الإصحاح الأول &#8211; القمص تادرس يعقوب ملطي</p>
<p><a href="#_ftnref5" name="_ftn5"></a>١٤- المرجع : كتاب المنجلية القبطية الأرثوذكسية ( صفحة ١٤١ ) &#8211; قداسة البابا تواضروس الثاني</p>
<p><a href="#_ftnref6" name="_ftn6"></a>١٥- المرجع : كتاب دراسات في الكتاب المقدس &#8211; إنجيل متي ( صفحة ١٦٩ ) &#8211; الأنبا أثناسيوس مطران كرسي بني سويف والبهنسا</p>

      {% endcreateArticleAccordions %}
    </section>
  {% endblock %}
  