---
layout: 'layouts/reading.html'
title: 'اليوم الرابع عشر من شهر أبيب'
permalink: annual/11-14.html
---
  {% block content %}
    <section id="readings">
      <ul>
      {% if 'undefined' != 'undefined' %}
      
      {% else %}
      {% if '19.112:1-2' != 'null' %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">العشية</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeVespers '19.112:1-2' '40.25:14-23' %}
          </div>
        </div>
      </li>
      {% endif %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">باكر</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeMatins '19.132:1,2,9,10' '42.6:17-23' '' %}
          </div>
        </div>
      </li>
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <h3 class="flex items-center justify-between">
            <span class="kufi">القداس</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </h3>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeLitugy '58.11:17-31' '59.1:12-21' '44.19:11-20' '19.1:1' '40.4:23-25*@+40.5:1-16' %}
          </div>
        </div>
      </li>

      {% endif %}
        </ul>
    </section>
    <section id="article">
      <h3 class="mt-8 mb-4 heading-explain">شرح القراءات</h3>
      {% createArticleAccordions %}
        <p>قراءة هذا اليوم ( نياحة أبو مقار أو القديس مكاريوس الإسكندري أب القلالي ) مُحوَّلة علي قراءة يوم سابع وعشرين بابه ( نياحة أنبا مقار الأسقف )</p>
<p>لم يأتِ ذكر لنياحة أبو مقار في الدفنار أو السنكسار !!</p>
<p>جاء في الدفنار والسنكسار شهادة أبروكونيوس ( أو بروكوبيوس كما جاء في السنكسار ) ، وأضاف السنكسار نياحة البابا بطرس الخامس البطريرك ال ٨٣</p>
<p>وواضح هنا إختيار الكنيسة لقراءة ٢٧ بابه لأجل وحدة الإسم والمعني ( مقار تعني الطوباوي ) وذلك أن قراءاته تدور حول الحياة الطوباوية للقديسين</p>

      {% endcreateArticleAccordions %}
    </section>
  {% endblock %}
  