---
layout: 'layouts/reading.html'
title: 'اليوم العشرون من شهر أبيب'
tags: 'annual'
permalink: /articles/annual/11-20.html
---
  {% block content %}
    <section id="readings">
      <ul>
      {% if 'undefined' != 'undefined' %}
      
      {% else %}
      {% if '19.18:34,39' != 'null' %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">العشية</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeVespers '19.18:34,39' '40.10:16-23' %}
          </div>
        </div>
      </li>
      {% endif %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">باكر</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeMatins '19.45:3,6' '42.7:11-17' '' %}
          </div>
        </div>
      </li>
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <h3 class="flex items-center justify-between">
            <span class="kufi">القداس</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </h3>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeLitugy '55.2:3-15' '60.3:8-15' '44.27:42-44*@+44.28:1-6' '19.91:13,11' '42.10:21-24' %}
          </div>
        </div>
      </li>

      {% endif %}
        </ul>
    </section>
    <section id="article">
      <h3 class="mt-8 mb-4 heading-explain">شرح القراءات</h3>
      {% createArticleAccordions %}
        <p><strong>تذكار شهادة القديس تادرس الإسفهسلار (أو ثاؤدورس الشطبي )</strong></p>
<p>&#8221; و اخرون عذبوا و لم يقبلوا النجاة &#8221; (عب ١١ : ٣٥)</p>
<p>ربنا يسوع المسيح تحنن على دموع الأرملة ببلدة نايين وأقام لها ابنها</p>
<p>كل جنس البشر سكان إقليم أفخيتوس نظروا قوتك العظيمة أيها الشهيد ثيؤدوروس</p>
<p>ذكصولوجية القديس تادرس الإسفهسلار</p>
<p><a href="#_ftn1" name="_ftnref1">[1]</a> &#8221; العدو هو قوتنا، به ننال النصرة، لأنه يعطينا السلطان أن ندوس على الحيات والعقارب وكل قوات  &#8221;</p>
<h3>شواهد القراءات</h3>
<p>(مز ١٧ : ٣٤ ، ٤٠) ، (مت ١٠ : ١٦ - ٢٣) ، (مز ٤٤ : ٥ ، ٩) ، (لو ٧ : ١١ - ١٧) ، (٢تي ٢ : ٣ - ١٥) ،(١بط ٣ : ٨ - ١٥) ، (أع ٢٧ : ٤٢ - ٢٨ : ١ - ٦) ، (مز ٩٠ : ١٠ ، ٩) ، (لو ١٠ : ٢١ - ٢٤)</p>
<h3>ملاحظات علي قراءات يوم ٢٠ أبيب</h3>
<p>+ قراءة إنجيل عشيّة هذا اليوم (مت ١٠ : ١٦ - ٢٣) هو نفس إنجيل عشيّة ١٥ هاتور ( الشهيد مار مينا ) ويتماثل تقريباً مع إنجيل عشيّة ٢٣ برمودة (مت ١٠ : ١٦ - ٢٢) الموافق لتذكار شهادة مار جرجس</p>
<p>والكلام هنا عن آلام الشهداء وشهادتهم للمسيح برغم العذابات والجلد ، والوقوف أمام الولاة والملوك بسبب إيمانهم ، لذلك جاءت القراءة في تذكارات الشهداء</p>
<p>+ قراءة إنجيل باكر اليوم (لو ٧ : ١١ -١٧) هي نفس قراءة إنجيل القدَّاس للأحد الرابع من شهر بابه ، وهي الخاصة بمعجزة إقامة إبن أرملة نايين</p>
<p>مجيئها اليوم لتوافقها مع سيرة القديس تادرس الإسفهسلار الذي أنقذ إبن الأرملة ووحيدها من الموت ، بينما مجيئها في الأحد الرابع من طوبه للإشارة إلي سلطان الرب يسوع علي الموت</p>
<p>+ قراءة البولس اليوم (٢تي ٢ : ٣ - ١٥) يأتي جزء منها في قراءات الأحد الثاني من شهر توت (٢تي ١ : ١٢ - ٢  : ١ - ١٠)</p>
<p>قراءة اليوم تتكلَّم عن الجندية للمسيح يسوع وإحتمال المشقَّات ، أمّّا قراءة الأحد الثاني من توت تتكلَّم عن الإيمان والمحبَّة التي في المسيح يسوع والوديعة الصالحة بالروح القدس الساكن فينا</p>
<p>+ قراءة الكاثوليكون اليوم (١بط ٣: ٨ - ١٥) جاءت مرتين ( ٢٧ برموده ، ٢٠ أبيب ) ، كما جاءت أيضاً في قراءات الأحد الأوَّل من شهر مسري ، كما أنها تُشبه قراءة الكاثوليكون (١بط ٣ : ٥ - ١٤) ليوم ٣٠ طوبه</p>
<p>وهنا قراء قراءة ٢٠ أبيب ( تذكار تادرس الإسفهسلار ) هي نفس قراءة ٢٧ برمودة ( تذكار بقطر بن رومانوس ) وهما كانا قد وصلا إلي مراتب عُليا في الإمبراطورية الرومانية ولم يخشيا أمر الإمبراطور وشهدا للمسيح له المجد ( وأما خوفهم فلا تخافوه )</p>
<p>أما قراءة ٣٠ طوبه (تذكار العذاري بستيس وهلبيس وأغابي ) تأتي من بداية الإصحاح لتُشير إلي مكانه المرأة ورسالتها في خلاص زوجها وأسرتها ( هكذا كانت قديماً النساء القديسات .. )</p>
<p>بينما قراءة الأحد الأوَّل من مسري تتكلَّم عن الرأي الواحد والشركة في الآلام ( الكنيسة الكرمة )</p>
<p>+ قراءة إنجيل قدَّاس اليوم (لو ١٠: ٢١ - ٢٤) تُشبه قراءة إنجيل قدَّاس الأحد الثاني من شهر توت (لو ١٠ : ٢١ - ٢٨)</p>
<h4>القراءات المُحوَّلة علي هذا اليوم</h4>
<p>خامس عشر بابة    شهادة القديس بندلائيمون الطبيب من مدينة نيقوميدية</p>
<p>تاسع عشر بابة       شهادة القديس ثاؤفيلس وزوجته بالفيوم</p>
<p>خامس وعشرون أمشير شهادة القديس أرخبوس وفليمون وأبفية العذراء</p>
<p>ثامن وعشرون أمشير  شهادة القديس ثاؤذورس الرومي</p>
<p>ثامن عشر برمهات  شهادة القديس إيسيذورس رفيق سنا الجندي</p>
<p>ثاني برمودة   شهادة القديس خرستوفورس</p>
<p>عشرون برمودة شهادة القديس ببنودة الذي من دندره</p>
<p>رابع وعشرين برمودة شهادة القديس سنا الجندي رفيق إيسيذورس</p>
<p>سادس وعشرون برمودة شهادة القديس سوسينيوس</p>
<p>سادس بؤونة شهادة القديس ثاؤذورس الراهب</p>
<h3>شرح القراءات</h3>
<p>اليوم تذكار شهادة القديس تادرس الإسفهسلار ( أو ثاؤدورس الشطبي ) ومُحوّل علي هذا اليوم تذكار عشرة من الشهداء</p>
<p>وقراءات هذا اليوم تتركَّز في الرب يسوع إكليل الشهداء ونصرتهم وقوتهم وأيضاً تتكلّم عن عطاياه لهم ومكافأته اياهم</p>
<p>تبدأ المزامير بمصدر القوّة والنصرة في الحروب الروحية ( مزمور عشيّة ) وأسلحة نصرتنا ( مزمور باكر ) ومجالات ومظاهر نصرتنا في المسيح ( مزمور القدَّاس )</p>
<p>في مزمور عشيّة الرب هو الذي يُعطي قوة ليديَّ وساعديَّ وجعل القوّة منطقتي في حروبي الروحية ضد ابليس</p>
<p>( أيها الذي يُعلِّم يديَّ القتال وجعلت ساعديَّ أقواساً من نحاس ومنطقتني قوةً في الحرب وعقلت كلَّ الذين قاموا عليَّ تحتي )</p>
<p>وفِي مزمور باكر أسلحة نصرتنا السيف ( أي الصليب ) علي الفخذ ( أي الناسوت ) والحسن والجمال ( أي القيامة ) كما يقول القديس امبروسيوس ففي صليبه وقيامته كمال النصرة علي قوات الظلمة لذلك يقول كرسيك أو عرشك يا الله أي صليبك وهو المزمور الذي تتغنَّي به الكنيسة في الساعة الثانية عشر يوم الجمعة العظيمة</p>
<p>( تقلد سيفك علي فخذك أيها القوي بحسنك وجمالك استلَّه وانجح واملك كرسيك يا الله إلي دهر الدهر وقضيب الإستقامة هو قضيب ملكك )</p>
<p>وفِي مزمور القدَّاس مجالات ومظاهر النصرة علي الأفاعي والحيات والأسد والتنين إشارة إلي كل قوّة إبليس وجنوده الشريرة</p>
<p>( وعلي الأفعي وملك الحيات تطأ وتسحق الأسد والتنين لأنه يوصي ملائكته من أجلك ليحفظوك في سائر طرقك )</p>
<p>والإشارة أيضاً إلي نصرة الشهيد تادرس الإسفهسلار علي التنين كما جاء في سيرته في سنكسار اليوم ( عشرون أبيب )</p>
<p>وفِي القراءات ننال أكليل الخلاص إذا كنّا جنودا وجهادنا قانونياً ( البولس ) ونرث البركة إذا كانت حياتنا صالحة ( الكاثوليكون ) وننجو من الأخطار المختلفة إذا قبلنا الألم لأجل الكرازة بإسمه ( الإبركسيس )</p>
<p>في البولس من هو الذي ينال الإكليل إِلَّا الذي جاهد قانونياً وإحتمل المشقات حتي القيود وصبر علي كل شئ لأجل المُختارين</p>
<p>( فإشترك أنت في قبول الآلام كجندي صالح للمسيح يسوع … وأيضاً إذا كان أحد يجاهد لا ينال الإكليل إلا إذا جاهد قانونياً … الذي أنا أحتمل فيه المشقات حتي القيود كفاعل شر … لأجل هذا أنا أصبر علي كل شئٍ لأجل المُختارين لكي ينالوا هم أيضاً الخلاص الذي في المسيح يسوع مع المجد الأبدي )</p>
<p>وفِي الكاثوليكون من هم الذين يرثون البركة ويروا الأيام الصالحة ولا يقدر أحد أن يؤذيهم إِلَّا من يعيش الحياة في تقوي ومخافة ويقبل الآلام ويحد عن الشر ويصنع الخير</p>
<p>( وكونوا مشتركين في الآلام … غير مجازين عن شرّ بشرٍ أو عن شتيمة بشتيمةٍ بل بالعكس مباركين لأنكم لهذا الأمر دُعيتم لكي ترثوا البركة لأن من أراد أن يُحبَّ الحياة ويري أياماً صالحة فليكفف لسانه عن الشرِّ وشفتيه عن أن يتكلما بالمكر … فمن ذا الذي يُمكنه أن يؤذيكم إذا كنتم غيورين علي الخير )</p>
<p>وفِي الإبركسيس النجاة من الأخطار المختلفة أخطار البحر والوحوش لمن جالوا يكرزون لإسمه القدّوس</p>
<p>( ولكن قائد المئة إذ كان يريد أن يخلَّص بولس منعهم عن تنفيذ مشورتهم وأمر أن القادرين علي السباحة يرمون أنفسهم أولاً إلي البحر ويعمون إلي البرّ والباقين بعضهم علي ألواح وبعضهم علي قطع من السفينة وبهذه الواسطة كانت نجاتنا جميعاً إلي البرّ … فخرجت من الحرارة افعي ونهشت يده … فنفض هو الوحش إلي النار ولم يصبه شئ ردئ )</p>
<p>ويرتبط ما جاء في الإبركسيس بسيرة حياة القديس في أنه أنقذ المدينة بقتله الوحش ، وهنا يقتل القديس بولس الوحش ، ويقود البرابرة إلي الإيمان</p>
<p>وفِي الأنجيل عطاياه لكارزيه وشهوده الأمناء في تلك الساعة وإلي المنتهي ( انجيل عشيّة ) وفِي الغد ( انجيل باكر ) وفِي تلك الساعة ( إنجيل القدَّاس )</p>
<p>في إنجيل عشيّة عطيّة عمل الروح القدس في اعتراف الشهداء وقت جهادهم علي الأرض &#8221; تلك الساعة &#8221; والخلاص المُنْتَظر لصبرهم للنهاية &#8221; إلي المنتهي &#8221;</p>
<p>( فمتي أسلموكم فلا تهتموا كيف أو بما تتكلمون لأنكم تُعطون في تلك الساعة ما تتكلمون به لأنَّ لستم أنتم المتكلمين بل روح أبيكم الذي يتكلَّم فيكم … وتكونون مُبغضين من الجميع من أجل إسمي والذي يصبر إلي المنتهي فهذا يخلص )</p>
<p>وفِي إنجيل باكر عطيّة القيامة من الأموات &#8221; لما صار الغدُ &#8221; فالرب هو الوحيد القادر علي العبور بنا من اليوم والزمن الحاضر إلي الغد أي ما بعد الموت وأزمنة العالم</p>
<p>والعجيب إختيار الكنيسة لهذه المعجزة مع هذا القديس الذي أنقذ إبن إمرأة أرملة وووحيدها أيضاً فعطايا الله وعمله دائم في شهدائه وقديسيه</p>
<p>( ولما صار الغد مضي يسوع إلي مدينةٍ تُدعي نايين … إذا واحد محمول قد مات وهو إبن وحيد لأمه وكانت أرملة … ثم تقدم ولمس النعش فوقف الحاملون وقال أيها الشاب لك أنت أقول قُمْ اجلس فجلس الميت وإبتدأ يتكلم فدفعه إلي أمه )</p>
<p>وفِي إنجيل القدَّاس عطايا الكلمة المُتجسِّد لأطفال العهد الجديد والمُخْفَاة عن حكماء وفهماء العالم وكل شئ قد دُفِعَ من الآب للبشرية في شخص ابن الله</p>
<p>( وفِي تلك الساعة تهلَّل يسوع بالروح القدس وقال أشكرك أيها الآب ربُّ السماء والأرض لأنك اخفيت هذه عن الحكماء والفهماء وأعلنتها للأطفال نعم أيها الآب لأنَّ هكذا صارت المسرة أمامك كل شئ قد دُفع إليَّ من أبي وليس أحد يعرف من هو الإبن إلَّا الآب ومن هو الآب إلَّا الإبن ومن يريد الإبن أن يُعْلِن له )</p>
<h3>ملخّص القراءات</h3>
<p>إلهي هو الذي يُمنطقِّني بالقوة ويُسلِّحني بصليبه ويُيعطيني النصرة علي كل أفعال الشيطان   مزمور عشيّة وباكر والقدّاس</p>
<p>وننال الخلاص إذا جاهدنا قانونياً ونرث البركة بحياتنا الصالحة وننجو من الأخطار إذا قبلنا الألم  البولس والكاثوليكون والإبركسيس</p>
<p>ونناله إذا صبرنا إلي المنتهي وصارالغد لنا أعمال الرحمة وتلك الساعة الشكر والتسبيح  إنجيل عشيّة وباكر والقدّاس</p>
<h3>أفكار مقترحة للعظات</h3>
<h4>(١) نصرة وقوَّة الشهداء</h4>
<p>١- مصدر القوَّة والنصرة سماوية وإلهية</p>
<p>&#8221; وجعلت ساعديَّ أقواساً من نحاس ومنطقتني قوةً في الحرب &#8221;      مزمور عشيّة</p>
<p>٢- سلاح النصرة ( الصليب )</p>
<p>&#8221; تقلد سيفك علي فخذك أيها القويُّ &#8221;                                مزمور باكر</p>
<p>٣- مجالات النصرة وحدودها ( علي كل قوَّة العدو وسلطانه )</p>
<p>&#8221; وعلي الأفعي وملك الحيَّات تطأ وتسحق الأسد والتنين &#8221;    مزمور القدَّاس</p>
<p>٤- مُتطلِّبات النصرة</p>
<p>+ حكمة الحيات وبساطة الحمام</p>
<p>+ &#8221; فكونوا حكماء كالحيات وبسطاء كالحمام &#8221;                      إنجيل عشيّة</p>
<p>+ الصبر  علي الآلام إلي المنتهي وصبر الخادم لأجل خلاص الآخرين</p>
<p>&#8221; والذي يصبر إلي المنتهي فهذا يخلص &#8221;                          إنجيل عشيّة</p>
<p>+ &#8221; إن كنّا نصبر فسنملك أيضاً معه &#8221;                                    البولس</p>
<p>&#8221; + &#8221; لأجل هذا أنا أصبر علي كل شئ لأجل المُختارين لكي ينالوا هم أيضاً الخلاص     البولس</p>
<p>+ الجهاد القانوني</p>
<p>&#8221; وأيضاً إذا كان أحد لا ينال الإكليل إلَّا إذا جاهد قانونياً &#8221;              البولس</p>
<p>+ الحياة الصالحة</p>
<p>&#8221; فمن ذا الذي يُمكنه أن يؤذيكم إذا كنتم غيورين علي الخير &#8220;.     الكاثوليكون</p>
<h4>(٢) عناية الله لمختاريه ومكافأته لهم</h4>
<p>١- حمايتهم من الأشرار</p>
<p>&#8221; وعقلت كل الذين قاموا عليَّ تحتي &#8221;                                                      مزمور عشيّة</p>
<p>٢- مساندتهم في شهادتهم له  &#8221; لأنكم تُعطون في تلك الساعة ما تتكلمون به &#8221;                                       إنجيل عشيّة</p>
<p>٣- إفتقاد الله لهم في ضيقاتهم وأتعابهم</p>
<p>&#8221; قد قام فينا نبيٌ عظيمٌ وإفتقد الله شعبه &#8221;                                           إنجيل باكر</p>
<p>٤- يملكون معه</p>
<p>&#8221; إن كنّا نصبر فسنملك أيضاً معه &#8221;                                                        البولس</p>
<p>٥- إحتياجاتهم موضع عناية الله وإهتمامه</p>
<p>&#8221; لأن عيني الربَّ تنظر الأبرار وأذنيه تنصتان إلي طلبهم &#8221;                         الكاثوليكون</p>
<p>٦- نجاتهم من الوحوش وحِفْظُه لهم من الأخطار</p>
<p>&#8221; فإذ إنتظروا كثيراً ورأوا أنه لم يناله شئ مُضر &#8221;                                     الإبركسيس</p>
<p>&#8221; لأنه يوصي ملائكته من أجلك ليحفظوك في سائر طرقك &#8221;               مزمور القدَّاس</p>
<h4>(٣) أعمال الله وأزمنة البشر</h4>
<p>١- في تلك الساعة - إلي المنتهي</p>
<p>٢- إلي دهر الدهور</p>
<p>٣- الغد</p>
<p>٤- والنهاية - أياماً صالحة</p>
<p>٥- في تلك الساعة</p>
<h3>عظات ابائية</h3>
<h4>القدِّيس أنبا أنطونيوس كوكب البرية: الادراك والتمييز</h4>
<p>صلوا لكي يهبكم الله نعمة الإدراك السليم في كل الأمور، فتقدروا أن تميِّزوا بين الخير والشرّ تمييزًا حسنًا.</p>
<p>لقد كتب الرسول بولس: &#8220;وأمَّا الطعام القوى فللبالغين&#8221; (عب ٥ : ١٤). هؤلاء الذين بواسطة العمل المتواصل والجهاد&#8221; تُدرَّب حواسهم وميولهم على التمييز بين الخير والشرّ، وقد أُحصوا كأبناء الملكوت وصاروا من عداد أبناء الله، هؤلاء يعطيهم الله الحكمة والتمييز الحسن في كل أعمالهم، فلا يقدر إنسان أو شيطان أن يخدعهم.</p>
<p>فالعدوّ يحارب المؤمنين تحت صورة الخير، وينجح في خداع كثيرين، هؤلاء الذين ليس لهم حكمة ولا تمييز حسن. لهذا علَّم الرسول بولس عن غنى الفهم الذي لا حد لعظمته، المخصَّص للمؤمنين، إذ كتب إلى أهل أفسس يقول: &#8220;كي يعطيكم إله ربنا يسوع المسيح أبو المجد روح الحكمة والإعلان في معرفته مستنيرة عيون أذهانكم لتعلموا ما هو رجاء دعوته، وما هو غنى مجد ميراثه مع القدِّيسين&#8221; (أف ١ : ١٧ ، ١٨)، كاتبًا هذا بدافع حبُّه العظيم المتزايد نحوهم، ولعلمه أنَّهم إن اقتنوا الفهم لا يعود يكون بالنسبة لهم شيء فيه صعوبة، ولا يمسُّهم خوف، بل يعزِّيهم فرح الرب نهارًا وليلًا، وتصير الأعمال بالنسبة لهم عذبة في كل حين.</p>
<p>حقًا إن كثيرين من الرهبان والعذارى في المجمع لم يقتنوا الفهم بهذه الدرجة، وأمَّا أنتم فإن أردتم أن تحصلوا عليه بهذا المقدار الذي فيه كمال، فاهربوا من أولئك الذين يحملون اسم &#8220;رهبان وبتوليُّون&#8221; دون أن يكون لهم الإدراك الحقيقي والتمييز الحسن. لأنَّكم إن اختلطتم بهم، لن يدعكم تتقدَّمون بل وربَّما يطفئون حرارة غيرتكم، إذ لا حرارة لهم بل  برودة وهم يسيرون وراء أهوائهم. فإن أتوا إليكم وتحدَّثوا معكم في أمور أرضيَّة حسب أهوائهم الخاصة، لا تستكينوا لهذا؟، إذ كتب الرسول بولس: &#8220;لا تطفئوا الروح، لا تحتقروا النبوَّات&#8221; (١تس ٥ : ٢٠)، عالمين أنَّه لا شيء يطفئ الروح أكثر من الكلام الباطل<a href="#_ftn2" name="_ftnref2">[2]</a>.</p>
<h4>العلَّامة أوريجانوس: رؤية الله</h4>
<p>نُظر الله بواسطة إبراهيم أو بواسطة قدِّيسين آخرين، وذلك خلال النعمة الإلهيَّة. لم تكن عينا إبراهيم هما وحدهما علَّة الرؤية، بل الله قدم نفسه لكي يُرى بواسطة الإنسان البار، الذي تأهَّل لرؤيته.</p>
<p>ربَّما يوجد ملاك بجوارنا الآن ونحن نتكلَّم، لكننا لا نقدر أن نراه بسبب عدم استحقاقنا.</p>
<p>ربَّما تسعى العين (الجسديَّة) أو الداخليَّة لتنال هذه الرؤيا، لكن إن لم يعلن الملاك نفسه لنا نحن الذين لنا هذه الرغبة لن نقدر أن نراه.</p>
<p>هذه الحقيقة لا تخص رؤية الله في هذا العصر الحاضر فحسب بل وعندما نرحل من هذا العالم. لأن الله وملائكته لن يظهروا لكل البشر بعد رحيلهم مباشرة&#8230; بل توهِب هذه الرؤيا للقلب الطاهر الذي تأهَّل لرؤية الله.</p>
<p>الإنسان الذي تثقَّل قلبه بالخطيَّة ليس في نفس الموضع مع ذاك الذي قلبه طاهر، فالآخر يرى الله بينما الأول لا يراه.</p>
<p>أظنّ أن هذا حدث عندما كان المسيح هنا في الجسد على الأرض. فإنَّه ليس كل من نظره نظر الله. بيلاطس وهيرودس الوالي تطلَّعا إليه وفي نفس الوقت لم ينظراه (كإله).</p>
<p>لذلك فإن ثلاثة رجال جاءوا إلى إبراهيم في منتصف النهار بينما جاء اثنان إلى لوط في المساء (تك ١٩ : ١) ، إذ لم يكن لوط قادرًا أن يتقبَّل عظمة نور الظهيرة أمَّا إبراهيم فكان قادرًا على قبول كمال بهاء النور</p>
<p>رؤية الله عقليَّة وروحيَّة وليست جسديَّة&#8230; ولهذا استخدم المخلِّص بحرص الكلمة اللائقة وقال: &#8220;لا يعرف أحد الآب إلاَّ الابن&#8221; ولم يقل &#8220;يرى&#8221;. مرة أخرى يقوم للذين يهبهم رؤية الله &#8220;روح المعرفة&#8221; و&#8221;روح الحكمة&#8221;، حتى أنَّهم خلال الروح نفسه يرون الله (إش ١١ : ٢)</p>
<p>العضو الذي به نعرف الله ليس عين الجسد بل عين العقل، إذ يرى بما هو على صورة الخالق، ويتقبَّل فضيلة معرفته بعناية الله .</p>
<p>الآن وإن كنا نبدو متأهَّلين لرؤية الله بعقلنا وقلبنا، فإنَّنا لا نراه كما هو بل كما يصير بالنسبة لنا حيث يجلب عنايته فتحملنا</p>
<p>يليق بنا أن ندرك كم من أمور يجب أن تقال عن (هذا) الحب، وكم من أمور يجب أن تقال عن الله، حيث أنَّه هو نفسه &#8220;الحب&#8221;. فإنَّه كما أنَّه لا يقدر أحد أن يعرف الآب إلاَّ الابن ومن يسر الابن أن يعلن له&#8230; بنفس الطريقة لأنَّه يدعى &#8220;الحب&#8221;، فإن الروح القدس المنبثق من الآب، الذي وحده يعرف ما هو في الله، كما أن روح الإنسان يعرف ما هو في الابن (١كو ٢ : ١١) ، هنا فإن الباراقليط روح الحق المنبثق من الآب (يو ٢٦ : ١٥) هو يتجوَّل ويبحث عن النفوس المتأهِّلة والقادرة على قبول عظمة حبُّه، أي عظمة الله، إذ يشتهي أن يعلن ذلك لهم<a href="#_ftn3" name="_ftnref3">[3]</a></p>
<h4>وأيضاً للعلَّامة أوريجانوس: بولس الرسول</h4>
<p>خدمة التسبيح والشكر هي طعام النفس الدسم المشبع لها</p>
<p>ما كان يشغل الرسول بولس وأيضًا من معه حتى في سجنه أن يقدموا تسبحة شكر لله من أجل امتداد ملكوته في العالم.</p>
<p>الشكر بالنسبة للرسول بولس ليس بندًا من بنود العبادة فحسب، لكنّه يمثّل خطًا جوهريًّا في كل حياته. فمع التزاماته الكثيرة ومشاركته لآلام مخدوميه سواء بسبب الاضطهادات من الخارج أو الانقسامات في الداخل أو المعاناة من أصحاب الأفكار الخاطئة إلاّ أن رسائله تحمل دومًا رائحة الشكر والتسبيح والفرح. بل وفي أكثر من موضع يوصي بالشكر الدائم كما بالصلاة بغير انقطاع. الشكر بالنسبة له ذبيحة حب مقدّمة دومًا باسم ربّنا يسوع المسيح، يشتمّها الآب رائحة رضا وسرور.</p>
<p>إن عُصر الرسول بولس تفيض عروقه شكرًا وفرحًا وتسبيحًا لا ينقطع!</p>
<p>خدمة التسبيح والشكر هي طعام النفس الدسم المشبع لها. &#8220;شفتاي تسبحانك. هكذا أباركك في حياتي، باسمك أرفع يدي، كما من شحم ودسم تشبع نفسي&#8221; (مز ٦٣ : ٣ - ٥). وهي أنشودة النصرة على العدو الحقيقي الذي يطلب تحطيم الإنسان بروح اليأس: &#8220;من أفواه الأطفال والرضع هيأت سبحًا لإسكات عدو ومنتقم&#8221; (مز ٨ : ٢).</p>
<p>يقدّم الكاتب التشكّرات (في صيغة الجمع كما في ١تس ١: ٢)، وقد اعتاد الرسول في أغلب رسائله أن يفتتحها بتسبحة الشكر لله (رو ١ : ٨، ١كو ١ : ٤، أف ١ : ١٦؛ في ١ : ٣ ؛ ٢تس ١ : ٣ ؛ ٢تي ١ : ٣ ؛ فل ٤).</p>
<p>بدأ بالشكر لله من أجل عمله معهم: إيمانهم به، وحبّهم للقدّيسين، ومن أجل رجائهم في السماويّات. هكذا يتطلّع الرسول إليهم بروح إيجابي مفرح؛ فلا يبدأ بالحديث عن السلبيّات المحزنة، بل بالإيجابيّات المفرحة. بهذا يدفعهم للاستماع إليه بقلب مفتوح، ويملأهم رجاء في النموّ الدائم بلا يأس.</p>
<p>إذ وجد في السجن، مقيدًا في حركته جسديًا، تبقى نفسه منطلقة للعمل بالصلاة الدائمة في يقظة، تطلب خلاص كل نفس. كان في السجن كأسدٍ غالب، كما جاء في إشعياء النبي: &#8220;ثم صرخ كأسدٍ: أيها السيد أنا قائم على المرصد دائمًا في النهار، وأنا واقف على المحرس كل الليالي&#8221; (إس ٢١: ٨).</p>
<p>ما سمعه عنهم من أبفراس ألهب قلبه بالفرح من أجل ما تمتّعوا به روحيًا، وحثه على الصلاة والشفاعة من أجلهم حتى يصيروا كاملين، مدركين مشيئة الله، ومتمتّعين بالمعرفة الإلهيَّة.</p>
<p>ليس بالأمر العجيب أن يربط الرسول بين شكره لله وصلاته الدائمة من أجل شعبه، فإن كان الله يطلب منّا ذبيحة الشكر والتسبيح، كذبيحة مقبولة لديه، فإن محبّتنا له وتسبيحنا لا ينفصل عن حبّنا لإخوتنا وصلواتنا من أجلهم بلا انقطاع</p>
<p>حمل الرسول أبوّة صادقة نحو كل مخدوميه، فكان باسمهم لا يكف عن أن يقدّم الشكر لله من أجل عمله معهم.</p>
<p>وضع (بولس) نفسه في مركز الأب، الشاكر كل حين من أجل أولاده، من أجل ما يمارسونه<a href="#_ftn4" name="_ftnref4">[4]</a>.</p>
<h4>القديس اوغسطينوس: أنا أريحكم</h4>
<p>« تعالوا الى يا جميع المتعبين والثقيلي الاحمال وأنا أريحكم »</p>
<p>ماذا يعني الرب بقوله « تعالوا الى يا جميع المتعبين » ، الا أن يأتوا لكي لا يتعبوا فيما بعد ، ان وعده صريح جدا ، لانه حينما يدعو أولئك المتعبين ، فلربما يتساءلون : ماذا وراء دعوتهم ؟ ! انه يقول لهم : « وأنا اريحكم » « احملوا نيرى عليكم وتعلموا منى » ، انه لا يعني ان تحملوا هيئة هذا العالم ، ولا ان تستحدثوا كل ماهو منظور وغير منظور ، فانكم لم تخلقوا في العالم كيما تصنعوا معجزات ، وتقيموا موتى ، بل تعلموا اني « وديع ومتواضع القلب » . فان اردت ان تكون عظيما ، ابدأ من الامور الصغيرة ، فان كنت تفكر في بناء صرح عظيم الارتفاع فكر أولا في أساس الاتضاع ، وبقدر ما تكون عظمة البناء الذي تود ان تقيمه ، بقدر ما يجب ان تحفر له اساسا عميقا ، ان البناء عند اقامته يرتفع الى أعلا ، بينما ان من يحفر اساسه يجب ان يتعمق أولا الى اسفل جدا ، وهكذا ترى ان حتى البناء يبدأ من اسفل قبل ان يرتفع ، والقمة ترتفع فقط بعد الاتضاع وما هي قمة هذا البناء الذي تقيمه ؟ انها تبلغ حتى الى رؤية الله ، وهذا ما وعدنا الله به ، لانه حسن ان نرى من يرانا فلا نظن اذن حينما نعمل الشر اننا سوف نختفى عن عينيه . اسمعه وهو يقول : « تعالوا الى يا جميع المتعبين » ، انك لا تستطيع ان تتخلص من متاعبك بالهرب منه ، فهل تختار ان تهرب منه أو بالاولى اليه ؟ ! فاستعد اذن كيما نراه في أوج مجده ، ذاك الذي من تعطفه قد رآك ( وأنت تحت كنثنائيل ) ، ولكن من أجل أن قمة هذا البناء مرتفعة جدا ، فكر جيدا في الاساس ، ربما تقول واي أساس ؟ اجيبك : تعلم منه لانه وديع ومتواضع القلب . عمق في نفسك اساس هذا الاتضاع وحينئذ ستبلغ الى قمة تاج المحبة . ولعل كثيرين حينما يسمعون كلمات الرب : « أحملوا نيرى عليكم لان نيری هين وحملی خفیف » ، سيصدمون ويجربون بضيقات كثيرة في هذا العالم ، حتى ليبدو انهم ليسوا مدعوين من التعب الى الراحة بل العكس ، حيث يقول الرسول ايضا : « وجميع الذين يريدون ان يعيشوا بالتقوى في المسيح يسوع يضطهدون » (٢تي ۳ : ۱۲) ، لذا يتساءل البعض : كيف يكون هذا النير هينا وهذا الحمل خفيفا ؟ ! في حين ان حمل هذا النير ليس هو الا الحياة بحسب الله في المسيح ؟ وكيف يقال : « تعالوا الى يا جميع المتعبين وأنا أريحكم » ولا يقال الاولي : تعالوا الى يا جميع المستريحين حتى ما تتعبوا ؟ لانه هكذا وجد أولئك الفعلة البطانين مستريحين واستأجرهم العمل في كرمه (مت ٤:٢) حتى ما يحتملوا حر النهار ، ونحن نسمع الرسول تحت هذا النير الهين والحمل الخفيف يقول : « في كل شيء نظهر انفسنا كخدام الله في صبر كثير في شدائد في ضرورات في ضيقات في ضربات .. الخ » (٢كو ٦ : ٤) ، وفي موضع آخر من نفس الرسالة : « من اليهود خمس مرات قبلت أربعين جلدة الا واحدة . ثلاث مرات ضربت بالعصي ، ثلاث مرات انكسرت بي السفينة ، ليلا ونهارا قضيت في العمق » (٢كو ١١ : ٢٤) ، مع سائر الاهوال التي حقا لا يمكن أن تقع تحت حصر ، ولكن احتمالها لا يكون الا بمعونة الروح القدس</p>
<p>فكل هذه التجارب المؤلمة والثقيلة التي سردها ، جازها كثيرا مرات متعددة ولكن كان الروح القدس يؤازره جدا بالحقيقة في اماتة انسانه الخارجي من أجل تجديد الانسان الداخلي يوما بعد يوم ، وتذوق الراحة الروحية من فيض تعزيات الله كان يلطف الشدائد الحاضرة من أجل رجاء المستقبل السعيد ، ويهون عليه كل تلك المحاكمات الثقيلة ، فانظروا ايه نير حلو للمسيح احتمل بولس ، واية حمل خفيف ، حتى أنه يقول ان كل تلك المعاناة الصعبة والمؤلمة والتي يقشعر السامع من مجرد سردها كانت « ضيقة خفيفة » ، كما رأها بعيني قلبه ، عینی الايمان ، فما أكبر الثمن من الامور الحاضرة الذي يجب ان نشتری به الحياة العتيدة والنجاة من العذاب المقيم الذي للاشرار ، والتمتع الكامل بالنعيم الابدي الذي للابرار الخالي من كل قلق .</p>
<p>ونحن نجد ان الذين لا يقبلون مثل هذه الجهادات يحسون انها قاسية جدا عليهم ، بينما ان من يحبونها يحتملون نفس هذه الامور ولكنهم لا يشعرون بأنها قاسية ، لان الرب يجعل اصعب واشق الامور جميعا سهلة بل ولا شيء فانه ليس بدون وجه حق قال هذا الاناء المختار بفرح زائد : « أن الأم هذا الزمان الحاضر لا تقاس بالمجد العتيد ان يستعلن فينا » (رو ۸ : ۱۸) ، فانظروا اذن كيف ان هذا النير حلو وهذا الحمل حفيف ، وهو إن كان عسيرا بالنسبة للبعض الذين يختارونه ، الا انه هين لجميع من يحبونه ، والمرنم يقول « بكلام شفتيك انا حفظت طرقا صعبة » (مز ١٧ : ١٤) ، هكذا دبرت عناية الله الصالحة  ان الانسان الداخلي الذي يتجدد يوما فيوما ، الذي ليس هو بعد تحت الناموس بل تحت النعمة ، والمتحرر من اثقال ممارسات لا تحصي كانت بالحقيقة نيرا ثقيلا ، ولكنه موضوع بحق على رقاب غليظة  ان تكون كل ضيقة مؤلمة يعانيها هذا البطل القوى بلا سبب في انسانه الخارجي ، يمكن بمعونة الايمان البسيط والرجاء الصالح والمحبة المقدسة ان تصبح هينة من اجل السرور الذي فيها ، لانه ليس أيسر على الارادة الطيبة من أنها تكون هكذا لنفسها وهذا هو كل ما يريده الله . لذا فانه مهما احتد هذا العالم ، فالملائكة قد صاحت بحق تماما حينما ولد الرب في الجسد « المجد لله في الاعالي وعلى الارض السلام وفي الناس المسرة » (لو ٢ : ١٤) ، لان نير « ذاك الذي ولد حينئذ هين ، وحمله خفيف ، وكما يقول الرسول «ان الله امين الذي لا يدعكم تجربون فوق ماتستطيعون بل سيجعل مع التجربة ايضا المنفذ لتستطيعوا ان تحتملوا » (١كو ١٠ : ١٣)<a href="#_ftn5" name="_ftnref5">[5]</a></p>
<h4>القديس يوحنا ذهبي الفم: رجاء الحياة الأبدية</h4>
<p>هذا ما يعنيه في كل ما قاله ، هكذا يقول إن الإيمان هو الذى يسمو بنفوسنا ، ولا يتركها تسقط ، بسبب مآسى الحياة الحاضرة ، ويخفف من الآلام من خلال رجاء الحياة الأبدية . لأنه من يسعى لخيرات الدهر الآتى ، وينتظر الحياة السمائية ، ويوجه عيون نفسه نحو هذه الحياة ، لا يشعر بآلام هذه الحياة الحاضرة ، كما أن الرسول بولس لم يشعر بها وعلم بحكمة الحياة في المسيح ، قائلاً : &#8221; لأن خفة ضيقتنا الوقتية تنشئ لنا أكثر فأكثر ثقل مجد أبدياً &#8221; . كيف وبأى طريقة ؟ يقول : &#8221; غير ناظرين إلى الأشياء التي ترى بل إلى التي لا ترى &#8221; . سنراها بعيون الإيمان . فكما أن عيون الجسد ، لا ترى ما يدور في الذهن أو الفكر ، هكذا عيون الإيمان لا ترى أي شيء مادى ولكن ما هو الإيمان الذى يقصده الرسول بولس هنا ؟ لأن إسم أو صفة الإيمان ، لها معنى مزدوج . إيمان يقال عن هذا الذى صنع به الرسل معجزات ، والتي قال عنه المسيح &#8221; لو كان لكم إيمان مثل حبة خردل لكنتم تقولون لهذا الجبل : انتقل من هنا إلى هناك فينتقل &#8221; . وفى موضع آخر ، عندما عجز التلاميذ عن إخراج الشياطين من ذلك الذى كان مأسوراً به ، وأرادوا أن يعرفوا السبب ، أعلن لهم أن هذا بسبب عدم إيمانهم ، قائلاً : &#8221; لعدم إيمانهم &#8221; . وعندما مشى القديس بطرس على الماء ، وكان على وشك أن يغرق  ، وجه له المسيح نفس التأنيب ، قائلاً : &#8221; يا قليل الإيمان  ، لماذا شككت ؟ &#8221; . إذاً إيمان يقال عن الذى يصنع الآيات والمعجزات ، لكن يقال أيضاً عن الإيمان الذى يحملنا إلى معرفة الله ، المعرفة التي بها يصير كل واحد منا مؤمنا ، كذلك يكتب الرسول بولس إلى أهل رومية ، قائلاً : &#8221; أشكرك إلهى بيسوع المسيح من جهة جميعكم ، أن إيمانكم ينادى به في كل العالم &#8221; . وفى رسالته إلى أهل تسالونيكى ، يكتب قائلاً : &#8221; لأنه من قبلكم قد أذيعت كلمة الرب ، ليس في مكدونية وأخائية فقط ، بل في كل مكان أيضاً قد ذاع إيمانهم بالله &#8221; . ما هو الإيمان الذى يقصده هنا ؟ من الواضح جداً أنه يقصد إيمان المعرفة ، وهذا أوضحه بالآتى : يقول &#8221; ونحن أيضاً نؤمن لذلك نتكلم أيضاً بماذا نؤمن ؟ نؤمن بأن الله الذى &#8221; أقام الرب ، وسيقيمنا نحن أيضاً بقوته<a href="#_ftn6" name="_ftnref6">[6]</a> &#8221; .</p>
<h4>أيضاً للقديس يوحنا ذهبي الفم</h4>
<p>إذا كان العهد القديم هو نور ، فكم يكون العهد الجديد الذي أمدنا بهذه الأسرار العظيمة ؟</p>
<p>الرسول القديس يدعو للقراءة في الكتاب المقدس ، ويرجوا  من مستمعيه ألا يفحصوا بشدة وبفضول زائد أسرار الله .</p>
<p>في الواقع الإنسان الذى يعرف الكتب المقدسة كما يجب ينبغي ألا يتحير في نفسه مهما حدث ، وألا يضعف وهو يواجه غموضاً في قرأءة الأمور العاليه والعميقة، وإنما بشجاعة  يلجأ إلى الإيمان . ويطلب الإرشاد الإلهي لكشف هذه الأسرار الخفية وأيضا ً يسترشد بالأقوال والأمثال المشابهه الواردة في الكتاب المقدس فسيجدها توضح بعضها البعض .</p>
<p>إن ميزان المعرفة الحقيقى هو عدم الفضول الذائد وعدم التشبث بمعرفة كل شيء .</p>
<p>وإذا أرتم سأوضح لكم الموضوع بمثل : إن الأنهار كثيرة ولكن كلها بنفس العمق ، البعض عميق والبعض الآخر أقل عمقاً البعض يمكن الغرق في مياهه وفى لججه بالنسبة لغير الحذرين ، والبعض الآخر سهل العبور بدون خطر ، لذلك فإن عدم التعرض بنفس الحذر لجميع الأنهار العميق منها وغير العميق إنما هو حكمة كبيرة .</p>
<p>فإذا رايت نفسك قد وصلت إلى  أعماق قريبة لبعض هذه الأنهار ، فأحذر أن يغرقك هذا إلى المجازفة بسبر أغوار أنهار أخرى أكثر عمقاً قد تغرقك وتفقد في أعماقها .</p>
<p>بمعنى أخر أنه إذا كانت السهولة التي مررت بها بمكان أقل عمقاً تغريك على محاوله اقتحام الأماكن العميقة ، فأنك سوف تفقد .</p>
<p>وهكذا بالنسبة لله ، فإن الرغبة في معرفة كل الأسرار الإلهية والمغامرة في اقتحام هذا الطريق تشيران إلى الجهل الكامل بمعرفة الله . يبدوا أن مقارنتى غير كافية ولزيادة الإيضاح أقول : إن معظم الأماكن في الأنهار قليلة العمق . أما الله فلا سبر لأغواره ومتابعه أثار أعماله . فلماذا نزج بأنفسنا في هوه عميقة ؟</p>
<p>لتعلموا أن الله يقود الكل بعنايتة الإلهية التي يمنحها الله للجميع ويترك لنا حرية إرادتنا .</p>
<p>الله لا يريد لنا الشر وإنما يسمح به متى تم بإرادتنا ، أما الخير فيتم بنعمته ومشيئة وتوجيهه لإرادتنا فهو منبع كل الخيرات ولا يخفى عليه شيء . تعلموا هذه الحقائق الأساسية ، ثم تعلموا بعد ذلك ما هو حسن ، ما هو ردئ، ما هو غير مهم : الفضيله الحسنة والخطيئة الرديئة . الغنى أم الفقر ، الحياة أوالموت هذه كلها أمور غير ذات أهمية . من خلال هذه التعاليم نخلص بالآتى .</p>
<p>الصالحون يتألمون حتى ينالوا أكليل المجد .</p>
<p>الأشرار يعاقبون بحسب أعمالهم .</p>
<p>لا يعاقب كل الأشرار في العالم حتى لا يظن بأنه ليست هناك قيامه .</p>
<p>لا يصاب كل الأبرار بالآلام خوفاً من محبة الإثم وكره الفضيلة .</p>
<p>وهكذا يختار كل إنسان الطريق الذى يسير فيه بحريته التي وهبها الله له .</p>
<p>والذى يتابع هذه التعاليم وينفذها فإنه لن يقابل مواقف مخجله تعترض طريقه . الفضيلة حسنه أما الخطيئة فشريرة .</p>
<p>والأمراض والفقر والمشاكل والنكبات التي تقابلنا هي أمور يجب ألا نبال بها .</p>
<p>الصالحون يقاسون من الآلام فى العالم وإذا وجدنا البعض منهم بدون متاعب فذل حتى لا تكون الفضيلة بغيضه دائمآ .</p>
<p>وإذا وجدنا الأشرار في راحة وسعادة فذلك لأن الله يتحفظ لمعاقبتهم في مكان آخر ، وإذا عاقب الله البعض ابتداء من هذه الحياة فهذا حتى لا تكون الخطيئه شيئاً خيراً وحتى لا يعتقد أنه لا يوجد عقاب في العالم ويهمل سر عقيدة القيامة .</p>
<p>الناس الأكثر نموا في الفضيلة لا يخلون من بعض الأخطاء التي يتحررون منها هنا بالآلام . والأكثر فساداً يعملون بعض الأعمال الحسنه التي يكافئهم عنها الله في هذا العالم .</p>
<p>إن غالبية أعمال الله لا نستطيع أن نفهمها إذ أن علو الله عنا ، لا نهائي .</p>
<p>لتكن هذه الأفكار دائما حاضرة في عقولنا ، ومهما حدث لا نقلق . لنقرأء الكتب وسوف نجد أمثلة كثيرة مشابهه ، لنقرأها لأنها ستعلمنا كيف نحصل على السلام ، إنها توضح لنا ما يجب علينا عمله وما لا يجب .</p>
<p>يقول الرسول الطوباوي في مكان آخر : &#8221; وتثق أنك قائد للعميان ، ونور للذين في الظلمة ، ومهذب للأغبياء ومعلم للأطفال &#8221; (رو ٢ :١٩) .</p>
<p>ألا ترون أن الناموس هو نور للذين في الظلمات ، إذا كان يمكن القول عن الشريعة التي أعطتنا الحرف الذى يقتل بأنها نور ، فكم وكم تكون البشارة التي أعطتنا الروح الذى يحيي ؟ إذا كان العهد القديم هو نور ، فكم يكون العهد الجديد الذى أمدنا بهذه الأسرار العظيمة ؟ ماذا يقال عن أشخاص كانوا لا يعرفون سوى الأرض واكتشفوا فجاة السماء والعجائب التي تحويها ؟ ومع ذلك لا يوجد فرق بين العهد القديم والعهد الجديد ، فالعهد الجديد أكد لنا عذابات النار وسعادة السماء ، والدينونه ضد العرافين والزهو والإعجاب بنبؤاتهم .</p>
<p>لنزع الثقه من المنجمين فهم كذبة ومضللون ولا يوجد لديهم سوى المغالطة والخداع .</p>
<p>ستقول ومع ذلك إذا كان يحدث ما يقولونه ؟</p>
<p>سيكون ذلك من قبيل الصدفة . فالدجال يتسلط عليك ويصبح سيدًاً على حياتك .</p>
<p>نرى مثلاً عندما يقع ابن الملك في يدى رئيس قطاع الطرق حينئذ يكون تحت تصرفه فيستطيع أن يحدد ما إذا كان الابن سيموت أم سيحيا حيث أنه أصبح تحت سلطته وليس لأنه يعرف المستقبل .</p>
<p>للأسف نجد أن نسبة كبيرة من الناس تخضغ لهؤلاء الدجالين مصدقين ومعجبين بكلامهم خاصة إذا صدقوا صدفة دون النظر إلى أخطائهم .</p>
<p>لو كانوا حقيقة يعرفون المستقبل . أحضروهم إلى لأنى مؤمن . لا أتكلم هكذا بدافع الكبرياء فإنه ملئ بالخطايا ، ولكن بنعمة الله أنا أسخر من كل هذه الوسائل المؤذية . إنى أكررها لكم ، أحضروا لى واحداً من سحرنكم ، وإذا كان له بعض المواهب النبوية ليقل لى ماذا سيحدث لى غداً وما هو مصيرى . أنا واثق أنه لن يتكلم لأنى تحت سلطان ملكى الشرعى . الطاغيه ليس له أي سلطة على . أنا مستعد لمواجهة هذه الأماكن الخطرة لأنى اعل في جيش الملك .</p>
<p>سوف تقولون شخص ما ارتكب سرقة واكتشفها ساحر . هذا ليس دائما حقيقة . فهو ليس إلا نوع من الدجل والكذب .</p>
<p>لماذا لا يتنبأوا لكهنتهم عن الأوثان التي أزيلت ؟ وهم لا يعرفون شيئاً ، لذلك لم يقدروا أن يقولوا كلمة واحدة ينقذون بها ثروتهم . ويتحاشون الحدائق التي التهمت هياكلهم ، لماذا لم يهتموا أولاً بسلامة انفسهم ؟ أما نحن فلدينا أنبياء ، لكنهم لا يخطئون . أنهم لا يصدقون أحيانا ً وأحياناً أخرى يكذبون ، ولكنهم دائماً يقررون الحقيقة . إذا كنتم يأخوتى مؤمنيين حقاً بالمسيح ابعدوا عن هؤلاء ، لماذا تنزلون من قدركم وتغالطون أنفسكم ؟ إلى متى تعرجون بين الفرقتين ؟ لماذا تذهبون إلى أولئك المنجمين ، فإن مجرد ذهابكم إليهم يعنى أنكم تصدقونهم . سوف نقول أنا لا أستشيرهم لأنى أثق فيهم وإنما لأنى أريد أن أختبرهم . أن مجرد فكرة أختيارهم يعنى أنك تثق فيهم . حتى ولو نصحوك بنصيحة يطرد بها الشر الذى يهددك لا تستسلم لهم .</p>
<p>ولكن وقاحتنم لم تصل فقط إلى هذا الحد ، بل تجاوزته إلى مضار أخرى . أنهم تنبأوا بأحداث سعيدة وتم ذلك صدفة فما الذى سيفيدك ؟ وإذا تنبأوا لنا بأحداث سعيدة لم تحدث فإننا نصاب بالإحباط وخيبة الأمل لأن هذه الأنباء السعيدة التي علقنا عليها لم تحدث .</p>
<p>واذا تنبأوا بأحداث سيئة فإننا نعيش في حزن وهم وكدر ونحن في غنى عنها .</p>
<p>إذا كنت شغوفا ً بمعرفة المستقبل ، فالله لا يغضب من هذه الرغبة ، بل هو فعلاً لم يحرمك منها ، فهو قد أتاح لك فرصة معرفة أسرار السماء . أليس هو بنفسه أعلن لك قائلاً &#8221; لأنى لا أعود أسميكم عبيداً لكنى قد سميتكم أحباء لأنى أعلمتكم بكل ما سمعته من أبى &#8221; (يو ١٥ : ١٥) .</p>
<p>قد تقولون لماذا لم يعلمنا الله بهذه الأمور ؟ هل لأنه لا يريدنا أن ندخلها في حساباتنا ، بينما قد أعطاها في القديم ؟ ولنأخذ على سبيل المثال ما حدث من حادثة التعرف على أتن قيس التي كان قد فقدها (١صم  ٩ : ٣ – ٢٠) أرد عليكم يا أخوتى وأقول : إن الله كان يتعامل مع شعب لا يزال إدراكه في مرحلة الطفولة . أما بالنسبة لنا فهو يريدنا أن نعفى نفوسنا من هذه المتاعب ومن هذا البؤس .</p>
<p>ترى ما هو البديل الذى يريدنا أن نعرفه ؟</p>
<p>إنه عرفنا بحقائق لم يتح لليهود قديماً معرفتها . هذه التخمينات كانت تكشف لهم عن أمور تافهه ، أما ما أتاح لنا معرفته فهى أمور فائقة الإدراك كالآتى :</p>
<p>إننا نستمتع بالقيامة ، والخلود الممجد الغير قابل للفساد . أن صورة هذا العالم ستزول وسوف نخطف في سحب السماء .</p>
<p>إن الأشرار سوف يعانون من عقوبة عادلة ، وكثير من أمور أخرى هامة وحقيقية وكلها مؤكدة .</p>
<p>أليس هذا كله أهم بما لا يقاس من معرفة جحش مفقود .</p>
<p>ها إنك قد عثرت على جحشك . ما هي الفائدة التي عادت عليك ، هل لن تفقده ثانية بوسيلة أخرى ؟</p>
<p>إذا لم يتركك هو فسوف تتركه أنت بالموت . أما عن الحقائق التي قلتها لكم إذا أردتم حفظها ، فسوف تسعدون بها إلى الأبد . هذا هو ما يجب أن نبحث عنه ، الخيرات الثابته المؤكدة .</p>
<p>لنحتفر التنجيم والسحرة والدجالين من كل نوع ولا نستمع إلا لله الذى يعرف كل شيء مؤكداً ، الذى يملك ملء المعرفة لكل شيء . بذلك نعرف كل ما يجب معرفته ، ونحصل على كل الخيرات  آمين<a href="#_ftn7" name="_ftnref7">[7]</a> .</p>
<h4>القديس أغسطينوس</h4>
<p>تبحث عن الابن بدون الآب؟ أعطني نورًا بدون الآب؟ أعطني نورًا بدون بهاء. إن كان قد وُجد وقت لم يكن فيه الابن، فإنه يكون فيه الآب نورًا قاتمًا.</p>
<p>إن كنت بالحقيقة تستطيع أن تفصل البهاء عن الشمس فلتفصل الكلمة عن الآب .</p>
<p>ما يفعله الآب، إنما يفعله بالابن، بحكمته وقوته يعمل، فلا يفعل بما هو خارج عنه. إنه يظهر للابن ما يراه هو، ولكن في الابن نفسه يظهر ما يفعله.</p>
<p>إن كنتم ترون أنه لا يوجد انفصال في النور، فلماذا تطلبون انفصالًا في العمل (عمل الثالوث القدوس)؟ انظروا إلى الله، انظروا كلمته الذي لا يتجرأ&#8230; فالمتكلم لا ينطق بمقاطع كلمات، إنما حديثه هو إشراق لبهاء الحكمة، ماذا يُقال عن الحكمة ذاتها؟ &#8220;إنها بهاء النور الأزلي&#8221;. لاحظوا بهاء الشمس في السماء، وتنشر بهاءها على كل الأراضي وعلى كل البحار مع أنها في بساطة هي نور حسي. إني أتحدث عن الشمس، لننظر إلى مصباحٍ واحدٍ صغير بشعاعٍ هزيل، يمكن أن ينطفئ بنفخة واحدة، يبسط نوره على كل ما هو قريب منه، من اللهيب المنتشر. ترون الانبعاث منه وليس انفصال. إذن لتفهموا أيها الإخوة المحبوبون أن الآب والابن والروح القدس متحدون معًا في ذواتهم بلا انفصال. لكن هذا الثالوث هو الله الواحد، وكل أعمال الله الواحد هي أعمال الآب والابن والروح القدس.</p>
<p>نقرأ: &#8220;الله نور، وليس فيه ظلمة البتة&#8221; (١يو ١٩ : ٥) ، وأيضًا: &#8220;الله الذي قال أن يشرق في قلوبنا&#8221; (٢كو ٤ : ٦). أيضًا في العهد القديم أعطى اسم &#8220;بهاء النور الأزلي&#8221; (حك ٧ : ٢٦) لحكمة الله، التي بالتأكيد لم تُخلق، بل بها خُلق كل شيء. وعن النور الذي يصدر عن هذه الحكمة قيل: &#8220;لأنك أنت تضيء سراجي يا رب، إلهي أنت تنير ظلمتي&#8221; (مز ١٨ : ٢٨). بنفس الكيفية، في البدء، حيث كانت ظلمة على الغمر، قال الله: &#8220;ليكن نور فكان نور&#8221; (تك ١ : ٢) ، حيث هو النور معطي النور، الله نفسه استطاع وحده أن يفعل ذلك<a href="#_ftn8" name="_ftnref8">[8]</a>.</p>
<h4>أيضاً للقديس أغسطينوس: الاتكال على حكمة العالم</h4>
<p>&#8220;أحمدك أيها الآب رب السماء والأرض لأنك أخفيت هذه عن الحكماء والفهما. وأعلنتها للأطفال &#8221; (مت ۱۱ : ۲۰)</p>
<p>ماذا يقصد بالحكماء ؟</p>
<p>١ – المتكبرون</p>
<p>&#8220;لأنك أخفيت هذه عن الحكماء والفهماء وأعلنتها للأطفال &#8220;. ما هذا يا إخوتى ؟ لتفهموا ما يقصده ب  &#8220;الحكماء والفهماء ، بما جاء مناقضا لهم ، فإنه لم يقل &#8220;وأعلنتها للجهلاء والأغبياء &#8221; بل &#8220;أعلنتها للأطفال&#8221;. لقد أخفاها عن هؤلاء الحكماء ، الذين هم بالحقيقة مثار سخرية ومتكبرين ، هؤلاء الذين يتظاهرون بالعظمة مع أنهم في الحقيقة متكبرون  لقد أوضح السيد أنه يقصد ب &#8221; الحكماء والفهماء &#8221; المتكبرين فهو أخفاها عمن ليسوا أطفالا.</p>
<p>وما هو الشيء المخفى عن هؤلاء الذين هم غير أطفال أي غير متواضعين ؟ إنه طريق الرب..</p>
<p>ولماذا تهلل يسوع ، لأنه أعلن الطريق للأطفال . إذن ينبغي علينا أن نكون أطفالا صغاراً ، فإن أردنا أن نكون عظماء ، أي حكماء وفهماء ، فإنه لا يعلن لنا طريقه &#8230; &#8220;وبينما هم يزعمون أنهم حكماء صاروا جهلاء &#8220;. فهنا نجد العلاج ، فإن أردت الحكمة فلتصر جاهلا ، فلتعترف بجهلك وعندئذ تصير حكيماً. لتعترف أنك لست نورا لنفسك ، بل بالحقيقة عين لا نور. وماذا تنفع العين إن كانت سليمة ومفتوحة بدون وجود نور ؟ ! لتعترف أنك لست نورا لذاتك ، ولتصرخ كما هو مكتوب &#8220;لأنك أنت تضىء سراجي . الرب إلهى ينير ظلمتی&#8221; . فأنا كنت بكاملى ظلاماً، ولكنك أنت هو النور الذي يبدد الظلمة ويضيء في . أنا لست نورا بذاتي، فليس لى نصيب من النور إلا بك.</p>
<p>هكذا ظن الناس يوحنا ، صديق العريس ، أنه المسيح . حسبوه أنه النور &#8220;ولكنه لم يكن هو النور بل ليشهد للنور&#8221; .. أما النور الحقيقي فهو الذي يضيء لكل إنسان، فلابد وأن يكون قد أضاء يوحنا أيضا ، هذا الذي شهد له واعترف بالحق قائلا &#8221; ومن ملئه نحن أخذنا &#8221; كما قال يسوع : أنتم أرسلتم إلى يوحنا .. فشهد للحق . . وأنتم أردتم أن تبتهجوا بنوره ساعة . إذن كان يوحنا سراجا موقداً منيراً، إنه السراج الذي أضاء ليضيء للآخرين. على أن السراج الذي يُضاء يمكن أيضا أن يُطفئ ، لهذا لم يكن يوحنا يعرض نفسه لريح الكبرياء حتى لا ينطفىء . لهذا &#8220;أعترف لك أيها الآب رب السماء والأرض لأنك أخفيت هذه عن الحكماء والفهماء &#8221; وأخفيتها عمن ظنوا أنفسهم نوراً رغم كونهم ظلمة</p>
<p>٢ – المجدفون على الله</p>
<p>لقد قصد السيد ب &#8220;الحكماء والفهماء &#8220;، أولئك الذين قال عنهم الرسول بولس &#8220;أين الحكيم ؟ أين الكاتب ؟ اين مباحث هذا الدهر ؟ ألم يجهل الله حكمة هذا العالم ؟ &#8221;</p>
<p>ألازلت تسأل : من هم الحكماء والفهماء ؟ فربما يكونون أولئك الذين يجدفون على الله باطلا بجدالهم الكثير عنه . هؤلاء المتكبرون بتعاليهم دون أن يكون في استطاعتهم إدراك وجود الله أو معرفته بالحكمة ، هؤلاء الذين بسبب عدم إدراكهم لجوهر الله يحسبون الهواء والسماء أنهما الله</p>
<p>مثل هؤلاء يزجرهم سفر الحكمة قائلا &#8220;لأنهم إن كانوا قد بلغوا من العلم أن استطاعوا إدراك كنه الدهر فكيف لم يكونوا أسرع إدراكا لرب الدهر&#8221; . إنهم يضيعون وقتهم وعملهم في الجدال ، يضيعونه في بحوث ومقاييس كما لو كان الله مخلوقا . إنهم يبحثون في دوران النجوم وبين الكواكب وحركات الأجسام السمائية . يا لها من مثابرة عظيمة ، ومجهود ذهنى ضخم!! لكنهم يبحثون عن الخالق خلال هذه الأمور رغم كونه غير بعيد عنهم. إنهم لم يجدوه ، هؤلاء الذين لو استطاعوا أن يجدوه ، لوجب عليهم أن يجدوه في داخلهم &#8230; لا تقلق كثيراً ، إن كنت تجهل حركات النجوم وعدد الأجسام السمائية . . تأمل جمال العالم النقى ، أنظر مجد الخالق مدبره. تطلع إلى صنعته وحب صانعها . ليكن هذا هو اهتمامك العظيم . حب خالقها الذي خلقك على صورته لكى تحبه.</p>
<p>الذين عرفره ولم يمجدوه :</p>
<p>إن العجيب في ذلك أن بعض الناس &#8220;حكماء وفهماء &#8220;، ومع ذلك ففى قدرتهم معرفته . لأن غضب الله معلن من السماء على جميع فجور الناس وإثمهم الذين يحجزون الحق بالإثم، أي حق هذا الذي يحجزونه بالإثم ؟ &#8220;إذ معرفة الله ظاهرة فيهم لأن الله أظهرها ا لهم&#8221; .. وكيف أظهر الله معرفته لمن لم يأخذوا الشريعة ؟ ! &#8221; لأن أموره غير المنظوره ترى منذ خلق العالم مدركة بالمصنوعات &#8221; . . ففي استطاعتهم أن يعرفوا الله بواسطة المصنوعات المنظورة .. وكان في مقدرتهم أن يقولوا الكثير مما أشار إليه الرسول بولس في سفر أعمال الرسل عندما تحدث عن الله قائلا &#8220;لأننا به نحيا ونتحرك ونوجد. &#8221;</p>
<p>فإذ كان يحدث الوثنيين الذين كان من بينهم متعلمين، لذلك أردف &#8220;كما قال بعض شعرائكم&#8221; ولماذا أظهر الله معرفته لهم ؟ &#8220;حتى أنهم بلا عذر&#8221; إذن فلماذا يوبخهم ؟</p>
<p><a href="#_ftn9" name="_ftnref9">[9]</a>&#8220;لأنهم لما عرفوا الله لم يمجدوه أو يشكروه كاله&#8221; . . فأي شر أعظم من هذا ، أن نخلق على صورة الله ونعرفه ومع هذا لا نشكره ؟!</p>
<h4>القديس يعقوب السروجي: التسبيح</h4>
<p>يا ابن الله حرك ألحاني لتسبيحك، وبتراتيلها تُهلل لك كل حواسي.</p>
<p>منذ البداية مُهيأ لساني لتسبيحك، ولو بطل من تسبيحك يستحق القصاص</p>
<p>ربي لن أهدأ من التغني بتراتيلك، لئلا أُعذب من قبل العدالة في الدينونة العادلة.</p>
<p>فم الإنسان مهيأ لتسبيح اللاهوت، ومن يهدأ من التسبيح يُلام ويُحتقر.</p>
<p>لما خلق الخالق الفم وضع فيه الصوت والكلمة ليتحرك للتسبيح.</p>
<p>وهكذا يجب على كل من شعر بوجود الخالق أن يسبّح الرب الذي خلقه.</p>
<p>ليس فم الإنسان صاحب سلطان ليستخدم الأخبار التافهة والكلمات غير اللائقة.</p>
<p>عندما خلق الخالق الفم أتقنه لتسبيحه، وليس ليتلفظ بأمورٍ باطلةٍ.</p>
<p>يقول الرب لمن يتوقف عن تسبيحه: اصرخ بحنجرتك، وارفع صوتك كالبوق.</p>
<p>ربي، أنا خليقتك، ساعدني لأتعجب من أعمالك، واسمح لي أن أسبح كما يليق بخليقتك.</p>
<p>اسمح للقلب أن يخدمك بأفكار القداسة، لأنك مخوف للخلائق.</p>
<p>قدّس لساني من كل الأخبار العالمية، وبعِشرتك يتحرك للتسبيح.</p>
<p>ربي، ها قد فتحتُ فمي، فاملأه من تسبيحك كما وعدتَ، ولا يمر فيه كلام باطل ليتفوه به.</p>
<p>لتتحرك ألحاني صوب موهبتك المملوءة عجبًا، وأنا أشكر تسبحتك يا ابن الله .</p>
<p>ربي مُلكك هو الفم والكلمة واللسان، أعط للفم الحركة لتسبيحك وهو غير مستحق.</p>
<p>مُلكك هو العقل والفهم والتفكير، فساعد العقل ليُخبر بقصتك وهو يتطلع إليك.</p>
<p>مُلكك هي حركات النفس وأفكارها، فساعد النفس لترى جمالك وتصفك.</p>
<p>أيها الكلمة الذي جاء ليصير جسدًا، أعطني كلمتك لأتكلم بها عن مجيئك المملوء عجبًا.</p>
<p>أتيت عندنا، ومكثت في أبيك، أنت فوق وتحت، والسماء والأرض مملوءتان منك يا ابن الله.</p>
<p>املأ فمي تسبيحًا كما قلتَ: افتحه واملأه، فافتحه واملأه، ولو أنه ليس مفتوحًا لأنه كسلان.</p>
<p>أنت فاتح الأفواه المغلقة لتتكلم، مَن يقدر أن يفتح فمه بدونك؟</p>
<p><a href="#_ftn10" name="_ftnref10">[10]</a> مَرةً حتى الأتان تكلمت (عد ٢٢: ٢٢ - ٣٠) ، ليعرف كل أحدٍ بأنه يسهل عليك أن تعطي النطق حتى للبهيمة.</p>
<h4>القديس غريغوريوس النيسي: مرآة الكنيسة</h4>
<p>والآن صوت الكلمة هو صوت القوة فى الخليقة ، هو النور الذى يشرق على وصيته ، وهو يأمر فان السماء توجد وكل المخلوقات أيضا توجد حين ينطق الله بالكلمة . والأن أيضا حين ينطق الكلمة للعروس أن تأتى اليه فأنه فى الحال يعطى قوة للوصية وتنفذ ما يريده العريس فى الحال . وتتحول العروس الى شىء سماوى وتتغير النفس من المجد الذى توجد عليه الى المجد الأعلى وذلك حين تسلك فى الكمال . ولهذا فان خورس الملائكة الذى يحيط بالعريس يعبرون عن اعجابهم بالعروس بكلمات المديح هذه &#8221; قد سبيت قلبى يا أختى العروس&#8221;(نش٤: ٩) لأن الكمال المنسوب للعريس والذى يشع منه على الملائكة وعلى النفوس التى تتبعه أيضا يجعلها مثله فى طهارة وبلا شهوة جسدية وتصير النفس فى علاقة كأخت لهذه القوات السمائية الملائكية ولذلك يقولون لها قد سبيت قلبى ياأختى العروس لأنها أصبحت أختا لهم بسبب كمالها وأطلق عليها كلمة عروس بسبب شركتها مع العريس الكلمة أما معنى كلمه قد سبيت قلبى فهو أنك قد أعطيتنا حياة كما لو كانوا يريدون أن يقولوا لها أنك قد أعطيتنا قلبا فى داخلنا وهذا هو ما فسره الرسول بولس حين قال &#8221; لكى يعرف الآن عند الرؤساء والسلاطين فى السماويات بواسطة الكنيسة بحكمة الله المتنوعة حسب قصد الدهور الذى صنعه فى المسيح يسوع ربنا الذى به لنا جراءة وقدوم بايمانه عن ثقة &#8221; (أف٣: ١٠-١٢) وتفسير ذلك أن حكمة الله قد كشفت لنا أسرار القوات العلوية التى تعلن حكمة الله وعجائبه .ولكن كيف تأتى الحياة بعد الموت ؟ وكيف تتحول الخطية الى بر والشتيمة والسب الى مديح . والخوف الى مجد والضعف الى قوة ؟ أن هذه القوات السمائية لها خبرة فقط بالحكمة الالهية التى تصنع المعجزات ، والله الكلى القدرة يعمل خلال قواته ويأتى بالخليقة الى الوجود حين يريد الله ذلك وهو خلق كل الأشياء حسنا لأنها أتت من مصدر واحد كله جمال وهو الله . ولكن حكمة الله المتنوعة هذه قد أعلنت الآن خلال الكنيسة . كيف صار الكلمة جسدا؟ كيف أتحد الموت بالحياة لأننا نحن شفينا بجراحاته وآلام الصليب هزمت كل قوات العدو . الله غير المنظور فى الجسد حرر كل من سباهم الشيطان وأصبح الله نفسه هو المشترى وهو الثمن أيضا ، لأنه أسلم نفسه للموت من أجل فدائنا وهو لم ينفصل عن الحياة وهو فى آلام الموت . هو جاء كعبد ولكنه لم يزل ملكا . كل هذا وغيره أيضا هو عمل الحكمة الالهية المتنوعة والتى هى غامضة علينا . ان كل أصدقاء العريس يتعلمون خلال الكنيسة ويعطى لهم قلبا جديدا لكى يدركوا أسرار الحكمة الالهية الآخرى . وأيضا اذا ما نحن رأينا جمال العريس مطبوعا فى العروس ومدركا فى الخليقة كلها فاننا نمتلىء تعجبا لأن رغم أن &#8221; الله لم ينظره أحد قط &#8221; (١يو٤: ١٢) كما يقول الرسول يوحنا أو كما يقول بولس الرسول &#8221; ولا يقدر (أحد) أن يراه &#8221; (١تيمو٦: ١٦) ولكنه حين صنع الكنيسة التى هى جسده وبناها على الحب خلال نمو الانسان جعلنا نتحد كلنا ونصير واحدا فى كمال واحد &#8221; الى انسان كامل الى قياس قامة ملء المسيح &#8221; (أف٤: ١٣) واذا كانت الكنيسة هى جسد المسيح ، فان المسيح هو رأس هذا الجسد وأعطى الكنيسة طهارته حيث نرى فى الكنيسة نقاوة غير المنظور مثل انعكاس النور فى السماء وهكذا فان أصدقاء العريس يرون شمس البر حين يبصرون وجه الكنيسة كما لو كانت مرآة نقية وعندئذ نستطيع أن ترى المسيح بانعكاس نوره على الكنيسة<a href="#_ftn11" name="_ftnref11">[11]</a> .</p>
<h3>عظات آباء وخدام معاصرين</h3>
<h4>قداسة البابا تواضروس الثاني: عظمة الراعى والرعية</h4>
<p>الاصحاح العاشر من انجيل معلمنا لوقا يتضمن :</p>
<p>( دعوة السبعين + فرح المسيح + الوصية الجديدة + السامرى الصالح + مريم ومرثا )</p>
<p>&#8221; أوشية الانجيل &#8221; مأخوذة من هذا الجزء .</p>
<p>لقد تهلل المسيح لأن كثيرين خلصوا بكرازة الأثنى عشر تلميذا والسبعين رسولا .</p>
<p>١- المسيح مشتهى الأمم : أنبياء / ملوك / شعوب / أفراد .</p>
<p>العالم كله يشتهى المسيح ، مرة بالذبائح ومرة بالرموز ومرة بالصلوات .</p>
<p>منذ آدم &#8221; هو يسحق رأسك وأنت تسحقين عقبه &#8221; حتى الصليب &#8221; قد أكمل &#8221; .</p>
<p>٢- المسيح يشتاق الينا : سر المسيح للبسطاء والأنقياء والمتضعين وليس لأصحاب الكبرياء .</p>
<p>أى كبرياء المعرفة ( الحكماء والفهماء ) = الكتبة والفريسيين .</p>
<p>الطريق الى المسيح : بالبساطة  بالتواضع .</p>
<p>&#8221; أتريد أن تكون عظيما ؟ فكر أولا فى أساس الاتضاع &#8221; ( القديس أغسطينوس )</p>
<p>الجهاد الروحى فى الانسان يتكون من :</p>
<p>١- العين الداخلية التى تنظر .( الملاحظة / المبصرة).</p>
<p>٢- الأذن الداخلية التى تسمع . &#8221; من له أذنان للسمع فليسمع &#8221;</p>
<p>٣- القلب الداخلى الذى يفهم . &#8221; ياابنى أعطنى قلبك &#8230;.&#8221;(أم ٢٣: ٢٦) .</p>
<p>اعلان الملك عن نفسه</p>
<p>+&#8221; تهلل بالروح &#8221; (عدد ٢١) لأن طريق الملكوت أصبح معدا الآن وصارهنا  من البشر من يعرفونه ، هؤلاء هم الذين ليست لهم حكمة بشرية ، ولكن هؤلاء الذين أعلنت لهم الحكمة السماوية ، فيقول له المجد . &#8221; أشكرك لأنك أخفيتها عن الحكماء وأعلنتها للأطفال &#8221; (عدد ٢١) فلقد حاول فلاسفة العالم أن يدركوه ، ولم يستطيعوا  ، ولكن المسيح الآن معلن لنا اذ هو الله المتجسد .</p>
<p>+ لماذا الاطفال ؟ لأن الطفل هو الذى يبنى عقله وينمو ، والبشرية هنا حتى يمكنها أن تعرف المسيح اذا خضعت له خضوع الأطفال يبنى هو عقلها وينميه من جديد .</p>
<p>+ &#8221; كل شىء قد دفع الى من أبى &#8221; (عدد ٢٢) تعنى عبارة &#8221; كل شىء &#8221; كل السلطان .</p>
<p>لأن الآب واحد مع الأبن ، لذلك دفع اليه كل سلطانه ، ومن ثم فان سلطان الأبن هو نفسه سلطان الله الآب .</p>
<p>الله يفرح ويتهلل بأشياء كثيرة منها :</p>
<p>١- يفرح الرب بالنجاح فى الخدمة وانتشار البشارة .</p>
<p>٢- يفرح الرب يسوع برجوع الخطاة .</p>
<p>٣- الله يفرح بى فى الصلاة</p>
<p>٤- يفرح ويتهلل بالصوم المصحوب بالصدقة وفعل الخير .</p>
<p>٥- الله يفرح بالأمانة ( الأمين ) .</p>
<p>٦- الله يفرح ويتهلل عندما نكسب حياتنا الآبدية .</p>
<p>الله يفرح بالأنتصار على التجارب <a href="#_ftn12" name="_ftnref12">[12]</a> ٧-</p>
<h4>المتنيح القمص تادرس البراموسي</h4>
<p>لأنك أخفيت هذا عن الحكماء والفهماء وأعلنتها للأطفال (لو ١٠: ٢١ - ٢٤)</p>
<p>لم يذكر في الكتاب المقدس أن الرب يسوع تهلل أي فرح فرحاً عظيماً إلا في هذا الموضع فقط . لكن ذكر أنه بكى ثلاث مرات ، فها هو السبب الذي جعل السيد المسيح يبتهج ويفرح هكذا فرحاً عظيماً . أن الرب يسوع له المجد لم يكن يبالي بالأفراح العالمية والمسرات الجسدية ولم يذكر عنه أنه تأثر من أمور ففرح بها لأن أنظاره كانت متجهة نحو العمل الروحي وإتمام معاهدة السامية ، أن الأمر الوحيد الذي كان يسره هو حصول الخطاة على الخلاص وقبول الضعفاء والجهلاء لبشارة الإنجيل ، عندما رفضها الحكماء والفهماء من بني إسرائيل ولا ريب أنه رأى أموراً كثيرة أحزنته ولا سيما عماء قلوبهم وشدة الغباوة التي كانت متملكة على أكثر الذين كان يعلمهم وينذرهم وشدة إصرارهم على العصيان والفساد وعدم التوبة فلذلك لما رأى جماعة قليلة من فقراء بني إسرائيل رجالا ونساء مشتاقين لإستماع تعاليمه وقبول بشارة الخلاص ، تهلل بالروح وقال أحمدك أيها الآب أن هذا لا يدل على مجرد شكر على إحسان تشكر محسن إليه للمحسن بل أعلن السيد المسيح الرضى بالمشورة المحتومة فكأنه قال لأبيه حسناً فعلت قال الرب يسوع مخاطباً الآب لأنك أخفيت هذا عن الحكماء والفهماء وأعلنتها للأطفال (لو ١٠: ٢١).</p>
<p>أعلن الرب يسوع عملين من أعمال الآب . الأول إجراء العدل في حجب نور المحن عن الذين غمضوا أعينهم ورفضوا الحق أبغضوه وأحتقرو ره والثاني إجراء العدل أيضاً في إيضاح الحق لبسطاء القلوب أيضاً في ايضاح الحق للذين يحبونهم وقد فتحوا قلوبهم بقبول في التعليم الإلهي . ويراد بذلك السبعون رسولاً حينما أمنوا به وبشروا بالإيمان وبشري الخلاص والمراد بالحكماء والفهماء أرباب الحكمة والفهم مثل الكتبة والفريسيين الذين كانوا حكماء في الأمور الدنيوية وظاهر الشريعة وظنوا أنهم كذلك في الروحيات وهم يجهلونها تماماً فأشتهروا بالحكمة عند أكثر الناس لكنهم ليس كذلك في عينى الله وكان يقصد بكلمة الأطفال الناس الجهلاء الذين أتوا إليه . حسبهم العلمانيين أنهم أطفلاً في الحكمة وحسبوهم فقراء وعميان لأن معرفة الإنسان لذاته والإعتراف بضعفه هما الخطوة الأولى التي نرقى إليها لمعرفة الروحيات المتعلقة بأمر خلاصنا وتلك في طريق الخلاص والطهارة والطاعة لأن التواضع والطاعة هما أول سلمة للخلاص . أظهر الرب يسوع مسرته بمقاصد الأب وأعماله وأوضح أنها عادلة ومقدسة وصالحة لأنه هكذا دبر لنا الأب الخلاص يموت إبنه على الصليب<a href="#_ftn13" name="_ftnref13">[13]</a></p>
<h4>المتنيحه المؤرخة ايريس حبيب المصري: كلنا جنود للكنيسة</h4>
<p>من أجل المعتقدات التي تنادي بها كنيستنا وأسماها ذلك الاعتقاد القائل بأن الكنيسة المجاهدة المنظورة إنما هي جزء مكمل للكنيسة المنتصرة غير المنظورة . وجمال هذا المعتقد هو ما يوحيه إلي الأحياء من قوة ، ذلك إننا حين نقرأ عن أنبا اثناسيوس الرسولي وعن جهاده وعن ثباته ، وحين نقرأ عن أنبا انطونيوس وعن شدة تقشفه وكيف كان يقسو علي نفسه ويدربها ولا يغتر بما يحوز من نجاح بل يندفع دوماً صوب آفاق بعيدة ، وحين نقرأ عن اوريجانوس الشاب وكيف كان يخدم المسجونين معرضاً نفسه للعذاب ، بل حين نقرأ عن الجموع العديدة التي لا يذكر التاريخ أسماءهم ويروي فقط أنهم عذبوا وأهينوا واستشهدوا في سبيل عقيدتهم ، حين نقرأ عن كل هؤلاء الأبطال المعروفين والمجهولين يصيبنا شيء من الضعف والتخاذل إذ نشعر بعظم الفرق بين يقظتهم وشجاعتهم وبين خمولنا، ولكن قبل أن يطغي علينا اليأس ويقعدنا الشعور بالعجز يلمع أمامنا ذلك المعتقد وينير لنا السبيل فنستجمع قوانا ونذكر أنفسنا بأننا إنما نقف جنبا إلي جنب مع أولئك المجاهدين الذين سبقونا وإننا حلقات لسلسلة واحدة ، بل اننا جميعا جنود لكنيسة واحدة ، وما دمنا كذلك فما علي كل منا إلا أن يؤدي واجبه . وليس من الضروري أن يكون هذا الواجب عظيماً- بل يكفي أن يكون الواجب اليومي البسيط . لأن السيد له المجد حين اختار تلاميذه اختارهم مختلفين : اختار سمعان بطرس المتسرع المندفع الذي لا يتروي حين يقبل علي عمل أو يتفوه بكلمة ، واختار يعقوب أخاه ذلك الرجل الرزين الهاديء الذي يزن الأمور بحكمته والذي كان أول شهيد في سبيل الايمان ، كما اختار يوحنا اللاهوتي الوديع المحب الذي نراه يردد كلمات المحبة ويكررها في كل ما يكتب وإلي جانبه اختار متي العشار الذي ليس من شك في أنه حين كان عشاراً لم يكن ليتراجع عن الاستيلاء علي أموال الغير وعلي بيوتهم وتركهم بلا مأوي ولا طعام لا لشيء إلا ليأخذ منهم أضعاف الجزية فيملأ جيبه من مال القسوة والتجبر . ثم بعد العصر الرسولي وخلال الأجيال المتعاقبة نجد أن الذين يتبعونه يختلفون في النشأة والرأي ووجهة النظر ولكن تجمعهم صلة واحدة هي صلةالمحبة للمسيح . وهكذا نجد أن ديمتريوس الكرام الذي يقال عنه إنه كان أمياً يقف إلي جانب الأبطال الذين اشتهروا بعلمهم أمثال اكليمندس الاسكندري وكيرلس الكبير ، ونجد بين رهبان الصحراء قديسا هو أباآمون اشتهر بدعته وعظم تواضعه إلي جانب أنبا شنودة الذي كان شديداً في حكمه علي الغير عنيفاً في لومه اياهم . فسيدنا إذن يريدنا جميعا- يريد الغني والفقير والضعيف والعالم والجاهل - لأن لكل مكانه ولكل عمله في بناء الكنيسة فنحن قد لا يكون في مقدورنا أن نرفع النفس إلي شاهق العلو بسحر الأنغام الموسيقية الخلابة ، وقد لا نستطيع أن نقيس الأبعاد الشاسعة كعلماء الفلك ، وقد لا يمكننا أن نثير الجماهير بكلمة واحدة كمن وهبوا سحر البيان ولا أن نهز أوتار القلوب كالشعراء ، وربما لن نقدر أن نضيف إلي مافي عالم الروحيات من جمال وروعة كما فعل القديسون وآباء الكنيسة . أولئك الذين بجهادهم وسعيهم رفعوا الانسانية قليلا قليلا وتقدموا بها خطوة خطوة حتي سمت علي الحيوان وشابهت الملائكة. ولكن الذي نستطيعه ( ويستطيعه أصغر مخلوق) هو أن نثابر علي استعمال ما وهبنا الله من وزنات وأن نعمل علي توسيع الفرص أمام غيرنا وأن نضيف نقطة واحدة إلي مجموع الجهود البشرية التي عليها يقام المثل الأعلي وبها يمكن الوصول اليه . وحين تمحي أسماؤنا ولا تبقي من أجسامنا ذرة فسيبقي كل جزء صغير مما أدينا من عمل وهذه الفكرة وحدها ترفعنا وتمكننا من التحليق فنجد معني جديداً لكل جهودنا مهما صغرت . وتتشدد نفوسنا فنستجمع قوانا للعمل ضد الظلم والشر ويسعي كل فرد منا أن يجعل زاوية صغيرة من زوايا العالم أكثر بهجة ورواء وأشهي ثمراً - وأن يشجع قلباً واحداً ويملأه قوة وبهجة وسروراً -فهذا جهاد الهي .</p>
<p>وإن كل خطوة خطتها البشرية إلي الأمام إنما كانت بفضل من رضوا بأن يجعلوا من نفوسهم درجات يصعد عليها الآخرون لأنهم أدركوا بأن الظلم والاستبداد لا سلطة لهما علي القوي الروحية - فالمستبد يستطيع أن يفتك بشخص بل وبأشخاص لا عدد لهم ولكنه لن يستطيع أن يخنق المثل العليا ولا أن يكبت المباديء . فان أدركنا هذه الحقيقة وعرفنا أن كلا منا عليه أن يتخذ موقفه في الصراع القائم بين الخير والشر ، وبين النور والظلمة ، وبين البناء والهدم - إن عرفنا هذا تقدمنا نحو صفوف النور وانضممنا إلي البانين من غير تردد ولا تراجع عالمين أن الخاطيء كما قال أنبا موسي الأسود هو من يحمل ذنب نفسه فقط من غير أن يرضي يحمل أخطاء غيره .</p>
<p>إننا لو تأملنا هذه الحقائق وأدركناها تمام الإدراك علي ضوء شهدائنا وقديسينا فعند ذاك سيبزغ علينا فجر جديد نري فيه أن النمو والخدمة والايثار هي الدرجات التي يجب علي الإنسان الذي هو روح من روح الله أن يصعدها . فجر نري فيه كيف أن الناس خلال أخطائهم وضعفهم وفشلهم -بل حتي خلال خيانتهم للقبس الإلهي الذي بداخلهم يسعون أبداً وعلي الرغم منهم صوب الكمال الروحي . وحينذاك يرن في آذاننا صوت الله أن &#8221; قوموا واعملوا&#8221; - لأن العمل الإلهي في هذا العالم لا يتم إلا بواسطة الأيدي البشرية . وحين نستمع لهذا النداء ونقدم علي الجهاد فحينذاك نصبح حقاً أولاد الله .</p>
<p>ولئن كان الجهاد معناه الألم فلنذكر أن الحياة هي المغامرة وهي دقة المشاعر وعمق الاحساسات - بل هي المقدرة علي مسح الدموع والعطف والمشاركة أو هي كما قال الرسول &#8221; من يعثر وانا لا ألتهب &#8221;</p>
<p>فهل يمكن بعد ذلك أن نستصغر أنفسنا ونستضعفها وندع التيار يجرفنا أم اننا سنذكر دائماً بان الواجب مهما عظم وسما فإن الأبطال الذين سبقونا وجاهدوا من أجلنا إنما هم آباؤنا وأمهاتنا وإن دمهم يجري في عروقنا ويهيب بنا أن نثبت ونجاهد ؟ إن واجبنا عظيم حقاً ولكن القوة التي في صفوفنا توازي هذا الواجب العظيم . وهذه القوة في متناول يدنا نلمسها كلما حضرنا القداس وكلما سمعنا لحناً من ألحان كنيستنا ، أو حين نري يقظة الأطفال في مدارسنا وتلهفهم وتطلعهم ، وحين يتصرفون تصرفاً ندهش له ولا نقدر إلا أن نرجعه الي تراثهم الذي يجري في دمائهم . وحين نستلهم هذه القوة علينا أن نردد صلاة أحد القديسين وهي :&#8221; اجعل يا الله حياتي شعاعاً من النور يلمع في ظلمات هذا العالم ، أجعلني شعلة من النار متقدة تضيء حينما ذهبت &#8221; فتشدد عزائمنا ونحيا بالجهاد - بل نستمتع به رغم ما فيه مشاق<a href="#_ftn14" name="_ftnref14">[14]</a> .</p>
<h4>الانسان التائب يستعمل أسلحة النصرة ضد الخطية للمتنيح القمص يوسف أسعد</h4>
<p>طبيعة صراع التائب مع الشيطان حينما تلتقى نعمة الله مع التائب، وتقوده إلى التوبة الصادقة في محضر الله والكنيسة والناس.. فإنه يخرج من قبالة الله مع كل ضعفة من ضعفاته بكل القوة الكائنة في الله المحب الذي وعد أن «يعطي المعی قدرة، ولعديمالقوة يكثر شدة» (أش ٤٠: ٢٩) . إن الإنسان الذي نفر من الخطية وأقر بها يجد ذاته في محضر الله القوى الذي يقف معه في كل صراع ضد إبليس ويغلب أيضاً. ونشكر الله أنه إختار لنفسه لقب «الأسد الخارج من سبط يهوذا» (رؤ٥ :٥)، لأنه إن كان إبليس خصمنا «أسد زائر يجول ملتمساً من يفترسه» (١بط ٥ : ٨) فإلهنا في قوته أسد غالب بالنصرة يحامی عنا ويغلب بقوة.  ما أعظم ما إختبره مار بولس الرسول إذ قال «ولكن الرب وقف معی وقواني لكي تتم بي الكرازة ويسمع جميع الأمم فأنقذت من فم الأسد وسينقذني الرب من كل عمل رديء ويخلصني..» (٢ تى ٤ :١٧ ،١٨)</p>
<p>إن ملكوت الله الذي قال عنه الرب يسوع أنه «في داخلكم» يأتي إلى التائب الذي فرغ ذاته أمام الله والكنيسة، ليحل في داخله بقوة وشدة تؤازر» مؤازرة صادقة ضد عدو الخير.</p>
<p>مبارك هو الرب الذي أعطى تلاميذه الإثني عشر – كنواة للكنيسة كلها - «قوة وسلطاناً على جميع الشياطين» (لو ۱:۹).  هذه القوة والسلطان مازالت تنتظر التائب وهو يخرج من حجال الله والكنيسة تائباً.. لذلك تجده منشداً نشيد مار بولس الرسول: «فقال لي الرب: إن قوتي في الضعف تكمل» (۲ کو ۹:۱۲).</p>
<p>ياعزيزي إن قوة الرب وشدته التي تؤازرك في التوبة، مع إقتدارها في الخلاص والنصرة إلا أنها لا تمثل بالنسبة لك سهولة في الجهاد أو تقدم لك أرضية مفروشة نحو الملكوت. لأن إبليس ينتظرك بعد كل لحظة مقدسة تقضيها تائباً في محضر الله والكنيسة بمكائد وحيل كثيرة ومتنوعة، ولن يفتر في مهاجمتك مع أنك تحمل قوة الرب وشدته . وهذه المكائد لم ينجو منها تائب، ولم يخفيها قديس.. لأنها طبيعة في الشيطان أن يقاوم كل سبل الله المستقيمة في التائبين. ولكن هذه الطبيعة الشريرة بنعمة الله تذلل في الحياة التائبة. وإن كان في القديم قد أقام الله فرعون يطغي ويذل شعبه إلا أنه قال لفرعون: «أني لهذا بعينه أقمتك لكى أظهر فيك قوتی ولكي ينادي بإسمي في كل الأرض» (رو٩: ١٧، خر ٩: ١٦). فقوة الرب وشدته في التائب تذلل كل مكيدة وتظهر كل دنس يلقيه الشيطان بكامل قوته وأسلحته.</p>
<p>الإنسان الذي يقبل المعمودية حينما يرفع يديه ووجهه للغرب ويقول «أجحدك أيها الشيطان وكل عبادتك المرذولة وكل طرقك، وكل حيلك، وكل سلطانك، وكل جيشك، وكل بقية نفاقك» ثم يتجه للشرق وينادی الرب يسوع «أعترف لك أيها المسيح إلهي وكل نوامیسك المخلصة، وكل خدمتك المحيية، وكل أعمالك المعطية الحياة» .. ذلك المعمد تمتد هبات الخلاص في المعمودية ليبصر وهو تائب قوة الله التي تسنده، ومكايد إبليس التي تنتظره .. وفي ثقة الغالب بالمسيح يرفع يديه إلى فوق ويقول: «أحبك</p>
<p>يارب ياقوتی » (مز ۱:۱۸) «إسندني فأخلص» (مز ۱۱۹: ۱۱۷) .</p>
<p>والمكايد والحيل الكثيرة التي ينصبها الشيطان للتائب كفخاخ لإسقاطه تحت الخطية هي عدته في الصراع الروحي الدائر بينه وبين الرب يسوع في حياة التائب. وقد يستخدم في ذلك الرؤساء بما يحملون من سلطات، ويجرون مرؤوسيهم في خطايا كثيرة إما فردياً أو بالإشتراك معهم. لقد عمل الشيطان في «حنانيا وقيافا »وهما من رؤساء الكهنة وإستعمل سلطانهم الناموسی ليهيج الشعب الذي كان قد خرج كله وراء المخلص. وهو الذي عمل في نیرون طاغي روما لكي يضيء شوارعها بأجساد القديسين. وهو الذي عمل</p>
<p>في تراجان الإمبراطور وهو يصدر حكمه بطرح أغناطيوس حامل الإله للوحوش. وليس الرؤساء الذين يعطون إرادتهم للشيطان هم وحدهم الذين يستعملهم الشيطان ضد التائب، بل وأيضاً كل من له سلطان.. في التربية في داخل البيت، في التعليم، في العمل، في الكنيسة.. كل من له سلطان يسعی نحوه إبليس ليستخدمه ضد التائبين.</p>
<p>أليس هو الذي يعمل في الأم بسلطانها الأموي لکی تجبر إبنتها التائبة على اللبس غير المحتشم أو التزين بمساحيق أو أصباغ كثيرة ؟! أليس هو الذي يستخدم سلطان الأب ليجبر إبنه التائب على فض صومه والحفاظ على صحته ؟!!</p>
<p>إن الصراع الروحي الذي يقوم بين الله في التائب والشيطان الذي يعمل في أصحاب السلطات صراع مقدس يسند الله فيه التائب الصادق المحب له وللإنجيل. والله صاحب كل سلطان، حينما يسند التائب بسلطانه الإلهي يستخدم هذا السلطان لخير الناس وخلاصهم وليس لإرعابهم أو إخافتهم.. لذلك توصی أصحاب السلطات ألا يستعملوا سلطانهم إلا في النفع الروحي لمرؤوسيهم وسند كل ما يؤول إلى خلاصهم.</p>
<p>وفي بعض الحالات التي يرى فيها الشيطان تائب نامی بقوة، لم يقع تحت مكيدة من مكائده، يستخدم «جنود الشر الروحيين» في ممارسة الحرب ضده .. وقد يظهرون للتائب في صورة حسية مرئية تثير الرعب في قلبه، وتجبره على تغيير مساره.</p>
<p>فحينما رأي أيوب البار «رجل كامل ومستقيم يتقي الله ويحيد عن الشر» أنه لم يكن مثله في الأرض في ذلك الزمان، لم يستحي الشيطان أن يظهر بذاته أمام الله يطلب السماح لتجربته وإتعابه(أي١: ٨، ٩) وحينما رأى جهادات أنطونيوس وتصميمه على الوحدة والإنفراد للصلاة إتخذ أشكال حيات سامة ووحوش ضارية تدخل عليه مغارته لتثير من حوله الرعب. أما أنطونيوس فكانت قوة الله تظهر معه في مجرد رسمه للصليب فتتحول هذه الأشكال كلها إلى دخان!</p>
<p>ياعزيزي التائب، صراعك مع الشيطان طويل.. طويل، ومستمر إلى اليوم الذي تستريح فيه في أحضان المسيح.</p>
<p>على رأى أبا مقار عندما قال له عند الموت «خلصت يامقارة الآن» فكان رده «لم أخلص بعد» ولم يقل هذه العبارة إلا حينما وجد ذاته في أحضان الرب يسوع فقال «الآن فقط خلصت» .</p>
<p>هذا الصراع الطويل المرير مع الشيطان، لا ترهب فيه شيئاً ولاتتزعزع، پسندك مادمت تطلب سنده، ويحفظك ما دمت تحفظ ذاتك له، ويمنحك قوة بعد قوة مادمت تعرف أنها« من قوة يمنحها الله» (١ بط ٤ :١٠).</p>
<p>نعم يارب « طوبى لأناس عزهم بك. طرق بيتك في قلوبهم. عابرين في وادي البكاء يصيرونه ينبوعاً . أيضاً ببركات يغطون مورة. يذهبون من قوة إلى قوة. يرون قدام الله في صهيون» (مز٨٤: ٥-٧) .</p>
<p>والقوة التي يمنحك الله إياها في صراعك مع الشيطان قوة غير منظورة لكنها محسوسة فيما ترکه لك من أسلحة النصرة تحملها على عنقك، وتلبسها كل أيام حياتك ..</p>
<p>ما هي هذه الأسلحة ؟ هذا السؤال يقودنا إلى نقطة أخرى..</p>
<p>سلاح الله الكامل</p>
<p>الله في محبته للتائب لا يمكن أن يتركه وحيداً في مجال الصراع مع الشيطان. لكنه بقوة وإقتدار يعمل من خلال أسلحة الكمال المسيحي ليسند التائب ويدعم جهاده .</p>
<p>والله « كامل» وفي كماله يمنح السلام الكامل القادر على النصرة ومتابعة الجهاد في كل موقع من مواقع الحرب المريرة التي يشنها الشيطان على التائبين .</p>
<p>وسلاح الله الكامل يعطی کهبة للتائب للمقاومة ضد إبليس، والمقاومة ضرورة لمن يتعرض للهجوم. ولكن كيف يقاوم التائب دون سلاح يحمله ؟!! والذي نلاحظه أن الله حتى في صراعه مع الشيطان لا يهاجمه، ولا يعطى أولاده التائبين أسلحة هجوم.. فهو لم يسعى إلى لقائه فوق جناح الهيكل، لكن الشيطان كشرير هو الذي بدأ الهجوم والتجربة، وحينما بدأ قاوم وانتصر..</p>
<p>ياعزيزي إن أسلحة الكمال المسيحي لا تستعمل في الهجوم على الشيطان، ولا ينبغي إستخدامها لذلك. فالتائب الذي يشعر بضعفه كيف يهاجم الشيطان ؟! لذلك كان أبا أنطونيوس حينما تحاربه الشياطين يقول لهم « أني أصغر عن أن أقاتل أصغر أصاغرکم! » وكان بهذا وحده يغلب.</p>
<p>لهذا يقول الإنجيل «قاوموا إبليس فيهرب منكم» (یع ٤ :٧). وحمل السلاح الكامل يعطى القدرة على المقاومة في اليوم الشرير الذي يسلط الشيطان فيه شره على التائب.</p>
<p>وإن كان سلاح الله الكامل يوهب للمقاومة، فهو نعمة لثبات التائب غير متزعزع بل مكثر في فعل التوبة. والثبات في المسيح هبة يقبلها التائب الذي يحمل السلاح ويتمم كل مقتضیات حمله على أكمل وجه.. فالجندي الذي يحمل السلاح ولا يستخدم طلقاته كيف يثبت أمام عدو مقاتل يقذفه بوابل من النيران ؟!</p>
<p>وثباتك ياعزيزي التائب هو في إستخدامك السلاح الكامل لله إستخداماً صحيحاً كل أيام حياتك .</p>
<p>كيف يكون هذا الإستخدام صحيحاً؟ هذا ما نود أن تكشفه نعمة الله لك ولضعفی الآن.</p>
<p>( ١ ) سر القربان المقدس :</p>
<p>في اليوم الأخير من حياة الرب يسوع بالجسد على الأرض، جمع تلاميذه حوله في العلية وسلم الكنيسة سراً من أسرار الثبات فيه ..إذ « أخذ يسوع خبزاً وبارك وأعطاهم وقال خذوا كلوا هذا هو جسدي. ثم أخذ الكأس وشكر وأعطاهم فشربوا منها كلهم وقال لهم هذا هو دمي الذي للعهد الجديد الذي يسفك من أجل كثيرين » (مر ١٤: ٢٢، ٢٣)</p>
<p>وهو الذي سبق فقال لهم على مرأى من اليهود: « الحق الحق أقول لكم إن لم تأكلوا جسد إبن الإنسان وتشربوا دمه فليست لكم حياة فيکم. من يأكل جسدى ويشرب دمي فله حياة أبدية وأنا أقيمه فى اليوم الأخير. . جسدي مأكل حقیقی ودمی مشرب حقیقی، من يأكل جسدى ويشرب دمي يثبت في وأنا فيه» (يو ٦ :٥٣_ ٥٦).</p>
<p>هذا السلاح المقدس للثبات يلبسه التائب بلهفة وشوق مثل شوق الجندي إلى طعامه وهو في حلبة الميدان .</p>
<p>والتائب يسرع إلى المذبح يلتف حوله ويسجد في خشوع ينادي المسيح في سر القربان وهو يذكر أثر المسامير في يديه والحربة في جنبه « ياجراح المسيح إجرحيني بحربة الحب الإلهي. يا موت المسيح أسكرني بحب من مات من أجلی».</p>
<p>وحينما يرتشف من كأس الحياة قطرة ينادی «یا دم المسيح طهرنی من كل خطية .. يايسوع حبيبي إذا رأيتني عضواً يابساً رطبني بزيت نعمتك وثبتني فيك غصناً حياً أيها الكرمة الحقيقية »</p>
<p>.إن التائب في مذاقه الروحي لسر القربان المقدس يستطعم مذاقة النصرة التي صنعها الرب يسوع فوق الجلجثة. فيتقدم إليه في كل وقت مناسب يلق في مذاقة النعمة وحلاوة حب المخلص أن تثبته وهو واقف في صراعه مع الشيطان .</p>
<p>والتناول من جسد الرب ودمه الأقدسين دواء يتعاطاه التائب لكي في ذبيحة الرب يكمل نقائص جهاده وضعفاته، كما ينال القوة الخفية التي تشعل في قلبه شوق الأبدية ولذة الجهاد ضد الخطية. والدواء إستحقاق للمريض الذي يشعر بمرضه ويطلب الشفاء.</p>
<p>لذا جعلت الكنيسة هذا السر متمماً لسر الإعتراف، إذ بعد أن يقدم التائب إعترافه لله وللكنيسة تلزمه بضرورة التناول للثبات في المسيح. بل وتحذره أيضاً في قانون کنسی  «الذي يمتنع عن التناول أربعين يوماً يحرم نفسه بنفسه من الكنيسة » !</p>
<p>ومن خلال صلوات الليتورجيا التي يتقدس أثناءها القربان يشاور التائب الله في كل محارباته، ويطرح ضعفه أمام لاهوته الكامل على المذبح.. مستعيناً بشفاعات الكنيسة المنتصرة من أرواح القديسين الذين نلاقيهم خلال الليتورجيا روحياً ، وطلبات الكنيسة المجاهدة وعلى رأسها الشفيع الخادم لسر القربان .</p>
<p>یاعزیزی التائب لا تهمل دعوة تثبيت جهادك بسر القربان. بل في لهفة قل له: «حتی یارب لو كنت مكسوراً في جهادي فإني بين يديك .. تستطيع أن تحول من إنكساري إشباعاً لنفسي ولجموع من التائبين مثلی، تماماً كما إنكسرت بين يديك الخمسة خبزات فحولت إنكسارها إلى إشباع لخمسة آلاف رجل عدا النساء والأولاد..</p>
<p>يا إلهي حتى ولو أني مكسور في جهادی، منهزم في صراعى مع الشيطان.. لكني أختار الإنطراح بين يديك وأنت قائم بملء لاهوتك فوق المذبح، لكي تحول إنكسارى إلى إشباع وتعزية لنفسي وإختباراً وبنياناً لكنيسة المجاهدين التائبين » ..</p>
<p>ومن خلال عشرة المذبح، وثبات سر القربان يستطيع التائب أن يقول في أوج الصراع مع الشيطان « ثابت قلبي يالله» (مز ٥٧: ٧، ١٠٨: ١). ويستطيع الذين من حوله أن يقولوا أن «قلبه ثابت متکلاً على الرب» (مز١١٢: ٧) الذي يحل في أحشائه فيمتزج کل کیانه بنصرته .</p>
<p>(۲) سر الصلاة :</p>
<p>لم نرى أبلغ تعليم أعطاه الرب يسوع لنا، وهو يجتاز صراعنا مع الشيطان « مجرب في كل شيء مثلنا بلا خطية» (عب ٤ : ١٥)، وهو يرى كأس إثم العالم كله ماثل قدامه ليتجرعه إلا أنه إنفصل عن تلاميذه « نحو رمية حجر وجثا على ركبتيه وصلی » ( لو ۲۲ :٤١ ) .</p>
<p>فلم يكن وهو إله يحتاج لصلاة، لكنه رسم أمامنا فى جهاده مع الشيطان أن نصلي، وقال عن الشيطان « هذا الجنس لا يخرج بشيء إلا بالصلاة والصوم»  (مت ۱۷ :۲۱، مر ۲۹:۹).</p>
<p>ولا يوجد شيء يقاومه الشيطان في حياة التائب مثل مقاومته للصلاة والتحلل من ارتباطاتها بشتى الأعذار والحجج المنطقية .</p>
<p>لكن التائب يقف يصلي لأنه يعلم أن الصلاة هي الوقوف قبال الله وشكوي النفس والخطية أمامه.. وهي سند سماوی ضد جنود الشر</p>
<p>الروحيين.. لقد ظهر ليسوع وهو يصلي (ملاك من السماء يقويه) (لو٢٢: ٤٢)، ولم يكن وهو الله القوى في حاجة إلى قوة ملاك.. لأن الملاك يستمد قوته من الله .. بل ليظهر للتائبين أن الصلاة يعقبها مؤزارة من السماء وقوة تسند في الجهاد.</p>
<p>لهذا يسرع التائب نحو الصلاة، وبيت الله بيت الصلاة .. کالأيل العطشي الذى إذ يرى الماء يجري.. ويحترم كل ميعاد للصلاة يرتبه لنفسه، أو ترتبه الكنيسة للمؤمنين، إحترام أجل وأقدس من إحترامه لمواعيده مع العظام من الناس.</p>
<p>والتائب لا يبحث عما يصليه لأنه يصلي «بكل صلاة وطلبة» محفوظة أو مقروءة أو ملحنة أو مرتجلة.. إن كل صلاة عنده يستطيع أن ينفذ منها ليحدث الله عن ضعفاته.</p>
<p>فهو لا يعرف نوعاً من الصلاة.. بل يتعلم في مخدعه صلوات المزامير،وصلوات التسبحة اليومية، وصلوات إرتجالية.. إنه يعرفها جميعاً ويستخدمها كلها لأن في كل منها فرصة لقاء مع قائد جيش الخلاص في الصراع مع الشيطان .</p>
<p>والتائب في إستعماله كل صلاة وطلبة لا يشعر بملل أو تعب لأنها تحوى عنصر التجديد الذي يشبع حاجة الإنسان دائما للجديد.. وهو لذلك يصلي« كل وقت في الروح ».. قلبه وذهنه منشغلان بالصلاة كتعبير عن حبه لله الذي يقاتل عنه..</p>
<p>ولا يجد في المناسبات الكنسية فرصة التهريج أو كما يقال الفرفشة لأنه في كل مناسبة يصلي بالروح، ويقتل ذكريات المناسبات في فهم روحی، ورفع قلبي لذاته أمام الله ..</p>
<p>والتائب وهو يرى في الليل خير صدیق، يحوله إلى نهار بالسهر واليقظة&#8230; فيجد فيه مشابهة للرب يسوع الذي كان يقضي « الليل كله في الصلاة » (لو ٦ : ١٢). فيرتب لنفسه ليال للصلاة إما فردياً أو بمصاحبة تائبون آخرون، يجدون في هدوء الليل وسكونه وضوح صوت الله المعلن للمجاهدين .</p>
<p>« أصلي بالروح وبالذهن أيضاً أرتل بالروح وأرتل بالذهن أيضاً »  (١کو ١٥:١٤).</p>
<p>لقد كان يسوع يقول لتلاميذه دائماً « لماذا أنتم نيام، قوموا وصلوا لئلاتدخلوا في تجربة» (لو ٢٢: ٤٦) .</p>
<p>والكنيسة إذ تسمع هذا النداء دوماً، ترتب لأولادها تداريب سهر جماعية تعودهم فيها على سهر الليل للصلاة.. مثل أوقات شهر كيهك وليلة أبو غلمسيس.. وكأنها تنادي بالإنجيل في صمت التدريب « واظبوا على الصلاة ساهرين فيها» (کو ٤ :۲) .</p>
<p>والتائب، الذي عرف قوة هذا السلاح، يواظب على الصلاة مواظبة دورية، مهما كانت حالته &#8230; في المرض والصحة، في الضعف والقوة، في الفرح والحزن، في التعزية والفتور، في التركيز والتشتيت.. في كل حال يصلی، لا لطلب تعزيات الصلاة فقط بل لحبه للوقوف بين يدي من أحبه، وكالطفل الذي يقف بين يدي أبوه يتراءى قدام الله سنده ومعينه في التوبة سواء حصل على تعزية أم لم يحصل. إن التعزية ليست هدفه إنما هدفه هو قول إيليا النبي: «حي هو رب الجنود الذي أنا واقف قدامه».</p>
<p>والتائب الذي يسلم ذاته للنعمة في إستخدام سلاح الصلاة يعطيه الرب فيضاً من التعزيات والمواهب، لا تعتمد على إستحقاقه الخاص بقدر ما تعبرعن محبة المسيح للخطاة التائبين ..</p>
<p>ومن أمثلة ذلك هبة الدموع التي صارت كينبوع من عيني المرأة الخاطئة وهي تمارس التوبة عند قدمی يسوع حتى إستدعى الأمر منها أن تنشف قدمی يسوع بشعر رأسها .</p>
<p>وهي الهبة التي صنعت أخاديد واضحة على وجه أبا أرسانيوس معلم أولاد الملوك، وهي التي طلبها أرميا النبي بوفرة «ياليت رأسي ماء وعینی ينبوع دموع»..</p>
<p>وحينما لا يعطي التائب هبة الدموع يقول الله: إن حرمتنی من دموع عيني فأهلنی یارب أن أشتری دموع المساكين .</p>
<p>إذ يبحث التائب عن المكروبين والمذلين والمرضى والمسجونين يشحذ منهم دمعة تجد نصيبها في صلاة التائب.. فيقف ولجميع القديسين والمتعبين مكاناً في صلاته، يذكرهم كمن يذكر شرکاء له في التوبة والجهاد والمجد معاً &#8230; ويرى أن ذلك أبلغ تعبير لحب المسيح تجاههم.. ويكفي أن حب التائب للمتعبين والطلبة من أجلهم تثبته في جهاده وتحفظه في توبته « من يحب أخاه يثبت في النور» (١ يو ٢: ١٠).</p>
<p>والتائب حينما يصلي يستعمل السجود الروحي علامة شكر لله الذي يعينه ويسنده ، وعلامة تذلل عما إقترفه من إثم واجب الندم والمسكنة.. وكلما إزداد تذوقه لحلاوة التوبة كلما إزداد نموه في ممارسة السجود نوعاً وكماً بدون إفتعال أو تكلف.</p>
<p>(٣) سيف الروح</p>
<p>الذي هو «كلمة الله » (أف ٦: ١٧)، وهو ذات السلاح الذي إستخدمه سيدنا يسوع في صراعه مع الشيطان فوق الجبل. فلم تكن إجابات الرب يسوع عليه سوى فقرات من الناموس الذي أعطاه لموسى (تث ۳:۸، مت ٤: ٤)، (تث ٦، ١٦، مت ٤ :۷ ، تث ٦ : ١٣ ، مت ٤: ١٠).</p>
<p>وقد وضع الرب يسوع حفظ كلامه علامة لحبه، ووسيلة للثبات في معرفته « إن حفظتم وصایای تثبتون في محبتی» (يو ١٥ : ١٠).</p>
<p>إن التائب يلازم الكتاب المقدس، والكتاب المقدس يلازمه في كل مكان وكل زمان . لأنه يعرف أن كله « موحى به من الله» (۲ تی ٣ : ١٦) (۲بط ١: ٢١) ، وإنه حينما يلازم الكتاب يسير مع الله &#8230; والذي يسير مع الله يختبر ما إختبره أخنوخ البار الذي قيل عنه « ولم يوجد لأن الله نقله»  (تك ٥ : ٢٤).</p>
<p>ويفهم كلامه كما يفهمه تلميذی عمواس حينما كان يمشي معهم يسوع مفسراً إذ «إبتدأ من موسى ومن جميع الأنبياء يفسر لهما الأمور المختصة به في جميع الكتب» (لو ٢٤: ٢٧) .</p>
<p>والتائب يلازم الكتاب المقدس يومياً كغذاء تقوى به نفسه يدرس فيه ويأمل الله المحب في كل كلمة من كلماته حتی أسماء المدن وأسماء الأشخاص وأسماء الجبال يجد فيها لقاء صادق مع الرب يسوع.. وهو لذلك يحرص على ميعاد ثابت يومي، يكون فيه يقظ الذهن و صحیح البدن، ليسمع فيه تعزيات الله الكثيرة ..</p>
<p>والتائب مع شدة القتال وضرورة الصراع مع الشيطان ربما يجرح، فيجد في كتاب الله المقدس ما يعصب جرحه ويضمد کسره. «عند كثرة همومي في داخلی تعزياتك تلذذ نفسی» (مز ٩٤ :١٩) فيقول حتى في سقوطه «وجدت كلامك فأكلته، فكان كلامك لي للفرح ولبهجة قلبي» (أر ١٥: ١٦).</p>
<p>والتائب يجد في الكتاب المقدس المبادىء المستقيمة للحياة، والسبل الشريفة في الجهاد.. يأخذ منه روحاً تميز الغث من الثمين، ونوراً يستضيء به فکره وضميره « سراج لرجلي كلامك ونور لسبیلی » (مز ۱۱۹ :١٠٥).</p>
<p>« لأن كلمة الله حية وفعالة وأمضى من كل سیف ذی حدین وخارقة إلى مفرق النفس والروح والمفاصل والمخاخ ومميزة أفكار القلب ونیاته» (عب ٤: ١٢).</p>
<p>لذلك يستعمل هذا السيف ليقطع عنه كل المبادىء الغريبة والتعاليم الردية التي يبذرها الشيطان لضلال التائب. ويحس أن إستعماله في ظروف الحياة كلها سر للنجاح وطاقة للنصرة .</p>
<p>لهذا تجد التائب يجهد نفسه في فهم آيات الكتاب المقدس، ويباشر بنفسه بحوثاً ودراسات تهدف إلى تمكين روحه من إنطلاقها نحو الأبدية. وقد يقضي الليل والنهار في ذلك، فيقضيهما بمسرة وشغف. إنه يصنع مثل من طوبه داود النبي فقال «طوبی للرجل الذي في ناموس الرب مسرته، وفي ناموسه يلهج نهاراً وليلاً .. كل ما يصنعه ينجح» (مز ۱ : ١ ،۳).</p>
<p>وحتى إن سقط وعثر يرجع للكتاب فيجد فيه إصلاحاً لطريقه وعودة للنصرة «لا يبرح سفر الشريعة من فمك.. حينئذ تصلح طريقك وحينئذ تفلح » (يش ١ : ٨) .</p>
<p>التائب يحفظ كثرة من كلام الكتاب المقدس حفظاً غيبياً،  وفي كل أحاديثه يجتر ما قد حفظه من كلام الله .. ليس الحفظ لكلمات الكتاب فقط، بل ولروح الكتاب أيضا. فالتائب يأخذ من الكتاب يومياً آية أو أكثر تتلامس مع حاجته للتوبة ويمارسها ممارسة عملية طوال اليوم. يضعها نصب عينه طول النهار لكي تنطبق فيه كلمة الرب « الكلام الذي أنا أكلمكم به هو روح وحياة» (يو ٦٣:٦).</p>
<p>ولذا لا نعجب من أبا صرابمون حينما لاقاه شحاذ وطلب صدقة فلم يجد غير إنجيله بيده فأعطاه له يبيعه ويأخذ ثمنه صدقة، ولما مر به طالب آخر لم يجد غير ثوبه فخلعه وسار عرياناً. وإذ لاقاه تلميذه إندهش وقال له ما الذي عراك ياأبي ؟ أجاب أباصرابمون: الإنجيل ياولدي.. فقال تلميذه وأين هو؟ أجابه صرابمون: كان يقول لي إذهب بع كل ما لك وتعال إتبعني ؟!!</p>
<p>لذا سيقضي التائب عمره يجتر کلام الله ولا يشبع لأن في كل يوم سيجد میداناً جديداً لكلمة الله في حياته، حتى اليوم الذي تصبح كلمة الله ناطقة في كيانه وكلامه بل وفي صمته أيضاً. فيصبح التائب ذاته سيفاً يرهبه الشيطان، تنكسر به كل قتالاته الردية .</p>
<p>وكما أن التائب في سماعه أو قراءاته أو دراسته لكلمة الله يكون جزعاً وورعاً ومرتعداً «من كلامك جزع قلبی»  (مز ۱۱۹ :١٦١) نجده هو يتحول كحامل کلمة الله رعب للشيطان وذعر لمجمعه الرديء، لهذا يكتب ماريوحنا رسالته ويقول: «كتبت إليكم أيها الأحداث لأنكم أقوياء وكلمة الله ثابتة فيكم وقد غلبتم الشرير» (١ يو ٢:١٤).</p>
<p>إن أنبا أنطونيوس الذي سمع عبارة واحدة من الكتاب المقدس أثناء القداس الإلهي « إذهب بع كل مالك وتعال إتبعني» إذ حولها إلى حفظ حقیقی بمعيشته الرهبانية وإنفراده الصادق المتوحد صارت الشياطين تفزع منه وترهبه، حتى أن مجرد ذكر إسمه كان يخرج الشياطين من المرضى بالأرواح النجسة !..</p>
<p>(٤) منطقة الحق</p>
<p>إن سيف الروح الذي يحمله التائب في قتاله مع الشيطان لا يمكن حمله بسهولة ويسر إن لم يتمنطق التائب بمنطقة الحق.. لذلك قال ربنا يسوع لتلاميذه «لتكن أحقاؤكم ممنطقة&#8230;» (لو ۱۲ :٣٥) .</p>
<p>والمنطقة التي يحملها التائب تشد حقويه بالحق، «حق الإنجيل» (غل ٥:٢، ١٤) الذي رآه مار يوحنا الحبيب في شخص الرب يسوع فقال عنه أنه «متمنطقاً عند ثدييه بمنطقة من ذهب» (رؤ۱۳:۱).</p>
<p>فالتائب الذي تقابل مع الرب يسوع مقراً بأفعاله أمام الكنيسة يخرج من حجال الله ليقول: «حللت مسحي ومنطقتنى سروراً» (مز ۱۱:۳۰). لأن التوبة في حياته جعلت يسوع الممنطق بمنطقة ذهب علامة الملك، يملك على قلبه وأفكاره وسلوكه فيعلن حق الإنجيل كما هو .. إن التوبة في حياة التائب تعطيه إستنارة قلبية وفكرية لا حد لها وتعلن أن ابن الله قد جاء « وأعطانا بصيرة لنعرف الحق» (١ يو ٥ :٢٠) ، تجعله يعلن الحق في حياته أولا فيعيش كما يحق لإنجيل المسيح (في ١ : ٢٧).</p>
<p>فيكون التائب بحياته شاهداً للحق، لا يخشى أن يقول الحق مهما كان ثمن كلمة الحق .. فالمسيح الحق الذي فيه لا يمكن أن يكون مخبئاً تحت ستار مبررات واهية تستر الباطل في خداعه وضلاله.</p>
<p>لكنه حينما يقول الحق، يقوله كطبيب.. لا ليجرح ويشهر لكنه ليداوی ويصلح ويكسب أصدقاء جدد للحق. فالحق في التائب يعلن بالهدوء واللطف ..</p>
<p>وحينما يقول التائب الحق، أو يكتبه، أو يجريه بالقضاء بين الناس يستعد لإحتمال المتاعب والآلام التي يفرضها سلطان الباطل وكل أتباعه على التائبين المتمسكين بالحق..  إن لبس المنطقة في حياة التائب لا يكفي أن تكون موضوعة على عقوية بل أن تكون «مشدودة» ، فهو لا يلين في مباديء الحق مهما كلفه الأمر من مشقة. يظل متمسكاً بها حتى ولو دفع حياته ثمناً لأجلها. « ومن أضاع حياته من أجلي يجدها» .</p>
<p>إنه يحفظ الحق، ويعلنه في قوة لا تعرف الإستضعاف، إنها القوة التي تجعل المقاتل يقظا على الدوام مستعداً للقتال. إن التائب في صراعه مع الشيطان يصرخ صرخة الفدائيين في ميدان القتال الروحي يشهد بالحق « الإله الذي يمنطقني بالقوة ويصير طریقی کاملاً.. تمنطقني بقوة للقتال، تصرع تحتى القائمين علىّ» (مز ١٨: ٣٢، ٣٩) .</p>
<p>وإن كانت المنطقة الذهب التي تعبر عن تملك الرب يسوع لحياة التائب.. فإن المنطقة يمكن أن تكون من الجلد، مثلما كان يلبسها يوحنا المعمدان (مت ٣ :٤ ، مر ١: ٦) ، وهنا تعبر عن تمسك التائب بحق النسك في حياته ..</p>
<p>إن التائب يقبل على الأصوام العامة في الكنيسة، والخاصة المرتبة قانونياً لجهاده، ويتمسك بها في قوة لأنها تحمل له فرص صفاء النفس والذهن الكافية لإحقاق الحق في حياته ووسط العالم. « لذلك منطقوا أحقاء أذهانكم صاحين» (١بط:۱۳).</p>
<p>إنه في قوة المقاتل يأبي القنية، ويتحلل حتى من النحاس الواجب توفره في المنطقة.. لئلا يعطله في السعي ويشغله عن خلاص نفسه.. لعل لهذا قال ربنا للتلاميذ «لا تقتنوا ذهباً ولا فضة ولا نحاساً في مناطقكم» (مت ۹:۱۰، مر ٦ : ٨). وإن كانت له قنية ما يستعملها لمجرد الإستعمال وليس لحب الإقتناء والإكتناز.. «فأقول هذا أيها الأخوة: الوقت منذ الآن مقصر لكي يكون الذين لهم نساء كأن ليس لهم.</p>
<p>والذين يبكون كأنهم لا يبكون، والذين يفرحون كأنهم لا يفرحون، والذين يشترون كأنهم لا يملكون، والذين يستعملون هذا العالم كأنهم لا يستعملونه. لأن هيئة هذا العالم تزول. فأريد أن تكونوا بلا هم» (١ كو ۲۹:۷-۳۱) .</p>
<p>هناك نوع آخر من النسك يحتاجه التائب، هو نسك العفة التي بدأ في</p>
<p>منطقة الكتان النقي – رمز العفة – والتي رتب الله بنفسه أن يلبسها هرون الكاهن حينما يكهن ويقف أمامه (لا ٦: ١٤).</p>
<p>فالتائب الذي سلم زمام حياته للمسيح ليملك، ينعتق من أسر إبليس ويتحرر حرية كاملة تبدأ من داخله بحرية العفة التي يمثلها الكتان.. « تعرفون الحق، والحق يحرركم» (يو ۳۲:۸) .</p>
<p>إنه في المسيح يتمتع بحرية أولاد الله، الحرية الكاملة التي يقول معها « كل الأشياء تحل لی»، لكنه في تمنطقه بالكتان يمارس حرية العفة التي تعفف عما بدنس النفس والجسد فيتبع مفهوم الحرية الكاملة في نطاق البنوية الكاملة لله « كل الأشياء تحل لي، لكن ليست كل الأشياء توافق» (١ کو ٦: ١٢).</p>
<p>ولهذا فإن الحق الذي يمنح الحرية للتائب يمنحه أيضاً قوة لئلا تصبح الحرية سترة لممارسة الشر.. «فاثبتوا إذاً في الحرية التي قد حررنا المسيح بها ولا ترتبكوا أيضاً بنیر عبودية .. فإنكم إنما دعيتم للحرية أيها الأخوة ، غير أنه لا تصيروا الحرية فرصة للجسد» (غلا ٥ :۱ ، ١٣).</p>
<p>فالتائب يتمتع بحرية كاملة «كأحرار وليس كالذين الحرية عندهم سترةللشر بل کعبید الله » (١بط ٢: ١٦). ولذلك فهو يمقت كل وسيلة للنجاسة، ويتنازل عن كل صداقة تجره للدنس، ويعتبر ذلك ليس نوعاً من الكبت يعيشه بل هو حالة إنعتاق من الخطية وحرية كاملة للعفة التي أحبها الله ووشح التائب بها.</p>
<p>بذلك وحده يثبت التائب في جهاده، ويتأكد أنه سيقف دائما قبالة الله مسانداً بقوة نابعة من حب الله للعفة والأطهار.. «الطهارة التي بدونها لن يعاين أحد الرب» .</p>
<p>« هذه هي إرادة الله قداستكم: أن تمتنعوا عن الزنا، لأن الله لم يدعنا للنجاسة بل في القداسة» (تس ٤: ٣، ٧) .</p>
<p>«وأما أنتم فلم تتعلموا المسيح هكذا. إن كنتم قد سمعتموه وعلمتم فيه كما هو حق في يسوع أن تخلعوا من جهة التصرف السابق الإنسان العتيق الفاسد بحسب شهوات الغرور. وتتجددوا بروح ذهنكم وتلبسوا الإنسان الجديد المخلوق بحسب الله في البر وقداسة الحق» ( أف ٤: ٢٠_ ٢٣).</p>
<p>العفة في حياة التائب شعلة من الحب نحو الله، يستنير بها جهاد التائب، ويتقدس بها كأنها ذبيحة يمارس بها ذبح كل ميل بطال وكل صداقة معثرة، وكل قراءات دنسة.. ولا شك أن كل ذبح يمارس يرافقه الألم والوجع والتنهد، وألم العتق من النجاسة أي حرية العفة هو البخور المتصاعد من ذبيحة الحب التي يقربها التائب لله على مذبح قلبه وجسده .</p>
<p>والخلاصة ياعزیزی:</p>
<p>إن التائب الذي إلتقى بيسوع المتمنطق بالذهب، وجعله ملكاً على حياته، يملك زمام نفسه فيتمنطق بمنطقة النسك المقدس ليمارسه بحب الله وانعتاق من العبودية وحرية تعفف كل ما يدنس النفس والجسد.</p>
<p>(٥) حذاء الإستعداد</p>
<p>الإبن الضال عندما عاد إلى بيت أبيه، ورجع إلى التوبة جعل الأب «خاتماً في يده، وحذاء في رجليه» (لو١٥ : ٢٢) .</p>
<p>هذا الحذاء كان يعني بالنسبة للإبن التائب حالة من التأهب الدائب والإستعداد المستمر لتلبية كل مهام يكلفه بها الأب.</p>
<p>هذا ما جعل الرب يقول لبني إسرائيل وهم يستعدون لعبور البحر الأحمر في طقس خروف الفصح أن «تأكلونه وأحقاؤكم مشدودة وأحذيتكم في أرجلكم»  (حز ۱۱:۱۲) لكي عقب عشاء الفصح وضربة الملاك المهلك يحذون أرجلهم لعبور عظيم.</p>
<p>ولعل لهذا السبب نفسه يقول مار بولس « حاذين أرجلكم بإستعداد إنجيل السلام» (أف ٦: ١٥).</p>
<p>فالتائب تجده دائماً يذكر الخمس العذارى الحكيمات، إذ يشتاق أن يدخل في عرس الختن الحقيقي يستعد – مثلما إستعدت أولئك الحكيمات – إستعداداً يؤهله أن يدخل مع العريس في عرس حقیقی .</p>
<p>ولذا فالإستعداد عند التائب يحميه من عنصر المفاجأة التي تقود إلى هزيمة مرة لغير المستعدين. فهو يعلم أن أكثر الحروب الروحية يشنها عدو الخير على التائب معتمداً على هذا العنصر إذ يباغته بما لم يستعد له باطنياً فيسقطه بسهولة ويسر.</p>
<p>والتائب ينظر لفعل الشيطان ويضحك كما تضحك المرأة الفاضلة على الزمن الآتي (ام ٣١: ٢٥) لأنها سبق فأعدت حلل الشتاء قبل الثلج، وطعام الصباح أثناء الليل.</p>
<p>إنه يتعلم من النملة التي ليس لها قائد أو عريف أو متسلط لكنها « تعد في الصيف طعامها وتجمع في الحصاد أكلها» (أم ٦: ٦_٨) .</p>
<p>التائب، قبل كل عمل روحي أو إداري أو إجتماعي يعد نفسه إعداداً أميناً يحميه من مفاجآت الحروب والتكتلات والشقاقات التي يبذرها عدو الخير وسط النائمين غير المستعدين. وحينئذ يكون مستعداً أن يسمع صرخة كل مقاتل مثله، وأنين كل متعب نظيره، فإستعداده يؤهله أن يسمع لصراخ المساكين، ويكفف دموع العاثرین .</p>
<p>إن التائب مستعد لكل نداء إلهي ينطق في باطنه في يقظة مستعدة لأن تسمع وقع الأقدام من بعيد وحفيف الأشجار أثناء الليل.. إنه يقول دائما « تكلم يارب فإن عبدك سامع». تجده أيضًا مستعداً لمجاوبة كل من يسأله عن سبب الرجاء الذي فيه (١بط٣: ١٥)، مجاوبة اليقين والإختبار لا مجادلات العلم والفلسفة وقباحات المباحثات الردية.. يبحث ويدرس ويقرأ ويختبر، فإن أجاب يجيب عن عام وإختبار معاً.</p>
<p>الإستعداد لأنه يرى فيه تزكية له حينما يقف موقف الإتهام أو يطلب للدينونة .</p>
<p>وهو لذلك يرى الموت أمامه كل يوم، لا يرهبه.. بل ليذكره أنه في الحد الفاصل بين الغربة المتاح له أن يعمل فيها ويثمر قبل أن ينتقل إلى مكان الإستيطان. حيث هناك يرقد وأعماله تتبعه (رؤ ١٤: ١٣).</p>
<p>إنه يرى الموت أمام عينه على الدوام فحتى حينما ينام في الرب لا ينام نوم الموت، بل نوم الأحياء الذين يسمعون صوت الرب يسوع:  «ها أنا آتی سريعاً وأجرتی معی وسأجازی كل واحد كما يكون عمله » (رؤ٢٢: ١٢).</p>
<p>لذا قال الرب لتلاميذه: «کونوا أنتم أيضاً مستعدين لأنه في ساعة لا تظنون يأتي إبن الإنسان » (مت ٢٤: ٥٥، لو ١٢: ٤٠).</p>
<p>إنه لا يقول قول بطرس بإنفعال العاطفة « يارب إني مستعد أن أمضي معك حتى إلى السجن وإلى الموت» (لو ٢٢: ٣٣)، لكنه يحسب نفقة المضي معه، وحمل الصليب وراءه.. فيأتي في فهم المسئوليته وتحديد واضح لإرتباطاته يقف خلف السيد ويقول «لست أهلاً لأن أدعي رسولا» (١ کو ١٥ :۹) وقوتك يارب في ضعفي تكمل.</p>
<p>لذلك لا نستغرب أن بعض التائبين يضعون في مخادعهم جماجم أموات، أو صور لجماجم أموات، يزورون قبور الأموات ويجلسون عندها لا للنحيب العاطفي بل للإستعداد الباطني بالتوبة للحظة الموت .</p>
<p>والتائب الذي يقضي كل زمانه في حالة إستعداد، هو التائب الذى يستثمر المواهب الفياضة التي لوزنة العقل، والتي بها يدبر الإنسان خلاصه .</p>
<p>فالإستعداد بالنسبة للتائب يوفر عليه مشقة الإرتجال في الأمور وما يتبع ذلك من مشقة تصحيح أخطاء الإرتجال بكل ثقلها وأتعابها.</p>
<p>إن الإستعداد يجعل التائب يحدد طاقته بتعقل، ويحسب نفقة كل شيء، ويتصرف في كل الأمور على قدر طاقته.. إن التائب تجده «یرتیء إلى التعقل» (رو ۳:۱۲) في تدبير خلاصه وخلاص الذين من حوله «لکی يهيیء للرب شعباً مستعداً».</p>
<p>یا عزیزی التائب.. إنك أحد الجنود في جيش التائبين، لعلك واحد من أولئك الثلاثين ألفاً الجبابرة في البأس الذين أوصاهم يشوع حينما أرسلهم ليلاً لضرب عاى قائلاً «انظروا&#8230; وكونوا كلكم مستعدين» (یش ٨: ٤) .</p>
<p>إنه نداء للتائبين مهما كانت مواقعهم في الكنيسة. أن يكونوا كلهم مستعدين ..</p>
<p>يا إلهي أعطني أن أكون مستعداً ليوم الزفاف الإلهی، حتى إن نمت بالجسد تكون لي يقظة القلب المبصر..</p>
<p>(٦) ترس الإيمان</p>
<p>«الترس» أداة من أدوات الحرب، إستخدمت كأقدم أداة عرفها الإنسان في حروبه (راجع تك ١٥: ١ ، مز ٥: ١٢).</p>
<p>وأحياناً كان يصنع الترس بجملته من الذهب أو النحاس أو كان يغشی بطبقات سميكة منها (۱مل ١٤: ٢٦، ٢٧)، وكأنه يحفر عليها صور ونقوش مختلفة.</p>
<p>أما من جهة حمله فكان يحمل على الذراع اليسرى، وكان يعلق أحياناً في العنق. وكان سطحه محدباً لمنع الأسهم من خرقه، بينما كانت حوافيه ملبسة بصفائح من الحديد تمكيناً له ووقاية له من فعل الرطوبة إذا ألقي على الأرض. وفي زمن الحرب كانت نصف الأتراس في خط مستقیم لتكون حاجزاً عاماً.. وكانت خسارة الترس في ساحة الحرب عاراً عظيماً، ولا سيما عند الرومانيين الذين كانوا يعدون خسارته أكبر الجرائم الحربية حتى أن أمهات المقاتلين كن يشجعن أولادهن تأهبهم للحرب بإشارتهن إلى الترس وقولهن: « إما به، أو عليه» .</p>
<p>هذا الترس الحربي إستعاره مار بولس الرسول ليضع الإيمان عدة لازمة في جهاد التائبين فقال: «حاملين فوق الكل ترس الإيمان الذي به تقدرون أن تطفئوا جميع سهام الشرير الملتهبة» (أف ٦: ١٦).</p>
<p>إن الإيمان يحمل النصرة للتائب، فيراها حقيقة قائمة حتى وهو في أشد أوقات القتال ضراوة. فهو الذي يعطي التائب بصيرة روحية فيرى في زمان القحط سحابة الإيمان مقبلة حاملة أمطار من التعزيات تجعل غرس الرب في حياته .</p>
<p>وحينما يقولون للتائب ليس لك خلاص كفاك تعب، يقف قبالة الله ويقول: «أما أنت يارب فترس لی، مجدي ورافع رأسی» (مز ٣: ٣).</p>
<p>ويخرج من أمام الله يعيش في تصديق مطلق و کامل لوصايا الله التي تتحول في حياته كتائب إلى واقع معجزى يفوق ما طلبه أو إفتكر فيه.</p>
<p>والتصديق يعقبه طاعة، مثلما أعقب تصديق إبراهيم لله أنه أمسك السكين ليذبح وحيده.. والطاعة يمارسها التائب فتذلل أمامه حتى الطبائع المفترسة والشرسة.. «إن الطاعة والإتضاع تخضعان لنا الوحوش ».</p>
<p>والتائب في كل ممارساته الروحية لا يستخف بسذاجة منظرها الخارجي، بقدر ما يدرك القوة الخفية المذخرة في كل وسائط النعمة وأشباه الأسرار« کرسم الصليب » أو تناول لقمة الأولوجية.. فيقدم على ممارستها في وقار وطاعة إيمانية كاملة.</p>
<p>التائب يمارس بالإيمان تداريب روحية للتقوى «يدرب فيها ضميره لكی يكون بلا عثرة أمام الله والناس» (أع ٢٤: ١٦).</p>
<p>ويواظب على هذه التداريب بتدقيق وحرص شديدين.. ومع ذلك فهو لا يتكل على أحدها إنها تخلصه أو تؤهله للملكوت. لكنه يؤمن أنها بالإيمان تنقل معونة الله الرأسية إلى حركة أفقية دائبة النشاط في حياة التائب، فتصير هذه الممارسات الإيمانية أدوات بناءة لحياته وحياة الذين من حوله أيضا.</p>
<p>فالحرب بدون سلاح لا تصلح، والسلاح وحده بدون حرب، وبدون إنسان مدرب على إستعماله جيداً لا يمكن أن يجلب النصر&#8230;</p>
<p>إن الإيمان كعطية الله ترس لحفظ الإنسان ، التداريب كجهاد يتمركز حول النعمة يجعل النائب المدرب روحياً دائم النصرة في صراعاته مع الشيطان فيخرج بعد كل مواجهة مع الشيطان ووسط جمهور التائبين يترنم « طوباك يا إسرائيل. من مثلك يا شعباً منصوراً بالرب ترس عونك » (تث٣٣: ٢٩).</p>
<p>(۷) خوذة رجاء الخلاص</p>
<p>الخوذة كانت إحدى القطع اللازمة للمقاتل في الحرب يضعها على رأسه، وكانت تصنع من الجلد أو النحاس كالتي وضعها داود على رأسه في قتال جليات (۱ صم ۱۷ : ۳۸)، وكانت تزين قمتها غالباً بعرف أو ریش .</p>
<p>وإذا تأملت الرأس على المقاتل في الحروب أدركت يقيناً أن الخوذة كانت أول سلاح دفاعي يحرص المقاتل على حمله.</p>
<p>وأخطر ما يتعرض له التائب أن يصيبه الشيطان بضربة يأس أو تشكك مريض.. تجعله يفقد رجاء خلاصه بالله، فيسقط في هوة عظيمة من اليأس لا نسمع بعدها قيام .</p>
<p>إن الرجاء الذي يضعه التائب أمام عينيه، هو عين الرجاء الذي نظره الزناة والعشارين وقساة القلوب فخلق منهم قديسين تائبين منتصرين . إنه يجعل التائب في ثقة أن الله قادر حتى على الإقامة من بين الأموات ويستطيع أن يبدأ معه من حيث استطاع الشيطان أو العالم أو شهوات الجسد أن تسقطه.</p>
<p>فإن كان الشيطان لديه قدرة السقوط، حتى يطرح أرضاً من كان في علو الفضيلة وسموها فكم بالأكثر تكون قدرة الله أن ترفع إلى الثقة والبنوة بمقدار أعلى وأسمى ممن كان عليه.</p>
<p>إن التائب مهما كانت سقطاته متكررة، وحياته يظن أن ليس فيها ثمر يثق بالرجاء أن الله يغير تغييراً كاملاً&#8230; ففي لجة سقوطه يتعلق بالرجاء كحبل قوی مدلی من السموات يعين الروح في ضعفها ويرفع التائب في ثبات فوق التجارب..</p>
<p>ياعزيزي التائب: حياتك في الجهاد ليست نصرة دائمة ولا سقوط دائم، بل في كل سقطة يجد التائب بذرة للنصرة ومع كل نصرة لا يظن نفسه أنه قائم بل يتوقع أن تأتيه السهام المسمومة من الكبرياء فيقول: «لا تشمتی بی ياعدوتي إذا سقطت أقوم» (می ٧: ٨).</p>
<p>والتائب بالرجاء يدرك يقيناً أنه لا يدان على سقطاته بقدر ما يدان على عدم توبته ورجائه بالخلاص.. لقد قال الرب: «إن لم تتوبوا فجميعكم كذلك تهلكون» (لو ١٤: ١_٥). فمهما حاول الشيطان إسقاطه أو سقط هو لضعفه يثابر ليقوم مسانداً برجاء الخلاص..</p>
<p>الرجاء هو الذي يجعل التائب ينظر إلى حطام نفسه وخطاياه كأنهاقشف فخاری بين يدي الله هشمها الشيطان وإرادته، لكنه واقع بين يدي فخاری عظیم قادر أن يعيد صياغتها من جديد، وببهاء جديد، لتكون آنية جديدة أجمل وأقوى وأعظم.</p>
<p>إن التائبين يضيئون بلمعان أبهى وأقوى، من أولئك الذين يظنوا أنهم لم يسقطوا.. والعشار والزانية واللص أقوى أمثلة لامعة في سماء التوبة .. والتائب مع أنه مدققاً، لكنه يمقت الدمدمة والرعب والخوف الذي يتملك على بعض المرضى من التائبين .</p>
<p>إنه يقطع على الشيطان الذي حاربه بلذات الجسد، الحرب الجديدة التي تحاول أن تفسد صورة الله أمامه « والمحبة تطرح الخوف إلى خارج» .</p>
<p>حينما يقاتل التائب بكثرة خطاياه، يذكر كثرة مراحم الله ويلقى عنه القلق الناشيء عن اليأس ليثبت في سلام الرجاء القادر أن يخلص بالتمام.</p>
<p>بعد هذا العرض عن ضرورة عمل التائب سلاح الله الكامل</p>
<p>أن نسمع صوتاً يقول: ليس لي أي سلاح منها</p>
<p>الجندي حينما يستدعي للجيش لا يرتبك في تجهيز السلاح أو في البحث عنه بل عليه أن يسلم ذاته لقيادة الجيش، وهناك يعطى السلاح الكامل ويدرب نفسه على إستعماله..</p>
<p>هكذا ياعزيزي التائب إن كنت تقول أنا مبتدىء وليس لى سلاح واحد مما ذكرت سابقاً فكيف أثبت في توبتي، أقول لك ماقاله بولس الرسول « من تجند قط بنفقة نفسه» (١ كو ۷:۹) فلابد أن تؤمن يا أخي أنك لست الصانع توبتك وحدك، فالله يشترك معك في تخليصك من خطاياك وفي رجوعك عن ضلالاتك.</p>
<p>الله يتوب، عندما أطلب توبتی :</p>
<p>سقط أفرايم وراء يربعام، وعبد العجل بدلاً من الله . وحينما فطن إلى ضلاله بدأ يیکی ويندم حتى قال الرب عنه «سمعاً سمعت أفرام ينتحب» (أر ۳۱: ۱۸). وعندما وجد أفرايم ذاته وحيداً في تدينه نادي الرب قائلاً: «توبني يارب فأتوب لأنك أنت الرب إلهي، لأن في نهاية سبيى ندمت وبعد تعلمى حزنت على أيام الخزي وأخضعت نفسي لك لأني قد تسلمت توبيخات وصرت معروفاً لی» (ع ۱۹). وحينما طلب أفرايم توبته بندم وحزن وخضوع لمعرفة الرب سمعنا الرب يقول: «أفرايم ابن عزیز لدىّ، لأني كلما تكلمت به أذكره بعد ذکراً، من أجل ذلك حنت أحشائي إليه. رحمة أرحمه يقول الرب»  (أر ۲۰:۳۱).</p>
<p>ياعزيزي التائب.. الله الحنون أب الخليقة كلها لا ينتظر منك سوى إرادة التوبة، وحينما تريد أنت التوبة ستجده يقف بجوارك كما وقف بجوار مريم ومرثا وسيقف بجوار قبر خطاياك يشير إليك إشارات باطنية أو علنية برفع الغطاء.. وحينما ترفع الغطاء بعجل ستجده يكمل توبتك بأسلوبه الإلهي الخارق للطبيعة ويخلصك مما ظننت أنك غير قادر عليه.</p>
<p>حينئذ تمسك به شخصياً، فهو الذي يمنحك السلاح ويدربك على إستعماله حتى تنتصر في كل قتال..</p>
<p>كما تمسك به داود النبي في حربه مع جلیات، تمسك أنت به وآمن أن النصرة من عند الرب. لكن مثلما صنع داود إصنع أنت : تقدم لصفوف التائبين، وانتخب الحجارة، وضع أحدها في المقلاع، وسدد الحجارة بمهارة ..</p>
<p>إصنع كل ما عليك أن تصنعه، وحينما تصل إلى ذلك ستكون كالعبد البطال الذي لا يرجع فضل القوة في القتال لنفسه أو لممارساته إنما لله الذي يعمل معك ويتوبك<a href="#_ftn15" name="_ftnref15">[15]</a></p>
<h3>من وحي قراءات اليوم</h3>
<p>&#8221; لأن ليس أحدٌ وهو يتجند يرتبك بأمور هذه الحياة لكي يُرضي من جنده &#8221;           البولس</p>
<p>الإيمان بالخدمة أم إنتظار المكافأة ؟</p>
<p>+ ننتظر دائما من الله أن يكافئنا علي خدمتنا ، بينما يريد الله منا أكثر أن نؤمن بما نقوم به</p>
<p>+ إنتظار المكافأة يجعلنا ننزعج جداً من المقاومة والمُقاومين</p>
<p>+ الإيمان بهدف الخدمة وتحقيقها يفيض بالفرح علي الخدمة ذاتها رغم المقاومة</p>
<p>+ إنتظار المكافأة يربط مصيرنا بمن نخدم معهم ، أمَّا الإيمان بالخدمة يُكلَّل في النهاية بمجد المصير</p>
<p>+ إنتظار المكافأة يجعل المدح والذم الطاقة الإيجابية أو السلبية للعمل</p>
<p>+ بينما الإيمان بالخدمة يجعل المدح والذم وقفة بسيطة مع النفس للفحص لكن العين ثابتة علي الهدف</p>
<p>+ الإيمان بالخدمة يريدنا أن نعمل ونزرع لسنين قادمة حتي ولو لم نري الحصاد</p>
<p>+ وإنتظار المكافأة ينظر فقط للحصاد ولايبذل جهداً في زرع لايري حصاده</p>
<p>+ الإيمان بالخدمة يهدف إلي مجد الخدمة والمخدومين ، وإنتظار المكافأة لايري إلا مايُمجِّد الذات</p>
<p>لاتعاتب الله بعدم مكافئته خدمتك في بيتك وأولادك وصحتك ومادياتك ، ربما تكون مكافئته لك بالأكثر في مجد سماوي أعظم</p>
<hr />
<p><a href="#_ftnref1" name="_ftn1"></a>٢٧- القديس كيرلس الكبير - شرح مزمور ٢٧ - القمص تادرس يعقوب ملطي</p>
<p><a href="#_ftnref2" name="_ftn2"></a>٢٨- المرجع : تفسير سفر ملوك الأول ( الإصحاح الثالث عشر ) - القمص تادرس يعقوب ملطي</p>
<p><a href="#_ftnref3" name="_ftn3"></a>٢٩- المرجع : تفسير سفر ملوك الأول ( الإصحاح التاسع عشر ) - القمص تادرس يعقوب ملطي</p>
<p><a href="#_ftnref4" name="_ftn4"></a>٣٠- المرجع : تفسير رسالة كولوسي ( الإصحاح الأول ) - القمص تادرس يعقوب ملطي</p>
<p><a href="#_ftnref5" name="_ftn5"></a>٣١- المرجع : مجلة مدارس الاحد عدد يناير سنة ٨٨</p>
<p><a href="#_ftnref6" name="_ftn6"></a>٣٢- المرجع : كتاب الحقيقة والظلال للقديس يوحنا ذهبي الفم ( صفحة ٢٤ ) - ترجمة دكتور سعيد حكيم يعقوب</p>
<p><a href="#_ftnref7" name="_ftn7"></a>٣٣- المرجع : كتاب تفسير رسالة بولس الرسول الثانية إلي تيموثيئوس ( الموعظة الثامنة ) - عربتها عن الفرنسية الأستاذة سعاد سوريال - مؤسسة القديس أنطونيوس - مركز دراسات الآباء</p>
<p><a href="#_ftnref8" name="_ftn8"></a>٣٤- المرجع : تفسير سفر الحكمة ( الإصحاح السابع ) - القمص تادرس يعقوب ملطي</p>
<p><a href="#_ftnref9" name="_ftn9"></a>٣٥- (مترجمة بتصرف) القس تادرس يعقوب</p>
<p>المرجع : مجلة مدارس الأحد عدد شهر فبراير لسنة ١٩٦٧</p>
<p><a href="#_ftnref10" name="_ftn10"></a>٣٦-</p>
<p><a href="#_ftnref11" name="_ftn11"></a>٣٧- المرجع : كتاب من مجد الي مجد للقديس غريغوريوس النيسي ( صفحة ١٥٤ ، ١٦٠ ) - ترجمة القمص إشعياء ميخائيل</p>
<p><a href="#_ftnref12" name="_ftn12"></a>٣٨- المرجع : كتاب المنجلية القبطية الأرثوذكسية ( صفحة ١٤٩ ) - قداسة البابا تواضروس الثاني</p>
<p><a href="#_ftnref13" name="_ftn13"></a>٣٩- المرجع : كتاب تأملات وعناصر روحية في آحاد وأيام السنة التوتية ( الجزء الثاني  صفحة ١٦٣ ) - إعداد القمص تادرس البراموسي</p>
<p><a href="#_ftnref14" name="_ftn14"></a>٤٠- المرجع : مجلة مدارس الأحد عدد سبتمبر لسنة ١٩٤٨</p>
<p><a href="#_ftnref15" name="_ftn15"></a>٤١- المرجع : كتاب توبني يارب فأتوب صفحة ٦٣ - القمص يوسف أسعد</p>

      {% endcreateArticleAccordions %}
    </section>
  {% endblock %}
