---
layout: 'layouts/reading.html'
title: 'اليوم الثالث من أبيب'
tags: 'annual'
permalink: /articles/annual/11-3.html
---
  {% block content %}
    <section id="readings">
      <ul>
      {% if 'undefined' != 'undefined' %}
      
      {% else %}
      {% if '19.110:4,7' != 'null' %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">العشية</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeVespers '19.110:4,7' '40.16:13-19' %}
          </div>
        </div>
      </li>
      {% endif %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">باكر</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeMatins '19.73:23,24,28*@+19.9:14' '43.15:17-25' '' %}
          </div>
        </div>
      </li>
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <h3 class="flex items-center justify-between">
            <span class="kufi">القداس</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </h3>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeLitugy '47.4:5-18*@+47.5:1-11' '60.2:18-25*@+60.3:1-7' '44.20:17-38' '19.107:32,41,42' '43.10:1-16' %}
          </div>
        </div>
      </li>

      {% endif %}
        </ul>
    </section>
    <section id="article">
      <h3 class="mt-8 mb-4 heading-explain">شرح القراءات</h3>
      {% createArticleAccordions %}
        <p><strong>(تذكار نياحة الأنبا كيرلس الأول الكبير بابا الإسكندريّة )</strong></p>
<p>ويقف ويرعى بقدرة الرب، بعظمة اسم الرب إلهه، ويثبتون (ميخا ٥: ٤)</p>
<p>مفصلا كلمة الحق باستقامة، راعيا شعبك بطهارة وبر</p>
<p>أوشية الآباء</p>
<p>أنظر أن تنتمي إلى القلة المختارة، ولا تسلك ببرود متمثلًا بتراخي الكثيرين</p>
<p>عش كالقلَّة حتى تتأهل معهم للتمتع بالله، لأن كثيرين يدعون وقليلين يُنتخبون (مت ٢٠: ١٦)<a href="#_ftn1" name="_ftnref1">[1]</a></p>
<h3>شواهد القراءات</h3>
<p>(مز ١٠٩ : ٥ ، ٦ ، ٨) ، (مت ١٦ : ١٣ - ١٩) ، (مز ٧٢ : ١٧ ، ١٨ ، ٢١) ، (يو ١٥: ١٧ - ٢٥) ، (٢كو ٤ : ٥ - ٥ : ٥ - ١٤) (١بط ٢ : ١٨ - ٣ : ١ - ٧) ، (أع ٢٠ : ١٧ - ٣٨) ، (مز ١٠٦ : ٢٣ ، ٣١) ، (يو ١٠ : ١ - ١٦)</p>
<h3>ملاحظات على قراءات يوم ٣ أبيب</h3>
<p>+ تأتي قراءة إنجيل عشية لهذا اليوم (مت ١٦: ١٣ - ١٩) أيضاً في إنجيل قداس فيّ أيّام ١٦ توت ( تجديد كنيسة القيامة )،  ٩ هاتور ( تذكار إنعقاد مجمع نيقية ) ، ٢٩ هاتور ( تذكار الأنبا بطرس بابا الإسكندرية )</p>
<p>مع ملاحظة أن هذا الفصل الكتابي يأتي في إنجيل عشيّة وباكر والقدّاس ليوم تسعة وعشرين هاتور في تذكار شهادة أنبا بطرس بابا الإسكندرية لذلك يكون محور وسبب مجيئه إعلان القديس بطرس وشهادته للاهوت المسيح له المجد</p>
<p>بينما مجيئه في إنجيل القدَّاس ليوم سادس عشر توت ( تجديد كنيسة القيامة ) للتركيز علي أساس الكنيسة علي صخرة الإيمان ، ويأتي أيضاً في إنجيل القدَّاس ليوم تاسع هاتور ( تذكار مجمع نيقيه ) لإعلان جوهر الإيمان المسيحي لاهوت إبن الله ، ومجيئها يوم تاسع وعشرين هاتور ، وفي إنجيل عشيّة ليوم ثالث أبيب للإشارة إلي رسالة الرعاة وهي الجهاد لأجل هذا الإيمان المُسلَّمْ مرّة للقديسين ،وأيضاً للإشارة إلي سلطان الرعاة المُعطي لهم من الرب نفسه في الحل والربط</p>
<p>+ قراءة البولس اليوم (٢كو ٤ : ٥ - ٥ : ١ - ١٤) تُشبه قراءة البولس (٢كو ٤ : ٥ - ١٥) للأحد الثاني من بابه</p>
<p>مجيئها اليوم للإشارة إلي هدف الرعاية ( أضاء في قلوبنا نور معرفة مجد الله بوجه يسوع المسيح ) ، والإشارة إلي آلام الرعاية والخدمة ، بينما مجيئها في الأحد الثاني من بابه للإشارة إلي غني النعمة التي ننالها في وجه يسوع المسيح</p>
<p>+ قراءة الإبركسيس اليوم (أع ٢٠ : ١٧ - ٣٨) تكررت في قراءات يوم ١٧ هاتور</p>
<p>وهي القراءة التي تتكلّم عن حديث القديس بولس الوداعي مع قسوس أفسس والعظة التي تكلَّم فيها عن جوهر الرعاية وأساس خدمة الرعاة والتي أعلنها بحياته وخدمته وقدوته قبل كلماته لذلك تأتي هذه القراءة في تذكار نياحة القديس يوحنا ذهبي الفم ( ١٧ هاتور ) والبابا كيرلس السكندري ( ٣ أبيب )</p>
<p>+ قراءة إنجيل قداس هذا اليوم (يو ١٠ : ١ - ١٦) هي قراءة إنجيل قداس يوم ١٧ هاتور ( تذكار القديس يوحنا ذهبي الفم )</p>
<p>وهي القراءة التي تتكلم عن الراعي الصالح</p>
<p>تَمَاثُلْ إنجيل القدَّاس في القراءتين يحكي رعاية الله الفائقة للبشر والتي أُسْتِعلنت في الصليب ( يبذل نفسه عن خرافه ) ، ولكن مجئ قرائتين متشابهتين أحدهما لبطريرك القسطنطينية ( القديس يوحنا ذهبي الفم ) ، والأخري لبطريرك القسطنطينية ( القديس كيرلس الأسكندري ) رُبَّما يشير إلي رعاية الله الفائقة لشعبه من خلال كنيسته ورعاتها ( ١٧ هاتور - تذكار القديس يوحنا ذهبي الفم ) ، وأيضاً أمانة الرعاة ومسؤوليتهم في حفظ أمانة التعليم والرعاية ( ٣ أبيب - البابا كيرلس الأول عامود الدين ) ، كما يظهر هذا في إختيار مزمور القدَّاس في القراءتين ، فنجد مزمور الرعاية الإلهية (مز ٧٢ :١٧ ، ١٨ ، ٢٢) هو مزمور قدَّاس يوم ١٧ هاتور ، ومزمور الكنيسة والرعاة ( كنيسة شعبه ومجالس الشيوخ ) في مزمور قدَّاس يوم ٣ أبيب (مز ١٠٦ : ٢٣ ، ٣١)</p>
<p>لذلك يُمكننا القول بأن قراءات اليوم تسير في إتجاه المفهوم اللاهوتي والتعليمي لمعني الرعاية ، بينما قراءة يوم ١٧ هاتور تسير في الإتجاه الرعوي بالأكثر ( سواء في رعاية الله لكنيسته ورعاته أو رعايته من خلالهم ).</p>
<h4>القراءات المحولة علي هذا اليوم</h4>
<p>ثالث توت                   نياحة الأنبا ديونيسيوس بابا الإسكندرية البطريرك ١٤</p>
<p>سابع توت                   نياحة الأنبا ديسقورس بابا الإسكندرية البطريرك ٢٥</p>
<p>ثاني بابه                     مجئ الأنبا ساويرس بطريرك أنطاكية إلي مصر</p>
<p>حادي عشر بابه           نياحة الأنبا يعقوب بطريرك أنطاكية</p>
<p>سابع عشر بابه            نياحة القديس ديسقورس الثاني البطريرك ٣١</p>
<p>أول هاتور                   شهادة القديس كرياكوس أسقف أورشليم</p>
<p>ثالث عشر هاتور          نياحة القديس زخارياس بابا الإسكندرية البطريرك ٦٤</p>
<p>ثلاثون هاتور               نياحة القديس أكاكيوس بطريرك القسطنطينية</p>
<p>سادس كيهك              نياحة القديس إبرآم بابا الإسكندرية البطريرك ٦٢</p>
<p>ثاني طوبة                  نياحة البابا ثاؤناس بابا الإسكندرية البطريرك ١٦</p>
<p>ثامن طوبة                 نياحة القديس بنيامين بابا الإسكندرية البطريرك ٣٨</p>
<p>سابع أمشير                نياحة القديس ألكسندروس بابا الإسكندرية البطريرك ٤٣</p>
<p>ثاني وعشرون برمهات    نياحة القديس كيرلس أسقف أورشليم</p>
<p>ثالث برمودة             نياحة القديس ميخائيل بابا الإسكندرية البطريرك ٧١</p>
<p>ثاني عشر برمودة       نياحة القديس ألكسندروس أسقف أورشليم</p>
<p>سابع بشنس              نياحة القديس أثناسيوس الرسولي بابا الإسكندرية البطريرك ٢٠</p>
<p>ثلاثون بشنس           نياحة القديس ميخائيل بابا الإسكندرية البطريرك ٦٨</p>
<p>ثامن وعشرون بؤونة    نياحة القديس ثاؤذوسيوس بابا الإسكندرية ٣٣</p>
<p>ثامن عشر مسري      نياحة القديس ألكسندروس بطريرك القسطنطينية</p>
<h4>ملحوظة علي القراءات المُحوَّلة علي قراءة هذا اليوم</h4>
<p>تأتي تذكارات الآباء البطاركة لكنيستنا القبطية مع قراءة هذا اليوم ، بينما تأتي تذكارات الآباء البطاركة والأساقفة من كراسي آخري غير كرسي الإسكندرية من الآباء الذين إرتبطت سيرة حياتهم بالدفاع عن الإيمان ونقاوته أمام الهراطقة والملوك والولاة ( ثاني بابه ، وحادي عشر بابه ، وأول هاتور ، وثلاثين هاتور ، وثاني وعشرون برمهات ، وثاني عشر برمودة ، وثامن عشر مسري ) ، لذلك جاءت مع قراءة ٣ أبيب ( القديس كيرلس الأسكندري ) بينما لم تأتي مع قراءة يوم ١٧ هاتور ( تذكار القديس يوحنا ذهبي الفم ) لتركيزها علي الرعاية أكثر منه عن التعليم ونقاوة الإيمان.</p>
<h3>شرح القراءات</h3>
<p>هذا اليوم هو تذكار نياحة الأنبا كيرلس الأول الكبير بابا الإسكندريّة ومُحوّل علي هذا اليوم تذكارات تسع عشرة من الآباء البطاركة</p>
<p>قراءات هذا اليوم تتكلّم عن الرعاية مثلها مثل قراءات ١٧هاتور تذكار القديس يوحنا ذهبي الفم وإن كانت تختلف عنها في أن قراءات ٣ أبيب تتناول الجانب اللاهوتي للرعاية والشركة مع الثالوث والوحدة الجوهرية بين الآب والإبن بينما قراءات ١٧ هاتور تتناول الرعاية من منظور علاقة الراعي بالرعية</p>
<p>مزمور باكر والقدّاس في ١٧ هاتور هما نفس مزامير عشية وباكر في يوم ٣ أبيب كما أن الإبركسيس وإنجيل القدَّاس هما واحد في القراءتين</p>
<p></p>
<p>تبدأ المزامير بالراعي الأعظم (مزمور عشيّة ) وجوهر رعاية العهد الجديد ( مزمور باكر ) وإتّساع حظيرة الرعاية ( مزمور القدَّاس )</p>
<p></p>
<p>في مزمور عشيّة نري الراعي والكاهن الأعظم فهذه نبوّة عن الكلمة المُتجسّد كما يقول القديس كيرلس الكبير ( تفسير مزمور ١١٠ - أبونا تادرس يعقوب )</p>
<p>( حلف الرب ولم يندم أنك أنت هو الكاهن إلي الأبد علي طقس ملشيصاداق لذلك يرفع رأساً )</p>
<p>وفِي مزمور باكر عن جوهر الرعاية مبادرة الله أولاً واستجابة الإنسان لها</p>
<p>( أمسكت بيدي اليمني وبمشورتك هديتني وبالمجد قبلتني وأنا فخير لي الإلتصاق بالله وأن أجعل علي الرب إتكالي لأخبر بكل تسابيحك في أبواب إبنة صهيون )</p>
<p>وفِي مزمور القدَّاس نري حظيرة الرعاية لم تعد مقصورة علي اليهود لذلك يقول هنا مجالس الشيوخ كما يقول الأب أنسيمس الأورشليمي <a href="#_ftn2" name="_ftnref2">[2]</a></p>
<p>( فليرفعوه في كنيسة شعبه وليباركوه في مجلس الشيوخ جعل أبوة مثل الخراف يُبصر المستقيمون ويفرحون )</p>
<p></p>
<p>وفِي القراءات نري في الرعاية في العهد الجديد غني النعمة والمجد ( البولس ) وشركة الآلام وطريق الصليب ( الكاثوليكون ) والشهادة الحيّة بالتوبة ( الإبركسيس )</p>
<p></p>
<p>في البولس نري نور معرفة مجد الله في المسيح وظهور حياة يسوع في جسدنا المائت وفيض النعمة والشكر لمجد الله وعربون الروح</p>
<p>( لأن الله الذي قال أن يشرق نور من ظلمة هو الذي أضاء في قلوبنا نور معرفة مجد الله بوجه يسوع المسيح … حاملين في أجسادنا كلّ حين إماتة يسوع لكي تظهر حياة يسوع أيضاً في أجسادنا … عالمين أن الذي أقام الرب يسوع سيقيمنا نحن أيضاً مع يسوع ويوقفنا معكم لأن جميع الأشياء كانت من أجلكم لكي تكثر النعمة ويزداد الشكر من الكثيرين لمجد الله … ولكن الذي صنعنا لهذا عينه هو الله الذي أعطانا أيضاً  عربون الروح )</p>
<p>وفِي الكاثوليكون شركة الألم مع المسيح وطريق الصليب والنظر الدائم إلي رئيس الآلام فنري برُّنا وطبيب نفوسنا وراعينا</p>
<p>( لأن المسيح هو أيضاً تألَّم عنا تاركاً لنا مثالاً لكي نتبع خطواته الذي لم يخطئ ولم يوجد في فمه غش وكان يُشتم ولا يَشتمُ عوضاً وإذا تألَّم لم يغضب وأعطي الحكم للحاكم العادل الذي رفع خطايانا علي الخشبة بجسده لكي ما إذا متنا بالخطايا نحيا بالبرّ والذي شُفيتم بجراحاته لأنكم كنتم كمثل خراف ضالة لكنكم رجعتم الآن الي راعيكم وأسقف نفوسكم )</p>
<p>وفِي الإبركسيس عن الشهادة بالتوبة إلي الله والشهادة ببشارة نعمة الله والشهادة بكل مشورة الله وشهادة الروح بالشدائد التي تنتظر الرعاة</p>
<p>(أنتم تعلمون من أول يوم أتيت الي آسيا كيف كنت معكم .. شاهداً جهراً وفِي كلّ بيت لليهود واليونانيين بالتوبة إلي الله والإيمان الذي بربنا يسوع المسيح … غير أن الروح القدس يشهد لي في كل مدينة قائلاً إن وثقاً وشدائد تنتظرك ولكنني لست أحتسب لشى ولا نفسي مكرمة عندي حتي أتمم سعيي والخدمة التي أخذتها من الرب يسوع لأشهد ببشارة نعمة الله … مررت بينكم كارزاً بملكوت الله … لأني لم أتأخر أن أخبركم بكلّ مشيئة الله )</p>
<p></p>
<p>وفِي الأناجيل صخرة الرعاية هو الإيمان بابن الله (إنجيل عشيّة ) وعصب الرعاية هو المحبّة كمثال الآب والابن ( انجيل باكر ) وهدف الرعاية هو الشركة مع الثالوث ( انجيل القدَّاس )</p>
<p></p>
<p>يُعْلِن إنجيل عشيّة صخرة الرعاية الإيمان بالكلمة المُتجسِّد التي أعلنها الله الآب للقديس بطرس فإستحق مدح الرب له</p>
<p>( فأجاب سمعان بطرس وقال أنت هو المسيح إبن الله الحي فأجاب يسوع وقال له طوباك يا سمعان إبن يونا إن لحماً ودماً لم يُعْلِن لك هذا لكن أبي الذي في السموات وأنا أقول لك أيضاً أنت بطرس وعلي هذه الصخرة ابني بيعتي وأبواب الجحيم لن تقوي عليها )</p>
<p>ويُعْلِن انجيل باكر عَصّب الرعاية المحبّة كمثال محبة الابن للأب وهو مدخل الشركة مع الثالوث والطريق الوحيد لمعرفة الله</p>
<p>( بهذا أوصيتكم حتي تحبوا بعضكم بعضاً … وإن كانوا قد حفظوا كلامي فسيحفظون كلامكم لكنهم إنما يفعلون بكم هذا كله من أجل إسمي لأنهم لا يعرفون الذي أرسلني … الذي يبغضني يبغض أبي أيضاً … وأما الآن فقد رأوني وأبغضوني أنا وأبي )</p>
<p>وفِي إنجيل القدَّاس هدف الرعاية وهدف الراعي الصالح أن يقودنا إلي معرفة الآب كمثال معرفة الابن بالآب</p>
<p>( أنا هو باب الخراف إن دخل بي أحدٌ فيخلص ويدخل ويخرج ويجد مرعي … أما أنا فاني الراعي الصالح واعرف خاصتي وخاصتي تعرفني كما أن الآب يعرفني وأنا أعرف الآب أيضاً )</p>
<h3>ملخّص القراءات</h3>
<p>الراعي الأعظم وجوهر رعايته وإستعلان أبوّته               مزمور عشيّة وباكر والقدّاس</p>
<p>طريق الرعاية هو في إظهار النعمة الغنية وقبول الآلام مثله ودوام الشهادة له بالتوبة البولس والكاثوليكون والإبركسيس</p>
<p>أساس الرعية هو صخرة الإيمان بإبن الله وعصبها المحبّة وهدفها الشركة مع الثالوث. إنجيل عشيّة وباكر والقدّاس</p>
<h3>أفكار مقترحة للعظات</h3>
<h4>(١) تدبير الثالوث في الرعاية</h4>
<p>١- الإيمان بابن الله هو إعلان سماوي من الآب وهو صخرة الكنيسة والرعاية</p>
<p>&#8221; فأجاب سمعان بطرس وقال أنت هو المسيح ابن الله الحيِّ فأجاب يسوع وقال له طوباك يا سمعان إبن يونا إن لحماً ودماً لم يعلن لك هذا لكن أبي الذي في السموات وأنا أقول لك أيضا أنت بطرس وعلي هذه الصخرة أبني بيعتي .. &#8221;                                   إنجيل عشيّة</p>
<p>٢- المحبّة في الكنيسة كمثال العلاقة بين الآب والإبن ودليل صحة الإيمان ومرفوضة من منهج العالم</p>
<p>&#8221; بهذا أوصيتكم حتي تحبوا بعضكم بعضا &#8230; إن كانوا قد إضطهدوني فسيضطهدونكم &#8230; لأنهم لا يعرفون الذي أرسلني .. &#8221;                                                         إنجيل باكر</p>
<p>٣- الرعاية هدفها أن يُشْرِق نور معرفة مجد الله الآب في المسيح وتظهر حياة يسوع في أجسادنا ونقبل عطيّة الروح في قلوبنا</p>
<p>&#8221; لأن الله الذي قال ان يُشرق نور من ظلمة هو الذي أضاء في قلوبنا نور معرفة مجد الله بوجه يسوع المسيح .. لأننا نحن الأحياء نُسلَّم في كل حين للموت من أجل يسوع لكي تظهر حياة يسوع أيضاً في جسدنا المائت .. ولكن الذي صنعنا لهذا عينه هو الله الذي أعطانا أيضاً عربون الروح &#8221;                                                                                      البولس</p>
<p>٤- آلام المسيح هي مصدر شفاء البشر وأساس الرعاية الكهنوتية</p>
<p>&#8221; الذي رفع خطايانا علي الخشبة بجسده لكي ما إذا متنا بالخطايا نحيا بالبر والذي شُفيتم بجراحاته لأنكم كنتم كمثل خرافٍ ضالةٍ لكنكم رجعتم الآن إلي راعيكم وأسقف نفوسكم &#8221;                                                                 الكاثوليكون</p>
<p>٥- الروح القدس يُقيم الرعاة لكنيسة الله المفديَّة بدمه الطاهر</p>
<p>&#8221; إحترزوا إذاً لأنفسكم ولجميع الرعية التي أقامكم الروح القدس فيها أساقفة لترعوا كنيسة الله التي اقتناها بدمه بذاته &#8221;                                                                                                                       الإبركسيس</p>
<p>٦- غاية الرعاية أن تكون علاقة الراعي بالرعية كمثال العلاقة بين الآب والابن</p>
<p>&#8221; أما أنا فإني الراعي الصالح واعرف خاصتي وخاصتي تعرفني كما أن الآب يعرفني وأنا أعرف الآب أيضاً &#8221;                                                                                                                      إنجيل القدَّاس</p>
<h4>(٢) صفات الراعي   وغني الرعاية                                             إنجيل القدَّاس</h4>
<p>صفات الراعي</p>
<p>١- إن دخل بي أحد فيخلص ويدخل ويخرج ويجد مرعي</p>
<p>معني يجد مرعي في دخوله وخروجه :</p>
<p>في خلوته الخاصة من جانب وفي خدمته أو في حياته اليومية من جانب آخر يجد مرعي إلهي من تعزيات وبركات</p>
<p>في أفراحه من جانب وفي آلامه من جانب آخر يجد مرعي إلهي ويد الله العاملة معه وفيه في كل ظروف الحياة</p>
<p>في حياته علي الأرض( دخوله ) وفي ذهابه للسماء ( خروجه ) يجد مرعي بمعني أن يكون مثمراً في حياته علي الأرض وبعد إنتقاله للسماء ولعل هذا الذي قصده القديس بولس عندما قال أن المسيح يتعظم في جسده بحياة وبموت (في ١ : ٢٠) ، وعندما قال عن هابيل أنه وإن مات يتكلم بعد (عب ١١ : ٤) وهذا ما نراه حالياً في خدمة آبائنا القديسين مع أولاد الله رغم مرور مئات السنين علي نياحتهم أو إستشهادهم</p>
<p>٢- أتيت لتكون لهم حياة وليكون لكم أفضل</p>
<p>ما يعني به الأفضل هنا هو ربنا يسوع نفسه كما قال القديس بولس (في ١ : ٢٣) ، وكما قال أنه يستهين بأي خسارة من أجل فضل معرفته (في ٣ : ٨) ، وكما شرح القديس مقاريوس في عظاته الخمسين عن الكنز المخفي (مت ١٣ : ٤٤) واللؤلؤة الواحدة كثيرة الثمن</p>
<p>٣- الراعي الصالح يبذل نفسه عن الخراف</p>
<p>أعظم مثال لنا بالتأكيد هو الصليب (يو ٣ : ١٦) ، وتُوزن خدمة كل راعي علي قدر بذله وإحتماله ومحبته وتعبه (١كو ٣ : ٨)</p>
<p>٤- فاني الراعي الصالح وأعرف خاصتي وخاصتي تعرفني</p>
<p>المعرفة هنا ليست معرفة معلومات بل معرفة حياة كما قال القديس بولس &#8221; لأعرفه وقوة قيامته وشركة آلامه متشبهاً بموته &#8221; وبذلك نمتلئ من نوره ويعرفنا نوره ، أما إذا عشنا في ظلمة الخطية نحيا غرباء عن طبيعة نوره ، ويقول لا أعرفكم بمعني لا يوجد لكم حضور في نوري لأن الظلمة لا تدركه (يو ١ : ٥)</p>
<p>٥- لي خراف أخر ليست من هذه الحظيرة ينبغي لي ان آتي بهؤلاء الأخر أيضاً</p>
<p>هذا ما يفعله الرب علي الدوام يدعو كثيرين من كل جنس ولون وأمة وشعب (رؤ ٥ : ٩) ، يدعوهم خلال خدامه وكارزيه ، ويدعوهم خلال أعمال المحبة لمؤمنيه (مت ٥ : ١٦) ، أو يدعوهم بنفسه (أع ١٠ : ٢ ، ٣)</p>
<p></p>
<p>غني الرعاية (ماذا يُقدِّم الراعي الصالح للخراف ؟ )</p>
<p>١- الشبع (يجد مرعي )</p>
<p>وهذا ماقاله داود النبي في المزمور ( إلي مراع خضر يربضني - مز ٢٣ )</p>
<p>٢- الأمان ( لا يترك الخراف )</p>
<p>لذلك تشعر الخراف دائماً بالأمان في وجوده</p>
<p>٣- النمو للأفضل</p>
<h4>(٣) ملامح الرعاية من خلال قراءة الإبركسيس</h4>
<p>+ خشوع العبادة</p>
<p>&#8221; كيف كنت معكم كلَّ هذا الزمان أعبدُ الربَّ بكلٍ تواضعٍ ودموع ٍ &#8221;</p>
<p>+ ضيقات الشهادة للحق وثمن الإستقامة</p>
<p>+ &#8221; والتجارب التي أتت علي بمكايد اليهود كيف لم أخفِ شيئاً من الفوائد إلَّا وأخبرتكم عنها وعلَّمتكم بها &#8221;</p>
<p>+ كرازة التوبة في الإجتماعات وفِي زيارات البيوت</p>
<p>&#8221; شاهداً جَهْرًا وفِي كل بيت لليهود واليونانيين بالتوبة إلي الله والإيمان الذي بربنا يسوع المسيح &#8221;</p>
<p>+ عدم تهيب الألم والضيق والإضطهاد</p>
<p>&#8221; غير أن الروح القدس يشهد لي في كل مدينةٍ قائلاً  إن وثقاً وشدائد تنتظرك ولكنني لستُ أحتسبُ لشئٍ ولا نفسي مكرمة عندي &#8221;</p>
<p>+ وضوح الهدف وصحته</p>
<p>&#8221; حتي أتمم سعيي والخدمة التي أخذتها من الربِّ يسوع لأشهد ببشارة نعمة الله &#8221;</p>
<p>+ الإحساس الكامل بالمسؤولية الرعوية</p>
<p>&#8221; لذلك أناشدكم في نهار هذا اليوم إني برئ من دمكم جميعاً وذلك لأني لم أتأخر أن أخبركم بكل مشيئة الله &#8221;</p>
<p>+ حرص الراعي علي نفسه وعلي شعبه كمسؤولية مُعْطاة من الروح القدس</p>
<p>&#8221; أحترسوا إذا لأنفسكم ولجميع الرعية التي أقامكم الروح القدس فيها أساقفة لترعوا كنيسة الله التي اقتناها بدمه بذاته &#8221;</p>
<p>+ تحذير من ذئاب لا تشفق علي الرعية ومن رعاة تحاول إمتلاك الرعية لنفسها</p>
<p>&#8221; بعد ذهابي سيدخل بينكم ذئاب خاطفة لا تشفق علي الرعية ومنكم أنتم سيقوم رجال يتكلمون بأقوال ملتويةٍ ليجتذبوا التلاميذ وراءهم &#8221;</p>
<p>+ بذل الرعاية ونقاوة التعليم</p>
<p>&#8221; إسهروا علي أنفسكم متذكرين إني مكثت ثلاث سنين لم أفتر نهاراً وليلاً عن أن أعلِّم بدموعٍ كل واحد منكم &#8221;</p>
<p>+ ميراث الراعي للرعية</p>
<p>&#8221; والآن أستودعكم للربِّ ولكلمة نعمته القادرة أن تثبتكم وتمنحكم ميراثاً مع جميع المقدَّسين &#8221;</p>
<p>+ قناعة الراعي ونزاهته</p>
<p>&#8221; فضةُ أو ذهبُ أو ثيابُ لأحدٍ لم أشته &#8221;</p>
<p>+ قدوة الراعي</p>
<p>&#8221; في كل شئٍ أريتكم أنه هكذا ينبغي أنكم تتعبون لتعضدوا الضعفاء &#8221;</p>
<p>+ شركة مشاعر الحب بين الراعي ورعية الله</p>
<p>&#8221; وكان بكاء عظيم من الجميع ووقعوا علي عنق بولس وقبلوه &#8221;</p>
<h4>(٤) الغني الإلهي</h4>
<p>من كنوز &#8221; ارميا ٣١ &#8230;&#8230;.الغني الالهي &#8221;</p>
<p>*غني وعود الله (إر ٣١: ١ - ٩)</p>
<p>&#8221; اكون الها لكل عشائر اسرائيل&#8230;..ادمت لك الرحمه&#8230;.سابنيك بعد&#8230;تتزينين بعد&#8230;&#8230;تغرسين بعد كروما&#8230;.اتي بهم من ارض الشمال&#8230;.بينهم الاعمي والاعرج&#8230;.بالتضرعات اقودهم&#8230;&#8230;اسيرهم الي انهار ماء في طريق مستقيمه&#8230;&#8221;</p>
<p>هذا هو غني الهنا هو اله الكل ورحمته حاضره للجميع يبنينا ويغرس حبه فينا ويزين حياتنا بنعمته يفتقدنا رغم ضعفنا الشديد يقود حياتنا اذا كان طلبنا صادقا الي فيض وغني الي انهار الحب الالهي.</p>
<p>*غني كنيسه الله.   (إر ٣١: ١٠ - ١٤)</p>
<p>&#8221; مبدد اسرائيل يجمعه ويحرسه كراع قطيعه&#8230;..فياتون ويرنمون&#8230;ويجرون الي جود الرب علي الحنطه وعلي الخمر وعلي الزيت&#8230;.وتكون نفسهم كجنه ريا&#8230;..حينئذ تفرح العذراء بالرقص والشبان والشيوخ معا&#8230;.وافرحهم من حزنهم&#8230;واروي نفس الكهنه من الدسم ويشبع شعبي من جودي &#8221;</p>
<p>الله المحب يسترجع اولاده من الكور البعيده فيرجعون اليه بفرح وتسبيح ويشبعون من دسم اسرار كنيسته وترتفع دائما معنوياتهم من كل الاعمار والاحتياجات وتتبدل كل احزانهم وتفيض الكنيسه غني وشبعا للكل شعبا واكليروسا.</p>
<p>*غني الاسره   (إر ٣١ : ١ - ٩)</p>
<p>&#8221; راحيل تبكي علي اولادها..،،،امنعي صوتك عن البكاء&#8230;..لانه يوجد جزاء لعملك يقول الرب فيرجعون من ارض العدو.،،،ويوجد رجاء لاخرتك&#8230;فيرجع الابناء الي تخمهم.&#8221;</p>
<p>بعدما كانت تبكي قلوبناعلي اولادنا يطمئنا الرب من جهه الحاضر في توبتهم ويمنحنا الرجاء في مستقبلهم في رسوخ حياتهم فيه.</p>
<p>*غني النفس البشريه (إر ٣١ : ١٨ - ٢٦)</p>
<p>&#8221; توبني فاتوب &#8230;.رحمه ارحمه يقول الرب &#8230;ارجعي ياعذراء اسرائيل&#8230;&#8230;حتي متي تطوفين ايتها البنت المرتده&#8230;..يباركك الرب &#8230;لاني ارويت النفس المعييه &#8221;</p>
<p>اعطني روح التوبه لانال مراحمك الابديه يامن تشتهي رجوعي اليك مبكتا ارتدادي عن مجدك وساكبا روحك يروي نفسي العطشانه والخربه.</p>
<p>*غني شعب الله (إر ٣١ : ٢٧ - ٣٤)</p>
<p>ازرع بيت اسرائيل&#8230;&#8230;اسهر عليهم للبناء والغرس&#8230;..اجعل شريعتي في داخلهم&#8230;.لاني اصفح عن اثمهم ولااذكر خطيتهم بعد &#8221;</p>
<p>الله لاينظر الي خطايا شعبه بقدر مايسهر علي بناءهم وغرسهم يتوق للغفران اكثر من المحاسبه لايريدنا ان ننظر للوراء ونعيش في تذكر الماضي الملبس الموت.</p>
<h3>عظات آبائية</h3>
<h4>رسالة القديس كيرلس الي نسطور</h4>
<p>كيرلس يهدي تحياته في الرب إلى الموقر جدا والمحب جدا لله الشريك في الخدمة نسطوريوس .</p>
<p>كما سمعت ، فإن بعض الناس يواصلون الثرثرة حول إجابتي على تقواك ، ويفعلون هذا مرات كثيرة ، وعلى الخصوص وهم يترقبون وقت المجامع ، وربما بسبب أنهم يفكرون في دغدغة مسامعك لذلك ينطقون بكلمات طائشة . وهم يفعلون هذا رغم أنهم لم يتعرضوا للإساءة من أحد ، بل قد نالوا توبيخا لمنفعتهم : فواحد منهك وبخ لأنه كان يسئ إلى العمی والفقراء ، والثاني بسبب أنه كان يلوح بالسيف ضد أمه والثالث بسبب كان يسرق أموال شخص آخر بمساعدة جارية . وقد كان لهم دائما مثل هذا الصيت الردي ، حتى أن الواحد منا لا يتمنى أن يلتصق هذا الصيت بأعدى أعدائه . وفضلا عن ذلك فلن يكون لي كلام كثير عن مثل هذه الأمور وذلك لكي لا أمتد بمقياس ذاتي الصغيرة فوق ربي ومعلمي ولا فوق الآباء . لأنه ليس من الممكن الإفلات من انحرافات الأشرار الرديئة ، كيفما اختار الإنسان أن يقضي حياته .</p>
<p>٢- ولكن أولئك إذ لهم فم مملوء باللعنات والمرارة ، سوف يجاوبون عن أنفسهم أمام ديان الكل . والآن أعود بنفسي مرة أخرى إلى ما يليق بي على الخصوص ، وسوف أذكرك الآن ، كأخ في الرب ، أن تكرز بكلمة التعليم ، وبعقيدة الإيمان للشعب بكل حذر . ينبغي أن ندرك أن إعثار واحد فقط من الصغار المؤمنين بالمسيح ، له عقاب لا يحتمل . فإن كان عدد المتضررين كثيرا ، أفلا نكون في حاجة إلى مهارة كاملة لإزالة العثرات بفطنة ونشرح التعليم بصحة الإيمان لأولئك الذين يبحثون عن الحق ؟ وسوف يكون هذا صحيحا جدا إن كنا نلتزم بتعاليم الأباء القديسين ، وإن كنا نجتهد لكي نعتبرهم ذوي قيمة عظيمة ، ونمتحن أنفسنا &#8221; هل نحن في الإيمان &#8221; كما هو مكتوب ، ونشكل أفكارنا حسنا جدا لتطابق آراءهم المستقيمة والتي بلا لوم .</p>
<p>٣- ولذلك قال المجمع المقدس العظيم أن الابن الوحيد الجنس نفسه مولود من الله الاب حسب الطبيعة ، الإله الحق من إله حق ، النور الذي من النور ، وهو الذي به صنع الآب كل الأشياء ، نزل ، وتجسد وتأنس ، وتألم ، وقام في اليوم الثالث وصعد إلى السموات . وينبغي علينا أن نتبع التعاليم والعقائد ، مدركين ماذا يعني أنه تجسد . تدل هذه اللفظة على أن الكلمة الذي من الله ، تأنس . ونحن لا نقول أن طبيعة الكلمة تغيرت حينما صار جسدا . وأيضا نحن لا نقول أن الكلمة قد تغير إلى إنسان كامل من نفس وجسد . بل بالأحرى نقول أن الكلمة قد وحد مع نفسه أقنوميا ، جسا محيا بنفس عاقلة ، وصار إنسانا بطريقة لا يمكن التعبير عنها أو إدراكها . وهو قد دعى ابن الإنسان ليس بحسب الرغبة فقط ولا بحسب الإرادة الصالحة ، بل أيضا ليس باتخاذه شخصا معينا . ونحن نقول أنه على الرغم أن الطبيعتين اللتين اجتمعتا معا في وحدة حقيقية مختلفتان ، فإنه يوجد مسیح واحد وابن واحد من الاثنين . إن اختلاف الطبائع لم يبطل بسبب الاتحاد ، بل بالحرى فإن هذا الاتحاد الذي يفوق الفهم والوصف کون لنا من اللاهوت والناسوت ربا واحدا يسوع المسيح وابنا واحدا .</p>
<p>٤- وهكذا ، فرغم أن له وجوداً قبل الدهور وقد ولد من الآب ، فإنه يقال أيضا أنه ولد حسب الجسد من امرأة ، كما أن طبيعته الإلهية لا تحتاج لنفسها بالضرورة إلى ولادة أخرى بعد الولادة من الآب . إن القول بأن ذلك الذي هو موجود قبل كل الدهور وهو أزلي مع الآب ، يحتاج إلى بداية ثانية لكي يوجد ، إنما هو أمر بلا غاية وفي نفس الوقت هو قول أحمق . ولكن حيث أنه من أجلنا ومن أجل خلاصنا وحد الطبيعة البشرية بنفسه أقنومياً، وولد من امرأة ، فإنه بهذه الطريقة يقال أنه قد ولد جسديا . لأنه لم يولد أولا إنسانا عاديا من العذراء القديسة ثم بعد ذلك حل عليه الكلمة ، بل إذ قد اتحد بالجسد الذي من أحشائها ، فيقال إن الكلمة قد قبل الولادة الجسدية ، لكي ينسب إلى نفسه ولادة جسده الخاصه . ٥-وهكذا نقول أنه أيضا تألم وقام ، ليس أن كلمة الله تألم في طبيعته الخاصة أو ضرب أو طعن أو قبل الجروح الأخرى ، لأن الإلهي غير قابل للتألم حيث أنه غير جسمی لكن حيث أن جسده الخاص ، الذي ولد عانی هذه الأمور ، فإنه يقال أنه هو نفسه أيضا قد عاني هذه الأمور لأجلنا . لأن ذلك الذي هو غير قابل للآلام كان في الجسد المتألم . وعلى نفس النسق نفكر أيضا عن موته . إن كلمة الله حسب الطبيعة غير مائت وغير فاسد لكونه هو الحياة ومعطي الحياة . ولكن بسبب أن جسده الخاص ذاق بنعمة الله الموت لأجل الجميع كما يقول بولس ، لذلك يقال أنه هو نفسه قد عانى الموت لأجلنا . لأنه فيما يخص طبيعة الكلمة ، فهو لم يختبر الموت ، لأنه يكون من الجنون أن يقول أحد أو يفكر هكذا ، ولكن ، كما قلت على وجه الدقة ، فإن جسده ذاق الموت . وهكذا أيضا عندما أرجع الحياة إلى جسده ، يقال أنه قام ، ليس كما لو أنه تعرض للفساد ، حاشا ، بل أن جسده قام ثانية .</p>
<p>٦- وهكذا فنحن نعترف بمسيح واحد ورب ، ليس أننا نعبد إنسانا مع الكلمة ، حتى لا يظهر أن هناك انقساما باستعمال لفظة &#8221; مع &#8221; ولكننا نعبد واحدا هو نفسه الرب حيث أن جسده لا يخص غير الكلمة الذي باتحاده به يجلس عن يمين أبيه . ليس كإبنين يجلسان مع الآب ، بل كابن واحد متحد مع جسده الخاص . ولكن إذا رفضنا الاتحاد الأقنومی سواء بسبب تعذر إدراكه ، أو بسبب عدم قبوله ، نسقط في التعليم بإبنبن . لأنه توجد كل الضرورة للتمييز وللقول أنه من ناحية ، كإنسان ذی وضع منفرد کرم بصفة خاصة بتسميته &#8221; الابن &#8221; ، وأيضا من ناحية أخرى ، فإن كلمة الله في وضع منفرد يملك بالطبيعة كلا من اسم البنوة وحقيقتها . لذلك فإن الرب الواحد يسوع المسيح لا ينبغي أن يقسم إلى ابنين .</p>
<p>7 - إنه لن يكون نافعا بأي طريقة ، أن يكون التعليم الصحيح للإيمان هكذا ، حتى لو أقر البعض بالاتحاد بين الأشخاص . لأن الكتاب لم يقل أن الكلمة قد وحد شخصا من البشر بنفسه ، بل أنه صار جسدا والكلمة إذ قد صار جسدا لا يكون آخراً . إنه اتخذ دما ولحما مثلنا . إنه جعل جسدنا خاصا به ، وولد إنسانا من إمرأة بدون أن يفقد لاهوته ولا كونه مولودا من الله الآب ، ولكن في اتخاذه جسدا ظل كما هو . إن تعليم الإيمان الصحيح يحتفظ بهذا في كل مكان . وهكذا سوف نجد أن الآباء القديسين قد فكروا بهذه الطريقة . وهذا لم يترددوا في تسمية العذراء القديسة بوالدة الإله . وهم لم يقولوا أن طبيعة الكلمة أى لاهوته أخذ بداية وجوده من العذراء القديسة ، بل أن جسده المقدس ، المحیی بنفس عاقلة ، قد ولد منها ، الذي به إذ اتحد الكلمة أقنومياً ، يقال عن الكلمة إنه ولد حسب الجسد . وأنا أكتب هذه الأمور الآن بدافع المحبة التي في المسيح ، حاثا إياك كأخ وداعيا لك أن تشهد أمام الله وملائكته المختارين أنك تفكر وتعلم بهذه التعاليم معنا، لكي يحفظ سلام الكنائس سالما وتستمر رابطة الوفاق والمحبة غير منفصمة بين كهنة الله .</p>
<p>٨- سلم على الاخوة الذين معك &#8221; الاخوة الذين معنا يسلمون عليكم في المسيح. <a href="#_ftn3" name="_ftnref3">[3]</a></p>
<h4>طبيعة المسيح له المجد عند القديس كيرلس الكبير</h4>
<p>بدون الإتحاد يصبح لدينا أثنين أحدهما هو الكلمة، والثانى هو يسوع   .</p>
<p>ألا نقول نحن أن أي إنسان منا هو واحد وله طبيعة إنسانية واحده ، رغم أن طبيعته ليست بسيطة ، وإنما مركبة من أثنين أي النفس والجسد وهل يمكننا أن نفصل الجسد عن النفس المتحدة به ونقسم الواحد &#8221; الأقنوم &#8221; إلى أثنين ، ألا يلغى ذلك وحدة الإنسان  .</p>
<p>كيف يستطيع إنسان أن يرى طبائع الأشياء وقد امتزجت إلى الحد الذى يصبح فيه اللاهوت والناسوت واحداً ؟ أننا نعتقد بأن اللاهوت ليس هو الناسوت، وألا كيف يحدث الإتحاد بينهما ؟  .</p>
<p>الذين يبدلون الحق الواضح لا يعلمون أنه بالحقيقة طبيعة واحدة متجسده للكلمة ، أن الكائن الأزلى الحق المولود من الآب قبل كل الدهور هو الإبن الواحد ، وعندما إتخذ جسداً بنفس عاقلة وولد إنساناً من إمرأة ، ظل الواحد بعينه الذى لا يمكن تقسيمه إلى أقنومين وأبنيين ، بل هو بعينه إتخذ جسداً له وإتحد به بدون إفتراق بالمرة . وكل من يعترف بهذا . بكل يقين . لا يتضمن إعترافه أي إشارة إلى الإمتزاج أو الإخلاط  .</p>
<p>نحن لا نقول أن طبيعة الكلمة قد تغيرت حينما صار جسداً . وأيضاً نحن لا نقول أن الكلمة قد تغير إلى إنسان كامل من نفس وجسد . بل بالأحرى نقول أن الكلمة قد وحد مع نفسه أقنومياً ، جسداً محيياً بنفس عاقلة وصار إنساناً بطريقة لا يمكن التعبير عنها أو إدراكها  .</p>
<p>تقديس الإنسان في المسيح هو أساساً اشتراك في الطبيعة الإلهية . هذا التحول والتقديس . يحدث في الإنسان وبقوة الروح القدس نفسه الذى يصور المسيح فينا ويجددنا لله  .</p>
<p>لكى لا يعود إلى العدم ما جاء من العدم ، أي إلى أصله الذى أخذ منه ، بل أن يظل باقياً دائماً ، جعله الله شريكاً في طبيعة  .</p>
<p>لقد نزل الابن إلى حالتنا لكى يرفعنا إلى كرامته الإلهية</p>
<p><a href="#_ftn4" name="_ftnref4">[4]</a> أن القيامه برهنت على أنه أقوى من الموت والفساد لأنه الحياة بل والمحى  .</p>
<h4>القديس اغريغوريوس الكبير: في وسط العمل &#8230; يتراءى الله</h4>
<p>حينها يرغم القديسون على ضرورة العمل ، وعلى الاشتراك في الخدمات الخارجية ، تجدهم على الدوام يركزون ذواتهم بهمة في فحص و تفتيش قلوبهم . وهكذا تجدهم على الدوام مرتفعين أفكارهم الداخلية . وحينها يفرغون من شغب الأعمال الزائلة تجدهم عند قمة تأملاتهم يفحصون في أحكام الإرادة الإلهية . ومن هنا نسمع كيف كان موسى يلجأ باستمرار إلى خيمة الاجتماع في الأمور المشكوك فيها وهناك يستشير الله سراً ليعلم الأمر الحقيقي المقطوع به ، الذي يجب أن يسير بمقتضاه . والواقع أن تركه للجموع المزدحمة ، والتجائه إلى خيمة الاجتماع هو في حقيقته كف عن شغب الأعمال الخارجية ودخول الى خلوة العقل  لأن من هناك يستشار الله بالحق . وإنما نسمعه من الداخل في هدوء القلب هو ما يجب أن تنادى به و نصنعه في الخارج علانية هذا هو الطريق الذي يجب أن يتبعه الراعى الصالح، فلا يقدم على القطع والبت في الأمور التي تعرض له  حتى لو كان عارفاً بهذه الأمور وبخفاياها  قبل أن يخلو الى ذاته في هدوء العقل ويتسمع سراً إلى صوت الحق الذي يهتف إليه في هدوء وعدم تشكك و بلا أدنى انقسام. حينئذ يأخذ المشورة كما من الله و لكى يبقى القديسون على اتصالهم الدائم بالله تجدهم وهم في وسط العمل الخارجي مستعدين على الدوام للانسحاب بسرعة بعقلهم وقلبهم ليدخلوا إلى مخادع القلب السرية حيث تعودوا أن يسمعوا صوت الحق من الله في أمان من ارتباك الحواس والمشاعر والميول. <a href="#_ftn5" name="_ftnref5">[5]</a></p>
<h4>مؤازرة صلوات الإكيروس والشعب للقديس ذهبى الفم في وعظه</h4>
<p>هل تتذكروا الأمور التي حدثتكم عنها سابقاً ؟ لأنكم قد دفعتمونى لدرجة كبيرة من الجرأة والتجاسر حتى أشرع في بحث موضوعات مختلفة ، غير أن هذا لا أحسبه مثالاً للجرأة ولا للجسارة إذ إننى لم أنل الشجاعة من قوتى الخاصة بل قد أخذت على عاتقى الدخول الى حلبة المصارعة مستنداً على صلوات الإكليروس وصلواتكم الخاصة ، فكم هي عظيمة طلبة الكنيسة حتى لو كنا أكثر صمتاً من الحجارة ، إذ تستطيع تلك الصلاة أن تجعل ألسنتنا أكثر خفة من جناح الطير لأن هذا يشبه تماماً الريح الغريبة عندما تهب وتدفع شراع السفينة فتحرك المركب أسرع من السهام ، هكذا أيضاً صلاة الكنيسة عندما تنسكب على لسان ذاك الذى يتحدث فتحرك الكلمة في فمة اسرع من هذه الرياح . لذلك فأننى يومياً أبدأ المنافسة بنشاط كبير ، لأنه في المنافسات التي تقدم خارج الكنيسة إن كان هناك أحد المتنافسين لديه عشرة أو عشرين مشجعاً متحمسا بين جمع كبير ، فإنه يأتي إلى المباراة بتأهب شديد وأنا سأفعل هذا بأكثر استعداداً ، لأنه ليس لدى فقط عشرة أو عشرين بل كل الحضور الذى يتكون من الأخوة والأباء ، وإن كان بكل تأكيد في المباريات خارج الكنيسة لا يقدر المصارع أن يجنى شيئاً من المشاهد سوى جلوسه على المنصة كى يصفق له ويبدى إعجابه مما يجرى هناك وأن يتشاجر مع الآخرين الذين يشجعون الخصم ، لكن غير مسموح للمشجعين أن ينزلوا حلبة المصارعة ويقدموا عوناً لمنافس بأن يسحب رجل الخصم أو أي شيء مثل هذا ، لأن الذين يديرون تلك المباريات من البداية ، يمنعون المشاهدين عن فعل أي أمر من هذه الأمور ، إذ يصنعون أوتاداً مسننة ويحيطون حلبة المصارعة بحبال . فما هي الغرابة في أنه غير مسموح للمشاهد أن ينزل إلى الحلبة في الوقت الذى يجب فيه على المدرب نفسه أن يكون خارج الملعب بالقرب من الحلبة ، وأن يسمحوا له فقط بتقديم إرشاداته التعليمية من بعيد ولا يجوز له أن يقترب من الحلبة ؟</p>
<p>غير أن الأمر ليس هكذا فيما يخص موضوعنا لأنه من الممكن للمعلم والمشاهد أن يقتربا منا وأن يقفا بجوارنا لمؤازرتنا حتى يشددا من عزيمتنا بصلواتهما ، فلنبدا إذن مباراتنا على نهج أولئك المصارعين الرياضيين حيث يأخذونهم موثوقين من أيديهم من الوسط ثم يتم دفعهم ( القفز بهم ) لأسفل بسبب قوة الممسكين بهم بأيديهم وضيق المكان بسبب الجمع الحاضر وبعد أن يفلت من القبضة يعاود مرة أخرى لمكان المصارعة ، ولكن متخذاً نفس الموقف السابق الذى كان عليه عندما كان مقيداً من خصمه . وأما بالنسبة لنا فقد اضطرانا ضيق المكان أن نوقف الحديث ، دعونا نتقدم إذن ونعود إلى مكان مصارعتنا لكى نفسر غموض ما قد قرئ علينا اليوم .</p>
<p>حث على الأنتباه لكلمة الوعظ .</p>
<p>كما أن نثر البذور هكذا على قارعة الطريق لا طائل منه ، كذلك أيضاً الواعظ لن يجنى أي شيء عندما لا تصل الكلمة إلى أذهان السامعين ، إذ أنه بعد أن يتبدد رنين الصوت في الهواء يترك المستمعين بلا فائدة . هذا لا أقوله لكم اعتباطاً ، ولكن كى لا تظهروا انتباهكم فقط للمعانى البسيطة بل لتنتبهوا باهتمام للمعانى العميقه. لأنه إن لم نغوص الآن ( في أيام الصوم والأربعين ) إلى عمق معانى الكتاب ، فمتى إذن سوف نغوص ( نتعمق ) ؟ هل عندما تكون اعضائنا خفيفة للسباحة وأبصارنا حادة ولم يعد يعيقها تيار الملذات الشرير ، وروحنا قادرة على مقاومة الاختناق ( كما في أيام الصوم هذه ) ؟ أم عندما نكون في أوقات ترف وولائم وسكر ومائدة ممتلئة من المأكولات المتعددة ؟ ولكن حينذاك لا يكون من السهل أن نتحرك حيث ثقل حمل الملذات يضغط على النفس ضغطاً شديداً جداً .</p>
<p>ألا ترون أن أولئك الذين يريدون أن يعثروا على الأحجار الكريمة ، لا يجدون ما يريدون وهم جالسين على ساحل الشاطئ يعدون أمواج البحر ، بل ذلك الذى يغطس في أعماق البحر ، وعلى الرغم من أن هدف البحث عظيم فإن الخطر الداهم أيضاً جسيم ، ولا يوجد أي فائدة من العثور على هذه الأحجار ؟ لأنه أي أهمية يقدمها لحياتنا العثور على الأحجارالكريمة ! وياليتها لا تسبب لنا شراً عظيماً ، لأن ما يقلب حياتنا رأساً على عقب ليس شيئاً آخر سوى الهوس بالمال ، فأولئك يضعون أنفسهم وأجسادهم في مواجهة الأخطار وغير مبالين بالأمواج لأجل الطعام البائد ، أما هنا فلا أخطار أو ألم ولا عناء شديد هذا إنما تعباً قليلاً وخفيفاً ، وهذا لأجل الحفاظ على الأشياء المكتسبة ، لأن الأشياء التي تكتسب بسهولة يظن الكثيرون أنها جديرة بالازدراء ، فلا توجد أمواج مضطربة في بحر الكتب المقدسة ، بل إن هذا البحر هو الأكثر هدوء من أي ميناء آخر ، فلا يحتاج المرء أن بنزل إلى هوة ظلام الهاوية ، ولا أن يثق في خلاص جسده من عاصفة المياه العاتية ، ولكن النور هنا شديد جداً وأكثر اشراقاً من أشعة الشمس ذاتها ، والصفاء خال من أي اضطراب ، والفائدة من هذا الاكتشاف عظيمة للغاية ، بحيث لا يمكن وصفها بالكلام ، فدعونا إذن ألا نقف بل نستمر في البحث .</p>
<p>أثر الخطية على كرامة الإنسان وسلامه الداخلى .</p>
<p>ولكن لأن الخطية قد دخلت إلى الإنسان فاختفت سمات الكرامة ، وكما يحدث تماماً مع العبيد ، فأولئك الذين يتمتعون بكرامة عالية من قبل سادتهم يكونون مخيفين بالنسبة للعبيد رفقائهم ، وهكذا قد صار للإنسان ، فعندما كان قائم في حضرة الله كان مخيفاً للوحوش ، ولكن لأنه قد خالف وصية الله فقد صار مرتعداً حتى لمن هو أدنى منه من العبيد رفقائه ، فلوا لم تكن الأمور قد صارت على هذا النحو ، فلتظهر لى إذن متى كانت الوحوش مخيفة للإنسان قبل الخطية ؟ ولكن لا تستطيع ! فبعد ذلك دخل الخوف للإنسان وهذا دليل على عناية الله ، لأنه لو أن الانسان بعد أن عصى وكسر وصية الله بقى هكذا بلا تغير في الكرامة التي قد منحها له الله ، فما كان من الممكن للإنسان أن ينهض هذا بسهولة من سقوطه .</p>
<p>عقوبة الله رحيمة ولفائدة الإنسان</p>
<p>لأنه عندما ينال البشر نفس الكرامة عندما يعصون وعندما لا يعصون فسوف يتمادون أكثر في الشر ولن يبتعدون بسهولة عن الشر ، فإن كان الآن يوجد خوف وعقوبة وجحيم ومع ذلك لا يحتمل البشر أن يعيشوا بتعقل فما هي حالتهم إن كانوا لا يعانون بسبب الشر الذى يرتكبونه ؟ وهكذا فإنه من الجلى للغاية أن الله قد حرمنا من السلطة اعتناء ورعاية بنا .</p>
<p>فأرجرك أيضاً أن تتأمل فإن محبته للبشر غير الموصوفة ، لأن آدم كسر الوصية وخالف الناموس ولكن الله لم يجرده من كل كرامة ولم يحرمه من كل سلطته ، إذ سمح فقط لبعض الحيوانات أن تصير خارج سلطته ، تلك الحيوانات التي لا تمثل احتياجاً حقيقياً لحياته ، بينما الحيوانات الأخرى الضرورية والمفيدة التي تمثل احتياجاً لحياتنا ، أي الحيوانات التي تقدم لنا خدمات في معيشتنا فقد تركها تحت سيطرتنا ، مثل قطعان الماشية التي نحرث ونجهز بها الأرض ، حتى ننثر البذور وترك لنا أنواع من الدروب حتى تساعدنا في نقل الأثقال ، والأغنام حتى يكون عندنا وفرة من الأغطية لأجل الملبس ، وأنواع أخرى من الحيوانات يقدمون لنا خدمات أخرى كثيرة ، لأنه قد عاقب الانسان قائلاً : &#8221; بعرق جبينك تأكل خبزك &#8221; ، ولكى لا يكون عرقنا وجهدنا وتعبنا هذا فوق الاحتمال بل يخفف الأثقال بمشاركة الحيوانات العجماوات التي تساعدنا في أتعابنا ومشقاتنا ، ومثل سيد رحيم ومحب للبشر يجلد عبده غير أنه يمنحه بعد ذلك العلاج لأجزاء جسده المكلومة ، هكذا الله أيضاً لأنه أدان الإنسان فبكل وسيلة يريد أن يجعل هذه الإدانه خفيفة ومحتملة ، إذ عاقبنا بعرق ( الجبين ) والمشقة الدائمين ، فقد أعطانا كل أنواع الحيوانات العجماوات كى تساعدنا في أتعابنا .</p>
<p>لأجل كل هذا نشكر الله ، لأنه لو فحص المرء الأمر لعرف كيف أن الله قد أعطانا الكرامة ونزعها منها مرة أخرى ، وأنه وضع فينا الخوف من الوحوش وكذلك كل الأمور الأخرى ، وأنه سوف يرى أن كل ذلك مملوء حكمة كثيرة وعناية ومحبة كبيرة للبشر ، التي نتمنى كلنا أن ننالها على الدوام نحو مجد الله ، الذى صنع كل ذلك ، الذى له المجد إلى أبد الآبدين . أمين<a href="#_ftn6" name="_ftnref6">[6]</a>.</p>
<h4>القديس أغسطينوس</h4>
<p>+ يقول غالبية البشر : ماذا ؟ هل يفكر الله في الآن ، فيعرف ما أصنعه في منزلى ؟ !</p>
<p>هل يهم الله ما أريد أن أفعله ، وأنا على سريرى ؟</p>
<p>&#8221; افهموا أيها البُلداء في الشعب ، ويا جهلاء متى تعقلون (مز ٩٤ : ٨) .</p>
<p>إنك كرجل يلزمك أن تعرف كل ما يدور في بيتك ، وأن يصل إلى علمك كل أفعال خدمك وأقوالهم ، أما تطن أن لله عملاً كهذا ؟ إنه يلاحظك !</p>
<p>+ أنت نفسك تهتم بخطواتى وطرقى ليلاً ونهاراً ، تسهر لرعايتى ، تلاحظ كل سبلى ، لا تكف عن الأهتمام بى ، حتى يمكننى أن أقول : إنك تنسى السماء والأرض وما فيها ، مركزاً أهتمامك علىّ ، فتبدوا كمن لا يهتم بخليقة سواى !</p>
<p>+ أنت الذى ترفرف بعنايتك حول كل بشر ، من يوم ولادتهم إلى يوم وفاتهم .</p>
<p>+ مرحمك يا إلهى وحنوك يشملان خليقتك كلها ، فإنك لا ترفض عمل يديك .</p>
<p>+ عيناك يالله منجذبتان نحو خطوات البشر .</p>
<p>إذ أنت مهتم بكل خليقتك ، لا تحرم أحداً من جُبلة يديك عن فيض حبك !</p>
<p>+ نور عينيك السرمدى ينصب بكماله نحوى &#8230; ومع ذلك فهو ليس بغير موجود بالنسبة لغيرى إذ لا يضعف نورك قط باحتضانه الخليقة غير المحصية .</p>
<p>+ نظرك كامل في قدرته ، ليس شيء يقدر أن يفقده شيئاً من قوته . يبقى – بالرغم من اتساع مداه – كما هو في كماله ، لا تنحدر قوته ، ولا يضعف صلاحه.</p>
<p>+ نظرك كامل ، يتطلع إلى الكل دفعة واحدة &#8230; لا يمس سرمدية طبيعته انقسام أو تغيير أو نقص . أنت تحتضن وجودى برعايتك إياى رعاية كاملة دفعة واحدة ، تحتضنى على الدوام ، كأنك لا تتطلع إلى آخر سواى !</p>
<p>تسهر علىّ كأنك نسيت الخليقة كلها ! تهبنى عطاياك ، كأننى وحدى موضوع حبك !</p>
<p>بصلاح حلولك الدائم في كل مكان ، تسرع إلىّ بمعونتك على الدوام ، متى وجدتنى متأهلاً لقبول عونك .</p>
<p>إلهى &#8230; حيثما أكون أجدك أمامى ، لأنك حال في كل مكان .</p>
<p>وبنعمة حلولك هذا أتقابل معك أينما أكون ، حتى لا أهلك ، فبدونك ليس لى وجود . إننى أعترف لك إذن ! إن كل أعمالى ، أيا كانت طبيعتها ، مكشوفة قدامك ، تتطلع إليها أكثر منى ، وتعرف فاعلها .</p>
<p>لا يوجد قط شيء أنت لا تعرفة &#8230; أفكارى ومقاصدى وأفراحى وأعمالى ، ليس شيء من هذا غير مطروح أمام أهتمامك الأبدى</p>
<p>إلهى &#8230; أنت تعرف أفكارى في أعماق غموضها .</p>
<p>إلهى &#8230; أنت لا تجهل جانباً ما من جوانب روحى . أنا تعرف هدف أعمالى ، وما يجول بذهنىً، وطبيعة مسراتى &#8230; عيناك تترقبان هذا كله ، وأذناك تنصتان إليه.<a href="#_ftn7" name="_ftnref7">[7]</a></p>
<h3>عظات آباء وخدام معاصرين</h3>
<h4>العلَّامة الأنبا إيسيذوروس أسقف دير البراموس</h4>
<p>تأسيس سر الكهنوت</p>
<p>القسم الأول</p>
<p>شهادة الأنبياء</p>
<p>أ – ملاخى       ب – ملكى صادق      ج &#8212; الكاهن ملاك</p>
<p>يقر الارثوذكسيون أجمع انه يوجد فى الكنيسة هيئة ممتازة عن باقى المسيحيين تدعى بجماعة الكهنة، وهذا الاعتقاد هو موضوع النزاع والاشكال بين الكنيسة وجمعيات البروتستانت ، فالكنيسة تؤيد ما ترتأيه فى ذلك من جملة مصادر حرية بالالتفات ، وجديرة بالاعتبار ، وهى :</p>
<p>١-شهادة الانبياء</p>
<p>٢- تأسيس الرب لسر الكهنوت</p>
<p>٣-شهادة الرسل والرسوليين</p>
<p>٤-التقليد الكنسى</p>
<p>٥-اجماع المسيحيين فى كل زمان ومكان</p>
<p>غير أنه لما كان المكان يضيق بنا هنا عند سرد  كل مصدر على حدها اقتصرنا على أن نورد بعض ما صرحت به ، أو ألمح اليه ىالأنبياء حبا بالاقتصار والاختصار ، وتجنباً للآطناب والاسهاب ، تاركين تفصيل الباقى من تلك المصادر فنقول :</p>
<p>أ -  ملاخى :</p>
<p>انه لأمر معلوم أن واحداً من الأنبياء الموثوق بصحة ما أنزل على قلوبهم ، وتنبأوا به وهو الأخير منهم ، وخاتم شهادتهم ومكمل مصفهم ، قد لمح وبالحرى صرح بنبوته على هذا السر المقدس فقال وهو يخاطب كهنة العهد القديم ويوبخهم على شر أعمالهم ، ونفاق قلوبهم ، وسوء أفكارهم ، وخيانتهم ، ونكثهم العهود والمواثيق الالهية  ليست لى مسرة بكم قال رب الجنود ولا أقبل تقدمة من يدكم ، لأنه من مشرق الشمس الى مغربها اسمى عظيم بين الامم وفى كل مكان يقرب لاسمى بخور وتقدمة طاهرة لأن اسمى عظيم بين الامم (مل ١: ١٠- ١١) ومما لاعناد فيه ، ولا نزاع ، ولا خلاف ان الله انتخب بنى اسرائيل أمة له دون سائر الامم ، وخصهم بمعرفة ذاته وأمرهم بالطاعة له وحده ، وبعبادته دون سواه ، قد حصرهم فى مضيق وزاوية من الأرض فى بلاد فلسطين ، وحكم عليهم ، وقيدهم بناموس وشريعة ، بأن لا يمارسوا طقوس دينهم ، وشعائر عبادتهم ، ويحتفلوا بأعيادهم الدينية فى غير ذلك المكان  أى فى الهيكل الذى بناه سليمان المكان الذى يختاره الرب الهكم من جميع أسباطكم ليضع اسمه فيه سكناه تطلبون والى هناك تأتون ، وتقدمون الى هناك محرقاتكم وذبائحكم وعشوركم ورفائع أيديكم ونذوركم ونوافلكم وأبكار بقركم وغنمكم ، وتأكلون هناك أمام الرب الهكم وتفرحون بكل ما تمتد اليه ايديكم أنتم وبيوتكم كما بارككم الرب الهكم أحترز من أن تصعد محرقاتك فى كل مكان تراه ، بل فى المكان الذى يختاره الرب فى أحد أسباطك هناك تصعد محرقاتك وهناك تعمل كل ما أنا أوصيك به (تث ١٢ : ٥-١٣) فالواضح من هذين القولين أن اليهود كانوا ممنوعين من أن يقدموا قرباناً فى غير مدينة أورشليم وهيكلهم ، وكان من يخالف منهم هذه الشريعة ، ويقرب فى مكان آخر على جبل أو على آكمة أو فى شجرة أو فى بيت أو فى مخدع ، يعد عمله هذا عبادة وثنية ، على أن ذلك كان أمراً وقتياً وغير ممكن أن يبقى شريعة دائمة لأسباب : أعظمها أن الله يطلب أن يعرفه الأمم كما يعرفه اليهود ، وأن يعبده أولئك كما يعبده هؤلاء ، لأن الله هو اله الجميع ، ويطلب من الجميع طلباً واحداً ، فما يريده من الشعب يريده من الشعوب أيضاً ، وما أمر اليهود به من عبادته وطاعته والعمل بأوامره واجتناب نواهيه ، يأمر به الدانى والقاصى من الأمم الا أن الله لم يطلب ذلك من هؤلاء حين انتخب اليهود شعباً وامةً مقدسة له ، حيث لم يبلغ الجرح غايته بل كان لا يزال أخذا بالامتداد والانتشار فى جسم الأنام فتأخير الدواء عن الداء ، والعلاج عن المرض ، ليسا عن بخل الطبيب بل عن حكمه وتدبيره ، وحين بلغ المرض حده ، وصار قابلاً للمعالجة صب عليه الحكيم العالى الدواء الناجع ، فى سر الصليب ، وأزال ما به من العفونة فصارت معرفة الرب غير قاصرة على اليهود بل انفتح بابها الى جميع الخليقة وفى هذا المعنى يترنم النبى قائلاً بشذاء نغماته قائلاً :</p>
<p>يكون فى آخر الايام أن جبل بيت الرب يكون ثابتاً فى رأس الجبال ويرتفع فوق التلال وتجرى اليه كل الامم  وتسير شعوب كثيرة ويقولون هلم نصعد الى جبل الرب الى بيت اله يعقوب فيعلمنا من طرقه ونسلك فى سبله (أش ٢: ٢- ٣) فما شعر النبى ملاخى بالروح القدس بأن الحاجز كاد يزول ، والباب أوشك ينفتح ، والمانع قرب ينتزع ، أمام معرفة الرب ، والامم وغطاء الجهالة عن قريب يطوى ، والغمامة تُقشع ، والظلمة تُنزع وتنجلى للعالم كله معرفة الرب فيسير فى نورها على الطريق القويم ، ويعبد الرب كما كان يعبده اليهود وأفضل ، ويقدم له ذبيحة الهية من كل مكان ، وجنس ، وقبيلة ، وشعب ، وأمة  بدأ يتنبأ ويخبر اليهود بأمور ثلاثة :</p>
<p>أ – أن الكهنوت الذى أسسه موسى سيبطل ، وذلك بقوله :</p>
<p>- ليست لى مسرة بكم قال رب الجنود (مل ١: ١٠) أى أنى لا أعود أرضى أن تكونوا لى كهنة وتكهنوا لىّ</p>
<p>ب – أن الذبائح الحيوانية التى كانوا يقدمونها ستنسخ شريعة تقريبها قرباناً لله ، وذلك بقوله :</p>
<p>- لا أقبل تقدمة من يدكم (مل ١: ١٠) أى أنى رفضت ذبائحكم وكرهت قرابينكم وعفت تقدماتكم ، كما قال فى مكان آخر :</p>
<p>- لماذا لى كثرة ذبائحكم يقول الرب اتخمت من محرقاتك كباش وشحم مسمنات وبدم عجول وخرفان وتيوس ما اُسر (أش ١: ١١)  وقال أيضاً :</p>
<p>- من يذبح ثوراً فهو قاتل انسان من يذبح شاة فهو ناحر كلب من يصعد تقدمة يصعد دم خنزير من أحرق لباناً فهو مبارك وثناً (أش ٦٦: ٣)</p>
<p>ج – ان هيكل اليهود سينقض ويدمر بحيث لا يجدد مرة ثانية ، وان شريعة تقييد اليهود بتقريب القرابين فيه لا فى غيره ستنسخ وتضمنت هذه النبوة خلاف ذلك ثلاثة أمور جوهرية وهى :</p>
<p>أ – عوض الكهنوت الذى ما كان يجوز لأحد من غير سبط لاوى أن يعلو درجته ، سيقام كهنوت من باقى أسباط بنى اسرائيل ، ومن جميع الامم بغير استثناء أمة منها وفى هذا المعنى تنبأ اشعياء عن الامم الداخلين فى حضن المسيحية قائلاً : اتخذ أيضاً منهم كهنة ولاويين (أش ٦٦: ٢١)</p>
<p>ب – ان الله يعين ذبيحة واحدة تخالف تلك الذبائح المنسوخة التى كان اللاويين يقربونها</p>
<p>ج – ان الله يقيم بدل هيكل اليهود الذى قضى عليه بالخراب والدمار الدائمين ، كنائس وهياكل وبيوتا للعبادة ، وتقريب القربان المقدس فى سائر الممالك ، والولايات ، والمدن ، والبلاد ، والقرى ، والجبال ، والتلال ، والوديان وتلك الاحكام الثلاثة يتضمنها هذا النص الالهى</p>
<p>من مشرق الشمس الى مغربها اسمى عظيم بين الأمم وفى كل مكان يقرب لاسمى بخور وتقدمة طاهرة لأن اسمى عظيم بين الامم قال رب الجنود (مل ١: ١١) وقد تنبأ اشعياء بما يناسب هذه النبوة هذه النبوة مناسبة كلية ، وفسرها تفسيراً جلياً قائلاً : فى ذلك اليوم يكون مذبح للرب فى وسط أرض مصر وعمود للرب عند تخمها ، فيكون علامة وشهادة لرب الجنود فى أرض مصر لأنهم يصرخون الى الرب بسبب المضايقين فيرسل لهم مخلصاً ومحامياً وينقذهم ، فيُعرف الرب فى مصر ويعرف المصريون الرب فى ذلك اليوم ويقدمون ذبيحة وتقدمة وينذرون للرب نذراً ويوفون به (أش ١٩ : ١٩- ٢١) فترى ما قاله ملاخى النبى مغمضاً قاله اشعياء النبى مفسراً ومكشوفاً مع أن اشعياء النبى كان قبل ملاخى النبى بمدة كبيرة</p>
<p>قال المعترض : وان كانت نبوة ملاخى النبى (مل ١: ١٠- ١١) تشير الى نقض فروض العبادة اليهودية ، ونسخ كهنوت بنى لاوى ، والغاء ذبائحه ، لكنها لا تؤيد كهنوتاً آخر ، وذبيحة آخرى ، فالظاهر منها لا يفهم منه خلاف الصلاة وفعل الخير  الذى يسميها الكتاب المقدس ذبيحة وقرباناً كما قال الرسول :</p>
<ul>
<li>فلنقدم به فى كل حين لله ذبيحة التسبيح أى ثمر شفاه معترفة باسمه ، ولكن لا تنسوا فعل الخير والتوزيع لأنه بذبائح مثل هذه يسر الله (عب ١٣ : ١٥ ، ١٦)</li>
</ul>
<p>أجيب أن : الكهنوت ينقسم الى قسمين :</p>
<p>١-حسى :هو الذى كان قائماً بتقريب الذبائح الحيوانية فى هيكل اليهود بأورشليم</p>
<p>٢-معنوى : هو الذى قال عنه الوحى :ان جعت فلا أقول لك لأن لى المسكونة وملأها ، هل أكل لحم الثيران أو أشرب دم التيوس ، اذبح لله حمداً وأوف العلى نذورك ، وادعنى فى يوم الضيق أنقذك فتمجدنى (مز ٥٩ : ١٢- ١٥)</p>
<p>ذبائح الله هى روح منكسرة (مز ٥١: ١٧)</p>
<p>ارجع يا اسرائيل الى الرب الهك لأنك قد تعثرت باثمك ، خذوا معكم كلاماً وارجعوا الى الرب قولوا له ارفع كل اثم واقبل حسناً فنقدم عجول شفاهنا(هو ١٤: ١- ٢) والفرق بين الكهنوت الحسى والكهنوت المعنوى :</p>
<p>١-الكهنوت الحسى كان :</p>
<p>محصوراً بسبط واحد محصوراً بمكان واحد ما كان مسموحاً أو جائزاً لكبير  أو صغير من غير بنى لاوى أن يعلو درجته وقد ثبت ذلك من تاريخ بنى  اسرائيل فان :قورح وداثان وابيرام ومؤيديهم الذين تعدوا على هرون وبنيه ابتلعتهم الأرض أحياء ، وشاول أول ملوك اسرائيل الذى تجاسر على تقريب الذبائح نزع منه الله ملكه ، وعزيا الملك الذى دخل الى الهيكل ليكهن ظهر حالاً على بدنه البرص</p>
<p>٢-الكهنوت المعنوى فيختلف بثلاثة أمور :</p>
<p>المادة :  لأن ذبيحته هى الصلاة وعمل الخير</p>
<p>الفعل :  فانه لا يقيد ولا ينحصر بفرد دون الآخر من جميع الأسباط ، فعلى هذا القياس كان كل من بنى اسرائيل كاهناً ومقرباً ذبائح ومحرقات</p>
<p>المكان :   فانه يجوز أن يتم فى أى مكان فاذا استقامت هذه المبادىء ، وثبتت هذه المقدمات حينئذ نستنتج منها ما يأتى : ان نبوة ملاخى المراد بها نسخ الكهنوت الحسى ، وما يتعلق به ، لا يجوز ولا يمكن أن تشير الى كهنوت معنوى أو مجازى ، الذى الذى هو الصلاة وعمل الخير لأنها :</p>
<p>أ – كما دلت على نقض الكهنوت الحسى اشارت الى تشييد آخر نظيره ، بدلاً منه أى الى كهنوت حسى</p>
<p>ب – ان الذبيحة التى يريدها المعترض بنبوة ملاخى هى كانت موجودة عند اليهود ، والحال أن الشىء الموجود لا يقتضى ايجاده ، وتحصيل الحاصل من المحال ، ومن جهة أخرى ان النبوة من شرطها أن نخبر عن حدوث أمر فى المستقبل لم يسبق له وجود ، ولم يكن له أثر فى الماضى وقرينة النبوة المذكورة تدل على أن المراد بها أمر غريب عن علم اليهود ومعرفتهم فى ذلك الوقت  على أن عادة الوحى جرت حين يحث الناس على تقريب القرابين المعنوية ، التى هى الصلاة وفعل الخير والتواضع ، يجعل قرائن ومنها يستدلون على المراد منه ، كما يظهر من النصوص السالفة الذكر أما فى هذا المكان وما يناسبه فانبأ عن نسخ ما هو حقيقى وظاهر فى الوجود ، وعن اثبات أخر فى مكانه</p>
<p>ب - ملكى صادق :</p>
<p>يستدل من تاريخ ملكى صادق على ما نحن فى صدده  فان الوحى :</p>
<p>جعله رمزاً الى الكاهن ورئيس الكهنة ، يسوع المسيح عين به نوع الذبيحة المزمعة أن تقرب فى العالم وذلك فى هذا النص المقدس :</p>
<p>❖ ملكى صادق ملك شاليم أخرج خبزاً وخمراً وكان كاهناً لله العلى ، وباركه وقال مبارك ابرام من الله العلى مالك السماوات والأرض ، ومبارك الله العلى الذى أسلم أعداءك فى يدك فأعطاه عشراً من كل شىء (تك١٤: ١٨-٢٠) فلم يعلم اليهود فى أول الأمر ان هذه الحادثة التاريخية تدل على حدوث أمر ذى أهمية فى العالم  لكن الذى كلم الأنبياء ، وكثر الرؤى ، وبيد الأنبياء مثل أمثالاً</p>
<p>❖ كلمت الانبياء وكثرت الرؤى وبيد الأنبياء مثلت أمثالاً (هو ١٢: ١٠) قد كشف لأحدهم ذلك ، وأعلمه بالروح انه نبوة على المسيح فصرخ موجهاً اليه الخطاب من قبل أن يأتى الى العالم قائلاً :</p>
<p>❖ أنت كاهن الى الأبد على رتبة ملكى صادق (مز ١١٠: ٤) فعلم من ثم ان ما جرى أمام ابراهيم بيد كاهنه ملكى صادق ليس هو على سبيل الصدفة والعرض ، بل المراد به خلاف ما فى ظاهره وهو سر الافخارستيا المقدس  غير ان هذا الاعتبار الذى تعتبره الكنيسة موضوع للنظر ، فان البروتستانت لا يسلمون به طالما يتمسكون بالمجال ، والمقصود من تشبيه المسيح بملكى صادق عندهم خلاف المقصود به عندنا ، فاننا نذهب الى أن كهنوت ملكى صادق كان قائماً فى تقديمه الخبز والخمر ، لأن الكتاب يقول عنه ، انه أخرج خبزاً وخمراً لأنه كان كاهناً لله العلى ولذلك يوجد بين هذا الكاهن والمسيح علاقة كبرى ، ونسبة ظاهرة ، وهما وجه الشبه بين المشبه والمشبه به ، لأن كل مشابهة لابد لها من علاقة تجعل الواحد شبيهاً بالآخر</p>
<p>فوجه الشبه بين المسيح وكاهن ابراهيم ، هو الخبز والخمر ، اذ كل منهما قدم هذين النوعين بقطع النظر عن ذاتيهما ، لأن ما قدمه المسيح هو موافق لما قدمه ملكى صادق بالصورة والطعم ، ولكنه يختلف عنه بالجوهر والفعل فملكى صادق قدم خبزاً وخمراً بالجوهر والفعل ، والمسيح قدم جسداً ودماً بالجوهر والفعل تحت عرضين وهما الخبز والخمر أما البروتستانت فيخالفوننا بذلك على خط مستقيم ، فان المسيح عندهم ليس هو شبيهاً بملكى صادق على هذا المعنى أبداً فيترجمون النص المذكور ، أخرج خبزاً وخمراً وكان كاهناً لله ، وكلمة &#8221; لأنه &#8221; التى حذفها البروتستانت ، تجعل موضوع كهنوت ذلك الحبر هو فى تقريبه الخبز والخمر ، فتربط معنى ما قبلها فيما يليها ، وحذفها من النص يجعل القارىء مرتاباً فى نوع القربان الذى قدمه ملكى صادق فنسأل بماذا كان يقوم كهنوت هذا الكاهن ، فانهم يجيبونا</p>
<p>أ – اما بتقريب الذبائح الحيوانية ، ولا قائل منهم بذلك</p>
<p>ب – اما باخراج الخبز والخمر ، ولا سبيل لهم ان يتجاوزوه</p>
<p>قال المعترض : ملكى صادق كان كاهناً لأنه بلا أب بلا أم مثل المسيح ، كما قال الرسول : ملكى صادق هذا ملك ساليم كاهن الله العلى الذى استقبل ابراهيم راجعاً من كسرة الملوك وباركه ، الذى قسم له ابراهيم عشراً من كل شىء المترجم أولاً ملك البر ثم أيضاً ملك ساليم أى ملك السلام ، بلا أب بلا أم بلا نسب لا بداءة أيام له ولا نهاية حياة بل هو مشبه بابن الله هذا يبقي كاهناً الي الابد (عب ٧ : ١ - ٣)</p>
<p>نجيب أن : علاقة المشابهة نوعين :</p>
<p>ذاتية : مثل قولك بطرس كيوحنا بالطول ، ويوحنا كيعقوب بالوجه</p>
<p>فعلية : مثل قولك بطرس كالاسكندر بالاقدام والشجاعة ، وبولس كشيشرون بالفصاحة ، ولوقا كبقراط بالحكمة ، ومرقس كحاتم بالكرم</p>
<p>فاذا عرفنا ذلك نقول أن :</p>
<p>١- الولادة والحياة فهما من قبيل المشابهة الذاتية</p>
<p>❖ ملكى صادق بلا أب بلا أم بلا نسب لا بداءة أيام له ولا نهاية حياة بل هو مشبه بابن الله (عب ٧: ١- ٣) ولا يخفى أن العلاقة التى ذكرها الرسول فى هذا المكان هى ذاتية فلا تدخل فى وظيفة الكهنوت مطلقاً ، فانك ترى ملكى صادق شبيهاً بالمسيح ( ذاتى) ان ملكى صادق شبيه بالمسيح ، لان المسيح كاهن وملكى صادق شبيه بذلك ، والمسيح بلا بداية أيام وملكى صادق شبيه بذلك ، فوجه الشبه هو ولادة كل منهما</p>
<p>٢ -الكهنوت هو من قبيل المشابهة الفعلية ومن جهة أخرى أن التشبيه المذكور منعكس ، فترى أن المسيح شبيه بملكى صادق ( فعلى )</p>
<p>❖ ملكى صادق ملك شاليم أخرج خبزاً وخمراً وكان كاهناً لله العلى (تك١٤: ١٨) وملخص ذلك أن المسيح شبيه بملكى صادق لأن هذا كاهن وهذا شبيه بذلك لأن ذلك بلا بداية أيام ، فوجه الشبه هو ولادة كل منهما</p>
<p>❖ ان المسيح شبيه بملكى صادق ووجه الشبه هو تقديم الخبز والخمر من كليهما</p>
<p>ج – الكاهن ملاك :</p>
<p>وظيفة الكاهن لا تقتصر على تقريب القرابين ، فانه من أهم وظائف الكاهن عدا ما تقدم أن يرشد ويعلم الناس ، كما قال الوحى :</p>
<p>❖ شفتى الكاهن تحفظان معرفة ومن فمه يطلبون الشريعة لأنه رسول رب الجنود (مل ٢: ٧)</p>
<p>وبما أن التعليم الانجيلى عظيم الأهمية فلم يسلم المسيح زمامه لأحد ممن ليس هم حائزين الوظائف الكهنوتية كما سترى ان شاء الله ، وفى مقابلة هذه الآية بما ورد فى سفر الرؤيا :أكتب الى ملاك كنيسة أفسس (رؤ ٢: ١ ) نجد أن الاتفاق العظيم ، فان كلا النصفين يدعو الكاهن ملاكاً ويندبه الى التعليم والانذار واذا كان لا خلاف فى أن كلا من ملاك العهد القديم وملاك العهد الجديد معلم ومرشد ، ومن فمه تطلب الشريعة ، فكل منهما بالضرورة كاهن شرعى ، لأن تسميتها باسم واحد وتعيين عملهما كما فى تعليم الكتاب المقدس من وظيفة الكهنوت لهما يدلان على أنهما يعادلان بعضهما بعضاً فى سائر أعمال الوظيفة الكهنوتية.<a href="#_ftn8" name="_ftnref8">[8]</a></p>
<h4>المتنيح الأنبا كيرلس مطران ميلانو: يا وكيل الأسرار</h4>
<p>رأيتك وأنت تمارس الأسرار .. رأيت اتضاعك .. ووداعتك .. وبسمتك .. جمالك . وأدركت أنهما سر جمالك .</p>
<p>أنت وكيل للأسرار الإلهية المقدسة .. وتعمقك في أعماقها وانشغالك بها يظهر عليك سراً آخر .. هو سر هيبتك ..</p>
<p>أنت تمارس كل سر على حده .. . وفي كل سر تتكلم سرأ وتهمس في أذن الذي منحك الأسرار لتمارسها .. تُرى ماذا تطلب منه ؟ ! .. تُري ماذا تريد ؟!</p>
<p>العجيب والمدهش .. أن الأسرار التي تمارسها .. الكل يراها .. والكل يشاهدها عن قرب .. لكن أنت وحدك الذي تقدر أن تفتح أعماقها بكلمات سرية ..</p>
<p>أنت وحدك الذي لك أن تتجرأ وتدخل بقلبك إلى قلب أعماقها .. وهناك تطرح ذبائح توسلات روحك المنسحقة .. وعند خروجك من الأعماق يراك اولادك &#8221; خارجاً معطراً من عند الذي تحبه نفسك &#8221; (نش ٣ : ٦) .</p>
<p>رأيتك .. وسمعتك عندما تصلي طقس سر المعمودية .. ثم نظرتك فجأة صامتاً .. ثم منطرحاً على جرن المعمودية .. فسألت أين ذهبت يا أبي ؟! ولماذا انخفض صوتك ؟! ومع من أنت تهمس ؟! وترى ماذا تقول .. ؟ !</p>
<p>اسمح لي .. ودعني أقول لأبنائك أين ذهبت ؟! وماذا قلت ؟!</p>
<p>أمام جرن المعمودية .. أنت سجدت وانطرحت .. وهناك انطلقت نفسك تحمل صلاتك المنسحقة .. وفي أذن واضع الأسرار صرخت قائلاً..&#8221; يا رب لا يرجعن المذلول من عندك خازياً.. كن لي غافراً .. وامنحني أن أجد نعمة لكي أتمم خدمة هذا السر ..&#8221; .</p>
<p>أنت واقف معنا .. ولكنك تغوص في أعماق الأسرار وحدك وتدخلها بأمانتك ..</p>
<p>أعماقك ترى أعماق الأسرار .. وأعماق الأسرار .. لا يقدر أن يتصورها عقل .. ولا يقدر أن يشبع من التلذذ بها ..</p>
<p>سألت نفسي ؟! عن سر شبعك ؟ ! .. رأيت الذي أنت تلتقي به كل يوم في كل الأسرار .. هو الذي يعطي المتوكلين عليه من كل قلوبهم الأشياء التي تشتهي أن تراها الملائكة ..</p>
<p>من مثلك يحيا في الشبع .. لأنك دائماً مع الله الغنى بنفسه .. القدوس ..القدير .. المقتدر في كافة أعماله ..</p>
<p>سألت عن سر قناعتك ؟! رأيتك واقفاً أمام الله العالم بكل شيء .. الجزيل الصلاح .. هو لا يعوزك لشيء .. هو يعطيك أكثر مما تسأل .. وقبل أن تطلب ..</p>
<p>طوباك يا وكيل الأسرار .. لأنك تتمتع بالله الحاضر معك في كل الأسرار .. هو الذي يتكلم في الأسرار وانت تسمعه .. وفي الأسرار أنت أيضاً تهمس في أذنه بالصلوات .. وهو يسمعك ..</p>
<p>طوباك .. لأنك إناء مختار من قبل الله .. هو يعمل فيك وبك ..</p>
<p>أنت إناء للرب بك يطعم ويسقي .. ويروي ويغسل وينقي ويطهر .. ويقدس .. ويشعل .. ويشفي .. ويبارك ..</p>
<p>طوباك يا وكيل الأسرار .. لأن الله قبل أن يعمل بك هو يعمل فيك أولا .. فالأسرار وضعها كأنية في يديك .. فصرت حاملاً لآنية الرب .. وهو يطلب من حامليها أن يتنقوا (أش ٥٢ : ١١) دائماً ..</p>
<p>من الذي سقى الرعية الناطقة هذه التعاليم السامية ألست أنت أيها الإناء المختار ؟!</p>
<p>من الذي روى الرعية وعلمها بأن الحواس هي آنية للرب .. وعلي الرعية كلها أن تتقدس لأنها حاملة لآنية الرب .. ألست أنت ؟! من مثلك .. لأن معرفتك بواضع الأسرار جعلتك تشتاق أن تعطي قلبك بالكامل لله .. وجعلتك ترجو من الناس أن يسمعوا قول السيد الرب &#8221; يا ابني أعطني قلبك &#8221; (أم ٢٣) .. أنت الذي عرفتهم بأن القلب لا يقبل من القسمة على إثنين ..</p>
<p>الساكن في الأعالي هو الذي منحك هذه النعمة التي أنت فيها .. وأنت دائماً تحكي لنا عن الأبدية المفرحة المعدة لأولاد الله .. ومن كلامك نحن نشتاق .. فكم تكون اشتياقاتك لها ؟!</p>
<p>اقترابك المستمر من أولادك لكي لا يهلك منهم أحد كشف لك كيف تتعمر النفس ؟! وكيف تُدمر ؟ ! .. كشف لك كيف تعمل الوصية في النفس ؟! كيف يبني الإنسان حياته على الصخر ؟! وكيف يعمرها ؟! وكيف يزينها بالفضيلة ؟!</p>
<p>أنت تنادي الكل لكي يتمسكوا بالوصية التي في الأسرار المقدسة لكي ينجو من أمراض البخل والأنانية والشك وتذكر الشرور هذه التي تدمر النفس وتهلكها ..</p>
<p>من مثلك .. وأنت تتفرس في الله الساكن في الأسرار ومؤسسها .. ترى بابه مفتوحاً لكل من يقبل إليه .. وترى يمينه مبسوطة لمن يريد أن يأخذ .. ها أنت تتشبه بخالقك لذا باب قلبك مفتوح للكل .. ويدك سخية للعطاء ..</p>
<p>من مثلك كل يوم تزداد خبرته في الحياة العملية .. بأن محبة العالم خدعت كثيرين .. لأنك لمست ورأيت كم من الناس كانوا يهتمون ويبنون .. ولكنهم لم يسكنوا .. كم من الناس جمعوا .. وغيرهم بددوها .. خبرتك جعلتك تعلم بأعمالك .. وأعمالك هي انشغالك بالخير للغير .. والذين يعملون مثلك يقتنون الأبدية.<a href="#_ftn9" name="_ftnref9">[9]</a></p>
<h4>القديس الأرشيدياكون حبيب جرجس</h4>
<p>+ يسوع باب الخراف والراعي الصالح (يو١٠: ١ - ١٦)</p>
<p>&#8221; أنا هو الراعي الصالح والراعي الصالح يبذل نفسه عن الخراف &#8221; (يو١٠: ١١)</p>
<p>(أولا ً) شبه المسيح نفسه بالراعي وكثيراً ما عبر في العهد القديم عن الله وشعبه بالراعي والغنم . وعن رؤساء اسرائيل. بالرعاة . وكان أعظم رجال العهد القديم رعاة كابراهيم واسحق و يعقوب وموسى وداود .(ثانياً) المسيح هو الراعي الصالح الامين لخرافه لثلاثة اسباب (١) أنه يعني باعداد كل ما تحتاج خرافه (۲) انه حنون وشفوق عليها (٣) انه حريص على حمايتها ووقايتها من الخطر ويسوسها بكل رفق.(ثالثاً) هذا الراعي الصالح بذل نفسه عن خرافه وهى العلامة المميزة للراعي الصالح من غيره وهى انه يخاطر بنفسه لحماية غنمه كما فعل داود في وقاية غنمه من الدب والاسد (١صم ١٧ : ٣٤ – ٣٥) والمسيح لم يخاطر بحياته فقط بل بذل نفسه من أجلنا .(رابعاً) الغاية العظمى التي جاء لاجلها المسيح هي في قوله « اتيت لتكون لهم حياة » واكمل هذا القصد بأربعة أمور (۱) اعلانه ان الحياة التي اتى ليمنحها هي روحية واننا في أشد الحاجة اليها (۲) شراؤه تلك الحياة لنا بدمه (۳) دعوته الناس للإيمان به لقبول هذه الحياة (٤) هبته هذه الحياة للمؤمنين به .</p>
<p>+ خراف المسيح (یو١٠: ۲۲ و ۳۸)</p>
<p>&#8220;خرافى تسمع صوتى وأنا أعرفها فتتبعني وأنا أعطيها حياة أبدية &#8221; (یو١٠ : ۲۷ و ۲۸)</p>
<p>(أولاً) عيد التجديد عينه يهوذا المكابي سنة ١٦١ ق م تذكاراً لتطهير الهيكل بعد ان نجسه انطيوخس ابيفانس سنة ١٦٤ ق م لان انطيوخس اخرب اورشليم وقتل ار بعين الفاً من اهلها و باع اربعين اسرى وذبح خنزيرة على مذبح الهيكل وسمي هذا العيد عيد الانوار لكثرة المصابيح التي كانت توقد وكانت المدينة تحتفل به ثمانية أيام .(ثانياً) طلب اليهود من المسيح ان يعلن لهم ذاته جهراً فلما قال لهم عن نفسه انه والآب واحد لم يؤمنوا وارادوا ان يرجموه ولكنه سبق وقال لهم انهم ليسوا من خرافه .(ثالثاً) ان وجوه الشبه بين المؤمنين بالمسيح والخراف (۱) عدم الاذى (٢) الدعة (٣) الضعف والاحتياج الى راع والتعرض للضلال والعجز عن مقاومة الاعداء (٤) الطاعة وقبول التعليم .(رابعا) دعا المسيح مخلصنا المؤمنين به خرافه (١) لمحبته لهم (۲) لا نهم عطية أبيه له (٣) لانه فداهم واشتراهم بدمه (٤) لانه اختارهم ودعاهم (٥) لانه يرعاهم ويحميهم ويعني بهم (٦) لانهم سلموا أنفسهم له طوعاً واختياراً .(خامساً) وعد المسيح خرافه بأن لا يخطفها احد من يده (١) لانهم ميراثه من الآب (۲) لان يسوع اشترى لهم الحياة الابدية ومنحها لهم (٣) تعهد الآب والابن معاً بوقايتهم من الهلاك (٤) ليس من قوة في العالم تقاوم قوة الله ومقاصده الخيرية لهم<a href="#_ftn10" name="_ftnref10">[10]</a>.</p>
<h3>من وحي قراءات اليوم :</h3>
<p>&#8221; وأنا فخير لي الإلتصاق بالله وأن أجعل علي الرب إتكالي &#8221;              مزمور باكر</p>
<p>كفايتنا من الله</p>
<p>ما أصعب أن نتدرب علي هذا الإحساس أن يكون كل حاجتي إليه وكل إعوازي لديه</p>
<p>لكنها نعمة يُعطيها الله لمن يلجأ إليه كل يوم ويُسلِّم له كل تدبير حياته</p>
<p>تكون كفايتنا من الله عندما لا ننتظر شئ من الناس ولا نتوقع شئ</p>
<p>وعندما لا نُعطي آذانا صاغية لآرائهم فينا بمدح أو نقد</p>
<p>وعندما تكون علاقتنا مع الناس ترتكز علي ما نقدمه لهم</p>
<p>ومع الله علي ما يسدِّد جوعنا لبرّه</p>
<p>وننال كفايتنا منه وفيه عندما نلهج في كلمته ليلاً ونهاراً</p>
<p>وعندما يكون شكرنا وفرحنا وحزننا وضيقنا وضعفنا وفخرنا هو حديث لا ينقطع معه</p>
<p>ويكون جلوسنا عند قدميه وصمتنا هو طريق ملؤنا</p>
<p>وإنتظارنا لنوره هو رجاؤنا في ليل حياتنا وواقعنا</p>
<hr />
<p><a href="#_ftnref1" name="_ftn1"></a>١- القديس يوحنا كاسيان</p>
<p>تفسير سفر ارميا إصحاح ٢٣ - القمص تادرس يعقوب ملطي</p>
<p><a href="#_ftnref2" name="_ftn2"></a>٢- تفسير مزمور ١٠٧ - أبونا تادرس يعقوب ملطي</p>
<p><a href="#_ftnref3" name="_ftn3"></a>٣- المرجع: كتاب رسائل القديس كيرلس إلي نسطور ويوحنا الأنطاكي صفحة ١٤ - ترجمة دكتور نصحي عبد الشهيد</p>
<p><a href="#_ftnref4" name="_ftn4"></a>٤- المرجع : كتاب الآباء والعقيدة صفحة ١٧٤ - ترجمة دكتور سعيد حكيم يعقوب</p>
<p><a href="#_ftnref5" name="_ftn5"></a>٥- المرجع : مجلة مدارس الأحد عدد شهر فبراير لسنة ١٩٥٥</p>
<p><a href="#_ftnref6" name="_ftn6"></a>٦- المرجع : كتاب عظات علي سفر التكوين للقديس يوحنا ذهبي الفم ( صفحة ٨٣ ) - ترجمة دكتور جورج فرج ومراجعة دكتور جورج عوض إبراهيم</p>
<p><a href="#_ftnref7" name="_ftn7"></a>٧- المرجع : كتاب الحب الإلهي ( صفحة ١٤ ) - القمص تادرس يعقوب ملطي</p>
<p><a href="#_ftnref8" name="_ftn8"></a>٨- المرجع : كتاب نظم الياقوت في سر الكهنوت ( صفحة ٩ ) - الأنبا إيسيذوروس أول أسقف لدير البراموس - مشروع الكنوز القبطية</p>
<p><a href="#_ftnref9" name="_ftn9"></a>٩- المرجع : كتاب شفتاك يا عروس تقطران شهداً ( الجزء الرابع صفحة ١٢٣  ) - إصدار دير الأنبا شنوده العامر بإيبارشية ميلانو</p>
<p><a href="#_ftnref10" name="_ftn10"></a>١٠- المرجع : كتاب الكنز الأنفس للارشيدياكون حبيب جرجس ( الجزء الثالث ) - مشروع الكنوز القبطي</p>

      {% endcreateArticleAccordions %}
    </section>
  {% endblock %}
  