---
layout: 'layouts/reading.html'
title: 'اليوم الخامس من أبيب'
tags: 'annual'
permalink: /articles/annual/11-5.html
---
  {% block content %}
    <section id="readings">
      <ul>
      {% if 'undefined' != 'undefined' %}
      
      {% else %}
      {% if '19.68:11,35' != 'null' %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">العشية</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeVespers '19.68:11,35' '41.3:7-21' %}
          </div>
        </div>
      </li>
      {% endif %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">باكر</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeMatins '19.145:10-12' '42.6:12-23' '' %}
          </div>
        </div>
      </li>
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <h3 class="flex items-center justify-between">
            <span class="kufi">القداس</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </h3>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeLitugy '45.10:4-18' '61.1:12-21' '44.3:1-16' '19.19:1,4' '40.10:1-15' %}
          </div>
        </div>
      </li>

      {% endif %}
        </ul>
    </section>
    <section id="article">
      <h3 class="mt-8 mb-4 heading-explain">شرح القراءات</h3>
      {% createArticleAccordions %}
        <p><strong>(تذكار شهادة أبائنا القديسين بطرس وبولس الرسولين )</strong></p>
<p>فإن الذي عمل في بطرس لرسالة الختان عمل في أيضا للأمم</p>
<p>(غل ٢: ٨)</p>
<p>أما بطرس وبولس الرسولان، فكان ظل أحدهما يشفى الأمراض، وكانت مناديل وعصائب الآخر تذهب الأمراض، وتخرج الأرواح الشريرة.</p>
<p>قسمة صوم الرسل</p>
<p>الكلمات &#8220;أقوم في نصف الليل&#8221; ليست بلا قيمة. فإنّهم يعرفون أنّه في تلك الساعة قُتل أبكار المصريّين، وفي ذلك الوقت انحلّت قيود بطرس وبولس وسيلا الذين ألقوا في السجن، وأيضًا يأتي العريس في نصف الليل (مت ٢٥: ٦)<a href="#_ftn1" name="_ftnref1">[1]</a>)</p>
<h3>شواهد القراءات</h3>
<p>(مز ٦٧: ١٣، ٣٣) ، (مر ٣ : ٧ - ٢١) ، (مز ١٤٤ : ٨ ، ٩) ، (لو ٦ : ١٢ - ٢٣) ، (رو ١٠ : ٤ - ١٨) ، (٢بط ١ : ١٢ - ٢١) ، (أع ٣ : ١ - ١٦) ، (مز ١٨ : ١ ، ٤) ، (مت ١٠ : ١ - ١٥)</p>
<h3>ملاحظات على قراءات يوم ٥ أبيب</h3>
<p>+ قراءات اليوم هي نفس قراءات يوم ٢٦ بشنس (تذكار توما الرسول) ما عدا إنجيل القدَّاس ، وهو الذي يتكلم هنا عن دعوة الرب للتلاميذ الإثني عشر ، أمّا قراءة إنجيل القداس ليوم ٢٦ بشنس فهي تخص ظهور الرب مرة ثانية للتلاميذ لأجل توما</p>
<p>+ قراءة البولس اليوم (رو ١٠: ٤ - ١٨) تكررت في قراءات أيّام ٤ طوبه ، ٢٦ بشنس ، ١ نسئ</p>
<p>وهي القراءة التي تختص ببرّ العهد الجديد وكرازة الرسل للشعوب والأمم</p>
<p>لذلك جاءت في تذكار يوحنا الحبيب ( ٤ طوبه ) وتلميذه ( ١ نسئ ) وتوما الرسول ( ٢٦ بشنس ) وبطرس وبولس الرسولين ( ٥ أبيب )</p>
<p>+ قراءة الكاثوليكون اليوم (٢بط ١ : ١٢ - ٢١) هي نفس قراءة الكاثوليكون في أيَّام ٦ طوبه ، ٢٦ بشنس ، ١٣ مسري ، وتُشبه قراءة الكاثوليكون في يوم ٢٩ كيهك (٢بط ١ : ١٢ - ١٧) ، وقراءة الكاثوليكون في يوم ١٠ طوبه (٢بط ١ : ١٢ - ١٩)</p>
<p>جاءت القراءة اليوم لأجل شهادة القديس بطرس أن الآباء الرسل لم يتبعوا خرافاتٍ بل عاينوا عظمة الكلمة المُتجسّد ، لذلك جاءت في تذكار توما الرسول ( ٢٦ بشنس ) وفِي تذكار القديسين بطرس وبولس ( ٥ أبيب )</p>
<p>وجاءت في برامون الغطاس لأجل شهادة الآب عن الإبن أنه &#8221; إبني الحبيب الذي به سُررت ( ١٠ طوبه )</p>
<p>وجاءت في عيد الختان ونور إبن الله الذي أُستعلن للأمم ( ٦ طوبه )</p>
<p>وأيضاً في أعياد الظهور الإلهي لأجل إستعلان مجد الله للبشرية في عيد الميلاد ( ٢٩ كيهك )</p>
<p>كما نري هنا شهادة القديس بطرس عن ظهور مجد إبن الله في التجلّي ( وقد سمعنا نحن هذا الصوت من السماء حين كنّا معه علي الجبل المُقدَّس ) لذلك جاءت في عيد التجلّي ( ١٣ مسري )</p>
<p>+ قراءة الإبركسيس (أع ٣ : ١ - ١٦) اليوم تكررت في أيام  ٤ طوبه ، ٢٦ بشنس ، ١نسئ</p>
<p>تتكلّم هذه القراءة عن ذهاب القديس بطرس والقديس يوحنا للهيكل للصلاة ومعجزة شفاء المُقعد من بطن أُمه وشهادة القديس بطرس أمام الجميع بقوة قيامة المسيح</p>
<p>لذلك تأتي في تذكار يوحنا الحبيب (٤ طوبه ) وتذكار بطرس وبولس (٥ أبيب ) وأبو يحنس تلميذ يوحنا الحبيب ( ١ نسئ ) وأيضاً في تذكار توما الرسول ( ٢٦ بشنس )</p>
<p>ومجيئها اليوم لأجل ما جاء فيها عن أن الرسل هم شهود موت المسيح وقيامته</p>
<h4>القراءات المُحوَّلة على قراءة هذا اليوم</h4>
<p>ثامن عشر هاتور       شهادة فيلبس الرسول أحد الإثني عشر</p>
<p>رابع كيهك               شهادة أندراوس الرسول أخي بطرس وأحد الإثني عشر</p>
<p>حادي وعشرون كيهك شهادة برنابا الرسول أحد السبعين ورفيق بولس</p>
<p>عاشر أمشير             شهادة يعقوب بن حلفي أحد الإثني عشر</p>
<p>حادي وعشرون أمشير شهادة أنيسيموس تلميذ بولس الرسول</p>
<p>ثامن برمهات         شهادة متياس الرسول أحد الإثني عشر</p>
<p>سابع عشر برمودة  شهادة يعقوب بن زبدي الكبير أحد الإثني عشر</p>
<p>ثامن عشر أبيب    شهادة يعقوب البار أخي الرب</p>
<p>تاسع وعشرون أبيب نقل أعضاء أندراوس الرسول إلي القسطنطينية</p>
<h3>شرح القراءات</h3>
<p>إختارت الكنيسة قراءات اليوم لتناسب تذكار شهادة أبائنا القديسين بطرس وبولس</p>
<p>وقراءات اليوم تُعْلِن لنا كرازة آبائنا الرسل ومنهج حياتهم وقوّة شهادتهم للمسيح له المجد</p>
<p></p>
<p>تبدأ المزامير بأساس الكرازة ومصدر قوتها ( مزمور عشيّة ) وطبيعة الكارزين وحياتهم ( مزمور باكر ) وعمل الله في خدمتهم وكرازتهم ( مزمور القدَّاس )</p>
<p></p>
<p>في مزمور عشيّة نري أساس ومصدر الكرازة القوّة التي يعطيها الله لخدّامه ولشعبه وكيف يُعْلِن مجده وعجائبه فيهم</p>
<p>( الرب يعطي كلمة للمبشرين بقوة عظيمة عجيب هو الله في قديسيه إله إسرائيل هو يعطي قوة وعزاً لشعبه )</p>
<p>وفِي مزمور باكر نري قداستهم وتسبيحهم وتمجيدهم للقدرة الإلهية</p>
<p>( قديسوك يباركونك ومجد ملكك يصفون وبقوتك ينطقون ليُظهروا لبني البشر قدرتك )</p>
<p>وفِي مزمور القدَّاس نري عمل الله في كرازتهم وكيف أثّرت كرازتهم في العالم كله</p>
<p>( السموات تذيع مجد الله الفلك يخبر بعمل يديه في كل الأرض خرج منطقهم وإلي أقطار المسكونة بلغت أقوالهم )</p>
<p></p>
<p>وفِي القراءات نتقابل مع دعوة الآباء الرسل والبشارة المُفرحة لكل العالم ( البولس ) وخدمة الكلمة وعملها المُعجزي في النفوس ( الكاثوليكون ) والآيات التي تتبع الكارزين وقوّة شهادتهم لرئيس الحياة ( الإبركسيس )</p>
<p></p>
<p>في البولس نري الله هو الذي يدعو للخدمة والكرازة بالإنجيل والبشارة المُفرحة التي وصلت إلي أقاصي المسكونة</p>
<p>( وكيف يسمعون بلا كارز وكيف يكرزون إن لم يُرسلوا كما هو مكتوب ما أجمل أقدام المبشرين بالخيرات … إذا الإيمان بالسمع والسمع بكلمة المسيح لكنني أقول ألعلّهم لم يسمعوا وكيف ذلك وقد خرج صوتهم إلي الأرض كلها وإلي أقاصي المسكونة بلغت أقوالهم )</p>
<p>وفِي الكاثوليكون نري قوّة الكلمة الإلهية في الآباء الرسل التي تفوق المعجزات والتي تخترق ظلمة القلوب وتملأها بالنور الإلهي وعمل الروح القدس في الوحي المقدس وكيف كان يقود الذين كتبوا ويعصمهم من الخطأ دون أن يمحي شخصيتهم في الكتابة</p>
<p>( لأننا لم نتبع خرافات فلسفية إذ عرفناكم بقوة ربنا يسوع المسيح وظهوره بل قد كنا معاينين عظمته … حين كنا معه علي الجبل المقدَّس وثابت عندنا كلام الأنبياء هذا الذي هو نعم ما تصنعونه إذا تأملتم إليه كمثل سراج مضئ في موضع مظلم حتي يظهر النهار والنور يشرق ويظهر في قلوبكم وهذا أولاً فاعلموه أن كل نبوّات الكتب ليس تأويلها فيها من ذاتها خاصة وليست بمشيئة البشر جاءت نبوة في زمانٍ بل تكلَّم أناس بإرادة الله بالروح القدس )</p>
<p>وفِي الإبركسيس يدعم الله خدمة أولاده وكارزيه بالمعجزات ويظهر غني وعظمة وقوّة إسم المسيح ونري أيضاً شهادة القديس بطرس أمام الجموع وتبكيته لهم علي إنكارهم القدّوس والعجيب أنه يبكِّتهم بعد تقريباً وقت قليل ( رُبَّما شهور أو أقل )  من إنكاره أمام جارية وهذا يُظْهِر عمل ملء الروح القدس في الكارز والخادم في أعلي مستويات الشفاء النفسي والروحي وقبول غني عمل النعمة في تبكيت الآخرين</p>
<p>( فقال له بطرس ليس لي فضة ولا ذهب ولكن الذي لي فإياه أعطيك باسم يسوع المسيح الناصري قم وأمش وأمسكه بيده اليمني وأقامه ففي الحال تشدَّدت ساقاه وكعباه فوثب ووقف وصار يمشي … فلما رأي بطرس أجاب الشعب : أيها الرجال الإسرائيليون لماذا تتعجبون من هذا ولما تشخصون إلينا كأننا بقوتنا أو تقوانا صنعنا هذا ان جعلنا هذا يمشي إن إله إبراهيم وإله إسحق وإله يعقوب إله آبائنا مجَّد فتاه يسوع هذا الذي أسلمتموه انتم وأنكرتموه أمام بيلاطس وهو كان حاكم باطلاقه وأما أنتم فأنكرتم القدّوس والبار وطلبتم أن يُطلق لكم رجل قاتل ورئيس الحياة قتلتموه هذا الذي أقامه الله من الأموات ونحن شهود لذلك )</p>
<p></p>
<p>وفِي الأناجيل نري ترتيب دعوة الآباء الرسل ( إنجيل عشيّة ) وقوّة دعوة الخدمة وطبيعة الخدّام ( إنجيل باكر ) ونقاوة ورسم الخدمة ( إنجيل القدَّاس )</p>
<p></p>
<p>يأتي في إنجيل عشيّة ترتيب الدعوة فالله يعرف من يتبعوه ومن يريدهم معه وينتخبهم ويجعلهم يمكثون معه ويرسلهم ويعطيهم سلطان</p>
<p>( ثم صعد إلي الجبل ودعا الذين أرادهم فذهبوا إليه فإنتخب إثني عشر وسماهم رسلاً ليمكثوا معه وليرسلهم ليكرزوا ولكي يكون لهم سلطان علي شفاء الأمراض واخراج الشياطين )</p>
<p>وفِي إنجيل باكر عن قوّة الدعوة في الصلاة طول الليل قبل دعوتهم لتكون دعوتهم بالتدبير الإلهي للآب والإبن كما يتكلَّم عن طبيعة خدّام الله مساكين بالروح وجياع ومساكين ومُضطهدين</p>
<p>( وفِي تلك الأيام خرج إلي الجبل ليصلّي وكان ساهراً في الصلاة لله ولما كان النهار دعا تلاميذه واختار منهم إثني عشر الذين سماهم رسلاً … لأن قوة كانت تخرج منه وتشفّي الجميع ورفع عينيه إلي تلاميذه وقال لهم طوباكم أيها المساكين بالروح لأن لكم ملكوت الله )</p>
<p>وفِي إنجيل القدَّاس يُعطي الرب وصايا لخدّامه وكارزيه لأجل نقاوة خدمتهم ويُعْلِن لهم رسم الخدمة</p>
<p>( هؤلاء الإثني عشر أرسلهم يسوع وأوصاهم قائلاً إلي طريق أمم لا تذهبوا وإلي مدينة للسامرين لا تدخلوا بل إذهبوا بالحريّ إلي خراف بيت إسرائيل الضالة … لا تقتنوا لكم ذهباً ولا فضة ولا نحاسا في مناطقكم ولا مزودا لكم في الطريق ولا ثوبين ولا أحذية ولا عصا )</p>
<h3>ملخّص القراءات</h3>
<p>مجد الله مُعلن في قديسيه وفِي خدمتهم وفِي كل الكون   مزمور عشيّة وباكر والقدّاس</p>
<p>الرسل يٌبشِّرون بالخيرات ويٌعرِّفون بقوة ربنا يسوع المسيح وغناهم إسمه القدّوس. البولس والكاثوليكون والإبركسيس</p>
<p>الخدمة تعتمد علي دعوة الرب والقوة التي تخرج منه ونقاوة حياة الخدّام      البولس والكاثوليكون والإبركسيس</p>
<h3>أفكار مقترحة للعظات</h3>
<h4>(١) الكارزين</h4>
<p>+ عمل الله فيهم ومعهم</p>
<p>+ &#8221; الرب يعطي كلمة للمبشرين بقوةٍ عظيمةٍ &#8221;             مزمور عشيّة</p>
<p>+ &#8221; ومجد ملكك يصفون وبقوتك ينطقون &#8221;                 مزمور باكر</p>
<p>+ &#8221; في كل الأرض خرج منطقهم &#8221;                         مزمور القدَّاس</p>
<p>+ الصلاة أساس خدمتهم</p>
<p>&#8221; وفِي تلك الأيام خرج إلي الجبل ليصلي وكان ساهراً في الصلاة لله &#8221;       إنجيل باكر</p>
<p>+ سلطانهم</p>
<p>&#8221; ليكرزوا ولكي يكون لهم سلطان علي شفاء الأمراض &#8221;         إنجيل عشيّة &#8221;</p>
<p>&#8221; بإسم يسوع المسيح الناصري قم وأمش وأمسكه بيده اليمني وأقامه ففي الحال تشدَّدت ساقاه وكعباه &#8221;    الإبركسيس</p>
<p>+ رسالتهم</p>
<p>&#8221; وكيف يسمعون بلا كارز وكيف يكرزون إن لم يرسلوا كما هو مكتوب ما أجمل أقدام المبشرين بالخيرات &#8221;   البولس</p>
<p>+ إختبار الكارزين</p>
<p>&#8221; لأننا لم نتبع خرافاتٍ فلسفيةٍ إذ عرفناكم بقوة ربنا يسوع المسيح وظهوره &#8221;   الكاثوليكون</p>
<p>+ وصايا الله لهم</p>
<p>&#8221; لا تقتنوا لكم ذهباً ولا فضة ولا نحاساً في مناطقكم ولا مزوداً لكم في الطريق ولا ثوبين .. &#8221;   إنجيل القدَّاس</p>
<h4>(٢) ماهي الكنيسه كما صورها ورسمها لنا سفر اعمال الرسل ( سمات الكنيسة من خلال آية من كل إصحاح من سفر الأعمال  )</h4>
<p>هي التي تصلي معا في انتظار ملء الروح (أع ١ : ١٤)</p>
<p>هي التي تجسد الحب الالهي في عبادتها وشركه اعضاءها (أع ٢ : ٤٢)</p>
<p>هي التي تعلن اقوي ماتملك اسم مخلصها (أع ٣ : ٦)</p>
<p>لاتعرف رد فعل لمقاومه العالم أقوي من الصلاه (أع ٤ : ٢٣ ، ٢٤)</p>
<p>يخونها بعض اعضائها (أع ٥ : ١ ، ٢)</p>
<p>يختار شعبها الروحاني قادته بمباركه رعاته  (أع٦ : ٣ - ٥)</p>
<p>هي من يكون شمامستها مملوئين من روح الله (أع ٧ : ٥٥)</p>
<p>تنتهر سحر العالم (أع ٨ : ٩ - ١٣)</p>
<p>يدافع عريسها شخصيا عنها (أع ٩ : ٣ ، ٤)</p>
<p>هي التي تجتذب اتقياء من خارج حظيرتها (أع ١٠ : ١)</p>
<p>يسند اعضاءها اخوتهم في شدائدهم (أع ١١ : ٢٧ - ٢٩)</p>
<p>يسيئ اليها ملوك العالم لكن في حدود مايسمح به مخلصها (أع ١٢ : ١ - ٣)</p>
<p>هي التي يدعو الروح دائما فيها خدام للكرم الالهي (أع ١٣ : ٢)</p>
<p>لايسلب رعاتها مجد الله لهم (أع ١٤ : ١٤ ، ١٥)</p>
<p>فيها بشريه الرعاه ونزاعاتهم الشخصيه (أع ١٥ : ٣٩)</p>
<p>لاتسكتها قيود العالم (أع ١٦ : ٢٦)</p>
<p>تستاسر افكار ومعتقدات العالم الي فكر المسيح (أع ١٧ : ٢٢ ، ٢٣)</p>
<p>لاتنحصر في طائفيه (أع ١٨ : ٢٥)</p>
<p>يعرف قدرها ويرتعب منها ابليس (أع ١٩ : ١٣ - ١٧)</p>
<p>تاسست علي ذبيحه الافخارستيا والرعايه الكهنوتيه (أع ٢٠ : ٧ ، ٢٨)</p>
<p>تاخذ فيها المراه قمه الموهبه الكنسيه مثل الرجل (أع ٢١ : ٩)</p>
<p>يعرف خدامها كيف ومتي يطالبون بحقوقهم (أع ٢٢ : ٢٥)</p>
<p>هي التي ياخذ فيها الخادم قوه خدمته من الله راسا (أع ٢٣ : ١١)</p>
<p>لاتستعفي من الموت لكن ايضا لاتقبل الظلم (أع ٢٥ : ١١)</p>
<p>تسعي لخلاص الكل حتي المقاومين (أع ٢٦ : ٢٩)</p>
<p>توازن بين الدور الالهي والدور البشري (أع ٢٧ : ٢٥ ، ٢٦)</p>
<p>يتعزي ويتقوي رعاتها من قوه ايمان رعيتها (أع ٢٨ : ١٥)</p>
<h4>( ٣ ) بين القديس بطرس والقديس بولس</h4>
<p>+ أؤتمن القديس بطرس علي الكرازة لليهود ( رسول اليهود ) وأؤتمن القديس بولس علي الكرازة للأمم ( رسول الأمم )</p>
<p>+ كتب القديس بولس ١٤ رسالة ( ١٠٠ إصحاح ) وكتب القديس بطرس رسالتين ( ٨ إصحاحات )</p>
<p>+ كان القديس بطرس إنساناً بسيطاً في تعليمه وثقافته ، بينما كان القديس بولس من علماء عصره</p>
<p>+ كان القديس بولس بتولاً ، والقديس بطرس متزوجاً</p>
<p>+ بدأ القديس بطرس خدمته في سن كبير ، بينما بدأ القديس بولس خدمته في سن الشباب</p>
<p>+ كانا متشابهين في عمل المعجزات مثل شفاء الأعرج (أع ٣ ، ١٤) ، شفاء المرضي بطريقة فريدة (أع ٥ ، ١٦) ، إنتهار الساحر بسلطان (أع ٨ ، ١٣) ، إقامة ميت (أع ٩ ، ٢٠)</p>
<p>+ كان خروجهما من السجن بطريقة معجزية (أع ١٢ ، ١٦)</p>
<p>مُستوحاة من كتاب المتنيح البابا شنوده الثالث عن القديسين بطرس وبولس</p>
<h3>عظات آبائية</h3>
<h4>لأجل تذكارات الرسل عند القديس كيرلس الكبير</h4>
<p>(لو ۱۰ :٤-٧)&#8221;لا تحملوا کیسا ولا مزودا ولا أخذية ، ولا تسلموا على أحد في الطريق . وأي بيت دخلتموه فقولوا أولا : سلام لهذا البيت . فإن كان هناك ابن السلام يحل سلامكم عليه ، وإلا فيرجع إليكم . وأقيموا في ذلك البيت اكلين وشاربين مما عندهم ، لأن الفاعل مستحق اجرته . لا تنتقلوا من بيت إلى بيت &#8220;.</p>
<p>النحلة الحكيمة الماهرة تزور الزهور في الحقول والمروج ، وتجمع الأكل من عليها ومنه تصنع العسل الحلو ، والحكيم سليمان يدعونا لنحاكيها في سلوكها فيقول : &#8221; اقترب من النحلة وتعلم من كدها ، وكم هو رائع نتاجها ، لذلك فهو ممدوح و محبوب من كل الناس ، ومن ( نتاجها ) يستخدم الملوك والعظماء لأجل صحتهم &#8221; (أم ٦ : ٨) . تعال الآن إذن ودعنا نتجول في المروج العقلية لنجمع الندى المتساقط من الروح القدس على رسالة الإنجيل الإلهية ، حتى إذا ما امتلأت عقولنا بالغنى نحصل على العسل الروحاني ، أي الكلمة المفيدة والنافعة لكل العطاش لوصول التعاليم الإلهية ، إن كانوا نبلاء مشهورين أو خاملي الذكر أو بسطاء في دعة من الحياة ، لأنه مكتوب &#8221; الكلمات الطيبة كقرص الشهد وحلاوتها شفاء للنفس &#8221; (أم ٢٤:١٦) .</p>
<p>والآن ماذا تكون هذه الكلمات الطيبة الرقيقة إلا ما يقوله لنا المسيح ، جاعلاً هؤلاء الذين يحبونه حاذقين بسبب تكرار تعليمهم في السعي المقدس ؟ وخذ دليلا على كلامي هذه العبارات التي تليت على مسامعنا الآن : &#8221; لا تحملوا کیسا ولا مزودا ولا أحذية &#8221; . أتوسل إليك تفهم طبيعة طريق القداسة الرسولي المرسوم لهم ، لأنه يجب على هؤلاء الذين سيصيرون أنوارا ومعلمين لكل الذين تحت السماء ألأ يتعلموا من آخر سوى الذي هو الكلمة الذي نزل من فوق ، من السماء ، نبع الحكمة والنور العقلي ، الذي منه يأتي كل فهم ومعرفة وكل صلاح . ما يريده منهم إذن هو أنهم عندما يعلمون الناس في كل مكان بالكلمة التي قالها لهم ، وفي دعوتهم لسكان الأرض كلها للخلاص ، يجب عليهم ان يسافروا بلا كيس ولا مزود ولا احذية ، وأن يمضوا بسرعة من مدينة إلى مدينة ومن مكان إلى مكان . ولكن يجب ألا يقول أحد بأي حال أن الهدف من تعليمه هذا هو ان يجعل الرسل يرفضون استخدام الادوات الطبيعية ، لأنه ماذا ينفعهم او ماذا يضرهم إذا كان لهم حذاء في ارجلهم أو يمضوا بدونه ، ولكن الذي يرغب أن يعلموه من هذه الوصية وأن يجتهدوا أن يمارسوه هو هذا بالتأكيد : ينبغي أن يلقوا بكل تفكير في احتياجهم وقوتهم عليه ، وأن يذكروا القديس الذي قال : &#8221; ألق على الرب همك فهو يعولك &#8221; (مز ٥٤ : ٢٢) لأنه يعطي القديسين ما يلزمهم للحياة ، وهو لا يتكلم عبثا حيث يقول : &#8221; لا تهتموا لحياتكم بما تأكلون وبما تشربون ، ولا لأجسادكم بما تلبسون ، لأن أباكم السماوي يعلم انكم تحتاجون إلى هذه كلها . لكن اطلبوا اولاً ملكوت الله وبره وهذه كلها تزاد لكم (مت٢٥:٦) .</p>
<p>لأنه كان لها لائقاً جداً بهؤلاء المرحلين بالكرامات الرسولية أن يكون لهم ذهن خال من الشهوة ، وكارها تماما لتقبل لهدايا ، بل وبالعكس قانعاً بما يمنحه الله ، لأنه كما يقول الكتاب : &#8221; لأن محبة المال أصل لكل الشرور &#8221; (١تي ٦ : ۱۰) ، لذلك كان يجب - - ومن كل جهة - أن يكونوا أحرارا ويكونوا معفين مما هو أصل ومغذي كل الشرور ، ويوجهوا كل غيرتهم إلى واجباتهم الضرورية ، فلا يتعرضوا هكذا لهجوم الشيطان إذ أنهم لا يأخذون معهم أي ثروة عالمية ، لكن يحتقرون أمور الجسد راغبين فقط في ما يريده الله.</p>
<p>وكما أن الجنود الشجعان عندما يمضون إلى المعارك لا يحملون معهم شيئا سوي ما يخص الحرب فقط ، هكذا كان لائقاً أن أولئك الذين أرسلهم المسيح ليعينوا العالم وليشنوا حربا ضد &#8220;ولاة العالم على ظلمة هذا الدهر&#8221; (اف ١٢:٦) ، نعم بل وضد الشيطان نفسه ، لحساب الذين كانوا في خطر ، يجب أن يكونوا أحرارا من جميع مجاذبات هذا العالم ومن كل اهتمام عالمي ، حتى يكونوا متمنطقين بإحكام ، ولابسين السلاح الروحي ، فإنهم يجاهدون باقتدار ضد أولئك الذين قاوموا مجد المسيح ، وقد جعلوا كل الذين تحت السماء غنيمة لهم ، لأنهم جعلوا سكانها يعبدون المخلوق بدلاً من الخالق ، وأن يقدموا خدمة دينية لعناصر الكون ، فيجب أن هؤلاء التلاميذ يتسلحون بترس الإيمان ودرع الحق وسيف الروح الذي هو كلمة الله ، حتى يبرهنوا أنهم بحق مقاومين للأعداء لا يقهرون ، فلا يجرون خلفهم حملا ثقيلا من الأشياء التي تستوجب اللوم والإدانة : كمحبة الغني ، والمدخرات من الأرباح الخسيسة ، والتلهف نحوهما ، لأن هذه الأشياء تحيد بذهن الإنسان عن السلوك الذي يرضي الله ، ولا تسمح له بالصعود نحوه ، بل بالحري تحدره إلى مشاعر متعلقة بالتراب والأمور الأرضية .</p>
<p>فبتوجيه الرب للتلاميذ الأ يحملوا كيسا ولا مزودا &#8230; وبالأكثر ألأ يشغلوا أنفسهم بالحذاء ، فهو إنما يعلمهم بوضوح أن وصاياه تلزمهم أن يتخلوا عن كل غني جسداني وأن يتحرروا من كل عائق عند دخولهم إلى العمل الذي دعوا خصيصا له : عمل الكرازة ، أي تعليم سر المسيح للناس ، في كل مكان ، وأن يربحوا إلى الخلاص الذين كانوا متورطين في شباك الهلاك .</p>
<p>ثم يضيف على هذا أنهم : &#8221; لا يسلموا على أحد في الطريق &#8220;، ولكن أي ضرر يسبب السلام للرسل القديسين ؟ تعالوا إذن ، تعالوا لنرى لماذا وجب الأ يسلموا على أحد من الذين يقابلونهم ، بلا شك سوف تقول إنه قد يحدث أن يقابلوا غير مؤمنين ، فلا يصح إذن لهؤلاء الذين لا يعرفون هذا الذي هو الله بالطبيعة وبالحق ، لا يصح أن يتقبلوا البركة من التلاميذ .</p>
<p>ماذا نقول ردا على هذا التفكير ؟ ألا يظهر أنه افتراض غير مقبول أن يكون هذا هو السبب الذي لأجله أوصاهم الرب ألأ يسلموا على أحد في الطريق ؟ لأنه أرسلهم لا ليدعوا أبرارا بل خطاة إلى التوبة (مت ٩: ۱۳) ، فكيف لا يكون مناسبا لهؤلاء الذين أرسلوا ليغيروا الذين في الظلمة ، وليأتوا بهم إلى معرفة الحق ، أن يستخدموا الرقة واللطف بدلا من أن يبتعدوا عنهم بخشونة ويرفضون مصاحبتهم ، بل وحتى يرفضون السؤال عن صحتهم ؟ فبالتأكيد إنه بالإضافة إلى الصفات الأخرى الجيدة ، فإن رقة الحديث مع صفات حسنة أخرى هي أمور تليق بالقديسين ، وهكذا التحيات ما دامت تؤدي بطريقة مناسبة . وقد يحدث أن يكون من يتقابلون معهم ، ليسوا من غير المؤمنين بل من نفس معتقدهم ، أو من الذين سبق أن استنيروا ، الذين يجب تقديم المحبة لهم عن طريق تحية رقيقة . فماذا يقصد المسيح إذن من تعليمه هذا ؟ إنه لا يوصيهم أن يكونوا شرسين ولا يأمرهم أن لا يهتموا بعدم التحية ، هو بالحري يعلمهم أن يتحاشوا مثل هذا التصرف . ولكن السبب هو أنه قد يحدث أنه بينما يسافر التلاميذ بين المدن والقرى ليعلموا الناس الوصايا المقدسة ، فإنهم قد يرغبون في أداء هذه المهمة ، ليس بسرعة بل بتلكؤ وإذ يحيدون عن الطريق ليروا صديقا أو أخر ، وهكذا فإنهم سيصرفون الوقت المناسب للتعليم بإضاعته في أشياء غير هامة ، لذلك فهو يقول لهم : كونوا متحمسين وفي اجتهاد شديد لتوصيل رسالتكم المقدسة ، وألا يبطئوا بلا سبب من أجل صداقة ما ، ولكن ليكن ما يرضي الله هو المفضل لديكم عن كل الأشياء الأخرى ، وهكذا إذ تمارسون اجتهادا لا يقاوم ولا يعرقل ، فإنكم تمسكون تماما باهتماماتكم الرسولية .</p>
<p>وإلى جانب ذلك هو يوصيهم أيضا قائلا : &#8221; لا تعطوا القدس للكلاب ولا تطرحوا درركم قدام الخنازير &#8221; (مت ۷ : 6) ، وذلك بأن يمنحوا لغير المؤمنين الشركة بالإقامة عندهم ، بدلا من أن يمنحوها متفضلين بها لمن يستحقون ، بأن يكونوا أبناء سلام ومطيعين لرسالتهم ، لأنه أمر مكروه لهم أن يقتربوا مع من لا يزال يقاوم مجد المسيح ، ويخطئ بعدم الإيمان ، لأنه &#8221; أي نصيب للمؤمن مع غير المؤمن ؟ &#8221; (اكو ۱۱ : ١٥) ، لأنه كيف يمكن للذين لم ينصتوا بعد لكلمات الرسل ، وللذين يجعلون من تعاليمهم الجديرة بالاعتناق ، فرصة أحيانا للسخرية ، كيف يمكن لهؤلاء أن يقبلوا الرسل كمستحقين لإعجابهم ؟ وهذا ما حدث في أثينا أيضا ، فالبعض هزءوا ببولس الإلهي لما علمهم &#8220;أن الله لا يسكن في هياكل مصنوعات بالأيادي&#8221; (اع ٢٤:١٧) ، فهو غير مادي ولا نهاية له ، وهو الذي يملا الكل ولا يحويه شيء ، ثم بين لهم أنه يعلمهم عن &#8221; الذي مع أنهم لا يعرفونه يتصورون أنهم يعبدونه بالحق &#8221; ولكنهم إذ سلموا أنفسهم للعجرفة وهم يعظمون أنفسهم بسبب طلاقة ألسنتهم قالوا في غبائهم : &#8221; ماذا يريد هذا المهزار ان يقول ؟ لأنه يظهر مناديا بالهة غربية &#8221; . أما كلمة مهزار Seed Picker فهي اسم الطائر لا قيمة له ، والذي من عادته أن يلتقط البذار من الطريق ، وهم إذ يشبهون بولس الإلهي به ، فإن هؤلاء الأغبياء يهزأون بكلمة الخلاص التي قدمت لهم .</p>
<p>لذلك أوصاهم المسيح أن يسكنوا مع أبناء السلام ، وأن يأكلوا على نفقتهم ، مبينا أن هذا قانون عادل &#8221; لأن الفاعل مستحق أجرته ؟ لذلك يجب على كل من يقبل الحق الأ يهمل بل يعتني بواجب إكرام القديسين لأنهم يباركوننا : حينما يزرعون لنا الروحيات ، فإنهم يحصدون منا الجسديات ، هكذا أمر الرب أيضا أن الذين ينادون بالإنجيل من الإنجيل يعيشون &#8221; (١كو ٩: ١٤،١١) حيث إنه أيضا بحسب ناموس موسى فإن &#8221; الذين يقدمون الذبائح يشاركون المذبح .</p>
<p>فيجب على الذين لا يعتنون بإكرام القديسين ويمسكون أيديهم بشح عنهم ، أن يتأكدوا أنهم إنما يحرمون أنفسهم من بركتهم ، وليكن نصيبنا في أن نكون شركاء البركات التي أعدها الله لهم ، بأن نقدم لهم كثمر أي شيء نملكه ، ونفعل هذا بشعور المسرة ، لأن المعطي المسرور يحبه المسيح (٢كو ٩ : ۷) الذي به ومعه لله الآب التسبيح والسلطان مع الروح القدس إلى أبد الآبدين آمين<a href="#_ftn2" name="_ftnref2">[2]</a>.</p>
<h4>أهمّية وقيمة تذكارات القديسين عامة ، وخاصَّة آبائنا الرسل الأطهار حسب تعليم القديس غريغوريوس النيسي</h4>
<p>الأمر الآخر، كما أعتقد أنه لا أحد من الأتقياء ، يجهل أننا نصنع تذكارات ، ليس فقط لبطرس ، ويعقوب ، ويوحنا ، بل لكل حقل الرسل المتوافق والمتجانس معاً . فإن كان وفقاً لحقيقة العقائد ، أن الأعضاء التي لها ترتيب ولها مكانها ، يُشكّلون معاً الجسد الواحد ، فمن الواضح أنه ، عندما يُكرَّم عضو ، يُكَّرم معه باقي الأعضاء ، كما يقول الرسول بولس : &#8221; وَإِنْ كَانَ عُضْوٌ وَاحِد يُكَرَّم ، فَجَمِيعُ الأَعْضَاءِ تَفْرَحُ مَعَهُ &#8221; ، وهذا ينطبق علي أولئك الرجال الطوباويين الكاملين ، إذ أن كل سلوكهم ، يتفق ويتوافق مع الحقيقة ، وجميعهم لهم رأي واحد ، وإيمان مشترك .وكما أن السمات التقوية التي يمتازون بها ، هي مشتركة فيما بينهم ، فإن المديح من قِبل الحق ، هو أيضاً مشترك فيما بينهم . مَن هو ذا الذي لم يفرح وبحق، ولم يمتليء بالروح القدس، عندما يكون قد إستحق أن يُشارك في الخورس الرسولي الذي قاد كل المسكونة لمعرفة الحق ، والذي مدَّ شبكة التقوي ، لكي تصطاد العالم كافة ، وأقام مصيدة الحقيقة في كل مكان ، حتي يجمع البشرية جمعاء معاً ، والتي كانت تحت الخطية ، وفي حالة تُوَّحش ، وقادها نحو ذاك الذي أشرق عليها ، وخلَّصها ؟ &#8221; فِى كُلِّ الأَرضِ خَرَجَ مَنْطِقُهُمْ، وَإِلَى أَقْصَى الْمَسْكُونَةِ كَلِماتُهُمْ &#8221; .إن أساسات الكنيسة ، وأعمدتها ، ودعائم الحقيقة ، هذه هى المنابع الأبدية للخلاص التي إنطلقت وإندفعت ، بفيض وغنى ، لتُعلن الينبوع الإلهي للتعليم .إن الصوت النبوي الذي يقول : &#8221; فَتَسْتَقُونَ مِيَاهاً بِفَرَحٍ مِنْ يَنَابِيعِ الْخَلاَصِ &#8221; ، يُحيلنا نحو هؤلاء .</p>
<p>نقيم تذكار لبطرس، هامة الرسل، ومعه يتمجد بقية أعضاء الكنيسة، وتتقوى كنيسة الله .لأن هذا هو بحسب عطية الله ، الصخرة الثابتة والصلبة التي لا تتزعزع ولا تنكسر ، والتي فوقها بني المخلص كنيسته . يُقام التذكار أيضاً ليعقوب، ويوحنا ، واللذان دُعيا من قِبل المخلص &#8221; أبني الرعد &#8221; ، واللذان يحملان معهما ، كل السحب التي تحمل المطر ، فعندما يظهر صوت الرعد ، فمن الضروري أن تتجمع السحب . ونعني بالسحب كلمات الرسل ، والأنبياء ، والتي وإن كانت أزمنة كرازتهم مختلفة ، إلا أن نواميس التقوى ، متوافقة .لأن مواهبهم قد إنطلقت من الروح الواحد . ولماذا أتجرأ ، أن أهتم بالأمور غير الممكنة ، وأحاول أن أقيم تذكار للعمل الرسولي ، بإستحقاق ؟ إن شجاعتنا لتوجيه الثناء والمديح ، لا تتوجه إلى سمعان المعروف لدينا من خلال الصبر ، بل تتجه نحو الإيمان الراسخ لذاك الذي هو سند الكنيسة مُجتمعة . ولا نُوجه كلامنا أيضاً إلي إبني زبدي ، بل إلي &#8220;ابني الرعد &#8221; . أين ستتوقف كلمتنا الموجزة هذه ، في اللحظة التي فيها ، يطال مثل هذا الرعد الكبير والقوي ، أسماع الجميع ؟</p>
<p>إذاً ، بعدما نُبادر إلي أن نوفي ما علينا من دين ، كرد وإمتنان لهذه المحبة الكبيرة التي للقديسين ، فلنلجأ إلي الصمت غير الضار أو الذي لا خطر منه ، عارفين جيداً ، أنه بهذا فقط ، نكون مستحقين أن نشارك في إقامة تذكارات القديسين ، وأن نتمثل بهم ، ونقتدي بفضائلهم وينبغي ألا نحصر الحديث عن حياتهم ، في كلامنا فقط ، بل أن نحفظ طريقة حياتهم ، داخل إرادتنا .لأن التلمذة الحقيقية للقديس ، لا تبرهن عليها تلك العادة التي لا يحكمها الضمير ، بل تقوي الإيمان، وحياة مدعمة بعقائد مشتركة ، وسلوك ومسيرة تقتضي بنفس النماذج .ألا تكرَّم ذكري الشهداء ؟ فلتكرَّم رؤيتهم ورأيهم .لأن الشركة في التذكار ، هي في الأتفاق في الرأي .وهل الإستنارة ، بسبب أن معرفة مجد إنجيل المسيح ، قد أشرقت في أولئك القديسين فقط ؟ هل النعمة قد أرسلت فقط لهؤلاء ؟ إن الوصايا واحدة ، والسلوك واحد ، ومشرِّع الجهاد واحد ، وواحدة هي مجازاة الحقيقة، والتي ليتنا جميعاً أن ننالها ، بالنعمة والرأفات ومحبة البشر اللواتي لربنا يسوع المسيح الذي يليق به مع الآب والروح القدس ، المجد والقوة والكرامة إلي الأبد آمين<a href="#_ftn3" name="_ftnref3">[3]</a> .</p>
<h4>أيضاً للقديس غريغوريوس النيسي: أبواب الروح</h4>
<p>&#8221; فتحت لحبيبى &#8221; (نش٥: ٦) .نحن هنا نتعلم من عروس النشيد أن الطريق الوحيد لكى ندرك تلك القوة التى تفوق كل فهم هو أن لا نكف عن التفكير والتأمل فى شخص الله ولكن علينا أن نتحرك باستمرار للأمام ولا نقف عن الحق الذى أدركناه . عروس النشيد بالمر تشير الى الموت عن الخطية فى كل أعمال الحياة الحاضرة ، وتعلن ارادتها الحرة فى الفضيلة بحقيقة المر الذى يقطر من أصابعها تلقائيا . ولكن حين قامت لتفتح ولمست مقبض القفل فهى أعلنت أن أعمالها الحسنة جعلتها تقترب من الكمال  وهو الوصول الى الباب الضيق . وهذا المفتاح يشير الى ذاك الذى أعطاه الرب يسوع المسيح لبطرس وجماعة التلاميذ ويشير الى فتح باب الملكوت بيديها ، وهى تعلن أعمالها الحسنة عن طريق مفتاح الايمان هذا ولذلك فان الأمر يحتاج الى كل من الايمان والأعمال ولكن حين أرادت عروس النشيد أن تصنع مثل موسى وأن ترى وجه الملك ويصير العريس لها مرئيا عندئذ &#8221; تحول وعبر &#8221; (نش٥: ٦) ولم تعد تستطيع أن تدركه ولذلك قالت أن حبيبى تحول وعبر وهذا التحول والعبور ليس لكى تقيم العروس عنده ولكن لرجوع النفس اليه ولذلك تقول &#8221; نفسى خرجت عندما ادبر &#8221; (نش٥: ٦) ما هو هذا الخروج وهذا الرحيل أذن ؟ عندما تخرج الروح لكى تتبع ربها فأنه يحفظها كما يقول المزمور &#8221; الرب يحفظ خروجك ودخولك &#8221; (مز١٢١: ٨) ومعنى هذا أن تبعية الرب هو خروج من تبعية هذا العالم والخروج من هذا العالم هو دخول الى العالم الأخر . هذا الخروج الذى تتمتع به النفس وفقا لقول الرب &#8221; أناهو الباب ان دخل بى أحد فيخلص ويدخل ويخرج &#8220;(يو١٠: ٩) والنفس لا تكف عن الخروج والدخول ، وستكون راحتها الوحيدة هو فى استمرار الدخول بتقدمها أكثر من قبل وخروجها من الحالة التى كانت عليها الى حالة أكثر مجدا وتقدما . وبهذه الطريقة رأى موسى وجه الرب لأنه سار وتقدم من الحالة التى كان عليها الى حالة جديدة أقوى فى تبعية الرب. وكل من يتقدم فى الصعود مثل موسى النبى وينسى ما يكون قد أدركه من قبل فأنه لن يكف عن النمو فى الكمال . وهذا ما حدث مع موسى النبى حين حسب عار المسيح غنى أفضل من خزائن مصر وادرك ان الله أعظم بكثير من فرعون وكل مملكته ، وفضل موسى أن يذل مع شعب الله من أن يكون له تمتع وقتى بالخطية وعاش موسى النبى فى الصحراء بعيدا عن الشر وعندئذ رأى النور حين أبصر العليقة المشتعلة بالنار ثم خلع من رجليه الحذاء الجلدى وحطم حية المصريين بعصاته ، وقاد الشعب من سيطرة فرعون ، وقاد الشعب فى خروجهم من أرض مصر بمعونة السحاب وعمود النور ، وضرب البحر وشقه وغلب الطاغية ، وحول المياه من المرارة الى الحلاوة وجعل الصخرة تخرج ماء ، وأكل من طعام الملائكة وسمع صوت الأبواق وصعد على الجبل المشتعل ووصل القمة ودخل فى السحاب ودخل أيضا فى الظلام ووجد الله وأخذ لوحى العهد وصار فى تقوى جعلت وجهه يلمع كالشمس ، كيف يستطيع أى أحد أن يسرد ذلك النمو فى تلك الدرجات المختلفة التى جعلته يتمتع باعلانات الهية متعددة . كان موسى النبى عظيما فى الفضيلة والنعمة وتقدم كثيرا فى الالهيات ولكن رغم هذا فقد كانت له رغبة وشوق أكثر فتوسل أن يرى الله وجها لوجه . واخبرنا الانجيل أنه كان يتكلم مع الله وجها لوجه مثل صديق مع صديقه، وتمتع بتلك الاحاديث الشيقة ، ولكنه طلب أن يرى الله فوعده الله بذلك &#8221; فقال الرب لموسى هذا الأمر أيضا الذى تكلمت عنه افعله . لأنك وجدت نعمة فى عينى وعرفتك باسمك &#8220;(خر٣٣: ١٧) عندئذ جعله الله يقف على الصخرة ثم وضعه الله فى نقرة من الصخرة وستره بيديه حتى اجتاز ثم رفع الله يديه فنظر وراء الله أما وجهه فلم يبصره ( خر٣٣: ٢١-٢٣) . وقد عرفنا من قبل أن محبة الله والتبعية الدائمة له هى التى تجعلنا نراه . ورؤية الله هى التقدم غير المحدود فى تبعيته والسير المباشر خلفه . وهكذا أيضا فى هذا النص حيث قامت عروس النشيد من الموت وهى مملوءة بالمر ووضعت يديها على مقبض القفل واشتهت أن يدخل حبيبها اليها ، ولكنه عبر فخرجت ولم تبق على حالتها ولكن اشتهت أن تلمس الكلمة الذى يقودها دائما الى الأمام<a href="#_ftn4" name="_ftnref4">[4]</a> .</p>
<p></p>
<p>قوانين الرسل</p>
<p></p>
<p>لاحظوا يا أبنائي المحبوبين كيف أن الرب إلهنا رحوم وبار، كم هو رءوف ولطيف مع الناس، لكنه بتأكيدٍ عظيمٍ &#8220;لا يبرِّئ المخطئ&#8221; (راجع نا ١ : ٢). مع أنه يرحب بعودة الخاطئ ويهبه الحياة، ولا يترك مجالًا لأي شكْ هكذا كمن يدين بقسوة ويرفض الآثمة تمامًا، ويرفض أن يقدم لهم نصائح ليردهم إلى التوبة. وإنما على العكس، يقول الله بإشعياء إلى الأساقفة: &#8220;عزُّوا، عزُّوا شعبي، أيها الكهنة، تكلموا بحنوٍ مع أورشليم&#8221; (راجع إش ٤٠ : ١). لذلك يليق بكم عند سماعكم كلماته هذه أن تشجعوا الذين أذنبوا، وتقودوهم إلى التوبة، وتقدموا لهم الرجاء. وليس باطلًا تحسبون أنكم ستشاركونهم معاصيهم على حساب حبكم لهم. اقبلوا التائبين ببهجة، وافرحوا بهم، واحكموا على الخطاة بالرحمة وأحشاء الحنو. فإن كان شخص ما سائرًا على شاطئ النهر، وصار متعثِّرًا، وأنتم دفعتموه وألقيتموه في النهر، عوض أن تقدموا له يد المساعدة، تكونوا قد ارتكبتم جريمة قتل أخيكم<a href="#_ftn5" name="_ftnref5">[5]</a>.</p>
<h4>القديس كيرلس الأورشليمي: بولس الرسول</h4>
<p>يعلن بولس عن المسيح قائلًا: &#8220;فإننا لسنا نكرز بأنفسنا، بل بالمسيح يسوع ربًا، ولكن بأنفسنا عبيدًا&#8221; (٢كو ٤ : ٥)…</p>
<p>من هو هذا المتكلم؟ المضطهد السابق! يا للقدرة العجيبة! المضطهد السابق يكرز بنفسه بالمسيح&#8230;!</p>
<p>لقد ذهب ليضطهد وبعد ثلاثة أيام صار مبشرًا في دمشق، بأية قوة؟</p>
<p>يأتي الآخرون بأصدقائهم كشهودٍ، أما أنا فأقدم لكم عدوًا سابقًا كشاهدٍ.</p>
<p>إن شهادة بطرس رغم قوتها لكن قد تجد بابًا للشك، لأنه صديقه، أما ذاك الذي كان قبلًا عدوًا، فيقبل بعد ذلك أن يموت من أجله، من يقدر أن يشك في الحق بعد ذلك؟!</p>
<p>في هذه النقطة امتلئ دهشة من تدبير الروح القدس الحكيم، كيف قلل عدد رسائل الباقين بينما أعطى لبولس المضطهد السابق الامتياز ليكتب أربعة عشر رسالة&#8230; لنصير نحن جميعًا مؤمنين هكذا، إذ الجميع اندهشوا منه قائلين: أليس هذا هو المضطهد السابق؟! (راجع أع ٩ : ٢١) ألم يأتِ إلى هنا لكي يقودنا مقيدين إلى أورشليم؟!</p>
<p>يقول بولس: لا تندهشوا فإنني أعلم أنه صعب عليّ أن أرفس مناسخ. إنني أعلم إنني لست أهلًا أن أُدعى رسولًا، لأنني اضطهد كنيسة اللَّه (١كو ١٥ : ٩) ، لكنني فعلت هذا في جهل (١تي ١ : ١٣).</p>
<p>إذ ظننت أن التبشير بالمسيح يحطم الشريعة، والآن أعرف أنه جاء ليكمل الناموس لا لينقضه (مت ٥ : ١٧) ، لكن &#8220;تفاضلت نعمة ربنا جدًا&#8221; في (١تي ١ : ١٤)<a href="#_ftn6" name="_ftnref6">[6]</a></p>
<h4>القديس يوحنا ذهبي الفم: مجد الله في قديسيه (بولس الرسول في مجده )</h4>
<p>رأيتم أعماله جزئيًا، هكذا كانت كلها محتشدة بالمخاطر.</p>
<p>كان سماءً فيها شمس البرّ، ليس كالشمس التي نراها؛ فإن هذا الإنسان هو أفضل من السماء عينها…</p>
<p>لا يخطئ إنسان أن دعا قلب بولس بحرًا وسماءً. إنه بحر فيه رحلات لا تبحر من مدينة إلي مدينة، بل من الأرض إلى السماء؛ وأن أبحر إنسان في هذا البحر فستكون رحلته مزدهرة. في هذا البحر لا توجد رياح بل عوض الرياح الروح القدس الإلهي يسوق النفوس التي تبحر فيه. ليس فيه أمواج ولا صخرة ولا حيوانات مرهبة، كل شيء في هدوء&#8230; من يرغب في أن يبحر في هذا البحر لا يحتاج إلى غواصين، ولا إلى رتب، بل الحب المترفق يفيض، يجد كل الصالحات التي في ملكوت السماوات. يصير أيضًا قادرًا أن يكون ملكًا، ويملك العالم كله، ويكون في أعظم الكرامات. من يُبحر في هذا البحر لن يعاني من انكسار سفينته، بل كل الأمور تسير حسنًا&#8230;</p>
<p>ليتنا نحاكي بولس، ونتمثل بسموه، تلك النفس الماسية، فنتقدم في إثر خطوات حياته، حتى يمكننا أن نبحر في بحر هذه الحياة الحاضرة، ونبلغ الميناء حيث لا أمواج، وننال الصالحات الموعود بها، والحب لله بنعمة ورحمة ربنا يسوع المسيح له المجد مع الآب والروح القدس والقدرة والكرامة الآن وإلى أبد الأبد. آمين<a href="#_ftn7" name="_ftnref7">[7]</a></p>
<h4>القديس جيروم: ضعف رجال الله (بولس الرسول في ضعفه )</h4>
<p>على سبيل المثال لنأخذ مثلًا واحدًا: &#8220;وجدت داود بن يسى رجلًا حسب قلبي، يعمل كل مشيئتي&#8221;. بلا شك كان داود قديسًا، ومع أنه قد اختير لكي يتمم كل مشيئة الله، لكنه وُجد ملومًا في تصرفات معينة. حتمًا كان ممكنًا له وقد اُختير بقصد تتميم مشيئة الله أن لا يفعل هذا. لا يُلام الله الذي سبق فتحدث عن صنعه كل مشيئة الله كما يؤمر، وإنما يلتصق اللوم بذاك الذي لم يتمم ما سبق أن أُخبر به. فإن الله لم يقل أنه وجده إنسانًا يتمم أوامره بلا فشل ويتمم مشيئته، وإنما إنسان يود أن يتمم كل مشيئة الله. ونحن أيضًا نقول أن الإنسان يمكنه أن يتجنب أن يخطئ إن اختار ذلك حسب ظروفه المحلية المؤقتة وضعفه الجسدي، مادام فكره منصبًا على البرّ والوتر مهيئًا حسنًا في القيثارة. ولكن إن كان الإنسان يمارس تهاونًا بسيطًا. فإنه في قدرته كقائد المركب أن ينسحب في اتجاه مقاوم للتيار، هذا الذي متى توانى ولو إلى لحظة فإن المركب ترجع، وتحمله المياه المتدفقة حيث لا يريد. هذا هو حال الإنسان، فإن صار فينا إهمال طفيف ندرك ضعفنا ونجد أن قوتنا محدودة.</p>
<p>هل تظن أن الرسول بولس عندما كتب: &#8220;العباءة التي تركتها في ترواس أحضرها عندما تجيء والرقوق&#8221; (٢تي ٤: ١٣) ، كان يفكر في الأسرار الإلهية وليس في الأشياء التي تستلزمها الحياة اليومية، وتشبع احتياجاتنا الجسدية؟ أرني إنسانًا لم يجُع قط ولا عطش ولا عانى من برد، ولا عرف ألمًا أو حمى أو عذاب الغربة وأنا أقدم لك إنسانًا يمكن ألا يفكر في شيء سوى الفضيلة.</p>
<p>عندما لطم العبد الرسول سلم نفسه هكذا أن ينطق ضد رئيس الكهنة الذي أمر أن يلطمه: &#8220;سيضربك الله أيها الحائط المبيض&#8221;. ينقصنا صبر المخلص الذي اُقتيد كحملٍ للذبح ولم يفتح فاه، بل قال برحمة لضاربيه: &#8220;إن كنت قد تكلمت بالشر فأشهد على الشر، وإن كان حسنًا فلماذا تلطمني؟&#8221; (يو ١٧ : ٢٣). إننا لسنا نحط من قدر الرسول، بل نعلن مجد الله الذي احتمل في الجسد، وغلب الضرر الساقط على الجسد وضعف الجسد. لا نقول شيئا عما قاله الرسول في موضع آخر: &#8220;الكسندر الحداد صنع بي شرورًا كثيرة، ليجازه الرب الديان العادل في ذلك اليوم&#8221; (٢تي ٤ : ١٤)<a href="#_ftn8" name="_ftnref8">[8]</a>.</p>
<h3>عظات آباء وخدام معاصرين</h3>
<h4>قداسة البابا تواضروس الثاني: سفراء الملك</h4>
<p>ارسالية الاثنى عشر = خدام الملكوت / سفراء الملك .</p>
<p>ارسالية الاثنى عشر : هذه أول مرة يظهرون كمجموعة محددة ، كما أنها أول مرة تظهر فيها كلمة &#8221; رسول &#8221; باعتبارة مرسل لتأدية عمل . أما العدد فهو اشارة متعمدة لآسباط اسرائيل الأثنى عشر . والهدف من الارسالية = خراف بيت اسرائيل الضالة .</p>
<p>الاثنا عشر : أعمدة الكنيسة ١٢ .                      + كلهم استشهدوا ماعدا يوحنا الرسول</p>
<p>+ وفيهم اثنان بأسم يعقوب :</p>
<p>١- يعقوب الرسول = أخو يوحنا الرسول    ٢- يعقوب بن حلفى = أسقف أورشليم . ( كاتب الرسالة )</p>
<p>+ منهم ١١ من الجليل وواحد من اليهودية ( يهوذا الاسخريوطى ) .</p>
<p>ولكن ما هى رسالتهم ؟ هى أساسا :</p>
<p>&#8221; اعلان الملكوت &#8221; وهذا الاعلان مصحوب بعمل معجزات</p>
<p>+ اشفوا المرضى = مستشفيات .                 + طهروا برص = ملاجىء .</p>
<p>+  أقيموا موتى = بيوت خلوة .                    + اخرجوا شياطين = مصحات .</p>
<p>مجانا أخذتم مجانا أعطوا .</p>
<p>أما أسلحتهم فهى :</p>
<p>١- التجرد من المقتنيات ليكونوا بلا هم ، لا يحملون ذهبا لأن المسيح هو ذهبهم .</p>
<p>الابركسيس = ( مثل بطرس ويوحنا حينما أقاما المقعد على باب الهيكل ) .</p>
<p>٢- الله هو الذى يعول خدامه . فالفاعل مستحق أجرته .</p>
<p>٣- خدمة النفوس المحتاجه دون ضيافة وتنقل .</p>
<p>٤- لا يضطربوا من جهة سلامهم وخدمتهم .</p>
<ul>
<li>الوصية الأخيرة : &#8221; كونوا حكماء كالحيات بسطاء كالحمام &#8221; (مت ١٠: ١٦).</li>
</ul>
<p>مقارنة بين بطرس الرسول وبولس الرسول</p>
<p>م</p>
<p>بطرس الرسول</p>
<p>بولس الرسول</p>
<p>1</p>
<p>يهودى صرف</p>
<p>يهودى / رومانى / يونانى</p>
<p>2</p>
<p>عرف المسيح مبكرا</p>
<p>عرف المسيح متأخرا</p>
<p>3</p>
<p>أخطأ وأنكر وعاد</p>
<p>اضطهد وعاد</p>
<p>4</p>
<p>كان صياد سمك</p>
<p>كان صانع خيام /لاهوتى</p>
<p>5</p>
<p>كتب رسالتين</p>
<p>كتب 14 رسالة</p>
<p>6</p>
<p>مات شهيدا مصلوبا منكس الرأس</p>
<p>مات شهيدا بقطع الرأس لأنة رومانى</p>
<p>7</p>
<p>من البسطاء</p>
<p>من العلماء</p>
<p>لأن عيد الرسل هو يوم ٥ أبيب فهناك٥ علامات لهذه الكنيسة الأولى :</p>
<p>١- كنيسة صلاة وتسبيح &#8230;&#8230;&#8230;&#8230; مثال : اسطفانوس .</p>
<p>٢- كنيسة تعليم وتلمذة &#8230;&#8230;&#8230;&#8230;&#8230;مثال : بطرس الرسول .</p>
<p>٣- كنيسة شركة وحب &#8230;&#8230;&#8230;&#8230;.. مثال : المؤمنون فى عهد الرسل .</p>
<p>٤- كنيسة آيات ومعجزات &#8230;&#8230;&#8230;. مثال : اقامة طابيثا .</p>
<p>كنيسة بهجة وفرح &#8230;&#8230;&#8230;&#8230;. مثال : بولس فى السجن. <a href="#_ftn9" name="_ftnref9">[9]</a> ٥-</p>
<h4>بولس سفير المسيح لابونا يوسف أسعد والكهنوت أبوة للأنبا غريغوريوس</h4>
<p>سفير مدعو من الله</p>
<p>ماربولس لم يقام من الناس، لأنه كان معروفا وسطهم باضطهاده للمؤمنين ، كما أنه لم يقبل عمل ونير هذه الرسالة من شخصه ، لكنه قبلها من الله ذاته :&#8221; وانما صعدت بموجب اعلان &#8220;(غلا ٢:٢) .</p>
<p>هذا شرف عظيم للكارز أن تكون دعوته من الله ، فان تأكد الكارز من صدق دعوته الأولي تمنحه فيضا من التعزية وقوة باطنية ترفعه فوق الألم دائما .</p>
<p>مثل هذا السفير المدعو ، المتأكد من دعوته يصير جذوة نار لا يخمد لها لهيب ، ولا تعرف الشيخوخة كرازته مهما تقدم في الأيام … بل تجده كلما ازداد عمرا صار شجرة الزيتون : يزداد نموا ، ويزداد دسما .</p>
<p>والدعوة من الله ليست - بالضرورة - كلاما مباشرا من السماء مثلما حدث مع مار بولس ، انما تتجلي في احساس قلبي ملتهب غيره نحو خلاص الأنفس ، وبهجة عميقة بكل رؤية أو سماع انسان يعيش كما يحق للانجيل ، وغيرة تأكل احشاء الانسان تهدف الي انتشار الانجيل بالتوبة والايمان .</p>
<p>فليس علو المؤهل الدراسي أو الديني ، أو عظمة المركز الاجتماعي ، أو كثرة الفضائل الأدبية ، أو حفظ الألحان والطقوس جيداً ، أو أتقان دراسة الكتب المقدسة …الخ ليست هذه مؤهلات سفير المسيح ، أنما المؤهل الأساسي هو احساس شخصي بدعوة الله مع اختبار حي للانجيل في الحياة .</p>
<p>سفير يحمل رسالة واحدة : التوبة</p>
<p>لم يسمح مار بولس كسفير عظيم لأي أمر أن يشغله وسط الكرازة عن خلاص الأنفس التي مات المسيح لأجلها . كان يقول دائماً أنه &#8221; يطلب عن المسيح : تصالحوا مع الله &#8220;(٢كو ٥: ٢٠) . فكانت كرازته موحدة وهادفة نحو توبة الناس ، ولهذا ظلت خدمته حارة بالروح ومقتدرة كثيراً في فعلها .</p>
<p>هناك خدام كثيرين بدأوا كرازتهم بأمانة نحو خلاص الأنفس ، وبعد زمن حولتهم الأشواك الروتينية الي مجرد تمثيلية لا يرجي منها ثمر البتة .</p>
<p>هؤلاء كان ينبغي عليهم أن يحذروا من أشواك المركز والجاه والمال والصيت والسعي وراء تكوين جماعة تدين بالطاعة لمنشئها… كان ينبغي أن يحرصوا من الاهتمام الزائد بالمشروعات الكنسية والخدمات الاجتماعية المالية أو الادارية ، لكي لا تتحول هذه الأمور الي أهداف يسعون لتحقيقها بل تصبح فرص كسب جديد للمسيح .</p>
<p>يا إلهي يسوع : الهب قلبي دوما بخلاصي وتوبة أولادك ، وفي كل نشاط ابحث معي واسعي بي لخلاصه وإياهم . انني عارف يا إلهي أنك لن تسألني : كم مشروع سعيت في تكوينه ، أو كم جمعية ساهمت في بنائها ، أو كم كنيسة بنيتها . لكني أعمل ألف حساب لليوم الذي تسألني فيه : كم نفس ربحتها لي يا إبني ؟ ! .</p>
<p>سفير يحمل الاماتة سمة لحياته :</p>
<p>عاش مار بولس في اهلاك حقيقي للذات ، حتي أصبحت أنشودة عذبة يترنم بها في رسائله :&#8221; لست أحتسب لشيء ولا نفسي ثمينة عندي حتي أتمم بفرح سعيي والخدمة التي أخذتها من الرب يسوع لأشهد ببشارة نعمة الله &#8220;(أع ٢٠: ٢٤) .</p>
<p>لقد كان يبكي مع الحزين، ويفرح مع الفرح ، ويضعف مع الضعيف ، ويلتهب مع العاثر … ولم تكن هذه مجرد مجاملات أو مشاركة وجدانية لأنها كانت تستلزم اماتة حقيقية لرغباته الخاصة بقصد انتشار الانجيل .</p>
<p>كان ذلك العملاق يشعر أن كل انسان في الحياة هو ابن لسيده يضع ذاته عبدا وخادما له &#8221; نكرز بأنفسنا عبيداً لكم من أجل يسوع &#8220;(٢كو ٤: ٥) . كان يسعي لأجل كل نفس ، وكان ذلك في حد ذاته أماتة حقيقية كل النهار يعيشها من أجل الله .</p>
<p>لقد أظهر ذاته خادم لله &#8221; في صبر كثير ، في شدائد ، في ضرورات ، في ضيقات ، في ضربات ، في سجون ، في اضطرابات ، في أتعاب ، في أسهار ، في أصوام ، في طهارة ، في علم ، في أناة ، في لطف ، في الروح القدس ، في محبة بلا رياء ، في كلام الحق ، في قوة الله لسلاح البر لليمين واليسار ، بمجد وهوان ، بصيت رديء وصيت حسن &#8220;(٢كو ٦: ٤- ٨) . حقاً ، قد يصل السفير الأمين بسبب هذه الأماتة الي علامات الشيخوخة وهو يتمتع بسن الشباب ، وقد يعجز قبل الأوان عن كثيرين ممن في عمره ، ولكن الحياة التي يعيشها في الأماتة كل يوم تظل رائحتها الذكية تفوح عطرا يملأ بعبيقه المسكونة كلها حتي بعد أن يصل الي الابدية ويستريح .</p>
<p>سفير للمسكونة بأسرها :</p>
<p>لم يفرق مار بولس في كرازته بين جنس وآخر ، أو مكان وآخر . كان يحس بضرورة الكرازة لكل انسان في كل مكان علي الأرض كوصية الرب &#8221; اكرزوا بالانجيل للخليقة كلها &#8220;(مر ١٦: ١٥) . وكان هذا الاحساس ينبع أساساً من احساسه بالانتماء للرب الذي له &#8221; الأرض وكل ملؤها &#8221; وكان فكره أن سفير المسيح يأخذ علي عاتقه البشارة للعالم كله بلا تحزب أو تعصب لتنظيم معين أو هيئة ما ، ولذا كان يعكف علي الكرازة في كل مكان يفتح الرب فيه بابا ، وفي كل وقت مناسب أو غير مناسب .</p>
<p>الأب الكاهن رسول للمسكونة كلها</p>
<p>ما أرهب هذا النطق الرسولي الالهي من فم الأسقف وهو يضع اليد علي كاهن مدعو للانجيل ويقول :&#8221; ندعوك يا فلان قسا علي بيعة الله المقدسة التي للارثوذكسيين &#8220;!</p>
<p>بهذا النطق يصبح الكاهن المدعو أو رجل الدين أو الخادم في المفهوم الأرثوذكسي السليم هو المرسل للخليقة كلها .</p>
<p>( وهنا يستشهد المتنيح القمص يوسف أسعد بمقالة في مجلة الكرازة للقمص باخوم المحرقي - المتنيح الأنبا غريغوريوس أسقف البحث العلمي )</p>
<p>&#8221; وما أسوأ المفهوم الذي يفهمه بعض رجال الدين من يقام علي شعب ، فيسأل : كم من المسيحيين أقام أنا راعياً وخادماً لهم ؟ ليس هذا هو المفهوم الأرثوذكسي الصحيح .</p>
<p>المفهوم الأرثوذكسي السليم أن رجل الدين أو الكاهن أو الخادم يرسل للخليقة كلها . قال مخلصنا &#8221; اذهبوا واكرزوا بالانجيل للخليقة كلها &#8221; .</p>
<p>والكاهن لا يقام علي المسيحيين الأرثوذكسيين وحدهم ، كلا ، لو كانت السماء أرضا أو تحولت الأرض الي سماء فما الداعي للخدمة ؟</p>
<p>ان رجل الدين يرسل ليكرز بالانجيل للخليقة كلها .</p>
<p>أرجو أن يكون هذا مفهومك أيها الأخ الكاهن في دائرة الايبارشيه التي أنت مقام فيها .</p>
<p>أنت مسئول لا عن الأرثوذكسيين وحدهم - وانما مسئول عن البروتستانت وعن الكاثوليك وعن كل شعب آخر .</p>
<p>أنت مسئول بالاجماع عن جميع المواطنين لأنهم جميعا أبناءً الله المتفرقون .</p>
<p>ورجل الدين يجب أن يكون خادما لهم جميعا ، وأن يكرز لهم جميعا بالأسلوب الذي يناسب كل فريق علي حده .</p>
<p>رجل الدين الأرثوذكسي لا يسمح لأحد من شعبه أن يذهب الي اجتماعات الهراطقة ، ولكنه هو كطبيب يجب أن يدخل كل البيوت ، والي كل مكان ، وأن يكرز فيه لأن له فيه شعبا<a href="#_ftn10" name="_ftnref10">[10]</a> &#8221; .</p>
<p>هلم نبحث كيف نكرز للخليقة كلها ؟</p>
<p>يا الهي ، اسمح لي أن لا أقف بالكرازة عند حد النطاق المحلي المحدود بقدر معونتك لي لأتمم وصيتك بالكرازة للخليقة كلها .</p>
<p>أعني يا رب في كل عمل من شأنه أن يدعم الكرازة في انحاء العالم ، من الصلاة الخاشعة ، الي الكلمة المسموعة ، والرسالة المكتوبة ، والتسجيل الناطق ، حتي الانتشار خارج الحدود بهدف الكرازة .</p>
<p>اسمح يارب باستخدامنا بكل ما أعطيته ايانا من تكنولوجيا لانتشار انجيلك ، وأمل استودعه اياك - أنت القادر علي كل شيء - أن يكون للكنيسة محطة ارسال تليفزيوني يباشر من خلالها الأساقفة والكهنة والشمامسة عملهم الكرازي للخليقة كلها. <a href="#_ftn11" name="_ftnref11">[11]</a> .</p>
<h4>المتنيح القمص لوقا سيداروس: قد تركنا كل شيء</h4>
<p>كنا يوماً على مشارف حدود اليهودية، ثم خرجنا من هناك وفيما نحن خارجون إلى الطريق ونحن نتبع يسوع.. إذا شاب جاء نحونا راكضاً مسرعاً تقدم جاثياً على ركبته كعابد وخاشع، ثم رفع رأسه نحو يسوع وقال في أدب جم: &#8221; أيها المعلم الصالح، أي صلاح أعمل لتكون لي الحياة الأبدية؟ &#8220;قال له يسوع في شفقة واستفسار: &#8221; لماذا تدعوني صالحاً؟ &#8221; وكأنه يقول له: هل تعرفني؟ لم يقل له: لا تدعوني صالحاً، بل لماذا تدعوني وأنت تعرف أن الله هو الصالح وحده. وبادره يسوع قائلاً:</p>
<p>&#8221; أنت تعرف الوصايا لا تزن. لا تقتل. لا تسرق. لا تشهد بالزور .لا تسلب .أكرم أباك وأمك &#8220;. فأجاب الشاب وقال للرب.. &#8221; هذه كلها حفظتها منذ حداثتي &#8220;. فنظر إليه يسوع بحب عجيب وقال للشاب.. &#8221; يعوزك شيء واحد لكي تكون كاملاً إذهب بع كل ما لك وأعط الفقراء، فيكون لك كنز في السماء، وتعال اتبعني &#8220;يومها تعجبنا مما قال يسوع.. أولاً أن يسوع لم يقل له الوصايا حسب</p>
<p>ترتيبها كما هي مكتوبة في الناموس.. فأولها: تحب الرب إلهك.ولكن يبدو إنه كان يشجعه أنه فعلا حفظ الوصايا التي قالها يسوع. وكان يلزمه أن يرجع إلى الوصية الأولى فهي التي تعوزه. فيسوع يطلب القلب المحب أولاً وقبل كل شيء، فإن ملك حب الله في القلب فهذا هو كمال الأمر كله. مضى الشاب وبدت عليه علامات الحزن فقد علمنا أنه كان غنياً جداً ولم يرد أن يترك ثروته. وقد علمنا الرب تعليماً مركزاً بخصوص المتكلين على الأموال من الأغنياء كيف أنه يعسر عليهم أن يدخلوا</p>
<p>الملكوت.. فجزعنا جداً وسألناه: &#8221; فمن يستطيع أن يخلص؟ فقال عند الناس غير مستطاع، ولكن ليس عند الله، لأن كل شيء مستطاع عند الله &#8221; .ففهمنا أن أمر خلاصنا هو بيد القدير.. هو مخلصنا ولسنا نحن.. فإنه &#8220;إن لم يبن هو البيت، فباطلاً يتعب البناؤون &#8220;. ثم وجدت نفسي أقول للرب في سذاجتي المعهودة: &#8221; ها نحن قد تركنا كل شيء وتبعناك &#8220;. تصور إنني كلما تذكرت ذلك أخجل من نفسي. وأقول: ويحي كيف قلت هذا الكلام لأن الواقع أننا لم نترك شيئا يذكر.. هل كنا أصحاب ثروات أو أملاك؟ كان كل ما أملك قاربا صغيراً وشبكة الصيد، أشياء لا تذكر. إنني الآن أقول: يا سيدي لم أترك شيئاً من أجلك.. بل أنت تركت السموات وأخليت ذاتك من مجدك بل واحتملت عني العار حتى موت الصليب. ولكن الشيء العجيب أن الرب أجابني: &#8221; الحق أقول لكم: ليس أحد ترك بيتاً أو إخوة أو أخوات أو أباً أو أماً أو إمرأة أو أولاداً أو حقولاً، لأجلي ولأجل الإنجيل، إلا وياخذ مئة ضعف الآن في هذا</p>
<p>الزمان، بيوتاً وأخوة وأخوات وأمهات وأولاداً وحقولاً، مع اضطهادات، وفي الدهر الآتي الحياة الأبدية &#8220;.يا إلهي.. لم يخطر على بالي هذا الكلام.. بالحقيقة علمت أن المسيح هو السخي في العطاء والكريم في التوزيع، بل أن مكافأة الأعمال لا تخطر على بال إنسان.. يا سيدي.. مئة ضعف!! لقد فهمت هذا الكلام فيما بعد، بعد ما حل الروح القدس علينا وأستعلنا رسلاً للمسيح وصرنا في كرامة لم نحلم بها. صارت كل بيوت المؤمنين بيوتنا وكل مالهم كأنه لنا. وبدل الأخ الذي تركناه صار لنا مئات الإخوة وآلاف الأولاد. وكانوا يبيعون البيوت والحقول ويضعونها تحت أقدامنا. ولكن كلام المسيح عميق ودقيق فلم يقل لنا أن يصير لنا مئة أب ولا مئة زوجة، فمن جهة الأولاد والإخوة والأخوات والأمهات صار لنا كحسب قول الرب، فكل الشبان أولادنا وبناتنا وكل الرجال والنساء إخوتنا وأخواتنا بكل طهارة وكل الكبار صرن لنا أمهات. أما أبونا فهو واحد.. لأن كل الشعب كانوا يدعوننا آباء، فالرسل آباء ولهم أب واحد. ولكن ما هو أهم وقد شغل بالنا بالحق أن الأجر الحقيقي هو الحياة الأبدية. لذلك لم تشغلنا أجرة على الأرض مهما كانت لأن نظرنا ظل مثبتاً في السماويات<a href="#_ftn12" name="_ftnref12">[12]</a>.</p>
<h4>وأيضا من نفس المرجع: شهادة يعقوب الرسول</h4>
<p>هيرودس هذا الثعلب المملوء مكراً وخبثاً . قاتل يوحنا المعمدان بسبب نزعاته الشريرة وشهواته الرديئة. &#8221; مد هيرودس الملك يديه ليسيئ إلى أناس من الكنيسة &#8220;. كنوع من السياسة لإرضاء اليهود لأنه كان مكروهاً بسبب سيرته الردية . قبض على يعقوب الرسول أخو يوحنا وبدون محاكمة أو سؤال عن أية جريمة أو عمل عمله أمر بقطع رأسه بحد السيف. ترى هذا الخبر مسبباً حزناً عميقاً في وسط الكنيسة كلها..أهكذا يا رب ؟ أتتركهم يفترسون قطيعك الذي اشتريته بدمك ؟أهكذا ترفع الخطية رأسها؟.. وتبتلع البار؟أهكذا يكون الظلم ؟ وهل هذا هو مصيرنا جميعاً ؟ها دم اسطفانوس يصرخ وقد تبعه دم يعقوب !! ولكن شدد الرب النفوس المنكسرة والركب المنحنية سندها بيمينه..إذ صار كأن يعقوب في استشهاده قد أصبح شفيعاً للكنيسة في السماء ودمه يروي بذرة الإيمان بالأكثر. وعلى عكس ما توقع الجميع صار ينضم إلى الرب جمع أكثر . وحتى بعض كهنة اليهود صاروا مؤمنين . لقد تقوى الإيمان وصار اليقين بميراث لا يفنى حاضراً . حتى أن كثيرين اشتهوا هذا النصيب الصالح وودوا لو يقدمون ذواتهم ذبيحة ليسوع الذى أحبنا وأسلم نفسه لأجلنا . نارالروح القدس الذي سكبه الآب علينا تتأجج ويزداد لهيبها تضطرم وتضرم القلوب بالحب والعزاء عن كل فقدان في العالم. طبعاً سرت رنة فرح عند رؤساء كهنة اليهود وشيوخهم وقدموا شكرهم لهيرودس وأظهروا امتنانهم بشهامته وقوته وسلطانه . فأثلج هذا الأمر صدر هيرودس بالأكثر وزاده زهواً وكبرياء . وقدم علىخطوة أخرى أكثر جراءة . وعلى غير توقع وجدت الجند يقبضون علي بلا سؤال وبلا كلام ويسرعون بي بكل عنف إلى السجن.</p>
<p>هذه المرة الثالثة أدخل فيها هذا السجن. ولكن هذه المرة ساقوني إلى الجزء الداخلي من السجن داخل سرداب رطب ومظلم . وفي هذا السجن الداخلي لم يكن أحد من المسجونين.. كان حبس انفرادي .. لا مانع عندي.. فكل شيء يسمح به يسوع يكون لخير الكنيسة كلها ومنفعة للنفوس المفدية.. أنا ملك الذي اشتراني.قدم قائد الجند . وضع سلسلة من الحديد في يدي اليمنى ثم ربطها في</p>
<p>اليد اليسرى لأحد الجنود ، ثم سلسلة في يدي اليسرى وربطها في اليد اليمني لجندي آخر . ما هذا ؟ هذا إذاً أمر هيرودس . أهكذا فكر إنني كأقسى المجرمين حتى يربطنى إلي عسكريين لئلا أهرب! أم هو خائف ؟ من من ؟ إنه لا يعرف الله . كان ذلك اليوم أحد أيام</p>
<p>الفطير قبل الفصح . في مثل هذه الأيام صلب الرب عني . طلب بين لصين.. وها أنا مربوط بين عسكريين ولكن أين أنا من احتمال مخلصي . ولكن الصليب الذي أظهر حبه عليه صار لنا علامة شرف وافتخار . لقد فرحنا حينما جلدونا بفرح لا ينطق به. لقد صار جلياً أن الفرح ينبع من آلام المسيح. ونور القيامة أشرق من القبر.. هذا حق . لم أشعر بضيق ولا إلى لحظة. ملأني شعور بسلام لا يعبر عنه. لاحظت على وجهي الجنديين علامات نكد وضيق. إنهما مربوطين لمدة في يدي . كأنهما هما محبوسين أيضا كنت أعزيهما بكلام طيب . فلم يظهرا قبولاً ولا رفضاً . ظلا</p>
<p>صامتين كأنهما قدا من حجر على أي حال رفعت عيني إلى الجبال الدهرية ونفسي في حريتها في المسيح وكلمة الله ساكنة في داخلي بغني. تواردت في ذاكرتي كلمات يسوع عن الآلام والسجون والوقوف أمام ملوك وولاة شهادة لاسمه. والتعزيات والتشجيع في كلامه: &#8221; لأني أنا أعطيكم فماً وحكمة لا يقدر جميع معانديكم أن يقاوموها أو يناقضوها &#8220;، &#8221; كثيرة هي بلايا الصديق، ومن جميعها ينجيه الرب&#8221;، &#8221; أنتم ستحزنون ، ولكن حزنكم يتحول إلى فرح &#8220;، &#8221; المرأة وهى تلد تحزن لأن ساعتها قد جاءت ، ولكن متى ولدت الطفل لا تعود تذكر الشدة لسبب الفرح &#8220;. هذا وعد المسيح.مضت ست ساعات منذ أن ربطوني إلى العسكريين، ثم فتح بابالسجن ودخل القائد ومعه عسكريين آخرين. فك الاثنين المربوطين معي ، ثم استبدلهم بالعسكرين الجدد . ثم بعد ستة ساعات أخرى تكرر هذا الأمر . لا يحتمل الجنود أن يدوموا أكثر من ست ساعات !! فأيقنت أن الأوامر كانت أن أحرس بهذه الحراسة المشددة بأربع ورديات من الجنود على مدى الأربعة وعشرين ساعة . لم أنزعج لهذا الأمر ولكنني في تسليم عجيب أسلمت نفسي للصلاة والتسبيح الداخلي فشعرت وكأنني لست في سجن أو قيود .. بالحق إن كلمة الله لا تقيد . ثم كانت ليلة الفصح.. يا لها من ليلة عشت فيها ما عاشه الشعب يوم صنعوا الفصح لأول مرة . موسى رئيس الأنبياء ماثل أمامي.. أماً رأيته رؤي العين على جبل التجلي.. بالإيمان ذبح الفصح ورش</p>
<p>الدم.. وعبر الملاك المهلك وقتل أبكار المصريين أما الموسومين بعلامات الدم فعبر عنهم .هذا هو عيد العبور.. الفصح.. عبر ملاك الموت عن شعب الله. ثم عبر بنو إسرائيل من العبودية إلى الحرية خلال معموديتهم بيد موسی في البحر الأحمر . عبور بيد قوية وذراع ممدودة.. وغرق فرعون في البحر . ثم عدت إلى ما صنعه يسوع ربي في تلك الليلة ، تفاصيلها الدقيقة محفورة في قلبي ليس كما نقشت حروف الناموس على الحجارة ، بل حفرها الروح القدس في قلبي أذكرها ولا أنساها. يوم أن كسر جسده بإرادته وأعطانا ، يوم أن جعل دمه شراباً لا يرش فقط على المتنجسين فيطهرهم ولا يجعل كعلامة دم لعبور الهلاك . بل من بشر به ينال حياة أبدية. ليلتها تألم الرب بكل الآلام حتى الموت .ولكنني أكرز بالقيامة .. بالعبور الحقيقي من الموت إلى الحياة . غبطت نفسي وكل من هم في المسيح يسوع . ملأني فرحاً وسروراً وسبحت تسابيح الشكر والبركة والحمد . ولما كان المساء والسجن في ظلام دامس &#8221; كان النور الحقيقي الذي ينير كل إنسان &#8221; ينير داخلي بنور قیامته ويبدد كل ظلمة الفكر عني أسلمت جفني للنوم إذ أحسست بسلام كامل .. رحت في نوم هادئ عميق كأني راقد في فراش وثير وكان كل ما حولي يدفعني إلى السلام . لا أعلم كم من الوقت نمت هذا النوم الهادي غير عابئ بيدي المربوطتين ولا بالجنديين المربوطين في يدي . وفجأة استيقظت على لكزة في جنبي .. ربما أحد الجنود قد لكزني .. آه .. فتحت عيني فجاة لأن نوراً وهاجاً أضاء السجن .. ماذا جرى ؟! هل طلعت الشمس.. حتى لو طلعت فأنا في السجن الداخلي الذي لا تدخل إليه أشعة الشمس وليس فيه شباك ينير .. لا.. لا.. إنه نور غير نور الشمس . لعلي في رؤيا جميلة في نومي الهادئ . نعم إنها رؤيا تعزي نفسي ..وأشكرك يا إلهي .. لعلها تدوم إلى لحظات. النور يزداد بهاء .. نور وهاج جداً . لا أستطيع أن أحملق فيه . أغمضت عيني لعلي أنام كما كنت نائماً . ولكني لم أستطع ذلك لأن النور أقوى من أن أغمض عيني عنه .نظرت ملياً إذ في وسط النور ملاك الرب .. ملاك الرب هو الذي لكز جنبي لا ليضربني بل ليوقظني من نومي . استيقظت ولكن ليس بكل الوعي . سمعت صوت الملاك يكلمني : &#8221; قم عاجلاً &#8220;. كيف أقوم وأنا مربوط بسلسلتين مع العسكريين ؟ نظرت إذا السلسلتان ليستا في يدي .. يدي الاثنتين غير مربوطتين. يا إلهي.. ما هذا الذي يحدث ؟! لم يمهلني الملاك لأتفكر . كان كل شيء يجري بسرعة . كأنه يريد أن ينهي مهمة عاجلة نزل من السماء خصيصاً لها . هممت لأقوم .. قمت فعلاً عاجلاً بدون رباطات . بدأت أمشي . نظرت إلى الجنديين . كانا في سبات عميق مثل الموتی بلا حراك . قال لي الملاك : البس منطقتك على حقويك كانت مطروحة جانبي ، التقطتها للحال وشددت نفسي بها .إذاً أنا الآن مشدد بالمنطقة لخدمة مخلصي أنا عبده وخادمه . كأن ذهني لم يزل نائماً . فقط كنت أطيع بلا كلام . قال لي أيضاً : &#8221;</p>
<p>البس نعليك &#8220;.. أطعت حالاً . قال لي أيضاً : &#8221; البس رداءك واتبعني &#8220;. ففعلت هكذا . فخرجت وراءه ، كان يسير في نوره الوهاج أمامي . كنت كأني أمشي مستتراً في النور أو متسربلاً به.. لست أدري . جزنا المحرس الأول .. الحراس قائمون ولكنهم كأنهم عميان .بعضهم ساقط على الأرض وآخرون بلا حركة قيام . ثم جاز بي المحرس الثاني وهو مضبوط أيضاً بالحراس كل الليل وكل النهار .</p>
<p>كان الحراس كسابقيهم.. عبرنا. ثم جئنا إلى باب السجن الخارجي ( الباب الحديد الذي يؤدي إلى المدينة ) .. اقترب إليه الملاك &#8221; فانفتح من ذاتيه &#8220;. وهو باب حديد ضخم يحتاج إلى عشرة رجال لكي يفتحوه.. &#8221; انفتح من ذاته &#8220;. يا إلهي أصابتني دهشة عجيبة .. كان كل هذا يجري بسرعة وأنا كمتفرج.. نعم أتحرك ولكن كأني في غيبة. ظننت أن ما يجري هو رؤيا.. وأنا لم أزل نائماً .. خرجنا من باب السجن يتقدمني الملاك . ثم دخل أول زقاق قابله عن اليمين سار فيه. سرت وراءه بحركات آلية وذهن غائب .وفجأة غاب عني الملاك .. إذاً أنا أسير في الشارع حراً طليقاً .. إذاًرهذه ليست رؤيا ، بل واقع .. دعني أتحسس نفسي ، هل أنا مستيقظ بالفعل ولست نائماً ؟! ضربت رجلي على الأرض .. سرت بأكثر سرعة .. إنها ساعة متأخرة من الليل أو قرب الفجر .إن هذا الوقت وقت القيامة .. وقت أن سقطت سلاسل الموت وانفتحت الأبواب الدهرية .إلى أين أذهب ؟ إلى الكنيسة .. لا بد إن إخوتي وأحبائي هناك . لا بدرإنهم يصلون بأكثر لجاجة إلى الله . أنا أعرف حبهم .. إنهم أعضاء جسد المسيح . إن تألم أحدنا تداعت له سائر الأعضاء . لم يكن البيت المجتمعين فيه بعيداً . وجدت نفسي أمام الباب . هل مشيت ؟ أم جريت ؟ أم حملتني قوة إلهية إلى هناك ؟ لست أدري. وقفت أمام الباب المغلق . قرعت الباب .. أسرعت رودا الخادمةإلى الباب كان الجميع يتوجسون خيفة من أجل الظروف التي تمر بها الكنيسة .سألت رودا الخادمة وهي وراء الباب .. من بالباب ؟ قلت: أنا بطرس . مسكينة لست أدري ماذا أصابها . لم تفتح لي .. بل علمت أنها اندفعت إلى داخل . والكنيسة المجتمعة في حالة صلاة وانسكاب أمام الله . صاحت بدون وعي بصوت قطع عليهم هدوء الصلاة .. بطرس واقف بالباب يقرع . وقع الصوت كالعاصفة على الجميع .. ماذا تقولين ؟! قالت ثانية : بطرس واقف بالباب يقرع . قال بعضهم: مسكينة لعلها لم تنم منذ أن قبض على بطرس . ربما تهذي أو يكون قد تهيأ لها إنها سمعت قرع الباب .. أين بطرس ؟ إننا نعلم أن هيرودس مزمع أن يقدمه للموت في صباح اليوم . لذلك لم نزل الليل كله مصلين بأكثر لجاجة وطلبة إلى الله . لم نبرح الكنيسة من ساعة القبض عليه . كلنا بقلب واحد ونفس واحدة نصلي إلى الله لأجله .. لم نصل هكذا بحرارة ودموع .. قال البعض: لا يا رودا إنه ملاكه ألا تعلمين أن من يوم معموديتنا</p>
<p>وملاك حارس عينه الرب لنا كأولاد الله الذين بقوة الله محروسين !!رولكنها ظلت تؤكد للجميع .. يا أحبائي لست أهذي  ولا أنا نائمة أو واهمة ولكنه هو هو .. أنا أعرف صوته جيداً . صدقوني في المسيح أنا لا أكذب. قال البعض : هلموا إلى الباب لنرى . إن الأمر</p>
<p>لا يحتاج كثرة كلام ولا جدال . اقتربوا إلى الباب سمعوا قرعات الباب متتالية . فتحوا الباب وإذا أنا واقف أمامهم . صدر من البعض صراخ والبعض ارتمي علي وبكاء اختلط بالفرح . لم أجد نفسي في وسط زحام المشاعر الأخوية الصادقة . دخلت معهم وأشرت إليهم بيدي فأعطوا سكوتاً عظيماً .</p>
<p>ثم حدثتهم بالتفصيل عما فعله المسيح معي . كيف أرسل ملاکه وخلصني من يد هيرودس ومن انتظار شعب اليهود المتعصبين وأصحاب الدسائس . لم يكن يعقوب ولا بعض الرسل موجودين في هذه الساعة . فقلت للجماعة : &#8221; أخبروا يعقوب والإخوة بهذا &#8221; ليمجدوا الرب بالفرح . &#8221; ثم خرجت وذهبت إلى موضع آخر &#8220;سمعت بعد ذلك إن هيرودس إذ طلبني في الصباح في السجن لكي يقتلني ولم يجدني رغم أن كل استحكامات السجن كانت كما هي ، أمر بقتل الحراس . وهم لا ذنب لهم . كان قاسياً قتالاً . ثم وهو في قيصرية جاء إليه قوم من صور وصيدون يستعطفونه &#8221; لأن كورتهم تقتات من كورة الملك &#8221; وهو كان مستاء منهم فوسطواً الرجل الناظر على مضجع الملك .وفي يوم عيد ميلاد هيرودس &#8221; لبس الحلة الملوكية &#8221; وكلم هؤلاء الجموع بكبرياء . فسجدوا له قائلين : &#8221; هذا صوت إله لا صوت إنسان ففي الحال ضربه ملاك الرب &#8220;. فكان الدود ينتثر من جسده  كان الدود يأكله إلى أن مات .. مسكين هذا الإنسان .. الكبرياء</p>
<p>أشر الشرور . کم كانت أمامه فرص للخلاص من أيام يوحنارالمعمدان . وقد أرسلوا إليه يسوع مكبلاً بالقيود فاستحقره هو وجنوده ومثلوا به. فرص كثيرة أضاعها منحدراً وراء شهوات ردية وهذه هي النهاية<a href="#_ftn13" name="_ftnref13">[13]</a>.</p>
<h4>المتنيح القمص تادرس البراموسي</h4>
<p>مجانا أخذتم مجانا أعطوا متى (مت ١٠ : ١ - ١٥)</p>
<p>أبتدأ الرب يسوع يفكر ملياً في الكرازة فأبتدأ يختر تلاميذه لكى يتمرنوا على الخدمة ويتعارفوا على الناس ويأخذوا على أسلوب الشعب لذلك قال لهم ها أنا أرسلكم مثل حملان بين ذئاب (لو ۱۰: ۳) .</p>
<p>يعنى الخدمة والكرازة فيها أتعاب وفيها ضيقات وشدائد من الشعب ومن الكتبة والفريسيين وأوصائهم قائلا أحترسوا لأنفسكم من الكبرياء . لو تسلطت عليكم الكبرياء ستفشلون ومايكنش لأتعابهم ثمرة أن يكون فيه إتضاع وتضحية وصبر . من لطمك على خذك حول له الآخر ومن سخرك ميل واحد أمشى معه أثنين ومن طلب ثوبك أعطيه ردائك أيضا . وبهذه الطريقة تكسب وملكوت السموات . يا سلام يا إلهى وأحنا ضعفاء وغلابة ومساكين . قال لهم لأن بعدما دعاهم أعطاهم سلطان على الأرواح النجسة ليخرجوها . دى أول سلمة نصعد عليها . ليس هنا فقط بل تشفوا المرضى وكل ضعف والشعب . أختار الرب يسوع عشر تلميذاً كما كان أسباط أسرائيل أثنى عشر . وأرسلهم أثنين أثنين إلى كل مدينة أو قرية كان مزمع أن يمضى إليها . الرب يسوع هو ملك الملوك ورب الأرباب فأرسل التلاميذ كسفراء قدامه .</p>
<p>لإعداد الطريق فأرسلهم أثنين أثنين لأن الأثنين أفضل من الواحر ويكون فيه أمان من ناحية السفر ومن ناحية الأفتقاد حتي يكون الرسل حسن السيرة محب للجميع . هؤلاء الانتى عشر أرسلهم يسوع وأمرهم قائلا طريق الأمم لا تدخلوا ومدينة السامريين لا تصعدوا يا رب أنت رب الكل وإله الجميع لماذا تحرم الناس البركة والخلاص اللي أنت جای عشانه . لم يأتى الوقت الآن لأن لكل شي تحت السماء وقت (جا ۳: ۱) . أني جئت إلى خراف إسرائيل الضالة . حتى لو كانوا رفضوك ولم يقبلوك ولم يسمعوا كلامك . أنا أعلن كلمتي وفي يوم الدينونة سيحاسب كل واحد حسب ما يكون عمله ، ولكن بعد قيامة الرب وبعد أن رفضه اليهود قال لتلاميذه أذهبوا وتلمذوا جميع الأمم . ما أعظمك يا إلهى لأنك أعطيتنا روح البنوة نحن العبيد نحن الأمم المنقادين للأوثان . جعلتنا ملوك وكهنة تبارك أسمك يا رب . قال لهم الرب يسوع رسالة محدودة لابد أن تلتزموا بها أذهبوا وأكرزوا قائلين قد أقترب ملكوت السموات . فرحوا التلاميذ بهذه الرسالة فكرة الملكوت يعني التنعم الأبدى الذي ترجوا الحصول عليه بل ونتمنى أن يكون لنا فيه ميراث بعد أنكسرت شوكة الموت والخطية بعد أن ننال صبغة المعمودية المقدسة وننال غفران خطايانا . رأى الرب يسوع أن الكرازة قد أتسعت وأمتدت وأصبح السلطان الذي أعطاه لهم لا يسد الإحتياج أعطاهم زيادة قال لهم أشفوا المرضى وأقيموا الموتى طهروا البرص أخرجوا الشياطين . كل هذا يا رب . فكيف يكون هذا الكم الكثير من المواهب . انت سخي وكريم يا إلهى وإيه الطريق بها ننتصر بهذه المواهب إن كنتم دفعتم فيها أطلبوا ثمنها لكنكم مجاناً أخذتم ولم تدفعوا شيئاً وهذا العمل لا يكلفكم شيئاً فكما أخذتم مجاناً . مجاناً أعطوا ليتمجد الآب بأعمالكم وتثمرون بالتقوى . لا تقتنوا ذهبا ولا فضة ولا نحاس . في مناطقكم . قد أستأصل منهم هذا الداء العضال . وأبعدهم عن الظن الشرير ليتفرغوا للخدمة ولئلا يشغلكم هذا المال لأن محبته أصلاً لكل الشرور وزاد الرب في وصيتهم قائلاً ولا زاداً للطريق ولا ثوبين ولا حزاء ولا عصا لأن الفاعل مستحق أجرته (لو ١٠:7) . أراد الرب أن يجردهم من جميع مقتنيات العالم لئلا يرتبطتوا بهذه الأمور ويبعد قلبهم عن الله. <a href="#_ftn14" name="_ftnref14">[14]</a>.</p>
<h4>القديس الأرشيدياكون حبيب جرجس</h4>
<p>ارسالية الرسل الاثنى عشر (مت٩: ٣٥ - ص ١٠: ١ - ٤٢)</p>
<p>&#8221; اطلبوا من رب الحصاد أن يرسل فعلة الى حصاده &#8220;(مت٩: ۳۸)</p>
<p>(أولاً) ان المخلص له المجد وهب السلطان لتلاميذه الذين أرسلهم للكرازة والتبشير باسمه ودرعهم بالقوة لعمل المعجزات لاثبات رسالتهم من الله .(ثانياً) قد شفق المسيح على الشعب المسكين الذي كان كغم بلا راع . فما أشد حاجة العالم دائماً الى من يرشد الناس الى ينابيع الخلاص .(ثالثاً) يجب أن لا نخشى ولا نخاف من الذين يقتلون الجسد أي من الذين لهم سلطان على أجسادنا في العالم . ولكن نخاف الله وحده الذي له السلطان على أجسادنا وأرواحنا .(رابعاً) يجب أن نعلن ايماننا دائماً في كل شيء حتى يعترف بنا المسيح قدام أبيه في السماء .(خامساً) لاحظ وصية المسيح عن خدامه حتى نكرمهم لان من يكرمهم يكرمه ومن يقبلهم يقبله<a href="#_ftn15" name="_ftnref15">[15]</a> .</p>
<p></p>
<p>كتاب الصديق الدائم</p>
<p></p>
<p>صراحتنا مع الله</p>
<p>« واجتمع الرسل الى يسوع واخبروه بكل شي كل ما فعلوا و كل ما</p>
<p>علموا » (مر ٦ : ٣٠) .</p>
<p>منذ سنين طويلة كنا في طفولتنا نجري إلى امهاتنا لنخبرهن بما</p>
<p>حدث لنا ، وبمرور السنين أصبح الأصدقاء هم مرکز ثقتنا، لسكب</p>
<p>في آذانهم القصص المتكررة لأحزاننا وآلامنا . وتزداد أفراحنا</p>
<p>بمشاركتهم لنا وتخف آلامنا عند معرفتهم إياها.</p>
<p>هكذا عاد الرسل إلى ربنا يسوع بعد الرحلة التبشيرية الأولى فقد</p>
<p>أرسلهم ليبشروا الناس بمجيئه ، وقد ذهبوا ورجعوا ليخبروه بكل</p>
<p>شيء . وكان بطرس هناك وأيضاً يوحنا ويعقوب وباقي الاثني عشر</p>
<p>.كل واحد يقص له باهتمام ما فعل وما قال و کیف استمع الناس</p>
<p>لتبشيره . لقد تحدثوا بتهور واستمع السيد إلى قصصهم بحنان ورأفة</p>
<p>&#8230; يجب علينا أيضاً ان نتعلم ونعمل مثلهم ونحدث الرب يسوع بكل</p>
<p>شيء مهما كان . أحياناً تنزلق الكلمات على ألسنتنا ويصبح من</p>
<p>السهل التحدث في حضرته. ونسر بذلك لأنه يبتسم لنا ، فهو يعلم</p>
<p>طفولة قلوبنا &#8230; كيف انها تنفجر سعادة من أجل الأشياء البسيطة</p>
<p>التي تمر وتزول . وأحياناً تتعثر حياتنا ونقف مرتعدين لما تخفيه لنا</p>
<p>الساعة المقبلة ، ونجد من الصعوبة سحب خطواتنا المثقلة لنقول له</p>
<p>كلمة واحدة &#8230; « ولكن هلم نرجع إلى الرب لأنه هو افترس فيشفينا</p>
<p>ضرب فيجبرنا »  (هو ٦ : ١) .</p>
<p>إذ أننا بكل تأكيد محتاجون إلى الشفاء ، سنجثو أمامه بتوسل ،</p>
<p>صامتين بآلامنا أو بالمخاوف التي تحيطنا &#8230; حينئذ سيمد يديه</p>
<p>الطاهرتین ويلمس بها نفوسنا فيجعلها قوية مرة آخرى حتی تجاهد</p>
<p>من جديد.</p>
<p>یا ربى يسوع الحبيب ، أنت تعلم طبائع القلب البشري الغريبة</p>
<p>المتقلبة . فأنت الذي خلقته و تصرف طبائعه جيداً ، وتعلم أننا إذا</p>
<p>ابتغينا النجاة فلابد من کشف حالنا أمامك . انه من السهل جداً أن</p>
<p>نسرع إلى حضرتك المقدسة ونتحدث عن مباهجنا التافهة واحزاننا ،</p>
<p>ولكن أحياناً نجده من الصعب جداً لأن الآلام التي أرسلتها ثقيلة جداً،</p>
<p>وتبدو كأنك بعيداً جداً . لكن امنحنا ياسيدنا الحبيب ان نلجأ إليك دائماً</p>
<p>ونتحدث بكل شيء مهما كان مفرحاً او محزناً بكل صراحة لننال</p>
<p>الشفاء والفرح الروحي. <a href="#_ftn16" name="_ftnref16">[16]</a></p>
<h3>من وحي قراءات اليوم</h3>
<p>&#8221; قد كنّا معاينين عظمته &#8221;   الكاثوليكون</p>
<p>إيماننا بين الموروثات النفسية وبين يقين الإختبار الشخصي</p>
<p></p>
<p>نحتاج أن نراجع أنفسنا في ممارساتنا وحياتنا اليومية وعبادتنا+</p>
<p>+ لأننا نتأثر كثيرا نفسياً ونخلط بين ما هو نفسي وما هو روحي والأخطر أن يكون النفسي هو ما نعتقده روحي</p>
<p>+ عذوبة صوت الكاهن والشمامسة والعظة الجميلة ( دون تغيير الحياة ) هي أمور نفسية لكن سماع صوت الله من القراءات الكنسية ومن عظة لأي خادم ومن كلمة تقال في الشارع هو الإختبار الروحي اليقيني</p>
<p>+ دراسة الكتاب المقدس بحب وعمق وفرح هو الإختبار اليقيني وسماع عظات جميلة عن كلمة الله تلمس وتر العاطفة فقط هو موروث نفسي</p>
<p>+ النمو والتغيير في روح العبادة هو إختبار شخصي والإرتباط فقط بمكان معين وأشخاص معينين هي موروث نفسي</p>
<p>+ الجلوس علي الفيس بالساعات في أمور روحية هي موروثات نفسية أما الجلوس الهادئ مع المسيح لمراجعه النفس أو للدخول إلي العمق في عشرته هو إختبار يقيني</p>
<p>+ هل يمكن أن تتكلّم عن الله بصفة شخصية وبمواقف محددة وإختبار يقيني في الحياة أم هي مجرد معلومات ؟</p>
<p>+ + يحتاج الإختبار اليقيني لهدف واضح صحيح وإرادة قوية وعدم إكتفاء بما أنا فيه أما النفسي فيكفيه الجو العام والروتينية والشكل دون الجوهر</p>
<p>+ الذي يري في الخفاء &#8221; أي ما تعيشه بعمق وبهدوء بعيداً عن أعين الناس وآرائهم &#8221;</p>
<p>+ فرح النفس يرتبط بالجو المحيط في العبادة والأمور التي صرت معتاداً عليها أما الإختبار اليقيني  فيرتبط بالرسالة الشخصية اليومية من الله ويعتبر تغيّر الأمور المعتادة رسالة من الله</p>
<p>+ عندما تكون العلاقة واللقاء والجلسة الشخصية مع المسيح أهم ممّن أصلي معهم ومن قيود المكان والأشخاص وأهم من الخدمة وأعظم من أي خسارة يكون وقتها الإختبار اليقيني هو أساس حياتي</p>
<hr />
<p><a href="#_ftnref1" name="_ftn1"></a>١١- الأب كاسيودوروس - تفسير سفر اعمال الرسل الإصحاح الثاني عشر - القمص تادرس يعقوب ملطي</p>
<p><a href="#_ftnref2" name="_ftn2"></a>١٢- المرجع : كتاب تفسير إنجيل لوقا للقديس كيرلس الأسكندري صفحة ٣٠٠ - ترجمة دكتور نصحي عبد الشهيد</p>
<p><a href="#_ftnref3" name="_ftn3"></a>١٣- المرجع : كتاب الشهيد إسطفانوس أول شهداء المسيحية ( صفحة ٥٥ - ٥٧ ) للقديس غريغوريوس النيسي - ترجمة دكتور سعيد حكيم يعقوب</p>
<p><a href="#_ftnref4" name="_ftn4"></a>١٤- المرجع : كتاب من مجد الي مجد للقديس غريغوريوس النيسي ( صفحة ١٩٦ ) - ترجمة القمص إشعياء ميخائيل</p>
<p><a href="#_ftnref5" name="_ftn5"></a>١٥- المرجع : تفسير سفر ناحوم ( الإصحاح الأول ) - القمص تادرس يعقوب ملطي</p>
<p><a href="#_ftnref6" name="_ftn6"></a>١٦- المرجع : تفسير سفر أعمال الرسل ( الإصحاح التاسع ) - القمص تادرس يعقوب ملطي</p>
<p><a href="#_ftnref7" name="_ftn7"></a>١٧- المرجع : تفسير سفر أعمال الرسل ( إصحاح ٢٨ ) - القمص تادرس يعقوب ملطي</p>
<p><a href="#_ftnref8" name="_ftn8"></a>١٨- المرجع : تفسير أعمال الرسل ( إصحاح ٢٣ ) - القمص تادرس يعقوب ملطي</p>
<p><a href="#_ftnref9" name="_ftn9"></a>١٩- المرجع : كتاب المنجلية القبطية الأرثوذكسية ( صفحة ١٤٧ ) - قداسة البابا تواضروس الثاني</p>
<p><a href="#_ftnref10" name="_ftn10"></a>٢٠- ( مقال بمجلة الكرازة عدد ٣ ، ٤ لسنة ١٩٦٧ صفحة ٤٥ )</p>
<p><a href="#_ftnref11" name="_ftn11"></a>٢١- المرجع : كتاب الكارز العظيم مار بولس الرسول صفحة ٧٧ - القمص يوسف أسعد</p>
<p><a href="#_ftnref12" name="_ftn12"></a>٢٢- المرجع : كتاب القديس بطرس الرسول يعلمني ( صفحة ٤٥ ) - القمص لوقا سيداروس</p>
<p><a href="#_ftnref13" name="_ftn13"></a>٢٣- المرجع : كتاب القديس بطرس الرسول يعلمني ( صفحة ١٧٢ ) - القمص لوقا سيداروس</p>
<p><a href="#_ftnref14" name="_ftn14"></a>٢٤- المرجع : كتاب تأملات وعناصر روحية في آحاد وأيام السنة التوتية ( الجزء الثالث  صفحة ٦٧ ) - إعداد القمص تادرس البراموسي</p>
<p><a href="#_ftnref15" name="_ftn15"></a>٢٥- المرجع : كتاب الكنز الأنفس للارشيدياكون حبيب جرجس الجزء الثالث ( صفحة ٩ ) - مشروع الكنوز القبطية</p>
<p><a href="#_ftnref16" name="_ftn16"></a>٢٦- المرجع : كتاب الصديق الدائم للأب فرنسيس ب. لابيف ( صفحة ٢٤ ) - ترجمة السيدة إيزيس ميخائيل أسعد</p>

      {% endcreateArticleAccordions %}
    </section>
  {% endblock %}
  