---
layout: 'layouts/reading.html'
title: 'اليوم الخامس والعشرون من شهر مسري'
permalink: annual/12-25.html
---
  {% block content %}
    <section id="readings">
      <ul>
      {% if 'undefined' != 'undefined' %}
      
      {% else %}
      {% if '19.42:1' != 'null' %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">العشية</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeVespers '19.42:1' '40.25:14-23' %}
          </div>
        </div>
      </li>
      {% endif %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">باكر</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeMatins '19.34:5,7' '42.19:11-19' '' %}
          </div>
        </div>
      </li>
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <h3 class="flex items-center justify-between">
            <span class="kufi">القداس</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </h3>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeLitugy '50.3:20-21*@+50.4:1-9' '59.5:9-12' '44.18:24-28*@+44.19:1-6' '19.104:1,2,4' '42.12:32-44' %}
          </div>
        </div>
      </li>

      {% endif %}
        </ul>
    </section>
    <section id="article">
      <h3 class="mt-8 mb-4 heading-explain">شرح القراءات</h3>
      {% createArticleAccordions %}
        <p>تتماثل قراءات اليوم ( نياحة أنبا بيصاريون الكبير ) مع قراءات يوم ثاني وعشرين طوبه ( تذكار الأنبا أنطونيوس ) في كل شئ ما عدا المزامير والإبركسيس</p>
<p>وكلا القراءتين في الإبركسيس يتكلمان عن التلمذة التي تتمشي مع الحياة الرهبانية فنري تلمذة شاول لبرنابا في قراءة ثاني وعشرين طوبه ( تذكار أنبا أنطونيوس ) وتلمذة أبلوس لأكيلا وبريسكلا  في قراءة خامس وعشرين مسري ( تذكار أنبا بيصاريون الكبير )</p>
<p>لذلك يُمْكِن الرجوع لشرح قراءة ثاني وعشرين طوبه وهو الرأي الذي يقوله أيضاً الأرشيدياكون بانوب عبده في كتابه كنوز النعمة ( من برمهات إلي النسئ ص ٢٣١ )</p>
<p>&#8221; حيث أن فصول الإنجيل الثلاثة الخاصة بهذا اليوم هي بعينها فصول يوم ٢٢ طوبه الخاصة بالأنبا أنطونيوس والآباء الرهبان وكذلك رسالة البولس فالأرجح أن اعتباره يوماً خاصاً هو من قبيل السهو في النقل ويجب إحالته علي فصول ٢٢ طوبه هذا مع ملاحظة اختلاف المزامير في اليومين وذلك طبقاً للقاعدة التي اتبعت في طبع القطمارس الجديد وهي صرف النظر عن اختلاف المزامير وإحالة فصول يوم عادي علي فصول اليوم الخاص منعاً للتكرار . أما رسالتا الكاثوليكون والإبركسيس ليوم ٢٥ مسري فهما بعينهما رسالتا يوم ١٦ بؤونة الخاص بالقديس أبا نوفر والآباء السياح . ولما كانت العلاقة بين الرهبان والسياح كبيرة لذا فالمرجح أن يوم ٢٥ مسري هو يوم عادي لا يوم خاص ويجب إحالته علي يوم ٢٢ طوبه &#8221;</p>
<p>+ يضيف السنكسار أيضاً لهذا اليوم نياحة القديس البابا مكاريوس الثالث البطريرك ال ١١٤</p>
<h4>القديس القمص بيشوي كامل: الحروب الهجومية</h4>
<p>&#8221; اذ أسلحة محاربتنا ليست جسدية بل قادرة بالله على هدم حصون هادمين ظنونا وكل علو يرتفع ضد معرفة الله ومستأسرين كل فكر الى طاعة الله &#8221; (٢كو ١٩ : ٤, ٥) .</p>
<p>&#8221; ابنوا أنفسكم على ايمانكم الأقدس مصلين فى الروح القدس واحفظوا أنفسكم فى محبة الله . وخلصوا البعض بالخوف مختطفين من النار &#8221; ( رسالة يهوذا ) .</p>
<p>تذكر سيرة الأنبا بيصاريون :</p>
<p>ان غيرته فى تخليص النفوس جعلته يبيع نفسه عبدا مرات كثيرة للممثلين والممثلات ولا يتركهم حتى يأتى بهم الى حضن المسيح تائبيين &#8230;</p>
<p>&#8221; وأعطى جبته لانسان فقير وسار عريانا فى السوق وكان يقول لنفسه كيف أكون راهبا لابسا ثوب وهذا المسكين عريانا ، حقا ان هذا هو المسيح والبرد يؤلمه &#8230; &#8221;</p>
<p>&#8221; كما باع انجيله وسدد به دين انسان محكوم عليه . ولما سأله تلميذه عن انجيله مصدر عزائه قال له &#8221; الذى أمرنا أن نبيع كل ما لنا ونعطى الفقراء بعته وأعطيت ثمنه للفقراء لكى يكون لنا شجاعة ضمير فى اليوم الأخير &#8221; &#8230;</p>
<p>من الانعزال عن الناس الى النزول لخلاصهم :</p>
<p>كان يطوف البرارى كالتائه ، وكان يهرب من وسط الرهبان ويجلس على باب الدير نائما مثل انسان نجا من الغرق .</p>
<p>ومرة سأله أحد الاخوة عن سر بكائه فأجاب بيصاريون سأظل أبكى الى أن أجد ممتلكات بيتى الذى نهب ، وعندى بيت آبائى الذى أخذ بشتى ومختلف الطرق . لن أسكن تحت سقف لأن قراصنة دفعوا بى فى البحر ، وعاصفة هبت على ، فتحررت من غناى ، وسقطت من شرف نسبى وأصبحت موضع احتقار &#8230; وهكذا كان يعبر بيصاريون عما صنعه ابليس بالجنس البشرى الذى سلب بيتنا ، وتصنعه العواصف والشهوات واغراءات العالم &#8230;</p>
<p>وهكذا نرى بيصاريون منعزلا عن العالم فى وحدة قوية مع الله الى أن ينزل الى العالم فى خدمة هجومية ليخلص نفسا فى عمق الشر كما ينقض الوحش على فريسته . والعجيب أننا اليوم نقضى كل وقتنا فى الخدمة ، أما هؤلاء القديسون فكانوا يعيشون أغلب حياتهم فى التوبة والاتحاد بالله . ثم ينزلون فى خدمة هجومية صاروخية الى معاقل الشر ، وبعد الانتهاء منها يرجعون فورا الى عزلتهم . وأحيانا تكون معهم فريستهم وصيدهم ، وكانوا يعتمدون فى خدمتهم على قوة الروح والصلاة والصوم ، &#8221; وقد اشتهر هذا القديس بحبه لنوع معين من التبشير نادر المثال يشهد له بعلو الفضيلة وقوة الشخصية وضبط الشهوة وهو تبشير المنحرفات والممثلين والممثلات من ذوى الشهرة الماجنة باعتبارهم مركز افساد الشباب . ومن أعظم أعماله توبة تاييس &#8221; .</p>
<p>توبة تاييس :</p>
<p>كانت هذه الأخت على قسط وافر من الجمال وأخذت والدتها لها مكانا فى السوق بسبب جمال محياها . ولما شاع صيت جمالها جاء اليها من أماكن بعيدة أناس كثيرون فى مشاهدتها . ولم يكتف ناظروها بمشاهدة جمالها &#8230; بل أعترى الكثير جنونا بسبب ولههم فيها فباعوا ممتلكاتهم لوالديها حتى يتاجروا معها ولما سمع بيصاريون هذه الأخبار عنها ، جمالها قد جرف الكثيرون الى الهلاك اتخذ شكل انسان فى العالم وأخذ معه دينارا ومضى اليها .</p>
<p>وهكذا يستمر الكاتب يعرض لنا كيف أنه تحايل حتى دخل معها الحجرة وبدأ يستدرجها فى الكلام عن الله ثم عن التوبة والدينونة حتى تحرك قلبها للتوبة &#8230; وطلبت منه أن تتوب . ثم جمعت تاييس كل مالها الذى حصلت عليه عن طريق الزنا وأحرقته فى وسط المدينة وهى تقول بصوت عال &#8221; هلموا جميعا يا من تاجرتم معى ، انظروا هأنذا أحرق أمام أعينكم كل كسب جمعته بواسطة الخطية . عندئذ أخذها بيصاريون معه الى دير العذارى . وتفاضلت القديسة فى حياة النسك والصلاة حتى أنها حبست نفسها فى قلايتها وكانوا يناولونها الطعام من طاقة فيها &#8230;</p>
<p>❖ هذه يا أحبائى غيرة بيصاريون فى تخليص النفوس التى جعلته يبيع نفسه عبدا مرات كثيرة للممثلين والممثلات ولا يتركهم حتى يأتى بهم الى حضن المسيح &#8230;</p>
<p>الانجيل حياته :</p>
<p>وفى نهاية هذه السيرة المباركة نلفت نظر القارىء الى هذا النوع من الآباء الذى جعل الانجيل حياته فلم تستطع البرارى أن تحد لجة محبته لخلاص الناس فانطلق من كل قيد يبشر ويكرز ويقود الى التوبة أخطى الخطاة . حاملا بريته المقدسة فى قلبه وعائشا فى وحدته النفسية والفكرية أينما حل ضابطا لفكره فى السوق كما فى القلاية ومتقشفا صائما فى السفينة كما فى الصحراء فقيرا جائعا فى شوارع أثينا أكثر مما كان فى شهيت .</p>
<p>القوة اللانهائية فى الخدمة :</p>
<p>كان المسكين بيصاريون يصرخ ويقول &#8221; &#8230; أنى سقطت من غناى ونسبى &#8230; &#8221; ولكن عندما كان ينزل للخدمة فى العالم كان يهاجم الشر فى معقله بقوة هجومية لا نهائية &#8230; انها قوة الله.</p>
<p>فالانسان المسيحى حامل لروح الله ، وهذا القديس بالصوم والصلاة والوحدة امتلأ بروح الله ، وأكتشف وجود قوة الله اللانهائية فيه . من أجل هذا نحن نتحسر على حالنا كمسيحيين اليوم عندما لا نلتفت الى هذه القوة اللانهائية ، ونخدم بقوتنا البشرية خدمة هزيلة ومحدودة مرتبطة بجهدنا البشرى وذاتيتنا .</p>
<p>ان الامتلاء من روح الله الساكن فينا واستعلان قوته فينا أمر لازم لكل خادم ولكل مسيحى ، وهذا الاستعلان لا يتأتى الا بالصوم والصلاة والاختلاء وتنفيذ وصية الانجيل .</p>
<p>اللانهائية فى تنفيذ وصية الانجيل :</p>
<p>هذا القديس عندما وجد انسانا فقيرا عريانا فى السوق قال محدثا نفسه &#8221; حقا ان هذا هو المسيح والبرد يؤلمه ، ثم وثب بقلب شجاع وتعرى من الثوب الذى كان يلبسه وأعطاه لذلك المسكين ثم جلس وهو عريان والانجيل فى يده &#8230; ولما سألوه من الذى عراه أشار الى الانجيل . وهذا القديس هو الذى باع انجيله مصدر تعزيته ليخلص انسانا مديونا من الحبس .    يا أحبائى هذه هى سر قوة بيصاريون فى تنفيذ وصية الانجيل الى أقصى حدودها &#8230; الى الميل الثانى . فوصية الانجيل ليس لها حدود ، ونحن ننمو ونكبر بالقدر الذى ننفذه منها ، والذى ينفذها الى ما لا نهاية يكبر معها الى ما لا نهاية .</p>
<p>الانتساب لله :</p>
<p>الذى يرتبط بانسان عظيم ينال من شرفه ويكبر معه بالتبعية ، والذى ينتسب لأمور العالم الحقيرة يصغر معها والذى ينتسب لله ولوصية انجيله يعمل أعمال الله ويصير عظيما وجبارا وخالدا مع الله ويقول &#8221; غير المستطاع عند الناس مستطاع عند الله &#8221; ويقول &#8221; أستطيع كل شىء فى المسيح الذى يقوينى &#8221; &#8230; يصير مثل بيصاريون .</p>
<p>والذى ينتسب الى الله يكبر بالله حتى بعد مماته :</p>
<p>ولما مات بيصاريون جاهد رجال الغرب حتى حصلوا على جسد تاييس وبيصاريون وحملوهما الى متحف Guimet بباريس ويقال انهما لا يزالان راقدين هناك معا . ان القديسين الذين انتسبوا الى الله عظمت سيرتهم بعد مماتهم كزجاجة الطيب التى عبأت رائحتها المسكونة كلها &#8221; حيثما يكرز بالانجيل يذكر ما فعلته هذه المرأة تذكارا لها &#8220;(مر ١٤: ٩) .ان حياة بيصاريون زجاجة طيب الهى لانهائى الثمن وهكذا فالأنتساب لله يضفى على الانسان الترابى قوة الله ورائحته الذكية . ان الوقوف المتواصل للصلاة أمام الله جعل وجه موسى يضىء وايليا يطير للسماء ، ودانيال يقوى على الأسود ، كذلك الادمان على فعل الشر يسود وجه الانسان ويثقل جسده محدرا اياه للهاوية ويضعف شخصيته أمام الشر كآخاب الملك .</p>
<p>الأسلحة الهجومية كما حددها بيصاريون :</p>
<p>الاختلاء والصوم من أجل الامتلاء من روح الله الساكن فيه . تنفيذه لوصية الانجيل الى مالانهاية ايمانه اللانهائى ، حبه للخطاة بقوة للمنتهى والسعى لخلاصهم . اتضاعه ، فعندما طرد الرهبان أحد الأخوة من الكنيسة عندما أخطأ &#8230; قام بيصاريون وخرج معه قائلا : &#8221; كم بالحرى أنا الخاطىء الذى صنعت خطايا أكثر منه &#8221; ، وخرج مرافقا الأخ الخاطىء &#8230;</p>
<p>أخيرا :</p>
<p>قال بستان الرهبان عن القديس بيصاريون : انه كان كطيور السماء وكأحد وحوش البرية &#8230; أكمل حياته فى سكينة بلا هم . لم يقتن بيتا ولا خزن طعاما ولا اقتنى ملبسا أو كتابا بل كان بكليته حرا من الآلام الجسدانية ، طائفا فى البرارى كالتائه عاريا تحت الأهوية وكان يصبر على الضيقات مسرورا. <a href="#_ftn1" name="_ftnref1">[1]</a> &#8230; &#8221;</p>
<hr />
<p><a href="#_ftnref1" name="_ftn1"></a>٢٧- المرجع : كتاب نبذات روحية هادفة ( الجزء الأول مقالة رقم ٣ ) &#8211; القمص بيشوي كامل &#8211; مشروع الكنوز القبط</p>

      {% endcreateArticleAccordions %}
    </section>
  {% endblock %}
  