---
layout: 'layouts/reading.html'
title: 'الثامن والعشرون من شهر مسري'
tags: 'annual'
permalink: /articles/annual/12-28.html
---
  {% block content %}
    <section id="readings">
      <ul>
      {% if 'undefined' != 'undefined' %}
      
      {% else %}
      {% if '19.47:8-9' != 'null' %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">العشية</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeVespers '19.47:8-9' '43.15:7-16' %}
          </div>
        </div>
      </li>
      {% endif %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">باكر</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeMatins '19.105:3-4' '42.16:19-31' '' %}
          </div>
        </div>
      </li>
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <h3 class="flex items-center justify-between">
            <span class="kufi">القداس</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </h3>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeLitugy '58.11:1-10' '59.2:14-23' '44.7:20-34' '19.105:8-10' '41.12:18-27' %}
          </div>
        </div>
      </li>

      {% endif %}
        </ul>
    </section>
    <section id="article">
      <h3 class="mt-8 mb-4 heading-explain">شرح القراءات</h3>
      {% createArticleAccordions %}
        <p><strong>( تذكار نياحة الآباء إبراهيم وإسحق ويعقوب )</strong></p>
<p>و لا تصرف رحمتك عنا لاجل ابراهيم خليلك واسحق عبدك واسرائيل قديسك</p>
<p>(تتمة سفر دانيال ١ : ٣٥)</p>
<p>نج يا مخلص شعبا متواضعا. لا تتركنا إلى الانقضاء ولا تسلمنا إلى الدهر، ولا تنقض عهدك ولا تنزع عنا رحمتك، من أجل إبراهيمَ حبيبِك واسحقَ عبدِك وإسرائيلَ قديسِك.</p>
<p>قطع الساعة التاسعة</p>
<p><a href="#_ftn1" name="_ftnref1">[1]</a>&#8221; لكي يكونوا أبناء الوعد نسل إبراهيم يلزم أن يُدعو في إسحق، وذلك بتجميعهم معًا في المسيح خلال دعوة النعمة &#8220;.</p>
<h3>شواهد القراءات</h3>
<p>(مز ٤٦: ٦ ، ٧ ، ٨) ، (يو ١٥ : ٧ - ١٦) ، (مز ١٠٤ : ٢) ، (لو ١٦ : ١٩ -٣١) ، (عب ١١ : ١ - ١٠) ، (يع ٢ : ١٤ - ٢٣) ، (أع ٧ : ٢٠ - ٣٤) ، (مز ١٠٤ : ٤ ، ٥) ، (مر ١٢ : ١٨ -٢٧)</p>
<h3>ملاحظات على قراءات يوم ٢٨ مسري</h3>
<p>+ قراءة إنجيل عشيّة اليوم (يو ١٥: ٧ - ١٦) هي نفس قراءة إنجيل عشيّة يوم ٤ طوبه ( تذكار القديس يوحنا بن زبدي )</p>
<p>وهي القراءة التي تتكلم عن صداقة الله مع الإنسان ، وأسرار الله المُعلنة لأولاده الأحباء ، والتي كان أبونا إبراهيم نموذجاً لها في العهد القديم (تك ١٨ : ١٧) ، ويوحنا الحبيب في العهد الجديد (يو ١٣ : ٢٥) ، لذلك جاءت في تذكارهما هما الإثنين</p>
<p>+ قراءة البولس اليوم (عب ١١ : ١ - ١٠) جاءت في ٢ بؤونه ، ٢٨ مسري ، وجاءت أيضاً في الأحد الثالث من شهر بشنس</p>
<p>وتُشير القراءة إلي هابيل في موته الذي كان يوحنا المعمدان ( ٢ بؤونه ) مثله في موته كما قيل &#8221; وإن مات يتكلَّم بعد &#8221;</p>
<p>وتُشير إلي إيمان أب الآباء إبراهيم ( ٢٨ مسري ) الذي لما دُعي أطاع أن يخرج إلي المكان الذي كان عتيداً أن يأخذه</p>
<p>والإشارة في الأحد الثالث من بشنس إلي عظمة إيمان نوح الذي بني فلكاً لخلاص بيته</p>
<p>+ قراءة الإبركسيس اليوم (أع ٧ : ٢٠ - ٣٤) تكررت في قراءة يوم ٢٤ بشنس ، وتتشابه مع قراءة الإبركسيس (أع ٧ : ٢٣ - ٣٤) ليوم ٢٩ برمهات ، وأيضاً مع قراءة الإبركسيس (أع ٧ : ٣٠ - ٣٤) في قراءات الأحد الثاني من شهر كيهك ، وأيضاً قراءة الإبركسيس (أع ٧ : ٣٠ - ٣٧) ليوم ٣٠ مسري ( تذكار ملاخي النبي )</p>
<p>وهي القراءة التي تكلمت عن إحدي رموز التجسّد ظهور الرب في العليقة المُشتعلة لذلك جاءت في عيد البشارة ( ٢٩ برمهات ) ، والأحد الثاني من كيهك ، وتكلَّمت عن الإرسالية إلي مصر لذلك جاءت في تذكار دخول الرب أرض مصر ( ٢٤ بشنس ) وإعلان الله أنه إله إبراهيم وإسحق ويعقوب لذلك جاء في تذكارهم ( ٢٨ مسري ) ، وللإشارة إلي رفض إسرائيل لأنبياؤهم ( ٣٠ مسري )</p>
<h3>شرح القراءات</h3>
<p>اليوم هو تذكار نياحة الآباء إبراهيم وإسحق ويعقوب لذلك تحكي قراءات اليوم إختيارهم ودعوتهم وكرامتهم ومكانتهم في كنيسة العهد الجديد</p>
<p>تتكلّم المزامير عن الآباء ودورهم في تدبير الخلاص ( مزمور عشيّة ) وعِلَّة إختيارهم ( مزمور باكر ) وأمانة الله معهم ( مزمور القدَّاس )</p>
<p>في مزمور عشيّة نري خلاص الأمم ومجئ الشعوب للرب إله إبراهيم لأنه بسبب طاعة أبونا إبراهيم الكاملة لله إستحق أن يأتي المسيّا من نسله ويتبارك في نسله جميع أمم الأرض</p>
<p>( الرب ملك علي جميع الأمم الله جلس علي كرسيه المقدس رؤساء الشعوب اجتمعوا مع إله إبراهيم لأن أعزاء الله قد ارتفعوا جداً )</p>
<p>وفِي مزمور باكر سبب وعلّة إختيارهم أنهم إلتمسوا وابتغوا وجهه كما في صراع أبونا يعقوب حتي طلوع الفجر لأجل نوال البركة وكما يقول القديس باخوميوس</p>
<p>اطلبوا الله مثل إبراهيم الذي أطاع الله، وقدَّم ابنه ذبيحة لله الذي دعاه &#8220;صديقي&#8221;.</p>
<p>التفسير المزمور ابونا تادرس )</p>
<p>( وليفرح قلب الذين يلتمسون الرب ابتغوا الرب واعتزوا اطلبوا وجهه في كل حين واتبعوه )</p>
<p>وفِي مزمور القدَّاس أمانة الله معهم والقسم والعهد الذي قدَّمه لأبونا إبراهيم وأبونا إسحق وتثبَّت مع أبونا يعقوب عندما غيَّر إسمه إلي إسرائيل</p>
<p>( الكلمة التي أوصي بها إلي آلاف الأجيال الي عهد به لإبراهيم وقسمه لإسحق أقامه ليعقوب أمراً ولإسرائيل عهداً إلي الأبد )</p>
<p>وتتكلَّم القراءات عن دعوتهم وطاعتهم ( البولس ) وإيمانهم الذي إكتمل بالأعمال ( الكاثوليكون ) وحضورهم الدائم في تدبير الخلاص ( الإبركسيس )</p>
<p>يُعْلِن البولس أن دعوة إبراهيم وطاعته أهّلته ليس فقط لميراث الأرض والبركات المادّية لكن أيضاً للتطلّع إلي أورشليم السمائية المدينة التي لها الأساسات ( تفسير أبونا أنطونيوس فكري )</p>
<p>( بالإيمان إبراهيم لما دُعي أطاع أن يخرج إلي المكان الذي كان عتيداً أن يأخذه فخرج وهو لا يعلم إلي أين يتوجّه بالإيمان تغرّب في أرض الموعد كأنها ليست أرضه ساكناً في خيام مع إسحق ويعقوب شركاءه في ميراث هذا الموعد بعينه لأنه كان ينتظر المدينة التي لها الأساسات التي صانعها وخالقها هو الله )</p>
<p>وفِي الكاثوليكون عن إيمان إبراهيم الذي استعلن وكَمُل في أعماله بإستعداده لتقديم إبنه ذبيحة</p>
<p>( ألم يتبرر إبراهيم أبونا بالأعمال إذ قدم إسحق إبنه علي المذبح فتري أن الإيمان عمل مع أعماله وبالأعمال أكمل الإيمان وتم الكتاب القائل فآمن إبراهيم بالله فحُسب له برّا ودُعي خليل الله )</p>
<p>وفِي الإبركسيس كيف يذكرهم الله في تدبير خلاصه للشعب من عبودية فرعون أثناء دعوته لموسي النبي عند ظهوره له في العلّيقة</p>
<p>( فلما رأي موسي الرؤيا تعجَّب وفيما هو يتقدم ليتأمل صار صوت الرب قائلاً أنا هو إله آبائك إله إبراهيم وإله إسحق وإله يعقوب فإرتعد موسي ولم يجسر أن يتأمل فقال له الرب اخلع نعل رجليك لأن الموضع الذي أنت واقف عليه هو أرض مقدسة قد رأيت عيانا مشقة شعبي الذين في مصر وسمعت أنينهم ونزلت لأخلصهم فهلمَّ الآن لأرسلك إلي مصر )</p>
<p>وفِي الأناجيل عن أبونا إبراهيم صديق الله ( إنجيل عشيّة ) وصديق كل مؤمني الله ( إنجيل باكر ) فإستحق أن يحيا مع الله إلي الأبد ( إنجيل القدَّاس )</p>
<p>في إنجيل عشيّة نري أبونا إبراهيم صديق الله الذي وضع نفسه وأطاع طلب الله منه بتقديم ابنه ذبيحة ونري الله صديق إبراهيم الذي أعلمه بكل شئ عندما أراد أن يُهْلِك سدوم وعمورة</p>
<p>( أليس لأحد حبٌّ أعظم من هذا أن يضع أحد نفسه لأجل صديقة وأنتم أحبائي إن عملتم كلَّ ما أوصيتكم به ولست أدعوكم عبيداً لأن العبد لا يعلم ما يصنع سيده لكني قد دعوتكم أصدقائي لأني أعلمتكم بكلّ ما سمعته من أبي )</p>
<p>وفِي إنجيل باكر صداقة وإحتضان أبونا إبراهيم لكل مؤمني الله في العهد الجديد</p>
<p>( فمات المسكين وحملته الملائكة إلي حضن إبراهيم ومات الغني أيضاً ودُفن فرفع عينيه وهو في الجحيم في العذاب ورأي إبراهيم من بعيد ولعازر في حضنه )</p>
<p>وفِي إنجيل القدَّاس الآباء الذين يحيون مع الله إلي الأبد وإله الأحياء الذي يفتخر بهم وينسب نفسه لهم</p>
<p>( وأما من جهه الأموات أنهم يقومون أفما قرأتم في كتاب موسي في أمر العليقة كيف كلمه الله قائلاً أنا إله إبراهيم وإله إسحق وإله يعقوب ليس هو إله أموات بل إله أحياء فأنتم إذاً تضلون كثيراً )</p>
<h3>ملخّص القراءات</h3>
<p>مكانة الآباء وكرامتهم وسبب إختيارهم ودوام وعد الله لهم                                                مزمور عشيّة وباكر والقدّاس</p>
<p>طاعتهم الكاملة للدعوة وأعمالهم التي أكملت إيمانهم وعلَّة ذكرهم عند تدبير الخلاص          البولس والكاثوليكون والإبركسيس</p>
<p>أبونا إبراهيم صديق الله الذي لم يُخفي عنه ما كان سيفعله في الشعوب وصديق كل مؤمني الله والذي نال الحياة مع الله بعدالموت</p>
<p>إنجيل عشيّة وباكر والقدّاس</p>
<h3>أفكار مقترحة للعظات</h3>
<h4>(١) اله إبراهيم وإله إسحق وإله يعقوب</h4>
<p>+ ما أجمل وما أعظم أن يُعطينا الله شرف ومجد الإنتساب له (١يو ٣ : ١) فكم يكون من مجد وكرامة أن ينسب الله نفسه لنا فيقول أنا إله إبراهيم وإله إسحق وإله يعقوب والعجيب أنه لا يقول أنا إله إبراهيم وإسحق ويعقوب لأنه يُعْلِن عن علاقة شخصية خاصّة جداً فيُعْطي كرامة خاصة لإبراهيم وكرامة خاصة لإسحق وكرامة خاصة ليعقوب</p>
<p>+ وهذا أيضاً مانراه ونسمعه كثيرا في السنكسار عندما يري بعض الناس إحتمال الشهداء للعذابات بصبر ويرون صلاتهم لأجل قاتليهم فيؤمنون ويصرخون أُؤمن بإله مار جرجس أو بإله مارمينا والعجيب أن قوَّة هذا الإيمان تجعلهم يقبلون الموت لأجل هذا الإله الذي ربما لا يعرفون عنه شيئاً سوي أنه إله هذا الشهيد ( أمثلة من السنكسار .. )</p>
<p>+ وهذا يفرض مسؤولية كبيرة علينا كمسيحيين ماذا يقول الناس عن إلهنا ؟ لذلك فلنراجع أنفسنا ماذا يقول الناس عن إله &#8230;. ( كل واحد فينا ) هل هو إله يمدحه الناس ومن يعرفوننا من غير المؤمنين فيُمجِّدوا هذا الإله ( يمجدوا أباكم مت ١٦:٥ + رائحة المسيح ٢كو ٢ : ١٥ + سيرتكم الصالحة في المسيح ١بط ٣ : ١٦) وربما يؤمنون به أم هو إله يتعثر فيه الناس بسببنا ( اسم الله يجدّف رو ٢٤:٢)</p>
<h4>( ٢ )إله إبراهيم وإله إسحق وإله يعقوب</h4>
<p>١- يُمجِّد أولاده ويرفعهم</p>
<p>&#8221; رؤساء الشعوب اجتمعوا مع إله إبراهيم &#8221;                                                     مزمور عشيَّة</p>
<p>يرفع الله كرامة الله أمام ملوك الأرض ورؤسائها وينسب أمامهم نفسه إليهم</p>
<p>٢- الصداقة مع الله</p>
<p>&#8221; لأن العبد لا يعلم ما يصنع سيده لكنِّي قد دعوتكم أصدقائي لأنِّي أعلمتكم بكلِّ ما سمعته من أبي &#8221;   إنجيل عشيَّة</p>
<p>ما أجمل أن يدعونا الله أصدقاء له ( ) وهذا هو أيضاً ما قاله الله قبل إنزال العقوبة علي سدوم وعمورة ( هل أخفي عن عبدي إبراهيم &#8230; )</p>
<p>٣- فردوس أولاده</p>
<p>&#8221; وحملته الملائكة إلي حضن إبراهيم &#8221;                                                        إنجيل باكر</p>
<p>ما أعجب هذا الكلام لأن غاية كل الإنسان بعد موته أن يذهب إلي الله ويحيا معه لكن الرب هنا يُعْلِن أن من مات سيذهب إلي حضن إبراهيم ! فلننظر كيف رفع الرب من كرامة من أحبوه في حياتهم وبعد موتهم</p>
<p>٤- أمانة الله في وعوده مع أولاده</p>
<p>&#8221; الكلمة التي أوصي بها إلي آلاف الأجيال الذي عهد به لأبراهيم وقسمه لإسحق أقامه ليعقوب أمراً ولإسرائيل عهداً إلي الأبد &#8221;                                                                                        مزمور القدَّاس</p>
<p>٥- إنتسابه لأولاده</p>
<p>&#8221; أنا هو إله أبائك إله إبراهيم وإله إسحق وإله يعقوب &#8221; الإبركسيس + مزمور عشيَّة + إنجيل القدَّاس</p>
<p>ما أعظمها نعمة وعطية ومجد لنا أن يفرح بنا الله إلي هذا المستوي ويفتخر بأولاده أمام الكل وينسب نفسه لهم</p>
<h4>(٣) حياة الإيمان</h4>
<p>١- الثبات في محبّته وحفظ الوصيّة</p>
<p>&#8221; اثبتوا في محبتي إن حفظتم وصاياي تثبتون في محبتي &#8221;                إنجيل عشيَّة</p>
<p>تكررت كلمة ثبات خمس مرات في هذا النص لأهميتها في تذوق محبّته ونوال دوام الفرح وغني الثمر</p>
<p>٢- إلتماس وجه الرب وحده والإعتزاز به</p>
<p>&#8221; وليفرح قلب الذين يلتمسون الرب ابتغوا الرب واعتزوا اطلبوا وجهه في كلِّ حين واتبعوه &#8221;      مزمور باكر</p>
<p>عندما نطلب وجهه كل حين نضمن أمان مسيرتنا وطريق حياتنا ( خر 33 : 15 )</p>
<p>٣- أحشاء الرحمة</p>
<p>&#8221; يا إبني أذكر أنك استوفيت خيراتك في حياتك وكذلك لعازر البلايا &#8221;     إنجيل باكر</p>
<p>إحدي أساسيات موقف الله يوم الدينونة كيف كانت أحشاؤنا تجاه من حولنا (مت ٤٥:٢٥) ، (يع ٣،٢)</p>
<p>٤- طاعة الإيمان وكمال التسليم</p>
<p>&#8221; بالإيمان إبراهيم لما دعي أطاع أن يخرج إلي المكان الذي كان عتيداً أن يأخذه فخرج وهو لا يعلم إلي أين يتوجَّهُ &#8221;</p>
<p>البولس</p>
<p>طاعة أبونا إبراهيم كانت بسبب ثقته الكبيرة في الله لذلك لم يحتاج لضمانات وكانت تكفي الثقة في الوعد</p>
<p>٥- إمتحان الإيمان</p>
<p>&#8221; ألم يتبرر إبراهيم أبونا بالأعمال إذ قدَّم إسحق إبنه علي المذبح &#8221;        الكاثوليكون</p>
<p>لم يمتحن الله أبونا إبراهيم ليري ماذا سيفعل لكن ليُرينا ماذا كان إستعداده أن يفعل فنعرف إلي أي حد كان يُحب إبراهيم الله وإلي أي مستوي كان يُمكن أن يبذل تعبيراً عن طاعته ومحبته</p>
<h4>(٤) الأبديّة</h4>
<p>١- ماذا يحدث بعد الموت ؟</p>
<p>&#8221; فمات المسكين وحملته الملائكة إلي حضن إبراهيم &#8230;. &#8221;                إنجيل باكر</p>
<p>نري في هذا النص أن الأبرار هم فقط المعروفون في سجلات الله والأبدية ( ذُكِرَ فقط إسم المسكين ولم يُذْكَر إسم الغني ) لذلك يقول الله للأشرار اني لا أعرفكم ( مت ٧ : ٢٣ )</p>
<p>وأن من يموت من الأبرار تحمله الملائكة بعكس الأشرار ( وإن كان لم يُذْكَر صراحة لكنها تُفْهَم ضمناً )</p>
<p>ومن يموت يذهب إلي حضن إبراهيم ويصير في حالة تعزية دائمة والأشرار في عذاب دائم في الجحيم</p>
<p>والهُوَّة عميقة بين الإثنين ولا يُمْكِن لأحد العبور من مكان لآخر</p>
<p>والنفوس في الجحيم والفردوس يُمْكِن أن تشعر بإخوتها علي الأرض</p>
<p>٢- الموت يخصُّ الجسد فقط لكن لا تموت الروح ولا تموت الرسالة</p>
<p>&#8221; بالإيمان قرَّب هابيل لله ذبيحة أفضل من قايين .. وبه وإن مات يتكلَّم بعد &#8221;           البولس</p>
<p>نري هنا أن موت هابيل لم يُؤثِّر في رسالته التي عاشها- الذبيحة الأفضل وحياته البارّة - لذلك حتي ولو مات بالجسد لكن بقيت رسالته مُحفِّزة لكل من يُرِيد أن يُقدِّم تقدمة لله</p>
<p>٣- محبِّة الإنسان لله يُمْكِن أن تجعله يتجاوز موت الجسد</p>
<p>&#8221; بالإيمان نُقِل اخنوخ لكي لا يري الموت ولم يوجد لأن الله نَقَله &#8221;                        البولس</p>
<p>أخنوخ وإيليا هما اللذان نقلهما الله إليه دون موت الجسد (عب ١١ : ٥)</p>
<p>٤- كيف تكون الأبديّة رجاؤنا ؟</p>
<p>&#8221; لأنه كان ينتظر المدينة التي لها الأساسات التي صانعها وخالقها هو الله &#8221;        البولس</p>
<p>لذلك تغرَّب الآباء في أرض الموعد كأنها ليست أرضهم (عب ١١ : ٩) وهكذا يعيش المسيحي في الأرض كأنه غريب ويعتبر مواطنته وجنسيته في السموات (في ٣ : ٢٠)</p>
<p>٥- إختلاف الحياة في الأبديّة عن الحياة في الأرض في كل شئ وفِي كل الإحتياجات ونكون كملائكة الله</p>
<p>&#8221; لأنهم متي قاموا من الأموات لا يزوِّجون ولا يُزوَّجون بل يكونون كملائكة في السموات &#8230; ليس هو إله أموات بل إله أحياء &#8221;                                                                                            إنجيل القدَّاس</p>
<h3>عظات آبائية</h3>
<h4>ارتباط وعود الله للآباء البطاركة بالمسيح عند العلامة أوريجانوس</h4>
<p>على ايه حال يشرح الرسول آيتنا قائلا : &#8221; أعطي الله الوعد لابراهيم ولنسله. لم يقل:ولأنساله كأنه عن كثيرين ، بل كأنه عن واحد فقط :ولنسلك،الذى هو المسيح .فالمسيح اذاً هو المكتوب عنه: &#8221; وأكثر نسلك ويصير كثيراً كنجوم السماء وكالرمل الذى على شاطئ البحر .فلمن اذاً نحتاج ان نشرح بعد كيف يكثر نسل المسيح ونحن نرى التبشير بالانجيل يمتد &#8221; من أقصي الارض الى أقصاها &#8221; .وانه لا يوجد تقريبا مكان بعد لم يحصل على بذار الكلمة ؟ لقد صورت هذه الحقيقه مقدما فى بدايه العالم حين قيل لآدم &#8220;انموا واكثروا&#8221; وهذا نفسه يوضح الرسول أنه &#8220;قد قيل نسبةً إلي المسيح والكنيسة</p>
<p>أما من جهه القول:  &#8221; كثيرا كنجوم السماء&#8221; وما يلى &#8221; كالرمل الذى على شاطئ البحر الذى لا يمكن عده ، فقد يقول   البعض ان صوره العدد السماوى يتناسب مع جماعة المسحيين وصوره رمل البحر مع الشعب اليهودى .وأعتقد بالأحري أننا من الممكن أن نطبق على الشعبين كلا المثلين .فقد كان هناك فى الشعب اليهودى الكثير من الاًبرار والأنبياء الذين يمكن ان نقارنهم بحق بنجوم السماء.وبالمقابل ،هناك فى شعبنا الكثير&#8221;ممن ليس لديهم ميل إلا للأرضيات &#8221; والذين حماقتهم &#8221; أثقل من رمل البحر&#8221; ،وأعتقد أنه يجب أن نحسب ضمنهم جموع الهراطقة.إلا أننا يجب ألا نظن أننا فى أمان  لأن الأمثلة الأرضية تنطبق على أي واحد منا،طالما لم ينزع &#8220;صورة الترابى&#8221; ويلبس &#8220;صورة السماوى&#8221;</p>
<p>وقد تصور الرسول ،على الأرجح فى ثوره أفكاره،القيامه فى الأجساد الترابية والسماوية &#8220;مجد الأجساد السماوية شئ،ومجد الأجساد الترابية آخر.حتى ان نجماً يمتاز عن نجم فى المجد،هكذا يكون ايضاً بالنسبة إلي قيامه الأموات &#8220;. ولمن يعرف أن يسمع ،يقدم الرب نفس التنبيه حين يقول: &#8221; فليضئ نوركم قدام الناس ،وإذ يروا أعمالكم الحسنة يمجدوا أباكم الذى فى السموات &#8220;.                          فالمسيح هو بعينه نسل إبراهيم وابن إبراهيم .هل تريدوا أن تقتنعوا بذلك أكثر من خلال أقوال الكتاب ؟ اسمعوا المكتوب فى الانجيل &#8220;كتاب سلسه نسب يسوع المسيح ابن داود ابن ابراهيم&#8221;</p>
<p>ففيه يتم إذاً قول الكتاب هذا : ويرث نسلك مدن الأعداء؟ &#8221; . فكيف إذاً ورث المسيح مدن الأعداء ؟  بلا أدني شك لأن &#8220;صوت &#8221; الرسل &#8221; قد ذاع فى جميع الارض،وفى العالم كله اقوالهم&#8221;.</p>
<p>ولكن ما الفائدة بالنسبة لى إذا ورث نسل إبراهيم &#8220;الذى هو المسيح&#8221; &#8220;مدن الأعداء &#8221; ،ولم يملك مدينتى الخاصة ، إن كانت فى مدينتى الخاصة، أي فى نفسي التى  هى &#8220;مدينه الملك العظيم&#8221; ،لا تُحفظ شرائع هذا الملك ولا قوانينه ؟ماذا يجدينى أن يكون الملك العظيم قد أخضع العالم كله وملك &#8220;مدن الأعداء&#8221; إن لم يكن منتصراً على اعدائه فىّ ، وإن لم يدمر &#8220;الناموس الذى يحارب في أعضائي ناموس ذهنى،ويسبينى الى ناموس الخطية ؟ &#8220;.</p>
<p>ليجتهد كل واحد منا لكى يكون المسيح فى نفسنا كما فى جسدنا ،منتصراً على الأعداء ويمتلك فضلاً عن ذلك مدينه نفسنا.بهذا الشكل ننتمى إلي نصيبه ، إلي نصيبه المختار المشابه &#8221; في المجد لنجوم السماء&#8221; ونقدر أن نحصل نحن ايضاً على بركة إبراهيم بالمسيح ربنا &#8220;الذى له المجد والسلطان إلي أبد الآبدين.آمين<a href="#_ftn2" name="_ftnref2">[2]</a>&#8221;</p>
<h4>أيضاً للعلَّامة أوريجانوس: معني إله ابراهيم</h4>
<p>يوجد وعد من الرب للذين يسمعون كلامه أنهم إذا فعلوا كل ما أمرهم به: &#8220;تكونوا لي شعبًا وأنا أكون لكم إلهًا&#8221;. ليس كل شعب يُدّعى شعب الله يكون بالفعل شعبًا لله. ألم يقل الله لذلك الشعب الذي كان يتظاهر بأنه شعب الله،: &#8220;إنكم لستم شعبي&#8221; لأنهم: &#8220;أغاظوني بإله آخر، أغاظوني بأصنامهم، فأنا أيضًا أغيظهم بأمة أخرى&#8230; غبية&#8221;.</p>
<p>أصبحنا نحن الآخرون شعبًا لله، وقد أعلن بر الله للشعب الذي سيأتي (سيولد)، أي للشعب القادم من الأمم. في الواقع وُلِد هذا الشعب فجأة، وقد قيل في النبي: &#8220;هل يُولد شعب مرة واحدة؟!&#8221;، نعم وُلد شعب مرة واحدة حينما جاء المخلص، وحينما آمن خمسة آلاف رجل في يومٍ واحدٍ بالإضافة إلى ثلاثة آلاف نفس في يومٍ آخر. يمكننا أن نرى شعبًا بأكمله مولودًا من كلمة الله يسوع المسيح. فقد وَلَدَت العاقر التي لم تكن قبلًا تُنجب، والتي قيل عنها: &#8220;ترنمي أيتها العاقر التي لم تلد. أشيدي بالترنم أيتها التي لم تتمخض، لأن بني المتوحشة (المتوحدة أو الوحيدة) أكثر من بني ذات البعل&#8221; (إش 54: 1)، إنها وحيدة، لأنها كانت محرومة من الشريعة ومن الله، أما الأخرى ذات البعل، أي الأمة اليهودية، فكانت كما هو معروف تتخذ من الشريعة الإلهية زوجًا لها.</p>
<p>بماذا إذًا يعدني الرب؟ &#8220;فتكونوا لي شعبًا وأنا أكون لكم إلهًا&#8221;. إنه ليس إلهًا للجميع، وإنما فقط للذين يهبهم نفسه مجانًا كإلهٍ لهم. كما قال لأحد الآباء: &#8220;أنا هو إلهك&#8221;، وقال لآخر: &#8220;سأكون إلهك&#8221;، وقال أيضًا عن آخرين: &#8220;سأكون لهم إلهًا&#8221;. متى نصل نحن أيضًا إلى أن يكون الله إلهًا لنا؟</p>
<p>إن كنت تريد أن تعرف من هم الذين يكون الرب إلهًا لهم، يعطيهم شرف إضافة أسمائهم إلى اسمه، انظر قوله: &#8220;أنا إله إبراهيم وإله إسحق وإله يعقوب&#8221;. وقد علق السيد المسيح على هذا بقوله: &#8220;ليس هو إله أموات بل إله أحياء&#8221;. من هو الإنسان المائت؟ الخاطئ، أو من لا يحمل في داخله الله القائل: &#8220;أنا هو الحياة&#8221;، وكل من يعمل الأعمال المائتة ولم يتب عنها حتى الآن.</p>
<p>إذًا، بما أن الله ليس إله أموات بل إله أحياء، وبما أننا نعرف أن الإنسان الحيّ هو الذي يحيا بحسب كلام السيد المسيح ووصاياه ويكون دائمًا ثابتًا فيه، فلو أردنا أن يصير الرب إلهًا لنا، نترك أعمال الموت، حتى يتمم لنا وعده: &#8220;فتكونوا لي  شعبًا وأنا أكون لكم إلهًا لأقيم الحلف الذي حلفت لآبائكم أن أعطيهم أرضًا تفيض لبنًا وعسلًا&#8221;. تأمل هذه الكلمات، فإن الرب يتحدث هنا كما لو لم يكن قد أعطاهم بعد هذه الأرض التي تفيض لبنًا وعسلًا. في الواقع الأرض التي أخذوها ليست هي التي كان يقصدها الله حينما قال &#8220;أرض تفيض لبنًا وعسلًا&#8221;، وإنما الأمر يتعلق بأرض أخرى قال عنها الرب في تعاليمه: &#8220;طوبى للودعاء لأنهم يرثون الأرض<a href="#_ftn3" name="_ftnref3">[3]</a>&#8220;.</p>
<h4>أبونا إبراهيم كمثال للذين وثقوا في المواعيد الإلهية عند القديس يوحنا ذهبي الفم</h4>
<p>١- آمن إبراهيم الشيخ أنه يصير أباً لجمهور كثير</p>
<p>كان إبراهيم شيخاً ولِكَبرِ سنه صار جسدُه مماتاً عن الإنجاب ، كان كالأموات لا يمكن أن يكون أباً … تخطَّي البار الزمان الذي فيه يمكن للطبيعة أن تهب نسلاً . وكان عُقْم زوجته سارة كعُقْمِ الحجارة حينما أعلن له الرب أنه يصير أباً لجمهور كثير كنجوم السماء … وقد وصف القديس بولس الرسول هذا الحال فقال :&#8221; ولا مماتية مستودع سارة &#8221; (رو ٤: ١٩) ، إذ لم يقل :&#8221; ولا مماتية سارة &#8221; حتي لا يظن أحد أن العقبة هي في السن وحده بل والطبيعة أيضاً ( عُقْرها ) . ولكن كما سبق أن قلت أنه بالرغم من وجود هذه العقبات عرف معني وعد الله وطرقه الكثيرة وإمكانياته العظيمة التي لا تعوقها قوانين الطبيعة ولا صعوبة الأمر … إنما تسير بنا وسط العوائق لتحقق ما قد سبق أن عينته .</p>
<p>لهذا صدَّق إبراهيم ما قيل له ، وآمن بالوعد دون أن يتأثر بسبب تضارب المَنْطِق … ولم يبحث كيف يتحقق هذا ؟ ولا تساءل : لماذا لم يأتِ الوعد في صباه ، بل جاء في زمان متأخر بعد الشيخوخة !</p>
<p>من أجل هذا يذكر الرسول بولس اسمه بطريقة سامية قائلاً : &#8221; فهو علي خلاف الرجاء ، آمن علي رجاء ، لكي يصير أباً لأمم كثيرة &#8221; (رو ٤: ١٨) . وما معني :&#8221; علي خلاف الرجاء آمن علي رجاء &#8220;؟ أيّ علي خلاف الرجاء البشري آمن بالرجاء بالله الذي يغلب في كل شيء ، ويستطيع كل شيء ، ويعلو فوق كل شيء !</p>
<p>لم يؤمن فقط أنه يكون أباً ، بل وأباً لأمم كثيرة ، وهو شيخ غير قادر علي الإنجاب ، وزوجته العجوز عاقر . &#8221; كما قيل هكذا يكون نسلك . وإذ لم يكن ضعيفاً في الإيمان ، لم يعتبر جسده ، وهو صار مماتاً ، إذ كان ابن مئة سنة ، ولا مماتية مستودع سارة . ولا بعدم إيمان ارتاب في وعد الله ، بل تقوّي بالإيمان معطياً مجداً لله . وتيقن أن ما وعد به هو قادر أن يفعله أيضاً &#8220;(رو ٤: ١٨-٢١) …</p>
<p>لقد مجَّد الله لأنه لم يكن فضولياً ، ولا سأل في طياشة ، وإنما خضع لحكمته غير المُدرَكة وقدرته ، بغير نقاشٍ فيما قيل له .</p>
<p>هكذا نُمَجَّد الله بخضوعنا له دوماً قدام حكمته غير المُدركة وقدرته غير المحواة ، ولا نسأل بتهوُّر : لماذا هذا ؟ وما سبب ذاك ؟ وكيف يتحقق ؟! …</p>
<p>٢- قدَّم إبراهيم الشيخ ابنه الوحيد مُحرَقة</p>
<p>لم يستحق إبراهيم الإعجاب في هذا الموقف وحده ، بل حينما لم يتعثر بأمر الرب له أن يُقَدَّم ابنه الوحيد ، ابن الموعد ، مُحرقَة ، مع أن هناك أسباب كثيرة كان يمكن أن تعثر الإنسان غير الساهر ولا متيقظ .</p>
<p>أ- إن كان الله يطلب مثل هذه المُحرقَات ، فهو يطلب من الآباء قتل أبنائهم … بهذا يجعل الآباء قتلة أبنائهم ويتنجس المذبح بدمائهم ويقسو قلب الآباء …</p>
<p>ب- لم يكن إبراهيم مُجَرَّد أب ، لكنه أب للابن الذي يُسر به من يراه ويعرفه ، الابن الشرعي الوحيد … فقد بلغ درجات عالية في الفضيلة ، جميل الروح والجسد !</p>
<p>ج- كان محبوباً جداً إذ وُهب له علي خلاف كل رجاء ، ولعلك تعرف حب الآباء للصغار الذين يأتون في الشيخوخة علي خلاف الرجاء …</p>
<p>د- كان يمكن أن يتعثر ، فإن هذا الأمر يخالف الوعد &#8221; وأجعل نسلك كرمل البحر &#8221; (تك ٣٢: ١٢) … لكن البار لم يتعثر ، ولا اضطرب ، ولا انتابته المشاعر الطبيعية … لم يقل في نفسه : هل خدعني الله ؟ هل ضلّلني ؟ هل هذا الأمر من قِبَل الله ؟ … إنه يناقض العدل ، إذ به أصير قاتلاً لابني وأخضب يدي بدمه ! كيف يتحقق الوعد ؟ إن أهلكت الأصل ، من أين تأتي الأغصان ؟ وكيف تأتي الثمار؟…</p>
<p>لكنه أطاع كل الطاعة ، وقيَّد ابنه ، ورفع يده ، واخترقت السكين الرقبة … وإن كان هذا لم يتم فعلاً لكنه تحقق بالنية ، إذ كانت قائمة للعمل .</p>
<p>تأمل ، فقد أطاع وأراد أن يذبح صاحب النسل الكثير … أطاع بحب . لهذا أعجب به القدِّيس بولس الرسول وأعلن اسمه قائلاً: &#8221; بالإيمان قدَّم إبراهيم اسحق وهو مجرَّب &#8221; (عب ١١ : ١٧) .</p>
<p>وقد أظهر عمله العظيم وإيمانه بقوله &#8221; قَدَّم الذي قَبِلَ المواعيد وحيده&#8221; . وهكذا كما لم يعق إيمانه في الوعد بميلاد اسحق لا جسده الممات ولا عُقْم زوجته، هكذا الآن لم يزعزع الموت إيمانه !</p>
<p>متي قارنت هذه الأحداث بما يحدث معك تري جُبنَك، تري صِغَر نفوس المتعثرين ، مُدرِكاً بوضوح أن سبب العثرة هو عدم التسليم بين يدي العناية الإلهية غير المُدرَكة …</p>
<h4>عظة أخري لذهبي الفم عن روح الإيمان</h4>
<p>الإيمان والإستجابة لدعوة الله</p>
<p>لكن لماذا دعاه &#8221; روح الإيمان &#8221; ، ويضعه ضمن ترتيب المواهب ؟ لأنه كان الإيمان موهبة ، والروح القدس فقط عطية ، وليس إنجاز خاص بنا ، فلن يعاقب غير المؤمنين ، ولا المؤمنين سيمدحون . لأن هكذا هي طبيعة المواهب لا توزع أكاليل ، ومكافأت . لأن الهيه ليست إنجاز أولئك الذين يتقبلونها ، بل هي عطية اللطف والمحبة لذاك الذى يقدمها . لذلك فقد أعطى وصية لتلاميذه بأن لا يفرحوا بطرد الشياطين ، والذين تنبأوا بأسمه ، وصنعوا معجزات كثيرة ، حرمهم من ملكوت السموات ، لأن ليس لهم أي دالة أمام الله بسبب أعمالهم ، فقد أرادوا أن يخلصوا فقط عن طريق المواهب التي أعطيت لهم .</p>
<p>إذاً فإن كان كل شيء يعتمد على الإيمان ، ولا نقدم نحن أي شيء ، بل كل شيء هو نعمة الروح القدس ، وأن النعمة وحدها هي التي تثبت الإيمان في نفوسنا ، ونحن لن ننال أي أجر أو مكافأة ، فكيف يقول الرسول بولس &#8221; لأن القلب يؤمن به للبر ، والفم يعتبر به للخلاص &#8221; . لأن الإيمان العامل يعتمد على عمل وفضيلة المؤمن . لكن كيف يمتدح الإيمان نفسه في موضع آخر عندما يقول : &#8221; وأما الذى لا يعمل ، ولكن يؤمن بالذى يبرر الفاجر فإيمانه يحسب له براً &#8221; . فإن كان كل شيء يعتمد على نعمة الروح القدس ، فكيف كلل الله إبراهيم أبو الآباء بالأكليل التي لا حصر لها ؟ بسبب هذا الإيمان ، إستحق ذلك ، لأنه تجاوز كل الأمور الوقتية ، وآمن بالرجاء الإلهى ، دون أن يكون هناك أي رجاء إنسانى ؟ &#8221; فهو على خلاف الرجاء ، آمن على الرجاء &#8221; .</p>
<p>إذاً لماذا دعاء &#8221; روح الإيمان ؟ &#8221; هذا لأنه أراد أن يوضح من حيث أننا يجب أن نؤمن أولاً ، ونستجيب لدعوةً الله ، فهذا يعتمد على إرادتنا . لكن بعدما ننال الإيمان ، نحتاج لمعونة الروح القدس ، حتى نتمسك به على الدوام وبثبات ، إيمان راسخ غير متزعزع . لأنه لا الله ، ولا نعمة الروح القدس . تلغيان إرادتنا ، بل هو يدعونا ، وينتظرنا ، حتى أننا بإرادتنا . ومن تلقاء أنفسنا ، نأتى إلى الإيمان . بعد ذلك عندما تأتى إلى الإيمان ، عندئذ يمنحنا كل معونته. لأن الشيطان بعد قبولنا للإيمان ، يأتي راغباً أن ينزع هذا الجذر الحسن الذى للإيمان ، وأن يزرع الزوان على عجل ، ويهلك البذور الحقيقية النقية ، وحينئذ نحتاج لمعونة الروح القدس الذى يحيط سجرة الإيمان البازغة بكل إهتمام وعناية ، مثل فلاح مجد ومجتهد ، يقيم داخل نفوسنا لذلك في رسالته إلى أهل تسالونيكى يقول : &#8221; لا تطفئوا الروح &#8221; ، مبينناً انه عندما تأتى إلى نفوسنا نعمة الروح القدس ، لا يستطيع أحد أن يقول إن يسوع المسيح هو الله إلا بالروح القدس ، فبالأكثر جداً لا يمكنه أن يحفظ الإيمان ثابتاً وراسخاً ، إلا بالروح القدس فقط .</p>
<h4>عظة أخري من نفس الكتاب: الضمير الصالح</h4>
<p>إذاً فكل من يهذى ويتناول قضية القدر والمكتوب ويشككون في الرسالة الخلاصية للقيامة ، هذا كله يرجع السبب فيه إلى ضميرهم الخاطئ ، وأعمالهم المظلمة ، فإنهم يسقطون في هذه الهوة التي لعدم الإيمان . فالذين يلتهبون بسبب ارتفاع درجة الحرارة ، يرغبون أن يتخلصوا من هذا الاختناق فيلقون بأنفسهم في ماء بارد ، وبعدما يحدث تحسن قليلاً يعود ارتفاع درجة الحرارة بصورة أكثر قوة . هكذا الذين يحيون في الخطية بضمير شرير ، ولأنهم يطلبون أن يجدوا راحة لنفوسهم ، لكن دون أن يتنقوا من خطاياهم بالتوبة ، فإنهم يقبلون بإستبدال القدر ، وعدم الإيمان بالقيامة . لذلك فإنهم هنا بعدما يتعزون قليلاً بأفكارهم الفاترة ، سيشعلون لأنفسهم أكبر أتوناً للجحيم ، إذ سيذهبون إلى هناك بسبب حياتهم غير المدققة ، والعشوائية ، وسيعطون حساباً عن خطاياهم . ولكى تعلموا أن هذا الأمر حقيقى ، وأن الأعمال الشريره تؤدى إلى تحطيم الإيمان والثبات فيه ، إسمع ماذا يقول الرسول بولس لتلميذه تيموثاوس : &#8221; لكى تحارب فيها المحاربة الحسنة ولك إيمان وضمير صالح &#8221; ، الضمير الصالح ، يتحقق بالحياة الحسنة ، والأعمال المستقيمة الصحيحة ، ثم يكمل قائلاً : &#8221; الذى إذ رفضه قوم ، انكسرت بهم السفينة من جهة الإيمان أيضاً &#8221; وفى موضع آخر يقول : &#8221; لأن محبة المال أصل لكل الشرور ، الذى إذ ابتغاه قوم ضلوا عن الإيمان &#8221; . أرايت كيف أن أولئك لعدم إيمانهم ، قد هلكوا ، وهؤلاء بسبب بخلهم ومحبتهم للمال ، ضلوا عن الإيمان ، لأن أولئك قاوموا الضمير الصالح ، وهؤلاء تمسكوا بالبخل ؟ إذاً ونحن نفكر في كل هذه الأمور بالتدقيق ، فالنحرص على أن نحيا حياة مستقيمة ، حتى يصير أجرنا مضاعفاً ، واحد لأجل الأعمال الصالحة ، والآخر الذى يقدم لأجل الثبات في الإيمان . لأنه كما أن الطعام هو لبنيان الجسد ، هكذا هي حياة الفضيلة بالنسبة للإيمان . فطبيعة جسدنا لا يمكن أن تحفظ وتستمر بدون الطعام ، هكذا الإيمان ، لا يمكن أن يوجد بدون الأعمال الحسنة لأن : &#8221; الإيمان بدون أعمال ميت &#8221; يبقى شيء واحد ، يجب أن أقوله : ترى ماذا يعنى بقوله &#8221; عينه &#8221; ؟ لأنه لم يقل فقط &#8221; إذ لنا روح الإيمان &#8221; بل &#8221; روح الإيمان عينه  &#8221; . وأنا أريد أن أفحص وأبحث هذا ، لكن لأننى أرى أن هناك أنهار من المعانى تنبع من هذه العبارة البسيطة ، أخشى لئلا من خلال المعانى الكثيرة التي ستطرح ، بعدما نكون قد قدمنا ما هو نافع ومفيد ، أجعل التعليم غير نافع ، محطماً إياه بهذه الكثرة في طرح المعانى . لذلك أترجاكم بعدما أتوقف عن الحديث، أن تحفظوا كل ما قيل بالتدقيق ، أي كل ما سمعتموه عن الحياة المستقيمة ، عن الإيمان وعن البتولية ، عن البر بالفقراء ، وعن الإحسان ، إحتفظوا بالأمور الحسنة في أذاهانكم ، وتجاوبوا معها ، حتى موعد العظة القادمة . لأنه هكذا سيكون البناء الذى أقيم من خلال كل ما قلناه، ثابتاً لا يهتز ، حتى أنه عندما تثبت الكلمات التي قلناها في اذهانكم بشكل جيد ، يمكننا ان نضيف إليها الكلمات الجديدة . الله الذى قوانى حتى أخاطب محبتكم بهذا، وجعلكم راغبين أن تستمعوا إليها ، اتضرع إليه أن يجعلكم مستحقين أن تأتوا بثمر من خلال أعمالكم الحسنة ، بالنعمة والرأفات ومحبة البشر اللواتى لربنا يسوع المسيح الذى يليق به المجد والكرامة إلى الأبد آمين. <a href="#_ftn4" name="_ftnref4">[4]</a></p>
<h4>القديس كيرلس الأسكندري: تعليقاً على إنجيل القدَّاس</h4>
<p>اقتربوا من المسيح مخلصنا كلنا، الذي هو الحياة والقيامة، وكانوا يسعون لتحطيم القيامة بكونهم أناسًا متكبرين وغير مؤمنين، اخترعوا قصة مشحونة جهلًا، ونظموا افتراضات جامدة، بها سعوا بطريقة شريرة وعنيفة أن يفسدوا رجاء العالم كله. نحن نؤكد أن رجاء كل العالم في القيامة من الأموات التي المسيح هو بكرها وأول ثمارها، لذلك إذ يجعل الحكيم بولس قيامتنا تقوم على قيامة السيد يقول: &#8220;لأنه إن كان الموتى لا يقومون، فلا يكون المسيح قد قام&#8221; (١كو ١٥ : ١٦)، كما يقدم فكرًا عكسيًا فيقول: &#8220;إن كان المسيح يُكرز به أنه قام من الأموات، فكيف يقول قوم بينكم ليس قيامة أموات؟‍&#8221; (١كو ١٥ : ١٢). الذين قالوا بهذا هم الصدوقيون الذين نتحدث عنهم الآن.</p>
<p>على أي الأحوال كان سؤال الصدوقيون بلا معنى، السؤال برمته لا يتفق مع الكتب المقدسة الموحى بها، وجاءت إجابة مخلصنا تؤكد تمامًا غباوة قصتهم وتجعلنا نستخف بوهمهم والفكرة التي يقوم عليها هذا الوهم&#8230;</p>
<p>قال الله عن الذين رقدوا: &#8220;من يدّ القبر أفديهم، من الموت أخلصهم، أين دينونتك يا موت؟ أين شوكتك يا قبر؟&#8221; (هو ١٣ : ١٤ الترجمة السبعينية). الآن ما يقصده بدينونة الموت وشوكته قد أخبرنا به الطوباوي بولس بقوله: &#8220;أما شركة الموت فهو الخطية، وقوة الخطية هي الناموس&#8221; (١كو ١٥ : ٥٦)، إذ يقارن الموت بالعقرب، شوكتها هي الخطية وبسمها تقتل النفس. يقول أن الناموس هو قوة الخطية، إذ في موضع آخر يعترض: &#8220;بل لم أعرف الخطية إلا بالناموس&#8221; (رو ٧ : ٧)، &#8220;إذ حيث ليس ناموس ليس أيضًا تعدٍ&#8221; (رو ٤ : ١٥). لهذا السبب يستبعد مؤمنيه من وصاية الناموس الذي يدين ويبطل شوكة الموت التي هي الخطية، فإنه إذ ينزع الخطية بالتبعية يرحل الموت معها، إذ الموت صادر عنها وبسببها جاء إلى العالم.</p>
<p>إذ أعطى الله وعدًا: &#8220;من يدّ القبر أفديهم، من الموت أخلصهم&#8221;، اتفق الأنبياء الطوباويون مع هذا المرسوم العلوي، فتحدثوا معنا لا برؤيا قلبهم ولا بمشيئة إنسان بل عن فم الله كما هو مكتوب (أر ٢٣ : ١٦) إذ يعلن الروح القدس المتكلم فيهم حكم الله وإرادته القديرة غير المتغيرة في كل أمر. يحدثنا إشعياء النبي: &#8220;تحيا أمواتك، يقوم الذين في القبور، سيبتهج الذين في الأرض، لأن طلك يشفيهم&#8221; (إش ٢٦ : ١٩ الترجمة السبعينية). على ما أعتقد أن الطل هو قوة الروح القدس واهب الحياة، أو تلك الفاعلية التي تبطل الموت، الصادرة عن الله والحياة.</p>
<p>يقول أيضًا داود الطوباوي في المزامير عن الذين على الأرض: &#8220;تأخذ روحهم فيموتون وإلى ترابهم يعودون. ترسل روحك فتخلقهم وتجدد وجه الأرض&#8221; (مز ١٠٤: ٢٩). ألم تسمع عن عمل الروح القدس ونعمته واهبة الحياة، هذا الذي سيجدد وجه الأرض؟ فإنه يقصد بوجه الأرض جمالها، وبجمال طبيعة البشر عدم الفساد، إذ قيل: &#8220;يُزرع في فساد ويُقاوم في عدم فساد، يزرع في هوان ويقاوم مجد، يزرع في ضعف ويقاوم قوة&#8221; (١كو ١٥: ٤٢ - ٤٣). مرة أخرى يؤكد لنا إشعياء النبي أن الموت الذي دخل بسبب الخطية لا يستعيد قوته على سكان الأرض أبديًا، إنما يبطل خلال قيامة المسيح من الأموات، حيث يجدد المسكنة، ويردها إلى ما كانت عليه، كما هو مكتوب: &#8220;خلق الله كل شيء في عدم فساد&#8221; (حك ١: ٤)، قائلًا: &#8220;يُبلع الموت إلى الأبد، ويمسح السيد الرب الدموع عن كل الوجوه، وينزع عار شعبه عن كل الأرض&#8221; (إش ٢٥ : ٨). عار الشعب هو الخطية، إذ تُنزع يبطل الموت ويرحل الفساد من وسط الشعب، وإذ ينتهي الموت تُنزع دموع كل أحد ويتوقف النحيب، فلا توجد علة بعد للبشر من جهة البكاء والنحيب.</p>
<p>هكذا لدينا الكثير من الأسانيد في تفنيد جحود اليهود، لكننا لننظر إلى ما قاله لهم المسيح: حقًا إن أبناء هذا العالم الذين يعيشون الحياة الجسدانية العالمية مليئة بالشهوات من أجل الإنجاب، لذا يزوَّجون ويزوَّجون، أما الذين يبلغون الحياة المختارة المكرمة والحاملة كل سمو والمتأهلة للقيامة المجيدة العجيبة فبالضرورة تفوق حياة البشر في هذا العالم. إنهم يعيشون في حضرة الله كقديسين، يصيرون مساوين للملائكة، أبناء الله. إذ تُنزع عنهم كل شهوة جسدية ولا يكون للذة الجسد موضع فيهم بل يتشبهون بالملائكة القديسين يمارسون الخدمة الروحية لا المادية كأرواح مقدسة، وفي نفس الوقت يتأهلون لمجدٍ كذاك الذي يتمتع به الملائكة.</p>
<p>برهن المخلص على جهل الصدوقيين المطّبق، مقدمًا لهم موسى معلمهم الديني كمعلم بالقيامة من الأموات بطريقة واضحة تمامًا، إذ يقدم لنا الله القائل في العليقة: &#8220;أنا إله إبراهيم وإله إسحق وإله يعقوب&#8221;. إله من هو أن كان هؤلاء - كما يظنون - لا يعيشون بعد؟‍ إنه إله أحياء، لذلك سيقومون عندما تجلبهم يمين الله القدير، ليس وحدهم، بل وكل الذين هم على الأرض. عدم الإيمان بهذا يليق بجهل الصدوقيين، لا بمحبي المسيح. أما نحن فنؤمن بالقائل: &#8220;أنا هو القيامة والحياة&#8221; (يو ١١: ٢٥)، هذا الذي يقيم الأموات: &#8220;في لحظة، في طرفة عين عند البوق الأخير، فإنه سيبوق، فيُقام الأموات عديمي الفساد ونحن نتغير&#8221; (١كو ١٥ : ٥٢). سيغيرنا مخلصنا كلنا إلى عدم الفساد، إلى المجد والحياة غير الفاسدة، هذا الذي به وله المجد والحمد والسلطان مع الله الآب والروح القدس إلى أبد الأبد، آمين<a href="#_ftn5" name="_ftnref5">[5]</a></p>
<h4>القديس إيرينيوس: إبراهيم واسحق ويعقوب</h4>
<p>٢٤-بعد مرور سنين كثيرة، في الجيل العاشر بعد الطوفان، أراد إبراهيم أن يعلم ما سوف يعود عليه من تحقيق النبوة المعطاة إلى جده، متشوقا لمعرفه الله الذي ينتظره. وبسبب رغبة نفسه هذه طاف كل العالم باحثا لعله يجد الله، وعندما نفدت محاولات البحث، رحمه الله. إذ بينما كان يطلبه في صمت ظهر الله له معلنا نفسه بالكلمة كشعاع نور. إذ تحدث إليه من السماء وقال:&#8221; اذهب من أرضك ومن عشيرتك ومن بيت أبيك إلى الأرض التي أريك&#8221;. آمن إبراهيم بصوت السماء وبالرغم من أنه كان متقدما في العمر إذ كان له سبعون عاما وكان متزوجا، خرج من بلاد ما بين النهرين امرأته، آخذا معه لوط ابن أخيه المتوفى. عندما وصل إلى المكان المسمى اليوم اليهودية والذي كانت تسكنه سبع قبائل من نسل حام، ظهر الله له وقال: &#8221; لنسلك أعطى هذه الأرض&#8221;، وأخبره بأن نسله سوف يتغرب في بلاد غريبة، وسوف يكابد شرا فيها، ويعاني في عذاب وعبودية أربعة قرون وأنه في الجيل الرابع سوف يعود إلى الأرض، التي وعد بها إبراهيم. وسوف يعاقب الله الأمم التي استعبدت نسله. ولكي يجعل الله إبراهيم عارفا بمقدار كثرة نسله، دعاه في الليل وقال له: &#8221; انظر إلى السماء وعد النجوم إذ استطعت أن تعدها. هكذا يكون نسلك&#8221; ورأى الله أن إبراهيم لم يشك لكن آمن من كل نفسه فشهد له بواسطة الروح القدس قائلاً في الكتاب المقدس: &#8221; فأمن بالرب فحسبه له برا&#8221;&#8221;. كان (إبراهيم) غير مختون، عندما أخذ هذه الشهادة، ثم أعطى له الختان كختم للبر الذي حققه بالإيمان إذ كان بعد غير مختون&#8221;. بعد هذا فإن سارة . التي كانت عاقرا . ولدت اسحق، بحسب وعد الله لها وقام إبراهيم فختن إسحق، حسب العهد الذي قطعه الله معه، واسحق ولد يعقوب. وهكذا البركة القديمة، المعطاة من البداية إلى سام، انتقلت من إبراهيم إلى اسحق ومن اسحق إلى يعقوب كميراث معطى لهم من الروح. لذا دعى الله &#8221; إله إبراهيم واله اسحق واله يعقوب&#8221;. ثم أن يعقوب ولد اثني عشر ابنًا الذين بأسمائهم سميت أسباط إسرائيل الاثني عشر<a href="#_ftn6" name="_ftnref6">[6]</a>.</p>
<h4>القديس أغسطينوس: ابراهيم</h4>
<p>يكفي أن نعرف أنه بعدما قال أن إبرام آمن بالله فحسب له برًا لم يفشل إبرام في الإيمان عندما قال &#8220;أيها الرب الإله بماذا أعلم أني أرثها؟&#8221;&#8230; فإنه لم يقل &#8221; كيف أعرف؟&#8221; كما لو كان لم يؤمن بعد أنه يرث، وإنما قال &#8220;بماذا أعلم؟&#8221; بمعنى يطلب علامة ليعرف الطريق الذي به يتحقق ما قد آمن أن يناله. إنه كالعذراء مريم التي ليس عن عدم إيمان قالت: &#8220;كيف يكون هذا وأنا لست أعرف رجلًا؟&#8221; (لو ١: ٣٤) ، فإنها تسأل عن الوسيلة التي بها يتحقق ما سيحدث فعلًا. لذلك عندما سألَت هذا أُخبرَت: &#8220;الروح القدس يحل عليكِ وقوة العلي تظللكِ&#8221; (لو ١: ٣٥). هنا أيضًا أُعطي له رمز بدقة خلاله يتعرف على الطريقة التي يتحقق بها الأمر الذي لم يشك فيه. هذا الرمز يتكون من ثلاث حيوانات: عجلة ومعزة وكبش، ومن طائرين: يمامة وحمامة.</p>
<p>العجلة تشير إلى الشعب الذي سيخضع للناموس، والمعزة تشير إلى أنه شعب خاطي، وأما الكبش فيشير إلى أنهم سيملكون، (وقد قيل عن هذه الحيوانات أنها تبلغ ثلاث سنوات من جهة عمرها، وذلك لوجود ثلاث حقبات زمنية متمايزة: من آدم إلى نوح، ومن نوح إلى إبراهيم، ومن إبراهيم إلى داود الذي يقيم مملكة الأمة الإسرائيلية كإرادة الرب بعدما يُرفض شاول&#8230;). وربما حملت هذه الحيوانات معانٍ أخرى أكثر مناسبة، فإنني لا أشك في أنها تحمل رموزًا لمعان روحية هي واليمامة والحمامة.</p>
<p>لقد قيل &#8220;أما الطير فلا يشقه&#8221;، لأن الجسديين منشقين ضد أنفسهم أما الروحيون فليس بينهم انشقاق قط، سواء كانوا مثل اليمامة منعزلين عن المناقشات الكثيرة مع الناس أو كانوا كالحمامة يعيشون وسطهم، فكلا الطيرين بسيطان وغير ضارين&#8230;</p>
<p>أما الطيور الجارحة التي نزلت على الجثث فلا تمثل أمرًا صالحًا، بل تمثل أرواح الهواء التي تطلب لنفسها بعض الطعام خلال انشاقات الجسدانيين.</p>
<p>جلوس إبراهيم بجوارها يشير إلى أنه حتى وسط انشقاقات الجسدانيين يُحفظ المؤمنون الحقيقيون حتى النهاية.</p>
<p>حلول الخوف العظيم بإبراهيم والرعب من العتمة الشديدة عن غروب الشمس هذا يشير إلى أنه في آخر الأزمنة سيكون المؤمنون في شدة وضيق، الأمر الذي تحدث عنه الرب في الإنجيل: &#8220;يكون حينئذ ضيق عظيم لم يكن مثله منذ ابتداء العالم&#8221; (مت ٢٤: ٢١).</p>
<p>أما ما قيل لإبراهيم أن نسله يكون غريبًا في أرض ليست لهم ويستعبدون ٤٠٠ عامًا، فواضح أنه نبوة عن شعب إسرائيل الذين يستعبدون في مصر&#8230;</p>
<p>أما ما قيل: &#8220;ثم غابت الشمس&#8230; وإذا تنور دخان ومصباح نار يجوز بين تلك القطع&#8221; ، فيشير إلى الجسدانيين سيحاكمون بنار في نهاية العالم<a href="#_ftn7" name="_ftnref7">[7]</a></p>
<h4>أيضاً للقديس  أغسطينوس</h4>
<p>نحن أبناء ابراهيم ؟ ليس فى اللحم ولكن فى الايمان</p>
<p>فى ( فصل ) الانجيل ، خاطب يسوع اليهود وقال لهم : &#8221; ويل لكم أيها الكتبة والفريسيون المراؤون ؛ لأنكم تبنون قبور الأنبياء وتزينون مدافن الصديقين ، وتقولون : لو كنا فى أيام آبائنا لما شاركناهم فى دم الأنبياء . فأنتم تشهدون على أنفسكم أنكم أبناء قتلة الأنبياء . فاملأوا أنتم مكيال آبائكم &#8220;(مت ٢٣ : ٢٩ ٣٢)</p>
<p>ان قولهم : &#8221; لو كنا فى أيام آبائنا لما شاركناهم فى دم الأنبياء &#8221; يؤكد أنهم أبناء قتلة الأنبياء . ولكن بالنسبة لنا اذا وجهنا مسارنا على نحو قويم ، فلن نقول : ان آبائنا هم قتلة الأنبياء ؛ بل بالأحرى نقول : ان آبائنا قتلوا بواسطة الآباء الذين كان يخاطبهم الرب . تماما مثل انسان ينحط بسبب أخلاقه ، فهو أيضا يكسب البنوة بسبب أخلاقه . أيها الاخوة ، لأننا دعينا أبناء ابراهيم بالتأكيد  رغم أننا لم نرى وجه ابراهيم ولا استمددنا نسبنا من أصله العرقى  ففى أى شكل نحن أبناء ابراهيم ؟ ليس فى اللحم ولكن فى الايمان ؛ اذ &#8221; آمن ابراهيم بالله فحسب له برا &#8221; (رو ٤: ٣) ، وأيضا فى (تك ١٥: ٥) لذلك ان كان ابراهيم انسانا بارا لأنه آمن ، فان الذين يحاكمون ايمان ابراهيم قد صاروا أبناء ابراهيم . ورغم أن اليهود مولودون منه بالجسد ، الا أنهم قد فقدوا بنوتهم . ولكننا اكتسبنا ( البنوة لابراهيم ) بالتشبه بما فقدوه ( اليهود ) بسبب فسادهم ، رغم أننا مولودون من غرباء . ومع أنهم ينحدرون من نسل ابراهيم بالجسد ، الا أنهم بعيدون كل البعد عن كون ابراهيم أبا لهم . ان آبائهم هم الذين اعترفوا عندما قالوا: &#8221; لو كنا فى أيام آبائنا لما شاركناهم فى دم الأنبياء &#8221; (مت ٢٣: ٣٠) . وكأن الرب كان يقول لهم: كيف لم تشتركوا مع أولئك الذين تدعونهم آبائكم ، لأنهم ان كانوا آبائكم فأنتم أبناؤهم ، وان كنتم أبناءهم فأنتم تشتركون معهم ؟ ومن ناحية أخرى: ان لم تشتركوا معهم فلستم أبناءهم ، وان كنتم لستم أبناءهم ، فليسوا آباءكم . ولذلك من الحقيقة ذاتها أنهم دعوا قتلة الأنبياء آباءهم، وقد أوضح لهم الرب أنهم فعلوا ما اقترفه قتلة الأنبياء ؛ اذ قال لهم : &#8221; فأنتم تشهدون على أنفسكم أنكم قتلة الأنبياء ، فاملأوا أنتم مكيال آبائكم (مت ٢٣: ٣١)<a href="#_ftn8" name="_ftnref8">[8]</a> .</p>
<h4>العلَّامة أوريجانوس: إسحق رمز للمسيح</h4>
<p>لماذا زرع إسحق شعيرًا؟ ولماذا باركه الرب إذ زرع الشعير؟ لماذا اغتنى جدًا؟ الشعير عادة هو غذاء الحيوانات والعبيد العاملين في القرية&#8230; إسحق يعد  القمح للكاملين والروحيين كما يعد الشعير للمبتدئين، إذ هو مكتوب: &#8220;الناس والبهائم تخلص يا رب&#8221; (مز ٣٦ : ٧)&#8230; وربنا الذي هو إسحق الكامل يقدم الكمال (القمح) للتلاميذ، ويقدم الأمور البسيطة والسهلة (الشعير) للجماهير. أتريدون دليلًا أنه يقدم شعيرًا كغذاء للمبتدئين؟ جاء في الإنجيل أنه طعم الجموع مرتين؛ في المرة الأولى &#8220;أعطاهم أرغفة شعير&#8221; (يو ٦ : ٩) للمبتدئين، وإذ تقدموا في الكلام والتعليم أعطاهم خبز قمح  (مت ١٥ : ٣٤)…</p>
<p>إن كان الشعير يشير إلى الناموس فقد كان إسحق الحقيقي صغيرًا خلال الناموس، وتعاظم أكثر فأكثر خلال النبوات. خلال الناموس كانت معرفتنا عن المسيح كما خلال ظلال، لكن الأنبياء كشفوا عنه فقد ظهر السيد المسيح عظيمًا. والآن إذ ننزع عن الشعير قشه أي ننزع عنه حرفيته يظهر &#8220;الناموس الروحي&#8221; (رو ٧: ١٤) ، عندئذ يصير إسحق عظيمًا جدًا&#8230; بمعنى آخر خلال الشعير تعاظم إسحق جدًا وظهر غناه، باقتنائها للناموس بعد نزع قشه أي حرفيته والدخول إلى روحه وأعماقه</p>
<p>يحتقر الفلسطينيون المياه ويحبون الأرض، أما إسحق فيحب المياه ويبحث عن الآبار ويخلص الآبار القديمة كما يحفر آبارًا جديدة. لنتأمل في إسحق الذي &#8220;أسلم نفسه لأجلنا&#8221; (أف ٥: ٢) ، فقد جاء إلى وادي جرار الذي يعني (الحائط) أو (الحاجز) (أف ٢ : ١٤) ، جاء لينقض حائط السياج المتوسط، أي الخطية التي تفرق بيننا وبين الله ؛ ينقض الحاجز الذي بيننا وبين الفضائل الروحية، وبهذا &#8220;جعل الاثنين واحدًا&#8221; (أف ٢ : ١٤) ، حاملًا الخراف الضالة على كتفيه</p>
<p>على الجبال ليضمهم مع التسعة وتسعين غير المفقودين (لو ١٥: ٦)؛ (مت ١٢ : ٢٨). إسحق هذا. مخلصنا، إذ يكون في وادي جيرار يريد قبل كل شيء أن يحفر الآبار التي سبق فحفروها في أيام أبيه، أي يكشف آبار الناموس والأنبياء التي طمسها الفلسطينيون&#8230; لكن من هم هؤلاء الذين يملأون الآبار ترابًا؟ إنهم بلا شك الذين يقدمون الناموس بفكر أرضي جسداني، مبتعدين عن الغنى الروحي السرائري، فلا يشربون ولا يدعون الآخرين يشربون. اسمعوا ما يقوله إسحق مخلصنا، يسوع المسيح، في الإنجيل: &#8220;ويل لكم أيها الناموسيون لأنكم أخذتم مفتاح المعرفة، ما دخلتم أنتم والداخلون منعتموهم&#8221; (لو ١١: ٥٢)</p>
<h4>العلَّامة أوريجانوس: يعقوب</h4>
<p>أظن أن النص يخفي فيه سرًا أعمق من الحرف الظاهر، فإنه تجتذبني العبارة &#8220;لأني أجعلك أمة عظيمة، أنا أنزل معك إلى مصر وأنا أصعدك أيضًا&#8221;. من هو بالحقيقة ذاك الذي صار أمة عظيمة في مصر الآخر يُذكر فيصعد؟ نظن أن النص يخص يعقوب، لكن الحقيقة غير هذا، فإن يعقوب لم يصعد من مصر إذ هو مات، ومن الحماقة أن نقول بأن الرب أصعد يعقوب عندما أصعد جسده، فإن الرب ليس إله أموات لكنه إله أحياء (مت ٢٢: ٣٢). فلا يليق أن نحسب صعوده بصعود ميت، إنما ما يقوله هنا يخص أحياء لهم صحة جيدة. لنسأل إذن أليس هذا صورة لنزول الله إلى هذا العالم ونموه في الأمة العظيمة أي في الكنيسة التي تضم الأمم وصعوده إلى الآب بعد موت كل شيء خاصة الإنسان الأول الذي نزل إلى مصر وسط المعارك عندما طرد من بهجة الجنة محتملًا عذاب هذه الحياة وآلامها&#8230; فإن الله لم يترك الذين في هذه المعركة، بل هو معهم على</p>
<p>الدوام&#8230;؟! أما قوله: &#8220;وأنا أصعدك أيضًا&#8221; فكما أظن أنه يعني بأنه في أواخر الدهور إذ نزل ابن الله الوحيد إلى الجحيم (أف ٤: ٩) لخلاص العالم يصعد الإنسان الأول. لنفهم بالحقيقة أن الحديث هنا يخص ما قيل للص: &#8220;اليوم تكون معي في الفردوس&#8221; (لو ٢٣ : ٤٣). هذا القول لا يخصه وحده، بل يخص كل القديسين الذين من أجلهم نزل ابن الله. بهذا يتحقق في يعقوب القول: &#8220;وأنا أصعدك أيضًا&#8221;. إذن ليت كل واحد منا ينزل إلى مصر (رمزيًا) وسط المعارك بنفس الطريقة متخذًا ذات الطريق، فيتأهل ألاَّ يتبعد الله عنه بل يصير أمة عظيمة. هذه الأمة العظيمة هي جماعة الفضائل وكثرة البر التي يقول عنها الكتاب أن القديسين ينمون فيها ويتزايدون. بهذا يتحقق القول: &#8220;وأنا أصعدك أيضًا&#8221;. لأنه في النهاية يكون كمال الشيء وإتمام للفضائل لذا يقول قديس: &#8220;يا إلهي لا تقبضني في نصف أيامي&#8221; (مز ١٠٢: ٢٤)&#8230; &#8220;أنا أصعدك أيضًا&#8221; تعني قول الله له: لأنك جاهدت الجهاد الحسن وحفظت الإيمان وأنهيت رحلتك فإني أصعدك من هذا العالم للسعادة الأبدية، إلى كمال الحياة  الأبدية، لتنال &#8220;إكليل البر الذي يهبه لي في ذلك اليوم الرب الديان العادل لجميع الذين يحبونه&#8221; (٢تي ٤ : ٨ ) <a href="#_ftn9" name="_ftnref9">[9]</a></p>
<h4>اعمال اولاد ابراهيم في فكر آباء الكنيسة</h4>
<h5>القديس يوحنا الذهبي الفم</h5>
<p>&#8221; أنا أتكلم بما رأيت عند أبي ، وأنتم تعملون ما رأيتم عند أبيكم . إذ كان اليهود يفتخرون بأنهم أبناء إبراهيم ، من نسله حسب الجسد ، قدم لهم نفسه أنه هو ابن الله بالطبيعة ، ويود أن يرتبطوا به ليتمتعوا بالبنوة لله بالنعمة عوض ما بلغوا إليه من بنوة لإبليس . هم يريدون قتله مع أنه ابن الله بالطبيعة ، وبفعلهم هذا يؤكدون أنهم نالوا التبني لإبليس . ما يتكلم به السيد المسيح هو الحق الأبدي الذي يراه في حضن أبيه ، لأنه هو كلمة الله . توجد أسرتان لن تتحدا : الله وأبناؤه ، وإبليس وأبناؤه . لا يقدر أحد أن ينتسب للأسرتين معًا، فإنه إذ يقبل الواحدة يقاوم الأخرى بالضرورة ، حتى وإن لم تكن المقاومة علنية . ما يقدمه السيد المسيح ليس فقط ما يسمعه من الآب بل ما يراه ، لأنه كائن في حضن الآب يراه ، ما ينطق به الأنبياء هو بناء على ما يسمعوه من الله أو ما يرونه خلال رؤي ، أما السيد المسيح فهو الكلمة الإلهي ذاته ، وهو الحق الإلهي نفسه.</p>
<p>أنا بكلامي وبالحق أعلن عن الآب ، هكذا لتفعلوا أنتم بأعمالكم . فإنه ليس لي فقط ذات الجوهر مع الآب بل وذات الحق معه.</p>
<h5>القديس أغسطينوس</h5>
<p>أجابوا وقالوا له : أبونا هو إبراهيم ، كما لو أنهم يقولون : ماذا تقول ضد إبراهيم ؟ أو إن كنت تستطيع تجاسر وأظهر خطأ في إبراهيم . لم يكن الرب غير قادر أن يتجاسر ويجد خطأ في إبراهيم، ولكن إبراهيم ليس بالشخص الذي يريد الرب أن يظهر له خطأ بل يزكيه . أما هؤلاء فيبدو أنهم أرادوا أن يتحدوه كي يتكلم بشر عن إبراهيم فيجدوا فرصة ليتمموا مقاصدهم.</p>
<h5>العلَّامة أوريجانوس</h5>
<p>ولكنكم الآن تطلبون أن تقتلوني، وأنا إنسان قد كلمكم بالحق الذي سمعه من الله ، هذا لم يعمله إبراهيم.</p>
<p>الذين يطلبون أن يقتلوه يطلبون أن يقتلوا إنسانًا ، فإنهم إن قتلوه لا يقبل الله اللاهوت . وإذ أرادوا أن يقتلوه ولم يقتلوه تآمروا ضده كما ضد إنسان ، غير مدركين أن الذين يتأمرون ضده هو الله ، إذ لا يمكن لأحد أن يود الاستمرار في التآمر ضده لو أنه اقتنع أن الذي يتأمر ضده هو الله.</p>
<p>ربما يقتلون جسم الكلمة ، فإنه من الواضح أنهم بعد لا يقدرون أن يفعلوا شيئا . لهذا يلزمنا ألا نخاف من الذين يقتلون الجسم وبعد ذلك لا يقدرون أن يفعلوا شيئا ، ولا تخاف الذين يقتلون الجسم ولا يقدرون أن يقتلوا النفس التي للكلمة .</p>
<p>ليت العبارة : {افأحيا لا أنا ، بل المسيح يحيا في }(غل ۲ : ۲۰) تنطبق ليس على الذين جاءوا من بعده فقط بل وعلى الذين سبقوه . ألاحظ أيضا في قول المخلص : &#8221; أنا إله إبراهيم وإله إسحاق وإله يعقوب ؟ ليس الله إله أموات بل إله أحياء » (مت ۲۲ : ۳۲) ؛ ربما تعني أن إبراهيم واسحق ويعقوب هم أحياء لأنهم هم أيضا دفنوا مع المسيح وقاموا معه (١كو ٢ : ١٢ ؛ رو ٦ : ٤) . لكن ليس لم يحدث هذا بأية وسيلة في وقت دفن المسيح جسمانيًا ولا قیامته الجسمانية . هذه هي ملاحظتنا على العبارة : هذا لم يعمله إبراهيم.</p>
<p>إذ تخطئ ففي هذا نحن لم ننتزع بعد مولدنا من إبليس ، حتى وإن كنا نظن أننا نؤمن بيسوع . لهذا يقول يسوع لليهود الذين آمنوا : أنتم تعملون أعمال أبيكم . كلمة أب تعني إبليس كما جاء في العبارة : أنتم من أب هو إبليس.</p>
<p>هذه الكلمات توضح تماما أن الشخص ليس ابنا لإبليس كثمرة للخلقة ، ولا يقال عن أي إنسان أنه ابن الله لأنه خلق هكذا . كما هو واضح أيضا أن الذي كان قبلا يدعي ابنا لابليس يمكنه أن يصير ابن الله . أعلن أيضا الانجيلي متي ذلك عندما سجل قول المخلص هكذا : &#8221; سمعتم أنه قيل : تحب قريبك وتبغض عدوك . وأما أنا فأقول لكم ; أحبوا أعداءكم . باركوا لإعنيكم , أحسنوا إلى مبغضيكم ، وصلوا لأجل الذين يسيئون اليكم ويطردونكم ، لكي تكونوا أبناء أبيكم الذي في السماوات » (مت ٥ : ٤٣ - ٤٥).</p>
<p>إن كان كل من يثبت فيه لا يخطئ ، فإن من يخطئ لا يثبت في الآبن . وإن كان كل من يخطئ لا يراه ، فإن من يراه لا يخطئ .</p>
<p>المولود من الله لا يخطئ . لكن بالحقيقة لم يكتب أن المولود من إبليس لا يصنع البر ، وإنما من يصنع الشر هو من إبليس .</p>
<p>يقول البعض أن بعض الكائنات المخلوقة هي من الله وهي ليست قط مولودة من الله . هذه الكائنات حتمًا أقل رتبة في المسكونة من الذين يقال عنهم انهم مولودون من الله .</p>
<p>المولود من الله لا يخطئ لأن بذرة الله تثبت فيه ، من خلال قوة هذه البذرة الموجودة فيه تظهر فيه سمة عدم إمكانية أن يخطئ . وقد قيل في نهاية كلمات الرسالة : &#8221; كل من ولد من الله لا يخطئ ، بل المولود من الله يحفظ نفسه ، والشرير لا يمسه &#8221; (١يو ٥ : ۱۸) .</p>
<p>إن كان ابناء إبراهيم يعملون أعمال إبراهيم ، وأول هذه الأعمال هي أن يذهب من أرضه وعشيرته ومن بيت أبيه ويرحل إلى الأرض التي يريه الله إياها ، لهذا فإن سبب توبيخ من وجهت إليهم هذه الكلمة بأنهم ليسوا أبناء إبراهيم ، إذ لم يخرجوا من بيت أبيهم ، فلا يزالوا ينتمون إلى الأب الشرير ويعملون أعمال ذاك الأب .</p>
<p>إذ قال المخلص أن الله هو أبوه (يو ٥ : ۱۸) ولم يعرف رجلا بأنه أباه ، فلذلك قالوا : إننا لم نولد من زنا لمقاومته ، مضيفين : لنا أب واحد وهو الله. وكأنهم يقولون له: إننا نحن الذين لنا أب واحد وهو الله وليس أنت يا من تدعي أنك ولدت من بتول ، فأنت ولدت من زنا . إنك تفتخر أنك ولدت من عذراء بقولك إن لك الله وحده هو أبوك . نحن الذين نعرف الله كأب لنا لا ننكر أنه لنا أب بشري .</p>
<h5>القديس أغسطينوس</h5>
<p>لم يكن إبراهيم قاتلا . أقول هذا ، أنا رب إبراهيم ، وحين أقول هذا أقول الحق … أنا أعلم أنكم ذرية إبراهيم . إنه لم ينكر أصلهم ، لكنه يدين أفعالهم . نحن نأتي من أمم أخرى ، لكننا إذ نتمثل به نصير أبناء إبراهيم . اسمعوا الرسول : « وأما المواعيد فقيلت في إبراهيم وفي نسله . لا يقول : &#8221; وفي الأنسال كأنه عن كثيرين بل كأنه عن واحد : &#8220;و في نسلك الذي هو المسيح &#8230; فإن كنتم للمسيح ، فانتم إذا نسل إبراهيم ، وحسب الموعد ورثة&#8221;(غل ٣ : ١٦ ، ۲۹) . لقد صرنا نسل إبراهيم وجعلنا الله ورثة معه . لقد نزع الميراث عن السابقين ، وتبني اللاحقين . لقد قطع الأغصان الطبيعية الجافة عن شجرة الزيتون التي أصلها في البطاركة وطعم زيتونة البرية الوضيعة (رو ۱۷:۱۱ ).</p>
<h5>القديس أغسطينوس</h5>
<p>إذ أدرك اليهود أنه لا يتحدث عن نسبهم الجسدي لإبراهيم بل عن سلوكهم ، وهم يعلمون أن السلوك الشرير هو انحراف عن الله ، وبالتالي يسقطون في الزنا الروحي ، لهذا تركوا الحديث عن نسبهم لإبراهيم لأنهم فشلوا في الاقتداء به ، وقالوا له : إننا لم نولد من زنا . لنا أب واحد وهو الله.</p>
<p>أنتم تدعون الله أبًا ، لتعرفوني إذن على الأقل كأخ لكم . وفي نفس الوقت أعطاهم حافزًا لقلوب الأذكياء بذكر ما اعتاد أن يقول : لم آت من نفسي ، هو أرسلني . أنا خرجت وأتيت من الله &#8230; لقد جاء من عنده بكونه الله المساوي له ، الآبن الوحيد ، كلمة الآب ، جاء إلينا ، لأن الكلمة صار جسدًا لكي يحل بيننا . مجيئه يشير إلى ناسوته ، الذي هو سكناه ، وإلى لاهوته . إنه بلاهوته ذاك الذي بناسوته يجعلنا نتقدم . لو لم يصر هكذا لكي ما نتقدم ماكنا قط نقتنيه ذاك الذي يبقى إلى الأبد . يقول : لماذا لم تفهموا كلامي ؟ لأنكم لا تقدرون أن تسمعوا كلمتي &#8230; ولماذا لم يقدروا أن يسمعوا ، إلا أنهم رفضوا أن يسلكوا حسنا بالإيمان به ؟ ولماذا هذا ؟ لأنكم من أبيكم الشيطان . إلى متى تحتفظون بالحديث عن أب ؟ إلى متى تغيرون آباءكم - تارة أبوكم هو إبراهيم ، وأخرى هو الله . اسمعوا من الآبن أبناء من أنتم : أنتم من أبيكم إبليس .</p>
<p>لماذا أنتم أبناؤه ؟ من أجل شهواتكم وليس لأنكم ولدتم منه . هي شهواته ؟ إنه قتال من البدء . هذا ما يوضح : شهوات أبيكم تفعلوا . أنتم تطلبون أن تقتلونني ، الإنسان الذي يخبركم بالحق . للشيطان إرادة شريرة نحو الإنسان ، ويقتل الإنسان . فإن الشيطان في إرادته الشريرة نحو الإنسان أخذ شكل الحية، وتحدث مع المرأة ، ومن المرأة بث سمه في الرجل . لقد ماتا باستماعهما للشيطان (تك ۳: ۱) ، هذان اللذان لو لم ينصتا له لسمعا للرب . لأنه كان يلزم للإنسان أن يطيع الخالق لا المخادع &#8230; لقد دعي الشيطان بالقتال ، ليس كمن يتسلح بسيف ويلتحف بفولاذ . جاء إلى الإنسان وبذر فيه اقتراحاته الشريرة وذبحه . لا تظن إذن أنك لست بقاتل عندما تغوي أخاك على الشر . إن كنت تغوي أخاك على الشر فإنك تذبحه . ولكي تعرف هذا أنك تذبحه أنصت إلى المزمور : أبناء البشر أسنانهم حراب وسهام ، ولسانهم سيف حاد (مز ٤٧ : ٤) . نعم أنتم تعملون شهوات أبيكم ، ولهذا تندفعون بجنون نحو الجسد ، إذ لا تقدرون أن تسيروا حسب الروح . إنه قتال منذ البدء ، على الأقل في بداية البشرية . منذ ذلك الوقت صارت إمكانية قتل الناس قائمة ، فقط في الوقت الذي خلق فيه الإنسان صار مما قتل البشر . فإنه ما كان يمكن قتل الإنسان لأنه لم يكن بعد قد خلق &#8230; ومن أين صار قاتلا ؟ لأنه لم يثبت في الحق . إذن كان في الحق وسقط بعدم ثبوته فيه . ولماذا لم يثبت في الحق ؟ لأن الحق ليس فيه مثل المسيح . فإن المسيح فيه الحق بطريقة ما ، بحيث هو نفسه الحق . لو أنه ثبت في الحق لثبت في المسيح ، لكنه لم يثبت في الحق ، لأنه لا يوجد الحق فيه .</p>
<h5>القديس كيرلس الأورشليمي</h5>
<p>أنتم تعملون أعمال أبيكم . فقالوا له إننا لم نولد من زنا ، لنا أب وأحد وهو الله . كشف السيد المسيح لهم عن حقيقة مخفية عنهم وهي أنهم بأعمالهم هذه يحملون البنوة لإبليس القتال منذ البدء الذي لم يثبت في الحق. ربما قصد اليهود بذلك أنهم ليسوا من نسل إسماعيل ابن الجارية ، إنما من نسل اسحق ابن سارة الحرة . كما أنهم ليسوا من نسل موآب أو أدوم الذين ولدوا خلال علاقة أثيمة بين نوح وبنتيه . لا يقف الأمر عند العود والحجارة بل اختار الإنسان حتى الشيطان مهلك النفوس ليكون أبا له . لهذا إنتهرهم الرب قائلا : أنتم تعملون أعمال أبيكم أي الشيطان ، أب البشر بالخداع لا بالطبيعة . فكما صار بولس بتعليمه الصالح أبا للكورنثيون ، هكذا دعي الشيطان أبًا للذين وافقوه بإرادتهم (مز ۱۸:٥٠) <a href="#_ftn10" name="_ftnref10">[10]</a> .</p>
<h3>عظات آباء وخدام معاصرين</h3>
<h4>قداسة البابا تواضروس الثاني</h4>
<p>المرأة التى تزوجت سبعة ولم تنجب هى رمز الى العهد القديم .</p>
<p>القصة خيالية والقصد منها</p>
<p>١- تشكيك فى حقيقة القيامة .</p>
<p>٢- الشكاية على المسيح .</p>
<p>لو قال السيد المسيح أنها كانت زوجة لواحد &#8230; يكون ظالما . ولوقال أنها زوجة للسبعة &#8230;يصير خاطىء يشجع على الزنا .</p>
<p>ولكن أكد حقيقة القيامة بعد الأموات . بأنه اله أحياء لابراهيم واسحق ويعقوب .</p>
<p>وهؤلاء البطاركة الأوائل لهم مكانة خاصة :</p>
<p>١- لهم كرامة : ابراهيم.. اسحق .. يعقوب اذ يمثلون الشريعة والأنبياء .</p>
<p>٢- لهم مكانة : نسب الله نفسة اليهم . فى مجمع القداس نلقبهم الآباء البطاركة .</p>
<p>٣- كما نذكرهم فى أوشية الراقدين ( أحضان &#8230;&#8230;&#8230;&#8230;&#8230;. ) .</p>
<p>٤-  وفى سر الزيجة ( باركهما يا الله كما باركت : ابراهيم مع سارة ، واسحق مع رفقه ، ويعقوب فى زواجه ) .</p>
<p>ابراهيم واسحق ويعقوب</p>
<p>كثيرا ما تأتى هذه الأسماء الثلاثة معا سواء فى الكتاب المقدس أو فى صلوات الطقس القبطى الآرثوذكسى .</p>
<p>ابراهيم واسحق ويعقوب فى العهد القديم :</p>
<p>١- وعدهم الله أن تكون لهم أمة وشعب (تك ٥٠: ٢٤) .</p>
<p>٢- الله يقول فى أكثر من موضع وأنه اله ابراهيم واسحق ويعقوب (خر٣ : ٦ ، ١٥- ١٦) .</p>
<p>وفى العهد الجديد يقول : &#8221; أنا اله ابراهيم واله اسق واله يعقوب ليس الله اله أموات بل اله أحياء&#8221;                        (مت٢٢: ٣٢) .</p>
<p>٣- ظهر الله لهؤلاء الآباء الثلاثة (خر ٦: ٣).</p>
<p>ابراهيم واسحق ويعقوب فى العهد الجديد :</p>
<p>١- تحدث المسيح عنهم أن هؤلاء الآباء الثلاثة فى ملكوت السموات (مت ٨: ١١) .</p>
<p>٢- كما دلل المسيح على القيامة والحياة الآبدية بذكرهم فى أكثر من موضع (مر١٢: ٢٦- ٢٧) (مت ٢٢: ٣١- ٣٢)  (لو ٣٦: ٢٠- ٣٨) .</p>
<p>تواضع الله فى قوله: &#8221; أنا اله ابراهيم واسحق ويعقوب &#8221; . فمن تواضعه ومحبته لعبيده البشر يحب أن يكرمهم فى السر والجهر .</p>
<p>أما عن لقبهم ببطاركة العهد القديم فكلمة بطريرك تعنى أب الآباء أو رئيس الآباء<a href="#_ftn11" name="_ftnref11">[11]</a>.</p>
<h4>أيضاً لقداسة البابا تواضروس الثاني</h4>
<p>(مر ١٢: ١٨ - ٢٧)</p>
<p>لماذا تضل أيها الإنسان؟</p>
<p>هذا الفصل من الكتاب المقدس هو إنجيل قداس يوم الخميس من الأسبوع السابع من الصوم المقدس ، وفترة الصوم هي جهاد روحي ، لذا يجب على الإنسان أن يكشف نفسه ويعرف حقيقته ، لذلك نجد أن أكثر وسيلة تساعد الإنسان على ذلك هو السؤال ، وسؤال اليوم مبني على قصة افتراضية وليست حقيقية ، وتقول القصة أن مجموعة من الصدوقيين وهم طائفة يهودية ولكنها لا تؤمن بالقيامة ، أرادوا أن يضعوا فخاً للسيد المسيح فقالوا له : &#8221; كتب لنا موسى : إن مات لأحد أخ وترك امرأة ولم يخلف أولاداً أن يأخذ أخوه امرأته ويقيم نسلاً لأخيه . فكان سبعة إخوة . أخذ الأول امرأة ومات ولم يترك نسلاً . فأخذها الثاني ومات ولم يترك هو أيضاً نسلاً . وهكذا الثالث. فأخذها السبعة ولم يتركوا نسلاً. وآخر الكل ماتت المرأة أيضاً . ففي القيامة متى قاموا لمن منهم تكون زوجة ؟ لأنها كانت زوجة للسبعة &#8221; (مر ۱۲: ۱۹  ٢۳)؛ وهنا كان الفخ فهم لا يؤمنون بالقيامة وسؤالهم للمسيح لمن من السبعة تكون زوجة ؟ أجاب السيد المسيح وقال لهم : &#8221; أليس لهذا تضلون إذ لا تعرفون الكتب ولا قوة الله ؟&#8221; (مر ١٢ : ٢٤). وابتدأ يشرح لهم أنه في الحياة الأبدية لا توجد روابط جسدية على الإطلاق.</p>
<p>من خلال هذه القصة يطرح علينا سؤال اليوم : &#8221; لماذا تضل أيها الإنسان ؟&#8221;. هناك سببان لضلال الإنسان :</p>
<p>+ السبب الأول : الجهل :</p>
<p>يقول السيد المسيح : &#8221; أليس لهذا تضلون إذ لا تعرفون الكتب ولا قوة الله ؟&#8221; (مر ۱۲ : ٢٤)، هذا الجهل هو نتيجة لعدم القراءة أو عدم الفهم ، أو تكون معرفة الشخص ملوثة ومنحطة ، يقول الكتاب المقدس : &#8221; هلك شعبي من عدم المعرفة &#8221; (هو٤ : ٦ ) ويقول القديس أوغسطينوس : &#8221; الكتاب المقدس هو فم المسيح &#8220;، أما القديس جيروم فيقول : &#8221; إن جهلنا بالكتاب المقدس هو جهلنا بالمسيح &#8221; . إذا أول سبب يقود الإنسان إلى الضلال هو الجهل ، وأحياناً يكون الجهل بتشجيع من عدو الخير ( الشيطان )، حتى أن الكتاب المقدس يسميه عدة مسميات منها &#8221; المخادع &#8220;، فهو مخادع من الدرجة الأولى .</p>
<p>+ السبب الثاني : الشك :</p>
<p>الشك هو أحد الأسلحة القوية في يد عدو الخير، فالشيطان هو صاحب التشكيك ومصدره الأول ، ويكفي أن نعرف أن العالم رغم تقدمه إلا أن حركة الإلحاد في نمو ، والإلحاد هو الشك في وجود الله وعمله وحضوره ، وقد نجح الشيطان في أن يوقع بالكثيرين إلى أن وصلوا إلى ما يعرف &#8221; بعبادة الشيطان &#8220;. احذرأيها الحبيب من حروب التشكيك ، وكيف يستخدمها الشيطان ببراعة ، ومن وسائل التشكيك التي يستخدمها الشيطان هو أنه يطرح أسئلة سخيفة ، وأحياناً يفترض افتراضات شبه مستحيلة مثل ما هو مطروح في قصة إنجيل اليوم ، وقد يختلق الشيطان أوضاع شاذة ، وأحياناً يوقع بالإنسان في أسئلة مثل المتاهات كما فعل الصدوقيون في قصة اليوم ، كل غرض الشيطان أنه يضيع الإنسان ويجعله يشك في كل شيء .</p>
<p>قد نتذكر توما أحد تلاميذ السيد المسيح ، والذي نسميه &#8221; توما الشكاك &#8221; فهو في وقت من الأوقات بعد قيامة المسيح شك في القيامة ؛ لأنه لم يكن موجوداً مع التلاميذ وقت ظهور المسيح لهم بعد القيامة ، بالرغم من أنهم وصفوا له كل آثار التعذيب التي تعرض لها المسيح وواضحة على جسده ، ولكنه لم يصدقهم بل أصر على وضع يده في مكان المسامير والحربة كي يصدق ، ولذلك نسمع عن توما أنه كان آخر من آمن بقيامة المسيح ، ولكنه أول من صرخ صرخته اللاهوتية عندما قال : &#8221; ربي وإلهي &#8221; (یو ۲۰ : ۲۸)، فقال له السيد المسيح : &#8221; طوبى للذين آمنوا ولم يروا &#8221; (يو ۲۰ : ۲۹). أريدك أن تعرف أيها الحبيب أن السماء روحية ، فالله روح بسيط ، والروحيات لا تُوصف بالجسديات ، فعندما اختطف بولس الرسول إلى السماء وسألوه ماذا رأيت ؟ صمت قليلا ثم قال : &#8221; ما لم تر عين، ولم تسمع أذن، ولم يخطر على بال إنسان : ما أعده الله للذين يحبونه &#8221; (۱ کو ۲ : ۹).</p>
<p>ولم يستطع القديس بولس الرسول أن يصف السماء بكل ما به من علم وبلاغة وفلسفة ؛ لأن السماء روحية والحياة فيها روحية ، ولا يوجد فيها أي نوع من الروابط الأرضية والجسدية ، ولا يوجد فيها ممارسات الأرض ، ولا الممارسات الزمنية .</p>
<p>قصة</p>
<p>ذات يوم كان هناك رجل يحيا في قبيلة من قبائل أكلي لحوم البشر ، وقد عرف المسيح وآمن به وبدأ يقرأ في الكتاب المقدس ليلاً ونهاراً ، حتى أن الإنجيل بدأ يهذب من طباعه ، وصار إنساناً هادئاً وديعاً متواضعاً ، مر عليه أحد أفراد القبيلة وابتدأ يسخر منه ويشككه  ، فإذ بالرجل المؤمن وهو يقرأ الإنجيل يقول له : &#8221; لولا تعليم هذا الكتاب لأكلتك الآن ، ولكن تعاليم المسيحية تجعلني أحبك &#8220;.</p>
<p>أسلوب الشك هو الأسلوب الحاضر اليوم في العالم كله ، ليس فقط في المسائل الروحية ، ولكنه موجود في حياة الشعوب وحياة الدول ، والإلحاد الذي يزداد في العالم هو أكبر دليل على بذرة الشك التي يطرحها عدو الخير في قلوب البشر ، ولذلك إنجيل اليوم يوجه لنا سؤالا هو : &#8221; لماذا تضل أيها الإنسان ؟&#8221;.</p>
<p>+ أسباب ضلال الإنسان :</p>
<p>١- إرادة ضعيفة :</p>
<p>هناك من تكون إرادته ضعيفة أمام بعض الأمور التي قد تكون خاطئة ، ولا توجد تقوية للإرادة الضعيفة أمام الخطية سوى الصوم ، دائماً تصلي في قسمة الصوم الكبير ونقول : &#8221; الصوم والصلاة هما اللذان يخرجان الشياطين &#8220;. فى الأصوام تكون هناك فترة انقطاعية وهي التي تقوي إرادة الإنسان ، يلحقها فترة نباتية ( الطعام النباتي ) على اعتبار ضرورة تغذية الجسم بطاقة محدودة هادئة من خلالها يستطيع الإنسان أن يمارس حياته ومسئولياته اليومية ، والطعام النباتي هو الذي يذكرنا بالفردوس ، فكأن فترة كل يوم الخاصة بالصوم هي التي تقوي إرادتي التي تقف أمام الطعام وما هو متاح ، وهذا الكلام ينطبق على كل الأصوام وخاصة الأصوام الأسبوعية ( الأربعاء والجمعة ) التي تساعد الإنسان على أن يقوي إرادته . إذا إن كانت إرادتك ضعيفة فعلاجك هو الصوم ، وإن كانت معرفتك ضعيفة أوضئيلة فالعلاج يبدأ من الكتاب المقدس والقراءة المستمرة والمنتظمة في إنجيلك يومياً ، حيث يقول الكتاب : &#8221; إذ لا تعرفون الكتب ولا قوة الله ؟&#8221; (مر ١٢ : ٢٤). مجرد القراءة فيها قوة الله ، فالقراءة اليومية والتي تكون بوعي وبتركيز ، هذه القراءة تمنحك قوة ، فالكتاب المقدس موحى به من الله ، وكلمة &#8221; وحي &#8221; أحد معانيها &#8221; أنفاس الله &#8220;، فكأنك في كل مرة تفتح إنجيلك تشتم أنفاس الله ، وبالتالي تنال قوة خاصة .</p>
<p>۲ رؤية عاجزة :</p>
<p>صدر مقرا إذا كان لديك رؤية عاجزة فهذا يعني أن عينيك لا ترى سوى التراب والأرضيات ، ولا ترى السموات ؛ لأن عدو الخير يلعب في ذهن الإنسان من خلال الشك ، ويكون العلاج لهذه الرؤية العاجزة هي صلواتك ، ولذلك الكنيسة من خلال الصلوات والتسابيح والألحان وكتب : الخولاجي والإبصلمودية والأجبية ، وجميع الكتب على تنوعها ، تهدف إلى الهدف الواحد وهو أن تفتح رؤية الإنسان .</p>
<p>ذات مرة جاء إلى المسيح شخص مجنون وأعمى وأخرس ، يقول لنا الكتاب : &#8221; حينئذ أحضر إليه مجنون أعمى وأخرس فشفاه &#8221; (مت ۱۲ : ۲۲)، ومجنون بمعنى أنه إنسان لا يستطيع أن يفكر في الله ، وأعمى أي أنه لا يقدر أن يرى الله ، أما أخرس فمعناه أنه لا يمكنه أن يتكلم مع الله ، وهذه هي أفعال الخطية والشيطان ، فالشيطان هدفه الأساسي أنه يحرم الإنسان من السماء سواء بالجهل أو بالشك أو بالأفكار المتعبة أو بالانشغالات أكثر من اللازم &#8230;</p>
<p>ليس أمامك سوى الصلاة إذا كان لديك رؤية عاجزة ، صلواتك التي ترفعها متعددة في التقليد المسيحي ، فهناك الصلاة السهمية وهي عبارة قصيرة نكررها باستمرار في كل الأوقات &#8221; يا ربي يسوع المسيح ارحمني أنا الخاطئ &#8220;، وسميت السهمية لأنها مثل السهم في محاربة عدو الخير</p>
<p>٣- صحبة باهتة :</p>
<p>ويقصد بها الأصحاب المتعبين لك أو أصحاب السوء ، وقد يتولد عنها معرفة خاطئة وعلاقات رديئة وأفكار شريرة ، فإذا كان هذا هو ضعفك والسبب في ضلالك فأنصحك بصحبة مقدسة من خلال سير القديسين ، فالكنيسة من عظمتها تقرأ علينا السنكسار يومياً ، وفي تقليد الكنائس الغربية كل يوم له اسم قديس . استبدل هذه الصحبة الشريرة أو الباهتة بصحبة مقدسة ، فما أروع وما أشهى قراءة سير القديسين ؛ لأنها تجعل قلبك دائما حاضراً ، وتجعلك مشبع بحياة القداسة ، وتتمتع بحراسة هؤلاء القديسين الذين تقرأ سيرهم ، فلا يستطيع عدو الخير أن يقوى عليك .</p>
<p>٤ رغبة محدودة :</p>
<p>إن كانت رغبتك محدودة فعلاجها هي الخدمة ، خدمة الآخرين بأي شكل ، فالخدمات تتعدد أشكالها وصورها ، فوجودك وانتمائك لخدمة الآخرين يساعدك باستمرار على أن تكون دائماً منتبه ولا يستطيع عدو الخير أن يقوى عليك ، فأنت مشغول دائما بالخدمة وباحتياجاتها ، هناك أناس كثيرون يتعرضون لضيقات وليس لهم أحد أن يذكرهم مثل : &#8221; دور المسنين ، بيوت ذوي الاحتياجات الخاصة ، بيوت ضيافة الأطفال المعوزين ، &#8230;.&#8221;</p>
<p>من فضلك إذا كانت رغبتك الروحية قليلة ، وليس لديك شهية في الروحيات ، أنصحك بأن تتجه لخدمة الآخرين وابحث عنهم بنفسك وسوف تجد شهيتك جيدة .</p>
<p>نحن تصلي في أوشية القرابين ونقول : &#8221; أعطهم الباقيات عوضاً عن الفانيات السمائيات عوض الأرضيات ، الأبديات عوض الزمنيات &#8220;، وهذه هي شهوة قلوبنا</p>
<p>أيها الحبيب احترس من الشك والجهل والضعف بصفة عامة ، إن كان في إرادتك أو معرفتك أو في صحبتك أو في شهيتك ، والكتاب المقدس يقول : &#8220;أليس لهذا تضلون ، إذ تعرفون الكتب ولا قوة الله ؟ &#8221; (مر ١٢ : ٢٤) .</p>
<p>لا تنس أن معرفتك بالإنجيل تجعلك دائماً واعياً ، وعدو الخير يبتعد عنك ، حتى أن السيد المسيح كان يجيب على الشيطان في التجربة على الجبل في كل موقف كان يقول : &#8221; مكتوب ليس بالخبز وحده &#8230; ، مكتوب للرب إلهك تسجد &#8230;. مكتوب لا تُجرب الرب إلهك &#8220;، وهذا مكتوب بالكلمة المقدسة والوصية المقدسة .</p>
<p>فليعطنا مسيحنا يا أحبائي أن تكون حياتنا منتبهة واعية لمحاربات عدو الخير، وحروب التشكيك التي يقع فيها الكثيرون اليوم .</p>
<p>لإلهنا كل مجد وكرامة من الآن وإلى الأبد . آمين<a href="#_ftn12" name="_ftnref12">[12]</a></p>
<h4>المتنيح الأنبا كيرلس مطران ميلانو: البركة..</h4>
<p>القلب الشبعان</p>
<p>سألت نفسي ؟! وكيف ولماذا لا تشبع العين من النظر ؟! وكيف لا تمتلئ الأذن من السمع ؟ ! .. والأنهار تجري إلى البحر .. وكيف لا يمتلئ البحر بالماء ؟! (جا ٧ : ۱)</p>
<p>یا الله القدوس ..الإنسان الغريب والنزيل على الأرض لا يشبع ؟!</p>
<p>فكيف يكون هذا .. وهو منقوش على كفك ؟</p>
<p>كيف يكون هذا .. وكفك يا إلهي مفتوحة دائما لكي تطعمه ؟!</p>
<p>كيف يكون هذا .. ويدك ربي مثقوبة لتخلصه ؟! ويمينك ممدودة لتلاحقه وتصادقه ؟!</p>
<p>من يحل لنا هذه المعادلة الصعبة .. القلب يعشق الأرضيات .. والله يشتاق إلى القلب ، والقلب ينخر بأظافره في العالم ليختبئ من الله الذي يشبعه ؟!</p>
<p>يا إلهي .. إن بعدت يدك عنا نحن البشر .. لرحلت البركة منا .. وهاجر السلام من قلوبنا &#8230;</p>
<p>كثيرون يعيشون بالقرب منك .. بل في ديارك التي على الأرض .. نراهم لا يشبعون ؟! هل يدك بعيدة عنهم ؟! لأنهم لم يمسكوها بالفعل ؟!</p>
<p>وهل هم جالسون بالقرب منك .. وقلوبهم بعيدة عنك ؟! أم هم يتوهمون أنهم يسكنون عندك ؟ ويظنون إنهم بتكريم شفاههم أنك تمنح البركة للقلب البعيد ؟!</p>
<p>القلب الشبعان يفيض بالبركة :</p>
<p>على عتبة الخيمة .. رأيت هذا الرجل الوقور .. رأيت أبي إبراهيم أب الآباء .. فسألته من أين أتت عليك هذه البركات ؟!</p>
<p>من حياته .. عرفت .. حقاً أن البركات يعطيها الله واضع الناموس للذين يحفظونه في قلوبهم .. وما هو الناموس إلا أن نمسك بید الله العلى &#8230;</p>
<p>يا أبي إبراهيم .. طوباك . لأنك وضعت يدك في يد الله القدوس .. بعدما تركت أهلك .. وعشيرتك .. وأرضك .. وجعلت اتكالك على الرب وحده .. لذا وضع يده الصالحة عليك .. وحلت البركة على قلبك .. وخيم السلام على أعمالك .. بل جعلك الرب .. إبراهيم البركة التي على الأرض &#8230;</p>
<p>طوباك .. لأن قلبك اغتنى بالرب وحده .. لذا لم تقبل أن تكون هناك مخاصمة بينك وبين لوط .. ولا بين رعاة غنمك ورعاة غنم لوط (تك ١٣ : ٨) .</p>
<p>يا أبي إبراهيم .. غني أنت ليس بالمكان .. إنما برب المكان .. لذا تركت لوط يختار ما يريد قائلاً له &#8221; أليست كل الأرض أمامك &#8221; .. اختار لوط لنفسه ما يشبع عينيه .. وأنت يا أبي البار سبقت واخترت ما يشبع قلبك !!</p>
<p>حقا .. البركة الحقيقية .. هي شبع القلب .. لأنك يا أبي إبراهيم بعدما استرجعت لوط وأملاكه والنساء وكل شعب سدوم من عند كدرلعومر ملك عيلام &#8221; رفضت ما عرضه عليك ملك سدوم من أملاك .. ورفعت يدك إلى إله السماء وقلت بقلب شبعان &#8221; لا أخذن لا خيطاً ولا شراك نعل ولا من كل ما هو لك &#8221; .</p>
<p>يا ساكن الخيمة</p>
<p>قل لي يا أبي الطوباوي .. لو ملكت العالم كله .. وأنت يا بار كنت بعيداً عن الله .. هل كنت تري هذه البركات ؟</p>
<p>هل رأي القديس أوغسطينوس حلاوة حياتك .. ومحبتك وإيمانك ورجائك في الرب ، لذا قال &#8221; ما أسعد من يعرفك أيها الرب الإله ، وأن كان يجهل كل شيء .. وما أشقي من يعلم كل شيء ، ولا يعرفك أيها الرب الإله .. &#8221;</p>
<p>احك لنا يا أبي الآباء .. يا ساكن الخيمة .. عن البركة التي تنقص كثيرين !!</p>
<p>احك للأغنياء والفقراء .. احك لأصحاب المراكز والمسئولين الذين يحيون في قلق من أجل طلبهم المزيد .. احك لتنقذهم &#8230; ! احك لنا لكي تكون لنا الكفاية في كل شيء .. لكي نشبع ونحيا في كل عمل صالح &#8230;</p>
<p>افتح فمك المبارك .. وكلمنا عن البركة التي تغني ولا يزيد معها تعب (أم ١٠ : ۲۲) . البركة التي في القليل .. البركة التي من عند الرب والتي تشبع القلب .. القليل الممزوج بالشكر . البركة التي تجعل القلب يمسك بقبضته في السماء .. البركة التي تعطي السلام .. والسلام الذي يمنح البركة &#8230;</p>
<p>قل للعالم الذي يجري في سباق من أجل أهداف زائلة .. قل لهم .. ماذا أمسكتم ؟! وهل شبعتم واستكفيتم ؟ قل لهم .. إن كنتم شبعتم .. فلماذا السباق مرات أخرى ؟!</p>
<p>قل لعشاق المقتنيات الأرضية .. افتحوا أياديكم .. واكشفوا عن ما اقتنيتموه ؟!</p>
<p>أليست كل مقتنياتكم رياحاً في قبضة أياديكم ، لأنها تخلو من البركة .. كما قال سليمان الحكيم .. باطل وقبض الريح ..</p>
<p>قل يا أبي الطوباوي للذين يسيرون بالعقل .. يسعون ويجرون ويملكون ظلالاً كئيبة .. هل يئن في قلوبهم نداء عميق ؟! هل عرفوا لماذا هذا الأنين ؟! وما هذا الأنين إلا أن القلب يطلب مكاناً لله خالقه بعيداً عن السعي والجريان في العالميات .</p>
<p>الذي يري حياتك يا أب الآباء .. يتعلم كيف يملك بعيداً عن مقتنيات قبض الريح ؟! يتعلم كيف يلتصق بالبركة ؟! وكيف تلتصق البركة فيه .. وإن كان لا يملك شيئاً ؟!</p>
<p>كيف يصير القليل كثيراً</p>
<p>جلست بأفكاري معك يا أبي إبراهيم .. وطار عقلي إلى الجبل .. ورأيت الجموع حول السيد المسيح .. فحشرت نفسي وسطهم .. ونظرت إلى الطفل الصغير .. وهو يضع بأصابعه الصغيرة .. كل ما يملك من أطعمة في يد المسيح الممسك السبع کواكب في يمينه .. وقلت بعقلي ما قاله التلاميذ &#8221; كيف يمكن تقسيمهم على هذا الجمع ؟ !</p>
<p>&#8221; قلت لنفسي .. هات كل الآلات الحاسبة .. تعال بالعلم الحديث .. قسم خمس خبزات وسمكتين على هذا الجمع الغفير !! قسميهم على خمسة آلاف نفس !! هل يفيض اثنتا عشرة قفة مملوءة ؟</p>
<p>حقاً . القليل والصغير عندما يوضع في يد الرب .. تكون فيه البركة .. ولا تكن البركة في الطعام البائد وحده .. إنما عندما نضع إمكانياتنا القليلة في يد الله القدوس .. عليها تحل البركات .</p>
<p>فمن هذا اليوم أبامرك (حجي ٢ : ١٩)</p>
<p>ایتها البركة .. يا قارعة على أبواب القلوب ..</p>
<p>لماذا تنتظرين في الخارج ؟! والقلوب تبحث عن الشبع ؟!</p>
<p>هل عيون القلوب لم تنظرك ؟! أم أيادي القلوب تقطران مرا وأصابعها قاطر على مقبض القفل ؟! (نش ٥ : ٥) .</p>
<p>أيتها البركة .. هل تنتظرين على الأبواب كثيرا ؟! أم تتحولي وتعبرين ؟!</p>
<p>هل التوبة هي أختك ؟! وهل لك مثلها زمان للعمل ؟!</p>
<p>أيتها البركة .. أنت بنت من من العظماء الأنقياء ؟!</p>
<p>حقا .. أنت بنت التوبة التقية التي بها يرجع الله إلي القلب فتحل عليه البركات ..</p>
<p>أنت الساكنة في يد الآباء البطاركة .. والخارجة من فم الآباء الأساقفة والمرسلة في نعمة الكهنوت العاملة في كل الأسرار ..</p>
<p>أيتها البركة .. كل من حبسك في قلبه .. انفك من ضيقات العالم .</p>
<p>خيراتك كثيرة .. لكن ليس كل من يملك خيرات أنت تسكنيه !!</p>
<p>أنت التي تفرحين وجه الأرض بالثمار الغزيرة .. وأنت التي تفرحين أراضي القلب بحلولك فيه ..</p>
<p>عجيبة أنت أيتها البركة .. لأنك لا تحتملين البقاء في المخازن .. إن دخلت المخزن تنحل منك البركة .. والمخزون ينتن ويأكله السوس .. ويعتريه الصدأ !!</p>
<p>أنت تحولين القلب إلى نبع فياض .. يرتوي منك فيسعد .. ويروي الآخرين فيزداد إسعادا ..</p>
<p>أنت غنية في النساك الفقراء .. وبهم تنتشر البركات .</p>
<p>حقا .. أنت أم العطاء بسخاء ..</p>
<p>مصدر البركة :</p>
<p>سألت نفسي قائلا .. لماذا امطرت السماء بالمن السماوي ؟!</p>
<p>قلت ليعمل في قلوب البشر .. ولكي يسند أجسادهم ..</p>
<p>يا إلهي .. أنت يا قدوس لم تجعل القلب مخزنا للطعام !! ولا مخزنا للماديات !! إنما لكي يخزن فكرا حيا ..</p>
<p>السماء التي أمطرت للشعب في البرية .. أمطرت لكي تروي القلوب فكرا عميقا ..</p>
<p>&#8221; بأن عطايا الله جديدة كل صباح &#8221; (مراثي ٣ : ٢٣) وأن يد الله ممدودة لكل ذي جسد (أش ٦٥ : ٢) .</p>
<p>فمن ذا الذي يخزن إلا الذي انفصل عن الله ؟! ومن ذا الذي يخزن إلا الذي يفرح بالعطية أكثر من العاطي .</p>
<p>حقا .. البركة الحقيقية . أن تبقي في يد الله معنا ..</p>
<p>يا إلهي .. في يدك لا توجد مخازن .. لأن الخير يتدفق من بين يديك !! فمن أين نأتي بمخازن لخيراتك وبركاتك التي تحاصر بها كل خليقتك ؟!</p>
<p>السماء والأرض لا يسعان بركاتك يا سيدي .. لأنهما من بين خيراتك !!</p>
<p>مقر البركة :</p>
<p>يا إلهي لا تسمح لي أن أكون حكيما في عيني نفسي (أم ٣ : ٧) .. ولا تسمح لي بجهل حكمتي أن أفرح بالبركة من خارجي .. أعني يا سيدي لكي أعمل مقرا للبركة في داخلي .. حتى لا أمشي في طريق وقلبي في طريق آخر (حجي ١ : ٥) .</p>
<p>اجعل قلبي في طريقي لئلا أنخدع وأبني قصورا .. والدهر يحفرها لي .. أو أبذر بذورا في الحقول .. والأرض تلفظها لي ..</p>
<p>دعني أسمع صوتك من فم حجى النبي .. دعني أميز وأملك قلبا منيرا .. أبني فيه القلب بيتا للرب .. أبني مقرا للبركة .. لأنك أنت القائل لكل من يهتم ويبني بعيدا عن القلب &#8221; زرعتم كثيرا .. ودخلتم قليلا .. تأكلون وليس إلى الشبع .. تشربون ولا تروون .. تكتسون ولا تدفأون &#8221; (حجي ١ : ٥) .</p>
<p>لذا بعيدا عن القلب لا يوجد مقر للبركة المشبعة .. التي بها نحيا ونتحرك ونوجد ..</p>
<p>يا إله البركة :</p>
<p>أنت تفتح يدك فتشبع كل حي (مز ١٤٥) .. قطرة من بين أصابعك تروي محيط حياتنا .. وفتات من يمينك يشبع بطونا جائعة .. وفلس من خزنتك يغني عالمنا .. وعصاك وعكازك على قطيعك الصغير فتجذب بها الذئاب الخاطفة .. وخمس خبزات في يدك تشبع بها خمسة آلاف نفس .. وخمس كلمات بذهن مختلط بروحك القدوس تطعم بها القلوب الجائعة للبر .. أكثر بركة من عشرة آلاف كلمة بلسان بدون فهم (١كو ١٤ : ١٩) .</p>
<p>دقيق لا يفرغ . . وزيت لا ينقص</p>
<p>وقفت على أبواب بلدة صرفة صيدا .. أبحث عن بيت الأرملة ..</p>
<p>أرامل كثيرات في البلدة الصغيرة .. من يرشدني عن بيت الأرملة التي كلفها الله لكي تعول نبيا عظيما ؟! (١مل ۱۷ : ۱۰) .</p>
<p>يا إلهي .. أنت يا قدوس .. من هذه الأرملة التي تعول أحد أنبيائك ؟! ولماذا ؟!</p>
<p>امرأة فقيرة جدا .. طعامها كاد يتلاشى !!</p>
<p>هذه حفنة باقية من الدقيق .. ونقاط من الزيت .. هذا هو طعامها وطعام أبنها !! (١مل ۱۷ : ۱۲) .</p>
<p>ترى ماذا تعملون للبطون الجائعة !! ماذا يحدث بعد هذه العجنة الأخيرة ؟! ومن يسند جسدك يا أمي الأرملة .. وجسد ابنك اليتيم ؟!</p>
<p>هل الباب يطرق .. تري من الذي يطرق على باب بيتك ؟!</p>
<p>هل القارع جاء ليقدم طعاما لك ؟! ولأبنك ؟!</p>
<p>افرحي يا امي الأرملة .. وتهللي .. يبدو أن الذي جاء .. جاء لكي يعولك ويطعمك !!</p>
<p>القارع على باب بيتك هو نبي من أنبياء الله .. ترى ماذا يحمل لك ؟! وماذا يقدم لأبنك ؟!</p>
<p>يا للعجب .. أنه إيليا النبي ومعه رسالة من الله العلي .. هو لا يعطيك شيئا .. إنما جاء ليأكل ويشرب من عندك ، من طعامك .. من بيتك ؟!</p>
<p>يا إلهي .. العقل لا يدرك هذا التدبير العجيب !!</p>
<p>لماذا اخترت هذه الأرملة الفقيرة .. ومن أين تعطي ؟! وماذا تقدم ؟!</p>
<p>حقا .. أنت عارف قلب كل أحد .. وأنت يا قدوس مستريح في قديسيك .</p>
<p>في تجسدك جلست تجاه الخزانة .. ونظرت كيف يلقي الجميع نحاسا الخزانة .. وكان أغنياء كثيرون يلقون كثيرا .. ورأيت الأرملة الفقيرة التي ألقت فلسين أكثر من الذين ألقوا في الخزانة .. لأن الجميع من فضلتهم القوا .. وأما هذه فمن أعوازها ألقت كل ما عندها .. كل معيشتها (لو ١٢ : ٤٤) .</p>
<p>أسرار في بيت الأرملة :</p>
<p>أيها النبي العظيم .. هل عندما دخلت بيت الأرملة .. جاء أبنها مسرعا واستند على ركبتيك ليشبع ويستريح ؟</p>
<p>الابن لا يحتمل الجوع .. وأنت يا نبي الله لك القدرة على الصوم والصلاة !!</p>
<p>ها هي كل محابس المياه في يدك .. أنت ترفع يدك فتغلق كوى السماء (يع ٥ : ۱۷) ، (١مل ۱۷ : ۱) .</p>
<p>أنت دخلت بيت الأرملة .. ورأيت بعينيك حفنة الدقيق .. ونظرت إلى كوز الزيت .. لماذا طلبت طعاما لنفسك قبل الابن الصغير اليتيم ؟!</p>
<p>هل هذا اختبار أنت تصنعه يا نبي الله مع هذه الأرملة .. أم سر مخفى ؟!</p>
<p>يا إلهي .. أنت تعرف هذه الأرملة .. وهي تعرفك ..</p>
<p>نحن نراها أرملة فقيرة .. وأنت يا غني بنفسك تنظرها غنية جدا .. غنية في عطائها !!</p>
<p>إيليا النبي أنت تعرفه .. وهو يعرف كلامك .. هو دخل بيت الأرملة ولما نظر إلى حالها .. لم يفكر كيف .. ومن أين تعوله هذه الأرملة ؟!</p>
<p>الرب قال &#8221; هوذا قد أمرت هناك امرأة أرمله أن تعولك &#8221; (١مل ۱۷ : ۹) .</p>
<p>يا أمي الأرملة .. زوجك رحل عن هذا العالم .. وأعمالك تؤكد أنك لم تترملي لأنك تحبين الله .. وتحبين كل من يحمل رائحة الرب .. وكل من هو قريب من الرب ..</p>
<p>يا أمي هل تعرفت على عتيق الأيام ؟! هل رأيت المسيح قبل تجسده ؟! وهل سمعت منه &#8221; لا تهتموا للغد .. لأن الغد يهتم بما لنفسه &#8221; (مت ٦) .</p>
<p>افتحي فمك .. وتكلمي وأخبري الذين يحسبون ويهتمون بكل تدقيق للماديات في زمانهم الحاضر الفاني .. لكي يسعوا للاهتمام بحياتهم الأخرى الباقية ..</p>
<p>&#8221; يكفي اليوم شره &#8221; (مت ٦ : ٣٤) هذا كان شعارك .. والساكن في قلبك لذا لم تحسبي لنفسك .. ولا لأبنك ماذا يحدث بعد اليوم ، بعدما يفرغ الدقيق .. وينتهي الزيت ..</p>
<p>الرب يشبع الجياع بالخيرات :</p>
<p>ايتها الارملة .. طوباك .. لأنك قبلت إيليا رجل الله .. وفتحت له باب بيتك .. وقدمت له كل ما كان عندك .. حتى مسكنك البسيط قدمتيه بيتا لنبي الله .. ولعظم عطاياك .. صرت أنت غريبة في بيتك ..</p>
<p>قدمت كل ما عندك .. لأنك تحبين الله أكثر من ابنك .. فاستحققت الله (مت ۱۰ : ۳۷) .</p>
<p>انت قبلت نبي الله وأطعمتيه .. فأجر نبي أخذت .. أنت قبلت إيليا البار وعلتيه فأجر بار أخذت (مت ۱۰ : ٤١) .</p>
<p>أنت سر عجيب .. من يفتح أبوابك ؟! من يدخل إلى أعماقك ؟</p>
<p>الذي يدخلك .. يخرج حاملا معه مفاتيح البركات السمائية .. ويعرف أنه لا توجد بركة بدون عطية ..</p>
<p>فالذي يحمل قلبه ويقدمه للرب .. الرب يجعله مسكنا له .. ويكون مباركا ببركات السمائيين ..</p>
<p>الذي يفتح ثقبا مقدما منه العشور .. يفتح له الرب كوى السماء لكي تمطر عليه بالبركات والخيرات .. (ملا ۳ : ۱۰) .</p>
<p>الذي يستحق أن يعطي .. يستحق أن ينال البركة ..</p>
<p>في بيت الأرملة .. لا توجد مطاحن .. وكوار الدقيق لا يفرغ . وفي مسكنها لا توجد مصانع للزيوت .. وكوز الزيت لا ينقص .</p>
<p>هذه بركة عطاياك يا أمي الأرملة .. بسلام قدمت .. وبالبركة والسلام خيم الرب عليك .. لأن الله يشبع الجياع بالخيرات .. ويصرف الأغنياء فارغين <a href="#_ftn13" name="_ftnref13">[13]</a>.</p>
<h4>المتنيح الأنبا إبيفانيوس أسقف ورئيس دير القديس أنبا مقار</h4>
<p>أولاد ابراهيم</p>
<p>يتكرر اسم ابراهيم أبى الآباء فى العهد الجديد مررا كثيرة، وفى انجيل القديس يوحنا بمفرده يتكرر احدى عشرة مرة ، تقع جميعا فى الأصحاح الثامن منه( ٣١-٥٨) . واذا عرفنا وجهه نظر اليهود أيام المسيح حول علاقتهم بابراهيم أمكننا فهم الحوار الذى دار بين المسيح واليهود والذى ورد ذكره فى انجيل يوحنا (٨: ٣١- ٥٨).</p>
<p>لقد بارك الله ابراهيم وأعطاه الوعد قائلا :&#8221;أجعلك أمة عظيمة وأباركك أعظم اسمك ، وتكون بركة . وأبارك مباركيك ، ولاعنك ألعنه وتتبارك فيك جميع قبائل الأرض&#8221;(تك١٢: ٢، ٣) .وأضاف الله على هذا الوعد بعد ذلك قائلا :&#8221;لنسلك أعطى هذه الأرض &#8220;(تك١٢: ٧) . ثم تأكد هذا الوعد عندما وعده الله بميلاد اسحق :&#8221;انظر الى السماء وعد النجوم ان استطعت أن تعدها &#8221; . وقال له :&#8221;هكذا يكون نسلك&#8221;( تك١٥: ١- ٦) . ثم تأكد الوعد مرة أخرى عندما غير الله اسم ابراهيم من أبرام الى ابراهيم ، وكان الختان هو علامة هذا الوعد ( تك١٧: ١-١٤) .</p>
<p>على هذا الأساس الكتابى صارت شخصية ابراهيم ممجدا جدا فى التقليد اليهودى المتأخر بسبب مآثره وشخصيته المثالية .</p>
<p>وقد كال له اليهود المديح لأنه تمم أقصى متطلبات الحياة الفاضلة كما كان ينادى بها فلاسفة اليونان . فيصفه المؤرخ اليهودى يوسيفورس أنه : &#8220;انسان فائق الكمال من جهة جميع الفضائل&#8221; . أما كتاب المشنا، وهو مجموعة تعاليم الربيين اليهود والتى أشار اليها الانجيل تحت اسم :&#8221; تقليد الشيوخ &#8220;(مر٧: ٣) ، فانها فى تعليقها على آية سفر التكوين :&#8221;من أجل أن ابراهيم سمع لقولى وحفظ ما يحفظ لى : أوامرى وفرائضى وشرائعى&#8221;( تك٢٦: ٥) ، تقول : &#8220;ان أبانا ابراهيم قد حفظ جميع أحكام الشريعة قبل أن تعطى الشريعة&#8221;. كما تعتبره أول من أدان عبادة الأوثان بسبب ايمانه بالله . اذ يقرر يوسيفيوس أن السبب الوحيد لترك ابراهيم منطقة ما بين النهرين هو العداوة التى لاقاها من جراء رفضه لعبادة الأوثان.</p>
<p>وبسبب هذه الكرامة التى أسبغت على شخصية ابراهيم، نسجت أيدى الخيال حوله القصص ، وقد تسجلت هذه القصص فى بعض كتابات اليهود المتأخرة مثل :&#8221;رؤيا ابراهيم&#8221;، وكتاب :&#8221;عهد ابراهيم&#8221;، وهى تحوى حياة ابراهيم كما ورد فى سفر التكوين بالأضافة الى أساطير الربيين التى تخيلت ابراهيم فى تعامله مع الملائكة ، والرؤى التى شاهد فيها الله ، ورحلاته فى عالم السماويات .</p>
<p>أماقمة المديح لابراهيم فنجده فى التقليد اليهودى الذى يقرر أن ايمان وطاعة ابراهيم كانا من العظمة بمكان حتى انهما  بالاضافة الى بر اسحق ويعقوب  يعتبران كنزا عظيما لما يسمى ب&#8221;استحقاقات الآباء&#8221; . هذا الكنز من بر وتقوى الآباء كان أكثر من احتياجهم لكى ينالوا الخلاص. لذلك فقد كانوا يعتقدون بأن الله يسمح بانتقال هذا البر للشخص اليهودى عندما يحتاج اليه لكى يكفر عن خطاياه. وبالرغم من أن بعض الربيين اليهود قد عارضوا هذا الرأى ، الا أن وجوده يوضح الكرامة  التى نالتها شخصية ابراهيم.</p>
<p>لقد جاء شعب اسرائيل من نسل ابراهيم ، وبالتالى فهو الشعب المختار الذى تحققت فيه الوعود والبركة التى منحها الله لأبراهيم ، وان كانت كل هذه الوعود والبركات لم تتحقق الا فى المسيا الآتى من نسل ابراهيم . الذى كان اليهود يلقبون ابراهيم دائما فى كتاباتهم بلقب &#8220;ابينا ابراهيم &#8221; . ويقابلنا نفس هذا اللقب أيضا فى كتابات العهد الجديد :</p>
<p>&#8220;القسم الذى حلف لأبراهيم أبينا ، أن يعطينا اننا بلا خوف منقذين من أيدى أعدائنا نعبده&#8221; (لو١: ٧٣-٧٤).</p>
<p>&#8220;ظهر اله المجد لأبينا ابراهيم وهوفى ما بين النهرين قبلما سكن فى حاران&#8221; (أع ٧: ٢) .</p>
<p>&#8220;فماذا نقول ان أبانا ابراهيم قد وجد حسب الجسد ؟ &#8230; وأبا للختان للذين ليسوا من الختان فقط ، بل أيضا يسلكون فى خطوات ايمان أبينا ابراهيم&#8221; (رو٤: ١، ١٢)</p>
<p>&#8220;ألم يتبرر ابراهيم أبونا بالأعمال ، اذ قدم اسحاق ابنه على المذبح&#8221; (يع٢١: ٢) .</p>
<p>حتى الرب يسوع نفسه استخدم هذا اللقب فى مثل الغنى ولعاذر ، فيقول على لسان الغنى بعد أن انتقل الى الهاوية :&#8221;فنادى وقال : يأبى ابراهيم ارحمنى ، وأرسل لعازر ليبل طرف اصبعه بماء ويبرد لسانى &#8230;&#8221;(لو١٦: ١٩-٣١) . لذلك كان يطلق على اليهود عادة لقب &#8220;أولاد ابراهيم&#8221; (يو٨: ٣٩) ، و&#8221;ذرية ابراهيم&#8221; (يو٨: ٣٣) ، و&#8221;ابن ابراهيم&#8221; (لو١٩: ٩) ، و&#8221; ابنة ابراهيم&#8221; (لو١٣: ٦).</p>
<p>هذه الاشارات المتكررة فى كتابات القرن الأول لاعتبار ابراهيم أبا لليهود ، وأن اليهود هم ذرية ابراهيم ، تحتاج الى فحص دقيق ، فربما تحمل معنى مغايرا تماما للمعنى المقصود . فهل تكرار هذا اللقب يشير الى أية امتيازات أو استحقاقات لليهود ، أم أنه يؤكد على واجبات والتزامات مفروضة على من يحمل هذا القب ؟</p>
<p>كلا هذين الاتجاهين  أى الامتياز والالتزام  واضحان فى رواية سفر التكوين . فالوعود الممنوحة لابراهيم فى سفر التكوين مرتبطة بايمان ابراهيم وطاعته .</p>
<p>فالوعد بالبركة فى الاصحاح الثانى عشر مرتبط بأمر الله لابراهيم ،&#8221;اذهب من أرضك ومن عشيرتك ومن بيت أبيك الى الأرض التى أريك &#8220;( تك١٢: ١) .</p>
<p>كما أن التأكيد على البركة واضافة الوعد بميراث الأرض (تك١٢: ٢، ٣) . يحمل فى طياته بصورة متلازمة الوجهين : العطية والالتزام ،</p>
<p>فالوعد بانجاب الوريث يتطلب الايمان (١٥: ١-٦) ، والوعد بميراث الأرض يتطلب تقديم ذبيحة (١٥: ٧-٢١) .</p>
<p>وتأكيد الوعد بعلامة الختان (١٧: ٢-١٤) سبقها الوصية &#8220;أنا الله القدير. سر أمامي وكن كاملاً&#8221; (١٧: ١).</p>
<p>وحتى بعد أن منحه الله اسحق الذى وعده بأن يكون هو الوارث للمواعيد والبركة، فلكى يتثيت له وعد الله وبركته ، تطلب هذا امتحانا لايمانه عندما طلب منه الله أن يقدم اسحق ذبيحة. وكان هذا هو الامتحان : هل يؤمن أن الله قادر أن يقيم له اسحق من الموت ، هذا الذى تقبل فيه المواعيد ، وحيده (تك٢٢: ١-١٨)؟</p>
<p>واذا فحصنا مفهوم البنوة لأبراهيم فى الفترة التى سبقت مجىء المسيح بالجسد نجد كلا المفهومين  أى الامتياز والالتزام  موجودين ، ولكن التركيز بالأكثر كان على مفهوم الامتياز دون الالتفاف الى متطلبات البنوة . فمن أقوال الربيين اليهود المعاصرين لتلك الفترة ، نلاحظ الاشارة الى امتيازات البنوة لابراهيم وكأنها حق واجب غير مشروط بأية شروط فيذكر الرائى مير Meir أن :&#8221;الاسرائيلين هم دائما أولاد ابراهيم ، سواء ضايقوه بأعمالهم أم لا ، سواء فسدوا فى حياتهم أم لا ، وسواء عصوا الله أم لم يعصوه&#8221;</p>
<p>هذا المفهوم كان شائعا فى زمن المسيح ، وكان اليهود يرون أنهم ما داموا أولاد ابراهيم فلهم حق ميراث الوعود وميراث الأرض والمستقبل المجيد وقد ذكر القديس يوستينوس الشهيد فى حواره مع تريفو أن اليهود  كأولاد ابراهيم  كانوا يتوقعون نوال ملكوت الله بغض النظر عن سلوكهم فى الحياة. وقد واجه القديس يوحنا المعمدان هذا المفهوم الخاطىء عندما بدأ البعض يقبلون رسالة التوبة القوية التى نادى بها :</p>
<p>&#8220;وكان يقول للجموع الذين خرجوا ليعتمدوا منه: يا اولاد الأفاعى من أراكم أن تهربوا من الغصب الأتى؟ فاصنعوا أثمارا تليق بالتوبة . ولا تبتدئوا تقولون فى أنفسكم: لنا ابراهيم أبا .لأنى أقول لكم ان الله قادر يقيم من هذه الحجارة أولادا لابراهيم، والأن قد وضعت الفأس على أصل الشجر، فكل شجرة لا تصنع ثمرا جيدا تقطع وتلقى فى النار&#8221;( لو٣: ٧- ٩)؛ (مت ٣: ٩- ١٠).</p>
<p>فهنا كان يوحنا يذكر سامعيه أن البنوة لابراهيم لا تلغى أمر الله لكل انسان: &#8220;سر أمامى وكن كاملا &#8220;.</p>
<p>بيد أن هناك بعض الربيين المعتدلين الذين فهما البنوة لابراهيم بمفهوم الالتزام والمسئولية تجاه متطلباتها . وقد نادى أولئك بضرورة التشبه بأخلقيات وفضائل ابراهيم، ففى كتاب المشنا نجد هذا المفهوم :&#8221;ان من يمتلك هذه الخصال الثلاث وهى العين البسيطة( القنوعة) والروح الوديعة والنفس المتضعة، فهذا هو تلميذ لأبينا ابراهيم ، ومن فيه هذه الصفات الثلاث وهى العين الشريرة ( الطماعة) والروح المنتفخة والنفس المتعالية فهو من تلاميذ بلعام الشرير &#8230;. فتلاميذ أبينا ابراهيم يتمتعون بالعالم ويرثون الحياة الآتية&#8230; أما تلاميذ بلعام فيرثون جهنم وينحدرون الى هاوية الهلاك &#8220;.</p>
<p>هذه الفقرة المقتبسة من تعليم الربيين توضح أنه كان هناك من قادة اسرائيل الروحيين من نادى بأن مصير الانسان انما يحدده سلوكه الروحى وليس مجرد انتسابه الى ذرية ابراهيم . وهذا المفهوم ما أكد عليه الرب يسوع عند مقابلته لزكا رئيس العشارين . فبعد أن أعلن زكا توبته والتزامه بالعطف على المساكين وانصاف المظلومين ، والكف عن أعمال الظلمة التى يمارسها ، أجابة الرب يسوع قائلا :&#8221;اليوم حصل خلاص لهذا البيت ، اذ هو أيضا ابن ابراهيم&#8221; (لو١٩: ٩) .</p>
<p>وقد أكد بولس الرسول على هذا المفهوم فى رسائله ، اذ نادى فى تعاليمه أن &#8220;فى المسيح&#8221; ليس هناك أهمية روحية لأصل الانسان سواء كان يهوديا أو أمميا (غل٣: ٢٨) ، وأن الانسان لا يحسب يهوديا ان كان يهوديا من الخارج فقط ، أى بسبب انتمائه فقط الى ذرية ابراهيم ، والختان لا يحتسب ختانا ان كان مصنوعا فى الجسد فقط . أما اليهودى الحقيقى فهو اليهودى من الداخل ، أى الذى يسير على خطوات ايمان ابراهيم (رو٢: ٢٨، ٢٩) .</p>
<p>يمكننا الآن أن نتتبع الحوار الذى دار بين الرب يسوع واليهود فى انجيل يوحنا الأصحاح الثامن ، لنرى انعكاس وجهات النظر المختلفة حول مفهوم البنوة لابراهيم. فعندما أخبرهم يسوع بحاجتهم الى الحرية : &#8220;وتعرفون الحق،والحق يحرركم&#8221;(٨: ٣٢ ) ، أجابوه من وجهة نظر الربيين التى تنادى بامتيازات البنوة لابراهيم :&#8221;اننا ذرية ابراهيم ولم نستعبد لأحد قط &#8220;(٨: ٣٣ ) ، وهو الرأى الذى يرى أن جميع اليهود هم أحرار  بالرغم من أنهم فى ذلك الوقت كانوا تحت عبودية الدولة الرومانية &#8220;حتى الأفقر فى اسرائيل فجميعهم أحرار ، وان فقدوا جميع ممتلكاتهم ، وذلك لأنهم أولاد ابراهيم واسحق ويعقوب&#8221;.</p>
<p>لقد استثار المسيح فى هؤلاء اليهود  الذين أظهروا فى البداية قبولا لكلام المسيح  أفكارهم الدفينة المترسبة عبر الأجيال والدهور ، القائمة على الغلو فى الوطنية السياسية المصبوغة من الخارج بالعبادة ، والموضوع عليها شعار يهوه ، لتصبح السياسة المقدسة التى لا يستطيع أن يمسها أحد . فكيف لهذا المعلم أن ينفى عنهم الحرية وهم قد أخذوا السيادة على العلم بكل شعوبه وأممه ، بوعد وتعهد من الله لأبيهم ابراهيم ؛ وان كانت بلادهم اجتاحها جيوش أعداء على مر السنين ، مصريين وبابليين وأشوريين ورومان ، فكما جائوا هكذا رحلوا دون أن يمسوا ميراثهم أو تراثهم أو عوائدهم أو عبادتهم . لقد خرج اليهود من نير الأسر وهم أحرار كما كانوا ، بوعد أبيهم ابراهيم . فكيف يعدهم هذا بالحرية وهم فى حريتهم قائمون ؟</p>
<p>لقد أقر الرب يسوع ببنوتهم الجسدية لابراهيم :&#8221; أنا عالم أنكم ذرية ابراهيم &#8220;(٨: ٣٧) ، لكنه أضاف أن لهم أبا آخر :&#8221;أنا أتكلم بما رأيت عند أبى ، وأنتم تعملون ما رأيتم عند أبيكم&#8221;(٨: ٣٨) . لقد كان بهذا الكلام يستفزهم لكى يؤكدوا على ادعائهم بالبنوة الجسدية لابراهيم :&#8221; أجابوا وقالوا له  أبونا هو ابراهيم (٨: ٣٩) . وهنا فند الرب مزاعمهم مستندا الى تعاليم اليهود التى تنص على أن أولاد ابراهيم الحقيقيين هم أبرار . فبالمقارنة بين ما فعله ابراهيم وبين ما يفعلونه هم يظهر أنهم ليسوا أولاد ابراهيم :&#8221; فقال لهم يسوع : لو كنتم أولاد ابراهيم ، لكنتم تعملون أعمال ابراهيم ؛ ولكنكم الان تطلبون أن تقتلونى ، أنا انسان قد كلمكم بالحق الذى سمعة من الله . هذا لم يعمله ابراهيم &#8221; (٨: ٣٩ ،٤٠) . أى أن ابراهيم لم يكن قتالا للناس ،وأنتم تريدون أن تقتلونى ، وابراهيم لم يكن معاندا للحق ، وأنتم تقوموننى لأننى كلمتكم بالحق ، وابراهيم كان مطيعا لكلام الله ، وأنتم تعصون الكلام الذى أخبرتكم أننى سمعته من الله .</p>
<p>وبالاجمال، فان ابراهيم قبل الرسل الذين أرسلهم اليه الله واستضافهم وأطاع كلمتهم ، أما أنتم فانكم ترفضون :&#8221;الذى قدسة الآب وأرسله الى العالم&#8221;(يو ١٠: ٣٦) . فالأعمال التى تعملونها أنتم لم يعملها ابراهيم . اذا ، بنوتكم لابراهيم لا تفيدكم شيئا .</p>
<p>وهنا أحس اليهود أنهم قد بلعوا الطعم الذى ألقاه لهم وأنه تفوق عليهم فى هذه الجولة. لذلك تركوا تمسكهم ببنوتهم لابراهيم ونادوا بأنهم ليس لهم أب الا الله :&#8221;لنا أب واحد وهو الله&#8221;(٨: ٤١) ، مستندين الى نبوة اشعياء النبى :&#8221;فانك أنت أبونا وان لم يعرفنا ابراهيم ، وان لم يدرنا اسرائيل . أنت يارب أبونا ، ولينا منذ الأبد اسمك&#8221;( 6اش٦٣: ١٦) . وهنا اعترض الرب يسوع بشدة على ادعائهم البنوة لله . فالبنوة لله أيضا لها واجبات ومتطلبات كثيرة . وربما كان الرب يسوع أيضا يشير الى نبوة اشعياء النبى :&#8221;ربيت بنين ونشأتهم ، أما هم فعصوا على&#8230; ويل للأمة الخاطئة ، والشعب الثقيل الاثم ، نسل فاعلى الشر ، (وليسوا أولاد الله)، أولاد مفسدين &#8220;(اش١: ٣ ،٤) .فحسب ما يراه الرب يسوع أمامه ، فأولئك ليسوا أولاد الله ، بل لهم أب آخر هو ابليس : &#8220;أنتم من أب ، وشهوات أبيكم تريدون أن تعملوا . ذاك كان قتالا للناس من البدء ، ولم يثبت فى الحق لأنه ليس فيه حق . متى تكلم بالكذب فانما يتكلم مما له، لأنه كذاب وأبو الكذاب&#8221;(يو٨: ٤٤) . وفى هذا الهجوم أيضا كان الرب يسوع يشير الى نبوة اشعياء النبى .&#8221;أنتم أولاد المعصية، نسل الكذب&#8221; ( اش٥٧: ٤) .</p>
<p>لقد أراد الرب يسوع أن يؤكد أن مجرد الانتساب الجسدى لابراهيم لن يجدى نفعا ما دام الانسان لا يسير فى اثر خطوات ابراهيم :&#8221;ان كثيرين سيأتون من المشارق والمغارب ويتكئون مع ابراهيم واسحاق ويعقوب فى ملكوت السموات ، وأما بنو الملكوت فيطرحون الى الظلمة الخارجية &#8220;(مت٨: ١١، ١٢) . حتى الانتساب لله ان لم يحفظ الانسان متطلباته، فالله نفسه سينكر هذا الانتساب :&#8221;اذهبوا عنى يا فاعلى الاثم ؛ &#8230; انى لم أعرفكم قط؛&#8221;(مت٧: ٢٣) . أما اذا صنع الانسان مشيئة الله ، فانه لا يصير فقط ابنا له ، بل يدعوه المسيح :&#8221;أخى وأختى وأمى&#8221;( مت١٢: ٥٠)<a href="#_ftn14" name="_ftnref14">[14]</a></p>
<h4>المتنيح القمص لوقا سيداروس</h4>
<p>وإله إبراهيم أبو الأباء</p>
<p>ولكن ماذا يعني الامتياز الذي اعطاه الرب لقديسيه؟</p>
<p>أنه يعني بالدرجة الأولي انهم بسبب قربهم ومركزهم الممتاز قد صارت لهم عنده دالة ووسيلة متميزة تماماً ؟ وصار لهم نعمة في عينيه .</p>
<p>الم يدع ابراهيم &#8221; بخليل الله &#8221; ؟ وماذا عني الكتاب بهذا ذاك الذي قدم وحيده حباً ، الذي قبل المواعيد بسببه ، الذي قيل له انه باسحق يكون له نسل الذي استحق أن يدعي أباً لكل من له إيمان ابراهيم ، وصار أباً للذين بلغوا الي الايمان بمن أقام يسوع المسيح من الأموات .</p>
<p>ابراهيم الذي اتسع حتي صار حضناً لجميع القديسين يتكئون فيه كما نقرأ في انجيل معلمنا لوقا الاصحاح السابع عشر بأن لعازر في حضن ابراهيم .</p>
<p>لقد وقف ابراهيم يشفع في سدوم وعمورة أمام الله ، أي جرأة بلغت الي قلب ابراهيم أن يشفع في خطاه استحقوا ناراً هكذا من السماء ؟</p>
<p>انه رجل له دالة ووسيلة ، لقد شرع يتكلم مع الله باتضاع عجيب كرماد وتراب ولكن ليس كباقي الناس .</p>
<p>ما أعجب أن يقول الله &#8221; هل أخفي عن عبدي ابراهيم ما أنا صانع &#8220;(تك ١٨: ١٧) الله يكشف لمحبيه وقديسيه أسرار الأعمال العتيدة ان ابراهيم خليله وحبيبه لا يستطيع الله ان يخفي عنه شيئاً بل كما قال عاموس النبي &#8221; ان الرب لا يفعل امراً الا ويري عبيده الانبياء ما لابد ان يكون &#8221; يا للعجب &#8221;</p>
<p>هذه هي معاملات الله مع القديسين الذين ينكرها عليهم أهل الكبرياء اللذين يساوون انفسهم باعظم القديسين وهم يقيسون انفسهم علي انفسهم ويفترون علي مالا يعلمون وينالوا جزاء ضلالهم المحق .</p>
<p>لكن هل استجاب الله لتوسلات ابراهيم وشفاعته ؟</p>
<p>الجواب نعم بكل تأكيد ، فلم يرفض الرب سؤال ابراهيم بل لقد بلغ الأمر ان يقول ابراهيم لله في دالة عجيبة &#8221; اديان الارض كلها لا يضع عدلاً ؟&#8221; (٣٣: ٢٥)</p>
<p>بل تكلم مرة ومرتين وثلاثة ولم يرده الله بل كان مؤكداً له انه لو وجد بحسب كلام ابراهيم خمسون أو أربعون أو ثلاثون … حتي عشرة ابرار لما اهلك المدينة بطلبات ابراهيم وتوسلاته وشفاعته . ولكن للأسف لم يكن سوي لوط البار ، لذلك نفذ الأمر واحرقت سدوم وكابدت عذاباً ونهاية سيئة وجعلت عبرة للعتيدين أن يفجروا. <a href="#_ftn15" name="_ftnref15">[15]</a></p>
<h3>من وحي قراءات اليوم</h3>
<p>&#8221; أنا إله إبراهيم وإله إسحق وإله يعقوب &#8221;               إنجيل القدَّاس</p>
<p>+ ما أعظم وما أروع أن ينسب الله نفسه لأولاده كأب يفتخر بهم</p>
<p>+ لكنها آية تحكي معاملات شخصية من الله مع كل واحد مختلفة عن الآخر</p>
<p>+ أي أنه تعامل مع إبراهيم بطريقة تختلف عن طريقته مع إسحق وتختلف عن طريقته مع يعقوب</p>
<p>+ بينما نحن نعشق الأنماط الثابتة والواحدة يريد الله لنا طريقاً آخر مُمَيَّزاً وفريداً</p>
<p>+ وما أجمل أن يري الناس في المسيحي صورة إله يشتاقون إلي معرفته</p>
<p>+ ولا تستغرب من أُناس يُقَدِّمون أنفسهم للموت من أجل إله القديس أو الشهيد</p>
<p>+ قَدَّمَ الشهداء نموذجاً لإله يجتذب الكثير من غير المؤمنين</p>
<p>+ ومنهم من إجتذب الولاة أو الجلادين أو المُعَذِّبي</p>
<p>+ ومُعظم هؤلاء كان لا يعرف شيئاً عن إلههم لكن إجتذبهم إليه محبة الشهداء للمسيح</p>
<p>+ تُري ما هو شكل الإله الذي أعلنه أنا أو أنت للآخرين ؟!</p>
<hr />
<p><a href="#_ftnref1" name="_ftn1"></a>٣٠- القديس أغسطينوس - تفسير رومية ٩ - القمص تادرس يعقوب ملطي</p>
<p><a href="#_ftnref2" name="_ftn2"></a>٣١- المرجع : كتاب عظات علي سفر التكوين ( صفحة ١٦٨ ) - ترجمة أ. مريم أشرف سيدهم ، أ. مريم رشاد حليم ، د. جينا بسطا</p>
<p><a href="#_ftnref3" name="_ftn3"></a>٣٢- المرجع : تفسير سفر إرميا ( إصحاح ١١ ) - القمص تادرس يعقوب ملطي</p>
<p><a href="#_ftnref4" name="_ftn4"></a>٣٣- المرجع : كتاب الحقيقة والظلال للقديس يوحنا ذهبي الفم ( صفحة ٢٦ ، ٣٧ ) - ترجمة دكتور سعيد حكيم يعقوب</p>
<p><a href="#_ftnref5" name="_ftn5"></a>٣٤- المرجع : تفسير إنجيل مرقس ( الإصحاح الثاني عشر ) - القمص تادرس يعقوب ملطي</p>
<p><a href="#_ftnref6" name="_ftn6"></a>٣٥- المرجع: كتاب الكرازة الرسولية للقديس إيرينيوس (صفحة ١٨٠ ) - ترجمة دكتور نصحي عبد الشهيد ودكتور جورج عوض إبراهيم</p>
<p><a href="#_ftnref7" name="_ftn7"></a>٣٦- المرجع : تفسير سفر التكوين ( إصحاح ١٥ ) - القمص تادرس يعقوب ملطي</p>
<p><a href="#_ftnref8" name="_ftn8"></a>٣٧- المرجع : كتاب المسيح مجد الشهداء ( صفحة ٢٨ ) - ترجمة الباحث ريمون يوسف رزق</p>
<p><a href="#_ftnref9" name="_ftn9"></a>٣٨- المرجع : تفسير سفر التكوين ( إصحاح ٤٦ ) - القمص تادرس يعقوب ملطي</p>
<p><a href="#_ftnref10" name="_ftn10"></a>٣٩- المرجع : كتاب نقاوة القلب في المفهوم الكتابي والآبائي ( الجزء الثاني صفحات ٨١٠ - ٨١٣ ) - إعداد احد الآباء الرهبان بدير السيدة العذراء &#8221; برموس &#8221;</p>
<p><a href="#_ftnref11" name="_ftn11"></a>٤٠- المرجع : كتاب المنجلية القبطية الأرثوذكسية - قداسة البابا تواضروس الثاني</p>
<p><a href="#_ftnref12" name="_ftn12"></a>٤١- المرجع : كتاب إختبرني يا الله - قداسة البابا تواضروس الثاني</p>
<p><a href="#_ftnref13" name="_ftn13"></a>٤٢- المرجع : كتاب شفتاك يا عروس تقطران شهداً ( الجزء الثاني صفحة ٢٣٢ ) - إصدار دير الأنبا شنوده العامر بإيبارشية ميلانو</p>
<p><a href="#_ftnref14" name="_ftn14"></a>٤٣- المرجع : كتاب مفاهيم إنجيلية ( صفحة ١١٢ ) - الأنبا إبيفانيوس أسقف ورئيس دير القديس أنبا مقار</p>
<p><a href="#_ftnref15" name="_ftn15"></a>٤٤- المرجع : كتاب محفل الملائكة وسحابة الشهود ( صفحة ٢٢ ) - القمص لوقا سيداروس - كنيسة مار جرجس بإسبورتنج</p>

      {% endcreateArticleAccordions %}
    </section>
  {% endblock %}
