---
layout: 'layouts/reading.html'
title: 'اليوم السادس والعشرون من شهر مسري'
permalink: annual/12-26.html
---
  {% block content %}
    <section id="readings">
      <ul>
      {% if '19.31:23,19' != 'null' %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">العشية</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeVespers '19.31:23,19' '40.10:24-33' %}
          </div>
        </div>
      </li>
      {% endif %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">باكر</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeMatins '19.145:10,11,19,20' '43.12:20-26' '' %}
          </div>
        </div>
      </li>
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <h3 class="flex items-center justify-between">
            <span class="kufi">القداس</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </h3>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeLitugy '45.8:14-27' '60.2:11-17' '44.19:11-20' '19.149:5,9' '42.21:12-19' %}
          </div>
        </div>
      </li>
        </ul>
    </section>
    <section id="article">
      <h3 class="mt-8 mb-4 heading-explain">شرح القراءات</h3>
      {% createArticleAccordions firstName, lastName %}
        <p><strong>(تذكار شهادة القديس موسي وسارة أخته )</strong></p>
<p>كل واحد يساعد صاحبه ويقول لأخيه: تشدد &#8221; (أش ٤١: ٦)</p>
<p>&#8221; وسلما لنا المواعيد.  المكتوبة في الانجيل .  التي هي المحبة الأخوية .  كمال جميع الفضائل &#8221;</p>
<p>ذكصولوجية القديسان مكسيموس ودوماديوس</p>
<p>&#8221; الاضطهادات والأحزان والشدة يلزم ألا تجعلنا مضطربين، فإننا بها نتشبه بموته. وكأنه يقول إننا نتشكل بشبهه. وكما يقول في موضع آخر: &#8220;حاملين في الجسد كل حين إماتة الرب يسوع&#8221; (٢كو ٤ : ١٠). هذا يأتي من الإيمان العظيم. فإننا لسنا نؤمن فقط أنه قام، وإنما حتى بعد قيامته له سلطان عظيم، فنرحل في ذات الطريق الذي سافر فيه، أي نصير إخوته في هذا الأمر أيضًا. كأنه قال: صرنا مسحاء في هذا الأمر! يا لعظمة كرامة الآلام! إننا نؤمن أننا نصير في شبه موته خلال الآلام<a href="#_ftn1" name="_ftnref1">[1]</a>! &#8221;</p>
<h3>شواهد القراءات</h3>
<p>(مز ٣٠ : ٢٦ ، ١٩) ، (مت ١٠ : ٢٤ &#8211; ٣٣) ، (مز ١٤٤ : ٨ ، ٤ ، ٩ ، ١٤ ، ١٥) ، (يو ١٢ : ٢٠ &#8211; ٢٦) ، (رو ٨ : ١٤- ٢٧) ، (١بط ٢ : ١١ &#8211; ١٧) ، (أع ١٩ : ١١ &#8211; ٢٠) ، (مز ١٤٩ : ٥ ، ٨) ، (لو ٢١ : ١٢ &#8211; ١٩)</p>
<h3>ملاحظات علي قراءات يوم ٢٦ مسري</h3>
<p>+ مزمور عشيَّة اليوم (مز ٣٠: ٢٦ ، ١٩) جاء أيضاً في مزمور قدَّاس الأحد الأوَّل من شهر توت ، ومزمور باكر في الأحد الأوَّل من شهر أبيب ، وجاءت آية ١٩ أيضاً في مزمور باكر الأحد الأوَّل من شهر توت</p>
<p>وهو المزمور الذي يتكلَّم عن محبَّة القديسين للرب ، مثل القديس موسي وسارة أخته ( ٢٦ مسري ) ، والقديس يوحنا المعمدان ( الأحد الأوَّل من شهر توت ) ، والآباء الرسل ( الأحد الأوَّل من شهر أبيب )</p>
<p>+ إنجيل عشيّة اليوم (مت ١٠: ٢٤ &#8211; ٣٣) هو إنجيل عشيّة يوم ٢٢ هاتور (شهادة القديس قزمان وإخوته ووالدتهم ) ، إنجيل عشيّة يوم ١ طوبه ( شهادة القديس إستفانوس )</p>
<p>وهي القراءة التي تتكلم عن تلاميذ المسيح، والذين يشهدون له وسط آلامهم وأوجاعهم</p>
<p>+ قراءة إنجيل باكر اليوم (يو ١٢: ٢٠ &#8211; ٢٦) هي نفس قراءة إنجيل باكر يوم ١ طوبه ( شهادة القديس إستفانوس ) ، وهي القراءة التي تكلمت عن بذل الشهداء لحياتهم لأجل المسيح مثل إلههم ( حبّة الحنطة ) ، وهو الذي عندما مات بالصليب أتي بثمر كثير في أولاده الشهداء والقديسين كما قال القديس أثناسيوس الرسولي ( كتاب تجسَّد الكلمة ترجمة دكتور جوزيف موريس &#8211; فصل ٤٨ )</p>
<p>+ قراءة البولس اليوم (رو ٨: ١٤ &#8211; ٢٧) جاءت أيضاً في يوم ٢٢ هاتور</p>
<p>وهي القراءة التي تتكلّم عن الأبناء والأولاد والورثة لذلك جاءت في تذكار قزمان وإخوته ( ٢٢ هاتور ) وموسي وسارة أخته ( ٢٦ مسري )</p>
<p>+ قراءة الكاثوليكون اليوم (١بط ٢ : ١١ &#8211; ١٧) تكررت في قراءات ٢٢ هاتور ، ٣٠ بؤونه ، وتُشبه قراءة  الكاثوليكون في أول أيام عيد الصليب (١بط ٢ : ١١ &#8211; ٢٥)</p>
<p>والجزء الذي لم يأت في القراءات الثلاثة (١بط ٢ : ١٧ &#8211; ٢٥) هو جزء خاص بالصليب لذلك جاء فقط في عيد الصليب &#8221; الذي رفع خطايانا علي الخشبة بجسده &#8230; والذي شُفيتم بجراحاته &#8221;</p>
<p>أمَّا الجزء الخاص بالقراءات الثلاثة فهو الذي يتكلم عن السيرة المُقدَّسة وقبول الألم من أجل الله ، والشهادة للمسيح ، لذلك جاء في قراءات قبول الألم من أجل الشهادة للمسيح والشهادة للحق في ٢٢ هاتور ( شهادة القديسين قزمان وإخوته وأمهم ) ، ٣٠ بؤونه ( وجود عظام يوحنا المعمدان ) ، ٢٦ مسري ( شهادة القديس موسي وسارة أخته )</p>
<p>+ قراءة الإبركسيس اليوم (أع ١٩ : ١١ &#8211; ٢٠) هي نفس قراءة الإبركسيس ليوم ٢٧ بابه ( تذكار أنبا مقار الأسقف ) ، ويوم ٢٢ هاتور ( تذكار القديسين قزمان وإخوته ووالدتهم ) ، وتُشبه قراءة الإبركسيس (أع ١٩ : ١١ &#8211; ١٧) ليوم ٢١ توت ( تذكار كبريانوس الأسقف ) ، وتُشبه أيضاً قراءة الإبركسيس (أع ١٩ : ١١ &#8211; ٢٢) للأحد الرابع من شهر أبيب</p>
<p>وتأتي هذه القراءة في يوم ٢٧ بابه لكثرة العجائب التي فعلها الله في حياة أنبا مقار الأسقف ( كما هو موجود بسيرته ) ، ورُبما سبب مجئ القراءة أيام ٢٢ هاتور ، ٢٦ مسري للمُقارنة بين الأسرة الشريرة ( سكاوا وأولاده في قراءة الإبركسيس ) والأُسر المُقدَّسة ( قزمان وإخوته ووالدتهم في يوم ٢٢ هاتور ، وموسي وسارة أخته في يوم ٢٦ مسري )</p>
<p>أما مجيئها في يوم ٢١ توت لأجل كبريانوس الذي كان ساحراً وترك السحر وتخلَّص من كل كتب السحر وهذا هو أيضاً موضوع القراءة في الإبركسيس</p>
<p>ورُبَّما كان من الأفضل تكملة القراءة حتي آية ٢٠ مثل القراءات الثلاثة الأخري لأن الآيات الثلاثة حتي آية ٢٠ تتكلَّم عن الذين كانوا يستعملون كتب السحر وبعد إيمانهم أحرقوها ( مثل كبريانوس صاحب تذكار اليوم )</p>
<p>بينما مجيئها في الأحد الرابع من أبيب للإشارة إلي &#8220;وكان اسم الرب يسوع يتعظم &#8221; كما في إقامة لعازر موضوع قراءة إنجيل ذاك الأحد</p>
<p>+ قراءة إنجيل القداس في هذا اليوم (لو ٢١ : ١٢-١٩) هي نفس قراءة إنجيل القداس ليوم ٢٢ هاتور ( شهادة القديسين قزمان وإخوته ووالدتهم ) ، ونفس قراءة إنجيل قدَّاس يوم ٢٣ برمودة ( شهادة مارجرجس )</p>
<p>وهي القراءة التي تكلمت عن الآلام والإضطهادات من أجل الإيمان ، والوقوف أمام الولاة والملوك ، ومساندة الله لهم ، وصبرهم إلي المُنتهي .</p>
<p>وتُشبه أيضاً قراءة إنجيل عشيَّة (لو ٢١ : ١٢ &#8211; ٣٣) للأحد الذي يوافق النسئ ، وهي هنا تتكلَّم عن علامات مجئ الرب</p>
<h3>شرح القراءات</h3>
<p>اليوم هو تذكار شهادة القديس موسي وسارة أخته وأيضا القديس أغابيوس وتكلا أخته</p>
<p>وتدور قراءات اليوم علي مجد الشهداء في المسيح الذين قبلوا الآلام من أجل إسمه القدّوس</p>
<p></p>
<p>تبدأ المزامير بكثرة صلاح الله لقديسيه وخائفيه ( مزمور عشيّة ) وعجائبه وقوّته ورعايته لهم ( مزمور باكر ) ومجده لهم وفيهم ( مزمور القدَّاس )</p>
<p></p>
<p>يتكلَّم مزمور عشيّة عن طبيعة قديسي الله الذين يبتغون الحق ويحبونه ويعيشون في مخافته</p>
<p>( أحبوا الرب يا جميع قديسيه لان الرب ابتغي الحقائق ما أعظم كثرة صلاحك يارب الذي اذخرته للذين يخافونك )</p>
<p>وفِي مزمور باكر شهادتهم لعجائبه وقوّته وإستجابته طلبات خائفيه ورعايته لهم</p>
<p>( قديسوك يباركونك وبعجائبك يحدِّثون وبقوتك ينطقون ويصنع مشيئة خائفيه يحفظ الرب جميع محبيه )</p>
<p>وفِي مزمور القدَّاس عن مجده الإلهي فيهم وفخرهم بالرب وتسبيحهم الدائم</p>
<p>( تفتخر الأبرار بالمجد ويبتهجون علي مضاجعهم ليصنعوا بهم حكما مكتوبا هذا المجد كائن في جميع قديسيه )</p>
<p></p>
<p>وتتكلّم القراءات عن إستعلان مجد الله في آلامهم ( البولس ) وفِي مُضايقيهم ( الكاثوليكون ) وفِي ضعف الشيطان والسحر أمام قوة الله التي فيهم ( الإبركسيس )</p>
<p></p>
<p>يشرح البولس كيف يُسْتَعلن مجد الله لأولاده في آلامهم وكيف لا تُقارِن آلام الأرض بالمجد السماوي ومعونة وشفاعة الروح القدس فيهم</p>
<p>( فإن كنا أولاداً فنحن ورثة أيضاً وورثة الله وشركاء المسيح في الميراث إن كنا نتألم معه لكي نتمجد أيضاً معه لأنّي أظن أن آلام هذا الزمان الحاضر لا تقاس بالمجد العتيد أن يُسْتَعلن فينا .. لأن الخليقة نفسها أيضاً ستُعتق من عبودية الفساد إلي حرية مجد أولاد الله .. وكذلك الروح أيضاً يعين ضعفاتنا .. ولكن الذي يفحص القلوب يعلم ما هو اهتمام الروح لأنه بحسب مشيئة الله يشفع في القديسين )</p>
<p>وفِي الكاثوليكون مجده المُسْتَعلن في إفتقاد وتوبة المضايقين والمعاندين والمُضطهدِين</p>
<p>( أيها الأحباء أطلب إليكم كغرباء ونُزلاء أن تبتعدوا عن الشهوات الجسدية التي تقاتل النفس وأن يكون تصرفكم حسناً بين الأمم لكي يكونوا فيما يتكلمون به عليكم كفاعلي شرٍّ إذ يرون أعمالكم الصالحة يُمجدون الله في يوم الإفتقاد )</p>
<p>وفِي الإبركسيس مجد وقوّة إسم المسيح في قديسيه الذين يشهدون له أمام قوي السحر والشر</p>
<p>كما نري هنا المقارنة أيضاً بين أولاد الله في البولس وأولاد العالم والشر والشيطان في الإبركسيس والذين نراهم في السبعة بنين أولاد سكاوا ( وكان الله يصنع علي يديّ بولس قوات كثيرة حتي أنهم كانوا يأخذون عمائم وخِرقا من علي جسده ويضعونها علي المرضي فتزول عنهم الأمراض وتخرج الأرواح الشريرة … وكان سبعة بنين لواحدٍ يُدعي سكاوا يهودي رئيس كهنة يفعلون هذا &#8230; وصار هذا ظاهراً لجميع اليهود واليونانيين الساكنين في أفسس فوقع خوف علي جميعهم وكان إسم الرب يسوع يتعظَّم … وكان كثيرون من الذين يستعملون السحر يقدمون كتبهم ويحرقونها أمام الجميع وحسبوا أثمانها فوجدوها تُقدَّر بخمس ربوات من الفضة هكذا كانت كلمة الرب تنمو وتقوي بشدّة )</p>
<p></p>
<p>وتتكلّم الأناجيل عن مجد التشبُّه بالسيد الرب ( إنجيل عشيّة ) ومجد الموت معه ( إنجيل باكر ) ومجد الشهادة له ( إنجيل القدَّاس )</p>
<p></p>
<p>يُعْلِن انجيل عشيّة مجد التلميذ الذي يتشبّه بمعلمه ومجد الإعتراف له فيستحق الكرامة والمجد والمكافأة أمام الآب السماوي</p>
<p>( ليس التلميذ أفضل من معلمه ولا العبد أفضل من سيده يكفي التلميذ أن يصير كمعلمه والعبد مثل سيده … فكل من يعترف بي قدام الناس أعترف انا أيضاً به قدام أبي الذي في السموات ) )</p>
<p>ويُعْلِن إنجيل باكر مجد الصليب الذي جاء بثمر كثير ومجد الموت معه مثل حبة الحنطة ومجد تكريم الآب لخدّامه</p>
<p>( وأما يسوع فأجاب وقال لهما قد أتت الساعة ليتمجد إبن الإنسان الحق الحق أقول لكم إن لم تقع حبة الحنطة في الأرض وتمت فهي تبقي وحدها ولكن إذا ماتت تأتي بثمر كثير … وحيث أكون أنا هناك أيضاً يكون خادمي معي من يخدمني يُكرمه أبي )</p>
<p>وفِي إنجيل القدَّاس مجد الشهادة للمسيح ومجد الحكمة السماوية التي لا يقدر علي الوقوف أمامها جميع المعاندين والمقاومين</p>
<p>( وقبل هذا كله يُلقون أيديهم عليكم يطردونكم ويسلمونكم إلي مجامع وتُحبسون وتُقدمون أمام ملوك وولاة لاجل إسمي فيكون لكم ذلك شهادة فضعوا إذاً في قلوبكم أن لا تهتموا من قبل بما تحتجون به لأني أنا أعطيكم فماً وحكمةً التي لا يقدر جميع معانديكم أن يقاوموها أو يناقضوها )</p>
<h3>ملخّص القراءات</h3>
<p>مجد الله لخائفيه في كثرة صلاحه لهم وعنايته بهم وهو لهم فخرهم ومجدهم       مزمور عشيّة وباكر والقدّاس</p>
<p>ومجده مرافق لآلامهم وشاهد علي نقاوة حياتهم ويدعم كرازتهم             البولس والكاثوليكون والإبركسيس</p>
<p>وما أعظم أن يكون لنا مجد التشبُّه به والموت الإرادي معه والموت النهائي لأجله  إنجيل عشيّة وباكر والقدّاس</p>
<h3>أفكار مقترحة للعظات</h3>
<h4>(١) مجد الشهداء</h4>
<p>١- برّ الله لهم</p>
<p>&#8221; ما أعظم كثرة صلاحك يارب &#8230; ويصنع مشيئة خائفيه .. تفتخر الأبرار بالمجد &#8221;    مزمور عشيَّة وباكر والقدّاس</p>
<p>٢- إعترافه بهم</p>
<p>&#8221; فكلُّ من يعترف بي قدّام الناس أعترف أنا أيضاً به قدّام أبي الذي في السموات &#8221;   إنجيل عشيّة</p>
<p>٣- إستجابته لهم ورعايتهم وحمايتهم</p>
<p>&#8221; ويصنع مشيئة خائفيه يحفظ الرب جميع مُحبيه &#8221;                    مزمور عشيّة</p>
<p>٤- مكانهم ومكانتهم الدائمة مع الآب</p>
<p>&#8221; وحيث أكون أنا هناك أيضاً يكون خادمي معي من يخدمني يُكرمه أبي &#8221;   إنجيل باكر</p>
<p>٥- مجد شركة الألم ومجد التبني</p>
<p>&#8221; إن كُنَّا نتألم معه لكي نتمجد أيضاً معه &#8230; إلي حرية مجد أولاد الله &#8221;       البولس</p>
<p>٦- شهادة حياتهم تؤول إلي مجد الله في المُضادين</p>
<p>&#8221; لكي يكونوا فيما يتكلمون به عليكم كفاعلي شرِّ إذ يرون أعمالكم الصالحة يمجدون الله في يوم الإفتقاد &#8221;                                                   الكاثوليكون</p>
<p>٧- مجد الله المعلن في كرازتهم</p>
<p>&#8221; وكان إسم الرب يسوع يتعظم وكان كثيرون من الذين آمنوا يأتون معترفين مُخبرين بأفعالهم &#8221;   الإبركسيس</p>
<p>٨- مجد الله هو غايتهم وحياتهم وفخرهم</p>
<p>&#8221; تفتخر الأبرار بالمجد ويبتهجون علي مضاجعهم ليصنعوا بهم حُكماً مكتوباً هذا المجد كائن في جميع قديسيه &#8221;                                       مزمور القدَّاس</p>
<h4>(٢) نريد أن نري يسوع</h4>
<p>١- نراه من خلال الحب والمخافة</p>
<p>&#8221; أحبوا الرب يا جميع قديسيه لأن الرب ابتغي الحقائق ما أعظم كثرة صلاحك يارب الذي اذخرته للذين يخافونك &#8221;                                           مزمور عشيّة</p>
<p>٢- نراه من خلال الموت الدائم عن العالم</p>
<p>&#8221; نريد أن نري يسوع &#8230;. الحق الحق أقول لكم إن لم تقع حبة الحنطة في الأرض وتَمُتْ فهي تبقي وحدها &#8221;                                        إنجيل باكر</p>
<p>٣- عندما نعبده بروح ودالة البنين ويسند ضعفنا روح الله</p>
<p>&#8221; لأن كل الذين ينقادون بروح الله فأولئك هم أولاد الله &#8230; بل أخذتم روح التبنِّي الذي به نصرخُ يا أبا الآب &#8230;. وكذلك الروح أيضاً يُعين ضعفاتنا &#8230; ولكن الروح نفسه يشفع فينا بتنهداتٍ لا يُنْطَق بها &#8221;              البولس</p>
<p>٤- يري الناس في حياتنا صورته</p>
<p>&#8221; إذ يرون أعمالكم الصالحة يُمجدون الله في يوم الإفتقاد &#8221;       الكاثوليكون</p>
<h4>(٣) أعطيكم فماً وحكمة</h4>
<p>يُمْكِن الرجوع لهذة العظة في قراءات يوم ٢٣ برمودة</p>
<h3>عظات آبائية</h3>
<p>يُمْكِن الرجوع لعظات يوم ٢٢ هاتور، ويوم ٢٣ برمودة</p>
<h4>عظة على الثبات وقت الإستشهاد للعلامة أوريجانوس</h4>
<p>هناك جمع غفير يلتئم شمله لكي يشاهدكم ويتأمل بطولتكم عندما يأتيكم للاستشهاد فتناضلوة ببساله وتثبتون راسخين &#8230;..وكأني بالآلاف تتوافد لكي تشاهد معركة ضارية بين خصوم ذائعي الصيت &#8230; عندما تبدأ المعركة   يمكنكم أن تقولوا مع بولس الرسول : صرنا منظرا للعالم للملائكة والناس .(١كو ٤ : ٩) اذا  &#8211; فالعالم كله ، والملائكه جميعا عن اليمين وعن اليسار ، والناس جميعا ، وكل الذين في صفوف الله (تث ٣٢ : ٩ و كو ١: ١٢) وغيرهم &#8230; سوف ينصتون اليكم وأنتم تجاهدون معركة الايمان بالمسيح ، فاما أن يسر الملائكة في السماء ويفرحون لكم ، حتي الأنهار تصفق بأيديها ،  الجبال تترنم معا وكل أشجار السهل تصفق بفروعها ( يدمج أوريجانوس بين مز ٩٨ : ٨ ، أش ٥٥ : ١٢) . واما – لا قدر الله – أن تشمت قوات العالم السفلي وتفرح بجريمتنا .</p>
<p>اننا لانعدو الصواب ، اذا قرأنا ما يقوله أشعياء النبي لسكان الجحيم ، الذين سقطوا في تجربة الاستشهاد ، وفاتتهم فرصة المجازاة السمائية &#8230; ان المرتد المسكين يرتعد بالأكثر من بشاعة الانكار ، لأن ما يقال لمن ينكر الايمان – فيما أعتقد – هو شيء من هذا القبيل : الهاوية من أسفل مهتزة لإستقبال قدومك. أقامت كل ملوك الأرض عن كراسيهم .</p>
<p>كلهم يجيبون ويقولون لك &#8230; (أش ١٤ : ٩ و ١٠) وكيف يلاقيهم هناك الخطاة المغلوبون؟ وماذا يقولون للساقطين في قبضة الشيطان بجحودهم وانكارهم ؟ لعلهم يسخرون منهم : أأنت أيضا قد قد ضعفت نظيرنا ، وصرت واحدا منا (أش ١٤ : ١)</p>
<p>واذا كان المؤمن الذي جعل رجاءه العظيم والمجيد في الله يسمح لنفسه أن يسقط وأن يغلبه الخوف من معاناة الألم الذي يتهدده في ساعة القضاء ، فهل يسمع الا ذلك الإنذار الداوي : فخرك ، يقينك العظيم فليهبطا الي الهاويه. تحتك تفرش الرمة وغطاؤك الدود (أش ١٤ : ١١) .</p>
<p>وقد يضئ المؤمن في الكنيسة كالكوكب اللامع ، كوكب الصباح في مجد اعماله الصالحة (أش ١٤ : ١٢ ومت ٥ : ١٦)</p>
<p>هذا القول  بصفة خاصة عندما نساق الي الموت ونقول أمام الله ما لا يمكن أن يقوله سوي الشهداء القديسون وحدهم : لأننا من أجلك نمات اليوم كله . قد حسبنا مثل غنم للذبح (مز ٤٤ : ٢٢ و رو ٨ : ٣٦) واذا راودتنا حكمة جسدية (رو ٨ : ٢٦) لكي نرهب القضاة الذين يتهدوننا بالسيف ، فما علينا الا أن نرد السهم الي نحورهم ونسترد قوانا وايماننا بكلمات الامثال : يا بني اتق الرب ولتكن قويا . لا تخف انسانا بعيدا عن الله (أم ٧ : ١) ٠</p>
<p>المرجع : كتاب رسالة إلي الشهداء ( صفحة ٤٦ ) &#8211; العلامة أوريجانوس &#8211; ترجمة الأستاذ موسي وهبة &#8211; كنيسة مار جرجس خمارويه</p>
<h4>اذا لنسلح أنفسنا هكذا و سنستطيع أن ننتصر علي الأعداء و نرتدي تاج النصرة للقديس يوحنا ذهبي الفم</h4>
<p>حياة المسيحي يجب أن تكون مخضبة بالدماء ، بالطبع ليس أن يريق دماء الاخرين ، بل أن يراق دمه هو . إذا لنريق دماءنا ، ، عندما يكون هذا لأجل المسيح ، بنفس القدر من الرغبة الطبيعية التي بها يمكن للمرء أن يصب ماء  ( لآنه في الحقيقة الدم هو ماء ينساب في الجسم) ، و لننسلخ عن جسدنا بنفس السهولة ، التي نخلع بها ملابسنا ، و هذا سيحدث إن لم نكن مقيدين بالمال و بالبيوت و إن لم نكن منجذبين للأمور الحاضرة بكل هذه الشهوة. أي أنه إن كان الجنود يتبراؤن من كل شيء بطيب خاطر ، و بالاكثر جدآ يجب نستعد نحن جنود المسيح هكذا ، و نصطف من أجل محاربة الشهوات و مقاومتها . لا يوجد الان اضهاد ، و يا ليت لا يحدث أبدآ و لكن هناك حرب أخري ، حرب شهوة المال حرب شهوة الجسد ، حرب الشهوات عمومآ.</p>
<p>هذه الحرب يصفها ق. بولس قائلآ: &#8221; إن مصارعاتنا ليست مع دم و لحم&#8221; . هذه الحرب الموجودة علي الدوام . من أجل هذا يجب أن نثبت دومآ متسلحين          &#8221; فأثبتوا ممنطقين أحقائكم &#8221; الامر الذي يعني ان هذا ايضآ يتعلق بالحياة الحاضرة ، و قد أظهر أنه يجب علينا ان نكون مسلحين علي الدوام لآن الحرب التي تدار باللسان  حرب كبيرة ، و كبيرة أيضا هي الحرب التي تنشب يالاعين ، لنمنع هذه الحرب إذا. شرسة هي حرب الرغبات و انطلاقآ من هذا يجب ان يتسلح جندي المسيح &#8221; فأثبتوا اذا  ممنطقين احقائكم &#8221; و أضاف &#8220;بالحق&#8221; لماذا يقول &#8221; بالحق&#8221; ؟ لان الشهوة هي هزؤ و كذب كما قال داود النبي في موضع &#8221; لأن خاصرتي قد امتلأت &#8221; هذا ألامر ليس لذة أو شهوة بل هو ظلال شهوة . و لهذا يقول &#8220;ممنطقين احقائكم بالحق&#8221; أي بالشهوة الحقيقة ، بتعقل و بلياقة . لآنه يعرف لا معقولية الخطية و أراد أن تكون كل أعضائنا مصانة . لأنه يقول : &#8221; غضب الاثيم لا يمكن ان يبرر&#8221; يريد أيضآ ان نرتدي درعآ و ترسآ . لأن الغضب وحش يندفع بسهولة و لكي ننتصر عليه و نضبطه ، نحتاج لسياج و حواجز و لهذا السبب تحديدآ، هذا الجزء أي الاحقاء ، قد خلقه الله لنا من العظام كما لو كانت مخلوقة من صخر ما ، واضعآ هذه العظام حولها كدعائم حتي  لايتحطم الانسان كله بسهولة إذا ما كسرت مرة أو قطعت، لأنه اذا حدث هذا سيسبب ألمآ لا يحتمل و أي عضو آخر لن يمكنه أن هذا العنف ليس هذا فقط ، بل أن الأطباء يقولون أنه لهذا السبب وضعت الرئتين تحت القلب ، حتي أن القلب يوجد فوق شيء لين و يترضض كما لو كان علي اسفنج و يستريح و لا يتحطم بقفزاته المستمرة علي  عظم قاس ،يترضض فوقه إذا نحن نحتاج لدرع قوي حتي يظل هذا الوحش هادئ علي الدوام لكننا نحتاج أيضا الي خوذة.</p>
<p>لأن الامر هنا مرتبط بالفكر و علي هذا الفكر يعتمد كل شيء فإما أن نخلص أن فعلنا ما ينبغي فعله و إما أن نهلك اذا فعلنا عكس ذلكو لهذا يقول &#8221; وخذوا خوذة الخلاص&#8221; لان المخ بطبيعته لين  و لهذا يغطي من الجزء الاعلي كما من قشرة ما من خوذة عظيمة و هذا المخ هو المسئول عن كل ما هو حسن و شرير سواء عرف الصواب أو عرف العكس ( الأمور المخالفة ) بل و أيدينا و أرجلنا تحتاج الي أسلحة ليست بالطبع الايدي و الارجل الجسديه بل ايضآ تلك التي للنفس ، الايدي لتفعل تلك الأمور التي ينبغي فعلها ، و الارجل لكي تذهب الي حيث يجب ان تذهب .</p>
<p>اذا لنسلح أنفسنا هكذا و سنستطيع أن ننتصر علي الأعداء و نرتدي تاج النصرة بمشيئة ربنا يسوع المسيح الذي يليق به مع الاب و الروح القدس المجد و القوة و الكرامة الان و كل أوان الي دهر الدهور أمين<a href="#_ftn2" name="_ftnref2">[2]</a>.</p>
<h3>عظات آباء وخدام معاصرين</h3>
<p>يُمْكِن الرجوع لعظات يوم ٢٢ هاتور ، ويوم ٢٣ برمودة</p>
<h3>من وحي قراءات اليوم</h3>
<p>&#8221; وحيث أكون أنا هناك أيضاً يكون خادمي &#8221;  إنجيل باكر</p>
<p></p>
<p>(نقاوة الخدمة )</p>
<p></p>
<p>+ هي التي ياخذ فيها الخادم ( الكاهن ) قوه خدمته من الله راساً ، لذلك نحتاج كخدام دائما لمراجعه انفسنا امام الله</p>
<p>+ ما أصعب أن يكون لي ضمير بلا عثره ، لذلك حرصنا علي النقاوه لايمنع اننا دائما ملومون من الناس للتقصير في الخدمه</p>
<p>+ رأي الناس ليس دائما خطأ ولكن التقييم علي اساسه خطر ، لكن هذا لا يمنع أننا نحتاج من وقت لاخر لمعرفه راي الناس فيما نفعله</p>
<p>+ ليس اعجاب الناس او كثره انتقادهم مؤشر نجاح او فشل الخادم ، بل شهاده روح الله الذي فيه</p>
<p>+ قوه الخدمه لاتاتي من قوه وسلطان مانملكه ، بل من نقاوه واخلاص مانقدمه ونعطيه</p>
<p>+ قوه الخدمه تاتي من فيض وغني الحب الالهي في الانسان الداخلي ، لذلك يُعطي الله قوته لمن يدركون ضعفهم ويسكب غناه علي المساكين بالروح</p>
<p>+ الكاهن هو من يجاهد ليختفي تماما ويعلن بر ومجد الثالوث للناس في ليتورجيات الكنيسه</p>
<p>+ وما أسعده ، الكاهن الذي يخدم شعب تقي يسندوه بصلواتهم وقت ضعفه ، فقد تشجع العملاق بولس من مسيحي روما عندما راهم (أع ٢٨ : ١٥) ، وانقذ القديس بطرس جمع غفير من الهلاك بكرازته (أع ٢ : ٤١) ، وهم انقذوه من السجن والموت بصلواتهم (أع ١٢ : ٥)</p>
<p>+ يرسل الله للراعي التعزيه والسلام من نفوس بسيطه ، ليعلم ويتاكد انهم يخدمونه بقدر مايخدمهم وربما اكثر</p>
<p>+ مااجمل ماقيل عن صموئيل انه كان يتزايد نموا وصلاحا لدي الرب والناس ايضاً (١صم ٢ : ٢٦)</p>
<hr />
<p><a href="#_ftnref1" name="_ftn1"></a>٢٨- القديس يوحنا الذهبي الفم – تفسير فيلبي ٣ &#8211; القمص تادرس يعقوب ملطي</p>
<p><a href="#_ftnref2" name="_ftn2"></a>٢٩- المرجع : كتاب تفسير رسالة بولس الرسول إلي العبرانيين للقديس يوحنا ذهبي الفم صفحة ١٠٧ &#8211; ترجمة دكتور سعيد حكيم يعقوب</p>

      {% endcreateArticleAccordions %}
    </section>
  {% endblock %}
  