---
layout: 'layouts/reading.html'
title: 'اليوم التاسع والعشرون من مسري'
permalink: annual/12-29.html
---
  {% block content %}
    <section id="readings">
      <ul>
      {% if 'undefined' != 'undefined' %}
      
      {% else %}
      {% if '19.132:9,10,17,18' != 'null' %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">العشية</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeVespers '19.132:9,10,17,18' '40.15:1-11' %}
          </div>
        </div>
      </li>
      {% endif %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">باكر</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeMatins '19.110:4,5,7' '40.15:12-20' '' %}
          </div>
        </div>
      </li>
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <h3 class="flex items-center justify-between">
            <span class="kufi">القداس</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </h3>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeLitugy '46.10:25-32*@+46.11:1' '62.4:15-21' '44.5:34-42' '19.68:35,19' '43.8:21-27' %}
          </div>
        </div>
      </li>

      {% endif %}
        </ul>
    </section>
    <section id="article">
      <h3 class="mt-8 mb-4 heading-explain">شرح القراءات</h3>
      {% createArticleAccordions %}
        <p><strong>(شهادة أثناسيوس الأسقف )</strong></p>
<p>قدسه بايمانه ووداعته واصطفاه من بين جميع البشر…</p>
<p>اصطفاه من بين جميع الاحياء ليقرب التقدمة للرب البخور والرائحة الطيبة ذكرا وتكفيرا عن شعبه</p>
<p>يشوع بن سيراخ ٤٥: ٤-٢٠ ))</p>
<p>اذكر يا رب نفسي الضعيفة الشقية. وامنحني أن أفهم ما هو عظم قيامي أمام مذبحك المقدس. واقطع عني كل لذات الجهل والصبا. لكي لا يكون لي هذا ثقلاً في جواب يوم الدينونة المرهوبة.</p>
<p>من الصلوات السرية في القدَّاس الكيرلسي</p>
<p>القديس يوحنا الذهبي الفم &#8221; إن الرعية هي فلاحة الله (١ كو ٣: ٩)، فلا تُنْسَب لمن يزرع فيه بل لمالكه، وهي بناء الله لا تُنْسَب لمن يعمل فيه بل لصاحبه. فالرعية الناصحة هي التي لا تتعلق بالرعاة تعلقًا شخصيًا، بل في الرب كراعٍ صالح معتنٍ بكل أمورها. <a href="#_ftn1" name="_ftnref1">[1]</a></p>
<h3>شواهد القراءات</h3>
<p>(مز ١٣١ : ٧ ، ١٢ ، ١٣) ، (مت ١٥ : ١ &#8211; ١١) ، (مز ١٠٩ : ٥ ، ٦ ، ٨) ، (مت ١٥ : ١٢ -٢٠) ، (١كو ١٠: ٢٥ &#8211; ١١ : ١) ، (١يو ٤ : ١٥ &#8211; ٢١) ، (أع ٥ : ٣٤ &#8211; ٤٢) ، (مز ٦٧ : ١٩) ، (يو ٨ : ٢١ &#8211; ٢٧)</p>
<h3>ملاحظات علي قراءات يوم ٢٩ مسري</h3>
<p>+ تذكارات هذا اليوم شهادة القديسين أثناسيوس الأسقف وجراسيموس وثاؤتيطس وتذكار وصول جسد الأنبا يحنس القصير إلي برية شيهيت</p>
<p>+ قراءة الكاثوليكون اليوم (١يو ٤: ١٥ &#8211; ٢١) تُشبه قراءة الكاثوليكون (١يو ٤ : ١٥ &#8211; ٥ : ١ &#8211; ٤) ليوم ٣٠ كيهك ، والأحد الثالث من بشنس ، وقراءة الكاثوليكون (١يو ٤ : ٧ &#8211; ١٩) ليوم ٢٤ بشنس ، وتُشبه قراءة الكاثوليكون (١يو ٤ : ١١ &#8211; ٢١) للأحد الثالث من شهر طوبي</p>
<p>والكلام هنا اليوم عن الإعتراف بالمسيح وعدم الخوف (شهادة أثناسيوس الأسقف) ، وعن المولودين من الله ( ثاني يوم عيد الميلاد وتذكار القديس يوأنس قمص شيهيت ) في ٣٠ كيهك ، وعن إرسالية إبن الله لخلاص العالم والأمم ( في ٢٤ بشنس ، والأحد الثالث من طوبه )</p>
<p>أمَّا مجيئها في الأحد الثالث من بشنس للإشارة إلي الإعتراف بالمسيح والثبات في محبته كمدخل لبركات الخلاص</p>
<p>+ قراءة الإبركسيس اليوم (أع ٥: ٣٤ &#8211; ٤٢) يأتي جزء منها (أع ٥: ٣٠ &#8211; ٤٢) في قراءات الأحد الثالث من شهر هاتور</p>
<p>قراءة اليوم تتكلَّم عن الآلام الكرازية للرعاة، بينما مجئ الآيات الزائدة (٣٠ &#8211; ٣٣ ) إشارة إلي عطيَّة الروح القدس للذين يطيعون الله</p>
<h3>شرح القراءات</h3>
<p>تتكلّم قراءات اليوم عن مجد كهنوت العهد الجديد ومجد الرعاية والرعاة الأمناء الذين يُعلنون كهنوت المسيح له المجد</p>
<p></p>
<p>تبدأ المزامير بإعلان ماهو كهنوت المسيح فهو كهنوت العدل والبرّ ( مزمور عشيّة ) وكهنوت ملشيصادق ( مزمور باكر ) وكهنوت الخلاص ( مزمور القدَّاس )</p>
<p></p>
<p>في مزمور عشيّة نري الكهنوت الذي يكتسي بالعدل والحق ويفيض ببرّ المسيح علي الشعب ويُعْلِن حضوره الإلهي سراجاً ونوراً وبهاءاً</p>
<p>( كهنتك يلبسون العدل وأبرارك يبتهجون من أجل داود عبدك هيأت سراجاً لمسيحي وعليه يزهر قدسي )</p>
<p>وفِي مزمور باكر نري كهنوت العهد الجديد علي شكل وترتيب كهنوت ملكيصادق الذي يختلف عن تقدمات وذبائح العهد القديم</p>
<p>( حلف الرب ولم يندم أنك أنت هو الكاهن إلي الأبد علي طقس ملشيصادق الرب من عن يمينك لذلك يرفع رأساً )</p>
<p>وفِي مزمور القدَّاس كاهن العهد الجديد الرب يسوع المسيح إله الخلاص</p>
<p>( مبارك الرب الإله مبارك الرب يوماً فيوماً يُسهِّل لنا سبيلنا إله خلاصنا )</p>
<p></p>
<p>وفِي القراءات نري روح ورسالة كهنوت العهد الجديد فهو كهنوت يبغي خلاص الكل ( البولس ) وهو كهنوت الحب والدالة ( الكاثوليكون ) وكهنوت الكرازة بإسمه وقبول الآلام بفرح ( الإبركسيس )</p>
<p></p>
<p>في البولس يُقدِّم لنا القديس بولس نفسه مثالا للراعي والكاهن الذي يتمثّل دائماً بالمسيح ويفعل كل شئ لمجد الله ولا يطلب ما لذاته بل ماهو للآخرين لكي يخلص الجميع</p>
<p>( فإذا كنتم تأكلون أو تشربون أو تفعلون أي شئ فافعلوا كل شئ لمجد الله وكونوا بلا عثرة لليهود واليونانيين ولكنيسة الله كما أنا أيضاً أرضي الجميع في كل شئ غير طالب نفعي وحدي بل نفع الكثيرين لكي يخلصوا كونوا متشبِّهين بي كما أنا أيضاً متشبّه بالمسيح )</p>
<p>وفِي الكاثوليكون كيف يُعْلِن الكهنوت محبة الله الآب وكيف يكون له دالة عنده</p>
<p>( الله محبة ومن يثبت في المحبّة يثبت في الله والله يثبت فيه بهذا تكمَّلت المحبّة فينا أن نجد دالة في يوم الدينونة لأنه كما كان ذاك فهكذا نحن أيضاً نكون في هذا العالم لا خوف في المحبّة بل المحبّة الكاملة تطرح الخوف إلي خارج )</p>
<p>وفِي الإبركسيس عن الآباء الرسل وباكورة كهنوت العهد الجديد الذي أسّسه رب المجد ولا يمكن لأحد أن ينقضه وكيف قبل الآباء الرسل الآلام بفرح من أجل الكرازة بإسمه القدّوس</p>
<p>(   وإن كان من الله فلا يمكنكم أن تنقضوه لئلا تُوجدوا مُقاومين لله فاطاعوه ودعوا الرسل وجلدوهم وأوصوهم أن لا يتكلموا بإسم يسوع ثم أطلقوهم أما هم فذهبوا فرحين من أمام وجه المجمع لأنهم حُسبوا مستأهلين أن يُهانوا من أجل إسمه وكانوا لا يزالون كلَّ يوم في الهيكل وفِي البيوت معلمين ومبشرين بيسوع المسيح )</p>
<p></p>
<p>وفِي الأناجيل نري روح وجوهر الكهنوت في الروح وليس الحرف ( إنجيل عشيّة ) والكهنوت الذي يستمدّ غرسه وأساسه من الآب ( إنجيل باكر ) والكهنوت الآتي من فوق وتدبيره منذ البدء ( إنجيل القدَّاس )</p>
<p></p>
<p>في إنجيل عشيّة التحذير من الحرف والبعد عن روح وجوهر الوصيّة الرحمة بالآخرين لأجل منافع شخصيّة ومادّية والتأكيد علي نقاوة القلب من الداخل أهم وأعظم من الطهارة الخارجية ( فإن الله أوصي قائلاً اكرم أباك وأمك ومن يشتم أباه أو أمه فليمت موتا وأما أنتم فتقولون من قال لأبيه أو أمه قربان هو الذي تنتفع به مني فلا يكرم أباه وأمه فقد أبطلتم وصية الله بسبب تقليدكم يا مراؤون حسنا تنبأ عنكم أشعيا النبي قائلاً يُكرمني هذا الشعب بشفتيه وأما قلبه فمُبتعد عني بعيداً وباطلا يعبدونني وهم يعلمون تعاليم هي وصايا الناس ثم دعا الجمع وقال لهم اسمعوا وأفهموا ليس ما يدخل الفم يُنجِّس الإنسان بل ما يخرج من الفم هذا ينجس الإنسان )</p>
<p>وفِي إنجيل باكر الكهنوت الذي يستمدّ دائما غرسه من الآب وروح الآب وإلّا يفقد نور المسيح فيصير القادة عميان ويُضلِّوا من يقودهم ويُعْلِن روح الكهنوت في طهارة ونقاوة الداخل</p>
<p>(حينئذ تقدم إليه تلاميذه وقالوا له أنت تعلم أن الفريسيين لما سمعوا هذا القول عثروا فأجاب وقال كل غرس لم يغرسه أبي الذي في السموات يُقلع اتركوهم هم عميان قادة عميان … وأما ما يخرج من الفم فمن القلب يخرج وذلك ينجِّس الإنسان لأن من القلب تخرج أفكار شرّيرة القتل الزني … هذه هي التي تُنجِّس الإنسان وأما الأكل بأيد غير مغسولة فلا تُنجِّس الإنسان )</p>
<p>وفِي إنجيل القدَّاس عن سموّ كهنوت المسيح له المجد فكما أن المسيح له المجد أزلي بلا بداية ولاهوته يسمو عن كل ما هو أرضي هكذا كهنوته كان تدبيره منذ البدء ويسمو علي كل شئ مادّي في العالم</p>
<p>(فكان يقول لهم أنتم من أسفل أما أنا فمن فوق أنتم من هذا العالم أما أنا فلست من هذا العالم … فقال لهم يسوع أنا من البدء ما أكلمكم أيضاً به ) )</p>
<h3>ملخّص القراءات</h3>
<p>كهنوت العهد الجديد هو كهنوت الحق والعدل وهو علي طقس ملكي صادق وهو كهنوت الخلاص          مزمور عشيّة وباكر والقدّاس</p>
<p>وأيضاً كهنوت يبتغي خلاص الجميع وله دالة المحبّة مع الله ويفرح بالألم لأجله                    البولس والكاثوليكون والإبركسيس</p>
<p>وكهنوت يخدم بالروح ومغروس من الآب وتدبيره منذ البدء..إنجيل عشيّة وباكر والقدّاس</p>
<h3>أفكار مقترحة للعظات</h3>
<h4>(١) رسالة الراعي وطبيعة خدمته</h4>
<p>١- يفعل كل شئ لمجد الله لذلك يكون بلا عثرة</p>
<p>&#8221; فإذا كنتم تأكلون أو تشربون أو تفعلون أي شئ فافعلوا كل شئ لمجد الله &#8221;                       البولس</p>
<p>٢- لا يطلب ما لنفسه بل ما هو لخلاص الآخرين</p>
<p>&#8221; كما أنا أيضاً أُرضي الجميع في كل شئ غيرُ طالب نفعي وحدي بل نفع الكثيرين لكي يخلُصوا &#8221;  البولس</p>
<p>٣- قدوته رب المجد يسوع المسيح</p>
<p>&#8221; كونوا مُتشبِّهين بي كما أنا أيضاً مُتشبِّهُ بالمسيح &#8221;                                                   البولس</p>
<p>٤- ثابت في محبّته</p>
<p>&#8221; من يثبت في المحبّة يثبت في الله والله يثبت فيه بهذا تكملت المحبّة فينا &#8221;                        الكاثوليكون</p>
<p>٥- يستهين بالألم ويفرح بالألم لأجل المسيح ولأجل الكرازة</p>
<p>&#8221; أما هم فذهبوا فرحين من أمام وجه المجمع لأنهم حُسِبوا مُستأهلين أن يُهانوا من أجل إسمه &#8221;             الإبركسيس</p>
<h4>(٢) من فوق أم من تحت، ومن الله أم من العالم والناس ؟</h4>
<p>١- بين وصية الله وتقليدات البشر</p>
<p>&#8221; لماذا تتعدُّون وصية الله بسبب تقليدكم &#8230; فقد أبطلتم وصية الله بسبب تقليدكم.. هي وصايا الناس &#8221;        إنجيل عشيَّة</p>
<p>٢- بين الداخل والخارج</p>
<p>&#8221; ألا تفهمون بعد أنَّ كلَّ ما يدخل فم الإنسان يمضي إلي الجوف ويندفع إلي المخرج .. وأما الأكل بأيدٍ غير مغسولة فلا تنجِّس الإنسان &#8221;                                                                                إنجيل باكر</p>
<p>٣- بين ما هو لمجد الله وما يُعْثِر الناس</p>
<p>&#8221; ولكن إن قال لكم أحد هذا مذبوح لوثنٍ فلا تأكلوا لأجل ذاك الذي أعلمكم ومن أجل الضمير &#8230; فافعلوا كل شئ لمجد الله  وكونوا بلا عثرة لليهود واليونانيين ولكنيسة الله                                         البولس</p>
<p>٤- بين ما هو منظور وما هو غير منظور</p>
<p>&#8221; لأنَّ من لا يُحبُ أخاه الذي أبصره كيف يقدر أن يُحبَّ الله الذي لم يبصره &#8221;      الكاثوليكون</p>
<p>٥- العمل من الناس أم من الله</p>
<p>&#8221; لأنه إن كان هذا الرأي أو هذا العمل من الناس فسوف يُنتقَضُ وإن كان من الله فلا يُمْكِنكم أن تنقضوه لئلا تُوجدوا مقاومين لله &#8221;           الإبركسيس</p>
<p>٦- من أسفل أم من فوق ؟</p>
<p>&#8221; أنتم من أسفل أما أنا فمن فوق أنتم من هذا العالم أما أنا فلست من هذا العالم &#8221;  إنجيل القدَّاس</p>
<h4>(٣) القلب (تكريم &#8211; تطهير &#8211; إرضاء &#8211; محبِّة كاملة &#8211; فرح بالألم &#8211; إيمان )</h4>
<p>قلب الإنسان أي أعماقه وأحاسيسه ومشاعره وإتجاهاته وإنفعالاته</p>
<p>١- تكريم</p>
<p>فإن الله أوصي قائلاً اكرم أباك وأمك &#8221;                                                                          إنجيل عشيَّة</p>
<p>أهمّية وصية إكرام الوالدين التي هي أوَّل وصية بوعد ( ١تي ) دوام الخير والبركة كل الأيام</p>
<p>٢- تطهير</p>
<p>&#8221; لأن من القلب تخرج أفكار شريرة القتل الزني &#8230; هذه هي التي تُنجِّس الإنسان &#8221;                     إنجيل باكر</p>
<p>حرص الإنسان علي نقاوة قلبه وفكره ومشاعره من أي شبه شرّ ( إمتنعوا عن كل شبه شرّ )</p>
<p>٣- إرضاء</p>
<p>&#8221; كما أنا أيضاً أُرضي الجميع في كل شئ غيرُ طالب نفعي وحدي بل نفع الكثيرين لكي يخلُصوا &#8221;    البولس</p>
<p>مدي إرضاء المسيحي للجميع لأجل خلاصهم ومدي حرصه علي عدم إعثار أحد</p>
<p>٤- محبِّة كاملة</p>
<p>&#8221; المحبّة الكاملة تطرح الخوف إلي خارج &#8230; ولنا هذه الوصيّة منه أنَّ من يُحبُّ الله يحبُّ أخاه أيضاً &#8221; الكاثوليكون المحبّة لا تتجزأ ولا تنقسم فمن يمتلئ قلبه بمحبة الله تلقائياً ستكون مشاعره تجاه الكل تُعْلِن هذا الحب</p>
<p>٥- فرح بالألم</p>
<p>&#8221; أم هم فذهبوا فرحين من أمام وجه المجمع لأنهم حُسِبوا مُستأهلين أن يُهانوا من أجل إسمه &#8221;     الإبركسيس</p>
<p>قبول الألم بفرح علامة علي إمتلاء الإنسان من الروح القدس</p>
<p>٦- إيمان</p>
<p>&#8221; لأنكم ان لم تؤمنوا إني أنا هو تموتون في خطاياكم &#8221;                                                    إنجيل القدَّاس</p>
<h4>(٤) من هو الكاهن؟     من خلال سفر إشعياء</h4>
<p>١- عبدي البار</p>
<p>&#8220;( من تعب نفسه يري ويشبع وعبدي البار بمعرفته يبرر كثيرين &#8220;( اش ٥٣: ١</p>
<p>تعب الكاهن وبذله وغني تعليمه يكون سبب خلاص كثيرين</p>
<p>٢- مرمم الثغره</p>
<p>&#8221; ومنك تبني الخرب القديمه&#8230;.فيسمونك مرمم الثغرة مرجع المسالك للسكني &#8220;اش ٥٨ : ١٢</p>
<p>افتقاد الكاهن للبعيدين والمهملين والضعفاء والمنبوذين يعلن كمال بهاء جسد المسيح</p>
<p>٣- نورجاً محدداً</p>
<p>&#8221; هاانذا قد جعلتك نورجا محددا جديدا ذا اسنان تدرس الجبال وتسحقها وتجعل الاكام كالعصافه &#8220;( اش٤١: ١٤ -١ )، (ميخا ٤: ١٣</p>
<p>قوه ايمان الكاهن التي تسحق كل المعوقات وتجتاز كل الصعوبات</p>
<p>٤- سهما مبريا</p>
<p>&#8221; وجعل فمي كسيف حاد في ظل يده خباني وجعلني سهما مبريا &#8221; اش ٤٩: ٢</p>
<p>قوه كلمه الله وسلطانها في فم الكاهن عندما يكون عاملا بها</p>
<p>٥- المبشر المخبر بالسلام المبشر بالخير المخبر بالخلاص اش ٥٢ : ٧</p>
<p>حضور الكاهن يشع سلاما ويقود الناس للخلاص ويكون دائما سبب بهجة للجميع</p>
<p>٦- شارعا للشعوب ورئيسا وموصيا للشعوب  اش ٥٥ : ٤</p>
<p>الكاهن هو الحافظ لشريعه الله وتقليد الكنيسه الحي</p>
<p>٧- حارس بيت الله</p>
<p>&#8221; علي اسوارك يااورشليم اقمت حراسا لايسكتون كل النهار وكل الليل علي الدوام ياذاكري الرب لاتسكتوا ولاتدعوه يسكت حتي يثبت ويجعل اورشليم تسبيحه في الارض &#8221; اش ٦٢ : ٧،٦</p>
<p>الصلاه الدائمه والتسبيح يحفظ ويحرس تقوي الشعب ويعلن مجد الله</p>
<h3>عظات آبائية</h3>
<p>يمكن الرجوع لعظات يوم الجمعة من الاسبوع الخامس من الصوم الكبير</p>
<h4>القديس كيرلس الأسكندري</h4>
<p>(يو٢٤:٨): &#8220;فقلت لكم: إنكم تموتون في خطاياكم&#8221;.</p>
<p>وبكلمات قليلة حول التصورات الرديئة لأولئك الذين فهموا هكذا وبعد أن وبخهم أيضا بسبب كلامهم الغبي عنه، فإنه يرجع إلى هدفه الأصلي من حديثه ويلخصه مبينا لهم الشر العظيم الذي سيكونون فيه وما الذي سوف يسقطون فيه، إن كانوا بعدم تعقل يرفضون أن يؤمنوا به. فهناك أمر ملائم جدا لأي معلم حكيم ووقور؛ لأني أظن أن المعلم لا ينبغي أن يتصادم مع جهل سامعيه ولا أن يهمل في عنايته بهم، حتى إن لم يتعلموا الدروس بسهولة، ولكنه يعيد مرات كثيرة ، ويرجع إلى نفس الأمور ويستعمل نفس الكلمات، (كما أن الحراث الذي يلازم الحقل ويبذل جهدا غير قليل فيه، فإنه حينما يكون قد زرع البذار في الأثلام&#8221;، فإن رأى إحدى البذار تلفت، فإنه يعود ثانية إلى المحراث ولا يضن بأن يبذر على الأجزاء التي تلفت): لأنه إذا لم يصل إلى هدفه في المرة الأولى فلن يحدث نفس الشيء في المرة الثانية. ومثل هذه العادة كان يمارسها بولس الإلهي عندما يقول في موضع ما: &#8220;كتابة هذه الأمور إليكم ليست على ثقيلة، وأما لكم فهي مؤمنة&#8221; (فی۱:۳). هل ترى، كما أن المعلم يرتفع فوق الكسل، فبالنسبة للسامعين يكون الأمر عملاً مطمئنا؟ إذن فربنا يسوع المسيح يكرر حديثه بطريقة نافعة مع اليهود ويؤكد أن عقوبة عدم الإيمان به لن تكون بأمور عابرة: لأنه يقول إن الذين لا يؤمنون فبالتأكيد سيموتون في خطاياهم. وأن الموت في التعديات هو حمل ثقيل لأنه سيسلم نفس الإنسان إلى اللهيب  الذي بلا شك  سوف يبيد الكل.</p>
<p>&#8220;لانكم إن لم تؤمنوا أني أنا هو تموتون في خطاياكم&#8221;.</p>
<p>وهو يشرح بأكثر دقة ما سوف يحدث، وإذ قد جعل كيفية الخلاص واضحة جدا فهو يبين ثانية بأي طريق سوف يصعدون إلى حياة القديسين ويبلغون إلى المدينة التي هي فوق، أورشليم السماوية. وهو لا يقول إن الإنسان ينبغي أن يؤمن بل يؤكد أن الإيمان يلزم أن يكون به هو. لأننا نتبرر بالإيمان به كإله من إله وكالمخلص والفادي وملك الكل والرب بالحق. لذلك يقول إنكم ستهلكون &#8221; إن لم تؤمنوا أني أنا &#8221; اما الضمير &#8220;أنا&#8221;. فيما يقول .هو ذاك الذي كتب عنه في الأنبياء &#8220;استنيري استنيري يا أورشليم لأنه قد جاء نورك ومجد الرب أشرق عليك&#8221; (إش٦٠ :اس). (لأنه يقول) لاني أنا الذي منذ القديم أمرت أن تنزع أمراض النفس عنها وأنا الذي وعدت بشفاء المحبة بالقول:&#8221; أرجعوا ارجعوا أيها البنون المرتدون &#8220;وأنا&#8221; سأشفى عصيانكم &#8221; (إر۲۲:۳س). أنا هو الذي أعلنت أن الصلاح الإلهي القديم والصبر الذي لا يجاري ينبغي أن يسكب عليكم. ولذلك صرخت عاليا: &#8221; أنا أنا هو الماحي ذنوبك ولن أذكرها &#8221; (إش٢٥:٤٣س). (ويقول ) أنا هو الذي قال لإشعياء النبي اغتسلوا، تنقوا ، اعزلوا شرور قلوبكم من أمام عيني، كفوا عن فعل الشرور.. وهلم نتحاجج يقول الرب، إن كانت خطاياكم كالقرمز تبيض كالثلج، وإن كانت كالدودي (الاحمر) فإني أبيضها كالصوف&#8221; (إش١٦:١-١٨س). (ويقول) أنا هو &#8211; الذي عنه يقول إشعياء النبي نفسه: &#8220;يا صهيون التي تأتى بالبشارة السارة، اصعدي على جبل عال يا أورشليم التي تأتى بالبشارة السارة، ارفعي صوتك بقوة، ارفعي لا تخافى ، هوذا إلهك. هوذا الرب بقوة يأتي وذراعه تحكم له. هوذا أجرته معه وعمله أمامه.. كراع يرعى قطيعه، بذراعه يجمع الحملان ويريح المرضعات&#8221; (إش٩:٤٠۔١١س). ويقول أيضا &#8220;حينئذ ستنفتح عيون العمى وآذان الصم سوف تسمع. حينئذ يقفز الأعرج كالأيل ويترنم لسان الأخرس&#8221; (اش٦،٥:٣٥ س). (ويقول) &#8220;يأتي بغتة إلى هيكله السيد الذي تطلبونه وملاك العهد الذي تسرون به. هوذا يأتي قال رب الجنود ، ومن يحتمل يوم مجيئه ومن يثبت عند ظهوره، لأنه سيدخل مثل نار المحمص ومثل أشنان القصار&#8221; (ملا٣: ١، ۲س). (ويقول) أنا هو الذي لأجل خلاص الناس وعدت بصوت المرنم أن أقدم نفسي ذبيحة لله الآب، وصرخت: &#8220;بذبيحة وقربانا لم تُرد ولكن هيأت لي جسدا ، بمحرقات وذبائح للخطية لم تُسر. ثم قلت هاأنذا أجي في درج الكتاب مكتوب عنى لأفعل مشيئتك يا الله&#8221; (مز٨،٦:٤٠س) (ويقول) أنا هو، والناموس بواسطة موسى كرز عني قائلا هكذا : &#8220;يقيم لك الرب إلهك نبيا من بين أخوتك مثلى له تسمعون، حسب كل ما طلبت من الرب الهك في حوريب يوم الاجتماع (تث١٦،١٦:١٨س).</p>
<p>لذلك (يقول)، سوف تهلكون وسوف توفون للديان العقاب العادل جدا كثرة شر أخلاقكم إذ لا تسمعون ذاك الذي سبق أن بشركم به قديسون كثيرون، وأيضا بشهادة الأعمال التي أعملها أنا. لأنه بالتأكيد وحسب الحق، ليست هناك مجادلة تعفي أولئك الذين لا يؤمنون به من نوال العقاب، إذ نرى أن الكتاب الموحى به من الله مملوء بالشهادات والأقوال عنه وهو نفسه يقدم بأعماله مجدا مطابقا لما تم التنبؤ عنه منذ زمن بعيد<a href="#_ftn2" name="_ftnref2">[2]</a>.</p>
<h4>خدمة الكهنوت في فكر العلامة أوريجانوس</h4>
<h5>العظة الأولي</h5>
<p>بعد ذلك تأتي الكلمات أنت وبنوك تحملون ذنب كهنوتكم ، وأيضا أخوتك سبط لاوي سبط ابيك قربهم معك فيقترنوا بك ويوآزروك أنت وبنوك قدام خيمة الشهادة فيحفظون حراستك وحراسه الخيمة (عد 18: 1-3) تنفيذ الوصايا بانتباه هو أمر واجب خصوصا بالنسبة للذين لهم نعمة الكهنوت ، &#8221; أي الأساقفه &#8221; يجب عليهم أن يعلموا ما تعطيهم الشريعة الإلهية لتتميمه &#8221; أنت وبنوك معك ، قدام خيمة الشهادة ، أحفظ حراسة المذبح الخيمة&#8221; ، إنها أوامر ملزمة وواضحة يجب ان نحفظ حراسة الخيمة والمذبح والكهنوت . لكن من هو الذي يتمم ويقوم بخدمة واجبات الكهنوت ؟ من هو الذي له رتب ومنصب الكهنوت بدون أن يتمم الأعمال ورسالة الكهنوت؟ هذا يستطيع أن يعرفه &#8221; فاحص الكلى والقلوب &#8221; (مز 7 : 10)</p>
<p>الواجب لا يتضمن فقط حفظ الوصايا الخارجية &#8221; لكن تحفظون كهنوتكم مع ما للمذبح وما هو داخل الحجاب &#8221; (عد 18: 7) .</p>
<p>هذا ما نقوله إن الكهنة ينشغلون في نفس الوقت بأن يتمموا وصايا الشريعة الإلهية ونفحص انتباههم إلي أسرار الله المختبئة والمحجوبة . من جهة أخرى إذا أردنا أن نطلق على الإنسان ما قد قيل عن خيمة الأجتماع كما يعطي بولس أسم الخيمة لجسد الإنسان، عندما يقول: &#8221; فإننا نحن الذين في الخيمة نئن مثقلين إذ لسنا نريد أن نخلعها بل أن نلبس فوقها&#8221; (٢كو 5: 4) ، إذا طبقنا على الإنسان ما قد قيل عن الخيمة ، سنقول إن الجزء المغلق بواسطة الحجاب الذي يغطي الأشياء التي لا يمكن الاقتراب منها ، هذه هي أهم خواص القلب الذي وحده يستطيع أن يستقبل أسرار الحق ويحوي وحده أسرار الله .</p>
<p>بينما بالنسبة للهيكلين الداخلي والخارجي، فإن الهيكل هو رمز الصلاة، وهذا كما أظن هو مني ما قاله الرسول&#8221; أصلي بالروح كما بالذهن&#8221; (١كو 4: 15) ، عندما أصلي حقا من القلب أقترب من الهيكل الداخلي . وهذا هو ما قاله أيضا للسيد الرب في الإنجيل &#8221; أما أنت فمتى صليت فادخل إلى مخدعك وأغلق بابك وصلي إلى أبيك الذي في الخفاء&#8221; (مت 6 : 6) ، إذا فالذي يصلي بالطريقة التي قلتها يقترب من مذبح البخور الذي هو في الداخل . لكن عندما يرفع صلاته نحو الله بصوت عال وبكلام واضح لكي يجذب السامعين ، فهو يصلي في الهواء . وتقدم الصلاة بطريقة ما صحيحة علي المذبح المقام في الخارج للمحرقة للشعب ، ويجب إذا أن تكون عناية القسوس وسهرهم متجهة بالأخص إلى ما هو مغطى بالداخل خلف الحجاب حتى لا يوجد شئ أو شئ غير طاهر ، بمعنى أنه يجب الاهتمام بالإنسان الداخلي وبالأجزاء المخفية بالقلب حتى تكون بدون عيوب . أما الكاروبان و المائدة فتعني معرفة الثالوث ، وهل يوجد كمال المعرفة أكثر من معرفة الابن والروح القدس . فعلي القسوس إذا السهر علي حفظها بدون دنس ولا لأي من اي نوع .</p>
<p>التابوت الذي فيه الغذاء السماوي من المن هو كنز الكلمة الإلهية &#8211;  تابوت الذهب حيث يوجد لوحا الشهادة . هما بحسب رأيي عقلنا حيث يجب أن ننقش فيه شريعة الله ، هذا العقل يجب أن يكون من ذهب أي نقي وثمين . لأن شريعة الله منقوشة دائما عليه ، وكما يقول الرسول : &#8221; مكتوبة لا بحبر بل بروح الله الحي لا في ألواح حجرية بل في ألواح قلب لحمية &#8221; (٢كو 3 : 3) . وهذا ما يقوله بولس عن البعض &#8221; الذين يظهرون عمل الناموس مكتوبا في قلوبهم &#8221; (رو 2: 15) .إذا من الذي كتب في القلوب ؟ الله هو الذي كتب بإصبعه في كل الضمائر الشريعة الطبيعية التي أعطاها للجنس البشري . فيها نبدأ وبها نأخذ بذور الحق للتعمق، هذه البذور التي إن اعتنينا بزراعتها تأتي فينا بأثمار جيدة بالمسيح يسوع الذي له المجد والقوة إلي دهر الدهور آمين. <a href="#_ftn3" name="_ftnref3">[3]</a></p>
<h5>العظة الثانية</h5>
<p>مسؤولية الكاهن في التعليم</p>
<p>+ إننا نصلي حتي يشرق في قلوبنا نور معرفة مجد الله(٢كو٦:٤) بروح الله الساكن فينا، والذى يجعلنا قادرين علي تصور وفهم ما لله&#8221;لأن كل الذين ينقادون بروح الله فأولئك هم أبناء الله&#8221;(رو١٤:٨)</p>
<p>+الروح يبحث كل شيء حتي اعماق الله(١كو١٠:٢) أما روح الإنسان فلا يقدر أن يبحث كل شيء ، لهذا فإننا بحاجة الي الروح في داخلنا حتي نبحث في رفقته كل شئ حتي أعماق الله.</p>
<p>+ مهمة الكاهن الصحيحة مزدوجة :- أن يتعلم من الله خلال القراءة والتأمل الدائم في الكتاب المقدس وأن يعلم الناس . ليته يُعلّم ما يتعلمه من الله، وليس ما يتعلمه من قلبه(حز ٢:١٣)، أو من الفهم البشري بل ما يعلمه الروح ..وهكذا إذ نتأمل (في قصص العهد القديم) ونستعيدها ليلًا ونهارًا مع الصلاة لله كى يعلن لنا المعرفة الحقيقية لما نقرأه، وأن يكشف كيف نحفظ الناموس الروحى، في فهمنا كما في سلوكنا ، بهذا نتأهل أن نقتني النعمه الروحية ونستنير بناموس الروح القدس.</p>
<p>+ إن تأمل أحد ما في ناموس الرب نهارًا وليلا (مز٢:١)، إن شابه انسان ما فم البار الذى يلهج بالحكمة(مز٣٠:٣٧)، يستطيع ان يفحص هذه الأمور ويكتشفها بأكثر وضوح، بشرط ان يبحث بالطريقة الصحيحة قارعًا باب الحكمة الإلهية ، وطالبًا أن يُفتح له ، حتي يتأهل ان يأخذ كلمات المعرفة والحكمة ويفهمها بالروح، وأن يستحق أن يشترك في &#8220;الحكمة&#8221; القائل&#8221;هأنذا أبسط كلماتى وليس من يبالى&#8221;(ام ٢٤:٢٣)،(كو ٣:٤).</p>
<p>+تُعلن كل معرفةالآب بواسطة الابن، وتُقتني بالروح القدس&#8230;.يلزمنا أن نعرف أنه كما أن الابن وحده يعرف الآب ويعلن ذاته لمن يريد (مت٢٧:١١)،وهكذا الروح القدس الذى وحده&#8221;اعماق الله&#8221; (١كو ١٠:٢)، يعلن الله لمن يريده. <a href="#_ftn4" name="_ftnref4">[4]</a>.</p>
<h4>القديس أغسطينوس: مسؤولية الشعب مع الراعي</h4>
<p>المدبِّرون أيضًا يوصون الشعب للصلاة من أجلهم، هكذا يقول الرسول للكنيسة: &#8220;مصلِّين في ذلك لأجلنا نحن أيضًا&#8221; (كو ٤ : ٣).</p>
<p>فالرسول يطلب من أجل الشعب، والشعب يصلِّي لأجل الرسول.</p>
<p>يا إخوتي&#8230; إنَّنا نصلِّي من أجلكم، فهل تصلُّون أنتم من أجلنا؟!</p>
<p>ليصلِّ كل عضو من أجل الآخر، وليشفع الرأس المسيح من أجل الجميع (شفاعة كفاريَّة).</p>
<p>أما بخصوص الكاهن (اسمه Boniface) فلا أقول لكم ألاَّ تحزنوا عليه، لأنَّه كيف لا نحزن على من فقد حب المسيح، وصارت لذَّته في خداعات الشيطان؟! إنه يجب أن تنوحوا، لكن لا يؤدِّي حزنكم إلى برودة الحب والتراخي في الحياة المقدَّسة. بل أنقذوه بصلواتكم إلى الله، حتى إن كان كاهنكم مذنبًا، فإن الله يصلحه سريعًا ليقوم بأعماله الرعويَّة في حياة مقدَّسة.</p>
<p>إنك تهتم بشئونك الخاصة، ومتى أجدت إدارتها لا تكون مسئولًا عن شئون غيرك، أمَّا الكاهن فإنَّه إن سلك &#8211; في حياته الشخصيَّة &#8211; سلوكًا حسنًا، ولم يهتم بحياتك وحياة كل الذين حوله، سيُطرد مع الشرِّير إلى الجحيم. فإن لم يخنه سلوكه الشخصي، يهلك بسبب سلوكك أنت، ما لم يقم هو بالاعتناء بك.</p>
<p>والآن إذ عرفت مقدار الخطر الذي يتعرَّضون له، قدِّم لهم نصيبًا وافرًا من السلام&#8230; &#8220;لأنهم يسهرون لأجل نفوسكم&#8221; بل والأمر ليس إلى هذا الحد، إنَّما &#8220;كأنهم يعطون حسابًا&#8221; (عب ١٣ : ١٧).</p>
<p>لذلك يليق بهم أن ينالوا عناية منكم، لكنكم إن صرتم كالباقين تهينوهم (بإدانتكم لهم) فإن أموركم لن تدبَّر حسنًا. لأنَّه متى كان قائد السفينة متشجِّعا من الطاقم، صار الطاقم كله في أمان. أمَّا إذا سبّوه وأظهروا شروره متعِبين إيَّاه، فإنَّه لا يقدر أن يقود السفينة حسنًا، ولا أن يستخدم مهارته.</p>
<p>هكذا أيضًا الكاهن. إن كرَّمتموه (أطعتموه) يقدر أن يدبِّر أموركم. أمَّا إن ألقيتم به في اليأس، فإنكم تُضعِفون يديه، وتجعلونه كما تجعلون أنفسكم نهبًا للأمواج مهما بلغت شجاعتكم!<a href="#_ftn5" name="_ftnref5">[5]</a></p>
<h3>عظات آباء وخدام معاصرين</h3>
<p>يمكن الرجوع لعظات يوم الجمعة من الاسبوع الخامس من الصوم الكبير</p>
<h4>قداسة البابا تواضروس الثاني</h4>
<p>كل من يؤمن به لا يخزى</p>
<p>يقول المسيح: &#8221; ان لم تؤمنوا أنى أنا هو ، تموتون فى خطاياكم (يو٨: ٢٤) ، فعدم الايمان به يؤدى الى الهلاك لأن الايمان به يوصل للحياة الأبدية (يو٣: ١٦) .</p>
<p>والمقصود بالايمان هو أحد أركان المسيحية الثلاثة &#8230;الايمان &#8230;الرجاء &#8230;المحبة ( ١كو ١٣:١٣) .</p>
<p>كل ما يرتبط بالايمان مثل قول الكتاب: &#8221; من آمن واعتمد خلص &#8221; (مر١٦:١٦) .</p>
<p>وفى يوم الخمسين يقول بطرس لليهود : &#8221; توبوا وليعتمد كل واحد منكم على اسم يسوع المسيح لغفران الخطايا ، فتقبلوا عطية الروح القدس &#8221; (أع ٢: ٣٨) فالايمان يقود للمعمودية ، والمعمودية توصل الى غفران الخطايا ، وقيل أيضا فى أساسيات الايمان بالمسيح &#8221; كل من يؤمن به لا يخزى &#8221; (رو٩: ٣٣) .</p>
<p>اذن ليس الايمان بالمسيح مجرد شىء هين ، وانما هو أمر خطير تتعلق به الحياة الآبدية ، وما أخطر قول الرسول &#8221; الذى يؤمن بالابن له حياة آبدية ، والذى لا يؤمن بالابن لن يرى حياة ، بل يمكث علية غضب الله &#8220;(يو٣: ٣٦) .</p>
<p>عرفوا الرب</p>
<p>نتيجة رفض الايمان بالمسيح الفادى :</p>
<p>١- حذرهم من تركه لهم وانهم سيهلكون بخطية عدم الايمان به ، ولأن أجرة الخطية موت (رو٦: ٢٣) وتموتون فى اثمكم (حز ٣: ١٩) .</p>
<p>+ ولم يفهموا قصده ، بل ظنوا أنه سيقتل نفسه ، ولكنه علل سبب عدم وصولهم اليه ، فيما بعد، لأنهم &#8221; من أسفل &#8221; تشير لمحبتهم للدنيا ، &#8221; أما أنا من فوق &#8221; لأنه رب المجد . أنتم من هذا العالم تعنى الترابى ، &#8221; أما أنا فلست من هذا العالم &#8221; ولا يمكن للجسدانيين أن يفكروا فى الروحيات ولا ينالوا الروحيات .</p>
<p>٢- ان لم تؤمنوا انى &#8221; أنا هو الكائن &#8221; أى الله الآزلى ، تموتون فى خطاياكم . وهو أمر واضح وصريح أن كل من لا يؤمن بأن الله جاء بالجسد ولم يتمتع بفداؤه ، سوف يهلك الى الأبد .</p>
<p>+ ولما سألوه &#8221; من أنت ؟؛&#8221; كانوا يقصدون السخرية لا طلب المعرفة ، لأنه قال لهم من قبل أنه : &#8221; ابن الله &#8221; ( ٥: ١٧) وأنه هو المسيح ( ٤: ٢٦) &#8221; وأن الله الآب قد أرسله اليهم &#8221; .</p>
<p>ويعلق القديس مار يوحنا الحبيب قائلا : انهم : &#8221; لم يفهموا أنه كان يقول لهم عن (الله) الآب &#8221; .</p>
<p>وأن ما يعلمهم به هو من عند الله ، وهو حق . وأنه بعدما يرفعونه على الصليب ، سيعرفون أنه هو الفادى ، تحث الرسل الى الآلاف يوم الخمسين ، فعرفوا الرب (الفادى )وآمنوا ، وخلصوا. <a href="#_ftn6" name="_ftnref6">[6]</a></p>
<h4>أيضاً لقداسة البابا تواضروس الثاني</h4>
<p>(يو ٨ : ٢١ – ٢٨)</p>
<p>من أنا في نظرك ؟</p>
<p>تقابل السيد المسيح مع اليهود ، وعندما تقابل معهم ورأوا معجزات وحوارات ومقابلات وسمعوا عظات ، بعد كل هذا سألوه : &#8221; من أنت ؟&#8221; وأرجوك لا بد أن تنتبه وتأخذ السؤال بطريقة جادة ، فمن العجيب أن الذين جلسوا معه وقتاً طويلاً ، لم يعرفوها وكلمة الله تطرح علينا سؤالاً في هذا النص الإنجيلي مأخوذا من سؤال اليهود للمسيح، فسألوه:  &#8221; من أنت ؟&#8221; واليوم السيد المسيح يسألك : &#8221; من أنا في نظرك ؟&#8221;</p>
<p>أريدك أن تعرف هذه المعلومة الهامة وهي إذا سألنا : &#8221; ما هي المسيحية ؟&#8221; والإجابة المختصرة عن هذا السؤال هي أن المسيحية سماوية المنشأ ، وسماوية المقصد . فالمسيحية سماوية المنشأ بمعنى أن نقطة البداية فيها من السماء ، ونقطة النهاية فيها في  السماء. فهي سماوية المنشأ من وقت ما قال الكتاب : &#8221; أنه هكذا أحب الله العالم حتى بذل ابنه الوحيد ، لكي لا يهلك كل من يؤمن به ، بل تكون له الحياة الأبدية &#8221; (يو ٣ :١٦). فالله الذي في السماء أحب العالم الموجود في الأرض وهذه نقطة البداية ، وأحب الله العالم &#8221; حتى بذل &#8220;، وبذل هنا أي الصليب ، فكأن الحب عبر عنه كتعبير عملي على الصليب ، &#8221; لكي لا يهلك كل من يؤمن به &#8221; أي من يؤمن بالمسيح ، فلا هلاك له &#8221; بل تكون له الحياة الأبدية &#8220;، وهنا ندخل السماء ، لقد بدأنا من السماء ووصلنا السماء ، وهذا يعني أن رحلة الإنسان المسيحي صحيح سماوية، لكن هذا حسب جهاده الروحي والتفاته حول حياته الروحية فتكون له السماء، لكن إذا كان هناك من هو غير ملتفت لحياته الروحية ولا منتبه لها فكيف تكون له السماء ؟</p>
<p>ولذلك اليهود عندما تكلموا مع المسيح وضع لهم عبارة سهلة جداً ، وقال لهم : &#8221; أنتم من أسفل ، أما أنا فمن فوق . أنتم من هذا العالم ، أما أنا فلست من هذا العالم &#8221; (يو ٨ : ٢٣)، وبالتأكيد يقصد السماء ، فإجابة المسيح تكشف سماوية المسيحية .</p>
<p>هذه البداية مهمة لكي تعرف لماذا سأل اليهود هذا السؤال بالرغم من أنهم عاشوا مع المسيح فترة طويلة ، ورأوا المعجزات والتعاليم والأمثال والزيارات التي تممها السيد المسيح ، ما هذا القلب الصلب المغلق ؟</p>
<p>لذا لا بد أن نطرح الأمر أكثر وضوحاً ، والسؤال : لماذا لم يعرف اليهود الذين سألوا هذا السؤال شخصية المسيح ؟</p>
<p>١- لأنهم مولودون بالخطية ، فكل إنسان مولود بالخطية ؛ لأن رأس البشرية أخطأ ، والسيد المسيح هو الوحيد الذي بلا خطية ، وقد عرف داود النبي الخطية في المزمور الذي تصليه : &#8221; وبالآثام حبل بي ، وفي الخطية ولدتني أمي &#8221; (مز ٥١ : ٥ )  فأصبح كل إنسان يحمل هذه الوصمة ، ومن آدم إلى نهاية الخليقة ينطبق عليهم مقولة داود النبي . لذلك تُعلّمنا الكنيسة إننا نقوم بمعمودية الطفل وهو صغير جدا ، بالرغم من أنه لا يعي شيئاً ، حتى ينال مسح هذه الخطية ، أما اليهود في هذا النص الإنجيلي فليسوا فقط مولودين بالخطية بل يعيشون أيضا فيها . إذا ما يجعل الإنسان لا يعرف شخص المسيح هو قلبه المملوء بالخطية ، حتى إذا كان مسيحياً ، فإذا كان في القلب خطية فهي تجعل القلب قاسياً لا يعرف ولا يفهم ، والمعجزة قد تتم أمامه ولكنه لا يستفيد منها .</p>
<p>٢ إنهم في نفس الوقت كانوا محبين للأرض والعالم ، ولم يفكروا في السماء ، فهناك من يحب العالم وبكل ما فيه ، ومحبته للعالم قد تنسيه السماء .</p>
<p>مثال</p>
<p>رجل غني لديه خيرات كثيرة ، ولكن كان بجوار هذا القصر إنسان معدوما فقيرا ، وكلمة بجواره تعني أن الغني يرى الفقير باستمرار أثناء دخوله وخروجه ولكنه لم يتحنن على هذا المسكين ، حتى أن الكلاب جاءت تلحس قروح هذا الرجل وكأنها تعمل عملاً خفياً ، حيث تُخفف آلامه . محبة الأرضيات تجعل قلب الإنسان لا ينظر لفوق ، أو على الأصح لا يمكن أن يفهم الصواب ، لذلك اليهود ذهبوا للسيد المسيح وسألوه : &#8221; من أنت ؟&#8221;، فالسبب هو محبتهم الشديدة للأرضيات وكل ما فيها .</p>
<p>تعلمنا الكنيسة باستمرار في كل قداس وفي نهاية الكاثوليكون &#8221; لا تحبوا العالم ولا الأشياء التي في العالم &#8220;، وهذه الوصية تقدمها الكنيسة كأم تكرر الوصية على أولادها ، وهذه هي التربية الناجحة ، فأرجو أن تنتبه أن هذا لا يعني أن نتخلى عن مسئوليتنا أو أعمالنا ، لكن مستوى العمل أو مسئوليتنا يجب أن يتوافق مع ما في السماء وليس الأرض .</p>
<p>٣- كانوا يضيعون الفرص ، فدائماً الإنسان الذي يضيع الفرصة هو الخسران ، خاصة الفرص الروحية ، فهو يخسر كثيراً ، والفرصة تأتي وراء الأخرى ، وتعلمنا الكنيسة يوم جمعة ختام الصوم وتختار الإنجيل الذي يتكلم فيه المسيح ويقول لليهود : &#8221; يا أورشليم ، يا أُورشليم ! يا قاتلة الأنبياء وراجمة المرسلين إليها ، كم مرة أردت أن أجمع أولادك كما تجمع الدجاجة فراخها تحت جناحيها ، ولم تُريدوا !&#8221; (مت ۲۳ : ۳۷)، اسمع &#8221; كم مرة أردت &#8221; وهذا يعني أن الله يضع أمامنا الفرص ، وكلمة &#8221; كم مرة &#8221; تعني أنها غير معدودة ، فكانت فرصة وراء فرصة ، وأنت تضيعها . هذا قد تأتيك فرصة للاعتراف أو لحضور القداس أو حضور اجتماع أو لتقرأ الإنجيل ولكنك تضيع الفرصة ، وترجع تسأل : &#8221; من هو المسيح ؟&#8221;. اليهود سقطوا في هذه الضعفات ، وأضاعوا الفرص التي كانت أمامهم . ونتيجة من يضيع الفرصة منه أنه لا ينمو في حياته الروحية . اسمع داود النبي يقول : &#8221; اكشف عن عيني فأرى عجائب من شريعتك &#8221; (مز ١١٩ : ١٨)، وهذا يعني أن عيني قلبي تكون مفتوحة دائما لترى ما وراء الكلمات ، ولا تُضيع الفرصة. من نکه تسما من الأمور الجميلة في تاريخنا المصري المسيحي أننا نتباهى بالرهبنة والأديرة والقديسين وحياة الآباء والصلوات . والرهبنة فرصة ، كان الشماس يقرأ الإنجيل ، والشاب أنطونيوس حاضر ويسمع كلام الإنجيل : &#8221; إن أردت أن تكون كاملاً فاذهب وبع أملاكك وأغط الفقراء، فيكون لك كنز في السماء ، وتعال اتبعني &#8221; (مت ۱۹ : ۲۱)، لقد اعتبر الشاب أنطونيوس أن هذه الكلمات كتبت خصيصاً له ، وابتدأ يتجه إلى البرية ، ومرحلة تلو مرحلة إلى أن تأسس نظام الرهبنة . إنها فرصة ، ضع أمامك الفرص ؛ لأنه إذا فقدت هذه الفرص ، فسوف يتحجر قلبك .</p>
<p>ثلاثة عوامل جعلت اليهود يسألون السيد المسيح من أنت ؟ بعد كم المعجزات والآيات والتعاليم التي قدمها ، لذا أرجوكم تستشعروا خطورة هذا السؤال : &#8221; من أنت ؟&#8221; لذلك يطرح عليك السيد المسيح هذا السؤال : من أنا في نظرك ؟</p>
<p>لذلك أضع أمامك عدة نماذج من الإجابات :</p>
<p>۱  مسيح الخوف : قد يكون المسيح في نظر إنسان هو مسيح الخوف ، المسيح الذي ينتظر دائماً أخطاءك . ويعيش الإنسان في خوف دائم وكأنه مراقب من المسيح الذي ينتقم أو يعاقب ، فهذه العلاقة يمكن أن (  يبطش  ) (  ينتقم نسميها &#8221; علاقة الخوف &#8221; وليست المخافة .</p>
<p>۲  مسيح الأجرة : هناك شخص آخر علاقته بالمسيح ( مسيح الأجرة )، بمعنى أعمل الشيء مقابل أنك تعمل لي شيئاً ، فمثلاً أنا &#8221; أصلي لك &#8221; مقابل أن تتمم لي مسيح ست معجزة ، ومسيح الأجرة كأنك في عمل تجاري مع المسيح وتنتظر المكافأة وتؤدي الصلوات والطقوس أو القوانين الروحية انتظاراً لفائدة خاصة أو لمعجزة أو لاستجابة معينة في ذهنك . ليست هذه العلاقة الحقيقية مع المسيح .</p>
<p>٣- &#8221; مسيح الحب &#8220;، قد تعتبر هذه الإجابة هي الإجابة الأمثل وهى &#8221; مسيح الحب &#8221; عندما يسألك المسيح : &#8221; من أنا في نظرك ؟&#8221;، تقول له : &#8221; كل الحب ، كل المحبة &#8220;.</p>
<p>المسيح هو الصديق والرفيق ، ورحلة حياتك تكون أكثر حلاوة إن كان المسيح هو رفيقك وصديقك في كل صغيرة وكبيرة ، في كل صباح ومساء ، في كل مرحلة</p>
<p>وكلمة المسيح الصديق والرفيق معتمدة أو مبنية على المسيح الفادي والمخلص ، هو صاحب الصليب الذي قدم لي أغلى هدية وهي الفداء والخلاص . هذه الصورة هي المفترض أن تنطبق في أذهاننا ، فإذا سألك المسيح : &#8221; من أنا في نظرك ؟&#8221; تقول له : &#8221; يا يسوع أنت فادي ومخلصي ، أنت صديقي ورفيق حياتي &#8220;، وهذه هي الإجابة الأمثل .</p>
<p>والمسيح قال لنا في وصية جميلة : &#8221; ها أنا معكم كل الأيام إلى انقضاء الدهر &#8221; (مت ۲۸ : ۲۰). الله حاضر معك دائماً ، ولا بد أن تنتبه أنه أحيانا هناك شخص يكون المسيح رفيقه داخل الكنيسة ، وعندما يخرج ينساه ويعتمد على ذراعه وعضلاته ومعرفته وإمكانياته . فهل المسيح رفيقك في كل خطوة وفي كل قرار ؟ ت يقول القديس معلمنا بولس الرسول : &#8221; فإذا كنتم تأكلون أو تشربون أو تفعلون شيئاً ، فافعلوا كل شيء لمجد الله &#8221; (۱ کو ۱۰ : ۳۱)، حتى الأكل فهو عمل كل يوم ، أيضاً شرب الماء ، فأنت عندما تشرب الماء قل له : &#8221; يا رب أشكرك لأنك وفرت لي الماء فيوجد آلاف من البشر ليس لديهم ماء &#8220;، لذلك نقطة الماء غالية جداً ، وأيضاً الطاقة ، هناك بلاد كاملة ليس فيها طاقة كهربائية ، وبالتالي النعم التي يسكبها الله عليك هي لأن الله رفيقك في كل يوم.</p>
<p>ولكن توجد إجابة أخيرة صعبة جدا إذا سألك المسيح :  &#8220;من أنا في نظرك ؟&#8221; فأحياناً يرى الإنسان المسيح غائباً وليس حاضراً ، قد تسمع عن بعض الضعفات أو العنف الذي يحدث في أي مجتمع ، ويقف الشخص أمام ربنا ويقول له : &#8221; أين أنت يا رب ؟ لماذا تغيب عني ؟&#8221; ولكن أوضح لك أن الله لا يغيب ، وإنما يعمل ، وفي الوقت المناسب ترى عمله ، ليس في حسب فكرك أنت ، ولا حسب كلامك ، ولا حسب رؤيتك أنت .</p>
<p>الخلاصة :</p>
<p>إذا كان اليهود اليوم بعد ما سمعوا عن المسيح وشاهدوا معجزاته ، يسألونه : &#8221; من أنت ؟&#8221; ولم يستطيعوا أن يعرفوه ، فاعرف أن خطاياهم هي التي صنعت هذا فيهم ، اعرف أنهم ولدوا بالخطية وعاشوا فيها ، وأنهم أحبوا الأرضيات ، وأضاعوا الفرص الكثيرة أمامهم، فاحترس ولا تضيع الفرصة ، ولا بد أن تعرف أن مسيحك رفيقك وصديقك ، وهو فاديك ومخلصك . فليعطنا مسيحنا أن تُدرك حضوره الدائم معنا في كل أمور حياتنا ، وننتظر عمله العجيب <a href="#_ftn7" name="_ftnref7">[7]</a>.</p>
<h4>المتنيح الأنبا بيمن أسقف ملوي وأنصنا والأشمونين</h4>
<p>العريس السمائی</p>
<p>ان علاقة الرب بالكنيسة وبالنفس البشرية تشبه بعلاقة العريس بالعروس.. في العهد القديم لم تكن هذه العلاقة واضحة تماما ،ولكنه منذ أن تجسد الإبن الكلمة وصار إنسانا مثلنا في كل شيء ، فيما عدا الخطية وحدها ، برزت هذه العلاقة ، وتكلم الرب يسوع نفسه عنها في مواضع كثيرة..</p>
<p>في العهد القديم :</p>
<p>يقول هوشع النبي عن إسرائيل إنها عروس ويسمع هوشع الله ينادي &#8221; أخطبك لنفسي إلي  الأبد ، وأخطبك لنفسي بالعدل والحق، بالاحسان والمراحم، أخطبك لنفسي بالأمانة فتعرفين الرب &#8221; (هوشع ۱۹:۲ ،۲۰). ويقول أشعياء النبي : &#8220;لأن بعلك هو صانعك رب الجنود إسمه &#8220;(أش ٥:٥٤) &#8220;کفرح العريس بالعروس يفرح بك إلهك&#8221; (أش٥:٦٢) وفي موضع آخر يقول بروح النبوة &#8221; فرحا أفرح بالرب ،تبتهج نفسي بالهي لأنه قد ألبسني ثياب الخلاص ، كساني رداء البر ، مثل عريس يتزين بعمامة ، ومثل عروس تتزين بحليها &#8221; (أش ۱۰:٦١) . أما سفر المزامير ففيه كثير من هذه التعبيرات، ولكن سفر نشيد الأناشيد كله سيمفونية روحية تنشد لحن الحب والفرح الإلهي للشركة القائمة بين الله والكنيسة بسر لا ينطق به &#8221; قد سبيت قلبي يا أختي العروس ، قد سببت قلبي بأحدى عينيك بقلادة واحدة من عنقك، ما أحسن حبك يا أختي العروس . کم محبتك أطيب من الخمر ، وكم رائحة أدهانك أطيب من كل الأطياب . شفتاك يا عروس تقطران شهدا أختي  العروس جنة مغلقة عين مقفلة ينبوع مختوم&#8221; (نش ٤:۹ ،١٠). وحين كانت إسرائيل ( العروس ) تذهب وراء الهة غريبة ، كان هذا يعد زنی روحی مثلما يقول الكتاب &#8221; بل زنوا وراء آلهة أخرى، وسجلوا لها، حادوا سريعا عن الطريق التي سار بها آباؤهم ، (قض ۱۷:۲ )وكان بعد موت جدعون أن بني إسرائيل رجعوا وزنوا وراء البعليم ( قض ٣٣:٨). لذلك يوبخهم ناحوم النبي قائلاً &#8221; ويل لمدينة الدماء كلها ملآنة كذبا وخطفا .. من أجل زني الزانية الحسنة الجمال صاحبة السحر البائعة أمم بزناها وقبائل بسحرها  &#8221; (ناحوم ١:٣-٤) وفي مواضع كثيرة يعلن الوحي حزنه وأسفه على حالة إسرائيل ويدعوها زانية لأنها خانت الذي إختارها من بين الأمم وجعلها شعبا مختارا له &#8220;فإتكلت علي جمالك وزنيت علي إسمك، وسكبت زناك علي كل عابر فكان له&#8221; (حز ١٥:١٦ ،أر ١:٣ ،أر ٦:٣-١٠).</p>
<p>كم أن مشاعر الله رقيقة نحونا نحن البشر، كم يهتم بنا وكم يحزن لتركنا ينبوع ماء الحياة وجرينا وراء آبار مشققة لا تضبط ماء. إنه غيور وقلبه مليئ بالحب والوفاء، ويريدنا أن نبادله حبا بحب وإخلاصا بإخلاص، وتكريسا وتقديسا وعبادة تجاه الدعوة الإختيار الإلهي المقدس.</p>
<p>في العهد الجديد :</p>
<p>أما في العهد الجديد فقد تكلم الرب بصراحة عن هذه العلاقة عندما قال في رده على الفريسين&#8221; هل يستطيع بنو العرس أن يصوموا والعريس معهم ، مادام العريس معهم لا يستطيعون أن يصوموا &#8221; (مر ۱۹:۲) . ويقول الرب أيضا &#8220;وأنتم مثل أناس ينتظرون سيدهم متى يرجع من العرس ، حتى إذا جاء وقرع يفتحون له للوقت .. طوبى لأولئك العبيد الذين إذا جاء سيدهم يجدهم ساهرين &#8221; (لو ٣٦:١٢). وفي إنجيل معلمنا متی البشير عندما ضرب الرب الأمثلة عن ملكوت السموات قال : يشبه ملكوت السموات إنسانا صنع عرسا لأبنه وأرسل عبيده ليدعوا المدعوين إلى العرس فلم يريدوا أن يأتوا &#8221; (مت ۲:۲۲) . وفي تشبيه نفسه بالعريس الذي سيأتي لأخذ العذاري قال &#8220;إن هناك</p>
<p>عذاری حکیمات وعذاري جاهلات ، أما الحكيمات، فقد أخذن في آنيتهن</p>
<p>زيتا انتظارا للعريس ، ذاك الذي أغفلته وأهملته الجاهلات ، ولما جاء العريس</p>
<p>في منتصف الليل إستيقظن العذاري جميعا. والخمس الحكيمات دخلن معه إلي العرس، أما الجاهلات فبينما هن ذاهبات ليبتعن زيتا، جاء العريس والمستعدات وحدهن هن اللواتي دخلن معه إلي العرس وأغلق الباب&#8221; (مت ٢٥). وقد شهد يوحنا المعمدان كخادم لأنبياء العهد القديم بأن الذي عمده هو العريس السماوي؟، وأنه ينبغي أن يزيد بينما يوحنا نفسه ينقص.ويقول من له العروس فهو العريس وأما صديق العريس الذي يقف ويسمعه فيفرح فرحا من أجل صوت العريس.إذا فرحي هذا قد كمل (يو ٣ :٢٩). وبولس الرسول كان يشعر في خدمته أنه يقوم بدور الإشبين كما كان الحال قديما في أفراح العرس . ومهمة الأشبين أن يقدم العروس عذراء واثقا متأكدا من طهرها ، سعيد أن يرتبط بعريسها ، وأما هو ففرحه يكمل بهذا الدور . يقول &#8221; إني أغارعليكم غيرة الله ، لأني خطبتكم لرجل واحد لأقدم عذراء عفيفة للمسيح&#8221; (۲کو ۲:۱۱) .</p>
<p>التزامات هذه العلاقة المقدسة :</p>
<p>١- الوفاء والأمانة :</p>
<p>إن الخطية ليست مجرد كسر وصايا الله ، ولكنها كسر لقلبهالمحب .. إن الله أمين إلى المنتهی ، وعدم أمانتنا لا تبطل أمانته .. إن مجرد التأمل في الصليب وآلام الرب في أسبوعه الأخير كفيل أن يلهب القلب بلواعج الحب والإخلاص والأمانة .. يقول الكتاب : &#8220;وهو مات لكي يعيش الأحياء فيما بعد لا لأنفسهم بل للذي مات لأجلهم وقام &#8221; العروس إن خانت عريسها ترجم في العهد القديم ، وتطلق في العهد الجديد ،والنفس التي تخون عريسها السماوي تحرم من الأبدية وتحيا في عذاب أبدي.</p>
<p>٢- العشرة المقدسة:</p>
<p>كيف نتصور عروسا لا تطيق أن تحيا مع عريسها ؟ وكيف يمكن أن نقبل أن عروسا تهرب من لقاء عريسها؟ إن العروس المخلصة لعريسها تتلهف تتلهف علي ساعة تقضيها مع من أحبها. إن عمرها كله يقاس بساعات العشرة والألفة بينهما.لهذا تستعلن هذه الشركة المقدسة أن نقضي ساعات طويلة في المخدع للصلاة والمناجاة والحوار مع الرب .. أن نتأمل في حديثه لنا في الكتاب المقدس ؛ ونتلذذ به، ونصغي إليه جيدا وتطبعه وننفذ وصاياه .. أن نأخذ فترات، خلوة وإعتكاف للهدوء والصلاة والعبادة. إن هذا ليس فرضا أو واجبا قهريا ، وإنما هو دلالة على الحب والإخلاص وصدق في الإحساس بالشركة المقدسة بين العروس وعريسها السماوى .</p>
<p>٣- أن نحيا في الفرح والنور :</p>
<p>ليس من عرس إلا ويرتبط بالأفراح والأنوار . وليس من عروس إلاوتتزين لعريسها دائما . والقديس أبو مقار عندما شاهد امرأة زانية طلب من أبنائه الرهبان أن يتطلعوا إليها ثم قال : « إنظروا كم هذه تتعب في تزيين نفسها لعشاقها، ونحن لا نتعب لتزيين قلوبنا وحياتنا الداخلية لعريسنا السماوي&#8221; وأنتفع أبناؤه من هذا الكلام كثيرا. إن الذين يعيشون في الدرس الذي لا يتعلق به ومجيد هم أولئك الذين احتقروا أباطيل العالم لأن الفرح مرتبط كيانيا بالتجرد ،والحزن الرديء مرتبط بالشهوة وحب الأقتناء . ومسيحيتنا بشارة مفرحة ودعوة إنجيلية تدعو النفس إلي أن تدخل في الفرح ويدوم فرحها. وسر الفرح الحقيقي هو اللقيا السماوية&#8221; سترونني وتفرحون ولا يستطيع أحد أن ينزع فرحي منكم&#8221;..والذين يعيشون في الفرح هم أيضا الذين يعيشون في النور. أنهم أبناء نور أبناء القيامة. الذين أحبوا النور ورفضوا أعمال الظلمة ووبخوها . هم وحدهم الذين يتمتعون بأفراح العرس الداخلي. أما الذين يعيشون في الحقد والكراهية والكبرياء والتعالي وهموم الحاة فهؤلاء هم الذين ينتزع الفرح منهم، ولا يقبلون إلي العرس، مثل أولئك الذين إعتذروا لأن لديهم سبع بقرات أو عندهم حقل.. هذه العلل التي يتعلل بها القلب ليبرر حالته وبؤسه وسأمه وحزنه العميق.</p>
<p>٤-أن نحفظ ثوب العرس طاهرا:</p>
<p>العروس تعتز بثوب الزفاف. إنه جميل ورائع. إنه ناصع البياض إشارة إلي الطهارة والعفاف الداخلي.وسفر الرؤيا يمتدح الذين حفظوا ثيابهم طاهرة وغسلوها في دم الحمل.يطوب الذين هربوا من الثوب المدنس..والذين آمنوا بقدسية العلاقة القائمة بين نفوسهم والحق يحرصون علي أن يبقي ثوب العرس بلا دنس..إنهم يعرفون أن الذين لم يكونوا لابسين ثوب العرس طردوا من الحقل كما قال الرب..هكذا يحرص المؤمنون القديسون علي طهارة سيرتهم ونقاوة سريرتهم وعذراوية قلوبهم وأفكارهم ومشاعرهم.</p>
<p>٥- أن نعد أنفسنا للوليمة السماوية:</p>
<p>العرس حاضر ومستقبلي أيضا. الملكوت قائم بيننا وننتظر مجيئه بمجد عظيم مصلين دائما في الصلاة الربانية &#8220;ليأت ملكوتك&#8221; والذين أدركوا أنهم مدعوون للعرس السماوي يدربون أنفسهم علي الإشتراك في الوليمة السماوية هنا في هذا الزمان الحاضر. القداس الإلهي وليمة سماوية ودعوة للعرس والفرح المجيد&#8221;عندما نقف أمامك نحسب كالقيام في السماء&#8221; . والذين إتسعت قلوبهم بالحب الإهي للصلاة وممارسة الليتورجيات وصارت فرحتهم ومتعتهم في التسبيح والترنيم هؤلاء هم الذين يؤهلون للتسبيح مع خورس السمائيين في أورشليم السمائية. لقد سمع يوحنا الرائي تطويب هؤلاء عندما قال له الملاك &#8221; أكتب طوبی للمدعوين إلى عشاء عرس الخروف&#8221; (رؤ ۱۹: ٩) .. وفي مطلع الكتاب المقدس نجد الكتاب يعلن لنا عن العرس السماوي ووجود الله مع آدم في الجنة متمتعا بالأكل من يديه الطاهرتين. وفي ختام الکتاب المقدس يطالعنا الرائي بقوله « وأنا يوحنا رأيت المدينة المقدسة أورشليم الجديدة نازلة من السماء من عند الله مهيأه كعروس مزينة لرجلها ، وسمعت صوتا عظيما من السماء قائلا &#8220;هوذا مسكن الله مع الناس وهو سيسكن معهم ،وهم يكونون له شعبا ، والله نفسه يكون معهم إلها لهم&#8221; (رؤ ٢١ : ٢، ٣)<a href="#_ftn8" name="_ftnref8">[8]</a>.</p>
<h4>المتنيح الأرشيدياكون رمسيس نجيب</h4>
<p>غير اللابس ثياب العرس</p>
<p>عرس ابن الملك فرح ومسرة كله. العرس مستعد لكن المدعوين غير مستحقين فقد أثروا اهتمامات الأرض على الفرح الحقيقي. وبدلا من أن يبادلوا الملك حبا بحب شتموا عبيده وقتلوهم، حتى أرسل جنوده ليحرق مدينتهم.</p>
<p>هذا العرس هو ملكوت السموات المنظور. كل الذين اعتذروا عن الحضور هم بالضرورة أشرار. كما أنه ليس كل الذين حضروا أبرار، فقد كانوا خليطا يمتزج فيه الزوان مع الحنطة أي أشرار مع صالحين.</p>
<p>لكم يزعجني ذلك الإنسان الذي لم يكن مرتدياً ثياب العرس. إنه رمز ومثل تختبئ فيه الكثرة غير المسئولة التي تطلب الملكوت من أجل امتيازاته ولكنها لا تبالي بمطالبه. عرس الحمل الأبدى لن يسمح لشرير أن يدخله. نظرتك يا صاحب العرس تفضحني فلقد تسللت خفية إلى عرسك ولم يعرف عبيدك ذلك فلم يكن في مقدروهم أن يعرفوا أنني بلا ثياب، لأن تلك الثياب التي لعرسك وفرحك لا تشاهد بالعين الترابية، هي تشاهد فقط في الحالة الداخلية للقلب، يليسها أبرارك ويبتهجون ولا يوجدون بعد عراة.</p>
<p>يارب في يختبئ الزوان الذي يفسد جمال الحنطة. ولكن ربي دعني أتساءل كيف تدعو الأشرار إلى وليمة عرس ابنك؟</p>
<p>اسمع يا ابني : &#8220;إنها نعمتي التي تدعوكم وأنتم في غير استحقاق. فأنا رب الأبرار لازلت أيضاً أب الأشرار الذين يريدون أن يتحولوا إلى حنطة، الأشرار الذين كرهوا شرهم وتاقوا إلى الحياة المقدسة&#8221;. ولكن يا إلهي دعنى أتساءل ما هي ثياب العرس حتى أرتديها وأقتنيها وأكون من خاصتك. هل في سر الإفخارستيا &#8211; سر حبك وكسر جسدك &#8211; تكون ثياب العرس؟</p>
<p>&#8220;اسمع يا ابنى كم هو مجيد جدا حينما يتقدم هؤلاء المرتدون ثياب عرس وشهوة قلوبهم أن يتحدوا بي، ليصيروا عظماً من عظمي ولحماً من لحمى أعضاء جسدي السري الذي هو الكنيسة. ليس كل من يتقدم إلى سر جسدى ودمى يكون بالضرورة لابسا ثياب العرس. فليس كل الذين يخدمون اسمى بالضرورة من تلاميذي أو من الذين يرتدون ثياب عرسي، إنهم &#8211; وما أكثرهم &#8211; يملأون الكنيسة بحياتهم الشريرة، إن الزوان والحنطة يوجدان معاً فی كنيستى ، هم يخدمون ذواتهم، هم يسرقون مجدى ، ليسوا من تلاميذي .يا خطاة داخل الملكوت ويا عراة في عرس ابني، البسوا المحبة .المحبة من قلب طاهر وضمير صالح وإيمان بلا رياء.</p>
<p>يا من حضرت الي وليمة عرس ابنى فخوراً بايمانك ، حاول ان تميز اي ايمان تمتلك حتى تميز جيداً اي لباس ترتديه.</p>
<p>يمكنك وبسهولة جداً ان تقتني المحبة ولا تؤمن بى.&#8221; يا خطاة الملكوت&#8221; اقتنوا الايمان مع المحبة فهذا هو لباس العرس.</p>
<p>أحبوا الله أولا، يمكنكم أن تحبوا أنفسكم من أجل الله وتعرفون محبة القريب. أحبوا أعداءكم، لا يجب أن يكون هذا الأمر صعبا. فكل إنسان هو قريبك حتى عدوك أو من يخالفك في الرأي.</p>
<p>يا من تحب المسيح هل تتأمل العريس على الصليب وكيف غفر للشاتمين والصالبين، شاهد بحبه أستفانوس المبارك الذي صلى من أجل راجميه . أيها الخدام، يا من تملأون الكنيسة بحياتهم الشريرة، أنتم تبذرون وتزرعون الكراهية تحت اسم أقدس المبادئ، امتدوا إذن بحبكم ليشمل الأضداد والأعداء، ألبسوا إذن ثياب العرس تزينون بها أرواحكم. أليست هذه الثياب هي صورة الله لأن الله محبة. <a href="#_ftn9" name="_ftnref9">[9]</a>.</p>
<h3>من وحي قراءات اليوم</h3>
<p>&#8221; كما أنا أيضاً أرضي الجميع في كل شئ غير طالب نفعي وحدي بل نفع الكثيرين لكي يخلصوا &#8221;  البولس</p>
<p>عين اللوم أم عين المساعدة ؟</p>
<p></p>
<p>+ كيف نري كل يوم من نقابلهم ؟ هل بعين اللوم لهم لنقائصهم أم بعين المساعدة لما ينقصهم ؟</p>
<p>+ ما أسهل أن تكتشف في كل من تقابله أخطاؤه ، وما أصعب أن تشعر بإحتياجه</p>
<p>+ أحياناً إلقاء اللوم علي الآخرين هو أفضل طريقة للهروب من مواجهه النفس</p>
<p>+ يسمح الله أن نقابل كل يوم أناساً لنساعدهم لكننا نستغرق وننحصر في لومهم</p>
<p>+ وبينما يكشف عدو الخير لنا أخطاء من نقابلهم كل يوم لننشغل بالحكم عليهم مادامت  أعيننا ثاقبة فاحصة ، في الوقت الذي فيه يكشف الله أيضاً عن إحتياجات من نقابلهم رغم أخطاؤهم الواضحة مادامت قلوبنا حسّاسة ، فهل يا تُري مع من نحن نعمل ؟</p>
<p>+ &#8221; الذي جال يصنع خيراً &#8221; أع ٣٨:١٠ آية تعلن ماذا يريد الله من أبناء العهد الجديد</p>
<p>+ عندما نلوم الآخرين نكشف ضعفهم وعُرْيهم وعندما نساعدهم يبدأ شفاؤهم</p>
<p>+ من يساعد لا ينشغل بإستحقاق الناس ومن يلوم لا يري أحداً يستحق</p>
<p>+ غالباً مانلوم عليه الناس يلومونا آخرين عليه لنفس السبب</p>
<p>+ &#8221; أعطيني لأشرب &#8221; يو ٧:٤ طلبة إحتياج يطلبها إله المعونة من إمرأة خاطئة ( ليُساعدها علي إكتشاف ما تحتاجه ) رغم أن اللوم يملأ حياتها</p>
<hr />
<p><a href="#_ftnref1" name="_ftn1"></a>٤٥- تفسير بطرس الأولي ٥ &#8211; القمص تادرس يعقوب ملطي</p>
<p><a href="#_ftnref2" name="_ftn2"></a>٤٦- المرجع : كتاب تفسير إنجيل يوحنا ( المجلد الثاني &#8211; الإصحاح الثامن ) &#8211; ترجمة دكتور نصحي عبد الشهيد</p>
<p><a href="#_ftnref3" name="_ftn3"></a>٤٧- المرجع : عظات علي سفر العدد صفحة ١٢٣ &#8211; ترجمة المتنيح القس برسوم عوض ومراجعة الدكتور نصحي عبد الشهيد</p>
<p><a href="#_ftnref4" name="_ftn4"></a>٤٨- المرجع : كتاب عطية الروح القدس ( صفحة ١٧ ، ١٨ ) &#8211; القمص تادرس يعقوب ملطي</p>
<p><a href="#_ftnref5" name="_ftn5"></a>٤٩- المرجع : تفسير سفر عزرا ( الإصحاح العاشر ) &#8211; القمص تادرس يعقوب ملطي</p>
<p><a href="#_ftnref6" name="_ftn6"></a>٥٠- المرجع : كتاب المنجلية القبطية الأرثوذكسية &#8211; قداسة البابا تواضروس الثاني</p>
<p><a href="#_ftnref7" name="_ftn7"></a>٥١- المرجع : كتاب إختبرني يا الله ( صفحة ٢٧٧ ) &#8211; قداسة البابا تواضروس الثاني</p>
<p><a href="#_ftnref8" name="_ftn8"></a>٥٢- المرجع : كتاب ألقاب المسيح ووظائفه ( صفحة ٦٩ ) &#8211; الأنبا بيمن أسقف ملوي</p>
<p><a href="#_ftnref9" name="_ftn9"></a>٥٣- مجلة مدارس الاحد عدد شهر ابريل لسنة ٢٠٠٣ &#8211; عرض إمتثال سوس شرموخ</p>

      {% endcreateArticleAccordions %}
    </section>
  {% endblock %}
  