---
layout: 'layouts/reading.html'
title: 'اليوم الثلاثون من شهر مسري'
permalink: annual/12-30.html
---
  {% block content %}
    <section id="readings">
      <ul>
      {% if '19.5:11-12' != 'null' %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">العشية</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeVespers '19.5:11-12' '40.13:53-58' %}
          </div>
        </div>
      </li>
      {% endif %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">باكر</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeMatins '19.101:8' '40.14:1-5' '' %}
          </div>
        </div>
      </li>
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <h3 class="flex items-center justify-between">
            <span class="kufi">القداس</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </h3>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeLitugy '49.4:8-16' '61.1:19-21*@+61.2:1-3' '44.7:30-37' '19.50:23,14' '42.14:16-24' %}
          </div>
        </div>
      </li>
        </ul>
    </section>
    <section id="article">
      <h3 class="mt-8 mb-4 heading-explain">شرح القراءات</h3>
      {% createArticleAccordions firstName, lastName %}
        <p><strong>( نياحة ملاخي النبي )</strong></p>
<p>ولكم أيها المتقون اسمي تشرق شمس البر والشفاء في أجنحتها</p>
<p>(ملا ٤ : ٢)</p>
<p>نعم نؤمن بالروح القدس … الناطق في الأنبياء &#8221; قانون الإيمان</p>
<p><a href="#_ftn1" name="_ftnref1">[1]</a>   &#8221; ملاخي، آخر كل الأنبياء يتحدث بكل صراحة عن رفض إسرائيل ودعوة الأمم &#8221;</p>
<h3>شواهد القراءات</h3>
<p>(مز ٥ : ١٠ ، ١١ ، ١٢ ، ١٣) ، (مت ١٣ : ٥٣ &#8211; ٥٨) ، (مز ١٠٠ : ١٠) ، (مت ١٤ : ١ &#8211; ٥) ، (أف ٤ : ٨ &#8211; ١٦) ،(٢بط ١ : ١٩ -٢ : ٣) ، (أع ٧ : ٣٠ &#8211; ٣٧) ، (مز ٤٩ : ١٨ ، ١٢) ، (لو ١٤ : ١٦ &#8211; ٢٤)</p>
<h3>ملاحظات علي قراءات يوم ٣٠ مسري</h3>
<p>+ آية ٧ &#8221; وليفرح جميع المتِّكلين عليك . إلي الأبد يُسرُّون &#8221; جاءت في مزمور عشيَّة اليوم ، ومزمور عشيَّة الأحد الثالث من شهر مسري</p>
<p>مجيئها اليوم للإشارة إلي أنبياء العهد القديم (ملاخي النبي ) ، وإلي والدة الإله في الأحد الثالث من شهر مسري</p>
<p>+ قراءة إنجيل باكر اليوم (مت ١٤: ١ &#8211; ٥) هي جزء من قراءة إنجيل عشيّة (مت ١٤ : ١ &#8211; ١٢) يوم ٢ توت ( شهادة يوحنا المعمدان ) ، وهو الجزء الذي يحكي إستشهاد يوحنا المعمدان ، ويأتي هذا الجزء في قراءة باكر اليوم في تذكار ملاخي النبي لأجل نهايته التي تقول ( كان عندهم مثل نبيّ )</p>
<p>+ قراءة الكاثوليكون اليوم (٢بط ١ : ١٩ &#8211; ٢ : ١ &#8211; ٨) تُشبه قراءة الكاثوليكون ليوم ٨ توت (٢بط ١ : ١٩ &#8211; ٢: ١ &#8211; ٣) ، وقراءة الكاثوليكون (٢بط ١ : ١٩ &#8211; ٢ : ١ &#8211; ٩) في الأحد الثالث من شهر بؤونه</p>
<p>وهنا الكلام عن كرامة الأنبياء (وثابت عندنا كلام الأنبياء ) ووحي النبوَّة ( بل تكلَّم أناس بإرادة الله بالروح القدس )</p>
<p>لذلك جاءت القراءة مع تذكار موسي النبي ( ٨ توت ) ومعه أنبياء العهد القديم وجاءت في تذكار خاتم أنبياء العهد القديم ملاخي النبي ( ٣٠ مسري ) ، وأيضاًقراءة الأحد الثالث من شهر بؤونه</p>
<p>+ قراءة الإبركسيس اليوم (أع ٧: ٣٠ &#8211; ٣٧) تُشبه قراءة الإبركسيس (أع ٧ : ٣٠ &#8211; ٣٤) للأحد الثاني من شهر كيهك</p>
<p>مجيئها اليوم في الآيات الزائدة ( ٣٥ &#8211; ٣٧ ) للإشارة إلي رفض إسرائيل لأنبياؤهم ، لذلك تكرَّر فيها تعبير &#8221; هذا هو موسي &#8221; ، بينما مجيئها في الأحد الثاني من كيهك للإشارة إلي ظهور الرب لموسي في العلِّيقة كرمز لتجسُّد الكلمة في ملء الزمان</p>
<p>+ قراءة الإبركسيس اليوم (أع ٧ : ٣٠ &#8211; ٣٧) تُشبه قراءة الإبركسيس (أع ٧ : ٢٠ &#8211; ٣٤) ليوم  ٢٤ بشنس ، يوم ٢٨ مسري ، وتتشابه مع قراءة الإبركسيس (أع ٧ : ٢٣ &#8211; ٣٤) ليوم ٢٩ برمهات ، وأيضاً مع قراءة الإبركسيس (أع ٧ : ٣٠ &#8211; ٣٤) في قراءات الأحد الثاني من شهر كيهك</p>
<p>قراءة اليوم تكلَّمت عن إعلان الله أنه إله إبراهيم وإسحق ويعقوب لذلك جاء في تذكارهم ، وتكلَّمت عن إحدي رموز التجسّد ظهور الرب في العليقة المُشتعلة لذلك جاءت في عيد البشارة ( ٢٩ برمهات ) ، والأحد الثاني من كيهك ، وتكلَّمت عن الإرسالية إلي مصر لذلك جاءت في تذكار دخول الرب أرض مصر ( ٢٤ بشنس ) ، وللإشارة إلي رفض إسرائيل لأنبياؤهم ( ٣٠ مسري )</p>
<h3>شرح القراءات</h3>
<p>تذكار اليوم هو نياحة ملاخي النبي ولأنه هو خاتم أنبياء العهد القديم لذلك تتكلّم قراءات اليوم عن ختم النبوة ومجد الأنبياء</p>
<p></p>
<p>تأتي المزامير لتُعلن لنا كمال رسالة الأنبياء فالفرح والإفتخار بالله إلي الأبد ( مزمور عشيّة ) والنقاوة من جميع الخطايا ( مزمور باكر ) والكمال في معرفة خلاص الله ( مزمور القدَّاس )</p>
<p></p>
<p>يتكلَّم مزمور عشيّة عن الفرح إلي الأبد والإتكال عليه والإفتخار به إعلان عن البركة التي أعطاها لهم الله</p>
<p>( وليفرح جميع المتكلين عليك إلي الأبد يسرون ويفتخرون بك كل الذين يحبون إسمك لأنك أنت بَارَكْت الصديق يارب )</p>
<p>وفِي مزمور باكر كمال النقاوة وإبادة كل أفكار الشر كما يقول القديس غريغوريوس النيسي</p>
<p>( * المدينة هي النفس، كل الأفكار الشريرة هي &#8220;فاعلو الإثم&#8221; (مز 101: 8)، فإن كنا نهلكها تزدهر ميولنا الصالحة .</p>
<p>( في أوقات الغدوات كنت أقتل جميع خطاة الأرض لأُبيد من مدينة الرب جميع صانعي الإثم )</p>
<p>ويجب أن نهلكها من بدايتها كما يقول القديس باسيليوس الكبير والقديس أنسيموس الأورشليمي ( تفسير المزمور )</p>
<p>وفِي مزمور القدَّاس كمال التمجيد ومعرفة الخلاص</p>
<p>( ذبيحة التسبيح تمجدني وهناك الطريق حيث أريه خلاص الله أوف العلي نذورك )</p>
<p></p>
<p>وتتكلّم القراءات عن كمال موهبة النبوّة في كنيسة العهد الجديد ( البولس ) وأساس الأنبياء ووحي النبوة ( الكاثوليكون ) وكمال رسالتهم في تدبير الخلاص ( الإبركسيس )</p>
<p></p>
<p>في البولس تأتي موهبة النبوّة بعد الآباء الرسل مباشرة لإظهار عِظَمْ قدرها وموهبة النبوة في العهد الجديد هدفها إعلان فكر الله وتدبيره في الكنيسة المُقدَّسة</p>
<p>( وهو أعطي البعض أن يكونوا رسلاً والبعض أنبياء والبعض مُبشرين والبعض رعاة ومعلِّمين لأجل تكميل القديسين لعمل الخدمة لبُنيان جسد المسيح إلي أن ننتهي جميعنا إلي وحدانية الإيمان ومعرفة إبن الله )</p>
<p>وفِي الكاثوليكون عن أهمّية رسالة أنبياء العهد القديم في الإعداد لخلاص العهد الجديد ووحي الأنبياء بالكامل من الروح القدس والتحذير من الأنبياء الكذبة</p>
<p>( وثابت عندنا كلام الأنبياء هذا الذي هو نعم ما تصنعونه إذا تأمّلتم إليه كمثل سراج مضئ في موضع مظلم حتي يظهر النهار والنور يشرق ويظهر في قلوبكم وهذا أولاً فاعلموه أن كل نبوات الكتب ليس تأويلها من ذاتها خاصة وليست بمشيئة البشر جاءت نبوة في زمانٍ بل تكلَّم أناس بإرادة الله بالروح القدس وقد كانت أنبياء كذبة في الشعب … هؤلاء الذين يأتون ببدع هلاك )</p>
<p>وفِي الإبركسيس عن كمال رسالتهم في الإشارة إلي تدبير خلاص العهد الجديد</p>
<p>&#8221; هذا هو موسي الذي قال لبني إسرائيل أنه سيُقيم لكم الربُّ الإله من وسط اخوتكم نبياً مثلي له تسمعون &#8221;</p>
<p></p>
<p>وتتكلّم الأناجيل عن كيف تجاوب الناس مع إرسالية ابن الله في تحقيق ملء النبوّات ( انجيل عشيّة ) وإرسالية يوحنا المعمدان ( إنجيل باكر ) وإرسالية أنبياء العهد القديم ( انجيل القدَّاس )</p>
<p></p>
<p>في إنجيل عشيّة نري عثرة أبناء وطنه فيه رغم القوات الكثيرة التي صنعها هناك وهنا يُشبّه الرب نفسه بالنبي لأن رسالة الأنبياء هي إعلان فكر الآب وقيادة البشر إلي معرفة الله والرب يسوع في تجسّده هو الذين أظهر كمال معرفة الآب لأنه واحد مع الآب ولأنه هو الإبن الوحيد الذي في حضن الآب فهو الذي خبّر</p>
<p>( ودخل في وطنه وكان يعلّمهم في مجامعهم حتي بُهتوا وقالوا من أين لهذا هذه الحكمة وهذه القوات … فكانوا يعثرون به وأما يسوع فقال لهم ليس نبيّ مهان في جهه ما إلَّا في وطنه وفِي بيته ولم يصنع هناك قواتٍ كثيرةً لعدم إيمانهم )</p>
<p>وفِي إنجيل باكر عن إرسالية يوحنا المعمدان ( وهي موضوع سفر ملاخي كما جاء في سيرته في سنكسار اليوم ) وشهادته للحق ومهابة رسالته حتي بعد موته التي جعلت هيرودس الملك يرتعب ويعتقد أنه قام من بين الأموات</p>
<p>( وفِي ذلك الزمن سمع هيرودس رئيس الربع خبر يسوع فقال لفتيانه هذا هو يوحنا الصابغ فإنه قام من الأموات ومن أجل هذا تُعمل به القوات فإن هيرودس كان قد أمسك يوحنا وربطه وطرحه في السجن من أجل هيروديا إمرأة فيلبس أخيه لأن يوحنا كان يقول له لا يحلّ لك أن تتخذها وأراد أن يقتله فخاف من الجمع لأنه كان عندهم مثل نبيٍّ )</p>
<p>ويختم إنجيل القدَّاس بمثل الوليمة والعشاء المُعدّ أي وليمة العهد الجديد التي أرسل للإعداد لها أنبياء – العبيد – كثيرين وبينما رفضت الأمة اليهودية وأهل خاصته الدعوة المجانية للخلاص قبلها من كانوا في الطرق والسياجات أي الأمم والشعوب الغريبة</p>
<p>( فقال له إنسان صنع وليمة ودعا كثيرين وأرسل عبده في ساعة العشاء ليقول للمدعوين تعالوا لأن كلَّ شئٍ قد أعدَّ فإبتدأوا جميعاً يستعفون بصوت واحد … حينئذ غضب رب البيت وقال لعبيده أخرج سريعاً إلي الأزقة وشوارع المدينة وأدخل إلي هذا المكان المساكين والجُدع والعمي والعرج … اخرج إلي الطرق والسياجات وألزمهم بالدخول حتي يمتلئ بيتي لأني أقول لكم أنه ليس واحدٌ من أولئك الرجال المدعوين يذوق عشائي )</p>
<h3>ملخّص القراءات</h3>
<p>مجد الأنبياء في إتّكالهم علي الله ونقاوة حياتهم وذبيحة تسبيحهم             مزمور عشيّة وباكر والقدّاس</p>
<p>وحدة النبوَّة في العهدين في تدبير الخلاص وبنيان الكنيسة وكمال الرسالة  البولس والكاثوليكون والإبركسيس</p>
<p>تجاوب الناس مع إرسالية إبن الله وإرسالية يوحنا المعمدان وإرسالية أنبياء العهد القديم</p>
<p>إنجيل عشيّة وباكر والقدّاس</p>
<h3>أفكار مقترحة للعظات</h3>
<h4>( ١ ) رسالة الأنبياء وكرامتهم</h4>
<p>١- رفض رسالة النبي من خاصته</p>
<p>&#8221; وأمَّا يسوع فقال لهم ليس نبيُّ مهان في جهةٍ ما إلَّا في وطنه وفِي بيته &#8221;                    إنجيل عشيَّة</p>
<p>٢- مهابة الأنبياء وخوف الملوك منهم</p>
<p>&#8221; وأراد أن يقتله فخاف من الجمع لأنه كان عندهم مثل نبيٍّ &#8221;                                    إنجيل باكر</p>
<p>٣- موهبة النبوة هي التالية بعد الآباء الرسل وأهميتها لبنيان الكنيسة</p>
<p>&#8221; وهو أعطي البعض أن يكونوا رسلاً والبعض أنبياءً والبعض مُبشِّرين &#8221;                     البولس</p>
<p>٤- ثبات كلام الأنبياء ووحي النبوة بالروح القدس</p>
<p>&#8221; وثابت عندنا كلام الأنبياء الذي هو نعم ما تصنعونه &#8230; بل تكلَّم أناس بإرادة الله بالروح القدس &#8221;  الكاثوليكون</p>
<p>٥- الحذر من الأنبياء الكذبة</p>
<p>&#8221; وقد كانت أنبياء كذبة في الشعب مثل ما يكون فيكم مُعلِّمون كذابون &#8221;                     الكاثوليكون</p>
<p>٦- نبوة موسي النبي عن الكلمة المُتجسِّد</p>
<p>&#8221; &#8221; هذا هو موسي الذي قال لبني إسرائيل أنه سُيقيم لكم الربُّ الإله من وسط اخوتكم نبياً مثلي له تسمعون &#8221;                    الإبركسيس</p>
<p>٧- جوهر رسالة الأنبياء كخُدَّام للخلاص</p>
<p>&#8221; فقال له إنسان صنع وليمة ودعا كثيرين وأرسل عبده في ساعة العشاء ليقول للمدعوين تعالوا لأن كلَّ شئٍ قد أُعِدَّ &#8221;       إنجيل القدَّاس</p>
<h4>(٢) حياة الخلاص</h4>
<p>١- محبِّة الإنسان لله هي أساس البنيان وضمانه</p>
<p>ويفتخرون بك كل الذين يُحبِّون إسمك &#8221;         مزمور عشية                                                             مزمور عشيَّة</p>
<p>بل صادقين في المحبّة لننموا في كل شئ به &#8221;     البولس                                                     البولس</p>
<p>٢- الحذر من الإثم والخطية والأمور المُحرَّمة</p>
<p>لأُبيد من مدينة الربِّ جميع صانعي الإثم &#8221; مزمور باكر</p>
<p>&#8221; لا يحل لك أن تتخذها &#8221; إنجيل باكر</p>
<p>٣- هدف حياة الخلاص وقياس كمالها</p>
<p>&#8221; إلي أن ننتهي جميعُنا إلي وحدانية الإيمان ومعرفة إبن الله إلي إنسانٍ كاملٍ إلي قياس قامة ملء المسيح &#8221;  البولس</p>
<p>٤- ثمار حياة الخلاص إشراقة نور المسيح له المجد في القلب</p>
<p>&#8221; وثابت عندنا كلام الأنبياء هذا الذي هو نِعْمَ ما تصنعونه إذا تأمَّلتم إليه كمثل سراج مضئ في موضعٍ مظلمٍ حتي يظهر النهار والنور يُشرق ويظهر في قلوبكم &#8221;                                                    الكاثوليكون</p>
<p>٥- الله هو المُبادر ومُدبِّر الخلاص لكنيسته وشعبه وأولاده</p>
<p>&#8221; قد رأيت عياناً مشقة شعبي الذين في مصر وسمعتُ أنينهم ونزلتُ لأخلِّصهم &#8221;        الإبركسيس</p>
<p>٦- التسبيح والشكر هو طريق خلاص الإنسان</p>
<p>&#8221; ذبيحة التسبيح تُمجِّدني وهناك الطريق حيث أُريه خلاص الله &#8221;                          مزمور القدَّاس</p>
<p>٧- الخلاص دعوة عُرْس إلهي مجَّانية لكل البشر</p>
<p>&#8221; فقال السيد للعبد اخرج الي الطرق والسياجات وألزمْهُم بالدخول حتي يمتلئ بيتي &#8221;    إنجيل القدَّاس</p>
<h4>( ٣ ) وليمة العشاء               إنجيل القدَّاس</h4>
<p>١- معني الوليمة</p>
<p>&#8221; صنع وليمة ودعا كثيرين &#8221;</p>
<p>الوليمة هنا هي دعوة الخلاص والغني الإلهي المجاني الذي يريد الله أن يعطيه لكل البشر ( هكذا أحب الله العالم .. يو ٣ : ١٦ )</p>
<p>٢- من هم المدعوين ؟</p>
<p>&#8221; المساكين والجدع والعمي والعرج &#8221;</p>
<p>هم الذين يعيشون بإحساس يقيني بالإحتياج الدائم للمُخلِّص ولفقرهم بدونه ( المساكين بالروح ) ولا يشعرون بإكتفاء كاذب ( الشقي وبائس .. رؤ ٣ : ١٧)</p>
<p>٣-من الذين أرسلهم الرب ؟</p>
<p>&#8221; وأرسل عبده &#8230;&#8221;</p>
<p>هم أنبياء العهد القديم ولآباء الرسل والرعاة والخدّام وكل الذين يُعْلِنون محبِّة الله لكل إنسان</p>
<p>٤- رد فعل المدعوين</p>
<p>&#8221; أسألك أن تتركني لأني لست آتٍ &#8221;</p>
<p>ما أصعب وما أخطر أن يرفض الإنسان نداءات الحب الإلهي المُتكرِّرة بأنواع وطرق كثيرة ( كم مرة أردت .. لو ١٣ : ٣٤)</p>
<p>٥- خطورة العاطفة</p>
<p>&#8221; إني تزوَّجت بإمرأة فلذلك لا أقدر أن أجئ &#8221;</p>
<p>يختلف الشخص الثالث في رفضه دعوة السيد عن الإثنين الآخرين في أنه لم يسأل بل قال صراحة لا أقدر أن أجي وهذا يُبْرِز قيمة وأهميّة العاطفة في تحكُّمها في الإنسان فليست المشكلة هنا الزواج بل نير العاطفة خارج محبِّة الله وخلاص الزوجين</p>
<p>٦- خطورة رفض الدعوة</p>
<p>&#8221; ليس واحد من أولئك الرجال المدعوين يذوق عشائي &#8221;</p>
<p>لذلك يقول القديس بطرس ( إجتهدوا أن تجعلوا دعوتكم .. ٢بط ١ : ١٠)</p>
<p>ويحذّر القديس بولس ( لا يري احد قد خاب منه .. عب ٤ : ١)</p>
<h3>عظات آبائية</h3>
<h4>الدعوة إلى العشاء العظيم عند القديس كيرلس الكبير</h4>
<p>ومرة أخرى ، إن معنى الدروس المطروحة أمامنا يضطرنى أن أقول إن أثمار الأعمال الصالحة إنما هي جديرة بالثناء ، لأن تعب القديسين ليس بلا مكافأة ، لأنهم يتعبون بمشقة لكى يحيوا تلك الحياة التي هي حقاً جديرة بالإعجاب عند الله والناس . فبولس الحكيم يكتب : &#8221; الله ليس بظالم حتى ينسى تعبكم ومحبتكم التي أظهرتموها نحو اسمه &#8221; (عب  ٦ : ١٠) ، وأيضا ً يستخدم كلمات متشابهة في موضع آخر : &#8221; لأن خفة ضيقتنا الوقتية تنشئ لنا أكثر فأكثر ثقل مجد أبدى ، ونحن غير ناظرين إلى الأشياء التي ترى بل إلى التي لا ترى ، لأن الأشياء التي ترى وقتية اما التي لا ترى فأبدية &#8221; (٢كو ٤ : ٧) . لأن الأشياء الوقتية هي الأرضية ، وهى التي نقول عنها إنها تدعى الأشياء التي ترى ، أما تلك الأشياء الآتية والتي لا ترى في الوقت الحاضر ، بل هي الأمور المرجوة عن الله فهى مخزونة لنا في منازل لا يمكن أن تتزعزع .</p>
<p>أما لمن أعدت هذه الأشياء ، ولمن سوف تعطى ، فهذا شرحه لنا المخلص هنا ، موضحا ً كما في صورة بالمثل الموضوع أمامنا   طبيعة وفاعلية التدبير ، ولكن من الضرورى على كل حال أن أذكر أولاً المناسبة التي أدت إلى هذا الحديث .</p>
<p>كان الرب يأكل في وليمة عند أحد الفريسين بصحبة آخرين كثيرين مجتمعين من أصدقاء دعاهم إلى الوليمة ، وهكذا فإن مخلص الجميع لكى يفيد أولئك المجتمعين هناك – إذ إنه يحب الرحمة بالحرى وليس الكرامة والعظمة – فإنه يقود هذا الذى دعاه إلى الكمال ، بألا يسمح له بأن يصرف بإسراف أويهدف إلى أن يظهر بأكثر مما تسمح له موارده الماليه لكى يحصل على مديح الناس ، لأنه قال : &#8221; إذا صنعت غذاء أو عشاء فلا تدع أصدقاءك ولا إخوتك ولا أقرباءك ولا الأغنياء ولا جيرانك . بل المساكين ، الجدع والعمى ، لأنه يقول : إن هؤلاء الذين يفعلون هكذا يكافأون في قيامة الأبرار &#8221; وهكذا فإن واحد من أولئك المتكئين معهم على المائدة ، عندما سمع مثل هذه الكلمات قال : &#8221; طوبى لمن يأكل خبزا في ملكوت الله &#8221; ربما هذا الرجل لم يكن روحانيا ولكنه كان لا يزال نفسانياً وغير مؤهل أن يفهم ما قاله المسيح فهماً سليماً . لأنه لم يكن بعد واحداً من الذين آمنوا ولا كان قد اعتمد بعد ، لأنه افتراض أن مجازاة القديسين بسبب أعمال محبتهم المتبادلة سوف تكون بأشياء مختصة بالجسد وبسبب أنهم كانوا حتى هذا الوقت إلى هذه الدرجة من غباوة القلب حتى يفهموا فكرة دقيقة ، فإن المسيح صاغ لهم مثلاً يوضح بما يحويه من صور ملائمة ، طبيعة التدبير المزمع أن يؤسسه لأجلهم ، ويقول : &#8221; إنسان صنع عشاء عظيماً ودعا كثيرين ، وارسل عبده في ساعة العشاء ليقول للمدعوين تعالوا لأن كل شيء قد أعد &#8221;</p>
<p>دعونا أولاً أن نتساءل هنا ما السبب في أن المدعوين قد دعوا إلى عشاء وليس إلى غذاء ؟ بل بالحرى وقبل هذا أيضاً ، من هو الإنسان الذى قيل عنه في المثل إنه أرسل عبده ليدعو إلى العشاء وأيضاً من هو الداعى ، ومن هم الذين دعوا ولكنهم احتقروا الدعوة . لذلك فينبغى أن نفهم أن المقصود بالإنسان هنا هو الله الآب إن التشبيهات قد صيغت لتمثل الحقيقة ، ولكنها ليست الحقيقة نفسها ، لذلك فخالق الكون وأبو المجد صنع عشاء عظيماً ، أي عيداً لكل العالم تكريماً للمسيح ، إذن ففي أزمنة هذا العالم الأخيرة ظهر الأبن لأجلنا . وفى ذلك الوقت أيضاً عانى الموت لأجلنا ، وأعطانا جسده لنأكل ، لأنه هو الخبز الذى من السماء الواهب حياة للعالم ونحو المساء أيضاً وعلى ضوء السرج كان يذبح الخروف بحسب ناموس موسى . لذلك ولسبب معقول نقول إن الدعوة التي بواسطة المسيح تدعى عشاء .</p>
<p>وبعد ذلك من هو الذى أرسل ، والذى يقال عنه إنه عبد ؟ ربما يكون المقصود هو المسيح نفسه . لأنه مع أن الله الكلمة هو بطبيعته إله ، والأبن الحقيقى لله الأب ، الذى ظهر منه ، إلا أنه ذاته ليأخذ شكل عبد . ولأنه أيضاً إله من إله فهو رب الكل ، ولكن يمكن استخدام لقب عبد بصواب عنه من جهه بشريته . ومع أنه – كما قلت – قد أخذ شكل عبد إلا أنه رب بسبب كونه إلهاً .</p>
<p>ومتى أرسل ؟ يقول : &#8221; وقت العشاء &#8221; لأن الكلمة الأبن الوحيد لم ينزل من السماء في بداية هذا العالم ليصير في الهيئة مثلنا ، بل بالحرى نزل عندما أراد الكلى القدرة نفسه ذلك ، أي في هذه الأزمنة الأخيرة كما سبق أن قلنا أيضاً منذ قليل .</p>
<p>وما هي طبيعة الدعوة ؟ &#8221; تعالوا !! لأن كل شيء قد أعد &#8221; لأن الآب قد أعد في المسيح لسكان الأرض تلك العطايا  التي منحت للعالم بواسطتة ، التي هي غفران الخطايا والتطهيرمن كل دنس ، وشركة  الروح القدس ، والتبنى المجيد له ، وملكوت السموات . وإلى هذه البركات دعا المسيح إسرائيل بواسطة وصايا الإنجيل قبل أن يدعو كل الآخرين ، لأنه يقول في موضع ما بصوت المرنم : &#8221; أنا أقمت منه ملكاً – أي بواسطة الله الآب – على صهيون جبل قدسه ، لأكرز بأمر الرب &#8221; (مز ٢ : ٦) وأيضاً : &#8221; أنا لم أرسل إلا إلى خراف بيت إسرائيل الضالة &#8221; (مت ١٥: ٢٤) .</p>
<p>فهل كان تصميمهم إذن لصالحهم ؟ هل نظروا بإعجاب إلى لطف ذلك الذى دعاهم ، وإلى وظيفة هذا الذى حمل الدعوة ؟ ليس هكذا لأنه يقول : &#8221;  فابتدأ الجميع للتو برأى واحد يستعفون – كما لو كان بغرض واحد وبلا إبطاء يعتزرون . قال الأول : إنى اشتريت حقلاً وأنا مضطر أن أخرج وأنظره . أرجوك أن تعفينى ، وقال له آخر : &#8221; إنى اشتريت خمسة ازواج بقر وأنا ماضى لأمتحنها ، أرجوك ، أن تعفينى ، وقال آخر : إنى تزوجت بامرأة فلذلك لا أقدر أن أجئ &#8221; . إنك تلاحظ أنهم إذ استسلموا تماماً وبحماقة لهذه الأمور الأرضيه ، فإنهم لم يتمكنوا أن يروا الأمور الروحية ، لأنهم إذ قد انغلبوا من محبة الجسد قد صاروا بعيدين عن القداسة وأصبحوا شهوانيين وجشعين للثروة . إنهم يطلبون تلك الأمور السفلى ولا يعتبرون بالمرة ذلك الرجاء والمواعيد المذخرة عند الله . كان الأفضل جداً أن يربحوا أفراح الفردوس بدلاً من الحقول الأرضيه وبدلاً من الفرحة المؤقتة – وهذا هو المقصود بأزواج البقر – أن يجمعوا أثمار البر ، لأنه مكتوب : &#8221; أزرعوا لأنفسكم بالبر ، واحصدوا كغلة الكرم ثمر الحياة &#8221; (هو ١٠ : ١٢ س) . أما كان يجب عليهم – بدلاً من الإنسال الجسدى للأطفال – أن يختاروا بالأحرى الإثمار الروحانى ؟ لأن الأول معرض للموت والفساد أما الآخر فهو أبدى وذا غنى دائم للقديسين .</p>
<p>ويقول المثل إن رب البيت لما سمع رفضهم ، فإنه غضب وأمر أن يجمعوا من الشوارع والأزقة ، المساكين والجدع والعمى والعرج . فىن هم الذين يمكن أن نفهم عنهم – كما قلت لكن – أنه من أجل الأراضي والفلاحة والإنجاب الجسدى للأولاد – رفضوا أن يأتوا ؟ إنهم بالضرورة هم هؤلاء الذى وقفوا في صدارة المجمع اليهودى ، الذى هم ذوو ثروات طائلة ، عبيد الشهوات ، الذين عقولهم منصبه على الربح ، الذين يركزون عليه كل اجتهادهم . لأنه في كل الكتاب الموحى به نراهم مستوجبين اللوم بسبب هذا الأمر نفسه .</p>
<p>فاولئك إذاً الذين هم أعلى مقاماً من جماعة الشعب العام لم يخضعوا أنفسهم للمسيح عندما قال لهم : &#8221; احملوا نيرى عليكم &#8221; (مت ١١ : ٢٩) . بل رفضوا الدعوة ولم يقبلوا الإيمان وظلوا بعيداً عن الوليمة ، وازدروا بالعشاء العظيم بسبب عصيانهم المتقسى أما عن كون الكتبة والفريسيين لم يؤمنوا بالمسيح ، فهذا ظاهر بما يقوله لهم : &#8221; أخذتم مفتاح المعرفة ، فلم تدخلوا والداخلون منعتموهم &#8221; (لو ١١ : ٥٢). لذلك فبدلاً منهم دعا الذين كانوا في الشوارع والأزقة الذين ينتسبون إلى عامة الشعب اليهودى الذين كان عقلهم مريضا ً غير ثابت ، مظلماً ومتوقفاً لأن مثل هؤلاء يمكن أن نعتبرهم عميان وعرج ولكنهم صاروا أقوياء واصحاء في المسيح وتعلموا أن يمشوا بأستقامة وقبلوا النور الإلهى في عقولهم . أما عن أن جمعاً كبيراً من اليهود لا يمكن إحصاءه بسهولة قد آمن ، فهذا يمكن أن نعرفه من سفر أعمال الرسل .</p>
<p>والمثل يقول إنه بعد أن دعا هؤلاء الذين في الشوارع ، فإن الذى كانت وظيفة أن يدعو إلى العشاء قال لصاحب البيت : &#8221; يوجد أيضاً مكان &#8221; . فقال السيد لخادمه : &#8221; اخرج إلى الطرق والسياجات وألزمهم بالدخول حتى يمتلئ بيتي لأني أقول لكم إنه ليس واحد من أولئك الرجال المدعوين يذوق عشائي &#8221; .</p>
<p>أرجوكم أن تلاحظوا هنا دعوة الأمم بالآيمان بعد أن دخل الإسرائيليون. كان الأمم في الزمان القديم لهم ذهن غير مثقف ، وسذجاً في الفهم ، أي أنهم كانوا خارج المدينة ، كما لو كانوا يعيشون في إباحية ، ويشابهون البهائم أكثر من البشر ، ويستخدمون العقل قليلاً ، وبسبب هذا الاعتبار فإن الداعى إلى العشاء أرسل إلى الطرق خارج المدينة وإلى السياجات في الحقول . بل والأكثر من هذا ، فإنه أمر من هذا الذى أرسله ، لا أن يدعوهم ويحضهم فقط بل وأيضاً يلزمهم . إن الإيمان بالنسبة لجميع الناس هو فعل إرادي ، وببلوغ البشر بحريتهم الخاصة  إليه يكونون مقبولين لدى الله وينالون عطاياه بوفرة. ولكن كيف ( في هذا المثل ) أن الناس يلزمون بالدخول. هذا ذكر هنا أيضاً عن قصد ، وكان هذا ضرورياً بل وضرورياً على نحو جازم بالنسبة للأمم الذين كانوا مقيدين بطغيان لا يحتمل ، والذين  كانوا واقعين تحت نير الشيطان والذين كانوا ممسوكين بشباك خطاياهم التي لا تنحل ، والذين كانوا جاهلين تماماً بهذا الذى هو بالطبيعة والحق ، الله فكان يلزم أن تكون دعوتهم بإلحاح كما لو كانت باستخدام القوة ، حتى يكونوا قادرين أن يتطلعوا نحو الله ، ويتذوقوا التعاليم المقدسة ، وأن يتركوا ضلالهم السابق ، وأن يخرجوا من يد الشيطان . لأن المسيح قال أيضاً : &#8221; لا يقدر أحد أن يقبل إلى إن لم يجتذبه الآب الذى أرسلنى &#8221; (يو ٦ : ٤٤) . إن الجذب هنا يعنى ضمناً أن الدعوة هي فعل بالقوة، وهذا لا يصنعه إلا الله  . ونجد أيضاً المغبوط داود يخاطب الله بعبارات مشابهه بخصوصهم ( الأمم ) : &#8221; بلجام وزمام تكبح ( تقييد ) فك هؤلاء الذين لا يقتربون اليك &#8221; (مز ٣١ : ٩س ) . ها أنت ترى كيف أن رب الكل بلجام يحول إلى نفسه هؤلاء الذين انحرفوا عنه ، لأنه صالح ومحب لجنس البشر ويريد أن  جميع الناس يخلصون وإلى معرفة الحق يقبلون .</p>
<p>لذلك فقد ظل رؤساء الشعب الإسرائيلي بعيدين عن العشاء لأنهم كانوا عنيدين ومتكبرين وعصاة ومحتقرين للدعوة الفائقة جداً ، لأنهم انحرفوا نحو الأشياء الأرضية وثبتوا عقولهم نحو انشغالات هذا العالم الباطلة . أما عامة الجمع فقد دعوا ( إلى الوليمة ) وبعدهم مباشرة وبدون إبطاء الوثنيون . لأن ربنا يسوع المسيح بعد أن قام من الأموات صرخ نحو رسله القديسين قائلاً : &#8221; دفع إلى كل سلطان في السماء وعلى الأرض ، اذهبوا وتلمذوا جميع الأمم وعمدوهم باسم الآب والأبن والروح القدس ، وعلموهم إن يحفظوا جميع ما أوصيتهم به ، وها أنا معكم كل الأيام وإلى انقضاء الدهر  &#8221; (مت  ٢٨ : ١٨ ، ١٩)<a href="#_ftn2" name="_ftnref2">[2]</a> .</p>
<h4>نبوة ملاخي النبي في فكر القديس أغسطينوس</h4>
<p>الآن أعود إلي ملاخي ؛ تنبأ هذا الإنسان عن الكنيسة التي امتدت بقوة المسيح واتسعت جداً ، فتحدث مع اليهود علي لسان الله : &#8221; ليست ليّ مسرة بكم ، قال رب الجنود ، ولا أقبل تقدمة من يدكم ، لأنه من مشرق الشمس إلي مغربها أسمي عظيم بين الأمم ، وفِي كل مكان يُقرب لاسمي بخور وتقدمة طاهرة ، لأن اسمي عظيم بين الأمم قال رب الجنود &#8221; (مل١: ١٠-١١) .الآن إن كنّا نري أنه في وقتنا هذا في كل مكانٍ من مشرق الشمس الي مغربها تُقدم هذه الذبيحة التي علي طقس ملكي صادق ، وإن كان اليهود لا يقدرون علي أي الأوضاع أن ينكروا أن ذبائحهم مرفوضة … فكيف يمكنهم أن يترقبوا مجيء مسيح آخر ؟ إنهم يقرأون النبوة ، ويرون تحقيقها أمام أعينهم . لماذا لا يستطيعون التحقق من أن من يُتمم هذا هو المسيح ، حيث لا يقدر آخر سواه ان يفعل ذلك ؟</p>
<p>…لا تغرب الشمس علي غيظكم &#8221; (إف٤: ٢٦) ، ومع هذا فقد غابت الشمس مراراً كثيرة .اتركوا غيظكم أيضاً ، حيث نحتفل الآن بأيام الشمس العظيم ، هذه الشمس التي يقول عنها الكتاب المقدس &#8221; لكم … تشرق شمس البرّ ، والشفاء في أجنحتها &#8221; (مل٤: ٢) . ماذا يقصد ب &#8221; في أجنحتها &#8221; ؟ أي في حمايته، إذ قيل في المزامير :&#8221; وبظل جناحيك استرني &#8221; (مز١٧: ٨) . وأما أولئك الذين يندمون في يوم الدينونة ، ولكن بعد مضي الوقت ، والذين سيحزنون ولكن بلا فائدة ، فقد سبق أن تنبأ في سفر الحكمة عن ما سيقولونه عندما يندمون ويتأوهون من عذاب الروح &#8221; فماذا أنفعتنا الكبرياء ، وماذا أفادنا افتخارنا بالغني . قد مضي ذلك كالظل ، لقد ضللنا عن طريق الحق ، ولم يضيء لنا نور البرّ، ولم تشرق علينا الشمس &#8221; (حك٥: ٦، ٨، ٩) .تلك الشمس تشرق علي الأبرار فقط ، وأما هذه الشمس التي نراها يومياً ، فإن الله يشرق شمسه علي الأشرار والصالحين &#8221; (مت٥: ٤٥) .يطلب الأبرار رؤية تلك الشمس وهي تقطن في قلوبنا بالإيمان . فإن كنتم تغضبون لا تدعوا هذه الشمس تغرب في قلوبكم علي غيظكم &#8221; لا تغرب الشمس علي غيظكم &#8221; . لئلا تكونوا غاضبين ، فتغرب شمس البرّ عنكم ، وتمكثون في الظلام… غاية النبي أن يتعلم القراء أن يعطوا تفسيراً روحياً للشريعة ، فيجدون فيها المسيح الديان ، الذي يميز الصالحين عن الأشرار .فإنه ليس بدون سبب قال المسيح لليهود : &#8221; لأنكم لو كنتم تصدقون موسي لكنتم تصدقونني ، لأنه هو كتب عنيّ&#8221; (يو٥: ٤٦). بالحقيقة بسبب تفسيرهم الحرفي وحده للشريعة وعجزهم عن إدراك أن وعودها الوقتية ليست إلا رموزاً للمكافآت الأبدية ، سقطوا في امتعاضٍ يحمل تمرداً ، فقالوا :&#8221; عبادة الله باطلة ، وما المنفعة من أننا حفظنا شعائره…&#8221;(مل٣: ١٤-١٥)<a href="#_ftn3" name="_ftnref3">[3]</a> .</p>
<h4>وأيضاً للقديس أغسطينوس: لنصل فى ضعف ، لكى نبتهج فى مجد</h4>
<p>بتذكرنا هذا أيها الاخوة الأحباء ، لنتطلع باشتياق الى فرحنا الأبدى ، لنصل من أجل ( أن نوهب ) الجلد فى جهدنا الزمنى ومحننا . لنصل من أجل بعضنا بعضا . أروم أن تقبل صلواتى من أجلكم ، وصلواتكم من أجلى .ولا تفكروا أيها الاخوة فى أنكم لستم فى حاجة الى صلواتى ، وأنى لست بحاجة الى صلواتكم . كلنا فى حاجة الى أن يصلى بعضنا من أجل بغض . فصلواتنا المتبادلة هى صلوات تشتعل بالمحبة مثل ذبيحة مقدمة على مذبح التقوى ويفوح منها رائحة ذكية ويسر بها الرب . ان كان الرسل قد اعتادوا على التماس صلواتهم من أجل بعضهم (رو١٥: ٣٠)، فكم بالأحرى علينا أن نفعل هذا الأمر ؟؛ لأنى بعيد كل البعد عن كونى مساويا لهم ، رغم أنى أتوق الى اقتفاء أثر خطواتهم على قدر الامكان ، وليس لى حكمة أن أقول أى تقدم قد أحرزته .كان أولئك الرجال ( الرسل )  بكل عظمتهم  مشتاقين الى أن ترفع الكنيسة صلوات من أجلهم . لقد اعتادوا القول : &#8221; .. اننا فخركم ، كما أنكم أيضا فخرنا فى يوم الرب يسوع &#8221; (٢كو ١: ١٤) . كانت عندهم عادة الصلاة من أجل بعضهم بعضا توقعا ليوم (مجىء) ربنا يسوع المسيح ، لأن لن يكون فى هذا اليوم سوى المجد ، ولكن لن يكون غير الضعف حتى ذلك اليوم . لنصل فى ضعف ، لكى نبتهج فى مجد . فى أوقات مختلفة ، وحتى الآن فى الوقت نفسه ، علينا أن نصلى جميعا الى ذلك اليوم . مختلفة هى أوقات رحيلنا من هذه الحياة ( الأرضية ) ، أما زمن اكليلنا فهو واحد للجميع . فاننا سوف نجتمع فى الوقت والمكان ذاتيهما من أجل أن نقتبل المكافأة التى نشدناها برجاء فى أوقات متعددة .وهذا المعنى فسر وشرح فى حالة مثل الفعلة فى الكرم . فقد استأجرهم ( رب البيت ) فى أوقات مختلفة ، البعض فى الساعة الأولى ، والبعض فى الساعة الثالثة ، والبعض فى الساعة السادسة ، والبعض فى الساعة التاسعة ، والبعض فى الساعة الحادية عشرة ولكن الجميع قد أخذ الأجرة فى الوقت نفسه<a href="#_ftn4" name="_ftnref4">[4]</a> .</p>
<h4>عظة لذهبي الفم عن الفردوس والملكوت</h4>
<p>ملكوت السماوات والفردوس</p>
<p>هل دخل اللص إلى الفردوس – كما يقال – فأية أهمية لهذا الأمر ؟ ألعل هذا هو النعيم الذى وعد به الله ؟ ألم تسمع بولس ماذا يقول عن هذا النعيم ؟ &#8221; ما لم تر عين ، ولم تسمع أذن ، ولم يخطر على بال إنسان &#8221; . ولكن الفردوس قد رأته عين أدم ، وسمعته أذنه ، وخطر على قلب الانسان ، ولأجل هذا الموضوع قد حدثتكم أيام كثيرة . فكيف تمتع إذن اللص بالنعيم ؟ لأن الله لم يعد بأن يقودنا إلى الفردوس بل إلى السماء ولم يعدنا بملكوت الفردوس بل بملكوت السماوات لأنه يقول &#8221; ابتدأ يسوع يكرز ويقول : توبوا لأنه قد أقترب ملكوت السماوات &#8221; ليس &#8221; ملكوت الفردوس &#8221; بل &#8221; ملكوت السماوات &#8221;</p>
<p>نعمة الله أعظم من خطية الإنسان</p>
<p>لقد فقدت الفردوس ولكن الله قد وهبك السماء حتى يظهر محبته الخاصة للبشر وأن يطعن الشيطان ويظهر أنه حتى بالرغم من أنه يسبب شروراً لا تعد لجنس البشر فإنه لن يفلح في شيء طالما أن الله يرفعنا دائماً لكرامة أسمى . لقد فقدت الفردوس والله قد فتح لك السماء ، قد حكم عليك بتعب وقتى ، فكرمت بالحياة الأبدية . أمر ( الله ) أن تنبت لك الأرض شوكاً وحسكاً ، فأنبتت لك نفسك ثمار الروح . أرأيت كم أن المكسب أعظم من الخسارة ؟ فكم هو مدى عظمة الغنى ؟ أعنى تقريباً ما يلى : خلق الله الإنسان من طين وماء ووضعه في الفردوس ، وذاك الذى خلق لم يعد نافع إذ انحرف ، لم يعيد خلقه من جديد من طين وماء بل من ماء وروح ، ولم يعده بالفردوس بل بملكوت السماوات ، فاسمع ! . فنيقوديموس – أحد رؤساء اليهود – عندما سقط ( في الخطأ ) وطلب الميلاد الزمنى ، قائلاً أنه من غير الممكن لشيخ أن يولد ثانياً ، فأنتبه كيف أن المسيح قد كشف له جلياً طريقة الولادة &#8221; إن كان أحد لا يولد من الماء والروح لا يقدر أن يدخل ملكوت الله &#8221; .</p>
<p>إذن فإن كان قد وعدنا بملكوت السماوات وقد قاد اللص إلى الفردوس فانه إذن لم يهبه بعد النعيم .</p>
<p>ملكوت السموات يختلف عن الفردوس</p>
<p>ولكنهم يدعون شيئاً أخر بخلاف هذا فيقولون :</p>
<p>أن الفردوس المذكور لا يعنى الفردوس بل إن أسم الفردوس يقصد به ملكوت السموات لأنه عندما كان يتحدث مع لص ، أي مع إنسان ، الذى لم يكن يسمع من قبل عن الحقائق السامية ولم يعرف النبوات بل عاش طول حياته في البراري ، مرتكباً جرائم القتل ، ولا يعرف حتى ما هو ملكوت السموات ، فقال له &#8221; إنك اليوم تكون معى في الفردوس &#8221; موضحاً بالأسم الأكثر شهرة والأكثر أعتياداً أي &#8221; الفردوس &#8221; قاصداً &#8221; ملكوت السموات &#8221; وتحدث المسيح معه عن ذلك الأسم إذن ، أقبل – كما يقولون – أنه دخل ملكوت السموات ، كيف يظهر هذا جلياً ؟ يظهر جلياً مما قيل &#8221; أنك اليوم تكون معى في الفردوس &#8221; ولكن هذا التفسير من الصعب قبوله وسوف نحاول تقديم التفسير الأكثر إيضاحاً فما هو يا ترى ؟ فقد قال المسيح : &#8221; أنه قد دين بالفعل &#8221; ؟ ! على الرغم من إن القيامة لم تحدث بعد ولا الجحيم ولا العقوبة ، كيف إذن قد دين بالفعل ؟ قد دين بسبب خطاياه ، ويقول أيضاً : &#8220;إن من يؤمن بالابن قد انتقل من الموت إلى الحياة &#8221; ولم يقل سوف ينتقل بل قد انتقل بالفعل ! وهذا أيضاً ( قد انتقل إلى الحياة ) . بسبب أفعاله الحسنة ، كما ذاك ( قد دين ) بسبب خطاياه وهكذا الواحد قد دين مع إنه لم يدن بالفعل والآخر قد انتقل إلى الحياة مع أنه لم ينتقل فعلياً فأحدهما بسبب أعماله الحسنة والآخر بسبب خطاياه ، فيتحدث عن أمور وكأنها حدثت على الرغم من أنها لم تتحقق فعلياً ، وبنفس الطريقة تحدث إلى اللص ، فالأطباء عندما يرون شخصاً ما في حالة ميؤوس منها ، يقولون أنه مات بالفعل أو &#8221; أنه ميت &#8221; على الرغم من أنهم يرونه ما زال يتنفس ومثل هذا فلأنه لا أمل في شفائه ، إذ قد مات في نظر الأطباء ، هكذا أيضاً اللص ، لأنه لا يوجد أي أحتمالية لعودته إلى الهلاك ، فقد دخل الفردوس . هكذا آدم قد سمع : &#8221; لأنه يوم تأكل ( من الشجرة ) منها موتاً تموت &#8221; فماذا إذن ؟ هل مات في نفس اليوم ؟ كلا البتة ، بل عاشا أزيد من تسعمائة سنة بعد ذلك اليوم ، فكيف إذن قال له الله انك ستموت في ذات البوم ؟ بأصدار القرار وليس بالتنفيذ العملى ، هكذا أيضاً دخل اللص الفردوس فأسمع إذن ما يقوله بولس  لكى يوضح كيف أن أحداً لم يتمتع بعد بمكافأة النعيم ( الأبدى ) ، لأنه تحدث عن الأنبياء والصديقين مضيفاً : &#8221; في الأيمان مات هؤلاء أجمعون ، وهم لم يسألوا المواعيد بل من بعيد نظروها وصدقوها &#8230;. إذ سبق الله فنظر لنا شيئاً أفضل لكى لا يكملوا بدوننا<a href="#_ftn5" name="_ftnref5">[5]</a> &#8221; .</p>
<h4>وايضاً لذهبي الفم: وحدة العهدين القديم والجديد</h4>
<p>الإختلاف بين العهدين ، هو فقط في التسمية ، ولا يوجد تعارض أو عدم توافق فيما بينهما . فالعهد القديم دعى هكذا ، لأن العهد الجديد قد تأسس ، فصار العهد السابق عليه ، قديم . لكن هذا ليس معناه تعارض ، أو عدم توافق ، بل هو إختلاف في التسمية فقط ، بل إننى سأقول الآتى : أنه حتى وإن كانت شرائع العهد القديم متباينة بشكل واضح مع شرائع العهد الجديد ، فأنا أزعم أنه ولا هكذا ينبغي أن يتكلم أحد عن إله آخر . لأنه إن كان في نفس الزمن ، ولنفس البشر الذين إنشغلوا بنفس الأمور ، وكانوا يعيشون نفس الظروف ، قد حدد شرائع متباينة ، فبالتأكيد ربما هناك قياس ما من وراء ذلك ، لكن إن كانت هناك شرائع قد كتبت لأناس ، وشرائع آخرى لأناس آخرين ، وفى زمن ما لأولئك ، وزمن آخر لهؤلاء ، بينما أولئك قد عاشوا ظروفاً مختلفة ، وهؤلاء في ظروف أخرى ، فما الحاجة لأن يتكلموا عن مشرعين مختلفين ، منطلقين من إختلاف الشرائع ؟ أنا لا أرى أي إختلاف بين العهدين ، لكن إن كانوا يستطيعون أن يذكروا أي إختلاف ، فليقولوه ، لكنهم لا يستطيعوا . فالطبيب كثيراً ما يقدم على إنجاز خطوات علاجية متعارضة ، لكن بدون تناقض ، فقد يكوى الجرح ، وقد لا يفعل ذلك ، وقد يبتر عضواً ، وقد لا يبتر ، ومرة يعطى المريض دواء مر المذاق ، ومرة دواء حلو . وهذا الذى يحدث يبدوا متعارضاً ، لكن القصد واحد ، لأنه يرمى إلى هدف واحد ، وهو صحه المريض . إذاً كيف يكون غير معقول ولا مقبول أننا لا نلوم الطبيب الذى يمارس أمور متعارضة في نفس الجسد ، ونلوم الله لأنه أعطى شرائع متباينة لأناس مختلفين عاشوا في زمن مختلف ؟</p>
<p>يتضح مما سبق ، أن الشرائع وأن كانت متباينة ، إلا أنه لا ينبغي ندين الله ، فهى ليست متعارضة ، بل فقط متباينة فيما بينها  ، ولنفحص هذه الشرائع ، وسنرى هذا . يقول : &#8221; قد سمعتم أنه قيل للقدماء : لا تقتل &#8221; ، هذا كان شريعة العهد القديم ، فلنرى شريعة العهد الجديد ، ما تقول : &#8221; وأما أنا فأقول لكم : إن كل من يغضب على أخيه باطلاً يكون مستوجب الحكم &#8230; ومن قال : يا أحمق ، يكون مستوجب نار جهنم  &#8221; . أخبرنى ، هل هذه القوانين متعارضة ؟ ومن من الناس حتى وإن كان على درجة كبيرة من السذاجة ، يستطيع أن يقول هذا ؟ لأنه إن كانت شريعة العهد القديم قد حرمت القتل ، وشريعة العهد الجديد قد سمحت به ، لكان من الممكن القول أن هناك تعارض فيما بينهما ، لكن لو كان القديم قد حرم القتل ، والجديد قد حرم الغضب أيضاً ، فإنه يكون مكملاً للقديم ، وليس رافضاً له . لأن الشريعة القديمة قد إستأصلت ثمرة الشر ، أي القتل ، أما الجديدة فقد إقتلعت الشر من جذوره ، أي الغضب ، الشريعة القديمة أوقفت تيار الشر ، أما الجديدة فقد انتزعت مصدر الشر ذاته . لأن أساس وجذر القتل هو السخط والغضب . إن الشريعة القديمة مهدت الطريق إلى الحياة الروحية النقية ، والجديدة أكملت ما قد نقص ، أي تعارض يوجد هنا ، عندما تقطع الواحدة ثمرة الشرور ، والأخرى تقطع مصدر الشرور ؟ إن الشريعة القديمة نقت الأيدى وغسلتها من الدم ، والجديد قد حررت وخلصت القلب ذاته من الأفكار الشريرة . كل هذا يقنعنا بأن كلتا الشريعتين متوافقة فيما بينهما ، وليس بينهما أي تعارض وهذا ما أراد أعداء الحقيقة أن يقبلونه ويشوهونه دون أن يدروا بأنهم يلقون هكذا بإتهام كبير لإله العهد الجديد ، ودون إكتراث . لأن هذا التجديف ، والكلام غير التقى الموجه إلى الله ، سيرتد عليهم ، وسيسقط فوق روؤس أولئك الذين يضطروننا أن نتكلم بشأنه ، إذ يقررون كيف أنه قنن بشكل غير ملائم الأمور الخاصة بخلاصنا ، كيف ؟ هذا ما سأتكلم فيه . إن النمو النفسى الذى صار من خلا ل العهد القديم ، يشبه التغذية باللبن ، ولكن الحياة الروحية التي تقدم من خلال العهد الجديد ، فتشبه الطعام الذى للبالغين ، ولا أحد يقدم لإبنه طعاماً يحتاج للهضم ، قبل أن يغذيه باللبن . لكم ما كان لإله العهد الجديد أن يفعل هذا ، إن لم يكن هو نفسه الذى أعطى شريعة العهد القديم . وليس هذا فقط ، بل إنهم ينسبون إلى الله إتهاماً أكبر ، فإن كان حقاً قد أتى ليرعى جنسنا البشرى بعد أكثر من خمسة آلاف سنة ، وإن لم يكن هو نفسه الذى رتب كل ما له علاقة بخلاصنا ، بواسطة الأنبياء ، والآباء ، وأناس العهد القديم الذين عاشوا بالفضيلة ، بل هو إله آخر ، لا علاقة له بهذا الإله ، فإنه سيكون قد إهتم بنا متأخراً جداً ، كما لو كان قد إستفاق وغير رأيه . الأمر الذى سيكون غير لائق ، ليس فقط بالله ، بل ولا بأى إنساناً بسيطاً ، فطالما أنه ترك هؤلاء البشر يهلكون ، خلال فترة زمنية طويلة ، هكذا يكون متأخراً جداً في رعايته لعدد قليل من البشر في السنوات الأخيرة .</p>
<p>أرايت كم الأمور غير اللائقة التي ينسبها هؤلاء إلى الله ، ويدعون بأن مشروع العهد الجديد إله أخر مختلف عن مشروع العهد القديم ؟ لكن كل هذا يبطل إن آمنا ، أن إله العهدين القديم والجديد ، هو واحد . لأنه سيتضح بأنه يرتب كل ما له علاقة بنا ، بشكل منطقى للغاية ، قديماً بواسطة الناموس والآن بواسطة النعمة ، وليس حديثاً ومؤخراً ، لكنه يعتنى بنا منذ البداية ، منذ أن خلقنا . وحتى نسد أفواههم أكثر فلنعرض لأقوال الأنبياء ، والرسل الذين صرخوا بصوت مرتفع بأن مشرع العهدين القديم والجديد هو واحد . إذاً ليظهر إرميا النبى الذى تقدس من بطن أمه  ، وليبين لنا هذا الأمر بوضوح . ماذا ماذا يقول إرميا النبى الذى بشر حسب وصية الله له ، يقول الرب : &#8221; وأقطع معكم عهداً جديداً ليس كالعهد الذى قطعته مع أباءكم &#8221; . فذاك الذى قطع مع هؤلاء عهداً جديداً ، هو نفس الإله الذى أعطى العهد القديم وبذلك يلجم أفواه أتباع بولس الساموسطائى ، الذين رفضوا أزلية الأبن الوحيد الجنس . لأنه إن لم يكن موجودا قبل أن يولد من العذراء القديسة مريم ، ولا قبل أن يتجسد ، فكيف لغير الموجود ، أن يشرع ؟ وكيف قال : &#8221; وأقطع معكم عهداً جديداً ليس كالعهد الذى قطعته مع آبائكم ؟ &#8221; . وكيف قطع عهداً مع أباءهم ، إن لم يكن له وجوداً أزلياً ، بحسب إدعائهم ؟ لكن الشهادة النبوية فيها ما يكفى للوقوف في مواجهة اليهود ، وأتباع بولس الساموسطائى ، المأسورين بنفس الأفكار المريضة . وأيضاً لكى يسمد فم المانويين ، لنستشهد بالعهد الجديد ، لأن العهد القديم ليس لديه أي إعتبار لديهم ، حتى لا أقول أنهم يزدرون بالعهد الجديد أيضاً ، ويوجهون له إهانة ، طالما أن هذا العهد يقدرونه ظاهرياً ، إذ أنهم فصلوه بطريقة ما عن العهد القديم ، وأضاعوا مكانته وقيمته لأن نبوات الأنبياء التي جاءت بالعهد القديم ، تشكل دليلًا واضحًا لحقيقة نصوص العهد الجديد ، والتي إذ حادوا هؤلاء عنها ، فإنهم لا يشعرون بأنهم يخزون الرسل أكثر من الأنبياء . لأنه من ناحية هم بذلك يحتقرون ويزدرون بالعهد الجديد ، ومن ناحية آخرى ، يكونوا قد قطعوا أوصاله . لكن هذه النصوص التي إستخدموها كانت من القوة بمكان ، حتى أنها من خلال ما تبقى منها ، قد جعلت من السهل أن تظهر نواياهم الشريره ، لأن هذه الأجزاء التي إنتزعت تنادى وتصرخ ، إذ هي تريد أن تعود إلى إتحادها بالأقسام الأخرى التي كانت في وحدة معها .</p>
<p>إذاً كيف ستبرهن على أن مشروع العهدين القديم ، والجديد ، هو واحد ؟ نبرهن من خلال تلك الكلمات الرسولية التي بقيت لدى هؤلاء ، التى لدى المانويين ، والتي تبدوا أنها تتهم الناموس القديم ، لكن تشير إليه كثيراً جداً ، وكيف أنه</p>
<p>إعلان إلهى معطى من فوق ونافع . وهذا قد صنعته حكمة الروح القدس قصدًا ، حتى أن المتهمين للناموس ، بسبب معرفتهم السطحية بكلمة الله ، ينجذبون ويقبلون الدفاع المكتوب عن الناموس ، دون إراداتهم ، حتى يحصلون على الدليل القطعى الذى سيقودهم إلى الحق ، إن كانوا بالطبع يرغبون في أن يتطلعوا نحو الحقيقة. أما إذا أصروا على البقاء في عدم إيمانهم فلن ينالوا الصفح بعد ، طالما أنهم في الأمور التي يبدوا فيها أنهم مؤمنون ، يظهرون عدم إيمان ، مبطلين هكذا خلاصهم .</p>
<p>الظلال والحقيقة</p>
<p>إذاً أين يقول العهد الجديد أن المشروع واحد للعهدين ؟ في مواضع كثيرة ، لكننا سنأتى مباشرة على تقديم الجزء الذى حفظ حتى اليوم لدى المانونين ، وهوما قاله الرسول بولس  : &#8221; قولوا لى ، أنتم الذين تريدون أن تكونوا تحت الناموس  : ألستم تسمعون الناموس ؟ فإنه مكتوب أنه كان لإبراهيم ابنان  ، واحد من الجارية والآخر من الحرة &#8221; لقد سمع الهراطقة انه رزق بإبن من الجارية ، وعلى الفور إختطفوا هذه العبارة فرحين ، لأنهم إعتقدوا بأنه بذلك يدين الناموس ، وبعدما أقتطعوا هذه العبارة عن سياق النص ، إحتفظوا بها ، لكى يدعموا أفكارهم المنحرفة . وحتى نثبت من خلال هذا الكلام ، أن المشرع واحد . فبعدما قال : &#8221; كان لإبراهيم ابنان ، واحد من الجاريه والآخر من الحره &#8221; أضاف : &#8221; وكل ذلك رمز &#8221; . بمعنى أن كل ما حدث في العهد القديم ، كان ظلالا لكل ما تحقق في العهد الجديد . لأنه بينما كان هناك زوجين ، هكذا هنا أيضاً يوجد عهدين . إنه يظهر مبدئياً مدى القرابة التي ترتبط بيبن العهدين القديم والجديد ، طالما أن أحداث العهد القديم كانت ظلالاً ، لما تحقق في العهد الجديد . فضلاً عن ذلك فإن الظلال ليست ضد الحقيقة ، بل في قرابة معها . فإن كان إله العهد القديم في عداء مع إله العهد الجديد ، ما كان ليسبق ويصور إمتياز العهد الجديد من العهد الجديد من خلال هاتين الزوجتين ( سارة وهاجر ) فإن كان المشرع قد صور وهذه الظلال . لكن في حاله ما سيدعون أنه طالما قد صنع هذا مظهراً تسامح تجاه ضعفات اليهود ، فكان ينبغي عليه حين بشر اليونانيين ، أن يستخدم صوراً من الواقع اليوناني ، ولايستشهد برويات من الأحداث اليونانيه . إلا أن الرسول لم يفعل ذلك ، وهذا له ما يبرره للغاية ، لأن الأحداث اليونانيه ، ليست لها أي علاقة بالحقيقة وليس هناك أي شيء مشترك يجمعها بالحقيقة ، أما ما حدث في العهد القديم ، فهو عبارة عن نبوات ، ونواميس الله ، لذلك هناك علاقة قوية جداً بين العهدين القديم والجديد<a href="#_ftn6" name="_ftnref6">[6]</a> .</p>
<h3>عظات آباء وخدام معاصرين</h3>
<h4>قداسة البابا تواضروس الثاني: المعتذرين</h4>
<p>توجد ثلاث نوعيات من الذين أعتذروا عن الوليمة العظيمة وهم :</p>
<p>١- المعتذر الأول : اشترى حقل &#8230;</p>
<p>+ له سلطان على بقعة أرض ( صاحب كبرياء ) محبة الأرضيات .</p>
<p>+ عذر زائف لأنه ما من أحد الا بعد أن يفحص ما اشتراه .</p>
<p>+ المرتبك بالحقل( المسكن ) الأرض / المقتنيات احتوت كل قلبه وأهتماماته .</p>
<p>+ محبة العالم والطمع ( الأمم الوثنية ) . &#8221; الطمع الذى هو عبادة الأوثان&#8221;(كو٢: ٥) .</p>
<p>+ يهتم بالأمور الخارجية لا الروحية  الداخلية = من يرفض الحق .</p>
<p>٢- المعتذر الثانى : اشترى ٥ أزواج بقر &#8230;</p>
<p>+ فيه حب الاستطلاع مرتبك بأمور الجسد &#8221; محبة العالم &#8221; .</p>
<p>+ عذر زائف كالسابق كما أن البقر باق بالحظيرة يمكن فحصه فيما بعد .</p>
<p>+ المرتبك بالبقر ( العمل ) العمل / الثروة الرغبات احتوت كل قلبه واهتماماته .</p>
<p>+ محبة الناموس الحرفى ( اليهود ) السامرية لها ٥ أزواج .</p>
<p>+ المهتم بالأمور الحسية لا الحياة الروحية = من يستهين بطبيعتة العاقلة الروحية .</p>
<p>٣- المعتذر الثالث : اعتذر بالزواج &#8230;</p>
<p>+ حول المقدسات الى لذة جسدية &#8221; محبة الأسرة &#8221; .</p>
<p>+ عذر حقيقى ولكن التزام الزواج لا يلغى التزاماتنا .</p>
<p>+ المرتبك بالزوجة (الأسرة ) اللذات / الحياة الشخصية احتوت كل أهتماماته .</p>
<p>+ يعتبر الزواج مجال للشهوة وليس للانجاب = من يرتبط بالجسد وملذاته .</p>
<p>الدعوة</p>
<p>كل شىء قد أعد (عدد ١٧ ) فى فكر الانسان اليهودى &#8230;انها وليمة مادية ( خبزا ) . مأدبة عشاء (رؤ١٩: ٦-٩) .</p>
<p>الانسان : يرمز الى الله الآب / الخالق / الذى أعد كل شىء / أقام المأدبة العظيمة ، ولكن لا فى الأرض ، وانما فى السماء .</p>
<p>العشاء : وليمته السمائية فى ملكوته الالهى .   وزمن هذه الوليمة :عند قيامة الأبرار .</p>
<p>العبد : هو المسيح الذى أخذ صورة عبد ( من جهة ناسوته ) .</p>
<p>+ الدعوة : تعالوا ، وفى المثل هنا دعوتان : ( اليهود قبلوا الأولى ورفضوا الثانية ) .</p>
<p>١- الأولى : للاعلان عن الحفل أى ( الانبياء ) فقد قبلوا بعض الأنبياء ورفضوا البعض الآخر.</p>
<p>٢- الثانية : للتذكير بعد الاستعداد أى ( المسيح ) ولكنهم رفضوا تماما .</p>
<p>الداعى كان : محب / مهتم / فخور / كريم / فرحان .</p>
<p>وبعد رفض الدعوة صار فى : يأس / محبط / حزين / مجروح .</p>
<p>الجميع استعفوا اذ صاروا بلا احساس حيث غلبتهم محبة العالم . وفيما يلى مقارنة بينهم : &#8211; (مت ٢٥: ٢١-٤٦) .</p>
<p>هذا الفصل فيه نداء لكل أحد : لا تتعلل بالأعذار ، فالموضوع عاجل فلا تضيع الفرصة ولا تتهاون ، فالوقت مقصر<a href="#_ftn7" name="_ftnref7">[7]</a> .</p>
<h4>كمال حبيب (المتنيح الأنبا بيمن أسقف ملوي وأنصنا والأشمونين)</h4>
<p>تعالوا إلى العرس (مت ۲۲: ٤)</p>
<p>هذه دعوة الله إلينا وهذا هو نداء السماء لنا. إن ربنا لم يدعنا إلى حياة أرضية فانية أو ملذات زمنية بائدة وإنما دعوته إلينا أن نتكئ في عرس أبيه السماوي، وهي دعوة تلهب قلب كل مؤمن وتشجعه في جهاده الأرضى كي يدخل إلى حجال الملك ويلقى بشباكه إلى الأعماق . ونحن نريد أن نتأمل في جمال العريس، جمال العروس ، جمال العرس، كيف ندخل العرس، بركات الدعوة للعرس .</p>
<p>جمال العريس</p>
<p>إنه أبرع جمالا من بني البشر ، جميل في تعاليمه ووصاياه ، جميل في حبه وطول أنانه ، جميل في صفحه واتساع قلبه ، جميل في عشرته والإتحاد به . عندما تذوق النفس حلاوته تنشد مع سليمان &#8220;كالتفاح بين شجر الوعر كذلك حبيبى بين البنين . تحت ظله اشتهيت أن أجلس و ثمرته حلوة لحلقي &#8221; وتجوز مع داود في اختباره &#8221; ذوقوا وانظروا ما أطيب الرب &#8221; يا لجماله في تأثيره وفاعليته في النفوس .</p>
<p>نظر إلى لاوى فجذبه من مكان الجباية .</p>
<p>دخل إلى بيت زكا فباع الغنى أمواله .</p>
<p>تحدث مع السامرية فتركت خطاياها لتبشر باسمه</p>
<p>ظهر لشاول فتحطمت كبرياؤه وانسحقت روحه واستعيد حياته بفرح لصليبه وخدمة اسمه .</p>
<p>تلامس معه بولا وأنطونيوس ومقاريوس وألوف من النساك فتركوا العالم وكل ما فيه ليقضوا حياتهم في الهيام بحبه . ولما عاشوا له انطبعت صورته ولغته وجماله عليهم و فلما رأوا مجاهرة بطرس ويوحنا ووجدوا انهما انسانان عديما العلم و عاميان تعجبوا فعرفوا انهما كانا مع يسوع ، رائحة أدهانه تملأ حياة محبيه، واسمه لهم دهن مهراق، حبه عندهم أطيب من الخمر &#8230; لذته أشهى من العسل والشهد . وإذ تحس النفس بهذا كله تصرخ قائلة &#8221; ها أنت جميل ياحبيبي وحلو وسريرنا أخضر &#8221;</p>
<p>والعجيب في هذا العريس انه بدون اختبار ذاتى لا جمال ولا منظر نشتهيه و لكن تخلى القلب عن شهوانه بهيء له مع الآب مسكنا وعندئذ يتحرك الروح في الداخل وتشتعل النفس بحرارة روحية فيصرخ الانسان الباطن&#8221; ليقبلني بقبلات فمه… قبلة المصالحة &#8230; قبلة القداسة&#8230; قبلة النعمة التي انسكبت على شفتيه &#8221;</p>
<p>جمال العروس</p>
<p>&#8221; لا تنظرن إلى لكونى سوداء لأن الشمس قد لوحتني &#8221; هذه هي النفس البشرية التي كانت بيضاء جميلة لأنها مأخوذة من الله إذ هي نفخة من فيه . ولكنها إذ اشتهت أن تكون لها الذاتية المستقلة سقطت فلوحتها شمس برية هذا العالم وبات ضرورياً أن يقول داود عن لسان حال البشرية كلها &#8221; هو ذا أنا بالأثام حبل بی و بالخطایا اشتهتنی امی &#8221;</p>
<p>ولكن الله الآب يدبر للنفس فداء فيرسل الابن الكلمة ليتحد بها ، وفيه تتم المصالحة , &#8220;أنتم الذين كنتم قبلا أجنبيين وأعداء في الفكر في الأعمال الشريرة قد صالحكم الآن في جسم بشريته ليحضركم قديسين و بلا لوم ولا شكوى أمامه &#8221; (كو ١ : ٢١)  وهكذا ينظر الآب إلينا في الابن الذي به سر قلبه فيقول للنفس البشرية&#8221; ها أنت جميلة يا حبيبتي . ها أنت جميلة . عيناك حمامتان &#8221;</p>
<p>صارت النفس أمامه جميلة بعدما أحبنا وغسلنا من خطايانا بدمه وجعلنا ملوكا وكهنة الله أبيه .</p>
<p>والعروس إذ أحست بفضل يسوع عريسها لا تطيق أن تبعد عنه بل تظل تبحث عنه تطلبه راعياً لها يحميها .</p>
<p>&#8221; اخبرنى يامن تحبه نفسي أين ترعى . أين تربض عند الظهيرة . لماذا أنا أكون كمقنعة عند قطعان أصحابك &#8221;</p>
<p>وإذ تحس باقترابه منها تناديه أن يضع شماله تحت رأسها و يمينه تعانقها &#8230; يد ترفع مصاعداً في القلب ويد تقيم سياجاً منيعاً يحميها من الأعداء .</p>
<p>جمال العرس</p>
<p>أي شيء أجمل من العرس الذي قال عنه رب المجد &#8221; أنا ذاهب إلى الآب لأعد لكم مكاناً وحيث أكون أنا تكونون أنتم معي &#8221; . هذا هو العرس الذي كشف عنه بولس ليراه فلم يستطع أن يصفه لإعجاز جماله فقال ما لم تره عين وما لم تسمع به اذن وما لم يخطر على قلب بشر ما أعده الله للذين يحبون اسمه .</p>
<p>عرس أعده الرب بذاته لنا .</p>
<p>عرس يكفى أن يكون يسوع عريسه .</p>
<p>عرس تتجدد أمجاده في أبدية خالدة .</p>
<p>عرس هو رجاء كل متعب ومضطهد من أجل اسم المسيح .</p>
<p>عرس أحس به الشهداء في قلوبهم فقدموا نفوسهم للجلد والرجم والحبس و الموت إذ كانوا ينتظرون المدينة التي لها الأساسات التي صانعها وبارئها الله .</p>
<p>لماذا لا ندخل للعرس</p>
<p>والمؤسف حقا انه بالرغم من أن العرس بهيج إلى هذا الحد والعريس فائق الجمال إلا أن قليلين يريدون أن يدخلوا العرس ، فهذا اعتذر لحقله وآخر ببقراته ، وثالث بزوجته ، وهو أمر يحس به خدام الكلمة عندما يدعون الشباب لاجتماعات درس الكتاب فهذا يعتذر لضيق وقته وآخر بعثرته من بعض رجال الدين وواحد بانكبابه على الدراسة العليا.</p>
<p>والحقيقة أن هذه الأعذار غطاء لعذر واحد جوهرى يشترك فيه جميع المعتذرين وهو انشغال القلب عن السماء و تعلق العروس بأمور الأرض وعندئذ لا تستطيع أن تشتاق إلى عريسها إذ لا يستطيع أن يحبه إلا العذارى اللواتي كرسن قلوبهن لحبه .</p>
<p>وسيلة الدخول للعرس</p>
<p>يظن البعض أن الدخول للعرس أمر هين فقد اجترأ واحد ودخل إليه دون أن يلبس لباس العرس فأمر الملك عبيده بطرده . وهذا يوضح لنا خطورة النظرة السطحية للحياة الروحية إذ يظن البعض أن مجرد انتمائهم إلى بعض الجمعيات أو نشاطهم في مدارس الأحد فقط يضمن لهم دخول ملكوت السموات ، ولكن الحقيقة انه ليست هناك سوى وسيلة واحدة للدخول إلى العرس وهي خلع الانسان العتيق خلع… الحلة القديمة التي عشنا بها بين خنازير الابن الضال کی يلبسنا ربنا يسوع ذاته فيكون لنا الانسان الجديد &#8230; هذه هي الحلة الملوكية المنعم لنا بها من السماء . وهي حلة تستر خزينا وتفتح باب العرس أمامنا &#8221; أنا هو الباب . إن دخل بى أحد فيخلص ويدخل ويخرج ويجد مرعى&#8221; (يو ۱۰: ٩) .</p>
<p>بركات الدخول للعرس</p>
<p>الذين ذاقوا حلاوة سكنى يسوع في القلب يدركون بركات الدخول للدرس إذ يحسون بتجديد الفكر والقلب والحواس إلى الحد الذي فيه لا يستطيعون أن يخطئوا وهكذا تفرحهم أنوار أورشليم السمائية التي بدأت تنكشف لهم وتبهجهم أنغامها العذبة التي بدأت آذانهم تسمعها وتصير حياتهم كحياة مريم التي اختارت النصيب الصالح وآثرت الجلوس عند قدمي يسوع &#8230; وإذ بالمحبة التي التهب بها القلب تطرح كل خوف و تدفعه إلى أن يتكىء في حضن يسوع الحبيب .</p>
<p>أما النفس فهي لا تطيق أن تدخل العرس وحيدة وإنما تسرع إلى الآخرين تناديهم لينعموا معها بمذاق العشرة الروحية وهكذا تقول النفس في نشيد الانشاد, &#8220;إجذبني وراءك فنجرى &#8221; وكذا الروح والعروس يقولان تعال . ومن يسمع فليقل تعال .</p>
<p><a href="#_ftn8" name="_ftnref8">[8]</a> وهكذا يكون السعي نحو خلاص النفوس وإيصالها إلى العرس علامة هامة من علامات تلامس الذات مع يسوع صاحب العرس ؟</p>
<h4>المتنيح القمص لوقا سيداروس: عرس ابن الملك</h4>
<p>(مت١:٢٢١٤)، (لو١٦: ٢٤)</p>
<p>من الحقائق المسيحية المشبعة للنفس التي كشفها الرب يسوع بالكلمة أن ملكوته السماوى مثل عرس أبدى وفرح لا ينقطع ، ونحن مدعوون لا أن نعى الحقيقة الروحية بالذهن فقط ، بل أن نحيا بمقتضاها ونبنى حياتنا على أساسها . فنفوس المؤمنين المفديين بدم المسيح والمغسولين بالمعمودية مدعوة للدخول إلى الفرح الأبدى ، وهى دعوة ليس لعنصر الاستحقاق مكان فيها ولكن النعمة هي صاحبة الفضل الأول ، وما على النفس سوى قبول النعمة والحياة بمقتضاها . والتمتع والشركة هما حالة النفس التي تصير فيها . ومن العجب أن نفوس كثيرة تكتفى بإدراك الحقائق الإيمانية بحسب الذهن البشرى وتعتبر أن حفظها بالعقل هو بلوغ غاية الحقائق الإيمانية ، ولكن ليس الأمر كذلك ، فمعرفة الحقائق الإيمانية لا يضمن للنفس الدخول إلى الملكوت ، فالشاب الغنى حفظ الوصايا منذ حداثته ولكنه لم يحيا بمقتضاها وعندما دخل امتحان محبة الله من كل القلب ومن كل الفكر ومن كل الحواس &#8230; سقط لحاله ومضى حزيناً لأنه كان ذا أموال كثيرة سيطرت على مراكز الحب في قلبه واستحوذت على عاطفته الداخلية وحالت بينه وبين محبة الله إذ لم يستطيع أن يخدم سيدين ، فلازم الواحد واحتقر الآخر كقول الرب ، وكان أن وقف خارجاً ، وقف خارج الملكوت . الأمر إذن ليس كل من يقول : &#8221; يارب يارب &#8221; ولا كل من وعى بعقله كل حقائق الإيمان ولو صار معلماً وملقناً لها يستحق الدخول ، ولكن كل من صار له شركة التمتع  والحياة وكل من أنضج ثمر الإيمان وبالأعمال برهن الإيمان إذ أن الإيمان بدون أعمال ميت في ذاته .</p>
<p>المدعون الرسميون :</p>
<p>أول ما يلفت الذهن في هذا المثل هذه العينات من المدعون وكيف أنهم جميعاً صاروا يعتذرون عن الحضور كل بحسب العذر الذى رأى أن يقدمه .فجميعهم برأى واحد وفكر واحد استعفوا وجميعهم فضلوا ما يخصهم من باطل الأعمال ومن زوال العالم ومتعه وشهوته على أن يدخلوا إلى  الفرح . والواقع أنهم حسبوا أنفسهم أنهم يعيشون في فرح فما حاجتهم إلى عرس ابن الملك ؟ حسب الذى تزوج بامرأة ، أن يفرح ، هذا الفرح صار كافياً له واستغنى به عن الفرح الآخر وذاك الذى حسب أنه اشترى خمسة أزواج البقر وهو ماض ليمتحنها عاقة هذا العمل عن المشاركة في العرس إذ لا يستطيع أن يوفى مطاليب الاثنين معاً . والآخر الذى ربط قلبه بقطعة من الأرض برباط الملكية القاتل ، صار فرحاً بما ظنه امتلاك واقتناء فاكتفى بالنصيب الترابى يفرح بالنظر إليه وصار غير قادر على متابعة الحركة نحو السمائيات والفرح الأبدى .</p>
<p>ولكنهم تهاونوا :</p>
<p>القديس متى يضيف عنصراً آخر يكشف به دواخل الذين حرموا أنفسهم من الانضمام إلى فرح العرس الأبدى &#8230; ويقول أنهم تهاونوا ، استهانوا بالدعوه .لقد شبه ربنا ملكوته كمن وجد كنزاً مخفياً في حقل ، فمن الفرح مضى وباع كل ما كان واشترى ذلك الحقل ، أو كمن يتاجر في اللآلئ الثمينة متى وجد لؤلؤة واحدة كثيرة الثمن مضى وباع كل ما له واشتراها ، فالملكوت إذن هو اكتشاف خطير ، يتبعه تفريط تلقائى في كل ما كان يحسبه الإنسان ربحاً أو نجاحاً أو امتلاكاً أو تجارة أو ارتباط أو فرحاً إلى آخر هذه الأمور . وإلا يظل الإنسان متمسكاً بما عنده ويصير مستحيلاً عليه أن يفرط في شيء ولو كان تافهاً أو حقيراً .</p>
<p>والباقون أمسكوا عبيده وشتموهم وقتلوهم :</p>
<p>هذا موقف آخر من مواقف الرافضين لدعوة الملكوت ، هؤلاء الذين قابلوا الإحسان الإلهى والمحبة الحانية ليس بالرفض فقط بل بالجحود والنكران ، وعبيد الله الحى ، خدامه الكارزين بإنجيل الخلاص كم لاقوا من إهانات ، وكم عانوا ويعانون من اضطهادات ؟ وقد شهد إستفانوس رئيس الشمامسة وأول الشهداء أمام مجمع اليهود قائلاً : &#8221; أي الأنبياء لم يضطهده آباؤكم ؟ وقد قتلوا الذين سبقوا فانبأوا بمجئ البار &#8221; (أع ٧ : ٥٢) .هذا المسلك ينطبق أيضاً على المجدفين ، والناكرين للإيمان والمحتقرين للكلمة والذين يشككون في صدق مواعيد الله الذين ازدروا بخدمة وأهانوا عبيده حرموا من الدخول إلى الوليمة السمائية ونالوا عقاباً أبدياً ، وكذا الذين لم يخضعوا ليطيعوا الكلمة ويقبلوها كدعوة سمائية ، وكذلك أيضاً الذين تهاونوا بها .هذا ما عبر به الرب قائلاً : &#8221; فلما سمع الملك غضب وأرسل جنودة وأهلك أولئك القاتلين وأحرق مدينتهم &#8221;</p>
<p>دعوة :</p>
<p>قال الرب : أن كثيرين  يدعون وقليلون ينتخبون &#8230;فالدعوة وجهها الرب للجميع &#8230; قائلاً : &#8221; ما جئت لأدعوا أبراراً بل خطاة إلى التوبة &#8221; ، فإذا كان قد وجه دعوته للخطاة فماذا يكون بعد &#8230; وليس مثل الرب الهنا الكريم في سخائه حتى أنه يقول &#8221; تعالوا إلى يا جميع المتعبين والثقيلى الأحمال وأنا أريحكم &#8230; من يقبل إلى لا أخرجه خارجاً . على إننا لابد أن ننتبه إلى شرف الدعوة التي دعينا إليها ، فالذى دعانا إلى مجيئه الأبدى وعرسه السماوى هو الآب نفسه . فكيف نتهاون أو نتكاسل ؟ أو كيف نعتذر أو نتخلف ؟ أي شرف يكون للإنسان إذا دعاه ملك أرضى أو رئيس لكى يجلس إلى مائدته ويتعشى معه ؟</p>
<p>وماذا يقال عن إنسان يكرمه الملك ويشرفه بدعوته ، وهو يتهاون ولا يقيم للدعوة اعتباراً بل يتهاون ولا يذهب ؟</p>
<p>وصف مبهر للعرس :</p>
<p>سفر الرؤيا يقدم لنا وصفاً مبهراً للعروس الأبدى في الأصحاح التاسع عشر ، &#8221; وخرج من العرش صوت قائلاً : سبحوا لإلهنا ياجميع عبيده ، الخائفيه ، الصغار والكبار ! وسمعت كصوت جميع كثير وكصوت مياة كثيرةً ، وكصوت رعود شديدة قائله : هللويا ! فإنه قد ملك الرب الإله القادر على كل شيء . لنفرح ونتهلل ونعطيه المجد ! لأن عرس الخروف قد جاء ، وامرأته هيأت نفسها . وأعطيت أن تلبس بزاً نقياً بهياً ، لأن البز هو تبررات القديسين . وقال لى : اكتب : طوبى للمدعوين إلى عشاء عرس الخروف ! وقال : هذه هي أقوال الله الصادقة &#8221; ( رؤ ١٩ : ٥ – ٩) .</p>
<p>فعرس ابن الملك ، هو عرس الابن الوحيد الجنس ، ابن الآب بالحق والمحبة ، هو عرس الخروف القائم كأنه مذبوح ، وعروسه هي الكنيسة  التي اقتناها بدمةً ، ذبح واشتراها من كل لسان وشعب ، وقد أعطيت أن تلبس بزاً نقياً ، الذى هو تبررات القديسين الذين بررهم بدمه الذكى &#8230; والعرس عرس أبدى ، لا ينتهى فيه الفرح لأنه فرح المسيح الخاص الذى لا يشوبه حزن ولا كدر ، حقاً طوبى للمدعوين إلى عشاء عرس الخروف ، يطعمهم المن المخفى ويسقيهم من ينبوع الماء الحى ويقتادهم ويشرق عليهم إلى الابد الآبدين ، لك أن تتأمل ذاتك أيها الحبيب مدعوا ومتكئاً في الوليمه السمائية في الثياب البيض ، في المجد الأبدى ، هل يقارن بهذه الكرامة فرح في العالم مهما بلغ ؟</p>
<p>أما العرس فمستعد :</p>
<p>من جهه الله فهو مستعد دائماً ، ملكوته الذى ادخره لمختاريه ، قد أعده قبل إنشاء العالم ، ذبيحته الإلهيه التي فيها الكفاية ، لتقديس المدعوين وشبع النفوس الجائعة ، قد أكملها ربنا يسوع المسيح بكل مطاليبها بلا نقصان ، إلى أن قال على الصليب &#8221; قد أكمل &#8221; . كل شيء معد ، والملكوت مستعد أما العيب فكان في المدعوين ، الذين تهاونوا واستهانوا وأساءوا إلى العبيد الذين وجهوا لهم دعوة سيدهم ، فهل يبقى العرس بلا مدعوين ؟ إن رفض أناس ذبيحة المسيح ، وحبه الحانى وعطية جسده المقدس ودمه الكريم ، فهل يصير الصليب بلا ثمر ؟ حاشا   &#8221; جاء إلى خاصته وخاصته لم تقبله &#8221; فماذا كان ، أعلن الرب حبه للأمم ، ودعا التي ليست محبوبة محبوبة ، &#8221; وكل الذين قبلوه أعطاهم سلطان أن يصيروا أولاد الله أي المؤمنين باسمه &#8221; كان رفض المدعوين الرسميين مصالحة للعالم ، وقبولاً للأمم ، ودخولاً للمساكين إلى العرس الإلهى</p>
<p>رحمة الله المتناهية :</p>
<p>ظهرت نعمة الله مخلصنا لجميع الناس ، حينما أرسل رسله الأطهار ، عبيده وخدام كلمته ، إلى شوارع المدينه ، أزقتها ، ليدخلوا بكل من يجدونه إلى الفردوس أبراراً وخطاة على السواء ، وهكذا ما قاله المسيح في هذا المثل بالفعل حين قام من الأموات ونفخ في وجه تلاميذه القديسين قائلاً لهم : &#8221; أمضوا وتلمذوا جميع الأمم ، وعلموهم جميع ما أوصيتكم به وعمدوهم باسم الآب والابن والروح القدس &#8221; ، وأعلمهم أنهم يكونوا له شهوداً في أورشليم واليهودية والسامرة وإلى أقصى الأرض فخرج الرسل وجالوا مبشرين بالكلمة وكمل كلام المرنم الذين لم يسمع لهم صوت إلى أقطار المسكونة بلغت أقولهم &#8220;كروزوا بالخبر السار ونادوا ببشارة الإنجيل كدعوة للعرس الأبدى ، وأدخلوا كل من وجدوه إلى شركة الفرح ، إلى حظيرة الخراف ، إلى الكنيسة ، وقدموا الوليمة السمائية ، ذبيحة المسيح ، سر الفرح والشبع ، لكل الداخلين ، الذين لم يكونوا مدعوين أو مستحقين ، الذين لم يكونوا شعباً ، أما الآن فشعب مختار كهنوت ملوكى شعب اقتناء لكى يخبروا بفضائل  الذى دعاهم من الظلمة إلى نوره العجيب . كمل كلام الحكيم سليمان ، &#8221; الحكمة بنت بيتها بأعمدة أسرار الروح السبعة ، ذبحت ذبائحها مزجت خمرها في البواطى المقدسة &#8221; .طوبى للمدعوين الجدد ، الذين ما أن سمعوا بالخبر السار حتى قبلوه بفرح ، وما أن دعاهم بصوته الحنون حتى تركوا كل شيء وتبعوه ، فأدخلهم إلى كنيسته مسكن الفرح يغذيهم ويطعمهم خبز الحياة وكأس الخلاص .</p>
<p>اشتروا &#8230; ولكن مجاناً ! !</p>
<p>العرس عرس ملوكى له قواعده وله ترتيبه السماوى وله أصوله الدخول والخروج ، وأصول البقاء في البيت الملك والتقرب إليه ، ليس لأن كل شيء مجاناً وبلا ثمن من جهه المدعوون فيصير رخيصاً أو مبتذلاً ؟ حاشا ، بل على العكس تماماً ، لأن كل ما للإنسان يعتبر كلا شيء وبلا قيمة ولا يؤهل الإنسان لدخول الوليمة السمائية ، لذلك لا يطلب من الإنسان فضة أو ذهب من سيرته الباطلة ليكون مستحقاً للدخول ، وهذا معناه أن الإنسان بذاته عاجز تماماً عن بلوغ الدخول إلى الملكوت ، ولكنها أولاً وأخيرًا نعمة مجانية ، ومرة أخرى بلا فضه أو ذهب ولكن لا بد أن يشترى الإنسان مجاناً ، بمعنى أن يظهر بالإرادة المطلقة خلوص نيته في الاحتجاج ، جوعاً وعطشاً إلى البر ، وفقراً نحو غنى المسيح البار الذى يبرر كثيرين ، وشوق ولهفة نحو العطية رغم أنها مجانية ولكن ثمنها دم المسيح معروفاً سابقاً قبل تأسيس العالم .هكذا ما يمكن أن نفهمه من نبوات إشعياء النبى  &#8221; أيها العطاش جميعاً هلموا إلى المياه ، والذى ليس له فضه تعالوا اشتروا وكلوا . هلموا اشتروا بلا فضة ربلا ثمن خمراً ولبناً &#8221; (إش ٥٥ : ١) .</p>
<p>لباس العرس :</p>
<p>على هذا القياس نفهم كيف يدخل إنسان شارع المدينة لأزقة إلى حفل الملك العظيم ، إنه يتغير عن شكله تمامآ ، حال دخوله من الباب الذى هو المسيح ، المسيح هو باب الخراف والذى يدخل يدخل به ، ولباس العرس هو ثياب البر الذى للمسيح ، ثياب بيضها بدمه ، اشترها بصليبه ، ما أبهظه ثمن وما أغلاها ثياب ، هي معموديتنا ، أغلى ما لنا في المسيح ، كلها نقاء ، كلها قداسة نأخذها عند باب الكنيسة ، هي المدخل إلى العرس ندخل إلى جرن المعمودية ، بطن الكنيسة الذى لا يشيخ فنولد من الماء والروح ، ونلبس المسيح ، &#8221; أنتم الذين أعتمدتم للمسيح قد لبستم المسيح &#8221; وهذا يسبقه ، خلع القديم ، موت القديم ، خلعتم الإنسان العتيق الفاسد الذى يفسد كشهوات الضلالة ، ولبستم الجديد الذى يتجدد للمعرفة حسب صورة خالقه .</p>
<p>ليس عليه ثياب العرس :</p>
<p>عندما دخل الملك لينظر المدعوين ، يشرق عليهم ويحل فوقهم ، رأى إنساناً ليس عليه ثياب العرس ، بكل تأكيد لا يستطيع ان يختفى ، إنه مثل النشاز في وسط لحن جميل ، أو كبقعة  داكنه السواد في وسط ثوب ناصع البياض يبدوا هكذا منظره كئيباً في وسط الفرح ، غريباً عن القطيع ، كمثل الماعز في وسط الخراف . بادره الملك بالسؤال ، كيف دخلت إلى هنا ، وليس عليك ثياب العرس ؟ وهذا معناه أنه لم يخلع جسم البشرية بالموت لم يختبر الصليب ، ولا لبس حله الخلاص وثياب البر فصار في خزى العراة .</p>
<p>* كيف تثبت الطبيعة الفاسدة في عدم الفساد ؟</p>
<p>* وكيف تعيش البشرية الساقطه في القيامة ؟</p>
<p>* أو كيف يرث المائت عدم الموت ؟</p>
<p>هذا شيء يفوق الخيال .الذين في السماء لهم ثياب بيض ، غسلوها وبيضوا مراراً وتكراراً في دم المسيح ، الينبوع الدائم للخلاص ، وهذا الإنسان ليس له الثياب أصلاً ؟ كيف يستقيم هذا ، الأبرار حرصوا على نظافة الثياب لكى لا تتسخ ، أما هذا فعريان من ثياب النعمة تماماً . القديسون بكوا دموع التوبة العمر كله ، فصارت لهم دموعهم معمودية دائمة للغسيل وتطهير القلب والضمير وحزنوا لأقل دنس وقع على ثيابهم ولو شبه شر عكر صفو طهارتهم الناصعة ، فبقت ثيابهم كأنها مغسولة توًا في الدم والماء بشهادة  الروح وصدق الضمير. أما هذا فلم يحصل حتى على الثوب ، فلم ينعم بستر العلى ولا ظل القدير أنه كمثل سارق لم يطلع من الباب ، لم يجتز المعمودية ولم ينل الصبغة  المقدسة .</p>
<p>فسكت :</p>
<p>فال له يا صاحب كيف دخلت إلى هنا وليس عليك ثياب العرس ؟ فسكت &#8230; إنها دينونة رهيبة انعقد اللسان من الرهبة ومن هول الموقف لم يستطع الكلام ، لقد انتهى الكلام جملة . كمن يقول للجبال اسقطى علينا وللآكام غطينا</p>
<p>سكوت الخوف سكوت العرى .</p>
<p>سكوت الخزى الذى لا ينتهى .</p>
<p>سكوت المحكوم عليه بالموت .</p>
<p>بماذا يجاوب ؟ أمام النور الذى لا يدنى منه ، والحق المطلق ، هكذا تكون الدينونة للخطاة ، وهكذا يكون موقف الخطاة ، حين يسد كل فم ولا يستطع الكلام .</p>
<p>مجازاة عادلة :</p>
<p>صار أمر الملك لعبيده ، أن يطرحوه خارجاً ، حيث البكاء وصرير الأسنان ، إذا لا يمكن أن يبقى في المجد أو يدوم في الملكوت ، ولأنه لا يدخله شيء نجس أو دنس ولا كل من يصنع كذباً ، يا للنصيب التعس الذى صار لهذا المقتحم  ظنا أن يحيا بذاته ويسلك بهواه ولم يقبل أن يخضع نفسه ويضعها ويطيع وصايا الذى دعاه ، بل صار مثل يهوذا ، كأن يدخل لينظر وقلبه ضمر له شراً ، ما اتحد بالمسيح ولا عاش له ، بحسب المظهر الخارجي كان محسوباً أنه مدعو وأنه داخل العرس ، ولكن بحسب الجوهر لم يلبس ثياب العرس ولا استحق أن يلبسه فينعم به ، لذلك طرح خارجاً، كان يهوذا محسوباً مع الأحد عشر ولكن صارت داره خراباً ووظيفته أخذها آخر ، أما هو فانشق في الوسط وانسكبت  أحشاؤه .</p>
<p>+ قال الملك للخدام اربطوا رجليه ويديه وخذوه واطرحوه في الظلمة الخارجية هناك يكون البكاء وصرير الأسنان .</p>
<p>الموضوع اذن ليس مجرد حرمان من العرس الأبدى والفرح السماوى فحسب ، بل قيود أبدية في الظلمة الخارجية ، وبكاء لا ينتهى وصرير الأسنان ، لابد للإنسان أن يتفكر فيها جيداً .فإن كنا دعينا إلى ملكوت المسيح ، وبلغت إلينا دعوته ، فنسلك كما يحق للدعوة التي دعينا إليها بكل تواضع القلب وإن كنا قد أئتمنا على ثوب العرس فلبسناه في المعمودية ، فلنحرص عليه أشد الحرص أن يبقى نقياً طاهراً ولنغسل ثيابنا ونبيضها في دم الحمل باعترافنا الدائم ودموع توبتنا ، وإن كان موضوع العرس هو مكاننا الطبيعى وفرحنا الدائم ، فلا تميل نفوسنا إلى ولائم أخرى يجهزها العالم ويخبئ فيها الشيطان سم الموت<a href="#_ftn9" name="_ftnref9">[9]</a> .</p>
<h4>الأرشيدياكون حبيب جرجس: الدعوة الى الوليمة العظمى (لو١٤: ١٥ – ٢٤)</h4>
<p>&#8221; تعالوا لأن كل شيء قد اعد &#8221; (لو١٤: ١٧) (أولا ً) شبه المسيح ملكوته بوليمة عرس (راجع أش٢٥ : ٦ و ٦١ : ١٠ و هو ۲ : ۱۹ و مت ٩ : ١٥ و أف٥ : ٢٢ و ۲ کو ۱۱ : ۲) لما في ذلك من المسرات لانه بشارة بالغفران والسلام والمصالحة مع الله ولأن فيه اظهار محبة المسيح لكنيسته (راجع رؤ ۱۹ : ۷) .(ثانياً) عبده الذي أرسله اشارة الى جميع الأنبياء والرسل. وخدامه الذين يدعون الناس بالكرازة لقبول بشارة الانجيل ودعوة الايمان .(ثالثاً) لاحظ الاعتذارات الباطلة التي اعتذر بها المدعوون للأستعفاء عن حضور الوليمة . وهكذا اكثر اعتذارات الناس باطلة عن قبول المسيح والمواظبة على حضور كنيسته .(رابعاً) دعوة الذين في الشوارع والأزقة اشارة الى دعوة الأمم الى الايمان لأن اليهود أصحاب الدعوة الأصلية رفضوا المسيح .(خامساً) لاحظ قول السيد « حتى يمتليء بيتي » فان النعمة كالطبيعة تكره الفراغ . وكل رغبة الله أن يقبل الناس الخلاص ويحصلوا على الغفران . وهذا اشارة الى كثرة الذين يؤمنون بالمسيح أخيراً ويخلصون<a href="#_ftn10" name="_ftnref10">[10]</a>.</p>
<h3>من وحي قراءات اليوم</h3>
<p>&#8221; وهو أعطي البعض أن يكونوا رسلاً والبعض أنبياءً والبعض مُبشِّرين &#8221;              البولس</p>
<p>مفهوم النبوة</p>
<p>+ يظن البعض أن النبوة فقط هي معرفة المستقبل أو إخبار الناس بأحداث لم تحدث بعد</p>
<p>+ لكن النبوة كما أعلنها الكتاب المقدس ( ١كو ١٤ : ٣ ) هي إعلان فكر الله للإنسان</p>
<p>+ أي أن كلام الأنبياء يلمس دائما قلب الإنسان وإحتياجه وليس فقط مستقبله بإعلان مايمكن أن يخفي عن إدراكه من تدبير الله الذي يفوق إدراك الإنسان الطبيعي</p>
<p>+ لذلك يقول بولس الرسول ( وأما من يتنبأ فيكلم الناس ببنيان ووعظ وتسلية &#8220;تعزية&#8221; &#8230;واما من يتنبأ فيبني الكنيسة</p>
<p>وأيضا ( لأنكم تقدرون جميعكم أن تتنبأوا واحدا واحدا ليتعلم الجميع ويتعزي الجميع (١كو٣١:١٤)</p>
<p>+ واضح أن هدف النبوة هو بنيان الكنيسة وتعزية الناس وبنيانهم ووعظهم</p>
<p>+ وعندما أشار أغابوس النبي الي مجاعة يمكن أن تحدث كان هدف روح الله أن تتحرك الكنيسة لتجميع عطايا لكنيسة أورشليم الفقيرة في ذلك الوقت ( أع ٢٨:١١)</p>
<p>+ ليتنا لانتأثر سريعا بأي كلام عن المستقبل مهما كان قائله</p>
<p>+ هدف النبوة خلاصنا ومعرفة فكر وإرادة الله وليس طلباتنا وتنفيذ إرادتنا البشرية</p>
<p>+ وإذا كنّا نحتاج للصلاة أو التوبة فهو حياتنا اليومية وليس إنتظارا لأحداث يمكن أن تحدث</p>
<hr />
<p><a href="#_ftnref1" name="_ftn1"></a>٥٤- القديس جيروم &#8211; تفسير ملاخي ١ &#8211; القمص تادرس يعقوب ملطي</p>
<p><a href="#_ftnref2" name="_ftn2"></a>٥٥- المرجع : كتاب تفسير إنجيل لوقا للقديس كيرلس الأسكندري صفحة ٥٠٠ &#8211; ترجمة دكتور نصحي عبد الشهيد</p>
<p><a href="#_ftnref3" name="_ftn3"></a>٥٦- المرجع : تفسير سفر ملاخي الإصحاح الأول والرابع &#8211; القمص تادرس يعقوب ملطي</p>
<p><a href="#_ftnref4" name="_ftn4"></a>٥٧- المرجع : كتاب المسيح مجد الشهداء ( صفحة ٤٦ ) &#8211; ترجمة الباحث ريمون يوسف رزق</p>
<p><a href="#_ftnref5" name="_ftn5"></a>٥٨- المرجع : كتاب عظات علي سفر التكوين للقديس يوحنا ذهبي الفم ( صفحة ١٩١ ) &#8211; ترجمة دكتور جورج فرج ومراجعة دكتور جورج عوض إبراهيم</p>
<p><a href="#_ftnref6" name="_ftn6"></a>٥٩- المرجع : كتاب الحقيقة والظلال ( صفحة ٤٦ ) &#8211; ترجمة دكتور سعيد حكيم يعقوب</p>
<p><a href="#_ftnref7" name="_ftn7"></a>٦٠-</p>
<p><a href="#_ftnref8" name="_ftn8"></a>٦١- المرجع : مجلة مدارس الاحد عدد شهر اكتوبر لسنة ١٩٥٩</p>
<p><a href="#_ftnref9" name="_ftn9"></a>٦٢- المرجع : كتاب وكلمهم بامثال ( صفحة ٢٦١ ) &#8211; القمص لوقا سيداروس</p>
<p><a href="#_ftnref10" name="_ftn10"></a>٦٣- المرجع : كتاب الكنز الأنفس للارشيدياكون حبيب جرجس الجزء الثالث ( صفحة ١٤٧ ) &#8211; مشروع الكنوز القبطية</p>

      {% endcreateArticleAccordions %}
    </section>
  {% endblock %}
  