---
layout: 'layouts/reading.html'
title: 'اليوم الثالث من شهر مسري'
permalink: annual/12-3.html
---
  {% block content %}
    <section id="readings">
      <ul>
      {% if 'undefined' != 'undefined' %}
      
      {% else %}
      {% if '19.40:2-3' != 'null' %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">العشية</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeVespers '19.40:2-3' '40.7:22-25' %}
          </div>
        </div>
      </li>
      {% endif %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">باكر</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeMatins '19.89:24,19' '42.13:23-30' '' %}
          </div>
        </div>
      </li>
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <h3 class="flex items-center justify-between">
            <span class="kufi">القداس</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </h3>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeLitugy '46.3:1-8' '61.1:1-11' '44.15:13-29' '19.61:1-3' '42.14:25-35' %}
          </div>
        </div>
      </li>

      {% endif %}
        </ul>
    </section>
    <section id="article">
      <h3 class="mt-8 mb-4 heading-explain">شرح القراءات</h3>
      {% createArticleAccordions %}
        <p><strong>(تذكار نقل جسد القديس سمعان العمودي إلي أنطاكية  )</strong></p>
<p>لذلك نحن ايضا اذ لنا سحابة من الشهود مقدار هذه محيطة بنا</p>
<p>(عب ١٢: ١)</p>
<p>فليفرح ويتهلل طالبوا الرب الملازمون كل حين فى تلاوة اسمه القدوس</p>
<p>هؤلاء هم الأشجار التي تكلم من أجلها المرتل داود أنها ثابتة عند مجاري المياة تعطي ثمرة كاملة</p>
<p>ابصالية الأربعاء</p>
<p>&#8221; لنحسب حساب نفقة البرج الروحي الشاهق العلو، ونتعمق في ذلك مقدَّما بحرص&#8230; لنأخذ في اعتبارنا أولًا الأخطاء بصورة واضحة، فنحفر ونزيل الفساد ونفايات الشهوات حتى يمكننا أن نضع أساسات البساطة والتواضع القويَّة فوق التربة الصلبة التي لصدرنا الحيّ، أو بالحري توضع الأساسات علي صخر الإنجيل (مت ٦: ٤٨) ، بهذا يرتفع برج الفضائل الروحيَّة، ويقدر أن يصمد ويعلو إلى أعالي السماوات في آمان كامل ولا يتزعزع<a href="#_ftn1" name="_ftnref1">[1]</a> &#8221;</p>
<h3>شواهد القراءات</h3>
<p>(مز ٣٩ : ٣) ، (مت ٧ : ٢٢ &#8211; ٢٥) ، (مز ٨٨ : ١٦ ، ١٣) ، (لو ١٣ : ٢٣ &#8211; ٣٠) ، (١كو ٣ : ١ -٨) ، (٢بط ١ : ١ &#8211; ١١) ، (أع ١٥ : ١٣ &#8211; ٢٩) ، (مز ٦٠ : ١ ، ٢) ، (لو ١٤ : ٢٥ &#8211; ٣٥)</p>
<h3>ملاحظات علي قراءات يوم ٣ مسري</h3>
<p>+ اليوم هو تذكار نقل جسد القديس سمعان العمودي إلي أنطاكية ( وأيضاً تذكار نياحة القديس البابا ابريموس البطريرك الخامس ) ومُحوَّل علي هذا اليوم تذكار الآباء القديسين المشهورين بالعبادة الشاقة والحياة في الجبال وعلي الأعمدة منهم الأنبا باخوم أب الشركة والأنبا موسي الأسود</p>
<p>+ قراءة الكاثوليكون اليوم (٢بط ١ : ١ &#8211; ١١) تُشبه قراءة الكاثوليكون (٢بط ١ : ١ &#8211; ٨) للأحد الرابع من هاتور ، والأحد الثاني من بؤونه</p>
<p>قراءة اليوم بالآيات الزائدة عن قراءات الآحاد ( من ٩ &#8211; ١١ ) تتكلَّم عن الإجتهاد في حفظ الدعوة ( القديس سمعان العمودي ) ، أمَّا قراءات الأحد الرابع من هاتور تتكلَّم عن المعرفة الكاملة لربنا يسوع بالفضائل المُتكاثرة ، وقراءات الأحد الثاني من بؤونه عن عظمة الإيمان</p>
<p>+ قراءة الإبركسيس اليوم (أع ١٥ : ١٣ &#8211; ٢٩) تُشبه قراءة الإبركسيس (أع ١٥ : ١٢ &#8211; ٢١) ليوم ٢ أمشير والموافق لتذكار نياحة أنبا بولا ، وقراءة الإبركسيس ليوم ١٧ مسري والموافق لتذكار القديس يعقوب من فجوج ، وأيضاً قراءة الإبركسيس (أع ١٥ : ١٣ &#8211; ٢١) ليوم ٢٧ هاتور والموافق لتذكار شهادة القديس يعقوب المقطع ، يوم ٦ طوبه والموافق لعيد الختان ، وأيضاً قراءة الإبركسيس (أع ١٥ : ٢١ &#8211; ٢٩) ليوم ٨ توت والموافق لتذكار نياحة موسي النبي ، وأيضاً قراءة الإبركسيس لقراءات الأحد الثاني من شهر طوبي (أع ١٥ : ٢٢ &#8211; ٢٩)</p>
<p>وأغلب الظن أن سبب إختيار القراءة اليوم هو لأجل قديسي كنيسة العهد الجديد المُطعَّمة من الأمم مثل الأنبا بولا ( ٢ أمشير ) ، والقديس سمعان العمودي ( ٣ مسري ) ، وهو موضوع قراءات عيد الختان ( ٦ طوبه ) ، وموضوع قراءة الأحد الثاني من طوبي</p>
<p>كما أنها تأتي في أسماء قديسين ذُكِروا في القراءة المُخْتارة مثل يعقوب ( ٢٧ هاتور ، ١٧ مسري ) وسمعان ( ٦ طوبه ، ٣ مسري ) ، والإشارة إلي موسي النبي في بداية القراءة في يوم ٨ توت</p>
<p>+ آية ٢ في مزمور القدَّاس ( علي الصخرة رفعتني وأرشدتني ) تكرَّرت في مزمور القدَّاس ليوم ١٩ توت الموافق ثالث يوم عيد الصليب</p>
<p>+ إنجيل قداس اليوم (لو ١٤: ٢٥ &#8211; ٣٥) هو نفس إنجيل قدَّاس ثالث يوم عيد الصليب ، و إنجيل قدّاس الأحد الثالث من هاتور</p>
<p>والقراءة الأولي (٣ مسري ) تتكلَّم عن البرج والصخرة في مزمور عشية والقداس وإنجيل عشية وإنجيل القداس ، وهي التي إرتبطت بسيرة حياة القديس سمعان العمودي ( سنكسار ٣ مسري ) ، كما تكلمت أيضاً عن التلمذة للرب وحَمْل الصليب فوق كل العواطف البشرية ، والإحتياجات ، وبإنكار الذات</p>
<p>والقراءة الثانية (١٩ توت) تتكلّم عن حمل الصليب</p>
<p>والقراءة الثالثة (الأحد الثالث من هاتور) تتكلّم عن حساب النفقة والتلمذة موضوع قراءات شهر هاتور</p>
<h4>القراءات المُحوَّلة علي قراءات هذا اليوم</h4>
<p>رابع عشر توت             نياحة القديس أغاثو العمودي من تنيس</p>
<p>سابع عشر كيهك         نياحة القديس لوقا العمودي</p>
<p>تاسع أمشير                نياحة القديس برسوما أب رهبان السريان (كان مُعاصراً للقديس سمعان العمودي وتلاقيا معاً في حياتهما )</p>
<p>الثاني من بشنس          نياحة القديس تادرس تلميذ القديس باخوميوس أب الشركة</p>
<p>رابع عشر بشنس           نياحة القديس باخوميوس أب الشركة</p>
<p>حادي وعشرين بشنس نياحة القديس مرتينيانوس الذي أقام في الجبل ستة وستون سنة</p>
<p>تاسع وعشرين بشنس   نياحة القديس سمعان العمودي الشهير بالحبيس</p>
<p>رابع وعشرون بؤونة      شهادة أنبا موسي القوي (الأسود )</p>
<p>خامس عشر أبيب        نياحة القديس أفرآم السرياني</p>
<h3>شرح القراءات</h3>
<p>لأن سيرة حياة القديس سمعان مرتبطة بعامود وصخرة ( كما جاء في سيرته في سنكسار اليوم ) لذلك تتركَّز قراءات اليوم علي الشهادة القوية والأساس والبناء القوي والإجتهاد في الحياة مع الله والتلمذة الحقيقية وتكررت كلمة صخرة أربع مرّات ( يمكن كتبة كلمة صخرة بخط ثقيل ) في مزمور وإنجيل عشيّة وفِي مزمور القدَّاس</p>
<p>&#8221; فأقام علي الصخرة رجلي &#8221; مزمور عشيّة</p>
<p>&#8221; علي الصخرة رفعتني وأرشدتني &#8221; مزمور القدَّاس</p>
<p>&#8221; أشبّهه برجل عاقل بني بيته علي الصخر فنزل المطر وجاءت الأنهار وهبت الرياح وصدمت   ذلك البيت فلم يسقط لان أساسه كان ثابتا علي الصخرة &#8221;</p>
<p></p>
<p>لذلك تبدأ المزامير بالله صخرتي ( مزمور عشيّة ) الذي به يرتفع قرني ( مزمور باكر ) وهو البرج الحصين ( مزمور القدَّاس )</p>
<p></p>
<p>في مزمور عشيّة أوقفني الله علي الصخرة ليجعل أساسي قوياً وبناء حياتي متيناً</p>
<p>( فأقام علي الصخرة رجلي وسهّل خطواتي وجعل في فمي تسبيحاً جديداً وسبحاً لإلهنا )</p>
<p>وفِي مزمور باكر يرتفع قرني بإسمه القدّوس ويجعلني قوياً</p>
<p>( حقي ورحمتي معه وبإسمي يرتفع قرنه حينئذ بالوحي تكلمت مع بنيك وقلت اني وضعت عوناً علي القوي )</p>
<p>وفِي مزمور القدَّاس الصخرة ليست فقط قوتي لكن أيضاً إستنارتي وفيها رجائي وحصانتي</p>
<p>( إستمع يا الله طلبتي إصغ إلي صلاتي علي الصخرة رفعتني وأرشدتني صرت رجائي وبُرجاً حصيناً )</p>
<p></p>
<p>وفِي القراءات عن أساس البنيان الطعام القوي والغرس النامي ( البولس ) وأساس النعمة غني الدخول للملكوت ( الكاثوليكون ) وأساس الإختيار الأمر المعروف عند الرب منذ الأزل ( الإبركسيس )</p>
<p></p>
<p>في البولس نري أساس البنيان الإحتياج للطعام القوي الذي يتجلٰي في الكنيسة الواحدة وفِي تعب الخدّام</p>
<p>( سقيتكم لبناً لا طعاماً لأنكم لم تكونوا بعد تستطيعون وحتي للآن أيضاً لا تستطيعون لانكم بعد جسديون فإنه إذ فيكم حسد وخصام ألستم جسديين … أنا غرست وابلوس سقي لكن الله كان ينمي إذاً ليس الغارس شيئاً ولا الساقي بل الله الذي يُنمي والغارس والساقي هما واحد ولكن كل واحد سيأخذ أجرته بحسب تعبه )</p>
<p>وفِي الكاثوليكون عن أساس النعمة الأمجاد الجليلة التي صرنا بها شركاء الطبيعة الإلهية والتي تحتاج كل الإجتهاد لتكون الدعوة والإختيار ثابتين</p>
<p>( كما أن كل شئ قد صار لنا بقوة لاهوته للحياة والتقوي التي أعطيت لنا مجاناً بمعرفة الذي دعانا بمجده والفضيلة وبواسطة هذه الأمجاد الجليلة التي أعطيت لنا للكرامة لكي تصيروا بها شركاء الطبيعة الإلهية … ولهذا عينه وأنتم باذلون كلَّ اجتهاد … لذلك بالأكثر اجتهدوا أيها الاخوة أن تجعلوا دعوتكم واختياركم ثابتين بالأعمال الصالحة لأنكم إذا فعلتم ذلك لن تزلوا أبداً لأنه هكذا يُقدم لكم بغني دخول إلي ملكوت ربنا ومخلصنا يسوع الأبدي )</p>
<p>وفِي الإبركسيس عن أساس إختيار كنيسة العهد الجديد منذ الأزل والتي تضم المؤمنين من كل الأمم والشعوب والتي أعلنها الروح القدس علي يد خدام بذلوا أنفسهم لأجل إسمه القدّوس</p>
<p>( كما هو مكتوب سأرجع بعد هذا وأبني أيضاً خيمة داود الساقطة وأبني أيضاً ردمها وأقيمها ثانية لكي يطلب الباقون من الناس الربّ وجميع الامم الذين دُعي إسمي عليهم يقول الرب الصانع هذا الأمر المعروف عند الرب منذ الأزل … فقد رأينا واجتمعنا برأي واحد واخترنا رجلين وأرسلناهما إليكم مع حبيبينا برناباس وبولس أناس قد بذلوا أنفسهم علي إسم ربنا يسوع المسيح )</p>
<p></p>
<p>وفِي الأناجيل العاقل الذي يبني بيته علي الصخر ( انجيل عشيّة ) والقليلون الذي وجدوا الباب الضيق ( إنجيل باكر ) والتلميذ الذي يحسب حساب النفقة في البنيان ( انجيل القدَّاس )</p>
<p></p>
<p>في إنجيل عشيٰة من يسمع الكلمة الإلهية ويعيشها ويعمل بها فيصير بنائه قويا وأساسه ثابتا علي الصخر</p>
<p>( فكل من يسمع أقوالي هذه ويعمل بها أشبّهه برجل عاقل بني بيته علي الصخر فنزل المطر وجاءت الأنهار وهبت الرياح وصدمت   ذلك البيت فلم يسقط لان أساسه كان ثابتا علي الصخرة )</p>
<p>وفِي إنجيل باكر الإحتياج إلي الإجتهاد لكي ندخل من الباب الضيق وبطلان العبادة الشكلية مع فعل الظلم</p>
<p>&#8221; فقال لهم أجتهدوا أن تدخلوا من الباب الضيق … حينئذ تبتدئون تقولون أكلنا قدامك وشربنا وعلَّمت في شوارعنا فيقول لكم إني لا أعرفكم من أين أنتم إذهبوا عني يا جميع فاعلي الظلم &#8221;</p>
<p>لذلك يختم إنجيل القدَّاس بضرورة حساب النفقة والحرص علي ملح حياتنا أي إمتلاؤها من النعمة وأهميّة أن نأخذ موقف من أي عاطفة تُعطِّلنا عن المسيح كما أيضاً حمل الصليب والتحرر من محبة المال</p>
<p>&#8221; من يأتي إليَّ ولا يبغض أباه وأمه … ومن لا يحمل صليبه ويتبعني فلا يُمكنه أن يصير لي تلميذاً … فهكذا كل واحد منكم إن لم يترك جميع أمواله لا يقدر أن يصير لي تلميذاً &#8221;</p>
<h3>ملخّص القراءات</h3>
<p>الله هو صخرتي وبرجي الحصين وبه يرتفع قرني                      مزمور عشيّة وباكر والقدّاس</p>
<p>ورغم إختيارنا المعروف منذ الأزل ولا يمكن شئ بدون غني النعمة لكنّنا نحتاج الطعام القوي والغرس النامي لكي يكون بنياننا ثابتا   البولس والكاثوليكون والإبركسيس</p>
<p>لذلك من يبني علي الصخر هو عاقل ومن يجتهد ليدخل من الباب الضيق هو من القليلين ومن يحسب حساب النفقة هو التلميذ الحقيقي للرب               إنجيل عشيّة وباكر والقدّاس</p>
<h3>أفكار مُقترحة للعظات</h3>
<h4>(١) البناء القوي</h4>
<p>١- الأساس</p>
<p>&#8221; فأقام علي الصخرة رجلي &#8221; ، &#8221; علي الصخرة رفعتني وأرشدتني &#8221;               مزمور عشيَّة والقدّاس</p>
<p>&#8221; فنزل المطر وجاءت الأنهار وهبت الرياح وصدمت ذلك البيت فلم يسقط لأن أساسه كان ثابتاً علي الصخر &#8221; إنجيل عشيَّة</p>
<p>تكررت كلمة صخر ثلاث مرات في القراءات للتعبير عن قوَّة الأساس والبنيان والصخرة هنا هو المسيح له المجد (١كو ١٠ : ٤) كما يقول المزمور ( الرب صخرتي وحصني ومُنقذي إلهي صخرتي به أحتمي – مز ٢:١٨)</p>
<p>٢- البنيان ( النعمة والجهاد )</p>
<p>&#8221; أجتهدوا أن تدخلوا من الباب الضيق … ويأتون من المشارق والمغارب ومن الشمال والجنوب ويتكئون في ملكوت الله &#8221;                                                                                                إنجيل عشيَّة</p>
<p>&#8221; أنا غرست وأبلوس سقي لكن الله كان ينمي … ولكن كلُّ واحدٍ سيأخذ أجرته بحسب تعبه &#8221;  إنجيل باكر</p>
<p>بالرغم من أن الله أعطي عطيّة وإمكانية الإتكاء في ملكوته لكل البشر لكن يتمتع بها من دخل من الباب الضيق</p>
<p>وبالرغم من أن الله هو الذي ينمي لكنه سيعطي إجرته ومكافأته بحسب تعب الإنسان</p>
<p>٣- السلامة والأمان والضمان ( صيانة المبني )</p>
<p>&#8221; هاربين من شهوة الفساد التي في العالم &#8221;                                               الكاثوليكون</p>
<p>&#8221; احفظوا نفوسكم من ذبائح الأوثان ومن دم الميت والمخنوق ومن الزني &#8221;           الإبركسيس</p>
<p>نحتاج للحرص الدائم في جهادنا لضمان سلامة وثبات بناءنا كيف نهرب من فساد العالم وشهواته</p>
<h4>(٢) الإجتهاد</h4>
<p>١- إجتهاد الدخول</p>
<p>&#8221; فقال لهم أجتهدوا أن تدخلوا من الباب الضيق &#8221;                           إنجيل عشيَّة</p>
<p>نحن نجتهد أن ندخل إليه باب خلاصنا (يو ٩:١٠) الذي يفتح ولا أحد يغلق (رؤ ٧:٣) ووعده الصادق ها أنذا قد جعلت أمامك باباً مفتوحاً (رؤ ٨:٣) فهو الذي يقودنا لندخل إليه ونسكن في عرش نعمته</p>
<p>٢- إجتهاد الفضيلة</p>
<p>&#8221; ولهذا عينه وأنتم باذلون كل إجتهادٍ قدموا في إيمانكم فضيلةً وفِي الفضيلة معرفةً وفِي المعرفة تعففاً &#8230; &#8221;                                                                                    الكاثوليكون</p>
<p>٣- إجتهاد ثبات الدعوة والإختيار</p>
<p>&#8221; لذلك بالأكثر اجتهدوا أيها الإخوة أن تجعلوا دعوتكم واختياركم ثابتين &#8221;     الكاثوليكون</p>
<p>تلاميذ المسيح له المجد دائماً يراجعون أنفسهم ويُجدِّدوا دعوتهم بتجديد محبتهم لله ووضوح هدفهم ملكوت ربنا يسوع المسيح</p>
<h4>(٣) التلمذة</h4>
<p>٤- تلمذة لا تنحصر في عواطف بشرية تعوق تبعية المسيح له المجد</p>
<p>&#8221; من يأتي إليّ ولا يبغض أباه وأمَّه وإمرأته وأولاده وإخوته وأخواته حتي نفسه أيضاً فلا يقدر أن يكون لي تلميذاً &#8221;                                                                     إنجيل القدَّاس</p>
<p>الموقف هنا ليس ضد العواطف البشرية والعائلية والإجتماعية المُقدَّسة بل ضد العاطفة التي يمكن أن تُعطِّل الإنسان عن تبعية الرب مثل ما فعلت الشهيدة دميانة مع والدها عندما علمت أنه أنكر الإيمان فرفضت أبوته لها إذا إستمر في الإنكار وكان هذا سبباً في رجوعه وإستشهاده وأظهرت معني المحبّة الحقيقية التي تهدف إلي الخلاص الأبدي</p>
<p>٥- تَلْمَذَة تتبع السيّد وتقبل آلامه وتحمل صليبه</p>
<p>&#8221; ومن لا يحمل صليبه ويتبعني فلا يُمكنه أن يصير لي تلميذاً &#8221;               إنجيل القدَّاس</p>
<p>التلمذة إحتمال للآلام ومسير في طريق الجلجثة حتي الموت &#8221; من أجلك نمات كل النهار &#8221; (رؤ ٨ : ٣٦)</p>
<p>٦- تلمذة تتحرر من عبودية المال والمادة</p>
<p>&#8221; فهكذا كل واحد منكم إن لم يترك جميع أمواله لا يقدر أن يصير لي تلميذاً &#8221;          إنجيل القدَّاس</p>
<p>كما قال الرب لا يقدر أحد أن يخدم سيدين (مت ٢٤:٦)</p>
<h3>عظات آبائية</h3>
<h4>التلمذة للمسيح له المجد والموت اليومي معه في فكر القديس أنبا أنطونيوس</h4>
<p>وعلى ذلك فأنه يجب ان نتمسك ببذل كل الجهد وبدون اهمال. واننا ننال هذا بمعونة الرب كما هو مكتوب، &#8220;ونحن نعلم أن كل الأشياء تعمل معا للخير للذين يحبون الله&#8221; ، وبالتأمل فى كلام (بولس) الرسول الى الذين يهتمون منا بأعمال الخير &#8220;انى بافتخاركم الذى لي في يسوع المسيح ربنا أموت كل يوم&#8221;.</p>
<p>وهكذا نحن أيضاً نواجه الموت كل يوم، بحرارة في الروح، وبلا خطية. وأقول هذا الكلام الكثير، لكي مع نهوضنا كل يوم نتوقع باستمرار أننا سوف نموت، ونثبت على هذا الفكر الى المساء، متوقعين أن نقوم ثانية بكيان غير مرئي، وكل ممتلكاتنا في الحياة لا تقاس بيوم واحد (نحياه) بتدبير وبصيرة.</p>
<p>وهكذا نجد أنفسنا كل يوم حارين بالروح وغير مخطئين، والرغبة الشديدة نحو بعض الأشياء قد ابتعدت عنا بعيدا، والغضب الشديد من أي أحد غير موجود، وغير محتفظين بأي شيء على الأرض، بل متوقعين الموت في كل يوم الذى سوف يفقدنا كل شيء سبق وتلذذنا به. شهوة النساء، أو أي متعة بالية لن نحتفظ بها البتة، بل ونرفض التعدي، ونجاهد بشدة متوقعين يوم الدينونة دائما. وما أعظم الخوف الذى يبدد الآلام الكثيرة ويجعلها سهلة؛ بل ويحولها الى متعة، والذى سوف يسند النفس الى أن تقوم ثانية.</p>
<p>وهكذا الذين سيبدأون منا سيصلون سريعاً الى طريق الفضيلة، ونمتد أكثر حتى ندرك المتقدمين. ولا ندع شيء يجعلنا نلتفت الى الخلف مثل امرأة لوط، وخصوصا لأن الرب قال: &#8221; ليس أحد يضع يده على المحراث وينظر الى الوراء يصلح لملكوت الله&#8221;. ومن يلتفت الى أي شيء آخر في العالم سيندم.</p>
<p>فلا تخافوا عندما تسمعون عن الفضيلة، ولا تكونوا متغربين عن اسمها، لأنها ليست بعيدة عنا، ولن تطرحنا الى خارج اذا ثبتت فينا وظاهرة في أعمالنا، بل وتسهل علينا أي شيء نريده في وحدتنا.</p>
<p>اليونانيين سافروا وعبروا البحر لكى يحصلوا على العلم؛ أما نحن فقد ارتحلنا ونحن محتاجين ولا نملك شيء من أجل ملكوت السموات، ولن ( نضطر) الى الأبحار في البحر من أجل الفضيلة؛ لأن الرب سبق وقال: &#8220;ها ملكوت الله داخلكم&#8221;. وبالتالي رغبتنا الوحيدة هي أن نتمسك بالفضيلة التي نحتاج اليها، ونظرا لأنها ساكنة فينا فهي تثبتنا، والنفس العاقلة بطبيعتها سوف تستمع الى وصايا الفضيلة.</p>
<p>وبحسب الطبيعة نتمسك بها ونثبت فيها وتصيرنا نحو الخير بسرعة فائقة، وبسببها قال يشوع بن نون الى الشعب: &#8220;أميلوا قلوبكم الى الرب اله اسرائيل&#8221;. ويوحنا (المعمدان) قال: &#8220;أعدوا طريق الرب&#8221;.</p>
<p>والنفس تكون مقدسة بالرب لأنها تدرك بطبيعتها أنه هو خالقها. وأيضاً تعرض عن الضلال بطبيعتها التي تقدست، وساعتها تعبر عن الشر الذى فيها. وبالتالي لا نضطرب من أي شيء، ونصير ثابتين في الفضيلة؛ أما أذا فكرنا في الشر فسندان كأشرار.</p>
<p>أما اذا كان الاضطراب بسبب أي أمر من الخارج، فان (الرب) سيحفظ نفوسنا من الأفكار القذرة، ويحمى الوديعة التي نلناها في أنفسنا من الرب، لأنه هو يعرف خليقته جيدا، وهكذا تكون أعمالنا به وفيه<a href="#_ftn2" name="_ftnref2">[2]</a>.</p>
<h4>شرح إنجيل القداس في فكر القديس أغسطينوس</h4>
<p>لقد حيرت العباره التاليه صغار النفوس المشتاقين للحياه بحسب وصايا المسيح. &#8220;ان كان أحد يأتي الي ولا يبغض أباه وأمه  وامراته واخوته  واخواته حتي نفسه ايضا فلا يقدر ان يكون لي تلميذاً&#8221;</p>
<p>قد يبدو لناقصي الفهم أن هذه العباره تناقض منع طلق الزوجه لغير عله الزنا. ففي الموعظه علي الجبل يطالب الله بعدم الطلاق إلا لعله الزنا ، بينما في هذه العباره يريد من تابعيه أن يبغضوا زوجاتهم .</p>
<p>إلا أننا ندرك أن حديثه في هذه العباره لا يختص بالعلاقات الجنسيه ، وإلا فما الداعي لذكر الأب والأم والإخوه في نفس الأمر بل بالحقيقه &#8221; ملكوت السموات يغصب والغاصبون يختطفونه “ يا لعظم هذا الاغتصاب الذي فيه يحب الإنسان عدوه ويبغض أباه وأمه وزوجته وأولاده وأخوته !!! إن الذي دعانا إلي ملكوت السموات أمرنا بهذه الوصايا جميعاً ،ولكن كيف لا تناقض هذه الوصايا بعضها البعض ؟! يسطيع رب المجد أن يوضحها لنا بسهوله ، ومع ذلك  لا نستطيع تنفيذها وحدنا ، مع أنه بالسيد المسيح يسهل تنفيذها .</p>
<p>لا يوجد في ملكوت السموات قرابات زمنيه من هذا النوع &#8221; لانه ليس يهودي ولا يوناني . ليس عبد ولا حر . ليس ذكر وأنثي &#8221; &#8221; بل المسيح الكل في الكل &#8221; ويقول الرب نفسه لانهم في القيامه لا يزوجون ولا يتزوجون بل يكونون كملائكه اللهفي السماء &#8221; . لذلك فعلي راغبي ملكوت السماء ألا يبغضوا الأشخاص في ذواتهم ، بل تلك العلاقات الزمنية العابرة التي جاءت نتيجة الولاده الجسديه والموت ، هذان الأمران اللذان يربطان الجماعات في الزيجات الأرضيه .</p>
<p>فلو سألنا مسيحناً صالحاً له زوجه ، وقد يكون لديه أبناء منها عما إذا كان يرغب في أن تكون له علاقه جسديه بزوجته في ملكوت السموات ، فإنه رغم محبته لزوجته في الحياه الحاضره وإرتباطه بها ، سيجيب بلا تردد رافضا بشده أن تكون علاقته بها في السماء علاقه جسديه ، لأنه يهتم بتلك الحياه التي فيها يلبس الفاسد عدم فساد وهذا المائت عدم موت .</p>
<p>هل لي أن أسأله مره أخري عما إذا كان يرغب في أن تكون زوجته معه بعد القيامه هناك ، حيث يكون لها ذلك التغير  الملائكي الذي وعد به الرب القديسين ، فإنه سيجيب بالإيجاب بشده ، قدر ما رفض بشده في الحاله الأولي .</p>
<p>لهذا ما يحبه المسيحي الصالح في المراه هو كونها مخلوق إلهي ، هذه التي يرغب لها التجديد والتغير دون أن يعتم بالعلاقة الشهوانية .</p>
<p>وبنفس الطريقة يحب الانسان عدوه . لا لأجل عداوته له بل لكونه إنساناً يرغب له نفس النجاح الذي يريده لنفسه أي بلوغ ملكوت السموات .</p>
<p>وهذا ما ينطبق أيضا علي الابوه والأمومة وبقيه العلاقات الجسديه ، ونبغض  فيهم العلاقات الجسديه ، بقدر مانحب كل ما يؤدي بهم إلي الوصول لملكوت السموات . فهناك لا نقول لأحد &#8221; أبي &#8221; بل جميعنا نقول لله &#8221; ابانا &#8221; ،ولا نقول لأحد &#8221; امي&#8221; بل نقول جميعنا لأورشليم السماويه &#8221; امنا &#8221; ، ولا نقول لأحد &#8221; اخي &#8221; بل يقول كل للآخر &#8221; أخانا &#8221; .</p>
<p>حقا سيكون هناك زواج من جانبنا إذ نتقدم جميعاً كزوجه واحده لذاك الذي خلصنا من نجاسه هذا العالم بسفك دمه ، لذلك يلزم لتلميذ المسيح أن يكره تلك الأمور الزائله المتعلقه بأقربائه ، وبقدر كراهيته لهذه الأمور قدر ما يحب أشخاصهم ، راجياً لهم حياه أبديه .</p>
<p>لذلك قد يحيا المسيحي يحيا المسيحي في وفاق مع زوجته ، إما لأجل الشهوة الجسديه التي سمح بها الرسول دون أن يأمر بها ، أو لانجاب الأطفال الأمر الذي يستحق المدح في الحياه الحاضره ، أو لصداقتها كأخت بدون أي اتصال جسدي، فتكون له زوجته وكأنها ليست له . هذا الأمر ممتاز وجليل في المسيحيه إذ فيه لا يهتم بالعلاقه الزمنية بل يحب البركات الأبدية .</p>
<p>فلكي نحب البركات الأبديه &#8211; وجب علينا أن نهتم بالأشياء التي اشتياقنا لها أقل ، تلك التي بعد قليل ستنتهي وتضمحل . مثال ذلك إن كنا لا نبغض حياتنا في العالم الحاضر لأنها زمنية فلا نشتاق للحياه المقبله الأبديه .</p>
<p>أما كلمه &#8221; نفسه &#8221; في العباره &#8221; إن كان أحد &#8230; لا يبغض حتي نفسه أيضاً فلا يقدر أن يكون لي تلميذًا &#8221; ، تعني &#8221; الحياة الزمنية &#8221; .، التي قال عنها السيد المسيح أنه يلزمها الطعام الفاسد.</p>
<p>أليست الحياه أفضل من الطعام؟ . اي يقصد &#8221; بالنفس &#8221; الحياه الزمنيه التي تحتاج للطعام .</p>
<p>كذلك عندما يقول أنه يضع نفسه عن خرافه، يقصد أيضاً حياته الأرضية مؤكداً مؤكدا ذلك بموته علي الصليب لأجل خرافه.<a href="#_ftn3" name="_ftnref3">[3]</a></p>
<h4>القديس غريغوريوس النيسي: تبعية الرب</h4>
<p>والآن بعد أن تقدمت النفس فى علاقتها مع الله وأصبحت فى حمايته وفقا لوعده ، فان يد الرب تشير الى القوة التى تفوق كل شىء لأن الرب يسوع المسيح هو القوة الذى خلق كل الأشياء ، هو الهدف الذى يسعى اليه كل أحد وهو الطريق الذى به يصل من يسير وفقا لكلمته ، وهو الصخرة لأولئك الذين جاهدوا فى الصعود وهو القصر بالنسبة للذين حصلوا على الراحة . وهنا تسمع النفس دعوتها من الله وعندئذ تأخذ مكانها خلفه وهى تتبع الرب وفقا للوصية الالهية التى فهمها داود النبى حين قال &#8221; الساكن فى ستر العلى فى ظل القدير يبيت بخوافيه يظللك وتحت أجنحته تحتمى &#8221; (مز١٠٤: ١، ٤) فهذه تشير الى الرب لأن الكتفين والأجنحة هما الخلف والمقصود هو أن نسير خلف الرب .  أما يمين الرب غطت الصخرة وغطت موسى فقد تحدث عنها داود النبى حين قال &#8221; يمين الرب مرتفعة يمين الرب صانعة ببأس &#8221; (مز١١٨: ١٦) وما حدث مع موسى النبى قد شرحة الرب لتلاميذه حين قال لهم &#8221; ان أراد أحد أن يأتى ورائى &#8221; (لو٩: ٢٣) فهو لم يقل أن أراد أحد أن يسير أمامى أو حين سئل عن كيفية الوصول الى الملكوت قال &#8221; تعال واتبعنى &#8221; (لو١٨: ٢٢) . موسى النبى طلب أن يرى الله فأعطيت له هذه التعليمات لكى يراه ، رؤية الله معناها تبعيته الى حيث يقودنا هو حسبما يريد . ومرور الله يشير الى قيادته للنفوس التى تتبعه . لأن كل من لا يعرف الطريق لا يمكن أن يصل بسلام وبذلك يلزم الأمر الى مرشد يقودنا فى الطريق ، والمرشد لابد أن يسير أمامنا ونحن نتبعه ونسير خلفه،  وما دمنا نسير خلفه ونرى ظهره لأننا سوف نصل ، أما اذا رأينا وجه المرشد فان معنى هذا اننا نسير فى اتجاه مخالف لطريق المرشد، ولذلك يقول لأولئك الذين يتبعونه &#8221; لا يرى أحد وجهى ويعيش &#8221; (خر٣٣: ٢٠) فالمعنى هو لا تأتوا من أتجاه آخر وتكونوا فى مواجهة المرشد والا ستكونوا سائرين فى الاتجاه العكسى تماما،  ولان الصلاح يجب أن يكون فى نفس اتجاه البر والفضيلة وليس فى عكس اتجاهما ، أما الذى يأتى فى الأتجاه العكسى للخير فهو الشر لان الشر هو دائما السير فى الاتجاه العكسى فى الفضيلة ، ولايمكن أن تكون الفضيلة عكس البر والصلاح ، ولذلك يرى موسى الله وجها لوجه ولكنه فقط رأى خلفه والذى يرى وجهه – أى الذى يعيش حياه تخالف الفضيلة &#8212;  مواجهة لن يعيش كما يخبرنا الوحى الالهى .  ولذلك كم هو مهم أن تتبع الرب ، لأنه بعد الصعود الى الجبل العالى ورؤية هذه المناظر الرائعة جدا كان موسى النبى قد أقترب من نهاية حياته على الأرض وحسب أهلا أن يأخذ تلك النعمة بعد أن تعلم كيف يسير خلف الرب . وتبعيتة الرب هى عدم السير فى الخطية<a href="#_ftn4" name="_ftnref4">[4]</a>.</p>
<h4>ذهبي الفم: إحتمال التجارب</h4>
<p>إذاً لماذا : &#8221; إذ لنا روح الإيمان عينه &#8221; ، لماذا إهتم أن يثبت ، كيف أن الإيمان في العهد القديم ، والعهد الجديد ، هو مصدر كل الصالحات ؟ هناك إحتياج أن نتحدث في هذا قليلاً ، لأنه هكذا سيعرف السبب بكل وضوح ، إذاً ما هو السبب ؟ لقد أحاطت بالمؤمنين حروب كثيرة ، عندما قالوا هذا الكلام ، حروب صعبة ، وبلا هدنه . لأن مدنا ، وشعوباً بأكملها قد ثاروا ، وكل الطغاه أعدوا خططاً لهلاك المؤمنين ، وملوك جهزوا جيوشاً وسلحوها ، وسنوا السيوف وأعدوا المعسكرات ، وكل ما تتخيلوه من كل أنواع العذبات والعقوبات قد مارسوها ، على سبيل المثال : سلب الأموال ، مصادرة الثروات والممتلكات ، قتل يومى ، تعذيب جسدى ، سجون ، حرق وكى ، وجيوش تطلق ، جلد ، هدم بيوت ، وكل ما يمكن لذهن الإنسان أن يتخيله قد إستخدموه لفناء المؤمنين وإهلاكهم ، بل إن الحرب لم تتوقف عند هذا الحد ، لأن النار كانت تشتعل من وقت لآخر ، ليس فقط من قبل الأعداء ، بل إن الطبيعة ذاتها ، قد إنقسمت من داخلها . فالأباء تقاتلوا مع أبناءهم ، والبنات أبغضن أمهاتهن ، والأصدقاء إنقلبوا على أصدقاء ، وتشاحن الأقارب فيما بينهم ، وسادت الفوضى في كل المسكونة ، ما لو كان قارب ما قد ملأته الأمواج ، وتجمعت فوقه السحب وتصادمت فيما بينهما ، البروق والرعود تصدر أصوات مفزعة ، وظلام كثيف يحيط به ، والبحر مضطرب ، والقراصنة يهاجمونه وطاقم المركب يتمرد ويثور ، فمن المؤكد أن هذا القارب لا يمكن أن ينجو من الخطر ، إن لم تتدخل يد الله القوية القادرة ، لتهدئة هذا البحر الهائج ، وتوقف العاصفة ، وتعيد إليه الهدوء . هذا ما حدث في بداية الكرازة ، إذ سادت خصومات في البيت الواحد ، ومن قال هذا الكلام ؟ الرسول بولس نفسه ، يكتب قائلاً : &#8221; من خارج خصومات ، ومن داخل مخاوف &#8221; . ولأثبات حقيقة ذلك وأن شروراً لا حصر لها قد أحاطت بالتلاميذ ، سوف أذكر الخبر الذى لدى الرسول بولس. لكن عليكم أن تتذكروا كل شيء ، لأنكم عندما تعرفوا مدى العذابات والتجارب ، والشرور التي لا حصر لها ، والتي إحتملها المؤمنون آنذاك ، ستشكرون الله كثيراً الذى وضع نهاية لهذه العذابات ، ومنح كنيسته سلاماً عميقاً ، وأوقف الحروب ، وحل الهدوء والسكينة محل النزاعات والخصومات . ولا ينبغي أن يتصور أحد أنه سينجو من العقاب ، إذ هو تراخى أو أصابه الكسل ، ولا أيضاً حين يعيش بإستقامة ، يمكن له الآن أن يفتخر . لأن هناك فارق كبير بين كونك تقدر على الوقوف بشجاعة عندما تضرب من كل إتجاه ، وأن يسفك دمك ، وتتعرض لكوارث لا حصر لها ، وبين أنك تظهر نفس الرغبة عندما تقف في ميناء خالى من العواصف ، وتتمتع بهدؤك . لكن أولئك لا يقيمون في الحقيقة ، وليس أفضل حالاً من الغرقى ، المواجهين لمخاطر البحر ، لكننا نعيش بصورة أكثر أماناً ، حتى أكثر من أولئك الذين يلقون بالمرساه في المينا إذاً ينبغي أن لا نفتخر ونتباهى بما حققناه من إنجازات ، وأن لا نركع أمام التجارب التي تصادفنا ، وأن لا نسقط في الكسل ، الآن حيث نحيا في أمان وسلام وفى كل الأحوال لنكن متيقظين وساهرين ، لأن في داخلنا يحدث صراع ضد شهوات الطبيعة . ليس الناس هم الذين يثورون ضدنا بل شهوات الجسد ، لا يحاربنا طغاه وملوك ، بل الغضب ، وعشق الأمور الباطلة ، والحسد ، وشهوات النفس الشريره. إذاً طالما أننا متحررين من هذه التجارب ، فلتنتصر على شهوات الجسد ، وشهوات النفس الشريره . لذلك فقد ذكرتكم بالمآسى والشدائد التي حدثت آنذاك ، لكى يتعزى  كلمن يعانى ، وكل من يحيا في هدوء وراحة ، متحرراً من تلك المخاطر ، وأن ينشط في جهاده في مواجهة الأفكار الغريبة . لأن كل هذه كتبت ، حتى تجعلنا أكثر حكمة ، وتعزينا ، حتى تعلمنا الإحتمال والصبر . وهناك إحتياج لأن أقول لكم كل هذه الأمور ، وأن أعرفكم بمدى جدية المخاطر التي عرضت حياة المؤمنين للخطر ، وليس فقط حياة المعلمين بل وحياة التلاميذ أيضاً . إسمع إذاً ماذا يقول الرسول بولس للعبرانين : &#8221; ولكن تذكروا الأيام السالفة التي فيها بعدها أنرتم صبرتم على مجاهدة آلام كثيرة &#8221; . ولم يمر وقت طويل ، بل بداية الكرازة مباشرة ، تعرضوا للمخاطر الكثيرة . إسمع ماذا عانوا : &#8221; من جهة مشهورين بتعييرات وضيقات ، ومن جهة صائرين شركاء الذين تصرف فيهم هكذا &#8221; . لأنهم بصقوا على الجميع ، وأهانوهم ، وإستهزوا بهم ، وسخروا منهم ، ودعوهم أغبياء وحمقى لأنهم تركوا ناموسهم االأبوى والدينى ، وإحتضنوا التعليم الجديد  ، هذا الأمر ليس بالقليل ، حتى يتحرك الذهن ، إن لم يكن الإيمان متجذراً في أعماق النفس . لأنه في الحقيقة ليس هناك ما يوجع النفس بهذا القدر الكبير ، سوى الإستهزاء ، لا شيء يجعل النفس والذهن ينهاران ، سوى الإهانة والتهكم . إن أناساً كثيرين قد شعروا بالمهانة ، بسبب الإستهزاء . أقول هذا الكلام الآن ، لكى نعترف بإيماننا بشجاعة وجرأة لأنه لو كان العالم قد تهكم عليهم آنذاك ، ولم يخافوا ، فينبغى الآن أن تكون الكرازة أكثر جرأة خاصة وأن العالم كله إلى جوارنا . فمن جهة أنهم ليس فقط قد إحتملوا الإتهامات ، والإستهزاء ، والإهانات ، ولكنهم أيضاً قد فرحوا بالآيات والمعجزات ، فإسمع ما قاله بولس الرسول : &#8221; وقبلتم سلب أموالكم بفرح &#8221; . هكذا ترى أن الممتلكات قد تم مصادرتها ، ووجدت بلا حماية في ضمير أولئك الذين رغبوا في سلبها . قال هذا الكلام عندما كتب إلى العبرانيين <a href="#_ftn5" name="_ftnref5">[5]</a> .</p>
<h3>عظات آباء وخدام معاصرين</h3>
<h4>قداسة البابا تواضروس الثاني</h4>
<p>هذا الفصل يتناسب مع نهاية أيام العام ( القبطى ) ، اذ يضع برنامج روحى لبداية جديدة : ان هدف انجيل اليوم هو : معيه المسيح المصلوب .</p>
<p>١- المسيح أولا : مشكلة الشاب الغنى أنه كان يطلب ماله مع المسيح &#8230;. فالمسيح الهنا لا يطلب الزحام حوله ( المظهر الخارجى ) ، بل يطلب القلب ، وأن يكون هو الأول ، انه يسمح بالحب للآخرين ، ولكن ليس أكثر منه .</p>
<p>٢- حمل الصليب : مشكلة بطرس الرسول أنه اعتبر الصليب عار &#8220;حاشاك يارب &#8230;..&#8221; ولكن قبول الصليب هو قبول المسيح ذاته .</p>
<p>٣- يترك أمواله : مشكلة أيوب الصديق &#8230;.أى لا يتكل على بره الذاتى وكبريائه الداخلى .</p>
<p>٤- البرج هو برج الفضائل الروحية ، والانسان يحتاج الى حساب نفقة : جلسة هدوء / ارتباط واع / أساس ثابت ، والأحجار هى الوصايا اللازمة لبناء روحى شاهق .</p>
<p>هذا الفصل هو دعوة للصداقة مع المسيح فى علاقة داخلية وتبعية حقيقية..</p>
<p>اذ هو لا يطلب سوى القلب له أولا ثم الآخرين &#8230; كما أنه يوضح لنا أن البرج هو برج الفضائل الروحية .</p>
<p>شروط التلمذة الحقيقية :</p>
<p>١- يبغض أباه وأمه &#8230;.الخ ، ليكون المسيح هو الأول = يبغض أية محبة أخرى = المسيح أولا .</p>
<p>٢- يحمل صليبه ويحسب النفقة جيدا فى حياته = يحدد هدفا يعمل لأجله= الصليب أولا .</p>
<p>٣- يترك جميع أمواله ولا يتكل عليها = يتخلى عن أى سند مادى = الآبدية أولا .</p>
<ul>
<li>نقرأ فى البولس اليوم (١كو ٣: ١- ٨) : &#8221; ان كل واحد سيأخذ أجرته بحسب تعبه .</li>
</ul>
<p>الملح</p>
<p>+  بحر الملح هو البحر الميت &#8230; وكان من العادات القديمة أنهم يذرون الملح فوق المدينة المهزومة حتى لا تعود تزرع .</p>
<p>+ للملح وظيفة التطهير : كان كهنة اليهود لا يقدمون ذبيحة لله الا بعد تمليحها بالملح لتطهيرها مما قد يكون بها من نجاسة .</p>
<p>+ والملح يعطى نكهة ويحفظ من الفساد &#8230; ولذا صار من التقاليد المعروفة أن العيش والملح يعنى &#8221; دوام التعاقد &#8221; .</p>
<p>+ والمسيحى هو ملح الأرض الجيد &#8230;. فهو يحفظ عالم البشر من الفساد ويعطيه طعما خلال عهده مع الله . ولنأخذ مثالا : كان القديس موسى الأسود مثال للانسان المسيحى الذى هو ملح الأرض الجيد . كان ملحا وسط اخوته الرهبان ، بل صار ملحا لنا نحن بفضائله وأقواله ( استشهاده فى ٢٤ بؤونة ) .</p>
<p>٣ دروس من حياة هذا التائب :</p>
<p>١- وقفة مع النفس :</p>
<p>أ يقظة الضمبر = التأمل فى الطبيعة .  ب  رجاء القلب = لا مستحيل أمام الله .</p>
<p>٢- وقفة مع الله :</p>
<p>أ  قرار التوبة = عزم وصدق .</p>
<p>ب  تلمذة وارشاد = أب الاعتراف .</p>
<p>٣- وقفة مع الكنيسة :</p>
<p>أ التدرج = النمو كالشجرة .</p>
<p><a href="#_ftn6" name="_ftnref6">[6]</a>  ب  الاستمرار = قليل دائم ، خير من كثير متقطع .</p>
<h4>المتنيح الأنبا كيرلس مطران ميلانو: رفقائك في الطريق الروحي</h4>
<p>هل تريد أن تتعرف علينا ؟ ! وعلي اسمائنا &#8230; وعلي أعمالنا؟! في حياتك التي تعيشها علي الارض&#8230; انت تختار ما تريد من الاصدقاء في مجال عملك&#8230; وعلمك .. انت تصادق من تشاء&#8230;.. وفى دائرة اقامتك  تصادق من ترغب</p>
<p>أنت تفتح بابك.. وفمك وقلبك.. وتمد ذراعك لمن تستريح&#8230; هذا ما يحدث معك ولك وانت سالك غريبا علي الارض&#8230; انت الذي تختار اصدقاءك روحيين ام جسدين.. اغنياء ام فقراء.. عظماء ام بسطاء&#8230;سالكين في طريق الرب او ضالين عنه.. اليوم نريد ان نعرفك علي انفسنا&#8230; فنحن الاصدقاء الغير المتغيرين لكل السالكين في الطريق الروحي&#8230;..كل الذين يسلكون في الطريق الروحي يتمسكون بنا&#8230; ونحن نسير معهم حتي المنتهي&#8230; هل تريد ان تتعرف علينا ؟! وعلي اسمائنا&#8230; وعلي اعمالنا؟! نحن عائلة واحدة روحية.. ننصب خيامنا علي الطريق الروحي&#8230; ونرفع اعلامنا امام المارة &#8230;. ونضئ علي العابرين ليلا ونهارا&#8230;. نحن نتنفس من الكتاب المقدس&#8230;. ونستند علي اعمدة الاسرار السبعه واسماؤنا هي : الصوم.. والصلاة&#8230; والصدقه &#8230; والتوبه والاعتراف والدموع&#8230; والاتضاع &#8230; والوداعة&#8230; والصمت&#8230;. كلنا اصدقاء ورفقاء لك علي الطريق الروحي&#8230; انظر الي كل الذين كانت نهاية سيرتهم حسنة&#8230; واسال عن اصدقائهم في الطريق الذي سلكوا فيه .. ؟! نحن كنا اصدقاء لهم&#8230;. اسال انبا انطونيوس اب الرهبان في كل العالم&#8230;. وتحقق منه كيف اشعل قلبه ؟! هو يخبرك قائلا &#8230; اشعل قلبك بدموع عينيك.. هو يكلمك عن الدموع كصديق في الطريق الروحي&#8230;. اسال انبا ارسانیوس معلم اولاد الملوك&#8230; وتحقق منه كيف سلكت سفينة حياته في هدوء؟! انه يرشده عن الصمت الذي كان رفيقه في الطريق الروحي.. ويعلمك قائلا تكلمت كثيرا فندمت اما عن الصمت فلم اندم قط&#8230; اسال الشيخ الروحاني&#8230; كيف يزيل الانسان صدا الخطية؟! هو يخبرك بخبرته عن التوبة انها مثل كور غليانه يجلي كل ما اعتلاه الصدا&#8230; ويعرفك انها ام الحياه وطوبي لمن يولد منها &#8230; اسال القديس انبا ابرام اسقف الفيوم&#8230; كيف عاش في الزهد وكيف نال نعمة العطاء للمحتاجين؟! تراه يشير باصابعه ويخبرك عن الكتاب المقدس كيف كان صديقا ملازما له&#8230; وكيف كان يقراه كل ٤٠ يوما&#8230; كان يسمع اقوال الله ويتبعها &#8230;.ان وضعت قدمك علي الطريق الروحي.. واشتقت ان تصادق الوداعه والاتضاع&#8230; نحن نرشدك ان تلتصق بالمسيح الذي ينادي الكل قائلا &#8230;تعلموا مني لاني وديع ومتواضع القلب.. نحن اصدقاؤك في الطريق الروحي.. نحن نسير معك نحملك ونطير بك الي الاعالي&#8230; نكشف لك عن الاسرار الخفيه في قلب الطريق الروحي&#8230; نحن الذين ندربك&#8230; ونرشدك&#8230; ونعلمك &#8230; ونحكمك&#8230; ونحميك من مكان ابليس.. ومن سهامه الملتهبه نارا&#8230;</p>
<p>نحن الذين نعمل معك &#8230; فنقيم الساقطين&#8230; ونثبت القائمين.. نحن رفقاؤك في الطريق الروحي&#8230; ونعلمك ان الذي يبصر خطاياه اعظم من الذي يبصر ملائكة. نحن نعقلك&#8230; ونعرفك انه مهما وصلت من العفة لا يجعلك ان تدين الزاني&#8230; لان الذي قال لا تزن قال ايضا لا تدين&#8230;. انا الصديق الذي يحمل اسم الصمت&#8230; والي الذين اختاروني صديقا لهم&#8230; انا اعلمهم ما هو حديث الاعماق مع الله وكيف يسمع صوت الله في الاعماق&#8230;</p>
<p>انا انقذهم من الصمت المزيف المصحوب بالادانه الداخلية.. وانجبهم من الصمت الممزوج بالغيظ والعنف والاستهانة. السالكون معي في الطريق الروحي يصبح لهم طعام خاص&#8230; وشراب جديد&#8230; ولهم لذة في قلوبهم&#8230;.</p>
<p>الصوم والصلاة والتوبة والاعتراف&#8230; هؤلاء الاصدقاء في الطريق الروحي يجتمعون معا ويغرسون داخل النفس الاشتياق الي الله&#8230; والحنين الي الحياة الدائمة معه. هؤلاء الاصدقاء &#8230; لهم هدف واحد هو ان يصلوا بنا الي شخص المسيح وان نسلك كما سلك هو &#8230; وان نحيا بالصورة التي يشتاق الرب ان يرانا بها&#8230; وان نكون معه &#8220;مملكتي ليست من هذا العالم&#8221;.ان وضعت قدمك علي الطريق الروحي&#8230; نحن نلاحقك من كل ناحية&#8230; ونرفع عينيك دائما نحو السيد الرب&#8230; ونجعلك تردد ما قاله المرنم عيناي تنظران الي الرب في كل حين لانه يخرج من الفخ رجلي&#8230;</p>
<p>الهدف والجوهر هما رسالتان معك.. كل ما نغرسه ونسقيه وننميه في داخلك ان تدرك ما هو الهدف من وراء الصوم والصلاة&#8230; والصدقة&#8230;والتوبة&#8230; ونجعلك ان تهتم بالجوهر وتبتعد عن الشكليات&#8230; وان تدخل الي الاعماق ولا تتعمق في السطحيات اهم الدروس التي نلقنها لك &#8230; هي الاحتراس من الطرق التي تبدو انها مستقيمة وعاقبتها الموت&#8230; فان احببت ان نسير معاك&#8230; نحن الصلاه والصوم.. والتوبه.. وقلبك محتفظا بالكراهية والحقد والانانيه والبخل والظلم وجرح المشاعر &#8230; واعمال السحر .. فتاكد نحن لا نعمل فيك ولا نسكن عندك.. وتبقي انت مخدوعا من نفسك&#8230; تظن انك سالك في الطريق الروحي&#8230; والحقيقة انت بعيد عن طريق الرب&#8230;</p>
<p>تعال معنا &#8230; لكي تتذوق حلاوة المسيح&#8230; ذق شماله وهي موضوعه تحت راسك وتذوق يمينه وهي تعانقك&#8230; تعال معنا فنحن وسطاء النعمة والتقي بعريس نفسك&#8230; انت بنفسك سوف تقول لنا &#8230;. احلفكن يا وسائط النعمه الا تيقظن المسيح حتي يشاء. علي نفس الطريق الروحي الذي انت تسلك فية مقابل معنا القديس اغسطينوس &#8230; هو احبنا ونحن احبناه&#8230; وصل الي المسيح الهدف عبارة في مجالات العابرين الابرار قائلا &#8230; من يقتني اثارك لن يضل من يصل اليك يا الله لا يلحقه ياس&#8230; ومن يمتلكك ياربي تشبع كل رغباته&#8230;&#8230;..<a href="#_ftn7" name="_ftnref7">[7]</a></p>
<h4>كمال حبيب (المتنيح الأنبا بيمن أسقف ملوي وأنصنا والأشمونين )</h4>
<p>ختام الأمر كله</p>
<p>نستطيع إذن أن نفرق بين كلمة متدين شكلى وكلمة مسيحى حقيقى</p>
<p>المتدين فقط هو الإنسان الذى يحيا في ذاته ويمارس أنشطة دينية دون أن يختبر فعل الموت مع المسيح ، وقوة القيامة مع الناهض من الأموات .</p>
<p>أما المسيحى فهو الإنسان الذى يستطيع أن يقول أحيا لا أنا بل المسيحي يحيا في .</p>
<p>وأن يقول أيضاً &#8221; وأوجد فيه وليس برى الذى من الناموس ( التدين  ) بل الذى بايمان المسيح البر الذى من الله بالإيمان لأعرفه وقوة قيامته وشركة آلامه متشبهاً بموته&#8221; (في ٣ : ٩ . ١٠) .</p>
<p>والمتدين فقط قد يكون شخصاً فاضلاً ذا أخلاق كريمة ولكن لا يحسب كل شيء نفاية  لأجل معرفة الرب يسوع ، فهناك أمور وأشياء عزيزة عنده وبالأخص ذاته .</p>
<p>وأما المسيحى فهو الذى وجد الكنز الحقيقى وباع الحقل لكى يتفرغ لهذا الكنز السماوى ، وهو كلما يبيع ويفرغ نفسه من الاهتمامات الكثيرة كى يكون المسيح نصيبه الصالح كلما يزداد نمواً وفرحاً وتأصلاً في حياة الشركة طولاً وعرضاً وعمقاً وعلواً .</p>
<p>والمتدين قد يكون فريسياً سواء كان شاعراً بهذه الأزدواجية أو لم يشعر . مغلفاً برداء التقوى ولكنه منكر قوتها في حياته السرية الداخلية .</p>
<p>أما المسيحى فهو لن ينحرف ليكون فريسياً ذلك لأن الحق يملأ قلبه وكلمة الله تصوب سهاماً نارية ضد كل أغلفة تريد الحياة الدينية أن تقمطه بها كتلك الأوراق التي سترت بها أمنا حواء عورتها في القديم في جنة عدن ، وإن طاعته لأب أعترافه وإخلاصه للطريق كفيل أن ينير له بصيرته حتى لا يلتوى ويجامل ضد الحق ويطلب مجد الناس أو أن يقع في هاوية البر الذاتي</p>
<p>والمتدين قد يكون طائفياً – إرادياً أو لا إرادياً – فهو ينشط كثيراً لتكتيل الجماعة ويفرح كثيراً لمزيد من قوتها المادية والبشرية والأجتماعية ويتعصب ضد الذين يناهضون طائفته وخاصة إن كانت طائفته أقلية في العدد ، وينفر من المجتمعات التي يختلط فيها المواطنون بكافة أديانهم ومذاهبهم ولا يستريح إلا للتجمعات التي  تكون الغالبية – إن لم يكن كل الأعضاء – فيها طائفته .. ويجد في انغلاقيته وتقوقعه مع من هم على شاكلته مجالاً دفيئاً يتمنى ويكثر فيه جراثيم التكتل وميكروبات التعصب والأنطواء والخيانة  .</p>
<p>وتبهره الأعداد والأرقام المتزايدة في أنشطة الطائفة ، وتبهجه المؤسسات والأبنية الفاخرة ذات الصلبان العالية ، وتشرحه أخبار الرؤساء الطائفيين عندما يأخذون مراكز دنيوية أو يحرزون إنتصارات في صراعاتهم الطائفية .</p>
<p>أما المسيحى فهو يعرف أين هي الكنيسة الحقيقة ولا تزوغ عيناه إطلاقاً وراء أحداث طائفية . بل إنه كثيراً ما يطلق لقب العالم على الأمور الطائفية ويجد الروح القدس فيه مطالباً إياه ألا يحب هذا العالم ( أي السجس الطائفى ) وكل ما فيه .</p>
<p>يحزنه كثيراً أن يضيع مفهوم الكنيسة عروس المسيح في خضم المفاهيم والمدركات الطائفية المتعصبة المنغلقة .</p>
<p>ويحزنه كثيراً أن يرى أبناء طائفته  ألوفاً ألوفاً في الأعداد ومئات مئات في التجمعات الدينية ولكن قليلاً قليلاً منهم هو من يعيش فعلاً للحياة الأبدية منتظراً بفارغ الصبر سرعة مجىء الرب الأمين .</p>
<p>ويفرحه أشد الفرح أن تغير إنسان مسيحى بالإسم ليحيا حسب الروح ويسلك حسب الروح مؤكداً أن الذى في المسيح يسوع هم خليقة جديدة يعيشون بالروح والحق .</p>
<p>ويبتهج قلبه تماماً أن تعيش الكنيسة فقيرة مالياً لا تملك ارصدة في البنوك ولكنها أمينة في رسالتها التي استودعها الله إياها وخاصة في رعاية الفقير والمسكين والمحتاج والمعوز والساقط والخاطئ والمرذول والبعيد عن حظيرة الإيمان &#8230; وتجده يمارس أنشطة أجتماعية وسياسية على مستوى المواطنة وفى مواقع يشترك فيها كافة المواطنين بمختلف طوائفهم وأديانهم لأنه كمسيحي يرى التزام بالأمانة في العمل الروحى .</p>
<p>والمتدين فقط قد يكون إنساناً عقلانياً .. أي مجرد دائرة معارف دينية أو موسوعة لاهوتية فقط ، بينما حياته السلوكية بعيدة كل البعد عن المحبة والإتضاع ووداعة المسيح والصفح عن المخطئين إليه .</p>
<p>وأما المسيحي فكثيراً ما يكون مليئاً بالحكمة والمعرفة السامية وله إطلاع واسع وباع طويل وإلمام دقيق بالفكر الديني والعلمى إلا أن الذى يميزه هو بساطة القلب وانقياده لروح الله واستئثاره وإخضاعه كل علو في الفكر لطاعة المسيح وانحناء رقبته ، وسجود وانسحاق قلبه دائماً لمولود المزود ومسيح الخطاه وذبيح الجلجثة .. أنه يرى في شخص المسيح كل حكمة الله المذخرة ويتلامس في الكتاب المقدس مع أبعاد تعلوا على جميع أفكار العالم وتسموا فوق مقاصد البشر كلهم .</p>
<p>والمتدين فقط قد يكون إنساناً تواكلياً فضولياً على مستوى الدروشة أو الجهالة وقلة الحكمة وانعدام الاستنارة ومثل هذا قد يكرم في أوساط كثيرة وتصبح ثيابه الرثة عند البعض بركه . وأفكاره العقيمة عندهم فتاوى قيمة . واتجاهاته العدائية ضد العلم والحضارة والمجتمع نموذجاً مطلوباً للنسك والتقشف . ولكنه أمام الله وأمام الكنيسة الحقه عملة زائفة لا تصلح لشئ . وكخميرة فاسدة لا تثمر ثمراً طيباً بل تفسد العجين الذى حولها .</p>
<p>وأما المسيحى  فهو إنسان حر منفتح طليق قد صقلته النعمة وحرره الحق وحفزه الإيمان والالهام وجذبه الرجاء وألهبه الحب .. هو لا يهدأ إطلاقاً لأنه كالنحلة النشيطة تجده حاراً في الروح ودوداً في الخدمة أميناً في رسالته الوطنية والاجتماعية واجداً نعمة أمام الله  وامام الناس ينسى ما هو وراء ويمتد إلى ما هو قدام ساعياً نحو الغرض لأجل جعالة دعوة الله العليا في المسيح يسوع متذكراً أن الله لم يعطينا روح الفشل . بل روح القوة والمحبة والنصح .</p>
<p>والمتدين فقط قد يكون إنساناً نفعياً على أى مستوى</p>
<p>نفعى يجرى وراء إرضاء ذاته .</p>
<p>أو نفعى يجرى وراء قضاء مصالح شخصية مثل نجاح في امتحان أو شفاء مرض أو .. ألخ .</p>
<p>أو نفعى يسعى نحو صيت وسمعة حسنة .</p>
<p>أو نفعى يجرى وراء فوائد مالية وربح أرضى وعمارات عالية ..</p>
<p>وقد تمتد هذه المنفعية إلى حد الإحتكار والإحتراف وخاصة إن كان رجل دين أو شخصاً متفرغاً للجو الدينى . وقد تستتر هذه النفعية وهذا الأحتراف وراء ظاهرة السعي للقمة العيش للأولاد . أو حرصاً على كرامة وهيبة رجل الدين أمام الآخرين .. إلى غير ذلك من الأغلفة التي ترضى الجماعة أو تخدرها .</p>
<p>أما المسيحى الحقيقى فهو لن يطلب منفعة من التدين بل يجرى وراء الخسارة &#8221; ما كان لى ربحاً حسبته نفاية &#8221; إنه يفرط فى نفسه وفى كل الفرص التي أمامه حتى لا تكون لحسابه الذاتي وإنما تكون بالتمام لمجد الآب والمسيح ، وأما مصالحه الشخصية فهى ربح النفوس للرب .</p>
<p>صيته وسمعته هي رائحة المسيح الذكية التي تصير فيه رائحة موت لموت ورائحة حياة لحياة .</p>
<p>وحاجات وحاجات من معه ليس هو مسئولا عنها ولكنها مسئولية الذى دعاه واختاره لخدمة المذبح أو المنبر أو الموائد &#8230;</p>
<p>ومؤسسة تأمينه وبنك إدخاره لأن مواعيد الله فى نظره أصدق وأثمن وأغنى من كنوز الدنيا كلها لو وضعت بين يديه <a href="#_ftn8" name="_ftnref8">[8]</a>.</p>
<h4>المتنيح الأنبا إيساك الأسقف العام: التلمذه والفردية</h4>
<p>(لو ١٤: ٢٦)</p>
<p>بواسطة دعوة يسوع يصبح الناس افراداً ، كل فرد وحده . كل واحد مجبرأن يقرر وحده . وهذا القرار لا يمكن أن يتخذه الا بنفسه فقط . المسيح هو الذى يجعلهم أفراداً حين يدعوهم، فكل أنسان يدعى على حده ، وعليه أن يتبع على حده . ولكن الناس يخافون من الوحدة ويحاولون أن يحموا أنفسهم منها بأن يدمجوا أنفسهم في مجتمع رفقائهم ، وفى الأوساط العالمية المحيطة بهم . وإذ يصبحون فجأة على دراية بواجباتهم العالمية المحيطة بهم . ومسئولياتهم ، ينفردون من المشاركة معهم . وكل هذا تهرباً من أن يأخذوا قرار لأنفسهم انهم لا يحبون أن يقفوا وحدهم أمام يسوع ، ويجبروا أن يقرروا وعيونهم مثبتة فيه وحده . ولكن لا أب ولا أم ولا زوجة ولا ابن ولا طائفة ولا تقليد يمكن أن ينفع الانسان ويحميه لحظة دعوته . انها إرادة المسيح أن يكون معزولاً . وها نظرات المسيح المثبته على عينيه هو فقط.</p>
<p>+ يجد الناس أنهم قد انقطعوا عن كل روابط الحياة الطبيعية لحظة دعوتهم . وهذا ليس عملهم الخاص بل عمل يسوع الذى يدعوهم . لأن المسيح قد أراحهم من ضرورات العالم وأتى بهم إلى ضروراته هو . لا يمكن أن نتبع المسيح ما لم نكن مستعدين أن نقبل ونؤكد أن العهد معه له الأولوية فوق كل تعهدات أخرى . لا يوجد خيار من جانب التلميذ سوى المسيح نفسه الذى يجبره أن يقطع علاقاته مع ماضيه .</p>
<p>+ لماذا كان هذا ضروريًا ؟ لماذا لا يسمح لنا أن ننضج على مهل في التلمذة وننمو ببطء وبالتدريج ؟ كأن نتقدم أولاً في حياة القداسة ثم نتحول من النظام الطبيعى الى نظام تبعية المسيح ؟ ما هي هذه القوة التي تأتى بعنف لتحول بين الانسان وحياته الطبيعية التي سر الله أن يضعه فيها ؟ بالتأكيد ان الانفصال عن الماضى هو تكتيك شرعى غايته استقبال مواهب الله الصالحة ، كالذى في الجندية عليه أن يقطع كل طريقته في الحياة المدنية كى يؤهل للدخول إلى الحياة العسكرية . ( ليس أحد وهو يتجند يرتبك بأعمال الحياة كى يرضى من جنده ) ولكن أليس هذا التكتيك يسلب المسيحى حريته ؟ علينا أن نواجه الحقيقة : ان دعوة المسيح فعلا تقيم حاجزاً بين الانسان وحياته الطبيعية . ولكن هذا الحاجز ليس بالتأكيد ازدراء بالحياة ، ولا تحتقير للعلاقات الطبيعية الشرعية المفعمة بالشفقة والحنان ، ولكن هذا الحاجز هو الحياة التي هي الحياة حقاً ، انه الانجيل ، انه شخص يسوع المسيح المبارك .</p>
<p>+ ان تجسد المسيح قد وضع فاصلاً بين الانسان وحياته الطبيعية ، ولا يمكن أن يكون هناك رجوعاً إلى خلف لأن المسيح يسد الطريق . ان المسيح بدعوته لنا قد فصلنا من ضرورات أمور هذا العالم . وهو يريد أن يكون هو مركز كل الأشياء بحيث لا يمر شيء الا من خلاله فقط . انه يقف بيننا وبين الله كى يوصلنا إلى الله  ، ومن أجل هذا أيضاً هو يقف بيننا وبين الآخرين ، وبيننا وبين الأشياء الأخرى . انه الوسيط ليس بين الله والانسان فقط بل وبين الانسان والانسان أيضاً ، وبين الانسان والحقيقة ، فكل العالم منه وبه وله قد خلق (١كو ٨ : ٦)  (يو ١ : ٣) (عب ١ : ٢) انه الشفيع الوحيد في العالم . منذ مجيئه لم يعد للإنسان حق في أن يكون له علاقة مباشرة من ذاته مع أي شيء فيما بعد : لا مع الله الا في المسيح ، ولا مع العالم الا في المسيح أيضاً . المسيح يريد أن يكون هو الوسيط . طبعاً هناك آلهه أخرى كثيرة ( كالمال والشهوات ) يقدمون للناس اقتراباً مباشرا إلى العالم وهو طبعاً يستخدم كل وسيلة في حوزته ليستعيد قبضته المباشرة على الناس ، ولكن هذا هو السبب عينه الذى يتعارض فيه العالم مع المسيح الوسيط بحدة ومرارة .</p>
<p>+ ان الانفصال حتى من ضرورات العالم ، يساوى معرفة المسيح كابن الله ، وكالوسيط الوحيد . حينما نترك كل ارتباط مع العالم من أجل قيم أو مثل من السائدة في العالم فهذا فعل غير فطن . فمثلاً لو استبدلت قيما دنيئة بقيم سامية فان هذا سيكون مجرد حماسة أو عناد ، وهو محاولة لتوطيد علاقة مباشرة مع العالم بدون المسيح. ان ادركنا نحن تلاميذ المسيح بأنه هو الوسيط الوحيد يعطينا الامكانية أن ننفصل عن عالم الناس والأشياء ، لأننا لا نريد أن تكون لنا علاقة بأى شيء الا من خلال يسوع فقط . دعوة يسوع لنا ليست مجرد دعوة إلى مثل عليا ، بل هي دعوة ليكون المسيح الكلمة هو الوسيط في كل علاقاتنا ، وهو التي تكمل انفصالنا عن العالم .</p>
<p>+ لو كانت دعوة المسيح هي مجرد مفاضلة واستبدال قيمة بقيمة أخرى ، فأننا سنلتمس نوعاً من التصالح والحل الوسيط بين القيم وبعضها ، حتى لو صعدنا بالقيم المسيحية إلى القمة ، فالدعوة المسيحية أسمى من كل القيم .</p>
<p>+ دعوة المسيح تعلمنا أن علاقتنا مع العالم كانت مبنية على الضلال طول الوقت . لقد كنا نتمتع بعلاقات مباشرة مع الناس والأشياء ، ولكننا الآن نكتشف أن هذه العالاقات عينها هي التي كانت تعوقنا عن الايمان والطاعة . والآن نتعلم انه منذ مجئ المسيح وتبعيتنا له ، ودخوله إلى حياتنا ، لم تعد العلاقات المباشرة مستساغة حتى بالنسبة لروابط الحياة مع الأقرباء ، الأب والأم والأخوات والحب الزوجى ولا العلاقات الاجتماعية مع الجماعة . المسيح يقف كوسيط بيننا وبين كل هذه العلاقات سواء شعرنا بذلك أم لم نشعر . نحن لا نقدر أن نقيم علاقات من انفسنا الا من خلاله ، ومن خلال اتباعنا له . لو فكرنا غير هذا فاننا نخدع أنفسنا .</p>
<p>+ ولكن المفروض أن ننفر من أى خداع يخفى الحقيقة عن أعيننا . يتحتم علينا أن نجحد أي علاقة مباشرة مع أمور هذا العالم من أجل المسيح. فحينما نضع أنفسنا ضمن مجموعة صغرت أم كبرت ، ونبدأ لنبحث عن حقوقنا وواجباتنا داخل نطاق هذه المجموعة فان هذا بلا شك سيقف حائلاً بين وقوفنا منفردين أمام المسيح . لذلك ينبغي أن تقطع هذه العلاقة مع الجماعة من أجل المسيح لأن هذه حتمية سواء عرفنا أو لم نعرف والا فعدم كراهيتنا لهذه الروابط يعنى كراهيتنا للمسيح وهذا حقيقى أيضاً وبنوع خاص لو ادعت هذه العلاقات انها مشروعة ومقدسة على أساس المبادئ المسيحية.</p>
<p>+ حينما نسخر من تعاليم المسيح كوسيلة لتبرير العلاقات المباشرة مع أمور هذا العالم ، فأننا نقع في خطأ لاهوتى من الدرجة الأولى . أحياناً يتم الجدل على هذا النحو : ان كان المسيح هو الوسيط فقط أزال كل خطيئة كائنه في علاقتنا مع العالم  ، وبه نلنا التبرير ، لقد صالحنا يسوع المسيح مع الله وعلى هذا فاننا نقدر أن نعود إلى العالم ، وكل شيء طاهر للطاهرين – ونتمتع بعلاقاتنا المباشرة معه عن طيب خاطر … رغم أن هذا العالم هو نفسه الدى صلب المسيح ! معنى هذا أنك تساوى حب الله بحب العالم  ، ومعنى هذا أيضاً أن الذين يقطعون علاقاتهم مع أمور الدنيا يسيئون التفسير لعمل النعمة الإلهية . ويكون غرضنا من كل هذا ، كما يلذ لنا أن نتصور ، هو أن نعفى أنفسنا من الضرورة الحتمية لنقض العهد بيننا وبين الدنيا . وهكذا نحول قول المسيح عن كراهية العلاقات مع العالم إلى تأكيد مبهج بأن الله هو الذى أعطى حقائق هذا العالم . ومرة أخرى نحول تبرير الخاطئ إلى تبرير للخطيئة ! !</p>
<p>+ بالنسبة للمسيحى ، المسيح هو الحقيقة الوحيدة المعطاة من الله . كل ما ليس معطى لنا من خلال الابن المتجسد ليس من الله . كل ما لا يعطى لى من أجل المسيح لا يأتي من الله . حينما نقدم الحمد والشكر على عطايا الخلق ، علينا ان نفعل هذا من خلال يسوع المسيح وحينما نصلي من أجل حفظ الحياة بنعمة الله علينا ان نعمل صلاتنا من أجل المسيح . أي شيء لا أقدر أن أشكر الله على أمر ليس من المسيح هذه خطيئة .</p>
<p>+ لأن منه وبه وله كل الأشياء (رو ١١ : ٣٦)</p>
<p>+ الكل به وله قد خلق (كو ١ : ١٦)</p>
<p>+ لأننا به نحيا ونتحرك ونوجد (أع ١٧ : ٢٨)</p>
<p>+ الذى بيده نفس كل حى وروح كل بشر (أي ١٢ : ١٠)</p>
<p>+ الله الذى بيده نسمتك وله كل طرقك (دا ٥ : ٢٣)</p>
<p>+ لأنه لى الحياة هي المسيح (في ١ : ٢١)</p>
<p>+ لكن لنا واحد الآب الذى منه جميع الأشياء ونحن له ، ورب واحد يسوع المسيح الذى به جميع الأشياء ونحن به (١كو ٨ : ٦)</p>
<p>+ ولكن جميع الأشياء هي من الله (١كو ١١ : ١٢)</p>
<p>+ أنت ( أيها الرب ) خلقت كل الأشياء وهى بإرادتك كائنه وخلقت (رؤ٤ : ١١)</p>
<p>+ كل شيء به كان وبغيره لم يكن شيء مما كان (يو ١ : ٣)</p>
<p>+ لأنه لاق بذاك الذى من أجله الكل وبه الكل (عب ٢ : ١٠) .</p>
<p>الطريق أيضاً إلى الحقيقة المعطاة من الله عملى أو زميلى ، أو الزوجة أو الأبناء ، ان لم تكن معطاه لى من الله فأنا أسير في زقاق خطير وأنا أعمى . اننا منفصلون الواحد عن الآخر بهوة لا تعبر من الغربة والغيرية . ونبذل محاولات لنتغلب على الشعور بهما عن طريق العلاقات الإنسانية ، أو الانحاد العاطفي أو الروحى . ولكن يوجد طريق بين انسان وآخر ، ولا حتى بين نفس ونفس ، مهما حاولنا ان نكون محبين وشفوقين ، ومهما كنا متمكنين من علوم النفس والعلاقات الإنسانية . المسيح وحده هو القادر . ولا يمكننا أن تكون لنا علاقات صحيحة مع أقرباءنا الا من خلاله . لذلك كانت الشفاعة هي أفضل طريقة نصل بها إلى أقرباءنا والصلاة من أجل بعضناً بعضاً – المرفوعة بإسم المسيح – هي أنقى صورة مشاركة .</p>
<p>+ نحن لا نقدر أن نعرف عطايا الله حقاً ، ما لم نعرف الوسيط الذى من أجله أعطينا إياها . لا يوجد شكر فعلى لأجل بركة الوطن ، الأهل ، المجتمع ، التاريخ ، والطبيعة  بدون قلب عامر بالامتنان يعطى المجد للمسيح وحده فوق كل شيء آخر . لا يوجد أي ارتباط مع مخلوقات ما ، ولا مسئولية فعلية في العالم  ، ما لم ندرك نقض العهد الذى يفصلنا فعلا عنها . لا يوجد حب فعلى للعالم ما عدا الحب الذى يحب الله به يسوع المسيح . الوصية المعطاة لنا : &#8221; لا تحبوا العالم &#8221; (١يو ٢ : ١٥) نعم ، ولكن علينا أيضاً أن نتذكر انه &#8221; هكذا أحب الله العالم حتى بذل ابنه الوحيد لكى لا يهلك كل من يؤمن به بل تكون له الحياة الأبدية &#8221; (يو ٣ : ١٦) .</p>
<p>+ الانفصال عن الارتباطات الضرورية أمر لا مفر منه ، قد يأخذ شكلاً ظاهراً كالانفصال عن الأسرة ، وفى هذه الحالة نحن مدعوون أن نحمل تعيير المسيح الذى يقع علينا بصورة منظورة . وقد يكون الانفصال خفياً ومستتراً بحيث لا يشعر به الوسط الذى نحيا فيه . ولكن حتى في هذا يجب أن نكون مستعدين دائماً أن نخرجه إلى المعلن  .</p>
<p>&#8211;       أب الآباء إبراهيم يعتبر مثالاً للحالتين ، فقد كان عليه أن يترك أصدقاءه أهله وعشيرته وبيت أبيه لأن المسيح دخل بينه وبين خاصته . في هذه الحالة كان الانفصال واضحاً ، واصبح إبراهيم غريباً ونزيلاً لكى يحصل على أرض الموعد ، وكانت هذه هي دعوته الأولى .</p>
<p>&#8211;       بعد ذلك دعاه الله أن يقدم ابنه الوحيد اسحق محرقة ، لقد دخل المسيح بينه وبين ابنه ، ابن الموعد . هذه المرة لم تكن العلاقة المباشرة مجرد علاقة دم ولحم ، بل علاقة روحية أيضاً لأن اسحق كان بالنسبة لابراهيم ابن وعود الله … ينبغي أن تكسر هذه العلاقة أيضاً ، وينبغى أن يتعلم إبراهيم ان الموعد لا يتوقف على اسحق بل على الله وحده . لم يسمع أحد غير إبراهيم عن دعوة الله هذه كى يقرب ابنه على المذبح ، ولا حتى الغلامين اللذين رافقا أبراهيم إلى جبل المريا . مرة أخرى كمثل ما حدث عند خروج إبراهيم من بيت أبيه كان وحده – واحداً وحيداً منفرداً . انه يقبل الدعوة حين تأتى ، سوف لا يتعافى منها ولا يروحنها . انه يتعامل مع الله على أساس كلمته وهو مستعد أن يطيع ضد كل لا معقولية : سواء كانت طبيعية ، أم أخلاقية ، أم دينية ، انه مطيع لكلمة الله وفقط . ولكونه أبدى استعداداً أن يقدم اسحق ابنه محرقة ، بين أنه كان مستعداً أن يجاهر بنقض عهد الابوة والبنوة الذى كان قد نقضه سراً وهو يعمل هذا من أجل الله الذى دخل بينه وبين أبنه وعند هذه اللحظة عينها كل ما كان قد تركه أعيد إليه . لقد استعاد ابنه ، أراه الله ذبيحة أفضل ستحل محل إسحق ، ولكنه من الآن فصاعداً سيحتفظ بابنه بطريقة جديدة تماماً . انه ابنه من خلال الله ولأجل الله . ومن حيث أنه قد أثبت أنه مستعد أن يطيع الله حرفياً ، سمح له أن يملك ابنه اسحق وكأنه لم يكن له من قبل . يملكه من خلال يسوع المسيح .. لم يعرف ما حدث ، أي انسان آخر ، لقد نزل إبراهيم من الجبل ومعه إسحق تماماً بنفس الصورة التي صعد بها ، ولكن كل الأوضاع قد تغيرت ، لقد وضع المسيح بين الأب والأبن ، لقد ترك إبراهيم كل شيء وتبع المسيح ، وأثناء ما هو يتبعه سمح له أن يعود ويعيش في العالم كما كان من قبل . في المظهر الخارجي للصورة لم تتغير ولكن … العتيق قد مضى ، هوذا الكل قد صار جديداً . كل شيء الآن يمر من خلال المسيح .</p>
<p>&#8211;       + هذه هي الطريقة الثانية ان تكون وحيداً تابعاً للمسيح في وسط المجتمع ، بين المعارف والأقرباء متمتعاً بكل ثرواتك في الحياة . ولكن لاحظ ان إبراهيم دعى – ولم يدع نفسه – إلى هذه الطريقة من الحياة . إبراهيم قد عرف أولاً كيف ينفصل عن الماضى بطريقة منظورة ، إبراهيم الذى هو الذى في العهد الجديد أصبح مثالاً يحتذى به في الايمان . يمكن ان نعمم بسهولة ما منح لابراهيم وان نجربه لأنفسنا ونفهمه على كونه مبدأ روحياً نطبقه على أنفسنا بدون تردد . نحن نميل أن نظن ان لنا نفس الدعوة في الحياة المسيحية ، فنبقى أنفسنا في متع الحياة ! ! ولكن الانفصال عن الدنيا وعثراتها بشكل ظاهر هو أسهل طريقة مؤكدة للحياة المسيحية دون التعلل بالانفصال سرياً . ما لم نكن قد تعلمنا هذا من الإنجيل ، ومن خبراتنا ، فاننا نخدع أنفسنا . سنعود للسقوط في علاقات مباشرة مع الدنيا ، بل ونكره الرفقة مع المسيح . ليس لنا أن نختار طريق الحياة الذى نتبعه ، فهذا يتوقف على أرادة المسيح  . ولكن هذا مؤكد في طريق آخر ، علينا أن نترك ضرورات العالم سواء سرياً أم علنياً .</p>
<p>+ ولكن الوسيط نفسه الدى جعلنا ننفصل ، يوجد لنا رفقة جديدة . انه يقف في المركز بينى وبين قريبى . انه يفرق ، ولكنه أيضاً يوحد . وهكذا رغم أن الطريق إلى القريب يبدوا مسدوداً الآن ، نجد الطريق الجديد والوحيد إلى القريب – الطريق الذى يمر من خلال المسيح  .</p>
<p>في (مر ١٠ : ٢٨ – ٣١)</p>
<p>يسوع هنا يكلم أناس صاروا في وحدة لأجله ، الذين تركوا كل شيء وقت دعوته ، ويمكنهم ان يقولوا عن أنفسهم : &#8221; ها نحن قد تركنا كل شيء وتبعناك &#8221; لقد أخذوا وعداً برفقة جديدة ، وحسب كلمات الرب يسوع ، سيأخذون في هذا الزمان مئة ضعف عن ما تركوه . ان يسوع يشير إلى الكنيسة التي تجد نفسها فيه . من ترك أباه لأجل يسوع ، سيجد بالتأكيد أب وأم وأخوة وأخوات مرة أخرى وحتى حقولاً ومنازل . رغم انه علينا ان ندخل التلمذة وحدنا ، الا اننا لا نبقى وحدنا . ان صدقنا كلمته وخاطرنا بأن نصبح في وحدة من أجله ، فان مكافأتنا هي رفقة الكنيسة المقدسة ، هنا أخوة منظورة لتعويض مئة ضعف عن كل ما فقدناه . مئة ضعف ؟ نعم ، لأنه أصبح كل ما لنا من خلال الوسيط ، ولكن مع الاكرامية – &#8221; مع اضطهادات &#8221; – هذه هي النعمة الممنوحة للكنيسة التي تتبع ربها تحت رايه الصليب . هذا ايضاً هو الوعد المعقود مع أتباع المسيح – سيكونون أعضاء في جماعة الصليب ، شعب يسوع ، الشعب الذى هو تحت الصليب …</p>
<p>+ لكى يجعلهم يعتقدون كم أن دعوته خطيرة ، وليبين لهم استحالة أن يتبعوه بقوتهم الذاتية ويؤكد ان الالتصاق به يعنى الاضطهادات ، تقدم يسوع في الأمام إلى أورشليم وإلى الصليب . وامتلأوا خوفاً وحيرة في الطريق الذى دعاهم اليه أن يتبعوه .</p>
<p>المجد كل المجد يا الهنا وربنا يسوع المسيح .. &#8221; اراكم فتفرحون ولا ينزع أحد فرحكم منكم &#8221;   آمين <a href="#_ftn9" name="_ftnref9">[9]</a></p>
<h4>القديس الأرشيدياكون حبيب جرجس</h4>
<p>+ كيفية اتباع المسيح (لو١٤: ٢٥ – ٣٥)</p>
<p>&#8221; من لا يحمل صليبه ويأتى ورائي فلا يقدر أن يكون لي تلميذاً &#8221; (لو١٤ : ٢٧) .</p>
<p>(أولا ً) لم يقصد المسيح أن يبغض الواحد أمه وأباه لأنه أمر بإكرامهما ، ولكنه قصد أن تكون محبتنا لهما أقل من محبتنا للمسيح . أي اذا اضطررنا أن نختار بين المسيح و بين والدينا أو حياتنا أو أعز شيء لدينا نبغض كل شيء ونفضل المسيح ونلتصق به . (ثانياً) معنى حمل الصليب احتمال العار وقبول الاهانات والآلام من أجل المسيح وعلى مثاله والاستعداد لخسارة كل شيء من أجله . (ثالثاً) مثل بناء البرج اشارة الى ان الانسان يجب أن يحسب نفقة كل شيء يبتديء به ، ولا يصح أن يبنى ثم يضطر إلى ترك البناء وهكذا من يتبع المسيح يحسب النفقة وهي اتباعه من قلب كامل والثبات معه والاستعداد لخسارة كل شيء حتى الحياة دون الرجوع الى الوراء .(رابعاً) من الجهالة أن يسرع ملك في محاربة من هو أقوى منه بدون استعداد لأنه يعرض نفسه وجنوده للهلاك والمعنى في ذلك انه يجب علينا أن ننظر الى العواقب في كل شيء ولا نشرع في أمر تكون نهايته الخسارة والعار.(خامساً) الملح يصلح الطعام ويحفظه من الفساد . وقد شبه المسيح أتباعه به لأنهم يجب أن يكونوا مصلحين وأمثلة للصلاح والاستقامة<a href="#_ftn10" name="_ftnref10">[10]</a>.</p>
<h4>المتنيح الدكتور وليم سليمان: الثبات  والحهاد الروحى</h4>
<p>&#8220;اصحوا واسهروا لأن ابليس خصمكم کا سد زائر يجول ملتمساً من يبتلعه&#8221;</p>
<p>في اليوم الثالث عشر من شهر كيهك تنيح القديس الأنبا ابراكوس . ويورد السنكسار قصته على النحو الآتى : &#8221; ولد بالصعيد ، ولما بلغ من العمر عشرين سنة ترهب بأحد الديارات ، وجاهد الجهاد الكامل حتى ضجر الشيطان من حربه . وأناء مواجهة وقال له : و قد بقى لك خمسون سنة أخرى ، قاصداً بهذا أن يلقيه في الضجر . فأجابه الشيخ : , إنك أحزنتني بهذا ، لأني كنت أظن أننى أعيش مائة سنة أخرى  ولهذا قد توانيت . وإذا كان الأمر هكذا ، فيجب على أن أجاهد كثيراً قبل الموت ، وبهذا تغلب الشيخ على الشيطان . و في تلك السنة تنيح بسلام بعد أن أقام في عبادته ونسكه مدة سبعين سنة .</p>
<p>هذه القصة توضح لنا كيف يجب أن يكون لنا طول الروح والصبر أثناء جهادنا الروحي . فقد يبدأ الانسان حياته مع الله متيقظاً نشطاً حريصاً  ولكنه مع طول الزمن ، و لكثرة التجارب التي يحيطه بها عدو الخير قد يفتر ويقع في الضجر لهذا فإن الشيطان قد جاء للقديس ابراكوس يقول له ان الحرب ستستمر خمسين سنة أخرى ، راجياً أن يجد لديه شعورا بالملل يلقى سلاحه ويتخلى عن ثباته وعزمه . &#8230;</p>
<p>والحقيقة أننا نحتاج كلما تقدمنا في حياتنا الروحية إلى مزيد من اليقظة والتدقيق . ليس</p>
<p>فقط لأننا يوما بعد يوم نتقدم في الحكمة والنعمة ومعرفة الله  ولكن لأن أسباب السقوط مستعدة لأن تقوى من جديد إذا ما رأت منا فتورا أو نقصاً في الإنتباه بلغ الأب مقاريوس أن راهباً متوحداً داخل البرية منذ خمسين عاما لم يأكل خبزاً قط . كان يقول عن نفسه إنه قتل ثلاثة أعداء : ( الشهوة ) وحب المال والسبح الباطل . فمضى الأب مقاريوس إليه ، ولما رآه المتوحد فرح كثيراً وكان رجلا ساذجا . فسأله الشيخ عن عزائه وعن أحواله وعن جهاده . فقال له إنه استراح من قتال ( الشهوة ) وحب المال و السبح الباطل . قال له الأب : لى بعض أسئلة أريد أن أوجهها لك فأجبنى عنها : إذا اتفق لك أن عثرت على ذهب ملقى وسط حجارة ، فهل يمكنك أن تميز الذهب من الحجارة ؟ قال نعم &#8211; ولكننى أتغلب على فكرى فلا يميل إلى أخذ شيء منه . قال حسنا ، وإذا رأيت امرأة جميلة أيمكنك ألا تفكر فيها انها امرأة ؟ قال : لا  ولكنني أمسك فكرى ألا يشتهيها . قال : مبارك . وإن سمعت أن أخا يحبك ويمجدك وآخر يبغضك ويشتمك ، واتفق أن حضر إليك الاثنان  أيكونا أمامك في منزلة واحدة . قال : لا ، لكنى أمسك أفكارى فلا أكافي. ( من أساء إلى ) حسب أعماله وأقواله وشتيمته بل أظهر له المحبة . أخيراً قال له الأب مقاريوس : اغفر لي يا أبي ، فإنك حسنا جاهدت و قاتلت وصبرت من أجل المسيح ، لكن أوجاعك ما ماتت بعد بل ما زالت حية لكنها مربوطة . فتب واستغفر إلى الله ، ولا تعد إلى ما كنت تصف به نفسك لئلا تثور عليك الأوجاع بالأكثر . فلما سمع المتوحد ذلك الكلام انتبه من غفلته وسجد بين يدى الشيخ قائلا : اغفر لي يا أبي فقد داويت جراح جهلى بمراهم وعظك الصالح والحقيقة ان تاريخ جهاد القديسين يحفظ لنا وقائع كثيرة عن أشخاص جاهدوا زمانا طويلا و لكنهم سقطوا رغم طول الزمن إن الشيطان حين يهزم واحداً من أولئك الجبابرة، يفرح كثيراً بهذه الغنيمة الثمينة</p>
<p>أتى إلى القديس مقاريوس يوما أحد كهنة الأصنام ساجداً له قائلا : من أجل محبة المسيح عمدنى ورهبنى . فتعجب الأب من ذلك وقال له : اخبرني كيف جئت إلى المسيح بدون وعظ . فقال له : كان لنا عيد عظيم وقد قمنا بكل ما يلزمنا ، وما زلنا نصلى إلى منتصف الليل حتى نام الناس . وفجأة رأيت داخل أحد هياكل الأصنام ملكا عظمها جالسا وعلى رأسه تاج جليل وحوله أعوانه الكثيرون . فأقبل إليه غلمانه واحداً، إثر آخر يعرضون أعمالهم . فتقدم واحد وقال انه ألقى في قلب امرأة كلمة صغيرة تكلمت بها إلى امرأة أخرى لم تستطع احتمالها فأدى ذلك إلى قيام مشاجرة كبيرة بين الرجال تسبب عنها قتل كثيرين في يوم واحد &#8230; فقال الملك : ابعدوه عنى لأنه لم يعمل شيئا . فقدموا له آخر قال انه دخل داراً فوجد ناراً وقعت من يد صبى أحرقت الدار فوضع في قلب شخص أن يتهم آخر بذلك وشهد عليه كثيرون . فقال الملك : ابعدوه خارجا . ثم قدموا ثالثا ، قال انه كان في البحر وأقام حربا بين بعض الناس فغرقت سفن و تطورت إلى حرب عظيمة . فقال الملك : ابعدوه ، وقدموا رابعا وخامسا هكذا أمر بإبعادهم جميعا بعد أن وصف كل منهم أنواع الشرور التي قام بها . إلى أن أقبل إليه أخيرا واحد منهم فقال له : من أين جئت . فقال من الاسقيط ، قال له : وماذا كنت تعمل هناك . قال : لقد كنت أقاتل راهبا واحداً ولى اليوم أربعون سنة وقد صرعته في هذه اللحظة وأسقطته وجئت لأخبرك . فلما سمع الملك ذلك قام منتصبا وقبله ونزع التاج من على رأسه وألبسه إياه وأجلسه مكانه ووقف بين يديه وقال : حقا لقد قمت بعمل عظيم .</p>
<p>واستمر كاهن الأصنام في حديثه للأب مقاريوس قائلا : فلما رأيت أنا كل ذلك وقد كنت مختبئا في الهيكل قلت في نفسي : ما دام الأمر كذلك فلا يوجد أعظم من الرهبنة وللوقت خرجت وجئت بين يديك . فلما سمع الأب منه هذا الكلام عمده ورهبته وأصبح الرجل بعد ذلك راهباً جليلا .</p>
<p>قال الأنبا باخوميوس : ان تملقك الجسد قائلا اننا منذ زمان قد تحنكنا بالتجربة أو اننى قد صرت ضعيفا أو عجوزاً أو أن الحزن والصوم قد أذلاني ولا أستطيع مخالفة ( أوامر الروح ) &#8211; فإياك أن تفتر به ، لأن الأعداء داخله يكمنون لك . لئلا يحلقوا شعر رأسك ( أي أفكار عقلك ) فيفارقك روح الله وتضعف قوتك، فيأتى الغرباء و يربطونك و يذهبون بك إلى موضع الطحن حيث تصبح أضحوكة والعروبة فيقلعون عينيك ويصيرونك أعمى لا تعرف طريق الخلاص . ولن تنفك من أسرك حتى تموت عن الغرباء بحزن عظيم</p>
<p>وإذن فلنذكر على الدوام وصية الرسول بطرس : اصحوا واسهروا لأن ابليس خصمكم کأسد زائر يحول ملتمسا من يبتلعه هو فقاوموه راسخين في الايمان (١ بط ٥ : ۹،۸) قال الأنبا مقاريوس لتلاميذه : , تمسكوا بالتوبة واحذروا لئلا تصطادوا بفخ الغفلة لا تهاونوا لئلا تكون الطلبة من أجلكم باطلة . داوموا على التوبة ما دام يوجد وقت ، فإنكم لا تعرفون وقت خروجكم من هذا العالم . لنعمل ما دام لنا زمان ، کی نجد عزاء في وقت الشدة . فمن لم يعمل ومن لم يتعب في أوان الشتاء لن يجد في الصيف غلة يملأ بها مخازنه ليقتات بها . فليحرص كل واحد على قدر طاقته فإن لم يمكنه أن يربح خمس وزنات فليجاهد کی بربح اثنتين . أما العبد الكسلان الذي لا يعمل ولا يربح فمصيره العذاب</p>
<p>طوبى لمن يجاهد بكل قوته ، فإن ساعة واحدة من ( عزائه الذي يمنحه له الله ) تنسيه جميع أتعابه ،</p>
<p>على رجل الله إذن أن يقف صاحيا في كل يوم ، مجاهد کی يحفظ بعمله الصالح دعوته و نصيبه الصالح . يقول القديس باخوميوس وكن رجلا قويا جباراً في تدابيرك ولا تفسد يوماً واحداً من عملك وتحقق مما تقدمه الله الحقيقي كل يوم ،</p>
<p>إن التقدم في الفضيلة لا يقاس بطول الجهاد ، ولكن بنوعيته ، قال القديس مقاريوس : إن نيات الناس مختلفة حتى أنه يمكن لانسان بنية نشيطة وحارة أن يتقدم في ساعة واحدة إلى مالا يمكن لغيره أن يصل إليه في خمسين سنة إذا كانت نيته متوانية وقال أيضا , كما أن عصا هرون أزهرت وأثمرت في ليلة واحدة كذلك ( رجل الله ) إذا حل فيه الرب ، فإن نفسه تزهر و تثمر أثمار الروح القدس بمعونة خالقها السيد المسيح له المجد وإذن فمهما أمضينا من زمان في عشرة الرب ، فإن الضرورة تدفعنا لمواصلة الجهاد کی نحصل على بركات أكثر ، و لكي نجعل حياتنا أكثر تأصلا في حقه وأوفر امتلاء بنصرته وروحه . يقول القديس أثناسيوس الرسولى عن أب الرهبان الأنبا أنطونيوس انه , وصل إلى هذه النتيجة العجيبة حقا : ان التقدم في الفضيلة والاعتزال عن العالم من أجلها ، يجب ألا يقاسا بالزمن بل بالرغبة وثبات القصد . وهو ( أي القديس أنطونيوس ) لم يفكر قط في الماضي بل يوما فيوما ، كما لو كان في بداية نسكه كان يبذل جهدا أعظم للتقدم ، مكررا على الدوام لنفسه قول بولس و ناسيا ما هو وراء وممتدأ إلى ما هو قدام ، كان منتبها أيضا للكلمات التي قيلت بالنبي ايليا , حى هو الرب الذي أنا واقف أمامه اليوم ، لأنه لاحظ أن الني بقوله  اليوم ، لم يحص الزمن الذي مضى بل في كل يوم كما لو كان على الدوام مبتدئا كان يجهد ليجعل نفسه جديراً بأن يمثل أمام الله تقى القلب مستعداً دائما للخضوع لمشورته  وله وحده، وإذن فحتى لو أمضينا في عشرة الله وفي الانتصار على الشرير خمسين سنة ، فلنواصل حياتنا المقدسة كما لو كنا اليوم بادئين &#8211; فنزيد تدقيقنا وحرصنا على ارضاء إلهنا وعلى التحفظ من كل شر أو تهاون أو ضجر وليعطنا الرب بصلوات جميع قديسيه أن نكون كل حين أبناء صالحين لعظمته نمجده و نغلب بقوته أعداء البر والفضيلة <a href="#_ftn11" name="_ftnref11">[11]</a> .</p>
<h4>المتنيح القمص تادرس البراموسي</h4>
<p><strong>من لا يحمل صليبه ويأتي وراءى لا يقدر أن يصير في تلميذ (لو ١٤: ٢٥- ٣٥)</strong></p>
<p>وكان الجمع يلتف حول الرب يسوع لأن الجميع وجدوا فيه كفايتهم ولما وجد أن لهم رغبة في الإستماع أبتدأ يكلمهم قائلا إن كان أحد يأتى إلى ولا يبغض أباه وأمه وإمرأته وأولاده وأخوته وأخوانه حتى نفسه أيضاً لا يقدر أن يصير لي تلميذاً ومن لا يحمل صليبه ويأتى ورائي لن يقدر أن يكون لي تلميذ (لو ١٤ : ٢٧) إن الرب يسوع له المجد لم يقصد بهذا يجعلنا نبغض والدينا وأولادنا وأخوتنا وأخواتنا بل أراد أن يعرفنا أنه يجب أن تكون محبتنا لهم أقل من محبتنا الله حتى إذا وقعت بيننا هنا قصة بين حقوق الأقارب وحقوق الله يجب أن نحافظ على حقوق الله تبارك اسمه قبل كل شئ ونتمسك برضى الله الذي أحبنا ومات لأجلنا على الصليب ونفضل رضى الله على أقربائنا وأحبائنا وأنه يجب أن نحتمل المشقة والنار كل يوم لأجل المسيح يسوع . يوجد في الناس طبيعتين تفوقان ما سواهما من المحبة هما محبة الآباء للأبناء ومحبة الأبناء أيضاً لأبائهم فالذي يحب الله ويبغض الشيطان ينال جزاءه العادل في الأبدية والذي يحب ذاته هو بعيد عن محبة الله الذي إن تحبه وتكرمه عن جميع الخلائق وتكلم عن حمل الصليب وماذا نعمل ونرى من لا يميت نفسه عن محبة العالم . ويتعرى من كل مقتنياته وأفراحه ولا يحيا لله وحده محتملاً كل العار والإحتقار حباً في الرب يسوع . لا يستحق الجزاء الموعود به لكل من يؤمن به فإن كان المراد من حمل الصليب هو إحتمال الآلام والشتائم والمشقات والتجرد من كل مجد العلم ومقتنياته وأباطيله لأن من أراد أن يمتع نفسه بملاهي هذ الدهر فقد أفقدها الحياة الدائمة والعشرة مع الله و من احتمل الشدائد والمشقات مذللاً نفسه عن لذات هذا العالم فقد إستحق الحياة الأبدية .</p>
<p>في أحد المرات برهن الرب يسوع عن محبتنا له فقال إذا قبلوكم أعلموا بذلك أنهم يحبونني وإذا رذلوكم برهنوا على أنهم غير حافظين لوصاياي وأعطى علامته لمن يتبعنا في الإيمان ويحافظ على إقتناء الفضائل وحياة القداسة والطهارة التي بدونها لا يستطيع . أحد أن يرى الرب له المجد وعلينا رحمته إلى أبد الدهور<a href="#_ftn12" name="_ftnref12">[12]</a>.</p>
<h3>من وحي قراءات اليوم</h3>
<p>أفلا يجلس أولاً ويحسب النفقة وهل عنده ما يكمله</p>
<p>إنجيل القدَّاس</p>
<p>إتخاذ القرار</p>
<p>+ ينشأ الطفل في مجتمعنا الشرقي يأخذ له والديه القرارات حتي في أبسط الأمور</p>
<p>+ وإذا ذهب للكنيسة يتعشم أن يأخذ له ابونا القرار ويمكن ان يسافر خصيصاً لأحد الأديرة ليأخذ له أب مشهور القرار</p>
<p>+ ولامانع من ثلاث ورقات علي المذبح لتأخذ له السماء القرار</p>
<p>+ لا يوجد من أخذ قرارات ناجحة دون أن يتعلم من القرارات الفاشلة التي أخذها وجعلته يأخذ الأمور بمزيد من العمق لذلك يسمح الله أن نأخذ قرارات فاشلة لمنفعتنا</p>
<p>+ إتخاذ القرار يحتاج نضج نفسي وعقلي وروحي لذا يحتاج أبناؤنا للحب والحوار وكلمة الله للتدريب علي الرؤية الواسعة والشاملة للموقف وما أصعب أن يكون رجلاً في الثلاثين أو أكثر لم يتعلّم كيف يأخذ قرار كبير في حياته</p>
<p>+ النضج والوعي للوصول لشخصية قادرة علي اتخاذ قرار يحتاج من الآباء والأمهات تدريب وصبر وحكمة مع أولادهم</p>
<p>+ حكمة الآباء والأمهات وقادة الكنيسة تظهر في توسيع مجال الرؤية للأبناء وإظهار كل الجوانب لكن القرار لأبناؤنا وأيضاً من الخطر أن نُعْطي إنطباعاً للمخدومين أن كل ما نقوله من الله</p>
<p>+ فأقول لهم أنا لا الرب  (١كو ٧ : ١٢) آية تعلن كيف يترك الرب لخدّامه حرية أن يأخذوا قرارات حتي في تدبير الكنيسة</p>
<p>+ لا يتعود الطفل علي التفكير السوي وإتخاذ أي قرار إذا كانوا والديه كثيروا النصائح والتوجيهات والتحذيرات والتهديدات</p>
<p>+ من أخطر ما يحارب به عدو الخير ويغوي به أولاد الله هو العلامات والإشارات لذلك يجب أن تكون بحذر كبير</p>
<p>+ المرشد الناجح هو من يسمع أكثر ممّا يعطي نصيحة ، ويسأل أكثر ممّا يعرض حلولاً جاهزة+</p>
<p>، + ويساعد الشخص في إكتشاف نفسه ، حتي يكتشف بنعمة الله التي فيه ، طريق حياته</p>
<hr />
<p><a href="#_ftnref1" name="_ftn1"></a>١- الأب اسحق &#8211; تفسير إنجيل لوقا إصحاح ١٤ &#8211; القمص تادرس يعقوب ملطي</p>
<p><a href="#_ftnref2" name="_ftn2"></a>٢- المرجع : سيرة حياة القديس أنطونيوس أب الرهبان كما كتبها البابا أثناسيوس الرسولي صفحة ٥٣ &#8211; إعداد بولين تدري أسعد ومراجعة دكتور موريس تواضروس</p>
<p><a href="#_ftnref3" name="_ftn3"></a>٣- المرجع : كتاب أغسطينوس في شرح الموعظة علي الجبل صفحة ١٠٠ &#8211; كنيسة مار جرجس سبورتنج</p>
<p><a href="#_ftnref4" name="_ftn4"></a>٤- المرجع : كتاب من مجد الي مجد للقديس غريغوريوس النيسي ( صفحة ٨٩ ) &#8211; ترجمة القمص إشعياء ميخائيل</p>
<p><a href="#_ftnref5" name="_ftn5"></a>٥- المرجع : كتاب الحقيقة والظلال للقديس يوحنا ذهبي الفم ( صفحة ٧٠ ) &#8211; ترجمة دكتور سعيد حكيم يعقوب</p>
<p><a href="#_ftnref6" name="_ftn6"></a>٦- المرجع : كتاب المنجلية القبطية الأرثوذكسية ( صفحة ١٥٣ ) &#8211; قداسة البابا تواضروس الثاني</p>
<p><a href="#_ftnref7" name="_ftn7"></a>٧- المرجع : كتاب شفتاك يا عروس تقطران شهداً ( الجزء الأول صفحة ١١٥ ) &#8211; إصدار دير الأنبا شنوده العامر بإيبارشية ميلانو</p>
<p><a href="#_ftnref8" name="_ftn8"></a>٨- المرجع : كتاب التدين السليم ( صفحة ٨٣ ) &#8211; كمال حبيب &#8211; كنيسة مار مينا شبرا</p>
<p><a href="#_ftnref9" name="_ftn9"></a>٩- المرجع : كتاب حياتك تلميذاً للمسيح ( صفحة ٨٠ ) &#8211; الأنبا إيساك الأسقف العام</p>
<p><a href="#_ftnref10" name="_ftn10"></a>١٠- المرجع : كتاب الكنز الأنفس للارشيدياكون حبيب جرجس الجزء الثالث ( صفحة ١٥٠ ) &#8211; مشروع الكنوز القبطية</p>
<p><a href="#_ftnref11" name="_ftn11"></a>١١- المرجع : مجلة مدارس الأحد عدد شهر نوفمبر لسنة ١٩٥٨</p>
<p><a href="#_ftnref12" name="_ftn12"></a>١٢- المرجع : كتاب تأملات وعناصر روحية في آحاد وأيام السنة التوتية ( الجزء الثاني  صفحة ٥٧ ) &#8211; إعداد القمص تادرس البراموسي</p>

      {% endcreateArticleAccordions %}
    </section>
  {% endblock %}
  