---
layout: 'layouts/reading.html'
title: 'اليوم الثاني من الشهر الصغير'
tags: 'annual'
permalink: /articles/annual/13-2.html
---
  {% block content %}
    <section id="readings">
      <ul>
      {% if 'undefined' != 'undefined' %}
      
      {% else %}
      {% if '19.19:3-4' != 'null' %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">العشية</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeVespers '19.19:3-4' '42.4:38-41' %}
          </div>
        </div>
      </li>
      {% endif %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">باكر</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeMatins '19.110:4,5,7' '42.5:18-26' '' %}
          </div>
        </div>
      </li>
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <h3 class="flex items-center justify-between">
            <span class="kufi">القداس</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </h3>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeLitugy '47.3:12-18*@+47.4:1-4' '62.5:1-11' '44.14:1-8' '19.105:1*@+19.68:11' '42.6:12-23' %}
          </div>
        </div>
      </li>

      {% endif %}
        </ul>
    </section>
    <section id="article">
      <h3 class="mt-8 mb-4 heading-explain">شرح القراءات</h3>
      {% createArticleAccordions %}
        <p><strong>(تذكار نياحة تيطس الرسول تلميذ القديس بولس الرسول)</strong></p>
<p>عين الشمس المنيرة تبصر كل شيء وعمل الرب مملوء من مجده</p>
<p>الم ينطق الرب القديسين بجميع عجائبه التي أثبتها الرب القدير لكي يثبت كل الخلق في مجده</p>
<p>يشوع بن سيراخ ٤٢: ١٧،١٦))</p>
<p>خرجت أصواتهم، إلى وجه الأرض كلها، وبلغ كلامهم، إلى أقطار المسكونة</p>
<p>ذكصولوجية الآباء الرسل</p>
<p>يخبر هذا المزمور (مزمور ١١٧) بأكثر إيضاح عن كرازة الرسل القديسين بالإنجيل في كل الأرض، وانضمام جميع الأمم ودخولهم إلى الإيمان بالمسيح، كما جاء في نبوة زكريا: &#8220;ترنمي وافرحي يا بنت صهيون، لأني هأنذا آتي وأسكن في وسطك، يقول الرب. فيتصل أمم كثيرة بالرب في ذلك اليوم، ويكونون لي شعبًا، فأسكن في وسطك، فتعلمين أن رب الجنود قد أرسلني إليك&#8221; (زك ٢: ١٠ - ١١) يقول زكريا النبي جهارًا إن الآب رب الجنود الذي أرسل الرب&#8230; الذي جعل الأمم شعبه. جاء ابنه الوحيد وسكن في كنيسته المقدسة. وقد قويت رحمته غالبة خطايا الأمم، وحق كلامه الذي أوصاه لأنبيائه سابقًا قد أنجزه. وهو يدوم إلى الدهر مع دوام الإيمان بالمسيح<a href="#_ftn1" name="_ftnref1">[1]</a>.</p>
<h3>شواهد القراءات</h3>
<p>(مز ١٨: ٣ ، ٤) ، (لو ٤ : ٣٨ - ٤١) ، (مز ١٠٩ : ٥ ، ٦ ، ٨) ، (لو ٥ : ١٨ - ٢٦) ، (٢كو ٣ : ١٢ - ٤ : ١ - ٤) ، (١يو ٥ : ١ - ١٠) ، (أع ١٤ : ١ - ٧) ، (مز ١٠٤ : ١ ، ٦٧ ، ١٣) ، (لو٦ : ١٢ - ٢٣)</p>
<h3>ملاحظات على قراءات يوم ٢ نسئ</h3>
<p>+ قراءة الكاثوليكون اليوم (١يو ٥: ١ - ١٠) تُشبه قراءة يوم ١٤ بابه (١يو ٥: ٥ - ١٣)، وقراءة يوم ١١ طوبه (١يو ٥ : ٥ - ٢١)</p>
<p>والكلام فيها عن المعمودية والشهادة للمسيح لذلك جاءت في قراءة اليوم عن شهادة الآباء الرسل عن الإيمان، وفِي تذكار فيلبس المُبشر (١٤ بابه)، وفِي عيد الغطاس ( ١١ طوبه )</p>
<p>+ قراءة إنجيل قداس اليوم (لو ٦: ١٢ - ٢٣) هي القراءة الخاصة بإختيار الآباء الرسل (خاصة من آية ١٢ - ١٧)، لذلك جاءت (بالإضافة إلي اليوم ) أيضاً في قراءة إنجيل باكر ليوم ٢٦ بشنس ( تذكار توما الرسول ) ، وإنجيل باكر ليوم ٥ أبيب ( تذكار شهادة القديسين بطرس وبولس )</p>
<p>ويأتي جزء منها (لو ٦ :١٧ - ٢٣) في إنجيل باكر في أيام ٢٧ بابه (تذكار القديس مكاريوس أسقف إدكو ) ، ٩ هاتور ( تذكار إنعقاد مجمع نيقية ) ، ١٧ هاتور ( تذكار يوحنا ذهبي الفم ) ، ٢٨ هاتور ( تذكار أنبا صرابامون أسقف نيقية ) ، ٢٦ طوبه ( تذكار شهادة شيوخ شيهيت )</p>
<p>وهو إنجيل التطويبات للذين إحتملوا الآلام من أجل الإيمان، وهو الحديث الذي وجهه الرب لتلاميذه القديسين ( آية ٢٠ ) لكي لا ينزعجوا من الإضطهاد الذي سوف يقع عليهم بسبب الكرازة</p>
<h3>شرح القراءات</h3>
<p>تُعْلِن قراءات اليوم مجد ابن الله في كارزيه وان مجد ابن الله هو موضوع الكرازة التي كرز بها الآباء الرسل وتلاميذهم لأن هذا اليوم هو تذكار نياحة تيطس الرسول تلميذ القديس بولس الرسول</p>
<p></p>
<p>تبدأ المزامير بمجد ابن الله الذي يظهر في إختيارهم برغم عدم فصاحتهم (مزمور عشية ) ومساندتهم ( مزمور باكر ) وغني عطيته فيهم ( مزمور القدَّاس )</p>
<p></p>
<p>في مزمور عشيّة نراهم لا تُسمع أصواتهم أي ليس لهم مكانة علمية أو فلسفية وسط البشر، ولكن خرجت أصواتهم للأرض كلها</p>
<p>(ليس أقوال ولا كلام الذين لا تُسمع أصواتهم في كل الأرض خرج منطقهم وإلي أقطار المسكونة بلغت أقوالهم )</p>
<p>وفِي مزمور باكر الرب هو الذي يقف عن يمينهم ويسندهم ويُعلي شأنهم وكرامتهم</p>
<p>(حلف الرب ولم يندم أنك أنت هو الكاهن إلي الأبد علي طقس ملشيصادق الرب من عن يمينك لذلك يرفع رأساً)</p>
<p>وفِي مزمور القدَّاس الرب هو الذي يُعطي الكلمة للمبشرين والكارزين ولشهوده الأمناء</p>
<p>(اعترفوا للرب وادعوا بإسمه نادوا في الأمم بأعماله الرب يعطي كلمة للمبشرين بقوة عظيمة)</p>
<p></p>
<p>وفِي القراءات مجد الإنجيل وكلمة الله ( البولس ) ومجد الإيمان ( الكاثوليكون ) ومجد شهادة الله لكلمته ( الإبركسيس )</p>
<p></p>
<p>في البولس نري مقارنة بين مجد العهد القديم وموسى النبي الذي كان يضع برقعا علي وجهه وبين مجد العهد الجديد في المسيح الذي أزال البرقع وأعطانا أن نري مجده وأن نتغير أيضاً من مجد إلي مجد في نور إنجيله وكلمته المقدسة</p>
<p></p>
<p>(وليس كما كان موسي يضع بُرقعاً علي وجهه … لأنه سيبطل في المسيح لكن حتي اليوم عندما يقرأون موسي البرقع موضوع علي قلبهم … ونحن جميعاً ناظرين مجد الرب بوجهٍ مكشوفٍ كما في مرآة نتغير إلي تلك الصورة تلك الهيئة عينها من مجد إلي مجد كما من روح الرب … وقد أعمي الله أذهان غير مؤمني هذا الدهر لئلا ينظروا نور إنجيل مجد المسيح الذي هو صورة الله )</p>
<p>وفِي الكاثوليكون مجد الإيمان الذي يغلب العالم ومجد الإيمان بشهادة الله للحياة الأبديّة</p>
<p>لأن كل من ولد من الله يغلب العالم وهذه هي الغلبة التي تغلب العالم إيماننا … إن كنا نقبل شهادة الناس فشهادة الله أعظم جداً … من يؤمن بإبن الله فشهادة الله ثابتة فيه … وهذه هي الشهادة أن الله أعطانا الحياة الأبديّة</p>
<p>وفِي الإبركسيس عن شهادة الرب لكلمة نعمته بآيات وعجائب علي يد شهوده ورسله القديسين</p>
<p>وحدث في أيقونية أنهما دخلا معاً إلي مجمع اليهود وتكلّما كذلك حتي آمن جمهور كثير من اليهود واليونانيين ولكن اليهود الذين لم يؤمنوا هيَّجوا وأفسدوا نفوس الأمم علي الاخوة فأقاما زماناً طويلاً يُجاهران بالرب الذي كان يشهد لكلمة نعمته ويُعطي أن تُجري آيات وعجائب علي أيديهما</p>
<p></p>
<p>وفِي الأناجيل عن مجد شفاء الأجساد من الأمراض (إنجيل عشيّة) ومجد شفاء الروح من الخطية والجسد من المرض ( إنجيل باكر ) ومجد الحياة المقدسة ومجد الكارزين في السماء ( إنجيل القدَّاس )</p>
<p></p>
<p>في إنجيل عشيّة نري مجد الكلمة المُتجسِّد في وضع يده الإلهية علي كل مريض للشفاء وفِي إنتهاره الحمَّي الشديدة من حماة بطرس وإنتهارة الأرواح الشريرة</p>
<p>وكانت حماة سمعان قد أخذتها حمَّي عظيمة فسألوه من أجلها فوقف فوقها وزجر الحمَّي فتركتها وفِي الحال قامت وخدمتهم ولما غربت الشمس جميع الذين عندهم مرضي بأمراض مختلفة قدَّموهم إليه فوضع يده علي كلِّ واحد منهم وشفاهم</p>
<p>وفِي إنجيل باكر مجد شفاء الروح من الخطية بسبب إيمان الأربعة ودون أن يطلب المريض أو من حملوه</p>
<p>( فلما رأي إيمانهم قال للمفلوج أيها الإنسان مغفورة لك خطاياك … ولكن لكي تعلموا أن لإبن البشر سلطاناً علي الأرض أن يغفر الخطايا قال للمفلوج لك أقول قم وأحمل سريرك وأذهب إلي بيتك فللوقت قام أمامهم وحمل ما كان راقداً عليه ومضي إلي بيته وهو يمجد الله فاعتري الجميع حيرة ومجّدوا الله )</p>
<p>وفِي إنجيل القدَّاس أيضاً عن شفاء الجموع من الأمراض بقوّة الكلمة المُتجسِّد ولكن أيضا تطويب الرسل المُختارين لحياتهم المُقدَّسة ووعدهم بالمجد السماوي والمكافأة العظيمة في السماء</p>
<p>( وفِي تلك الأيام خرج إلي الجبل ليُصلّي وكان ساهراً في الصلاة لله ولما كان النهار دعا تلاميذه واختار منهم إثني عشر الذين سماهم رسلاً … والمعذَّبون من الأرواح النجسة كان يشفيهم وكان كل الجمع يطلب أن يلمسه لأن قوة كانت تخرج منه وتشفي الجميع ورفع عينيه إلي تلاميذه وقال لهم طوباكم أيها المساكين بالروح لأن لكم ملكوت الله … طوباكم إذا أبغضكم الناس وأفرزوكم … افرحوا في ذلك اليوم وتهلّلوا فهوذا أجركم عظيم في السماء )</p>
<h3>ملخّص القراءات</h3>
<p>مجد الله يظهر في بساطة المُختارين ودعم الله لهم ومساندتهم                          مزمور عشيّة وباكر والقدّاس</p>
<p>ومجد العهد الجديد بالمقارنة بمجد الناموس                                                             البولس.</p>
<p>ومجد الإيمان الذي يعطي الغلبة على العالم.                                                               الكاثوليكون</p>
<p>ومجد الشهادة لكلمة نعمته.                                                                          الإبركسيس</p>
<p>ومجد شفاء الأجساد من المرض وشفاء الأرواح من الخطية ومجد الملكوت السماوي             إنجيل عشيّة وباكر والقدّاس</p>
<h3>أفكار مقترحة للعظات</h3>
<h4>(١) شهود العهد الجديد</h4>
<p>١- إنتشار الكرازة خلالهم في كل الأرض رغم بساطة كلامهم وعلمهم</p>
<p>&#8221; الذين لا تُسمع أصواتهم في كل الأرض خرج منطقهم &#8221;                                  مزمور عشيّة</p>
<p>&#8221; الرب يُعطي كلمة للمبشِّرين بقوةٍ عظيمةٍ &#8221;                                                   مزمور القدَّاس</p>
<p>٢- يُفْصِلون كلمة الحق بإستقامة ويُعْلِنون نور إنجيل المسيح</p>
<p>&#8221; ولا نصنع غشاً في كلمة الله بل بإظهار الحق نقوِّم أنفسنا لدي ضمير كل إنسان قدّام الله &#8230; وقد أعمي الله أذهان غير مؤمني هذا الدهر لئلا ينظروا نور إنجيل مجد المسيح الذي هو صورة الله &#8221; البولس</p>
<p>٣- شهادة العهد الجديد هي الشهادة عن الحياة الأبديّة في المسيح التي أعلنها الله الآب للمؤمنين بإبنه</p>
<p>&#8221; من يؤمن بإبن الله فشهادة الله ثابتة فيه ومن لا يصدق الله فقد جعله كاذباً لأنه لم يؤمن بالشهادة التي قد شهد بها الله عن إبنه وهذه هي الشهادة أن الله قد أعطانا الحياة الأبديّة &#8221; الكاثوليكون</p>
<p>٤- العالم يهيج علي شهود العهد الجديد لكن الله يسندهم ويدعم كرازتهم بالآيات والعجائب</p>
<p>&#8221; ولكن اليهود الذين لم يؤمنوا هيَّجوا وأفسدوا نفوس الأمم علي الإخوة فأقاما زماناً طويلاً يجاهران بالربِّ الذي كان يشهد لكلمة نعمته ويُعطي أن تجري آيات وعجائب علي أيديهما &#8221; الإبركسيس</p>
<p>٥- شهود العهد الجديد سيُكْمِلون مسيرة أنبياء العهد القديم في إحتمال آلام الإضطهاد لأجل الكرازة والشهادة لإسمه القدّوس</p>
<p>&#8221; طوباكم إذا أبغضكم الناس وأفرزوكم وعيّروكم وأخرجوا إسمكم كشرير من أجل إبن الإنسان افرحوا في ذلك اليوم وتهلَّلوا فهوذا أجركم عظيم في السماء لأن آبائهم هكذا كانوا يفعلون بالأنبياء &#8221;                                                                                إنجيل القدَّاس</p>
<h4>(٢ ) مجد الإيمان بالمسيح</h4>
<p>١-مجد كهنوت العهد الجديد في المسيح</p>
<p>&#8221; حلف الرب ولم يندم أنك أنت هو الكاهن إلي الأبد علي طقس ملشيصاداق الرب من عن يمينك لذلك يرفع رأساً &#8221;                                                      مزمور باكر</p>
<p>٢- مجد شفاؤه الإلهي للمرضي وإستعلانه للموجودين في حضرته</p>
<p>&#8221; فللوقت قام أمامهم وحمل ما كان راقداً عليه ومضي إلي بيته وهو يمجد الله فاعتري الجميع حيرة ومجدوا الله &#8221;                                                             إنجيل باكر</p>
<p>٣- مجد ملء الإمتلاء بالروح للكارزين بالإنجيل</p>
<p>&#8221; ونحن جميعاً ناظرين مجد الرب بوجه مكشوف كما في مرآة نتغير إلي تلك الصورة تلك الهيئة عينها من مجدٍ إلي مجدٍ كما من روح الرب &#8221;                                                                                                   البولس</p>
<p>٤- مجد غلبة العالم</p>
<p>&#8221; وهذه هي الغلبة التي تغلب العالم إيماننا من هو الذي يغلب العالم إلَّا الذي يؤمن أن يسوع هو إبن الله &#8221;                                                                                                            الكاثوليكون</p>
<p>٥- مجد الشهادة لكلمته</p>
<p>&#8221; الذي كان يشهد لكلمة نعمته ويُعطي أن تجري آيات وعجائب علي أيديهما                           &#8221; الإبركسيس</p>
<p>٦- مجد الملكوت والشبع والفرح والمكافأة العظيمة في السماء للمساكين والجياع والباكون والمُضْطَهَدُون</p>
<p>&#8221; طوباكم أيها المساكين بالروح لأن لكم ملكوت الله طوباكم أيها الجياع &#8230; طوباكم أيها الباكون &#8230; طوباكم إذا أبغضكم الناس وأفرزوكم وعيّروكم وأخرجوا اسمكم كشرير من أجل إبن الإنسان افرحوا في ذلك اليوم وتهلَّلوا فهوذا أجركم عظيم في السماء &#8221;   إنجيل القدَّاس</p>
<h4>(٣) أجواء الشفاء الروحي والنفسي والجسدي</h4>
<p>١- خدمة بعد شفاء</p>
<p>&#8221; وزجر الحمَّي فتركتها وفِي الحال قامت وخدمتهم &#8221;                        إنجيل عشيّة</p>
<p>٢- كرامة جسد الكلمة في الشفاء</p>
<p>&#8221; فوضع يده علي كل واحد منهم وشفاهم &#8221;                                     إنجيل باكر</p>
<p>٣- عِظَمْ قدر وقيمة شركة الخدمة لأجل الآخرين</p>
<p>&#8221; فسألوه من أجلها &#8221;                                                               إنجيل عشيّة</p>
<p>&#8221; فلما رأي إيمانهم &#8221;                                                                    إنجيل باكر</p>
<p>٤- إرتباط الشفاء بالكرازة بكلمته</p>
<p>&#8221; الذي كان يشهد لكلمة نعمته ويُعطي أن تجري آيات وعجائب علي أيديهما &#8221; الإبركسيس</p>
<p>٥- مصدر الشفاء</p>
<p>&#8221; لأن كل الجمع كان يطلب أن يلمسه لأن قوة كانت تخرج منه وتشفي الجميع &#8221; إنجيل القدَّاس</p>
<h3>عظات آبائية</h3>
<p>(يُمكن الرجوع إلي عظات التصويبات ليوم ٢٧ بابه ، وأيضاً عظات الآباء الرسل ليوم ٥ أبيب )</p>
<h4>مكانة الرسل والكارزين والرعاة في كنيسة الله في فكر العلامة أوريجانوس</h4>
<p>فلنفهم إذن أن خيمة الاجتماع هي مجموعة القديسين الذين يشملهم عهد الله. يوجد في هذه الخيمة شخصيات أكثر استحقاقًا وعلوًا في البر، بعضهم قد دعوا &#8220;منارة الضوء&#8221; هم بلا شك الرسل أنفسهم لأنهم يضيئون إلي الذين يقتربون إلي الله، ولكن آخرون أيضًا في خيمة الله هذه يشيرون لكل الذين يدخلون نور المعرفة والحكمة، هؤلاء يحملون اسم المنارة الرمزي. وآخرون سيكونون &#8220;المائدة المقدسة&#8221; فهم كل الذين يمسكون خبز الله، الذى يجدد ويغذى النفوس &#8220;الجائعة الي البر&#8221;(مت٦:٥).</p>
<p>آخرون سيكونون &#8220;مذبح بخور&#8221; فهم كل الذين ينشغلون ليل نهار في هيكل الله في اصوام وصلوات، والذين لا يصلون لأنفسهم فقط، بل أيضًا لأجل كل الشعب الذين قد أوكل الله لهم هذه الأسرار قد سمّوا &#8220;تابوت العهد&#8221;. والذين في ثقة قوية، بواسطة تقدمة الصلوات وفي تقريب الابتهالات والتضرعات، يصالحون الله مع الناس ويتوسلون الي الله لأجل عصيان الشعب فهؤلاء سيدعمون &#8220;مذبح الذهب&#8221;. والذين قد استحقوا فيض العلم وكثرة ثروة معرفة الله يستطيعون ان يكونوا &#8220;شاروبيم&#8221; حيث ان الشاروبيم تترجم الي لغة أخرى: غزارة المعرفة.</p>
<p>لكن كل الذين قدموا بالرموز المتعددة أعلاه يجب ان يحملوا، ويحملوا علي الاكتاف. لذلك فالملائكة &#8220;الذين ارسلوا للخدمة لأجل العتيدين أن يرثوا الخلاص&#8221; (عب١٤:١)، هم في رأيي الحاملون لكل الذين ذكرناهم حقا عندما تطوى هذه الخيمة مرة اخرى، وعندما نبدأ الدخول هناك في القدس ونرحل نحو بلاد الموعد فالذين هم حقيقة قديسون يعيشون في قدس الأقداس وسيتقدمون موآزرين بواسطة الملائكة، وحتى تنصب خيمة الله مرة أخرى سيكونون محمولين علي أكتاف الملائكة ومرفوعين علي ايديهم. وأمام هذه الصورة قال النبي بالروح:&#8221;لإنه يوصي ملائكته بك لكى يحفظوك في كل طرقك، علي الايدى يحملونك لئلا تصدم بحجر رجلك&#8221;(مز١١:٩١).</p>
<p>الشيطان أعتقد بأنها يقصد بها المخلص، ولكن أعمته شراسته، فلم يفهم هذا الكلام السري لان المخلص لم يكن في حاجة الي الملائكة لكى لا تصدم</p>
<p>بحجر رجله. الشيطان يجدف علي الكتاب الالهي بتطبيق هذه الكلمات علي المخلص، أنه ليس لأجله لكن لأجل جميع القديسين، قيل أن الله قد اعطي أمراً لملائكته إكرامًا لشعبه لكى لا تصدم بحجر رجله فالذى يحفظه الرب من &#8220;الهلاك ومن شيطان الظهيرة&#8221; ليس هو المخلص، هذه الفكرة بعيدة عنا، حاشا لله لان كل انسان مبرر، والابرار هم الذين في حاجة الي عون ملائكة الله، حتي لا تسحقهم الأبالسة، وحتي لا يحرق قلبهم &#8220;السهم الذى يطير في الظلمات&#8221;.</p>
<p>يؤكد بولس بنفس السر بإن البعض يجب ان يكونوا محمولين من الملائكة على السحب &#8220;لكن نحن الأحياء الباقين سنخطف جميعًا معهم في السحب لملاقاة الرب في الهواء&#8221; (١تس ٤: ١٦). فالذين قد قبلوا تنقية عميقة وقد أصبحوا منخفضين من أثقال الخطية سوف يختطفوا بواسطة الملائكة، اما الذين مازالوا مثقلين ببعض بقايا النجاسة فسوف يحملون ركائز الخيمة والاروقة وكل الاشياء التي قد عددت بواسطة الكتاب المقدس فهل تحمل إذًا بواسطة اللاويين وليس بواسطة الاسرائليين لسبب سبق أن اوضحناه بطريقة عابرة فقط، حتي نترك لأفكار السامعين الذين أوقدت فيهم الرغبة الحارة لكى يغتنوا باشتعال انفسهم بنور العلم، وليكتشفوا الحقائق الكبيرة بنظرة خارقة. أما نحن فنطلب من الرب أن يجعلنا محمولين او مرفوعين بواسطة أمثال هؤلاء ، وان نكون محفوظون من السهم الذي يطير في الظلمات ومن الهلاك ومن شيطان الظهيرة، حتي لا تصدم رجلنا بحجر حتى نصل الي مكان الموعد بنعمة ربنا يسوع المسيح الذى له المجد والسلطان الي أبد الآبدين أمين<a href="#_ftn2" name="_ftnref2">[2]</a>.</p>
<h4>التطوبيات للقديس كيرلس الكبير</h4>
<p>(لو٦: ٢٠) &#8221; ورفع عينيه إلي تلاميذه وقال: طوباكم أيها المساكين ، لأن لكم ملكوت الله &#8221;</p>
<p>هذه هي كلمات المخلص حينما كان يوجه تلاميذه إلي جدًه حياه الانجيل بعد أن اختارهم للرسوليه . ولكننا يجب أن نعرف من هم المساكين الذين يتكلم لهم بمثل هذه الأمور العظيمه. ، لأنه في الانجيل حسب متي مكتوب هكذا : &#8221; طوبي للمساكين بالروح لأن لهم ملكوت السموات &#8221; (مت ٥: ٣). وهو يريدنا بهذا أن نفهم بكلمه المسكين بالروح أنه هو الإنسان الذي يفكر أفكاراً منخفضه عن نفسه ، وعقله منخفض بوضوح ، وقلبه لطيف ، ومستعد للطاعه والخضوع ، وهو برئ كليه من اثم الكبرياء .</p>
<p>مثل هذا الإنسان هو جدير بالإعجاب وهو صديق لله حتى إن الله قال بواسطه أحد أنبيائه القديسين: &#8221; إلي من أنظر إلا ًإلي المتضع والمنسحق الروح والمرتعد من كلامي؟&#8221; (اش ٦٦ :٢). وداود النبي أيضا يقول &#8221; إن المنسحق والتواضع القلب لا  يرذله الله &#8221; (مز ٥١:  ١٧). والمخلص نفسه أيضا يقول: &#8221; تعلموا مني لأني وديع ومتواضع القلب &#8221; (مت ١١ : ٢٩). وفي الدروس الموضوعه أمامنا الأن يقول إن المساكين سيكونون مغبوطين بدون أن يضيف كلمه &#8221; بالروح &#8220;، ولكن البشيرين يتكلمون بهذه الطريقه لا كمتناقضين أحدهم مع الآخر، بل كما لو كانوا في أحيان كثيره يقسمون الروايه بينهم . فمره يلخصون ، نفس التفاصيل ، وفي مره أخري فإن ما يهمله أحدهم يذكره الآخر  في روايته ، حتي لا يخفي أي شيء نافع عن أولئك الذين يؤمنون بالمسيح. لذلك فإنه يبدو محتملاً ان المقصود بالمساكين الذين يطوبهم هم أولئك الذين لا يهتمون بالغني، وهم مرتفعون فوق الطمع ويحتقرون الهدايا الوضيعه ، وهم متحررون من محبه المال ، وهم لا يعطون أي إعتبار لمظاهر التفاخر بالغني .</p>
<p>وهكذا فإن بولس الحكيم جدا يرشدنا بوضوح إلي أفضل التعاليم حيث يقول ، &#8221; لتكن سيرتكم خاليه من محبه المال ،كونوا مكتفين بما عندكم &#8221;</p>
<p>(عب ١٣: ٥).    واضاف إلي هذا قوله: فإن كان لنا قوت وكسوه فلنكتف بهما &#8221; (١تي ٦: ٨)، لأنه كان ضرورياً بصوره مطلقه، لأولئك الذين سيكون عملهم هو الكرازه برساله  الانجيل الخلاصيه أن يكون لهم عقل لا يبالي بالغني ، بل ويكون منشغلاً فقط بشهوه الأمور الفضلي . وبالإضافة الي ذلك فإن الحديث لا يؤثر علي أولئك الذين لهم موارد كثيره ، بل فقط علي أولئك الذين شهوتهم في الغني ومن هم هؤلاء ؟ هم كل الذين تنطبق عليهم كلمات المخلص : &#8221; لا تكنزوا لكم كنوزًا علي الأرض &#8221; (مت ٦ : ١٩).</p>
<p>(لو ٦: ٢١).&#8221; طوباكم أيها الجياع الآن، لأنكم تشبعون &#8220;.</p>
<p>في إنجيل متي يقول: &#8221; طوبي للجياع والعطاش إلي البر لأنهم سيشبعون &#8221; أما هنا فهو يقول فقط ان الجياع سيشبعون ، لذلك فنحن نقول إنه أمر عظيم وسامي جدًا أن نجوع ونعطش إلي البر ، أي أن نعتاد أن نشترك في المساعي الجاده نحو التقوي ، لأن هذا هو معني البر ، كما لو كان هو طعامنا وشرابنا . وبمقدار ما يجب أن نعطي لهذه الفقره أيضاً معني ، بحسب الشروحات السابقه فنحن نقول أيضًا هكذا : إن المخلص نطق بالطوبي لأولئك يحبون الفقر الإختياري ، لكي يمكنهم بكرامه وبدون تشتت أن يمارسوا سيره الحياه الرسولية . لأن هذا يتطابق بوضوح مع عدم إقتناء ذهب ولا فضه في مناطقهم ، ولا ثوبين ، وأيضًا أن يحتملوا خشونه كبيره في طريقه حياتهم ، ونادرًا ما يحصلوا علي الطعام لحاجتهم ، ولكن هذا أمر ثقيل علي أولئك الذين يعانون الفقر والاضطهادات ، لذلك فإن ذلك الذي يعرف لا يسمح لنا أن نفقد روحنا المعنوية بسبب نتائج الفقر ، ولأنه يقول إن أولئك الذين يجوعون الآن لأجل تقواهم من نحوه ، سوف يشبعون أي يتمتعون بالبركات العقليه والروحيه المذخره لهم .</p>
<p>(لو ٦: ٢١). &#8221; طوباكم أيها الباكون الآن، لأنكم ستضحكون &#8221; .</p>
<p>إنه ينطق بالطوبي للباكين، ويقول إنهم سيضحكون، ولكننا نقول إن المقصود بالباكين ليس مجرد الذين يذرفون الدموع من عيونهم ، لأن هذا أمر عام للجميع بلا استثناء سواء كانوا مؤمنين وهو يحدث من طبيعه متألمه . بل المهم أولئك الذين ينأون بأنفسهم عن حياه الملاهي والغرور واللذات الجسديه .</p>
<p>فعن الأولين نقول إنهم يعيشون في تمتع وضحك أما المؤمنون فيتخلون عن الترف ويتركون حياه الإهمال واللذات الجسدية وكل شيء سوي البكاء. وبسبب مقتهم للأمور العالميه فإن مخلصنا يعلن مغبوطون ، ولهذا السبب فقد أوصانا أن نختار الفقر ، وهو يكرم الأمور التي تصاحب الفقر بالضروره ، مثل نقص الأشياء الضرورية للتمتع ،واتضاع  الأرواح الذي تسببه البلايا ، فإنه مكتوب &#8221; كثيره هي بلايا الصديقين ، ومن جميعها ينجيهم الرب &#8221; (مز ٣٣: ١٩س).</p>
<p>(لو ٦ : ٢٢، ٢٣). &#8221; طوباكم إذا أبغضكم الناس وإذا أفرزوكم وعيروكم ، وأخرجوا اسمكم كشرير من أجل ابن الانسان . افرحوا في ذلك اليوم وتهللوا، فهوذا أجركم عظيم في السماء . لأن آباءهم هكذا كانوا يفعلون بالانبياء &#8221;</p>
<p>يسبق الرب فيذكر الاضطهاد حتي قبل أن يذهب الرسل إلي إرساليتهم. لقد سبق الانجيل وأنبأ بما سيحدث . لأنه كان متوقعا تماما أن أولئك الذين كرزوا  برساله الإنجيل ، وجعلوا يهجرون طريقة عبادتهم الناموسيه ليتعلموا طريق الإنجيل للحياه الفاضله ، بينما هم أيضا يربحون عابدي الأوثان إلي الإعتراف بالحق ، كان متوقعا أن هؤلاء يحتكون بكثير من الكفار والأشرار ، لأن مثل هؤلاء هم الذين في عداوتهم ضد التقوي ، يثيرون حروبًا واضطهادات ضد الذين يبشرون بيسوع ، ولكي يحفظ تلاميذه من السقوط في محنه شديده تفوق العقل حينما يأتي الوقت الذي فيه تجعلهم هذه المصائب من جهه أو أخري ، فانه يسبق وينبههم لأجل منفعتهم ، أنه حتي هجوم الأشياء المحزنه</p>
<p>التي يصعب احتمالها سوف تأتي معها بمكافأتها وفائدتها  لهم ، فكانه يقول : &#8221; لأنهم سيعيرونكم كمخادعين وكمضللين، وسوف يفرزونكم من وسطهم وحتي من صداقتهم ومجتمعهم .&#8221; ولكن لا تدعوا أي شيء من هذه الأشياء يزعجكم ، كأنه يقول : لأنه أي أذي يمكن أن يلحقه اللسان الشرير بالعقل المثبت الراسخ  ، لأنه يقول إن احتمال معاناه هذه الاشياء لن يكون بدون ثمره ، لأولئك الذين يعرفون كيف يحتملون بتقوي ، ولكن هذا هو عربون السعاده العليا . وبالإضافه إلي ذلك يقول لهم لفائداتهم ، إنه لن يحدث لهم شئ غريب حتي حينما يعانون من هذه الاشياء ، بل العكس فإنهم سوف يشبهون أولئك الذين قبلهم كانوا حاملي كلمات الله إلي الاسرائليين ، والذين اضطهدوا ، ونشروا ، وماتوا قتلي بالسيف ،واحتملوا التعييرات الواقعه   عليهم ظلمًا — ولذلك فهو يريد أيضًا ان يفهم تلاميذه أنهم سيصيرون شركاء مع أولئك الذين يتمثلون بأعمالهم ، وانهم لن يفشلوا في ربح إكليل الأنبياء بعد أن ساروا مثلهم في نفس الطريق<a href="#_ftn3" name="_ftnref3">[3]</a>.</p>
<h3>عظات آباء وخدام معاصرين</h3>
<p>( يُمكن الرجوع إلي عظات التطويبات ليوم ٢٧ بابه ، وأيضاً عظات الآباء الرسل ليوم ٥ أبيب )</p>
<h4>القديس الأرشيدياكون حبيب جرجس</h4>
<p>انتخاب الاثنى عشر رسولا (لو٦: ١٢ - ١٣) و(مر ٣ : ۱۳- ١٩)</p>
<p>&#8221; قضى الليل كله في الصلاة لله &#8221; (لو ٦: ١٢)</p>
<p>(أولا ً) ان المسيح مع كونه ابن الله ومتحداً به دائماً ولم ينفصل عنه مطلقاً مع ذلك كان دائماً يصلي ويحيى اكثر الليالي منفرداً في الصلاة. وذلك لأن الصلاة هي الصلة التي تصلنا بالله فكان المسيح بذلك مثالا لنا فعلينا ان نصلي دائماً ولا نترك الصلاة أبداً . (ثانياً) لاحظ ان المسيح قبل أن يختار تلاميذه قضى الليل كله في الصلاة وهذا ما يعلمنا ان نصلي كثيراً قبل شروعنا في أي عمل و بالأخص الاعمال المهمة.(ثالثة) اختار المسيح هؤلاء الرسل لينشروا ملكوت الله و يدعوا الناس الى المسيحية . فكل من يخدم المسيح و يبشر الناس بملكوته فهو يقدم خدمة لله على مثال هؤلاء الرسل.(رابعاً) لاحظ قول الانجيلي انه « أقامهم ليكونوا معه » فلا يمكن للانسان ان يخدم المسيح خدمة حقة ما لم يكن مع المسيح أولا ًومتحداً به لأنه بذلك ينال القوة منه التي بها يقدر أن يعمل (خامساً) لاحظ محبة المسيح فانه بينما كان الناس يقاومونه و يعدون المؤامرات ضده كان هو يهيء طرق، خلاصهم ووسائل تبشيرهم والمناداة بالخلاص للأسرى . فهذه هي المحبة الحقيقية وعلينا أن نتعلم ان شر الناس لا يجب أن يمنعنا من صنع الخير لهم .</p>
<p>+ عظة المسيح على الجبل والتطويبات (مت ٥ : ۱ - ۱۲)</p>
<p>&#8221; طوبى لصانعي السلام لأنهم ابناء الله يدعون&#8221; (مت٥ : ٩)</p>
<p>(أولا&#8221;) هذه التطويبات هي فاتحة خطبة المسيح على الجبل وهذه الخطبة تتضمن أهم مبادى. الديانة المسيحية وتعلمنا هذه المبادىء ان الذين يعيشون بروح المسيحية لهم حياة مستقرة في الله. ويتمتعون في هذه الحياة بالسعادة وفي الآخرة بالمكافأة السماوية .(ثانياً) ان هذه التطويبات تدل على ان ملكوت الله الذي انشأه المسيح يتطلب حياة جديدة . وصفات جديدة وديانة من القلب والروح . اذ لا تكن قبول بركات الله ومواهبه والتمتع بها دون ملاءمة حالة القلب لذلك .(ثالثاً) ان ملكوت السموات هو الغاية العظمى الذي يجب ان نسعى للحصول عليه . وله درجتان حاضرة ومستقبلة اي بداءة هنا في الدنيا ونهاية وكمال في الآخرة . وتتوقف الثانية على الاولى . واتمام هذه المواعيد له درجتان وهما اختبار المؤمن وشعوره بالسعادة في الدنيا ثم كمال التمتع بها في العالم الاتى. (رابعاً) خلاصة هذه التطويبات هي (١) الذي يتمسكن بالروح يمتلك ملكوت السموات في قلبه الى ان يحصل على تمام المجد في الآخرة (٢) العزاء للحزاني الذين يحزنون بحسب مشيئة الله (٣) من يحتمل كل شيء بصبر ووداعة ينال الغلبة الروحية ويمتلك كل شيء (٤) من يجوع لاجل البر يشبع الى الابد (٥) من يرحم يُرحم (٦) من كان قلبه نقياً كان سعيدأ ويتمتع برؤية الله (٧) من يسع في السلام يكن ابناً لله (۸) من تألم لاجل المسيح فله الأجر العظيم في السماء<a href="#_ftn4" name="_ftnref4">[4]</a>.</p>
<h3>من وحي قراءات اليوم</h3>
<p>&#8221; ولا نسلك في مكرٍ ولا نصنع غشاً &#8221;      البولس</p>
<p></p>
<p>المسرح</p>
<p></p>
<p>+ يوجد في المسرح ثلاث فئات من الناس : الممثلين علي المسرح ، والعاملين وراء الكواليس ، والمتفرجين</p>
<p>+ يعمل العاملون وراء الكواليس بجَدِّ شديد لأجل إنجاح العمل وإسعاد الناس ، وبدونهم لاتقوم للعمل قائمة ، ورغم ذلك لايكاد يعرفهم أحد وبالتأكيد لاأحد يتذكرهم</p>
<p>+ ممثلي المسرح ظاهرين طول الوقت أمام الكل ، مستفيدين من تعب كل من وراء الكواليس ، وربما يُنسب لهم فقط كل نجاح العمل</p>
<p>+ العاملون وراء الكواليس لايلبسون أقنعه ولايتصنعون شيئا لأنه لايراهم أحد ولايهم عندهم ذلك ، أما ممثلي المسرح لايظهرون بما في داخلهم ، بل يتقنون دورا ربما يكون مُختلف عن حقيقتهم</p>
<p>+ يستمد العاملون الطاقة من جودة العمل ونجاحه ، ويستمد الممثلون الطاقة من رد فعل الناس</p>
<p>+ هدف العاملون نجاح العمل وإتقانه ، وهدف الممثلون زيادة الشعبية</p>
<p>+ أما المتفرجون ، فلاينشغلون بشئ سوي البحث عن سعادتهم الشخصية ، وإنبهارهم بممثلي المسرح ونقدهم للعمل والعاملين</p>
<p>+ ليتنا نحرص ان يكون لنا عمل وراء الكواليس (في الخفاء ) لا يراه أحد</p>
<p>+ وما أجمل أن تعمل لإنجاح أخوك حتي ولو لم يري أحد ذلك ، وعلي الجانب الآخر تيقَّن أن إعجاب الناس بما تعمل يقف وراءه كثيرون وراء الكواليس ، ربما يصلَّون لأجل عملك وخدمتك دون أن تطلب</p>
<p>+ ما أصعب وما أخطر أن تكون كل أعمالنا فقط هي التي ظاهرة للكل ( علي المسرح ) ، فربما نتحول مع الوقت إلي ممّثلين ، ونكتفي بتصفيق وتهليل المتفرجين!!</p>
<hr />
<p><a href="#_ftnref1" name="_ftn1"></a>١- الأب أنسيمُس الأورشليمي - تفسير مزمور ١١٧ - القمص تادرس يعقوب ملطي</p>
<p><a href="#_ftnref2" name="_ftn2"></a>٢- المرجع : عظات علي سفر العدد للعلامة أوريجانوس صفحة ٥٩ - ترجمة المتنيح القس برسوم عوض ومراجعة دكتور نصحي عبد الشهيد</p>
<p><a href="#_ftnref3" name="_ftn3"></a>٣- تفسير إنجيل لوقا للقديس كيرلس الأسكندري صفحة ١٢٩ - ترجمة دكتور نصحي عبد الشهيد</p>
<p><a href="#_ftnref4" name="_ftn4"></a>٤- المرجع : كتاب الكنز الأنفس للارشيدياكون حبيب جرجس الجزء الثالث ( صفحة ٦٨ ) - مشروع الكنوز القبطية</p>

      {% endcreateArticleAccordions %}
    </section>
  {% endblock %}
  