---
layout: 'layouts/reading.html'
title: 'اليوم السادس من النسي (الزمن الناقص والمسيح الكامل )'
tags: 'annual'
permalink: /articles/annual/13-6.html
---
  {% block content %}
    <section id="readings">
      <ul>
      {% if 'undefined' != 'undefined' %}
      
      {% else %}
      {% if '19.119:95-96' != 'null' %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">العشية</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeVespers '19.119:95-96' '42.13:10-17' %}
          </div>
        </div>
      </li>
      {% endif %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">باكر</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeMatins '19.119:89-90' '42.4:23-30' '' %}
          </div>
        </div>
      </li>
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <h3 class="flex items-center justify-between">
            <span class="kufi">القداس</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </h3>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeLitugy '51.3:8-17' '59.5:16-20' '44.11:12-18' '19.119:97-98' '43.2:1-11' %}
          </div>
        </div>
      </li>

      {% endif %}
        </ul>
    </section>
    <section id="article">
      <h3 class="mt-8 mb-4 heading-explain">شرح القراءات</h3>
      {% createArticleAccordions %}
        <p>احصاء أيامنا هكذا علمنا فنؤتي قلب حكمة (مز ٩٠: ١٢)</p>
<p>غير المبتدئ الأبدي غير الزمني الذي لا يُحد &#8221;</p>
<p>القدَّاس الغريغوري</p>
<p>&#8221; حيث نلاحظ في موضع آخر أن النعمة تسبق روح الحياة ، وذلك عندما يقول الرب &#8221; قبلما صورتك في البطن عرفتك وقبلما خرجت من الرحم قدستك &#8221; (إر ١ : ٥) لأن روح هذه الحياة شئ وروح النعمة شئ آخر . الأوَّل يأخذ بدايته عند الميلاد وينتهي عند الموت . والثاني لا تحده فصول أو عصور، ولا يُبْطل بالموت ، ولا يُستبعد من بطن الأم . لذلك امتلأت القديسة مريم بالروح القدس وتنبأت قائلة : تُعظِّم نفسي الرب (لو ١ : ٤٦) وطبقاً لشهادة الكتاب المقدَّس لم يصمت صموئيل بعد موته عن التنبؤ وكذلك أيضاً عندما مسَّت عظام إليشع جثة رجل دبَّت فيها الحياة<a href="#_ftn1" name="_ftnref1">[1]</a> &#8221;</p>
<h3>شواهد القراءات</h3>
<p>(مز ١١٨: ٧١ ، ٧٢) ، (لو ١٣ : ١٠ - ١٧) ، (مز ١١٨: ٦٧) ، (لو ٤ : ٢٣ - ٣٠) ، (كو ٣ : ٨ - ١٧) ، (يع ٥ : ١٦ - ٢٠) ، (أع ١١ : ١٢ - ١٨) ، (مز ١١٨ : ٧٣ ، ٧٤) ، (يو ٢ : ١ - ١١)</p>
<h3>ملاحظات على قراءات يوم ٦ نسئ</h3>
<p>+ قراءة إنجيل باكر اليوم (لو ٤: ٢٣ - ٣٠) تُشبه قراءة إنجيل القداس (لو ٤ : ١٣ - ٣٠) ليوم ١ توت</p>
<p>الحديث في قراءة يوم ١ توت يتركز في سنة الرب الجديدة التي أعلنها إبن الله في تجسُّدِه، ورسالته الخلاصية للبشرية ( لأبشِّر المساكين ، لأنادي بالغفران للمسبيين ، وبالنظر للعميان &#8230; إلخ )</p>
<p>أما الحديث في قراءات ٦ نسئ فيتركَّز في رقم ٦ (موضوع قراءات ذلك اليوم) ، والذي أعلن فيه الرب أن الجوع إستمر للشهر السادس ( حين أُغلِقت السماء ثلاث سنين وستة أشهر ) ، والشبع جاء في الشهر السابع ( رقم سبعة هنا إشارة إي المسيح المُشبع )</p>
<p>+ قراءة الكاثوليكون اليوم (يع ٥: ١٦ - ٢٠) تُشبه قراءة الكاثوليكون (يع ٥: ٩ - ٢٠) لأيام ٢ توت ، ٢٢ طوبه ، ١٦ بؤونه ، وأيضاً الأحد الرابع من شهر بؤونه</p>
<p>مجئ القراءة اليوم للإشارة إلي رقم ٦ (ثلاث سنين وستة أشهر ) موضوع قراءات اليوم والذي يشير إلي نقص البشر وكمالات المسيح</p>
<p>ومجيئها في يوم ٢٢ طوبه (أنبا أنطونيوس ) ، ١٦ بؤونه ( أبا نوفر السائح ) ، وفي الأحد الرابع من بؤونه للإشارة إلي &#8221; وصلاة البار فيها قوة عظيمة فعالة &#8221;</p>
<p>ومجيئها يوم ( ٢ توت ) ليُشير إلي &#8221; الأنبياء الذين تكلموا بإسم الرب &#8221; لأجل تذكار يوحنا المعمدان</p>
<p>أمَّا مجيئها في قراءة الأحد الرابع من بؤونه فهو للإشارة إلي فاعلية الصلاة</p>
<p>+ قراءة الإبركسيس اليوم (أع ١١: ١٢ - ١٨) تُشبه قراءة الإبركسيس (أع ١١ : ٢ - ١٨) للأحد الرابع من شهر طوبي ، والأحد الرابع من شهر بشنس</p>
<p>والإشارة في قراءة اليوم إلي &#8221; وجاء أيضاً معي هؤلاء الأخوة الستَّة &#8221; لأن رقم ستَّة هو مفتاح فهم قراءة هذا اليوم</p>
<p>أمَّا مجيئها في قراءة الأحد الرابع من بؤونه فهو للإشارة إلي خلاص العهد الجديد الذي يناله المؤمنين من كل الأمم ، والإشارة إلي المعمودية في الأحد الرابع من طوبه</p>
<p>+ قراءة إنجيل قداس اليوم (يو ٢ : ١ - ١١) هي نفس قراءة إنجيل قداس يوم ١٣ طوبه ( عُرْس قانا الجليل )</p>
<p>وهي جاءت في ١٣ طوبه للحديث عن تحويل الماء إلي خمر في عُرْس قانا الجليل ، وجاءت في يوم ٦ نسئ للحديث عن كمال عطيّة الله رغم قصور أزمنة البشر ( ستة أجران - ٦ نسئ )</p>
<h3>شرح القراءات</h3>
<p>تُخْتَم قراءات أيّام السنة القبطية بهذا اليوم وهو اليوم الأخير في أيام السنة القبطية إذا كانت السنة كبيسة (٣٦٦ يوم )</p>
<p>لذلك تتحدث قراءات هذا اليوم عن الكمال الإلهي وكمال عمل الله أمام قصور أزمنة البشر وأزمنة الأرض</p>
<p>لذلك مفتاح فهم مغزي قراءة هذا اليوم هو رقم &#8221; ٦ &#8221; والذي يُشير إلي النقص البشري مهما زاد والذي لا يكمل ولا يكتمل إلَّا في المسيح ، لذلك تكرَّر رقم ٦ صراحة في الكاثوليكون والإبركسيس وأناجيل عشيّة وباكر والقدّاس وجاء معه الكمال في حضور المسيح له المجد أو في حضوره في أولاده وعمله فيهم سواء كانوا أنبياء العهد القديم أو رسل العهد الجديد</p>
<p>تتكلّم المزامير عن وصايا الله وكلمته الدائمة إلي الأبد فكل شئ تامّ علي الأرض له منتهي ( مزمور عشيّة ) والأرض ثابتة فقط بالإرادة الإلهيّة ( مزمور باكر ) وهي الضمان الوحيد الباقي مع الإنسان في الأبديّة ( مزمور القدَّاس )</p>
<p>في مزمور عشيّة نري ثبات المرنِّم داود أمام إنتظار وتآمر الخطاة عليه لأن كل شئ أرضي له منتهي ونراه يضع رجاؤه الكامل في وصايا الله وشهاداته الكاملة التي ليس لها منتهي</p>
<p>( إياي أنتظر الخطاة ليهلكونني ولشهاداتك فهمت لكلَّ تمام رأيت منتهي أما وصاياك فواسعة جداً )</p>
<p>وفِي مزمور باكر كلمة الله هي الدائمة إلي الأبد وإذا كانت الأرض ثابتة فهذا يرجع لإرادة وأمر خالقها</p>
<p>( يارب كلمتك دائمة في السموات إلي الأبد وإلي جيل فجيل حقك أُسّست الأرض فهي ثابتة بأمرك )</p>
<p>وفِي مزمور القدَّاس الضمان الأساسي للإنسان في زمن حياته هو في تسبيح الله واللهج في كلمته الإلهية الدائمة إلي الأبد</p>
<p>(محبوب هو إسمك يارب فهو طول النهار تلاوتي علّمني وصاياك أفضل من أعدائي لأنها ثابتة لي إلي الأبد )</p>
<p>وفِي القراءات نري كمال المحبَّة ( البولس ) وكمال الفيض الإلهي ( الكاثوليكون ) وكمال الإيمان بقبول الأمم ( الإبركسيس )</p>
<p>في البولس نطرح الإنسان العتيق بأعماله الستّة (الغضب السُخط الخبث التجديف الكلام القبيح الكذب ) ونلبس الإنسان الجديد بأعماله السبعة ( رأفات ولطفاً وتواضعاً ووداعة وطول آناة محتملين ومسامحين ) وفوق الكل ويُجسِّد الكل المحبّة مقياس ورباط الكمال</p>
<p>( خالعين الإنسان العتيق مع أعماله ولبستم الإنسان الجديد الذي يتجدد للمعرفة حسب صورة خالقة … وفوق كلَّ هذا المحبّة التي هي رباط الكمال )</p>
<p>وفِي الكاثوليكون عن كمال الفيض الإلهي بعد الجفاف فبعد الستة أشهر تأتي الصلاة التي تتجاوز حدود الأرض والزمن وتأتي بفيض من السماء وغني في الأرض</p>
<p>( كان إيلياس إنساناً تحت الآلام مثلنا وصلي صلاة كي لا تمطر السماء فلم تمطر علي الأرض ثلاث سنين وستة أشهر وصلّي أيضاً فأعطت السماء المطر والأرض أنبتت ثمرها )</p>
<p>وفِي الإبركسيس عن الإخوة الستة الذين يُمثِّلون الناموس وبطرس الرسول الذي يُمثِّل أزمنة الله الخلاصية ويكرز بنعمة العهد الجديد وكمال الإيمان بقبول الأمم في كنيسة العهد الجديد</p>
<p>( وجاء أيضاً معي هؤلاء الأخوة الستة … واستدع سمعان الذي يُدعي بطرس وهذا يكلمك بكلامٍ الذي به تخلص أنت وكل بيتك فلما إبتدأت أتكلم حلَّ الروح القدس عليهم كما حلَّ علينا نحن أيضاً في البداءة … فلما سمعوا ذلك وكانوا يمجدون الله قائلين : إذاً أعطي الله الأمم التوبة أيضاً للحياة )</p>
<p>وفِي الأناجيل عن قصور أزمنة الشفاء في الستّة أيَّام ( إنجيل عشيّة ) وقصور أزمنة الشبع بعد الستة أشهر ( إنجيل باكر ) وقصور أيّام التطهير بعد الستّة أجران ( إنجيل القدَّاس )</p>
<p>في إنجيل عشيّة يوبِّخ الرب رئيس المجمع علي رفضه الشفاء يوم السبت وهو لا يعلم أن حضور إبن الله الكلمة المُتجسِّد سبت البشرية الجديد وسبت شفاء البشر بعد عجز أيّام الناموس الستّة عن خلاص الإنسان</p>
<p>( فأجاب رئيس المجمع وهو مغتاظ لأن يسوع أبرأ في السبت وقال للجمع هي ستة أيام ينبغي فيها العمل ففي هذه إئتوا واستشفوا وليس في يوم السبت … وهذه هي إبنه إبراهيم قد ربطها الشيطان ثماني عشرة سنة أما كان يجب أن تُحلَّ من هذا الرباط في يوم السبت )</p>
<p>وفِي إنجيل باكر عن كمال الجوع في الأرض مع الستّة أشهر والإحتياج إلي إيليا العهد الجديد وليس فقط الصلاة التي تفتح السماء لأجل الأمطار بل إلي إبن الإنسان الذي يفتح السماء للأبد ويسكب من غني نعمته علي كل جوعي الخلاص</p>
<p>( ثم قال الحق أقول لكم أنه ولا نبيّ واحد بمقبول في مدينته وحقاً أقول لكم إن أرامل كثيرة كُنَّ في إسرائيل في أيام إلياس حين أغلقت السماء ثلاث سنين وستة أشهر حتي صار جوع عظيم علي كلّ الأرض )</p>
<p>وفِي إنجيل القدَّاس عن اليوم الثالث يوم القيامة وتجديد الطبيعة ويوم حضور العريس وبعد فشل تطهير الناموس في سكب الفرح للبشر يأتي إبن الإنسان ليُعطينا خمر العهد الجديد الذي يتراجع أمامه كل أفراح العالم لذلك بعد ما طلب منهم أن يملأوا الأجران الستّة بالماء وقال لهم استقوا الآن فعرف الكل من هو العريس وصاحب العُرْس مصدر تجديد وفرح كل المؤمنين</p>
<p>( وفِي اليوم الثالث كان عُرْس في قانا الجليل وكانت أم يسوع هناك … وكانت ستة أجران من حجر مصنوعة هناك حسب تطهير اليهود يسع كل واحد مطرين أو ثلاثة … أما أنت فقد أبقيت الخمر الجيّدة إلي الآن )</p>
<h3>ملخّص القراءات</h3>
<p>كلمة الله دائمة في السموات وإلي المنتهي والضمان الكبير في الحياة                        مزمور عشيّة وباكر والقدّاس</p>
<p>ونري الإنسان الجديد بأعماله السبعة وفيض السماء في الشهر السابع وفيض الروح مع الإنسان السابع         البولس والكاثوليكون والإبركسيس</p>
<p>والستِّة أيام دون شفاء والستة أشهر دون غذاء وستة أجران دون إرتواء    إنجيل عشيّة وباكر والقدّاس</p>
<h3>أفكار مقترحة للعظات</h3>
<h4>(١ ) كمال العمل الإلهي وقصور أزمنة البشر</h4>
<p>١- كمال كلمة الله ولا محدودية فعلها وقدرتها</p>
<p>&#8221; لكل تمام رأيت منتهي أما وصاياك فواسعة جداً &#8221;                                  مزمور عشيّة</p>
<p>&#8221; علمتني وصاياك أفضل من أعدائي لأنها ثابتة إلي الأبد &#8221;                        مزمور القدَّاس</p>
<p>٢- كمال الشفاء الإلهي في اليوم السابع بعد ستَّة أيام البشر العاجزة عن الشفاء</p>
<p>&#8221; هي ستة أيام ينبغي فيها العمل ففي هذه إئتوا وإستشفوا وليس في يوم السبت &#8230; وهذه وهي إبنة إبراهيم قد ربطها الشيطان ثماني عشرة سنة أما كان يجب أن تُحلَّ من هذا الرباط في يوم السبت &#8221;                                                                                            إنجيل عشيّة</p>
<p>٣- ملء الشبع من السماء بعد جوع الأرض وعدم كفايتها وإستعلان الشبع والشفاء للأمم بعد قصور برّ إسرائيل</p>
<p>&#8221; إن أرامل كثيرة كُنَّ في إسرائيل في أيام إلياس إلي واحدة منهن إلَّا المرأة الأرملة التي كانت في صارفيه صيدا وكان يوجد برص كثيرون في إسرائيل قدّام إليشع النبيَّ ولم يطهر واحد منهم إلَّا نعمان الشامي &#8221;                                                                               إنجيل باكر</p>
<p>٤- كمال الفيض الإلهي بعد ستَّة أشهر العجز</p>
<p>&#8221; وصلَّي صلاة كي لا تمطر السماء فلم تمطر علي الأرض ثلاث سنين وستة أشهر وصلي أيضاً فأعطت السماء المطر والأرض أنبتت ثمرها &#8221;                                    الكاثوليكون</p>
<p>٥- كمال الإيمان برجوع الأمم وقصور برّ الناموس الذي يمثله الإخوة الستّة وبطرس الرسول معهم الذي يمثل أزمنة الله الخلاصية</p>
<p>&#8221; وجاء أيضاً معي هؤلاء الإخوة الستّة &#8230; إرسل إلي يافا وإستدع سمعان الذي يُدعي بطرس وهذا يكلمك بكلام الذي به تخلص أنت وكل بيتك &#8221;                         الإبركسيس</p>
<p>٦- عجز الستّة أجران الناموس عن التطهير والإحتياج إلي إبن الإنسان الذي يملأ الكل إلي فوق في اليوم الثالث بصليبه وقيامته</p>
<p>&#8221; وفِي اليوم الثالث كان عُرْس في قانا الجليل &#8230; وكانت ستة أجران من حجر مصنوعة هناك حسب تطهير اليهود &#8230; قال لهم يسوع إملأوا الأجران ماء فملأوها إلي فوق &#8221; إنجيل القدَّاس</p>
<h4>(٢) تجديد الإنسان</h4>
<p>١-غني الكلمة</p>
<p>&#8221; لكل تمام رأيت منتهي أما وصاياك فواسعة جداً &#8221;                                                             مزمور عشيّة</p>
<p>٢- روح الوصيّة</p>
<p>&#8221; أيها المراؤون ألا يحلُّ كلُّ واحد منكم ثوره أو حماره من المزود في يوم السبت ويمضي به ويسقيه وهذه وهي إبنة إبراهيم قد ربطها الشيطان ثماني عشرة سنة أما كان يجب أن تُحلَّ من هذا الرباط في يوم السبت &#8221;                    إنجيل عشية &#8221;</p>
<p>٣- قداسة الحياة وملء المحبّة</p>
<p>&#8221; خالعين الإنسان العتيق مع أعماله ولبستم الإنسان الجديد الذي يتجدد للمعرفة حسب صورة خالقه &#8230; وفوق كل هذا المحبّة التي هي رباط الكمال &#8221;                                                                                                 البولس  &#8221;</p>
<p>٤- فاعلية وقوّة الصلاة</p>
<p>&#8221; وصلاة البار فيها قوة عظيمة فعالة كان إيلياس إنساناً تحت الآلام مثلنا وصلي صلاة كي لا تمطر السماء فلم تمطر علي الأرض ثلاث سنين وستة أشهر&#8221;  الكاثوليكون &#8221;</p>
<p>٥- ملء الروح القدس</p>
<p>&#8221; وأما أنتم فسيعمِّدونكم بالروح القدس &#8221;                                         الإبركسيس</p>
<p>٦- حضور المسيح هو مصدر فرح البشرية</p>
<p>&#8221; أما أنت فقد أبقيت الخمر الجيدة إلي الآن &#8221;                                     إنجيل القدَّاس</p>
<h4>٣) مفهوم الشفاعة                                                        إنجيل القدَّاس</h4>
<p>١- القديسون يعرضون طلباتنا ومشاكلنا وإحتياجاتنا أمام الله دون طلب شئ معين</p>
<p>&#8221; ولما فرغت الخمر قالت أم يسوع له ليس لهم خمر &#8221;</p>
<p>٢- إستجابة الله للبشر ترتبط بتدبير الخلاص لهم وما هو لأجل خلاصهم</p>
<p>&#8221; قال لها يسوع ما لي ولَك يا إمرأة لم تأتي ساعتي بعد ( الصليب ) &#8221;</p>
<p>٣- يوصينا القديسون بطاعة كلام الرب ووصاياه والإيمان بقدرته الإلهية</p>
<p>&#8221; قالت أمه للخدَّام مهما يقول لكم فإفعلوه &#8221;</p>
<p>٤- بساطة تصديق الإنسان لكلام الله مهما كان عجز العقل عن فهمه</p>
<p>&#8221; قال لهم يسوع إملأوا الأجران ماء فملأوها إلي فوق</p>
<p>٥- هدف المُعجزات إعلان مجد الله وليس البشر</p>
<p>&#8221; هذه هي الآية الأولي التي فعلها يسوع في قانا الجليل وأظهر مجده فآمن به تلاميذه &#8221;</p>
<h3>عظات آبائية</h3>
<h4>القديس غريغوريوس النيسي: من حمامة الى حمامة</h4>
<p>أن بركة الرب ودوام أبديته تفوق كل فهم وتحتوى كل كمال ولا يمكن أن يحدها أى حدود . فهى بركة غير محدودة سواء كان ذلك هو اسم الله أو فهمة أو ادراكه أو أى صفة من صفات الله . ولكن كل كمال يحتويه الله هو أبدى وغير محدود واذا كان الشر لا يوجد له مكان محدد خاص به فان البر هو بلا حدود . أما طبيعتنا نحن فهى متغيرة تميل أحيانا للخير وأحيانا أخرى للشر لأنه لدينا الحرية والقدرة أن نختار أى جانب منها ولذلك فان وجود الشر فينا يمنع من وجود الخير . وكل عمل خير لأرواحنا يصير كلا شىء حين يحد بالشر الذى نصنعه . أما الطبيعة الالهية فهى بسيطة وطاهرة وفريدة من نوعها وثابته غير متغيرة ولها اتجاه واحد . وهى حصن قوى جدا للخير المطلق الذى بلا حدود لأنه لا يوجد أى حدود لكمال الطبيعة الالهية . وحينما تكون للانسان شركة مع الله تسمو النفس لتتحد بهذا الكمال. ونحن هنا نرى الكلمة (الرب يسوع المسيح) يقود العروس ويصعدها الى حالتها الأولى قبل السقوط ويقودها الى الكمال حين يرسل لها أولا شعاع النور خلال نافذة الأنبياء والناموس والوصايا وعندئذ تبقى العروس بجوار النور وتصير جميلة وتتغير الى صورة الحمامة وعندئذ تنمو فى شركتنا مع الجمال الالهى كما لو كانت لم تتذوقه من قبل . وبهذا تنمو النفس وتتقدم من مرحلة الى مرحلة وكلما تتقدم فى النعمة تدرك أنها تحتاج أن تبدأ من جديد وكأنها لم تحصل على شىء . ولهذا السبب فان العريس يقول لها قومى وحينما تأتى يقول لها ثانية. والذى يتبع الرب لن يكف عن السعى وراءه ولذلك يجب أن نوقظ أنفسنا ولا نكف عن السعى نحو هدفنا ، لأنه حين يقول دائما قومى وتعالى فانه يعطينا القوة أن نقوم ونتقدم . ولهذا يجب أن نفهم كيف تستمر العروس فى جمالها ، وهذا هو ما يذكرنا بقول بولس الرسول &#8221; نتغير الى تلك الصورة بعينها من مجد الى مجد &#8221; (٢كو٣: ١٨) وهذ معناه أن أقصى ما يمكن أن نصل اليه من مجد الى مجد فى شركتنا مع الله يظل أقل مما نترجاه . وهكذا فان عروس النشيد هى مثل الحمامة بسبب كمالها، ولكنها أصرت أن تصير مثل الحمامة مرة أخرى أى تتغير الى ما هو أكثر كمالا<a href="#_ftn2" name="_ftnref2">[2]</a>.</p>
<h4>القديس أغسطينوس: شهوة رؤية الله</h4>
<p>[لماذا تحجب وجهك عني ، يا سعادة نفسي الوحيد ؟</p>
<p>اين تختفي يا رب الجمال، يا نهاية كل طموحي. رائحتك التي اتنسمها تسكرني بالحياة والدهش، هذا رغم انني لم اراك بعد ، لأنه مكتوب : لا يراني إنسان ويعيش (خر ۳۳) .</p>
<p>حسنا، لو علمت بهذا التحذير فلن أراك. لكن لأموت یا رب واراك. لا أراك يا ربي قبل أن أموت، فعندما اريد ان احيا ، اريد ان اموت &#8221; لي اشتهاء أن انطلق واكون مع المسيح &#8221; (في ١ : ٢٣).</p>
<p>انني اشتهي الموت لكي أراك. انني لا اريد العيش بعد لكي احيا بك &#8230; فرح نفس عبدك.. ادخل الى نفسي ايها الفرح الحقيقي، حتى تبتهج بك . ادخل اليها ايها العذوبة اللانهاية، حتى تتمتع بالعذوبة الحقيقية ، أفض عليها بشجاعتك ايها النور الأبدي حتى تعرفك وتدركك وتحبك . فلماذا هي لا تحبك بل هي فاترة من جهتك الا لعدم معرفتها لك ؟ وعدم معرفتها ناجم عن عجزها من ادراكك . عجزها هذا بسبب عدم تقبلها نورك ، اذ &#8221; النور أضاء في الظلمة ، والظلمة لم تدركه &#8221; (يو ١ : ٥) &#8230; إلهي &#8230; بدد الظلمة الكثيفة التي تخيم في نفسي ، حتى تراك عند ادراكها اياك ، وتعرفك عندما تقبلها لك ، وتحبك عند معرفتها لك . أن كل من يعرفك يحبك ! ينسى نفسه! يحبك أكثر من ذاته. يترك نفسه وينجذب اليك، لينهل من لذته في الاتحاد بك &#8230;. سيدي ان كنت لم احبك كما ينبغي ، فذلك لأنني لم اعرفك بعد جيدا ، فقله معرفتي جعلت حبي لك فاتراً ، وفرحي الذي اتمتع به فيك ضعيفاً</p>
<p>ويحي . فانه بعبوديتي للمغريات الخارجية ، انشغل عنك ايها السعادة الكامنة في داخلي ، واحرم منك ، واذهب لكي ارتبط برباطات دنسة مع أباطيل هذا العالم .</p>
<p>هوذا في بؤسى ، القلب الذي لك وحدك أن تمتلكه بكل عواطفه واحاسيسه وتضحياته قد وهبته انا للأمور الباطلة ، فصرت باطلا بحبي للباطل . لهذا لم تعد بعد انت فرحي، بل تركتك واندفعت أجري وراء محبة العالم الخارجي . مع أنك لا ترتاح الا في اعماق نفسي . انا اريد التلذذ بأعمال الجسد، وانت تود الآبتهاج بروحي .</p>
<p>انا بأعمال الجسد املأ قلبي واشغل بها ذهني واجعلها محور حديثي، اما انت يا إلهي فتحيا في النفس غير المحسوسة ، الخالدة . انت تملك في السماء، وأنا ازحف على الارض ،انت تعشق الأعالي ، وانا اطلب السفليات . انت تشغلك السماويات وانا غارق في الأرضيات. ترى متي تتقابل مثل هذه الميول المتعارضة.] القديس أوغسطينوس.<a href="#_ftn3" name="_ftnref3">[3]</a></p>
<h3>عظات آباء وخدام معاصرين</h3>
<h4>المتنيح الأنبا بيمن: الألف والياء</h4>
<p>&#8221; أنا هو الألف والياء البداية والنهاية. الأول والآخر&#8221; (رؤ ۸:۱، ۱۱) لقد ورد هذا اللقب ثلاث مرات في سفر الرؤيا، وفيه يعلن الرب يسوع عن نفسه أنه هو البداية والنهاية كما تنبأ عنه أشعياء النبي الإنجيلي فيمواضع كثيرة</p>
<p>(أش٤١: ٤، ٤٤: ٦ ، ٤٨: ١٢) .</p>
<p>ولقد كان مترسبا في ذهن اليهودي في العهد القديم، أن المسيا الذي سيأتي</p>
<p>هو الرب. هو الأول والآخر هو البداية والنهاية.  هو الأول لأنه العلة الخلاقة للكل، وهو النهاية لأنه الهدف النهائي لكل</p>
<p>الموجودات، وهو ما بين الألف والياء لأنه حاضر في كل الأشياء. يقول</p>
<p>أكليمنضس الأسكندري أن الابن ليس واحدا، بمعنى أنه شيء ما، وإنما هو واحد بمعنى أنه الكل، وهو مركز كل قوي ومجد وسلطان.</p>
<p>هذا يعني</p>
<p>+ أن يكون المسيح الألف والياء ، هذا يعني أنه الكامل الذي لا نقص فيه ، فيه كل</p>
<p>القوى، كل الحكمة كل المعرفة، كل القداسة ، كل الصلاح. وحياته على</p>
<p>الأرض كانت برهانا عمليا على كماله فهو القائل &#8220;من منكم يبكتني على خطية &#8220;.</p>
<p>+ أن يكون المسيح الألف والياء يعني الديمومة والاستمرار فهو العامل قبل أن يبدأ التاريخ ، وهو العامل من خلال التاريخ وهو الذي لا يزال يعمل في كل آن</p>
<p>وسيظل عاملا فوق كل زمان ومكان وكيان.</p>
<p>+هو أمس واليوم وإلى الأبد. وفي سفر الرؤيا يقول الرب عن ديمومته &#8220;لا تخف</p>
<p>أنا الأول والآخر ، الحي وكنت ميتا ، وها أنا حي إلى أبد الآبدين آمين ، ولی</p>
<p>مفاتيح الهاوية والموت أنا هوالكائن والذي كان والذي سيأتي القادر على كل</p>
<p>شئ &#8221; وبولس الرسول يقول &#8220;وأما عن الابن كرسيك يا الله إلى دهر الدهور</p>
<p>قضيب الإستقامة قضيب ملكك أحببت البر وأبغضت الإثم من أجل ذلك مسحك</p>
<p>الله الملك بزيت الابتهاج أكثر من شركائك.</p>
<p>وأنت يارب في البدء أسست الأرض والسموات هي عمل يديك هي تبيد</p>
<p>ولكن أنت تبقى وكلها كثوب تبلى وكرداء تطويها فتتغير ولكن أنت أنت وسنوك</p>
<p>لن تفنى&#8221;(عب ۸:۱ - ۱۲).</p>
<p>+ فالمسيح هو السرمدي ، الأزلي الموجود قبل كل وجود ، والأبدي الدائم الذي لا</p>
<p>يزول بلا بداية وبلا نهاية .</p>
<p>+أن يكون المسيح الألف والياء ،هذا يعني أنه الأصل والمصدر،هو أيضا الهدف</p>
<p>النهائي والقصد الأخير.</p>
<p>+هو أصل كل شيء ، ومنه كل حياة ، وهو أيضا الهدف الأخير لكل حياة ، منه</p>
<p>وله كل الأشياء كما يقول الرسول بولس في رومية &#8220;لأنه منه وبه وله كل الأشياء</p>
<p>له المجد إلى الأبد آمين&#8221; (رو ۱۱: ٣٦) .</p>
<p>+ ويقول أيضا &#8221; الكل به وله قد خلق ، الذي هو قبل كل شئ ، وفيه يقوم الكل&#8221;</p>
<p>(کو ۱: ۱۷).</p>
<p>+ أن يكون المسيح الألف والياء ، هذا يعني إنه الماسك الكل بيديه ، كما رآه يوحنا سفر الرؤيا .</p>
<p>+ ولبولس الرسول تعبير جميل ، سبق ذكره في رسالة كولوسي&#8221;وفيه يقوم الكل &#8220;فكما إنه مبدع الخليقة والهدف النهائي لها . فهو الممسك بيديه العالم وكل ما فيه،</p>
<p>معطيا له تماسكا وانسجاما. فكل النواميس التي تحكم العالم في نظام بديع،</p>
<p>وحكمة رائعة إنما هي في الحقيقة إفصاح عن عقل الإبن. والقوانين التي نطلق عليها القوانين العلمية، هي في أعماقها قوانين إلهية. إنها تعطي للكون معنی جميلا وتفسيرا لوجوده وكيانه إنها القوانين التي تجعل العالم موثوقا به ومعتمدا عليه، فيه يرتبط الكون ويتماسك معا ويسير في إتساق وإنتظام وإبداع ، لأنه هو ما بين الألف والياء .</p>
<p>تداريب روحية</p>
<p>+ أن يكون المسيح هو الأول في كل تصرف من تصرفات حياتي وفكرا وقلبا</p>
<p>وعملا.</p>
<p>+ أن يكون المسيح هو الهدف النهائي من كل سلوکی ، ففی نجاحي وإنجازاتي أعط</p>
<p>له كل المجد، وفي ضيقاتي وأتعابی أری قسمات صليبه تنطبع على نبضات قلبي .</p>
<p>+ أن يكون المسيح هو ما بين الألف والياء ، هو الحياة بأكملها ، أحيا لا أنا بل</p>
<p>المسيح يحيا في<a href="#_ftn4" name="_ftnref4">[4]</a>.</p>
<h4>أيضاً للمتنيح الأنبا بيمن أسقف ملوي: ارتباط الزمن بالأبدية</h4>
<p>في الفكر الأرثوذكسي والروحانية الأرثوذكسية ليس هناك تضاد بين الزمن والأبدية، بل هناك تلاحم واتصال. ففي المسيح يسوع حدث هذا الارتباط الصمیمی طالما نؤمن بوحدة اللاهوت والناسوت، لأجل هذا أصبح الزمان داخلا في اعتاب الأبدية وأصبح الأبدية هابطة علي تاريخنا زاحفة عليه ساحبة إياه في تخومها اللانهائية. وإذا ما اتخذنا صلاة القداس مثالا لذلك فإننا في صلاة الليتورجيا لانفرق بين السماء والأرض لانهما اتحدا سويا في القداس ، وبناء على ذلك لا نفرق بين الزمن والابدية لأن لحظات الصلاة في مجال لاستجلاء الابدية وإستحضارها علي الأرض . ونفس هذا الاختبار يحسه المؤمن في صلاة المخدع عندما يصلى بالروح والذهن، فإن الأبدية تنفتح لتحمل دقات الساعة مع دقات وانات القلب سويا وتحسب هذا الجهاد وتكتبه في سفر تذكرة وتعطيه خلودا أبديا.</p>
<p>وإذا كان الرب يسوع قد قال بفمه الطاهر &#8220;ها ملكوت الله داخلكم&#8221; فمعنى هذا أن الأبدية حاضرة هنا الآن.. وإن لم تثق انها حاضرة معنا الآن فلن ندخلها في الاتي. كل ما هو اخروي سيحدث فعلا في المستقبل في المجيء الثاني في الأبدية، ولكنه يبدأ الآن. الآن وقت مقبول &#8230; الآن ساعة خلاص.. الأن ساعة إنفتاح الأبدية ودخولها قلب الإنسان وجعله مملكة (إليه نأتي وعنده نصنع منزلا) وعندما</p>
<p>يستقر الرب في القلب ألا تكون الأبدية كلها حاصلة فعلا. لأجل هذا تتميز الروحانية الأرثوذكسية باختبار عربون الملكوت من هنا، وتسعى نحو الامتلاء من الفرح الداخلى كعربون للفرح السمائي عندما يأتي أوان الزفاف ويأخذ العريس العذاري المستعدات معه. وهذا الاختبار الصوفي هو وحده الذي يقضي على العزلة في حياة الإنسان. وهو وحدة الذي يحل المتناقضات، وهو وحده</p>
<p>الذي يلغى القلق والسلام والملل والخوف من الموت هذه التي هي نتاج سلطان الزمان على الإنسان. وفي هذا يقول الفيلسوف برديائف : &#8216;يوجد طريقان ممكنان لمعاناة الزمان، أحدهما أن نجرب الحاضر دون تفكير في المستقبل والابدية ، والثاني أن نجعل من الحاضر والأبدية شيئاً واحداً .</p>
<p>الموقف الأول يقوم على النسيان.. أما الموقف الثاني فيتغلب علي شر الزمان ويفضي بنا إلى الأبدية، وفي هذه الحالة لا تكون اللحظة لحظة نسيان وإنما تكون على العكس لحظة امتلاء خاص تمثل حياة الانسان تنيرها الذاكرة لا جزءا من حياته المنعزلة وهكذا تستطيع الروج أن تتغلب على الخوف والفزع من المستقبل &#8216; . وهذا ما تعمله الخبرة الروحية في الأرثوذكسية..</p>
<p>ختام القول أنه ليس هناك ضمان للمسيحيين على أنهم يسيرون في الطريق الصحيح أفضل من حفظ وحدانيتهم وممارسة عضويتهم الحية في الكنيسة، والتعمق في شركتهم مع الله ورفض كل ثنائية يطرحها العقل والفلسفة والمنطق، والتجاوب مع كل</p>
<p>وحدة يحدثها الروح في الحياة الداخلية<a href="#_ftn5" name="_ftnref5">[5]</a>.</p>
<h4>القديس القمص بيشوي كامل: الحياة الابدية</h4>
<p>من رسالة يوحنا الرسول الاولى الأصحاح الأول: (الذي كان من البدء الذي سمعناه الذي رأيناه بعيوننا الذي شاهدناه ولمسته ايدينا من جهة كلمة الحياة . فان الحياة قد أظهرت وقد رأينا ونخبركم: الحياة الابدية التي كانت عند الآب وأظهرت لنا . الذي رأيناه وسمعناه نخبركم به لكي يكون لكم شركة معنا. وأما شركتنا نحن فهي مع الاب ومع ابنه يسوع. ونكتب اليكم هذا لكي يكون فرحكم كاملا) .</p>
<p>كثير منا يعتقد ان الحياة الابدية هي التي تعقب موت الانسان ثم يذهب الى الفردوس موضع الراحه ، وعندما يأتي يوم الدينونة يقوم الذين صنعوا الصالحات الى قيامة الحياة والذين صنعوا السيئات الى قيامة الدينونة ومن هنا تبدأ الحياة الابدية !! .. لا يا أخوتي &#8230; ، هذا تفكير خاطىء &#8230; انا اريد منك ان تضع علامة تساوى وانت مطمئن للغاية ان الحياة الابدية هي المسيح . وهذا الكلام صحيح. هيا بنا نرى ماذا تعني الحياة الابدية بدون الدخول في مناقشات ومجادلات فلسفية ربما لا توصلنا الى شيء. الحياة معناها عدم الموت، ونحن نعلم ان سبب الموت هو الخطية. اذن لو استطعنا ان نقضي على الخطية لا نموت. لكن الذي سبب لي الخطية هو العالم . اذن لو وجدت من يغلب العالم أضمن ان لا أموت واظل في حياة دائمة عندما جاء: غلب العالم وادان الخطية بالجسد. المسيح عندما جاء كان شبعان للغاية نتيجة طبيعته اللاهوتية وجد العالم يكذب لكن انا لا اكذب. وجد العالم يسرق ( مثل رؤساء الكهنة ) &#8230; لكن أنا لا أسرق . لهذا عندما وجده جماعة اليهود على هذا الحال صلبوه على الصليب. من اجل هذا الصليب من ضمن ما يرمز فانه يرمز الى غلبة العالم والشيطان والخطية. ونحن مهما نخطىء فخطيتنا ثمنها مدفوع مقدما . أنا اضمن لك ان الثمن مدفوع لكن لا أضمن لك التوبة وهذه تعتمد على جهادك . ربما تخرج من هذا العالم وانت لم تتب بعد فانت حينئذ لم تستفد بالدم المدفوع على الصليب . انا اريدك تعيش في العالم فرحان . صدقني يا اخي &#8230; هذه الحياة رائعة جدا ولا تفتكر ان الحياة مثل ما هي في اذهان اولاد العالم عبارة عن لبس واكل وضحك &#8230; لا على الاطلاق &#8230; الحياة في المسيح اكثر لذة من كل هذا بكثير وسعادتها لا تنتهى</p>
<p>تواظب على قراءة الانجيل &#8230; ويوم ان تسقط تقوم وتتحد مع المسيح بسر عجيب في التناول . انها حياة جميلة . وانا اريد ان اقول أكثر من ذلك &#8230; الانفصال عن المسيح هو الموت نفسه . هناك قصة مشهورة تقول : كان هناك رجل يهودي يدعى فليكسينوس ، وفي نفس الوقت كان هناك مسيحيان . وفي مرة اجتمع هذان المسيحيان وأخذ احدهما يشتكى الآخر قائلاً : يا أخي من يوم ما مرت وراء المسيح أصبحت فقيرا وجوعانا ولم أصبح مثل ما كنت عليه من قبل . فما كان من الثاني الا انه شجعه وقال له يا صديقى ان المال ليس كل شيء ويكفي الحياة مع المسيح وهذا غنى كاف. وفي النهاية اتفق الاثنان للذهاب للرجل اليهودي لاستشارته في هذا الموضوع. فقال اليهودي للانسان المسيحي المتذمر: اجحد المسيح وانت تصبح غنيا وذى اموال كثيرة . وقام واحضر له صليب عليه المسيح مصلوب واعطاه حربة وقال له أطعن جنب المسيح بالحربة وردد اجحدك ايها المسيح أنت وصليبك . وفعلاً ما أن طعن الرجل المسيحى جنب المسيح بالحربة للوقت مات الرجل . وهذا صحيح عندما ترك المسيح مات . وتكملة القصة ان هذا الرجل اليهودي آمن بالمسيح لأنه كان عنده ابنة ضريرة وما ان وضع على يمينها المسيح المطعون بالحربة أبصرت للوقت</p>
<p>المهم ان الانفصال عن المسيح هو الموت فعلا. وبالتالي الاتحاد بالمسيح هو الحياة الابدية. ماذا لو حدث في اى جنازة والناس تبكي، يجيء المسيح ويلمس النعش ويقول للميت لك اقول قم !! تخيل منظر الناس التي كانت تبكي مدى الفرح المفاجيء الذي يحدث لها. صدقنى يا اخي ان هذه المعجزة تتم يوميا فينا &#8230; المسيح يقيم يوميا نفوسنا الميتة ويجعلها تحيا حياة ابدية معه . هل تتذكر الحديث الذي دار بين ربنا يسوع ومرثا أخت لعازر:</p>
<p>( فقالت مرثا ليسوع يا سيد لو كنت ههنا لم يمت اخي لكني الآن ايضا اعلم ان كل ما تطلب من الله يعطيك اياه . فقال لها يسوع : سيقوم أخوك . قالت له مرثا أنا أعلم انه سيقوم في القيامة في اليوم الأخير . قال لها يسوع : أنا هو القيامة والحياة من آمن بي ولو مات فسيحيا . وكل من كان حيا وآمن بي فلن يموت الى الأبد آتؤمنين . بهذا . قالت له نعم يا سيد. أنا قد آمنت انك انت المسيح ابن الله الآتي الى العالم) (يو۲۱:۱۱ – ۲۷)۰</p>
<p>حدث في مرة من المرات انه انتشر بين تلاميذ المسيح ان يوحنا لن يموت . وكان يوحنا يتكيء على صدر المسيح وكل اشتياقاته كانت في المسيح. فذهب بطرس وجماعة التلاميذ ليسألوا المسيح هل يوحنا لن يموت؟ فأجاب يسوع أنا لم اقل انه لن يموت ولكن ان شئت ان لا يموت فلن يموت. وكان ربنا قادرا ان يجعل يوحنا لايموت</p>
<p>فالحياة الابدية هي الحياة في المسيح. فلنحيا في المسيح لنذوق الحياة الابدية<a href="#_ftn6" name="_ftnref6">[6]</a></p>
<h4>المتنيح القمص لوقا سيداروس: في الهزيع الرابع</h4>
<p>ثم ماذا يا أبي؟</p>
<p>+ بعد أن صرف الجموع، وهذا أخذ بضع ساعات لأن المائدة أعدها المسيح وكان النهار قد بدأ يميل .. فأكلوا وشبعوا ثم صرفهم. وكنا نحن الرسل منتظرين أن نركب السفينة كلنا معه ونعبر البحيرة. قال لنا يسوع: اركبوا واذهبوا اعبروا. قلنا: بل ننتظرك! قال: لا، سأبقى وقتاً على الجبل أصلي. قلنا: نبقى معك.. ننتظرك. قال: لا. ثم ألزمنا أن نركب وحدنا. لم يلزمنا بشيء أو يجبرنا على شيء من يوم عرفناه.. فلماذا الآن يلزمنا أن نذهب بدونه؟ لم نفهم.. ولكننا تعودنا أن نطيع حتى وإن كنا لا نرغب. ركبنا السفينة.. كان الوقت مساء وذهبنا وكأن الظلمة لفتنا، ليس القارب فقط بل ومن فيه، إحساس غير مريح يلفنا. مضى وقت ليس بقصير، إحساسنا بالوحدة والوحشة يزداد مع كل موجة من البحر تلطم سفينتنا الصغيرة ومع كل تمايل كانت نفوسنا تتأرجح في عدم راحة. ازدادت الأمواج قوة وعنفاً وازدادت الرياح المضادة وازدادت نفوسنا اضطراباً .ترى ماذا بنا؟ ماذا من المجهول ينتظرنا؟ هل سنغرق ونموت؟ هذا فكر قاتل يملأ النفس اضطراباً.. هل نصلي.. ونطلب؟ أنتزع الرجاء رويداً رويداً.. فرص نجاتنا تقل.. والظلام أكثر وحشة، كدنا نيأس من النجاة، وأصبح الموت يلمس باليد.. علا الصياح.. زاد الاضطراب.. دخلت المياه إلى النفس. ثم صاح أحدنا.. هناك خيال في البحر.. إنه يمشي على المياه، شيء مخيف زاد من خوفنا خوفاً. فصرخنا وجزعنا.. لعله الموت. ثم إذ اندفعنا كلنا ناحية الخيال. سمعناه يتكلم ويشير نحونا.. تجمدنا في أماكننا وانعقدت الألسن.. لا حركة ولا كلام، قال.. أنا هو لا تخافوا.. إنه يخاطبنا..</p>
<p>إنه يسوع.. وصوت يسوع. هو ماشي على الماء .. كيف يكون هذا ومن يصدق هذا؟ اندفعت من بين إخوتي الرسل وقلت: &#8221; يا سيد، إن كنت أنت هو، فمرني أن آتي إليك على الماء &#8220;. أعمل مثلك لأنك قلت إننا نكون مثلك . قال لي: تعال. وحين سمعتها من فمه قفزت بلا حساب وبلا تفكير.. أنا عارف كلمته وعارف قوتها وقدرته الإلهية. قفزت.. يا إلهي.. مشيت على الماء نحو يسوع. أين العقل أين؟ الماء المحلول أنا ماشي عليه. أعتقد أنني في حلم.. بل وحتى في الحلم لا يمكن المشي على الماء، لكنني في كامل العقل والصحو. كان الرسل يراقبونني ولكن في دهشة وصمت. ثم دار سؤال في فكري في لحظة.. هل هذا معقول؟ وأجاب فكري وقد خضع للشك: لا طبعاً هذا غير معقول! هذا وهم.. هذا غير حقيقي.. انظر الأمواج العاتية.. انظر الريح القاسية.. هبط فكري</p>
<p>في الحال ومعه سقطت رجلي في اللجة.</p>
<p>يا إلهي إنني أغرق.. ارحمني.. سأموت.. صرخت ليسوع.. يارب نجني.. مد يده وأمسكني وأقامني من سقطتي.. من شكي. وعاتبني بكلمة حنونة: &#8221; يا قليل الإيمان، لماذا شكك؟ &#8220;. كيف عدت إلى المركب لا أذكر، هل مشيت على الماء راجعاً أو حملني هو على الأذرع الأبدية!! طبعاً قد انطبع في عمق نفسي صنیع يسوع هذا. إن يده التي أمسك بها يدي فنجاني أشعر بقبضتها لا تفارقني مدى الحياة.. إنها سندي. وقوتي .. لقد سند إيماني لكي لا أخور، بل رجعت معه وأنا في يده سائراً على الماء دون أن أفكر. كان فكري منحصراً فيه.. لم أدر (أشعر) بالموج ولا بالريح رغم وجودهما.. لأن وجوداً أقوى احتواني وقس على ذلك جميع التجارب التي جزتها والرياح المضادة التي واجهتها .. لم أعد ألاقيها بذاتي، بل بإيماني بالمسيح ويده التي أمسكتني وأعادت إيماني إلى مستوى المشي علي الماء.. وهل تنسي خبرة فريدة كهذه؟ ويا للعجب! ركب السفينة.. أسكت الموج بكلمة وانتهرت الريح.شيء تندهش له الملائكة، بل هو &#8220;من كال بكفه المياه، وقاس السماوات بالشبر، وكال بالكيل تراب الأرض، ووزن الجبال بالقبان، والآكام بالميزان &#8220;، هو نفسه من صد الريح.أصابتنا دهشة رهيبة بكل المقاييس وكنا نقول لبعضنا.. من هو هذا</p>
<p>الذي يأمر الريح والبحر فيطيعانه. وكانت الإجابة تصرخ في داخلنا، هو بالحق ابن الله الآتي إلى العالم<a href="#_ftn7" name="_ftnref7">[7]</a>.</p>
<h4> الأب فرنسيس ب لابيف: لقد فات الأوان</h4>
<p>(صالح هو الرب حصني في يوم الضيق وهو يعرف المتوكلين عليه (فا ١: ٧ .</p>
<p>عندما تحول حياة الخطية جميع جهود الانسان ومواهبه وقوته</p>
<p>وشجاعته إلى رماد سوف أتساءل: كيف يكون في الامكان جمع ذلك</p>
<p>الرماد وخلق كائن جديد يستطيع أن يأخذ مكاناً ملائماً ضمن الذين لا</p>
<p>يعرفون الخطية ؟! .</p>
<p>هكذا كتبت إحدى الشخصيات التي ذاقت مآسي الحياة و جذبت</p>
<p>حياتها الخطية ووقفت على قمة السنين یائسة، و وقعت على هذه</p>
<p>الرسالة باسمها &#8230; « المسكينة سارة » لقد كانت المسكينة سارة</p>
<p>توصل من اجل النجاة من ظلام ليلها الأعمى، كانت تتحسس بخوف</p>
<p>لعلها تجد شخصاً ما يقودها إلى أشعة شمس الله، شخصا ما يستطيع</p>
<p>أن يزيح السحب التي أظلمت روحها . و بدأت تطلب إلى الله بشفاعة</p>
<p>العذراء مريم ملجأ الخطاة ، أن يكون اليوم مثل يوم جديد يأتي ولا</p>
<p>تنظر أبداً إلى الوراء ، ولكن كيف يحدث هذا بعد فوات الأوان ؟</p>
<p>هذه المسكينة بحكمها على قلبها الحزين قد فقدت هذا المنقذ الوحيد</p>
<p>&#8230; الا و هو ثقتها بالله . يا لقلة معرفة « سارة الخاطئة » عن</p>
<p>صديقها الدائم ومحبته الثابتة التي لا تنتظر سابق محبتنا . لقد نسيت</p>
<p>قصة المجدلية التي كانت حياتها الخاطئة على ألسنة الجميع،</p>
<p>وأصبحت قداستها يكرز بها عبر الأجيال ، لقد نسيت بطرس حينما</p>
<p>أنكر سيده بقسم وأقسم أنه لا يعرفه على الاطلاق ومع ذلك أصبح</p>
<p>فيما بعد رسول سيده والكارز باسمه على الأرض .</p>
<p>لقد نسيت المشهد في الجليل عندما نادی « صديقها الدائم » وقال: «</p>
<p>تعالوا إلى يا جميع المتعبين والثقيل الأحمال وأنا أريحكم » . فإذا</p>
<p>كانت خطاياك مثل القرمز من ستبيض كالثلج والصوف الأبيض .</p>
<p>نسيت أيضاً يسوع المصلوب وذراعيه الممتدين ونداءه قائلا : « انا</p>
<p>عطشان» . يسوع الإله المتجسد محب النفوس، عطشان إلى</p>
<p>النفوس التي أخطأت فهم الحياة أمثال سارة الخاطئة – إلى النفوس</p>
<p>التي تحطمت بعجلة الحياة وتبعت اشباح الثراء ومباهج الحياة وكانت</p>
<p>معرضة أن تقول : لقد فات الأوان &#8230;</p>
<p>إن الحياة مملوءة بالمآسي وأعظمها هو هذا النداء «لقد فات الأوان</p>
<p>» . ربما نكون قد بددنا حياتنا أو خنا محبة إلهنا لنا، أو ربما قد</p>
<p>سيطرت على حياتنا آلهة كاذبة مؤدية إلى هلاكنا، او ربما قد نشرنا</p>
<p>الدمار في يقظتنا عندما تندفع بإرادتنا حيثما تنادينا مباهج الحياة او</p>
<p>محبة السلطة ولكن بالرغم من كل هذا فهو ينادينا كما فعل مع شعبه</p>
<p>في العهد القديم : « انا الله الصالح أمنح القوة في وقت الضيق</p>
<p>واعرف الذين يتكلون على لاني انا كما هو حتى في شيخوختك</p>
<p>وأقودك في كبر سنك ، أنا هو الذي صنعك وسأحملك ، سأحمل و انقذ »&#8230;</p>
<p>ربما تكون حياتنا مليئة بالأخطار ولكن «بحنان يده المثقوبتين »</p>
<p>سيعيد ما کسر ويداوي الجراح. فالخطيئة الوحيدة التي لا يجب</p>
<p>ارتكابها هي هذا النداء المخيف « لقد فات الأوان ».</p>
<p>يا ربی يسوع المسيح المحب لنفسي دون تزعزع إني أشعر أحياناً</p>
<p>أنه لا فائدة في محاولة جديدة &#8230; كم من مرة حاولت، ولكن دون</p>
<p>جدوى ، ولكني أعلم انه من الخطأ انکار محبتك الدائمة وأعلم أن</p>
<p>أبشع خطية أستطيع ارتكابها هي فقد رجائی فیك وبالرغم من كل</p>
<p>هذا فإني أفقده أحياناً. یا ربى يسوع الحبيب من فضلك لا تسمح بهذا</p>
<p>، فبالرغم من شدة ضعف إرادتی وضخامة خطيتي وابتعادی عنك</p>
<p>فلا تدعني ابداً أقول « لقد فات الأوان » - بل دعني أنظر كيف</p>
<p>تغرق نعمتك قلبی – نعمتك التي في الضعف تكمل<a href="#_ftn8" name="_ftnref8">[8]</a>.</p>
<h4>المتنيح الدكتور وليم سليمان: أرض جديدة وسماء جديدة</h4>
<p>لقد كان مجيء المسيا هو أمل العهد القديم كله، وكانوا يؤمنون بأن الأرض في عهده ستعود فردوساً يملأه الجمال والسلام الشامل بين الكائنات جميعاً .</p>
<p>ولعل هدف آيات الشفاء العديدة التي صنعها يسوع هو أن يدرك الجميع أنه جاء ليرد الإنسان الي كماله الأصيل. ولينفي من حياته ما سببته له الخطية من تشويه جسدي ونفسي وروحي، ومن مرض، وموت وشقاء .</p>
<p>ولقد تابع الرسل نفس عمل سيدهم &#8221; الذي جال يصنع خيراً .ويشفي &#8221; وهكذا كان شفاء الأعرج ، وجرت علي أيدي الرسل آيات وعجائب كثيرة في الشعب وانطلقت قوة الشفاء تلقائية منهم كما كان يحدث مع سيدهم ، حتي أن الناس كانوا يحملون المرضي خارجاً في الشوارع ويضعونهم علي فرش وأسرة - حتي إذا جاء بطرس يخيم ولو ظله علي أحد منهم .</p>
<p>وعوض البلبلة التي صار اليها الإنسان حين حاول التشامخ وبناء برج بابل- وبعد أن كانت الأرض شعباً واحداً ولساناً واحداً لجميعهم ، لم يعد أحد منهم يسمع لسان الآخر عوض ذلك كله جاء معجزة التفاهم يوم الخمسين ، إذ فهم الحاضرون في أورشليم ما كان يقوله الرسل &#8221; لأن كل واحد كان يسمعهم يتكلمون بلغته … الذي لا فيها &#8221;</p>
<p>ولتصوير الطبيعة الجديدة للجماعة التي تكونت بواسطة تجسد الكلمة ، يستخدم كاتبو العهد الجديد تشبيهات يستمدونها من العالم المادي - ليوضحوا بها أنه كما جاءت خلقة الكون بالنور والامتلاء والنظام والتناسق عوض الظلمة والخواء والخراب ، هكذا بالنسبة للكنيسة ، أنها خليقة جديدة تملأ العالم بالنور والامتلاء بالخير والمحبة . يقول بولس الرسول :&#8221; لأن الله الذي قال أن يشرق نور من ظلمة هو الذي أشرق في قلوبنا لإنارة معرفة مجد الله في وجه يسوع المسيح &#8221; وهكذا يكثر استخدام تشبيه النور للدلالة علي مجيء المسيح وعمله وعلي مهمة كنيسته والمؤمنين به . وكما رأي الله ما عمل فإذا هو جميل بل وجميل جداً ، هكذا كانت دعوة يسوع لتأمل الطيور والزنابق بل ويصحح العهد الجديد كل ما يطرأ علي الخليقة من نقص ، ومن التفرقة بين ما هو طاهر وما هو نجس .</p>
<p>ولقد رأينا أن العصر المسياني في أقوال الأنبياء هو عصر السلام الكوني ولقد أراد المسيح أن يتحقق ذلك في كنيسته فكانت وصيته بمحبة الأعداء التي طبقها هو نفسه علي الصليب ، كما مارسها الشهيد الأول اسطفانوس</p>
<p>ولم تعد أرض كنعان وحدها هي أرض العبادة ، يقدمها شعب اليهود فقط ، بل يتنبأ الأنبياء بأن الأمم جميعاً يسبحون الله ويقربون له الذبيحة والبخور ووجد متي في هروب يسوع إلي مصر وعودته منها تحقيقاً للنبوة القائلة ، من مصر دعوت ابني . أما الإنسان الذي اكتملت به الخليقة الأولي وصارت جميلة جداً ، فتعاد خلقته في المسيح ،ليكون&#8221; خليقة جديدة &#8221; وبالمعمودية يولد ميلاداً ثانياً .</p>
<p>والتسلط الذي كان للانسان الأول علي الخليقة ، يعود لآدم الثاني علي كل مظاهر الطبيعة ، وبالذات علي المرض والتشويه الجسدي ، ويصل سلطانه إلي ذروته حين كان يعمل في قلوب سامعيه فيؤمنون به ويتبعونه ، وهو السلطان نفسه الذي انتقل إلي جماعته ومارسته .</p>
<p>ولقد كان في جنة التكوين شجرتان : شجرة المعرفة ، وشجرة الحياة . ورأينا أن الأكل من المعرفة بدون حياة كان سبب انفصال الإنسان عن أصله الحي .</p>
<p>وفي ملكوت السموات ، المعرفة هي المحبة ، يقول يسوع :&#8221; ليس أحد يعرف من هو الابن إلا الآب ، ولا من هو الآب إلا الإبن &#8221; .</p>
<p>لماذا هذه المعرفة المتبادلة ، والمقصورة علي طرفيها ؟ لأن &#8221; الآب يحب الابن &#8221; . &#8221; لأن الله محبة &#8221; .</p>
<p>هو المحبة المطلقة ، ومن هنا المعرفة الكاملة المتبادلة بين المحب والمحبوب . إن المعرفة هي الحب .</p>
<p>ويواصل السيد حديثه : فيفتح العلاقة بين الآب والابن لتضم عناصر جديدة ، فلا تعود المعرفة المحبة قاصرة عليهما ، بل يضيف &#8221; ومن أراد الابن أن يعلن له &#8220;. كيف ؟</p>
<p>بالمحبة - هنا أيضاً في هذه العلاقة الجديدة .</p>
<p>&#8221; كما أحبني الآب كذلك أحببتكم أنا . اثبتوا في محبتي ، إن حفظتم وصاياي تثبتون في محبتي ، كما أني أنا قد حفظت وصايا أبي وأثبت في محبته &#8220;.</p>
<p>هكذا تنفتح العلاقة الآب يحب الإبن ، والإبن يحب الآب ، والمؤمنون يحبون الإبن ، فيدخلون في نطاق علاقته بالآب - علاقة المعرفة المحبة .</p>
<p>إن السيد يخاطب أباه :</p>
<p>&#8221; أيها الآب البار إن العالم لم يعرفك ، أما أنا فعرفتك ، وهؤلاء عرفوا أنك أرسلتني ، وعرفتهم اسمك ، وسأعرفهم ، ليكون فيهم الحب الذي أحببتني به . وأكون أنا فيهم &#8220;.</p>
<p>فكما أن علاقة الآب والإبن هي علاقة المعرفة المحبة . كذلك بين الإبن والمؤمنين به :&#8221; كما أحبني الآب كذلك أحببتكم أنا . اثبتوا في محبتي &#8221; .</p>
<p>ولكن ثمة مجال آخر لا تكتمل المعرفة المحبة إلا إذًا سادت فيه - هو العلاقة بين المؤمنين وبعضهم البعض . المبدأ نفسه يسود هنا أيضاً .</p>
<p>&#8221; هذه هي وصيتي - أن تحبوا بعضكم بعضا كما أحببتكم …بهذا أوصيكم حتي تحبوا بعضكم بعضاً &#8221; وتصبح المحبة بين البشر هي دليل محبة الله : &#8221; أيها الأحباء - لنحب بعضنا بعضًا ، لأن المحبة هي من الله ، وكل من يحب فقد ولد من الله ، ويعرف الله ، ومن لا يحب لم يعرف الله - لأن الله محبة …</p>
<p>الله لم ينظره أحد قط ، إن أحب بعضنا بعضا فالله يثبت فينا ، ومحبته قد تكملت فينا &#8221; .</p>
<p>وإذا كان يسوع قد قال إنه &#8221; ليس لأحد حب أعظم من هذا - أن يضع أحد نفسه لأجل أحبائه &#8221; .</p>
<p>فان المبدأ نفسه ينطبق علي العلاقة بين المؤمنين : &#8220;بهذا قد عرفنا المحبة - أن ذاك وضع نفسه لأجلنا ، فنحن ينبغي لنا أن نضع نفوسنا لأجل الإخوة &#8221;</p>
<p>وتصل المعرفة المحبة المتبادلة بين الآب والإبن والبشر إلي ذروتها حين تتحقق الوحدة بينهم جميعاً ، هنا تتحقق للإنسان - شخصاً وجماعة ، مشاركة الطبيعة الإلهية . وهذا ما تضمنته صلاة السيد الأخيرة قبل آلامه :</p>
<p>&#8221; أيها الآب القدوس -</p>
<p>أحفظهم في اسمك ، الذين أعطيتني ،</p>
<p>ليكونوا واحداً كما نحن …</p>
<p>ولست أسأل من أجل هؤلاء فقط ، بل أيضاً من أجل الذين يؤمنون بي بكلامهم</p>
<p>ليكون الجميع واحداً ، كما أنك أنت أيها الآب في وأنا فيك</p>
<p>، ليكونوا هم أيضاً واحداً فينا ، ليؤمن العالم أنك أرسلتني .</p>
<p>وأنا قد أعطيتهم المجد الذي أعطيتني ، ليكونوا واحداً كما أننا نحن واحد</p>
<p>أنا فيهم ، وأنت في ، ليكونوا مكملين إلي واحد</p>
<p>وليعلم العالم أنك أرسلتني ، وأحببتهم كما أحببتني … &#8221;</p>
<p>هكذا تصبح شجرة المعرفة في ملكوت ابن الله هي المحبة - الحياة فالمعرفة تصبح حياة :</p>
<p>&#8220;هذه هي الحياة الأبدية - أن يعرفوك أنت الإله الحقيقي وحدك ، ويسوع المسيح الذي أرسلته &#8220;.</p>
<p>فماذا إذن عن شجرة الحياة التي كانت في الفردوس ؟</p>
<p>يقول السيد : &#8221; من يأكل جسدي ويشرب دمي فله حياة أبدية … &#8221;</p>
<p>هذه هي شجرة الحياة في الأرض الجديدة ، التي وضعها ابن الله في ملكوته . أنها تقدم طعاماً يتجاوز ما كان للشعب الأول .&#8221; آباؤكم أكلوا المن في البرية وماتوا ، هذا هو الخبز النازل من السماء لكي يأكل منه الإنسان ولا يموت أنا هو الخبز الحي الذي نزل من السماء ، إن أكل أحد من هذا الخبز يحيا إلي الأبد ، والخبز الذي أعطي هو جسدي الذي أبذله من أجل حياة العالم &#8221; .</p>
<p>هكذا كانت نظرة المسيحيين لجماعتهم -إنها حدث جديد ، ليس أقل من خليقة جديدة تتحقق فيها كل رؤي الأنبياء القدامي ، فهل بهذا وصل مسار تاريخ الخلاص إلي المستقبل النهائي الذي كان يتجه إليه ؟</p>
<p>لقد ذكرنا أن العهد القديم لا يمكن فهمه إلا علي أنه واقع يجري فيه استباق الزمان ، بحيث أن الاخرة دائماً تصاحب البداية وتواصل معها المسار ، فالزمان الدوري الذي يتكرر بلا مخرج ولا نهاية ، أو الردة إلي الماضي ، أو تجميد الواقع - كل هذا مرفوض - إن التاريخ في العهد القديم منفتح دوماً علي المستقبل الذي يشد الحاضر إليه ، ويتغلغل فيه .</p>
<p>هل تقتصر هذه النظرة علي العهد القديم ؟</p>
<p>لقد كان أشعياء يبشر بأن الله سيخلق &#8220;سموات جديدة وأرضاً جديدة ، فلا تذكر الأولي ولا تخطر علي بال &#8221;</p>
<p>ولكن ، بعد مجيء المسيح ، ما زال &#8221; الجديد &#8221; متقدماً علي الإنسان ينطبق عليه ما كان يقوله بلعام نبي موآب &#8221; أراه ولكن ليس الآن . أبصره ولكن ليس قربياً …&#8221;</p>
<p>كيف يحدث هذا في العهد الجديد ؟</p>
<p>إن بطرس الرسول يستخدم نفس كلمات إشعياء ليبشر بمجيء &#8221; جديد &#8220;هو أيضاً وعد .</p>
<p>&#8221; إننا بحسب وعده ننتظر سموات جديدة وأرضًا جديدة يسكن فيها البشر &#8221; هذا الجديد يظل &#8221; رؤيا &#8220;يبصرها يوحنا ويسجلها في آخر أسفار الكتاب المقدس ، وتصبح هذه الرؤيا بدورها من أقوال النبوة &#8220;.</p>
<p>وليس من شك في أن كلمات بطرس ويوحنا هنا توضح جانباً هامًا من فكر العهد الجديد ، الذي يقوم أساساً علي أنه إكمال نبوات العهد القديم ولكن هذه الكلمات بالذات تكشف عن نظرة المسيحية إلي الزمان وكيف أن المستقبل دائماً هو الذي يشد مساره .</p>
<p>يقول يوحنا الرائي :</p>
<p>&#8221; ثم رأيت سماء جديدة وأرضًا جديدة لأن السماء الأولي والأرض الأولي مضتا .</p>
<p>&#8221; سمعت صوتاً عظيماً من السماء قائلاً : هوذا مسكن الله مع الناس وهو سيسكن معهم ، وهم يكونون له شعباً ، والله نفسه يكون معهم إلهاً لهم ، وقال الجالس علي العرش ها أنا أصنع كل شيء جديداً … لأن الأمور الأولي قد مضت ؟هو نفسه الذي كان العهد القديم يبشر بمجيئه ، الذي كان روح النبوة منه ، وهو الذي عاش علي الأرض ، يسوع الذي من الناصرة يقدمه الرائي يحيا في الحاضر والمستقبل ويملك عليها &#8221; هو هو أمساً واليوم وإلي الأبد &#8221;</p>
<p>المسيا ، يسوع ، كلمة الله - اللوغوس ، ابن الإنسان ابن الله ، الذَّبيحة والكاهن .</p>
<p>إن ذروة ما وصل إليه كاتبو العهد الجديد هو ما رآه يوحنا في وسط العرش في السماء .</p>
<p>&#8221; ورأيت فإذا في وسط العرش … خروف قائم كأنه مذبوح …&#8221; تقدم له ترنيمة جديدة :</p>
<p>&#8221; مستحق هو الخروف المذبوح أن يأخذ القدرة والغني والحكمة والقوة والكرامة والمجد والبركة .</p>
<p>وكل خليقة مما في السماء وعلي الأرض وتحت الأرض وما علي البحر كل ما فيها سمعتها قائلة :</p>
<p>البركة والكرامة والمجد والسلطان إلي أبد الأبدين ، للجالس علي العرش وللخروف ، يقولون للخروف</p>
<p>&#8221; مستحق أنت …</p>
<p>&#8221; لأنك ذبحت واشتريتنا لله بدمك من كل قبيلة ولسان وشعب وأمة .</p>
<p>&#8221; وجعلتنا لإلهنا ملوكاً وكهنة ، فسنملك علي الأرض &#8220;.</p>
<p>هذا هو &#8221; حمل الله الذي يرفع خطية العالم &#8221; الذي رآه المعمدان في بداية ظهوره علي الأرض ، وقد صار في المجد ، في وسط العرش بعد أن أكمل تدبير الفداء .</p>
<p>وتهيمن رؤيا الخروف الذبيح علي العرش يقدم له التمجيد علي السفر كله .</p>
<p>ويؤكد الرائي مرة بعد أخري مهمة هذا الحمل في الربط بين الله وإلإنسان ، وكيف أنه بصبغة دمه تكون الشركة بين الاثنين ، وتكوين الكنيسة :</p>
<p>&#8220;بعد هذا نظرت وإذا جمع كثير لم يستطع أحد أن يعده من كل الأمم والقبائل والشعوب والألسنة واقفون أمام العرش وأمام الخروف ، متسربلين بثياب بيض وفي أيديهم سعف النخل ، وهم يصرخون بصوت عظيم قائلين :الخلاص لإلهنا الجالس علي العرش وللخروف … وجميع الملائكة …خروا أمام العرش وسجدوا لله قائلين آمين . البركة والمجد والحكمة والشكر والكرامة والقدرة والقوة لإلهنا إلي الأبد .آمين .</p>
<p>هنا نجد أن هذا التعظيم يقدم تكريماً للذبيحة ، للحب ، للإله الذي هو حب ، وقد بذل كلمته نفسه ، وصار حملا ذبيحاً يرش دمه فتبيض ثياب المؤمنين به .</p>
<p>&#8221; هؤلاء هم الذين أتوا من الضيقة العظيمة وقد غسلوا ثيابهم وبيضوا ثيابهم في دم الخروف ، من أجل ذلك هم أمام عرش الله ويخدمونه ليلا ونهارًا في هيكله . والجالس علي العرش يحل فوقهم ، لن يجوعوا بعد ولن يعطشوا بعد ، ولا تقع عليهم الشمس ولا شيء من الحر ، لأن الخروف الذي في وسط العرش يرعاهم واقتادهم إلي ينابيع ماء حية ، ويمسح الله كل دمعة من عيونهم &#8221; .</p>
<p>هذا التمجيد للحب وللفداء تقدمه الكنيسة القبطية طوال أسبوع الآلام . ففي كل ساعة من ساعات صلوات أيام هذا الأسبوع تقتصر نصوص الصلاة علي هذه التسبحة عينها التي وردت في سفر الرؤيا مقدمة لله وللحمل الذبيح ، الكنيسة إذ تقوم طقسياً باستعادة الماضي - أحداث الآلام الكلمة المتجسد &#8221; الحمل الذي يحمل خطايا العالم ، فانها في نفس الوقت تعبر نحو المستقبل إلي السماء عينها . وهكذا تصاحب يسوع في لحظات معاناته وتخاطبه مقدرة عمله وممجدة حبه ، كي تضم إلي صورته حاملاً الصليب وقابلاً الإهانة ، صورته في المجد ، لتكون الصورتان معاً شخص المحبوب ، الذبيح والكاهن .</p>
<p>بل إنه بعد انتهاء طقوس يوم الجمعة ، وإذ تستعيد الكنيسة وضع المسيح في القبر ، تسهر الليل حول قبره الطقسي . ماذا تتلو الكنيسة وقتئذ ، وكيف تفكر ؟</p>
<p>أنها تقرأ سفر انتصار الحمل - سفر الرؤيا ، إنها تعلن أن لحظة الدفن في القبر التي حسبها العالم نهاية يسوع ، هي بالذات لحظة انتصاره وملكه الأبدي .</p>
<p>هنا إيمان بسلطان الحب وفاعليته ، فكلما بذل الحب وضحي ، ازداد مجداً وانتصاراً ، وتأكد سلطانه ، وبهذا تعلن الكنيسة منهجها في السلوك وسط العالم وتضع أمام أولادها النموذج الحي والكامل لهذا المنهج :</p>
<p>&#8221; له علي ثوبه وعلي فخده اسم مكتوب : &#8221; ملك الملوك ورب الأرباب &#8221;</p>
<p>هو نفسه &#8221; يسوع المسيح الشاهد الأمين ، البكر من الأموات ورئيس ملوك الأرض ، الذي أحبنا وقد غسلنا من خطايانا بدمه ، وجعلنا ملوكاً وكهنة لله أبيه &#8220;.</p>
<p>وحين ينهض ملوك الوحش للحرب -إذ يحاربون &#8221; الخروف &#8221; فان &#8220;الخروف يغلبهم &#8221; لأنه رب الأرباب وملك الملوك ، والذين معه مدعوون ومختارون ومؤمنون &#8221; .</p>
<p>وسفر الرؤيا هو كتاب انتصار المسيح ، والكنيسة .</p>
<p>إن ما حققه بدمه ، صار نصيباً لجسده ، ولكل عضو فيه ، ومن هنا يكرر الرائي أنه جعلنا مثله &#8221; ملوكاً وكهنة &#8221; . ويسجل الرائي كيف رأي الوحش وملوك الأرض وأجنادهم مجتمعين ليصنعوا حرباً مع كلمة الله ، ولكن الوحش يتم القبض عليه والنبي الكذاب معه . وطرح الاثنان حيين إلي بحيرة النار المتقدة بالكبريت ، ثم قبض علي التنين الحية القديمة الذي هو إبليس الشيطان &#8221; وقيده … وطرحه في الهاوية وأغلق عليه وختم عليه لكي لا يضل الأمم في ما بعد …&#8221; .</p>
<p>&#8221; وسمعت صوتاً عظيماً قائلاً في السماء :الآن صار خلاص إلهنا وقدرته وملكه وسلطان مسيحه لأنه قد طرح المشتكي علي إخوتنا ، وهم غلبوه بدم الخروف وبكلمة شهادتهم ، ولم يحبوا حياتهم حتي الموت &#8220;.</p>
<p>ماذا يعني قيد التنين ، والانتصار عليه ؟ هل يعني هذا أن المؤمنين قد صاروا فعلا إلي الراحة فلا يكون ثمة جهاد ؟ يجيب الرائي عن ذلك فيقول : &#8221; إن الوحش كان ، وليس الآن ، مع أنه كائن &#8221; .</p>
<p>لقد كان الشيطان منتصراً ، ولكنه بدم الحمل ليس الآن في حالة انتصار . إنه مقيد ، لم يسحق نهائياً ، فهو كائن يشن الحرب ، ولكن قيوده تمنعه من أن يحقق أي نصر ، فالغلبة لمن له دم الخروف مؤكدة &#8221; هنا الذهن الذي له حكمة &#8221; . ولهذا فان من بين من لا يدخلون المدينة المقدسة ، بل نصيبهم الموت الثاني - الخائفين وغير المؤمنين .</p>
<p>وتمتليء الرؤيا بالوعود لمن يغلب:</p>
<p>يأكل من شجرة الحياة التي في وسط فردوس الله .</p>
<p>لا يؤذيه الموت الثاني .</p>
<p>يأكل المن المخفي .</p>
<p>سأعطيه سلطاناً علي الأمم … وأعطيه كوكب الصبح .</p>
<p>سيلبس ثياباً بيضاء ولن أمحو إسمه من سفر الحياة وسأعترف بأسمه أمام أبي وأمام ملائكته .</p>
<p>يجعله عموداً في هيكل الله ولا يعود يخرج إلي خارج ويكتب عليه اسم الله واسم مدينة الله أورشليم الجديدة النازلة من السماء</p>
<p>سأعطيه أن يجلس معي في عرشي كما غلبت أنا أيضاً وجلست مع أبي في عرشه .</p>
<p>يرث كل شيء وأكون له إلهاً وهو يكون لي أبناً .</p>
<p>&#8221; وسمعت كصوت جمع كثير … هللويا ، فانه قد ملك الرب الإله القادر علي كل شيء &#8221; .</p>
<p>وحين تتحقق الغلبة علي الوحش، يرنم المنتصرون ترنيمة العبور .</p>
<p>&#8221; ورأيت كبحر من زجاج مختلط بنار ، والغالبين علي الوحش وصورته وعلي سمته وعدد اسمه واقفين علي البحر الزجاجي ومعهم قيثارات الله .</p>
<p>&#8221; وهم يرتلون ترنيمة موسي عبدالله وترنيمة الخروف …&#8221; هذه الترنيمة هي التي سبح بها موسي والشعب بعد عبور البحر الأحمر : فثمة خروج ثالث ، بعد الخروج من مصر ، والخروج الثاني إلي بابل ، إلي برية الشعوب .</p>
<p>وفي طقس الأفخارستَّيا ترتل الكنيسة القبطية في بداية الليتورجيا هذه التسبحة نفسها . لأن الكنيسة بالأفخارستيا تعبر إلي السماء ، تشترك مع الغالبين في تسبيحهم وتصنع مقدما وليمة المسيا التي وعد تلاميذه بأن يأكل منها جديداً في ملكوت السموات ، إنها تستبق الزمان وتأكل وتشرب علي مائدة سيدها في ملكوته في عشاء عرس الحمل . وتمتليء الرؤيا بهؤلاء المنتصرين في ثياب بيض هي الثياب التي يرتديها المعمد إذ يخرج من مياه المعمودية ، وهي ثياب الكاهن والشماس - كممثلين للشعب كله - في خدمة الأفخارستَّيا - تأكيداً للعبور والحياة أثناء الخدمة في الدهر الآتي :</p>
<p>ويبتديء يقين انتصار الله ومملكته ، من يقينية وجوده في الحاضر ، وعلي الخصوص من أنه سيد المستقبل ، وسيجيء فيه .</p>
<p>&#8221; أنا هو الأول والآخر</p>
<p>&#8221; والحي وكنت ميتاً</p>
<p>&#8221; وها أنا حي إلي أبد الأبدين .</p>
<p>&#8221; أنا هو الألف والياء … البداية والنهاية</p>
<p>&#8221; يقول الرب الكائن ، والذي كان والذي يأتي</p>
<p>&#8221; القادر علي كل شيء &#8221;</p>
<p>أمًا الوحش، فعلي الرغم من أنه كان ، إلا أنه ليس الآن ، وحتي إن كان كائناً مقيداً ، فبالتأكيد لن يكون في المستقبل ، إنه لا يقدر في المستقبل علي أي شيء ، أما يسوع فإنه &#8221; الأول والآخر … &#8221; الذي كان ميتاً فعاش … &#8221; أنا الألف والياء … &#8221; البداية والنهاية … &#8221; الأول والآخر &#8221; .</p>
<p>وتظل الصلة بين المسيح وكنيسته - جسده - كما بين المسيح وكل عضو في هذا الجسد، صلة حميمة شخصية.</p>
<p>فالكنيسة هي عروس المسيح، امرأة الحمل والدة من هو عتيد أن يرعي الأمم .</p>
<p>&#8221; لنفرح ونتهلل ونعطيه الحمد &#8221; لأن عرس الخروف قد جاء وامرأته قد هيأت نفسها ، وأعطيت أن تلبس بزاً نقياً بهياً ، لأن البز هو تبريرات القديسين &#8221; &#8221; وهي المدينة المقدسة … مسكن الله مع الناس…&#8221;</p>
<p>وهي &#8221; أورشليم الجديدة ، المقدسة ، يجد فيها اليهودي مدينته الأولي وقد تمجدت ، وصارت إلي صورتها الأصيلة التي تتفق وإرادة الله ، بريئة من القومية الزمنية ونزعات التسلط والكبرياء ويكون الله هو نفسه ملكها ، إنها تلك التي من أجلها كان إبراهيم واسحق ويعقوب يعتبرون أرض الموعد التي منحت لهم ، وأثناء وجودهم عليه - &#8221; كأنها غريبة &#8221; لأنهم كانوا ينتظرون &#8221; المدينة التي لها الأساسات التي صانعها وبارئها الله &#8221; يقول الرائي ولم أر فيها هيكلا لأن الرب الله القادر علي كل شيء هو والخروف هيكلها ، والمدينة لا تحتاج إلي الشمس ولا إلي القمر ليضيئا فيها لأن مجد الله قد أنارها والخروف سراجها &#8221; تضم أسباط إسرائيل ورسل الخروف وتمشي شعوب المخلصين بنورها &#8221; .</p>
<p>والصلة عميقة وشخصية بين رأس الجماعة - المدينة - وكل عضو فيها . &#8221; من يغلب … أعطيه حصاة بيضاء، وعلي الحصاة اسم جديد مكتوب لا يعرفه أحد غير الذي يأخذ &#8221;</p>
<p>وإذا كان أتباع الحمل الذين لهم اسم أبيه مكتوباً علي جباههم يترنمون كترنيمة جديدة - لم يستطع أحد أن يتعلم الترنيمة غيرهم . وثمة عبارة جاءت في رسالة يوحنا الرسول الأولي غامضة ولن ينكشف معناها في هذا الدهر ، يقول : &#8221; أنظروا أية محبة أعطانا الآب حتي ندعي أولاد الله ! من أجل هذا لا يعرفنا العالم لأنه لا يعرفه. &#8221; أيها الأحباء الآن نحن أولاد الله ، ولم يظهر بعد ماذا سنكون ، ولكن نعلم أنه إذا أظهر نكون مثله لأننا سنراه كما هو .</p>
<p>&#8221; وكل من عنده هذا الرجاء به يطهر نفسه كما هو طاهر &#8221; .</p>
<p>وتكتمل تماماً جميع نبوات العهد القديم ،&#8221; ثم قال لي : قد تم &#8221; فلقد جاء الذي من أجله كانت الرموز والطقوس والشرائع والنبوات ، جاء المسيا ، الحمل ، الملك الحقيقي سيد العهد القديم ومكمله ، &#8221; ثم نظرت وإذا خروف واقف علي جبل صهيون … &#8221; .</p>
<p>ويصف الرائي كيف تلتئم الكنيسة ورأسها في شركة حب لا تنتهي</p>
<p>&#8221; وأراني نهراً صافياً من ماء حياة لامعاً كبلور خارجاً من عرش الله والخروف في وسط سوقها .</p>
<p>&#8221; وعلي النهر من هنا ومن هناك شجرة حياة تصنع اثنتي عشرة ثمرة ، وتعطي كل شهر ثمرها ، وورق الشجرة لشفاء الأمم .</p>
<p>&#8221; ولا تكون لعنة ما في ما بعد .</p>
<p>&#8221; وعرش الله والخروف يكون فيها وعبيده يخدمونه ، وهم سينظرون وجهه واسمه علي جباههم .</p>
<p>&#8221; ولا يكون ليل هناك ، ولا يحتاجون إلي سراج أو نور شمس .</p>
<p>&#8221; لأن الرب الإله ينير عليهم .</p>
<p>&#8221; وهم سيملكون إلي أبد الآبدين &#8221; .</p>
<p>لقد رأي يوحنا هذا كله في &#8221; يوم الرب &#8221; .</p>
<p>والكنيسة تحيا ما أبصره الرائي ، وتعبر إليه ، وتطعم من شجرة الحياة نفس اليوم ، يوم الرب .</p>
<p>إنها تختبر حضور السيد في وسطها ، وتتحد به جسداً له ، كذبيحة هي نفس الوقت مقبولة وممجدة<a href="#_ftn9" name="_ftnref9">[9]</a> .</p>
<h4>من وحي قراءات اليوم</h4>
<p>&#8221; لم تأت ساعتي بعد &#8221;              إنجيل القدَّاس</p>
<p>اللقاء الأخير</p>
<p>+ تمضي بِنَا الحياة يوما بعد يوم ، ونفاجأ بأن آخر لقاء لنا مع بعض الأشخاص كان للأسف اللقاء الأخير</p>
<p>+ مادامت صحتنا جيدة وكذا الآخرين ولسنا في شيخوخة ، لا نضع في حساباتنا اللقاء الأخير</p>
<p>+ كم من أحباء رحلوا عنا بالجسد ، وهم في كامل صحتهم أو في مجد شبابهم ولم تكن فرصة جيدة لهذا اللقاء</p>
<p>+ والأصعب أن تكون ذكراها مؤلمة ، تاركة جرحا دائما ينزف بسبب تقصيرنا أو قساوتنا</p>
<p>+ لماذا دائما نندم ونفرط في كلمة &#8221; لو &#8221; عندما نتذكر اللقاء الأخير ؟ أو نحتاج إرسال إعتذار لمن رحلوا عنا</p>
<p>+ هل تستحق الحياة أن ننتقم ونصفي حسابات مع الآخرين ، متناسين فوات الأوان بعد لقاء فوجئنا أنه الأخير</p>
<p>+ ماكنت ستفعله مع من رحلوا لو عادت بهم الحياة ، إفعله الآن مع من لم يرحلوا بعد ، لتعلن وعيك لقدوم اللقاء الأخير</p>
<p>+ نحتاج أن نسامح أنفسنا إذا أخطأنا ، ونسامح الآخرين إذا أخطأوا أثناء اللقاء الأخير</p>
<p>+ لايشترط من أقابلهم كل يوم يكون معناه أنني لن أري أحد منهم بعد ، بل ربما لن يرونني هم بعد</p>
<p>+ حاول كل يوم بالنعمة السماوية أن تكون سبب رجاء وفرح لكل من تقابله ، تاركا له أو لك ذكري جميلة للقاء ربما يكون الأخير</p>
<p>&#8221; لاتخاصم إنسان فربما لاتعيش حتي تصالحه &#8221;</p>
<p>القديس أغسطينوس</p>
<hr />
<p><a href="#_ftnref1" name="_ftn1"></a>٥- القديس امبروسيوس اسقف ميلانو - كيهك ١ - شرح أناجيل آحاد السنة التوتية - دكتور جوزيف موريس فلتس</p>
<p><a href="#_ftnref2" name="_ftn2"></a>٦- المرجع : كتاب من مجد إلي مجد للقديس غريغوريوس النيسي ( صفحة ١٣٤ ) - ترجمة القمص إشعياء ميخائيل</p>
<p><a href="#_ftnref3" name="_ftn3"></a>٧- المرجع : كتاب نقاوة القلب في المفهوم الكتابي والآبائي ( الجزء الثاني صفحة ١١٥٩) - إعداد احد الآباء الرهبان بدير السيدة العذراء &#8221; برموس &#8221;</p>
<p><a href="#_ftnref4" name="_ftn4"></a>٨- المرجع : كتاب ألقاب المسيح ووظائفه ( صفحة ١٣٣ ) - الأنبا بيمن أسقف ملوي</p>
<p><a href="#_ftnref5" name="_ftn5"></a>٩- المرجع: كتاب مقالتان في الروحانية الأرثوذكسية (صفحة ٧٧ ) - الأنبا بيمن أسقف ملوي</p>
<p><a href="#_ftnref6" name="_ftn6"></a>١٠- المرجع : مجلة مدارس الأحد عدد شهر مارس لسنة ١٩٩٠</p>
<p><a href="#_ftnref7" name="_ftn7"></a>١١- المرجع : كتاب القديس بطرس يعلمني ( صفحة ٢٠ ) - القمص لوقا سيداروس</p>
<p><a href="#_ftnref8" name="_ftn8"></a>١٢- المرجع: كتاب الصديق الدائم ( صفحة ٤ ) - ترجمة السيدة إيزيس ميخائيل أسعد وتقديم القمص بيشوي كامل</p>
<p><a href="#_ftnref9" name="_ftn9"></a>١٣- المرجع: مجلة مدارس الأحد عدد شهر يناير لسنة ١٩٨١</p>

      {% endcreateArticleAccordions %}
    </section>
  {% endblock %}
