---
layout: 'layouts/reading.html'
title: 'موضوع قراءات الأيام'
tags: 'annual'
permalink: /articles/annual/1939.html
---
  {% block content %}
    <section id="article">
      <h3 class="mt-8 mb-4 heading-explain">شرح القراءات</h3>
      {% createArticleAccordions %}
        <p>يرتكز محور قراءات الأيّام على الموضوع الرئيس للسنكسار، سواء كانت أعياد سيدية، أو أعياد تخص والدة الإله ورؤساء الملائكة ويوحنا المعمدان والآباء الرسل والشهداء والقديسين</p>
<p>وحتى وإن جاءت تذكارات مختلفة لنفس اليوم تختار الكنيسة أحدهم كأساس لموضوع قراءة اليوم</p>
<p>ومن المعروف حسب شهادة كثيرين بأن قراءات الأعياد الكُبري مثل الفصح والعنصرة هي التي بدأت بها الكنيسة قراءاتها الليتورجيا فيزمن مُبكِّر منذ بداية الكنيسة</p>
<p>&#8221; في القرن الثاني وجدت قراءات ثابتة خاصة بالأعياد السيدية، خاصة عيديّ الفصح والعنصرة، ثم قراءات خاصة بأعياد الشهداء، فأيام الآحاد &#8221;</p>
<p>، &#8221; قبل مجمع نيقية كان بالكنيسة قطمارس ثابت أو أكثر &#8220;[1]</p>
<p>والإعتبار الكبير للأعياد السيدية وأعياد القديسين كان موضوع إهتمام كنيسة الإسكندريّة كما يقول الأب أوجو زانيتي الذي بحث كثيراً فيالمخطوطات لدراسة قراءات كنيسة الإسكندرية:</p>
<p>&#8221; الكنيسة القبطية تتحدث عن القديسين المهمين لديها في قراءات السبت والأحد - مثال يوحنا المعمدان ٢ توت)،  ( يوحنا المعمدان يفتتح العام مثلما إفتتح سابقاً الطريق أمام المسيح ) [2]</p>
<p>نستخلص من هذا أن قراءات الكنيسة بدأت بالأعياد السيّدية، ثم أعياد الشهداء والقديسين.</p>
<p>ولأن الإجتماع الإفخارستي في الكنيسة الأولي كان في أول الإسبوع (أع ٢٠:٧)، أي يوم الأحد، لذلك كانت توجد قراءات تخص القداس ( من العهدين ) ، لكن ربما لم يوجد نظام خاص ثابت ( قطمارس ) لقراءات الآحاد في ذلك الوقت ، بل جاء لاحقاً.</p>
<p>ومن المعروف أيضًا وجود قراءات ثابتة للسبت والأحد في كنيسة الإسكندرية في القرون الأولي [3]</p>
<p>وهذا ما أكَّده الأب أوجو زانيتي في أن كنيسة الإسكندرية تحتفل قديسيها المشهورين في قدّاسات السبت والأحد</p>
<p>وهذا ما نراه في قراءات كنيستنا إلي الآن</p>
<p>فنحن نحتفل بيوحنا المعمدان يوم ٢ توت ، وفي الأحد الأوَّل من توت</p>
<p>ونحتفل بتذكار إستشهاد أطفال بيت لحم يوم ٣ طوبه ، وفي الأحد الأول من طوبه</p>
<p>ونحتفل بعيد الظهور الإلهي يوم ١٠ ، ١١ ، ١٢ طوبه ، وفي الأحد الثالث من طوبه</p>
<p>ونحتفل بعيد القديسين بطرس وبولس يوم ٥ أبيب ، وفي الأحد الأول من أبيب</p>
<p>ونحتفل بعيد تذكار صعود جسد والدة الإله للسماء يوم ١٦ مسري ، وفي الأحد الثالث من مسري.</p>
<p>وبسبب إختلاف قراءات وجه قبلي عن وجه بحري ، وإختلاف قراءات الأديرة عن الكنائس ، أدي هذا إلي تواجد قطمارسات مختلفة فيمتاحف العالم ، وفي مخطوطات الأديرة القبطية</p>
<p>أي أن القطمارس الحالي لقراءات الأيَّام في الكنيسة القبطية هو مُخْتَصر قراءات كثيرة للأيام توجد في المخطوطات المختلفة سواء في أديرتناالقبطية أو في متاحف العالم</p>
<p>وعلي سبيل المثال ( لا الحصر ) نجد القراءات الموجودة في قطمارس دير البراموس ( المطبوع في المطبعة القبطية الأهلية بمصر بتاريخ تاسع وعشرين طوبة لسنة ١٥٨٨ للشهداء ) تختلف في أجزاء منها عن قراءات القطمارس الحالي</p>
<p>ونجد من المُتاح الآن في هذا القطمارس قراءات شهر توت وبابة وهاتور وبؤونة وأبيب ومسري</p>
<h3>القراءات المُتطابقة بالكامل ( تقريباً ) مع القطمارس الحالي</h3>
<h5><strong>توت</strong></h5>
<p>الأوَّل والثاني والثامن والسابع عشر والثامن عشر</p>
<h5><strong>بابه</strong></h5>
<p>الثاني عشر والخامس عشر والثامن عشر والتاسع عشر والحادي والعشرون والثاني والعشرون والسابع والعشرون والتاسع  والعشرون</p>
<h5><strong>هاتور</strong></h5>
<p>الثاني والسابع والثالث عشر والرابع عشر والحادي والعشرون والثالث والعشرون والسادس والعشرون والسابع والعشرون والثامن  والعشرون</p>
<h5>بؤونه</h5>
<p>السادس والثاني عشر والتاسع عشر والثلاثون</p>
<h5>أبيب</h5>
<p>التاسع والسابع عشر والثلاثون</p>
<h5>مسري</h5>
<p>الثالث والثاني عشر والخامس عشر والسابع عشر والتاسع عشر والحادي والعشرون والثاني والعشرون والثالث والعشرون  والخامس والعشرون والسادس والعشرون والثامن والعشرون والتاسع والعشرون والثلاثون</p>
<h3>القراءات التي تختلف مع القطمارس الحالي</h3>
<h5>شهر توت</h5>
<p>القراءات التي تختلف مع القطمارس الحالي في المزامير فقط</p>
<p>٣ ، ٤ ، ٩ ، ١٢ ، ١٣ ، ١٤ ، ١٥ ، ١٦ ، ١٩ ، ٢١ ، ٢٤ ، ٢٦ ، ٢٨</p>
<p>القراءات التي تختلف في المزامير وقراءة أخري ( البولس مثلا أو أحد الأناجيل )</p>
<p>٥ ، ١١ ، ٢٠ ، ٢٢ ، ٢٩</p>
<p>القراءات المختلفة بالكامل عن القطمارس الحالي</p>
<p>١٠ ، ٢٧ ، ٣٠</p>
<p>يوم ١٠ توت (تذكار القديسة مطرونة )</p>
<p>تأتي هذه القراءة في قطمارس دير البراموس مختلفة تماماً عن قراءة القطمارس الحالي وإن كانت تتفق في المضمون وجوهر  القراءة فيالكلام عن القديسات بصفة عامة</p>
<p>نجد مثلاً المزامير الثلاثة في قطمارس دير البراموس تتكلّم عن الأُمَّهات ورعاية الله لأطفالهم في أثناء الحمل وبعد الولادة</p>
<p>عليك استندت من الحشا ومن بطن أمي (مزمور عشيّة )</p>
<p>وقبلتني من بطن أمي(مزمور باكر )</p>
<p>يا رجاآي من ثدي أمي ، عليك ألقيت من الحشا ومن بطن أمي ( مزمور القدَّاس )</p>
<p>ويأتي إنجيل عشيّة مُخبراً عن مريم ومرثا ووجود الرب في بيتهم ومريم التي إختارت النصيب الصالح (لو ١٠: ٣٨ - ٤٢)</p>
<p>وإنجيل باكر عن كنز القلب الصالح والإشارة في ختام القراءة إلي الذين يصنعون إرادة الله فيصيرون إخوته وأخواته وأمهاته في  الإشارةإلي كرامة المرأة (مت ١٢: ٣٥ - ٥٠)</p>
<p>وباقي القراءة مُتطابقة مع مثيلتها في قراءات أوَّل بشنس تذكار ميلاد والدة الإله</p>
<p>قراءة ٢٧ توت (شهادة القديس استاثيوس وامرأته وأولاده)</p>
<p>هي مُختلفة تماماً عن قراءة ٢٧ توت في القطمارس الحالي لكنها مُتطابقة مع قراءة ١٥ هاتور (شهادة مار مينا) بإختلاف المزامير</p>
<p>ولكن أعتقد القراءة الأدق هي الموجودة حاليا في القطمارس لأنها قراءة شهادة القديسين قزمان واخوته ووالدتهم لذلك تتوافق  مع شهادةالقديس استاثيوس وامرأته وأولاده</p>
<p>قراءة ٣٠ توت</p>
<p>تختلف تماماً عن قراءة ٣٠ توت في القطمارس الحالي وتتطابق تماماً (عدا آية واحدة في إنجيل عشيّة والقدّاس) مع قراءة ٢٧  هاتورتذكار شهادة القديس يعقوب المقطع الفارسي</p>
<p>وأيضاً يُمْكِن القول بأن قراءة القطمارس الحالي هي الأدق لتوافق التذكار الذي يخص البابا أثناسيوس الرسولي (٣٠ توت ) مع      التذكارالذي يخص القديس يوحنا ذهبي الفم بطريرك القسطنطينية ( ١٧ هاتور )</p>
<h5>شهر بابه</h5>
<p>+ القراءات التي تختلف مع القطمارس الحالي في المزامير فقط</p>
<p>٢ ، ٣ ، ٩ ، ١٤ ، ١٦ ، ٢٤ ، ٢٨</p>
<p>+ القراءات التي تختلف في المزامير وقراءة أخري (البولس مثلا أو أحد الأناجيل )</p>
<p>١، ٤ ، ٧ ، ٨ ، ١٣ ، ١٧ ، ٣٠</p>
<p>أوَّل بابه</p>
<p>وهي القراءة المُحوَّلة علي قراءة ثلاثين طوبة ( قراءة العذاري القديسات )</p>
<p>تختلف قراءة قطمارس البراموس عن القراءة الحالية في المزامير والبولس ونصف الكاثوليكون</p>
<p>رابع بابه</p>
<p>وهي القراءة المُحوَّلة علي قراءة ثالث عشر برمهات ( قراءة الشهداء القديسين بسبطية )</p>
<p>تختلف قراءة قطمارس البراموس عن القراءة الحالية في المزامير والبولس</p>
<p>سابع بابه</p>
<p>وهي القراءة المُحوَّلة علي قراءة عشرين بشنس (القديس أمونيوس الأنطاكي )</p>
<p>تختلف قراءة قطمارس البراموس عن القراءة الحالية في المزامير وجزء من البولس والكاثوليكون</p>
<p>ثامن بابه</p>
<p>وهي القراءة المُحوَّلة علي قراءة خامس وعشرين هاتور (أبو سيفين)</p>
<p>تختلف قراءة قطمارس البراموس عن القراءة الحالية في المزامير وجزء من إنجيل باكر</p>
<p>ثالث عشر بابه</p>
<p>وهي القراءة المُحوَّلة على قراءة عشرين بشنس (القديس أمونيوس الأنطاكي)</p>
<p>تختلف قراءة قطمارس البراموس عن القراءة الحالية في المزامير وجزء من البولس والكاثوليكون</p>
<p>سابع عشر بابه</p>
<p>وهي القراءة المُحوَّلة علي قراءة ثالث أبيب (القديس كيرلس الأوَّل الكبير)</p>
<p>تختلف قراءة قطمارس البراموس عن القراءة الحالية في المزامير وإنجيل عشية</p>
<p>ثلاثون بابه</p>
<p>وهي القراءة المُحوَّلة علي قراءة ثلاثين برمودة (شهادة مار مرقس الرسول)</p>
<p>تختلف قراءة قطمارس البراموس عن القراءة الحالية في كل شئ ما عدا الكاثوليكون ولكنها موافقة تماماً لقراءة الرابع من النسئ بإختلافالمزامير فقط وذلك لوجود تذكارين في هذا اليوم أحدهما يخص مار مرقس الرسول لذلك جاءت قراءته في القطمارس  الحالي مُحوَّلة عليقراءة ثلاثين برمودة ويوجد أيضاً فيه تذكار القديس إبراهيم المتوحد لذلك جاءت قراءته في قطمارس دير البراموس مُحوَّلة علي يوم رابع نسئ( نياحة أنبا بيمن المصري المتوحد ) بإختلاف المزامير فقط</p>
<h5>شهر هاتور</h5>
<p>القراءات التي تختلف مع القطمارس الحالي في المزامير فقط</p>
<p>١ ، ٣ ، ٤ ، ٥ ، ٦ ، ٨ ، ٩ ، ١١ ، ١٢ ، ١٥ ، ١٦ ، ١٧ ، ١٨ ، ٢٠ ، ٢٢ ، ٢٤ ، ٢٥</p>
<p>القراءات التي تختلف في المزامير وقراءة أخري (البولس مثلا أو أحد الأناجيل )</p>
<p>١٠ ، ١٩ ، ٣٠</p>
<p>عاشر هاتور</p>
<p>وهي القراءة المُحوَّلة علي قراءة ثلاثين طوبه ( شهادة العذاري القديسات )</p>
<p>تختلف قراءة قطمارس البراموس عن القراءة الحالية في المزامير والبولس وجزء من الكاثوليكون</p>
<p>تاسع عشر هاتور</p>
<p>وهي القراءة المُحوَّلة علي قراءة ثالث عشر برمهات ( شهادة الأربعين شهيدا بسبسطية )</p>
<p>تختلف قراءة قطمارس البراموس عن القراءة الحالية في المزامير والبولس</p>
<p>ثلاثون هاتور</p>
<p>وهي القراءة المُحوَّلة علي قراءة ثالث أبيب ( نياحة القديس كيرلس الأوَّل الكبير )</p>
<p>تختلف قراءة قطمارس البراموس عن القراءة الحالية في مزامير عشيّة وباكر وإنجيل باكر</p>
<h5>شهر بؤونه</h5>
<p>القراءات التي تختلف مع القطمارس الحالي في المزامير فقط ( مزمور واحد أو أكثر )</p>
<p>٣ ، ٨ ، ٩ ، ١٣ ، ١٦ ، ١٨ ، ٢١ ، ٢٢ ، ٢٣ ، ٢٤ ، ٢٨</p>
<p>القراءات التي تختلف في المزامير وقراءة أخري ( البولس مثلا أو أحد الأناجيل )</p>
<p>٧ ، ١٥ ، ٢٩</p>
<p>القراءات المختلفة بالكامل عن القطمارس الحالي</p>
<p>١٠ ، ١٤ ، ١٧ ، ٢٦ ، ٢٧</p>
<p>خمسة قراءات كامله لخمسة أيام مختلفة عن قراءات القطمارس الحالي</p>
<p>( ١ ) عاشر بؤونه وهو المُحوَّل علي ٢٢ هاتور</p>
<p>مزمور ٣٦</p>
<p>خلاص الصديقين من قبل الرب وهو ناصرهم في زمان الضيق يعينهم الرب وينجيهم وينقذهم</p>
<p>مرقس ١٤</p>
<p>قارورة الطيب</p>
<p>مزمور ٣٣</p>
<p>كثيرة هي أحزان الصديقين ومن جميعها ينجيهم الرب ينقذ الرب نفوس عبيده ولا يندم جميع المتكلين عليه</p>
<p>( لو ٨ : ١ - ٤ )</p>
<p>(رو ١٥ : ٣٠ - ١٦ : ١ - ١٦)</p>
<p>(١بط ٣ : ٥ - ٨ )</p>
<p>(أع ٢١ : ٥ - ١٤)</p>
<p>الذي يثبت رجلي كالأيل ويقيمني علي علاليه الذي يعلم يدي القتال وقد جعل ساعديَّ كاقواس من نحاس</p>
<p>(مت ٢٥ : ١ - ١٣)</p>
<p>تأتي قراءات هذا اليوم في تذكار شهادة القديسة صوفيا وأولادها وهي التي مُحوَّلة قراءاتها في القطمارس الحالي علي يوم ٢٢ هاتور وهويوم الخاص بتذكار شهادة قزمان وإخوته ووالدتهم وتدور قراءاته علي إحتمال الألم والشهادة لأجل المسيح بصفة عامة</p>
<p>لكن تأتي قراءات هذا اليوم ( عاشر بؤونه ) في قطمارس دير البراموس من شواهد كتابية مختلفة والإشارة فيه للنساء القديسات ورسالتهمفي تربية الأولاد والأسرة المسيحية معمل القديسين</p>
<p>لذلك يأتي إنجيل عشيّة مُتكلماً عن المرأة ساكبة الطيب ( مر ١٤ : ٣ - ٩ ) وإنجيل باكر عن خدمة النساء اللاتي تبعن الرب ودعمهن الماديالدائم له ( لو ٨ : ١ - ٣ ) والبولس يُرسل فيه القديس بولس السلام لكل القديسين وبالأخص الخادمات والنساء القديسات مثل فيبيوبريسكلا وماريا وأم روفس التي ناداها أنها مثل أُمَّه كما يرسل السلام إلي عائلات خادمة تقية مثل أكيلا وبريسكلا وبيت أرسطابولس وأهلنارقيسوس ( رو ١٥ : ٣٠ - ١٦ : ١ - ٢٤ ) والكاثوليكون تأتي فيه الوصايا للنساء والرجال (١بط ٣ : ٥ - ٧ ) والإبركسيس يأتي فيه وداعالأُسر التي آمنت لبولس الرسول وصلاتهم بأطفالهم معه علي الشاطئ وبنات فيلبس المبشر العذاري ( أع ٢١ : ٥ - ١٤ ) وإنجيل القدَّاسعن العذاري الحكيمات والجاهلات وأهميّة السهر والإستعداد لمجئ العريس (مت ٢٥ : ١ - ١٣ )</p>
<p>ويُلاحظ في هذه القراءات تشابهها مع قراءات ٣٠ طوبه ( تذكار شهادة العذاري بستيس وهلبيس وأغابي وصوفيا أمهم ) في جزء منالكاثوليكون وكل قراءة الإبركسيس وإنجيل القدَّاس وهنا التشابه في التركيز علي النساء القديسات أمَّا إختلاف القراءة عن ٢٢ هاتور فيإختلاف التركيز علي أبناء الله ( في القطمارس الحالي ) أو الإشارة إلي قيمة الأسرة ورسالة الأمهات ( في قطمارس دير   البراموس )</p>
<p>( ٢ ) رابع عشر بؤونه وهو المُحوَّل علي ٢٨ هاتور</p>
<p>مز ١١٨</p>
<p>صرخت من كل قلبي إليك فاستجب لي يارب أطلب حقوقك صرخت إليك فخلصني لاحفظ شهاداتك</p>
<p>(مت ١٣ : ٥٣ - ٥٧ )</p>
<p>مز ١١٨</p>
<p>عادل انت يارب وقضاؤك مستقيم أمرت بالعدل والحق جدّاً لأنهما شهاداتك</p>
<p>(يو ١٧ : ١ - ٨)</p>
<p>(كو ٣ : ٥ - ١٥ )</p>
<p>(١بط ٥ : ٥ - ١١)</p>
<p>(أع ٢٨ : ١ - ٦)</p>
<p>أذكر كلامك لعبدك الذي عليه اتكلتني هذا الذي عزاني في مذلتي لان قولك هو أحياني</p>
<p>(يو ١٢ : ٤٤ - ٥٠ )</p>
<p>قراءات هذا اليوم ( ١٠ بؤونه ) تأتي في قطمارس دير البراموس لتتكلم عن سلطان أولاد الله ( الإبركسيس ) وشهادتهم للمسيح ومُقاومتهملإبليس وأعمال الظلمة ( البولس والكاثوليكون والإبركسيس ) وكيف يُعلنون مجد الآب والإبن في حياتهم إقتداءاً بإبن الله الذي أكمل أعمالالآب وتدبيره لأجل خلاص البشرية ( إنجيل باكر والقدّاس ) وهنا القراءات تتلاقي مع تذكار شهادة القديس أباكير</p>
<p>أما قراءات القطمارس الحالي فهي مُحوَّلة علي يوم ٢٨ هاتور وهو اليوم الذي يأتي فيه تذكار شهادة القديسين صرابامون أسقف  نيقيا ولذلك تتركَّز القراءات علي المُختارين للخدمة ( الكهنوتية ) وتبعيتهم للرب ومكافأتهم وضعفاتهم ومعونة الرب لهم لذلك تتلاقي القراءات في هذاالإتجاه بالأكثر مع شهادة يوحنا وأبطلماوس ( الكهنة )</p>
<p>( ٣ ) سادس وعشرين بؤونه ( تذكار يشوع بن نون )</p>
<p>وهو المُحوَّل علي ٨ توت في القطمارس الحالي</p>
<p>عشيّة  (مت ٢٢ : ٣٤ – ٤٠)</p>
<p>باكر (مت ٢٢ : ١٥ – ٢٢)</p>
<p>البولس (عب ٢ : ٥ – ١٨)</p>
<p>الكاثوليكون (١بط ١ : ١٠ – ١٦)</p>
<p>الإبركسيس ( أع ١٠ : ٢٥ – ٣٥)</p>
<p>إنجيل القدَّاس( مت ١٥ : ١ - ٢٠ )</p>
<p>العجيب في هذه القراءة هي توافقها مع الأنبياء والعهد القديم وإختلافها بالكامل عن قراءة الأنبياء في القطمارس الحالي ( ٨ توت - تذكارنياحة موسي النبي )</p>
<p>والسؤال هنا : هل يُمْكِن أن تُحوَّل قراءات الأنبياء علي يومين بدلاً من يوماً واحدا ؟!</p>
<p>(٤ ) سابع وعشرين بؤونه ( شهادة القديس حنانيا الرسول أحد السبعين رسولا )</p>
<p>وهو المُحوَّل علي ٣٠ برمودة (تذكار شهادة مار مرقس)</p>
<p>شواهد القراءة في قطمارس دير البراموس :</p>
<p>عشيّة (يو ٦: ٢٢ – ٣٤)</p>
<p>باكر (يو ٦: ٣٥ – ٤٦)</p>
<p>البولس (٢كو ١١: ١٦ - ١٢: ١٢)</p>
<p>الكاثوليكون (١بط ١: ٢٥ - ٢: ١٠)</p>
<p>الإبركسيس (أع ٦: ١ – ١٥)</p>
<p>انجيل القدَّاس (لو ١٠: ١ – ٢٠)</p>
<p>رٌبَّما تكون شواهد هذه القراءة في قطمارس دير البراموس هي الأقرب لموضوع لشهادة القديس حنانيا الرسول أحد السبعين  رسولاً من أنتٌحوَّل إلي قراءة ٣٠ برمودة وهي التي تختص بمار مرقس خاصة في البولس والكاثوليكون والإبركسيس وإنجيل القدَّاس بينما تتكلّم قراءة٢٧ بؤونه عن كرازة وخدمة الرسل بصفة عامة وتُخْتَم بإنجيل القدَّاس وإرسالية السبعين رسولاً (لو ١٠ : ١ -٢٠ )</p>
<p>القراءات التي يختلف معظمها عن قراءة القطمارس الحالي:</p>
<p>٤ ، ٥  ، ١١ ، ١٧ ، ٢٥</p>
<p>١ - قراءة الرابع من بؤونه ( شهادة أنبا سنوسي - أو سينوسيوس - الشهيد ) وهي المُحوَّله علي قراءة خامس عشر هاتور (شهادة مار مينا)</p>
<p>تختلف قراءة ٤ بؤونه في قطمارس دير البراموس إختلافاً كاملاً عن مثيلتها في القطمارس الحالي</p>
<p>ولكنها تتطابق مع قراءة ٢٨ هاتور في القطمارس الحالي ( بإختلاف مزمور باكر ) وهي تذكار شهادة أنبا صرابامون الأسقف وأبا  بسادةالشهيد</p>
<p>ولكن لأن أنبا سنوسي الشهيد كان فتي وبداية الشباب ( ١٢ عام ) لذلك صار الأوقع أن تُحوِّل قراءته إلي قراءة مار مينا (١٥ هاتور ) وبذلك تصير قراءة القطمارس الحالي هي الأدق</p>
<p>٢ - قراءة الخامس من بؤونه ( نياحة القديس يعقوب المشرقي المعترف )</p>
<p>تختلف هذه القراءة في قطمارس البراموس عن القطمارس الحالي في كل شئ ما عدا إنجيل عشيّة وجزء من الإبركسيس</p>
<p>وهذه القراءة أيضاً لا تتطابق مع أيَّا من قراءات القطمارس الحالي</p>
<p>٣ - قراءة الحادي عشر من بؤونه (شهادة القديس اقلوديوس )</p>
<p>هذه القراءة جديرة بالدراسة والتأمُّل</p>
<p>قراءة الحادي عشر من بؤونه في القطمارس الحالي مُحوَّلة علي قراءة سابع وعشرين برمودة (شهادة القديس بقطر بن رومانوس ) وهيالقراءة التي تتكلّم عن الشهداء الذين كان لهم مجد العالم وتركوه لأجل محبة المسيح مثل أبناء الملوك والأُمراء</p>
<p>وهي القراءة المُحوَّلة عليها إثني عشر قراءة من قراءات شهداء هذه الفئة المذكورة</p>
<p>ولكننا هنا في قطمارس البراموس نري قراءة أخري تختلف عن قراءة القطمارس الحالي في كل شئ ما عدا جزء من     البولس (رو ٨: ٢٨ - ٩: ٥) بالمُقارنة مع (رو ٨ : ١٨ - ٣٠ ) في القطمارس الحالي وبإستثاء أيضاً جوهر إنجيلي عشيّة وباكر</p>
<p>فنحن نري هنا موضوع إنجيل عشيّة في القطمارس الحالي (مت ١٦: ٢٤ - ٢٨) هو نفسه موضوع إنجيل باكر في قطمارس  البراموس (مر ٨: ٣٤ - ٩: ١ ) ولكن بإختلاف الإنجيل المأخوذ منه</p>
<p>وقراءة إنجيل باكر من القطمارس الحالي (مت ١٠: ٣٤ - ٤٢) وإنجيل عشيّة في قطمارس البراموس (مت ١٠: ١٦ - ٢٣) منالإصحاح العاشر من إنجيل متي وهو الإصحاح الخاص بدعوة الرب للإثني عشر ووصيته لهم وتشجيعه لهم علي إحتمال آلام الكرازة  لذلك تتكلّم القراءتين عن حمل الصليب وهي القراءة التي تتناسب مع تذكارات الشهداء</p>
<p>كما تأتي شواهد باقي القراءة من (١بط ٤ : ١ - ١١)( ، أع ١٦ : ١٦ - ٣٤ )</p>
<p>وهنا يُختم بإنجيل القدَّاس ( مر ٩ : ٣٣ - ٥٠ ) بالكلام عن مفهوم العظيم والأوَّل والأكبر والجميل أنها تأتي مع تذكار شهداء تَرَكُوا  عظمة العالم وزيف مجده لأجل محبة المسيح.</p>
<p>والسؤال أيضاً هنا : هل يمكن أن تكون هذه القراءة أساسية وتتحوَّل عليها قراءات أخري من قراءات تذكار الشهداء الذين كان لهم مجدالعالم وتركوه لأجل شهادتهم للمسيح بدلاً من أن تُحوَّل إثني عشر قراءة علي قراءة يوم سابع وعشرين برمودة فقط ؟!</p>
<p>٤ - قراءة السابع عشر من شهر بؤونه ( نياحة القديس لاتصون البهنساوي )</p>
<p>قراءة السابع عشر من بؤونه في القطمارس الحالي مُحوَّلة علي قراءة ثاني وعشرين طوبه ( نياحة الأنبا أنطونيوس ) وهي  مختلفة عن قراءةهذا اليوم في قطمارس البراموس في كل شئ ما عدا مزمور عشيّة</p>
<p>وسيرة القديس لاتصون البهنساوي مُشابهة لسيرة الأنبا أنطونيوس لذلك جاءت قراءة هذا اليوم مُحوَّلة علي قراءة ثاني وعشرين طوبه بينماقراءة قطمارس البراموس لهذا اليوم تسير نحو المدعوّين والمُختارين للخدمة</p>
<p>٥ - قراءة الخامس والعشرون من شهر بؤونه ( شهادة القديس يهوذا أحد السبعين )</p>
<p>قراءة هذا اليوم في القطمارس الحالي مُحوَّلة علي قراءة يوم أوَّل طوبه ( شهادة القديس إستفانوس ) وهي تختلف عن قراءة  نفس اليوم فيقطمارس البراموس في البولس والكاثوليكون والإبركسيس ومزمور القدَّاس</p>
<h5>شهر أبيب</h5>
<p>القراءات التي تختلف مع القطمارس الحالي في المزامير فقط ( مزمور واحد أو أكثر )</p>
<p>٣ ، ٤ ، ٧ ، ١٣ ، ١٤ ، ١٩ ، ٢٩</p>
<p>القراءات التي تختلف في المزامير وقراءة أخري أو في القراءات الأخري فقط ( البولس مثلا أو أحد الأناجيل )</p>
<p>١ ، ٦ ، ٨ ، ١٢ ، ١٥ ، ١٦ ، ٢٠ ، ٢٢ ، ٢٣، ٢٥ ، ٢٦ ، ٢٨</p>
<p>القراءات المختلفة بالكامل ( أو معظمها ) عن القطمارس الحالي</p>
<p>٢ ، ٥ ( قراءة اليوم الخامس في المخطوطة مُحوَّلة علي اليوم الثاني ) ، ١٠ ، ١١ ، ١٨ ( كل القراءة ) ، ٢١ ، ٢٤ ، ٢٧</p>
<p>ثاني أبيب ( تذكار شهادة تداوس الرسول في السنكسار )</p>
<p>قراءاته مُحوَّلة علي يوم ٣٠ برمودة في القطمارس الحالي ( تذكار شهادة مار مرقس )</p>
<p>وفِي المخطوطة تأتي قراءاته متماثلة تقريبا ( ما عدا معظم المزامير ) مع قراءة ٥ أبيب أي تذكار شهادة القديسين بطرس وبولس</p>
<p>لذلك رُبَّما تكون قراءة المخطوطة الأقرب لموضوع يوم ٢ أبيب لأن قراءة ٣٠ برمودة تتركَّز في أغلبها علي مار مرقس الرسول بصفة شخصيةبينما تُشير قراءة ٢ أبيب في المخطوطة إلي الرسل الإثني عشر بصفة عامة</p>
<p>عاشر أبيب ( تذكار شهادة القديس ثاؤذورس )</p>
<p>قراءته مُحوَّلة علي يوم ٢٨ هاتور في القطمارس الحالي ( تذكار شهادة القديس صرابامون أسقف نيقيا )</p>
<p>وتتشابه القراءتين ( القطمارس الحالي والمخطوطة ) في إنجيل عشيّة وإحدي المزامير الثلاثة فقط وتختلف في باقي القراءة</p>
<p>وتتفق القراءتين في المضمون ( كرازة وشهادة الرعاة وإحتمالهم الضيق ) وتختلفان في النصوص المُختَاَرة</p>
<p>فيتكلّم إنجيل باكر في القطمارس الحالي عن تطويب إحتمال الضيق والتعيير لأجل إسم المسيح ( لو ٦ : ١٧ - ٢٣ ) والبولس عن كهنوتالعهد الجديد ( عب ٧ : ١٨ - ٨ : ١ -١٣ ) ومُقارنة بين رعاة صالحين ورعاة أشرار في الكاثوليكون (٣ يو ١ : ١ - ١٥ )  وضعفات قادة الكنيسة في الإبركسيس ( أع ١٥ : ٣٦ - ١٦ : ١ - ٥ ) وفرح الرعاة برغم ضيقات وآلام الخدمة في إنجيل القدَّاس ( يو ١٦ : ٢٠ - ٣٣ )</p>
<p>أما قراءة المخطوطة لنفس اليوم ( ١٠ أبيب ) فتعلن عن جوهر الرعاية والدعوة الكهنوتية - المحبّة - في إنجيل باكر وزمان الجهاد وخضوع الجميع نحو بعضهم البعض في البولس ووصايا الآباء والأبناء في الكاثوليكون وضيقات الخدمة والكرازة في الإبركسيس وإنجيل القدَّاس ( لو ٤ : ٢٢ - ٣٠ )</p>
<h5>شهر مسري</h5>
<p>القراءات التي تختلف مع القطمارس الحالي في المزامير فقط (مزمور واحد أو أكثر )</p>
<p>٤ ، ١٠ ، ١١ ، ١٣ ، ١٤، ١٦، ١٨ ، ٢٠ ، ٢٤</p>
<p>القراءات التي تختلف في المزامير وقراءة أخري أو في القراءات الأخري فقط (البولس مثلا أو أحد الأناجيل)</p>
<p>١ ، ٢ ، ٥ ، ٦ ، ٧ ، ٢٧</p>
<p>القراءات المختلفة بالكامل (أو معظمها ) عن القطمارس الحالي</p>
<p>٩ مسري</p>
<p>عشيّة (مت ١٠ : ١٦ – ٢٣ )</p>
<p>باكر (مر ١٣ : ٩ – ١٣ )</p>
<p>البولس  (عب ١٢ : ٢١ - ١٣ : ١ – ٤ )</p>
<p>الكاثوليكون (١يو ٤ : ١ – ١٠ )</p>
<p>الإبركسيس (أع ١٣ : ٣٢ – ٤٢ )</p>
<p>انجيل القدَّاس (لو ١١ : ٥٣ - ١٢ : ١ – ١٢ )</p>
<p>والقراءة هنا تتشابه مع القطمارس الحالي في إنجيل عشيّة وباكر والقدّاس وتختلف في البولس والكاثوليكون والإبركسيس</p>
<p>مُلخَّص ما سبق وما يُمْكِن إستنتاجه من فحص قطمارس واحد فقط من القطمارسات القديمة :</p>
<p>من خلال المقارنة بين قراءات قطمارس دير البراموس المطبوع في أواخر القرن التاسع عشر وقراءات القطمارس الحالي نجد بعضالإختلافات في القراءات والتي تُثريها ولا تُضعفها أو تُقلِّل من قيمتها</p>
<p>ومن المهم والنافع أن نعرف أن القراءات الموجودة حاليا في مكتبات الأديرة القبطية العريقة تحوي كنوزاً من قراءات الكنيسة والتي أخذ منهاالقطمارس الحالي المُستعمل في كنيستنا المُقدَّسة ولكنها أيضاً مازالت تحمل أجنة كاملة النمو من قراءات بعض الأيَّام والتي تتوافق معسنكسار اليوم رغم إختلافها ( القراءات المُحوَّلة ) عن القطمارس المُستخدم حالياً والتي تحتاج فقط إلي شهادة  إعتماد ميلادها من آبائناالأجلاء أعضاء المجمع المقدس لكنيستنا القبطية</p>
<p>وبدلاً من أن تُحوَّل قراءة مُعينة علي أيَّام كثيرة وتتكرَّر ورُبَّما تُشكِّل صعوبة للمُتكلِّم علي المنبر في الوعظ والتعليم من نفس النصوص المُكرَّرةفي أيَّام مُتقاربة فلماذا لا نستخدم ما هو موجود بالفعل في تراثنا القبطي</p>
<p>وعلي سبيل المثال نجد قراءة سابع عشر هاتور ( تذكار نياحة القديس يوحنا فم الذهب ) تتكرَّر أربع مرّات في إسبوع واحد  ( ثلاثون توتوثاني بابه وثالث بابه وخامس بابه ) وليس من السهولة الكلام عن الرعاية أربع مرّات في إسبوع واحد دون تكرار !</p>
<p>كما يتكرَّر إنجيل العذاري الحكيمات والجاهلات ثلاث مرّات في إسبوع واحد ( سادس وثامن وحادي عشر برمودة ) وأيضاً (ثامن وعشرون أبيب وثاني وسادس مسري )</p>
<p>وتتعجَّب أنه توجد في إحدي القطمارسات قراءة خاصة لكل تذكار من تذكارات العذاري والنساء القديسات والتي مُحوَّلة قراءاتها  علي يومثلاثين طوبة !</p>
<p>ونجد أيضاً قراءة الأنبياء ( ثامن توت ) مُكرَّرة عشرين مرة ومنها ما يأتي في أيام مُتقاربة مثل رابع وسادس توت والعشرين والثالث والعشرين من كيهك وخامس وسابع برمودة والعشرون والسادس والعشرون من بؤونه</p>
<p>مع ملاحظة أن قراءة سادس وعشرين بؤونه ( تذكار يشوع بن نون ) في قطمارس دير البراموس مُختلف تماماً عن قراءة الثامن من توت ( تذكار موسي رئيس الأنبياء ) في القطمارس الحالي رغم وحدة الموضوع وهو النبوَّة والأنبياء</p>
<p>ونحن هنا لا ننقل التخم القديم ( أم ٢٢ : ٢٨ ) ، لكنّنا ننبش آثار ينابيع الآبار الحيّة ( تك ٢٦ : ١٨ ) داخل التخم ، والمحفوظ لنا فيمخطوطات القراءات في أديرتنا وفي متاحف العالم .</p>
<p>فهل يُمْكِن أن نُخْرِج الكنز المُخفي في حقل كنيستنا وتراثها ؟ لنأخذ من القراءات في كنيستنا المُقدَّسة نعمة فوق نعمة ، ونرفع الغطاء عن هذاالمجد ليُضاف إلي مجد ما هو عندنا الآن ، ولنعيش غني وبهاء الكلمة المُقدَّسة المُذخَّر في مخطوطات تُراثنا  القبطي العظيم ؟!</p>
<p>1- ( القمص تادرس يعقوب ملطي - القراءات الكنسية في الكنيسة القبطية - ص ٣،٢ )</p>
<p>[2] -( الأب أوجو زانيتي - القطمارس القبطي السنوي - وجه قبلي - ص١٤٩ )</p>
<p>3- ( الأب أوجو زانيتي - القطمارس القبطي السنوي - وجه قبلي - ص ١٣٦ ، والأب متي المسكين - الافخارستيا عشاء الرب - ص ٤٩٦ ،٤٩٨ )</p>

      {% endcreateArticleAccordions %}
    </section>
  {% endblock %}
