---
layout: 'layouts/reading.html'
title: 'مقارنة بين قراءات الكنائس التقليدية للأعياد السيدية وأعياد القديسين'
tags: 'annual'
permalink: /articles/annual/1941.html
---
  {% block content %}
    <section id="article">
      <h3 class="mt-8 mb-4 heading-explain">شرح القراءات</h3>
      {% createArticleAccordions %}
        <p>ملحوظة</p>
<p>ليتورجيا الكنيسة القبطية تتكون دائماً من ستَّة قراءات من العهد الجديد (إنجيل عشيّة وإنجيل باكر وإنجيل القدَّاس والبولس والكاثوليكون والإبركسيس) بينما تأتي ثلاث قراءات فقط من العهد الجديد في ليتورجيا باقي الكنائس الأرثوذكسية مثل الكنيستين السريانية والبيزنطية ( إنجيل باكر وإنجيل القدَّاس والقراءة الثالثة من رسائل القديس بولس أو رسائل  الجامعة أو سفر أعمال الرسل )</p>
<h3>الكنيسة السريانية</h3>
<h4>قراءة الرسائل الجامعة ورسائل بولس الرسول</h4>
<p>( ١ ) تشابه قراءة الكاثوليكون في تذكار ميلاد يوحنا المعمدان في الكنيسة القبطية ( ١بط ٢ : ١١ - ١٧) مع قراءة        الرسائل الجامعة فيمولد يوحنا في الكنيسة السريانية ( ١بط ٢ : ١١ - ٢٥ )</p>
<p>( ٢ ) تشابه قراءة البولس ( تي ٢ : ١١ - ٣ : ١- ٧) والكاثوليكون ( ١يو ٥ : ٥ - ٢١ ) في عيد الغطاس في الكنيسة     القبطية مع قراءةالرسائل الجامعة ( ١يو ٥ : ١ - ١٣ ) وقراءة رسائل بولس الرسول ( تي ٢ : ١١ - ١٥ ) في عيد الدنح - الغطاس - في الكنيسة السريانية</p>
<p>( ٣ ) تماثل قراءة الكاثوليكون ( ٢بط ١ : ١٢ - ٢١ ) في عيد التجلّي في الكنيسة القبطية وفِي الكنيسة السريانية</p>
<p>( ٤ ) قراءة البولس ( عب ٩ : ١ - ١٢ ) في عيد ميلاد العذراء ( والمُحوَّل عليه كل أعياد والدة الإله ) في ١بشنس في    الكنيسة القبطية مُشابهلقراءة رسائل بولس الرسول ( عب ٩ : ١ - ١٠ ) في أعياد السيدة العذراء في الكنيسة السريانية</p>
<p>( ٥ ) قراءة الكاثوليكون ( ١بط ٣ : ٥ - ١٤ ) في تذكار العذاري بستيس وهلبيس وأغابي وصوفيا أمهم في الكنيسة       القبطية مُشابه لقراءةرسائل الجامعة ( ١بط ٣ : ١ - ٧ ) في أعياد النسوة القديسات في الكنيسة السريانية</p>
<h4>قراءة الأناجيل</h4>
<p>( ١ ) قراءة إنجيل القدَّاس ( لو ١ : ٥٧ - ٨٠ ) في تذكار ميلاد يوحنا المعمدان في الكنيسة القبطية هو قراءتي إنجيل     المساء ( لو ١ : ٥٧ - ٦٦ ) ، إنجيل الصباح ( لو ١ : ٦٧ - ٨٠ ) في الكنيسة السريانية</p>
<p>وتشابه إنجيل باكر (مت ١١ : ١١ - ١٩ ) في نفس اليوم في الكنيسة القبطية مع إنجيل القدَّاس الإلهي في الكنيسة          السريانية ( مت ١١ : ٢ - ١٥ )</p>
<p>( ٢ ) تماثل إنجيل القدَّاس ( مت ٢ : ١ - ١٢ ) في عيد الميلاد في الكنيسة القبطية مع إنجيل القدَّاس الإلهي في الميلاد المجيد في الكنيسةالسريانية</p>
<p>( ٣ ) تشابه إنجيل القدَّاس ( لو ٢ : ١٣ - ٢٣ ) في تذكار مقتل أطفال بيت لحم في الكنيسة القبطية مع إنجيل المساء      ( مت ٢ : ١٣ - ١٨ ) في مقتل أطفال بيت لحم في الكنيسة السريانية</p>
<p>( ٤ ) تماثل قراءة إنجيل باكر عيد الغطاس ( مر ١ : ١ - ١١ ) في الكنيسة القبطية مع قراءة إنجيل المساء (مر ١ : ١ - ١١ ) في عيد الدنح- الغطاس - في الكنيسة السريانية</p>
<p>وتشابه قراءة إنجيل عشيّة عيد الغطاس (مت ٣: ١ - ١٢ ) في الكنيسة القبطية مع قراءة إنجيل الصباح ( مت ٣ : ١ - ١٧ ) في عيد الدنح- الغطاس - في الكنيسة السريانية</p>
<p>( ٥ ) تماثل إنجيل عشيّة عيد إستشهاد يوحنا المعمدان ( مت ١٤ : ١ - ١٢ ) في الكنيسة القبطية وإنجيل القدَّاس الإلهي في إستشهادمار يوحنا المعمدان ( مت ١٤ : ١ - ١٢ ) في الكنيسة السريانية</p>
<p>وتماثل قراءة إنجيل القدَّاس في نفس اليوم (مر ٦: ١٤ - ٢٩ ) في الكنيسة القبطية مع إنجيل الصباح لنفس اليوم ( مر ٦ : ١٤ - ٢٩ ) في الكنيسة السريانية</p>
<p>ويُلاحَظْ هنا تشابه قراءات ميلاد يوحنا المعمدان في الكنيستين وتشابه قراءة إستشهاده فيهما</p>
<p>( ٦ ) قراءة إنجيل المساء هي نفس قراءة إنجيل الصباح ( لو ٢ : ٢٢ - ٣٥ ) في دخول المسيح إلي الهيكل في الكنيسة    السريانية وقراءةإنجيل القدَّاس الإلهي لنفس اليوم هي ( لو ٢ : ٣٦ - ٤٠ )</p>
<p>وهُمْ معاً تقريباً نفس قراءة إنجيل قدّاس عيد الختان (وهو نفس قراءة عيد دخول المسيح إلي الهيكل) في الكنيسة القبطية ( لو ٢ : ٢١ - ٣٩ )</p>
<p>( ٧ ) تماثل قراءة إنجيل القدَّاس ( يو ٢ : ١ - ١١ ) في عيد عرس قانا الجليل في الكنيسة القبطية مع إنجيل المساء ( يو ٢ : ١ - ١١ ) فيعرس قانا الجليل في الكنيسة السريانية</p>
<p>(٨ ) تماثل إنجيل عشيّة عيد ميلاد والدة الإله - وهو المُحوَّل عليه عيد نياحتها - ( لو ١٠ : ٣٨ - ٤٢ ) في ١ بشنس مع إنجيل المساء لعيدإنتقال السيدة العذراء ( لو ١٠ : ٣٨ - ٤٢ ) في الكنيسة السريانية</p>
<p>وتشابه إنجيل باكر (مت ١٢ : ٣٥ - ٥٠ ) لنفس اليوم في الكنيسة القبطية مع إنجيل المساء ( مت ١٢ : ٤٦ - ٥٠ ) لنفس اليوم في الكنيسةالسريانية</p>
<p>(٩ ) تماثل إنجيل القدَّاس ( مت ١٠ : ١ - ١٥ ) في عيد الرسولين بطرس وبولس في ٥ أبيب ( عيد الرسل ) مع إنجيل   المساء ( مت ١٠ : ١- ١٥ ) في عيد الرسل الإثني عشر في الكنيسة السريانية</p>
<p>وتماثل إنجيل باكر (لو ٦: ١٢ - ٢٣) لنفس اليوم مع إنجيل القدَّاس الإلهي ( لو ٦ : ١٢ - ٢٣ ) لنفس اليوم في الكنيسة     السريانية</p>
<p>(١٠) تماثل إنجيل عشيّة عيد التجلّي (لو ٩: ٢٨ - ٣٦) في الكنيسة القبطية وإنجيل القدَّاس الإلهي في عيد التجلّي (لو ٩: ٢٨ - ٣٦) في الكنيسة السريانية</p>
<p>وتشابه إنجيل باكر عيد التجلّي (مت ١٧: ١ - ٩) في الكنيسة القبطية مع إنجيل المساء (مت ١٧: ١ - ١٣) لنفس اليوم في الكنيسة السريانية</p>
<p>وتشابه إنجيل القدَّاس في عيد التجلّي (مر ٩: ٢ - ١٣) في الكنيسة القبطية مع إنجيل الصباح (مر ٩: ١ - ١٣) لنفس      اليوم في الكنيسة السريانية</p>
<p>(١١) تشابه إنجيل القدَّاس (لو ١٢: ٤ - ١٢) في عيد إستشهاد مار بقطر بن رومانوس في الكنيسة القبطية مع إنجيل      القدَّاس الإلهي (لو ١٢: ١ - ١٢ ) في أعياد الشهداء القديسين في الكنيسة السريانية</p>
<p>(١٢) تماثل إنجيل القدَّاس (مت ٢٥: ١ - ١٣) في تذكار شهادة بستيس وهلبيس وأغابي وصوفيا أمهم في ٣٠ طوبه في    الكنيسةالقبطية مع إنجيل المساء (مت ٢٥: ١ - ١٣) وإنجيل الصباح - نفس الشاهد - في أعياد النسوة القديسات في الكنيسة السريانية</p>
<h3>قراءات الكنيسة البيزنطية</h3>
<h4>الأعياد السيدية وعيد الصليب</h4>
<p>( ١ ) عيد الميلاد</p>
<p>تماثل إنجيل قدّاس عيد الميلاد (مت ٢ : ١ - ١٢ ) في ٢٩ كيهك في الكنيسة القبطية مع إنجيل قدّاس إلهنا ومخلصنا     يسوع المسيح ( مت٢ : ١ - ١٢ ) في الكنيسة البيزنطية</p>
<p>ويتماثل أيضاً إنجيل باكر (مت ١ : ١٨ - ٢٥ ) وإنجيل قدّاس ( لو ٢ : ١ - ٢٠ ) برامون الميلاد في الكنيسة القبطية مع  إنجيل الساعةالأولي ( مت ١ : ١٨ - ٢٥ ) وإنجيل الساعة الثالثة ( لو ٢ : ١ - ٢٠ ) في ساعات برامون عيد ميلاد       المسيح في الكنيسة البيزنطية</p>
<p>(٢ )تأتي قراءة إنجيل باكر ( لو ٢ : ٤٠ - ٥٢ ) في عيد الختان في الكنيسة القبطية وتأتي نفس القراءة جزء من إنجيل   قدّاس ختان ربنايسوع المسيح بالجسد ( لو ٢ : ٢٠ ، ٢١ ، لو ٢ : ٤٠ - ٥٢ ) في الكنيسة البيزنطية</p>
<p>(٣ ) يتماثل إنجيل باكر ثاني يوم عيد الغطاس ( مت ٣ : ١٣ - ١٧ ) مع إنجيل قدّاس عيد  في عيد ظهور ربنا وإلهنا    ومخلصنا الإلهيالمقدس ( مت ٣ : ١٣ - ١٧ ) في الكنيسة البيزنطية</p>
<p>ويتشابه إنجيل باكر في عيد الغطاس (مر ١: ١ - ١١) مع إنجيل السحر - باكر - في عيد ظهور ربنا وإلهنا ومخلصنا     الإلهي المقدس (مر ١ : ٩ - ١١ ) في الكنيسة البيزنطية</p>
<p>(٤) عيد دخول المسيح للهيكل</p>
<p>تأتي قصة سمعان الشيخ في إنجيل قدّاس (لو ٢: ٢١ - ٣٩) عيد الختان (ودخول الرب الهيكل) في الكنيسة القبطية وفِي   إنجيل قدّاس( لو ٢ : ٢٢ - ٤٠ ) عيد دخول ربنا وإلهنا ومخلصنا يسوع المسيح إلي الهيكل في الكنيسة البيزنطية</p>
<p>(٥ ) عيد البشارة</p>
<p>يتماثل تقريباً إنجيل القدَّاس (لو ١: ٢٦ - ٣٨ ) في عيد البشارة في الكنيسة القبطية مع إنجيل القدَّاس ( لو ١ : ٢٤ - ٣٨ ) في عيدبشارة سيدتنا الفائقة القداسة والدة الاله الدائمة البتولية مريم في الكنيسة البيزنطية</p>
<p>( ٦ ) عيد التجلّي</p>
<p>في عيد التجلّي لا يتماثل فقط إختيار القراءات لكن أيضاً ترتيب مجيئها</p>
<p>تأتي قراءة التجلّي في إنجيل لوقا (لو ٩: ٢٨ - ٣٦) في إنجيل عشيّة وفِي إنجيل متي (مت ١٧: ١ - ٩) في إنجيل باكر وقراءة إنجيلمرقس ( مر ٩ : ٢ - ٩ ) في إنجيل القدَّاس في الكنيسة القبطية</p>
<p>وأيضاً تأتي قراءة التجلّي في إنجيل لوقا (لو ٩: ٢٨ - ٣٦) في إنجيل السحر وفِي إنجيل متي (مت ١٧: ١ - ٩) في إنجيل القداسوقراءة إنجيل مرقس ( مر ٩ : ٢ - ١٣ ) في إنجيل لما بعد عيد التجلّي في الكنيسة القبطية</p>
<p>(٧ ) عيد الصليب</p>
<p>يكاد يتماثل إنجيل باكر (يو ١٢: ٢٦ - ٣٦) في عيد الصليب في الكنيسة القبطية مع قراءة إنجيل السحر ( يو ١٢ : ٢٨ - ٣٦ ) في عيدرفع الصليب الكريم المحيي رفعاً عاماً في الكنيسة البيزنطية</p>
<h4>أعياد القديسين</h4>
<p>عيد ميلاد والدة الإله</p>
<p>تتطابق قراءة إنجيل عشيّة ( لو ١٠ : ٣٨ - ٤٢ ) وقراءة إنجيل قدّاس ( لو ١ : ٣٩ - ٥٦ ) أول طوبه في الكنيسة القبطية مع قراءة الإنجيلفي السحر ( لو ١ : ٣٩ - ٥٦ ) وفِي القدَّاس ( لو ١٠: ٣٨ - ٤٢ ، ١١ : ٢٧ ) لتذكار مولد سيدتنا        الفائقة القداسة والدة الإله في الكنيسةالبيزنطية</p>
<p>يوحنا المعمدان</p>
<p>عيد ميلاده</p>
<p>تتطابق قراءة إنجيل القدَّاس (لو ١: ٥٧ - ٨٠ ) في ٣٠ بؤونه في الكنيسة القبطية مع قراءة الإنجيل في السحر في عيد    مولد النبي  السابق المجيد يوحنا المعمدان في الكنيسة البيزنطية</p>
<p>عيد إستشهاده</p>
<p>تكاد تتطابق قراءة إنجيل عشيّة (مت ١٤: ١ - ١٢ ) وإنجيل قدّاس ( مر ٦ : ١٤ - ٢٩ ) ٢ توت في الكنيسة القبطية مع قراءة الإنجيل ( مت ١٤ : ١ - ١٣ ) في السحر وقراءة الإنجيل في القدَّاس ( مر ٦ : ١٤ - ٢٩ ) في تذكار قطع رأس    النبي المجيد يوحنا المعمدان السابقفي الكنيسة البيزنطية</p>
<p>عيد الرسل</p>
<p>يتشابه إنجيل قدّاس (مت ١٠ : ١ - ١٥ ) ٥ أبيب في الكنيسة القبطية مع قراءة الإنجيل ( مت ٩ : ٣٦ - ٣٨ ، ١٠ : ١ - ٨ ) في تذكارحافل للرسل الإثني عشر القديسين المجيدين الكلي المديح في الكنيسة البيزنطية</p>
<p>حبل أليصابات</p>
<p>تتماثل تقريباً قراءة إنجيل قدّاس (لو ١ : ١ - ٢٥ ) حبل أليصابات في ٢٦ توت في الكنيسة القبطية مع إنجيل قدّاس ( لو ١ : ٥ - ٢٦ ) الحبل بالنبي الكريم السابق المجيد يوحنا المعمدان في الكنيسة البيزنطية</p>
<p>يوحنا الحبيب</p>
<p>تتطابق تقريباً قراءة إنجيل القدَّاس ( يو ٢١ : ١٥ - ٢٥ ) تذكار يوحنا بن زبدي في ٤ طوبه في الكنيسة القبطية مع قراءة إنجيل السحر ( يو ٢١ : ١٤ - ٢٥ ) في تذكار القديس الرسول المجيد يوحنا اللاهوتي البشير في الكنيسة البيزنطية</p>
<p>القديس يوحنا ذهبي الفم (١٧ هاتور ) والقديس كيرلس السكندري ( ٣ أبيب )</p>
<p>يتشابه إنجيل القدَّاس (يو ١٠: ١ - ١٦ ) في ١٧ هاتور ، ٣ أبيب في الكنيسة القبطية مع إنجيل السحر ( يو ١٠ : ٩ - ١٦ ) في تذكارآبائنا القديسين الأجلاء معلمي المسكونة باسيليوس الكبير وغريغوريوس اللاهوتي ويوحنا الذهبي الفم وأيضاً  هو نفس إنجيل السحر فيتذكار أبوينا القديسين الجليلين أثناسيوس وكيرلس رئيسي أساقفة الإسكندرية في الكنيسة البيزنطية</p>
<p>أطفال بيت لحم</p>
<p>يتطابق إنجيل قدّاس (لو ٢: ١٣ - ٢٣) تذكار شهادة أطفال بيت لحم في ٣ طوبه في الكنيسة القبطية مع قراءة إنجيل ( لو ٢ : ١٣ - ٢٣) تذكار الأطفال القديسين الأربعة عشر ألفاً الذين قتلهم هيرودس في بيت لحم في الكنيسة البيزنطية</p>
<p>متي الإنجيلي</p>
<p>يتطابق إنجيل عشيّة (مت ٩: ٩ - ١٣) شهادة القديس متي الإنجيلي في ١٢ بابه في الكنيسة القبطية مع قراءة إنجيل تذكار القديسالرسول المجيد متي البشير في الكنيسة البيزنطية</p>
<p>فيلبس المبشر</p>
<p>تتطابق قراءة إنجيل باكر (يو ١: ٤٣ - ٥١) في ١٤ بابه في الكنيسة القبطية مع قراءة تذكار القديس فيلبس الرسول ( يو ١ : ٤٣ - ٥١ ) في الكنيسة البيزنطية</p>
<p>مار جرجس</p>
<p>يتطابق إنجيل القدَّاس (لو ٢١: ١٢ - ١٩) في عيد شهادة القديس جرجس الروماني مع قراءة السحر في تذكار القديس     الشهيد العظيم جاورجيوس الحائز الظفر في الكنيسة البيزنطية</p>
<p>توما الرسول</p>
<p>تتشابه قراءة إنجيل قدّاس (يو ٢٠ : ٢٤ - ٣١ ) ٢٦ بشنس في الكنيسة القبطية مع قراءة الإنجيل ( يو ٢٠ : ١٩ - ٣١ ) في تذكار القديسالمجيد توما الرسول في الكنيسة البيزنطية</p>
<h3>قراءات الكنيسة اللاتينية</h3>
<p>(١ ) تشابه قراءة إنجيل باكر برامون الميلاد ( مت ١ : ١٨ - ٢٥ ) في الكنيسة القبطية مع قراءة الأحد السابق لليله عيد  الميلاد ( مت ١ : ١٨- ٢٤ ) في الكنيسة اللاتينية</p>
<p>(٢ ) تشابه قراءة الإبركسيس ( أع ٦ : ١ - ٧ : ١ - ٢ ) في عيد القديس إستفانوس في الكنيسة القبطية مع قراءة سفر     الأعمال ( أع ٦ : ٨- ٧ : ٢ ) في عيد القديس إستفانوس في الكنيسة اللاتينية</p>
<p>(٣ ) تشابه قراءة إنجيل القدَّاس ( لو ٢ : ٢١ - ٣٩ ) في عيد الختان - ودخول المسيح للهيكل - في الكنيسة القبطية مع   قراءة قدّاس ( لو ٢: ٢٢ - ٤٠ ) دخوله الهيكل ( تقدمته للهيكل ) في الكنيسة اللاتينية</p>
<p>(٤ ) تماثل قراءة إنجيل باكر ( مت ٣ : ١٣ - ١٧ ) في ثاني يوم عيد الغطاس في الكنيسة القبطية مع قراءة قدّاس معمودية الرب ( مت ٣ : ١٣ - ١٧ ) في الكنيسة اللاتينية</p>
<p>(٥ ) تماثل مزمور باكر عيد الغطاس ( مز ٢٨ : ٣ -٤ ) مع مزمور قدّاس معمودية الرب في الكنيسة اللاتينية</p>
<p>(٦ ) تشابه قراءة البولس ( تي ٢ : ١١ - ٣ :١ - ٧ ) في عيد الغطاس في الكنيسة القبطية مع قراءة رسائل البولس ( تي ٢ : ١١ - ١٤ ، ٣: ٤ - ٧ ) في معمودية الرب في الكنيسة اللاتينية</p>
<p>(٧ ) تماثل قراءة إنجيل القدَّاس ( يو ٢ : ١ - ١١ ) في عيد عرس قانا الجليل في الكنيسة القبطية مع قراءة القدَّاس للأحد التالي بعدمعمودية الرب في الكنيسة اللاتينية ( نفس توقيت مجيئه في كنيستنا تاني يوم عيد الغطاس )</p>
<p>( ٨ ) تشابه قراءة الكاثوليكون ( ٢ بط ١ : ١٢ - ٢١ ) في عيد التجلّي في الكنيسة القبطية مع قراءة رسائل الجامعة ( ٢بط ١ : ١٦ - ١٩ ) لعيد التجلّي في الكنيسة اللاتينية</p>
<p>وتماثل قراءة إنجيل باكر (مت ١٧: ١ - ٩ ) في نفس اليوم مع قراءة القدَّاس ( مت ١٧ : ١ - ٩ ) لنفس اليوم في الكنيسة اللاتينية</p>
<p>(٩ ) تشابه إنجيل باكر ( يو ٣ : ١٤ - ٢١ ) ثاني يوم عيد الصليب في الكنيسة القبطية مع قراءة قطدّاس ( يو ٣ : ١٣ - ١٧ ) عيد الصليب( إرتفاع الصليب ) في الكنيسة اللاتينية</p>
<p>وتأتي قراءة البولس (غل ٦ : ١١ - ١٨ ) لنفس اليوم في الكنيسة القبطية وتأتي الآية المُختَاَرة لنفس اليوم في الكنيسة      اللاتينية من (غل ٦ : ١٤ )</p>
<p>( ١٠ ) تشابه قراءة إنجيل قدّاس ( مت ٤ : ٢٣ - ٥ : ١ - ١٦ ) نياحة أنبا مقار الأسقف في ٢٧ بابه وتذكار شهادة التسعة والأربعين شيخاًشهداء برية شيهات في ٢٦ طوبه مع قراءة قدّاس عيد جميع القديسين ( مت ٥ : ١ - ١٢ ) في الكنيسة  اللاتينية</p>
<p>( ١١ ) تماثل إنجيل قدّاس ( لو ١ : ٣٩ - ٥٦ ) ميلاد والدة الإله في ١ بشنس ( وهو المُحوَّل عليه كل أعياد والدة الإله ) مع قراءة إنجيلقدّاس ( لو ١ : ٣٩ : ٥٦ ) عيد إصعاد جسد والدة الإله للسماء</p>

      {% endcreateArticleAccordions %}
    </section>
  {% endblock %}
