---
layout: 'layouts/reading.html'
title: 'تجسد الكلمة بين الهوس الكيهيكي وبين مزامير قراءات آحاد وأيام السنة القبطية'
tags: 'annual'
permalink: /articles/annual/1943.html
---
  {% block content %}
    <section id="article">
      <h3 class="mt-8 mb-4 heading-explain">شرح القراءات</h3>
      {% createArticleAccordions %}
        <p>وضعت كنيستنا المُقدَّسة الهوس الكيهيكي من سفر المزامير، وهذا وضع طبيعي لأنه سفر التسبيح وسفر الليتورجيا الكنسية، والمُلْفِت للنظر نوعية آيات المزامير التي إختارتها الكنيسة لتجعل منها الهوس الكيهيكي ، فنجدها إختارت مزامير التسبيح الخاصَّة بتجسُّد الكلمة لكي نعيش التسبيح بها في شهر كيهك .</p>
<p>ومزامير التسبيح الخاصة بتجسُّد الكلمة هي التي تتكلَّم عن ظهوره الإلهي في ملء الزمان لأجل خلاصنا ، وأيضاً عن    تجسُّده من والدة الإله التي إختارها لتكون أمَّاً له ، كما تتكلَّم عن الملائكة خدَّام تدبير الخلاص ، ويوحنا المعمدان السابق    المُعِدّ الطريق للرب ، والآباء الرسل الأطهار شهود ظهوره الإلهي بالجسد ، ومار مرقس الإنجيلي الرسول ، كما تتكلَّم   عن إستعلان قوَّة خلاصه في الشهداء والقديسين لأن الكلمة المُتجسِّد هو الناطق في الشهداء ، والمُمَجَّد في قديسيه ، ثم   تُخْتَم بتمجيد رئيس الرعاة الرب يسوع المسيح علي خلاصه وعِظَم رأفاته .</p>
<p>أي أنها مزامير تسبيح وتمجيد الله الظاهر في الجسد، والظاهر على الدوام في كنيسته المُقدَّسة.</p>
<p>كما أننا نتعجَّب إذا عرفنا أن كل الآيات التي جاءت في الهوس الكيهيكي هي نفس الآيات التي جاءت في قراءات كنيستنا  المُقدَّسة ( الآحاد والأيام ) في ما يخص إستعلان خلاص الله في الشعوب في ملء الزمان ، لذلك جاءت نفس الآيات في   آحاد كيهك وطوبه ( قراءات الظهور الإلهي ) وقراءات ٣٠ كيهك ( ثاني يوم عيد الميلاد ) ، ٢٩ برمهات ( عيد البشارة ) ، وفي أعياد العذراء ( ١ بشنس ) ، والملائكة ( ١٢ هاتور ، ٢٢ كيهك ، ٣ نسئ ) ، ويوحنا المعمدان ( ٢ توت ، ٢ ، ٣٠ بؤونه ) ، والآباء الرسل الأطهار ( ١٢ ، ٢٢ بابه ، ٢٦ بشنس ، ٥ أبيب ، ٢ نسئ ) ، وكاروز الديار مار مرقس    ( ٣٠ برمودة ) ، والشهداء ( ١٥ ، ٢٥ هاتور ، ٢٦ طوبه ، ١٣ برمهات ، ٢٣ ، ٢٧ برمودة ، ٢٠ أبيب ) ، والرعاة    ( ١٧ ، ٢٩ هاتور ، ٣ أبيب ) ، والقديسين ( ٢٢ طوبه ، ٢٠ بشنس ، ٢٦ مسري ، ١ نسئ ) ، والقديسات ( ٣٠ طوبه )</p>
<p>وهي جاءت أيضاً في الأعياد السيِّدية (لأنها تَخُصّ تدبير الخلاص) ، مثل عيد الختان ( ٦ طوبه ) ، وعيد البشارة ( ٢٩ برمهات ) ، وعيد التجلَّي ( ١٣ مسري ) ، كما جاءت أيضاً في باكر عيد الصليب ( ١٧ هاتور )</p>
<p>أمثلة علي آيات الهوس الكيهيكي التي جاءت في قراءات الآحاد والأيَّام والتي تُسبِّح الكلمة المتجسِّد:</p>
<p>+ سبحوا الرب تسبيحاً جديداً سبحوا الرب أيها الارض كلها سبحوا الرب وباركوا اسمه بشروا بخلاصه يوما فيوم وأخبروا في الامم وبعجائبه في جميع الشعوب لان الرب عظيم هو ومبارك جدا ومخوف على كل الآلهة (مز ٩٦)</p>
<p>جاء في مزمور عشيّة ١ توت (عيد النيروز)</p>
<p>تأتي هذه الآية ليس فقط في إفتتاحية الهوس الكيهيكي، ولكن أيضاً في إفتتاحية  الهوس السنوي، وهوس عيد الميلاد، وهوس أحد الشعانين، والقطعة التاسعة من هوس القيامة</p>
<p>وهي الآية التي تتكلَّم عن فرح البشرية بخلاص الله لجميع الأمم، والدعوة للكرازة بهذا الخلاص للأرض كلها، لذلك تبدأ به كنيستنا المُقدَّسة قراءات السنة القبطية الجديدة (عشيّة ١ توت) ، وتبدأ بها تسبحتها تقريباً في كل مناسبات الكنيسة</p>
<p>+ أيها الجالس علي الشاروبيم إظهر أمام أفرايم وبنيامين ومنسي انهض قوتك وهلم لخلاصنا اللهم أرددنا ولينر وجهك   علينا فنخلص (مز ٨٠)</p>
<p>جاءت في باكر الأحد الرابع من طوبه، قدَّاس الأحد الرابع من كيهك، ومزمور قدَّاس يوم ٨ هاتور (تذكار الأربعة حيوانات غير المُتجسِّدين )</p>
<p>+ قامت الملكة عن يمينك مشتملة بلباس موشي بالذهب مزينة بأنواع كثيرة (مز ٤٥)</p>
<p>اسمعي يا ابنتي وانظري وميلي سمعك وانسي شعبك وكل بيت ابيك فان الملك قد اشتهي حسنك لانه هو ربك ( مز ٤٥ )</p>
<p>جاءت في مزمور قدّاس يوم ٢٩ برمهات ( عيد البشارة )</p>
<p>+ تسجد له بنات صور يتلقون وجهك بالهدايا أغنياء شعوب الأرض ( مز ٤٥ )</p>
<p>جاءت في مزمور قدّاس يوم ١ بشنس ( ميلاد والدة الإله )</p>
<p>+ كل مجد ابنة الملك من داخل مشتملة بأذيال موشاة بالذهب مزينة بأشكال كثيرة يدخلن الي الملك عذاري خلفها يدخلن صاحباتها جميعاً يدخلن بالفرح والتهليل يدخلن الي هيكل الملك ( مز ٤٥ )</p>
<p>جاءت في مزمور قدّاس ٣٠ طوبه ( تذكار العذاري بستيس وهلبيس وأغابي وصوفيا أمهم ) ، ١ بشنس ( ميلاد والدة     الإله )</p>
<p>+ عظيم هو الرب ومبارك جداً في مدينة الهنا علي جبله المقدَّس تتسع كل الأرض بالتهليل جبال صهيون جوانب الشمال مدينة الملك العظيم (مز ٤٨)</p>
<p>جاءت في مزمور باكر يوم ١ بشنس (ميلاد والدة الإله)</p>
<p>+ أساساته في الجبال المقدسة الربُ أحبَّ أبواب صهيون أفضل من جميع مساكن يعقوب أعمال كريمة قيلت من اجلك   يا مدينة الله (مز ٨٧ )</p>
<p>جاءت في مزمور قدّاس يوم ١٣ مسري (عيد التجلَّي)</p>
<p>والمزمور الذي نصلِّيه امام أيقونة العذراء في دورة باكر عيد الصليب</p>
<p>+ ملحوظة</p>
<p>كل ما جاء هنا في الهوس الكيهيكي - وأيضاً الهوس السنوي - يخصّ أُمنا العذراء والدة الإله (ويخصّ أيضاً سر التجسُّد ) ، وهي آيات من مزامير ٤٥ ، ٤٨ ، ٨٧ ، وهي مزامير أعياد البشارة ، وميلاد والدة الإله ، كما جمعتها كنيستنا        المُقدَّسة في لحن جميل نُصلِّيه في تمجيد أُمنا العذراء والدة الإله ، وهو لحن أطاي بارثينوس ، والأوتار العشرة ( مز ٣٣ : ٢ ، ٩٢ : ٣ ، ١٤٤ : ٩ ) في تسبيح داود النبي</p>
<p>+ الام صهيون تقول ان إنساناً وانساناً حل فيها وهو العليِّ الذي أسسها الي الابد (مز ٨٧)</p>
<p>(مزمور عشيّة يوم ١ بشنس، ومزمور قداس يوم ١٣ مسري)</p>
<p>+ ملاك الرب يحوط بكل خائفيه ويُنجِّيهم ذوقوا انظروا ما أطيب الرب طوبي للرجل المتوكل عليه (مز ٣٤)</p>
<p>جاءت في مزمور عشيّة يوم ٢٢ كيهك (تذكار رئيس الملائكة غبريال) ، ومزمور عشيّة يوم ٣ نسئ ( تذكار رئيس       الملائكة رافائيل )</p>
<p>وامام أيقونة الملاك غبريال في دورة باكر عيد الصليب</p>
<p>+ الذي خلق ملائكته أرواحاً وخدّامه ناراً تتقد (مز ١٠٤)</p>
<p>جاءت في مزمور باكر يوم ١٢ هاتور (تذكار رئيس الملائكة ميخائيل)</p>
<p>وفي مزمور الهيكل الكبير في دورة باكر عيد الصليب</p>
<p>+ الذي جعل مسالكه على السحاب الماشي علي اجنحة الرياح (مز ١٠٤)</p>
<p>جاءت في مزمور باكر يوم ١٢ هاتور (تذكار رئيس الملائكة ميخائيل )</p>
<p>+ باركوا الرب يا جميع ملائكته الأشداء في قوتهم الصانعين قوله سبحوه يا جميع جنوده خدَّامه الصانعين ارادته باركوا الرب من السموات باركوه في الاعالي ( مز ١٠٣ )</p>
<p>جاءت في مزمور قدّاس يوم ١٢ هاتور ( تذكار رئيس الملائكة ميخائيل )</p>
<p>والمزمور الذي نصلِّيه أمام أيقونة الملاك ميخائيل في دورة باكر عيد الصليب</p>
<p>+ أمام الملائكة أرتل لك وأسجد نحو هيكلك المُقدَّس (مز ١٣٨)</p>
<p>جاءت في مزمور باكر يوم ٢٤ هاتور (تذكار الأربعة وعشرين قسيساً ) ، مزمور قدّاس يوم ٢٢ كيهك ( تذكار رئيس    الملائكة غبريال ) ، ومزمور قداس يوم ٣ نسئ ( تذكار رئيس الملائكة رافائيل )</p>
<p>وهو مزمور الهيكل الكبير في في أناجيل باكر عيد الصليب</p>
<p>+ السموات تنطق بمجد الله والفلك يُخبر بعمل يديه يوماً يقول كلاماً ليوم وليلاً يظهر علما لليل ليس من قول ولا من كلام (مز ١٩)</p>
<p>جاءت في مزمور عشيّة يوم ٢ نسئ (نياحة تيطس الرسول تلميذ يوحنا الانجيلي الرسول)</p>
<p>+ الذين لم يسمع لهم صوت خرجت اصواتهم علي الارض كلها وبلغ كلامهم الي أقطار المسكونة (مز ١٩)</p>
<p>جاءت في مزمور عشيّة يوم ٢ نسئ (نياحة تيطس الرسول تلميذ يوحنا الانجيلي الرسول)</p>
<p>باكر المزمور الثاني عشر</p>
<p>والمزمور الذي نصلِّيه أمام أيقونة الرسل الأطهار في دورة باكر عيد الصليب</p>
<p>+ الرب يعطي كلمة للمبشرين بعظم قوة وملك القوات هو الحبيب (مز ٦٨)</p>
<p>جاءت في مزمور قداس ١٢ بابه (تذكار متي الإنجيلي الرسول) ، مزمور عشيّة ٢٦ بشنس ( تذكار توما الرسول ) ،    مزمور عشيّة ٥ أبيب ، مزمور قدّاس ٢ نسئ ( نياحة تيطس الرسول تلميذ يوحنا الانجيلي  الرسول )</p>
<p>والمزمور الذي نصلِّيه أمام أيقونة مار مرقس في دورة باكر عيد الصليب</p>
<p>+ اعترفوا للرب وادعوا باسمه وبشروا بأعماله في الامم أخبروا بجميع عجائبه افتخروا باسمه القدّوس (مز ١٠٤)</p>
<p>جاءت في مزمور عشيّة ٢٢ بابه (شهادة القديس لوقا الإنجيلي)، مزمور باكر ٣٠ برمودة (شهادة مار مرقس) ، مزمور قداس ٢ نسئ ( نياحة تيطس الرسول تلميذ يوحنا الانجيلي الرسول )</p>
<p>١١٦ كريم أمام الرب موت اصفياءه يارب انا عبدك وابن أمتك حللت وثاقي فلك اذبح ذبيحة التسبيح وأوفي للرب نذوري في ديار بيت الهنا قدام جميع الشعب في وسط أورشليم (مز ١١٦)</p>
<p>جاءت في مزمور عشيّة عيد الختان</p>
<p>+ عجيب هو الله في قديسيه اله اسرائيل هو يعطي قوّة وعزاءً لشعبه يفرحون ويتهللون امام الله ويتنعمون بسرور مبارك الرب الاله (مز ٨٩، ٦٨)</p>
<p>جاءت في مزمور عشيّة يوم ١٤ بابه (نياحة القديس فيلبس أحد الشمامسة السبعة) ، مزمور عشيّة يوم ١٥ هاتور         ( شهادة مار مينا ) ، مزمور باكر يوم ٢٥ هاتور ( شهادة أبو سيفين ) ، مزمور قدّاس يوم ٢٧ برمودة ( شهادة بقطر بن رومانوس ) ، مزمور عشيّة يوم ٢٦ بشنس ( شهادة توما الرسول ) ، مزمور عشيّة يوم ٥ أبيب ( شهادة القديسين بطرس وبولس الرسولين )</p>
<p>والمزمور الذي نصلِّيه أمام أيقونة أنبا أنطونيوس في دورة باكر عيد الصليب</p>
<p>+ تقلد بسيفك علي فخذك ايها الجبار بحداثتك وبهائك امتد وسرّ وأملك (مز ٤٥)</p>
<p>جاءت في مزمور قدّاس يوم ٢٥ هاتور (شهادة أبو سيفين) ، مزمور باكر يوم ٢٠ أبيب ( شهادة القديس ثاؤدروس        الشطبي )</p>
<p>+ تطأ الأفعي وملك الحيَّات وتكسر الأسد والتنين لانه جعلني رجاءه فاخلصه واستره لانه قد عرف اسمي (مز ٩١)</p>
<p>جاءت في مزمور قدّاس يوم ٢٠ أبيب (شهادة القديس ثاؤدروس الشطبي )</p>
<p>+ خلاص الابرار من عند الرب وهو ناصرهم في زمن الشدائد الرب يعينهم وينجيهم وينقذهم من الخطاة لأنهم توكلوا   عليه (مز ٣٧)</p>
<p>+ فلتفرح الابرار بالفرح والصديقون صرخوا الي الرب فسمع لهم ونجاهم من جميع شدائدهم قريب الرب من مستقيمي   القلوب والمتواضعي الارواح يخلصهم (مز ٦٨، ٣٤)</p>
<p>+ كثيرة هي أحزان الصدّيقين والرب يخلصهم من جميعها الرب يحفظ جميع عظامهم وواحدة منها لا تنكسر (مز ٣٤)</p>
<p>جاءت في مزمور قدّاس يوم ١٥ هاتور (شهادة مار مينا)، مزمور باكر يوم ١ طوبه، مزمور عشيّة يوم ١٣ برمهات (شهادة الاربعين شهيداً بسبسطية ) ، مزمور باكر يوم ٢٣ برمودة ( شهادة مار جرجس )</p>
<p>+ نور أشرق للصديقين وفرح لمستقيمي القلوب افرحوا ايها الصديقون بالرب واعترفوا لذكر قدسه (مز ٩٧)</p>
<p>جاءت في مزمور عشيّة يوم ٩ هاتور (تذكار إنعقاد مجمع نيقية) ، مزمور باكر يوم ١٥ هاتور ( شهادة مار مينا ) ،     مزمور قداس يوم ١٣ برمهات ( شهادة الاربعين شهيداً بسبسطية ) ، مزمور قداس يوم ٢٣ برمودة ( شهادة مار جرجس ) ، مزمور باكر يوم الاحد الخامس )</p>
<p>والمزمور الذي نصلِّيه أمام امام أيقونة مار جرجس في دورة باكر عيد الصليب</p>
<p>+ البار يزهو مثل النخلة ويكثر مثل أرز لبنان المغروسون في بيت الرب يزهرون في ديار بيت الهنا (مز ٩٢)</p>
<p>جاءت في مزمور قدّاس يوم ٢ توت، ١٦بؤونه ، ٣٠ بؤونه ( كل تذكارات يوحنا المعمدان )</p>
<p>٣٧ فم البار يتلو الحكمة ولسانه ينطق بالحكم ناموس الله كائن في قلبه وخطواته لا تزل</p>
<p>جاءت في مزمور قدّاس يوم ٢٠ بشنس (نياحة القديس أمونيوس الأنطاكي ) ، مزمور قدّاس يوم ١ نسئ ( شهادة القديس  أفتيخوس تلميذ يوحنا الإنجيلي الرسول )</p>
<p>١٤٥ قديسيك يباركونك وينطقون بمجد ملكوتك يصنع ارادة خائفيه ويسمع تضرعهم ويخلصهم الرب يحفظ كل محبيه</p>
<p>جاءت في مزمور باكر يوم ٢٦ مسري (شهادة القديسين موسي وسارة أخته )</p>
<p>٣٢ افرحوا بالرب وتهلَّلوا ايها الابرار افتخروا يا جميع مستقيمي القلوب فلهذا يُصلَّي لك كل الابرار في زمان مستقيم</p>
<p>جاءت في مزمور عشيّة يوم ٩ هاتور (تذكار إنعقاد مجمع نيقية ) ، ٢٢ طوبه ( نياحة انبا أنطونيوس كوكب البرِّية )</p>
<p>٧٩ فلتسبق وتدركنا سريعاً رأفاتك لاننا قد تمسكنَّا جداً أعنّا يا الله مُخلصنا من اجل مجد اسمك يارب تخلصنا وتغفر لنا   خطايانا من اجل اسمك القدّوس</p>
<p>١٠٧ فليرفعوه في كنيسة شعبه وليباركوه علي منابر الشيوخ لانه جعل الابوات مثل الخراف ينظر المستقيمون ويفرحون</p>
<p>جاءت في مزمور باكر يوم ٢٩ هاتور (تذكار البابا بطرس بابا الإسكندرية) ، مزمور قدّاس يوم ٣ أبيب ( تذكار البابا   كيرلس الأوَّل بابا الإسكندرية )</p>
<p>١١٠ أقسم الرب ولن يندم أنك انت الكاهن الي الابد علي طقس ملشيصادق</p>
<p>جاءت في مزمور باكر يوم ١٧ هاتور (تذكار القديس يوحنا ذهبي الفم) ، مزمور قداس يوم ٢٩ هاتور ( تذكار البابا    بطرس بابا الإسكندرية ) ، مزمور عشيّة يوم ٣ أبيب ( تذكار البابا كيرلس الأوَّل بابا الإسكندرية )</p>
<p>٦٧ الله يترائف علينا ويباركنا ويشرق وجهه علينا ويرحمنا</p>
<p>مزموري عشيّة الاحد الاول من بابه</p>
<p>٢٨ يارب خلص شعبك بارك ميراثك إرعهم وارفعهم الي الابد</p>
<p>الاحد الرابع من توت</p>
<p>١٠٧ من هو الحكيمٍ فيحفظ ويتفهم مراحم الرب</p>

      {% endcreateArticleAccordions %}
    </section>
  {% endblock %}
