---
layout: 'layouts/reading.html'
title: 'نظرة عامة علي قراءات أيام السنة القبطية'
tags: 'annual'
permalink: /articles/annual/1945.html
---
  {% block content %}
    <section id="article">
      <h3 class="mt-8 mb-4 heading-explain">شرح القراءات</h3>
      {% createArticleAccordions %}
        <h3>المزامير</h3>
<p>جاءت بعض المزامير أكثر من مرة في قراءات الأيَّام المختلفة وجاءت بعض قراءات الأيام من نفس المزمور</p>
<p>أمثلة</p>
<p>١- (مزمور ٣٣) ( ٣٤ )</p>
<p>أكثر مزمور جاء في قراءات الأيام ( إثني عشر مرة ) ، مع مزمور ٦٧</p>
<p>( في ١٥ هاتور ، ٢٢ كيهك ، ١ ، ١٢ ، ٢٢ ، ٢٦ طوبه ، ١٣ برمهات ، ٢٣ برمودة ، ٢ بؤونه ، ١٧ ، ٢٥ مسري ، ٣ نسئ )</p>
<p>وهو المزمور الذي تكلَّم عن إفتقاد الله للبشرية وعنايته للأبرار والشهداء وحماية الملائكة لهم</p>
<p>تكررت الآيات التي تقول &#8221; كثيرة هي أحزان الصديقين ومن جميعها ينجيهم الرب . يحفظ الرب جميع عظامهم وواحدة منها لا تنكسر &#8221; والتي جاءت في قراءات سبعة أيام : في مزمور قدّاس ١٥ هاتور ( شهادة مارمينا ) ، مزمور باكر ١ طوبه ( شهادة القديس إستفانوس ) ، مزمور قدّاس ٢٦ طوبه ( شهادة التسعة والأربعين شهيداً ) ، مزمور عشيّة ١٣ برمهات ( شهادة الأربعين شهيداً ، باكر ٢٣ برمودة ( شهادة مارجرجس الروماني ) ، مزمور عشيّة ١٧ مسري ( شهادة القديس يعقوب )</p>
<p>والجزء الأول منها جاء في مزمور قداس ٢٢ طوبه ( نياحة أنبا أنطونيوس )</p>
<p>وفِي حماية الملائكة للأبرار</p>
<p>&#8221; يُعسكر ملاك الرب حول كل خائفيه وينجيهم ذوقوا وأنظروا ما أطيب الرب طوبي للإنسان المتكل عليه &#8221;</p>
<p>وأتي في : مزمور عشيّة ٢٢ كيهك ( تذكار الملاك غبريال ) ،٣ نسئ ( تذكار الملاك رافائيل )</p>
<p>وأتي جزء منه في يوم ٢٥ مسري ( أنبا بيصاريون الكبير )</p>
<p>وهو المزمور الذي يدعو الجميع للصلاة الدائمة وتمجيد الله كل حين ، ويُقال أن سبب ترتيل هذا المزمور وصية داود النبي عندما صار ملكاً لكل اللاويين وكهنة القري بالصلاة اليومية وأن يباركوا الرب كل حين ( تفسير سفر المزامير صفحة ٤٦٨ - إعداد راهب من دير المحرق )</p>
<p>كما يذكره القديس أثناسيوس الرسولي كأحد مزامير الشكر المعروفة ، وهي كما ذكرها القديس ( مزامير ٨ ، ٩ ، ١٨ ، ٣٤ ، ٤٦ ، ٦٣ ، ٧٧ ، ٨٥ ، ١١٥ ، ١١٦ ، ١٢١ ، ١٢٢ ، ١٢٤ ، ١٢٦ ، ١٢٩ ، ١٤٤ - الأرقام هنا حسب الترجمة البيروتية )</p>
<p>( كتاب رسالة القديس أثناسيوس الرسولي في معني المزامير  صفحة ٢٥ ، ٢٦ - ترجمة إيريس حبيب المصري )</p>
<p>٢- (مزمور ٦٧ )  ( ٦٨ )</p>
<p>وهو مزمور الكنيسة الشاهدة للمسيح سواء في كرازة الرسل أو في حياة القديسين</p>
<p>جاء هذا المزمور ١٢ مرة ( ١٢ ، ١٤ ، ٢٢ بابه ، ٨ ، ١٥ ، ٢٥ هاتور ، ٣٠ طوبه ، ٢٧ برمودة ، ٢٦ بشنس ، ٥ أبيب ، ٢٩ مسري ، ٤ نسئ )</p>
<p>تكلَّم عن الكنيسة صراحة في ١٢ بابه ( بيت الحبيب ) ، ٢٢ بابه ( في الكنائس ) ، ٨ هاتور ( في القدس ) ، ٣٠ طوبه ( في الكنائس )</p>
<p>وتكلَّم عن &#8221; شعبه أو قديسيه &#8221; في ١٤ بابه ، ١٥ هاتور ، ٢٥ هاتور ، ٢٧ برمودة ، ٢٦ بشنس ، ٥ أبيب ، ٤ نسئ</p>
<p>٣- (مزمور ١٠٤ ) ( ١٠٥ )</p>
<p>جاء تسع مرّات ( ٨ توت مرتان ، ٢٢ بابه ، ٣٠ برمودة ، ٢٤ بشنس مرتان ، ٢٨ مسري مرتان ، ٢ نسئ )</p>
<p>مزمور إفتقاد الله للأمم لذلك تكررت الآية &#8221; نادوا في الأمم بأعماله &#8221; في مزمور عشيّة ٢٢ بابه في تذكار لوقا الإنجيلي رسول الأمم ( اليونان ) وفِي مزمور باكر ٣٠ برموده في تذكار كاروز مصر مار مرقس الرسول وفِي مزمور قدّاس ٢ نسئ في تذكار تيطس الرسول</p>
<p>ويذكره القديس أثناسيوس الرسولي كأحد مزامير الصلاح الإلهي ( مزامير ٤٤ ، ٧٨ ، ٨٩ ، ١٠٥ ، ١٠٧ ، ١١٤ - بحسب الترجمة البيروتية ) أمام جحود البشر &#8221; ولإدراكك بصلاحه رغم جحود الإنسان &#8221;</p>
<p>( كتاب رسالة القديس أثناسيوس الرسولي في معني المزامير  صفحة ٣١ - ترجمة إيريس حبيب المصري )</p>
<p>٤- (مزمور ٤٤) ( ٤٥ )</p>
<p>جاء ثماني مرّات ( ١٩ توت ، ٢٥ هاتور ، ٤ ، ١٠ ، ٣٠ طوبه ، ٢٩ برمهات ، ١ بشنس ، ٢٠ أبيب )</p>
<p>تكلَّم هذا المزمور عن المسيح العريس والملك والعروس والدة الإله ( ٢٩ برمهات ، ١ بشنس ) والعذاري ( ٣٠ طوبه ) وكل نفس أُسْتعلن لها حبه في صليبه ( ١٩ توت ) وفي ظهوره الإلهي ( ١٠ طوبه ) وفِي شهود محبّته ( ٢٥ هاتور - ابو سيفين ، ٤ طوبه - يوحنا الحبيب ، ٢٠ أبيب - تادرس الإسفهسلار )</p>
<p>ويُقال في مقدمة المزمور &#8221; علي السوسن &#8221; الذي يرتبط ظهوره بفصل الربيع إشارة إلي حضور شمس البرّ إلي العالم ، ويربط القديسان يوحنا ذهبي الفم وأغسطينوس بين كلمات هذا المزمور وبين إتحاد كلمة الله بالطبيعة البشرية كإتحاد العريس بالعروس ، لذلك دُعي المزمور ترنيمة محبة</p>
<p>( تفسير سفر المزامير صفحة ٦٢٦ - إعداد راهب من دير المحرق )</p>
<p>ويقول عنه القديس أثناسيوس الرسولي :</p>
<p>&#8221; ولأن المرنم يعرف أن الكلمة هو ابن الله فهو يتغنى بهذه الحقيقة منشدا فى المزمور 45 &#8221; فاض قلبى بكلمة صالحة &#8221; ويعود فيكرر هذا الترنيم فى المزمور 110 &#8221;  من البطن قبل كوكب الصبح ولدتك  &#8221; فمن يكون هذا المولود من الآب غير كلمته وحكمته ؟  ولأن الأسفار الالهية قد عرفت كذلك أنه هو ذاك الذى قال به الآب : &#8221; ليكن نور ليكن جلد  &#8221;</p>
<p>&#8221; ويجمع المزمور ١١٠ بين الاعتراف والتنبؤ &#8221;</p>
<p>&#8221; وحين تخلو إلي نفسك داخل مخدعك وتشتاق إلي الترنم بالأحداث الخاصة بالمخلص فستجدها في كل مزمور تقريبا وعلي الأخص في المزمورين ٤٥ ، ١١٠ اللذان يوضحان ولادته الأزلية من الآب ثم ظهوره في الجسد &#8221;</p>
<p>( كتاب رسالة القديس أثناسيوس الرسولي في معني المزامير  صفحة ١٣ ، ١٤ ، ٢٥ ، ٣٦ ، ٣٧ - ترجمة إيريس حبيب المصري )</p>
<p>٥- (مزمور ٩٦) ( ٩٧ )</p>
<p>جاء هذا المزمور ثماني مرّات ( ١٥ ، ٢٤ هاتور ، ٢٢ كيهك ، ١٣ برمهات ، ٢٣ برموده ، ١٧ مسري ، ٣ ، ٤ نسئ )</p>
<p>وهو مزمور التسبيح والفرح بالرب ( نور أشرق للصديقين : وفرح للمستقيمين بقلبهم : افرحوا أيها الصديقون بالرب : واعترفوا لذكر قدسه )</p>
<p>هذه الآية التي جاءت في مزمور قدّاس ١٥ هاتور في تذكار مارمينا العجائبي ، في مزمور قدّاس ١٣ برمهات في تذكار الأربعين شهيداً بمدينة بوبسته ، ومزمور قدّاس ٢٣ برموده في تذكار مارجرجس الروماني ، وفِي مزمور قدّاس ١٧ مسري في تذكار شهادة القديس يعقوب ، وفِي مزمور باكر ٤ نسئ في تذكار أنبا بيمين</p>
<p>ويقول عنه القديس أثناسيوس الرسولي أنه أحد مزامير تقديم المديح لله :</p>
<p>&#8221; وحين يغمرك العجب من عناية الله فى كل شىء وتستذكر صلاحه الذى غمرك به أنت وجميع الشعب وتلهفت الى تقديم المديح لله فتغنى بالمزمور ١٤٤ واستكمل المديح بالمزمورين ٩٢ ، ٩٧ &#8221;</p>
<p>( كتاب رسالة القديس أثناسيوس الرسولي في معني المزامير  صفحة ٣٦ - ترجمة إيريس حبيب المصري )</p>
<p>٦- (مزمور ١٣١) ( ١٣٢ )</p>
<p>جاء سبع مرّات ( ٢٧ بابه ، ٩ ، ١٧ ، ٢٤ ، ٢٨ هاتور ، ٢ أمشير ، ٢٩ مسري )</p>
<p>وهو مزمور الكهنوت والرعاة الذين يكتسون ببرّ المسيح والشعب الذي يكتسي ببرّ التسبيح</p>
<p>تكررت كلمة &#8221; كهنتك يلبسون العدل &#8221; في قراءات باكر ٢٧ بابه ( أنبا مقار الأسقف ) ، مزمور قدّاس ٩ هاتور ( آباء مجمع نيقيه ) ، مزمور عشيّة ١٧ هاتور ( يوحنا ذهبي الفم ) ، مزمور قدّاس ٢٤ هاتور ( الأربعة وعشرين قسيساً ) ، مزمور باكر ٢٨ هاتور ( أنبا صرابامون أسقف نيقيا ) ، مزمور قدّاس ٢ أمشير ( أنبا بولا ) ، مزمور عشيّة ٢٩ مسري ( أنبا أثناسيوس الأسقف )</p>
<p>٧- (مزمور ١٠٩ ) ( ١١٠ )</p>
<p>جاء هذا المزمور ستة مرّات ( ١٧ ، ٢٩ هاتور ، ٢٨ كيهك ، ٣ أبيب ، ٢٩ مسري ، ٢ نسئ )</p>
<p>وهو مزمور كهنوت العهد الجديد ( كهنوت ملكي صادق ) لذلك تكررت الآية التي تقول &#8221; أنت هو الكاهن إلي الأبد علي طقس ملشيصادق &#8221; في مزمور باكر ١٧هاتور تذكار القديس يوحنا ذهبي الفم ، في مزمور قدّاس ٢٩ هاتور في تذكار البابا بطرس خاتم الشهداء ، مزمور عشيّة ٣ أبيب في تذكار القديس كيرلس الكبير  ، في مزمور باكر ٢٩ مسري في تذكار أنبا أثناسيوس الأسقف ، في مزمور باكر ٢ نسئ في نياحة تيطس الرسول</p>
<p>٨- (مزمور ٣٦) ( ٣٧ )</p>
<p>جاء هذا المزمور ستة مرّات ( ١٣ برمهات ، مرتين في ٢٠ بشنس ، ١٧ مسري ، مرتين في ١ نسئ )</p>
<p>وهو مزمور الصديقين لذلك جاء في تذكار الأربعين شهيداً بمدينة بوبسته ( ١٣ برمهات ) ، نياحة القديس أمونيوس الأنطاكي ( ٢٠ بشنس ) ، وشهادة القديس يعقوب ( ١٧ مسري ) وشهادة أبو يحنس تلميذ يوحنا الإنجيلي ( ١نسئ )</p>
<p>ويوضح القديس أثناسيوس الرسولي في هذا المزمور أن الفرق بين الصديقين والأشرار هو فرق حريّة الإرادة :</p>
<p>&#8221; ولو حدث أن لمحت شيئا من البشر بين المتعدين على الوصايا فلا تزعم أن الشر من طبيعتهم كما يؤكد المبتدعون بل ردد المزمور السابع والثلاثين فتدرك أنهم هم المسئولون عن خطيتهم  وكرر المزمور نفسه أن رأيت أشخاصا تافهين يقترفون الكثير من الأعمال الشريرة ويتشامخون على المتواضعين ، فرغبت فى أن تنصح شخصا ما أن لا يكلف نفسه بخدمتهم ولا أن يعمل مثلهم لأنهم يتبخرون سريعا &#8221;</p>
<p>كتاب رسالة القديس أثناسيوس الرسولي في معني المزامير  صفحة ٢٩ - ترجمة إيريس حبيب المصري</p>
<p>٩- (مزمور ٧١) ( ٧٢ )</p>
<p>جاء هذا المزمور سته مرّات ( مرتان في ٢٩ كيهك ، ثلاث مرّات في ٣٠ كيهك ، ٢٩ برمهات )</p>
<p>وهو مزمور التجسّد وميلاد المسيح ومجئ الملوك ( المجوس ) إليه</p>
<p>لذلك جاء في عيد الميلاد وثاني يوم عيد الميلاد وبشارة رئيس الملائكة لوالدة الإله</p>
<p>ويؤكِّد هذا أيضاً القديس أثناسيوس الرسولي أنه مزمور التجسُّد :</p>
<p>&#8221; بينما تعلن المزامير ٢١ ، ٥٠ ، ٧٢ ملكيته وسلطانه القضائى ، وكذلك ظهوره بالجسد ونداءه الأمم &#8221;</p>
<p>كتاب رسالة القديس أثناسيوس الرسولي في معني المزامير  صفحة ٣٧ - ترجمة إيريس حبيب المصري</p>
<p>١٠- (مزمور ٩١) ( ٩٢ )</p>
<p>جاء هذا المزمور سته مرّات ( مرتان في ٢ توت ، مرتان في ١٦ بؤونه ، مرتان في ٣٠ بؤونه )</p>
<p>وهذا المزمور يصف قوة إيمان الأبرار وسموّ حياتهم ( ويرتفع قرني مثل وحيد القرن ) ، ( الصديق كالنخلة يزهو ) لذلك جاء في تذكارات يوحنا المعمدان وتذكار القديس أبو نوفر</p>
<p>ويقول القديس أثناسيوس الرسولي أن الأبرار هم الذين يغمرهم العجب من عناية الله ويتذكَّروا علي الدوام صلاحه</p>
<p>&#8221; وحين يغمرك العجب من عناية الله فى كل شىء وتستذكر صلاحه الذى غمرك به أنت وجميع الشعب وتلهفت الى تقديم المديح لله فتغنى بالمزمور ١٤٤ واستكمل المديح بالمزمورين ٩٢ ، ٩٧.&#8221;</p>
<p>كتاب رسالة القديس أثناسيوس الرسولي في معني المزامير  صفحة ٣٦ - ترجمة إيريس حبيب المصري</p>
<p>١١- (مزمور ٤)<br />
جاء خمس مرّات ( ١٧ توت ، ٢٢ هاتور ، ١٣ طوبه ، ٢٧ برموده ، ١٠ بشنس )</p>
<p>وهو مزمور برّّ المسيح ونوره &#8221; قد إرتسم علينا نور وجهك يارب &#8221;</p>
<p>وتكررت هذه الآية في مزمور عشيّة ١٧ توت في تذكار الصليب ، وفِي مزمور عشيّة ٢٢ هاتور في شهادة قزمان وأخوته ووالدتهم ، وفِي مزمور عشيّة ٢٧ برمودة في تذكار مار بقطر ، وفِي مزمور عشيّة ١٠ بشنس في نياحة الثلاثة فتية القديسين</p>
<p>ويشير القديس أثناسيوس في هذا المزمور إلي إستجابة الله لصراخ القديسين مثل قزمان وإخوته ووالدتهم والثلاثة فتية</p>
<p>&#8221; وحين تزول ضيقاتك بعد أن أستجديت الله فأستجابك وودت أن ترفع الشكر فترنم بالمزمور الرابع &#8221;</p>
<p>كتاب رسالة القديس أثناسيوس الرسولي في معني المزامير  صفحة ٢٧ - ترجمة إيريس حبيب المصري</p>
<p>١٢- (مزمور ٣١) ( ٣٢ )</p>
<p>جاء هذا المزمور خمس مرّات ( ١٤ بابه ، ٩ هاتور ، ٢٢ ، ٢٦ طوبه ، ٢ أمشير )</p>
<p>وهو مزمور تسبيح الصديقين الذي تكررت فيه الآية &#8221; إفرحوا أيها الصديقون بالرب وتهلَّلوا &#8221; لذلك جاء مع تذكار الأنبا أنطونيوس ( ٢٢ طوبه ) والأنبا بولا ( ٢ أمشير ) والتسعة والأربعين شيخاً شهود شيهيت ( ٢٦ طوبه )</p>
<p>ونلاحظ أيضاً مجئ مزمور ٣١ : ١٢ ، ٧ ، مز ٣٢ : ١ ، ١٢ في مزمور عشيّة ومزمور باكر تذكار الأنبا أنطونيوس ( ٢٢ طوبه ) وتذكار التسعة والأربعين شهيداً شيوخ شيهيت ( ٢٦ طوبه ) وتذكار الأنبا بولا ( ٢أمشير )</p>
<p>ويقول القديس أثناسيوس أنه إحدي مزامير الوعد بالبركة</p>
<p>&#8221; أما التى تعلن عن الوعد بالبركة فهي ١ ، ٣٢ ، ٤١ ، ١١٩ ، ١٢٨ &#8221;</p>
<p>كتاب رسالة القديس أثناسيوس الرسولي في معني المزامير  صفحة ٢٦ - ترجمة إيريس حبيب المصري</p>
<p>١٣- (مزمور ١٨) ( ١٩ )</p>
<p>جاء هذا المزمور خمس مرّات ( ٩ هاتور ، ٤ طوبه ، ٢٦ بشنس ، ٥ أبيب ، ٢ نسئ )</p>
<p>وهو مزمور الآباء الرسل وكرازتهم في المسكونة كلها</p>
<p>لذلك تكررت الآية &#8221; في كل الأرض خرج منطقهم ، وإلي أقطار المسكونة بلغت أقوالهم &#8221; وجاءت في مزمور قدّاس ٩ هاتور في تذكار آباء مجمع نيقيه ، وفِي مزمور عشيّة ٤ طوبه في تذكار يوحنا الرسول ، وفِي مزمور قدّاس ٢٦ بشنس في تذكا توما الرسول ، وفِي مزمور قدّاس ٥ أبيب في تذكار القديسين بطرس وبولس ، وفِي مزمور عشيّة ٢ نسئ في تذكار تيطس الرسول</p>
<p>١٤- (مزمور ٤١) ( ٤٢ )</p>
<p>جاء هذا المزمور خمس مرّات ( مرتين في ١٠ طوبه ، ومرة واحده في ١١ ، ١٢ طوبه ، ٢٥ مسري )</p>
<p>يأتي أربع مرّات منها في برامون وأوَّل وثاني يوم عيد الظهور الإلهي ( الغطاس )</p>
<p>وهو المزمور الأوَّل في مجموعة المزامير التي تتكلّم عن الكنيسة والخلاص ( مز ٤٢ - ٥٠ )</p>
<p>١٥- (مزمور ١٠٣) ( ١٠٤ )</p>
<p>جاء هذا المزمور خمس مرّات ( ١٢ هاتور ، ١٢ ، ١٣ طوبه ، ١٣ ، ٢٥ مسري )</p>
<p>وهو مزمور تمجيد الله الخالق علي أعماله العظيمة كما يقول أبونا تادرس يعقوب ملطي</p>
<p>&#8221; يُعْتَبَر أنشودة خاصة ب&#8221;يهوه&#8221;، أي كلمة الله، الخالق، والمدبر للخليقة، والمخلص. لا يتحدث عن طبيعة الله غير المدركة، إنما يمجده، حسبما يعلن الله عن نفسه لأجل بنيان خليقته المحبوبة جدًا لديه، خاصة الإنسان.&#8221; ( تفسير المزمور - القمص تادرس يعقوب ملطي )</p>
<p>لذلك جاء مع تمجيد الملائكة ( ١٢ هاتور ) وظهور مجد الله في معموديته من يوحنا ( ١٢ طوبه ) وفِي عرس قانا الجليل ( ١٣ طوبه ) وفِي التجلّي ( ١٣ مسري ) وفِي حياة قديسيه ( ٢٥ مسري )</p>
<p>ويؤكِّد القديس أثناسيوس علي نفس المعني :</p>
<p>&#8221; وما دام أنه من اللائق أن نقدم السبح لله فى كل حال وخلال كل حال وشئت أن تستودع أمرك فى يديه ، يجب أن تستنهض نفسك الى الأمام بترديدك المزمورين ١٠٣ ، ١٠٤ &#8221;</p>
<p>كتاب رسالة القديس أثناسيوس الرسولي في معني المزامير  صفحة ٣٥ - ترجمة إيريس حبيب المصري</p>
<p>١٦- (مزمور ١٤٤) ( ١٤٥ )</p>
<p>جاء هذا المزمور خمس مرّات ( ١٨ توت ، ١٤ بابه ، ٢٦ بشنس ، ٥ أبيب ، ٢٦ مسري )</p>
<p>وهو مزمور تمجيد إسم الله علي صليبه وخلاصه ( ١٨ توت ) وإعلان مجده للآخرين لذلك جاء مع كرازة الرسل بنفس الآيات ٨ ، ٩ ( فيلبس المبشر ١٤ بابه ، توما الرسول ٢٦ بشنس ، بطرس وبولس ٥ أبيب )</p>
<p>ويقول القديس أثناسيوس أنه إحدي مزامير التسبيح :</p>
<p>&#8221; ولكن التسبيح وحده قد ورد فى عدد كبير من المزامير هى ٩١ ،١١٣  ، ١١٧ ، ١٣٥ ، ١٤٥ ، ١٤٨ ، ١٥٠ &#8221;</p>
<p>كتاب رسالة القديس أثناسيوس الرسولي في معني المزامير  صفحة ٢٥ - ترجمة إيريس حبيب المصري</p>
<p>١٧- (مزمور ٦٤) ( ٦٥ )</p>
<p>جاء هذا المزمور أربع مرّات ( ١٦ ، ١٧ توت ، ٢٠ بشنس ، ١ نسئ )</p>
<p>ويشرح ابونا تادرس يعقوب ملطي لماذا إختارت الكنيسة هذا المزمور بالذات في تذكار تجديد كنيسة القيامة ( ١٦ توت ) وعيد الصليب ( ١٧ توت )</p>
<p>&#8221; في ليتورجية عيد تجديد كنيسة القيامة في أورشليم وفي عيد الصليب ومزمور إنجيل أحد الشعانين، ترنم الكنيسة بالعددين ١ ، ٢ من هذا المزمور للأسباب التالية:</p>
<p>أ. الكنيسة هي جماعة التسبيح والفرح الداخلي؛ وصليب السيد المسيح هو مصدر الفرح والينبوع الذي يفيض علينا بروح التسبيح لله محب البشر.</p>
<p>ب. أبواب كنيسة العهد الجديد مفتوحة لكل إنسان، أيًا كانت جنسيته، ومهما كانت خطاياه، فهي تدعو الجميع للتمتع بالصليب، حيث بذل كلمة الله المتجسد نفسه من أجل العالم كله.</p>
<p>ج. جاءت كلمة &#8220;الصلاة&#8221; في العبرية هنا تعني أيضًا &#8220;النذر&#8221;، فإذ أعلن الله محبته العملية للبشرية، يتقبل بمسرة نذر المؤمنين بالتجاوب بالحب مقابل الحب.&#8221;</p>
<p>تفسير مزمور ٦٥ - القمص تادرس يعقوب ملطي</p>
<h4>المزامير التي تكررت في ذات اليوم</h4>
<p>١- ٢ توت ( يوحنا المعمدان )</p>
<p>جاء (مزمور ٩١) مرتين وهو مزمور التسبيح ومجد إنسان العهد الجديد وفِي هذا اليوم يُشير إلي يوحنا المعمدان القوي مثل قرن وحيد القرن والسامي مثل أرز لبنان</p>
<p>٢- ٨ توت ( موسي النبي وتذكار أنبياء العهد القديم )</p>
<p>جاء (مزمور ١٠٤) مرتين</p>
<p>هذا المزمور هو إحدي المزامير الأربعة التي تتغني بمعاملات الله مع شعبه ( تفسير ابونا تادرس يعقوب للمزمور ) مزامير ٧٨ ، ١٠٤ ، ١٠٦ ، ١٣٦</p>
<p>لذلك جاء في تذكار الأنبياء ليكشف عن رعاية الله لشعبه في القديم من خلال الأنبياء</p>
<p>٣- ٢٦ توت ( تذكار حبل اليصابات )</p>
<p>جاء في قراءات هذا اليوم (مزمور  ١٠١) مرتين</p>
<p>وهو المزمور الذي يُعْلِن إفتقاد الله للمساكين وللبشرية الضعيفة التي أصابها العار فإفتقدها الله في ملء الزمان وأعطاها مجده الإلهي</p>
<p>٤- ٢٩ ، ٣٠ كيهك ( عيد الميلاد وثاني يوم عيد الميلاد )</p>
<p>جاء (مزمور ٧١) مرتين في ٢٩ كيهك وثلاث مرّات في ٣٠ كيهك</p>
<p>يقول ابونا تادرس يعقوب ملطي عن هذا المزمور</p>
<p>&#8221; يُقال إن هذا المزمور كان يُستخدم في الكنيسة الأولى كتسبحة في عيد ميلاد السيد المسيح وعماده، فتحتفل بقبول الأمم لمملكة المسيح والخضوع له، كما تتذكر مجيء المجوس من الأمم للخضوع للملك.&#8221;</p>
<p>ويقول أيضاً</p>
<p>&#8221; يعتبر هذا المزمور خاتمة القسم الثاني من سفر المزامير الذي يطابق سفر الخروج (مز ٤٢ - ٧٢ )، والتي تتحدث عن الخلاص كحياة كنسية جماعية. جاءت مقدمة هذا القسم (مز ٤٢ - ٨٤ ) تعلن عن الأم الكنيسة شعب الله وخلاصها وهذا يطابق بداية (خر ١-١٥)، وجاء هذا المزمور الختامي يطابق ما ورد في نهاية (خر ٢٥-٤٠) حيث يعلن عن إقامة خيمة الاجتماع وظهور مجد الله علانية فيها كقصرٍ للملك السماوي، يريد أن يسكن وسط شعبه.</p>
<p>هنا في نهاية هذا القسم من سفر المزامير ننعم بمملكة ابن داود، مملكة المسيَّا مخلص العالم.&#8221;</p>
<p>تفسير المزمور - القمص تادرس يعقوب ملطي</p>
<p>٥- يوم ١٠ طوبه ( برامون الغطاس )</p>
<p>وهو مزمور الخلاص الذي ظهر في معمودية الرب من يوحنا كإشارة إلي معمودية العهد الجديد التي بها ننال قوة موت المسيح وقيامته</p>
<p>وقد جاء في مزمور عشيّة وباكر برامون عيد الغطاس</p>
<p>٦- (مزمور ٣٢:١) ( ٢٢ طوبه ، ٢٦ طوبه )</p>
<p>&#8221; من أجل ذلك تبتهل إليك الأبرار في آوان مستقيم &#8221;</p>
<p>جاءت هذه الآية في مزمور عشيّة ومزمور باكر في تذكار الأبرار في ٢٢ طوبه ( الأنبا أنطونيوس ) ، ٢٦ طوبه ( تذكار التسعة والأربعين شهيداً شيوخ شيهيت )</p>
<p>٧- ٢٣ برمودة ( مار جرجس )</p>
<p>جاء (مزمور ٣٣) في عشيّة وباكر لهذا اليوم وهو مزمور إفتقاد الله لأولاده في آلامهم</p>
<p>٨- ٢٠ بشنس ( نياحة القديس أمونيوس الأنطاكي ) ، ١نسئ</p>
<p>جاءت آيات من (مزمور ٣٦) في مزمور باكر ومزمور القدَّاس وهو مزمور الصديقين</p>
<p>لذلك تكرَّرت نفس الآيات في ١ نسئ شهادة أبو يحنس تلميذ يوحنا الإنجيلي</p>
<p>٩- ٢٤ بشنس ( دخول ربنا يسوع المسيح أرض مصر )</p>
<p>وجاءت آيات منه في مزمور عشيّة ومزمور القدَّاس لهذا اليوم وهو المزمور الذي تكلَّم عن مصر</p>
<p>١٠ - ١٦ ، ٣٠ بؤونه ( تذكار القديس ابونوفر ، تذكار ولادة يوحنا المعمدان )</p>
<p>جاءت آيات من (مزمور ٩١) في مزمور باكر والقدّاس في ١٦ بؤونه وتكررت نفس الآيات في ٣٠ بؤونه</p>
<p>وهي الآيات التي تكشف عن قوة حياة الأبرار وسموَّها</p>
<p>١١ - ٢٨ مسري ( تذكار الآباء إبراهيم وإسحق ويعقوب )</p>
<p>جاءت آيات منه في مزمور باكر ومزمور القدَّاس في ٢٨ مسري وهو المزمور الذي تكلَّم عن الآباء إبراهيم وإسحق ويعقوب</p>
<p>١٢ - ٦ نسئ</p>
<p>جاءت كل مزاميره من (مزمور ١١٨)</p>
<p>وهو المزمور الذي يتكلَّم عن كمال أعمال الله وكمال وصيَّته وشريعته</p>
<h3>قراءة البولس</h3>
<h3>القراءة المُتكرِّرة أربع مرّات</h3>
<p>١- (رو ١٠:٤-١٨)</p>
<p>جاءت هذه القراءة أربع مرّات ( ٤ طوبه ، ٢٦ بشنس ، ٥ أبيب ، ١ نسئ )</p>
<p>وهي القراءة التي تختص ببرّ العهد الجديد وكرازة الرسل للشعوب والأمم</p>
<p>لذلك جاءت في تذكار يوحنا الحبيب ( ٤ طوبه ) وتلميذه ( ١ نسئ ) وتوما الرسول ( ٢٦ بشنس ) وبطرس وبولس الرسولين ( ٥ أبيب )</p>
<p>٢- (عب ١١ : ٣٢ - ١٢ : ١ - ٢)</p>
<p>جاءت هذه القراءة أربع مرّات ( ٢ توت ، ١٠ بشنس ، ١٦ ، ٣٠ بؤونه )</p>
<p>وهي القراءة التي تُعْلِن أبطال الإيمان الذين تجربوا في قيود وحبس وماتوا قتلي بالسيف ( يوحنا المعمدان - ٢ توت ، ٣٠ بؤونه ) والذين أطفأوا قوة النار ( الثلاثة فتية - ١٠ بشنس ) والتائهين في براري وجبال ومغاير وشقوق الأرض ( أبانوفر السائح - ١٦ بؤونه )</p>
<h4>القراءة المُتكرِّرة مرتين</h4>
<p>١- (تي ٢:١١-٣:١-٧)</p>
<p>جاءت في ١٤ بابه ، ١١ طوبه</p>
<p>وهي القراءة الخاصة بالمعمودية لذلك جاءت في تذكار فيلبس المبشر ( ١٤ بابه ) وفِي عيد الغطاس ( ١١ طوبه )</p>
<p>٢- (عب ١:١-٢:١-٤)</p>
<p>جاءت في ١٢ هاتور ، ٢٩ كيهك</p>
<p>وهي القراءة الخاصة بالملائكة وخدمة الخلاص لذلك جاءت في تذكار رئيس الملائكة ميخائيل ( ١٢ هاتور ) وفِي عيد الميلاد المجيد ( ٢٩ كيهك )</p>
<p>٣- (عب ١٢:٣-١٤)</p>
<p>جاءت في ١٥ هاتور ، ٢٦ طوبه</p>
<p>وهي قراءة إحتمال الآلام لذلك جاءت في تذكار مارمينا والتسعة والأربعين شهيداً</p>
<p>٤- (رو ٨:١٤-٢٧)</p>
<p>جاءت مرتين في ٢٢ هاتور ، ٢٦ مسري</p>
<p>وهي القراءة التي تتكلّم عن الأبناء والأولاد والورثة لذلك جاءت في تذكار قزمان وإخوته ( ٢٢ هاتور ) وموسي وسارة أخته ( ٢٦ مسري )</p>
<p>٥- (٢كو ١٠:١-١٨)</p>
<p>جاءت في ٢٥ هاتور ، ١٣ برمهات</p>
<p>وهي قراءة الأسلحة الروحية والسلطان لذلك جاءت في تذكار أبو سيفين ( ٢٥ هاتور ) والأربعين شهيداً بمدينة بوبسته ( ١٣ برمهات )</p>
<p>٦- (غل ١:١-١٩)</p>
<p>جاءت في ٢٧ هاتور ، ١٧ مسري</p>
<p>وهي القراءة الخاصة بيعقوب أخا الرب ( جاء في القراءات الخاصة بيوم ٢٧ هاتور كل ما يختص بإسم يعقوب في العهد القديم والجديد ) لذلك جاءت في تذكار يعقوب المقطع ( ٢٧ هاتور ) وفِي شهادة القديس يعقوب ( ١٧ مسري )</p>
<p>٧- (عب ٢:٥-١٨)</p>
<p>جاءت في ٢٢ كيهك ، ٣ نسئ</p>
<p>وهي القراءة الخاصة بالملائكة لذلك جاءت في تذكار رئيس الملائكة غبريال ( ٢٢ كيهك ) ، والملاك روفائيل ( ٣ نسئ )</p>
<p>٨- (في ٣:٢٠-٤:١-٩)</p>
<p>جاءت في ٢٢ طوبه ، ٢٥ مسري</p>
<p>وهي القراءة الخاصة بالمواطنة والسيرة السماوية وطريق الكمال لذلك جاءت في تذكار أنبا أنطونيوس ( ٢٢ طوبه ) وأنبا بيصاريون الكبير ( ٢٥ مسري )</p>
<p>٩- (عب ١١:١-١٠)</p>
<p>جاءت هذه القراءة في ٢ بؤونه ، ٢٨ مسري</p>
<p>وتُشير القراءة إلي هابيل في موته مثل يوحنا المعمدان ( ٢ بؤونه ) والذي كان مثله في موته كما قيل وإن مات يتكلَّم بعد</p>
<p>وتُشير إلي إيمان أب الآباء إبراهيم ( ٢٨ مسري ) الذي لما دُعي أطاع أن يخرج إلي المكان الذي كان عتيداً أن يأخذه</p>
<p>قراءة البولس في تذكارات الشهداء( مثال لإختلاف القراءة حسب حياة القديس رغم تشابه موضوع القراءة وهو شهادته للمسيح )</p>
<p>يأتي البولس ( عب ١٢ : ٣ - ١٤ ) في تذكار مارمينا وتذكار التسعة والأربعين شهيداً عن إحتمال الآلام مثل المسيح لكن يأتي البولس ( ٢ كو ١٠ : ١ - ١٨ ) في تذكار أبو سيفين وتذكار الأربعين شهيداً بمدينة بوبسته عن الأسلحة الروحية ويأتي البولس ( رو ٨ : ٢٨ - ٣٩ ) في تذكار مار جرجس عن القوة الإلهية في الشهداء ومن يقدر أن يقف أمامها ويأتي البولس ( رو ٨ : ١٨ - ٣٠ ) في تذكار مار بقطر عن مجد الشهداء</p>
<h3>قراءة الكاثوليكون</h3>
<p>(يع ١:١-١٢)</p>
<p>جاءت ( ٢٧ هاتور ، ١٧ مسري ) ومُشابه لها قراءة ٢٦ توت ( يع ١ : ١ - ١٨ ) للكلام عن الذين إحتملوا التجارب الشديدة المتنوعة مثل القديس يعقوب المُقطع ( ٢٧ هاتور ) والقديس يعقوب بن فجوج ( ١٧ مسري ) والقديسة إليصابات ( ٢٦ توت )</p>
<p>(يع ٥:٩-٢٠)</p>
<p>هذه القراءة جاءت ثلاث مرّات ( ٢ توت ، ٢٢ طوبه ، ١٦ بؤونه ) والكلام هنا عن نموذج حياة الأبرار لنا ( خذوا يا إخوتي مثالاً لإحتمال المشقات &#8230; ) لذلك جاء مع تذكار يوحنا المعمدان والأنبا أنطونيوس والأنبا نوفر</p>
<p>مع وجود قراءتين متشابهتين في ٢٥ مسري ( يع ٥ : ٩ - ١٢ ) وهي الخاصة أيضا بالأنبا بيصاريون الكبير كنموذج أيضاً للأبرار ، وفي ٦ نسئ ( يع ٥ : ١٦ - ٢٠ ) لأجل كمال الأيام في السنة الكبيسة ( ثلاث أيام وستة أشهر )</p>
<p>(١بط ١ : ٢٥ - ٢ : ١ - ١٠)</p>
<p>قراءة ١ ، ٣ طوبه ، ٢ بؤونه</p>
<p>والكلام هنا عن الذين قدموا حياتهم ذبائح روحية لله وشهدوا له في إستشهادهم أنهم جنس مختار وأمة مقدسة بإيمانهم القوي لذلك جاءت في تذكار شهادة القديس إستفانوس ( ١ طوبه ) وشهادة أطفال بيت لحم ( ٣ طوبه ) وعظام يوحنا المعمدان ( ٢ بؤونه )</p>
<p>(١بط ١:٣-١٢)</p>
<p>جاءت هذه القراءة خمس مرّات ( ١٨ توت ، ١٢ بابه ، ٩ هاتور ، ٢٢ كيهك ، ٣ نسئ ) ومُشابه لها قراءة ٢٩ هاتور</p>
<p>والكلام هنا نقاوة الإيمان المسيحي ( مجمع نيقيه في ٩ هاتور ) والخلاص الذي أُعْلِن في الصليب ( ثاني يوم عيد الصليب في ١٨ توت ) وكرازة الرسل به ( متي الإنجيلي في ١٢ بابه ) والذي هو شهوة الملائكة ( رؤساء الملائكة غبريال وروفائيل في ٢٢ كيهك ، ٣ نسئ )</p>
<p>(١بط ٣:١٥-٢٢)</p>
<p>جاءت ثلاث مرّات ( ٢٢ بابه ، ٨ هاتور ، ١٢ طوبه )</p>
<p>يأتي هنا الكلام عن السيرة الصالحة وكرازة الحياة المُقدَّسة ( لوقا الإنجيلي في ٢٢ بابه ) وخضوع الملائكة والسلاطين للمسيح له المجد في صعوده بالجسد للسماء ( الأربعة حيوانات الغير متجسدة في ٨ هاتور ) والمعمودية ( ثاني يوم عيد الغطاس في ١٢ طوبه )</p>
<p>(١بط ٤:١-١١)</p>
<p>جاءت ثلاث مرّات ( ٢٥ هاتور ، ١٣ برمهات ، ٢٣ برموده )</p>
<p>وهنا الكلام عن التَسلُّح بآلام المسيح وذلك في تذكارات الشهداء المشهورين بإحتمالهم الآلام ورتبتهم كضباط في الجيش وكأن آلام المسيح له المجد كانت أسلحتهم مثل ابو سيفين ( ٢٥ هاتور ) ، مار جرجس ( ٢٣ برموده ) ، شهادة الأربعين شهيداً بمدينة بوبسته ( ١٣ برمهات )</p>
<p>(١بط ٤:١٢-١٩)</p>
<p>جاءت ثلاث مرّات ( ١٥ هاتور ، ٢٦ طوبه ، ١٠ بشنس )</p>
<p>وهنا آلام الشهداء التي آلت إلي مجد المسيح ( يمجد الله بهذا الإسم ) مثل مار مينا في ١٥ هاتور والتسعة والأربعين شيخاً شهداء برية شيهات ( ٢٦ طوبه ) والثلاثة فتية القديسين ( ١٠ بشنس )</p>
<p>(١بط ٥:١-١٤)</p>
<p>جاءت أربع مرّات ( ١٧ ، ٢٤ هاتور، ٢ أمشير ، ٣٠ برموده )</p>
<p>وتشابه معها قراءتين أخريين ( ٢٠ بشنس من ١بط ٥ : ٥ - ١٤ ) ، ( ٤ نسئ من ١بط ٥ : ١ - ١١ )</p>
<p>وهنا الكلام عن الرعاية والرعاة ( ارعوا رعية الله التي بينكم ) لذلك جاءت في تذكار ذهبي الفم ( ١٧ هاتور ) والأربعة والعشرين قسيس ( ٢٤ هاتور ) ومار مرقس ( ٣٠ برمودة )</p>
<p>كما أن القراءة تتكلّم أيضاً عن السهر واليقظة ومقاومة إبليس لذلك جاءت مع تذكار آباء البرية مثل الأنبا بولا ( ٢ أمشير ) والقديس امونيوس الأنطاكي ( ٢٠ بشنس ) والقديس بيمن المتوحد ( ٤ نسئ )</p>
<p>(١يو ١ : ١ - ٢ : ١ - ٦)</p>
<p>جاءت ( ٤ طوبه ، ٢٩ برمهات ، ١ نسئ )</p>
<p>وهنا الرسالة من يوحنا وشهادته التي بدأ بها رسالته لذلك جاءت في تذكاراً ( ٤ طوبه ) وتذكار تلميذه ( ١ نسئ ) وعن ظهور الله في الجسد كشاهد عيان لها لذلك جاءت في قراءة عيد البشارة ( ٢٩ برمهات )</p>
<p>(١بط ٣:٨-١٥)</p>
<p>جاءت مرتين ( ٢٧ برموده ، ٢٠ أبيب ) مع وجود قراءة أخري مُشابه لها ( ٣٠ طوبه من ١بط ٣ : ٥ - ١٤ )</p>
<p>وهنا قراءة ٢٧ برمودة ( تذكار بقطر بن رومانوس ) هي نفس قراءة ٢٠ أبيب ( تذكار تادرس الإسفهسلار ) وهما كانا قد وصلا إلي مراتب عُليا في الإمبراطورية الرومانية ولم يخشيا أمر الإمبراطور وشهدا للمسيح له المجد ( وأما خوفهم فلا تخافوه )</p>
<p>أما قراءة ٣٠ طوبه ( تذكار العذاري بستيس وهلبيس وأغابي ) تأتي من بداية الإصحاح لتُشير إلي مكانه المرأة ورسالتها في خلاص زوجها وأسرتها ( هكذا كانت قديماً النساء القديسات .. )</p>
<p>(٢بط ١ : ١٩ - ٢ : ١ - ٨)</p>
<p>جاءت في ٨ توت وأخري تشبهها في ٣٠ مسري ( ٢بط ١ : ١٩ - ٢: ١ - ٣ )</p>
<p>وهنا الكلام عن كرامة الأنبياء ( وثابت عندنا كلام الأنبياء ) ووحي النبوَّة ( بل تكلَّم أناس بإرادة الله بالروح القدس )</p>
<p>لذلك جاءت القراءة مع تذكار موسي النبي ( ٨ توت ) ومعه أنبياء العهد القديم وجاءت في تذكار خاتم أنبياء العهد القديم ملاخي النبي ( ٣٠ مسري )</p>
<p>(٢بط ١:١٢-٢١)</p>
<p>جاءت في ( ٦ طوبه ، ٢٦ بشنس ، ٥ أبيب ، ١٣ مسري ) وقراءتين أخريين متشابهتين معهم ( ٢٩ كيهك من ٢بط ١ : ١٢ - ١٧ ) ، ( ١٠ طوبه من ٢بط ١ ؛ ١٢ - ١٩ )</p>
<p>نري هنا شهادة القديس بطرس عن ظهور مجد إبن الله في التجلّي ( وقد سمعنا نحن هذا الصوت من السماء حين كنّا معه علي الجبل المُقدَّس ) لذلك جاءت في عيد التجلّي ( ١٣ مسري ) ، وجاءت القراءة أيضاً في عيد الختان ونور إبن الله الذي أُستعلن للأمم ( ٦ طوبه ) ، وتذكار القديس بطرس وبولس ( ٥ أبيب ) ، والقديس توما الرسول ( ٢٦ بشنس ) وفِي أعياد الظهور الإلهي وإستعلان مجد الله للبشرية في عيد الميلاد ( ٢٩ كيهك ) ، وشهادة الآب عنه أنه إبني الحبيب الذي به سُررت في برامون الغطاس ( ١٠ طوبه )</p>
<p>(١بط ٢:١١-١٧)</p>
<p>جاءت ( ٢٢ هاتور ، ٣٠ بؤونه ، ٢٦ مسري ) ومُشابه لهما قراءة ١٧ توت ١بط ٢ : ١١- ٢٥</p>
<p>وهنا الكلام عن الأسرة الشهاده للمسيح أمام الآخرين ( وأن يكون تصرفكم حسناً بين الأمم )</p>
<p>لذلك جاءت في تذكار قزمان وأخوته ووالدتهم ( ٢٢ هاتور ) وموسي وسارة أخته ( ٢٦ مسري )</p>
<p>وجاءت قراءة ١٧ توت ( عيد الصليب ) بثمانية آيات إضافية لتُشير إلي الصليب ( الذي رفع خطايانا علي الخشبة بجسده )</p>
<p>قراءة ١ ( ١يو ٢ : ٧ - ١٧ ) ، ٢١ توت ( ٢يو ٢ : ٧ - ١١ )</p>
<p>هنا قراءة ١ توت ( رأس السنة القبطية ) والإشارة إلي الوصيّة الجديدة وقراءة ٢١ توت ( شهادة القديس كبريانوس الأسقف الذي كان ساحراً وصار قديساً ( الظلمة قد جازت والنور الحقيقي الآن يضئ )</p>
<p>قراءة ٢ نسئ ( ١يو ٥ : ١ - ١٠ ) ، ١١ طوبه ( ١يو ٥ : ٥ - ٢١ ) ، ١٤ بابه ( ١يو ٥ : ٥ - ١٣ ) ، ١٩ توت ( ١يو ٥ : ١٣ - ٢١ )</p>
<p>والكلام هنا عن الطبيعة الجديدة بالصليب والمعمودية في ١٩ توت ( كل من ولد من الله لا يخطئ ) وبالمعمودية والشهادة للمسيح في ١٤ بابه ، ٢ نسئ وبالصليب والمعمودية والشهادة للمسيح في ١١ طوبه</p>
<p>قراءة ٣٠ كيهك ( ١يو ٤ : ١٥ - ٥ : ١ - ٤ ) ، ٢٤ بشنس ( ١يو ٤ : ٧ - ١٩ ) ، ٢٩ مسري ( ١يو ٤ : ١٥ - ٢١ )</p>
<p>والكلام هنا عن المولودين من الله ( ثاني يوم عيد الميلاد ) في ٣٠ كيهك ، وإرسالية إبن الله لخلاص العالم والأمم ( مصر ) في ٢٤ بشنس ، والإعتراف بالمسيح وعدم الخوف ( شهادة أثناسيوس الأسقف ) في ٢٩ مسري</p>
<h3>قراءات الإبركسيس</h3>
<p>قراءة ٤ طوبه ، ٢٦ بشنس ، ٥ أبيب ، ١نسئ</p>
<p>نفس القراءة ( أع ٣ : ١ - ١٦ )</p>
<p>تتكلّم هذه القراءة عن ذهاب القديس بطرس والقديس يوحنا للهيكل للصلاة ومعجزة شفاء المُقعد من بطن أُمه وشهادة القديس بطرس أمام الجميع بقوة قيامة المسيح</p>
<p>لذلك تأتي في تذكار يوحنا الحبيب ( ٤ طوبه ) وتذكار بطرس وبولس (٥ أبيب ) وأبو يحنس تلميذ يوحنا الحبيب ( ١ نسئ ) وأيضاً في تذكار توما الرسول ( ٢٦ بشنس )</p>
<p>قراءة ١١طوبه ، ٢٠ بشنس ، ٢٥ مسري ، ٤ نسئ</p>
<p>نفس القراءة ( أع ١٨ : ٢٤ - ١٩ : ١ - ٦ )</p>
<p>تتكلّم هذه القراءة عن المعمودية ( ١١ طوبه ) وعن السلوك في طريق الله بأكثر تدقيق وسهر وصلاة لذلك جاءت في تذكار قديسين عاشوا حياة كاملة مع الله مثل القديس أمونيوس الأنطاكي ( ٢٠ بشنس ) والقديس بيصاريون الكبير ( ٢٥ مسري ) وأنبا بيمن المصري المتوحد ( ٤ نسئ )</p>
<p>قراءة ٦ طوبه ( أع ١٥ : ١٣ - ٢١ ) ، ٢ أمشير ( أع ١٥ : ١٢ - ٢١ ) ، ٢٧ هاتور ( أع ١٥ : ١٣ - ٢١ ) ، ٣ مسري ( أع ١٥ : ١٣ - ٢٩ ) ، ١٧ مسري ( أع ١٥ : ١٢ - ٢١ )</p>
<p>تتكلّم هذه القراءة عن عظة القديس يعقوب عن إفتقاد الله للأمم وكلامه عن عظة سمعان بطرس</p>
<p>لذلك تأتي هذه القراءة في عيد الختان ( ٦ طوبه ) والنور الذي أُعْلِنَ للأمم والذي ظهر في قديسي الأمم مثل الأنبا بولا ( ٢ أمشير ) والقديس سمعان العمودي ( ٣ مسري )</p>
<p>كما أنها تأتي في أسماء قديسين ذُكِروا في القراءة المُخْتارة مثل يعقوب ( ٢٧ هاتور ، ١٧ مسري ) وسمعان ( ٦ طوبه ، ٣ مسري ) وبولس ( ٢ أمشير )</p>
<p>قراءة ٢ توت ( أع ١٢ : ١ - ١٢ ) تُشبه قراءة قراءة ٢٩ هاتور ( أع ١٢ : ١ - ٢٤ )</p>
<p>القراءة الأولي تُشير إلي إضطهاد هيرودس الملك للآباء الرسل مثل إضطهاده قبلاً ليوحنا المعمدان ( موضوع قراءات ٢ توت )</p>
<p>والقراءة الثانية تَكْمُل بنجاة بطرس الرسول وهلاك هيرودس ونهاية حياته وإضطهاده للكنيسة وهنا تُشير القراءة إلي نهاية إضطهاد الكنيسة بشهادة أنبا بطرس بابا الإسكندرية ( موضوع قراءات ٢٩ هاتور )</p>
<p>قراءة ٢١ توت هي تقريباً قراءة ٢٧ بابه ( أع ١٩ : ١١ - ١٧ ) ، ٢٢ هاتور  ( أع ١٩ : ١١ - ٢٠ ) ، ٢٦ مسري ( أع ١٩ : ١١ - ٢٠ )</p>
<p>هنا تتكلّم القراءة عن القوات التي صنعها الله علي يدي بولس الرسول وخضوع الأرواح الشريرة وبطلان السحر كما حدث مع كبريانوس الساحر وإيمانه وصيرورته أسقفاً وإستشهاده من أجل الإيمان ( موضوع قراءات ٢١ توت )</p>
<p>كما أن القراءة تُشير أيضاً إلي الأسرة التي تتفق في الشر ( وكان سبعة بنين لواحدٍ ) بالمُقارنة بالأسرة الشاهدة للمسيح مثل قزمان وإخوته ووالدتهم ( موضوع قراءة ٢٢ هاتور ) وموسي وسارة أخته ( موضوع قراءات ٢٦ مسري )</p>
<p>قراءة ١٤ بابه ، ١٢ طوبه</p>
<p>نفس القراءة ( أع ٨ : ٢٦ - ٣٨ )</p>
<p>تتطابق القراءتين وموضوعهما واحد وهو إيمان ومعمودية الخصي الحبشي علي يد فيلبس الشماس لذلك جاءت في تذكار شهادة القديس فيلبس أحد السبعة شمامسة ( ١٤ بابه ) وفِي ثاني يوم عيد الغطاس ( ١٢ طوبه )</p>
<p>قراءة ٢٢ بابه ، ١ بشنس</p>
<p>نفس القراءة ( أع ١ : ١ - ١٤ )</p>
<p>وهي إفتتاحية سفر الأعمال وهي التي يبدأ فيها القديس لوقا كلامه مع ثاوفيلس لذلك جاءت في تذكار لوقا الإنجيلي ( ٢٢ بابه ) كما تُشير القراءة أيضاً في نهايتها بإجتماع الآباء الرسل الدائم للصلاة بنفس واحدة مع والدة الإله إنتظاراً لحلول الروح المُعزِّي لذلك جاءت أيضاً في ميلاد أمنا العذراء والدة الإله ( ١ بشنس )</p>
<p>قراءة ١٥ هاتور ، ١٣ مسري</p>
<p>نفس القراءة ( أع ٧ : ٤٤ - ٨ : ١ )</p>
<p>وهي القراءة التي تكشف عن مجد التجلّي وهو نصيب البشرية في المسيح له المجد ( موضوع قراءات ١٣ مسري ) ومجد الله لأولاده كما حدث وقت إستشهاد القديس إستفانوس الذي رأي مجد الله ويسوع قائماً عن يمين الله ومع الشهيد مار مينا العجايبي ( موضوع قراءات ١٥ هاتور )</p>
<p>قراءة ١٧ هاتور ، ٣ أبيب</p>
<p>نفس القراءة ( أع ٢٠ : ١٧ - ٣٨ )</p>
<p>وهي القراءة التي تتكلّم عن حديث القديس بولس الوداعي مع قسوس أفسس والعظة التي تكلَّم فيها عن جوهر الرعاية وأساس خدمة الرعاة والتي أعلنها بحياته وخدمته وقدوته قبل كلماته لذلك تأتي هذه القراءة في تذكار نياحة القديس يوحنا ذهبي الفم ( ١٧ هاتور ) والبابا كيرلس السكندري ( ٣ أبيب )</p>
<p>قراءة ٢٥ هاتور ، ١٣ برمهات</p>
<p>نفس القراءة ( أع ١٢ : ٢٥ - ١٣ : ١ - ١٢ )</p>
<p>والكلام هنا عن السلطان الإلهي في كلام القديسين أمام الأشرار كما حدث مع القديس بولس وأيضاً الشهيد أبوسيفين ( ٢٥ هاتور ) وكما آمن الوالي لما رأي الأعجوبة الحادثة هكذا آمن الحارس لما رأي الأكاليل السماوية ( ١٣ برمهات )</p>
<p>قراءة ٢٨ هاتور ، ٣٠ برمودة</p>
<p>نفس القراءة ( أع ١٥ : ٣٦ - ١٦ : ١ - ٥ )</p>
<p>وهي القراءة التي تكشف عن إحتواء الله لضعفات الرعاة في خلافاتهم لأجل مجئ مار مرقس إلي قبرس ومن بعدها إلي مصر ( ٣٠ برمودة ) وأيضاً القديس صرابامون أسقف نيقوسيا الذي كانت أيضاً مُضايقات اليهود في أورشليم سبباً في ذهابه بإرشاد إلهي إلي الإسكندرية وإقامته أسقفاً وإستشهاده فيها ( ٢٨ هاتور )</p>
<p>قراءة ٢٢ كيهك ، ٣ نسئ</p>
<p>نفس القراءة ( أع ١٠ : ٢١ - ٣٣ )</p>
<p>وهي القراءة التي تتكلّم عن خدمة الملائكة لخلاص البشر وقبول الأمم في قصة إيمان كرنيليوس لذلك جاءت في تذكار الملاك غبريال ( ٢٢ كيهك ) والملاك رافائيل ( ٣ نسئ )</p>
<p>قراءة ٢٩ كيهك ( أع ١٣ : ٢٦ - ٣٣ ) ، ٢ بؤونه ( أع ١٣ : ٢٥ - ٣٣ )</p>
<p>تحكي هذه القراءة عظة القديس بولس عن التدبير الإلهي في الخلاص وهو هدف تجسّد الكلمة ( ٢٩ كيهك ) وشهود هذا التدبير الإلهي مثل يوحنا المعمدان ( ٢ بؤونه )</p>
<p>قراءة ١٠ طوبه ( أع ١٦ : ٢٥ - ٣٤ ) ، ٢٣ برموده ( أع ١٦ : ١٦ - ٣٤ )</p>
<p>تتكلّم هذه القراءة عن إيمان حافظ السجن ومعموديته وهو أسرته من القديسين بولس وسيلا لذلك تأتي هذه القراءة في برمون الغطاس</p>
<p>كما تأتي فيها آيات إضافية تشرح سلطان القديس بولس علي الأرواح الشريرة كما تكشف عن الآلام والعذابات التي تحمَّلها لأجل المسيح لذلك تأتي هذه القراءة في تذكار الشهيد العظيم مار جرجس</p>
<p>قراءة ١٣ ، ٢٦ طوبه</p>
<p>نفس القراءة ( أع ٨ : ٣ - ١٣ )</p>
<p>هنا القراءة تبدأ بالضيقة الجماعية وإضطهاد شاول لمجموعات من الرجال والنساء لذلك تأتي القراءة في تذكار شهادة التسعة والأربعين شيخاً شيوخ شيهات ( ٢٦ طوبه ) ، كما أنها تُخْتَم بعضوية الأسرة في الملكوت بالمعمودية كما كانت في عرس قانا الجليل بحضور المسيح له المجد ( ١٣ طوبه )</p>
<p>قراءة ٢٩ برمهات ( أع ٧ : ٢٣ - ٣٤ )  ، ٢٤ بشنس ( أع ٧ : ٢٠ - ٣٤ ) ، ٢٨ مسري ( أع ٧ : ٢٠ - ٣٤ )</p>
<p>وهي القراءة التي تتكلّم عن إحدي رموز التجسّد ظهور الرب في العليقة المُشتعلة لذلك جاءت في عيد البشارة ( ٢٩ برمهات ) وتكلَّمت عن الإرسالية إلي مصر لذلك جاءت في تذكار دخول الرب أرض مصر ( ٢٤ بشنس ) وإعلان الله أنه إله إبراهيم وإسحق ويعقوب لذلك جاء في تذكارهم ( ٢٨ مسري )</p>
<p>قراءة ٢٧ برموده ، ١٠ بشنس</p>
<p>نفس القراءة ( أع ١٩ : ٢٣ - ٤٠ )</p>
<p>وهي القراءة التي تكشف عن رفض السجود للتماثيل والضيقة التي حدثت بسببها لذلك جاء في تذكار الثلاثة فتية القديسين ( ١٠ بشنس ) وفِي تذكار شهادة بقطر إبن رومانوس ( ٢٧ برموده )</p>
<h3>قراءات الأناجيل ( أناجيل عشيّة وباكر والقدّاس )</h3>
<p>( ١ ) قراءات التطويبات والويلات</p>
<p>+ التطويبات ( مت ٤ : ٢٣ - ٥ : ١ - ١٦ ، لو ٦ : ١٧ - ٢٣ )</p>
<p>جاءت التطويبات من إنجيل متي في إنجيل قدّاس ٢٧ بابه ، ٢٦ طوبه ، وفِي إنجيل عشيّة ١٧ هاتور</p>
<p>جاءت التطويبات من إنجيل لوقا في إنجيل باكر ٢٧ بابه ، إنجيل باكر ٩ هاتور ، و إنجيل باكر ١٧ هاتور ، وإنجيل باكر ٢٨ هاتور ، وإنجيل باكر ٢٦ طوبه</p>
<p>+ الويلات ( لو ١١ : ٣٧ - ٥١ ، مت ٢٣ : ١٣ - ٣٦ )</p>
<p>جاءت الويلات في إنجيل عشيّة وإنجيل القدَّاس في ٨ توت</p>
<p>( ٢ ) قراءات إحتمال الآلام والشهادة للمسيح له المجد</p>
<p>+ (لو ١١ : ٥٣ - ١٢ : ١-١٢) إنجيل القدَّاس يوم ١٥ هاتور ويوم ١٣ برمهات</p>
<p>وهي قراءة إحتمال الآلام والشهادة للمسيح حتي الموت لذلك جاءت في تذكار مار مينا العجايبي ( ١٥ هاتور ) والأربعين شهيداً ( ١٣ برمهات )</p>
<p>والمُلفت للنظر مجئ إنجيل باكر أيضاً في اليومين من نفس النص الكتابي ( مر ١٣ : ٩ - ١٣ )</p>
<p>كما تأتي أيضاً قراءة ( لو ١٢ : ٤ - ١٢ ) في إنجيل القدَّاس ليوم ٢٧ برموده تذكار شهادة بقطر بن رومانوس ، وإنجيل باكر ليوم ٢٥ هاتور تذكار شهادة أبو سيفين</p>
<p>ونفس المعني يأتي من نص كتابي آخر في إنجيل عشيّة يوم ٢٢ هاتور ( تذكار شهادة القديسين قزمان واخوته ووالدتهم )</p>
<p>+ (لو ٢١ : ١٢-١٩) إنجيل القدَّاس يوم  ٢٢ هاتور ويوم ٢٣ برمودة ويوم ٢٦ مسري</p>
<p>وهنا أيضاً قراءة إحتمال الآلام والإضطهاد لأجل المسيح ولكن تكشف أيضاً عن الوقوف أمام الملوك والولاة لذلك تأتي في تذكار مار جرجس ( ٢٣ برمودة ) والسبعون ملكا المنافقين يحكمون عليه ( ذكصولوجية مار جرجس ) وتأتي أيضاً في تذكار شهادة قزمان وإخوته ووالدتهم ( ٢٢ هاتور ) وهم الذين وقفوا أمام والي وأمام ملك قبل إستشهادهم وأيضاً في شهادة القديس موسي وسارة أخته ( ٢٦ مسري )</p>
<p>+ (مت ١٠:١٦-٢٣) ، (مت ١٠:١٦-٢٢)</p>
<p>جاءت القراءة الأولي في إنجيل عشيّة ليوم ١٥ هاتور ( شهادة مار مينا العجايبي ) ، وأيضاً في إنجيل عشيّة ليوم ٢٠ أبيب ( شهادة تادرس الإسفهسلار )</p>
<p>وجاءت القراءة الثانية في إنجيل عشيّة ليوم ٢٣ برمودة ( شهادة مار جرجس الروماني</p>
<p>( ٣ ) قراءات عطيّة الملكوت ( لا تخف أيها القطيع الصغير )</p>
<p>لو ١٢ : ٣٢-٤٤            جاءت هذه القراءة في إنجيل القدَّاس ليوم ٢٢ طوبة ، ١٦ بؤونه ، ٢٥ مسري</p>
<p>وهي قراءة عطيّة الملكوت العُظمي للأمناء والساهرين والذين تَرَكُوا كل شئ من أجل محبتهم للمسيح له المجد مثل الأنبا أنطونيوس ( ٢٢ طوبه ) وأنبا نوفر ( ١٦ بؤونه ) وأنبا بيصاريون الكبير ( ٢٥ مسري )</p>
<p>( ٤ ) قراءات عرس قانا الجليل</p>
<p>يو ٢ : ١-١٢ إنجيل القدَّاس ليوم ١٣ طوبي ، ٦ نسئ</p>
<p>وهي قراءة جاءت في ١٣ طوبه للحديث عن تحويل الماء إلي خمر في عُرْس قانا الجليل ، وجاءت في يوم ٦ نسئ للحديث عن كمال عطيّة الله رغم قصور أزمنة البشر ( ستة أجران - ٦ نسئ )</p>
<p>( ٥ ) قراءات مثل وكيل الظلم</p>
<p>لو ١٦ : ١-١٢ جاءت هذه القراءة في إنجيل القدَّاس ليوم ٢٠ بشنس ، ٤ نسئ</p>
<p>وهي قراءة مثل وكيل الظلم ودعوة الرب للجميع في نهاية المثل أن يكونوا أمناء في وزناتهم لذلك جاءت مع تذكار نياحة القديس أمونيوس ( ٢٠ بشنس ) ، أنبا بيمن المصري المتوحد ( ٤ نسئ )</p>
<p>( ٦ ) قراءات حساب النفقة</p>
<p>لو ١٤ : ٢٥-٣٥   جاءت هذه القراءة في إنجيل القدَّاس ليوم ١٩ توت ، ٣ مسري</p>
<p>وهو إنجيل حساب النفقة وتكلفة التلمذة للرب وتبعيته لذك جاءت في ثالث يوم عيد الصليب ( ١٩ توت ) وفِي تذكار القديس سمعان العمودي ( ٣ مسري )</p>
<p>( ٧ ) قراءات الرعاية</p>
<p>+ الراعي الصالح</p>
<p>(يو ١٠ : ١-١٦) جاءت هذه القراءة في إنجيل القدَّاس ليوم ١٧ هاتور ، ٣ أبيب</p>
<p>وهو إنجيل الراعي الصالح وقراءات الرعاة والرعاية لذلك جاء في تذكار نياحة القديس يوحنا ذهبي الفم ( ١٧ هاتور ) ونياحا البابا كيرلس السكندري ( ٣ أبيب )</p>
<p>+ ضيقات وآلام الخدمة</p>
<p>يو ١٦ : ٢٠ - ٣٣     جاءت هذه القراءة في إنجيل القدَّاس ليوم ٢٨ هاتور</p>

      {% endcreateArticleAccordions %}
    </section>
  {% endblock %}
