---
layout: 'layouts/reading.html'
title: 'علامات إستفهام في قراءات الأيام'
tags: 'annual'
permalink: /articles/annual/1947.html
---
  {% block content %}
    <section id="article">
      <h3 class="mt-8 mb-4 heading-explain">شرح القراءات</h3>
      {% createArticleAccordions %}
        <p>١- يأتي تكرار تذكار يشوع بن نون مرتين، أولاهما هو يوم ٤ توت ، وثانيهما هو يوم ٢٦ بؤونه</p>
<p>والسؤال هنا: أي التذكارين هو الصحيح أو الأدق؟</p>
<p>يشرح السنكسار بالتفصيل قصة يشوع بن نون في يوم ٢٦ بؤونه ويذكره فقط يوم ٤ توت، كما أن الدفنار يذكره فقط يوم ٢٦ بؤونه ، ولا يذكره يوم ٤ توت.</p>
<p>وتجد قراءة خاصة مختلفة ليوم ٢٦ بؤونه في إحدي القطمارسات القديمة ( قطمارس دير البراموس المطبوع في المطبعة القبطية الأهلية بمصر بتاريخ تاسع وعشرين طوبة لسنة ١٥٨٨ للشهداء والمحفوظ الآن في مكتبة الدير )</p>
<p>سادس وعشرين بؤونه (وهو المُحوَّل على ٨ توت في القطمارس الحالي)</p>
<p>تذكار يشوع بن نون</p>
<p>عشيّة (مت ٢٢: ٣٤ – ٤٠)</p>
<p>باكر (مت ٢٢: ١٥ – ٢٢)</p>
<p>البولس (عب ٢: ٥ – ١٨)</p>
<p>الكاثوليكون (١بط ١: ١٠ – ١٦)</p>
<p>الإبركسيس (أع ١٠: ٢٥ – ٣٥)</p>
<p>إنجيل القدَّاس (مت ١٥ : ١ - ٢٠ )</p>
<p>العجيب في هذه القراءة هي توافقها مع الأنبياء والعهد القديم وإختلافها بالكامل عن قراءة الأنبياء في القطمارس الحالي  ( ٨ توت - تذكار نياحة موسي النبي )</p>
<p>والسؤال هنا : هل يُمْكِن أن تُحوَّل قراءات الأنبياء علي يومين بدلاً من يوماً واحدا ؟! خاصة لتكرار إنجيل الويلات مرتين في إسبوع واحد أكثر من مرة :</p>
<p>٤ توت      نياحة يشوع بن نون</p>
<p>٦ توت     نياحة إشعياء النبي</p>
<p>٢٠ كيهك    نياحة حجي النبي</p>
<p>٢٣ كيهك     نياحة داود النبي</p>
<p>٥ برمودة  نياحة حزقيال النبي</p>
<p>٧ برمودة      نياحة يواقيم والد العذراء والدة الإله</p>
<p>٢٠ بؤونه   نياحة إليشع النبي</p>
<p>٢٦ بؤونه   نياحة يشوع بن نون</p>
<p>٢- اليوم العاشر من شهر توت</p>
<p>قراءة اليوم العاشر من توت ( شهادة القديسة مطرونه ، وتذكار القديسة ياسين وأولادها الثلاثة ) مُحوَّلة علي يوم ثلاثين طوبه وهي القراءة الخاصة بشهادة العذاري هلبيس وبستيس وأغابي وصوفيا أمهم</p>
<p>جاء ذكر القديسة ياسين وأولادها الثلاثة في السنكسار والدفنار</p>
<p>ويقول الأرشيدياكون بانوب عبده في كتابه كنوز النعمة ( جزء أول ص ١٥٩ ) أنه طبقاً لدلال أبي مقار وبعض الصعيدين كان يجب أن تحُوَّل قراءاته ليوم أول بشنس</p>
<p>وطبقاً لقطمارس قديم بدير البراموس ( المطبوع في ٢٩ طوبه لسنة ١٥٥٨ للشهداء ) كانت القراءة فيها أيضاً مماثلة لقراءة أول بشنس في القطمارس الحالي بإختلاف المزامير فقط وتتفق مع ما قيل في كتاب كنوز النعمة</p>
<p>ونجد مثلاً المزامير الثلاثة في المخطوطة تتكلّم عن الأُمَّهات ورعاية الله لأطفالهم في أثناء الحمل وبعد الولادة</p>
<p>عليك استندت من الحشا ومن بطن أمي ( مزمور عشيّة )</p>
<p>وقبلتني من بطن أمي( مزمور باكر )</p>
<p>يا رجاآي من ثدي أمي ، عليك ألقيت من الحشا ومن بطن أمي ( مزمور القدَّاس )</p>
<p>لذلك يُمْكِن أن نقول أن هذه القراءة بصفة عامة ( حسب القطمارس القديم لدير البراموس ) تتكلّم عن القديسات سواء كن مُتبتِّلات أو مُتزوِّجات.</p>
<p>٣- ١٥ توت شهادة القديس استفانوس وايضا اول طوبي ( وهو الصحيح )</p>
<p>قراءة اليوم الخامس عشر من توت ( نقل جسد القديس اسطفانوس رئيس الشمامسة كما جاء في السنكسار ) مُحوَّلة علي قراءة يوم أوَّل طوبي ( شهادة القديس اسطفانوس رئيس الشمامسة )</p>
<p>وهو مكتوب خطأ في القطمارس الحالي  تحت يوم ١٥ توت أنه شهادة القديس اسطفانوس</p>
<p>وأيضاً في الدفنار أنه شهادة القديس اسطفانوس رغم أن الدفنار يذكر أيضاً يوم أول طوبي أنه شهادة القديس اسطفانوس !!</p>
<p>٤- قراءة يوم ٢١ توت</p>
<p>قراءة الكاثوليكون لهذا اليوم (١يو ٢: ٧ - ١١) تكرَّرت في يوم ١ توت مع إختلاف عدد الآيات المُختَاَرة (١يو ٢ : ٧ - ١٧ ) ، وفي الأحد الثالث من شهر كيهك ، والأحد الثاني من شهر مسري</p>
<p>لأن قراءة الكاثوليكون اليوم إكتفت بالكلام عن المسيح له المجد النور الحقيقي ونور العهد الجديد والمحبة الأخويّة كعلامة عن عمل هذا النور فينا</p>
<p>أما قراءة الكاثوليكون ليوم ١ توت (١يو ٢: ٧ - ١٧) فتكلمت أيضاً، بالإضافة إلي هذا ، عن عطايا نور المسيح له المجد لأولاد العهد الجديد في بداية السنة القبطية ( وهي مغفرة الخطايا ، والنصرة علي الشرير ، ومعرفة الآب )</p>
<p>ولعلَّه كان من الأنسب أن تكون أيضاً قراءة يوم ٢١ توت مثل قراءة يوم ١ توت لأن تكملة القراءة تتكلم عن النصرة علي الشيطان ، وهو موضوع تذكار اليوم ( كبريانوس أسقف قرطاجنة الذي كان قبلاً وثنياً ساحراً وآمن بسبب يوستينا )</p>
<p>أمَّا مجيئها في الأحد الثالث من شهر كيهك فهو إلي إنقضاء الظلمة ومجئ النور الحقيقي بتجسُّد الكلمة، وإشراقة نور وبرّ ابن الله للبشرية الضعيفة ( الأحد الثاني من مسري ).</p>
<p>٥- ٢٤ توت تذكار غريغوريوس الراهب أم الناطق بالإلهيات ؟</p>
<p>مُحوَّلة علي قراءة أول طوبه (شهادة القديس اسطفانوس رئيس الشمامسة)!!</p>
<p>لماذا لم تحول قراءته علي ١٧ هاتور أو ٢٨ هاتور (إذا كان تذكار القديس غريغوريوس الناطق بالإلهيات) ، أو ٢٢ طوبه أو ٢ أمشير أو ١٦ بؤونه أو ٣ مسري ( إذا كان تذكار غريغوريوس الراهب )</p>
<p>مع العلم أنه جاء في الدفنار تذكار نياحة القديس أغريغوريوس الثاولوغوس فقط، بينما جاء في القطمارس والسنكسار نياحة القديس اغريغوريوس الراهب.</p>
<p>٦- عدم وجود تذكار اليوم ليوم ١٣ هاتور في الدفنار سوي الملاك غبريال المبشر</p>
<p>قراءة هذا اليوم (نياحة أنبا زخارياس بابا الإسكندرية، وأنبا تيموثاؤس أسقف أنصنا ) مُحوَّلة علي قراءة يوم ثالث أبيب ( نياحة أنبا كيرلس الأوَّل الكبير بابا الإسكندرية )</p>
<p>يذكر الدفنار تذكار الملاك غبريال المبشر فقط، بينما يذكره أيضاً يوم ٢٢ كيهك !!</p>
<p>٧- ١٣ كيهك</p>
<p>اليوم الثالث عشر من شهر كيهك</p>
<p>قراءة هذا اليوم ( تذكار حبل حنة والدة العذراء ) مُحوَّلة علي قراءة يوم سادس وعشرين توت</p>
<p>لا يذكر السنكسار أو الدفنار تذكار حبل حنة والدة أمنا العذراء والدة الإله ، لكن يذكر الدفنار والسنكسار شهادة القديس برشنوفيوس ، ويضيف السنكسار أيضاً نياحة الأب ابراكيوس ، وتكريس كنيسة ميصائيل السائح.</p>
<p>٨- قراءة يوم ١٨ كيهك ( نقل جسد القديس تيطس تلميذ القديس بولس الرسول ) لماذا لم تحول علي يوم ٢ نسئ        ( تذكار تيطس الرسول ) ؟</p>
<p>قراءة هذا اليوم - ١٨ كيهك (نقل جسد القديس تيطس تلميذ القديس بولس الرسول ) مُحوَّلة علي قراءة يوم ثاني وعشرين بابه ( تذكار القديس لوقا     الإنجيلي )</p>
<p>يضيف السنكسار أيضاً تذكار القديسين اياركلاس الشهيد وفيليمون القس</p>
<p>وأيضاً يأتي خطأ تحت يوم ٢٢ برمهات أنه تذكار تيطس الرسول (لا يذكر الدفنار ولا السنكسار في هذا اليوم نياحة تيطس الرسول)</p>
<p>والسؤال هنا لماذا لم تحول علي يوم ٢ نسئ؟ وإذا كان بسبب إرتباط القديس تيطس بالقديس لوقا الطبيب في الخدمة فلماذا وضعت الكنيسة قراءات خاصة بالقديس تيطس (يوم ٢ نسئ ) ؟</p>
<p>٩- الايام المحولة علي يوم ٣٠ برموده من التلاميذ والرسل</p>
<p>ثاني أبيب نياحة تداوس الرسول أحد الإثني عشر</p>
<p>والسؤال هنا لماذا جاءت القراءات الخاصة بتذكار تداوس الرسول مُحوَّلة علي قراءات مار مرقس ولم تُحوَّل علي قراءات يوم ٥ أبيب (تذكار الآباء الرسل) ؟</p>
<p>١٠- يأتي تذكار شهادة القديس يعقوب بن حلفي في يومين : يوم ١٠ أمشير ، ويوم ١٨ أبيب ؟</p>
<p>والسؤال أي التذكارين هو الأدق ؟</p>
<p>١١- يأتي تذكار لعازر حبيب الرب في يومين : يوم  ١٧ برمهات ، يوم ٢٧ بشنس</p>
<p>والسؤال أي التذكارين هو الأدق ؟</p>
<p>١٢- تذكار نقل جسد القديس ابيفانيوس يوم ٢٨ بشنس ، وتذكار نياحته يوم ١٧ بشنس</p>
<p>والعجيب هنا أن تذكار نياحة القديس إبيفانيوس أسقف قبرص ( سابع عشر بشنس ) مُحوَّلة قراءاته لقراءة يوم ثامن وعشرين هاتور ( شهادة القديس صرابامون الأسقف وبسادة الشهيد )</p>
<p>بينما تذكار نقل جسد القديس إبيفانيوس إلي قبرص ( ثامن وعشرون بشنس ) مُحوَّلة قراءاته إلي قراءة سابع عشر هاتور ( تذكار نياحة القديس يوحنا فم الذهب بطريرك القسطنطينية ) !</p>
<p>لماذا يحولا ليومين مختلفين ٢٨ هاتور ، ١٧ هاتور ؟</p>
<p>ورُبَّما كان الأفضل أن تُحوَّل القراءتين ليوم ٢٨ هاتور لأنها تخص الأساقفة.</p>
<p>١٣- اليوم الثالث والعشرون من شهر بشنس</p>
<p>قراءة هذا اليوم ( شهادة يونيوس الرسول - أو يوليوس كما جاء في الدفنار ويونياس كما جاء في السنكسار - أحد السبعين ) مُحوَّلة علي قراءة يوم ثلاثين برمودة ( شهادة مار مرقس الرسول الإنجيلي )</p>
<p>ويضيف الدفنار والسنكسار أيضاً شهادة القديس يوليانوس وأمه بالاسكندرية</p>
<p>ونلاحظ هنا أن كثيراً من تذكارات السبعين رسولاً مُحوَّلة علي قراءات يوم أوَّل طوبة الخاص بالقديس إستفانوس رئيس الشمامسة إلَّا أن البعض منهم مُحوَّلة قراءاته علي قراءات ثلاثين برمودة</p>
<p>ويذكر السنكسار أنه أحد تلاميذ بولس الرسول الذين ذُكروا في رسالة رومية (رو ١٦ : ٧) ، فهل كانت له شركة خدمة مع مار مرقس الرسول وقت خدمتهما مع القديس بولس الرسول ؟ ، لذلك جاءت القراءات الخاصة به مُحوَّلة علي قراءات يوم ٣٠ برمودة ( تذكار مار مرقس ) ولم تأت محوَّلة علي قراءة يوم ثاني وعشرون بابه ( تذكار القديس لوقا الإنجيلي ) ، أو قراءة أول طوبي ( شهادة القديس إستفانوس )</p>
<p>١٤- يأتي تذكار نياحة القديس سمعان العمودي من جبل أنطاكية في يومين : يوم ٢٩ بشنس ، يوم ٣ مسري ؟</p>
<p>وتضع الكنيسة قراءات خاصة بيوم ٣ مسري</p>
<p>مذكور في السنكسار تحت يوم ٣ مسري أنه تذكار نقل جسده ، بينما يذكر القطمارس والدفنار أنه تذكار نياحته</p>
<p>فأي التذكارين هو الأدق ؟</p>
<p>١٥- اليوم الأوَّل من شهر بؤونة</p>
<p>قراءة هذا اليوم ( نياحة القديس كربوس الرسول أحد السبعين ) مُحوَّلة علي قراءة يوم أول طوبه ( شهادة القديس إستفانوس رئيس الشمامسة )</p>
<p>والسؤال هنا لماذا لم تأتِ نياحة القديس كربوس الرسول أحد السبعين في الدفنار ولم تأتِ في السنكسار ؟ ، وإنما جاء فيهما معاً تكريس كنيسة القديس لاونديوس الشامي ، وشهادة القديس قزمان الطحاوي ورفقته ، وشهادة القديس أبي فام الجندي.</p>
<p>١٦- اليوم الثالث عشر من شهر بؤونة</p>
<p>قراءة هذا اليوم ( تذكار رئيس الملائكة جبرائيل حسب السنكسار القبطي وثاني يوم تذكار ميخائيل رئيس الملائكة حسب القطمارس الحالي ) مُحوَّلة علي قراءة اليوم الثالث من النسئ ( تذكار الملاك روفائيل )</p>
<p>والعجيب في هذا اليوم أن قراءاته مُحوَّلة علي قراءات اليوم الثالث من الشهر الصغير ( تذكار رئيس الملائكة رافائيل ) رغم أن هذا اليوم حسب القطمارس الحالي هو ثاني يوم عيد تذكار رئيس الملائكة ميخائيل وكان يُمْكِن أن يُحوَّل علي قراءات يوم ثاني عشر هاتور ( تذكار رئيس الملائكة ميخائيل )</p>
<p>وحسب السنكسار القبطي هذا اليوم هو تذكار رئيس الملائكة جبرائيل وكان يُمْكِن أن يُحوَّل علي قراءات يوم ثاني وعشرون كيهك ( تذكار غبريال رئيس الملائكة )</p>
<p>ولكن رُبَّما لم تُرد الكنيسة تكرار نفس القراءة للملاك ميخائيل يومين متتاليين ، وجعلت اليوم الثاني مُحوَّل علي قراءة أخري للملائكة.</p>
<p>١٧- اليوم الرابع والعشرون من شهر بؤونة</p>
<p>قراءة هذا اليوم ( شهادة القديس موسي القوي ) مُحوَّلة علي قراءة يوم ثالث مسري ( نياحة القديس سمعان العامودي )</p>
<p>مكتوب خطأ في الدفنار نياحة القوي أنبا موسي وتصحيحه شهادته</p>
<p>وقراءات هذا اليوم في القطمارس المحفوظ في دير البراموس ( المطبوع في سنة ١٥٨٨ ش ) تختلف عن قراءة القطمارس الحالي في المزامير فقط ( وزيادة في الإبركسيس ) ولكن نري هنا إسم موسي تكرَّر في مزموري عشيّة وباكر في قطمارس البراموس لأجل تذكار القديس موسي القوي</p>
<p>مزمور عشيَّة في تذكار القديس موسي القوي ( في مخطوطة قطمارس البراموس )</p>
<p>&#8221; أظهر لموسي طرقه ولبني إسرائيل مشيئته . الرب رحيم ورؤوف طويل الأناة وكثير الرحمة &#8221; مز ١٠٢</p>
<p>مزمور باكر</p>
<p>&#8221; أرسل موسي عبده وهرون الذي اختاره . جعل فيهم أقوال آياته وعجائبه لكي ما يحفظوا حقوقه ويلتمسوا ناموسه &#8221; ١٠٤</p>
<p>( أنظر الفصل الخاص بقراءات الأيام ومقارنتها بقراءات القطمارس القديم بدير البراموس المطبوع في المطبعة القبطية   الأهلية بمصر بتاريخ تاسع وعشرين طوبة لسنة ١٥٨٨ للشهداء )</p>
<p>فهل يُمكن أن تكون قراءة هذا اليوم هي حسب ما جاء في القطمارس القديم بدير البراموس والتي تتوافق رُبَّما بالأكثر مع تذكار شهادة القديس موسي القوي ؟</p>
<p>١٨- اليوم الثامن من شهر أبيب</p>
<p>قراءة هذا اليوم ( نياحة القديس أنبا بيشوي كوكب البرية ) مُحوَّلة علي قراءة يوم سابع وعشرين بابه ( نياحة أنبا مقار    الأسقف )</p>
<p>يضيف الدفنار والسنكسار شهادة أبيروه وأتوم ونياحة القديس كاراس ، بينما يأتي أيضاً في السنكسار شهادة القديس بلانا  القس وشهادة أنبا بيمانون</p>
<p>وهنا تساؤل : لماذا لم تُحوَّل قراءة هذا اليوم إلي قراءة من قراءات آباء البرية : ثاني وعشرون طوبة ( الأنبا أنطونيوس ) ، وثاني أمشير ( الأنبا بولا ) ، وخامس وعشرون مسري ( القديس بيصاريون ) ، والرابع من الشهر الصغير ( نياحة أنبا بيمن ) ؟!</p>
<p>لكن رُبَّما سبب إختيار الكنيسة ليوم ٢٧ بابه لأجل التطويب الذي أخذه القديس العظيم الأنبا بيشوي لأنه غسل قدمي مخلصنا الصالح وحمل جسده ، وهذا هو موضوع قراءة يوم ٢٧ بابه ( الحياة الطوباوية ).</p>
<p>١٩- اليوم التاسع من شهر أبيب</p>
<p>قراءة هذا اليوم ( شهادة سمعان إبن كليوبا أحد السبعين ونياحة البابا كلاديانوس البطريرك التاسع ) مُحوَّلة علي قراءة يوم آخر برمودة ( شهادة القديس مرقس الرسول الإنجيلي )</p>
<p>لا يأتي في الدفنار تذكار نياحة البابا كلاديانوس البطريرك التاسع ، لكن في السنكسار فقط</p>
<p>وكان يُمْكِن أن تُحوَّل قراءة هذا اليوم إلي قراءة أول طوبة ( شهادة القديس إستفانوس رئيس الشمامسة ) مثل قراءة         السادس من شهر أبيب</p>
<p>لكن أغلب الظن إختيار الكنيسة لقراءة مار مرقس لتواجد تذكار نياحة البابا كلاديانوس البطريرك التاسع من بطاركة الكنيسة القبطية.</p>
<p>٢٠- اليوم السابع عشر من شهر مسري</p>
<p>تتماثل قراءات اليوم ( شهادة القديس يعقوب بن فجوج ) مع قراءات سابع وعشرين هاتور ( شهادة القديس يعقوب المقطع الفارسي ) في كل شئ عدا المزامير التي تتشابه مع مزامير ثالث وعشرين برمودة</p>
<p>والسؤال لماذا جاءت قراءتين ؟</p>
<p>وهو الرأي الذي يقوله أيضاً الأرشيدياكون بانوب عبده في كتابه كنوز النعمة ( من برمهات إلي النسئ ص ٢٢٦ )</p>
<p>&#8221; حيث أن فصول الإنجيل والرسائل الخاصة بهذا اليوم جميعها هي بعينها فصول يوم ٢٧ هاتور ، وهو تذكار شهادة     يعقوب الفارسي المقطع ، وأن كل ما هناك من فرق بين فصول هذين اليومين هو في المزامير ، فالأرجح أن اعتبار يوم ١٧ مسري من الأيام الخاصة هو من قبيل السهو في النقل ويجب إحالة فصوله علي فصول ٢٧ هاتور والتغاضي عن     مزاميره الخاصة التي تخالف مزامير ٢٧ هاتور وذلك إتباعاً لقاعدة تحاشي التكرار وهي القاعدة التي اتبعت عند طبع     القطمارس الجديد المستعمل الآن فقد صرف فيه النظر عن المزامير الخاصة بكل يوم من الأيام المحالة كما وردت        بالقطمارس القديم اكتفاء بمزامير الأيام المحال عليها أي الأيام الخاصة ذات الفصول الخاصة &#8220;.</p>
<p>٢١- اليوم الثامن عشر من شهر مسري</p>
<p>قراءة هذا اليوم (نياحة أنبا الكسندرس بطريرك القسطنطينية وهو المكتوب خطأ في القطمارس الحالي أنه بابا الإسكندرية كما يوجد في تذكار هذا اليوم أيضاً شهادة القديس ودامون الأرمنتي -</p>
<p>كما جاء في السنكسار - أول شهداء المسيحيةوقت زيارة العائلة المُقدَّسة لمصر) مُحوَّلة علي قراءة يوم ثالث أبيب ( نياحة القديس كيرلس الأوَّل الكبير بابا الإسكندرية )</p>
<p>ورُبَّما كان الأقرب لتذكار هذا اليوم إحالته إلي يوم سابع عشر هاتور (نياحة القديس يوحنا فم الذهب بطريرك القسطنطينية ) لتوافقه مع تذكار نياحة أنبا ألكسندرس بطريرك القسطنطينية.</p>
<p>٢٢- اليوم التاسع عشر من شهر مسري</p>
<p>قراءة هذا اليوم ( حمل جسد أبو مقار إلي برية شيهات ) مُحوَّلة علي قراءة يوم سابع وعشرين بابه ( نياحة أنبا مقار       الأسقف )</p>
<p>كان يُمْكِن أن تُحوَّل قراءة هذا اليوم إلي قراءات آباء البرية: ثاني وعشرون طوبة ( الأنبا أنطونيوس ) ، وثاني أمشير ( الأنبا بولا ) ، وخامس وعشرون مسري ( القديس بيصاريون ) ، والرابع من الشهر الصغير ( نياحة أنبا بيمن ) ، لكنها في الأغلب إرتبطت بقراءة تذكار نياحة أنبا مقار الأسقف إرتباط الإسم والمعني لأن مقار أو مكاري تعني طوباوي وهذا هو جوهر قراءات سابع وعشرين بابه ( الحياة الطوباوية )</p>
<p>٢٣- اليوم الخامس والعشرون من شهر مسري</p>
<p>تتماثل قراءات اليوم ( نياحة أنبا بيصاريون الكبير ) مع قراءات يوم ثاني وعشرين طوبه ( تذكار الأنبا أنطونيوس ) في كل شئ ما عدا المزامير والإبركسيس</p>
<p>وكلا القراءتين في الإبركسيس يتكلمان عن التلمذة التي تتمشي مع الحياة الرهبانية فنري تلمذة شاول لبرنابا في قراءة ثاني وعشرين طوبه ( تذكار أنبا أنطونيوس ) وتلمذة أبلوس لأكيلا وبريسكلا  في قراءة خامس وعشرين مسري ( تذكار أنبا بيصاريون الكبير )</p>
<p>والسؤال هنا لماذا جاءت قراءة خاصة به ولم تُحوَّل علي يوم ٢٢ طوبه ؟</p>
<p>وهو الرأي الذي يقوله أيضاً الأرشيدياكون بانوب عبده في كتابه كنوز النعمة ( من برمهات إلي النسئ ص ٢٣١ )</p>
<p>&#8221; حيث أن فصول الإنجيل الثلاثة الخاصة بهذا اليوم هي بعينها فصول يوم ٢٢ طوبه الخاصة بالأنبا أنطونيوس والآباء الرهبان وكذلك رسالة البولس فالأرجح أن اعتباره يوماً خاصاً هو من قبيل السهو في النقل ويجب إحالته علي فصول ٢٢ طوبه هذا مع ملاحظة اختلاف المزامير في اليومين وذلك طبقاً للقاعدة التي اتبعت في طبع القطمارس الجديد وهي صرف النظر عن اختلاف المزامير وإحالة فصول يوم عادي علي فصول اليوم الخاص منعاً للتكرار . أما رسالتا الكاثوليكون والإبركسيس ليوم ٢٥ مسري فهما بعينهما رسالتا يوم ١٦ بؤونة الخاص بالقديس أبا نوفر والآباء السياح . ولما كانت العلاقة بين الرهبان والسياح كبيرة لذا فالمرجح أن يوم ٢٥ مسري هو يوم عادي لا يوم خاص ويجب إحالته علي يوم ٢٢ طوبه &#8220;.</p>
<p>٢٤- قراءة يوم ٢٦ مسري ( شهادة القديس موسي وسارة أخته )</p>
<p>قراءة اليوم تكاد تكون مُتماثلة مع قراءة يوم ٢٢ هاتور ( شهادة القديسين قزمان ودميان وإخوتهم وأمهم ) ماعدا المزامير وإنجيل باكر فقط</p>
<p>والسؤال هنا أيضاً لماذا جاءت قراءتين ؟</p>
<p>٢٥- اليوم الأوَّل من الشهر الصغير</p>
<p>قراءات هذا اليوم ( شهادة أبو يحنس تلميذ يوحنا الإنجيلي وشهادة القديس بشاي الأنطاكي شقيق القديس باهور ) تتشابه إلي حد كبير مع قراءات رابع طوبة ( نياحة القديس يوحنا إبن زبدي الإنجيلي ) في البولس والكاثوليكون والإبركسيس وإنجيل القدَّاس بإختلاف المزامير وإنجيل عشيّة فقط</p>
<p>وتتشابه القراءتان في كلامهما مُباشرة عن يوحنا الإنجيلي ( لذلك تأتي أيضاً في تذكار تلميذه أفتيخوس ) كما في الإبركسيس وإنجيل القدَّاس وأيضاً مجئ قراءات من إنجيل ورسائل القديس يوحنا كما في مزمور باكر والكاثوليكون</p>
<p>والسؤال هنا لماذا قراءتين ؟</p>
<p>٢٦-  قراءة يوم ٣ نسئ</p>
<p>تتماثل تقريباً قراءات هذا اليوم ( تذكار الملاك روفائيل وشهادة القديس اندريانوس ونياحة البابا يوأنس الرابع عشر        البطريرك ال ٩٦  ) مع قراءات ثاني وعشرين كيهك ( تذكار الملاك غبريال ) في المزامير وأناجيل عشيّة وباكر          والبولس والكاثوليكون والإبركسيس بإستثناء إنجيل القدَّاس فقط</p>
<p>وتتكلّم القراءتان ( ثاني وعشرون كيهك والثالث من النسئ ) بصفة عامة عن خدمة الملائكة إلَّا أن إنجيل القدَّاس في        القراءة الأولي ( تذكار الملاك غبريال ) يأتي من لو ١ : ٢٦ - ٣٨ والكلام هنا عن بشارة رئيس الملائكة غبريال لوالدة      الإله بتجسّد الكلمة ومجئ الرب الأوَّل لخلاص البشر ، أما إنجيل القدَّاس في القراءة الثانية يأتي من مت ٢٥ : ٣١ - ٤٦ والكلام هنا عن مجئ الرب الثاني علي السحاب مع ملائكته القديسين للمكافأة والدينونة لذلك يأتي هذا التذكار في نهاية     السنة القبطية</p>
<p>والسؤال هنا لماذا لم تختار الكنيسة كل الفصول الخاصة بمجئ الرب الثاني في قراءة اليوم ( خاصة إنجيل باكر            والإبركسيس ) ؟</p>
<p>٢٧- قراءة يوم ٤ نسئ</p>
<p>قراءة هذا اليوم ( نياحة القديس أنبا بيمن المتوحد ونياحة ليباريوس أسقف روما ) ترتبط بنياحة القديس أنبا بيمن المتوحد لذلك تدور القراءات حول السهر الروحي</p>
<p>تتشابه قراءات اليوم مع قراءات اليوم العشرون من شهر بشنس (نياحة القديس أمونيوس الأنطاكي ) لإرتباط وتشابه سيرة حياتهما معاً</p>
<p>وتتماثل القراءتين في أناجيل عشيّة وباكر والقدّاس والإبركسيس وتشابه البولس والكاثوليكون في معظم القراءة وإختلاف  المزامير فقط</p>
<p>وتتوافق القراءتين لتشابه سيرة حياة القديس أمونيوس الأنطاكي المتوحد والقديس أنبا بيمن المتوحد</p>
<p>والسؤال هنا لماذا قراءتين ؟</p>
<p>٢٨- قراءات الرعاية ١٧ هاتور ، ٣ أبيب</p>
<p>تأتي قراءات الرعاية ، الخاصة بتذكار الآباء البطاركة ، في يومين ، يوم ١٧ هاتور وهو الخاص بتذكار نياحة القديس    يوحنا ذهبي الفم بطريرك القسطنطينية ، ويوم ٣ أبيب الخاص بتذكار نياحة البابا كيرلس الأوَّل عامود الدين</p>
<p>ويأتي إنجيل القدَّاس في القراءتين من يو ١٠ : ١ - ١٦ ، وتأتي القراءة عشرون مرة في قراءة ٣ أبيب ، ١٧ مرة في    قراءة ١٧ هاتور</p>
<p>معني هذا تكرار قراءة إنجيل القدَّاس ٣٧ مرة علي مدار السنة</p>
<p>ثالث توت ( محول علي ٣ أبيب )</p>
<p>سابع توت ( محول علي ٣ أبيب )</p>
<p>ثالث عشر توت ( محول علي ١٧ هاتور )</p>
<p>ثلاثين توت ( محول علي ١٧ هاتور )</p>
<p>ثاني بابه ( محول علي ٣ أبيب )</p>
<p>ثالث بابه ( محول علي ١٧ هاتور )</p>
<p>خامس بابه ( محول علي ١٧ هاتور )</p>
<p>تاسع بابه ( محول علي ١٧ هاتور )</p>
<p>حادي عشر بابه ( محول علي ٣ أبيب )</p>
<p>سابع عشر بابه ( محول علي ٣ أبيب )</p>
<p>أول هاتور ( محول علي ٣ أبيب )</p>
<p>سادس هاتور ( محول علي ١٧ هاتور )</p>
<p>ثالث عشر هاتور ( محول علي ٣ أبيب )</p>
<p>سابع عشر هاتور</p>
<p>واحد وعشرون هاتور ( محول علي ١٧ هاتور )</p>
<p>ثلاثون هاتور ( محول علي ٣ أبيب )</p>
<p>أول كيهك ( محول علي ١٧ هاتور )</p>
<p>سادس كيهك ( محول علي ٣ أبيب )</p>
<p>خامس عشر كيهك ( محول علي ١٧ هاتور )</p>
<p>ثاني طوبة ( محول علي ٣ أبيب )</p>
<p>سابع طوبه ( محول علي ١٧ هاتور )</p>
<p>ثامن طوبه ( محول علي ٣ أبيب )</p>
<p>سابع أمشير ( محول علي ٣ أبيب )</p>
<p>رابع عشر أمشير ( محول علي ١٧ هاتور )</p>
<p>ثامن عشر أمشير ( محول علي ١٧ هاتور )</p>
<p>سابع وعشرين أمشير ( محول علي ١٧ هاتور )</p>
<p>ثاني وعشرون برمهات   ( محول علي ٣ أبيب )</p>
<p>ثالث برمودة ( محول علي ٣ أبيب )</p>
<p>ثاني عشر برمودة ( محول علي ٣ أبيب )</p>
<p>سابع بشنس ( محول علي ٣ أبيب )</p>
<p>ثاني عشر بشنس ( محول علي ١٧ هاتور )</p>
<p>ثامن وعشرين بشنس ( محول علي ١٧ هاتور )</p>
<p>ثلاثون بشنس ( محول علي ٣ أبيب )</p>
<p>ثامن وعشرون بؤونة  ( محول علي ٣ أبيب )</p>
<p>ثالث أبيب</p>
<p>رابع عشر مسري ( محول علي ١٧ هاتور )</p>
<p>ثامن عشر مسري ( محول علي ٣ أبيب )</p>
<p>وتأتي الصعوبة علي المنبر من تكرار إنجيل الراعي الصالح سبعة وثلاثين مرة في السنة ، وتأتي القراءة أحياناً أربع     مرات في إسبوع واحد ( ثلاثين توت ، ثاني بابه ، ثالث بابه ، خامس بابه ) ، وأحياناً ثلاث مرات في إسبوع واحد        ( ثلاثون هاتور ، أول كيهك ، سادس كيهك ) وأيضاً ( ثاني طوبة ، سابع طوبه ، ثامن طوبه )</p>
<p>فإذا كانت القراءة يوم ثالث أبيب ( تذكار البابا كيرلس الأوَّل ) تُشير إلي الجانب اللاهوتي في الرعاية ، وهو الذي دافع  عن طبيعة المسيح له المجد ، فلماذا لا تكون قراءة إنجيل القدَّاس لهذا اليوم من موضع آخر ( كمثال الإصحاح السابع عشر من إنجيل يوحنا ) لتركيزه علي الوحدة والمحبة في المسيح علي مثال الثالوث ؟ ويمكن أن تكون عظات هذا اليوم علي الوحدة ، المحبة ، التقديس بالكلمة ، الحياة الأبدية ، مكملين إلي واحد ، إحفظهم من الشرير … إلخ ؟</p>
<p>٢٩- قراءات الشهداء</p>
<p>من المُلاحظ مجئ قراءات الشهداء مُتكرِّرة بصور مختلفة ، وفي ذات الوقت نري تماثل بعض القراءات بصورة تبدو     مُثيرة للتساؤل عن المغزي والمعني</p>
<p>+ مثال : تماثل البولس والكاثوليكون والإبركسيس ليومي ٢٥ هاتور ( شهادة أبو سيفين ) ، ويوم ١٣ برمهات ( شهادة الأربعين شهيد بمدينة بوبسته )</p>
<p>ورُبَّما يأتي تساؤل ما هو أوجه الشبه بين التذكارين ؟</p>
<p>مثال آخر</p>
<p>مجئ نفس البولس والكاثوليكون ليومي ١٥ هاتور ( شهادة مار مينا ) ، ٢٦ طوبه ( شهادة التسعة والأربعين شهيداً شيوخ شيهات )</p>
<p>ويأتي تساؤل أيضاً هنا لماذا تكرَّرت القراءتين ؟</p>
<p>رُبَّما كان الهدف من وضع قراءات الشهداء بصفة عامَّة التركيز علي إحتمال الآلام ، والثبات أمام الإضطهادات ، والتطلُّع للميراث الأبدي ، لذلك جاءت مثلاً كل قراءات الكاثوليكون من رسالة بطرس الأولي لأنها رسالة الألم والضيق ولكن في ذات الوقت رسالة التعزية والرجاء والميراث السماوي ، كما جاءت ثلاث قراءات للبولس من رو ٨ ( شهادة قزمان ودميان ٢٢ هاتور ، وموسي وسارة أخته ٢٦ مسري ، ومارجرجس ٢٣ برموده ، ومار بقطر ٢٧ برموده ) ،                لكن من المُلاحظ أيضاً إختيار بعض القراءات خصيصاً لصاحب تذكار اليوم</p>
<p>مثال : البولس من (رو ٨)</p>
<p>جاء في ٢٢ هاتور ، ٢٦ مسري من( رو ٨ : ١٤ - ٢٧ )وهنا الكلام عن الأبناء والورثة مُناسب للقديسين قزمان ودميان وإخوته ووالدتهم ، وللقديس موسي وسارة أخته</p>
<p>وجاء في ٢٧ برموده من (رو ٨: ١٨ - ٣٠ )للتركيز علي مجد المسيح بالمقارنة بمجد العالم الذي تركه القديس مار بقطر بن رومانوس وزير دقلديانوس الملك ( جاءت الآيتين الأولي والأخيرة في البولس في الكلام عن مجد المسيح - آية ١٨ ، ٣٠ )</p>
<p>وجاء في ٢٣ برموده من (رو ٨: ٢٨ - ٣٩  )للتركيز علي القوة والنصرة في الإحتمال ( إن كان الله معنا فمن علينا - يعظم إنتصارنا بالذي أحبنا - من سيفصلنا عن محبة المسيح )</p>
<p>مجئ البولس (عب ١٢: ٣ - ١٤ ) يوم ٢٦ طوبه في تذكار التسعة والأربعين شهود شيهات وعدم مجيئه يوم ١٣ برمهات رغم أن القراءة تُشير إلي &#8221; لئلا تكلوا وتخروا &#8221; وهو ما حدث في سيرة الأربعون شهيداً ببوبسته عندما خارت قوي أحدهم ، فهل كان الأفضل مجئ هذه القراءة يوم ١٣ برمهات ؟</p>
<p>إرتباط قراءة المجد بتذكار مار بقطر يطرح تساؤل : لماذا لم تأت قراءة الكاثوليكون الخاصة بيوم ١٥ هاتور ( ١بط ٤ : ١٢ - ١٩ ) ، والتي جاءت فيها كلمة المجد ثلاث مرات ، أيضاً في تذكاره ؟</p>
<p>٣٠- قراءات أناجيل القدَّاسات</p>
<p>تكرار مجئ نفس نص إنجيل القدَّاس مرَّتين وأحياناً ثلاث مرَّات يطرح تساؤل</p>
<p>ألم يكن ممكناً إختيار نص آخر من الأناجيل الأربعة عوضاً عن التكرار الذي يشكِّل صعوبة علي المنبر في الوعظ ؟</p>
<p>أمثلة التكرار</p>
<p>(مت ١٦: ١٣-١٩)          إنجيل القدَّاس ليوم ١٦ توت ، ٩ هاتور ، ٢٩ هاتور</p>
<p>(لو ٢١: ١٢-١٩)         إنجيل القدَّاس ليوم  ٢٢ هاتور ويوم ٢٣ برمودة ويوم ٢٦ مسري</p>
<p>+( لو ١٢: ٣٢-٤٤)           إنجيل القدَّاس ليوم ٢٢ طوبة ، ١٦ بؤونه ، ٢٥ مسري</p>
<p>(لو ١١ : ٥٣ - ١٢ : ١-١٢ )إنجيل القدَّاس ليوم ١٥ هاتور ويوم ١٣ برمهات</p>
<p>كما تأتي أيضاً قراءة ( لو ١٢ : ٤ - ١٢ ) في إنجيل القدَّاس ليوم ٢٧ برموده</p>
<p>+   (مت ٤ : ٢٣ - ٥ : ١ - ١٦ )، (لو ٦ : ١٧ - ٢٣ )</p>
<p>جاءت التطويبات من إنجيل متي في إنجيل قدّاس ٢٧ بابه ، ٢٦ طوبه</p>
<p>+ (لو ١٠: ١ – ٢٠)               إنجيل القدَّاس ليوم ٢٢ بابه ، ١ طوبه</p>
<p>(يو ١٠: ١-١٦)               إنجيل القدَّاس ليوم ١٧ هاتور ، ٣ أبيب</p>
<p>(لو ١: ٢٦ - ٣٨ )           إنجيل القدَّاس ليوم ٢٢ كيهك ، ٢٩ برمهات</p>
<p>(مت ٢ : ١٣ - ٢٣)         إنجيل القدَّاس ليوم ٣ طوبه ، ٢٤ بشنس</p>
<p>(يو ٢١: ١٥ - ٢٥)          إنجيل القدَّاس ليوم ٤ طوبه ، ١ نسئ</p>
<p>(يو ٢: ١-١٢)               إنجيل القدَّاس ليوم ١٣ طوبي ، ٦ نسئ</p>
<p>(لو ١٦: ١-١٢)             إنجيل القدَّاس ليوم ٢٠ بشنس ، ٤ نسئ</p>
<p>+( لو ١٤: ٢٥-٣٥)                 إنجيل القدَّاس ليوم ١٩ توت ، ٣ مسري</p>

      {% endcreateArticleAccordions %}
    </section>
  {% endblock %}
