---
layout: 'layouts/reading.html'
title: 'اليوم الثاني عشر من شهر بابه'
tags: 'annual'
permalink: /articles/annual/2-12.html
---
  {% block content %}
    <section id="readings">
      <ul>
      {% if 'undefined' != 'undefined' %}
      
      {% else %}
      {% if '19.22:22-23' != 'null' %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">العشية</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeVespers '19.22:22-23' '40.9:9-13' %}
          </div>
        </div>
      </li>
      {% endif %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">باكر</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeMatins '19.40:9-10' '41.2:13-17' '' %}
          </div>
        </div>
      </li>
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <h3 class="flex items-center justify-between">
            <span class="kufi">القداس</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </h3>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeLitugy '49.4:11-19' '60.1:3-12' '44.5:12-18' '19.68:11-12' '42.5:27-32' %}
          </div>
        </div>
      </li>

      {% endif %}
        </ul>
    </section>
    <section id="article">
      <h3 class="mt-8 mb-4 heading-explain">شرح القراءات</h3>
      {% createArticleAccordions %}
        <p>&#8220;قومي استنيري لأنه قد جاء نورك، ومجد الرب أشرق عليك لأنه ها هي الظلمة تغطي الأرض والظلام الدامس الأمم. أما عليك فيشرق الرب، ومجده عليك يرى&#8221; (إش ٦٠: ١، ٢).</p>
<p>تعالى إلينا اليوم يا سيدنا المسيح وأضىء علينا بلاهوتك العالى.</p>
<p>أرسل لنا هذه النعمة العظيمة التي لروحك القدوس الُمعزّي. (إبصالية الثلاثاء)</p>
<p>[لا تتردد مهما كانت الرحلة طويلة، إن كانت بالبحر أو بالبر مادامت العطية مُقدمة لك، مهما كانت العوائق كثيرة أو قليلة فإن إشعياء يدعوك: &#8220;أيها العطاش جميعًا هلموا&#8230;&#8221; يا لسرعة مراحم الله، يا لسهولة العهد! إنك تنال هذه البركة بمجرد أن تُريدها. أنه يقبل رغبتك ذاتها كثمن عظيم. أنه يتعطّش إلى عطشك، ويروي كل الراغبين في السرّ. يقدم لطفًا لكل السائلين لطفًا. إنه مستعد للعطاء بسخاء، يفرح بالعطاء أكثر من فرح نائليه] (القديس غريغوريوس النزينزي)<a href="#_ftn1" name="_ftnref1">[1]</a>.</p>
<h3><strong>شواهد القراءات</strong></h3>
<p><strong>عشية: </strong>مزمور (مز9: 21، 22) – إنجيل (مت9: 9-31).</p>
<p><strong>باكر:</strong> مزمور (مز39: 8، 9) – انجيل (يو14: 26-31؛ 15: 1-4).</p>
<p><strong>القداس:</strong> البولس (1كو12: 1-31) – الكاثوليكون (1يو2: 20-3: 1) – الابركسيس (أع2: 1-21).</p>
<p>المزمور (مز46: 5، 6) - الانجيل (يو15: 26-16: 15).</p>
<h3><strong>ملاحظات ومقارنات بين قراءات الأيام الأربعة للآباء الرسل</strong></h3>
<ul>
<li>توجد أربع قراءات للآباء الرسل في قراءات الأيّام:</li>
<li>١٢ بابة تذكار القديس متى الإنجيلي.</li>
<li>٤ طوبة تذكار القديس يوحنا الحبيب.</li>
<li>٢٦ بشنس تذكار القديس توما الرسول.</li>
<li>٥ أبيب تذكار القديس بطرس الرسول.</li>
</ul>
<p>ويُلاحظ في القراءات الثلاث الأولي إرتباط القراءة بالشخص ذاته ورسالته، أمّا القراءة الرابعة مرتبطة بالآباء الرسل بصفة عامّة وإن كانت أيضاً تشير إلى القديس بطرس.</p>
<ul>
<li>مزمور عشية في يوم ٢٦ بشنس يتطابق مع مزمور عشية في يوم ٥ أبيب (مز ٦٧: ٣٣،١٣).</li>
</ul>
<p>ويتشابه مع مزمور القداس في يوم ١٢ بابة (مز ٦٧: ١٣) فقط.</p>
<ul>
<li>مزمور عشية يوم ٤ طوبة هو نفس مزمور القداس يوم ٢٦ بشنس ونفس مزمور القداس يوم ٥ أبيب (مز ١٨: ٤،١).</li>
<li>مزمور باكر يوم ٢٦ بشنس هو مزمور باكر يوم ٥ أبيب (مز ١٤٤: ٩،٨).</li>
<li>قراءة البولس في يوم ٤ طوبة ، ٢٦ بشنس، ٥ أبيب هي نفس القراءة (رو ١٠: ٤-١٨).</li>
<li>قراءة الكاثوليكون في يوم ٢٦ بشنس، ٥ أبيب هي نفس القراءة (٢بط ١: ١٢-٢١).</li>
<li>قراءة الإبركسيس في يوم ٤ طوبة، ٢٦ بشنس، ٥ أبيب هي نفس القراءة (أع ٣: ١-١٦).</li>
<li>إنجيل عشية وباكر والقدّاس في يوم ١٢ بابة مرتبط إرتباط مباشر بدعوة القديس متى صاحب تذكار اليوم.</li>
<li>إنجيل عشية وباكر في يوم ٤ طوبة مرتبط بدعوة الرب وإختياره للرسل وإيمانهم به، ولكن القراءتين من إنجيل يوحنا (يو ١٥: ٧-١٦، يو ١: ١-١٧) صاحب تذكار اليوم وإنجيل القداس خاص بالقديس يوحنا.</li>
<li>إنجيل عشية وباكر في يوم ٢٦ بشنس مرتبط بدعوة وإختيار الآباء الرسل، وإنجيل القداس خاص بالقديس توما الرسول صاحب تذكار اليوم.</li>
</ul>
<p>إنجيل عشية وباكر والقدّاس في يوم ٥ أبيب خاص بإختيار الآباء الرسل الإثني عشر.</p>
<h3><strong>ملاحظات على قراءة يوم 12 بابة</strong></h3>
<p>✤ <strong>الكاثوليكون</strong> في قراءات اليوم (١بط ١: ٣- ١٢) تكرَّر في قراءات ثاني يوم عيد الصليب، ٩ هاتور (تذكار مجمع نيقية المسكوني)، ٢٢ كيهك (تذكار الملاك غبريال)، ٣ نسئ (تذكار الملاك روفائيل).</p>
<p>وهي القراءة التي تكلمت عن الخلاص بالصليب الذي فتش وبحث عنه أنبياء (عيد الصليب)، وعن الذين بشروكم في الروح القدس مثل الآباء الرسل (١٢ بابه)، وعن نقاوة هذا الإيمان والشهادة له (٩ هاتور)، وأنه شهوة الملائكة (٢٢ كيهك، ٣ نسئ).</p>
<p>كما يأتي جزء من هذه القراءة (١بط١ ١: ١- ٩) في تذكار البابا بطرس خاتم الشهداء (٢٩ هاتور)، والإختلاف هنا هو في مجئ القراءة من بداية الإصحاح (بطرس رسول يسوع المسيح &#8230;)، ورُبما يكون هنا سبب القراءة أي إسم القديس بطرس.</p>
<p>وأيضاً يُشبه قراءة الكاثوليكون (١بط ١: ١- ١٢) للأحد الأوَّل من شهر أبيب، وهنا أيضاً إضافة أوَّل آيتين اللتان ذُكِرَ فيهما إسم القديس بطرس لإرتباط قراءة ذاك الأحد بعيد آبائنا الرسل الأطهار.</p>
<p>✤ <strong>الإبركسيس</strong> قراءة اليوم (أع ٥: ١٢- ١٨) تُشبه قراءة الإبركسيس للأحد الأوَّل من شهر أبيب (أع ٥: ١٢- ٢١).</p>
<p>والجزء المُضاف في قراءة الأحد يُشير إلى إنقاذ الملاك للآباء الرسل من السجن، وكرازتهم بالحياة الأبدية لكل الشعب في الهيكل.</p>
<p>تأتي في <strong>إنجيل عشيّة</strong> (مت ٩ : ٩ - ١٣) ، و<strong>إنجيل باكر </strong>(مر ٢ : ١٣ - ١٧) ، و<strong>إنجيل القدَّاس </strong>(لو ٥ : ٢٧- ٣٢) قصة لاوي العشار والوليمة التي أعدها للرب بعد دعوة الرب له وهي نفس موضوع إنجيل قدّاس الأحد الثاني من شهر مسرى.</p>
<h4><strong>القراءة المحولة على هذا اليوم</strong></h4>
<p>قراءة ١٥ بشنس (شهادة القديس سمعان الغيور أحد الإثني عشر رسولاً).</p>
<h3><strong>شرح القراءات</strong></h3>
<p>تتكلّم قراءات هذا اليوم عن دعوة النعمة الإلهية للإنسان</p>
<p>فتدعو نعمة الله الغنية كل يوم كل إنسان ليقبل غنى محبة المسيح، ويتبعه تاركاً كل شئ وراءه ومتكئاً في وليمة المحبّة الإلهية التي لا تضع حدود للبشر وتشرق على الجميع بصلاح الله الذي يسكب البرّ الإلهي لكل الخطاة والضعفاء.</p>
<p>فالكرازة بالنعمة الإلهية تبدأ بين المحيطين والمقربين (مزمور عشية) ثم تمتد وتتّسع إلى البعيدين (مزمور باكر) وتأخذ قوتها من الله مباشرة (مزمور القداس).</p>
<p>✤<strong> مزمور عشية</strong> يدعو كل مسيحي لتمجيد الله وتسبيحه</p>
<p>&#8220;فأذيع إسمك بين إخوتي وفِي وسط الجماعة أسبحك. يا أيها الخائفو الرب سبحوه ويا معشر ذرية يعقوب مجدوه&#8221;.</p>
<p>✤<strong> ومزمور باكر</strong> تستجيب النفس لعمل نعمته الغنية فلا تستطيع أن تكتم في قلبها ولا تقدر أن تمنع شفتيها عن بشارة الخلاص.</p>
<p>&#8220;بشرت بعدلك في جماعة عظيمة، هوذا لا أمنع شفتي. أنت يا رب قد علمت بري لم أكتم عدلك في قلبي&#8221;.</p>
<p>✤ ويكشف <strong>مزمور القداس</strong> عن مصدر كل عطيّة صالحة وكل موهبة تامّة</p>
<p>&#8220;الرب يعطي كلمة للمبشرين بقوة عظيمة ملك القوات هو المحبوب وفِي بهاء بيت الحبيب أقسم الغنائم&#8221;.</p>
<p>ورُبَّما تُشير <strong>المزامير</strong> لكرازته في الحبشة (سنكيار يوم ١٢ بابه) بين إخوته اليهود الذين تحوَّلوا إلى الوثنية قبل ذهابه إليهم (مزمور عشية)، وهم جماعة عظيمة وشعب كثير (مزمور باكر)، وأعطاه الرب قوة عظيمة للشهادة لهم (مزمور القداس).</p>
<p>✤ ويوضّح <strong>البولس</strong> عمل النعمة في الكنيسة، ودعوة الخدّام، وتدبير الخدمة، وهدف الإرسالية وحدانية الإيمان، والإنسان الكامل، وبنيان جسد المسيح.</p>
<p>&#8220;وهو أعطي البعض أن يكونوا رسلاً والبعض أنبياء والبعض مبشرين والبعض رعاة ومعلمين لأجل تكميل القديسين لعمل الخدمة لبنيان جسد المسيح إلى أن ننتهي جميعنا إلى وحدانية الإيمان ومعرفة ابن الله&#8221;.</p>
<p>✤ بينما يكشف <strong>الكاثوليكون</strong> عن أزمنة تدبير نعمة الله في العهد القديم والجديد ومع الأنبياء لأجل الخلاص المُعلن في ملء الزمان والذي كان موضوع طلب وإجتهاد الأنبياء وشهوة الملائكة.</p>
<p>&#8220;لأنه من أجل هذا الخلاص قد طلب الأنبياء وفتّشوا الذين تنبأوا عن النعمة التي صارت فيكم وبحثوا عن الزمن وروح المسيح والأمجاد الآتية بعدها الذين أُعلن لهم لأنهم ليسوا لأنفسهم كانوا يعملون بل جعلوا نفوسهم لكم خداماً بهذه الأمور التي أُخْبِرتم بها أنتم الآن بواسطة الذين بشروكم بالروح القدس المرسل من السماء التي تشتهي الملائكة أن تطلع عليها&#8221;.</p>
<p>✤ أما <strong>الإبركسيس</strong> فعمل النعمة فاق كل تصورات البشر وربما الرسل أنفسهم.</p>
<p>&#8220;وجرت على أيدي الرسل آيات وعجائب كثيرة في الشعب&#8230; حتى أنهم كانوا يُخرجون المرضي في الشوارع ويضعونهم على أسّرة وفرش حتى إذا مرّ بطرس ولو ظله على أحد منهم&#8230; فكانوا يبرأون جميعهم&#8221;.</p>
<p>✤ وتقدّم <strong>الأناجيل</strong> الثلاثة نموذج لجاذبيّة الحب الإلهي لنفوس الخطاة فنري ابن الله يقبل كل الناس وكل فئات البشر (إنجيل باكر) ويتكئ مع الخطاة والمنبوذين (إنجيل عشية وباكر) فيترك الإنسان كل شئ بفرح من أجله (إنجيل القداس).</p>
<p>وبالرغم من أن إنجيل عشية وباكر والقدّاس يسردون نفس القصة لقاء الرب مع لاوي أو متى العشار إِلَّا إننا نرى في:</p>
<ul>
<li><strong>إنجيل عشية</strong> القصة من إنجيل متى والقديس متى لا يدعو نفسه بالإسم اليهودي لاوي لكن بالإسم الروماني متى إمعاناً في تواضعه فقد ذكر الإسم الذي أطلقه عليه الرومان والذي إرتبط بوظيفته كعشّار.</li>
<li>أما <strong>إنجيل باكر والقدّاس</strong> يأتي إسم لاوي من بشارة القديس مرقس وبشارة القديس لوقا وهو إسمه اليهودي.</li>
<li>كما أن <strong>إنجيل باكر</strong> يُظْهِر مجئ كل الجمع إلى الرب &#8220;وكان كل الجمع يأتون إليه&#8221;</li>
<li>أمّا في <strong>إنجيل القداس</strong> يُظْهِر القديس لوقا أن لاوي ترك كل شئ &#8220;فقام وترك كل شئ وقام وتبعه&#8221;.</li>
</ul>
<p>و<strong>الأناجيل</strong> الثلاثة (عشية وباكر والقدّاس) تُظهر مدى نعمة الله الغنية والبرّ الإلهي للخطاة والعشارين المنبوذين.</p>
<p>&#8220;لا يحتاج الأقوياء إلى الطبيب بل المرضى لأني لم آت لأدعوا الأبرار بل الخطاة إلى التوبة&#8221;</p>
<p>وما أجمل قول القديس أمبروسيوس عن المسيح له المجد العريس وحضوره الدائم معنا في الإفخارستيا: [العريس دائماً معنا في العشاء الرباني].</p>
<p>والمُلفت للنظر تكرار كلمة <strong>عظيم</strong> أو <strong>عظيمة</strong>.. ولا عجب فالنعمة غنية، والعطية السماوية فائقة للبشر والكنيسة.</p>
<p>✥ بشرت بعدلك في جماعة <strong>عظيمة</strong> ← (مزمور باكر).</p>
<p>✥ لكن كان الشعب <strong>يعظِّمُهم</strong> ← (الإبركسيس).</p>
<p>✥ الرب يعطي كلمة للمبشرين بقوة <strong>عظيمة</strong> ← (مزمور القداس).</p>
<p>✥ وصنع له لاوي وليمة <strong>عظيمة</strong> في بيته ← (إنجيل القداس).</p>
<p>✥ وكان جمع <strong>عظيم</strong> من العشارين ← (إنجيل القداس).</p>
<h3><strong>ملخص القراءات</strong></h3>
<p>❈ غني النعمة في الإنسان يُكْرَز به بين القريبين وأمام كل الناس ومصدرها الله الآب. (مزمور عشيّة وباكر والقدّاس).</p>
<p>❈ وهي أساس التدبير الكنسي وتَطلُّع الأنبياء وشهوة الملائكة ويفوق عملها كل التصورات. (البولس والكاثوليكون والإبركسيس).</p>
<p>❈ ويظهر برّ إبن الله لكل البشر خاصة الخطاة والمنبوذين. (إنجيل عشيّة وباكر والقدّاس).</p>
<p>■ <strong>إنجيل القدَّاس في فكر آباء الكنيسة</strong><a href="#_ftn2" name="_ftnref2">[2]</a></p>
<p>❈ فقط القديس لوقا البشير يصف لاوي (متى العشّار) بأنه جابي (جامع) ضرائب، مشددًا على أن لاوي كان جزءًا من المجموعة التي اعتبرت أنها من أسوأ الخطاة. (القديس كيرلس الاسكندرى الأول- عمود الدين).</p>
<p>❈ تميزت صحبة المائدة مع الخطاة بجوهر خدمة السيد المسيح ومركز جدله مع المؤسسة الدينية، وخاصة الفريسيين، الذي بيَّن اللقاء مع لاوي عدم إيمانهم (القديس امبروسيوس).</p>
<p>❈ إنهم يغارون من يسوع لأنهم لا يفهمون أنه حاضر كطبيب وليس دياناَ (قاضياً) (القديس كيرلس الاسكندرى).</p>
<p>❈ إن استقبال السيد المسيح في بيوتنا وعلى مائدتنا هو الاستعداد له، أى للعريس، بمأدبة من الأعمال الصالحة (القديس امبروسيوس).</p>
<p>❈ هذه الصورة للسيد المسيح كعريس تتطلع الى وجود المسيح في عشاء الرب (القديس امبروسيوس)</p>
<p>❈ والعيد (الفرح) المسيحي عندما يأخذ السيد المسيح عروسه؛ أورشليم السماوية.</p>
<p>❈ لذا فالتلاميذ يستحقون اسم &#8220;ضيوف العرس&#8221; كأعضاء في الكنيسة والذين سيصبحون أيضًا خدام العيد (مار إفرام السريانى).</p>
<p>❈ سيصوم التلاميذ بعد صعود السيد المسيح، لأنهم سيستمرون في خلع ثوب الانسان العتيق، الذي تم خلعه أولاً في المعمودية (القديس امبروسيوس).</p>
<p>❈ وبعد تلك الأيام، عندما يؤخذ العريس، في إشارة إلى موته وخروجه من هذا العالم وصعوده. كمثال الثوب والنبيذ الجديدين: بينما أولئك الذين يتمسكون بالناموس القديم فلن يكون لهم نصيب في الخليقة الجديدة (القديس كيرلس الاسكندرى).</p>
<h3>أفكار مُقترحة للعظات</h3>
<h4><strong>(1) الآباء الرسل القديسين</strong><strong>:</strong></h4>
<p>١- مكانة الرسل في الكنيسة</p>
<p>&#8220;وهو أعطى البعض أن يكونوا رسلاً والبعض أنبياء &#8230;&#8221; (البولس).</p>
<p>الآباء الرسل هم أوَّل من دعاهم رب المجد وهم على قمِّة التدبير الكنسي وتُكوِّن تعاليمهم جوهر التقليد الكنسي.</p>
<p>&#8220;مبنيين على أساس الرسل والأنبياء ويسوع المسيح نفسه حجر الزاوية&#8221; (أف ٢: ٢٠) هذه الآية تُعْلِن مكانة الآباء الرسل وقيمة تعاليمهم في بناء الكنيسة وصحِّة الإيمان</p>
<p>&#8220;لتذكروا الأقوال التي قالها سابقاً الأنبياء القديسون ووصيتنا نحن الرسل وصية الرب والمخلص&#8221; (٢بط ٣: ٢).</p>
<p>٢- جوهر كرازة الرسل في الكنيسة</p>
<p>&#8220;للميراث الذي لا يبلى&#8230; صفوة إيمانكم كريمة أفضل من الذهب الفاني&#8230; وتأخذوا كمال إيمانكم وخلاص أنفسكم، لأنه من أجل هذا الخلاص قد طلب الأنبياء&#8230; التي تشتهي الملائكة أن تطلع عليها&#8221;. (الكاثوليكون).</p>
<p>جوهر الكرازة هو الخلاص الذي هو كمال الإيمان وتجعله التجارب أنقى من الذهب وهو موضوع نبوّة الأنبياء وشهوة الملائكة.</p>
<p>٣- مواهب الرسل في الكنيسة وآلامهم لأجل الكرازة.</p>
<p>&#8220;وجرت على أيدي الرسل آيات وعجائب كثيرة في الشعب&#8230; فألقوا أيديهم على الرسل ووضعوهم في حبس العامة&#8221;.</p>
<p>أعطي الله لآبائنا الرسل قدرة عمل آيات ومعجزات ليعملوا معجزات لم يعملها الرب نفسه حسب وعد الرب &#8220;يعملها هو أيضاً ويعمل أعظم منها&#8221; (يو ١٢:١٤).</p>
<p>كما أعطاهم هيبة ونعمة في أعين كل الناس &#8220;لكن كان الشعب يعظمهم&#8221;.</p>
<p>لكن أيضاً قَبِلَ آبائنا الرسل حَمْل آلام الكرازة وقبلوا السجن والضرب حتى الموت لأجل الشهادة للمسيح له المجد.</p>
<h4><strong>(2) دعوة الله لأولاده</strong></h4>
<p>1- دعوة الخطاة والمرضى للتوبة</p>
<p>&#8220;لم آت لأدعوا الأبرار بل الخطاة إلى التوبة&#8221; (انجيل عشية(.</p>
<p>يدعو الله من غنى محبّته المجانيَّة كل البشر للتوبة والرجوع وليس فقط لاوي العشار وأصحابه لكن كل من يحتاج الخلاص.</p>
<p>وهو هنا يدعو لاوي ليكون تائباً ثم يدعوه ليكون تابعاً له (مت ٩:٩) ثم واحداً من الإثنى عشر (مت ٣:١٠) ثم كاتباً لإنجيل ربنا يسوع المسيح.</p>
<p>2- دعوة الرعاة والخدّام لأعمال الخدمة لبنيان جسد المسيح</p>
<p>&#8220;وهو أعطى البعض أن يكونوا رسلاً والبعض أنبياء والبعض مُبشِّرين والبعض رعاة ومعلمين لأجل تكميل القديسين لعمل الخدمة لبنيان جسد المسيح&#8221; (البولس).</p>
<p>هدف دعوة الخدمة حياة القداسة وأن يكون شعب الله قديسين، ودعوة الخدمة هي دعوة للبنيان والمساندة والشركة والمحبّة وبهذا يتحقق بنيان جسد المسيح.</p>
<p>3- دعوة قبول الألم والتنقية</p>
<p>&#8220;وإن كان يجب أن تتألموا بتجارب متنوعة لكي تكون صفوة إيمانكم كريمة..&#8221; (الكاثوليكون).</p>
<p>&#8220;فألقوا أيديهم على الرسل ووضعوهم في حبس العامة&#8221; (الابركسيس).</p>
<p>&#8220;كل إنسان مسيحي مدعو للحياة مع الله مدعو أيضاً لقبول الألم وإحتمال التجارب لكن آلامه أو الآلام لأجله مرتبطة دائماً بالأمجاد &#8220;فشهد على آلام المسيح والأمجاد الآتية بعدها&#8221; (الكاثوليكون).</p>
<h4><strong>(3) صورة الكنيسة المُقدَّسة </strong></h4>
<p>1- كنيسة التسبيح</p>
<p>&#8220;وفِي وسط الجماعة أسبحك. يا أيها الخائفو الرب سبحوه&#8221; (مزمور عشيَّة).</p>
<p>ما أجمل التسبيح في الكنيسة إذا كان بالروح والذهن (١كو ١٤: ١٥) وما أجمل أن تتعوَّد النفوس على تمجيد الله كذبيحة صلاة.</p>
<p>2- كنيسة الكرازة</p>
<p>&#8220;بشرت بعدلك في جماعة عظيمة&#8221; (مزمور باكر).</p>
<p>&#8220;الرب يعطي كلمة للمبشرين بقوة عظيمة&#8221; (مزمور القدَّاس).</p>
<p>الكرازة في الكنيسة هي كرازة بالفرح القلبي والمحبّة المجانيَّة والحياة السماوية وهي التي تجتذب خراف أخر ليست من هذه الحظيرة (يو ١٦:١٠).</p>
<p>3- كنيسة المحبّة والفكر الواحد والجسد الواحد</p>
<p>&#8220;بل صادقين في المحبّة لننمو في كل شئ به الذي هو الرأس المسيح هذا الذي منه كل الجسد معاً ومقترناً بمؤازرة كل عرق كمقدار عمل المواهب لكلِّ واحد من الأعضاء صانعاً نمواً للجسد لبنيانه في المحبّة&#8221; (البولس).</p>
<p>&#8220;وكان الجميع مجتمعين بنفس واحدة في رواق سليمان&#8221; (الإبركسيس).</p>
<p>الجسد الواحد والفكر الواحد هما الوسيلة الوحيدة لإستعلان ملء الثالوث في الكنيسة ويُغطِّي إحتياجات كل أبنائها.</p>
<p>4- كنيسة أبناء الملكوت</p>
<p>&#8220;للميراث الذي لا يبلى ولا يتدنس ولا يضمحل محفوظاً لكم في السموات&#8221; (الكاثوليكون).</p>
<p>الكنيسة تُعِدُّ أولادها للزمن وخارج الزمن ويُعْلَن ملكوتها في قلوب الناس على الأرض (لو ٢١:١٧) وفِي السماء (لو ٣٢:١٢).</p>
<p>5- كنيسة القبول غير المشروط للخطاة</p>
<p>&#8220;لماذا يأكل معلمُكُم مع العشَّارين والخطاة&#8221; (إنجيل عشيَّة وباكر والقدّاس).</p>
<p>تقابل الله مع السامرية (يو ٤) ودخل بيت زَكَّا (لو ١٩: ١-١١) وقبل دموع المرأة الخاطئة (لو ٧: ٣٦-٥٠) ولم يرفض حتى التي أُمْسِكَتْ في ذات الفعل (يو ١١:٨).</p>
<h3><strong>عظات آبائية</strong></h3>
<h4><strong>[1] تعليق القديس كيرلس الأسكندري والقديس أمبروسيوس<a href="#_ftn3" name="_ftnref3">[3]</a></strong></h4>
<p><strong>(أ) القديس كيرلس الأسكندري</strong></p>
<p>دعوة لاوي لتبعية يسوع</p>
<p>كان لاوي جابيا للضرائب، رجلًا جشعًا لأموال مرذولة مليء برغبة لا يمكن السيطرة عليها، غير مبال بالعدالة في طريق شغفه للحصول على ما لا يستحقه. هكذا كانت شخصية العشارين.</p>
<p>ومع ذلك، تم انتشاله من معمل الخطيئة نفسها، وخلص عندما لم يكن له أمل، بدعوة من السيد المسيح مخلصنا جميعًا. فقال له يسوع &#8220;اتبعني&#8221; فترك كل شيء وتبعه&#8221;.</p>
<p>من أكثر الأشياء حكمة ما قاله القديس بولس: &#8220;أن المسيح جاء ليخلص الخطاة&#8221;، هل ترى كيف أن كلمة الله الوحيدة، بعدما تجسد، نقل إلى نفسه ارث الشيطان.</p>
<p>الحسد والاستنتاج الخاطي يحفّز الفريسيين:</p>
<p>ولكن لأي سبب يلوم الفريسيون المخلص على تناول الطعام مع الخطاة؟</p>
<p>لأن الناموس كان يميز بين المقدس والدنس «أي أن الأشياء المقدسة لا تتلامس مع الأشياء الدنسة»، لقد وضعوا الإتهام كما لو كانوا يبررون الناموس.</p>
<p>ومع ذلك، فقد كانت الحقيقة هي الحسد للسيد المسيح والبحث عن زلة. لكنه أظهر لهم أنه حاضر الآن، ليس كقاضٍ بل كطبيب. كان يقوم بوظيفة الطبيب الحقيقية، كونه في رفقة من هم بحاجة الى الشفاء.</p>
<p>ولكن بمجرد أن أعطوا تفسيراً لإتهامهم الأول فقد أتوا بآخر، تذرعوا بخطأ أن تلاميذه لم يصوموا وكانوا يأملوا أن يستخدموا هذا كفرصة لإتهام السيد المسيح.</p>
<p>لا شركة فى الخليقة الجديدة:</p>
<p>أولئك الذين يعيشون وفقا للناموس لا يمكنهم التمتع بالشركة مع السيد المسيح.</p>
<p>لا يمكن قبول هذه الشركة في قلوب الذين لم يتجددوا بعد بالروح القدس.</p>
<p>يوضح السيد المسيح ذلك بقوله أنه لا يمكن وضع رقعة قديمة على ثوب جديد، ولا يمكن أن تحوى الجلود القديمة نبيذًا جديدًا.</p>
<p>لقد ولى العهد الأول، ولم يكن خاليا من العيوب (الأخطاء). لذلك، أولئك الذين يتمسكون به ويحفظون في قلوبهم الوصية القديمة ليس لهم نصيب في (ترتيب) الأشياء الجديدة التي في المسيح.</p>
<p>الذي أصبحت فيه كل الأشياء جديدة، لكن عقولهم فسدت، ليس لديها انسجام أو توافق مع رسل العهد الجديد.</p>
<p><strong> (ب) القديس أمبروسيوس</strong></p>
<p><strong>المأدبة مع لاوي تشعل إيمانه</strong>:</p>
<p>تبعت الدعوة الروحية لجابي الضرائب ، الذي امر باتباعه ليس بالجسد بل بالإرادة.</p>
<p>فالقديس متى قد اختلس مرة بشراهة من الصيادين الأرباح التي تحصلوا عليها من الأعمال الشاقة والأخطار. وعندما تمت دعوته، تخلى عن مجلسه، الذي كان لسرقة أموال الآخرين.</p>
<p>نعم، لقد ترك ذلك المكان المخزي، ليسير على خطى السيد بإرادته. كما أعد وليمة عظيمة، لأن الذي يستقبل المسيح بداخله يأكل ويستلذ بكثرة من أجود أنواع الأطعمة.</p>
<p>لذلك يدخل الرب طوعاً ويتكئ في شخصية من آمن.</p>
<p>يجوع الناس عندما يكون المسيح غائبًا ويفتقرون إلى وفرة الطعام الصالح.</p>
<p>حقا، ان الشخص الذي تكفي فضائله ان تُلذذ من يأخذها.</p>
<p>ان السيد المسيح في بيته، يعد وليمة عظيمة، إنها مأدبة روحية من الأعمال الصالحة، يُصرف فيها الأغنياء فارغين ويُعيد بها الفقراء.</p>
<p>يقول، &#8220;لا يستطيع أبناء العرس أن يصوموا بينما العريس معهم&#8221;.</p>
<p><strong>العريس دائماً معنا في العشاء الرباني</strong>:</p>
<p>&#8220;وَلكِنْ سَتَأْتِي أَيَّامٌ حِينَ يُرْفَعُ الْعَرِيسُ عَنْهُمْ&#8221;، أي هذه الأيام التي يُؤخذ فيها المسيح منا، وهو الذي قال، سأكون معكم حتى نهاية العالم عندما قال &#8220;لا أَتْرُكُكُمْ يَتَامَى&#8221;؟ لأنه من المؤكد أنه إذا تركنا، فلن نَخلص.</p>
<p>لا أحد يستطيع أن يأخذ المسيح منكَ، إلا إذا رفضته.</p>
<p>إن تباهيك لن (يخلصك) يأخذك بعيدًا، ولا غرورك، ولا يمكنك أن تفرض القانون (الناموس) الخاص بك.</p>
<p>أنه لم يأت ليدعو الصالحين، بل الخَطَأَة&#8230; الصالحون هم الذين لا يَضربون الذين يَضربونهم، بل هم الذين يُحبون أعدائهم.</p>
<p>إذا لم نفعل هكذا، سيحدث العكس. &#8220;مَا جِئْتُ لأدعوا أبراراً بَلِ الخَطَأَة&#8221; المسيح لا يدعو أولئك الذين يدَّعون أنهم أبرار، لأنهم لا يعرفون الله ويسعون لإثبات برهم، ولم يُخضعوا أنفسهم لبر الله.</p>
<p>لذلك فان مدَّعين البر لا يُدعَون لنوال البركة، لأنه إذا كانت النعمة تأتي من التوبة، فمن المؤكد أن من يحتقر التوبة ينبذ النعمة.</p>
<p>أولئك الذين يجعلون أنفسهم مُقدسين لن يُدعوا. العريس مأخوذ منهم. لا قيافا ولا بيلاطس أخذ السيد المسيح منا.</p>
<p>لا يمكننا أن نصوم لأن السيد المسيح معنا، ونعيد بجسد السيد المسيح ودمه. فكيف أن من لا يجوع يصوم؟</p>
<p>كيف من لم يعطش يصوم؟ ثم كيف من يشرب المسيح يعطش حيث قال بنفسه: &#8220;مَنْ يَشْرَبُ مِنَ الْمَاءِ الذي أعطيه أَنَا فَلَنْ يَعْطَشَ إِلَى الأَبَدِ&#8221;؟</p>
<p>ثم تلى ذلك أوضح القول الخاص بصيام الروح.</p>
<p><strong>الصوم يشير الى ترك الملابس العتيقة في المعمودية</strong> :</p>
<p>في هذا الجزء، يُشبه الصوم الثوب العتيق الذي رأى الرسول انه ينبغى ان يُخلع إذ قال: &#8220;إِذْ خَلَعْتُمُ الإِنْسَانَ الْعَتِيقَ مَعَ أَعْمَالِهِ، ولبستم الجديد الَّذِي يَتَجَدَّدُ لِلْمَعْرِفَةِ&#8221;، بقدسية المعمودية، لكي يتماشى التعليم مع نفس الثوب، لئلا نخلط أعمال الانسان العتيق مع الجديد، حيث يؤدي الظاهر الخارجي أعمال الجسد.</p>
<p>الإنسان الداخلي، الذي ولد من جديد، لا ينبغي أن يكون له مظهر مختلط بين الأعمال القديمة والجديدة ولكن يجب أن يكون بنفس صبغة المسيح.</p>
<p>باتقاد الذهن، يجب أن يُقلد من طهره بالمعمودية.</p>
<p>فليغب اذن الذهن المشوّه الذي يزعج (يغضب) العريس، لأن من لم يَلبس لُباس العرس يشوه العرس. ما الذي يرضي العريس سوى سلام الروح ونقاء القلب ووضوح العقل؟</p>
<p><strong>أيضاً للقديس أمبروسيوس</strong></p>
<p>لقاء الرب مع لاوي العشار - في فكر القديس أمبروسيوس<a href="#_ftn4" name="_ftnref4"><strong>[4]</strong></a></p>
<p>+ عندما ترك مكان الجباية تبع المسيح بقلبٍ ملتهبٍ، ثم صنع له وليمة عظيمة. فمن يقبل المسيح في قلبه يمتلئ بالأطاييب الكثيرة والسعادة الفائقة، ويود الرب نفسه أن يدخل في قلب المؤمن ويستريح..!.</p>
<p>كل من يقبل جمال الفضيلة، ويقبل المسيح في بيته، يصنع له وليمة عظيمة أي وليمة سماويّة من الأعمال الصالحة، هذه التي يحرم منها جماعة الأغنياء ويشبع منها الفقير.</p>
<p>+ إنه لا يدعو من يدعون أنفسهم أبرارًا، فإنهم إذ يجهلون برّ الله ويطلبون أن يُثبتوا برّ أنفسهم لم يخضعوا لبرّ الله (رو١٠: ٣). من يدعون أنفسهم أبرارًا لا تقترب إليهم النعمة. فإن كانت التوبة هي بداية النعمة فمن الواضح أن احتقار التوبة هو تخلي عن النعمة.</p>
<p>+ لست بعد عشّارًا، فقد تبررت من أن أكون لاويًا!</p>
<p>لقد خلعت عنّي لاوي، ولبست المسيح!</p>
<p>كرهت أسْري، وهربت من حياتي الأولى!</p>
<p>إني لا أتبع آخر سواك أيها الرب يسوع! يا من تشفي جراحاتي!</p>
<p>من سيفصلني عن محبّة الله التي فيك؟ أشدة أم ضيق أم جوع؟‍ (رو ٨: ٣٥).</p>
<p>تُسمّرني فيك بمسامير الإيمان، وتربطني بك قيود الحب الصالحة!</p>
<p>وصاياك هي أداة الكيّ التي سأحتفظ بها على جرحي، إنها الوصيّة التي تحرق الموت الذي في الجسد، حتى لا تنتقل العدوى إلى الأعضاء الحيّة، إنه دواء مؤلم يحمي من عفونة الجرح!</p>
<p>أيها الرب يسوع، اقطع بسيفك القوي عفونة خطاياي، وقيّدني برباطات الحب، نازعًا كل فساد فيّ!</p>
<p>أسرع وتعال لتفضح الشهوات الخفيّة والمتنوّعة!</p>
<p>اكشف الجرح فلا تزداد عفونته!</p>
<p>طهّر كل فساد بحميم الميلاد الجديد.</p>
<h4><strong>[2] العلَّامة أوريجانوس</strong></h4>
<p><strong>اشفيني يا رب فأشفي  - عند العلامة أوريجانوس<a href="#_ftn5" name="_ftnref5">[5]</a></strong></p>
<p>تأتى بعد ذلك صلاة أخرى، تقول كلماتها:</p>
<p>&#8221; اِشْفِنِي يَا رَبُّ فَأُشْفَى خَلِّصْنِي فَأُخَلَّصَ، لأَنَّكَ أَنْتَ تَسْبِيحَتِي.</p>
<p>هَا هُمْ يَقُولُونَ لِي: «أَيْنَ هِيَ كَلِمَةُ الرَّبِّ؟ لِتَأْتِ»!</p>
<p>أَمَّا أَنَا فَلَمْ أَعْتَزِلْ عَنْ أَنْ أَكُونَ رَاعِيًا وَرَاءَكَ، وَلاَ اشْتَهَيْتُ يَوْمَ الْبَلِيَّةِ أَنْتَ عَرَفْتَ&#8221;. (إر 17: 14- 16)</p>
<ul>
<li>كل إنسان يريد أن يشفى من أمراض الروح والنفس عليه أن يطلب من الطبيب الأوحد الذى جاء خصيصاً من أجل المرضى، والذي قال: &#8220;لا يحتاج الأصحاء الى طبيب بل المرضى&#8221;</li>
</ul>
<p>بذلك يمكن للمريض أن يطلب في ثقة ويقول: &#8220;اشفنى يا رب فأشفى&#8221;. لأنه لو كان أحد آخر يستطيع أن يشفي النفوس  لما كنا نستطيع أن نقول بثقة &#8220;اشفني يا رب فأشفى&#8221;.</p>
<p>ومكتوب في الأنجيل أن المرأة نازفة الدم قد أنفقت كل ما عندها على الأطباء ولم تنتفع شيئاً (مر ٢٥:٥) ولم يستطع أحد منهم أن يشفيها.</p>
<p>بالفعل إننا لا نستطيع أن نقول لأى طبيب بكل جرأة وبكل ثقة: &#8220;اشفني فأشفى&#8221;، إنما يمكننا أن نقول ذلك بثقة كاملة للطبيب الأوحد القادر أن يمنح الشفاء بمجرد لمس هدب ثوبه.</p>
<p>لذلك فإننى أقول له: &#8220;اشفني يا رب فأشفى&#8221;، لأنك إذا عالجتني، فإن العلاج الذى يأتي من عندك يتبعه حتماً الشفاء، فأخلص.</p>
<p>مهما كان الذين يخلصون كثيرون إلا أننى لن أخلص بواستطهم، لأن الخلاص الوحيد الحقيقى يتم بواسطة السيد المسيح. لأنه &#8220;باطل هو الفرس لأجل الخلاص وبشدة قوته لا ينجي&#8221; (مز ١٧:٣٣).</p>
<p>الرب وحده الذي يخلص، وأى شيء غيره يكون باطلاً. لذلك أقول له: &#8220;أشفني يا رب فاشفى&#8221; ولكننى لا أقول  هذه الكلمات ألا اذا أستطعت أن أقول أيضاً تكملة الآية: &#8220;لأنك أنت تسبحتي&#8221; أو &#8220;لأنك أنت فخري&#8221;، وكذلك إذا نفذت هذه الوصية: &#8220;لا يفتخر الحكيم بحكمته، ولا يفتخر الجبار بجبروته، ولا يفتخر الغنى بغناه، بل بهذا ليفتخرن المفتخر بأنه يفهم ويعرفني إني أنا الرب المفتخر&#8221; (إر ٩: ٢٣، 24).</p>
<p>إذا طوبى للذي يتنازل عن كل فخر أرضي وعن كل كرامة زمنية، وعن الجمال والأشياء الجسدية، وعن الغنى والمجد، ويكتفى فقط بأن يقول للرب: &#8220;لأنك أنت فخري&#8221;.</p>
<ul>
<li>&#8220;هاهم يقولون لي أين هي كلمة الرب، لتأت! أما أنا فلم أعتزل عن أن أكون راعياً وراءك أو أما أنا فلم أتضايق (أمل) من أتباعك&#8221;:</li>
</ul>
<p>يقول يسوع المسيح لك: &#8220;أحمل صليبك واتبعني&#8221; (مت 16: 24) وأيضاً: &#8220;اترك كل شيء واتبعني&#8221; (مت ١٩: ٢٧، ٩:٩) وأيضاً: &#8220;من أحب أباً أو أماً أكثر مني فلا يستحقني&#8221; (مت ١٠: ٣٧، ٣٨).</p>
<p>إذا لو استطعت أن تتبع يسوع المسيح دائماً فإنك لن تمل أبداً من أتباعه لأنه &#8220;لم يبصر إثماً في يعقوب ولا رأى تعباً في إسرائيل&#8221; (عد ٢٣: ٢١). لا يوجد ملل حينما نتبع السيد المسيح، فإنه مجرد أتباعه ينزع كل ملل أو تعب. لذلك يقول لنا: &#8220;تعالوا إليَّ يا جميع المتعبين والثقيلي الأحمال وأنا أريحكم&#8221; (مت 11: 28) . فإذا كنا متعبين وذهبنا إليه وتبعناه نقول: [أما أنا فلم اتعب من أتباعك].</p>
<p>سوف نقول له أيضا ً: &#8220;ولا أشتهيت يوم البلية&#8221;. أو &#8220;ولا اشتهيت يوم الإنسان&#8221;. يوجد &#8220;يوم للإنسان&#8221; ويوجد &#8220;يوم للرب&#8221;. يحدث كثيراً حينما يكون الإنسان مريضاً ومشرفاً على الموت، أنه يطلب من الناس الذين يزوروه أن يصلوا من أجله حتى يصل على قيد الحياة. حينما يقول الإنسان ذلك لا يشتهى يوم الرب إنما يشتهى يوم الإنسان. لنكف إذاً عن محبة العالم وعن اشتهاء يوم الإنسان، ولنتطلع إلى يوم القيامة واللقاء مع القديسين حينما يطوبنا المسيح يسوع الذى له المجد والقدرة إلى أبد الأبدين آمين.</p>
<h4><strong>[3] القديس غريغوريوس النيسي<a href="#_ftn6" name="_ftnref6">[6]</a></strong></h4>
<p>تسترسل العروس في حديثها مع تلاميذها، فتتحدث عن حقيقة مدهشة عن نفسها حتى نستطيع أن نعلم مدى عظمة حب العريس لبني البشر الذي أضفى جمالًا على العروس المحبوبة من خلال مثل هذا الحب.</p>
<p>تقول: &#8220;لا تتعجبوا أن الحق أحبني&#8221;. بالرغم من أني صرت سوداء بسبب الخطية ومكثت في الظلال بسبب أعمالي، فإن العريس قد جعلني جميلة من خلال حبه، إذ استبدل جماله بعاري (إش ٥٣: ٢، ٣)؛ (في٢: ٧). بعد أن حمل دنس خطيتي، سمح لي أن أشاركه في طهارته وأضفى عليَّ جماله. حوّل منظري المنفر إلى جمالٍ، أظهر لي حبه&#8230;</p>
<p>بالرغم من إننا صرنا ظلمة بسبب الخطية فإن الله قد أضفى علينا جمالًا وبهاءً من خلال نعمته الفائقة.</p>
<p>عندما يسود الليل ويكتنف الظلام كل شيءٍ نجد أنه رغم أن بعض الأشياء تصير مضيئة بالطبيعة إذ حل النهار فإن مقارنتها بالظلمة لا تنطبق على الأشياء التي كانت معتمة قبلًا بالسواد.</p>
<p>وهكذا تعبر النفس من الخطأ إلى الحق، وتتبدل صورة حياتها المظلمة إلى نعمة فائقة.</p>
<p>انتقل بولس الرسول عروس المسيح من الظلمة إلى النور، إذ يقول لتلميذه تيموثاوس (١تي ١: ١٣)، كما العروس لوصيفتها، إنه قد صار مستحقًا أن يكون جميلًا، لأنه كان قبلًا مجدفًا ومضطهدًا ومفتريًا ومظلمًا. ويقول بولس الرسول أيضًا إن المسيح جاء إلى العالم لينير للذين في الظلمة. إن المسيح لم يدعُ أبرارًا بل خطاة إلى التوبة، الذي جعلهم يضيئون كأنوار في العالم (في ٢: ١٥)، بحميم الميلاد الثاني الذي غسلهم من صورتهم السوداء الأولى&#8230;</p>
<p>تشجع العروس بنات أورشليم بحماس إذ تصف لهم صلاح العريس الذي يستلم النفس السوداء ويردها إلى صورة الجمال الأول بالشركة معه.</p>
<p>إذن من كان &#8220;كخيام قيدار&#8221; يصير مسكنًا مضيئًا لسليمان الحقيقي، أي يسكن فيه ملك السلام. لذلك يقول النص: &#8220;أنا سوداء وجميلة يا بنات أورشليم&#8221;.</p>
<h4><strong>[4] الأب صفرونيوس</strong></h4>
<p><strong>الرجاء</strong> <strong>هو</strong> <strong>الوليد</strong> <strong>البكر</strong> <strong>للمحبة<a href="#_ftn7" name="_ftnref7">[7]</a></strong>:</p>
<ul>
<li>رجاء المحبة لا يخزي، لأنه يعرف عمق محبة الله الذي لم يتردد في أن يرسل إبنه الوحيد لكي يخلصنا. بهذا الرجاء نخلص من اليأس ومن صغر النفس، ونعرف مقدار كرامتنا العظيمة لدى الله مخلصنا.</li>
<li>إذا ازدادت محاربات الأفكار لنا فلا نجزع ولا نخجل ولا نيأس، بل لنستمر في الصلاة. ولا يجب أن نتهم الجسد، لأن الجسد لا يمكنه أن يتحرك بدون الإرادة، ولذلك يجب القيام بالسجدات المطلوبة أثناء الصلوات وأن نسجد بكل وقار ومحبة عارفين أن سجودنا هو إخضاع الإرادة والفكر وتقديم الجسد قرباناً روحياً حسب الرسول بولس &#8220;أسألكم أيها الأخوة برأفة الله أن تقدموا أجسادكم ذبيحة حية مقدسة&#8221; (رو۱۲: ۱) ولم يتوقف الرسول عند هذه الكلمات، بل أضاف &#8220;مرضية عند الله عبادتكم العقلية&#8221;، لأن العقل أو الروح لا يحيا بدون الجسد، بل يحيا في الجسد وهو مصدر الحياة الجسدانية، ولذلك السبب كلما سجدنا بالجسد، سجدت مع الجسد الروح والعقل والإرادة.</li>
<li>لنحيا بالرجاء الحي في يسوع المسيح ربنا، ونلازم السجود وكل مرة تهاجمنا فيها الأفكار النجسة، فلنرتل بصوت مسموع إذا كان هذا لا يزعج أحداً، لأن الترتيل ينقل الجندي المحارب من الخوف إلى الاستعداد حسب قول الرسول &#8220;هل لأحد منكم مشقة فليرتل&#8221; لأن الترتيل ينهض الإرادة، ويجعلنا مثل المحارب الذي يفحص أسلحته ويجدها كافية مؤهلة للمعركة الروحية.</li>
</ul>
<p><strong>تجلي</strong> <strong>الجسد</strong> <strong>بالتوبة</strong></p>
<ul>
<li>لا يجب أن نحيا في المسيح بدون أن تتجدد أذهاننا، لأن عدم تجديد الذهن (الإدراك، المعرفة، الإرادة، المشاعر) يعني أننا لن نختبر تجديد الجسد الذي لا يمكن أن يتجدد بدون الذهن، ولذلك يقول الرسول أولاً &#8220;لا تشاكلوا هذا الدهر&#8221; (رو۱۲: ۲).</li>
</ul>
<p>وهو هنا يؤكد على أن يكون لنا ميزان للفضائل والرذائل، هو ميزان الإنجيل ميزان العالم لكي نميز بين ما هو مقدس ونافع حسب يسوع المسيح،</p>
<p>وبعد ذلك يقول الرسول ثانياً &#8220;تغيروا عن شكلكم بتجديد أذهانكم&#8221; (رو۱۲: ۲) لأن الشكل أي هيئة الجسد وتصرفات وسلوك كل عضو من أعضاء الجسد لا تتغير إلا إذا كانت الروح في حالة التوبة بقوة الروح القدس،</p>
<p>وهذه هي علامة توبة الروح بقوة ونعمة الروح القدس: متى رأيت نفسك تهزأ بكل الأفكار، وتفرح  بالشتائم، وتسرع إلى خدمة الإخوة وتفضل راحتهم على راحتك، وقبل كل هذا وذاك، إنك تغفر الإساءة فأعلم أنك قد مسحت بروح المسيح يسوع وإنك في شركة معه.</p>
<p>هنا يمكن أن نتكلم عن تجديد الجسد، لأن كل عضو يأخذ شكلاً جديداً ويمسح بالرأفة والرحمة، فلا تضرب اليدين، بل تقدم ما هو نافع، وتسرع القدمين إلى السجود والخدمة، وتتحول أنفاس الإنسان وحركة صدره إلى توسل وطلب، وينتعش الجسد نفسه فيتحرك بسهولة، لأن قوة الروح تدفعه بفرح إلى الأعمال الشاقة، ولأنه صار واحداً مع الروح القدس وإمتزج بنعمة الروح القدس فوضع قدميه على أول درجات الحياة في الدهر الآتي، وصار الجسد مثل الروح يحيا في الابتهاج في الله، ولذلك يحس البعض منا بأن الجسد خفيف يكاد يطير، وبوحدة مع كل الخليقة؛ مع الأشجار والمياه والرياح، ويشكر مع كل الكائنات ويندمج معها في التسبيح بحرارة ولذة تفوق الكلمات.</p>
<p><strong>زمان</strong> <strong>الغرس</strong> <strong>وزمان</strong> <strong>الانتظار</strong>:</p>
<ul>
<li>&#8220;هوذا تأتي أيام يرفع فيها العريس وعند ذلك يصومون&#8221; (مت ٩: ١٥) هكذا قال إبن الله نفسه عن زمان لا تعرف فيه عرس  الملكوت، بل نجد أنفسنا في زمان جفاف وصعوبة ونصبح مثل الأرض الجافة التي لم تر مطر نعمة الله&#8230;.. هذا زمان صعب وليل طويل عاشه الآباء القديسون وثبتوا فيه لأنهم لم يطلبوا لذة الشركة قبل الشركة، ولا الفرح بالعطية قبل الله نفسه، أي أنهم فرحوا  بالله، ولما جاء ليل احتجاب وجه الله الذي سبق فرآه داود وصرخ في توجع &#8220;لا تحجب وجهك عني&#8221; (مز۲۷: ۹)، ظل هؤلاء الآباء على حال الأمانة لمواعيد الله وثبتوا في أماكنهم ولم يفقدوا رتبتهم ولم يبيعوا بركة البكورية مثل عيسو الذي وصف بأنه &#8220;مستبيح&#8221; وباع الباقي بالفاسد، ولذلك لم يعد له قدرة على التوبة، ليس لعجز رحمة الله، بل لأنه سار وعاش بهذا القانون وطلب الفاني ولذلك زالت توبته.</li>
<li>لنثبت في الرب، ولا نترك وصاياه، ولنقبل هذا الامتحان حتى يجيء زمان العرس الذي تتهلل فيه النفس وتفرح بالله خالق كل الأشياء. وقد استلمنا من الشيوخ أن زمان الانتظار هو زمان صعب نتلو فيه الصلوات أحياناً دون فهم ونصلى بندم، ولكن بلا دموع، ونجلس في الهذيذ بلا فرح. هذا هو امتحان النفس العسير. أنريد الله نفسه أم نريد المواهب والعطايا؟ لأن الذين هلكوا قد هلكوا بواسطة المواهب، أما الذين نالوا الخلاص فقد كان لهم الإيمان الثابت والمستقر في يسوع المسيح ربنا ومخلصنا، ولذلك كانت عيونهم على يسوع أكثر مما هي على المواهب الروحية، ولذلك نالوا الملكوت السماوي (راجع مت۷: ۲۱-۲۳) وهؤلاء قال عنهم ربنا يسوع المسيح إنهم فعلوا إرادة الآب السماوي إذ صاروا مثله (راجع مت۷: ۲۱ مع مت٥: ٤٨).</li>
</ul>
<h3><strong>عظات آباء وخدام معاصرين</strong></h3>
<h4><strong>[1] المتنيح الأنبا أثناسيوس مطران بني سويف والبهنسا</strong></h4>
<p><strong>(مت ٩:٩-١٧)<a href="#_ftn8" name="_ftnref8">[8]</a></strong></p>
<p><strong>دعوة متى</strong>: (مت۹: ۹- ۱۳)</p>
<p>قابل السيد متى بن حلفي وهو الذي كان اسمه أيضا لاوي. وسجل متى نفسه أنه كان عشاراً، وأن أصحابه كانوا عشارين وخطاة، ولم يستح من ماضيه لأنه كان فرحاً بالخلاص، وهو يذکر جيداً كيف أن الرب قال: إنه جاء إلى المرضى وليس إلى الأصحاء.</p>
<p>فما أحلى أن يتمتع الخاطىء بنعمة الخلاص والغفران.</p>
<p>وقد كان الفريسيون يفرزون أنفسهم عمن يسمونهم خطاة مدعين البر لأنفسهم. أما الرب فإنه يقرع باب الجميع، ويخلص الجميع وهو يفضل العمل الرحيم على تقديم الذبائح.</p>
<p><strong>الفرح والصوم</strong>: (مت۹: ١٤-١٧)</p>
<p>لا يتكلم الفريسيون هنا وتلاميذ يوحنا عن الأصوام العامة، بل عن أصوام خاصة كان المعلم يفرضها على تلاميذه كتداريب خاصة، بدليل قولهم: &#8220;لماذا نصوم نحن والفريسيون كثيراً، وأما تلاميذك فلا يصومون؟&#8221; أي لماذا لا تدرب تلاميذك على أعمال نسكية خاصة، ولابد أن الرب والتلاميذ كانوا يصومون الأصوام العامة لأنه كان يتم كل بر الناموس. فكانوا يصومون مثلا حسب وصية زكريا &#8220;صوم الشهر الرابع، وصوم الخامس، وصوم السابع، وصوم العاشر، يكون لبيت يهوذا ابتهاجاً وفرحاً&#8221; (زك۸: ۱۹). أما الفريسيون فكانوا عموما يصومون مرتين في الأسبوع (لو ۱۸: ۱۲)، وأصوام أخرى يفرضها المعلمون على التلاميذ: أما الرب فإنه لكي يخلص النفوس، لا يمكن أن يبنى حياتها إلا على أساس النعمة. ولذلك قال لهم: &#8220;أن التلاميذ يفرحون الآن بوجود العريس معهم، ويأتي وقت للجهادات الخاصة. فكل جهاد لنا خارج عن الايمان باطل، وأما الإيمان فهو يعطي القلب فرحاً وسلاماً، وحينئذ يجاهد المؤمن باذلاً حياته من أجل اسم الرب. ولذلك قاومت المسيحية الأولى العقلية اليهودية التي دخل بها البعض الى المسيحية، وكانوا يريدون أن يهودوها، فاجتمع الرسل وقرروا بارشاد الروح الا يضعوا شيئاً من هذه الأثقال القديمة علي المؤمنين (أع ١٥: ٢٨).</p>
<p>ولا يقصد بالثوب القديم أو الزقاق العتيقة الناموس أو الشريعة القديمة، لأنها اذا فهمت فهماً سليماً فهي إنما تؤدي الى الايمان، وقد كملها الرب بالخلاص. ولكن المقصود هنا: التقليدات الكثيرة التي وضعها معلمو اليهود مثل تداريب الأصوام والاغتسالات والملابس وغيرها الكثير. أما الشريعة فما بطل منها فعلاً عن المسيحيين هو ما كان ممهداً لمجيء المسيح مثل: الذبائح، أو أنواع الأطعمة التي كانوا يمتنعون عنها، لِما تُعطي من فكرة عدم الشبع بالنعمة، فكانوا مثلاً لا يأكلون السمك الخالي من الزعائف والقشر، لأن القشر كان يشير إلى الإكتساء بالنعمة، والزعانف تشير إلى مواهب الانسان التي يسلك بها في الحياة بحرية &#8220;إن حرركم الابن فبالحقيقة تصيرون أحراراً&#8221; (يو8: 36). (انظر لا۱۱: ۹).</p>
<p>ويلزمنا أن نلفت النظر إلى أن ممارسة الصوم بالجسد فقط دون الفضائل الروحية لا تفيد، بل ينبغي أن نفعل هذه ولا نترك تلك. كما أنه تلزم الإشارة إلى أن الجهادات الخاصة في العبادة التي كان القديسون يمارسونها، قد لا تناسب بعض الناس، ولا يجوز أن تمارس بطريقة آليه كانها مفروضة للجميع.</p>
<h4><strong>[2] المتنيح الانبا بيمن أسقف ملوي</strong></h4>
<p><strong>الطبيب</strong> <strong>الإلهي<a href="#_ftn9" name="_ftnref9">[9]</a></strong></p>
<p>كما كان يسوع معلماً هكذا كان طبيباً كان يعلم في المجامع ثم يشفى كل المرضى الذين يتقدمون اليه. عندما تذمر اليهود عليه لأنه يدخل بيوت العشارين والخطاة قال لهم: لا يحتاج الأصحاء إلى طبيب بل المرضى، لأني لم آت لأدعو أبراراً بل خطاة إلى التوبة (مت ۹:۹ -۱۳، مر١٤:۲- ۱۷، لو٥: ۲۷- ۳۲).</p>
<p><strong>في العهد القديم</strong></p>
<p>وفي العهد القديم كان الأنبياء ينتظرون ذاك المسيا الذي يشفي أمراضهم الروحية والجسدية والنفسية.</p>
<p>فأرميا يتساءل أليس بلسان في جلعاد؟ أم ليس هناك طبيب؟ فلماذا لم تعصب بنت شعبي؟ (إر 8: 22).</p>
<p>وإشعياء كان حزيناً لأن شعبه ليس من يشفيه.. &#8220;كُلُّ الرَّأْسِ مَرِيضٌ، وَكُلُّ الْقَلْبِ سَقِيمٌ. مِنْ أَسْفَلِ الْقَدَمِ إِلَى الرَّأْسِ لَيْسَ فِيهِ صِحَّةٌ، بَلْ جُرْحٌ وَأَحْبَاطٌ وَضَرْبَةٌ طَرِيَّةٌ لَمْ تُعْصَرْ وَلَمْ تُعْصَبْ وَلَمْ تُلَيَّنْ بِالزَّيْتِ&#8221; (إش 1: 5، 6)،</p>
<p>وكان الفكر السائد عند اليهود ، أن الخطيئة هي سبب كل مرض، فعندما تلاقي التلاميذ مع المولود أعمي، سألوه &#8221; أهذا أخطأ أم أبواه!&#8221;. وترسب في ذهنية الشعب أنه ليس يصح إستدعاء الطبيب. إنما يطلب الله وحده.</p>
<p>وأما الملك آسا فعندما أشتد عليه المرض لم يطلب الرب بل طلب الأطباء فمات (٢أي١٦: ۱۲).</p>
<p>ولكننا لا نستطيع أن نستند على تفسير خاطئ لهذه الآية، ونرفض إحضار الأطباء عندما يشتد المرض على أحد أحبائنا وذلك لما يلى :</p>
<p>ا- أنه لم يوجد في قوانين الكنيسة كلها ما يمنع إستدعاء الطبيب.</p>
<p>٢- إن الفكر اليهودي تعدل فيما بعد وإمتدح يشوع بن سيراخ الطبيب مبين أن الله يستطيع أن يجری مقاصده من خلاله. &#8220;أعط الطبيب كرامته لأجل فوائده لأن الرب خلقه، لأن الطب آت من عند العلي الرب خلق الأدوية من الأرض والرجل الفطن لا يكرهها&#8221;.</p>
<p>٣- أن لوقا البشير أحد الإنجيليين الأربعة كان طبيباً.</p>
<p>٤- إن ما تمنعه الكنيسة وتحرمه هو إستدعاء الدجالين والمشعوذين والسحرة وأتباع الجان والعرافة لأنه مهما قدموا هؤلاء فهم أعداء كل بر ومضلون ومضللون.</p>
<p>ولعل هذا ما أخطأ فيه آسا الملك.</p>
<p><strong>الرب يسوع الطبيب الحقيقي</strong></p>
<p>كما أن الطبيب يكشف على كل مريض ويراه على حقيقته، هكذا الرب يسوع يعرفنا على حقيقتنا ويفحص أعماق نفوسنا خالية من كل غش ورياء ومظهرية. إنه يعرفنا على طبيعتنا.</p>
<p>وكلمة طبيب في اليونانية تعني من درس الطبيعة.</p>
<p>وكما أن الطبيب يعالج الجميع بلا إستثناء هكذا الرب يسوع هوالطبيب الحقيقي لكل البشرية وعنده وحده الدواء لكل بني البشر.</p>
<p>وكما أن الطبيب يكشف المرض ويقدم الدواء الشافي هكذا الرب يعرف حقيقة أمراض نفوسنا وأجسادنا، إنه يقدم لنا علاجاً معجزیاً.</p>
<p>وكما أن الطبيب يحنو على مرضاه، بل وكثيراً ما يخاطر بنفسه لأجل شفائهم، هكذا يسوع بذل ذاته على الصليب لأجل خلاصنا ولا يتقزز من أي خاطئ يقبل إليه. إنه القائل: &#8220;تعالوا إليَّ يا جميع المتعبين وثقيلى الأحمال وأنا أريحكم&#8221;.</p>
<p>وكما أن الطبيب يعرف فرادة كل حالة على حدة ويعطي العلاج الخاص بحيث أن ما يصلح لواحد لا يصلح لآخر، هكذا الرب يسوع مخلص نفوسنا، شافي أرواحنا وأجسادنا، يعرف إحتياج كل واحد منا.</p>
<p>أنه يقدر هذه الفرادة ولا يقيد کيان الشخصية، وإنما يصلح اعوجاجنا فقط.. هكذا تحتفظ الشخصية في دائرة النعمة بطابعها الفريد، لأن مسرة الله أن تحتفظ شخصياتنا التي خلقها على صورته ومثاله، وأن تمتلئ ليكمل بنيانها في أصالة وحق وعمق.</p>
<p><strong>كيف نلتقي بالطبيب الحقيقي؟</strong></p>
<p>في مخدع الصلاة، نعرض له أمراض نفوسنا، والحروب التي تقابلنا، والجراح التي أصابتنا من قتال العدو.. وهو قادر وحده بروحه القدوس أن يطهرنا من كل دنس الجسد والروح.</p>
<p>في التأمل والخضوع الحقيقي لكلمة الله. فهي سيف ذو حدين خارقة إلی مفرق النفس والروح، هي مشرط الجراح الأمين الشافي الذي يدين ويعزي، يجرح ويعصب، يستأصل الفساد ويداوي كل ضعف. في التوبة بدموع وندم، وبالاعتراف الذي يعمل من خلاله الطبيب الإلهي في تقديم حلول لمشكلاتنا، وعلاج لأمراض نفوسنا، وتوجيهات وتداريب لازمة لأرواحنا، وحل لرباطات خطايانا وآثامنا.</p>
<p>في ممارسة سر مسحة المرضى، حسب أمر يعقوب الرسول، ولايزال المسيحيون في الريف يسرعون إلى الكاهن، يستدعونه عند حالة كل مرض.. وأما في المدينة، فإن تعذر حضور الكاهن في حالة كل مرض، فلا أقل من أن يحتفظ بزيت مسحة المرضى الذي عمل مرة في المنزل، ويمكن لرئيس الأسرة أن يدهن المريض أو نفسه..</p>
<p>إسمع الكنيسة الحانية مصلية عن المرضى قائلة: &#8220;تعهدهم بالمراحم والرأفات، إشفهم، إنزع عنهم وعنا كل مرض وكل سقم، وروح الأمراض أطرده والذين أبطأوا مطروحين في الأمراض أقمهم وعزهم، والمعذبون من الأرواح النجسة إعتقهم جميعاً وارحمهم. أنت الذي تحل المربوطين وتقيم الساقطين.. يا رجاء من ليس له رجاء، ومعين من ليس له معين، عزاء صغيري النفوس، ميناء الذين في العاصف. ونحن يا رب أمراض نفوسنا إشفها، والتي لأجسادنا عافها، أيها الطبيب الحقيقي الذي لأنفسنا وأجسادنا، یا مدبر كل جسد تعهدنا بخلاصك.</p>
<h4><strong>[3] المتنيح الأنبا إيساك الأسقف العام</strong></h4>
<p><strong>كيف</strong> <strong>يمكننا</strong> <strong>سماع</strong> <strong>دعوة</strong> <strong>يسوع</strong> <strong>الآن؟<a href="#_ftn10" name="_ftnref10">[10]</a></strong></p>
<p><strong>✥</strong> عندما دعى يسوع تلاميذه الأولين، دعاهم بكلمة فمه، أتى اليهم بهيئته الجسدية، وكان حاضراً معهم يكلمهم بكلمته. وهم يسمعوه بآذانهم، ورأته أعينهم، ولمسته أيديهم. ولكن بالنسبة لنا نحن أبناء هذا الجيل، وبعد أن صلب المسيح وقام، كيف يمكننا أن نتسلم رسالته اليوم؟.</p>
<p>حينما يدعونا يسوع: &#8220;أتبعني..&#8221; فانه لا يمر علينا في هيئة جسمية كما مر على لاوى العشار. فبأي حق يتوجب علينا إذن أن نترك كل شيء ونتبعه، مهما كان شغفنا بأن نسمع دعوته؟ إن معاصري المسيح لم يخطئوا دعوته أبداً، ولكن بالنسبة لنا فهي مشكلة معقدة وهو قرار لا يمكن التحكم فيه. كيف يمكننا تطبيق دعوة لاوي مباشرة على حياتنا؟ أما يكيف يسوع كلمته لتناسب البشر ومختلف الظروف؟.</p>
<p><strong>✥</strong> ثم ماذا عن المفلوج؟ لقد نال غفراناً وشفاء. وكذلك لعازر، لقد أقيم من الموت، ولم يدعو يسوع المفلوج، ولا لعازر، أن يتركا أعمالهما ويتبعاه. ولكنه تركهما في منزليهما مع أسرتيهما وأشغالهما المعتادة. فهل معنى هذا أنه أحبهما أقل من باقى التلاميذ؟ من أين لنا نحن أن نعرف لنتقدم باختيارنا إلى مثل هذه الحياة غير المألوفة وغير المعتادة؟ من يستطيع أن يخبرني كما يخبر الآخرين عن هذا الأمر؟.. وإلا فإننا نعمل بناء على دعوة أنفسنا لأنفسنا، ونكون تابعين لهواجسنا التي قد تؤدى بنا إلى الضياع.</p>
<p><strong>✥</strong> ولكن من يسأل مثل هذه الأسئلة لا يريد في الواقع أن يكون تلميذًا، فهناك خطأ ما حول كل هذه الأسئلة. كل مرة نسألها نكون في حالة تراجع عن حضرة المسيح الحي، ناسين أن يسوع المسيح ليس ميتاً بل هو حي ويتكلم معنا اليوم عبر شهادات الأسفار المقدسة. إنه يأتي الينا اليوم، وهو موجود معنا في العالم ليس بكلمة انجيله فقط بل بجسده ودمه الحقيقي. لو أردنا سماع دعوة يسوع لكى نتبعه فعلينا أن نذهب إلى حيث يوجد. إنه يوجد في الكنيسة المقدسة&#8230; ويمكننا من خلال خدمة الأسرار والكرازة بالكلمة أن نصغ لصوته. في المكان الذى تكرز فيه الكنيسة وتقدس أسرارها يكون هو المكان حيث يوجد يسوع المسيح الآن. إن كنت تسمع دعوته فلست بحاجة إلى اعلان شخصي: كل ما عليك أن تفعله هو أن تسمع انجيل ربنا يسوع المسيح مصلوبًا ومقاماً، وتقبل الأسرار. إنه هنا، نفس المسيح الذى واجهه التلاميذ كاملاً وكلياً. نعم، إنه كائن هنا، الرب الممجد المنتصر الحي. المسيح وحده هو القادر بذاته أن يدعونا لنتبعه. ألم يقبل القديس أنطونيوس دعوته الإلهية على هذا النحو؟.</p>
<p><strong>✥</strong> &#8220;وكان يسوع يطوف في المدن والقرى في مجامعها ويكرز ببشارة الملكوت ويشفى كل مرض وكل ضعف في الشعب. ولما رأى الجموع تحنن عليهم اذ كانوا منزعجين ومنطرحين كغنم لا راعي لها. حينئذ قال لتلاميذه الحصاد كثير ولكن الفعله قليلون، فاطلبوا من رب الحصاد أن يرسل فعلة إلى حصاده&#8221;. (مت ٩: ٣٥– ٣٨).</p>
<p><strong>✥</strong> المخلص ينظر بعطف نحو شعبه، شعب الله. إنه لا يقدر أن يهدأ راضياً بالقلة التي سمعت دعوته وتبعته لا يكتف بجماعة تلاميذه الصغيرة. على خلاف مؤسسي أديان وحركات عالمية عظيمة لم يشأ المسيح أن يسحب أتباعه من وسط عامة الجماهير ليكون منهم نظاماً خاصاً دينياً أو أخلاقياً. لقد أتى وعمل وعانى من أجل كل شعبه. ولكن التلاميذ أرادوا أن يحتفظوا به لأنفسهم، ولقد أظهروا هذا حينما أحضر اليه أطفال صغار ليباركهم، وفى مواقف عديدة أخرى حينما انتهروا الأعمى الذى كان يصرخ اليه من جانب الطريق (مر١٠: ٤٨). على التلاميذ أن يتعلموا انهم ليسوا حاشية ليسوع، قائمة لخدمته لتضيق عليه الخناق في مجالهم وحسب. إن بشارة ملكوت الله وقوته للشفاء هما من أجل المساكين والمرضى الموجودين في وسط الشعب. إن شعب الله المحبوب يساء معاملته ويساق إلى المذلة. والذنب يرجع إلى أولئك الذين أخفقوا في خدمة الله لرعايتهم.</p>
<h4><strong>[4] القديس القمص بيشوي كامل</strong></h4>
<p><strong>فرح</strong> <strong>الله</strong> <strong>الشديد</strong> <strong>بالتوبة<a href="#_ftn11" name="_ftnref11">[11]</a></strong></p>
<p>التوبة من ناحية الانسان جهاد ورجوع لله واعتراف بالخطية وندم وتعهد بعدم العودة اليها وشعور بعدم الاستحقاق &#8220;اجعلنى كأحد أجراك&#8221; (لو١٥: ١٩).</p>
<p>لكن توبة الانسان فى قلب الله تعني رجوع الابن الضال لحضنه، تعني فرحه ووقوعه على عنق الخاطىء وتقبيله. الله يحس أن الانسان كان ميتا بالخطية فعاش بالتوبة. ومن أجل هذا يركض الله ويقع على عنقه ويقبله، ويَجِدّ ويبحث عن الخروف الضال. واذا وجده يضعه على منكبيه فرحاً (لو ١٥: ٥) . ويفتش باجتهاد عن الدرهم المفقود واذا وجده يدعو الجيران قائلاً: &#8220;افرحن معى لأني وجدت الدرهم الذى أضعته&#8221; (لو١٥: ٩) فالسماء تفرح (لو١٥: ٧) والملائكة تفرح (لو١٥: ١٠) والآب السماوى يقول &#8220;فنأكل ونفرح&#8221; (لو١٥: ٢٣) وجميع من فى البيت (الكنيسة والسماء) ابتدأوا يفرحون (لو١٥: ٢٤) والآب السماوى يقول &#8220;كان ينبغي أن نفرح ونسر لأن أخاك هذا كان ميتاً فعاش&#8221; (لو١٥ :٣٢).</p>
<p><strong>التوبة أعظم تقدمة تفرح الله</strong></p>
<p>نحن بالتوبة نستعيد مكانتنا الأولى فى حضن الآب ونرتفع على منكبي المسيح. ولكن ينبغي ألا ننسى النصيب الأعظم الذي يتمتع به الرب من توبتنا: إنه الفرح.. الفرح.. الفرح. لقد قدم الشهداء دماءهم، والنساك أتعابهم، وأنا اليوم ماذا أقدم للرب؟ إن التوبة والرجوع لله تقدمة رائعة تفرح قلبه. فهيا بنا يا أخى نفرح قلب الآب ونتوب. هيا بنا نسعد قلب الله ونقدم له تقدمة رائعة جداً تضاف إلى تقدمات الشهداء والقديسين. هيا بنا نتوب كل يوم وكل لحظة ليكون الآب دائماً فرحاً. نقف فى الصلاة كتائبين، ونخدم كتائبين مقدمين ليسوع أعظم عطية: خروفاً يضعه على منكبيه أو ابناً يقع على عنقه ويقبله.</p>
<p><strong>الثالوث الأقدس يَجِدّ فى البحث عن الضال</strong></p>
<p>الرب يسوع، محبة فى الانسان، تجسد وسار مشواراً طويلاً جداً (من السماء إلى الأرض) فى البحث عن الخروف الضال. وصلب لأجله ومات وقام.. وعندما وجده وضعه على منكبيه.. ومع كل هذا فالخروف لا يدرك شيئاً عن أعماق حب الراعي.</p>
<p>أما الروح القدس فإنه يذهب وسط الأتربة الى الأماكن القذرة وينير ويكشف عن الدرهم المفقود (أي أنا) وسط الزبالة. أما الآب فيجري ويقع على العنق ويقبل ويقدم العجل المسمن..</p>
<p>هذا هو عمل الثالوث فى كل لحظة. الابن يبحث عنا دون أن ندري بعظم عمله، والروح القدس يفتش عنا فى وسط الخطية، والآب ينتظر عودتنا ليعطينا قبلة.</p>
<p>❖ هيا بنا نفرح الثالوث بتوبتنا فنفرح الروح القدس بعثوره علينا ، والابن باستقرارنا فى حضنه.</p>
<p><strong>مثل الخروف الضال</strong></p>
<p>الخروف يوضح ناحية هامة فى المثل. فهو يكشف عن عدم ادراكه لخطورة الضلال وأكل الحشائش السامة ويكشف عن جهله وعدم ادراكه للجهد المضنى الذي يبذله الراعي من أجله.</p>
<p>هذا حق يا أخوتي، فمن منا يدرك خطورة السم الذى نأخذه بضلالنا فى العالم، ومن منا يدرك عمق العمل العظيم الذى صنعه الله لأجل خلاصي.</p>
<p>أنا كالخروف فى ضعف الادراك.. لا أفكر الا فى قليل من الحشائش للأكل حتى لو كانت سامة، بينما المسيح يجتاز الأشواك وأرجله تدمي، ويتسلق الجبال ويقتفى أثر خطواتي &#8220;هوذا آتٍ ظافراً على الجبال قافزاً على التلال&#8221; (نش٢: ٨). وبالرغم من تعب المسيح الكبير جداً فى البحث عنا، فإنه عندما وجد الخروف وضعه على منكبيه من شدة فرحته.</p>
<p>إنه يريد أن يريحنا بكل طريقة، ورغم أنه هو المتعب والمجهد لكنه يحملنا على كتفه.</p>
<p>من هذا المثل نرى كيف يعاملنا الله رغم عدم ادراكنا.</p>
<p>والقديس أغريغوريوس يقول: إن الجنس البشري مكانه على كتف المسيح لكي يكون فمه قريباً من الجنب الالهي المطعون بالحربة والذى يتفجر منه ماء الحياة..</p>
<p>مكان النفوس التائبة يا أخوتي على كتف المسيح.</p>
<p>الخطية تحط من قيمة نفوسنا فى أعيننا،</p>
<p>ولكن الله يرفعنا من الحضيض لنكون على كتفه.</p>
<p>السيد المسيح يرصد خطواتي وأثر أقدامي أنا التائه. منذ طفولتي.. ثم دخولي المدرسة.. وتخرجي من الكلية .. أنا بأناكف وأهرب شمال ويمين.. إن قصة حياتي مخزية ولكن بها شىء جميل وهو أن الرب يسوع كان يبحث عني ويقتفي أثر خطواتي حتى ينتشلني ويضعني فى أعظم مكان.. على كتفه.</p>
<p><strong>مثل الدرهم المفقود</strong></p>
<p>المثل يكشف لنا عن سهولة التوبة رغم كثرة الخطية. فالدرهم عبارة عن عملة ذهبية تحمل على أحد وجهيها صورة الملك. إن صورة الله قد طبعت فى داخلنا لأننا خلقنا على صورة الله ولأننا نلنا الإنسان الجديد الذى يتجدد حسب صورة خالقه (كو٣: ١٠). فرغم الخطية واختفاء الصورة لكن لا يمكن لهذه الصورة أن تزول. فالتوبة هنا يحددها أولاً وجود صورة الله فى حياتنا. ثانية عملية الكنس التى تقوم بها الكنيسة باستمرار. ثالثاً المصباح (الذى هو الروح القدس) الذي يلقي ضوءه. وفى اللحظة التى يتم فيها إزالة الأوساخ عن العملة تسقط أشعة المصباح (الروح القدس) عليها فيصدر منها (من الإنسان التائب) بريق جميل يعكس صورة الله. فالذى يفرحنا جداً أن صورة الملك لن تزول وإن بداخلنا مجد عظيم جداً. وهذا سر الجاذبية الموجودة فينا التي تجذب الله الينا  إنها صورته. إن الكنيسة الغنية انما هى كنيسة غنية بأعمال التوبة.. لأن فى كل مرة تزيح التراب عن أولادها يظهر جمال بريقهم تحت أشعة الروح القدس.</p>
<p><strong>مثل الابن الضال</strong></p>
<p>هذا المثال يوضح لنا أن التوبة هى رجوع لحضن الآب لذلك عندما نريد أن نفهم التوبة فى الكنيسة الأرثوذكسية لابد أن نرجع إلى المعمودية حيث صرنا أولاداً لله. وهذا المثل يوضح لنا أن سبب خروج الابن عن طاعة أبيه هو احساسه بعدم الحرية. بيت الآب فيه قيود، الكنيسة فيها قيود، وصية الانجيل فيها قيود، هذه القيود فى الواقع هى قيود محبة الآب، لأنه يخاف علينا من الكورة البعيدة، من الجوع والبهدلة ثم الموت.</p>
<p>الابن ذهب لكورة بعيدة لينفك من القيود. فالبعد عن الله وعد بالحرية ولكنه عبودية فى العالم، عبودية فى السهر، عبودية فى الشهوة، هروب من المسئولية.. حياة كالحيوان.. إنسان ميت، بلا شعور نحو آلام أبيه. والرب يسوع هو الحياة ومن يبعد عنه يصبح ميتاً.</p>
<p><strong>حضن الآب وقبلاته</strong></p>
<p>١- فتحنن وركض (لو ١٥: ٢٠).</p>
<p>الله يركض!!! الله يجرى ورائي &#8220;ظافراً على الجبال قافزاً على التلال&#8221; (نش٢: ٨) الله يستجدي رجوعي!!!.</p>
<p>&#8220;واقف وراء حائطنا يتطلع من الكوى&#8221; (نش ٢: ٩) حائط الخطية  الذى صنعته بنفسي  الله يصنع فيه كوة لكي يراني.</p>
<p>&#8220;افتحي لي يا حبيبتي لأن رأسي امتلأت من الطل وقصصي من ندى الليل  فأنت أحشائي عليَّ.</p>
<p>ربى لك المجد.. إن أحشائي تئن عليَّ من أجل جريك ورائي بكل الطرق وقرعك على بابي منتظراً أن أفتح لك.</p>
<p>ربي إن أحشائي لا تحتمل كل هذا. إنها تئن عليَّ.</p>
<p>٢- ليقبلنى بقبلات فمه (نش ١: ٢)</p>
<p>كثيرا ما نتكلم عن المرأة التى قبلت قدمى يسوع المخلص، وقبلات القديسين لصليب الرب. لكننا اليوم أمام قبلات الآب للإنسان الخاطىء التائب.</p>
<p>ان قبلات الآب حكر على الانسان التائب، الآب يقبلنى!!.. لك المجد يا رب؛ وكيف الحصول على هذه القبلات؟ الطريق الوحيد هو التوبة.. أقوم وأرجع لأبي ليقبلني بقبلات فمه. من أجل ذلك كانت هذه هى افتتاحية سفر النشيد  سفر التوبة فى حضن الآب، فى حجال الملك.</p>
<p>٣- &#8221; شماله تحت رأسى ويمينه تعانقنى &#8221; (٢: ٦)</p>
<p>ووقع الآب على عنقه وقبله. إن يدي الآب قد حاصرت الابن. إن الابن لا يقدر أن يفلت منها لأن محبة الآب تحصره ، التوبة هى الصنارة التى يوقعنا بها الآب فى دائرة محبته، وحضن الآب حكر على النفوس التائبة. من أجل ذلك عندما أحس القديسون بأن التوبة هى الطريق لحضن الآب عاشوا طول حياتهم فى التوبة.</p>
<p>٤- والخطية جوع ونزف وقذارة وموت،</p>
<p>لذلك يقدم الله لنفسي التائبة وليمة العجل المُسَمَّن، ويعوض الدم النازف مني بدمه المحيى، ويغسل وسخ أقدامي بيديه وينشفهما بالمنشفة. هذا ما يقدمه الله لي عندما أتوب.. يغسل أوساخي ويقدم لي جسده المذبوح على المذبح ودمه تعويضاً لدم حياتى الفاسد. أما حكم الموت فقد أتمه عني بالصليب.</p>
<p>٥- &#8220;أريني وجهك أسمعيني صوتك لأن صوتك لطيف&#8221; (نش ٢: ١٤).</p>
<p>هذا ما تطلبه مني يا يسوع عند توبتي. الصلاة = صوتي اللطيف.</p>
<p>ربى أنت تتلذذ بصلاتى &#8230; أنا أبخل بها عليك .</p>
<p>٦- ليس هناك كلمة عتاب واحدة.</p>
<p>الأبن تخيل عقاب الآب، ولكن الآب ليس عنده عقاب بل توجيه وتعليم.. عنده قبلات وحضن. لم يأت هناك أى مواجهة وعتاب بين الآب والابن.</p>
<p>ولكن أين تمت المواجهة؟ لقد تمت بين الولد ونفسه &#8220;ورجع الى نفسه&#8221;. الإنسان التائب يواجه نفسه بشدة قبل أن يرجع الى أبيه. ويوبخها ويقول &#8220;الله مات لأجلي وأنا أبذر ماله بعيش مسرف.. ينبغي أن أتوب بسرعة. نفسي أفرح قلب المسيح الذى شرب كأس الموت عني. أشتهي أن أفرح قلب ربي هذا اليوم لأن توبتي أنا الحقير تفرح قلب المسيح. الآب تعبان وأنا بعيد عنه، أقوم وأرجع إلى أبي وأفرحه.. وأحول بيته إلى مكان للرقص والفرح  أني أريد أن أسمعه صوتي في الصلاة فيتلذذ به. أريد أن أفرح الآب والابن والروح القدس  السماء والملائكة  والقديسين..</p>
<p>ربى يسوع سأعيش بنعمتك كل أيام حياتي فى التوبة لكي أعيش دائماً فى حضنك وأفرح قلبك بي.</p>
<p>ربي يسوع سأخدم فى كنيستك وأسعى لرجوع الآخرين لأفرح قلبك برجوعهم إليك. آمين.</p>
<p><strong>أين ومتى نصل الى حضن الآب؟</strong></p>
<p>انسان اليوم يعيش فى ضجيج مستمر، لا يسمع طول اليوم الا صوت الناس، وحتى في اجتماعاتنا الدينية غالبا ما يسمع الناس يتحدثون عن الله  أما هذا الانسان نفسه فلم يتعلم بعد كيف يتحدث مع الله. روح الله فى أعماق النفس، والدخول لأعماق النفس يعني الإختلاء والإختلاء ليس عمل سلبي بقدر ما هو ايجابي يكتشف فيه الانسان أنه شقى وبائس وفقير وأعمى وعريان (رؤ ٣: ١٧ ) ، وفى ذات الوقت يكتشف فيه الإنسان وجود الله ماسح الدموع وحامل الخطايا وصاحب القبلات الطاهرة.</p>
<p><strong>هذا هو طريق القديسين</strong></p>
<p>❖ موسى استلم لوحى الشريعة بعد اختلاء مع الله ٤٠ يوماً.</p>
<p>❖ ايليا سمع صوت الله فى خلوته.</p>
<p>❖ بولس الرسول بدأ خدمته بالانطلاق للصحراء العربية (غلا١: ١٧).</p>
<p>❖ الرب يسوع أوصانا بالدخول للمخدع وغلق الباب (الإختلاء معه).</p>
<p>❖ وكان الرب يعلمنا فيمضي الليل كله فى الصلاة  ويذهب الى موضع خلاء..</p>
<p>❖ القديسون سكنوا الجبال والبراري ليختلوا بالله.</p>
<p>❖ والأن يا أخى هل لك أن تعزم بأن يكون لك وقت ما فى النهار، ربما فى مخدعك  ربما فى كنيسة ما بعيدة وهادئة  ربما فى موضع خلاء. وأن تعزم أن يكون لك فترة خلاء كل أسبوع، أو كل شهر فى مكان بعيد عن ضوضاء العالم.. أسرع إلى ذلك قبل أن يجرك العالم في دوامته وتصبح عبداً له، أسرع لكي ما تبني شخصيتك بكثرة وجودك مع الله واكتشاف ضعفاتك وزيادة حبك للذي مات عنك.</p>
<p><strong>مع يسوع وحده</strong></p>
<p>❖ فى الخلوة اجلس مع يسوع وحده عند أقدام صليبه، حيث الدم يجري وحيث الحب يتدفق، وحيث الأذرع الأبدية مفتوحة، وحيث الألم، وحيث السرور والفرح..</p>
<p>❖ أحذر أن تتوه فى تأملات روحية عن يسوع وتنسى التحدث مع يسوع.</p>
<p>❖ إن طريق التأمل فى خطاياك  فى أعماق نفسك، هو وحده الطريق للقائك مع يسوع غاسل خطاياك، وفاتح أحضانه لك.</p>
<p>❖ الخلوة مع يسوع وحده هي الإرتفاع عن العالم كله، على جبل التجلي، هي الإنفراد معه هناك.. هي إكتشاف مجد الرب فى حياتك.</p>
<p>❖ الإنجيل وكلمات الرب يسوع، ومعاملاته للبشر وحبه لهم فى العهد القديم، وأسرار معاملته للنفس البشرية فى سفر النشيد، كلها إمكانيات جبارة للحديث مع الرب.</p>
<p>❖ أما فى وسط الكنيسة فيمكن تركيز الحديث مع الرب المذبوح لأجلك على المذبح دون الإهتمام بكل ما يجري فى الكنيسة. لقد كان القديس أرسانيوس يقف وراء عمود فى الكنيسة طول الصلاة، ومازال العمود حاملاً اسمه لليوم.</p>
<p>❖ والخلوة أولاً وأخيراً، هي حديث مع يسوع وحده.</p>
<p>❖ والخلوة هدفها: الدخول لأعماق نفسي واكتشاف ضعف ترابيتها وكثرة خطاياها ومراوغتها، ثم استعلان وجود الله فيها وحبه وقبلاته وأحضانه.</p>
<p><strong>ربى يسوع</strong></p>
<p>أعط يا رب كل انسان فى الكنيسة شيخ أو شاب أو طفل أن يتحدث معك ويختلي بك ويحبك ويتمتع بقبلاتك ويتطهر بدمك ويستعلن قوتك في حياته.</p>
<p>أعط يا رب الكنيسة وخدامها أن ينسكبوا بالصلاة والصوم ليستعلن كل واحد فيها وجود الله  أعظم قوة  في حياته. آمين.</p>
<h4><strong>[5] القديس الأرشيدياكون حبيب جرجس</strong></h4>
<p><strong>دعوة</strong> <strong>متى</strong> (مت ۹: ۹ – ۱۳)<a href="#_ftn12" name="_ftnref12">[12]</a></p>
<p>&#8220;لا يحتاج الاصحاء الى طبيب بل المرضى&#8221; (مت ۹ : ۱۲)</p>
<p>دعوة خاطئ ليكون رسولاً</p>
<p><strong>(أولاً)</strong> كان الرومانيون يعهدون بجباية الضرائب إلى أفراد يدفعون مبلغاً من المال للحكومة في مقابل تحصيلها من الأمة. وكان هؤلاء يدعون عشارين لأنهم يأخذون العشور ولكنهم كانوا ظلمة يثقلون على الشعب ويأخذون اكثر مما فرض لهم ولذلك أبغضهم اليهود لأنهم كانوا يخدمون مصالح الاحتلال الروماني وكانوا رمزاً إلى الظلم والقسوة فحرموهم ومنعوهم الدخول إلى مجامعهم. وكان اسمهم مرادفاً للخطاة. وكان متى واحداً من هؤلاء ولابد أنه رأى المسيح وسمع تعليمه ولذلك لما نظر اليه الرب يسوع ودعاه تبعه حالاً.</p>
<p><strong>(ثانياً)</strong> لاحظ رأفة المسيح العظيمة ورحمته المتناهية في دعوة هذا الخاطىء إلى التلمذة ليضع لنا مثالاً لرجوع إليه فان أكبر خاطىء يمكنه بنعمة الله أن يتجدد ويصير نافعاً .</p>
<p><strong>(ثالثاً)</strong> قد أحسن متى لأنه دعا المسيح إلى وليمة دعا إليها كثير من أصحابه العشارين ليتمكنوا من رؤية المسيح وسماع كلامه حتى يؤمنوا به. فأظهر المسيح عطفه نحوهم وعلَّمهم وبذلك علَّمنا أن أمثال هؤلاء هم الذين يحتاجون العطف والبحث عنهم لرجوعهم إلى الخلاص وبالأخص لأنه قال: لا يحتاج الأصحاء إلى طبيب بل المرضى.</p>
<p><strong>(رابعاً)</strong> لاحق للفريسيين أن يلوموا المسيح لانه أكل مع العشارين والخطاة لأنه إنما جاء لكي يطلب هؤلاء ويخلصهم. وأما الفريسيون فهم طائفة من اليهود كانوا يدَّعون البر الذاتي ولذلك كانوا يتكبرون على غيرهم ظانين أنهم أبرار مع انهم كانوا عديمي الرحمة. ولذلك قال لهم السيد اذهبوا وتعلموا ما هو إني أريد رحمة لا ذبيحة. ومعنى ذلك إنه يفضل الرحمة على الذبائح وإنه ما جاء ليدعو أبراراً بل خطاة إلى التوبة.</p>
<h4><strong>[6] </strong><strong>الأب فرنسيس ب. لابيف</strong></h4>
<p><strong>إنه يفهم<a href="#_ftn13" name="_ftnref13">[13]</a></strong></p>
<p>سألت الأخت أختها الطائشة: « لماذا تحتفظی بصورة السيد المسيح على الحائط ؟!</p>
<p>وقد كانت هذه النفس الطائشة قد ترکت أطفالها الصغار وزوجها الذي ربطت مصيرها به، وابتعدت عن حياة القداسة التي كانت عليها في صباها</p>
<p>وأجابت أختها برأس منكسة وقلب منسحق: «أنه يفهم» - ای الله يفهم !</p>
<p>لقد أحست تلك النفس بأن في إمكانها التماس الأعذار، وحدثها إيمانها أن الله يستطيع أن يقبل اعذارها ويسامحها. وتأكدت بعقلها المظلم وإرادتها الضعيفة أن يسوع يفهم كل شيء عن اعذارها ..</p>
<p>وكانت على حق.</p>
<p>فالخطية هي أبشع الأمور ويجب الخوف منها .</p>
<p>ولكن عند التعامل مع الآخرين فلنحاول رؤية الأشياء بعين الله.</p>
<p>لا نستطيع مغفرة الأعمال الخاطئة، أو تبرير الخطية – ولكننا نستطيع التبصر في حياة الآخرين من خلال ظلام الخطية ونلتمس لهم الأعذار برأفة، ونكتشف أن هذا الوميض الضئيل من الأشتياق للقداسة لا يزال حياً فيهم، وعندما نزيل الصدأ من على حياتهم ستصبح ساطعة. عندما تجذب كل من مباهج الحياة والنضوج شبابنا، علينا أن نشفق على تلك الأيادي الجائلة المدمرة ونساعدها حتی تبني نفسها من جديد وباستقامة، وذلك بالرغم من شدة أسفنا على الدمار الذي أصابها من طول الوقت.</p>
<p>هكذا يريدنا السيد المسيح أن نتعلم ونعمل&#8230;</p>
<p>الأب مع ابنه، الزوج مع زوجته، الصديق مع الصديق، والذين يساعدون كل من يرغب الراحة&#8230;</p>
<p><strong>«هو يفهم»</strong></p>
<p>يجب أن يكون هذا الشعار الحافز في داخلنا،</p>
<p>ويجب علينا نحن أيضاً أن <strong>نفهم كما يفهم هو</strong>.</p>
<p>فلذلك يجب استعمال القسوة مع الحزم، الحنان مع الشدة، أي أحياناً نجرح ثم نکوي من أجل شفاء</p>
<p>النفس، وعندما نجرح نكون مثل الطبيب الذي يجرح ليزيل الألم.</p>
<p>لو أننا لم نفهم لإضطربت موازين الحياة, فتعم الفوضى في المدارس، والمنازل والأعمال &#8230;</p>
<p>لیتا ننظر بعمق لنرى حياة كل فرد بما فيها من ماض مشحون بالهموم، وحاضر متراكم عليه الأثقال والتجارب، عند ذلك لن نجد مجالا للتوبيخ أو اللوم .</p>
<p><strong>يا ربي يسوع الحبيب</strong>،</p>
<p>ما أعظم احتياجي للتعلم منك كيف أعامل أقراني!!!</p>
<p>وجود الخطية بكثرة حولنا ووجود كل ماهو کئيب ومتعمد يجعلني دائماً على وشك التعنيف والتنديد.</p>
<p>ولكن يحدث كل هذا لأني لا أفهم.</p>
<p>أنت أيضاً يا إلهي عنفت ولكن للمرائين والذين يدعون القداسة.</p>
<p>ولكن لم يحدث انك ضجرت من الضعفاء الذين يحاولون تحسين أنفسهم ولو بضعف.</p>
<p>امنحني يا سيدي النعمة كي أفهم متى أعيد النفوس إليك.</p>
<h4><strong>[7] مقالة مُتَرْجَمة  </strong></h4>
<p><strong>محصل ضرائب يستقيل<a href="#_ftn14" name="_ftnref14">[14]</a></strong></p>
<p>لم تكد تمضى أسابيع حتى صدم &#8221; يسوع &#8221; جموع الشعب كما صدم رؤساءهم الدينيين من قبل، وكان ذلك عندما أضاف إلى تلاميذه القليلين سادساً، واختار لهذا المركز الرجل الأقل شعبية في &#8220;كفر ناحوم&#8221; موظفاً عاماً جابي ضرائب للرومان، محتقراً من كل انسان، وكان هذا تلميذاً جديداً يسمى &#8220;لاوي بن الفاوس&#8221; تعرف إليه &#8220;يسوع&#8221; بينما كان جالساً في &#8220;بيت المكوس&#8221; حيث يؤدي له الضرائب المسافرون ورجال القوافل.</p>
<p>ولم يكن هناك سبب شخصى لدى أهل كفر ناحوم ، ليكرهوا إلى ذلك الحد رجلا طيب القلب مثله، ولكنهم كانوا يرون واجباً عليهم أن يحتقروا ويكرهوا كل من يجبي الضرائب، وكانوا متوافقين على أنه لا يحل لهم أن يؤدوا الضرائب لأجنبي إلا محتجين ومكرهين، ومع أن الضرائب كانت تؤدى لعملاء يهود مثلهم، ولكنهم يعرفون أن النقود التي تقع في يدي لاوى تنتهى أخيراً إلى صندوق &#8220;الرومان&#8221; إذ كان &#8220;حنانيا&#8221; وغيره من رؤساء الهيكل في&#8221;أورشليم&#8221; يستأجرون لجمع تلك الضرائب رجالاً أمناء طيبي القلب ولكنهم في مسيس الحاجة للعمل مثل &#8220;لاوي&#8221; هذا، ولكن تلك الحاجة ليست عذراً مقبولاً لدى الشعب، ولذلك كان &#8220;لاوى بن الفاوس&#8221; رجلا محتقرأ في &#8220;كفر ناحوم&#8221; يقاطعه الجميع يتجنبونه كانه أبرص.</p>
<p>وكان يبدو وهو جالس على باب هذا الجمرك رجلاً هادئًا ومتواضعاً وعالماً بأنه محتقر ومنبوذ، وفي عزلته تلك كان يذاكر ويتعلم، حتى أتقن الرومانية واليونانية وغيرهما من لغات السائحين الشرقيين والغربيين معاً، ولكن هذا لم يحبب فيه قومه ولا جعلهم يستحرمون أن يصبوا عليه آيات احتقارهم و نقمتهم كلما استطاعوا ذلك شاعرين بأن هذا هو واجبهم وهو العدل بعينه، أليس هو بعد العميل الظاهر للرومان، القذر الذي لا مبدأ له؟</p>
<p>كان الصبية يجرون وراءه منادين في الشوارع: &#8220;يا لص&#8221; وكان آباؤهم في المنازل يجمعون في منزلة واحدة بين جابي الضرائب وبين اللصوص والقتلة أعداء المجتمع، كلهم سواء، ومع ذلك ظل &#8220;لاوي&#8221; يؤدي واجبه متفانيا فيه و بمنتهى الدقة والأمانة فاحصاً كل عُملة وحاسباً كل بارة، مضاعفاً ساعات عمله ومتماً واجبه يوماً بيوم، منبوذاً حتى لا يجالسه إنسان ولا تقبل شهادته أمام محكمة دينية، وهكذا فقد كل صلة له بالعالم الخارجي.</p>
<p>ومر &#8220;يسوع&#8221;  أمام المكتب الذي يجلس إليه &#8220;لاوي&#8221; ورأى الحزن المجسم في نظرته وقال له: اتبعني!.</p>
<p>ودهش كل الواقفين من الموظفين ومن القادمين من مختلف أنحاء الدنيا إذ رأوا الرجل يقف في طاعة كاملة وأدب دون أن يتردد ودون أن يوجه سؤالاً، ويترك مكتبه وينادي مساعده أن يحل محله ويحترس ويحاسب ويفتح عينيه جيداً للعمل، ثم يسير وراء &#8220;يسوع&#8221; كأنه كان يتبعه من قبل.</p>
<p>ولاحظ الناس أيضا أن كثيرين شفوا في ذلك اليوم وتغيرت حالتهم ولكن لا أحد انتقل من حال إلى حال مخالف تماماً، بمثل ما حصل ل &#8220;لاوي&#8221; في تلك اللحظة، لقد طلب إليه&#8221; يسوع&#8221; أن يتبعه وفوراً وبكل بساطة فعل.</p>
<p>ولاحظ الناس أيضا كيف رفع كتفيه واستقام قوامه وبان الرضا في عينيه وربما الكبر، وهو يسير مع &#8220;اندراوس&#8221; و&#8221;فيلبس&#8221; و&#8221;يعقوب&#8221; و&#8221;نثنائيل&#8221; في تلك الأمسية. فقد صار له أخيراً أصدقاء يعتز بصداقتهم ويفخر، ثم يا لسعادته عندما أخبره &#8220;يسوع&#8221; أنه من الآن سيكون اسمه &#8220;متى&#8221; ثم و لسعادته الغامرة سيذهب &#8220;يسوع&#8221; إلى، منزله الذي يحتقره الناس ويتجنبونه.</p>
<p>وسارع الرجل وآله إلى السوق يعدّون الوليمة الفاخرة، وطفق يجمع كل من عرفه وكل من آنس فيه أنه سيقبل الدعوة ليقابل &#8220;يسوع&#8221; في بيته ليكسر معه الخبز.</p>
<p>وكانوا كلهم جباة ضرائب وخطاة ومنبوذين. وكانت في هذا فرصة سانحة لنقد &#8220;يسوع&#8221; فقد عاد من أورشليم &#8220;العملاء&#8221; الذين قدموا هناك عنه تقاريرهم ووقفوا في ضوء القمر خارج المنزل حيث الاحتفال بالضيف على أشده، وعندما خرج بعض التلاميذ ليقفوا برهة في الهواء الطلق تأبط أحد العملاء ذراع&#8221; اندراوس&#8221; وسحب آخر &#8220;بارثلوميو&#8221; و&#8221;يعقوب&#8221; واختار رئيسهم &#8220;بطرس&#8221; وقال له: خبرنى لم يأكل معلمك ويشرب مع العشارين والخطاة؟.</p>
<p>وجاءته الاجابة كأنها من عل، فقد ظهر في تلك اللحظة &#8220;يسوع&#8221; بطوله الفارع أمام الباب وقال لهم: لا يحتاج الأصحاء إلى طبيب بل المرضى! إذهبوا إذن واعلموا هذا: إنى أريد رحمة.</p>
<p>واختفى العملاء في الظلمة باحثين عن وجه الخطأ في كلامه.</p>
<h3>من وحي قراءات اليوم:</h3>
<p>&#8220;فترك كل شئ وقام وتبعه&#8221; (إنجيل القدَّاس)</p>
<p>(تبعية المسيح له المجد)</p>
<p>✤ كلمة ما أبسطها وما أصعبها.</p>
<p>✤ إذا أردنا أن نتبعه فيجب أن نترك.</p>
<p>✤ الترك حالة دائمة وجهاد يومي وسعي لا ينقطع.</p>
<p>✤ عندما نترك نجد أنفسنا في حضوره وفِي موكب نصرته.</p>
<p>✤ ما أصعب علي الإنسان أن يترك من عقله ومن قلبه كل إهتمام.</p>
<p>✤ لكن يفعلها الإيمان ويسهّلها الرجوع إلي بساطة الأطفال مع آبائهم.</p>
<p>✤ من يتبع لا ينظر أبداً إلي ورائه بل يُثبِّت نظره وتركيزه دائما مع من يتبعه.</p>
<p>✤ وسوف يكتشف مع الوقت أنه يأخذ بفيض وغني لا يُقارن أبداً بما سبق وتركه.</p>
<p>✤ من يتبع أيضاً يكتشف مع مزيد من الوقت والإيمان كفاية الوجود معه أعظم ممّا يأخذه من تبعيته.</p>
<p>✤ ولا يطرح أسئلة كثيرة ولا يطلب أمور عظيمة فيكفيه نوره ومجد حضوره ويد راعيه مُمْسِكَه بيده.</p>
<hr />
<p><a href="#_ftnref1" name="_ftn1">[1]</a>   تفسير أشعياء ٥٥ - القمص تادرس يعقوب ملطي.</p>
<p><a href="#_ftnref2" name="_ftn2">[2]</a> <em>JR, A.J &amp;</em> Oden, T.C. (2003). Luke<em> (The Ancient Christian Commentary on Scripture, new Testament part III)</em>. Illinois (U.S.A): Intervarsity Press. Pages 95.                                 ترجمة الأخت إيفيت منير<em> - </em>كنيسة مار مرقس ببني سويف.</p>
<p><a href="#_ftnref3" name="_ftn3">[3]</a> <em>JR, A.J &amp;</em> Oden, T.C. (2003). Luke<em> (The Ancient Christian Commentary on Scripture, new Testament part III)</em>. Illinois (U.S.A): InterVarsity Press. Pages 95 – 97.                ترجمة الأستاذ إبراهيم نجيب - كنيسة مارمرقس بالمعادي</p>
<p><a href="#_ftnref4" name="_ftn4">[4]</a>  تفسير إنجيل متى - إصحاح 9- القمص تادرس يعقوب ملطي.</p>
<p><a href="#_ftnref5" name="_ftn5">[5]</a>  كتاب عظات علي سفر أرميا للعلامة أوريجينوس - صفحة ١١٨ - ترجمة جاكلين سمير كوستا - كنيسة مار جرجس سبورتنج.</p>
<p><a href="#_ftnref6" name="_ftn6">[6]</a>  <strong>تفسير سفر الحكمة - الإصحاح السابع - القمص تادرس يعقوب ملطي.</strong></p>
<p><a href="#_ftnref7" name="_ftn7">[7]</a>  <strong>كتاب الخوف أنواعه وعلاجه في الحياة الروحية الأرثوذكسية - صفحة ٢٧ - تقديم القمص أنطونيوس أمين راعي كنيسة مار مرقس مصر الجديدة.</strong></p>
<p><a href="#_ftnref8" name="_ftn8">[8]</a>  <strong>دراسات في الكتاب المقدس -إنجيل متي - صفحة ١٥٩- الأنبا أثناسيوس مطران كرسي بني سويف والهنسا.</strong></p>
<p><a href="#_ftnref9" name="_ftn9">[9]</a>  كتاب ألقاب المسيح ووظائفه - صفحة ٨٢ - الأنبا بيمن - مطرانية ملوي وأنصنا والأشمونين.</p>
<p><a href="#_ftnref10" name="_ftn10">[10]</a>  كتاب حياتك تلميذاً للمسيح - صفحة ١٦ - الأنبا إيساك الأسقف العام.</p>
<p><a href="#_ftnref11" name="_ftn11">[11]</a>  كتاب نبذات روحية هادفة - الجزء الأول - صفحة ٢٥ - القمص بيشوي كامل - مشروع الكنوز القبطية.</p>
<p><a href="#_ftnref12" name="_ftn12">[12]</a>  كتاب الكنز الأنفس - الجزء الثالث - صفحة ٦٢ - للأرشيدياكون حبيب جرجس.</p>
<p><a href="#_ftnref13" name="_ftn13">[13]</a>  كتاب الصديق الدائم للأب فرنسيس ب. لابيف - صفحة ٣٥ - ترجمة السيدة إيزيس ميخائيل أسعد - تقديم القمص بيشوي كامل.</p>
<p><a href="#_ftnref14" name="_ftn14">[14]</a>  عن كتاب: الانسان الخالد - ترجمة الاستاذ رمسيس جبراوى - مجلة مدارس الاحد شهر سبتمبر ١٩٦٦.</p>

      {% endcreateArticleAccordions %}
    </section>
  {% endblock %}
