---
layout: 'layouts/reading.html'
title: 'اليوم الثاني والعشرين من شهر بابه'
tags: 'annual'
permalink: /articles/annual/2-22.html
---
  {% block content %}
    <section id="readings">
      <ul>
      {% if 'undefined' != 'undefined' %}
      
      {% else %}
      {% if '19.105:1-3' != 'null' %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">العشية</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeVespers '19.105:1-3' '42.9:1-6' %}
          </div>
        </div>
      </li>
      {% endif %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">باكر</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeMatins '19.68:24,26' '42.17:5-10' '' %}
          </div>
        </div>
      </li>
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <h3 class="flex items-center justify-between">
            <span class="kufi">القداس</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </h3>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeLitugy '51.4:2-18' '60.3:15-22' '44.1:1-14' '19.96:2-3' '42.10:1-20' %}
          </div>
        </div>
      </li>

      {% endif %}
        </ul>
    </section>
    <section id="article">
      <h3 class="mt-8 mb-4 heading-explain">شرح القراءات</h3>
      {% createArticleAccordions %}
        <p>&#8220;يأكل الودعاء ويشبعون. يسبح الرب طالبوه. تحيا قلوبكم إلى الأبد. تذكر وترجع إلى الرب كل أقاصي الأرض. وتسجد قدامك كل قبائل الأمم&#8221; (مز22: 26، 27).</p>
<p>[سيرتك التى عرفناها: وأيقوناتك التى رسمتها: ملأت قلوبنا مسرة: يا لوقا الأنجيلي&#8230;</p>
<p>فى أنجيلك المقدس: جعلتنا نعرف مخلصنا: صديق البشرية: الكاهن والذبيحة]. (ذكصولوجية القديس لوقا الإنجيلي)</p>
<p>[هذه كلها هي الشيطان وقواته، إذ أعطانا ربنا سلطانًا عليها لكي نطأها، بقوله: قد أعطيتكم سلطانًا أن تدوسوا على الحيات والعقارب وعلى كافة قوة العدو. فكل من يضبط غضبه ذاك يدوس على التنانين، والذي يكسر الكبرياء بالتواضع يطأ على الأسد. والذي ينزع من قلبه السم ومن نظره الحسد فهو يدوس على ملك الحيات الذي من كثرة حسده، وشدة سمه، يقتل بنظره. والذي يتعفف عن الفواحش يسحق رؤوس الحيات المتمرغة بالأرض] (الأب أنسيمُس الأورشليمي)<a href="#_ftn1" name="_ftnref1"><sup>[1]</sup></a>.</p>
<h3>شواهد القراءات</h3>
<p><strong>عشية: </strong>مزمور (مز104: 1) – إنجيل (لو9: 1- 6).</p>
<p><strong>باكر:</strong> مزمور (مز67: 23، 25) – انجيل (لو17: 5- 10).</p>
<p><strong>القداس:</strong> البولس (كو4: 2- 18) – الكاثوليكون (1بط 3: 15- 22) – الابركسيس (أع 1: 1-14).</p>
<p>المزمور (مز95: 1، 2) - الانجيل (لو10: 1- 20).</p>
<h3>ملاحظات على قراءات يوم 22 بابة</h3>
<p>✤ قراءة <strong>إنجيل عشيّة</strong> اليوم (لو9: ١- 6) هي نفس قراءة إنجيل عشيَّة للأحد الأوَّل من شهر أبيب.</p>
<p>وهي القراءة التي تكلَّمت عن دعوة التلاميذ الإثني عشر لذلك جاءت اليوم، وجاءت أيضاً في الأحد الأوَّل من شهر أبيب الذي تأتي قراءات في توقيت عيد آبائنا الرسل الأطهار (٥ أبيب)، وتأتي أيضاً في ذاك الأحد لأجل الآية &#8220;وأرسلهم ليكرزوا بملكوت الله&#8221; وهي موضوع قراءات شهر أبيب كله.</p>
<p>✤ قراءة <strong>البولس</strong> اليوم (كو4: 2- 18) تكرَّرت في قراءة الأحد الرابع من بؤونه.</p>
<p>مجيئها اليوم للإشارة فيها إلى القديس لوقا &#8220;يسلم عليكم لوقا الطبيب الحبيب&#8221;، بينما مجيئها في الأحد الرابع من بؤونه للإشارة إلى الصلاة الدائمة &#8220;كونوا مواظبين على الصلاة، ساهرين فيها بالشكر&#8221;.</p>
<p>✤ قراءة <strong>الكاثوليكون</strong> اليوم (1بط 3: 15- 22) تكررت في قراءات يومي ٨ هاتور، ١٢ طوبة.</p>
<p>يأتي هنا الكلام عن السيرة الصالحة وكرازة الحياة المُقدَّسة (لوقا الإنجيلي في ٢٢ بابه) وخضوع الملائكة والسلاطين للمسيح له المجد في صعوده بالجسد للسماء (الأربعة حيوانات الغير متجسدة في ٨ هاتور) والمعمودية (ثاني يوم عيد الغطاس في ١٢ طوبه).</p>
<p>✤ قراءة <strong>الإبركسيس</strong> اليوم (أع 1: 1-14) تكررت يوم ١ بشنس ، وأيضاً في قراءة الأحد الأوَّل من شهر كيهك.</p>
<p>وهي إفتتاحية سفر الأعمال وهي التي يبدأ فيها القديس لوقا كلامه مع ثاوفيلس لذلك جاءت في تذكار لوقا الإنجيلي (٢٢ بابه) كما تُشير القراءة أيضاً في نهايتها بإجتماع الآباء الرسل الدائم للصلاة بنفس واحدة مع والدة الإله إنتظاراً لحلول الروح المُعزِّي لذلك جاءت أيضاً في تذكار ميلاد والدة الإله (١ بشنس)، بينما مجيئها في قراءة الأحد الأوَّل من شهر كيهك للإشارة إلى التدبير الإلهي لخلاص البشر وأزمنة الله للخلاص التي لا ندركها كبشر.</p>
<p>✤ قراءة <strong>إنجيل قدَّاس</strong> اليوم (لو10: 1- 20) هو نفس قراءة إنجيل عشيَّة يوم ١٤ بابه (تذكار فيلبس الشمَّاس) ونفس قراءة إنجيل قدّاس يوم أوَّل طوبي (شهادة القديس إستفانوس أوَّل الشمامسة)، ونفس قراءة إنجيل القدَّاس للأحد الأوَّل من شهر أبيب.</p>
<p>وهو إنجيل دعوة الرب للسبعين رسولاً، والمواهب التي أعطاها لهم والوصايا التي طلبها منهم، لذلك أتى في تذكار فيلبس الشمَّاس (١٤ بابه) ولوقا الإنجيلي (٢٢ بابه)، وفي تذكار الشهيد إستفانوس (١ طوبه)، وفي الأحد الأوَّل من شهر أبيب.</p>
<h4>القراءة المحولة على هذا اليوم</h4>
<p>ثامن عشر كيهك (نقل جسد القديس تيطس تلميذ بولس الرسول).</p>
<p>رابع أمشير (شهادة القديس أغابوس الرسول أحد السبعين).</p>
<p>وطبيعي مجئ قراءات القديس تيطس والقديس أغابوس مع القديس لوقا لإرتباطهم في الخدمة معاً.</p>
<h3>شرح القراءات</h3>
<p>تتكلّم قراءات اليوم عن دعوة الملكوت لكل البشر لليهود والأمم وهي أيضاً موضوع إنجيل القديس لوقا الذي كتب إنجيله لكل العالم ليُعلن خلاص الله وملكوته للبشرية كلها.</p>
<p>لذلك تتجه أيضاً قراءات اليوم للحديث عن القديس لوقا في الإقتباسات من إنجيله في إنجيل عشية وباكر والقدّاس وإفتتاحية سفر الأعمال أو الحديث عنه في قراءة البولس.</p>
<p>❈ تبدأ القراءات بالمزامير التي تدعو إلي تمجيد الله في الأمم (مزمور عشية والقدّاس) وفِي الكنائس (مزمور باكر) وفِي كل الأيام (مزمور باكر).</p>
<p>† <strong>مزمور</strong> <strong>عشية</strong> يتكلم عن عجائب الله وأعماله في الأمم ودعوة الأمم بإسمه القدّوس وهذا ما أدركته الشعوب في العهد الجديد بعد نوال الخلاص.</p>
<p>&#8220;اعترفوا للرب وادعوا باسمه نادوا في الأمم بأعماله سبحوه وحدثوا بجميع عجائبه افتخروا باسمه القدّوس&#8221;</p>
<p>† و<strong>مزمور باكر</strong> يكشف عن بداية الكرازة من اليهود الذي قبلوا الإيمان أولاً حسب تدبير الله ثم إمتدّت لكل الشعوب.</p>
<p>&#8220;من قبله رأوا مسالكك يا الله مسالك إلهي في الكنائس باركوا الله والرب من ينابيع اسرائيل&#8221;.</p>
<p>† وفي <strong>مزمور القداس</strong> الدعوة للبشارة بخلاصه كل الأيام والأزمنة.</p>
<p>&#8220;سبحوا الرب وباركوا اسمه بشروا من يوم إلي يوم بخلاصه أخبروا في الأمم بمجده وفِي جميع الشعوب بعجائبه&#8221;.</p>
<p>❈ وتحتاج دعوة الملكوت إلى سهر الصلاة ليفتح الرب باب الكلام (البولس) والوداعة والضمير الصالح (الكاثوليكون) وقوّة الروح القدس في الشهادة للملكوت (الإبركسيس).</p>
<p>† فيدعو <strong>البولس</strong> المؤمنين إلي الصلاة والسهر لكي يستطيع الخدّام أن يتكلموا بسرّ المسيح كما يتطلب أن يكون سلوكهم بحكمة وكلامهم بنعمة.</p>
<p>&#8220;كونوا مواظبين علي الصلاة ساهرين فيها بالشكر مُصلّين في ذلك لأجلنا نحن أيضاً لكي يفتح الله لنا باباً للكلام لنتكلم بسرّ المسيح&#8230; اسلكوا بحكمة من جهة الذين هم من خارج مفتدين الوقت ليكن كلامكم في كل حين بنعمة مُصلحا بملح&#8221;.</p>
<p>وما أروع تعبير الترجمة القبطية - كما جاء في قطمارس دير البراموس لهذا اليوم - للآية التي تقول واظبوا علي الصلاة &#8220;أدمنوا الصلاة&#8221;.</p>
<p>فما أقواه وما أعظمه إدمان أن تكون الصلاة حديثنا اليومي معه (كو٤: ٢) ومصدر فرحنا (إش ٥٦: ٧) وملجأ ضيقاتنا (أع ٤: ٢٤) وتعزية أحزاننا وآلامنا (أع ١٦: ٢٥) وملح علاقاتنا (1تي٢: ١، ٢) وأساس رعايتنا (١صم١٢: ٢٣) وسلاح خدمتنا (حك ١٨: ٢١) بل وهويتنا وكياننا (مز١٠٩: ٤).</p>
<p>كما يشير البولس لخدمة وكرازة القديس لوقا مع بولس الرسول لأجل دعوة الشعوب للملكوت</p>
<p>&#8220;هؤلاء هم وحدهم العاملون معي لملكوت الله الذين صاروا لي عزاء - في الترجمة البيروتية صاروا لي تسلية - &#8230; يسلم عليكم لوقا الطبيب الحبيب وديماس&#8221;.</p>
<p>ونرى أيضاً في البولس جهاد الصلاة لأحد الخدّام وأهميته في ثبات المؤمنين وإدراكهم المشيئة الإلهية.</p>
<p>&#8220;يسلم عليكم أبفراس الذي هو منكم عبد للمسيح يسوع هذا الذي يجاهد كل حين لأجلكم بصلواته لكي تثبتوا كاملين وممتلئين من مشيئة الله&#8221;.</p>
<p>† كما يكشف <strong>الكاثوليكون</strong> عن أهمّية الحياة المقدسة للكارزين كأساس للكرازة كما كان الحمل بلا عيب.</p>
<p>&#8220;كونوا مستعدين في كل حين لمجاوبة كل من يسألكم عن كلمة الرجاء الذي فيكم لكن بوداعة وخوف ولكم ضمير صالح لكي يخزي الذين يتكلمون عليكم بالشرور والذين يعيبون سيرتكم الصالحة في المسيح&#8221;.</p>
<p>ورُبَّما تأتي هذه الآيات للإشارة إلي محاكمة القديس لوقا ووداعته أمام الحاكم أثناء إستجوابه ودفاعه عن إيمانه بالمسيح له المجد فآمن مائتان وست وسبعين نفساً ونالوا معه إكليل الشهادة (سنكسار يوم ٢٢ بابه).</p>
<p>كما يشير أيضاً إلى بشارة النفوس في الجحيم بعد موت المسيح له المجد علي الصليب وهي النفوس التي رفضت في البداية كرازة نوح، ولكن مع بداية الطوفان قدّموا توبة لله في لحظاتهم الأخيرة فإفتقدتهم أناة الله الذي يريد أن الجميع يخلصون. (رأي الآباء القديسين أثناسيوس وكيرلس وجيروم)<a href="#_ftn2" name="_ftnref2">[2]</a></p>
<p>&#8220;مُماتاً في الجسد ولكن محيي في الروح وبهذا أيضاً ذهب فبشر الأرواح التي في السجن التي عصت قديماً - رفضت كرازة نوح - حين كانت آناة الله تنتظر في أيام نوح الذي صنع فُلكاً وفيه خلص قليلون من الماء أي ثماني أنفس&#8221;.</p>
<p>ويشبّه ما يحدث الآن في سر المعمودية بما حدث مع نوح فالمعمودية خلاص ونجاة من طوفان العالم.</p>
<p>&#8220;فهكذا أنتم أيضاً الآن يُخلِّصكم بمثال المعمودية&#8221;.</p>
<p>† وفي <strong>الإبركسيس</strong> نرى السيد المسيح له المجد يتكلّم عن ملكوت الله مع تلاميذه بعد قيامته من الأموات ووصيته لهم أن ينتظروا القوة من الأعالي وحلول الروح القدس لكي يكرزوا في جميع الأمم.</p>
<p>&#8220;الذين ظهر لهم حيّاً بعد ما تألم بآيات كثيرة وهو يظهر لهم أربعين يوماً ويتكلّم عن ملكوت الله وفيما هو يأكل معهم أوصاهم أن لا يفارقوا أورشليم بل ينتظروا موعد الآب الذي سمعتموه مني&#8230; ولكنكم ستنالون قوة متي حل الروح القدس عليكم وتكونون لي شهوداً في أورشليم وفِي كل اليهودية والسامرة وإلي أقصي الأرض&#8221;.</p>
<p>❈ وتأتي <strong>الأناجيل </strong>الثلاثة من بشارة القديس لوقا الإنجيلي.</p>
<p>† <strong>فإنجيل عشية</strong> يتكلم عن دعوة الله للرسل والقوة والسلطان اللذان أعطاهما لهم وأيضاً وصيته لهم.</p>
<p>&#8220;ودعى الإثني عشر رسولاً وأعطاهم قوة وسلطاناً على جميع الشياطين وشفاء الأمراض وأرسلهم ليكرزوا بملكوت الله ويشفوا المرضى وقال لهم لا تحملوا شيئاً للطريق&#8230; فلما خرجوا كانوا يطوفون كل قرية يبشرون ويشفون في كل موضعٍ&#8221;.</p>
<p>† و<strong>إنجيل باكر </strong>يأتي الإيمان كشرط للكرازة وتجنّب الإفتخار الباطل والإحساس بالفضل في ثمار الكرازة.</p>
<p>&#8220;فقال الرسل للرب زِد إيماننا، فقال الرب لو كان لكم إيمان مثل حبّة خردل لكنتم تقولون لهذه الجميزة انقلعي وانغرسي في البحر فكانت تطيعكم&#8230; فهل لذلك العبد فضلٌ لأنه فعل ما أُمِر به كذلك أنتم أيضاً متي فعلتم كلَّ ما أمِرْتُمْ به فقولوا إننا عبيد بطالون وما علينا أن نعمله فقد صنعناه&#8221;.</p>
<p>† ويختم <strong>إنجيل القداس</strong> بالحصاد الكثير في كل زمان وكما إختار الرب إثني عشر إختار أيضاً سبعين آخرين ويختار في كل وقت وجيل فعلة لحصاده.</p>
<p>ويعطي الرب هنا لكل الخدّام والكارزين بالملكوت وصايا ومواهب وتحذيرات وعطايا.</p>
<p>فيوصي بدعوة السلام للكل، والكرازة بإقتراب ملكوت الله.</p>
<p>&#8220;وأيُّ بيت دخلتموه فقولوا أولاً السلام لهذا البيت&#8230; وقولوا لهم قد اقترب منكم ملكوت الله&#8221;.</p>
<p>ويسكب مواهب الخدمة والكرازة لأجل الملكوت.</p>
<p>&#8220;واشفوا المرضي الذين فيها&#8221;.</p>
<p>ويحذّر من رفض رسالة الخلاص والإصرار علي عدم التوبة.</p>
<p>&#8220;ويل لك يا كورزين ويل لك يا بيت صيدا لأنه لو صنعت في صور وصيدا هذه القوات التي صُنعت فيكما لتابتا قديماً جالستين في المسوح والرماد.. الذي يسمع منكم فقد سمع مني والذي يرذلكم يرذلني&#8221;.</p>
<p>كما يختم بأعظم عطيتين لأولاده النصرة علي قوات الظلمة، والميراث السماوي.</p>
<p>&#8220;ها أنا أعطيكم السلطان لتدوسوا الحيات والعقارب وكلّ قوّة العدو ولا يضرّكم شئ ولكن لا تفرحوا بهذا أن الأرواح تخضع لكم بل افرحوا أن أسماءكم مكتوبة في السموات&#8221;.</p>
<p>ويُعلِّق القديس أثناسيوس الرسولي على المقارنة بين إخراج الشياطين، وبين الأسماء المكتوبة في السماء:</p>
<p>[كتابة أسمائنا في السماء برهان على حياتنا الفاضلة، أمّا إخراج الشيّاطين فهو هبة من المخلّص، لذلك يقول للذين يفتخرون بعمل القوات دون ممارسة الحياة الفاضلة: &#8220;<strong>لا</strong> <strong>أعرفكم</strong>&#8220;، إذ لا يعرف الله طريق الأشرار]<a href="#_ftn3" name="_ftnref3">[3]</a></p>
<h3><strong>ملخص القراءات</strong></h3>
<p>❈ دعوة وبشارة الملكوت للأمم بكل عجائب الله (مزمور عشيّة) وفِي الكنائس (مزمور باكر) وكل الأيام (مزمور القدَّاس).</p>
<p>❈ وتحتاج دعوة الملكوت لقوة الروح القدس (الإبركسيس).</p>
<p>❈ وسهر الصلاة (البولس).</p>
<p>❈ وإستقامة الإنسان وضميره الصالح (الكاثوليكون).</p>
<p>❈ ويُعْطي الرب مع الدعوة قوة وسلطان (إنجيل باكر).</p>
<p>❈ ويعطي وصايا ويسكب عطايا (إنجيل القدَّاس).</p>
<p>❈ وينتظر منا الإيمان (إنجيل باكر).</p>
<h3><strong>أفكار مُقترحة للعظات</strong></h3>
<h4>(1) دعوة الملكوت</h4>
<p>١- يدعو الله دائماً فعلة لكرمه ويعطيهم السلطان والمواهب وأيضاً وصايا. (إنجيل عشيَّة والقدّاس).</p>
<p>&#8220;ودعا الإثني عشر رسولاً وأعطاهم قوةً وسلطاناً علي جميع الشياطين &#8230;.&#8221;</p>
<p>٢- الإيمان هو أساس قبول الدعوة وأيضاً عدم الإفتخار بأعمال الخدمة. (إنجيل باكر)</p>
<p>&#8220;فقال الرب لو كان لكم إيمان مثل حبة خردل لكنتم تقولون لهذه الجميزة انقلعي وانغرسي في البحر فكانت تطيعكم&#8230; كذلك أنتم أيضاً متي فعلتم كلَّ ما أمرتم به فقولوا إننا عبيد بطَّالون وما علينا أن نعمله فقد صنعناه&#8221;.</p>
<p>٣- قوَّة الصلاة في مساندة خدَّام الملكوت وفِي إدراك مشيئة الله. (البولس)</p>
<p>&#8220;مصلِّين في ذلك لأجلنا نحن أيضاً لكي يفتح الله لنا باباً للكلام لنتكلم بسر المسيح&#8230; يسلم عليكم أبفراس.. هذا الذي يجاهد كل حين لأجلكم بصلواته لكي تثبتوا كاملين وممتلئين من مشيئة الله&#8221;.</p>
<p>4- شركة الخدّام (البولس).</p>
<p>&#8220;هؤلاء هم وحدهم العاملون معي لملكوت الله&#8221;</p>
<p>5- شهادة المدعوين للملكوت (الإبركسيس).</p>
<p>&#8220;وتكونون لي شهوداً في أورشليم وفِي كل اليهودية والسامرة وإلي أقصي الأرض&#8221;</p>
<p>6- التوبة مدخل وباب الملكوت (إنجيل القدَّاس)</p>
<p>&#8220;وقولوا لهم قد اقترب منكم ملكوت الله&#8221;</p>
<h4>(2) حياة الملكوت</h4>
<p>1- تسبيح الكنائس (مزمور عشيَّة وباكر والقدّاس).</p>
<p>&#8220;سبحوه وحدّثوا بجميع عجائبه.. في الكنائس باركوا الله.. بشروا من يوم إلي يوم بخلاصه&#8221;.</p>
<p>2- الإيمان حتي لو كان مثل حبة خردل (إنجيل باكر).</p>
<p>&#8220;فقال الرب لو كان لكم إيمان مثل حبة خردل لكنتم تقولون لهذه الجميزة انقلعي وانغرسي في البحر فكانت تطيعكم&#8230;&#8221;.</p>
<p>3- الصلاة والسهر وإفتداء الوقت (البولس).</p>
<p>&#8220;كونوا مواظبين على الصلاة ساهرين فيها بالشكر&#8230; اسلكوا بحكمة من جهة الذين هم من خارج مُفتدين الوقت&#8221;.</p>
<p>4- السيرة الصالحة (الكاثوليكون)</p>
<p>&#8220;ولكم ضمير صالح لكي يخزي الذين يتكلمون عليكم بالشرور والذين يعيبون سيرتكم الصالحة في المسيح&#8221;.</p>
<p>5- المعمودية (الكاثوليكون والإبركسيس).</p>
<p>&#8220;فهكذا أنتم أيضاً الآن يُخلِّصكم بمثال المعمودية&#8221;.</p>
<p>&#8220;وأما أنتم فسُتعمِّدون بالروح القدس&#8221;.</p>
<p>6- الإمتلاء من الروح (الإبركسيس).</p>
<p>&#8220;ولكنكم ستنالون قوَّة متي حلَّ الروح القدس عليكم&#8221;.</p>
<p>7- السلطان علي الشياطين (إنجيل القدَّاس)</p>
<p>&#8220;ها أنا أعطيكم السلطان لتدوسوا الحيات والعقارب وكلَّ قوَّة العدوِّ ولا يضُرّكم شئ&#8221;.</p>
<h4> (3) العظة الثانية في الرابع عشر من بابة</h4>
<p>الميلاد الجديد وجوهر إرسالية الكنيسة (إنجيل عشيَّة)</p>
<p>(الدعوة الدائمة للتوبة - عطيَّة النصرة علي الشيطان - الميراث السماوي )</p>
<p>1- الدعوة الدائمة للتوبة</p>
<p>&#8220;وقولوا لهم قد اقترب منكم ملكوت الله&#8221;</p>
<p>دعوة الخدمة وإرسالية الخادم تتحقَّق في:</p>
<p>✥ الشركة ← &#8220;اثنين اثنين&#8221;.</p>
<p>✥ وضوح الهدف وتبعية السيد دائماً في كل خطوة ← &#8220;أمام وجهه&#8221;.</p>
<p>✥ الحكمة والوداعة ← &#8220;ها أنا أرسلكم مثل حملان في وسط ذئاب&#8221;.</p>
<p>✥ عدم الإنشغال بأمور العالم ← &#8220;لا تحملوا كيساً ولا مزوداً&#8221;.</p>
<p>✥ مُبشِّر بالسلام ←&#8221; فقولوا أولاً السلام لهذا البيت&#8221;.</p>
<p>✥ يدعو الكل للملكوت ← &#8220;وقولوا لهم قد اقترب منكم ملكوت الله&#8221;</p>
<p>2- عطيّة النصرة على الشيطان</p>
<p>&#8220;فرجع السبعون بفرح قائلين يا رب حتى الشياطين تخضع لنا باسمك. فقال لهم رأيت الشيطان ساقطاً من السماء مثل البرق ها أنا أعطيتكم السلطان لتدوسوا الحيات والعقارب وكلَّ قوة العدو ولا يضركم شئ&#8221;.</p>
<p>هذه هي صلاتنا كل يوم وكل وقت جعلتها كنيستنا المُقدَّسة في مقدمة الصلوات لنعيش إحساس ويقين النصرة الدائمة في المسيح على الشيطان.</p>
<p>3- الميراث السماوي</p>
<p>&#8220;ولكن لا تفرحوا بهذا إنَّ الأرواح تخضع لكم بل افرحوا أنَّ أسماءكم مكتوبة في السموات&#8221;.</p>
<p>خضوع الأرواح الشريرة ليس علامة ويقين علي صحَّة إرسالية الكنيسة وربَّما يكون العكس علَّة هلاك الخادم (مت٧: ٢٣،٢٢) أمَّا الحياةالسماوية والإنشغال بملكوت الله في حياتنا على الأرض وبعد إنطلاقنا إلى السماء هو علامة يقينية لصحة الدعوة ووضوح هدفها.</p>
<h3>عظات آبائية</h3>
<h4>[1] القديس كيرلس الأسكندري<a href="#_ftn4" name="_ftnref4">[4]</a></h4>
<p>المقارنة ممتازة، إذ من المناسب جدًا أن يقدم أمامهم ما يحدث بخصوص الكرازة المقدسة الإلهية الخاصة بالإنجيل، والتي يدعوها هنا ملكوت السماوات، فمن خلالها ننال حق الشركة في ملكوت المسيح. قُدمت هذه الكرازة في البداية لأشخاص قليلين وفي نطاق ضيق لكنها اتسعت في تأثيرها وامتدت إلى كل الأمم. لقد كُرز بها أولًا في اليهودية وحدها حيث كان التلاميذ الطوباويون أيضًا قليلي العدد جدًا، وإذ عصى إسرائيل جاءت الوصية للرسل القديسين: &#8220;اذهبوا وتلمذوا جميع الأمم&#8230;&#8221; (مت ٢٨: ١٩). كما أن حبة الخردل صغيرة جدًا في حجمها بالنسبة لبذور النباتات الأخرى، لكنها تنمو عالية جدًا أكثر من الأعشاب العادية حتى تصير مأوى لكثير من العصافير، هكذا ملكوت السماوات ونتعرف على ذاك الذي بالطبيعة هو الله حقًا، قد بدأت موجهة إلى أشخاص قليلين كما لو كانت صغيرة ومحدودة، فنمت بسرعة وصارت مأوى للذين هربوا إليها كملجأ لهم هؤلاء الذين حُسبوا كعصافير، لأن الأمور البشرية تُحسب صغيرة إن قيست بالله.</p>
<p>لقد أُعطى الناموس الموسوي للإسرائيليين، وإذ لم يستطع سكان الأرض أن يخلصوا خلال ظل الناموس وخدمته المادية صارت الضرورة ملحة أن تنطلق الكرازة بالإنجيل واهب الخلاص وأن تنتشر بين كل ما هو تحت السماء.</p>
<p>هذا ما أعلنه لنا حرف الناموس الموسوي خلال علامة، فقد جاء فيه: &#8220;وكلم الرب موسى قائلًا: اصنع لك بوقين من فضة مسحولين تعملهما، فيكونان لك لمناداة الجماعة ولارتحال المحلات&#8221; (عد ١٠: ١). جاء بعد ذلك: &#8220;وبنو هرون الكهنة يضربون بالأبواق، فتكون لكم فريضة أبدية في أجيالكم&#8221; (عد ١٠: ٨). من هذا يمكن أن يفهم عمل الناموس التمهيدي (للإنجيل) والكمال الذي نناله في المسيح بالحياة الإنجيلية، فقد أشار النبي إشعياء أيضًا إلى هذا الاسم بقوله: &#8220;ويكون في ذلك اليوم أنه يضرب ببوقٍ عظيمٍ&#8221; (إش ٢٧: ١٣). فبالحقيقة قد ضُرب ببوق عظيم خلال صوت الرسل القديسين، غير متجاهلين (البوق) الأول إنما احتووه، إذ كانوا دائمًا يبرهنون على ما يقولونه بخصوص المسيح من الناموس والأنبياء، مستخدمين شهادات العصور القديمة.</p>
<p>إذن وُجد بوقان من فضة مسحولة، حيث تشير الفضة إلى السمو، لأن كل كلمة الله مجيدة، لا تحمل فيها شيئًا من ظلمة العالم، وطرق المعدن أظهر أن البوق المقدس الإلهي -أي الكرازة القديمة والجديدة- تنمو وتتقدم، لأن ما يًطرق ينسحب إلى قدام ويتسع في الطول والعرض. فبقيامة المسيح من أجل سكان الأرض تقدم الناموس القديم خلال تفسيره الروحي، إذ نكرز به نحن الذين نلنا الاستنارة الروحية في المسيح، وأيضًا تقدمت رسالة الإنجيل وانتشرت حتى احتضنت العالم كله. لقد أعطى الناموس الكهنة أن يستخدموا الأبواق لتعليم الشعب، أما المسيح فقدم خدام الإعلانات الجديدة نقصد بهم الرسل القديسين للكرازة به والتبشير بوصاياه. أعلنوا سره كمن يستخدم بوقين، بهما يكرزون عنه، إذ &#8220;كانوا من البدء معاينين وخدامًا للكلمة&#8221; (لو 1: 2)، مؤكدين بكلماتهم الشهادات الحقيقية للناموس والأنبياء.</p>
<p>ليس صعبًا أن ترى رسالة الإنجيل قد كُرز بها في البداية صغيرة في حجمها وقد امتدت متزايدة جدًا كما سبق فأخبرنا الله عنها بصوت إشعياء: &#8220;لأن الأرض تمتلئ من معرفة الرب كما تغطي المياه البحر&#8221; (إش ١١: ٩). فإن الكرازة بالخلاص في كل موضع تفيض كالبحر، وعملها لا يُقاوم. هذا ما أعلنه إله الكل في وضوح بصوت النبي: &#8220;وليجر الحق كالمياه، والبرّ كنهرٍ دائمٍ&#8221; (عا ٥: ٢٤). فقد أعطى اسمي الحق والبرّ لرسالة الإنجيل، ومنحنا تأكيدًا أن هذه الرسالة تجري في العالم كالمياه والفيضان، فلا يقف إنسان أمام مجاريها الجارفة بقوة.</p>
<p>نفس التفسير أيضًا لائق جدًا إذ يقارن ملكوت الله بخميرة. فإن الخميرة صغيرة في كميتها لكنها تمسك العجين كله، وبسرعة تتفاعل معه، وتهبه خواصها. هكذا تعمل فينا كلمة الله بنفس الطريقة، فإنها إذ تُضاف إلينا في داخلنا تجعلنا قديسين وبلا لوم وتتسرب إلى ذهننا وقلبنا، وتجعلنا روحيين، وكما يقول بولس: &#8220;لتحفظ روحكم ونفسكم وجسدكم كاملة بلا لوم عند مجيء ربنا يسوع المسيح&#8221; (١تس ٥: ٢٣)</p>
<h4>[2] القديس أمبروسيوس</h4>
<p><strong>أهميّة التوبة</strong><a href="#_ftn5" name="_ftnref5">[5]</a></p>
<p>✥ ليته لا يخف أحد من الهلاك، مهما كانت حالته، ومهما كان سقوطه، فسيمر عليه السامري الصالح الذي للإنجيل، ويجده نازلًا من أورشليم إلى أريحا، أي هاربًا من آلام الاستشهاد إلى التمتع بملذات العالم مجروحًا بواسطة اللصوص&#8230; مطروحًا بين حيّ وميت، هذا السامري الصالح الذي هو رمز للسيد المسيح، الذي هو حارس للأرواح، لن يتركك إنما يتحنن عليك ويشفيك.</p>
<p>✥ ليت هؤلاء الذين يتوبون يعرفون كيف يقدمون التوبة، بأية غيرة، وبأى مشاعر، وكيف تبتلع كل تفكيره، وتهز أحشاءه الداخلية، وتخترق أعماق قلبه، إذ يقول إرميا النبي: &#8220;أنظر يا رب فإني في ضيق، أحشائي غلت، ارتد قلبي في باطني&#8221; (مرا ١: ٢).</p>
<p>✥ اغتسل المسيح لأجلنا، أو بالحري غسلنا نحن في جسده، لذا يليق بنا أن نُسرع لغسل خطايانا&#8230;</p>
<p>دُفن وحده ولكنه أقام الجميع،</p>
<p>نزل وحده ليرفعنا جميعًا،</p>
<p>حمل خطايا العالم وحده ليطهِّر الكل في شخصه، وكما يقول الرسول: &#8220;نقُّوا أيديكم إذن وتطهَّروا&#8221; (يع ٤: ٨)، فالمسيح غير محتاج إلى التطهير، تطهَّر لأجلنا.</p>
<p>✥ لنتمثل بالأشجار المثمرة، فتنمو فضائلنا تسندها جذور التواِضع المستمر، ولنرتفع عن الأرضيَّات ونحمل في القمَّة أعمال التوبة المثمرة، فلا يأتي فأس المزارع ليقطع الغصن البرَّي (غير المُثمر)، إذ &#8220;ويل لي إن كنتُ لا أبشِّر&#8221; (١كو ٩: ١٦)، هذا ما نطق به الرسول، أما أنا فأقول:</p>
<p>ويلٌ لي إن كنت لا أبكي على خطاياي؛</p>
<p>ويلٌ لي إن كنت لا &#8220;أقوم في نصف الليل لأشكرك على أحكام عدلك&#8221; (مز ١١٨: ١٢)؛</p>
<p>ويلٌ لي إن وشيْت بقريبي؛</p>
<p>ويلٌ لي إن كنت لا أنطق بالحق.</p>
<p>هوذا الفأس على أصل الشجرة، فليْتها تنمو وتقدِّم ثمر الشكر وثمرة التوبة.</p>
<p>هوذا الرب يقف يجني الثمار ويَهب الحياة عِوض الثمر، ويكتشف الشجرة التي لم تثمر ولها ثلاث سنوات (لو ١٣: ٧). إنه لم يجد ثمرًا لليهود، لعلَّه يجد فينا ثمرًا، إذ هو مزمع أن يقطع من لا ثمار لهم حتى لا يشغلوا الأرض باطلًا.</p>
<p>ليجاهد من هم بلا ثمر أن يكون لهم في المستقبل ثمر، فإن زارع الأرض الطيِّب يشفع فينا نحن الذين بلا ثمر وبلا نفع لكي تُترك لنا فرصة، ويطيل الله أناته علينا لعلَّنا نقدر أن نقدِّم بعضًا من الثمار.</p>
<h4>[3] القديس يوحنا ذهبي الفم</h4>
<p><strong>النصرة على الشيطان<a href="#_ftn6" name="_ftnref6">[6]</a></strong></p>
<p>الأمر الأكثر دهشة إذاً، هو أننا لم ننتصر فحسب، بل أننا انتصرنا أيضاً مع وجود مكائد أو دسائس ضدنا. وليس فقط انتصرنا بل &#8220;ويعظم انتصارنا&#8221; أي بكل سهولة وبدون جهد ومتاعب، أو تُحمّل للصعاب، إذ هو يقوم بإعداد الإرادة، وهكذا في كل مكان نقيم نصباً تذكارياً للإنتصار ضد الأعداء. وهذا مبرر جداً، لأن الله هو ذاك الذي يدعمنا. إذاً لا نتشكك في أن التعذيب الذي يقع علينا، يقودنا إلى الانتصار على أولئك الذين يعذبوننا، وأنه عندما نُضطَهد، فإننا نتغلب على مُضطهدينا، وعندما نموت نحوّل الأحياء ونغيّرهم. لأنه في حضور قوة الله ومحبته، لا شيء يمكن أن يعيق تحقيق الأمور العجيبة والمدهشة، ولا يوجد ما يعطل إشراق الأنتصار كما سبق وأشرنا. لأننا لا ننتصر فقط، بل ننتصر بطريقة عجيبة، لكي يُعلَّم الذين يفكرون بالشر، أن الحرب لم تكن ضد بشر بل كانت ضد تلك القوة التي لا تُهزم.</p>
<p>لاحظ إذاً أن اليهود كانوا في مواجهة اثنين من المنتصرين، وتحيَّروا وقالوا: &#8220;ماذا نفعل بهذين الرجلين&#8221; (أع ٤: ١٦). الأمر الأكثر دهشة هو أنه على الرغم من أنهم كانوا يحتجزونهم، ويعتبرونهم مذنبين، وسجنوهم وضربوهم ، تحيَّروا وصاروا مرتبكين، وانهزموا بهذه الأمور ذاتها، والتي توقعوا أنهم سينتصرون بها، فلا الطغاة، ولا جموع من البشر، ولا كتيبة شياطين، ولا الشيطان نفسه، استطاع أن يهزم هؤلاء القديسين، بل ومع كل هذه القوة المضادة، فقد هزموا الجميع، رغم كل ما ابتدعوا من وسائل، بل صارت كلها ضدهم، ولهذا قال: &#8220;يعظم انتصارنا&#8221;. لأن قانون هذا الانتصار كان جديداً في أن ينتصروا بالأمور المضادة، وألا يُهزموا أبداً، بل كما لو كانوا هم المتحكمون في النهاية، وهكذا يسلكون في هذا الجهاد.</p>
<h4>[4] وأيضاً للقديس يوحنا ذهبي الفم<a href="#_ftn7" name="_ftnref7">[7]</a></h4>
<p>✥ يصوب الشيطان سهاماً ضدي ، لكن أنا معي سيف.</p>
<p>هو معه قوس، أما أنا فجندي أحمل سلاحاً ثقيلاً…</p>
<p>إنه حامل قوس لكنه لا يجسر أن يقترب إليّ، إذ يلقي بسهامه من بعيد.</p>
<p>✥ عندما يرى أب محب الإنسان الذي قتل ابنه، فإنه لا يعاقب المجرم فقط، وإنما يدمر أيضاً السلاح نفسه الذي استخدمه. هكذا عندما يجد المسيح أن الشيطان قد ذبح إنساناً، فإنه ليس فقط يعاقب الشيطان، وإنما يدمر السلاح نفسه.</p>
<p>✥ هل كان الشيطان يهرب إن دعا أحد إسم اللص المصلوب أو أي (شخص) مصلوب آخر؟ بالطبع لا، بل كان سيسخر منه. لكنه عند سماع اسم يسوع المسيح الناصري يُدعَى يهرب سريعاً كما من النار.</p>
<p>✥ لا نخشى شيئاً، فإننا لكي نقهر الشيطان يلزمنا أن نعرف أن مهارتنا لن تفيد شيئاً، وأن كل شيء هو من نعمة الله.</p>
<h4>[5] القديس كبريانوس أسقف قرطاجنة الشهيد<a href="#_ftn8" name="_ftnref8">[8]</a></h4>
<p>إن النبوة وإخراج الشياطين وعمل المعجزات العظيمة على الأرض بالتأكيد شيء فائق ومثير للإعجاب، ولكن الإنسان لا يمكن أن يبلغ الملكوت- حتى وإن كان يصنع هذا كله- ما لم يتخذ الطريق المستقيم والصحيح، فالرب يحذر ويقول: &#8220;كثيرون سيقولون لي في ذلك اليوم يا رب، يا رب! أليس باسمك تنبأنا، وباسمك أخرجنا شياطين، وباسمك صنعنا قوات كثيرة؟ فحينئذ أصرح لهم: إني لم أعرفكم قط! اذهبوا عني يا فاعلي الإثم!&#8221; (مت۲۲:۷).</p>
<p>فالبر لازم وضروري لكي يكون الإنسان جديراً بجعالة الرب الديان العادل، يجب علينا أن نطيع وصاياه وتحذيراته حتى تنال أفعالنا الحسنة مكافأته، والرب في إنجيله أوضح لنا ذلك في قول موجز: &#8220;الرب إلهنا رب واحد. وتحب الرب إلهك من كل قلبك، ومن كل نفسك، ومن كل فكرك، ومن كل قدرتك. هذه هي الوصية الأولى. وثانية مثلها هي: تحب قريبك كنفسك&#8230;. بهاتين الوصيتين يتعلق الناموس كله والأنبياء&#8221; (مر ۲۹:۱۲-۳۱، مت ۳۷:۲۲-٤٠). وفي نفس الوقت علم خلال تعاليمه الوحدة والمحبة، وجمع الناموس والأنبياء في وصيتين، ولكن أية وحدة هذه التي يحفظها وأية محبة يراعيها- ذاك الذي- يقسم الكنيسة ويدمر الإيمان، ويزعج السلام، ويبدد المحبة ويدنس الأسرار؟!</p>
<p>أيها الإخوة الأتقياء، لقد بدأ هذا الشر منذ أمد بعيد، ولكن الأثر المدمر لهذا الشر قد تزايد واستشرى، فبدأ وباء الهرطقات والانشقاقات ينتشر من جديد، هكذا سيكون في نهاية العالم، لأن الروح القدس يخبرنا ويحذرنا قائلاً: &#8220;ولكن اعلم هذا أنه في الأيام الأخيرة ستأتي أزمنة صعبة، لأن الناس يكونون محبين لأنفسهم، محبين للمال، متعظمين، مستكبرين، مجدفين، غير طائعين لوالديهم، غير شاكرين، دنسين، بلا حنو، بلا رضي، ثالبين، عديمي النزاهة، شرسين، غير محبين للصلاح، خائنين، مقتحمين، متصلفين، محبين للذات دون محبة الله، لهم صورة التقوى، ولكنهم منكرون قوتها. فأعرض عن هؤلاء. فإنه من هؤلاء هم الذين يدخلون البيوت، ويسبون نسيات محملات خطايا، منساقات بشهوات مختلفة. يتعلمن في كل حين، ولا يستطعن أن يقبلن إلى معرفة الحق أبداً. وكما قاوم ينيس ويمبريس موسى، ، كذلك هؤلاء أيضا يقاومون الحق. أناس فاسدة أذهانهم، ومن جهة الإيمان مرفضون. لكنهم لا يتقدمون أكثر، لأن حمقهم سيكون واضحا للجميع، كما كان حمق ذينك أيضاً&#8221; (۲تی۳: ۱-۹).</p>
<p>وقد تحقق كل ما تنبأ عنه، وإذ تقترب نهاية العالم، فإنها تأتي من أجل اختبار الناس والأزمنة على السواء، وإذ يهاجم العدو بعنف يزداد الضلال أكثر وأكثر وترفع الحماقة رأسها، والحسد يلهب، والشهوة تعمي، وعدم التقوى يسود، والغرور والكبرياء ينفخ، والانشقاق يجلب سخطا، والغضب ينشيء تهورا.</p>
<p>ليت عدم التقوى وعدم الإيمان الذي لدى الكثيرين لا يزعجنا أو يثيرنا، بل بالأحرى ليته يقوي إيماننا في ملء الحق الذي سبق فأخبرنا بهذه الأمور، إذ أن البعض قد صاروا هكذا، لذلك ليت الإخوة الآخرون يحذرون من الأمور المشابهة لهذه، لأننا قد أخبرنا مسبقاً. عن هذه الأمور. كما علمنا الرب قائلاً: &#8220;فانظروا أنتم، ها أنا قد سبقت وأخبرتكم بكل شيء&#8221; (مر ۲۳:۱۳). أتوسل إليكم أن تتجنبوا مثل هؤلاء ولا تصغوا لأحاديثهم، إنها تحمل سم الموت كما هو مكتوب: &#8220;سيج أذنيك بالأشواك، ولا تصفي للسان خبيث&#8221; (بن سيراخ٢٤:٢٨)، وأيضا &#8220;المعاشرات الرديئة تفسد الأخلاق الجيدة&#8221; (۱ كو١٥: ٣٣). والرب يعلمنا أن نبتعد عن مثل هؤلاء فيقول &#8220;هم عميان قادة عميان، وإن كان أعمى يقود أعمى يسقطان كلاهما في حفرة&#8221; (مت ١٤:١٥). مثل هذا الإنسان ينبغي أن نبتعد عنه ونتجنبه - أيا كان - طالما أنه خارج عن الكنيسة، مثل هذا أخطأ وأدان نفسه، فذاك الذي يقاوم كهنة المسيح ويفصل نفسه عن شركة إكليروس المسيح أيظن أن له المسيح؟ ذاك الذي يتسلح ضد الكنيسة ويحارب تدبير الله، إنه عدو للمذبح ومتمرد على ذبيحة المسيح، وجاحد للإيمان، عبد عاصي، إبن عاق، أخ معاد، يزدري بالأساقفة ويهجر كهنة الله، لذا يتجاسر على أن يقيم مذبح آخر، ويرفع صلاة أخرى غير قانونية، إنه يدنس تقدمة الرب بذبائح كاذبة، ولا يعلم أنه يقاوم اختيار وتعيين الرب، ولأجل تهوره واندفاعه سوف يناله العقاب الإلهي.</p>
<p>هكذا نال قورح وداثان وابيرام الذين حاولوا إغتصاب حق تقديم الذبيحة، مقاومين موسى وهارون الكاهن، فنالوا في الحال عقوبة جسارتهم، إذ انشقت الأرض وفتحت فاها وابتلعت كل الأحياء الواقفين منهم ولم يتوقف غضب الله عند من قادوا الفتنة، بل خرجت أيضا نار من عند الرب وأكلت المائتين والخمسين رجلاً الآخرين الذين شاركوا في هذا الجنون، والذين انضموا إليهم في حماقتهم، كل هذا بلا شك حتى نتعلم أن كل ما آل إليه هؤلاء الرجال الأشرار، لإفساد قصد واختيار الله، كان مقاومة الله&#8221; (انظر عد٢٦،٢٥:١٦)، وهكذا أيضا عزيا الملك عندما قدم بخوراً وادعى لنفسه بالقوة حق تقديم الذبيحة مخالفاً شريعة الرب، مع أن عزاريا الكاهن قاومه، لكنه لم يذعن و لم يطيع، فضربه الغضب الإلهى وأصاب جبهته بالبرص. لقد ضربه الرب بعلامة في هذا الموضع من جسده الذي فيه يختم من يستحقون التكريم من الرب. وأيضا ابني هارون اللذين وضعا ناراً غريبة على المذبح لم يأمر بها الرب، خرجت نار من عند الرب، وأكلتهم فماتا في الحال.</p>
<p>هؤلاء (أي المبتدعون والمنشقين) يقتدون بلاشك بهذه الأمثلة، هؤلاء الذين يزدرون بتقليد (تسليم) الله ويسعون وراء تعاليم غريبة ويقدمون تعاليم بشرية، هؤلاء يوبخهم الرب في إنجيله قائلاً: «تركتم وصية الله وتتمسكون بتقليد الناس» (مر٨:٧). إنها خطية أردأ من تلك التي يسقط فيها من جحدوا الإيمان، الذين برغم جحودهم، عندما يتوبون عن خطيتهم يتضرعون لله بندم كامل، إذ أنهم يسعون وراء الكنيسة ويستعطفونها، بينما هناك يقاومون الكنيسة، ذاك ربما كان سقوطه وانكاره عن ضعف أو قهر، أما هنا فيرتكب الشر بإرادة حرة، الذي ارتد لا يؤذي سوى ذاته، أما من الإخوة وضد كهنة الله. فأي معترف أضاع اعترافه بكلام وأحاديث شريرة، أو دنس حياته في آثام مخزية، أو انفصل عن الكنيسة، إلى تمزيق رباط الوحدة، وتحول عن الإيمان، سوف يكون مستحقاً للوم والإدانة، فلا يظن أحد أو يخدع نفسه إنه بسبب اعترافه صار مختاراً لجعالة الله، بل أنه بسبب هذه الحقيقة يزيد من استحقاقه للعقاب .</p>
<p>لقد اختار الرب يهوذا بين الرسل ولكنه فيما بعد خان المسيح وسلمه، ومع هذا لم يتزعزع إيمان وثبات الرسل، لأن يهوذا الخائن ارتد عن شركتهم. كذلك أيضا الحال في وضعنا هذا، فقداسة وكرامة هؤلاء المعترفين لا ينال منها شيئا فساد إيمان البعض منهم، فالرسول الطوباوي بولس يتحدث في رسالته قائلاً: &#8220;ماذا إن كان قوم لم يكونوا أمناء؟ أفلعل عدم أمانتهم يبطل أمانة الله؟ حاشا! بل ليكن الله صادقا وكل إنسان كاذباً&#8221; (رو٣: ٣، ٤).</p>
<p>لأن القسم الأكبر والأفضل من هؤلاء المعترفين يقف صامدا في قوة إيمانه وأمانته في شريعة الرب وتعاليمه، وغير منفصلين عن سلام الكنيسة، هؤلاء الذين يتذكرون أنهم نالوا نعمة في الكنيسة بتعطفات الله ومراحمه الجزيلة، وبعملهم هذا ينالون مديحا أعظم لأمانتهم، إذ ابتعدوا عن ضلالة هؤلاء الذين اشتركوا معهم في الاعتراف، وابتعدوا عن موت الخطية.إذ أنهم استناروا بنور الإنجيل الحقيقي، وبهاء الرب أشرق عليهم، لذا صاروا جديرين بالمدح من أجل حفظهم سلام المسيح، كما كانوا مستحقين للمديح في إنتصارهم في الصراع مع الشيطان.</p>
<h3>عظات آباء وخدام معاصرين</h3>
<h4>[1] المتنيح الأنبا يؤانس أسقف الغربية</h4>
<p><strong>القديس لوقا<a href="#_ftn9" name="_ftnref9">[9]</a></strong></p>
<p>هو ثالث الإنجيليين، وكاتب سفر أعمال الرسل ، ورفيق القديس بولس في أسفاره وكرازته وأتعابه &#8230; إن التاريخ لا يمدنا بمعلومات عن حياته السابقة قبيل تعرفه على بولس الرسول&#8230; ويبدو أن التقليد القديم الذي يقول إنه كان من السبعين رسولاً، وأنه أحد تلميذي عمواس اللذين إلتقى بهما الرب عشية قيامته، أمر مشكوك فيه، والأرجح أنه كان أنطاكياً أممياً وليس يهودياً. فهو باعترافه لم يعاين الرب يسوع بالجسد، وأنه إعتمد في كتابة إنجيله على ما تسلمه ممن سبقوه، وعلى ما كان مكتوباً وشائعاً (لو١: ۲،۱). أما كونه أممياً- فبالإضافة إلى التقليد الكنسي القديم - نرى أن بولس في رسالته إلى الكولوسيين يقول &#8220;يسلم عليكم أرسترخس المأسور معی ومرقس ابن أخت برنابا&#8230; و يسوع المدعو يسطس الذين هم من الختان&#8230; يسلم عليكم ابفراس&#8230; يسلم عليكم لوقا الطبيب الحبيب وديماس&#8221; (كو٤: ۱۰-۱٤).. وهنا نلاحظ أنه يذكر بعض أسماء في الأول ويقول عنهم إنهم من الختان أي اليهود، أما الباقون - ومنهم لوقا - فمن الأمم. وهناك رأي آخر يجعل من لوقا أممياً إهتدى إلى اليهودية.. ولعل مصدر هذا الرأي هو الخلط بين اسم لوقا واسم لوكيوس الوارد في (أع ۱:۱۳)، وكلاهما يرجع إلى أصل لغوي واحد.. والأرجح أن لوقا كان أممياً واهتدى إلى الإيمان المسيحي على يد أحد التلاميذ الذين نزحوا من أورشليم وقصدوا أنطاكية في وقت مبكر حوالي سنة ٣٦م. عقب التشتت الذي حدث بعد مقتل استفانوس.. وإن كان البعض يرجحون أنه آمن بالمسيح على يد بولس، وهذا هو رأي ترتليانوس من القرن الثاني.</p>
<p>ومهما يكن من أمر ، فالثابت من رواية سفر الأعمال، أنه إلتقى بالقديس بولس أثناء رحلته التبشيرية الثانية في مدينة ترواس عقب الرؤيا التي رأى فيها بولس رجلاً مكدونياً يقول &#8220;أعبر إلى مكدونيا وأعنا&#8221; (أع ١٦: ٩) ويبدو أنه رافق بولس إلى فيلبي لأنه في سفر الأعمال يتكلم بعد ذلك مباشرة بصيغة المتكلم الجمع بعد أن كان يتكلم بصيغة الغائب الجمع..</p>
<p>وفي أواخر رحلة بولس التبشيرية التالية يلتقيان ثانية معا في فيلبي.. ويبدو أن لوقا - بعد لقائه الأول مع بولس في فيلبي سنة ٥١ - بقى فيها ليرعى الكنيسة الناشئة هناك. والدليل على ذلك أنه يستخدم ضمير المثنى الغائب بدلاً من ضمير المتكلم الجمع (أنظر أع١٧: ١). وبعد سبع سنين أخرى (سنة ٥٨) إلتقى بالرسول بولس مرة أخرى حين مر بفيلبي في طريقه إلى أورشليم أثناء رحلته الأخيرة إليها، بعد أن أمضى أسبوعاً في ترواس (أع۲۰: ٥، ٦)، لأننا نلاحظ أن لوقا يعود إلى إستخدام ضمير المتكلم الجمع.. ويبدو أن لوقا كان مرافقا لبولس في أورشليم، أو في القليل قریباً منه، وكذا لمدة سنتي الأسر في قيصرية. كما رافقه في رحلته الأخيرة إلى روما حينما ذهب إليها مخفوراً، وبقي بالقرب منه هناك مدة الأسر الأول والثاني.. وظل الخادم الأمين والصديق الوفي إلى النهاية..</p>
<p>أما عن بقية حياة لوقا فلا نعلم عنها شيئا على وجه التحقيق. ولعل هذا دليلاً كبيراً على ما إتصف به هذا الرسول من إتضاع. لأنه على الرغم من أنه كتب الإنجيل الثالث، ووضع كتاب «أعمال الرسل»، وذكر ببعض الإسهاب ما حدث للرسول بولس في حياته الرسولية، فإنه أغضى عن ذکر نفسه وسكت عن أعماله، حتى لقد ترك شيئا من الشك يحوم حول شخصه والرسالة التي إضطلع بها.. إن أخر إشارة إلى لوقا، وصلتنا في كلمات بولس، وفي أخر رسالة له كتبها من سجنه الأخير في روما، قبيل إستشهاده &#8220;لوقا وحده معي&#8221; (٢تي٤: ۱۱).. وتذكر بعض التقاليد القديمة أنه عمر حتى سن الرابعة والثمانين، وأنه مات مصلوباً على شجرة زيتون في إيليا Elaea في بلاد اليونان. ويذكر جيروم أن ذخائره - مع ذخائر إندراوس الرسول - نقلت من بترا Patrae في أخائية إلى كنيسة الرسل في القسطنطينية.</p>
<p>خلف لنا لوقا الإنجيل الذي يحمل اسمه، الذي إعتمد في كتابته على وثائق ثابتة مكتوبة وعلى ما إستقاه من التقليد الشفوي الثابت.. ويأتي في مقدمتها ما سمعه من البتول القديسة مريم، ويؤيد هذا تقلید کنسى قديم..</p>
<p>ولا يعرف على وجه الدقة الوقت الذي كتب فيه لوقا إنجيله، لكنه على أية الحالات كتب قبل سنة ۷۰م، كما إختلف أيضاً في مكان كتابته.. وقد بعث لوقا بإنجيله وسفر الأعمال إلى شخص شريف يدعى «ثاوفيلس»  وهناك إجماع بين العلماء أن هذا الشريف كان بالإسكندرية. أما عن سفر الأعمال، فقد دون لوقا فيه أول تاريخ الكنيسة، إبتداء من صعود الرب إلى نهاية السنة الثانية من أسر بولس الأول بروما.. وقد دون الحوادث بكل دقة، حتى أن العالم المؤرخ شاف يدعوه [الأب الحقيقي لتاريخ الكنيسة المسيحية].</p>
<p>كان لوقا - قبل إيمانه بالمسيح - يمتهن مهنة الطب - هكذا يذكره القديس بولس إلى الكولوسيين &#8220;لوقا الطبيب&#8221; (كو٤: ١٤)، لذا لا نعجب إن رأيناه في الإنجيل الذي كتبه يظهر الرب يسوع كطبيب للبشرية ومخلص للعالم.. كما جاء في التقاليد الكنسية القديمة، إنه كان فناناً واليه ينسب رسم أول صورة للسيدة العذراء مريم.</p>
<p>وثمة أمر نود الإشارة إليه، وهو أن لوقا كتب إنجيله بإرشاد الروح القدس شأن باقي الإنجيليين، ولم يمل القديس بولس عليه شيئاً.. ولا صحة مطلقاً للرأي الذي ارتآه العلامة أوريجينوس والمؤرخ يوسابيوس والقديس جيروم، من أن بولس حينما ذكر في رسائله كلمة &#8220;إنجيلي&#8221; كان يعني إنجيل لوقا، على إعتبار أنه أملاه على لوقا.. فكلمة إنجيل في العهد الجديد، لا تستخدم معنی سفر مکتوب، بل يقصد بها مباديء المسيحية التي کرز بها الكارزون.</p>
<h4>[2] وأيضاً للمتنيح الأنبا يؤانس أسقف الغربية</h4>
<p><strong>عوامل نجاح الكرازة<a href="#_ftn10" name="_ftnref10">[10]</a></strong></p>
<p>نعرض هنا لبعض عوامل نجاح الكرازة التي کرز بها رسل ربنا يسوع المسيح، والمبشرون الأوائل، حتى فتنوا المسكونة بكرازتهم، وأضاءوا بالإنجيل طريق الحياة لكثيرين..</p>
<p><strong>١- قيادة الروح القدس للخدمة</strong>:</p>
<p>قبيل صعود الرب يسوع إلى السماء أوصى تلاميذه &#8220;أن لا يبرحوا من أورشليم، بل ينتظروا موعد الآب&#8221;.. أما الحكمة في ذلك فقد أوضحها الرب لهم، إنهم سينالون قوة متى حل الروح القدس عليهم (أع ١: ٤، ٨).. وهذه العبارة تحمل تحذيراً فيما لو برحوا أورشليم قبل نوال هذه القوة.. لماذا؟ لأن الروح القدس -منذ تأسيس الكنيسة - سيكون هو كل شيء في كنيسة العهد الجديد: سيكون هو القائد، والمدبر، والمعين، والمرشد، والمعزي، والعامل في الكارزین والمخدومين والمؤمنين.. ونستطيع أن نلمس أثر الروح القدس في كنيسة الرسل ، بالنظر فيما يلي:</p>
<p>❖ كان روح الله هو الذي يدعو للخدمة.. هكذا أعلن لكنيسة أنطاكية &#8220;وبينما هم يخدمون الرب ويصومون، قال الروح القدس، إفرزوا لي برنابا وشاول للعمل الذي دعوتهما إليه&#8221; (أع۱۳: ۲) ولنلاحظ أن المتكلم هو الروح القدس، ومعه نلاحظ أيضاً کلمتي «لي» و «دعوتهما».</p>
<p>❖ وكان يُعلِّم الخدام ويتكلم على ألسنتهم (أنظر أع4: 7- 12 بالمقارنة مع مر13: 11، يو16: 13، 1كو2: 4، 5، 10، 13).</p>
<p>❖ وكان يحدد أماكن كرازتهم فيرشدهم إلى حقل ويمنعهم عن آخر.. وهذا الأمر واضح في كرازة فيلبس ووزير كنداكة الخصي الحبشي &#8220;قال الروح لفيلبس تقدم ورافق هذه المركبة&#8221; (أع ۸: ٢٦-۲۹).. وفي قصة كرنيليوس &#8220;قال له (لبطرس) الروح هوذا ثلاثة رجال يطلبونك. لكن قم وانزل واذهب معهم غير مرتاب في شيء لأني أنا قد أرسلتهم&#8221; (أع١٠: ١٩، ٢٠).. وتنقلات معلمنا بولس الكرازية توضح هذا الأمر بكل وضوح.. &#8220;وبعدما إجتازوا في فريجية وكورة غلاطية منعهم الروح القدس أن يتكلموا بالكلمة في آسيا فلما أتوا إلى ميسيا حاولوا أن يذهبوا إلى بيثينية فلم يدعهم الروح..&#8221; (أع۱: ٦-۱۰).</p>
<p>❖ وكان الروح ينقلهم أحيانا من مكان إلى آخر، كما حدث مع فيلبس بعد عماد الخصى الحبشي &#8220;خطف روح الرب فیلیس فلم يبصره الخصي أيضاً.. وأما فيلبس فوجد في أشدود&#8221; (أع۸: ۳۹، ٤٠).</p>
<p>❖ و روح الله الذي كان يعمل بهم الآيات والمعجزات.. ففي قصة حنانيا وسفيرة، يقول لها بطرس: &#8220;ما بالكما اتفقتما على تجربة روح الله. هوذا أرجل الذين دفنوا رجلك على الباب وسيحملونك خارجاً. فوقعت في الحال عند رجليه وماتت&#8221; (أع٥: ٩، ١٠).. والقديس بولس مع علیم الساحر في قبرص: &#8220;إمتلأ من الروح القدس وشخص إليه وقال أيها الممتلىء كل غش.. فالآن هوذا يد الرب عليك فتكون أعمى لا تبصر الشمس إلى حين. ففی الحال سقط عليه ضباب وظلمة فجعل يدور ملتمساً من يقوده بیده&#8221; (أع۱۳: ٩- ١١).</p>
<p>❖ والروح القدس هو الذي كان يرشد الكنيسة كجماعة وأفراد.. ولذا صدر قرار مجمع أورشلیم باسمه أولاً &#8220;لأنه قد رأى الروح القدس ونحن..&#8221; (أع١٥: ٢٨).</p>
<p>❖ لذا لا نعجب أن جعلت الكنيسة الأولى، الإمتلاء من الروح القدس شرطاً أساسياً للخدمة.. هذا ما نلاحظه في موضوع إختيار السبعة شمامسة. لقد تركوا أمر إختيارهم للمؤمنين، لكن إشترطوا أن يكونوا &#8220;ممتلئين من الروح القدس وحكمة&#8221; (أع٦: ٣).</p>
<p><strong>۲</strong><strong> - الكرازة بديانة الروح والقوة</strong>:</p>
<p>لقد أثبتت المسيحية في نشاطها الكرازی أنها ديانة الروح والقوة. ولا نقصد بهذا القول المثاليات والمفاهيم الروحية التي قدمتها للعالم، والنهج الروحي الذي نهجته، بل نقصد قوة رسالتها وفعاليتها في النفوس. فعظة يوم الخمسين التي ألقاها بطرس، هي عظة قصيرة وبسيطة لكن تأثيرها كان عجيباً.. &#8220;لما سمعوا نخسوا في قلوبهم، وقالوا لبطرس ولسائر الرسل ماذا نصنع أيها الرجال الإخوة&#8221; (أع۲: ۳۷). وانضم إلى الكنيسة في ذلك اليوم ثلاثة آلاف نفس.. ما الذي حدث؟ هل هذا هو تأثير كلمات صياد الجليل ورفقائه البسطاء؟ بكل تأكيد، لا.. إنها تأثير روح الله المصاحب لهذه الكلمات.. من هنا نفهم ما حدث &#8220;نخسوا في قلوبهم&#8221;.. وما الذي يستطيع أن ينخس القلب إلا روح الله؟!..</p>
<p>والقديس بولس الفيلسوف يخاطب الكورنثيين في بلاد الفلسفة قائلاً: &#8220;وأنا لما أتيت إليكم أيها الأخوة أتيت ليس بسمو الكلام أو الحكمة منادياً لكم بشهادة الله.. وكلامي وكرازتی لم يكونوا بكلام الحكمة الإنسانية المقنع، بل ببرهان الروح والقوة. لكي لا يكون إيمانكم بحكمة الناس، بل بقوة الله&#8221; (۱کو۲: ۱- 5).. ويقصد الرسول بسمو الكلام والحكمة الفلسفة البشرية. أما برهان الروح والقوة فيشير به إلى عمل الروح القدس المصاحب للكرازة، روح الله الذي لا يمكن أن يقاوم.</p>
<p>من هنا نفهم کلمات رب المجد &#8220;متى ساقوكم ليسلموكم، فلا تعتنوا من قبل ما تتكلمون ولا تهتموا.. لأن لستم أنتم المتكلمين بل الروح القدس&#8221; (مر۱۳: ۱۱).. ونرى صدقها في محاكمة إستفانوس، حينما لم يقدر الذين تصدوا لمناقشته &#8220;أن يقاوموا الحكمة والروح الذي كان يتكلم به&#8221; (أع٦: ١٠). ومن هنا نفهم كلمات القديس بولس: &#8220;لأنه إذا كان العالم في حكمة الله لم يعرف الله بالحكمة، إستحسن الله أن يخلص المؤمنين بجهالة الكرازة&#8221; (۱کو ا: ۲۱).. وهذا يوضح أن المسيحية في إنتشارها لم تكن تعتمد على الأساليب العقلية في الإقناع، بل أن برهان صدق رسالتها كان وما يزال هو &#8220;برهان الروح والقوة&#8221;.</p>
<p>وكانت کرازة الروح مؤيدة بقوة الروح في العجائب والآيات.. &#8220;خلاص هذا مقداره قد إبتدأ الرب بالتكلم به، ثم تثبت لنا من الذين سمعوا. شاهداً الله معهم بآيات وعجائب وقوات متنوعة ومواهب الروح القدس حسب إرادته&#8221; (عب۲: ٣، ٤).. وتنوع التعبيرات هنا في كلام الرسول عن هذه العجائب، هو في حد ذاته برهان على الظواهر العديدة المرتبطة بهذا الموضوع.. ومنها شفاء المرضى وإخراج الشياطين باسم الرب يسوع، وما أكثر الاشارات عنها في سفر أعمال الرسل.. لقد كان ظل بطرس يشفى الأمراض (أع ٥: ١٥)، وكانت مناديل ومآزر بولس تشفي الأمراض وتخرج الأرواح الشريرة (أع ۱۲:۱۹).</p>
<p><strong>٣- الكرازة بإنجيل الخلاص</strong>:</p>
<p>الإنجيل كما بشر به ربنا يسوع المسيح هو ديانة فداء وخلاص. ولما قال على الصليب &#8220;قد أكمل&#8221;، كان قد أتم عمله كمخلص أو شاف.. والحق أن الرب يسوع ظهر وسط شعبه كطبيب &#8220;لا يحتاج الأصحاء إلى طبيب، بل المرضى&#8221; (مر٢: ١٧؛ لو٥: ۳۱) والأناجيل الثلاثة الأولى تصوره كطبيب للنفس والجسد، وكمخلص أو شاف للبشر. هكذا نقرأ عنه أنه كان &#8220;يطوف المدن كلها والقرى يعلم في مجامعها، و يكرز بشارة الملكوت، ويشفي كل مرض وكل ضعف في الشعب. ولما رأى الجموع تحنن عليهم، إذ كانوا منزعجين ومنطرحين كغنم لا راعي لها. حينئذ قال لتلاميذه الحصاد كثير ولكن الفعلة قليلون&#8221; (مت۹: ٣٥-۳۷).. ونلاحظ هنا، كيف أن الرب يربط بين مرض الجسد ومرض النفس.. لقد نظر إليهما كتعبيرين مختلفين لعلة البشرية الكبيرة الواحدة.. كان أيسر له أن يقول للمريض &#8220;قم وامش&#8221; لكنه قال له: &#8220;أيها الانسان مغفورة لك خطاياك&#8221; (لو٥: ۱۸- ٢٥).</p>
<p>لم ينفر من الخطاة وينفصل عنهم حسب المفهوم اليهودي الفريسي في عصره بل كان تصرفه هذا مثيراً لدهشة اليهود بقدر ما كان إتهاماً موجهاً إليه &#8220;يأكل ويشرب مع عشارين وخطاة&#8221;.. كان المحيطين به، أناساً شفاهم من مرض الروح والجسد.. هذا كان في أيام جسده. ولما إرتفع على الصليب أظهر قوته المخلصة في أروع صورها، وادخرها لمن لم يبصره في الجسد &#8220;الذي حمل هو نفسه خطايانا في جسده على الخشبة، لکی نموت عن الخطايا فنحيا للبر. الذي بجراحه شفيتم&#8221; (١بط٢: ٢٤).. كان هذا هو الحق الجديد الذي إنبثق من الصليب، و ينبوع التطهير الذي تفجر منه. إنتشر الرسل والتلاميذ حاملين بشرى الإله المخلص والطبيب الشافي، الذي كانت حياته وأعماله وموته هي خلاص البشر.. لقد كانت كل هذه المعاني مرتسمة أمام القديس بولس حينما قال للغلاطيين: &#8220;الذي أحبني وأسلم نفسه لأجلي&#8221; (غل۲: ۲۰)، وحينما كتب التيطس يقول: &#8220;لأنه قد ظهرت نعمة الله المخلصة لجميع الناس.. الذي بذل نفسه لأجلنا لكي يفدينا من كل إثم ويطهر لنفسه شعباً خاصاً غيوراً في أعمال حسنة&#8221; (تي۲: ۱۱- ١٤).</p>
<p>هذا هو الحق الذي أعلنه رسل ربنا يسوع المسيح منذ البداية.. هكذا قال معلمنا بطرس أمام مجمع السنهدرين اليهودي: &#8220;ليس بأحد غيره الخلاص. لأن ليس اسم آخر تحت السماء، قد أعطى بين الناس به ينبغي أن نخلص&#8221; (أع٤:١٢).. لذا يتساءل القديس بولس الرسول في دهشة: &#8220;فكيف ننجو نحن إن أهملنا خلاصاً هذا مقداره، قد إبتدأ الرب بالتكلم به، ثم تثبت لنا من الذين سمعوا&#8221; (عب٢: ٣).</p>
<p>لاقت هذه الدعوة إلى الخلاص، قبولاً كبيراً وعميقاً في العالم القديم، وبخاصة بين الطبقات الدنيا المرذولة والمحتقرة.. هذه الطبقات التي ما كان يحسب لها أدنی حساب — ليس سياسياً أو إجتماعياً فحسب، بل وحتی دينياً. كان الدين - بالنسبة للعالم الذي حمل إليه الرسل بشراهم الجديدة - للأصحاء وليس للمرضى، للأطهار وليس للخطاة.. كانت هذه هي فكرة الوثنيين واليهود على السواء. كان المرضى والخطاة يتركون فريسة لقوات الظلمة، لأن الآلهة لا تسر بهم. وكان هذا الفهم موجوداً عند الفيلسوف الوثني عدو المسيحية اللدود في القرن الثاني.</p>
<p>كانت الخليقة كلها تئن، متطلعة إلى مخلص.. اليهود يعلنون بلسان مریض بيت حسدا: &#8220;ليس لي إنسان&#8221; (يو٥: ۷)، والأمم يعلنون بلسان ذلك الرجل المكدوني الذي تراءى لبولس في رؤيا: &#8220;أعبر إلى مكدونية وأعنا&#8221; (أع١٦: ٩).. وهكذا عاونت هذه المشاعر، الكارزين بالمسيحية..</p>
<p><strong>٤- الكرازة بإنجيل الحب</strong>:</p>
<p>جاءت خدمة الكارزين الأوائل وسط عالم سادته الشرور، واكتنفته الظلمة وطغت عليه الأنانية، وقطعت أوصاله الحروب والاعتداءات والمظالم.. نادت المسيحية بالمحبة للجميع حتى الأعداء، واتخذتها شعاراً لها، ونادت بالحب والإخاء بين جميع البشر. وعلمت أن المحبة هي: &#8220;الوصية الأولى والعظمی&#8221; (مت۲۲: ۳۸)، وأنها &#8220;غاية الوصية&#8221; (۱تي١: ٥)، وهي علامة التلمذة الحقة للرب &#8220;بهذا يعرف الجميع أنكم تلاميذي، إن كان لكم حب بعضا لبعض&#8221; (يو۱۳: ٣٥).. بل إنها سمت بالمحبة ورفعت من قدرها حينما قالت: &#8220;الله محبة&#8221; (١يو ٤: ٨). وعلمت المسيحية أن كل فضيلة تخلو من المحبة هي مرفوضة حتى لو اقتنى صاحبها إيماناً ينقل الجبال وتكلم بألسنة الملائكة (۱کو۱۳).. وكان تعليم المسيحية بمحبة الأعداء نغمة جديدة على مسامع العالم القديم، لم يرق إليه مفكر أو فيلسوف.. كانت المسيحية تهدف إلى تحويل المتنافرين إلى إخوة محبين &#8220;إن جاع عدوك فاطعمه، وإن عطش فاسقه. لأنك إن فعلت هذا تجمع جمر نار على رأسه. لا يغلبنك الشر، بل إغلب الشر بالخير&#8221; (رو۱۲: ۲۰، ۲۱).</p>
<p>جاء لحن المحبة وأنغامها العذبة شجياً في مسامع العالم القديم المسكين، الذي ساده الطغيان، وترك الفقراء نهباً للأغنياء، والضعفاء غنيمة للأقوياء.. ولم تكن المحبة لحناً عذباً في أفواه الكارزين الأوائل فحسب، بل شوهدت حية في حياتهم، ناطقة بأفعالهم..</p>
<p><strong>٥- تعضيد الكرازة بوسائط النعمة</strong>:</p>
<p>ينبغي- ونحن نعالج موضوع عوامل نجاح الكرازة في كنيسة الرسل - ألا نغفل سراً هاماً كان وراء تيار الكرازة الدافق، يدفعه ويقويه.. ونعني به &#8220;الصلاة والصوم&#8221; فمنذ البداية نقرأ عن الكنيسة الأولى أن أعضاءها كانوا &#8220;يواظبون بنفس واحدة على الصلاة والطلبة&#8221; (أع١: ١٤).. بل كانت هذه الصلوات - في قوتها وإقتدارها - تزعزع المكان (أع٤: ۳۱).. وأقام الآباء الرسل السبعة شمامسة لخدمة الموائد، حتى يتفرغوا هم للمواظبة على الصلاة وخدمة الكلمة (أع٦: ٤).</p>
<p>وقد إستعانت الكنيسة الأولى في حل مشاكلها بالصلاة، وهذا واضح كل الوضوح في سفر أعمال الرسل. وكانت هذه الصلوات غالباً ما تقترن بالأصوام.. أما النتيجة فكانت &#8220;كلمة الله تنمو وعدد التلاميذ يتكاثر جداً في أورشليم، وجمهور كثير من الكهنة يطيعون الإيمان&#8221; (أع٦: ۷).. وكانت الكنائس &#8220;تتشدد في الإيمان وتزداد في العدد كل يوم&#8221; (أع١٦: ٥).. وكانت كلمة الرب &#8220;تنمو وتقوى بشدة&#8221; (أع۲۰:۱۹).</p>
<h4>[3] المتنيح الأنبا صموئيل أسقف الخدمات العامة والإجتماعية</h4>
<p><strong>مفهوم الخدمة</strong><a href="#_ftn11" name="_ftnref11">[11]</a></p>
<p><strong>الخدمة مدرسة مستمرة </strong></p>
<p>أشكركم من أجل هذه الفرصة التي تعيد الي ذكريات جميلة عن الخدمة، وعن اختباراتنا فيها في أيام التلمذة في مدارس الأحد بكنيسة مارمرقس بالجيزة، فقد كانت مدرسة مستمرة للخدام توالي حثهم علي استمرار الدراسة والتعليم، فحب الخدمة كان الحافز الذي يدفعنا الي الاستزادة من الدراسة، ولذلك كانت فصول الخدام موزعة الي أقسام للتخصص في المواد اللازمة للخدمة، فقسم للوعظ، وآخر للتربية، وثالث للافتقاد والعمل الفردي، ورابع للألحان الكنسية، وخامس لتاريخ الكنيسة وهكذا..</p>
<p>وكان كل قسم يطلب من الخدام أن يعدوا بحوثا في موضوعات مختلفة تجمع في آخر العام في كتاب يقدمه خدام كل قسم كمساهمة منهم في تعميق وتطوير الخدمة.</p>
<p><strong>الخدمة</strong> <strong>حافز</strong> <strong>لنعد</strong> <strong>أنفسنا</strong></p>
<p>ان مفهومنا منذ البداية هو أن الخدمة هي الحافز الأول لنا لنعد أنفسنا، لذلك أؤكد لكم في كل مناسبة أن أول مستفيد من الخدمة هو الخادم في تكوين شخصيته، في تكوين شخصيته الاجتماعية، وتكوين شخصيته الروحية، وتكوين شخصيته العلمية، وهذا الانطباع لا يقتصر أبداً على رسالته الدينية لكنه يظهر في خدمته المدنية أيضاً.</p>
<p>فالدراسة المستمرة تكون لدى الانسان عادة كيف يدرس ويتعب ثم يطبق هذه العادة فتصبح جزءاً من شخصيته ويطبقها في حياته وفي علاقاته، تلك ناحية من النواحي الهامة جداً التي نحن مدينون بها للخدمة ولفصول الخدام، فلن أنسى نفسي بمجرد شعوري بأني أقوم بتدريس الآخرين في الواقع أنا أبدأ باعداد نفسي من أجلهم واستمر في هذا الأعداد طالما أستمر في خدمتهم.</p>
<p><strong>مبدءان</strong> <strong>أساسيان</strong>:</p>
<p>وقبل البدء في موضوع العمل الفردي يلزم أن نراجع سوياً مبدأين أساسيين فنحن بالأولي محتاجون الي تأكيد المباديء، أمًا التطبيق فهو مجال دراستكم التفصيلية.</p>
<p>❈ <strong>المبدأ</strong> <strong>الأول</strong>:</p>
<p>الخدمة تعبير طبيعي عن حياة الشركة مع المسيح، الخدمة ليست واجب أو الزام لكنها نتيجة طبيعية لحياة شخص دخل في شركة مع المسيح، إنه لا يستطيع ألا يخدم فمن وصل الى مرحلة الشركة مع الله ومع المسيح يجد أن التعبير الطبيعي لهذه الشركة هو أن يخدم، وهذا الواقع هو ما ورد في الجزء الأول من الأصحاح الأول من الرسالة الأولي لمعلمنا يوحنا &#8220;الذي كان من البدء الذي سمعناه الذي رأيناه بعيوننا الذي شاهدناه ولمسته أيدينا من جهة كلمة الحياة فان الحياة أظهرت وقد رأينا ونشهد ونخبركم بالحياة الأبدية التي كانت عند الآب وأظهرت لنا. الذي رأيناه وسمعناه نخبركم به لكي يكون لكم أيضاً شركة معنا، وأما شركتنا نحن فهي مع الآب ومع ابنه يسوع المسيح، ونكتب اليكم هذا لكي يكون فرحكم كاملاً&#8221; فالتعبير البسيط لانسان دخل في شركة مملوءة من الفرح أنه يريد للآخرين أن يفرحوا أيضاً، فيدعوهم الى نفس الشركة، إنه لا يستطيع السكوت، إنه لا يستطيع أن يخفي هذه الشركة لأن نورها مثل المصباح الذي لو وضع تحت المكيال لابد أن ينطفيء، لذلك لا مفر من أن يشع وينير.</p>
<p>❈ <strong>المبدأ</strong> <strong>الثاني</strong>:</p>
<p>الخدمة تعبير طبيعي لعمل وظيفي وهو وظيفة أعضاء الجسد الواحد، لو عرفنا أننا اذ ندخل في شركة مع المسيح نصبح أعضاء في جسده وبما أننا أصبحنا أعضاء في جسد المسيح ندخل في شركة هذا الجسد الواحد، وبشركتنا في هذا الجسد الواحد تطبق علينا قوانين الجسد.</p>
<p>والقوانين التي تحكم الجسد الواحد هي ارتباطه بجهاز دوري واحد تسري فيه الدورة الدموية، وتتم فيه المشاركة، شركة الاحساس بمشاعر الآخرين، وشركة مشاركة الآخرين في كل ما أخذ، وهذا هو ما ورد في (١كو١٢: ١٢) حيث يتكلم معلمنا بولس الرسول عن معنى الكنيسة كجسد المسيح، إذاً الخدمة هي التعبير الطبيعي لشركتنا مع المسيح. وشركتنا مع المسيح تؤدي بنا الى أن نكون أعضاء الجسد الواحد وعضويتنا في الجسد الواحد تؤدي بنا الى معنى الإرتباط ومعنى المشاركة وتلك هي الخدمة. فاذاً لا يوجد انسان مسيحي بمعنى مسيحي لا يكون خادماً.</p>
<p>والخدمة ليست فقط بمعناها الضيق الذي هو خدمة الكلمة أو خدمة الوعظ ولكن الخدمة بمعناها الواسع هي أن كل انسان في مجاله يستطيع أن يخدم لو فهم رسالته ولو دخل كعضو ضعيف في شركة حقيقية مع المسيح وشعر إنه هو عضو في الجسد الواحد. إن كلمات معلمنا بولس الرسول تحتاج منا ليس إلى مجرد قراءتها ولكن حفظها والتأمل فيها باستمرار وهي: &#8220;لأنه كما أن الجسد هو واحد وله أعضاء كثيرة وكل أعضاء الجسد الواحد اذا كانت كثيرة هي جسد واحد كذلك المسيح أيضاً، لأننا جميعا بروح واحد أيضاً اعتمدنا الى جسد واحد يهوداً كنا أم يونانيين، عبيداً أم أحرار وجميعنا سقينا روحاً واحداً، فإن الجسد أيضاً ليس عضواً واحداً بل أعضاء كثيرة، إن قالت الرجل لأني لست يداً لست من الجسد، أفلم تكن لذلك من الجسد. وإن قالت الأذن لأني لست عيناً لست من الجسد أفلم تكن لذلك من الجسد، لو كان كل الجسد عيناً فأين السمع، ولو كان الكل سمعاً فأين الشم، وأما الآن فقد وضع الله الأعضاء كل واحد منها في الجسد كما أراد، ولكن لو كان جميعا عضواً واحداً فأين الجسد، فالآن أعضاء كثيرة ولكن جسد واحد لا تقدر العين أن تقول لليد لا حاجة لي اليك، أو الرأس أيضاً للرجلين لا حاجة لي اليكما، بل بالأولى أعضاء الجسد التي تظهر أضعف هي ضرورية وأعضاء الجسد التي نحسب أنها بلا كرامة نعطيها كرامة أفضل، والأعضاء القبيحة فينا لها جمال أفضل، وأما الجميلة فينا فليس لها احتياج، لكن الله مزج الجسد معطياً الناقص كرامة أفضل، لكي لا يكون انشقاق في الجسد بل تهتم الأعضاء اهتماماً واحداً بعضها لبعض فان كان عضو واحد يتألم فجميع الأعضاء تتألم معه، وإن كان عضو واحد يكرم فجميع الأعضاء تفرح معه، وأما أنتم فجسد المسيح وأعضاؤه أفراداً&#8221; (١كو١٢: ١٢- ٢٧).</p>
<p><strong>حياة</strong> <strong>الكنيسة</strong>:</p>
<p>لقد عرفنا أن الشركة مع المسيح والعضوية في جسد المسيح توصلنا الى حياة الخدمة، وبمراجعة كتب اللاهوت ومفهوم الآباء في الكنيسة الأولى نجد أن حياة الكنيسة مبنية على ثلاث قواعد يمكن تلخيصها في الثلاث كلمات اليونانية التالية:</p>
<p>ليتورجيا - كونونية - دياكونية</p>
<p><strong>فالليتورجيا</strong> بالمعني المقصود في سفر الأعمال هي خدمة العبادة - ومن المعتاد أن نتكلم عن خدمة القُدَّاس يوم الأحد. فالقداس نفسه عبارة عن تعبير خدمة وليس مجرد خدمة طقسية، إنها خدمة الشركة في المسيح، خدمة الاتحاد بالمسيح.</p>
<p>والليتورجيا غير قاصرة علي القداس، إنها تعني كل العبادات، كل الصلوات، إنها خدمة الدخول في شركة مع المسيح وهذه هي الناحية الأولى إذ بدخولنا في شركة مع المسيح خصوصاً في القداس نتقدم إلى التناول من جسد المسيح ودمه الأقدسين فنقر ونؤكد أننا أصبحنا أعضاء في جسد المسيح الذي هو الكنيسة، وهذه العضوية في الكنيسة توصلنا إلي القاعدة الثانية التي هي الكونونية.</p>
<p><strong>الكونونية</strong> تعني حياة الشركة، ففي كتابات الآباء كلمة كونونية تعني مجمع أو شركة أو جماعات تشترك مع بعضها أي تحيا حياة الشركة، إن ارتباطنا بالمسيح يوصلنا الي هذه القاعدة الثانية وهي أننا أصبحنا جماعة واحدة في المسيح، أي جماعة المؤمنين أي الكنيسة، فالذين اتحدوا بالمسيح واصبحوا كنيسته لابد أن يخدموا بعضهم بعضاً ويرتبطوا ببعضهم البعض ولكن هؤلاء لا يقدرون أن يقصروا خدمتهم على بعضهم البعض اذ لابد أن تنطلق تلك الخدمة من بعضهم لبعض إلى خدمة الآخرين أيضاً وتلك هي الدياكونية.</p>
<p><strong>الدياكونية</strong>.. وكما تعلمون أن كلمة دياكون تعني شماس أي خادم، وبذلك تصبح الخدمة في معانيها الثلاثة هي:</p>
<p>١- خدمة العبادة والأرتباط الدائم بالله، وهذه تؤدي الي:</p>
<p>٢- خدمة الجماعة الواحدة المرتبطة وخدمة الشركة، وهذه تؤدي الي:</p>
<p>٣- الخدمة بمفهومها العملي في البحث عن تأدية احتياجات الآخرين سواء أكانت روحية أو مادية في جميع أشكالها.</p>
<p>إن اتحادنا بالمسيح يجعلنا نتحد ببعض ويجعلنا نخدم بعضنا البعض ونخدم الآخرين، والدياكونية ليس معناها أن أخدم المسيحيين فقط بل المفروض أن أخدم المجتمع كله. وهذه هي رسالة المسيحي للمجتمع كله، نحو عالم الله ونحو أولاده.</p>
<h4>[4] القديس الأرشيدياكون حبيب جرجس</h4>
<p><strong>تعيين</strong> <strong>السبعين</strong> <strong>تلميذاً</strong> (لو١٠: ۱– ۱۲)<a href="#_ftn12" name="_ftnref12">[12]</a></p>
<p>&#8220;إ<strong>ن</strong> <strong>الحصاد</strong> <strong>كثير</strong> <strong>ولكن</strong> <strong>الفعلة</strong> <strong>قليلون</strong> <strong>فاطلبوا من</strong> <strong>رب</strong> <strong>الحصاد</strong> <strong>أن</strong> <strong>يرسل</strong> <strong>فعلة</strong> <strong>الى</strong> <strong>حصاده</strong> &#8221; (<strong>لو</strong><strong>۱۰</strong>: <strong>۲</strong>)</p>
<p>(أولا ً) عين المسيح سبعين تلميذاً كعدد الشيوخ الذين اختارهم موسى لسياسة بني اسرائيل (خر٢٤: ١) وهؤلاء غير الاثنى عشر الذين ارسلهم خاصة الى بني اسرائيل. واما السبعين فأرسلهم لليهود وللوثنيين اشارة الى ان بركات الانجيل عامة للجميع ومعدة لكل من يقبلها من أمم الأرض.</p>
<p>(ثانياً) الحصاد اشارة الى الشعب المستعد لقبول الايمان وهو يتناول العالم كله. والفعلة هم الذين يخدمون الكلمة ويجمعون حصاد الله بنشر التعليم بين الجهلاء.</p>
<p>(ثالثاً) إن السيد له المجد لم يعد تلاميذه وعوداً دنيوية وما رغبهم في عملهم بأنهم سيصادفون راحة. بل انذرهم بتوقع المصائب والأتعاب والإضطهادات فكل من أراد اتباع المسيح لخدمته عليه أن يعيش كحمل في وسط ذئاب.</p>
<p>(رابعاً) كما أن إكرام سفير الملك إكرام لمرسله وإهانته إهانة للملك. هكذا يجب أن نكرم دائماً كل خدام الله ونسمع منهم لأنهم سفراء المسيح ووكلائه.</p>
<h3><strong>من وحي قراءات اليوم</strong></h3>
<p>&#8220;يسلم عليكم أبفراس الذي هو منكم عبد للمسيح يسوع هذا الذي يجاهد كل حين لأجلكم بصلواته لكي تثبتوا كاملين وممتلئين من مشيئة الله&#8221; (البولس).</p>
<p><strong>جهاد الصلاة</strong></p>
<p>❈ هدف الصلاة ليس أن نُرضي الله بل أن ندركه.</p>
<p>❈ حياة الصلاة تثمر في دوام الإحساس بالحضور الإلهي.</p>
<p>❈ جهاد الصلاة أن تلتحم مشيئتنا بمشيئته وتصير أعمالنا تبعاً لأقواله.</p>
<p>❈ عثرة الإخفاق في الصلاة عندما لا نأخذ موقف واضحاً من صلب الجسد.</p>
<p>❈ غاية صلواتنا الإمتلاء من الروح القدس.</p>
<p>❈ وملح صلواتنا محبة الله من كل القلب.</p>
<p>❈ عدم الغفران من القلب للآخرين إحدى أصعب ما يعوق عمل الروح القدس في الصلاة.</p>
<p>❈ يوجد خدام للصلاة مثل أبفراس الذي كان مهموماً بثبات المخدومين في مشيئة الله ومُجاهداً في الصلوات لأجلهم.</p>
<p>❈ قضى الليل كله في الصلاة لله.. آية تبكيت لكسلنا وتراخينا في الصلاة.</p>
<p>❈ &#8220;رفعوا بنفس واحدة صوتاً إلى الله&#8221; (أع ٤: ٢٤) آية تشرح لماذا تزعزع المكان وإمتلأ الجميع من الروح القدس.</p>
<hr />
<p><a href="#_ftnref1" name="_ftn1">[1]</a>  تفسير مزمور ٩١ - القمص تادرس يعقوب ملطي.</p>
<p><a href="#_ftnref2" name="_ftn2">[2]</a>  تفسير رسالة بطرس الأولي ص ٣ للقمص تادرس يعقوب ملطي</p>
<p><a href="#_ftnref3" name="_ftn3">[3]</a>  تفسير إنجيل متي - الإصحاح السابع - القمص تادرس يعقوب ملطي.</p>
<p><a href="#_ftnref4" name="_ftn4">[4]</a>  تفسير إنجيل مرقس - الإصحاح الرابع - القمص تادرس يعقوب ملطي.</p>
<p><a href="#_ftnref5" name="_ftn5">[5]</a>  تفسير سفر يوئيل - إصحاح ٢، تفسير إنجيل لوقا - إصحاح ٣ - القمص تادرس يعقوب ملطي</p>
<p><a href="#_ftnref6" name="_ftn6">[6]</a>  كتاب تفسير الرسالة إلى أهل رومية للقديس يوحنا ذهبي الفم - صفحة ٣٨٥ - ترجمة دكتور سعيد حكيم يعقوب.</p>
<p><a href="#_ftnref7" name="_ftn7">[7]</a>  كتاب من كتابات القديس يوحنا ذهبي الفم - صفحة ١٧٨ - ترجمة القمص تادرس يعقوب ملطي.</p>
<p><a href="#_ftnref8" name="_ftn8">[8]</a>  كتاب مقالات القديس كبريانوس أسقف قرطاجنة الشهيد ( صفحة ٥٦  - ترجمة وإعداد القمص مرقوريوس الأنبا بيشوي</p>
<p><a href="#_ftnref9" name="_ftn9">[9]</a>  كتاب الكنيسة المسيحية في عصر الرسل - صفحة ٤٥٤ - الأنبا يؤانس أسقف الغربية.</p>
<p><a href="#_ftnref10" name="_ftn10">[10]</a>  كتاب الكنيسة المسيحية في عصر الرسل - صفحة ١٤٣ - أنبا يؤانس أسقف الغربية.</p>
<p><a href="#_ftnref11" name="_ftn11">[11]</a>  كتاب الخدمة والعمل الفردي - صفحة ٣ - الأنبا صموئيل أسقف الخدمات العامة والإجتماعية</p>
<p><a href="#_ftnref12" name="_ftn12">[12]</a>  كتاب الكنز الأنفس للأرشيدياكون حبيب جرجس - الجزء الثالث - صفحة ١٠٧.</p>

      {% endcreateArticleAccordions %}
    </section>
  {% endblock %}
  