---
layout: 'layouts/reading.html'
title: 'اليوم الثلاثون من شهر بابة'
tags: 'annual'
permalink: /articles/annual/2-30.html
---
  {% block content %}
    <section id="readings">
      <ul>
      {% if 'undefined' != 'undefined' %}
      
      {% else %}
      {% if '19.40:9,2' != 'null' %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">العشية</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeVespers '19.40:9,2' '41.6:6-13' %}
          </div>
        </div>
      </li>
      {% endif %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">باكر</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeMatins '19.105:1-3' '41.10:17-30' '' %}
          </div>
        </div>
      </li>
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <h3 class="flex items-center justify-between">
            <span class="kufi">القداس</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </h3>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeLitugy '55.3:10-17*@+55.4:1-18' '60.5:1-14' '44.15:36-41*@+44.16:1-5' '19.96:1-2' '41.1:1-11' %}
          </div>
        </div>
      </li>

      {% endif %}
        </ul>
    </section>
    <section id="article">
      <h3 class="mt-8 mb-4 heading-explain">شرح القراءات</h3>
      {% createArticleAccordions %}
        <p>قراءة هذا اليوم (تكريس كنيسة مار مرقس بالإسكندرية ووجود رأسه المقدس) مُحوَّلة على قراءات يوم ثلاثين برمودة (شهادة القديس مرقس الإنجيلي كاروز الديار المصرية) بحسب القطمارس الحالي.</p>
<p>ولكن تأتي قراءة هذا اليوم مُحوَّلة على قراءة عشرين بشنس بحسب ما ورد في كتاب كنوز النعمة الجزء الأوَّل ص ٢٨٥ وهي القراءة التي تتفق فقط في الكاثوليكون مع قراءة ثلاثين برمودة.</p>
<p>كما أنها تأتي أيضاً مُحوَّلة علي يوم عشرين بشنس في مخطوطة دير البراموس وإن كانت تختلف عن قراءة عشرين بشنس بالقطمارس الحالي في المزامير وجزء من البولس والكاثوليكون.</p>
<p>وواضح أن قراءة القطمارس الحالي تربط بين التذكارين لإرتباطهما بمار مرقس الرسول ولكن يأخذ كتاب كنوز النعمة ومخطوطة دير البراموس التذكار الثاني لنفس اليوم (٣٠ بابه) وهو نياحة القديس ابراهيم المتوحد لذلك تأتي قراءاته مع نياحة القديس أمونيوس المتوحد الأنطاكي (٢٠ بشنس).</p>
<p>كما يذكر الدفنار أولاً نياحة أنبا أبرآم المتوحد من أهل منوف، وتكريس بيعة مار مرقس الرسول.</p>

      {% endcreateArticleAccordions %}
    </section>
  {% endblock %}
