---
layout: 'layouts/reading.html'
title: 'الثاني عشر من هاتور'
tags: 'annual'
permalink: /articles/annual/3-12.html
---
  {% block content %}
    <section id="readings">
      <ul>
      {% if 'undefined' != 'undefined' %}
      
      {% else %}
      {% if '19.149:1-2' != 'null' %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">العشية</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeVespers '19.149:1-2' '40.13:44-52' %}
          </div>
        </div>
      </li>
      {% endif %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">باكر</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeMatins '19.104:4,3' '42.15:3-10' '' %}
          </div>
        </div>
      </li>
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <h3 class="flex items-center justify-between">
            <span class="kufi">القداس</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </h3>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeLitugy '58.1:1-14*@+58.2:1-4' '65.1:1-13' '44.10:1-20' '19.103:20-21' '40.13:24-43' %}
          </div>
        </div>
      </li>

      {% endif %}
        </ul>
    </section>
    <section id="article">
      <h3 class="mt-8 mb-4 heading-explain">شرح القراءات</h3>
      {% createArticleAccordions %}
        <p>&#8221; هأنذا أرسل ملاكي فيهيئ الطريق أمامي &#8221; (ملا ٣ : ١)</p>
<p>( السلام للكنيسة بيت الملائكة ) ذكصولوجية باكر</p>
<p>&#8221; خلال فترة عدم الإيمان يكون الإنسان تحت سيطرة ملائكة الشياطين، أما بعد التجديد (في الجرن) فيعيّن لنا ذاك الذي يخلصنا بدمه ملاكًا مقدسًا ينظر وجه الله بطهارته ، كما يقول: لكل نفس بشرية ملاك يقودها كأخ <a href="#_ftn1" name="_ftnref1">[1]</a> &#8221;</p>
<h3>شواهد القراءات</h3>
<p>(مز ١٤٨ : ١ ، ٢) ،(مت ١٣ : ٤٤ – ٥٢) ،(مز ١٠٣ : ٣ ، ٤) ،(لو ١٥ :٣ – ١٠) ،(عب ١ : ١ - ٢ :٤) ،(يه ١ : ١ – ١٣) ،(أع ١٠ : ١ – ٢٠) ،(مز١٠٢ : ١٧) ،(مت ١٣ : ٢٤ – ٤٣)</p>
<h3>ملاحظات علي قراءات يوم ١٢ هاتور</h3>
<p>+ قراءة البولس اليوم (عب ١: ١ - ٢ : ١ - ٤) جاءت أيضاً في يوم ٢٩ كيهك</p>
<p>وهي القراءة الخاصة بالملائكة وخدمة الخلاص لذلك جاءت في تذكار رئيس الملائكة ميخائيل ( ١٢ هاتور ) وفِي عيد الميلاد المجيد ( ٢٩ كيهك )</p>
<h4>القراءة المُحوَّلة على قراءة هذا اليوم</h4>
<p>ثاني عشر بؤونه            عيد رئيس الملائكة الجليل ميخائيل</p>
<h3>شرح القراءات</h3>
<p>اليوم هو تذكار رئيس الملائكة ميخائيل ولأنه رئيس السمائيين لذا جعلت الكنيسة هذا اليوم ( ١٢ من كل شهر ) هو تذكار دائم للملائكة وتدور قراءات هذا اليوم علي التعريف بالملائكة وخدمتهم</p>
<p>وتوجد ثلاث قراءات مختلفة للملائكة بصفة عامة</p>
<p>١٢ هاتور   تذكار رئيس الملائكة ميخائيل والكلام علي خدمة الملائكة بصفة عامة والتعريف بهم</p>
<p>٢٢ كيهك    تذكار رئيس الملائكة غبريال والتركيز علي بشارة الخلاص ومجئ الرب الأوّل وملاك البشارة</p>
<p>٣ نسئ      تذكار رئيس الملائكة روفائيل والحديث عن مجئ الرب الثاني ودور الملائكة</p>
<p>لذلك نري في قراءات اليوم الملائكة خدّام التدبير الإلهي علي الأرض فيما يخص خلاص البشر ورجوعهم وتوبتهم وأيضاً في السماء في التسبيح الدائم وفِي نهاية العالم في الدينونة</p>
<p>لذلك تبدأ المزامير بالتعريف بطبيعة الملائكة فهم قوّاته ( مزمور عشية ) وناراً تلتهب ( مزمور باكر ) والعاملين إرادته ( مزمور القداس )</p>
<p>مزمور عشية يشير إلي تسبيح الملائكة الدائم وهي ترنيمة الكنيسة في التسبحة المقدسة في الهوس الرابع</p>
<p>( سبحوا الرب من السموات سبحوه في الأعالي سبحوه يا جميع ملائكته سبحوه يا جميع قواته )</p>
<p>ومزمور باكر يُشير إلي طبيعة الخدمة الناريّة للملائكة والذين يكونون سحابة سماوية تُظلّل علي البشر (مت ٥:١٧)</p>
<p>( الذي صنع ملائكته أرواحاً وخدّامه ناراً تلتهب الذي جعل مسالكه علي السحاب الماشي علي أجنحة الرياح )</p>
<p>بينما يقدّم لنا مزمور القداس الملائكة مُقْتَدرِين بقوّتهم صانعين قوله وعاملين بإرادته</p>
<p>( باركوا الرب يا جميع ملائكته المقتدرين بقوتهم الصانعين قوله باركوه يا جميع قواته خدّامه العاملين إرادته )</p>
<p>أمّا القراءات فتُشير إلي طبيعتهم ( البولس ) ودينونتهم ( الكاثوليكون ) وخدمتهم ( الإبركسيس )</p>
<p>يأتي البولس من العبرانيين ليوضّح طبيعة الملائكة كأرواح خادمة</p>
<p>( وعن الملائكة يقول الصانع ملائكته أرواحاً وخدّامه لهيب نار &#8230; أليس جميعهم أرواحاً خادمة مرسلة للخدمة لأجل العتيدين أن يرثوا الخلاص &#8230; لأنه إن كانت الكلمة التي تكلّم بها ملائكة قد صارت ثابتة وكل تعد ومعصية نال مجازاة بحكم لائق فكيف نخلص نحن إن أهملنا خلاصاً عظيماً )</p>
<p>ويتكلّم الكاثوليكون عن دينونة الملائكة الساقطين</p>
<p>( والملائكة الذين لم يحفظوا رئاستهم بل تَرَكُوا مسكنهم حفظهم إلي دينونة اليوم العظيم بأغلال أزلية تحت الظلمة )</p>
<p>ويكشف أيضاً عن مقاومة رئيس الملائكة ميخائيل لإبليس الساقط من رتبته لأجل حماية الشعب من عبادة البشر</p>
<p>( وأما ميخائيل رئيس الملائكة فلما قاوم إبليس وتكلم عن جسد موسي لم يجسر أن يورد حكم افتراء عليه بل قال ليزجرك الرب )</p>
<p>أما الإبركسيس فتظهر فيه خدمة الملائكة لخدمة البشر وخلاصهم</p>
<p>( فرأي ظاهراً في رؤيا نحو الساعة التاسعة من النهار ملاك الله قد دخل إليه وقال له يا كرنيليوس أما هو فلما شخص إليه وصار في خوف قال ماذا يا سيد فقال له صلواتك وصدقاتك صعدت تذكاراً أمام الله والآن أرسل إلي يافا رجالاً واستدعي سمعان الملقّب بطرس أنه نازل عند واحد يُدعي سمعان الدباغ الذي بيته عند البحر هذا إذا جاء يُكلّمك كلاماً تخلص به أنت وكل بيتك )</p>
<p>وتكشف الأناجيل عن ردّ فعل الملائكة تجاه توبة البشر ( إنجيل باكر ) ووقت دينونتهم ( إنجيل عشية والقدّاس )</p>
<p>فهم يفرحون بخاطئ واحد يتوب &#8221; إنجيل باكر &#8221;</p>
<p>( هكذا أقول لكم انه يكون فرح قدّام ملائكة الله بخاطئ واحد يتوب )</p>
<p>وهم يفرزون الأشرار من بين الأبرار &#8221; إنجيل عشية &#8221;</p>
<p>( فجمعوا الجياد في الأوعية وأما الردي فرموه خارجاً وهكذا سيكون في نهاية هذا الدهر تخرج الملائكة ويفرزون الأشرار من بين الأخيار ويقذفونهم في أتون النار )</p>
<p>وهم الحصادون وقت الدينونة في نهاية العالم &#8221; إنجيل القداس &#8221;</p>
<p>( أما هو فأجاب وقال لهم الزارع الزرع الجيد هو إبن البشر والحقل هو العالم والزرع الجيد هو بنو الملكوت والزوان هم بنو الشرير والعدو الذي زرعه هو إبليس والحصاد هو إنقضاء هذا الدهر والحصادون هم الملائكة فكما يُجمع الزوان أولاً ويُحرق بالنار هكذا يكون في إنقضاء هذا العالم يُرسل إبن البشر ملائكته فيجمعون من ملكوته جميع المعاثر وفاعلي الإثم ويطرحونهم في أتون النار حيث هناك يكون البكاء وصرير الأسنان حينئذ يضئ الأبرار كالشمس في ملكوت أبيهم )</p>
<h3>ملخّص القراءات</h3>
<p>الملائكة هم قوات سمائية ونهاراً تلتهب ومُقتدرين بقوتهم           مزمور عشيّة وباكر والقدّاس</p>
<p>ويمكن أن تكون أرواحاً خادمة للخلاص أو أرواحاً تحت الدينونة لسقوطهم البولس والكاثوليكون والإبركسيس</p>
<p>والملائكة الأطهار هم الفرحين بتوبة البشر والذين يفرزونهم عن الأشرار وهم الحصادون في نهاية العالم                                   إنجيل عشيّة وباكر والقدّاس</p>
<h3>أفكار مُقترحة للعظات</h3>
<h4>(١) طبيعة الملائكة</h4>
<p>١- قوات سمائية</p>
<p>&#8221; سبحوه يا جميع ملائكته سبحوه يا جميع قواته &#8221;                         مزمور عشيَّة</p>
<p>٢- ناراً تلتهب</p>
<p>&#8221; الذي صنع ملائكته أرواحاً وخدّامه ناراً تلتهب &#8221;                   مزمور باكر - البولس</p>
<p>٣- مُقتدرين</p>
<p>&#8221; باركو الرب يا جميع ملائكته المقتدرين بقوتهم &#8221;                         مزمور القدَّاس</p>
<p>٤- عاملين إرادته</p>
<p>&#8221; باركوه يا جميع قواته خدّامه العاملين إرادته &#8221;                            مزمور القدَّاس</p>
<h4>(٢) خدمة الملائكة</h4>
<p>١- خدَّام الدينونة</p>
<p>&#8221; وهكذا سيكون في نهاية هذا الدهر تخرج الملائكة ويفرزون الأشرار من بين الأخيار ويقذفونهم في أتون النار &#8221;</p>
<p>إنجيل عشيَّة والقدّاس</p>
<p>٢- خدَّام التوبة</p>
<p>&#8221; هكذا أقول لكم انه يكون فرح قدام ملائكة الله بخاطئ واحد يتوب &#8221;                 إنجيل باكر</p>
<p>٣- خدَّام العتيدين أن يرثوا الخلاص</p>
<p>&#8221; أليس جميعهم أرواحاً خادمة مرسلة للخدمة لأجل العتيدين أن يرثوا الخلاص &#8221;     البولس</p>
<p>٤- خدَّام الحماية من قوات الظلمة</p>
<p>&#8221; وأما ميخائيل رئيس الملائكة فلما قاوم إبليس وتكلَّم عن جسد موسي لم يجسر أن يُورد حُكم افتراء عليه بل قال ليزجرك الرب &#8221;                                                                                        الكاثوليكون</p>
<p>٥- خدَّام إفتقاد الله للشعوب</p>
<p>&#8221; فرأي ظاهراً في رؤيا نحو الساعة التاسعة من النهار ملاك الله &#8221;                      الإبركسيس</p>
<h4>(٣) أمثال الملكوت</h4>
<p>١- الكنز</p>
<p>الكنز هو ربنا يسوع المسيح له كل المجد والحقل هو الإناء الخزفي (كياننا الإنساني) (٢كو ٤ : ٧)</p>
<p>٢- اللؤلؤة</p>
<p>الفرق بين الكنز واللؤلؤ هو أن الكنز مُختبئ في كياننا وأعماقنا ونحتاج أن ننبش آبارنا ليخرج الماء الحي (تك ١٨:٢٦) أما اللؤلؤة فهي التي نبيع كل شئ في حياتنا لأجل أن نقتنيها (في ٣: ٩،٨)</p>
<p>٣- الشبكة المطروحة في البحر</p>
<p>هي الكنيسة التي يأتي إليها ويجتمع فيه الأبرار والأشرار لكن وقت الحصاد يفرزونهم الملائكة</p>
<p>٤- الخروف الضال</p>
<p>مثل يُعْلِن قيمة كل نفس في عين الراعي وفِي عين السمائيين</p>
<p>٥- الزوان</p>
<p>أحياناً يأخذ الزوان شكل الحنطة لكنه ينكشف وقت الحصاد</p>
<p>٦- حبة خردل</p>
<p>قيمة تأثير النفوس البسيطة في العالم</p>
<p>٧- خميرة</p>
<p>محبِّة الله من كل القلب هي الخميرة التي تُعْطي قيمة ومعني لكل العجين</p>
<h3>عظات آبائية</h3>
<h4>البابا غريغوريوس الكبير</h4>
<p>من هم الذين يُدعون بني الله إلا الملائكة المختارون؟ وكما نعرف عنهم أنهم يتطلعون إلى عيني عظمته. يليق بنا أن نتساءل: من أين جاءوا ليمثلوا أمام الله؟ فقد قيل عنهم بصوت الحق: &#8220;إن ملائكتهم في السماوات كل حين ينظرون وجه أبي الذي في السماوات&#8221; (مت ١٨: ١٠). ويقول عنهم النبي: &#8220;ألوف ألوف تخدمه، وربوات ربوات وقوف قدامه&#8221; (دا ٧ : ١٠). فإن كانوا دائمًا ينظرون ويقفون بجواره، يلزمنا بحرص وتدقيق أن نراعي من أين جاءوا، فإنهم لا يفارقونه قط، لكن إذ يقول عنهم بولس: &#8220;أليس جميعهم أرواحًا خادمة مُرسلة للخدمة لأجل العتيدين أن يرثوا الخلاص؟&#8221; (عب ١ : ١٤) ، من هذا نتعلم أنهم مُرسلون ونكتشف من أين جاءوا&#8230;</p>
<p>إنهم لا يذهبون بطريقة يُحرمون فيها من رؤية الله، فتُنزع عنهم أفراح التأمل الداخلي، فلو أن بإرسالهم يفقدون رؤية خالقهم لا يقدرون أن يُقيموا الساقطين، ولا أن يعلنوا للذين في الجهالة عن الحق، وما كانوا يستطيعون قط أن يقدموا للعميان ما حُرموا به بتركهم مصدر النور.</p>
<p>تختلف طبيعة الملائكة عن حال طبيعتنا الحاضرة، حيث نحن مقيدون بالمكان ومحدودون بعمى الجهالة، أما أرواح الملائكة فمع كونها محدودة بمكانٍ، لكن معرفتهم ترتفع عنا جدًا، دون وجه للمقارنة، لهم معرفة ممتدة خارجيًا وداخليًا، إذ يتأملون ذات مصدر المعرفة نفسه&#8230;</p>
<p>وكما أن أرواحهم ذاتها إن قورنت بأجسادنا فهم أرواح، هكذا إن قورنوا بالروح السامي غير المدرك يُحسبون جسدًا. لذلك فهم مُرسلون منه، وواقفون أمامه أيضًا، إذ في هذا هم مقيدون أن يُرسلوا، وفي نفس الوقت حاضرون بالكامل لن يفارقوه.</p>
<p>هكذا في نفس الوقت يرون وجه الآب دائمًا، ومع هذا يأتون إلينا، حيث يُرسلون خلال سمة التأمل الداخلي. يمكن إذن أن يُقال: &#8220;جاء بنو الله ليمثلوا أمام الرب&#8221;، إذ يرجعون إلى هناك بعودة الروح، إلى حيث لم يفارقوه قط بعدم انسحاب العقل عنه <a href="#_ftn2" name="_ftnref2">[2]</a>.</p>
<p>مديح لرئيس الملائكة ميخائيل وضعه أنبا مكاريوس أسقف إتكو (ألقاها في كنيسة رئيس الملائكة ميخائيل يوم ١٢ هاتور)</p>
<p>١)مبارك هو الله، أبو ربنا يسوع المسيح، ومبارك هو الأبن الوحيد الجنس، والروح القدس المحى، ثالوث في وحدانية ووحدانية في ثالوث ، الآب والأبن والروح القدس ، لأنه جعلنا – أنا المسكين  – اليوم أيضاً مستحقين أن نمتلئ من البهجة والمسرة اللتين صارتا اليوم في السماء .</p>
<p>(٢) ليس السمائيون فقط هم الذين يفرحون اليوم ، بل الأرضيون أيضاً . لقد أمتلأوا مسرة من أجل رئيس الملائكة ميخائيل فالسمائيون يفرحون في كل وقت لكونهم كائنين في نور ربنا وإلهنا ورائحته العطرة يخدمونه نهاراً وليلاً.</p>
<p>(٣) ولكنهم بالحرى قد ابتهجوا اليوم بالأكثر لأنهم طردوا من وسطهم إبليس المشتكى، والمجترئ ، والمقاوم لهم ، ونصب ميخائيل الرحوم مكانة ، الذى يشفع في كل أحد أمام الله .</p>
<p>(٤) أي لسان بشرى سوف يخبر بمجد وكرامة ميخائيل ، رئيس الملائكة ميخائيل العظيم هذا ؟ من من كل الكائنين في الخدمات الروحانية التي للسماء ، وكل الذين صارو مع الأبرار الذين على الأرض ، له دالة أمام الله مثل ميخائيل ، رئيس الملائكة العظيم ، ورئيس جند أبى  ربنا يسوع المسع .</p>
<p>( ٥) لأنه هو الواقف أمام الله  ، يتضرع في جنس البشر كافة . لأن ميخائيل لا يختص بمدينة أو قرية بعينها ، ولا يتضرع فقط من أجل مدينة بذاتها مع مقاطعتها ، إنما رحمته قد وسعت الأرض قاطبة . لأنه كما أن الشمس ، وهى خادمة يغطى نورها كل المسكونة بأمر الله ، هكذا أيضاً ميخائيل هو عظيم وشفيع في كل البشرية . لأنه لأجل هذا العمل قد أقامه الله ليتضرع ويترأس على كل الرتب التي في السموات .</p>
<p>( ٦) لأنه إذا ظهر شهيد ، أو معترف ، أو أي قديس من القديسين الذين على الأرض فمجده ومعجزاته ، التي يمنحها الله له جزاء أتعابه ، تشمل بالكاد أهل قريته وحدها وسكان منطقته ، وينال خظوه من أولئك الذين يأتون إلى رفاته وحدهم ، حتى لو كان تذكاره قد ساد وملأ كل الكورة  ، فمعجزاته محددة لهذا الغرض فحسب .</p>
<p>(٧) أما  رئيس الملائكة العظيم ميخائيل ، فليست دالته هكذا من أجل كورة بعينها ومدن ومناطق وقرى ( محددة)، لكن تحنناته تشمل كل العالم ، متضرعاً لأجلهم . لأن الشهيد يعنى بمكان واحد ، أما رئيس الملائكة ميخائيل فشأنه بكل الناس دفعة واحده.</p>
<p>(٨) لأن ميخائيل من الأزل هو الذى يخدم كل القديسين بأمر الله . مخلصاً إياهم من كل عذاباتهم ، إلى أن يصعد بهم إلى السماوات . ولم يذهب أي من الصديقين جميعاً إلى السماوات بدون خدمة وطلبات رئيس الملائكة ميخائيل .</p>
<p>(٩) لأنه يسير مع البطاركة ويرافق الأنبياء ، ويمد يد العون للملوك الأبرار ، ويوجه القضاة ، وينجى الشهداء . هو الذى خدم أباءنا الرسل حتى أكملوا الكرازة بالرب . هو الذى يتضرع من أجل كل الذين في الحبس . هو الذى يخدم آباءنا القديسين رؤساء الأساقفة ، منجياً إياهم من كل التجارب التي حدثت لهم من أجل الإيمان المستقيم بالمسيح . وهو أيضاً يرافق المسافرين في البحر وينجيهم من كل خطر ، ويرشد كل المسافرين في الأنهار والبحيرات ، هو أيضاً يرافق الضالين في كل الكور ، ويتضرع من أجل كل الذين في النفى حتى يوصلهم إلى كنائسهم المقدسة . كذلك السكان في البراري ، وشقوق الأرض ، وفى الصخور يخدمهم جميعهم في جهادهم ، ويجمعهم بين يديه المقدستين ، ويتشفع عن المرضى بكل مرض حتى ينالوا الشفاء وبتضرعاته يقضي حاجات الذين يطلبونه من أجل الثمار وكل الأمور الجسدية . إذ أتاه الذين يتلفظون ( يعترفون ) بالخطايا ، باكين أمامه ، ركع هو أمام الله من أجلهم حتى ينالوا عتقهم وغفرناً لخطاياهم . وبالجملة . إذا طلبه أي شخص في أي مكان ، قبل طلباته ، وتضرع إلى الله من أجله فيغفر له .</p>
<p>( ١٠) ها قد علمتم الأن يا أبنائى المجتمعين اليوم في هذا المكان ، أنها ليست بقليلة هي الفرحة التي عمت اليوم كل العالم باسم رئيس الملائكة ميخائيل ، رئيس جند القوات السمائية . وها بعد أن عرفنا أن لنا هذا الرئيس العظيم الرحوم . الذى يشفع فينا أمام الرب الملك المسيح ، فلنأتى إليه والعطايا في أيدينا ونقدمها له بكرامة ، ونحن لابسون رداءً ناصعاً مقدساً .</p>
<p>( ١١) وماذا تكون تلك العطايا التي نقدمها له  ؟ إنها الرحمة على المساكين ، صوماً وزيجة طاهرة ، وخبزاً يقدم للجائع ، وراءً للعريان ، محبة متبادلة بيننا في اشتياق روحى ، وبقية الفضائل الأخرى<a href="#_ftn3" name="_ftnref3">[3]</a> .</p>
<h4>القديس يوحنا ذهبي الفم</h4>
<p>خدمة الملائكة في فكر القديس يوحنا ذهبي الفم من خلال شرحه للآية ( عب ١ :١٤)</p>
<p>&#8220;اليس جميعهم اروحاً خادمة مرسلة للخدمة لأجل العتيدين ان يرثوا الخلاص&#8221;(عب١٤:١).</p>
<p>ماهو العجيب في إن الملائكة يخدمون الابن،في اللحظة التي فيها يخدمون لأجل خلاصنا؟ لاحظ كيف يسمو بافكارهم ويظهر الكرامة العظيمة التي يمنحها الله لنا ، من حيث انه قد عين الملائكة ، الذين هم اعلي منا، ليخدموا من اجل منفعتنا. كما يمكن للمرء ان يقول إن الله يستخدمهم في هذا (اي في خدمك العتيدين ان يرثوا الخلاص) ، هذه هي خدمة الملائكة ، ان يخدموا الله ، من اجل خلاصنا، إن عمل الملائكة ، يقوم علي فعل كل شيء من اجل خلاص الأخوة ، او من الافضل القول، بان هذا هو عمل المسيح لان المسيح كسيد يخلص، بينما هؤلاء (الملائكة) ، عبيد . ونحن عبيد، وشركاء في العبودية مع الملائكة. وكما يقول ، لماذا تنظرون بفم مفتوح(أي بدهشة) إلي الملائكة ؟</p>
<p>فهم عبيد لإبن الله، وهو كثيراً ما يرسلهم لأجلنا ، ويخدمون من اجل خلاصنا، حتي انهم يعتبرون بمثابة عبيد لنا. فكروا كيف أنه لايقيم فروقًا كبيرة بين المخلوقات. فبرغم أن المسافة بين الملائكة والبشر كبيرة. إلا انه ينزلهم بالقرب منا، كما لو يقول انهم يتعبون من أجلنا، ويسعوا لأجل فائدتنا، انهم يخدموننا نحن، كما يمكن للمرء ان يقول هذه هي خدمتهم، ان يرسلوا في كل مكان لخدمتنا.</p>
<p>والعهد القديم والجديد ايضاً مليء بهذه الامثلة. فكيف لا يخدموننا إذا كانوا قد حملوا البشارة المفرحة للرعاة ولمريم وليوسف، وإذا كانوا قد جلسوا في القبر وارسلوا لكي يقولوا للتلاميذ *أيها الرجال الجليليون ما بالكم واقفين تنظرون الي السماء*، وإذا كانوا أخرجوا بطرس من السجن، وتكلموا مع فيلبس، فكيف لا يخدموننا؟ فكر إذًا في مقدار الكرامة،عندما يرسل الله الملائكة كخدام لأجل الاحباء، وعندما يظهر ملاك لكرنيليوس، وعندما يخرج ملاك، كل الرسل من السجن ويقول* اذهبوا قفوا وكلموا الشعب في الهيكل بجميع كلام هذه الحياة .</p>
<p>ولماذا أتكلم عن الأمور الاخري ؟ فقد ظهر الملاك لبولس نفسه.</p>
<p>أرأيت أنهم يخدموننا من اجل الله، وإنهم يخدموننا في امور عظيمة جداً ؟ ولهذا يقول الرسول بولس * فإن كل شيء لكم . أم الحياة أم الموت أم الاشياء الحاضرة أم المستقبلة*. والابن ايضاً بالطبع أرسل ، لكن ليس كخادم ، بل كابن ووحيد الجنس، وكان يريد كل ما أراده الآب. او من الأفضل أن نقول إن الابن لم يرسل لأنه لم يذهب من مكان لمكان، بل أخذ جسداً. أما الملائكة فهم ينتقلوا من مكان إلي آخر، ويتركون الاماكن الأولي التي يوجدون فيها، وهكذا يأتون إلي أماكن أخري لم يكونوا فيها. كما أنهم كانوا يشجعوا البعض قائلين: *لماذا تخافون*؟ إن الملائكة يخدموننا<a href="#_ftn4" name="_ftnref4">[4]</a>.</p>
<h4>الملاك الحارس للعلامة أوريجانوس</h4>
<p>يظهر من قول السيد المسيح نفسه أن ملائكة هؤلاء الأصاغر يرون وجه الآب السماوي.</p>
<p>*     جاء في سفر الأعمال قول المجتمعين للجارية عن الذي يقرع الباب إنه ملاكه.</p>
<p>*      أوصى الرسول بولس المرأة أن يكون لها غطاء للرأس لأجل الملائكة.</p>
<p>*      قول المرتل: &#8220;ملاك الرب حال حول خائفيه&#8221;.</p>
<p>*      قول يعقوب بن اسحق أن الملاك كان يقوته، وأنه قاده في حداثته.</p>
<p>يجب أن نؤمن أن الملائكة، وهم خدام الله والحراس المعينين من قِبَله، متواجدون مع الإنسان الذي يصلي، حتى ينضمون إليه فيما يلتمسه. والحقيقة أن الملاك المخصص لكل منا، حتى للصغار في الكنيسة، والذي يعاين دائمًا وجه الآب، ويشاهد ألوهية الخالق، يصلي معنا ويدعمنا على قدر الإمكان فيما نطلب.</p>
<p>*    كل واحدٍ من المؤمنين حتى وإن كان الأصغر في الكنيسة، يعاونه ملاك، قال عنه المخلص أنه يعاين وجه الله الآب .</p>
<p>*    لا بُد أن نقول إن النفس البشرية هي تحت إشراف ملاك بالنسبة لها بمثابة الوالد.</p>
<p>*    إذ يقبل إنسان الإيمان، يعهد به المسيح الذي فداه بدمه من الشرير إلى ملاك مقدس الذي بسبب نقاوته يعاين وجه الله الآب .</p>
<p>* حتى لا يحدث أن تجد الأرواح الشريرة فيما بعد مكانًا فيها (النفس البشرية)، رأت حكمة الله وعنايته أن تُزوّد الأطفال الصغار، وأولئك الذين هم ليسوا إلا أطفالًا رُضّع فيالمسيح، وغير القادرين على الدفاع عن أنفسهم ضد غواية الشيطان وهجمات الأرواح الشريرة، بملائكة وحراس أبطال، معينين من قِبَله، كمرشدين ومُربّين لصغار السن أو غير القادرين على الدفاع عن أنفسهم (١كو ٣ : ١ ؛ أف ٦ : ١١ ؛ غل ٤ : ٢).</p>
<p>* حيث أن الله عالم بالإرادة الحرة لكل إنسان، إذ سبق فرأى ما يفعله الإنسان لذلك رتب بعنايته لكل واحدٍ ملاكًا يليق به حسب استحقاقه، معطيًا إياه لكي ما يصلي عن أجله&#8230;</p>
<p>يقول الله لمن يتصف بهذه الصفات، أو تلك أرسل إليه ملاكًا حارسًا يعمل معه لخلاصه، وذلك ابتداء من الوقت المعين ويبقى معه إلى وقت آخر. ويقول عن آخر: سأبعث بملاك آخر ربما يكون برتبة أعلى بما يتناسب مع أفضليته عمن سبقه. ولآخر ممن كرّسوا أنفسهم للتعليم السامي، ثم أدركه الضعف فعاد به إلى الأمور المادية، سأجرده من معاونة القوي، الذي برحيله عنه - بحسب استحقاقه- سوف تقتنصه قوة شريرة معينة، وتجد لها فرصة للانتفاع بضعفه هذا، فتستدرجه- إذ أظهر استعدادًا للخطية- لاقتراف هذه الرذيلة أو تلك.</p>
<p>* كل الناس يحركهم ملاكان: أحدهما شرير يحرضه على الشر، والآخر صالح يحثّه على الصلاح&#8221;&#8230; فإن كان يوجد فكر صالح في رأسنا، فما من شك في أن ملاك الرب هو الذي يتحدث معنا. أما إن جاءت أمور شريرة إلى قلوبنا، فالذي يخاطبنا هو ملاك الشر<a href="#_ftn5" name="_ftnref5">[5]</a>.</p>
<h4>أيضاً للعلَّامة أوريجانوس</h4>
<p><strong>الملائكة أطباء</strong></p>
<p>ولولوا عليها، خذوا بلسانًا (بلسمًا - مرهمًا) لجرحها لعلها تُشفي&#8221;.</p>
<p>بما أن كل نفس يمكنها أن تحصل على الخلاص، لا توجد نفس واحدة غير قابلة للشفاء بالنسبة للرب، لذلك ينصح الله الذين يستطيعون أن يعبروا إلى أورشليم أن يحصلوا على بلسم العهد الجديد، أن يحاولوا بقدر استطاعتهم أن يستخدموا هذا العلاج مع بابل لكي تُشفي وتستعيد صحتها.</p>
<p>ليتنا نحاول نحن أيضًا أن نفعل ذلك، فنطلب من الله أن يعطينا البلسم الروحي؛ لكي نتعلم كيف نعصب جراحات بابل، مقتدين بالسامري الصالح؛ وبالتالي تُشفي هذه المدينة البائسة، فلا تعود بعد إلى حالتها الأولى.</p>
<p>أين هم الهراطقة الآن؟ أين الذين يؤمنون بتعدد أنواع النفوس، ويؤكدون وجود نوعٍ من النفوس لا رجاء فيه، والأمل في خلاصه مفقود؟ لو كانت هناك نوعية من النفوس لا بد أن تهلك، أفما كانت بابل هي أول تلك النفوس التي يجب أن تهلك؟</p>
<p>ومع ذلك، فإنه حتى بالنسبة لبابل، لم يحتقرها الله، بل يأمر الأطباء أن يضعوا بلسمًا لجرحها لعلها تشفي!</p>
<p>إذًا هؤلاء الذين صدر الأمر إليهم بمعالجة بابل، حينما علموا بإمكانية شفائها واستعادة صحتها، قاموا بالفعل بتنفيذ الأمر، ووضعوا بلسمًا على جرحها، لكن إذ وجدوا أنهم لم يحصلوا على النتيجة التي كانوا ينتظرونها، لأن بابل ظلت في شرورها ولم ترد أن تُشفي، قالوا بعد أنهم أدوا مهمتهم وتمموا مسئوليتهم: &#8220;داوينا بابل فلم تُشفَ، دعوها&#8221;. أفلا يحدث معك هذا أنت أيضًا أيها الإنسان؟</p>
<p>يحدث أحيانًا أن يرسل لك الله الملائكة ويأمرهم بوضع المراهم عليك لعلاجك من مرض النفس &#8220;لعلك تُشفي&#8221;، فتكون النتيجة أن هؤلاء الملائكة يجيبون الرب قائلين: &#8220;داوينا بابل، التي هي نفسك المضطربة بشهوات هذا العالم، فلم تُشفَ&#8221;. سبب عدم الشفاء لا يرجع إلى قلة معرفتهم وخبرتهم الطبية ولا إلى رداءة نوع البلسم، بل يرجع السبب أولًا وأخيرًا إليك أنت، لأنك لم تشأ أن تُشفي، فلم تتبع تعليماتهم وعلاجهم. &#8220;دعوها&#8221;؛ إن الملائكة هنا كانوا يمثلون أطباء مهمتهم تنفيذ أوامر الله الطبيب الأعظم؛ لقد أرادوا معالجة ضعفاتنا وتحرير نفوسنا من الرذائل، أما نحن فإننا نُبعدهم عنا بعيدًا برفضنا اتباع نصائحهم. لذلك فإن هؤلاء الملائكة، إذ يرون أن تعبهم يذهب هباءً، يقولون: &#8220;دعوها. ولنذهب كل واحدٍ إلى أرضه&#8221;. أو أنهم يقولون بطريقة أخرى: لقد سلمنا الله الدواء لمعالجة النفس البشرية، فجئنا لنجدتها وقدمنا لها الدواء، أما هي فإنها عنيدة جدًا وعاصية لا تريد أن تستمع إلى ما نقوله، وقد أصبح مجهودنا بلا ثمر، وبالتالي &#8220;دعوها ولنذهب كل واحدٍ إلى أرضه&#8221;.</p>
<p>احذر أيها الإنسان لئلا يتركك الطبيب، سواء كان هذا الطبيب ملاكًا من قبل الرب أو إنسانًا مكلفًا من قبل الله بإعطائك الدواء الذي يقودك إلى الخلاص. (انظر المزيد عن هذا الموضوع هنا في موقع الأنبا تكلا في أقسام المقالات و التفاسير الأخرى). لأنه لو تركك الطبيب وقال: &#8220;دعوها ولنذهب كل واحدٍ إلى أرضه، لأن قضاءها وصل إلى السماء وارتفع إلى السحاب&#8221;، فإن تركه إياك إنما يعني إدانتك كإنسانٍ غير قابل للشفاء لأنك رفضت أن تعالج. عندما يتركك الطبيب، ماذا يحدث لك إلا الشيء الطبيعي الذي يحدث لأي مريض فقد الأطباء الأمل في شفائه؟ المريض الذي أحب مرضه يسقط حتمًا في حالة أكثر سوءًا.</p>
<p>يظل الأطباء الصالحون المخلصون بجانب المريض طالما يستطيعون معالجته بحسب مهنتهم، وطالما يمكنهم أن يستخدموا الدواء مع هذا المريض. لكن إذا تفاقم المرض وازداد سوءًا إلى درجة فقدان الأمل في الشفاء، أو إذا خالف المريض تعليمات الأطباء نتيجة لتعبه من الآلام وضجره منها، إذ يفقد الطبيب الأمل في مثل هذا الإنسان يدعه (يتركه) وينسحب لئلا يموت المريض بين يديه، وبالتالي تُلقى المسئولية عليه. نفس الشيء يحدث معنا نحن أيضًا، فلكي تتجنب الملائكة الأطهار أن نموت بين أيديها يتركوننا عندما يفقدون الأمل في شفاء نفوسنا ويقولون: &#8220;من أسفل القدم إلى الرأس ليس فيه صحة بل جرح وإحباط وضربة طرية لم تُعصر ولم تُعصب ولم تلين بالزيت&#8221; (إش ١ : ٦).</p>
<p>&#8220;لأن قضاءها وصل إلى السماء وارتفع إلى السحاب&#8221;.</p>
<p>الإنسان الذي تكون خطيته صغيرة، لا يرتفع قضاؤه إلى السماء، بينما الذي ينمو في الشر ينمو أيضًا قضاؤه ويزداد حجمه، وكلما تزيد شروره يزيد أيضًا عقابه. إذا كان قد أخطأ إلى الدرجة التي وصلت فيها خطاياه إلى السماء وارتفعت إلى السحاب حينما يقاوم الله بعناده ترتقي خطاياه أكثر فأكثر، لذلك فإن الرب يهين الخطية التي أوصلت قضاء الإنسان إلى السماء، كما أنه في الوقت نفسه يكافئ الإنسان البار مكافأة تليق بالحياة التي عاشها في المسيح يسوع الذي له المجد والقدرة والسلطان إلى أبد الآبدين آمين<a href="#_ftn6" name="_ftnref6">[6]</a></p>
<h4>القديس إيرينيوس</h4>
<p><strong>عالم الملائكة</strong></p>
<p>والعالم&#8221; محاط بسبعة سموات، هناك تسكن قوات لا تُحصى، وملائكة، ورؤساء ملائكة الذين يتممون واجب العبادة الله كلى القدرة وخالق الجميع. ليس لأن الله في احتياج (لعبادة الملائكة)، لكن حتى لا يظلوا بلا عمل وبلا فائدة وبلا نفع. وروح الله له فعل متعدد الوجوه، وإشعياء النبي يحصى سبعة أشكال لخدمة الروح عندما يتحدث عن الروح الذي سوف يحل على ابن الله أى على الكلمة في زمن تجسده، لذا &#8221; ويحل عليه روح الرب روح الحكمة روح المشورة والقوة روح المعرفة ومخافة الرب&#8221;، فالسماء الأولى، العليا المحاطة بالسموات الأخرى، هي سماء الحكمة، الثانية هي للفهم، والثالثة للمشورة . والرابعة من فوق إلى أسفل . هي للقدرة، الخامسة للمعرفة، والسادسة للتقوى، والسابعة . التي تمثل قبتنا الزرقاء . هي مملوءة من مخافة الروح الذي ينير السموات.</p>
<p>هذا الإله يمجد بواسطة كلمته الذي هو ابنه الأزلي وبالروح القدس الذي هو حكمة&#8221; الآب الذي هو أب الجميع. هذان الأقنومان الإلهيان، الكلمة والحكمة لهما في خدمتهما طغمة من الأرواح الملائكية تدعى الشاروبيم والسيرافيم الذين يمجدون الله بتسابيحهم التي لا تنقطع، وكل ما في السموات المخلوقة يعطى مجدا لله، آب الجميع، الذي بكلمته خلق العالم . بما فيه . الملائكة وأعطى قوانين (نواميس) لكل العالم، حتى أن الجميع يظلون في مكانهم ولا يتجاوزن حدودهم المرسومة لهم بواسطة الله، بل إن كل واحد منهم يتمم العمل المحدد له من قبل الله <a href="#_ftn7" name="_ftnref7">[7]</a>.</p>
<h4>القديس باسيليوس الكبير</h4>
<p><strong>الملائكة</strong></p>
<p>ويقول القدِّيس باسيليوس الكبير وهو يتحدث عن خلقة الملائكة : &#8221; حتي ولو كان الصمت تهيمن علي الطريقة التي خلقت بها القوات السماوية ، وأن الذي صور لنا تكوين العالم لم يوضح لنا الخالق إلا من حيث علاقته بالمحسوسات ، فأنت الذي لديك قوة إستنتاج لتبلغ بها من المنظورات إلي غير المنظورات ، مجد الصانع الذي خلق به كل شيء ، ما يري وما لا يري . أصحاب رئاسة كانوا أم قوة أم عرش أم سيادة ، وكل الطبائع العقلانية الأخري إن وجدت بدون أسماء ، ثم ضع في فكرك أن في خلقها ، السبب الرئيسي لوجودها وهو الآب ، والسبب الصانع وهو الإبن ، والسبب المكمل وهو الروح ، حتي أنه بإرادة الآب توجد الأرواح الخادمة ، وبفعل الإبن تنتقل إلي الوجود وبحضور الروح تكمل ، فتكميل الملائكة تقديسهم وبقاؤهم فيه &#8221; ( الروح القدس ١٦: ٣٨ - ص٦٢، ٦٣- ترجمة الأرشمندريت أدريانوس) ، &#8221; فالقوات الفائقة العالم النقية والعقلانية هي قديسة وتدعي كذلك لأنها إقتنت التقديس بالنعمة الحالة فيها من لدن الروح القدس &#8221; ( المرجع السابق ص٦٢)</p>
<p>ويقول أيضاً ساويرس إبن المقفع :&#8221; ليس أحد في جميع الملائكة بسيطاً علي الأرض كلها ولا أحد يملأ جميع الأرض غير الإله وحده الذي يملأ جميع المواضع ولا يخلو منه موضع . وجميع الملائكة محدودون محصورون متنقلون من مكان إلي مكان ، إذا حضر أحدهم في مكان خلي منه المكان الآخر &#8221; (الدر الثمين ص٢٤٦)</p>
<p>وكما يلاحظ القدِّيس اكليمنضس الإسكندري ، أن الملائكة لا يتكلمون ولا يتصلون بعضهم ببعض بنفس الأسلوب الذي يتصل به البشر فهم ليس لهم أذن ولا لسان ولا جهاز للصوت ولا شفاه ولا حلق (بلعوم) ولا رئة ولا صدر ولا تنفس . ليس للملائكة إحتياج للسان للتكلم ولا للأذن للسمع ، بل هم ينقلون بعضهم لبعض نفس الأفكار والأحكام ، وليس للملائكة جنس فهم لا يتزوجون ولا يزوجون حسب قول السيد المسيح .</p>
<p>ويقول القدِّيس أغناطيوس في رسالته إلي سميرنا (ازمير) :</p>
<p>&#8221; إذا لم تؤمن الكائنات السماوية ومجد الملائكة والرئاسات المنظورة وغير المنظورة بدم يسوع المسيح فإنها ستدان أيضاً &#8221; ( ترجمة المطران الياس معوض ص١٣٥) .</p>
<p>وجاء في هيرماس الراعي ( الوصية السادسة ٢: ١) &#8221; مع الإنسان ملاكان . ملاك العدل وملاك الشر . ملاك العدل لطيف وحبي ووديع وهادئ . عندما يدخل إلي قلبك يتكلم معك فوراً عن العدل والعفة والشرف والقناعة وعن كل عمل صالح وعن كل فضيلة مجيدة . عندما تشعر أن هذه الأمور قد ملأت قلبك فاعلم أن ملاك العدل يقطن فيك لأن ملاك العدل لا يفعل غير ذلك فآمن به وثق في أعماله . أما ملاك الشر فهو قبل كل شيء غضوب ومر وجاهل وأعماله شريرة تدمر عبيد الله . عندما يدخل إلي قلبك تستطيع أن تميزه فوراً من أعماله .</p>
<p>عندما تشعر بالتذمر والمرارة فاعلم أن الشيطان يقطن فيك وعندما تشعر برغبات مضطربة ويستولي عليك جنون التبذير والانفاق علي الملبس والمأكل والمشرب وتندفع وراء الملذات العابرة والفجور وعندما تشعر بأنانيتك وكبريائك وطمعك تتحرك بعنف في داخلك ، عندما تشعر بكل ما هو مماثل لهذه الامور فاعلم أن شيطان الظلم يعيش فيك ( ترجمة المطران الياس معوض ص ٢٠١ )</p>
<p>ويقول العلامة اوريجينوس &#8221; إذا كانت ملائكة الله قد اتت ليسوع وأخذت تخدمه ، وإذا كان من غير المعقول أن تقتصر خدمة الملائكة للمسيح علي زمان اقامته بالجسد بين البشر . وهو في وشك المؤمنين ليس كمن يتكئ بل كمن يخدم ، فتصور معي خدمة الملائكة للمسيح الذي يريد أن يجمع معه ابناء إسرائيل واحدا واحدا ، وعندما يضم الذين في الشتات ، وينقذ الذين يئنون من الخوف ويدعونه . أما يساهم الملائكة أكثر من الرسل في نمو الكنيسة وازديادها … &#8221; (كتاب الصلاة تعريب القس موسي وهبة ص ٣٠)<a href="#_ftn8" name="_ftnref8">[8]</a>.</p>
<h3>عظات آباء وخدام معاصرين</h3>
<h4> المتنيح الأنبا أثناسيوس مطران بني سويف والبهنسا</h4>
<p>مثل الزوان : (مت ۱۳ : ٢٤ - ۳۰ ، ٣٦ - ٤٣)</p>
<p>يقول ذهبي الفم : ( مقالة ٤٦ ) :</p>
<p>( أ ) علينا ألا ندهش حين نجد العدو يزرع زوانا وسط الحنطة وهو كثيرا ما يزرعها بواسطة رسله الذين يلبسون ملابس الرعاة •</p>
<p>( ب ) فلنكن متحفظين يقظين دائما ضده حتى لا نعطيه فرصة لزرع زوانه</p>
<p>( ج ) ولا نكن مثيري حرب وقلاقل ضد الزوان ، لئلا نقتلع بعض الحنطة معهم أي بعض الصالحين مع الأشرار .</p>
<p>وحري بنا ألا نجزع لأن ثلاثة أنواع من الزرع فسدت في المثل السابق ، والنوع الرابع هنا ظهر به زوان . فلنكن مثابرين في الفضيلة مهما اختلف العالم معنا ومهما كانت الصعوبات .</p>
<p>ثم بعد ذلك يمدح التلاميذ الذين بعد أن عرفوا بكل الصعوبات قاموا بالخدمة بكل اجتهاد .</p>
<p>( أ ) ولم يطلبوا آيات وعجائب ليؤمنوا ، بل كان ايمانهم من الحاجة لآيات .</p>
<p>( ب ) وكانت الآيات تأتي عنهم بسبب قوة حياتهم . فلا نقل بأننا ضعفنا لعدم الآيات ، بل أن الآيات امتنعت لأننا ضعفنا .</p>
<p>( ج ) وقوة حياتهم الروحية كانت هي أساس الخدمة فيوحنا المعمدان جابه ملوکا، وايوب جابه قوة الشر مجتمعة بأسلحة شديدة ، وحين قال الرب عن داود الفتي : &#8220;فتشت قلب عبدی داود بن يسی فوجدته حسب قلبی &#8221; لم يكن هؤلاء مدعمين بالآيات •</p>
<p>( د ) وليست الفضائل في كثرة الزهد ، والصوم لأيام ، بل الزهد هو في اعطاء خبزك للجائع ، وتمالك نفسك عن الغضب والزهو ، والحسد.</p>
<p>فلنسع للفضائل الروحية ولا نستعض عنها بوسائلها وهكذا نكون قديسى الله .</p>
<p>حبة الخردل :(مت ۱۳: ۳۱: ۳۲)</p>
<p>وهذا المثل يصور نمو الملكوت، فانه يبدأ صغيرا ثم يكبر حتى يعم المكان ، وهكذا كانت بداية المسيحية في أي قطر من الأقطار ایمان فرد واحد ، أو أسرة ، ثم انتشر فشمل القطر كله .</p>
<p>في الخميرة :(مت ۱۳: ۳۳)</p>
<p>والخميرة كائن حي ربما لا يختلف شكلها من الخارج عن أي عجينة أخرى، ولكنها حية في الداخل . وهكذا المؤمن أو هكذا الكنيسة، وقد يكون الشكل الخارجي أردأ من شكل الغير &#8221; لاتنظرن الى لكوني سوداء لأن الشمس قد لوحتنی &#8221; (نش ١: ٦).</p>
<p>على أن الخميرة اذا اندمجت في العجين، خمرته كله والكنيسة في العالم كالخميرة والملح ، مندمجة فيه ولكنها سر رضا الرب عليه<a href="#_ftn9" name="_ftnref9">[9]</a></p>
<h4>المتنيح الانبا يؤانس اسقف الغربية</h4>
<p><strong>الملائكة عمل</strong></p>
<p>أعمال الملائكة متنوعة ومتعددة ومتباينة تبعا لرتبة الملائكة أنفسهم . فهناك ملائكة قائمون أمام العرش الإلهي ، عملهم تقديم العبادة والسجود والتسبيح الدائم لله . وهناك ملائكة يعملون كحلقة اتصال بين السماء والأرض أو بين الله والبشر وفريق ثالث مهمتهم خدمة البشر . ويمكننا أن نقسم عمل الملائكة إلى قسمين : ما يختص بالله ، وما يختص بالبشر . ونستطيع تلخيص ذلك كله فيما يلى :</p>
<p>أولا - ما يختص بالله ، ويشمل أعمالا أهمها :</p>
<p>١- العبادة : وتأتي في مقدمة عمل الملائكة فيما يختص بالله . وعبادة الله تشمل التسبيح والسجود . وقد أعلنت رؤيا لإشعياء النبي رأى فيها السيرافيم ينشدون قائلين في تسبيح دائم : « قدوس قدوس قدوس رب الجنود ، مجده ملء كل الأرض » (إش ٦ : ١ ۔ ۳) &#8230; وفي وقت میلاد المخلص ينقل إلينا القديس لوقا منظر بديعة : « وظهر بغتة مع الملاك ( الذي بشر الرعاة بميلاد المسيح ) جمهور من الجند السماوي مسبحين الله وقائلين المجد لله في الأعالى ، وعلى الأرض السلام وبالناس المسرة » (لو ۲ : ١٣ ، ١٤) . لذا صرخ داود وقال : « سبحوه يا جميع ملائكته . سبحوه یا کل جنوده » (مز ١٤٨ : ٢).</p>
<p>هذا عن التسبيح أما عن السجود ، فيدون لنا القديس يوحنا ما رآه في رؤياه : « وجميع الملائكة كانوا واقفين حول العرش والشيوخ والحيوانات الأربعة وخروا أمام العرش على وجوههم وسجدوا لله ، قائلين آمين البركة والمجد والحكمة والشكر والكرامة والقدرة والقوة لإلهنا إلى أبد الآبدين آمين » (رؤ ٧ : ١١ ، ۱۲) .</p>
<p>۲ - تنفيذ أحكام الله : ومن أمثلة ذلك ما جاء في سفر أعمال الرسل عن هيرودس الملك الذي أرتدي الحلة الملوكية وانتفخ حتى أنه حين تكلم قال عنه الناس إنه صوت إله لا صوت إنسان ، فأرسل الله ملاكا ضربه في الحال . لأنه لم يعط المجد لله فصار يأكله الدود حتی مات (أع ۱۲ : ۲۳) . كما يسجل لنا القديس يوحنا في رؤياه : « وسمعت صوتاً عظيماً من الهيكل قائلا للسبعة الملائكة امضوا واسكبوا جامات غضب الله على الأرض » (رؤ ١٦: ١) . فالملائكة دائماً ينفذون أحكام الله .</p>
<p>٣. إعلان رسائل من الله للبشر : وهذه الرسائل على أنواع : فإما أن تكون رسائل تشجيع وتقوية لأداء واجب كما حدث جدعون (قض ٦ : ١١-١٦) . أو رسائل توبيخ لفرد أو لشعب بأسره . كما نقرأ عن رسالة التوبيخ التي حملها ملاك الله لشعب إسرائيل (قض ۲ : ۱ ۔ ٥) . وقد يرسل الملاك حاملا بشارة مفرحة ، كما حدث في ميلاد يوحنا المعمدان ، وكما حدث في بشارة جبرائيل رئيس الملائكة إلى أم النور مریم بشرها بولادة الرب يسوع مخلص العالم .</p>
<p>٤- في الدينونة الأخيرة : و يقدم لنا السيد المسيح هذا التعليم في مثل الزوان والحنطة حيث يقول : « الحصاد هو إنقضاء العالم والحصادون هم الملائكة &#8230; في انقضاء هذا العالم ، يرسل ابن الإنسان ملائكته فيجمعون من ملكوته جميع المعاثر وفاعلى الإثم و يطرحونهم في أتون النار &#8230; » (مت ۱۳ : ۳۹- ٤٢) .</p>
<p>ثانيا . ما يختص بالبشر : ينبغي أن نعلم أن الملائكة . وهم في سبيل إتمام مقاصد الله من جهة البشر . يدخلون أحيانا في حروب مع الشيطان وقواته . وهذا واضح مما جاء في سفر دانیال ( ص ۱۰ ) كما أسلفنا ، ومما جاء في سفر الرؤيا حيث يقول : « وحدثت حرب في السماء ميخائيل وملائكته حاربوا التنين ، وحارب التنين وملائكته » (رؤ ۱۲ : ٧)&#8230;</p>
<p>ونلخص ما يقوم به الملائكة من خدمات نحو البشر فيما يلى :</p>
<p>١-العناية بالمؤمنين وحراستهم : وهنا نتذكر قول المرتل داود : « ملاك الرب حال تحول خائفيه و ينجيهم » (مز ٣٤: ٧) . وقول المرنم في المزمور الخالد : « لأنه يوصی ملائكته بك لكي يحفظوك في كل طرقك . على أيديهم يحملونك لئلا تصدم بحجر رجلك » (مز ٩١ : ۱۱) . فالملائكة يعنون بنا نحن المؤمنين ويحرسوننا&#8230;</p>
<p>۲- إنقاذ المؤمنين من الشدائد : والكتاب المقدس زاخر بأمثلة عديدة عن تدخل الملائكة في إنقاذ كثيرين من البشر : منهم يعقوب من وجه عيسو أخيه في محنایم (تك ۱:۳۲ ، ۲) . كما أنقذ الملائكة شعب الله في الخروج من مصر وحتى الاستقرار في أرض كنعان . ( راجع سفر الخروج ١٤ : ۱۹ ؛ ۲۳ : ۲۰) . والملائكة هم الذين حرسوا اليشع النبي وتلميذه جيحزی من جیش ملك آرام (٢مل ٦ : ١٦ ، ۱۷) . وملاك الله هو الذي سد أفواه الأسود عن دانيال في الجب « إلهي أرسل ملاکه وسد أفواه الأسود فلم تضرنی »</p>
<p>(دا ٦ : ۲۲) . كما أن الملاك هو الذي أنقذ بطرس من السجن الأمر الذي يفرد له القديس لوقا فصلاً بأكمله في سفر أعمال الرسل هو الاصحاح الثاني عشر &#8230;</p>
<p>٣- الاشتراك في خدمة الخلاص بالنسبة للمؤمنين : ولعل هذا هو الذي دفع الملائكة وقت میلاد المخلص إلى أن ينشدوا أنشودة الفرح الخالدة : « المجد لله في الأعالى وعلى الأرض السلام و بالناس المسرة » . والسيد المسيح له المجد نفسه يوضح لنا ذلك عندما قال : « لأنه يكون فرح في السماء بخاطيء واحد يتوب » (لو ١٥ : ۱۰) .</p>
<p>٤ - تشجيع المؤمنين : فلقد شجع ملاك القديس بولس الرسول إبان محنته في السفينة في البحر وهو في طريقه أسيراً إلى روما . ونقل بولس تلك المشاعر لكل من كان معه في السفينة : « لأنه وقف بی هذه الليلة ملاك الإله الذي أنا له والذي أعبده قائلا لا تخف يا بولس ينبغي لك أن تقف أمام قیصر وهوذا قد وهبك الله جميع المسافرين معك » (أع ٢٧: ٢٣).</p>
<p>٥ -إغاثة المؤمنين : وفي ذلك نقول إن الملائكة تستطيع بحکم طبيعتها أن تعمل وتتحرك من دون أن تتلقى أمراً من الله بذلك لأن هذه هي مهمتها . و يقول الرسول بولس : « أليسوا جميعا أرواحاً خادمة ، مرسلة للخدمة لأجل العتيدين أن يرثوا الخلاص » (عب ١ : ١٤) . فالملائكة كائنات حرة ، ولهم المقدرة والإمكانية ولهم أن يتصرفوا في حدود اختصاصاتهم . مثال ذلك الشرطي الذي يقف في الطريق . إذا استغاث به أحد المواطنين أغاثة في الحال ، وتقدم وأنقذه ، أو أسرع بالقبض على لص أو قاتل دون أن يرجع إلى رئيس الدولة أو حتى إلى رئيسة المباشر لأن هذا عمله ، وهذه الأمور تدخل في دائرة اختصاصه . وعلى العكس فإنه إن لم يستجب لنداء أي مواطن بحجة انه لم يتلق أمراً من رئيس الدولة أو حتى من رئيسه المباشر ، يعتبر في تلك الحالة مقصراً .</p>
<p>وعلى ذلك نقول : لنا إذن أن نستغيث بالملائكة مباشرة دون أن يكن في ذلك إهانة لله . یعنی أن من يصرخ : ” الحقني يا ملاك الله ، فإنه لا يخطىء &#8230; ونقول هذا کرد على تفاهة تفكير بعض الناس الذين ينددون بمن يستغيث بالملاك ميخائيل مثلا وينعتون مثل هذه الاستغاثة بأنها عبادة وثنية، مع أن الملائكة هم جنود الشرطة الروحية التي تحرس المؤمنين وتغيثهم . لا حرج إذا ، إن لجأت إلى جنود الشرطة السمائيين ليحموني من جنود الشر ، ولذلك نادت كنيستنا القبطية الأرثوذكسية في تعاليمها بأن التشفع والاستغاثة بالملائكة أو برئيس الملائكة هو أمر صحیح وسليم . ونحن في ذلك لا نخطىء إلى الله هذا هو عمل الملائكة المكلفين به .</p>
<p>٦- رفع صلوات المؤمنين إلى الله : فالملائكة هم الذين يقدمون صلواتنا أمام العرش الإلهي . وهذا ما أعلنه لنا يوحنا في سفر الرؤيا : « وجاء ملاك آخر عند المذبح ومعه مبخرة من ذهب وأعطی بخوراً كثيراً لكي يقدمه مع صلوات القديسين جميعهم على مذبح الذهب الذي أمام العرش » (رؤ ۸ : ٣) . والملائكة يحلون بالكنائس ويحضرون اجتماعات الصلاة . ونستدل على ذلك مما قاله بولس الرسول وهو يطلب من المرأة أن تغطي رأسها وهي تصلي : « لهذا ينبغي للمرأة أن يكون لها سلطان على رأسها من أجل الملائكة » (١كو  ۱۱ : ۱۰) . ومعنى هذا أن الملائكة يحضرون معنا في الصلوات .</p>
<p>۷- الشفاعة في المؤمنين : إن السلم الذي رآه يعقوب قديماً في حلمه والملائكة تصعد وتنزل عليه ، و يصل الأرض بالسماء ، إنما يشير إجمالا إلى عمل الملائكة فهم يحملون المعونة من السماء إلى البشر ويصعدون باحتياجاتهم في صورة طلبات وصلوات ويقدمونها إلى الجالس على العرش (تك ۲۸ : ۱۲) . ولقد تشفع الملاك مرة في أورشلیم قائلا : « يارب الجنود إلى متى أنت لا ترحم أورشليم ومدن یهوذا التي غضبت عليها هذه السبعين سنة . فأجاب الرب الملاك الذي كلمني بكلام طيب وكلام تعزية . فقال لي الملاك الذي كلمني ناد قائلا : هكذا قال رب الجنود &#8230; قد رجعت إلى أورشليم بالمراحم فبیتی یبنی فيها » (زك ۱ : ۱۲- ١٦).</p>
<p>۸- حمل أرواح الأبرار إلى الفردوس : وهذا العمل واضح في قصة الغنى ولعازر من فم السيد المسيح له المجد : &#8221; مات الغني ودفن . ومات لعازر وحملته الملائكة إلي حضن إبراهيم &#8220;(لوقا ۲۲:۱۱)<a href="#_ftn10" name="_ftnref10">[10]</a>.</p>
<h4>المتنيح القمص لوقا سيداروس</h4>
<p>أمكانيات الشياطين</p>
<p>أ) بضدها تعرف الأشياء :</p>
<p>نعلم من الأسفار أن الشيطان ملاك ساقط ، فمن ناحية طبيعته وأمكانياته فله كل ما للملائكة وإن كانت كل قدراته أصبحت ضد الله بعد ما طرح من حضرة القدير وصار روح ظلمة ونجاسة ومقاومة لكل ما يمت إلي الله بصلة . وقد وقف الشيطان - المشتكي علي جنسنا - يشتكي علي أيوب البار حتي قال الرب له &#8221; هيجتني عليه لابتلعه بلا سبب &#8220;(راجع أيوب ٢: ٣) وفي شكواه أستطاع أن ينال من أيوب فضرب كل ماله وممتلكاته وأولاده ولم يزل يشتكي عليه حتي ضربه في جسمه بقرح رديء من هامة رأسه إلي أخمص القدمين .</p>
<p>وقد حفظ الرب عقل أيوب ونفسه لكي لا يمسها الشيطان وحوط حوله بسياج النعمة لئلا يجن .</p>
<p>ب) أيضاً من حيث أنه روح غواية :</p>
<p>حيث أغوي داود أن يعد الشعب ويقع في معصية أمام الله إذ أن الشعب محسوب أنه شعب الله وليس لانسان ، وقد رأي ميخا النبي بن يمله في أيام آخاب ملك اسرائيل - رأي الشيطان يقول لله أنه يستطيع أن يغوي آخاب بان يصعد إلي راموت جلعاد حيث ينكسر أمام الاراميين &#8221; فقال الروح &#8221; النجس &#8221; أدخل في أنبيائه وأكون فيهم روح كذب &#8221; فقال الرب للشيطان أنك تستطيع وتقتدر .</p>
<p>ج) من حيث أنه روح محارب :</p>
<p>فهو أعطي سلطان في آخر الأيام أن يحارب القديسين ويغلبهم وهو صانع الخصومات والحروب والأهوال .</p>
<p>د) من حيث أنه مجرب</p>
<p>فلم ينج من تجربته ولا واحد من القديسين حتي أنه تجرأ وجرب وبالمجد بتجربة الخبز وجناح الهيكل ومجد العالم بل وقيل أيضاً &#8221; ولما أكمل أبليس كل تجربة &#8220;(لو ٤: ١٣) .</p>
<p>بل أنه طلب أن يغربل التلاميذ كالحنطة &#8221; قبل الصليب &#8221; لولا طلب رب المجد يسوع من أجل سمعان لكي لا يفني إيمانه (راجع لو ٢٢: ٣٢) .</p>
<p>ه) من حيث أنه روح كذب :</p>
<p>وجميع مشوراته كاذبة بل أنه كذاب وأبو الكذاب كما قال الرب (يو ٨: ٤٤) .</p>
<p>ر) من حيث أنه روح ضلال :</p>
<p>فقد كتب عنه يوحنا الحبيب &#8220;وكما سمعتم أن ضد المسيح يأتي قد صار الآن أضداد للمسيح كثيرون &#8220;(١يو ٢: ١٨) بل أن كل روح لا يعترف بيسوع المسيح آتياً في الجسد فهو روح البدع والهرطقات .</p>
<p>ز) وهو روح الفساد والهلاك :</p>
<p>كما فعل بالذين تسلط عليهم ، فكانوا يربطون بسلاسل وقيود فيكسرونها ويسكنون في القبور ويلقيهم في النار وآخرون مثل المجنون الأعمي الأخرس والمرأة التي ربطها الشيطان ١٨ سنة ومجنون كورة الجدريين وأبنة المرأة الكنعانية …</p>
<p>خ) وهو غير الرحيم :</p>
<p>كما تسميه الكنيسة بل أنه يجول كأسد زائر ملتمس من يبتلعه وقد سمي في الكتاب بالحية القديمة ، مملوء سماً وممتليء كل غش .</p>
<p>هذه بعض الأمكانيات التي للشيطان وبعض المواقف التي يتخذها الشيطان تجاه الإنسان ، حقاً لقد كان من البدء قتالاً للناس .</p>
<p>قدرة الملائكة وعملهم</p>
<p>فان كان هذا للروح النجس المقاوم ، فعلي الصعيد الآخر تكون بالأولي قدرة الملائكة وعملهم كارواح مقدسة منيرة تعمل لحساب الله .</p>
<p>باركوا الرب يا جميع ملائكته المقتدرين في قوتهم الصانعين ارادته عند سماع صوت كلامه .</p>
<p>أليس جميعهم أرواحاً خادمة مرسلة للخدمة للعتيدين ان يرثوا الخلاص انهم يخدمون خلاصنا من كل جهة ، يساعدوننا ويحوطوننا &#8221; ملاك الرب يحوط بكل خائفيه وينجيهم &#8220;(مز : ) يشفعون فينا ويطلبون عنا ويصعدون صلواتنا تذكاراً أمام الله يرفعون صلوات القديسين من مجمرة البخور بيد الملاك .</p>
<p>وقد يكون من المفيد لتعزيتنا أن لا نهون من عمل الشيطان وقدرته وحروبه وشكواه وفساده ولكن أن ندرك ما رآه تلميذ اليشع النبي وصرخ به حين انفتحت عيناه فرأي جيش الملائكة فقال &#8221; ان اللذين معنا اكثر من اللذين علينا &#8220;(٢مل ٦: ١٦) اليست هي الحقيقة .</p>
<p>بل ان هناك عديد من الحقائق نذكر منها :-</p>
<p>١- فان اشتكي الشيطان علي ايوب أمام الله ، فبالأولي يكون العكس لربوات الملائكة القائمين أمام عرش الله نهاراً وليلاً يشفعون في أيوب ويزكونه انه رجل بار ومستقيم يتقي الله ويحيد عن الشر ، ويقفون ضداً لشكوي الشيطان علي هذا البار . فبرغم ان الشيطان مد يده فاساء الي أيوب واملاكه …الخ بسماح من الله فان الرب عاد وبارك آخرة ايوب اكثر من اولاده ورد له ماله مضاعفاً ولسنا نستبعد ان شفاء ايوب من قرحة الردي كان بيد ملاك بلمسة واحدة مثلما كان يحرك الملاك الماء في بركة بيت حسدا وكان من ينزل اولا بعد تحريك الماء يبرأ من أي مرض اعتراه .</p>
<p>٢- وإن كان الشيطان يعمل عمله في الغواية وزرع الزوان في الفكر والقلب فكم بالأولي -علي العكس- يكون الملاك في قدرته علي الشهادة للحق فقد وقف ملاك الرب امام بلعام لكي يمنعه من محبة اجرة الاثم (راجع عدد ٢٢: ٣١) .</p>
<p>٣- لقد عاق الشيطان جبرائيل الملاك من ان يصل الي دانيال ٢١ يوماً الي ان جاءه رئيس الملائكة ميخائيل للمعونة . (راجع دا ١٠: ١٣) .</p>
<p>٤- ان ما نطق به الروح نعم يهوذا الرسول يلقي ضوءاً كافياً علي عمل الشيطان في الضلالة وعنفه وقسوته ومن جهة أخري جبروت رئيس الملائكة الجليل ميخائيل &#8221; واما ميخائيل رئيس الملائكة فلما خاصم ابليس محاجاً عن جسد موسي لم يجسر ان يورد حكم افتراء بل قال لينتهرك الرب &#8221; (يهوذا ١: ٩)</p>
<p>فابليس وهو ابو الضلالات أراد أن يظهر جسد موسي الذي أخفاه الله عن بني اسرائيل لكي يتعبد له بنو اسرائيل يقودهم الشيطان الي الضلال .</p>
<p>فارسل الله رئيس الملائكة ميخائيل الذي تفسير اسمه قوة الله العظيم ولم يتكلم من ذاته بل خزي الشيطان امام عبارة رئيس الملائكة &#8221; لينتهرك الرب &#8221; .</p>
<p>٥- بل ان الملائكة تقدم معونات متنوعة في الصلاة ، وملاك يصعد الصدقات والأصوام ، وملاك يرفع الصلوات وملاك يرافق المذبح وملاك ذبيحة معونة وملاك حارس …</p>
<p>رؤيا عجيبة</p>
<p>رأي إشعياء النبي السيد الرب جالس علي كرسي عالٍ ومرتفع وأذياله تملأ الهيكل والساروفيم بأجنحتهم الستة يسبحون تسبحة الثلاث تقديسات وقد أمتلأ الهيكل (السماء) والأرض من مجد الرب وتزعزعت أساسات العتب .</p>
<p>وارتاع أشعياء النبي أمام المنظر الآلهي وشعر بالتضاؤل في روحه أمام هيبة الرب ومجده العظيم وخدمة الملائكة الذين يسبحونه بأصوات لا تسكت وأفواه لا تفتر يباركون بهاء عظمة مجده غير المنظور ولا المنطوق به .</p>
<p>ورأي بهاء مجد الله ، وفي نور مجده رأي كثرة خطاياه وحقارة طبيعته ، اكتشف ذاته في النور فصرخ بتلقائية روحية من عمق كيانه وقال :&#8221; ويل لي اني هلكت لأني انسان نجس الشفتين &#8220;(اش ٦: ٥) إذ اعتراه خوف ورهبة ووجد نفسه لا يستحق حتي أن ينطق بشفتين نجستين أمام عرض الله .</p>
<p>ويذكر إشعياء النبي أنه حالما نطق باعترافه وهو واقف أمام كرسي القدير أن طار واحداً من الساروفيم أخذاً جمرة بالملقط من علي المذبح ومس بها فم إشعياء وقال :&#8221; إن هذه مست شفتيك فانتزع اثمك وكفر عن خطيتك &#8220;(اش ٦: ٧)</p>
<p>والمعروف أن السيرافيم &#8221; المتقدون بالنار &#8221; خدام العرش الآلهي ليس لهم عمل سوي التسبيح الدائم ولكن علي غير المألوف طار واحد منهم ليقدم هذه المعونة الآلهية لاشعياء النبي ، انهم يرثون لحالنا ليس بالمشاعر والكلمات كما يفعل البشر ولكن يقدمون علي خدمتنا بقوة ومعونة مباشرة حقيقية والأمر جد خطير اذ يختص بغفران الخطايا وانتزاع الاثم &#8221; فانتزع اثمك وكفر عن خطيتك &#8220;(اش ٦: ٧) وغافر الخطايا هو الله وحده بجمرة النار من علي المذبح التي هي الجسد المقدس كما يقول القداس فهل يحتاج الي ملاك كوسيط ؟</p>
<p>إن الملاك هو خادم للخلاص ، صانع ارادة محب البشر فما من مرة نقف أمام كرسي الله لنقدم سؤال الصلاة ونطرح نفوسنا لدي عرش نعمته مظهرين ضعفنا وحقارة طبيعتنا إلا ويطير الملاك لمعونتنا يشجع ويسند ويقدم معونة .</p>
<p>خدمة الملائكة</p>
<p>سند دانيال :</p>
<p>كان الملاك يخاطب دانيال النبي قائلاً &#8221; ايها الرجل المحبوب &#8220;(دا ١٠: ١١) وهذا يكشف عن مدي فرح الملائكة ومشاركتهم للذين صاروا احباء الله ومرضيين عنده ، وكان الملاك يلمس دانيال وهو ساجد الي الارض في صلاته المنسحقة بالروح ، حتي لم يكن يضبط قوة وكان حينما لمسه الملاك أن شعر بقوة تسري في جسمه ووقف علي قدميه ، وقد سمع دانيال صوت ابن الانسان يقول &#8221; يا جبرائيل فهم هذا الرجل الرؤيا &#8220;(راجع دا ٨: ١٦)</p>
<p>ترفع صلواتنا وصدقاتنا :</p>
<p>وهذا معروف ان الملائكة هي التي تصعد تذكار صلواتنا وتذللنا أمام الله فقد قال الملاك لكرنيليوس &#8221; صلواتك وصدقاتك صعدت تذكار أمام الله (اع ١٠: ٤) .</p>
<p>وقد أرشد الملاك كرنيليوس الي طريق الخلاص قائلاً له ان يستدعي سمعان بطرس ليسمع منه كلمة الحياة (راجع اع ٠: ٥) .</p>
<p>ترشدنا للكرازة :</p>
<p>وهذا يتضح حينما كلام &#8221; ملاك الرب فيلبس قائلاً قم واذهب نحو الجنوب علي الطريق المنحدرة من اورشليم الي غزة التي هي برية &#8220;(اع ٨: ٢٦)</p>
<p>تفرح بتوبتنا ويشفعون فينا :</p>
<p>ان الرب يسوع قد اوضح هذا الفرح حينما قال &#8221; هكذا اقول لكم يكون فرح قدام ملائكة الله بخاطيء واحد يتوب &#8220;(لو ١٥: ١٠) فان كانت توبتنا تفرح الملائكة فانهم بالأولي يكونون شفعاء للخطاة أمام عرش النعمة ، ومشجعون لعمل التوبة ومحرضون عليه كل من تتحرك نياتهم للسعي في الطريق الضيق .</p>
<p>يسندوننا في جهادنا :</p>
<p>ان طريق الصوم والنسك محفوف بالملائكة تسند وتشجع فإيليا قبل صومه أربعين يوماً ايقظه الملاك واطعمه ثم عاد فايقظه مرة أخري في شفقة بالغة قائلاً ان المسافة بعيدة عليك اذا كان إيليا مزمعاً ان يصوم اربعين يوماً (راجع ايل ١٩: ٨) .</p>
<p>وفي برية الصوم حيث صام ربنا اربعين يوماً كانت الملائكة تخدمه (مت ٤: ١١) .</p>
<p>وفي بستان الصلاة الرهيب ، جثيماني حيث كان الرب راكعاً علي الأرض وعرقه يتصبب كقطرات الدم وهو يخدم خلاصنا ويقدم ذاته ذبيحة بخضوع وتسليم مطلق ظهر له ملاك ليقويه (انظر لوقا ٢٢: ٤٣)</p>
<p>وزكريا الكاهن وهو يرفع بخور الصلاة علي مذبح البخور رأي جبرائيل المبشر واقفاً في مكانه التقليدي &#8221; عن يمين مذبح البخور &#8220;(لو ١: ١١)</p>
<p>ماذا بعد ؟ تري بوضوح أن خلاصنا الذي أكمله الرب بصليبه مخدوم من الملائكة ومعلوم ان كل مولود من المعمودية تصحب حياته ملائكة النور (صلاة المعمودية) لتخلصه من كل مصادفة رديئة ومن كل سهم شيطاني ومن امر يسلك في الظلمة تحقيقاً لما هو مكتوب انه يوصي ملائكته بك ليحفظونك (مز ٩١: ١١) . وان ملاك الرب يحوط بكل خائفيه ينقذهم وينجيهم (مز ٣٤: ٧) . وقد كان هذا التقليد معروفاً من أيام الكنيسة الأولي كما حدث عند خروج بطرس من السجن قالوا انه ملاكه .</p>
<p>خدمة الملائكة في الضيقات</p>
<p>يرسل الرب ملائكته ليخلص مختاريه من التجارب والضيقات من أجل هذا نطلب معونتهم وشفاعتهم المقبولة لدي الله ، ونطلب مؤازرتهم في وقت الشدة ، والكتاب المقدس مليء بعديد من معونات الملائكة .</p>
<p>فلقد شهد دانيال للملك داريوس قائلاً &#8221; إليه ارسل ملاكه وسد أفواه الأسود فلم تضرني &#8220;(دا ٦: ٢١)</p>
<p>وقد ارسل الرب ملاكه وخلص حزقيا الملك وأروشاليم المحاصرة من جيش سنحاريب عندما صلي عنهم إشعياء النبي ، فأهلك الملاك ١٨٥ الف من جيش سنحاريب في ليلة واحدة (أش ٣٧: ٣٦)</p>
<p>وقد قال يعقوب أبو الأسباط وهو يبارك ابني يوسف الملاك الذي انقذني من كل شر يبارك الغلامين &#8221; (تك ٤٨: ١٦) .</p>
<p>يحملون أرواح الصديقين</p>
<p>الملائكة مكلفة أيضاً بحمل أرواح الصديقين إلي المساكن العلوية &#8221; مات لعازر وحملته الملائكة إلي حضن إبراهيم &#8220;(لو ١٦: ٢٢) .</p>
<p>ويستحيل أن نضع تحت حصر امكانيات الأرواح المقدسة التي للملائكة الأطهار ومدي العلاقة التي صارت لنا بهم في المسيح يسوع الذي صالح السمائيين مع الأرضيين وجعل الاثنين واحداً .</p>
<p>وقد قالها الرب بوضوح شديد &#8221; من الآن ترون السماء مفتوحة وملائكة الله صاعدة ونازلة علي ابن الإنسان (يو ١: ٥١) فكيف بعد كل هذا ننكر عليهم قربهم ومؤازرتهم الروحية بالصلاة والأقتدار والعمل الذي يعملونه مع المؤمنين والنعمة التي تنحدر الينا من العلاء بيد الملائكة الأطهار . انها خسارة عظيمة للذين ينعزلون بنفوسهم بعيداً عن الملائكة والقديسين ، ليس في تعاليمهم فقط بل وفي واقع حياتهم صاروا بلا شركة مع الملائكة وبلا قرب من القديسين .</p>
<p>وعلتهم في هذه إنهم يكتفون بالرب وحده ويرددون القول &#8221; لنا شفيع واحد ووسيط واحد بين الله والناس الأنسان يسوع المسيح &#8221; . وواقع الأمر أن المسيح له المجد - كإله ورب الكل - محاط بملائكته وربوات قديسيه فالملائكة تخدمه بلا فتور ويسبحونه بلا انقطاع وهو ممجد ومسبح في جميع قديسيه .</p>
<p>وفي مجيئه الثاني يقول &#8221; ومتي جاء ابن الانسان في مجده وجميع الملائكة معه &#8220;(مت ٢٥: ٢١) . فهل يعقل ان نعرف المسيح له المجد وليس لك شركة مع القديسين والملائكة الذين معه ؟!</p>
<p>ما أجمل تعبير الرسول بولس عن كنيسة العهد الجديد حين قال &#8221; لأنكم لم تأتوا إلي جبل ملموس مضطرم بالنار والي ضباب وظلام وزوبعة وهتاف بوق وصوت كلمات استعفي الذين سمعوه ان تزاد لهم كلمة … بل قد أتيتم إلي جبل صهيون وإلي مدينة الله الحي أورشليم السماوية وإلي ربوات هم محفل ملائكة وكنيسة أبكار مكتوبين في السموات وإلي الله ديان الجميع وإلي أرواح أبرار مكملين في المجد وإلي وسيط العهد الجديد يسوع (عب ١٢) .</p>
<p>كمال الكنيسة</p>
<p>هذه هي الكنيسة في كمالها وجلالها بيسوع المسيح فاديها وربوات الملائكة وأرواح القديسين الأبرار المكملين والأبكار المختارين من العالم .</p>
<p>ليكن لنا نور وفرح بهذه الشركة المقدسة ولتكن حياتنا مؤازرة بسحابة الشهود المحيطة بنا وليكن خلاصنا مخدوماً من الملائكة الأطهار كل حين حتي نصل إلي ميناء السلام<a href="#_ftn11" name="_ftnref11">[11]</a>.</p>
<h4> المتنيح القمص تادرس البراموسي</h4>
<p>أما الحنطة فأجمعوها في مخازني( مت ١٣ : ٢٤- ٤٣ )</p>
<p>أراد الرب يسوع أن يدخل الكلمة فى أذهاننا بشتى الطرق بالمعجزات والعظات وبالأمثلة ولم يترك باب إلا وطرقه وقال هكذا أنا على الباب أقرع إن سمع أحد صوتي وفتح الباب أدخل إليه أتعشى معه وهو معی (رؤ ۳-۲۰) . ما أعجبك يا رب وما أجمل صوتك حينما يرن في أذني كل يوم وبل كل لحظة يخبرني بأخبار جميلة ييقظني من غفلتي . ويقول كن دائماً حذراً على نفسك لئلا تسقط . الأعداء من حولك لكني أنا معك عيني عليك . يا سلام يا إلهي . أنا لا أستاهل هذا العطف وهذا الحب . أنا إنسان غضود غير محب وغير محتمل أعطى نعمة يا رب لنعيش حسب قصدك ونعمل حسب ما يرضيك لا تتركني يا رب ولا تتخلى عنى تخف أنا الرب حارسك لا أتركك ولا أهملك اليوم يقدم لنا الرب يسوع مثل حبه الخردل . الكرازة بإسم الرب يسوع والحقل بالخليقة وطيور السماء بالشعوب الأممية فمن هذا المثل يتضح أن مفعول البشارة بالإنجيل في بدايتها كان قليلاً وضعيفاً جداً لأنه في الكتاب المقدس ذكر عن الصلب والآلام . الموت فكل هذا يبعد الضعفاء عن الإيمان بالمسيح خوفاً من الآلام والموت لكنها بالرغم من ذلك نمت وأزدهرت وعظم شأنها وأنتشرت في كل العالم وكل الممالك حبه الخردل التي تنمو أكثر من كل الحبوب الأخرى بالرغم من صغر حجمها . وخواص الخردل كثيرة منها : أولاً أنها صغيرة وإذا نمت صارت شجرة يستظل تحتها وهكذا البشارة بالإنجيل ، ثانياً إن حبه الخردل لا تنقسم إلى قسمين مدورة وملساء هكذا البشارة فهى صحيحة وغير منشقة مثل باقي الحبوب هكذا الكرازة بالثالوث القدوس فإنها تعلمنا أن لها طبيعة واحدة غير منقسمة وكما أن حبه الخردل غير متجزئة هكذا يجب علينا أن لا نتجزأ أو نبعد عن محبة الله ومحبة بعضنا بعضاً ، ثالثاً إن حبه الخردل أحر وأشد حرارة من النباتات الأخرى هكذا أن المؤمنين يجب أن يكونوا حارين في الروح ، رابعا الذي يسحق الخردل تدمع عيناه هكذا من يقاوم البشارة أو يضطهد الخدام سوف يبكى فى يوم الدينونة، خامسا إن حبه الخردل تحفظ الجسد من النتانة هكذا الكرازة بالإنجيل فإنها تبعد عن النفس نتن الخطية . سادسا : حيث يزرع الخردل تباد المزروعات الأخرى وهكذا الكرازة بالإنجيل فإنها تبيد زراعات الهراطقة ، سابعاً إن حبه الخردل حمراء فإحمرارها يشير إلى أن المسيحية من يؤمن بها لا يهمه الموت ولا الإستشهاد ولا سفك الدماء ولا الضيقات ولا الشدائد ، ثامنا إذا أختلط الخردل ببعض المأكولات تصل إلى المفاصل وهكذا الكلام عن الإيمان يجب أن يدخل إلى أعماق القلوب ، تاسعاً إن الخردل يهضم الأكل وينقى الجوف هكذا يجب علينا أن نتنقى من الخطية بواسطة التعب والجهاد وقمع الجسد كما قال بولس الرسول أقمع جسدى وأستعبده كل يوم (١كو ٩ : ٢٧) وبذلك نقدر وننتصر ونقول للرب يسوع . امسك يدي وقدني كما تشاء وحينما تسير خدنا معك <a href="#_ftn12" name="_ftnref12">[12]</a>.</p>
<h3>السنكسار</h3>
<p>مساندة الملائكة للشهداء</p>
<p>شهر توت</p>
<p>اليوم الثامن من شهر  توت</p>
<p>وفيه استشهد القديس ديميدس من أهل درشابة من كرسى دنطر ( طنطا ) ، ومان محبا للبيعة عطوفا على المساكين مفتقدا للمرضى ، فظهر له انسان نورانى وأنهضه ، وأمره أن يمضى وينال اكليل الشهادة ، ووعده بجوائز سمائية ففرح جدا  وترك أبويه  ، وعذب عذابا شديدا وظهر له السيد المسيح ، وعزاه وقواه ووعده بالراحة الأبدية فابتهجت نفسه ونال اكليل الشهاده</p>
<p>اليوم الحادى عشر من شهر توت :</p>
<p>وفيه شهادة القديس واسيليدس الذى كان وزيرا ومطهرا لمملكة الروم ، ولكنه ترك منصبه ، بعد أن استولى دقلديانوس على الحكم ، وحينما تقدم واسيليدس الى الملك ، يعرفه بأنه اختار طريق المسيح فنفاه الى أرض مصر ومنها الى الخمس مدن الغربية حيث تعجب واليها ماسورس من تركه مملكته ومجده</p>
<p>وقد أرسل السيد المسيح ملاكه وأصعده بالروح الى السماء وأراه المنازل الروحانية فتعزت نفسه جدا  وعذبه ماسورس لقبول المسيحية ولكنه لم يتزعزع عن رأيه وأمر أن يقطع رأسه المقدس ونال اكليل الشهادة</p>
<p>شهر هاتور</p>
<p>اليوم السابع من شهر هاتور :</p>
<p>وفيه استشهد القديس نهروه من بلاد الفيوم ، الذى لما سمع بأخبار الشهداء ، ذهب الى الأسكندرية ، ليموت على اسم السيد المسيح ، فقيل له فى رؤيا لابد لك أن تمضى الى أنطاكية ، وفيما هو يفكر كيف يذهب ، منتظرا سفينة ذاهبة ، أرسل له الرب الملاك ميخائيل فحمله على أجنحته من الأسكندرية الى أنطاكية ، وأوقفه أمام دقلديانوس الملك الوثنى واعترف قدامه بالسيد المسيح ، فسأله عن اسمه وبلده ، ولما عرف طريقة حضوره ، عرض عليه جوائز كثيرة ليرجع عن ايمانه ، فرفض ، فعذبه كثيرا ، وأخيرا قطعوا رأسه بحد السيف ونال اكليل الشهادة</p>
<p>اليوم السادس والعشرون من شهر هاتور</p>
<p>وفى هذا اليوم استشهد القديس بالاريانوس وأخوه من أهل رومية ، وكانا ابنين لوالدين وثنيين ، وقد تزوج بالاريانوس من ابنة رجل من الأكابر اسمها كليكية بارعة الجمال ، وكانت مسيحية فى السر ، وجعلته يؤمن بالسيد المسيح ، واعتمد وعلم أخاه ، فآمن هو أيضا ، وسارا فى الفضيلة سيرا أهله لأن تناجيه الملائكة بما يريد وتخبره بما سيكون من الأسرار</p>
<p>وقد وشى بهما أحد الأشرار لدى حاجب الملك دقلديانوس ، الذى أحضرهما ووعدهما بمواعيد جزيلة ، ان كفروا بالمسيح ، وذبحوا للأوثان فلم ينخدعا ، فهددهما فلم يروعهما ذلك ، وأمر بقطع رأسهما فرأى الحاجب ملائكة يحملون نفسيهما الى السماء فآمن فى الحال بالسيد المسيح ، فحبسوه ثلاثة أيام ، وفى اليوم الرابع أخرجوه ، وقطعوا رأسه مع رأس كيليكية زوجة بالاريانوس</p>
<p>اليوم الثامن والعشرون من شهر هاتور</p>
<p>فى هذا اليوم استشهد سرابامون أسقف نقيوس ، وقد ولد بأورشليم ولما توفى والده ، اشتهى أن يصير مسيحيا ، فظهر له ملاك الرب وأمره أن يمضى الى الأنبا يوحنا أسقف أورشليم ، الذى خاف أن يعمده بسبب اليهود ، فظهرت له العذراء ، وعرفته أن يمضى الى مدينة الأسكندرية ، ويذهب الى القديس ثاؤنا بابا الأسكندرية السادس عشر ، فمضى وصحبه فى طريقه ملاك الرب فى زى انسان ،حتى وصل الى الأسكندرية وقصد البطريرك الذى وعظه وعمده ثم ترهب فى دير الزجاج ثم رسم أسقفا على نقيوس</p>
<p>كيهك</p>
<p>اليوم الخامس من شهر كيهك</p>
<p>وفى هذا اليوم استشهد القديس بقطر وولد باحدى بلاد أسيوط ، وعين جنديا ببلدة &#8221; شو &#8221; وفى هذه الأثناء صدر مرسوم دقلديانوس بالسجود للأصنام والتبخير لها ، وقد امتنع القديس عن ذلك الأمر وحاول معه والى &#8221; شو &#8221; ولما عجز عن رده عن الايمان المسيحى ، غضب عليه وأرسله الى أمير أسيوط ، الذى حاول معه الا أن القديس صرخ بأعلى صوته : &#8221; العالم يزول والذهب يتغير ، ولذا يجب على أن لا أترك سيدى يسوع المسيح خالق السموات والأرض &#8221; فغضب الوالى وأمر أن  يربط خلف الخيل ، وتسرع به فى الصعود الى تربة تسمى &#8221; أبيسيديا &#8221; وهناك عرض عليه ثانية أن يسجد للأصنام فلم يطعه ، فأمر بقتله فى مستوقد حمام قرية موشا فلما ذهبوا به ، طلب من الجند ، أن يدعوه ( يتركوه ) يصلى أولا ، فبسط يديه وصلى الى الرب ، فظهر له ملاك الله  ووعده بمواعيد كثيرة وبالخيرات الوفيرة الدائمة فى ملكوت السموات  ثم التفت القديس الى الجند ، وقال لهم ، كملوا ما قد أمرتم به فأوثقوه فى مستوقد الحمام ، فنال اكليل الشهادة</p>
<p>اليوم الثامن من شهر كيهك</p>
<p>فى هذا اليوم استشهد القديس ايسى ، وتكلا أخته ، وكان ذا مال كثير ، وزراعة وأغنام ، وكان يتصدق على المساكين بثمن ما يجزه من غنمه وقد اتفق مع صديق له يدعى بولس ، على أن يقوما باعانة القديسين المسجونين بسبب الاضطهاد ، وقد تنبأ عنهما بعض القديسين بأنهما سينالان اكليل الشهادة</p>
<p>وتقدم ايسى الى الوالى واعترف بالسيد المسيح ، فأمر بتعذيبه بأشد أنواع العذابات ، التى منها أن يعرى ويكتف ويعصر ، ثم تجعل مشاعل نار فى جنبيه وأن يطرح على الأرض ويضرب بالسياط ، وتقطع أعضاؤه ، وكان صابرا على هذا جميعه وكان ملاك الرب يحوط به ويشفى جراحاته ، وكان بولس صديقه يبكى من أجله وظهر ملاك الرب لأخته تكلا وأمرها أن تمضى الى أخيها ، فركبت احدى المراكب فظهرت لها فيها العذراء والدة الاله وأليصابات نسيبتها وجعلتا تعزيانها فى أخيها ، فكانت أليصابات تقول لها أن لى ولدا قد أخذوا رأسه ظلما ، وقالت لها البتول أن لى ولد صلبوه حسدا ، وكانت تكلا لا تعرف من هما</p>
<p>ولما التقت بأخيها واعترفت بالسيد المسيح عذبها الوالى أشد عذاب ثم أسلمها الى ولده ليذهب بهما الى الصعيد ، فلما سارت بهم المركب قليلا سكنت الريح ، فوقفت المركب فأمر أن تؤخذ رأسا أيسى وتكلا أخته ، ويطرحا فى الشوك والحلفا ، فكان كذلك ونالا اكليل الشهادة</p>
<p>اليوم الرابع عشر من شهر كيهك</p>
<p>أما القديس أمونيوس فقد ظهر له ملاك الرب وهو فى البرية وقال له : السلام لك يا أمونيوس ، الرب قبل صلواتك عن شعبك ، وهيأ لك ولشعبك الأكاليل ، فقم وانزل وعظهم أن يثبتوا على الاعتراف بالسيد المسيح وأعطاه السلام وانصرف عنه ، ولما أعلم الشعب بذلك صاح الجميع نحن يا أبانا على استعداد أن نتحمل على اسم السيد المسيح كل عذاب حتى الموت ، فصعد بشعبه كله الى جبل كاتون الذى تأويله جبل الخيرات واحتفلوا هناك بعيد القديس اسحق</p>
<p>أما أريانوس فواصل مسيرته فى قتل كل من يجده من المسيحيين ، حتى وصل الى الجبل ، وهناك قابله الشعب بصوت واحد قائلين ، نحن مسيحيون ، فهددهم واذا لم يسمعوا لتهديده أمر جنده أن يستلوا سيوفهم ولا يبقوا على أحد منهم ، وكان الجميع يتقدمون الى السياف قائلين نحن ماضون الى الفرح الدائم فى ملكوت السموات</p>
<p>أما الأسقف فانهم قبضوا عليه ، وأحضروه أمام أريانوس فأمر بغضب أن يربط خلف الخيل ثم أخذه معه الى أسوان ووضعوه فى مؤخرة المركب وكان أريانوس يخرجه من حين لآخر يطلب منه أن يبخر للآلهه ، فرفض وأخيرا أمر بحرقه فنال اكليل الشهادة <a href="#_ftn13" name="_ftnref13">[13]</a></p>
<h3>من وحي قراءات اليوم</h3>
<p>&#8221; يشبه ملكوت السماوات انسانا زرع زرعا جيدا في حقله&#8230; يشبه ملكوت السماوات حبة خردل &#8230;يشبه ملكوت السماوات خميرة اخذتها امراة &#8221;          إنجيل القدَّاس</p>
<p>( الملكوت في واقعنا اليومي )</p>
<p>+ أعطي الله أمثال الملكوت من واقع الناس اليومي وأعمالهم وأشغالهم</p>
<p>+ لكي يوضِّح لهم أن الملكوت يمكن أن يعيشوه في حياتهم البسيطة وفِي أي نوع عمل وفِي بيوتهم وفِي كل نواحي وأشكال الحياة</p>
<p>+ لذلك شبّه الملكوت بالفلَّاح ( مثل الزارع والحنطة والزوان ) والتاجر ( مثل اللؤلؤة كثيرة الثمن ) والصياد ( الشبكة المطروحة في البحر ) وراعي الخراف ( الخروف الضال )</p>
<p>+ والمرأة في بيتها ( الخميرة ) والعذاري المُتبتِّلات ( مثل العذاري الحكيمات والجاهلات )</p>
<p>+ أي أن الملكوت لا يخصُّ فئة مُعينة من الناس ولا أماكن معينة ( أديرة أو بيوت الناس )</p>
<p>+ ولا توجد وظائف معينة تتعارض مع حياة الملكوت ( مثل أعذار البعض في البيع والشراء والتجارة )</p>
<p>+ وإذا تكلَّم رب المجد اليوم عن الملكوت كان يُمْكِن أن يُشبِّهه بطبيب ومدرس وعامل في مصنع وممرضة وأستاذ جامعي وعامل نظافة</p>
<p>+ وكان يمكن أن يُشبِّهه بإنترنت وقنوات تليفزيونية وفيس بوك</p>
<p>+ أي أن الملكوت يمكن أن يعلنه أي مكان وأي وظيفة وأي إختراع جديد</p>
<p>+  وكل شئ يتوقف علي الإنسان الذي يُمكنه أن يُعْلِن الملكوت أو أن لا يعلنه</p>
<hr />
<p><a href="#_ftnref1" name="_ftn1"></a>٢٢- العلامة أوريجانوس - تفسير عبرانيين ١ - القمص تادرس يعقوب ملطي</p>
<p><a href="#_ftnref2" name="_ftn2"></a>٢٣- المرجع : تفسير سفر أيوب ( الإصحاح الأول ) - القمص تادرس يعقوب ملطي</p>
<p><a href="#_ftnref3" name="_ftn3"></a>٢٤- كتاب إطلالات علي تراث الأدب القبطي صفحة ١٩٨ - ترجمها عن القبطية الدكتور صموئيل القس قزمان معوض</p>
<p><a href="#_ftnref4" name="_ftn4"></a>٢٥- القديس يوحنا ذهبي الفم - تفسير الرسالة إلي العبرانيين ( صفحة ٦٣ ) - ترجمة دكتور سعيد حكيم يعقوب</p>
<p><a href="#_ftnref5" name="_ftn5"></a>٢٦- تفسير سفر أعمال الرسل ( الإصحاح الثاني عشر ) - القمص تادرس يعقوب ملطي</p>
<p><a href="#_ftnref6" name="_ftn6"></a>٢٧- المرجع : تفسير سفر إرميا ( إصحاح ٥١ ) - القمص تادرس يعقوب ملطي</p>
<p><a href="#_ftnref7" name="_ftn7"></a>٢٨-  كتاب الكرازة الرسولية للقديس إيرينيوس ( صفحة ١٦٧ ) - ترجمة دكتور نصحي عبد الشهيد ودكتور جورج عوض إبراهيم</p>
<p><a href="#_ftnref8" name="_ftn8"></a>٢٩- كتاب الملائكة (صفحة ٢٥) - دكتور موريس تاوضروس</p>
<p><a href="#_ftnref9" name="_ftn9"></a>٣٠- كتاب دراسات في الكتاب المقدس - إنجيل متي صفحة ١٨١ - الأنبا أثناسيوس - مطران كرسي بني سويف والبهنسا</p>
<p><a href="#_ftnref10" name="_ftn10"></a>٣١- المرجع : كتاب السماء ( صفحة ١١٢ ) - الأنبا يؤانس أسقف الغربية</p>
<p><a href="#_ftnref11" name="_ftn11"></a>٣٢- كتاب محفل الملائكة وسحابة الشهود ( صفحة ٤٣ ) - القمص لوقا سيداروس</p>
<p><a href="#_ftnref12" name="_ftn12"></a>٣٣- المرجع : كتاب تأملات وعناصر روحية في آحاد وأيام السنة التوتية ( الجزء الثالث -  صفحة ٤٥ ) - إعداد القمص تادرس البراموسي</p>
<p><a href="#_ftnref13" name="_ftn13"></a>٣٤-: كتاب السنكسار ( الجزء الأول صفحات ٢٤ ، ٢٧ ، ٢٨ ، ١١٤ - ١١٨ ، ١٥٥- ١٥٦ ، ١٥٨ - ١٥٩ ، ١٧٢ ، ١٨٠ - ١٨١ ، ٢٠٢ - ٢٠٣ ) - إصدار مكتبة المحبة</p>

      {% endcreateArticleAccordions %}
    </section>
  {% endblock %}
