---
layout: 'layouts/reading.html'
title: 'اليوم السابع عشر من هاتور'
permalink: annual/3-17.html
---
  {% block content %}
    <section id="readings">
      <ul>
      {% if 'undefined' != 'undefined' %}
      
      {% else %}
      {% if '19.132:9,10,17,18' != 'null' %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">العشية</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeVespers '19.132:9,10,17,18' '40.4:23-25*@+40.5:1-16' %}
          </div>
        </div>
      </li>
      {% endif %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">باكر</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeMatins '19.110:4-6' '42.6:17-23' '' %}
          </div>
        </div>
      </li>
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <h3 class="flex items-center justify-between">
            <span class="kufi">القداس</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </h3>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeLitugy '55.3:10-17*@+55.4:1-22' '60.5:1-14' '44.20:17-38' '19.73:23,24,28*@+19.9:14' '43.10:1-16' %}
          </div>
        </div>
      </li>

      {% endif %}
        </ul>
    </section>
    <section id="article">
      <h3 class="mt-8 mb-4 heading-explain">شرح القراءات</h3>
      {% createArticleAccordions %}
        <p>&#8221; لأنه هكذا قال السيد الرب: هأنذا أسأل عن غنمي وأفتقدها &#8221;</p>
<p>(حز ١١:٣٤)</p>
<p>الرعاة إضبطهم &#8230;.. أَعْط بهاء للإكليروس</p>
<p>طلبات القدَّاس الغريغوري</p>
<p>&#8221; أيها الراعي النشيط، أطلب الضال، واحمله على منكبيك بفرح، فتقدر على شفاء الأمراض المميتة المؤلمة، فالمحبّة تعظِّم الجبابرة وهي موهبة الطبيب<a href="#_ftn1" name="_ftnref1">[1]</a> &#8221;</p>
<p>&#8221; تأمَّل من أي نوع ينبغي أن يكون عليه هذا الكاهن؟!</p>
<p>يلزم أن يكون مبجَّلًا، لكنَّه متحرِّر من الكبرياء!</p>
<p>ويكون مُرهبًا&#8230; لكنَّه حنون!</p>
<p>ويكون كفوًا للقيادة&#8230; لكنَّه اجتماعي!</p>
<p>عديم المحاباة&#8230; لكنَّه بشوش!</p>
<p>متواضعًا&#8230; لكنَّه ليس بخسيس!</p>
<p>قويًا&#8230; لكنَّه نبيل!</p>
<p>كل هذا حتى يستطيع أن يصد كل الصعوبات<a href="#_ftn2" name="_ftnref2">[2]</a>. &#8221;</p>
<p>&#8221; الجماعة تختارك، فلتحني رأسك بأكثر تواضعًا. لقد اختارتك كقائدٍ للآخرين، فلا تشعر أنك مُمَجَّد! كن بينهم كواحدٍ منهم (لو ٢٢ : ٢٧). يلزمك أن تكون متواضعًا ووديعًا. اهرب من الكبرياء مصدر كل الشرور<a href="#_ftn3" name="_ftnref3">[3]</a> &#8221;</p>
<h3>شواهد القراءات</h3>
<p>(مز ١٣١: ٧ ، ١٢ ، ١٣) ،(مت ٤ : ٢٣ &#8211; ٥ : ١٦) ،(مز ١٠٩ : ٥ ، ٦ ، ٨) ،(لو ٦ : ١٧ – ٢٣)،(٢تي ٣ : ١٠ &#8211; ٤ :٢٢) ،(١بط ٥ : ١ – ١٤) ،(أع ٢٠ : ١٧ – ٣٨) ،(مز ٧٢ : ١٧ ، ١٨ ، ٢١) ،(يو ١٠ : ١ – ١٦)</p>
<h4>ملاحظات على قراءات يوم ١٧ هاتور</h4>
<p>+ قراءة إنجيل عشيّة اليوم (مت ٤: ٢٣ &#8211; ٥: ١ &#8211; ١٦) هي نفس قراءة إنجيل القداس ليوم ٢٧ بابه ( أنبا مكاريوس أسقف إدكو ) ، وإنجيل القداس ليوم ٢٦ طوبه ( شهداء شيوخ شيهات )</p>
<p>وهي القراءة التي تتكلم عن مجموعة من التطويبات في الموعظة علي الجبل</p>
<p>وكأنها تحكي الحياة الطوباوية للقديسين (٢٧ بابه ) ، والشهداء ( ٢٦ طوبة ) ، والرعاة ( ١٧ هاتور )</p>
<p>كما تتشابه بعض من قراءات اليوم ( ١٧ هاتور ) ببعض قراءات يوم ٢٧ بابة</p>
<p>فيأتي إنجيل باكر ليوم ٢٧ بابة هو هو إنجيل باكر ليوم ١٧ هاتور</p>
<p>وإنجيل القداس ليوم ٢٧ بابة هو نفس إنجيل عشية ليوم ١٧ هاتور</p>
<p>فبينما تأتي القراءات يوم ٢٧ بابة للتركيز علي صورة ونموذج الحياة الطوباوية للقديسين تأتي قراءات ١٧ هاتور للتركيز علي التعليم الإلهي ووصايا الراعي الأعظم لرعيته</p>
<p>+ قراءة مزمور باكر اليوم هي قراءة مزمور عشيَّة يوم ٣ أبيب ( نياحة البابا كيرلس الأوَّل بابا الإسكندرية ) ، وقراءة مزمور قدَّاس اليوم هي قراءة مزمور باكر يوم ٣ أبيب أيضاً</p>
<p>+ إنجيل باكر اليوم (لو ٦ : ١٧ &#8211; ٢٣) هو إنجيل التطويبات للذين إحتملوا الآلام من أجل الإيمان ، وهو الحديث الذي وجهه الرب لتلاميذه القديسين ( آية ٢٠ ) لكي لا ينزعجوا من الإضطهاد الذي سوف يقع عليهم بسبب الكرازة ، وهو نفس إنجيل باكر في قراءات أيام ٢٧ بابه ( تذكار أنبا مكاريوس أسقف إدكو ) ، ٩ هاتور ( تذكار إنعقاد مجمع نيقية ) ، ٢٨ هاتور ( تذكار أنبا صرابامون أسقف نيقية ) ، ٢٦ طوبه ( تذكار شهادة شيوخ شيهيت )</p>
<p>+ ويُضاف إلي هذه القراءة الجزء السابق لها (لو ٦ : ١٢ &#8211; ٢٣) ، وهو الجزء الخاص بإختيار الآباء الرسل ، لذلك جاء في قراءة إنجيل باكر ليوم ٢٦ بشنس ( تذكار توما الرسول ) ، وإنجيل باكر ليوم ٥ أبيب ( تذكار شهادة القديسين بطرس وبولس ) ، وإنجيل القدّاس في اليوم الثاني من النسئ ( نياحة القديس تيطس الرسول )</p>
<p>+ قراءة الكاثوليكون اليوم (١بط ٥ : ١ &#8211; ١٤) تكررت ثلاث مرات في ٢٤ هاتور، ٢ أمشير ، ٣٠ برموده</p>
<p>وتشابه معها قراءتين أخريين ( ٢٠ بشنس من ١بط ٥ : ٥ &#8211; ١٤) ، ( ٤ نسئ من ١بط ٥ : ١ &#8211; ١١ )</p>
<p>وهنا الكلام عن الرعاية والرعاة ( ارعوا رعية الله التي بينكم ) لذلك جاءت في تذكار ذهبي الفم ( ١٧ هاتور ) والأربعة والعشرين قسيس ( ٢٤ هاتور ) ومار مرقس ( ٣٠ برمودة )</p>
<p>كما أن القراءة تتكلّم أيضاً عن السهر واليقظة ومقاومة إبليس لذلك جاءت مع تذكار آباء البرية مثل الأنبا بولا ( ٢ أمشير ) والقديس امونيوس الأنطاكي ( ٢٠ بشنس ) والقديس بيمن المتوحد ( ٤ نسئ )</p>
<p>+ قراءة الإبركسيس اليوم (أع ٢٠ : ١٧ &#8211; ٣٨) تكررت في قراءات يوم ٣ أبيب</p>
<p>وهي القراءة التي تتكلّم عن حديث القديس بولس الوداعي مع قسوس أفسس والعظة التي تكلَّم فيها عن جوهر الرعاية وأساس خدمة الرعاة والتي أعلنها بحياته وخدمته وقدوته قبل كلماته لذلك تأتي هذه القراءة في تذكار نياحة القديس يوحنا ذهبي الفم ( ١٧ هاتور ) والبابا كيرلس السكندري ( ٣ أبيب )</p>
<p>+ قراءة إنجيل قداس هذا اليوم (يو ١٠ : ١ &#8211; ١٦) هي قراءة إنجيل قداس يوم ٣ أبيب ( تذكار القديس كيرلس السكندري )</p>
<p>وهي القراءة التي تتكلم عن الراعي الصالح</p>
<p>تَمَاثُلْ إنجيل القدَّاس في القراءتين يحكي رعاية الله الفائقة للبشر والتي أُسْتِعلنت في الصليب ( يبذل نفسه عن خرافه ) ، ولكن مجئ قرائتين متشابهتين أحدهما لبطريرك القسطنطينية ( القديس يوحنا ذهبي الفم ) ، والأخري لبطريرك الإسكندرية ( القديس كيرلس الأسكندري ) رُبَّما يشير إلي رعاية الله الفائقة لشعبه من خلال كنيسته ورعاتها ( ١٧ هاتور &#8211; تذكار القديس يوحنا ذهبي الفم ) ، وأيضاً أمانة الرعاة ومسؤوليتهم في حفظ أمانة التعليم والرعاية ( ٣ أبيب &#8211; البابا كيرلس الأول عامود الدين ) ، كما يظهر هذا في إختيار مزمور القدَّاس في القراءتين ، فنجد مزمور الرعاية الإلهية (مز ٧٢ :١٧ ، ١٨ ، ٢٢) هو مزمور قدَّاس يوم ١٧ هاتور ، ومزمور الكنيسة والرعاة ( كنيسة شعبه ومجالس الشيوخ ) في مزمور قدَّاس يوم ٣ أبيب (مز ١٠٦ : ٢٣ ، ٣١)</p>
<p>لذلك يُمكننا القول بأن قراءات اليوم تسير في الإتجاه الرعوي بالأكثر ( سواء في رعاية الله لكنيسته ورعاته أو رعايته من خلالهم ) ، بينما قراءات يوم ٣ أبيب تسير في إتجاه المفهوم اللاهوتي والتعليمي لمعني الرعاية</p>
<h4>+ القراءات المُحوَّلة علي هذا اليوم</h4>
<p>ثالث عشر توت         تذكار الأعجوبة التي صنعها القديس باسيليوس أسقف قيسارية</p>
<p>ثلاثين توت               تذكار الآية التي صنعها الأنبا أثناسيوس الرسولي</p>
<p>ثالث بابه                  نياحة أنبا سيماون بابا الإسكندرية</p>
<p>خامس بابه              نياحة القديس أباهور والقديس بولس بطريرك القسطنطينية</p>
<p>تاسع بابه                 شهادة القديس ليواريوس أسقف روميه</p>
<p>سادس هاتور            نياحة فيليكس أسقف روميه</p>
<p>واحد وعشرون هاتور نياحة القديس غريغوريوس العجائبي</p>
<p>أول كيهك              نياحة أنبا يؤانس بابا الإسكندرية الأربعين وأنبا بطرس أسقف رها</p>
<p>خامس عشر كيهك  نياحة أنبا غريغوريوس بطريرك أرمينيا</p>
<p>سابع طوبه             نياحة أنبا سلطيوس أسقف رومية</p>
<p>رابع عشر أمشير     نياحة أنبا يعقوب بابا الإسكندرية ونياحة أنبا ساويرس بطريرك أنطاكية</p>
<p>ثامن عشر أمشير    نياحة أنبا ملاتيوس بطريرك أنطاكية</p>
<p>سابع وعشرين أمشير نياحة القديس اسطاسيوس بطريرك أنطاكية</p>
<p>ثاني عشر بشنس نقل جسد القديس يوحنا فم الذهب إلي القسطنطينية</p>
<p>ثامن وعشرين بشنس مجئ جسد القديس أبيفانيوس إلي قبرس</p>
<p>رابع عشر مسري تذكار الآية التي صنعها الله علي يد البابا ثاوفيلس وتذكار أنبا ساويرس بابا الإسكندرية</p>
<p><strong>+ ملحوظة علي القراءات المُحوَّلة علي هذا اليوم</strong></p>
<p>تأتي كل القراءات المحوَّلة علي هذا اليوم لتحكي رعاية الله لشعبه وكنيسته ورعاتها ، ورعايته الإلهية لشعبه من خلال رعاتها الأمناء</p>
<p>ونلاحظ مجئ تذكار الآية التي صنعها الله في رعايته للبابا أثناسيوس الرسولي مع قراءات اليوم وليس مع قراءة ٣ أبيب ، بينما يأتي تذكار نياحته في يوم ٣ أبيب للإشارة إلي جهاده الرسولي في حفظ الإيمان ونقاوته من الأريوسية</p>
<p>أيضاً تأتي تذكار الآية التي صنعها الله علي يد البابا ثاوفيلس ، ونجاة الشاب من عبودية الشيطان ، مُحوَّلة علي قراءة اليوم</p>
<p>كذلك تأتي تذكارات آباء الإسكندرية ( ٣ بابه ، وأول كيهك ، ورابع عشر أمشير ) مع قراءة اليوم لتركيزها علي رعاية الآباء البطاركة</p>
<h3>شرح القراءات</h3>
<p>قراءات اليوم تذكار نقل جسد القديس يوحنا ذهبي الفم ( ١٧ هاتور ) مع قراءات تذكار القديس كيرلس عمود الدين ( ٣ أبيب ) كلاهما يتكلمان عن الرعاية والراعي ويُحوّل عليهما معظم تذكارات الآباء البطاركة</p>
<p>ولكن يختلف محور القراءتين عن بعضهما فبينما يتجه الكلام في قراءات ١٧ هاتور عن أمثلة الراعي ونموذج الراعي وعلاقة الراعي بالرعية تأتي قراءات ٣ أبيب علي الجانب الآخر تضع نموذجا لعلاقة الراعي بالرعية مثل علاقة الآب بالإبن حال تجسّده أي أن قراءات ٣ أبيب تتجه نحو الجانب اللاهوتي في الرعاية</p>
<p>ولكن بالرغم من ذلك تتشابه القراءتين في المزامير والإبركسيس وإنجيل القداس</p>
<p>فنجد أن مزمور باكر في ١٧ هاتور هو مزمور عشية في ٣ أبيب (مز ١٠٩ : ٥ ، ٦ ، ٨)</p>
<p>ومزمور القداس في ١٧ هاتور هو مزمور باكر في ٣ أبيب (مز ٧٢ : ١٧ ، ١٨ ، ٢١)</p>
<p>والإبركسيس (أع ٢٠ : ١٧-٣٨) في اليومين متطابق</p>
<p>وأيضاً إنجيل القداس (يو ١٠ : ١-١٦) في ١٧ هاتور كما هو في ٣ أبيب</p>
<p>كما تتشابه بعض من قراءات اليوم ( ١٧ هاتور ) ببعض قراءات يوم ٢٧ بابة</p>
<p>فيأتي إنجيل باكر ليوم ٢٧ بابة هو هو إنجيل باكر ليوم ١٧ هاتو</p>
<p>وإنجيل القداس ليوم ٢٧ بابة هو نفس إنجيل عشية ليوم ١٧ هاتور</p>
<p>فبينما تأتي القراءات يوم ٢٧ بابة للتركيز علي صورة ونموذج الحياة الطوباوية للقديسين تأتي قراءات ١٧ هاتور للتركيز علي التعليم الإلهي ووصايا الراعي الأعظم لرعيته</p>
<p>تبدأ القراءات بالمزامير في الوصيّة لكل الرعاة ( مزمور عشية ) والوعد من الراعي الأعظم ( مزمور باكر ) وترنيمة الحب اليومية بين الراعي وأولاده ( مزمور القداس )</p>
<p>يتكلم مزمور عشية عن الوصيّة للرعاة والإكليروس في رداء خدمتهم بالعدل والبر لكي تزدهر الكنيسة بالقداسة ويتهلل الأتقياء في الشعب</p>
<p>( كهنتك يلبسون العدل وأبرارك يبتهجون من أجل داود عبدك هيأت سراجاً لمسيحي وعليه يزهر قدسي )</p>
<p>ومزمور باكر يتكلم عن وعد الراعي الأعظم للرعاة الذين يسلكون بالحق والإستقامة والعدل الذي جاء مزمور عشية وكيف يكون عن يمينهم أي سرّ قوتهم</p>
<p>( أقسم الرب ولم يندم أنك أنت هو الكاهن إلي الأبد علي طقس ملشيصادق الرب من عن يمينك لذلك يرفع رأساً )</p>
<p>وكما يقول القديس جيروم ( لقد رفع رؤوسنا نحن الذين كنا منحنين وعاجزين عن التطلع نحو السماء، كنا متطلعين فقط نحو الأرض&#8230;لقد رفع رأس تلك التي عاشت كل حياتها منحنية، وسجدت له &#8221; ( تفسير المزمور ١١٠ )</p>
<p>أما مزمور القداس فيعزف سيمفونية الحب الإلهي والإتكال الإنساني ما يمنحه الله الراعي الأعظم مجانا وإستجابة الإنسان لنداء الحب الأبوي والرعاية الإلهية</p>
<p>( أمسكت بيدي اليمين وبمشورتك أهديتني وبالمجد قبلتني وأنا فخير لي الإلتصاق بالله وأن أجعل علي الرب اتكالي لأخبر بكل تسابيحك في أبواب إبنة صهيون )</p>
<p>وتأتي في القراءات الوصايا للرعاة من القديس بولس لتلميذه تيموثاوس ( البولس ) ومن القديس بطرس لرعاة الكنائس ( الكاثوليكون ) ومن بولس الرسول لأساقفة وكهنة أفسس وما حولها ( الإبركسيس )</p>
<p>فيتكلّم البولس عن أساسيات الرعاية  &#8221; القدوة &#8211; وصحة التعليم والتسليم &#8211; ورصيد كلمة الله &#8211; وقبول الآلام &#8211; واليقين بالوعد الإلهي &#8221;</p>
<p>لذلك أظهر له أهميّة القدوة للراعي</p>
<p>( وأما أنت فقد إتبعت تعليمي ومثالي ورسمي الأول وإيماني وآناتي ومحبتي وصبري والاضطهادات والآلام التي أصابتني في انطاكية وأيقونية ولسترة وجميع الاضطهادات قد احتملتها ومن جميعها أنقذني الرب )</p>
<p>ويدعوه دائماً للحرص علي صحة التعليم والتسليم الرسولي</p>
<p>( وأما أنت فاثبت علي ما تعلمته وأيقنته عارفاً ممن تعلمت &#8230; وبّخ عظ إنتهر بكل آناة وتعليم لأنه سيكون وقت لا يقبلون فيه التعليم الصحيح )</p>
<p>ويمدح فيه إرتباطه القلبي منذ الطفولة بكلمة الله</p>
<p>( وأنك منذ الطفولية تعرف الكتب المقدسة القادرة أن تحكمك للخلاص بالإيمان الذي في المسيح يسوع لأن جميع الكتب الموحي بها من الله نافعة للتعليم والتوبيخ للتقويم والتأديب الذي في البر )</p>
<p>وينصحه بقبول الآلام المصاحبة للكرازة والخدمة والرعاية</p>
<p>( وأما أنت فاستيقظ في كل شئ واقبل الآلام وأعمل عمل المبشر تمّم خدمتك )</p>
<p>وفِي النهاية يطمئنه بالرعاية الإلهية للكارزين والرعاة والخدام</p>
<p>( ولكن الرب وقف معي وقواني لكي تتم بي الكرازة ويسمع جميع الأمم فأُنقذت من فم الأسد )</p>
<p>ويعطي الكاثوليكون نموذج للرعاية في كنيسة الله التي فيها الشركة بين الرعاة وخالية من القهر للناس وسخيّة في عطاؤها وباذلة في محبتها الممزوجة بالإتضاع والخضوع المشترك</p>
<p>( أطلب إلي الشيوخ الذين بينكم أنا الشيخ شريككم الشاهد لآلام المسيح وشريك المجد العتيد أن يُعلن ارعوا رعية الله التي بينكم وتعاهدوها لا بالقهر بل بالاختيار كمثل الله ولا ببخل بل بنشاط ولا كمن يتسلط علي المواريث بل صائرين أمثلة للرعية )</p>
<p>بينما يقدم الإبركسيس نموذج للراعي في خطاب القديس بولس الوداعي لرعاة أفسس</p>
<p>وربما تأتي كلمة كل في هذا النص لتكشف عن شمولية الرعاية لكل إنسان ولكل الإنسان</p>
<p>( كيف كنت معكم كل الزمان أخدم الرب بكل تواضع ودموع كثيرة )</p>
<p>( وفِي كل بيت شاهداً لليهود واليونانيين بالتوبة التي لله والإيمان الذي بربنا يسوع المسيح )</p>
<p>( الروح القدس يشهد لي في كل مدينة أن وثقاً وشدائد تنتظرني )</p>
<p>( لأني لم أُؤَخّر أن أخبركم بكل مشيئة الله )</p>
<p>( لم أفتر عن أن أعلم بدموع كل واحد )</p>
<p>( في كل شئ آريتكم أنه هكذا ينبغي أن نتعب ونعضّد الضعفاء )</p>
<p>فالراعي هنا خدمته كل الزمان بكل تواضع وتصل خدمته كل بيت ولا ينزعج إذا وجد ضيقات تنتظره في كل خدمة يقوم بها ولا يكف عن أن يعلّم الناس  كلّ مشيئة الله وبكلّ إنسحاق وهو قدوة في كل شئ لمن يخدمهم</p>
<p>أما الأناجيل فتقدم نموذج الراعي الأعظم ورئيس الرعاة الذي يُعلّم ويكرز ويشفي ( إنجيل عشية ) بقوّته الإلهية ( إنجيل باكر ) ويبذل نفسه عن الخراف ( إنجيل القداس )</p>
<p>لذلك في إنجيل عشية قبل أن يُعلِّم الرب الجموع كرز ببشارة الملكوت وشفي كل الأمراض</p>
<p>(وكان يسوع يطوف في كل الجليل يُعلِّم في مجامعهم ويكرز ببشارة الملكوت ويشفي كل مرض وكل وجع في الشعب &#8230; ففتح فاه وعلمهم قائلاً طوبي للمساكين بالروح لأن لهم ملكوت السموات )</p>
<p>وفِي إنجيل باكر يشير إلي قوّة لاهوته في شفاء الجموع</p>
<p>( وكان الجمع يطلب أن يلمسه لأن قوة كانت تخرج منه وتشفي الجميع ورفع عينيه إلي تلاميذه وقال لهم طوباكم أيها المساكين بالروح لأن لكم ملكوت السموات )</p>
<p>ويختم إنجيل القداس بإعلان ابن الله عن ذاته كراعي صالح وباب للخراف ويحذّر من الذين جاءوا قبله وقالوا للشعب أنهم المسيا والمخلص والذين وصفهم السيد بسرّاق ولصوص ( مثل ثوداس ويهوذا الجليلي  أع ٥ : ٣٧،٣٦ ) ويُعلن عن إتساع الحظيرة لقبول الأمم مع اليهود ليصيرا رعيّة واحدة للراعي الأعظم</p>
<p>( ثم قال لهم يسوع أيضاً الحق الحق أقول لكم إني أنا هو باب الخراف جميع الذين أتوا قبلي هم سُرَّاق ولصوص &#8230; أنا هو الراعي الصالح والراعي الصالح يبذل نفسه عن الخراف &#8230; كما أن الآب يعرفني وأنا أعرف الآب أيضاً وأنا أضع نفسي عن خرافي ولي خراف أخر ليست من هذه الحظيرة ينبغي لي أن آتي بهؤلاء الاخر أيضاً فتسمع صوتي وتكون رعية واحدة لراع واحد )</p>
<p>ويقول أحد المُفسِّرين :</p>
<p>( وأمَّا الأمور التي تفتقر إليها الرعية وواجبة علي الراعي فهي :</p>
<p>أولاً : أرض مخصبة</p>
<p>ثانياً : مياه صافية عذبة</p>
<p>ثالثا : إرتداد الضال منها وبذل العناية في طلبه من قبل الراعي</p>
<p>رابعاً : إرشادها إلي الأراضي السهلة الأمينة</p>
<p>خامساً : حمايتها من الذئاب الخاطفة والوحوش الكاسرة</p>
<p>سادسًا : راحتها عند التعب ومعالجتها عند المرض</p>
<p>سابعاً : تضميد من الصدع عضو منه أو تهشم بسلوكه فيما بين الشوك والأراضي المحجرة</p>
<p>ثامناً وأخيراً : أن يجد لها حظيرة عند انتهاء النهار لتستريح فيها</p>
<p>( كتاب تفسير سفر المزامير صفحة ٣٣٢ &#8211; إعداد راهب من دير المحرق )</p>
<h3>ملخّص القراءات</h3>
<p>الرعاة يلبسون العدل والرب عن يمينهم ومُمْسِك بأيديهم   مزمور عشيّة وباكر والقدّاس</p>
<p>وقدوة حياتهم وإلتصاقهم بالكلمة ونقاوة خدمتهم أساس الرعاية البولس والكاثوليكون والإبركسيس</p>
<p>والراعي الأعظم هو قدوة كل راعٍ والإحتياج دائم إلي القوة التي تخرج منه وأهمّية التمثُّل به</p>
<p>إنجيل عشيّة وباكر والقدّاس</p>
<h3>أفكار مُقترحة للعظات</h3>
<h4>(١) نموذج الرعاية                                   الإبركسيس</h4>
<p>١- روح الخدمة</p>
<p>&#8221; كيف كنت معكم كلَّ الزمان أخدم الربَّ بكلِّ تواضع ودموع كثيرة &#8230; لم أفتر عن أن أعلّم بدموع كلَّ واحد &#8221;</p>
<p>٢- غني وسخاء ما يُقدَّم للمخدومين</p>
<p>&#8221; كما وإنني لم أخفِ شيئاً من الفوائد إلَّا وأخبرتكم وعلمتكم به &#8221;</p>
<p>٣- خدمة الكنيسة وخدمة إفتقاد البيوت</p>
<p>&#8221; وعلمتكم به جَهْرًا وفِي كل بيت &#8221;</p>
<p>٤- موضوع الخدمة</p>
<p>&#8221; شاهداً لليهود واليونانيين بالتوبة إلي الله والإيمان الذي بربنا يسوع المسيح &#8221;</p>
<p>٥- ضريبة وآلام الرعاية والخدمة</p>
<p>&#8221; غير أن الروح القدس يشهد لي في كل مدينة أنَّ وثقاً وشدائد تنتظرني &#8221;</p>
<p>٦- مدي بذل الراعي لنفسه لأجل تحقيق رسالته</p>
<p>&#8221; ولكني لست أحتسب نفسي ثمينة عندي في شئ حتي أتمِّم سعيي والخدمة التي أخذتها من الرب يسوع &#8221;</p>
<p>٧- بين مسؤولية الراعي ومسؤولية الرعيَّة</p>
<p>&#8221; لذلك أُشْهدُكُم اليوم هذا إني برئ من دمكم جميعاً لأني لم أُؤخِّر أن أخبركم بكل مشيئة الله &#8221;</p>
<p>٨- الثالوث هو مصدر الرعاية وهدفها ومرجعها</p>
<p>&#8221; احترزوا إذاً لأنفسكم ولجميع الرعية التي أقامكم الروح القدس فيها أساقفة لترعوا كنيسة الرب التي اقتناها بدمه بنفسه &#8221;</p>
<p>٩- خطورة زيف الرعاية وزيف الرعاة</p>
<p>&#8221; ومنكم أنتم سيقوم رجال يتكلَّمون بأقوال ملتوية ليجتنبوا التلاميذ وراءهم &#8221;</p>
<p>١٠- الميراث الذي يتركه الراعي لأولاد الله</p>
<p>&#8221; والآن أستودعكم يا إخوتي للربِّ ولكلمة نعمته القادرة أن تُثبِّتكم وتُعطيكم ميراثاً مع جميع القديسين &#8221;</p>
<p>١١- نزاهة وكفاية الراعي في حياته وفِي علاقته بالرعية</p>
<p>&#8221; فضة أو ذهب أو ثوب أحدٍ لم أشته أنتم تعلمون أنَّ حاجاتي وحاجات الذين معي خَدَمَتها هاتان اليدان &#8221;</p>
<h4>(٢) علاقة رئيس الرعاة بأولاده الرعاة                              مزمور القدَّاس</h4>
<p>١- رعايته الإلهية وعطاياه السماوية</p>
<p>&#8221; أمسكت بيدي اليمني &#8221;</p>
<p>ما أجمل الإحساس الدائم بيد الله التي تُمْسِك بأيدينا وتسندنا كما أن اليد اليمني إشارة إلي القوَّة فما أعظم أن تكون قوَّتنا من الله وفيه ( ٢كو ٤ : ٧ ) وهذه هي تسبحتنا في الصليب ليلة ويوم الجمعة العظيمة ( قوتي وتسبحتي هو الرب وقد صار لي خلاصاً مُقدَّساً )</p>
<p>&#8221; وبمشورتك أهديتني &#8221;</p>
<p>لا يترك الله أولاده مُحبِّي إسمه القدّوس دون إرشاد بل يقودهم ويسير أمامهم مُمَهِّداً طرقهم</p>
<p>&#8221; وبالمجد قبلتني &#8221;</p>
<p>يعطينا الله دائماً مجده الإلهي مجد محبّته ومجد معرفته ومجد ملء روحه القدّوس ومجد سلامه وفرحه ورجاؤه</p>
<p>٢- دوري كإبن لله</p>
<p>&#8221; وأما أنا فخير لي الإلتصاق بالله &#8221;</p>
<p>ما أجملها كلمة وما أعمقها الالتصاق بالله أي أن يكون هو كل شئ في حياتي اليومية في فكري وقلبي ومشاعري وإهتماماتي وتدبير حياتي ويظهر هذا في كيف أرتبط بكلمته وألهج فيها دائماً وكيف تصير صلاتي حديثاً لا ينقطع معه</p>
<p>&#8221; وأن أجعل علي الرب إتكالي &#8221;</p>
<p>أي حياة التسليم أي أن يكون هو مرجعاً لي في كل شئ وأن أثق في تدبيره لحياتي وفِي إرشاده الإلهي</p>
<p>٣- ثمرة الإرتباط الدائم به</p>
<p>&#8221; لأخبر بكل تسابيحك في أبواب إبنة صهيون &#8221;</p>
<p>وهذه هي ثمار معرفته ومحبته حياة التسبيح والشكر الدائم والفرح بكل ما يأتي من قبل الله</p>
<h4>( ٣ ) أجراء … غرباء ..      إنجيل القدَّاس</h4>
<p>تكلَّم إنجيل القداس عن الراعي الأجير وصوت الغريب</p>
<p>+ الراعي الأجير هو الذي لا يبالي بالخراف أي لا يهتم بإحتياجاتهم وسلامتهم ونجاتهم</p>
<p>وهو رمز لكل من هو في موضع مسؤلية مثل الكاهن أو الخادم أو الخادمة ، أو الأب والأم ، أو أي إنسان مسيحي</p>
<p>ورُبَّما توجد مُبالاة ولكن ليست صحيحة !</p>
<p>فعندما أهتم ككاهن بنشاط الخدام والمخدومين في الخدمة دون نفس الإهتمام بخلاصهم أكون راعياً أجيراً لا أبالي بخلاصهم كأولوية</p>
<p>وعندما يهتم الأب والأمم بنمو أولادهم دراسياً وعلمياً وصحياً وإجتماعياً دون إهتمام كبير بما هو لخلاصهم يتحوَّلون إلي أجراء</p>
<p>+ وصوت الغريب هو الصوت الذي يتكلَّم ضد صوت الراعي الصالح</p>
<p>ويمكن أي يكون صوت أي إنسان مسيحي ، أو أي خادم أو خادمة ، أو أي أسرة ، هو صوت غريب</p>
<p>عندما ننادي بالإنتقام من الآخرين أو الشماتة في خسارتهم وهلاكهم نتكلم ضد صوت الحب ،</p>
<p>وعندما لا نقف بحزم أمام أساليب ملتوية يستخدمها البعض لتحقيق أغراضه يأتي صوتنا ضد إله الحق، وعندما يعلو صوت الذات والكبرياء والأنا عن صوت الإتضاع والبذل والعطاء نصير صوت غريب.</p>
<h4>(٤) رعيَّة واحدة وراعٍ واحدٍ                          إنجيل القدَّاس</h4>
<p>بعد ما تكلَّم إنجيل القدَّاس عن جميع عطايا الراعي الصالح، وغني المرعي الجيد ، وسلام وأمان الخراف ، إختتم إنجيل القدَّاس بهذه الآية : رعيَّة واحدة وراعٍ واحدٍ ، وكأن مفتاح كل هذه العطايا هو وحدة الكيان ، وصحَّة ووضوح الهدف.</p>
<p>فإذا نظرنا إلي الأسرة في وحدة أعضاؤها وتناغم وسلام الجو الأسري تحت قيادة الرب يسوع نجد الغني الروحي، والكفاية ، والفرح ، والإيمان الذي يقود إلي إحساس الأمان (أش ٧ : ٩)</p>
<p>وعلي الجانب الآخر عدم الإنسجام الأسري لغياب رعاية الرب يسوع الحقيقية ( رُبَّما رغم وجود الشكل الديني والكنسي ) ، فنجد القلق والخوف والإضطراب وإحساس العداوة والصراع المستمر</p>
<h4>(٥ ) وأما أنا فقد أتيت لتكون لهم حياة وليكون لكم أفضل           إنجيل القداس</h4>
<p>جاءت كلمة أفضل في إحدي الترجمات &#8221; وفرة &#8221;</p>
<p>والغني والوفرة التي جاء من أجلها الراعي الصالح، ولكي يُعطيها لخرافه الخاصّة هي :</p>
<p>١- المحبَّة الفائقة المعرفة</p>
<p>&#8221; وتعرفوا محبة المسيح الفائقة المعرفة، لكي تمتلئوا إلى كل ملء الله &#8221; (أف ٣ : ١٩)</p>
<p>٢- السلام الذي يفوق كل عقل</p>
<p>&#8221; وسلام الله الذي يفوق كل عقل، يحفظ قلوبكم وأفكاركم في المسيح يسوع &#8221; (في ٤ : ٧)</p>
<p>٣- الفرح الذي لا يُنْطَق به</p>
<p>&#8221; فتبتهجون بفرح لا ينطق به ومجيد &#8221; (١بط ١ : ٨)</p>
<p>٤- الغني الذي لا يُسْتَقْصَي</p>
<p>أن أبشر بين الأمم بغنى المسيح الذي لا يستقصى &#8221; (أف ٣ : ٨</p>
<p>٥- العطيَّة التي لا يُعبَّر عنها</p>
<p>&#8221; فشكرا لله على عطيته التي لا يعبر عنها &#8221; (٢كو ٩ : ١٥)</p>
<p>٦- الميراث الذي لا يفني</p>
<p>&#8221; لميراث لا يفنى ولا يتدنس ولا يضمحل، محفوظ في السماوات لأجلكم &#8221; (١بط ١: ٤)</p>
<p>٧- أنه أجلسنا معه في السماويات</p>
<p>&#8221; وأقامنا معه، وأجلسنا معه في السماويات في المسيح يسوع &#8221; (أف ٢: ٦)</p>
<h4>(٦ ) من هو الكاهن ؟ ( من خلال سفر إشعياء )</h4>
<p>(١) عبدي البار</p>
<p>&#8221; من تعب نفسه يري ويشبع وعبدي البار بمعرفته يبرر كثيرين &#8221; (إش ٥٣: ١)</p>
<p>تعب الكاهن وبذله وغني تعليمه يكون سبب خلاص كثيرين</p>
<p>(٢) مرمم الثغره</p>
<p>&#8221; ومنك تبني الخرب القديمه&#8230;.فيسمونك مرمم الثغرة مرجع المسالك للسكني &#8221; (إش ٥٨ : ١٢)</p>
<p>افتقاد الكاهن للبعيدين والمهملين والضعفاء والمنبوذين يعلن كمال بهاء جسد المسيح</p>
<p>(٣)  نورجا محددا</p>
<p>&#8221; هاانذا قد جعلتك نورجا محددا جديدا ذا اسنان تدرس الجبال وتسحقها وتجعل الاكام كالعصافه &#8221; (إش ٤١ : ١٤ ، ١٥) ، (مي ٤ : ١٣)</p>
<p>قوه ايمان الكاهن التي تسحق كل المعوقات وتجتاز كل الصعوبات</p>
<p>(٤)  سهما مبريا</p>
<p>&#8221; وجعل فمي كسيف حاد في ظل يده خباني وجعلني سهما مبريا &#8221; (إش ٤٩ : ٢) قوه كلمه الله وسلطانها في فم الكاهن عندما يكون عاملا بها</p>
<p>(٥)  المبشر المخبر بالسلام المبشر بالخير المخبر بالخلاص (إش ٥٢ : ٧)</p>
<p>حضور الكاهن يشع سلاما ويقود الناس للخلاص ويكون دائما سبب بهجة للجميع</p>
<p>(٦) شارعا للشعوب ورئيسا وموصيا للشعوب (إش ٥٥ : ٤)</p>
<p>الكاهن هو الحافظ لشريعه الله وتقليد الكنيسه الحي</p>
<h4>(٧) حارس بيت الله</h4>
<p>&#8221; علي اسوارك يااورشليم اقمت حراسا لايسكتون كل النهار وكل الليل علي الدوام ياذاكري الرب لاتسكتوا ولاتدعوه يسكت حتي يثبت ويجعل اورشليم تسبيحه في الارض &#8221; (إش ٦٢ : ٦ ، ٧)</p>
<p>الصلاه الدائمه والتسبيح يحفظ ويحرس تقوي الشعب ويعلن مجد الله</p>
<h3> عظات آبائية</h3>
<p>قوانين الرسل</p>
<p>لاحظوا يا أبنائي المحبوبين كيف أن الرب إلهنا رحوم وبار، كم هو رءوف ولطيف مع الناس، لكنه بتأكيدٍ عظيمٍ &#8220;لا يبرِّئ المخطئ&#8221; (راجع نا ١ : ٢). مع أنه يرحب بعودة الخاطئ ويهبه الحياة، ولا يترك مجالًا لأي شكْ هكذا كمن يدين بقسوة ويرفض الآثمة تمامًا، ويرفض أن يقدم لهم نصائح ليردهم إلى التوبة. وإنما على العكس، يقول الله بإشعياء إلى الأساقفة: &#8220;عزُّوا، عزُّوا شعبي، أيها الكهنة، تكلموا بحنوٍ مع أورشليم&#8221; (راجع إش ٤٠ : ١). لذلك يليق بكم عند سماعكم كلماته هذه أن تشجعوا الذين أذنبوا، وتقودوهم إلى التوبة، وتقدموا لهم الرجاء. وليس باطلًا تحسبون أنكم ستشاركونهم معاصيهم على حساب حبكم لهم. اقبلوا التائبين ببهجة، وافرحوا بهم، واحكموا على الخطاة بالرحمة وأحشاء الحنو. فإن كان شخص ما سائرًا على شاطئ النهر، وصار متعثِّرًا، وأنتم دفعتموه وألقيتموه في النهر، عوض أن تقدموا له يد المساعدة، تكونوا قد ارتكبتم جريمة قتل أخيكم<a href="#_ftn4" name="_ftnref4">[4]</a>.</p>
<h4>الأب غريغوريوس الكبير</h4>
<p><strong>الرعاة</strong></p>
<p>عندما يسير الراعي في الأماكن المنحدرة والوعرة، يتبعه القطيع فيسقط في وهدة الهلاك. ومن ثم يحزن الرب من معرفة الرعاة الرديئة، ويقول على لسان النبي: &#8220;أهو صغير عندكم أن ترعوا المرعى الجيد وبقية مراعيكم تدوسونها بأرجلكم، وأن تشربوا من المياه العميقة والبقية تكدرونها بأقدامكم. وغنمي ترعى من دوس أقدامكم، وتشرب من كدر أرجلكم.&#8221; (حز ٣٤ : ١٨ ، ١٩).</p>
<p>ومن الواضح أنه عندما ينهل الرعاة من المياه الصافية والنقية، فإنهم يرتوون من سبيل الحق بفهمهم الصائب، ولكنهم يفسدون التأمل المقدس بحياتهم الشريرة عندما يُكدروا المياه بأقدامهم. ومن البديهي أن الرعية ستشرب من هذه المياه الملوثة التي تعكرت من هذه الأقدام، ثم تمتنع عن تنفيذ التعاليم التي سمعتها، لأنها تتمثل بالقدوة الشريرة التي تراها. إن الرعية تتوق إلى فعل الصالح الذي يقوله الرعاة، ولكنها تنحرف من جراء الشر الذي يفعلونه، فتمتص الوحل مع ما تتجرعه إذ أنها تنهل من ينبوع ملوث.</p>
<p>لهذا كتب النبي قائلًا إن الكهنة الأشرار قد صاروا فخا لهلاك الشعب: &#8220;اسمعوا هذا أيها الكهنة&#8230;! لأن عليكم القضاء، إذ صرتم فخا&#8221; (هو ٥ : ١) ، &#8220;النبي فخ صياد&#8221; (هو ٩ : ٨) وأيضا يقول الرب بالنبي بخصوص الرعاة: &#8220;وكانوا معثرة إثم لبيت إسرائيل.&#8221; (حز ٤٤ : ١٢)</p>
<p>ليس هناك من يلحق الأذى بالكنيسة أكثر من أولئك الذين لهم صورة القداسة ولقبها ولكنهم يتصرفون تصرفًا فاسدًا</p>
<p>قيل للخطاة: &#8220;أنبياؤك رأوا لك كذبًا وباطلًا، ولم يعلنوا إثمك ليردوا سبيك&#8221; (مراثي إرميا ٢ : ١٤) ويلاحظ أن المعلمين كانوا يسمون أحيانًا &#8220;أنبياء&#8221; في الكتاب المقدس، لأنهم كانوا يظهرون طبيعة الحاضر ويعلنون عن المستقبل. وكأن الله يتهمهم بالكذب إذا امتدحوا فاعلي الشر وقاموا بتبرئتهم بدلًا من إدانة أخطائهم، وذلك خوفًا منهم.</p>
<p>إذا تجنب الرعاة استعمال كلمات التوبيخ يفشلون في الكشف عن أخطاء الأشرار. إذ كلمات التوبيخ لهي حقًا المفتاح الذي يظهر الخطية التي لا يحس بها فاعلها في كثير من الأحيان. لهذا يقول بولس الرسول: &#8220;ملازمًا للكلمة الصادقة التي بحسب التعليم، لكي يكون قادرًا أن يعظ بالتعليم الصحيح ويوبخ المناقضين&#8221; (تي ١ : ٩) ويقول ملاخي أيضًا: &#8220;لأن شفتي الكاهن تحفظان معرفة، ومن فمه يطلبون الشريعة، لأنه رسول رب الجنود.&#8221; (ملا ٢ : ٧) لهذا يحذر الرب على لسان إشعياء قائلًا: &#8220;ناد بصوتٍ عالٍ. لا تمسك. ارفع صوتك كبوق&#8221;. (إش ٥٨ : ١) فالذي يدخل الكهنوت يأخذ منصب رسول يصيح بصوت عال، ويسبق مجيء الديان العادل الذي يتبعه بمظهر رهيب</p>
<p>إن الديان العادل ينكرهم ويتجاهلهم، لأن الذين يخفف عنهم التجارب والآلام في هذا العالم إنما هم في الحقيقة مرفوضون منه. لهذا يقول رب المجد لمثل هؤلاء حتى ولو قاموا بصنع المعجزات: &#8220;لا أعرفكم من أين أنتم، تباعدوا عني يا جميع فاعلي الظلم.&#8221; (لو ١٣ : ٢٧؛ مت ٧ : ٢٣). إن صوت الحق الإلهي يوبخ جهالة مثل هؤلاء الرعاة قائلًا: &#8220;وهم رعاة لا يعرفون الفهم.&#8221; (إش ٥٦ : ١١) مرة أخرى يؤنبهم الرب قائلًا: &#8220;وأهل الشريعة لم يعرفوني&#8221;. (إر ٢ : ٨) ولذلك يشكو الحق الإلهي من هؤلاء الرعاة لأنهم لم يعرفوه.  لأنه لا أحد يفهم سمو خدمة القيادة إلا الذين عرفوه أما الذين يجهلون ما هو للرب يتجاهلهم الرب، كما يقول بولس الرسول: &#8220;ولكن إن يجهل أحد فليجهل.&#8221; (١كو ١٤: ٣٨).</p>
<p>عدم استحقاق الراعي غالبًا ما يكون متلازمًا مع عدم استحقاق الرعية، فإذا كان الرعاة لا يملكون نور المعرفة نتيجة لخطيئتهم الشخصية فإنه تبعا لذلك تعثر الرعية بسبب جهلها حسب قصاص القضاء. من أجل ذلك قال رب المجد يسوع: &#8220;إن كان أعمى يقود أعمي يسقطان كلاهما في حفرة.&#8221; (مت ١٥ : ١٤؛ لو ٦ : ٣٩) وفي هذا قال صاحب المزامير متنبئًا: &#8220;لتظلم عيونهم عن البصر وقلقل متونهم دائمًا.&#8221; (مز ٦٩ : ٢٣). إن القادة هم بالحقيقة عيون، إذ أنهم في واجهة أعلى الرتب وقد أخذوا على عاتقهم توضيح الطريق، أما الذين يتبعونهم فقد ارتبطوا بهم وعليه فهم يدعون &#8220;بالمتون&#8221;. وهكذا عندما تظلم العيون، تنحني المتون أيضًا، لأنه عندما يفقد القادة نور المعرفة، ينوء الذين يتبعونهم تحت نير خطاياهم<a href="#_ftn5" name="_ftnref5">[5]</a></p>
<h4>القديس يوحنا ذهبي الفم</h4>
<p><strong>بولس الرسول نموذج للراعي في فكر القديس يوحنا ذهبي الفم</strong></p>
<p>كم كنت أتمنى أن أرى بصفة دائمة ذلك القلب(قلب بولس الرسول)الذى كان يحترق عندما يعثر أحد ،والذي ولَد كل من تمخض بهم،ولادة جديدة،لأن كل من لهم قلب نقى يقول عنهم الكتاب يعاينون الله،القلب الذي صار ذبيحة ذبائح الله هى روح منكسرة، القلب الذي كان أعلى من السموات، وأوسع من المسكونة. الأكثر إشراقاً من أشعة الشمس، والأكثر وهجاً من النار ،والأقوى من الماس. القلب الذي عاش الحياة الجديدة بحق لأنه يقول: &#8220;فأحيا لا أنا بل المسيح يحيا في&#8221;.إذاً لقلب كان قلب المسيح وكان إناء للروح القدس، وكتاباُ للنعمة.إنه القلب الذى كان ينزعج من الشرور والخطايا  التى هى غريية  عن الطبيعة الجديدة.</p>
<p>يقول &#8220;أخاف عليكم أن أكون قد تعبت فيكم عبثاً&#8221;.وكما خدعت الحية حواء بمكرها، لأني أخاف إذا جئت لا اجدكم كما أريد،بينما هذا القلب كان يخاف لأجل نفسه، وكانت لديه الشجاعة (لأن يقول:&#8221;حتى بعدما كرزت للآخرين لا أصير أنا نفسي مرفوضاً&#8221;وأيضاً فإني متيقن أنه لاموت ولا حياة ولا ملائكة ولا رؤساء ملائكة ..تقدر أن تفصلنا عن محبة الله التي فى المسيح يسوع ربنا ،هذا القلب إستحق أن يحب المسيح كما لم يحبه أحد قط واستهان بالموت وأختار جهنم ،وإنسحق بدموع الأخوه، لأنه يقول: &#8220;ماذا تفعلون تبكون وتكسرون قلبي،وكان قلباً صبوراً إلى أقصى حد،ولم يحتمل أن يبتعد عن أهل تسالونيكي ساعة واحدة.</p>
<p>أردت أن أرى رماد يديه اللتين كانتا فى سلاسل، فمن خلال وضعهما على الآخرين كان يُمنح الروح القدس، واللتين كُتبِت بهما الحروف الألهية   أنظروا ماأكبر الأحرف التى كتبتها إليكم بيدي،وأيضاً السلام بيدي أنا بولس الرسول. أردت أن أرى رماد هاتين اليدين، اللتين بمجرد أن رأتهما الأفعى سقطت في النار.</p>
<p>أردت أن أرى رماد  تلك العينين اللتين أُصيبتا يعنى خسن، العمى الذي نظر إلى خلاص المسكونة، واللتين إستحقتا أن تنظر المسيح بالجسد، اللتين نظرتا الأمور الأرضية والأمور غير المرئية .العينان اللتان لم تعرفا النوم،وظلتا متيقظتان في منتصف الليل، واللتان لن تُعاينا تلك الأمور التي تعانيها الأعين أردت أن أرى رماد الرجلين اللتان ركضتا في أرجاء المسكونة.دون أن تتهيأ.الرجلان اللتان كانتا مقيدتين في المقطرة الخشبية، عندما حدثت زلزلة في السجن، واللتان ذهبتا إلى مناطق آهلة بالسكان ومناطق مُقفرة،</p>
<p>وسارتا على الطريق مرات عديدة.</p>
<p>ولماذا يجب أن أراهما بشكل منفصل؟ أردت أن أرى القبر،الذي فيه حُفظت أسلحة البر، أسلحة النور،الأعضاء التي هي حيه اليوم ،بل التي جازت الموت وهي حية،التي كان المسيح يحيا فيها،الأعضاء المصلوبة لأجل العالم،أعضاء المسيح،اللابسة المسيح، هيكل الروح القدس، البناء المقدس،أعضاء المسيح ،الأعضاء الموثوقة في الروح القدس، الراسخة في خوف الله، التي إقتفت أثار خطوات المسيح.</p>
<p>هذا الجسد الذي كان مثل سياج يحمي هذه المدينة، وهو أكثر أماناً من كل برج، ومن أسوار (تحيط بالمدن).ومع هذا الجسد يوجد جسد بطرس. لأنه فى حياته أيضاً،كرّمه إذ قال &#8220;صعدت إلى أورشليم لأتعرف ببطرس،ولهذا عندما لقد، أقرت النعمة بأنه مستحق أن يكون تحت خيمة واحدة مع بطرس، أردت أن أرى الأسد الروحي، لأنه مثل أسد  يبث نيران في قطعان من الذئاب، هكذا وقع بين حزب الشياطين والفلاسفه، ومثل هجوم الصاعقة نزل على كتائب الشيطان. لأن (الشيطان)لم يجرؤ على دخول معركة فى مواجهة بولس، بل كان يخاف جداُ ويرتعد، حتى عن بُعد، وكان يرحل سراً،إذا رأي ظل بولس فقط أو سمع صوته  هكذا فإن ذاك الذي صار زانياً ،قد سلّمه للشيطان، وبالرغم من أنه كان بعيداً ،إلا يجدفوا.</p>
<p>لكن لاحظ كيف يقود أولئك الذين ينضمون تحت لوائه في المعركة، فَيحث إياهم ويشجعهم لهم، وكان الرسول بولس قد سبق وقال لأهل أفسس: &#8220;فإن مصارعتنا ليست مع دم ولحم بل مع الرؤساء مع السلاطين&#8221;</p>
<p>ثم بعد ذلك يذكر المكأفأة، قائلاً:&#8221;في السماويات &#8220;.لأننا لا نصارع من أجل الأمور الأرضية، بل من أجل السماويات، ومن أجل الأمور السمائية. وقد كتب أيضاً لآخرين يقول:&#8221;ايام تعلمون أننا سنين ملائكة. فبالأولي أمور هذه الحياة &#8220;.</p>
<p>إذن ونحن نتفهم هذه الأمور لنقف (ثابتين)بشجاعة. كذلك فإن بولس كان إنساناً ،له نفس طبيعتنا وكل الأمور المشتركة معنا، لكنه أظهر محبة كبيرة للمسيح، عَبَر إلى السموات ،ووقف بجوار الملائكة. بناء على ذلك فإن أردنا أن ننهض قليلاً ،وأن نشعل داخلنا تلك النار ،سنستطيع أن نتمثل بالقديس بولس لأنه إن كان هذا مستحيلاً،ما كان له أن يصرخ، قائلاً :&#8221;كونوا متمثلين في كما أنا بالمسيح &#8220;.</p>
<p>إذن لا يجب علينا أن نعجب به فقط ،ولا أن نكتفي بالإندهاش، بل علينا أن نقتدي به لنكون مستحقين أن نراه عندما نرحل من هذه الحياة ،ونشارك في المجد المحفوظ لنا . والذي ليتنا جميعاً نكون مُستحقين له بالنعمة ومحبة البشر اللواتي لربنا يسوع المسيح الذي يليق به مع الآب والروح القدس المجد والقوة والكرامة، الأن وكل أوان وإلى دهر الدهور آمين<a href="#_ftn6" name="_ftnref6">[6]</a>.</p>
<h4>أيضاً للقديس يوحنا ذهبي الفم</h4>
<p>عظة للقديس يوحنا الذهبي الفم عن أهمِّية إستجابة الشعب للتعليم الكنسي</p>
<p>( ثناء هتافكم يهب شهره للمتكلم هنا . اما ورع نفوسكم فيزكيه بالأكثر أمام عرش النعمه )</p>
<p>اريد عملكم لا مديحكم</p>
<p>يبدو ان مقالي الأخير الطويل الذي ألقيته لإشعال غيرتكم تجاه هذه الاجتماعات لم يكن نافعًا ، لأنه لا تزال كنيستنامهجوره من أبنائها . لهذا أجد نفسي ملزمًا أن اتضايق واتكدر ، فأوبخ الحاضرين وأخطًيء الذين تخلفوا عن الحضور . أولئك بسبب عدم قيامهم من كسلهم ، وانتم بسبب عدم تقديمكم يد المعونه في خلاص إخوتكم .</p>
<p>حقا ان من يتطلع إلي تكدري بطريق خاطيء يدعوني سليطًا . لكن هذا لا يمنعني من إثاره روحه لتحقيق نفس الغرض ( اي الاهتمام بخلاص اخوته ) ، لأنه لا شيء عندي أفضل من هذا النوع من ( اللجاجه ). ليحدث ما دمتم في النهاية تخجلون وتعتنون بإخوتكم بسبب لجاجتي الدائمه . لأنه ماذا يفيدني مديحكم إذ لا أراكم تتقدمون في الفضيلة ؟! وماذايضرني في صمت السامعين ( عن مدحي) إن كنت أري تقدمكم ؟!</p>
<p>فمدح المتكلم لا يكمن في كلمات ثناء السامعين ، بل في التهاب غيرتهم نحو الصلاح . ولا يكمن في الصوت الذي يحدثونه أثناء سماعهم له ، بل في الغيره الباقيه ( العامله). لأن كلمات الثناء الخارجيه من الشفاء سرعان ما تنتشر في الهواء وتتبدد . أما تقدم المستمعين في الفضيله ، فيهب مكافاه أبديه غير فانيه لكل من المتكلم والمطيعين له .</p>
<p>ثناء هتافكم يهب شهره للمتكلم هنا . اما ورع نفوسكم فيزكيه بالأكثر أمام عرش النعمه . فمن كان محباً للمعلم ، يشتاق إلي نفع السامعين له ، لا إلي مدحه بالكلام . إهمالنا لإخوتنا ليس بالخطأ الهين ، إنما يجلب علينا عقوبه عظيمه ،وتأديبا بغير رحمه .</p>
<p>تاجروا في الوزنات</p>
<p>لقد وبخ الرجل الذي دفن الوزنه ، إذ لم يجاهد لأجل تغيير إنسان شرير &#8230;. وبهذا صار  هو شريراً ، لأنه لم يضعف ما قد عهد إليه به ، فاستوجب العقاب . لا يكفي لخلاصنا أن نكون</p>
<p>غيورين مشتاقين إلي سماع الكتب المقدسة ، إنما يلزمنا مضاعفه الوديعه . فمع اهتمامنا بخلاصنا الخاص بنا نتعهد أيضاً بما هو لخير الآخرين . لقد قال الرجل المذكور في المثل &#8221; هوذا الذي لك&#8221; (مت ٢٥: ٢٥). لكن هذا الدفاع لم يقبل ، إذ قيل له : فكان ينبغي أن تضع فضتي عند الصيارفه .</p>
<p>ارجوكم ان تلاحظوا كيف ان وصايا السيد فالبشر يسألون المقترضين إيفاء الدين (ولا يبالون بشخص المقترض ) … لكن الله لا يفعل هذا ، إنما يأمرنا أن نأخذ الوديعه ولا يحاسبنا عليها بقصد استدردادها &#8230; يستجوبنا بخصوصها دون أن يطلبها منا .</p>
<p>أي شيء أسهل من هذا ؟! ومع ذلك يلقب ( الانسان المهمل )  سيده الوديع الرحيم قاسياً (مت ٢٥: ٢٤). لأن هذه هي عادهالإنسان الجاحد الكسلان ، يخفي من أخطائه بنسبها إلي سيده . لهذا القي خارجا في قيود الظلمه الخارجيه .</p>
<p>فلكي لا نسقط تحت العقاب ، يلزمنا أن نودع تعاليمنا لدي إخوتنا ، سواء كانوا يقبلونها او يرفضونها . فإنهم إن قبلوها  ينتفعون ، ونحن نربح معهم . وإن رفضوها يسقطون تحت العقاب    غير المحتمل دون أن يصيبنا اي ضرر . إذ نكون  قد صنعنا ما يجب علينا من جهه تقديم النصيحه . لكنني أخشي ان يبقوا علي حالهم بسبب تراخيكم واهمالكم .</p>
<p>لا تيأسوا من خلاص أحد</p>
<p>مداومه النصيحه والتعليم تجعل الإنسان مجتهدا ، وتصيره الي حال أفضل ، وفي هذا اقتبس المثل العام الذي يؤكد هذه الحقيقة ، وهو أن قطرات الماء المتواتره تشقق الصخر . أي شيء ألين من الماء ؟! وأي شيء أصلب من الصخر ؟! ومع هذا فموالاه العمل باستمرار يغلب الطبيعه. إن كان هذا بالنسبه للطبيعه ، أفليس بالأولي تغلب الطبيعه البشريه ؟!.</p>
<p>انتم نور العالم</p>
<p>كم انا مغموم ، إذ اري في ايام الأعياد الجموع المحتشده كالبحر المتسع الارجاء، والان لا اجد ولا القليل من الجموع التي تجتمع هنا . اين ذهب أولئك الذين يزحموننا بوجودهم في أيام الأعياد ؟!. إنني أتطلع إليهم متحسرا عليهم ، حزينا مناجل تلك الجموع التي تهلك بعيدا عن طريق الخلاص .</p>
<p>يالها من خساره عظيمه في الاخوه ! قليلون هم الذين يهتمون بالأمور الخاصة بالخلاص . ياله من جزء كبير من جسد الكنيسة يشبه الميت الذي بلا حراك !</p>
<p>تقولون : وماذا يخصنا نحن في هذا ؟ لديكم إمكانيه عظمي بخصوص إخوتكم . فإنكم مسئولون إن كنتم لا تنصحونهم وتصدون عنهم الشر ، وتجتذبونهم الي هنا  بقوه ، وتسحبونهم  من تراخيهم الشديد . لانه كيف يليق بالإنسان أن يكون نافعاً لنفسه وحده بل ليكن نافعا لكثرين أيضا . ولقد أوضح السيد المسيح ذلك عندما دعانا &#8221; ملحا&#8221; (مت ٥:  ١٤)، لأن هذه الأشياء مفيده للغير ونافعه لهم .</p>
<p>فالمصباح لا يضيء لذاته ، بل للجالسين في الظلمه . انت مصباح ، لا لتتمتع بالنور وحدك ، إنما لترد إنسانا ضل ، لأنه أي نفع لمسيحي لا يفيد غيره ؟! ولا يرد أحدا الي الفضيله ؟!</p>
<p>مره اخري ، الملح لا يصلح نفسه ، بل يصلح الطعام لئلا يفسد ويهلك &#8230; هكذا جعلك الله ملحا روحياً ، لتربط الأعضاء الفاسدة  أي الإخوه المتكاسلين المتراخين ، وتشددهم وتنقذهم من الكسل  كما من الفساد وتربطهم مع بقيه جسد الكنيسه<a href="#_ftn7" name="_ftnref7">[7]</a>.</p>
<h4>القديس أمبروسيوس</h4>
<p><strong>مزمور أمسكت بيدي اليمني</strong></p>
<p>&#8220;أمسكت بيميني، وأصعدتني بمجدٍ&#8221; (مز ٧٣: ٢٣ &#8211; ٢٤) ، هذا هو النص الذي تسلمناه وهو يتفق مع النسخة اليونانية، لأن اليونانية تقول ekratesas tea cherios أي &#8220;أمسكتَ باليد&#8221; و tes dexias mou &#8221; يميني&#8221; [أي &#8220;أمسكت بيميني&#8221;.]</p>
<p>يتلقى الإنسان إرشادًا طيبًا حينما يمسك الله بيمينه، بيد الله نفسه. مثل هذا يمكنه القول: &#8220;الرب عن يميني، فلا أتزعزع&#8221; (مز ١٦ : ٨).</p>
<p>لو أن آدم كان قد اختار أن يكون له الرب عن يمينه، ما خدعته الحيّة، لكن لأنه نسي وصية الله، وتمم إرادة الحية، أمسك الشيطان بيده، وجعلها تمتد لشجرة معرفة الخير والشر، ليقطف أشياءً حُرَّمت عليه! وفيه عبر الحكم إلى جميع الناس، وبدأ المعاند يقف عن يمين كل إنسان. من هنا أيضًا جاءت تلك اللعنة ضد يهوذا &#8220;ليقف شيطان عن يمينه&#8221; (مز ١٠٩ : ٦). وإن كانت تلك اللعنة قاسية، فإن تلك البركة التي بها تنحل رباطات اللعنة، هي بركة في غاية الأهمية جدًا.</p>
<p>لهذا فإن الرب يسوع الذي أخذ قضية الإنسان وحالته، وضع الشيطان عن يمينه هو تمامًا كما نقرأ في سفر زكريا (زك ٣ : ١) ، هكذا حيث يقف ميراث آدم فهناك وقف المسيح. وكرياضيٍ صالحٍ، سمح للشيطان أن يقف عن يمينه (أي يمين الرب)، لكي يطرحه وراءه، قائلًا: &#8220;اِذهب يا شيطان!&#8221; (مت ٤ : ١٠). وحينئذ طُرحَ المُعاند من موضعه ورحل.</p>
<p>ولكي لا يقف الشيطان عن يمينك، يقول لك المسيح: &#8220;تعال، اتبعني&#8221; (مت ١٩ : ٢١). لهذا تنبأ داود سلفًا بمجيء الرب الذي نزل من السماء ليحررنا من قوة الخصم المُعاند، إذ قال: &#8220;الرب عن يميني فلا أتزعزع&#8221;. أما من كان الشيطان عن يمينه فيتزعزع.</p>
<p>تبرر داود إذن فيما قاله: &#8220;أمسكت بيميني&#8221; أي، حتى لا أخطئ الآن، وحتى أتخذ موضعي في مكان الاتكال والثقة، إذ كنت قبلًا أترنح وخطواتي متقلقلة!</p>
<p>كم كان قول الرسول حكيمًا حقًا! لأن الرب إذ رآه منزعجًا مضطربًا مدّ يمينه، ولم يدعه يسقط، بل تبعه ليمشي دون خوف (مت ١٤ : ٣٠ &#8211; ٣١). وعند تمتعه بخلاصه، ماذا قال بطرس إلا تلك السطور النبوية: &#8220;أمسكتني بيميني، وفي مشيئتك قدتني، وأصعدتني بمجدٍ&#8221;؟ وما هي اليد اليمني إلا قوة النفس العاملة (التي لا تكف عن الجهاد)؟ وإن قُيدتْ بمشيئة الرب، لا يعوزها شيء، ولا تفتقر إلى شيء. ولا تحتاج إلى أية مساعدة أو معونة من هذا العالم<a href="#_ftn8" name="_ftnref8">[8]</a>!</p>
<h4>القديس أغسطينوس</h4>
<p><strong>بين الراعي والاجير</strong></p>
<p>الكرازة حق، أما هم فليسوا حقًا. ما يكرزون به هو حق، أما الذين يكرزون هم أنفسهم ليسوا حقًا. لماذا هم ليسوا بحقٍ؟ لأنهم يطلبون في الكنيسة أمرًا آخر، ولا يطلبون الله. فإن كانوا يطلبون الله يلزمهم أن يكونوا طاهرين. لأن النفس تجد في الله زوجها الشرعي.. أما من يطلب من الله ما هو بجانب الله فهو لا يطلب الله بعفةٍ.</p>
<p>تأمّلوا يا إخوة، فإن الزوجة التي تحب زوجها، لأنه غني ليست عفيفة. فإنها لا تحبّ زوجها بل تحب الذهب الذي لزوجها.</p>
<p>يوجد في الكنيسة أناس يتحدّث عنهم الرسول، يكرزون بالإنجيل لعلّة، يطلبون من الناس ما هو لنفعهم الخاص، سواء كان مالًا أو كرامة أو مديحًا بشريًا. إنهم يكرزون بالإنجيل بشهوة نوال مكافآت بأية وسيلة ممكنة، ولا يطلبون بالأكثر خلاص من يكرزون لهم، بل ما هو لنفعهم الشخصي.</p>
<p>الراعي يكرز بالمسيح بالحق، وأما الأجير فبعّلة يكرز بالمسيح، طالبًا شيء آخر. ومع هذا فإن هذا وذاك يكرزان بالمسيح.</p>
<p></p>
<p>حقًا لقد كرزوا بالمسيح عن حسدٍ، لكنهم كرزوا بالمسيح. انظروا لا إلى الوسيلة، بل إلى موضوع الكرازة. لقد كُرز لكم بالمسيح عن حسدٍ. تأملوا في المسيح وتجنبوا الحسد.</p>
<p>لا تتمثلوا بشرً الكارز، وإنما تمثلوا بالصالح الذي كُرز لكم به.</p>
<p>المسيح هو الحق. ليُعلن الحق عن علة بواسطة أجراء. ليُكرز بالحق بواسطة الأبناء. الأبناء ينتظرون بصبرٍ من أجل الميراث الأبدي للأب. الأجراء يتوقون إلى ذلك من أجل نوال أجرة وقتية ينالونها من الذي يستأجرهم.</p>
<p>الذين يحبونني يكرزون، والذين يبغضونني يكرزون. في الرائحة الذكية يعيشون الأولون، وفي تلك الرائحة يموت الآخرون. ومع هذا فبكرازة الفريقين ليتمجد اسم المسيح ولتملأ رائحته العالم<a href="#_ftn9" name="_ftnref9">[9]</a>.</p>
<h4>أيضاً للقديس أغسطينوس</h4>
<p>ليتنا لا نحب ذواتنا، بل نحبه هو، وبرعايتنا لغنمه نطلب ما له وليس ما لنا&#8230; لأنه من لا يقدر أن يحيا بذاته يموت بالتأكيد إن أحب ذاته. وهو بهذا لا يكون محبًا لنفسه، إذ بحبه لنفسه يفقد حياته&#8230;</p>
<p>ليت رعاة القطيع لا يكونون محبين لذواتهم لئلا يرعوا القطيع كما لو كان ملكًا وليس بكونه قطيع المسيح،</p>
<p>فيطلبون ربحًا ماديًا بكونهم &#8220;محبين للمال&#8221;.</p>
<p>أو يتحكمون في الشعب بكونهم منتفعين،</p>
<p>أو يطلبون مجدًا من الكرامة المقدمة لهم بكونهم متكبرين،</p>
<p>أو يسقطون في هرطقات كمجدفين،</p>
<p>ويحتقرون الآباء القديسين كعصاة على الوالدين.</p>
<p>ويردون الخير بالشر على ما يرغبون في إصلاحهم حتى لا يهلكوا بكونهم ناكرى المعروف</p>
<p>ويقتلون أرواحهم وأرواح الآخرين كمن هم بلا رحمة،</p>
<p>ويحاولون تشويه شخصيات القديسين كشهود زور،</p>
<p>ويطلقون العنان للشهوات الدنيئة كغير طاهرين،</p>
<p>ويشتكون دائمًا&#8230; كغير رحماء.</p>
<p>ولا يعرفون شيئًا عن خدمة الحب كمن لا عطف فيهم،</p>
<p>ويُقلقون البشرية بمناقشاتهم الغبية كعنيدين،</p>
<p>ولا يفهمون ما يقولونه أو ما يُصرّون عليه كعميان،</p>
<p>ويفضلون المباهج الجسدية عن الفرح كمحبين للذات أكثر من حبهم لله.</p>
<p>هذه وغيرها من الرذائل المشابهة، سواء كانت كلها في مجموعها تظهر في شخص واحد، أو أن إحداها تسيطر على شخص وغيرها على آخر، فإنها تظهر بشكل أو آخر من منطلق أن يكونوا محبين لأنفسهم. هذه الرذيلة التي يلزم أن يتحفظ منها من يرعون قطيع المسيح، لئلا يطلبوا ما لذواتهم وليس ما ليسوع المسيح، ويستخدمون من سفك المسيح دمه لأجلهم لأجل تحقيق شهواتهم<a href="#_ftn10" name="_ftnref10">[10]</a></p>
<h4>القديس غريغوريوس النيسي</h4>
<p><strong>الراعى الصالح</strong></p>
<p>&#8221; أخبرنى أين ترعى &#8221; . أين ترعى القطيع أيها الراعى الصالح، يامن تحمل كل قطيعك على كتفيك ؟ لأن الحمل الوحيد الذى تحمله على كتفيك والذى يشير الى كل الجنس البشرى هو الذى يكشف لى مكان الراعى ويقودنى الى مياه الراحة والى المراعى الخضراء وينادينى باسمى والخراف كلها تسمع صوته وهو يعطيها حياة آبدية &#8221; اخبرنى يا من تحبه نفسى &#8221; (نش ١ : ٧) &#8221; وأعطاه اسما فوق كل اسم &#8221; (فى ٢: ٩) وهو لا يعبر عنه ولايمكن بلوغه أو ادراكه لكل الخليقة الناطقة ، ولكن هذا الاسم هو تعبير عن البر الكامل واتجاهنا الروحى نحوه كيف لا أحبك يا من أحببتنى مع كونى سوداء . يا من تبذل كل حياتك للقطيع الذى ترعاه لأنه لا يوجد حب أعظم من هذا أن تضع حياتك من أجل خلاصى، أخبرنى أين ترعى لعلى أجد الراعى الذى يخلصنى وأن يشبعنى من الخبز السمائى الذى يجب أن يأكله كل البشر اذا هم دخلوا الى الحياة معه . وأعطنى أن اجرى اليك يا مصدر الارتواء لكى أرتوى من مياه الراحة التى يشرب منها العطشان فيرتوى ، هذه هى المياه التى نزلت من جنبك على الصليب حين ضربوك بالحربة &#8221; الماء الذى أعطيه يصير فيه ينبوع ماء ينبع الى حياة آبدية &#8221; (يو٤: ١٤) . ليتك تقودنى فى هذا الطريق لتجعلنى أرقد فى النهار وعندئذ &#8221; بسلامه أضطجع بل أيضا أنام &#8221; (مز٤: ٨) فى النهار أرقد بلا ظل لأنه لا يوجد ظل فى منتصف النهار لأن الشمس تكون عمودية فوق رؤوسنا وعندئذ سيرقد كل أولئك الذين تطعمهم حينما تأخذ أولادك معك فى الفراش (لو١١: ٧) ولن يكون أى أحد مستحقا أن يستريح فى منتصف النهار الا اذا كان ابن النور وأبن النهار لأن الذى ترك ظلمة الليل والظلام الذى قبل الفجر – لأن هذه هى بداية نهاية الشر – فأنه سوف يرقد فى منصف النهار بمعونة ابن الله . هكذا تقول عروس النشيد &#8221; أين ترعى أين تربض عند الظهيرة &#8221;  (نش ١ : ٧) فكأنها تقول له أين ترقد ، أين طريق الراحة فى منتصف النهار لئلا أبعد عن هدايتك وارشادك ولئلا انحرف بجهل عن قطيعك واحيا بعيدا عنك هذا ما تقوله عروس النشيد فى اهتمام بالغ بالجمال الآلهى حتى تحتفظ بمحبتها الألهية الى الأبد ، وهى مع ذلك تشعر أنها غير مستحقة لسماع صوت العريس لأن الله قد رفعها جدا ويريدها أن تتمتع بالفرح ويكون لها عندئذ شوق كبير اليه ، لأن رغبتها اليه سوف تعطيها لذة وفرحا <a href="#_ftn11" name="_ftnref11">[11]</a> .</p>
<h3>عظات آباء وخدام معاصرين</h3>
<h4>المتنيح الأنبا أثناسيوس مطران بني سويف والبهنسا</h4>
<p>(يو ١٠: ١-١٦)</p>
<p>يرتبط الحديث عن الرعاية الصالحة هنا بالجزء الأخير من الإصحاح الماضى فلقد احتج الفريسيون على الرب حين قال أنه جاء لكي يجعل العميان يبصرون والمبصرين يعمون واعتبروه يصفهم بالعمى فقال لهم &#8220;لو کنتم عمیانا لما كانت لكم خطية ولكن الآن تقولون أننا نبصر فخطيتكم باقية &#8221; .</p>
<p>۱:۱۰ &#8211; ۱۰ الراعي المعتمد :</p>
<p>كان الفريسيون يعتبرون أنفسهم معلمي الشعب . وها هم في خلال الحديث عن الأعمى الذي أبصر يستنكرون أنهم عميان . أي أنهم متأكدون أنهم مبصرون وعارفون بالشريعة والناموس . لذلك لايرون طريق الحق الذي هو يسوع المسيح .</p>
<p>فكلمهم الرب عن صفة الراعي المعتمد . أنه منذ الآن الذي يؤمن بالرب يسوع ويدخل إلى الخدمة عن طريقه ويعلم الخراف طریقه بابا وحيدا &#8221; الذي لايدخل من الباب إلى حظيرة الخراف .. سارق ولص .. الحق الحق أقول لكم أني أنا باب الخراف .. أنا هو الباب .. أن دخل بي أحد يخلص فيدخل ويخرج ويجد مرعي &#8221; ( ۱:۱۰ و ۷ و ۹ ) .</p>
<p>كان الرعاة في فلسطين يجمعون قطعانهم المختلفة داخل حظيرة عامة عند الغروب حتى يسهل حراستها . وفي الصباح يأتي كل منهم ينادی علی قطيعه بأصوات معينة فتخرج أغنامه وحدها على صوته . وهكذا في المساء أيضا أن كانت الأغنام قد أختلطت بغيرها يقف الراعي في ناحية وينادی عليه بأصوات فتتجمع جميعها حوله ، فيقودها إلى الحظيرة . فالسيد المسيح هنا يسمي نفسه الباب . مبينا أنه الطريق الوحيد إلى الخلاص « أما أنا فأنيت لتكون لهم حياة وليكن لهم أفضل &#8221;</p>
<p>وهؤلاء المعلمون اليهود الذين يدعون البصيرة ، ويقاومون الرب يسوع يفقدون الخلاص ويضللون تابعيهم . ليتهم اعترفوا أنهم عميان وخطاة واقبلوا اليه فخلصوا .</p>
<p>ثم أنهم يتمسكون بمراكزهم التعليمية والرعوية دون الإيمان به فهم أذن يدخلون عن غير طريق الباب وهم سراق ولصوص .</p>
<p>فالآيات الست الأولى هي المثل، والأربعة الأخيرة توضيحه. وحينئذ ليس من داع لتأويل عبارة &#8221; جميع الذين أتوا قبلی هم سراق ولصوص، إلا على المعلمين اليهود المعاصرين الذين لا يؤمنون به ويعلمون بالضلال عنه .</p>
<p>أما الخراف التي لم تسمع فهي أولئك الذين آمنوا أمثال التلاميذ والرجل الذي كان أعمى لأنهم أدركوا أنهم يمنعونهم عن الحق .</p>
<p>وكل راع يجب عليه الدخول من الباب أي أن يكون مدعوا من الرب ومن اقتحم الخدمة كان معتديا ، و &#8221; لايأخذ أحد هذه الوظيفة من نفسه بل المدعو من الله . كما هرون أيضا &#8221; (عب ٥: ٤) .</p>
<p>۱۱:۱۰ &#8211; ١٦ الراعي الصالح :</p>
<p>يقول القديس ذهبي الفم أن الكتاب المقدس هو الباب . أما أوغسطينس فيقول أن السيد المسيح هو الباب والبواب والراعي . والذين أتوا قبله أي الذين أدعوا أنهم المسيا هم مثل يهوذا الجلیلی وثیوداس . على أن هذه الوظائف الثلاث يمكن أيضا أن تنطبق على الثالوث المقدس فالباب هو الفادي = الابن ، والبواب هو الآب : المالك ، والراعي هو قيادة الروح القدس فالمسيح يفدينا والآب يفتح لنا والروح يرشدنا .</p>
<p>وهو يتكلم عن راع وأجير وسارق ، وذئب . فالراعی :</p>
<p>١- يضع نفسه عن الخراف أي أنه يضحي ويبذل بفرح</p>
<p>۲- يعرف خاصته أي يعرف احتياجاتها ، ويقدمها لها ولذا فهی تتبعه ولاتحيد عن صوته . وحياة الرعية تحتاج أغذية متعددة ولايجوز أن يقتصر الراعي على نوع واحد من الغذاء فداود النبي يقول &#8221; في مراع خضر يربضنی &#8221; حيث تتعدد أنواع الغذاء . وفي الكنيسة يجب أن تكون العبادة حية معزية منظمة سواء الفردية أو الجماعية ، الموضوعة أو الارتجالية إلى غير ذلك من تفضيلاتها وكذلك التعليم سواء الوعظي أو الدراسي في الكلام أو الكتب للصغار أو الكبار ، للجميع أو للفئات . ثم هناك الرعاية الفردية عند حضور الاجتماع وفي البيوت . وفي التوجيه العام وفي الاعترافات وفي الجلسات الخاصة بكل مايحوى هذا القطاع من اهتمامات وأنشطة واعداد شمامسة واهتمام الفروق الفردية وسائر النواحي . ثم هناك الخدمة . فكم من خدمة غيرت حياة شخص . والخدمات في الكنيسة متعددة جدا خصوصا الخدمات الاجتماعية في مجتمعنا الحاضر .</p>
<p>وعلى الراعى أن يهتم بكل هذا للفرد ثم للكنيسة . عليه أن يهتم بالنواحي التنظيمية والمالية ، والإدارة والقواعد التي يسير عليها العمل .. والأنشطة ، والعلاقات العامة . والرعية تحتاج لكل هذا فأن أحد أمراض الكنيسة اهتمام راع بناحية واحدة من النواحي فان كان محبا لتعليم الصغار كان لذلك اهتمامه الأكبر أو كان محبا للنظام أو للعبادة أو للتعمير .. أو أي ناحية فمن الخطر الكبير أن يستحوز ميله على اهتمامه وإلا كان نمو الكنيسة والأفراد مريضا کنمو الأجسام على أغذية غير مستكملة العناصر أو أجواء غير صحية . ولذا فعلى الراعى في هذه الأيام أن يوازن بين هذه الأمور كلها . أن يهتم اهتماما خاصا بتكوين شمامسة لكل هذه القطاعات ومهمة الكنيسة أن يكون اهتمامها بسائر النواحي وأن تعد مايلزم للمعاونة فيها جميعا ومباشرتها جميعا حتى تتكامل الخدمة الكنسية .</p>
<p>٣- وللراعي الصالح خراف آخر ليست من الحظيرة وكم من بعيدين الكنيسة شغلهم العالم عن انتمائهم إلى أمهم . وكم من متفرقين في الأحياء والمناطق المغمورة والبعيدة والأقاليم التابعة للكرازة في العالم يحتاجون الخدمة . وأن لم يكونوا محسوبين في الحظيرة الظاهرة .</p>
<p>٤- والراعي قدوة . يذهب أمامها ومهما ظن أن صفاته غير معروفة ،فأنه حتما يجدها في الناس وكأن الشيطان دخل من باب ضعف الخادم ليهلك الرعية بذات الضعف<a href="#_ftn12" name="_ftnref12">[12]</a>.</p>
<h4>المتنيح الأنبا كيرلس مطران ميلانو</h4>
<p>عن الفعله والحصاد</p>
<p>واحك لنا يا تاريخ . . عن الفعلة والحصاد</p>
<p>تري من هذا الشيخ الطفل الوقور ؟!</p>
<p>قلت لعله التاريخ المقدس ؟ ! .. لأنه يسجل ويصور ويحكي .. يسجل أعمالا مقدسة .. ويلتقط صورا حية نقية ..</p>
<p>رأيته سفرا مفتوحا .. لم تنته صفحاته .. أحسست انه سفر لأعمال رسل ، وأبرار ، وقديسين ، وأطهار ..</p>
<p>جلست تحت هذا السجل العظيم المقدس .. جلست تحت صفحاته التي تسيل حبا .. وتقطر شهدا .. جلست .. أسأل .. وأسمع .. وأرتوي .. على غلاف هذا السجل لمحت عبارة قالها السيد المسيح .. &#8221; الحصاد كثير ، والفعلة قليلون .. &#8221; .</p>
<p>نظرت إلى عيون الشيخ الطفل الوقور .. وقلت في داخلي .. يبدو أن شبكية عينيه متصلة بحدقة عين الرب .. لأنه لا يري بعيون الآخرين عندما يسجل .. بل يري بعينيه ويكتب .. وهو يروي عملا لا قولا .. أصابعه يحركها الله .. فيكتب عن الذين أحبوا الرب من كل قلوبهم وهم المنقوشين على كفه (أش ٤٩ : ١٦) .. لأن الحائدين عن الرب لا يكتبون في هذا السجل .. إنما على التراب يكتبون .</p>
<p>لنا نحن سكان الأرض يكتب سجلا مفتوحا عن الأبرار .. ويرسل أعمالهم إلي سفر الحياة في السماء .. التي تتبلور إلى حصاة جديدة (رؤ ۲ : ۱۷) تجمع عمل كل واحد .. في كلمة واحدة .</p>
<p>تجرأت .. وسألت هذا الطفل الشيخ الوقور .. من أنت ؟! وما عمرك ؟! وما عملك ؟!</p>
<p>قال لي .. أنا لست شخصا . إنما أنا تاريخ !!</p>
<p>أنا وليد أعمال الفعلة الأبرار القديسين .. هؤلاء هم الذين صنعوني . ولا يوجد تاريخ مثلي يحيا بين الشعوب ويبقى على الأرض وفي السماء ..</p>
<p>عمري يتجدد يوما بعد يوم .. لأن الفعلة الأبرار يولدون كل يوم &#8230;</p>
<p>سألته .. أيها التاريخ الوقور . أنت تقول إن الأبرار يولدون كل يوم والسيد المسيح يقول الحصاد كثير والفعلة قليلون ، دعني أسألك ؟! كيف يكون الفعلة قليلون ، وكثيرون الذين يخدمون ؟ ! .. لأن كثيرون يتسابقون ويتصارعون في الخدمة لمجد أنفسهم ؟!</p>
<p>فسألته لعلي لا أفهم ما هو الحصاد ؟! فهمني كيف يجب أن نفعل ؟! ولماذا تفعل ؟ ! وأين نفعل ؟ !</p>
<p>مد يده وفتح الكتاب المقدس . وقرأ علي معجزة المفلوج (مر ٢).. وسمعت عن الأربعة الذين حملوا المريض . وعرفت أنه لأجل إيمانهم شفاه المسيح ..</p>
<p>ونظر إلي الشيخ وسألني .. هل تعلم من هو هذا المفلوج ؟! وهل تعرف من هم هؤلاء الأربعة الذين حملوه ؟!</p>
<p>قلت هذا المفلوج إنسان مريض .. وهؤلاء الأربعة أحباؤه وحملوه للمسيح طالبين له الشفاء . وقلت .. المسيح هو الله الكلمة المتجسد الطبيب الشافي ..</p>
<p>ويبدو أن إجابتي كانت ضعيفة وسطحية .. لأنه قال لي نقرأ مرة أخرى فأحسست بنحميا الذي صلى سرا عندما سأله الملك ارتحشستا وقبل أن يجيب (نح ٢ : ٤) . وتذكرت جيحزي الذي فتح الرب عينيه (٢مل ٦ : ١٧) . وقلت يا الله ..</p>
<p>أنت الحاضر في كل مكان .. أنا لا أريد أن أري ملائكة ، أنما عرفني الروح المخفي وراء الحروف .. ثم قرأت كما قال لي الشيخ ..</p>
<p>أدركت ماذا يريد أن يفهمني هذا الوقور .. إذ رأيت أمامي مدينة مقدسة محببة يسكنها المسيح . ويحب أن يعمل فيها . مدينة الخدام الفعلة ..</p>
<p>لم أر أربعة أشخاص .. بل رأيت الجدران التي يجب أن يعمل فيها الراعي..</p>
<p>رأيت مدينة جدرانها الحب والبذل والإيمان والعمل ..</p>
<p>قال لي الشيخ الوقور .. أنظر .. المفلوج هوكل مخدوم بعيد عن المسيح .. والأربعة هم الخدام الفعلة الذين اشتركوا معا واجتمعوا في توصيل المخدوم الواحد الخدام للمسيح ..</p>
<p>قليلون من هذا النوع .. من نوعية الأربعة الذين يجتمعون ويحملون واحدا للمسيح &#8230; ؟ !</p>
<p>في هذا الزمان علي النقيض .. إذ نرى خادما واحدا يتصارع مع نفسه ، ومع اخوته ، ومع من حوله .. من أجل خدمة أربعة مخدومين .. ولا يقدر أن يصل إليهم .. ولا يصل بأحدهم إلى المسيح ..</p>
<p>وطرح أمامي سؤالاً ؟! هل في الدينونة .. يقدر هذا الخادم أن يتصارع مع من حوله لينفرد عندما يعطي حساب الوكالة ؟!</p>
<p>هذا النوع في مخيلته يرى نفسه خادما .. لكنه غير عامل ويبقي فاعلا عندما يفتح قلبه ويمتلئ بفكر المسيح ..</p>
<p>وقال لي الوقور .. المؤلم .. أن هذا النوع من الخدام يعتقد أن به تم كل التجديد في الخدمة .. وبغيره لم يكن شيء مما كان ؟!</p>
<p>وعرفني أن الخدمة البعيدة عن شخص السيد المسيح والمتعلقة على الذات .. طرحت كثيرين جرحى .. وكل قتلاها أقوياء .. (أم ٧ : ٢٦) .</p>
<p>قلت للشيخ الوقور .. أخبرني .. من الذي تسجله انت ؟! قال لي أنا أسجل الفاعل المستحق الأجرة ..</p>
<p>هل أنت تسجل الفاعل وليس الخادم ؟! قال لي .. ليس كل خادم فاعلا .. إنما أنا أسجل الخادم الفاعل .. وعرفني .. أنه يوجد من يخدم وهو جالس على عرش الكبرياء .. ويفتح فمه ويتكلم عن الاتضاع .. هل يجوز أن يسجله التاريخ ؟!</p>
<p>ويوجد من يخدم .. ويسكن قلبه الانتقام .. ويفتح فمه ويتكلم عن الهدوء الداخلي .. هل يجوز أن يسجله التاريخ المقدس ؟!</p>
<p>مثل هؤلاء لم اسجلهم عندي .. لأنهم يعتبرون أنهم فعله .. ويقولون للمسيح متى رأيناك غريبا .. وعريانا .. وجائعا .. ولم نخدمك..</p>
<p>أنا أسجل الذين رأوا المسيح وفعلوا مع الفقير الذي لا يعرفونه .. والجائع الذي لا يعرفونه .. والعريان والمحبوس والغريب . أسجل الذين عملوا كثيرا .. وفي داخلهم الشعور أنهم لم يعرفوا كيف يخدمون ؟ <a href="#_ftn13" name="_ftnref13">[13]</a>!</p>
<h4>المتنيح الأنبا بيمن</h4>
<p><strong>الراعي الصالح</strong></p>
<p>&#8221; أنا هو الراعي الصالح ، والراعي الصالح يبذل نفسه عن الخراف &#8220;(يو ۱۱:۱۰) . إن كلمة الصالح في اليونانية تعني الجميل ، وهذا يشرح أن راعينا ليس</p>
<p>صلاحه في داخله فقط ، وإنما يشع جمالا وبهجة . لهذا منذ القرن الثاني الميلادي</p>
<p></p>
<p>وصورة الراعي الصالح موجودة في كنائس المسيحيين ، فيها الراعي شاب تسطع عليه نعمة الصبوة  والجمال . أن هذا اللقب يكثف في معانيه الشيء الكثير، يشير إلى صلاح راعينا ، وإلى جماله وحلاوة العشرة معه ، وإلى قدم هذا اللقب وديمومته وعظم التكامل في أن يكون الراعي والحمل معا في نفس الوقت.</p>
<p>اللقب في العهد القديم</p>
<p>يعتبر داود النبي هو أعظم من أبرز هذه العلاقة بين الله وشعبه ،كما يعتبر سفر حزقيال وبالأخص الإصحاح الرابع والثلاثين أروع ما جاء عن الله كراع في</p>
<p>العهد القديم . أسمع داود النبی يرتل بقيثارته الحلوة قائلا &#8220;الرب يرعاني فلا</p>
<p>يعوزنى شئ في مراع خضر يسكنني ، على ماء الراحة يربضني &#8221; (مز ۲۳)</p>
<p>واسمع صوت الراعي في حزقيال يقول &#8220;هاأنذا أسأل عن غنمي وأفتقدها ، كما يفتقد الراعي قطيعه يوم يكون في وسط غنمه المشتتة ، هكذا أفتقد غنمي وأخلصها . ثم يقول أنا أرعى غنمي وأربضها يقول السيد الرب ، وأطلب الضال وأسترد المطرود وأجبر الكسير وأعصب الجريح وأبيد السمين والقوى وأرعاها بعدل &#8221; (حز٣٤ :١١ &#8211; ١٦) .</p>
<p>ولما كان داود رمزا للمسيح في رعايته ، فأننا نجد اسمه يتكرردائما عندما</p>
<p>يذكر لقب الراعي في العهد القديم &#8221; وأقيم عليها راعيا واحدا فیرعاها عبدی داود</p>
<p>ويرعاها وهو يكون لها راعيا وأنا الرب أكون لهم إلها وعبدی داود رئیسا فی</p>
<p>وسطهم . أنا الرب تكلمت وأقطع معهم عهد سلام وانزع الوحوش الرديئة من الأرض &#8221; (حز ٣٤ : ۲۳ &#8211; ٢٥) . وكما كان داود رمزا للراعي الصالح ، فإن العهد القديم لم يخل من توبيخات وتهديدات لرؤساء الشعب والرعاة المحترفين الأجراء غير الأمناء ، في هذا يندد أرميا قائلا &#8221; ويل للرعاة الذين يهلكون ويبددون غنم رعيتي يقول الرب ، لذلك هكذا قال الرب إله إسرائيل عن الرعاة الذين يرعون شعبي . أنتم بددتم غنمى وطردتموها ولم تتعهدوها . هاأنذا أعاقبكم على شر أعمالكم يقول الرب (أر ۲۳ : ۱- ۲) .</p>
<p>يسوع هو الراعي الصالح</p>
<p>لقد كان لقب الراعي هو أحد الألقاب المحببة والدائم ذكره في حياة الرب علی الأرض ففي الأناجيل نجد ذكر هذا اللقب مرات متكررة &#8221; لا تخف أيها القطيع الصغير لأن أباكم قد سر أن يعطيكم الملكوت &#8221; (لو ۱۲ : ۳۲). وضرب لهم مثلا</p>
<p>أي إنسان فيكم له مائة خروف وأضاع واحدا منها ألا يترك التسعة والتسعين في البرية ويذهب لأجل الضال حتى يجده ،وإذا وجده يضعه على منكبيه وفی عتاب الرب يسوع لسمعان بن يونا المكتوب في ختام بشارة معلمنا يوحنا نسمع الرب مخاطبا تلميذه ثلاث مرات قائلا &#8221; أرع غنمي &#8221; على أنه يعتبر الإصحاح العاشر من هذه البشارة هو أروع وأعظم ما جاء ذكره عن الرب يسوع كراع صالح يرعی قطيعه ويغذيه ويحميه ويبذل نفسه من أجله.</p>
<p>ديناميكية العلاقة بين الراعي والرعية</p>
<p>عندما أعلن الرب يسوع عن نفسه أنه هو الراعي الصالح ،كانت كل علاقة بين الراعي والقطيع تحمل ديناميكية معينة ، هويقدم والرعية تستقبل ، هو يبذل نفسه وهي تستجيب ، هو يتقدم وهي تتبع وتخضع.</p>
<p>ا- يعرف خاصته وهي تسمع صوته</p>
<p>فالعلاقة التي بين راعينا المحبوب وبين رعيته لیست علاقة غامضة وإنما</p>
<p>علاقة شخصية محددة . أنه يعطى لكل حمل إسما والإسم يعني الشخصانية .</p>
<p>فالمعرفة إذا قوية وعميقة ومقدرة كل الظروف والأحوال . ولقد شبه عمق هذه</p>
<p>المعرفة بالمعرفة التي بينه وبين أبيه الصالح إذ قال &#8221; أعرف خاصتى وخاصتى</p>
<p>تعرفني ، كما أن الآب يعرفني وأنا أعرف الآب&#8221; . وصدي لهذه العلاقة العميقة</p>
<p>يلزم للحمل أن يسمع صوت راعيه . يعيه جيدا ، يطيعه تماما ،يميزه عن أصوات</p>
<p>الغرباء حتى لا يقع فريسة بين أيديهم . إن صوته يتميز بالبساطة والوضوح الهادئ</p>
<p>يقول النبي &#8221; أني أسمع ما يتكلم به الرب الإله . إنه يتكلمبالسلام لشعبه وقديسيه &#8221; .</p>
<p>۲ &#8211; يحميها من الأخطار وهي تتبعه</p>
<p>يصف الرب الراعي الصالح بأنه يتقدم الخراف حاملا عصاه وعكازه ، والعصا قطعة قصيرة من الخشب تنتهي بقطعة معدنية ثقيلة ، إنها تستخدم كسلاح دفاعی لحماية القطيع من الذئاب واللصوص ، والعكاز يحمل معنى المعونة والسند والحماية . يستند هو إليه ليستريح ويستخدم نهايته المقوسة كالخطاف فيمسك الغنمة من رقبتها أو رجلها حينما تعبر بعيدا عنه. العصا والعكاز ليس لتخويفنا وإنما هي للدفاع والمعونة ويوحيان إلينا بالثقة واليقين. إزاء هذا الحماية يلزم للحملان ألا تتخلف عن راعيها، ولا تندفع وتسير أمامه في شعاب ملتوية حيث جحور الذئاب المفترسة.</p>
<p>وإزاء هذا الأمان يلزم للحملان أن تتمتع بالسلام والطمأنينة ولاتخف شيئا لأن الراعي ساهر وأمين &#8221; إن سرت في وسط ظل الموت فلا أخاف شرا لأنك أنت معی&#8221;.</p>
<p>٣ &#8211; يرعاها ويعتني بها وهي تستسلم له</p>
<p>أنه لا يحميها فقط بل يعتني بها ، يقودها إلى مراعی خضراء ،وعند مياه الراحة يربضها . تحت ظله تأكل وتنعم وترتوي بكل غنى وشبع واسترخاء . يعطيها أكثر مما تطلب ومما تفتكر . ولكنها أيضا مسئولة أن تحترس من الأعشاب السامة والمياه العفنة . كما تميز صوتة عن الغريب فهي تميز أيضا مرعاه عن السموم والمخاطر . لقد تعودت أن تسلم له قيادتها وهو أمين في كل معاملاته معها .  إلى الحظيرة كل مساء ويضع عصاه في طريق الباب حتی ينحني كل خروف ويقف لحظة ليفحصه لئلا يكون قد أصابه ضرر هكذا تنبأ حزقيال عن هذه العلاقة بين الرب وشعبه (حز ٣٤ : ۷ &#8211; ۳۱). فما أعظم محبته ، أنه لا يغفل عن أن يبحث كل مطالبنا ويسد كل إحتياجاتنا وطوبى للنفس التي تطيعه وتستسلم له إنها تنال خلاصه المجاني العجيب.</p>
<p>يبذل ذاته لأجلها حتى الموت</p>
<p>في الأخطار يتقدم ويعرض نفسه للذئاب واللصوص ، وقد رأينا داود يقتل أسدا ودبا . وفي السهر يجلس الليل كله عند بابالحظيرة وحارس إسرائيل لا ينعس ولا ينام..هو بنفسه قال عن ذاته أنا أضع نفسي عن الخراف .. لهذا يحبني</p>
<p>الآب لأني أضع نفسي لآخذها أيضا . وكل من يحب راعيه يبذل حياته لأجل</p>
<p>الأخرين لأنه مكتوب &#8221; لكي يعيش الأحياء فيما بعد لا لأنفسهم بل للذي مات لأجلهم</p>
<p>وقام &#8221; .</p>
<p>+ مبارك الآب السماوي الذي مسرته في بذل إبنه لأجلنا.</p>
<p>+ ومبارك إبنه الوحيد يسوع المسيح الذي بذل ذاته حتى الموت ،موت الصليب لكي لا يهلك كل من يؤمن به.</p>
<p>+ ومبارك الروح القدس الذي يرشدنا ويحكمنا وينير بصائرنا لنبقی جمیعا رعية</p>
<p>واحدة للراعي الواحد الصالح الذي له المجد الدائم آمین .</p>
<p>أيها الراعي الصالح الأمين أنت قلت أطلبوا من رب الحصاد أن يرسل فعلة لحصاده هل تسمح أن ترسل بقوة روحك القدس لكل القطعان رعاة أمناء ، يسهرون ويفتقدون ويبذلون ، غير طالبين مغنما ولا مركزا ولا مالا ولا صيتا وسمعة ولكنهم يتمثلون بك وحدك ليكونوا ذبائح معدة للموت كما هم أيضا رعاة وقادة يتقدمون بك ومعك مسيرة شعبك نحو ميناء الخلاص<a href="#_ftn14" name="_ftnref14">[14]</a> .</p>
<h4>أنا هو الباب للأب أنتوني م. كونيارس</h4>
<p>ذات مرة قال الوجودي جان بول سارت Jean Paul Sartre : [إن الحياة تشبه ملهي ضخماً مليئا بالناس، وهذا الملهى تداهمه النيران من كل جانب، بينما لا توجد فيه أية مخارج أو أبواب تؤدي إلى الخارج، والناس قد تم احتجازهم داخل الملهى، وهم يدركون ذلك].</p>
<p>وفي المقابل يقول يسوع، &#8220;أنا هو الباب إن الدخل بي أحد فيخلص، ويدخل ويخرج ويجد مرعي» (يو ۱۰: ٩)، وبذلك فإن يسوع يقول إن الحياة ليست في ملهى بدون أبواب تداهمه النيران، ولكن يوجد اليه طريق للخروج، كما يوجد فيه باب، وهذا الباب هو المسيح.</p>
<p>باب الخراف</p>
<p>استخدم يسوع تركيبات لغوية كانت مفهومة لدى عامة الشعب عندما كان يسوع يعيش على الأرض. ولكي نفهم ماذا كان مقصده من كلمة: &#8220;باب&#8221;، فإننا نحتاج أن نتذكر أن الراعي في تلك الأيام كان يجمع قطيعه ليلا في حظائر الأغنام في الهواء الطلق بهدف الحماية، وكانت هذه الحظائر محاطة بجدار تعلوه الأشواك لمنع زحف الذئاب الخاطفة. كان الراعي يقف عند الباب الضيق ويدعو القطيع للدخول؛ ويدعو كل غنمة من غنامته باسمها، وكلما يأتي خروف، كان الراعي يفحص الرأس والحاجب ليرى ما إذا كانت هناك اية جروح أو خدوش، وعندما كان يجد جرحا ما، كان يأخذ قارورة الزيت ويقوم بتدليك هذا الجرح بكل رفق، وبعد ذلك يرتوي القطيع بالماء من بئر واسعة مجاورة، ثم يتقدم بها نحو الحظيرة، بعد ذلك يلف الراعي نفسه في بطانية ويرقد بمحاذاة الباب الضيق الذي هو بمثابة المدخل الوحيد، وبهذه الطريقة لا يستطيع أي حيوان مفترس أن يدخل إلى الحظيرة إلا بالمرور على جسد الراعي، كان الراعي هو الباب بالمعنى الحرفي، ولم یگن هناك مدخل إلى الحظيرة إلا من خلاله، ولذلك عندما قال يسوع: «أنا هو الباب»، كان يقصد أنه هو الوسيلة التي يدخل بها شعبه إلى الأمان، ويكونون في مأمن من الأخطار: أنا هو باب الخراف&#8230; وأنا أضع نفسي عن الخراف» (یو ۱۰: ٧، ١٥).</p>
<p>ومن المثير أن نلاحظ أنه خلال العصور الوسطى، استخدمت إحدى نقابات النجارين في إنجلترا كلمات المسيح: «أنا هو الباب» كعلامة تجارية للنقابة. لقد قسموا كل باب إلى أربعة مستطيلات رأسية تاركين جزءا بارزا على شكل صليب في منتصف الباب، وحتى يومنا هذا، يوجد صليب في منتصف الكثير من أبوابنا، ليذكرنا أن يسوع هو الباب الحقيقي.</p>
<p>الباب المؤدي إلى الخلاص</p>
<p>«ان دخل بي أحد فيخلص»: إن يسوع هو الباب المؤدي إلى الخلاص، ولكن البشر يصممون على اختراع أبواب أخرى للخلاص: باب التعليم، باب الفلسفة، باب العلم، باب التفكير الإيجابي&#8230; وما إلى ذلك من أبواب، ولكن يسوع يقول: «أنا هو الباب». لم يقل يسوع: &#8220;أنا هو باب“، بل قال: «أنا هو الباب». الباب الواحد one والوحيد only، كما قال القديس بطرس: «وليس بأحد غيره الخلاص، لأن ليس اسم آخر تحت السماء قد أعطي بين الناس، به ينبغي أن نخلص» (أع٤: ١٢).</p>
<p>الباب المؤدي إلى حضرة الله</p>
<p>إن يسوع هو الباب المؤدي إلى حضرة الله، فهو وحده الذي يمنحنا الدخول إلى حضرة الله، والآخرون يجدون في البحث والتخمين والتخبط، ولكنهم لا يجدون إلا شذرات عن حقيقة الله، أما يسوع، فهو وحده الذي يقودنا مباشرة نحو حضرة الله. يقول يسوع: الطريق والحق والحياة، ليس أحد يأتي إلى الأب إلا بي» (يو ١٤: ٦)، «الله لم يره احد قط، الابن الوحيد الذي هو في حضن الأب هو خبر» (يو۱: ١٨).</p>
<p>كان هناك في الهيكل اليهودي في العهد القديم مكان ما يسمى: «قدس الأقداس»، وكان هذا المكان يرمز إلى الحضرة الإلهية، كما كان هناك حجاب ضخم معلق أمامه، وكان لوجود هذا الحجاب سببان: الأول لحفظ الناس خارجا، والثاني ليغلق على الله داخلاً، كما كان هذا الحجاب يرمز إلى الغموض النهائي الأعظم الذي لا يستطيع عقل الإنسان اختراقه، الذي هو سر الله. كان رئيس الكهنة فقط هو الذي يستطيع أن يدخل إلى قدس الأقداس مرة واحدة فقط في السنة، كما كان عليه ألا يتباطأ هناك لئلا يصرعه الله، فقد كان الدخول إلى حضرة الله شيئا نادرا ومثيرا للرعب والفزع. تخبرنا الأناجيل أنه عندما صلب يسوع، فإنه: «صرخ بصوت عظيم، وأسلم الروح، وإذا حجاب الهيكل قد انشق إلى اثنين، من فوق إلى أسفل» (مت٢٧: ٥٠، ٥١). لقد شق موت المسيح الحجاب من فوق إلى أسفل، ليظهر عرش الله، و: «رأينا مجده، مجدا كما لوحيد من الآب» (يو١: ١٤). لقد فتح يسوع الباب المؤدي إلى الله، وهو يدعونا للدخول إلى حضرة الله بثقة وبراءة الأطفال.</p>
<p>يقول البعض إن حامل الأيقونات في الكنيسة الأرثوذكسية (وهو الجزء الذي يفصل المذبح أو قدس الأقداس عن صحن الكنيسة)، يمثل الحجاب في العهد القديم، وأنّ باب الهيكل الواسع الموجود في منتصف حامل الأيقونات، والذي يسمى الباب الملكي، يمثل الشق الذي حدث في الحجاب الذي صنعه المسيح، وهذا يذكر العابد أن المسيح هو الباب المؤدي إلى حضرة الله.</p>
<p>الباب المؤدي إلى الأمان</p>
<p>كما أن المسيح هو الباب المؤدي إلى الخلاص، والباب المؤدي إلى الحضرة الإلهية؛ هكذا هو أيضا الباب المؤدي إلى الأمن والأمان، وهذا الأمان نابع من معرفة أننا نسكن في حظيرة المسيح، وهو واقف عند الباب ليحمينا، ولا يمكن أن يداهمنا شيء ما لم يتواجه معه أولاً، فهو الذي يحمينا، والمؤمن: «يدخل ويخرج ويجد مرعى». يقول ويليام باركلي William Barclay: &#8220;كانت التعبيرات الشائعة عند اليهود لوصف حياة الأمان،هى أن الشخص يستطيع أن يدخل ويخرج دون أن يتعرض إلى ضيق أو انزعاج. عندما يتسنى للمرء أن يدخل وأن يخرج بلا خوف، فهذا يعني أن بلده تنعم بالسلام، وأن قوى القانون والنظام لها السيادة والنفوذ والسلطان، وأن المواطن ينعم ويتمتع بالأمن التام في حياته. ما إن يكتشف الإنسان من خلال يسوع، من يكون الله، وبماذا يشبه، فإن إحساسا جديدا بالأمن والأمان يغمر الحياة. إن كانت الحياة في يد إله مثل هذا، فسوف تنطرح الهموم والمخاوف خارجا&#8221;. إن يسوع هو الباب الذي تأتي من خلاله معونة الله وخلاصه وأمنه للبشر.</p>
<p>الباب المؤدي إلى الخصب وإلى الرخاء</p>
<p>كما أن يسوع هو الباب المؤدي إلى الخلاص، وإلى حضرة الله، وإلى الأمن والأمان، هكذا هو أيضا الباب المؤدي إلى الخصب والرخاء، ومن خلاله، فإن القطيع: يدخل ويخرج ويجد مرعى». إن يسوع وحده هو الذي يستطيع أن يشبع الجوع العميق للنفس الإنسانية إشباعا تاما. يقول يسوع: «أتيت لتكون لهم حياة، وليكون لهم أفضل». وعندما يقول الله: «أفضل»، فهو يعني ذلك المعنى تماما.</p>
<p></p>
<p>الباب المؤدي إلى الحياة</p>
<p>لم يأت يسوع كي يمنحنا مجرد حياة، بل حياة أفضل، ولا يستطيع أحد أن يعرف ما هو معنى الحياة الحقيقية، ما لم يكن قد عاش مع المسيح. المسيح هو الواحد الوحيد الذي يضيف إلى الحياة: القوة والحيوية الجديدة، ويجعلها جديرة بأن تعاش.</p>
<p>المسيح أيضا هو الواحد الذي قهر الموت، وحول القبر إلى باب مفتوح يؤدي إلى الحياة الأبدية. عندما كان جورج موريسون George H. Morrison الواعظ الاسكتلندي العظيم يحتضر، كانت كلماته الأخيرة لزوجته: [إنّ باب يسوع مفتوح دائما، وها أنا أتقدم لدخوله].</p>
<p>إن يسوع هو الباب لكل ما لا يمكن أن تعطيه وعود العالم الزائفة والزائلة، ومن خلاله نعرف سلام الله الذي يفوق كل عقل: &#8220;سلامي أنا أعطيكم، ليس كما يعطي العالم أعطيكم&#8221;، ومن خلاله أيضا نعرف الفرح الحقيقي، والحرية الحقيقية، والسعادة الحقيقية الدائمة. الباب المفتوح دائما</p>
<p>عندما تغلق أمامنا كل الأبواب الأخرى في الحياة، يظل يسوع، بالنسبة لنا، الباب المفتوح دائما. لو آمنا بهذا حقا، فلن يكون هناك أي أمر يدعو إلى اليأس في الحياة على الإطلاق. عندما نقول إن هذا الأمر ميئوس منه، فهذا يعني أننا نغلق الباب أمام الله.</p>
<p>ليتنا لا نسمح لفترات قلقنا ومخاوفنا أن تحجب عنا باب يسوع المفتوح دائما. قيل إن الله لا يغلق بابا على الإطلاق دون أن يفتح بابا آخر، إن باب الله المفتوح هو يسوع.</p>
<p>كانت لأم ابنة تركت المنزل كي تعيش في الخطية في واحدة من المدن الكبرى، وكانت الأم تترك الباب الأمامي مفتوحا على مصراعيه كل ليلة، ولما سألوها عن سبب ذلك أجابتهم: [إنني أتمنى أن تعود ابنتي إلى المنزل، نهارا أو ليلا، لتجد الباب مفتوحا دائما، علامة حبى ترحابي بها]. هذا هو باب المسيح، المفتوح دائما لقبولنا، عندما نعود إليه بالتوبة والإيمان.</p>
<p>&#8220;إن دخل بي أحد فيخلص» (يو ۱۰: ٩): لقد فتح يسوع أمامنا الباب المؤدي إلى الخلاص، والباب المؤدي إلى الخصب والرخاء. ولكن الباب المغلق هو جزء آخر من الجدار؛ وهو لا يؤدي إلى أي مكان ما لم نعبر من خلاله. للعبور من خلال يسوع لابد أن نتوافق مع مقياسه. ولكن ما هي أبعاده هذه؟ يقول يوحنا المعمدان: «ينبغي أن ذلك يزيد، وأني أنا أنقص» (يو٣: ٣٠). ينبغي أن ننقص في الكبرياء، وأن نزيد في التواضع والتوبة والإيمان، وبذلك نتهيأ للمرور من خلال باب يسوع.</p>
<p>يتحدث يسوع عن اليوم الأخير في التاريخ عندما تجتمع الخراف معا على جانب واحد، الجداء على الجانب الآخر، وكما يقف الراعي على الباب ويدخل الخراف إلى الحظيرة، هكذا سيقف المسيح في ذلك اليوم على باب الأبدية، ليدخل إلى حضرته أولئك الذين آمنوا به كرب.</p>
<p>لماذا تبطئ إذن خارج الباب وتتوانى عن الدخول؟ تقدم، ففي الداخل ستجد الخلاص و الأمن والسلام والحب والحياة الوفيرة التي لها معنى، وعندما تصل الحياة أخيرا إلى نهايتها، ستجد أن الباب الأخير، وهو القبر، ليس بابا مغلقا بل مفتوحا، وهناك ستجد المسيح، الراعي الصالح، واقفا عند باب الأبدية في انتظارك، كي يمسك بيدك ويقودك نحو فرح الحياة الأبدية.</p>
<p>عن كتابات الأب أنتوني م. كونيارس  ترجمة ى.م  <a href="#_ftn15" name="_ftnref15">[15]</a></p>
<h4>المتنيح القمص تادرس البراموسي</h4>
<p>شهر هاتور اليوم السابع عشر من شهر هاتور المبارك</p>
<p>أنا هو باب الخراف إن دخل بي أحد يخلص ويدخل ويخرج ويجد مرعی (یو ۱۰: ١-١٦)</p>
<p>دائماً الرب يسوع يقول كلمة الحق ويعلنها أمام الجميع مبرهناً أنه هو الحق ذاته . لأنه لا يعرف الرياء ولا يقبل المواربة أو التلاعب بالألفاظ بل نراه اليوم يقول معلناً للجميع أنه باب الخراف . ولا يستطيع أحد الدخول إلا عن طريقه . باطل الإنسان الذي يفكر في الأستغناء عن السيد المسيح الفادى وكأنه يجرى وراء سراب . كثيراً في حياة البشر يعلن الشيطان أنه الله وكثيراً ما كان يخدع القديسين ويظهر لهم في شكل ملاك لكنهم عند إعلانهم إشارة الصليب يفر هارباً من أمام وجهه .</p>
<p>ونسمع الرب اليوم وهو يقول . الحق الحق أقول لكم إن الذي لا يدخل من الباب إلى حظيرة الخراف بل يدخل من موضع آخر فذاك سارق ولص . ربما يفكر الإنسان إن الطريق مبهمة للوصول إلى المسيح . وكثيرا ما يلقى السبب على الكاهن لأنه لم يسأل عليه . أو وجد عثرة في الكنيسة ماجدش من الشمامسة أو الأعضاء رحب به . ويجعل هذه الأمور شماعة يلقى همه عليها . والحقيقة الإنسان الذي ينتظر أن يرحبوا به في الكنيسة فهذا الإنسان غريب عن الكنيسة لأنه لو كان من أبناء الكنيسة لأعتبر الكنيسة أمه ومن يجهل أمه يخسر حياته . أراد الرب يسوع أن يعلن لهؤلاء أن الطريق قريب منهم والباب أيضاً فقال أنا هو باب الخراف . ها قد عرفنا الباب لكن فيه أسرار بعد دخولنا الباب . وإيه إللى أحنا بنعمله حتى نصل إلى المسيح قال الرب يسوع من آمن بي يخلص ويدخل ويخرج ويجد مرعي . يا إلهى لم تدعو سبب تزرع به الخاطئ في الوصول إليك بل سهلت كل الطرق قال لهذا يفتح البواب والخراف تسمع صوته فيدعو خرافه بأسمائها ويخرجها ويذهب أمامها والخراف تتبعه لأنها تعرف صوته . أما الغريب فلا تتبعه بل تهرب منه لأنها لا تعرف صوت الغرباء . كثيراً ما يأتى كثيرين لزيارتن في بيوتنا لا نعرف لهم هوية ولا نعرف لأى كنيسة ينتمون ربما يكونوا خارجين عن المسيحية يهدموا عقيدتنا ويسبوا مسيحيتنا. وبكل أسف نرحب بهم ونعطى لهم مكان في بيوتنا بل وفي قلوبنا أيضا . معنى ذلك نهدم كنيستنا بأيدينا . لماذا لا نعرف الغريب ونبعده عن بيوتنا لئلا يبلبل أفكارنا وأفكار أولادنا . ثم يأتي قبل وبعد الرب يسوع من يقدر أن يقول أنا هو الراعي الصالح لأن الكتاب المقدس يقول الجميع ذاعوا وفسدوا وأعوزهم مجدا الله ليس من يعمل صلاح كلا ولا واحد (رو ۳-۱۲) . لماذا يا رب لا نقدر أن نفعل مثلك لماذا لا يكون راعاه صالحين . من الممكن جداً لكن من أراد أن يتبعني فلينكر نفسه ويحمل صليبه كل يوم ويتبعنى نحن بشر يا رب لنا نقائص ولا نستطيع أن نصل إلى درجة الكمال أنت الذي قلت الراعي الصالح يبذل نفسه عن الخراف لأن من خسر نفسه لأجلى يجدها . من ترك الخراف وهرب يبقى أجير وليس راعياً لذلك أقول الذي له الخراف يرى الذئب مقبلاً يترك الخراف ويهرب فيخطف الذئب الخراف ويبددهم . أجير يهرب لأنه أجير ولا يبالي بالخراف . كثيراً ما يحدث في كنائسنا أن أثنين من الشعب يتخاصما معاً فيتركهم الكاهن ويهرب . لماذا تهرب وأنت أب للجميع . نراه يقول ارت إن حضرت تلك المشكلة لازم أنحاز للبرئ وإن أنحزت للبرئ يغضب الآخر وأكون خسرت واحد من الأثنين . هل هذا منظر يهرب منه الكاهن من الميدان ويبرئ نفسه وأين يذهب من الله عندما يقول له أعطى حساب وكالتك أملى أن تكون رعية وحدة لراعي واحد بالحب والتضحية والتسامح والسلام <a href="#_ftn16" name="_ftnref16">[16]</a> .</p>
<h4>مقالة مترجمة للمتنيح الدكتور وليم سليمان</h4>
<p>شروط الراعي</p>
<p>(۱) ۱ &#8211; اسمعوا ما يتعلق بالأساقفة ، فهكذا سمعنا من ربنا يسوع المسيح : يجب على الراعي الذي تجلسونه أسقفا للكنائس في كل مكان أن يكون بلا لوم ولا علة ، طاهراً من كل شر  رجلا عمره ليس دون الخمسين عاما  کی ينهض ببيته جيداً وبذلك يكون قد تخطى طياشة الحداثة ، وأباطيل البرانيين ، وخلص من السعاية والتجديف اللذين يوجهما ضد كثيرين قوم من الأخوة الكذبة الذين لا يعرفون كلمة الله التي في الانجيل : « إن كل كلمة ردية يقولها الناس يجيبون عنها في يوم الدينونة ، وأنه &#8230; من كلامك تبرر ومن كلامك يحكم عليك ،</p>
<p>٢ &#8211; وإذا أمكنه فليكن مملوءاً من كل تعليم ، أديبا ، ذا قول مقنع وحكيم وأن يكون له حد القامة</p>
<p>&#8211; { فإن سليمان ملك على بنى اسرائيل في سن الثانية عشرة ، ويوشيا  وهو ابن ثمانى سنين ملك بعدل ، ويواش أيضاً رأس الشعب وله سبع سنوات</p>
<p>٣  و لكن إذا كانت الجماعة صغيرة ، ولم يجدوا بها رجلا كبير السن ، ” يُشهد له بانه حكيم وصالح للأسقفية، بل يوجد بين الشبان واحد لم يكمل السن ، يشهد له عارفوه بأنه يستحق الأسقفية ، وأنه أظهر في شبابه أعمال الشيوخ في وداعة وترتيب  هذا يجب أن تجربوه ، فإن كان كما يشهدون له  أقيموه بسلام .</p>
<p>٤ -فإن سليمان ملك على بنى إسرائيل في سن الثانية عشرة ويوشيا وهو ابن ثماني سنين ملك بعدل ويوآش أيضاً رأس الشعب وله سبع سنوات .</p>
<p>٥  وإن كان صغيراً أو كبيراً  فليكن وديعاً ، موقرأ، هادئاً  لأن الرب الإله يقول من اشعياء النبي : « على من أنظر إلا على المتواضعين والودعاء  المرتعدين من كلامي في كل هكذا يقول الانجيل أيضاً د طوبى للودعاء فإنهم يرثون الأرض ،</p>
<p>٦  وليكن رحيما ، لأنه يقول &#8220;طوبى للرحماء فإنهم يرحمون &#8221;</p>
<p>۷  و ليكن صاحب سلام ، فإنه يقول : ( طوبى لصانعي السلام فإنهم يدعون أبناء الله .</p>
<p>٨ &#8211; ولتكن سريرته حسنة ، طاهرة من كل شر وظلم ، فإنه يقول : &#8220;طوبى للنقية قلوبهم فإنهم يرون الله &#8220;.</p>
<p>(۲) ۱ &#8211; ويجب أن يكون ساهرا ، صبورا ، ثابتاً  لا يقلق ولا يبكت ، بل فليكن رءوفا  غير حرون أو محب للدنيا ، أو حديث الإيمان لئلا يصير معجبا بنفسه فيسقط في فخ الشيطان لأن كل من يمجد ذاته يتضع .</p>
<p>٢ &#8211; ويجب أن يكون الأسقف بعلا لامرأة واحدة ، مديرا بيته جيداً .</p>
<p>٣  وليختبر  إذ سيقتبل وضع الأيدي لينال وظيفة الأسقفية ، هل هو طاهر وامرأته مؤمنة هادئة ، وإن كان له أولاد  هل رباهم باستقامة ، وعلمهم مخافة الله . و لينظر  هل يوقره أهل بيته ، ويطيعه الجميع ، و يهابونه ؟</p>
<p>٤  لأنه إن كان أقرباؤه بالجسد يقاومونه غير راضين عنه  فكيف يطيعه من هم خارج بيته ويخضعون له .</p>
<p>( ۳ ) ١ &#8211; و ليجرب أيضا إن كان بلا عيب في أمور هذا العالم ، وفى جسمه . مكتوب أن يستقصى عن كل من يجلسونه كاهنا إن كان بلا عيب .</p>
<p>٢- وليكن بلا غضب ، فإن الحكمة تقول : إن الغضب يفسد الحكماء .</p>
<p>٣  وليكن أيضا محبا ، ومحبوبا  فإن الرب يقول : و بهذا يعلم كل أحد أنكم تلاميذي إذا أحب بعضكم بعضا ، ..</p>
<p>(٤) ١ &#8211; وليكن أيضا مستقيما ، محسنا للأرامل ، محبا للغرباء ، معينا وموقرأ وجيد التدبير ، وعارفا بمن هو أكثر استحقاقا للصدقة .</p>
<p>٢ &#8211; فإن كان ثمة أرملة لديها ما يكفيها من حوائج هذا العالم ، وأخرى ليست بأرملة و لكنها معوزة بسبب مرض أو لأجل تربية أولاد أو لضعف بدنها  فليمد الأسقف يده إلى هذه بالأكثر .</p>
<p>٣ &#8211; لكن إذا كان هناك شخص قد أنفق ماله رديا ، أو كان سكيراً أو كسلاناً، أو يضيق على الأرامل  ثم احتاج ، فهذا لا يستحق أن يعان حتى ولا من كنيسة الله . فالكتاب يصف أولئك القوم هكذا : « إن الكسلان يخبى. يديه في حضنه ولا يقدر أن يمدها إلى فمه ، وأيضاً, إن الكسلان اعتنق يديه وأكل لحمه ، &#8211; وكل سكير زان يفتقر ، وكل نوام يلبس الثياب البالية ، . وفي موضع آخر يقول: &#8221; إذا جعلت عينيك للكئوس والأقداح فعن قليل تمشى وأنت عريان . بالحقيقة إن الكسل أب الغلاء &#8221;</p>
<p>( ٥ ) ١ &#8211; على الأسقف أن لا يحابي (إنساناً ) ، وأن لا يهاب الأغنياء ساعياً لما ناسيا الفقير ظالما إياه .</p>
<p>قال الله لموسى : &#8220;لا تأخذ بوجه غنى في الحكم ، ولا ترحم الفقير في القضاء ، فإن الحكم للرب ، . على الأسقف أن يجهد ليقضى بالعدل .</p>
<p>٢  وليتناول الأسقف من الطعام والشراب ما يكفى حياته ، باعتدال کی لا يتوانى عن .. زجر غير المتعلمين و ليحذر من أن يكون كثير النفقة أو تائهاً  أو أن تكون سيرته التلذذ محبا للأطعمة الناعمة</p>
<p>٣ &#8211; وليكن الأسقف بلا شر ، حي القلب في التعليم &#8211; يعلم في كل وقت ، و يدرس في كتب الرب ويتأمل الفصول لكى يفسر الكتب باستقامة ، ويشرح الانجيل ويترجم الناموس والأنبياء ويوفق بين أقوال الناموس والأنبياء وبين الانجيل . قال الرب :&#8221;ابحثوا الكتب فإنها تشهد لي &#8220;وأيضا &#8220;إن موسى كتب من أجلى &#8221; . ٤  لكن قبل كل شيء ، فليميز جيداً بين الناموس الحقيقي والناموس الثاني موضحا الناموس عند المؤمن وما هي رباطات غير المؤمنين  كي لا يكون واحد من رعيته تحت هذه الرباطات ( فيلقى على نفسه أحمالاً ثقيلة )</p>
<p>٥- اهتم بالكلام يا أسقف ، وإن كنت تقدر ففسر من الكتب كل كلمة . اشبع شعبك وأروه من نور الناموس ليكون بذلك غنيا من كثرة تعاليمك . قال الرب : &#8220;أضيئوا عليكم نور الحكمة ما دام لكم الوقت &#8221; .</p>
<p>(٦) ١ &#8211; ليكن الأسقف غير محب للغنى العالمي لا سيما الذي للمخالفين ، و ليكن مظلوما لا ظالما  لا يهوى النصيب الأوفر، غير مغتصب أو متسرع أو محب للأغنياء مبغض للفقراء. ولا يليق بالأسقف أن يكون صاحب وقيعة ، أو أن يشهد بالزور ، أو غضوبا أو محبا للمنازعات &#8211; يغتر بأمور هذا العالم . أو أن يضمن أحداً ، أو أن يشترك في أحكام فتنة أو أن يكون محبا للرئاسية .</p>
<p>عليه أن يكون بلا قلبين ، أو لسانين  لا يسمع للواشى ولا يكون مراثيا ولا يمضى إلى أعياد الأمم  بل ليطرح عنه كل عادة باطلة ، ويكون بلا شهوة أو حب للدينار . لأن هذه جميعها عداوة لله ، وشرك من الشياطين .</p>
<p>٢ &#8211; وليوص الشعب الأسقف بكل ذلك ، وليعظهم كي يقتدوا به . قال الله لموسى عن بنى اسرائيل : و يصيرون هم أيضا خائفين من نجاستهم ، .</p>
<p>٣ وليكن أيضا حكيما متواضعا معلما بخوف الله وحسن سيرته . و ليزدر بكل أباطيل &#8211; هذا العالم ، وجميع شهوات الأمم .</p>
<p>٤  و ليكن متيقظا جدا ، دقيق الحس ليعرف الردي و يتحفظ منه  صديقا للجميع . وأخيراً  كل ما في الناموس من خصال حسنة ، فليقته الأسقف لنفسه .</p>
<p>أعد الترجمة دكتور وليم سليمان <a href="#_ftn17" name="_ftnref17">[17]</a></p>
<h3>من وحي قراءات اليوم</h3>
<p>&#8221; وضع لي إكليل البر &#8221;      البولس</p>
<p>إكليل وبهاء الإكليروس</p>
<p>إكليل الراعي وبهاءه هو …..</p>
<p>من يخدمهم (في ٤: ١)، ( ١تس ٢ : ٢٠)</p>
<p>وصلاته الدائمة لهم (أع ٢٠: ٣١)، (١تس ٣: ١٠)</p>
<p>وإحتماله ضعفاتهم (١كو ٤: ١٢)، (٢تي ٤: ١٦)</p>
<p>وأحشاؤه المترفقة بهم (غل ٦: ١)، (١تس ٢: ٨)</p>
<p>ومخاضه الدائم لولادتهم (١كو ٤: ١٥)، ( غل ٤ : ١٩)</p>
<p>وسكيب حبه لهم كما الأم والأب لأطفالهما (١تس ٢: ٧) ،( ١تس ٢ : ١١)</p>
<p>وبذله لكرامته من أجل كرامتهم (١كو ٤: ١٠) ،( ١تس ٢ : ٦)</p>
<p>وسهره لأجل خلاصهم (أع ٢٠: ٣١)،( ٢تي ١ : ٣)</p>
<p>وإحتماله الآلام ومواجهة الموت في طريق خدمتهم (٢كو ١: ٨)  ( ٢تي ٣ : ١١)</p>
<p>والفرح بكل هذا (٢كو ١٢: ١٥) ،( كو ١ : ٢٤)</p>
<hr />
<p><a href="#_ftnref1" name="_ftn1"></a>٤٨- القديس يوحنا الدرجي &#8211; تفسير إنجيل متي الإصحاح الثاني عشر &#8211; القمص تادرس يعقوب ملطي</p>
<p><a href="#_ftnref2" name="_ftn2"></a>٤٩- القديس يوحنا الذهبي الفم &#8211; تفسير مراثي أرميا الإصحاح الرابع &#8211; القمص تادرس يعقوب ملطي</p>
<p><a href="#_ftnref3" name="_ftn3"></a>٥٠- العلامة أوريجانوس &#8211; تفسير يشوع بن سيراخ الإصحاح الثالث &#8211; القمص تادرس يعقوب ملطي</p>
<p><a href="#_ftnref4" name="_ftn4"></a>٥١- تفسير سفر ناحوم ( الإصحاح الأول ) &#8211; القمص تادرس يعقوب ملطي</p>
<p><a href="#_ftnref5" name="_ftn5"></a>٥٢- المرجع : تفسير سفر ملاخي ( الإصحاح الثاني ) &#8211; القمص تادرس يعقوب ملطي</p>
<p><a href="#_ftnref6" name="_ftn6"></a>٥٣- كتاب تفسير رسالة بولس الرسول إلي رومية للقديس يوحنا ذهبي الفم (صفحة ٦٥٢ ) &#8211; ترجمة دكتور سعيد حكيم يعقوب &#8211; المركز الأرثوذكسي للدراسات الآبائية</p>
<p><a href="#_ftnref7" name="_ftn7"></a>٥٤- كتاب من كتابات القديس يوحنا الذهبي الفم صفحة ١١ &#8211; إعداد القمص تادرس يعقوب ملطي</p>
<p><a href="#_ftnref8" name="_ftn8"></a>٥٥- تفسير مزمور ٧٣ &#8211; القمص تادرس يعقوب ملطي</p>
<p><a href="#_ftnref9" name="_ftn9"></a>٥٦- تفسير رسالة فيلبي &#8211; الإصحاح الأول &#8211; القمص تادرس يعقوب ملطي</p>
<p><a href="#_ftnref10" name="_ftn10"></a>٥٧- تفسير سفر حزقيال ( الإصحاح التاسع عشر ) &#8211; القمص تادرس يعقوب ملطي</p>
<p><a href="#_ftnref11" name="_ftn11"></a>٥٨- كتاب من مجد إلي مجد للقديس غريغوريوس النيسي (صفحة ٩٥ ) &#8211; ترجمة القمص إشعياء ميخائيل</p>
<p><a href="#_ftnref12" name="_ftn12"></a>٥٩- كتاب دراسات في الكتاب المقدس &#8211; إنجيل متي ( صفحة ١٧٦ ) &#8211; الأنبا أثناسيوس مطران كرسي بني سويف والبهنسا</p>
<p><a href="#_ftnref13" name="_ftn13"></a>٦٠- كتاب شفتاك يا عروس تقطران شهداً ( الجزء الثاني صفحة ٢٧٩ ) &#8211; إصدار دير الأنبا شنوده العامر بإيبارشية ميلانو</p>
<p><a href="#_ftnref14" name="_ftn14"></a>٦١- المرجع : كتاب ألقاب المسيح ووظائفه (صفحة ٧٦ ) &#8211; الأنبا بيمن أسقف ملوي</p>
<p><a href="#_ftnref15" name="_ftn15"></a>٦٢- مجلة مدارس الاحد شهر أغسطس ٢٠٠٦</p>
<p><a href="#_ftnref16" name="_ftn16"></a>٦٣- كتاب تأملات وعناصر روحية في آحاد وأيام السنة التوتية ( الجزء الثالث  صفحة ٦٣ ) &#8211; إعداد القمص تادرس البراموسي</p>
<p><a href="#_ftnref17" name="_ftn17"></a>٦٤- مجلة مدارس الأحد عدد سبتمبر لسنة ١٩٥٧</p>

      {% endcreateArticleAccordions %}
    </section>
  {% endblock %}
  