---
layout: 'layouts/reading.html'
title: 'الثاني والعشرون من هاتور'
permalink: annual/3-22.html
---
  {% block content %}
    <section id="readings">
      <ul>
      {% if 'undefined' != 'undefined' %}
      
      {% else %}
      {% if '19.4:3,6,7' != 'null' %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">العشية</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeVespers '19.4:3,6,7' '40.10:24-33' %}
          </div>
        </div>
      </li>
      {% endif %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">باكر</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeMatins '19.113:1-2' '41.8:34-38*@+41.9:1' '' %}
          </div>
        </div>
      </li>
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <h3 class="flex items-center justify-between">
            <span class="kufi">القداس</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </h3>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeLitugy '45.8:14-27' '60.2:11-17' '44.19:11-20' '19.66:12-14' '42.21:12-19' %}
          </div>
        </div>
      </li>

      {% endif %}
        </ul>
    </section>
    <section id="article">
      <h3 class="mt-8 mb-4 heading-explain">شرح القراءات</h3>
      {% createArticleAccordions %}
        <p>&#8221; وأما أنا وبيتي فنعبد الرب &#8221; (يش ١٥:٢٤)</p>
<p>(فقام الاخوة الخمسة ومضوا الى الوالى وفى الطريق صنعوا عجائب وآيات عظيمة فى الطريق</p>
<p>والقديسة ثيؤدوذا أمهم المباركة القديسة كانت تثبتهم فى الايمان على اسم يسوع المسيح)</p>
<p>ذكصولوجية القديسين قزمان ودميان وإخوتهم ووالدتهم</p>
<p><a href="#_ftn1" name="_ftnref1">[1]</a>&#8221; الذِّهن الصبور المحتمِل الشجاع ، هو سلاح القديسين الذي لا يمكن اختراقه &#8221;</p>
<p>ما هذا؟ لقد كُرمت امرأة وحسبت متنصرة! أفلا نخجل نحن كرجال&#8230;؟ إننا نحسبه كرامة لنا أن توجد نساء بيننا كهذه، ولكنّنا نخجل إن كنّا كرجال صرنا خلفهن<a href="#_ftn2" name="_ftnref2">[2]</a></p>
<h3>شواهد القراءات</h3>
<p>(مز ٤ : ٧ ، ٨) ،(مت ١٠ : ٢٤ – ٣٣) ،(مز ١١٢ : ١)،(مر ٨ : ٣٤ &#8211; ٩ : ١) ،(رو ٨ : ١٤ &#8211;  ٢٧) ،(١بط ٢ : ١١ – ١٧) ،(أع ١٩ : ١١ – ٢٠) ،(مز ٧٥: ١١ ، ١٢) ،(لو ٢١ : ١٢ – ١٩)</p>
<h3>ملاحظات على قراءات يوم ٢٢هاتور</h3>
<p>+ إنجيل عشيّة اليوم (مت ١٠: ٢٤ &#8211; ٣٣) هو إنجيل عشيّة يوم ١ طوبه (شهادة القديس إستفانوس ) ، وإنجيل عشيّة يوم ٢٦ مسري ( شهادة القديس موسي وسارة أخته )</p>
<p>وهي القراءة التي تتكلم عن تلاميذ المسيح ، والذين يشهدون له وسط آلامهم وأوجاعهم</p>
<p>+ قراءة إنجيل باكر اليوم (مر ٨ : ٣٤ &#8211; ٩ : ١) هي قراءة إنجيل باكر ثالث يوم عيد الصليب ، وهي قراءة إنجيل باكر ليوم ٢٣ برمودة ( شهادة مار جرجس ) ، وقراءة إنجيل عشيّة يوم ٨ هاتور</p>
<p>وهي القراءة التي تكلمت عن حمل الصليب، لذلك جاءت في عيد الصليب ، وفي تذكار الشهداء الذين حملوا الصليب ، كما أنها جاءت في تذكار القوّات السمائية ( ٨ هاتور ) لأجل الآية مر ٨ : ٣٨ ، والتي تكلمت عن مجئ الرب في مجد أبيه مع ملائكته</p>
<p>+ قراءة البولس اليوم (رو ٨: ١٤ &#8211; ٢٧) جاءت أيضاً في يوم ٢٦ مسري</p>
<p>وهي القراءة التي تتكلّم عن الأبناء والأولاد والورثة لذلك جاءت في تذكار قزمان وإخوته (٢٢ هاتور) وموسي وسارة أخته ( ٢٦ مسري )</p>
<p>+ قراءة الكاثوليكون اليوم (١بط ٢: ١١ &#8211; ١٧) تكررت في قراءات ٣٠ بؤونه، ٢٦ مسري ، وتُشبه قراءة  الكاثوليكون في أول أيام عيد الصليب (١بط ٢ : ١١ &#8211; ٢٥)</p>
<p>والجزء الذي لم يأت في القراءات الثلاثة (١بط ٢: ١١ &#8211; ١٦) هو جزء خاص بالصليب لذلك جاء فقط في عيد الصليب &#8221; الذي رفع خطايانا علي الخشبة بجسده &#8230; والذي شُفيتم بجراحاته &#8221;</p>
<p>أمَّا الجزء الخاص بالقراءات الثلاثة فهو الذي يتكلم عن السيرة المُقدَّسة وقبول الألم من أجل الله، والشهادة للمسيح ، لذلك جاء في قراءات قبول الألم من أجل الشهادة للمسيح والشهادة للحق في ٢٢ هاتور ( شهادة القديسين قزمان وإخوته وأمهم ) ، ٣٠ بؤونه ( وجود عظام يوحنا المعمدان ) ، ٢٦ مسري ( شهادة القديس موسي وسارة أخته )</p>
<p>+ قراءة الإبركسيس اليوم (أع ١٩: ١١ &#8211; ٢٠) هي نفس قراءة الإبركسيس ليوم ٢٧ بابه ( تذكار أنبا مقار الأسقف ) ، ويوم ٢٦ مسري ( تذكار القديس موسي وسارة أخته ) وتُشبه قراءة الإبركسيس (أع ١٩ : ١١ &#8211; ١٧) ليوم ٢١ توت ( تذكار كبريانوس الأسقف )</p>
<p>وتُشبه أيضاً قراءة الإبركسيس (أع ١٩ : ١١ &#8211; ٢٢) للأحد الرابع من شهر أبيب</p>
<p>وتأتي هذه القراءة في يوم ٢٧ بابه لكثرة العجائب التي فعلها الله في حياة أنبا مقار الأسقف ( كما هو موجود بسيرته ) ، ورُبما سبب مجئ القراءة أيام ٢٢ هاتور ، ٢٦ مسري للمُقارنة بين الأسرة الشريرة ( سكاوا وأولاده في قراءة الإبركسيس ) والأُسر المُقدَّسة ( قزمان وإخوته ووالدتهم في يوم ٢٢ هاتور ، وموسي وسارة أخته في يوم ٢٦ مسري )</p>
<p>كما أن مجيئها في تذكار &#8221; قزمان ودميان الأطباء &#8221; للإشارة إلي شفاء مرضي كثيرين بخدمة القديس بولس الرسول ، وأيضاً تصرُّف الذين آمنوا عندما باعوا كتب السحر بخمسين ألف من الفضة وكيف تركوا كل هذا من أجل الإيمان ، بالمقارنة مع القديسين قزمان ودميان الذين تركوا أموال العالم من أجل المسيح سواء في عملهم كأطباء أو في إستعدادهم للإستشهاد</p>
<p>أما مجيئها في يوم ٢١ توت لأجل كبريانوس الذي كان ساحراً وترك السحر وتخلَّص من كل كتب السحر وهذا هو أيضاً موضوع القراءة في الإبركسيس</p>
<p>ورُبَّما كان من الأفضل تكملة القراءة حتي آية ٢٠ مثل القراءات الثلاثة الأخري لأن الآيات الثلاثة حتي آية ٢٠ تتكلَّم عن الذين كانوا يستعملون كتب السحر وبعد إيمانهم أحرقوها (مثل كبريانوس صاحب تذكار اليوم )</p>
<p>ومجيئها في الأحد الرابع من أبيب للإشارة إلي إسم الرب يسوع الذي يتعظَّم (كما أعلنته معجزة إقامة لعازر موضوع قراءة ذاك الأحد )</p>
<p>+ تكرار آية &#8221; جُزنا في النار والماء &#8221; في مزمور قدَّاس اليوم وفي مزمور قدَّاس الأحد الثالث من طوبي</p>
<p>مجيئها اليوم لأجل الإجتياز في النار إشارة إلي إحتمال الآلام لأجل الإيمان ، بينما مجيئها في الأحد الثالث لأجل الإجتياز في الماء إشارة إلي المعمودية موضوع قراءة ذاك الأحد</p>
<p>كما أن مجيئها اليوم للإشارة إلي العذابات التي إجتازها الإخوة الخمسة ( قزمان ودميان وإخوتهم ) في النار ومستوقد حمام</p>
<p>+ قراءة إنجيل القداس في هذا اليوم (لو ٢١: ١٢-١٩) هي نفس قراءة إنجيل القداس ليوم ٢٣ برمودة ( شهادة مار جرجس ) ، ويوم ٢٦ مسري ( شهادة القديسين موسي وسارة أخته )</p>
<p>وهي القراءة التي تكلمت عن الآلام والإضطهادات من أجل الإيمان ، والوقوف أمام الولاة والملوك ، ومساندة الله لهم ، وصبرهم إلي المُنتهي .</p>
<p>وتُشبه أيضاً قراءة إنجيل عشيَّة (لو ٢١: ١٢ &#8211; ٣٣) للأحد الذي يوافق النسئ ، وهي هنا تتكلَّم عن علامات مجئ الرب</p>
<p>والعجيب مجئ الآية التي تتكلَّم عن الخمسة عصافير التي تُباع بفلسين وواحد منها ليس منسياً أمام الله ، وتوافقها مع الإخوة الخمسة الذين صمدوا وثبتوا أمام التجارب والعذابات برعاية ومؤازرة إلهية.</p>
<h4>القراءات المُحوَّلة علي هذا اليوم</h4>
<p>سابع وعشرين توت             شهادة القديس استاثيوس وإمرأته وأولاده</p>
<p>ثامن وعشرون توت             شهادة أبادير وأخته</p>
<p>سادس وعشرون هاتور       شهادة بالاريانوس وأخيه</p>
<p>تاسع عشر طوبة               وجود أعضاء القديسين بهور وبسور وبيروه وأمهم</p>
<p>أول برمهات                      شهادة القديس مقرونيوس وتكلا</p>
<p>سابع برمهات                    تذكار الشهيد مينا في زمن العرب</p>
<p>رابع برموده                      شهادة بقطر وأكاكيوس وداكيوس وإيريني ومن معهم</p>
<p>ثالث عشر برموده             شهادة أنبا يشوع وأنبا يوسف</p>
<p>عاشر بؤونه                       شهادة بسطامون وأرطامون وصوفيا أمهم</p>
<p>ثاني وعشرون بؤونه           تكريس كنيسة قزمان ودميان وإخوتهما ووالدتهم</p>
<p>تاسع عشر أبيب                شهادة مار بطلون الشهيد والطبيب بإسنا</p>
<p>ثلاثون أبيب                      شهادة مرقورة وافرام من أخميم</p>
<p>عشرون مسري                  نياحة السبعة فتية بالكهف في أفسس</p>
<h3>شرح القراءات</h3>
<p>اليوم هو تذكار القديسين قزمان وأخوته ووالدتهم ومُحوّل عليه ثلاثة عشر أيّام أخري لتذكارات يظهر فيها شهداء لهم قرابة جسدية أو أسرة كاملة مثل تذكار هذا اليوم</p>
<p>أي أن هذا اليوم يختص بالأسرة الشاهدة للإيمان وقراءاته تدور حول نفس الموضوع فإمَّا نجد إخوة أو إخوة وأمهم أو أولاد خال أو عّم في نفس العائلة فالشهادة للإيمان المسيحي كما تخصّ كل شخص لكن تتجلّي أيضاً في العائلات المُحبّة للمسيح</p>
<p>تبدأ المزامير بضمانات الشهادة للمسيح له المجد الصراخ ( مزمور عشية ) والتسبيح ( مزمور باكر ) وقبول الألم ( مزمور القداس )</p>
<p>في مزمور عشية نجد ثمار الصلاة والصراخ وشكل الإستجابة في أن يظهر علينا نور وجهه ويمتلئ قلبنا بسرور إلهي ونختبر عجائبه</p>
<p>( إعلموا أن الرب قد جعل بارّه عجباً الرب يستجيب لي إذا ما صرخت إليه قد إرتسم علينا نور وجهك يارب أعطيت سروراً لقلبي )</p>
<p>ويدعو مزمور باكر الفتيان لتسبيح إسم الرب والفتيان هم ثمار شهادة الأسرة للإيمان</p>
<p>( سبحوا الرب أيها الفتيان سبحوا لإسم الرب ليكن إسم الرب مباركاً من الآن وإلي الأبد )</p>
<p>ويشير مزمور القداس إلي قبول الألم ونار التجارب الطريق الوحيد للوصول للراحة</p>
<p>( جُزنا في النار والماء وأخرجتنا إلي الراحة أدخل إلي بيتك بالمحرقات وأفيك النذور التي نطقت بها شفتاي )</p>
<p>وتتكلّم القراءات عن أولاد الله وروح التبني ( البولس ) وإرادة الله في الأعمال الصالحة لمن يشهد لإيمانه ( الكاثوليكون ) وقوّة إسم الرب يسوع أمام أرواح الشر ( الإبركسيس )</p>
<p>يشرح البولس معني أولاد الله والفرق بين روح العبودية وروح التبني والميراث السماوي وتعضيد الروح القدس لأبناء الله بالأنّات التي لا يُنطق بها وهذه هي مبادئ الأسرة المسيحية في التربية فهي تؤكد في أولادها شعور البنوّة الروحية لله أعظم من بنوّة الجسد كما ترفع عيونهم لفوق للميراث السماوي</p>
<p>( لأن كل الذين ينقادون بروح الله فأولئك هم أولاد الله إذ لم تأخذوا روح العبودية أيضاً للخوف بل أخذتم روح التبني الذي به نصرخ يا أبا الآب الروح نفسه أيضاً يشهد لأرواحنا أننا أولاد الله فإن كنّا أولاداً فنحن ورثة أيضاً وورثة الله وشركاء المسيح في الميراث )</p>
<p>ويؤكد الكاثوليكون علي أهميّة الأعمال الصالحة ونقاوة الحياة لمن يشهدوا لإيمانهم وهذا هو ما يشدّ انتباه المُقاومين ويهيّئهم ليوم إفتقاد الله كما حدث مع شاول الطرسوسي</p>
<p>( أيها الأحباء أطلب إليكم كغرباء ونزلاء أن تبتعدوا عن الشهوات الجسدية التي تقاتل النفس وأن يكون تصرفكم حسناً بين الأمم لكي يكونوا فيما يتكلمون به عليكم كفاعل شر إذ يرون أعمالكم الصالحة يمجدون الله في يوم الإفتقاد &#8230; لأن هذه هي إرادة الله أن تصنعوا الخير لكي تسدّوا جهالة الناس الأغبياء كأحرارٍ )</p>
<p>ويظهر في الإبركسيس قوّة إسم الرب يسوع أمام الأرواح الشريرة وأمام السحر كما يُظْهِر الأسرة التي تتكلّم زيفاً وبطلاناً بإسم الرب يسوع</p>
<p>( فإبتدأ قوم من اليهود الطوافين المُعزّمين أن يُسمّوا بإسم الرب يسوع علي الذين بهم الأرواح الشريرة قائلين نستحلفكم بالرب يسوع الذي يكرز به بولس وكان سبعة بنين لواحد يُدعي سكاوا يهودي رئيس كهنة يفعلون هذا .. فوثب عليهم الرجل الذي كان به الروح الشرير وتسلط وقوي عليهم &#8230; فوقع خوف علي جميعهم وكان إسم الرب يسوع يتعظم &#8230; وكان كثيرون من الذين يستعملون السحر يقدمون كتبهم ويحرقونها أمام الجميع &#8230; هكذا كانت كلمة الرب تنمو وتقوي بشدة )</p>
<p>والجميل في قصة إستشهادهم  هو صلاتهم لأجل الوالي الذي إعتراه روح نجس بسبب تعذيبه للشهداء فشفي للوقت<a href="#_ftn3" name="_ftnref3">[3]</a></p>
<p></p>
<p>ونحن في الأناجيل أهل بيته ( إنجيل عشية ) وتلاميذه ( إنجيل باكر ) لكن مُبْغَضين من الجميع ( إنجيل القداس )</p>
<p>في إنجيل باكر يعتبرنا الرب يسوع أهل بيته وهذا يؤكّد ماجاء في البولس عن بنويتنا لله الآب وآنّات الروح القدس فينا ويشبهنا بالعصافير التي هي موضع إهتمام الآب السماوي</p>
<p>( ليس التلميذ أفضل من معلمه ولا العبد أفضل من سيده يكفي التلميذ أن يصير كمعلمه والعبد مثل سيده إن كانوا قد لقّبوا رب البيت بعلزبول فكم بالحري أهل بيته &#8230; أليس عصفوران يباعان بفلس وواحد منهما لا يسقط علي الأرض بدون إرادة أبيكم الذي في السموات وأما أنتم فحتي شعور رؤوسكم جميعها محصاة فلا تخافوا إذاً أنتم أفضل من عصافير كثيرة )</p>
<p>وإنجيل باكر يوضّح أن الشهادة يومية في حمل الصليب التي تؤهل للشهادة للمسيح وقت الضيقات والإضطهادات</p>
<p>( ودعا الجمع وتلاميذه وقال لهم من أراد أن يأتي ورائي فلينكر نفسه ويحمل صليبه ويتبعني لأن من أراد أن يُخلّص نفسه يهلكها ومن يهلك نفسه من أجلي ومن أجل الإنجيل فهو يُخلّصها &#8230; لأن من يخزي بأن يعترف بي وبكلامي في هذا الجيل الفاسد والخاطئ فإن إبن البشر أيضاً يستحي به متي جاء في مجد أبيه مع ملائكته القديسين</p>
<p>ويختم إنجيل القداس بالألم والوعد والوصيّة</p>
<p>الألم يظهر في إلقاء الأيادي والطرد والحبس للشهداء وبغضة الجميع لهم</p>
<p>( وقبل هذا كله يُلْقُون أيديهم عليكم ويطردونكم ويسلّمونكم إلي مجامع وتُحبسون وتقدمون أمام ملوك وولاة لأجل إسمي فيكون لكم ذلك شهادة &#8230; وتكونون مُبغضين من الجميع من أجل إسمي )</p>
<p>والوعد يظهر في الفم والحكمة التي يعجز أمامها كل المعاندين وحمايتهم حتي شعور رؤوسهم لا تسقط دون إذن</p>
<p>( لأني أنا اُعْطيكم فماً وحكمة التي لا يقدر جميع مُعانديكم أن يُقاوموها أو يناقضوها &#8230; وشعرة من رؤوسكم لا تسقط )</p>
<p>والوصيّة بأهمية الصبر وإحتمال الضيقات</p>
<p>( بصبركم تقتنون أنفسكم )</p>
<h3>ملخّص القراءات</h3>
<p>يُشرق الرب بنوره علي أبراره وتسبيحه علي فتيانه وراحته علي مُتألِّميه مزمور عشيّة وباكر والقدّاس</p>
<p>ويُحرِّرهم من روح العبودية ويُعطيهم روح التبني فيكون أساس حياتهم النقية ويغتنون ويتقوّون بإسمه القدّوس                                 البولس والكاثوليكون والإبركسيس</p>
<p>ونحن أهل بيته وتلاميذه وإن كنّا مُبغضين من الجميع   إنجيل عشيّة وباكر والقدّاس</p>
<h3>أفكار مُقترحة للعظات</h3>
<h4>(١) أبناء الله</h4>
<p>١- يصير كمعلِّمه</p>
<p>&#8221; يكفي التلميذ أن يصير كمعلِّمه والعبد مثل سيده &#8221;                         إنجيل عشيَّة</p>
<p>أي أن يكون ربنا يسوع المسيح وحياته بالجسد هي مثالنا وطريق خلاصنا ونقتدي به في حياته وطريق آلامه ومجده</p>
<p>٢- يتبعني</p>
<p>&#8221; من أراد أن يأتي ورائي فلينكر نفسه ويحمل صليبه ويتبعني &#8221;                      إنجيل باكر</p>
<p>التبعيّة لها مجد عظيم ولها جهاد يومي في إنكار الذات وحمل الصليب</p>
<p>٣- ينقادون بروح الله</p>
<p>&#8221; لأن كلَّ الذين ينقادون بروح الله فأولئك هم أولاد الله &#8221;                                البولس</p>
<p>٤- إكرموا كلَّ واحد &#8211; حبوا الأخوة</p>
<p>&#8221; بل كعبيد الله إكرموا كل واحد حبوا الأخوة خافوا الله &#8221;                               الكاثوليكون</p>
<p>٥- مُبغضين من الجميع</p>
<p>&#8221; وتكونون مُبغضين من الجميع من أجل إسمي &#8221;                          إنجيل القدَّاس</p>
<h4>(٢) مجد الله في أولاده</h4>
<p>١- قد جعل باره عجباً                                                                مزمور عشيَّة</p>
<p>يجعل الله دائما أولاده مُمَيَّزين ويشعر كل مسيحي أنه فريد في خلقته وفِي مواهب الله فيه وعطاياه له ( أحمدك من أجل أني قد إمتزت عجباً &#8211; مز ١٤:١٣٩) ، (مز ٨</p>
<p>٢- يروا ملكوت الله قد أتي بقوة                                                    إنجيل باكر</p>
<p>هؤلاء هم التلاميذ الذين رأوا مجد تجلِّيه علي الجبل وهو مجد الإنسان الجديد في المسيح كما حدث مع القديس إستفانوس (أع ١٥:٦)</p>
<p>٣- حرية مجد أولاد الله                                                                 البولس</p>
<p>لم تعد العبادة فيها خوف العبيد بل حرية الأبناء والعبادة عن حب والمحبّة الكاملة تطرح الخوف إلي خارج (١يو ٤ : ١٨)</p>
<p>٤- يُمجدون الله في يوم الإفتقاد                                                         الكاثوليكون</p>
<p>دائما ينتظر أبناء الله إفتقاده الإلهي والذي يغمرهم بمجده وتعزياته وتكون سيرتهم الصالحه هي قوَّة جذب المُعاندين وقت إفتقاد الله لهم</p>
<p>٥- وكان إسم الرب يسوع يتعظَّمُ                                                         الإبركسيس</p>
<p>إسم الرب يتعظَّم في كنيسة التوبة ( معترفين ومُخْبرين بأفعالهم ) وخدمة الكلمة ( هكذا كانت كلمة الرب تنمو وتقوي بشدِّة )</p>
<p>٦- أعطيكم فماً وحكمةً التي لا يقدر جميع مُعانديكم أن يقاوموها أو يُناقضوها   إنجيل القدَّاس</p>
<p>ما أعظم حكمته فوق كل فلسفات العالم ( هادمين ظنونا و كل علو يرتفع ضد معرفة الله و مستاسرين كل فكر الى طاعة المسيح &#8211; ٢كو ١٠ : ٥)</p>
<h4>(٣) أُعْطِيكم فماً وحكمةً</h4>
<p>العجيب أن الرب لم يقل أعطيكم كلاماً بل فماً أي أن كل كلامنا سيكون من الله ما دامت أعيننا عليه (عب ١٢ : ٢) ونلهج في كلمته نهاراً وليلاً (مز ١ : ٢) ونخدم بكلمته (١بط ٤ : ١١)</p>
<p>فكيف نكون فمه ؟</p>
<p>١- إذا سعينا إلي جواهر كلمته ورفضنا زيف فلسفات العالم والبشر</p>
<p>&#8221; وإذا أخرجت الثمين من المرذول فمثل فمي تكون &#8221; (أر ١٥ : ١٩)</p>
<p>٢- إذا طلبنا تقديسه لنا فيكون الفم مُقدَّساً له</p>
<p>&#8221; فطار إليّ واحد من السرافيم وبيده جمرة قد أخذها بملقط من علي المذبح ومَسَّ بها فمي وقال : إن هذه قد مسَّت شفتيك فانتزع إسمك وكُفِّر عن خطيَّتك &#8221; (أش ٦ : ٦ ، ٧)</p>
<p>&#8221; ومدَّ الرب يده ولمس فمي وقال الرب لي: ها قد جعلت كلامي في فمك &#8221; (أر ١ : ٩)  ٣- إذا تمسَّكنا بكلام الحق ورفضنا الزيف وكلام الإلتواء</p>
<p>&#8221; كل كلمات فمي بالحق ليس فيها عوج ولا إلتواء &#8221; (أم ٨: ٨)</p>
<p>٤- عندما نقبل دعوته للخدمة</p>
<p>&#8221; وجعل فمي كسيفٍ حادٍّ ، في ظل يده خبَّأني وجعلني سهماً مبرياً في كنانته أخفاني &#8221; (أش ٤٩: ٢)</p>
<p>٥- عندما نعيش حياة التسبيح</p>
<p>&#8221; يارب افتح شفتيَّ فيُخبر فمي بتسبيحك &#8221; (مز ٥١ : ١٥)</p>
<p>&#8221; يمتلئ فمي من تسبيحك اليوم كلَّه من مجدك &#8221; (مز ٧١: ٨)</p>
<h3>عظات آبائية</h3>
<h4>القديس غريغوريوس النيسي</h4>
<p><strong>سر الليل: ( حياة القديسين أصبحت فماً عاماً للكنيسة )</strong></p>
<p>&#8221; شفتاه سوسن تقطران مرا مائعا &#8221; (نش٥: ١٣) . توجد مقارنة بين شيئين مختلفين . أحدهما هو السوسن الذى هو رمز للطهارة وصدق التعاليم وهذا يشير الى الحق الذى يشرق مثل البرق اللامع والشىء الآخر هو المر الذى يرمز الى ضبط الجسد وقمعه . وفى الواقع ان كلمة الله الموحى بها هى كلمة المر دائما لأنها تقودنا الى الموت عن العالم والجسد تقودنا الى الحياة الأبدية وهذه العين الطاهرة الجميلة تجعل &#8221; خداه كخميلة الطيب&#8221;(نش٥: ١٣)(أحمر مثل كأس الخمر) فالسوسن هو شفتاه اللتان تخرج منهما التعاليم الالهية المزودة بالبهاء والاشراق بهذه الطريقة فان الكلمة الالهية تقود الى حياة التقوى والفضيلة لأنهما حين تقطران بالمر الذى يملأ عقولهم فانهم سوف يزدرون بالتمام المادة وكل الأشياء التى يشتهيها الناس فى هذا العالم وتصير بالنسبة لهم ميتة وبلا أى شهوة . هذا هو المر يقطر من فم بولس الرسول والذى يملأه بضبط النفس والذى ملأ آذان العذراء تكلا تلميذته فكرست حياتها بالتمام للمسيح .  ان قطرات المر أصبحت ثمينة جدا للروح وتضمنت موت الانسان الخارجى حين تنطفىء كل الأفكار الجسدية والشهوات الزائلة حين تقبل النفس تعاليم الخلاص فان الحواس والشهوات الجسدية تموت ويجب أن يوجد المسيح الكلمة فقط لأن بولس الرسول يقول أنه من أجل المسيح يموت عن العالم ويموت العالم عنه أيضا ، وأيضا بطرس الرسول حين أعطى التعاليم الالهية التى مثل السوسن المضىء فى بيت كرنيليوس امتلأ كل السامعين من المر ،وبعد أن سمعوا تلك التعاليم قاموا حالا ودفنوا أنفسهم مع المسيح فى المعمودية وأصبحوا أمواتا بالنسبة لهذا العالم .  وتوجد أيضا أمثلة بلا حصر من حياة القديسين التى أصبحت فما عاما للكنيسة يصب للسامعين المر الذى يقتل كل الشهوات، ويشرق مثل السوسن الذى هو الكلمة ، وعندئذ أصبحوا ابطالا فى الايمان فى وقت الاضطهاد وباعترافاتهم الالهية امتلأوا بالمر فى تجاربهم ومحبتهم من أجل أعلان ايمانهم .  والتفسير الأن هو كيف صارت الكنيسة مثل السوسن وكيف تقطر منها المر الذي يملأ النفوس التي تقبل المسيح الكلمة فيموتون عن شهوات العالم<a href="#_ftn4" name="_ftnref4">[4]</a>.</p>
<h4>القديس كبريانوس الشهيد</h4>
<p><strong>الحث علي الاستشهاد في فكر القديس كبريانوس الشهيد</strong></p>
<p>( نحن الذين- بسلطان من الرب &#8211; منحنا المؤمنين العماد الأول، علينا أن نعد كلا منهم للعماد الثاني، بحثهم وتعليمهم. ان هذا العماد أعظم في النعمة، وأسمي في القوة، وأرفع في الشرف إن الملائكة في هذا العماد يعمدون، والله ومسيحه يبتهجان، ولا أحد بعد هذا العماد، يسقط في خطية. هذا العماد يكمل نمونا في الايمان، ويغرسنا في الله بعد بعد أن نخرج من العالم &#8230; بمعمودية الماء ننال مغفرة الخطايا، وبمعمودية الدم نظفر بأكاليل الفضائل.</p>
<p>في سفر الخروج كان الشعب اليهودي &#8211; كمثال سابق لنا &#8211; مع الله وليهم والمنتقم لهم، خلصوا من عبودية فرعون ومصر القاسية جداً، أي من الشيطان والعالم. وإذ كانوا بلا ايمان وغير شاكرين لله، تقمقموا علي موسي، ناظرين الي متاعب الصحراء وشغلهم، غير فاهمين الفوائد المقدسة للحرية والخلاص. ففكروا في العودة الي عبودية مصر. بينما كان يجب عليهم أن تزداد ثقتهم في الله، الذي أنقذ شعبه من الشيطان والعالم ويقدر أن يحميهم أيضاً. قالوا لموسى (ماذا صنعت بنا حتي أخرجتنا من مصر &#8230; لأنه خير لنا أن نخدم المصريين من أن نموت في البرية. فقال موسي لهم. لاتخافوا. قفوا وانظروا خلاص الرب الذي يصنعه لكم اليوم &#8230; الرب يقاتل عنكم وأنتم تصمتون) (خر١٤: ١١-١٤).</p>
<p>والرب في انجيله، يحذرنا من ذلك، ويعلمنا ألا نعود ثانية للشيطان وللعالم الذي رفضناه، وحيثما ننجو يقول (ليس أحد يضع يده علي المحراث وينظر الي الوراء يصلح لملكوت الله)(لو ٦٢:٩).</p>
<p>وايضاً( والذي في الحقل لايرجع الي الوراء &#8211; اذكروا امرأة لوط) (لو١٧: ٣٢،٣١).</p>
<p>يجب ان تعلموا &#8211; في ايمان ويقين &#8211; ان الشدة قد حل يهددنا بالموت، وتقترب نهاية العالم وزمان المسيح الدجال. لذلك يجب أن نقف جميعا علي أهبة الاستعداد للمعركة، غير واضعين أمامنا سوي مجد الحياة الأبدية ، واكليل اعترافنا بالرب، غير مهتمين بالأمور المقبلة، لانها ستنتهي كما انتهي ما سبقها. إننا علي أبواب حرب أقسي وأشد. وعلي جنود المسيح أن يعدوا ذواتهم لها بإيمان حي وشجاعة قوية، واضعين في اعتبارهم أنهم يشربون يوميًا كأس دم المسيح، حتي بذلك يمكنهم أن يسفكوا دماءهم لأجله. إن كل مانبتغيه هو أن نوجد مع المسيح، وأن نقتدي بما عملنا إياه، وما صنعه، حسبما يقول يوحنا الرسول : من قال أنه ثابت في المسيح ينبغي أنه كما سلك ذاك هكذا يسلك هو ايضا (١يو٦:٢) وفضلاً عن ذلك، فإن الرسول بولس يعلمنا قائلاً :اننا اولاد الله. فإن كنا اولادا فإننا ورثة أيضا. ورثة الله ووارثون مع المسيح. إن كنا نتألم معه لكي نتجمد أيضا معه ( رو ٨: ١٧،١٦)<a href="#_ftn5" name="_ftnref5">[5]</a>.</p>
<h4>وأيضاً للقديس كبريانوس</h4>
<p>معني يصبر إلى المُنتهي</p>
<p>الاعتراف هو بداية المجد وليس استحقاق الإكليل، به يبدأ مجدنا لكن به لا يكمل مديحنا، إذ أنه مكتوب: «الذي يصبر إلى المنتهى فهذا يخلص» (مت ۲۲:۱۰)، فكل ما يحدث قبل النهاية هو خطوة بها نصعد لننال الخلاص، ولكنه ليس المنتهى بعد حيث ننال جعالة الصعود. نعم هو معترف، لكن الخطر أعظم بعد الإعتراف، فالعدو يكون أكثر حنقا وغيضا، إنه معترف، لذا يجب عليه بالأكثر أن يحيا حسب الإنجيل، لأن به ننال المجد من الرب.</p>
<p>&#8220;من أعطى كثيرا يطلب منه كثير&#8221; (لو ٤٨:١٢) ، ومن يودعونه كرامة أكثر مطالب بخدمة أكثر، ليت لا أحد يعثر من خلال مثال المعترف (الذي سقط وانحرف عن طريق الخلاص). ليت لا أحد يتعلم الظلم، ليت لا أحد يتعلم الخيانة والانشقاق، ليت لا أحد يتعلّم الغرور والكبرياء، نعم هو معترف، إذا يجب أن يكون متواضعا وهادئا وعفيفا في كل أعماله، فذاك الذي يدعى «معترف بالمسيح» عليه أن يقتدي بالمسيح الذي يعترف به، فإن كان الرب يسوع يقول: &#8220;كل من يرفع نفسه يتضع، وكل من يضع نفسه يرتفع &#8221; (لو١٤:١٨)، فمع أنه الكلمة وقوة وحكمة الله الآب، إلا إنه وضع ذاته، فكيف يمكنه أن يحب الغرور والكبرياء، وهو الذي علمنا الاتضاع، وهو الذي أعطى اسما فوق كل اسم من الآب مكافأة له على اتضاعه؟</p>
<p>المعترف لا يكون معترفا حقا بالمسيح إلا إذا لم يجدف فيما بعد على عظمة وبجد وكرامة المسيح. فلا تدع الفم الذي اعترف بالمسيح ينطق بالشر&#8221;، لا تدعه أن يكون مثيرا للقلاقل والإنقسامات، لا تدعه بعد أن نطق كلمات التسبيح أن يقذف سم الحيات ضد الإخوة وضد كهنة الله. فأي معترف أضاع اعترافه بكلام وأحاديث شريرة، أو دنس حياته في آثام مخزية، أو انفصل عن الكنيسة، وسعى إلى تمزيق رباط الوحدة، وتحول عن الإيمان، سوف يكون مستحقا للوم والإدانة، فلا يظن أحد أو يخدع نفسه إنه بسبب اعترافه صار مختاراً لجعالة الله، بل أنه هذه الحقيقة يزيد من استحقاقه للعقاب.</p>
<p>لقد اختار الرب يهوذا بين الرسل ولكنه فيما بعد خان المسيح وسلّمه، ومع هذا لم يتزعزع إيمان وثبات الرسل، لأن يهوذا الخائن ارتد عن شركتهم. كذلك أيضا الحال في وضعنا هذا، فقداسة وكرامة هؤلاء المعترفين لا ينال منها شيئا بسبب فساد إيمان البعض منهم، فالرسول الطوباوي بولس يتحدث في رسالته قائلا: «ماذا إن كان قوم لم يكونوا أمناء؟ أفلعل عدم أمانتهم يبطل أمانة الله؟ حاشا! بل ليكن الله صادقا وكل إنسان كاذبا» (رو٣: ٣-٤).</p>
<p>لأن القسم الأكبر والأفضل من هؤلاء المعترفين يقف صامدا في قوة إيمانه وأمانته في شريعة الرب وتعاليمه، وغير منفصلين عن سلام الكنيسة، هؤلاء الذين يتذكرون أنهم نالوا نعمة في الكنيسة بتعطفات الله ومراحمه الجزيلة، وبعملهم هذا ينالون مديحا أعظم لأمانتهم، إذ ابتعدوا عن ضلالة هؤلاء الذين اشتركوا معهم في الاعتراف، وابتعدوا عن موت الخطية. إذ أنهم استناروا بنور الإنجيل الحقيقي، وبهاء الرب أشرق عليهم، لذا صاروا جديرين بالمدح من أجل حفظهم سلام المسيح، كما كانوا مستحقين للمديح في إنتصارهم في الصراع مع الشيطان.</p>
<p>أتمنى أيها الإخوة الأحباء، وأتوسل ألا يهلك أحد الإخوة، إن الأم الفرحة تضم في حضنها كيان واحد لشعب متحد، لكن حتى وإن كانت هذه النصيحة عاجزة عن ترد إلى طريق الخلاص بعض قادة الانشقاقات ومدبري القلاقل والفتن، الذين يحيون ويصرون على عماهم جنونهم لمقاومة طريق الخلاص، فانتبهوا أنتم الذين أخذتم أو خدعتم بسبب بساطة البعض منكم، أو كنتم مخدوعين ببعض حيل المضاد، فحرروا ذواتكم من فخاخ الخداع، وحرروا خطواتكم من الضلال، اعلموا الطريق الحقيقي المستقيم وتشهد كلمات الرسول التي تقول: «نوصيكم أيها الإخوة، باسم ربنا يسوع المسيح، أن تتجنبوا كل أخ يسلك بلا ترتيب، وليس حسب التعليم الذي أخذه منا» (٢ تس٦:٣)، وأيضا: «لا يغركم أحد بكلام باطل، لأنه بسبب هذه الأمور يأتي غضب الله على أبناء المعصية. فلا تكونوا شركاءهم» (أف٥: ٦، ٧). لذا يجب أن نبتعد، بل نهرب، من هؤلاء الذين ضلوا، لئلا ينساق إليهم أحد ويضل هو أيضا عن الطريق الصحيح ويوجد مدانا<a href="#_ftn6" name="_ftnref6">[6]</a>.</p>
<h4>العلَّامة أوريجانوس</h4>
<p><strong>ابذلوا حياتكم لكي تنالوا الحياة الأبدية</strong></p>
<p>الا ليت هذه النار المقدسة تضطرم فيكما أيضا ً لتحرق وتبيد كل ما هو أرضى وجسدى ، ليتكما تخضعان بالقلب والروح لتلك المعموديه التي اصطبغ بها يسوع ، وانحصر حتى تكمل (لو ١٢ : ٥٠)</p>
<p>وأنت ياصديقى لك زوجة وأولاد وأخوة وأخوات ، تذكر كلمات المخلص : ان كان أحد يأتي ورائي ولا يبغض أباه وأمه وامرأته وأولاده واخوته وأخواته فلا يقدر أن يكون لى تلميذاً (لو ١٤ : ٢٦)  تذكر جيداً هذه الكلمات : ان كان أحد يأتي ورائى ولا يبغض – بالإضافة إلى ما سبق – حياته هو أيضاً فلا يقدر أن يكون لى تلميذاً (لو ١٤ : ٢٦)  فلا تتردد ياعزيزى أن تبغض اذا حياتك لأنك بهذا تحفظها لحياة ابدية  كما يقول الكتاب : فمن يبغض نفسه يحفظها إلى حياة أبدية (يو ١٢: ٢٥)</p>
<p>أحبائى &#8230; ابذلوا حياتكم اذا لكى تنالوا الحياة الأبدية ، مؤمنين أن الرب يسوع انما يعلمنا هذا اللون من البغض من أجل خيرنا ورفاهيتنا . وعلى نفس النمط  ، كما نبغض حياتنا لكى ندخرها للحياة الأبدية ، هكذا أيضا ً عندما نبغض الزوجة والأولاد والاخوه والاخوات فنحن لا نبغضهم الا من أجل خيرهم وصالحهم &#8230;  فعن طريق هذا البغض – يااخواتى  &#8211; تصبحون احباء الله لكم داله تتشفعوا من أجلهم  .</p>
<p>تذكروا أنه من أجل أولاد الشهداء الذين تركوهم حباً في الله ، تضرع النبى بالروح قائلاً : ليدخل قدامك آنين الأسير . كعظمة  ذراعك استبق بنى الموتى  (مز ٧٩ : ١١)  واعلموا جيداً إن أبناء الجسد ليسوا أولاد الله (رو ٩ : ٨) . ولكن كما قيل للذين افتخروا بانتسابهم إلى إبراهيم : أنا أعلم أنكم ذرية إبراهيم .. ولكنه عقب على ذلك قائلاً : لو كنتم أولاد إبراهيم لكنتم تعملون اعمال إبراهيم (يو ٨ : ٣٨- ٣٩) وبنفس الأسلوب يقال هذا الكلام لأولادكم : إن كنتم أولاد أمبروز .. فاعملوا اعمال أمبروز .. ولاشك انهم سيعملونها، ولكن عليكم أن تشجعوهم على ذلك بمواجهة الموت في شجاعة فان هذا أفعل فيهم مما لو آثرتم الحياة الرخيصة معهم .. بهذا ستقدمون لهم حباً يفيض بالحكمة، وتصلون من أجلهم بتعقل أعظم ما دمتم تدركون أنهم ليسوا مجرد ذرية بل هم أولاد كم بالحقيقة . من أجل هذا ، فلتردد شفاهكم على الدوام : من أحب أبنا أو أبنه أكثر منى فلا يستحقنى (مت ١٠ : ٣٧) وأن من وجد حياته يضيعها ، ومن أضاع حياته من أجلى يجدها (مت ١٠ : ٣٩)</p>
<p>ان استعدادكم أن تجوزوا محنة الاستشهاد أنما يفصح عن روح أبيكم الذى يتكلم مع المفديين من أجل ايمانهم (مت ١٠ : ٢٠)  فاذا وجدتم أنفسكم مبغضين ومرذولين ، وفى عيون العالم مستهترين وفجار ، فتذكروا تعزيات المخلص : لذلك يبغضكم العالم لأنكن لستم من هذا العالم . لو كنتم من العالم لكان العالم يحب خاصته (يو ١٥: ١٩)  .. منذ بدأتم حياة الايمان وانتم تواجهون سخط العالم ، وصياحه ضدكم وصخبه العنيف ، وحاقت بكم عشرات الأخطار وما زالت تحدق بكم .. اصبروا إلى المنتهى ، وتقدموا فًى الاحتمال دون تراجع أوتخاذل لأن الذى يصبر إلى المنتهي فهذا يخلص (مت ١٠ : ٢٢) وبتعبير معلمنا القديس بطرس : الذى به تبتهجون مع أنكم الآن، إن كان يجب تحزنون يسيراً بتجارب متنوعه لكى تكون تزكية ايمانكم وهى اثمن من الذهب الفانى ، مع أنه يمتحن بالنار ، توجد للمدح والكرامة والمجد عند استعلان يسوع المسيح (١بط ١ :٦ و ٧) لاحظوا معى أن استعمال كلمة ( تحزنون ) في هذا النص تشير إلى الأتعاب والأوجاع كما قيل للمرأة قديماً : بالوجع تلدين أولاداً (تك ٣ : ١٦) فالمرأه – في الراقع – لا تلد الأطفال بالحزن بل بالأوجاع والأتعاب</p>
<p>ويقول الكتاب لا تحبوا العالم ولا الأشياء التى في العالم. ان أحب احد العالم فليست فيه محبة الأب . لأن  كل ما في العالم شهوة الجسد وشهوة العيون وتعظم المعيشة ، ليس من الأب بل من العالم . والعالم يمضى وشهوته (١يو ٢ :١٥ و ١٧) لقد كانت هذه الكلمات سبب عزاء وتشجيع للتلاميذ .. وعليكم أيضاً الا تحبوا ما يمضى أي الأشياء الفانية ، بل اعملوا مشيئة الله حتى تصبحوا مستحقين أن تكونوا واحداً مع الأبن والأب والروح القدس ، لأنه هكذا يقول المخلص : ليكون الجميع واحا كما أنك أنت أيها الاب في وأنا فيكم ليكونوا هم أيضاً واحدا فينا (يو ١٧ : ٢١) .. كم هو عدد الأيام التي يكسبها ذلك المسكين الذى يحب العالم أو الأشياء التي في العالم (١يو ٢ :١٥) .. العله بالحرى يهلك حياته ويضيعها (مت ١٦: ٢٦ )و( مر ٨ : ٣٦ )و( لو ٩ : ٢٥)  لأنه يحمل على كاهله ضميرا مثقلاً بأبهظ الأعباء  (مز ٣٨ : ٥) .. عبء الجحود وجريمة الانكار!!</p>
<p>يجب أن نتذكر – أحبائى – كم من المرات تعرضت حياتنا للموت؟ ! ونحاسب أنفسنا في حرص حتى نستوثق من أننا ادخرنا لنا نصيباً في معمودية الدم ، فنغسل من كل خطايانا ونأخذ أماكننا عند المذبح السمائى  (رؤ ٦ : ٩) إلى جوار رفاقنا في هذا الجهاد<a href="#_ftn7" name="_ftnref7">[7]</a> .</p>
<h4>القديس أغسطينوس</h4>
<p>فى هذه الحياة الراهنة ، نحن نخوض حربا ضروسا مع الموت من خلال كل الأعمال الضرورية . لأن كل رغبة واحتياج هى كعملية جذب نحو الموت ، بينما يساعدنا كل دواء على الانسحاب من الموت .ان الجسد  ( الانسانى ) غير مستقر ومتقلب لدرجة أنه توجد أنواع ميتات  اذا جاز التعبير  تصد بميتات أخرى .وربما يقول انسان ما : ان أى دواء يستعمل ضد الموت يصير بداية صغيرة الى نوع آخر من الموت بمجرد التوقف عن الاستمرار فى استخدامه . اذا كيف يمكن التحقق من هذا الأمر فى حياتنا الراهنة ؟ أى علاج ضد الموت هو فى حد ذاته بداية صغيرة الى الموت ان كنتم تعانون من آلام الموت بواسطة الاستمرار فى استخدام ( العلاج ) .على سبيل المثال ، خذوا حالة انسان يستخدم دواء الصوم . فهو يستعيد قوته ان أكل وهضم ، ولكن حينما يصوم فانه يستخدم دواء الصوم من أجل أن يصد الموت الذى جلب عليه الافراط ( فى الأكل ) ، ولن يصارع ذاك الموت ما لم يستخدم دواء الصوم والتقشف . وبالرغم من ذلك ، سوف يبرهن على خوفه من الجوع ان استمر فى استخدام دواء الصوم ، مع أنه شرع فى استعمال هذا الدواء من أجل الصراع مع الموت الذى جلب عليه الافراط ( فى الأكل ) .ولذلك كما استعمل الصوم كدواء ضد الموت الذى جلب عليه الافراط ( فى الأكل ). يتحتم عليه أيضا استخدام الأكل كدواء من أجل الخلاص من الموت الذى جلب عليه الصوم . على أى حال ، انكم ستموتون ان كنتم ستستمرون فى استعمال أى دواء من الاثنين .هل المشى مرهق لكم ؟ فسوف تصابون بالاغماء وتموتون من شدة التعب ان استمريتم فى المشى بدون توقف . ثم تجلسون كى تنالوا قسطا من الراحة وتتجنبوا الاغماء . ولكن ان بقيتم جالسين للراحة ، فانكم ستموتون بسببها .هل ضغط النوم الثقيل بوزنه عليكم ؟ (حينها) كان عليكم أن تستيقظوا أو كنتم لتموتون بسببه . بيد أنكم ستموتون من الأرق ما لم تناموا مرة أخرى . لأنه فى الصراع والجهاد مع أى شر يظلمكم ويضطهدكم : هل فى وسعكم أن تحددوا أى دواء تتخذونه بدرجة عالية من الأمان ؛ لدرجة أنكم ترغبون فى الاستمرار به الى أجل غير مسمى ؟أى دواء تختارونه سيكون فى حد ذاته تهديدا . ولذلك طوال هذا التتابع المتغير على الاحتياجات والأدوية ، فاننا نشن حربا مع الموت . ولكن عندما يلبس هذا الجسد الفاسد عدم فساد ، وهذا الجسد المائت يلبس عدم موت ، فسيسأل الموت ذاته : &#8221; أين شوكتك يا موت ؟ أين غلبتك ياهاوية ؟ &#8221; (١كو ١٥: ٥٥) ، حينئذ سنرى ثم نمجد ، فننال الراحة . لن نحتاج الى يد العون ، لأنه لن تكون هناك حاجة .بين الحياة الأرضية والحياة الأبدية :فى تلك الحياة ( الأبدية ) لن تجدوا شحاذا تشاركونه طعامكم ، ولا غريبا تشاركونه بيتكم . لن تجدوا ظمآن تتقاسمونه شرابكم ، عريانا لتكسوه ، مريضا لتزوروه ، متخاصمون لتصالحوهم ، وموتى لتدفنوهم .فى تلك الحياة ( الأبدية ) الجميع : سيطعم طعام البر ، وسيشرب شراب الحكمة ، وسيتوشح بوشاح الخلود ، وسيحيا فى الوطن الأبدى . صحتهم ستكون الأبدية ذاتها ؛ سيدوم سلامهم وفرحهم ؛؛ فى تلك الحياة ( الأبدية ) لن يكون هناك مرض ولا موت . ٩- بوسعنا أن نسرد تلك الأمور التى لن نجدها هناك ( فى الحياة الأبدية) . ولكن من يقدر أن يصف ما سيكون هناك ؟ &#8221; ما لم تر عين ، ولم تسمع أذن ، ولم يخطر على بال انسان .. &#8221; (١كو ٢: ٩) . حقا عن استحقاق يقول الرسول : &#8221; فانى أحسب أن آلام الزمان الحاضر لا تقاس بالمجد العتيد أن يستعلن فينا &#8221; (رو ٨: ١٨) . تذكروا أيها المسيحيون ، أن أى آلام ستقاسوها هى ليست بشىء مقارنة بالجعالة التى ستنالونها . وبايماننا نحن نبقى أمناء لهذا المعتقد وبالتالى لا يمكنكم ادراك ورؤية ما سيكون ( فى الحياة الآبدية ) . ولكن ما أعظم ما لا يمكننا ادراكه والذى قدر لنا أن نناله ؛؛ نعم سنكون ما سنكون ، بيد أنه لا يمكننا أن نرى ماذا سنكون . لأن هذا يتخطى حدود ضعفنا ، يتخطى كل قدرة أفكارنا ، يتخطى أقصى حدود عقلنا . ولكن على أى حال ، كما يقول يوحنا ( الرسول ) : &#8221; أيها الأحباء ، الآن نحن أولاد الله .. &#8221; (١يو ٣: ٢) . حقا نحن أولاد الله فى هذه الحياه بالتبنى ، بالايمان ، بالوعد . لأننا يا اخوتى ، قد اقتبلنا الروح القدس كعربون . فكيف يهمل ذاك الذى أعطانا عربونا مقداره هذا ؛ قول الانجيلى : &#8221; نحن أولاد الله ، ولم يظهر بعد ما سنكون . ولكن نعلم أنه اذا أظهر نكون مثله ، لأننا سنراه كما هو &#8221; (١يو ٣: ٢) .يقول الانجيلى : &#8221; ولم يظهر &#8221; ، ولكنه لم يصف ما ( هو هذا الذى ) لم يظهر بعد ما سنكون &#8221; ، ولم يقل : نحن سنكون هذا أو ذاك ، ومثل هذا سنكون لمن يمكن ( للرسول ) أن يعطى وصف ما يصفه ؟ انى أتساءل : لمن يصف هذا ؟ لن أتجاسر على أن أسأل : من بوسعة أن يصف هذا ؟ ربما كان الانجيلى نفسه هو من يقدر على الوصف ، لأنه هو الذى اتكأ على صدر المسيح ، وشرب الحكمة من ذاك الصدر فى العشاء الأخير.وبهذه الحكمة ( قال بقوة ) البرق هذه الآية : &#8221; فى البدء كان الكلمة &#8221; (يو١:١) هو الذى أخبرنا : &#8221; ولكن نعلم أنه اذا أظهر نكون مثله ، لأننا سنراه كما هو &#8221; . سنكون مثل من ؟ من نحن ؟ أولاده بالطبع .يقول الانجيلى : &#8221; أيها الأحباء ، نحن أولاد الله ، ولم يظهر بعد ماذا سنكون . ولكن نعلم أنه اذا أظهر نكون مثله ( من نحن ؟ أولاده ) ، لأننا سنراه كما هو &#8221; . والآن ان كنتم ترغبون فى أن تكونوا مثله ، ان كنتم تشتهون معرفة من الذى ستكونون مثله ، ثبتوا أنظاركم فيه بقدر ما تستطيعون . ولكن ان كنتم لا تثبتون أنظاركم فيه ، فأنتم لا تعرفون من الذى ستكونون مثله . ولهذا لا تعرفون كيف ستكونون مثله . ولأنكم لا تعرفون ماهيته ، فانكم لا تعرفون ماذا ستكونون . لنصل من أجل بعضنا بعضا :١٠  بتذكرنا هذا أيها الاخوة الأحباء ، لنتطلع باشتياق الى فرحنا الأبدى ، لنصل من أجل ( أن نوهب ) الجلد فى جهدنا الزمنى ومحننا . لنصل من أجل بعضنا بعضا . أروم أن تقبل صلواتى من أجلكم ، وصلواتكم من أجلى .ولا تفكروا أيها الاخوة فى أنكم لستم فى حاجة الى صلواتى ، وأنى لست بحاجة الى صلواتكم . كلنا فى حاجة الى أن يصلى بعضنا من أجل بغض . فصلواتنا المتبادلة هى صلوات تشتعل بالمحبة مثل ذبيحة مقدمة على مذبح التقوى ويفوح منها رائحة ذكية ويسر بها الرب . ان كان الرسل قد اعتادوا على التماس صلواتهم من أجل بعضهم (رو١٥: ٣٠)، فكم بالأحرى علينا أن نفعل هذا الأمر ؟؛ لأنى بعيد كل البعد عن كونى مساويا لهم ، رغم أنى أتوق الى اقتفاء أثر خطواتهم على قدر الامكان ، وليس لى حكمة أن أقول أى تقدم قد أحرزته .كان أولئك الرجال ( الرسل )  بكل عظمتهم  مشتاقين الى أن ترفع الكنيسة صلوات من أجلهم . لقد اعتادوا القول : &#8221; .. اننا فخركم ، كما أنكم أيضا فخرنا فى يوم الرب يسوع &#8221; (٢كو ١: ١٤) . كانت عندهم عادة الصلاة من أجل بعضهم بعضا توقعا ليوم (مجىء) ربنا يسوع المسيح ، لأن لن يكون فى هذا اليوم سوى المجد ، ولكن لن يكون غير الضعف حتى ذلك اليوم . لنصل فى ضعف ، لكى نبتهج فى مجد . فى أوقات مختلفة ، وحتى الآن فى الوقت نفسه ، علينا أن نصلى جميعا الى ذلك اليوم . مختلفة هى أوقات رحيلنا من هذه الحياة ( الأرضية ) ، أما زمن اكليلنا فهو واحد للجميع . فاننا سوف نجتمع فى الوقت والمكان ذاتيهما من أجل أن نقتبل المكافأة التى نشدناها برجاء فى أوقات متعددة .وهذا المعنى فسر وشرح فى حالة مثل الفعلة فى الكرم . فقد استأجرهم ( رب البيت ) فى أوقات مختلفة ، البعض فى الساعة الأولى ، والبعض فى الساعة الثالثة ، والبعض فى الساعة السادسة ، والبعض فى الساعة التاسعة ، والبعض فى الساعة الحادية عشرة ولكن الجميع قد أخذ الأجرة فى الوقت نفسه<a href="#_ftn8" name="_ftnref8">[8]</a> .</p>
<h3>عظات آباء وخدام معاصرين</h3>
<h4>المتنيح الأنبا يؤانس أسقف الغربية</h4>
<p><strong>نفسية المسجونين على ذمة الاستشهاد</strong></p>
<p>كان غرض الملوك والحكام الوثنيين من سجن المعترين المسيحيين ، هو تحطم شجاعتهم واضعاف روحهم المعنوية. لكنه كان دائماً – وبصفة عامة – أداة تحريكها وتقويتها .</p>
<p>أنه أمر خارج عن حدود المنطق ، وفائق لطبيعة البشر المألوفة ، أن الاحزان تنشئ أفراحاً ، والضيقات تولد تعزيات ! لكنها المسيحية ، بما فيها من تأثيرات باطنية للنعمة الإلهية ، بفعل الروح القدس في المؤمنين ، تعبرعنها كلمات الرسول بولس &#8221; كمائتين وها نحن نحيا .. كحزانى ونحن دائماً فرحون (٢كو ٦ : ٩ ، ١٠) ! فشهيد المسيحية الأول استفانوس وهو واقف أمام خصومه ، رؤى وجهه كأنه وجه ملاك (أع ٦ : ١٥) … وبعض شهداء قرطاجنة ، بعد أن وصقوا أهوال السجن ، قالوا &#8221; أننا لم نخش ظلام المكان فلقد أضاء السجن الموحش ضياء روحانى . ولقد كان الايمان والمحبة ، كالنهار يفيضان علينا ضوءا أبيضاً &#8221; .</p>
<p>أما أسباب ذلك فكانت :</p>
<p>( ١ ) المعونة الإلهية التي وعد الله بها جميع المضطهدين من أجل أسمه .</p>
<p>&#8221; يلقون أيديهم عليكم ويطردونكم ويسلمونكم إلى مجامع وسجون ، وتساقون أمام ملوك وولاه لاجل اسمى . فيؤول ذلك لكم شهادة . فضعوا في قلوبكم أن لا تهتموا من قبل لكى تحتجوا . لانى أنا أعطيكم فماً وحكمة ، لا يقدر جميع معانديكم أن يقاوموها أو يناقضوها . وسوف تسلمون من الوالدين والاخوة والاقرباء والأصدقاء . ويقتلون منكم – وتكونوا مبغضين من الجميع من أجل اسمى . ولكن شعرة من رؤوسكم لا تهلك . بصبركم اقتنوا أنفسكم &#8221; (لو ٢١ : ١٢ – ١٩) .</p>
<p>( ٢ ) تعاطف الكنيسة كلها معهم …</p>
<p>فهم لم يكونوا وحدهم ، بل أن الكنيسة كلها – بكل أعضائها ، كانت معهم : تصلى لأجلهم صلوات حارة ، كما حدث لما كان بطرس مسجوناً ، ففتح ملاك الرب أبواب السجن وأخرجه منه ( أع ١٢ ) … كما كانت الكنيسة تهتم باحتياجات هؤلاء المعترفين والشهداء المادية ، واحتياجات أسرهم .</p>
<p>( ٣ ) إحساس هؤلاء المعترفين بشرف تألمهم ، من أجل انبل الأسباب …</p>
<p>فقد أدركوا يقيناً أن ما يحتملونه من ضيقات وآلام وأحزان إنما هي شركة آلام المخلص ، التي أشار إليها الرسول بقوله &#8221; لاعرفه وقوة قيامته ، وشركة آلامه ، متشبهاً بموته &#8221; (في ٣ : ١٠) … وأنها تكميل نقائص شدائد المسيح في أجسادهم (كو ١ : ٢٤) .</p>
<p>( ٤ ) التطلع إلى المجد العظيم الذى ينتظرهم .</p>
<p>والفرح الموعود به ، حينما يمسح الله كل دمعة من عيونهم (رؤ ٢١ : ٤).</p>
<p>( ٥ ) الرؤى المجيدة التي كانت تعلن لهم ، والتي كان لها أعظم الأثر في تشجيعهم .</p>
<p>فبينما كان اليهود يرجمون استفانوس ، كان هو يشخص إلى السماء ، وظل نظره مثبتاً فيها – لأن قلبه وفكره كانا هناك أيضاً – فأبصر السموات قد انفتحت ، ورأى مجد الله ويسوع قائماً عن يمين الله (أع ٧ : ٥٥ ، ٥٦) .</p>
<ul>
<li>ومما لا شك فيه أن الرؤى السماوية والأحلام التي كانت تعلن للمعترفين كانت تشددهم وتنسيهم آلامهم ، التي تفوق الوصف ، وتعجز طاقة البشر عن احتمالها . وسير الشهداء حافلة بكثير من قصص الاحلام والرؤى فكثيراً ما كان الشهداء يرون السيد المسيح وملائكته والقديسين يفتقدونهم ، ويشجعونهم ، ويقوونهم . كمثل نروى الرؤى التي رأتها بوبيتوا شهيدة قرطاجنة الشهيرة .</li>
<li>رأت الشهيدة بربيتوا في حلم ، سلماً كبيراً ذهبياً يصل الأرض بالسماء . كان ضيقاً بحيث لا يتسع الا لشخص واحد . وعلى جانبيه آلات التعذيب ، ومن أسفل تنين مرعب ، عند الدرجات الأولى لهذا السلم ، يتحفز لاقتناص من يحاول الصعود إلى السماء . وفى الحلم رفعت بربيتوا رأسها ، فرأت معلمها ساتوروس وهو يصعد . وحينما وصل إلى نهاية السلم من أعلى قال لها برباتيوا … أنى في انتظارك . ولكن احذرى لئلا يلتهمك التنين &#8221; حينئذ قالت برباتيوا &#8221; باسم يسوع المسبح سأصعد ، ولن أخاف التنين &#8221; وبجرأة وضعت رجلها على التنين وكأنه الدرجة الأولى من درجات السلم ، ثم أبتدأت تصعد بسرعة … وأخيراً وصلت . وهناك رأت حديقة فسيحة يقف في وسطها رجل ممشوق القامة ، في رداء أبيض ناصع ، وحوله وقف ألوف يرتدون ثياباً بيضاء . هناك وجدت الراعي الصالح في انتظارها ممتلئاً رقة نحو خرافه ، ثم رفع ذلك السيد رأسه ونظر إليها وقال لها &#8221; مرحباً بطفلتى &#8221; ثم ناداها وأعطاها كعكة ، أخذتها منه وأكلتها ، وحينئذ سمعت أصوات الذين وقفوا حولها يرددون كلمة &#8221; أمين &#8221; .. ثم استيقظت برباتيوا ، وكانت تشعر بحلاوة تملأ حلقها .</li>
<li>وفى مساء اليوم السابق لموعد تنفيذ الحكم على برباتيوا ، رأت حلماً آخر :</li>
</ul>
<p>رأت بومبونيوس الشماس ، وقد أتى إلى سجنها وأخذ يدق بابه بعنف ، فذهبت اليه وفتحت له فرأته مرتدياً ملابس بيضاء ، فقال لها &#8220;برباتيوا ، اننا في انتظارك فتعالى &#8221; وخرجت برباتيوا وراء بومبونيوس حتى وصلت إلى مدرج واسع جداً حيث علمت أنه هناك ستتم المعركة الفاصلة ثم رأت رجلاً مقبلاً من بعيد ، ووجهه مخيفاً ، وكان يصحب معه رجالاً آخرين ليحاربوها . ثم أتى رجل آخر وصاح بصوت جهورى &#8221; ان استطاع هذا المصرى أن يغلبها فليقتلها بسيفه ، أما ان استطاعت هي أن تقتله فلتتقدم لتأخذ سعف النخل &#8221; . اقترب كل منهما نحو الآخر . وكان المصرى يحاول أن يهجم على قدمى برباتيوا ، لكنها ضربته بمهماز كان في يدها . ثم ارتفعت هي في الهواء ، وأخذت تسدد للرجل الضربات واللكمات . ثم أمسكته من رأسه  وأوقعته على وجهه ثم داست عليه بقدميها . وحينئذ توجهت إلى رئيس المحفل حيث أخذت منه سعف النخل فقبلها وقال لها : سلام لك يا بنيتى . ثم خرجت من بوابة كبيرة &#8221; . وبعد أن استيقظت برباتيوا أخذت تتأمل هذا الحلم وأيقنت أن حربها ليست مع وحوش فقط ، بل مع الشيطان الذى كان يرمز اليه ذلك المصرى وأيقنت أن سعف النخل رمز الظفر .</p>
<ul>
<li>وشهيد آخر أبصر نومه في السجن وثنياً مقبلاً عليه معلناً انه إن لم ينكر الإيمان فسيهلك لا محالة . فأجابه الشهيد &#8221; نحن على استعداد لتحمل كل شيء . وكلما زاد الألم ، زاد النصر المجيد &#8221; وبعد أن استيقظ من نومه شعر بقوته وقد تجددت بتقويه رجائه العتيد .</li>
<li>وكثيراً ما كان المسجونون يشاهدون في أحلامهم رعاة الكنيسة الكبار الذين استشهدوا ، يظهرون لهم في رؤى يشجعونهم ، كما كانوا يبصرون اخوتهم الذين سبقوهم في الشهادة يزورونهم . لقد رأت برباتيوا الشماس بومبونيوس الذى كان قد استشهد منذ وقت قصير يقترب من باب زنزانتها في السجن ويقول لها &#8221; تعالى ، فنحن في انتظارك &#8221; … ثم قالت برباتيوا وهى تروى حلمها &#8221; أخذنى من يدى وبدأنا نصعد معاً مسالك منحدرة وملتوية &#8221; .</li>
</ul>
<p></p>
<ul>
<li>وساتوروس معلم برباتيوا وشقيقها ، رأى حلم ، أربعة ملائكة قد حملته ، ووضعوا عليه ثوباً أبيض ، وأحضروه بين أصدقائه الشهداء الذين عرفهم وهو على الأرض … يقول ساتوروس &#8221; أبصرنا نوراً عظيماً وسمعنا صوتا يسبح قائلاً قدوس قدوس قدوس … ولما أحضرنا أمام عرش الرب يسوع ، جمعنا إلى حضنه &#8220;… وفى هذا الحلم رأى ساتوروس برباتيوا فقال لها &#8221; ها أنت قد نلت أمنيتك &#8221; . فقالت له &#8221; شكراً لله . لقد كنت سعيدة وأنا في الجسد . ولكنى الآن أسعد حالاً .</li>
</ul>
<p>ونستطيع أن نصور كيف أن أمثال هذه الرؤى . تستطيع أن تقوى شجاعة المسيحيين . وهكذا أصبح الجب المظلم – السجن – في نظر المعترفين بابا للسماء !</p>
<p>وهكذا كان المعترفين في سجونهم تفيض نفوسهم سلاماً ، ووجوههم بشراً وفرحاً .كانوا يتعجلون موعد محاكمتهم – لا لأنهم يتوقعون الافراج عنهم ، بل لانهم كانوا يشتهون تلك الوقفة أمام الحاكم ، وكأنهم يقفون مع الرب يسوع أمام بيلاطس الوالى الرومانى .. ينتظرون النطق بالحكم لاعدامهم .. شاعرين أن المسيح حبيبهم والههم في انتظارهم ، مع محفل من الملائكة والشهداء . لانهم كانوا يعلمون تمام العلم أنهم ليسوا من العالم ، بل هم رعية مع القديسين وأهل بيت الله (أف ٢ : ١٩)<a href="#_ftn9" name="_ftnref9">[9]</a> .</p>
<h4>القديس القمص بيشوي كامل</h4>
<p><strong>عظة الشهداء قدوة الكنيسة</strong></p>
<p>بسم الاب و الابن و الروح  القدس الاله الواحد أمين</p>
<p>في الواقع يا أحبائي  ، قعدت أفكر في الليالي ديه ليالي افراح. و الفرح جه للكنيسة و خاصة واحنا بنزف أجساد الشهداء القديسين ، و لكن لو رجعنا عبر الأجيال الطويلة ديه في نفس اليوم ده اللي كان فيه الشهيد بيتعذب أو بيتألم ، هل كانت الليالي ديه ليالي ليالي افراح زي اللي احنا قاعدينها كده ، كانت الناس قاعدة علي الكراسي مبسوطة و بيرتلوا و فرحانين، بالعكس بالتأكيد يا احبائي كانت أيام معاناة صعبة جدآ . ده لو واحد ماشي في الطريق و شاف عربية ضربت قطة و لا كلب صغير &#8230; بيصرخ و جسمه بيقشعر و بيضطرب و بينزعج جدآ لما يشوف لون الدم ، يمكن علي الأرض . اذا كان بيتكلموا عن القديسين دولت و القديس مارجرجس اللي كانوا بيقطعوا جسمه ، و بيرقصوا من وراه، كان ايه هيكون مشاعر المسيحيين في الأيام ديه؟ الأطفال الصغيرين اللي يشوفوا منظر الدم ده و الكبار و الأمهات و الاسر . و ربما كانت أيام فرح روحية لكن كانت أيام معاناة صعبة جدآ . و من الخطأ يا اخواتي ان احنا نصور أيام الشهداء هي كانت أيام سهلة. و لكن أيام الشهداء كانت أيام صعبة جدآ . كانوا عايشين في المقابر و عايشين في سراديب تحت الأرض و كانوا عايشين بعلامات سرية بينهم و ما بين بعض . يرسم له علامة علي الأرض عشان يفهم انه هو مسيحي، و كانوا متخفين عن الدولة. و كثير ايضآ في ذكر الواقع ، كثير ايضآ  أنكروا الايمان، و كان منهم أساقفة و فرضت عليهم واجبات دينيه بسيطة في نظير ان هي تقبلهم و يرجعوا لحظيرتها مرة ثانية ، فالايام ديه اجتازتها الكنيسة بمرارة ،  اجتازتها بدموع و بعرق ، و بدم انت متخدش الموضوع ببساطة لما نقول ان يوم واحد دقلديانوس في حقبة معينة قتل 800 الف في مدينة الاسكندرية و كان يريد انه هو يكمل ايضآ لولا ان هو تعب من قتل المسيحيين.</p>
<p>الانجيل بتاع الليلة بيقول تكونوا مبغضين من اجل اسمي ، لكن انتهي عصر الاستشهاد ، و جه عصر تاني للاستشهاد من اجل الايمان و ظهر اثناسيوس في ساحة الاستشهاد من اجل الايمان . و كتبوا عنه قالوا اثناسيوس ضد العالم . العالم كله ضدك يا اثناسيوس ، قال لهم و انا أيضا ضد العالم . و كتب اثناسيوس و قال لم ينته عصر الاستشهاد ، فكان المؤمنون أيضا يقدمون للاستشهاد من اجل العقيدة و لولا هذه الدماء ايضآ و هؤلاء الشهداء ما كان بقي لنا قانون الايمان اللي احنا عايشين فيه، و كانوا مسيحيين مع مسيحيين، و كانت شدة الاباطرة علي ابائنا القديسين في منتهي القسوة . و عاش اثناسيوس طول حياته مطرودآ من الإسكندرية هربان في وسط المقابر، و يخش في جوف الأرض و في البراري، و لم يكن اباؤنا يا احبائي يذوقون طعم الراحة اثناسيوس قال لم ينته عصر الاستشهاد. و لكنه كتب في رسالته قال لهم الاستشهاد ما زال موجودآ. في شهادة من اجل الحق. الشهادة من اجل الحق. و في شهادة ايضآ شافها اثناسيوس بعينه من بيوت الاقباط&#8230;. النفوس اللي كرست حياتها في البيت ، كانت كنيسة للصلاة ..الام اللي سهرت علي تربية أولادها بدموع و بصلاة ، فطلعت من تحت ايديها قديسين و قديسات ، و الاب اللي فاتح بيته عشان يطلع قديسين . اثناسيوس كان بيشوف في الناس دولت كلهم صور الشهداء.</p>
<p>و يخبرنا ايضآ التاريخ عن شهداء محبة المسيح. و القديسين مكسيموس و دوماديوس قال عنهم القديس أبو مقار هلم بنا يا إخوة نعاين مكان شهادة الاخوة الغرباء ، لآن لما راح يزورهم فوجدهم سهرانين في الليل فتظاهر بالنوم و راي ازاي يقفوا للصلاة فوجد الكبير و هو يصلي في شكل لهيب نار طالع من بقه ، ووجد الصغير الشياطين بتلف حواليه زي الدبان ، و ملاك الرب واقف يدافع عنه فسماهم شهداء . فالكنيسة بتاعتنا اجمل اسم ليها هي كنيسة الشهداء . سواء كان في عصر الوثنين او سواء كان شهادة من اجل الايمان ، او كان شهادة ايضآ محبة في المسيح باي صورة من الصور&#8230;</p>
<p>فالليلة يا احبائي الفرحة اللي غمرتنا هذه لازم نحولها بسرعة الي فرحة روحية . بحيث ان روحنا تتملي بالفرح . مش فرح مادي و لكن فرح القديسين اللي قال عنه بولس الرسول في رسالته : افرحوا في الرب كل حين و أقول ايضآ افرحوا &#8221; كان يكتب هذه الكلمات الجميلة و السلاسل في ايديه في سجن روميه عندما كتب رسالته الي فيليبي قائلآ : افرحوا في الرب كل حين و أقول ايضآ افرحوا &#8221; بولس الذي له هذه المنطقة سيربطه اليهود هكذا في اورشليم ، فقال لهم : تكسرون قلبي لاني لست مستعدآ فقط ان اربط من اجل المسيح بل ان اموت ايضآ . قال هذه الخدمة التي تسلمناها من الرب يسوع مش ها يكف ابدآ في الجهاد من اجلها.</p>
<p></p>
<p>ففي شهداء للخدمة خدموا الكنيسة بشجاعة و بفرح و بسرور و سهروا علي خدمة الكنيسة حتي النهاية و نحن الان يا احبائي في عصر يتميز بالسطحية و الميوعة و المادية بصورها المختلفة . و الخلاعة و الشر ينتشران من هنا و من هناك و لكن الرب يسوع ايضآ شهود و شهداء ايضآ لم ينس التاريخ ابدآ هذه الشهيدة بربتوا عندما تقدمت للاستشهاد و الثور قطع اليدين بتاعتها و تعرت . مهمهاش ضربة الثور لكن كل اللي كان شاغل بالها ان هي تغطي هدومها . فصفق لها اللي كانوا واقفين في البلكونات بيتفرجوا عليها في الاستشهاد . و بسبب هذا المنظر الجميل&#8230;امن ست مائة نفس، لآن هي اهتمت ان تكون شهيدة للعفة . و القديسة بوتامينا و قصتها المعروفة اللي هي قالت للوالي بدل ما ترميني عريانة في فرن الزيت المغلي ، لبسني هدومي و نزلني ثانية ثانية ، و انا اموت تدريجيآ و بلاش تعريني و تبقي عزبتني اكثر</p>
<p>و يعوزنا الوقت لو تكلمنا عن شهداء من اجل العفة .</p>
<p>و للان ايضآ أولادنا في الكنيسة ممكن يشهدوا للعفة في وسط عالم شرير ، و أباؤنا القديسن ايضآ في شهادتهم كانوا شجعان ، لم يخافوا و لم يضطربوا و لم ينزعجوا و كلام ربنا يسوع لينا في الانجيل &#8221; لا تهتموا من قبل&#8221; ان كانت الأيام دية بتتعب اولادنا من ضيقات او أشياء شبيهة بذلك في العمل في الكلية &#8230; في مثل هذه الأمور ما موقفنا كأولاد للشهداء . الفرح يملآ قلبنا و السلام الداخلي لآن الله الذي يرعي الكنيسة عشرين قرنآ لم يتخل عنها . لكن أنا سريع النسيان &#8230;سريع النسيان. ثم انه أيضآ لو تألمنا من اجل البر . ان اصابتنا الام في العالم &#8221; من اجل اسم المسيح فيبقي لنا التطويب و البركة ، و احنا نطول ناخذ بركة علي اسم المسيح؟!</p>
<p>من أجل هذا يا احبائي ها ارجع للكلام من اول .</p>
<p>الليلة ليلة فرح . فرح بايه؟ فرح &#8230; دا احنا ليلة شهداء .</p>
<p>و لكن كنيستنا مبنيه علي ايمان هؤلاء الشهداء ان الايمان لم يسلم لهم مكتوب علي ورق , لكن سلم لهم مكتوب بالدم ، فكنيستنا القبطية ايمانها قطرة دم . من اجل ذلك أعطاها المسيح و سلمه للأجيال واحد بعد الاخر و كانوا يحرصون علي ايمانهم كما يقول سفر الرؤيا &#8221; لم يحبوا حياتهم حتي الموت&#8221; مكنش في محبة لحياتهم.</p>
<p>من اجل هذا يا احبائي نحن نكرمهم ، و ان كنا نكرمهم الليلة ، و لكن كرامتهم في السماء كبيرة خالص. فلما يقول سفر الرؤيا هذه هي الكرامة الكبيرة للشهداء،و سجلت بوضوح تام ، عندما سألوه متي يا ربي تنتقم للذين قتلونا ، فلبسوه ثيابآ بيض تحت المذبح , و قيل لهم ان بستريحوا قليلآ لما يكمل العبيد رفقاؤهم جهادهم. لآجل هذا يا احبائي : الشهداء مكرمون جدآ و مكانتهم تحت المذبح في السماء و نحن نكرمهم و لا ينال هذه الكرامة أي انسان في العالم . مارجرجس يكرمه العالم كله حتي الذين لا يؤمنؤن به . قعدت اتعجب في إنجلترا عيد عظيم لمارجرجس آن ده الشفيع بتاعهم. حتي احنا عيد استشهاد مارجرجس يوم 1 مايو اصبح عطلة رسميه سموه عيد العمال.</p>
<p>لكن لازم الكنيسة كلها تحتفل بهذا العيد العظيمظز مارجرجس نذكره في المناسابات اللطيفة و نطلب شفاعته. منذ سنة في هذا المكان كنا بنتحدث عن موضوع القنبلة و عمل ربنا اللطيف العجيب الحلو المعجز، و كان يوم مفرح لآن ده اليوم اللي اتبنت فيه كنيسة الست العذراء و القديس كيرلس عمود الدين ، و لولا مشغولية الناس في الكنيسة هنا بسبب القنبلة مكنش اتبنت الكنيسة هناك.</p>
<p>اعمال ربنا عجيبة و لكن يا احبائي ، هل تنقلب هذه الافراح الي افراح روحية فنعطي قلوبنا و ارواحنا و اوقاتنا و كل ما لينا لله الذي أحبهم فقدموا حياتهم&#8230;</p>
<p>و نحن يا احبائي اب الاسرة في مكانه يربي أولاده في مخافة ربنا . و يسهر و يصلي من أجلهم . و الام أيضا تسهر من اجل أولادها و تطلب الي الله أن يكونوا قديسين ، و الخادم في مدارس الاحد يسهر علي خدمته بأمانة . و يكون شهيد ايضآ في خدمته. و الكل شبان و شابات و رجال في أعمالنا و في كلياتنا و في احتكاكنا بالعالم الخارجي نمتلئ شجاعة بالروح و نذهب للمسيح بشجاعة و بعدم خوف و باطمئنان داخلي. لآن الله معنا كل الأيام و الي انقضاء الدهر.</p>
<p>في الحقيقة يا احبائي ليس لنا ان نشكر الله علي اللي أعاننا لهذة الليلة و زي ما بيقول المزمور بتلع الليلة ديه&#8221; الصديقون صرخوا والرب استجاب لهم، ومن جميع شدائدهم نجاهم، قريب هو الرب من المنسحقى القلب، والمتواضعين بالروح يخلصهم. الصديقون  الشهداء صرخوا للرب و الرب  استجاب لهم،طب و استجاب لهم ازاي؟</p>
<p>و هؤلاء استشهدوا ! استجاب لهم أي اعطاهم الاكاليل. استجاب لهم لأنهم ماتوا علي الايمان . كان الوحش ان هم ينكروا الايمان في الطريق و هم في طريقهم للاستشهاد. لكن . الصديقون صرخوا للرب والرب استجاب لهم. فحفظ إيمانهم للنفس الأخير كما يقول القديس أغسطينوس &#8221; كثيرة هي أحزان الصديق، ومن جميعها يجربهم الرب و الرب يحفظ عظامهم وواحدة لا تنكسر ، و الشهداء تكسرت عظامهم . القديس أغسطينوس يقول إن عظامهم ليس المقصود بها العظام العادية لأ الشهداء انكسرت عظامهم. و لكن القديسن عظام إيمانهم ما زالت قوية و لن تنكسر . و تعب دقلديانوس أمام مارجرجس فعمل كل الحيل بالتهديد و الاغراء و لكن بقوة المسيح غلب مارجرجس. و هؤلاء غلبوا و الصديقون صرخوا والرب استجاب لهم، قريب هو الرب من المنسحقى القلوب ، و يستجيب الرب لصلواتنا و صراخنا اليه.</p>
<p>في هذه الليلة يحفظ ايمان الكنيسة قوي و هذه الأيام صعبة لكي يعطينا روح مارجرجس و روح القديسين و روح الايمان القوي لكي نثبت علي ايمان ابائنا الي النفس الأخير و نشهد لالهنا الذي احبنا و مات لاجلنا.</p>
<p>والهنا المجد الدائم أبديآ أمين<a href="#_ftn10" name="_ftnref10">[10]</a></p>
<h4>المتنيح القمص لوقا سيداروس</h4>
<p><strong>نجم يفضل عن نجم في المجد</strong></p>
<p>لاشك أن جميع الذين استحقوا الملكوت وكتبت اسماؤهم في سفر حيوة الخروف يتمتعون ويتنعمون بالسرور والفرح الأبدي ، بلا نقص ولا إحساس بالنقص فالكل في حالة مليء وكفاية ومصدر الفرح هو الوجود الدائم في حضن القدير إذ لا يخرجوا الي خارج بعدما يكون الباب قد اغلق ولا عودة الي تعب أو جهاد ولا تذكار لشر أو اشرار ولا مقاوم ولا حروب لأن ابليس المشتكي علي جنسنا يكون قد طرح الي الأبد .</p>
<p>ولا يمكن بحال من الأحوال أن يوصف مجد السماء بالفاظ بشرية ولكن المختارون حصلوا علي عربون الفرح السماوي وهم بعد في الجسد فقالوا انه فرح لا ينطق به ومجيد وأن ما رأوه لا يسوغ لأنسان أن يتحدث عنه لأنهم رأوا ما لا يري وما لم تره العين (انظر ١كو ٣: ٩) .</p>
<p>علي أنه إن كان الكمال هو الجو السائد في السماء فهذا لا يعني عدم التمايز بين الأبرار ،فالمجازاة في السماء تكون بحسب الجهاد علي الأرض &#8221; نعطي كل واحد بحسب أعماله &#8221; فالشهداء مثلاً الذين ضحوا بدمائهم من أجل الملك المسيح الذين بلغ الحب أقصي درجاته حتي الدم ، الذين شهدوا للرَّب شهادة الصدق والحق وصمدوا ضد اهواء العالم واغراءاته وواجهوا من العذاب مالا يمكن وصفه أو شرحه حتي آخر نسمة وقصص الأبرار الشهداء لا تقع تحت حصر إذ قد بلغت اعدادهم الملايين … تنبض بالحب للصليب والتضحية من أجل شهادة يسوع المسيح والسؤال هل يستوي هؤلاء الشهداء بغيرهم من المؤمنين في السماء ؟</p>
<p>والجواب مسجل في سفر الرؤيا بغاية الوضوح &#8221; رأيت نفوس الذين قتلوا من أجل شهادة المسيح تحت المذبح &#8221; (رؤ ٦: ٩) .</p>
<p>لم يحظ أحد بهذا النصيب الفاخر سوي الشهداء لأنهم مستحقون إذ ان الله عادل لانه لا ينسي تعب المحبة حتي كأس الماء البارد لا يضيع أجره ، أنه يمجد شهداءه الذين ذبحوا من أجله ان يخصهم بان تتمتع نفوسهم بالوجود تحت المذبح الناطق السمائي عوض ما قدموا دماءهم حباً في الذي صلب من أجلهم .</p>
<p>فان قيل عن رب المجد أنه قائم في وسط العرش كخروف قائم كأنه مذبوح كتعبير عن فخر الصلب ومجد القيامة ليس علي الأرض بل في السماء كركيزة للمجد الدائم في السماء الي ابد الآبدين فيكون قيام نفوس الشهداء تحت المذبح تعبيراً عن تكريم شهادتهم التي اكملوها من اجل يسوع الي ابد الدهور .</p>
<p>فان كانت شهادة الشهداء لم تستغرق علي الأرض لحظات معدودة إلا أنها قائمة في السماء مكرمة من الله الي جيل الأجيال .</p>
<p>لذلك فان الكنيسة المتغربة علي الأرض تعيش كأنها في السماء تكرم الشهداء وتكرم اجسادهم ومنذ القرون الأولي والمذابح تقام علي أجساد الشهداء وبذلك تكون الكنيسة قد نقلت الينا ونحن علي الأرض عربون المنظر الروحاني في السماء حيث تستقر أرواح الشهداء تحت المذبح السماوي بطريقة لا يعبر عنها ولا يسوغ لأنسان ان يتكلم عنها<a href="#_ftn11" name="_ftnref11">[11]</a> .</p>
<h4>المتنيح الدكتور راغب عبد النور</h4>
<p><strong>البنوّة في البنين</strong></p>
<p>انه أمر نستغربه غاية الاستغراب ، فأن الاستشهاد جعل الناس يعيدون النظر في نوعية العلاقات العاطفية التي تربطهم ببعضهم البعض كأعضاء في أسرة واحدة ، فهل حول الاستشهاد القلوب المتعاطفة المتحابة الي قلوب متحجرة لا تتأثر أو لا تتألم للآلام التي يعانيها فرد أو الأفراد الآخرين من الأسرة الواحدة ، أم أن الاستشهاد جعل النفوس المؤمنة أكثر واقعية وأدق اختياراً للأفضل لنفسها ولباقي أفراد الأسرة ؟</p>
<p>ليونيدس رجل من الاسكندرية أودع السجن لكي يلقي مصير الشهداء … وترك خلفه أسرة كبيرة من زوجة وأولاد كان يعولهم جميعا . وكان أوريجانوس الذي لم يبلغ بعد الرابعة عشر أكبر أولاده وهو الذي تقع علي عنقه مسئولية رعاية أسرة … وهي مسئولية &#8211; لاشك أنها أضخم من قدرة أوريجانوس في سنه . لكن أوريجانوس وهو في هذا الجانب الحساس ، وكأبن مسئول ، وكأبن مفجوع في أبيه السجين ، تشجع في غير ما نتوقع له أن يكون ، فأنه كتب لأبيه السجين رسالة يطلب منه أن يظل ثابتا علي ايمانه وألا يكون ارتباطه العاطفي المسئول عن أسرته سببا في أن يخسر أكليل الاستشهاد .</p>
<p>ولقد كان هذا الخطاب من الابن الجريء سببا من أسباب تمسك ليونيدس بإيمانه واختتام حياته بنعمة الاستشهاد . ففي أي درجة من درجات البنوة المخلصة نستطيع أن نضع أوريجانوس ؟ لكننا في نفس الوقت لا نستطيع أن نتهمه بأن تنكر لأبيه .</p>
<p>ان الاستشهاد خلق نوعا من الواقعية الروحية علي العلاقات الأسرية ، فأيهما أشرف وأكسب للوالد ، أن يعود لأسرته سليماً ، وفي نفس الوقت فاقدا لايمانه وشركة القديسين ولجزائه السماوي ، أم أن يبقي متمسكا بايمانه محتفظا بأكليله السماوي ، وبأبديته السعيدة .</p>
<p>ومن الناحية الأخري نذكر نوع من التأثر العميق الذي بلغ مداه في القديسة الشهيدة دميانه ، حين بلغتها الأخبار عن والدها أنه أنكر ايمانه بالمسيح ، وآثر الراحة والرفاهية علي أتعاب الايمان وتكاليفه . فأن هذه القديسة الشهيدة لم تستطع صمتا أمام ارتداد والدها عن الايمان رغم المكاسب التي كان يمكن أن يحققها عن طريق هذا الارتداد ، فكتبت لوالدها رسالة ، ومن ضمن المعاني التي ضمنتها رسالتها أنه كان يسعدها أكثر خبر وفاة والدها من خبر انكاره للايمان وايثاره للحياة الفانية .</p>
<p>وهذا الخطاب كان له تأثيره العميق علي والدها ، فعاد الرجل الي ايمانه تائبا ونادما ، معلنا بجهر أنه مؤمن بيسوع المسيح … وهذا الاستشهاد بعينه قاد الوالي الي القديسة دميانة لتكون هي والعذراوات الأربعون شهيدات الايمان بالرب الكلمة الأزلي .</p>
<p>علي نفس القياس لا نستطيع أن نتهم الشهيدة دميانة بالقسوة علي أبيها لأنها كانت السبب في استشهاده ، لكن نستطيع أن نستكشف صدق ايمانها بالحياة الأبدية ، ومن فرط محبتها لأبيها فأنها خشيت عليه أن يكون خاسراً لهذا الربح الجزيل .</p>
<p>من هذا الايمان كتبت ملحة علي أبيها أن يعود الي ايمانه مهما كانت الخسارة ، ومن أجل نفس الايمان قدمت نفسها ومعها العذاري للاستشهاد ، كسبا لأكليل الشهداء والحياة الأبدية .</p>
<p>الأمومة في الأمهات</p>
<p>من المعقول أن تضحي أم بحياتها من أجل أبنائها ، لكنه أمر فوق الطبيعة أن نطالب أمًا أن تضحي بأبنائها ، في هذه الحالة فأننا نطلب غير المستطاع أو ما هو غير طبيعي .</p>
<p>لكن حين تواجهنا قصة الشهيدة الأم دولاجي شهيدة اسنا ، التي ضرب الجلاد رؤوس أبنائها في حجرها فأننا نجد أنفسنا أمام مشهد بالغ الوحشية من جانب الجلادين ، وبالغ الايمان والصبر من جانب الأم .</p>
<p>فالقضية هنا ليست قضية أمومة وأبناء ، لكنها قضية ايمان ، أصبح الاستشهاد أجل أمجاده وأشهي آماله .</p>
<p>اذا كان الحال بالاستشهاد قد بلغ هذا القدر من التوعية والتقييم ، لا يدهشنا اذن ، اذا لاحظنا أنه لم توجد معوقات لهذا الاستشهاد ، ولعل الأصوب هو قولنا ، أن نوعا من التنافس المتحمس كان يسري بين المؤمنين … أيهم تكون له الأسبقية في هذا المجد ، وأيهم تمتاز أسرته وتفتخر بأعداد المستشهدين ؟<a href="#_ftn12" name="_ftnref12">[12]</a></p>
<h4>المتنيح القمص تادرس البراموسي</h4>
<p><strong>اليوم الثاني والعشرون من شهر هاتور المبارك</strong></p>
<p>بصبركم أقتنوا أنفسكم (لو ٢١ : ١٢ &#8211; ١٩ )</p>
<p>رسم الرب يسوع طريق الكرازة لتلاميذه بالتدقيق لئلا يخوروا في الطريق أو تصادفهم الحروب والضيقات فيفشلوا ويرتدوا إلى الوراء . وتراه اليوم يقول لهم إذا سمعتم بحروب وأخبار وقلاقل فلا تخافوا لابد أن يكون هذا كله أولا . لكن لا يكون منتهى سريعاً ثم قال لهم أيضاً تقوم أمة على أمة ومملكة على مملكة وتكون زلازل عظيمة في أماكن ومجاعات وأوبئة وتكون مخاوف وعلامات عظيمة من السماء . لا أقول هذا لتعجيزكم ولكي تهربوا من الميدان بل أقول ذلك لتقوى عظامكم ويثبت ايمانكم فلا تهمكم الحروب ولا تزعجكم الزلازل ولا تهمكم المجاعات بل تكونو ثابتين لأن هذه الأشياء تتعلمون منها الكثير ليس هذا فقط بل كثرة القلاقل في الأمم والممالك . ليس في الأرض فحسب بل مخاوف وعلامات من السماء . يا إلهي ما أرهبها أيام وما أصعبه ساعات وکیف یا رب نقدر أن نجتاز هذه الأمور وكيف نتحملها وكيف نقف صامدين أمامها . لا تخافوا أنا سبقت وقلت لكم أعطيك فما وحكمة لا يقدر معانديكم أن يقاوموها . وما دمت أنا معكم فمر إن يكون عليكم . أسمعوا أيضاً المزيد من هذه الأمور . يلقون أيدهم عليكم ويطردونكم ويسلمونكم إلى مجامع وسجون . لذلك أنا قلت لكم لا يكن لكم ملكية خاصة بيوت أو حقول لكي لا تندموا على فات . وتنكروا إيمانكم وتقفون أما ملوك وولاه لأجل أسمى فيؤل لكم ذلك إلى شهادة . يعنى هتكونوا شهداء لأجل أسمى فضعوا في قلوبكم أنكم لا تهتموا من قبل ما تحتجون لربما يكون هذا الضيق ليس من الحكام والمتسلطين فقط بل من الآباء والأخوة والأقرباء والأصدقاء . يا إلهى كيف يكون هذا ! يتغير اللحم والدم أيهون الإبن على أبيه والأخ على أخيه . لا يبغضونا فقط بل يقتلونا . ماذا عملنا للعالم حتى يبغضنا العالم بهذه الطريقة الوحشية الحيوان لا يأذى أخيه ، لتكن إرادتك . المر الذي تختاره لي خير من الشهد الذي أختاره لنفسي . لا تخافوا ولا يكن لكم إنزعاج بهذه الطريقة بل أقول لكم شعرة من رؤوسكم لا تهلك لك المجد يا رب لأنك حافظ لنا . حتى في وقت الضيق والآلام لذلك نهتف مع بولس الرسول قائلين يعظم أنتصارنا بالذي أحبنا (رو ۸: ۳۷) حتى يا رب لو قام علينا كل العالم نهتف مع القديس أثناسيوس الرسولي عندما قالوا له العالم كله ضدك يا أثناسيوس قال لهم وأنا ضد العالم يعني مادمت أنا أحافظ على معتقد الكنيسة وإيمانها فلا يهمني أحد وحياتي ليست عزيزة على لأننا إن عشنا فللرب نعيش وإن متنا فللرب نموت وإن عشنا وإن متنا فللرب نحن (رو ١٤: ٨) .</p>
<p>إن العالم ممكن يهملكم لكن لا يقدر أن يزعجكم مادمت انا معكم.لكن أقول لكم كلمة أخيرة بصبركم أقتنوا أنفسكم وبصبركم وجهادكم تأخذون الجعالة .</p>
<p>حقا نحن في يد قوية . والرب قادر أن ينقذنا من كل ضيق ويأتي بنا لكم إلى الميناء بسلام . لأنه قال لنا أنا معكم كل الأيام وإلى إنقضاء في الدهر (مت ۲۸: ۲۰) <a href="#_ftn13" name="_ftnref13">[13]</a></p>
<h3>من وحي قراءات اليوم</h3>
<p>&#8221; إعلموا أن الرب قد جعل بارّه عجباً &#8221;      مزمور عشيّة</p>
<p>الإيمان بالإنسان والإيمان بالله !!</p>
<p>+ نعطي الإهتمام الأكبر في الحياة للإيمان بالله ، ولانهتم بإيماننا بأنفسنا وبالآخرين مع أنّه من صميم إيماننا بالله</p>
<p>+ الإيمان بالله يظهر في العبادة من القلب والصلاة الحارّة والعطش علي الدوام إليه</p>
<p>+ الإيمان بالإنسان يظهر في إحترام إمكانيات وظروف وضعفات ومواهب الآخرين مهما كانت</p>
<p>+ &#8221; لم يسمعوا لموسي من صغر النفس &#8221; آية تعلن خطورة البعد النفسي علي الروحي</p>
<p>+ كثرة التعليم بإنكار الذات دون وضوح معناه جعل الكثيرون يخافون من إعتزازهم بأنفسهم حتي ولو كان كعطيّة إلهية</p>
<p>+ &#8221; احمدك من اجل اني امتزت عجباً &#8221; (مز ١٣٩: ١٤) آية تعلن من هو كل إنسان</p>
<p>+ الخادم الناجح هو الذي يقود الآخرين لإيمانهم بأنفسهم مثلما يبني إيمانهم بالله</p>
<p>+ الأسرة الواعية هي التي تبني كل يوم في الأبناء الثقة بأنفسهم كأولاد الله ، وكيف تشجّعهم دون تدليل ، وترشدهم بلطف ، وتستفيد من آرائهم بإتضاع</p>
<p>+ يظهر إيماننا بأولادنا وقت فشلهم المؤقت وكيف نعالجه</p>
<p>+ قالت المَدْرَسة أن الولد مُتَخلِّف دراسيا ، وقالت الأم إبني مميّز ، فصار الإبن عبقري ( توماس إديسون )</p>
<hr />
<p><a href="#_ftnref1" name="_ftn1"></a>٦٥- القديس كيرلس الأسكندري &#8211; تفسير إنجيل لوقا (صفحة ٤١٥ ) &#8211; ترجمة دكتور نصحي عبد الشهيد</p>
<p><a href="#_ftnref2" name="_ftn2"></a>٦٦- القديس يوحنا الذهبي الفم &#8211; تفسير رسالة رومية إصحاح ١٦ &#8211; القمص تادرس يعقوب ملطي</p>
<p><a href="#_ftnref3" name="_ftn3"></a>٦٧-  الإستشهاد في المسيحية صفحة ٢٧٢ &#8211; المتنيح الأنبا يؤانس أسقف الغربية</p>
<p><a href="#_ftnref4" name="_ftn4"></a>٦٨- كتاب من مجد إلي مجد للقديس غريغوريوس النيسي ( صفحة ٢١٣ ) &#8211; ترجمة القمص إشعياء ميخائيل</p>
<p><a href="#_ftnref5" name="_ftn5"></a>٦٩- كتاب الاستشهاد في المسيحية ( صفحة ٢٩٢ ) &#8211; تأليف المتنيح الأنبا يؤانس أسقف الغربية</p>
<p><a href="#_ftnref6" name="_ftn6"></a>٧٠- كتاب مقالات القديس كبريانوس أسقف قرطاجنة الشهيد ( صفحة ٦٠ ) &#8211; ترجمة وإعداد القمص مرقوريوس الأنبا بيشوي</p>
<p><a href="#_ftnref7" name="_ftn7"></a>٧١- كتاب رسالة إلي الشهداء صفحة ٧٥ &#8211; ترجمة الأستاذ موسي وهبه &#8211; كنيسة مار جرجس خمارويه شبرا</p>
<p><a href="#_ftnref8" name="_ftn8"></a>٧٢- كتاب المسيح مجد الشهداء ( صفحة ٣٨ ) &#8211; ترجمة الباحث ريمون يوسف رزق &#8211; إصدار المركز الثقافي القبطي الأرثوذكسي</p>
<p><a href="#_ftnref9" name="_ftn9"></a>٧٣- المرجع : كتاب الإستشهاد في المسيحية ( صفحة ١٣٠ ) &#8211; الأنبا يؤانس أسقف الغربية</p>
<p><a href="#_ftnref10" name="_ftn10"></a>٧٤- المرجع : كتاب عظات مضيئة معاشة ( الجزء السابع صفحة ١٠ ) &#8211; إصدار مطرانية ملوي وأنصنا والأشمونين</p>
<p><a href="#_ftnref11" name="_ftn11"></a>٧٥- : كتاب محفل الملائكة وسحابة الشهود ( صفحة ٧ ) &#8211; القمص لوقا سيداروس</p>
<p><a href="#_ftnref12" name="_ftn12"></a>٧٦- : كتاب نيروز الإستشهاد ( صفحة ٥٦ ) &#8211; الدكتور راغب عبد النور</p>
<p><a href="#_ftnref13" name="_ftn13"></a>٧٧- كتاب تأملات وعناصر روحية في آحاد وأيام السنة التوتية ( الجزء الثالث  صفحة ٨٢ ) &#8211; إعداد القمص تادرس البراموسي</p>

      {% endcreateArticleAccordions %}
    </section>
  {% endblock %}
  