---
layout: 'layouts/reading.html'
title: 'الرابع والعشرون من هاتور'
permalink: annual/3-24.html
---
  {% block content %}
    <section id="readings">
      <ul>
      {% if '19.97:7-8' != 'null' %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">العشية</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeVespers '19.97:7-8' '40.11:25-30' %}
          </div>
        </div>
      </li>
      {% endif %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">باكر</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeMatins '19.138:1-2' '40.12:1-8' '' %}
          </div>
        </div>
      </li>
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <h3 class="flex items-center justify-between">
            <span class="kufi">القداس</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </h3>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeLitugy '54.5:17-25*@+54.6:1-2' '60.5:1-14' '44.15:6-12' '19.132:9,10,17,18' '43.1:1-17' %}
          </div>
        </div>
      </li>
        </ul>
    </section>
    <section id="article">
      <h3 class="mt-8 mb-4 heading-explain">شرح القراءات</h3>
      {% createArticleAccordions firstName, lastName %}
        <p>وأقيم لنفسي كاهنا أمينا يعمل حسب ما بقلبي ونفسي، وأبني له بيتا أمينا فيسير أمام مسيحي كل الأيام (١صم ٢: ٣٥)</p>
<p>وأن أبذل كل جهدى فى تعليم الشعب الإيمان السليم، وقيادته فى حياة القداسة والبر. وأكون أنا نفسي قدوة في كل عمل صالح</p>
<p>وأتعهد بأن أحب الرعية، وأعاملها بالرفق والحكمة، وأبذل ذاتى فى افتقاد الشعب، والاهتمام به من كل ناحية حسب طاقتى</p>
<p>طقس رسامة الكهنة &#8211; تعهُّد المدعو للكهنوت</p>
<p><a href="#_ftn1" name="_ftnref1">[1]</a>&#8221; يلزمه &#8211; الراعي &#8211; أن يكون متيقظاً جداً ، حاراً في الروح ، كما لو كان يستنشق ناراً &#8221;</p>
<p><a href="#_ftn2" name="_ftnref2">[2]</a>&#8221; أيها الكاهن أنت أب كل العالم &#8221;</p>
<h3>شواهد القراءات</h3>
<p>(مز ٩٦: ٨) ،(مت ١١ : ٢٥ ٣٠) ،(مز ١٣٧ : ١ )،(مت ١٢ : ١ – ٨) ،(١تي ٥ : ١٧ &#8211; ٦ : ٢) ،(١بط ٥ : ١ &#8211; ١٤ )،(أع ١٥ :٦ – ١٢) ،(مز ٧:١٣١، ١٢،  ١٣) ، (يو ١ : ١ – ١٧)</p>
<h3>ملاحظات علي قراءات اليوم</h3>
<p>+ قراءة إنجيل عشيّة اليوم (مت ١١: ٢٥ &#8211; ٣٠) هي نفس قراءة إنجيل عشيّة ليوم ١٠ بشنس ( تذكار الثلاثة فتية القديسين ) ، وهي نفس قراءة إنجيل عشية في الأحد الثالث من شهر هاتور</p>
<p>مجئ القراءة هنا لأجل جوهر رسالة الكهنوت وهو إعلان تدبير الثالوث ( آية ٢٧ ) وإراحة التعابي في المسيح ( آية ٢٨ ) ، وحمل نير الكهنوت بوداعة وتواضع القلب ( آية ٢٩ ، ٣٠ )</p>
<p>أما مجيئها يوم ١٠ بشنس فهو لأجل إعلان الحكمة السماوية للأطفال أكثر من حكماء وفهماء العالم ، وهو الذي أُستعلن في بابل من الثلاثة فتية أكثر من كل حكماء بابل</p>
<p>أما مجيئها في الأحد الثالث من هاتور فهو للإشارة إلي إستنارة أولاد الله بالروح وتبعيتهم للمسيح له المجد الذي يحمل هو أتعابهم بينما يحملون هم نيره</p>
<p>+ قراءة الكاثوليكون اليوم (١بط ٥ : ١ &#8211; ١٤) تكررت ثلاث مرات في ١٧ هاتور، ٢ أمشير ، ٣٠ برموده</p>
<p>وتشابه معها قراءتين أخريين ( ٢٠ بشنس من ١بط ٥ : ٥ &#8211; ١٤ ) ، ( ٤ نسئ من ١بط ٥ : ١ &#8211; ١١ )</p>
<p>وهنا الكلام عن الرعاية والرعاة ( ارعوا رعية الله التي بينكم ) لذلك جاءت في تذكار ذهبي الفم ( ١٧ هاتور ) والأربعة والعشرين قسيس ( ٢٤ هاتور ) ومار مرقس ( ٣٠ برمودة )</p>
<p>كما أن القراءة تتكلّم أيضاً عن السهر واليقظة ومقاومة إبليس لذلك جاءت مع تذكار آباء البرية مثل الأنبا بولا ( ٢ أمشير ) والقديس امونيوس الأنطاكي ( ٢٠ بشنس ) والقديس بيمن المتوحد ( ٤ نسئ )</p>
<p>+ قراءة الإبركسيس اليوم (أع ١٥ : ٦ &#8211; ١٢) تُشبه قراءة الإبركسيس (أع ١٥ : ٤ &#8211; ١٢) للأحد الثالث من شهر بابه</p>
<p>مجيئها اليوم لأجل رسالة الكهنوت إعلان خلاص الشعوب بعمل النعمة الإلهية</p>
<p>بينما مجيئها في الأحد الثالث من بابه للإشارة ( في الآيات الزائدة ٤ ، ٥ ) إلي إعتراض اليهود علي قبول الأمم دون أن يتهوَّدوا</p>
<p>+ إنجيل القداس اليوم (يو ١ : ١ &#8211; ١٧) هو نفس إنجيل باكر ليوم ٤ طوبه ( تذكار يوحنا الإنجيلي ) ، وإنجيل باكر ليوم ١ نسئ ( شهادة أفتيخوس تلميذ يوحنا الإنجيلي )</p>
<p>وجاءت إفتتاحية إنجيل يوحنا الحبيب لأجل تذكاره ، وتذكار تلميذه</p>
<p>كما أنها تُشبه قراءة إنجيل باكر (يو ١ : ١٤ &#8211; ١٧) ليوم ٢٩ كيهك وهو الموافق لعيد الميلاد المجيد ، والكلام هنا يخص تجسّد الكلمة (يو ١ : ١٤) ، وقراءة إنجيل القداس (يو ١ : ١ &#8211; ١٣) ليوم ٣٠ كيهك ، وهو اليوم الموافق لنياحة القديس يوأنس قمص شيهيت ، وهنا التركيز علي صورة أولاد الله المولودين ليس من مشيئة جسد ولا من مشيئة رجل بل من الله ولدوا ، والذين شهدوا للنور الحقيقي في حياتهم</p>
<h3>شرح القراءات</h3>
<p>هذا اليوم هو تذكار الأربعة والعشرين قسيساً ولعلّ هذا الرقم يُشير إلي الإثني عشر سبطاً في العهد القديم والإثني عشر رسولاً في العهد الجديد فكأنّه يُشير إلي الكهنوت الذي بدأت ظلاله في العهد القديم في الكهنوت اللاوي والذي كان يُعبّر عن الإحتياج لذبيحة العهد الجديد وكهنوت الكمال الذي يخدم خلاص البشرية بقوّة ذبيحة الصليب</p>
<p>لذلك تدور قراءات اليوم علي كهنوت النعمة والرحمة والحق الذي أُستعلن في العهد الجديد والذي شعرت البشرية بالإحتياج الشديد إليه في كهنوت العهد القديم الذي رغم كثرة ذبائحه لم يُخلّص الإنسان بالنعمة بل عمَّق في البشريّة الإحتياج للمخلّص ربنا يسوع المسيح رئيس الكهنة وحمل الله والوسيط الكفّاري الوحيد بين الله والناس</p>
<p>لذلك تُعبّر الكنيسة اليوم عن وضع الكهنوت في السماء وفِي الأرض ورسالته المقدسة وغني النعمة في خدمته وعمق الرحمة في حَمْل هموم الآخرين وقوّة الحق في إعلان إرادة السيد والمُخلّص ربنا يسوع المسيح</p>
<p>تُعبِّر المزامير عن سمائية خدمة الكهنوت فكما يسجد الملائكة أمام الملك ويسبحونه ( مزمور عشية ) يسجد خدّام العهد الجديد أمام الهيكل المقدس مع ملائكته ( مزمور باكر ) فيتلألأ نور العبادة وتتزيّن الكنيسة بالقداسة ( مزمور القداس )</p>
<p>لذلك يتكلّم مزمور عشية عن خدمة الملائكة وتسبيحهم وسجودهم</p>
<p>( أُسجدوا لله يا جميع ملائكته سمعت صهيون ففرحت وتهلّلت بنات اليهودية من أجل أحكامك يارب )</p>
<p>ويتكلّم مزمور باكر عن خدمة كهنة العهد الجديد في شركة مع الملائكة في السجود والتسبيح</p>
<p>( أعترف لك يارب من كل قلبي لأنك استمعت كل كلمات فمي أمام الملائكة أرتل لك وأسجد قدّام هيكلك المقدس )</p>
<p>وتُثْمِر الشركة بين السمائيين والأرضيين في العبادة في السراج الذي لا ينطفئ من ليتورجياتها التي تتزيّن بملكها القدّوس وحضوره الإلهي</p>
<p>( كهنتك يلبسون العدل وأبرارك يبتهجون من أجل داود عبدك هيأت سراجا لمسيحي وعليه يزهر قدسي )</p>
<p>لذلك تظهر في القراءات صورة الشيوخ أي الكهنة الذين يتعبون في الكلمة والتعليم ( البولس ) وهم أيضاً أمثلة للرعية ( الكاثوليكون ) ويعمل الله معهم آيات وعجائب ( الإبركسيس )</p>
<p>يظهر في البولس عمل النعمة في سهر التدبير ونقاوته</p>
<p>( أما الشيوخ المدبرون حسناً فليستحقوا كرامة مضاعفة ولا سيما الذين يتعبون في الكلمة والتعليم &#8230; أناشدك أمام الله والرب يسوع المسيح وملائكته المختارين أن تحفظ هذا بدون تبرير أحد )</p>
<p>ويوضّح الكاثوليكون عمل النعمة في الرعاية وإحتمال الآلام ورسم الإتضاع</p>
<p>( ارعوا رعية الله التي بينكم وتعاهدوها لا بالقهر بل بالاختيار كمثل الله ولا ببخل بل بنشاط ولا كمن يتسلّط علي المواريث بل صائرين أمثلة للرعية &#8230; لأن الله يقاوم المستكبرين ويعطي نعمة للمتواضعين &#8230; وإله كل نعمة الذي دعاكم إلي مجده الأبدي في المسيح يسوع بعد ما تألمتم يسيراً هو يهيّئكم ويثبّتكم ويقويكم ويمكنكم &#8230; كتبت إليكم بكلمات قليلة واعظاً وشاهداً أن هذه هي نعمة الله بالحق التي فيها تقومون )</p>
<p>بينما يظهر في الإبركسيس عمل غني النعمة في خلاص وقبول الأمم</p>
<p>( فالآن لماذا تجربون الله بوضع نير علي عنق التلاميذ الذي لم يستطع أباؤنا ولا نحن أن نحتمله لكن بنعمة ربنا يسوع المسيح نؤمن أن نخلص كما أولئك فسكت الجمهور كله وكانوا يسمعون برنابا وبولس يتحدثان بجميع ما صنع الله من الآيات والعجائب في الأمم بواسطتهم )</p>
<p>ونري في الأناجيل نير الكهنوت الذي يقود للراحة ( إنجيل عشية ) وخدمة الكهنوت التي جوهرها الرحمة ( إنجيل باكر ) ومجد كهنوت العهد الجديد في نعمة فوق نعمة ( إنجيل القداس )</p>
<p>في إنجيل عشية نري مسرّة الآب في إستنارة أولاده وراحة من يحملون نير المسيح وراحة من يخدمونهم في المسيح</p>
<p>( في ذلك الوقت أجاب يسوع وقال أحمدك أيها الآب رب السماء والأرض لأنك أخفيت هذه عن الحكماء والفهماء وأعلنتها للأطفال نعم أيها الآب لأن هذه هي المسرة التي صارت أمامك &#8230; تعالوا إليّ يا جميع المتعبين والثقيلي الأحمال وأنا أُريحكم إحملوا نيري عليكم وتعلموا مني لأني وديع ومتواضع القلب فتجدوا راحة لنفوسكم )</p>
<p>وفِي إنجيل باكر يظهر جوهر خدمة الكهنوت في الرحمة بالناس وأولويتها علي تقديم الذبيحة</p>
<p>( فالفريسيون لما نظروا قالوا له هوذا تلاميذك يفعلون ما لا يحل فعله في السبت فقال لهم أما قرأتم ما فعله داود حين جاع هو والذين معه كيف دخل بيت الله وأكل خبز التقدمة الذي لا يحل أكله له ولا للذين معه بل للكهنة فقط &#8230; ولكن أقول لكم إن ههنا أعظم من الهيكل فَلَو علمتم ما هو إني أريد رحمة لا ذبيحة لما حكمتم علي الأبرياء فإن إبن الإنسان هو رب السبت أيضاً )</p>
<p>أما إنجيل القداس فالنعمة غنية جداً وهي هدف ناموس ووصيّة وخدمة العهد الجديد</p>
<p>( وأما كل الذين قبلوه فأعطاهم سلطاناً أن يصيروا أولاد الله الذين يؤمنون بإسمه الذين ولدوا ليس من دم ولا من مشيئة جسد ولا من مشيئة رجل بل من الله والكلمة صار جسداً وحلّ بيننا ورأينا مجده كمجد إبن وحيد لأبيه مملوءاً نعمة وحقاً &#8230; لأنه من ملئه نحن جميعاً أخذنا ونعمةً عن نعمةٍ لأن الناموس بموسي أُعطي وأما النعمة والحق فبيسوع المسيح صارا )</p>
<h3>ملخّص القراءات</h3>
<p>يُشارك الكهنة الملائكة في مخافة العبادة والسجود فيتلألأ سراج الله في كنيسته المُقدَّسة</p>
<p>مزمور عشيّة وباكر والقدّاس</p>
<p>وهم الذين يتعبون في الكلمة والتعليم ويكونون قدوة للرعية فيعمل الله آيات وعجائب في خدمتهم                                               البولس والكاثوليكون والإبركسيس</p>
<p>ويحملون النير ويعلنون الرحمة مع الذبيحة فينالون نعمة فوق نعمة إنجيل عشيّة وباكر والقدّاس</p>
<h3>أفكار مُقترحة للعظات</h3>
<h4>(١) غني النعمة</h4>
<p>١- إعلان وعطية سماوية وإرادة إلهيَّة</p>
<p>&#8221; أخفيت هذه عن الحكماء والفهماء وأعلنتها للأطفال &#8230; ومن أراد الإبن أن يُعْلِن له &#8221;               إنجيل عشيَّة</p>
<p>النعمة مُعْطاة مجاناً لمن هم في بساطة وإشتياق الأطفال وسعيهم الدائم نحو أبيهم السماوي</p>
<p>٢- تُعْطي للمتسربلين بالتواضع</p>
<p>&#8221; وكونوا جميعاً مُتَسربلين بالتواضع بعضكم لِبَعْضٍ لأن الله يقاوم المستكبرين ويُعطي نعمة للمتواضعين &#8221;       الكاثوليكون</p>
<p>ما أجمل كلمة المتسربلين التي تعبر عن تغليف التواضع لكل أمور وأعمال حياتنا</p>
<p>٣- النعمة التي تسند وقت الضيق والألم</p>
<p>&#8221; وإله كل نعمة الذي دعاكم إلي مجده الأبديّ في المسيح يسوع بعد ما تألمتم يسيراً هو يُهيَّئكم ويُثبِّتكم ويقويكم ويُمكِّنكم &#8221;                                                                                                            الكاثوليكون</p>
<p></p>
<p>إله النعمة هو الذي يُعْطي لأولاده الثبات والقوَّة والتمكين</p>
<p></p>
<p>٤- النعمة هي سر الحياة والقيام والبنيان</p>
<p></p>
<p>&#8221; واعظاً وشاهداً أنَّ هذه هي نعمة الله بالحقِّ التي فيها تقومون &#8221;                                      الكاثوليكون</p>
<p></p>
<p>نحن نحيا بنعمته وهي أساس وجودنا في المسيح ونُموُّنا في محبّته</p>
<p></p>
<p>٥- نعمة شركة الإيمان والخلاص مع الجميع</p>
<p>&#8221; لكن بنعمة ربِّنا يسوع المسيح نُؤمن أن نَخْلُص كما أولئك &#8221;                                            الإبركسيس</p>
<p>٦- نعمة الملء</p>
<p>&#8221; لأنه من ملئه نحن جميعاً أخذنا ونعمةً عن نعمةٍ &#8221;                                                        إنجيل القدَّاس</p>
<p>هذا هو إحدي أهداف مجيئه بالجسد إمتلاؤنا من روحه القدّوس وغني نعمته</p>
<h4>(٢) كهنوت العهد الجديد</h4>
<p>١- كهنوت الشركة مع الثالوث</p>
<p>&#8221; وليس أحد يعرف الإبن إلَّا الآب &#8221;                                                               إنجيل عشيَّة</p>
<p>إعلان العهد الجديد هو إعلان محبِّة الله الآب ونعمة الإبن الوحيد وشركة الروح القدس وهذا ليس فقط هو البركة الليتورجية في القدَّاس لكنه أيضاً محور الخدمة وجوهرها</p>
<p>٢- كهنوت الرحمة والذبيح</p>
<p>&#8221; أريد رحمة لا ذبيحة &#8221;                                                                            إنجيل باكر</p>
<p>ليس معني هذا إلغاء الذبيحة بل أولوية الرحمة عليها</p>
<p>٣- كهنوت التعليم النقي</p>
<p>&#8221; أما الشيوخ المدبرون حسناً فليستحقوا كرامةً مضاعفة ولا سيما الذين يتعبون في الكلمة والتعليم &#8221;    البولس</p>
<p>من يتعبون في توصيل رسالة الخلاص للناس ويُدبِّرون خدمتهم حسناً يظهر فيهم بهاء الكهنوت</p>
<p>٤- كهنوت الرعاية الأمينة</p>
<p>&#8221; ارعوا رعية الله التي بينكم وتعاهدوها لا بالقهر بل بالاختيار كمثل الله ولا ببخلٍ بل بنشاطٍ ولا كمن يتسلَّط علي المواريث بل صائرين أمثلة للرعية &#8221;                                                                                  الكاثوليكون</p>
<p>٥- كهنوت قبول الأمم</p>
<p>&#8221; وكانوا يسمعون برنابا وبولس يتحدثان بجميع ما صنع الله من الآيات والعجائب في الأمم بواسطتهم &#8221; الإبركسيس</p>
<p>كهنوت العهد الجديد هو كهنوت كل البشرية وقبول كل من يأتي ويؤمن فالخلاص صار للجميع يهوداً ويونانيين وأحراراً وعبيد</p>
<p>٦- كهنوت النعمة والحق والتبني</p>
<p>&#8221; لأن الناموس بموسي أُعطي وأما النعمة والحقُّ فبيسوع المسيح صارا &#8221;                               إنجيل القدَّاس</p>
<h4>(٣) النير</h4>
<p>١-نير تبعيته ووصيته</p>
<p>&#8221; إحملوا نيري عليكم &#8230; لأن نيري هَيَّن وحملي خفيفٌٌ &#8221;                                                  إنجيل عشيَّة</p>
<p>ما أجمل نيره الإلهي الذي يخف ويحلوا كلما دخلنا إلي العمق معه</p>
<p>٢- نير خدمته</p>
<p>&#8221; لأن الكتاب يقول لا تَكمَّ ثوراً دارساً والفاعل مستحقٌٌ أُجرتهُ &#8221;                                         البولس</p>
<p>نير الخدمة هو الذي إفتخر به القديس بولس وقبله بفرح (٢كو ١١: ٢٣-٢٩)</p>
<p>٣- نير البشر ونير العمل</p>
<p>&#8221; العبيد الذين هم تحت نير فليكرموا أسيادهم &#8221;                                                         البولس</p>
<p>لم تلغي المسيحية الرّق والعبودية لكن رفعت من قيمة كل إنسان لكي يتعامل الجميع كإخوة وهذا ما شجَّع به القديس بولس تلميذه فليمون لكي يقبل أُنسيمس برغم خطأه</p>
<p>٤- نير الناموس والفرائض</p>
<p>&#8221; فالآن لماذا تجربون الله بوضع نير علي عنق التلاميذ الذي لم يستطع آباؤنا ولا نحن أن نحتمله &#8221;   الإبركسيس</p>
<p>يوجد في الحياة المسيحية جهاد وإلتزام ولكن لا يوجد فرائض وهدف الجهاد المسيحي القانوني هو الإمتلاء من النعمة والتركيز والنظر الدائم إلي رئيس الإيمان &#8221;                                                   الإبركسيس</p>
<h3>عظات آبائية</h3>
<h4>القديس كيرلس الاورشليمي</h4>
<p><strong>الاربعة وعشرين قسيس</strong></p>
<p>لقد أمرنا الآباء أن يهتم كل المسيحيين بتذكارهم لما شاهدوه من كرامتهم وعلو مجدهم، هؤلاء غير المتجسدين، لأنهم قريبون من الله ضابط الكل، وهم أمامه في كل حين يشفعون في الخليقة جميعها، صارخين مع الأربعة مخلوقات الحية قائلين: قدوس، قدوس، قدوس.</p>
<p>عظيم هو مجدهم أمام الرب أكثر من الآباء والأنبياء والرسل والشهداء والقديسين، لأن أولئك جميعهم مولودون من زرع بشري، أما هؤلاء الكهنة الروحانيين فسمائيون، ليس لهم أجساد يمكن أن تتدنس بالخطايا كالبشر.</p>
<p>ما أشرف هذه المكانة التي استحقوها! لأن الملائكة وكل بقية الطغمات السمائيّة واقفون أمام الديان العادل، وهؤلاء جلوس على كراسي نورانيّة لابسون حللًا ملوكيّة، وعلى رؤوسهم أكاليل مكرَّمة، وفي أيديهم مجامر ذهبيّة مملوءة صلوات القديسين، وفي أحضانهم جامات ذهبيّة، ويسجدون أمام الحمل الحقيقي، يسألونه غفران ذنوب البشر!</p>
<p>إنهم لا يفترون عن التسبيح والتهليل أمام رب الصباؤوت (الجنود) مع الأربعة المخلوقات الحية<a href="#_ftn3" name="_ftnref3">[3]</a>.</p>
<h4>القديس يوحنا ذهبي الفم</h4>
<p><strong>عظة للقديس يوحنا ذهبي الفم عن الكهنوت</strong></p>
<p>الطاعة الواجبة لرعاة النفوس ١-</p>
<p>يقول الرسول : &#8221;  أطيعوا مرشديكم واخضعوا لأنهم سيسهرون لأجل نفوسكم &#8221; (عب ١٧:١٣) .</p>
<p>إن راعيكم يتعرض لخطر مرعب من أجل فائدتكم وأنتم لا تريدون حتى طاعته . إنه لا يهتم بأموره الخاصة بقدر أهتمامه بأموركم. فطالما أموركم غير مرضية ، فهو في ضيق ومعرض أن يقدم حساباً مضاعفاً ، اعلموا أنه ليس أمر بسيط أن يقدم الراعي حساباً عن كل نفس هو مسئول عنها ، وأن يرتعد لأجل سلامة الجميع . أيه كرامة سوف تقدمونها له . أيه شهادات مودة ستقدرون على تقديمها له لتعويضه عن تلك المخاطر ؟ هل ستعطونه حياتكم ، أم هو الذى يعطيكم حياته ، وإذا لم يعطيها الآن في الوقت الملآئم فسوف يفقدها فيما بعد . أنتم ترفضون له كل طاعة حتى ولو كانت بالكلام فقط . إن السبب في أن سلطة الرعاة ديست بالأقدام هو شرورنا ، إذا أننا لا نعرف لا الأحترام ولا الخوف .</p>
<p>يقول الرسول : &#8221; أطيعوا مرشديكم وأخضعوا لهم &#8221; . لأنه والحالة هذه كل شيء قد انقلب وأختلط لا أقول هذه لمصلحة من يقودونكم . لأنه ما هو الشرف الذى سوف يعود عليهم من طاعتكم لهم ؟ أنا أقول هذا لفائدتكم ياأخوتى . الكرامة التي تقدمونها لهم لن تزيدهم شيئاً ، بل بسببها سيحاكمون بأكثر شدة . الشتائم لا تؤذي مستقبلهم ، بل على العكس سوف تبررهم. إذن هي فائدتكم التي وضعت فوق كل أعتبار . لقد قال الله لصموئيل : &#8221; لأنهم لم يرفضوك أنت بل إياى رفضوا &#8221; (١صم ٨ : ٧) ، بمعنى أن الإهانة بالنسبة لهم مكسب ، والكرامة عبئ الذى يكرم الكاهن يكرم الله ، الذى يعتاد على احتقار الكاهن ، سيصل يوماً إلى احتقار الله . يقول الرب : &#8221; الذى يقبلكم يقبلنى &#8221; (مت ١٠ : ٤٠) . العبرانيون قبل أن يحتقروا الله  بدءوا باستصغار موسى ، وأساءوا معاملته . من يكون نقياً تجاه الكاهن يكون بالأحرى ربما أكثر تجاه الله إذاً حدث أنك لكى ترضى الله أكرمت الكاهناً غير جدير بالأكرام سوف يكافئك الله . &#8221; من يقبل نبياً باسم نبى فأجر نبى يأخذ (مت ١٠: ٤١) . هكذا بالنسبة للذى يكرم الكاهن ، ويقدم له الخضوع والطاعة . قال الرب يسوع : &#8221; على كرسى موسى جلس الكتبة والفريسيون . فكل ما قالوا لكم أن تحفظوه فأحفظوه وافعلوه لكن حسب أعمالهم لا تعملوا لأنهم يقولون ولا يفعلون &#8221; (مت ٢٣ : ٣،٢) .</p>
<p>ألا تعرفون من هو الكاهن ؟</p>
<p>إنه ملاك من الرب لأن الكلام الذى يقوله ليس منه . فإذا احتقرتموه فأنتم لا تحتقرونه هو بل الله الذى أرسله لكن .</p>
<p>سوف تقولون ما الذى يبرهن لنا على أن الله هو الذى أرسله ؟ إذاً لم يكن لكم هذا الإيمان فرجاؤكم إذن باطل لا طائل تحته. لأنه إذا كان الله لا يجرى شيئاً بواسطة الوسيط الكاهن ، فأنتم لا تحصلوا على العماد ، ولم تشتركوا في الأسرار الإلهية ، ولم تحصلوا على الأولوجية ، قإذن أنتم غير مسيحيين  .</p>
<p>سوف تقولون كيف ذلك ! هل الله هو الذى يأمرهم جميعاً حتى الغير جديرين منهم ؟</p>
<p>الله لا يأمرهم بل يجرى بنفسه خدمة الكهنوت للجميع ، حتى بواسطة الغير جديرين ، لأجل خلاص الشعب . فإذا كان اللة في الماضى قد استخدام حماراً ، ورجلاً شريراً وهو بلعام ليبارك شعبه ( عدد ٢٢ ) ، وسلم الصندوق ليهوذا ، وأجرى أعماله بواسطة الأنبياء الذين قال لهم : &#8221; إنى لم أعرفكم قط اذهبوا عن يا فاعلى الإثم &#8221; (مت ٧: ٢٣) ، إذاً كان الخطاة اخرجواالشياطين باسمه ، فمن باب أولى يخرجها بواسطة خدمة الكهنوت .</p>
<p>١-ليحاسب الإنسان نفسه ولا يدين الآخرين .</p>
<p>إذا كان يجب علينا فحص حياة وسلوك رعاتنا ، فسوف نكون نحن الآمرين لهم ، وعلى هذا نصبح في وضع غير منظم ، الأقدام فوق والرأس تحت . اسمعوا ما يقوله القديس بولس : &#8221; وأما أنا فأقل شيء عندى أن يحكم في منكم أو من يوم بشر بل لست أحكم من نفسى أيضاً &#8221; (١كو ٤: ٣) ، وأيضاً &#8221; أما أنت فلماذا تدين أخاك (رو ١٤ : ١٠) ، إذا كان ممنوع عليك أن تدين أخاك فعلى الأقل لا تدين الكاهن .</p>
<p>لقد ثار قورح وداثان وأبيرام ومن ناصرهم ضد هارون وابتلعتهم الأرض . ليتهم كل شخص بما يخصه  ، إذا كان أحد ما يسئ للعقيدة لا تسمعونه ولو كان ملاكاً . إذا كان أحد يعلم طبقاً للأرثوذكسية ، لا تهتموا بحياته بل فقط بكلامه . اتخذوا القديس بولس موجهاً لكم في الخير بأمثاله وأحاديثه وتعاليمه .</p>
<p>&#8211;       وسوف تقولون وإذا كان الكاهن لا يعطى للفقراء وإدارته رديئه ؟</p>
<p>&#8211;       من أين علمت بذلك</p>
<p>لا تتهم أحداً قبل أن تتأكد أخش الحساب الذى سوف تقدمه .</p>
<p>لا تحكم بناء على شكوك بسيطه . قلدوا معلمكم ، اسمعوا ماذا يقول : &#8221; أنزل وأرى هلم فعلوا بالتمام حسب صراخها الآتى إلى وإلا فأعلم &#8221; (تك ١٨ : ٢١ و ٢٢) ، إذا كنت متعلماً وخبيراً وشاهد للوقائع ، فلتنتظر حكم الديان ، لاتأخذ دور يسوع المسيح ، لأنه هو المختص بالفحص  وليس أنت . أنت لست سوى عبداً وليس سيداً . أنت أحد خراف القطيع . اذا كنت لا تريد أن تقدم حساباً عن الاتهامات  التي وجهتها له فلا تفحصه بدقة وتدينه .</p>
<p>سوف تقول لماذا يأمرنى بما لا يعمله هو ؟</p>
<p>ليس هو الذى يأمر بل يسوع المسيح ، قلو كانت طاعتك له فلن تكون لك مكافأة .</p>
<p>ماذا أقول ؟ هل كان ممكناً عدم طاعة أوامر الرسول التي كان قد تلقاها من رئيسه ؟ طاعة الرسول واجبة لأن أوامر تحمل تعاليم المسيح المتكلم على فمه</p>
<p>لا يدين أحدنا الآخر ، ليمتحن كل واحد حياته الخاصة ويحاسب نفسه . سوف تقول أنه يجب أن يكون أفضل منى .</p>
<p>لماذا ؟</p>
<p>لأنه كاهن</p>
<p>هل تجسر أيضاً على القول أنه ليس عنده مشغوليات ، ومخاطر ومحاربات يوميه وهموم شاقة أكثر منك . بكل هذا كيف تجسر على القول بأنه ليس أفضل منك ؟</p>
<p>وإذا كان ليس أفضل منك ، هل هذا يكون سبباً لخسارتك ؟ هذه الكلمات تنبع من كبرياء مجنون ، من أين تعلم أنه ليس أفضل منك ؟ سوف تقول : وإذا كان يسرق ويسلب الكنيسة ؟</p>
<p>من أين تعلم هذا أيها الإنسان ؟ لماذا تلقى بنفسك في الهاوية ؟ هذه العبارات لا تمر دون أن يقدم عنها حساب . اسمع ما يقوله السيد المسيغ : &#8221; ولكن أقول لكم إن كل كلمة بطاله يتكلم بها الناس سوف يعطون عنها حسابا ًيوم الدين &#8221; (مت ١٢: ٣٦) . هل هذا الفكر نابع عن الكبرياء ألا يجعلك تئن وتضرب على صدرك ، وتخفض عينيك ، ولا تقلد الفريسى ؟ إذا كان الأمر كذالك فأنت فقدت نفسك ، أفحص حقيقة نفسك أفضل من فحص هذا وذاك .</p>
<p>هل أنت أفضل ؟ اصمت إذا كنت تريد أن تحصل عل أفضليتك ، إذا تكلمت فقد كل شيء . وإذا ظننت أنك أفضل . فأنت ليست هكذا وإذا لم تعتقد ذلك فقد فعلت الكثير لتكون أفضل .وإذا كان الخاطئ خرج مبرراً لأنه أعترف بخطاياه ، فكم  بالأكثر يربح غير الخاطىء والذى يعتقد أنه خاطئ ؟</p>
<p>افحص حياتك ، أنت لا تسرق ، لكنك تسلب ، تغتصب بالقوة ، بل تعمل آلاف الأعمال من هذا النوع .</p>
<p>لا أقول هذا لأمدح السرقة ، أنا بعيد تماماً عن ذلك ، على العكس انه أمر محزن أن يكون مثل هؤلاء في إدارة الكنيسة ، وهذا ما لا اعتقده ، إذا أن سرقة الأشياء المقدسة جريمة من أبشع الجرائم . لا أريد أن تفقدوا ما بكم من فضائل بسبب إدانتكم للآخرين .</p>
<p>هل يوجد أسوأ من العشار ؟ هذا الذى قال عنه الإنجيل أنه كان بالحق عشاراً ومثل هذا يعاقب على أخطاء كثيرة . ومع ذلك عندما قال الفريسى : &#8221; أنا لست مثل هذا العشار &#8221; فقد في الحال كل استحقاقه . وأنت إذا قلت إنى لا أسرق الأشياء المقدسة مثل الكاهن ، فكيف لا تفقد كل ما تستحقه ؟</p>
<p>إذاً كنت أقول ذلك، وأجد نفسى مجبراً أن ألح عليك ، فليس لأن هؤلاء يثيرون اهتمامى ، بل الذى أخشاه هو أن تفقد ثمرة فضيلتك بتمجيدك لنفسك ومحاسبتك للآخرين . اسمع هذه النصيحة للقديس بولس : &#8221; ولكن ليمتحن كل واحد عمله وحينئذ يكون له الفخر من جهة نفسه فقط لا من جهة غيره &#8221; (غلا ٦ :٤) .</p>
<p>٣-ذبيحة الإفخارستيا لا تعتمد على من يقدمها</p>
<p>إنى أوجه لك سؤالاً : عندما يصيبك جرح وتتوجه للطبيب  ، هل تهمل استعمال العلاج وتضميد جرحك ، وتنشغل في معرفة ما إذا كان الطبيب به جرح من عدمه ؟ وإذا وجد به جرح هل تقلق ؟ وهل لأجل هذا تهمل جرحك ؟ هل تقول : لا يصح أن يكون الطبيب مريضاً؟ ومادام الطبيب يحمل مرضاً  ، فسأقول أنا أيضاً جرحى بدون علاج .</p>
<p>هل إثم الكاهن يتيح للمؤمن أن يتخذ من هذا الإثم عذرا ؟</p>
<p>قطعاً لا . بل شك فإن الكاهن الخاطئ سوف يقاسى من العقاب بقدر إثمه ، وأنت أيضاً سوف تعاقب بالعقوبه التي تستحقها فضلاً عن أن المعلم يحسب دائماً في عداد الصالحين . إنه مكتوب في الأنبياء ويكون الجميع متعلمين من الله (يو ٦: ٤٥)  ، &#8221; ولا يعلمون بعد كل واحد صاحبه وكل واحد أخاه قائلين اعرفوا الرب لأنهم كلهم سيعرفوننى من ضغيرهم إلى كبيرهم (إر ٣١ : ٣٤) سوف تقولون لماذا يجعل من نفسه رئيسا ً ؟ لماذا يشغل هذا المكان ؟</p>
<p>ارجوكم لنكف عن إدانة رعاتنا . وإذا كنا نريد ألا نسئ لأنفسنا علينا ألا نفحص أعمالنا ، لنفحص أنفسنا ، ولا نتكلم رديئاً عن أي إنسان . لنتذكر باحترام ووقار هذا اليوم الذى ننال فيه سر المعمودية بواسطتة . ومهما كان رذائل الأب على الأبن أن يعالجها بحكمة بدون أن يشهر به : يقول الحكيم &#8221; لا تفتخر بهوان أبيك فإن هوان أبيك ليس فخراً لك ( يشوع بن سيراخ ٣ : ١٢ ) . حتى لو كان ينقصه الحذر كن أنت متسامحاً إذا. قيلت هذه الكلمات عن الآباء بالطبيعة فبالأولى تقال عن الأباء بالنعمة . احترم الذين يعمل يومياً لخدمتك لأجل يقرأ الكتب  لأجلك يزين بيت الله لأجلك يسهر ويصلى من أجلك ينسكب أمام الله  متوسلا لكى يهئ لك المقدسات . احترمه متذكراً هذه الحسنات . لا تقترب منه إلا بوقار .</p>
<p>حدثنى : هل هو رديء ؟ ما الذى يهمك في ذلك . هو يجب ألا يكون رديئا ً لكى يوزع عليك أكبر النعم ؟</p>
<p>قطعاً لا . فكل شيء يجرى طبقاً لإيمانك ، الإنسان الصالح لا يفيدك بشئ إن كنت غير مؤمن . والإنسان الشرير لا يضرك قط إن كنت مؤمناً</p>
<p>هل هي حياة الكاهن : هل فضيلتة هي التي تجرى خلاصنا</p>
<p>الهبات التي أعطانا الله إياها ليست من طبيعة تتواجد بفضيلة الكهنة . كل شيء يأتي بالنعمة. الكاهن  ما عليه إلا أن يفتح فمه ، ويضع أعضاءه بين يدى الله ويمارس الأسرار المقدسة والله هو الذى يجرى تأملوا الفارق الكبير بين يدى يوحنا المعمدان ويسوع المسيح : يوحنا قال  &#8221; أنا محتاج أن أعتمد منك  (مت ٣: ١٤ ، يو ١ : ٢٧) . وبرغم هذا الفارق الكبير نزل الروح القدس على يسوع أثناء عماد يوحنا له ، مع إن يوحنا لم يكن قد اعد  نفسه  لنزول الروح القدس قال الوحى الإلهى : &#8221; ومن ملئه نحن جميعاً أخذنا &#8221; (يو ١: ١٦) . ومع ذلك الروح القدس لم ينزل قبل العماد وليس يوحنا هو الذى جعله ينزل .</p>
<p>أريد أن أقول شيئاً ربما يظهر أنه غير قابل للتصديق ، ولكن لا تندهشوا ولا ترتبكوا  قط . التقدمه هي ، هي نفسها التي أعطاها يسوع قديماً لتلاميذه هي نفسها التي يحتفل بها الكهنه اليوم  . هذه ليست أقل منها ، لأنه ليس الإنسان هو الذى يقدم بتقديمها ، بل الذى قدس الأولى هو الذى يقدس الثانية . الأقوال التي نطق بها الله وقتذاك هي نفسها التي ينطق بها الكهنة الأن فالتقدمة هي نفسها . فكل شيء يتوقف عن الإيمان . الروح القدس نزل في الحال على كرنيليوس قائد المئة لأنه أعلم إيمانه . إذاً جسد يسوع المسيح الآن هو هو كما كان وقتئذ ومن يتصور غير ذلك لا يعلم أن المسيح مازال حاضراً وأنه دائما ً هو الذى يجرى . ما دمتم تعرفون هذه الأمور ، وأنا لا أقولها دون باعث ، بل لأجل إصلاحكم من أخطائكم ، ولكى تصبحوا أكثر حذراً في المستقبل ، فأرجوا أن تلاحظوا أقوالى بعناية . إذا كنا نسر بالاستماع دون تطبيق ، لا نخرج بأية فائدة من الوعظ أعطوا انتباهاً كاملاً ويقظاً جداً لكلمة الله ، لننقشها على قلوبنا ، لنحفظها دائما ً مطبوعة في ضمائرنا . ولا نكف أبداً عن تمجيد الآب ، والأبن والروح القدس آمين<a href="#_ftn4" name="_ftnref4">[4]</a> .</p>
<h4>القديس غريغوريوس النيسي</h4>
<p><strong>رمز الملابس الكهنوتية</strong></p>
<p>أن عينى موسى النبى حين تطهرت وصعدت بالتأمل الى فوق وارتفعت الى فهم الحقيقة الروحية للأشياء العالية وفهم معنى الملابس الكهنوتيه التى هى القميص والمنطقة والجبة والرداء والصدرة والأوريم والتميم والعمامة وكان يوضع على الصدرة الأحجار الكريمة موضوعة فى أربع صفوف فى كل منها ثلاثة . منقوش على الأحجار اسماء اسباط اسرائيل الأثنى عشر . وكان يوجد بأذيال الجبة رمانات وجلاجل .  والآن نحن ننظر الى معنى هذه الملابس التى ترمز الى الحكم والقضاء والحق لأن النص المقدس لا يقصد الملابس فى ذاتها ولكن يقصد زينة الروح المشتملة على ممارسات الفضيلة المختلفة . الجبة لونها أزرق وهذا اللون يرمز الى السماء والهواء وهى تشير الى الانسان الذى يريد أن يكرس نفسة لله يجب أن يقدم جسده &#8221; ذبيحة حية مقدسة مرضية عند الله عبادتكم العقلية &#8221; (رو١٢: ١) . ويجب ألا يحيا حسب الجسد والحواس بل كل سلوك حياته خفيفة مثل نسيج العنكبوت عن طريق طهارة أعماله . وعندما يسلك الانسان فى الطهارة يستطيع أن يلبى دعوة الانطلاق حين يسمع البوق الأخير ولا يكون هناك أى ثقل أو عائق عقبة أن يحمل فى الهواء لكى يكون مع الرب . هذا هو الانسان الذى يتفق سلوكه مع قول المرنم &#8221; لأنى أنا غريب عندك . نزيل مثل جميع أبائى &#8221; (مز٣٩: ١٢) . أما لبس الجبة التى تستر الجسم من الرأس الى القدم فهى تشير الى كمال الفضيلة فى حياة الانسان وخلوة من أى رزيلة . أما الأجراس الذهبية ( الجلاجل الذهبية ) فهى تشير الى لمعان الأعمال الجيدة ، لأن الفضيلة الكاملة تحتوى على شيئين أولهما الايمان فى الله وثانيهما ممارسة السلوك الجيد حسب الضمير النقى وهكذا يقول بولس الرسول لتلميذه تيموثاوس &#8221; ولك ايمان وضمير صالح &#8220;(تيمو١: ١٩) فالايمان يجب أن يكون قويا وواضحا وسلوكنا يجب أن يكون مملوءا بالثمر وحياتنا يجب أن تشبه ثمر الرمان لأنه مكسو بالخارج بقشرة جامدة مرة لا تؤكل ومن الداخل ثمرة حلوة لذيذة فى الأكل وشهية للنظر وهكذا فان حياة الحكمة مرة وصعبة ولا تتلذذ بها الحواس ولكنها مملوءة أثمارا حين نتوقعها ونمارسها فى وقت الثمر وكما يقول الرسول بولس &#8221; ولكن كل تأديب فى الحاضر لا يرى أنه للفرح بل للحزن . وأما أخيرا فيعطى الذين يتدربون به ثمر بر للسلام &#8221; (عب١٢: ١١) . والرمانات المتدلية من الجبة تشير الى الزينة الخارجية التى هى اكمال الوصايا وهكذا فان بولس الرسول قد يشير ببشارة الانجيل مجانا قائلا &#8221; فى جوع وعطش وعرى &#8221; هذه الزينة الموضوعة على ملابس الكهنة التى تعطى جمالا أكثر للجبة التى هى ممارسة الوصايا. أما الرداء الذى كان يسمى الأفود وكان يصنع من ذهب واسمانجونى وارجوان وقرمز وكتان أبيض نقى وكان يشد بزنار من مواد الرداء وكان لهذا الرداء كتفان موصلان وكان الجزءان الأمامى والخلفى لهذا الرداء متصلين بواسطة أجزاء الاكتاف هذه وفى كل منها حجر جزع ثمين محاط بطوق من ذهب ومنقوش عليها اسماء أسباط اسرائيل الاثنى عشر (خر٣٩). أن ألوان الرداء كانت تجعل الحجر الذى على كل كتف يتلألأ بجمال ملحوظ جدا . ان الجزء الأمامى لهذا الرداء يرمو اللى الانسان الداخلى المملوء بالفضائل المختلفة. أما اللون الأزرق المخلوط بالبنفسجى فهو يشير الى الرهبة الملوكية الممتزجة بطهارة الحياة.أما اللون القرمزى الممزوج بالكتان الأبيض فهو يرمز الى الطهارة البيضاء التى فى حياتنا الممتزجة باللون الأحمر الذى هو اتضاع البذل أما الذهب الموجود فى وسط الألوان كلها فهو يرمز الى الكنز المخفى المملوء بالحياة أما أسماء الاسباط الأثنى عشر المحفورة على هذين الحجرين فهى تشير الى المرشدين الذين سبقونا وهم مثل لحياتنا وسلوكنا .  وكانت الصدرة تثبت فى كتفى الرداء ومتصلة به عن طريق سلاسل ذهبية لا تنزع منه أبدا كانت عليها أحجار كريمة موضوعة فى أربع صفوف فى كل منها ثلاثة ومنقوش على الأحجار أسماء أسباط اسرائيل وكانت هذه الأحجار الكريمة مختلفة ولا يتشابه أى منها مع الآخر بل كل حجر له لمعان خاص به . أما الكتفان اللذان يصلان الرداء من الأمام والخلف منها يشيران الى السلاح ذى الحدين الذى نستخدمه ضد عدونا لأنه كما قلنا أن الفضيلة تعمل فى اتجاهين مختلفين أولهما الايمان وثانيهما السلوك وفقا لضميرنا ونحن هنا ننمى أنفسنا فى كلا الاتجاهين ولا يمسنا العدو بتجاربه ونحن لابسين درع الايمان &#8221; فى كلام الحق فى قوة الله بسلاح البر لليمين واليسار&#8221; (٢كو٦: ٧) لأن الكتف يشير الى موضع القوة . أما الحجران الثمينان الموضوعان فى الرداء والمحفور عليهما اسماء اسباط اسرائيل الاثنى عشر واللذان كانا يربطان الاكتاف بالرداء فهما يرمزان الى الحجاب الذى يحمى القلب من سهام العدو عندما يتحصن بفضائل الآباء . وكل حجر يتلألأ بلمعان خاص على الملابس يشير الى الفضيلة بأنواعها المختلفة .  أما السلاسل الذهبية التى كانت مثبتة فى كتفى الرداء فهى تشير الى أن حياة الكمال يجب أن تشمل الممارسة العملية لأن القلب هو مركز التأمل أما الكتفان اللذان هما اليدان فهما رمزان للسلوك والعمل .  أما التاج الذى كان يزين الرأس فهو يرمز الى الأكليل المعد للذين عاشوا حياة الفضيلة والجهاد وهذا التاج كان مزينا بحروف سرية منقوشة بالذهب المصفح تكون عبارة ( قدس للرب ) .ولم يكن الكاهن يلبس صندلا لكى لا يكون هناك أى عائق فى خدمته أو حركته . والصندل يشير الى العلاقة بالعالم الذى هو التراب<a href="#_ftn5" name="_ftnref5">[5]</a>.</p>
<h4>العلَّامة أوريجانوس</h4>
<p><strong>الكاهن الحقيقي </strong></p>
<p>تأمل أن الكاهن الحقيقي هو الرب يسوع المسيح (عب ٤ : ١٤) الحامل الجسد كمن يقضي عامًا كاملًا مع شعبه، إذ يقول بنفسه: &#8220;روح السيد الرب عليّ لأن الرب مسحني لأبشر المساكين، أرسلني لأعصب منكسري القلب، لأنادي المسبيين بالعتق وللمأسورين بالإطلاق، لأنادي بسنة مقبولة للرب&#8221; (إش ٦١ : ١ &#8211; ٢). في هذه السنة دخل في يوم الكفارة مرة واحدة إلى قدس الأقداس (خر ٣٠ : ١٠) عندما أكمل رسالته وصعد إلى السموات (عب ٤ : ١٤) عن يمين الآب، لحساب الجنس البشري، يشفع في كل المؤمنين به. يتحدث الرسول يوحنا عن هذه الكفارة التي لحساب البشر فيقول: &#8220;يا أولادي أكتب إليكم هذا لكي لا تخطئوا، وإن أخطأ أحد فلنا شفيع عند الآب يسوع المسيح البار وهو كفارة لخطايانا&#8221; (١يو ٢ : ١ &#8211; ٢). ويعلن القديس بولس الرسول أيضًا عن هذه الكفارة بقوله عن المسيح: &#8220;الذي قدمه الله كفارة بالإيمان بدمه لإظهار بره&#8221; (رو ٣ : ٢٥).</p>
<p>إذ يمتد يوم الكفارة حتى الغروب، أي حتى نهاية العالم، نقف أمام الباب ننتظر كاهننا الذي تأخر داخل قدس الأقداس، أي أمام الآب (١يو ٢ : ١ &#8211; ٢) يشفع في خطايا الذين ينتظرونه (عب ٩ : ٢٨). لكنه لا يشفع في خطايا الجميع، إذ لا يشفع فمن هم من طرف التيس المرسل في البرية (لا ١٦ : ٩ &#8211; ١٠) بل الذين هم من طرف الرب وحدهم، الذين ينتظرونه أما الباب، لا يفارقون الهيكل عابدين بأصوام وطلبات ليلًا ونهارًا (لو ٢ : ٣٧).</p>
<p>أتظن أنك وأنت تأتي إلى الكنيسة في يوم العيد بكل أناقة (وترف) دون الإصغاء إلى الصوت الإلهي ولا مراعاة لوصاياه أنك من طرف الرب؟! إنيّ أود أن تسمعوا هذا وتجتهدوا لا في الإنصات لصوت الله في الكنيسة فحسب وإنما في ممارسة كلام الله في منازلكم، واللهج في ناموس الرب ليلًا ونهارًا (مز ١ : ٢)… هذا هو بالحق الانتظار أمام باب الكاهن الذي يتأخر داخل قدس الأقداس، به نُحسب من نصيب الرب<a href="#_ftn6" name="_ftnref6">[6]</a>.</p>
<h3> عظات آباء وخدام معاصرين</h3>
<h4>المتنيح الأنبا صموئيل أسقف الخدمات العامة والإجتماعية</h4>
<p>الكاهن … طبيب بارع</p>
<p>حقاً ان الكاهن طبيب بارع ؟!</p>
<p>وإذا كان ذلك هو شأنه فأيه أمزاض يستطيع أن يشخصها ؟</p>
<p>وأية أدوية يمكن أن يصفها ؟!</p>
<p>وأيه جروح لديه القدرة على علاجها ؟ !</p>
<p>قال صاحبي  وهو أحد الخدام القدامى  والدموع تنساب على وجهه, لم أكن أتوقع أن يسرع المرض إلى عروسي وشريكة حياتي . بل كنت أتوقع السعادة التي لا يعكر صفوها مرض أو سقم . نعم لم أكن أتوقع ذلك لأنى أشعر أننى خادم الرب منذ مدة طويلة  إنها ليست تجربة عادية ، ولكنها قصة مرض ظل أربعة شهور زارت خلالها عديدا من الأطباء حتى هدانا الله إلى طبيب يعرف الله ويقدر قيمة وسائط النعمة مع عمل الإنسان . كان هذا الطبيب رجلا تقيا يعرف قيمة صلاة الكاهن وأثرها في شفاء النفس والجسد معا . وكان يؤمن بأن عمله كطبيب يحتاج إلى مشاركة طبيب آخر رتبه الله ورسم له الطريق نعم رسم له طريق شفاء الناس في صلاة وطقس يتم به سر من أسرار الكنيسة السبعة وهو &#8220;سر مسحة المرضى &#8220;.</p>
<p>ابتدرني الطبيب بقوله : لقد جربنا أدوية كثيرة ولكن ينقصك دواء آخر . فقلت له على الفور : وما هو لأشتريه حالا ؟ فقال : إنه صلاة مسحة المرضى .. هل قمت بها ؟ فتعجبت من ذلك ، وبسرعة أجبت : إننا لا نقيمها إلا في الصوم الكبير وبالتحديد في الأسبوع الخامس منه . وهنا ربت الرجل التقى على كتفى وقال : ألم تقرأ ما قاله معلمنا يعقوب الرسول &#8221; أمريض أحد بينكم فليدع قسوس الكنيسة فيصلوا عليه ويدهنوه بزيت باسم الرب ، وصلاة الإيمان تشفى المريض والرب يقيمه وإن كان قد فعل خطيئة تغفر له &#8230;. &#8221;</p>
<p>ومضت لحظة قصيرة لمس الطبيب في وجهي علامات التعجب فلم يقابلها إلا بابتسامته الرقيقة التي ما لبثت أن انفرجت عن ضحكة طويلة حين سألته : وما علاقة هذا الذي تقوله بمرض عروسي ؟ أنا أفهم أن معلمنا يعقوب ربما يقصد من هذا الكلام بعض الأمراض الخفيفة ، أو ربما بعض الأمراض النفسية !!</p>
<p>غيرأن الطبيب ما لبث أن أجابني : لابد أن نقرأ باقى الاصحاح  أنظر ماذا يقول لمن يشك في هذا الأمر&#8221;كان إيليا إنسانا مثلنا تحت الآلام وصلى صلاة أن لا تمطر فلم تمطر على الأرض ثلاث سنين وستة أشهر ، ثم صلى أيضا فأعطت السماء مطرا وأخرجت الأرض ثمرها&#8221; .</p>
<p>ومضى صاحبى يقول &#8220;كم كان الحديث مشوقا ، فتح الرجاء أمامي لألمس عمل النعمة في أبناء النور الذين ينقصهم أن يذوقوا حلاوة العشرة مع الله بدلا من الوقوف على عتبة المسيحية والاكتفاء بحفظ بعض الآيات ، أو القراءة دون الممارسة العملية .</p>
<p>وأسرعت إلى أبي الكاهن أعرض عليه الأمر وأطلب صلاته ومعونته  وكم كان كاهناً مثالياً حين أعطانى من وقته فترة ، أحضر فيها كتاب صلاة مسحة المرضى ، وجلس يشرح لى هذا السر العظيم الذي يهب الله بواسطته نعمة الشفاء الكامل المريض على يد الكاهن وتحت مادة منظورة هي الزيت المقدس .</p>
<p>وكان شغفي بالحديث مبعث عديد من الأسئلة أخذت أوجهها لأبي الكاهن لعل أهمها : هل نكتفى يا بي بهذه الصلاة ولا داعى لاستشارة الطبيب ؟</p>
<p>فقال الكاهن : لا يا بني . . إننا لا ينبغي أن نفعل هذا ونترك ذاك لأن الطبيب سبب من أسباب الشفاء  هو وسيلة ، والدواء وسيلة ، والصلاة وسيلة ، والكاهن أيضا وسيلة &#8211; فليس الغارس شيئا ولا الساقي شيئا ولكن الله الذي ينمى .</p>
<p>وأخذ الكاهن يشرح لى بعض صلوات مسحة المرضى وكم تأملت في كلمات هذه الصلوات ومنها صلاة أوشية المرضى التي يقول فيها :</p>
<p>&#8221; تعهدهم بالمراحم ان والرأفات أشفهم . انزع عنهم وعنا كل مرض وكل سقم وروح الأمراض أطرده ، والذين أبطأوا مطروحين في الأمراض أقمهم وعزهم . . . رجاء من ليس له رجاء ومعين من ليس له معين . عزاء صغيري القلوب ميناء الذين في العاصف . . . ونحن . أيضاً يارب أمراض نفوسنا أشفها والتي لأجسادنا عافها أيها الطبيب الحقيقى الذى لأنفسنا وأجسادنا يا مدبر كل جسد تعهدنا بخلاصك&#8221; .</p>
<p>وما أحلى هذه الطلبات ، وما أعذب كلماتها على النفس المريضة والجسد العليل . هذه التي يرددها الكاهن مع كل صلاة من صلوات مسحة المرضى .</p>
<p>أعطيت نعمتك أيها المتأنى على أيدى رسلك الأطهار يا محب البشر لكى يشفوا بمسحتك المقدسة كل ضربات وكل أسقام الآتين اليك وإلى مواهبك بأمانة . فالآن أيضا طهرنا بيمينك من كل مرض واجعلنا مستحقين بصلاحك لفرحك غير الفاني وارشم الآتين اليك بأمانة ليكون لهم خلاص ونجاة من الأمراض النفسية والجسمانية عندما تدهنهم كهنتك كما قلت على فم يعقوب تلميذك . أنت يارب من البدء بغصن الزيتون قد أظهرت أنه قد مضى الطوفان و بمسرتك المقدسة وبإسمك أيها الرؤوف الرحيم خاص عبدك ( فلان ) المؤمن باسمك بشفاعة العذراء أم الخلاص ( كيرياليسون ) .</p>
<p>&#8230; اشف يارب أنفسنا وأجسادنا برشمك الإلهي ويدك العالية لأنك ربنا كلنا بشفاعة العذراء أم الخلاص (كيريا ليسون ) .</p>
<p>&#8221; من أجل السلامة العالية من الرب نطلب &#8221; (كبير يا ليسون ) .</p>
<p>&#8221; من أجل تقديس هذا الزيت من الرب نطلب &#8221; (كيريا ليسون ) .</p>
<p>&#8221; من أجل عبدك ( فلان ) منك أيها الرب نطلب &#8221; (كيرياليسون ) .</p>
<p>&#8220;أيها الرب الرؤوف المتحنن أعلن رحمتك لكل أحد. وأظهر قوتك في خلاص الآتين إلى مسحة كهنتك بأمانة وأشفهم بنعمتك . وكل الذين سقطوا في الأوجاع أنقذهم من سهام العدو ومضايقة الأفكار وآلام الجسد ، وسائر المكروهات الخفية والظاهرة بشفاعة والدة الإله وسؤال الملائكة ودم الشهداء . وطلبات القديسين ورؤساء الآباء ومصاف الشهداء نسألك يارب من أجل عبدك ( فلان ) لكى تحل عليه بنعمة روح قدسك وطهره من جمع خطاياه . وأغفر له جميع زلاته وخلصه ونجيه من كل شدة ، وخلصنا كلنا من الشر والشرير آمين &#8221; .</p>
<p>ويحلق بك الكاهن في صلوات مسحة المرضى . فهذا السلطان الكبير الذي أعطى له أن يشفى المرضى وأن يطهر البرص وأن يخرج الشياطين .</p>
<p>وتنقلنا صلاة مسحة المرضى بين القراءات الانجيلية عن الشفاء وسلطان الكهنوت فيه وكذلك الطلبات من أجل أمراض النفس والجسد معا ، ويختم هذا كله برشم المريض بالزيت &#8221; وصلاة الإيمان تشفى المريض والرب يقيمه&#8221; .</p>
<p>خبرة لا تنسى :</p>
<p>و خرج صاحبى من هذه التجربة أو  الخبرة إن شئت أن تسميها  وقد زاد إيمانا و نمواً . لقد شفيت عروسه وانفرجت أساريره وعرف أن الله لابد أن يكون له مكان في المرض أيضا كما له في الصحة وعرف أن الله يعطى الكاهن سلطانا ليتم أسراره المقدسة التي يحصل فيها المؤمن على نعمة غير منظورة تحت مادة منظورة .</p>
<p>نعم هناك أمراض النفس والجسد وللكاهن سلطان أن يصنع الشفاء بقوة الروح القدس الذي يطرد كل روح شريرة .</p>
<p>ويستطيع الكاهن أن يصف الأدوية الروحية التي تبعث السلام الذي يفوق كل عقل في قلب المريض فإذ بجسده يهدأ و نفسه وروحه تسكن على رجاء .</p>
<p>ويستطيع الكاهن أن يستجلب العزاء إلى النفوس التي جرحها المرض والحزن والكآبة والتنهد ووجع القلب .</p>
<p>ويستطيع أن يضع النور أمام كل نفس مريضة لترى الطريق والحق والحياة .</p>
<p><a href="#_ftn7" name="_ftnref7">[7]</a> نعم يستطيع كل شيء في المسيح يسوع الذي يقويه .</p>
<h4>المتنيح الأنبا كيرلس مطران ميلانو</h4>
<h4>يا وكيل الأسرار</h4>
<p>رأيتك وأنت تمارس الأسرار.. رأيت اتضاعك.. ووداعتك.. وبسمتك.. جمالك. وأدركت أنهما سر جمالك .</p>
<p>أنت وكيل للأسرار الإلهية المقدسة .. وتعمقك في أعماقها وانشغالك بها يظهر عليك سراً آخر .. هو سر هيبتك ..</p>
<p>أنت تمارس كل سر على حده .. . وفي كل سر تتكلم سرأ وتهمس في أذن الذي منحك الأسرار لتمارسها .. تُرى ماذا تطلب منه ؟ ! .. تُري ماذا تريد ؟!</p>
<p>العجيب والمدهش .. أن الأسرار التي تمارسها .. الكل يراها .. والكل يشاهدها عن قرب .. لكن أنت وحدك الذي تقدر أن تفتح أعماقها بكلمات سرية ..</p>
<p>أنت وحدك الذي لك أن تتجرأ وتدخل بقلبك إلى قلب أعماقها .. وهناك تطرح ذبائح توسلات روحك المنسحقة .. وعند خروجك من الأعماق يراك اولادك &#8221; خارجاً معطراً من عند الذي تحبه نفسك &#8221; (نش ٣ : ٦) .</p>
<p>رأيتك .. وسمعتك عندما تصلي طقس سر المعمودية .. ثم نظرتك فجأة صامتاً .. ثم منطرحاً على جرن المعمودية .. فسألت أين ذهبت يا أبي ؟! ولماذا انخفض صوتك ؟! ومع من أنت تهمس ؟! وترى ماذا تقول .. ؟ !</p>
<p>اسمح لي .. ودعني أقول لأبنائك أين ذهبت ؟! وماذا قلت ؟!</p>
<p>أمام جرن المعمودية .. أنت سجدت وانطرحت .. وهناك انطلقت نفسك تحمل صلاتك المنسحقة .. وفي أذن واضع الأسرار صرخت قائلاً..&#8221; يا رب لا يرجعن المذلول من عندك خازياً.. كن لي غافراً .. وامنحني أن أجد نعمة لكي أتمم خدمة هذا السر ..&#8221; .</p>
<p>أنت واقف معنا .. ولكنك تغوص في أعماق الأسرار وحدك وتدخلها بأمانتك ..</p>
<p>أعماقك ترى أعماق الأسرار .. وأعماق الأسرار .. لا يقدر أن يتصورها عقل .. ولا يقدر أن يشبع من التلذذ بها ..</p>
<p>سألت نفسي ؟! عن سر شبعك ؟ ! .. رأيت الذي أنت تلتقي به كل يوم في كل الأسرار .. هو الذي يعطي المتوكلين عليه من كل قلوبهم الأشياء التي تشتهي أن تراها الملائكة ..</p>
<p>من مثلك يحيا في الشبع .. لأنك دائماً مع الله الغنى بنفسه .. القدوس ..القدير .. المقتدر في كافة أعماله ..</p>
<p>سألت عن سر قناعتك ؟! رأيتك واقفاً أمام الله العالم بكل شيء .. الجزيل الصلاح .. هو لا يعوزك لشيء .. هو يعطيك أكثر مما تسأل .. وقبل أن تطلب ..</p>
<p>طوباك يا وكيل الأسرار .. لأنك تتمتع بالله الحاضر معك في كل الأسرار .. هو الذي يتكلم في الأسرار وانت تسمعه .. وفي الأسرار أنت أيضاً تهمس في أذنه بالصلوات .. وهو يسمعك ..</p>
<p>طوباك .. لأنك إناء مختار من قبل الله .. هو يعمل فيك وبك ..</p>
<p>أنت إناء للرب بك يطعم ويسقي .. ويروي ويغسل وينقي ويطهر .. ويقدس .. ويشعل .. ويشفي .. ويبارك ..</p>
<p>طوباك يا وكيل الأسرار .. لأن الله قبل أن يعمل بك هو يعمل فيك أولا .. فالأسرار وضعها كأنية في يديك .. فصرت حاملاً لآنية الرب .. وهو يطلب من حامليها أن يتنقوا ( أش ٥٢ : ١١ ) دائماً ..</p>
<p>من الذي سقى الرعية الناطقة هذه التعاليم السامية ألست أنت أيها الإناء المختار ؟!</p>
<p>من الذي روى الرعية وعلمها بأن الحواس هي آنية للرب .. وعلي الرعية كلها أن تتقدس لأنها حاملة لآنية الرب .. ألست أنت ؟! من مثلك .. لأن معرفتك بواضع الأسرار جعلتك تشتاق أن تعطي قلبك بالكامل لله .. وجعلتك ترجو من الناس أن يسمعوا قول السيد الرب &#8221; يا ابني أعطني قلبك &#8221; (أم ٢٣) .. أنت الذي عرفتهم بأن القلب لا يقبل من القسمة على إثنين ..</p>
<p>الساكن في الأعالي هو الذي منحك هذه النعمة التي أنت فيها .. وأنت دائماً تحكي لنا عن الأبدية المفرحة المعدة لأولاد الله .. ومن كلامك نحن نشتاق .. فكم تكون اشتياقاتك لها ؟!</p>
<p>اقترابك المستمر من أولادك لكي لا يهلك منهم أحد كشف لك كيف تتعمر النفس ؟! وكيف تُدمر ؟ ! .. كشف لك كيف تعمل الوصية في النفس ؟! كيف يبني الإنسان حياته على الصخر ؟! وكيف يعمرها ؟! وكيف يزينها بالفضيلة ؟!</p>
<p>أنت تنادي الكل لكي يتمسكوا بالوصية التي في الأسرار المقدسة لكي ينجو من أمراض البخل والأنانية والشك وتذكر الشرور هذه التي تدمر النفس وتهلكها ..</p>
<p>من مثلك .. وأنت تتفرس في الله الساكن في الأسرار ومؤسسها .. ترى بابه مفتوحاً لكل من يقبل إليه .. وترى يمينه مبسوطة لمن يريد أن يأخذ .. ها أنت تتشبه بخالقك لذا باب قلبك مفتوح للكل .. ويدك سخية للعطاء ..</p>
<p>من مثلك كل يوم تزداد خبرته في الحياة العملية .. بأن محبة العالم خدعت كثيرين .. لأنك لمست ورأيت كم من الناس كانوا يهتمون ويبنون .. ولكنهم لم يسكنوا .. كم من الناس جمعوا .. وغيرهم بددوها .. خبرتك جعلتك تعلم بأعمالك .. وأعمالك هي انشغالك بالخير للغير .. والذين يعملون مثلك يقتنون الأبدية..<a href="#_ftn8" name="_ftnref8">[8]</a></p>
<h4>المتنيح الأنبا بيمن أسقف ملوي</h4>
<p><strong>المسيح رئيس کهنتنا الأعظم</strong></p>
<p>.نود بمشيئة الرب أن نتابع في سلسة من المقالات ألقاب ووظائف الرب يسوع مركزين على الجوانب اللاهوتية والروحية التيتفيدنا في حياتنا العملية .. وفي هذا المقال نعرض لوظيفة السيد الرب كرئيس كهنة وفاعلية هذا المركز العظيم في حياتنا</p>
<p>معنی کلمة كاهن</p>
<p>إن كلمة كاهن IEREVS &#8220;ایرفس &#8221; اليونانية تعني ناطق الحق،أو الرائي أو أي شخص له صلة بكلمة الله &#8221; Iruthrayer orseer &#8221; وهذا واضح جدا فيما يتعلق بالكهنوت اللاوي الملتزم بالمكان المقدس الخاص بكلمة الله ، فكل ما كان يفعله الكاهن من عمل شعائری ، إنما هو استجابة للكلمة المعطاة للكاهن الذي يحمل هذه الكلمة كوسيط للانسان.. وبهذه الصلة وحدها تجاه وظيفته الأصلية يحق له تأدية الوظائف الأخرى من تقدمات وذبائح .. وفي سفر الرؤيا عندما تكلم عن حبرنا الأعظم وصفه بأنه الأمين الشاهد الصادق(رؤ١٤:٣).</p>
<p>کهنوت العهد القديم:</p>
<p>يفهم هذا الكهنوت من منطلق وظيفة العهد فقط، ومن خلال الصلة المؤدية للخلاص بكلمة الله الفعالة التي أوجدها هذا العد لإسرائيل وبذلك أصبح اسرائيل في القديم مملكة كهنوتية وشعبا مقدسا لأنهم كما قال بولس الرسول &#8220;قد إستؤمنوا على أقوال الله &#8221; (رو ۲:٣) فلم تکن الخدمة الطقسية في العهدالقديم عملا بشريا ، بل إن الله نفسه هو الذي هيأ الذبيحة ،ولذلك توصف الخدمة كنها بأنها استجابة محددة لكلمة الله (خروج ۲۲:٢٥ ، عدد ۸۹:۷)ولم تكن للتقدمات والذبائح فاعلية فيحد ذاتها بل كانت فاعليتها مرتكزة على كونها إطاعة للأوامر الالهية ، فهي شهادة تؤدي في خيمة الشهادة  ومسكن العهد ،والكهنوت في العهد القديم في عمله المزدوج بوصفه وساطة لكلمة الله ، وشهادة لإرادته المستعلنة موضح تماما في حياة موسي وهارون فموسي رئيس كهنة تبدو وظيفته الشفاعية في استعطافة الله للعفو عن اسرائيل ، حتى أن اقتضى الأمر محو اسمه بالذات من كتاب الله وفي رفع يديه أمام الله عندما كان الشعب يحارب العماليق.. ومقابل موسی يقف هرون الكاهن الشعائري الذى يؤدی بلا انقطاع العبادات الشاهدة على الوساطة الممنوحة لموسي ، ويبدو هذا بأجلي وضوح في صعود هارون إلي قدس الأقداس مرة في السنة في يوم الكفارة، وإذ يأخذ من الله الكلام بتجديد العهد يعود من خلف الحجاب إلي الشعب المنتظر البركة واضعا إسم الله عليهم ومباركا إياهم (عد ٢٢:٦)</p>
<p>الصراع بين النبي والكاهن :</p>
<p>ولقد قام صراع منذ البداية بين النبي والكاهن ، بين الوساطة الكهنوتية لكلمة الله ، والشفاعة الكهنوتية بالذبائح .. لأن الجزء الثاني حاول التحررمن الأول..وتتضح هذه الحقيقة بصورة خاصة في حادثة العجل المسبوك التي أدت إلى قيام موسي بالشفاعة ، ثم تمرد هرون ومريم وتحديها موسي ، فعوقبت مريم بالبرص ، وغضب الرب على هرون ، فعاد موسي مرة أخرى للشفاعة من أجلهما . وفي كلتا الحالتين وضح أن استمرار الكهنوت الذبائحي الذي لهرون مرتكن على الكهنوت الشفاعى الذى لموسى الوسيط أمام الله وهذه المحاولة متكررة لجعل الكهنوت الذبائحی مستقلا بنفسه غير تابع لوساطة الكلمة، إنها مأساة اسرائيل عبر كل العصور والأجيال الرغبة في جعل الكهنوت الذبائحی مستقلا عن كلمة الله النبوية وهي تمثل أيضا ممارسة الأنسان لطقوس العبادة مع هربه من المقابلة المباشرة مع</p>
<p>الله الحي</p>
<p>الموقف في العهد القديم :</p>
<p>والذي عمله الله في العهد القديم إزاء هذا الإنحراف؟ أرسل لأنبياء ومعظمهم خارج من الكهنوت نفسه للإحتجاج علي تحويل الشعائر إلي إحتراف ووثنية وأشكال روتينية جافة جامدة. وكانت كلمات الله علي ألسنة الأنبياء قاسية.&#8221;أبغضت،كرهت أعيادكم، لست  ألتذ باعتكافاتكم، إني إذا قدمتم محرقاتكم وتقدماتكم لا أرتضي، وذبائح سلامة من مسمناتكم لا ألتفت إليها&#8221; (عاموس ٢١:٥) وكان إنذار الله دائما في العهد القديم أنه ما لم تفعل كلمة الله في كينونة إسرائيل بذاتها ، فالشهادة الكهنوتية للعبادة عنده سخرية وعمل مرفوض ربما أن الأنبياء لا يلقون غيرالتحقير والإضطهاد.فالله منذر أخيرا بخراب الهيكل وهدم الأمان الزائف لإسرائيل (أرميا ٧: ١) .</p>
<p>المسيح هو الكاهن والنبي معا :</p>
<p>هذا هوالموقف الذي ولد فيه يسوع المسيح .. صار ابن الله إنسانا ليتجمع فيه عمل الله الفدائي نحو الإنسان وطاعة الإنسان التامة لله (يو٥: ١٧- ٤٧ ) إنه الصورة الكاملة للعمل الإلهی ، الوحدة الكاملة بين الله والانسان ، كلمة الله المملؤة نعمة وحقا ، وشهادة الإنسان الكاملة لنعمة الله وحقه في آن واحد. جاء المسيح ليوبخ الكهنة والكتبة والفريسيين على الانفصام والثنائية الحادثة بين العمل الشعائري والعمل النبوي بينالخدمة الطقسية وطاعة الكلمة..جاء المسيح يجمع في نفسه الوظيفتين المباركتين ، ويحقق فيحياته العمل المزدوج . والرسالة إلى العبرانيين توضح بجلاء كيف أنه الكاهن الأعظم ، وكيف أنه الشفيع السماوي . يقول الكتاب « من ثم أيها الإخوة القدیسون شركاء الدعوة السماوية ، لاحظوا رسول اعترافنا ورئيس كهنته المسيح يسوع حال كونه أمين اللذي أقامه كما كان موسى أيضا في كل بيته (عب ۱:۳) هو ليس كلمتنا لله فقط ، بل هو كلمة الله لنا أيضا !! فأمام الله هوشفيعنا ورئيس كهنتنا ، وأمام الإنسان هو الضمان للسلام الالهي إذ منح لنا القبول والرضى أمام الآب.</p>
<p>تداريب عملية :</p>
<p>١-أن أكون صادقا في حياتي،عبادتي وممارستي الطقسية تعبير أمين عن محبتي وطاعتي للوصية</p>
<p>٢۔ ان اخضع لكل صوت نبوى يمزق أية اغلفة أو رياء أو نفاق ينتج عن إنفصام الحياة الشعائرية عن الحياة النبوية والشهادة الحق</p>
<p>٣- إن كنت خادم الرب فليكنالمسيح وحده هو العامل فيخدمتی حتى تكون الخدمة الرعوية الصورة المرئية وإستعلان للنعمة والحق المعاش في الداخل.</p>
<p>عظمة كهنوت المسيح</p>
<p>&#8220;أقسم الرب ولن يندم أنت كاهن إلى الأبد على طقس ملكيصادق &#8221; (عب ٧: ۲۱)</p>
<p>هناك تخيلات متنوعة حول شخصية ملكي صادق تضفي عليه صفات خارقة ، ولكن من الأصوب أن نرى فيه رئيسا أو شيخ لعائلة كبيرة ، أو لعشيرة تجمعت حول الموقع الذي عرف فيما بعد بالمدينة المقدسة . وبينما كان ملكي صادق ملكا على ساليم ،كان في الوقت عينه كاهنا للعلى ..</p>
<p>هذا دخل التاريخ وعبر منه بتدبير وحكمة إلهية فائقة ، وكأنماالآب السماوي لم ينتظر إلى يوم دخول إبنه الكهنوتي داخل الحجاب فسارع إلى إستباق عجائب خدمته بتجسيد أهم ملامحها في شكل مصغر ، وفي رمز بارع ظاهر كشاهد لمقاصد الآب السماوية المذخرة لنا نحن الذين انتهت إلينا أواخر الدهور.</p>
<p>المسيح ملك وكاهن معا:</p>
<p>يسوع المسيح رب المجد هوالملك والكاهن .. فهو الذي قدم له ذهبا ولبانا ومرا عند ميلاده ، وهو ملك لأنه كاهن متألم لأجلنا يقول الكتاب &#8220;مستحق &#8230;. لأنك ذبحت وإشتريتنا لله بدمك من كل قبيلة ولسان وشعب وأمة وجعلتنا لإلهنا ملوكا وكهنة فسنملك على الأرض&#8221;.&#8221;مستحق هو الخروف المذبوح أن يأخذ القدرة والغني والحكمة والقوة والكرامة والمجد والبركة وكل خليقة مما في السماء وعلى الأرض ، وما على البحر، كل ما فيها سمعها يوحنا الرائي تخر وتسجد وتقول للجالس على العرش وللخروف البركة والكرامة والمجد والسلطان إلى أبد الآبدین&#8221; (رؤ اصحاح ٥) وهو لا يبني مطالبه الملكية على تسلسل وراثی مع انه من نسل داود ولم يقمها على غزو وفتوحات وقوة متسلطة ، ولكن الصليب وحده هو السلم الذي إرتفع عليه إلي عرشه الممجد. وهو لا يستطيع أن يؤدي وظيفته فيها ككاهن ما لم يعترف به ملكا أولا..فهناك كثيرون عاجزون علي أن يحصلوا علي البركة الممنوحة للناس عن كهنوت المسيح لأنهم غير رافضين أن يعترفوا به ملكا علي حياتهم ويحترموا صليبه المحيى ويفتحوا قلوبهم لتعاليمه ووصاياه. فهو ملك البر أولا ثم هو ملك السلام علي طقس ملكي صادق ولن يدخل ملك السلام إطلاقا قلب الإنسان ما لم يقترب به أولا ملك البر، وتخضع النفس لمطالب بره،&#8230;&#8230;&#8230;&#8230;&#8230;&#8230;.ص٢٩&#8230;&#8230;&#8230;&#8230;&#8230;&#8230;الذي لنا في المسيح يسوع وأنه من المحزن أن نري ضآلة عدد المسيحيين المدركين المعني الكامل للمسيحية ولقوتها إذ هم بلا فرح ولا سلام ..ذلك لأنهم يرفضون الطريق الضيق والنسك المسيحي وصلب الذات..لا مفر من أن يكون رئيس کهنتا ملكا للبر قبل أن يكون ملك السلام في حیاتنا کافراد وجماعات وكنائس وشعوب .</p>
<p>کهنوت المسيح لم يكن مورثا :</p>
<p>كاهن العهد القديم كان عليه أن يتتبع بدقة تسلسله من هرون، وهذا هو السبب في سلسلة الأنساب المطولة في بعض الأسفار الكتابية ، والكهنة الذين لم يتمكنوا من إثبات نسبهم عند العودة سبي بابل کانوا يمنعون من الخدمة إلي أن تأتي الإشارة من حامل التميم والأوريم .. ولكن کھنوت ملگی صادق لم تكن له أية صلة بالتوارث والأنساب الجسدية ..كان ملكي صادق مستقلا عن كهنوت لاوي لذا جاء المسيح على طقس ملكي صادق. إذ نشأ من عائلة غير كهنوتية إذ من الواضح أنه تسلسل من سبط يهوذا الذي لم يتكلم عنه موسي إطلاقا بخصوص الكهنوت. وما كان صحيحا حرفيا عن المسيح الذي لا بداءة أيام له ولا نهاية حياة. فرئيس كهنتنا الأعظم بوصفه إنسانا لم یكن له أب..لم يكن هناك مثله من قبل ولا مثله من بعد</p>
<p>كهنوت المسيح بقسم من الأب :</p>
<p>إن کهنة العهد القديم کانوا يقامون بدون قسم اما الرب يسوع فکان كهنوته بقسم من اللآب القائل &#8221; أقسم الرب ولن يندم أنت كاهن إلي الأبد علي رتبة ملكي صادق&#8221;. علي قدر ذلك قد صار يسوع ضامنا لعهد أفضل. وقد شرحت رسالة العبرانيين قيمة هذا القسم في القول &#8220;إنه لما وعد الله إبراهيم إذ لم يكن له أعظم يقسم به أقسم بنفسه. فإن الناس يقسمون بالأعظم . ونهاية كل مشاجرة عندهم لأجل تثبيت هي القسم&#8221;</p>
<p>وبذلك إذ أراد الله أن يظهر أكثر كثيرا لورثة الموعد، عدم تغير قضائه توسط</p>
<p>بقسم (عب ۱۳:٦ &#8211; ۱۷).</p>
<p>يالعظم هذا الكهنوت الذي يستند على قسم الأب وتوسطه وليس على تسلسل جسدى معرض للفناء والزوال . أن قسم الأب يعطي لنفوسنا يقينا وثقة وقوة وعظمة هذا الكهنوت الإلهی. هذا ما يمد به رسول الأمم &#8221; فأن الناموس يقيم أناسا بهم ضعف رؤساء کهنة ، وأما كلمة القسم التي بعد الناموس فتقيم إبنا مكملا إلى الأبد &#8221; (عب ٧: ٢٨) لقد أقسم العلي ولن يندم وتعيينه نهائی ومطلق وثابت إلى الأبد. لا يمكن أن يأخذ مكانه اخر كما حدث لكهنوت هرون . السماء والأرض تزولان ، أما كهنوت الرب يسوع فلا يزول إلي الأبد.</p>
<p>کهنوته على رتبة أعظم :</p>
<p>لقد أفاض بولس الرسول في شرح عظمة رئيس أحبارنا فبين فيرسالة العبرانيين أن :</p>
<p>+ المسيح أعظم من الملائكة &#8221; لأنه لمن من الملائكة قال قط أجلس عن بینی حتی أضع أعداءك موطئا لقدميك . أليس جميعهم أرواحا خادمة مرسلة للخدمة لأجل العتيدين أن يرثواالخلاص &#8221; (عب ١٣:١ ،١٤)</p>
<p>المسيح أعظم من موسى : فإن هذا قد حسب أهلا لمجدأكثر من موسي بمقدار ما لباني البيت من كرامة أكثر من البيت. (عب ٣:٣) +</p>
<p>+ المسيح أعظم من يشوع :لأنه لو كان يشوع قد أراحهم لماتكلم بعد ذلك عن يوم آخر،إذا بقيت راحة لشعب الله . (عب۸:٤)</p>
<p>+ المسيح أعظم من ابراهيم :لأن ملكي صادق كان أعظم من ابراهيم ، اذ بارك ابراهيم بعد رجوعه من كسرة الملوك وقبل منه العشور والمسيح جاء على طقس ملکی صادق وليس على طقس هارون الذي كان في صلب إبراهيم عندما بارکه ملکی صادق.</p>
<p>+ المسيح أعظم من هرون وكهنوت لاوي : لأن كهنة العهدالقديم كانوا كثيرين من اجل منعهم بالموت عن البقاء،أما هذا فمن أجل أنه يبقى إلى الأبد له كهنوت لا يزول وكان كهنة العهدالقديم يقدمون تقدمات وقرابين وذبائح الشعب أما المسيح فلم يكن له اضطرار أن يقدم ذبائح أولا عن خطايا نفسه ثم عن خطايا الشعب لأنه قدوس وبار فعل هذا مرة واحدة إذ قدم نفسه لأجلنا ودخل إلى الأقداس. إبنا مكملا إلى الأبد . وكل كاهن يقوم كل يوم يخدم ويقدم مرارا كثيرة تلك الذبائح عينها التي لاتستطيع أن تنزع الخطية ، وأما هذا فبعد ما قدم عن الخطايا ذبيحة واحدة جلس إلى الأبد عن يمين الله وشهد له الروح القدس. أنه بقربان واحد قد اكمل إلى الأبد المقدسين.</p>
<p>کهنوت يخلص إلى التمام :</p>
<p>ان الكهنة من سلالة هرون لم يستطيعوا الأستمرار بسبب الموت . أما هو فقد شهد له بأنه حي .. لقد أقسم الآب أنه كاهن إلى الأبد ، ولأنه باق إلى الأبد ، فكهنوته لا يتغير ، وهو حي إلى الأبد يشفع فينا ، وكهنوته ينبض بقوة الحياة اللانهائية فقد</p>
<p>قال بفمه الطاهر &#8220;ها أنا حي إلى الأبد&#8221; (رؤ۱۸:۱) ولهذه الحياة الأبدية بركتان</p>
<p>فمن ناحية له كهنوت لا ينتقل إلى غيره ، ومن الناحية الأخرى يستطيع أن يخلص</p>
<p>إلى التمام كل الآتين إلى الآب بواسطته.</p>
<p>يخلص إلى المنتهي في الزمان وفي المكان وفي الكيان . مهما كانت خطاياك ، مهما كان التاريخ وتكرار السقطات وسطوة الأيام سيرفعك إلى أعلى درجة من المجد . إلى المنتهي في نقاوة القلب والفكر وطهارة الداخل والخارج . يقول الرسول بولس &#8221; وأما هذا فمن أجل انه يبقى إلى الأبد له كهنوت لا يزول فمن ثم يقدر أن يخلص أيضا إلى التمام الذين يتقدمون به إلى الله إذا هو حي في كل حين ليشفع فيهم &#8221; (عب۷: ٢٤ و ٢٥)۰</p>
<p>كهنوت لخدمة أعظم</p>
<p>كانت خدمة العهد القديم رمزا فقط ، كانت الذبائح دم تیوس وعجول لا تقدر أن تطهر إلا الجسد فقط ، كانت كل الخدمة تستمد قوتها من أنها تشير إلى الخدمة الحقيقية التي سيقوم بها رئيس كهنتنا عندما يقدم ذاته على الصليب قربانا ورائحة سرور وذبيحة وتكفيرا وخلاصا أبديا لكل من يؤمن به. في القديم كانت شبه السماويات وظلها .. يقول معلمنا بولس الرسول عن المقارنة بين القديم والجديد</p>
<p>&#8221; المسكن الأول الذي هو رمز للوقت الحاضر الذي فيه تقدم قرابين وذبائح لا يمكن من جهة الضمير أن تكمل الذي يخدم ، وهي قائمة بأطعمة وأشربة وغسلات مختلفة. وفرائض جسدية فقط موضوعة إلى وقت الإصلاح ، أما المسيح وهو قد جاء رئيس كهنة للخيرات العتيدة فبالمسكن الأعظم والأكمل غير المصنوع بيد أى الذي ليس من هذه الخليقة ، وليس بدم تيوس و عجول بل بدم نفسه دخل مرة واحدة إلى الأقداس فوجد فداء أبدية ، لأنه إن كان دم ثيرانوتيوس ورماد عجلة مرشوش على المنجسين يقدس إلى طهارة الجسد فكم بالحرى يكون دم المسيح الذي بروح ازلی قدم نفسه لله بلا عيب يظهر ضمائرك من أعمال ميتة لتخدعوا الله الحي (عب ٩ : ٩- ١٤) .</p>
<p>تداريب روحية :</p>
<p>+ نتقدم بقلب صادق في يقين الإيمان مرشوشة قلوبنا من ضمير شریر ومغتسلة أجسادنا بماء نقي واثقين في قوة</p>
<p>لنتمسك بإقرار الرجاء راسخا في الذين وعد هو أمين+</p>
<p>+ لنثق في رئيس كهنتنا أنه رحيم ، فيما تألم مجربا يقدر أن يعين المجربين حتى لا نخور في الطريق بل نجد فيه الرحمة والعزاء والرضا والقبول أمام الآب<a href="#_ftn9" name="_ftnref9">[9]</a>.</p>
<h4>الأب يوحنا من كرونستادت</h4>
<p><strong>شخصية الكاهن في فكر الأب يوحنا من كرونستادت(كاهن روسي ١٨٢٩ &#8211; ١٩٠٨ )</strong></p>
<p>١- أي عظمه لشخصية الكاهن؟هو في شركة وحديث دائم مع الله. والله دائماً يستجيب لسؤاله وصلواته. وحينما يهاجم الكاهن بالشهوات فإنه يجاهد حتي لا تدخل هذه الشهوات الي قلبه حيث يجب أن يملأ الرب يسوع المسيح كل قلبه تماماً. الكاهن هو ملاك وليس إنسان ولذلك يجب أن يدفع عنه بعيداً كل أمر عالمي. أيها الرب دع كهنتك يلبسون البر واجعلهم يتذكرون دائماً دعوتهم العظيمة ولا تدعهم يسقطون في فخاخ العالم والشيطان بل إجعلهم يخلصون من هموم العالم وغرور الغني وشهوات سائر الأشياء التي تدخل قلوبهم. وكما أن النور والحراره لا ينفصلان عن الشمس هكذا فإن القداسه والتوجيه والحب والشفقه للكل يجب ألا تنفصل عن شخص الكاهن. لأنه أي كرامه يحملها هذا الكاهن؟ إنه المسيح الذي يتحدث معه دائماً&#8230;نعم المسيح!!!الاه نفسه!!!جسده ودمه اللذان يحملهما الكاهن باستمرار. ولذلك فإن الكاهن يجب أن يحمل نفس روحانية المسيح وسط القطيع وأن يكون مثل الشمس التي تعطي بطبيعتها النور للكل وتمنح الدفء والحياة للجميع وأن يكون للجميع مثل أهميه النفس للجسد.</p>
<p>يجب أن يجاهد الكاهن بكل الطرق لكي تبقي في نفسه الشجاعة والجرأه أمام الأعداء الجسديين الذين يزرعون دائماً الخوف الخادع والرعب الغبي والا لن يستطيع ان يدفع الرذائل البشرية أو يحتفل الاحتفال الحقيقي بالأسرار. إن الشجاعة هي نعمة عظيمة من الله وهي كنز عظيم للنفس لانها تعمل بمهارة خصوصاً في الحرب الروحيه.</p>
<p>٢-إن الاحتفال بالقداس الالهي يستوجب نفساً مرتفعه غير مرتبطه بأي شهوات عالميه ولا مرتبطه بأي إغراءات أرضيه ويجب أن يكون قلب الكاهن مقدساً ومملوءاً بأشعة الروح القدس ومزيناً بالحب نحو الله ونحو كل جني البشر وكل نفس بشريه.وفوق الكل يحمل حباً لكل النفوس المسيحيه. ويكون له قلب حساس يرتفع الي الله بالصلاة ومملوءاً بنار الروح القدس التي حلت علي جماعة الرسا في شكل ألسنة ناريه. هذه النار ضروريه جداً لقلوبنا البارده لكي تلتهب وتصير رقيقه ولكي تذيب قلوبنا وتطهرها وتضئ فيها وتجددها. أين إذن يوجد هذا الكاهن المستحق لهذه النعمة الذي يشبه السيرافيم الذي يشتعل قلبه بالحب أمام الرب ويشكره من أجل نعمه وإحسانه وحكمته التي أعلنت لنا وبنا؟ أنا هو أول الخطاه الذين يحتفلون بهذه الأسرار السمائيه لأنني أحمل قلباً نجساً مربوطاً ومقيداً بالشهوات والاهتمامات الأرضية.</p>
<p>أيها الرب الناظر الي أعماق قلبي إنضح علي بزوفاك فأطهر إغسلني فأبيض أكثر من الثلج. إنه ليس عجباً يارب إذا منحت نعمتك للأطهار. وليس شيئاً عظيماً إذا خلصت الأبرار. ولكن أرني عظم رحمتك لي أنا الخاطئ.</p>
<p>٣-يا كاهن الله آمن بكل قلبك. ثق في النعمة التي أعطيت لك من الله أن تصلي من اجل شعب الله. ولاتدع موهبة الله هذه تصير بلا فائده فيك لأنك بها تستطيع أن تخلص نفوساً كثيرة. إن الله يسمع بسرعة الي صلاتك العميقه من أجل شعبه. وبسهوله يبسط مراحمه عليهم كما فعل مع صلوات موسي وهارون وثموئيل والرسل.</p>
<p>أغصب نفسك للصلاة في كل فرصه، في الكنيسة حين تمارس الاسرار، وفي منزلك الخاص، وحين تمارس كل الطقوس، وخلال الصلوات والتشكرات، في كل مكان وفي كل وقت فكر في خلاص رعيه الله . وإنك بذلك لسوف تحصل أيضاً علي نعمة عظيمة من الله لأجل نفسك.</p>
<p>وحينما تصلي بدموع وحب لأجل قطيع الرب وتحاربك الأفكار أنك صرت شيئاً فقل لنفسك: لست أنا الذي أصلي ولكن الروح هو الذي يصلي بكلمات لا ينطق بها وهو الذي يقودني ويربطني برباط حبه المقدس ويكرسني له باخلاص. وإن لذة الثلاة والحب هي التي تدفهني للصلاة<a href="#_ftn10" name="_ftnref10">[10]</a>.</p>
<h4>المتنيح القمص لوقا سيداروس</h4>
<p><strong>البخور وصلوات القديسين</strong></p>
<p>لماذا نصعد بخوراً قدام ايقونات القديسين ؟</p>
<p>البخور هو الصلاة &#8221; لتستقم صلاتي كالبخور قدامك &#8220;(مز ١٤١: ٢) والبخور كان يقدم في خيمة الاجتماع بأمر الرب علي مذبح خاص &#8221; مذبح البخور &#8221; وكان يوقد عليه كل يوم بخوراً عطراً بحسب ما رأي موسي علي الجبل . والقديس يوحنا الرائي رأي حول العرش الالهي أربعة وعشرون قسيساً جالسين علي كراسيهم وأربعة وعشرون اكليل ذهب علي رؤوسهم واربعة وعشرون مجمرة ذهب في ايديهم مملوءة بخوراً الذي هو صلوات القديسين (راجع رؤ ٥: ٨) وقد شهد أيضاً القديس يوحنا الرائي قائلاً &#8221; وجاء ملاك آخر ووقف عند المذبح ومعه مبخرة من ذهب وأعطي بخوراً كثيراً لكي يقدمه مع صلوات القديسين جميعهم علي مذبح الذهب الذي امام العرش فصعد دخان البخور مع صلوات القديسين من يد الملاك امام الله &#8220;(رؤ ٨: ٣- ٤) . فصلوات القديسين تصعد كرائحة طيبة ، ونسيم زكي أمام الله كرائحة بخور ومنذ الأيام الاولي يتنسم الله صلوات الآباء وتقدماتهم رائحة سرور رائحة رضي كتقدمة نوح بعد الطوفان وتقدمة داود بعد ان كف الملاك المهلك ، وصلوات سليمان وداود ونحميا وحزقيال ودانيال … فالبحور مع صلوات القديسين صاعد الي عنان السماء يدخل الي حضرة القدير لأن من مشرق الشمس إلي مغربها اسمي عظيم بين الأمم وفي كل مكان يقرب لاسمي بخور وتقدمة طاهرة .(ملاخي ١: ١١) .</p>
<p>ونحن في الكنيسة نعيش لا شبه السماويات بل السماويات عينها فنري في الكنيسة</p>
<p>المذبح بديل المذبح الناطق السمائي</p>
<p>ذبيحة المسيح &#8221; الخروف القائم كأنه مذبوح &#8221;</p>
<p>رائحة عطر عنان البخور ممتزجة مع صلوات القديسين تصعد الي عرش الله لذلك تري الكاهن يرفع البخور امام ايقونات القديسين لتدخل صلواتنا وتعلم طلباتنا لدي الله مشفوعة بصلوات القديسين صاعدة من مجمرة القسوس الأربعة وعشرون القائمين حول عرش الله كل حين .</p>
<p>الرب يطلب شفاعة ايوب عن اصحابه</p>
<p>لقد كان ايوب بحسب شهادة الروح &#8221; رجلاً كاملاً ومستقيماً يتقي الله ويحيد عن الشر &#8220;(أي ١: ١) ولم يكن مثله في جيله كشاهد لله وحافظ وصاياه وواجد نعمة في عيني الله … كان رجلاً قديساً بمعني الكلمة .</p>
<p>وقد اصابت أيوب الصديق تجارب متلاحقة رهيبة لم يكن ليقوي علي احتمالها بشر ضعيف … ولم يكن أحد يعلم من أين اتت التجارب علي ايوب إذ لم يكن قد كشف الستار عما جري في السماء من شكوي الشيطان علي أيوب وسماح الله للمجرب أن يعمل بتجاربه في حياة أيوب البار . كان هذا المنظر مخفياً عن جميع العيون ولم يكن يري المحيطون سوي المنظر الظاهر الخارجي أن أيوب صار منسحقاً بتجارب متنوعة . وجاء أصحاب أيوب وفي محاورات كثيرة ومجادلات صعبة حاولوا ان يعزوا أيوب بان يستنتجوا سبباً لتجاربه وفي فكر عقلاني حاولوا اكتشاف احكام الله وتدابيره . وقد تكلموا مستذنبين أيوب كثيراً ومدافعين عن الله كما يبدو واضحاً لمن يتتبع اقوالهم ، ثم انقشعت السحابة وتجلي الله بوضوح لعبده أيوب بكلمة عتاب روماني يكشف له الغوامض ويبين له المستورات .</p>
<p>وقد اتضع أيوب امام الرب بكلمات الانكسار كعادة القديسين في مواجهتهم مع الله وفي سلوكيات الابرار عندما يرون نفوسهم في نور وجه القدير … &#8221; الآن رأتك عيناي &#8220;(اي ٤٢: ٥) .</p>
<p>وقد اعترف ايوب انه تكلم بعجائب فوقه وبأمور لا يعرفها وقال &#8221; ولكن نطقت بما لا افهم بعجائب فوقي لم اعرفها … وقال ايضا لذلك ارفض واندم في التراب والرماد &#8220;(اي ٤٢: ٦) .</p>
<p>وكان بعد ما تكلم الرب مع ايوب أن الرب قال لاليفاز النعماني قد احتمي غضبي عليك وعلي كلا صاحبيك . والآن فخذوا لانفسكم سبعة ثيران وسبعة كباش واذهبوا الي عبدي ايوب واصعدوا محرقة لاجل انفسكم وعبدي ايوب يصلي من اجلكم لاني رافع وجهه لئلا أصنع معكم حسب حماقتكم لانكم لم تقولوا الصواب في كعبدي أيوب &#8220;راجع أيوب ٤٢: ٨) . وكم يبدو واضحاً أنه لولا صلاة أيوب البار عن اصحابه لكان الرب قد صنع بهم بحسب حماقتهم . وهنا يتبادر الي الذهن هذا السؤال :</p>
<p>ألم تكن ذبيحة سبعة ثيران وسبعة كباش كافية لصرف حمو غضب الله نحو اصحاب ايوب ؟! حتي يطلب الله أن ايوب يصلي عنهم لانه رافع وجهه ؟!</p>
<p>حقاً ان طلبة البار تقتدر كثيراً في فعلها (يع ٥: ١٦) فلقد رفعت صلوات ايوب غضب الله الذي احتمي علي اصحابه ولم يفعل الرب معهم حسب حماقتهم.</p>
<p>لقد رفع الرب وجه أيوب ، أي أنه لن يرد له طلب ولن يخيب له سؤال أو توسل . وقد صارت هذه الدالة لأيوب الصديق لدي الله إذ جاز امتحان الايمان وصار أيقونة رائعة في الكنيسة إلي كل الأجيال &#8221; قد سمعتم بصبر أيوب ورأيتم بعاقبة الرب &#8221; (يع ٥: ١١) . وبعد أن خلع أيوب البار جسد التجارب هذا ، صار وجه أيوب مرفوعاً إلي الأبد ، وصارت طلبته مقبولة لدي الله يشفع في المجربين ويطلب من أجل الذين علي شاكلة أصحابه إلي جيل الأجيال ، والآن بعد أن طالب الرب أصحاب أيوب بشفاعة أيوب من أجلهم هل يعترض أحد علي الله ؟!! لقد أظهر الرب قداسة عبده أيوب أمام أصحابه بهذه الوسيلة والدالة لتي له عنده<a href="#_ftn11" name="_ftnref11">[11]</a>.</p>
<h4>المتنيح القمص تادرس البراموسي</h4>
<p><strong>اليوم الرابع والعشرون من شهر هاتور المبارك</strong></p>
<p>كان في العالم والعالم كون به( يو ١ : ۱-۱۷ )</p>
<p>من الأسرار العميقة التي لا يقدر الإنسان أن يخوض فيها بحسب الطبع البشرى وهو التجسد الإلهي . والذي قال عنه الكتاب المفلس في بادئ الزمان أتى إبن الله مولود من إمرأة تحت الناموس لكي يفتدى الذين تحت الناموس ( غل٤-٤ ) . لم يتجاسر ملاك ولا رئيس ملائكة ولا واحد من الأنبياء ويقول أنه قادر على خلاص آدم وبنيه لكن تقدم الإبن الوحيد لأبيه المملوء نعمة وحق . وقال لأبيه هأن فأرسلني . ما أعظمك يا إلهى وهو يعرف تمام المعرفة ما يصادفه في العالم من وآلام وضيقات . الذي لا تحويه السماء والأرض حوته بطن العذراء مريم . ويوحنا الإنجيلي حبيب الرب يسوع لم يجروء أن يكتب كما كتب القديس متى والقديس لوقا عن ولادة مخلص العالم. وحياته البشرية . لكنه أراد أن يكتب عن لاهوته لئلا أن رأهم الناس متفقين الرأى تجذب العقول على ذلك إلى محاربة الاعتقاد بألهية السيد المسيح له المجد ويظن فيه البعض أنه إنسان فقط وإنفراد يوحنا في الكلام عن لاهوته والإخبار بما بنسب إليه وإن كان ذلك يتجاوز القدرة البشرية حتى لا يحدث ما يشوب الأعتقاد أو أي خطأ ولا يتوهم أحد أن المخلص له المجد . مجرد إنسان وأن الإله غير متجسد . وهذا يملأ مطامع اليهود . يتسأل البعض ها أورد يوحنا ما أورده من أمر اللاهوت عن علم تحققه من قبل رد القدرة الإلهية . لقنته فكتب ما كتبه , أنه في الوقت الذي نطق فيه بما نطق لم يدخل إلى الأعماق . لكن الروح القدس الذي لقنه . علم وتأكد أن ما قاله يتجاوز قدرة البشر . فأقنوم الإبن الأزلى وإن كان عله ومبدأ الموجدات فلا يلزم من ذلك أن يكون وجودها من وجوده ولهذا قال يوحنا في البدء كان الكلمة ولم يقل كان الإبن لئلا تجذب الأوهام إلى كونه مخلوقاً . على ما جرت عليه العادة في الولادة الإنسانية . فقير العبارة لئلا يتسرب الشك إلى العقول فتظن الناس بالإبن أنه غير مساو للآب في الوجود . قال القديس يوحنا فم الذهب أنه قال في البدء كان الكلمة ليدل على أزليته ومساواته للأب في الجوهر والوجود . وليعرف الفرق بينه وبين الخليقة كما قيل في البدء خلق الله السموات والأرض . ولم يقل كانت السموات والأرض . أما أنت أيها الأخ فلا تقشعر من أن تكرر أسم الآب والإبن والروح القدس الذي هو أساس إيماننا . ثم أردف يوحنا قائلاً والكلمة كان عند الله . أي الإبن المولود من الآب قبل كل الدهور . ولا يخطر ببالك أن الولادة زمنية إلى الآلام الجسمانية إنما هو ولادة إلهية لا زمن لها ولا تقادم للوالد من المولود . ثم قال وكان الكلمة الله . هذا كان في البدء عند الله . كل شئ به كان وبغيره لم يكن شئ فيه . كانت الحياة والحياة كانت نور الناس والنور أضاء في الظلمة والظلمة لم تدركه . قال يوحنا . والنور أضاء في الظلمة . يريد بالظلمة . العالم المملوء من ظلام الجهل والخطية التي سقط العالم بأسره فيها بسقوط أبونا آدم . فكما أن النور يزيل الظلام هكذا المسيح يزيل ظلمات الجهل والضلال من عقول الذين يطلبونه ويرغبون أن يدخل قلوبهم لأنارتها . لأنه هو نور العالم من يتبعه فلا يمشي في الظلمة<a href="#_ftn12" name="_ftnref12">[12]</a>.</p>
<h3>من وحي قراءات اليوم</h3>
<p>&#8221; لأنه من ملئه نحن جميعاً أخذنا ونعمةً عن نعمةٍ &#8221;    إنجيل القدَّاس</p>
<p>معجزة النعمة</p>
<p>أكبر وأعظم معجزة يمكن أن يعيشها المسيحي هي معجزة النعمة</p>
<p>أن يتغيّر الإنسان من الداخل رغم عدم تغيّر الظروف</p>
<p>وفرح الإنسان في القلب رغم كثرة الآلام والضيقات (أع ١٦: ٢٥)</p>
<p>وسلام الإنسان وسط العواصف والأمواج</p>
<p>وأن تكون صلاته الدائمة هي غناه (في ٤: ٤ &#8211; ٧) ، وعزاه ومحبته الدائمة هي طلبته وإحتياجه</p>
<p>وثقته في عمل النعمة التي ترفعه فوق كل تقلّبات الحياة</p>
<p>وإيمانه بعملها في من حوله مهما كانت حالتهم</p>
<p>نحن لا نحتاج شفاء الجسد قدر ما نحتاج شفاء أرواحنا من الخطيّة، وشفاء أنفسنا من الخوف والقلق واليأس والإضطراب</p>
<p>ولكن يؤمن بالذي يبرِّر الفاجر (رو ٥:٤) آية إذا آمنت بها يمكن أن نعيش معجزة النعمة إذا صدقنا أن النعمة تُغيِّر الفاجرين إليّ قديسين</p>
<p>النعمة حاضرة كل لحظة تقف علي بابي وبابك ، تنتظر أن نسمع همسات حبّها ، ونُدخلها إلي قلوبنا وحياتنا ، لنشبع ونمتلئ ونصعد معها إلي الجلجثة في المسيح قبل إشراقة قيامته فينا</p>
<hr />
<p><a href="#_ftnref1" name="_ftn1"></a>٧٨- ق.يوحنا ذهبي الفم    تفسير بطرس الأولي ٥ &#8211; القمص تادرس يعقوب ملطي</p>
<p><a href="#_ftnref2" name="_ftn2"></a>٧٩- يوحنا ذهبي الفم &#8211; الكاهن الناري &#8211; القمص تادرس يعقوب ملطي</p>
<p><a href="#_ftnref3" name="_ftn3"></a>٨٠- تفسير سفر الرؤيا ( الإصحاح الرابع ) &#8211; القمص تادرس يعقوب ملطي</p>
<p><a href="#_ftnref4" name="_ftn4"></a>٨١-: كتاب تفسير رسالة بولس الثانية إلي تيموثيئوس للقديس يوحنا ذهبي الفم &#8211; العظة الثانية &#8211; عربتها عن الفرنسية استاذة سعاد سوريال &#8211; مؤسسة القديس أنطونيوس للدراسات الآبائية</p>
<p><a href="#_ftnref5" name="_ftn5"></a>٨٢- المرجع : كتاب من مجد الي مجد للقديس غريغوريوس النيسي ( صفحة ٧٩ ) &#8211; ترجمة القمص إشعياء ميخائيل</p>
<p><a href="#_ftnref6" name="_ftn6"></a>٨٣- تفسير سفر اللاويين ( الإصحاح السادس عشر ) &#8211; القمص تادرس يعقوب ملطي</p>
<p><a href="#_ftnref7" name="_ftn7"></a>٨٤- المرجع :مجلة مدارس الاحد عدد اكتوبر لسنة ١٩٦٧</p>
<p><a href="#_ftnref8" name="_ftn8"></a>٨٥- المرجع : كتاب شفتاك يا عروس تقطران شهداً ( الجزء الرابع صفحة ١٢٣ ) &#8211; إصدار دير الأنبا شنودة العامر بإيبارشية ميلانو</p>
<p><a href="#_ftnref9" name="_ftn9"></a>٨٦- كتاب ألقاب المسيح ووظائفه ( صفحة ٢٣ ) &#8211; الأنبا بيمن أسقف ملوي وأنصنا والأشمونين</p>
<p><a href="#_ftnref10" name="_ftn10"></a>٨٧- كتاب سياحة القلب صفحة ٧١ &#8211; ترجمة القمص أشعياء ميخائيل</p>
<p><a href="#_ftnref11" name="_ftn11"></a>٨٨- كتاب محفل الملائكة وسحابة الشهود (صفحة ٢٨ ) &#8211; القمص لوقا سيداروس</p>
<p><a href="#_ftnref12" name="_ftn12"></a>٨٩- كتاب تأملات وعناصر روحية في آحاد وأيام السنة التوتية ( الجزء الثالث  صفحة ٨٨ ) &#8211; إعداد القمص تادرس البراموسي</p>

      {% endcreateArticleAccordions %}
    </section>
  {% endblock %}
  