---
layout: 'layouts/reading.html'
title: 'السابع والعشرون من هاتور'
permalink: annual/3-27.html
---
  {% block content %}
    <section id="readings">
      <ul>
      {% if 'undefined' != 'undefined' %}
      
      {% else %}
      {% if '19.46:1,7' != 'null' %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">العشية</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeVespers '19.46:1,7' '41.1:16-22' %}
          </div>
        </div>
      </li>
      {% endif %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">باكر</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeMatins '19.146:1,5' '40.4:18-22' '' %}
          </div>
        </div>
      </li>
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <h3 class="flex items-center justify-between">
            <span class="kufi">القداس</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </h3>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeLitugy '48.1:1-19' '59.1:1-12' '44.15:13-21' '19.78:5*@+19.135:5' '41.10:35-45' %}
          </div>
        </div>
      </li>

      {% endif %}
        </ul>
    </section>
    <section id="article">
      <h3 class="mt-8 mb-4 heading-explain">شرح القراءات</h3>
      {% createArticleAccordions %}
        <p>فبقي يعقوب وحده، وصارعه إنسان حتى طلوع الفجر</p>
<p>ولما رأى أنه لا يقدر عليه، ضرب حق فخذه، فانخلع حق فخذ يعقوب في مصارعته معه</p>
<p>وقال: أطلقني، لأنه قد طلع الفجر. فقال: لا أطلقك إن لم تباركني ) (تك ٣٢ : ٢٤ &#8211; ٢٦))</p>
<p>من باكر إلى المساء كل يوم. أبارك اسمك القدوس. يا ربى يسوع المسيح مخلصى الصالح</p>
<p>كل نَفَس اتنسمه. أسبح اسمك القدوس. يا ربى يسوع المسيح مخلصى الصالح.</p>
<p>ابصالية السبت</p>
<p>&#8221; الغراء (الذي به تلتصق النفس بالله) هو نفسه الحب. ليكن لك الحب، الذي كما بغراء تلتصق نفسك خلف الله. لا تلتصق بالله، وإنما خلف الله، حتى يسير أمامك وأنت تتبعه <a href="#_ftn1" name="_ftnref1">[1]</a> &#8221;</p>
<h3>شواهد القراءات</h3>
<p>(مز ٤٥ : ١ ، ٧) ،(مر ١ : ١٦ – ٢٢) ،(مز ١٤٥ : ١ ، ٤) ،(مت ٤ :١٨ – ٢٢) ،(غل ١ :١ – ١٩) ،(يع ١ : ١ – ١٢) ،(أع ١٥ :١٣ – ٢١) ،(مز ٧٧ : ٥) ،(مز ١٣٤ : ٥) ،(مر ١٠ : ٣٥ – ٤٥)</p>
<h3>ملاحظات على قراءات يوم ٢٧ هاتور</h3>
<p>+ قراءات أناجيل عشية وباكر والقداس اليوم هي نفس قراءات أناجيل عشية وباكر والقداس ليوم ١٧ مسري (شهادة يعقوب الجندي ) ، لأنه من ناحية تعرض لعذابات شديدة وكثيرة مثل القديس يعقوب المقطع ، ومن ناحية أخري وحدة الإسم &#8221; يعقوب &#8221; والذي تدور حوله القراءات</p>
<p>+ قراءة إنجيل باكر اليوم (مت ٤: ١٨ &#8211; ٢٢) تُشبه قراءة إنجيل عشيّة ليوم ١٠ طوبه (مت ٤ : ١٢ &#8211; ٢٢) والموافق برامون عيد الغطاس ، والإضافة الزائدة هنا في قراءات البرامون للإشارة إلي تمام خدمة يوحنا المعمدان وبداية خدمة ربّ المجد</p>
<p>+ قراءة البولس اليوم (غل ١: ١ &#8211; ١٩) جاءت أيضاً في يوم ١٧ مسري</p>
<p>وهي القراءة الخاصة بيعقوب أخا الرب (جاء في القراءات الخاصة بيوم ٢٧ هاتور كل ما يختص بإسم يعقوب في العهد القديم والجديد ) لذلك جاءت في تذكار يعقوب المقطع ( ٢٧ هاتور ) وفِي شهادة القديس يعقوب ( ١٧ مسري )</p>
<p>وتُشبه قراءة البولس (غل ١: ١ &#8211; ٢٤) للأحد الثاني من شهر أبيب مجيئها اليوم للإشارة إلي من أنكر الإيمان ورجع إليه سريعاً ( سيرة القديس يعقوب المقطَّع ) ، بينما مجيئها في الأحد الثاني من أبيب لأجل الآيات الزائدة ( من آية ٢٠ إلي ٢٤ ) والتي تُشير إلي القديس بولس الذي كان سبب تعب لكثيرين لكن بعد إفتقاد الرب له رأي فيه الجميع مجد الله</p>
<p>+ قراءة الكاثوليكون اليوم (يع ١ : ١ &#8211; ١٢) هي نفس قراءة الكاثوليكون ليوم ١٧ مسري وتُشبه قراءة الكاثوليكون ليوم ٢٦ توت (يع ١ : ١ &#8211; ١٨) ، والأحد الأوَّل من شهر كيهك ، وهي القراءة التي تكلمت عن الذين إحتملوا التجارب الشديدة المتنوعة مثل القديس يعقوب المُقطع ( ٢٧ هاتور ) والقديس يعقوب بن فجوج ( ١٧ مسري ) والقديسة إليصابات ( ٢٦ توت )</p>
<p>القراءة الأولي للإشارة إلي القديس يعقوب كاتب الرسالة ، والقراءة الثانية الإشارة إلي المولودين من فوق بتجسُّد الكلمة</p>
<p>+ قراءة الإبركسيس اليوم (أع ١٥: ١٣ &#8211; ٢١) هي نفس قراءة الإبركسيس ليوم ٦ طوبه والموافق لعيد الختان ، وتُشبه قراءة الإبركسيس (أع ١٥ : ١٢ &#8211; ٢١) ليوم ٢ أمشير والموافق لتذكار نياحة أنبا بولا ، ومثلها قراءة الإبركسيس ليوم ١٧ مسري والموافق لتذكار القديس يعقوب من فجوج ، وتُشبه قراءة الإبركسيس ليوم ٣ مسري (أع ١٥ : ١٣ &#8211; ٢٩) والموافق لتذكار نقل جسد القديس سمعان العمودي</p>
<p>وأغلب الظن أن سبب إختيار القراءة اليوم هو لأجل حديث القديس يعقوب في مجمع أورشليم ،</p>
<p>بينما جاءت القراءة في عيد الختان ( ٦ طوبه ) لأجل النور الذي أُعْلِنَ للأمم والذي ظهر في قديسي الأمم مثل الأنبا بولا ( ٢ أمشير ) والقديس سمعان العمودي ( ٣ مسري )</p>
<p>كما أنها تأتي في أسماء قديسين ذُكِروا في القراءة المُخْتارة مثل يعقوب (٢٧ هاتور ، ١٧ مسري ) وسمعان ( ٦ طوبه ، ٣ مسري )</p>
<p>+ كل القراءات المُحوَّلة علي قراءة هذا اليوم هي قراءات الشهداء الذين جاءت شهادتهم بعد سلسلة طويلة من العذابات الشديدة</p>
<h4>القراءات المُحوَّلة علي قراءة اليوم</h4>
<p>تاسع وعشرون بابة                   شهادة القديس ديمتريوس الشهيد</p>
<p>خامس هاتور                           ظهور رأس لنجينوس الجندي</p>
<p>سادس عشر كيهك                   تذكار أنبا هرواج وأنبا تمساح الأخميمي</p>
<p>سادس برمهات                        شهادة ديوسقورس في زمن العرب</p>
<p>ثالث وعشرون أبيب                 شهادة القديس لنجينوس الذي طعن الرب بالحربة</p>
<p>عاشر مسري                            شهادة أنبا بيخبس الشهيد</p>
<h3>شرح القراءات</h3>
<p>تذكار هذا اليوم هو للقديس يعقوب المقطع الذي أُسْتِشهد بتقطيع أعضاء جسده ومُحوّل علي قراءات هذا تذكارات لستّة من الشهداء الذين إستشهدوا بعد عذابات صعبة ومنهم أيضاً بتقطيع أعضاء الجسد</p>
<p>لذلك تدور قراءات اليوم علي الذين إلتصقوا بالرب وهذا هو معني إسم يعقوب وترتبط القراءات تقريباً كلها بإسم يعقوب أي أن قراءات اليوم موضوعها يعقوب الإسم والمعني</p>
<p></p>
<p>تبدأ المزامير بالحديث عن إله يعقوب فتشير العلاقة الخاصّة بينهما ومافعله الله مع يعقوب بالذات ( مزمور عشيّة ) ومافعله يعقوب في عشرته مع الله ( مزمور باكر ) ومدي العمق في علاقته مع الله ( مزمور القداس )</p>
<p></p>
<p>يتكلّم مزمور عشية عن من هو الله بالنسبة ليعقوب طوال مسيرة حياته علي الأرض وكيف كان الله ملجأه وقوّته ومُعينه ناصره كما كان واضحاً جداً في نجاته من عيسو أخيه ومن لابان خاله</p>
<p>( إلهنا هو ملجأنا وقوّتنا ومُعيننا في شدائدنا التي أصابتنا جداً الرب إله القوات معنا ناصرنا هو إله يعقوب )</p>
<p>وفِي مزمور باكر عن ماذا كان دور يعقوب في علاقته بالله والتي أهّلته لأن يجاهد مع الله والناس ويقدر فهو كان يمجّد إسم الله وكان الله دائما هو الذي يطلب يعقوب معونته ويضع كل إتكاله عليه</p>
<p>( سبحي يا نفسي للرب أُسبح الرب في حياتي طوبي لمن إله يعقوب مُعينه وإتكاله علي الرب إلهه</p>
<p>وفِي مزمور القداس نتيجة العشرة وعلاقة وإختيار السنين يقين يعقوب من عظمة إلهه عن كل آلهه أُخري</p>
<p>( إذ أقام الشهادة في يعقوب ووضع الناموس في إسرائيل لأني أنا قد علمت أن الرب عظيم هو وربنا أفضل من جميع الآلهة )</p>
<p></p>
<p>وتأتي القراءات لتقارن بين الذين يتحولون سريعاً عن إيمانهم ( البولس ) ومن لا يثبتون في التجارب ( الكاثوليكون ) ومن يلتصقون بالرب بنعمة العهد الجديد وليس بحرف الناموس ( الإبركسيس )</p>
<p></p>
<p>يوبّخ البولس الذين لا يلتصقون بالرب وينتقلون سريعاً عن الذي دعاهم بنعمة المسيح إلي إنجيل آخر ويصف القديس بولس نفسه كعبد للمسيح لا يطلب رضاء أحد لكن هذا لا يمنع تقديره وطلبه مُباركة الآباء الرسل لإرساليته للأمم ودعوة خدمته خاصة القديسين بطرس ويعقوب</p>
<p>والعجيب أننا نري في سيرة القديس يعقوب المقطَّع (صاحب تذكار اليوم ) أنه إنتقل سريعاً عن الإيمان ولكن بسبب رد فعل إسرته ندم وتاب وشهد للرب شهادة فائقة في إحتمال الآلام حتي الموت</p>
<p>( إني أتعجب أنكم تنتقلون هكذا سريعاً عن الذي دعاكم بنعمة المسيح إلي إنجيل آخر &#8230; أفأستعطف الآن الناس أم الله أم أطلب أن أرضي الناس فلو كنت بعد أطلب أن أرضي الناس لم أكن عبداً للمسيح &#8230; ثم بعد ثلاث سنين صعدت إلي أورشليم لأنظر قيفا أي الصفا ومكثت عنده خمسة عشر يوماً ولكنني لم أر غيره من الرسل إلا يعقوب أخا الربّ )</p>
<p>وفِي الكاثوليكون يصف القديس نفسه بعبد الله ويقارن بين الذين يتحملون التجارب ويكونون راسخين في إيمانهم وبين الذين هم متقلقلين في جميع طرقهم</p>
<p>( يعقوب عبد الله وربنا يسوع المسيح &#8230; لأن الرجل ذو الرأيين هو متقلقل في جميع طرقه &#8230; طوبي للرجل الذي يصبر في التجربة لأنه إذا صار مُختاراً ينال أكليل الحياة الذي وعد به الربّ للذين يحبونه )</p>
<p>ويكشف الإبركسيس عن ثبات وعمق التدبير الإلهي منذ الأزل بقبول الأمم وأيضا من يلتصقون بالرب ومن ينالون نعمة العهد الجديد من الأمم بعيدا عن حرف وشكل الناموس</p>
<p>( وبعد ما سكتا أجاب يعقوب قائلاً &#8230; سأرجع بعد هذا وأبني أيضاً خيمة داود الساقطة وأبني أيضاً رُدُمَها وأُقيمها ثانيةً لكي يطلب الباقون من الناس الربَّ وجميع الأمم الذين دُعي إسمي عليهم يقول الرب الصانع هذا الأمر المعروف عند الرب منذ الأزل لذلك أنا أقضي أن لا يُثَقَّل علي الراجعين إلي الله من الأمم بل يُرسل إليهم أن يمتنعوا عن ذبائح الأصنام والزني والمخنوق والدم المائت )</p>
<p>ثم تتكلُم الأناجيل عن تبعية يعقوب للرب وكيف ترك كل شئ لأجله ( إنجيل عشية وباكر ) وكيف تكون تبعيتنا له ليس بما سنأخذه منه أو ما سيُعطيه لنا بل كيف نخدم خدمة المُتّكأ الأخير</p>
<p>يتكلّم إنجيل عشية عن سلطان الرب ليس فقط في التعليم والكلمة لكن أيضا في الدعوة والإختيار</p>
<p>( فرأي يعقوب إبن زبدي ويوحنا أخاه وهما في السفينة يصلحا شباكهما فدعاهما للوقت فتركا أباهما زبدي في السفينة مع الأجري وذهبا وراءه ثم دخلوا كفر ناحوم وللوقت دخل المجمع يوم السبت وصار يعلم فكانوا يتعجبون من تعليمه لأنه كان يعلمهم كمن له سلطان وليس كالكتبة )</p>
<p>ويحكي نفس الموقف في إنجيل باكر عن دعوته ليعقوب وأخيه يوحنا وكيف تَرَكُوا الأب والسفينة والأجري ليتبعاه</p>
<p>( ثم اجتاز إلي قدام من هناك فرأي أخوين آخرين يعقوب إبن زبدي ويوحنا أخاه في السفينة مع زبدي أبيهما يُصْلِحان شباكهما فدعاهما فللوقت تركا السفينة وأباهما زبدي وتبعاه )</p>
<p>ويختم إنجيل القداس بتوضيح مفهوم تبعية الرب والإلتصاق به والتلمذة له ليس في المكانة والوضع الذي نكون فيه ونحن نخدمه بل في البذل والخدمة والمتكئ الأخير وسط الإخوة وقيمة الخادم ليس في أن يُخدم بل أن يخدم الكل ويستعبد نفسه للجميع لأجل المسيح</p>
<p>وتقدم إليه يعقوب ويوحنا إبنا زبدي قائلين له يا معلم نريد أن تفعل لنا كلَّ ما طلبناه فقال لهما ماذا تريدان أن أفعل لكما فقالا له إعطنا أن نجلس واحد عن يمينك والآخر عن يسارك في مجدك فقال لهما يسوع لستما تعلمان ما تطلبان &#8230;. بل من أراد أن يصير فيكم عظيماً يكون لكم خادماً ومن أراد أن يصير فيكم أولاً</p>
<p></p>
<h3>ملخّص القراءات</h3>
<p></p>
<p>الله في حياة أبونا يعقوب هو نصرته ومُعينه وفخره وتسبيحه   مزمور عشيّة وباكر والقدّاس</p>
<p>أما يعقوب الرسول فهو المُعتبر من أعمدة الرسل وهو عبد الله ورئيس مجمع أورشليم</p>
<p>البولس والكاثوليكون والإبركسيس</p>
<p>وهو الذي أطاع دعوة الرب فترك كل شئ وأوضح له السيد جوهر الخدمة غسل الأقدام والمُتَّكأ الأخير                                            إنجيل عشيّة وباكر والقدّاس</p>
<p></p>
<p></p>
<h3>أفكار مُقترحة للعظات</h3>
<h4>(١) من هو يعقوب ؟</h4>
<p>١-هو الملتصق بإله النصرة والمعونة والشهادة               مزمور عشيَّة وباكر والقدّاس</p>
<p>&#8221; ناصرنا هو إله يعقوب &#8230; طوبي لمن إله يعقوب معينه وإتكاله علي الرب إلهه &#8230; إذ أقام الشهادة في يعقوب &#8221;</p>
<p>عندما نقرأ حياة يعقوب مع الله (تك ٢٧ &#8211; ٣٧) نجد فيها كيف أعطاه النصرة علي لابان والشعوب المُحيطة وكيف كان معه كل طريق حياته حتي شيخوخته</p>
<p>٢- المدعو لتبعية المسيح له المجد                                               إنجيل عشيَّة وباكر</p>
<p>&#8221; فدعاهما للوقت فتركا أباهما زبدي في السفينة مع الأجري &#8221;</p>
<p>ماذا رأي يعقوب في الرب حتي يترك كل إنسان وكل شئ ويضع حاضره ومستقبله في يديه دون تفكير كثير</p>
<p>٣- عبد الله                                                                          الكاثوليكون</p>
<p>&#8221; يعقوب عبد الله وربنا يسوع المسيح &#8221;</p>
<p>ما أجمل أن يكون إفتخار الرسول بأنه عبد الله أي المُنتسب إليه بالكامل وهكذا كان يفتخر أيضاً القديس بولس الرسول (رو ١:١)</p>
<p>٤- رئيس مجمع أورشليم                                                       الإبركسيس</p>
<p>&#8221; وبعد ما سكتا أجاب يعقوب قائلاً &#8221;</p>
<p>من أهم قرارات هذا المجمع حسم قضيَّة التهود والتخفيف علي الداخلين من الأمم</p>
<p>٥- صاحب الطلبة الخاصة والمُميَّزة عن باقي الرسل                     إنجيل القدَّاس</p>
<p>&#8221; وتقدَّم إليه يعقوب ويوحنا إبنا زبدي قائلين له يا معلم نُريد أن تفعل لنا كلَّ ما طلبناه &#8221;</p>
<p>كان يريد وضعاً خاصاً لكن الرب أوضح له علي أن المكانة ترتبط بصبغة الألم وحَمْل الصليب</p>
<h4>(٢) تبعية المسيح له المجد (العبد والخادم)</h4>
<p>١- تركا شباكهما &#8211; وأباهما &#8211; وتبعاه</p>
<p>تبعية الرب تحتاج ترك دائم عن كل ما يُعطِّل السير وراءه من أمور عالمية وعواطف بشرية وتحتاج الإلتصاق الدائم به</p>
<p>٢- لا يطلب أن يُرضي الناس &#8221; فلو كنت بعد أطلب أن أرضي الناس لم أكن عبداً للمسيح</p>
<p>من أخطر ما يُعطِّل الدعوة آراء الناس الإيجابية والسلبية والتي تجعل الخادم إمَّا يخدم لأجل المزيد من مدحهم أو خوفاً ورياءاً من فحصهم</p>
<p>يصبر في التجارب &#8221; طوبي للرجل الذي يصبر في التجربة ٣-</p>
<p>هنا تجارب الإمتحان والتنقية والتزكية وهي تجارب أولاد الله لأجل تزكيتهم ومُكافأتهم</p>
<p>٤- يخدم الكل ويستعبد نفسه للجميع &#8221; ومن أراد أن يصير فيكم أوَّلاً يكون للجميع عبداً</p>
<p>هذا هو سرّ العظمة في المسيحية غسل الأقدام والمُتكأ الأخير ودستور خميس العهد الذي قدَّم الرب فيه نفساً مثالاً لكل من يخدم</p>
<h4>(٣) يطلب</h4>
<p>١- &#8221; فلو كنت بعد أطلب (أطلب بالخط الثقيل) أن أرضي الناس لم أكن عبداً للمسيح &#8221;  البولس</p>
<p>خطورة أن يطلب الإنسان دائماً رضي الآخرين لذلك قال الرب ( ويل لكم إن قال فيكم جميع الناس حسنا ) وحذر من رياء الكتبة الذين يفعلون أي شئ لكي ينظروهم</p>
<p>٢- &#8221; وإن كان أحدكم تعوزه حكمة فليطلب (فليطلب بالخط الثقيل) من الله الذي يُعْطي الجميع بسخاء &#8221;     الكاثوليكون</p>
<p>ما أجمل أن يطلب الإنسان من الله الحكمة كما طلب سليمان الملك في القديم</p>
<p>٣- &#8221; لكي يطلب (يطلب بالخط الثقيل ) الباقون من الناس الرب &#8221;   الإبركسيس</p>
<p>هنا يتكلَّم عن الأمم ودخولهم الإيمان</p>
<p>٤- &#8221; يا معلم نريد أن تفعل لنا كلَّ ما طلبناه ( بالخط الثقيل ) &#8221;   إنجيل القدَّاس</p>
<p>للأسف صار هذا اليوم البديل ل ( لتكن مشيئتك ) والأفضل هنا أن لا يعتمد الإنسان علي فكره الخاص مهما كان ويلتمس مشيئة الله وتدبيره الصالح</p>
<p>٥- &#8221; فقال لهما يسوع لستما تعلمان ما تطلبان ( بالخط الثقيل ) &#8221;   إنجيل القدَّاس</p>
<p>نحن نطلب كثيراً ولا نعلم ما هو الصالح لنا لذلك الأفضل طلب حضوره الإلهي ومعيته وتبعيته والجلوس عند قدميه فعندما نختار النصيب الصالح (لو ١٠ : ٤٢) نعرف أن الحاجة إلي واحد والباقي يُزاد لنا (مت ٦ : ٣٣)</p>
<p></p>
<p></p>
<p></p>
<h3>عظات آبائية</h3>
<h4>القديس كيرلس الأسكندري</h4>
<p><strong>الاقتداء بالقديسين من خلال حياة أبينا يعقوب عند القديس كيرلس الكبير :</strong></p>
<p>أولئك الذين اختاروا الحياة الفُضلي يعجَبون بحياة القديسين ، إذ أن الكلام لا يكفي لوصف بهاء حياة القديسين .فالقديسين هم مثالٌ جميل للذين يريدون أن يحيوا بالتقوي ، لأنهم كرزوا بكافة الطرق عن أسلوب الحياة الجميلة والفاضلة ، وهو الأسلوب المرضي عند الله ، ولست أنا فقط ، بل الكتاب المقدس نفسه يحثنا علي أن نتمثل بنهاية سيرة هؤلاء القديسين وبإيمانهم وأن نتبع آثار الفضيلة الموجودة فيهم . لأنه من العبث إنه بينما نجد علماء في علوم متنوعة قد تتلمذوا لأساتذة من الذين سبقوهم ، ويتفاخرون بإنهم يطبقون بدقة ما هو صحيح من جهة العلوم اعتماداً علي هؤلاء الأساتذة ، فإننا نحن الذين نقصد أن نحيا في الفضيلة لا نثّبت عيون أذهاننا علي منهج حياة القديسين الأقدمين لكي نتعلّم منهم الأمور التي بها يستطيع المرء أن يصير متمرساً ومختبراً أمام الله ، ويملأ ذهنه بمعرفة طريقة الحياة الفاضلة .</p>
<p>يعقوب العظيم مثالٌ لنا</p>
<p>إذن ، فلنأخذ يعقوب العظيم مثالاً لنا ، الذي قطع شوطاً كبيراً علي قدر ما يتناسب مع عصره في الطريق المستقيم للحياة آخذاً إله الكل معيناً وقائداً له ، الله الذي ارتضي أن يسمح له &#8211; لأجل فائدته &#8211; أن يكابد أتعاباً كثيرة . لأنه ليس من الممكن أن ينال المرء مفاخر الفضيلة بدون تعب . وقد كللّه الله ، بعد التجارب ، بنعم وعطايا من تلك التي تُعطي للمصارعين الأقوياء بسبب مواجهاتهم الصعبة والكثيرة .</p>
<p>حسناً ، لا تقل لنفسك : لماذا لم يمنح الله القديسين حياةً بدون تعب طالما هو يعرف أنهم سيفلحون ويعترفون بإحسانه ويبجلونه ؟ إنه لو (فعل هكذا ) فهذا معناه إنه سوف يتركهم في الحياة بدون أن يتدربوا ، وهكذا يكون أجرهم قليلاً بالمقارنة بالأجر العظيم الذي يناله من يحيا في الفضيلة . وأيضاً ، فإن قبول الله لهم سيكون ليس بسبب أنهم في داخلهم لهم تأهب واستعداد وإرادة قوية ومنافسة جليلة لاكتساب المواهب ، بل عكس ذلك . فإنه كان يجب عليهم أن يبرهنوا أنهم مختبرون جيدون ، ويظهرون بأعمالهم مسبقاً أنهم جديرون بتلك العطايا المُعطاة من الله . وكان ينبغي عليهم أيضاً أن يكونوا أمثلة ونماذج تُحتذي بالنسبة للاحقين في تفضيلهم للألم والصبر مبرهنين علي أن أولئك الذين يحيون بتنعم لا ينالون مكافأة ، بينما ينال المكافأة أولئك الذين يفضلون الألم والتعب والجهد لأجل حياة صالحة .قال أحد الحكماء :&#8221; يا بُني ، إن أقبلت لخدمة الرب فأعدد نفسك للتجربة . أرشد قلبك وأصبر &#8221; (حكمة ابن سيراخ ٢: ١) ، كما هو مكتوب أيضاً &#8221; الصبر تزكية والتزكية رجاء . والرجاء لا يُخزي لأن محبة الله قد انسكبت في قلوبنا بالروح القدس المُعطي لنا &#8220;( رو٥: ٤- ٥.راجع مز ٢٥: ٢) .</p>
<p>دعونا نأتي إلي الهدف من حديثنا .لقد أسرع يعقوب ، بعد رحيل لابان من جبل جلعاد ، في السير في طريقة وأراد أن يُعجل بانطلاقه . لكن بمجرد أن تحرر من هجوم لابان واستراح قليلاً ، فإنه سقط حالاً في مخاوف مرعبة . لقد رحل مِن ما بين النهرين سائراً نحو حاران ، وكان ينبغي أن يمر في أرض سعير حيث يسكن عيسو ، لذا استولي عليه خوفٌ شديد . لأنه لم ينسَ أن عيسو كان غاضباً وحزيناً بسبب البركة والكورية .</p>
<p>حسناً ، بأي طريقة جعل أخاه عيسو يتحرر من الحزن والغضب ، ونقله إلي المحبة والوداعة ، ألا يستحق أن نتأمل في هذا الأمر الجدير بالإعجاب ؟ فنحن نقرأ ما يلي</p>
<p>:&#8221; وأرسل يعقوب رُسلاً قدّامه إلي عيسو أخيه إلي أرض سعير بلاد أدوم &#8221; .</p>
<p>أرأيت كيف إنه يلاطف عيسو ، ويقع عند قدميه متأسفاً ، وقد حاول أن يتجنب غضبه الشديد بأقواله الحسنة ؟ لأنه بالرغم من أنه صار الأعظم ببركة أبيه وتفوق عليه بمجد البكورية ، وكان له الله معيناً ، فإنه تنازل كما يليق بالقديسين ، وتصرف بالطريقة التي أشار بها بولس فيما بعد &#8221; إن كان ممكناً فحسب طاقتكم سالموا جميع الناس &#8221; (رو١٢: ١٨) . لأن الكلمة القاسية والثقيلة والمملوءة بالتفاخر والتعالي لا يمكن لأحد أن يحتملها . وكما كتب حكيم الأمثال &#8221; الجواب اللين يصرف الغضب &#8220;(أم١٥: ١) . لاحظ من فضلك بصيرة البار المملوءة تقوي .لقد أرسل رُسلاً لكي يطلبوا السلام ويحملوا كلاماً لطيفاً لعيسو . لقد أمرهم بشدة أن يقولوا له :&#8221; هكذا قال عبدك يعقوب &#8220;(تك٣٢: ٤) . لقد استند يعقوب علي الصلاة وطلب المعونة التي تنقذ ، وعلي الرجاء في عمل الله ، فعندما أشار إلي الماضي قال :&#8221; فإني بعصاي عبرت هذا الأردن والآن قد صِرت جيشين &#8220;(تك٣٢: ١٠) . كأنه يقول يارب بعصاي فقط والتي كانت معي عبرت الأردن وصِرت بعد ذلك سيداً لكثيرين نائلاً رضاك .</p>
<p>دعونا نحن أيضاً أن نعرف من كل هذا إنه يجب أن نكون ودعاء وصانعي سلام راغبين بكافة الطرق أن نحيا في سلام ، لأنه مكتوب :&#8221; عبد الرب لا يحب أن يُخاصم بل يكون مترفقاً بالجميع &#8220;(٢تيمو٢: ٢٤) . ويجب علينا أيضاً أن نستخدم الطرق والأساليب البشرية كما فعل يعقوب ، لأجل الصلاح ، وهذه لن تعيقنا ، بل ستكون من الأمور الممدوحة طالما تهدف إلي السلام والمصالحة . ومن الضروري عندما نفعل هذا الأمر أن نطلب عناية الله والمعونة السماوية بدون أن نكون &#8221; متفاخرين &#8221; (انظر رو١٢: ١٦) ، بل متذكرين بالحري ما هو مكتوب &#8221; ازدد تواضعاً ما ازددت عظمةً فتنال حُظوةً لدي الرب &#8220;(حكمة ابن سيراخ ٣: ١٨) -انظر (فيلبي ٢: ٣) .</p>
<p>فلنسعَ أن نحيا ونعمل بهذه الطريقة، وسوف نربح خيرات الصلح والسلام ، وهؤلاء الذين لهم أساليب شرسة ضدنا ، سوف نجعلهم مسالمين . لأنه يقول:&#8221; ستكون الوحوش مسالمة لك &#8221; (أيوب ٥: ٢٢س)<a href="#_ftn2" name="_ftnref2">[2]</a> .</p>
<h4>القديس غريغوريوس النيسي</h4>
<p><strong>تبعية الرب</strong></p>
<p>والآن بعد أن تقدمت النفس فى علاقتها مع الله وأصبحت فى حمايته وفقا لوعده ، فان يد الرب تشير الى القوة التى تفوق كل شىء لأن الرب يسوع المسيح هو القوة الذى خلق كل الأشياء ، هو الهدف الذى يسعى اليه كل أحد وهو الطريق الذى به يصل من يسير وفقا لكلمته ، وهو الصخرة لأولئك الذين جاهدوا فى الصعود وهو القصر بالنسبة للذين حصلوا على الراحة . وهنا تسمع النفس دعوتها من الله وعندئذ تأخذ مكانها خلفه وهى تتبع الرب وفقا للوصية الالهية التى فهمها داود النبى حين قال &#8221; الساكن فى ستر العلى فى ظل القدير يبيت بخوافيه يظللك وتحت أجنحته تحتمى &#8221; (مز١٠٤: ١، ٤) فهذه تشير الى الرب لأن الكتفين والأجنحة هما الخلف والمقصود هو أن نسير خلف الرب .  أما يمين الرب غطت الصخرة وغطت موسى فقد تحدث عنها داود النبى حين قال &#8221; يمين الرب مرتفعة يمين الرب صانعة ببأس &#8221; (مز١١٨: ١٦) وما حدث مع موسى النبى قد شرحة الرب لتلاميذه حين قال لهم &#8221; ان أراد أحد أن يأتى ورائى &#8221; (لو٩: ٢٣) فهو لم يقل أن أراد أحد أن يسير أمامى أو حين سئل عن كيفية الوصول الى الملكوت قال &#8221; تعال واتبعنى &#8221; (لو١٨: ٢٢) . موسى النبى طلب أن يرى الله فأعطيت له هذه التعليمات لكى يراه ، رؤية الله معناها تبعيته الى حيث يقودنا هو حسبما يريد . ومرور الله يشير الى قيادته للنفوس التى تتبعه . لأن كل من لا يعرف الطريق لا يمكن أن يصل بسلام وبذلك يلزم الأمر الى مرشد يقودنا فى الطريق ، والمرشد لابد أن يسير أمامنا ونحن نتبعه ونسير خلفه،  وما دمنا نسير خلفه ونرى ظهره لأننا سوف نصل ، أما اذا رأينا وجه المرشد فان معنى هذا اننا نسير فى اتجاه مخالف لطريق المرشد، ولذلك يقول لأولئك الذين يتبعونه &#8221; لا يرى أحد وجهى ويعيش &#8221; (خر٣٣: ٢٠) فالمعنى هو لا تأتوا من أتجاه آخر وتكونوا فى مواجهة المرشد والا ستكونوا سائرين فى الاتجاه العكسى تماما،  ولان الصلاح يجب أن يكون فى نفس اتجاه البر والفضيلة وليس فى عكس اتجاهما ، أما الذى يأتى فى الأتجاه العكسى للخير فهو الشر لان الشر هو دائما السير فى الاتجاه العكسى فى الفضيلة ، ولايمكن أن تكون الفضيلة عكس البر والصلاح ، ولذلك يرى موسى الله وجها لوجه ولكنه فقط رأى خلفه والذى يرى وجهه – أى الذى يعيش حياه تخالف الفضيلة &#8212;  مواجهة لن يعيش كما يخبرنا الوحى الالهى .  ولذلك كم هو مهم أن تتبع الرب ، لأنه بعد الصعود الى الجبل العالى ورؤية هذه المناظر الرائعة جدا كان موسى النبى قد أقترب من نهاية حياته على الأرض وحسب أهلا أن يأخذ تلك النعمة بعد أن تعلم كيف يسير خلف الرب . وتبعيتة الرب هى عدم السير فى الخطية<a href="#_ftn3" name="_ftnref3">[3]</a>.</p>
<h4>أيضاً للقديس غريغوريوس النيسي</h4>
<p><strong>مفهوم الصلاة والطلبة وإرتباط الصلاة بعطية الملكوت</strong></p>
<p>هذا الملكوت، ليس هو سوى الفرح الذي يحمله الروح القدس إلى نفوسنا من السماء. إنه عربون وعينة الفرح الأبدي الذي تتمتع به نفوس القديسين في الحياة التي نترجاها.</p>
<p>هكذا يقودنا الرب ويسندنا في كل ضيقتنا بقوة الروح القدس لكي يُخلصنا، ويُعطينا الخيرات الروحية ومواهبه وعطاياه، لأن الرسول يقول: &#8220;الذي يُعزينَا في كلّ ضيقتنا، حَتى نستطيع ان نعزي الذين هم في كل ضيقة&#8221;، وأيضا يقول المرنم: &#8220;قلبي وَلَحْمِي يَهتفان بالإله الحَي&#8221; ، وأيضا &#8220;كما من شحم وَدَسمٍ تُشبَع نفسي&#8221; ، إن كل هذا يعلن بطريقة سرية عن الفرح والقوة التي يهبنا إياها الروح القدس.</p>
<p>ولأننا أظهرنا واوضحنا ما هو هدف التقوى، والذي يجب على كل من يختار الحياة المرضية أمام الله أن يضعه أمامه. هذا الهدف هو نقاوة النفس، وسكنى الروح القدس داخلها بواسطة الأعمال الصالحة التي تُساهم في نمونا الروحي، فيجب على كل واحد منّا، بعدما يُعد نفسه بالطريقة التي أوضحتها، وبعدما يملأ نفسه بالعشق الإلهي، أن يُسلم ذاته للصلوات والأصوام وفقًا لإرادة اللّه.</p>
<p>وليتذكر دومًا كلمات الذي قال: &#8220;صلوا بلا انقطاع&#8221; ، وأيضًا &#8220;مُواظبِينَ عَلَى الصّلاة&#8221; ، بالإضافة إلى وعد الرب: &#8220;أَفَلاً يُنْصفْ اللّهُ مُخْتّارِيه، الصّارخين إِليْه نهَارًا وَلَيّلاً&#8221; لأنه يقول: &#8220;في أنَّهُ ينبغي أَنْ يُصلَّى كل حين ولا يمل&#8221;.</p>
<p>إن الغيرة في الصلاة، تمنح عطايا عظيمة، وتجعل الروح القدس يسكن في النفوس، وهذا يظهر بوضوح من خلال حث الرسول بولس لنا، بأن نكون &#8220;مْصِلَينَ بكُلَ صلاة وطلبّة كل وَقْت فِي الروح، وَسَاهِرِينَ لهذا بعينِهِ بكلّ مُواظبَة وطلبَة &#8221;.</p>
<p>حتى أنه لو أن أخًا من الاخوة سلّم نفسه لهذا القسم من الفضيلة أعني الصلاة فسيدّخر لنفسه كنزا حسنا، إذ أنه عاشقًا للصلاح الأعظم. فقط فليمارس كل واحد ذلك بضمير صالح ومستقيم دون أن يترك ذهنه قط للخداع، ولا كمن هو مضطر أن يؤدي واجبًا دون إختيار أو بدون إراداته، بل كمن يُتمم محبة نقية، ويُعبرٌ عن إشتياق النفس للإتحاد بالله، مُقدمًا للجميع تلك الثمار الصالحة الناتجة عن ثباته في الإيمان.</p>
<p>إلا أنه ينبغي على الجميع أيضا، ان يعطوا له الفرصة، ويُعبروا عن فرحهم لأنه يسير في طريق الصلاة دومًا.</p>
<p>وذلك حتى يَجِنُوا النتائج الصالحة، لأنهم بهذا يصبحوا شركاء في هذه الحياة (حياة الصلاة) من خلال مشاركتهم في هذا الفرح. وسيّمنح للذين يطلبون الرب، الطريقة التي يجب أن يُصلوا بها، وفقًا للكلمة القائلة: &#8220;الذي يُعطي كيف ينبغي أن يُصلىّ هو الذي يُصلي داخلهم&#8221;.</p>
<p>إذا يجب على مَن يُصلي على الدوام ان يطلب وأن يعرف عملاً واحد له هذا القدر من الأهمية، وان يُمارسه بكل غيرة وبكل قوة، وأن يُكرس نفسه للجهاد.</p>
<p>فالمكافأت الكبرى تتطلب جهادا كبيرًا، لأن الخطية متربصة وتختبر المؤمن من كل جهة وتلتف وتُضلل وتسعى لتحويل الإهتمام نحو إتجاه آخر.</p>
<p>من هنا يأتي النوم والخمول الجسدي وضعف النفس واللامبالاة وعدم الحذر وعدم الحرص وعدم الإحتمال والقلق وكل أعمال الشر. وهذه كلها تقود إلى الهلاك وإختطاف النفس من كل جانب، وتجعلها تتحول إراديًا إلى معسكر العدو.</p>
<p>إذًا يجب ان يكون الذهن مثل قائد حكيم يُراقب النفس دون ان يتراجع على الإطلاق أمام القلاقل التي يُثيرها الروح الشرير، ويتطلع دوما نحو الميناء السماوي، ويسلم نفسه بشكل تام وكامل للّه فهو الأمين عليها، والذي يطلبها دائمًا.</p>
<p>وليس هو أمرًا مهما ومرضيًا بحسب تعليم الكتاب المقدس، أن يسقط أحد على ركبتيه، مُتشبهًا بالذين يُصلون وهم سجودًا حتى أن جباههم تلامس التراب، بينما فكرهم مُشتتا وبعيدًا عن اللّه، بل يجب على من يصلي أن يطرد من أفكاره، كل خمول وكل فكر متعسف، وأن يُكرس نفسه وجسده للصلاة <a href="#_ftn4" name="_ftnref4">[4]</a>.</p>
<h4>القديس أغسطينوس</h4>
<p><strong>على الجميع أن يتمثلوا بالشهداء</strong></p>
<p>الشهيد بشر مثلنا . ومن خلقه ؟ أليس الذى خلقنا نحن أيضا ؟ لقد افتدينا بالثمن نفسه الذى افتدى هو به . ولذلك وجب على أى مسيحى ألا يقول : لماذا على اتباع هذا المثال ؟ وبالطبع لا يجب على المسيحى أن يقول : أنا لن أقتفى أثر قدوته .</p>
<p>لقد سمعتم كلمات الطوباوى كبريانوس بوق الشهداء ومثالهم : &#8221; فى الاضطهاد والقتال يكلل ( المسيحى ) ، وينال الجعالة فى السلام والثبات  &#8220;. ومنذ ذلك الحين ، فلا يفكر الانسان أنه تنقصه الفرصة . ففرصة ( الانسان ) للتألم هى غائبة أحيانا ، ولكن فرصته للصلاة والتعبد هى حاضرة دوما .</p>
<p></p>
<p>أتمنى ألا يظن الانسان أنه ضعيف حينما يمنحه الله القوة ، فلا يخف من أجل ضعفه ، ولا يخف حتى من أن يفقد الثقة فى ( الرب ) العامل فيه . فى الحقيقة ان الله قد أراد كلا الجنسين وجميع الأعمار أن يتمثلوا بالشهداء . الطاعنون فى السن نالوا الاكليل  ، والشباب ، والمراهقون ، والأطفال نالوا أيضا الاكليل . وليس الرجال هم الذين تكللوا بل والنساء أيضا نساء من كافة الأعمار . فلم تقل النساء أنه بسبب جنسهن هن غير قادرات على تحمل الغلبة على الشيطان . بل بالأحرى جميعهن عقدن العزم على هزيمة العدو الذى قهرهن ، وأن يصارعن بايمان المضلل الذى قبلن حيله . ولكن ، هل اعتمدن على قوتهن بعجرفة ؟ قيل لجميع البشر : &#8221; وأى شىء لك لم تأخذه ؟ &#8221; (١كو ٤: ٧) ، ولذلك فان مجد الشهداء هو المسيح ؛ هو ( المسيح ) يقود الشهداء ، يهبهم القوة ، ويكافئهم بالاكليل . وعلى الرغم من أن السلام يسود فى وقت معين والاضطهاد يحتدم فى وقت آخر ، ( الا أننا نسأل ) هل هناك وقت ما لا يكون فيه اضطهاد مخفى ؟ فالاضطهاد المستتر هو معنا دوما ، لأنه مع أن التنين والأسد والأفعى لا يهاجمون ولا يتربصون دائما ، الا أنهم فى ملاحقة عدائية ( لفرائسهم ) دائما .ان كان هجومه ظاهرا فتربصه غير ظاهر ، ولما يكون تربصه غير ظاهر فهجومه أيضا غير ظاهر . فى كلمة : عندما يهاجم مثل الأسد فلا يزحف مثل الأفعى ، وعندما يزحف مثل الأفعى فلا يهاجم مثل الأسد . ولكن لأنه هو كلا الاثنين  الأسد والأفعى  فهو فى ملاحقة عدائية دائما. وحينما لا يسمع زئيره فاحترس من تربصه . وحينما يكشف عن تربصه فابتعد عن زئيره بعيدا . فان ثبتم قلوبكم فى المسيح فانكم ستتجنبون كلا من الأسد والأفعى. ان أهوال وآلام هذه الحياة هى زائلة بالحق ، بينما فى الحياة الأخرى لا يزول ما نحبه ، وما نخافه يضمحل <a href="#_ftn5" name="_ftnref5">[5]</a> .</p>
<h4> القديس كبريانوس أسقف قرطاجنة الشهيد</h4>
<p>أيها الإخوة الأحباء، الآن إذ نرى هذه الأمور، فلنحصن قلوبنا التي تكرست الله بشجاعة ويقظة رافضين مثل هذا الشر العظيم المهلك، وليكن موت الآخرين (الشخصيات التي ذكرت) نافعا لخلاصنا، وتكون عقوبة الأحمق منفعة للحريصين. ولكن مع ذلك فلا يظن أحد أن هذه الخطية تأخذ شكلاً واحدا فقط أو تنحصر في حدود ضيقة أو تقتصر على نطاق محدود. إن الهلاك الذي تسببه الغيرة متعدد، ومنتشر على نطاق واسع. إنها مصدر كل الشرور، ومنبع الكوارث، بذرة الخطية، وأصل التعديات، منها تنشأ الكراهية ومنها تخرج العداوة. فالغيرة تلهب الطمع عندما لا يكون الإنسان مكتفيا بما عنده، عندما يرى شخص آخر أكثر منه رفعة ومجداً. فعندما تعمي الغيرة الحواس وتخضع العقل لسيطرتها، حينئذ لا تصير لمخافة الله اعتبار وتهمل تعاليم المسيح ولا يكترث الإنسان ليوم الدينونة، فالكبرياء تنفخ، والقسوة تجلب المرارة، وعدم الاحتمال يثير النفس، والخلاف في الرأي يجلب الحنق، وهكذا تتحطم رابطة السلام، وتنتهك المحبة الأخوية، ويفسد الحق، وتنقسم الوحدة، ويتورط الشخص في الهرطقات والانشقاقات، خاصة عندما يزدري بالكهنة أو يغار من الأساقفة أو عندما يشتكي من عدم سيامته هو نفسه كاهنا أو أسقفا، أو عندما يستنكف من احتمال من  صار أعلى رتبة منه محتقرا إياه.</p>
<p>هكذا يتمرد الشخص المتكبر بسبب الغيرة، ويصير ضحية للحسد، فيثور بغضب على عدوه مريدا إلحاق الأذى به، هنا تكون الثورة لا ضد الشخص ذاته، بل ضد الكرامة التي نالها.</p>
<p>هكذا تكون الآكلة التي تأكل النفس، والوباء الذي يملك أفكار الإنسان، كم تكون كمية الصدأ التي لهذا القلب عندما يغار من فضيلة إنسان آخر أو سعادته، وأن يكره فيهم مواهبهم أو النعمة الإلهية التي فيهم، وأن يرى في خير الآخرين شر له، وأن يتعذب من نجاح الآخرين، وأن يجعل من مجد الآخرين سبب عقوبة له، وأن يكون جلادا لقلبه. إن أعماق هذا القلب تصاب ببراثن البغضة والكراهية. مثل هؤلاء الناس لا يهنأ لهم طعام ولا يلذ لهم شراب، بل هناك دائما تنهد وأنين وآلام، لأن القلب محاصر بها ليلا ونهارا على الدوام.</p>
<p>الشرور الأخرى لها حدود وأي خطايا يرتكبها الإنسان لها نهاية. فجرم الزاني يتوقف بعد اقترافه لفعل الشهوة وجرم القاتل عندما يقترف القتل. وجشع السارق يتوقف بامتلاك الغنيمة. أما الغيرة فلا نهاية لها، إنها شر دائم وخطية لا تنتهي، فطالما وجد المحسود نجاحًا أكبر كلما إلتهب قلب الحاسد بلهيب أكثر .</p>
<p>من هنا نرى تعبيرات الوجه المتوعدة، والنظرة الشريرة، والوجه الشاحب وارتعاش الشفتين وصرير الأسنان والكلمات</p>
<p>الماجنة والإهانات التي بلا ضابط واليد المتأهبة لوحشية القتل، فحتى لو  كانت الأيدي بلا سيف فهي متسلحة بالكراهية النابعة من عقل متقد بالغضب، ولذلك يقول الروح القدس في المزمور: «لا تغر من الذي ينجح في طريقه، من الرجل المجري مكايد» (مز ٣٧: ٧) وأيضا «الشرير يتفكر ضد الصديق ويحرق عليه أسنانه. الرب يضحك به لأنه رأى أن يومه آت» (مز٣٧: ١٢، ١٣).</p>
<p>كذلك يشير ويحذر الطوباوي بولس من ذلك عندما يقول: «حنجرتهم قبر مفتوح. بألسنتهم قد مكروا.سم الأصلال تحت شفاهم. وفمهم مملوء لعنة ومرارة. أرجلهم سريعة إلى سفك الدم. في طرقهم اغتصاب وسحق. وطريق السلام لم يعرفوه. ليس خوف الله قدام عيونهم» (رو٣: ١٣-١٨).</p>
<p>عندما تجرح الأعضاء بالسيف فالشر يكون أهون والخطر لأن العلاج يكون أسهل عندما يكون الجرح ظاهرا. أما جراح الغيرة فهي خفية ودفينة لذلك فلا تقبل الشفاء، الغيرة كامنة في أعماق النفس المظلمة. فمن هو حسودا أو خبيثا فلينظر كم يكون ماكرا ومؤذيا وكارها لمن يكن لهم البغضة. إنك لست عدوا لخير الآخرين بقدر ما أنت عدو لذاتك. فأيا كان من تضطهده بغيرتك، فهو قادر على الهرب منك وتجنبك، ولكنك لا تستطيع أن تهرب ذاتك فأينما كنت، يكون خصمك معك، العدو دائما في قلبك، والهلاك مغلق عليه داخلك، وأنت مقيد ومربوط بسلاسل من القيود لا مفر منها، أنت أسير الغيرة التي هي سيدك وليس من عزاء ليخفف عنك. إنه شر دائم أن تضطهد شخصا أنعم الرب عليه، إنها نكبة بلا علاج أن تكره من هو سعيد.</p>
<p>لذلك أيها الإخوة الأحباء حذرنا الرب من هذا الخطر لئلا يقع أحدا في فخ الموت بسبب غيرته من أخيه، فعندما سأله التلاميذ من الأعظم بينهم قال: «الأصغر فيكم جميعا هو يكون عظيما» (لو ٤٨:٩). وبجوابه هذا قطع كل غيرة واستأصل ومزق كل سبب وأساس للحسد. تلميذ المسيح غير مسموح له أن يكون حاسدا فلا مجال للنزاع بيننا على مجد السلطة، بل بالاتضاع نصل إلى أعلى الدرجات، ونصير مرضيين أمامه.</p>
<p>وأخيرا يرشدنا وينصحنا بولس الرسول أيضا عن كيف يجب علينا نحن الذي استنرنا بنور المسيح وهربنا من ظلمة أعمال الليل، أن نسير في أعمال النور، فيكتب ويقول: «قد تناهى الليل وتقارب النهار، فلنخلع أعمال الظلمة ونلبس أسلحة النور. لنسلك بلياقة كما في النهار: لا بالبطر والشكر، ولا بالمضاجع والقهر، ولا بالخصام والحسد» (رو١٣: ١٢، ١٣). فإذا فارق الظلام قلبك وانقشع منه الليل وإذ تلاشت الغيوم وأضاء بهاء النهار حواسك وإذ بدأت أن تصير إنسانًا للنور، فاعمل الأعمال التي للمسيح، فالمسيح هو النور والنهار <a href="#_ftn6" name="_ftnref6">[6]</a>.</p>
<h3>عظات آباء وخدام معاصرين</h3>
<h4>المتنيح الأنبا أثناسيوس مطران بني سويف والبهنسا</h4>
<p><strong>العظمة والخدمة: (مت ٢٠: ٢٠-٢٨)</strong></p>
<p>واذ لازال التلاميذ يتصورون الملكوت أرضيا وأنه وشيك أن يبدأ في أورشليم تتقدم أم يعقوب ويوحنا باسم ابنيها لتطلب أن يكونا کالوزيرين الأولين حوله . وواضح أن أبنيها مشتركان في هذا الطلب لأن الرب حين أجاب وجه الكلام اليهما &#8221; لستما تعلمان ما تطلبان &#8221; • ولقد تغير كل هذا بعد حلول الروح القدس ، فيوحنا يقدم بطرس عنه في مواقف مختلفة يو ٦: ٦٨، ٦٩، ٢٠: ٦ ، ويعقوب يكون أول المستشهدين وبذا تكمل كلمة الرب &#8221; أما كأسي فتشربانها &#8220;.</p>
<p>وقد أثار هذا الطلب شعور التلاميذ ، ولذلك خاطبهم السيد جميعا بأن العظمة هي في الخدمة ومن أراد أن يكون فيهم أولا فليكن للجميع عبدا ، وأن يتمثلوا به لأنه ما جاء سيدا بل خادما .</p>
<p>( آية ۲۳ ) وأما الجلوس عن يميني وعن يساری ۰۰. قال الاريوسيون أن هذه الآية تدل على عدم المساواة بين الأبن والآب ولكن واضح أنها تقصد أن المجازاة في النهاية بفعل العدل لا الرحمة<a href="#_ftn7" name="_ftnref7">[7]</a>.</p>
<h4>المتنيح الأنبا يؤانس أسقف الغربية</h4>
<p><strong>ماذا عملت الكنيسة في محنة الاضطهاد</strong></p>
<p>عرضنا في الباب السابق لبطولة الشهداء المسيحيين وروحانيتهم من كل ناحية ، الامر الذى قدم أحسن شهادة للمسيحية كديانة… لكن هؤلاء الشهداء لم يكونوا وحدهم في المعركة … كانت وراءهم كنيسة حية ساهرة ، قامت بواجبها خير قيام … ولولا ذلك لانهارت الجبهة المسيحية أمام بطش الدولة وكراهيتها ، حينما كان يحصد يومياً العشرات والمئات وأحياناً الآلاف من أبنائها …</p>
<p>ماذا فعلت الكنيسة في تلك الفترة ؟</p>
<p>هذا هو السؤال الذى نناقشه في هذا الباب من الكتاب … وفى إجابة سريعة نقول :</p>
<p>لقد اهتمت الكنيسة بتجديد النفوس وشحنها روحياً ، عن طريق الحث بالتعليم ١-</p>
<p>٢- واهتمت ببناء النفوس في الايمان الاقدس . وقد تم ذلك في الاجتماعات السرية للعبادة ، التي كانت تعقد في سكون الليل … وعلى الرغم من أنها كانت عرضة للمفاجأة والمباغتة في أية لحظة ، بواسطة السلطات الحكومية – وهذا ما كان يتكرر حدوثه – فقد حرص المسيحيون على حضور هذه الاجتماعات – وأرواحهم على أكفهم – لخدمة الكلمة والاسرار المقدسة … وقد تضمنت هذه الاجتماعات قراءات الأسفار المقدسة ، وتقديم الصدقات ، والصلاة ، والتعليم ، والوعظ ، وإقامة القداس الالهى لتقديس الافخارستيا ،</p>
<p>٣- رعاية المعترفين والشهداء من جميع الوجوه</p>
<p>٤- اهتمت الكنيسة باثبات صحة موقفها أمام العالم ، وايضاح المسيحية ، ودفعت عن نفسها الاتهامات ، التي حاول اعداؤها المغرضون تشويهها بها . وهذا هو ما قام به فريق من المسيحيين عرفوا باسم المدافعين .</p>
<p>اهتمامها بوضع من ضعفوا ، وجحدوا الايمان ابان الاضطهادات العنيفة ، وأبدوا رغبة في العودة إلى حضن الكنيسة ثانية ٥-</p>
<p>وسنتناول بالشرح في الفصول القادمة النقاط الثلاثة الأخيرة ( ٣ ، ٤ ، ٥ ) ، وهو ما يدخل في نطاق بحتنا في هذا الكتاب. وبعدها نعرض لوضع المعترفين في الكنيسة ، ثم نشير للنهاية السيئة ، التي انتهى اليها أعداء المسيحية ، وأخيراً نختت بالحديث عن مكانة الشهداء في الكنيسة …</p>
<p>رعاية الكنيسة للمعترفين والشهداء</p>
<p>عملت الكنيسة ما بوسعها إزاء من قدموا حياتهم ثمنًا للإيمان الأقدس ، ونالوا من العذابات ما يجل عن الوصف . فاهتمت بالمعترفين والشهداء وهم في السجون تحت المحاكمة … وأظهرت رعايتها لهم روحياً ونفسياً ، كما اهتمت بسد احتياجاتهم المادية … لقد كان كل غرض الكنيسة أن تخفف من آلام الاسر وآلام الاضطهاد … ولقد نجحت الكنيسة في ذلك ، وكان نجاحها أكثر مما كان يتوقع في أمثال الظروف والمحن التي مرت بها .</p>
<p>الرعاية النفسية :</p>
<p>ونقصد بها تشجيع الكنيسة للمعترفين في وقت محنتهم ، ورفع معنوياتهم . وقد تم ذلك عن طريق زيارات الخدام وأفتقاداتهم للمحبوسين ، وبواسطة رسائل التشجيع التي كانت ترسلها اليهم الكنيسة .</p>
<p>( أ ) بالزيارات :</p>
<p>لقد سمع الحكام الوثنيون لاقارب المعترفين المسجونين وأصدقائهم بزيارتهم في سجونهم ، ظنا منهم أن مقاومة هؤلاء المعترفين تضعف إزاء توسلات ذويهم والحاحهم ، تحت تأثير العاطفة . أضف إلى هذا حفظة السجن في تلك العهود ، كانوا غالباً جماعة من المرتشين ، وكان من السهل شراء محاباتهم وتغاضيهم بالرشوة ..</p>
<p>وقد سهلت هذه الناحية على الكنيسة  &#8211; خداماً وافراداً – مهمة رعاية المعترفين في سجونهم … وطبعاً لا يخفى علينا اثر الزيارات في رفع معنوية الانسان المحبوس ، حتى أن رب المجد يعتبر هذا العمل ، الذى نعمله مع أحد الناس ، كأننا قد قمنا به نحوه شخصياً : &#8221; كنت محبوساً فأتيتم إلى &#8221; ( مت ٢٥ : ٣٦ ) … ويصف لنا القديس كبريانوس أسقف قرطاجنة الشهيد كيف أن أعداداً كبيرة من أصدقاء المحبوسين ، كانوا يحيطون بهم ، حتى أنهم في غمرة حماسهم نسوا أبسط مبادئ الحذر من مضطهديهم … وكانت هذه التجمعات تنشئ عزاء كبيراً للمحبوسين ، تحت أبهاء السجون المظلمة .</p>
<p>( ب ) بالرسائل :</p>
<p>وكانت الكنيسة تواصل افتقادها للمعترفين المحبوسين عن طريق رسائل التشجيع والتعزية …</p>
<p>كتب كبريانوس إلى بعض الكهنة المسجونين من أجل المسيح يقول : &#8221; … وكأننا نحن محبوسون معكم ، لأننا بالقلب معكم ، نشعر مثلكم ، بما أنتم مدينون به من الشرف لجوده تعالى . والمحبة التي تجمعنا نفتخر بافتخاركم . ولا شيء يقطع المحبة متى كانت روحية . فان محبتى لكم ، تحملنى إلى حيث يحبسكم اعترافكم &#8221; .</p>
<p>وفى رسالة أخرى يقول لبعض المعترفين المسجونين ، مشيراً إلى قيودهم الحديدية : &#8221; ان هذه ليست سلاسل ، انها حلى للزينة . أيتها الاقدام المقيدة التي للطوباوييين ، التي تقطع الطريق إلى الفردوس ! &#8221; . ويقول أيضاً موجهاً كلامه إلى كنيسة قرطاجنة : &#8221; في أوقات الاضطهاد ، تغلق الأرض أمامنا  ، لكن السماء تفتح . ضد المسيح يهدد ، لكن المسيح يعين . الموت يغلبنا ، لكن الخلود يتبعنا . العالم يتنحى عنا ، والفردوس يقبلنا . تنتهى هذه الحياة القصيرة ، لتبدأ الحياة الأبدية . يا له من شرف ، يا له من سلام ، يا له من فرح ، أن نرحل هكذا في مجد وسط الاضطهاد والضيق ، ونغمض أعيننا عن العالم والبشر ، لنفتحها في وجه الله ومسيحه . يا لها من رحلة قصيرة ! &#8221; .</p>
<p>الرعاية المادية :</p>
<p>في تلك الأزمنة الصعبة ، التي تعرض فيها المسيحيون لضغط الدولة ومصادرتها لممتلكاتهم وفصلها أياهم من وظائفهم ، كما تعرضوا للدهماء والسوقة وهياجهم وحوادث نهبهم لبيوتهم … كان لابد للكنيسة أن تعمل عملًا ، ترعى هؤلاء الذين يذودون عن الإيمان ، وتسد كل احتياجاتهم المادية . وقد أوفت الكنيسة هذه الناحية ، عن طريق حثها الاخوة المؤمنين على الاسهام في احتياجات المعترفين والشهداء ، ثم بطريقة مباشرة عن طريق مساعدتها لهم على يد خدامها …</p>
<p>( أ ) بواسطة الأخوة المؤمنين :</p>
<p>كانت الكنيسة تحث أبنائها على مساعدة المعترفين في حبسهم بكل أنواع المساعدات … ومعاملة المؤمنين المسيحيين لاخوتهم المحبوسين ، مصورة تصويراً بديعاً ، فيما كتبه لوكيان عن حياة برجونوس فبعد أن شرح كيف أعتنق هذا الشخص المسيحية في فلسطين ، استطرد قائلًا &#8221; وأخيراً قبض عليه بتهمة المسيحية وألقى في السجن &#8221; . ولما زج به في السجن لم يترك المسيحيون وسيلة لاطلاق سراحه ثانية . ولما تبينوا استحالة هذا الأمر ، قاموا بكافة الخدمات التي يحتاجها بكل شغف . وكان يتجمع عند باب السجن منذ الصباح الباكر ، نساء عجائز ، وبعض الارامل وأطفال صغار أيتام ينتظرون . أما الشخصيات البارزة منهم ، فكانوا يستطيعون ، حتى النوم داخل السجن ، مع المعترفين المسجونين عن طريق رشوة السجانين . وهكذا كانت الوجبات الطيبة تحمل إلى داخل السجن ، وتقرأ الكتب المقدسة … بل ان بعض مدن مقاطعة آسيا – التي جاء منها بعض المسيحيين لزيارته – أظهروا استعداداً لمساعدته أمام القضاء ، وبذل ما في وسعهم لراحته … أخيراً أفرج عنه حاكم سوريا  .</p>
<p>( ب ) بواسطة خدام الكنيسة :</p>
<p>كانت الكنيسة تجمع مبالغ ضخمة لصالح المعترفين والشهداء المضطهدين ويقول كبريانوس في رسالة له : &#8221; بالنسبة للعون الذى يقدم لأولئك الذين زجوا في السجون بعد أن اعترفوا باسم الرب ، آمر الا يهمل في أي شيء . لأن كل المبلغ المشار اليه وزع على الكهنة لهذا الغرض &#8221; . وكدليل على رعاية الكنيسة المادية للمعترفين ، ما أصدره كبريانيوس من تعليمات بخصوص المعترف كلرينوس ، وكان قارئا ( أوغنسطسا ) في الكنيسة ، اذ أمر أن يصرف له مرتب قسيس .</p>
<p>وهناك رسالة للقديس كبريانوس أسقف قرطاجنة دونها من مخبئه سنة ٢٥٠ حيث كان مختفياً أبان اضطهاد ديسيوس – توضح لنا دور الكنيسة بالنسبة لرعاية المعترفين والشهداء ماديًا :</p>
<p>&#8221; من كبريانوس إلى اخوته الكهنة الشمامسة … سلام أيها الاخوة الأعزاء  ..</p>
<p>اذكر انى نبهتكم برسائل خاصة ، وكررت التنبيه ، أن تهتموا كل الاهتمام بالمسجونين ، وقد اعترفوا بالرب اعترافاً شريفاً . وها أنذا أعود إلى ما سبق ، خوفاً من أن تنقض عنايتكم بمن لا ينقصهم المجد . ولو كان وضعى يسمح لى بهذا الاهتمام ، لما تأخرت عن القيام به عن طيب خاطر . لأن المحبة تحتم علينا هذه الخدمة نحو أخوة بواسل . لكننى أعتمد على عزيمتكم ، بأن تنوبوا عنى في هذه المهمة . أعملوا كل ما ينبغي عمله نحو من أعزهم الله ، بمثل هذه الفضائل من الايمان والقوة .. ثم انى طالما قلت لكم في رسائلى ، انه يجب الا ينقص اهتمامكم بالفقراء ، ولا تضعف غيرتكم نحوهم هؤلاء الفقراء الذين لم يغادرون معسكر المسيح ، بل ظلوا ثابتين معنا في الإيمان والجهاد . ولتكن عنايتنا بهم ، وحبنا لهم فوق صبرهم على الفقر ، وفوق احتمالهم للاضطهاد ، فانهم في اخلاصهم للرب صاروا مثلاً في الإيمان لجميع الفقراء … &#8221;</p>
<p>ويؤكد القديس كبريانوس هذه المعانى في رسالة أخرى الى اكليروس ابيارشيته فيقول :</p>
<p>&#8221; إنى اعتمد على محبتكم وتقواكم – ويكفنى ما بى من محن – وأسألكم ، انتم الذين لا خطر على وجودكم حيث أنتم ، أن تنوبوا عنى في السهر على ما يطلبه الدين من خدامه . اهتموا بالفقراء دائمًا بقدر امكانكم ، إن كانوا على الأقل متمسكين بالايمان ولم يهجروا معسكر المسيح &#8221; .</p>
<p>&#8221; وعليكم ان تخففوا بغيرتكم بؤسهم ، حتى لا تقدر الحاجة أن تنال من شقائهم ، ما لم يقدر الاضطهاد أن يناله من ايمانهم . وليكن عندكم عناية خاصة بمعترفينا الأمجاد فأنا عارف أن كثيرين منهم ترعاهم محبة اخوتهم . ولكن ان كان بينهم محتاجون إلى المال ، أو إلى الملابس ، فأعطوهم ما يلزمهم من ذلك … &#8221; .</p>
<p>الرعاية الروحية :</p>
<p>( أ ) لأشخاصهم :  كانت الكنيسة تسهر على روحيات هؤلاء المعترفين الذين تحت المحاكمة . ويبدوا أن الأفراط في تقدير الناس لموقفهم البطولى ، وتكريمهم وتمجيدهم ، جعل الكنيسة تنبههم إلى الاحتراس من هذا المديح ، وتحذرهم من السقوط روحياً … فكتب القديس كبريانوس إلى الكهنة وشمامسة ايبارشيته يقول : &#8221; وليكن عندكم عناية خاصة بمعترفينا الأمجاد … ليعلموا في الوقت نفسه بواسطتكم ما يطلبه منهم نظام الكنيسة في أمانتها على وصايا الكتاب . فعليهم أن يكونوا متواضعين ، ودعاء ، وهادئين ، لكى يحافظوا على شرف اسمهم &#8221; معترفين &#8221; . لقد كانت كلمتهم مجيدة ، فليكن سلوكهم الآن كذلك . يجب أن يصيروا أهلاً لنعمة الله . وهكذا يناولون الإكليل السماوى . وعلى كل ، فالطريق أمامهم لم ينته . ويقول الكتاب &#8221; لا نمدحنّ أحداً قبل موته &#8221; . ويقول في موضع آخر &#8221; كن أمينا إلى الموت فسأعطيك أكليل الحياة &#8221; أما الرب فإنه يصرخ قائلًا : من يصبر إلى المنتهى يخلص . فليتشبهوا بالرب فإنه قرب آلامه لم يملأه كبرياء بل تواضعاً وحينئذ غسل أرجل تلاميذه وفسر عمله بقوله : إذ كنت أنا الرب والمعلم أغسل أقدامكم . فعليكم أنتم أن يغسل بعضكم أقدام بعض . أعطيتكم مثلاً حتى تعاملوا الغير كما عاملتكم . وليقتدوا بالرسول بولس ، كيف ظل  بعد السجن مراراً ، وبعد الجلد والوحوش وديعاً متواضعاً في كل حال . حتى بعد تذوق السماء الثالثة والفردوس ، فإنه لم يستكبر : لم نأكل حبز أحد مجاناً ، بل نعمل ليلاً ونهاراً ، ونكد ونتعب كيلا نثقل على أحد منكم . فأسألكم أن تبلغوا هذه التعليمات إلى أخوتى . وبما أن من يتضع يرتفع ، فحينئذ يجب الحذر من فخاخ العدو . فإنه يتحدى من غلبه ، ويكون أشد هولاً وشراسة ، وهو مغلوب ، حتى يثأر من غالبة . عسى الرب يقدرنى على رؤية معترفينا فألقى في نفوسهم ، بإرشاد خلاصىً، مبادئ صالحة . إنى أتألم حقاً حينما أسمع بسلوك بعضهم . إذ يسعون بلا حياء إلى العار . فيقضون الوقت في اللهو والمشاجرة . أيكونون أعضاء المسيح ، وقد اعترفوا بالمسيح . ويفقدوا كرامتهم بأعمالهم الحقيرة ؟ إن في مسلك العدد القليل الفاسد منهم ما يشوه مجد العدد الكبير من المعترفين الأفاضل … إن المعترف الحقيقى هو من لا تستحى الكنيسة به بل تفتخر به</p>
<p>( ب ) الصلاة لأجلهم :</p>
<p>وعلى نحو ما فعلت الكنيسة الأولى ، حينما كان بطرس الرسول مطروحاً في السجن ، اذ كانت ترفع صلاة بلجاجة إلى الله لأجله ( أع ١٢ ) … هكذا أيضاً الكنيسة في زمان الاضطهاد ، كانت تصير منها صلوات لأجل المعترفين والشهداء .. وما زالت أوشية المرضى التي تصليها الكنيسة في رفع بخور – وهى من القداس الكيرلسى أقدم قداساتنا – تحوى طلبات من أجل المعترفين في ضيقاتهم &#8221; … الذين في السجون أو المطابق ، أوالذين في النفى أو السبى أو المقبوض عليهم في عبودية مرة ، يارب اعتقهم جميعهم وارحمهم . لأنك أنت الذى تحل المربوطين وتقيم الساقطين . رجاء من ليس له رجاء ، ومعين من ليس له معين عزاء صغيرى القلوب ، ميناء الذين في العاصف ، كل الأنفس المتضايقة والمقبوض عليها . أعطها يارب رحمة ، أعطها نياحاً ، أعطها برودة ، أعطها نعمة ، أعطها معونة ، أعطها خلاصاً ، اعطها غفران خطاياها وآثامها … &#8221; .</p>
<p>وفى الطلبة فى القداس الكيرلسى أيضاً يقول الكاهن : &#8221; حل المربوطين ، خلص الذين في الشدائد &#8221; . وفى صلاة تحليل الكهنة التي تعقب صلاة نصف الليل ، يذكرهم الكاهن بقوله : &#8221; اذكر يارب … الذين في المطابق والسجون والذين في السبى والنفى … ردهم &#8221;</p>
<p>( ج ) الحفاظ على تراثهم وذخائرهم :</p>
<p>ونقصد بتراث الشهداء ، تدوين سيرهم ، والعذابات التي احتملوها ، والمحاكمات التي حوكموا بها ، والرؤى التي أعلنت لهم … وقد أهتمت الكنيسة اهتماماً بالغاً بحفظ هذا التراث ، الذى ظل إلى يومنا هذا ، كنزاً للبركة والتقوية والتعزية والمعونة … واستغلت الكنيسة فرصة سماح الحكام لأقارب وأصدقاء المعترفين المحبوسين في السجون بزيارتهم ، فكان خدامها يدونون كل كلمات الشهداء وآلامهم التي يحتملونها والرؤى التي تعلن لهم ، وهكذا وصل هذا التراث الينا .</p>
<p>أما ذخائر الشهداء ، فكانت تعنى الكنيسة بجمعها والحفاظ عليها كبركة عظيمة . ويقول القديس كبريانوس إلى الاكليروس في ايبارشيته &#8221; ويبقى أن تعنوا بأجساد من فارقوا هذه الحياة ، وانتهوا إلى نهاية مجيدة في السجون أو ماتوا بدون تعذيب … هذا وسجلوا انتقال هؤلاء الأخوة ( وفاتهم ) حتى نستطيع أن نحتفى بهم بين الشهداء .</p>
<p>وكانت الكنائس ترسل إلى بعضها رسائل حاوية لاخبار الشهداء ، كما فعلت كنيسة ازمير بخصوص استشهاد بوليكاربوس ، وعلى نحو ما فعلت كنائس ليون وفينا  ، في رسالة إلى كنائس آسيا الصغرى ، تصف فيها الاضطهاد الذى حل بهم سنة ١٧٧ على عهد مرقس أوريليوس ، ومن استشهدوا فيه<a href="#_ftn8" name="_ftnref8">[8]</a> .</p>
<h4>المتنيح الأنبا كيرلس مطران ميلانو</h4>
<p><strong>طلبات تنقصها أختام</strong></p>
<p>+ كنت استمع إلى ذلك الصديق وهو يقول : ترى من الذى يخبرنى ؟ ! من الذى يقول لى لماذا افعل ؟ !</p>
<p>+ أنا اصلى واقدم طلباتى وارفعها إلى الله ولكن طال انتظارى ؟ !</p>
<p>+ أين بلغت صلاتى ؟ ! اين ذهبت عندما وقفت اصلى ؟ !</p>
<p>+ هل خرجت فقط من شفتى لذا لم تصعد إلى اعلى ؟ !</p>
<p>+ ان كنت اخرجها من فم قلبى لماذا لم يستجيب الرب ؟ ! ام انا اتوهم انها خارجه من عمقى .</p>
<p>+ صلواتى وطلباتى رحلت امامى ولكن ملت نفسى من طابور الأنتظار ؟ !</p>
<p>+ نفسى نصحت قلبى وقلت تشجع وعد ارفع صراخك في فترة انتظارك فيمل منك الانتظار ويميل بعيد عنك ؟ !</p>
<p>+ في حيرة تساءلت نفسى ؟ ! يوجد من له المقدرة على ان يحاسب نفسه او غيرة ؟ ! ولكن هل يوجد من يحترس من نفسه ربما تخدعة ؟ !</p>
<p>+ قد يكون حكيماً في عينى نفسه ويخطو بنفسه في طرق يداها مستقيمة ولكن عاقبتها الموت ؟! (أم ١٤ : ١٢) .</p>
<p>+ لقد يرى في نفسه انه مدقق في أعمالة ؟ ! بينماً هو يحيا فريسياً ؟ !</p>
<p>+ يكون مدققاً لمن يتعدى الناموس والوصية ؟ ! في طبعة يبحث عن حجر يسرع به ليرجم النفس الخاطئة ؟ !</p>
<p>+ الملكوت في داخله .. هو ضبط الخاطئ ورجمة ؟ ! هذا ما يراه .. لا ينظر إلى نفسه حتى ولو حاد عن الوصية ؟ !</p>
<p>+ عدت احاسب نفسى ؟ ! لانها تقول ان الرب قال &#8221; اطلبوا تجدوا اسالوا تعطوا &#8221; وانها طلبت الرب ولم تجد ؟ ! وسالته ولم يعطها</p>
<p>+ اجتمعت مع نفسى وجلست اراجع اعمالى ؟ ! وقلت هل انا اصلى من اجل طلبتى ؟ ! وما هي طلبتى ؟ !</p>
<p>+ هلى صلاتى من اجل صلتى بالرب لكى تتحد وتنمو وتزداد فيه ولكى تزداد نفسى فى كل عمل صالح ؟ !</p>
<p>+ وان كنت اريد ان الرب يقتنى نفسى ؟ ! هل هو كل حياتى لا اعرف اخر سواه ؟! وهل ما يشغل قلبى هو ذكر اسمه القدوس ؟ ! كما نقول في القداس الإلهى &#8221; اقتننا لك يا الله لأننا لا نعرف اخر سواك اسمك القدوس هو الذى نقول له فلتحيى نفوسنا روحك القدوس &#8221;</p>
<p>+ وهل الله الذى اريده دائماً نفسى تطلبه باستمرار ؟ !</p>
<p>+ جلست اسال لمن يستجيب الرب ؟ ! ومتى يستجيب الرب للصارخين اليه وترى ماذا كانوا يرجون ؟ !</p>
<p>+ متى يغلب الرب من تحننه لطالبيه ؟ !</p>
<p>+ ومن هذه التي قال لها الرب &#8221; حولى عنى عينيك .. فانهما قد غلبتانى &#8221; (نش ٦ : ٥) .</p>
<p>+ ومن الذى يعيننى ويعلم عينى لغه الحديث .. فأخاطب بهما قلب الله ؟ ! ومنه اطلب ما يشتهى ان اطلبه لمحبيه ؟ !</p>
<p>+ من يحملنى إلى موسى النبي لكى اتعلم منه كيف كان يخاطب الله ؟ ! كيف كان يصرخ ومتى ؟ ! ما هو صراخ القلب وما هو صراخ الأعماق الصاعد إلى الأعالى ؟ !</p>
<p>+ وعدت أسأل نفسى ؟ ! لماذا قال الرب لموسى &#8221; مالك تصرخ الى &#8221;</p>
<p>+ (خر ١٤: ١٥) ولم توجد اى صرخة مسموعة لموسى ؟ ! متى صرخ وكيف صرخ هل بقلبه هل بعينه ؟ ! لست اعلم لكن الرب استجاب</p>
<p>+ نظرت وقلت .. مجاري المياه والقنوات الصغيره والأنهار والبحار والمحيطات الكل له شواطئ ولكن الهى محيط بلا شواطئ له من الاستجابة.. وهو يستجيب ويعطى قبل ان نسأل واكثر منا نطلب أو نفهم ؟ !</p>
<p>+ لئلا تكون أوراق طلباتى المقدمه امام الرب لم تستوف بعد ؟ ينقصها شيء هام ؟ …..</p>
<p>حقاً لم تستوف اوراقى ينقصها أختام؟<a href="#_ftn9" name="_ftnref9">[9]</a> !</p>
<h4>المتنيح القمص تادرس البراموسي</h4>
<p><strong>اليوم السابع والعشرون من شهر هاتور المبارك</strong></p>
<p>من أراد أن يكون فيكم عظيما يكون لهم خادماً (مر ١٠: ٢٥- ٤٥)</p>
<p>لما رأى الشيطان أن الكنيسة ناجحة ومثمرة في عملها حاول بشتى الطرق أن يعطل سعيها بالإضطهادات والضيقات والحروب . لكن وجدها صلبه مثل الصخر . وكانت للكنيسة كلمة واحدة ويد واحدة وقلب وأحد . لما كان بطرس الرسول في السجن صلت الكنيسة لأجله فتذعذعت أساسات السجن وفتحت الأبواب . لأن الكنيسة كانت بنفس واحدة أنزعج الشيطان من هذه الطريقة الجديدة وكان عنده شك أن المسيح هو الله . وجعل في نفسه أن يحطم تلك الأسوار وفكر أنها أسوار هشة لا تحتمل أول تجربة . وصمدت الكنيسة وسفكت فيها الدماء . وقال أحد الآباء دماء الشهداء بزار الكنيسة لكن الشيطان عدو الخير لم يعجبه هذا بل أبتكر طريقة أخرى بها أنشقت الكنيسة وتفتت . وهو الطريق . الكبرياء بين الرؤساء . من منا يكون الرئيس ومن منا يمسك القيادة رومية أو إسكندرية أو القسطنطينية أو أنطاكية . حقا قبل أنكسر الكبرياء وقبل السقوط تشامخ . والروح ومن سنة ٤٥١ م والكنيسة ترزخ تحت هذا النير الثقيل . ودبت الخلافات وكل كنيسة حرمت الأخرى هذا فعلو الآباء . ونحن الأبناء نعاني من هذه الإنقسامات . أنت شرقي أنت غربي كأن السيد المسيح أنقسم واحد لبولس وآخر لأبولس وآخر لصفا . وليس هذا ببعيد حتى في أيام السيد المسيح وهو على الأرض حدث هذا الإنقسام و كان يحدث في وقت من الاوقات تقدم يعقوب ويوحنا ابنا زبدى وطلب من الرب يسوع قائلين يا معلم تريد أن تفعل لنا كل ما طلبنا قال لهم ماذا تريدان أن أفعل لكما قالا أعطنا أن نجلس واحد عن يمينك وواحد عن يسارك في مجدك . دخلت الأنانية حتى في تلاميذ المسيح . كل السلطان الذي أعطاه لهم المسيح ومش مكفيهم . طمع الإنسان . أراد الرب أن يخمد هذه الشهوة التي أرادوا بها أن يميزوا أنفسهم عن أخوتهم قال لهم الرب يسوع لستما تعلمان ما تطلبان . أتستطيعان أن تشربا الكأس يعنى تتحملا الآلام التي أتحملها . قالا له نعم قال لهم كل الآلام والكأس التي أشربها تشربانها أما الجلوس عن يميني وعن يساري فليس لي أن أعطيه لأحد إلا الذين أعد لهم . ما أعظم حكمتك وما أجمل عطاياك . أبتدأ يدب الخلاف بين التلاميذ العشرة الباقين وأبتدأوا يغتاظون من أجل يعقوب ويوحنا وأبتدأ الشيطان يبث روح الأنانية.لماذا أنت يا بطرس ماطلبتش هذا الطلب . وأنت الكبير الذي تستحق وأنت اللي أعترفت بلاهوت المسيح وأنه إبن الله . وتعبت أكثر منهم . وأنت يا أندراوس شايف الغلط ومش عايز تتكلم . وأنت يا توما وأنت يا متى . لازم تتحركوا قبل الأخوين ما يأخذوا ما طلبوه هكذا تفعل الكبرياء في مجتمع ولا سيما مجتمع الفضيلة . أو مجتمع أولاد الله ياله من شيطان خبيث ومخرب يلقي الخصومات بين الناس . لم يسكت الرب يسوع على هذه الزوبعة لأنه وجد فيهم الإنقسامات . لازم يكون فيه عداء . فلما رأى الرب يسوع هذا الأمر . دعاهم وقال لهم أنتم تعلمون أن الذين يحسبون رؤساء . الأمم يسددونهم وإن عظماءهم فيتسلطون عليهم . فلا يكون فيكم هكذا بل من اراد ان يصير عظيماً فيكم يكون للجميع عبداً لأن إبن الإنسان لم يأتى ليخدم بل ليخدم ويبذل نفسه فدية عن كثيرين . الرئاسة تضحية وبذل وخدمة متفانية وبعد عن العظمة يخدم الكبير ويخدم الصغير أيضاً يكون للكل خادماً . كثيرين من الآباء أقتدوا بالرب يسوع في تصرفاته وأسلوبه . وكثيرون من الآباء المطارنة و الأساقفة و رؤساء الاديرة في معاتبتهم للناس كلمة خادمكم فلان رئيس الدير الفلاني .كلمة خادمكم كلمة جميلة ولا سيما لو أتخذناها نبراسا لنا ومبدأ ثابت لحياتنا<a href="#_ftn10" name="_ftnref10">[10]</a> .</p>
<h4>القديس الأرشيدياكون حبيب جرجس</h4>
<p><strong>طلبة يعقوب و يوحنا النفسانية (مر ١٠:٣٥–٤٥)</strong></p>
<p>&#8221; من أراد أن يصير فيكم عظيما يكون لكم خادماً &#8221; (مر ١٠:٤٣)</p>
<p>(أولا ً) أعلن المسيح مراراً ان مملكته روحية وليست عالمية . ولما سمع هذان التلميذان عن الرسل أنهم يجلسون على اثني عشر كرسياً يدينون اسباط اسرائيل (مت ۱۹:۲۸) توقعا أنه يملك على الارض وأرادا أن يقتربا من المسيح ورغبا في الرفعة على الآخرين . فطلبهما التقرب منه حسن ، وأما رغبتهما في الرفعة فخطاً .(ثانياً) اشار متى الانجيلي الى ان أم يعقوب ويوحنا شاركتهما في هذا الطلب وأنها هي التي سألت المخلص هذا السؤال. وهذا لا يضاد قول مرقس أنهما اللذان طلبا لانه يحتمل ان يكون لطلب صدر من الام والابنين معاً . أو أنهما طلبا هذا الطلب من المخلص بوساطة أمهما ولذلك وجه السيد جوا به اليهما(ثالثاً) نتعلم من ذلك (١) انه لا يسوغ أن نطلب من المسيح المجد والكرامة الزمنيين (٢) ان الآلام دائماً تكون قبل الاكليل (١بط ٤:١٣) (٣) ان لكل مسيحي نصيباً من الامتحان والضيق فعليه ان يقبله بالصبر (٤) انه بقدر ما يبتغي الانسان الارتفاع يزداد خطره (٥) من يشترك مع المسيح في آلامه يشاركه في مجده (٦) ان من أراد ان يكون عظيماً ومتقدماً عليه ان يخدم الآخر ، (رابعاً) كان الرب يسوع المثال الاعظم لنا لانه جاء خادماً ومخلصاً . فطريق العظمة والارتفاع لا يتأتى الا عن طريق خدمة الآخرين<a href="#_ftn11" name="_ftnref11">[11]</a>.</p>
<h3>من وحي قراءات اليوم</h3>
<p>كفايتنا من الله (٢كو ٣ : ٥)    البولس</p>
<p>+ ما أصعب أن نتدرب علي هذا الإحساس أن يكون كل حاجتي إليه وكل إعوازي لديه</p>
<p>+ لكنها نعمة يُعطيها الله لمن يلجأ إليه كل يوم ويُسلِّم له كل تدبير حياته</p>
<p>+ تكون كفايتنا من الله عندما لا ننتظر شئ من الناس ولا نتوقع شئ</p>
<p>+ وعندما لا نُعطي آذانا صاغية لآرائهم فينا بمدح أو نقد</p>
<p>+ وعندما تكون علاقتنا مع الناس ترتكز علي ما نقدمه لهم</p>
<p>+ ومع الله علي ما يسدِّد جوعنا لبرّه (مت ٥ : ٤)</p>
<p>+ وننال كفايتنا منه وفيه عندما نلهج في كلمته ليلاً ونهاراً (مز ١ : ٢)</p>
<p>+ وعندما يكون شكرنا ، وفرحنا ، وحزننا ، وضيقنا ، وضعفنا ، وفخرنا ، هو حديث لا ينقطع معه (٢تس ٥ : ١٧ ، ١٨</p>
<p>+ ويكون جلوسنا عند قدميه وصمتنا (لو ١٠ : ٣٩) هو طريق ملؤنا (أش ٣٠ : ١٥)</p>
<p>+ وإنتظارنا لنوره هو رجاؤنا في ليل حياتنا وواقعنا (٢بط ١ : ١٩)</p>
<hr />
<p><a href="#_ftnref1" name="_ftn1"></a>١٠٠- القديس أغسطينوس &#8211; تفسير مزمور ٦٣ &#8211; القمص تادرس يعقوب ملطي</p>
<p><a href="#_ftnref2" name="_ftn2"></a>١٠١- كتاب تعليقات لامعة علي سفر التكوين ( جلافيرا ) صفحة ٣٥٧ &#8211; ترجمة دكتور جورج عوض إبراهيم</p>
<p><a href="#_ftnref3" name="_ftn3"></a>١٠٢-  كتاب من مجد إلي مجد للقديس غريغوريوس النيسي ( صفحة ٨٩ ) &#8211; ترجمة القمص إشعياء ميخائيل</p>
<p><a href="#_ftnref4" name="_ftn4"></a>١٠٣- المرجع : كتاب القصد الإلهي من خلق الإنسان للقديس غريغوريوس النيسي صفحة ٧٢ &#8211; ترجمة الدكتور سعيد حكيم يعقوب</p>
<p><a href="#_ftnref5" name="_ftn5"></a>١٠٤- : كتاب المسيح مجد الشهداء ( صفحة ٢٦ ) &#8211; ترجمة الباحث ريمون يوسف رزق</p>
<p><a href="#_ftnref6" name="_ftn6"></a>١٠٥- كتاب مقالات القديس كبريانوس أسقف قرطاجنة الشهيد ( صفحة ١٥٨ ) &#8211; ترجمة وإعداد الراهب القمص مرقوريوس الأنبا بيشوي</p>
<p><a href="#_ftnref7" name="_ftn7"></a>١٠٦- كتاب دراسات في الكتاب المقدس &#8211; إنجيل متي (صفحة ٢١٩ ) &#8211; الأنبا أثناسيوس مطران كرسي بني سويف والبهنسا</p>
<p><a href="#_ftnref8" name="_ftn8"></a>١٠٧- المرجع : كتاب الإستشهاد في المسيحية ( صفحة ٢٧٦ ) &#8211; الأنبا يؤانس أسقف الغربية</p>
<p><a href="#_ftnref9" name="_ftn9"></a>١٠٨- المرجع : كتاب شفتاك يا عروس تقطران شهداً ( الجزء الأول صفحة ٩٥ ) &#8211; إصدار دير أنبا شنوده العامر بإيبارشية ميلانو</p>
<p><a href="#_ftnref10" name="_ftn10"></a>١٠٩- كتاب تأملات وعناصر روحية في آحاد وأيام السنة التوتية ( الجزء الثالث  صفحة ٩٨ ) &#8211; إعداد القمص تادرس البراموسي</p>
<p><a href="#_ftnref11" name="_ftn11"></a>١١٠- كتاب الكنز الأنفس للارشيدياكون حبيب جرجس ( الجزء الثالث صفحة ١٧٧)</p>

      {% endcreateArticleAccordions %}
    </section>
  {% endblock %}
  