---
layout: 'layouts/reading.html'
title: 'اليوم الثامن من شهر هاتور'
tags: 'annual'
permalink: /articles/annual/3-8.html
---
  {% block content %}
    <section id="readings">
      <ul>
      {% if 'undefined' != 'undefined' %}
      
      {% else %}
      {% if '19.68:17,16,17' != 'null' %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">العشية</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeVespers '19.68:17,16,17' '41.8:34-38*@+41.9:1' %}
          </div>
        </div>
      </li>
      {% endif %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">باكر</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeMatins '19.33:6,9' '43.12:26-36' '' %}
          </div>
        </div>
      </li>
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <h3 class="flex items-center justify-between">
            <span class="kufi">القداس</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </h3>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeLitugy '58.12:21-39*@+58.13:1-2' '60.3:15-22' '44.11:2-14' '19.80:1-3' '43.1:43-51' %}
          </div>
        </div>
      </li>

      {% endif %}
        </ul>
    </section>
    <section id="article">
      <h3 class="mt-8 mb-4 heading-explain">شرح القراءات</h3>
      {% createArticleAccordions %}
        <p>وخر الاربعة و العشرون شيخا و الاربعة الحيوانات و سجدوا لله الجالس على العرش قائلين امين هللويا &#8221; (رؤ ١٩ : ٤)</p>
<p>( الشاروبيم والسارافيم الكراسي والأرباب والقوات الأربعة الحيوانات الغير المتجسدين الحاملون مركبة الله.) ذكصولوجية السمائيين</p>
<p>[إنهم روحانيّون، خلقهم الله وأقامهم وتوجهم بالبهاء والنور ثم جعلهم يطلبون في جنس البشر وسائر الخليقة من وحوش وبهائم وطيور السماء، لأنهم قريبون منه له المجد أكثر من سائر الروحانيّين السمائيّين<a href="#_ftn1" name="_ftnref1">[1]</a>.]</p>
<p>&#8221; لا يظن أحد أن السماء مفتوحة بمعنى مادي بسيط. بل نحن الجالسون هنا نرى السموات مفتوحة ومغلقة حسب درجات استحقاقنا المختلفة. الإيمان الكامل يفتح السموات والشك يغلقها<a href="#_ftn2" name="_ftnref2">[2]</a> &#8221;</p>
<h3>شواهد القراءات</h3>
<p>(مز ٦٧ : ١٧) ، (مر ٨ : ٣٤ - ٩ : ١) ،(مز ٣٢ : ٦ ، ٩) ،(يو ١٢ : ٢٦ - ٦٣ )،(عب ١٢ : ٢١ - ١٣ :١ – ٢) ،(١بط ٣ : ١٥ – ٢٢) ،(أع ١١ : ٢ – ١٤)،(مز ٧٩ : ٢ ، ٣) ، (يو ١ : ٤٣ – ٥١)</p>
<h3>ملاحظات علي قراءات يوم ٨ هاتور</h3>
<p>+ قراءة إنجيل عشيّة اليوم (مر ٨: ٣٤ - ٩ : ١) هي قراءة إنجيل باكر ثالث يوم عيد الصليب ، وقراءة إنجيل باكر ليوم ٢٢ هاتور  ( شهادة قزمان ودميان وإخوته وأمهم ) ، وقراءة إنجيل باكر ليوم ٢٣ برمودة ( شهادة مار جرجس )</p>
<p>وهي القراءة التي تكلمت عن حمل الصليب ، لذلك جاءت في عيد الصليب ، وفي تذكار الشهداء الذين حملوا الصليب ، كما أنها جاءت في تذكار القوّات السمائية ( ٨ هاتور ) لأجل الآية مر ٨ : ٣٨ ، والتي تكلمت عن مجئ الرب في مجد أبيه مع ملائكته</p>
<p>+ إنجيل باكر اليوم (يو ١٢: ٢٦ - ٣٦) هو إنجيل باكر أوَّل يوم عيد الصليب</p>
<p>ومجيئه في عيد الصليب لأجل قول الرب الذي أشار فيه إلي صليبه</p>
<p>&#8221; وأنا أيضاً إذا ارتفعت من الأرض أجذب إليّ كل واحد &#8221;</p>
<p>ومجيئه في قراءات اليوم للإشارة إلي الصوت من السماء وإعتقاد الجموع أنه صوت أحد القوّات السمائية</p>
<p>+ قراءة الكاثوليكون اليوم (١بط ٣: ١٥ - ٢٢) تكررت في قراءات يومي ٢٢ بابه ، ١٢ طوبه</p>
<p>يأتي هنا الكلام عن السيرة الصالحة وكرازة الحياة المُقدَّسة ( لوقا الإنجيلي في ٢٢ بابه ) وخضوع الملائكة والسلاطين للمسيح له المجد في صعوده بالجسد للسماء ( الأربعة حيوانات الغير متجسدة في ٨ هاتور ) والمعمودية ( ثاني يوم عيد الغطاس في ١٢ طوبه )</p>
<p>+ قراءة الإبركسيس اليوم (أع ١١ : ٢ - ١٤) تُشبه قراءة الإبركسيس (أع ١١ : ٢ - ١٨) للأحد الرابع من شهر طوبي ، والأحد الرابع من شهر بشنس</p>
<p>تأتي هذه القراءة اليوم لأجل الملاك الذي رآه كرنيليوس ، وتأتي في الأحد الرابع من طوبي لأجل الحديث ( في الآيات الزائدة من ١٤ إلي ١٨ ) عن المعمودية ، وفي الأحد الرابع من بشنس لأجل خلاص الله المُعلن لكل إنسان</p>
<p>+ قراءة مزمور قدَّاس اليوم (مز ٧٩ : ٢ ، ٣) جاءت أيضاً في قراءة مزمور الأحد الرابع من شهر كيهك ، وهي القراءة التي تتكلَّم عن الظهور الإلهي وتجسُّد الكلمة ( يا جالس علي الشاروبيم إظهر .. ) ، بينما مجيئها اليوم لأجل ذكر الشاروبيم</p>
<p>+ قراءة إنجيل القداس اليوم (يو ١ : ٤٣ - ٥١) هي نفس قراءة إنجيل باكر (يو ١ : ٤٣ - ٥١) يوم ١٤ بابه ( تذكار فيلبُّس الشماس ) ، وتُشبه قراءة إنجيل القداس ليوم ١٢ طوبه (يو ١ : ٣٥ - ٥٢)</p>
<p>وجاءت قراءة اليوم لأجل إعلان الرب في نهايتها عن السماء المفتوحة وملائكة الله الذين يصعدون وينزلون علي إبن الإنسان (يو ١ : ٥٢) ، وجاءت في إنجيل القداس ليوم ١٢ طوبه ( ثاني يوم عيد الغطاس ) بإضافة السبع آيات التي قبلها ( من آية ٣٥ ) ، والتي تبدأ بشهادة يوحنا المعمدان عن إبن الإنسان أنه حَمْل الله ، بينما مجيئها يوم ١٤ بابه ( تذكار فيلبُّس الشماس ) لأجل الحديث عن دعوة فيلبس لنثنائيل لأجل المجئ إلي الرب يسوع ( قد وجدنا المسيا )</p>
<h3>شرح القراءات</h3>
<p>قراءات اليوم تختص بالأربعة حيوانات الغير متجسدة لذلك تقدّم لنا القراءات السماء المفتوحة والوحدة بين السمائيين والأرضيين والحاجز الذي نُقِضَ بتجسّد الكلمة وجعلها كنيسة واحدة بأعضائها المنظورين (الأرضيين ) وأعضائها غير المنظورين ( السمائيين ) كما توضِّح القراءات خدمة السمائيين لمن لم يكملوا بعد جهادهم علي الأرض</p>
<p>فتقدم المزامير القوّات السمائية: ربوات مضاعفة ( مزمور عشية ) ، وقوَّات سمائية ( مزمور باكر ) ، وعرش الله ( مزمور القداس )</p>
<p>فيحكي مزمور عشيّة عن كثرتهم المُضاعفة وخدمتهم لتدبير الله في حضوره وسط شعبه سواء كان وقت ظهوره في سيناء أو في القدس مدينته المقدسة</p>
<p>( مركبة الله بالربوات المُضاعفة والألوف المُخْصَبين فإن الرب يسكن فيه إلي الإنقضاء الله فيهم في سيناء في القدس )</p>
<p>وفِي مزمور باكر عن خِلْقَتهُم منذ البدء بتدبير الثالوث كقول الآباء &#8221; عليكم إذن أن تدركوا ثلاثة: الرب الذي يُعطي أمرًا، والكلمة الذي يخلق، والروح الذي يُثبت &#8221; القديس باسيليوس الكبير وأيضا &#8221; الله لا يحتاج إلى شيء من كل هذه الأمور؛ ولكنه هو ذاك الذي بكلمته وروحه يخلق ويدبر كل شيء ويحكمها، ويأمر فتُوجد &#8221; القديس إيريناؤس ( تفسير مزمور ٣٣ )</p>
<p>لذلك يوضح هنا تدبير الثالوث في خلقتهم</p>
<p>( بكلمة الرب تشددت السموات وبروح فيه كل قواتها لأنه هو قال فكانوا هو أمر فخُلقوا )</p>
<p>وفِي مزمور القداس هم عرش الله وهم خدّام الخلاص</p>
<p>( يا جالس علي الشاروبيم إظهر قدّام افرام وبنيامين ومنسَّي إنهض قوتك وهلَّم لخلاصنا يا الله أرددنا )</p>
<p>أما القراءات فتكشف عن إستعلان القوّات السمائية بتجسد الكلمة وفداؤه للبشر في دم يسوع المصلوب ( البولس ) وصعوده بالجسد للسماء ( الكاثوليكون ) وقيادة الروح القدس ( الإبركسيس )</p>
<p>فيتكلّم البولس عن الرب يسوع وسيط العهد الجديد الذي أُسْتعلِنت فيه أورشليم السماوية وبدم صليبه نقض حائط السياج المتوسط ووحّد وألف السمائيين مع الأرضيين</p>
<p>( بل قد أتيتم إلي جبل صهيون وإلي مدينة الله الحي أورشليم السماوية وإلي ربوات الملائكة المعيدين وكنيسة أبكار مكتوبين في السموات وإلي الله ديان الجميع وإلي أرواح أبرار مُكمّلين وإلي يسوع وسيط العهد الجديد وإلي دم رش يتكلم أفضل من دم هابيل )</p>
<p>لذلك يدعونا للنظر الدائم لهذا الملكوت الذي لا يتزعزع وفِي محبتنا للإخوة والغرباء نستضيف السمائيين دون أن نشعر</p>
<p>( لذلك ونحن قابلون ملكوتاً لا يتزعزع لتكن عندنا نعمة بها نخدم الله ونرضيه بخوف ورعده &#8230; ومحبّة الغرباء لا تنسوها لأنّ بها أضاف أناس ملائكة وهم لا يشعرون )</p>
<p>ونري في الكاثوليكون خضوع القوات السمائية للكلمة المُتجسِّد في صعوده بالجسد للسماء</p>
<p>( الذي هو جالس عن يمين الله إذ قد صعد إلي السماء وملائكة وسلاطين وقوات مخضعة له )</p>
<p>أمَّا الإبركسيس فيكشف عن خدمة الملائكة في خلاص البشر وفِي إعلان قبول الأمم</p>
<p>( فأخبرنا كيف رأي الملاك في بيته قائماً وقائلاً له )</p>
<p>وتُعْلِن الأناجيل عن طبيعة القوات السمائية وعملها فهي التي لا تفارق إبن الله في مجيئه الأوَّل لأجل خلاص البشر ( إنجيل القدَّاس ) وفِي إعلانه عن ساعة الخلاص ومجده المُزْمَع إستعلانها في الصليب ( إنجيل باكر ) والمرافقة له في مجيئه الثاني ( إنجيل عشيّة )</p>
<p>في إنجيل عشيّة نري القوات السمائية التي ستكون في موكب إبن الله في مجيئه الثاني</p>
<p>( متي جاء في مجد أبيه مع ملائكته القديسين )</p>
<p>وفِي إنجيل باكر عن قوة السمائيين التي يعرفها البشر دائماً كما الرعود وإرتباط هذا بإعلان ساعة الخلاص بالصليب</p>
<p>( فلما سمع الجمعُ الواقفُ كان يقول أنَّ ما حدث هو رعد وكان آخرون يقولون أن ملاكاً خاطبه من السماء &#8230; الآن دينونة هذا العالم الآن رئيس هذا العالم يُطرح خارجاً وأنا أيضاً إذا إرتفعت من الأرض أجذب إلي الجميع )</p>
<p>وفِي إنجيل القدَّاس نري السماء المفتوحة في مجيئه الأوَّل والحضور الدائم للسمائيين مع الأرضيين بعد تجسُّد الكلمة</p>
<p>( من الآن ترون السماء مفتوحة وملائكة الله يصعدون وينزلون علي إبن البشر )</p>
<h3>ملخّص القراءات</h3>
<p>القوات السمائية هي ربوات مُضاعفة والشاروبيم فيها هو عرش الله          مزمور عشيّة والقدّاس</p>
<p>وهم ربوات السمائيين المعيدين في أورشليم السمائية                            البولس</p>
<p>والخاضعين لإبن الله الكلمة المُتجسِّد وفِي صعوده للسماء إنجيل القدَّاس والكاثوليكون</p>
<p>وهم خدّام الخلاص                                                                              الإبركسيس</p>
<p>وقوتهم فائقة كمثل الرعود                                                   إنجيل باكر</p>
<p>وسيوافقون الرب في مجيئه الثاني                                       إنجيل عشيّة</p>
<h3>أفكار مُقترحة للعظات</h3>
<h4>(١) أين نجد الملائكة والقوات السمائية ؟</h4>
<p>١-مركبة الله</p>
<p>&#8221; مركبة الله بالربوات المضاعفة &#8221;                                           مزمور عشيَّة</p>
<p>٢- مجيئه الثاني</p>
<p>&#8221; متي جاء في مجد أبيه مع ملائكته القديسين &#8221;                            إنجيل عشيَّة</p>
<p>٣- كنيسة العهد الجديد</p>
<p>&#8221; وإلي مدينة الله الحيِّ أورشليم السماوية وإلي ربوات الملائكة المعيدين &#8221;      البولس</p>
<p>٤- خدمة الغرباء</p>
<p>&#8221; ومحبّة الغرباء لا تنسوها لأنَّ بها أضاف أناس ملائكةً وهم لا يشعرون &#8221;      البولس</p>
<p>٥- بيوت الأتقياء</p>
<p>&#8221; فأخبرنا كيف رأي الملاك في بيته قائماً &#8221;                                              الإبركسيس</p>
<p>٦- حضور المسيح له المجد</p>
<p>&#8221; الحق الحق أقول لكم من الآن تَرَوْنَ السماء مفتوحة وملائكة الله يصعدون وينزلون علي إبن البشر &#8221;  إنجيل القدَّاس</p>
<h4>(٢) سمات خدمة الملكوت وخُدَّام الملكوت</h4>
<p>١-بذل النفس لأجل الوصيّة وفِي الخدمة وإنكار الذات</p>
<p>&#8221; ومن يهلك نفسه من أجلي وأجل الإنجيل فهو يخلصَّها &#8221;                                                  إنجيل عشيَّة</p>
<p>٢- الخادم يتبع دائماً سيَّده والسيَّد يُكْرِم خدَّامه</p>
<p>&#8221; من يخدمني فليتبعني وحيث أكون أنا فخادمي يكون معي هناك ومن يخدمني يُكْرمُه أبي &#8221;     إنجيل باكر</p>
<p>٣- الخدمة بالنعمة والمخافة</p>
<p>&#8221; لذلك ونحن قابلون ملكوتاً لا يتزعزع لتكن عندنا نعمة بها نخدم الله ونرضيه بخوف ورعدة &#8221;       البولس</p>
<p>٤- الإستعداد الدائم للإعتراف بالمسيح له المجد والشهادة للإيمان</p>
<p>&#8221; كونوا مستعدِّين في كلِّ حين لمجاوبة كل من يسألكم عن كلمة الرجاء الذي فيكم لكن بوداعة وخوفٍ &#8221;  الكاثوليكون</p>
<p>٥- إتساع حقل الخلاص لكل البشر</p>
<p>&#8221; واستدع سمعان الذي يُدعي بطرس وهذا يُكلِّمك بكلامٍ الذي به تخلص أنت وكلُّ بيتك &#8221;           إنجيل القدَّاس</p>
<h4>(٣) لقاء الرب مع نثنائيل</h4>
<p>عرف نثنائيل ان المسيح له المجد يعرف كل شئ عن الانسان من وقت تكوينه وولادته ولكن ليست معرفته كمعرفتنا البشرية ، ممكن نكون نشأنا وكبرنا معاً ونعرف أشياء كثيرة عن من نشأنا معهم ، لكن المسيح يعرف بمعني ان هذه الأحداث كانت بسماح منه ، وكان يتدخل فيها ، وكانت قدام عينه وكان يعرف تأثيرها فينا مُسْتَقبلاً ..</p>
<p>فنثنائيل اكتشف ان المسيح له المجد إله الماضي وهي حاجة هامة جداً في علاقتنا بربنا ..أوقات كتير بتجينا مشاعر إن ماضينا مش حلو وعاوزين ننساه وبنرفضه من جوانا و صعبان علينا من ربنا ..لأ .. احنا عاوزين نعرف ان الماضي بكل حاجة فيه حلوة أو وحشة كان المسيح له دور فيه ..بمعني انه هايخلي كل حاجة هاترتب لي في المستقبل حاجة كويسة لأن خطة ربنا ان الماضي هايبقى إعداد للحاضر والمستقبل..</p>
<p>هنا المسيح بيقول :مهما كانت أحداث الماضي &#8221; قبل أن دعاك وأنت تحت التينة رأيتك &#8220;.. أنا كنت موجود في الماضي.. ليس إله سلبي بل إله إيجابي … بمعني إنه سمح بأمور في الماضي -مهما كانت مؤلمة وبتجرحني- لتكون إعداد للحاضر والمستقبل … إعداد رائع ولكن كيف أعيشه ؟… لو أنا قبلت الماضي من أيد ربنا ، لو اعتبرته حاجة استخدمها ربنا لمنفعتي ولمجد اسمه فيَّ … فهو اله إيجابي يستخدم أحداث الماضي للإعداد للحاضر والمستقبل …</p>
<p>لاحظ ان في فرق بين :يسمح .. ويريد ..</p>
<p>هو ممكن يستخدم غلطتي للحاضر والمستقبل ..</p>
<p>مثال علي ذلك :. بولس الرسول كان يقول &#8221; يُخلِّص الخطاة الذين أولهم أنا &#8221; ، &#8221; من يضعف وأنا لا أضعف ، من يعثر وأنا لا ألتهب &#8221; روح الاتساع دي جات له منين ؟ هو نفسه قال :.&#8221; كنت مفترياً ولكني فعلت بجهل في عدم إيمان &#8221; لكن الجهل بتاعه ده أفاده في الحاضر والمستقبل ولا لأ ؟! طبعاً أفاده فلم يكن عنده بعد روح كبرياء وصار عنده إحساس بالناس ويشفق علي اليهود اللي بيقتلوا المسيحيين ولم يعد ناقماً عليهم ، وفي إحدي المرات قال : أتمني لو أني أكون محروم من المسيح لأجل إخوتي أنسبائي حسب الجسد (رو ٩ : ٣) ..الماضي بقي حاجة جميلة لما يتحط في أيد ربنا &#8230;</p>
<p>إذن نثنائيل اكتشف ان المسيح إله الماضي .. بس مش إله سلبي ، يعني مش بيعرف الماضي لكن بيحركه — حتي الأمور اللي بإرادتنا إحنا و بأخطائنا الفعلية يقدر يحوِّلها للخير .. ويجعل الماضي إعداد جيد للحاضر والمستقبل لو وضعناه بين يديه الإلهية</p>
<h3>عظات آبائية</h3>
<h4>ماذا قال آباء الكنيسة عن الأربعة الحيوانات غير المُتجسِّدين؟</h4>
<p><strong>القديس إيرونيموس</strong></p>
<p>+ هذه الخليقة الحاملة للعرش تحمل معنى قوى النفس الأربعة التي تتقدس بحمل الله فيها وهي:</p>
<p>أ. القوى الغضبية ويشار إليها بشبه الأسد.</p>
<p>ب. الشهوانية ويشار إليها بشبه العجل.</p>
<p>ج. النطقية ويشار إليها بمن له كوجه إنسان.</p>
<p>د. الروحية ويشار إليها بشبه نسر طائر.</p>
<p><strong> القديس غريغوريوس النزينزي والعلامة أوريجانوس</strong></p>
<p><strong>الأسقف فيكتورينوس</strong></p>
<p>+ &#8221; المخلوق الحي الذي يشبه الأسد يشير إلى مرقس الذي نسمع فيه صوت الأسد يصرخ في البرية (مر ١ : ٣). والذي في شكل إنسان هو متى الذي يجتهد في إعلان نسب العذراء مريم التي أخذ منها السيد المسيح جسدًا. ولوقا يروى كهنوت زكريا مقدمًا ذبيحة عن الشعب.. يحمل العجل. ويوحنا الإنجيلي كمثل نسر طائر يرفرف بجناحيه مرتفعين إلى الأعالي العظمى متحدثًا عن كلمة الله.&#8221;</p>
<p><strong>القديس يوحنا ذهبي الفم </strong></p>
<p>&#8221; أقول لكم يا أولادي الأحباء إنه ليس من يشبههم في كرامتهم لا في السماء ولا على الأرض، لأنهم حاملون عرش الله، ولا يستطيعون النظر إلى وجه الحي الأزلي: مخلوقون من نور ونار، أقوياء، أشداء جدًا يسألون الله أن يغفر خطايا البشر ويتحنن عليهم&#8230; إشعياء النبي رأى مجدهم ونطق بكرامتهم (إش ٦ : ١ - ٣). وحزقيال النبي نظر مجدهم ونطق بكرامتهم (حز ١ : ٤ - ٢٨). وداود العظيم في الأنبياء، أب الأنبياء، أب المسيح بالجسد، رأى كرامة هؤلاء الروحانيّين ونطق بمجدهم قائلًا في المزمور &#8220;طأطأ السموات ونزل وضباب تحت رجليه، ركب على كروب وطار وهف على أجنحة الرياح&#8221; (مز ١٨ : ٩ - ١٠).&#8221;</p>
<p><strong>القديس إيرونيموس  </strong></p>
<p>+ تحمل أيضًا إشارة إلى العمل الفدائي للرب.</p>
<p>أ. فمن له كوجه إنسان يشير إلى التجسد.</p>
<p>ب. ومن مثل العجل يشير إلى الذبح على الصليب.</p>
<p>ج. ومن مثل الأسد يشير إلى القيامة.</p>
<p>د. ومن مثل نسر طائر يشير إلى الصعود.</p>
<p><strong>القديس ايريناؤس  </strong></p>
<p>+ تحمل أيضًا رمزًا إلى العمل الفدائي من جهة:</p>
<p>أ. من له كوجه إنسان يشير إلى التجسد.</p>
<p>ب. من مثل العجل يشير إلى طقس الذبيحة والكهنوت، إذ هو يشفع فينا.</p>
<p>ج. من مثل الأسد يشير إلى قوة عمله وسلطانه الملوكي وقيادته.</p>
<p>د. من مثل نسر طائر يشير إلى إرساله الروح القدس ليرفرف على كنيسته.</p>
<p>الأسقف فيكتورينوس</p>
<p>&#8221; المخلوق الحي الذي يشبه الأسد يشير إلى مرقس الذي نسمع فيه صوت الأسد يصرخ في البرية (مر ١: ٣). والذي في شكل إنسان هو متى الذي يجتهد في إعلان نسب العذراء مريم التي أخذ منها السيد المسيح جسدًا. ولوقا يروى كهنوت زكريا مقدمًا ذبيحة عن الشعب.. يحمل العجل. ويوحنا الإنجيلي كمثل نسر طائر يرفرف بجناحيه مرتفعين إلى الأعالي العظمى متحدثًا عن كلمة الله<a href="#_ftn3" name="_ftnref3">[3]</a>.&#8221;</p>
<h4>القديس غريغوريوس النزينزي</h4>
<p><strong>جلوس الله علي العرش الكاروبيم</strong></p>
<p>بعض الأشياء المذكورة في الكتاب المقدس ليست حقائق (بل رموز)، وبعض الحقائق غير مذكورة، وبعض الأشياء غير الحقيقية غير مذكورة، وبعض الأشياء حقيقية ومذكورة. هل تريدون مني أمثلة تثبت ذلك؟ أنا مستعد لأقدمها لكم. نقرأ في الإنجيل أن الله يتغافى (ينام) (مز ٤٤: ٢٣)، و&#8221;يستيقظ&#8221; (إر ٣١ : ٢٦)، ويغضب (مز ٧٩ : ٥؛ قارن إش ٥ : ٢٥)، و&#8221;يمشي&#8221; (تك ٣ : ٨)، و&#8221;جالس على عرش فوق الكاروبيم&#8221; (إش ٣٧ : ١٦ ؛ مز ٨٠ : ١)، ومع ذلك هل كان الله يتأثر بالعاطفة؟ وهل سمعتم من قبل أن الله كائن جسدي؟ هذه صورة عقلية غير حقيقية. الحقيقة هي أننا قد استخدمنا أسماء مشتقة من الخبرة البشرية وطبقناها - بقدر ما استطعنا - على جوانب من الله. فعلى سبيل المثال، فإن انعزال الله عنا - لأسباب يعلمها هو - بشكل يكاد يكون عدم نشاط لا يبالي بنا هو ما نسميه &#8220;نوم&#8221; الله، فإن النوم البشري له خاصية عدم النشاط والسكون. وعندما يتغير الحال ويقوم الله فجأة بعمل ما في صالحنا، نسمي هذا استيقاظه. والاستيقاظ ينهي النوم كما أن النظر إلى شخص ما ينهي التحول بالنظر بعيدًا عن هذا الشخص. وقد جعل عقاب الله لنا هو &#8220;غضبه&#8221;، لأن العقاب ينتج من الغضب. ونسمي عمل الله في أماكن مختلفة &#8220;سيرًا&#8221;، لأن السير هو الانتقال من مكان إلى مكان، جاعلًا هذه الأماكن شبه مسار له. ونتحدث أيضًا عن &#8220;جلوس الله على العرش&#8221;، وهذه أيضًا لغة بشرية، فالإله لا يبقى ويسكن في مكان بقدر ما يسكن في القديسين. ونسمي حركة الله السريعة &#8220;طيرانًا&#8221; (مز ١٨ : ١٠)، ومراقبته لنا هي &#8220;وجه الرب&#8221; (مز ٤: ٦، ٣٤ : ١٦)، وعطاءه وأخذه هما &#8220;يد الرب&#8221; (مز ١٤٥ : ١٦). وفي الواقع فإننا نصف كل قدرة أو عمل لله بصورة مماثلة من الناحية الجسدية<a href="#_ftn4" name="_ftnref4">[4]</a>.</p>
<h4>القديس يوحنا ذهبي الفم</h4>
<p><strong> لقاء الرب مع نثنائيل عند القديس يوحنا ذهبي الفم</strong></p>
<p>دعوة الرسل الأولى</p>
<p>&#8221; في الغد أراد يسوع أن يخرج إلى الجليل . فوجد فيلبس فقال له : اتبعنى . وكان فيلبس من بيت صيدا من مدينة أندراوس وبطرس&#8221; (يو ١: ٤٣ – ٤٤) .</p>
<p>يقول مثل شائع إن كل من سعى جدياً وراء أمر جنى منه فائدة . ويقصد الرب أكثر من ذلك عندما يقول : &#8221; كل من يطلب يجد &#8221; (مت ٧ : ٨) . من هنا السؤال لماذا تبع فيلبس المسيح ؟ لقد تبعه أندراوس لأنه سمع عنه من يوحنا ، وبطرس سمع عنه من اندراوس (يو ١ : ٣٥ -٤٢) . لكن فيلبس لم يسمع شيئاً سوى كلام المسيح &#8221; اتبعنى &#8221; (يو ١ : ٤٣ ) فأطاع دون تردد وأصبح كارزاً له أمام الآخرين . فقد ذهب إلى نثنائيل وقال له : &#8221; وجدنا الذى كتب عنه موسى في الناموس والأنبياء ، يسوع بن يو سف الذى من الناصرة&#8221; (يو ١ : ٤٥) .</p>
<p>أنظر إلى قوله  المدروس هذا واطلاعه على ما كتبه موسى وانتظاره لمجئ المسيح ! كلمة &#8221; وجدنا &#8221; تخص الذى يسعى ويطلب باستمرار . &#8221; وفى الغد أراد يسوع أن يخرج إلى الجليل &#8221; ولا يدعوا انساناً قبل أن يسمع هذا الانسان عنه شيئاً .</p>
<p>يعمل هذا بحكمة كبيرة لأنه لو دعا أحداً دون إرادته لربما ندم هذا الأخير لاحقاً ، لكن عندما يختار أحداً بإرادته يبقى هذا الأخير ثابتاً في الطريق . دعا اذاً فليبس الى جواره لأنه هذا الأخير كان يعرفه خصوصاً وأنه ولد وتربى في الجليل . اذاً بعد أندراوس وبطرس دعا فيلبس ونثنائيل . والجدير بالذكر أن خبر يسوع كان قد انتشر في سوريا كلها . لكن الغريب هنا أن بطرس ويعقوب وفيلبس تبعوا المسيح ليس لأنهم أمنوا به فقط من قبل بل أيضاً لأنه كان من الجليل ، من حيث لم يخرج لا نبي ولا أي شيء صالح ، من منطقة زراعية قاسية جافة .</p>
<p>من هنا أظهر يسوع قدرته لأنه أخرج تلاميذه المختارين من أرض جدباء . ربما تبعه فيلبس لأنه رأى بطرس وسمع عنه من يوحنا وربما أيضاً لأن صوت يسوع لقى فيه استحساناً فاهتم بالأمر . كل ذلك يأتي الأنجيلى على ذكره باقتضاب . كان يعرف فيلبس ان المسيح سوف يأتي لكنه كان يجهل ان الذى امامه هو المسيح عينه ، وأعتقد أنه عرف ذلك من بطرس أو يوحنا . &#8221; فيلبس وجد نثنائيل &#8230; &#8221; قال هذا لكى يجعل كرازته موثوقاً بها أكثر ، فربطها بموسي والأنبياء ، وجعل السامع أكثر اهتماماً بالأمر .</p>
<p>كان نثنائيل مطلعاً ومفتشاً عن الحقيقة كما كشفه المسيح بالفعل ، لذلك أرجعه فيلبس عن حق الى موسى والأنبياء لكى يدعم كرازته . لقد أسماه ابن يوسف لأنه هكذا كان يعرف فى الجليل.</p>
<p>ما هوالبرهان يا فيلبس على قولك ؟ على كرازتك ؟ ما هي العلامه ؟ ما هو الإثبات ؟ هو إياه الذى كان عند أندراوس الذى لم يستطيع أن يهمل الغنى الذى لقيه ، لم يستطيع أن يصف الكنز الذى وجده ، فقاد أخاه إليه . هنا كذلك  لم يفسر فيلبس كيف وجد المسيح وكيف تكلم عنه الأنبياء بل قاد نثنائيل إلى يسوع لأنه كان يعلم جيداً انه ان ذاق حلاوة أقواله وتعاليمه لن يبتعد عنه بعدها ابداً.</p>
<p>&#8221; فقال له نثنائيل : أمن الناصرة يمكن أن يكون شيء صالح ؟ قال فيلبس : تعال وانظر ورأى يسوع نثنائيل مقبلاً إليه فقال عنه : &#8221; هوذا إسرائيلى لا غش فيه &#8221; (يو ١ : ٤٦ – ٤٧) .</p>
<p>هنا لا يوبخ يسوع نثنائيل على كلامه السابق &#8221; أمن الناصرة يمكن أن يكون شيء صالح ؟ &#8221; بل على العكس يمدحه . لماذا ؟ لأن نثنائيل كان قد درس في الكتب ان المسيح سوف يولد في بيت لحم مدينة داود  . هذا الرأي كان سائداً عند اليهود ، والنبى ميخا كان قد أشار إليه (مي ٥ : ٢) وكذلك الإنجيلى متى &#8221; وانت يا بيت لحم أرض يهوذا لست الصغرى بين رؤساء يهوذا لأن منك يخرج مدبر يرعى شعبى إسرائيل &#8221; (مي ٢: ٦) .</p>
<p>عندما سمع نثنائيل ان يسوع هو من الناصرة اضطرب وأخذ يشك لأنه رأى أن أقوال فيلبس لم تكن تنسجم مع النبوة . لا بد لنا ان نلاحظ حكمته وتحفظه رغم شكه . لم يقل أنت تضلنى يا فيلبس وتكذب على . أنا لا أومن بأقوالك ولن آتى معك . أنا عارف أن المسيح سوف يأتي من بيت لحم وأنت تتكلم عن الناصرة. لذلك ليس هذا المسيح &#8221; ماذا فعل بدل ذلك ؟ ذهب مع فيلبس الى يسوع وأظهر أنه من خلال شكه يعرف الكتب . هو يبعد الضلالة من جهة ، لكنه من جهه أخرى يظهر شوقاً كبيراً لملاقاة المسيح . ربما فكر أن فيلبس قد أخطأ بالنسبة إلى المكان . لقد استخدم الحكمة حتى في شكه . لم يقل &#8221; لا يأتي شيء حسن من الجليل &#8221; ، بل قال &#8221; أمن الناصرة يمكن أن يكون شيء صالح ؟ &#8221; . فيلبس أيضاً كان حكيماً جداً لأنه عندما واجه شك نثنائيل لم يخيب أمله بل أصر على إرشاده الى يسوع ، فأظهر لنا من خلال ذلك ثباتاً من أجل إيصال الكرازة .</p>
<p>من كل هذا الكلام نفهم لماذا قال المسيح &#8221; هوذا اسرائيلى حقاً لا غش فيه &#8221; . هناك إسرائيلى كاذب ، مثلا عندما سئل اليهود : أين يولد المسيح ؟ قالوا في بيت لحم . وأضافوا شهادة على ذلك : &#8221; وأنا يا بيت لحم لست الصغرى بين رؤساء يهوذا &#8221; . إستشهدوا بهذه الآيه قبل ان يروا المسيح ، ولكن بعد أن رأوه أخفوا الشهادة بسبب حسدهم وقالوا : &#8221; نحن لا نعلم من أين هو &#8221; (يو ٩ : ٢٩) .</p>
<p>لم يفكر نثنائيل هكذا ، إلا أنه كان يعلم أن المسيح لا ينحدر من الناصرة . لماذا إذاً دعى من قبل الأنبياء بالناصرى ؟ لأنه تربى في الناصرة وسكن هناك . لم يعلق المسيح على كلام نثنائيل بل استخدم طريقة أخرى لجذبه .</p>
<p>&#8221; قال له نثنائيل : من أين تعرفنى ؟ أجاب يسوع وقال له : قبل ان دعاك فيلبس وأنت تحت التينه رأيتك&#8221; (يو ١ : ٤٨) .</p>
<p>يظهر هنا المسيح  انه كان حاضراً عندما كان فيلبس يتحاور مع نثنائيل . فضلاً عن ذلك أنظر الى ثبات نثنائيل وجديته عندما مدحه السيد لم يؤخذ بالمديح ولم ينتفخ ، بل على العكس أخذ يفتش بدقة أكبر عن الحقيقة . كان يفتش كأنسان أما يسوع فكان يجيبه كإله .</p>
<p>أجابه الرب : &#8221; إنى أعرفك من فوق &#8221; وأضاف : &#8221; وأنت تحت التينة رأيتك &#8221; &#8230;. لقد حدد له يسوع الزمان والمكان والشجرة مما يؤكد رؤيته السابقة الألهية .</p>
<p>لم يشهد له هكذا فقط ، بل أيضاً علمه بمدحه إياه دون توبيخ . من هنا آمن نثنائيل أنه المسيح من نبوءته ( من سابق رؤيته له ) ومن معرفة أفكاره بدقة &#8230;</p>
<p>أرأيت في كلامه  كيف تمتلئ نفسه من الفرح وتعانق المسيح ! أنت الذى كنا ننتظره ، أنت الذى كنا نطلبه .</p>
<p>أرأيت كيف أمتلأ من الدهشه والعجب ، كيف يركض من الفرح ! هكذا يجب علينا نحن أيضاً أن نفرح إذ أهلنا ان نعترف الى ابن الله.</p>
<p>&#8221; أجاب نثنائيل وقال له  : يا معلم أنت ابن الله أنت ملك إسرائيل . أجاب يسوع وقال له : هل آمنت لأنى قلت لك إنى رأيتك تحت التينة ؟ سوف ترى أعظم من هذا &#8221; (يو ١ : ٤٩ – ٥٠) .</p>
<p>نحن بحاجة أيها الأخوة الأحباء الى اجتهاد كثير ، الى سهر كبير لكى نفحص عمق الكتب المقدسة . بدون تعب لا نستطيع ان ندرك معانيها ، بل نحتاج الى درس دقيق وإلى انتباه متواصل لكى نقدر أن ندخل ولو قلبلاً إلى أسرارها المقدسة . ولنا هنا مثل في هذا المقطع الذى يحتاج إلى انتباه ودرس كبيرين .</p>
<p>عندما قال نثنائيل : &#8221; أنت ابن الله &#8221; أجابه المسيح : &#8221; هل آمنت لأنى قلت لك إنى رأيتك تحت التينة ؟ سوف ترى أعظم من هذا &#8221; لقد أعترف بطرس بالطريقة نفسها بعد عجائب كثيرة وتعلم كثير ، فاستحق تطويباً من السيد لأن الآب نفسه هو الذى كشف له ذلك أما نثنائيل هنا فيعترف بابن الله قبل العجائب والتعليم دون أن يلقى من الرب يسوع أو تطويب بل أرشده إلى ما هو أعظم . ما هو سبب الأختلاف في موقف الرب ؟</p>
<p>لقد قال بطرس ونثنائيل الشئ نفسه لكن بمعنيين مختلفين : اعترف بطرس بابن الله إلهاً حقيقياً ، بينما أعترف به نثنائيل مجرد إنسان.</p>
<p>كيف عرفنا ذلك ؟ عرفناه مما ذكر لاحقاً عندما قال نثنائيل : &#8221; أنت ابن الله &#8221; ، أصاف : &#8221; أنت ملك إسرائيل &#8221; . ليس ابن الله ملكاً على إسرائيل فقط بل على المسكونة بأسرها ، وهذا يتضح مما يلى . لم يضف المغ شيئاً على ما قاله بطرس بل اعتبر إيمانه كاملاً ، وقال سوف أبنى كنيستى على صخرة اعترافك . أما هنا لم يفعل شيئاً مشابهاً ، بل على العكس أشار إلى إن اعتراف نثنائيل كان ينقصه شيئاً أهم .</p>
<p>&#8221; وقال له : الحق الحق أقول لكم من الآن ترون السماء مفتوحة وملائكة الله يصعدون وينزلون على ابن الإنسان &#8221; (يو ١ : ٥١) .</p>
<p>أرأيت كيف أن يسوع يرفع نثنائيل تتديجياً من الأرض حتى لا يرى الرب مجرد إنسان ! إذا كيف يمكن للذى تخدمه الملائكة الصاعدة والنازلة أن يكون مجرد انسان ؟ لذلك قال &#8221; سوف ترى أهم من ذلك &#8221; . وما يقصده من هذا الكلام هو الآتى : &#8221; لقد بدا كلامى لك عظيماً يا نثنائيل . لذلك تعترف بى ملكاً على إسرائيل . ماذا تقول لو رأيت ملائكة الله تصعد وتنزل في سبيل خدمتى ؟ &#8221; هذا لكى يقنعه بالعتراف به سيداً على الملائكة .</p>
<p>لأنه كما عند ابن الملك يأتي الخدام ويذهبون من أجل خدمته ، كذلك حصل في آوان الصليب ، في أوان القيامه والصعود ، وأيضاً عند ولادته أخذت الملائكة تنشد &#8221; المجد لله في العلى وعلى الإرض السلام &#8221; (لو ٢ : ١٤) ،</p>
<p>وكذلك ظهر لمريم وليوسف . هنا كعادته ، يقول يسوع نبؤتين ، الواحدة ظاهرة والثانية مرتقبة يؤكدعليها من خلال الأولى . من جهة يقول : &#8221; قبل أن دعاك فيلبس وأنت تحت التينة رأيتك &#8221; وهذا حصل فعلاً . أما صعود الملائكة ونزولها على ابن البشر فهو ما سوف يحصل عند الصلب والقيامة والصعود . يحعل السامع يثق بالنبوءة الثانية استناداً الى الحقيقة الأولى ، لأن الذى اكتشف قدرة السيد قبلاً ، عندما يسمع عن الآتى ، يتقبل النبوءة المستقبلة بسهولة اكبر .</p>
<p>ماذا فعل نثنائيل ؟ لم يجب بشئ . لذلك ختم المسيح كلامه عند هذا الحد حتى يتأمل نثنائيل بأقوال السيد أكثر . لم يرد ان يدفع كل شيء مرة واحدة بل اكتفى بزرع الحب في أرض جيدة أملاً ان يثمر بهدوء<a href="#_ftn5" name="_ftnref5">[5]</a>.</p>
<h4>وأيضاً لذهبي الفم</h4>
<p><strong>آمنت لذلك تكلمت (٢كو ٤ :١٣)</strong></p>
<p>نور الإيمان ١-</p>
<p>يقول الرسول بولس : &#8221; فإذ لنا روح الإيمان عينه ، حسب المكتوب : &#8221; آمنت لذلك تكلمت &#8221; ، نحن أيضاً نؤمن ولذلك نتكلم أيضاً &#8221; . ماذا تقول ، هل إن لم تؤمن لا تتكلم ، بل تبقى صامتاً ؟ يقول نعم ، فأنا لا أستطيع أن أفتح فمى بدون ايمان ، ولا أن أحرك لسانى ، طالما بقيت أنا الإنسان العاقل ، بدون تعليم الإيمان . لأنه إن لم تزرع البذرة ، ويصبح لها جذراً فمن غير الممكن أن تنمو ، ويكون لها ثمراً ، هكذا عندما لا يكون هناك إيماناً سابقاً ، فمن غير الممكن أن تأتى كلمة التعليم . لذلك يقول في موضع آخر : &#8221; لأن القلب يؤمن به للبر والفم يعترف به للخلاص &#8221; .</p>
<p>وهل من الممكن أن يكون هناك ما هو أفضل من هذه الشجرة ، أو ما هو شبيهاً بها ، والتي ليس فقط فروعها ، بل أن جذرها ذاته يثمر ؟ من ناحية الفروع تمثل البر ، والجذر يمثل الخلاص . لذلك يقول : &#8221; آمنت لذلك تكلمت &#8221; . إن الجسد في مرحلة الشيخوخة يصاب بحالة من إرتعاش الأطراف ، لذلك يلجأ الإنسان لإستخدام عكاز ليحميه من السقوط أرضًا ، هكذا فإن أفكار نفوسنا المضطربة والمضللة بسبب الخطية ، يقودنا الإيمان بأمان ، بأكثر قوة من العكاز ، ويريحها بقوته ، ويسندها ويعضدها بثبات ، ولا يترك الخطية تسود عليه أبداً يصلح الأفكار الشرير بقوته الوافرة ، ويطرد الظلام الدامس الذى نتج عن أفكار النفس الشريرة ، وهذه النفس التي بقيت مضطربة في أفكارها ، كما لو كانت في بيت مظلم ، ينيرها الإيمان بنوره . لذلك جميع الذين لا إيمان لهم ، ليسوا في حالة أفضل من الذين يعيشون في ظلام ، فإنهم يرتطمون بالجدران ويصطدمون بكل ما يقابلهم ، ويسقطون في وديان ، ومنحدرات ولا تفيدهم أعينهم في شيء ، لأنه يفتقدون النور الذى يقودهم هكذا كل من لا إيمان لهم ، يصطدمون بعضهم بالبعض ، ويرتطمون بالجدران ، وفى النهاية ينهاروا ، ويقودوا أنفسهم إلى الهلاك .</p>
<p>والشاهد على هذا الكلام ، هم أولئك الذين يفتخرون بحكمتهم العالمية ، الذين يفتخرون بإطلاق اللحية ، وبملابسهم الثقيلة ، والعصى التي يمسكونها . لأنه بعد كلمات مطولة ، وكثيرة ، لم يروا الأحجار التي أمام أعينهم ، لأنهم إن كانوا قد رأوها ، ما كان لهم أن يؤمنوا بأنها آلهة . لقد تصادموا فيما بينهم ، وسقطوا في منحدر الكفر والجحود العميق جداً ، ليس لشئ أخر ، سوى لأنهم فقط ، قد عهدوا بكل مشاكلهم إلى أفكارهم ، وهذا ما أوضحه الرسول بولس قائلاً : &#8221; لأنهم لما عرفوا الله لم يمجدوهأو يشكروه كإله ، بل حمقوا في أفكارهم ، وأظلم قلبهم الغبى . وبينما هم يزعمون أنهم حكماء صاروا جهلاء &#8221; . بعد ذلك أظهر سبب ظلمة أفكارهم ، وغباءهم ، فأضاف : &#8221; وأبدلوا مجد الله الذى لا يفنى بشبه صورة الإنسان الذى يفنى والطيور ، والدواب ، والزحافات &#8221; . لكن عندما أتى الإيمان ، بدد هذه الظلمة من النفس التي قبلته . وكما أن القارب الذى يتخبط وسط الأمواج ويمتلئ بالماء بسبب ارتفاع الأمواج ، فإن المرساة التي تلقى لتثبيته ، تحميه من كل ناحية ، وتثبيته وسط البحر ، وهكذا هو ذهننا ، عندما تجعله الأفكار الخاطئة يضطرب ، يأتي الإيمان ويخلصه من الغرق ، وبصورة أكثر يقينية من المرساة ، فإنه يأتي في شهادة الضمير ، كما في ميناء هادئ ، حتى ترسوا سفينة الحياة . وهذا أيضاً ما أوضحه الرسول بولس قائلاً : &#8221; وهوأعطى البعض أن يكونوا رسلاً ، والبعض أنبياء ، والبعض مبشرين ، والبعض رعاه ومعلمين ، لأجل تكميل القديسين لعمل الخدمة ، لبنيان جسد المسيح ، إلى أن ننتهى جميعنا إلى وحدانية الإيمان ومعرفة ابن الله . إلى إنسان كامل إلى قياس قامة ملء المسيح كى لا نكون في ما بعد أطفالاً مضطربين ومحمولين بكل ريح تعليم &#8221; . أرايت عظمة ما يحققه الإيمان ، أنه يطرد القلق والإضطراب ، كمرساة آمنه . هذا عينه ما كتبه الرسول بولس في رسالته إلى العبرانيين ، متحدثاً عن الإيمان ، فيقول : الذى هو لنا كمرساة للنفس مؤتمنة وثابتة ، تدخل إلى ما داخل الحجاب &#8221; . وحتى لا تعتقد ، عندما تسمع كلمة مرساة ، أنه يجذبك إلى أسفل فإنه يظهر أن لهذه المرساة طبيعة جديدة ، فهى لا تدفع بإتجاه الإنحدار إلى أسفل ، بل تسمو بالذهن إلى أعلى ، وتنقله إلى السماء ، وتقوده إلى ما داخل الحجاب ، لأن السماء هنا هي التي يدعوها بالحجاب . لمن ولماذا ؟ من حيث أن الحجاب الذى هو خارج الخيمة كان يفصل قدس الأقداس عن الجزء الخارجي ، هكذا تماماً هذه السماء ، كحجاب ممتدة فوق هذا الكون ، هي خارج هذا العالم ، أي تفصل العالم الذى نراه عن قدس الأقداس الذى هو فوق سماء السموات ، والذى دخله المسيح ، كسابق لأجلنا<a href="#_ftn6" name="_ftnref6">[6]</a> .</p>
<h3>عظات آباء وخدام معاصرين</h3>
<h4>المتنيح الأنبا أثناسيوس مطران بني سويف والبهنسا</h4>
<p>(يو ١: ٣٥-٥١)</p>
<p>حدثت تلك الحوادث الأولى في هذا الأسبوع الذي أشار إلى أيامه الرسول يوحنا في بداية إنجيله، فلقد أعلن يوحنا أنه عرف أن المسيا هو يسوع الناصري . وأعلن ذلك هنا لاثنين من تلاميذه، قال الإنجيل أن أحدهما كان أندراوس أخو سمعان بطرس وكان الثاني هو يوحنا الرسول دون أن يذكر اسم نفسه . وهو يذكر الموقف وميعاده باليوم والساعة «نحو الساعة العاشرة ، وتفاصيله وكيف انهما تبعا يسوع ثم سألهما ماذا يطلبان وأخذهما إلى حيث كان ، ثم اخطار أندراوس لأخيه بطرس ومادار بين الرب وبطرس . هذه كلها قصة شاهد عيان وصل إلى سن المائة ولكنها حية في عقله وما أحلى اختبارات علاقتنا بالرب وكيف أنها زاد دائم لنا .</p>
<p>وما أحلى اهتمام الرب بنا من أول لحظة في حياتنا إلى آخرها فهو يأخذها إلى حيث كان ثم يقول لبطرس : انت سمعان ابن يونا . أنت تفسير اسمك صخر . ماأقوى تأثير هذا الكلام على بطرس على مدى الحياة كانت هذه الكلمة تدوي معه في أوقات ضعفه وأوقات قوته وتعزيته وفرحه وخدمته وتضحيته وسلامه واضطرابه . الرب يعرفنا ويسندنا وهو رفيقنا وقوتنا . وهو الصخر الذي لايتغير .</p>
<p>٤٣- ٥١ كان اليهود يعتقدون اعتقادا سيئا في أهل الناصرة . وحدث في اليوم الرابع من ذلك الأسبوع أن الرب عزم أن يسافر إلى الجليل ، وأنه قابل فيلبس ودعاه إلى مرافقته وفيلبس ذهب ودعا نثنائيل الذي يسمى في مواضع أخرى برثولماوس (مت ۳:۱۰ ، مر ٣: ١٨ ، لو ١٤:١٦) وكان نثنائيل يستبعد أن يكون المسيا من الناصرة ولكنه لما تقابل معه ولما حدثه الرب كعالم بأموره الخاصة &#8221; أجاب وقال يامعلم أنت ابن الله &#8221; ( آية ٤٩ ) . قد تبدأ علاقتنا بالرب في موقف معين ولكننا يجب أن نظل في ارتباط دائم به فنال من نعمه على الدوام كقوله هنا لنثنائیل (من الان ترون السماء مفتوحة وملائكة الله يصعدون وينزلون علی ابن الإنسان» ( آية٥١ )<a href="#_ftn7" name="_ftnref7">[7]</a>.</p>
<h4>المتنيح القمص تادرس البراموسي</h4>
<p><strong>اليوم الثامن من شهر هاتور المبارك</strong></p>
<p>فوجد فيلبس فقال له أتبعني يو١ : ٤٣-٥٢</p>
<p>أختار الرب يسوع تلاميذه الأطهار بالحكمة وحسن الأختيار لأنه يعلم ما يصادفهم في الحياة العملية في الكرازة ونرى أختيار الرب لفيلبس كما قال الكتاب المقدس وفي الغد وكان هذا الغد هو اليوم الرابع لإستشهاد القديس يوحنا المعمدان وفي اليوم التالي لإختيار أندراوس وشقيقه بطرس في ذلك اليوم قصد الرب يسوع أن يذهب إلى الجليل . وبينما هو متأهب لذلك وجد فيلبس فقال له أتبعني . ولابد أن الرب يسوع رأى في قلب فيلبس استعداداً لتلبية هذا الطلب وهذه الدعوة قبل أن يدعوه قال اكلمنضوس الأسكندري . أن فيلبس هو الذي قال للسيد المسيح اذن لي يا سيد أن أمضى وأدفن أبي فقال له يسوع أتبعني ودع الموتى يدفنون موتاهم . وقال يوحنا ذهبي الفم أن سكان بيت صيدا كانوا فظوا الأخلاق همجيين . حتى قال عنها الرب يسوع الويل لك يا كاروزين الويل لك يا بيت صيدا (مت ١١) فأراد الإنجيل أن يمدح إيمان فيلبس وأندراوس وبطرس كان على مجيئهم للرب يسوع قبل الجميع مع أنهم من هذه المدينة البربرية (مز ٦ و لو ٩) . القديس فيلبس بعد أن ذاق حلاوة العشرة مع الرب يسوع دعى نثنائيل وأراد أن يشركه فى هذه البركة العظيمة . فقال له وجدنا الذي كتب عنه موسى والأنبياء يسوع إبن يوسف الذي من ناصرة الجليل . فيلبس لم يجد نثنائيل بالصدفة بل سعى في طلبه لأنه كان صديقه . نثنائيل كلمة عبرانية معناها . عطية الله . قال الآباء أن نثنائيل هو برتلماوس الرسول وأستدل المفسرون عن ذلك بأن الأنجيليين ذكروا دائماً برتلماوس في إنجيل يوحنا دعوه نثنائيل ولم يذكر برتلماوس . وباقى الأنجيليين ذكروا برتلماوس ولم يذكروا نثنائيل . ويقول فيلبس الرسول وجدنا الذي كتب عنه موسى في الناموس . يدل على أن نثنائيل كان رجلاً حكيماً عارفاً بالكتب ولا يقبل إلا ما سطعت براهينه وأشار فيلبس بقوله الذي قال عنه موسى إلى وعد الله لإبراهيم ويعقوب. والرموز والطقوس ولا سيما ما كتب في (تث ١٨-١٥) وقوله يسوع إبن يوسف الذي من الناصرة تكلم به حسب رأى العامة إذ كانوا يظنون أنه كذلك (لو ٣: ٢٣) قال نثنائیل لفيلبس أمن الناصرة يخرج شيئا صالحاً فقال له فيلبس تعالى وأنظر .</p>
<p>كانت الناصرة قرية صغيرة في الجليل أقل أعتباراً من أرض فلسطين وأستفهام نثنائيل يراد به التعجب والشك لا الإستخبار لأنه كان متحققاً أن المسيح سيولد من بيت لحم لا في الناصرة .</p>
<p>لما رأى يسوع نثنائيل مقبلا إليه قال هذا أسرائيلي لا غش فيه لم يرى الرب يسوع وجهه بل رأى قلبه وما يكنه ضميره شهادة الرب لنثنائيل تعنى أنه صادق تقى يسلك حسب وصايا الله في القداسة والبر ولم يقصد المسيح بذلك أن نثنائيل بلا خطية لأنه ليس كذلك . قال نثنائيل للرب يسوع هل يعرفني أجاب يسوع قبل أن يدعوك فيلبس وأنت تحت التينة عرفتك (يو ١-٤٨)<a href="#_ftn8" name="_ftnref8">[8]</a> .</p>
<h4>القديس الأرشيدياكون حبيب جرجس</h4>
<p><strong>اختيار المسيح بعض تلاميذه (يو١: ٣٥ – ٥١)</strong></p>
<p>&#8221; من الآن ترون السماء مفتوحة وملائكة الله يصعدون وينزلون على ابن الانسان » (يو١: ٥١) .</p>
<p>(أولا&#8221;) هؤلاء التلاميذ الذين تبعوا المسيح هم أول من أسس بهم ديانته ومملكته في هذا العالم. وكانوا صيادين فقراء لتظهر قدرة الله وغناه و نعمته فيهم .(ثانياً) ان نثنائيل المذكور هذا هو برتولماوس أحد تلاميذ المسيح . وما أحسن شهادة يسوع عنه بأنه اسرائيلي لا غش فيه فطوبى لمن يستحق مثل هذه الشهادة .(ثالثاً) لاحظ كيف جاء هؤلاء التلاميذ الى المسيح فان يوحنا تكلم مع اثنين من تلاميذه عنه . ويسوع تكلم مع واحد.</p>
<p>وفيلبس مع آخر . وقد بارك الله هذا العمل فهل نتعلم ان نعمل في ملكوت الله بأن نكلم الآخرين عن المسيح وملكوته ونأتى بهم اليه .(رابعاً) من الآن ترون السماء مفتوحة  اشارة الى أن يسوع هو الذي فتح طريق السماء وأوجد العلاقة من جديد بين الانسان وبين الله بالمصالحة والفداء .(خامساً) سمى المسيح نفسه هنا ابن الانسان بالنظر الى تجسده . فهو ابن الله لأنه كلمته وابن الانسان لأنه تجسد وصار انساناً <a href="#_ftn9" name="_ftnref9">[9]</a>.</p>
<h3>من وحي قراءات اليوم</h3>
<p>&#8221; من الآن تَرَوْنَ السماء مفتوحة        &#8221; إنجيل القدَّاس</p>
<p>+ ما معني السماء مفتوحة ؟</p>
<p>+ هل معناه حدوث معجزات ؟ أو عجائب ؟</p>
<p>+ هل معناه إستجابة صلواتنا ؟ وتنفيذ مطالبنا ؟</p>
<p>+ عندما صلّي رب المجد وقت عماده إنفتحت السماء</p>
<p>+ أي إنسكبت كل عطايا وغني السماء علي البشر ( في المسيح )</p>
<p>+ هذا ما يحدث عندما نصلّي مثله في إتضاع</p>
<p>+ ستنفتح كنوز السماء علي قلوبنا في سلام وفرح وشبع ورجاء</p>
<p>+ سندرك ملكوته داخلنا وغني روحه القدّوس فينا</p>
<p>+ سيكون ظهوره الإلهي واقعنا اليومي وفرحنا الدائم</p>
<p>+ لن تنحصر صلواتنا فقط فيما هو أرضي لأننا سنجد فيه كفايتنا وغنانا الداخلي</p>
<hr />
<p><a href="#_ftnref1" name="_ftn1"></a>١- ذهبي الفم - تفسير رؤيا ٤ - القمص تادرس يعقوب ملطي</p>
<p><a href="#_ftnref2" name="_ftn2"></a>٢- القديس جيروم - تفسير حزقيال إصحاح ١ - القمص تادرس يعقوب ملطي</p>
<p><a href="#_ftnref3" name="_ftn3"></a>٣- تفسير سفر حزقيال الإصحاح الأول - وتفسير سفر الرؤيا الإصحاح الرابع - ومقدمة الأناجيل الأربعة - القمص تادرس يعقوب ملطي</p>
<p><a href="#_ftnref4" name="_ftn4"></a>٤- تفسير مزمور ٨٠- القمص تادرس يعقوب ملطي</p>
<p><a href="#_ftnref5" name="_ftn5"></a>٥- كتاب أناجيل الآحاد الصوم الكبير والقيامة صفحة ٣٦٩ - دير مار ميخائيل - منشورات النور</p>
<p><a href="#_ftnref6" name="_ftn6"></a>٦- المرجع : كتاب الحقيقة والظلال للقديس يوحنا ذهبي الفم ( صفحة ٢١ ) - ترجمة دكتور سعيد حكيم يعقوب</p>
<p><a href="#_ftnref7" name="_ftn7"></a>٧- المرجع : كتاب دراسات في الكتاب المقدس - إنجيل متي ( صفحة ١٢٠ ) - الأنبا أثناسيوس مطران كرسي بني سويف والبهنسا</p>
<p><a href="#_ftnref8" name="_ftn8"></a>٨- المرجع : كتاب تأملات وعناصر روحية في آحاد وأيام السنة التوتية ( الجزء الثالث  صفحة ٣٢ ) - إعداد القمص تادرس البراموسي</p>
<p><a href="#_ftnref9" name="_ftn9"></a>٩- المرجع : كتاب الكنز الأنفس للأرشيدياكون حبيب جرجس ( الجزء الثالث صفحة ٤١ )</p>

      {% endcreateArticleAccordions %}
    </section>
  {% endblock %}
