---
layout: 'layouts/reading.html'
title: 'الثاني والعشرون من كيهك'
permalink: annual/4-22.html
---
  {% block content %}
    <section id="readings">
      <ul>
      {% if '19.34:7-8' != 'null' %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">العشية</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeVespers '19.34:7-8' '40.16:24-28' %}
          </div>
        </div>
      </li>
      {% endif %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">باكر</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeMatins '19.97:7-8' '40.18:10-20' '' %}
          </div>
        </div>
      </li>
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <h3 class="flex items-center justify-between">
            <span class="kufi">القداس</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </h3>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeLitugy '58.2:5-18' '60.1:3-12' '44.10:21-33' '19.138:1-2' '42.1:26-38' %}
          </div>
        </div>
      </li>
        </ul>
    </section>
    <section id="article">
      <h3 class="mt-8 mb-4 heading-explain">شرح القراءات</h3>
      {% createArticleAccordions firstName, lastName %}
        <p>&#8221; وملاك حضرته خلصهم &#8221;  (أش ٦٣ : ٩)</p>
<p>&#8221; فبجناحين يغطون وجوههم، وبإثنين يسترون أرجلهم ويطيرون بإثنين ويصرخون واحد قبالة واحد منهم، يرسلون تسبيح الغلبة والخلاص الذي لنا بصوت ممتلئ مجدًا &#8221;</p>
<p>القدَّاس الغريغوري</p>
<p>يترنم القديس غريغوريوس العجائبي في عيد البشارة قائلاً :</p>
<p>&#8221; اليوم تتهلَّل صفوف الملائكة بالتسبيح ، ونور حضرة المسيح يُضِيء على المؤمنين .</p>
<p>اليوم قد جاء الربيع المبهج ، الذي هو المسيح ، شمس البر ،</p>
<p>وقد أضاء حولنا بنوره البهي ، وأنار أذهان المؤمنين .</p>
<p>اليوم آدم يُخْلَق من جديد ، ويظفر مع الملائكة منطلقاً إلى السماء<a href="#_ftn1" name="_ftnref1">[1]</a> &#8221;</p>
<p></p>
<p>* لنسبح الرب على الدوام، ولا نتوقف قط عن تقديم الشكر له على كل حال، بالكلمات كما بالأعمال. لأن هذه هي ذبيحتنا؛ هذا هو قرباننا؛ هذه هي أعظم ليتورجيتنا أو خدمتنا الإلهية، بها نتشبه بالحياة الملائكية. إن كنا نستمر هكذا نسبح له فسننهي حياتُنا هذه بلا ملامة متمتعين بالخيرات الصالحة المستقبلة<a href="#_ftn2" name="_ftnref2">[2]</a>.</p>
<h3>شواهد القراءات</h3>
<p>(مز ٣٣ : ٦ ، ٧)،(مت ١٦ : ٢٤ – ٢٨) ،(مز ٩٦ : ٨) ،(مت ١٨ : ١٠ – ٢٠) ،(عب ٢ : ٥ – ١٨) ،(١بط ١ : ٣ – ١٢) ،(أع ١٠ : ٢١ – ٣٣) ،(مز ١٣٧: ١ ، ٤) ،(لو ١ : ٢٦ – ٣٨)</p>
<h3>ملاحظات علي قراءات يوم ٢٢ كيهك</h3>
<p>+ قراءة إنجيل عشيّة اليوم (مت ١٦ : ٢٤ &#8211; ٢٨) هو نفس قراءة إنجيل عشيّة يوم ١٣ برمهات ، يوم ٢٧ برمودة ( شهادة بقطر بن رومانوس ) ، ويوم ٣ نسئ ( تذكار الملاك رافائيل ) ، ومُشابه لإنجيل عشيّة ثالث يوم عيد الصليب (مت ١٦ : ٢١ &#8211; ٢٦)</p>
<p>والقراءة الأولي والثانية تخص حمل الصليب مع الرب ( ١٣ برمهات ، ٢٧ برموده ) ، ومجئ الرب في مجد أبيه مع ملائكته ( لذلك جاءت في تذكاراتهما : ٢٢ كيهك ، ٣ نسئ )</p>
<p>والآيات الزائدة ( من آية ٢١ إي ٢٣ ) تخص إعلان الرب لتلاميذه عن آلامه وموته وقيامته (مت ١٦ : ٢١) لذلك جاءت في ثالث يوم عيد الصليب</p>
<p>+ قراءة إنجيل باكر اليوم (مت ١٨ : ١٠ &#8211; ٢٠) هي نفس قراءة إنجيل باكر ليوم ٣ طوبه ( تذكار أطفال بيت لحم ) ، ويوم ٣ نسئ ( تذكار الملاك رافائيل ) ، ونفس قراءة إنجيل القداس ليوم ١٠ بشنس ( تذكار الثلاثة فتية القديسين )</p>
<p>ومجئ القراءة في يومي ٢٢ كيهك ، ٣ نسئ لأجل حديث الرب عن ملائكة الصغار الذين ينظرون وجه الآب ، بينما مجيئها يوم ٣ طوبه ، ١٠ بشنس لأجل حديث الرب عن الصغار وكرامتهم</p>
<p>+ قراءة البولس اليوم (عب ٢ : ٥ &#8211; ١٨) جاءت أيضاً يوم ٣ نسئ</p>
<p>وهي القراءة الخاصة بالملائكة لذلك جاءت في تذكار رئيس الملائكة غبريال ( ٢٢ كيهك ) ، والملاك روفائيل ( ٣ نسئ )</p>
<p>+ قراءة الكاثوليكون اليوم (١بط ١ : ٣ &#8211; ١٢) هي نفس قراءة الكاثوليكون لأيَّام ١٨ توت ( ثاني يوم عيد الصليب ) ، ١٢ بابه ( شهادة القديس متي الإنجيلي ) ، ٩ هاتور ( تذكار إعداد مجمع نيقية ) ، ٣ نسئ ( تذكار الملاك روفائيل )</p>
<p>وتُشبه قراءة الكاثوليكون (١بط ١ : ١ &#8211; ١٢) للأحد الأوَّل من شهر أبيب</p>
<p>وهي القراءة التي تكلمت عن الخلاص بالصليب الذي فتش وبحث عنه أنبياء ( عيد الصليب )، وعن الذين بشروكم في الروح القدس مثل الآباء الرسل ( ١٢ بابه ) ، وعن نقاوة هذا الإيمان والشهادة له ( ٩ هاتور ) ، وأنه شهوة الملائكة ( ٢٢ كيهك ، ٣ نسئ )</p>
<p>وتُشبه قراءة الكاثوليكون (١بط ١ : ١ &#8211; ١٢) في يوم ٢٩ هاتور ، وهو اليوم الموافق لتذكار نياحة البابا بطرس خاتم الشهداء ) وسبب مجئ القراءة اليوم من بداية الإصحاح ( بطرس رسول يسوع المسيح &#8230; ) هو ورود إسم القديس بطرس لذلك أتي في تذكار البابا بطرس ، وأيضاً في الأحد الأوَّل من شهر أبيب</p>
<p>+ قراءة الإبركسيس اليوم (أع ١٠ : ٢١ &#8211; ٣٣) هي نفس قراءة الإبركسيس ليوم ٣ نسئ</p>
<p>وهي القراءة التي تتكلّم عن خدمة الملائكة لخلاص البشر وقبول الأمم في قصة إيمان كرنيليوس لذلك جاءت في تذكار الملاك غبريال ( ٢٢ كيهك ) والملاك رافائيل ( ٣ نسئ )</p>
<p>+ قراءة إنجيل القداس اليوم (لو ١ : ٢٦ &#8211; ٣٨) هي نفس قراءة إنجيل القداس لعيد البشارة ( ٢٩ برمهات )</p>
<h4>القراءة المُحوَّلة علي قراءة هذا اليوم</h4>
<p>ثلاثون برمهات        تذكار غبريال رئيس الملائكة</p>
<h3>شرح القراءات</h3>
<p>اليوم هو تذكار رئيس الملائكة غبريال (جبرائيل ) أو ملاك البشارة</p>
<p>وتوجد ثلاث قراءات للملائكة، قراءات ١٢ هاتور تذكار رئيس الملائكة ميخائيل، وقراءات اليوم ٢٢ كيهك تذكار رئيس الملائكة غبريال ، وقراءات ٣ النسي تذكار رئيس الملائكة روفائيل كما أنه توجد قراءتان أخريان للقوات السمائيّة عامة ٨ هاتور تذكار الأربعة الحيوانات الغير متجسدين و٢٤ هاتور تذكار الأربعة والعشرين قسيساً</p>
<p>وقراءات اليوم تتشابه وتتطابق في كل شئ مع قراءات ٣ النسي (تذكار رئيس الملائكة روفائيل ) ما عدا إنجيل القداس وكأن القراءتين تتكلمان عن خدمة الملائكة بصفة عامة ولكن يأتي إنجيل القداس في قراءات اليوم ( بشارة رئيس الملائكة لوالدة الإلة ) ليُعلن إنجيل البشارة بالمجئ الأوّل والتجسد ويأتي إنجيل القداس في ٣ النسي ( تذكار رئيس الملائكة روفائيل ) ليُعلن مجيئة الثاني والمكافأة والدينونة</p>
<p>لذلك تختصّ قراءات اليوم بخدمة بشارة الملائكة عامة وبملاك البشارة بصفة خاصّة</p>
<p>تبدأ المزامير بالشركة بين الملائكة والمؤمنين في الحياة اليومية (مزمور عشية ) وفِي الخضوع لمشيئته وأحكامه ( مزمور باكر ) وفِي العبادة المقدسة ( مزمور القداس )</p>
<p>في مزمور عشية يتضح شركة الملائكة مع المؤمنين الذين يعيشون في مخافة الله وكيف يكون أولاد الله في معسّكر الملائكة محفوظين ومُرشدين فيختبروا في إتّكالهم علي الله جوده ومراحمه الكثيرة</p>
<p>( يُعسكر ملاك الرب حول كل خائفيه وينجيهم ذوقوا وأنظروا ما أطيب الرب طوبي للإنسان المتكل عليه )</p>
<p>وفِي مزمور باكر الخضوع الكامل والسجود له والفرح بأحكامه الإلهية</p>
<p>( أسجدوا لله يا جميع ملائكته سمعت صهيون ففرحت وتهلّلت بنات اليهودية من أجل أحكامك يارب )</p>
<p>أما مزمور القداس ففيه شركة الإعتراف والترتيل والتسبيح مع الملائكة في العبادة في هيكله المقدس</p>
<p>( أعترف لك يارب من كل قلبي لأنك سمعت كل كلمات فمي أمام الملائكة أُرتّل لك وأسجد قدّام هيكلك المقدس )</p>
<p>وتأتي القراءات لتُعْلن بشارة الخلاص في شخص ابن الله والتي جعلتنا إخوته ( البولس ) وبشارة الخلاص التي تنبّأ عنها الأنبياء وبشّر بها الآباء الرسل بالروح القدس ( الكاثوليكون ) وبشارة خلاص الأمم وقبولهم ( الإبركسيس )</p>
<p>فيشرح البولس كيف صرنا في المسيح اخوته وكيف جاء بتجسّده وخلاصه بأبناء كثيرين للمجد</p>
<p>( ولكن الذي أنقصته قليلاً عن الملائكة يسوع نراه مُكلَّلاً بالمجد والكرامة من أجل ألم الموت لكي يذوق بنعمة الله الموت لأجل كل واحد لأنه لاق بذاك الذي من أجله الكل وبه كان كل شئ وهو آت بأبناء كثيرين إلي المجد أن يُكمِّل رئيس خلاصهم بالآلام لأن المقدِّس والمقدَّسين جميعهم من واحد فلهذا السبب لا يستحي أن يدعوهم إخوتي قائلاً أخبِّر باسمك إخوتي وفِي وسط الجماعة أُسبِّحُك ويقول أيضاً أنا سأكون متوكلاً عليه )</p>
<p>وفِي الكاثوليكون بشارة الخلاص التي تنبأ بها الأنبياء بالروح وبشّر بها الرسل بالروح وكانت شهوة الملائكة</p>
<p>( لأن من أجل هذا الخلاص قد طلب الأنبياء وفتَّشوا الذين تنبأوا عن النعمة التي صارت فيكم وبحثوا عن الزمن وروح المسيح المتكلم فيهم إذ سبق فشهد علي آلام المسيح والأمجاد الآتية بعدها الذين أعلن لهم لأنهم ليسوا لأنفسهم كانوا يعملون بل جعلوا نفوسهم لكم خداماً بهذه الأمور التي أُخبرتم بها أنتم الآن بواسطة الذين بشروكم بالروح القدس المرسل من السماء التي تشتهي الملائكة أن تطلَّع عليها )</p>
<p>وفِي الإبركسيس بشارة قبول وخلاص الأمم في قَصّة إيمان كرنيليوس وأهل بيته ببشارة الملاك وكرازة القديس بطرس</p>
<p>( فنزل بطرس إلي الرجال وقال ها أنا الذي تطلبونه ماهو الأمر الذي حضرتم لأجله فقالوا إن كرنيليوس قائد المئة رجلاً باراً وخائف الله ومشهوداً له من جميع أمة اليهود أُوحي إليه بملاك مقدَّس أن يستدعيك إلي بيته ويسمع منك كلاماً )</p>
<p></p>
<p>وفِي الأنجيل نري حضور الملائكة الدائم عند إستعلان مجد الإبن مع الآب في مجيئه الثاني ( إنجيل عشية ) وفِي توبة البشر ورجوع الضالين ( إنجيل باكر ) وفِي تجسّد الكلمة ( إنجيل القداس )</p>
<p></p>
<p>في إنجيل عشية نري مجد ابن الله مع أبيه الصالح في مجيئه الثاني وإن كان قد نال بعض التلاميذ ( بطرس ويعقوب ويوحنا ) نعمة رؤية تجلّي ابن الله وسماع صوت الآب من السماء</p>
<p>( فإن إبن الإنسان سوف يأتي في مجد أبيه مع ملائكته وحينئذ يُجازي كلَّ واحد حسب أعماله الحقَّ أقول لكم أنّ من القيام ههنا قوماً لا يذوقون الموت حتي يروا إبن الإنسان آتياً في مجد أبيه )</p>
<p>وفِي إنجيل باكر نري مجد الآب والإبن في رجوع الضالين وفرح السماء بتوبتهم وأيضاً في حياة الغفران والمحبّة</p>
<p>( أنظروا إذاً لا تحتقروا أحد هؤلاء الصغار لأني أقول لكم أن ملائكتهم في السموات كلَّ حين ينظرون وجه أبي الذي في السموات لأن ابن الإنسان قد جاء ليخلّص ما قد ضلَّ  ماذا تظنون إن كان لأحد مئة خروف وضَلَّ واحد منها أفلا يترك التسعة والتسعين علي الجبال ويذهب ويطلب الضال وإذا حصل ووجده فالحقَّ أقول لكم أنه يفرح به أكثر من التسعة والتسعين التي لم تضلّْ هكذا ليست مشيئة أبي الذي في السموات أن يهلك أحد هؤلاء الصغار )</p>
<p>ويختم إنجيل القداس ببشارة رئيس الملائكة لأمّنا العذراء والدة الإله بتجسّد الكلمة من أحشائها ومجد الآب يظلّل عليها ويُسْتَعلن مجد الآب والإبن في خلاص البشرية وإفتقاد الله لها في ملء الزمان</p>
<p>( وفِي الشهر السادس أُرسل جبرائيل الملاك من عند الله إلي مدينة من الجليل اسمُها ناصرة إلي عذراء مخطوبة لرجل من بيت داود إسمه يوسف وإسم العذراء مريم فدخل إليها الملاك وقال لها سلام لك أيتها المملوءة نعمة الرب معك &#8230; فأجاب الملاك وقال لها الروح القدس يحلُّ عليك وقوّة العليِّ تُظللك فلذلك أيضاً المولود منك قدوس ويُدعي ابن الله )</p>
<p></p>
<h3>ملخّص القراءات</h3>
<p></p>
<p>شركة الملائكة مع المؤمنين الذين يحيون في مخافة الله وفِي تسبيحه وفِي الشهادة لإسمه والإلتصاق بهيكله                                         مزمور عشيّة وباكر والقدّاس</p>
<p>وبشارة الخلاص التي جعلت ابن الله يُْخلي ذاته ويُنْقِص نفسه قليلاً عن الملائكة ليجعلنا إخوته وهي شهوة الملائكة وموضوع خدمتهم للمؤمنين   البولس والكاثوليكون والإبركسيس</p>
<p>ونري حضور الملائكة مع ابن الله في مجيئه الثاني وفرحها بتوبة البشر وخدمتها لتجسد الكلمة</p>
<p>إنجيل عشيّة وباكر والقدّاس</p>
<p></p>
<p></p>
<h3>أفكار مقترحة للعظات</h3>
<p></p>
<h4>(١) خدمة الملائكة ومكانتهم</h4>
<p>١- حماية أولاد الله وخائفيه</p>
<p>&#8221; يعسكر ملاك الرب حول كل خائفيه ويُنجِّيهم &#8221;                                مزمور عشيّة</p>
<p>٢- يرافقون إبن الله في مجيئه الثاني</p>
<p>&#8221; فإن إبن الإنسان سوف يأتي في مجد أبيه مع ملائكته &#8221;                   إنجيل عشيّة</p>
<p>٣- تواجدهم الدائم أمام عرش الله</p>
<p>&#8221; لأني أقول لكم أن ملائكتهم في السموات كلَّ حين ينظرون وجه أبي الذي في السموات &#8221;</p>
<p>إنجيل باكر</p>
<p>٤- خدمة العتيدين أن يرثوا الخلاص</p>
<p>&#8221; وإذا رجل قد وقف أمامي بلباس أبيض وقال يا كرنيليوس سمعت صلواتك &#8221;   الإبركسيس</p>
<p>٥- شركة العبادة مع المُصلِّين في الكنيسة بيت الملائكة</p>
<p>&#8221; أمام الملائكة أرتل لك وأسجد قدّام هيكلك المقدس &#8221;                مزمور القدَّاس</p>
<p>٦- خدّام التدبير الإلهي في سر التجسّد</p>
<p>&#8221; وفِي الشهر السادس أرسل جبرائيل الملاك من عند الله إلي مدينة من الجليل اسمها ناصرة إلي عذراء مخطوبة لرجل من بيت داود إسمه يوسف &#8221;                      إنجيل القدَّاس</p>
<h4>(٢) نعمة العهد الجديد</h4>
<p>١- نعمة إستعلان مجد الآب</p>
<p>&#8221; الحقَّ أقول لكن أنَّ من القيام ههنا قوماً لا يذوقون الموت حتي يروا إبن الإنسان آتياً في مجد أبيه &#8221;                                                                                                  إنجيل عشيّة</p>
<p>٢- نعمة السلطان السمائي لخدمة الخلاص</p>
<p>&#8221; الحقَّ أقول لكم كلُّ ما تربطونه علي الأرض يكون مربوطاً في السموات وكلُّ ما تحلُّونه علي الأرض يكون محلولاً في السموات &#8221;                                                       إنجيل باكر</p>
<p>٣- العتق من الموت &#8230; يحمل آلامنا وأوجاعنا &#8230; يأتي بنا إلي المجد</p>
<p>&#8221; الذي من أجله الكل وبه كان كلُّ شئٍ  وهو آتٍ بأبناءٍ كثيرين إلي المجد &#8230; ويعتق أولئك الذين خوفاً من الموت &#8230; لأنه فيما هو قد تألَّم مُجرَّبا يقدر أن يعين المجرَّبين &#8221;  البولس</p>
<p>٤- المجد والفرح والكرامة والنعمة التي صارت فينا</p>
<p>&#8221; لتوجدوا بفخر ومجد وكرامة عند استعلان يسوع المسيح &#8230; فتهلَّلوا بفرح لا يُنْطَق به ومُمجَّد &#8230; الذين تنبأوا عن النعمة التي صارت فيكم &#8221;                           الكاثوليكون</p>
<p>٥- نعمة قبول الأمم</p>
<p>&#8221; وأما أنا فقد أراني الله أن لا أقول عن إنسانٍ ما أنه دنسُُ أو نجسُُ &#8221;    الإبركسيس</p>
<p>٥- نعمة تجسّد الكلمة وخلاص البشرية</p>
<p>&#8221; الروح القدس يحل عليك وقوّة العيَّ تظللك فلذلك أيضاً المولود منك قدوس ويدعي إبن الله &#8221;</p>
<p>إنجيل القدَّاس</p>
<h4>(٣) التشبُّه بالملائكة</h4>
<p>١- العبادة والسجود والتسبيح</p>
<p>&#8221; أسجدوا لله يا جميع ملائكته &#8221;                                                   مزمور عشيّة</p>
<p>&#8221; أمام الملائكة أرتل لك وأسجد قدّام هيكلك المقدس &#8221;                مزمور القدَّاس</p>
<p>٢- شهوة الخلاص</p>
<p>&#8221; التي تشتهي الملائكة أن تطلّع عليها &#8221;                                    الكاثوليكون</p>
<p>٣- خُدَّام خلاص كل البشر</p>
<p>&#8221; أُوحي إليه بملاك مقدَّس أن يستدعيك إلي بيته &#8221;                   الإبركسيس</p>
<p>٤- خدمة التدبير الإلهي</p>
<p>&#8221; وفِي الشهر السادس أرسل جبرائيل الملاك من عند الله &#8221;          إنجيل القدَّاس</p>
<h3>عظات آبائية</h3>
<p>يُمْكِن الرجوع لعظات يوم ١٢ هاتور إذا كان الكلام عن الملائكة، أو الرجوع ليوم ٢٩ برمهات والأحد الثاني من كيهك إذا كانت العظات تخصّ التجسُّد</p>
<p></p>
<p></p>
<h4>طبيعة الملائكة وخدمتهم للبشر في فكر الآباء القديسين</h4>
<p></p>
<p>+ &#8221; حتي ولو كان الصمت تهيمن علي الطريقة التي خلقت بها القوات السماوية ، وأن الذي صور لنا تكوين العالم لم يوضح لنا الخالق إلا من حيث علاقته بالمحسوسات ، فأنت الذي لديك قوة إستنتاج لتبلغ بها من المنظورات إلي غير المنظورات ، مجد الصانع الذي خلق به كل شيء ، ما يري وما لا يري . أصحاب رئاسة كانوا أم قوة أم عرش أم سيادة ، وكل الطبائع العقلانية الأخري إن وجدت بدون أسماء ، ثم ضع في فكرك أن في خلقها ، السبب الرئيسي لوجودها وهو الآب ، والسبب الصانع وهو الإبن ، والسبب المكمل وهو الروح ، حتي أنه بإرادة الآب توجد الأرواح الخادمة ، وبفعل الإبن تنتقل إلي الوجود وبحضور الروح تكمل ، فتكميل الملائكة تقديسهم وبقاؤهم فيه &#8221;</p>
<p>&#8221; فالقوات الفائقة العالم النقية والعقلانية هي قديسة وتدعي كذلك لأنها إقتنت التقديس بالنعمة الحالة فيها من لدن الروح القدس &#8221;</p>
<p><strong>القديس باسيليوس الكبير</strong></p>
<p>+ &#8221; ليس أحد في جميع الملائكة بسيطاً علي الأرض كلها ولا أحد يملأ جميع الأرض غير الإله وحده الذي يملأ جميع المواضع ولا يخلو منه موضع . وجميع الملائكة محدودون محصورون متنقلون من مكان إلي مكان ، إذا حضر أحدهم في مكان خلي منه المكان الآخر</p>
<p><strong>القديس ساويروس إبن المقفع</strong></p>
<p>+ أن الملائكة لا يتكلمون ولا يتصلون بعضهم ببعض بنفس الأسلوب الذي يتصل به البشر فهم ليس لهم أذن ولا لسان ولا جهاز للصوت ولا شفاه ولا حلق (بلعوم) ولا رئة ولا صدر ولا تنفس . ليس للملائكة إحتياج للسان للتكلم ولا للأذن للسمع ، بل هم ينقلون بعضهم لبعض نفس الأفكار والأحكام ، وليس للملائكة جنس فهم لا يتزوجون ولا يزوجون حسب قول السيد المسيح .</p>
<p><strong> القديس اكليمنضس الإسكندري</strong></p>
<p>+ &#8221; إذا لم تؤمن الكائنات السماوية ومجد الملائكة والرئاسات المنظورة وغير المنظورة بدم يسوع المسيح فإنها ستدان أيضاً &#8221;</p>
<p><strong>القديس أغناطيوس</strong></p>
<p>+ &#8221; مع الإنسان ملاكان . ملاك العدل وملاك الشر . ملاك العدل لطيف وحبي ووديع وهادئ . عندما يدخل إلي قلبك يتكلم معك فوراً عن العدل والعفة والشرف والقناعة وعن كل عمل صالح وعن كل فضيلة مجيدة . عندما تشعر أن هذه الأمور قد ملأت قلبك فاعلم أن ملاك العدل يقطن فيك لأن ملاك العدل لا يفعل غير ذلك فآمن به وثق في أعماله . أما ملاك الشر فهو قبل كل شيء غضوب ومر وجاهل وأعماله شريرة تدمر عبيد الله . عندما يدخل إلي قلبك تستطيع أن تميزه فوراً من أعماله .</p>
<p>عندما تشعر بالتذمر والمرارة فاعلم أن الشيطان يقطن فيك وعندما تشعر برغبات مضطربة ويستولي عليك جنون التبذير والانفاق علي الملبس والمأكل والمشرب وتندفع وراء الملذات العابرة والفجور وعندما تشعر بأنانيتك وكبريائك وطمعك تتحرك بعنف في داخلك ، عندما تشعر بكل ما هو مماثل لهذه الامور فاعلم أن شيطان الظلم يعيش فيك</p>
<p><strong>هيرماس الراعي</strong></p>
<p>+ &#8221; إذا كانت ملائكة الله قد اتت ليسوع وأخذت تخدمه ، وإذا كان من غير المعقول أن تقتصر خدمة الملائكة للمسيح علي زمان اقامته بالجسد بين البشر . وهو في وسط المؤمنين ليس كمن يتكئ بل كمن يخدم ، فتصور معي خدمة الملائكة للمسيح الذي يريد أن يجمع معه ابناء إسرائيل واحدا واحدا ، وعندما يضم الذين في الشتات ، وينقذ الذين يئنون من الخوف ويدعونه . أما يساهم الملائكة أكثر من الرسل في نمو الكنيسه وازديادها … &#8221;</p>
<p><strong>العلامة أوريجانوس<a href="#_ftn3" name="_ftnref3">[3]</a></strong></p>
<p></p>
<p></p>
<p><strong>القديس يوحنا ذهبي الفم</strong></p>
<p>ماهو العجيب في إن الملائكة يخدمون الابن ، في اللحظة التي فيها يخدمون لأجل خلاصنا ؟ عند القديس يوحنا ذهبي الفم</p>
<p>&#8220;أليس جميعهم أرواحاً خادمة مرسلة للخدمة لأجل العتيدين أن يرثوا الخلاص&#8221;(عب١: ١٤)</p>
<p>ماهو العجيب في إن الملائكة يخدمون الابن ،في اللحظة التي فيها يخدمون لأجل خلاصنا؟لاحظ كيف يسمو بأفكارهم ويظهر</p>
<p>الكرامة العظيمة التي يمنحها الله لنا ، من حيث أنه قد عيّن الملائكة،الذين هم أعلى منا، ليخدموا من أجل منفعتنا .كما يمكن للمرء أن يقول إن الله يستخدمهم في هذا(أي فى خدمة العتيدين أن يرثوا الخلاص )،هذه هى خدمة الملائكة ،أن يخدموا الله ،من أجل خلاصنا .إن عمل الملائكة ؟يقوم على فعل كل شئ من أجل خلاص الأخوة،أو من الأفضل القول ،بأن هذا هو عمل المسيح .لأن المسيح كسيد يخلص ،بينما هؤلاء (الملائكة ) ،عبيد .ونحن عبيد،وشركاء فى العبودية مع الملائكة .وكما يقول،لماذا تنظرون بفم مفتوح (أى بدهشة)إلى الملائكة ؟ فهم عبيد لإبن الله ،وهو كثيراً ما يرسلهم لأجلنا ، ويخدمون من أجل خلاصنا .حتى أنهم يُعتَبرون بمثابة عبيد لنا .فكروا كيف أنه لايقيم فروقاً كبيرة بين المخلوقات .فبرغم أن المسافة بين الملائكة والبشر كبيرة.إلا أنه يُنزلهم بالقرب منا ،كما لو يقول أنهم يتعبون من أجلنا ،ويدعوا لأجل فائدتنا،أنهم يخدموننا نحن ،كما يمكن للمرء أن يقول .هذه هى خدمتهم ،أن يُرسلوا في كل مكان لخدمتنا.</p>
<p>٣.والعهد القديم والجديد أيضاً مليء بهذه الأمثلة .فكيف لايخدموننا إذا كانوا قد حملوا البشارة المفرحة للرعاة ولمريم وليوسف ،وإذا كانوا قد جلسوا في القبر وأُرسلوا لكى يقولوا للتلاميذ &#8220;أيها الرجال الجليليون ما بالكم واقفين تنظرون إلى السماء &#8220;وإذا كانوا أخرجوا بطرس من  السجن ،وتكلموا مع فيلبس،فكيف لايخدمونا؟ فكر إذاً فى مقدار الكرامة ،عندما يُرسل الله الملائكة كخدام لأجل الأحباء ،وعندما يظهر ملاك لكرنيليوس، وعندما يُخرج ملاك، كل الرسل من السجن ويقول &#8220;أذهبوا قفوا وكلموا الشعب فى الهيكل بجميع كلام هذه الحياة &#8220;.ولماذا أتكلم عن الأمور الأخرى ؟فقد ظهر الملاك لبولس نفسه.</p>
<p>أرأيت أنهم يخدموننا من أجل الله،وأنهم يخدموننا فى أمور عظيمة جداً؟ولهذا يقول الرسول بولس&#8221;فإن كل شئ لكم ..أم الحياة أم الموت ام الأشياء الحاضرة أم المستقبل.والابن أيضاً بالطبع أُرسل ،لكن ليس كخادم ، بل كاابن ووحيد الجنس ،وكان يريد كل ماأراده الآب .أو من الأفضل أن نقول إن الأبن لم يُرسل لأنه لم يذهب من مكان لمكان ،بل أخذ جسداُ.أما الملائكة فهم يتنقلوا من مكان إلى آخر ،ويتركون الأماكن الأولى التى يوجدون فيها، وهكذا يأتون إلى أماكن أخرى لم يكونوا فيها .كما أنهم كانوا يشجعوا البعض قائلين :&#8221;لماذا تخافون ؟&#8221;إن الملائكة يخدموننا<a href="#_ftn4" name="_ftnref4">[4]</a>.</p>
<p></p>
<p><strong>البابا غريغوريوس (الكبير)</strong></p>
<p>الملائكة</p>
<p></p>
<p>من هم الذين يُدعون بني الله إلا الملائكة المختارون؟ وكما نعرف عنهم أنهم يتطلعون إلى عيني عظمته. يليق بنا أن نتساءل: من أين جاءوا ليمثلوا أمام الله؟ فقد قيل عنهم بصوت الحق: &#8220;إن ملائكتهم في السماوات كل حين ينظرون وجه أبي الذي في السماوات&#8221; (مت ١٨ : ١٠). ويقول عنهم النبي: &#8220;ألوف ألوف تخدمه، وربوات ربوات وقوف قدامه&#8221; (دا ٧ : ١٠). فإن كانوا دائمًا ينظرون ويقفون بجواره، يلزمنا بحرص وتدقيق أن نراعي من أين جاءوا، فإنهم لا يفارقونه قط، لكن إذ يقول عنهم بولس: &#8220;أليس جميعهم أرواحًا خادمة مُرسلة للخدمة لأجل العتيدين أن يرثوا الخلاص؟&#8221; (عب ١ : ١٤) ، من هذا نتعلم أنهم مُرسلون ونكتشف من أين جاءوا&#8230;</p>
<p>إنهم لا يذهبون بطريقة يُحرمون فيها من رؤية الله، فتُنزع عنهم أفراح التأمل الداخلي، فلو أن بإرسالهم يفقدون رؤية خالقهم لا يقدرون أن يُقيموا الساقطين، ولا أن يعلنوا للذين في الجهالة عن الحق، وما كانوا يستطيعون قط أن يقدموا للعميان ما حُرموا به بتركهم مصدر النور.</p>
<p>تختلف طبيعة الملائكة عن حال طبيعتنا الحاضرة، حيث نحن مقيدون بالمكان ومحدودون بعمى الجهالة، أما أرواح الملائكة فمع كونها محدودة بمكانٍ، لكن معرفتهم ترتفع عنا جدًا، دون وجه للمقارنة، لهم معرفة ممتدة خارجيًا وداخليًا، إذ يتأملون ذات مصدر المعرفة نفسه&#8230;</p>
<p>وكما أن أرواحهم ذاتها إن قورنت بأجسادنا فهم أرواح، هكذا إن قورنوا بالروح السامي غير المدرك يُحسبون جسدًا. لذلك فهم مُرسلون منه، وواقفون أمامه أيضًا، إذ في هذا هم مقيدون أن يُرسلوا، وفي نفس الوقت حاضرون بالكامل لن يفارقوه.</p>
<p>هكذا في نفس الوقت يرون وجه الآب دائمًا، ومع هذا يأتون إلينا، حيث يُرسلون خلال سمة التأمل الداخلي. يمكن إذن أن يُقال: &#8220;جاء بنو الله ليمثلوا أمام الرب&#8221;، إذ يرجعون إلى هناك بعودة الروح، إلى حيث لم يفارقوه قط بعدم انسحاب العقل عنه<a href="#_ftn5" name="_ftnref5">[5]</a>.</p>
<p></p>
<p></p>
<p><strong>القديس يعقوب السروجي</strong></p>
<p></p>
<p>السلام لك</p>
<p></p>
<p>يا ابن الله الكلمة الغير منطوق به أعطى كلمة غنية لترتل بالمجد . اظهر لى نفسك لأتكلم عن ظهور خبرك الخفي بصوت مرتفع . ولدك الآب قبل الزمان بغير ابتداء وأيضا ولدتك الأم البتول بغير تفسير . إختار له بتولا مخطوبة محفوظة مقدسة بالعفة والضياء . أشرف الاستعلان من الله على الطاهرة بيد غبريال السفير العلم الحقيقي . خرج الروحاني من وسط العساكر السمائية لأنه أرسل بالسر الخفي من عند الله سلم على البتول أم الملك وتكلم معها : السلام لك أيتها الممتلئة نوراً إلهيا . السلام لك يا مريم أم شمس البر السلام لك أيتها المباركة في النساء ربنا معك . تقبلين حبلا وتلدين إبنا بيتوليتك سمعت مريم كلام الملاك ومسكها الدهش ، كيف تحيل وهي بتول لأنه من هو الذي يطالب الأرض بالغله إذ لم تزرع، ومن يطلب من الكرم عنبا بغير تقليح ، ومن يطلب من البتول ولداً بغير زواج. قال الملاك  الروح القدس يأتي إليك ، ينزل ويقدس بتوليتك ويحل منك لعنة حواء ويباركك وتأتى قوة الآب الخفي ويتجسم بك . خرج الأمر لتلدي بيتوليتك ولداً لم ينته ملكه ويشرق فيك كلمة الحياة للعالم اجمع وها أليصابات نسيبتك حبلت بابن على كبر سنها هي عاقر وأنت بتول وليس ثم إمكان للابتول لتلد ولا للعجوز العاقر تقدر أن تلد ، وإن أمر الله تلد العاقرات والبتولات من يمنعين مضت مريم للنظر حقيقة الكلام وعند اليصابات حققت مريم أن كل ماقاله الملاك حق تكلمت الصبية واختلج بطن العجوز و تحير . ابن البتول عتيق الأيام وكبير الأجيال بدأ يعمل عملا جديداً في بيت اللاويين . بروح القدس مسح الطفل في بطن أمه وأعطاه المعمودية في البطن قبل الميلاد . تكلم سلام مريم بأذني العجوز وانسكب روح القدس في نفس الطفل لأنه هكذا قيل من الملاك إنه يمتلىء من الروح وهو في بطن امه . فاض الروح القدس من ابن الله وحل في الكاروز وهو في بطن أمه ، لأن سلام مريم حل هناك في موضع الكاهن ، واليصابات صارت كمثل حضن المعمودية وابن الله أرسل الروح من أزليته وعمد الطفل بروح القدس وهو في بطن أمه تحرك الطفل وابتهج ولم يستطع أن يتكلم داخل البطن . عوض يوحنا زعقت أمه بالكرازة وقالت من أين لي أن سيدي مع أمه يأتى إلى . غبريال دعا ابن مريم سيدى . وهكذا أيضا اليصابات كرزت &#8220;أم سيدي&#8221; وعرفت مريم أن المحمول بيتوليتها هو سيد السمائيين والأرضين . حبلت مريم بسيد الكهنة والملائكة . وشهد لها رئيس الملائكة وإمرأة الكاهن . لولا أن المحمول هو الله لم يدعه الملائكة والكهنة الرب جلست البتول كالتابوت الممتلىء دهشا وكرمها بيت الكاهن بالفرح والإبتهاج وفرحوا بها كالحلول الإلهى الجنين المحبوس والشيخ أبوه مدهوشان بك لأن ها في بطنك ذاك الذي السموات ممتلئة من مجده مصور الأطفال في البطون حل فيك يا مريم . قومى وامضي إلى عند الرجل العادل ليخدمك . واظهرى له السر وإبنك يهتم باتقان طريقك ، لأن سرير الأوجاع أدركن وليس حسنا أن اتكيء أنا وانت تخدمين ، لأنك حاملة الملك وأنا العبد . سارت مريم إلى بيتها لأن زمان إبنة اللاويين بلغ لتلد قبلها يوسف وعرف أن مريم حبلى فارتعب . الصبية عفيفة وممتلئة جميعها قداسة يبهج وجهها بصبغة رينة الطهارة والنقاوة البتولية . قالت له الكلام الذي سمعت من الملاك وذكرته بما قال الأنبياء وارتعب لما تحقق ، ولأنه مؤهل للمقاومة الإلهية التقى به الحلم مع غبريال رئيس الملائكة . أتى الملاك في رؤيا الليل ليتكلم معه ويعلم الحقيقة . تفكر وقت المساء أن يخلى خطيبته وأتى الملاك وكشف السر وقام بالفداة يسجد ويسأل الرضى . طل غبريال وشجعه وبشره وفسر له جميع قراءات الأنبياء وسكت البتول مع العادل بالقداسة وخفى السر من الخليقة ولم يحسوا بها لم ينظر في الطوبانية كمثل الرجل والإمرأة بل بتفرس فيها كمثل عظيم الكهنة في قدس الأقداس ليسجد لها ويكرمها ويخدمها ويخاف منها ينظر فيها كالسحابة على جبل سينا التي حلت داخلها قوة اللاهوت و يخدمها قيل رجلها لأن جنس يوسف من بيت داود فكان يوسف خطيبا لإبنة داود . ولأنها متمسكة بالبتولية شهد بالحق . واضطر ليكون الأم البتول رجلا وخدم السر الخفي ولم يحس أحد حتى أظهر ربنا للعالم من هو أبوه . ومن يعلم العالم أنه ابن الله ، مبارك هو الخفي الذي أتي للظهور .</p>
<p>له المجد دائما وعلينا رحمته ؟<a href="#_ftn6" name="_ftnref6">[6]</a></p>
<p></p>
<p></p>
<h3>عظات آباء وخدام معاصرين</h3>
<p>يُمْكِن الرجوع لعظات يوم ١٢ هاتور إذا كان الكلام عن الملائكة ، أو الرجوع ليوم ٢٩ برمهات والأحد الثاني من كيهك إذا كانت العظات تخصّ التجسُّد</p>
<p></p>
<p></p>
<p></p>
<h4>المتنيح القمص تادرس البراموسي</h4>
<p><strong>اليوم الثاني والعشرون من شهر كيهك المبارك</strong></p>
<p>سلام لك أيتها الممتلئة نعمة الرب معك مباركة أنت في النساء (لو ١-٢٦-٣٨)</p>
<p>رزحت الخليقة بعدما أخطأ أبونا أدم وتعديه للوصية آلاف السنين يتخبط في ظلام دامس وفقد الإنسان سلامه وكان وعد الله لآدم أن نسل المرأة يسحق رأس الحية (تك ٣-١٥) وإنتظر العالم وجاء الأنبياء ولم يكن فيهم المخلص لأنه لم يكن فيهم أحد معصوم من الخطية وليس لأحد مقدرة أن يخلص نفسه لا إبراهيم آب الأباء ولا إسحق ولا يعقوب وكان الجميع ينتظرون الساعة التي يأتى فيها المخلص جاء موسى النبي وخلص إسرائيل من عبودية المصريين ولم يخلص العالم من خطية آدم وجاء أشعياء وآرميا وإيليا وأخنوخ كلهم كان لهم دالة على الله لكن لم تكن فيهم الكفاية للخلاص وماتوا على رجاء أن يأتي المخلص والكتاب المقدس يقول لما جاء ملئ الزمان أتى ابن الله مولوداً من إمرأة تحت الناموس لكى يفتدى الذين هم تحت الناموس ، لما جاء مليء الزمان أتى ابن الله مولوداً من إمرأة تحت الناموس . والكتاب المقدس يعلمنا قائلاً وفي الشهر السادس أرسل جبرائيل الملاك من الله إلى مدينة من الجليل أسمها ناصرة إلى عذراء مخطوبة لرجل من بيت داود أسمه يوسف وإسم لعذراء مريم . يقصد بالشهر السادس أي الشهر السادس لحبل أليصابات العاقر أم يوحنا المعمدان التي هي والسيدة العذراء بنات خالات وكل منهما ولدت بمعجزة ولدت العذراء بدون أن تعرف رجلاً وهي حبلى من الروح القدس تعتبر معجزة وولدت العاقر المتقدمة في أيامها وقد يأست هي وزوجها زكريا الكاهن من الطلب ولما رزقمها الله بيوحنا المعمدان تعتبر معجزة الذي بشر السيدة العذراء بولادة السيد المسيح هو جبرائيل الملاك والذي بشر زكريا بميلاد يوحنا هو ايضا الملاك جبرائيل لكن تجد الفرق الشاسع بين الإثنين في المعاملة . الملاك قال للسيدة العذراء السلام لك أيتها المنعم عليها الرب معك مباركة أنت في النساء وعندما بشر زكريا لما رآه إضطرب فقال له الملاك لا تخف يا زكريا لأن طلبتك سمعت وإمرأتك ستلد لك إبنا وتسميه يوحنا .</p>
<p>السيدة العذراء رأته إضطربت ما عسى أن تكون التحية قال لها الملاك لا تخافي يا مريم لأنك وجدت نعمة عند الله ها أنت ستحبلين وتلدين إبنا وتسميه يسوع قالت مريم للملاك كيف يكون هذا وأنا لا أعرف رجلا قال لها الملاك الروح القدس يحل عليك وقوة العلى تظللك فلذلك أيضاً القدوس المولود منك يدعى إبن الله وأراد أن يثبت لها هذا الكلام عملى فقال لها أليصابات نسيبتك هي أيضاً حبلي بإبن في شيخوختها هذا هو الشهر السادس لتلك المدعوة عاقرا لأنه ليس شئ غير مستطاع عند الله . قال زكريا للملاك كيف يكون هذا وأنا شيخ وإمرأتي متقدمة في أيامها قال له الملاك أنا جبرائيل الواقف أمام الله أرسلت لأبشرك بهذا وها أنت تكون صامتاً لا تتكلم إلى اليوم الذي يتم فيه هذا لأنك لم تصدق كلامى الذي يتم في حينه : قالت مريم للملاك ها أنا أمة الرب ليكن لي كقولك فمضى من عندها الملاك فأنظروا يا أحبائي كيف كانت معاملة الملاك للسيدة العذراء وكيف كانت معاملته مع زكريا في معاملته للسيدة العذراء كان يخاطب أم الله ويقدم لها الكرامة والأحترام أما زكريا فهو خادم من خدام الله وهو متزوج وعنده إمرأة والسيدة العذراء بتول وفيما بعد صارت الأم البتول دائمة البتولية لأنها عذراء قبل وبعد الحبل والولادة<a href="#_ftn7" name="_ftnref7">[7]</a> .</p>
<hr />
<p><a href="#_ftnref1" name="_ftn1"></a>١- كتاب مفاهيم إنجيلية &#8211; الأنبا إبيفانيوس أسقف ورئيس دير القديس أنبا مقار</p>
<p><a href="#_ftnref2" name="_ftn2"></a>٢- القديس يوحنا الذهبي الفم &#8211; تفسير ٧ مزمور &#8211; القمص تادرس يعقوب ملطي</p>
<p><a href="#_ftnref3" name="_ftn3"></a>٣- كتاب الملائكة ( صفحات ١٣ ، ١٦ ، ٢١ ، ٢٤ ، ٢٥ ، ٤٣ ، ٤٦ ) &#8211; تأليف دكتور موريس تاوضروس وتقديم نيافة أنبا موسي أسقف الشباب</p>
<p><a href="#_ftnref4" name="_ftn4"></a>٤- كتاب تفسير رسالة بولس إلي العبرانيين للقديس يوحنا ذهبي الفم صفحة ٦٣ &#8211; ترجمة دكتور سعيد حكيم يعقوب</p>
<p><a href="#_ftnref5" name="_ftn5"></a>٥- المرجع : تفسير سفر أيوب ( الإصحاح الأول ) &#8211; القمص تادرس يعقوب ملطي</p>
<p><a href="#_ftnref6" name="_ftn6"></a>٦- المرجع : مجلة مدارس الأحد عدد شهر نوفمبر لسنة ١٩٦٩</p>
<p><a href="#_ftnref7" name="_ftn7"></a>٧- كتاب تأملات وعناصر روحية في آحاد وأيام السنة التوتية ( الجزء الثالث  صفحة ١٨٩ ) &#8211; إعداد القمص تادرس البراموسي</p>
<h3>من وحي قراءات اليوم</h3>
<p>&#8221; أنظروا إذاً لا تحتقروا أحد هؤلاء الصغار &#8221;     إنجيل باكر</p>
<p>+ الصغير والناقص هو كل من ليست له إمكانيتنا وقدراتنا</p>
<p>+ يمكن أن نقول عنهم أصحاب القدرات الخاصة أفضل من المُعاقين</p>
<p>+ أخطر ما يحدث هو الحكم عليهم ولو مُستتراً في فكرنا أن لا فائدة من وجودهم فيالحياة لذلك ما أجمل قول الكتاب &#8221; مُعْطياً الناقص كرامة أفضل &#8221; (١كو ١٢ : ٢٤)</p>
<p>+ الله أعطاهم كرامة أفضل ومواهب خاصة لكن ترك لهم إكتشافها أو ترك لمن حولهمإكتشافها</p>
<p>+ إكتشاف برايل الضرير لطريقة الكتابة تُعْلِن إكتشافه لذاته الحقيقية وكرامة الله فيحياته ومواهبه</p>
<p>+ لا تلتفت المجتمعات الشرقية للمعاقين وصغار المواهب ، لذلك تبقي المسؤولية عليالكنيسة للقيام بالدور ( وقد قام به المتنيح الأنبا أثناسيوس منذ أربعين سنة قبلالحكومة )</p>
<p>+ هل معني إختيار الله للجهلاء والضعفاء والمزدري وغير الموجود(١كو ١ : ٢٨،٢٧)  أنيختار منهم قادة ؟!</p>
<p>+ أخطار ما يواجهه المُعاقين هو إعاقة فكرنا عن فهمهم وإعاقة قلوبنا عن الإحساسبهم</p>
<p>+ &#8221; أوليس صانعي في البطن صانعه، وقد صورنا واحد في الرحم &#8221; (أي٣١ : ١٥) آية تُعْلِن تساوي القيمة والكرامة</p>
<p>+ ما أجمل أن لا يستغرب الناقص أو القليل أو الصغير ( في نظر البشر ) وجوده فيالمجتمع الكنسي وما أجمل أيضا أن لا يستغرب المجتمع الكنسي وجوده وسطهم</p>

      {% endcreateArticleAccordions %}
    </section>
  {% endblock %}
  