---
layout: 'layouts/reading.html'
title: 'اليوم الأوّل من طوبي'
permalink: annual/5-1.html
---
  {% block content %}
    <section id="readings">
      <ul>
      {% if 'undefined' != 'undefined' %}
      
      {% else %}
      {% if '19.5:11-12' != 'null' %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">العشية</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeVespers '19.5:11-12' '40.10:24-33' %}
          </div>
        </div>
      </li>
      {% endif %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">باكر</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeMatins '19.34:19-20' '43.12:20-26' '' %}
          </div>
        </div>
      </li>
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <h3 class="flex items-center justify-between">
            <span class="kufi">القداس</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </h3>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeLitugy '47.11:16-33*@+47.12:1-12' '60.1:25*@+60.2:1-10' '44.6:1-15*@+44.7:1-2' '19.21:3,5' '42.10:1-20' %}
          </div>
        </div>
      </li>

      {% endif %}
        </ul>
    </section>
    <section id="article">
      <h3 class="mt-8 mb-4 heading-explain">شرح القراءات</h3>
      {% createArticleAccordions %}
        <p>&#8221; لكي يعرف في الأرض طريقك، وفي كل الأمم خلاصك &#8221; (مز ٦٧: ٢)</p>
<p>لك السموات والأرض وكل ملئها، الأرضيون والمساويون صاروا اليوم واحدًا في التسبيح بقيامتك لأنه قد صار فرح في المسكونة من أجل أن الإله صار مع البشر)</p>
<p>قسمة تقال في تذكار البشارة والميلاد والقيامة</p>
<p>القديس أغسطينوس عن الشماس الشهيد لورانس :</p>
<p><a href="#_ftn1" name="_ftnref1">[1]</a>&#8221; لقد كان شماسا (بدرجة) أقل درجة من الاسقف ، ولكن صيره اكليل الشهادة مساويا لدرجة الرسول .&#8221;</p>
<p>&#8221; مرة حملوا الحجارة على ربنا بجنونهم، وبما أنه لم يُضرب، فقد حفظوها لاسطفانوس.</p>
<p>هنا كمل نقصان آلام الابن، وما انتقص عن المخلص صُنع به.</p>
<p>لم يصب ربنا من اليهود الرجم فقط، ولكي يكتمل نظام آلامه، فقد نفذوه بعبده&#8230;</p>
<p>كان العمل من مبادرتهم دون أن يُكتب: لم يكتب أحد الأنبياء بأنهم يرجمونه.</p>
<p>المرارة والخل والرمح وخشبة الصليب وجلد الظهر وتوزيع الثياب وثقب اليدين.</p>
<p>والتفل على الوجه واللطم على الخدين تمت كلها، لأنها كانت مكتوبة في النبوة عن مخلصنا<a href="#_ftn2" name="_ftnref2">[2]</a> &#8221;</p>
<p></p>
<p>&#8221; إن كان رجل واحد أي موسى كسب صفحًا من الله عن ستمائة ألف رجل حرب، واستفانوس الشهيد المسيحي توسل طالبًا المغفرة عن مضطهديه، فهل عندما يدخل هؤلاء بحياتهم إلى المسيح تكون قوتهم أقل من هذا؟<a href="#_ftn3" name="_ftnref3">[3]</a>! &#8221;</p>
<h3>شواهد القراءات</h3>
<p>(مز ٥: ١٠ – ١٢) ، (مت ١٠ : ٢٤ – ٣٣) ، (مز ٣٣ : ١٨ ، ١٩) ، (يو ١٢ : ٢٠ – ٢٦) ، (٢كو ١١ : ١٦ &#8211; ١٢ : ١ – ١٢) ، (١بط ١ : ٢٥ &#8211; ٢ : ١ – ١٠)، (أع ٦ : ١ &#8211; ٧ : ١ – ٢) ، (مز ٢٠ : ٣ ، ٥) ، (لو ١٠ : ١ – ٢٠)</p>
<h3>ملاحظات على قراءات يوم ١ طوبه</h3>
<p>+ إنجيل عشيّة اليوم (مت ١٠: ٢٤ &#8211; ٣٣) هو نفس إنجيل عشيّة يوم ٢٢ هاتور ( شهادة القديس قزمان وإخوته ووالدتهم ) ، وإنجيل عشيّة يوم ٢٦ مسري ( شهادة القديس موسي وسارة أخته )</p>
<p>وهي القراءة التي تتكلم عن تلاميذ المسيح ، والذين يشهدون له وسط آلامهم وأوجاعهم</p>
<p>+ قراءة إنجيل باكر اليوم (يو ١٢: ٢٠ &#8211; ٢٦) هي نفس قراءة إنجيل باكر يوم ٢٦ مسري ( شهادة القديس موسي وسارة أخته ) ، وهي القراءة التي تكلمت عن بذل الشهداء لحياتهم لأجل المسيح مثل إلههم ( حبّة الحنطة ) ، وهو الذي عندما مات بالصليب أتي بثمر كثير في أولاده الشهداء والقديسين كما قال القديس أثناسيوس الرسولي ( كتاب تجسَّد الكلمة فصل ٤٨ &#8211; ترجمة دكتور جوزيف موريس فلتس )</p>
<p>+ قراءة الكاثوليكون اليوم (١بط ٢ : ١ &#8211; ١٠) مُكرَّرة في قراءات أيَّام ١٦ توت ( تجديد كنيسة القيامة ) ، ٣ طوبه ( شهادة أطفال بيت لحم ) ، ٢ بؤونه ( وجود عظام يوحنا المعمدان ) ، مع ملاحظة زيادة آية في بداية هذه القراءات الثلاث وهي ختام الإصحاح الأول (١بط ١ : ٢٥) ، كما جاءت أيضاً في قراءات الأحد الرابع من شهر أبيب</p>
<p>ومجئ هذه القراءة اليوم للإشارة إلي مجد ظهور الله للأمم وإيمانهم به (موضوع قراءة اليوم) &#8221; الذين قبلاً لم تكونوا شعباً وأمَّا الآن فأتم صرتم شعب الله &#8221;</p>
<p>أمَّا مجيئها يوم ١٦ توت للإشارة إي كنيسة العهد الجديد، الحجارة الحيّة، الكهنوت الملوكي ، الجنس المُختار والأُمَّة المُقدّسة</p>
<p>ومجيئها يوم ٣ طوبه للإشارة إلي أهمِّية التشبه بالأطفال &#8221; مثل أطفال مولودين الآن إشتهوا اللبن العقلي العديم الغش &#8221;</p>
<p>ومجيئها يوم ٢ بؤونه للإشارة إلي جوهر كرازة يوحنا وهو الإشارة إلي الحجر الذي صار رأس الزاوية وحمل الله الذي يرفع خطية العالم وعريس البشريّة، كما أن رأس الزاوية (المسيح له المجد) هو الذي ربط بين العهدين القديم والجديد، كما أن يوحنا هو الذي سعي لكي يُقدِّم للبشرية عريسها الحقيقي ، ورُبما لأجل هذا بدأ الإبركسيس في ذلك اليوم بكلمة &#8221; ولما أكمل يوحنا سعيه &#8221;</p>
<p>ومجيئها في الأحد الرابع من بؤونه للإشارة إلي مجد ابن الله حجر الزاوية الذي أعطي الحياة للعازر الميت بعد أربعة أيَّام في القبر</p>
<p>+ قراءة إنجيل القدَّاس اليوم (لو ١٠: ١ &#8211; ٢٠) هي نفس قراءة إنجيل القدَّاس ليوم ٢٢ بابه (تذكار لوقا الإنجيلي الرسول ) ونفس قراءة إنجيل عشيَّة يوم ١٤ بابه ( تذكار فيلبس الشمَّاس ) ، ونفس قراءة إنجيل القدَّاس للأحد الأوَّل من شهر أبيب وهو التوقيت الذي يأتي فيه عيد آبائنا الرسل الأطهار القديسين ( ٥ أبيب )</p>
<p>وهو إنجيل دعوة الرب للسبعين رسولاً، والمواهب التي أعطاها لهم والوصايا التي طلبها منهم ، لذلك أتي في تذكار فيلبس الشمَّاس ( ١٤ بابه ) ، وفي تذكار لوقا الإنجيلي ( ٢٢ بابه ) ، وفي تذكار الشهيد إستفانوس ( ١ طوبه ) ، وفي الأحد الأوَّل من شهر أبيب ( الذي يأتي تزامناً مع عيد آبائنا الرسل الأطهار القديسين )</p>
<h4>القراءات المُحوَّلة علي قراءة أول طوبة</h4>
<p>١٥ توت           نقل جسد القديس استفانوس رئيس الشمامسة وأحد السبعين</p>
<p>٢٤ توت           تذكار الرسول قدراطس وأحد السبعين</p>
<p>٢٦ بابه            شهادة القديس تيمون الرسول وأحد السبعين</p>
<p>٢٠ طوبه          نياحة القديس بروخورس وأحد السبعين</p>
<p>١٩ برمهات        نياحة القديس ارسطوبولس وأحد السبعين</p>
<p>١٥ برمودة         تذكار تكريس كنيسة القديس أغابوس الرسول وأحد السبعين</p>
<p>٢٩ برمودة         نياحة القديس ارسطوس وأحد السبعين</p>
<p>٣ بشنس           نياحة القديس ياسون وأحد السبعين</p>
<p>٢٢ بشنس         نياحة القديس أندرونيقوس وأحد السبعين</p>
<p>أول بؤونه           نياحة القديس كاربوس وأحد السبعين</p>
<p>٢٥ بؤونه            شهادة القديس يهوذا وأحد السبعين</p>
<p>٦ أبيب               شهادة القديس أولمباس وأحد السبعين</p>
<h3>شرح القراءات</h3>
<p>اليوم هو تذكار شهادة القديس إسطفانوس رئيس الشمامسة ومُحوّل على هذا اليوم تذكارات لإثني عشر من الشهداء من السبعين رسولاً الذين إختارهم رب المجد والذين تركّزت كرازتهم للأمم والتي هي أيضاً موضوع قراءات آحاد هذا الشهر الظهور الإلهي للأمم وقبولهم الإيمان</p>
<p>تتركّز قراءات هذا اليوم في بشارة الظهور الإلهي للأمم وإختيار الرب لكارزين جدد بعد التلاميذ الإثني عشر ليكونوا مُبشِّرين بالظهور الإلهي للشعوب الغريبة والأمم البعيدة</p>
<p>تبدأ المزامير ببشارة الفرح لخدّام الله ( مزمور عشية ) ورعاية الله لهم ( مزمور باكر ) ومجده وبهاءه فيهم ( مزمور القداس )</p>
<p>يُعْلِن مزمور عشية أن الفرح والمسرّة هو سلاح الصديقين والخدّام وإكليلهم وعنوانهم في حياتهم وخدمتهم</p>
<p>( وليفرح جميع المتكلين عليك وإلي الأبد يُسرون لأنك أنت باركت الصدِّيق يارب مثل سلاح المسرة كللتنا )</p>
<p>وفِي مزمور باكر حِفْظ الله لأنفسهم من الحزن ولأرواحهم من ضعف الإيمان فالعظام التي يتكلّم عنها المزمور هنا هي إيمانهم القوي جدا الذي لا ينكسر كما شرح العلامة أوريجانوس وليست عظام الجسد لأن كثير من الكارزين تكسّرت عظامهم ولكن لم يتزعزع إيمانهم</p>
<p>(كثيرة هي أحزان الصديقين ومن جميعها يُنجِّيهم الرب يحفظ الرب جميع عظامهم وواحدة منها لا تنكسر )</p>
<p>كما نري أيضاً هذه الحماية في إنجيل عشية (وأما أنتم فحتي شعور رؤوسكم جميعها محصاة)</p>
<p>وفِي مزمور القداس يفيض الله بمجده وبهاءه علي كارزيه وخدّامه</p>
<p>(أدركته ببركات صلاحك ووضعت علي رأسه إكليلاً من حجر كريم مجده عظيم بخلاصك مجداً وبهاءاً عظيماً جعلت عليه )</p>
<p>وتتكلّم القراءات عن آلام الكارزين وأمجادهم ( البولس ) وبنيانهم ورسالتهم ( الكاثوليكون ) وثمرة كرازتهم ( الإبركسيس )</p>
<p>يوضح البولس إلي أي مدي أتعاب وآلام الكرازة والخدمة ولكن أيضاً مجد الله فيهم وإعلاناته الإلهية رغم ضعف أجسادهم وحسد الشيطان لهم</p>
<p>( أهم خدام المسيح قلت كمختل العقل فأنا أفضل في الأتعاب أكثر في الضربات أوفر في السجون أكثر بإفراط &#8230; بأتعاب وأوجاع في الأسهار مراراً كثيرة بجوع وعطش في الأصوام مراراً كثيرة في برد وعري سواء أشياء كثيرة دون ذلك قاسيتها والاهتمام كل يوم بجميع الكنائس &#8230; وإني آتي إلي مناظر وإعلانات الرب أعرف رجلاً في المسيح قبل أربعة عشر سنة أفي الجسد لست أعلم أم خارج الجسد لست أعلم أنه أختطف إلي الفردوس وسمع كلمات لا ينطق بها &#8230; ولئلا أستكبر بكثرة الاعلانات أُعطيت منخاساً في جسدي من ملاك الشيطان ليقمعني لئلا أستكبر ومن جهه هذا طلبت من الرب ثلاث مرات أن يبعده عني فقال لي تكفيك نعمتي لأن قوتي في الضعف تكمل يسرني بالحري أن أفتخر بالأمراض لكي تحل عليَّ قوة المسيح )</p>
<p>وفِي الكاثوليكون يظهر بنيانهم القوي كحجارة حيّة ورسالتهم مع الأمم الذين صاروا شعب الله ومرحومين وقبلوا دعوة الله الذي دعاهم من الظلمة إلي النور</p>
<p>( كونوا أنتم أيضاً كحجارة حية مبنيين بيتاً روحانياً كهنوتاً طاهراً لتقديم ذبائح روحية مقبولة عند الله بيسوع المسيح &#8230; أما أنتم فجنس مختار وكهنوت ملوكي وأمة مقدسة وشعب مبرر لكي تُخبروا بفضائل ذاك الذي دعاكم من الظلمة إلي نوره العجيب الذين قبلاً لم تكونوا شعباً وأما الآن فأنتم صرتم شعب الله الذين كنتم غير مرحومين وأما الآن فمرحومون )</p>
<p>وفِي الإبركسيس عن ثمرة كرازتهم وغني عمل النعمة فيهم وفِي الكنيسة في العجائب والقوات وفِي طاعة الإيمان</p>
<p>(وكانت كلمة الرب تنمو وكثر عدد التلاميذ جداً في أورشليم وجمهور كثير من الكهنة أطاعوا الإيمان وأما إسطفانوس فإذ كان مملوءاً نعمةً وقوةً كان يصنع عجائب عظيمة وقوات في الشعب )</p>
<p>وتتكلّم الأناجيل عن إرتباط المُرْسَلون للخدمة بمن دعاهم وأرسلهم سواء في تبعيتهم له أو في مكافأته لهم (إنجيل عشية وإنجيل باكر ) وفِي حتمية موت حبّة الحنطة &#8211; إرادة الكارزين وذواتهم &#8211; لإمكانية رؤية الرب يسوع ( إنجيل باكر ) وفِي جوهر إرساليتهم توبة الشعوب والأمم ( إنجيل القداس</p>
<p>يوضِّح إنجيل عشية كيف يتبع التلميذ معلّمه والكارز يتمثّل بمن أرسله وفِي ذات الوقت يكافئ السيد والمُعلِّم تلاميذه وخدّامه وكارزيه بإعترافه بهم في السماء</p>
<p>( ليس التلميذ أفضل من معلمه ولا العبد أفضل من سيده يكفي التلميذ أن يصير كمُعلّمه والعبد مثل سيده إن كانوا قد لقّبوا ربّ البيت بعلزبول فكم بالحريّ أهل بيته &#8230; فكل من يعترف بي قدام الناس أعترف أنا أيضاً به قدام أبي الذي في السموات )</p>
<p>وفِي إنجيل باكر أيضاً من يخدم السيّد والمُعلِّم يتبعه أينما يكون ومن يخدم يأخذ الكرامة من الآب مباشرة</p>
<p>( إن كان أحد يخدمني فليتبعني وحيث أكون أنا هناك أيضاً يكون خادمي معي ومن يخدمني يكرمه أبي )</p>
<p>كما يُعْلِن أيضاً أن من يريد أن يري يسوع يكون مثل حبة الحنطة التي يجب أن تموت لكي يأتي الثمر الكثير</p>
<p>( وسألوه قائلين يا سيد نريد أن نري يسوع &#8230; الحق الحق أقول لكم إن لم تقع حبة الحنطة في الأرض وتمت فهي تبقي وحدها ولكن إذا ماتت تأتي بثمر كثير )</p>
<p>وفِي إنجيل القداس نري دعوة الكارزين ووصاياه لهم وجوهر إرساليتهم في التوبة وعِظَمْ مكافأته لهم</p>
<p>( وبعد ذلك عيَّن الرب سبعين آخرين وأرسلهم إثنين إثنين أمام وجهه إلي كلِّ مدينة وموضع حيث كان هو مُزمعاً أن يمضي إليه &#8230; لا تحملوا كيساً ولا مزوداً ولا أحذية ولا تسلِّموا علي أحد في الطريق &#8230; وقولوا لهم قد إقترب منكم ملكوت الله &#8230; فرجع السبعون بفرح قائلين يارب حتي الشياطين تخضع لنا بإسمك فقال لهم رأيت الشيطان ساقطاً من السماء مثل البرق ها أنا أعطيتكم السلطان لتدوسوا الحيات والعقارب وكلَّ قوة العدو ولا يضر بكم شئ ولكن لا تفرحوا بهذا إن الأرواح تخضع لكم بل إفرحوا أن أسماءكم مكتوبة في السموات )</p>
<p>ويُعلِّق القديس أثناسيوس الرسولي علي المقارنة بين إخراج الشياطين ، وبين الأسماء المكتوبة في السماء :</p>
<p>&#8221; كتابة أسمائنا في السماء برهان على حياتنا الفاضلة، أمّا إخراج الشيّاطين فهو هبة من المخلّص، لذلك يقول للذين يفتخرون بعمل القوات دون ممارسة الحياة الفاضلة: &#8220;لا أعرفكم&#8221;، إذ لا يعرف الله طريق الأشرار &#8220;<a href="#_ftn4" name="_ftnref4">[4]</a></p>
<h3>ملخّص القراءات</h3>
<p>أفراح الكارزين وأحزانهم ومجد الله فيهم                      مزمور عشيّة وباكر والقدّاس</p>
<p>أتعاب الكارزين ورسالتهم وثمرة كرازتهم               البولس والكاثوليكون والإبركسيس</p>
<p>تبعية الكارزين لمعلمهم ووصاياه ومكافأته لهم              إنجيل عشيّة وباكر والقدّاس</p>
<h3>أفكار مقترحة للعظات</h3>
<h4>(١) شهود الظهور الإلهي</h4>
<p>١- تَشَبُّه التلميذ بمعلمه والعبد بسيده</p>
<p>&#8221; يكفي التلميذ أن يصير كمعلمه والعبد مثل سيده &#8221;                         إنجيل عشيّة</p>
<p>٢- من يموتون مثل حبة الحنطة ومن يتبعونه</p>
<p>&#8221; إن لم تقع حبة الحنطة في الأرض وتمت فهي تبقي وحدها ولكن إذا ماتت تأتي بثمر كثير &#8230; إن كان أحد يخدمني فليتبعني &#8221;                                                                إنجيل باكر</p>
<p>٣- خدّام المسيح الذين يتحملون الأتعاب والآلام</p>
<p>&#8221; أهم خدّام المسيح قلت كمختل العقل فأنا أفضل في الأتعاب أكثر في الضربات أوفر .. ) البولس</p>
<p>٤- الذين يُعلنون بفضائلهم نور المسيح</p>
<p>&#8221; أما أنتم فجنس مختارٌ وكهنوتٌ ملوكيٌ وأمةٌ مقدسةٌ وشعبٌ مبرر لكي تخبروا بفضائل ذاك الذي دعاكم من الظلمة إلي نوره العجيب &#8221;                                    الكاثوليكون</p>
<p>٥- المملوئين من الروح القدس والإيمان والنعمة والقوة</p>
<p>&#8221; فإختاروا إسطفانوس رجلاً من بينهم رجلاً مملوءاً من الإيمان والروح القدس &#8230; فإذ كان مملوءاً نعمة وقوّة &#8230; ولم يمكنهم أن يقاوموا الحكمة والروح الذي كان يتكلَّم فيه &#8221; الإبركسيس</p>
<p>٦- المُرسلون منه للكرازة والخدمة</p>
<p>&#8221; وبعد ذلك عين الرب سبعين آخرين وأرسلهم إثنين إثنين أمام وجهه &#8221; إنجيل القداس</p>
<h4>(٢) قوَّة المسيح</h4>
<p>١- المُعْلَنة في ضعف الإنسان والمُكَمِّلَة له بالنعمة الإلهية</p>
<p>&#8221; فقال لي تكفيك نعمتي لأن قوتي في الضعف تكمل يسرني بالحري أن أفتخر بالأمراض لكي تحل علي قوة المسيح &#8230; لأني إذا ضعفت فحينئذ أنا قوي &#8221;               البولس</p>
<p>٢- أولاد الله المبنيين كحجارة حية</p>
<p>&#8221; كونوا أنتم أيضاً كحجارة حية مبنيين بيتاً روحانياً كهنوتاً طاهراً &#8221;        الكاثوليكون</p>
<p>٣- قوَّة المسيح المُعْلَنة في أولاده وخدّامه</p>
<p>فإذ كان مملوءاً نعمة وقوّة &#8230; ولم يمكنهم أن يقاوموا الحكمة والروح الذي كان يتكلَّم فيه &#8221; الإبركسيس</p>
<p>٤- سلطان أولاد الله علي كل قوات الظلمة</p>
<p>&#8221; فرجع السبعون بفرح قائلين يارب حتي الشياطين تخضع لنا بإسمك فقال لهم رأيت الشيطان ساقطاً من السماء مثل البرق ها أنا أعطيتكم السلطان لتدوسوا الحيات والعقارب وكل قوة العدو &#8221;                                                                                    إنجيل القدَّاس</p>
<h4>(٣) رعاية الله لأولاده</h4>
<p>١- إكليل المسرَّة والفرح للمتكلين عليه</p>
<p>&#8221; وليفرح جميع المتكلين عليك &#8230; مثل سلاح المسرة كللتنا &#8221;               مزمور عشيّة</p>
<p>٢- الرعاية والحِفْظ الكامل حتى شعور الرأس</p>
<p>&#8221; وأما أنتم فحتي شعور رؤوسكم جميعها محصاة &#8221;                            إنجيل عشيّة</p>
<p>٣- نجاتهم من الأحزان</p>
<p>&#8221; كثيرة هي أحزان الصديقين ومن جميعها ينجيهم الرب &#8221;                 مزمور باكر</p>
<p>٤- يحفظ نفوسهم للحياة الأبديّة</p>
<p>&#8221; ومن يبغض نفسه في هذا العالم يحفظها إلي حياة أبدية &#8221;                إنجيل باكر</p>
<p>٥- نجاة أولاده من مؤامرات الأشرار</p>
<p>&#8221; في دمشق والي الأمم الذي لأريطا الملك كان يحرس مدينة الدمشقيين يريد أن يقبض عليَّ فتدليت من طاقة في زنبيل من السور ونجوت من يديه &#8221;                  البولس</p>
<p>٦- النصرة علي كل قوة العدو</p>
<p>ها أنا أعطيتكم السلطان لتدوسوا الحيات والعقارب وكل قوة العدو ولايضركم شئ &#8221; إنجيل القدَّاس</p>
<h3>عظات آبائية</h3>
<h4>القديس غريغوريوس النيسي</h4>
<p>سمات الحكمه الحقيقه في شهادة القديس إسطفانوس عند القديس غريغوريوس النيسي</p>
<p>ان الغلبه قد تمت ، قبل ان ينتهي الجهاد الروحي ، وراينا المنتصر مكللاً قبل أن تأتي النهايه . أي قبل أن نري ملامح هذا الجهاد ، انجذبنا من خلال الكلمه ، الي ختام هذا الجهاد الروحي .</p>
<p>بالطبع كان ينبغي ، كما اعتقد ، أن لا نتجاوز تلك الأمور التي تظهر فضيله الشهيد إسطفانوس ، بأفضل طريقه . أي كيف كان هذا المجلس المتعطش إلي الدماء ، وكيف إشتعلت في الجميع نفس الرغبه للقتل ، والي اي مدي مان التوافق والاتفاق الذي ساد كل المجتمعين علي إرتكاب الشر ، والذي كان متمثلًا في نطره كل واحد منهم ، وصرير الاسنان ، كما أعلنت الكلمه المقدسه :</p>
<p>&#8221; حنقوا بقلوبهم وصروا بأسنانهم عليه &#8221; . وهو بين كل أولئك الرعاع ، وقد وضع نفسه في مواجهه القوه المضاده التي للمخالفين الغاضبين الحانقين ، ووقف أسمي من الجميع ، وواجه الغضب بطول أناه ، والتهديدات بعدم إكتراث ،والخوف من الموت بإحتقار الحياه ، والبغضه بالمحبه ، والعداوه بالغفران ، والوشاية بإظهار الحقيقه . بمعني ان المجاهد لأجل إظهار الحقيقه ، لم يثبت إنتصاره ، بطريقه واحده فقط ، بل أظهر فضائله الكثيره ، بحسب نوعيه كل شر أطلقه اليهود آنذاك ، وواجه الجميع ، وانتصر عليهم .</p>
<p>وكما يحدث في المنافسات الرياضيه ، أن الرياضيين الأقوياء ، يشاركون بصفه دائمه في جميع المنافسات ، ويحققون ساحقاً.</p>
<p>هكذا ، فإن اسطفانوس الأول في ساحه الشهداء ، صمد وجاهد ضد كل قوه المضاد له ، ونودي به منتصرا ببهاء ، بإنتصاره علي الجميع . فقوه الحكمه الكاذبه التي حاربته في شخص الحكماء الزائفين من الليبريتيين ، والقيراونيين ، والاسكندريين ، هذه قد إنتصر عليها ، بالحكمه الحقيقيه ، وهزم الخوف بالشجاعه ، والأمور المرعبه بعدم الاكتراث ، كما غلب العداوه بالغفران ، والكذب بالحقيقه . هؤلاء اليهود ، قد وضعوا في قلوبهم أن يقتلوه ، واسلحتهم هي الحجاره ، ودللوا علي عدواتهم ، بنظرات عيونهم ، وبصرير الإنسان ، بينما إسطفانوس ، قد نظر إليهم كأخوه ، واحتضنهم كآباء لأنه يقول &#8221; ايها الرجال الاخوه والاباء ، اسمعوا! &#8221;</p>
<p>هولاء قد حاكوا المكيده والوشايه ، كأنها حقيقة ،أما بالنسبه لإسطفانوس ، فإن مجلس الموت هذا ، كان بمثابه شهاده وإعلان للحقيقه . فلم يوقف كلامه ، بسبب الخوف ، او اعيق ، بسبب المخاطر التي احاطت به ، ولم يعر الموت إهتماما ، بل تسامت نفسه الي اعلي ، وإزدري بكل الأمور الدنيوية ، ولقنهم درسا بكلمته ، كأولاد اغبياء ، مستخدما الاقوال والكتابات نفسها التي آمنوا بها ، لكي يبين ضلالهم في العقائد . فأخل في كلمته ، إبراهيم ، وقدم بإختصار قصته امامهم ، وبعد ذلك قدم سلسله القديسين اللإحقين، وبين هؤلاء ولد موسي النبي ، وتربي ، وتعلم ، وعرف الأسرار الالهيه فوق الجبل ، ورأي الضربات التي أصابت المصريين ، وخلص الاسرائليين ، وتنبأ بالسر المرتبط بمجيء الرب . إن هذا الكلام ازعج مجلس الموت بشده ، وأشعل فيهم شهوه القتل ، لأن موسي الذي يوقرونه بشكل فائق ، قد قدم كمدافع عن الايمان الحقيقي . وبناء علي هذا الكلام ، نهضوا بغضب ، ووضعوا نهايه تعكس عداوتهم . فقد تجاوز إسطفانوس كل حدود الطبيعه الإنسانيه ، وقبل أن يغادر الجسد ، رأي بعيون نقيه صافيه ، أبواب السماء وهي تفتح ، وتظهر أمامه الأعماق الداخليه للسماء ، وراي مجد الله ، وإبن الانسان قائما عن يمين الله . وبالطبع لا يمكنه ان يعطي وصفا لمجد الآب بالكلام ، بل إن بهاء مجد الله ، قد راه البشر، قائما هكذا بالحاله التي يمكن للطبيعه الإنسانيه ان تراها .</p>
<p>الاذان الدنسه :</p>
<p>وقد سما القديس إسطفانوس ، فوق الطبيعه الانسانية ، وتغير وجهه كأنه وجه ملاك ، حتي أن قاتليه قد إندهشوا لتغير وجه إلي وجه ملاك ، وعندئذ رأي المشاهد غير المعلنه أو غير المنظوره ، وصرخ أمام الرؤيه التي وهبت له . إلا أن اليهود سدوا اذانهم ولم يقبلوا ما قاله عن الرويه . لانه بالطبع ، لم تكن هذه الاذان الدنسه مستحقه لقبول هذه الكلمات عن الرؤيه الالهيه .</p>
<p>أما إسطفانوس ، فقد نقل هذه النعمه للحضور ، ليشاركوه في ما رأي ، هذه التي إستحق وحده أن يراها ، قائلاً: &#8221; ها أنا انظر السماوات مفتوحه ، وابن الانسان قائما عن يمين الله &#8221; . فصاحوا بصوت عظيم وسدوا آذانهم ، وهجموا عليه بنفس واحده &#8221; لقد أورد في كلامه التاريخ الخاص بإبراهيم ، وهذا صواب بالإضافه إلي الأعمال ، والصرخات التي أطلقوها ، لكي يظهر مدي العلاقه والقرابه بين رغبتهم ، وبين صراخ أهل سدوم . كذلك فإن خطيه أولئك ، قد دعيت من قبل الديان ، صراخ ، لأنه يقول : &#8221; صراخ سدوم وعموره قد كثر ، وخطيتهم قد عظمت جدا . أنزل واري هل فعلوا بالتمام حسب صراخها الآتي إلي &#8221; . إذا ، فقد صرخ هولاء اليهود ، لكي يسمع صراخهم ، أولئك الذين خرجوا ضد إسطفانوس.</p>
<p>ومع ذلك ، لم يجهل إسطفانوس أن الله قد أحسن اليه ، بسبب عداوه قاتليه . إذا ، فقد توج من خلال أولئك الذين رجموه بقسوه شديده ، وهكذا إستقبل ما حدث ، كما لو كان أعداؤه ، قد نسجوا له إكليل النصره بأيديهم . وقد واجه ، قاتليه بالبركه ، ولم ير أن العمل الذي صار ضده ، يستحق أن يكون له نتائج عكسية ،</p>
<p>اي ينال هو الحياه ، واعداؤه الهلاك . لقد أراد ألا يحرم الذين أي ينال هو الحياه ، وأعدؤه الهلاك . لقد أراد ألا يحرم الذين حاربوه ، مما يستحق هو أن يناله ، طالما انهم شركاءه في سبب حصوله علي هذه النتيجه الصالحه . هكذا عرف كيف يسلك ، ذال الذي رأي المسيح في وجوه من اضطهدوه ، بمعني أنه رأي مشرع طول الانأه ، وتذكر الوصايا التي تدعو الي محبه أعدائنا ، والإحسان لمن يبغضوننا ، والصلاه لاجل الذين يسيئون إلينا ، ويضطهدوننا . غير أن هذا المجاهد العظيم ، لم يتمجد من قبل مديح الناس ، إذ أنه قد تجاوز العالم كله ، بعظمه ما حققه ، بالإضافه إلي ذلك ،فقد تجاوز معايير القوه الانسانيه ، رافضًا وغير مكترث بأي مديح من أي أحد.</p>
<p>إذا لتكن إنتصارات إسطفانوس ، مرافقه لكل كلمه إنسانيه . أما بالنسبة لنا ، ليأتي مشاركًا بقصته في جهادنا ، لأجل خلاص نفوسنا . تماما مثل الرياضيين في المنافسات الجسديه ، عندما يتوقفون عن المشاركه فيها ، فإنهم يوقومون بتدريب الشباب ، بتداريب مختلفه ليعرفوا كيف يتجنبوا من خلال فنون معينه ، الاصابات التي يمكن أن يحدثها المصارعين من الخصوم . هكذا كما اعتقد يجب أن نقبل التدريبات من العظيم إسطفانوس ، لأجل حياه التقوي ، حتي نتجنب بواسطه دروسه ، الإصابات التي يمكن أن يحدثها محاربو الروح . لأن أولئك الذين ينبحون ، ضد مجد الروح القدس ، يرون أن ، إسطفانوس يدافع عن هذيانهم ، لأنه رفع نظره الي السماء ، ورأي مجد الله ، ويسوع قائمًا عن يمين الله . يقولون ، محرفين عقائد التقوي ، لو أن الروح يحصي مع الآب والابن بالضروره ، فكيف لم ينظر إسطفانوس في رؤيته ، الروح القدس مع الإبن ؟ كيف سيعطي إسطفانوس يد المساعده لأولئك الذين يتعثرون ، ويسقطون ، بسبب مثل هذه الافكار ؟ كيف سيقيم بالعمل الجهادي ، أولئك الذين يجثون علي ركبهم ؟ بالطبع من هنا تأتي المساعده التي تنقض الكفر الذي للمقاوم عديم الايمان . أتطلب أيها المحارب للروح ان تعرف أين كان الروح عندما ظهر مجد الآب ، والابن قائم عن يمينه . إن كان الروح داخلك ، ما كانت لتتحير وتعجز عن فهم ما قد رايته ، فانت مثل العميان الذين يعبرون علي الذهب الذي امامهم، لكنهم لا يرونه . لكن علي الاقل إسمع الآن ، إن كنت لا تغلق أذانك ، مثلما فعل اليهود .</p>
<p>رؤيه مجد الله :</p>
<p>كيف راي إسطفانوس مجد الله ؟ من الذي فتح له أبواب السماء ؟ تري هل هذه النعم ،محصله قوه إنسانيه ؟ هل ملاك من الملائكه أصعد طبيعتنا التي كانت تنظر إلي اسفل ، إلي ذلك السمو ؟لم يحدث اي شيء من كل هذا بمعني ان إسطفانوس لم يري ما راه لانه كان قويا للغايه أو لأنه نال معونه كامله من الملائكه . فماذا قال النص الانجيلي ؟ قال : &#8221; واما هو فشخص الي السماء وهو ممتلي من الروح القدس ، فرأي مجد الله ، ويسوع قائما عن يمين الله &#8221; . لأنه من غير الممكن ، كما يقول داود النبي ، أن يري أحد النور ، إن لم يكن قائما داخل النور &#8221; بنورك نري نورا&#8221; . لانه من المستحيل رويه النور ، خارج النور . اي كيف يمكن للمرء ان يري الشمس ، وهو موجود بعيدا عن أشعتها ؟</p>
<p>لأن نور الابن الوحيد الجنس ، هو داخل نور الآب ، اي داخل الروح القدس وأستنار ، حينئذ أدرك مجد الاب والابن. والا كيف سنقول ان الصياغه الانجيليه ، التي أكدت بأن : &#8221; الله لم يره احد قط&#8221; ، هي أمر حقيقي ؟ وكيف سنتكلم؟ ألم ينادي الرسول بولس ، بعكس كل ما ورد بحادثه رجم إسطفانوس ، عندما يقول &#8221; الذي لم يره احد من الناس &#8221; . بمعني لو أن مجد الاب والابن امكن للطبيعه الانسانيه ان تسعه ، فسيكون ذاك الذي اوضح ،ان رؤيه الله غير ممكنه لدي البشر ، ولا تسعه طبيعتهم ، كاذب لكنه في الحقيقه ليس كاذبا ، بل ان الحدث الخاص باسطفانوس ، بالضروره ، هو حدث حقيقي . إن إثم وشر أولئك الذين يحاربون الروح القدس ، قد تجاوز الحد لأن شهاده الكتاب تكشف عن اننا نري الأمور المتماثله بمثيلاتها . إسطفانوس لم يري مجد الله بالطبيعه والقوه الانسانيه ، بل لأنه كان ممتلئا بنعمه الروح القدس. لقد سما بواسطه الروح القدس ، لإدراك مجد الله ، وبناء علي ذلك ، فإن كان غير ممكن أن نري ربنا يسوع ، بدون الروح القدس ، كما يقول الرسول بولس فلن نستطيع أن ندرك مجد الاب . هكذا يصبح واضحاً انه ،حيث يوجد الروح القدس ، يمكن ان نري الابن ، وندرك مجد الاب<a href="#_ftn5" name="_ftnref5">[5]</a> .</p>
<h4>القديس يوحنا ذهبي الفم</h4>
<p>شهادة القديس إسطفانوس حسب تعليم القديس يوحنا ذهبي الفم</p>
<p>باقتفاء الشهيد استفانوس أثر معلمه في أفعاله وأقواله لم ينقصه شيء، فقد أبان تسليم أمره لله ونضوج صبره أهّله للمعاينة الإلهية. لقد كتب: &#8220;شخص إلى السماء، فرأى مجد الله، ويسوع قائمًا عن يمين الله&#8221; (أع ٧: ٥٥)</p>
<p>هذا هو المجد الذي قدمه المخلص للشهيد: أنه يُكرم فوق الملائكة أنفسهم&#8230; فإنه رأى &#8220;موضوع&#8221; حبه عينه، حيث تخشى الملائكة أن تطلع عليه (١بط ١ : ١٢) فقد شخص الشهيد إلى حيث &#8220;يستر الشاروبيم وجوههم&#8221; (إش ٦ : ٢). إنه يعاين ما لا يجسر السيرافيم على التطلع إليه. لقد ارتقى بعينيه إلى علو لا حد له. وبدا هكذا أعلى من الملائكة، وأسمى من الرئاسات، متخطيًا العروش. لأن صوت المعلم هو الذي استماله، بوعده إياه: &#8220;حيث أكون، هناك أيضًا يكون خادمي&#8221; (يو ١٢: ٢٦)</p>
<p>لقد كان أول خادم&#8230; لذا هتف قبل بولس: &#8220;كونوا متمثلين بي، كما أنا أيضًا بالمسيح&#8221; (١كو ١١: ١)&#8230; أنا أول من جاهد مع المعلم، وأول من رأى الخفيات في السماء. لأني رأيت، نعم رأيت الابن قائمًا عن يمين الآب. عاينت حقيقة ما قيل: &#8220;قال الرب لربي: اجلس عن يميني، حتى أجعل أعداءك موطئًا لقدميك&#8221; (مز ١٠٩: ١)؛ (مت ٢٢: ٤٤ )، (مر ١٢ : ٣٦ )؛ (لو ٢٠ : ٤٢ &#8211; ٤٤ )؛( أع ٢ : ٣٤ ، ٣٥ )، (عب ١ : ١٣)</p>
<p>أنه لم يقف عند عدم قذف جالِديه باللعنات، بل وصلى من أجلهم، وأنتم لا تكتفون بعدم الصلاة من أجل أعدائكم، بل تلعنوهم. بقدر ما كان استفانوس جديرًا بالإعجاب، بنفس القدر أنت بائس&#8230; أية عقوبة نحن لا نستحقها؟ قد تظنون أنكم تجرحون عدوكم، في الحقيقة أنتم تصوبون السلاح ضد أنفسكم. إذ لا تعطون فرصة للديَّان أن يكون رحيمًا من جهة خطاياكم، وذلك بإثارته ضد خطايا الغير. &#8220;لأنكم بالدينونة التي بها تدينون تُدانون، وبالكيل الذي به تكيلون يًكال لكم&#8221; (مت ٧ :٢). لنكن رحماء، فننال الرحمة من قبل الرب.</p>
<p>لن يسكن الروح القدس حيث يوجد الغضب، بل ملعونون هم الغضبى. لا يمكن أن يحل الأمان قط حيث يوجد الغضب. إنما كعاصفة في البحر، اضطراب عظيم، صخب شديد، لا مجال قط لتعلم دروس الحكمة، هكذا عندما يوجد السخط.</p>
<p>عندما صمت صوت استفانوس، صار صوت بولس المبوًق يدوي<a href="#_ftn6" name="_ftnref6">[6]</a></p>
<h4>أيضاً للقديس يوحنا ذهبي الفم</h4>
<p>لماذا لم يستبعد الشيطان</p>
<p>لسنا نردد هذا الحديث عن الشيطان لأننا نحبه او نستعذبة ، انما لان في هذا التعليم امان كامل لحياتكم فهو عدو وغريم ، وسلامكم وامانكم يكمن في معرفتكم الصحيحة لحيل اعدائكم</p>
<p>لا يجبرك على الهزيمة</p>
<p>لقد قلنا قبلاً انه لا يهزمنا بالقوة او بطغيان او بالاجبار او العنف ، والا لدمرت البشرية كلها . وقد اثبتنا هذا من حادثة الخنازير (مت ٣١:٨) التي لم تستطيع الشياطين ان تدخل فيها الا بعد استئذان السيد</p>
<p>اما بالنسبة لقطعان أيوب ، فلم تجرؤ الشياطين على اهلاكها الا بعد ان اخذوا سلطاناً من فوق .</p>
<p>لقد علمنا أولا ان ابليس لا يهزمنا عنوة او بالعنف واضفنا ايضاً انه حتى عندما يهزم ويغلب بخداعه فانه لا يسيطر على البشر جميعهم . ثم اوردنا قصة أيوب المناضل الذى وضع وسط حيل لا حصر لها ، ومع هذا لم يسيطرعليه ابليس ، بل انسحب منه منهزماً مغلوباً على امره .</p>
<p>لماذا لا يستبعد الشيطان؟</p>
<p>والآن بقى لنا سؤال واحد &#8230;&#8230;اذا قد يقول قائل :ان كان الشيطان لا يتغلب علينا جبراً بل بالمكر والخداع اما كان من الأفضل ان يهلك؟ فان كان أيوب قد هزم قوة ابليس الا ان ادم  خدع وطرد خارجاً فلو ان ابليس قد طرح خارجاً ، واستقصى بعيداً عن العالم لما سقط ادم وطرد ، ولكن ابليس باق الآن وان كان يغلبه واحد الا انه هو يغلب كثيرين . يصرعه عشرة اما هو فيصرع عشرة آلاف . فلو ان الله طرحه خارجاً عن العالم لما هلك هؤلاء العشرة آلاف فماذا نقول عن هذا؟!</p>
<p>.١- كرامة الغالبين أعظم من خزى المغلوبين</p>
<p>اولاً: نقول ان الذين غلبوا ابليس لهم كرامة افضل بكثير من المغلوبين حتى ولو كان المغلوبون كثيرين والأولون قليلين ، إذ يقول : ( ولد ) واحد يتقى الرب خير من ألف منافقين (سى ٣:١٦)</p>
<p>.  ٢- أذى المغلوبين كسلهم وليس الشيطان</p>
<p>ثانياً : لو استبعد الشيطان من العالم تجرح كرامة المنتصرين . لكن لو ترك الشيطان ، فان الكسالى وذوى البطر لايتأذون على حساب المتيقظين ، إنما بسبب بطرهم وكسلهم . بينما لو استبعد الشيطان عن العالم ، فأن المتيقظين يغبنون على حساب المتهاونين حيث لا تظهر قوتهم ويحرمون من الاكليل .</p>
<p>لعلكم لم تفهموا بعد ما قلته ، لهذا يلزمنى ان اكرر القول موضحاً ذلك .</p>
<p>لنفرض ان عدواً يصارع اثنين في حلبة المصارعة واحد منهما انهكه النهم وعدم الاستعداد مما جعل قوته تخور ويفقد اعصابة ، أما الآخر فقد كان يقظاً له عادات حسنة يقضى زمانه في التدريب على تمارين كثيرة في مدرسة المصارعة .فلو سحب العدو من وسط الحلبة ، من من الاثنين يصيبه الأذى ؟ من يكون ضحية ؟ الانسان المتكاسل غير المستعد ، ام الغيور المجاهد كثيراً؟! من الواضح ان هذا الأمر يؤذى الغيور المجاهد ويضايقه . لأن المجاهد يغبن بانسحاب العدو ، اما المتكاسل فلا يصيبه أذى لأن تكاسله هو سبب سقوطه .</p>
<p>. ٣- تهاون الأنسان جعل الشيطان يدعى مضللاً</p>
<p>هذا أيضاً أتعرض لتوضيح آخر حتى نتعلم أن التراخى والكسل هما اللذان يصرعان غير المنتبيهين وليس إبليس &#8230; إنما هو سمح لإبليس لكى يفرط في الشر ، ليس ( كأمر طبيعى١ ) بل حسب الاختيار (أى قبولنا شره ) . فإبليس ليس طبيعياً ( إلزامياً ) مضر ، إنما كما هو واضح من أسمائه ، إذا يدعى &#8221; المضلل&#8221;.</p>
<p>لقد أساء إلى سمعة الإنسان أمام الله قائلاً: هل مجاناً يتقى أيوب الله &#8230; ولكن ابسط يدك الآن ، ومس كل ما له فأنه في وجهك يجدف عليك (أي ١: ٩-١١) ولقد ضلل ابليس عندما قال : &#8220;نار الله سقطت من السماء فأحرقت الغنم &#8221; (أي ١٦:١) إنه كان يحاول اقناع أيوب بان هذه المصائب نازله عليه من السماء من فوق واضعاً العثرات بين السيد الرب وعبده . وهكذا حاول إبليس ، لكنه فشل !</p>
<p>إنه في حالة نجاحه في محاولة مع أدم وتصديق آدم لتضليله ينبغي ألا يفهم أن أنتصار إبليس وقوته يعودان إلى طبيعته بل الى كسل  الإنسان واهماله لهذا دعى إبليس .</p>
<p>أن التضليل وعدمه ليس أمراً طبيعياً بل قد يحدث او لا يتم حدوثه ، دون ان يصل الأمر الى درجة  &#8221; الطبيعية &#8221; إن موضوع الأمور الطبيعية والأمور العارضة ، موضوع يصعب على الكثيرين فهمه ، ولكن هناك من ينصت الينا بفهم ، الى هولاء نتحدث اننا نعرف بانه ليس اسم من اسمائه اطلق عليه بالطبيعة فقد دعى الشرير لكن شره ليس امراً طبيعياً بل  باختياره  .</p>
<p>لم يكن منذ البداية هكذا ، بل جلب الشر لنفسه  ، لذالك دعى ايضاً &#8221; الجاحد &#8221; .</p>
<p>هل نستبعد الخليقة الجميلة ايضاً ؟</p>
<p>لنترك الحديث عن إبليس الآن وننظر الى الخليقة ، حتى نعلم أن إبليس ليس هو السبب في آلامنا لو أخذنا حزرنا منه  ، حتى  نعرف ان ضعيف الإرادة وغير المستعدين والكسالى يسقطون حت ولو لم يوجد إبليس ويسقطون بأنفسهم في أعماق الشر &#8230;.</p>
<p>الكل يعرف – كما قلت  &#8211; ان إبليس شرير ، ولكن ماذا نقول عن الخليقة الجميلة والعجيبة ؟! هل الخليقة شريرة ايضاً ؟ من هو هذا الشرير والغبى الذى يجرؤ ويدين الخليقة ؟!</p>
<p>الخليقة جميلة وهي علامة حب اللة وحكمته وقوته . لنستمع الى النبي الذى يتعجب قائلا : ما اعظم اعمالك يا رب . كلها بحكمة صنعت (مز ٢٤:١٠٤) وقد مر النبي على الخليقة واحدة تلو الواحدة في دهشة . وأمام حكمه الله غير المنظورة تراجع ، قائلا : فإنه بعظم جمال المبراءت يبصر ناظرها على طريق المقايسة</p>
<p>(حك ٥:١٣) ولنستمع الى القديس بولس الرسول الذى يقول لأن اموره غير المنظورة ترى منذ خلق العالم مدركة بالمصنوعات قدرتة السرمدية  (رو ٢٠:١) فكل شيء من أمور هذه الخليقة – كما يقول الرسول – تقودنا تلى معرفة الله .</p>
<p>والان ان رأينا نفس هذه الخليقة الجميلة والعجيبة تصير سببًا لشر الإنسان  ، فهل نلومها ؟! حاشا بل نلوم أولئك الذين لم يستطيعوا استخدام الدواء استخدماً صائبًا . إذًا متى تصبح الأمور التي تقودنا الى معرفة الله علة شرنا ؟ يقول الرسول ، إن الحكماء حمقوا في أفكارهم &#8230;. وعبدوا المخلوق دون الخالق (رو ١: ٢١-٥) لم يأتي ذكر إبليس هنا ، بل وضعت امامنا الخليقة كمعلمة لنا عن حكمة الله فكيف صارت علة شر ؟! هذا طبعاً لا يرجع الى طبيعتها بل الى إهمال الذين يحترسون لأنفسهم . لأنه ماذا يقول ؟ هل ننزع الخليقة أيضًا ؟!</p>
<p>وهل نستبعد اعضاءك ايضاً ؟</p>
<p>لنترك الخليقة ونأتي الى اعضائنا ، فحتى هذه نجدها سببًا في هلاكنا ، إذا لم نأخذ حزرنا وهذا ليس عن طبيعة الأعضاء ، بل بسبب تراخينا ايضاً .</p>
<p>لقد وهبنا عيونًا نعاين بها الخليقة فنمجد السيد الرب .</p>
<p>ولكن متى  أسأنا استخدامها ، تصير خادمة للزنا .</p>
<p>وقد أعطينا اللسان لنعلم حسنًا ، ونسبح الخالق فإذا لم نحترس لأنفسنا ، يصير علة تجديف .</p>
<p>وأخذنا الأيدي لنرفعها في الصلوات ، ولكننا إذ لم ننتبه نجدها تعمل في الطمع والجشع .</p>
<p>وهبنا الأقدام لتسير في الصلاح ، وبإهمالنا تتسبب في اعمال شريرة . إن كل الأشياء تؤذي الإنسان الضعيف ، حتى أدوية الخلاص ( بالنسبة للرافضين إياها ) تسبب له موتاً &#8230;. لا بسبب طبيعة الدواء ، بل بسبب الضعف .</p>
<p>خلق الله السموات لنعجب من اعماله ، ونعبد الرب . لكن آخرون تركوا الخالق وعبدوا السماء . وعله هذا إهمالهم وجمودهم<a href="#_ftn7" name="_ftnref7">[7]</a>.</p>
<h4>القديس كيرلس الأسكندري</h4>
<p>لا يريدنا المسيح أن نكون بلا فهم بل يريدنا أن نفهم كل ما هو نافع وضروري لخلاصنا بطريقة كاملة. فإنه حتى الحكمة تعد أنها ستعطي &#8220;البسطاء ذكاءً والشاب بدء معرفة وتدبيرًا&#8221; أنظر(أم ١: ٤). وقد وجدت الحكمة في سفر الأمثال أشبه بمن ترفع صوتها عاليًا، وتقول: &#8220;لكم أيها الناس أنادي وصوتي إلى بني البشر، أيها البسطاء تعلموا الذكاء، ويا جهال ضعوا قلبًا فيكم&#8221; (انظر أم ٨: ٤)&#8230;</p>
<p>لكن كيف يكون الإنسان بسيطًا وحكيمًا في نفس الوقت؟ هذا ما يوضحه لنا المخلص في موضع آخر بقوله: &#8220;كونوا حكماء كالحيات، وبسطاء كالحمام&#8221; (مت ١٠: ١٦) ، وبنفس الطريقة يكتب الطوباوي بولس: &#8220;أيها الإخوة لا تكونوا أولادًا في أذهانكم، بل كونوا أولادًا في الشر، وأما في الأذهان فكونوا كاملين&#8221; (١كو ١٤ : ٢٠).</p>
<p>يلزمنا أن نفحص ما معنى أن نكون أولادًا في الشر، وكيف يصير الرجل هكذا بينما يكون في الذهن رجلًا ناضجًا. الطفل معرفته قليلة جدًا، وأحيانًا معدومة تمامًا، لذا فهو بريء من جهة فساد الشر، ونحن أيضًا من واجبنا أن نسعى لكي نتمثل بهم في هذا الأمر بانتزاع عادات الشر عنا تمامًا، فيُنظر إلينا كرجال ليس لهم حتى معرفة بالطريق التي تقود للغش، ليس لنا إدراك للمكر أو الخداع، بل نكون بسطاء وأبرياء نمارس اللطف والتواضع الذي لا يقدّر، ونكون مستعدين لاحتمال السخط والضغينة. بهذا نؤكد أننا نحمل سمات من هم لا يزالون أولادًا.</p>
<p>بينما تكون شخصيتنا بسيطة وبريئة، يليق بنا أن نكون كاملين في الذهن، فيتأسس فهمنا بثباتٍ ووضوحٍ على من هو بالطبيعة والحق خالق المسكونة، الله الرب&#8230;</p>
<p>يقوم كمال الذهن الرئيسي على الإيمان، فلا يكون فهمنا فاسدًا، وأما الأمر الثاني والمجاور لهذا الكمال الرئيسي والقريب منه وملازم له، فهو المعرفة الواضحة للطريق السلوكي الذي يفرح الله الذي تعلمناه بالإنجيل، الطريق الكامل الذي بلا لوم (هنا يميز القديس بين السالكين طريق الرب الإنجيلي وبين النبلاء في السلوك خلال الفلسفات التي يمكن أن تخدع). من يسلك هذا الطريق يمارس حياة البساطة والبراءة، ومع ذلك فهم يعرفون أية أراء (إيمانية) يتمسكون بها وأي أعمال حقة يمارسونها. مثل هؤلاء يدخلون الباب الضيق، فلا يرفضون الأتعاب التي تلزم للتقوى في الله واللازمة لتقود إلى الحياة الممجدة. هكذا بحق يتقدمون إلى اتساع فيض طريق الله ويبتهجون بعطاياه، ويربحون لأنفسهم ملكوت السماوات بالمسيح الذي لله الآب الحمد والسلطان بالمسيح معه، ومع الروح القدس إلى أبد الأبد. آمين<a href="#_ftn8" name="_ftnref8">[8]</a>.</p>
<h4>القديس أغسطينوس</h4>
<p>لقد كان شماسا أقل درجة من الاسقف ، ولكن صيره اكليل الشهادة مساويا لدرجة الرسول</p>
<p>اليوم بزغ احتفال عظيم فى روما ، اذ يجتمع هناك حشد ضخم للاحتفال بهذا العيد &#8230; من أجل تكريم الشهداء ، وبمعونة الرب ستكون ( هذه العظة ) قصيرة لدرجة أنها لن تكون مرهقة لمستمعينا ولا غير كافية لتحقيق هدفنا .وعلى الرغم من أننا لا نتواجد معهم بالجسد ، الا أننا نشترك معهم . ولأننا واحد فى الروح معهم ، فاخوتنا فى الجسد الواحد هم تحت رأس واحد . فلا تقتصر كرامة ( الاحتفال ) بتذكار الشهيد على الموضع الذى يرقد فيه جسده . فالصلاة واجبة الأداء فى جميع الأماكن . فبالرغم من أن جسده قد وضع للراحة فى مكان معين ، الا أن روحه تحيا فى انتصار معه وهو حاضر فى كل مكان .</p>
<p>أخبرونا أن الطوباوى لورانس كان مظهره الخارجى مظهر شاب يافع ، ولكن شخصيته كانت شخصية رجل ناضج ووقور ، وقوة شبابه  مثل اكليل غير مضمحل  أكسبته جاذبية . لقد كان شماسا ( بدرجة ) أقل درجة من الاسقف ، ولكن صيره اكليل الشهادة مساويا لدرجة الرسول .</p>
<p>ان التذكار السنوى ( عيد جميع القديسين وهو عيد النيروز ) الذى لجميع الشهداء الممجدين قد اسس فى الكنيسة لتذكير أولئك الذين لم يشهدوا آلامهم بأن يتشبهوا بثبات الشهداء واخلاصهم . لأنه ان لم تقدم أعمالهم بشكل جديد بواسطة تذكار سنوى ، فسوف تفقد ( أعمال الشهداء ) تأثيرها على قلوب البشر .</p>
<p>ولكن فى كل الأماكن توجد بعض التذكارات لبعض الشهداء لا يمكن أن تقام ، لأنه لا يوجد يوم ما بدون تذكار ، بما انكم لا تجدون يوما ما لم يقتبل فيه أى شهيد اكليلا . ان كنا نحتفل بأعيادهم باستمرار ( أى يوميا ) ، فاننا لن نتذوق ( حلاوة ) هذه المناسبات ، فى حين أن الفترات ( التى تفصل بين العيد والآخر ) تشعل الشهوة مرة أخرى . لنتبع ما أمرنا به ، لنتطلع الى ما وعدنا به . وفى تذكار أى شهيد ، لنعد قلوبنا لهذا الاحتفال حتى لا نقصى أنفسنا من اتباع قدوته<a href="#_ftn9" name="_ftnref9">[9]</a> .</p>
<h3>عظات آباء وخدام معاصرين</h3>
<h4>قداسة البابا تواضروس الثاني: ارسالية السبعين</h4>
<p>فى انجيل ارساليه السبعين رسولا، دروسا روحية عميقه .</p>
<p>+ دعوة فاضلة : عين الرب سبعين رسولا &#8230; لماذا سبعين ؟</p>
<p>١- لأن الأمم فى ذلك الزمان كانت 70 أمة .</p>
<p>٢- لأن أعضاء مجمع السنهدريم كانوا 70 عضوا .</p>
<p>٣- لأن شيوخ بنى اسرائيل كانوا 70 شيخا .</p>
<p>+ مهمة عاجلة : المناداة بأقتراب الملكوت ، وذلك يحتاج الى توبة واجتهاد واستعداد .</p>
<p>1 الحصاد كثير والفعله قليلون .       ٢- هم كالحملان وسط الذئاب (خطورة العمل ).</p>
<p>مثال القديس بوليكاربوس وقت استشهاده .</p>
<p>+ خطة صائبة : وضع المسيح لرسله خطة لنجاح الخدمة</p>
<p>١- لاتحملوا كيسا ولا مزودا (فالله لا يريدك أن تعتمد على أحد آخر سواه</p>
<p></p>
<p>بلا أحذية اضافية ، بلا اضاعة للوقت ..&#8221; مفتدين الوقت لأن الأيام شريرة &#8221; (أف٥: ١٦)</p>
<p>٣- الفرح بالملكوت والأسماء المكتوبة فيه .(وبذلك رفع نظرهم للسماء ، فالفرح يكون بالحياة الآبدية وليس بالمواهب وهذا سر النصرة على الشيطان )</p>
<p>كفر ناحوم :هى المدينة التى أمضى فيها ربنا يسوع أكثر أوقات خدمته وقال فيها كثيرا من تعاليمة ..كان يطلق عليها مدينته (مت٩: ١) ، اذ قضى فيها وقتا طويلا &#8230;ورغم ذلك كله لم يلق منها استجابة أو تأثير &#8230;فتنبأ المسيح بخرابها الكامل ، وها هى خربه تماما اليوم .</p>
<p>فرح سماوى</p>
<p>&#8221; افرحوا بالحرى أن أسمائكم كتبت فى ملكوت السموات &#8221; .</p>
<p>كتاب العهد الجديد &#8230;البشارة المفرحة اذ أن قصة الأنجيل هى قصة الفرح :</p>
<p>تبدأ بالفرح                       تستمر بالفرح                                   تكمل بالفرح</p>
<p>(الميلاد )                         ( القيامة)                                      (عقب الصعود )</p>
<p>ها أنا أبشركم بفرح عظيم       فرح التلاميذ اذ رأوا الرب        رجعوا أورشليم بفرح عظيم</p>
<p>(لو٢٤: ٥٢ )                      يو(٢٠:٢٠)                              (لو ٢: ١٠)</p>
<ul>
<li>يحدثنا العهد الجديد عن ثلاثة أمور يجب أن نصنعها كل حين (١تس ٥: ١٦-١٨) :</li>
</ul>
<p>الصلاة كل حين  الشكر كل حين  الفرح كل حين .</p>
<p>أنواع الفرح :  ١- فرح الزمالة أو المعية &#8230; (فرح بولس بمعية فليمون ) (فى رسالته اليه ).</p>
<p>فرح قبول الانجيل &#8230; (قصة زكا العشار ) ( لو ١٩ :٥-٦) ٢-</p>
<p>فرح الايمان والعطاء &#8230;.( قصة أهل فيلبى مع بولس الرسول ) ٣-</p>
<p>فرح العمل المسيحى (التوبة) &#8230;.( رجوع ما كان مفقودا &#8230;الخروف الضال / الابن الشاطر/ الدرهم المفقود ) (لو ١٥) ٤-</p>
<p>والفرح سمة من سمات الخادم الكارز : ١- له نداء سماوى .          ٢- له عمل سماوى .</p>
<p>٣- له فرح سماوى .</p>
<p>وهكذا كان القديس استفانوس :</p>
<p>١-خادم حكيم ( يخدم ) .              ٢- معلم قدير ( يعلم )</p>
<p>٣- أول شهيد ( يقدم )<a href="#_ftn10" name="_ftnref10">[10]</a></p>
<p></p>
<p></p>
<h4>المتنيح الأنبا صموئيل أسقف الخدمات العامة والإجتماعية</h4>
<p><strong>مفهوم الخدمة</strong></p>
<p>الخدمة مدرسة مستمرة</p>
<p>أشكركم من أجل هذه الفرصة التي تعيد الي ذكريات جميلة عن الخدمة ، وعن اختباراتنا فيها في أيام التلمذة في مدارس الأحد بكنيسة مارمرقس بالجيزة ، فقد كانت مدرسة مستمرة للخدام توالي حثهم علي استمرار الدراسة والتعليم ، فحب الخدمة كان الحافز الذي يدفعنا الي الاستزادة من الدراسة ، ولذلك كانت فصول الخدام موزعة الي أقسام للتخصص في المواد اللازمة للخدمة ، فقسم للوعظ ، وآخر للتربية ، وثالث للافتقاد والعمل الفردي ، ورابع للألحان الكنسية ، وخامس لتاريخ الكنيسة وهكذا …</p>
<p>وكان كل قسم يطلب من الخدام ان يعدوا بحوثا في موضوعات مختلفة تجمع في آخر العام في كتاب يقدمه خدام كل قسم كمساهمة منهم في تعميق وتطوير الخدمة .</p>
<p>الخدمة حافز لنعد أنفسنا</p>
<p>ان مفهومنا منذ البداية هو أن الخدمة هي الحافز الأول لنا لنعد أنفسنا ، لذلك أؤكد لكم في كل مناسبة أن أول مستفيد من الخدمة هو الخادم في تكوين شخصيته ، في تكوين شخصيته الاجتماعية ، وتكوين شخصيته الروحية ، وتكوين شخصيته العلمية ، وهذا الانطباع لا يقتصر أبداً علي رسالته الدينية لكنه يظهر في خدمته المدنية أيضاً .</p>
<p>فالدراسة المستمرة تكون لدي الانسان عادة كيف يدرس ويتعب ثم يطبق هذه العادة فتصبح جزءا من شخصيته ويطبقها في حياته وفي علاقاته، تلك ناحية من النواحي الهامة جدا التي نحن مدينون بها للخدمة ولفصول الخدام ، فلن أنسي نفسي بمجرد شعوري بأني أقوي بتدريس الآخرين في الواقع أنا أبدأ باعداد نفسي من أجلهم واستمر في هذا الأعداد طالما أستمر في خدمتهم .</p>
<p>مبدئان أساسيان +</p>
<p>وقبل البدء في موضوع العمل الفردي يلزم ان نراجع سويا مبدأين أساسيين فنحن بالأولي محتاجون الي تأكيد المباديء ، أمًا التطبيق فهو مجال دراستكم التفصيلية .</p>
<p>المبدأ الأول +</p>
<p>الخدمة تعبير طبيعي عن حياة الشركة مع المسيح ، الخدمة ليست واجب أو الزام لكنها نتيجة طبيعية لحياة شخص دخل في شركة مع المسيح ، انه لا يستطيع الا يخدم فمن وصل الي مرحلة الشركة مع الله ومع المسيح يجد أن التعبير الطبيعي لهذه الشركة هو أن يخدم وهذا الواقع هو ما ورد في الجزء الأول من الأصحاح الأول من الرسالة الأولي لمعلمنا يوحنا &#8221; الذي كان من البدء الذي سمعناه الذي رأيناه بعيوننا الذي شاهدناه ولمسته أيدينا من جهة كلمة الحياة فان الحياة أظهرت وقد رأينا ونشهد ونخبركم بالحياة الأبدية التي كانت عند الآب وأظهرت لنا . الذي رأيناه وسمعناه نخبركم به لكي يكون لكم أيضاً شركة معنا، وأما شركتنا نحن فهي مع الآب ومع ابنه يسوع المسيح ، ونكتب اليكم هذا لكي يكون فرحكم كاملا&#8221; فالتعبير البسيط لانسان دخل في شركة مملوءة من الفرح أنه يريد للآخرين أن يفرحوا أيضاً ، فيدعوهم الي نفس الشركة ، انه لايستطيع السكوت ، انه لا يستطيع أن يخفي هذه الشركة لان نورها مثل المصباح الذي لو وضع تحت المكيال لابد أن ينطفيء ، لذلك لا مفر من أن يشع وينير .</p>
<p>المبدأ الثاني +</p>
<p>الخدمة تعبير طبيعي لعمل وظيفي وهو وظيفة أعضاء الجسد الواحد، لو عرفنا أننا اذ ندخل في شركة مع المسيح نصبح أعضاء في جسده وبما أننا أصبحنا أعضاء في جسد المسيح ندخل في شركة هذا الجسد الواحد ، وبشركتنا في هذا الجسد الواحد تطبق علينا قوانين الجسد .</p>
<p>والقوانين التي تحكم الجسد الواحد هي ارتباطه بجهاز دوري واحد تسري فيه الدورة الدموية ، وتتم فيه المشاركة ، شركة الاحساس بمشاعر الآخرين ، وشركة مشاركة الآخرين في كل ما أخذ ، وهذا هو ما ورد في( ١كو ١٢: ١٢ )حيث يتكلم معلمنا بولس الرسول عن معني الكنيسة كجسد المسيح، إذاً الخدمة هي التعبير الطبيعي لشركتنا مع المسيح . وشركتنا مع المسيح تؤدي بنا الي ان نكون أعضاء الجسد الواحد وعضويتنا في الجسد الواحد تؤدي بنا الي معني الارتباط ومعني المشاركة وتلك هي الخدمة. فاذا لا يوجد انسان مسيحي بمعني مسيحي لا يكون خادما.</p>
<p>والخدمة ليست فقط بمعناها الضيق الذي هو خدمة الكلمة أو خدمة الوعظ ولكن الخدمة بمعناها الواسع هي ان كل انسان في مجاله يستطيع ان يخدم لو فهم رسالته ولو دخل كعضو ضعيف في شركة حقيقية مع المسيح وشعر انه هو عضو في الجسد الواحد . ان كلمات معلمنا بولس الرسول تحتاج منا ليس الي مجرد قراءتها ولكن حفظها والتأمل فيها باستمرار وهي : &#8221; لأنه كما أن الجسد هو واحد وله أعضاء كثيرة وكل أعضاء الجسد الواحد اذا كانت كثيرة هي جسد واحد كذلك المسيح أيضاً ، لأننا جميعا بروح واحد أيضاً اعتمدنا الي جسد واحد يهودا كنا أم يونانيين ، عبيداً أم أحرار وجميعنا سقينا روحا واحدا ، فان الجسد أيضاً ليس عضواً واحداً بل أعضاء كثيرة ، ان قالت الرجل لأني لست يدا لست من الجسد ، أفلم تكن لذلك من الجسد . وان قالت الاذن لأني لست عينا لست من الجسد أفلم تكن لذلك من الجسد ، لو كان كل الجسد عينا فأين السمع ، ولو كان الكل سمعا فأين الشم ، وأما الآن فقد وضع الله الأعضاء كل واحد منها في الجسد كما أراد ، ولكن لو كان جميعا عضوا واحدا فأين الجسد ، فالآن أعضاء كثيرة ولكن جسد واحد لا تقدر العين أن تقول لليد لا حاجة لي اليك ، أو الرأس أيضاً للرجلين لا حاجة لي اليكما ، بل بالأولي أعضاء الجسد التي تظهر أضعف هي ضرورية وأعضاء الجسد التي نحسب أنها بلا كرامة نعطيها كرامة أفضل ، والأعضاء القبيحة فينا لها جمال أفضل ، وأما الجميلة فينا فليس لها احتياج ، لكن الله مزج الجسد معطيا الناقص كرامة أفضل ، لكي لا يكون انشقاق في الجسد بل تهتم الأعضاء اهتماما واحدا بعضها لبعض فان كان عضو واحد يتألم فجميع الأعضاء تتألم معه ، وان كان عضو واحد يكرم فجميع الأعضاء تفرح معه ، وأما أنتم فجسد المسيح وأعضاؤه أفرادا &#8220;(١كو ١٢: ١٢- ٢٧) .</p>
<p>حياة الكنيسة:</p>
<p>لقد عرفنا ان الشركة مع المسيح والعضوية في جسد المسيح توصلنا الي حياة الخدمة ، وبمراجعة كتب اللاهوت ومفهوم الآباء في الكنيسة الأولي نجد أن حياة الكنيسة مبنية علي ثلاث قواعد يمكن تلخيصها في الثلاث كلمات اليونانية التالية :</p>
<p>ليتورجيا &#8211; كونونية &#8211; دياكونية</p>
<p>فالليتورجيا بالمعني المقصود في سفر الأعمال هي خدمة العبادة &#8211; ومن المعتاد ان نتكلم عن خدمة القُدَّاس يوم الأحد . فالقداس نفسه عبارة عن تعبير خدمة وليس مجرد خدمة طقسية ، انها خدمة الشركة في المسيح ، خدمة الاتحاد بالمسيح . والليتورجيا غير قاصرة علي القداس ، انها تعني كل العبادات ، كل الصلوات ، انها خدمة الدخول في شركة مع المسيح وهذه هي الناحية الأولي اذ بدخولنا في شركة مع المسيح خصوصا في القداس نتقدم الي التناول من جسد المسيح ودمه الأقدسين فنقر ونؤكد أننا أصبحنا أعضاء في جسد المسيح الذي هو الكنيسة ، وهذه العضوية في الكنيسة توصلنا الي القاعدة الثانية التي هي الكونونية.</p>
<p>الكونونية تعني حياة الشركة ، ففي كتابات الآباء كلمة كونونية تعني مجمع أو شركة أو جماعات تشترك مع بعضها أي تحيا حياة الشركة ، ان ارتباطنا بالمسيح يوصلنا الي هذه القاعدة الثانية وهي اننا أصبحنا جماعة واحدة في المسيح ، أي جماعة المؤمنين أي الكنيسة ، فالذين اتحدوا بالمسيح واصبحوا كنيسته لابد أن يخدموا بعضهم بعضا ويرتبطوا ببعضهم البعض ولكن هؤلاء لا يقدرون أن يقصروا خدمتهم علي بعضهم البعض اذ لابد أن تنطلق تلك الخدمة من بعضهم لبعض الي خدمة الآخرين أيضاً وتلك هي الدياكونية .</p>
<p>الدياكونية :</p>
<p>وكما تعلمون أن كلمة دياكون تعني شماس أي خادم ، وبذلك تصبح الخدمة في معانيها الثلاثة هي :</p>
<p>١- خدمة العبادة والأرتباط الدائم بالله وهذه تؤدي الي</p>
<p>٢- خدمة الجماعة الواحدة المرتبطة وخدمة الشركة وهذه تؤدي الي</p>
<p>٣- الخدمة بمفهومها العملي في البحث عن تأدية احتياجات الآخرين سواء أكانت روحية أو مادية في جميع أشكالها</p>
<p>أن اتحادنا بالمسيح يجعلنا نتحد ببعض ويجعلنا نخدم بعضنا البعض ونخدم الآخرين، والدياكونية ليس معناها أن أخدم المسيحيين فقط بل المفروض أن أخدم المجتمع كله . وهذه هي رسالة المسيحي للمجتمع كله ، نحو عالم الله ونحو أولاده .</p>
<p>بهذه المقدمة عن الخدمة يمكن أن نبدأ في الحديث عن العمل الفردي<a href="#_ftn11" name="_ftnref11">[11]</a>.</p>
<p></p>
<h4> المتنيح القمص لوقا سيداروس</h4>
<p><strong>استفانوس أول شاهد بالدم</strong></p>
<p>لما تذمر بعض اليونانيين الذين آمنوا بالرب من أن أراملهم يغفل عنهن في الخدمة اليومية من جهة الطعام وغيره.. رأينا نحن الرسل أن نقيم بعض الإخوة على هذا الأمر لكي نتفرغ نحن لخدمة الكلمة والكرازة. &#8221; فانتخبوا سبعة رجال مشهوداً لهم ومملؤين من الروح القدس وحكمة&#8230; فصلوا ووضعوا عليهم الأيادي &#8221; کمکرسين وشمامسةرلهذا العمل في وسط الكنيسة للاهتمام وللخدمة لأن العدد كان يتزايدوجداً وصارت خدمة الموائد ثقلاً وتحتاج إلى من يقوم عليها .كان أول من اختاروه هو استفانوس وكان بالحق كملاك الله. هذا</p>
<p>التف حوله جماعة من اليهود من أماكن مختلفة يجادلونه بعنف وهو كان يشهد لهم باسم يسوع. فدسوا رجالاً بطالين وشهود زور واتهموه بالتجديف وهيجوا الشعب والشيوخ فجمعوا مجمعاً واستمعوا إلى شهود الزور وسألوا استفانوس ففاض الروح المالئ قلبه كلاماً إلهياً سماوياً مفسراً لهم من الكتب وملقياً ضوءاً على كل النبوات التي كتبت من القديم لأن شهادة يسوع المسيح هي روح النبوة. وواجههم بالحق: &#8221; يا قساة الرقاب، وغير المختونين بالقلوب والآذان! أنتم دائماً تقاومون الروح القدس. كما كان آباؤكم كذلك أنتم؛ أي الأنبياء لم يضطهده آباؤكم؟ وقد قتلوا الذين سبقوا فأنبأوا بمجيء البار ، الذي أنتم الآن صرتم مسلميه وقاتليه&#8230; فلما سمعوا هذا حنقوا بقلوبهم وصروا بأسنانهم عليه. وأما هو فشخص إلى السماء وهو ممتلئ من الروح القدس، فرأى مجد الله، ويسوع قائماً عن يمين الله. فقال ها أنا أنظر السماوات مفتوحة، وابن الإنسان قائماً عن يمين الله. فصاحوا بصوت عظيم وسدوا آذانهم، وهجموا عليه بنفس واحدة، وأخرجوه خارج المدينة ورجموه &#8230;&#8221;  وهو يدعو ويقول: &#8221; أيها الرب يسوع اقبل روحي &#8221; ثم جثا على ركبتيه وصرخ بصوت عظيم: &#8221; يارب، لا تقم لهم هذه الخطية &#8220;.كان هذا أول شاهد بالدم لاسم يسوع. &#8221; وحدث في ذلك اليوم اضطهاد عظيم على الكنيسة التي في أورشليم، فتشت الجميع في كور اليهودية والسامرة &#8220;. ولكننا بقينا نحن الرسل لم نترك أورشليم. وكان يتزعم حركة السطو على الكنيسة شاب يقال له شاول &#8221; ينفث تهدداً وقتلاً ويجر رجالاً ونساء ويسلمهم إلى السجن</p>
<p><a href="#_ftn12" name="_ftnref12">[12]</a>&#8220;. واضطر بعضهم إلى التجديف وهو كان راضياً بقتل استفانوس، حارساً لثياب الذين رجموه.</p>
<h4>المتنيح القمص تادرس البراموسي</h4>
<p>اليوم الأول من شهر طوبه المبارك</p>
<p>لأن الفاعل مستحق أجرته (لو ۱۰: ۱ – ۲۰)</p>
<p>ولما رأى الرب يسوع أن الكرازة إنتشرت وإتسعت وأصبحت تحتاج خدام أمناء قال أن الحصاد كثير لكن الفعلة قليلون فاطلبوا من رب الحصاد أن يرسل فعلة لحصاده (مت ۹: ۳۷ – ۳۸) ؛ فاختار الرب سبعين آخرين وأرسلهم إثنين إثنين إلى كل مدينة وكل موضع كان مزمعاً أن يمضي إليه . شيمة الملوك عند ذهابهم إلى أي مكان كانوا يرسلون سفراء أمامهم لإعداد الطريق وإعطاء فكرة للناس عن سياسة هذا الملك وانه يريد خير الرعية وخدمة المجتمع وأنه يجري العدل والسلام ويزيل الظلم ؛ وعندما أرسلهم متوقع أن تصادفهم ضيقات كثيرة وأتعاب من المخالفين ؛ وخاف أن التلاميذ يصدموا وهم في بداية الخدمة فأراد أن يعطيهم فكرة ويعمل لهم توعية على ما يصادفهم لأنهم لا يمكن أن يجدوا كل شئ حسب طلبهم أعني يجدوا الزرع مثمر وجاهز للحصاد بل يجب أن يزرعوا ويتعبوا بعد ذلك الحصاد ؛ فقال لهم إذهبوا ها أنا أرسلكم مثل حملان بين ذئاب .</p>
<p>الكرازة والخدمة ليست كراسي تجلسون عليها وليست سوط يسلط على الرقاب وليست طاعة بصفة مستمرة الخدمة أشواك ليس وضع أن تؤمنوا فقط بل أن تتألموا؛ ستصادفكم متاعب كثيرة لكن أنا لا أريدكم أن تتكلوا على أنفسكم لأني أنا معكم لا أتركم ولا أهملكم (عب ١٣ : ٥) ؛ بل سأعد لكم كل ما تحتاجون إليه لا تحملوا كيساً ولا مزودا ولا حذاء ولا تُسلموا على أحد في الطريق (لو ١٠ : ٤) . أنتم في مهمة رسمية يجب أن تهتموا بهذه المسئولية على الوجه الأكمل ؛ وأي بيت دخلتموه فقولوا أولا سلام لأهل هذا البيت لأنكم أنتم أبناء السلام فإن كان هناك إبن السلام يحل سلامكم عليه وإلا فيرجع إليكم ؛ أقيموا في هذا البيت آكلين وشاربين لأن الفاعل مستحق أجرته (لو ۱۰ : ۷) ؛ لا تنتقلوا من بيت إلى بيت لئلا تكونُوا سبب عثرة أو تكونوا سبب في تفكك الأسر أو سبب إلقاء الغيرة والخصام وكل ما يقدم لكم كلوه شاكرين ؛ لا تجعلوا ثقلاً على الشعب في إقامتكم وأكلكم وشربكم بل إن كان لنا القوت والكسوة فلنكتفي بهما .</p>
<p>مهمتكم يحتاج إليها الجميع ؛ إشفوا المرضى الذين في المدينة وقولوا لهم قد إقترب منكم ملكوت الله ؛ لابد أن يصادفكم معارضين ورافضين للكلمة والذين لا يقبلونكم أخرجوا إلى شوارعها وقولوا حتى الغبار الذي لصق بنا من مدينتكم ننفضه لكم لكن إعلموا أنه قد إقترب منكم ملكوت الله ؛ لكن إعلموا أنه سيكون لسدوم وعمورة في ذلك اليوم حالة أكثر إحتمالاً مما لتلك المدينة ؛ وأعطاهم فكرة لبعض المدن التي مر بها ولم يقبلة أهلها وأعطاهم الويل قائلا ويل لك يا كورزين ويل لك يا بيت صيدا ؛ وماذا حدث في صور وصيدا ؟ وقال عن كفرناحوم وأنت يا كفرناحوم المرتفعة إلى السماء ستهبطين إلى الهاوية ؛ هذه المدن التي ذكرتها لكم كم من المعجزات صنعت فيها لكنهم لم يتحركوا لكن لا نيأس من أن نسعى لخلاص هذه المدن لأنه لكل شئ تحت ا وقت ؛ أتركوها الأن ولنا وقت آخر والذي يسمع منكم يسمع منى والذي ير ذلكم يرذلني والذي يرذلني يرذل الذي أرسلنى(لو ١٠ : ١٦) . فمضوا السبعين رسولاً إلى البشارة وكان الرب معهم فرجعوا فرحين وقالوا للرب يسوع حتى الشياطين تخضع لنا بإسمك ؛ قال لهم يسوع ها أنا أعطيكم سلطان أن تدوسوا الحيات والعقارب وكل قوة العدو (لو ۱۰ : ۱۹) . لكن لا تفرحوا بهذا أن الأرواح تخضع لكم بل إفرحوا بالحري أن أسماءكم كتبت في السموات. إن سيرتوا في هذا الطريق وسلكتوا بأمانة تكون لكم مكافئة أكثر وتنجح طريقكم أكثر ويتمجد الآب في عملكم وفي تضحياتكم والمشقات التي تحتملونها لأجل الخدمة إن كنتم تسلكون بالتدقيق ؛ فرحين في الرجاء ؛ صابرين في الضيق ؛ مواظبين على الصلاة (رو ۱۲ : ۱۲)<a href="#_ftn13" name="_ftnref13">[13]</a> .</p>
<h4>المتنيح العلَّامة يسَّي عبد المسيح</h4>
<p>درجة الشماسية في الكنيسة القبطية</p>
<p>(يسى عبد المسيح – أمين مكتبة المتحف القبطي)</p>
<p>الشماسية أحد أضلاع المثلث الكهنوتي منذ العهد الرسولي، فالضلع الأول هو الأسقفية، ويليه ضلع القسيسية ويكمله ضلع الشماسية.</p>
<p>والشماس كلمة سريانية، أصلها في اللغتين اليونانية والقبطية diakwn و diakonoc ومعناها الخادم، نظراً لأن درجته أقل درجات الكهنوت الثلاث. وهو تابع للأسقف والقسيس وعون ومساعد وخادم في الكنيسة.</p>
<p>والشماس في الحديثة بمثابة اللاوي في العتيقة، وأول من رسم شماساً في العهد الجديد هو استفانوس أحد السبعة الشمامسة الذين اختارهم الرسل &#8221; فَصَلُّوا وَوَضَعُوا عَلَيْهِمِ الأَيَادِيَ&#8221; (أع ٦:٦).</p>
<p>ولقد ذكر بولس الرسول في رسالته الأولى لتلميذه تيموثاوس (ص٣) شروط الشماس بعد شروط الأسقف، كما أنه ذكر أيضاً في رسالته إلى أهل فيلبي الشمامسة مع الأساقفة (ص١:١) وهذا مما يدل دلالة واضحة على وجود هذه الدرجة في بدء المسيحية لأهميتها للكنيسة وسموها.</p>
<p>واستعداداً لقبول هذه الدرجة، رتبت الكنيسة في العصور الأولى درجتين أقل منها وهما الأناغوستيس anagnoct/c (الأغنسطس) والإيبدياكون upodiakwn لا توضع عليهما اليد لأنهما ليسا من الكهنوت.</p>
<p>وبحثي هذا يشمل الشماس القانوني، أو كما يسميه ابن كبر: الشماس الكامل (ابن كبر- مصباح الظلمة في إيضاح الخدمة- الباب ١٣-مخطوطة رقم ٣٧٥ لاهوت بالمتحف القبطي ص٢٩٦ ولوصف هذه المخطوطة راجع فهرس مخطوطات المتحف القبطي والدار البطريركية&#8230;الخ، تأليف مرقس سميكة باشا ويسى عبد المسيح، المجلد الأول، القاهرة، سنة ١٩٣٩، رقم ٩١، ص ٤٥) . وتسميه الكنائس الأخرى التقليدية: الشماس الإنجيلي، أي الذي من حقه أن يقرأ الإنجيل في القداس وسائر الطقوس، وبه تكمل درجات الكهنوت الثلاث.</p>
<p>أولاً:   يجب ألا يكون الشماس ولداً صغيراً.</p>
<p>ثانياً:   رسامته.</p>
<p>ثالثاً:   واجباته.</p>
<p>رابعاً: إلى أي زمن حافظت الكنيسة على درجة الشماسية.</p>
<p>خامساً: وجوب ارجاع هذه الدرجة إلى وضعها الأصلي.</p>
<p>أولاً: يجب ألا يكون الشماس ولداً صغيراً</p>
<p>١- من الكتاب المقدس:</p>
<p>قال بولس الرسول: &#8220;وليكن الشمامسة من كانت له امرأة واحدة وأحسن تدبير بيته وبنيه؛ فإن الذين يحسنون الخدمة يكتسبون مرتبة صالحة ودالة عظيمة في الإيمان بيسوع المسيح&#8221; (١تي: ٣: ١٢- ١٣) (النص عن نسخة خطية بالمتحف القبطي من القرن الثالث عشر رقم ١٠٠ مقدسة، ورقة ١٦٣ح بالقبطية والعربية، ولوصف هذه المخطوطة راجع فهرس مخطوطات المتحف القبطي، المرجع السابق رقم ٧ص ٨). فهل يمكن أن ينطبق هذا الكلام على الولد الصغير..</p>
<p>٢-من القوانين:</p>
<p>حدد القانون الكنسي سن كل رتبة من رتب الكهنوت. فنص على أن الأسقف لا يسام إلا إذا كانت سنه خمسين عاماً (الدسقولية – نشرها حافظ داود – الطبعة الثانية ١٩٤٠ الباب الثالث ص ٢٤ .</p>
<p>والقس لا يرسم وهو دون الثلاثين، لأن سيدنا يسوع المسيح بدأ يبشر ويعلم وهو في هذه السن (المجموع الصفوي – نشره جرجس فيلوثاوس عوض ١٩٠٨ الباب السادس رقم ٢ ص٦٤).</p>
<p>أما الشماس فإنه لا يقسم قبل بلوغه خمساً وعشرين سنة، كما أوضح ابن كبر ذلك بقوله: وكان لا يقسم الشماس حتى يبلغ خمساً وعشرين سنة (مصباح الظلمة – الباب الثالث عشر- ٢٩١).</p>
<p>٣-من واجبات الشماس:</p>
<p>(١)قال الأنبا ساويرس ابن المقفع في كتابه: «ترتيب الكهنوت» (الباب الثالث عشر – ورقة ١٤٨ظ – في الشماس، مخطوطة رقم ٢٣٦ لاهوت بالدار البطريركية، مؤرخة ١٤٣٦ش- ١٧١٩س ، لوصفها أنظر فهرس مخطوطات المتحف القبطي، المرجع السابق، المجلد الثاني، القاهرة ١٩٤٢، رقم ٣٤١ ص١٤٥، وكتالوج جراف المشار اليه رقم٦٤٥.النص العربي وترجمته الألمانية وعليه تعليق وشرح بالألمانية – طبع asfalt ص٢٣٥</p>
<p>وقد نشر هذا الكتاب الدكتور في المانيا سنة ١٩٥٢، وهذا الباب يقع في صفحة ٣٢-٣٤): أما الشماس &#8220;فقد&#8221; (أضيفت لترتبط الجمل) أقاموه في البيعة خادماً للكاهن ومبلغاً ومنذراً للشعب (أي منبهاً ومنادياً للشعب) بما يفعلونه (في الأصل: بما يفعلوه) في طول القداس وشريك الكاهن في الخدمة الحاضرة (أي أثناء خدمة القداس) يحكم أكمله بشروط الاستحقاق، مشهود له في محضر، «أنه» (أضيفت لترتبط الجمل) يصوم الأربعاء والجمعة، من خمسة شهود أنه كافي الرتبة المذكرورة التي هي الشماسية (هنا جملة اعتراضية – ومعنى الكلام أن الشماس يجب أن يشهد له خمسة شهود أنه مستحق للرتبة وكفء لها وأن يصوم الأربعاء والجمعة) وله في رتبته حمل كأس دم المسيح الذي صار بالتقديس، والملعقة لتوزيع الدم الذكي لشعب الله. وله قراءة (في الأصل قراه – وقد وضعنا الهمزات غير الموجودة في الأصل لسهولة القراءة) الانجيل على الأنبل (الأنبل كلمة محرفة من ambon اليونانية ومعناها المنبر. ويقصد به المنبر العالي الموجود في الكنائس القديمة، وكان لا يعتليه إلا الشماس حيث يقرأ منه الإنجيل وهو لابس الملابس الكهنوتية، ويستعمل الآن في باكر يوم الخميس الكبير لقراءة الابركسيس، وقطعة تبكيت يهوذا وكذا في صلاة الساعة الثانية عشرة من يوم الجمعة الكبيرة، وقد أفرد الأنبا ساويرس في كتابه «ترتيب الكهنوت» المشار إليه، الباب السادس في الأنبل، ١٣٩ظ، وفي طبعة إسفالج ص١٩، ٢٠) إذا لم يقأه القسيس&#8230; وعلى الشماس في الصلاة (يقصد بالصلاة هنا رفع بخور باكر وعشية) والقداس تبليغ الشعب وانذارهم (معنى الانذار هنا النداء) في نوبة خدمته. وله أن يوقد (في الأصل: يقد) قنديل الشرق (كان هذا القنديل يعلق في &#8220;الشاق&#8221; أي فجوة الهيكل الشرقية أمام المذبح موقداً ليلاً ونهاراً. وقد بطل استعماله بمزيد من الأسف في كنائس كثيرة، وإذا كنا نرى بعض القناديل توقد أمام أيقونات القديسين وهذا أمر واجب، فبالأحرى أن يوقد &#8220;قنديل الشرق&#8221; دائماً)، وله أن يقف قبالة القسيس في وقت القداس، وذلك لثلاثة (في الأصل: ثلثة) معان (في الأصل: معاني) وأحدها (في الأصل: أحدهم): ليحرس (أي ليمنع وينبه) من يأتي من خلف الكاهن ليعتدي عليه. والثاني: لأنه مخاطب الشعب ومنذرهم بما ينبغي فعله ومجاوبة الكاهن فيه، فينبغي مخاطبته لهم ووجهه اليهم لا بظهره، لأنه متى كان وجهه إلى الشرق وخاطب الشعب بظهره، كان ذلك غير لائق (في الأصل: غير لايق) فلا يصير متشبهاً بالكاهن في مخاطبته لمن يخاطبه ووجهه إلى الشرق. والمعنى الثالث في وقوفه قبالة القسيس: هو أن هذه الرتبة شريفة سمائية (في الأصل: سمايية) ملائكية (في الأصل: ملايكية) والبشر فيها ملائكة (في الأصل: ملايكة) أرضيون (في الأصل: أرضيين) فقصد معلمو (في الأصل: معلمي) البيعة مشابهة الملائكة (في الأصل: الملايكة) أي الملاكين اللذين (في الأصل: الذي) كانا (في الأصل: كانوا) واقفين عند القبر، واحد عند الرأس (في الأصل: الراس) والآخر عند الرجلين كما شهد البشير في فصل القيامة لما دخلت مريم سحراً جداً في طلب جسد المسيح. وعلى الشماس تسليم عمامة الكاهن حال الخدمة، وقبلها (أي عليه قبل الخدمة) تعريف الكاهن بحال من هو حاقد (في الأصل: واجد) على أخيه ليصلح الكاهن بينهما، وذلك مضافاً لافتقاد المرضى والمسجونين وافتقاد الأيتام والأرامل (وفي الباب السادس عشر من هذا الكتاب، ورقة ١٥٠ظ، وفي طبعة اسفالج، ص ٣٦، ٣٧ يذكر أنه بعد غسل أرجل رجال الكهنوت يتقدم الأغنسطس ويأخذ عمامة الأبودياقن يشيلها ثم يعيدها إليه بعد فراغ خدمته والأبودياقن يفعل مع الشماس كذلك).</p>
<p>كل هذه الواجبات لا يمكن أن يقوم بها إلا من كان كبير السن كامل العقل.</p>
<p>(٢) جاء في مخطوط بدير السريان، يرجع تاريخه إلى القرن السابع عشر تقريباً بعنوان: في الامتناع عن تكريز الصغار شمامسة (رقم قديم ١٢٤ لاهوت – وحديث ١٤. وتشمل أربعة كتب: اإيضاح ، العقيدة، البيان، والتمييز. الباب الثامن في الامتناع من تكريز الصغار شمامسة من ورقة ٤٢ح – ٤٥ح، والترقيم الجديد من ٤٥ح – ٤٨ح) ما يأتي:</p>
<p>[قد برهن الآباء (في الأصل: برهنت الآباء) في تفسير سفر الخليقة المتعلق بالسفينة أن الكهنوت لا يناله إلا من كمل سنه ثلاثين سنة ولو كان عالماً خبيراً. فإن السيد المسيح (/٤٢ظ) له المجد، النقي من جميع العيوب لم يعتمد دون كمال ثلاثين سنة منذ مولده كما تضمن كتاب انجيله المقدس. ولهذا يجب ألا (في الأصل: لا يجب أن) يكرز الصغير شماساً، لا سيما أن الصغير الذي يكرزه والده شماساً، لا يأتمنه (في الأصل: لا يوتمنه) والده على مال يتجر فيه خوفاً من أن يفقد (في الأصل: خوف من فقد) الصغير المال، أو يفقدهما جميعاً (في الأصل: فقدهما – وهو يقصد بفقدهما أن يفقد الرجل ابنه وماله أيضاً) لصغر عقل ذلك الصغير. وأما الاحتجاج بأن (في الأصل: في أن) الأطفال مدحهم السيد المسيح بقوله (في الأصل: لقوله) لتلاميذه: آمين (لعله يقصد هنا الحق، أو لعله ذكرها مؤمناً على الآية المقبلة) أقول (/٤٣ح) لكم إن لم ترجعوا وتصيروا مثل هذا الصبي فهذا هو العظيم في ملكوت (في الأصل: ملكوة) السموات. وبقوله (في الأصل: لقوله) لتلاميذه أيضاً عن الأطفال أن ملكوت السموات لمثل هؤلاء – فلم يرد (أي أن السيد لم يرد بقوله كل هذه الأقوال عن الأطفال) بهذا القول أن يرجع (في الأصل: يرجعوا) تلاميذه إلى سن الطفولية لأن ذلك ممتنع عند الناس. وإنما يعني بهذا أن يكون (في الأصل: يكونوا) تلاميذه كالطفل الذي إذا مدح لا يتعظم، وإذا سُبَّ لا يغضب (/٤٣ظ)، أي أنهم إن استمروا (في الأصل: أنهم استمروا. وهي جملة شرطية جوابها أمكنهم) في التواضع والرضا (في الأصل: الرضى) كالأطفال، أمكنهم الدخول إلى ملكوت السموات (/٤٤ظ). وأما وضع السيد على رؤوس الأطفال فهو بطريق البركة كما طلب الذين قدموهم – أي أن يضع يده عليهم ويصلي عليهم أي يبارك (في الأصل: تبارك) عليهم، ولم يعطهم شيئاً من (شيا من) درجات الكهنوت كما أعطى (في الأصل: أعطا) (/٤٥ح) تلاميذه القديسين عندما نفخ في وجوههم قائلاً (في الأصل: قايلاً): &#8220;اقبلوا الروح القدس من غفرتم له خطاياه غفرت، ومن مسكتموها عليه مسكت&#8221;</p>
<p>٤- من كتاب &#8220;التكريسات&#8221; أو &#8220;الرسامات&#8221; (نقلاً عن نسخة رقم ٢٣٥ طقس بالمتحف القبطي، مؤرخة برمهات ١٠٨٠ش-١٣٦٤م ولوصف هذه المخطوطة راجع فهرس مخطوطات المتحف القبطي المشار اليه &#8211; الجزء الأول – ص٧١ رقم ١٤٢ – وكتالوج جراف المشار اليه – رقم ٦٨٤ (١)- ص٢٥١):</p>
<p>جاء في قسمة الأناغنوستيس &#8220;الأغنسطس&#8221; وهي أول درجة من درجات الشماسية ما يثبت أن من يتقدم لهذه الدرجة يجب أن يكون رجلاً كبيراً، وهذه هي نصوص الصلوات:</p>
<p>(ح٤) ويقول الأسقف.. أظهر وجهك على عبدك فلان القائم (في الأصل: قايم) أمامك الذي قدموه لك لينذر بأقوالك المقدسة التي لعهدي العتيقة والحديثة ويكرز لشعبك بأوامرك ويعلمهم كلامك الطاهر الذي من جهته يكون خلاص نفوسهم&#8230;.</p>
<p>وهذه هي الوصية التي يقرأها عليه الأرشيدياكون (٤ظ): ياابني هذه أول درجات الكهنوت التي دخلت اليها، يجب عليك أن تتعلم واحدة فواحدة من فصول الكتب المقدسة التي من نفس الله، «تلك الكتب» (أضيفت لترتبط الجمل) التي أئتمنت عليها (٥ح) لتعظ الشعب بها لأن هذا عمل عظيم يحتاج الذي يقام فيه أن يكون السراج الذي يضئ على المنارة، لكي تملأ مسامع سامعيك من الذي تقرأه لهم وتكون أنت غير ممتحن، بل أذكر كل حين كلام الرب القائل من قرأ فليفهم – لكي من جهة نموك الصال، وإقبالك في هذه الدرجة، ينظروا فلاحك فيعطون عنك التزكية، وتقدم إلى الدرجة التي &#8220;هي&#8221; (أضيفت ليتضح الكلام) أعلى من هذه، لكي يفتخر بك الذين قدموك في الوسط إذ حسناً يزكونك، ويشهدون بجودك في كل زمان بالمسيح يسوع ربنا هذا الذي&#8230;. (نشر جناب الأب يعقوب مويزر هذه الوصية نقلاً عن المخطوطة المذكورة في مجلة صديق الكاهن – السنة الرابعة – العدد الثاني ١٩٥٢ص٦٠).</p>
<p>مما تقدم يتضح جيداً أن الأناغنوستيس &#8220;الأغنسطس&#8221; يجب أن يكون رجلاً حتى يكون قادراً أن يتمم الواجبات المفروضة عليه. فإذا كانت هذه حال أصغر الدرجات، فكم بالحري يجب أن يكون الوضع بالنسبة للدرجات الأعلى.</p>
<p>ومما يثير العجب حقاً، أن كل خدام الكنيسة القبطية الذين من رجال الكهنوت كالأسقف والقسيس، والذين من خارج الكهنوت كالمرتل والقيم والبواب – جميعهم لا يتقلدون هذه الوظائف إلا وهم رجال – ما عدا درجة الشماسية، فقد يسام صاحبها من الأولاد الصغار.</p>
<p>على أن للمسألة وجهاً آخر – فإن واجبات الشماس يقوم بها الآن العلمانيون أي الذين لا يشترط فيهم الحصول على هذه الدرجة، نعني بذلك واجباته المتعلقة بقراءة الكتب المقدسة وتفسيرها وخدمة الفقراء والمرضى والمحتاجين وغير ذلك. فهذه الخدمات تتم الآن بعيداً عن الكنيسة، تقوم بها مختلف الهيئات والجمعيات المنتشرة في أنحاء الكرازة، خارج الكنيسة وعلى هامشها.</p>
<p>وهكذا انهارت إحدى درجات الكهنوت؛ فأسندت الدرجة رسمياً إلى صبية صغار لا يستطيعون القيام بما تفرضه الدرجة من واجبات – ثم تممت هذه الواجبات واقعياً بواسطة أشخاص لا يشترط فيهم – من أجل القيام بعملهم – أن يحصلوا على الدرجة.</p>
<p>وإذن فمنع رسامة الصغار شمامسة في أي رتبة من رتب الشماسية، وهو الأمر الذي يجب أن يتم فوراً طبقاً لما يوجبه الكتاب المقدس والقانون الكنسي وآباء البيعة وكتبها كما سبق القول – يجب أن يصحبه عمل آخر: هو أن تتذكر الكنيسة، وتنهض للقيام بما يمليه عليها وضعها الرسولي، فتعمل على أن تكون خدمة الشعب بكل أشكالها وأهدافها – خدمة كنسية، أي يقوم بها الخدام الرسميون للكنيسة في درجتهم الأصلية، الشماسية، وطبقاً لشروط هذه الرتبة والتزاماتها، وبعد استيفاء جميع ما يجب أن يتوافرفي من يرسمون فيها.</p>
<p>إن على الكنيسة أن تهتم بهذه الدرجة كما تهتم بكل درجات الكهنوت الأخرى، بحيث لا يقام أسقف أو كاهن إلا وبجواره الشماس، فإذا خلا مركز هذا الأخير اهتم الشعب والكنيسة كلها بإقامة غيره، كما يهتمون بإقامة الكاهن إذا لم يوجد.</p>
<p>يسى عبد المسيح</p>
<p>أمين مكتبة المتحف القبطي<a href="#_ftn14" name="_ftnref14">[14]</a></p>
<h4>الأب فرنسيس ب. لابيف</h4>
<p>الاتحاد بالله قوة</p>
<p>« ان كان الله معنا فمن علينا » (رو ٨ :٣١)</p>
<p>قالت إحدى القديسات منذ سنين « إن ملكت هذه الأربعة جنيهات</p>
<p>فهي لا شيء، أما إن ملكتهم والله معی فهم أكثر من الضرورة».</p>
<p>قالت تلك الكلمات عندما اتهمها الناس لأنها كانت تحاول المستحيل .</p>
<p>كانت تحاول انشاء دير ولكن الكثير أحبط خطتها ولم يحاول أحد</p>
<p></p>
<p>مساعدتها . لقد كانت تملك اربع جنيهات فقط وليس لديها طعام</p>
<p>ولكنها تعلمت أن « الاتحاد بالله قوة ». ربما لا تتفق خطط الناس مع</p>
<p>خطتها و لكن تدابيرها كانت من قبل الله . ولماذا تخشى عدم تدبير</p>
<p>الله لخطتها ؟ لقد كانت تسهر وتصلي وكانت صامدة و لكن بكل</p>
<p>وداعة كما هو الحال بالنسبة للأتقياء عندما يعلمون أن الله مرشدهم</p>
<p>هكذا مضت شهور طويلة وتغيرت قلوب الناس وانتصرت خطط</p>
<p>الله.</p>
<p>كثيراً ما نقلق، وأحياناً ربما لا نتذكر الحقيقة الملحة وراء كلمات هذه</p>
<p>القديسة ، ربما يكون دخلى ضئيلا حقاً. وتكتل الناس على ولكن لا</p>
<p>يهم هذا طالما ناجیت الله وطلبته جانی .</p>
<p>الآباء يخافون على أولادهم من تيارات العالم التي تحارب نفوسهم</p>
<p>فما العمل وهم منهکي القوى ، قليلى الخبرة ، غير معتادین على</p>
<p>خداع العالم الحديث .</p>
<p>ماذا يفعلون لإنقاذ أبنائهم ؟ طبعاً يدبرون و يخططون ويسهرون</p>
<p>بتيقظ ولكن بلا جدوى يجب ان يجثوا عند أقدام الصليب طالبين من</p>
<p>الله حماية أبنائهم الذين هم اولاده أيضاً.</p>
<p>في مجالات العمل يدبر الأشخاص المكرة سحقي و تحطيمی</p>
<p>والايقاع بي في المشاكل حتى أفقد كل شيء ويصبح المستقبل ظلاماً</p>
<p>حقاً وتصبح الزوجة والأولاد في حاجة إلى رعاية &#8230; بالطبع امکث</p>
<p>ساهراً لكي أرد كيد اللصوص و يبدو أنني لن أنتصر بمفردی و لكن</p>
<p>« أستطيع كل شيء في المسيح الذي يقويني » فباشتراك الله معي</p>
<p>سأجاهد بكل قوة و أنتصر.</p>
<p>و كثيراً منا أيضا لديه خطط على نطاق كبير او صغير نعتقد أنها</p>
<p>ستفيدنا و تفيد غيرنا و نجاهد بكل عزم ولكن تسير الأمور ضدنا &#8230;</p>
<p>ففي البيت أو الفصل ، في مجتمعنا الصغير أو مؤسساتنا الكبيرة</p>
<p>ندرك أن خطتنا المدبرة بإحكام على وشك الانهيار .</p>
<p>ماذا إذن ؟! هل نخشى المحظور أو نطلب عون الله لكي يأخذ أعمالنا</p>
<p>كلها على عاتقه ؟ بالطبع سنناجيه و نحقق بعد ذلك الفوز لأن لا</p>
<p>شيء مستحيل لديه بل كل شيء مستطاع لدى الله.</p>
<p>ربما يبدو حتى في النهاية اننا لن ننتصر انتصاراً ملحوظاً، ويبدو</p>
<p>للناس ولنا أيضاً اننا قد خسرنا الميدان . ولكن هذا ظاهریاً فقط . فالله</p>
<p>معنا وحينما تتعارض الظروف معنا اليوم وغداً طبقاً لقصر نظرتنا</p>
<p>للأشياء نؤمن اننا قد انتصرنا الانتصار العظيم لاننا نعمل باستقامة</p>
<p>وصدق وشجاعة من أجل الله لانه من المستحيل التغلب علي والله</p>
<p>معي.</p>
<p>يا ربى يسوع الحبيب لقد وجود الكثير تعارضا شديداً في هذا العالم</p>
<p>لما هو صالح حتى أن معظمنا على وشك مغادرة الميدان. فأنت تعلم</p>
<p>مدى اجتهادی احيانا لكي اخدمك وابقي آخرين على خدمتك ، وکیف</p>
<p>احاول إرجاع البعض الآخر إلى محبتك &#8230;</p>
<p>ولكن احيانا كثيرة جداً أعتقد أن لدى الأسباب القوية لفشل جهودی .</p>
<p>لذلك يا سيدي الحبيب دعني اتذكر طلب معونتك عندما أشرع في ای</p>
<p>خطة او ای عمل نافع حتى تكون انت شريكا لي لا تدعني انجرف</p>
<p>في القلق على النتائج ، و عندما يثقل الحمل لا تسمح بانشغالي ولكن</p>
<p>ثبت ثقتي لان الاتحاد معك يا الله قوة ساحقة<a href="#_ftn15" name="_ftnref15">[15]</a>.</p>
<h3>من وحي قراءات اليوم</h3>
<p>&#8221; نريد أن نري يسوع &#8221;               إنجيل باكر</p>
<p>+ السؤال نريد أن نري يسوع والجواب إن لم تقع حبة الحنطة في الأرض وتمت (يو ١٢: ٢١-٢٤)</p>
<p>+ لا مجال ولا طريق رؤيته دون الموت عن العالم وكل ما يخص العالم</p>
<p>+ إذا تركنا الكراهية وطلبنا غني محبّته سنراه لأن من يثبت في المحبّة سيثبت فيه (١يو ٤: ١٦)</p>
<p>+ إذا رفضنا الزيف والزور وإلتصقنا بالحق سنُندركه وسوف يُحرِّرنا حقه (يو ٣٢:٨)</p>
<p>+ إذا إبتعدنا عن خفايا الْخِزْي سيُشرق نور مجد معرفته في قلوبنا (٢كو ٤: ٢-٦)</p>
<p>+ نوره لا يشارك الظلمة (٢كو ٦: ١٤) بل إذا قبلناه سيضئ في ظلمتنا (يو ٥:١)</p>
<p>+ سنراه عندما نتبنَّي آلام إخوتنا ونغسل أقدامهم ونحيا في شركة المحبّة (مت ٢٠:١٨)</p>
<p>+ سنراه في هيكل العبادة (ملا ٣: ١) وهيكل البشر (مت ٢٥ : ٣٥-٤٥)</p>
<p>+ ما أخطر أن يكون وسطنا ونحن لا نُدركه ولا نعرفه (يو ٢٦:١)</p>
<p>+ ما أجمل أن نبحث عنه مثل عروس النشيد ونُمْسِكَهٌ ولا نُرْخِه (نش ٤:٣)</p>
<hr />
<p><a href="#_ftnref1" name="_ftn1"></a>١- كتاب المسيح مجد الشهداء للقديس أغسطينوس (صفحة ٢٥) &#8211; ترجمة الباحث ريمون يوسف رزق</p>
<p><a href="#_ftnref2" name="_ftn2"></a>٢- القديس يعقوب السروجي &#8211; تفسير مراثي ارميا إصحاح ٣ &#8211; القمص تادرس يعقوب ملطي</p>
<p><a href="#_ftnref3" name="_ftn3"></a>٣- القديس جيروم &#8211; تفسير سفر الخروج إصحاح ٣٢ &#8211; القمص تادرس يعقوب ملطي</p>
<p><a href="#_ftnref4" name="_ftn4"></a>٤- تفسير إنجيل متي &#8211; الإصحاح السابع &#8211; القمص تادرس يعقوب ملطي</p>
<p><a href="#_ftnref5" name="_ftn5"></a>٥- المرجع : كتاب إسطفانوس أول شهداء المسيحية &#8211; غريغوريوس النيسي &#8211; ترجمة دكتور سعيد حكيم يعقوب</p>
<p><a href="#_ftnref6" name="_ftn6"></a>٦- المرجع : تفسير أعمال الرسل ( الإصحاح السابع ) &#8211; القمص تادرس يعقوب ملطي</p>
<p><a href="#_ftnref7" name="_ftn7"></a>٧- المرجع : كتاب من كتابات القديس يوحنا الذهبي الفم &#8211; إعداد القمص تادرس يعقوب ملطي وآخرين</p>
<p><a href="#_ftnref8" name="_ftn8"></a>٨- تفسير سفر الحكمة ( الإصحاح الخامس عشر ) &#8211; القمص تادرس يعقوب ملطي</p>
<p><a href="#_ftnref9" name="_ftn9"></a>٩- كتاب المسيح مجد الشهداء &#8211; ترجمة الباحث ريمون يوسف رزق</p>
<p><a href="#_ftnref10" name="_ftn10"></a>١٠- كتاب المنجلية القبطية الأرثوذكسية ( صفحة ٧٧ ) &#8211; قداسة البابا تواضروس الثاني</p>
<p><a href="#_ftnref11" name="_ftn11"></a>١١- كتاب الخدمة والعمل الفردي &#8211; الأنبا صموئيل أسقف الخدمات العامة والإجتماعية</p>
<p><a href="#_ftnref12" name="_ftn12"></a>١٢- كتاب القديس بطرس يعلمني &#8211; القمص لوقا سيداروس</p>
<p><a href="#_ftnref13" name="_ftn13"></a>١٣- كتاب تأملات وعناصر روحية في آحاد وأيام السنة التوتية ( الجزء الرابع ) &#8211; إعداد القمص تادرس البراموسي</p>
<p><a href="#_ftnref14" name="_ftn14"></a>١٤- المرجع : مجلة مدارس الأحد عدد شهر فبراير لسنة ١٩٥٥</p>
<p><a href="#_ftnref15" name="_ftn15"></a>١٥- المرجع : كتاب الصديق الدائم &#8211; ترجمة السيدة إيزيس ميخائيل أسعد وتقديم القمص بيشوي كامل</p>

      {% endcreateArticleAccordions %}
    </section>
  {% endblock %}
  