---
layout: 'layouts/reading.html'
title: 'اليوم العاشر من شهر طوبة (برمون الغطاس المقدس)'
tags: 'annual'
permalink: /articles/annual/5-10.html
---
  {% block content %}
    <section id="readings">
      <ul>
      {% if 'undefined' != 'undefined' %}
      
      {% else %}
      {% if '19.42:2,11' != 'null' %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">العشية</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeVespers '19.42:2,11' '40.4:12-22' %}
          </div>
        </div>
      </li>
      {% endif %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">باكر</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeMatins '19.42:7-8' '43.3:22-29' '' %}
          </div>
        </div>
      </li>
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <h3 class="flex items-center justify-between">
            <span class="kufi">القداس</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </h3>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeLitugy '46.1:1-17' '61.1:12-19' '44.16:25-34' '19.45:2' '42.3:1-18' %}
          </div>
        </div>
      </li>

      {% endif %}
        </ul>
    </section>
    <section id="article">
      <h3 class="mt-8 mb-4 heading-explain">شرح القراءات</h3>
      {% createArticleAccordions %}
        <p>&#8221; بل بمقتضي رحمته خلَّصنا بغسل الميلاد الثاني وتجديد الروح القدس &#8221; (تي ٣: ٥)</p>
<p>&#8221; يا ربنا يسوع المسيح الذي إعتمد في الأردن ، طهر نفوسنا من رباطات الخطية &#8221;</p>
<p>لحن باشويس لعيد الغطاس</p>
<p>الذين يستنيرون يتقبلون ملامح المسيح &#8230; فانه حتما يُطبع علي كل واحد منهم شكل الكلمة وصورته وملامحه حتي يحسب المسيح مولوداً في كل واحدٍ منهم بفعل الروح القدس &#8230; ويصير الذين يعتمدون مسحاء آخرين ( ق. ميثوديوس ص ٦٧ ) الروح القدس بين</p>
<h3>شواهد القراءات</h3>
<p>(مز ٤١: ١، ٦) ، (مت ٤ : ١٢ – ٢٢) ، (يو ٣ : ٢٢ – ٢٩) ، (١كو ١ : ١ – ١٧) ، (٢بط ١ : ١٢ – ١٩) ، (أع ١٦ : ٢٥ – ٣٤) ، (مز ٤٤ : ٤) ، (لو ٣ : ١ – ١٨)</p>
<h3>ملاحظات على قراءات برامون عيد الغطاس</h3>
<p>+ قراءة إنجيل عشيّة اليوم (مت ٤: ١٢ - ٢٢) تُشبه قراءة إنجيل باكر ليوم ٢٧ هاتور (مت ٤ : ١٨ - ٢٢) وهو الموافق تذكار شهادة القديس يعقوب المقطع ، كما أنها تُشبه قراءة إنجيل عشيّة ليوم ٢٤ بشنس (مت ٤ : ١٢ - ١٧) ، وهو الموافق لمجئ العائلة المُقدَّسة إلي مصر</p>
<p>والإضافة الزائدة هنا في قراءات البرامون للإشارة إلي تمام خدمة يوحنا المعمدان وبداية خدمة ربّ المجد ، والإكتفاء في القراءة الثانية بدعوة الرب ليعقوب ( إختيار القراءة هنا علي أساس إسم يعقوب )</p>
<p>أما مجيئها في يوم ٢٤ بشنس من هذا النص الكتابي لأن بدايته تقول أن الرب عندما سمع أن يوحنا أُسلم إنصرف إلي الجليل ، وهي التي دعاها القديس متي نقلا عن إشعياء النبي جليل الأمم (أش ٩ : ١ )،( مت ٤ : ١٥) ، وكأنَّ المُقارنة هنا بين ذهاب الرب إلي الجليل ( الأمم ) بعد ما ترك اليهودية ، وبين ذهابه إلي مصر ( الأمم ) بعد ما ترك أيضاً اليهودية ( بيت لحم )</p>
<p>+ قراءة إنجيل باكر اليوم (يو ٣: ٢٢ - ٢٩) يأتي جزء منها (يو ٣: ٢٥ - ٢٩) في قراءة إنجيل باكر ليوم ٢ بؤونه (تذكار وجود عظام يوحنا المعمدان) والحديث عن يوحنا المعمدان صديق العريس ، بالإضافة إلي الحديث ( في الآيات الزائدة من ٢٢ - ٢٤ ) عن معمودية يوحنا ومعمودية الرب</p>
<p>وتأتي كلَّها مع إضافة سبع آيات أخر في إنجيل قدَّاس الأحد الثالث من شهر طوبي (يو ٣: ٢٢ - ٣٦)</p>
<p>والكلام هنا عن المعمودية، والآيات الزائدة للكلام عن عطيَّة الروح القدس التي أخذناها في المسيح له المجد بمعموديته من يوحنا وهي موضوع قراءة ذلك الأحد</p>
<p>+ قراءة الكاثوليكون اليوم (٢بط ١ ؛ ١٢ - ١٩) تُشبه قراءة الكاثوليكون (٢بط ١: ١٢ - ٢١) في أيَّام ٦ طوبه ، ٢٦ بشنس ، ٥ أبيب ، ١٣ مسري ، وتُشبه قراءة الكاثوليكون في يوم ٢٩ كيهك (٢بط ١ : ١٢ - ١٧)</p>
<p>جاءت القراءة اليوم لأجل شهادة الآب عن الإبن أنه &#8221; إبني الحبيب الذي به سُررت &#8221; في برامون الغطاس (١٠ طوبه )</p>
<p>وجاءت في عيد الختان ونور إبن الله الذي أُستعلن للأمم (٦ طوبه)</p>
<p>وأيضاً في أعياد الظهور الإلهي لأجل إستعلان مجد الله للبشرية في عيد الميلاد (٢٩ كيهك)</p>
<p>كما نري هنا شهادة القديس بطرس عن ظهور مجد إبن الله في التجلّي (وقد سمعنا نحن هذا الصوت من السماء حين كنّا معه علي الجبل المُقدَّس) لذلك جاءت في عيد التجلّي ( ١٣ مسري )، وتذكار القديس بطرس وبولس ( ٥ أبيب ) ، والقديس توما الرسول ( ٢٦ بشنس )</p>
<p>+ قراءة الإبركسيس اليوم (أع ١٦: ٢٥ - ٣٤) تُشبه قراءة يوم ٢٣ برموده (أع ١٦: ١٦ - ٣٤)</p>
<p>تتكلّم هذه القراءة عن إيمان حافظ السجن ومعموديته وهو أسرته من القديسين بولس وسيلا لذلك تأتي هذه القراءة في برمون الغطاس</p>
<p>كما تأتي فيها آيات إضافية تشرح سلطان القديس بولس علي الأرواح الشريرة كما تكشف عن الآلام والعذابات التي تحمَّلها لأجل المسيح لذلك تأتي هذه القراءة في تذكار الشهيد العظيم مار جرجس (٢٣ برمودة)</p>
<h3>شرح القراءات</h3>
<p>تتكلّم قراءات هذا اليوم عن دعوة الآب للبشرية في المعمودية للنور من الظلمة وللفرح والتسبيح ولغني الثمار الجيّدة</p>
<p>تبدأ المزامير بالنفس العطشانة ( مزمور عشية ) والعمق المستمرّ ( مزمور باكر ) والنعمة المنسكبة ( مزمور القداس )</p>
<p>يُعْلِن مزمور عشيّة طبيعة النفوس التي تقبل دعوة الآب للخلاص فإذا كان المزمور يُقدِّم لي خلاص وجهي إلهي لكن ينتظر عطش نفسي إليه وإتكالي عليه والعجيب أن هذا المزمور هو أوَّل مزمور من مزامير الكنيسة والتي تقابل سفر الخروج ( الرجوع لابونا متي وأبونا تادرس ) وهو المزمور الذي يتكلّم عن الأيل وسحقها للحية وجريها نحو مياه الروح لترتوي ولتُزيل عنها آثار سُم الحية       كما يقول القديس جيروم ( الآن نحن أيضًا مثا الإيل نشتاق إلى المياه الجارية. لقد انسحب إيلنا الصغير من مصر ومن العالم، وأهلك فرعون في المياه، وسحق جيشه كله في المعمودية. إذ يُقتل الشيطان (بالصليب في مياه المعمودية) تلتهب قلوبهم المملؤة غيرة نحو مياه الكنيسة الجارية، ويشتاقون إلى الآب والابن والروح القدس ) فكأن الدعوة لنا دائمة لنجري إلي مياه الروح مصدر حياتنا وإرتوائنا</p>
<p>( عطشت نفسي إلي الله توكّلي علي الله فإني اعتراف له خلاص وجهي هو إلهي )</p>
<p>وفِي مزمور باكر من نفس المزمور ( ٤١ حسب الترجمة القبطية ) يدخل بنا من عمق إلي عمق لنكتشف إله حياتنا</p>
<p>( العمق نادي العمق بصوت ميازيبك من عندي صلاة لإله حياتي )</p>
<p>وفِي مزمور القداس نكتشف الأبرع جمالاً من كل إنسان ومن كل شئ والنعمة المنسكبة من شفتيه أي كلمته المقدسة كما يقول الآباء القديسين فيدعو الكل للتأمّل فيه &#8221; يشير إلى عمل النفس العقلاني بسبب كل الأفكار التي تفيض دومًا وتموج، فإن من يثبت نظره على جمال الله اللامتناهٍ، يكتشف على الدوام ما هو جديد؛ وإذ يبقى الله يعلن عن نفسه يستمر الإنسان في دهشٍ &#8221; القديس غريغوريوس أسقف نيصص</p>
<p>( بهئ في حسنه أفضل من بني البشر إنسكبت النعمة من شفتيك لذلك باركك الله إلي الدهر )</p>
<p>فكما لو كانت المزامير تُقدِّم لنا دعوة الآب لنا في خلاص وجهه (مزمور عشية ) وحياته لنا ( مزمور باكر ) وغني نعمته ودوام بركته ( مزمور القدّاس )</p>
<p></p>
<p>وفِي القراءات يدعونا الآب قديسين وأطهار ( البولس ) ويشرق بنور ابنه في قلوبنا ( الكاثوليكون ) ويمنح الخلاص لكل من يؤمن بإبنه ( الإبركسيس )</p>
<p></p>
<p>في البولس يدعونا الآب مقدسين وأطهاراً ويدعونا إلي شركة إبنه</p>
<p>( من بولس المدعو رسولاً ليسوع المسيح بمشيئة الله وسوستانيس الأخ إلي كنيسة الله التي في كورنثوس المقدسين في المسيح يسوع المدعوين أطهاراً مع جميع الذين يدعون بإسم ربنا يسوع المسيح في كل مكان &#8230; صادق هو الله الذي دعاكم إلي شركة إبنه يسوع المسيح ربنا )</p>
<p>كما يُحذِّر من الإرتباط بمن يُعمِّد أكثر ممّن إعتمدنا لأجله وأيضاً من التحزّبات والإنقسامات التي تهدِّد وحدة الكنيسة</p>
<p>( ولا يكون بينكم إنشقاقات بل تكونوا مستعدين في فكر واحد ورأي واحد لأني أُخبرت عنكم يا إخوتي من خلويس أن بينكم خصومات وهذا أنا أقوله إن كل واحد منكم يقول أنا لبولس وأنا لأبلس وأنا لكيفا وأنا للمسيح هل إنقسم المسيح ألعلَّ بولس صلب لأجلكم أم بإسم بولس اعتمدتم )</p>
<p>وفِي الكاثوليكون نري الكرامة والمجد التي أخذناها من الله الآب في المسيح وقت عماده ووقت تجلّيه علي الجبل مع التلاميذ ويشرق بنور ابنه في قلوبنا</p>
<p>( لأننا لم نتبع خرافات فلسفية إذ عرفناكم بقوة ربنا يسوع المسيح وظهوره بل قد كنّا معاينين عظمته لأنه أخذ كرامة ومجداً من الله الآب &#8230; وثابت عندنا كلام الأنبياء هذا الذي هو نعم ما تصنعونه إذا تأملتم إليه كمثل سراج مضئ في موضع مظلم حتي يظهر النهار والنور يشرق ويظهر في قلوبكم )</p>
<p>وفِي الإبركسيس يُعطي نموذج لمن قبلوا دعوة الخلاص وآمنوا وإعتمدوا مثل سجان فيلبي الذي نال الخلاص هو وأهل بيته وإمتلأوا من الفرح والتهليل</p>
<p>( وقال لهما يا سيدي ماذا ينبغي لي أصنعه لكي أخلص أما هما فقال آمن بالرب يسوع فتخلص أنت وأهل بيتك وكلماه وجميع أهل بيته بكلمة الرب فأخذهما في تلك الساعة من الليل وغسلهما من الجراحات واعتمد في الحال هو والذين له أجمعون وأدخلهما في بيته قدَّم لهما مائدة وتهلّل مع جميع بيته إذ قد آمن بالله )</p>
<p></p>
<p>وتربط الأناجيل بين المعمودية والنور (إنجيل عشيّة ) والفرح ( إنجيل باكر ) والثمر ( إنجيل القدّاس )</p>
<p></p>
<p>فيتكلّم إنجيل عشية عن العلاقة بين بداية خدمة الرب بعد المعمودية وبين الكرازة بالتوبة والدعوة لتكريس رسل وخُدّام لإشراقة نور الخلاص علي كل البشرية</p>
<p>( الشعب الجالس في الظلمة أبصر نوراً عظيماً والجالسون في الكورة وظلال الموت أشرق عليهم نور من ذلك الزمان إبتدأ يسوع يكرز ويقول توبوا لأنه قد إقترب ملكوت السموات وإذ كان ماشياً علي شاطئ بحر الجليل أبصر أخوين سمعان الذي يقال له بطرس وإندراوس أخاه يُلقيان شبكة في البحر فإنهما كانا صيادين فقال لهما هلم إتبعاني فأجعلكما صيادي الناس فللوقت تركا شباكهما وتبعاه )</p>
<p>وفِي إنجيل باكر العلاقة بين خدمة يوحنا المعمدان وخدمة الرب وتشبيهها بالعلاقة بين صديق العريس والعريس فالمعمودية دعوة إلي الدخول في عُرْس العهد الجديد والفرح الدائم</p>
<p>( فجاءوا إلي يوحنا وقالوا له يا معلم هوذا الذي كان معك في عبر الأردن الذي أنت قد شهدت له ها هو يعمِّد والجميع يأتون إليه أجاب يوحنا وقال لا يقدر إنسان أن يأخذ شيئاً من نفسه وحده إن لم يكن قد أُعطي من السماء أنتم تشهدون لي إني قلت لكم لست أنا المسيح بل أرسلت أمام ذاك من له العروس فهو العريس وأما صديق العريس الذي يقف ويسمعه يفرح فرحاً من أجل صوت العريس إذا فرحي هذا قد كمل )</p>
<p>وفِي إنجيل القداس العلاقة بين المعمودية وبين مُعاينة الخلاص لمن طرقهم مستقيمة وثمار حياتهم جيّدة ويحذّر من دينونة عدم الإثمار والإفتخار فقط بالشكل والإسم</p>
<p>كانت كلمة الله علي يوحنا إبن زكريا في البرية فجاء إلي جميع الكورة المحيطة بالأردن يكرز بمعمودية التوبة لمغفرة الخطايا &#8230; وتصير المعوجات مستقيمة والوعر يصير طرقاً سهلة ويُعاين كل ذي جسد خلاص الله &#8230; هوذا الفأس قد وُضعت علي أصل الشجر فكل شجرة لا تُثمر ثمراً جيداً تُقطع وتُلقي في النار &#8230; أجاب يوحنا الجميع قائلاً أنا أعمِّدكم بماء ولكن يأتي من هو أقوي مني الذي لست أهلاً أن أحلَّ سيور حذائه هو سيعمدكم بالروح القدس ونار الذي رفشه في يده وسينقي بيده ويجمع قمحه إلي مخزنه وأما التبن فيحرقه بنار لا تُطفأ) )</p>
<p></p>
<p>دعوة الآب لنا في ابنه للخلاص والحياة وغني النعمة (مزمور عشية وباكر والقدّاس) ودعوته لنا أن نكون مقدسين أطهار ونعاين عظمته عندما نؤمن ونعتمد ( البولس والكاثوليكون والإبركسيس ) فيشرق النور في قلوبنا ويملأ الفرح حياتنا وثماراً مُتزايدة ( إنجيل عشية وباكر والقدّاس )</p>
<h3>أفكار مٌقترحة للعظات</h3>
<h4>(١) دعوة الآب</h4>
<p>١- من الظلمة إلي النور</p>
<p>&#8221; الشعب الجالس في الظلمة أبصر نوراً عظيماً والجالسون في الكورة وظلال الموت أشرق عليهم نور &#8221;                                                                                  إنجيل عشيّة</p>
<p>&#8221; هذا الذي هو نعم ما تصنعونه إذا تأمَّلتم إليه كمثل سراج مضئٍ في موضع مظلمٍ حتي يظهر النهار والنور يشرق ويظهر في قلوبكم &#8221;                                 الكاثوليكون</p>
<p>٢- دعوة إلي الفرح</p>
<p>&#8221; وأما صديق العريس الذي يقف ويسمعه يفرح فرحاً من أجل صوت العريس إذاً فرحي هذا قد كمل &#8221;                                                              إنجيل باكر</p>
<p>&#8221; وتهلل مع جميع بيته إذ قد آمن بالله &#8221;                              الكاثوليكون</p>
<p>٣- دعوة إلي غني المواهب والثمار</p>
<p>&#8221; لأنكم في كلً شئٍ قد استغنيتم به في كل كلام وكل علم كما ثبتت فيكم شهادة المسيح حتي أنكم لستم ناقصين في شئ من المواهب &#8221;                          البولس</p>
<p>&#8221; فإصنعوا أثماراً تليق بالتوبة &#8230; فكل شجرة لا تثمر ثمراً جيداً تقطع وتلقي في النار &#8221; إنجيل القدَّاس</p>
<h4>(٢) ملامح وسمات التوبة</h4>
<p>١- التوبة دعوة إلي الملكوت</p>
<p>&#8221; توبوا لأنه قد إقترب ملكوت السموات &#8221;                               إنجيل عشيّة</p>
<p>٢- توبة الكنيسة تظهر في الفكر الواحد وغياب الخصومات</p>
<p></p>
<p>&#8221; ولكنني أسألكم يا إخوتي بإسم ربنا يسوع المسيح ان تقولوا جميعكم قولاً واحداً ولا يكون بينكم إنشقاقات بل تكونوا مستعدين في فكرٍ واحدٍ ورأيٍ واحدٍ لأني أُخبرت عنكم يا إخوتي من خلويس أن بينكم خصومات &#8221;                                              البولس</p>
<p>٣- التوبة هي إشراقة نور المسيح التي تُبدِّد ظلام القلوب من خلال كلمة الله</p>
<p>&#8221; وثابت عندنا كلام الأنبياء هذا الذي هو نعم ما تصنعونه إذا تأمَّلتم إليه كمثل سراج مضئٍ في موضع مظلمٍ حتي يظهر النهار والنور يشرق ويظهر في قلوبكم &#8221;</p>
<p>٤- التوبة هي الإحتياج للخلاص والإيمان والمعمودية</p>
<p>&#8221; وقال لهما يا سيدي ماذا ينبغي لي أصنعه لكي أخلص أما هما فقال آمن بالرب يسوع فتخلص أنت وأهل بيتك وكلماه وجميع أهل بيته بكلمة الرب واعتمد في الحال هو والذين له أجمعون &#8221; الإبركسيس</p>
<p>٥- التوبة تظهر في النفوس المُستقيمة وفِي فعل الروح القدس الدائم فيها للتنقية</p>
<p>&#8221; أعدوا طريق الرب وقوموا طرقه مستقيمة &#8230; هو سيعمِّدكم بالروح القدس ونار الذي رفشه في يده وسينقي بيدره ويجمع قمحه إلي مخزنه وأما التبن فيحرقه بنار لا تُطفأ &#8221; إنجيل القدَّاس</p>
<h4>(٣) إثنان وثلاثة</h4>
<p>١- بطرس وإندراوس - يعقوب ويوحنا</p>
<p>دعا الرب أخوين لتبعيته وقبلوا دعوته وتركوا كل شئ لأجله وصاروا من تلاميذه</p>
<p>٢- العريس وصديق العريس</p>
<p>يدعو الرب كل واحد منَّا ليكون صديقه كما كان يوحنا المعمدان معه</p>
<p>٣- بولس وأبلس وكيفا ( بطرس )</p>
<p>يُؤكِّد القديس بولس علي أهمّية الفكر الواحد في الكنيسة وخطورة التحزُّبات والإنتماء الأعمي للأشخاص وأن قدوتنا هي رب المجد</p>
<p>٤- بطرس ويعقوب ويوحنا</p>
<p>إختص الرب هؤلاء الثلاثة ببعض المواقف والمُعجزات لأجل المسؤولية الكبيرة عليهم أكثر من باقي التلاميذ</p>
<p>٥- بولس وسيلا</p>
<p>ما أجمل شركة الخدّام في الألم والضيق وفِي الصلاة والتسبيح</p>
<h3>عظات آبائية</h3>
<h4>البابا أثناسيوس الرسولي</h4>
<p>نزول الروح عليه في الأردن إنّما كان نزولًا علينا نحن، بسبب لبسه جسدنا.</p>
<p>وهذا لم يصر من أجل ترقي اللوغوس، بل من أجل تقديسنا من جديد، ولكي نشترك في محبته، ولكي يُقال لنا: &#8220;ألستم تعلمون أنكم هيكل اللَّه، وروح اللَّه يسكن فيكم؟&#8221; (١كو ٣: ١٦)</p>
<p>فحينما اغتسل الرب في الأردن كإنسانٍ، كنّا نحن الذين نغتسل فيه وبواسطته. وحينما اقتبل الروح، كنّا نحن الذين صرنا مقتبلين للروح بواسطته. ولهذا السبب، فهو ليس كهرون أو داود أو الباقين، قد مُسح بالزيت هكذا، بل بطريقة مُغايرة لجميع الذين هم شركاؤه، أي بزيت الابتهاج (مز ٤٥: ٧ ، ٨) ، التي فُسّر أنه يعني الروح قائلًا: &#8220;كيف مسحه اللَّه بالروح القدس&#8221;.</p>
<p>متى قيلت عنه هذه الأشياء، إلا عندما صار في الجسد، واعتمد في الأردن، ونزل عليه الروح (مت ٣ : ١٦) ؟ وحقًا يقول الرب لتلاميذه إن &#8220;الروح يأخذ مما لي&#8221; (يو ١٦ : ١٤) ،   و&#8221;أنا أرسله&#8221; (يو ٧ : ١٦) و&#8221;اقبلوا الروح القدس&#8221; (يو ٢٠: ٢٢). إلا أنه في الواقع هذا الذي يُعطي للآخرين ككلمة الآب وبهاءه، يُقال الآن أنه يتقدّس يسوع، وهذا من حيث أنه قد صار إنسانًا، والذي يتقدّس هو جسده ذاته<a href="#_ftn1" name="_ftnref1">[1]</a>.</p>
<h4>القديس كيرلس الأسكندري</h4>
<p>المعمدان والمسيح له المجد في فكر القديس كيرلس الكبير :</p>
<p>من المسلم به أن &#8220;الأب البار يربى أولاده حسنا جدا&#8221;. لأن أولئك الذين يكتسون بمجد البر الذي بواسطة المسيح ويعرفون وصاياه المقدسة، سوف پدربون أولاده في الإيمان بتقوى وبطريقة ممتازة، إذ يعطونهم ليس الخبز المادي الأرضي بل الخبز الذي من فوق، أي من السماء، وهذا الخبز يذكره المرنم العجيب حيث يقول &#8221; خبز يسند قلب الإنسان، وخمر تفرح قلب الإنسان&#8221; (مز ١٠٤ : ١٥)،</p>
<p>لذلك تعالوا بنا الأن لنسند قلوبنا، وليكن إيماننا بالمسيح يقينيا وذلك بفهمنا لمعنى هذه الكتابات الإنجيلية التي قرئت علينا الأن فهما صحيحا فيقول الإنجيل: اذ كان الشعب ينتظر والجميع يفكرون في قلوبهم عن يوحنا &#8220;العله المسيح&#8221; أجابهم بالكلمات التي قراناها حالا.</p>
<p>لقد لاحظوا بإعجاب جمال طريقة حياة يوحنا الذي لا يقارن، ولمعان سلوكه، وتقواه الفائقة التي لا تجاری، لأنه كان عظيما جدا ومثير للإعجاب حتى أن الجمهور اليهودي بدأوا يفكرون عنه هل هو المسيح نفسه الذي وصفه الناموس لهم في ظلال وسبق الأنبياء القديسين فاخبروا عنه. ولأن البعض تجرأوا أن يفكروا هكذا لذلك نرى المعمدان يقطع ظنونهم في الحال مقدما كعبد الكرامة التي تليق بالسيد وناسيا المجد.</p>
<p>لذلك الذي يفوق الكل أي المسيح، لأنه كان يعرف أن المسيح أمين لأولئك الذين يخدمونه، وما يعترف به يوحنا.</p>
<p>إنما هو الحق تماما لأن المسافة التي تفصل بين الله والإنسان تفوق القياس. لذلك فهو يقول &#8220;أنتم أنفسكم تشهدون لي ألي قلت لست انا المسيح، بل انی مرسل قدامه (يو ٣: ٢٨)</p>
<p>ولكن أين ستجد القديس المعمدان يتكلم هكذا؟ هذا نجده في إنجيل يوحنا الذي كتب عنه هكذا وهذه هي شهادة يوحنا حين أرسل الكتبة والفريسيين في أورشليم ليسألوه ان كان هو المسيح؟ فاعترف ولم ينكر وأقر أني لست أنا المسيح، ولكنني مرسل أمامه</p>
<p>(يوا: ۱۹).</p>
<p>لذلك فإنه عظيم بالحقيقة ومثير للإعجاب هو يوحنا السابق للمسيح الذي ظهر كنور الفجر قبل ظهور نور المخلص الساطع، وهو المقدمة لنور النهار الروحي. وهو جميل کنجم الصبح ويدعی مصباح الله الأب (انظر( إش 62: 1)</p>
<p>وبعد أن أعلن عن نفسه أنه ليس هو المسيح، فإنه الآن يقدم براهين - ينبغي أن تتناولها بالضرورة - ومن هذه البراهين يمكن أن نعرف المسافة الشاسعة جدا التي تفصل بين الله والإنسان بين العبد والرب، بين الذي يخدم وذاك الذي تقدم له الخدمة، بين الذي يتقدم كخادم والذي يضئ ساطعا بالكرامة الإلهية. والآن ما هو البرهان</p>
<p>أولا: يقول المعمدان: &#8220;أنا أعمدگم بماء، ولكن ياتي بعدي من هوأقوى منى الذي لست مستحقا أن انحني وأحل سيور حذائه .</p>
<p>وكما قلت فإن الاختلاف لا يمكن مقارنته، والعلو لا يمكن قياسه، وذلك لأن المعمدان المبارك، وهو عظيم جدا في الفضيلة يعلن أنه غير مستحق حتى أن يلمس حذاءه.</p>
<p>إن إعلان المعمدان هذا هو حق وصدق، لأنه إن كانت القوات العقلية في السماء: الرئاسات والعروش، والربوبيات، والسيرافيم المقدسين أنفسهم الذين يقفون حول العرش الإلهي وهم رتبة الخدام كل هؤلاء يباركونه بتسابيح بلا انقطاع کرب الكل، فهل يستحق ساكن الأرض حتى أن يقترب من الله؟ فرغم أنه يحب الإنسان وهو حليم لطيف لكن ينبغي أن نعترف بضعف طبيعتنا.</p>
<p>وبعد هذا يقدم المعمدان برهانا ثاتيا قائلا أنا أعمدكم بماء، أما هو فسيعمدكم بالروح القدس ونار.</p>
<p>وهذا أيضا له أهمية عظيمة لكي يبرهن ويوضح أن يسوع هو الله والرب. لأن هذه هي الخاصية الوحيدة والمميزة للجوهر الذي يفوق الكل&#8221;، وهي أن يكون في استطاعته أن يمنح للناس سکنی الروح القدس، ويجعل أولئك الذين يقتربون منه شركاء للطبيعة الإلهية.</p>
<p>وهذه الخاصية موجودة في المسيح لا كشيء اكتسبه أو انتقل إليه من أخر، بل كخاصيته التي يملكها وهي التي تخص جوهره وهي أن يعمد بالروح القدس. إذا فالكلمة، الذي صار إنسانا يتضح انه الله ومن جوهر الأب، ولكن ربما يعترض على هذا (التعليم) أولتك الذين يقسمون المسيح الواحد الي ابنين، وأنا أعني بهم أولئك الذين يقول عنهم الكتاب؛ انهم    نفسانيون، ومعتزلون، ولا روح لهم&#8221; (يه ١ : ١٩)، فيعترضون بالقول إن الذي يعمد بالروح هو كلمة الله وليس هو الذي من نسل داود. فأي جواب نقدم على هذا؟ نعم! ونحن أيضا نؤكد، بدون أن نخاف اي تناقض، أن الكلمة لكونه اله يعطي من ملئه الروح القدس لأولئك الذين يستحقونه، ولكنه لا يزال يفعل هذا حتى حينما صار إنسانا، لكونه الابن الوحيد مع الجسد المتحد به بطريقة تعلو على الفحص وتفوق الفهم. ولذلك فان المعمدان المبارك بعد أن قال أولأ &#8221; لست مستحقا أن انحني وأحل سيور حذائه،</p>
<p>أضاف بعدها مباشرة هو سيعمدكم بالروح القدس ونار&#8221;، وهو هنا يستعمل لفظ الحذاء ليعني به القدمين، لأن ليس أحد له عقل يقظ يمكن أن يقول إن الكلمة حينما كان بدون جسد ولم يكن قد صار مثلنا بعد يمكن أن يكون له قدمان وحذاء، ولكن صار له هذا فقط حينما صار إنسانا، لكنه استمر إلها كما هو. وحينما صار في الجسد عمل الأعمال اللائقة باللاهوت وذلك بان اعطى الروح لأولنك الذين يؤمنون به لأنه هو نفسه بشخصه الواحد هو إله وإنسان في نفس الوقت.</p>
<p>لكنه يعترض &#8220;قائلا: أن الكلمة عمل أعمال اللاهوت بواسطة ذلك الذي هو من نسل داود. فإن كنت تجادل هكذا فنحن سنرد عليك بكلمات يوحنا نفسه لأنه قال لليهود: &#8220;يأتي بعدي رجل صار قدامي لأنه كان قبلي وأنا لم أكن أعرفه، لكن الذي أرسلني لأعمد بالماء ذاك قال لي، الذي ترى الروح نازلا ومستقرا عليه فهذا هو الذي يعمد بالروح القدس، وأنا قد رأيت وشهدت ان هذا هو ابن الله&#8221;(يو ١ : ٣٠ - ٣٤).</p>
<p>انظروا إذا كيف يدعوه إنسانا بكل وضوح اذ يقول: &#8220;رجل قدامي&#8221; وانه كان قبله لأنه بكل وضوح يسبقه بطبيعته الإلهية والتي بمقتضاها أيضا قال هو نفسه بكل وضوح لليهود &#8220;الحق أقول لكم قبل أن يكون ابراهيم انا كائن (لو ٨: ٥٨).</p>
<p>ثم يقول يوحنا أيضا أن الروح اتي عليه من السماء، فهل هم يدعون أن الروح اتى على كلمة الله حينما كان مجردا وبدون جسد؟ وهل يعتبرون الذي يعطي الروح (أي كلمة الله)، انه يحصل على روحه الخاص؟ أم بالحري فان المعنى انه قد حصل على الروح في طبيعته البشرية، وانه في طبيعته الإلهية يعمد بالروح القدس؟ لأنه هو نفسه فريد ووحيد وحده، وهو بالحقيقة أبن الله الأب كما شهد عنه المعمدان المبارك متعلما من الله وقائلا: &#8220;وأنا قد رأيت وشهدت أن هذا هو ابن الله.</p>
<p>وهل تريدون برهانا ثالثا، بالإضافة إلى ما سبق؟ انظروا انه يقول: &#8220;رفشه في بیده ويجمع القمح الى المخزن واما التبن، فيحرقه بنار لا تطفاء، لأنه يقارن أولئك الذين على الأرض بسنابل القمح أو بالحري بيبدر الدراسة والقمح الذي فيه. لأن كل واحد منا ينمو مثل سنبلة القمح. والرب حينما كان يكلم الرسل القديسين عمل مقارنة مماثلة عن حالتنا،</p>
<p></p>
<p>إذ قال: &#8220;الحصاد کثير ولكن الفعله قليلون فاطلبوا من رب الحصاد أن يرسل فعلة الي حصاده (لو ١٠: ٢) لذلك فنحن الذين على الأرض ندعی سنابل قمح ونسمى بالحصاد، وهذا الحصاد هو ملك لله فوق الكل لأنه هو رب الكل. ولكن انظروا فان المعمدان المبارك يقول ان البيدر يخص المسيح إذ هو ملك له، ولذلك فهو الذي ينقيه إذ يزيل ويفصل التبن من القمح لأن القمح يشير إلى الأبرار الذين لهم ايمان ثابت وراسخ، أما التبن فيشير إلى ضعاف الفكر والذين يغوى قلبهم بسهولة. وهم خائفون وجبناء ويحملون بأي ريح،</p>
<p>ويقول ان القمح حينئذ يجمع في المخزن أي يحسب مستحقا للأمان في يد الله ومستحقا للرحمة والحماية والحب، أما التبن فيحرق في النار كمادة لا نفع لها.</p>
<p>لذلك فبكل طريقة يمكن أن نلاحظ ونعرف أن الله، حتى حينما صار إنسانا فإنه مع ذلك استمر كما هو ابنا واحدا لأنه يمارس الأعمال التي تخص اللاهوت، اذ هو يملك جلال ومجد اللاهوت بغير انفصال. فإن كنا نؤمن هكذا فسيكللنا بنعمته، الذي به وله مع الله الأب المجد والسلطان مع الروح القدس إلى الدهر الدهور آمين<a href="#_ftn2" name="_ftnref2">[2]</a>.</p>
<h4>القديس يوحنا ذهبي الفم</h4>
<p>معني حمل الله وأولاد إبراهيم عند القديس يوحنا ذهبي الفم</p>
<p>&#8221; وحين رأي كثيرين من الفريسيين والصدوقيين يأتون الي معموديته قال لهم يا أولاد الآفاعي من اراكم ان تهربوا من الغضب الآتي &#8220;.</p>
<p>لقد خرجوا إليه في رياء ، دون أن يؤمنوا به … إنهم أرسلوا إليه يسألونه : من أنت ؟… وحين سألهم المسيح معمودية يوحنا من أين كانت ؟ … قالوا في أنفسهم : لو قلنا من السماء فيقول : فلماذا لم تؤمنوا به ؟ … وقالوا ليوحنا : فلماذا تعمد ما دمت لست أنت المسيح ؟</p>
<p>أولاد إبراهيم</p>
<p>لذلك أراد أن يكسر كبريائهم بهذا القول &#8221; لا تفتكروا أن تقولوا في أنفسكم لنا إبراهيم أباً ، بل الله قادر أن يقيم من هذه الحجارة أولاداً لإبراهيم &#8221; ، ثم هددهم بالغضب الآتي.</p>
<p>ولماذا قال عنهم &#8221; يا أولاد الأفاعي &#8220;؟ لأنه يقال أن الأفعل تقتل أمها الحامل ، وتقتل الجنين الذي سيولد حتي لا يري النور !! والفريسيين قيل عنهم أنهم قاتلوا الأباء والأمهات &#8221; .</p>
<p>ثم نصحهم قائلاً &#8221; إصنعوا أثماراً تليق بالتوبة &#8221; . لأنه لابد أن تكون هناك فضيلة ، والذي عنده فضيلة يجب أن يتقدم فيها ولا يمكث في مكانه .</p>
<p>&#8221; الله القادر أن يقيم من هذه الحجارة أولاداً لإبراهيم &#8221; … البعض يقولون أن الحجارة هي الأمم ، ولكن أقول معني آخر هو أنه لا تظنوا أنكم إذاً هلكتم فلن يوجد هناك أبناء لإبراهيم ، بل الله قادر أن يخلق أولاداً من العدم لإبراهيم ، كما فعل في بدء الخليقة إنه حين ينجب القلب القاسي أولاداً لإبراهيم فقد أنجبت القلوب الحجرية أولاداً لله بالفعل !!</p>
<p>أنظروا لإبراهيم أبيكم الذي أنجب بعد موت أبنائه … إن هناك شيئاً أعظم من إنجاب أولاد لإبراهيم عن هذه الحجارة … وهو أن تكونوا أنتم أولاد إبراهيم …</p>
<p>والبعض يري أن في هذه نبوة عن قبول بني إسرائيل الإيمان ، فهم ذوو القلوب المتحجرة … سيكون منهم أولاداً لإبراهيم في نهاية العالم … وهكذا نجده ينتزعهم من الإفتخار الجسدي ، إلي الإعتماد علي الإيمان .</p>
<p>&#8221; والآن قد وضعت الفأس علي رأس الشجرة &#8221;</p>
<p>هنا يهددهم بقطعهم من أصل شجرة إبراهيم ، إذا لم يؤمنوا … فأس حاد مستعد للقطع … إنه تهديد مزعج ، وأسلوب مخيف يستحقونه … إن الفأس قد وضع علي أصل الشجرة ، وليس علي الفروع ، ولا الثمار ، بل علي الجذر … لأن الآتي ليس هو نبياً ، ولا خادماً ،وإنما هو ملاك الطهر … هو الرب نفسه !!</p>
<p>ومرة ثانية يعطيهم أملاً في الخلاص ، كما قال لهم : إن الله قادر أن يقيم من هذه الحجارة أولاداً لإبراهيم …</p>
<p>يقول لهم ثانية &#8221; إن الفأس قد وضعت &#8221; … لم تمس الجذور بعد ولكن الوقت منذ الأن مقصر … إنه لم يبدأ في القطع ، ولكنه جعل القطع متوقفاً عليكم أنتم ، فلو تبتم فإن الفأس سيترككم دون أن يفعل شيئاً ، أماإذا لم تتوبوا فإن الفأس سيعمل ، ويقطع الشجرة من جذورها !!</p>
<p>هناك إنذار مخيف ، مع رجاء وأمل …</p>
<p>&#8221; فكل شجرة لا تثمر ثمراً جيداً ، تقطع وتلقي في النار &#8220;… كلمة &#8220;فكل &#8221; هذه تعطي الأمل الكبير في الخلاص ، وتعطي رجاء في التوبة … فإن كنتم حقاً أولاد إبراهيم ، وإن لكم حقاً آلاف من الآباء والبطاركة ، فستنالون عقاباً مضاعفاً إن لم تثمروا…</p>
<p>وقد يسأل سائل قائلاً : كيف للشجرة أن تثمر بسرعة هكذا بينما الفأس موضوعات عليها ؟</p>
<p>إن هذه الشجرة ليست كباقي الأشجار مقيدة بالفصول والأزمنة والحرارة والمياة ، بل أنها تقدر أن تثمر فوراً بمجرد المشيئة والإرادة !!</p>
<p>حمل الله</p>
<p>&#8221; أنا أعمد بالماء ، ولكن في وسطكم قائم ، الذي سيعمد بالروح القدس ونار ، الذي لست مستحقاً أن أحل سيور حذائه ، &#8221; حقاً لقد أتي بعدي ، ولكنه كان قبلي ، وهو أعظم مني بما لا يقاس !!</p>
<p>&#8220;هوذا حمل الله الذي يرفع خطية العالم &#8221;</p>
<p>رغم أنني أحذركم من الفأس الموضوع علي أصل الشجرة ، والنار الذي ستوضع فيه الأشجار غير المثمرة ، إلا أني أبشركم بحمل الله الوديع الذي يرفع خطية العالم …</p>
<p>ولكن لا تستهين بذلك الحمل الوديع ، ولكن إعلم &#8221; أن رفشه في يده ، وسينقي بيدره ، أما التبن فيحرقه بنار لا تطفأ &#8221; لأنه كيف ننجو نحن إن أهملنا خلاصاً هذا مقداره ؟ سوف يحرق عدم الطاعة والتمرد …</p>
<p>ليتنا لا نكن تبناً ، بل لنكن قمحاً ، ولنستمر قمحاً … ولكن إن كنت قمحاً ، فإعلم أنك ستتعرض للتجربة ، فهو سينقي بيدره ، وسنتعرض للضيق والألم والعواصف حتي نثبت … إننا قمح بالحقيقة ، فيجب ألا نكون تبناً ، لئلا نتعرض للحريق بنار لا تطفأ !!</p>
<p>ولم يصف حمل الله بأي صفة غير &#8221; أنه هو الذي سيرفع خطية العالم &#8221; … لم يتكل علي معجزاته التي سيصنعها ، ولا عن قيامة الأموات ، ولا عن أمجاد السماء ، ولا عن أي شيء آخر ، لأن كل هذه البركات هي مذكرة لنا حين ترفع عنا خطايانا …</p>
<p>ليتنا نكون حكماء ونحن في الجرن ، لأن الفرصة مازالت أمامنا لنتحول عن كوننا تبناً إلي قمح … ليتنا لا نحمل بأي ريح مثل التبن … لا نرتفع كالتبن ، لئلا نتبعثر في الهواء ، بل كن متضعاً ثقيلاً مثل القمح ، حتي تظل في الجرن … كن صلباً ثابتاً<a href="#_ftn3" name="_ftnref3">[3]</a> …</p>
<h4>القديس هيبوليتس: الظهور الإلهى</h4>
<p>لست أهلا أن أحل سيور حذائه :</p>
<p>نحن الذين تعرف التدبير نسجد لرحمته لأنه أتانا ليخلصنا لا ليديننا، لذلك فإن يوحنا، السابق للرب، والذي لم يكن يعرف السر بعد، ما أن أدرك أنه الرب حتى صاح للآتين طالبين المعمودية: يا أولاد الأفاعي&#8221; لماذا تتفرسون في؟ &#8220;أنا لست المسيح. &#8220;أنا الخادم ولست السيد. أنا العبد ولست الملك. أنا خروف من القطيع ولست الراعي. أنا إنسان ولست الله. أنا من تحت ولست من فوق. أنا غير مستحق وأقل من القليل. لكن &#8220;سيأتي بعدي من هو قبلي&#8221;، هو بعدى بحسب الزمن، ولكنه قبلي بحسب ضياء لاهوته غير المدرك ولا المنطوق به. &#8220;هو سيعمدكم بالروح القدس ونار&#8221;. أما تحت سلطان أناهوفصاحب السلطان. أنا مقيد بالخطايا ولكنه غافر الخطايا. أنا أعيش بالناموس، أما هو فسيخرج النعمة إلى النور. أنا أعلم كإنسان. وهو يحكم كديان. أنا أعمد بمعمودية التوبة أما هو فيمنح نعمة التبني. فلماذا تحملقون في؟ أنا لست المسيح.</p>
<p>يليق بنا أن نكمل كل بر :</p>
<p>وبينما يوحنا يتكلم بهذه الأقوال وجموع الشعب يترقبون في لهفة أن يروا شيئا مذهلا بعيونهم، والشيطان مصعوق من شهادة يوحنا هذه، إذا بالرب يظهر بسيطاً عارياً وحيداً، عليه جسد البشرية كأنه لباس يخفى مجد الألوهية حتى يفضح فخاخ التنين. لم يأت إلى يوحنا كملك تخلى عن أبهته بل كإنسان بسيط محاط بالخطية، حانيا رأسه تحت يد يوحنا ليعمده. فما رأه يوحنا في شدة تواضعه ذهل المفاجأة وابتدأ يتمنع : &#8220;أنا محتاج أن أعتمد منك وأنت تأتى إلى&#8221;؟ عمدني بنار لاهوتك. اذا تنتظر الماء؟ أنر على بروحك، اذا تنتظر مخلوقا؟ عمدني بالمعمودية التى تظهرك&#8230; &#8220;أنا محتاج أن أعتمد منك وأنت تأتى إلى؟!&#8221; فماذا أجاب السيد؟ &#8220;اسمح الآن يا يوحنا. أنت لست أحكم مني. أنت تنظر كإنسان وأنا أرتئى كإله. هل تتعجب يا يوحنا أنني لم آت في مجدى؟ رداء الملوك القرمزي لا يناسب المواقف الخاصة. أنا مكمل الناموس وأطلب ألا ينقص منه شئ حتى يمكن لبولس تلميذي أن يعلن بعدي &#8220;لأن غاية الناموس هي المسيح للبر لكل من يؤمن&#8221;. عمدنی یا یوحنا حتى لا يحتقر أحد المعمودية أنا أعتمد بواسطتك حتى لا يتأفف أحد من الملوك أو الرؤساء حينما يعمده كاهن بسيط. اسمح لي أن أنزل مياه الأردن حتى يسمعوا شهادة أبي فيعلموا قوة الابن.</p>
<p>وإذا السموات قد انفتحت له :</p>
<p>وأخيراً سمح يوحنا. &#8220;فلما اعتمد يسوع صعد للوقت من الماء. وإذا السموات قد انفتحت له&#8221;. أترون إذن أيها الأحباء كم ستكون الخسارة فادحة لو أن الرب خضع لكلام يوحنا وتنحى عن المعمودية؟ لأن السماء كانت مغلقة من قبل. كان علينا أن نهبط إلى أسفل وألا نصعد إلى فوق. إن الرب لم يعتمد فقط لكنه أيضاً جدد الإنسان العتيق وأعاد إليه صولجان البنوة. فلأن السموات قد انفتحت له فقد تمت المصالحة بين المنظور وغير المنظور، وامتلأت الرتب السمائية بالفرح وتم شفاء مرض الأرض، والأسرار استعلنت والذين في عداوة أعيدوا إلى المحبة.</p>
<p>&#8220;هذا هو ابنى الحبيب.</p>
<p>الحبيب يلد المحبة. والنور غير الهيولي يلد النور الذي لا يدني منه. &#8220;ابنى الحبيب&#8221; الذي ظهر على الأرض لم يفترق من حضن الآب وبحسب الظاهر، الذي يعمد أعظم من الذي يعتمد. لأجل هذا أرسل الأب الروح القدس على ذاك الذي يتعمد. وكما كان في فلك نوح أن الله أظهر محبته للإنسان في رمز الحمامة، هكذا أيضاً الروح في نزوله بهيئة حمامة كما لو كانت حاملة غصن زيتون استقرت هلي من له الشهادة، لأي سبب ؟ حتى يعرف صدق صوت الآب، ويتحقق النطق النبوي الذي قيل من زمن &#8220;صوت الرب على المياه. إله المجد أرعد. الرب على المياه الكثيرة وما هو صوت الرب هنا؟ &#8220;هذا هو ابني الحبيب الذي به سررت&#8221;. الذي يجوع مع أنه يقوت ربوات، المتعب الذي يريح التعابي، &#8220;الذي ليس له أين يسند رأسه&#8221; وهو حامل كل الأشياء في يده، الذي يتألم مع الأوجاع، مضروب كعبد وهو واهب الحرية للعالم، مطعون في جنبه وهو الذي شفی جنب آدم.</p>
<p>يعمد بالروح القدس ونار</p>
<p>هذا هو الروح الذي من البدء &#8220;كان يرف على وجه المياه&#8221;، والذي يتحرك به العالم وتكونت به الخلائق والذي عمل بقوة في الأنبياء، نزل على المسيح بهيئة حمامة وحل على الرسل بهيئة ألسنة نار. هذا هو الروح الذي التمسه داود النبي قائلاً : قلبا نقيا اخلق في يا الله، وروحا مستقيماً جدد في أحشائي. عن هذا الروح عينه تكلم جبرائيل الملاك مع العذراء : &#8220;الروح القدس يحل عليك، وقوة العلي تظلك&#8221;. بهذا الروح نطق بطرس الرسول مقولته المباركة : &#8220;أنت هو المسيح ابن الله الحي&#8221;. على هذا الروح تأسست صخرة الكنيسة. هذا هو الروح المعزي الذي أرسل لأجلك لكي يعلن لك أنك ابن الله<a href="#_ftn4" name="_ftnref4">[4]</a>.</p>
<h4>القديس غريغوريوس النيسي</h4>
<p>عماد السيد المسيح ومعموديتنا</p>
<p>نقدم في هذا المقال تحليلاً لعظة مطولة للقديس غريغوريوس ألقاها في عيد الغطاس ونشرت في مجموعة آباء ما بعد نيقية بعنوان &#8220;عظة عن عيد الأنوار&#8221;. موضوع العظة كما يظهر من عنوانها- هو معمودية الرب يسوع من يوحنا المعمدان إلا أنها في أغلب فقراتها تتحدث عن الثمار الخلاصية للمعمودية كنتيجة مباشرة لاعتماد الرب في نهر الأردن.</p>
<p>+ اعتمد يسوع كي يطهر الإنسانية الساقطة وليعيد إليها سكنى الروح القدس يربط القديس غريغوريوس بوضوح في عظته بين معمودية السيد المسيح وبين سر المعمودية في الكنيسة. فيسوع قد تقدم إلى يوحنا كي يعتمد منه وهو لم يكن محتاجا إلى المعمودية، وأحني رأسه كي ينزل عليه الروح القدس وهو لم يكن محتاجاً إلى أن يستقر عليه الروح. نحن كنا محتاجين إلى الولادة الجديدة التي تطهر الإنسان وتجدده وتهبه الطبيعة الجديدة التي تصلح أن تكون مسكناً للروح القدس. نحن كنا غرباء عن الروح القدس وفي حالة خصام معه لأن طبيعتنا كانت مظلمة ولا شركة للظلام مع روح القداسة لذلك رتب كلمة الله – وهو أساساً واحد مع الروح القدس في الجوهر – أن يتجسد ويعتمد من يوحنا وينزل عليه الروح القدس من أجلنا نحن وهذا الفعل الخلاصي يهبه لكل من يعتمد باسمه.</p>
<p>[ الوقت قد عاد وحمل معه تذكار الأسرار المقدسة التي تطهر الإنسان. تلك الأسرار التي تغسل النفس والجسد من الخطية وتعيدنا إلى حالتنا الأولى التي خلقنا الله بها].. [ اليوم اعتمد (يسوع) من يوحنا كي يطهر ذلك الذي سقط وكي يسكب الروح القدس من السماء ويرفع الإنسان إلى الفردوس ويخزى الذي أسقطه ] .</p>
<p>+ التجديد هو الثمرة الأولى للمعمودية : اهتم القديس غريغوريوس &#8220;بتجديد الطبيعة الإنسانية&#8221; الذي يحدث في المعمودية فخصص له أغلب فقرات عظته.</p>
<p>يمكن تلخيص مفهوم التجديد في المعمودية عند غريغوريوس في خمس نقاط :</p>
<p>١- التجديد هو عمل إلهي لكنه كأي عطية يحتاج منا أن نخدمها وأن نظهرها في سلوكنا</p>
<p>٢- التجديد تحرير ومغفرة واستنارة</p>
<p>٣- التجديد يحدث على مستوى النفس في الإنسان الداخلي</p>
<p>٤- التجديد بالمعمودية تنبأ عنه العهد القديم</p>
<p>التجديد هو عمل إلهى لكنه كأى عطية تحتاج منا أن نخدمها وأن نظهر ها في سلوكنا بأعمال البر ٥-</p>
<p>[ المعمودية إذن هي تطهير من الخطايا ومغفرة للزلات وتجديد للإنسان. نفهم التجديد على مستوى النفس (الإنسان الداخلي) وليس على مستوى الشكل الخارجي. فالشيخ لن يعود كما ظن نيقوديموس بفهمه الخاطئ - ويصبح طفلاً صغيراً ولن ترجع التجاعيد والشعر الأبيض إلى نضارة الشباب. لكن ذلك الذي يحمل ندوبات الخطية (جروح الخطية وآثارها داخل النفس) والذي شاخ في العادات الشريرة يعود بالنعمة الإلهية إلى طهارة الأطفال. كما أن الطفل المولود يكون بلا لوم وبلا عقاب هكذا يكون طفل التجديد (الإنسان من بعد المعمودية) بلا لوم لأنه قد تحرر بالهبة الإلهية من العقاب. هذه الهبة لا يعطيها الماء لكن ننالها بالأمر الإلهي وبحلول الروح القدس الذي يحدث سرياً كي يحررنا] . فكما أن الطفل المولود لا تحركه الأهواء أو الشهوات هكذا تكون الطبيعة الجديدة التي نأخذها في المعمودية حرة نقية لا تحركها الخطية إلا حين نخضع نحن للخطية بإرادتنا. وكما أن الطفل المولود يكون نقياً وبسيطاً في مشاعره وأفكاره نكون نحن كذلك أنقياء حين نخرج من المعمودية.</p>
<p></p>
<p>ويوضح القديس غريغوريوس أن ماء المعمودية يظل في شكله الخارجي ماء عادياً لكنه يتحول إلى أداة ومجال للتجديد بفعل انسكاب الروح القدس عليه. [ يظل ماء المعمودية مجرد ماء (في الظاهر) لكنه يجدد الإنسان ويحوله إلى مخلوق سمائي حين تكلله النعمة الإلهية من فوق ] فالماء لا يتغير عن طبيعته في الظاهر ولكن حين يحل عليه الروح القدس يصبح مجالاً لنوال الهبة الإلهية فيجدد ويحرر وينير النفس [ ماء المعمودية يطهر وينير الإنسان ] . يطرح القديس غريغوريوس سؤالا &#8220;كيف يحدث هذا التغيير؟ &#8221; ويجاوب بأن الأسرار الإلهية تفوق العقل وتتفوق على المنطق لذلك لا يجب أن نخضعها للعقل والفهم البشري. [ إن قدرة الله وأعماله لا يمكن إخضاعها للفهم أو لقواعد وقوانين الطبيعة. كل ما يريده الله يفعله ويظل خافياً علينا كيف أتم ذلك. كما يقول المزمور &#8220;ما أعظم أعمالك يا رب كلها بحكمة صنعت&#8221;( مز١٠٤: ٢٤) ]</p>
<p>+ نبوات العهد القديم عن المعمودية : رأى غريغوريوس في العهد القديم العديد من النبوات التي أشارت إلى المعمودية. فحين طردت هاجر مع ابنها إسماعيل، قارب إسماعيل من الموت عطشاً في برية بئر سبع لكن تحنن الله عليهما وأرسل ملاكاً لهما إلى بئر ماء كانت بمثابة مصدر الحياة لإسماعيل (تك٢١). لولا بئر الماء لمات إسماعيل عطشاً فالماء عملياً خلص إسماعيل من الموت. هكذا ماء المعمودية يخلص الإنسان من الموت الروحي ويجدده ويهبه الحياة الأبدية.</p>
<p>ومرة ثانية يرى قديسنا في لقاء يعقوب وراحيل عند البئر إشارة إلى المعمودية. فالبئر كان مغطى بحجر موضوع فوقه وحين دحرج الحجر أصبح الماء متاحاً، وهذا الأمر ظل للأمور العتيدة التي حدثت بعد ذلك. من هو الحجر إلا المسيح نفسه. لأنه عنه تنبأ إشعياء قائلاً &#8220;هأنذا أؤسس في صهيون حجراً. حجر امتحان حجر زاوية كريماً أساساً مؤسساً&#8221; (إش١٦:٢٨)، تنبأ دانيال أيضاً قائلاً &#8220;قطع حجر من جبل بلا يدين&#8221; (د٣٤:٢١). هذا هو يسوع المسيح الذي ولد بدون زرع بشر. إنه شيء مدهش أن حجراً يقطع من صخرة بدون فأس. هذا شئ يفوق كل عقل أن طفلاً مولوداً يظهر من عذراء غير متزوجة. فوق البئر كان هناك صخرة روحية، المسيح، مخفياً في الأعماق، سر التجديد الذي احتاج لأجيال حتى نكتشفه .</p>
<p>من الصخرة الروحية شربنا شراباً روحياً أي انسكب علينا الروح القدس. ويرى في حياة موسى النبي إشارتين إلى المعمودية . حين كان موسى طفلاً كان معرضاً للموت على يد فرعون الذي أمر بقتل أطفال العبرانيين لكن أم  فرعون وضعته في الماء (النهر) فأنقذت حياته. فالماء كان الوسيلة التي من خلالها أنقذت حياة موسى تماماً مثل المعمودية التي تفتح لنا باب الحياة الأبدية. ومرة ثانية يرى في عبور البحر الأحمر إشارة واضحة إلى المعمودية. تلك الإشارة التي أكدها وأوضحها بولس الرسول قائلاً بالإيمان اجتازوا في البحر الأحمر كما في اليابسة الأمر الذي لما شرع فيه المصريون غرقوا&#8221; (عب۱۱: ۹).</p>
<p>السلوك في البر يخدم الموهبة +</p>
<p>يؤكد القديس غريغوريوس أنه رغم أن الموهبة داخلية ورغم أن التجديد الذي نناله يحدث في أعماق الإنسان الداخلية إلا أنه يظهر في السلوك والحديث وينعكس على المشاعر والأفكار. [ أنتم الذين نلتم هبة التجديد، اخدموا الموهبة التي نلتموها بالنعمة في السر. اظهروا في أحاديثكم التغيير الذي تحقق بتحولكم إلى الأفضل. اظهروا الإنسان الجديد كي توضحواالتغيير من القديم (الحياة القديمة في الخطية) إلى الجديد (الإنسان الجديد في المسيح) وهذا يظهر بكل وضوح في حركات النفس الداخلية التي تفصل نفسها عن الحياة العتيقة السابقة وتدخل في جدة الحياة لتظهر الفرق بين القديم والجديد ] . إذن فعطية التجديد تظهر في حياتنا وسلوكنا ومشاعرنا حين نسلك بالبر في المسيح. كل امكانيات الحياة الجديدة نأخذها في المعمودية لكنها تعلن في حياتنا وتنعكس على أفكارنا حين نتمسك بالوصية وحين نجاهد كي نعيش الحياة المسيحية الحقيقية. [ الإنسان القديم شهواني ، يشتهي ما لغيره ، يتعلق بمقتنيات الآخرين، كاذب وصلف، هذا الإنسان يصبح بالمعمودية طاهراً، ملتزماً، مكتفياً بما عنده، معطاء للمحتاجين. هذا الإنسان (الجديد) تظهر في حياته كل طريقة حسنة. لأنه كما أن الظلام يطرد بالنور واللون الأسود يختفي حين ينتشر الأبيض فوقه هكذا الإنسان العتيق يختفي بأعمال البر ]. إذن أعمال البر تخدم الموهبة وتوقظ فينا إمكانيات الإنسان الجديد.</p>
<p>[ لن يخجل آدم بعد اليوم حين يناديه (الرب) ولن يختبئ مدانا بضميره متوارياً في كثافة الجنة. السيف اللهيب الذي يحرس طريق شجرة الحياة لم يعد موجوداً. الكل تحول إلى فرح من أجلنا نحن الذين ورثنا الفساد. الفردوس نفسه يفرح بالإنسان. السماء والأرض اللتان كانتا في حالة خصام، اليوم تصالحا. أعطى لنا أن نشارك الملائكة ترانيمهم مقدمين المجد لله. لكل هذه الهبات علينا أن نرنم فرحين قائلين &#8220;أما نفسي فتفرح بالرب وتبتهج بخلاصه&#8221;. فقد ألبسني رداء الخلاص ووضع على ثوب الفرح. كعريس وضع تاجا على رأسي وكعروس جملني بأبهى منظر<a href="#_ftn5" name="_ftnref5">[5]</a>].</p>
<h3>عظات آباء وخدام معاصرين</h3>
<h4>المتنيح الأنبا أثناسيوس مطران بني سويف والبهنسا</h4>
<p>يوحنا المعمدان : (مت ٣ : ١ - ۱۲)</p>
<p>+ احتقر يوحنا نعيم الدنيا ، ولبس مسحا خشنا من وبر الابل وسكن البرية القاسية ، وتمنطق بمنطقة المجاهدين مثل ايليا (٢مل ١ : ٨) وبولس (أع ۲۱ : ۱۱) ، وأكل طعاما بسيطا ذكر الكتاب أنه جراد وعسل بري : وقد قال الصليبي أن الجراد الذي كان يأكله ثمرة لشجرة خاصة بينها وبين الجراد تشابه في الشكل ، أو هو نبات يشبه الجزر . وقال ذهبي الفم أنه الخرنوب وعلى أي حال كان المعمدان مثالا ضخما في النسك وضبط النفس ، ولذا قال عنه رب المجد &#8221; ماذا خرجتم الى البرية لتنظروا ، أأنسانا لابسا ثيابا ناعمة ، هوذا الذين يلبسون الثياب الناعمة في بيوت الملوك .. جاء يوحنا لا يأكل ولايشرب ( أي يأكل ويشرب قليلا ) (مت ۱۱ :٨ ، ١٨).</p>
<p>وان كان هذا القدر من النسك ميسورا للقلة الا أن البساطة في الملبس والمأكل والمسكن ، والتخشن والعفة وضبط النفس في عموم أمور الحياة ، مباديء يلزم كل انسان أن يتصف بها . فالتنعم يزيل مخافة الله من القلب &#8220;وأما المتنعمة فقد ماتت وهی حية &#8221; (١تي ٥: ٦)</p>
<p>أما الذين يتقدمون لخدمة الرب ، فليكونوا متدربين على ضبط النفس والبساطة ، لأن الرخاوة لا تناسب خدمة النعمة كما قال القديس أوغسطينوس &#8221; من لم يكن متوحدا صالحا لا يكون اكليريكيا صالحا &#8221; ( الرسالة ٧٦ ) ، أي من لم يكن عابدا ضابطا لنفسه ، لا يصلح للخدمة .</p>
<p>وكان يوحنا أمينا جدا في أداء الرسالة ، فكان يوجه الأنظار بوداعه الى السيد المسيح &#8220;..الذي يأتي بعدی ، هو أقوى منى الذي لست أهلا أن أحمل حذاءه ،هو سيعمدكم بالروح القدس ونار » (مت ٣ : ١١) . ولما سجن ، ووجد أن بعض تلاميذه مازالوا بعيدين عن الرب يسوع ، أرسلهم اليه بسؤال ، لكى يعطيهم فرصة أن ينفصلوا عنه ويلتصقوا بالرب . (مت ۱۱: ۱- ٦) . ولم يطلب من أحد أن يقف معه في ساعاته الأخيرة •</p>
<p>وبجانب هذا التوجيه المباشر للسامعين نحو الرب يسوع فان الجو العام لخدمة المعمدان قد اتفق مع الجو العام لخدمة الرب يسوع بطريقة عجيبة ، ومهد أيضا لقبول دعوة رب المجد . فكان يستعمل عبارات والفاظا استعملها السيد المسيح ، فهو يقول &#8221; توبوا لأنه قد اقترب ملكوت السموات &#8221; (مت ٣ : ٢) ، والسيد المسيح يستعمل ذات العبارة حين يخدم (مت ٤ : ۱۷) ، ويدعو تلاميذه لاستعمالها (مت ١٠ : ١٧). ويوحنا يؤنب الفريسيين والصدوقيين قائلا &#8221; يا أولاد الأفاعي &#8221; والسيد يقولها أكثر من مرة (مت ۱۲ : ٣٤ ، ۲۳ : ۳۳) . ويوحنا يقول &#8221; لا تفتكروا أن تقولوا في أنفسكم لنا ابراهيم أبا &#8221; ٣ : ٩ ، ويقولها الرب في (يو ۸ : ۳۳ : ۳۹) ، وهو يقول &#8221; وضعت الفأس على أصل الشجر فكل شجرة لا تصنع ثمرا جيدا تقطع وتلقي في النار &#8221; (مت ٣ : ١٠) ورب المجد يقولها في (مت ٧: ١٩).</p>
<p>ولا ننسى أن المعمدان لم يشتهر بأمور خارقة للعادة ، فلم نسمع عن معجزة عملها أو رؤيا رآها ، وليس له سفر سطره بروح النبوة ولكنه عاش أمينا لألهة في حدود البساطة . ومع هذا قال عنه رب المجد أنه &#8221; لم يقم بين المولودين من النساء أعظم منه &#8221; (مت ۱۱ : ١١).فليكن هذا عزاء المؤمن ، ولا يظنن أحد أن النمو الروحى في الأمور الخارقة مثل الرؤى أو المعجزات التي هي هبات يعطيها الله للبعض لمنفعة الكنيسة ، و على المؤمن &#8221; ألا يرتئي فوق ما ينبغي أن يرتئی ، بل يرتئي الى التعقل &#8221; (رو ۱۲ : ۳) .</p>
<p>وهو مثال للامانة في الحق ، فلم يسكت عن أن يوصل الرسالة ، ولو كلفته قطع رأسه(مت ١٤ : ۱ -۱۲) ۰ ومع بساطة مظهره ، كان كثيرون يخرجون اليه ، ويقبلون رسالته (مت ١٤ : ٥ ، ۲۱ : ٢٦) وهيرودس نفسه كان يعتبره معلما بارا وقديسا (مر ٦ : ۲۰).</p>
<p>معترفين بخطاياهم : (مت ٣ : ٦)</p>
<p>كان الاعتراف معروفا عند اليهود اذ كانوا يقدمون ذبائح عن بعض الخطايا ، ويقرون بخطيتهم أمام الكاهن ، ويضعون أيديهم على راس الذبيحة فتنقل الخطية من عليهم الى الذبيحة (لا ٥ : ٥) ، (عد ٥ : ۷) أما العماد فكان جديدا عليهم ، وكان اعترافهم ليوحنا بدون تقديم ذبائح ، وكان في البرية وليس في الهيكل . فهذا يبين أنهم اعتبروا يوحنا رسولا لمبدأ جديد ، وخرجوا اليه معترفين بخطاياهم .</p>
<p>يا أولاد الأفاعي : (مت ۳ : ۷)</p>
<p>وسمی أشعياء رؤساء الشعب &#8221; قضاة سدوم &#8221; وسمی &#8220;شعب عمورة &#8221; (أش ١ : ١٠) ويوحنا هنا يدعوهم &#8221; أولاد الأفاعي &#8221; وقال ذهبي الفم أن كلام المعمدان هنا كلام تعجب ، وكان هذا التعبير شائعا بمعنى الخيانة للأب والأم . واستعمل السيد المسيح هذا (مت ۱۲ : ٢٤) ، (مت ٢٣ : ٣٣) ويقال أن هناك أفاع تقتل الأنثى الذكر عند الحمل اذ أنه يلقي بمادة التناسل في فمها فتطبق فمها على عضوه فتمزق أحشاءه ، وعند الولادة تنقر الصغار بطن الأم لتخرج ، تموت الأم بعد أن تلد ، فدعا المعمدان أولئك الناس أولاد الأفاعی لأنهم قتلوا آباءهم الانبياء .وأخربوا أمهم أورشليم ، أو جماعة المؤمنين بالشريعة ، وذلك بتنكرهم للشريعة قديما ثم برفضهم الرب يسوع أخيرا، الأمر الذي خربت أورشليم بعده بقليل . وقيل أنه دعاهم أولاد الأفاعي لأنها سامة . وكان أولئك الرؤساء اشرارا ينفثون في الشعب سم تعليمهم الرديء ويضلونه بقيادتهم الشريرة .</p>
<p>سمات التوية الحقيقية : (مت ۳ : ۷ - ۱۲)</p>
<p>ينبه المعمدان الفريسيين والصدوقيين الى التوبة الحقيقية المثمرة بالبر ، حتى لا يظنوا معموديته طقسا ينجي من الغضب المحتم على الأشرار ، ولذا يقول لهم هنا أربعة أمور فيها خلاصهم ، الأول أن تكون توبتهم دائمة ، فتظهر ثمارها اللائقة ( آية ٨ ) ، والثاني الا يتكلوا على بر السالفين فيتولد فيهم الكبرياء والكسل ( آية ٩ ) ، والثالث أنهم قد وصلوا مرحلة فاصلة في العلاقة بالله ، فأما الأيمان بالفادي ونوال الحياة الجديدة ، وأما الرفض من النعمة ، فقد وضعت الفأس على أصل الشجر ( آية ۱۰ ) والسيد موشك أن ينقی بيدره فيجمع القمح ويحرق التبن ( آية ۱۲ ) ، والرابع أن معمودية يوحنا رمز لمعمودية الخلاص التي هي بالروح القدس ( آية ۱۱ ) .</p>
<p>عماد السيد المسيح : (مت ٣ : ١٣ - ۱۷)</p>
<p>تقدم السيد المسيح الى يوحنا لكي يعمده : ولما تمنع يوحنا خاطبة السيد قائلا &#8221; أسمح الآن : لأنه هكذا يليق بنا أن نتمم كل بر &#8221; (مت ٣ : ١٥) وهنا نجد ناحية تواضع متناه من الرب ، ومن ناحية أخرى تثبيت السلطان الديني لأصحابه . فطالما أن العماد حق يوحنا فالسيد يخضع له ، وحري بنا أن نخضع لأصحاب السلطان الكنسي ، فنطلب منهم الحل عن خطايانا بتواضع ، لأنه قال لهم &#8221; كل ما تربطونه على الأرض يكون مريوطا في السماء ، وكل ما تحلونه على الأرض يكون محلولا في السماء &#8221; (مت ۱۸ : ۱۸) .</p>
<p>كانت معمودية يوحنا رمزا لمعمودية الروح القدس ، ولا يمكن أن تحل محلها . كما لا يمكن أن يحل الروح القدس عقب الاعتماد سائر بمعمودية يوحنا . وأن حلوله على الرب يسوع كان علامة لاعلان الشيطان حقيقته الألهية ، ورمزا لما يحدث في معمودية الروح القدس .</p>
<p>حدث أن زار الرسول بولس أفسس فوجد فيها تلاميذ فسألهم الجو&#8221; هل قبلتم الروح القدس لما آمنتم .قالوا له ولا سمعنا أنه يوجد الروح القدس .فقال لهم فبماذا أعتمدتم ، فقالوا بمعمودية يوحنا ..فلما سمعوا اعتمدوا باسم الرب يسوع &#8221; (أع ۱۹ : ۲۔ ٦) فنرى أنهم اعتمدوا باسم الرب يسوع على الرغم من اعتمادهم السابق بمعمودية يوحنا<a href="#_ftn6" name="_ftnref6">[6]</a>.</p>
<h4>المتنيح القمص تادرس البراموسي</h4>
<p>اليوم العاشر من شهر طوبه المبارك</p>
<p>(صوت صارخ في البرية أعدوا طريق الرب اصنعوا سبلة مستقيمة ) (لو ۳ : ۱ - ۱۸)</p>
<p>كانت كلمة الله إلى يوحنا المعمدان في البرية وهذا كان في أيام حان وقيافا رؤساء الكهنة اللذان شهدا على الرب يسوع وصلب في أيامهما ؛ كان يوحنّا يعيش في البرية ونزل من البرية لرسالة ؛ مرسل من الله لتنفيذها وهي إعداد الطريق للرب يسوع حسب قول الكتاب حسب قول الكتاب المقدس أرسل قدامك ملاكي ليعد لك الطريق (خر ۲۳ : ۲۳) ؛ إبتدأ تعاليمه بالقرى المحيطة بالأردن ؛ كان يوحنا يعمد بماء للتوبة لأنه لم يكن صلب يسوع بعد ؛ ولم تكن المعمودية إشارة لموت المسيح ودفئه وقيامته ومحو خطية أبونا آدم التي بها طردنا من الفردوس . وقد تنبأ أشعياء النبي عن يوحنا أنه الصوت الصارخ في البرية وهو المعد لطريق الرب يسوع قائلاً أعدوا طريق الرب إصنعوا سبلة مستقيمة ؛ كل واد يمتلئ ؛ في فلسطين كل الوديان تمتلئ بالمطر حينما تُمطر السماء . وكل جبل وأكمة ينخفض بمعنى أن الرب يذل المتعالين ويقوم المعوجين ويبصر كل بشر خلاص الله كان يوحنا جرئ شجاع لا يهاب إنسان ولا يساوم في كلمة الحق ولا يحابي إنسان على حساب كلمة الله خرج الشعب ليعتمدوا منه ليس بإيمان أو تدين بل هروب من الواقع فقال لهم أيها الحيات أولاد الأفاعي من أراكم أن تهربوا من الغضب الآتي إصنعوا أثماراً تليق بالتوبة (لو ۳ : ۷ – ۸) . كان هؤلاء يفتخروا أن أبوهم إبراهيم وهو بار ومشهود له من الله فأراد أن يعرفهم أن الإعتماد اي علي بنوتهم لإبراهيم لا تخلصهم ، تقولون في أنفسكم أن إبراهيم لنا أبا ، الله قادر أن يقيم من هذه الحجارة أولاداً لإبراهيم فلا تظنوا أن بنوتكم لإبراهيم تورثكم الملكوت ؛ إرجعوا إلى أنفسكم أن الفأس قد وضعت على أصل الشجرة وكل شجرة لا تصنع ثمراً جيداً تقطع وتلقى في النار (لو ۳ : ۸ – ۹) . بهذا الكلام أيقظ قلوبهم فسألوة قائلين ماذا نصنع ؟ وجد يوحنا الفرصة متاحة له أن يتكلم معهم عن التوبة وكيف يشتركوا في إحتياجات الآخرين . قال لهم حسناً تكلمتم من له ثوبان فليعطي من ليس له ومن له طعام فليفعل هكذا ؛ جاء إليه عشارين ليعتمدوا منه ؛ هذا النوع من الناس كان الجميع يشكو منهم على قسوتهم على الشعب وفرض الضرائب الباهظة عليهم ؛ طلبوا منه ماذا نفعل نحن أيضاً ؟ قال لهم لا تستوفوا أكثر مما فرض لكم ؛ وسألة الجنود ماذا نفعل نحن أيضاً ؟ قال لهم لا تظلموا أحد ولا تشوا بأحد واكتفوا بعلائفكم . لما رأى الشعب الأعمال التي يعملها يوحنّا ومنادائه عن التوبة فكروا أنه المسيح الذي تنبأ عنه الأنبياء والذي طال إنتظاره ؛ قال لهم يوحنّا أنا أعمدكم بماء للتوبة بمعنى غسل أوساخكم وأقذار كم فقط لكن يأتي بعدي من هو أقوى مني لست مستحقاً ولست أهلا أن أنحني وأحل سيور حذائه هو سيعمدكم بالروح القدس ونار ؛ لست أنا المسيح بل خادماً له ؛ أنا جئت لأعد له الطريق ؛ أنا عبد له ؛ هو عنده سلطان وقوة بها ينقي الزوان من الحنطة ؛ هو رفشه في يده وينقي بيدرة ويجمع القمح إلى مخزنه أما التبن فيحرقة بنار لا تُطفأ . إرجعوا إلى الله قبل فوات الأوان وقبل أن تأتي الساعة ومن لا يتوب يندم لأنه بعدم التوبة لا يكن لكم نصيب معه . لأن ليس بأحد غيره الخلاص هو الذي يحرركم وهو الذي ينقذكم من عبودية الشيطان وهو الذي يهبكم الحياة إن شئتم وسمعم تأكلون خير الأرض وإن أبيم تمردتم بحد السيف تؤكلون (أش ١: ۱۹ – ۲۰) ؛ إرجعوا إلى الرب يرجع إليكم ؛ مزقوا قلوبكم لا ثيابكم واشتروا مني ذهبا مصفى بالنار<a href="#_ftn7" name="_ftnref7">[7]</a>.</p>
<h4>القديس الأرشيدياكون حبيب جرجس</h4>
<p>كرازة يوحنا المعمدان (مت ۳: ۱ - ۱۲)</p>
<p></p>
<p>« أعدوا طريق الرب أصنعوا سبله مستقيمه »(مت ۳ : ۳)</p>
<p>(أولا ً) ابتدأت كرازة يوحنا بالمناداة بالتوبة. لأن التوبة هي تجديد القلب وتغيير حالة الانسان واعادته الى الله فعلينا أن نجعلها بداءة عملنا دائماً . (ثانياً) اعداد طريق الرب هي أن تنتهج سبله باستقامة وتحفظ وصاياه ليملك على قلوبنا ويهيء في داخلنا ملكوتاً روحياً .(ثالثا) التوبة الظاهرية والاعتراف الظاهري لا فائدة منها ان لم تكن لها ثمار صالحة وهي التجديد الحقيقي في الداخل والأعمال الصالحة في الظاهر لذلك لم يقبل الله عماد واعتراف الفريسيين والصدوقيين .(رابعاً) انتساب الانسان الى والدين تقيين لا يفيده ان لم تكن أعماله كاعمالهم . فلا حق للمرء أن يفتخر ببر غيره ولذلك لم ينفع اليهود أنهم أولاد إبراهيم .(خامساً) لاحظ قضاء الله العدل بأن كل شجرة لا تأتى ثمراً جيداً تقطع وتلقى في النار . هكذا كل نفس لا تتجدد وتثمر أثمار البر نصيبها الهلاك الأبدي<a href="#_ftn8" name="_ftnref8">[8]</a>.</p>
<hr />
<p><a href="#_ftnref1" name="_ftn1"></a>٥٧- المرجع : تفسير سفر أعمال الرسل ( الإصحاح التاسع ) - القمص تادرس يعقوب ملطي</p>
<p><a href="#_ftnref2" name="_ftn2"></a>٥٨- تفسير إنجيل لوقا للقديس كيرلس الإسكندري ( العظة العاشرة ) - ترجمة الدكتور نصحي عبد الشهيد</p>
<p><a href="#_ftnref3" name="_ftn3"></a>٥٩- كتاب تأملات في إنجيل القديس متي للقديس يوحنا ذهبي الفم - ترجمة عادل شفيق صليب - كنيسة الملاك ميخائيل بدمنهور</p>
<p><a href="#_ftnref4" name="_ftn4"></a>٦٠- المرجع : مجلة مدارس الأحد عدد شهر يناير لسنة ٢٠٠٢</p>
<p><a href="#_ftnref5" name="_ftn5"></a>٦١- مجلة مدارس الأحد عدد شهر يناير لسنة ٢٠٠٧</p>
<p><a href="#_ftnref6" name="_ftn6"></a>٦٢- كتاب دراسات في الكتاب المقدس - إنجيل متي ( الإصحاح الثالث ) - الأنبا أثناسيوس مطران كرسي بني سويف والبهنسا</p>
<p><a href="#_ftnref7" name="_ftn7"></a>٦٣- كتاب تأملات وعناصر روحية في آحاد وأيام السنة التوتية ( الجزء الرابع ) - إعداد القمص تادرس البراموسي</p>
<p><a href="#_ftnref8" name="_ftn8"></a>٦٤- كتاب الكنز الأنفس للارشيدياكون حبيب جرجس (الجزء الثالث ) - مشروع الكنوز القبطية</p>

      {% endcreateArticleAccordions %}
    </section>
  {% endblock %}
  