---
layout: 'layouts/reading.html'
title: 'اليوم الثاني عشر من شهر طوبة ( اليوم الثاني لعيد الغطاس المقدس )'
permalink: annual/5-12.html
---
  {% block content %}
    <section id="readings">
      <ul>
      {% if 'undefined' != 'undefined' %}
      
      {% else %}
      {% if '19.42:1,6' != 'null' %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">العشية</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeVespers '19.42:1,6' '42.3:21-22' %}
          </div>
        </div>
      </li>
      {% endif %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">باكر</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeMatins '19.34:11,5' '40.3:13-17' '' %}
          </div>
        </div>
      </li>
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <h3 class="flex items-center justify-between">
            <span class="kufi">القداس</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </h3>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeLitugy '49.1:1-14' '60.3:15-22' '44.8:26-39' '19.104:1-2' '43.1:35-51' %}
          </div>
        </div>
      </li>

      {% endif %}
        </ul>
    </section>
    <section id="article">
      <h3 class="mt-8 mb-4 heading-explain">شرح القراءات</h3>
      {% createArticleAccordions %}
        <p>&#8221; مدفونين معه في المعمودية &#8221; (كو ٢: ١٢)</p>
<p>&#8221; أنت دست مجارى الأردن إذ أنزلت عليها روحك القدوس من السماء. وسحقت رؤوس التنين المختفى فيھا. &#8221;</p>
<p>لقان عيد الظهور الإلهي</p>
<p><a href="#_ftn1" name="_ftnref1">[1]</a>&#8221; يُعطي هذا الميرون للذين اعتمدوا حديثاً ، وإذ يمسح الجسد تتقدس النفس بالروح القدس &#8221; ق. كيرلس الأورشليمي ص ١٢٣</p>
<h3>شواهد القراءات</h3>
<p>(مز ٤١: ١- ٦) ، (لو ٣ : ٢١ ، ٢٢) ، (مز ٣٣ : ١٠ ، ٤) ، (مت ٣ : ١٣ – ١٧) ، (أف ١ : ١ – ١٤) ، (١بط ٣ : ١٥ – ٢٢) ، (أع ٨ : ٢٦ – ٣٨) (مز ١٠٣: ١ ، ٢) ، (يو ١ : ٣٥ – ٥٢)</p>
<h3>ملاحظات على قراءات ثاني يوم عيد الغطاس</h3>
<p>+ قراءة الكاثوليكون اليوم (١بط ٣ : ١٥ &#8211; ٢٢) تكررت في قراءات يومي ٨ هاتور ، ٢٢ بابه</p>
<p>يأتي هنا الكلام عن السيرة الصالحة وكرازة الحياة المُقدَّسة (لوقا الإنجيلي في ٢٢ بابه ) وخضوع الملائكة والسلاطين للمسيح له المجد في صعوده بالجسد للسماء ( الأربعة حيوانات الغير متجسدة في ٨ هاتور ) والمعمودية ( ثاني يوم عيد الغطاس في ١٢ طوبه )</p>
<p>+ قراءة الإبركسيس اليوم (أع ٨: ٢٦ &#8211; ٣٨) تكررت يوم ١٤ بابه</p>
<p>موضوع القراءة هو إيمان ومعمودية الخصي الحبشي علي يد فيلبس الشماس لذلك جاءت في تذكار شهادة القديس فيلبس أحد السبعة شمامسة (١٤ بابه ) وفِي ثاني يوم عيد الغطاس ( ١٢ طوبه )</p>
<p>+ قراءة إنجيل القداس اليوم (يو ١: ٣٥ &#8211; ٥٢) تُشبه قراءة إنجيل القداس ليوم ٨ هاتور (يو ١: ٤٣ &#8211; ٥١) والموافق تذكار الأربعة الحيوانات غير المُتجسِّدين ، وتُشبه قراءة إنجيل باكر ( يو ١ : ٤٣ -٥١ ) ليوم  ١٤ بابه ( تذكار فيلبس الشماس )</p>
<p>وجاءت قراءة اليوم بإضافة السبع آيات التي قبلها (من آية ٣٥) ، والتي تبدأ بشهادة يوحنا المعمدان عن إبن الإنسان أنه حَمْل الله</p>
<p>ومجيئها يوم ٨ هاتور فكان لأجل إعلان الرب في نهايتها عن السماء المفتوحة وملائكة الله الذين يصعدون وينزلون علي إبن الإنسان (يو ١: ٥٢) ، بينما مجيئها يوم ١٤ بابه لأجل الحديث عن دعوة فيلبس لنثنائيل لأجل المجئ إلي الرب يسوع ( قد وجدنا المسيا )</p>
<h3>شرح القراءات</h3>
<p>تتكلّم قراءات اليوم عن نصيبنا وميراثنا في المسيح الذي قبل العماد من يوحنا المعمدان لأجل تدبير خلاصنا وكيف أننا نعيش منذ معموديته لأجلنا في السماء المفتوحة وصار لنا حق أن ندعو الله أبا لنا وأن نصير نحن أبناء الآب السماوي</p>
<p>تتكلّم المزامير عن إشتياقات النفس ( مزمور عشيّة ) وإستنارتها ( مزمور باكر ) ومجدها ( مزمور القداس )</p>
<p></p>
<p>يبدأ مزمور عشيّة بالنفوس في العهد الجديد التي نالت الإشتياقات المقدسة لله وزُرِعَت فيها من وقت معموديتها لذلك تخرج كل نفس من جرن المعمودية في حالة عطش دائم للنعمة ولمعرفة الله فكما يُعبِّر المزمور عن إشتياقات النفوس يدعوها أن لا تنسي وأن تتذكّر دائماً فعل معموديتها (أرض الأردن)</p>
<p>(كما يشتاق الأيّل إلي ينابيع المياه كذلك تاقت نفسي أن تأتي إليك يا الله لذلك أذكرك يارب في أرض الأردن )</p>
<p>كما أن هذا المزمور هو أوَّل مزمور من مزامير الكنيسة (ابونا متي وأبونا تادرس) ويكشف هذا القسم عن جمال الكنيسة المتمتعة بالخلاص كعروس مزينة لعريسها (تفسير مزمور ٤٢ ابونا تادرس )</p>
<p>وفِي مزمور باكر دعوة الأبناء لمخافة الله وعطيّة الإستنارة لمن يأتوا إليه</p>
<p>يري القديس أكليمندس الإسكندري أن المتحدث هنا هو ابن داود المخلص نفسه الذي يدعو مؤمنيه للاستماع اليه بكونه &#8221; المعلم &#8221; واهب المعرفة ومعطي الكمال  ( تفسير مزمور ٣٤  ابونا تادرس ) ثم يكمل المزمور بدعوتنا أن نتقدم اليه لتستنير حياتنا</p>
<p>(هلمَّ أيها الأبناء واسمعوني لأعلِّمكم مخافة الرب تقدموا إليه واستنيروا ووجوهكم لا تخزي )</p>
<p>وفِي مزمور القداس مجد ابن الانسان وعظمته الذي أعطاه لأولاده وظهرت عظمه مجده فيهم والجميل ان هذا المزمور كان الشعب اليهودي ينشده في صباح يوم الكفارة أو اليوم الكبير وهو اليوم الفريد في العام كله حيث كان يُسْمَح لرئيس الكهنة أن يخترق الحجاب ويدخل قُدس الأقداس مرة واحدة في السنة كرمز لدخول البشرية المؤمنة السماوات ) أي أن هذا المزمور يُعبر عن دخول ومعاينة النفس السموات وهذا ما حدث يوم المعمودية في إنفتاح السماء ونزول الروح القدس وصوت الآب من السماء</p>
<p>( باركي يا نفسي الرب أيها الرب الإله قد عظُمت جداً الاعتراف وعظم الجلال تسربلت اشتملت بالنور مثل الثوب )</p>
<p></p>
<p>وتتكلّم القراءات عن التبني للآب (البولس ) والخلاص بمثال المعمودية ( الكاثوليكون ) وخلاص الأمم ( الإبركسيس )</p>
<p></p>
<p>يُعْلِن البولس عن نصيبنا في المسيح البركة والإختيار منذ تأسيس العالم والتبني للآب ومعرفة مشيئته</p>
<p>( مبارك الله أبو ربنا يسوع المسيح الذي باركنا بكل بركة روحية في السماويات كما اختارنا فيه قبل إنشاء العالم لنكون قديسين وبلا دنس قدّامه في المحبة إذ سبق فعيننا للتبني بيسوع المسيح لنفسه حسب مسرّة إرادته &#8230; إذ أعلمنا بسر مشيئته حسب مسرته التي قصدها في نفسه لتدبير ملء الأزمنة ليُكمل كل شئ بالمسيح )</p>
<p>وفِي الكاثوليكون نري تشبيه الخلاص بالمعمودية بما حدث في الطوفان ونجاة نوح وأسرته من الهلاك وهكذا نأخذ نحن في المعمودية الخلاص الذي تم بموته وقيامته وصعوده بالجسد</p>
<p>( لأن المسيح أيضاً قد مات مرة واحدة من أجل الخطية عنا البار من أجل الأثمة لكي يقربنا إلي الله مُماتاً في الجسد ولكن مُحيي في الروح وبهذا أيضاً ذهب فبشّر الأرواح التي في السجن التي عصت قديماً حين كانت آناة الله تنتظر في أيام نوح الذي صنع فلكا وفيه خلص قليلون من الماء أي ثماني أنفس فهكذا أنتم أيضاً الآن يُخلصكم بمثال المعمودية لا إزالة وسخ الجسد بل سؤال ضمير صالح عن الله بقيامة يسوع المسيح الذي هو جالس عن يمين الله إذ قد صعد إلي السماء وملائكة وسلاطين وقوات مُخضعة له )</p>
<p>ويقدم لنا الإبركسيس نموذج لمن عاشوا في تقوي ومخافة وأمانة فيرسل الله ملاكه للقديس فيلبس مثل ما حدث هنا مع الخصي الحبشي وتعميده بالنزول في الماء بعد قبوله الإيمان</p>
<p>( ثم أن ملاك الرب تكلّم مع فيلبس قائلاً قُم واذهب &#8230; فقام وذهب وإذا رجل حبشي خصي وزير لكنداكة ملكة الحبشة &#8230; وإبتدأ يبشِّره بيسوع من هذا الكتاب وفيما هما سائران في الطريق أقبلا علي ماء فقال الخصي هوذا ماء ماذا يمنعني أن أعتمد فأمر أن تقف المركبة فنزل كلاهما إلي الماء فيلبس والخصيُّ وعمَّده ولما صعدا من الماء خطف روح الرب فيلبس فلم يُبصره الخصىُّ أيضاً وذهب في طريقه فرحاً )</p>
<p></p>
<p>ونري في الأناجيل صلاة إبن الإنسان التي تفتح السماء ( إنجيل عشية ) وبرّ الإتضاع الذي يكمِّل كل برّ ( إنجيل باكر ) والشركة الدائمة مع السمائيين ( إنجيل القداس )</p>
<p></p>
<p>في إنجيل عشية نندهش إذ نري إبن الإنسان يعتمد مثل جميع الشعب وتنفتح السماء عندما يبدأ في الصلاة ( ملحوظة إنجيل لوقا عن الصلاة )</p>
<p>( وكان لما اعتمد جميع الشعب اعتمد يسوع أيضاً وإذ كان يصلِّي إنفتحت السماء ونزل عليه الروح القدس بهيئة جسمية مثل حمامة وكان صوت من السماء قائلاً أنت هو إبني حبيبي الذي بك سررت )</p>
<p>وفِي إنجيل باكر تنفتح السماء لمن يعيشوا برّ الإتضاع فذهاب الرب إلي يوحنا ليتعمّد نموذج برّ الإتضاع الذي يقدمه ابن الإنسان للبشرية</p>
<p>( حينئذ جاء يسوع من الجليل إلي الأردن إلي يوحنا ليعتمد منه ولكن يوحنا منعه قائلاً : أنا المحتاج لأن أعتمد منك وأنت تأتي إلي فأجاب يسوع وقال له اسمح الآن لأنه هكذا ينبغي لنا أن نكمِّل كل برّ حينئذ سمح له فلما اعتمد يسوع صعد للوقت من الماء وإذا السموات قد انفتحت له فرأي روح الله نازلاً مثل حمامة وآتياً وكان صوت من السموات قائلاً هذا هو إبني حبيبي الذي به سررت )</p>
<p>وفِي إنجيل القداس صارت حالة السماء المفتوحة دائمة فبعد ما قال انجيل عشية وباكر أن السموات إنفتحت يقول إنجيل القداس من الآن ترون السماء مفتوحة ( حالة دائمة ) وفيها شركة لا تنقطع بيننا وبين السمائيين</p>
<p>( أجاب يسوع وقال له لأني قلت لك إني قد رأيتك تحت شجرة التين آمنت سوف تري أعظم من هذا وقال له الحق الحق أقول لكم من الآن ترون السماء مفتوحة وملائكة الله يصعدون وينزلون علي إبن البشر )</p>
<p></p>
<h3>أفكار مٌقترحة للعظات</h3>
<h4>(١) السماء المفتوحة</h4>
<p>١- الصلاة تفتح السماء</p>
<p>&#8221; وإذ كان يصلي إنفتحت السماء &#8221;                                           إنجيل عشيّة</p>
<p>٢- السماء المفتوحة تعطينا غني الروح</p>
<p>&#8221; وإذا السموات قد إنفتحت له فرأي روح الله نازلاً مثل حمامة &#8221;         إنجيل باكر</p>
<p>٣- السماء المفتوحة تنقل لنا يقين التبنِّي للآب في المسيح</p>
<p>&#8221; وكان صوت من السماء قائلاً أنت هو ابني حبيبي الذي بك سررت &#8221;   إنجيل عشيّة وباكر</p>
<p>٤- السماء المفتوحة تنقل لنا كل غني الآب في المسيح</p>
<p>&#8221; الذي باركنا بكل بركة روحية في السماويات في المسيح &#8221;                البولس</p>
<p>٥- شركة الملائكة والسمائيين هي نصيبنا في المسيح له المجد</p>
<p>&#8221; من الآن ترون السماء مفتوحة وملائكة الله يصعدون وينزلون علي ابن البشر &#8221; إنجيل القدَّاس</p>
<h4>(٢) عطايا الآب لنا في المسيح                                                      البولس</h4>
<p>١- ملء البركات السماوية</p>
<p>&#8221; الذي باركنا بكل بركة روحية في السماويات في المسيح &#8221;</p>
<p>٢- سبق الإختيار والتقديس والتبرير</p>
<p>&#8221; كما اختارنا فيه قبل إنشاء العالم لنكون قديسين وبلا دنس قدّامه في المحبّة &#8221;</p>
<p>٣- التبني للآب</p>
<p>&#8221; إذ سبق فعيننا للتبني بيسوع المسيح لنفسه حسب مسرّة إرادته &#8221;</p>
<p>٤- الخلاص وغفران الخطايا</p>
<p>&#8221; هذا الذي نلنا الخلاص بدمه غفران الخطايا &#8221;</p>
<p>٥- الإستنارة ومعرفة مشيئته</p>
<p>&#8221; إذ أعلمنا بسر مشيئته حسب مسرته التي قصدها في نفسه &#8221;</p>
<p>٦- مجد نعمته وغني صلاحه</p>
<p>&#8221; لمدح مجد نعمته التي أنعم علينا بها في حبيبه &#8230; حسب غني صلاحه التي أجزله لنا بكل حكمة وبكل فهم &#8221;</p>
<h4>(٣ ) دروس من عيد الغطاس</h4>
<p>١ &#8211; الالتحام والاحساس بالضعفاء والمنبوذين</p>
<p>فالمسيح رغم انه القدوس لم يحيا مظهرا قداسته بل قبل معموديه من انسان كانت مخصصه للعشارين والخطاه وعندما نحاول ان نظهر امام الاخرين بصوره القداسه فنحن نبتعد عن مسيح الغطاس فهو قبل وارتضي ان يظهر امام الناس بصوره الضعيف مشاركا الضعفاء والمكروهين الامهم</p>
<p>٢ &#8211; الصلاه</p>
<p>فلم تكن الصلاه عند الهنا كلمات لكن اتحاد بالسماء وهو علي الارض والتصاق السماء بالارض وسكني روح الله في كل من اعلنوا احتياجهم الشديد للقوه الالهيه</p>
<p>٣ &#8211; اثمار التوبه</p>
<p>الله لاينظر الي &#8221; الحسب والنسب الروحي &#8221; ولاالي الرتب ولا الي مرتبتنا عند الناس ولكنه ينظر الي  &#8221; ثمار &#8221;</p>
<p>الله لاينظر الي ما نملكه بل الي مانعلنه</p>
<p>٤ &#8211; الرساله والهدف</p>
<p>كانت رساله وخدمه يوحنا قصيره جدا زمنيا ولكن لان هدفه كان واضحا جدا اثمرت رسالته وخدمته بينما نحن نخدم سنين عديده ولكن كثيرا ماتتوه اهدافنا ورسالتنا ولم يشغل يوحنا &#8221; الثمار &#8221; بل شغلته &#8221; الرساله &#8221;</p>
<p>٥ &#8211; تسليم الشعله</p>
<p>تتلمذ علي يد يوحنا تلاميذ كثيرون ولكن في قمه اشتعالها سلمها بكل بساطه للمسيح وصاروا تلاميذه تلاميذ المسيح ولم يعودوا ليوحنا والعجيب ان يكون هذا سبب فرح يوحنا بينما يُسلَّمني الله شعله من نار ولكن تخبو مع الوقت بسبب ذاتي ولا أُسلِّمها لأحد حتي تنطفيء وأظهر كأنني &#8221; صاحب شعله &#8221; وأصير عبد مكانتي .</p>
<h3>عظات آبائية</h3>
<h4>القديس اغريغوريوس الثيئولوغوس</h4>
<p>أعتمد كأنسان ومحا الخطايا كإله عند القديس اغريغوريوس الثيئولوغوس</p>
<p>يوحنا المعمدان ذهل لتواضع الرب .</p>
<p>ذهل يوحنا امام هذا الاتضاع الكبير وبدأ يمنع الرب .</p>
<p>ماذا تفعل ياربى ؟ لماذا تنتظر أن تعتمد بالماء ، عمدنى أنت بنار اللاهوت ، انر فهمى بالروح ، عمدنى أنا ليرى العالم مجد عظمتك.  إنى ياربى أعمد بمعمودية التوبة ، ولا أستطيع أن اعمد سوى الذين يأتون إلى معترفين بخطاياهم اعترافاً كاملا .</p>
<p>فهل أعمدك انت  ؟</p>
<p>وماذا عندك يارب لتعترف به ؟</p>
<p>أنت غافر الخطايا فهل أعمدك بمعمودية التوبة ؟</p>
<p>ولو جرؤت لأعمدك ، فالأردن نفسه لا يجرؤ ان يقترب منك .</p>
<p>&#8221; أنا محتاج ان أعتمد منك وانت تأتى الى &#8221; (مت ٣ : ١٤)</p>
<p>ماذا كان رد ربنا يسوع المسيح على يوحنا ؟</p>
<p>قال الرب ، &#8221; اسمح الآن لأنه هكذا يلبق بنا أن نكمل كل بر &#8221; (مت ٣ : ١٥) .</p>
<p>يايوحنا اسمح الآن ، أنت لست أكثر حكمة منى . أنت ترى الأمور كإنسان ، وأنا الله أعرف الأمور مسبقاً .</p>
<p>أنا لاأعمل عملاً غير لائق لألهى مكلل بالكرامة . اتستغرب يايوحنا لأنى لم آت في مجدى ؟</p>
<p>&#8221; أسمح الآن هكذا يليق بنا أن نكمل كل بر &#8221;</p>
<p>أنا واضع الناموس ومنفذه ، ولن أترك أمراً يحتاج إلى التنفيذ تنفيذاً كاملاً ليقول القديس بولس بعدى في رومية (رو ١٠ : ٤)</p>
<p>&#8221; لأن غاية الناموس هي المسيح للبر لكل من يؤمن &#8221;</p>
<p>عمدنى يايوحنا . دعنى انزل في مياه نهر الأردن لكى يسمع العالم شهادة ابى ويعرف العالم سلطان الأبن .</p>
<p>&#8221; اسمح الأن لأنه هكذا يليق بنا أن نكمل كل بر &#8221;</p>
<p>ولما اعتمد يسوع إذا السموات قد انفتحت له .</p>
<p>فلما اعتمد يسوع صعد للوقت من الماء . وإذا السموات قد انفتحت له فرأى روح الله نازلاً مثل حمامة وآتياً عليه . وصوت من السموات قائلاً &#8221; هذا هو ابنى الحبيب الذى به سررت &#8221; (مت  ٣ : ١٦ – ١٧) .</p>
<p>تصالحت السماء والأرض لأن العلى نزل إلى الأرض من علو مجده .</p>
<p>والآن أيها الأخ الكريم – كم من بركات عظمى وكثيرة حصلنا عليها بعماد السيد المسيح له المجد في الأردن ؟</p>
<p>حينما اعتمد العريس فتحت حجرة العرس السمائية أبوابها المضيئه وامتلأت السموات بالفرح .</p>
<p>بعماد السيد المسيح انفتحت السموات وكانت مغلقه وتجدد الأنسان العتيق ونال التبنى لأن &#8221; السموات قد انفتحت له &#8221; وتمت في الحال المصالحة بين السمائيين والأرضيين .</p>
<p>ولما نزل الروح  القدس كحمامة وملأ صوت الآب جميع الآفاق انفتحت أبواب السموات &#8221; السموات قد انفتحت له &#8221; وصوت من السماء قائلاً هذا هو ابنى الحليب الذى به سررت &#8221; .</p>
<p>وكما كانت الحمامه في فلك نوح رمزا لمحبة الله للبشر كذلك استقرت الروح على السيد المسيح .</p>
<p>وهكذا أرسل الآب الازلى ابنه الازلى . الكلمة إلى العالم .</p>
<p>نزل الأبن إلى الإنسان ليغسله يالماء والروح وبعد ولادته للإنسان ثانية خالياً من فساد الروح والجسد نفخ فيه نفخه الحياة وزوده بعده كاملة للحرب ، غير قابلة للفساد . فأصبح الأنسان أبدياً وأصبح وارثاً مع السيد المسيح (رو ٨ : ١٧) . بعد القيامة من الأموات .</p>
<p>أعتمد كأنسان ومحا الخطايا كإله .</p>
<p>وهكذا أتى الرب في تواضعه . واعتمد كانسان ، لا لكونه كان محتاجاً لطقس التطهير ولكن لكى يقدس عنصر الماء . أعتمد كإنسان ولكنه – محا الخطايا كإله . (مت ٩ : ٢ – ٨) .</p>
<p>جاع ولكنه نادى قائلاً &#8221; أن عطش أحد فليقبل الى ويشرب &#8221; (يو ٧ : ٣٧) .</p>
<p>ووعدنا ان آمن بى كما قال الكتاب تجرى من بطنه انهار ماء حى ، تعب وهو الراحه لجميع المتعبين والثقيلى الاحمال .</p>
<p>تثقل بالنوم ولكنه مشى بخفه على البحر . دفع جزية ولكنه ستخرجها من بطن سمكه .</p>
<p>بيع بثمن بخس ، بثلاثين من الفضة (مت ٢٦ : ١٥) .</p>
<p>ولكنه فدى العالم بثمن غال بدمه الكريم (١بط ١ : ١٩) .</p>
<p>كشاه سيق الى الذبح (اش ٥٣ : ٧) . وهو راعى إسرائيل وراعى العالم كله .</p>
<p>وكنعجه صامته أمام جازيها فلم يفتح فمه . ولكنه هو الكلمة الذى أعلن عنه الصوت الصارخ في البريه (يو ١ : ٢٣) .</p>
<p></p>
<p>جرح لأجل معاصينا وسحق لأجل آثامنا ولكنه شفى كل مرض وكل سقم .</p>
<p>رفع وسمرعلى شجرة ولكنه أعاد لنا شجرة الحياة  .</p>
<p>قدم له خل ممزوج بالمر ليشرب ، هذا الذى حول الماء إلى خمر (يو ٢ :  ١ – ١١) . الذى يزيل المرارة والذى حلقة حلاوة وكله مشتهيات (نش ٥ : ١٦) .</p>
<p>مات وأعطى الحياة للبشر وأزال الموت وقام وسيأتى ثانيه ، ليدين الأحياء والأموات الذى ليس لملكه انقضاء<a href="#_ftn2" name="_ftnref2">[2]</a> .</p>
<h4>القديس يوحنا ذهبي الفم</h4>
<p>معني إعتمدنا لموته في فكر القديس يوحنا ذهبي الفم</p>
<p>&#8221; أم تجهلون أننا كل من اعتمد ليسوع المسيح اعتمدنا لموته ؟ &#8221; (رو ٦ : ٣)</p>
<p>إذن فإننا دُفِنا معه في المعمودية .ماذا تعني عبارة &#8220;اعتمدنا لموته ؟&#8221; تعني أننا نحن أيضاً نموت كما مات هو ، لأن الصليب هو المعمودية . فهذا الذي جازه المسيح ، أي الصليب والقبر ، يتحقق في المعمودية التي نُتممها ، وإن لم يكن بنفس الطريقة . لأن المسيح مات بالجسد ودُفن ، بينما نحن نجوز نفس الأمر بالنسبة للخطية . ولهذا لم يقل إننا قد ذقنا نفس الموت ، بل قال &#8221; بشبه موته &#8221; .لأن الموت يتم في المعمودية وفي الصليب ، ولكن ليس بنفس الطريقة ، كما أنه من نوعين مختلفين . موت المسيح كان موتاً للجسد ، لكن موتنا هو موت عن الخطية . وكما أن موت المسيح كان موتاً حقيقياً بالجسد ، هكذا تماماً فإن موتنا في المعمودية هو موت حقيقي عن الخطية . لكن علي الرغم من أنه موتاً حقيقياً ، إلاّ أنه ينبغي علينا أيضاً أن نسلك بما يتفق والحياة الجديدة .</p>
<p>&#8220;لأنه إن كنّا قد صرنا متحدين معه بشبه موته نصير أيضاً بقيامته &#8221; (رو٦:٥) .</p>
<p>١- هذا الذي قلته في العظة السابقة ، سأقوله الآن أيضاً . إن الرسول بولس دائماً ما يلجأ إلي الحديث عن السلوك الأخلاقي بجانب التعليم الإيماني ، بينما في أغلب رسائله الأخري يقسم الرسالة إلى قسمين ، الأول : يخصّصه للأمور الإيمانية ، والثاني : للاهتمام بالأمور الأخلاقية .إنه لا يصنع هنا نفس الشيء ، بل يمزج الأمرين معاً في كل الرسالة ، حتى يصير حديثه مقبولاً بسهولة أكثر .</p>
<p>إنه يتكلم هنا عن نوعين من الموت .الأول حدث بالمسيح في المعمودية ، بينما الآخر يجب أن يصير من خلالنا ، بواسطة جهادنا الذي يأتي بعد المعمودية . فإن دفن خطايانا السالفة ، كان عملاً خاصاً بعطية الله ، أما من حيث أننا نظل بعد المعمودية أمواتاً عن الخطية ، فهو عمل خاص بجهادنا ، وإن كنّا نري أن الله هنا أيضاً يُساعدنا بصورة كبيرة جداً . لأن المعمودية لا تحقق فقط إزالة خطايانا السالفة ، بل تؤّمنا أيضاً ضد الخطايا التي يمكن أن تحدث في المستقبل . فكما أنك تعلن الإيمان بفاعلية المعمودية ، لكي تختفي الخطايا ، هكذا بالنسبة للخطايا المستقبلية ، يجب عليك أن تُظهر تحولاً في الرغبة حتي لا تلوث نفسك مرة أخري ( بدنس الخطية ) .إذاً فهو ينصح بهذه الأمور وأمور أخري مشابهة بقوله :&#8221; إن كنّا قد صرنا متحدين معه بشبه موته نصير أيضاً بقيامته &#8221; .</p>
<p>أرأيت كيف أنه قد سمّى بالمستمع حتى قاده إلى الرب مباشرةً ، محاولاً أن يُبيّن عظمة التشبه به ؟ ولهذا لم يقل (متحدين معه في موته ) لكي لا تعترض علي ذلك ، لكنه قال</p>
<p>&#8221; بشبه موته &#8221; لأننا حين نموت معه في المعمودية ، فإن الذي يموت هو الإنسان الخاطئ ، أي الشر ، ولم يقل &#8221; لأنه وإن كنّا قد صرنا مشتركين معه بشبه موته &#8221; لكنه قال &#8221; متحدين معه بشبه موته &#8221; قاصداً بهذه الكلمة تلك النبتة التى أثمرت ، والتى أخذناها من المسيح .</p>
<p>فكما أن جسده بعدما دُفن في الأرض أتي بثمار الخلاص للبشرية ، هكذا فإن جسدنا بعدما دُفن في المعمودية ، نال ثمر البر والقداسة والتبني وخيرات أخري لا تحصى ، وسينال العطية الأخيرة وهي القيامة . لأننا نحن دُفننا في الماء ، بينما هو قد دُفن في الأرض ، ونحن قد مُتنا من جهة الخطية ، أما هو فقد مات بالجسد ، ولهذا لم يقل :</p>
<p></p>
<p>&#8221; متحدين معه في موته &#8221; لكن &#8221; بشبه موته &#8221; . لأن هناك موتان ، موت المسيح وموتنا ولكنهما موتان مختلفان .</p>
<p></p>
<p>فإذا قال&#8221; قد صرنا متحدين معه بشبه موته &#8220;، فإننا في القيامة&#8221; سنصير أيضاً بقيامته&#8221;،</p>
<p></p>
<p>وهو يقصد هنا القيامة العتيدة . لأنه تحدّث سابقاً عن الموت قائلاً : &#8221; أم تجهلون أيها الاخوة أننا كل مَن اعتمد ليسوع المسيح اعتمدنا لموته &#8221; لم يذكر شيئاً واضحاً عن القيامة ، ولكنه أشار إلى طريقة حياتنا بعد المعمودية ، حيث يحثنا على أن يتفق سلوكنا مع مقتضيات الحياة الجديدة ، ولهذا فإنه هنا يذكر نفس الكلام ، ويخبرنا مسبقاً عن تلك القيامة العتيدة . ولكي تعرف أنه لا يتحدث عن القيامة من المعمودية ، بل عن القيامة العتيدة ، نجده بعدما قال : &#8221; لأنه إن كنّا قد صرنا متحدين معه بشبه موته &#8221; لم يقل سنصير متحدين بشبه قيامته ، لكنه قال : &#8221; نصير أيضاً بقيامته &#8221; . ولكي لا نقول وكيف يحدث هذا ، طالما أننا لم نمت كما مات ، فكيف سنقوم كما قام ؟ نقول إنه عندما أشار إلى الموت لم يقل متحدين بموته ، لكن &#8221; بشبه موته &#8221; إلاّ أنه عندما أشار إلي القيامة لم يقل بعد بشبه قيامته، بل قال سنصير متحدين بقيامته ذاتها .ولم يقل قد صِرنا ، لكن &#8221; سنصير &#8221; مشيراً بهذه الكلمة أيضاً إلى القيامة التي لم تحدث بعد ، إنما التي ستحدث فيما بعد<a href="#_ftn3" name="_ftnref3">[3]</a> .</p>
<h3>عظات آباء معاصرين</h3>
<h4>المتنيح القمص تادرس البراموسي</h4>
<p>اليوم الثاني عشر من شهر طوبه المبارك</p>
<p>( قبل أن دعاك فيلبس وأنت تحت التينة رأيتك ) (يو ١ : ٣٥ – ٥١)</p>
<p>كان القديس يوحنا المعمدان يمدح الرب يسوع ويشهد له أنه حمل الله والذي عليه رجاء الأمم وهو الذي أتى ليخلص العالم من خطية آدم التي أصبحت عباً ثقيلاً على العالم كله ؛ ولم يستطع أحد أن يتجرأ ويزحزحها ولو قيد أنملة بالرغم من الأنبياء وكثيرين من رجال الله الأتقياء الذين عاشوا على رجاء وكانوا ينتظرون مجئ الرب يسوع ؛ وقال عنهم أحد إلى الأنبياء إرجعوا إلى الحصن يا أسرى الرجاء . هؤلاء الذين لأجلهم نزل الرب يسوع إلى الجحيم كما قال الكتاب نزل إلى الجحيم ورد أبانا آدم وبنيه إلى الفردوس وبموته أبطل عز الموت .</p>
<p>كان يوحنا واقفاً مع إثنين من تلاميذه فنظر يسوع ماشياً فقال هوذا حمل الله ؛ لم تكن هذه الشهادة لأول مرة بل كان يوحنّا كل ما يرى يسوع يقول عنه هذا الكلام وهذه الشهادة ؛ حتى عندما سأله اليهود من أنت ؟ شهد أيضاً ليسوع ؛ كان يوحنا رجلاً باراً وكان من الممكن أن تحدث له غيره بنجاح الرب يسوع لكنه كان يشهد له قائلاً ينبغي أن ذاك يزيد وأنا أن أنقص ؛ لم يكن يوحنا في وقت قيامة المسيح ولم يفوز بالخلاص المسيح لكنه مات على رجاء القيامة . عندما سمع تلميذي يوحنّا ما قالة عن الرب يسوع تركا يوحنّا وتبعا يسوع ؛ إلتفت الرب يسوع فرأهما يتبعانه فقال لهما ماذا تطلبان ؟ فقال يا معلم أين تمكث ؟ فقال لهما تعاليا وانظرا ؛ وكان من هذين التلميذين أندراوس أخو سمعان بطرس ؛ آمن أولاً بالرب يسوع ثم دعى سمعان وقال له وجدنا المسيا الذي تفسيره المسيح فجاء به إلى يسوع فنظر إليه الرب فاحص والكلى وقال أنت سمعان بن يونا . أنت تُدعى صفا الذي تفسيره بطرس .</p>
<p>كان الرب في بداية خدمته الجهارية وفي اليوم التالي لإختيار بطرس مضى إلى الجليل فوجد فيلبس فقال له إتبعني ؛ وكان فيلبس من بيت صيدا من مدينة أندراوس وبطرس وابتدأ الكرازة في التأسيس أولاً في إختيار الرجال الذين يقومون بالعمل كسفراء ؛ وكان الرب يسوع له حكمة في الفقراء ؛ لم يكونوا من الأغنياء ولا المثقفين لكي لا ينسبوا النجاح في الخدمة لأنفسهم ؛ فيلبس وجد نثنائيل فقدم له الدعوة قائلاً قد وجدنا الذي كتب عنه موسى في النّاموس والأنبياء ؟ يسوع إبن يوسف الذي من الناصرة ؛ وكانت الناصرة قرية حقيرة بين قري فلسطين ؛ لم يكن لها ذكر ولم يخرج منها أحد من العظماء في الشعب لذلك إستنكر نثنائيل أن يكون منها شيئاً صالحاً ؛ وكان فيلبس متأكد مما يقوله فقال له تعال وانظر ؛ وكانت يد الرب هي العاملة في الإختيار وهو الذي يحرك القلوب .</p>
<p>رأى الرب يسوع نثنائيل مقبلاً إليه فقال هذا إسرائيلي حقاً لا غش فيه ؛ إستغرب نثنائيل أن الرب عرفة بإسمه وأئه إسرائيلي فقال نثنائيل للرب من أين تعرفي ؟ قال له يسوع قبل أن دعاك فيليس وأنت تحت التينة رأيتك ؛ كانت مفاجأة لنثنائيل وبدون أن يشعر نطق قائلا يا معلم انت إبن الله أنت ملك إسرائيل هذا الإيمان كان بسرعة وتوقع أن يري الكثير في الرب يسوع ؛ فأجابه الرب يسوع قائلا هل آمنت لأني قلت الك إني رأيتك تحت التينة سوف ترى أعظم من هذا ، قال الأباء كلمة الرب يسوع &#8221; وأنت تحت التينة رأيتك &#8221; فيها سر لم يعرفه أحد إلا نثنائيل. وعندما فاجأه الرب يسوع بذلك عرف أنه كاشف الخفايا وعارف الأسرار ، قال الرب يسوع لمن حوله الحق الحق أقول لكم من الآن ترون السماء مفتوحة وملائكة الله يصعدون وينزلون علي إبن الإنسان<a href="#_ftn4" name="_ftnref4">[4]</a>.</p>
<h3>من وحي القراءات</h3>
<p>&#8221; وثابت عندنا كلام الأنبياء . هذا الذي هو نعم ما تصنعونه إذا تأملتم إليه كمثل سراج مضئ في موضع مظلمٍ حتي يظهر النهار والنور يشرق ويظهر في قلوبكم &#8221;     الكاثوليكون لبرامون الغطاس</p>
<p>+ يقول القديس بطرس هذا الكلام بعد أن قال أنه كان من المُعاينين عظمته ( علي جبل التجلّي )</p>
<p>+ ورغم عظمة رؤيته مضيئاً مثل الشمس إلَّا إنه يُشير إلي عظمة أخري لا تقل عنها وهي عظمة النور الإلهي في كلمته المُقدَّسة</p>
<p>+ ويدعونا إلي التأمُّل فيها فتنسحب الظلمة تدريجيا من قلوبنا ويُشرق نور إبن الله في أعماقنا</p>
<p>+ هنا نري عظمة كلمته المُقدَّسة والتي يجب أن نختبر فعلها في حياتنا اليومية أهم من الجري وراء المُعجزات والغيبيات</p>
<p>+ كلمته التي تصير فينا مصدر الحياة (يو ٥ : ٣٩) والفرح (أر ١٥ : ١٦) والنجاح (مز ١ : ٣) والنصرة (أف ٦ : ١٧) وأساس الخدمة (يش ١ : ٨)</p>
<p>+ لكن هذا لا يكون إلَّا إذا كانت كلمته حياتنا (٢تي ٣ : ١٥) وهذيذنا (مز ١: ٢) وملجأنا (يش بن سيراخ ٤٣ : ٢٨)</p>
<p>+ نري هنا عظمة الإختبار القلبي أكثر من المُعجزات ، أي عظمة ما نتذوقه في أعماقنا (في ٤ : ٧) أكثر مما يحدث حولنا</p>
<p>+ ويكون تغيير طبيعتي وتجديدها الدائم في المسيح أهم من تغيُّر ظروفي الخارجية (٢كو ٥ : ١٧)</p>
<p>+ ويصير أساس الإيمان ما فعله الرب فيَّ (٢كو ٤ : ٦ ، ٧) أكثر من ما فعله معي</p>
<p>+ وبهذا تكون كلمته أعظم وأضمن ميراث نُعطيه ونُسلِّمه للآخرين (أع ٢٠ : ٣٢)</p>
<hr />
<p><a href="#_ftnref1" name="_ftn1"></a>٧٥- كتاب الروح القدس بين الميلاد الجديد والتجديد المستمر ( صفحة ١٢٣ ) &#8211; القمص تادرس يعقوب ملطي</p>
<p><a href="#_ftnref2" name="_ftn2"></a>٧٦- كتاب مقتطفات من كتابات آباء الكنيسة في الميلاد المجيد &#8211; كنيسة الشهيدين أباكير ويوحنا بأبي قير</p>
<p><a href="#_ftnref3" name="_ftn3"></a>٧٧- تفسير رسالة رومية للقديس يوحنا ذهبي الفم العظة الحادية عشر والثانية عشر &#8211; ترجمة الدكتور سعيد حكيم يعقوب &#8211; المركز الأرثوذكسي للدراسات الآبائية</p>
<p><a href="#_ftnref4" name="_ftn4"></a>٧٨- المرجع : كتاب تأملات وعناصر روحية في آحاد وأيام السنة التوتية ( الجزء الرابع ) &#8211; إعداد القمص تادرس البراموسي</p>

      {% endcreateArticleAccordions %}
    </section>
  {% endblock %}
  