---
layout: 'layouts/reading.html'
title: 'اليوم الثالث والعشرون من شهر طوبة'
permalink: annual/5-23.html
---
  {% block content %}
    <section id="readings">
      <ul>
      {% if '19.89:19-21' != 'null' %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">العشية</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeVespers '19.89:19-21' '40.10:34-42' %}
          </div>
        </div>
      </li>
      {% endif %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">باكر</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeMatins '19.132:9,10,17,18' '42.6:17-23' '' %}
          </div>
        </div>
      </li>
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <h3 class="flex items-center justify-between">
            <span class="kufi">القداس</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </h3>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeLitugy '58.7:18-28*@+58.8:1-13' '64.1:1-14' '44.15:36-41*@+44.16:1-5' '19.99:6-7' '43.16:20-33' %}
          </div>
        </div>
      </li>
        </ul>
    </section>
    <section id="article">
      <h3 class="mt-8 mb-4 heading-explain">شرح القراءات</h3>
      {% createArticleAccordions firstName, lastName %}
        <p>قراءة هذا اليوم (شهادة تيموثاوس الرسول وثاودوسيوس الملك ) مُحوَّلة علي قراءة يوم ثامن وعشرين هاتور ( شهادة القديسين صرابامون أسقف نيقيا وبسادة الشهيد )</p>
<p>يذكر الدفنار استشهاد القديس تيموثاوس الرسول فقط، ويضيف السنكسار أيضاً نياحة الأنبا كيرلس الرابع بابا الإسكندرية العاشر بعد المائة</p>
<p>لم يذكر السنكسار والدفنار تذكار ثيؤدوسيوس الملك</p>

      {% endcreateArticleAccordions %}
    </section>
  {% endblock %}
  