---
layout: 'layouts/reading.html'
title: 'يوم ٢٦ طوبة (تذكار شهادة التسعة والأربعين شهيداً شيوخ شيهات )'
tags: 'annual'
permalink: /articles/annual/5-26.html
---
  {% block content %}
    <section id="readings">
      <ul>
      {% if 'undefined' != 'undefined' %}
      
      {% else %}
      {% if '19.32:11*@+19.33:1*@+19.32:6' != 'null' %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">العشية</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeVespers '19.32:11*@+19.33:1*@+19.32:6' '40.10:34-42' %}
          </div>
        </div>
      </li>
      {% endif %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">باكر</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeMatins '19.33:1,12' '42.6:17-23' '' %}
          </div>
        </div>
      </li>
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <h3 class="flex items-center justify-between">
            <span class="kufi">القداس</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </h3>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeLitugy '58.12:3-14' '60.4:12-19' '44.8:3-13' '19.34:19-20' '40.4:23-25*@+40.5:1-16' %}
          </div>
        </div>
      </li>

      {% endif %}
        </ul>
    </section>
    <section id="article">
      <h3 class="mt-8 mb-4 heading-explain">شرح القراءات</h3>
      {% createArticleAccordions %}
        <p>حتى متى أيها السيد القدوس والحق، لا تقضي وتنتقم لدمائنا من الساكنين على الأرض &#8221; (رؤ ٦: ١٠)</p>
<p>يمينك يا رب تمجدت بالقوة. يدك اليمنى يا إلهي أهلكت أعداءك.</p>
<p>بكثرة مجدك، سحقت الذين يقاوموننا، أرسلت غضبك، فأكلهم مثل الهشيم.</p>
<p>الهوس الأول</p>
<p><a href="#_ftn1" name="_ftnref1">[1]</a>&#8221; إنه يليق بالمجاهدين على الأرض أيضًا أن يصبروا على الأشرار حتى يوم الدينونة. &#8221;</p>
<h3>شواهد القراءات</h3>
<p>(مز ٣١: ١٢ ، ٧) ، (مز ٣٢ : ١) ، (مت ١٠ : ٣٤ - ٤٢) ، (مز ٣٢ : ١ ، ١٢) ، (لو ٦ : ١٧ - ٢٣) ، (عب ١٢ : ٣ - ١٤) ، (١بط ٤ : ١٢ - ١٩) ، (أع ٨ : ٣ - ١٣) ، (مز ٣٣ : ١٨ ، ١٩) ، (مت ٤ : ٢٣ - ٥ : ١ - ١٦)</p>
<h3>ملاحظات علي قراءات يوم ٢٦ طوبه</h3>
<p>+ قراءة إنجيل عشيّة اليوم  (مت ١٠ : ٣٤ - ٤٢) هي نفس قراءة إنجيل عشيّة يوم ٢٨ هاتور ( تذكار أنبا صرابامون أسقف نيقية ) ، يوم ١ نسئ ( شهادة القديس أفتيخوس ) ، وهي نفس قراءة إنجيل باكر ليوم ٢٧ برمودة ( شهادة بقطر بن رومانوس )</p>
<p>وهي القراءة التي تكلمت عن محبة الرب فوق كل شئ ، وبذل الحياة كلها لأجله ، وقبول الألم حتي الموت من أجل الإيمان</p>
<p>+ إنجيل باكر اليوم (لو ٦ : ١٧ - ٢٣) هو إنجيل التطويبات للذين إحتملوا الآلام من أجل الإيمان ، وهو الحديث الذي وجهه الرب لتلاميذه القديسين ( آية ٢٠ ) لكي لا ينزعجوا من الإضطهاد الذي سوف يقع عليهم بسبب الكرازة ، وهو نفس إنجيل باكر في قراءات أيام ٢٧ بابه ( تذكار أنبا مكاريوس أسقف إدكو ) ، ٩ هاتور ( تذكار إنعقاد مجمع نيقية ) ، ١٧ هاتور ( تذكار يوحنا ذهبي الفم ) ، ٢٨ هاتور ( تذكار أنبا صرابامون أسقف نيقية )</p>
<p>ويُضاف إلي هذه القراءة الجزء السابق لها (لو ٦: ١٢ - ٢٣) ، وهو الجزء الخاص بإختيار الآباء الرسل ، لذلك جاء في قراءة إنجيل باكر ليوم ٢٦ بشنس ( تذكار توما الرسول ) ، وإنجيل باكر ليوم ٥ أبيب ( تذكار شهادة القديسين بطرس وبولس ) ، وإنجيل القدّاس في اليوم الثاني من النسئ ( نياحة القديس تيطس الرسول )</p>
<p>+ قراءة البولس اليوم (عب ١٢: ٣ - ١٤) جاءت أيضاً في قراءة يوم ١٥ هاتور</p>
<p>وهي قراءة إحتمال الآلام لذلك جاءت في تذكار مارمينا والتسعة والأربعين شهيداً</p>
<p>+ قراءة الكاثوليكون اليوم (١بط ٤: ١٢ - ١٩) تكررت في يومي ١٥ هاتور ، ١٠ بشنس</p>
<p>وهنا آلام الشهداء التي آلت إلي إستعلان مجد المسيح (يمجد الله بهذا الإسم ) مثل مار مينا في ١٥ هاتور ، والتسعة والأربعين شيخاً شهداء برية شيهات ( ٢٦ طوبه ) ، والثلاثة فتية القديسين ( ١٠ بشنس )</p>
<p>+ قراءة الإبركسيس اليوم (أع ٨: ٣ - ١٣) هي نفس قراءة الإبركسيس ليوم ١٣ طوبه</p>
<p>هنا القراءة تبدأ بالضيقة الجماعية وإضطهاد شاول لمجموعات من الرجال والنساء لذلك تأتي القراءة في تذكار شهادة التسعة والأربعين شيخاً شيوخ شيهات (٢٦ طوبه) ، كما أنها تُخْتَم بعضوية الأسرة في الملكوت بالمعمودية كما كانت في عرس قانا الجليل بحضور المسيح له المجد ( ١٣ طوبه )</p>
<p>كما أنها تُشبه قراءة الإبركسيس (أع ٨: ٥ - ١٣) للأحد الرابع من شهر أمشير ، ومجيئها في قراءة الأحد للمُقارنة بين سيمون الساحر الذي خسر كل شئ بسبب محبَّة المال ، وزكَّا العشار الذي إستهان بكل شئ وأعطاه بفرح للفقراء من أجل محبَّة المسيح</p>
<p>+ إنجيل قدّاس اليوم (مت ٤: ٢٣ - ٥ : ١-١٦) هو نفس إنجيل القدَّاس ليوم ٢٧ بابة ، وإنجيل عشيّة ليوم ١٧ هاتور</p>
<p>وهي قراءة التطويبات التي جاءت في الموعظة علي الجبل لذلك جاءت في تذكار نياحة أنبا مكاريوس أي الطوباوي أو المُطوَّب ( ٢٧ بابه ) وشيوخ برية شيهيت ( ٢٦ طوبه ) وتذكار القديس يوحنا ذهبي الفم ( ١٧ هاتور )</p>
<p>وكأنها تحكي الحياة الطوباوية للقديسين (٢٧ بابه ) ، والرعاة ( ١٧ هاتور ) ، والشهداء ( ٢٦ طوبة )</p>
<h4>القراءة المُحوَّلة عليه</h4>
<p>٥ مسري       نياحة القديس العابد يوحنا الجندي</p>
<h3>شرح القراءات</h3>
<p>شهادة التسعة والأربعين شهيداً شيوخ شيهات</p>
<p>الظهور الإلهي والكنيسة المُتألِّمة والشاهدة للملكوت بأبناؤها المُطوَّبين</p>
<p>تتكلّم قراءات اليوم عن آلام الكنيسة والضيقات التي تجتازها في العالم وظهور الله في عبادتها وخدمتها وكيف يُسْتَعلن مجد الله فيها مع كل تجربة وضيقة تجتازها ونصرتها في المسيح علي كل أعمال الظلمة</p>
<h4>ملحوظة</h4>
<p>يبقي تساؤل في عنوان هذا اليوم</p>
<p>لماذا لم يُقال أنه تذكار شهادة التسعة والأربعين شهيداً شيوخ شيهات وشهادة مرتينوس وذيوس إبنه ؟خاصة أن مرتينوس رسول الملك ثيئودوسيوس الصغير إصطحب معه إبنه للذهاب إلي برية شيهيت للتبرك من الشيوخ ، كما أن الله فتح عيني إبنه فرأي الأكاليل للشهداء ، وقال لأبيه ، فأظهروا أنفسهما للبربر ونالا إكليل الشهادة مثل الشيوخ ! كما يقول سنكسار اليوم</p>
<p>تبدأ المزامير بالفرح والتسبيح رسالة الكنيسة وسط الألم ( مزمور عشيّة ) والذي من خلاله يُسْتَعلن إنتسابها له ( مزمور باكر ) وهو مصدر نجاتها وحمايتها ( مزمور القداس )</p>
<p>يبدأ مزمور عشيّة بدعوة الكل للفرح والتهليل والتسبيح راحة النفوس وسط الألم والضيق</p>
<p>( افرحوا أيها الصديقون بالرب وتهلّلوا للمستقيمين ينبغي التسبيح من أجل ذلك تبتهل إليك كل الأبرار في آوان مستقيم )</p>
<p>وفِي مزمور باكر نُعلن إنتسابنا له بحياة التسبيح وكما يقول القديس أغسطينوس</p>
<p>&#8220;طوبى للأمة التي الرب إلهها&#8221; . سمعتم أن أمته تمتلكه&#8230; الآن تسمعون أنه يمتلكهم: &#8220;الشعب الذي اختاره ميراثًا له&#8221;. طوبى للأمة فيما تمتلكه، وطوبى للميراث فيمن يمتلكه.</p>
<p>( إبتهجوا أيها الصديقون بالرب للمستقيمين ينبغي التسبيح طوبي للأمة التي الرب هو إلهها والشعب الذي إختاره له ميراثاً )</p>
<p>وفِي مزمور القداس نري حماية وحصانة الله للكنيسة من أي إنكسار</p>
<p>( كثيرة هي أحزان الصديقين ومن جميعها ينجيهم الرب يحفظ الرب جميع عظامهم وواحدة منها لا تنكسر )</p>
<p>وفِي القراءات نري هدف الضيقات ( البولس ) ونقاوة الكنيسة ومُجازاة الله ( الكاثوليكون ) وكرازة وشهادة الكنيسة في ألمها ورغم ضيقاتها ( الإبركسيس )</p>
<p>يبدأ البولس بالتركيز في رئيس آلامنا الرب يسوع وإدراك هدف الضيقات أن نكون قديسين وأهميّة إجتهاد الحياة ونقاوتها وقداستها</p>
<p>( فتفكّروا في الذي إحتمل هكذا من الخطاة المقاومين لنفوسهم وحدهم لئلا تكلّوا وتخوروا في نفوسكم &#8230; لأن أولئك أدّبونا أياماً قليلةً حسب إرادتهم وأما هذا فلمنفعتنا بالأكثر لكي ننال من قداسته &#8230; لذلك قوّموا الأيادي المسترخية والأرجل المُخلّعة &#8230; أسعوا في أثر الصلح مع جميع الناس وأيضاً في الطهارة التي بدونها لن يري أحد الرب )</p>
<p>وفِي الكاثوليكون نري ضيقة الكنيسة برغم نقاوتها ولأجل قداستها وعلي قدر آلامها وضيقتها علي قدر إستعلان مجد الله فيها ولكن أيضاً قضاء الله ودينونته لفاعلي الشر</p>
<p>( بل كما اشتركتم في أوجاع المسيح أفرحوا لكي تفرحوا بإبتهاج في إستعلان مجده أيضاً وإن عُيرتم بإسم المسيح فطوبى لكم لأنَّ ذَا المجد والقوة وروح الله يحلّ عليكم &#8230; ولكن إن كان كمسيحي فلا يخجل بل يُمجِّد الله بهذا الإسم لأنه الوقت لابتداء القضاء من بيت الله )</p>
<p>وفِي الإبركسيس الكنيسة المُضطَهدَة المُبشِّرة الكارزة والتي تنمو فوق كل قوي العالم وأعمال السحر</p>
<p>( وأما شاول فكان يضطهد الكنيسة وهو يدخل البيوت ويجرُّ رجالاً ونساءً ويسلّمهم إلي السجن أما الذين تشتتوا كانوا يجولون مبشِّرين بكلمة الله .. ولكن لما آمنوا بفيلبس وهو يبشّر بالأمور المختصة بملكوت الله وبإسم يسوع المسيح اعتمدوا رجالاً ونساء وسيمون أيضاً نفسه آمن )</p>
<p>وفِي الأناجيل يُعْلِن الرب مدي الإضطهاد الذي سيأتي لمن يؤمن بظهوره الإلهي ( إنجيل عشيّة ) ويطوّب الرب الباكين والمتألمين والمُضطهدين لأجله ( إنجيل باكر ) ويطمئنهم بأن نورهم وملحهم سيغمر العالم ( إنجيل القداس )</p>
<p>في إنجيل عشيّة يُعْلِن الرب مدي الألم الذي سيكون للمؤمنين بإسمه ولكن في ذات الوقت يُعْلِن مكافأته وتعويضه لهم حتي في أبسط الأعمال</p>
<p>( لا تظنوا إني جئت لألقي سلاماً علي الأرض ما جئت لألقي سلاماً بل سيفاً فإني أتيت لأفرّق الإنسان ضد أبيه والإبنة ضد أمّها &#8230; ومن لا يحمل صليبه ويتبعني فلا يستحقني &#8230; ومن يسقي أحد هؤلاء الصغار كأس ماء بارد فقط بإسم تلميذ فالحق أقول لكم أنه لا يضيع أجره )</p>
<p>وفِي إنجيل باكر التطويب للباكين والمتألمين والمُضطهدين لأجل إسمه القدّوس</p>
<p>( طوباكم أيها المساكين بالروح لأن لكم ملكوت الله &#8230; طوباكم أيها الباكون الآن لأنكم ستضحكون طوباكم إذا أبغضكم الناس وأعتزلوكم وعيّروكم وأخرجوا إسمكم كشرير من أجل إبن البشر افرحوا في ذلك اليوم وتهلّلوا فإن ها هوذا أجركم عظيم في السماء لأنه هكذا كان آباؤهم يفعلون بالأنبياء )</p>
<p>وفِي إنجيل القداس مع تطويب المتألمين يطمئن الرب تلاميذه وخدّامه بأن نوره فيهم سيغمر العالم كله</p>
<p>( طوباكم إذا طردوكم وعيّروكم وقالوا عليكم كل كلمة شرّيرة من أجلي كاذبين افرحوا وتهلّلوا &#8230; أنتم ملح الأرض وإذا فسد الملح فبماذا يُملّح لا يصلح بعد لشئ إِلَّا لأن يُطرح خارجاً ويُداس من الناس أنتم نور العالم لا يُمكن أن تُخْفي مدينة موضوعة علي جبل ولا يُوقِدُون سراجاً ويضعونه تحت مكيال بل يوضع علي المنارة فيضئ لكل من في البيت )</p>
<h3>ملخّص القراءات</h3>
<p>يجتاز أولاد الله الألم والضيق بإلتصاقهم بالله وثقتهم في حمايته وتسبيح إسمه</p>
<p>مزمور باكر والقدّاس وعشية</p>
<p>وهدف الضيقات أن نكون قديسين                                  البولس</p>
<p>والمجد دائماً مرافق للألم                                                الكاثوليكون</p>
<p>والضيق يؤول إلي إنتشار الكرازة                                    الإبركسيس</p>
<p>لذلك يطمئنهم لكي لا ينزعجوا بسبب الضيق               إنجيل عشيّة</p>
<p>ويُوعدهم بالمكافأة السماوية                                         إنجيل باكر</p>
<p>وبإنتشار نورهم في العالم                                               إنجيل القدَّاس</p>
<h3>أفكار مُقترحة للعظات</h3>
<h4>(١) شهادة الكنيسة</h4>
<p>١- التسبيح</p>
<p>&#8221; للمستقيمين ينبغي التسبيح من أجل ذلك تبتهل إليك كل الأبرار في آوان مستقيم &#8221;  مزمور عشيّة</p>
<p>٢- حمل الصليب</p>
<p>&#8221; ومن لا يحمل صليبه ويتبعني فلا يستحقني &#8221;     إنجيل عشيَّة</p>
<p>٣- المساكين بالروح - الجياع - الباكون - المُضطَّدون</p>
<p>&#8221; طوباكم أيها المساكين بالروح لأن لكم ملكوت الله &#8230;&#8221;     إنجيل باكر</p>
<p>٤- كنيسة إحتمال الآلام والجهاد حتي الدم وقبول التأديب والصلاة الدائمة والقداسة</p>
<p>&#8221; فإنكم لم تقفوا حتي الدم مجاهدين ضدالخطية &#8230;. لذلك قوّموا الأيادي المسترخية والأرجل المخلَّعة &#8221;       البولس</p>
<p>٥- كنيسة كرازة وسط الضيق والألم</p>
<p>&#8221; وإن عيرتم بإسم المسيح فطوبى لكم لأن ذا المجد والقوة وروح الله يَحلُّ عليكم &#8221;     الكاثوليكون</p>
<p>٦- ملح الأرض ونور العالم</p>
<p>&#8221; أنتم ملح الأرض &#8230; أنتم نور العالم &#8221;         إنجيل القدَّاس</p>
<h4>(٢) المكافأة</h4>
<p>١- مكافأة أعمال المحبّة البسيطة</p>
<p>&#8221; لا يضيع أجره &#8221;           إنجيل عشيَّة</p>
<p>٢- أعظم مكافأة للشعب إنتسابه لله</p>
<p>&#8221; الشعب الذي إختاره له ميراثه &#8221;          مزمور باكر</p>
<p>٣- الشبع والفرح والملكوت عطايا الله لأولاده المساكين والجياع والباكين</p>
<p>&#8221; لكم ملكوت الله .. ستشبعون .. ستضحكون .. أجركم عظيم في السموات &#8221;      إنجيل باكر</p>
<p>٤- مكافأة التدرُّب علي البر</p>
<p>&#8221; فيعطي الذين يتدربون به ثمر برّ للسلام &#8221;       البولس</p>
<p>٥- مكافأة إحتمال الألم</p>
<p>&#8221; لأن ذا المجد والقوة وروح الله يحل عليكم &#8221;             الكاثوليكون</p>
<p>٦- حماية الرب لأولاده في آلامهم وأحزانهم</p>
<p>&#8221; يحفظ الرب جميع عظامهم وواحدة منها لا تنكسر &#8221;       مزمور القدَّاس</p>
<p>٧- المكافأة السماوية للمضطهدين من أجل الله</p>
<p>&#8221; افرحوا وتهلّلوا لأن أجركم عظيم في السموات &#8221;          إنجيل القدَّاس</p>
<h4>(٣) مقارنة بين شريعة العهد القديم وشريعة العهد الجديد</h4>
<p>مقارنة بين خروج ٢٠ وبين مت ٧،٦،٥</p>
<p>+ في سفر الخروج إصحاح ٢٠ الوصايا العشر وفِي انجيل متي ٧،٦،٥ الموعظة علي الجبل</p>
<p>+ مقارنة بين لا تقتل ، لا تزن &#8230;.  وبين طوبي للمساكين بالروح .. طوبي للودعاء &#8230;</p>
<p>+ بين شريعة النواهي .. وشريعة التطويبات</p>
<p>+ بين بشرية في طور الطفولة والتربية والتعامل معها مثل التعامل مع الأطفال بالأوامر والنواهي والمكافأة والعقاب ، وبين بشرية ناضجة أخذت نعمة الروح القدس فتعمل كل شئ بالإرادة الحرّة والحب الواعي</p>
<p>+ بين شريعة أخذها شخص واحد نيابة عن الشعب والجبل كلُّه يدخِّن بالنار .. وبين شريعة نزل فيها الإله إلي شعبه وأصعدهم معه إلي الجبل</p>
<p>+ بين شريعة كانت مكافأتها بالأكثر أرضية &#8230; وشريعة فاضت بعطايا سماوية</p>
<p>+ لكن شريعة التطويبات والكمال لم تلغٍ  شريعة النواهي ، مثل الحروف والكلمات ، وهكذا أظهرت نعمة العهد الجديد مجد ناموس العهد القديم ، ويرافقنا خوف الله في عبادتنا علي الدوام كبنين له ، لكنه صار خوف الحب ، كما يصير روح الطفولة مُرافق للشخص الناضج حتي إنتقاله من العالم ، هكذا ترافقنا مهابته فتحفظ نضج الحب فينا كبنين</p>
<h3>عظات آبائية</h3>
<h4>العلَّامة أوريجانوس</h4>
<p>الصعود علي الجبال المقدسة للعلامة أوريجانوس</p>
<p>٢- إذا لو ارت ان ياخذك القانصون احذر من ان تمضي حياتك مختبئا في هذه الأرض وعائشا في التراب ، بل ابحث عن الجبال. اصعد الي الجبل الذي تجلي عليه السيد المسيح. اصعد الي الجبل الذي قيل عنه : ولما راي الجموع صعد إلي الجبل ، ولما جلس تقدم اليه تلاميذه ففتح فاه وعلمهم قائلاً: طوبي للمساكين بالروح لان لهم ملكوت السماوات ، وبقيه تطوبيات التي علمها لهم السيد المسيح علي هذا الجبل .</p>
<p>ثم أرسل بعد ذلك الي كثيرين من القانصين فيقتنصوهم عن كل جبل وعن كل اكمه ومن شقوق الصخور . إنه غير مسموح لهؤلاء القانصين ان يصطادوا إلا علي &#8221; الجبال&#8221; وعلي &#8220;الاكام&#8221; وفي شقوق الصخور &#8221; كيف أفسر شقوق الصخور &#8221; ؟</p>
<p>سوف أرجع الي سفر الخروج وابحث فيه عن تفسير لذلك. أجد ان موسي النبي حينما اراد ان يري الله قال له الرب هذه الكلمات ليجيب علي طلبه : هوذا عندي مكان. فتقف علي الصخره . ويكون متي اجتاز مجدي اني اضعك في نقره من الصخره واسترك بيدي حتي اجتاز . ثم ارفع يدي فتنظر ورائي . أما وجهي فلا يري (خر ٣٣ : ٢١) . فإذا فهمت ما هي هذه الصخره وما هي الفتحه أو النقرة الموجوده فيها عالما كيف ان الذي يقف علي الصخره وينظر من خلال النقره التي فيها ، يمكنه أن يري الله لأمكنك أن تفهم ما هي الصخور العديده وما هي شقوقها .</p>
<p>ما هي تلك الصخره الفريده من نوعها ؟ &#8221; لأنهم كانوا يشربون من صخره روحيه تابعتهم والصخره كانت المسيح &#8221; (١كو ١٠ : ٤) وايضا : &#8221; واقام علي صخره رجلي &#8221; كما يقول المزمور (مز ٤٠ : ٢) . ما هي إذا النقره الموجوده في الصخره والتي تمكننا من رؤيه ما وراء الله ( فتنظر ورائي ) ؟ الصخره هي السيد المسيح ، والنقره الموجوده فيها هي التجسد الالهي ، لأن بمجيء السيد المسيح في الجسد أمكننا أن ننظر ما وراء الرب ، اي الابن الكلمه .</p>
<p>٣- الي الان لم نتكلم إلا علي صخره واحده وعلي نقره واحدهً فقط ، لذا سوف انتقل من نقره الصخره الي شقوق الصخور . فإنه بالنظر الي جماعه الانبياء أو الرسل أو الملائكه القديسين ، يمكنني أن اقول أن كل المتشبهين بالسيد المسيح ، يصيرون صخورا كما أنه هو أيضا صخره . وكما أن المخلص له نقره يمكننا من خلالها أن نري ما وراء الرب ، فكذلك ايضا كل واحد منهم ، يصنع في نفسه نقره او شق تمكننا من رؤيه الله ، وذلك من خلال &#8221; كلماتهم &#8221; التي ترشدنا الي الرب : فموسي قدم لنا الناموس ، واشعياء قدم لنا نبوته ، ارميا قدم لنا كلمات اخري للرب . ولكن حدث وكان المتكلم هو ملاك كما تقول الايه :&#8221; الملاك الذي يتكلم في &#8220;،فإنني في هذه الحاله أيضاً سوف يكون عندي &#8221; صخره &#8221; و&#8221;نقره&#8221;، وسوف أري الله من خلال كلمات ( نقره) الملاك ( الصخره) .</p>
<p>٤- احتاج الي مثال لأوضح كيف يمكن أن نري الله عن طريق ملاك :</p>
<p>مكتوب في سفر الخروج : وظهر له ملاك الرب بلهيب نار في وسط عليقه ، فنظر وإذا العليقه تتوقد بالنار والعليقه لم تكن تحترق ، ثم بعد ذلك ، لم تقل له الكلمه : &#8221; انا ملاك من عند الرب &#8220;، وانما : &#8221; انا إله أبيك ابراهيم وإله إسحق واله يعقوب &#8221; (خر ٣: ٦) . إذا فان الله في هذه الحاله ظهر في صوره ملاك ، وبالتالي أمكن رؤيته عن طريق الصخره التي هي الملاك ، وكذلك عن طريق النفره التي هي كلمات الملاك له .</p>
<p>إذا انت تجهل متي سيرسل الله إليك القانصين. لذا يجب عليك ألا تنزل أبدا من علي الجبال ، ولا تترك الآكام ولا تخرج من شقوق الصخور ، لانه لو وجدت خارجا يقال لك مثل أهل هذا العالم الموجودين خارجا باستمرار : &#8221; يا غبي . هذه الليله تؤخذ نفسك منك ، فهذه التي أعددتها لمن تكون ؟&#8221;. وسوف يقال نفس هذا الكلام إذا قلت في نفسك : أهدم مخازني وابني اعظم منها، واقول لنفسي : يا نفسي كلي واشربي لك خيرات كثيره تكفيك إذا ، بما أنه &#8221; بالكيل الذي تكيلون يكال لكم &#8221; (مت ٧:٢)، فإن كل واحد مسئول عن الطريقة التي سيكتب بها، فإذا تبحث عن الاشياء الموجوده في التراب، لن تتمكن من النظر إلي الأمور السماويه ، وإذا كانت نفسك تميل إلي أمور هذا العالم الزائل ، فإنك أنت المسئول ، لأن السيد المسيح يقول : &#8221; لا تكنزوا علي الأرض حيث يفسد السوس والصدأ وحيث ينقب السارقون ويسرقون ، بل اكنزوا لكم كنوزا في السماء حيث لا يفسد سوس ولا صدأ &#8230;.&#8221;(مت ٦: ٩). هل تكنز في السماء ؟</p>
<p>إنها مسئوليتك انت ، لو أردت ان يكون اسمك مكتوبا في السماوات .</p>
<p>هذا بالنسبة للكلمات : &#8221; في التراب يكتبون &#8220;، ثم يوضح النبي ذلك ،فيقول : لأنهم تركوا الرب ينبوع المياه الحيه ( ينبوع الحياه )&#8221;.</p>
<p>يقول إرميا في بدايه سفره هذه الكلمات ، لكن علي لسان الله : تركوني أنا ينبوع الحياه (ار ٢: ١٣) . فإذا كنا لا نريد أن نترك الرب ينبوع المياه الحيه ، فلنجب نحن أيضا نفس الاجابه التي أجابها الرسل الاطهار علي المسيح يسوع حينما سألهم : ألعلكم انتم أيضا تريدون أن تمضوا&#8221;؟ أجابوه &#8221; يارب الي من تذهب ، كلام الحياه الابديه عندك &#8220;.(يو ٦: ٦٧- ٦٨)<a href="#_ftn2" name="_ftnref2">[2]</a>.</p>
<h4>القديس أغناطيوس الأنطاكي</h4>
<p>ما قاله القديس أغناطيوس الأنطاكي لأهل رومية في رسالته لهم وهو في طريقه للإستشهاد :</p>
<p>&#8221; بالصلاة قد وهب لي أن أري وجوهكم الفائقة الكرامة أمام الله فنلت أكثر مما طلبت … ان اراد الله أن يجعلني مستحقاً لنوال الختام (الاستشهاد) ، فستكون البداية حسنة (الحكم الصادر عليه ) ، ان وهب لي نوال نصيبي دون أن يوجد عائق لذلك حتي النهاية . لانني أخشي أن محبتكم لي تسبب لي ضرراً لأنه يسهل عليكم أن تنقذوا من تشاءون ، لكن يصعب علي البلوغ الي الله ان منعتم استشهادي … ان التزمتم الصمت من نحوي فسأصير لله ، أما اذا أظهرتم محبة لجسدي ، فسأصبح مضطراً الي أن أركض شوطي من جديد اذن صلوا الا يوهب لي احسان أعظم من أن أقدم لله ، مادام المذبح لا يزال معداً …</p>
<p>جيد لي أن أرحل من العالم الي الله لاقوم في الله مرة اخري .</p>
<p>&#8230; انني اكتب الي الكنائس وأشدد عليها جميعا بأنني سأموت اختيارا لاجل الله ، ما لم تمنعوني أنتم عن ذلك . أطلب اليكم ألا تظهروا لي عطفا في غير أوانه ، بل اسمحوا لي أن أكون طعاماً للوحوش الضارية التي بواسطتها يوهب لي البلوغ الي الله . انني خبز الله . اتركوني أطحن بأنياب الوحوش لتصير قبراً لي ، ولا تترك شيئاً من جسدي ، حتي اذا ما مت لا أتعب احدا . فعندما لا يعود العالم يري جسدي ، أكون بالحقيقة تلميذاً للمسيح . توسلوا الي المسيح من أجلي حتي أعد بهذه الطريقة لاكون ذبيحة لله …</p>
<p>ليتني أتمتع بالوحوش الضارية التي أعدت لي فانني أصلي أن يكون لها شغف أكثر لتنقض علي . وانني سأغريها لتفترسني سريعاً ، حتي لا تعاملني كما تعامل البعض ، اذ لا تمسهم لأن الخوف قد انتزع منهم . وان لم تشأ أن تهجم علي فسألزمها بالهجوم علي..<a href="#_ftn3" name="_ftnref3">[3]</a>  &#8221;</p>
<h4>القديس غريغوريوس النزينزي</h4>
<p>كيف نكون نورا للقديس غريغوريوس النزينزي</p>
<p>رغم إننا صرنا ظلمة بسبب الخطية فإن الله قد أضفى علينا جمالًا وبهاءً من خلال نعمته الفائقة. عندما يسود الليل ويلف الظلام كل شيء نجد أنه رغم أن بعض الأشياء تصير مضيئة بالطبيعة، إذ حل النهار، فإن مقارنتها بالظلمة لا تنطبق على الأشياء التي كانت معتمة قبلًا بالسواد. وهكذا تعبر النفس من الخطأ إلى الحق، وتتبدل صورة حياتها المظلمة إلى نعمة فائقة. انتقل بولس الرسول عروس المسيح من الظلمة إلى النور، إذ يقول لتلميذه تيموثاوس (١تي ١: ١٣) ، كما العروس لوصيفاتها، إنه قد صار مستحقًا إن يكون جميلًا، لأنه كان قبلًا مجدفًا ومضطهدًا ومفتريًا ومظلمًا. ويقول بولس الرسول أيضًا أن المسيح جاء إلى العالم لينير للذين في الظلمة. إن المسيح لم يدعو أبرارًا بل خطاة إلى التوبة، الذي جعلهم يضيئون كأنوار في العالم (في ٢: ١٥) ، بحميم الميلاد الثاني الذي غسلهم من صورتهم السوداء الأولى.</p>
<p>لنشعل لأنفسنا نور المعرفة. هذا يتحقق بزرع البرّ وحصاد ثمار الحياة، فإن العمل هو ابن التأمل، الأمر الذي نتعلمه بين أمور أخرى هو ما هو النور الحقيقي، وما هو النور الباطل، فنخلص من السقوط بغير حذر في الشر كأننا ساقطون في الخير. لنصبح نحن أنفسنا نورا، كما قيل للتلاميذ من النور الأعظم: &#8220;أنتم نور العالم&#8221; (مت ٥: ١٤). بل ولنصر &#8220;كأنوارٍ في العالم، متمسكين بكلمة الحياة&#8221;، أعني نصير قوة محيية للآخرين. لنتمسك بالألوهة، ونقتبس نورًا من النور الأبهى الأول. لنسر نحوه مشرقين، قبل أن نتعثر في الجبال المظلمة المعادية (إر ٤٢: ١٦). ما دام الوقت نهار فلنسلك بأمانة كما في النهار لا بالبطر والسكر، لا بالمضاجع والعهر (رو١٣: ١٣) ، التي هي أعمال الليل الشريرة  <a href="#_ftn4" name="_ftnref4">[4]</a>.</p>
<h4>القديس أغسطينوس</h4>
<p>لنستعد لتحمل آلام المسيح دوماً</p>
<p>أيها الاخوة الأحباء ، كما قلت مسبقا ان الشيطان يثور ( علينا ) ويتربص ( بنا ) دائما . ولهذا فمن اللائق بنا أن نستعد دائما بترسيخ قلوبنا فى الرب . وعلينا أن نبذل قصارى جهدنا فى التضرع الى الرب من أجل ( أن ننال ) الجلد والشجاعة وسط طريق الضيقات والمحن ، لأننا لسنا شيئا بل مجرد أبناء صغار . ماذا يجب علينا القول فيما يخص أنفسنا ؟ لقد سمعتم الاجابة من بولس الرسول عندما كنتم تقرأون رسالته ، حيث قال : &#8221; لأنه كما تكثر آلام المسيح فينا ، كذلك بالمسيح تكثر تعزيتنا أيضا &#8221; (٢كو ١: ٥) . ولقد عبر (داود) فى المزمور بالطريقة ذاتها قائلا : &#8221; عند كثرة همومى فى داخلى ، تعزياتك تلذذ نفسى &#8220;(مز ٩٤: ١٩) . فالمرتل يعبر بطريقة والرسول بطريقة أخرى ، وكلاهما يخبراننا بأنه ان لم يكن معنا المعزى ، لكنا قد خضعنا للمضطهد واستسلمنا له .فأصغوا الى ما يقوله الرسول عندما كان  بسبب دعوته للخدمة  معوزا لقوة التحمل أو على الأقل لمعونة ( الهية ) اضافية على تلك القوة ، ويقول :  &#8221; فاننا لا نريد أن تجهلوا أيها الاخوة من جهة ضيقتنا التى أصابتنا فى أسيا ، أننا تثقلنا جدا فوق الطاقة .. &#8221; (٢كو ١: ٨) . هذه الضيقة تخطت حدود قوة الانسان على التحمل . ولكن هل كانت أكثر قوة وفعالية من معونة الرب ؟ يقول : &#8221; تثقلنا جدا فوق طاقتنا &#8221; . الى أى مدى ؟ أنصتوا الى ما يقوله عن قوة عقله : &#8221; حتى أيسنا من الحياة أيضا &#8221; (٢كو ١: ٨) . كم كان محبطا من كثرة محنه عندما كان القلق يطوقه ويرجعه الى الوراء ، ومع هذا كم كانت عناية الله تحثه نحو الاستمرار الى ما هو قدام ؛؛ يقول فى موضع آخر: &#8221; ولكن أن أبقى فى الجسد ألزم من أجلكم &#8221; (فى ١: ٢٤) وحتى الآن بات الاضطهاد والمحن والضيقات عظيمة جدا لدرجة أن ( الرسول ) يئس من حياته . الخوف والرعدة قد آتيا عليه والظلمة اكتنفته ، كما سمعتم قرأ المزمور . هذا هو صوت جسد المسيح ، صوت أعضاء المسيح . هل تودون أن تسلموا به وكأنه صوتكم ؟ فكونوا اذا أعضاء المسيح واستمعوا الى ما يقوله ( النبى ) فى المزمور : &#8221; خوف ورعدة آتيا على ، وغشينى رعب . فقلت : ليت لى جناحا كالحمامة ، فأطير وأستريح ؛ &#8221; (مز ٥٥ : ٥ ٦) . أليست هذه مثل صرخة الرسول لما قال : حتى أيسنا من الحياة أيضا . هو كما لو كان يعانى اليأس من وحل الجسد ، اذ أنه كان يتوق الى الطيران الى المسيح حينما كانت كثرة الآلام تعيق رحلته . نعم لقد كان سائما من الحياة ، من هذه الحياة ، لأنه لا يوجد تعب أو ضجر فى الحياة الأبدية ، التى يشير اليها بقوله : &#8221; لأن لى الحياة هى المسيح والموت هو ربح &#8221; (فى ١: ٢١) . عناية الله هى التى كانت تدفعه بقوة الى ابقائه فى هذه الحياة .</p>
<p>فما كانت نتيجة هذه القيود ؟ &#8221; ولكن ان كانت الحياة فى الجسد هى لى ثمر عملى ، فماذا أختار ؟ لست أدرى ؛ فانى محصور من الاثنين : لى اشتهاء أن أنطلق وأكون مع المسيح ، ذاك أفضل جدا &#8221; (فى ١: ٢٢- ٢٣) . &#8221; ليت لى جناحا كالحمامة ، فأطير وأستريح ؛ &#8221; وأيضا : &#8221; ولكن أن أبقى فى الجسد ألزم من أجلكم . لقد سلم ذاته وخضع من أجل طيوره الصغيرة المغردة ، فسيج حولهم ورعاهم ورباهم تحت جناحيه المبسطين . تعبيره الخاص هو : &#8221; بل كنا مترفقين فى وسطكم كما تربى المرضعة أولادها &#8221; (١تس ٢ ٧) <a href="#_ftn5" name="_ftnref5">[5]</a> .</p>
<h4>أنبا باخوميوس أب الشركة</h4>
<p>عظة للقدِّيس أنبا باخوميوس أب الشركة</p>
<p>والآن، يا ابني، سنسمع هذا وما هو أعظم منه، إنْ نحن تهاونا ولم نطع لنغفر لبعضنا البعض. لنتيقظ ونعرف فضائلَ الله (التي من عند الله) التي ستعيننا يوم الممات، هؤلاء المرشدين في وسط الحرب القاسية والمخيفة، مقيمي النفس من الأموات. فأوَّلاً سُلِّمْنَا إيمانًا ومعرفةً، لكي نطرح عنا عدم الإيمان. بعد ذلك سُلِّمْنَا حكمةً وفطنةً، لكي نعرف فكرَ الشيطان ونهرب منه ونبغضه، ثم كُرِزَ لنا بصيامٍ وصلاةٍ وعفَّةٍ، تلك الأشياء التي تمنح الجسدَ هدوءًا وسكينةً من آلام الشهوة. أُعْطِينا طهارةً وحمايةً يسكن اللهُ فينا بسببها. أُعْطِينا طولَ أناةٍ ووداعةً. إنْ نحن حفظنا هذه (العطايا) كلها، فسنرث مجدَ الله (المجد الذي لنا من الله).</p>
<p>لقد أُعْطِينا محبةً وسلامًا، هذَيْن المقتدرَيْن في الحرب، لأنَّ العدو لا يستطيع أن يقرب مكاناً هُمَا فيه. أوصينا بالفرحة، لكي نحارب بها الكَرْبَ. كذلك عُلِّمْنَا العطاءَ والصلاحَ، وأُعْطِينا الصلاةَ المقدَّسة والاحتمالَ (المثابرة) اللذَيْن يملئان النفسَ بالضياء، وأُعْطِينا حياءً (حشمة) وبساطةَ قلبٍ يبدِّدان الشرَّ، وكُتِبَ لنا (أُمِرْنَا) عن عدم الإدانة، لكي نهزم الكذبَ، هذا الأذى الردئ الذي في الإنسان. لأننا إذا لم ندن، فلن نُدَان في يوم الدينونة. لأنَّ قبول الألم والظلم (الواقع) علينا قد أُعْطَوْا لنا حتَّى لا يهزمنا التراخي.</p>
<p>لأنَّ آباءنا قد أكملوا حياتهم في جوعٍ وعطشٍ وآلامٍ كثيرة حتَّى اقتنوا لنا الطهارة، هاربين بالأخص من شرب الخمر المملوء من كلِّ ضررٍ. هذه الاضطرابات والقلاقل والسلوكيات غير اللائقة ساكنة في أعضائنا بسبب كثرة الخمر. هو جنونٌ غزيرُ الخطيةِ؛ هو إسرافٌ وتبديدٌ للثمار. لأنَّ لذة النَهَم تجعل الفكرَ سفيهًا، وتجعل الضميرَ بلا حياء، وتقطع لجامَ اللسان. لأنَّ قمة الابتهاج هو ألا نُحْزِن الروحَ القدس، وألا نترنح بلذةٍ. لأنه قال: “الكاهن والنبي ترنحا بالخمر” (إش ٧:٢٨)، “الخمر منفلتة، والسُكْر هوان. من سيستسلم لهما لن يصير طاهرًا من الخطية .” (أم١:٢٠) الخمر جيدٌ، إنْ شربته بقدر. إنْ سلَّمتَ عينيك للكؤوس والطاسات، ستسير عريانًا مثل يد الهاون (أم ٣١:٢٣). إنْ كان هناك من أعدُّوا أنفسَهم ليصيروا تلاميذًا ليسوع، فليعتزلوا الخمرَ والسُكْرَ.ولأنَّ آباءنا كانوا على درايةٍ بعِظَم الضرر الذي سيقع من جرَّاء الخمر، فقد اجتنبوه، وكانوا يشربون منه أقلَّ القليل لأجل المرض. لأنهم إن كانوا قد سمحوا بقليلٍ (منه) للعامل العظيم تيموثاوس، الذي كان جسده مريضًا جدًّا (١ تي ٢٣:٥)، فنجاسات ألم الشهوة تكون عديدة علىالفائر في شَرِّ عنفوان الصبوة. ماذا سأقول لهم؟ أخشى أن أقول: “لا تشرب البتة” حتَّى لا يتذمر عليَّ واحدٌ يكره خلاصَ نفسه. لأنَّ هذه الكلمات ثقيلةٌ على كثيرين في هذا الزمان. ومع ذلك، جيد، يا أحبائي، أن نحترز، ونافع هو الألم. لأنَّ من يوجع نفسَه، ينجِّي سفينته نحو ميناء الخلاص الحسن والمقدَّس، وسيشبع من خيرات السماء. وأعظم من كلِّ هذا أنَّ (آباءنا) قلَّدونا التواضعَ، هذا الذي يصون كلَّ الفضائل، هذه القوة المهولة التي التحف بها اللهُ وهو آتٍ إلى العالم؛التواضع: سور الفضائل، كنز الأعمال، السلاح المُخَلِّص، دواء كلِّ الجراح. لَمَّا عُمِلَتْ صنائعُ الحرير والذهب وكلُّ هذه الزينة لخيمة الاجتماع، حُجِبَتْ بسِتْرٍ من المسوح. وعلي إنه كان حقيرًا أمام الناس، إلا إنه كان مختارًا ومكرَّمًا أمام الله. فإذا اقتنينا لأنفسنا (التواضعَ)، فسوف ندوس كلَّ قوة العدو. لأنه قال: “إلى مَن أنظرُ سوى إلى المتضع والوديع.” (إش ٢:٦٦)</p>
<p>فلا نتراخَ في وقت الجوع، لأنَّ التفاخر والكبرياء قد ازدادا، والشَرَه قد كثر، وتسلَّط الزني من جرَّاء شبع الجسد، وتَحَكَّم الاستعلاءُ، وكفَّ الصغارُ عن طاعة الكبار، وتوقَّف الكبارُ عن الاهتمام بالصغار، وسَلَك كلُّ واحدٍ في شهوات قلبه. والآن، هذا هو الوقت لكي نصرخ مع النبي: “ويل لي، يا نفسي، لأنه قد باد التقيُّ من الأرض، وليس مستقيمٌ بين الناس حسب المسيح ، أي غير موجود البتة، وضايق كلُّ واحدٍ جارَه.” (مي ١:٧-٢) جاهدوا، يا أحبائي، لأنَّ الوقت قد اقترب والأيام قصرت. فلا أب ينصح أبناءه ، ولا ابن يطيع أباه. بادت العذارى الصالحات، ورقد (مات) الآباء القدِّيسون في كلِّ موضعٍ. فنيت الأمهاتُ كما الأرامل. صرنا كاليتامى. قد سُحِق المتضعون، وضُرِبَت رؤوسُ المساكين. من أجل هذا،غَضَبُ اللهِ على وشك أن يأتي، فننوح وليس مَن يعزينا. وكلُّ هذا يحدث لنا، لأننا لم نوجع أنفسنا. فلنجاهد، يا أحبائي، لكي ننال الإكليلَ الْمُعَدَّ. فالعرش منصوب، وباب الملكوت مفتوح. مَن يغلب فسأعطيه من المَنِّ المخفي. إذا جاهدنا وانتصرنا على ألم الشهوة، فسنملك إلى الأبد. أمَّا إذا هُزِمْنا، فسنندم ونبكي بكاءً مُرًّا. فلنجاهد ضد أنفسنا، ما دامت التوبةُ موضوعةً أمامنا. لنتسربل بالألم، لكي نتجدَّد بواسطة الطهارة. لنكن محبين للبشر، لكي نصادق يسوعَ محبَّ البشر.إنْ كُنَّا قد نذرنا لله رهبنةً، فالنعمل أعمالَ الرهبنة، التي هي : الصوم ، والطهارة، والصمت، والتواضع، وإنكار الذات والمحبة، وليس مجرد بتولية الجسد، بل بتولية البُعد عن كلِّ خطية. لأنَّ في الإنجيل هناك عذارى قد رُفِضْن بسبب تراخيهن، والساهرات في جَلَدٍ دخلن إلى العُرْس. ليت كلَّ واحدٍ يدخل إلى ذلك المكان إلى الأبد.</p>
<p>وعن محبة المال التي نُحَارَب بسببها: إنْ كنتَ تريد أن تقتني لنفسك مقتنيات، تلك التي هي طُعْمٌ في صنارة صيَّاد السمك، بواسطة محبة النصيب الأكبر (الطمع)، أو التجارة، أو الظلم، أو الحسد، أو كثرة الشغل اليدوي فلا تتفرغ لعبادة الله، أو بأي شكلٍ؛ وإنْ كنتَ اشتهيت أن تجمع لنفسك ذهبًا أو مالاً، فتذكَّرْ مَن قال في الإنجيل:“يا غبي، هذه الليلة تُطْلَب نفسُك منك، فهذه التي أعددتها لمن تكون؟” (لو ٢٠:١٢) وكذلك: “يذخر (ذخائر) ولا يدري مَن يضمها.” (مز ٦:٣٩)جَاهِدْ، يا عزيزي، وقاوِمْ ألم الشهوة، وقُلْ:“سأفعل مثل إبراهيم. سأبسط ‹يدي› نحو الله العلي، خالق السماء والأرض، قائلاً: لن آخذ شيئًا من كلِّ ما هو لك، ولا حتَّى خيطًا ولا سيرَ حِذَاءٍ.” (تك ١٤: ٢٢- ٢٣) وكان هذا خيرًا عظيمًا لغريبٍ متواضعٍ. والرب يحبُّ الغريبَ، فيعطيه خبزًا ولباسًا. أمَّا عن الجَزَع الذي نُحَارَب أيضًا به: “اخْزِنْ من أجل الصَدَقة والحاجة”، فتذكَّر أنه مكتوبٌ: “تصير مخازنُك ملعونةً وما فيها.” (تث١٧:٢٨) أمَّا عن الذهب والمال، فقد قال يعقوب:“صدأهما يكون شهادةً عليكم، ويأكل الصدأُ لحومَكم كنارٍ” (يع ٣:٥)، وأيضًا: “مختارٌ هوالرجل البار الذي لا يملك أوثانًا وينظر تعييرهم.” طَهِّرْ ذاتَك من الحرام قبل أن يدعوك الربُّ. لأنك وضعت رجاءك في الله، لأنه مكتوبٌ: “لتكن قلوبُكم طاهرةً وكاملةً لدى الله.” (١ مل ٦١:٨)</p>
<p>يا عزيزي، أحيِّيكَ في الرب؛ لأنك جعلت اللهَ لك معينًا. قد صرتَ عزيزًا عنده، وكرَّست نفسَك لتسلك في أوامر الله. أمَّا الله فسوف يباركك،ويصيِّر ينبوعُك نهرًا لك، ونهرك يصير لك بحرًا، إذ أنك مركبةٌ وفارسُ العِفَّةِ. يتوهج فوقك سراجُ الله، فتنير بالنور المستتر الذي للروح، وتدبِّركلامَك بعدلٍ. سيهبك اللهُ شجاعةَ القدِّيسين، ولن توجد أوثانٌ في مدينتك، وتطأ عُنُقَ رؤساء الظلمة (باروخ ٢٥:٤)، وتبصر قائدَ قوَّات الرب واقفًا عن يمينك، وتُغْرِق فرعونَ وحشودَه، وتَعْبُر بشعبك البحرَ المالح (خر ٢٢:١٤، ٤:١٥؛ مز ١٣:١٣٦-١٥)، أي هذه الحياة. آمين  <a href="#_ftn6" name="_ftnref6">[6]</a>.</p>
<h3>عظات آباء وخدام معاصرون</h3>
<h4>المتنيح الأنبا يؤانس أسقف الغربية</h4>
<p>المسيحى في الدولة في عصور الاضطهاد</p>
<p>١ – خطورة وضعه:</p>
<p>كان وضع الانسان المسيحى في الدولة الرومانيه سواء كان حراً أم عبداً محفوفاً بالخطر دائماً . كان من الصعب عليه مهما كان حزراً أن يفلت من اعدائه . فنفس اتجاهاته وحذره كانت تجلب عليه الاضطهاد . كان امتناعه عن بعض ممارسات الحياة الوثنية كفيلاً بكشف أمره . وهكذا كان يقف ضد نفسه كل ساعة !! .</p>
<p>والعلامة ترتليانوس – الذى عاش وسط تلك الاضطهادات – في مقال له عن عبادة الأصنام ، يقدم تصويراً أمينا لكل المصاعب التي تقابل عابد الاله الحقيقى وسط المجتمع الرومانى . انه يشرح لنا كيف كانت حياة المسيحى كلها تكتنفها الوثنية من كل ناحية. وكيف كان لزاماً على الإنسان المؤمن أن يحطم الفخ الحديدى في كل مرة اذ سلك باستقامة مع الهه .</p>
<p>اذن فقد كانت كل خطوة محفوفة بالمخاطر ، كل عمل ينطوى على اعتراف بشجاعة ، كل تحول عن العبادات الوثنية كان يستدعى الانتباه ويثير الكراهية بالنسبة للإنسان المسيحى سواء كان حراً أم عبداً …</p>
<p>٢ – حياته اليومية تكشفه وتعرضه للخطر :</p>
<p>كانت الحياة اليومية نفسها تكشف المسيحى وتعلن عنه حتى لو كان غير مندمج في المجتمع . ومن أمثلتها الممارسات الوثنية السابقة لإيمانه وتوقفه عنها ، كالأعياد الوثنية العديدة وامتناعه عن مشاركة مواطنيه فيها . فقد كان من عادة الوثنيين  ، أن يدعو بعضهم بعضاً للتقدمات للآلهه . وكان الوثنى المتنصر تصله باستمرار مثل هذه الدعوات  ، لكنه كان مضطرا أن يرفضها بحسب ضميره المسيحى … وهنا يقول ترتليانوس &#8221; هل يجوز للمؤمن أن يشترك مع الوثنيين  أنفسهم في أمور من هذا النوع ، سواء في اللبس أو المأكل ، أو في أي مظهر آخر من مظاهر فرحهم ؟ ان عبارة فرحاً مع الفرحين وبكاء مع الباكين قالها الرسول عن الاخوه حينما كان يحثهم على الاتحاد في الرأي . أما عن أمثال هذه الأمور فقد قال : ليست شركة للنور مع الظلمة ، بين الحياة والموت ، ولا فنحن نبطل المكتوب : العالم يفرح ولكن أنتم تحزنون . فاذا فرحنا مع العالم ، فهناك ما يدعو للخوف اننا نحزن معه أيضا . ولكن حينما يفرح العالم فلنحزن نحن ، وحينما يحزن العالم فيما بعد ، سنفرح نحن &#8221; .</p>
<p>ولم تقف الخطورة عند حد رفض المسيحى مشاركة أصدقائه القدامى مع الوثنيين في تقدماتهم … بل ان مجرد الكلام العادي المتبادل بين الناس ، كان مدموغاً بالصيغ والأقسام الوثنية المتعلقة بالآلهة .</p>
<p>كان على المسيحى ان يظهر انفصاله عمن حوله في كل الظروف حتى في مجال الأحاديث العادية… وكان هذا من غير شك تحديداً مستمراً واثارة للوثنيين .. ومن هنا نشأت الأخطار المتلاحقة . وكان سيف الموت مسلطاً دائماً على رقاب المسيحيين .</p>
<p>٣ – مشكلات الزواج المختلط :</p>
<p>ولم تكن العلاقات العائلية بمنأى عن الخطر . فالمرأة المسيحية كانت تحتمل الكثير من زواجها ، اذ كان مايزال وثنياً . اذ كيف يمكنها أن تؤدى واجباتها الدينية ؟ كيف يمكنها الذهاب إلى العشية إلى اجتماع العبادة دون اثارة شبهات ؟ كيف يمكنها ان تظهر كرم الضيافة إلى الغرباء من الإخوة في الإيمان ؟ كيف تزور الشهداء في سجونهم ؟ أضف إلى هذا أن الزوجة المسيحية كانت تواقة أن تسمو بالرابطة الزوجية وتطهرها بعد أن انحط الزواج بواسطة المنكرات التي كان الوثنيون يأتونها . كانت طهارتها تضايق زوجها الوثنى وتهينه . واذا أرادت الهرب من الفضيحة ، فعليها أن تستعد للموت .</p>
<p>ويروى لنا يوستينوس الشهيد في دفاعه الأول ، حادثة حدثت في أيامه تكشف لنا كل آلام وأخطار الزواج المختلط . في ذلك الوقت . امرأة كانت قبل زواجها وثنية  ، وأرادت بعد إيمانها أن تترك كل عار حياتها السابقة ، فحاولت استمالة زوجها إلى ما أرادته ، ولكن الحاحها المستمر لم يفلح . ولما لم تعد تحتمل المعيشة في هذه العلاقة الدنسة ، صممت – بعد أن أقتنعت بعدم جدوى التغيير – أن تنفصل عنه . وإذ أرد الانتقام منها ، أبلغ عنها أنها مسيحية فزج بها في السجن .</p>
<p>٤ – أمتناعه عن بعض الحرف :</p>
<p>كان على المسيحى الايشتغل بكل فروع الحرف التي لها صلة بعبادة الأصنام مثل صناعة التماثيل الوثنية ، وبيع الضحايا والقرابين التي تقدم في المعابد الوثنية … هذا ، وكانت هذه الصناعات هي التي تدر وقتئذ ، ارباحاً أوفر من حرف أخرى … لم يكن هناك أي تزدد في الأمر . المهنة التي تتنافى مع المبادئ المسيحية كانت تترك في الحال . وتركها المفاجئ كان يعرض صاحبها لمحاكمة العامة .</p>
<p>٥ – خطورة المناصب العامة :</p>
<p>واذا كانت الحياة الخاصة لها أخطارها ، فمما لا شك فيه أن الحياة العامة كانت أكثر خطراً . كان ضرباً من المستحيل بالنسبة للمسيحى ، أن يشغل منصباً عاماً ، كأن يكون حاكماً أو ضابطاً في الجيش . كان عليه في مثل هذه الوظائف أن يقسم أقساماً وثنية معينة ، وأن يقدم بخوراً لصورة الامبراطور .</p>
<p>هذا ، فضلاً عن الطقوس الدينية الكثيرة التي كانوا يمارسونها في حالة الحرب – قبل بدئها ، وأثناء المعارك في ساحة القتال استجلاباً لرضى الآلهة ، وفى احتفالات النصر شكراً لمؤازرتها . وفى أثناء الحرب كانت الحياة المشتركة داخل الخيام تشكل مصاعب وخطورة بالنسبة للجندي المسيحى . كان بتصرفاته يجذب كل الأنظار اليه ، الأمر الذى ليس له معنى آخر سوى الموت. وعبثاً كانت أمانته وشجاعته كجندى تشفع له وتنجيه من هذه الأخطار .</p>
<p>وقد أورد يوسابيوس في تاريخه قصة مارينوس الضابط الذى استشهد في قيصرية. اذ لما دعى للترقية إلى رتبة قائد ، تقدم زميل له وطعن في ترقيته لأنه مسيحى . ولما سئل مارينوس عن ذلك اعترف بكل شجاعة. أعطاه القاضي ثلاث ساعات للتفكير . خرج من ساحة المحكمة وأخذه أسقف المدينة إلى الكنيسة وخيره بين السيف والأنجيل . وبدون أي تردد مد مارينوس يده وأخذ الإنجيل. فقال له الأسقف ، اثبت اذن . وأمام القاضي أظهر غيرة شديدة نحو الإيمان ، فكان نصيبه الموت .</p>
<p>٦  - المسيحى وعبادة الامبرطور :</p>
<p>أما عن العبادات التي تقدم للامبراطور ، فلم يكن للمسيحى أن يشترك فيها بأى حال من الأحوال . قال ترتليانوس &#8221; اعط ما لقيصر لقيصر وما لله لله – هذه هي وصية الإنجيل . ماذا يحق لقيصر بناء على ذلك ؟ هذه الكلمات قيلت عن مال الجزية . حينئذ سأل سيدنا أن يقدموا له قطعة من العملة ، وسأل عن الصورة التي عليها . ولما أجابوه أن الصورة لقيصر ، أردف ، أعط أذن ما لقيصر لقيصر وما لله لله . وبعبارة أخرى ، ان صورة قيصر هي فوق العملة المالية . لذلك من حقه أن يطالب بالمال . وصورة الله هي في الإنسان والله له على ذويه حق مساو . أعطوا اذن مالكم لقيصر وأنفسكم لله . لأن لو كان كل شيء لقيصر فماذا سيتبقى لله ؟ . كان قيصر الرومانى يطالب كل واحد من رعاياه ، أن يخضع له خضوعاً تاما بالفعل والإرادة . وأية مقاومة كانت تعتبر عصياناً . ومجرد مناقشاً موضوع الوهة الامبراطور وقداسة ذاته ، كانت أسوا أنواع الكفر . وقصة استشهاد القديس اكاتيوس تقدم لنا صورة واضحة لمنظر طالما تكرر كثيراً في وقت الاستشهاد. لقد سأله الحاكم الذى حوكم أمامه هذا الشهيد قائلاً &#8221; هل تحب أمراءنا كانسان تعيش بموجب القانون الرومانى ؟ &#8221; أجاب الشهيد &#8221; من ذا الذى يحب الامبراطور بصورة افضل من المسيحيين ؟ ! اننا نصلى عنه دائماً أن يتمتع بحياة مديدة ، وحكم عادل ، وسلام في عهده ، وان توفق جيوشه ، وأن يوفق في العالم &#8221; قال الحاكم &#8221; هذا حسن . ولكن اليس من الأفضل أن تظهر طاعتك للامبراطور وتضحى له معنا اكراما له ؟ &#8221; أجاب الشهيد &#8221; أنى اصلى لالهى لأجل الامبراطور. اما تقديم القرابين اكراما له فيجب ألا أقدمها أوأطالب بها . اذ كيف تعطى الكرامات الإلهية للأنسان ؟ &#8221; كانت القرابين أقل ما يلزم ، والقوانين الرومانيه التي استند اليها الحاكم ، حتمت على كل الرعية تقديم هذا الولاء</p>
<p>٧ – المسيحية أبشع الجرائم :</p>
<p>كانت المسيحية في نظر الدولة والحكام هي الجريمة الكبرى التي لا يعفى عنها … في نوفمبر سنة ٣٠٦ جاء القيصر مكسيمينوس إلى قصرية ليحتفل بعيد ميلاده ، ورأى أن يقدم للناس جديداً . ولم يكن ذلك الجديد سوى القاء اثنين من المجرمين للوحوش الجائعة . كان أحدهما مسيحي يدعى اغابيوس ( من فريجينبا وقبض عليه في غزه ) . أما الثانى فكان عبداً قد قتل سيده . وما كادا يقدمان للامبراطور ، حتى سارع إلى العفو عن المجرم وأطلقه ، فامتلأ الملعب بأصوات الهتاف والاستحسان ! ! أما أغابيوس فبعد أن سار حول المدرج وسط سخرية النظارة ، وسئل ما اذا كان يتخلى عن مسيحيته فيتمتع بحريته غير أنه رفض منادياً الجميع بأعلى صوته بأنه يقدم لغير جريمة سوى ايمانه بالاله الواحد العظيم ، ولذا فهو يموت مبتهجاً . ثم ألقى لأنثى دب كبيرة مزقته لكنها لم تقض عليه ، فألقى في اليم في اليوم التالى .</p>
<p>٨ – المسيحى والدهماء :</p>
<p>نستطيع القول انه في جميع الاضطهادات التي حلت بالمسيحيين كان للدهماء دور قيادى . وكثيراً ما كانو هم البادئين باضطهاد المسيحيين وليس الحكام . كانوا يصدرون أوامر استبدادية ، ويحصلون على ما يريدون من الحكام ، أما لضعفهم ، وأما لأن ذلك كان يشبع شهوة الانتقام من المسيحيين ولذا لا نتجاوز الحقيقة أن نقول أن حكم الامبراطور الرومانى كان هو حكم المستبدين والدهماء .</p>
<p>كان الدهماء في بعض الأحيان يسيطرون على الموقف ، فيمنعون المسيحين من استخدام الأسواق والحمامات العامة ، بل كانوا يحرمون عليهم الظهور في أي مكان . كما حدث بالنسبة للمسيحيين في ليون وفينا في زمان اضطهاد مرقس أوريليوس . وكانوا أحياناً يقتحمون بيوت المسيحيين ويسيطون عليها ويسلبونها فيأخذون نفائسها ويحطمون أو يحرقون أثاثاتها غير الثمينة ، كما حدث في اضطهاد ديسيوس بالإسكندرية في زمان البابا ديونيسيوس الاسكندرى .</p>
<p>وكثيراً ما كانوا يتعقبونهم إلى ساحات القضاء ، ويتدخلون في سير التحقيق . وكانوا بمثابة الهيئة التنفيذية الوحيدة والعليا لادانة المسيحيين. كان لا يهدأ لهم بال حتى تصدر أحكام الموت ضدهم … وحتى بعد الموت كانوا يظهرون تشفياً في بقايا أجسادهم .</p>
<p>جاء في قصة استشهاد بوليكربوس أسقف أزمير، ما كاد القاضي يجلس على كرسيه حتى ضجت قاعة القضاء بصياح الغضب من الغوغاء وضد البرئ .. وحدث أكثر من مرة أن الدهماء كانوا يرددون عبارة، ويصادق عليها الحاكم … وبعد ذلك رفع الحاضرون أصواتهم باتفاق واحد يطالبون بحرق بوليكربوس حياً . وصدر الحكم بنفس الرغبة، ونفذ بمنتهى السرعة . وللحال شرعت الجماهير في جمع أخشاب وحطب من الحوانيت والحمامات إلى الموضع المعين &#8221; …</p>
<p>وفى قصة شهداء ليون وفينا نقرأ عن تدخل الدهماء في تعذيب وقتل هؤلاء المسيحيين، في كل مراحل تعذيبهم واستشهادهم . وحتى بعد موتهم ، أحرقوا جثثهم وألقوا رمادها في نهر الرون ، حتى يمحوا بذلك أي أثر لها على الأرض <a href="#_ftn7" name="_ftnref7">[7]</a>.</p>
<h4>المتنيح القمص لوقا سيداروس</h4>
<p>سحابة الشهود</p>
<p>بعد أن أستعرض القديس بولس الرسول في رسالته إلي العبرانيين (ص١١) حياة رجال الله القديسين من أبطال الايمان في العهد القديم أمثال إبراهيم أب الأباء وأسحق ويعقوب ويوسف وموسي رئيس الأنبياء ويشوع وراحاب … قال أخيراً أنه يعوزني الوقت إن أخبرت عن جدعون وباراق وشمشون ويفتاح وداود وصموئيل والأنبياء الذين بالايمان قهروا ممالك وصنعوا براً ونالوا مواعيد ، سدوا أفواه أسود ، أطفأوا قوة النار ، نجوا من حد السيف … آخرون عذبوا ولم ينالوا النجاة ، آخرون تجربوا في هزء وجلد ثم في قيود أيضاً وحبس … رجموا نشروا ، جربوا ماتوا قتلاً بالسيف ، طافوا في جلود غنم وجلود معزي ، معتازين مكروبين مذلين وهم لم يكن العالم مستحقاً لهم .</p>
<p>بعد أن أستعرض بعض الأسماء إذ لا يمكن أن يدخل القديسون تحت الحصر لذلك سماهم سحابة إذ تنظر إليهم من بعيد إذ صاروا أرواحاً بعد أن خلعوا الجسد الترابي فلم نعد نميزهم بحسب حاسيات الجسد بل الروح ، فيراهم الناظر بالروح كسحابة مجد ، موجودين في حضرة القدير الذي يشار إلي حضوره بالسحاب والدخان ، سحاب وضباب حوله (مز :٩٧) ،&#8221; ويأتي علي السحاب وتراه كل عين &#8220;(رؤ ١: ٧) موسي وهارون في الكهنة …بعمود السحاب كان يكلمهم ، ولسنا نتخيل أن الرب يحاط بسحاب مادي ولكن جاء الرب في ربوات قديسيه فهم يكونون سحابة أرواح مكملة بمجده محيطة بإله الأرواح وفي وجود دائم معه .</p>
<p>ورغم فارق الزمن بين القديسين بولس الرسول وبين من تكلم عنهم ما آباء العهد القديم ، ورغم الفاصل الزمني الكبير بين كل منهم إلا أنه رآهم كسحابة واحدة ، إذ صار الزمن بالنسبة لهم كل شيء لانهم عبروا من تحت سلطان الزمن ودخلوا الفردوس استعداداً لأبدية سعيدة ليس فيها شمس وقمر ولا تحتاج إليهما لان المسيح الإله هو سراجها لذلك لا يوجد ظلام ولا ليل ولا ايام ولا سنين بل قد انعتقوا إلي الأبد من سلطان الليل والنهار وما يتبعهما من لف ودوران وتغير . فهم لذلك في وحدة فوق الزمن واتحاد فوق مستوي التفريق والفاصل الزمني والمكاني والمادي …</p>
<p>لنا سحابة</p>
<p>والأمر الواقع الذي يسجله الرسول بولس أن هذه هي سحابتنا نحن ، لنا أي تخصنا بما لها من ايمان ومواعيد وبر وآيات وعجائب ذكرها بالتفصيل بالآيات السابقة ، هم لنا بكل ما لهم من آلام قاسوها من أجل الله ، رجم وحبس وعوز وقتل بالسيف وتشرد وسكني البراري والجبال والمغاير وشقوق الأرض من أجل عظم محبتهم في الملك المسيح ، وكذلك وبقدر أفضل هم لنا بكل ما نالوا من مجد وكرامة وأجراً سماوياً ونوراً وعزاء ، هم لنا بقربهم من الله ووجودهم فيه ومعه ، هم لنا سحابة شهود تسند ضعفنا وترقب جهادنا وتؤازر أرواحنا هم شهدوا للرَّب حتي الدم ، ويشهدون لنا بقوة الايمان وحلاوة العشرة مع الله ومجد النصيب الفاخر في السماء .</p>
<p>محيطة بنا</p>
<p>أنها حقاً كنيسة واحدة، ليسوا بعيداً عنا أنهم في الفردوس في حضرة القدير في انتظار العرس الأبدي ، ونحن منهم أقرب إليهم من ذي قبل هم لا يكملوا بدوننا كما يقول الرسول ، نحن عندما نكمل جهادنا ننضم إليهم ليكمل البنيان من جميع الحجارة الحية المختارة من الله .</p>
<p>وهم ونحن ناظرين إلي رئيس الايمان ومكمله يسوع … حجر الزاوية في البنيان كله .</p>
<p>ولكن لينتبه القاريء أن سحابة الشهود محيطة بنا لنطرح كل ثقة الخطية المحيطة بنا بسهولة ولنحاصر بالصبر في الجهاد الموضوع أمامنا (راجع عب ١٢: ١) . لقد صارت صور جهادهم أيقونات في الكنيسة وصارت سيرهم نماذج وحياة وتصعد صلواتهم كل حين إلي عرش القدير.</p>
<p>إن الشاب الذي يجاهد من أجل الطهارة والقداسة في داخل الكنيسة يشعر بهذه القوة تسانده وتشد أزره وتشجعه جداً يري حوله سحابة شهود من الشبان الأطهار القديسين الذين سبقوه، وها يوسف العفيف ، وسوسنة الطاهرة ، ودانيال رفيق الملائكة والثلاثة فتية الأطهار قاهري قوة آتون النار ، ويوحنا المعمدان وايليا النبي البتول ، ويوحنا الحبيب واسطفانوس رئيس الشمامسة ، ثم الشهداء الأبطال في القداسة شهداء الطهارة مارجرجس ، مارمينا ، أبوسيفين ، والقديسة دميانه …</p>
<p>أسماء بلا حصر … انها سحابة رهيبة تظللها ذات الطهر دائمة البتولية القديسة العذراء . ولذلك لا يجد الشاب نفسه وحيداً في جهادات الطهارة فيشعر بالضعف والهزال ، بل علي العكس يري نفسه قوياً متشجعاً إذ تحوط به سحابة شهود جبارة ليطرح كل ثقل الخطية المحيطة به بسهولة ويجاهد بفرح ناظراً إلي رئيس الايمان . إن أرواح القديسين تحوطنا كسحابة شهادة … يا للفرح الأبدي تعزي أيها الشاب أنهم يؤازرونك بكل وسيلة بالصلاة والشفاعة والصحبة والوجود ، إذ قد صرنا معهم كنيسة واحدة وحيدة .</p>
<p>وهكذا أيضاً تصير هذه السحابة لكل الساعين في طريق الخلاص والذين يجاهدون في السهر والصلاة والتعب والكرازة والأصوام وكل أنواع الجهادات الروحية سيجد كل واحد سحابة جهاده تشهد لايمانه وتسند ضعفه كل الطريق … إلي زمن الالتحام لانهم لا يكملوا بدوننا  <a href="#_ftn8" name="_ftnref8">[8]</a>.</p>
<h4>القمص بيشوي وديع</h4>
<p>التدبير والمدبرون رؤية أرثوذكسية</p>
<p>كنيسة المسيح هي الوعاء الحامل لتدبير الله وأسراراه المقدمة لخلاص الإنسان. وهي تستمر في رسالتها هذه مستندة على تدبير مسيحي أرثوذكسي أصيل يرسي قواعده الروح القدس الذي يقود الكنيسة كلها.</p>
<p>هذا التدبير المسيحي الأرثوذكسي له مقومات يقوم عليها ومتطلبات ينبغي توافرها فيمن يقومون بهذا التدبير سواء كان المديرون من طغمة الكهنوت أو في مجال الشماسية والخدمة العلمانية. كل ما نريد أن نقوله إن التدبير السليم يقوم على الدسم والشبع والحكمة واللياقة والترتيب، لأننا لسنا كمن يضرب الهواء أو يجاهد عن غير يقين لكننا نجاهد ونضبط أنفسنا في كل شيء ونركض لكي ننال الجعالة، راجع (اکو ٩: ٢٣-٢٧).</p>
<p>وينبغي في تكبير خدمتنا وحياتنا أن نحيا بمفهوم الرسول بولس في قوله: &#8220;وأنتم متأصلون ومتأسسون في المحبة حتى . تستطيعوا أن تدركوا مع جميع القديسين ما هو العرض والطول والعمق والعلو. وتعرفوا محبة المسيح الفائقة المعرفة لكي تمتلئوا إلى كل ملء الله&#8221; (أف ۱۸: ۳ ، ١٩).</p>
<p>والهدف من عرضنا لبعض متطلبات التدبير المسيحي هو أن يكون تدبيرنا في خدمة الإنسان هو امتداد طبيعي للتدبير الإلهي الأصيل لأنه &#8220;لا يستطيع أحد أن يضع أساساً آخر غير الذي وضع الذي هو يسوع المسيح&#8221; (اکو ۱۱:۳) وسوف نعرض لهذه المقومات من خلال حقائق مركزة نترك للقاريء الاستفاضة فيها :</p>
<p>(١) سلامة الإيمان:</p>
<p>الإيمان المستقيم هو أساس كل تدبير نحياه أو نقدمه للإنسان باعتبار أن الرب يسوع هو رئيس الإيمان ومكمله. وهو حجر الزاوية في البناء كله: ناظرين إلى رئيس الإيمان ومكمله يسوع&#8221; (عب ۲:۱۲).</p>
<p>الإيمان السليم بعقائدنا المسيحية العظمي وأسرار الخلاص يضمن لنا أن نقطف الثمرة المرجوة للتدبير وهي خلاص نفوس الناس. نائلين غاية إيمانكم خلاص النفوس&#8221; (ابط۹:۱).</p>
<p>إن عبارة &#8220;آمنت لذلك تكلمت&#8221; (مز ۱٠:١١٦) معناها أن الخادم لا يمكن أن يتكلم إلا بالإيمان أولا، فإن الذي رأيناه وسمعناه نخبركم به لكي يكون لكم أيضاً شركة معنا وأما شركتنا نحن فهي مع الآب ومع ابنه يسوع المسيح (١يو ۳:۱).</p>
<p>الإيمان السليم يعطي أساساً راسخاً لمرحلة مسيرتنا الدائمة مع الله لأن &#8220;يسوع المسيح هو هو أمسا واليوم وإلى الأبد&#8221; (عب ۸:۱۳)&#8230; هو ليس عنده تغيير ولا ظل دوران (يع١: ٧). ويلزمنا في هذا المجال أن نطالع وتستوعب الصفحات الجبارة والمضيئة لكنيستنا وهي تحمل شعلة الإيمان وتسلمها من جيل إلى جيل - وتحارب الهراطقة والمبتدعين من خلال قديسيها أبطال الإيمان والمجامع المسكونية والكتابات الراسخة لآبائها اللاهوتيين أمثال أثناسيوس الرسولي وكيرلس الكبير. فهذا الجهاد هو جزء من تاريخ كنيستنا في تدبير الإيمان والحفاظ عليه. إيمان مسلم لنا بالدماء لا لا ندعه ولا بالدماء.</p>
<p>من المهم جدا أن يكون شبابنا وخدامنا على دراية كافية بهذا التاريخ التدبيري الإيماني حتى لا ننقاد إلى أي ريح تعليم، ولا نبني أفكارنا أو أفكار المخدومين على مجرد مفاهيم عقلية أو فلسفة بشرية كاذبة. لأن فكر الإيمان السليم يمس حياة الإنسان ويبنيه من الداخل أما الفلسفة البشرية المجردة فهي تدابير قصيرة النفس تمس العقل من الخارج.</p>
<p>وثمة ملحوظة أخيرة في هذا الأمر أنه لا ينبغي الفصل بين التدبير الروحي وتراث الفضائل والكمالات الروحية من جانب وبين التدبير الإيماني واللاهوتي من جانب آخر. فالإيمان والعقيدة جنبا إلى جنب مع الفضائل المسيحية وثمار الروح يشكلون جوهر العبادة والتدين.</p>
<p>(۲) حكمة المدبر :</p>
<p>في النقطة السابقة رأينا أن الخادم لا يستطيع أن يدبر حياة الناس وروحياتهم إلا استناداً على بنيان إيمانهم الراسخ وسلامة عقائدهم اللاهوتية والإيمانية فهذا هو أول مستلزمات التدبير وأدق متطلباته. ثم يأتي دور الحكمة فنرى سليمان الحكيم يكثر من الحديث عن نعمة التدبير ويربطها بالحكمة وشخصية الإنسان الحكيم :</p>
<p>&#8221; &#8230; لمعرفة حكمة وأدب لإدراك أقوال الفهم&#8230; لتعطي الجهال ذكاء والشاب معرفة وتدبراً يسمعها الحكيم فيزداد علماً والفهيم يكتسب تدبيرا&#8230;.&#8221; (أم ٢:١-٥).</p>
<p>&#8220;احفظ الرأي والتدبير فيكونا حياة لنفسك ونعمة لعنقك &#8221; (ام ٣: ٢١-٢٢).</p>
<p>&#8220;حيث لا تدبير يسقط الشعب أما الخلاص فبكثرة المشيرين&#8221; (أم ١٤:١١).</p>
<p>&#8220;لأنك بالتدابير تعمل حربك والخلاص بكثرة المشيرين&#8221; (أم ٦:٢٤).</p>
<p>ودانيال النبي يربط بين الفهم والحكمة من جانب وبين عمل الخدمة والخلاص من جانب آخر فيقول: &#8220;والفاهمون يضيئون كضياء الجلد والذين ردوا كثيرين إلى البر كالكواكب إلى أبد الدهور&#8221; (دا ۳: ١٢)</p>
<p>يحتاج إذا عمل التدبير والخدمة في الكنيسة إلى الحكمة والخبرة الروحية.. فتدبير الناس الأشرار مبني على خبرة أهل العالم في الشر وعمل الخطية والمنافسة الردية وعتق الحرف، أما . تدبير خدام المسيح الروحاني فميني خبرة خلاص نفوس الناس بانسكاب حكمة الله فينا.</p>
<p>يقول الرسول بولس عن هذا الأمر: لأن حكمة هذا العالم هي جهالة عند الله لأنه مكتوب الآخذ الحكماء بمكرهم وأيضاً الرب يعلم أفكار الحكماء أنها باطلة. إذا لا يفتخرن أحد بالناس (اکو ۱۹:۳-۲۱). (راجع أيضاً كلام الرسول في مقارنته بين حكمة الله وجهل العالم في ١كو ١).</p>
<p>تكتسب حكمة التدبير من معايشة المدبرين الحكماء والتتلمذ على منهجهم المعاش عملياً في قيادة النفوس - لذلك أيها الخادم والمدبر ساير الحكماء وعاشر الفهماء وتتلمذ على خبرات المدبرين الذين سبقوك. واعرف ممن تعلمت ومارس تدبيرك.</p>
<p>(٣) أرثوذكسية التعليم: ونقصد بذلك التعليم المستند على :</p>
<p>الكتاب المقدس - تعاليم وقوانين الرسل - قوانين المجامع المسكونية التي تعترف بها كنيستنا القبطية الأرثوذكسية – فكر وكتابات آباء الكنيسة وقديسيها ولاهوتييها المعتبرين.</p>
<p>فمثلاً ينبغي أن يكون للمدبر - خصوصاً في مجال التعليم - قدر كاف من الدراسة والمعرفة في هذه المجالات، علينا أن نفتش كثيراً ونفحص في الآتي (مجرد عينات وأمثلة):</p>
<p>إيمانيات لاهوتية تسلمناها من الآباء: أثناسيوس الرسولي – البابا كيرلس الأول عمود الدين – البابا ديسقوروس. وغيرهم من أبطال الإيمان والمعترفين في كنيستنا القبطية الأرثوذكسية. وهذا يشمل ضمناً التاريخ المجيد للمجامع المسكونية المعتبرة مثل: نيقية وأفسس والقسطنطينية.</p>
<p>كتابات نسكية وروحية سطرتها قلوب وأيادي الآباء الروحيين مثل: باسيليوس الكبير - ماراسحق – الشيخ الروحاني – يوحنا ذهبي الفم - أوغسطينوس - مار افرام وغيرهم&#8230;</p>
<p>سير تائبة ترسم لنا تدبير تتويب النفوس: أوغسطينوس - موسى الأسود - بيلاجية - بائيسة - مريم المصرية.</p>
<p>رهبنة وتجرد واختلاء مع الله: أنبا مقاريوس - أنبا أنطونيوس - أنبا باخوميوس - أنبا شنوده.</p>
<p>تدبير الشهادة الحية الله ونشر ملكوته من خلال: سير الشهداء وأبطال الشهادة للمسيح من المعترفين والمدافعين.</p>
<p>هذا الرصيد الهائل من الفكر القبطي الأرثوذكسي والسير الآبائية الأصيلة يضمنان أساساً سليماً لتعليم أرثوذكسي مفرح نقدمه للناس وندبر به حياتهم&#8230; وهذا هو جمال الكنيسة.</p>
<p>ونلاحظ أن في التدبير المسيحي الأرثوذكسي لا نعتمد فقط على الكتابات ذاتها، ولكننا نتتبع السيرة الآبائية نفسها فهي البداية التي تجذبنا وتشدنا لكتابات صاحب السيرة.</p>
<p>فذلك ينبغي أن تتضمن المناهج التعليمية في الكنيسة إطاراً كافياً من الأرثوذكسية المشبعة تتحرك في داخله الكلمات والعظات والدروس المقدمة في فرص التعليم المتعددة، نعم إن من السلامة الأساسية الشخصية الخادم المدبر: أرثوذكسية السيرة، أرثوذكسية التعليم. هذا هو الخادم الارثوذكسي المدبر في تعليمه والمعلم في تدبيره.</p>
<p>تحدثنا في العدد الماضي عن أهمية التدبير المسيحي الأرثوذكسي في كنيسة الله المقدسة؛ عرضنا لبعض متطلبات هذا التدبير. وها نحن نعرض الآن لباقي المتطلبات:</p>
<p>(٤) الحياة الليتورجية :</p>
<p>كلمة ليتورجيا في أصلها اليوناني تعني خدمة عامة تؤدى لأجل الجماعة والشعب. وقد استخدمت الكنيسة هذه الكلمة منذ العصر الرسولي للتعبير عن العبادة والخدمات الكنسية التي تمارس في حضور المؤمنين معاً كأعضاء في جسد المسيح الواحد أي الكنيسة. فالأسرار الكنسية كلها يمكن إطلاق اسم الليتورجيا عليها مثل ليتورجية العماد والزواج ومسحة المرضى&#8230; كما يمكن أن تطلق التسمية نفسها على خدمات أخرى مثل ليتورجية التماجيد للقديسين وليتورجية التسبيح. الخ.</p>
<p>ولكن القداس الإلهي يبرز بين هذه الخدمات كلها ليقترن باسم الليتورجيا حتى أصبح من الشائع أن كلمة ليتورجية أساساً تعني القداس أو خدمة الإفخارستيا.</p>
<p>ومن المناسب بل ومن الضروري أن يتفهم الخدام المديرون معني الحياة الليتورجية ويتذوقوا حلاوتها لأنها حياة الكنيسة وقلبها كما يقول أحد اللاهوتيين في وصفها: &#8220;إن الليتورجيا أعظم أسرار إيماننا وينبوع حياتنا الروحية وهي سر موتنا وقيامتنا وعبورنا مع المسيح، وهي سر العبادة، وهي حجر الزاوية في خدمة الكنيسة&#8221;، ويقول آخر &#8220;إن الحياة الليتورجية تلف المناخ الكنسي وحياة المؤمنين بموجة من الروحانية العميقة&#8221;.</p>
<p>إن الليتورجيا تعطي طابعاً عاماً لكل الكنيسة يتسم بالخشوع والسجود والانسكاب ورفع القلب الله من خلال الصلاة الدائمة والوقوف ساعات طوال في حضرة الرب. وثمة نقطة أخرى هامة في الحياة الليتورجية وهي أننا نجد الإيمان السليم والعقائد الصحيحة منخرة في الليتورجيات والخادم الذي يشترك في القداسات وكافة الليتورجيات والصلوات الكنسية يترك مدى وضوح العقائد المسيحية الأرثوذكسية السليمة في ثنايا جميع الخدمات الكنسية.</p>
<p>والحياة الليتورجية المنظمة هي التي حمت الكنيسة على مدى تاريخها الطويل من الهرطقات والبدع وفساد التعليم لأن القراءات الكنسية والعظات والخدمات التعليمية لا تكون في الكنيسة الأرثوذكسية إلا من خلال العبادة وممارسة الليتورجيات المملوءة عقيدة وطقساً وروحانية ومعرفة.</p>
<p>وأيضاً في كشف أهمية الليتورجية تقول: إن الحياة الليتورجية وارتباطها الأساسي بالمذبح والأسرار وحياة الشركة كانت ولاتزال عاملا أساسيا في حماية الكنيسة وشعبها من أي انحراف عقيدي أو لاهوتي. وبالتالي أساساً راسخاً لتدعيم الحياة الروحية الأصيلة في قلوب المؤمنين.</p>
<p>ونضيف أيضاً أن أعظم مكسب للحياة والعيادة الكنسية أنها تجعل تدبير خلاص الإنسان شيئا معاشاً ومختبرا وملموسا يشارك فيه الإنسان بكل حواسه.</p>
<p>فالطقس الأرثوكسي الأصيل يقدس جميع حواس الإنسان ويشركها في العبادة:</p>
<p>الشموع والأنوار: تثير فينا تدابير النور والسلوك في الحياة المستديرة.</p>
<p>البخور: تذكرنا بتكبير الصلاة المستقيمة النقية كرائحة البخور الزكي.</p>
<p>الأيقونات: تحمل لنا تدبير العين البسيطة التي تتطلع لطهر القديسين.</p>
<p>المذبح: يربطنا بتدبير الخلاص المقدم لنا بالذبيحة المقدسة.</p>
<p>الأسرار: في كل منها تدبير خلاصي عجيب حسب احتياج النفس، وحسب فيض النعمة الإلهية من خلال السر.</p>
<p>هذه كلها تدابير ملموسة في العبادة الكنسية والطقس الأرثوذكسي تتعامل مع الحواس والعقل والفكر وأعضاء الجسد وكل مكونات النفس البشرية، ومقوماتها الفكرية ،والنفسية والحسية. وهكذا ينجح الطقس الكنسي جدا بل ويساعدنا كخدام كنسيين على اختراق كيان المخلوم وربطه بالإلهيات كشيء محسوس وملموس يتلذذ الإنسان بممارسته. هذا هو جمال الحياة الليتورجية كمقوم أساسي يستند عليه تكبيرنا الأرثوذكسي في خدمة النفوس.</p>
<p>ونحن نطالب أبناءنا الخدام خاصة أن يكونوا هم أولاً أمناء جداً في حياتهم الكنسية والليتورجية وأن يحرصوا تماماً على ربط المخدومين بها من خلال تداريب مناسبة مثل: التركيز على القداسات والتناول المنتظم - إيقاد الشموع وتمجيد القديسين - التسبيح الكنسي والسهرات الروحية – اجتماعات الصلاة والمزامير - التبرك بالقديسين والاحتفال بأعيادهم - الأسرار الكنسية اللازمة للخلاص والحرص على ممارستها بصفة دائمة&#8230; هذه هي ملامح أساسية في التدبير الأرثوذكسي.</p>
<p>(٥) مناخ الحب والفضيلة:</p>
<p>التدبير ينمو ويؤتي ثماره الحية إذا تم في جو من الحب مع الفضائل المسيحية المعاشة. &#8220;اما ثمر الروح فهو محبة فرح سلام طول أناة لطف صلاح إيمان وداعة تعفف&#8221; (غل٥: ٢٢-٢٣) &#8220;إن كنا نعيش بالروح فلنسلك أيضاً بحسب الروح&#8221; (غل ٢٥:٥).</p>
<p>علينا أن نكون حريصين على تنمية النفس البشرية في جو مشبع من المحبة الصافية لأنها أساس نجاح كل تدبير يهدف لخلاص النفس. الروح يفحص كل حتى أعماق الله (اکو ٢: ١٠).</p>
<p>لا ينمو التدبير ولا يؤتي ثماره في جو من الفتور الروحي والكسل والتراخي وشح الفضيلة والافتقار للمحبة حتى ولو توفرت مقومات التدبير الأخرى، أو بعبارة أخرى لن يستقيم التدبير ويستنشقه الناس إلا من خلال البخور العطر للفضيلة والحب ورائحتهما الزكية.</p>
<p>في وسط جو تسوده المحبة والرحمة وحب الخير والتعاطف الأخوي ولطف المسيح يسري التعليم الأرثوذكسي ويتثبت الإيمان المستقيم وتزدهر الحياة الليتورجية وتظهر حلاوة الحكمة فيكتمل التدبير وينضج. وهنا تظهر أهمية مساندة الكيان الروحي للخدام والشباب باجتماعات الصلاة ولقاءات الأغابي وتجمعات المحبة على أساس من التقوي الداخلية والتسلية المسيحية وليس مجرد سمر بشري ضعيف وهزيل يؤدي لمزيد من الفراغ.</p>
<p>ما أجمل الصورة الحية التي يرسمها الرسول بولس كمناخ حلو ومبارك ينجح أي تدبير في العمل الروحي: &#8220;فالبسوا كمختاري الله القديسين المحبوبين أحشاء رأفات ولطفاً وتواضعاً ووداعة وطول أناة. محتملين بعضكم بعضاً ومسلمحين بعضكم بعضاً. إن كان لأحد على أحد شكوى. كما غفر لكم المسيح هكذا أنتم أيضاً. وعلى جميع هذه البسوا المحبة التي هي رباط الكمال. وليملك في قلوبكم سلام الله الذي إليه دعيتم في جسد واحد وكونوا شاكرين (کو ١٢:٣-١٥).</p>
<p>إذا في التدبير المسيحي: إلى جانب اهتمامنا بالمعرفة والتعليم فلنهتم بالتسلية التي للمحبة والشركة التي في الروح &#8220;إن كانت تسلية ما للمحبة إن كانت شركة ما في الروح&#8221; (في ١:٢) &#8220;وادين بعضنا بعضاً بالمحبة الأخوية&#8221; (رو ۱۰:۱۲).</p>
<p>(٦) روح النعمة والإفراز:</p>
<p>امتداد للحكمة وثمر لها وهي من متطلبات التدبير. والقديس أنبا أنطونيوس يعتبر أن أهم فضيلة هي الإفراز والتمييز لأنه بدونها تفقد كل الفضائل معناها. ومن الملاحظ أنه أحياناً بسبب كثرة المجالات التي يتعرض لها عمل التدبير والخدمة المسيحية – أن يختلط على المدبر فهم كثير من الأمور أو يسلك في طياشة وعدم تمييز، وهنا تكون الفرصة لعثرات كثيرة تؤدي للخسارة الروحية أو فقد النفوس. لذلك وجب أن يتحلى المدبر بنعمة من الله ويطلب الحكمة والفهم والإفراز في كل خدمة يمارسها وكل تدبير يقوم به.  فلنراجع ما كتب عن السبعة شمامسة الأوائل في كنيسة الرسل وعلى رأسهم القديس استفانوس كيف كانوا مملوئين من الروح القدس وحكمة (اع٦: ٣). انظر مثلاً تدبير الرسل وهم يواجهون – بكل حكمة وشجاعة وإفراز - جماعة السحرة والمبتدعين والكذابين والذين أرادوا أن يقتنوا موهبة الله بدراهم [بطرس مع سيمون الساحر (أع ٨: ٢٠-٢٣)، بولس مع عليم الساحر (أع ١٣: ٦-١١)، وبطرس مع حنانيا وسفيرة (أع٥: ١-١١).</p>
<p>ترى متى نستخدم تكبير الحزم والشدة ومتى نميل إلى اللين والعطف؟ هذا يحتاج لإفراز وتمييز. والخدام المدبرون حسنا هم &#8220;الذين بسبب التمرس قد صارت لهم الحواس مدربة على التمييز بين الخير والشر&#8221; (عب ١٤:٥). لذلك لا يصح أن يتولى عمل التدبير في الكنيسة أناس فيهم طياشة أو تسرع أو تسيب لأن هذه تعرض حياة المخدومين لمشاكل خطيرة وخسائر روحية.</p>
<p>ليتنا نقرأ كثيراً في كتابات الآباء عن فضيلة الإفراز والتمييز فقد كانت مصاحبة لهم طوال مسيرة حياتهم ومن خلالها تتلمذت عليهم كل الأجيال، وفضيلة الإفراز يلزمها أيضاً الصبر وطول الأناة في فحص الأمور وفي الترفق بالنفس البشرية وتقديم ما يناسبها من جرعة روحية مناسبة على حد تعبير بولس الرسول: تحتاجون أن يعلمكم أحد ما هي أركان بداءة أقوال الله وصرتم محتاجين إلى اللين لا إلى طعام قوي&#8221; (عب ١٢:٥).</p>
<p>إذا يا مدبرين كونوا مفرزین ممیزین!</p>
<p>(٧) الرجولة المسيحية وحمل الغير :</p>
<p>&#8220;جيد للرجل أن يحمل النير في صباه&#8221; (مراثي إرميا ٢٧:٣).</p>
<p>&#8220;فتشدد وكن رجلا&#8221; (۲ مل ۲:۲).</p>
<p>&#8220;اسهروا. اثبتوا في الإيمان. كونوا رجالا (اکو ١٣:١٦).</p>
<p>يليق المدبرين أن يكونوا رجالا يحملون صليبهم وينكرون ذواتهم ويتبعون المصلوب المدير الأعظم في رحلة الصليب &#8220;لأعرفه وقوة قيامته وشركة آلامه&#8221; (في ١٠:٣).</p>
<p>الألم وحمل الصليب هما مدرسة ضرورية يتتلمذ فيها كل خادم يقوم بتدبير أو خدمة في الكنيسة لأن الألم يعطي خبرة وكفاءة ونضجاً لاسيما أننا في الزمان المعاصر مطالبين بخدمة الموجوعين والمجروحين وذوي المشاكل والعائشين في اليتم والترمل. فكيف ستنزل إلى حياة هؤلاء التعابي إلا إذا عبرنا نحن على قنطرة الألم حاملين صليبنا وآخذين منه خبرة لذيذة تنقلها للناس؟</p>
<p>لذلك أقوى نموذج للمدير هو حامل صليبه وسائر وراء المصلوب بفرح. ولنتذكر أيضاً حقیقتین هامتين :</p>
<p>&#8220;الرخاوة لا تمسك صيدا (ام ۲۷:۱۲).</p>
<p>ملعون من يعمل عمل الرب برخاء&#8221; (إر٤٨: ١٠).</p>
<p>إن التجارب والضيقات عندما نجتاز فيها بنعمة وصبر وشكر وإيمان تخلق جيلاً حقيقياً من المدبرين الأصلاء، أما المسترخيين والمدللين - خصوصا بسبب الظروف البيئية أو الاجتماعية - فصعب عليهم أن يدبروا غيرهم&#8230; ولا حتى أنفسهم!</p>
<p>لقد دبر الرب خلاص وحياة البشرية كلها عبوراً بالصليب ومروراً بالألم تاركاً لنا مثالاً لنقتفي أثر خطواته&#8230; هكذا فلنخرج خارج المحلة حاملين عاره.</p>
<p>نظر القديس أنبا أنطونيوس إلى أبناء جيله ورأى فيهم ضعفاً ورخاوة فقال عبارته العجيبة المشهورة: &#8220;ليت الله لا يجرب أبناء هذا الجيل بمثل ما جرب جيل السابقين، لأنه يعلم أن أبناء هذا الجيل ضعاف. غير قادرين على القتال!&#8221; فإن كان قال هذا عن أبناء جيله هو ترى ماذا نقول نحن عن أنفسنا! الله يرحمنا.</p>
<p><a href="#_ftn9" name="_ftnref9">[9]</a>&#8220;يا مدبر كل جسد تعهدنا بخلاصك&#8221;</p>
<p>المتنيح القمص تادرس البراموسي</p>
<p>اليوم السادس والعشرون من شهر طوبه المبارك</p>
<p>(طوبي للودعاء لأنهم يرثون الأرض) (مت ٤ : ٢٣؛ ٥: ١- ١٦)</p>
<p>إهتم الرب يسوع كثيراً بترويض الطبع البشري وأراد أن ينتقل بهم من الطبع الوحشي إلى الطبع الملائكي حاثا إياهم بالتغيير في كل شي وقال بفمه الطاهر تغيروا عن شكلكم بتجديد أذهانكم (رو ۱۲ : ۲) ناسين كل طبع بشري يميل إلى الشر وأراد أن يسمو بأفكارنا إلى ما فوق معلناً في كلماته أن كل فضيلة لها إمتياز ولها ثمرة جزاء ؛ التفت حوله الجموع بين سامع ومتفرج ومحتاج لخدمة معينة ومريض يحتاج للشفاء وفريسي ينتقد ؛ نوعيات تختلف في طباعها وأفكارها ومدى قبولها لكلمة الحياة ؛ كان يفرح بتجمهر الناس حوله لأنه يجد الفرصة متاحة أن يلقى كلمته ؛ طاف الجليل وشفى كل الأمراض ؛ كان لا يكل ولا يمل من السفر والتعب مادام يرى قبول الناس لكلامه .</p>
<p>وفي إنجيل هذا اليوم كان الجمع كثيراً جداً لأنهم إجتمعوا من مدن كثيرة الجليل والعشر مدن وأورشليم واليهودية وعبر الأردن فوجد أن العدد كبير ولا يوجد مكان يتسع لهذه الجموع فصعد إلى الجبل جلس ليستريح من تعب المشوار الطويل فتقدم إليه تلاميذه ففتح فاه وابتدأ يعلمهم بأشياء كثيرة ومهمة في حياتهم ؛ لم يتكلم عنها الناموس في الماضي ولم يسبقه أحد من الأنبياء ولا معلمي الناموس ؛ أشياء كثيرة وعظيما وأعطتها الكنيسة إسم ( ( العظة على الجبل ) ) وقارنتها بناموس موسى أي الوصايا العشرة وكانت كلمات تعليمية عالية الروحانية ؛ وابتدأ الرب يسوع في كل جزء منها بالطوبي أي بسعادة أو غبطة الإنسان الذي يسمع هذه التعاليم السامية التي نطق بها الرب يسوع ويعمل بها . حقاً كلمات جميلة كلها حكمة وبلسم شافي يحتاج إليه كل إنسان مسيحي لبناء حياته الروحية والسير في طريق الرب بأمانة ؛ قال الرب يسوع في التطويبة التالية طوبى للودعاء ؛ تكلم الرب يسوع كثيراً عن الوداعة لأنها فضيلة ممدوحة من الجميع يوصف بها الإنسان بالوديع . تعرف الإنسان الوديع بالتفاف الناس حوله لأنه لا يريد أن يخاصم أحد ولا يريد أن يظلم أحد وتسميه وديع كالحمام . ونقول عن الإنسان الوديع أنه وديع كالأطفال ؛ وقال عن المرأة تتحلى بالروح القدس الوديع الهادئ الذي عند الله كثير الثمن ؛ مدح الرب يسوع الودعاء فقال طوبى للودعاء لأنهم يرثون الأرض ؛ لا يقصد أرض الشقاء التي نحن فيها بل يقصد الأرض التي لا تحتاج إلى شمس ولا قمر وتكون السعادة فيها دائمة وسيمسح الله كل دمعة من عيونهم ؛ ليس هناك دموع أو بكاء لكن الدموع التي ذرفناها في أرض الغربة ؛ الوديع لا يخطط للشر ولا يمشي في طريقه بل يسعى للصلح والسلام بين الناس ؛ ليس له أعداء عملاً بقول الرب أحبوا أعداءكم باركوا لاعنيكم صلوا لأجل الذين يسيئون إليكم ويضطهدونكم (لو ٦ : ۲۷ – ۲۸).</p>
<p>ما أحوجنا في هذه الأيام لفضيلة الوداعة لكي ننتصر على كل أهوائنا ونبعد عن كل ما يغضب الله لكي يكون لنا ميراث في السماء الجديدة والأرض الجديدة التي وعدنا بما الرب يسوع ؛ ماذا نستفيد في وجودنا في أرض الغربة ونتمسك بها كأننا ليس لنا سواها ونحرم أنفا من مواعيد الرب وخيراته السّمائية ؟ هلموا بنا يا إخوتى لنلتجئ إلى الرب يسوع وتقول له أخطأنا وآثمنا ونلقى تحت قدميك همومنا ؛ فأعنا واغفر لنا خطايانا واصفح عن زلاتنا واعطينا الوداعة لكي نتغلب على الشر الذي في العالم ونقول ليس بقوتنا نغلب بل بنعمتك علينا حسب قوله من يغلب أجعله عمود في هيكل إلهي <a href="#_ftn10" name="_ftnref10">[10]</a> .</p>
<p>المتنيح الدكتور راغب عبد النور</p>
<p>الاستشهاد والكنيسة</p>
<p>غار أحد الرسل غيرة ليست حسب الحق ، فأستل سيفه دفاعاً عن السيد الرب في محاولة للتصدي علي الذين أمسكوا به من الجند وعبيد رؤساء الكهنة . وفي محاولته هذه ، التي كان دافعها نوعا من الانفعال وعدم وضوح الرؤيا أمامه فيما يختص لانجيل ربنا يسوع المسيح ، فأن هذا الرسول وهو الرسول بطرس ، فأنه لم يصب غير أذن أحد العبيد اسمه ملخس … ومن الناحية الايجابية ، فأن عملية بطرس لم تُسفِر عن شيء ذي بال بالنسبة للقبض علي ربنا يسوع ، هذا فضلا عن حكم التخطئة التي خطَّأهُ به الرب يسوع . لكن القبض علي يسوع سار قُدُماً في طريقه المرسوم وحسب النبوات ، وحسبما رتب الرب لنفسه … ولن نكون مخطئين لو قلنا عن عملية الرسول بطرس أنها كانت من التفاهة ، بحيث لم يكن في مقدورها أن تغير من مجري الحوادث ، فالأذن التي بترت لم تكن هي اليد التي كانت توثق الرب بكل عنف وكل قوة ، وهذه الأذن لم تكن قلب الرجل الذي أمتلأ حقداً بالنسبة للرب يسوع المسيح .</p>
<p>تاريخ الاستشهاد في الكنيسة تاريخ طويل وعريض، عرض الايمان في الأرض وبطول التاريخ … لكن هذا الاستشهاد في الكنيسة - رغم الملايين من الناس الذين ذهبوا ضحايا بواسطته ، فأنهم في نفس الوقت كانوا مشاعل مضيئة للايمان في الأرض وكواكب مضيئة في ملكوت السموات . الشهيد عضو في الكنيسة الحية، والاستشهاد - كل ما استطاع أن يفعله للشهيد - هو أنه غير من مكان أقامة الشهيد ، فبعد أن كان مقيما في أرضنا أصبح مقيما في فردوس النعيم . أما الكنيسة عروس الفادي فهي كيان شامل للمكانين أو شامل للحالين … فهي كنيسة تشمل المؤمنين الغرباء في الجسد، كما أنها تشمل المؤمنين المنتصرين علي الجسد … علي أهواء الجسد وعلي تعذيبات الجسد، وصاروا في فردوس النعيم .</p>
<p>لابد للإيمان بالمسيح أن ينتشر</p>
<p>ترك الرب يسوع المسيح وصية لتلاميذه بأن يكرزوا للعالم أجمع. ويقابل هذه الوصية في طريق مضاد، بأن لابد لهذا الايمان أن ينحصر ، أو ينعدم من الوجود ، ومن أجل هذا الهدف الذي اعتبروه أهم الأهداف وأخطرها ، تألف كل أصحاب السلطة في الأرض فأتفقت كلمتهم بأن كل من جاهر بإيمانه بالسيد المسيح ، كان لابد أن يُقدَّم لتعذيب قد يطول وقد يقصر ، ثم ينتهي التعذيب بالموت ، ثم اصطلح الحكام أن يقدموا للموت المؤمنين جماعات جماعات أو سكان بلاد بأكملها بحيث لا ينجو من حكم الموت أحد .</p>
<p>وكانت النتيجة عكس ما توقعه أعداء الايمان، فأن الايمان بالكلمة انتشر أمره، واستشري خطره، وانضمت الي حظيرة الايمان أعداد كثيرة جداً ، نتيجة لهذا الاضطهاد المرير . لا تقل أبداً عن الأعداد التي آمنت نتيجة الكرازة بالكلمة.</p>
<p>هذه ظاهرة تستحق التسجيل، أن الشهادة بالدم كانت كرازة … كرازة لا يشوبها الضعف ولا ينقصها الدليل. فأنها كانت لا تعتمد علي بيان اللسان أو علي فصاحة الانسان، وحسبنا دليلا علي صدقها أن الكارزين بها ، حين كان لهم الخيار بين الحياة وانكار هذا الايمان ، وبين الموت أن كانوا هم من أنصار هذا الايمان أو من الدعاة له . فاختاروا الموت، اختيارهم للصدق وللأفضل.</p>
<p>اضطهاد المؤمنين دليل علي ضعف أعداء الايمان، لذلك فأن الجولة تنتهي دائما بانتصار الايمان الصادق الصامد . الايمان الذي لا ترعبه أو ترعشه التلويحات أو التلميحات، أو التنازلات … حتي لو وصل التنازل بصاحبه إلي درجة التنازل عن الحياة برُمتها .</p>
<p>حين كانت الكنيسة بجدرانها وأعمدتها، تزينها قطرات دم الشهداء ، وفوق الجميع كان يشمُخ الرب بصليبه وبدمه كانت الشهادة فيها شهادة قوية ، شهادة لا تنقصها مساندة الروح القدس وفاعليته في المخدومين . لكن حين يطلو الطلاء ، وتحل الزينة محل الدماء ، فكل منا في مكان الصمت ويجيد الاستماع لكلمات الرثاء ، أو لكلمات جوفاء … فأين نحن من الكرازة وأين نحن من الشهادة بقوة ؟</p>
<p>يقول بولس الرسول في رسالته الي العبرانيين &#8221; إذ لنا سحابة من الشهود &#8221; فالشهداء ما زالوا في مكانهم ، وما زالت دماؤهم الشاهدة والصارخة تعبر عن نفسها ، عبر العصور والأجيال في غير توقف أو تلكؤ .</p>
<p>حتي لو طرأت علي الكنيسة أجواء وتطورات غريبة علي دعوة الايمان ، وحاولت هذه التطورات أن تفرض نفسها فرض الواقع ، فأن هذا لن يغير من الأمر شيئاً ، لأن الايمان ، إن أعوزته الصورة اللامعة المنظورة ، والمشهود لها ، فإنه يظل كما هو في مثاليته كالتيار الخفي يعمل عمل الله ، بشهادة الكلمة أو بشهادة الدم ، وأنه في ذلك يلقي أكثر من تأييد ، بل حتي الذين تجرفهم الأمواج أو تخدعهم التطورات ، فأن صوت الرب الهاتف فيهم والمبكت لهم ، يظل في مكانه من كل تصرفاتهم ، ويظلون هم في حالة قلق محرومين من سلام الله ، السلام الذي يملأ القلوب والأفكار .</p>
<p>لكن هذا لا يمنع أنهم يخترعون الكثير من الخدع التي تجعلهم في مكان الاسترخاء أو الاستسلام ، أو في مكان الهروب من واقع حياتهم بأنواع من التسليات غير المشروعة ، فتحملهم الي درجة اللاوعي ، واللاإدراك واللامسئولية … ولا نستطيع أن نخلع علي هذه الحالة الأخيرة أنها حالة من السلام <a href="#_ftn11" name="_ftnref11">[11]</a> .</p>
<p>المهندس عاطف ميخائيل ( مقالة مترجمة )</p>
<p>سر السعادة</p>
<p>السعادة للحزاني</p>
<p>طوبى للحزاني لأنهم يتعزون (مت ٥: ٤)</p>
<p>تمر على حياتنا لحظات فيها نشعر بالضيق والضجر، وما من مسليات أو ملاهي عالمية تستطيع أن تخلصنا من هذا الألم ذلك لأن نفوسنا من الداخل أعمق من أن يصفها علماء النفس والباحثون. والحقيقة أن الانسان، بصرف النظر عن مؤهلاته ومهاراته لهو في فقر روحي بدون الله.</p>
<p>إن رسالة المسيح كانت موجهة خاصة إلى الحزاني والمنكسرى القلوب لذا قال السيد المسيح &#8221; روح الرب على لأنه مسحنى لأبشر المساكين أرسلني لأشفى المنكسرى القلوب لأنادي للمأسورين بالإطلاق والاعمى بالبصر وأرسل المنسحقين في الحرية حقاً طوبى للحزانى لأنهم يعتزون.</p>
<p>ولأول نظرة نلقيها على هذا القول نرى تناقضاً. هل الفرح والألم يسيران معا ، وكيف يستطيع الانسان أن يكون سعيداً وهو في حزن وكيف يمكن للانسان أن يستخلص السعادة من الحزن . إن الآية تؤكد معنى عميق &#8230; فالمسيح كان يتكلم إلى المؤمنين من جميع الأعمار ليكشف لهم سر السعادة.</p>
<p>ان جيلنا الحاضر جيل حزن بالتأكيد لأنه لا يكترث بشيء ،إن هذا القرن سيدخل التاريخ على أنه « قرن للمظهر وليس الجوهر » . إن التعبير الشائع على الألسن هو « ثم ماذا ..؟؟ » . وهو في الحقيقة يصف اتجاهات الكثيرين نحو الحياة .</p>
<p>الكثيرون جداً يظنون أنه كلما امتلكوا الكثير وكلما عاشوا في رفاهيته وصار لهم كثيرون تحت امرتهم ، كلما زادت سعادتهم . أما سعادة الروح عندهم فليست في الحسبان . ثم ماذا .؟ إضحك تضحك معك الدنيا .. إحزن ستحزن وحدك . وعليه فإن أبناء العالم يلهون ويتسلون ما شاء لهم أن يفعلوا ليحيوا الحياة السطحية الفارغة . لكن الحياة أعمق من ذلك بكثير أعمق من الأغاني الرخيصة والبرامج التليفزيونية التافهة والروايات الهزيلة والأفلام الخليعة  حق هؤلاء الذين يؤلفون ويكتبون تلك النفايات يعرفون جيدا أن الحياة عمل شاق .</p>
<p>إن السيد المسيح لم يقصد الطوبى للمهمومين البائسين أو المتشائمين .. لقد اهتم الفريسيون بالدين كمظهر ولبسوا مسوحاً ليظهروا متدينين إذا انتهرهم السيد المسيح بشدة إذ قال ( ويل لكم ايها الكتبة والفريسيون المراؤون لأنكم تشبهون قبوراً مبيضة تظهر من خارج جميلة وهى مملوءة عظام أموات وكل نجاسة ) لذلك قال البعض ( إن ديانة بعض الناس تشبه من يشكوا دائماً بصداع في رأسه فهو غير قادر على خلع رأسه وهي تؤلمه طالما هي موجودة ) .</p>
<p>نحن نتساءل ماذا يقصد الرب بقوله ( طوبى للحزاني ) ، وقطعاً ليس المقصود بالحزانى هؤلاء الذين يبكون دائماً أو يعانون اضطراباً عاطفيا . إن الآية ليست لأمثال هؤلاء .. إنها للمتزنين والعقلاء ليحيوا حياة سامية وأكثر سعادة .</p>
<p>إن كلمة حزن تعنى الشعور بالأسى والأسف لأمور خاطئة موجوده ، إنها تحمل ضمنا الشعور بالمحبة والرأفة والشفقة إلى الآخرين والمحتاجين في العالم أجمع . إن الحزن الذي يقصده المعلم يحمل خمسة معانى والكلمة التي استخدمها يسوع تحمل هذه المعاني العميقة :</p>
<p>اولا : الحزن لضعف جهادنا :</p>
<p>قال أرميا نبي المراثى الذي امتلا ً قلبه بالحزن نحو العالم &#8221; عرفت يا رب أنه ليس للانسان طريقة ليس لانسان يمشى أن يهدى خطواته &#8220;. والآن قبل أن تصير قويا يجب أن تعرف أنك جاهل ، وقبل أن تتقبل القوة والحكمة من الله يجب أن تعترف بضعفك وجهلك .. يجب أن تبك على خطاياك قبل أن تفرح يلقاء المخلص وفي ترتيب الرب يأتى الحزن قبل الابتهاج .</p>
<p>سعداء هؤلاء الذين يحزنون لشعورهم بعدم الاستحقاق ، الذين يحزنون لأنهم يشعرون بتقصيرهم نحو الله ، الذين يحزنون لأنهم غير قادرين أن يتمموا مقاصد الرب .</p>
<p>أما نبي الرب القرى أشعياء فانه عرف بخبرته العميقة أن الانسان يجب أن يحنى ركبته في حزن و انسكاب قبل أن يبدأ في صوت التهليل والتسبيح .</p>
<p>وحينما شعر بقبح الخطية أمام نور القداسة والطهارة الإلهية قال : &#8220;ويل لى إنى هلكت لأنى إنسان نجس الشفتين لأن عينى قد رأتا الملك رب الجنود &#8221; .</p>
<p>ولا يوجد إنسان يقدر أن يعتبر نفسه أنه صالح بعد أن يتلامس مع قداسة الله ، ولكن يجب ألا يستمر حزننا على ضعفنا وخطايانا لمدة طويلة إذ أن الرب يقول : &#8221; أنا أنا هو الماحي ذنوبك لأجل نفسى ، وخطاياك لا أذكرها&#8221; . ولقد حزن أشعياء النبي على ضعفه وتقصيره قبل أن يحس بفرح المغفرة . وأنت إن لم تشعر بخطاياك فكيف ستعرف احتياجك للتوبة ؟ . يجب أن تنزل إلى وادى الحزن لتصعد إلى علو المجد الروحي ، ستشقى وتتعب وأنت تعيش وحيداً قبل أن تجد الصداقة الحقة مع الرب يسوع.</p>
<p>يجب أن تتخلص من سيرتك الباطلة قبل أن تبدأ حياتك الحقيقية ، إن حزننا وانسحاقنا وندمنا ودموعنا هذه كلها تشد انتباه الرب نحونا .. يقول الكتاب المقدس &#8221; قريب هو الرب من المنكسرى القلوب ويخلص المنسحقى الروح&#8221; .</p>
<p>كثيرون جداً حاولوا أن يقفوا أمام ذواتهم وبجهودهم وقوتهم الذاتية حاولوا أن يمتنعوا عن الخطية والشهوات والعادات الرديئة ولكن عبثاً حاولوا &#8220;لم تقاوموا بعد حتى الدم مجاهدين ضد الخطية&#8221;. وأخيراً وبعد فشل ذريع أتوا إلى يسوع فوجدوا فيه القوة فغلبوا وانتصروا .</p>
<p>التجربة تؤكد أننا ضعفاء وتاريخ الجنس البشرى يؤكد ذلك ، والكتاب المقدس يوضح أننا أضعف من أن ننقذ ذواتنا . ومجيء المسيح إلى العالم يبرهن قصور البشرية وضعفها . .&#8221; بالنعمة انتم مخلصون وهذا ليس منكم بل عطية من الله&#8221; .</p>
<p>إن أسعد أيامي هو ذلك اليوم الذي اكتشفت فيه أن صلاحي وقدراتي ومواهبي لا تكفى فى نطر الرب ، فأعلنت احتياجي إلى الرب جهاراً ، ولست أبالغ حينما أقول : إن حزنى بعدها تحول إلى فرح وتنهداتي إلى نشوة .</p>
<p>سعداء هؤلاء الحزاني على ضعفهم وقصورهم لأنهم سيستريحوا في كمال الرب الغنى.</p>
<p>ثانياً : الحزن المؤدى للتوبة</p>
<p>عندما نشعر بعدم قدرتنا على إتمام مقاصد الرب يجب أن نعرف أن سبب ذلك هو الخطية !! حقا اننا لسنا مسئولين عن وجود الخطية في العالم إلا أننا مدانون لوجودها في داخلنا ذلك لأن &#8221; الجميع أخطأوا واعوزهم مجد الله&#8221;  لذا يجب أن نحزن لأن الخطية فينا .</p>
<p>وحينها يذهب المرضى إلى الأطباء النفسانيين فان هؤلاء الأطباء بخبرتهم يحاولون أن يزيلوا الشعور بالذنب عن مرضاهم ولكن لأنهم أطباء الجسد فإن علاجهم لا يصل إلى خبايا النفس . إن يسوع المسبح هو وحده طبيب الروح والنفس.</p>
<p>إن الحزن للتوبه ليس بكاء وأسف على ماديات فقدناها أو حتى علي خطايانا فحسب ، إنه يعنى العزم على تغيير في السلوك وفي الأخلاق وفي الإتجاهات والعادات المتأصلة فينا ، أنه تغيير وانكسار للارادة العتيقة . إنه جزء من خطة كاملة لنحفظ أنفسنا من الخطية ولكن لن يكون الحزن وحده سبب خلاصك ولكن نعمة الله فوق كل شيء .</p>
<p>يقول الكتاب المقدس &#8221; فتوبوا وارجعوا لتمحى خطاياكم لكى تأتى أوقات الفرج من وجه الرب&#8221; عليك أن تتوب أما الفرج والمغفرة فمن عند الرب . حقا أنه ليس سهلا  أن تتغير حالا بعد التوبة ولكن ستتحسن أعصابك بعدها وتشعر بأن قلبك وعقلك قد ارتاحا، وستسرى هذه الفرحة والراحة إلى كل خلية صغيرة في جسدك . .إذا إن كان أحد في المسيح فهو خليقة جديدة.. الأشياء العتيقة قد مضت هوذا الكل قد صار جديداً .</p>
<p>وكما يأتى ألم المخاض قبل الميلاد هكذا أيضا الحزن على الخطية يأتى قبل الميلاد الثاني . إننى لا أعنى أن يكون حزنك بصوت مرتفع وبكاء مسموع .. إن حزنك على خطاياك يأتى في صمت وبلاضجيج .. ولكن هناك أسى عميق واحتياج و انسكاب الله هكذا يقول الكتاب &#8221; لأن الحزن الذي بحسب مشيئة الله ينشئ توبة لخلاص بلا ندامة وأما حزن العالم فينشىء موتا&#8221;</p>
<p>ثالثاً: الحزن الذي للحب</p>
<p>كما ان هناك مقياس يشير إلى كمية الوقود التي في السيارة ، هكذا أيضا فان حبك لمن معك ولإخوتك الذين تراهم هو مقياس حبك لله .</p>
<p>&#8221; أيها الأحباء لنحب بعضنا بعضا لأن المحبة هي من الله وكل من يحب فقد ولد من الله ويعرف الله . . ولنا هذه الوصية منه إن من يحب الله يحب أخاه أيضا &#8220;.</p>
<p>منذ فترة مضت ذهبت إلى أحد للمتاحف في إحدى البلاد فرأيت نماذج لأمور كثيرة وأدوات عديدة بها يحاول بعض المؤمنين جذب الكثير من غير المؤمنين . . إنها المحبة .</p>
<p>وقد قال ابراهام لنكولن مرة : إنني أأسف كثيراً على الانسان الذي يرى أخاه يضرب بالسوط ولا يتأثر . كثير من الناس لا يحس بفقر البشرية وضعفها وذلك بالحقيقة لأنهم لم يولدوا من فوق ، ومحبة الله لم تملا قلوبهم .</p>
<p>وكثيرون يتكلمون عن الأنجيل الاجتماعي ، سلوك الانسان في المجتمع  كأمر منفصل تماما من انجيل المخلص . . لكن الحقيقة أن هناك انجيلا واحدا . . يجب أن نكون مخلصين وسائرين في طريق الحق مع الله وألا يتعارض دورنا الاجتماعي مع الانجيل .</p>
<p>إن المحبة الحقيقية كشعاع الشمس يشرق قبل أن يشع فاذا لم تكن قلوبنا قد امتلأت بالروح القدس فإننا لن نشع دفء الله ومحبته ولن نعرف كيف نحب الآخرين كما يجب .</p>
<p>لقد بكى يسوع أمام قبر أحد أحبائه . وبكى على أورشليم لأنها كمدينة جفت بالروح . . إن قلبه المحب كان يشعر بآلام الآخرين وضيقاتهم . ولكى يؤكد حب الانسان لأخيه الانسان أعاد على مسامع الجميع إحدى الوصايا القديمة : تحب الرب إلهك من كل قلبك ومن كل نفسك ومن كل قدرتك ومن كل فكرك وقريبك مثل نفسك ..</p>
<p>ولذا كان أحد القديسين يردد قائلا : يارب امنحنى أن أطلب المزيد ، لا فيض بالتعزية على الآخرين من أن أكون متعزيا.. لأفهم الآخرين عن أكون مفهوماً . . لأحب الآخرين عن أن أكون محبوبا . .</p>
<p>ذلك لأنى بإعطائى ذلك للاخرين فإننى سآخذ منك.. ذلك لأنى بمغفرتي للاخرين فإنه سيغفر لى.. ذلك لأنى بموتى سيكتب لي الحياة الأبدية .</p>
<p>الحق أنك لن تعرف السعادة الحقيقية إن لم تحس بآلام وضيقات وتعاسة الآخرين .</p>
<p>رابعا : الحزن الذي لأجل خلاص الآخرين :</p>
<p>إن مثل هذا الحزن مطلوب ومعزى &#8221; أقول الصدق في المسيح ولا اكذب وضميرى شاهد لى بالروح القدس أن لي حزنا و وجعاً في قلبي لا ينقطع شديدين فإنى كنت أود لو أكون أنا نفسي محروماً لأجل اخوتي انسبائی حسب الجسد &#8221; ويقول الكتاب « من سمع مثل هذا من رأى مثل هذه هل تمخض بلاد في يوم واحد أو تولد أمه دفعة واحدة فقد محضت صهيون بل ولدت بنيها .</p>
<p>وهذا يرجع إلى الرحمة الالهية النابعة من قلب الرب يسوع من أجل عالم بأجمعه لم يولد بالروح . ولقد عمل الرب ويعمل بطريقة إعجازية بين ملايين البشر الذين آمنوا ويؤمنون بالرب . وهذا لم يكن من تأثير رجل واحد أو بمجهود جماعة من الواعظين  لكن كان ذلك من عمل الصلاة المستمرة ذلك لأن الرب قال ( فاذا تواضع شعبي .. وصلوا وطلبوا وجهي ورجعوا عن طرقهم الردية فإننى اسمع من السماء وأغفر خطيتهم  وقبل يوم حلول الروح القدس على التلاميذ أمضوا عشرة أيام في صلاة مستمرة لذا آمن ثلاثة آلاف دفعة واحدة حين تكلم بطرس الرسول .</p>
<p>إن الصلاة بالروح تعنى إظهار عمق المحبة للاخرين وهي دائما معضدة بالروح القدس . . لأننا لسنا نعلم ما نصلى لأجله كما ينبغى ولكن الروح نفسه يشفع فينا بأنات لا ينطق بها .</p>
<p>إن مثل هذه الصلاة تقفز فوق المحيطات وتسير في الصحاري القاحلة تنتشر على الجبال وتجرى عبر الغابات حاملة قوة الانجيل إلى كل من يسمع.</p>
<p>إن الروح يشفع فينا بأنات لا ينطق بها . يصلى ويحزن ويدافع من داخلنا :</p>
<p>إننا أعضاء في جسده وجزء منه ، لقد رفعنا من محيط أنانيتنا إلى علو مجده .</p>
<p>لقد ولد للتلاميذ مرة ثانية بالصلاة والروح القدس ، لقد ولد بولس الرسول ميلاداً جديداً بعمل الرب واستعداد قلبه ، لقد ولد جميع الذين أحبوا الرب من كل قلوبهم مرة ثانية ميلاداً جديداً ، أما الأشياء العتيقة فقد مضت .</p>
<p>خامساً : الحزن الذي للنصرة :</p>
<p>أما آخر أنواع الحزن فهو: إن كنا نتألم معه لكي نتمجد ايضا معه . في العالم سيكون لكم ضيق.. ذلك قاله الرب للجميع وخصوصا لأولاده .. إن هذا العالم وادى للدموع، وآلام القلب وضيقات النفس كالسحب ، والأشباح تحيط بنا لكن الآلام هي البوتقة التي يمتحن فيها إيماننا وهؤلاء الذين ينجحون يكونون كالذهب النقي بعد تمحيصه بالنار لأن خفة ضيقتنا الوقتية تنشئ أكثر فأكثر ثقل مجد ابديا  .</p>
<p>كذلك يقول الانجيل أنه بحزننا وحرمانها من ملذات العالم يصير لنا فرح &#8221; عند المساء يبيت البكاء وفى الصباح ترنم &#8221; .</p>
<p>إن الأسى على النفس وعلى الذات لا يولد التعزية أو الراحة.. إنه يزيد الشقاء والأسى لا يولد إلا الأسى.</p>
<p>لا تندم كثيراً ولا تندب حظك . . لكن الأسف والحزن الذي يولد في المسيحي يصير في داخله الراحة والتعزية ( طوبى للحزانى لأنهم يتعزون ) إننا ننال تعزيتنا في حزننا لأن المسيح معنا . لقد قال : ها أنا معكم كل الأيام إلى انقضاء الدهر  .</p>
<p>والحقيقية أنه كلما زاد الايمان يصير الألم تافهاً &#8221; لا تضطرب قلوبكم .. آمنوا بی &#8221;</p>
<p>وفي الحزن عزاء لأن الرب يعطى أغنية معزية في أثنائه ..</p>
<p>كما يقول الكتاب وعند كثرة همومي في داخلي تعزياتك تلذذ نفسي .</p>
<p>إن وجوده في حياتنا يحول الحزن إلى أغنية . . إلى أغنية تعزية . إن مثل هذه التعزية هي التي جعلت أحدهم يرى منزله مهدما بعد الحرب فيقول : إنني الآن أستطيع أن أبني منزلا آخر له أساسا أقوى : كما جعلت إحدى السيدات الفضليات بعد بتر ساقها لمرضها بالسكر ، إذ قالت &#8221; أشكر إلهى لأن رجلى لم تبتر تحت عجلة الترام ولكن بيد جراح ماهر داخل غرفة العمليات&#8221; .</p>
<p>تلك التعزية أيضا تجعلنا نؤمن بأن هؤلاء الذين انتقلوا إلى أعلا ، ذهبوا إلى الراحة الأبدية المعدة لنا وتجعلنا نؤمن بأن الله لا يخطأ أبداً .</p>
<p>هكذا نرى أن في حزننا فرح . . والروح الحساسة تنشد وتغنى . . فلقد رأينا بولس وسيلا في غياهب السجون لم تستطع المقطرة والجراح السخينة أن تنزع سلامهما ، بل كان يصليان ويسبحان إن صوت الضفدع يختلف كليا عن صوت الكناريا ، ذلك لأن الكناريا أكثر حساسية ورقة .</p>
<p>لقد قال أحدهم: الألم والنجاح يسيران معاً وإن نجحت بدون الم فذلك لأن آخرين قبلك تألموا.وإن تألمت بدون نجاح ذلك يعني أن آخرين بعدك سينجحوا ، إن هؤلاء الحزاني يعرفون جيدا ان حزنهم وآلامهم وضيقهم يمخض عن ميلاد جديد. وعن عالم جديد إنهم فرحون لأنهم يعلمون ان الخالق العظيم يستعمل الضوء والظل ليخلق صورة جيدة وخلقة جديدة ، إنهم يدركون أنه من خلال الدموع ستكون الابتسامات ومن الحزن يخرج الفرح والعزاء . إنهم يعرفون &#8220;أننا إن كنا قد متنا معه فسنحيا أيضا معه إن كنا نصبر معه  فسنملك ايضا &#8220;&#8221; لأنى أظن أن آلام هذا الزمان الحاضر لا تقاس بالمجد العتيد أن يستعلن فينا&#8221; ؟</p>
<p>السعادة للودعاء</p>
<p>&#8221; طوبى للودعاء لأنهم يرثون الأرض &#8221; (مت٥:٥)</p>
<p>تبحث الغالبية العظمى من الناس عن أقصر الطرق التي تؤدى إلى السعادة ، لذلك فهم يفتشون عنها على السطح دون أن يدخلوا إلى العمق حيث توجد . وفي العادة يطرق الانسان الطريق السهل أن النور وفرص النجاح لا توجد إلا في الطريق الصعب . وفي الواقع أنك لن تجد الذهب الروحي مع إلا في المنجم الحقيقي الذي هو التطويبات .</p>
<p>أن نزول المسيح إلى العالم يؤكد لنا أن الله لم يسر بأن يرى الإنسان غير سعيد . لقد أرسل الله إبنه لا ليعطينا الحياة الأبدية فحسب بل لتكون لنا هنا حياة أفضل أيضاً  لذا كانت تعاليم المخلص فريدة ومختلفة تماماً من أى تعاليم أخرى . لقد خرج بالديانة من النظريات إلى العمل .. لم يستعمل عبارات لفظية منمقة لإيضاح طريق الحياة . أنه لم يستعمل جملا كهذه : ربما ذلك هو الطريق . ان ذلك رأى .. أنا أقصد أن أقول..</p>
<p>لقد كان يتكلم كمن له سلطان .. كان يتكلم بصفة قاطعة . كان يتكلم كمن يعلم يقينا وكان يفعل ما يقول . لم يكن يتكلام كالفلاسفة الذين يقولون أنهم لا زالوا يبحثون عن الحقيقة ولم يجدوها بعد . وفي التطويب الثالث يقرر السيد المسيح أن الودعاء هم الذين يرثون الأرض ، هل خطر ببالك مرة أن في الوداعة سعادة ؟! أن القاموس يعطى كلمة الوداعة هذه المعاني : &#8221; الألفة ، الخضوع ، المسالمة ، والحقيقة أن أغلبنا لا يعرف إلا قلة من الناس الخاضعين المسالمين المتآلفين &#8221; .</p>
<p>هل معنى ذلك أن المسيح يطلب منا الطاعة العمياء ؟ هل السعادة نتيجة لضغط أو لقوة ؟ بالتأكيد لا .</p>
<p>ان المسيح لا يحب أن ننظر إلى الله كقوة دكتاتورية. وليس هناك سعادة في أن تدفع لفعل شيء لا ترغبه بالقوة، إن ذلك يكون ضد طبيعة الله كما أنه ضد الحرية الشخصية التي منحها الله للانسان إن الله لن يقيد حريتنا لنختار بين الحياة الأبدية والموت الروحي بين الصلاح والفساد ، بين الصواب والخطأ . إن الله ليس هدفه النهائى أن يمجد فحسب بل أن يصنع علاقة سارة بينه وبين مخلوقه المتوج الانسان . أو هل معنى الوداعة الضعف ؟ فهل التطويب يكون الانسان الذليل الخائف ؟ بالتأكيد لا.. لقد كان التلاميذ ودعاء ولم يكونوا ضعفاء .</p>
<p>أو هل يعنى المسبح بالودعاء أولئك أصحاب المزاج الطبيعي الهاديء .. حقا يولد بعض الناس بأخلاق أطيب من الآخرين.. ولكن مثل هذه الصفة ليست نتيجة الصلاة أو جهاد روحي إنها وليدة الوراثة .. فقد يكون أحد الآباء أو الأمهات أو الأجداد قد اكتسب تلك الصفة سابقا . ولكن لم يقصد المسيح هؤلاء القلائل المحظوظين بالطبيعة ، لأن ذلك يعني أن كثيرين جداً لن يعرفوا طريق السعادة . إن قول السيد الرب &#8220;طوبى للودعاء لأنهم يرثون الأرض&#8221; يخالف كلية مفاهيم المجتمع الحديث .. إننا نقول .. طوبى للمتفوقين لأنهم يحظون بتقدير زملائهم أو طوبى لذوى اللياقة لأنهم يحظون بالاحترام أو طوبى لأصحاب المناصب العالية لأنهم يحظون بالذكرى أو طوبى للأغنياء لأنهم يحظون بالأصدقاء والأطايب . كما أن السيد الرب لم يقل .. كن وديما لترث الأرض .. إنه يعلم جيداً أكثر من أن الوداعة هبة ونعمة من الله ونتيجة للميلاد الجديد .</p>
<p>لقد كان موسى وديعا ولكن وداعته لم تكن من طبيعته الأولى..</p>
<p>لقد قتل مصريا في البداية وأكثر من مرة إغتاظ من بنى اسرائيل وذات مرة رمى بلوحى الشريعة على الأرض حقا إن وداعته كانت ضد طبيعته ولكن وداعته كانت معجزة من عند الله .</p>
<p>كذلك لم يكن بطرس الرسول وديعاً بطبيعته..</p>
<p>فقد قطع أذن أحد الحراس في لحظة غضبه عندما جاء ليقبض على السيد المسيح ، وأنكر السيد المسيح مرات ثلاث لكنه صار فيما بعد من أودع الرجال وأقواهم حينها عرف المسيح معرفة حقة .</p>
<p>من أين له تلك الوداعة؟</p>
<p>كذا كان بولس الرسول قبل أن يتحول . لم يكن وديعاً..</p>
<p>وفي كبرياء وعجرفة أراد أن يقضي على جميع المسيحيين.</p>
<p>لقد كان أنانيا ومغروراً..</p>
<p>ولكنه حينما كتب رسالته الروحية إلى أهل غلاطية قال ( أما ثمر الروح فهو محبة فرح سلام .. طول أناة .. لطف .. صلاح .. إيمان .. وداعة .. تعفف ) .</p>
<p>وهنا حسب الوداعة إحدى عطايا الله ولم يحسبها من صنع الانسان إنه ليس لطبيعتنا أن ترضى بالوداعة إنها تحب الكبرياء والترفع لهذا كان الميلاد الثاني هاما جدا بالنسبة لجميعنا لذا قال المسيح لا لنقديموس فقط بل للجميع &#8221; لا تتعجب أني قلت لك ينبغي أن تولدوا من فوق &#8220;.</p>
<p>وتبدأ من هنا الوداعة .. فيجب أن تتغير طبيعتك ، ان كنت تريد هذه السعادة يجب أن تولد من جديد . انها الخطوة الأولى .. إن كنت متفاخراً بذاتك ولا تريد أن تبدأ هذه الخطوة لست مؤهلا أن ترث الأرض ، وحينما ترفض هذه الوصية فاننا نفقد حقنا في وعوده التالية إننا لا نستطيع أن ننتهي إلى جواب ما دمنا قد بدأنا خطأ ، إن لم يكن هناك ميلاد جديد فليس هناك وداعة ومن ثم فليس لنا نصيب في السعادة .</p>
<p>والانسان المتكبر يحصد لنفسه الضيق وهو إذ يزعج الآخرين فإنه يقتل نفسه كالنحلة التي إذا لدغت أحداً فإنها تموت.</p>
<p>والمسيح أيضا لم يقل &#8221; يجب أن تكون وديعا لأن ذلك هو الطريق لتحيا &#8221; انه يقول اننا إن أردنا أن نجد سر السعادة وأن تتمتع بحياة أفضل فان الوداعة على المفتاح الرئيسي.</p>
<p>الوداعة لؤلؤة ثمينة فدعنا نضعها تحت الأضواء لنعرف قيمتها :</p>
<p>أولا : الوداعة تعنى اللطف :</p>
<p>لم تعرف كلمة اللطف قبل المسيحية ولم يسمع الناس عن اللطفاء من قبل المسيحيين .. ان هذه الصفة الأخلاقية كانت نتيجة للامانة المسيحية .</p>
<p>والعالم في الآونة الأخيرة قبل المسيح كان تحت حكم بربری انتشر وتوسع وشمل كل المجتمعات . لكن كل هذه القساوة وغلاظة القلوب والحروب الدموية لم يبق سوى آثارها على أناس قلائل في بعض المجتمعات بعد المسيحية.</p>
<p>المقاتلة، حتى المجتمع مشحون بعلامات القسوة والعنف بالافلام السينمائية المليئة بالقتل والحروب وكذا نجد مجلاتنا وجرائدنا تفرد صفحات تمثل فيها العنف والجريمة ، حتى الكتب التي في أيدينا اتسمت بهذا الطابع لذا فأبناؤنا قد أمتلأت عقولهم بالعنف . كما أننا نرى بين بعضنا البعض التصرفات البربرية ظاهرة وواضحة فالجيران يتشاجرون .. وما بين المراهقين من صراع يتزايد يوما بعد يوم والمشاجرات اليومية بين الأب والأم تحتل وقتا كبيرا .</p>
<p>لماذا وكيف زحف هذا كله إلى حياتنا الإجتماعية ؟ ! ذلك لأننا نسينا قول يسوع &#8221; طوبي الودعاء &#8221; !</p>
<p>لقد أبرزنا الرذيلة وأخفينا الفضيلة . لقد تلاشت الوداعة واللطف والسماحة ليحل محلها القانون البربري وقانون العين والسن والبقاء للأقوى . إننا أغنياء في المعرفة فقراء في الحكم &#8230;</p>
<p>أغنياء في معرفة فنون الحرب والقوة فقراء في الوداعة واللطف والحق . إننا آلات للغضب والعصبية والشقاء والهزيمة.</p>
<p>وكما يقول الكتاب &#8221; واما الحكمة التي من فوق فهي أولا طاهرة ثم مسالمة مترفقة مذعنه مملؤة رحمة وأثماراً صالحة عديمة الريب والرياء &#8221; .</p>
<p>لقد عرفنا كثيرين خشنين قاسيين غير مترفقين إلا أنه بعد أن دخل الإيمان قلوبهم وعرفوا السبح كمخلص صاروا لطفاء صبورین شاكرين .</p>
<p>إن كثيرين تغيرت حياتهم وصاروا ودعاء لأنهم عرفوا المسيح وتطويباته .. حقا أن ثمار الروح صلاح .. إيمان .. وداعة .. تعفف .</p>
<p>ثانيا : الوداعة تقودنا إلى تسليم ذواتنا :</p>
<p>أن تسليم حياتنا له معنيان متلازمان هما &#8221; يترك ويعطى &#8221; وهو يشير في خط كلمات المسيح &#8221; ومن أضاع حياته من أجلى .. يجدها &#8220;.</p>
<p>ويعرف الودعاء التعبير الشائع &#8221; لا تحاربه فإنه أقوى من كلانا .. &#8221; لذا فهم يحادثون الرب قائلين &#8221; أنت تحارب &#8221; .</p>
<p>و الكتاب يقول &#8220;لأنه كما قدمتهم أعضاءكم عبيداً للنجاسة وللاثم .. هكذا الآن قدموا أعضاءكم عبيدا للبر للقداسة » رو٦: ١٩ ۰ وبدلا من أن تملأ عقلك بالغضب وجسدك تسلمه للخطية وتميت روحك .. قدم ذاتك كلها للرب .. ستمحى أحاسيس الشر وتختفى الاضطرابات من حياتك في غلاف الهواء الرقيق ، وبعد ذلك ستبدأ في حياتك أمور جديدة ستعرف كيف تسلمها لله . لتثمر أثمارها . ستشعر بأنتمائك للحياة الجديدة ويذوب الانسان القديم .. ويملأك الأمل .. ذلك لأنك سلمت حياتك في وداعة .. أنك بدأت ترث الأرض التي أعدها الله للذين يحبونه ويثقون فيه كلية .طوبى لمن سلوا حياتهم كلها لله ؟<a href="#_ftn12" name="_ftnref12">[12]</a></p>
<p>من وحي قراءات اليوم</p>
<p>أنتم نور العالم        إنجيل القدَّاس</p>
<p>(كلمات اعجبتني لنيلسون مانديلا)</p>
<p>&#8221;  خوفنا العميق ليس اننا بلا كفاءه &#8230; خوفنا العميق هو ان كفائتنا لاتقاس (في نظرنا)+</p>
<p>+ نخاف من النور أكثر من الظلام في حياتنا</p>
<p>+ نسأل انفسنا من انا حتي اكون موهوب جميل حاد الذكاء؟</p>
<p>+ انا ايه علشان مابقاش كده؟ (المفروض السؤال يكون كده )</p>
<p>انت ابن الله+</p>
<p>+ تصغيرك (تحقيرك) لنفسك لن يساعد العالم</p>
<p>+ لا يوجد ميزه لتصغيرك لنفسك لاجل ان الناس حولك يشعرون بثقه في انفسهم نتيجه تصغيرك لنفسك</p>
<p>+ نحن مولودون ليظهر مجد الله فينا وليس في قليلين منا لكن فينا كلنا</p>
<p>+ وعندما يظهر النور الذي فينا نعطي الاخرين ايضا (أحياناً دون قصد ودون وعي منا) ان يشع نورهم ايضا</p>
<p>وعندما نتحرر من الخوف سيحرر وجودنا تلقائيا الاخرين</p>
<p><a href="#_ftnref1" name="_ftn1"></a>١١٥- الشهيد كبريانوس - تفسير رؤيا ٦ - القمص تادرس يعقوب ملطي</p>
<p><a href="#_ftnref2" name="_ftn2"></a>١١٦- كتاب عظات علي سفر أرميا للعلامة أوريجينوس - ترجمة جاكلين سمير كوستا - كنيسة مار جرجس سبورتنج</p>
<p><a href="#_ftnref3" name="_ftn3"></a>١١٧- المرجع : كتاب الإستشهاد في المسيحية - المتنيح الأنبا يؤانس أسقف الغربية</p>
<p><a href="#_ftnref4" name="_ftn4"></a>١١٨- القديس غريغوريوس النزينزي - تفسير رسالة فيلبي الإصحاح الثاني - القمص تادرس يعقوب ملطي</p>
<p><a href="#_ftnref5" name="_ftn5"></a>١١٩- المرجع : كتاب المسيح مجد الشهداء - ترجمة الباحث ريمون يوسف رزق</p>
<p><a href="#_ftnref6" name="_ftn6"></a>١٢٠- ترجمها عن اللغة القبطية د. صموئيل القس قزمان معوض قسم الدراسات القبطية - جامعة مونستر بألمانيا</p>
<p><a href="#_ftnref7" name="_ftn7"></a>١٢١- المرجع : كتاب الإستشهاد في المسيحية - الأنبا يؤانس أسقف الغربية</p>
<p><a href="#_ftnref8" name="_ftn8"></a>١٢٢- كتاب محفل الملائكة وسحابة الشهود - القمص لوقا سيداروس</p>
<p><a href="#_ftnref9" name="_ftn9"></a>١٢٣- مجلة مدارس الاحد شهري يوليه واغسطس ٢٠١٢</p>
<p><a href="#_ftnref10" name="_ftn10"></a>١٢٤- المرجع : كتاب تأملات وعناصر روحية في آحاد وأيام السنة التوتية ( الجزء الرابع ) - إعداد القمص تادرس البراموسي</p>
<p><a href="#_ftnref11" name="_ftn11"></a>١٢٥- المرجع : كتاب نيروز الإستشهاد - راغب عبد النور</p>
<p><a href="#_ftnref12" name="_ftn12"></a>١٢٦- المرجع : مجلة مدارس الاحد شهري مايو ، نوفمبر ١٩٦٩ - ترجمة المهندس عاطف ميخائيل</p>

      {% endcreateArticleAccordions %}
    </section>
  {% endblock %}
