---
layout: 'layouts/reading.html'
title: 'اليوم الثالث من طوبي'
tags: 'annual'
permalink: /articles/annual/5-3.html
---
  {% block content %}
    <section id="readings">
      <ul>
      {% if 'undefined' != 'undefined' %}
      
      {% else %}
      {% if '19.115:12-13' != 'null' %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">العشية</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeVespers '19.115:12-13' '40.18:1-7' %}
          </div>
        </div>
      </li>
      {% endif %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">باكر</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeMatins '19.119:130,141' '40.18:10-20' '' %}
          </div>
        </div>
      </li>
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <h3 class="flex items-center justify-between">
            <span class="kufi">القداس</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </h3>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeLitugy '46.13:11-13*@+46.14:1-4' '60.1:25*@+60.2:1-10' '44.9:22-30' '19.113:1-2' '40.2:13-23' %}
          </div>
        </div>
      </li>

      {% endif %}
        </ul>
    </section>
    <section id="article">
      <h3 class="mt-8 mb-4 heading-explain">شرح القراءات</h3>
      {% createArticleAccordions %}
        <p>(فمنا إمتلأ فرحًا ولساننا تهليلًا من أجل تناولنا من أسرارك غير المائتة يا رب. لأن مالم تره عين ولم تسمع به أذن ولم يخطر على قلب بشر، ما أعددته يا الله لمحبي إسمك القدوس، هذا أعلنته للأطفال الصغار الذين لبيعتك المقدسة ) صلاة شكر بعد التناول للقداس الباسيلي</p>
<p>لم يقل &#8220;لهؤلاء&#8221;، بل قال: &#8220;لمثل هؤلاء ملكوت الله&#8221;، أي للذين لهم في نيتهم كما في تصرفاتهم ما للأطفال بالطبيعة من بساطة وعدم الأذية. فالطفل لا يبغض، ولا يحمل نية شريرة، حتى إن ضربته والدته لا يعتزل عنها، وأن ألبسته ثيابًا رخيصة يراها أفضل من الثوب الملكي، هكذا من يسلك في طرق الكنيسة أمه الصالحة، لا يكرم شيئًا أكثر منها، حتى ملذاته بكونها ملكة الكل، لذلك يقول الرب: &#8220;من لا يقبل ملكوت الله مثل ولد فلن يدخله<a href="#_ftn1" name="_ftnref1">[1]</a>&#8221;</p>
<h3>شواهد القراءات</h3>
<p>(مز ١١٣: ٧) ، (مت ١٨ : ١ – ٧) ، (مز ١١٨ : ١٠٠ ، ١٠٩) ، (مت ١٨ : ١٠ – ٢٠) ، (١كو ١٣ : ١١ - ١٤ : ١ - ٤)، (١بط ١ : ٢٥ - ٢ : ١ – ١٠) ،(أع ٩ : ٢٢ – ٣٠) ، (مز ١١٢ : ١) ، (مت ٢ : ١٣ – ٢٣)</p>
<h3>ملاحظات على قراءات يوم ٣ طوبه</h3>
<p>+ قراءة إنجيل عشيَّة اليوم (مت ١٨: ١ - ٧) تُشبه قراءة إنجيل القدَّاس في الأحد الثاني من شهر أبيب (مت ١٨ : ١ - ٩)</p>
<p>مجيئها اليوم للإشارة إلي قامة الطفولة ، أما مجيئها في الأحد الثاني من شهر أبيب ( بإضافة آيتين ) للإشارة إلي أهمَّية الإتضاع وتجنُّب أن نكون سبب عثرة للآخرين حتي لو إقتضي الأمر بقطع أي علاقة يمكن أن تحرمنا من الملكوت ، وهي التي أوضحتها الآيات المُضافة ( ٨ ، ٩ )</p>
<p>+ قراءة إنجيل باكر اليوم (مت ١٨: ١٠ - ٢٠) هي نفس قراءة إنجيل باكر ليوم ٢٢ كيهك (تذكار رئيس الملائكة غبريال ) ، ويوم ٣ نسئ ( تذكار رئيس الملائكة رافائيل ) ، ونفس قراءة إنجيل القداس ليوم ١٠ بشنس ( تذكار الثلاثة فتية القديسين )</p>
<p>ومجئ القراءة في يومي ٢٢ كيهك، ٣ نسئ لأجل حديث الرب عن ملائكة الصغار الذين ينظرون وجه الآب ، بينما مجيئها يوم ٣ طوبه ، ١٠ بشنس لأجل حديث الرب عن الصغار وكرامتهم</p>
<p>+ قراءة الكاثوليكون اليوم (١بط ٢ : ١ - ١٠) مُكرَّرة في قراءات أيَّام ١٦ توت ( تجديد كنيسة القيامة ) ، ١ طوبه ( شهادة إستفانوس رئيس الشمامسة ) ، ٢ بؤونه ( وجود عظام يوحنا المعمدان ) ، مع ملاحظة زيادة آية في بداية هذه القراءات الثلاث وهي ختام الإصحاح الأول (١بط ١ : ٢٥) ، كما جاءت أيضاً في قراءات الأحد الرابع من شهر أبيب</p>
<p>والكلام في قراءة اليوم للإشارة إلي أهمِّية التشبه بالأطفال &#8221; مثل أطفال مولودين الآن إشتهوا اللبن العقلي العديم الغش &#8221;</p>
<p>وفي يوم ١٦ توت للإشارة إي كنيسة العهد الجديد ، الحجارة الحيّة ، الكهنوت الملوكي ، الجنس المُختار والأُمَّة المُقدّسة</p>
<p>ومجئ هذه القراءة في يوم  ١ طوبه للإشارة إلي مجد ظهور الله للأمم وإيمانهم به ( موضوع قراءة اليوم ) &#8221; الذين قبلاً لم تكونوا شعباً وأمَّا الآن فأتم صرتم شعب الله &#8221;</p>
<p>ومجيئها يوم ٢ بؤونه للإشارة إلي جوهر كرازة يوحنا وهو الإشارة إلي الحجر الذي صار رأس الزاوية وحمل الله الذي يرفع خطية العالم وعريس البشريّة ، كما أن رأس الزاوية ( المسيح له المجد ) هو الذي ربط بين العهدين القديم والجديد ، كما أن يوحنا هو الذي سعي لكي يُقدِّم للبشرية عريسها الحقيقي ، ورُبما لأجل هذا بدأ الإبركسيس في ذلك اليوم بكلمة &#8221; ولما أكمل يوحنا سعيه &#8221;</p>
<p>ومجيئها في الأحد الرابع من بؤونه للإشارة إلي مجد ابن الله حجر الزاوية الذي أعطي الحياة للعازر الميت بعد أربعة أيَّام في القبر</p>
<p>+ قراءة الإبركسيس اليوم (اع ٩: ٢٢ - ٣٠) تُشبه قراءة الإبركسيس (أع ٩: ٢٢ - ٣١) للأحد الثالث من شهر توت</p>
<p>مجئ القراءة اليوم للإشارة إلي نجاة شاول من مكيدة اليهود (كما الطفل يسوع من مكيدة هيرودس) ، أمَّا مجيئها في الأحد الثالث من شهر توت للإشارة إلي التغيير الذي حدث لشاول ( كما زكَّا العشار في لقائه مع الرب موضوع إنجيل ذاك الأحد )</p>
<p>+ قراءة إنجيل قداس اليوم (مت ٢: ١٣ - ٢٣) هي نفس قراءة إنجيل قداس يوم ٢٤ بشنس ( تذكار مجئ الرب إلي أرض مصر ) ، ونفس قراءة إنجيل قدَّاس الأحد الأوَّل من طوبي ، لأن هذه القراءة تتكلم عن قتل أطفال بيت لحم ( تذكار شهادة أطفال بيت لحم موضوع قراءة اليوم ) ، وأيضاً عن هروب العائلة المُقدَّسة إلي أرض مصر ( الأحد الأوَّل من طوبي وإيمان الأمم ، هروب العائلة المُقدَّسة إلي مصر في ٢٤ بشنس )</p>
<p>+ توافق موضوع قراءة إنجيل قُدَّاس اليوم مع قراءة إنجيل قُدَّاس الأحد الأوَّل من شهر طوبه يؤكِّد ترابط قراءات الآحاد مع قراءات الأيام</p>
<p>أمثلة أخري :</p>
<p>قراءة ٢ توت وقراءة الأحد الأوَّل من شهر توت</p>
<p>قراءة بشارة رئيس الملائكة لوالدة الإله</p>
<p>قراءة الأحد الثالث من طوبه</p>
<p>قراءة الأحد الأول من أبيب</p>
<p>قراءة الأحد الثالث من مسري</p>
<h3>شرح القراءات</h3>
<p>اليوم هو تذكار إستشهاد أطفال بيت لحم وباكورة شهداء ميلاده العجيب لذلك تدور قراءات اليوم علي قامة الطفولة وشهادة الطفولة للمسيح له المجد ولا يُقْصَد بها فقط الفئة العُمرية بل أيضاً الحياة النقيّة وبساطة النمو في النعمة والتدرج من الطفولة إلي الرجولة الروحية وقوّة الحياة في المسيح</p>
<p>تتكلّم المزامير عن قامة الطفولة في مخافتهم لله كما الكبار (مزمور عشيّة ) وإستنارتهم بكلمة الله ( مزمور باكر ) وتسبيحهم وتمجيدهم له ( مزمور القداس )</p>
<p>مزمور عشيّة يُعطي الله البركة لكل الشعب ولكل أسرة تخاف الله بصغارها وكبارها فالمخافة حياة يعيشها أيضاً الصغار كما الكبار</p>
<p>( الرب ذكرنا وباركنا بارك بيت إسرائيل بارك بيت هارون بارك بيت الذين يخافون الرب الصغار مع الكبار )</p>
<p>وفِي مزمور باكر نري كلمة الله تُعطي إستنارة للنفس التي تختار أن تعيش مع الله كأطفال</p>
<p>&#8221; والعجيب أن هذه الآنارة التي تهب فهمًا ومعرفة وحكمة لا تجلب كبرياءً بل اتضاعًا وبساطة، فيصيرالمؤمنون كالأطفال الذين من أجلهم تهلل ربنا يسوع بالروح، قائلًا: &#8220;أحمدك أيها الآب رب السماء والأرض، لأنك أخفيت هذه عن الحكماء والفهماء وأعلنتها للأطفال&#8221;( مت ١١ : ٢٥)  ( تفسير مز ١١٩  - عجيبة هي شهادتك &#8221;</p>
<p>لذلك يُعْلِن هذا المزمور قامة الطفولة ولكن يقول أيضاً القديس أنثيموس أسقف أورشليم أن الأطفال هنا هم الأمم بسبب عدم معرفتهم وأطفال اليهود الذين إستقبلوا الرب في دخوله أورشليم</p>
<p>( إعلان أقوالك يُنير لي ويفهِّم الأطفال الصغار شاب أنا مرذول وحقوقك لم أنس )</p>
<p>وفِي مزمور القداس تقترن نقاوة الطفولة بشركة الحياة الملائكية في التسبيح الدائم</p>
<p>( سبحوا أيها الفتيان الرب سبحوا لإسم الرب ليكن إسم الرب مُباركاً من الآن وإلي الأبد )</p>
<p>وتتكلّم القراءات عن الطفولة كتدرّج في الحياة في محدودية الإدراك ( البولس ) وإحتياج النمو ( الكاثوليكون ) والإنطلاقة السريعة في الشهادة للمسيح له المجد ( الإبركسيس )</p>
<p>يتكلّم البولس عن الطفولة في الإدراك المحدود مُقارنة بالرجولة وهو في هذا يقارن بين حياتنا علي الأرض بالإدراك المحدود عن الحب الإلهي وبين الأبديّة بإنفتاح الأعين علي الملكوت وإتّساع المعرفة وكمالها</p>
<p>( لمّا كنت طفلاً كطفلٍ كنت أتكلم وكطفلٍ كنت أفطن وكطفلٍ كنت أفتكر ولكن لما صرت رجلاً أبطلت ما للطفولية فإننا ننظر الآن في مرآة في لغز لكن حينئذ وجهاً لوجه الآن أنا أعلم يسيراً لكن حينئذ كما عُرفت )</p>
<p>ويدعونا الكاثوليكون لإحتياج النمو الدائم في طفولتنا الروحية باللبن العقلي عديم الغش أي حياة الخلاص كما أعلنتها الكنيسة المقدسة وكما عاشها وإختبرها آبائنا القديسين</p>
<p>(فإطرحوا عنكم إذاً كل شر وكل غش وكل رياء وكل حسد وكل نميمة مثل أطفال مولودين الآن إشتهوا اللبن العقلي العديم الغش لكي تنموا به للخلاص إن كنتم قد ذقتم أن الرب صالح الذي إذ تأتون إليه حجراً حيّا مرذولاً من الناس ولكن مختاراً من الله وكريماً<a href="#_ftn2" name="_ftnref2">[2]</a> )</p>
<p>&#8221; إننا نقبل ملكوت الله مثل ولد&#8221; (لو ١٨: ١٧) إن كنّا نتطلّع إلى تعليم ربّنا كطفل تحت التدريب لا يُعارض معلّميه ولا ينازعهم، وإنما بثقة يتقبّل التعليم في ذهنه وبرغبة في التعلُّم</p>
<p>وفِي الإبركسيس عن الإنطلاقة السريعة من الطفولة للرجولة والقوّة فالبرغم من أن شاول الطرسوسي كان حديث الإيمان كطفل مبتدئ في معرفة المسيح لكن كان يزداد قوّة ويشهد للرب يسوع بكل مجاهرة رغم بدايته في الإيمان</p>
<p>( وأما شاول فكان يزداد قوة وكان يُزعج اليهود الساكنين في دمشق ويعلِّمهم أن هذا هو المسيح &#8230; فأخذه برنابا وأحضره إلي الرسل وحدَّثهم كيف أبصر الرب في الطريق وأنه كلمه وكيف جاهر في دمشق بإسم يسوع فكان معهم يدخل في أورشليم ويخرج ويجاهر بإسم الرب يسوع )</p>
<p>وفِي الأناجيل نري أطفالاً عُظماء في الملكوت ( إنجيل عشيّة ) وأطفالاً مُكرّمون ومحفوظون ( إنجيل باكر ) وأطفالاً شهداء ( إنجيل القداس )</p>
<p>يبدأ إنجيل عشيّة بالدعوة للرجوع مثل الأولاد والإتضاع الذي الذي يجعل أولاد الله عُظماء في الملكوت كما يُحذِّر من خطورة عثرة البسطاء في الإيمان</p>
<p>( في تلك الساعة تقدَّم التلاميذ إلي يسوع قائلين من تُري هو الأعظم في ملكوت السموات فدعي طفلاً وأقامه في وسطهم وقال الحق أقول لكم إن لم ترجعوا وتصيروا مثل الأولاد فلن تدخلوا ملكوت السموات ومن قبل صبيا هكذا بإسمي فقد قبلني ومن أعثر أحد هؤلاء الصغار المؤمنين بي فخير له أن يعلَّق في عنقه حجر رحي ويُغرق في البحر)</p>
<p>ويُظهر إنجيل باكر كرامة الأطفال ومجد ملائكتهم في السماء كما يُعْلِن مشيئة الآب في أن يحفظهم من الهلاك ليس فقط أطفال العمر لكن أيضاً بسطاء الحياة</p>
<p>( أنظروا إذا لا تحتقروا هؤلاء الصغار لأني أقول لكم أن ملائكتهم في السموات كل حين ينظرون وجه أبي الذي في السموات )</p>
<p>وربما يُقْصَد أيضاً الضَّالِّين والبعيدين لأنهم في جهالة الأطفال بعيدين عن معرفة الله كما يقول ذهبي الفم &#8221; لا تقل هذا عبد هارب أو ذاك لص أو قاتل، أو إنسان مثقّل بخطايا غير معدودة، أو متسوّل أو حقير&#8230; بل تأمّل أنه لأجله مات المسيح؛ أَما يكفي هذا ليكون أساسًا لنُعطيه كل اهتمام؟ &#8221;</p>
<p>( وإذا حصل ووجده فالحق أقول لكم أنه يفرح به أكثر من التسعة والتسعين التي لم تضلُّ هكذا ليست مشيئة أبي الذي في السموات أن يهلك أحد هؤلاء الصغار )</p>
<p>ويختم إنجيل القداس بالطفولة التي تهرب من الشر بحكمة رغم قدرة الرب علي إفناء هيرودس لأجل تعليمنا كما يُخْتَم الإنجيل بالطفولة التي شهدت بحياتها وكانت باكورة شهداء العهد الجديد</p>
<p>( ولما مضوا وإذا ملاك الرب قد ظهر ليوسف في حُلم قائلاً قم خُذ الصبي وأمَّه واهرب إلي مصر وكن هناك حتي أقول لك لأن هيرودس مُزمع أن يطلب الصبيَّ ليهلكه فقام وأخذ الصبي وَأُمَّه ليلاً ومضي إلي مصر وكان هناك إلي وفاة هيرودس لكي يتم ما قيل من الرب بالنبي القائل من مصر دعوت إبني حينئذ لما رأي هيرودس أن المجوس سخروا به غضب جداً فأرسل وقتل جميع الصبيان الذين في بيت لحم وفِي كل تخومها من إبن سنتين فما دون )</p>
<h3>ملخّص القراءات</h3>
<p>قامة الطفولة هي قامة مخافة الله والإستنارة والتسبيح الملائكي    مزمور عشيّة وباكر والقدّاس</p>
<p>محدودية الإدراك ولكن مع البنيان الدائم كحجارة حية ننتقل إلي الرجولة الروحية وقوّة الشهادة للمسيح                                             البولس والكاثوليكون والإبركسيس</p>
<p>مكانتهم عند الآب ومشيئته من جهتهم وتدبيره في آلامهم   إنجيل عشيّة وباكر والقدّاس</p>
<h3>أفكار مقترحة للعظات</h3>
<h4>الأطفال (١)</h4>
<p>١- مخافة الرب كما الكبار</p>
<p>&#8221; الذين يخافون الرب الصغار مع الكبار &#8221;                                     مزمور عشيّة</p>
<p>٢- مدعوين ومحبوبين</p>
<p>&#8221; فدعي طفلاً وأقامه في وسطهم وقال الحق أقول لكم إن لم ترجعوا وتصيروا مثل الأولاد فلن تدخلوا ملكوت السموات &#8221;                                            إنجيل عشيّة</p>
<p>٣- مُسْتَنيرين ( النقاوة كما الأطفال مدخل الإستنارة )</p>
<p>&#8221; إعلان أقوالك يُنير لي ويفهِّم الأطفال الصغار &#8221;                         مزمور باكر</p>
<p>٤- مُكرَّمين</p>
<p>&#8221; انظروا إذاً لا تحتقروا هؤلاء الصغار &#8221;                                      إنجيل باكر</p>
<p>٥- معرفة الطفولة رغم محدوديتها هي الطريق لقامة الرجولة</p>
<p>&#8221; لمَّا كنت طفلاً كطفلٍ كنت أتكلَّم وكطفلٍ كنت أفطن وكطفلٍ كنت أفتكر ولكن لما صرت رجلاً أبطلت ما للطفولية &#8221;                                                            البولس</p>
<p>٦- العطش للخلاص</p>
<p>&#8221; مثل أطفالٍ مولودين الآن إشتهوا اللبن العقليَّ عديم الغشِّ لكي تنموا به للخلاص &#8221; الكاثوليكون</p>
<p>٧- التسبيح</p>
<p>&#8221; سبحوا أيها الفتيان الرب &#8221;</p>
<p>٨- شهداء يدينون ظلم وشرّ البشر</p>
<p>&#8221; فأرسل وقتل جميع الصبيان الذين في بيت لحم وفِي كل تخومها &#8221;   إنجيل القدَّاس</p>
<h4>(٢) العظيم (مفهوم العظمة)</h4>
<p>١- الاتضاع</p>
<p>&#8221; فمن إتضع مثل هذا الصبي فهذا هو العظيم في ملكوت السموات &#8221;      إنجيل عشيّة</p>
<p>٢- الانشغال بالضالين</p>
<p>&#8221; يترك التسعة والتسعين علي الجبال ويذهب ويطلب الضال وإذا حصل ووجده فالحق أقول لكم إنه يفرح به أكثر من التسعة والتسعين التي لم تضلُّ &#8221;              إنجيل باكر</p>
<p>٣- المحبّة</p>
<p>&#8221; أما الآن فيثبت الإيمان والرجاء والمحبّة هذه الثلاثة ولكن أعظمهن المحبّة &#8221;   البولس</p>
<p>٤- الإيمان</p>
<p>&#8221; الذي يؤمن به لن يخزي فلكم أنتم أيها الذين تؤمنون الكرامة &#8221;                                 الكاثوليكون</p>
<p>٥- الكرازة</p>
<p>&#8221; وأما شاول فكان يزداد قوَّة وكان يزعج اليهود الساكنين في دمشق ويعلمهم ان هذا هو المسيح &#8221;                                                                                                  الإبركسيس</p>
<h4>(٣) الشركة</h4>
<p>١- أهمّية القدوة في شركة الكنيسة</p>
<p>&#8221; ومن أعثر أحد هؤلاء الصغار المؤمنين به فخير له أن يعلق في عنقه حجر رحي &#8221;    إنجيل عشيّة</p>
<p>٢- شركة المحبّة</p>
<p>&#8221; وإذا أخطأ إليك أخوك فإذهب وعاتبه بينه وبينك وحدكما إن سمع منك فقد ربحت أخاك &#8221; إنجيل باكر</p>
<p>٣- شركة العبادة</p>
<p>&#8221; لأنه حيثما إجتمعا إثنان أو ثلاثة بإسمي فهناك أكون في وسطهم &#8221;     إنجيل باكر</p>
<p>٤- شركة المواهب والخدمة</p>
<p>&#8221; وأما من يتنبأ فيتكلّم الناس ببنيان وعزاء وتسلية &#8230;  وأما الذي يتنبأ فقد بني الكنيسة &#8221;                              البولس</p>
<p>٥- شركة بنيان وكمال الكنيسة</p>
<p>&#8221; كونوا أنتم أيضاً كحجارة حية مبنيين بيتاً روحياً كهنوتاً طاهراً &#8221;             الكاثوليكون</p>
<p>٦- شركة الكرازة</p>
<p>&#8221; فكان معهم يدخل في أورشليم ويخرج ويجاهر بإسم الرب يسوع &#8221;        الإبركسيس</p>
<p>٧- شركة الألم</p>
<p>&#8221; راحيل تبكي علي أولادها &#8221;                                                            إنجيل القدَّاس</p>
<h3>عظات آبائية</h3>
<h4>القديس يوحنا ذهبي الفم</h4>
<p><strong>عظه في قتل الاطفال ورجوع المسيح من مصر للقديس يوحنا ذهبي الفم</strong></p>
<p>١-لم يكن جديرا بهيرودس ان يغضب بل ان يرتعش ويعتدل ويدرك انه يقدم علي امور لاقبل له علي اتمامها. غير انه لم يحبس عنان نفسه لان النفس متي كانت غبية ولا يرجي برؤها لا ينفعها الدواء الذي يعطيه الله نفسه. فانظر الي هذا الملك كيف يصر علي اعماله الاولي واصلا جنايه بجنايه ومندفعا الي الهاوية في كل مكان . واذ اصبح كأن شيطان الغضب والحسد قد لعب في رأسه فلا يحسب لشئ حسابا بل يثور ضد الطبيعة نفسها . وهذا الغضب الذي بات يزفر في صدره علي المجوس الذين خدعوه يصب جامه علي الصبيان الابرياء مجددا في فلسطين تلك المأساة التي جرت وقائعها في مصر لانه ( ارسل فقتل كل صبيان بيت لحم وجميع تخومها من ابن سنتين فما دون علي حساب الزمان الذي تحققه من المجوس) اعيروني هنا اذن صاغية . ان كثيرون يفرطون في الكلام عن هؤلاء الصبيان زاعمين ان في هذه الحوادث ظلما . فطائفة منهم يحاربون رأفة بهم ، وطائفة أخري تأخذهم نوبة السخط والحمق . فلكي ننقذ الطائفة الثانية من جنونها ، والاولي من حيرتها اصبروا قليلا علي مانقوله لكم في هذا الصدد. فإذا ما اتهموا العناية الالهية بانها لم تبال بامر قتل الصبيان فبوسعهم ان يتهموها ايضا بقتل الجنود الذين كانوا يحرسون بطرس . لآنه كما ان الصبي لما هرب يومئذ الي مصر لاقي آخرون حتفهم مكانه . كذلك حينما اخرج الملاك بطرس من السجن ونزع عنه السلاسل بحث سمئ ذلك الطاغية وشبهه في خلقه عن السجين ، واذ لم يجده قتل مكانه الجنود الذين كانوا يحرسونه . تقولون ما هذا الجواب ؟ انه لا يحل المسألة بل هو اضافة تزيدها تعقيدا . اني اعلم هذا ايضا ولاجل ذلك ابرز الامور المتشابهة كلها في آن واحد واجعل لها كلها حلا واحدا .                                                                                  وما هو حلها؟ واى قول مقبول نستطيع ان نقول ؟ نقول ان المسيح لم يكن السبب في قتل اولئك الصبيان ، بل قسوة الملك . كما لم يكن بطرس سبب قتل اولئك الجنود بل عته هيرودس . لأن هذا الطاغية لو رأي في الجدار ثغرة او شاهد الأبواب مفتوحة لأمكنه ان يتهم الجنود الذين كانوا يحرسون الرسول . أما وقد كان كل شئ علي حالته إذ كانت الابواب لاتزال مغلقة والسلاسل مشدودة إلي أيدي الحراس لأن السجين كان مقيدا ، فقد كان بوسعه ان يستنتج من ذلك ، لو عدل في حكمه علي الحوادث ، انه لم يكن هناك امر بشري ولا تواطؤ بين السجين والحراس ، بل قوة الهية عجيبة . وحينئذ كان يجب عليه ان يسجد لصانع تلك الآيات بدل ان يشهر حربا ضد الحراس الابرياء . وقد صنع الله كل ما صنع لا لينقذ الحراس فقط بل ليهدي بهم الملك الي الحقيقة . فإذا كان الملك جحودا فليس ذلك ذنب طبيب النفوس الحكيم الذي لم يدع وسيلة ليصلح بها ما قد فسد من خلق هذا المريض . فيجب ان نقول الشئ نفسه عن أمر الصبيان .                                                                                                                    — فلماذا تحنق يا هيرودس إذا كان المجوس سخروا بك ؟ ألم تعلم ان المولود كان إلهيا ؟ الم تدع انت نفسك رؤساء الكهنة ؟ ألم تجمع علماء الناموس ؟ ألم يوضحوا أمام ديوانك النبوءة التي أخبرت من قبل عن هذه الحوادث ؟ ألم تر الآمور القديمة تنطبق علي الآمور الحديثة ؟ ألم تسمع أن نجما يثبت النبوءة ؟  ألم تحترم غيرة البرابرة ؟ ألم تدهش لجرأتهم وثبات عزمهم ؟ ألم يرهبك أن النبوءة قد صدقت ؟ ألم تدرك النهاية من البداية ؟ فلماذا لم تستخلص بذاتك من كافة هذه الأمور ان ما جري لك مع المجوس لم يكن خدعة منهم وانما كان فعل قدرة إلهية قد دبرت كل ما يجب ان يكون ؟ وهب أن المجوس خدعوك فلماذا قتلت الصبيان ولا جناح عليهم ؟</p>
<p>٢- انكم تقولون نعم لقد اصبت وأفحمت هيرودس وأوضحت أنه قاتل لا يبرأ من اللوم ، ولكنك لم تحل الاعتراض بعد علي الفعل ذاته من حيث هو ظلم. فإذا كان هذا الرجل ظالما فلماذا سمح الله بالظلم ؟ بماذا أجيب علي ذلك ؟ أجب بما لم أفتأ أقول في الكنيسة وفي كل مكان وهو ما اريد ان تحرصوا عليه كل الحرص . لأنه يوجد قاعدة عامة تطبق علي كل صعوبة تعرض لنا مثل هذه . وما هي القاعدة وما هو الحل؟ ان كثيرين يظلمون ولا أحد يطيق الظلم . فلكي لا يقلقكم هذا اللغز أبادر إلي حله . إن ما نعانيه ظلما من أي كان من الناس يحسبه الله إما للتكفير عن خطايانا أو لزيادة أجرنا فتوضيحا لهذه القضية أقدم لكم مثلأ : لنفرض أن عبدا مدين بمال كثير لسيده وان هذا العبد اعتدي عليه أناس أشرار فسلب قسما كبيرا من مقتنياته ، فلو ان سيده القادر علي صد السالب الطماع لم يستوف ماله ذاك ، وحسب الأشياء المسلوبة مما يلتزم به العبد نحوه فهل يكون هذا العبد مظلوما ؟ كلا . وما قولك لو عوض عليه بأكثر مما فقد ؟ أفلم يربح ربحا عظيما ؟ إن ذلك لأمر بين . فلنعتقد أن الأمر نفسه يكون لنا مما نعانيه نحن أيضا . اننا لأجل ما ينالنا من الأذي إما نكفر عن خطايانا وإما نحرز أكلة براقة إذا لم نكن مثقلين بالخطايا . هذا اسمعوه من بولس حيث يوجه كلامه نحو الزاني قائلا : ( سلموا مثل هذا إلي الشيطان لهلاك الجسد لكي تخلص الروح) (١كورنثس ٥:٥) وربما تقولون وأي علاقة هنا بهذا النص؟ كان الكلام يدور حول الأضرار التي تلحق بنا من سوانا لا علي ما يصلحنا به مؤدبونا. نعم ليس هذا مدار البحث بل كان البحث عما إذا كان تحمل الأذي لا يضر بمن يتحمله . لكن لكي أسوق كلامي إلي ما هو أقرب إلي موضوع البحث ، تذكر داود الذي حينما أبصر يومئذ شمعي يسير في أثره ويعيره بمصائبه ويقذفه بشتي الشتائم . رد جماح قواده الذين كانوا يريدون القضاء عليه . وقال لهم : ( دعوه يلعن لعل الرب ينظر إلي مذلتي ويجزيني خيرا عن لعن هذا لي اليوم)(٢ ملوك ١١:١٦و١٢) . وكان يقول منشدا في أحد مزاميره أنظر إلي أعدائي لانهم قد كثروا وأبغضوني ظلما واغفر جميع خطاياي) (مزمور١٨:٢٤ و١٩) وان لعازر يتمتع براحة أبدية لأنه تحمل عذابا كثيرا في هذه الحياة . فالذين يبدو أنهم مهانون لا يكونون كذلك إذا ما احتملوا النائبات بثبات جنان لأنهم يجنون منها نفعا كبيرا سواء جاءت الضربة من الله ام من الشيطان .— ولعلكم تقولون أية خطيئة ارتكبها الصبيان ليكفروا عنها ؟ ان هذا الجواب ينطبق علي الذين هم في عمر ارتكبوا فيه خطايا كثيرة فهذا أمر معروف . أما الذين لا يزالون في صبائهم فعن أي خطايا كثيرة يكفرون بهذه النوائب ؟ أما سمعتموني أقول ان الأجر يزداد لمن يتحملونها إن لم يكونوا مثقلين بالخطايا ؟</p>
<p>فأي ضرر إذا لحق بهؤلاء الصبيان الذين قتلوا لأجل هذه القضية ودخلوا سريعا إلي الميناء الهادئ؟ قد تقولون أيضا انهم كانوا يستطيعون أن يحوزوا أجورا كثيرة لو أمد الله بعمرهم . لكن ليس بالشئ القليل ما استحق لهم موتهم من الأجور لأجل قضية مثل هذه . والآ لما سمح الله أن تنتزعهم المنون لو قيض لهم فيما بعد أن يكونوا رجالا عظاما . إذا كان يحتمل بطول اناته اولئك الذين تنقضي حياتهم في الإثم فانه بالأحري لا يسمح بأن يهلك أولئك الصبيان قبل الأوان لو كانوا أعدوا لأعمال خطيرة.</p>
<p>٣- هذه هي بعض الأسباب التي لدينا لا كلها إنما يوجد غيرها بعيدة المنال يعلم بها ذاك الذي يدبر هذه الأمور .  فاجتنابا للخوض في أمور هي علي غايه من الغموض والدقة لنتمسك نحن بما سأبسط لكم فيما يلي ولنتعلم بمصائب غيرنا أن نتحمل بالصبر ( لأن المآساة التي اجتاحت يومئذ بيت لحم ليست امرا ضئيلا إذ الصبيان انتزعوا من ثدي أمهاتهم وأخذوا إلي تلك المجزرة الجائرة) . فاذا كانت نفسك في منتهي الضعف ، وتقصر عن بلوغ هذه الفلسفة السامية ، لتكن نهاية هذه الجنايات علي الأقل عبرة لك ، وخفف عن نفسك بعض الشئ ، لأن الانتقام لم يلبث أن حل بهيرودس ، وأنزل به أشد العقوبة جزاء ما قدمت يداه إذ مني بموت شنيع يدعو الي الرثاء ترافقه ألوف من الويلات ، الشئ الذي بوسعك أن تتحققه إذا طالعت كتاب يوسيفوس المؤرخ، هذا الكتاب الذي لا آتي علي تفاصيله لئلا نطيل عليكم هذا الخطاب أو نقطع اتصال سلكه.</p>
<p>* حينئذ تم القول بارميا النبي القائل : صوت سمع بالرامة. بكاء وعويل كثير . راحيل تبكي علي بنيها وقد ابت ان تتعزي لأنهم ليسوا بالوجود (ار١٥:٣١). فالأنجيل إذا ملأ قلوب مستمعيه فرقا إذ وصف لهم تلك المجزرة الهائلة الظالمة الوحشية الأثيمة. فهو يعود يعزيهم قائلا ان تلك الحوادث لم تتم ضد قدرة اللهوبغير علمه بل سبق فعرفها وأخبر عنها بواسطة نبيه. فلا تضطرب ولا تهن عزيمتك بل بالحري حول بصرك إلي عنايته التي يتعذر وصفها ، والتي تبدو خصوصا سواء في ما يفعل أو في ما يسمح به . وهذا ما عبر عنه هو نفسه في محل آخر إذ كان يتحدث إلي تلاميذه لما سبق فأعلن لهم أنهم سيسلمون إلي المحافل ويقادون إلي الموت وان العالم سيبغضهم ويصلبهم حربا لا هدنة فيها . فكان يقوي عزائمهم ويعزي نفوسهم قائلا : * أليس عصفوران يباعان بفلس ومع ذلك فواحد منهما لا يسقط علي الارض بدون أبيكم الذي في السماوات *(متي٢٩:١٠). فكان يقول لهم ذلك مبينا أنه لا يتم شئ هو جاهله ، لكنه يعلم كل شئ ويفعل كل شئ . فهو يقول لا تضطربوا ولا تقلقوا لأن الذي يعلم ما تعانونه ويستطيع منعه، لا يمنعه لأنه يدرك استعدادكم ويعتني بكم ، الأمر الذي يجب أن نفكر به إبان المحن .</p>
<p>وقائل أي شركه لراحيل مع بيت لحم ؟ وربما يسأل أحد أيضا ما محل هذا القول راحيل تبكي علي بنيها * وأي شركة للرامة مع راحيل ؟ كانت راحيل أم بنيامين ولما ماتت دفنت في مرماح سبق الخيل بجوار هذه البلدة . فلما كان قبرها قريبا وداخلا في نصيب ابنها بنيامين ( لأن الرامة كانت في قبيلة بنيامين) كان الإنجيلي علي صواب إذ يدعوا الصبيان المقتولين بني راحيل نظرا إلي رئيس القبيلة وإلي مكان قبر أمه. ثم بعد إذ يبين ان ذلك الجرح كان بليغا لا يبرأ يقول وقد ابت أن تتعزي لأنهم ليسوا بموجودين *. ان ذلك يعلمنا أيضا ما كنت أقول لكم قبيل هذا وهو أن لا تضطرب حينما يحل بنا ما يخالف وعد الله . فذاك الذي جاء لخلاص شعبه بل لخلاص العالم ماذا كانت اوائله: أمه تلجأ إلي الهرب ، وطنه يقع في شدائد لا يمكن التغلب عليها ، واجترئ فيه علي قتل أشد مرارة من كل قتل ، بكاء وعويل ونحيب في كل مكان . لكن لا تقلق لأن الله يروق له دائما ان تتم تدابيره بما يناقضها إذ يعطينا بذلك دليلا قاطعا علي قدرته. علي هذا النحو هذب تلاميذه وأعدهم ليحسنوا العمل في كل شئ مدبرا الضد بالضد لتكون الأعجوبة أعظم وأبين . حتي اذا ما جلدوهم أيضا وطردوا وتحملوا ضروب الشدائد ينتصرون علي جلاديهم وطارديهم<a href="#_ftn3" name="_ftnref3">[3]</a>.</p>
<h4>القديس يعقوب السروجي</h4>
<p>ميمر للقديس يعقوب السروجي عن شهادة أطفال بيت لحم</p>
<p>إمضوا أيها الأطفال وتقدموني ..</p>
<p>حينئذ بعد هذا قال الملاك ليوسف : قم خذ الصبي و انتقل إلي مصر لأن الملك وضع وجهه مقابل القتل. ولكن ليست الآن الذبيحة بل في وقتها. لأجلها أتي، ولم يأت اليوم بعد الذي يشرب فيه كأسه.يمضي الآن يفتقد أرض مصر، وإذا ما هدأ حدة الملك يرجع الي اليهودية، لولا أنه إستعد ليفتقد مصر إذن لماذا لم يهرب إلي بابل مع رسلها؟!</p>
<p>أما هيرودس فلما استهزأ به مجوس فارس،تمرمر يهدد قتلاً.لم يعرف من هو الملك ليقاتل معه،فجزم أن يهلك جميعه. ترك جميع الملوك الذين في تخومه، وصف القتال ليجاهد مع الأطفال! اصطف الأطفال أمام هيرودس ليقاتلوه وغلبوه لأنهم لم يسلموا عظيم القوات! مضي العريس ليد مصر لتأتي معه، ودم زكي دخل إلي العرس عوضا عن الأطباق . إبن البتول دعا له أخصاء بتوليين، لكي بالدم البتولي يصوروا قتله وذبحه.حسن لهم أن يتألموا من أجله،لأنهم استحقوا مجاورة ميلاده. حملوا دمهم ودخلوا قدامه للتقدمة.</p>
<p>حين أتي ملك الآلام ليسير فيها،أرسل الأطفال إلي الموت ليخبروا المتنحين أن الملك قد أتي :</p>
<p>(أمضوا وقولوا للموت المسيطر أني أنا آت لأحلك من سلطانك. ها بالإنسانية التي غلبتها،أنا أغلبك أمضوا أيها الأطفال وأثبتوا هناك ، مكان الهاوية، فها بعد قليل ادراككم بين الظلام، وأشرق لكم النور العظيم لتفرحوا به. أضطجعوا من العالم و استريحوا علي سرير الأجيال، وعندما أحلها أوقظكم مع كثيرين.</p>
<p>تقدموني قليلاً في طريق الآلام ، حتي آتي وأكملها بالصليب وأقيمكم.</p>
<p>ليكن لك يارب قتل الأطفال بخوراً طاهراً ترضي به عن العالم المحتاج الي الغفران. أضبط السلام لأولاد البيعة المتمسكة بك . يقوم سلامك علي أختضاب زواياها، وحبك يمزج الخمر داخلها لتتنعم به.تحني عظمة الأعزاء تحت أعتابها، وبإفراز يدخلون قدامهم بنذورهم يكثر سلامها، وتبتهج أولادها. ينفتح فمها، وترفع صوتها، وتفرح الملائكة. تغفر للناس، وتضمد الجراح، وتشفي الأوجاع. تكمل البتولين، وتبتهج بالكاملين، وتفرح بالكهنة. فإن لك المجد والقوة والعزة والجبروت إلي أبد الآبدين، آمين<a href="#_ftn4" name="_ftnref4">[4]</a>.</p>
<h3>عظات آباء وخدام معاصرين</h3>
<h4>قداسة البابا تواضروس الثاني</h4>
<p>بركة فى كل مكان</p>
<p>انجيل هذا اليوم استكمال لنفس الأصحاح الذى قرأناه فى قداس عيد الميلاد وهو يشمل ثلاث قصص(  الهروب الى مصر/ مذبحه أطفال بيت لحم / العودة من مصر للناصرة ) .(والتركيز فيها جميعا ينصب على اتمام المكتوب السابق ) .</p>
<p>١ الهروب الى مصر : وقد شرف مصر بهروبه اليها . لأن من مصر بدأ تاريخ اسرائيل كشعب مختار لله .</p>
<p>٢ مذبحة أطفال بيت لحم : وقد شرف بيت لحم بميلاده.</p>
<p>ان حزن بيت لحم حزن عارض ؛ لأن منها سيأتى الله بالفرح والخلاص .( ان كان هيرودس قد قتل الأطفال فيها اليوم &#8230;فميلاد طفل المذود سيكون باب الحياة للجميع ) .</p>
<p>٣ العودة للناصرة : وقد شرف الناصرة بشبابه .</p>
<p>قرية مجهولة لم تذكر فى العهد القديم وقيل عنها : &#8221; أمن الناصرة يخرج شىء صالح &#8221; &#8220;ودعى يسوع بالناصرى وهو لقب تحقير . &#8221; من الآكل خرج أكلا ومن الجافى خرجت حلاوة &#8221; (قض ١٤:١٤) .</p>
<p>البار والعار</p>
<p>هرب المسيح طفلا من مذبحة بيت لحم الى مصر التى تباركت بقدومة . وصارت صاحبة هذه الزيارة المباركة &#8230;. وصارت هذه الزيارة بمثابة اعداد لمصر لتصير منارا للاهوت بمدرستها اللاهوتية ومركزا هاما للكرازة &#8230;ثبتت ايمان كنيستها بدماء شهدائها . عرفت العالم معنى الفضائل المسيحية وسموها بالرهبنة .</p>
<p>وتوجد مقارنة مذهلة بين الخير والشر متمثلين فى يوسف النجار وهيرودس الملك .</p>
<p>يوسف النجار</p>
<p>هيرودس الطاغية</p>
<p>انسان هادىء  عاش حياة التسليم  حياته فى صمت  حرس طفل واحد  خادم سر التجسد  رجل الايمان القوى  نجار  له مركز اجتماعى قليل الأهمية  ثلاث مرات يتلقى رسائل من الملائمة فى حلم  رجل أمين من نسل الملك داود  مستعد أن يعمل مشيئة الله مهما كانت النتائج .</p>
<p>انه يمثل : الايمان والطاعة</p>
<p>انسان غضوب ماكر  عاش حياه العناد  حياته مأساة  قتل أطفال عديدين  لطخ يديه بالدم وأما يسوع فلم يصبه أى ضرر  لقبه الملكى لم يكن آصيلا ولذا كان قلقا على عرشة ظل ملكا 20 سنة كان حاكما قاسيا وخبيثا  فهم خطأ أن المسيح جاء ليأخذ عرشه فكان<a href="#_ftn5" name="_ftnref5">[5]</a></p>
<h4>المتنيح الأنبا أثناسيوس مطران بني سويف والبهنسا</h4>
<p><strong>قتل الأطفال من این سنتين فأقل: (مت ٢: ١٦)</strong></p>
<p>يقول أفرايم السرياني وأوسابيوس المؤرخ أن المجوس أتوا في السنة الثانية لميلاد السيد المسيح . أما ذهبي الفم وكيرلس الأورشليمي فيقولان أن النجم ظهر للمجوس قبل الميلاد بسنتين ، فوصلوا أورشلیم وقت الميلاد .</p>
<p>والرأي الأول يرتب الحوادث على أنه ختن بعد ميلاده بأسبوع ، ثم قدم الى الهيكل بعد أربعين يوما ، ثم ذهبت الأسرة الى الناصرة كما في (لو ۲ : ۳۹) . وأن أفراد الأسرة كانوا يزورون بيت لحم من وقت الى آخر لمحبتهم اياها ، وأن المجوس حين أتوا كانت الأسرة في أحد بيوت بيت لحم ، وكان الطفل ابن سنتين ولذا قال انجيل متى أن المجوس أتوا &#8221; الى البيت &#8221; ولم يقل المذود ، وأنهم &#8220;رأوا الصبي &#8221; ولم يقل الطفل (مت ۲ : ۹) ، وأن الأسرة بعد ذلك توجهت الى مصر .</p>
<p>أما أصحاب الرأي الثاني ، فيرون أن هذه التسميات مجرد استبدالات لفظية ، وأن الطفل كان رضيعا حين زاره المجوس وأن العائلة توجهت فورا الى مصر ، ثم الى الناصرة بعد موت هيرودس : أما قول انجيل لوقا أنهم ذهبوا الى الناصرة &#8221; لما أتموا كل شيء حسب ناموس الرب &#8221; فلا يعنی حتما أنهم ذهبوا اليها عقب الأربعين بل بعد رجوعهم من مصر .</p>
<p>الهروب الى مصر :(مت ۲: ۱۹ - ۲۲)</p>
<p>ظهر ملاك الرب ليوسف وأمره أن يذهب الى مصر وذلك ليعلمنا أن نهرب من الشر . كما أنه حين عاد من مصر وكان أرخيلاوس يملك مكان أبيه أوحى له أن يذهب الى الجلیل ٢ : ٢٣ لا توجد في العهد القديم نبوة بهذا النص . ولذا لم يذكر متى اسم نبي بالذات بل قال &#8221; الأنبياء &#8221; وقد يعني هذا انها نبوة شفهية لم ترد مكتوبة في الأسفار بل تناقلتها الأجيال شفهيا .وقد أثبت الكتاب أن هناك نبوءات نطق بها الأنبياء شفهيا ولم يسجلها الوحي مثل نبوة يونان عن رد تخم الدولة &#8221; من مدخل حماة الى بحر العربة &#8221; أي استرداد ما كان حزائيل الآرامي قد اغتصبه . ولم ترد هذه النبوة الا عند تمامها ، اذ قيل &#8221; حسب کلام الرب .. عن يد عبده يونان بن أمتای &#8221; (٢ مل ١٤ : ٢٥) كما ورد في سفر طوبيت أن نينوى ستخرب كما تكلم عنها يونان طو ٤:١٤ بينما لم يثبت سفر يونان الا تهديد نينوى بالخراب الذي رفع عنها حين تابت.كما اورد العهد الجديد في رسالة يهوذا نبوءة أخنوخ النبي وهي غير واردة في العهد القديم (يه ١٤) .</p>
<p>وهناك رأي أن كلمة ناصرة مأخوذة من &#8221; نطسر &#8221; ومعناها &#8221; غصن &#8221; كما يقال أن مدينة الناصرة كانت محاطة بأشجار قصيرة متى ولذا سميت &#8221; غصن &#8221; وعلى هذا تكون النبوة المشار اليها هي تسمية الأنبياء للسيد المسيح بالغصن كقول أشعياء&#8221; ويخرج قضيب من جزع يسی ، وينبت غصن من أصوله &#8221; (أش ۱۱ : ١). أي أن السيد المسيح غصن ولذا سمي &#8221; ناصريا &#8220;.وبذا يكون الأنبياء الذين عناهم متى هم أشعياء وأرميا وزكريا الذين أوردوا هذه التسمية (إش ٤ : ٢ ، ١١: ١ )، (أر ۲۳ : ٥ ، ۲۳ : ١٥) (زك ٣: ٨، ٦: ١٢)<a href="#_ftn6" name="_ftnref6">[6]</a></p>
<h4>المتنيح الأنبا كيرلس مطران ميلانو</h4>
<p><strong>الصليب واطفال بيت لحم</strong></p>
<p>أنت دست الموت وحدك</p>
<p>أيها الجبار المعلق علي خشبة الصليب أخبرني ؟!</p>
<p>أخبرني من الذي هتم بالحصي أسنانك ؟! (مراثي أرميا ٣) .</p>
<p>أخبرني من الذي أطعمك الرماد .. وأسقاك الأفسنتين ؟!</p>
<p>من هم الذين أصطادوك أصطياداً كعصفور بلا سبب ؟!</p>
<p>قال : &#8221; يا أبتاه أغفر لهم .. لأنهم لا يدرون ماذا يفعلون &#8221; (لو ٢٣ : ٣٤) .</p>
<p>أيها الحب المتجسد .. من الذي وضع إكليلاً على رأسك ؟ ! .. من الذي ثقب يديك .. ورجليك ؟ ! .. من هم الذين رفضوك كميت مرذول ؟! من هم الذين طرحوا عليك شبكة من الظلم وألقوا في الجب حياتك ؟!</p>
<p>قال : &#8221; يا أبتاه أغفر لهم .. لأنهم لا يدرون ماذا يفعلون &#8221; ؟</p>
<p>يا مريح التعابي .. من الذي صوب نبال سهامه إلى كليتيك ؟</p>
<p>لماذا جعلوك أضحوكة لكل شعبك ؟</p>
<p>لماذا سلمت جسدك لكل من يلطمك ؟</p>
<p>لماذا لم تكف عينيك عن الدموع ؟</p>
<p>لماذا يسكب جسدك فيضاً من الدماء ؟</p>
<p>أخبرني أيها الجبار القائل &#8221; لا تبكين علي .. بل أبكين على أنفسكن &#8221; (لو ۲۳: ۲۸) .</p>
<p>قال أيضاً : &#8221; يا ابتاه اغفر لهم .. لأنهم لا يعرفون ماذا يفعلون &#8221; . تأثرت بالحب الخارج من القلب المجروح .. إذ يطلب من أجلهم ؟! قلت أيها الجبار وأنت في بوتقة الألم .. كيف تسكب حباً لأعدائك ؟ ذابت نفسي وقلت له .. يا إله المحبة علمني كيف قلت : أغفر لہم ؟! ولماذا قلت إنهم لا يدرون ؟!</p>
<p>سألت نفسي ؟! لماذا ينقصنا هذا الحب ؟! فہل یوجد بين البشر من إذا ظلم بكلمة ما .. يقدر أن يطلب من أجل ظالميه .. ويقول يا أبتاه أغفر لهم .. لأنهم لا يدرون ماذا يفعلون ؟! أم يقول يا أبتاه لا تغفر لهم .. لأنهم يدرون بماذا يفعلون ؟!</p>
<p>إلى أين أنت ذاهب ؟!</p>
<p>أيها الجبار .. وأنت معلق على خشبة الصليب .. إلى أين أنت ذاهب وحدك ؟!</p>
<p>أخبرني .. لماذا تتحير وحدك في طريقك إلى الأبواب المغلقة الدهرية ؟!</p>
<p>أيها المتألم .. كيف تصل إلى هذه الأبواب .. وأنت تنزف دماً ؟ .. أمام الأبواب الدهرية وقفت .. وسألت ؟ ما هي هذه الأبواب ؟!</p>
<p>هل الذين في الداخل هم أقوياء ؟!</p>
<p>أيها الجبار المتألم .. هل أنت ذاهب لكي تطرق الباب عليهم فيفتحون لك ؟! أم أنك أنت الذي تفتح لهم .. لأنه مغلق عليهم ؟!</p>
<p>تري من يدلني على هذا المكان ؟! تري من يخبرني عن هذه الأبواب إلا الذين ذهبوا إليه ؟!</p>
<p>بحثت عن ابن أرملة نايين .. وابنة يايرس .. وعن ليعازر .. بحثت عنهم لأنهم ذاقوا الموت .. وأخرجهم المسيح من حلق الموت بعدما ابتلعهم ؟!</p>
<p>قلت يا ليعازر حبيب المسيح .. عرفني ماذا يوجد هناك وراء الأبواب المغلقة للموت ؟!</p>
<p>يا ليعازر .. أنت ابتلعك الموت .. والمسيح دعاك باسمك .. ومن هناك أخرجك؟! هل رأيت أنه &#8221; بإنسان واحد دخل الموت إلى العالم .. واجتاز الموت على الجميع &#8230; ؟ (رو ٥: ۱۲) .</p>
<p>هل هناك رأيت البشرية تجمعت كلها كأعضاء في جسد واحد ؟</p>
<p>هل رأيت البشرية منطرحة خلف الأبواب .. بجسدها الملطخ والميت بدم الخطية ؟!</p>
<p>هل رأيت البشرية جالسة في عمق الظلمة تنتظر آدم الثاني الذي يغسلها من دمها بدمه الثمين ويصعدها إلي النور ؟!</p>
<p>عدت أسأل ذاك الجبار ؟! كيف تصل إلى هذه الأبواب ؟! وكيف تقدر أن تفتحها وأنت تنزف دما ؟!</p>
<p>قال لي .. بدون سفك دم لا تحصل مغفرة ؟! (عب ۹: ۲۱) .</p>
<p>وبدون مغفرة لا تفتح الأبواب المغلقة .. وبدون موت لا تكون حياة للموت .. &#8221; لأنه ليس بأحد غيري الخلاص .. لأنه ليس اسم اخر تحت السماء قد أعطي بين الناس به ينبغي أن تخلصوا &#8221; (أع ٤: ١٢) . أطفال مذبحة بيت لحم حول المذبوح على الصليب :</p>
<p>نظرت إلى وحيد الجنس .. وجدته وحيداً .. فسألت كيف هو وحيداً على خشبة الصليب ؟! أين الذين شفاهم من أمراضهم ؟ أين الذين أقام موتاهم ؟ وأين الذي أقامهم من الموت ؟ أين الذين علم في شوارعهم ؟ أين الذين أطعمهم وسقاهم ؟ أين الذين غفر لہم خطاياهم وسترهم ؟</p>
<p>لم أر أحداً ؟ .. لكني رأيت أطفالاً كثيرين .. فقلت من أين هؤلاء الأطفال ؟ ولماذا تجمعوا وصعدوا في هذا المكان ؟ كيف يحتملون أن ينظروا جسداً عارياً ممزقاً معلقاً عالياً علي خشبة الصليب ؟!</p>
<p>كيف يقدرون أن يحتملوا عدم الرحمة .. إذ الكل اجتمع يضحك ويسخر ويستهزئ بالمعلق ؟!</p>
<p>نظرت إلى الأطفال وجدت عيونهم شاخصة نحوه بلهفة عجيبة ؟! قلت .. هل هم الذين أخذهم المسيح في حضنه وقال لتلاميذه &#8221; دعوا الأولاد يأتون إلي ولا تمنعوهم .. لأن لمثل هؤلاء ملكوت السموات &#8221; (مت ١٩: ١٤) .</p>
<p>لا .. ليس هؤلاء .. أنهم غرباء ؟! كيف أصل إلى أحدهم ؟! وكيف أجذبه بعيداً عن هذا المشهد المؤلم .. وبه أجذب الباقين ؟! تقدمت وحاولت .. لكنى وجدت ورأيت أن ما يرونه جذاباً لهم .. فتعجبت !!</p>
<p>لكنني وجدت علامة علي جباههم مرسوم عليها الحمل المذبوح &#8221; فاقتربت مرة أخرى .. لأسأل أحدهم من أنتم ؟ وما هي هذه العلامة ؟ ولماذا جئتم إلى الجلجثة ؟</p>
<p>قال لي .. نحن أصدقاء المسيح .. نحن أصدقاء الطفل &#8221; عمانوئيل &#8221; .. الذي هو معنا .. ومعكم .. نحن أولاد الأم راحيل التي قتل هيرودس كل أولادها .. نحن المذبوحين من أجل الحمل المعلق علي الصليب .. ولنا أصدقاء كانوا أطفالا ولاحقونا بعدما أكملوا رسائلهم .. يوحنا المعمدان .. وبرثلماؤس الذي خبأته أمه بين أغصان شجر التين .</p>
<p>نحن جئنا لأننا نتبع الحمل حيثما يذهب .. جئنا لنرى المسيح وهو يعزي أمنا راحيل التي كانت تبكي علينا ، ولا تريد أن تتعزى ، لأننا لسنا بموجودين ..</p>
<p>نحن جئنا لنرى المسيح حياة وخلاص كل أحد<a href="#_ftn7" name="_ftnref7">[7]</a>..</p>
<h4>المتنيح القمص تادرس البراموسي</h4>
<p>اليوم الثالث من شهر طوبه المبارك</p>
<p>قم خذ الصبي وأمه واهرب إلى مصر (مت ۲ : ۱۳ - ۲۳)</p>
<p>في كل يوم تتكشف لنا أمور عجيبة في حياة الرب يسوع مما يجعلنا نتعمق في حياتنا في حبنا للرب يسوع الذي جاء من سماء المجد إلى أرضنا ويت المنغمسة في الشرور والخطايا هذا الذي لم تكن السماء طاهرة أمامه وللملائكة ينسب حماقة ؛ كيف تنازل وأخذ شكل العبد وصار في الهيئة كإنسان وعاش عيشة الذل والهوان محتملا العار والتجديف شابهنا في كل شئ ما خلا الخطية وحدها .</p>
<p>بعد ميلاد الرب يسوع وبعد حضور المجوس وقدموا له الهدايا رأى هيرودس اله سيكون له منافس ولا سيما بعد أن علم من المجوس أن المولود ملك فضمر له الشر في قلبه وأراد أن يتخلص منه ؛ وبعد أن سخروا به المجوس ظهر ملاك الرب ليوسف في حلم وقال له خذ الصبي وأمه واهرب إلى مصر وكن هناك حتى أقول لك . هرب الرب يسوع من وجه هيرودس ؛ هرب السيد من العبد ؛ هرب الخالق من المخلوق . فعل هذا لكي يعلمنا أن نهرب من الشر وكيف يهرب القوي الضعيف ؛ وإلى أين هرب الرب يسوع وأين وجد له مكان يلتجئ إليه ؟ ملاك الرب قال ليوسف خذ الصبي وأمه واهرب إلى مصر (مت ۲ : ۱۳) ؛ ولماذا مصر بالذات ؟ أليست مصر هي هي التي تمت فيها الضربات من الرب في أيام بني إسرائيل ؟ !! أليست مصر هي التي غضب عليها الرب تبارك إسمه ؟ !! ما أبعد أحكامك عن الفحص وطرقك . الإستقصاء (رو ۱۱ : ۳۳) . أراد الله أن يصالح مصر بهروبه إليها ويتمم نبوات الأنبياء مبارك شعبي مه (أش ١٩ : ٢٥) ؛ مضي ليباركها بعد أن غضب عليها ؛ مضى ليضع المذبح الذي قال عنه الأنبياء ويكون مذبح في وسط أرض مصر (أش ١٩ : ١٩)</p>
<p>وعندما وصل الرب يسوع إلى مصر تحطمت الأوثان وحل فيها السلام والأمان ؛ قام يوسف ليلاً وأخذ الصبي وأمه ومضى إلى مصر لان هيرودس كان مزمع أن يطلب الصبي ليهلكه ؛ عاش الرب يسوع في مصر وصار بركة ومصالحة للمصريين وكان هناك إلى أن مات هيرودس لكي يتم ما قيل من الرب بالنّبي القائل من مصر دعوت إبني (مت ٢ : ١٥) ؛ لما رأى هيرودس أن المجوس سخروا به غضب وأرسل وقتل جميع أطفال بيت لحم وكل تُخومها من إبن سنتين فما دون ؛ هؤلاء الأطفال إعتبرتهم الكنيسة شهداء لأنهم ماتوا لأجل إسم المسيح .</p>
<p>ظن هيرودس أن السيد المسيح مات من جملة هؤلاء الأطفال ولم يعلم أنه نجي من المذبحة التي صنعها هيرودس لأن ساعته لم تأتي بعد لأنه جاء ليتمم الفداء بموته على الصليب ليخلص شعبه من خطاياهم ؛ حينئذ تم ما قيل بأرميا النبي القائل صوت سمع في الرامة نوح وبكاء وعويل راحيل تبكي على أولادها ولا تريد أن تتعزى لأنهم ليسوا بموجودين (مت ۲ : ۱۷ – ۱۸) . إستمر الرب يسوع في مصر حتى مات هيرودس ؛ فظهر ملاك الرب ليوسف في حلم وقال له خذ الصبي وأمه واذهب إلى أرض إسرائيل لأنه قد مات الذين كانوا يطلبون نفس الصبي رجع وجاء إلى أرض إسرائيل ؛ كم من التعب إحتملة القديس يوسف في هذه الرحلة وهو كان رجل شيخ وسار كل هذا الطريق الطويل من بيت لحم إلى مصر ؛ سار على قدميه ممسكا لجام الآتان ولكن عناية كانت ترعاه وتعطي له قوة لأنه هو الذي كان مربياً للرب يسوع وهو الذي كان يهتم بشئونه .</p>
<p>والحقيقة لو تأملنا جيداً في حياة يوسف نجده قد تعب كثيراً مع الر يسوع وتجاهلته الكنيسة والمسيحية ولم تكن له ذكرى مثل الرسل ولم تكن كنيسة تبنى بإسمه ولا كتب تاريخ حياته ؛ عندما سمع يوسف أن أرخيلاوس يملك اليهودية عوض أبيه خاف أن يذهب إلى هناك وإذ أوحي إليه في حلم إنصرف إلى نواحي الجليل وأتى وسكن في مدينة الناصرة لكي يتم ما قيل بالأنبياء أنه سيدعى ناصرياً (مت ۲ : ۲۲ - ۲۳) ؛ هكذا أراد الرب يسوع أن يكمل كل نبوات الأنبياء التي كتبت لأجله وكما قال بفمه الإلهي ينبغي لنا أن نكمل كل بر<a href="#_ftn8" name="_ftnref8">[8]</a> .</p>
<h3>من وحي قراءات اليوم</h3>
<p>&#8221; فأرسل وقتل جميع الصبيان الذين في بيت لحم &#8221; (مت ٢: ١٦)</p>
<p>الأمور غير المُدْرَكة</p>
<p>+ بينما تهتف الملائكة المجد لله في الاعالي وعلي الأرض السلام تصرخ الامهات بسبب موت اطفالها</p>
<p>+ نحن نحتفل بهم اليوم لكن لم يكن الأمر هكذا وقتها بالنسبة لأمهاتهم</p>
<p>يسمح الله أحيانا بمذابح وكوارث!! +</p>
<p>لماذا ؟ سؤال كبير أحياناً تظهر إجابته بعد سنين أو لا تأتي أبداً!!  +</p>
<p>+ لكن السؤال الأهم هو كيف ؟ وهو كيف نسند المجربين ؟</p>
<p>+ لا ينفع ان نري في الكوارث خطايا البشر لأننا لسنا أفضل منهم</p>
<p>+ بل يجب أن نؤمن أن الله يستطيع ان يحوّل كل شئ للخير في النهاية</p>
<p>+ يحتاج من يعيشون كارثة من يشعرون بألمهم دون كلام</p>
<p>+ ويحتاجون ايضا من يصلي لأجلهم دون أن يقولوا ذلك</p>
<p>&#8221; إن لم تتوبوا فجميعكم كذلك تهلكون &#8221; (لو ١٣: ٣) آية تعلن أهمية الإهتمام بالمصير الأبدي أكثر من محاولة فهم الكوارث +</p>
<hr />
<p><a href="#_ftnref1" name="_ftn1"></a>١٦- الأب ثيؤفلاكتيوس بطريرك بلغاريا - تفسير مرقس ١٠ - القمص تادرس يعقوب ملطي</p>
<p><a href="#_ftnref2" name="_ftn2"></a>١٧- وكما يقول القديس باسيليوس  الكبير - تفسير متي ١٨</p>
<p><a href="#_ftnref3" name="_ftn3"></a>١٨- كتاب خطيب الكنيسة الأعظم القديس يوحنا الذهبي الفم ( صفحة ٤٠٣ ) - الأب الياس كويتر المخلّصىّ</p>
<p><a href="#_ftnref4" name="_ftn4"></a>١٩- المرجع : كتاب ميلاد المسيح في فكر الآباء - إعداد دير السريان وتقديم نيافة أنبا متاؤس</p>
<p><a href="#_ftnref5" name="_ftn5"></a>٢٠- المرجع : كتاب المنجلية القبطية الأرثوذكسية ( قراءات يوم أول طوبي ) - قداسة البابا تواضروس الثاني</p>
<p><a href="#_ftnref6" name="_ftn6"></a>٢١- المرجع : كتاب دراسات في الكتاب المقدس - إنجيل متي ( الإصحاح الثاني ) - الأنبا أثناسيوس مطران كرسي بني سويف والبهنسا</p>
<p><a href="#_ftnref7" name="_ftn7"></a>٢٢- كتاب شفتاك يا عروس تقطران شهداً ( الجزء الثالث ) - إصدار دير القديس الأنبا شنوده العامر بإيبارشية ميلانو</p>
<p><a href="#_ftnref8" name="_ftn8"></a>٢٣- كتاب تأملات وعناصر روحية في آحاد وأيام السنة التوتية ( الجزء الرابع ) - إعداد القمص تادرس البراموسي</p>

      {% endcreateArticleAccordions %}
    </section>
  {% endblock %}
