---
layout: 'layouts/reading.html'
title: 'اليوم السادس من شهر طوبي'
tags: 'annual'
permalink: /articles/annual/5-6.html
---
  {% block content %}
    <section id="readings">
      <ul>
      {% if 'undefined' != 'undefined' %}
      
      {% else %}
      {% if '19.116:16-19' != 'null' %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">العشية</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeVespers '19.116:16-19' '42.2:15-20' %}
          </div>
        </div>
      </li>
      {% endif %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">باكر</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeMatins '19.66:13-15' '42.2:40-52' '' %}
          </div>
        </div>
      </li>
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <h3 class="flex items-center justify-between">
            <span class="kufi">القداس</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </h3>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeLitugy '50.3:1-12' '61.1:12-21' '44.15:13-21' '19.50:14,23' '42.2:21-39' %}
          </div>
        </div>
      </li>

      {% endif %}
        </ul>
    </section>
    <section id="article">
      <h3 class="mt-8 mb-4 heading-explain">شرح القراءات</h3>
      {% createArticleAccordions %}
        <p>&#8221; عريس دم من أجل الختان &#8221; (خر ٤: ٢٦)</p>
<p>&#8221; تهللوا اليوم يا جميع الأمم بفرح لأن المسيح قبل إليه الختان عنا</p>
<p>لكى يصيرنا احرارا من ختان الجسد ولكى يعطينا روحه القدوس بالكمال &#8221; ذكصولوجية عيد الختان</p>
<p><a href="#_ftn1" name="_ftnref1">[1]</a>&#8221; نحن سادة في إمكاننا أن نجعل كل عضو فينا آلة للشر أو آلة للبرّ (بالمسيح يسوع &#8221;</p>
<p>&#8221; الذبائح التي تقدم من خلال النفس&#8230; لا تحتاج إلى جسد ولا إلى أدوات (ذبح) ولا إلى أماكن خاصة لتقديمها، فإن كل شخص هو الكاهن، يُقدم العفة وضبط النفس والرحمة واحتمال الاضطهاد والتألم واتضاع الفكر<a href="#_ftn2" name="_ftnref2">[2]</a> &#8221;</p>
<h3>شواهد القراءات</h3>
<p>(مز ١١٥: ٣ ، ٤) ، (لو ٢ : ١٥ – ٢٠) ، (مز ٦٥ : ١٢ ، ١٣)، (لو ٢ : ٤٠ – ٥٢) ، (في ٣ : ١ – ١٢) ، (٢بط ١ : ١٢ – ٢١) ، (أع ١٥ : ١٣ – ٢١) ، (مز٤٩ : ١٢ ، ١٨) ، (لو ٢ : ٢١ – ٣٩)</p>
<h3>ملاحظات على قراءة يوم ٦ طوبه</h3>
<p>+ قراءة إنجيل عشية اليوم (لو ٢: ١٥ - ٢٠) مُشابه لقراءة إنجيل القداس في برامون الميلاد (لو ٢ : ١ - ٢٠)</p>
<p>القراءة الثانية تتكلم عن ميلاد المسيح له المجد ، والقراءة الأولي تتكلم عن رجوع الرعاة لبيوتهم بعد ما أخبروا والدة الإله بما قاله لهم رئيس الملائكة ، وهي التي حدثت في الأيام السابقة للختان</p>
<p>+ قراءة الكاثوليكون اليوم (٢بط ١ : ١٢ - ٢١) تكررت في أيام ٢٦ بشنس ، ٥ أبيب ، ١٣ مسري ، وتُشبه قراءة الكاثوليكون في يوم ٢٩ كيهك (٢بط ١ : ١٢ - ١٧) ، وأيضاً يوم ١٠ طوبه (٢بط ١ ؛ ١٢ - ١٩)</p>
<p>جاءت القراءة اليوم في عيد الختان ونور إبن الله الذي أُستعلن للأمم ( ٦ طوبه )</p>
<p>وجاءت القراءة في أعياد الظهور الإلهي لأجل إستعلان مجد الله للبشرية في عيد الميلاد ( ٢٩ كيهك )</p>
<p>كما نري هنا شهادة القديس بطرس عن ظهور مجد إبن الله في التجلّي ( وقد سمعنا نحن هذا الصوت من السماء حين كنّا معه علي الجبل المُقدَّس ) لذلك جاءت في عيد التجلّي ( ١٣ مسري )، وشهادة الآب عنه أنه إبني الحبيب الذي به سُررت في برامون الغطاس ( ١٠ طوبه ) ، وشهود إستعلان مجده القديس بطرس وبولس ( ٥ أبيب ) ، والقديس توما الرسول ( ٢٦ بشنس )</p>
<p>+ قراءة الإبركسيس اليوم (أع ١٥ : ١٣ - ٢١) هي نفس قراءة الإبركسيس ليوم ٢٧ هاتور والموافق لتذكار شهادة القديس يعقوب المقطع ، وتُشبه قراءة الإبركسيس (أع ١٥ : ١٢ - ٢١) ليوم ٢ أمشير والموافق لتذكار نياحة أنبا بولا ، ومثلها قراءة الإبركسيس ليوم ١٧ مسري والموافق لتذكار القديس يعقوب من فجوج ، وتُشبه قراءة الإبركسيس ليوم ٣ مسري (أع ١٥ : ١٣ - ٢٩) والموافق لتذكار نقل جسد القديس سمعان العمودي</p>
<p>وأغلب الظن أن سبب إختيار القراءة اليوم هو لأجل حديث القديس يعقوب في مجمع أورشليم ،</p>
<p>بينما جاءت القراءة في عيد الختان (٦ طوبه ) لأجل النور الذي أُعْلِنَ للأمم والذي ظهر في قديسي الأمم مثل الأنبا بولا ( ٢ أمشير ) والقديس سمعان العمودي ( ٣ مسري )</p>
<p>كما أنها تأتي في أسماء قديسين ذُكِروا في القراءة المُخْتارة مثل يعقوب (٢٧ هاتور، ١٧ مسري ) وسمعان ( ٦ طوبه ، ٣ مسري )</p>
<h4>القراءة المُحوَّلة على قراءة هذا اليوم: +</h4>
<p>٨ أمشير عيد دخول المسيح إلي الهيكل</p>
<h3>شرح القراءات</h3>
<p>اليوم هو عيد الختان المقدّس والقراءات اليوم تقدّم لنا ختان وذبائح العهد الجديد وتكريس القلوب والشعوب</p>
<p>فاليوم هو تجديد قطع كل ماهو أرضي وتكريس قلوبنا يوماً بعد يوم للرب ونذر والإلتصاق بكل ماهو سمائي</p>
<p>تبدأ المزامير بالكلام عن النذور ( مزمور عشيّة ) والمحرقات ( مزمور باكر ) وذبائح التسبيح ( مزمور القداس )</p>
<p>في مزمور عشيّة يتكلّم عن قطع القيود والتحرُّر من الإنسان القديم والوفاء بالنذور أي تكريس الحياة له كما يشرح الأب إسحق ( تفسير مزمور ١١٦ )</p>
<p>( *   الصلاة هي التي تقدم شيئًا كنذرٍ لله، ويسميها اليونانيون &#8220;نذرًا&#8221;. فما جاء &#8220;أوفي نذوري للرب&#8221;، يُترجم عن اليونانية &#8220;أوفي صلواتي للرب&#8221;، كذلك نجد في سفر يشوع بن سيراخ: &#8220;إذا نذرت للرب نذرًا، فلا تؤخره أيضًا&#8221; (٥ : ٣)، وأيضًا في (تث ٢٣ : ٢١) و (جا ٥ : ٤ ، ٥) جاء في اليونانية بمعنى &#8220;إذا صلّيت صلاة للرب، فلا تتأخر في إيفائها&#8221;&#8230; ويكون إيفاء الصلاة هكذا: بزهدنا هذا العالم، وإماتتنا عن كل الأفعال العالمية&#8230; واعدين بأن نخدم الرب بنية صادقة من القلب.</p>
<p>ونحن ننفذ الصلاة عندما نَعِد باحتقار الكرامة الأرضية، وازدرائنا بالغنى الزمني، ملتصقين بالرب في حزن قلبي وانسحاق روحي.</p>
<p>ونصلّي عندما نَعِد بأن نعضد على الدوام نقاوة الجسد العُظمى والصبر الثابت، وعندما ننذر بأن نقتلع من قلوبنا جذور الغضب تمامًا، وأصل الحزن الذي يعمل للموت. أما إذا ضعفنا بالكسل وعُدنا إلى خطايانا القديمة، فإننا نكون قد فشلنا في إيفاء الصلاة، وبهذا نخطئ بصلواتنا ونذورنا، وتنطبق علينا هذه الكلمات: &#8220;إنه من الأفضل ألا ننذر عن أن ننذر ولا نفي&#8221;، والتي تطابقها في اليونانية أنه من الأفضل ألا نصلّي عن أن نصلّي ولا نفي.</p>
<p>الأب إسحق )</p>
<p>ورُبَّما لأجل هذا قال الله لشعبه في القديم :</p>
<p>&#8221; هل آكل لحم الثيران أو أشرب دم التيوس ؟ اذبح لله حمداً، وأوف العلي نذورك &#8221; (مز ٥٠ : ١٣ ، ١٤)</p>
<p>أي أن الذبائح التي يريدها الله هي الصلاة الدائمة والتسبيح (عب ١٣: ١٥) كما يقول القديس أغسطينوس :</p>
<p>*    من مخزن القلب تقدم بخور الشكر؛ من مخزن الضمير الصالح تقدم ذبيحة الإيمان. كل ما تقدمه فليكن ملتهبًا بالحب، لتكن النذور في داخلك، تقدمها تسبيحًا لله. لماذا تسبيح؟ لأجل ما وهبك! &#8220;لأنك نجيت نفسي من الموت<a href="#_ftn3" name="_ftnref3">[3]</a> &#8221;</p>
<p>وفِي مزمور باكر ( قطعت قيودي فلك أذبح ذبيحة التسبيح أفي للرب نذوري في ديار بيت الرب قدّام كل شعبه في وسط أورشليم )</p>
<p>ُيقدِّم الإنسان المُكرّس لله حياته كمحرقة كما قال القديس أنثيموس</p>
<p>*     إن الأسرى الذين كانوا في بابل قد دخلوا بعد رجوعهم منها إلى بيت إلههم الحيّ أي الأرضي، وقرَّبوا مُحرقَات حسية هذه التي نَذَروها حينما كانوا في الحزن والضيقة. أما الرسل الأطهار وكافة المؤمنين، فحين دخولهم بين الله الروحي، الكنيسة المقدسة، أي جماعة المسيحية، التي هي مسكن الله، فقرَّبوا أنفسهم كذبائح مُحرَقة بجملتها في النار أي احتمال لأحزان الطاهرة والمرضية أمامه. كذلك جماعة الحافظين البتولية والعفة يقدمون ذواتهم لله كمُحرَقات مقبولة<a href="#_ftn4" name="_ftnref4">[4]</a>.</p>
<p>وفِي مزمور القدَّاس (أدخل إلي بيتك بالمحرقات وأفيك النذور التي نطقت بها شفتاي أقرِّب لك محرقات شحماً بغير عظم مع بخور وكباش )</p>
<p>نقدِّم ذبيحة التسبيح أي الحياة الكاملة في المسيح</p>
<p>يرى بعض الآباء أن السيد المسيح هو ذبيحة التسبيح التي قدمها ممثلًا عن البشرية، فمن يقتني السيد في حياته، إنما يقتني حياة الشكر والتسبيح، مشتاقًا أن يموت كل النهار من أجل الله&#8230; بهذا يقدم ذبيحة التسبيح ويوفي نذوره. ( تفسير مزمور ٥٠ )</p>
<p>( إذبحوا لله ذبيحة التسبيح أوف العليَّ نذورك ذبيحة التسبح تمجدني وهناك الطريق حيث أريك خلاص الله )</p>
<p>وفِي القراءات ختان العهد الجديد وبرّ الإيمان ( البولس ) الذي مهَّد إليه الأنبياء ( الكاثوليكون ) ومعروف عند الرب منذ الأزل ( الإبركسيس )</p>
<p>يشرح البولس كيف بَطُلَ برّ الناموس في المسيح يسوع وكيف ظهر برّ الله بالإيمان بيسوع المسيح وكيف صار الهدف والسعي للشركة الكاملة مع الله وإختبار موته وقيامته طريق كل مسيحي يُكرّس قلبه وحياته لله</p>
<p>( لأننا نحن الختان نحن الذين نعبد روح الله ونفتخر في المسيح يسوع ولا نتكل علي الجسد &#8230; من جهه البرّ الذي في الناموس صرت بلا لوم لكن ما كان لي ربحاً فهذا قد حسبته من أجل المسيح خسارة &#8230; وأنا أعدُّها كلها نفاية لكي أربح المسيح وأوجد فيه وليس لي برّي الذي من الناموس بل الذي بإيمان المسيح البرّ الذي من الله بالإيمان لأعرفه وقوّة قيامته وشركة آلامة باذلاً نفسي مُتشبهاً بموته لعلِّي أبلغ إلي قيامة الأموات ليس إني قد فزت ونلت أو أني قد كُملْتُ ولكني أسعي لعلِّي أدرك بهذا الذي لأجله أدركني أيضاً المسيح يسوع )</p>
<p>وفِي الكاثوليكون يأتي برّ الله وتكريس القلوب بنور إبن الله مُعَدَّاً له من أنبياء العهد القديم ويعلو فوق كل فلسفات العالم</p>
<p>( لأننا لم نتَّبع خرافات فلسفية إذ عرَّفناكم بقوة ربنا يسوع المسيح وظهوره بل قد كنّا معاينين عظمته &#8230; وثابت عندنا كلام الأنبياء هذا الذي هو نِعْم ما تصنعونه إذا تأملتم إليه كمثل سراج مضئ في موضع مظلم حتي يظهر النهار والنور يُشرق ويظهر في قلوبكم )</p>
<p>وفِي الإبركسيس تكريس كنيسة العهد الجديد وإعادة بناء خيمة داود الساقطة وقبول الأمم وهي خطّة الله منذ الأزل</p>
<p>( سمعان قد أخبر كيف أفتقد الله أولا الأمم ليأخذ منهم شعباً علي إسمه وهذا توافقه أقوال الأنبياء كما هو مكتوب سأرجع بعد ذلك وأبني أيضاً خيمة داود الساقطة وابني أيضاً وأقيمها ثانية لكي يطلب الباقون من الناس الرب وجميع الأمم الذين دعي اسمي عليهم يقول الرب الصانع هذا الأمر المعروف عند الرب منذ الأزل )</p>
<p>وتأتي الأناجيل لترسم طريق التكريس في هذيذ القلب ( إنجيل عشيّة ) وفِي التقدم في الحكمة والقامة والنعمة ( إنجيل باكر ) وفِي الإنقياد بالروح ( إنجيل القدّاس )</p>
<p>يقدّم لنا إنجيل عشيّة نموذج الرعاة وحرصهم علي رؤية وليد المزود ليشهدوا عن رؤية عيان وإختبار شخصي</p>
<p>( فجاءوا مسرعين ووجدوا مريم ويوسف والصبي موضوعاً في مزود فلما رأوه علموا أن الكلام الذي قيل لهم كان عن هذا الصبي وكل الذين سمعوا تعجبوا مما قيل لهم من الرعاة )</p>
<p>ونموذج والدة الإله التي تعيش هذيذ القلب في كل ما إختبرته وفِي الكلمة الإلهية في إنجيل عشيّة وإنجيل باكر</p>
<p>( وأما مريم فكانت تحفظ جميع هذا الكلام مُتفكَُرة به في قلبها ) إنجيل عشيّة</p>
<p>( وأما أمُّه فكانت تحفظ جميع هذه الأمور مُفكِّرة بها في قلبها ) إنجيل باكر</p>
<p>وفِي إنجيل باكر أيضاً نري إبن الإنسان وحياة النمو في النعمة قليلاً قليلاً بشبه البشر والكيان الذي يتقدّس بالكامل لله</p>
<p>( أما الصبي فكان ينمو ويتقوَّي بالروح مُمتلئاً من الحكمة وكانت نعمة الله عليه &#8230; وأما يسوع فكان يتقدم في القامة والحكمة والنعمة عند الله والناس )</p>
<p>ويقدِّم إنجيل القداس نموذج سمعان الشيخ الذي ينقاد بالروح ويتكلّم بالروح ويري بالروح خلاص الله في الشعب ونوره في الأمم</p>
<p>( وكان إنسان في أورشليم إسمه سمعان وهذا الرجل كان رجلاً باراً تقياً ينتظر تعزية إسرائيل والروح القدس كان عليه وكان قد أوحي إليه بالروح القدس أنه لا يري الموت قبل أن يري المسيح الرب فأتي بالروح إلي الهيكل &#8230; الآن تُطلق عبدك يا سيدي بسلام لأن عيني قد أبصرتا خلاصك الذي أعددته قدام جميع الشعوب نوراً أعلن للأمم ومجداً لشعبك إسرائيل )</p>
<p>وأيضاً نموذج حنّة النبية الأرملة التي كرّست حياتها كلَّها للصوم والصلاة مُلتصقة بالهيكل والتي إستحقت أن تتنبأ عن الفداء المزمع لإسرائيل</p>
<p>( وكانت نبية حنة بنت فُنوئيل &#8230; وهذه كانت ترملت نحو أربعة وثمانين سنة لا تبرح عن الهيكل عابدة بأصوات وطلبات ليلاً ونهاراً فهي من ذاك الوقت جاءت قدامه تعترف لله وكانت تتكلّم عنه عند جميع المنتظرين فداء في أورشليم )</p>
<h3>ملخّص القراءات</h3>
<p>يُقدِّم الإنسان المسيحي صلاته لله كنذر وحياته كمحرقة ليعيش التسبيح الدائم في المسيح                   مزمور عشيّة وباكر والقدّاس</p>
<p>ويُقارن البولس بين ختان الجسد وختان الروح وبر الناموس وبر الإيمان                                    البولس</p>
<p>وهو الذي مَهَّد له الأنبياء                                                                                      الكاثوليكون</p>
<p>وكان في فكر الله منذ الأزل                                                                                   الإبركسيس</p>
<p>وطريق التكريس هو هذيذ القلب والنمو في الحكمة                                                        إنجيل عشيّة وباكر والقدّاس</p>
<h3>أفكار مقترحة للعظات</h3>
<h4>(١) ختان وبرّ العهد الجديد</h4>
<p>١- برّ الإيمان</p>
<p>&#8221; وأوجد فيه وليس لي بري الذي من الناموس بل الذي بإيمان المسيح البر الذي من الله بالإيمان &#8221;                                                                                    البولس</p>
<p>٢- برّ  يُعْلَن في كلمته المُقدَّسة وفِي إستعلانه الإلهي ويشهد له القلب المملوء من نوره</p>
<p>&#8221; إذ عرفناكم بقوة ربنا يسوع المسيح وظهوره بل قد كُنَّا مُعاينين عظمته &#8230; وثابت عندنا كلام الأنبياء هذا الذي هو نعم ما تصنعونه إذا تأمَّلتم إليه كمثل سراج مضئٍ في موضع مظلمٍ حتي يظهر النهار والنور يشرق ويظهر في قلوبكم &#8221;                                   الكاثوليكون</p>
<p>٣- ختان مشهود له منذ القديم وفِي فكر الله منذ الأزل</p>
<p>&#8221; يقول الرب الصانع هذا الأمر المعروف عند الرب منذ الأزل &#8221;            الإبركسيس</p>
<p>٤- برّ مُعْلَن لكل الأمم والشعوب</p>
<p>&#8221; لأن عيني قد أبصرتا خلاصك الذي أعددته قدّام جميع الشعوب نوراً أعلن للأمم ومجداً لشعبك إسرائيل &#8221;                                                                                      إنجيل القدَّاس</p>
<h4>(٢) تكريس القلب</h4>
<p>١- الله هو الذي يُبادر بمحبته ويُحرِّر الإنسان من القيود فتستجيب النفس بتسبيحها له</p>
<p>&#8221; قطعت قيودي فلك أذبح ذبيحة التسبيح &#8221;                              مزمور عشيّة</p>
<p>٢- هذيذ القلب بغني نعمته ومجد تدبيره</p>
<p>&#8221; وأما مريم فكانت تحفظ جميع هذا الكلام متفكِّرة به في قلبها &#8221;         إنجيل عشيّة</p>
<p>&#8221; وأما أمه فكانت تحفظ جميع هذه الأمور مفكِّرة به في قلبها &#8221;            إنجيل باكر</p>
<p>٣- معرفة المسيح له المجد تتطلَّب خسارة دائمة لكل ما يُعطِّل محبّته ومعرفته</p>
<p>&#8221; بل اني احسب كل الأشياء خسارة من اجل فضل معرفة يسوع المسيح ربي الذي من أجله خسرت كل الأشياء وأنا أعدُّها كلها نفاية لكي أربح المسيح &#8221;               البولس</p>
<p>٤- التأمُّل الدائم في كلمة الله لأجل إشراقه نوره في قلوبنا</p>
<p>&#8221; هذا الذي هو نعم ما تصنعونه إذا تأمَّلتم إليه كمثل سراج مضئٍ في موضع مظلمٍ حتي يظهر النهار والنور يشرق ويظهر في قلوبكم &#8221;                                            الكاثوليكون</p>
<p>٥- السلوك بالروح والإلتصاق بالهيكل والصلاة وإنتظار خلاصه</p>
<p>&#8221; فأتي بالروح إلي الهيكل &#8230; نحو أربعة وثمانين سنةً لا تبرح عن الهيكل &#8230; عابدةً بأصوامٍ وطلباتٍ ليلاً ونهاراً &#8230; وكانت تتكلّم عنه عند جميع المنتظرين فداء في أورشليم &#8221; إنجيل القدَّاس</p>
<h4>(٣) تربية الأولاد                                                             إنجيل باكر</h4>
<p>١- العادات المُقدَّسة</p>
<p>&#8221; ولما صارت له إثنتا عشر سنةً مضيا إلي العيد كالعادة &#8221;</p>
<p>نلاحظ هنا حرص العائلة المُقدَّسة علي الذهاب بإستمرار في مواعيد ثابتة للهيكل وحضور المناسبات والأعياد</p>
<p>٢- إستقلالية الشخصية</p>
<p>&#8221; وبعد ما أكملوا الأيام بقي عند رجوعهما الصبي يسوع في أورشليم ويوسف وأمه لم يعلما &#8221;</p>
<p>ليست صدفة أن يذكر الوحي بقاء الإبن عند بلوغ سن إثنتا عشر سنة وكأنه يقول إني لم أعد طفلاً تابعاً بل شاباً له شخصية وإستقلالية</p>
<p>٣- قيمة العائلة الكبيرة</p>
<p>&#8221; وكانا يسألان عنه عند أقاربهما ومعارفهما &#8221;</p>
<p>تربية الأطفال في أجواء حب العائلة الكبيرة يُعطي إحساس الأمان</p>
<p>٤- البناء الروحي والكنسي</p>
<p>&#8221; وجداه في الهيكل &#8221;</p>
<p>٥- البناء الإيماني والنفسي والفكري</p>
<p>&#8221; جالساً في وسط المعلمين يسمعهم ويسألهم &#8221;</p>
<p>٦- هدوء الأم في معالجة تصرفات الأبناء</p>
<p>&#8221; وقالت له أمه يا بنيَّ ما هذا الذي صنعته بنا هكذا &#8221;</p>
<p>٧- إحترام الأم للأب وتقديمه عليها</p>
<p>&#8221; هوذا أبوك وأنا &#8221;</p>
<p>٨- التعبير عن الألم أكثر من التعبير عن الغضب</p>
<p>&#8221; كنَّا نبحث عليك معذَّبين &#8221;</p>
<p>٩- خضوع الأبناء</p>
<p>&#8221; وكان يخضع لهما &#8221;</p>
<p>١٠- النمو المتكامل للأبناء روحياً وجسدياً وفكرياً وإجتماعياً</p>
<p>&#8221; وأما يسوع فكان يتقدَّم في القامة والحكمة والنعمة عند الله والناس &#8221;</p>
<h3>عظات آبائية</h3>
<h4>الشيخ الروحاني</h4>
<p>من المزود إلى العلية</p>
<p>احمله في حضنك مثل مريم أمه ، أدخل مع المجوس وقرب قرابينك ومع الرعاة بشر بولادته ، ومع الملائكة ناد بتسبيحة ، خذه من سمعان الشيخ ، واحمله أنت أيضاً على ذراعيك ، احمله مع يوسف وانزل به إلى مصر ، كن تابعاً لصبوته في جميع أدوار تربيته ، قف معه في الهيكل واسمع كلماته المملوءة حكمة التي خاطب بها الشيوخ حتى انذهلوا من تعليمه . وحين يسأل ويجيب اصغ إليه واعجب لحكمته .</p>
<p>قف هناك عند الأردن واستقبله مع يوحنا . وادهش واعجب من تواضعه حين تراه يخفض رأسه ليوحنا ليقبل منه العماد بالماء . أخرج معه إلى البرية واصعد معه الجبال واجلس هادئاً عند قدميه مع الوحوش التي جاءت لتتآنس بربها . وهناك قم معه لتتعلم الحرب والقتال مع الأعداء .</p>
<p>قف على البئر مع السامرية لتتعلم السجود بالروح والحق . وأرفع الحجر عن لعازر لتتعلم ماهي القيامة من الأموات . قف مع الجموع المحتشدة وخذ لك لقمة من الخمس خبزات لتتعلم بركة الصلاة . اذهب أوقظه من نومه في قاع السفينة حينها تضطرب الأمواج حولك . إبك مع مريم وبل رجليه بدموعك فتسمع منه كلمة تسند قلبك ، ضع رأسك مع يوحنا على صدره لتسمع دقات قلبه الذي ينبض بحب العالم كله .</p>
<p>خذ لك كسرة خبز من الذي بارك عليه وقت العشاء لتتحد بجسده و تثبت معه إلى الأبد . قم مد رجلك ليغسلها لك لتتطهر من أدناسك وخطاياك ، اخرج معه إلى جبل الزيتون لتتعلم منه السجود وانحناء الركب حتى يتصبب عرقك مثله ، قم استقبل شاتميه وصالبيه ومد يدك معه للقيود ، اهمل وجهك مثله للطم والبصاق وعر ظهرك لضرب السياط وقم يا أخي لا تخر احمل الصليب فقد حان وقت الرحيل . مد يدك معه للمسامير ولا تمنع رجليك . اشرب معه المر .</p>
<p>قم باكراً والظلام باق واذهب إلى القبر لترى القيامة العجيبة . اجلس في العلية وانتظر مجيئه والأبواب مغلقة . افتح أذنيك لتملأها كلمات السلام التي خرجت من فمه ، هيا مع الباقين إلى مكان منفرد ، واحن رأسك لتأخذ البركة الأخيرة قبل الصعود<a href="#_ftn5" name="_ftnref5">[5]</a> .</p>
<h4>العلَّامة اوريجانوس</h4>
<p>تختن أذنكم إن كانت لا تسمع الشتائم وكلمات المجدفين والنمامين، إذا كانت قد انغلقت أمام الوشاية الخاطئة والكذب والغضب، &#8220;يسد أذنيه عن سمع الدماء&#8221; (إش ٣٣ : ٥)، ولا تنفتح لسماع الأغاني الفاسقة وأهواء المسارح، ولا تطلب الأمور السفلية، بل تبتعد عن كل تجربة زائلة. هذا هو ختان الأذن الذي تقدمه الكنيسة لأولادها، وفي رأيي أن هذه الأذن هي التي تحدث عنها المسيح في قوله: &#8220;من له أذنان للسمع فليسمع&#8221; (مت ١٣ : ٩). إذ لا يستطيع أحد أن يسمع كلام الرب النقي، كلام الحكمة والحق بأذن غير مختونة ولا طاهرة.</p>
<p>*    عندما نمتنع عن كلام النميمة ونمسك لساننا ونقمعه، يكون لنا الفم المختون.</p>
<p>*    عندما نشتعل بشهوات شهوانية، أقول باختصار، عندما نزني في قلوبنا (مت ٥ : ٢٨) نكون غير مختوني القلب. عندما نرحب في داخلنا بأفكار الهراطقة، وعندما نهيج أفكار التجديف في قلبنا ضد معرفة المسيح، نكون غير مختوني القلب. أما عندما نحتفظ بنقاوة الإيمان في استقامة الضمير فنكون مختوني القلب، ونستحق سماع الصوت: &#8220;طوبى لأنقياء القلب لأنهم يعاينون الله&#8221; (مت ٥ : ٨).</p>
<p>يمكننا القول بأن أيدينا وأرجلنا ونظراتنا وحواسنا ولمساتنا تحتاج أيضًا إلى ختان. لكي يكون رجل الله كاملًا تمامًا يلزم اختتان كل أعضائه، فتمتنع اليدان عن السرقة والقتل وتمتدان لعمل الرب. يليق بالرجلين أن يُختنا فلا تسرعان إلى سفك الدم (مز ١٤ : ٣)، ولا إلى حيث مشورة الأشرار (مز ١ : ١)، ولا يهدفان إلاّ إلى بلوغ ربنا والوصول إليه. يجب ختن العينين فلا تحسدان الأقرباء على الخير ولا تنظران إلى امرأة لتشتهياها (مت ٥ : ٢٨)&#8230; وهكذا حتى إن كنا نأكل أو نشرب أو نفعل  شيئًا لمجد الله (١كو ١٠ : ١٣). أنظر كيف يطلب الرسول الختان حتى في المذاق&#8230;؟</p>
<p>في الحقيقة عندما تخدم أعضاؤنا الظلم تكون غير مختتنة، ولا تكون في عهد مع الله، أما إن كانت تخدم البر (رو ٦: ١٩) لتبلغ القداسة فيتحقق فيها الوعد المعطى لإبراهيم<a href="#_ftn6" name="_ftnref6">[6]</a>.</p>
<p>تك ١٧</p>
<h4>القديس كيرلس الأسكندري</h4>
<p>مفهوم ختان المسيح له المجد حسب تعليم القديس كيرلس الكبير</p>
<p>الآن نجده مطيعًا لناموس موسى، وبعبارة أخرى نجد الله المشرِّع ينفِّذ القانون الذي شاء فسنَّه! أو كما يقول الحكيم بولس: &#8220;لما كنَّا قاصرين كنَّا مُستعبَدين تحت أركان العالم، ولكن لما جاء مِلء الزمان أرسل الله ابنه مولودًا من امرأة تحت الناموس ليفتدي الذين تحت الناموس لننال التبنِّي&#8221; (غل ٤: ٣ - ٥).</p>
<p>فالمسيح إذن افتدانا من لعنة الناموس نحن الذين كنَّا عبيدًا للناموس، وأظهرنا عجزًا تامًا في العمل بشرائعه.</p>
<p>وكيف افتدانا&#8230;؟ بحفظه وصايا الناموس. وبعبارة أخرى أطاع المسيح الفادي عِوضًا عنَّا الله الآب، إطاعة تامة، كما هو مكتوب: &#8220;لأنه كما بمعصيّة الإنسان الواحد جُعل الكثيرون خطاة، هكذا أيضًا بإطاعة الواحد سيُجعل الكثيرون أبرارًا&#8221; (رو ٥: ١٩)</p>
<p>سلَّم المسيح نفسه للناموس أُسوَة بنا، لأنه يليق به أن يكمِّل كل برّ، واتَّخذ صورة عبدٍ وأصبح واحدًا منَّا نحن الذين بطبيعتنا تحت نير الناموس، بل دفع نصف الشاقل، وهو المقدار الذي فرضته الحكومة الرومانيّة على أفراد الشعب&#8230;</p>
<p>مع أن المسيح هو ابن الله، ولكن لا مفر من دفع هذا المبلغ، لأنه رضيَ أن يتَّخذ صورتنا&#8230;</p>
<p>فإذا ما رأيت المسيح يُطيع الناموس فلا تتألّم ولا تضع المسيح الحُر في زمرة العبيد الأرِقَّاء، بل فكّر في عمق السرّ العظيم، سرّ الفداء والخلاص!</p>
<p>ترون أنه خُتن في اليوم الثامن، وهو اليوم الذي عُيِّن للاختتان الجسدي طبقًا للناموس، وقد سُمِّيَ الفادي &#8220;يسوع&#8221;، ومعنى هذه الكلمة &#8220;مخلِّص&#8221; الشعب</p>
<p>[وبعد ختان المسيح انتظرت مريم يوم تطهيرها، وعند تمام الأربعين يومًا من الميلاد حملت أورشليم السيِّد المسيح، الله الكلمة، الذي يجلس عن يمين الآب. وهناك مثَّل في الحضرة الإلهيّة على صورة إنسان كما نمثل نحن، وطبقًا للناموس اُعتبِر بكرًا، فقد اعترف الناموس حتى قبل تجسّد الفادي بمركز البكر الممتاز فكان يُعتبر مقدَّسًا ويُكرَّس لله ويقدِّم ذبيحة للعزَّة الإلهيّة. حقًا ما أعظم وأعجب سرّ الخلاص والفداء: &#8220;يا لعمق غِنى الله وحكمته وعلمه&#8221; (رو ١١ : ٣٣) . إن الذي في حضن الآب، ذلك الابن القدِّوس الذي يشارك الآب في العرش السمائي والذي به خُلقت الأشياء بأسرها، يخضع لما تتطلَّبه الطبيعة البشريّة، ويقدَّم الذبيحة لأبيه الإله العظيم، وهو الذي تعبده الخليقة طُرًا، وتمجّده مع أبيه السماوي كل حين!</p>
<p>وماذا كانت تقدمة المسيح؟ قضى الناموس أن كل بكر يقدِّم ذبيحة هي &#8220;زوج يمام أو فرخا حمام&#8221;. وما الذي يشير إليه اليمام والحمام؟ تعالوا معي ندرس هذه الإشارة.</p>
<p>إن اليمام أكثر طيور الحقل جلبة وضوضاء، بينما الحمام طائر وديع هادئ. كان الفادي كذلك، فقد أظهر لنا منتهى اللطف والرحمة، وكان أيضًا كيمامة يسير في كل مكان ليملأه عطفًا ورقَّة وبركة وعزاء، فإنَّه مكتوب في سفر نشيد الأناشيد &#8220;صوت اليمامة سُمع في أرضنا&#8221; (نش ٢: ١٢) . فالمسيح اسمعنا كلمة الإنجيل وهي كلمة الخلاص للعالم أجمع.</p>
<p>قُدِّم اليمام والحمام ذبيحة إذن كما أن المسيح الابن مثَل أمام الله الآب في الهيكل، فكنت ترى في موضع واحد الرمز والحقيقة.</p>
<p>قدَّم المسيح نفسه رائحة زكيّة عطرة لكي يقدَّمنا نحن إلى الله الآب، وبذلك محا العداء الذي اُستحكمت حلقاته بين الإنسان والخالق على أثر تعدِّي آدم على شريعة الله العظيم، ونزع سلطان الخطيّة الذي استعبدنا جميعًا، فإنَّنا نحن الذين كنَّا نصرخ في الزمن القديم، كل منَّا ينادي الله قائلًا: &#8220;التفت إليّ وارحمني<a href="#_ftn7" name="_ftnref7">[7]</a>&#8221;</p>
<h4>العلَّامة أوريجانوس</h4>
<p>الختان الروحي للقلب للعلامة أوريجانوس</p>
<p>لم يبق لنا سوي تفسير ختان القلب فعندما نشتعل برغبات شهوانيه وشهوات دنيئه، ولكي اختصر ، عندما &#8221; نزني في قلبنا &#8221; نكون &#8221; غير مختوني القلب &#8221; . ولكن أيضا عندما نستقبل في عقلنا أفكاراً هرطوقيه، وعندما نهيج افكار تجديف في قلبنا ضد علم المسيح ، نكون &#8221; غير مختوني القلب &#8221; ، أما عندما نحتفظ بنقاوه الايمان في كل استقامه ضمير نكون مختوني القلب ، ونستحق سماع : &#8221; طوبي لأنقياء القلب لأنهم سيعاينون الله &#8221;</p>
<p>الختان الروحي لكل اعضاء الجسد</p>
<p>ومع ذلك أجرؤ علي إضافه تعبيرات مشابهه إلي تعبيرات الأنباء هذه. لانه ان كان يجب ختان الآذان والشفاه ، والقلب وغرله اللحم بالمعني الذي سبق ان حددناه ، فيمكننا كذلك القول بأن أيدينا أيضا وأرجلنا ونظراتنا وحاسه الشم لدينا واللمس تحتاج إلي ختان . لانه لكي يكون &#8221; إنسان الله كاملا &#8221; تماما يجب أن تختتن كل أعضائه : اليدان حتي تمتنعا عن النشل والسرقه والقتل وتنفتحان فقط علي أعمال الرب . كما يجب ختان الرجلين حتي &#8221; لا تكونا سريعتين لسفك الدم ،ولئلا تنظران إلي إمرأة بشهوة . لأننا إذا اطلنا نظرات شهوانيه وتطفليه علي تقاطيع الجسم الانثويه نكون غير مختونين بالعينين . &#8221; وان أكلنا أو شربنا ، سواء كنا نأكل أو نشرب لمجد الله كما يطلب بولس الرسول ، نكون مختونين في حاسه التذوق لدينا . ولكن إذا عملنا لأنفسنا &#8221; الها لبطننا &#8221; وصيرنا أنفسنا عبيدا لملذات النهم ، فاقول إن حاسه التذوق لدينا غير مختونه . وان اخذنا &#8221; رائحه المسيح الذكيه &#8221; وبحثنا عن &#8221; عطر حلاوه &#8221; في أعمال الرحمه، فتكون حاسه الشم لدينا مختونه . أما إذا تقدمنا ونحن &#8221; مدهونين بأطيب العطور &#8221; فحينئذ تكون حاسه الشم لدينا غير مختونة .</p>
<p>ومن هنا يجب أن نقول أيضًا ان كل عضو  من اعضائنا ، عندما تكون مجتهده في الوظائف التي يريدها الله ، فإنه يكون مختوناً.</p>
<p>ولكن عندما تخالف الشرائع التي وكلت اليها ، فيجب اعتبارها بانها غير مختونه . واعتقد أن ذلك هو معني هذا القول الذي لبولس الرسول : &#8221; كما سلمتم اعضاءكم كعبيد للاثم للنجاسه هكذا الان سلموا اعضاءكم كعبيد للبر للتقديس .&#8221; وفي الواقع حين كانت اعضاؤكم تخدم الاثم، لم تكن مختونه ولم يكن فيها عهد الله ، إلا أنها حين أخذت تخدم البر للتقديس ، تحقق فيها الوعد الذي اعطي لابراهيم ، لانه حينئذ تطبع شريعه الله وعهده علامتهما فيها . وهذه هي حقا &#8221; علامه الايمان &#8221; التي تضم ميثاق عهد أبدي بين الله والانسان . إنه هذا الختان الذي اعطاه يسوع  (يشوع) &#8221; بسكاكين من حجر لشعب الله . ولكن ما هو السكين الذي من حجر ؟ ما هو &#8220;السيف &#8221; الذي ختن به شعب الله ؟ اسمعوا ما يقوله بولس الرسول : &#8221; لان كلمه الله حيه وفعاله وأمضي من أي سيف ذي حدين ، وخارقه الي أن تفرق النفس والروح والمفاصل والمخاخ ، وهي تميز ميول وافكار القلب &#8221; . هذا هو إذا السيف الذي يجب أن يختننا ، هذا السيف الذي يقول عنه الرب يسوع &#8221; ما جئت لأجلب السلام علي الأرض بل السيف .</p>
<p>الختان الروحي هو الأنسب لإقامه العهد مع الله</p>
<p>ألا يبدو لك ختان من هذا النوع لأئقاً اكثر من أجل إقامه  عهد الله ؟ قارن من فضلك شروحنا التي قدمناها بخرافتكم اليهودية وقصصكم المثيره للاشمئزاز ، وسل نفسك عما إذا كانت تعليماتكم ، أم التعليمات التي تكرز بها كنيسه المسيح ،هي التي يحفظ فيها الختان بطريقه لائقه بالله . الا تدرك انت نفسك أن ختان الكنيسه شريف ومقدس ولائق بالله في حينأن ختانكم مخز ومنفر وكريه وانه يخل بالحياء بطريقه ومظهره الخارجي ؟</p>
<p>&#8221; فيكون الختان وعهدي في لحمك &#8221; ، هكذا يقول الله لابراهيم فإن كانت إذا هذه هي حياتنا بحيث تكون قد حققت التوازن والإتحاد بين كافه الأعضاء لدرجه أن كل حركاتنا تنتج بالاتفاق مع شرائع الله ، فحينئذ &#8221; يكون عهد الله في لحمنا &#8221; حقا .</p>
<p>فلتسخدم الشروح المختصره التي قدمناها حول نصوص من العهد القديم في افحام من يتكلون علي ختان اللحم ، وفي المساهمة أيضا في بناء كنيسه الله .</p>
<p>الختان الروحي في العهد الجديد</p>
<p>٧ ولكني أصل من هنا الي العهد الجديد الذي يحتوي علي كمال كل شيء ، والذي أريد ان أثبت بواسطته كيف يمكننا نحن أيضًا ان نحمل عهد ربنا يسوع المسيح في لحمنا . لأنه لا يكفي قول الشئ بكلمه فقط او بقول ولكن يجب اتمامه بالافعال . وفي الواقع يقول يوحنا الرسول : &#8221; كل روح يعترف أن يسوع قد جاء في الجسد فهو من الله . عجبا ! هل من الممكن أن يعترف إنسان خاطيء ، سخص يسلك سلوكا رديئا ، &#8221; بان يسوع قد جاء في الجسد ، وسيفعل ذلك وهو يبدو ،حسب الظاهر ، أنه في روح الله ؟ لا، فليس هذا هو من يحمل عهد الله في اللحم ، ولكن ( فقط) في الكلام . هذا إذا سوف يسمع فوراً ؛ أيها الانسان ، أنت تخدع نفسك ، إن &#8221; قوام ملكوت الله ليس في الكلام ، بل في القوه .</p>
<p>انني أبحث إذا كيف يمكن أن يتحقق عهد المسيح في لحمي .</p>
<p>ان &#8221; امت اعضائي الارضيه ، يكون لدي عهد المسيح في لحمي . واذا &#8221; حملت في جسدي باستمرار موت يسوع المسيح &#8221; يكون عهد المسيح في جسدي. لأننا &#8221; ان حملنا التجربه معه فسنملك أيضًا معه &#8221; ، وإذا &#8221; كنت قد صرت واحدا معه بموت شبيه لموته &#8221; ، فإنني أظهر أن عهده هو في لحمي . لأنه ما فائده أن نقول إن يسوع لم يأت إلا في الجسد الذي أخذه من القديسة مريم العذراء والا نظهر أيضا أنه قد جاء في جسدي انا ؟ ولكنني أظهر ذلك بالذات إن &#8221; حولت أعضائي الآن وقدمتها عبيدًا للبر للتقديس &#8221; بينما كنت من قبل قد &#8221; قدمتها عبيدا للاثم للنجاسة . أنا أظهر أن عهد الله هو في جسدي إذا استطعت ان أقول مثل بولس الرسول &#8221; انا مصلوب مع المسيح ، وان عشت فأحيا لا انا ، بل المسيح يحيا في ، وإذا إستطعت أن أقول مثله : &#8221; اما أنا ، فإني حامل في جسدي سمات ربي يسوع المسيح &#8221; . ولكنه ( أي بولس الرسول) كان يظهر حقا ان عهد الله كان في لحمه حين قال : &#8221; من سيفصلنا عن محبه الله التي في المسيح يسوع ؟ الشده ام الضيق أم الخطر ام السيف ؟ لاننا ان اكتفينا بالاعتراف بالرب يسوع بالقول وان لم نظهر  أن &#8221; عهده في لحمنا &#8221; بالطريقه التي شرحناها توا، فسيبدو أننا نسلك نحن أيضا بذلك كاليهود الذين يتصورون أنهم يعترفون بالله بواسطه علامه الختان فقط في حين أنهم ينكرونه بأعمالهم .</p>
<p>أما نحن فليعطنا الرب أن &#8221; نؤمن في قلبنا ونعترف بالفم &#8221; وأن نؤكد بالأعمال أن &#8221; عهد الله هو في جسدنا &#8221; ، حتي &#8221; إذ يري الناس أعمالنا الحسنه ، يمجدوا أبانا الذي في السماوات ، بالمسيح   يسوع ربنا &#8221; الذي له المجد إلي أبد الآبدين آمين<a href="#_ftn8" name="_ftnref8">[8]</a>. &#8221;</p>
<h4>وأيضاً للعلَّامة اوريجانوس</h4>
<p>تختن أذنكم إن كانت لا تسمع الشتائم وكلمات المجدفين والنمامين، إذا كانت قد انغلقت أمام الوشاية الخاطئة والكذب والغضب، &#8220;يسد أذنيه عن سمع الدماء&#8221; (إش ٣٣ : ٥)، ولا تنفتح لسماع الأغاني الفاسقة وأهواء المسارح، ولا تطلب الأمور السفلية، بل تبتعد عن كل تجربة زائلة. هذا هو ختان الأذن الذي تقدمه الكنيسة لأولادها، وفي رأيي أن هذه الأذن هي التي تحدث عنها المسيح في قوله: &#8220;من له أذنان للسمع فليسمع&#8221; (مت ١٣ : ٩). إذ لا يستطيع أحد أن يسمع كلام الرب النقي، كلام الحكمة والحق بأذن غير مختونة ولا طاهرة.</p>
<p>*    عندما نمتنع عن كلام النميمة ونمسك لساننا ونقمعه، يكون لنا الفم المختون.</p>
<p>*    عندما نشتعل بشهوات شهوانية، أقول باختصار، عندما نزني في قلوبنا (مت ٥ : ٢٨) نكون غير مختوني القلب. عندما نرحب في داخلنا بأفكار الهراطقة، وعندما نهيج أفكار التجديف في قلبنا ضد معرفة المسيح، نكون غير مختوني القلب. أما عندما نحتفظ بنقاوة الإيمان في استقامة الضمير فنكون مختوني القلب، ونستحق سماع الصوت: &#8220;طوبى لأنقياء القلب لأنهم يعاينون الله&#8221; (مت ٥ : ٨).</p>
<p>يمكننا القول بأن أيدينا وأرجلنا ونظراتنا وحواسنا ولمساتنا تحتاج أيضًا إلى ختان. لكي يكون رجل الله كاملًا تمامًا يلزم اختتان كل أعضائه، فتمتنع اليدان عن السرقة والقتل وتمتدان لعمل الرب. يليق بالرجلين أن يُختنا فلا تسرعان إلى سفك الدم (مز ١٤ : ٣)، ولا إلى حيث مشورة الأشرار (مز ١ : ١)، ولا يهدفان إلاّ إلى بلوغ ربنا والوصول إليه. يجب ختن العينين فلا تحسدان الأقرباء على الخير ولا تنظران إلى امرأة لتشتهياها (مت ٥ : ٢٨)&#8230; وهكذا حتى إن كنا نأكل أو نشرب أو نفعل  شيئًا لمجد الله (١كو ١٠ : ١٣). أنظر كيف يطلب الرسول الختان حتى في المذاق&#8230;؟</p>
<p>في الحقيقة عندما تخدم أعضاؤنا الظلم تكون غير مختتنة، ولا تكون في عهد مع الله، أما إن كانت تخدم البر (رو ٦ : ١٩) لتبلغ القداسة فيتحقق فيها الوعد المعطى لإبراهيم<a href="#_ftn9" name="_ftnref9">[9]</a>.</p>
<p>تك ١٧</p>
<h4>القديس إيرينيوس</h4>
<p><strong>قداسة الإنسان: النفس والجسد معا</strong></p>
<p>إن الإنسان كائن حي مكون من: النفس والجسد، لهذا يجب أن يأخذ المرء في اعتباره هذا التكوين، لأنه يمكن أن يأتي السقوط من الاثنين&#8221;. فقداسة الجسد تتحقق بطرد الرغبات الوضيعة والابتعاد عن الأعمال الشريرة، بينما قداسة النفس تتحقق بسلامة الإيمان بالله بدون إضافة أو حذف. لأن التقوى تذبل وتفسد بواسطة دنس الجسد ونجاسته، كما أن الضلال عندما يتسلّل إلى النفس يجمدها ويلوثها وتفقد سلامتها. وعلى العكس فإن التقوى تحفظ بهائها وجمالها طالما أن النفس توجد في الحق والجسد يحتفظ بالنقاوة&#8221;.</p>
<p>فما الفائدة أن يعرف الإنسان الحق بالكلام وهو يلوث الجسد ويسلمه إلى الأعمال الشريرة؟ وما الفائدة من قداسة الجسد لو أن الحق غير موجود في النفس؟ لأن هذان الاثنان (النفس والجسد) يفرحان معا ويحاولان معا أن يقودا الإنسان إلى حضرة الله. لذا يقول الروح القدس على فم داود: &#8221; طوبى للرجل الذي لم يسلك في مشورة الأشرار &#8220;، أى مشورة الأمم الذين لا يعرفون الله. فالأشرار هم الأمم الذين لا يعبدون الله الكائن الحقيقي، إذ أن الكلمة أيضا يقول لموسى: &#8221; أنا هو الكائن&#8221;. إذن كل الذين لا يعبدون الله الكائن هم &#8220;أشرار&#8221;. ويكمل في المزمور قائلاً: &#8221; وفي طريق الخطاة لم يقف&#8221;. الخطاة هم الذين، بالرغم من أنهم يملكون معرفة الله، فإنهم لا يحفظون وصاياه، بل يستهينون بها. &#8221; وفي مجلس المستهزئين لا يجلس&#8221;، وهم الناس المملؤون من الكذب والتعليم الضال وينشرون المرض (الطاعون) ويفسدون لا ذواتهم فقط بل الآخرين أيضا. إذ أن كلمة &#8220;مجلس&#8221; تعنى مدرسة أو مكان للتعليم. فكلام المزمور ينطبق على الهراطقة أيضا الذين يجلسون في مجلس المستهزئين&#8221; ينفثون سموم تعاليمهم في الذين يسمعونهم<a href="#_ftn10" name="_ftnref10">[10]</a>.</p>
<h4>القديس يعقوب السروجي</h4>
<p><strong> تعليق القديس يعقوب السروجي علي شخصية وحياة إيليا النبي</strong></p>
<p>+ من يفسح المجال لكلمتي لتروي جماله (جمال إيليا) منذ طفولته، في أية حياة تربَّى؟</p>
<p>من يهبني كتابًا يُساعِدني لأنظر وأرى كم كان مشعًا بالقداسة منذ صباه؟</p>
<p>اختفى عني جماله السامي والروحي؛ كيف شرع في مسيرة طريقه نحو الله؟</p>
<p>أظهر الكتاب خبره للعالم فقط هنا، حين منع المطر والندى بسبب أخآب (١مل ١٧: ١).</p>
<p>إلى هنا كانت طريق برّه وجمال سيرته وتفوّق بتوليته مخفية.</p>
<p>من هنا شرع الكتاب يسرد خبره، لأنه بسبب إثم أخاب ربط السماء بكلمة واحدة.</p>
<p>فكرْ أنت الآن من قبل هذا العمل العظيم، كم كانت أعماله وأتعابه لأجل الله؟</p>
<p>ولهذا أخفى الكتاب سيرته، لأنها كانت سامية، ولم نستطع أن نتكلم عنها.</p>
<p>منذ طفولته تمسَّك بسيرة عظيمة، بأعمال منتصرة، حتى الطبيعة لا تحتملها.</p>
<p>حالما عرف الفرق بين الخير والشر، بدأ بالخير، ولم يغلبه الشر نهائيًا.</p>
<p>حالما عرف العالمَ، تركه لئلا يعيش فيه، وأَحَبّ القفر وسُكنَى الجبال بمفرده.</p>
<p>وما أن شعر بأنه يوجد عالم آخر لله، حتى جعل وجهه إلى هناك، راكضًا ليبلغ إليه.</p>
<p>حالما رأى أن هذا العالم يزول زوالًا، لم يتنازل إلى عِشرته، ولا إلى العمل فيه.</p>
<p>حالما سمع بأن هذا الموضع ليس موضعه، لم يُحِبّه بعد، ولم يشأ أن يدنو من أفعاله.</p>
<p>منذ أن عرف بأنه توجد حياة أخرى لله، كان يفتش عنها بأتعاب عظيمة ليرثها.</p>
<p>حالما فهم أن آدم مات حين تجاوز الوصية، لم يحد عن الناموس الروحي.</p>
<p>نظر إلى الطبيعة (البشرية، وفهم) بأنها لو لم تخطئ لما ماتت، فارتعب من الخطية، لئلا يصير ثمرة للموت.</p>
<p>منذ عرف ما هو الموت، وما هي الحياة، حتى صارع لأجل الحياة لكي يقتنيها.</p>
<p>منذ صغره تربَّى روحيًا نحو العلو العظيم إلى أن وصل إلى هذه المرتبة الأسمى من الكل.</p>
<p>نظر إلى الله، وما أن عرف كم هو جميل، لم يدر عنه نظره بعد ليرى شيئًا (آخر)….</p>
<p>+ دعا الرب عبده البار وتكلم معه: قم، انزل للقاء أخآب الملك (١مل ٢١: ١٧ - ١٨)، وأفضح كذبه</p>
<p>ها قد نزل ليرث الكرم المخطوف. اذهب وقل له: لن تنعم بميراثٍ ليس ملكك.</p>
<p>اذهب وقل لهذا الذي قتل وظن أنه ورث، لقد سلّم لي نابوت كرمه، وهو يموت.</p>
<p>أنا، أنا وارث ذاك الوديع، والكرم هو مُلكي، وأنا قائم على ميراثه، وأجري قضاءه.</p>
<p>ماذا تريد من المقتنى المسلَّم في يديّ؟ دعاني وهو يُرجم وأوصاني، وأنا لن أهمل.</p>
<p>أطالب العدالة بالثأر لنابوت ولكل مظلوم، فإن قضاءه محفوظ لي، ولن أسكت.</p>
<p>في ذلك الموضع الذي فيه لحست الكلاب دمه تلحس دمك (١مل ٢١: ١٩)، ها أنت تُجازَى بكيل الدم الذي كِلت به أيضًا (مت ٧ : ٢</p>
<p>يتقدَّم بشجاعة ليطرد الملك من الميراث، وهو مُسلَّح بالرب، ولا يحسب حسابًا لملوك الأرض.</p>
<p>ويتبعه البرّ والاستقامة، ويركض معه الإيمان والكمال (مز ٨٥: ١٠ - ١١).</p>
<p>احتقر التاج، لأن رائحة الإثم فاحت منه، واستخفّ بالسلطة كثيرًا دون أن يخاف.</p>
<p>وإذ كان أخآب واقفًا في الكرم الذي نزل ليرثه، رأى إيليا آتيًا فارتجف الأثيم.</p>
<p>اِلتقى النبي بالملك مثل اللص ورب البيت، ولم يُخفَ السلبُ.</p>
<p>اصطاده في كرم قُتِل صاحبه لأجله، وخزي الملك أمام رؤية الدم الذي سفكه.</p>
<p>قال الملك: الآن وجدتني يا عدوي (١مل ٢١: ٢٠). لقد كان عدو بيت الله والنبي.</p>
<p>أظهر شريك الأصنام وآلهة الأموريين نفسه كيف كان يبغض عبيد الرب.</p>
<p>كانت توجد عداوة عظيمة بينه وبين الرب، لأنه كان صديق جميع آلهة الكنعانيين.</p>
<p>وإذ انتصب النبي إزاءه موبخًا، فإنه كان عدوه، كما دعاه وفضح نفسه.</p>
<p>قال البار: نعم لقد وجدتُك كما قلتَ، لأنه لا يمكن أن تخفي إثمك عن الرب.</p>
<p>يداك مملوءتان بدم بريء، فكيف تزكو؟ الخطف والنهب داخل بابك، فكيف تفلت؟</p>
<p>لا يمكن أن يثبت بيت مدبرته إيزابل، لقد استوليتما على الميراث بالدم، فكيف تخلصان؟</p>
<p>الرب يفتش عن إثمك، ويفضحك، ويُطالِبك بالقتل والسلب وكل الشرور.</p>
<p>وبعدالة يخرب مسكنك المملوء إثمًا، وينتقم منك باستقامة، لأنك أغضبته.</p>
<p>+ إيليا الناري وأخزيا الملك (٢مل ١): سمع أخزيا بن أخآب وإيزابيل عن والديه اللذين لحست الكلاب دمهما، لأنهما حادا عن طريق الحق. الآن إذ لم ينتفع بخبرة والديه، فكما حلّ التأديب على والده بأن لحست الكلاب دمه، جاءه الصوت النبوي: &#8220;عن سريرك لن تنزل.&#8221;</p>
<p>سمع مبعوثو ابن أخآب من إيليا، فعادوا إليه حاملين أخبارًا سيئة (٢مل ١: ٥).</p>
<p>دخلوا، وقالوا له كل ما سمعوه من إيليا، وكَرَّروا أمامه بأنه لن ينزل عن سريره (٢مل ١: ٦).</p>
<p>نقلوا إلى هذا الوثني المريض بشرى الموت، وجرحوا قلبه بالكلمة التي سمعوها من إيليا&#8230;</p>
<p>تحين الفرص ليغلق طريق الوثنية، لئلا يسير فيها بنو إبراهيم المختونون.</p>
<p>جمعهم من كل جانب لدى الله، بعد أن تَبدَّدوا عند أصنام الكنعانيين.</p>
<p>أعادهم من الطرق الغريبة، ليسيروا في طريق الملك ربّه العظيمة.</p>
<p>حين خرجوا في سُبُل الأموريين، قام الغيور، وأعادهم إلى إلهه.</p>
<p>ترك قطيع إسحق نهر الماء الحي (إر ٢: ١٣)، ليذهب ويشرب من ماء الشرّ الذي يهلكه.</p>
<p>طرده إيليا الراعي الصالح (من هناك)، لئلا يشرب من الينابيع التي تتقيَّأ الموت.</p>
<p>كان سمّ الحية في نهر الكنعانيين، وكان (إيليا) ساهرًا كل يومٍ لئلا يشرب القطيع منه.</p>
<p>+ لنتحدث إذا عن إصعاد هذا الجميل، وعن المركبة البهية التي نزلت إليه على الأرض.</p>
<p>وعن الجسداني الذي استحق أن يُقِيم مع الروحيين، وعن الترابي الذي لم يعد إلى الأرض ليصير ترابًا.</p>
<p>وعن السفلي الذي توجَّه في طريقه نحو العلويّين، وعن ابن جنسنا الذي تركنا واختلط مع الملائكة.</p>
<p>وعن العجب الذي استولى على الأرض، لأن العلويين خطفوا واحدًا من حضنها، ليصير معهم بين أجواقهم<a href="#_ftn11" name="_ftnref11">[11]</a>.</p>
<h3>عظات آباء وخدام معاصرين</h3>
<h4>قداسة البابا تواضروس الثاني</h4>
<p>طهارة &#8230; تقوى &#8230; رجاء</p>
<p>يقرأ جزء من هذا الانجيل فى ثلاث مناسبات:</p>
<p>انجيل صلاة النوم ١-</p>
<p>- بعد أوشية الانجيل فى الدورة ٢-</p>
<p>فى تسبحة نصف الليل قبل القطعة السابعة من ثيؤطوكية الأحد ٣-</p>
<p>وفى هذا الانجيل نرى :</p>
<p>طهارة العذراء : التى حملت المسيح فى أحشائها كرمز( لطهارة القلب ) +</p>
<p>تقوى سمعان الشيخ : الذى حمل المسيح على ذراعية ( كرمز لتقديس العمل ) +</p>
<p>رجاء حنة النبية : التى حملت المسيح فى نبوتها (كرمز للقول المفرح المملوء رجاء ) +</p>
<p>قلوب البشر فى استجابتها للمسيح نوعان :  فريق يحبه &#8230; وفريق يبغضه :</p>
<p>مثل الشمع &#8230;الحرارة تذيبه وتلينه ( مثل نيقوديموس ..والابن الشاطر .. وبطرس)فيستجيب سريعا ١-</p>
<p>مثل الطين : الحرارة تحجرة وتقسيه ( مثل هيرودس .. الشاب الغنى .. ويهوذا ) بل وتغلق كل حواسه ٢-</p>
<p>لقد قدمت العذراء &#8220;زوج يمام&#8221; لأنها من أسرة فقيرة ، رغم أن ابنها هو &#8221; حمل الله &#8221; وكان يجب أن تقدم &#8221; حملا &#8221; اذا كانت أسرة غنية . وها الله قبل منها زوج اليمام وأعطاها أن تقدم أقدس حمل &#8230;.. خلاص البشرية كلها .</p>
<p>بين الحرف والروح</p>
<p>الختان: علامة العهد القديم كان بالجسد ( الحرف) . صار هو المعمودية علامة العهد الجديد  ( بالروح) . ونحتفل به لنعيش ختان الحياة والقلب لله وحده. (فضيلة القلب المختون المقدس فى الرب) .</p>
<p>لماذا الختان ؟ كان الختان طقسا هاما اذ فيه : طاعة الشريعة  تتميم كل بر  تواضع المسيح مثل اخوته . عقب الختان قدمت أسرة العذراء مريم ذبيحة شكر . كأسرة فقيرة من زوج يمام &#8230;وماذا نقدم نحن ؟؛</p>
<p>١-ذبيحة الشكر والحمد : لك أذبح ذبيحة الحمد .             (مز١١٦: ١٧)</p>
<p>٢- ذبيحة التسبيح والصلاة : ليكن رفع يدى ذبيحة مسائية .    (مز ١٤١: ٢)</p>
<p>٣- ذبيحة الانسحاق والطاعة : القلب المنكسر لا ترذلة يالله .     (مز ٥١: ١٧)</p>
<p>٤- ذبيحة الصدقة والرحمة : صلواتك وصدقاتك صعدت للرب . (هو٦:٦)</p>
<p>+ وفى هذا الموقف نتقابل مع الكثير من الشخصيات</p>
<p>الرجال:</p>
<p>١-يوسف : خادم سر التجسد</p>
<p>زكريا : الكاهن المترجى ٢-</p>
<p>سمعان : الشيخ المنتظر ٣-</p>
<p>النساء :</p>
<p>مريم : حياة التبتل ١-</p>
<p>اليصابات : حياة الزواج ٢-</p>
<p>حنة : حياة الترمل ٣-</p>
<p>لنقترب أكثر من شخصية سمعان الشيخ، فسمعان الشيخ ، رأى بالايمان ما نراه الأن بالعيان  . والعبارة التى نطق بها يقولها الكاهن قبل قراءة الانجيل فى كل خدمة بعد الأوشية . &#8221; الآن ياسيدى تطلق عبدك بسلام &#8221; اذ أدرك سمعان الشيخ أن الخلاص الذى يقدمه المسيح هو خلاص من الأثم قبل أن يكون خلاص من الفقر كما تنتظره الامة اليهودية. كما أنه لم يبارك الصبى، اذ أدرك بروح النبوة أنه صاحب كل بركة وكل عطية ، انه هو &#8220;الله المتجسد<a href="#_ftn12" name="_ftnref12">[12]</a> &#8221; .</p>
<h4>المتنيح الأنبا فيلبس مطران الدقهلية</h4>
<p>حديث مريم مع مراقب الصبح</p>
<p>ترى من هو مراقب الصبح؟</p>
<p>يحلو للبعض أن يطلق هذا اللقب على سمعان الشيخ، ولعلهم يرونه بهذا المعنى الذي يقول المرنم عنه &#8221; انتظرتك يارب إنتظرت نفسی وبكلامه رجوت . نفسي تنتظر الرب أكثر من المراقبين الصبح أكثر من المراقبين الصبح. ليرج إسرائيل الرب لأن عند الرب رحمة وعنده فدى كثير . وهو يفدي إسرائيل من كل آثامه &#8221; (مز ١٣٠: ٥-۸) .</p>
<p>والحقيقة إننا لانكاد نعرف على وجه التحديد الكثير عن سمعان الشيخ ، غير ما جاء في إنجيل لوقا ، وإن كانت هناك بعض التقاليد المختلفة التي لا ينهض دلیل ثابت عليها ، ولعل مرجع هذا أن الأسم &#8221; سمعان &#8221; من الأسماء التي كانت شائعة في ذلك الوقت ومعناه المستمع أو المطيع . فهو في نظر البعض :</p>
<p>- إنه سمعان الذي وبخ أرخيلاوس الذي ملك بعد الموت هيرودس الكبير ، الذي تزوج أرملة أخيه .</p>
<p>- ويرى آخرون أنه سمعان بن هليل وأبو غمالائيل والذي كان رئيسا للسنهدريم في عام ١٣ م ولم يرد إسمه على غير العادة في كتاب المشنا الذي يدون فيه أسماء جميع رؤساء السندريم ، وقد عللوا ذلك بسبب إيمانه بالمسيح .</p>
<p>- يذكر التقليد الكنسي أنه عاش إلى سن متأخرة لأنه كان يقرأ وهو شيخ نبوة إشعياء عن العذراء وكان واحداً من شيوخ اليهود وعالما من علماء الشريعة الذين كلفهم الملك بطليموس الملقب بالغالب بترجمة التوراة من العبرانية إلى اليونانية عام ٢٩٦ ق.م وهي المعروفة بالترجمة السبعينية ولما وصل إلى آية عذراء تحبل وتلد إبناً &#8230; (أش ٧: ١٤) . نهض في نفسه السؤال والحيرة ، ولكن كيف يمكن أن يكون هكذا ؟ سمع صوتا داخليا عميقا ، يقول له إنه لن يموت حتى يبصر الأمر أمام عينيه ، وأنه لذلك عاش حوالی ۳۰۰ عام وكف بصره ينتظر هذا ويترقبه حتى أبصر المسيح بين يدي أمه في هیکل الله لذلك لقب &#8221; بمراقب الصبح &#8220;حمله على ذراعيه وعاد إليه بصره وعاين النور الذي بهر عينيه وأشاع السعادة على محياه ونطق بتسبحته الشهيرة (لو ٢ : ٢٨-۳۲) .</p>
<p>أ- حياة الشيخ الوقور:</p>
<p>لقد كان سمعان الشيخ يعيش في اورشليم وهو ينتصب على المرصد في أعماق الليل وكأنما ليرقب شروق الشمس ، وقد أحدق به الظلام من كل جانب فبلاده ليست مستعبدة للرومان فحسب ولكنها أكثر إستعباداً للخطية . ومن المؤسف أن كبرياء اليهود وهم في عمق ذلهم وإستعبادهم ، تجعلهم يتوهمون أنهم أحرار وعلى حد قولهم للمسيح فيما بعد &#8221; إننا ذرية إبراهيم ولم نستعبد لأحد قط &#8220;(يو ٨ : ٣٣) ، ويأتيهم الجواب &#8220;الحق الحق أقول لكم إن كل من يعمل الخطية هوعبد للخطية &#8221; (يو ٨ : ٣٤) . ورغم هذا الجو الذي كان يعيش فيه سمعان الشيخ فأننا لا نعلم ماذا كان يعمل وماذا كانت رسالته أو خدمته في مدينة أورشلیم إلا أنه كان ولاشك واحداً من أولئك الذين يكافحون ضد تيار الشر والفساد في أمته ، ولكنه كان يدرك تماماً أن التيار الجارف الذي يكتسح أمامه كل شئ ، لا يمكن لصبي صغير أن يقيم السد لمواجهته ، كما أن الظلمة الضارية العميقة لا تصلح معها شمعة صغيرة لتنير سائر الأرجاء في عمق الليل البهيم .</p>
<p>ولعل الرجل قد صرخ مرات متعددة لله ما يشبه صلاة إرميا عندما قال &#8220;وإن تكن آثامنا تشهد علينا يارب فاعمل لأجل إسمك لأن معاصينا كثرت . إليك أخطأنا . يا رجاء إسرائيل مخلصة في زمان الضيق لماذا تكون كغريب في الأرض وكمسافر يميل ليبيت ، لماذا تكون كإنسان قد تحير كجبار لا يستطيع أن يخلص . وأنت في وسطنا يارب وقد دعينا بإسمك لا تتركنا &#8220;(إر١٤: ٧-٩) . وكان سمعان الشيخ يعلم تمام العلم أنه لا خلاص لأمته وشعبه بدون المسيح !!. وقد أوصى إليه روح الله ،أنه على مقربة من النور وأنه لن يرى الموت قبل أن يرى مسیح الرب.</p>
<p>ب - تسبيحة سمعان وحديثه مع العذراء :</p>
<p>تتغني الكنيسة المسيحية منذ القدم بالصلاة التي فاض بها قلب سمعان وهو يحمل الطفل يسوع بين ذراعيه ( الآن تطلق عبدك بسلام …) . وهي تسبيحة شيخ جليل ، حمل بين ذراعيه أسمى أمل للحياة البشرية ، وكان موقناً من أن التاريخ كله سيتغير للأمم ولليهود على حد سواء .</p>
<p>ومع أن باقی تسبیحته كانت تقول &#8221; …الذي أعددته قدام وجه جميع الشعوب ، نور أعلان للأمم ومجداً لشعبك إسرائيل &#8220;(لو ٢: ٣١ و ۳۲) .إلا أن الشيخ الوقور لم يعش ليرى كل هذا ، لكنه نام مستريحاً على وسادة من يقين الأعلان الإلهي وقد أثبت الزمن صدقه حيث أن تلال بيت لحم من الوجهة الجغرافية لم تكن إلا تلالاً متواضعة ربض عليها الرعاة في ليلة من الليالي القديمة ولكنها ببشارة المسيح ارتفعت لتصبح تلالاً دهرية هي أشهر التلال في العالم ، قلبت حياة البشر رأسا على عقب وأعادت وضع البشر المقلوب للأمم ولليهود على حد سواء .</p>
<p>أجل : حمل سمعان الصبي العجيب بين ذراعيه وهو قد لا يدری أن هذا الصغير المحمول وهو الحامل كل الأشياء بكلمة قدرته على أن سمعان ركز في المسيح على الخلاص ، فهل كان يدری عمق التعبير وجلاله ومجده وعظمته؟ نعم أدرك ذلك وهو يشير إلى الخلاص كعطية الله العظمى التي أعدها في المسيح يسوع الذي أعددته قدام وجه جميع الشعوب &#8221;</p>
<p>وبعد أن أنهى سمعان تسبيحته تحول إلى الحديث مع العذراء وتحدث عن المسيح بالنسبة لإسرائيل وبالنسبة لها فقال &#8220;ها إن هذا قد وضع لسقوط وقیام کثيرين في إسرائيل ولعلامه تقاوم وأنت أيضاً يجوز في نفسك سیف ، لتعلن أفكار من قلوب كثيرة &#8221; (لو ٢: ٣٤ و ٣٥) ، ويتفق هذا القول مع ما جاء في سفر إشعياء عن السيد &#8221; قدسوا رب الجنود فهو خوفكم وهو رهبتكم ويكون مقدساً وحجر صدمة وصخرة عثرة لبنی إسرائيل وفخاً وشركاً لسكان اورشلیم ، فيعثر بها كثيرون ويستطون فینکسرون ويعلقون فيلقطون… &#8221; (أش ٨: ١٣-١٦) .</p>
<p>وهو ما قاله السيد المسيح للشعب &#8220;… الحجر الذي رفضه البناءون هوقد صار رأس الزاوية كل من يسقط على ذلك الحجر يترضض . ومن سقط هو عليه يسحقه &#8221; (لو ٢٠ : ١٧ و ۱۸) .</p>
<p>فيا تري هل الذي ولد من مريم وهو إبن الله هل هو حجر صدمة ؟ أو هو حجر الأساس في صهيون بالنسبة لنا ؟ أهو رافعی لخلاصى الأبدي ، ولمجده الدائم ، فوق جميع سقطاتنا لنثبت في بره كمن يقف على صخرة ؟!! قد يسقط سمعان وقد أسقط أنا لكن السيد المسيح يرفعنا بيده&#8221; والقادر أن يحفظكم عاثرین ويوقفكم أمام مجده بلا عيب في الابتهاج ، الإله الحكيم الواحد مخلصنا . له المجد والعظمة والقدرة والسلطان الآن وإلى كل الدهور آمين &#8221; ( يهوذا ٢٤-٢٥ ) ، ووقفت العذراء متعجبة من کلام سمعان فلعله من الواجب أن نعلم أنه وهو يقول لها &#8221; وأنت أيضا يجوز في نفسك سيف &#8221; كان يتحدث عن الألم الرهيب الذي كان لابد أن تجتازه نفسها ، في علاقتها بإبنها العظيم . وأن الأصل اليوناني لكلمة &#8221; سیف &#8221; لا تعني ذلك النوع الصغير القصير من السيوف ، بل ذلك النوع الحاد الطويل المرهف ، وقد جاز في قلبها من يوم تبشير الملاك لها ، وحتى وقفت تحت الصليب في يوم الصلب العظيم . ومن خلال هذا الموجز السريع يمكن القول أن سمعان الشيخ كان خادماً تقياً :</p>
<p>* شهد له الوحي الإلهي بأنه كان رجلا باراً تقياً وينتظر تعزية إسرائيل والروح القدس كان عليه .</p>
<p>*مشهد له الوحي الإلهي بأنه شخصية إيمانية تتحلى بيقين الرجاء فقد ظل ينتظر نحو ثلاثة قرون مجئ مخلص العالم في ملء الزمان ودون أن يتطرق إليه الشك بأنه لا يرى الموت حتى يعاین الله .</p>
<p>*شهد له الوحي الإلهي أنه إستحق هذا القديس أن ينال شرف حمل مسیح الرب على يديه وأن يعاين الأمل الذي ظل هو وشعبه والعالم كله ينتظر لعدة قرون كما إستحق أن يكشف له الروح القدس عن رسالة المسيح الخلاصية والفدائية لكل الالم .</p>
<p>* تنبأ عن جوهر خدمة السيد المسيح بقوله أن هذا قد وضع السقوط وقیام كثيرين ولعلامه تقاوم أي علامة الصليب (لو٢: ٣٤-٣٥) . وهي النبوءة التي مازالت قائمة حتى اليوم .</p>
<p>* تنبأ عن آلام العذراء عندما خاطبها قائلا &#8221; وأنت أيضا يجوز في نفسك سيف &#8230; &#8221; وكان هذا السيف رمزا للآلام الشديدة التي كانت فيها العذراء عندما رأت إبنها الوحيد معلقاً على الصليب .</p>
<p>* تحلى بفضيلة الإتضاع رغم مكانته الدينية والعلمية ووصف نفسه بعبد الله . وقد أهله ذلك لأن يحمل الرب الوديع المتواضع وأن يستحق أن يصير نجماً مضيئاً في عالم الخلود .</p>
<p>ج- همسة مضيئة :</p>
<p>بعد هذا المشوار المقدس مع مراقب الصبح فلعل أمنا العذراء القديسة مريم تريد أن تهمس بكلمات رقيقة في أذن هذا الشيخ الوقور فتعال بنا أيها القارئ المحبوب نسمع هذه الهمسة القدسية معه من أمنا الطهور .</p>
<p>- بلغت یا سمعان أيها الشيخ القديس هذا الأمل الذي عشت تنتظره سنوات طويلة لشعبك وللعالم . كنت كمن يصعد إلى القمة في جبل الحياة وليس لك من مطمع أعلى وأسمى أضحى الموت بالنسبة لك كالنوم الهادئ للعامل المتعب الذي يهجع في آخر الليل إلى سريره ليستريح .</p>
<p>لقد درج اليهود على أن يودعوا الراحل من الدنيا بالعبارة التي قالها الله لإبراهيم &#8220;وأما أنت فتمضي إلى أبائك بسلام وتدفن بشيبة صالحة &#8221; (تك ١٥:١٥) . وأما أنت یاسیدی قلت &#8221; والآن تطلق عبدك ياسيد حسب قولك بسلام لأن عيني قد أبصرتا خلاصك &#8221; (لو ٢ : ٢٩ و ۳۰) . فهل أحسست أنك الطائر السجين في القفص يرفرف بجناحيه وأنت ترى اليد الكريمة توشك أن تفتح الباب ، مستعداً للإنطلاق إلى سماء الله المرتفعة العظيمة ، أم أنك كنت أشبه بالسفينة المربوطة إلى الشاطئ ، وإذا بالربان العظيم يفك رباطها لتنطلق بعيداً إلى بحر الرب اللانهائی - على أية حال إن سبيلك الخلود لذلك لم تتلفظ بلفظ الموت بل تحدثت بلغة الانطلاق والانعتاق من أسر الحياة إلى مدينة الله العظيمة الخالدة . وأننا على يقين من أن الإنسان الذي حمل المسيح بين ذراعيه ووصف نفسه متواضعاً بصدق وأمانة أنه عبد الله سيضئ في الأبدية كضياء الجلد وکالكواكب إلى أبد الدهور ، لأنك كنت كحبة الحنطة التي تتفتت بالشيخوخة والموت إلى أن تبزغ في فجر الأبدية شجرة وأرفة في بستان الله العظيم والذي كان فرحك عظيما بالأمل المفرد الذي رأيته في الصبي العظيم بين يديك والانطلاق الموعود بك بعد هذه الرؤيا العليا المجيدة .</p>
<p>شیخی الوقور : إن ما تنبأت به من السيف الذي يجوز في نفسي وفي قلبي فأنا على يقين أن طريق المسيح لا يمكن أن يعطى الإكليل الإنسان لم يخرج إليه خارج المحلة حاملا عاره ، إذ لا إكليل بدون ألم ، ولا تاج بدون صليب .</p>
<p>وخلاصة قولي أنك كنت أيها الشيخ الوقور على موعد مع النور الذي بهر عينك ، وأشاع إبتسامة الهدوء والرضا التي ملأت محياك ولعلك رجعت من الهيكل بعد أن قابلتنا ونمت لیالی قلت أو كثرت حتى جاءوا إليك أقرانك ذات صباح ليروا وجهاً هادئاً مبتسماً بعد أن أجابه الله إلى طلبته العظيمة ، وأمنيته الغالية . &#8220;الآن تطلق عبدك ياسيد حسب قولك بسلام لأن عيني قد أبصرنا خلاصك &#8221; (لو٢ : ۲۹) . فهنيئاً لك بالفردوس أيها الشيخ الوقور<a href="#_ftn13" name="_ftnref13">[13]</a>.</p>
<h4>المتنيح الأنبا كيرلس مطران ميلانو</h4>
<p><strong>غسلت يدي بدموع قلبي</strong></p>
<p>جاء وقلبة فرحا جاء يقول لقد استيقظت من غفلتى لقد قمت من رقاد نومی بعدما ظننت أننى أصلى الى الرب.. وهو لم يستجيب؟! استيقظت من نومي بعدما أدركت أن بكورى وقرابينى وعشورى وكل ما يقدم للسيد الرب لا بد وأن يدم وعلية اختام الوصية؟! قدمت قرابيني وظننت أنها صعدت ولم اعرف أنها لم تقبل لأنى قدمتها وكان ينقصنى ان أتعلم كيف اقدم القرابين؟! وبالمثل كان ينقصني أعرف ما هي الذبائح المقبولة لدى الرب؟.. وكان يعوزني أن أدرب نفسى على أن اعطى ما هو أعلى من الشعور الى أن أضع كل حياتي في خزينة الرب؟! كنت متعمقاً في السطحيات.. ومتربعاً عليها؟! وكنت سطحياً في لأعماق كنت مهتماً بالقشور ..الخارجية.. بالحرف والمظهر وأدركت متأخراً بان العمق والجوهر هما نظرة الرب وأشتياقاته؟!</p>
<p>قدمت قربانی و امامی وصل الى المذبح ولكن من فوق المذبح لم يصعد الى الأعالى؟! لأننى أخطأت في حق أخى ولم أذهب لكي أصالحة قبل أن أقدم قربانی؟!</p>
<p>عجيب أنا؟! أمام قابل القرابين النقية وضعت قربانى ولم أضع عليه الختم القائل &#8220;فان قدمت قربانك الى المذبح وهناك تذكرت أن لأخيك شيئاً عليك فاترك هناك قربانك قدام المذبح واذهب اولاً اصطلح مع أخيك حينئذ تعال وقدم قربانك&#8221; (مت٢٣:٥). وكما تعلمت كيف اقدم قرباني؟ عدت أنظر الى طريقة صلاتي وعطاياي وذبائحی فوجدت بیدی قدمت عطایای. وبيدى حملت ذبائحي وبرفع يدى عالياً أكتفيت بالصلاة؟! قلت عجيب أنا؟! لأننى لم انظر الى يدى وما حالتهما؟ لأنني اكتفيت بأنها حملت .. وقدمت.. وأعطت وارتفعت؟! ولولا ان الرب متشوق الى خلاص ونجاة كل احد ما كن نجانى من ضلالة افكارى؟! ولولا أن الرب صالح ومستقيم ما كان أرشدني وهمس في أذني بصوت يقول أين أختام الوصية؟ أين التصديق على كل ما تقدمة وما ترفعة؟! من الصوت سمعت أنظر يابنى وتفهم أن الرب&#8221; نظر الى هابيل وقربانة ولكن الى قايين وقربانة لم ينظر&#8221; (تك ٤:٤) والرب انما ينظر الى الأعماق اولا &#8230;</p>
<p>اسمع يابنى.. انت تقدم عطاياك وتنظر اليها ويستريح قلبك والله ينظر الى حالة يدك التي تقدم؟!</p>
<p>وسألنى؟! هل اليد اليابسة تقدر ان تقدم شيئاً؟ هل تقدر أن تحمل شيئا؟! يلزمها أن تشفى أولاً؟! ثم عرفنى بأنة توجد أياد تتحرك ولكنها يابسة روحياً؟! وقال لي.. هل السارق عندما يقدم عطايا.. هل عطاياه تقبل ؟! كيف تقبل وينقصها ختم الوصية القائل &#8220;لاتسرق&#8221;</p>
<p>كيف تقبل ؟! وقابل العطايا يقول بختم واضح لا أعود أكون معكم.. ان لم تبيدوا الحرام من وسطكم (يش ۱۲:۷).</p>
<p>استكمل همساتة فى أذنى قائلاً .. هل القاتل وسافك الدم البرئ عندما يحمل الذبائح على يدية ويقدمها للرب بخشوع هل ينتظر أنها تقبل؟!</p>
<p>كيف تقبل ؟! وينقصها الختم القائل ايديكم ملأنة دما اغتسلوا.. تنقوا.. اعزلوا شر أفعالكم.. &#8221; (أش ١٦:١)</p>
<p>وقال لى الصوت أجبني يابني ؟ ! صاحب الأصابع التي تكتب شهادة زور ويؤذى بها الأبرياء هل عندما تشعل شمعة أمام القديسين.. تنظر شفاعتهم؟! وهل اليد التى تقبل الرشوة وتجعل من النور ظلاماً وتعوج القضاء ويصبح الحق باطلا هل تقبل عطاياها ويرتشى بها الرب؟ كيف تقبل؟! وينقصها الختم القائل &#8220;تعلموا فعل الخير .. اطلبوا الحق.. انصفوا المظلوم.. اقضوا لليتيم .. حاموا عن &#8220;الأرملة (أش ۱۷:۱)</p>
<p>كيف تقبل ؟! وينقصها ختم بقول الرب &#8220;موازين&#8221; غش مكرهة للرب والوزن الصحيح رضاه&#8221; (أمثال).</p>
<p>عرفت وفهمت وادركت ان اليد اليابسة هى اليد العاجزة عن عمل الخير هي التى لا تصنع صدقة وهى التى يسكنها البخل ويلوثها الدم البرئ وتسرق وتنهب وتكتب وتشكو وتشهد بالزور وتتسخ وتبصم. كل هذة الأمراض تأتى من القلب فان غسلت يدى بدموع قلبي بها أرفع أعمق صلاه واقدم بها أعظم من الذبائح والمسمنات لأنه يوجد ترابط روحى بين الصلاة وبين اليد المرفوعة للصلاة ويوجد ترابط روحي بين التقدمة واليد التي تقدمها؟<a href="#_ftn14" name="_ftnref14">[14]</a>!</p>
<h4>المتنيح الأنبا إبيفانيوس أسقف ورئيس دير القديس أنبا مقار: الختان</h4>
<p>&#8220;بين يهود الشتات حتى زمن المسيح&#8221;</p>
<p>&#8220;ولما تمت ثمانية أيام ليختنوا الصبى سمى يسوع، كما تسمى من الملاك قبل أن حبل به في البطن&#8221;  (لو ٢: ٢١)</p>
<p>يعتبر الختان علامة مميزة لليهود منذ أيام إبراهيم أبي الآباء. وهي علامة العهد الذي تم بين الله وإبراهيم عندما طلب الله منه أن يختن هو وجميع الذكور من عائلته. وكان إبراهيم وقت ختانته يبلغ من العمر تسعة وتسعين عاماً، وإسماعيل ابنه كان في الثالثة عشرة (تك ١٧: ٩-٢٧).</p>
<p>وبالرغم من ارتباط الختان بالشعب اليهودي، فلم يكن هو الشعب الوحيد الذي مارس هذه الفريضة، فشعوب كثيرة من المحيطة بأرض فلسطين كانت تحافظ على ختان الذكور. وهناك نقش بارز على إحدى المقابر الفرعونية من الأسرة السادسة (حوالي عام ٢٣٠٠ ق.م.) يمثل عملية ختان تجرى لفتى يبلغ من العمر حوالي ثلاث عشرة سنة&#8221;.</p>
<p>أما القصد من اختيار الله لعملية الختان بالذات لتكون علامة عهد بينه وبين إبراهيم، فربما يرجع إلى عدة أسباب. فأولاً، غالبية العهود المتبادلة التي كانت تتم قديماً كانت مرتبطة بسفك الدم. وثانياً، لم يكن إبراهيم قد أنجب بعد أولاداً من سارة، فأراد الله أن يوضح له بصورة رمزية أن مقدرة إبراهيم على إنجاب نسل، إنما تعتمد أساساً. على الله، وبالتالي كل مستقبل حياته. وثالثاً، لأن ممارسة الجنس كانت تبدو وكأنها علامة على الخطية، صار الختان في لحم الغرلة رمزاً للطهارة وللتكريس من أجل الله.</p>
<p>ومهما كانت الأسباب، فإن الختان صار رمزاً للعهد مع الله. فكان على موسى النبي أن يختتن هو وولداه قبل عودته إلى مصر (خر ٤: ٢٤-٢٦).</p>
<p>وقد أمر يشوع بختان كل شعب إسرائيل كاستعداد لدخولهم أرض الميعاد (يش ٥: ٢-٧). وصارت هذه العلامة الخارجية رمزاً للعلاقة الداخلية العميقة مع الله: &#8220;ويختن الرب إلهك قلبك وقلب نسلك، لكي تحب الرب إلهك من كل قلبك ومن كل نفسك، لتحيا» (تث٣٠: ٦). وقد زادت أهمية الختان بين اليهود بعد تشتتهم خارج فلسطين. فبعد أن تبنى يهود الشتات ثقافة وعادات الشعوب التي عاشوا بينها، صار الختان علامة مميزة لهم. بل إن في فلسطين نفسها حدث تصادم من أجل هذه الفريضة. ففي عام ٣٣٢ ق.م. غزا اليونان، بقيادة الإسكندر الأكبر، أرض فلسطين، وحكموها حتى عام ١٤٢ ق.م. (كان الحكام من أسرة السلوقيين التي حكمت سوريا في ذلك الوقت). وفي هذه الفترة كانت الديانة اليهودية عامة، وممارسة الختان خاصة، تواجه ضغوطاً شديدة. وكانت الضغوط مباشرة وغير مباشرة.</p>
<p>وقد أتى الضغط المباشر على ممارسة الختان أولاً عن طريق أنطيوخس إبيفانس الذي حكم من عام ١٧٥ ق.م. حتى عام١٦٣ ق.م. فقد أرسل أنطيوخس تعليمات بمنع اليهود من ممارسة كثير من طقوسهم الدينية. وقد نص صراحة على أنه يجب &#8220;أن يتركوا بنيهم دون ختان&#8221; (۱مكابيين ١: ٤٨)، وقد تم توقيع العقوبات الرادعة على من لم يمتثل لهذه الأوامر &#8220;ومن ذلك أن أحدهم وشي بامرأتين ختنتا أولادهما، فعلقوا أطفالهما على أثدائهما، وطافوا بهما في المدينة علانية، ثم رموا بهما عن السور &#8220;٢مكابيين٦: ١٠)).</p>
<p>وبالرغم من أن هذا الضغط المباشر لم يدم طوال الحكم اليوناني، فإن الضغط غير المباشر بسبب تغلغل الثقافة اليونانية استمر فعالا. فهذه الثقافة المسماة الهللينية أحضرت معها لغة جديدة وفلسفات جديدة و انحرافات جديدة وكان من هذه الانحرافات دخول بعض الألعاب الرياضية التي كانت تتم في الساحات العامة وفي صالات الجمنازيوم. ولأن معظم هذه الرياضات كان يمارسها الرياضيون وهم عراة (فكلمة جمنازيوم مشتقة الكلمة اليونانية جيمنوز Yuuvos التي تعني عريان)، لذلك أصاب اليهود الذين مارسوا هذه الألعاب الحرج لأنهم كانوا مختونين. لذلك حاول بعض الرياضيين اليهود إخفاء علامة الختان بعملية جراحية: &#8220;فبنوا ملعباً في أورشليم على حسب تقاليد تلك الأمم وحاولوا ستر ختانتهم. فخانوا بذلك العهد المقدس مع الرب إلههم واندمجوا بتلك الأمم وقاموا بأعمال حرمتها شريعة الله&#8221; (امكابيين١: ١٤، ١٥) .</p>
<p>لم يندفع عامة اليهود في فلسطين وراء هذه الانحرافات الجديدة، بيد أن عدداً ليس بقليل منهم أهمل عادة ختان الأولاد. وقد قام اليهود بثورة ضد القهر اليوناني عام ١٦٧ ق.م. بزعامة المكابيين. وكما يخبرنا سفر المكابيين (وهو من الأسفار القانونية الثانية) متثياالمكابي وأصحابه جالوا في أرض إسرائيل &#8220;وختنوا بالقوة كل من وجدوه فيها غير مختون من الأطفال. ختنوا بعزيمة صادقة&#8221; (امك ٢: ٤٦).</p>
<p>أثرت تلك الأحداث التي تمت زمن المكابيين تأثيراً فعالاً في حياة اليهود. فالضغط اليوناني على اليهود دفعهم أن يفكروا ويهتموا بكل ما هو يهودي، لذلك نظروا للختان على أنه علامة مميزة لإيمانهم. وعلمتهم الخبرة أن يحافظوا على هذه الممارسة في الأمم التي تشتتوا فيها، وإن كانت قد جرت عليهم متاعب كثيرة.</p>
<p>ترجع بداية تشتت اليهود من فلسطين إلى زمن السبي البابلي الذي بدأ عام ٥٨٧ ق.م، ولكن عاد الكثير منهم إلى فلسطين فيما بعد. غير أنه في القرن الثاني قبل الميلاد زاد عدد اليهود خارج فلسطين زيادة مضطردة. ويرجع سبب هذه الزيادة في العدد إلى عدة أسباب؛ منها أن بعض اليهود الذين أخذوا كأسرى خارج بلادهم (كما في السبي البابلي) لم يعودوا إلى فلسطين وهناك تناسلوا وزاد عددهم؛ كما أن انتشار الفقر في منطقة فلسطين وزيادة الضرائب على الشعب كثيراً والاستيطان في بلاد أخرى. كذلك كان هناك عملية تبشير واسعة بالديانة اليهودية بين الأمم مما أدى إلى إيمان البعض - الذين سموا دخلاء - وانضموا إلى الشعب اليهودي، وقد أشار الرب يسوع إلى ذلك في حديثه مع الفريسيين عندما قال لهم &#8220;تطوفون البحر والبر لتكسبوا دخيلاً واحداً&#8221; (مت  ٢٣: ١٥).</p>
<p>وقد تركز تشتت اليهود في بلدان حوض البحر الأبيض المتوسط. وفي زمن أغسطس قيصر (٣٠ ق.م. - ١٤م.) بلغ عدد اليهود داخل الإمبراطورية الرومانية حوالي أربعة ملايين ونصف، منهم حوالي نصف مليون فقط يعيشون في فلسطين وحوالي مليون شخص يعيشون في مصر (حسب رواية فيلو اليهودي) ، وقد ذكر سفر أعمال الرسل مدناً كثيرة وبلداناً متعددة أتى منها اليهود للاحتفال بعيد الخمسين، مما يظهر مدى تشتت اليهود خارج فلسطين (أع ٢: ٩-١١).</p>
<p>لم يكن هنالك أي انفصال بين يهود فلسطين ويهود الشتات، فقد كانت هناك روابط وصلات وشيجة بينهما، كانت من الأهمية بمكان حتى إنها حافظت على عدم انصهار اليهود في شعوب الأرض، فيهود فلسطين ويهود الشتات كانا يخضعان معا لتأثير الحضارة اليونانية، وكان يهود فلسطين على اتصال دائم بجميع أجزاء العالم الهللينى من خلال التجارة والرحلات، وكان يربط اليهود في العالم كله بهیکل اورشليم ضريبة نصف الشاقل المفروضة على كل يهودي، وكان يهود الشتات يزورون أورشليم بأعداد كبيرة كل عام في الأعياد اليهودية كما تنص على ذلك الشريعة: &#8220;ثلاث مرات في السنة يحضر جميع ذكورك امام الرب إلهك في المكان الذي تختاره، (تث١٦:١٦). كما كان هناك مجامع يهودية في جميع مدن الإمبراطورية التي كان يسكنها يهود هذه الأمور ساعدت على وحدة اليهود داخل وخارج فلسطين.</p>
<p>وبدراسة كتاب العهد الجديد يتضح لنا كيف حافظ يهود الشتات على الممارسات اليهودية وخاصة على شريعة الختان، فبولس الرسول المولود في إحدى مدن الشتات وهي مدينة طرسوس في كيليكية (جنوب شرق آسيا الصغرى) قد ختن في اليوم الثامن من ولادته (في ٣: ٥)، تماماً مثلما ختن الطفل يسوع وهو من مواليد بيت لحم اليهودية في اليوم الثامن لولادته (لو ٢: ٢١). وقصة تقابل بولس الرسول مع تيموثاوس تظهر لنا الشتات بشريعة الختان. فتيموثاوس وهو من يهود الشتات، إذ أنه ولد في مدينة لسترة جنوب آسيا الصغرى، لم يكن مختوناً لأن أباه كان يونانياً، أما أمه فكانت يهودية، وربما يكون أبوه قد عارض في أمر ختانه. لذلك عندما أراد بولس أن يصطحبه معه في الكرازة: &#8220;أخذه وختنه من أجل اليهود الذين في تلك الأماكن، لأن الجميع كانوا يعرفون أباه أنه يوناني» (أع ١٦: ٣ ). مما يثبت أن اليهود الساكنين في تلك النواحي كانوا يحافظون على شريعة الختان، وربما كانوا يشعرون بالضيق بسبب تواجد أحد اليهود بينهم غير مختون.</p>
<p>وفي مدن الشتات بشر اليهود بالدين اليهودي بين الأمم. فالاعتقاد بوجود إله واحد، والأخلاق التي تحتمها الشريعة، والوعد بميراث الحياة الأبدية، فتحت الباب أمام بعض الأتقياء من الأمم للدخول إلى حظيرة الإيمان اليهودي. ولكن شرط المرور من بوابة الختان جعلت الكثيرين يحجمون عن أن يصيروا يهوداً كاملين، أي دخلاء. وهكذا سمح لكل من يحفظ ناموس موسى ولكنه لا يخضع لشريعة الختان بالصلاة داخل المجمع اليهودي، وكان يطلق على هذه الفئة اسم &#8220;خائفي الله“.</p>
<p>وبسبب عدم مناداة المسيحية بممارسة الختان، كان خائفو الله من أكثر المستجيبين للإيمان بالإنجيل، كما في إيمان كرنيليوس على يد بطرس الرسول (أع ١٠). وقد واجهت المسيحية في بدء انتشارها مشكلة صعبة وهي إصرار بعض المسيحيين الذين كانوا من أصل يهودي على ممارسة الأمم لشريعة الختان قبل إيمانهم بالمسيح. وقد دفع هذا الرسل إلى عقد مجمع في أورشليم لحل هذه المشكلة (أع ١٥). وكان من أهم قرارات المجمع عدم إلزام الأمم الداخلين إلى الإيمان بممارسة الختان.</p>
<p>وقد عبر بولس الرسول عن مفهوم الختان في العهد الجديد قائلاً: &#8220;وبه أيضاً ختنتم ختاناً غير مصنوع بيد بخلع جسم خطايا البشرية بختان المسيح. مدفونين معه في المعمودية&#8221; (كو٢: ١١، ١٢). أي أن الختان الذي كان علامة عهد بين الله وإبراهيم في القديم، كان رمزاً لختان العهد الجديد، أي المعمودية. وكما أن الختان كان هو الباب لدخول أي إنسان إلى الإيمان اليهودي، صارت المعمودية - أي الولادة من الماء والروح، وخلع جسم خطايا البشرية - هي الطريق للمسيحية ولنوال الحياة الأبدية: &#8220;أجاب يسوع: &#8220;الحق الحق أقول لك: إن كان أحد لا يولد من الماء والروح لا يقدر أن يدخل ملكوت الله&#8221; (يو٣: ٥). وصارت وصية الرب الأخيرة لتلاميذه: &#8220;اذهبوا وتلمذوا جميع الأمم وعمدوهم باسم الآب والابن والروح القدس&#8221; (مت ۲۸: ١٩).</p>
<p>ويشرح القديس كيرلس الكبير هذا الأمر قائلاً:</p>
<p>[لأنه فيما يتعلق بطبيعة هذا الأمر، أعني ذلك الذي يجرى في الجسد، فإنه لا يفيد شيئاً البتة. ولكنه يحمل في طياته الرمز لسر ممتلئ نعمة، أو بالحري يتضمن الاستعلان لحقيقة مختفية. لأنه في اليوم الثامن (أي يوم الأحد) قام المسيح من بين الأموات وأعطانا الختان الروحي، وذلك بمقتضى ما أمر به الرسل القديسين: &#8220;اذهبوا وتلمذوا جميع الأمم وعمدوهم باسم الآب والابن والروح القدس&#8221; (مت ۲۸: ١٩). ونحن نؤكد هنا أن الختان الروحي يتم أساساً في المعمودية المقدسة، حيث يجعلنا المسيح شركاء أيضاً في الروح القدس &#8230;</p>
<p>لقد ألغي طقس الختان بعد ختانة المسيح، وذلك بدخول المعمودية التي كان طقس الختان رمزاً لها. لذلك فنحن لا نختتن بعد، لأن الختان - حسب ما يبدو لي - كان يخدم ثلاثة أغراض:</p>
<p>ففي المقام الأول: خص ذرية إبراهيم بنوع من العلامة أو الختم لتمييزهم عن بقية الشعوب الأخرى.</p>
<p>وثانياً: كان الختان في ذاته رمزاً سابقاً لنعمة المعمودية الإلهية وفاعليتها، لأنه كما كان كل من يختن في القديم يحسب ضمن شعب  الله بهذا الختم، هكذا أيضاً من يعتمد الآن يكون قد حصل في نفسه على المسيح الختم، فيدرج بذلك ضمن بيت أهل الله المتبنين. وثالثاً: فإنه يرمز للمؤمن الذي تأسس في النعمة، قاطعاً عنه بل ومميتاً لكل ثورات الملذات الجسدية والشهوات الجامحة بجراحة الإيمان القاطع، وليس بقطع اللحم، وإنما بالممارسات النسكية وتطهير القلب، بختان الروح لا الحرف، الذي مدحه لا يحتاج، كما يقول بولس الرسول، إلى حكم بشري ولكنه يعتمد على شهادة من فوق (رو ٢: ٢٩)<a href="#_ftn15" name="_ftnref15">[15]</a>]</p>
<h4>القديس الأرشيدياكون حبيب جرجس</h4>
<p>احضار الطفل يسوع الى الهيكل (لو٢: ۲۲ - ۳۸) سمعان الشيخ يحمل الطفل يسوع</p>
<p>&#8220;وقد وضع لسقوط وقيام كثيرين ولعلامة تقاوم» (لو ٢: ٣٤)</p>
<p>(أولا ً) حالة المسكنة والفقر التي كانت عليها أم الرب يسوع. فانها قدمت ذبيحة كما يقدم الفقراء المعدمون حسب شريعة موسی (لا ١٢: ٦) فاذا كان المسيح اختار الفقر والذل فهل يليق بانسان ان يستحي من الفقر أو إن يهين أي فقير</p>
<p>مسكين .(ثانياً) في كل زمان وفي كل مكان يوجد شعب امين الله ينتظر مراحمه . فان سمعان الشيخ كان ينتظر ظهور المسيح كما أعلن الله ذلك له. (ثالثاً) متى امتلأ القلب بالايمان واتقى الانسان الله لا يخاف من الموت بل يشتهيه ، لانه ينقله الى حياة سعيدة كما طلب سمعان« اطلق عبدك بسلام الخ »(رابعاً) لاحظ ما حصل عليه سمعان من المعرفة الروحية . فان في كلامه ما يدل على شدة تعمقه في الروحيات فضلاً عن اعلانه العجيب عن نور المسيح للأمم (خامساً) قال سمعان عن المسيح انه وضع لسقوط وقيام كثيرين ومعنى ذلك ان الذين يقبلون الايمان به يقومون من موت الخطيئة والذين يرفضونه يسقطون . واما معنى انه علامة تقاوم فقد تم إذ أن الأعداء قاوموه وقاوموا ديانته ولكنه انتصر وأخضع كل ممالك العالم لملكوته . وأنبأ سمعان السيدة العذراء بانه يجوز في نفسها سيف مشيراً بذلك الى حزنها وجرح قلبها عند صلبه. وتعلن أفكار من قلوب كثيرة لان المسيح كشف أعماق وأفكار البشر من الذين قبلوه ومن الذين رفضوه<a href="#_ftn16" name="_ftnref16">[16]</a>.</p>
<h4>المتنيح القمص تادرس البراموسي</h4>
<p>اليوم السادس من شهر طوبه المبارك</p>
<p>(الآن تطلق عبدك يا سيد حسب قولك بسلام لأن عيني قد أبصرنا خلاصك ) (لو ١٢ : ۲۱ - ۲۹)</p>
<p>بالرغم من أن الرب يسوع هو الله الخالق وهو الذي فيه نسمة حياتنا وهو الذي ممسك بزمام الكون إلا أنه لما تجسد من مريم العذراء وأخذ شكل العبد وصار في الهيئة كإنسان. شابهنا في كل شئ جاع وعطش وتألم وقال عنه الكتاب نما قليلا كشبه البشر لكنه أراد أن يسلك كبشر في إتمام الناموس مع أنه واضع الناموس لذلك كانت أمه العذراء أيضاً تسلك حسب الناموس وطريق التطهير مثلها مثل أي إمرأة بعد الولادة. بعد ثمانية أيام بعد ولادته تمت عملية الختان وختن يسوع لكنه لا يحتاج لمثل هذه العملية لأن الختان في اليهودية كان علامة عهد بين الله وأبونا إبراهيم ونسله من بعده؛ وبما أن الرب من نسل إبراهيم فتطبق عليه شريعة الختان . وكما قال من فمه الطاهر ينبغي لنا أن تكمل کل بر ؛ وكان يوم الختان يسمى يوم السماية أي إعطاء الإسم للمولود وسمي يسوع كما سماه الملاك قبل الحبل به . وبعدما تمت أيام التطهير للسيدة العذراء حسب عادة الناموس وبالرغم من أنها لا تحتاج إلى تطهير لأن المولود منها إبن الله ؛ كانت أيام التطهير في الشريعة الموساوية أربعين يوماً لأم الولد وثمانين يوماً لأم البنت ؛ صعد القديس يوسف والسيدة العذراء القديسة مريم إلى أورشليم ليقدموه حسب الشريعة كما هو مكتوب كل ذكر فاتح رحم يدعى قدوساً للرب . وقدموا ذبيحة التطهير زوج يمام أو فرخي حمام ؛ ولما كبر الرب يسوع كان يعيش حسب وضع ؛ الأمة اليهودية وتنفيذ ما جاء في الناموس لأن واضع الناموس لا يتعدى الناموس .</p>
<p>كان رجل في أورشليم إسمه سمعان شهد له الكتاب أنه باراً تقياً ينتظر تعزية إسرائيل والروح القدس كان عليه . سمعان الشيخ هذا كان الترجمة جملة السبعين شيخاً الذين ترجموا التوراة التي نسميها الترجمة نسبة للسبعين شيخاً . وعندما جاء في سفر أشعياء النبي وجدوا القول ها العذراء تحبل وتلد إبناً وتدعو إسمه عمانوئيل الذي تفسيره الله معنا . بالرغم من أنهم كانوا سبعين شيخاً إلا أنهم كانوا كل إثنين في مكان وحدهم ليضمنوا سلامة الترجمة الصحيحة فعندما قرأ سمعان الكلام الذي يقول &#8221; العذراء تحبل &#8221; ؛ وجد هذه الجملة صعب حدوثها فكتب &#8221; ها الفتاة تحبل &#8221; ؛ فأراد الله أن يثبت له أنها العذراء وليس الفتاة لأن كلمة &#8221; فتاة &#8221; يمكن أن تُقال على العذراء والمتزوجة لكن الله تبارك إسمه أعطى له سباتاً ونام ورأى من قال له أكتبها &#8221; ها العذراء &#8221; وأنت لا ترى الموت حتى تعاين المسيح الرب ؛ وعاش سمعان طويلاً حتى جاء الوقت وعندما جاء بالطفل أبواه ليصنعا معه حسب الناموس رأى سمعان أن هذا هو الطفل المقصود وهذه هي العذراء التي ولدته وهي مازالت عذراء حتى بعد الولادة لذلك تسميها الكنيسة &#8221; دائمة البتولية &#8221; .</p>
<p>حتى عبدك</p>
<p>فرح سمعان جدا إذ رأى المولود الذي به تحددت أيام غربته على الأرض؛ بارك الرب وحمل المولود على يديه وقال الآن تطلق عبدك يا سيد حسب قولك بسلام لأن عيني قد أبصرتا خلاصك (لو ۲ : ۲۹ – ۳۰) . ونطق سمعان هكذا نُور إعلان للأمم ومجداً لشعبك إسرائيل (لو ۲ : ۳۲) ؛ كان القديس يوسف والسيدة العذراء يتعجبان مما يحدث وباركهما سمعان وتنبأ للعذراء قائلاً أنه وضع لسقوط وقيام كثيرين في إسرائيل وأنت أيضا سيجوز في نفسك سف أي ستري أتعاب وضيقات كثيرة ؛ وكانت حنة النبية بنت فنوئيل وهي متقدمة في أيام كثيرة وهي أرملة نحو أربعة وثمانين سنة لا تفارق الهيكل عابدة بأصوام وطلبات كثيرة وعندما رأت الرب يسوع حمله سمعان الشيخ وقفت تسبح الرب ؛ وترنم الكنيسة بهذه التسبحة المنسوبة إليها ليلة سبت النور وتكلمت عن الرب مع جميع المنتظرين فداء في إسرائيل ؛ وعندما أكملوا كل شئ حسب الناموس رجعوا إلى الجليل إلى مدينتهم الناصرة وكان الصبي ينمو ويتقوى بالروح ممتلئاً حكمة وكانت نعمة الله عليه<a href="#_ftn17" name="_ftnref17">[17]</a>.</p>
<h4>المتنيح الدكتور نصحى عبد الشهيد</h4>
<p><strong>عينى قد أبصرتا خلاصك</strong></p>
<p>&#8221; الآن تطلق عبدك ياسيد حسب قولك بسلام لأن عينى قد أبصرتا خلاصك &#8221; (لو ٢ : ٢٨ – ٢٠) .</p>
<p>بعد أربعين يوماً من ميلاد مخلصنا الرب يسوع المسيح من العذراء صعدت به مع يوسف البار خطيبها إلى أورشليم &#8221; ليقدموه للرب &#8221; . وليقدموا ذبيحة زوج يمام أو فرخى حمام كما يقول ناموس الرب ( انظر لوقا ٢ : ٢٢ – ٢٤ ، خروج ١٣ : ٢ ) . وهناك في هيكل أورشليم إلتقى بهم رجل شيخ إسمه سمعان يقول عنه الإنجيل &#8221; هذا هو الرجل كان باراً تقياً ينتظر تعزية إسرائيل والروح القدس كان عليه. وكان قد أوحى إليه بالروح القدس أنه لا يرى الموت قبل أن يرى مسيح الرب . فأتى بالروح إلى الهيكل &#8230; &#8221; (لو ٢ : ٢٥ – ٢٧) . ولما رأى الطفل يسوع على ذراعى العذراء ، &#8221; أخذه على ذراعيه وبارك الله وقال . الآن تطلق عبدك يا سيد حسب قولك بسلام لأن عينى قد أبصرتا خلاصك الذى أعددته قدام وجه جميع الشعوب . نور إعلان ومجداً لشعبك إسرائيل &#8221; (لو ٢ : ٢٨ – ٣٢) .</p>
<p>من هو سمعان :</p>
<p>ونعرف من التاريخ أن سمعان هذا كان واحد من السبعين عالماً الذين ترجموا التوراة من العبرانية إلى اليونانية وهى نسخة التوراة التي اشتهرت باسم السبعينية نسبة للعلماء السبعين الذين ترجموها حوالى ٢٨٠ قبل الميلاد في عصر الإمبراطور بطليموس فيلادلفيوس . وحدث أن سمعان هذا بينما كان يترجم في سفر إشعياء النبى ، أنه لما وصل إلى قول إشعياء &#8221; هوذا العذراء تحبل وتلد أبناً &#8221; ( أنظر إش ٧ : ٢٤ ) ، تردد أن يترجمها &#8221; عذراء تحبل &#8221; لأنه أمر غير معقول أن عذراء تلد وهى عذراء ، ثم لأنه خشى أن يهزأ به الملك ويظن أنه غشه فيما ترجمه ، فكتب كلمة فتاة بدلاً من كلمة عذراء . فظهرت له رؤيا ، ورأى ملاك الرب يقول له سمعان أن هذا الذى شككت فيه هو صحيح تماماً ، وها أنت لا تعاين الموت حتى ترى مسيح الرب مولوداً من عذراء . وقد تحقق هذا الإعلان الإلهى كما يخبرنا الإنجيل به &#8221; أوحى إليه بالروح القدس أنه لا يرى الموت قبل أن يرى مسيح الرب &#8221; (لو ٢ : ٢٦) . وعلى هذا الأساس يكون سمعان قد عاش أكثر من ٣٠٠ سنة لكى يرى تحقيق الوحى الإلهى أن يرى المولود من العذراء بعينيه .</p>
<p>تأجيل الموت إلى حين رؤية المخلص :</p>
<p>كان موت سمعان مؤجلاً لحين رؤية المخلص ، فسمعان الشيخ ظل حوالى ٣٠٠ سنة وهو منتظر أن يأتي ذلك الذى سيولد من عذراء . ولكنه لم يكن فقط أن يرى طفلاً تحمله إمراة بل أنه عرف من الروح القدس الذى أوحى إليه بأنه لن يموت قبل أن يرى المولود ، وأن هذا المولود هو المخلص الذى جاء من العذراء ليكون خلاصاً وعزاءً وفرحاً لكل الذين ينتظرون خلاص الله ، كما قال عنه الإنجيل &#8221; كان ينتظر تعزية إسرائيل &#8221; (يو ٢ : ٢٥) . ولذلك يقول &#8221; عينى قد أبصرتا خلاصك &#8221; فهو لم يرى يسوع بالجسد فقط بل رآه باعتباره &#8221; خلاص الله &#8221; أي هو الخلاص نفسه. فقد رأى المسيح في حقيقته الفعلية والمحيية أنه ولد لكى يكون مخلصاً . وهكذا يكون سمعان قد عرف معنى اسم يسوع ، وهو تعريب الكلمة العبرية &#8221; يهوشع &#8221; وتعنى &#8221; يهوه المخلص &#8221;  أي الله المخلص ، وهو الأسم الذى أعلنه الملاك جبرائيل للعذراء عندما بشرها بالحمل الإلهى (لو ١ : ٣١) .</p>
<p>فأتى بالروح إلى الهيكل :</p>
<p>وينبغى أن نلاحظ أن سمعان كان منقادًا بالروح في كل خطوة مرتبطة بلقائه بالمسيح في الهيكل . إذ يقول عنه الإنجيل &#8221; فأتى بالروح إلى الهيكل &#8221; (لو ٢ : ٢٧) . أي أن الروح القدس هو الذى عرفه أن المخلص المولود من العذراء سيأتى في هذا اليوم وفى هذا المكان ، وهو الذى عرفه بالعذراء والمولود الإلهى في يديها ، لأنه غالباً كان يوجد في الهيكل أكثر من طفل يقدمًللرب للناموس في هذا اليوم ، وبدون إرشاد الروح له لم يكن ليعرف المخلص مع أمه ويوسف في الهيكل .</p>
<p>خلاص لجميع الأمم :</p>
<p>وسمعان عندما تحدث عن رؤيته للمخلص – الخلاص ، عرفنا أن هذا الخلاص قد أعده الله &#8221; أمام وجه جميع الشعوب &#8221; (لو ٢ : ٣١) أي أن سمعان عرف الخلاص الشامل الذى أعده الله لكل البشر وليس خاصاً به هو وحده أو بشعب إسرائيل ، بل هو خلاص مقدم لجميع الشعوب .</p>
<p>نور إعلان للأمم ومجد لشعب الله :</p>
<p>يقول القديس كيرلس في عظته على سمعان الشيخ : [ لأن سر المسيح قد أعد من قبل تأسيس العالم ، ولكنه أظهر في الأزمنة الأخيرة وصار خلاصاً لأولئك الذين في الظلمة والضلال بسقوطهم تحت يد إبليس . هؤلاء هم الذين كانوا يعبدون &#8221; المخلوق بدلاً من الخالق &#8221; (رو ١ : ٢٥) . ومع ذلك فقد دعوا الآن من الله الآب ليعرفوا الأبن الذى هو النور الحقيقى . وبإشفاق قال عنهم بصوت النبى &#8221; سوف أصنع لهم آيات ، وأقبلهم لأنى سأفديهم ، ويكثرون كما كثروا ، وسأزرعهم بين الشعوب . الذين هم بعيدين ، ولكنهم قد دُعوا بواسطة المسيح . وأيضاً هم كثيرون كما كانوا من قبل . لأنهم قد قبلوا وافتدوا ، إذ قد حصلوا من الله الآب على التبنى في عائلته وعلى النعمة التي بالإيمان بيسوع المسيح ، وذلك كعلامة للسلام . والتلاميذ الإلهيون قد زرعوا باتساع بين الشعوب . وماذا كانت النتيجة ؟ إن أولئك الذين كانوا بعدين من الله قد صاروا قريبين . والذين يرسل إليهم بولس الإلهى رسالة قائلاً : &#8221; أنتم الذين كنتم قبلاً بعيدين صرتم قريبين بدم المسيح &#8221; (أف ٢ : ١٣) . وإذ قد جعلوا قريبين فإنهم يجعلون المسيح هو فخرهم ومجدهم . ولأن الآب قد قال عنهم أيضاً &#8221; سأقويهم بالرب إلههم فيفتخرون باسمه يقول الرب &#8221; (زك ١٠ : ١٢  سبعينية) . وهذا أيضاً ما يعلنه المرنم المبارك كما لوكان يتحدث إلى المسيح مخلص الجميع فيقول : &#8221; يارب في نور وجهك سيسلكون وباسمك سيبتهجون اليوم كله ، وبيدك سيرتفعون لأنك فخر قوتهم &#8221; (مز ٨٩ : ١٥ ، ١٦) . ونجد أرميا النبى يدعوا الله قائلاً : &#8221; يارب قوتى وعونى وملجأى في يوم الضيق ، إليك تأتى الأمم من أطراف الأرض ويقولون ، أباؤنا اتخذوا لأنفسهم آلهة كاذبة لا يوجد فيها عون (إر ١٦ : ١٩) . لذلك فالمسيح صار نور إعلان للأمم ، ولكنه صار أيضاً مجداً لإسرائيل . لأنه رغم أن البعض منهم تغطرسوا وعصوا وكانت لهم عقول لا تفهم ، إلا أنه كانت هناك بقية هم التلاميذ الإلهيون الذين أشرق نور شهرتهم لينير العالم كله . وهناك معنى آخر لكون المسيح &#8221; مجداً لإسرائيل &#8221; ، وذلك أنه جاء منهم حسب الجسد رغم أنه هو &#8221; الكائن فوق الكل إلهاً مباركاً إلى الأبد آمين &#8221; (رو ٩ : ٥) . وسمعان الشيخ بارك العذراء كخادمة للمشورة الإلهية ، وأداة للولادة التي لا تخضع لقوانين الطبيعة البشرية . فقد ولدت وهى عذراء وذلك بدون رجل ، بل بحلول قوة الروح القدس عليها . وماذا يقول سمعان النبى عن المسيح ؟ &#8221; ها إن هذا الطفل قد وضع لسقوط وقيام كثيرين في إسرائيل ولعلامة تقاوم &#8221; . لأن عمانوئيل قد وضع من الله الآب لأجل أساسات صهيون . إذا هو&#8221; حجر زاوية مختار كريم &#8221; (١ بط  ٢ : ٦) . والذين وثقوا به لم يخزوا . ولكن أولئك الذين لم يؤمنوا ولم يستطيعوا أن يعرفوا السر الخاص به سقطوا وتهشموا . لأن الله الآب قال أيضاً في موضع آخر &#8221; ها أنا ذا أضع عليها في صهيون حجر صدمة وصخرة عثرة والذي يؤمن به لن يخزى &#8221; (إش ٢٨ : ١٦ سبعينية ) . ولكن &#8221; كل من يسقط عليه هذا الحجرفإنه يسحقه &#8221; (لو ٢٠ : ١٨) ولكن النبى يدعوا الإسرائيليين ليكونوا أمنين بقوله : &#8221; قدسوا الرب نفسه وهو يكون خوفكم ، وإن وثقتم به يكون هو تقديسكم ، ولن تصطدموا به كما بحجر صدمة وصخرة عثرة &#8221; ( إش ٨ : ١٣ ، ١٤ س) . ولكن لأن إسرائيل لم يقدسوا عمانوئيل الذى هو الرب وهو الله ، ولم يريدوا أن يؤمنوا به فإنهم اصطدموا كما بحجر بسبب عدم الإيمان. وهكذا تهشم إسرائيل وسقط . ولكن كثيرون من بينهم قاموا ثانية ، وأقصد بهم الذين آمنوا به . هؤلاء تحولوا من عبادة ناموسية إلى عبادة روحية ، تغيروا من روح العبودية التي فيهم واغتنوا بذلك الروح الذى يجعل الإنسان حراً ، أي الروح القدس . وقد صار شركاء الطبيعة الإلهية وحسبوا أهلاً أن يكونوا أبناء بالتبنى ، ويحيوا على رجاء الحصول على المدينة العليا . أي أن يكونوا مواطنين في ملكوت السموات .</p>
<p>أما العلامة التي تقاوم &#8221; فيقصد بها الصليب الثمين الذى يقول عنه بولس الحكيم جداً إنه &#8221; عثرة لليهود وجهالة اليونانيين &#8221; (١كو ١ : ٢٣) . وأيضاً يقول عن كلمة الصليب إنها &#8221; للهالكين جهالةً ، أما عندنا نحن المخلصين فهى قوة الله &#8221; (١كو ١ : ١٨) . لذلك فالعلامة التي تقاوم تبدوا جهالة بالنسبة لأولئك الهالكين بينما هي خلاص وحياة للذين يعترفون قوة الصليب . ويقول سمعان بعد ذلك للعذراء القديسة : &#8221; وأنت أيضاً يحوز في نفسك سيف &#8221; ، ويقصد بالسيف الألم الذى ستعانيه لأجل المسيح حينما تراه مصلوباً . وهى لا تعرف أنه سيكون أقوى جداً من الموت ، ويقوم من القبر . ولا تتعجبوا أن العذراء لا تعرف هذا فإننا ، فإننا سنجد أن الرسل القديسين أنفسهم لم يكونوا مؤمنين بهذا في البداية. بل وتوما بعد القيامة لو لم يضع يديه في جنبه ، ويتحسس آثار المسامير في يديه لم يكن ليصدق التلاميذ الآخرين حينما أخبروه أن المسيح قد قام وأنه قد أظهر نفسه لهم . ولذلك فإن البشير الحكيم جداً – يعلمنا – من أجل منفعتنا كل الأمور التي احتملها الابن من أجلنا ونيابة عنا ، حينما صار إنساناً وقبل أن يحمل فقرنا ، وذلك نمجده كفادينا ، وكسيدنا وكمخلصنا ، وكإلهنا ، الذى له مع الآب والروح القدس المجد والقوة إلى الدهر آمين .</p>
<p>هذا الذى أعلنه سمعان الشيخ هو نموزج للقاء كل واحد منا مع المسيح في داخلنا . ولكن تحقق هذا اللقاء الداخلى يحتاج منا إلى شوق حار وإنتظار لرؤية المسيح ومعرفته ، وأن نطلب دائماً في صلواتنا أن يعطينا لقاء خاصاً بشخصه المخلص . لقد أوحى إلى سمعان أنه لن يرى الموت قبل أن يعاين مسيح الرب . ونحن فلنصل بإخلاص إلى الله ألا يسمح بأن تنطفئ شعلة حياتنا قبل أن نرى المخلص في داخلنا بعين الإيمان وبعين المحبة المشتعلة وعندئذ سنكون قد بلغنا الهدف الذى نصبوا إليه ونستطيع عندئذ أن نقول بكل هدوء واطمئنان :</p>
<p><a href="#_ftn18" name="_ftnref18">[18]</a> &#8221; أطلق عبدك بسلام لأن عينى قد أبصرتا خلاصك &#8221; .</p>
<h4>المتنيح الدكتور موريس تاوضروس: مباركة سمعان وحنة</h4>
<p>وإذا بإنسان كان بأورشليم إسمه سمعان وهذ الإنسان كان باراً تقيا متوقعاً تعزية إسرائيل وروح القدس كان عليه ، وكان قد أعلم بوحي من الروح القدس إنه لا يرى الموت قبل أن يعاين المسيح الرب فأقبل بالروح إلى الهيكل ولما دخل بالطفل يسوع أبواه ليصنعا به كما يجب في الناموس حمله سمعان على ذراعيه وبارك الله قائلا : الآن ياسيدي تطلق عبدك بسلام حسب قولك لأن عیناى قد أبصر تا خلاصك الذي أعددته قدام جميع الشعوب نورا تجلى للامم و مجدا لشعبك إسرائيل .</p>
<p>وكان أبوه &#8221; يوسف &#8221; وأمه يتعجبان عما يقال فيه ، وباركهما سمعان وقال لمريم أم الصبى ها إن ذا موضوع لسقوط وقيام كثيرين في إسرائيل و لعلامة تقاوم ، وأنت أيضاً يجوز في نفسك سيف لتظهر أفكار من قلوب كثيرة ، وكانت حنة النبية إبنة فنوئيل من سبط أشير . هذه كانت قد تقدمت في الأيام كثيرا وعاشت مع زوج سبعة سنين منذ بكوريتها . وهذه كانت قد ترملت مدة أربع وثمانين سنة لا تفارق الهيكل متعبدة بأصوام وصلوات ليلا ونهاراً ، ففي ذلك الوقت جاءت قدامه وشكرت الله وكانت تتحدث عنه عند كل المتوقعين خلاص أورشليم &#8220;.</p>
<p>لم يكن سمعان كاهنا ولذلك لم يكن وجوده في الهيكل لمباشرة الخدمة الكهنوتية ، ولكن أقتيد بالروح إلى هناك في الوقت الذي حمل يسوع فيه إلى الهيكل . وقد كان بارا في علاقته مع الآخرين تقيا في علاقته مع الله . وكان يتوقع تعزية إسرائيل ، وكلمة تعزية هنا . . . . تعنى الخلاص من الضيق ، وقد كان هذا هو رجاء إسرائيل في المسيا المنتظر قال أشعيا النبي &#8221; عزوا عزوا شعبي يقول الهكم ، طيبوا قلب أورشليم ونادوها بأن جهادها قد كمل إن إسمها قد عفى عنه أنها قد قبلت من يد الرب ضعفين عن كل خطاياها ، صوت صارخ في البرية أعدوا طريق الرب قوموا في القفر سبيلا لإلهنا كل وطأ يرتفع وكل جبل وأكمة ينخفض ويصير المعوج مستقيا والعراقيب سهلا فيعلن مجد الرب ويراه كل بشر معاً لأن فم الرب تكلم &#8221; &#8221; ترنمى أيتها السموات وابنهجى أيتها الأرض لتشد الجبال بالترنم لأن الرب قد عزى شعبه وعلى بائسيه يترحم &#8220;.</p>
<p>ولقد كان سمعان هو أول نبى رأى بعينيه المخلص وذلك بروح النبوة التي أعطاها أياه الروح القدس على أن حياة سمعان وحنة تعطى مثلا طيباً للشيخوخة المؤخرة التي عاشت تكريس حياتها و توجه اهتمامها لانتظار تحقيق مواعيد الله وانصرفت عن كل ما يمكن أن يشغلها عن هذا الأمر الجليل. وبذلك فقد رسم سمعان الشيخ وحنة النبية نموذجاً حياً للشباب لكي يجعلوا الهدف المقدس أمامهم دائماً . لقد كانت أعينهما تحدق بهذا المولود لأنه كان موضع الرجاء وفيه منح الله العزاء لشعبه فالقضية الروحية كانت شغلهم الشاغل و نوال الخلاص كان كل ما يتمناه ذلك الشيخ الوقور - ولقد أشار بولس الرسول إلى الفضائل التي يجب أن يتحلى بها الأشياخ والعجائز فقد قال في رسالته إلى تيطس &#8221; وأما أنت فتكلم بما يليق بالتعليم الصحيح أن يكون الأشياخ صاحين ذوى وقار متعقلين أصحاء في الإيمان والمحبة والصبر ،كذلك العجائز في سيرة تليق بالقداسة غير ثالبات غير مستعبدات للخمر الكثير معلمات الصلاح لكي ينصحن الحدثات أن يكن محبات لرجالهن ويحبين أولادهن متعقلات عفيفات ملازمات بيوتهن صالحات خاضعات لرجالهن لكى لا يجدف على كلمة الله &#8221;</p>
<p>وقد كانت حياة سمعان في برها وتقواها أهلا لأن تحظى باعلانات الروح القدس لها عن مجىء المخلص إلى الهيكل وتحديد اليوم الذي دخل فيه إلى هناك ولقد أعطاه الله أن تطول حياته إلى ذلك اليوم الذي يرى فيه الخلاص. قال الرسول بطرس &#8221; الخلاص الذي فتش وبحث عنه أنبياء الذين تنبأوا عن النعمة التي لأجلكم. باحثين أي وقت أو ما الوقت الذي كان يدل عليه روح المسيح الذي في إذ سبق فشهد بالآلام التي للمسيح والأمجاد التي بعدها. الذين أعلن لهم أنهم ليس لأنفسهم بل لنا كانوا يخدمون بهذه الأمور التي أخبرتم بها انتم الا الآن بواسطة الذين بشروكم في الروح القدس المرسل من السماء التي تشتهى الملائكة أن تطلع عليها&#8221;</p>
<p>ويلاحظ هنا أن الموت &#8220;يشخص&#8221; كأنه ملاك يقدم لينزع النفوس من أجسادها إذ يقول &#8220;إنه لا يرى الموت قبل أن يعاين المسيح الرب&#8221; وكما قال داود النبي &#8221; أي إنسان يحيا ولا يرى الموت ، أي ينجى نفسه من يد الهاوية&#8221; ولقد اشتهى سمعان أن ينطلق من هذا العالم . إن الذين يحضنون السيد المسيح ويحملونه على أيديهم تشتاق نفوسهم للخلاص من أربطة العالم المادية والافساح لأرواحهم لتنطلق لكى تتمتع على الدوام برؤية المسيح والقرب منه . ليس يعنى هذا طلب الموت والسعى اليه بل يعنى الاستعداد لمواجهة الموت بكل رضا وشوق وعندما تجئ الساعة المعينة من قبل الله . فالموت هنا لا يعني انتهاء الحياة ولكنه عبور لحياة أفضل وأفسح وأرهب ، إنه تحرير للنفس من الأسر وتخليص لها من العبودية وهذا هو معنى الفعل الذي استعمل هنا &#8220;أطلق&#8221; وهو عين الفعل الذي استعمل أيضا عن موت إبراهيم (تك ١٥ : ٢) وهرون (عد ۲۰ : ۲۹) وطوبيا (طو ٣ : ٦) ومن أجل ذلك فإن انطلاق سمعان سيكون &#8220;بسلام&#8221; أي دون اضطراب ولا انزعاج كما قيل عن إبراهيم &#8221; وأما أنت فتمضى إلى آبائك بسلام وتدفن بشيبة صالحة &#8221; فالموت لا ينزع الاطمئنان والسلام من نفوس الأتقياء والأبرار لأنه ينقلهم من المتاعب ليهبهم الراحة ، يقول صاحب الرؤيا&#8221; وأجاب واحد من الشيوخ قائلا لى هؤلاء المتسربلون بالثياب البيض من هم ومن أين أتوا . فقلت له ياسيد أنت تعلم فقال لى هؤلاء هم الذين أتوا من الضيقة العظيمة وقد غسلوا ثيابهم وبيضوا ثيابهم في دم الخروف من أجل ذلك هم أمام عرش الله ويخدمونه نهارا وليلا في هيكله والجالس على العرش يحل فوقهم . لن يجوعوا بعد ولن يعطشوا بعد ولاتقع عليهم الشمس ولاشيء من الحر لأن الخروف الذي في وسط العرش يرعاهم ويقتادهم إلى ينابيع ماء حية ويمسح الله كل دمعة من عيونهم &#8221; .</p>
<p>وخاطب سمعان الرب بقوله &#8220;ياسيد&#8221; في مقابل حديثه عن نفسه بعيد . ولقد آمن سمعان بإعلان الروح القدس و وعده له وها هو الآن يرى تحقق هذا الإعلان بصورة محسوسة&#8221; لأن عيني قد أبصرتا خلاصك &#8221; كما قال أشعياء &#8221; فيعلن مجد الرب ويراه كل بشر&#8221;</p>
<p>وقد أعاد لوقا هذا القول في الأصحاح الثالث من إنجيله &#8221; ويبصر كل بشر خلاص الله&#8221;  وهذا الخلاص قد سبق الله وأعده ، والفعل&#8221;أعد&#8221; عندما يستعمل عن الله يعنى &#8221; عين &#8221; أو &#8221; رتب &#8221; شيئا صالحاً أنظر( مت ۲۰ :  ٢٣ - ٢٥ : ٣٤)-( مر١٠: ٤٠) – (اکو ۲ : ۹ )-( عب١١: ٦ )- ومرة واحدة استعمل للعقاب( أنظر ( مت ٢٥ : ٤١ ) – وهذا الخلاص سيتم أيضاً بصورة واضحة محسوسة ، وكما رأى سمعان المسيح رؤيا العين هكذا فإن الخلاص ستبصره عيوننا لأنه لن يتم في الخفاء ولكن&#8221;قدام&#8221; &#8221; وهو أيضاً خلاص له صفة العمومية لا التخصيص أي ليس لشعب اليهود فقط ولكن أيضاً لغير اليهود . لجميع الشعوب . ولم يفت أنبياء العهد القديم الاشارة إلى عمومية الخلاص قال أشعياء النبى في ذلك اليوم تكون سكة من مصر الي أشور فيجئ الاشوريون الى مصر والمصريون إلى أشور ويعبد المصريون مع الاشوريين بين في ذلك اليوم يكون اسرائیل ثلثا لمصر، ولأشور بركة في الأرض بها بارك رب الجنود قائلاً &#8220;مبارك شعبى مصر وعمل يدى اشور وميراثه اسرائيل &#8221; &#8221; أنا الرب قد دعوتك بالبر فامسك بيدك وأحفظك وأجعلك عهداً للشعب و نوراً للأمم ، &#8221; قد شمر الرب عن ذراع قدسه أمام عيون كل الأمم فترى كمل أطراف الأرض خلاص إلهنا&#8221;&#8221; فتسير الأمم في نورك والملوك في ضياء إشراقك &#8221; فالخلاص يحمل &#8220;النور&#8221; &#8221; والمجد &#8221; &#8221; النور للأمم &#8221; ، والمجد لإسرائيل &#8221; وما من شك أن السيد المسيح قد كشف للأمم الذين لم تكن عندهم إعلانات الله الحقائق التي كانوا يجهلونها و بذلك أنار عقولهم ووهبهم المعرفة والفهم ونقلهم من الظلمة للنور وهذا ماسبق أن تنبأ عنه أشعياء النبي &#8221; فقد جعلتك نوراً للأمم لتكون خلاص إلى أقصى الأرض&#8221; ، أما إسرائيل فقد تمجد بميلاد المخلص لأن المسيح ينسب اليهم كذلك فإن الكرازة بالخلاص أولا بين اليهود  تمجد اسمهم أمام جميع الأمم &#8221; بالرب يتبرر ويفتخر كل نسل إسرائيل &#8220;&#8221; لا يسمع بعد ظلم في أرضك ولا خراب أو سحق في تخومك بل تسمين أسوارك خلاصاً وأبوابك تسبيحاً . لا تكون لك بعد الشمس نوراً في النهار ولا القمر ينير لك مضيئاً بل الرب يكون لك نورا أبدياً والهك زينتك . لا تغيب بعد شمس وقمرك لا ينقص لأن الرب يكون لك نورا أبدياً و تكمل أيام نوحك وشعبك كلهم أبرار . إلى الأبد يرثون الأرض. غصن غرسي عمل يدى لأتمجد الصغير يصير الفاً و الحقير أمه قوية . أنا الرب في وقته أسرع به . على أنه يلاحظ أن سمعان قد ذكر الأمم قبل أن يذكر إسرائيل وذلك لأن كلمة الله قد قبلت بغنى بين الأمم أكثر من قبول اليهود لها غير أن اليهود يعودون فيقبلون كلمة الله ومن أجل ذلك كان مجيء المخلص مجداً لهم كما يقول بولس الرسول &#8220;فإني لست أريد أيها الأخوة أن تجهلوا هذا السر . لئلا تكونوا عند أنفسكم حكماء . إن القساوة قد حصلت جزئيا لإسرائيل إلى أن يدخل ملؤ الأمم وهكذا سيخلص جميع إسرائيل . كما هو مكتوب سيخرج من صهيون ويرد الفجور عن يعقوب . وهذا هو العهد من قبلى لهم متى نزعت خطاياهم من جهة الانجيل . هم أعداء من أجلكم ، وأما من جهة الإختيار فهم أحياء من أجل الآباء لأن هبات الله ودعوته هي بلا ندامة . فإنه كما كنتم أنتم مرة لا تطيعون الله ولكن الآن رحمتم بعصيان هؤلاء هكذا هؤلاء أيضاً الآن لم يطيعوا لكي يرحموا هم أيضاً برحمتكم لأن الله أغلق على الجميع معاً في العصيان لكي يرحم الجميع&#8221;.</p>
<p>بارك سمعان مريم ويوسف أي طلب لها نعمة الله ومراحمه وأبان أن السيد المسيح «موضوع» لسقوط وقيام كثيرين أي . &#8221; معين &#8221; لذلك كما قال بولس الرسول عن نفسه,&#8221;و اولئك عن محبة عالمين أني موضوع لحماية الانجيل &#8221;  وقال أيضاً &#8220;كي لا يتزعزع أحد في هذه الضيقات فإنكم أنتم تعلمون أننا موضوعون لهذا&#8221; والسبب في أن مجيء السيد المسيح سيكون لقيام وسقوط كثيرين من إسرائيل لأن البشر لن يتشابه جميعهم في موقفهم إزاءه فهناك من يرفض السيد المسيح وهناك من يؤمن به ويقبله والأول يسقط والثاني يقوم ويرتفع. جاء في إنجيل معلمنا يوحنا &#8221; من آمن به فلا يدان ومن لا يؤمن ، فقد دين لأنه لم يؤمن باسم ابن الله الوحيد الجنس وهذه هي الدينونة . أن النور قد جاء إلى العالم والناس أحبوا الظلمة أكثر من النور لأن أعمالهم كانت شريرة لأن كل من يعمل الشر يبغض النور ولا يقبل إلى النور لئلا تبكت أعماله لأنها شريرة أما من يعمل الحق فيقبل إلى النور لكى تظهر أعماله أنها بالله معمولة &#8221;  وقال بولس الرسول &#8221; فهوذا لطف الله وصرامته أما الصرامة فعلى الذين سقطوا وأما اللطف فلك إن ثبت في اللطف وإلا فأنت أيضاً ستقطع &#8221;  . على أن السيد المسيح يرجو من مجيئه القيام للجميع &#8221; فإنه لم يرسل الله إبنه إلى العالم ليدين العالم بل ليخلص به العالم &#8221; وقال بولس الرسول عن اليهود الذين عثروا لکی يسقطوا . حاشا . بل بزلتهم صار الخلاص للأمم لإغارتهم . فإن كانت زلتهم غنى العالم و نقصانهم غنى للأمم فكم بالحرى ملؤهم فإنى أقول لكم أيها الأمم . بما أنى أنا رسول للأمم أمجد خدمتى لعلى أغير أنسبائي وأخلص اناساً منهم لأنه إن كان رفضهم . مصالحة العالم فماذا يكون اقتبالهم إلا حيوة من الأموات . وإن كانت الباكورة مقدسة فكذلك العجين . و إن كان الأصل مقدساً فكذلك الأغصان فإن كان قد قطع بعض الأغصان وأنت زيتونة برية طعمت فيها فصرت شريكا في اصل الزيتونة ورسمها فلا تفتخر على الأغصان . وإن افتخرت فأنت لست تحمل الأصل بل الأصل إياك يحمل . فستقول قطعت الأغصان لأطعم أنا حسناً من أجل عدم الإيمان قطعت وأنت بالإيمان ثبت . لاتستكبر بل خف لانه إن كان الله لم يشفق على الأغصان الطبيعية فلعله لا يشفق عليك أيضاً فهوذا لطف الله وصرامته أما الصرامة فعلى الذين سقطوا وأما اللطف فلك إن ثابت في اللطف وإلا فأنت أيضاً ستقطع وهم إن لم يثبتوا في عدم الإيمان سيطعمون . لأن الله قادر أن يطعمهم أيضاً لأنه إن كنت أنت قد قطعت من الزيتونة البرية حسب الطبيعة وطعمت بخلاف الطبيعة في زيتونة جيدة فكم بالحرى بطعم هؤلاء الذين هم حسب الطبيعة في زيتونتهم الخاصة &#8220;.</p>
<p>وقيل عن السيد المسيح أيضا أنه وضع &#8221; لعلامة تقاوم &#8221; وذلك لنفس السبب الذي ذكرناه سابقاً أي أن البعض يؤمن بالمسيح والبعض يتشكك فيه فيقاومه وقد قال السيد المسيح نفسه مخاطبا اورشليم و يا أورشليم يا أورشليم يا قاتلة الأنبياء وراجمة المرسلين اليها كم مرة أردت أن أجمع بنيك كما يجمع الطائر فراخه تحت جناحيه فلم تريدوا &#8221;</p>
<p>وقال ايضا السيد المسيح للفريسيين و أما قرأتهم قط في الكتب أن الحجر الذي رذله البناؤون قد صار رأس الزاوية . . . ولذلك أقول لكم إن ملكوت الله ينزع منكم ويسلم لأمة أخرى تصنع أثماره … فلما سمع رؤساء الكهنة والفريسيون أمثاله علموا أنه تكلم عليهم وإذ كانوا يطلبون ان يمسكوه خافوا من الجمع لأنه كان عندهم كنبي &#8220;.</p>
<p>ومريم نفسها ترى إبنها معلقاً على الصليب &#8221; يجوز في نفسها سيف &#8221; أي كأنها لا تفهم مشيئة الله في ضرورة تحمل الآلام لأجل الفداء إذ تروم للمسيح التخلص من الصليب فتنظر إليه كإبن لها تربطها به عاطفة الأمومة القوية و تغفل رسالة المسيح التي جاء من أجلها أي ليبذل حياته لخلاص العالم ، وعلى العموم فإن السيد المسيح في حياته وأعماله وآلامه وقيامته سيكون موضع تفكير الكثيرين إن كان بالشر أو الخير بدافع الإيمان به أو التنكر لرسالته وستظهر أفكار القلوب هذه لأنه ما من شيء مكتوم لا يظهر وليس خفى لايعلم لأن ماقلتموه في الظلمة سيسمع في النور وما تكلمتم به في الأذن في المخادع سينادي به على السطوح&#8221;.</p>
<p>وقد ساهمت حلة النية إلى جوار سمعان في التحدث عن السيد المسيح لكل المتوقعين الخلاص وفي الكتاب المقدس ذكر لنبيات أخريات مثل مريم أخت موسى (خر ١٥: ٢٠) ودبورة قاضية إسرائيل (قض ٤:٤) وخلدة (٢مل ٢٢: ١٤) وقد عاشت حنة مترملة بعد زوجها الأول ولم تفكر في الزواج للمرة الثانية بالرغم من صغر سنها وقد كان هذا أمرا مكرماً بين الإسرائيليين<a href="#_ftn19" name="_ftnref19">[19]</a>.</p>
<h3>من وحي قراءات اليوم</h3>
<p>&#8221; هوذا أبوك وأنا كنَّا نبحث عليك معذَّبين &#8221;      إنجيل باكر</p>
<p>(التعبير عن الألم أكثر من التعبير عن الغضب)</p>
<p>+ تخيل انك انت واسرتك طلعت رحله لدير من الاديره وفي الرجوع مع اتوبيس الكنيسه اكتشفت ان ابنك ذي ال ١٢ عاما لم تجده مع اصحابه في الاتوبيس بعد ثلاث ساعات من التحرك ورجعتم الي الدير لتجدوا ابنكم يحضر عشيه ومندمج في الصلاه&#8230;ماذا يكون رد الفعل ؟</p>
<p>+ للأسف في معظم الأحوال سيكون رد الفعل تعبيراً عن غضب شديد وربما يتطرق إلي العنف</p>
<p>+ ولكن كان رد فعل امنا العذراء مع ابنها حوارا هادئا انتهي بتفهم الطرفين لراي الاخر</p>
<p>+ وكان كلامها مُعبِّراً عن قلقهما الشديد عليه</p>
<p>+ وربما لم تُعْطي إعتباراً لرأي العائلة أو المرافقين علي حساب نفسية إبنها</p>
<p>+ بينما للأسف يدفع اولادنا ضريبه عصبيتنا وتوترنا وقله احتمالنا</p>
<p>+ أو يدفعون ضريبة شكلنا الإجتماعي وزيف صورتنا أمام الناس</p>
<p>&#8221;  لا تغيظوا أولادكم &#8221; (أف ٦ : ٤) آية تعلن خطورة الغضب والغيظ والتوتر عند الآباء+</p>
<p>+ التبكيت بالحب ولُطف الكلام أقوي تأثيراً من صعب الكلام والتهديد</p>
<p>+ اذا استخدمت اسم الله لتخويف اطفالك فلا تندهش اذا رفضوا الهك وايمانك عند الكبر</p>
<hr />
<p><a href="#_ftnref1" name="_ftn1"></a>٣٨- القديس يوحنا ذهبي الفم - تفسير سفر هوشع إصحاح ١٤ - القمص تادرس يعقوب ملطي</p>
<p><a href="#_ftnref2" name="_ftn2"></a>٣٩- القديس يوحنا ذهبي الفم - تفسير مزمور ٤ - القمص تادرس يعقوب ملطي</p>
<p><a href="#_ftnref3" name="_ftn3"></a>٤٠- تفسير مزمور ٥٦ - أبونا تادرس يعقوب ملطي</p>
<p><a href="#_ftnref4" name="_ftn4"></a>٤١- الأب أنثيموس الأورشليمي. (تفسير مزمور ٦٦ )</p>
<p><a href="#_ftnref5" name="_ftn5"></a>٤٢- المرجع : مجلة مدارس الاحد شهر ابريل ١٩٦٠</p>
<p><a href="#_ftnref6" name="_ftn6"></a>٤٣- تفسير سفر التكوين ( الإصحاح السابع عشر ) - القمص تادرس يعقوب ملطي</p>
<p><a href="#_ftnref7" name="_ftn7"></a>٤٤- تفسير إنجيل لوقا ( الإصحاح الثاني ) - القمص تادرس يعقوب ملطي</p>
<p><a href="#_ftnref8" name="_ftn8"></a>٤٥- كتاب العلامة أوريجينوس عظات علي سفر التكوين - ترجمة مريم أشرف سيدهم ، أستاذة مريم رشاد حليم ، دكتورة جينا بسطا</p>
<p><a href="#_ftnref9" name="_ftn9"></a>٤٦- تفسير سفر التكوين ( الإصحاح السابع عشر ) - القمص تادرس يعقوب ملطي</p>
<p><a href="#_ftnref10" name="_ftn10"></a>٤٧- كتاب الكرازة الرسولية للقديس إيرينيوس - ترجمة دكتور نصحي عبد الشهيد ودكتور جورج عوض إبراهيم</p>
<p><a href="#_ftnref11" name="_ftn11"></a>٤٨- المرجع : تفسير سفر يشوع بن سيراخ ( إصحاح ٤٨ ) - القمص تادرس يعقوب</p>
<p><a href="#_ftnref12" name="_ftn12"></a>٤٩- كتاب المنجلية القبطية الأرثوذكسية - قداسة البابا تواضروس الثاني</p>
<p><a href="#_ftnref13" name="_ftn13"></a>٥٠- المرجع : كتاب السحابة المتألقة في دقادوس - الأنبا فيلبس مطران الدقهلية</p>
<p><a href="#_ftnref14" name="_ftn14"></a>٥١- المرجع : كتاب شفتاك يا عروس تقطران شهداً ( الجزء الأول ) - إصدار دير الأنبا شنوده العامر بإيبارشية ميلانو</p>
<p><a href="#_ftnref15" name="_ftn15"></a>٥٢- المرجع : كتاب مفاهيم انجيلية - الأنبا إبيفانيوس أسقف ورئيس دير القديس أنبا مقار</p>
<p><a href="#_ftnref16" name="_ftn16"></a>٥٣- كتاب الكنز الأنفس للارشيدياكون حبيب جرجس (الجزء الثالث ) - مشروع الكنوز القبطية</p>
<p><a href="#_ftnref17" name="_ftn17"></a>٥٤- كتاب تأملات وعناصر روحية في آحاد وأيام السنة التوتية ( الجزء الرابع ) - إعداد القمص تادرس البراموسي</p>
<p><a href="#_ftnref18" name="_ftn18"></a>٥٥- الكتاب الشهرى للشباب والخدام - عدد فبراير لسنة ٢٠٠٩ - إصدار بيت التكريس لخدمة الكرازة</p>
<p><a href="#_ftnref19" name="_ftn19"></a>٥٦-  المرجع : مجلة مدارس الاحد شهر يونيو لسنة ١٩٦١</p>

      {% endcreateArticleAccordions %}
    </section>
  {% endblock %}
