---
layout: 'layouts/reading.html'
title: 'اليوم الثاني من أمشير (تذكار نياحة أنبا بولا أول السوَّاح)'
tags: 'annual'
permalink: /articles/annual/6-2.html
---
  {% block content %}
    <section id="readings">
      <ul>
      {% if 'undefined' != 'undefined' %}
      
      {% else %}
      {% if '19.32:11,6' != 'null' %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">العشية</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeVespers '19.32:11,6' '42.22:24-30' %}
          </div>
        </div>
      </li>
      {% endif %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">باكر</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeMatins '19.33:1,12' '40.25:14-23' '' %}
          </div>
        </div>
      </li>
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <h3 class="flex items-center justify-between">
            <span class="kufi">القداس</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </h3>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeLitugy '58.13:7-25' '60.5:1-14' '44.15:12-21' '19.132:9,10,1,2' '41.9:33-41' %}
          </div>
        </div>
      </li>

      {% endif %}
        </ul>
    </section>
    <section id="article">
      <h3 class="mt-8 mb-4 heading-explain">شرح القراءات</h3>
      {% createArticleAccordions %}
        <p>السيّد والخادم (السيادة والخدمة)</p>
<p>&#8221; إذ تصيرون عظماء تتّضعون بالأكثر فتجدون نعمة لدى الرب&#8221; (يشوع ابن سيراخ ٣: ١٨).</p>
<p>أبونا القديس أنبا بولا صار أولا فى البرية وتنسك بغير انقطاع نهاراً وليلاً</p>
<p>وجاهد في ميدان العبادة ونال جائزة الغلبة بقوة المسيح</p>
<p>ذكصولوجية القديس الأنبا بولا</p>
<p>&#8221; ليكن سموِّنا في تواضعنا، ومجدنا في عدم محبّتنا للمجد، وليكن اشتياقنا منصبًّا فيما يُسِر الله، واضعين في ذهننا ما يقوله لنا الحكيم: &#8220;إذ تصيرون عظماء تتّضعون بالأكثر فتجدون نعمة لدى الرب&#8221; (ابن سيراخ ٣: ١٨). فإن الله يحتقر المتعجرفين ويحسب المتكبّرين كأعداء له، لكنّه يكلِّل الودعاء ومتواضعي الذهن بالكرامات<a href="#_ftn1" name="_ftnref1">[1]</a> &#8221;</p>
<h3>شواهد القراءات</h3>
<p>(مز ٣١: ١٢ ، ٧) ، (لو ٢٢ : ٢٤ – ٣٠) ، (مز ٣٢ : ١ ، ١٢)، (مت ٢٥ : ١٤ – ٢٣) ، (عب ١٣ : ٧ – ٢٥) ، (١بط ٥ : ١ – ١٤) ، (أع ١٥ : ١٢ – ٢١) ،(مز ١٣١ : ٧ ، ١) ، (مر ٩ : ٣٣ – ٤١)</p>
<h3>ملاحظات على قراءات يوم ٢ أمشير</h3>
<p>+ قراءة إنجيل باكر اليوم (مت ٢٥: ١٤ - ٢٣) هي نفس قراءة إنجيل عشيّة في أيام ٢٧ بابه ( تذكار أنبا مكاريوس أسقف إدكو ) ، ٩ هاتور ( تذكار إنعقاد مجمع نيقية ) ، ٢٢ طوبه ( الأنبا أنطونيوس ) ، ٢٥ مسري ( أنبا بيصاريون الكبير )</p>
<p>وهو مثل الوزنات والأمانة فيها والمكافاة السماوية للأُمناء، والمُلاحظ أن النص الكتابي ذكر فقط العبيد الأُمناء ، وهو يتكلم هنا عن أمانة التعليم ونقاوته ( تذكار إنعقاد مجمع نيقية وتذكار أنبا مكاريوس أسقف إدكو ) ، وأمانة الجهاد والسهر ( أنبا أنطونيوس وأنبا بولا وأنبا بيصاريون الكبير )</p>
<p>+ قراءة الكاثوليكون اليوم (١بط ٥: ١ - ١٤) تكررت ثلاث مرات في ١٧ هاتور، ٢٤ هاتور ، ٣٠ برموده</p>
<p>وتشابه معها قراءتين أخريين (٢٠ بشنس من ١بط ٥ : ٥ - ١٤ ) ، ( ٤ نسئ من ١بط ٥ : ١ - ١١ )</p>
<p>تتكلّم القراءة عن السهر واليقظة ومقاومة إبليس لذلك جاءت مع تذكار آباء البرية مثل الأنبا بولا ( ٢ أمشير ) والقديس امونيوس الأنطاكي ( ٢٠ بشنس ) والقديس بيمن المتوحد ( ٤ نسئ )</p>
<p>بينما في باقي الأيام لأجل الكلام عن الرعاية والرعاة ( ارعوا رعية الله التي بينكم ) لذلك جاءت في تذكار ذهبي الفم ( ١٧ هاتور ) والأربعة والعشرين قسيس ( ٢٤ هاتور ) ومار مرقس ( ٣٠ برمودة )</p>
<p>+ قراءة الإبركسيس اليوم (أع ١٥ : ١٢ - ٢١) هي نفس قراءة الإبركسيس ليوم ١٧ مسري والموافق لتذكار القديس يعقوب من فجوج ، وتُشبه قراءة الإبركسيس (أع ١٥ : ١٣ - ٢١) ليوم ٢٧ هاتور والموافق لتذكار شهادة القديس يعقوب المقطع ، يوم ٦ طوبه والموافق لعيد الختان ، كما أنها تُشبه قراءة الإبركسيس(أع ١٥ : ١٣ - ٢٩) ليوم ٣ مسري والموافق لتذكار نقل جسد القديس سمعان العمودي</p>
<p>وأغلب الظن أن سبب إختيار القراءة اليوم هو لأجل قديسي كنيسة العهد الجديد المُطعَّمة من الأمم مثل الأنبا بولا ( ٢ أمشير ) ، والقديس سمعان العمودي ( ٣ مسري ) ، وهو موضوع قراءات عيد الختان ( ٦ طوبه )</p>
<p>كما أنها تأتي في أسماء قديسين ذُكِروا في القراءة المُخْتارة مثل يعقوب ( ٢٧ هاتور ، ١٧ مسري ) وسمعان ( ٦ طوبه ، ٣ مسري )</p>
<h4>القراءات المُحوَّلة علي قراءة يوم ٢ أمشير :</h4>
<p>٢٠ بابة              نياحة القديس الأنبا يوأنس القصير</p>
<p>٧ كيهك             نياحة القديس متي المسكين</p>
<p>٢٥ كيهك          نياحة القديس يوحنا كاما</p>
<p>٧ أبيب              نياحة القديس الأنبا شنودة رئيس المتوحدين</p>
<h3>شرح القراءات</h3>
<p>تأتي قراءات هذا اليوم لتُعلن لنا مفهوم السيادة والخدمة ومن هو السيد ومن هو الخادم وغني عن التعريف الفرق الكبير بين السيادة بمفهوم العالم والسيادة حسب فكر الكنيسة وتعليم الكتاب المقدس والآباء القديسين</p>
<p>ولكي يُمْحي من ذاكرتنا وفكرنا أي تميّز أو تمايز في خدّام الله تضع الكنيسة قراءات اليوم مع تذكار العظيم في الآباء الأنبا بولا أوَّل السوَّاح الذي عاش حياته كلها في البرية لم ير إنسان ولم يراه إنسان سوي الأنبا أنطونيوس ولم يقتن شيئاً ولا لقباً ولم يُكرمه أحد في حياته وكان الله هو إلهه وأبوه وصديقه وكل عالمه</p>
<p>لذلك تأتي قراءات اليوم لترسم لنا طريق العظمة المسيحية ، ليس في مكانة من يخدم بل في مكان من يخدم ، عند الأقدام غاسلاً لها ، ليس في متّكأه الأوّل بل في أن يجعل كل من حوله في المُتّكأ الأوّل ، ليس في مهابة مكانته قدر ما تكون في غني محبّته</p>
<p></p>
<p>تأتي مزامير عشيّة وباكر كما في ٢٢ طوبي ، ٢٦ طوبي من مزموري ٣٢ ( حسب الترجمة القبطية ) وهي مزامير الفرح والتسبيح للأبرار ( مزمور عشيّة ) ولكل الشعب ( مزمور باكر ) ولكل القادة الذين يتسمون بالعدل والدعة ( مزمور القداس )</p>
<p></p>
<p>يبدأ مزمور عشيّة بدعوة كل الأبرار للفرح والتهليل</p>
<p>( افرحوا أيها الصدّيقون بالرب وابتهجوا وافتخروا يا جميع مستقيمي القلوب من أجل هذا تبتهل إليك كل الأبرار في آوان مستقيم )</p>
<p>وفِي مزمور باكر التطويب للشعوب والأمّة التي تسبحه علي الدوام</p>
<p>( إبتهجوا أيها الصديقون بالرب للمستقيمين ينبغي التسبيح طوبي للأمة التي الرب إلهها والشعب الذي أختاره ميراثاً له )</p>
<p>وفِي مزمور القداس رجال الله والرعاة الذين يظهر في حياتهم العدل والدعة معاً دون تناقض أو إختلاط</p>
<p>( كهنتك يلبسون العدل وأبرارك يبتهجون من أجل داود عبدك أذكر يارب داود وكل دعته كما أقسم للرب ونذر لإله يعقوب )</p>
<p></p>
<p>وفِي القراءات نري مفهوم الخدمة والسيادة في قدوة الخدّام ( البولس ) وشركتهم معاً ( الكاثوليكون ) وعمل الله معهم ( الإبركسيس )</p>
<p></p>
<p>في البولس يتكلّم عن نقاوة حياة الرعاة والمُدبّرين وقدوتهم</p>
<p>( أذكروا مدبريكم الذين كلموكم بكلمة الله هؤلاء الذين تنظرون إلي نهاية سيرتهم فتمثّلوا بإيمانهم )</p>
<p>لذلك يطلب القديس بولس من الشعب طاعة مدبريهم والخضوع لهم لأنهم يسهرون علي خلاصهم</p>
<p>( أطيعوا مدبريكم واخضعوا لهم لأنهم يسهرون علي نفوسكم كأنهم سوف يُحاسبون عنكم لكي يفعلوا هذا بفرح ولا يتضجَّروا )</p>
<p>وفِي الكاثوليكون نري الشركة المقدسة في الخدمة شركة الألم والمجد مع المسيح وشركة الرعاة الخالية من القهر وشركة الشيوخ والشبان المملوءة إتضاعاً ومكافأة رئيس الرعاة لهم</p>
<p>( أطلب إلي الشيوخ الذين بينكم أنا الشيخ شريككم والشاهد لآلام المسيح وشريك المجد العتيد أن يُعلنَ ارعوا رعية الله التي بينكم وتعاهدوها لا بالقهر بل بالاختيار كمثل الله ولا ببخل بل بنشاط ولا كمن يتسلَّط علي المواريث بل صائرين أمثلة للرعية ومتي ظهر رئيس الرعاة تنالون أكليل المجد الذي لا يضمحل كذلك أنتم أيها الشبان أخضعوا للشيوخ وكونوا جميعاً مُتسربلين بالتواضع بعضكم لبعض )</p>
<p>وفِي الإبركسيس نري عمل الله في خدّامه وشركة الخدمة المُثمرة في النفوس وشركة تدبير الخدمة للقادة</p>
<p>( فسكت الجمهور كله وكانوا يسمعون برناباس وبولس يُحدّثان بجميع ما صنع الله من الآيات والعجائب في الأمم بواسطتهم وبعد ما سكتا أجاب يعقوب قائلا أيها الرجال أخوتنا اسمعوني سمعان قد أخبر كيف افتقد الله أولاً الأمم ليأخذ منهم شعباً علي إسمه )</p>
<p></p>
<p>وفِي الأناجيل نري الراعي الأعظم في صورة الذي يخدم ( إنجيل عشيّة ) والذي يحاسب ( إنجيل باكر ) والذي يكافئ علي أبسط خدمة ( إنجيل القداس )</p>
<p></p>
<p>في إنجيل عشيّة السؤال الدائم المُحيّر للبشر من يكون الأكبر والأهم ويُقدم الرب مفهوماً جديداً للأكبر من يخدم وكما سلك ذاك ينبغي أن يسلك كل راعي وكل خادم</p>
<p>( وكانت بينهم أيضاً مشاجرة أنه من منهم يكون الأكبر فقال لهم ملوك الأمم يسودونهم والمُتسلِّطين عليهم يُدعون المحسنين وأما أنتم فليس هكذا بل الكبير فيكم ليكن كالأصغر والمتقدم كالخادم لأن من هو الأكبر الذي يتكئ أم الذي يخدم أليس الذي يتكئ ولكني أنا في وسطكم كالذي يخدم )</p>
<p></p>
<p>وفِي إنجيل باكر تأتي المُحاسبة والمراجعة من السيّد للخدّام عبيده والفرق بين العبد الصالح والأمين والعبد الشرير</p>
<p>( وبعد زمان طويل جاء سيد أولئك العبيد وحاسبهم فجاء الذي أخذ الخمس وزنات وقدّم خمس وزنات أخر قائلاً يا سيّد خمس وزنات أعطيتني هوذا خمس وزنات أُخَرَ ربحتها فقال له سيده حسناً أيها العبد الصالح والأمين كنت أميناً في القليل فأقيمك علي الكثير أدخل إلي فرح سيدك )</p>
<p>وفِي إنجيل القداس تأكيد عظمة الخدمة والخادم أن يسعي بطاعة وبساطة وإستجابة لإحتياجات من يخدمهم مثل طاعة وبساطة طفل صغير كما يُعْلِن الرب مكافأته لأبسط أعمال الخدمة</p>
<p>( وجاء إلي كفر ناحوم ولما دخل إلي البيت سألهم في أي شئ كنتم تفكرون في الطريق فسكتوا لأنهم كانوا في الطريق يقولون لبعضهم بعضاً من هو الأعظم فيهم فجلس ودعا الإثني عشر وقال لهم من أراد أن يكون أولاً فيكون آخر الكل وخادماً للجميع فأخذ صبياً وأقامه في وسطهم ثم أمسكه بيده وقال لهم من يقبل واحداً من أولاد مثل هذا بإسمي يقبلني )</p>
<p>والعجيب أن إنجيل باكر يقول ( وبعد زمان طويل جاء سيِّد أولئك العبيد وحاسبهم ) وفِي البولس يقول ( أطيعوا مُدبِّريكم واخضعوا لهم لأنهم يسهرون علي نفوسكم كأنهم سوف يُحاسبون عنكم ) وكأن العبيد أو الخدّام والرعاة يضعون محاسبة الله لهم نصب أعينهم في سهرهم علي نفوس من يخدمونهم</p>
<h3>ملخّص القراءات</h3>
<p>دعوة الرب للفرح لجميع الناس المستقيمين والصديقين والأبرار   مزمور عشيّة وباكر والقدّاس</p>
<p>والقيادة في الكنيسة قدوة وشركة وتدبير من الروح القدس   البولس والكاثوليكون والإبركسيس</p>
<p>والراعي الأعظم هو قدوتنا في الخدمة وهو الذي يراجع خدمتنا ويُكافئ علي أبسط الأعمال</p>
<p>إنجيل عشيّة وباكر والقدّاس</p>
<h3>أفكار مقترحة للعظات</h3>
<h4>(١) مجد الأبرار</h4>
<p>١- مجد ملكوت الإبن</p>
<p>&#8221; وأنا أيضاً أقرر لكم ملكوتاً كما قرَّر لي أبي لتأكلوا وتشربوا معي علي مائدتي في ملكوتي &#8221; إنجيل عشيّة</p>
<p>٢- صاروا ميراث الله ودُعي إسمه عليهم</p>
<p>&#8221; طوبي للأمة التي الرب إلهها والشعب الذي إختاره ميراثاً له &#8221;                             مزمور باكر</p>
<p>&#8221; لكي يطلب الباقون من الناس الربَّ وجميع الأمم الذين دُعي اسمي عليهم &#8221;</p>
<p>٣- مكافأة الأمناء</p>
<p>&#8221; كنت أميناً في القليل فأقيمك علي الكثير أدخل إلي فرح سيَّدك &#8221;          إنجيل باكر</p>
<p>٤- أكاليل الرعاة</p>
<p>&#8221; بل صائرين أمثلة للرعية ومتي ظهر رئيس الرعاة تنالون أكليل المجد الذي لا يضمحل &#8221; الكاثوليكون</p>
<p>٥- بهاء الكهنوت ومجد الأبرار</p>
<p>&#8221; كهنتك يلبسون العدل وأبرارك يبتهجون &#8221;                                 مزمور القدَّاس</p>
<p>٦- مُجازاة أعمال المحبّة البسيطة</p>
<p>&#8221; لأنَّ من سقاكم كأس ماءٍ بإسمي لأنكم للمسيح فالحق أقول لكم أنه لا يضيع أجره &#8221; إنجيل القدَّاس</p>
<h4>(٢) التدبير الكنسي</h4>
<p>١- روح التدبير الكنسي</p>
<p>&#8221; الكبير فيكم ليكن كالأصغر والمتقدم كالخادم &#8221;                                                 إنجيل عشيّة</p>
<p>&#8221; من أراد أن يكون أولاً فيكون آخر الكلِّ &#8221;                                                           إنجيل القدَّاس</p>
<p>٢- توزيع المواهب قدر الطاقة والمحاسبة قدر الأمانة</p>
<p>&#8221; فأعطي واحداً خمس وزنات &#8230; كلُّ واحد علي قدر طاقته &#8230; وبعد زمان طويل جاء سيّد أولئك العبيد وحاسبهم &#8230; أيها العبد الصالح والأمين &#8221;                                                         إنجيل باكر</p>
<p>٣- قدوة المدبرين بين أمانة كلمة الله ونقاوة السيرة</p>
<p>&#8221; أذكروا مُدبِّريكم الذين كلموكم بكلمة الله هؤلاء الذين تنظرون إلي نهاية سيرتهم &#8221; البولس</p>
<p>٤- مهابة التدبير وكرامته وزينته في السهر علي خلاص الناس</p>
<p>&#8221; أَطِيعُوا مُدبِّريكم وأخضعوا لهم لأنهم يسهرون علي نفوسكم كأنهم سوف يُحاسبون عنكم &#8221; البولس</p>
<p>٥- الإختلاف بين التدبير الكنسي وتدبير العالم</p>
<p>&#8221; ارعوا رعية الله التي بينكم وتعاهدوها لا بالقهر بل بالاختيار كمثل الله ولا ببخلٍ بل بنشاطٍ ولا كمن يتسلَّط علي المواريث بل صائرين أمثلة للرعية &#8230;. وكونوا جميعاً مُتسربلين بالتواضع بعضكم لبعض &#8221; الكاثوليكون</p>
<p>٦- أهمّية التدبير الكنسي لحسم القضايا الإيمانية</p>
<p>&#8221; لذلك أنا أقضي أن لا يُثقل علي الراجعين إلي الله من الأمم &#8221;                        الإبركسيس</p>
<p></p>
<p>٣- الذي يتكئ أم الذي يخدم ؟</p>
<p></p>
<p>١- ماذا فعل الرب ؟</p>
<p>&#8221; ولكني أنا في وسطكم كالذي يخدم &#8221;                                             إنجيل عشيّة</p>
<p>٢- لماذا الطاعة للمُدبِّرين ؟</p>
<p>&#8221; لأنهم يسهرون علي نفوسكم كأنهم سوف يُحاسبون عنكم &#8221;               البولس</p>
<p>٣- ما هي صورة العلاقات بين الإكليروس والشعب ؟</p>
<p>&#8221; وكونوا جميعاً مُتسربلين بالتواضع بعضكم لبعض &#8221;                          الكاثوليكون</p>
<p>٤- وداعة الراعي سبب إفتقاد الله ويؤول إلي بهجة الشعب</p>
<p>&#8221; وأبرارك يبتهجون من أجل داود عبدك أُذكر ياربُّ داود وكل دعته &#8221;    مزمور القدَّاس</p>
<p>٥- من هو أوِّل الكل ؟</p>
<p>&#8221; من أراد أن يكون أولاً فيكون آخر الكلِّ وخادماً للجميع &#8221;             إنجيل القدَّاس</p>
<h3>عظات آبائية</h3>
<h4>الانبا بولا أول سائح عرفته المسيحية للقديس جيروم</h4>
<p>لقد اجتاز أنطونيوس البقعة التي دخلها و هو يري بها سوي أثار وحوش البرية و الصحراء المتراميه الأطراف لم يكن يدري ماذا يصنع ، أيمضي في طريقه أم لا ؟ ثم مر يوم أخر و لم يبق لديه سوي شيء واحد و هو إيمانه الراسخ بعدم تخلي المسيح عنه . و هكذا أمضي الليلة الثانية يصلي في الظلام و عند طلوع الفجر إذ أن به يري أنثي ذئب علي مقربة منه و هي تلهث ظمآ و تتسل إلي سفح الجبل، فتتبعها بنظرة حتي اختفت داخل أحد الكهوف إلا أن ذلك لم يشبع فضوله إذ أن الظلام داخل الكهوف ، فاقترب قليلآ و بدا ينظر داخل الكهف إلا أن ذلك لم يشبع فضوله إذ أن الظلام داخل الكهف قد حجب عنه الرؤية و لكن كما يقول الكتاب :   &#8221; المحبة تطرح الخوف خارجآ&#8221; (١يو ٤ : ٢٢).</p>
<p>أنطونيوس الكهف بخطوات متعثرة و أنفاس لاهثة يتحسس طريقة بحرص، ثم تقدم شيئآ فشيئآ و أصغي بانتباه لصوت ما، و أخيرآ ظهر في وسط الظلام الحالك المخيف بصيص من الضوء علي بعد . و بسرعة متلهفة ضرب بقدمه علي صخرة ليقدر مدي صدي الصوت.</p>
<p>الانبا أنطونيوس واقفآ أمام مغارة الانبا بولا:</p>
<p>عندئذ اغلق بولا الطوباوي الباب المفتوح بسرعة ووضع عليه حاجزآ ، فسقط أنطونيوس علي الأرض أمام المدخل و ظل يلتمس الاذن بالدخول حتي نحو الساعة السادسة أو ما بعدها قائلآ : أنت تعلم من أنا و من أين جئت و لماذا اتيت ، و أنا أعرف إنني لا استحق النظر إليك، و لكنني لن امضي قبل أن أراك ووجدتك و سأظل هنا علي بابك حتي الموت واثقآ أنك ستدفن جسدي عند موتي .</p>
<p>هكذا كان أنطونيوس واقفآ بلا حراك ملتمسآ بلجاجة حتي أجابة القديس المجاهد باقتضاب : توسلاتك لن تجدي و دموعك لن تخدعني أتتعجب من عدم ترحيبي بك علي الرغم من أنك قد جئت إلي هنا لتموت ثم فتح الانبا بولا الباب مبتسمآ و سمح له بالدخول و ألقي كل منهما نفسه في حضن الاخر و رحبا ببعضهما البعض بالاسم ثم اشتركا في تقديم الشكر لله.</p>
<p>جلس بولا بعد القبلة المقدسة و بدأ يخاطب أنطونيوس :&#8221; انظر الي الرجل الذي بحثت عنه بعناء شديد، و ها قد وهنت أطرافه بسبب الشيخوخة أما شعره الأبيض فهو غير ممشط ، أنت تري رجلآ سيصبح بعد قليل ترابآ و لكن المحبة تحتمل كل شيء . فأتوسل اليك أذن أن تخبرني كيف أصبح حال الجنس البشري ؟</p>
<p>و هل أقيمت منازل جديدة في المدن القديمة؟ و ما هو النطام الذي يحكم العالم؟ ألا يزال هناك بقية تضلليها الشياطين بما لهم من مكايد؟</p>
<p>غذاء المحبة</p>
<p>و بينما كانا يتحدثان تعحبا لرؤية غرابآ يحوم بهدوء حولهما حتي جاء ووضع رغيفآ كاملآ من الخبز أمامهما و هما في حالة من الذهول. و عندما رحل قال القديس بولا: أتري محبة الله الصادقة إذ هو بالحقيقة رحيم و رؤوف فقد أرسل لنا وجبة من الطعام ، فمنذ ستين عامآ كنت ألتقي دائما نصف رغيف فقط و لكن بمحبتك ضاعف المسيح نصيب جندييه.</p>
<p>اتضاع القديسين :</p>
<p>و بعد أن شكرا الرب جلسا معآ علي حافة النبع الصافي و هنا نشب خلاف حول من يكسر الخبز ، فكاد بولا يلح علي أنطونيوس بكسر الخبز معتبرآ ذلك من واجبات الضيافة ، أما أنطونيوس فكان يضع اعتبار لكبر سن بولا.</p>
<p>و في النهاية استقر الامر علي أن كل منهما يمسك بطرف الرغيف القريب منه فيجذبه نحوه و يحتفظ لنفسه بالجزء المتبقي في يده . ثم جثيا علي ركبتيهما ، و شربا بكفيهما قليلآ من مماء النبع . و قدما لله ذبيحة التسبيح و هما يقضيان الليل في الصلوات المسائية.</p>
<p>وإذ سطع ضوء النهار قال الانبا بولا الطوباوي لأنطونيوس: &#8221; يا اخي قد عرفت منذ زمن بعيد أنك تسكن في تلك الانحاء، و لكن ها قد اقتربت ساعة وفاتي ، فقد كنت أتوقع دائمآ إلي وقت موتي لأكون مع المسيح لقد تممت جهادي ، أكملت السعي، و الان قد وضع لي إكليل البر ، لذلك فقد أرسلك الله لتدفن جسدي المائت لكي يعود التراب الي التراب مرة أخري.</p>
<p></p>
<p>و إذ سمع أنطونيوس هذا الكلام أخذ يتوسل إليه بدموع و تنهدات ألا يتركه ، بل ياخذه رفيقآ له في تلك الرحلة الي السماء . فأجاب صديقه قائلآ: &#8221; يجب عليك ألا تنشد منفعتك بل منفعة الاخرين ، فحسن لك أن تتخلص من عبء الجسد و تتبع الحمل الذي هو المسيح و لكن من الانفع للاخوة الاخرين ان يحتذوا بمثالك ، فتحلي بالكمال و اذهب لتحضر لي العباءة التي أعطاها لك القديس أثناسيوس لتكفن بها جسدي الهزيل&#8221;.</p>
<p>و لم يطلب المطوب بولا هذا الصنيع اهتمامآ منه بتكفين جسده أو عدم تكفينه عند تحلله. فلماذا يهتم بذلك و هو الذي عاش زمنأ طويلآ يرتدي ثوبآ قد حاكة من أفرع النخيل؟! و إنما فعل ذلك لكي يخفف من لوعة صديقة علي فقدانه.</p>
<p>و قد تعجب أنطونيوس لمعرفة الانبا بولا بالقديس اثناسيوس وردائه ، فأحس بأن من يراه هو شخص المسيح ذاته. لذا بارك الله في سكوت دون أن يتجرأ علي أن ينطق بكلمة واحدة. و بينما كان يذرف دموعه في صمت قبل رأس للانبا بولا و يديه مرة أخري ثم شرع في رحلة العودة إلي الدير الذي اقتحمه الاعراب فيما بعد و لم تسعفه خطواته في تحقيق إرادته في الرجوع سريعآ. و لكن بالرغم من أنه كان منهكآ بسبب الصوم و بطيئآ بسبب شيخوخته إلا أن شجاعته أثبتت تغلبه علي كبر سنه .</p>
<p>رجوع الانبا أنطونيوس لمقره :</p>
<p>و في حالة من التعب الشديد و بأنفاسه لاهتة أكمل رحلته ، حتي وصل أخيرا إلي مقره الصغير و إذ لاقاه هناك اثنان من تلاميذه كانا يقومان علي خدمته في شيخوخته سألاه : أين مكثت طيلة تلك الفترة يا أبانا ؟</p>
<p>فأجابهما قائلآ : &#8221; ويلي أنا الخاطئ فأنا لا أستحق أن أدعي راهبآ . لقد رايت إيليا ، لقد رأيت يوحنا المعمدان في البريه. و حقآ قد رايت بولس في السماء &#8221; و لم يتقوه بكلمة أخري بل قرع علي صدره و اخرج عباءة أثناسيوس من قلايته و عندما طلب أليه تلميذاه أن يفسر لهما الامر بطريقة أكثر وضوحآ أجاب و قال : للصمت وقت و للحديث وقت أخر&#8221;.</p>
<p>نياحة القديس :</p>
<p>ثم خرج دون أن يأخذ معه سوي قدرآ ضئيلآ من الطعام عائدآ من نفس الطريق الذي أتي منه. و هكذا كان أنطونيوس مشتاقآ إلي بولا ، تواقا لرؤيته و غير متفكر في أحد سواه ، لآنه كان يخشي أن يكون رفيقه قد أسلم الروح في يدي المسيح أثناء غيابه ، و لقد أثبتت الاحداث صحة توقعاته فعند بزوغ فجر يوم اخر و كان قد تبقي في الرحلة ثلاث ساعات فقط ، راي أنطونيوس بولا مرتديآ ثوبآ ناصع البياض ، صاعدآ ألي السماء وسط طغمات الملائكة و جماعات من الأنبياء و الرسل. و في الحال سقط علي وجهه ووضع التراب فوق راسه صارخآ في بكاء و نحيب : لماذا أبعدتني بعيدآ عنك يا بولا؟ لماذا رحلت دون وداع ؟ أتعرفني بذاتك في فترة وجيزة لترحل سريعآ؟!</p>
<p>و فيما بعد اعتاد المبارك أنطونيوس أن يروي كيف اجتاز المسافة الباقية بسرعة كبيرة كطائر يحلق في السماء. و عندما دخل الكهف رأي جسد الانبا بولا بعد نياحته جاثيآ علي ركبتيه ، و راسه منتصبه و يديه مرفوعتين إلي اعلي فاعتقد أنه ما زال علي قيد الحياة فكان أول شيء قام بعمله أنطونيوس أن جثا هو ايضآ  الي جواره ليصلي معه. و لكن اذ لم يسمع صوت التنهدات التي عادة ما تصدر عن الشخص أثناء الصلاة شرع عندئذ بتقبيله و بكي اذ ادرك انه حتي جسد القديس المائت يصلي بأنحناءات الطاعة الله الذي به تحيا كل الأشياء.</p>
<p>لتصير حياة الانبا بولا قدوة لنا :</p>
<p>و في نهاية هذه الرسالة أرجو السماح لي ان أتوجه بالسؤال لاولئك الذين لا يعرفون مدي أهمية ممتلكاتهم أولئك الذين يزخرفون منازلهم بالمرمر و الذين يكنزون منزلا تلو الاخر و حقلآ إلي جوار حقل، ماذا كان ينقص هذا الرجل في عريه ؟ ها انتم تمتلكون أنية شرب ثمينة القدر من احجار كريمة أما هو فقد كان يروي عطشه براحة يده .</p>
<p>ملابسكم مرصعة بالذهب أما هو فلم يكن يملك حتي أحقر عبيدكم . السماء مفتوحة أمامه رغم عوزه، أما انتم فبكل ما لكم من ذهب ها هو باب جهنم مفتوح أمامكم.    و رغم أنه كان عريانآ إلا ان ثوب المسيح كان يكسيه ، أما انتم فعلي الرغم من انكم تلبسون الحرير إلا انكم قد فقدتم  حلة المسيح . ها هو بولا يرقد تحت التراب الذي لا قيمة له ألا أنه سيقوم للمجد، في حين إنكم تدفنون في أضرحة باهظة الثمن، و لكن نار جهنم هي مصيركم انتم و ثراواتكم. لذا اطلب اليكم الا تكونوا عبيدآ لأموالكم . و لماذا تصنعون حتي ملابس موتاكم ممن الذهب ؟ لماذا لا تتوقفون عن التبجح حتي وسط النحيب و الدموع؟ الا يمكن لجثث الأغنياء أن تتعفن في شيء غير الحرير؟</p>
<p>أطلب اليك أيها القارئ أيا من كنت ان تذكر جيروم الخاطئ الذي شاءت إرادة الله أن تختاره ليأخذ رداء بولا بكل ما فيه من فضائل بدلآ من ارجوان الملوك مع عقابهم<a href="#_ftn2" name="_ftnref2">[2]</a>.</p>
<h4>القديس مقاريوس الكبير</h4>
<p>كيف يجعل الروح القدس النفس البشرية لائقة للملكوت السماوي، وغريبة عن هذا العالم ، في فكر القديس مكاريوس الكبير :</p>
<p>فينبغي للنَّفس الَّتي تؤمن حقَّاً بالمسيح أن تنتقل وتتغيَّر من سيرتها الشِرّيّرة الحاضرة إلي سيرةٍ أخري صالحة، ومن طبيعتها الذَّليلة الحاضرة إلي طبيعةٍ أخري إلهيَّة ، وأن تتجدَّد بقوَّة الرُّوح القدس ، وهكذا يمكنها أن تكون لائقةً بالملكوت السَّماويّ . أمَّا الحصول علي هذه الأمور فيتحقَّق لنا إنْ كنَّا نؤمن به ونحبُّه بالحقّ ونسلك في جميع وصاياه المقدَّسة. لأنَّه إنْ كان في زمان أليشع النَّبيّ، لمَّا ألقِيت الخشبة - وهي بطبيعتها خفيفة - في المياه رَفَعَت الحديدَ الثَّقيل بطبيعته ، فكم بالأحري هنا يرسل الرَّبُّ روحَه الخفيف النَّشيط الصَّالح السَّماويّ ، وبواسطته يَرفع النَّفسَ الَّتي قد أُغرِقَت في مياه الشَّرّ ، ويُصَيّرها خفيفةً ويُنبِت لها أجنحةً فتُحَلّق في أعالي السَّماوات ، وينقلها ويُغّيِرها من طبيعتها الخاصَّة .</p>
<p>وكما أنَّه في الأمور الظَّاهرة ليس أحد بمستطيعٍ من ذاته أن يَعبر البحر ويجتازه إلَّا إذا كان له سفينةٌ سريعة خفيفة قد صُنعَت من الخشب ، تلك الَّتي وحدها تستطيع أن تمشِيَ فوق المياه ، إذ إنَّ مَن يصعد إلي البحر يغرق ويَهلِك ، بنفس الطَّريقة لا تستطيع النَّفس من ذاتها أنْ تجتاز وتتخطَّي وتَعبر بحرَ الخطيئة المُرّ ولُجَّةَ القوَّاتِ الشِرّيّرةٍ الصَّعبة الَّتي لظلمة الأهواء ، إلَّا إذا قَبِلَت روحَ المسيحِ الخفيفَ السَّماويَّ ذا الأجنحة الصَّالحة ، ذاك الَّذي يمشي فوق كلِّ الشَّرّ ويَعبره ، والَّذي بواسطته تتمكَّن النَّفسُ من الوصول مباشرةً وباستقامةٍ إلي ميناء الرَّاحة السَّماويّ ، إلي مدينة الملكوت . لكنْ كما أنَّ الَّذين في السَّفينة لا يستقون ماءً من البحر ويشربونه ولا يقتنون منه ثيابهم ولا طعامهم ، بل من الخارج يأتون بهذه في السَّفينة ، هكذا نفوس المسيحيِيّن تحصل علي طعامٍ سماوّيٍ وثيابٍ روحانيَّة ، لا من هذا الدَّهر بل من فوقُ ، من السَّماء ، وإذ تحيا من هناك وتُبحِر في سفينة الروُّح الصَّالح والمُحيي ، تتجاوز القوَّات المعادية الشِرّيّرة الَّتي للرُّؤساء والسَّلاطين . وكما أنَّه من طبيعة الخشب الواحدة تُبنَي كافةُ القوارب الَّتي بها يتسنَّي للنَّاس أن يعبروا البحر المُرّ، هكذا كلُّ نفوس المسيحيِيّن إذا ما نالت القوَّة من اللَّاهوت الواحد ذي النُّور السَّماويّ ومن مواهب الرُّوح الواحد المتنّوِعة  تُحِلّق عالياً فوق كِلّ الشَّرّ<a href="#_ftn3" name="_ftnref3">[3]</a></p>
<h4>القديس كيرلس الأسكندري: الاتضاع</h4>
<p>ربما تبدو مثل هذه الأمور للبعض تافهة ولا تستحق إعارتها الانتباه، لكن متى ركز الإنسان عيني ذهنه عليها فسيتعلم من أي عيب تخلّص الإنسان، وأي تدبير حسن توجده فيه. فإن الجري وراء الكرامات بطريقة غير لائقة لا تناسبنا ولا تليق بنا، إذ تظهرنا أغبياء وعنفاء ومتغطرسين، نطلب لا ما يناسبنا بل ما يناسب من هم أعظم منا وأسمى.</p>
<p>من يفعل هذا يصير مكروهًا، وغالبًا ما يكون موضع سخريَّة عندما يضطر بغير إرادته أن يرد للآخرين الكرامة التي ليست له&#8230; يلزمه أن يعيد ما قد أخذه بغير حق.</p>
<p>أما الإنسان الوديع والمستحق للمديح الذي بدون خوف من اللوم يستحق الجلوس بين الأولين لكنه لا يطلب ذلك لنفسه بل يترك للآخرين ما يليق به، فيُحسب منتصرًا على المجد الباطل وسيتقبل مثل هذه الكرامة التي تناسبه، إذ يسمع القائل له: &#8220;ارتفع إلى فوق&#8221;.</p>
<p>إذن العقل المتواضع عظيم وفائق الصلاح، يخّلص صاحبه من اللوم والتوبيخ ومن طلب المجد الباطل..</p>
<p>إن طلبت هذا المجد البشري الزائل تضل عن طريق الحق الذي به يمكنك أن تكون بالحق مشهورًا وتنال كرامة تستحق المنافس! فقد كُتب: &#8220;لأن كل جسد كعشبٍ، وكل مجد إنسان كزهر عشب&#8221; (١بط ١: ٢٤). كما يلوم النبي داود محبي الكرامات الزمنيَّة، قائلًا لهم هكذا: &#8220;ليكونوا كعشب السطوح الذي ييبس قبل أن يُقلع&#8221; (مز ١٢٩: ٦). فكما أن العشب الذي ينبت على السطح ليس له جذر عميق ثابت لذا يجف سريعًا، هكذا من يهتم بالكرامات الدنيويَّة بعد أن يصير ظاهرًا في وقت قصير كالزهرة يسقط إلى النهاية، ويصير كلا شيء.</p>
<p>إن أراد أحد أن يسبق الآخرين فلينل ذلك بقانون السماء، وليتكلل بالكرامات التي يهبها الله. ليسمُ على الكثيرين بشهادة الفضائل المجيدة، غير أن قانون الفضيلة هو الذهن المتواضع الذي لا يطلب الكبرياء، بل التواضع! هذا هو ما حسبه الطوباوي بولس أفضل من كل شيء، إذ كتب إلى أولئك الذين يرغبون في السلوك بقداسة: أحبوا التواضع (كو ٣: ١٢). وقد مدح تلميذ المسيح ذلك، إذ كتب هكذا: &#8220;ليفتخر الأخ المتضع (المسكين) بارتفاعه، وأما الغني فبتواضعه لأنه كزهر العشب يزول&#8221; (يع ١: ١، ١٠). الذهن المتواضع والمنضبط يرفعه الله، إذ &#8220;القلب المنكسر والمنسحق يا الله لا تحتقره&#8221; (مز ٥١: ١٧).</p>
<p>من يظن في نفسه أمرًا عظيمًا وساميًا فيتشامخ في فكره وينتفخ في علو فارغ يكون مرذولًا وتحت اللعنة، إذ يسلك على خلاف المسيح القائل: &#8220;تعلموا مني، لأني وديع ومتواضع القلب&#8221; (مت ١١: ٢٩). كما قيل: &#8220;لأن الله يقاوم المستكبرين، وأما المتواضعون فيعطيهم نعمة&#8221; (١بط ٥: ٥). لقد أظهر الحكيم سليمان في مواضع كثيرة الأمان الذي يحل بالذهن المتواضع، إذ يقول: &#8220;لا تنتفخ كي لا تسقط&#8221; (ابن سيراخ ١: ٣٠)؛ كما يعلن ذات الأمر بطريقة تشبيهية: &#8220;المعلي بابه (بيته) يطلب الكسر&#8221; (أم ١٧: ١٩). مثل هذا يبغضه الله بعدل إذ يُخطئ في حق نفسه ويود أن يتعدى حدود طبيعته بغير شعور..</p>
<p>أسألك، على أي أساس يظن الإنسان في نفسه أمرًا عظيمًا&#8230;؟!</p>
<p>ليت كل إنسان ينظر إلى حاله بعينين حكيمتين، فيصير كإبراهيم الذي لم يُخطئ في إدراك طبيعته، بل دعي نفسه ترابًا ورمادًا (تك ١٨: ٢٧)</p>
<p>كما أن العشب الذي ينبت على السطح ليس له جذر عميق ثابت لذا يجف سريعًا، هكذا من يهتم بالكرامات الدنيوية بعد أن يصير ظاهرًا في وقت قصير كالزهرة يسقط في النهاية ويصير كلا شيء<a href="#_ftn4" name="_ftnref4">[4]</a>.</p>
<h4>العلَّامة أوريجانوس: الإتضاع</h4>
<p>يريدهم أن يسمعوا وأن يصغوا (يميلوا بآذانهم)، لا يكفيه أن يسمعوا فقط أو أن يصغوا فقط. كما يأمرهم ألا يتعظموا، يعلمهم ما يجب أن يفعلوه.</p>
<p>ما هو إذًا السماع؟ وما هو الإصغاء&#8230;؟</p>
<p>&#8220;اصغوا&#8221;:  أي تَقبَّلوا الكلام في آذانكم؛ و&#8221;اسمعوا&#8221;:  أي تقبلوا الكلام في أذهانكم. بما أنه توجد في الكتاب المقدس بعض الكلمات الغامضة والأسرار الخفية كما توجد أيضًا بعضها ظاهر وبسيط في فهمه، أظن أنه بالنسبة للكلمات الغامضة قيل: &#8220;اسمعوا&#8221;، وللبسيطة قيل &#8220;اصغوا&#8221;.</p>
<p>بعد أن نكون قد سمعنا وأصغينا، يوصينا قائلًا: &#8220;لا تتعظموا&#8221; لأن &#8220;كل من يرفع نفسه يتضع&#8221; (لو ١٤: ١١، ١٨: ١٤). حينما يقول المخلص لنا: &#8220;تعلموا مني لأني وديع ومتواضع القلب فتجدوا راحة لنفوسكم&#8221; (مت ١١: ٢٩) ، يعلمنا ألا نتعظم. لأنه إلى جانب شرور الناس الكثيرة، فإن هذه الخطية (التعاظم) منتشرة بيننا: تارة نتعظم ونتفاخر بدون أي سبب، وتارة من أجل شيء لا يستحق  أي تعظم بالمرة، وتارة من أجل أن ما فعلناه يستحق بعض التعظيم، حتى في ذلك تعظمنا يصير مؤذيًا لنا&#8230;</p>
<p>يوجد أناس يفتخرون بكونهم أبناء حكام وفي قدرتهم إنزال بعض الكهنة من درجاتهم الكهنوتية، مثل هؤلاء يتعظمون ويفتخرون من أجل أمور تافهة لا طائل من ورائها، وبالتالي لا يوجد أدنى سبب لتعظمهم هذا.</p>
<p>ويوجد من يفتخرون بأن لهم سلطان على إعدام الناس، ويفتخرون بأنهم قد حصلوا على ما يسمونه &#8220;ترقية&#8221; تمكنهم من الإحاطة برؤوس الناس. مجد هؤلاء الناس يكون في خزيهم (في ٣: ١٩).</p>
<p>آخرون يفتخرون بغناهم، ليس الغنى الحقيقي، بل الأرضي. وغيرهم يفتخرون لأن لهم منزل جميل مثلًا، أو أراضٍ شاسعة. كل تلك الأشياء لا تستحق حتى أن تكون موضع اعتبار، ولا يليق بنا أن نفتخر بأي شيء منها.</p>
<p>لكن يبدو لي بالنسبة لنا أننا نتعظم ونفتخر بأننا حكماء، أو أننا منذ عشرة سنوات مثلًا لم نقترب من الملذات الجسدية والشهوات، أو لم نقترب منها منذ الطفولة؛ أيضًا بحمل القيود في أيدينا من أجل السيد المسيح، هذه الأشياء تدعو للتفاخر بحق. لكن حتى هذه الأشياء أيضًا، إذا حكَّمنا عقلنا بالحق، نجد أنه ليس لنا أن نتعظم أو نتفاخر بها.</p>
<p>كان لبولس موضوع به يتعظم، أي رؤيته مناظر الرب وإعلاناته (٢كو ١٢: ١) ورؤى (أع ١٦ : ١٠) ، وعمل قوات وعجائب (رو ١٥ : ١٩) واحتمال الآلام من أجل المسيح، ومن أجل الكنائس التي أسسها في غيرته لبناء كنيسة في كل موضع حيث لم يكن اسم المسيح معروفًا (رو ١٥ : ٢٠). كل هذه تمثل موضوعًا للتعظم. بحسب الأشياء الخارجية الظاهرة التي تدعو للفخر، يبدو افتخار بولس الرسول أمرًا طبيعيًا بالنسبة للناس؛ مع ذلك بما أنه من الخطر عليه أن يتفاخر حتى بتلك الأشياء، فإن الآب في رحمته، كما أعطاه تلك الرؤى، أعطاه أيضًا على سبيل الرأفة به، ملاك الشيطان ليلطمه لئلا يرتفع. من أجل هذا تضرع بولس إلى الرب ثلاث مرات أن يفارقه، فأجابه الله: &#8220;تكفيك نعمتي لأن قوتي في الضعف تكمل&#8221; (٢كو ١٢: ٧ - ٩). إذًا يجب علينا ألا نتعظم ولا نتفاخر بشيء، لأن الكبرياء يصاحبه السقوط، كما يقول الكتاب: &#8220;قبل الكسر الكبرياء وقبل السقوط تشامخ الروح&#8221; (أم ١٦: ١٨)<a href="#_ftn5" name="_ftnref5">[5]</a></p>
<h4>القديس يعقوب السروجي: الإتضاع</h4>
<p>أيها المُتميِّز لا تتعالَ على قريبك، تواضع أمامه ولو أمكن تقع أمام رجليه.</p>
<p>صور أمام ناظريك تواضع ابن الله، وكما تواضع هو تواضع أنت أيضًا لأندادك.</p>
<p>انظر إليه متواضعًا وهو يغسل أرجل بني بيته، وإذ هو إله أَحبّ التواضع وأبغض التباهي.</p>
<p>الشيء الذي يبغضه ابن الله لا تقترب إليه، فلو اقتربت سيقتلك ويفسدك.</p>
<p>أبغض الكبرياء الذي أَبغضه ورذله ابن الله: إنه الشرّ الذي منه تنبع كل الشرور.</p>
<p>أَحبِب التواضع، وأبغض الافتخار إن كنت تلميذًا، فلا تقدر جميع الشياطين أن تقترب منك.</p>
<p>التواضع أسقطهم من درجاتهم، ولو وجدوا فيك التواضع يهربون منك.</p>
<p>التواضع هو بيت اللاهوت وحيث هو موجود يسكن فيه الله&#8230;</p>
<p>تواضع ليأتي الملك ويحلّ عندك، فلن تؤذيك كل قوة العدو.</p>
<p>بيت الملك لا ينهبه اللصوص، لأن جنوده يحرسون أبوابه بحذرٍ.</p>
<p>إن كنت متواضعًا فهوذا الملكوت حالّ فيك، ولن يسرقك السراق ولا اللصوص.</p>
<p>إن كنت متواضعًا فشجرة كل الشرّ منزوعة منك، ومشتول بدلها ربّنا الشجرة المباركة<a href="#_ftn6" name="_ftnref6">[6]</a>.</p>
<h4>القديس يوحنا ذهبي الفم</h4>
<p>من هو العظيم حقاً &#8230;؟!</p>
<p>تأملات في رسالتي القديس بولس إلى كورنثوس *</p>
<p>&#8220;بولس المدعو رسولا ليسوع المسيح بمشيئة الله وسوستانيس الأخ إلى كنيسة الله التي في كورنثوس المقدسين في المسيح يسوع المدعوين قديسين مع جميع الذين يدعون باسم ربنا يسوع المسيح في كل مكان لهم ولنا ، نعمة لكم وسلام من الله أبينا والرب يسوع المسيح &#8221; (١کو ۱: ۱ - ۳)</p>
<p>(١) أنظر كيف أن الرسول يسارع من البدء ويخضع كبرياءهم، ويهدم أفكارهم المتصلفة عندما يتكلم عن نفسه &#8220;كمدعو&#8221;، فهو يقول ان ما تعلمته، لم أكتشفه من ذاتي، ولا تحصلت</p>
<p>عليه محكمتي الخاصة، بل أثناء ماكنت اضطهد الكنيسة وأتلفها بإفراط جاءتني الدعوة! وهنا يتضح أن الذي يدعو هو كل شيء واما المدعو فليس شيئا  إلا أن يطيع فقط و ليسوع المسيح، إن معلكم هو المسيح، أفتتخذون من أسماء البشر أربابا لمبدئكم؟ &#8220;بمشيئة الله &#8221; ذلك لأن الله هو الذي شاء أن تخلصوا هكذا . أما نحن فلم نعمل شيئا صالحا من أنفسنا، ولكن بمشيئة الله قد أدركنا هذا الخلاص ، إذ قد دعينا لا من أجل استحقاقنا ولكن عندما استحسن هو ذلك</p>
<p>&#8221; وسوستانيس الأخ &#8221; وهذا مثال آخر لا تضاعه ، إذ يساوى نفسه بواحد هو أقل في المرتبة من أبلس لأنه كان هناك فارق كبير بين بولس وسوستانيس ، وبالرغم من هذا الفارق نجده يساويه بنفسه ، فاذا يقول أولئك الذين يحتقرون من هم في درجتهم ؟</p>
<p>&#8221; إلى كنيسة الله &#8221; ليست كنيسة هذا أو ذاك من الناس بل كنيسة الله !</p>
<p>&#8221; التي في كورنثوس &#8221; لاحظ أنه في كل كلمة يخفض كبرياءهم ، ليحول أفكارهم بكافة الوسائل نحو السماء ؟ إنه يدعوها أيضا وكنيسة الله ، مبينا لهم أنه ينبغي أن تكون متحدة . لأنها إذا كانت هي كنيسة الله فيلزم أن تكون متحدة وواحدة ، ليس في كورنثوس فقط بل وفي المسكونة كلها : لأن اسم الكنيسة ( و تعنى بالضبط جماعة ) ليس اسما يدل على الإنشقاق بل على معنى الوحدة والوفاق .</p>
<p></p>
<p>&#8221; المقدسين في المسيح يسوع &#8221; وهنا يذكر اسم يسوع ، أما أسماء البشر فلا موضع لها عنده. و لكن ماذا يعنى بالتقديس ؟ إلا معمودية الاغتسال والتطهير - لكى يذكرهم بنجاساتهم السابقة التي تحرروا منها بواسطته . وهكذا يستدرجهم إلى فكر متواضع ، لأنهم لم يتقدموا بأعمالهم الصالحة بل بتعطف الله ومحبته</p>
<p>&#8220;المدعوين قديسين &#8221; وفي هذا يقول لهم إنه حتى خلاصكم الذي نلتموه بالإيمان هو ليس منكم ، لأنكم لم تقبلوا إليه أولا بل هو الذي دعاكم . إذن فهذا الأمر ( أي مجرد قبولهم الإيمان ) لم يكن معكم قط . ومع أنكم قد اقتربتم إليه وانتم تحت الدينونة من جراء خطاياكم الكثيرة غير أن هذا لا يجعل الفضل لكم بل الله . فهو يكتب إلى أهل أفسس قائلا : . لأنكم بالنعمة مخلصون بالإيمان وذلك ليس منكم ، لأنه حتى الإيمان لم يكن فيكم قبلا ، بل قبلتم دعوة .</p>
<p>&#8221; مع جميع الذين يدعون باسم ربنا يسوع المسيح &#8221; ليس باسم هذا أو ذاك من الناس ندعو بل &#8221; باسم الرب &#8221;</p>
<p>(۲)&#8221; في كل مكان لهم ولنا &#8221; فبالرغم من أن الرسالة هي لأهل كورنثوس فقط إلا أنه يذكر سائر المؤمنين في جميع أنحاء المسكونة مبيناً أن الكنيسة في كل العالم مهما توزعت في بقاع متفرقة ينبغي أن تكون واحدة ، وعلى الأخص في كورنثوس وأنه مهما ابتعد المكان إلا أن الرب يربطهم معاً برباط واحد حتى يكون هو واحداً على الكل . وحيث أنه يريد أن يوحدهم أيضاً تجده يقولو لهم ولنا ، وهذا مما يشدد معنى الاتحاد أكثر مما يشير إلى الانفصال لأنه إذا كان الناس لهم معلمون كثيرون مختلفون ، يقعون في حيرة وبلبلة ، ولا ينفعهم وحدة مكانهم لتكوين وحدة الفكر ، إذ أن معلميهم يوجهونهم وجهات تختلف الواحد عن الآخر وكل ينجذب إلى طريقه الخاص كما أعلن المسيح : و لا يقدر أحد أن يخدم سيدين ، (مت ٦ : ٢٤) أما الذين يوجدون في أماكن متفرقة وليس لهم أرباب مختلفون بل رب واحد فإنهم لا يتأذون بسبب بعد المكان من جهة وحدة اتفاقهم ، لأن الرب الواحد يربط شملهم وكانه يريد أن يقول : « إني لا أطلب إليكم أيها الكورنثيون أن تكونوا فكراً واحداً مع بعضكم بعضاً فحسب بل ومع كل من في العالم . وهذا هو السبب الذي جعله يضيف كلمة &#8220;ولنا &#8221; لأنه سبق فقال &#8220;باسم ربنا يسوع المسيح &#8221; (مخصصا كلمة رب لضمير المتكلم فقط ) فحتى لا يلتبس على السطحيين ان هناك تفرقة قال &#8221; لنا ولهم &#8221; ( أي رب لنا ولهم ) .</p>
<p>(۳) ولكى يكون المعنى أكثر وضوحاً سأقرأها حسب ما نعنى ، هكذا &#8221; بولس وسوستانيس إلى كنيسة الله التي في كورنثوس و إلى كل من يدعو باسم ذلك الذي هو ربنا وربهم في كل مكان ، سواء أكانوا في روميه أو في أي مكان آخر نعمة لكم وسلام من الله أبينا والرب يسوع المسيح ، أو لكى يكون المعنى أكثر صحة حسب ما أعتقد نقرأها هكذا : و بولس وسوستانيس إلى أولئك الذين في كورنثوس ، الذين تقدسوا، مدعوين قديسين مع كل الذين يدعون باسم يسوع المسيح في كل مكان ربا لهم ولنا ، أى نعمة لكم وسلام لكم أنتم الذين في كورنثوس ، و المدعوين قديسين ، وليس لكم وحدكم بل &#8221; ولجميع الذين في كل مكان يدعون باسم يسوع المسيح الذي هو ربنا وربهم &#8221; و الآن إذا كان سلامنا هو بالنعمة ، فلماذا تتعظم في فكرك ، ولماذا تنتفخ وأنت مخلص مع الله ، كما وأننا بالنعمة ؟ وإذا كان لك سلام مع الله فلماذا نستعيد ذاتك الآخرين ؟ ما دام أن هذا يؤدي إلى الانقسام . لأنه كيف حتى إذا كنت في سلام مع هذا الانسان أو ذاك تجد نعمة ؟ إنى أصلى ليكون لكم من الله النعمة و السلام كليهما منه وله ، لأنهما ( النعمة والسلام ) لا يثبتان بتأكيد إلا إذا استمدا قوة من الأعالى . ولا يفيدان شيئاً إلا إذا كان الله غايتهما . لأننا لا ننتفع شيئاً حتى ولو كنا في سلام مع الناس جميعاً إذا كنا في عداوة لا نضار في شيء ، حتى ولو حُسبنا كأعداء من كل الناس إذا كنا مع الله في سلام . وأيضاً ان تربح شيئاً إذا وافقنا جميع الناس غضب الله ، وما من خطر يكون علينا حتى لو أعرض عنا الجميع وأبغضونا ، إذا كنا مع الله في حب وقبول . لأن النعمة الحقيقية والسلام الحق هما من الله، إذ أن من يجد نعمة عند الله، فلن يخاف انسانا حتى ولو صادفته ربوات الأهوال، ولا أقول أنه لا يخاف انسانا ما فحسب بل ولن يخاف الشيطان نفسه أيضا . في حين أن الذي يغضب الله فإنه يرتاب في كل الناس ، حتى ولو تظاهر بالطمأنينة ، لأن الطبيعة البشرية وحدها متقلبة ، وليس الأصدقاء فقط والاخوة تتغير قلوبهم ، بل والأباء أيضا سبق وانقلبوا على أبنائهم الخارجين من صلبهم ، وربما من أجل أمر تافه ، صاروا لهم مصدر اضطهاد أكثر من أعداء. والأبناء أيضا نبذوا أباهم ، فلو اعتبرنا هذا الامر نجد أن داود كان محبوبا لدى الرب وابشالوم كان محبوبا عند الناس . فماذا كانت نهاية كل منهما ومن منهما نال كرامة أفضل . وبالمثل كان ابراهيم مرضيا لدى الله ، وفرعون مبجلا لدى الناس ولكى يكرموه أكثر حاولوا سلب زوجة البار ليعطوها له . لكن معلوم لدى كل انسان أيهما صار أكثر كرامة وأوفر غبطة</p>
<p>وما لنا والابرار ، ها شعب ( الله ) كان مقبولا لدى الله بالرغم من بغضة ( أعدائهم ) لهم ، ومعلوم لدينا جميعا كيف سادوا على مبغضيهم وبأي نصرعظم هزموهم . من أجل هذا ليتنا نجاهد بحرص . وسيان ، ان كان واحد عبدا فليصل من أجل هذا ليجد نعمة عند الله أكثر بالحرى مما عند سيده ، أو كانت زوجة فلتسع لنوال نعمة الله مخلصها أكثر بالحرى مما عند زوجها . أو كان جنديا فليسع لطلب تلك العطية التي تأتى من فوق أفضل مما عند مليكه ورئيسه . وهكذا سيكون بين الناس أيضا موضع محبة</p>
<p>(٤) ولكن كيف يجد الإنسان نعمة عند الله وبأية وسيلة  سوى اتضاع الفكر ؟ ولأن الله يقاوم المستكبرين ويعطى نعمة للمتواضعين،، وذبيحة الله روح منسحق، والقلب المنكسر ، ومع المتواضع لا يرذله الله ، . لأنه إذا كان التواضع هكذا محبوباً لدى الناس فكم يكون بالحرى لدى الله أكثر جدا ، إن من أجل هذا وجد الأميون نعمة لدى الله ، أما اليهود فلم يجدوا إلا الحرمان منها, لأنهم لم يخضعوا لبر الله . . إن الإنسان المتواضع الذي أتحدث عنه هو موضوع مسرة ومرح لدى جميع الناس ، يحيا في سلام دائم ، وليس له استعداد للخصام . فإذا شتم أو ظلم ، أو افترى عليه ، فإنه يبقى صامتاً ويحتمل هذا بكل وداعة ، لذلك يبقى في سلام ، يفوق العقل ، مع كل الناس ، نعم ومع الله أيضاً . لأن من وصايا الله أن نكون في سلام مع الناس ، وهكذا تفلح كل حياتنا عن طريق السلام الذي بين الواحد والآخر لأنه ليس من إنسان يستطيع أن يكدر الله ، فطبيعته لا تتقيد وفوق مستوى الآلام جميعا ، وما من شيء يجعل المسيحى مكرما قدر تواضع فكره . وعلى سبيل المثال : يقول ابراهيم , أنا تراب ورماد (تك ١٨ : ٢٧) . وأيضا يقول الله عن موسى . إنه كان حليماً جدأ أكثر من جميع الناس ، (عد ۱۲ : ۷) لأنه لم يكن هناك من هو أكثر منه تواضعا وقد كان قائداً لشعب عظيم وقد أغرق في البحر الملك وكل جنود ( الأعداء ) كما لو كانوا ذباباً ، وصنع عجائب كثيرة في مصر والبحر الأحمر والبرية ، وتسلم ذلك العهد السامي ، إلا أنه مع كل هذا كان يشعر في قرارة نفسه أنه كان شخصا عاديا ، وكان كصهر يخضع لحميه (خر ١٨ : ٢٤) و تقبل منه المشورة دون أن يسخط أو يسأل &#8221; ما هذا &#8220;؟ أبعد إتيانا هذه الأعمال الجليلة تأتينا أنت بمشورتك ؟ ؟ &#8221; أليس هذا هو شعور الأغلبية الساحقة من الناس ، إذ مهما تقدم الإنسان بأجل النصائح ، فإنها تحتقر بسبب اتضاع شخصه . . . أما يكن كذلك . بل بالحرى بتواضع فكره أكمل كل شيء حسنا . لهذا أيضا نبذ بلاط الملوك (عب ١١ : ١٤ – ٢٩) لأنه كان متواضعا حقا . وما الفكر الراجح والروح السامية إلا ثمرة للتواضع . لأنه أي دليل على النبل وعزة النفس تظنون أكثر من الازدراء بقصور الملوك وموائدهم ؟ مع أن الملوك عند المصريين كانوا يكرمون كآلهه ويتمتعون بالثروة ، وكنوز نعمه لا تنضب ، إلا أنه نبذ كل هذا ، وطرح عنه أمجاد ملوك مصر ، وسارع لينضم إلى أسرى وشعب أذله العناء واستنزفت قواه أعمال الطين وضرب الطوب ، شعب كان عبيده يمقتونهم ( إذ ) أن المصريين أذلوهم ، (خروج ۱ : ۱۲) . و لكنه فضلهم بالحرى على أسيادهم وأسرع منضماً إليهم جهارا . ومن هذا يتبين أن الذي له الاتضاع له أيضا سمو النفس ورفعتها ، أما الكبرياء فهي من خسة الفكر ودناءة النفس وأما الحلم فهو من رجاحة العقل وسر الروح .</p>
<p>(٥) وإني لأستميح محبتكم لفحص كل ما قلناه بالأمثلة . فمن منكم يخبرني عمن كان أعظم رفعة من أبينا ابراهيم ؟ ومع ذلك نجده يقول عن نفسه &#8221; ما أنا إلا تراب ورماد &#8221; وهو الذي قال أيضا &#8221; لا تكن مخاصمة بيني و بينك &#8221; (تك ١٣ : ٨) بل إن هذا الرجل الوديع رفض كل أسلاب فارس إذ لم يشته أسلاب البرابرة ، كل هذا عمله بشهامة فائقة وروح نبيلة . لأن من هو المرتفع حقا إلا المتواضع ، وليس المتعلق أو المنافق ، لأن العظمة الحقيقية شيء والعجرفة شيء آخر ، وهذا يتضح من التشبيه الآتى : إذا كان إنسان يقدر قيمة الطين كطين فيحتقره وآخر يقدر الطين كالذهب و يعتبره شيئا  اسأل إذن من الذي يفكر فيهما بعقل راجح ؟ أليس هو الذي لم يعتبر الطين ؟ أما الذي يعجب بالطين بل و يدخره . أليس هو عديم العقل . على هذا القياس تماما نقيس مسألتنا فالذي يدعو نفسه ترابا ورماداً نراه مرتفعا بالرغم من اتضاعه. أما الذي لا يعتبر نفسه أنه تراب ورماد بل يزهو بنفسه، بأفكار</p>
<p>العظمة  فهذا هو الإنسان الذي يجب أن يحسب جاهلا إذ يعتبر التافه عظيما . يتضح لنا جليا أنه من علو الفكر ورجاحته نطق أب الآباء: و ما أنا إلا تراب ورماد ، وأنه لا من عجرفة قال هذا بل بسمو التفكير وعمقه .هذا وكما في الأجسام أيضا نرى أن البنية المتينة الممتلئة عن صحة شيء ، والجسم المتورم عن فساد المرض شيء آخر . وكلاهما لا يخرج عن كونه لحماً ودما، هكذا أيضا العجرفة تشبه حالة التورم  أما النفس السامية فتمثل حالة الجسد الصحيح. وأيضا نجد إنسانا طويلا بطبيعة قامته، وآخر نجده قصيراً ولكنه يستخدم كعبا مرتفعا فيتراءى طويلا ، فأى الإثنين يمكن أن يدعى طويلا حقاً ؟ أليس الذي ارتفاعه بطبيعته، أما الآخر فقد ارتفع بشيء ليس منه ، وتعالى بوسائل حقيرة يخطو عليها ، هذا هو حال كثير من الناس الذين يتعظمون بالثروة والجاه ، التي هي ليست عظيمة في ذاتها ، لأن المرتفع هو الذي لا يشتهى شيئا من هذة التوافه بل بالحرى يحتقرها ، فتصير عظمته من اكتفائه بنفسه . إذن فرفعتنا لا سبيل اليها إلا باتضاعنا، أما الإنسان الملاجج فلا يأخذ بهذا ، ولذلك فهو في سلوكه قليل الأهمية والبالونة أيضا تنتفخ و لكن انتفاخها ليس بذي خطر، ومن هذا أخذنا تسمية هؤلاء الأشخاص بالمنتفخين وعلى النقيض فالرجل ذو العقل الرزين لا تساوره أفكار العظمة مهما أصاب من جاه إذ يحس باتضاع طبيعته . أما الرجل التافه فيحس بالعظمة والكبرياء حتى في توافه الأمور .</p>
<p>(٦) إذن فلنسع للرفعة الحقة بسلوكنا المتضع. ولنتفحص جيداً طبيعتنا البشرية، إن كنا نريد أن نشتعل بشهوة الأمور الفاضلة، لأنه لا سبيل إلى الاتضاع بمحبة الإلهيات واحتقار الزمنيات، وذلك بالضبط إذا كان إنسان يسعى للحصول على مملكة . فلو قدم اليه عوض الرداء الملكي، مديح تافه  فإنه سيحسب هذا لا شيء، كذلك فنحن نسخر و نزدری بكل الأمور الحاضرة إن كنا نسعى لنوال ذلك المجد العتيد ألا ترون الصبية وهم يلعبون يمثلون صفوف الجنود يتقدمهم النذير بالبوق وطفل منهم يمثل القائد، فأي أفكار صبيانية هذه تدعو للسخرية ؟ هكذا كل أعمال الناس هي بهذا القدر من التفاهة وأكثر، فاليوم توجد وغداً لا يكون لها وجود</p>
<p>إذن فلنسم فوق هذه الأمور ولا نعد نشتهيها بل بالحرى نخجل منها إذا قدمها أحد الينا، لأنه هكذا، إذ نطرح محبة هذه الأمور سوف ننال تلك المحبة الأخرى التي هي إلهية  ونسعد بأمجاد خالدة . فليمنحنا الله أن ننالها بنعمة ومحبة ربنا يسوع المسيح الذي معه يكون للآب مع الروح القدس الصالح المجد والقوة الى الأبد آمين<a href="#_ftn7" name="_ftnref7">[7]</a>.</p>
<p>ترجمة ميلاد يوحنا</p>
<h4>أيضاً للقديس يوحنا ذهبى الفم</h4>
<p>مثل الوزنات</p>
<p>أما فيما يخص كلمة الله ، فلسنا فقط مسئولين على الحفاظ عليها بل أنها تحتاج إلى عمل دؤوب ، لأننا لا نطالب فقط بما قبلناه ، بل بجوار ذلك يجب أن نقدمها للرب مضاعفة ، فعلى الرغم من أنه هناك ضرورة لحفظ الكلمة فان الأمر يحتاج إلى جهاد واعتناء أكثر ، وعندما يحمينا الرب وننميها . فكر كم من التعب والعناية تحتاج منا وقد اؤتمنا عليها ، لذلك فالذى قد أؤتمن على خمسة وزنات ( مواهب ) لم يقدم بمقدار ما أؤتمن بل أكثر ، لأن ما يأتي هبة من محبة الرب للبشر فيجب على العبد أن يظهر عناية خاصة به ، وبالمثل ذاك الذى أؤتمن على وزنتين قد ربح أيضاً وزنتين أخريين ، لذلك أستحق نفس الكرامة من الرب نفسه ، أما ذاك الذى أؤتمن على وزنة واحدة وقدمها دون أن ينقص أو يقلل الوديعة ولا زادها حتى بمقدار النصف ، لأنه لم يظهر أي اهتمام واجب لذا لم يقدم ضعف ما أؤتمن عليه ، فقد عوقب عن حق بأشد عقاب . لأنه قال : إذ كنت أريد أن أحافظ عليها وألا يأتي منها أي مكسب ، فما كان يجب أن أقدمها ليد العبيد . أما أنت فمن فضلك انتبه إلى محبة الله للبشر ، فقد قدم الذين أؤتمن على خمس وزنات على خمسة وزنات أخرى ، ومن أؤتمن على اثنتين قدم مثلهما ، وكل منهما قد حصل على نفس المكافأة ، لأنه كما قال للأول : &#8221; نعماً أيها العبد الصالح والأمين ! كنت أميناً في القليل فأقيمك على الكثير.  بالمثل قال للثانى: &#8221; نعماً أيها العبد الصالح الأمين ! كنت أميناً في القليل فأقيمك على الكثير &#8221; فمبلغ الربح ليس هو نفسه ( في الحالتين ) ولكن المكافأة واحدة ، هكذا فان الثانى قد أستحق نفس الكرامة ، فالله لا يبالى بمقدار ما يقدم بل بمجهود العاملين ، فهكذا كل منهما قد عمل ما في وسعه ، فزيادة كم الربح المقدم أو قلته ليست بسبب إهمال هذا أو اهتمام ذاك بل لاختلاف مبلغ الوديعة المعطاة ، فذاك نال خمسة وقدم خمسة أخرى ، وهذا نال اثنتين وقدم اثنتين أخريين ، لم يقل أي شيء من مجهوده ، فهو أيضاً قد ضاعف ما قد أؤتمن عليه ( من وزنات ) ، أما الذى نال وزنة واحدة لم يقدم سواها لذلك قد عقب .</p>
<p>فهل سمعتم كم من العقاب المحفوظ لأولئك الذين لا يهتمون أن ينموا ويزيدوا الخيرات الربانية؟ إذن دعونا أيضاً نحفظ ونحرص على تنميتها ، ليتنا نهتم أن ننميها وأن نحاول أن نجعل المكسب منها وفير . فلا يقل أحد: إننى إنسان بسيط إننى تلميذ ، لا أملك القدرة على التعليم ، إننى غير متعلم وإننى لست جدير بشئ . لأنه إن كنت إنسان عامي، وأيضاً مازلت غير متعلم ، وإن كان الرب قد ائتمنك على وزنة واحدة ، فلتحاول أن تزيد تلك الوزنة التي سلمت لك وسوف تنال نفس أجر المعلم ، ولكن فلتحفظوا كل ما قيل ( في اجتماعنا ) وان تنفذوه بكل حرص ، فإننى مقتنع تماماً بأن لا نستنفذ كل حديثنا في هذا الأمر ، فلنتقدم إذن ونقدم لمحبتكم كل ما قد قيل البارحة ، مقدمين لكم هذا الأجر حتى تحفظوه لأن ذاك الذى حفظ ما أؤتمن عليه أولاً مستحق أن ينال المزيد<a href="#_ftn8" name="_ftnref8">[8]</a> .</p>
<h4>القديس برصنوفيوس</h4>
<p>نقاوة القلب والاتضاع والافراز عند القديس برصنوفيوس</p>
<p>نقاوة القلب والاتضاع والافراز</p>
<p>[العمل الداخلي هو انسحاق القلب وهو يجذب الطهارة ، والطهارة تلد سكون القلب الحقاني وهذا السكون يلد التواضع ، والتواضع يصير الإنسان مسكنا لله . وهذه السكني تطرد الأعداء الأشرار مع كافة الأوجاع الرديئة وتحطم الشيطان رئيسهم . تصير الإنسان هيكلا لله مقدساً مستنيراً مطهراً فرحا ممتلئا من كل رائحة طيبة ، وصلاح وسرور ، ويصير الإنسان لابسا لله نعم ويصير إلها لأنه قال « أنا قلت انكم الهه وبني العلى تدعون » فلا يبلبل الشيطان أفكارك قائلا لك أن الأطعمة الجسدانية تمنعك أن تبلغ المواعيد الصالحة ، فليس الاكل كذلك ، لأن كل شئ خلقه الله جيداً أن الذي يخرج من الفم لانه من القلب يخرج وهذا هو الذي يعوق الإنسان أو يمنعه أن يأتي بسرعة إلى المواعيد الصالحة التي قد أعدت له ، فإن أنت تناولت حاجة الجسد فتناول منها بقدر قوة الإنسان على أن يتعب وتتضع أفكاره حينئذ بفتح الله قلبك لتنظر النور الحقاني وتفهم أن تقول أني بالنعمة قد تخلصت بالرب يسوع والذي يريد أن يرضي الله فليقطع هواه لمصلحة أخيه . وإذا فعل ذلك فهو يجد النياح بالرب . شخص يصل إلى السلام في الرب عن طريق أعمال التقوى ، وآخر يبلغ نفس الهدف بالا تضاع ، وعليك أنت أن تبتغي</p>
<p>حصولك على السلام مقابل الطريق الأول والثاني معاً . عندما يكون الغضب قد مات في قلبك بواسطة تهذيب الهيجان ، حينئذ تتحقق كلمة الكتاب لك « أنظر إلى تواضعي » وأغفر لي جميع خطاياي (مز ٢٥ : ۱۸) « لعل الله يحفظ نفسك وجسدك وروحك من كل شر ومن كل مؤامرات الشرير ومن كل الخيالات الرديئة التي تجلب شرود الأفكار » . تنهد إياك أن تحسب نفسك شيئا لا تقارن نفسك بالآخرين في أي شئ ، أترك الدنيا أصعد على الصليب . انبذ كل الأشياء الأرضية أنفض الغبار عن قدميك ، استهن بالخزي (عب ۱۲ : ۲) . لا توقد الأتون مع الكلدانيين لئلا يحرقك غضب الله معهم . اعتبر كل إنسان أفضل منك ، أبك علي ميتك ، أخرج خشبتك من عينيك ، أبن بيتك المهندم ، وأصرخ يا ابن داود أرحمني . كي أبصر (لو ۱۸ : ۳۸-٤١) .</p>
<p>أشته أن تقتني الاتضاع والتسليم ، لا تضر أن يجري أي شئ بحسب أراداتك لأن هذا يولد الغضب ، ولا تدن أو تحتقر أي شخص لأن هذا يثقل القلب ويعمي العقل ومن ثم يقود إلى التراخي أو يقسى مشاعر القلب وتحفظ دائما وتعلم لتفهم ناموس الله ، لأن هذا يجعل القلب حارا بالنار الإلهية . كما قيل &#8220;عندلهجي اشتعلت النار &#8221; (مز ۳:۳۹) . أحس شفتيك من أي كلمة بطالة أو محادثة رديئة لئلا يتعود القلب على كلمات الشر ، اطرح ذالك أمام الله قائلا : اللهم ارحمني أنا الخاطئ (لو ۱۸ : ۱۳) فسيرحمك ويحفظك ويحميك من كل شر ، ليقودك من الظلمة إلى النور الحقيقي ومن الزيف إلى الحق ومن الموت إلى الحياة في المسيح يسوع ربنا . عطيتان يعطيهما الله للإنسان بهما يخلص وينجو من كل أوجاع الإنسان العتيقة : الإتضاع والطاعة . ولكننا لا نشتاق إليهما ولا نريد أن تتوطن فيها ولا أن نسترشد بهما . دع عنك : كل تمایل . أحن عنقك للإتضاع والطاعة فستنال رحمة أن مارست كل ما سمعته عن الآباء في أتضاع من الله سيمنحك نعمته المعينة ليس فقط في الأعمال التي تؤديها بل سينجح كل أعمالك أيضا لأنه يحمي طريق خائفية ويراقب تقدمهم<a href="#_ftn9" name="_ftnref9">[9]</a>.</p>
<h4>مار إسحق السرياني</h4>
<p>1 &#8212; الاتضاع حتى بدون أعمال يستطيع أن يغفر كثرة من الخطايا ولكن بدون الاتضاع حتى الأعمال تكون بلا فائدة بل ومن الممكن أن تؤذى ان الاتضاع هو الملح الذى يصلح لكل أنواع الطعام لأنه هو أساس كل الفضائل ولكى نقتنى الاتضاع يجب أن يفكر الانسان فى نفسه بانسحاق ، ويحتقر ذاته ويحاسبها محاسبة دقيقة  ولكن اذا اقتنينا الاتضاع فسوف نكون أولاد الله بالحقيقة</p>
<p>2-  سئل أحد الأباء عن كيفية اقتناء الاتضاع فأجاب : هو أن يتذكر الانسان خطاياه باستمرار ، وأن يتذكر بأن الموت قريب ، وبالملابس البسيطة ، وبأن  يفضل دائما المتكأ الأخير ، وبأن يختار الانسان بفرح الأعمال والخدمات البسيطة والحقيره ، وبأن لانكون متمردين غير مطيعين ويلزم أيضا الاحتفاظ بالسكوت وعدم محبة اللقاءات والاجتماعات ( يقصد المتوحدين ) وبأن نفضل ألا نكون معروفين ومشهورين ومفضلين فى أى موقع ويقتنى الانسان الاتضاع أيضا حين لا يمتلك أى شىء ملكيه خاصه ( يقصد الرهبان ) وبأن يكره الحديث مع الناس ويتجنب الربح أيضا ( خاص بالرهبان )</p>
<p>وفوق كل هذا يجب أن يرتقى بفكره فوق أن يتهم أو يدين أى شخص وأن يكون فوق الغيرة وألا يكون هو الذى يظلم الآخرين بل يتحمل ظلم الآخرين عليه ويؤدى عمله بأمانة ولا يحمل من هموم العالم سوى هم خلاص نفسه فقط وفى اختصار أكثر نقول أن حياة الغربه على الأرض والانسحاق والعزله هى التى تولد الاتضاع والنقاء فى القلب</p>
<p>3-  الانسان المتضع لا يطلب أو يلتمس شيئا من الله ولا يعرف شيئا يطلب لأجل نواله ولكنه ببساطه يحفظ كل احساسه فى سكوت وينتظر فقط الرحمه والرأفه وما تريد الحكمة الالهية أن ترسله له وينظر بعينيه الى أسفل ووجهه الى الأرض وعيون قلبه العميقه ترتفع الى عتبة قدس الأقداس حيث يسكن الذى فوق الظلمات ، الذى يغطى السيرافيم أعينهم منه ويعرف أن يتكلم ويصلى هكذا فقط &#8221; يارب لتكن مشيئتك &#8221;</p>
<p>4-  الاتضاع هو صفه خفيه يصل اليها القديسون الكاملون عندما تنتهى حياتهم  هذه القوة تعطى عن طريق الهبة والمنحة فقط لهؤلاء الذين كملوا فى الفضائل لأن فضيلة التواضع تحوى كل الفضائل داخلها</p>
<p>5-  واذا سأل أى انسان كيف أقتنى الاتضاع سوف تجاوبه &#8221; يكفى التلميذ أن يكون كمعلمه والصبى كسيده &#8221; (مت ١٠ : ٢٥) أنظر مدى اتضاع الذى أعطانا هذه الوصية اصنع مثله وأنت تقتنى الاتضاع</p>
<p>6-  يتبع الاتضاع قمع الذات والانتصار عليها فى كل شىء ان الاتضاع يقود الى التأمل ويزين الروح بالطهارة ولكن حيث الغرور والقلق المستمر وتضارب الأفكار يوجد الاناء الملوث من كل شىء يقابله ويلوث القلب ان مثل هذا الانسان ينظر لحقيقة الأشياء بعين معيبه ويملأ العقل بصورة ملوثه ولكن الاتضاع يولد انتعاشا روحيا عن طريق التأمل ويوجه صاحبه لكى يمجد الله<a href="#_ftn10" name="_ftnref10">[10]</a></p>
<h3>عظات آباء وخدام معاصرين</h3>
<h4>قداسة البابا تواضروس الثاني</h4>
<p>مفهوم العظمة الحقيقى</p>
<p>هو نفس انجيل اليوم الأول من الصوم الكبير، حيث يقدم مفهوم الرئاسة الروحية خلال الاتضاع الممزوج حبا بدون شهوة للكرامة وبدون تسلط .</p>
<p>ربما وجد كل واحد من الرسل سببا فى نفسه ليكون عظيما عن غيرة :</p>
<p>بطرس &#8230;&#8230;&#8230;&#8230;&#8230;لأنه نطق بالايمان السليم .</p>
<p>يوحنا &#8230;&#8230;&#8230;&#8230;&#8230;..لأنه اتكأ على صدرالمسيح .</p>
<p>متى &#8230;&#8230;&#8230;&#8230;&#8230;.. لأنه ترك الجباية بكلمة واحدة .</p>
<p>توما &#8230;&#8230;&#8230;&#8230;&#8230;&#8230; لأنه كان شجاعا فى المواقف .</p>
<p>يهوذا &#8230;&#8230;&#8230;&#8230;&#8230;..  لأنه كان أمينا للصندوق .</p>
<p>ولكن ما هو المفهوم السليم للعظمة ؟</p>
<p>١- الاتضاع وليس التشامخ : العذراء ( أمة الرب )  داود( كلب ميت وبرغوث واحد )  المعمدان ( يحل سيور الحذاء  بولس ( أول الخطاة مثل السقط ) .</p>
<p>٢- الخدمة وليس التسلط : العذراء ( تخدم أليصابات )  بريسكلا واكيلا ( يخدمان الجميع )  موسى الأسود ( يملأ جرار الرهبان ماء ) .</p>
<p>٣- العطاء وليس التملك والآخذ : الأرملة والفلسين  موسى النبى ( يدعى ابن ابنة فرعون )  أرسانيوس معلم أولاد الملوك  دميانة. هؤلاء قدموا حياتهم للمسيح وليس عطاياهم المادية فقط .</p>
<p>*قانون العظمة : اذا أراد أحد أن يكون أولا فيكون آخر الكل = الاتضاع وخادما للكل = بالخدمة .</p>
<p>ماذا تحمل خدمة الأخرين ؟</p>
<p>ان العظماء الذين خلدهم التاريخ ليس الأغنياء . لقد نسى التاريخ كل هؤلاء ، ولكن الذين لم ينساهم هم من قدموا خدمات للبشرية . ان عمل المحبة وخدمة الآخرين هما أعظم الأشياء .</p>
<p>ماذا تحمل خدمة الأخرين ؟</p>
<p>أولا: تحمل معنى المحبة &#8230;</p>
<p>١- محبة لربنا ( أخدم أولاده) .</p>
<p>٢- محبة لكنيستى</p>
<p>٣- محبة لكل الناس</p>
<p>ثانيا : التواضع &#8230;</p>
<p>١- انكار لذاتى .</p>
<p></p>
<p>٢- كشف لأحطائى .</p>
<p>٣- خادم لأولاد الفادى .</p>
<p>ثالثا : عملى فى كرم المسيح &#8230;..</p>
<p>١- تسديد ديونى .</p>
<p>٢- مشغول فى شىء جميل .</p>
<p>٣- أجرتى فى الآبدية .</p>
<p>انها لفرصة عظيمة لكل انسان ليصبح خادما فى كرم المسيح . الخدمة ليست هى مجرد وعظ ، ولكن ممكن أن تكون خادما بأى طريقه أخرى ، فاذا أحضرت أحد الأفراد معك الى الكنيسة فانك تؤدى خدمة له .</p>
<p>&#8221; القلب عندما يقدم للآخرين خدمة من أجل الرب يسوع ، فان صورة الرب تنطبع عليه</p>
<p>فيستنير بنوره &#8221;         ( أبونا بيشوى كامل )<a href="#_ftn11" name="_ftnref11">[11]</a></p>
<h4>أيضاً لقداسة البابا تواضروس الثاني</h4>
<p>من هو الأعظم  ؟</p>
<p>أريد أن تضع أمامك أول سؤال في أول يوم من أيام الصوم المقدس، وهو سؤال:</p>
<p>&#8220;من هو الأعظم؟&#8221; تخيل معي أن التلاميذ سائرون في الطريق، ثم سأل أحدهم الآخر: &#8220;تعتقد من أعظم أنا أم أنت؟&#8221;، سؤال غريب طبعاً، ثم تخيل الرد وقال أحدهما للآخر: &#8220;أنا الأعظم&#8221;. فقال له الآخر: &#8220;دعنا نذهب لشخص آخر ونسأله في هذا الموضوع&#8221;، وعندما ذهبوا للطرف الثالث وعرضوا عليه السؤ ال نظر إليهما، ثم أجاب وقال: &#8220;لا أنت ولا هو بل أنا الأعظم&#8221; &#8230;</p>
<p>هذا مجرد تخيل، وبدأت الحكاية تنتقل من الثاني للثالث للآخر &#8230; من هو الأعظم؟ - زوج وزوجة في البيت ربما يكون هذا السؤال في داخلهم &#8220;من هو الأعظم؟&#8221; ممكن يكون السؤال بين اثنين خدام، أو اثنين من الآباء في كنيسة واحدة، واحد يقول: &#8220;أنا</p>
<p>هو الأعظم&#8221;، والآخر يقول: أنا القمص &#8230;.&#8221;. قد يكون اثنان من الخدام في خدمة واحدة ، وكل خادم فيهم يرى نفسه أنه هو الأعظم.</p>
<p>وهذا السؤال يا إخوتي يكشف عن خطية رابضة في قلب الإنسان، فإن جاءك وشعرت أن إجابته في شخصك أعرف أنك تقع في خطية كبيرة هي خطية الكبرياء. وممكن السؤال يأتي بصورة أخرى فمثلاً يكون: &#8221; من هو الأقوى ؟ من هو الأحسن؟ من هو الأفضل ؟&#8221;.</p>
<p>وظن أنه يدور في أذهان حضراتكم كيف يفكر تلاميذ المسيح بهذه الطريقة، وقد نسوا أن السيد المسيح في وسطهم، وهو الأعظم منهم كلهم. ويصير هذا المرض الروحي السماء. &#8221; مرض الكبرياء &#8221; في قلب الإنسان، حتى أنه يعوق أن يكون للإنسان نصيب في السماء ونحن في أول يوم من الصوم، وأرجوك أن تعيش مشاعر هذا المعنى، فهذا أول يوم فيه تضع الكنيسة هذه القراءة لئلا تقع في هذه الخطية، أو يكون هذا الضعف في</p>
<p>ولكن ماذا صنت الرب يسوع معنى؟</p>
<p>أجاب يسوع بطريقة عملية، فقد أتى بطفل صغير ووضعه أمام التلاميذ وقال لهم: &#8221; الحق أقول لكم : إن لم ترجعوا وتصيروا مثل الأولاد فلن تدخلوا ملكوت السماوات. فمن وضع نفسه مثل هذا الولد فهو الأعظم في ملكوت السماوات. ومن قبل ولداً واحداً مثل هذا باسمي فقد قبلني&#8221; (مت ۱۸: ۳ : ٥ ) وكأن الطفل الصغير الذي نراه في وسطنا في الحياة هو الإجابة عن سؤال في غاية الأهمية، فهذا الطفل الصغير يمثل إجابة واقعية عما يجب أن تكون حياتك، ليست العظمة بالرئاسة ولا بالمناصب ولا بالألقاب ولا بالقدرات ولا بالمهارات ولا بالسن ولا بالغنى، فليست العظمة هكذا، وإنما هي أن تكون حياتك قامة الملكوت واتضاع الطفولة.</p>
<p></p>
<p>لقد احتضن الرب يسوع الطفل أمام الجميع لكي يعلن محبته لهذه القامة الروحية وهي قامة الطفولة، وقال هذه الإجابة الجميلة : &#8221; إذا أراد أحد أن يكون أولا فيكون آخر الكل وخادما للكل &#8221; (مر ٩ : ٣٥ ) . هذه هي العظمة . وأرجوكم يا إخوتي لا تجعلوا أذهانكم تتلوث بمفاهيم العالم ، فالعالم له مفاهيم أخرى في العظمة &#8221; عظمة المنصب  عظمة اللقب  عظمة المكان &#8220;، وكل هذا لا يوجد في حياتنا المسيحية .</p>
<p>العظمة في مسيحيتنا هي أن يكون الإنسان آخر الكل ، وخادماً للكل . وأرجو أن تدخل هذه الحقيقة إلى وعيك، فالزوج أو الزوجة يصير هو أوهي عظيما بمقدار التعب والخدمة.</p>
<p>لذلك كيف يرى الإنسان ذاته في حياته؟ أن يكون آخر الكل وخادماً للكل .</p>
<p>( أمثلة )</p>
<p>١ - إبراهيم أبو الآباء:</p>
<p>في القديم نقرأ عن إبراهيم أبي الآباء، وعن ابن أخيه لوط والنزاع الذي قام بين رعاتيهما ، فنجد أن إبراهيم أبا الآباء الذي يدرك أن العظمة في أن يكون آخر الكل وخادماً للكل ، ماذا تفعل يا أبانا إبراهيم ؟ قال إبراهيم للوط : &#8221; اختر ما تحب ، اختر أنت أولاً وأنا اصير آخراً . وينجح إبراهيم في هذا الاختبار، ويقول عنه الكتاب وعن كل أيام حياته &#8221; فامن إبراهيم بالله فحسب له برا &#8221; (رو ٤ : ٣ ) ، لذلك نسميه (أبو الآباء) ، فهذا العظيم جعل نفسه آخر الكل ، وهذه هي العظمة. أما إذا امتلأ عقل الإنسان بالتمرد والعناد ورأى نفسه أعظم من أخيه، فسوف تزداد المشكلة حجماً ولا يتخلى أحدهما عن العناد وتظل المشكلة موجودة.</p>
<p>٢- العذراء مريم : أمنا العذراء التي حملت ابن الله الكلمة القدوس، وخدمتها للقديسة أليصابات التي حملت بيوحنا المعمدان، تلك المرأة التي كانت عاقراً، وبلا شك أمنا العذراء هي الأولى وهي العظيمة، فبمجرد أن أتتها البشارة بحبل ابن الله القدوس وهي بتول ودائمة البتولية، وهي الصبية الصغيرة، وتسمع أن قريبتها أليصابات حبلى بابن في شيخوختها، تنسى نفسها وتنسى العظمة التي هي فيها، وتنسى الجنين الذي في بطنها وتسرع في طرق غير ممهدة لكي تصل لأليصابات، وبالفعل تصل إليها وتقوم بخدمتها طوال فترة حبلها، بالرغم من أنها أم الله القدوس، لكنها كانت تدرك جيداً أنها آخر الكل وخادمة للكل، وهذه هي المسيحية.</p>
<p>٣ يوحنا المعمدان والسيد المسيح :</p>
<p>يوحنا المعمدان ولد قبل المسيح بستة أشهر، وهذا يشير أن يوحنا أكبر سنا من السيد المسيح ، لكن من ناحية العظمة المسيح هو الله الذي ظهر في الجسد ، أما يوحنا المعمدان فيحسب إنه نبي ، وبالرغم أن يوحنا كان له مكانة في المجتمع اليهودي وكانت له مهابته ، وكان منظره ممتلئ وقار، وهو ناسك من نُساك البرية ، لكن عندما يأتي السيد المسيح إليه يمنعه القديس يوحنا قائلا : &#8221; أنا محتاج أن أعتمد منك، وأنت تأتي إلي ! &#8221; (مت ٣ : ١٤ ) ،  و &#8221; لست أهلا أن أنحني وأخل سيور جدائه &#8221; (مر ١ : ٧ ) . أما السيد المسيح قال له : &#8221; اسمح الآن ، لأنه هكذا يليق بنا أن نكمل كل بر&#8221; (مت ٣ : ١٥). عجبي على هذا الاتضاع ، يوحنا المعمدان يقول : &#8221; ينبغي أن ذلك يزيد وأني أنا أنقص &#8221; (يو٣ : ٣٠ ) .  يا لمثل هذه العظمة الممزوجة بالاتضاع مع الطاعة بدون كبرياء أو عناد، و بدون أن يرى الإنسان ذاته، وأنه بذكائه أو مهاراته أو إمكانياته صار في هذه العظمة.</p>
<p>ضع أمامك القاعدة التي تجعلك عظيماً وهي أن تكون آخر الكل وخادماً للكل، وهذه هي العظمة المحسوبة لك في السماء.</p>
<p>أريد أن أوضح لك أن كبرياء الإنسان جعله يصل إلى حالة رديئة، ففي (رؤ ٣: ١٧ ) ، يقول لملاك كنيسة اللاودكيين &#8221; لأنك تقول : إني أنا غني وقد استغنيت ، ولا حاجة لي إلى شيء &#8221; ، وهذه هي قمة الخطية ، فدائما تكون هذه هي نظرة الخاطئ المتكبر لنفسه ، أما نظرة الله له فهي عجيبة جدا يا إخوتي، حيث يقول له الوحي الإلهي : &#8221; ولست تعلم أنك أنت الشقي والبئس وفقير وأعمى وغريان &#8221; (رؤ ٣ : ١٧). وهذا يعني قمة الضعف والخطية ، فحالتك صعبة جدا لمن يمتلك مثل هذه الأفكار. ونقرأ عن نفس المشكلة في رسالة يوحنا الرسول الثالثة عن &#8221; ديوتريفس &#8221; الذي أحب أن يكون أولاً (٣ يو ١ : ٩ ) .</p>
<p>* من هو الأعظم ؟</p>
<p>تجيب المسيحية عن هذا السؤال بثلاث درجات هي :</p>
<p>(١ ) يجب أن يكون المسيح أولاً في حياتك في كل شيء ، يقول القديس بولس الرسول : &#8221; فإذا كنتم تأكلون أو تشربون أو تفعلون شيئاً ، فافعلوا كل شيء لمجد الله &#8221; (١ كو ١٠ : ٣١). أي عمل أو مسئولية أو حياة جديدة اجعل الله أولا ، اجعل مسيحك أولا، إن كان زواج فاجعل المسيح أولاً ، وإن كان عمل وربنا أرسل لك خيراً منه فيكون للمسيح أولا، حتى الوقت وبداية يومك اجعل المسيح أولا.</p>
<p>(٢ ) الآخر ثانياً ، فيجب أن تكون محبة المسيح أولا، والتي من خلالها أعطى لي محبة الأب والأم والأخ والأخت والزوج والزوجة.</p>
<p>(٣ )  نفسك (أنت) وهي آخر الكل وخادم الكل ، ليس مهماً أن تكون أولا في عين الناس، ولكن الأهم أن تكون أولا في عين المسيح، تكون عظيماً في عين المسيح ، وإن كنت فعلا هكذا سيصنع معك المسيح كما صنع في هذه الإجابة حيث أقام طفلا في الوسط واحتضنه ، وتسمع صوت المسيح وكأنه يقول لك : هوذا فتاي الذي اخترته حبيبي الذي سرت به نفسي .</p>
<p></p>
<p>هذه هي صورة الحياة ، لذلك يقول : &#8221; لأن من سقاكم كأس ماء باسمي لأنكم للمسيح، فالحق أقول لكم : إنه لا يضيع أجره &#8221; (مر ٩ : ٤١)، لذلك عليك أن تعرف أن كل ما تفعله من أجل المسيح ، سوف يعطيك المسيح الخير الكثير . إذا لا بد أن تتعلم أن تحتمل ضعفات الآخرين ، وتتعلم أن تخدم الآخرين ، وابحث عن عظمة الخدمة وليس عظمة المنظر .</p>
<p>وهنا نتساءل ماذا تفعل لكي تستطيع أن ثجيب على سؤال: من هو أعظم ؟</p>
<p>(۱) جاهد ضد ذاتك ، وادرس ذاتك التي قد تتمرد عليك ، فقد تحرمك ذاتك من أبديتك ، هذه الذات أحياناً نسميها &#8221; الكرامة &#8220;، فهناك من لا يستطيع أن يقول: &#8221; متأسف &#8221; أو &#8221; أخطأت &#8220;، فلا تطاوعه نفسه، مع أنه لو قال : &#8221; أخطأت &#8221; يمكن أن تنحل المشكلة.</p>
<p>دائماً ننصح الأزواج والأسر والآباء والأبناء أنه توجد كلمتان تجعلان البيت في سلام هما : &#8221; حاضر وأخطأت &#8221; فهما تجعلان الأمور سهلة جداً ، أما الإنسان الذي يبرر الخطأ كما فعل آدم في القديم وبدأ يبرر خطأه أمام الله فتكون النتائج عكسية . إذا الإنسان العظيم يستطيع أن يقول : &#8221; حاضر وأخطأت &#8220;، وفي الأمثال العربية &#8221; قول نعم يزيد النعم &#8220;، وهي تترجم في الأدبيات النُسكية &#8221; ابن الطاعة تحل عليه البركة &#8220;، فعليك أن تجاهد ضد ذاتك .</p>
<p>(۲) تعلم غسل الأرجل. قبل الصليب في يوم خميس العهد جمع السيد المسيح تلاميذه وبدأ يغسل أرجلهم، ولكن بطرس اعترض وقال: &#8221; لن تغسل رجلي أبدا &#8221; (يو ١٣ : ٨) ولكن السيد المسيح أصر وقال له &#8221; لست تعلم أنت الآن ما أنا أصنع ، ولكنك ستفهم فيما فيما بعد &#8221; (يو ۱۳ : ۷). ولكن السيد المسيح أ صر وقال له: &#8221; لست تعلم أنت الآن ما أنا أصنع، ولكنك ستفهم فيما بعد &#8221; ( يو ١٣ : ٧ ) .</p>
<p>غسل الأرجل هو درس الاتضاع الذي قدمه ربنا يسوع قبل الصليب مباشرة ، وعليك أن تتعلم غسل الأرجل ، تعلم الإنحناء والاتضاع ، فهذا لا يلغى من شخصيتك أبداً فشخصيتك محفوظة وكرامتك مصونة ، ولكن في قلبك ينبغي أن يكون هذا الشعور</p>
<p>(٣ )  تعلم أن تخدم الآخرين حتى لو كانوا أصغر منك، أو كانوا أقل منك مرتبة أو مكانة .</p>
<p>(٤ ) ثق دائماً في وعود الكتاب المقدس ، فهذا وعد من السيد المسيح ، وأرجوك عليك أن تلاحظ بداية الوعد إذ قال : &#8221; إذا أراد أحد أن يكون أولا، فيكون آخر الكل &#8221; (مر ٩ : ٣٥ ) ،  فمثلاً هناك في إحدى الكنائس نجد الشمامسة يتنازعون على من يرنم الألحان ، من فيهم صوته أحلى من الثاني ؟! وفي مكان آخر يجتهد كل واحد في تقديم الآخر، وكيف يكون آخر الكل.</p>
<p>إذا جعل الإنسان نفسه أول الكل ، فماذا يقول عندما يقف أمام المسيح ؟</p>
<p>(٥ ) تذكر نهاية العمر، فعندما تنتهي حياة الإنسان على الأرض، ماذا تقول عندما تقف أمام الديان العادل ؟</p>
<p>إذا جاهد ضد ذاتك، تعلم غسل الأرجل ، اخدم الآخرين ، ثق في وعود الله ، وأخيراً تذكرنهاية العمر . قف واطلب من الله ألا يدخل هذا الفكر إلى قلبك ، واطلب أنك تعيش على هذا الوعد</p>
<p>، وأنك تكون الأول في عين ربنا عندما تكون آخر الكل وخادماً للكل<a href="#_ftn12" name="_ftnref12">[12]</a>.</p>
<h4>المتنيح الأنبا غريغوريوس</h4>
<p>الأنبا بولا السائح</p>
<p>قيل أنه أول النساك المتوحدين في صحراء مصر الشرقية. وكان من طيبة (وهي الأقصر) في صعيد مصر، دخل مدارس الفلاسفة وتعلم اللغتين القبطية واليونانية، ومات والداه عندما بلغ الخامسة عشرة من عمره فنازعه زوج شقيقته في المال والعقار الذي تركه والداه .</p>
<p>وقيل أنه في أثناء هذا النزاع خرج إلى الطريق فرأى ميتا يشيعه الناس إلى مقره الأخير، فتأمل في معنى الحياة، وسأل أحد الناس وهو متأثر وكأنه يعظ نفسه هل حمل هذا الميت إلى قبره مالاً أو عقارا؟، فأجابه محدثه ومن من الناس يحمل إلى القبر معه شيئاً؟، فسمع بولا هذا الجواب، وكأنه صوت من السماء. وفرح لأنه وجد فيه حلا للنزاع القائم بينه وبين زوج شقيقته ومضى للتو، بعد أن ترك كل شئ، ليختلي في مكان منعزل في الصحراء الشرقية، ووجد مغارة بالقرب من عين ماء ونخلة. فسكن المغارة مصليا وكان يستقى من عين الماء ويأكل بلحاً من ثمر النخلة حتى بلغ من العمر ثلاثا وأربعين سنة.</p>
<p>وقيل أن الأنبا بولا كان يعتزم في مبدأ الأمر أن يعود إلى العالم بعد فترة من الزمان، ولكنه بعد أن ذاق لذات الحياة الروحية ونعيم الوحدة والسكون والعشرة المقدسة . الله عدل عن فكره ، وآثر البقاء في الصحراء بل زاد على ذلك بأن دخل البرية الجوانية. وقد قال هو نفسه وإن الظروف هيأت لي طريق الفضيلة .</p>
<p>إن ذلك القديس بولا أخفى نفسه ولكن الله شاء أن يشهره ليعلم الناس فضله. ذلك أن القديس أنطونيوس الملقب بأبي الرهبان كان قد اعتزل هو الآخر في البرية للتعبد، ولم يعلم أحدهما بالآخر. فلما أن بلغ الأنبا أنطونيوس التسعين من عمره أعلمه الرب بصوت من السماء أنه قد تقدمه في هذه البرية رجل فاضل، فاشتاق القديس أنطونيوس من كل قلبه إلى رؤية الأنبا بولا، فسافر يومين وليلة وهو لا يكف عن الصلاة طالباً من الله الإرشاد، وأخيراً رأى وحشاً فتعقبه. ولما خيم الظلام بحث عن مكان قريب يأوى إليه، فصادف مغارة ولمح في داخلها نور سراج،فعلم أنه قد وجد ضالته المنشودة. وأخذ يقرع باب المغارة ولكن الأنبا بولا لم يفتح له، فصار يبكي ويقول إنى واثق أنك تعلم من أنا، ومن أين جئت ولماذا أتيت؟ وسوف لا أبرح هذا المكان حتى أبصرك فهل يمكنك يا من قبلت الحيوانات أن تطردني أنا الإنسان؟ وبعد وقت فتح له القديس ثم تعانقا وسلم كل منهما على الآخر باسمه كأنه يعرفه من زمن، ثم جلسا يتحدثان ويتسامران. وسأل القديس بولا عن أهل العالم عندما تركه أنطونيوس فأجابه بما يعرف .</p>
<p></p>
<p>وحلق غراب فوق رأسيهما ونزل وترك لهما رغيف خبز. فقال الأنبا بولا: مبارك الرب الإله الذي لا ينسى عبيده بل يتعهدهم بمراحمه. إن لي ستين سنة والغراب يأتيني في كل يوم بنصف رغيف خبز. وأما اليوم فقد أحضر لنا رغيفاً كاملاً وهذا من أجلك أنت أيضاً.</p>
<p>وقال الأنبا بولا لزميله القديس: لقد عرفت منذ زمن أنك تسكن البرية، وقد وعدني الله بأنك ستزورني وتواريني التراب. والآن قد جاء الوقت الذي انطلق فيه من هذا العالم. وها أنا أطلب إليك أن تعود إلى ديرك وتوافيني بالرداء الذي دفعه إليك البابا أثناسيوس الرسولي لكي تواريني به. فبكى أنطونيوس متأثراً من هذا الوداع، ولكنه أطاع رغبة الشيخ القديس، وعاد إلى الدير بعد أن تبارك من القديس ورجع بالرداء المطلوب. وعندما اقترب من مغارة الأنبا بولا شاهد عدداً كبيراً من الملائكة في الفضاء يرتلون وبينهم نفس البار الأنبا بولا. ولما دخل المغارة اعترته حيرة لأنه رأى جسد القديس جاثياً على ركبتيه ويداه مبسوطتان ورأسه مرتفع وكأنه يصلى. فجثا بجانبه يصلى. ولما لم يسمعه يتأوه أو يتنهد حسب عادته تأمله فتحقق أن الجسد بلا روح . وألبسه الثوب، وقام ليواريه التراب، ولكنه تبين أنه في حاجة إلى أدوات للحفر. فأرسل الرب له أسدين أقبلا عليه، فرسم لهما على الأرض حدود القبر فجعلا يحفران حتى أعدا له القبر فدفن فيه القديس وواراه التراب وصرف الأسدين، وعاد هو إلى ديره بعد أن أخذ معه ثوب الأنبا بولا المنسوج من أوراق النخيل، وصار يرتديه في الأعياد والمواسم المقدسة تبركا بالقديس، وكانت حياة الأنبا بولا نحو ١١٣ سنة، أمتدت بين سنة ٢٢٨ وسنة ٣٤٢م.</p>
<p>وقد قال أحد الآباء القديسين معقباً على حياة هذا الراهب السائح وموبخاً الأغنياء المترفين «إنى أسأل الأغنياء الذين لا يعرفون كمية ثرواتهم لزيادتها (لكثرتها) والذين يسكنون المنازل الفسيحة المزينة بكل أنواع الزينة والزخرفة: ما الذي أعوز هذا الشيخ الذي تعرى من كل غنى؟ ها أنتم تشربون في كؤوس من ذهب وفضة وهذا بولا كان يطفئ عطشه بكف يده .</p>
<p>أنتم تلبسون البز والبرفير وهذا كان يرتدي ثوباً من النخيل.غير أن  الامرسوف لا يدوم على هذا الحال .. فها إن السماوات قد انفتحت لبولا المسكين، وأما أنتم فستهبطون مع جميع كنوزكم إلى الهاوية. وهو قبر في لحد ليقوم للمجد، وأما أنتم فتدفنون في قبور من الرخام والمرمر لتحترقوا إلى الأبد<a href="#_ftn13" name="_ftnref13">[13]</a>&#8220;.</p>
<h4>المتنيح القمص لوقا سيداروس</h4>
<p>مثل المتكأ الأخير</p>
<p>فماذا رأى الرب فى المدعويين الذين اختاروا المتكأت الأولى ؟ رأى كيف تُترك شهوتهم فى دواخلهم تدفعهم دفعاً الى المتكأت الأولى كل واحد يذكى ذاته ، يرى فى نفسه أنه أحق بالمكان الأول والمكانة الأولى ، قد يُمدح الانسان من آخرين ، وقد يتزكى من الناس ، يقبل مديحهم وينتفخ بتذكياتهم ويغتر فى ذاته ويتعظم ، وهذا فى عُرف الروح مرفوض ، لأن ليس من يمدحه الناس هو المُزكى أما أن يُزكى الانسان ذاته ويشعر فى نفسه أنه الأول والأكبر والأعظم ، فهذا قمة الكبرياء التى هى أصل الشرور والرب يسوع لا يترك مناسبة يرد فيها الانسان الى طريق الحياة ويعيده الى النور الا وينتهزها وينطق بكلمات الحياة لعل الانسان يرجع عن طريقه الردية ويفيق من غفلته ، ان كلمة المسيح حية وفعالة ، تنبه وتصحح المسار ، تدعو الى الحق وتقود اليه ، تجرح وتعصب فى آن واحدفلم يرد الرب بهذا المثل أن يكشف أغوار هؤلاء المدعوين فى تصرفهم بقدر ما أراد أن يقودهم الى التوبة والى الشفاء الروحى من هذا المرض العضال .</p>
<p>اسمع ما قاله الرب :</p>
<p>+  &#8221; متى دُعيت من أحد الى عُرس فلا تتكىء فى المتكأ الأول ، لعلّ أكرم منك يكون قد دُعى منه  فيأتى الذى دعالك واياه ويقول لك : أعط مكاناً لهذا  فحينئذ تبتدىء بخجل تأخُذُ الموضع الأخير &#8221; (لو ١٤: ٨-٩)</p>
<p>النسيح فى وداعته يعاتب بلطف شديد وفى قدرته يخلّصِ كجبار فيقول : &#8221; لعل أكرم منك قد دُعىّ منه &#8221; فهو لا يحط من قدر الانسان بل بلطفه الشديد ينبه الذهن الى حقيقة واقعة ولكنه يقول ما معناه لعله يوجد من هو أكرم منك منزلة عند الذى دعاك فهو يضع هذه الحقيقة مبدئياً كاحتمال قائم حتى اذا ما تفطن لها الذهن يبتدىء يتقدم فى طريق الكمال فالواضح أن كلاً من المتكئين لم يكن يرى سوى ذاته العين مركزة على الذات ، فلا يرى ما عداها ، يستطيع الانسان أن يتعلم دروساً نافعة اذا ما عبر ماراً بحياة الأكثرين الذين سبقوه وسجل الكتاب المقدس تاريخ نجاحهم أو فشلهم على السواء ، فيتتلمذ على أيدى الذى أرضوا الرب ويتحذر لنفسه أخذاً عبرة من حياة الآخرين خذ مثلاً هامان الوزير المتغطرس فى أيام أحشويروش الملك ، حين سأله الملك قائلاً : &#8221; ماذا يُعمل لرجل يُسَرُ الملك بأن يُكرمه &#8221; (أس ٦:٦) ففى الحال قال هامان فى قلبه : من يُسرُ الملك بأن يُكرمه أكثر منى ؟ وفى الحال اذ كان قد أغتر فى نفسه وصار يدور فى دائرة عبادة الذات البغيضة ، نسج فى فكره الداخلى كيف يُمجد ذاته بكل أنواع المجد، فقال للملك : &#8221; ان الرجل الذى يُسرُ الملك بأن يُكرمه يأتون باللباس السُلطانى الذى يلبسه الملك ، وبالفرس الذى يركنُهُ الملك ، وبتاج الملك الذى يُوضع على رأسه ، ويُدفع اللباس والفرس لرجل من رؤساء الملك الأشراف ، ويُلبسُون الرجل الذى سُرّ الملك بأن يُكرمه ويُركبونه على الفرس فى ساحة المدينة ، وينادون قدامه : هكذا يُصنع للرجل الذى يُسرُ الملك بأن يُكرمه &#8221; (أس ٦: ٧- ١٠) فقال الملك لهامان &#8221; أسرع وخذ اللباس والفرس كما تكلمت ، وافعل هكذا لمُردخاى اليهودى الجالس فى باب الملك ، لا يسقط شىء من جميع ما قُلتهُ  &#8221; (أس ٦: ١٠) أى خجل وأى حزن وأى هوة سحيقة انحدر اليها هامان فى هذه اللحظات إإ ظن فى نفسه أنه أعلى من الكل ، واحتقر مردخاى وجهز له خشبة ليصلبه عليها فى ذات اليوم ، فأنقلبت الدوائر عليه حقاً ان قبل الكسر الكبرياء وقبل السقوط تشامخ الروح وعلى العكس تماماً تجد رجال الله القديسين يضعون أنفسهم دائماً فى آخر المتكأت اذا دعاهم الرب الى وليمته وعرسه الحقيقى ، أو دعاهم ليرسلهم فيكونوا معه وله  اسمع ماذا يقولون وكيف فى انكار الذات يعتذرون فها موسى رئيس الأنبياء يعتفى ويقول : &#8221; لست أنا صاحب كلام مُنذُ أمس ولا أول من أمس ، ولا من حين كلمت عبدك ، بل أنا ثقيل الفم واللسان &#8221; (خر ٤: ١٠) وقد رأى نفسه آخر الكل وليس مستحقاً لهذه الدعوة بل حسب أن أى أحد آخر يكون أكثر استحقاقاً  فقال للرب &#8221; أرسل بيد من تُرسل &#8220;(خر ٤: ١٣) وها ارميا النبى يعتذر فى اتضاع للرب الذى دعاه فيقول : &#8221; آه ، يا سيدُ الرب ، انى لا أعرف أن أتكلّم لأنى ولدُ &#8221; (ار ١: ٦) انه يرى نفسه أنه صغير ، ولا يرى ذاته متضخمة ومستحقة لهذه الارسالية ، وهذا المتكأ الأول ، بل يرى أنه ان جاز له أن يتكىء ففى المتكأ الأخير آخر الكل لأنه ولد وقد كان جواب الرب لارميا النبى &#8221; لا تقل أنى ولد &#8221; وقواه وآزره وكان الرب معه ومد يده ولمس فمه وقال له ها قد جعلت كلامى فى فمك وقال : &#8221; وكّلتُكَ هذا اليوم على الشعوب وعلى الممالك ، لتَقلعَ وتهدم وتُهلك وتنقُض وتبنى وتَغرس &#8221; (ار ١: ١٠) فكان لما اتضع ارميا واختار آخر المتكأت أن الرب رفعه وجعله فى المتكأ الأول  وجعله كارزاً للشعوب وهكذا جدعون الذى صنع الرب به خلاصاً عندما قال له ملاك الرب &#8221; الرب معك يا جبار البأس &#8221; ، أنه قال فى اتضاع عجيب &#8221; أسألك يا سيدى ، بماذا أخلّص اسرائيل ؟ ها عشيرتى هى الذُلّى فى منسى ، وأنا الأصغرُ فى بيت أبى ، فقال له الرب انى أكون معك &#8221; (قض ٦: ١٥- ١٦) والقديس يوحنا المعمدان عندما رأى فى نفسه أنه غير مستحق أن ينحنى ويحل سيور حذاء الرب ، وأختار لنفسه هذا المتكأ الأخير دعاه الرب الى المتكأ الأول وجعله يضع يده عليه ويُعمده فى نهر الأردن.وفوق الكل القديسة العذراء والدة الاله عندما أعلنت أنها أمَة الرب بأعلى مقاييس الاتضاع رفعها الرب لتكون فوق السماوات وأعلى من الشاروبيم لأنها صارت أمُهُ وعرشُه وسماءهُ الجديده وبولس الرسول ، انظر كيف كان يدعو نفسه &#8221; وآخر الكل – كأنه للسقط – ظهر لى أنا  لأنى أصغر الرسل ، أنا الذى لست أهلاً لأن أدعى رسولاً ، لأنى اضطهدتُ كنيسة الله &#8221; (١كو ١٥: ٨- ١١) الى آخر هذه الأوصاف التى تدل على الانسحاق الكامل وأنه لا يحسب نفسه شيئاً وأن نفسه غير ثمينة عنده ، هذا قد مجده الرب وشرّفه بآيات وعجائب وأصعدَه الى السماء الثالثة وأراه أموراً لا يسوغ لانسان أن يتحدث عنها ، وكما اختار لذاته المتكأ الأخير أجلسه الذى دعاه فى المتكآت الأولى ومجدّه أمام جميع المتكئين فى وليمة عرس عشاء الخروف .</p>
<p>ولكن ما هو سر المتكأ الأخير ؟</p>
<p>ان النفس التى تسعى فى اتضاع الى المتكأ الأخير تحظى بمجد لا يُنطق به اذ أنها تجد رب المجد يسوع ينتظرها هناك لقد اختار الرب يسوع هذا المتكأ بالذات وجلس فيه منتظراً النفوس المتضعة ليكللهاهناك ويمجد اتضاعها ويرفعها ففى أيام تجسده مجّد هذا المتكأ وجعله منهجاً روحياً وسلماً منصوبة من الأرض للسماء. فهو قد وُلدَ فى مزود ، كأخر الكل ، وقال أحدهم أنه تنازل عن أخر موضع فى الفندق لأخر ورضى هو بالمزود وقال عن نفسه : &#8221; للثعالب أوجرةُ ولطيور السماء أوكارً ، وأما ابن الانسان فليس له أين يسندُ رأسه &#8221; (مت ٨: ٢٠) وعاش حياته على الأرض بعيداً عن بيوت الملوك وقصور الرؤساء وحرير التنعم العالمى ورفض أن يجعلوه ملكاً وجاز فى وسطهم ومضى وقال : مَجداً من الناس لست أقبل. وجلس يَغسل أقدام تلاميذه ويُنشفها وقال : أنا بينكم كالذى يخدم  &#8221; ابن الانسان لم يأت ليُخدم بل ليَخدم ، وليبذل نفسه فدية عن كثيرين &#8221; (مت ٢٠ : ٢٨) وأخيراً قبلَ عار الصليب وارتضى بالخزى واستهان بالعار من أجل السرور الموضوع أمامه فهل يوجد متكأ أخير بعد هذا المتكأ ؟ فمن يطلب بعد هذا المتكآت الأولى فلا يكون تلميذاً ليسوع  &#8221; لأن ليس العبد أفضل من سيده ولا التلميذ أعظم من معلمه&#8221;هذا هو روح المسيح وهذا هو سر المتكأ الأخير الذى جعل الآباء القديسين يسعون فى أثر خطواته ويرفضون المتكآت الأولى باصرار حتى الموت. فها القديس باخوميوس أب الشركة يهرب من درجة الكهنوت وكرامتها فيطلبه القديس أثناسيوس الرسولى وترفعه الكنيسة الى أعلى المراتب والمتكآت الأولى  ويشهد تاريخ الكنيسة أن كثيراً من الآباء البطاركة والأساقفة كانوا يهربون من هذه الكرامة العظمى ويرون أنفسهم غير مستحقين  فكانوا يأتون بهم مقيدين بسلاسل ويرسمونهم قسراً رغماً عن ارادتهم وهم يزرفون دموع الاتضاع وعدم الاستحقاق وكان الرب يرفعهم فى زمان الافتقاد ويُظهر مجده فى ضعفهم قال القديس ماراسحق : أن من يجرى وراء الكرامة تَهرب منه ، ومن يهرب منها بمعرفة تتبعه وترشد الكثيرين اليه</p>
<p>ماذا بعدما يختار الانسان المتكأ الأخير :</p>
<p>يأتى الذى دعاك ويقول لك يا صاحب ارتفع الى فوق فيكون لك مجداً أمام المتكئين معك شتان بين من يُمجده الناس أو يُمجد نفسه أمام الناس وبين ما يرفعه الله ويمجّده أمام المتكئين معه ان الرب يسوع سوف يُمجد قديسيه فى المحفل السماوى عندما يأتى فى مجيئه الثانى المخوف وجميع الملائكة القديسين معه متى جاء ليتعجب منه فى المجد سوف يُكلّل قديسيه بالكرامة ، الذين احتملوا من أجله ، الذين حملوا الصليب وطافوا فى جلود غنم وجلود ماعز مَكروبين مُذلين وسكنوا الجبال والمغاير وشقوق الأرض محبة فى الملك المسيح ، الذين لم يكن العالم مُستحقاً لهم الذين لم ينكروه بل اعترفوا به وأحبوه وحفظوا وصاياه وصاروا كغرباء عن العالم واتخذوا المتكأ الأخير بكامل ارادتهم وارتضوا بالضيق وصبروا على الآلام  الخ</p>
<p>سوف يعترف بهم ابن الانسان أمام ملائكة الله وعوض الأتعاب والضيقات فى هذا العالم وعوض ما عاشوا مجهولين من الناس سيُمَجَدون أمام الملائكة وربوات القديسين &#8221; لأن كل من يرفع نفسه يتّضع ومَن يضع نفسه يرتفع &#8221; (لو ١٤: ١١)</p>
<p>هكذا قال ربنا فى ختام المثل ليقود نفوسنا فى دروب الاتضاع بالارادة لكى يرفعنا بالنعمة ويمتعنا بمعيته الى أبد الأبد  أمين .</p>
<p>المدعوون الى العشاء:</p>
<p>قال الرب وهو فى بيت الفريسى للذى دعاه: &#8221; اذا صنعت غداءً أو عشاءً فلا تدعُ أصدقاءك ولا اخوتك ولا أقرباءك ولا الجيران الأغنياء ، لئلا يدعوك هم أيضاً &#8220;( لو ١٤: ١٢)</p>
<p>المتكأ الأخير (لو ١٤: ٧) :</p>
<p>&#8221; وقال للمدعوين مثلاً ، وهو يُلاحظ كيف اختاروا المتكآت الأولى قائلاً لهم  &#8221;</p>
<p>يجب أن ننتبه أولاً أن ربنا يسوع قائم فى كل مكان يلاحظ تصرفاتنا ويرصد حركاتنا ، اذ ليس شىء يُخفى عليه ، بل عيناه تجولان فى كل الأرض ، وكل أعمالنا مكشوفة وظاهرة بل ان ما نظن أنه يَجرى فى الخفاء مُعلن أمامه لأن عيناه تخترقان أستار الظلام فيا ليتنا نفطن الى وجود يسوع بحاستنا الروحية ، ونعمل حساباً لكونه يلاحظ تصرفاتنا ، فنتصرف كما يليق بوجوده ، وكما يحق للدعوة التى دُعينا اليها اذ اننا مدعوون لا الى عرس أو حفل من هذا العالم بل الى عرس أبدى وفرح لا يزول ولتعلم يقيناً أن عينا الرب يسوع تلاحظان حركتنا الباطنية قبل أن ترصد تصرفاتنا الخارجية ، فسريرتنا وقصدنا ونيتنا التى تخفى على الناس غير خافية عليه<a href="#_ftn14" name="_ftnref14">[14]</a> .</p>
<p></p>
<h4>كتاب الصديق الدائم</h4>
<p>سكون الله</p>
<p>« لانه هكذا قال السيد الرب قدوس اسرائیل. بالرجوع والسکون</p>
<p>يخلصون بالهدوء والطمأنينة تكون قوتكم» (اش ٣٠ :١٥) .</p>
<p>ابتعد عن هذا الرجل عن صخب المدينة وشق طريقه جالساً في</p>
<p></p>
<p>سكون قرى الله متأملا الطبيعة والمياه الساكنة وكان يفکر&#8230;</p>
<p>في تلك الارسالية التي كان يجلس بجانب مدخلها، عاش أنقياء ادوا</p>
<p>أعمالهم بهدوء وحضرت لهم نفوسا بهذا الهدوء الشديد راجعة أيضاً</p>
<p>مثلما حضرت . بينما يندفع محبو العالم نحو الطريق الضال حيث</p>
<p>يناضلون في مدنها المزدحمة من اجل الذهب والمجد والمتعة</p>
<p>والمهرجانات البراقة ، وكأن كل هذا ذا قيمة. و يخيل إليهم أنهم قد</p>
<p>أحرزوا نصراً أكبر !  وتعلو الهتافات الصاخبة والمشاحنات القوية</p>
<p>ويقولون : لقد عمل هذا الرجل النشط في العالم ولكن عندما يهدا</p>
<p>الانسان إلى نفسه في سكون الله يقول : « وماذا بعد هذا الض</p>
<p>إنه من المجدي أن نختلى بأنفسنا هكذا من وقت لآخر كي نختبر</p>
<p>نفوسنا في السكون کما تغني الشاعر قائلا : « ضجيج العالم يدوى</p>
<p>في أذني &#8230; حمداً لله من أجل ضجيج العالم » . لأنه وسط</p>
<p>الضوضاء والاندفاع يذهب بعضنا لكسب عيشه والبعض الآخر</p>
<p>يرفع يده لانقاذ البشرية وآخر يحاول تخفيف الآلام – او بمعنی أصح</p>
<p>يناجی نعمة الله کی تحل في النفوس المتعبة ، ولكن يجب الابتعاد</p>
<p>عن ضوضاء العالم من وقت لآخر والاختلاء بأنفسنا حتى نقف برهة</p>
<p>و نستمع إلى الله وحده.</p>
<p>فنحن نحتاج إلى سكون الله بغض النظر عن مكان عيشنا أو ماهية</p>
<p>أعمالنا . أحياناً نستطيع الاختلاء بأنفسنا فنجد السكون حقاً في الجسد</p>
<p>والنفس بعيداً عن روتين الحياة.</p>
<p>يجب إذاً دفع أنفسنا إلى هذا الهدوء الذي سمي بحق ( طريق النفس )</p>
<p>– ولكن نادراً ما يكون هذا الامتياز من نصيبنا !! ولكننا في أشد</p>
<p>الاحتياج إلى هذه الخلوة التي هي حقاً – مسکن الشجاع . و نحصل</p>
<p>على هذه الوحدة وهذا السكون عندما نجثو في الصلاة و نطرح الحياة بأكملها جانباً ويبقى الله وحده .</p>
<p>عندما نقشعر قلوبنا بمآسي الحياة، وعندما يقلقنا أحباؤنا بفتورهم</p>
<p>وابتعادهم عن الله ، وعندما ينهار صميم الحياة و يبدو العالم کله</p>
<p>رأساً على عقب ! .</p>
<p>نلجا إلى الصلاة بقوة ونجثو عند أقدام الصليب بحرارة، حينئذ</p>
<p>نحصل على سكون الله ، و نسکن معه وحده، ونتفهم نظرته للأشياء</p>
<p>، فنعود للحياة وكلنا نشاط. نواجه مشاكلنا أكثر تحملا وندرك أن</p>
<p>ضوضاء الحياة ستنتهي سريعاً ثم تأتي السكينة والسعادة مع الله .</p>
<p>یا ربي يسوع الحبيب واهب العطایا امنحنى النعمة كي أسرع إلي</p>
<p>دائماً حتى أحصل على راحة من ضجيج هذا العالم فأنا مضطر</p>
<p>للعمل وسط هذه الضوضاء واعمل وسط شغبها بينما يثقل على حمل</p>
<p>صلبان الحياة. ولكن يجب أن أتذكر انه حيثما اكون منفرداً أستطيع</p>
<p>أن أجد التعزية والقوة الدائمة و تكاد ضوضاء الحياة أن تبعدني عنه.</p>
<p>و لكن لا يجب أن اقع في هذا الشرك. سوف أهرع إلى أحضانك</p>
<p>وأتوسل إليك في سكينة و خلوة الصلاة تستطيع ان تمنحني المساعدة</p>
<p>التي أنت وحدك مصدرها . وبالآحری سآتى إليك بمشاكلى وأثقالي</p>
<p>في منزلك الأرضى – الكنيسة المقدسة – واسكب لك قلبي بانسحاق</p>
<p>في هدوء حضرة سرك الأقدس. فأرجو ياربي وسيدي الحبيب تحدث</p>
<p>معی وأقم قلبی بین سکونك<a href="#_ftn15" name="_ftnref15">[15]</a>.</p>
<h3>من وحي قراءات اليوم</h3>
<p>&#8221; فيكون آخر الكل وخادماً للجميع &#8221;          إنجيل القدَّاس</p>
<p>سامحني يا يسوع !!</p>
<p>+ بينما نحن نصارع بعضنا البعض في الخدمة لا نسمع أنين أولادك</p>
<p>+ وفِي غمرة إنشغالي بمكانتي لا أدري بمن لم يعد لهم مكان</p>
<p>+ ونسيت أيدينا وهي مفتخرة بالأعمال المبهرة لمسة حنان للضعفاء</p>
<p>+ وزاغت عيوني عن المتألمين باللهث وراء المشهورين</p>
<p>+ ولم يعد لساني يتكلم لحسابك بل يتكلم علي حسابك</p>
<p>+ وصارت خدمتي مكانة ومهابة وكآبة</p>
<p>+ ولم تعد بذل وبساطة وبهجة وشركة</p>
<p>+ وبدلاً من أن أُعلِّم الناس الحب إكتفيت بأن أُعلِّمهم الأدب</p>
<p>+ ونسيت الجلوس عند قدميك وقدمي كل محتاج</p>
<p>لإنشغالي بخضوع الناس حتي أقدامي</p>
<hr />
<p><a href="#_ftnref1" name="_ftn1"></a>١- القديس كيرلس الكبير - تفسير إنجيل متي (إصحاح ١٨) - القمص تادرس يعقوب ملطي</p>
<p><a href="#_ftnref2" name="_ftn2"></a>٢- المرجع : كتاب أنبا بولا أول سائح عرفته المسيحية للقديس جيروم صفحة ٣٦ - إصدار كنيسة مار جرجس سبورتنج</p>
<p><a href="#_ftnref3" name="_ftn3"></a>٣- المرجع : كتاب العظات الخمسون للقديس الأنبا مقار ( العظة الرابعة والأربعون ) - ترجمة الراهب يونان المقاري</p>
<p><a href="#_ftnref4" name="_ftn4"></a>٤- المرجع : تفسير مزمور ١٢٩ - القمص تادرس يعقوب ملطي</p>
<p><a href="#_ftnref5" name="_ftn5"></a>٥- المرجع : تفسير سفر إرميا ( الإصحاح الثالث عشر ) - القمص تادرس يعقوب ملطي</p>
<p><a href="#_ftnref6" name="_ftn6"></a>٦- المرجع : تفسير سفر يشوع بن سيراخ ( الإصحاح العاشر ) - القمص تادرس يعقوب ملطي</p>
<p><a href="#_ftnref7" name="_ftn7"></a>٧- المرجع: مجلة مدارس الأحد عدد شهر فبراير لسنة ١٩٥٩</p>
<p><a href="#_ftnref8" name="_ftn8"></a>٨- المرجع : كتاب عظات علي سفر التكوين للقديس يوحنا ذهبي الفم ( صفحة ١٧٠ ) - ترجمة دكتور جورج فرج ومراجعة دكتور جورج عوض إبراهيم</p>
<p><a href="#_ftnref9" name="_ftn9"></a>٩- المرجع : كتاب نقاوة القلب في المفهوم الكتابي والآبائي ( صفحة ٧١ ) - إعداد أحد الآباء الرهبان بدير السيدة العذراء &#8221; برموس</p>
<p><a href="#_ftnref10" name="_ftn10"></a>١٠- المرجع كتاب سياحة القلب (صفحة ٢٣٤ )  – القمص اشعياء ميخائيل – كنيسة الملاك الضاهر</p>
<p><a href="#_ftnref11" name="_ftn11"></a>١١- المرجع : كتاب المنجلية القبطية الأرثوذكسية ( صفحة ١٠٣ ) - قداسة البابا تواضروس الثاني</p>
<p><a href="#_ftnref12" name="_ftn12"></a>١٢- المرجع : كتاب اختبرني يا الله ( صفحة ٣٠ ) - قداسة البابا تواضروس الثاني</p>
<p><a href="#_ftnref13" name="_ftn13"></a>١٣- المرجع : كتاب موسوعة الأنبا غريغوريوس  ( الرهبنة القبطية وأشهر رجالها صفحة ٧٣ ) - إعداد الإكليريكي منير عطية</p>
<p><a href="#_ftnref14" name="_ftn14"></a>١٤- المرجع : كتاب وكلمهم أيضاً بأمثالٍ ( صفحة ١١٣ ) - القمص لوقا سيداروس - كنيسة مار جرجس سبورتنج</p>
<p><a href="#_ftnref15" name="_ftn15"></a>١٥- المرجع : كتاب الصديق الدائم ( صفحة ١٠ ) - ترجمة السيدة إيزيس ميخائيل أسعد وتقديم القمص بيشوي كامل</p>

      {% endcreateArticleAccordions %}
    </section>
  {% endblock %}
  