---
layout: 'layouts/reading.html'
title: 'اليوم الثامن من شهر أمشير (عيد دخول المسيح الهيكل)'
tags: 'annual'
permalink: /articles/annual/6-8.html
---
  {% block content %}
    <section id="readings">
      <ul>
      {% if 'undefined' != 'undefined' %}
      
      {% else %}
      {% if '19.116:16-19' != 'null' %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">العشية</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeVespers '19.116:16-19' '42.2:15-20' %}
          </div>
        </div>
      </li>
      {% endif %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">باكر</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeMatins '19.66:13-15' '42.2:40-52' '' %}
          </div>
        </div>
      </li>
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <h3 class="flex items-center justify-between">
            <span class="kufi">القداس</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </h3>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeLitugy '50.3:1-12' '61.1:12-21' '44.15:13-21' '19.50:14,23' '42.2:21-39' %}
          </div>
        </div>
      </li>

      {% endif %}
        </ul>
    </section>
    <section id="article">
      <h3 class="mt-8 mb-4 heading-explain">شرح القراءات</h3>
      {% createArticleAccordions %}
        <p>قراءة هذا اليوم (دخول مخلصنا إلي الهيكل ونياحة سمعان الشيخ) مُحوَّلة علي قراءة يوم سادس طوبه (عيد الختان )</p>
<p>ولا يذكر السنكسار نياحة سمعان الشيخ، بينما يذكره القطمارس والدفنار</p>
<h3>عيد دخول المسيح الهيكل</h3>
<p>&#8221; اليهود يباركون الرب الذي مجد مقدسه وقد امتلا الهيكل ابتهاجا وتهللا اذ تجلى فيه الرب القدير بعدما كان قبيل ذلك مملوء اخوفا واضطرابا &#8221; مكابيين ثاني ٣٠:٣</p>
<p>&#8221; إذا ما وقفنا في هيكلك المُقدَّس نُحْسَب كالقيام في السماء &#8221; قطع الساعة الثالثة</p>
<p>لا يخدعن أحد نفسه، فإذا كان الإنسان خارج الهيكل يُحرم من خبز الله&#8230; ومن لا يأتي إلى الاجتماع معًا يتكبر ويقطع نفسه عن الشركة<a href="#_ftn1" name="_ftnref1">[1]</a> [3]</p>
<p>للأسف لا توجد قراءات خاصة لهذا العيد رغم أنه عيد سيدي !! ويأخذ اليوم قراءاته من قراءات عيد الختان الذي تتكلّم فيه قراءات المزامير والأناجيل أيضاً عن الهيكل</p>
<p>تأتي قراءات أناجيل اليوم (عيد الختان ، وعيد دخول المسيح إلي الهيكل ) من الإنجيل بحسب القديس لوقا ولا غرابة في ذلك فهو الإنجيل الوحيد الذي بدأ بالهيكل (لو ٩:١) وختم به (لو ٥٣:٢٤) وكأنَّه نقطة الإنطلاق ورفيق الطريق وهدف الوصول</p>
<p>ويقول بعض المفسرين</p>
<p>&#8221; انه لامر يستحق الإعتبار ان لوقا عندما افتتح إنجيله أدخلنا إلي الهيكل إذ قَص علينا قصة ظهور الملاك لزكريا وعندما اختتمهُ أبقانا في الهيكل أيضاً إذ أخبرنا بأن الرسل كانوا كل حين هناك يسبحون ويباركون الله<a href="#_ftn2" name="_ftnref2">[2]</a> &#8221;</p>
<p>وطوال رحلته في الإصحاحات الأربع والعشرين يرسم لنا القديس لوقا أيقونة الهيكل في حياتنا وبنياننا وطريق خلاصنا حسب ترتيب مجيئه في إنجيل لوقا فهو :</p>
<p>+ مكان الخدمة الليتورجية</p>
<p>&#8221; حسب عادة الكهنوت، أصابته القرعة أن يدخل إلى هيكل الرب ويبخر &#8221; (لو ٩:١)</p>
<p>+ وإحدي أماكن الرؤي السمائية</p>
<p>&#8221; ففهموا أنه قد رأى رؤيا في الهيكل &#8221; (لو ٢٢:١)</p>
<p>+ ويجب أن نأتي إليه بالروح</p>
<p>&#8221; فأتى بالروح إلى الهيكل &#8221; (لو ٢٧:٢)</p>
<p>+ وهو ملجأ ورجاء من ليس له رجاء</p>
<p>&#8221; وهي أرملة نحو أربع وثمانين سنة، لا تفارق الهيكل، عابدة بأصوام وطلبات ليلا ونهارا &#8221; (لو ٣٧:٢)</p>
<p>+ وفخر وضمان تربية أطفالنا</p>
<p>&#8221; وبعد ثلاثة أيام وجداه في الهيكل، جالسا في وسط المعلمين، يسمعهم ويسألهم &#8221; (لو ٤٦:٢)</p>
<p>+ لكن لنحذر من مؤامرات العدو كذباً بإسمه</p>
<p>&#8221; وأقامه على جناح الهيكل وقال له: إن كنت ابن الله فاطرح نفسك من هنا إلى أسفل &#8221; (لو ٩:٤)</p>
<p>+ فيقلبنا علي بعض لنقتل إخوتنا</p>
<p>&#8221; من دم هابيل إلى دم زكريا الذي أهلك بين المذبح والبيت &#8221; (لو ٥١:١١)</p>
<p>+ فيتحوَّل هيكلنا خراباً</p>
<p>&#8221; هوذا بيتكم يترك لكم خرابا &#8221; (لو ٣٥:١٣)</p>
<p>+ لذلك فلنراجع عبادتنا في الهيكل</p>
<p>&#8221; إنسانان صعدا إلى الهيكل ليصليا، واحد فريسي والآخر عشار &#8221; (لو ١٠:١٨)</p>
<p>+ لئلا تكون تجارة ومصلحة</p>
<p>&#8221; ولما دخل الهيكل ابتدأ يخرج الذين كانوا يبيعون ويشترون فيه &#8221; (لو ٤٥:١٩)</p>
<p>+ ولنُعْطي آذاناً صاغية لتعليمه الليتورجي</p>
<p>&#8221; وكان يعلم كل يوم في الهيكل &#8221; (لو ٤٧:١٩ ، لو ١:٢٠)</p>
<p>+ ولنتأكد من أنه يري كل تقدماتنا وكيف نقدمها</p>
<p>&#8221; وتطلع فرأى الأغنياء يلقون قرابينهم في الخزانة ورأى أيضا أرملة مسكينة ألقت هناك فلسين</p>
<p>فقال: بالحق أقول لكم: إن هذه الأرملة الفقيرة ألقت أكثر من الجميع &#8221; (لو ١:٢١- ٣)</p>
<p>+ أعظم وأهم من كيف نُزيّنه من الخارج</p>
<p>&#8221; وإذ كان قوم يقولون عن الهيكل إنه مزين بحجارة حسنة وتحف &#8221; (لو ٥:٢١)</p>
<p>+ لعدم دوام الزينة الخارجية وسهولة هدمها</p>
<p>&#8221; هذه التي ترونها، ستأتي أيام لا يترك فيها حجر على حجر لا ينقض &#8221; (لو ٦:٢١)</p>
<p>+ لذلك فلنُبكِّر دائماً في المجئ إلي هيكله</p>
<p>&#8221; كان كل الشعب يبكرون إليه في الهيكل ليسمعوه &#8221; (لو ٢١: ٣٨،٣٧)</p>
<p>+ لئلا يصير الهيكل ديَّاناً لشكل عبادتنا</p>
<p>&#8221; إذ كنت معكم كل يوم في الهيكل لم تمدوا علي الأيادي &#8221; (لو ٥٣:٢٢)</p>
<p>+ وينتهي وجوده من حياتنا</p>
<p>&#8221; وانشق حجاب الهيكل من وسطه &#8221; (لو ٤٥:٢٣)</p>
<p>+ لذلك ضماننا الوحيد هو الشكر والتسبيح من القلب في هيكله الذي يُؤهْلْنا لملء روحه القدّوس</p>
<p>&#8221; وكانوا كل حين في الهيكل يسبحون ويباركون الله. آمين &#8221; (لو ٥٣:٢٤)</p>
<p>ومن هنا يختار الإنسان بين أن يكون الهيكل مكان لقاؤه مع المسيح (لو ٢٢: ٥٣) ، ومكان عبادته بالروح (لو ٢ : ٢٧) ، وأمان أسرته (لو ٢ : ٤٦) ، وميناءه في عواصفه ، وكيف يسمع الله صلاته (١مل ٨ : ٢٩)، ويقبل عطاياه (لو ٢١ : ٢) ، فيهب له مجد رؤيته في الهيكل (إش ٦ : ١)</p>
<p>وبين أن يكون الهيكل شكل بلا روح (مت ٢٣: ١٦) ، وتجارة دون عبادة (مت ٢١ : ١٣) ، وإدانة للآخرين (يو ٨ : ٣) ، وظلم وسفك دم (مت ٢٣ : ٣٥) ، فيتحول أجمل ما فينا إلي خراب (مت ٢٣ : ٣٨)</p>
<p>وعيد دخول المسيح له المجد الهيكل هو دخوله قلوبنا وحياتنا بموته وقيامته فصرنا هياكل مقدسة وأواني مطهرة (٢تي ٢ : ٢١) ، ولم يعد الهيكل فقط مكان نري فيه الله ، بل قلوب تُعْلِن الله ، قلوب تُقدِّم ذبائح الصلاة (مز ١٤١ : ٢) ، وذبائح الحب (٢كو ١٢ : ١٥) ، وذبائح أجسادنا (رو ١٢ : ١) ، وذبائح العطاء (عب ١٣ : ١٦) ، وذبيحة الإيمان (في ٢ : ١٧) ، وذبيحة التسبيح (عب ١٣ : ١٥)</p>
<p>وأتعجب كيف تقف بعض الفتيات أو السيدات عند تساؤل : لماذا لا يسمح لها بالكهنوت أو الشمَّاسية ؟! ، بينما إختارها الله اي تجسِّده وخلاصه لتكون هيكلاً لروحه القدوس (١كو ٦ : ١٩) ، وجعل أعضاؤها أعضاء المسيح (١كو ٦ : ١٥) ، ووهبها أن تلبس المسيح (غل ٣ : ٢٧) ، وسمح لها أن تُقدِّم كل يوم مُختلف أنواع الذبائح علي هيكلها الداخلي لتعيش السماء علي الأرض ، فمن ناحية الكرامة لم تنقص شيئاً عن الرجل (غل ٣ : ٢٨) ، وإن إختلفت عنه فقط في الوظيفة ، وإذا كان قد وصل القديس مقاريوس إلي أن يكون صديق السيرافيم ( وهو لم يكن كاهناً ) ، وكيف أعلن له الله مساواته بإثنين من السيدات المتزوجات في بيت واحد بسبب عبادتهم ومحبتهم ، فكيف يضحك علينا العدو في محاولة إقناعهن بعدم المساواة ؟!</p>
<h4>القديس مار يعقوب السروجي</h4>
<p>&#8221; اخرج أيها اليهودي من الظِلال التي تخدمها، وهلم واستنر كلك بصليب النور الذي لا تحبه.</p>
<p>كُفّ عن الذبائح: لا تطالبك الكنيسة بالثيران، قدم نفسك، لأنه توجد ذبيحة تغفر لك.</p>
<p>لا يطالبك أحد أن تجلب معك العشور، ولا القرابين، بل شخصك عند الله.</p>
<p>عندما تأتي لا تجلب بقرة للذبيحة، بل هلم واغتسل بالصلب ولاشِ إثمك.</p>
<p>عندما نكون نفسك حمراء بالإثم كالدودة، فالصليب يبيّضها ويغسلها من الدرن.</p>
<p>إن كنت دنسًا أكثر من صبغة القرمز، فموت الابن يطهرك إن اعترفتَ به.</p>
<p>موسى أيضًا طهرك سريًا بربنا، وبه قُبلت كل الذبائح التي كان يقربها.</p>
<p>اترك الذبيحة وقرّب نفسك إلى الله، لأنه لا يطلب منك ما هو ملكك بل إياك.</p>
<p>توجد ذبيحة ذاك الذي صلبتَه لتطهرك، فاغتسل من قتله، فيغفر لك ذنوبك</p>
<p>إن كنت تحب الآب الحق اعترف بابنه، وإن كنت تحب ذبائح السلامة فهو الذبيحة.</p>
<p>إن كنت تطلب طهر النفس فهو يطهرك، وإن كانت تشتهي إرادتك الرشاش يرش دمه عليك.</p>
<p>إن كنت تحبه لا تبطّل الناموس بسببه، إنما به تكتمل كل الذبائح بدون نتانة.</p>
<p>هو الحبر، والذبيحة، والكاهن، والغافر، مبارك من بأسراره موسى شفى الشعبَ كله<a href="#_ftn3" name="_ftnref3">[3]</a> &#8221;</p>
<h4>المتنيح الأنبا إبيفانيوس أسقف ورئيس دير القديس أنبا مقار</h4>
<p>تقديم الطفل يسوع إلى الهيكل</p>
<p>بعد ميلاد الرب يسوع في بيت لحم، وبعد أن انتهت احتفالات الميلاد والختان، يخبرنا القديس لوقا عن حادثة تقديم الطفل يسوع في الهيكل قائلاً: &#8220;ولما تمت أيام تطهيرها، حسب شريعة موسى، صعدوا به إلى أورشليم ليقدموه للرب، كما هو مكتوب في ناموس الرب: أن كل ذكر فاتح رحم يدعى قدوساً للرب. ولكي يقدموا ذبيحة كما قيل في ناموس الرب، زوج يمام أو فرخي حمام&#8221; (لو ٢٢:٢-٢٤).</p>
<p>يذكر القديس لوقا في هذه الآيات حادثتين هامتين منفصلتين، وإن كان لهما علاقة جوهرية ببعضهما البعض. الأولى هي شريعة تطهير المرأة بعد الولادة؛ والثانية تقديس الطفل البكر.</p>
<p>أولاً: شريعة تطهير المرأة:</p>
<p>تنص شريعة موسى على أنه: &#8220;إذا حبلت امرأة وولدت ذكراً، تكون نجسة سبعة أيام &#8230; ثم تقيم ثلاثة وثلاثين يوماً في دم تظهيرها&#8221;. وإذا ولدت أنثى تكون فترة التطهير ضعف هذه الفترة، أي تكون نجسة أربعة عشر يوماً ثم تلبث ستة وستين يوماً في دم تطهيرها. &#8220;ومتى كملت أيام تطهيرها &#8230; تأتي بخروف حولي محرقة، وفرخ حمامة أو يمامة ذبيحة خطية إلى باب خيمة الاجتماع، إلى الكاهن، فيقدمهما أمام الرب ويكفر عنها، فتطهر&#8221;. وإن كانت فقيرة ولا تقدر على تقديم خروف كمحرقة، كما حدث في حالة العذراء مريم، فإنها &#8220;تأخذ يمامتين أوفرخي حمام، الواحد محرقة، والآخر ذبيحة خطية، فيكفر عنها الكاهن  فتطهر&#8221; (لاويين ١٢).</p>
<p>يشير القديس لوقا بوضوح في إنجيله أن القديس يوسف والعذراء كانا ملتزمين تماماً بتنفيذ كل وصايا العهد القديم، وأنهما كانا بلا لوم من جهة متطلبات الشريعة، فقد كرر عبارة &#8220;شريعة موسى أو ”ناموس الرب“ ثلاث مرات في الثلاث آيات الخاصة بتقديم الطفل يسوع إلى الهيكل (٢٢:٢-٢٤)، وعاد وكررها مرة أخرى في الآية ٢٧: &#8220;ليصنعا له حسب عادة الناموس&#8221;.</p>
<p>ولم تكن العذراء في حاجة إلى تقديم ذبيحة لأجل تطهيرها، فقد أورد القديس لوقا قول الملاك لها يوم أن بشرها بالحبل الإلهي: &#8220;الروح القدس يحل عليك، وقوة العلي تظللك&#8221; (لو١: ٣٥). وهل بعد حلول الروح القدس يحتاج الإنسان إلى تطهير!؟ لكنها في تواضعها التزمت بكل أحكام الناموس من جهة نفسها ومن جهة طفلها الإلهي، حتى يكملا كل وصايا الناموس وأحكامه: &#8220;لما جاء ملء الزمان أرسل الله ابنه مولوداً من امرأة، مولوداً تحت الناموس، لتفتدي الذين تحت الناموس لننال التبني&#8221; (غل ٤: ٤، ٥).</p>
<p>لقد أوصت شريعة موسى على تقديم ذبائح المحرقة والخطية كفارة عن المرأة حتى تطهر، ولكن يرى القديس بولس أن مثل هذه الذبائح كانت تطهر الجسد فقط: &#8220;إن كان دم ثيران وتيوس ورماد عجلة مرشوش على المنجسين، يقدس إلى طهارة الجسد&#8221; (عب٩: ١٣). لقد كان مفهوم النجاسة في العهد القديم مفهوماً جسدياً صرفاً. فالمرأة التي تلد كانت تُعتبر نجسة إلى حين، والرجل المريض بالبرص كان يحسب نجساً (لاويين ١٣، ١٤)، ومن لمس ميتاً يصير نجساً (لاويين ٢٢)، ومن تعرض لإفرازات الليل يعتبر نجساً (لاويين ١٥)، ومن لمس حيواناً أو حشرة نجسة يصير نجساً (لاويين ١١)؛ بل وأكثر من ذلك، فإن البيت أو الثوب الذي تظهر فيه بقع بيضاء - برص المنازل أو الثياب - يعتبر نجساً وكل من لمسه يصير نجساً (لاويين١٤). أما في العهد الجديد فقد أوضح الرب يسوع أن الذي ينجس الإنسان هو ما يصدر من القلب من أفكار شريرة وليس شيء من خارج الإنسان يقدر أن ينجسه (مت ١٥: ١٨- ٢٠)، لأن غسل اليدين لا يطهر الإنسان، ما دام القلب من الداخل مملوءا اختطافاً ودعارة.</p>
<p>لذلك بعد تقديم الرب يسوع ذبيحة نفسه كفارة عن كل العالم، أبطل كل ذبائح العهد القديم وشرائعه الطقسية وأحكامه التطهيرية، لأن هذه الذبائح والممارسات الطقسية كانت رمزاً لذبيحة الصليب. وصار الإيمان بدم المسيح والميلاد الجديد من الماء والروح كافيين لتقديس الإنسان وتطهيره في عيني الله:</p>
<p>&#8220;فكم بالحري يكون دم المسيح، الذي بروح أزلي قدم نفسه لله بلا عيب، يظهر ضمائركم من أعمال ميتة لتخدموا الله الخي!&#8221; (عب ٩: ١٤).</p>
<p>&#8220;ودم يسوع المسيح ابنه يطهرنا من كل خطية&#8221; (١يو١: ٧).</p>
<p>&#8220;أحب المسيح أيضاً الكنيسة وأسلم نفسه لأجلها، لكي يقدسها مظهراً إياها بغسل الماء بالكلمة&#8221; (أف ٥: ٢٥و٢٦).</p>
<p>&#8220;وامرأة بنزف دم منذ اثنتي عشرة سنة، (أي امرأة نجسة حسب الناموس، وكل من مسها يصير نجساً - لا١٥: ١٩) &#8230; جاءت في الجمع من وراء، ومست ثوبه &#8230; فللوقت جف ينبوع دمها &#8230; فقال لها (يسوع): &#8220;يا ابنة، إيمانك قد شفاك. اذهبي بسلام&#8221; (مر ٥: ٢١ -٣٤).</p>
<p>هكذا كل من يلمس الرب يسوع بإيمان يصير طاهراً، حتى لو كان نجساً في نظر الناس والناموس.</p>
<p>ثانياً: تقديس الابن البكر:</p>
<p>١- شريعة التقديس:</p>
<p>كان أمر الرب لموسى النبي هكذا: &#8220;قدس لي كل بكر، كل فاتح رحم من بني إسرائيل، من الناس ومن البهائم، إنه لي&#8221; (خر١٣: ٢). وقد جاء هذا الأمر من الرب لموسى بعد حادثة عبور الملاك المهلك على بيوت المصريين وقتل أبكارهم &#8220;من بكر فرعون الجالس على كرسيه إلى بكر الجارية التي خلف الرحى، وكل بكر بهيمة&#8221; (خر ١٢: ٢٩). ثم عاد وكرر الرب هذا الأمر بعد أن عبر الشعب البحر الأحمر، قائلاً لهم: &#8221; أنك تقدم للرب كل فاتح رحم، وكل بكر من نتاج البهائم التي تكون لك. الذكور للرب. ولكن كل بكر حمار تفديه بشاة. وإن لم تفده فتكسر عنقه. وكل بكر إنسان من أولادك تفديه» (خر ۱۳: ١٢ و۱۳).</p>
<p>ثم عاد الرب وعمل تعديلاً في هذه الشريعة عند تطبيقها لأول مرة، إذ اختار سبط لاوي من بين أسباط إسرائيل الاثني عشر، وطلب تقديسهم للرب كفدية عن كل أبكار بني إسرائيل، وأخذ جميع بهائمهم بدلاً من أبكار بهائم بني إسرائيل: &#8220;وكلم الرب موسى قائلاً: خذ اللاويين بدل كل بكر في بني إسرائيل، وبهائم اللاويين بدل بهائمهم، فيكون لي اللاويون. أنا الرب&#8221; (عد٣: ٤٤، ٤٥). وكان أن عدد أبكار بني إسرائيل زاد عن ذكور سبط لاوي بمقدار ٢٧٣ شخصاً، فأمر الرب أن ما زاد عن العدد يكون فداؤه بخمسة شواقل من الفضة لكل رأس (عد٣: ٤٦، ٤٧).</p>
<p>وصارت هذه هي شريعة تقديس الابن البكر، أن يقدم باسمه إلى الهيكل خمسة شواقل من الفضة كفدية، على أن يتم تقديم هذه الفدية عندما يبلغ الطفل شهره الأول: &#8220;كل فاتح رحم من كل جسد يقدمونه للرب، من النّاس ومن البهائم، يكون لك غير أنك تقبل فداء بكر الإنسان . وفداؤه من ابن شهر تقبله حسب تقويمك فضة، خمسة شواقل&#8221; (عد١٨: ١٥ ،١٦ ).</p>
<p>ولم يكن هناك أمر بتقديم هذه الفدية في هيكل أورشليم، بل كانت تقدم لأي كاهن، لأن أمر تقديس الابن البكر كان سابقاً على إقامة خيمة الاجتماع في البرية (خر ١٣: ٢)، وبالتالي سابقاً على بناء هيكل أورشليم. وكان طقس تقديس الطفل يتّسم بالبساطة إذ كان يقدم الطفل إلى الكاهن ثم تدفع الفدية. وكان عندما يتسلم الكاهن الطفل أنه يشكر الله أولاً على شريعة فدية الابن البكر التي وضعها في الناموس، ثم يشكر الله ثانياً على بركة إنجاب طفل بكر ذكر .</p>
<p>ولكن لم يذكر القديس لوقا أنه تم فداء الطفل يسوع بدفع الفدية - أي الخمسة شواقل فضة  كما أنه لم يذكر أن يوسف النجار ذهب إلى الهيكل عندما بلغ الطفل شهره الأول ليقدم عنه الفدية. هنا يدخل في تقديم الطفل يسوع إلى الهيكل عنصر جديد وهو تكريس أو تقديس الطفل لله، وهو الأمر السابق على شريعة دفع الفدية. وهذا ما حدث تماماً في العهد القديم عندما تم تقديم الطفل صموئيل للرب: &#8220;فصلت (حنة) إلى الرب، وبكت بكاء، ونذرت نذراً وقالت: يا رب الجنود، إن نظرت نظراً إلى مذلة أمتك، وذكرتني ولم تنس أمتك بل أعطيت أمتك زرع بشر، فإنّي أعطيه للرب كل أيام حياته&#8221; (١صم١: ١١). وكان أن الرب وهبها طفلاً فأسمته صموئيل. ولما طلب زوجها أن يصعدوا إلى الهيكل لتقديم الذبيحة السنوية، قالت له: &#8220;متى فطم الصبي آتي به ليتراءى أمام الرب ويقيم هناك إلى الأبد&#8221; (اصم ١: ٢٢). وهكذا لم يتم فداء الطفل صموئيل بالفضة، بل تكرس نهائياً للرب. وهذا ما تم مع الطفل يسوع ، إذ يتضح من تقديم الطفل في الهيكل، وليس أمام أي كاهن، ومن عدم تقديمه بعد مرور شهر من ولادته، ومن عدم ذكر دفع الفدية؛ أن الطفل يسوع لم يتم فداؤه بالفضة، بل تقدس نهائياً للرب. ويمكننا أن نلمس صدى هذا التكريس عندما بلغ عامه الثاني عشر وذهب إلى هيكل أورشليم مع القديس يوسف والعذراء مريم، وكان لما تخلف عنهما في طريق العودة، وعادا يطلبانه قال لهما: &#8220;لماذا كنتما تطلباننى؟ ألم تعلما أنه ينبغي أن أكون في ما لأبي؟&#8221; (لو٢: ٤٩).</p>
<p>٢-الابن البكر:</p>
<p>كان الابن البكر هو الذي يقدم للهيكل سواء لتكريسه للرب أو لفدائه بالفضة. وكان فداء هذا البكر يتسحب بالضرورة أو يسري مفعوله على باقي إخوته من الذكور والإناث، مثلما كان قتل الابن البكر لفرعون والمصريين فداء عن قتل بقية أولاد المصريين. وكما كان أيضاً تكريس سبط لاوي فداء عن تكريس كل أبكار بني إسرائيل. وحسب ما جاء في وصية الرب لموسى النبي: &#8220;قدس لي كل بكر كل فاتح رحم من بني إسرائيل&#8221;، فإن المقصود هنا الطفل الذكر - كل فاتح رحم - الذي يولد أولاً للمرأة، فهو بكر المرأة بالدرجة الأولى قبل أن يكون بكر الرجل. لذلك كان يطلق على أول طفل مولود: &#8220;الابن البكر، بغض النظر هل ولد له إخوة بعد ذلك أم لا. فالقديس لوقا يذكر أن العذراء مريم &#8220;ولدت ابنها البكر وقمطته وأضجعته في المذود&#8221; (لو ٢: ٧). كما يذكر القديس متى أن يوسف البار أخذ امرأته مريم ولم يعرفها حتى &#8220;ولدت ابنها البكر. ودعا اسمه يشوع&#8221; (مت ١: ٢٥). هذا الأمر يتطرق بنا إلى نقطة جانبية، ولكن لها أهميتها الخاصة. فمن هم إخوة الرب الذين ذكروا في الإنجيل (مت ١٣: ٢٥، ٥٦)؟</p>
<p>يذكر سنكسار الكنيسة القبطية  وهو الكتاب الطقسي الذي يضم سيرة قديسي وقديسات الكنيسة  أن إخوة الرب هؤلاء هم أولاد القديس يوسف النجار من زوجة سابقة. إذ أن يوسف كان شيخاً ماتت زوجته تاركة له أربعة أولاد &#8220;يعقوب ويوسي وسمعان ويهوذا، غير ثلاث بنات لم يذكر الإنجيل أسماءهن. وتؤمن بهذا الرأي الكنائس الأرثوذكسية عامة من قبطية وسريانية ويونانية. كما يرجع هذا التقليد إلى الكنيسة الأولى، إذ ذكر في بعض الكتابات الشعبية التي كانت متداولة بين مسيحيي القرن الأول والثاني الميلاديين، والمسماة إنجيل بطرس وإنجيل يعقوب. كما ذكرها كثير من آباء الكنيسة ومعلميها فيما بين القرنين الثاني والرابع الميلاديين، أمثال: القديس كليمندس الإسكندري&#8221;، والعلامة أوريجانوس&#8221;، والأسقف يوسابيوس القيصري، والقديس هيلاري أسقف بواتييه، والقديس غريغوريوس النيصي، والقديس إبيفانيوس&#8221;، والقديس أمبروسيوس، والقديس كيرلس الكبير. بيد أنه يوجد رأي آخر ظهر متأخراً نوعاً ما والذي نادى به هو القديس جيروم وهو أن اخوة الرب هم أولاد خالته وقد اعتنقت الكنيسة اللاتينية الكاثوليكية هذا الرأي&#8221;. وعلى أي حال، فلم يكن تقديم الطفل يسوع إلى الهيكل حدثاً يخصه هو في حد ذاته، بل كان يخصنا نحن بالدرجة الأولى. فكما أن تقديس الطفل البكر كان فداء عن باقي إخوته، هكذا افتتح الطفل يسوع طريق الفداء وهو ما زال بعد رضيعاً، لأنه صار: &#8220;بكراً بين إخوة كثيرين&#8221; (رو٨: ٢٩).</p>
<p>كما أن تكريس الطفل يسوع وتقديسه للرب لم يكن حدثاً يحتاج هو إليه، لأنه دعي &#8220;قدوساً منذ ولادته (لو١: ٣٥)؛ بل إن تقديسه للرب يمتد مفعوله لكل من يؤمن به: &#8220;لأجلهم أقدس أنا ذاتي، ليكونوا لهم أيضاً مقدسين في الحق&#8221; (يو ١٧: ١٩)<a href="#_ftn4" name="_ftnref4">[4]</a>.</p>
<hr />
<p><a href="#_ftnref1" name="_ftn1"></a>١٧- القديس أغناطيوس الثيوفورس - تفسير نحميا ٨ - القمص تادرس يعقوب ملطي</p>
<p><a href="#_ftnref2" name="_ftn2"></a>١٨- كنز التفسير الشماس بشارة بولس ص ٦٦٤</p>
<p><a href="#_ftnref3" name="_ftn3"></a>١٩- المرجع : تفسير سفر مراثي إرميا ( الإصحاح الثاني ) - القمص تادرس يعقوب ملطي</p>
<p><a href="#_ftnref4" name="_ftn4"></a>٢٠- المرجع : كتاب مفاهيم انجيلية ( صفحة ٥٢ ) - أنبا إبيفانيوس أسقف ورئيس دير القديس أنبا مقار</p>

      {% endcreateArticleAccordions %}
    </section>
  {% endblock %}
