---
layout: 'layouts/reading.html'
title: 'اليوم الثالث عشر من شهر برمهات'
permalink: annual/7-13.html
---
  {% block content %}
    <section id="readings">
      <ul>
      {% if '19.34:19-20' != 'null' %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">العشية</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeVespers '19.34:19-20' '40.16:24-28' %}
          </div>
        </div>
      </li>
      {% endif %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">باكر</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeMatins '19.37:39-40' '41.13:9-13' '' %}
          </div>
        </div>
      </li>
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <h3 class="flex items-center justify-between">
            <span class="kufi">القداس</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </h3>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeLitugy '47.10:1-18' '60.4:1-11' '44.12:25*@+44.13:1-12' '19.97:11-12' '42.11:53-54*@+42.12:1-12' %}
          </div>
        </div>
      </li>
        </ul>
    </section>
    <section id="article">
      <h3 class="mt-8 mb-4 heading-explain">شرح القراءات</h3>
      {% createArticleAccordions firstName, lastName %}
        <p>( شهادة الأربعين شهيد بمدينة بوبسته ، ونياحة الأنبا ديونيسيوس بابا الإسكندرية )</p>
<p>القديس باسيليوس الكبير يتكلم عن شهداء سبسطية الأربعين ، فيقول موجهاً كلامه لشعبه :</p>
<p>&#8221; أنتم دائماً تبحثون عن واحد يصلى عنكم ، هوذا أربعون . اذا اجتمع أثنان أو ثلاثة باسم الرب ، هناك يكون الرب حاضراً . وان كان هناك أربعون ، فمن يشك في حضوره ؟ ! هؤلاء هم الذين يحرسون بلادنا كخط دفاع &#8221; . <a href="#_ftn1" name="_ftnref1">[1]</a></p>
<h3>شواهد القراءات</h3>
<p>(مز ٣٣ : ١٨ ، ١٩) ، (مت ١٦ : ٢٤ – ٢٨) ، (مز ٣٦ : ٣٤ ، ٣٥) ، (مر ١٣ : ٩ – ١٣) ، (٢كو ١٠ : ١ – ١٨) ، (١بط ٤ : ١ – ١١) ، (أع ١٢ : ٢٥ &#8211; ٣١: ١ – ١٢) ، (مز ٩٦ : ١١) ، (لو ١١ : ٥٣ &#8211; ١٢ : ١ – ١٢)</p>
<h3>ملاحظات علي قراءات يوم ١٣ برمهات</h3>
<p>+ قراءة إنجيل عشيّة اليوم (مت ١٦ : ٢٤ &#8211; ٢٨) هي نفس قراءة إنجيل عشيّة في أيام ٢٢ كيهك ( تذكار الملاك غبريال ) ، ويوم ٢٧ برمودة ( شهادة بقطر بن رومانوس ) ، ويوم ٣ نسئ ( تذكار الملاك رافائيل ) ومُشابه لقراءة إنجيل عشيّة ثالث يوم عيد الصليب (مت ١٦ : ٢١ &#8211; ٢٦)</p>
<p>ما جاء في القراءة الأولي كان يخص حمل الصليب مع الرب ( ١٣ برمهات ، ٢٧ برموده ) ، ومجئ الرب في مجد أبيه مع ملائكته ( لذلك جاءت في تذكاراتهما : ٢٢ كيهك ، ٣ نسئ )</p>
<p>والقراءة الثانية بدأت بإعلان الرب لتلاميذه عن آلامه وموته وقيامته (مت ١٦ : ٢١)</p>
<p>+ قراءة إنجيل باكر اليوم (مر ١٣ : ٩ &#8211; ١٣) هي قراءة خاصّة بآلام أولاد الله ، وإحتمالهم ، وصبرهم جاءت أيضاً في إنجيل باكر يوم ١٥ هاتور ( شهادة مار مينا العجايبي ) ، وهي قراءات إحتمال الشهداء للآلام لأجل الإيمان إلي المنتهي</p>
<p>وهي جزء من قراءات المجئ الثاني التي جاءت أيضاً في قراءة إنجيل القدَّاس (مر ١٣ : ٣ &#8211; ٣٧) للأحد الرابع من شهر مسري</p>
<p>+ قراءة البولس اليوم (٢كو ١٠ : ١ &#8211; ١٨) جاءت في ٢٥ هاتور ، ١٣ برمهات</p>
<p>وهي قراءة الأسلحة الروحية والسلطان لذلك جاءت في تذكار أبو سيفين ( ٢٥ هاتور ) والأربعين شهيداً بمدينة بوبسته</p>
<p>+ قراءة الكاثوليكون اليوم (١بط ٤ : ١ &#8211; ١١) تكررت في قراءة يومي ٢٥ هاتور ، ٢٣ برموده</p>
<p>وهنا الكلام عن التَسلُّح بآلام المسيح وذلك في تذكارات الشهداء المشهورين بإحتمالهم الآلام ورتبتهم كضباط في الجيش وكأن آلام المسيح له المجد كانت أسلحتهم ومصدر نصرتهم مثل ابو سيفين ( ٢٥ هاتور ) ، مار جرجس ( ٢٣ برموده ) ، شهادة الأربعين شهيداً بمدينة بوبسته ( ١٣ برمهات )</p>
<p>وتُشبه قراءة الكاثوليكون (١بط ٤ : ٣ &#8211; ١١) للأحد الثالث من شهر هاتور</p>
<p>أوَّل آيتين ( آية ١ ، ٢ ) تتكلَّمان عن التسلُّح بآلام المسيح له المجد لذلك جاءت في قراءة اليوم ( شهادة الأربعين شهيداً بمدينة بوبستة ) ، بينما قراءة الأحد الثالث من هاتور تُشير إلي السلوك بالروح موضوع قراءة ذاك الأحد</p>
<p>+ قراءة الإبركسيس اليوم (أع ١٢ : ٢٥ &#8211; ١٣ : ١ &#8211; ١٢) تكرَّرت في يوم ٢٥ هاتور ، وفي الأحد الأوَّل من شهر بؤونه</p>
<p>مجيئها يومي ٢٥ هاتور ، ١٣ برمهات للإشارة إلي السلطان الإلهي في كلام القديسين أمام الأشرار كما حدث مع القديس بولس وأيضاً الشهيد أبوسيفين ( ٢٥ هاتور ) وكما آمن الوالي لما رأي الأعجوبة الحادثة هكذا آمن الحارس لما رأي الأكاليل السماوية في تذكار الأربعين شهيداً بسبسطية ( ١٣ برمهات )</p>
<p>أمَّا مجيئها في الأحد الأوَّل من شهر بؤونه فهو للإشارة إلي ما جاء في آية ٢ ( بينما هم يخدمون الرب ويصومون قال الروح القدس ) عن الكنيسة المملوءة من الروح القدس والتي يقودها الروح في كل خدماتها</p>
<p>+ مزمور القدَّاس اليوم (مز ٩٦ : ١١) هو نفس مزمور باكر ليوم ١٥ هاتور ( شهادة مار مينا ) ، ومزمور القدَّاس ليوم ٢٣ برمودة ( شهادة مار جرجس ) ، ومزمور باكر الأحد الخامس ( أحد البركة )</p>
<p>ومجيئها اليوم ( ويوم ١٥ هاتور ، ويوم ٢٣ برمودة ) لأجل الإعتراف بالمسيح له المجد والشهادة له &#8221; واعترفوا لذكر قدسه &#8221;</p>
<p>أمَّا مجيئها في الأحد الخامس فهو للإشارة إلي البركات الروحية الغنيَّة لأولاد الله إشراقة النور الإلهي والفرح القلبي &#8221; نور اشرق للصديقين وفرح للمستقيمين بقلبهم افرحوا ايها الصديقون بالرب &#8221;</p>
<p>+ قراءة إنجيل القدَّاس اليوم (لو ١١ : ٥٣ &#8211; ١٢ : ١ &#8211; ١٢) هي نفس قراءة إنجيل القداس ليوم ١٥ هاتور ( شهادة مار مينا العجايبي ) ، تُشبه قراءة (لو ١٢ : ٤ &#8211; ١٢) إنجيل باكر ليوم ٢٥ هاتور ( شهادة أبو سيفين ) ، وإنجيل القداس ليوم ٢٧ برمودة ( مار بقطر بن رومانوس )</p>
<p>وهي القراءة التي تُطمئن من يحتمل الآلام والضيقات بسلطان الله علي كل الملوك والحكام ، وأن الروح القدس سيُعطيهم قوة الشهادة للمسيح ( لذلك جاءت في قراءات الشهداء مثل مار مينا ، والأربعين شهيداً بسبسطية ، وأبو سيفين ، ومار بقطر بن رومانوس )</p>
<h4>القراءات المُحوَّلة علي قراءة اليوم</h4>
<p>٤ بابة                 شهادة واخس رفيق سرجيوس</p>
<p>١٠ بابة                شهادة سرجيوس رفيق واخس</p>
<p>١٩ هاتور             تكريس كنيسة سرجيوس وواخس</p>
<p>٨ كيهك             شهادة القديس إيسي وتكلا أخته</p>
<p>٢١ أبيب              نياحة القديس سوسينيوس الخصي</p>
<h3>شرح القراءات</h3>
<p>تأتي قراءات اليوم مع تذكار شهادة الأربعين شهيداً بمدينة بوبسته ومُحوَّل علي هذا اليوم ستّة أيام أخري لتذكارات الشهداء</p>
<p>تتكلّم قراءات اليوم عن طريق الخلاص والكنيسة الشاهدة للخلاص لذلك تحكي قراءات اليوم منهج الحياة في المسيح والإنقياد لروح الله لكل نفس وللكنيسة كلّها</p>
<p></p>
<p>تبدأ المزامير بشهود الخلاص في الكنيسة الصديقين ومُستقيمي القلوب فتتكلّم عن  أحزانهم (مزمور عشية ) وخلاصهم ( مزمور باكر ) وأفراحهم ( مزمور القدَّاس )</p>
<p></p>
<p>في مزمور عشيّة رغم كثرة أحزانهم لكن يضع الله حدوداً لها وينجِّيهم من آثارها ويحفظ إيمانهم</p>
<p>( كثيرة هي أحزان الصدّيقين ومن جميعها يُنجِّيهم الرب يحفظ الرب جميع عظامهم وواحدة منها لا تنكسر )</p>
<p>وفِي مزمور باكر الرب هو خلاصهم وناصرهم وقت الضيق ويختبرون هذا بتوكّلهم عليه</p>
<p>( خلاص الصدّيقين من قبل الرب وهو ناصرهم في زمان الضيق يُعينهم الرب وينجيهم ويخلصهم لأنهم توكلوا عليه )</p>
<p>وفِي مزمور القدَّاس أفراح الصدّيقين بسبب إستقامة قلوبهم وإعترافهم بإسمه</p>
<p>( نور أشرق للصديقين وفرح للمستقيمين بقلبهم افرحوا أيها الصديقون بالرب وإعترفوا لذكر قدسه )</p>
<p></p>
<p>وفِي القراءات نري منهج وطريق الخلاص في قياس القانون ( البولس ) وهذا المثال ( الكاثوليكون )  وقيادة الروح القدس ( الإبركسيس  )</p>
<p></p>
<p>يتكلَّم البولس عن قياس القانون الروحي الذي يلتزم به كل مسيحي وكل خادم وراعي وهو ليس حسب الجسد وأسلحته ليست جسدية وهدفه طاعة المسيح بالمقارنة مع القانون الغريب الذي يجعل الإنسان يقيس نفسه علي نفسه أو الذين يُمدِّدون أنفسهم ويفتخرون ويمدحون أنفسهم</p>
<p>( لأننا وإن كنا نسلك حسب الجسد لا نُحارب حسب الجسد إذ أسلحة مُحاربتنا ليست جسدية بل هي قوات الله تهدم الحصون وتهدم الآراء وكلَّ علوٍّ يرتفع ضد معرفة الله ونسبي كل فكر إلي طاعة المسيح … إذ هم يقيسون أنفسهم علي أنفسهم ويقابلون أنفسهم بأنفسهم وهم لا يفهمون ولكن نحن لا نفتخر إلي ما لا يقاس بل حسب قياس القانون الذي رسمه لنا الله للبلوغ إليه وإليكم بقياس لأننا لا نمدِّد أنفسنا كأننا لا نبلغ إليكم إذ قد وصلنا إليكم أيضاً في إنجيل المسيح غير مفتخرين إلي ما لا يُقاس في أتعاب آخرين بل لنا رجاء إذا نما إيمانكم ليتعظَّم فيكم مثل قانوننا بزيادة لنبشِّركم بما هو أعظم من ذلك لا لنفتخر بالأمور المعدَّة في قانون غريب )</p>
<p>وفِي الكاثوليكون نري آلام المسيح له المجد &#8221; مثال &#8221; ليس فقط نقتدي به بل ونتسلَّح أيضاً به لكي نعيش حسب إرادة الله ونري في المقابل إرادة الأمم وسلوكهم وإدمانهم وعبادتهم المرذولة وتجديفهم</p>
<p>( فإذ قد تألَّم المسيح بالجسد عنا تسلّحوا أنتم أيضاً بهذا المثال فإن من تألَّم بالجسد كَفَّ عن الخطية لكي لا يعيش أيضاً الزمان الباقي في الجسد لشهوات الناس بل لإرادة الله لأنه يكفيكم الزمان الذي مضي إذ كنتم تصنعون فيه إرادة الأمم وتسلكون في النجاسات والشهوات وإدمان المسكرات المتنوعة والخلاعة والدنس وعبادة الأوثان المرذولة )</p>
<p>وفِي الإبركسيس عن من يقودهم الروح القدس في الكنيسة المقدسة وكيفية إختيار الكنيسة لهم بالمقارنة بالذين ينقادون بإبليس ويحاولوا أن يُفسدوا سبل الرب المستقيمة ومملوئين من كل غش وخبث</p>
<p>( وبينما هم يخدمون الرب ويصومون قال الروح القدس إفرزوا لي برنابا وشاول للعمل الذي قد دعوتهما إليه حينئذ صاموا وصلوا ووضعوا عليهما الأيادي ثم أطلقوهما فهذان إذ أرسلا من الروح القدس إنحدرا إلي سلوكية … وأما شاول الذي هو بولس أيضاً فامتلأ من الروح القدس وقال أيها الممتلئ من كل غشّ وكلَّ خبث يا إبن إبليس يا عدوَّ كلِّ برّ ألا تزال تُفسد سبيل الرب المستقيمة )</p>
<p></p>
<p>وفِي الأناجيل عن كيف نُنْكِر أنفسنا في مواجهه شهوات العالم ( إنجيل عشيّة ) وكيف تستنير أنفسنا وتتشدَّد في مواجهه الضيق ( انجيل باكر ) وكيف نُراجع أنفسنا في نقاوة حياتنا وتعليمنا ( إنجيل القدَّاس )</p>
<p></p>
<p>في إنجيل عشيّة يرسم لنا الرب طريق الخلاص في فعل الإماتة اليومي وإنكار الذات وأهمّية خلاص نفوسنا عن ربح العالم كلّه</p>
<p>( حينئذ قال يسوع لتلاميذه من يريد أن يتبعني فلينكر نفسه ويحمل صليبه ويتبعني لأن من أراد أن يُخلّص نفسه يُهلكها ومن يهلك نفسه من أجلي يجدها لأنه ماذا ينتفع الإنسان لو ربح العالم كله وخسر نفسه )</p>
<p>وفِي إنجيل باكر عن إستنارة النفس بما لها من إمكانيات الخلاص في مواجهه الضيق والإضطهاد</p>
<p>( فانظروا إلي نفوسكم لأنهم سيسلمونكم إلي مجالس وسيضربونكم في المحافل … فإذا قدموكم ليسلموكم فلا تهتموا من قبل بما تتكلمون به لأنكم تُعطون في تلك الساعة ما تتكلمون به لأن لستم أنتم المتكلمين بل الروح القدس )</p>
<p>وفِي إنجيل القدَّاس عن مراجعة النفس من الرياء والمكر ومن الخوف ومن إنكار المسيح ومن التجديف علي الروح أي قساوة القلب ورفض التوبة لآخر لحظات العمر</p>
<p>( وفِي أثناء ذلك إذ إجتمع ربوات كثيرة حتي داس بعضهم بعضاً إبتدأ يسوع يقول لتلاميذه أولاً تحرزوا لأنفسكم من خمير الفريسيين الذي هو رياءهم … ولكن أقول لكم ياأصدقائي لا تخافوا من الذين يقتلون جسدكم … ومن أنكرني قدّام الناس يُنكر قدّام ملائكة الله )</p>
<h3>ملخّص القراءات</h3>
<p>الخلاص يُنجِّي من الأحزان ومن زمان الضيق ويُشرق النور الإلهي في القلوب                                   مزمور عشيّة وباكر والقدّاس</p>
<p>طريق الخلاص يجب أن يشمل قياس القانون الروحي ومثال المسيح المتألم وقيادة الروح القدس.                البولس والكاثوليكون والإبركسيس</p>
<p>وأيضاً حمل الصليب والتشدُّد في مواجهه الضيق والتحفُّظ من الرياء                                          إنجيل عشيّة وباكر والقدّاس</p>
<h3>أفكار مقترحة للعظات</h3>
<h4> (١) قياس القانون</h4>
<p>١- التلمذة للمسيح تحتاج إنكار الذات وحمل الصليب وتبعية الرب</p>
<p>٢- أسلحة محاربتنا ليست جسديَّة</p>
<p>٣- السلطان الكنسي للبنيان</p>
<p>٤- قياس القانون للبلوغ إلي الله وإلي الناس بقياس والحذر من قوانين وأساليب العالم الغريبة</p>
<p>٥- شركة الألم مع المسيح ولأجله هي إحدي أسلحة أولاد الله للفطام عن الخطية</p>
<p>٦- المواهب الكنسية هي عطيّة من الله للخدمة ويجب أ ن تؤول وتهدف لمجد الله</p>
<p>٧- الدعوة للخدمة تأتي من الكنيسة في جو عبادتها الليتورجية وصومها وتَضُرُّعها</p>
<h4>(٢) نفوسنا</h4>
<p>١- ينكر نفسه &#8211; يُخلِّص نفسه &#8211; يهلك نفسه &#8211; خسر نفسه &#8211; فداء عن نفسه     إنجيل عشيّة</p>
<p>يُبْرِز الإنجيل هنا أهمّية نفس الإنسان التي لا يُعوَّض خسارتها العالم كله وكيف يُنكر الإنسان نفسه لأجل المسيح ليحفظها إلي حياة أبدية</p>
<p>٢- فانظروا إلي نفوسكم                                                                            إنجيل باكر</p>
<p>أي عدم الإنزعاج من هياج العالم والضيقات التي سيجتازها كل المؤمنين</p>
<p>٣- أنا نفسي بولس أطلب إليكم                                                                 البولس</p>
<p>دالة المحبّة بين الراعي وأبنائه</p>
<p>٤- إن كان أحد يثق من نفسه &#8211; يقيسون أنفسهم علي أنفسهم &#8211; لا نُمدِّد أنفسنا &#8211; ليس من يمدح نفسه وحده هو المختار                                                                          البولس</p>
<p>إذ يُراجع الإنسان نفسه من خلال قامة المسيح له المجد فلا يثق في نفسه ولا يُقارن نفسه بالآخرين ولا يفتخر بنفسه</p>
<p>٥- تحرَّزوا لأنفسكم من خمير الفريسيين الذي هو رياءهم                إنجيل القدَّاس</p>
<p>خطورة الرياء الذي يُفْسِد الحياة كلها</p>
<h4>(٣) الصديقين</h4>
<p>١- أحزان الصديقين              مزمور عشيّة</p>
<p>٢- خلاص الصديقين.               مزمور باكر</p>
<p>٣- أفراح الصديقين.             مزمور القدَّاس</p>
<h3>عظات آبائية</h3>
<p>يُمْكِن الرجوع لعظات الشهداء في أيام ١٥ هاتور ، ٢٥ هاتور ، ٢٣ برموده ، ٢٧ برموده</p>
<h4>الأنبا أنطونيوس</h4>
<p>قياس القانون الروحي وضوابط الجهاد حسب ما عاشه القديس العظيم الأنبا أنطونيوس :</p>
<p>ومن ذلك الوقت انضم الي الجبل كثيرون، وآخرون تشجعوا للدخول واحتمال الآلام.وكان يوصي كل المنضمين اليه من الرهبان دائماً، بالأيمان وبمحبة الرب الذي كان يحميهم ويحفظهم من الافكار النجسة والشهوات الجسدية، كما هو مكتوب في الامثال&#8221;لاتمتع البطن بالشبع&#8221;، والهروب من المجد الباطل، والصلاة بالمزامير باستمرار قبل النوم، بل ومقاومة النوم متذكرين الوصايا المكتوبة في الكتب المقدسة عن أعمال القديسين وحماسهم وتحكمهم في النفس بتذكرهم وحفظهم للوصايا. وخصوصًا مع نصيحة الرسول الذي يذكرنا باستمرار : &#8220;لاتغرب الشمس علي غيظكم&#8221;، ومع كل هذا نفكر في كل وصية تخص السلام، لكي لانغضب من بعضنا وأيضًا لا تغرب الشمس عن خطايانا تجاه الآخر، لانه من الخير الضروري أن لاتغرب شمس اليوم علي الشرور والأحقاد، ولا يلومنا القمر بالليل علي فكر خاطئ. حتي أن من منا يهرب لحياته، فهو يستمع لقول الرسول- الذي يحفظنا في الخير &#8211; القائل : &#8221; جربوا أنفسكم &#8230;&#8230;.امتحنوا أنفسكم &#8220;.</p>
<p>فامحو من النفس كل شئ (يلوثها) بالعمل بالكلمة في كل يوم بالليل وبالنهار، أما اذا اخطأت، فكف عن الخطية، واذا لم تخطئ فلا تتكبر. وأيضا داوم علي الخير ولا تتواني، ولا تدين أو تحكم علي القريب، ولا تحسب نفسك أبر منه،كما قال الرسول الطوباوي بولس، الي أن تأتي يوم الرب الذي سيفحص خفايا القلوب. لأننا مرات كثيرة ننسي ما نعمله مثلهم، ونحن غير مميزين، ولكن الرب كاشف الكل. وهو الذي سيمنحنا في الدينونة (ثمرة) مشاركتنا لبعضنا البعض في الآلام، واحتمالنا لأثقال بعضنا البعض، كقول الرسول:&#8221;احملوا بعضكم أثقال بعض وهكذا تمموا ناموس المسيح&#8221;، وهو الذي يمتحن نفوسنا، ويكمل جهادتنا التي اخفقنا فيها.فكن مطمئناً وواثقاً فيه لأنه يراقب الذين لا يخطئون.</p>
<p>فأي شئ من الاعمال التي تتحرك في النفس من نحو بعضنا البعض والتي اعتدنا عليها قد سجلت لنا وسوف تعلن. فثقوا انتم،لأنه علي الاقل نحن الذين نخجل من هذه المعرفه سنتوقف عن أن نخطئ ولن نفكر في أي شئ ردئ.لأنه من يخطئ وهو يؤثر الحذر؟ أو ماهي الخطايا التي لاتخدعه وبالأحرى يرغب أن يهرب منها؟ وهكذا نري اننا لا نتمني أن نزني عندما ننظر الي بعضنا البعض،وأيضًا لا ندون افكارنا تجاه بعضنا البعض وكأننا نعلنها للآخرين، بل بالأحرى نحفظ أنفسنا من الأفكار النجسة التي نخجل من أن يعرفها الآخر. لذلك فليكن الآخر لنا عوضاً عن العيون المدربة حسب المكتوب، لكي نري المكتوب فتحمر وجوهنا من الخجل، فلا نفكر البتة في أي شيءٍ ردئ، بل نكون مثال وقدوة في قدرتنا علي أخضاع الجسد، ونكون مقبولين من الرب الذي سحق مكائد العدو.<a href="#_ftn2" name="_ftnref2">[2]</a></p>
<h4>تعليق آباء الكنيسة علي إنجيل القدَّاس</h4>
<h5>القديس أمبروسيوس</h5>
<p>يلزمنا أن نخاف عذاب النفس لا قتل الجسد، فالموت يمثل نهاية طبيعيَّة للعذاب الجسدي لكن ليس نهاية للعقاب. فهو يضع نهاية لآلام الجسد (الزمنيَّة)، أما عقاب النفس فأبدي. يلزمنا أن نخاف الله وحده!</p>
<p>إن كان الله لا ينسى العصافير، فكيف ينسى الإنسان؟ وإن كانت عظيمة هكذا وأبديَّة حتى أن العصفور وعدد شعور رؤوسنا ليس مخفيًا أمام علمه فكم يُحسب بالأكثر جاهلًا من يظن أن الرب يجهل القلوب الأمينة أو يتجاهلها&#8230;؟</p>
<p>العصافير الخمسة على ما يبدو لي هي حواس الجسد الخمس: اللمس والشم والتذوق والنظر والسمع. العصافير كالجسدانيين تنقر قذارة الأرض لتطلب غذائها في الأراضي البور ذات الرائحة النتنة، وتخطئ فتسقط في الشباك فلا تقدر على الارتفاع نحو الثمار العالية والوليمة الروحيَّة. فإغراءات الشباك تسبي في ثناياها تحركات أرواحنا. والتهاب طبيعتنا ونشاطنا وطهارتنا هذه كلها تتبدد خلال الاهتمام بالأرضيات والماديات واقتنائنا ترف هذا العالم. والآن بعد سبينا صار أمامنا نوعان من الملذّات، إما العبوديَّة للخطيَّة أو التحرَّر منها، فالمسيح يحرَّرنا والعدو يبيعنا. يعرضنا للبيع ليميتنا بينما يفدينا المسيح ليخلصنا. وقد ذكر متى عصفورين (مت ١٠ : ٢٩) إشارة إلى الجسد والروح&#8230;</p>
<p></p>
<p>لقد أُعطينا بالنعمة أن نطير، لكن اللذة تسبينا، فتصير الروح ثقيلة بفخاخ الشر وتنحدّر إلى مستوى طبيعة الجسد الثقيلة.</p>
<p>قيل أنه لا يسقط واحد منها بدون إذن الله، فالساقط ينحدر نحو الأرض، أما الذي يطير فتحمله النعمة الإلهيَّة&#8230; فلا تخشى إذن سطوة الشيطان بل خف غضب الله.</p>
<p>النفس أيضًا شُبهت بعصفورٍ، إذ قيل: &#8220;نجت أنفسنا مثل العصفور من فخ الصياد&#8221; (مز ١٢٣ : ٧) ، وفي موضع آخر: &#8220;كيف تقولون لنفسي: اهربوا إلى جبالكم كعصفورٍ&#8221; (مز ١١ : ١) ، كما شُبه الإنسان بالعصفور: &#8220;أما أنا فكعصفورٍ منفرد على السطح&#8221; (مز ١٠٢ : ٧) ، إذ الإنسان مكون من عصفورين في واحدٍ، كإتحاد الجناحين اللذين يتعاونا في خفة ليرتفع فيغلب الطبع الروحي على المادي.</p>
<p>يوجد عصفور صالح يقدر بالطبيعة (الروحيَّة) أن يطير، وعصفور شرِّير لا يقدر أن يطير بسبب النجاسات الأرضية، وهذا الأخير يُباع بفلسين&#8230; ما أبخس ثمن الخطايا؟ فالموت يشمل الجميع، أما الفضيلة فثمينة! يعرضنا العدو للبيع كالعبيد الأسرى ويّقيمنا بثمن بخس، أما الرب فيعاملنا كعبيد صالحين خلقهم على صورته ومثاله، يّقيمنا بثمنٍ عظيمٍ، إذ يقول الرسول: &#8220;قد أُشتريتم بثمن &#8221; (١كو ٦ : ٢٠). نعم أنه ثمن غالٍ لا يحُسب بفضة بل بالدم الثمين. لأن المسيح مات لأجلنا وحرَّرنا بدمه الثمين، كما يشير القدِّيس بطرس في رسالته: &#8220;عالمين أنكم أفتديتم، لا بأشياء تفنى بفضة أو ذهب من سيرتكم الباطلة التي تقلدتموها من الآباء، بل بدمٍ كريمٍ كما من حمل بلا عيب ولا دنس دم المسيح&#8221; (١بط ١ : ١٨ &#8211; ١٩) ، نعم هو دم ثمين لأنه دم جسد بلا دنس، دم ابن الله الذي فدانا ليس فقط من لعنة الناموس (غل ٣ : ١٣) بل ومن موت الخطيَّة الأبدي.</p>
<h5>القديس كيرلس الأسكندري</h5>
<p>هذه الوصيَّة تخص الذين يحبُّونه. ولكن من هم الذين يحبُّونه؟ نقول أولئك الذين لهم فكر مشابه له، غيورون في التبعيَّة على أثر خطواته. هذا ما يحثُّنا عليه الرسول بقوله: &#8220;فإذا قد تألَّم المسيح لأجلنا بالجسد تسلَّحوا أنتم أيضًا بهذه النيَّة&#8221; (١بط ٤ : ١). لقد بذل حياته لأجلنا وكان بين الأموات كمن هو حرّ (مز ٨٨ : ٥). فالموت لم يهاجمه بسبب الخطيَّة مثلنا، إذ كان ولا يزال بلا خطيَّة، غير قادر على صنع شرٍ، إنما احتمل الآلام بإرادته لأجلنا من أجل محبَّته لنا غير المحدودة. لنصغ إليه، إذ قال بوضوح: &#8220;ليس لأحد حب أعظم من هذا أن يضع أحد نفسه لأجل أحبَّائه&#8221; (يو ١٥ : ١٣). أفلا تحسب دناءة مُرة ألا نرُد للمسيح دينه الضروري جدًا، الذي اِقترضناه منه؟</p>
<p>بطريقة أخرى، نقول إننا كأحبَّاء له يلزمنا ألا نخاف الموت بل بالحري نتمثَّل بالآباء القدِّيسين. فعندما جُرِّب الأب إبراهيم قدَّم ابنه الوحيد اسحق، حاسبًا أن الله قادر أن يقيمه من الأموات (عب ١١ : ١٩). أي رعب من الخوف يمكن أن يهاجمنا وقد أبطل &#8220;الحياة (المسيح)&#8221; الموت، لأن المسيح هو القيامة والحياة (يو ١١ : ٢٥).</p>
<p>ولنضع أيضًا في ذهننا أن الأكاليل تُقتنى بالجهاد. فإن المصارعين الأقوياء في الحلقات ينالون الكمال بالجهاد العنيف مع الخبرة. الشجاعة والذهن الشهم هما اللذان يخدمان أصحاب المهارة في المعارك. أما من يلقي عنه دِرعه يحتقره العدو، وإن عاش الهارب من المعركة، يحيا كذليلٍ. أما الذي ثبُت في المعركة، ووقف ببسالة وشهامة بكل قوَّته ضد العدو، فيُكرم بنواله النصرة، وإن سقط (جريحًا) فيكون موضع إعجابٍ. هكذا يليق بنا أن نسلك، محتملين بصبر، وثابتين في الصراع بشجاعة، فننال المكافأة العظيمة، ونكون موضع إعجاب، ونقتني لأنفسنا بركات الله، أما رفض احتمال موت الجسد من أجل محبَّة المسيح فيجلب علينا عقابًا أبديًا لا ينقطع. لأن غضب الإنسان يبلغ نهايته عند حدود الجسد، ويكون موت الجسد هو نهاية صراعهم ضدَّنا، وأما إن عاقب الله فالخسارة لا تمس الجسد وحده&#8230; بل تمس النفس البائسة أيضًا فتسقط تحت العذابات.</p>
<p>ليته يكون نصيبنا هو الموت المكرَّم، الذي يُصعدنا إلى بداية الحياة الأبديَّة، والذي بالضرورة يلتصق بالبركات النابعة عن الفيض الإلهي. لنهرب من الحياة المخجلة ولنحتقرها، الحياة الكريهة المؤقَّتة التي تقود إلى عذاب أبدي مرّ.</p>
<p>تأمَّل عظم رعايته بالذين يحبُّونه. فإن كان حافظ المسكونة يهتم هكذا حتى بالأمور التي بلا قيمة ويتنازل ليتحدَّث عن طيور صغيرة (لو ١٢ : ٦ &#8211; ٧) ، فكيف يمكنه أن ينسى الذين يحبُّونه والذين يتأهَّلون لافتقاده لهم، إذ يعرف كل دقائق حياتهم حتى عدد شعور رؤوسهم&#8230;؟</p>
<p>ليتنا لا نشك أن يده الغنيَّة تهب نعمته للذين يحبُّونه. فإما أنه لا يسمح لنا أن نسقط في تجربة، أو إن كان بحكمته يسمح لنا أن نسقط في الفخ إنما ليتمجَّد خلال الآلام، واهبًا إيَّانا بكل تأكيد قوَّة الاحتمال. الطوباوي بولس هو شاهدنا في ذلك إذ يقول: &#8220;الله أمين (قوي)، الذي لا يدعكم تجرَّبون فوق ما تستطيعون، بل سيجعل مع التجربة أيضًا المنفذ لتستطيعوا أن تحتملوا&#8221; (١كو ١٠ : ١٣).</p>
<p>&#8221; لأنك أن اعترفت بفمك بالرب يسوع، وآمنت بقلبك أن الله أقامه من الأموات، خلصت&#8221; (رو ١٠ : ٩).لقد وضح سّر المسيح في هذه الكلمات بطريقة رائعة.</p>
<p>أول كل شيء من واجبنا أن نعترف بأن الابن المولود من الله الآب، الابن الوحيد الذي من جوهره، الله الكلمة، هو رب الكل، ليس كمن نال الربوبية من الخارج بل تُنسب له بكونه الرب بالحق بالطبيعة، كما الآب أيضا. ثانيًا يليق بنا أن نؤمن بأن الله أقامه من الأموات، بمعنى أنه إذ صار إنسانًا تألَّم في الجسد من أجلنا وقام من الأموات، لذلك كما قلت الابن هو الرب&#8230; هو وحده الرب بالطبيعة بكونه الله الكلمة فوق كل خليقة. هذا ما يعلمنا إيَّاه الحكيم بولس، قائلًا: &#8220;لأنه وإن وُجد ما يُسمى آلهة سواء كان في السماء أو على الأرض كما يوجد آلهة كثيرون وأرباب كثيرة، لكن لنا إله واحد الآب الذي منه جميع الأشياء ونحن له، ورب واحد يسوع المسيح الذي به جميع الأشياء ونحن به&#8221; (١كو ٨ : ٥ &#8211; ٦)…</p>
<p>من يعترف بالمسيح أمام الناس أنه الله الرب، يعترف به أمام ملائكة الله ولكن أين؟ وكيف؟ واضح أنه في ذلك الوقت عندما ينزل من السماء في مجد أبيه مع الملائكة القدِّيسين في نهاية هذا العالم، حيث يكلل المعترفين به الحقيقيين الذين لهم الإيمان الأصيل غير المتردد&#8230; هناك تتلألأ جماعة الشهداء القدِّيسين الذين احتملوا الجهاد حتى بذل الدم، وقد كرموّا المسيح بصبرهم، ولم ينكروا المخلِّص، ولم يكن مجده غير معروف لديهم، بل وقدَّموا ولاءهم له. مثل هؤلاء يمدحهم الملائكة القدِّيسون الذين يمجدون المسيح مخلِّص الكل من أجل الكرامات التي يهبها لقدِّيسيه والتي يستحقونها. هذا ما يعلنه المرتل: &#8220;تخبر السماوات بعدله (ببره)، لأن الله هو الديان&#8221; (مز ٥٠ : ٦). هذا هو نصيب المعترفين به.</p>
<p>أما البقيَّة التي جحدته واستهانت به فستنكر، عندما يقول لهم كما سبق فقيل بأحد الأنبياء قديمًا: &#8220;كما فعلت يُفعل بَك، عملك يرتد على رأسك&#8221; (عو 15). وينكرهم بهذه الكلمات: &#8220;لا أعرفكم&#8230; تباعدوا عني يا جميع فاعلي الظلم&#8221; (لو ١٣ : ٢٧).</p>
<p>من هم هؤلاء الذين يُنكرون؟</p>
<p>أولًا، الذين عندما يسقطون تحت ضغط الاضطهاد وتحل بهم ضيقة ينكرون الإيمان، هؤلاء يفقدون الرجاء كلية من جذوره، فلا توجد كلمات بشريَّة يمكن أن تعبر عن ذلك إذ ينالون غضبًا ودينونة ونارًا لا تُطفأ.</p>
<p>بنفس الطريقة الذين يتبعون هرطقة والذين يعلّمون بها، هذه الهرطقة تنكره كأن يتجاسر البعض فيقول أن كلمة الله، الابن الوحيد، ليس هو الله بالطبيعة والحق.<a href="#_ftn3" name="_ftnref3">[3]</a></p>
<h3>عظات آباء وخدام معاصرين</h3>
<p>يُمْكِن الرجوع لعظات الشهداء في أيام ١٥ هاتور ، ٢٥ هاتور ، ٢٣ برموده ، ٢٧ برموده</p>
<h4>القديس القمص بيشوي كامل</h4>
<p>الحرب اختبار للايمان</p>
<p>مبادىء ايمانية أثناء الحرب</p>
<p>١  الخوف والشجاعة</p>
<p>❖   الخوف خطية تمنع من دخول السماء &#8221; وأما الخائفون &#8230; نصيبهم جهنم &#8221; (رؤ ٢١: ٨) .</p>
<p>❖   والسيد المسيح يقول &#8221; لا تخافوا من الذين يقتلون الجسد ولكن النفس لا يقدرون أن يقتلوها &#8221; (مت ١٠: ٢٨) .</p>
<p>❖   لقد شهد يوحنا المعمدان للحق فقطع رأسه هيرودس ملك اليهود . وشهد الأنبياء للحق فى العهد القديم فقتلهم اليهود كقول السيد المسيح &#8221; أنتم تشهدون على أنفسكم أنكم قتلة الأنبياء ، فاملأوا أنتم مكيال آبائكم &#8230; هوذا بيتكم يترك لكم خرابا &#8221; (مت ٢٣) .</p>
<p>❖ والحرب اختبار للايمان ، اذا فقد فيه الانسان ايمانه سقط فى الخوف  سواء على خط النار أم داخل المدينة. شجاعة الجندى الذى يتذكر أن الله كان مع الثلاثة فتية فى آتون النار .</p>
<p>❖ شجاعة الأم التى تؤمن أن شعور ابنها محصاة فتشجعه على واجبه المقدس . فالتمسك بالله يكسب النفس شجاعة وقوة فى كل زمان أومكان &#8230; وهذا هو أمل الكنيسة فى أبنائها أن يتحلوا دائما بالشجاعة والايمان . فاليوم يا أحبائى نحن نجتاز اختبار الايمان والشجاعة .</p>
<p>٢  الصلاة من أجل السلام</p>
<p>الكنيسة ليل نهار تصلى من أجل السلام ، فالسيد المسيح هو ملك السلام . وفى صلاة ( أوشيه ) السلامة يقول القداس الالهى &#8221; السلامة التى من السماء أنزلها على قلوبنا جميعا بل وسلامة هذا العمر . الرئيس والجند والوزراء والمشيرين زينهم بكل سلام يا ملك السلام &#8221; .</p>
<p>❖  والسلام المسيحى نابع من الله الحى فى القلب ، لذلك يستطيع الجندى فى المعركة أن يعيش السلام الداخلى لوجود الله معه ، فهو لا يصنع اعتداء بل هو طالب سلام يدافع عن سلامة أرضه ووطنه .</p>
<p>❖ من أجل ذلك تصلى الكنيسة فى أوشية الملك ( الرئيس ) &#8221; احفظه بسلام وعدل وجبروت ولتخضع له كل الأمم والبربر ( الشعوب الهمجية الغاصبة ) الذين يريدون الحرب فيما لنا من الخصب &#8221; .</p>
<p>٣  الحق الشخصى والحق العام</p>
<p>المسيحية التى تعلمنى التسامح فى حقى الشخصى ، لا تسمح لى بالتهاون فى حق جارى والدفاع عنه . فاذا أعتدى شخص على أنا وسامحته فهذا حقى الشخصى ، ولكن اذا رأيته يعتدى على جارى ولم أسرع لنجدته فهذا جبن وخيانة . والوطن ملك للجميع ، هو حق جارى وأولادى &#8230; لذلك فالمسيحى المتسامح فى أمره الشخصية ، يسرع بكل شجاعة مسيحية وجرأة واقدام للدفاع فى حق الوطن . المسيحى الذى لا يقتل دفاعا عن حقه الخاص هو الذى يسرع بشجاعة وايمان ليمسك بالمدفع ليسقط الطائرة المعتدية التى تريد الفتك ببيوتنا وأولادنا &#8230; هو المسيحى الشجاع الذى لا يهاب المعتدى بل يحافظ بأمانة على الأرض المقدسة التى وهبها الله لنا وديعة منذ آلاف السنين .</p>
<p>٤  الايمان بتدخل الله فى الحرب</p>
<p>&#8221; الهنا يحارب عنا &#8221; (نح ٤: ٢٠) .</p>
<p>&#8221; لأن الرب الهكم هو المحارب عنكم &#8221; (يش ٢٣: ٣) .</p>
<p>فالله مع الحق ، والله يدير دفة الحرب من أجل الدفاع عن صاحب الحق . فالحرب هى فى صالح الحق &#8230; هذا ايماننا .</p>
<p>٥  الايمان والمشاركة</p>
<p>❖ يوم الاثنين ٨ أكتوبر زرت عائلة فوجدتها بكل أفرادها فى حالة صوم وصلاة ، فسألت هل لكم أفراد فى الجبهة فقالوا لا &#8230; ولكن الجبهة كلها أخوتنا ونحن نصوم ونصلى مشاركة لأخوتنا على خط النار ، والصلاة فى الخفاء بهذه الصورة عمل ايمانى ومشاركة ايجابية خاليه من الرياء بل مملوءة بالحب المسيحى .</p>
<p></p>
<p>❖ اننا نسأل الذين يتذمرون على الأكل والشرب والسكر والشاى &#8230; نسألهم بقولنا ماذا قدمتم لاخوتكم الذين يعيشون نار الميدان ؟ &#8230; أين ايمانكم المسيحى العملى ، كان ينبغى ويليق بنا كمسيحيين أن لا نذوق طعاما شهيا مع الذين لا يذوقون النوم والراحة دفاعا عنا ؛؛</p>
<p>❖ يذكر لنا التاريخ عندما وصل الجنود ( فى القرن الرابع ) الى مدينة اسنا وأنتشر الوباء الخطير بينهم ، كيف خرج أهل اسنا لمعالجة المرضى ورعايتهم غير خائفين من الوباء &#8230; ولما سأل باخوميوس أحد ضباط الفرقة عن سر هؤلاء الناس ، قالوا له أنهم مسيحيون محبين لمشاركة وخدمة المتألمين .</p>
<p>❖ وهل تعلم يا أخى أن أول مستشفى فى التاريخ أنشأها القديس باسيليوس فى مضيفة البطريركية ( بطريركية سوريا  انطاكية ) ، وهذا سر تسمية المستشفى بكلمة Hospital المأخوذة عن كلمة Hospitality . بمعنى ضيافة . فالكنيسة الحية لا تستريح الا براحة من حولها . فالايجابية طبيعة المسيحية .</p>
<p>❖ لا يصح القول &#8221; اننا نتبرع بالدم &#8221; ، بل نقول &#8221; اننا نشارك بالدم &#8221; أو ندفع الدم ايفاءا لدين علينا نحو أخوتنا فى الميدان &#8230; من أجل هذا دعت البطريركية كل مواطن أن يقدم هذه الضريبة ويشارك بالدم .</p>
<p>❖ والمشاركة يجب أن تكون عميقة فى الصلاة والصوم ، كما يعلمنا القداس الالهى من القرون الأولى &#8221; صلوا من أجل أخوتنا فى البلاط وسائر الأجناد وجميع العسكر &#8221; . وهذا هو أمر غبطة البابا شنودة الثالث للكنيسة كلها أن تواظب بالحاح أمام الله بالصلاة والصوم واقامة القداسات اليومية .</p>
<p>٦  الايمان بالاستمرار فى أداء الواجب</p>
<p>الذى يصنع الخير ويؤدى الواجب من أجل الله لا يهمه مدح انسان ولا ذم آخر ، لذلك  فالمسيحى الحقيقى يعمل بلا رياء من كل قلبه من أجل الله . لا يشجعه مدح انسان ولا يوقفه ذم آخر &#8230; بل يعمل من أجل الله كقول الرسول &#8221; لا نفشل فى عمل الخير لأننا سنحصد فى حينه ان كنا لا نكل &#8221; (غل ٦: ٩) .<a href="#_ftn4" name="_ftnref4">[4]</a></p>
<h4>المتنيح القمص تادرس البراموسي</h4>
<p>فليس مكتوب لن يستعلن ولا خفى لن يظهر (لو ١١ : ٥٣ ، ١٢ : ١- ٢)</p>
<p>كانت عادة اليهود أن يعطوا الناموسي مفتاح عند بلوغه الس القانوني لمباشرة وظيفته وهو في سن الثلاثين . إشارة إلى أنه صار ملتزما بفتح كنوز الحكمة الإلهية التي في الناموس والأنبياء بنفسه وللشعب وعليه يكون المعنى هؤلاء الناس الذين قال عنهم يسوع لم يدخلوا ومنعوا الداخلين لذلك قال لهم ويل لكم أ الناموسيين لأنكم قصرتم كل التقصير في إستعمال مفاتيح المعرفة لمنفعة أنفسكم ومنفعة غيركم فكنتم سبباً في حرمان أنفسكم وحرمان الشعب من الملكوت السمائي وقيل أن معنى هذا القول ويل لكم أيها الناموسيين لأنكم أضعتم مفاتيح المعرفة فحرمتم أنتم من الدخول إلى بيت المعرفة وحرمتم غيركم أيضاً كان الرب يسوع في خلال معاملة اليهود له . هذه المعاملة الخشنة ضيفاً عند أحد علمائهم فكان الواجب عليهم أن يعاملوه بالمحبة واللطف لكنهم لبغضهم إياه وحسدهم له أخذوا يقاومونه في مسائل كثيرة لا بقصد الإستفادة بل لكي يصطادوه لكنه أجاب على سؤالاتهم الخارجة بالحكمة والصبر وطول الأناة والحلم كان تحريضهم من كل هذا الخداع أن يشتكوا عليه أما إلى رؤساء الكهنة بأنه يجدف أو إلى الحكام الرومانيين.</p>
<p>يدعون أنه هيج الشعب وعمل فتنة بينهم . كانت مقاصد المجتمعين مختلفة فكان البعض يقصد مشاهدة العجائب والأخر الإستفادة من حكمته والبعض للشفاء من أمراضهم والآخرين للإنتقاد والسخرية والمقاومة ولذلك كان المجتمعين كثيرين حتى كادوا أن يدوس بعضهم بعضاً من شدة الزحام فوجه حينئذ السيد المسيح كلامه إلى تلاميذه قائلا احترزوا من خمير الفريسيين الذي هو الرياء أن هذا الكلام عن الرياء أنه لا ينفع صاحبه رياء خادع للقداسة الكاذبة فهو سرعان ما يتمزق ويظهر من وراءه الحقيقة المرة وهي كل أعمال الخطية . أن عناية الله العجيبة تشمل جميع مخلوقاته فهو الذي خلق أحقر وأصغر الأشياء كما خلق أعظمها وأهمها . لذلك هو يعتنى بها جميعاً وكذلك الأمر من جهة الأمور المتعلقة بمصالح الشعب فأنه لا شئ فيها يعد خسيس أو حقير حتى لا يستحق عناية الله أو لا يجوز للمؤمنين أن يذكروه في صلواتهم بل كل الأشياء في يد الله يديرها ويديرها على ما هو أصلح بهم وأنسب لإرادته الصالحة وخير الإنسان .<a href="#_ftn5" name="_ftnref5">[5]</a></p>
<h3>من وحي قراءات اليوم</h3>
<p>&#8221; إذ هم يقيسون أنفسهم علي أنفسهم ويقابلون أنفسهم بأنفسهم &#8221;           البولس</p>
<p>ما أجمل أن نجعل كمالات الله هي مركز القياس لنا (مت ٥ : ٤٨)</p>
<p>ولا نقيس أنفسنا علي أنفسنا بل علي صليب المسيح له المجد ومحبته الفائقة لنا (١كو ٢ : ٢)</p>
<p>فنري دائماً أنفسنا في الموازين إلي فوق (مز ٦٢ : ٩)</p>
<p>ولكن ما أصعب أن نري أنفسنا مركز للقياس وليس المسيح له المجد</p>
<p>وهذا يجعلنا للأسف لا نري أنفسنا ناقصين ومُقصِّرين ( في أعماقنا وليس في شكل كلمات الإتضاع )</p>
<p>ولا نقبل نقد أحد يُحاول أن يكشف أي ضعف وتقصير فينا</p>
<p>ونقبل فقط مديح وتزلُّف من يُوهمنا بكمالنا في كل شئ</p>
<p>وتَصْعُب الشركة مع مقياس الأنا ويزداد الإنقسام مع عطش المجد الباطل</p>
<p>وعندها أيضاً نري الآخرين أقل من أنفسنا بدلاً من أن نري فيهم ما ينقصنا</p>
<p>لذلك ليتنا نقيس أنفسنا علي الكامل وحده (مت ٥ : ٤٨) ، ونري كماله في كل من حولنا (مز ٣٧ : ٣٧) وفِي كمال محبتنا ووحدتنا (يو ١٧ : ٢٦)</p>
<hr />
<p><a href="#_ftnref1" name="_ftn1">[1]</a> كتاب الإستشهاد في المسيحية ( صفحة ٣٥٠ ) &#8211; الأنبا يؤانس أسقف الغربية</p>
<p><a href="#_ftnref2" name="_ftn2">[2]</a> كتاب سيرة حياة القديس أنطونيوس أب الرهبان كما كتبها البابا أثناسيوس الرسولي &#8211; إعداد بولين تدري أسعد ومراجعة دكتور موريس تاوضروس</p>
<p><a href="#_ftnref3" name="_ftn3">[3]</a> تفسير إنجيل لوقا ( الإصحاح الثاني عشر ) &#8211; القمص تادرس يعقوب ملطي</p>
<p><a href="#_ftnref4" name="_ftn4">[4]</a> كتاب نبذات روحية هادفة ( الجزء الأول مقالة رقم ١٧ ) &#8211; القمص بيشوي كامل &#8211; مشروع الكنوز القبطية</p>
<p><a href="#_ftnref5" name="_ftn5">[5]</a> المرجع : كتاب تأملات وعناصر روحية في آحاد وأيام السنة التوتية ( الجزء الثاني صفحة ١٢٧ ) &#8211; إعداد القمص تادرس البراموسي</p>

      {% endcreateArticleAccordions %}
    </section>
  {% endblock %}
  