---
layout: 'layouts/reading.html'
title: 'اليوم الحادي والعشرون من شهر برمهات'
permalink: annual/7-21.html
---
  {% block content %}
    <section id="readings">
      <ul>
      {% if '19.99:6-7' != 'null' %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">العشية</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeVespers '19.99:6-7' '42.9:28-36' %}
          </div>
        </div>
      </li>
      {% endif %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">باكر</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeMatins '19.104:31-32' '40.17:1-9' '' %}
          </div>
        </div>
      </li>
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <h3 class="flex items-center justify-between">
            <span class="kufi">القداس</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </h3>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeLitugy '51.1:1-23' '61.1:12-21' '44.7:44-60*@+44.8:1' '19.87:1,2,5' '41.9:2-13' %}
          </div>
        </div>
      </li>
        </ul>
    </section>
    <section id="article">
      <h3 class="mt-8 mb-4 heading-explain">شرح القراءات</h3>
      {% createArticleAccordions firstName, lastName %}
        <p>قراءة هذا اليوم ( التذكار الشهري لوالدة الإله وتذكار نياحة أنبا رويس ، وتذكار حضور ربنا يسوع المسيح إلي بيت عنيا ) مُحوَّلة علي قراءة يوم ثالث عشر مسري ( عيد التجلّي )</p>
<p>لا يذكر الدفنار أو السنكسار نياحة أنبا رويس ، وإنما يذكران تذكار حضور ربنا يسوع المسيح إلي بيت عنيا ، ويضيف السنكسار تشاور عظماء الكهنة علي قتل لعازر ، بينما يضيف الدفنار استشهاد القديسين تادرس وطيماثاوس</p>

      {% endcreateArticleAccordions %}
    </section>
  {% endblock %}
  