---
layout: 'layouts/reading.html'
title: 'اليوم الرابع والعشرون من شهر برمهات'
permalink: annual/7-24.html
---
  {% block content %}
    <section id="readings">
      <ul>
      {% if '19.89:36,29' != 'null' %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">العشية</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeVespers '19.89:36,29' '42.9:18-27' %}
          </div>
        </div>
      </li>
      {% endif %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">باكر</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeMatins '19.107:32,41,42' '41.8:22-29' '' %}
          </div>
        </div>
      </li>
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <h3 class="flex items-center justify-between">
            <span class="kufi">القداس</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </h3>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeLitugy '58.4:14-16*@+58.5:1-14' '60.1:1-9' '44.12:1-24' '19.110:4,5,7' '40.16:13-19' %}
          </div>
        </div>
      </li>
        </ul>
    </section>
    <section id="article">
      <h3 class="mt-8 mb-4 heading-explain">شرح القراءات</h3>
      {% createArticleAccordions firstName, lastName %}
        <p>قراءة هذا اليوم ( نياحة ميخا النبي ونياحة أنبا مقار بابا الإسكندرية ) مُحوَّلة علي قراءة يوم تاسع وعشرين هاتور ( شهادة أنبا بطرس بابا الإسكندرية )</p>
<p>لا يذكر الدفنار أو السنكسار نياحة ميخا النبي ، وإنما يذكران تجلِّي كلية الطهر السيدة العذراء في كنيستها بالزيتون</p>

      {% endcreateArticleAccordions %}
    </section>
  {% endblock %}
  