---
layout: 'layouts/reading.html'
title: 'اليوم السابع من شهر برمهات'
permalink: annual/7-7.html
---
  {% block content %}
    <section id="readings">
      <ul>
      {% if '19.4:3,6,7' != 'null' %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">العشية</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeVespers '19.4:3,6,7' '40.10:24-33' %}
          </div>
        </div>
      </li>
      {% endif %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">باكر</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeMatins '19.113:1-2' '41.8:34-38*@+41.9:1' '' %}
          </div>
        </div>
      </li>
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <h3 class="flex items-center justify-between">
            <span class="kufi">القداس</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </h3>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeLitugy '45.8:14-27' '60.2:11-17' '44.19:11-20' '19.66:12-14' '42.21:12-19' %}
          </div>
        </div>
      </li>
        </ul>
    </section>
    <section id="article">
      <h3 class="mt-8 mb-4 heading-explain">شرح القراءات</h3>
      {% createArticleAccordions firstName, lastName %}
        <p>قراءة هذا اليوم ( تذكار الشهيد مينا في زمن العرب وشهادة أنبا فيليمون المغني وأنبا ابلابيوس المزمر ) مُحوَّلة علي قراءة يوم ثاني وعشرين هاتور ( شهادة القديسين قزمان وأخوته ووالدتهم )</p>
<p>يذكر الدفنار والسنكسار تذكار فيليمون المُغنِّي وابلانيوس المزمِّر فقط ، ويضيف السنكسار أيضاً مريم الإسرائيلية</p>

      {% endcreateArticleAccordions %}
    </section>
  {% endblock %}
  