---
layout: 'layouts/reading.html'
title: 'اليوم الثالث والعشرون من شهر برمودة'
tags: 'annual'
permalink: /articles/annual/8-23.html
---
  {% block content %}
    <section id="readings">
      <ul>
      {% if 'undefined' != 'undefined' %}
      
      {% else %}
      {% if '19.34:17-18' != 'null' %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">العشية</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeVespers '19.34:17-18' '40.10:16-22' %}
          </div>
        </div>
      </li>
      {% endif %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">باكر</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeMatins '19.34:19-20' '41.8:34-38*@+41.9:1' '' %}
          </div>
        </div>
      </li>
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <h3 class="flex items-center justify-between">
            <span class="kufi">القداس</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </h3>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeLitugy '45.8:28-39' '60.4:1-11' '44.16:16-34' '19.97:11-12' '42.21:12-19' %}
          </div>
        </div>
      </li>

      {% endif %}
        </ul>
    </section>
    <section id="article">
      <h3 class="mt-8 mb-4 heading-explain">شرح القراءات</h3>
      {% createArticleAccordions %}
        <p>( تذكار شهادة أمير الشهداء مارجرجس الروماني )</p>
<p>إلى هناك أنزل يارب أبطالك (يؤ ٣ : ١١)</p>
<p>&#8221; وكان يُرتل مع داود قائلاً : أحاط بي جميع الأمم ، لكن بإسم يسوع إلهي ، انتقمت منهم .</p>
<p>عظيمة هي كرامتك ، يا سيدي الملك جيؤرجيوس ، المسيح يفرح معك ، في أورشليم السمائية &#8221;</p>
<p>ذكصولوجية للشهيد مار جرجس</p>
<p>&#8221; كلّ الأرض قد احمرت من دماء الشهداء ، والسماء قد أزهرت من أكاليلُهم ، والكنائس قد تزينت برفاتُهِم ، والفصول قد تميزت بأعيادهم ، وصحة النفس والجسد قد تشدَّدَت بقُوَّتِهم &#8221; <a href="#_ftn1" name="_ftnref1">[1]</a></p>
<p>&#8221; كما في أثناء الاضطهاد ينال الإنسان إكليل الشهادة ، كذلك في وقت السلام يتوج بتاج نقاوة الضمير &#8221;  <a href="#_ftn2" name="_ftnref2">[2]</a></p>
<h3>شواهد القراءات</h3>
<p>(مز ٣٣ : ١٦ ، ١٧) ، (مت ١٠ : ١٦ – ٢٢) ، (مز ٣٣ : ١٨ ، ١٩) ، (مر ٨ : ٣٤ - ٩ : ١)، (رو ٨ : ٢٨ – ٣٩) ، (١بط ٤ : ١ – ١١) ، (أع ١٦ : ١٦ – ٣٤)، (مز ٩٦ : ١١) ، (لو ٢١ : ١٢ – ١٩)</p>
<h3>ملاحظات علي قراءات يوم ٢٣ برمودة</h3>
<p>+ قراءات اليوم تتكلّم عن قوة الله في حياة الشهداء ( مار جرجس ) ، وبالمُقارنة بقراءات يوم ١٥ هاتور التي تتكلَّم عن إحتمال الآلام والضيقات لأجل المسيح ( مار مينا ) ، وبالمقارنة بقراءات ٢٥ هاتور والتي تتكلَّم عن السلطان الإلهي وسلطان أولاد الله ( أبو سيفين ) ، وأيضاً مُقارنة بقراءات سابع وعشرين برمودة ( تذكار مار بقطر بن رومانوس ) التي تكشف عن مجد الشهداء</p>
<p>+ قراءة إنجيل عشيّة اليوم (مت ١٠ : ١٦ - ٢٢) تُشبه قراءة إنجيل عشيّة (مت ١٠ : ١٦ - ٢٣) في يوم ١٥ هاتور  ( تذكار شهادة مار مينا ) وقراءة إنجيل عشيّة في يوم ٢٠ أبيب ( الشهيد تادرس الشطبي )</p>
<p>والكلام هنا عن آلام الشهداء وشهادتهم للمسيح برغم العذابات والجلد ، والوقوف أمام الولاة والملوك بسبب إيمانهم ، لذلك جاءت القراءة في تذكارات الشهداء</p>
<p>+ قراءة إنجيل باكر اليوم (مر ٨ : ٣٤ - ٩ : ١) هي قراءة إنجيل عشيّة يوم ٢٢ هاتور  ( شهادة قزمان ودميان وإخوته وأمهم ) ، وهي قراءة إنجيل باكر يوم ١٩ توت ( ثالث يوم عيد الصليب )</p>
<p>وهي القراءة التي تكلمت عن حمل الصليب ، لذلك جاءت في عيد الصليب ، وفي تذكار الشهداء الذين حملوا الصليب ، كما أنها جاءت في تذكار القوّات السمائية ( ٨ هاتور ) لأجل الآية مر ٨ : ٣٨ ، والتي تكلمت عن مجئ الرب في مجد أبيه مع ملائكته</p>
<p>+ قراءة الكاثوليكون اليوم (١بط ٤ : ١ - ١١) تكررت في قراءة يومي ٢٥ هاتور ، ١٣ برمهات</p>
<p>وهنا الكلام عن التَسلُّح بآلام المسيح وذلك في تذكارات الشهداء المشهورين بإحتمالهم الآلام ورتبتهم كضباط في الجيش وكأن آلام المسيح له المجد كانت أسلحتهم مثل ابو سيفين ( ٢٥ هاتور ) ، مار جرجس ( ٢٣ برموده ) ، شهادة الأربعين شهيداً بمدينة بوبسته ( ١٣ برمهات )</p>
<p>كما أنها تُشبه قراءة الكاثوليكون (١بط ٤ : ٣ - ١١) للأحد الثالث من شهر هاتور</p>
<p>أوَّل آيتين ( آية ١ ، ٢ ) تتكلَّمان عن التسلُّح بآلام المسيح له المجد لذلك جاءت في قراءة اليوم ( شهادة مار جرجس ) ، بينما قراءة الأحد الثالث من هاتور تُشير إلي السلوك بالروح موضوع قراءة ذاك الأحد</p>
<p>+ تُشبه قراءة الإبركسيس اليوم (أع ١٦ : ١٦ - ٣٤) قراءة الإبركسيس يوم ١٠ طوبه (أع ١٦ : ٢٥ - ٣٤)</p>
<p>تتكلّم هذه القراءة عن إيمان حافظ السجن ومعموديته وهو أسرته من القديسين بولس وسيلا لذلك تأتي هذه القراءة في برمون الغطاس</p>
<p>كما تأتي فيها آيات إضافية ( من ١٦ - ٢٤ ) تشرح سلطان القديس بولس علي الأرواح الشريرة كما تكشف عن الآلام والعذابات التي تحمَّلها لأجل المسيح لذلك تأتي هذه القراءة في تذكار الشهيد العظيم مار جرجس ( ٢٣ برمودة )</p>
<p>+ مزمور القدَّاس اليوم (مز ٩٦ : ١١) هو نفس مزمور باكر ليوم ١٥ هاتور ( شهادة مار مينا ) ، ومزمور القدَّاس ليوم ١٣ برمهات ( شهادة الأربعين شهيداً بمدينة بوبستة ) ، ومزمور باكر الأحد الخامس ( أحد البركة )</p>
<p>ومجيئها اليوم ( ويوم ١٥ هاتور ، ويوم ١٣ برمهات ) لأجل الإعتراف بالمسيح له المجد والشهادة له &#8221; واعترفوا لذكر قدسه &#8221;</p>
<p>أمَّا مجيئها في الأحد الخامس فهو للإشارة إلي البركات الروحية الغنيَّة لأولاد الله إشراقة النور الإلهي والفرح القلبي &#8221; نور اشرق للصديقين وفرح للمستقيمين بقلبهم افرحوا ايها الصديقون بالرب &#8221;</p>
<p>+ قراءة إنجيل القداس في هذا اليوم (لو ٢١ : ١٢-١٩) هي نفس قراءة إنجيل القداس ليوم ٢٢ هاتور ( شهادة قزمان وإخوته ووالدتهم ) ، ويوم ٢٦ مسري ( شهادة القديسين موسي وسارة أخته )</p>
<p>وهي القراءة التي تكلمت عن الآلام والإضطهادات من أجل الإيمان ، والوقوف أمام الولاة والملوك ، ومساندة الله لهم ، وصبرهم إلي المُنتهي .</p>
<p>وتُشبه أيضاً قراءة إنجيل عشيَّة (لو ٢١ : ١٢ - ٣٣) للأحد الذي يوافق النسئ ، وهي هنا تتكلَّم عن علامات مجئ الرب</p>
<p>+ مقارنة بين قراءات يوم ٢٣ برمودة ( تذكار شهادة مارجرجس الروماني ) ،  ٢٧ برمودة ( تذكار شهادة بقطر بن نومارس )</p>
<p>قراءات مارجرجس تُعْلِن القوَّة الإلهية في حياة الشهداء وحمايته لهم ، بينما قراءات مار بقطر تُعْلِن المجد الإلهي في حياة أولاد الله وعظمته فيهم ، وذلك لأن مار جرجس تعرَّض لكثير من المُحاكمات والعذابات ، بينما مار بقطر كان ابن والي وكان له مجد العالم الذي تركه لأجل محبة المسيح ، فبينما تتركز القراءات الأولي علي القوة والحماية تتركز القراءات الثانية علي المجد والقيمة.</p>
<h4>القراءات المُحوَّلة علي قراءة اليوم</h4>
<p>٧ هاتور تكريس كنيسة مار جرجس الروماني</p>
<p>٦ بشنس شهادة القديس اسحق الدفراوي</p>
<p>٨ بشنس شهادة القديس يحنس السنهوتي</p>
<p>٧ بؤونه شهادة القديس أباسخيرون القليني</p>
<p>١٩ بؤونه شهادة القديس مار جرجس المزاحم</p>
<p>٢٧ أبيب شهادة القديس أبامون من أهل ترنوط</p>
<p>٢٣ مسري شهادة ثلاثين ألفاً بمدينة الإسكندرية</p>
<p>٢٧ مسري شهادة القديسين بنيامين واودكسية اخته من شبشير</p>
<h3>شرح القراءات</h3>
<p>اليوم هو تذكار شهادة أمير الشهداء مارجرجس الروماني ومُحوّل علية تذكار ثمانية من الشهداء</p>
<p>وقراءات اليوم تتركَّز علي &#8221; القوَّة &#8221; قوّة الحياة في المسيح فوق كل قوي العالم والشيطان وأيضاً عن الحماية الإلهية ورعاية الله لمن يشهدوا لإسمه القدّوس</p>
<p>تبدأ المزامير بالإشارة إلي نجاة الله لأولاده من الشدائد ( مزمور عشيّة ) ونجاتهم من الأحزان ( مزمور باكر ) وملء حياتهم فرح ( مزمور القداس )</p>
<p>يبدأ مزمور عشيّة بالكلام عن حماية الله لأولاده من الشدائد والتجارب وأيضاً عن طبيعة أولاده الله في إنسحاق قلوبهم وتواضعهم بالروح</p>
<p>( الصديقون صرخوا والرب إستجاب لهم ومن جميع شدائدهم نجاهم قريب هو الرب من المنسحقي القلب والمتواضعين بالروح يخلصهم )</p>
<p>وفِي مزمور باكر عن نجاة أولاده من الأحزان وحفظ عظامهم أي إيمانهم من أي ضعف أو إنكسار</p>
<p>( كثيرة هي أحزان الصديقين ومن جميعها ينجّيهم الرب يحفظ الرب جميع عظامهم وواحدة منها لا تنكسر )</p>
<p>وفِي مزمور القداس النور والفرح والشهادة لإسمه القدّوس</p>
<p>( نورٌ أشرق للصديقين وفرح للمستقيمين بقلبهم افرحوا أيها الصديقون بالرب واعترفوا لذكر قدسه )</p>
<p>وفِي القراءات وعد بمن يقدر ( البولس ) ووصيَّة بكيف نتسلَّح ( الكاثوليكون ) وعطيَّة بغني ما نملك ( الإبركسيس )</p>
<p>يتكلَّم البولس بوضوح ويسأل بقوّة من يقدر علي أولاد الله ومن يقدر أن يقاومهم ومن يقدر أن يفصلهم عن محبة المسيح</p>
<p>( إن كان الله يجاهد عنا فمن يقدر علي مقاومتنا … من يستطيع أن يشتكي علي مختاري الله .. الله هو الذي يبرِّر من هو الذي يقدر إن يُلقي للدينونة … من هو الذي يقدر أن يفصلنا عن محبة المسيح … فإني متيقن أنه لا موت ولا حياة .. ولا علوّ ولا عمق ولا خليقة أخري تقدر أن تفصلنا عن محبة الله التي في المسيح يسوع ربنا )</p>
<p>وفِي الكاثوليكون عن وصايا يجب أن يعيشها كل من يريد أن يختبر القوّة الإلهية</p>
<p>( فإذ قد تألَّم المسيح بالجسد عنَّا تسلّحوا أنتم أيضاً بهذا المثال ….لانه يكفيكم الزمان الذي مضي إذ كنتم تصنعون فيه إرادة الأمم …  فتعقلوا إذاً وإسهروا في الصلوات ولكن قبل كل شئ فلتكن المحبّة دائمة فيكم بعضكم لبعض .. كونوا محبين ضيافة الغرباء بعضكم لبعض بلا تذمر وليخدم كل واحد الآخرين )</p>
<p>وفِي الإبركسيس عن عطيَّة النصرة علي الشيطان والنصرة علي آلام السجون والتعذيب</p>
<p>( فتضجر بولس من ذلك والتفت إلي الروح وقال أنا آمرك بإسم يسوع المسيح أن تخرج منها فخرج في تلك الساعة … فقام الجمع عليهما ومزَّق الولاة ثيابهما وأمروا أن يُضربا بالعصيّ فلما ضربوهما ضربات كثيرة القوهما في السجن … وفِي نحو نصف الليل كان بولس وسيلا يصليان ويسبحان الله والمسجونون يسمعونهما فحدثت بغتةً زلزلة عظيمة حتي تزعزعت أساسات السجن فإنفتحت الأبواب كلُّها وإنفكت قيودهم جميعاً )</p>
<p>وفِي الأناجيل عن طبيعة الشهداء ( إنجيل عشيّة ) وجهادهم ( إنجيل باكر ) وعمل الله فيهم ومعهم ( إنجيل القداس )</p>
<p>يتكلَّم إنجيل عشيّة عن طبيعة الشهداء في حكمتهم وبساطتهم وعدم إعتمادهم علي حكمة بشرية بل علي روح الله المُتكلِّم فيهم</p>
<p>( ها أنا أُرسلكم كغنم في وسط ذئاب فكونوا حكماء كالحيات وبسطاء كالحمام … فمتي أسلموكم فلا تهتمُّوا كيف أو بما تتكلمون لأنكم تُعطون في تلك الساعة ما تتكلمون به )</p>
<p>وفِي إنجيل باكر عن جهادهم اليومي وحملهم الصليب وإنكارهم لذواتهم</p>
<p>( ودعا الجمع وتلاميذه وقال لهم من أراد أن يأتي ورائي فليُنكر نفسه ويحمل صليبه ويتبعني لأن من أراد أن يخلِّص نفسه يهلكها ومن يهلك نفسه من أجلي ومن أجل الإنجيل فهو يُخلصها )</p>
<p>وفِي إنجيل القداس عن عمل الله فيهم وحمايته لهم ونلاحظ هنا الوقوف أمام الملوك والولاة كثيراً الذي يُناسب محاكمات مار جرجس الكثيرة</p>
<p>( وقبل هذا كلِّه يلقون أيديهم عليكم ويطردونكم ويسلِّمونكم إلي مجامع وتُحبسون وتُقدَّمون أمام ملوك وولاة لأجل إسمي فيكون لكم ذلك شهادة فضعوا إذاً في قلوبكم أن لا تهتموا من قبل بما تحتجُّون به لأني أنا أعطيكم فماً وحكمةً التي لا يقدر جميع معانديكم أن يقاوموها أو يُناقضوها … وتكونون مُبْغَضين من الجميع من أجل إسمي وشعرة من رؤوسكم لا تهلك )</p>
<h3>ملخّص القراءات</h3>
<p>نجاة الله لأولاده من الشدائد الخارجية والأحزان الداخلية وتعويضهم بملء الفرح     مزمور عشيّة وباكر والقدّاس</p>
<p>وعود الله أمام قدرة البشر ووصيته كيف نتسلح وعطيته بغني ما نملك              البولس والكاثوليكون والإبركسيس</p>
<p>طبيعة الشهداء كحكماء وبسطاء وجهادهم اليومي ودفاع الله عنهم                  إنجيل عشيّة وباكر والقدّاس</p>
<h3>أفكار مقترحة للعظات</h3>
<h4>(١) قوَّة أولاد الله</h4>
<p>+ قوة الملكوت المُعْلَن في حياتهم</p>
<p>&#8221; الحقَّ أقول لكم أنَّ قوماً من القيام ههنا لا يذوقون الموت حتي يروا ملكوت الله قد أتي بقوة &#8221;     إنجيل باكر</p>
<p>+ قوة الغلبة بمحبة المسيح</p>
<p>&#8221; ولكننا في هذه جميعها تعظم غلبتنا بالذي أحبَّنا &#8221;                                                   البولس</p>
<p>+ قوة آلام المسيح</p>
<p>&#8221; فإذ قد تألَّم المسيح بالجسد عنا تسلّحوا أنتم أيضاً بهذا المثال &#8221;                                      الكاثوليكون</p>
<p>+ قوة دعم الله للخدّام</p>
<p>&#8221; ومن يخدم فكأنه من قوة يهيئها الله لكي يتمجد الله في كل شئ بيسوع المسيح &#8221;              الكاثوليكون</p>
<p>+ قوة الصلاة والتسبيح</p>
<p>&#8221; وفِي نحو نصف الليل كان بولس وسيلا يصليان ويسبحان الله والمسجونون يسمعونهما فحدثت بغتةً زلزلةُ عظيمةُ حتي تزعزعت أساسات السجن فإنفتحت الأبواب كلها وإنفكت قيودهم جميعاً &#8221;                   الإبركسيس</p>
<p>+ قوة الشهادة للمسيح</p>
<p>&#8221; لأَنِّي أنا أُعطيكم فماً وحكمةً التي لا يقدر جميع مُعانديكم أن يقاوموها أو يُناقضوها &#8221;   إنجيل القدَّاس</p>
<h4>(٢) الحماية الإلهية &amp; من يقدر ومن يستطيع ( البولس )</h4>
<p>+ نجاة مُنْسحقي القلب من الشدائد</p>
<p>&#8221; ومن جميع شدائدهم نجاهم قريب هو الرب من المنسحقي القلب &#8221;                   مزمور عشيّة</p>
<p>+ نجاة الصديقين من الأحزان</p>
<p>&#8221; كثيرةُ هي أحزان الصديقين ومن جميعها ينجيهم الرب &#8221;                 مزمور باكر</p>
<p>+ من يقدر علي مقاومة أولاد الله</p>
<p>&#8221; إن كان الله يجاهد عنا فمن يقدر علي مقاومتنا &#8221;</p>
<p>+ ومن يمكنه أن يشتكي عليهم</p>
<p>&#8221; من يستطيع أن يشتكي علي مختاري الله &#8221;</p>
<p>+ ومن وحده له حق الدينونة</p>
<p>&#8221; من هو الذي يقدر أن يلقي للدينونة &#8221;</p>
<p>+ ولا يقدر أحد أن يفصلنا عن محبّته</p>
<p>&#8221; من هو الذي يقدر أن يفصلنا عن محبة المسيح &#8221;</p>
<p>&#8221; ولا علو ولا عمق ولا خليقة أخري تقدر أن تفصلنا عن محبة الله التي في المسيح يسوع ربنا &#8221;</p>
<h4>(٣) أُعْطِيكم فماً وحكمةً ( مكررة في اليوم الثاني والعشرين من شهر هاتور )</h4>
<p>العجيب أن الرب لم يقل أعطيكم كلاماً بل فماً أي أن كل كلامنا سيكون من الله ما دامت أعيننا عليه (عب ١٢ : ٢) ونلهج في كلمته نهاراً وليلاً (مز ١ : ٢) ونخدم بكلمته (١بط ٤ : ١١)</p>
<p>فكيف نكون فمه ؟</p>
<p>١- إذا سعينا إلي جواهر كلمته ورفضنا زيف فلسفات العالم والبشر</p>
<p>&#8221; وإذا أخرجت الثمين من المرذول فمثل فمي تكون &#8221; (أر ١٥ : ١٩)</p>
<p>٢- إذا طلبنا تقديسه لنا فيكون الفم مُقدَّساً له</p>
<p>&#8221; فطار إليّ واحد من السرافيم وبيده جمرة قد أخذها بملقط من علي المذبح ومَسَّ بها فمي وقال : إن هذه قد مسَّت شفتيك فانتزع إسمك وكُفِّر عن خطيَّتك &#8221; (أش ٦ : ٧،٦)</p>
<p>&#8221; ومدَّ الرب يده ولمس فمي وقال الرب لي : ها قد جعلت كلامي في فمك &#8221; (أر ١ : ٩) ٣- إذا تمسَّكنا بكلام الحق ورفضنا الزيف وكلام الإلتواء</p>
<p>&#8221; كل كلمات فمي بالحق ليس فيها عوج ولا إلتواء &#8221; (أم ٨ : ٨)</p>
<p>٤- عندما نقبل دعوته للخدمة</p>
<p>&#8221; وجعل فمي كسيفٍ حادٍّ ، في ظل يده خبَّأني وجعلني سهماً مبرياً في كنانته أخفاني &#8221; (أش ٤٩ : ٢)</p>
<p>٥- عندما نعيش حياة التسبيح</p>
<p>&#8221; يارب افتح شفتيَّ فيُخبر فمي بتسبيحك &#8221; (مز ٥١ : ١٥)</p>
<p>&#8221; يمتلئ فمي من تسبيحك اليوم كلَّه من مجدك &#8221; (مز ٧١ : ٨)</p>
<h3>عظات آبائية</h3>
<h4>مديح الشهيد جرجس لثيودوتس أسقف أنقرة</h4>
<p>مديح قاله الأسقف المكرم الأنبا ثيودوتس أسقف أنقرة غلاطية ، في يوم تذكار المكرم &#8230;&#8230; جندي المسيح القوي القدِّيس جرجس الشهيد الذي من أهل ذيوسبوليس فلسطين - الذي هو اليوم الثالث والعشرين من شهر برمودة ، مُظهراً نسبة وجهاداته العظيمة التي صبر عليها ، والامجاد التي نالها في السموات بسلام الله آمين .لائق ومستوجب ونافع لنفوسنا ، يا أحبائي القديسين ، أن نذكر الأتعاب والاجهادات والكرامات الجدير بها القديسون . وبالأكثر المجاهد العظيم العالي والجدير بالكرامة ، العظيم المجاهد والقوي ، الذي نفرح به اليوم ، القدِّيس جرجس صاحب الذِكر الكريم</p>
<p>هذا الذي ظهر لنا مُختاراً أمام الله ومحبوباً أمام الناس لأجل أعماله الصَّالحة التي أقامها . هذه التي بسببها استحق أن يُدعَي إلي آلام المسيح المُنجية ، وأن يحتمل الجراحات لأجل المسيح ، في صبر عظيم ، وجَلّد شديد ، وقلب نقي ، كامل في تسليم رغبته بالكلية لله ، بحرارة قلبه الكبيرة ومخافته . هذه التي أثمرت حسناً لله مائة وستين وثلاثين . أيضاً ترك بإرادته وحدها أمواله الكثيرة وعبيده وغناه العظيم كله وأصغي للصوت الإلهي وحمل صليبه ، واقتفي خُطا ربنا يسوع ، واتبعه بقلب مستقيم . لأجل هذا أخذ هذه الكرامة العظيمة من المسيح ، لأجل هذا كان يقول له بقسم : لا يوجد في الشهداء من يشبهك في السموات ولن يوجد من يشبهك إلي الأبد . كان يُساق بالروح القدس ، يُشكَّل مسلكه باستمرار وحماسه حتي يصير من المختارين ، وفِي هذا منفعة لنفوسنا . بالجملة ، صنع إرادة الله بالتمام ، متجاوزاً كل فكر يعوق النَّفس . وكان في خدمة الله ، بعيداً عن سفاهات هذه الحياة ، وهي كالأحلام ، تعبر بسرعة كظل . ولأجل هذا اشتاق ذلك القوي للسماويات، متذكراً الطوباوي بولس قائلاً : إن كنتم قمتم مع المسيح ، فاسعوا لما هو فوق إلي حيث المسيح جالس عن يمين الله ، وتفكروا فيما لفوق وليس فيما للأرض . فالقديس المكرم بالحقيقة ، القدِّيس جرجس المليتي ، لم تقدر إمارة أبيه ولا نسب أمه ولا مجد جنديته أن تغري فكره . ولا شيء استعبده في هذا ولا استعبد نفسه حتي يتخلي عن تقواه وفكره المصون وإيمانه الكامل . وكانت نعمة الله تستره في كل شيء وترشده ، ويتقي الله الذي يحفظه . والرب قواه من كل جهة حتي لا يتزعزع إلي الأبد مثل حجر من الماس المختار . لأجل هذا لما حدث الاضطهاد كان القدِّيس جرجس مُعَداً بقلبه . فلما دعاه الله إلي الجهاد المقدس ، وصار مستعداً ، بالحري ذهب للجهاد المقدس وسار في الجهاد المقدس وحده وصار قوياً ، وتقوي علي أعدائه وحارب الملوك المخالفين ، ونال الإكليل غير المضمحل إلي الأبد ، وتاج المُلك ، والعرش الملوكي من قِبَل عريسه الحقيقي والقدوس ربنا يسوع المسيح ، ليس وحده فقط ، بل أنفس أخري كثيرة ، أتت لتنال الإكليل بسببه خلال سبع السنين التي تعذب فيها ، هذه لو ينعم الله لنا بمعرفته الحقيقية ، ويعيننا ، لنُظهر لكم بمديح وكرامات أخري عظيمة للقوي المجاهد ، وجندي المسيح، القدِّيس جرجس المليتي ، المقدس والشجاع .لأن الدافع موجود لنا ليحثني أن أخبركم بكل شيء ، بالحقيقة قلبي فرح اليوم جداً ، وعندي سعادة اليوم لأني سأتكلم بكرامة العظيم المنير الذي عيده اليوم في كل المسكونة <a href="#_ftn3" name="_ftnref3">[3]</a></p>
<h4>القديس كيرلس الأسكندري</h4>
<p>مواجهة الإضطهاد والموت لأجل الإيمان بالمسيح له المجد في فكر القديس كيرلس الإسكندري</p>
<p>الذِّهن الصبور المحتمِل الشجاع ، هو سلاح القديسين الذي لا يمكن اختراقه ، لأنه يجعلهم مزكِّين و متألِّقين بمدائح التقوي .أخبَرَنا أحد الرسل القديسين مرَّة قائلاً :&#8221; بصبركم تقتنون أنفسكم &#8221; (لو٢١: ١٩) وفى مرَّة أخرى : &#8221; لأنكم تحتاجون إلى الصبر حتى إذا صنعتم مشيئة الله تنالون الموعد &#8221; (عب١٠:: ١٦) . بمثل هذه الفضائل الرجولية نصير مشهورين وجديرين بالثناء ، ولنا صيت بين الناس فى كل مكان ، ومستحقين لكل الكرامات والبركات المعَدَّة للقديسين ، وحتى تلك البركات التى &#8221; لم ترها عين ولم تسمع بها أذن &#8221; (١كو٢: ٩) كما يقول الحكيم بولس ، وكيف لا يجب أن تكون تلك الأشياء جديرة بالإعجاب والاقتناء ، وهي تفوق كل فهم وكل عقل ؟ لهذا كما قلت ، فإن المسيح يهيئ الذين يحبونه للثبات الروحي فيقول : &#8221; أقول لكم يا أحبائى &#8221;</p>
<p>إن حديث المسيح الحالي ، كما يتبين ، لا يخص كل أحد حتماً بل على العكس إنه فقط لمن يحبونه بوضوح بكل قلبهم ، ويستطيعون أن يقولوا بحق : &#8221; من سيفصلني عن محبة المسيح ، أشدة أم ضيق أم اضطهاد أم جوع أم عري أم خطر أم سيف &#8221; (رو٨: ٣٥).لأن هؤلاء الذين ليست لهم محبة وثيقة للمسيح وأكيدة ومؤسسة جيداً ، من الممكن أن يحتفظوا بإيمانهم بالمسيح في الأوقات الهادئة ، ولكن متى أزعجتهم الضيقة أو اضطهاد قليل فإنهم يَعرِضون عنه ويهجرونه ويفقدون إيمانهم كما يفقدون الدافع الذى حرَّكهم لمحبته .وكما أن النباتات الصغيرة التي أينعت حديثاً لا تقدر أن تحتمل عنف الريح العاصفة لأنها لم تكن قد ضربت جذورها فى العمق ، بينما تلك التي ثبتت بمتانة وتأصَّلت جذورها تظل آمنة فى الأرض حتى ولو هزَّتها عاصفة من الرياح الشديدة ، هكذا أيضاً هؤلاء الذين لم تثبت عقولهم بمتانة في المسيح ، فإنهم يتركونه بسهولة ، ويهجرونه بسرعة .أما الذين يختزنون ويمتلكون في عقلهم وقلبهم حباً متيناً ثابتاً غير متزعزع للمسيح ، هؤلاء يكونون غير متغيِّرين في عقلهم ولهم قلب ثابت غير متذبذب . إذ يصيرون أعلى من كل تراخٍ ، وينظرون بازدراء إلى أعظم المخاطر التى لا تُحتمل ، ويسخرون من الأهوال ، كما لو كانوا يهزأون برعبة الموت . فالوصيَّة هنا إذن تخص هؤلاء الذين يحبونه</p>
<p>ولكن مَن هم هؤلاء الذين يحبونه ؟ إنهم المشابهون له في فكرهم وهم مشتاقون أن يقتفوا خطواته . ولهذا فإن رسوله يشجِّعنا بقوله :&#8221; إذ قد تألم المسيح من أجلنا بالجسد ، تسلحوا أنتم أيضاً بهذه النيَّة &#8221; (١بط٤: ١) إنه وضع نفسه عنا &#8221; وكان بين الأموات غير مقيَّد (انظر مز ٨٧: ٥س) ، لأن الموت لم يهاجمه مثلما هاجمنا بسبب الخطية ، لأنه منفصل بعيداً عن كل خطية ، وهو بلا إثم ، ولكن بإرادته وحده احتمل الموت لأجلنا ، بسبب حبه غير المحدود لنا ، فلننصت إليه وهو يقول بوضوح : &#8221; ليس لأحد حب أعظم من هذا أن يضع أحد نفسه لأجل أحبائه &#8221; (يو ١٥: ١٣)، فكيف لايكون إذن أمراً رديئاً جداً ألاَّ نرُد إلى المسيح — كدَيْن ضروري علينا — ما قد نلناه منه ؟</p>
<p>ولكي أضع الموضوع في ضوء آخر ، فإنه يجب علينا ، كأحبائه ، ألا نخاف الموت ولكن بالحري نتمثل بإيمان الآباء القديسين .فإن أب الآباء إبراهيم لما جُرِب ، فإنه قدَّم ابنه الوحيد إسحق &#8221; حاسباً أن الله قادر على الإقامة من الأموات &#8221; (عب١١: ١٩) .فلذلك أي رعبة من الموت هذه التي يمكن أن تهجم علينا ؟ بعد أن &#8221; أبطلت الحياة الموت &#8221; (انظر٢تي١: ١٠) .فالمسيح هو &#8221; القيامة والحياة &#8220;(يو١١: ٢٥)</p>
<p>ويجب أيضاً أن نضع فى ذهننا أن الأكاليل يُظفر بها بالجهاد . إنَّ بذل الجهد الشديد متحداً مع المهارة هو الذى يُكمِّل أولئك المصارعين الأقوياء في المباريات.إنها الجرأة والذهن الشجاع هما النافعان جدّاً لهؤلاء الماهرين في المعارك ، بينما الرجل الذي يلقي عنه ترسه ، فحتى أعداؤه يسخرون منه ، وإن عاش الهارب فإنه يعيش حياه ملؤها الخزي ، ولكن الذي يصمد في المعركة ويقف بجرأة وشجاعة وبكل قوته ضد العدو ، فإنه يُكرَم إذا نال النصرة ، وإن سقط فإنه يُنظر إليه بإعجاب .وهذا ما يجب أن نحسبه لأنفسنا ، لأنه عندما نحتمل بصبر ونواصل المعركة بشجاعة فهذا يجلب لنا مكافأة عظيمة . وهو أمر مرغوب فيه جداً، وننال منه البركات الممنوحة من الله .أما إذا رفضنا مكابدة الموت فى الجسد من أجل محبة المسيح ، فهذا سوف يجلب علينا عقاباً دائماً أو بالحري لا نهاية له ، لأن غضب الانسان إنما يصيب الجسد على الأكثر ، وموت الجسد هو أقصي ما يمكن أن يدبِّروه ضدنا ، ولكن عندما يعاقِب الله، فإن الخسارة لا تصيب الجسد فقط ، ولكن النفس التعيسة أيضاً تُلقى معها في العذابات . ليت نصيبنا إذن يكون بالأحرى هو الموت المُكرَّم ، لأنه يجعلنا نرتقي إلى بداءة حياة أبدية ، والذي يلحق بها بالضرورة تلك البركات أيضاً التي تأتي من الجود الإلهي . وليتنا نهرب من حياة الخزي ونحتقرها ، تلك الحياة الملعونة ، قصيرة الأجل ، والتي تهبط بِنَا إلى عذاب أبدى مرير</p>
<p>ولكي يمنح وسيلة أخرى بها يسعف عقولّنا ، فإنه يضيف بقوة : أليست خمسة عصافير بالكاد ربما تساوى فلسين ، ومع ذلك فحتى واحد منها ليس منسياً قدام الله &#8221; . ويقول فضلاً عن ذلك :&#8221; أيضاً شعور رؤوسكم محصاه &#8221; تأمل إذن ما أعظم العناية التى يخلعها علي هؤلاء الذين يحبونه . لأنه إن كان حافظ الكون يمدّ معونته إلى أشياء تافهة بهذا المقدار ، ويتنازل - إن جاز القول - إلى أصغر الحيوانات ، فكيف يمكنه أن ينسى هؤلاء الذين يحبونه ، لاسيما إذا كان يعتني بهم عناية عظيمة ، ويتنازل ليفتقدهم لكي يعرف بالضبط أصغر الأشياء عن حالتهم ، بل وحتى كم عدد شعور رؤوسهم . أين إذن هو تفاخُر الوثنين وثرثرتهم الفارغة الحمقاء ؟ أين الحكيم ؟ أين الكاتب ؟ أين مباحث هذا الدهر ألم يُجهّل الله حكمة العالم ؟ (١كو١: ٢٠) . لأن بعضاً منهم ينكر تماماً العناية الإلهية ، بينما آخرون يجعلونها تصل إلى القمر فقط ، ويضعون عليها قيوداً كما لو كانت هذه السلطة قد خُوَّلَت لهم .لمثل هؤلاء نقول : &#8221; هل عناية الله أضعف من أن تمتد إلى ما هو أسفل بل وحتى أن تبلغ إلينا ، أم أنَّ خالق الكل مُتعَب لهذه الدرجة حتى أنه لا يرى ما نفعل ؟ إن قالوا إذن إن العناية ضعيفة جدّاً ، فهذا هو الغباء بعينه ليس إلا . أما إذا صوَّروا الطبيعة الإلهية أنها خاضعة للكسل ، فإنهم يجعلونها أيضاً قابلة للحسد وهذا أيضاً تجديف وجرم لا يوجد أعظم منه .ولكنهم يجيبون أنه إزعاج للإرادة الإلهية والفائقة أن تثقَّل بالعناية بكل هذه الأمور الأرضية ، لأنهم لا يعلمون كم هي عظيمة هذه الطبيعة الإلهية التي لا يمكن للعقل أن يفهمها أو للنطق أن يصفها ، والتي تملك علي الكل ، لأنه بالنسبة لها فإن جميع الأشياء صغيرة ، وهكذا يعلِّمنا النبي المبارك إشعياء حيث يقول : &#8221; حقاً إنما جميع الأمم كنقطة من دلو وتحسب كغبار الميزان ، وتُعدّ كبصاق ، فبمَّن تشبِّهون الرب ؟&#8221;(إش٤٠: ١٥، ١٨س). فماذا تكون نقطة واحدة من دلو ؟ وماذا يكون غبار الميزان ؟ وماذا يكون البصاق ؟ أي تفلة واحدة ؟ فإن كان هذا هو وضع جميع الأشياء أمام الله ، فكيف يكون أي أمر عظيماً عليه ، أو يكون أمراً يسبِّب له إزعاجاً أن يعتني بكل الأشياء ؟ إن مشاعر الوثنيين الضارة إنما هي عديمة العقل</p>
<p>ليتنا إذن لا نشُك ، بل نؤمن أنه بيد سخيَّة سوف يمنح نعمته لهؤلاء الذين يحبونه . لأنه إما أنه لن يسمح لنا أن نقع في تجربة ، أو إذا سمح —بقصده الحكيم— أن نؤخذ فى الشرك لأجل أن نربح المجد بالآلام ، فإنه بكل تأكيد سيمنحنا القوة أن نحتملها .</p>
<p>وبولس المبارك هو الشاهد لنا ويقول :&#8221; الله أمين ، الذى لا يدعكم تجرَّبون فوق ما تستطيعون ، بل سيجعل مع التجربة أيضاً المنفذ لتستطيعوا أن تحتملوا &#8220;(١كو١٠: ١٣). لأن الذي هو المخلِّص وهو ربنا جميعاً هو رب القوات ، الذي به ومعه لله الآب التسبيح والسلطان مع الروح القدس إلي أبد الآبدين آمين .<a href="#_ftn4" name="_ftnref4">[4]</a></p>
<h4>القديس أغسطينوس</h4>
<p>علي الجميع أن يتمثلوا بالشهداء للقديس أغسطينوس</p>
<p>ما هو السبب فى أن الشهداء قد تكللوا ؟ انى أؤمن أنهم نالوا اكليل ( الشهادة ) لأنهم سلكوا الطريق الالهى واحتملوا آلامهم بكل صبر وطول أناة . أحبوا أعداءهم وصلوا لأجلهم . وهذا ما يشكل كلا من استحقاق الشهيد واكليله .</p>
<p>ان كنتم تحبون الشهداء ، وتسيرون على دربهم وتمدحونهم ، فأنتم اذا أبناء الشهداء . ولكن ان كنتم تسلكون فى غير ذلك ، فستنالون مكافأة حسب سلوككم . لنستعد لتحمل آلام المسيح دوما :</p>
<p>٥ أيها الاخوة الأحباء ، كما قلت مسبقا ان الشيطان يثور ( علينا ) ويتربص ( بنا ) دائما . ولهذا فمن اللائق بنا أن نستعد دائما بترسيخ قلوبنا فى الرب . وعلينا أن نبذل قصارى جهدنا فى التضرع الى الرب من أجل ( أن ننال ) الجلد والشجاعة وسط طريق الضيقات والمحن ، لأننا لسنا شيئا بل مجرد أبناء صغار . ماذا يجب علينا القول فيما يخص أنفسنا ؟ لقد سمعتم الاجابة من بولس الرسول عندما كنتم تقرأون رسالته ، حيث قال : &#8221; لأنه كما تكثر آلام المسيح فينا ، كذلك بالمسيح تكثر تعزيتنا أيضا &#8221; (٢كو ١: ٥) . ولقد عبر (داود) فى المزمور بالطريقة ذاتها قائلا : &#8221; عند كثرة همومى فى داخلى ، تعزياتك تلذذ نفسى &#8220;(مز ٩٤: ١٩) . فالمرتل يعبر بطريقة والرسول بطريقة أخرى ، وكلاهما يخبراننا بأنه ان لم يكن معنا المعزى ، لكنا قد خضعنا للمضطهد واستسلمنا له .فأصغوا الى ما يقوله الرسول عندما كان  بسبب دعوته للخدمة  معوزا لقوة التحمل أو على الأقل لمعونة ( الهية ) اضافية على تلك القوة ، ويقول :  &#8221; فاننا لا نريد أن تجهلوا أيها الاخوة من جهة ضيقتنا التى أصابتنا فى أسيا ، أننا تثقلنا جدا فوق الطاقة .. &#8221; (٢كو ١: ٨) . هذه الضيقة تخطت حدود قوة الانسان على التحمل . ولكن هل كانت أكثر قوة وفعالية من معونة الرب ؟ يقول : &#8221; تثقلنا جدا فوق طاقتنا &#8221; . الى أى مدى ؟ أنصتوا الى ما يقوله عن قوة عقله : &#8221; حتى أيسنا من الحياة أيضا &#8221; (٢كو ١: ٨) . كم كان محبطا من كثرة محنه عندما كان القلق يطوقه ويرجعه الى الوراء ، ومع هذا كم كانت عناية الله تحثه نحو الاستمرار الى ما هو قدام ؛؛ يقول فى موضع آخر: &#8221; ولكن أن أبقى فى الجسد ألزم من أجلكم &#8221; (فى ١: ٢٤) وحتى الآن بات الاضطهاد والمحن والضيقات عظيمة جدا لدرجة أن ( الرسول ) يئس من حياته . الخوف والرعدة قد آتيا عليه والظلمة اكتنفته ، كما سمعتم قرأ المزمور . هذا هو صوت جسد المسيح ، صوت أعضاء المسيح . هل تودون أن تسلموا به وكأنه صوتكم ؟ فكونوا اذا أعضاء المسيح واستمعوا الى ما يقوله ( النبى ) فى المزمور : &#8221; خوف ورعدة آتيا على ، وغشينى رعب . فقلت : ليت لى جناحا كالحمامة ، فأطير وأستريح ؛ &#8221; (مز ٥٥ : ٥ ٦) . أليست هذه مثل صرخة الرسول لما قال : حتى أيسنا من الحياة أيضا . هو كما لو كان يعانى اليأس من وحل الجسد ، اذ أنه كان يتوق الى الطيران الى المسيح حينما كانت كثرة الآلام تعيق رحلته . نعم لقد كان سائما من الحياة ، من هذه الحياة ، لأنه لا يوجد تعب أو ضجر فى الحياة الأبدية ، التى يشير اليها بقوله : &#8221; لأن لى الحياة هى المسيح والموت هو ربح &#8221; (فى ١: ٢١) . عناية الله هى التى كانت تدفعه بقوة الى ابقائه فى هذه الحياة .</p>
<p>فما كانت نتيجة هذه القيود ؟ &#8221; ولكن ان كانت الحياة فى الجسد هى لى ثمر عملى ، فماذا أختار ؟ لست أدرى ؛ فانى محصور من الاثنين : لى اشتهاء أن أنطلق وأكون مع المسيح ، ذاك أفضل جدا &#8221; (فى ١: ٢٢- ٢٣) . &#8221; ليت لى جناحا كالحمامة ، فأطير وأستريح ؛ &#8221; وأيضا : &#8221; ولكن أن أبقى فى الجسد ألزم من أجلكم . لقد سلم ذاته وخضع من أجل طيوره الصغيرة المغردة ، فسيج حولهم ورعاهم ورباهم تحت جناحيه المبسطين . تعبيره الخاص هو : &#8221; بل كنا مترفقين فى وسطكم كما تربى المرضعة أولادها &#8221; (١تس ٢ ٧) .</p>
<p>لنتمثل بالمسيح لأنه تألم لأجلنا أولا :</p>
<p>٦  والآن يا اخوتى ، فلنتأمل فى الفقرة التى قرئت عليكم منذ قليل : &#8221; كم مرة أردت أن أجمع أولادك كما تجمع الدجاجة فراخها تحت جناحيها ، ولم تريدوا ؛ (مت ٢٣ : ٣٧) . تأملوا الفرخة ، ثم تأملوا فى الطيور الأخرى التى تبنى عششا . ان هذه الطيور تفقس بيضها وتطعم صغارها ، ولكنكم لن ترونها ضعيفة مع نسلها . وعلى النقيض ، لاحظوا وضع حالة الفرخة عندما تطعم فراخها . لاحظوا كيف تتغير قأقأتها ( صوتها عند البيض ) وتصير الى نوع من القرقرة ( كصوت الزجاجة اذا صب فيها الماء ) الأجشة ، ولا ترون جناحيها منكمشين ومفعمين بالحيوية ، بل ترون أن شعر جناحيها شعث ويتساقط . وان رأيتم طائرا أخر وأنتم لا تعرفون شيئا عن عشه ، فلن تقدروا أن تخبرونا ما اذا كان فى العش بيض أو فراخ صغيرة . ولكن الفرخة فريدة من نوعها بخصوص هذا الأمر ، فحتى ان كنتم لا ترون بيضها أو فراخها الصغيرة ، ولكنكم تعرفون أنها أما من قرقرتها وحالة جسمها . ولكن ، ماذا فعل حكمتنا ( المسيح ) ؟ الحكمة صار ضعيفا فى الجسد ، من أجل فراخه ليطعمها وليعتنى بها . ولكن ضعف الله فى الجسد أقوى من البشر . تحت جناحى ضعف جسده وتحت قوة لاهوته المستترة جمع الرب أبناء أورشليم . ولقد علم رسوله أن يفعل الأمر ذاته ، لأنه هو الذى كان يعمل فى شخص الرسول كما يخبرنا هو قائلا : &#8221; أنتم تطلبون برهان المسيح المتكلم فى .. &#8221; (٢كو ١٣: ٣) . ويقول أيضا ان آلام المسيح تكثر فيه  ليست آلامه الخاصة  بل آلام المسيح . لأنه كان عضو المسيح فى جسد المسيح . ومن ثم فهذا يعنى : رغم أن الرسول كان يتوق بشوق الى أن يطير كحمامة ، الا أنه لأجل محبته لفراخه بقى معهم مثل الفرخة . ومرة أخرى يقول : &#8221; لكن كان لنا فى أنفسنا حكم الموت ، لكى لا نكون متكلين على أنفسنا بل على الله الذى يقيم الأموات ، الذى نجانا من موت مثل هذا ، وهو ينجى . الذى لنا رجاء فيه أنه سينجى أيضا فيما بعد &#8221; (٢كو١: ٩ ١٠) .</p>
<p>ماذا يعنى الرسول بقوله : &#8221; الذى نجانا من موت مثل هذا ، وهو ينجى ؟ هو يقصد أن يخبر أهل مدينة كورنثوس أن المسيح يحفظ حياته الراهنة من أجلهم ؛ اذ قد نجاه من ميتات كثيرة خشية أن يهزم بواسطة مضطهديه ، حتى ينال اكليله قبل أن تتوقف فراخه عن الاحتياج اليه . وهذا أيضا ما يعنيه عندما يقول : &#8221; ولكن أن أبقى فى الجسد ألزم من أجلكم . فاذ أنا واثق بهذا أعلم أنى أمكث وأبقى مع جميعكم لأجل تقدمكم وفرحكم فى الايمان &#8221; (فى ١: ٢٤  ٢٥) . ان توقعه المضرم كان يقوده فى طريق واحد ، ليس سوى فراخه . ان الحاجة هى التى كانت تدفعه الى البقاء . (يقول) : &#8221; لى اشتهاء أن أنطلق وأكون مع المسيح ، ذاك أفضل جدا &#8221; (فى ١: ٢٣) . لم يقل الرسول : انه من الضرورى ، بل قال : &#8221; ذاك أفضل جدا &#8221; <a href="#_ftn5" name="_ftnref5">[5]</a></p>
<h4>العلَّامة أوريجانوس</h4>
<p>مكافأة الشهيد في فكر العلامة أوريجانوس</p>
<p>صديقى امبروز .. في المستقبل القريب سوف يصعد الى هذه الأمجاد واحد من الشهداء البارزين، أحد الذين التهبت قلوبهم بالحماس والرغبة في معرفة الملك المسيح .. ومن يدرى؟ فقد يسبق غيره من الشهداء ..</p>
<p>على أي حال يمكنك أن تحكم في هذا الأمر بنفسك، خصوصا اذا تأملت أحد نصوص الانجيل، الذى لم يحظى ببركاته أحد من الأحياء أو ربما استطاعت قلة من القديسين أن تنال ذلك التطويب في ملء بهائه ومجده ..</p>
<p>ثق أنك أيضا سوف تنضم الى هذه الزمرة المباركة اذا خضت التجربة في ثبات دون ضعف أو خور.</p>
<p>يقول النص أن القديس بطرس قال للرب في احدى المناسبات: ها نحن قد تركنا كل شيء وتبعناك، فما هو جزاؤنا؟ فقال لهم يسوع - ومن الواضح أنه كان يوجه حديثه للرسل جميعا - الحق أقول لكم، أنكم أنتم الذين تبعتموني في التجديد، متى جلس ابن الله على كرسي مجده تجلسون أنتم أيضا على اثنى عشر كرسيا تدينون أسباط اسرائيل الاثنى عشر٠ وكل من ترك ٠٠٠ اخوة أو أخوات أو آباء أو أمهات أو أولادا أو حقولا أو بيوتا من اجل أسمي يأخذ أضعافا مضاعفة ويرث الحياة الأبدية (مت ١٩ : ٢٧ - ٢٩)</p>
<p>عندما أتأمل هذا النص أتمنى أن أمتلك من أمور هذا العالم ومتاعه ما تملكه أنت أو أكثر، وبعد ذلك اتقدم لأكون شهيدا لله في المسيح ٠٠ لأن هذا يعنى أنى أنال أضعافا مضاعفة  - أو كما يقول مار مرقس - أنال مائة ضعف (مر١٠ : ٣٠) فما نأخذه - في الواقع - يفوق ما نعطيه بأكثر مما نتصور، فاذا كان ما نقدمه في الشهادة شيء عظيم، فكم تكون العطية اذا ضوعفت مائة مرة ؟!</p>
<p>ومن أجل هذه المكافأة أتمنى - لو كنت أنا شهيد - أن  أترك ورائي أطفالا وحقولا وبيوتا حتى يمكنني أن أكون أبا لأضعاف مضاعفة من الأطفال القديسين، أو اذا شئنا مزيدا من الدقة - أبا لمائة ضعف من هؤلاء الأطفال. وأتمتع بهذه الأبوة في حضرة الله الآب، أبى ربنا يسوع المسيح، الذى منه تسمى كل أبوة في السماء وعلى الأرض (اف ٣ : ١٥)</p>
<p>وقد يصير الشهيد نوعا من الآباء الذين قيل عنهم لابراهيم: أما أنت فتمضى الى آبائك بسلام وتحيا الى شيبة صالحة (تك ١٥ : ١٥) فقد يكون هناك من يقول أن هؤلاء الآباء يقصد بهم القديسون الذين حملوا الشهادة يوما، وتركوا وراءهم أطفالا وفى مقابل شهادتهم صاروا آباء للآباء مثل ابراهيم أبى الآباء وغيره من الآباء البطاركة هكذا ترتفع كرامة الشهداء، الذين يتركون أطفالا، يصبحون آباء لا للأطفال، بل للآباء العظام.</p>
<p>كثيرون يتطلعون باشتياق نحو العطايا الأفضل (١كو ١٢ : ٣١) فيغبطون الشهداء الأبرياء، والشهداء الذين نالوا مائة ضعف من البنين أو الحقول أو البيوت.</p>
<p>ومع ذلك يعجز العقل عن تقدير العدالة في أن يمتلك هؤلاء الشهداء في العالم الروحي ثروات تفوق كثيرا ما يناله الشهداء الذين يفتقرون الى أمور هذا العالم؟ ولابد أن نطمئن أصحاب هذا القلق فنقول أن هؤلاء الشهداء قد احتملوا ألوانا من العذاب ودروبا من الآلام، وبذلك قدموا الدليل الساطع على فضيلتهم وقوة شهادتهم٠ وهذا ما يعجز على تقديمه غيرهم ممن لم يعانوا هذه المحاكمات والتجارب٠ وفى بطولة الشهداء،</p>
<p>لم يكتفوا بقطع وتمزيق كل قيود الحب التي تربطهم بالحياة والجسد فحسب، بل مزقوا وحطموا كل القيود والأغلال التي تشدهم الى العالم، وأظهروا حبهم العظيم الرائع لله، وبالتالي أثبتوا بما لا يدع مجالا للشك كيف تذوقوا بالحقيقة كلمة الله الحية الفعالة والأمضى من كل سيف ذي حدين (عب ٤ : ١٢).</p>
<p>واذ فصموا أواصر هذه الأغلال الرهيبة، صنعوا لأنفسهم أجنحة كالنسور، يستطيعون بها أن يطيروا إلى سيدهم (أم ٢٣ : ٥) وكما أن الذين لم يجوزوا تجارب الاستشهاد يعطون الكرامة والمجد للشهداء الذين أثبتوا ولائهم وثباتهم عندما كانت تتمزق أجسادهم على المقطرة، ويعانون ضروبا متباينة من العذاب والنار، هكذا نحن أيضا - الفقراء - لو حصلنا على مجد الشهادة، فالعقل يدعونا أن نقدم الجائزة الاولى لكم أنتم، الذين من أجل محبة الله التي في المسيح (رو ٨ : ٣٩) دستم تحت أقدامكم بريق الشهرة الخادعة التي يسعى اليها الناس، ووطأتم في اصرار لا على ثرواتكم وممتلكاتكم فقط بل وطأتم كذلك على حنانكم الأبوي لأطفالكم٠</p>
<p>وأعتقد أنه لا يفوتك هنا أن تلاحظ تلك السمة الرائعة من حيث الدقة التي يتميز بها الكتاب المقدس فعند الوعد بالمجازاة سواء بالأضعاف المضاعفة أو المائة ضعف من الأخوة والأطفال والآباء والحقول والبيوت، نلاحظ أنه لم يشر الي الزوجة فلم يقل أنه يأخذ أضعافا مضاعفة من الزوجات والسبب في ذلك أن في قيامة الأموات لا يزوجون ولا يتزوجون بل يكونون كملائكة الله في السموات (مت ٢٢ : ٣٠ ؛ مر ١٢ : ٢٥).<a href="#_ftn6" name="_ftnref6">[6]</a></p>
<h4>القديس كبريانوس الأسقف والشهيد</h4>
<p>فائدة الصبر</p>
<p>١- أيها الإخوة الأحباء، حينما نتكلم عن الصبر ومزاياه وفوائده، فمن أين نبدأ إلا من هذا الواقع، إذ أنكم تحتاجون إلى الصبر ولاسيما الآن حتى تستطيعوا أن تصغوا وتتعلّموا. إذ بدون الصبر لا يستطيع أحد أن يتعلم كلمة الله وطريق الخلاص.</p>
<p>إنى لا أجد أيها الأحباء، وسيلة أخرى بين كل وسائل النظام السمائي أكثر أهمية لأجل حياتنا ومجدنا من التمسك بوصايا الله</p>
<p>بطاعة نابعة من المخافة والتكريس، وعلى وجه الخصوص أن ندرك أهمية إحتياجنا إلى الصبر.</p>
<p>٢- الفلاسفة أيضا يدعون ممارسة هذه الفضيلة، وإن كان صبرهم هذا كاذب وزائف كما حكمتهم أيضا، إذ كيف يمكن أن يكون حكيما أو صبورا من لا يعرف حكمة أو صبر الله؟ إذ أن الله نفسه، يحذر أولئك الذين يعتقدون بأنهم حكماء في أعين أنفسهم في هذا العالم فيقول: «فتبيد حكمة حكمائه، ويختفى فهم فهمائه» (إش ١٤:٢٩)، وبالمثل يعلن بقوة الطوباوي بولس الرسول، الممتلئ من الروح القدس والمرسل ليدعو ويعلم الأمم: «انظروا أن لا يكون أحد يسبيكم بالفلسفة وبغرور باطل، حسب تقليد الناس، حسب أركان العالم، وليس حسب المسيح» (كو ٨:٢)، وفي موضع آخر يقول: «لا يخدعن أحد نفسه. إن كان أحد يظن أنه حكيم بينكم في هذا الدهر، فليصر جاهلاً لكي يصير حكيما! لأن حكمة هذا العالم هي جهالة عند الله، لأنه مكتوب: الآخذ الحكماء بمكرهم وأيضا: الرب يعلم أفكار الحكماء أنها باطلة» (۱ کو ۱۸:۳-۲۰).</p>
<p>لهذا فالحكمة التي لديهم ليست حقيقية، وكذلك الصبر لا يمكن أن يكون حقيقيا. فلكي يكون الإنسان صبورا يجب أن يكون متواضعا ووديعا، وإذ كنا على عكس ذلك نجد أن هؤلاء ليسوا متواضعين ولا ودعاء بل أنهم معتدون بذواتهم ومتكبرين، وإذ هم مسرورون بأنفسهم، لا يمكن أن يجد الله مسرته فيهم، إذ من الواضح إن الصبر الحقيقي لا يمكن أن يوجد حيث يوجد الفكر المتكبر والجسارة التي لا حد لها والحرية المصطنعة.</p>
<p>٣- أما نحن أيها الأحباء، فلسنا فلاسفة بالقول بل بالفعل، ولا ندعى الفلسفة كهؤلاء الذين يدعون أنهم حكماء ويرتدوا الرداء الخاص بهم، بل نحن حكماء حقا، ولا نتفاخر بالفضائل، بل أن لنا خبرة هذه الفضائل وممارستها، لا نتحدث فقط عن الأمور السامية النبيلة، بل نعيش حياتنا كخدام وعابدين الله، ونُظهر ذلك الصبر الذي هو ثمرة الخضوع الروحي والذي تعلمناه من تعاليم السماء.</p>
<p>إذ أننا نقتنى بالشركة مع الله هذه الفضيلة ، فالصبر يبدأ منه، و به يستمد بهاءه وقوته. إن أصل وعظمة الصبر تنبع من الله صانعه وسيده، ويجب علينا أن نحب كل ما هو عزيز لدى الله، فهي فضيلة محبوبة لديه، بل أن الجلالة الإلهية تحث عليها، وإذا كان هو الله ربنا وأبونا، فعلينا إذا أن نتبع صبره، إنه الرب والآب لنا في آن واحد. وإن كانت الطاعة واجبة على العبيد، فكم تكون بالأحرى حديرة بالبنين.</p>
<p>٤- فيال صبر هو الله العظيم، إذ يحتمل ما أقامه البعض من التماثيل أما والهياكل الوثنية ، لكيما يسخروا من جلاله ومن مجده. فيشرق شمسه على الأشرار كما على الصالحين، وحينما يروى الأرض بالمطر لا يحرم أحد من خيراته، بل إنه يعطى بلا تمييز، نرى صبره على المذنبين والأبرياء، على الأتقياء والأشرار، على من يشهدون بفضله وعلى الناكرين. تطيعه الفصول وكل العناصر تكمل خدمتها، تهب الرياح وتتدفق الينابيع وتنمو المحاصيل بوفرة، وتنضج الكروم في حفنتها وتتجمل الأشجار بالثمار وتتغطى الغابات بالأوراق والمروج بالأزهار، ومع أنه يحزن جدا لخطايانا المختلفة وماذا أقول؟ المستمرة؟ إلا أنه يطيل أناته وينتظر ليوم المجازاة، المعين قبلاً مرة وإلى الأبد، ومع كونه صاحب السلطان للإنتقام فإنه يفضل أن يحفظ الصبر محتملاً ومتباطئا برحمة واضحة حتى ما يعطى فرصة للتوبة، وحتى ما يرجع الإنسان، بعد أن اندفع في شروره وضلاله، ويعود إلى الله: «لأن لا أسر بموت من يموت، يقول السيد الربي، فارجعوا واحيوا ( حز۳۲:۱۸). وأيضا: «ارجعوا الي أرجع إليكم» (ملا۷:۳)، &#8220;ارجعوا إلى الرب إلهكم لأنه رؤوف رحيم، بطئ الغضب وكثير الرأفة ويندم على الشر» (يؤ ١٣:٢). وإذا يذكر الطوباوي بولس هذه الحقيقة وإذ يسعى لاقتياد الخاطئ إلى التوبة يعلن بقوة: «أم تستهين بغنى لطفه وإمهاله وطول أمانه، غير عالم أن لطف الله إنما يقتادك إلى التوبة؟ ولكنك من أجل قساوتك وقلبك غير التائب، تذخر لنفسك غضبا في يوم الغضب واستعلان دينونة الله العادلة، الذي سيجازي كل واحد حسب أعماله» (رو ٤:٢-٦). وحسنا قالت دينونة الله، فالله حقا طويل الأناة وإن كان يتباطأ إلى أمد طويل فهذا حتى يهتم الإنسان بخلاصه. لكن العقاب واقع لا محالة على الشرير الخاطئ عندما لا يتوب عن الخطية، لأنه حينذاك يصبح کل شيء عديم الجدوى.</p>
<p>٥- من هذا نفهم ونتعلم أكثر أيها الأحباء أن الصبر هو من الله، وإن الإنسان الصبور والعطوف الوديع إنما يتشبه بالله الآب، لذلك نرى الرب بعد أن أعطى الوصايا التعاليم في إنجيله لأجل الخلاص، نطق بالتحذيرات الإلهية حتى يصير تلاميذه كاملين، فأعلن قائلاً: «سمعتم أنه قيل: تحب قريبك وتبغض عدوك. وأما أنا فأقول لكم: أحبوا أعداءكم باركوا لاعنيكم. أحسنوا إلى مبغضيكم، وصلوا لأجل الذين يسيئون إليكم ويطردونكم، لكي تكونوا أبناء أبيكم الذي في السماوات، فإنه يشرق شمسه على الأشرار والصالحين، ويمطر على الأبرار والظالمين. لأنه إن أحببتم الذين يحبونكم، فأي أجر لكم؟ أليس العشارون أيضا يفعلون ذلك؟ وإن سلمتم على إخوتكم فقط، فإى فضل تصنعون؟ أليس العشارون أيضا يفعلون هكذا؟ فكونوا أنتم كاملين كما أن أباكم الذي في السماوات هو كامل» (مت٥:٤٣-٤٨). إنه بهذا الشرط كما قال يصبح أبناء الله كاملين، وكما أوضح في تعليمه، أن أولئك يبلغوا كمالهم التام، إن كان صبر الله الآب يسكن فيهم، وإذا صار الشبه الإلهي الذي فقده آدم بخطيته واضحا ومشرقا في أفعالهم.</p>
<p>٦- أيها الإخوة الأحباء، إن إلهنا رب المجد لم يعلمنا الصبر بكلماته، بل أكمله أيضا بأعماله، فهو الذي أعلن أنه جاء لكيما يتمم إرادة الآب، فمن بين جميع الفضائل العجيبة التي كانت دليلاً على عظمته الإلهية، إنه بثباته حفظ صبر أبيه في كل ما احتمله. وهكذا سائر أعماله منذ تجسده تميزت بحضور صبره، فمنذ أن نزل من أعلى السموات إلى الأرض لم يأنف وهو ابن جسدا إنسانيا، في الوقت الذي لم يكن هو ذاته خاطئا، حمل خطايا محتملاً أن يصير إنسانا من أجل أن يموت وهو غير المذنب من أجل المذنبين، ومع أنه الرب ارتضى أن يعمده عبده، ومع أنه معين ليهب مغفرة الخطايا لم يأنف من أن يغتسل جسده في جرن التجديد، لقد صام ذاك الذي يقيت الآخرين أربعين يوما، واختبر الجوع إلى الطعام من أجل أن يشبع أولئك الجائعين إلى الكلمة (اللوغوس) والنعمة من خبز السماء. دخل في حرب مع إبليس المجرب، واكتفي فقط بأن يهزمه، ولم يستخدم في ذلك سوى الكلمات. أما عن تلاميذه فهو لم يأمرهم كإله يسود على عبيده، بل بعطفه وصلاحه أحبهم محبة أخوية، بل إنه تنازل وغسل أقدامهم، كيما يعلمهم بمثاله. وإذ كان هكذا تصرف السيد مع عبيده، فكم يكون تصرف الخادم في الخدمة مع رفقاءه وزملاؤه وإخوته. فلا ينبغي أنه كان هكذا وسط تلاميذه، وعندما نرى كيف أظهر أعظم صور الصبر مع يهوذا حتى النهاية، قدم له الطعام و لم يرد أن يفضحه علانية بل أنه حتى لم يرفض قبلته، بالرغم من أنه عرف أنه عدوه وخائنه.</p>
<p>أي صبر أظهره في معاملاته مع اليهود؟! كم أظهر من ثبات وصبر عظیم؟! قاد غير الأمناء إلى الإيمان بالإقناع، وغمر غير المعترفين بالجميل بالمودة، وأجاب المعارضين برقة، هؤلاء الذين كانوا يريدون أن يمتحنوه، تعامل بالتسامح مع المغرورين، والإتضاع مع المضطهدين. وأراد أن يجمع حتى إلى وقت الصلب والآلام قتلة الأنبياء والذين كانوا يجدفون عليه.</p>
<p>٧- وحتى في ساعة آلامه وصلبه، آية تهكمات وتعييرات استمع إليها بصبر، آية استهزاءات مهينة احتملها حتى إن أولئك الشاتمين بصقوا عليه، وهو الذي حينما تفل أعاد البصر لرجل أعمى، وأي احتمال للجلد احتمله وهو الذي يقوم اليوم خدامه بجلد الشيطان وأعوانه، وكيف رأى نفسه مكللا بالشوك وهو الذي يكلل الشهداء بالزهور الأبدية، لطم على الوجه بقبضة اليد، وهو الذي يضع الأكاليل الحقيقية للغالبين، جردوه من ثيابه وهو الذي يكسونا بثوب الخلود، قبل المرارة وهو الذي أعطاهم طعاما سمائيا، أعطى خلاً ليشرب وهو الذي أسقانا من كأس الخلاص، هو البرئ، وهو البار، بل بالأولى إنه البراءة والبر ذاته، لكنه أحصى مع الأثمة، إنه الحقيقة التي حاول شهود الزور إخفاءها، ادانه الناس ذاك الذين يُدين، كلمة الله أقتيد للذبح وهو صامت، وحينما أتت ساعة صلبه أظلمت الشمس واضطربت العناصر وتزلزلت الأرض، وحل الظلام عوض نور النهار واحتجبت الشمس ساعة آلامه حتى لا ترى أشعتها جريمة اليهود، احتمل حتى المنتهى كل شيء بثبات لا يكل حتى ما يجد الصبر الكامل والتام كماله في المسيح.</p>
<p>٨- وحتى بعدما تألم، فإنه لا يزال يقبل قاتليه إذا تابوا وأتوا إليه، وبفضل صبره الذي يجلب الخلاص، لا يغلق كنيسته في وجه أحد، بل حتى مقاوميه والمجدفين عليه والأعداء الدائمين لاسمه، إن تابوا عن خطاياهم، وأقروا بذنوبهم، فهو لا يهبهم فقط غفران خطاياهم، بل أيضا جعالة ملكوت السموات. فمن ذا الذي يمكن أن يكون أكثر صبرا وشفقة منه؟!</p>
<p>لقد عاش بدم المسيح، ذاك الذي سفك دم المسيح. هكذا يكون صبر المسيح العجيب، وإن لم يكن عظيما هكذا، لما أمكن للكنيسة أن يكون فيها بولس رسولاً.</p>
<p>٩- وهكذا إذا كنا نحن أيضا مع المسيح وفي المسيح ولبسنا المسيح، وإن كان هو طريق الخلاص، فلابد إذا أن نتبع خطواته</p>
<p>مقتفين آثاره كما يعلمنا يوحنا الرسول: «من قال أنه ثابت فيه ينبغى أنه كما سلك ذاك، هكذا يسلك هو أيضا» (١يو ٦:٢)، وكذلك القديس بطرس يقول في رسالته: «فإن المسيح أيضا تألم لأجلنا، تاركا لنا مثالاً لكي تتبعوا خطواته. الذي لم يفعل خطية، ولا وجد في فمه مكر، الذي إذ شتم لم يكن يشتم عوضا، وإذ تألم لم يكن يهدد، بل كان يسلم لمن يقضى بعدل» (۱بط ۲۱:۲-۲۳).</p>
<p>١٠- وأيضا نجد أن الآباء والأنبياء وجميع الأبرار الذين كانوا رمزا للمسيح، لم يحافظوا قط على شيء في فضائلهم المجيدة أكثر من الصبر، وهكذا كان هابيل أول من إستشهد، عندما تألم لم يتذمر كإنسان بار ولم يقاوم أخاه الذي قتله، بل إذ كان متضعا ووديعا استسلم بصبر للذبح، وهكذا إبراهيم الذي آمن بالله، بطل الإيمان إذ جرب في ابنه لم يتردد أو يؤجل بل أطاع الأمر الإلهي بكل صبر وإخلاص، وإسحق إذ كان مثالاً وصورة لذبيحة الرب حينما قدمه أبوه ليذبحه، وجدناه صابرا، ويعقوب الذي هرب من بلدته بسبب أخيه، رحل منها بصبر، بل وأظهر صبرا أعظم فيما بعد عندما ربح أخاه مرة ثانية بتضرعه وعطاياه على الرغم إن عيسو في ذلك الوقت كان أكثر تمردا وقسوة.</p>
<p>ويوسف، بعد أن باعه إخوته، لم يسامحهم بصبر فقط، بل بسخاء ومحبة عندما أتوا إليه أعطاهم عطايا من القمح.</p>
<p>وموسى الذي كان يدان دوما شعبه الجاحد عديم الإيمان، من كاد الشعب العنيد أن يرجمه ومع ذلك كان بوادعة وصبر، يصلى إلى الله لأجلهم.</p>
<p>وداود الذي من نسله جاء المسيح بحسب الجسد، أظهر صبرا مسيحيا وعجيبًا خلال الفرص العديدة التي كان يستطيع فيها أن يقتل شاول الملك، على الرغم من أن شاول كان يسعى لقتله وحتى عندما وقع في الأسر أخيرا، فضل أن يتر يتركه سالما دون أن ينتقم منه، بل على العكس لقد انتقم لشاول ممن قتله!!</p>
<p>وأخيرا كم من أنبياء قتلوا وكم من شهداء كرموا بموت مجيد، وقد بلغوا جميعا الأكاليل السماوية باستحقاق الصبر! فهذه الأكاليل لا نستطيع أن نربحها إلا إذا احتملنا بصبر أولاً هذه الآلام والأتعاب.<a href="#_ftn7" name="_ftnref7">[7]</a></p>
<h3>عظات آباء وخدام معاصرين</h3>
<h4>قداسة البابا تواضروس الثاني</h4>
<p>مقياس خماسى للانسان الروحى</p>
<p>يشرح هذا الفصل أربع نوعيات من المضايقات التى تواجه المسيحى :</p>
<p>١- مضايقات دينية : (عدد ١٢) = يسلمونكم لمجامع مثل : بطرس الرسول .</p>
<p>٢-مضايقات مدنية : (عدد ١٢) = تساقون أمام ملوك مثل : بولس واستفانوس .</p>
<p>٣-مضايقات عائلية : (عدد ١٦)  = تسلمون من الوالدين ( مثال الغربة داخل البيت ) .</p>
<p>٤-مضايقات عامة : (عدد ١٧) = مثال دانيال والوشايه به والاضطهاد كما حدث فى عهد نيرون ودقلديانوس .</p>
<p>والعلاج هو ( الصبر ) أى :</p>
<p>١- الانتظار الهادىء المطمئن .</p>
<p>٢-توقع خلاص الرب برجاء .</p>
<p>٣- كسب النفس وربحها .</p>
<p>٤- الجهاد .</p>
<p>الذين يصبرون يقتنون أنفسهم  (الحياة الحقيقية ) ،  والذين يتزعزعون يبيعون أنفسهم ( هلاك).</p>
<p>المقياس الخماسى لحياة الانسان الروحية  من واقع صلواتنا الكنسية :</p>
<p>١- الخطاة : درجة الغفلة .</p>
<p>٢- الذين تابوا : درجة الانتباه ، والتوبة دافعها الحب ونتائجها الفرح .</p>
<p>٣- عدهم مع مؤمنيك : درجة التسليم ويمين المسيح الساهرة .</p>
<p>٤- ومؤمنوك عدهم مع شهدائك : درجة الشهادة أو رائحة المسيح الذكية .</p>
<p>٥- والذين ههنا اجعلهم متسبهين بملائكتك : درجة الحياة السماوية أو الملائكية .</p>
<p>فضيلة اقتناء وربح النفوس</p>
<p>&#8221; بصبركم ( باحتمالكم ) تقتنون أنفسكم &#8221; (عدد١٩) هذه الآية تعنى بصبركم تربحوا نفوسكم فكأن الصبر هو فضيلة اقتناء وربح النفس ، ورابح النفوس حكيم .</p>
<p>&#8221; الصبر هو صديق الضمير الصالح ( القديس أغسطينوس ) .</p>
<p>ان طول أناة ربنا لها الفضل الأكبر فى لوجود البشرية . &#8230;. وهذه أمثلة مع :</p>
<p>يونان  شاول الطرسوسى  بطرس  زكا  السامرية  المجدلية  أغسطينوس  معك أنت شخصيا .</p>
<p>&#8221; طول الروح هو صبر . والصبر هو الغلبة &#8221; ( القديس مقاريوس الكبير ) .</p>
<p>وطول أناة ربنا هى : أمل للخطاة  تحذير للخطاة  دينونة للخطاة .</p>
<p>ولكن كيف نقول طول أناة ربنا مع قول الكتاب : &#8221; غضب الله &#8221; ؟</p>
<p>هذه عبارة تعنى عدم رضى الله عن الشر ، ولذا فى صلواتنا نقول :&#8221; ارفع غضبك عنا &#8221; .</p>
<p>+ وبالصبر يقتنى الانسان الهدوء فى الملامح والحركات والالفاظ ، بل وسلام القلب أيضا . وجميعنا نعلم أن الحجارة لا تنكسر من الضربة الاولى ولا الأخيرة . بل بفعل الضربات المتتالية .</p>
<p>+  &#8220;الصبر هو ابن الاتضاع &#8221;  ( القديس ثيؤفان الناسك ) .</p>
<p>ان طول أناة القديس ايسيذورس على موسى الأسود هى التى ساعدته على طريق التوبة والنسك وترك حياة الخطية .<a href="#_ftn8" name="_ftnref8">[8]</a></p>
<h4>المتنيح الأنبا يؤانس أسقف الغربية</h4>
<p>دوافع الاستشهاد في المسيحية</p>
<p>لم تعرف البشرية في كل تاريخها شهداء كشهداء المسيحية ، من حيث حماستهم ، وشجاعتهم ، وايمانهم ، ووداعتهم ، وصبرهم ، واحتمالهم ، وفرحهم بالاستشهاد . فقد كانوا يعانقون الموت في فرح وهدوء ووداعة عجيبة اذهلت معذبيهم ومضطهديهم واعداءهم على السواء . فرموهم بالجنون أحياناً وبالجهل والحماقة أحياناً أخرى . وقد سخر بعض أعداء المسيحية من ظاهرة الاستشهاد ، وفسروها في سذاجة وسطحية ، على أنها هروب من الحياة ، ونوع من الانتحار تحت ظروف قاسية … وقد فند المدافعون المسيحيون المعاصرون للاضطهادات ، هذه الافتراءات وردوا عليها ، مما سنورده في موضوع آخر من هذا الكتاب .</p>
<p>والحق اننا لا يمكننا فهم الاستشهاد في المسيحية ، وتقدير قدسيته وبطولته ، ما لم نفهم دوافعه ، التي ملكت على أولئك الشهداء قلوبهم ، ومشاعرهم ، وأفكارهم بصورة قوية دفعت بهم إلى الموت ، وكأنه رحلة ممتعة … لقد اقتبل المؤمنون المسيحيون مع ايمانهم المسيحى مبادئ روحية أساسية غيرت حياتهم الشخصية ومفاهيمهم ونظرتهم للحياة كلها … ونستطيع ان نجملها فيما يلى :</p>
<p>( ١ ) ان هذا العالم وقتى بالقياس إلى الحياة الأبدية :</p>
<p>ما أكثر الاقوال الإلهية التي كانت تشجع فيهم هذا الإحساس … &#8221; لأن خفة ضيقتنا الوقتية تنشئ لنا أكثر فأكثر ثقل مجد أبدى . ونحن غير ناظرين إلى الأشياء التي ترى بل التي لا ترى لأن التي ترى وقتية أما التي لا ترى فأبدية &#8221; (٢ كو ٤ : ١٧) … &#8221; أقول هذا أيها الاخوة . الوقت منذ الآن مقصر لكى يكون الذين لهم نساء كأن ليس لهم . والذين يبكون كأنهم لا يبكون والذين يفرحون كأنهم لا يفرحون . والذين يشترون كأنهم لا يملكون . والذين يستعملون هذا العالم كأنهم لا يستعملونه . لأن هيئة هذا العالم تزول &#8221; (١ كو ٧ : ٢٩ ، ٣٠) … &#8221; العالم يمضى وشهوته . وأما الذى يصنع مشيئة الله فيثبت إلى الأبد &#8221; (١ يو ٢ : ١٧) .</p>
<p>( ٢ ) وأنهم غرباء فيه :</p>
<p>متذكرين كلمات الوحى الالهى على فم الرسل القديسين حينما أوصاهم قائلاً &#8221; سيرون زمان غربتكم بخوف &#8221; (١ بط ١ : ١٧) … &#8221; أيها الأحباء ، أطلب إليكم كغرباء ونزلاء ان تمتنعوا عن الشهوات الجسدية التي تحارب النفس &#8221; (١ بط ٢ : ١١) . وبعد أن تكلم بولس الرسول عن أبرار العهد القديم قال &#8221; في الايمان مات هؤلاء أجمعون وهم لم ينالوا المواعيد بل من بعيد نظروها وصدقوها وحيوها وأقروا أنهم نزلاء وغرباء على الأرض &#8221; (عب ١١ : ١٣) … &#8221; فأذ نحن واثقون كل حين وعالمون اننا ونحن مستوظنون في الجسد متغربون عن الرب … فنثق ونسر بالأولى أن نتغرب عن الجسد ونستوطن عند الرب &#8221; (٢ كو ٥ : ٦ ، ٨) .</p>
<p>( ٣ )  وان هذا العالم وضع في الشرير والحياة فيه حياة حزن والم وضيق :</p>
<p>&#8221; نعلم أننا نحن من الله والعالم كله وضع في الشرير &#8221; (١ يو ٥ : ١٩) . . &#8221; الحق أقول لكم ، أنكم ستبكون وتنوحون  والعالم يفرح . أنتم ستحزنون واكن حزنكم يتحول إلى فرح &#8221; (يو ١٦ : ٢٠) . &#8221; اجتهدوا ان تدخلوا من الباب الضيق &#8221; (لو ١٣ : ٢٤) . .. &#8221; في العالم سيكون لكم ضيق لكن ثقوا أنا قد غلبت العالم &#8221; (يو ١٦ : ٣٣) … بالمقارنة بالحياة الأخرى التي قيل عنها &#8221; وسيمسح الله كل دمعه من عيونهم . والموت لا يكون في ما بعد ولا يكون حزن ولا صراخ ولا وجع في ما بعد &#8221; (رؤ ٢١ : ٤) .</p>
<p>( ٤ ) وقد عرفوا ايضاً أن نهاية ضيقات وأحزان وآلام هذا العالم تؤؤل إلى مجد عظيم في السماء …</p>
<p>&#8221; من يحب نفسه يهلكها ، ومن يبغض نفسه في هذا العاام يحفظها إلى حياة أبدية &#8216; (يو ١٢ : ٢٥) . &#8221; الحق الحق أقول لكم أن لم تقع حبه الحنطة في الأرض وتمت فهى تبقى وحدها . ولكن ان ماتت تأتى بثمر كثير &#8221; (يو ١٢ : ٢٤) . &#8221; ستبكون وتنوحون والعالم يفرح . أنتم ستحزنون ولكن حزنكم يتحول إلى فرح . المرأة وهى تلد تحزن لأن ساعتها قد جاءت . ولكن متى ولدت الطفل لا تعود تذكر الشدة لسبب الفرح لانه قد ولد انسان في العالم &#8221; (رو ٨ : ١٧) .. &#8221; صادقه هي الكلمة أنه ان كنا قد متنا معه فسنحيا أيضاً معه . ان كنا نصبر فسنملك أيضاً معه &#8221; (٢ تى ٢ : ١١ ، ١٢) … &#8221; فإنى أحسب أن آلام الزمان الحاضر ، لا تقاس بالمجد العتيد أن يستعلن فينا &#8221; (رو ٨ : ١٨) … وقد أوضح الرائى في رؤياه ذلك بقوله &#8221; بعد هذا نظرت واذا جمع كثير لم يستطيع أحد أن يعده من كل الأمم والقبائل والشعوب والألسنه واقفون أمام العرش وأمام الخروف متسربلين بثياب بيض وفى أيديهم سعف نخل … وأجاب واحد من الشيوخ قائلاً لى هؤلاء المتسربلين بالثياب البيض من هم ومن أين أتوا … فقال لى هؤلاء هم الذين أتوا من الضيقة العظيمة ، وقد غسلوا ثيابهم وبيضوا ثيابهم في دم الخروف . من أجل ذلك هم أمام عرش الله ويخدمونه نهاراً وليلاً في هيكله . والجالس على العرش يحل فوقهم . لن يجوعوا بعد ولن يعطشوا بعد … لأن الخروف الذى في وسط العرش يرعاهم ويقتادهم إلى ينابيع ماء حية ، ويمسح الله كل دمعة من عيونهم &#8221; (رؤ ٧ : ٩ – ١٧) … ولم يستطع بولس ان يصف مجد السماويات فأكتفي بالقول &#8221; ما لم تر عين ولم تسمع به أذن ولم يخطر على بال إنسان &#8221; (١ كو ٢ : ٩) .</p>
<p>&#8221; أما عن المجد الذى سيكون فيه أولاد الله في السماء فيصفه يوحنا بقوله .. أيها الأحباء نحن أولاد الله ، ولم يظهر بعد ماذا سنكون . ولكن نعلم انه اذا اظهر نكون مثله لأننا سنراه كما هو &#8221; (١ يو ٣ : ٢) .</p>
<p>من أجل كل هذا …</p>
<p>( أ ) زهدوا في كل شيء مادى عالمى …</p>
<p>مستفيدين من الحكمة التي وصل اليها أيوب البار&#8221; عرياناً خرجت من بطن أمى وعريان أعود إلى هناك &#8221; (أي ١ : ٢١) . وهو نفس المعنى الذى أكده القديس بولس حينما قال &#8221; لأننا لم ندخل العالم بشئ وواضح أننا لا نقدر ان نخرج منه بشئ فان كان لنا قوت وكسوة فلنكتف بهما (١تى ٦ : ٧ ، ٨) … وقد أعتبر بولس أن الغنى هو الغنى الروحي ، وأن المؤمن باقتنائه المسيح في قلبه قد اقتنى كل شيء &#8221; كفقراء ونحن نغنى كثيرين . كأن لا شيء لنا ونحن نملك كل شيء &#8221; (٢كو ٦  : ١٠) .</p>
<p>( ب ) واشتهوا الانطلاق من الجسد لكى يكونوا مع المسيح …</p>
<p>وقد غذى هذ الشعور فيهم كلمات الرب يسوع &#8221; حيث أكون أنا تكونون أنتم أيضاً &#8221; (يو ١٤ : ٢ ، ٣) … &#8221; من يحب نفسه يهلكها . ومن يبغض نفسه في هذا العالم يحفظها إلى حياة أبدية … وحيث أكون أنا ، هناك أيضاً يكون خادمى &#8221; (يو ١٢ : ٢٥ ، ٢٦) … من أجل هذا أشتهى القديسون هذا اللقاء مع الحبيب ، فهتف سمعان الشيخ &#8221; الآن تطلق عبدك ياسيد حسب قولك بسلام &#8221; (لو ٢ : ٢٩) … وهتف بولس &#8221; لأن لى الحياة هي المسيح والموت هو ربح … لى اشتهاء أن أنطلق وأكون مع المسيح ذاك أفضل جداً &#8221; (في ١ : ٢١ ، ٢٣) … ويوحنا الرائى بعد أن رأى مالا يرى من أمجاد العالم العتيد ختم رؤياه بقوله &#8221; آمين . تعال أيها الرب يسوع &#8221; (رؤ ٢٢ : ٢٠) .</p>
<p>( ج ) وقد فعلوا كل ذلك عن محبة عجيبة …</p>
<p>مفضلين الرب عمن سواه وعما عداه . اذ كانت كلمات الرب أمامهم &#8221; من أحب أباً أو أماً أكثر منى فلا يستحقني . ومن أحب ابناً أو ابنة أكثر منى فلا يستحقني &#8221; (مت ١٠ : ٣٧) … &#8221; لا تحبوا العالم ولا الأشياء التي في العالم إن أحب أحد العالم فليست فيه محبة الآب &#8221; (١يو ٢ : ١٥) … &#8221; أما تعلمون أن محبة العالم عداوه لله فمن أراد أن يكون محباً للعالم ، فقد صار عداوة لله &#8221; (يع ٤ : ٤) … كانت حياتهم في الجسد حياة في العالم ، وليست للعالم … عاشوا فيه دون أن يكون قلبهم فيه … استخدموا العالم كبحر تعبر فيه سفينة حياتهم ، دون أن تمتلئ من مياهه ، فتغرق وتغوص إلى قاعه &#8221; والذين يستعملون هذا العالم كأنهم لا يستعملونه . لأنه هيئة هذا العالم تزول &#8221; (١ كو ٧ : ٣١) … لقد عبر بولس عن حبه بهذه الكلمات &#8221; من سيفصلنا عن محبة المسيح … فانى متيقن انه لا موت ولا حياة ولا ملائكة ولأ رؤساء ولا قوات ولا أمور حاضرة ولا مستقبلة. ولا علو ولا عمق ولا خليقة أخرى تقدر أن تفصلنا عن محبة الله التي في المسيح يسوع ربنا &#8221; (رو ٨ : ٣٥ – ٣٩) … وحينما قال &#8221; لست أحتسب لشئ ولا نفسى  ثمينة عندى &#8221; (أع ٢٠ : ٢٤) … حقق ذلك عملياً لمؤمنى قيصرية حينما رجوه ألا يصعد إلى أورشليم تفاديا لليهود الذين كانوا يطلبونه للفتك به &#8221; ماذا تفعلون تبكون وتكسرون قلبى ، لأنى مستعد ليس أن أربط فقط بل أن أموت أيضاً في أورشليم لأجل اسم الرب يسوع &#8221; (أع ٢١ : ١٠ – ١٣) …</p>
<p>والآن – بعد أن عرضنا لهذه الدوافع المقدسة ، نستطيع أن ندرك ، ولو قليلاً ، ونعلل سر تهاتف الشهداء على الموت ، واقبالهم على التعذيب ، بروح اللامبالاة ، لكن في فرح وسكينه من أجل الرجاء العتيد .</p>
<p>ونستطيع ان نميز ثلاث فئات من الشهداء من حيث دافع استشهادهم :</p>
<p>أ – شهداء من أجل ثباتهم على الإيمان المسيحي عامة . وهؤلاء تؤلف أعدادهم الغالبية العظمى ممن أستشهدوا على أسم المسيح ، وهو موضوع كتابنا هذا بأكمله .</p>
<p>ب – شهداء استشهدوا من أجل الحفاظ على عفتهم وطهارتهم .</p>
<p>ج – شهداء ماتوا تمسكاً بعقيدتهم … والآن نعرض للنوعين الأخرين .<a href="#_ftn9" name="_ftnref9">[9]</a></p>
<h4>القديس القمص بيشوي كامل</h4>
<p>عظة الشهداء قدوة الكنيسة</p>
<p>بسم الاب و الابن و الروح  القدس الاله الواحد أمين</p>
<p>في الواقع يا أحبائي  ، قعدت أفكر في الليالي ديه ليالي افراح. و الفرح جه للكنيسة و خاصة واحنا بنزف أجساد الشهداء القديسين ، و لكن لو رجعنا عبر الأجيال الطويلة ديه في نفس اليوم ده اللي كان فيه الشهيد بيتعذب أو بيتألم ، هل كانت الليالي ديه ليالي ليالي افراح زي اللي احنا قاعدينها كده ، كانت الناس قاعدة علي الكراسي مبسوطة و بيرتلوا و فرحانين، بالعكس بالتأكيد يا احبائي كانت أيام معاناة صعبة جدآ . ده لو واحد ماشي في الطريق و شاف عربية ضربت قطة و لا كلب صغير &#8230; بيصرخ و جسمه بيقشعر و بيضطرب و بينزعج جدآ لما يشوف لون الدم ، يمكن علي الأرض . اذا كان بيتكلموا عن القديسين دولت و القديس مارجرجس اللي كانوا بيقطعوا جسمه ، و بيرقصوا من وراه، كان ايه هيكون مشاعر المسيحيين في الأيام ديه؟ الأطفال الصغيرين اللي يشوفوا منظر الدم ده و الكبار و الأمهات و الاسر . و ربما كانت أيام فرح روحية لكن كانت أيام معاناة صعبة جدآ . و من الخطأ يا اخواتي ان احنا نصور أيام الشهداء هي كانت أيام سهلة. و لكن أيام الشهداء كانت أيام صعبة جدآ . كانوا عايشين في المقابر و عايشين في سراديب تحت الأرض و كانوا عايشين بعلامات سرية بينهم و ما بين بعض . يرسم له علامة علي الأرض عشان يفهم انه هو مسيحي، و كانوا متخفين عن الدولة. و كثير ايضآ في ذكر الواقع ، كثير ايضآ  أنكروا الايمان، و كان منهم أساقفة و فرضت عليهم واجبات دينيه بسيطة في نظير ان هي تقبلهم و يرجعوا لحظيرتها مرة ثانية ، فالايام ديه اجتازتها الكنيسة بمرارة ،  اجتازتها بدموع و بعرق ، و بدم انت متخدش الموضوع ببساطة لما نقول ان يوم واحد دقلديانوس في حقبة معينة قتل 800 الف في مدينة الاسكندرية و كان يريد انه هو يكمل ايضآ لولا ان هو تعب من قتل المسيحيين.</p>
<p>الانجيل بتاع الليلة بيقول تكونوا مبغضين من اجل اسمي ، لكن انتهي عصر الاستشهاد ، و جه عصر تاني للاستشهاد من اجل الايمان و ظهر اثناسيوس في ساحة الاستشهاد من اجل الايمان . و كتبوا عنه قالوا اثناسيوس ضد العالم . العالم كله ضدك يا اثناسيوس ، قال لهم و انا أيضا ضد العالم . و كتب اثناسيوس و قال لم ينته عصر الاستشهاد ، فكان المؤمنون أيضا يقدمون للاستشهاد من اجل العقيدة و لولا هذه الدماء ايضآ و هؤلاء الشهداء ما كان بقي لنا قانون الايمان اللي احنا عايشين فيه، و كانوا مسيحيين مع مسيحيين، و كانت شدة الاباطرة علي ابائنا القديسين في منتهي القسوة . و عاش اثناسيوس طول حياته مطرودآ من الإسكندرية هربان في وسط المقابر، و يخش في جوف الأرض و في البراري، و لم يكن اباؤنا يا احبائي يذوقون طعم الراحة اثناسيوس قال لم ينته عصر الاستشهاد. و لكنه كتب في رسالته قال لهم الاستشهاد ما زال موجودآ. في شهادة من اجل الحق. الشهادة من اجل الحق. و في شهادة ايضآ شافها اثناسيوس بعينه من بيوت الاقباط&#8230;. النفوس اللي كرست حياتها في البيت ، كانت كنيسة للصلاة ..الام اللي سهرت علي تربية أولادها بدموع و بصلاة ، فطلعت من تحت ايديها قديسين و قديسات ، و الاب اللي فاتح بيته عشان يطلع قديسين . اثناسيوس كان بيشوف في الناس دولت كلهم صور الشهداء.</p>
<p>و يخبرنا ايضآ التاريخ عن شهداء محبة المسيح. و القديسين مكسيموس و دوماديوس قال عنهم القديس أبو مقار هلم بنا يا إخوة نعاين مكان شهادة الاخوة الغرباء ، لآن لما راح يزورهم فوجدهم سهرانين في الليل فتظاهر بالنوم و راي ازاي يقفوا للصلاة فوجد الكبير و هو يصلي في شكل لهيب نار طالع من بقه ، ووجد الصغير الشياطين بتلف حواليه زي الدبان ، و ملاك الرب واقف يدافع عنه فسماهم شهداء . فالكنيسة بتاعتنا اجمل اسم ليها هي كنيسة الشهداء . سواء كان في عصر الوثنين او سواء كان شهادة من اجل الايمان ، او كان شهادة ايضآ محبة في المسيح باي صورة من الصور&#8230;</p>
<p>فالليلة يا احبائي الفرحة اللي غمرتنا هذه لازم نحولها بسرعة الي فرحة روحية . بحيث ان روحنا تتملي بالفرح . مش فرح مادي و لكن فرح القديسين اللي قال عنه بولس الرسول في رسالته : افرحوا في الرب كل حين و أقول ايضآ افرحوا &#8221; كان يكتب هذه الكلمات الجميلة و السلاسل في ايديه في سجن روميه عندما كتب رسالته الي فيليبي قائلآ : افرحوا في الرب كل حين و أقول ايضآ افرحوا &#8221; بولس الذي له هذه المنطقة سيربطه اليهود هكذا في اورشليم ، فقال لهم : تكسرون قلبي لاني لست مستعدآ فقط ان اربط من اجل المسيح بل ان اموت ايضآ . قال هذه الخدمة التي تسلمناها من الرب يسوع مش ها يكف ابدآ في الجهاد من اجلها.</p>
<p>ففي شهداء للخدمة خدموا الكنيسة بشجاعة و بفرح و بسرور و سهروا علي خدمة الكنيسة حتي النهاية و نحن الان يا احبائي في عصر يتميز بالسطحية و الميوعة و المادية بصورها المختلفة . و الخلاعة و الشر ينتشران من هنا و من هناك و لكن الرب يسوع ايضآ شهود و شهداء ايضآ لم ينس التاريخ ابدآ هذه الشهيدة بربتوا عندما تقدمت للاستشهاد و الثور قطع اليدين بتاعتها و تعرت . مهمهاش ضربة الثور لكن كل اللي كان شاغل بالها ان هي تغطي هدومها . فصفق لها اللي كانوا واقفين في البلكونات بيتفرجوا عليها في الاستشهاد . و بسبب هذا المنظر الجميل&#8230;امن ست مائة نفس، لآن هي اهتمت ان تكون شهيدة للعفة . و القديسة بوتامينا و قصتها المعروفة اللي هي قالت للوالي بدل ما ترميني عريانة في فرن الزيت المغلي ، لبسني هدومي و نزلني ثانية ثانية ، و انا اموت تدريجيآ و بلاش تعريني و تبقي عزبتني اكثر</p>
<p>و يعوزنا الوقت لو تكلمنا عن شهداء من اجل العفة .</p>
<p>و للان ايضآ أولادنا في الكنيسة ممكن يشهدوا للعفة في وسط عالم شرير ، و أباؤنا القديسن ايضآ في شهادتهم كانوا شجعان ، لم يخافوا و لم يضطربوا و لم ينزعجوا و كلام ربنا يسوع لينا في الانجيل &#8221; لا تهتموا من قبل&#8221; ان كانت الأيام دية بتتعب اولادنا من ضيقات او أشياء شبيهة بذلك في العمل في الكلية &#8230; في مثل هذه الأمور ما موقفنا كأولاد للشهداء . الفرح يملآ قلبنا و السلام الداخلي لآن الله الذي يرعي الكنيسة عشرين قرنآ لم يتخل عنها . لكن أنا سريع النسيان &#8230;سريع النسيان. ثم انه أيضآ لو تألمنا من اجل البر . ان اصابتنا الام في العالم &#8221; من اجل اسم المسيح فيبقي لنا التطويب و البركة ، و احنا نطول ناخذ بركة علي اسم المسيح؟!</p>
<p>من أجل هذا يا احبائي ها ارجع للكلام من اول .</p>
<p>الليلة ليلة فرح . فرح بايه؟ فرح &#8230; دا احنا ليلة شهداء .</p>
<p>و لكن كنيستنا مبنيه علي ايمان هؤلاء الشهداء ان الايمان لم يسلم لهم مكتوب علي ورق , لكن سلم لهم مكتوب بالدم ، فكنيستنا القبطية ايمانها قطرة دم . من اجل ذلك أعطاها المسيح و سلمه للأجيال واحد بعد الاخر و كانوا يحرصون علي ايمانهم كما يقول سفر الرؤيا &#8221; لم يحبوا حياتهم حتي الموت&#8221; مكنش في محبة لحياتهم.</p>
<p>من اجل هذا يا احبائي نحن نكرمهم ، و ان كنا نكرمهم الليلة ، و لكن كرامتهم في السماء كبيرة خالص. فلما يقول سفر الرؤيا هذه هي الكرامة الكبيرة للشهداء،و سجلت بوضوح تام ، عندما سألوه متي يا ربي تنتقم للذين قتلونا ، فلبسوه ثيابآ بيض تحت المذبح , و قيل لهم ان بستريحوا قليلآ لما يكمل العبيد رفقاؤهم جهادهم. لآجل هذا يا احبائي : الشهداء مكرمون جدآ و مكانتهم تحت المذبح في السماء و نحن نكرمهم و لا ينال هذه الكرامة أي انسان في العالم . مارجرجس يكرمه العالم كله حتي الذين لا يؤمنؤن به . قعدت اتعجب في إنجلترا عيد عظيم لمارجرجس آن ده الشفيع بتاعهم. حتي احنا عيد استشهاد مارجرجس يوم 1 مايو اصبح عطلة رسميه سموه عيد العمال.</p>
<p>لكن لازم الكنيسة كلها تحتفل بهذا العيد العظيمظز مارجرجس نذكره في المناسابات اللطيفة و نطلب شفاعته. منذ سنة في هذا المكان كنا بنتحدث عن موضوع القنبلة و عمل ربنا اللطيف العجيب الحلو المعجز، و كان يوم مفرح لآن ده اليوم اللي اتبنت فيه كنيسة الست العذراء و القديس كيرلس عمود الدين ، و لولا مشغولية الناس في الكنيسة هنا بسبب القنبلة مكنش اتبنت الكنيسة هناك.</p>
<p>اعمال ربنا عجيبة و لكن يا احبائي ، هل تنقلب هذه الافراح الي افراح روحية فنعطي قلوبنا و ارواحنا و اوقاتنا و كل ما لينا لله الذي أحبهم فقدموا حياتهم&#8230;</p>
<p>و نحن يا احبائي اب الاسرة في مكانه يربي أولاده في مخافة ربنا . و يسهر و يصلي من أجلهم . و الام أيضا تسهر من اجل أولادها و تطلب الي الله أن يكونوا قديسين ، و الخادم في مدارس الاحد يسهر علي خدمته بأمانة . و يكون شهيد ايضآ في خدمته. و الكل شبان و شابات و رجال في أعمالنا و في كلياتنا و في احتكاكنا بالعالم الخارجي نمتلئ شجاعة بالروح و نذهب للمسيح بشجاعة و بعدم خوف و باطمئنان داخلي. لآن الله معنا كل الأيام و الي انقضاء الدهر.</p>
<p>في الحقيقة يا احبائي ليس لنا ان نشكر الله علي اللي أعاننا لهذة الليلة و زي ما بيقول المزمور بتلع الليلة ديه&#8221; الصديقون صرخوا والرب استجاب لهم، ومن جميع شدائدهم نجاهم، قريب هو الرب من المنسحقى القلب، والمتواضعين بالروح يخلصهم. الصديقون  الشهداء صرخوا للرب و الرب  استجاب لهم،طب و استجاب لهم ازاي؟</p>
<p>و هؤلاء استشهدوا ! استجاب لهم أي اعطاهم الاكاليل . استجاب لهم لأنهم ماتوا علي الايمان . كان الوحش ان هم ينكروا الايمان في الطريق و هم في طريقهم للاستشهاد. لكن . الصديقون صرخوا للرب والرب  استجاب لهم. فحفظ إيمانهم للنفس الأخير كما يقول القديس أغسطينوس &#8221; كثيرة هي أحزان الصديق، ومن جميعها يجربهم الرب و الرب يحفظ عظامهم وواحدة لا تنكسر ، و الشهداء تكسرت عظامهم . القديس أغسطينوس يقول إن عظامهم ليس المقصود بها العظام العادية لأ الشهداء انكسرت عظامهم. و لكن القديسن عظام إيمانهم ما زالت قوية و لن تنكسر . و تعب دقلديانوس أمام مارجرجس فعمل كل الحيل بالتهديد و الاغراء و لكن بقوة المسيح غلب مارجرجس. و هؤلاء غلبوا و الصديقون صرخوا والرب استجاب لهم، قريب هو الرب من المنسحقى القلوب ، و يستجيب الرب لصلواتنا و صراخنا اليه.</p>
<p>في هذه الليلة يحفظ ايمان الكنيسة قوي و هذه الأيام صعبة لكي يعطينا روح مارجرجس و روح القديسين و روح الايمان القوي لكي نثبت علي ايمان ابائنا الي النفس الأخير و نشهد لالهنا الذي احبنا و مات لاجلنا .</p>
<p>والهنا المجد الدائم أبديآ أمين .<a href="#_ftn10" name="_ftnref10">[10]</a></p>
<h4>المتنيح القمص تادرس البراموسي</h4>
<p>لكن شعرة من رؤوسكم لا تهلك . بصبركم أقتنوا أنفسكم (لو ٢١ : ١٢- ١٩)</p>
<p>تقدم التلاميذ إلى الرب يسوع على إنفراد قائلين قل لنا متى يكون هذا وما هي علامة مجيئك ومنتهى الدهر.ظن التلاميذ إن خراب المدينة والهيكل هو منتهى العالم كل ذلك يتم في وقت واحد لذلك سألوه . وقد تكلم الرب يسوع عن هذا إلى قوله إن قال لكم أحد هوذا المسيح هنا أو هناك فلا تصدقوا . مت ٢٤ : ٢٣ أما عن خراب أورشليم الذي تم على يد يوسبيانوس وتيطس أبنه ولم تكشف لهم عن يوم مجيئه لا لأنه لم يكن يعلم بل لأنه لو علمنا بذلك يؤذينا ولا ينفعنا إذ يورثنا التهاون وأهمال الفضائل نظرا لطول الزمن . لأجل ذلك أقتضت حكمته تعالى أن يحجز عنا يوم الموت ويوم إنقضاء العالم . حزرهم الرب يسوع قبل أن يرد على سؤالهم من أن ينخدعوا . وأنبأهم بأمور تظهر للناس أنها من علامات مجيئه وهي ليست كذلك أنبأهم أيضاً بقيام كثيرين يخدعون الشعب بدعوى أنهم المسيح وقال يوسيفوس المؤرخ اليهودي . إن مزورين و سحره جذبوا إليهم كثيرين إلى البرية ويعيدونهم بالمعجزات . فمنهم من جن ومنهم من عاقبه فيلكس الوالي . وكان من المزورين وذلك المصري الذي ذكر في أعمال الرسل ۲۱-۳۸ وقال أيضاً إمتلأت البلاد من مسحاء وكذبة وأنه كل يوم يمسك أناس منهم ويقتلون يشير الرب يسوع إلى الحروب والفتن الهائلة التي صارت في أماكن مختلفة . لأنه قال لليهود أنكم لا تروني متى تقولون مبارك الآتي بأسم الرب . فظن التلاميذ إن العالم ينتهى بخراب المدينة . لذلك أزال المسيح عنهم هذا الظن بقوله ولم يكن المنتهى بعد . حينئذ يسلمونكم إلى الضيق ويقتلونكم مبغضين من كل الأم لأجل أسمى . تكلم الرب يسوع عن الضيق والإضطهادات التى يكابدها الرسل وقال لأجل أسمى أي لأعترافكم بي ونسبتكم الي وسيرتكم سيرتي . لا لأنهم يرون فيكم عيباً ولوما فى سيرتكم وستقوم أمه على أمه ومملكة على مملكة وتكون أوبئة ومجاعات وزلازل في أماكن . هذا كله مبتدأ الأوجاع . ثم ذلك بأن هاج الخصام والقتل بين اليهود والسامريين وبين اليهود ومن سكن وسطهم من اليونانيين فقتل اليونانيين في قيصرية عشرين ألفاً اليهود وتفشي الوباء . في رومية سنة ٦٥ م ومات ثلاثون ألفاً وحدثت زلازل وأوبئة كثيرة مات فيها الكثيرين . وكان الرب يسوع يشدد عزائم المؤمنين لئلا يضعف إيمانهم بسبب الضيق ويعدهم إذا أحتملوا الضيق بصبر يخلصون . بصبركم أقتنوا أنفسكم . لكن شعرة من رؤوسكم لا تهلك ( لو ۲۱-۱۹ ) .<a href="#_ftn11" name="_ftnref11">[11]</a></p>
<h4>المتنيح الدكتور راغب عبد النور</h4>
<p>الشهيد المسيحي</p>
<p>حين يولد الانسان بالمعمودية ميلاداً ثانياً ، فانه لم يعد انسانا مرتبطاً بأوتاد الجسد الضاربة في أرض الفساد . فانه لم يعد محباً لهذه الأرض ولا ساعياً خلف أمجادها .</p>
<p>فهذا الجسد بكل ما يطوي قد دفن دفناً ، وقام الانسان مع المسيح في جدة الحياة .</p>
<p>الايمان المسيحي يعني فيما يعني ان الانسان يعيش هذا التطبيق الروحي &#8221; مع المسيح صلبت … وما أحياه الآن أحياه بالايمان ، ايمان ابن الله الذي احبني ومات من أجلي &#8221; . ويتحدث الايمان عن الصليب من حيث أنه أداة الموت أو الإماتة &#8221; الذي به صلبت للعالم والعالم لي &#8221; .</p>
<p>معني ذلك أن حكم الموت علي المؤمن المسيحي ليس أمرًا استحدثته قسوة قلوب الأباطرة والحكام ، لكنها كانت مجرد أداة لتنفيذ حكم الموت كان قد قبله الانسان في نفسه وعلي نفسه قبل ذلك بزمن .</p>
<p>من هذه الزاوية التطبيقية فأننا نستغرب تقسيم الأجيال المسيحية الي عصور حافلة بالاستشهاد والي عصور أخري اخليكم الاستشهاد ، لأنه لو تجردت المسيحية في أي عصر عن معني الاماتة والاستشهاد ، فأنها لابد أن تكون قد تجردت عن مفهومها الايماني ومدلولها التطبيقي .</p>
<p>فالمسيحية هي استشهاد ، يستوي في ذلك أن تعلن القوي الحاكمة حرباً علي الايمان والمؤمنين ، فتنزل بالمؤمنين أظلم الأحكام وأقساها حتي الموت ، أو لا تعلن هذه القوي الحاكمة حرباً علي الإيمان ، بل تسالمه وتعايشه ، وتكفل للأفراد حرية العبادة والكرازة . ونعطي هذا التشبيه مع احتفاظنا بالفارق الكبير جداً…</p>
<p>فانه حسبما تعطي الأناجيل وصفا للصليب ، فأن الصليب في تدبيره والحكم به ، وتنفيذه ، في كل المراحل ، كان جهدا بالغ المشقة بالنسبة لمنفذيه ، لكن من الجانب الآخر لا ننسي ان الرب من أجل هذا قد أتي وثبت وجهه نحو أورشليم ، وبسلطانه أسلم نفسه وبسلطانه أخذها ، فحكم الموت صلبا كان قرارا استصدره الرب علي نفسه ، من قبل أن تظهر مكيدة الرؤساء أو خيانة يهوذا أو جبانة بيلاطس بنفس القياس - نعيد القول - مع احتفاظنا بالفارق العظيم - ان المؤمن المسيحي بالنسبة لذاته ولكيانه ولذاته قد استصدر حكم الموت ، وبايمان عاش الاماتة اليومية المسيحية بكل أساليبها ، فان كان قد ظهر في المحيط حوله من حاول أن يترجم عن هذا الحكم بأن يجعله موتا مادياً بأداة التعذيب ، فأن هذا الاجراء لم ولن يكون مفاجأة للمؤمن الحقيقي ، أنما يلقاه ويرحب به ، وكل ما استطاع الاضطهاد أن يصنعه هو أنه قد أضاف الي الجوهر اللامع لمعاناً جديداً … وفي الحالة الأخري حين لا تتوفر الأسباب التي تترجم ترجمة مادية عن حكم الامانة الذي استصدره المؤمن علي نفسه ، فأن هذا لا يغير من واقعة .انه فرد من بين جماهير الأحياء ، الذين يعيشون الحياة المؤقتة في أجساد حكم عليها بالموت أو بالأماتة .</p>
<p>فالشغل الشاغل لهم علي مستوي الفكر والعاطفة والسلوك … متي يأتي العريس ، فأنهم جميعاً في حالة انتظار مترقب لمجيء الفادي والمخلص ، آمين تعال أيها الرب يسوع <a href="#_ftn12" name="_ftnref12">[12]</a></p>
<h3>من وحي قراءات اليوم</h3>
<p>الإستشهاد</p>
<p>+ لا يظن أحد أن هذه اللحظة سهلة بل هي تحتاج نعمة خاصة يعطيها الله</p>
<p>يمكن ان ينال هذه النعمة ابسط النفوس في الكنيسة ويفقدها أكبرهم ( أو من يظن نفسه هكذا )</p>
<p>+ لا يوجد في الكنيسة ضحايا ، يوجد فقط شهداء ومعترفين ، الضحايا هم من يقتلون الأبرياء</p>
<p>+ ليتنا لا نجعل إستعدادنا للإستشهاد يُفقِدنا بهجة الحياة وقيمة اللحظة الحاضرة</p>
<p>+ من إستشهدوا كانوا مُحبّين للحياة لكنهم رأوا في الأبدية ما هو أعظم بما لا يُقاس وفي اسم المسيح لايوجد ما يقف امامه</p>
<p>+ أحيانا يكون تمنّي الإستشهاد هروب من مواجهه مسؤولية الحياة لذلك يجب ان نركّز في مسؤوليتنا بينما نستعد لابديتنا</p>
<p>+ الموت يحيط بنا كل يوم باسباب وبدون اسباب فليتنا لا نجعل الإستشهاد وسواس لحياتنا وأولادنا وما سيسمح به الله سيحدث بأي طريقة</p>
<p>+ نحن لا نربي اولادنا علي الاستشهاد بل نربيهم علي محبة المسيح فوق كل شئ وقيمة الوصية رغم كل إغراء</p>
<p>+ ليتنا انا وانت نراجع حياتنا وتوبتنا ومحبتنا وغفراننا ووحدتنا في المسيح وقت السلم ليهبنا الله مجانا نعمته وقت الضيق</p>
<p>&#8221; كما هو مكتوب: إننا من أجلك نمات كل النهار. قد حسبنا مثل غنم للذبح</p>
<p>ولكننا في هذه جميعها يعظم انتصارنا بالذي أحبنا &#8221; رو ٨ : ٣٦ ، ٣٧</p>
<p>&#8221; الإستشهاد هو تنفيذ وصايا الله كل يوم خلال الحب &#8221; القديس اكليمنضس الاسكندري</p>
<hr />
<p><a href="#_ftnref1" name="_ftn1">[1]</a> القديس أغسطينوس - كتاب الإستشهاد في فكر الآباء صفحة ١١٩ - مارتيريا - القمص أثناسيوس فهمي جورج</p>
<p><a href="#_ftnref2" name="_ftn2">[2]</a> الشهيد كبريانوس - تفسير رسالة بطرس الأولي الإصحاح الرابع - القمص تادرس يعقوب ملطي</p>
<p><a href="#_ftnref3" name="_ftn3">[3]</a> كتاب سيرة الشهيد جرجس الشهير بالروماني صفحة ٥١ - ترجمة عن القبطية كرستين فوزي عياد - مدرسة الإسكندرية</p>
<p><a href="#_ftnref4" name="_ftn4">[4]</a> تفسير إنجيل لوقا للقديس كيرلس الإسكندري ( عظة ٨٧ صفحة ٤١٥ ) - ترجمة الدكتور نصحي عبد الشهيد</p>
<p><a href="#_ftnref5" name="_ftn5">[5]</a> المرجع : كتاب المسيح مجد الشهداء ( صفحة ٣٢ ) - ترجمة الباحث ريمون يوسف رزق</p>
<p><a href="#_ftnref6" name="_ftn6">[6]</a> كتاب رسالة إلي الشهداء ( صفحة ٤١ ) - ترجمة الأستاذ موسي وهبة - كنيسة مار جرجس خمارويه</p>
<p><a href="#_ftnref7" name="_ftn7">[7]</a> كتاب مقالات القديس كبريانوس ( المقالة الخامسة صفحة ١٣٥ ) - ترجمة الراهب القمص مرقوريوس الأنبا بيشوي</p>
<p><a href="#_ftnref8" name="_ftn8">[8]</a> كتاب المنجلية القبطية الأرثوذكسية ( صفحة ١١٥ ) - قداسة البابا تواضروس الثاني</p>
<p><a href="#_ftnref9" name="_ftn9">[9]</a> كتاب الإستشهاد في المسيحية ( صفحة ١٠٦ ) - الأنبا يؤانس أسقف الغربية</p>
<p><a href="#_ftnref10" name="_ftn10">[10]</a> كتاب عظات مضيئة معاشة ( صفحة ١٠ ) - إصدار مطرانية ملوي</p>
<p><a href="#_ftnref11" name="_ftn11">[11]</a> كتاب تأملات وعناصر روحية في آحاد وأيام السنة التوتية ( الجزء الثالث  صفحة ٢٩ ) - إعداد القمص تادرس البراموسي</p>
<p><a href="#_ftnref12" name="_ftn12">[12]</a>  كتاب نيروز الإستشهاد ( صفحة ٢١ ) - الدكتور راغب عبد النور - مشروع الكنوز القبطية</p>

      {% endcreateArticleAccordions %}
    </section>
  {% endblock %}
