---
layout: 'layouts/reading.html'
title: 'اليوم السابع والعشرون من شهر برمودة'
tags: 'annual'
permalink: /articles/annual/8-27.html
---
  {% block content %}
    <section id="readings">
      <ul>
      {% if 'undefined' != 'undefined' %}
      
      {% else %}
      {% if '19.4:6-8' != 'null' %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">العشية</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeVespers '19.4:6-8' '40.16:24-28' %}
          </div>
        </div>
      </li>
      {% endif %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">باكر</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeMatins '19.5:11-12' '40.10:34-42' '' %}
          </div>
        </div>
      </li>
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <h3 class="flex items-center justify-between">
            <span class="kufi">القداس</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </h3>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeLitugy '45.8:18-30' '60.3:8-15' '44.19:23-41' '19.68:35,3' '42.12:4-12' %}
          </div>
        </div>
      </li>

      {% endif %}
        </ul>
    </section>
    <section id="article">
      <h3 class="mt-8 mb-4 heading-explain">شرح القراءات</h3>
      {% createArticleAccordions %}
        <p>تذكار شهادة القديس بقطر بن رومانوس )</p>
<p>فإني متيقن أنه لا موت ولا حياة، ولا ملائكة ولا رؤساء ولا قوات، ولا أمور حاضرة ولا مستقبلة</p>
<p>ولا علو ولا عمق، ولا خليقة أخرى، تقدر أن تفصلنا عن محبة الله التي في المسيح يسوع ربنا ) (رو ٨ : ٣٩،٣٨)</p>
<p>وعلامة الصليب تكلل رأسه فنال القديس اكليل الشهادة غير المضمحل</p>
<p>ذكصولوجية جميع الشهداء</p>
<p>&#8221; وكنت أري المسيحيين المفتري عليهم وهم غير خائفين من الموت …، تيقنت أنه من المستحيل أن تكون حياة هؤلاء الناس مملوءة من الشرور والملذات كما يفتري عليهم&#8221; <a href="#_ftn1" name="_ftnref1">[1]</a></p>
<p>&#8221; عمله أن نغلب&#8230; هنا نرى الثقة العظيمة التي للمؤمنين، والخطأ الشنيع الذي يرتكبه غير المؤمنين حين لا يثقون في ذاك الذي وعد بغلبة من يعترفون به ولا يخافون من تهديداته بالعقوبة الأبدية لمن ينكره &#8221; <a href="#_ftn2" name="_ftnref2">[2]</a></p>
<h3>شواهد القراءات</h3>
<p>(مز ٤ : ٧ ، ٨ ، ٩) ، (مت ١٦ : ٢٤ – ٢٨) ، (مز ٥ : ١٢ ، ١٣) ، (مت ١٠ : ٣٤ – ٤٢) ، (رو ٨ : ١٨ – ٣٠) ، (١بط ٣ : ٨ – ١٥) ، (أع ١٩ : ٢٣ – ٤٠) ،(مز ٦٧ : ٣٣ ، ٤) ، (لو ١٢ : ٤ – ١٢)</p>
<h3>ملاحظات علي قراءات يوم ٢٧ برمودة</h3>
<p>+ قراءات اليوم تتكلّم عن مجد الشهداء ، وبالمُقارنة بقراءات ١٥ هاتور التي نجد أنها تتكلَّم عن إحتمال الآلام والضيقات لأجل المسيح ( مار مينا ) ، وقراءات ٢٥ هاتور والتي تتكلَّم عن السلطان الإلهي وسلطان أولاد الله ( أبو سيفين ) ، وقراءات ٢٣ برمودة التي تتكلَّم عن قوة الله في حياة الشهداء ( مار جرجس ) ،</p>
<p></p>
<p>وأيضاً مُقارنة بقراءات سابع وعشرين برمودة ( تذكار مار بقطر بن رومانوس ) التي تكشف عن مجد الشهداء</p>
<p>قراءات مار بقطر تُعْلِن المجد الإلهي في حياة أولاد الله وعظمته فيهم ، بينما قراءات مارجرجس تُعْلِن القوَّة الإلهية في حياة الشهداء وحمايته لهم ، وذلك لأن مار جرجس تعرَّض لكثير من المُحاكمات والعذابات ، بينما مار بقطر كان ابن والي وكان له مجد العالم الذي تركه لأجل محبة المسيح ، فبينما تتركز القراءات الأولي علي المجد والقيمة ، تتركز القراءات الثانية علي القوة والحماية ، وتتركَّز قراءات أبو سيفين ( ٢٥ هاتور ) علي السلطان الإلهي في حياة أولاد الله .</p>
<p>+ قراءة إنجيل عشية اليوم (مت ١٦ : ٢٤ - ٢٨) هو نفس قراءة إنجيل عشيّة في أيام ٢٢ كيهك ( تذكار الملاك غبريال ) ، ويوم ١٣ برمهات ( شهادة الأربعين شهيداً بمدينة بوبسته ) ، ويوم ٣ نسئ ( تذكار الملاك رافائيل )</p>
<p>ومُشابه لإنجيل عشيّة ثالث يوم عيد الصليب (مت ١٦ : ٢١ - ٢٦)</p>
<p>القراءة الأولي تخص حمل الصليب مع الرب ( ١٣ برمهات ، ٢٧ برموده ) ، ومجئ الرب في مجد أبيه مع ملائكته ( لذلك جاءت في تذكاراتهما : ٢٢ كيهك ، ٣ نسئ )</p>
<p>والقراءة الثانية بدأت بإعلان الرب لتلاميذه عن آلامه وموته وقيامته (مت ١٦ : ٢١) لذلك جاءت في تذكار عيد الصليب</p>
<p>وهي القراءة التي تكلمت عن محبة الرب فوق كل شئ ، وبذل الحياة كلها لأجله ، وقبول الألم حتي الموت من أجل الإيمان ، لذلك جاءت في تذكار اليوم</p>
<p>+ قراءة إنجيل باكر اليوم (مت ١٠ : ٣٤ - ٤٢) هي نفس قراءة إنجيل عشيّة ليوم ٢٨ هاتور ( شهادة القديس صرابامون أسقف نيقيوس ) ، ويوم ٢٦ طوبه ( شهادة التسعة والأربعون شهيداً شيوخ شيهات ) ، ويوم ١ نسئ ( شهادة القديس أفتيخوس )</p>
<p>وهي القراءة التي تكلمت عن محبة الرب فوق كل شئ ، وبذل الحياة كلها لأجله ، وقبول الألم حتي الموت من أجل الإيمان</p>
<p>+ قراءة الكاثوليكون اليوم (١بط ٣ : ٨ - ١٥) جاءت ثلاث مرَّات ( ٢٧ برموده ، ٢٠ أبيب ، الأحد الأوَّل من شهر مسري ) كما أنها تُشبه قراءة الكاثوليكون (١بط ٣ : ٥ - ١٤) ليوم ٣٠ طوبه</p>
<p>وهنا قراءة ٢٧ برمودة ( تذكار بقطر بن رومانوس ) هي نفس قراءة ٢٠ أبيب ( تذكار تادرس الإسفهسلار ) وهما كانا قد وصلا إلي مراتب عُليا في الإمبراطورية الرومانية ولم يخشيا أمر الإمبراطور وشهدا للمسيح له المجد ( وأما خوفهم فلا تخافوه )</p>
<p>أما قراءة ٣٠ طوبه ( تذكار العذاري بستيس وهلبيس وأغابي ) تأتي من بداية الإصحاح لتُشير إلي مكانه المرأة ورسالتها في خلاص زوجها وأسرتها ( هكذا كانت قديماً النساء القديسات .. )</p>
<p>أمَّا قراءة الأحد الأوَّل من مسري تتكلَّم عن الرأي الواحد والشركة في الآلام ( الكنيسة الكرمة ) ، وهي موضوع قراءة ذاك الأحد</p>
<p>+ قراءة الإبركسيس اليوم (أع ١٩ : ٢٣ - ٤٠) تكررت في قراءة يوم ١٠ بشنس ، وفي الأحد الأوَّل من مسري</p>
<p>وهي القراءة التي تكشف عن رفض السجود للتماثيل والضيقة التي حدثت بسببها لذلك جاء في تذكار الثلاثة فتية القديسين ( ١٠ بشنس ) وفِي تذكار شهادة بقطر إبن رومانوس ( ٢٧ برموده )</p>
<p>أمَّا في قراءة الأحد الأوَّل من مسري فنحن نتكلَّم عن كرمة العهد الجديد من كل الأمم</p>
<p>+ قراءة إنجيل قداس اليوم (لو ١٢ : ٤ - ١٢) هي نفس قراءة إنجيل باكر (لو ١٢ : ٤ - ١٢) ليوم ٢٥ هاتور ( شهادة أبو سيفين ) ، وتُشبه قراءة إنجيل القداس (لو ١١ : ٥٣ - ١٢ : ١ - ١٢) ليوم ١٥ هاتور ( شهادة مار مينا ) ويوم ١٣ برمهات ( شهادة الأربعين شهيدا ببوبسطة )</p>
<p>وهي القراءة التي تُطمئن من يحتمل الآلام والضيقات بسلطان الله علي كل الملوك والحكام ، وأن الروح القدس سيُعطيهم قوة الشهادة للمسيح ( لذلك جاءت في قراءات الشهداء مثل مار مينا ، والأربعين شهيداً بسبسطية ، وأبو سيفين ، ومار بقطر بن رومانوس )</p>
<h4>القراءات المُحوَّلة علي قراءة هذا اليوم</h4>
<p>١١ توت شهادة واسيليدس وزير الروم</p>
<p>٢٢ توت شهادة كوبتلاس واكسوا اخته ولدي ملك الفرس</p>
<p>١٤ كيهك شهادة بهنام وسارة أخته من اولاد سنحاريب ملك الفرس</p>
<p>١٦ طوبة شهادة القديس فيلوثاؤس</p>
<p>٢٧ طوبة شهادة القديس أبي فام الجندي</p>
<p>١٣ أمشير شهادة سرجيوس الأتريبي وأبيه وأمه</p>
<p>١٧ أمشير شهادة مينا الراهب في زمان العرب</p>
<p>٢٣ أمشير شهادة أوساويوس ؟؟؟ بن واسيليدس الوزير</p>
<p>١٨ برمودة شهادة أرسانيوس مملوك ؟؟القديس سوسنيوس</p>
<p>١١ بؤونه شهادة اقلوديوس بن ابطلماوس اخي الملك نوماريو</p>
<p>١١ أبيب شهادة يوحنا وسمعان ابن عمه من شبرا</p>
<p>٢٢ أبيب شهادة مقاريوس بن واسيايدس الوزير</p>
<h3>شرح القراءات</h3>
<p>اليوم هو تذكار شهادة القديس بقطر بن رومانوس ومُحوَّل علي هذا اليوم إثني عشر من تذكارات الشهداء الذين كانوا من عائلات ملكية وأسر غنيّة وهي تتّفق في مضمونها مع قراءات ١٥ هاتور شهادة القديس مار مينا العجايبي وتتركّز قراءات اليوم علي المقارنة بين مجد أولاد الله ومجد الشهداء وبين مجد العالم وتُبْرِز قراءات اليوم قيمة الشهداء ومكانتهم وحماية الله لهم</p>
<p>أي أن قراءات اليوم تتركز في مجد الشهداء بينما قراءات يوم ١٥ هاتور ( شهادة مار مينا ) تتركز في قوتهم</p>
<p></p>
<p>تبدأ المزامير بمجد الشهداء في النور والسرور ( مزمور عشيّة ) والفخر والإكليل ( مزمور باكر ) والعظمة والنعيم ( مزمور القداس )</p>
<p></p>
<p>يتكلَّم مزمور عشيّة عن نصيب من أحبّوا الله من الشهداء ليس مجرد فرح وقتي أو ظاهري أو رجاء مؤقت في أمور زمنية لكنه نور يرتسم علي الوجوه وفرح يملأ القلوب ورجاء يصير مسكن دائم</p>
<p>( قد إرتسم علينا نور وجهك يارب أعطيت سروراً لقلبي لأنك أنت وحدك يارب أسكنتني علي الرجاء )</p>
<p>وفِي مزمور باكر يصير إسمه القدّوس هو فخرهم وموضوع حبّهم والمسرّة والتهليل فخرهم وإكليلهم</p>
<p>( ويفتخرون بك كل الذين يحبون إسمك لأنك أنت يارب باركت الصديق مثل سلاح المسرَّة كللَّتنا )</p>
<p>وفِي مزمور القداس عن إستعلان عظمة الله وعجائبه في قديسيه والقوّة التي يهبها لهم والفرح والسرور غذائهم ونعيمهم</p>
<p>( عجيب هو الله في قديسيه إله إسرائيل هو يُعطي قوة وعزاء لشعبه الصديقون يفرحون ويتهللون أمام الله ويتنعمون بالسرور )</p>
<p></p>
<p>وتتكلَّم القراءات عن مجد الألم والتبنّي والتبرير( البولس ) ومجد الحياة المُقدّسة ( الكاثوليكون ) ومجد الشهادة للمسيح ( الإبركسيس )</p>
<p></p>
<p>يُقدِّم لنا البولس ثلاث أنواع من المجد كعطايا إلهيّة مجانية لمن يشهد لمسيحه مجد الألم ومجد التبنّي ومجد برّ المسيح له المجد</p>
<p>( لأَنِّي أظن أن آلام هذا الزمان الحاضر لا تُقاس بالمجد العتيد أن يُستعلن فينا … لأن الخليقة نفسها أيضاً ستُعتق من عبودية الفساد إلي حرية مجد أولاد الله … والذين دعاهم فهؤلاء بررَّهم أيضاً والذين بررَّهم فهؤلاء مجَّدهم أيضاً )</p>
<p>وفِي الكاثوليكون عن مجد الحياة المُقدّسة ونقاوة المحبّة وطهارة السلوك وتطويب الألم من أجل البرّ وحماية الله لأولاده</p>
<p>( غير مجازين عن شرٍّ بشرٍ أو عن شتيمةٍ بشتيمةٍ بل علي العكس مباركين لأنكم لهذا الأمر دُعيتم لكي ترثوا البركة لان من أراد أن يُحبَّ الحياة ويري أياماً صالحة فليكفف لسانه عن الشرّ … فمن ذا الذي يُمكنه أن يُؤذيكم إذا كنتم غيورين علي الخير ولكن وإن تألمتم من أجل البرّ فطوباكم )</p>
<p>وفِي الإبركسيس عن مجد الشهادة للمسيح في كل آسيا التي قبلت الإيمان بكرازة القديس بولس وهُدِمَتْ عظمة آلهة الأوثان كما يظهر أيضاً نقاوة حياة من شهدوا للمسيح من أي عيب</p>
<p>( وأنتم تنظرون وتسمعون أنه ليس من أفسس فقط بل وحتي من جميع آسيا إستمال بولس هذه جمعاً كثيراً قائلاً أن هذه التي تُصنع بالأيادي ليست آلهة فليس نصيبنا هذا وحده في خطرٍ من أن يحصل في إهانة بل أيضاً هيكل ارطاميس الإلهة العظيمة أن يُحسب لا شئ وإنه سوف تُهدم عظمتها … لأنكم أتيتم بهذين الرجلين إلي هنا وهما ليسا سارقي هياكل ولا مجدفين علي آلهتكم )</p>
<p></p>
<p>وفِي الأناجيل المقارنة بين من خسروا المسيح بسبب محبة العالم ( إنجيل عشيّة ) أو بسبب محبة الناس بعاطفة خاطئة  ( إنجيل باكر ) أو بسبب الخوف من الضيق ( إنجيل القداس )</p>
<p></p>
<p>وأيضاً مقارنة بين من أهلكوا نفوسهم وحملوا الصليب فنالوا مجد الإبن والآب ( إنجيل عشيًة ) ونالوا مكافأة سماوية ( إنجيل باكر ) وحماية إلهية ومؤازرة الروح القدس في شهادتهم لإلههم ( إنجيل القداس )</p>
<p></p>
<p>يتكلَّم إنجيل عشيّة عن من ربحوا العالم وخسروا المسيح ومن أهلكوا نفوسهم من أجل ابن الإنسان فنالوا المجد الإلهي ليس فقط في السماء عند مجيئه في مجد ابيه ولكن أيضاً علي الأرض قبل أن يذوقوا الموت</p>
<p>( ومن يهلك نفسه من أجلي يجدها لأنه ماذا ينتفع الإنسان لو ربح العالم كلّه وخسر نفسه أو ماذا يُعطي الإنسان فداء عن نفسه فإن إبن الإنسان سوف يأتي في مجد أبيه مع ملائكته وحينئذ يُجازي كلَّ واحد حسب أعماله الحق أقول لكم أن من القيام ههنا قوماً لا يذوقون الموت حتي يروا إبن الإنسان آتياً في مجد أبيه )</p>
<p>وفِي إنجيل باكر من إرتبطوا بعاطفة خاطئة بالآخرين علي حساب إيمانهم ومحبتهم للرب فصاروا غير مستحقين وبين من قبلوه فنالوا مكافأة سماوية ووجدوا نفوسهم الحقيقية ونالوا الخلاص</p>
<p>( من أحبَّ أباً أو أماً أكثر مني فلا يستحقني .. ومن لا يحمل صليبه ويتبعني فلا يستحقني من وجد نفسه يضيِّعها ومن أضاع نفسه من أجلي يجدها من يقبلكم فقد قبلني ومن يقبلني فقد قبل الذي أرسلني … ومن يسقي أحد هؤلاء الصغار كأس ماءٍ باردٍ فقط بإسم تلميذ فالحق أقول لكم أنه لا يضيع أجره )</p>
<p>وفِي إنجيل القدّاس يظهر مجد الشهداء في عدم خوفهم لإختبارهم حماية الله لهم وقيمتهم عنده ومكافأته لهم ومؤازرة روحه فيهم</p>
<p>تظهر الحماية في حفظه للعصافير وحتي شعر رأس الإنسان وقيمته أنهم أفضل من العصافير ومكافأته لهم لإعترافهم به وعدم إنكارهم له ومؤازرة روحه في دعمهم وقت شهادتهم للمسيح له المجد</p>
<p>( ولكن أقول لكم يا أصدقائي لا تخافوا من الذين يقتلون جسدكم وبعد ذلك ليس لهم ما يفعلون أكثر … أليست خمسة عصافير تباع بفلسين وواحدٌ منها ليس منسياً أمام الله بل شعور رؤوسكم أيضاً جميعُها محصاة فلا تخافوا إذاً أنتم أفضل من عصافير كثيرة وأقول لكم كلُّ من يعترف بي قدّام الناس يعترف به أيضاً إبن الإنسان قدام ملائكة الله … ومتي قدموكم إلي المجامع والرؤساء والسلاطين فلا تهتموا كيف أو بما تجاوبون أو بما تقولون لأن الروح القدس يُعلِّمكم في تلك الساعة ما يجب أن تقولوه )</p>
<h3>ملخّص القراءات</h3>
<p>مجد الله في شهداؤه يظهر في نوره وسروره لهم وإفتخارهم به الذي يُكلِّلهم ونعيمهم فيه    مزمور عشيّة وباكر والقدّاس</p>
<p>وهو مجد التبني وقبول الألم لأجله والشهادة لإسمه القدّوس                    البولس والكاثوليكون والإبركسيس</p>
<p>والمُقارنة بين من خسروا المسيح بسبب محبة العالم ومن أهلكوا ذواتهم لأجل إسمه القدّوس       إنجيل عشيّة</p>
<p>ومُقارنة بين من خسروا بسبب العاطفة الخاطئة ومن ربحوا ونالوا المكافأة                          إنجيل باكر</p>
<p>وأيضاً بين من خسروا بسبب الخوف من الضيق ومن قبلوا الألم وإحتموا بوعود الله               إنجيل القدَّاس</p>
<h3>أفكار مقترحة للعظات</h3>
<h4>(١) المجد                        البولس</h4>
<p>+ المجد المُسْتَعلن فينا</p>
<p>&#8221; لأني أظن أنَّ آلام هذا الزمان الحاضر لا تُقاسُ بالمجد العتيد أن يُسْتَعلن فينا &#8221;</p>
<p>+ مجد التبني</p>
<p>&#8221; لأن الخليقة نفسها أيضاً ستُعتق من عبودية الفساد إلي حرية مجد أولاد الله &#8221;</p>
<p>+ مجد شركة الطبيعة الإلهية</p>
<p>&#8221; لأنَّ الذين سبق فعرفهم سبق أيضاً فعيَّنهم شركاء صورة إبنه ليكون هو بكراً بين إخوةٍ كثيرين &#8221;</p>
<p>+ مجد التبرير</p>
<p>&#8221; والذين برَّرهم فهؤلاء مجدهم أيضاً &#8221;</p>
<h4>(٢) آلام أولاد الله</h4>
<p>+ حمل الصليب في إنكار الذات</p>
<p>&#8221; &#8221; حينئذ قال يسوع لتلاميذه من يريد أن يتبعني فلينكر نفسه ويحمل صليبه ويتبعني               إنجيل عشيّة</p>
<p>+ حمل الصليب في عدم الإنشغال الزائد بعواطف يمكن أن تُضاد محبة المسيح</p>
<p></p>
<p>&#8221; من أحب أباً أو أماً أكثر مني فلا يستحقني ومن أحب إبنه أو إبنته أكثر مني فلا يستحقني ومن لا يحمل صليبه ويتبعني فلا يستحقني &#8221;        إنجيل باكر</p>
<p>+ الآلام الطبيعية لكل البشر والآلام الإضافية لأولاد الله</p>
<p>&#8221; فإننا نعرف أنَّ كلَّ الخليقة تئن &#8221;                   البولس</p>
<p>&#8221; لأني أظن أن آلام الزمان الحاضر &#8221;                البولس</p>
<p>+ آلام من الناس المُقاومين لأجل الإيمان</p>
<p>&#8221; فمن ذا الذي يُمكنه أن يؤذيكم إذا كنتم غيورين علي الخير ولكن وإن تألمتم من أجل البرَّ فطوباكم &#8221;               الكاثوليكون</p>
<p>+ آلام الكرازة</p>
<p>&#8221; وحدث في ذلك الوقت إضطراب ليس بقليلٍ بسبب الطريق &#8221;     الإبركسيس</p>
<p>+ آلام إضطهاد الكنيسة</p>
<p>&#8221; ولكن أقول لكم يا أصدقائي لا تخافوا من الذين يقتلون جسدكم &#8221;                إنجيل القدَّاس</p>
<h4>(٣) أفراح أولاد الله</h4>
<p>+ أفراح بسبب نوره ورجاؤه</p>
<p>&#8221; قد إرتسم علينا نور وجهك يارب أعطيت سروراً لقلبي لأنك أنت وحدك يارب أسكنتني علي الرجاء &#8221;             مزمور عشيّة</p>
<p>+ أفراح تجعل الله مصدر إفتخارنا وإكليل وتاج حياتنا</p>
<p>&#8221; ويفتخرون بك كل الذين يحبون إسمك لأنك أنت يارب بَارَكْت الصديق مثل سلاح المسرة كلَّلتنا &#8221;        مزمور باكر</p>
<p>+ أفراح تشبعنا وتعزينا وتقوينا</p>
<p>&#8221; إله إسرائيل هو يعطي قوة وعزاءً لشعبه الصديقون يفرحون ويتهللون أمام الله ويتنعمون بالسرور &#8221;         مزمور القدَّاس</p>
<h3>ماذا قال الآباء عن الاستشهاد</h3>
<h4>العلامة أوريجانوس</h4>
<p>مجد الشهداء في فكر العلامة أوريجانوس</p>
<p>&#8221; لقد حان الوقت الذي نتمجد فيه نحن المسيحيون ، لأنه مکتوب : وليس ذلك فقط بل نتمجد أيضا في الضيقات :عالمين أن الضيق ينشىء صبرا ، والصبر تزكية ، والتزكية رجاء ، والرجاء لا يخزی</p>
<p>(رو ٥ : ٣، ٤)</p>
<p>ما علينا الا أن نفسح المجال لمحبة الله الملتهبة أن تفيض في قلوبنا بالروح القدس (رو ٥ : ٥)</p>
<p>واذا كان معلمنا بولس يقول : إن کنت کانسان قد حاربت وحوشا في أفسس (١كو ١٥ : ٣٢)</p>
<p>فاننا نقول أيضا : اننا - كبشر - نقتل في ألمانيا ( الاشارة هنا الى الامبراطور مكسيميانوس الذي أعلن امبراطورا سنة ۲۳۰ م في مينز وظل في ألمانيا حتى الشتاء في تلك السنة ، ولا شك أن الكثير من محاكمات المسيحيين واضطهاداتهم أحيلت اليه هناك ) .</p>
<p>وكما تکثر آلام المسيح فينا ، كذلك تكثر تعزیتنا أيضا (٢كو ١ : ٥) اننا نرحب بالآلام التي تحل بنا في المسيح</p>
<p>و نستقبلها بشغف ، حتى تكثر فينا - ان كنا نتمسك برجاء الايمان - التعزية المتكاثرة التي تثلج صدور الباكين وتعزيهم (مت ٥ : ٥) والقياس مع الفارق ، لأن التعزية لا تعطى للجميع بنفس القياس ، بل لابد أن تتفاوت . والا لما قيل : لما تكثر الام المسيح فينا ، كذلك بالمسيح تکثر تعزیتنا أيضا ، فالذين يشاركون في الآلام سيشتركون في التعزية أيضا (٢كو ١ : ٧) فالتعزية تتفاضل طبقا لقياس الآلام التى يشاركون بها المسيح ولهذا قال الرسول بملء الثقة : عالمين أنكم كما أنتم شركاء في الآلام ، كذلك في التعزية .</p>
<p>وأكثر من ذلك يقول الله على لسان النبي : في وقت مقبول استجبتك وفي يوم الخلاص أعنتك (أش ٤٩ : ٨ - ٢كو ٦ : ٢) ليس لنا وقت أكثر قبولا من هذه الفرصة التي فيها – بفضل تقوانا نحو الله في المسيح - نعبر طريق غربتنا الكئيب في هذا العالم ، يحف بنا الحراس لكي يقودونا الى خارجه بينما نسير نحن بخطوات ثابتة ، خطوات الغزاة الفاتحين وليست تلك الخطى المتعثرة لأولئك المغلوبين ..</p>
<p>لأن الشهداء في المسيح ، مع المسيح أيضا يجردون الرياسات والسلاطين (كو ٢ : ١٥) ويظفرون معه - اذ اشتركوا في آلامه - بثمار هذه الآلام ، ومن هذه الثمار أنه ظفر بالرياسات والسلاطين التي سترونها ذليلة مغلوبة يجللها الخزي والعار . فهل هناك مثل هذا اليوم ، يوم خلاصنا ، يوم الرحيل المجيد عن هذه الأرض ؟! حذار أن تعثروا في أي شي لئلا تلام خدمتكم المقدسة، خدمة الكهنوت والشماسية ( يُقْصَدْ بالكهنوت صديقه بروتكتيتوس والشماسية إلي أمبروز تلميذه الوفي ) ، بل في كل شيء تظهروا أنفسكم كخدام الله في صبر كثير (٢كو ٦ : ٣) لأنه ما هو رجاؤنا ؟.. أليس هو الله (مز ٣٩ : ٧) و کیف ؟.. أليس بشدائد (٢كو ٦ : ٤) انه يعزينا بقوله : كثيرة هي أتعاب الصديقين (مز ٣٤ : ١٩)</p>
<p>أليس في ضرورات وضيقات ؟ فيها نجد فرح الروح وعربون الحياة وهذه هي حاجتنا الضرورية .. لهذا نسير قدما بلا تردد في الطريق المستقيم والضيق حتى نصل إلى الحياة (مت ٧ : ١٤) واذا اقتضى الأمر ، نظهر صلابتنا في ضربات في سجون في اضطرابات في أتعاب في أسهار في أصوام (٢كو ٦ : ٥) لأن هوذا الرب حاضر و مجازاته في يده ليعطي كل واحد حسب أعماله (أش ٤٠ : ١٠ و ٦١ : ١١ و مز ٦٢ : ١٢ وأم ٢٤ : ١٢ ورؤ ٢ : ٢٣ و ٢٢ : ١٢) <a href="#_ftn3" name="_ftnref3">[3]</a></p>
<h4>القديس أمبروسيوس</h4>
<p>إن كان الله لا ينسى العصافير، فكيف ينسى الإنسان؟ وإن كانت عظيمة هكذا وأبديَّة حتى أن العصفور وعدد شعور رؤوسنا ليس مخفيًا أمام علمه فكم يُحسب بالأكثر جاهلًا من يظن أن الرب يجهل القلوب الأمينة أو يتجاهلها&#8230;؟</p>
<p>العصافير الخمسة على ما يبدو لي هي حواس الجسد الخمس: اللمس والشم والتذوق والنظر والسمع. العصافير كالجسدانيين تنقر قذارة الأرض لتطلب غذائها في الأراضي البور ذات الرائحة النتنة، وتخطئ فتسقط في الشباك فلا تقدر على الارتفاع نحو الثمار العالية والوليمة الروحيَّة. فإغراءات الشباك تسبي في ثناياها تحركات أرواحنا. والتهاب طبيعتنا ونشاطنا وطهارتنا هذه كلها تتبدد خلال الاهتمام بالأرضيات والماديات واقتنائنا ترف هذا العالم. والآن بعد سبينا صار أمامنا نوعان من الملذّات، إما العبوديَّة للخطيَّة أو التحرَّر منها، فالمسيح يحرَّرنا والعدو يبيعنا. يعرضنا للبيع ليميتنا بينما يفدينا المسيح ليخلصنا. وقد ذكر متى عصفورين (مت ١٠ : ٢٩) إشارة إلى الجسد والروح&#8230;</p>
<p>لقد أُعطينا بالنعمة أن نطير، لكن اللذة تسبينا، فتصير الروح ثقيلة بفخاخ الشر وتنحدّر إلي مستوى طبيعة الجسد الثقيلة.</p>
<p>قيل أنه لا يسقط واحد منها بدون إذن الله، فالساقط ينحدر نحو الأرض، أما الذي يطير فتحمله النعمة الإلهيَّة&#8230; فلا تخشى إذن سطوة الشيطان بل خف غضب الله.</p>
<p>النفس أيضًا شُبهت بعصفورٍ، إذ قيل: &#8220;نجت أنفسنا مثل العصفور من فخ الصياد&#8221; (مز ١٢٣ : ٧)، وفي موضع آخر: &#8220;كيف تقولون لنفسي: اهربوا إلى جبالكم كعصفورٍ&#8221; (مز ١١ : ١)، كما شُبه الإنسان بالعصفور: &#8220;أما أنا فكعصفورٍ منفرد علي السطح&#8221; (مز ١٠٢ : ٧)، إذ الإنسان مكون من عصفورين في واحدٍ، كإتحاد الجناحين اللذين يتعاونا في خفة ليرتفع فيغلب الطبع الروحي علي المادي.</p>
<p>يوجد عصفور صالح يقدر بالطبيعة (الروحيَّة) أن يطير، وعصفور شرِّير لا يقدر أن يطير بسبب النجاسات الأرضية، وهذا الأخير يُباع بفلسين&#8230; ما أبخس ثمن الخطايا؟ فالموت يشمل الجميع، أما الفضيلة فثمينة! يعرضنا العدو للبيع كالعبيد الأسرى ويّقيمنا بثمن بخس، أما الرب فيعاملنا كعبيد صالحين خلقهم علي صورته ومثاله، يّقيمنا بثمنٍ عظيمٍ، إذ يقول الرسول: &#8220;قد اُشتريتم بثمن&#8221; (١كو ٦ : ٢٠). نعم أنه ثمن غالٍ لا يحُسب بفضة بل بالدم الثمين. لأن المسيح مات لأجلنا وحرَّرنا بدمه الثمين، كما يشير القدِّيس بطرس في رسالته: &#8220;عالمين أنكم أفتديتم، لا بأشياء تفنى بفضة أو ذهب من سيرتكم الباطلة التي تقلدتموها من الآباء، بل بدمٍ كريمٍ كما من حمل بلا عيب ولا دنس دم المسيح&#8221; (١بط ١ : ١٨ ، ١٩)، نعم هو دم ثمين لأنه دم جسد بلا دنس، دم ابن الله الذي فدانا ليس فقط من لعنة الناموس (غل ٣ : ١٣) بل ومن موت الخطيَّة الأبدي.<a href="#_ftn4" name="_ftnref4">[4]</a></p>
<h4>القديس أغسطينوس</h4>
<p>أى آلام ستقاسوها هى ليست بشىء مقارنة بالجعالة التى ستنالونها</p>
<p>بوسعنا أن نسرد تلك الأمور التى لن نجدها هناك ( فى الحياة الأبدية) . ولكن من يقدر أن يصف ما سيكون هناك ؟ &#8221; ما لم تر عين ، ولم تسمع أذن ، ولم يخطر على بال انسان .. &#8221; (١كو ٢: ٩) . حقا عن استحقاق يقول الرسول : &#8221; فانى أحسب أن آلام الزمان الحاضر لا تقاس بالمجد العتيد أن يستعلن فينا &#8221; (رو ٨: ١٨) . تذكروا أيها المسيحيون ، أن أى آلام ستقاسوها هى ليست بشىء مقارنة بالجعالة التى ستنالونها . وبايماننا نحن نبقى أمناء لهذا المعتقد وبالتالى لا يمكنكم ادراك ورؤية ما سيكون ( فى الحياة الآبدية ) . ولكن ما أعظم ما لا يمكننا ادراكه والذى قدر لنا أن نناله ؛؛ نعم سنكون ما سنكون ، بيد أنه لا يمكننا أن نرى ماذا سنكون . لأن هذا يتخطى حدود ضعفنا ، يتخطى كل قدرة أفكارنا ، يتخطى أقصى حدود عقلنا . ولكن على أى حال ، كما يقول يوحنا ( الرسول ) : &#8221; أيها الأحباء ، الآن نحن أولاد الله .. &#8221; (١يو ٣: ٢) . حقا نحن أولاد الله فى هذه الحياه بالتبنى ، بالايمان ، بالوعد . لأننا يا اخوتى ، قد اقتبلنا الروح القدس كعربون . فكيف يهمل ذاك الذى أعطانا عربونا مقداره هذا ؛ قول الانجيلى : &#8221; نحن أولاد الله ، ولم يظهر بعد ما سنكون . ولكن نعلم أنه اذا أظهر نكون مثله ، لأننا سنراه كما هو &#8221; (١يو ٣: ٢) .يقول الانجيلى : &#8221; ولم يظهر &#8221; ، ولكنه لم يصف ما ( هو هذا الذى ) لم يظهر بعد ما سنكون &#8221; ، ولم يقل : نحن سنكون هذا أو ذاك ، ومثل هذا سنكون لمن يمكن ( للرسول ) أن يعطى وصف ما يصفه ؟ انى أتساءل : لمن يصف هذا ؟ لن أتجاسر على أن أسأل : من بوسعة أن يصف هذا ؟ ربما كان الانجيلى نفسه هو من يقدر على الوصف ، لأنه هو الذى اتكأ على صدر المسيح ، وشرب الحكمة من ذاك الصدر فى العشاء الأخير.وبهذه الحكمة ( قال بقوة ) البرق هذه الآية : &#8221; فى البدء كان الكلمة &#8221; (يو١:١) هو الذى أخبرنا : &#8221; ولكن نعلم أنه اذا أظهر نكون مثله ، لأننا سنراه كما هو &#8221; . سنكون مثل من ؟ من نحن ؟ أولاده بالطبع .يقول الانجيلى : &#8221; أيها الأحباء ، نحن أولاد الله ، ولم يظهر بعد ماذا سنكون . ولكن نعلم أنه اذا أظهر نكون مثله ( من نحن ؟ أولاده ) ، لأننا سنراه كما هو &#8221; . والآن ان كنتم ترغبون فى أن تكونوا مثله ، ان كنتم تشتهون معرفة من الذى ستكونون مثله ، ثبتوا أنظاركم فيه بقدر ما تستطيعون . ولكن ان كنتم لا تثبتون أنظاركم فيه ، فأنتم لا تعرفون من الذى ستكونون مثله . ولهذا لا تعرفون كيف ستكونون مثله . ولأنكم لا تعرفون ماهيته ، فانكم لا تعرفون ماذا ستكونون . لنصل من أجل بعضنا بعضا <a href="#_ftn5" name="_ftnref5">[5]</a></p>
<h4>الأب صفرونيوس</h4>
<p>هجمات الخوف المتلاحقة</p>
<p>٧- إذا هجم علينا الخوف مثل موجات البحر المتلاحقة فلنجلس حيث نكون، ونرفع قلوبنا إلى الله صارخين لكي يطرد المقاوم الشرير لأن الرسول قال عن موت ربنا على الصليب، أنه أخذ الناسوت لكي يبيد بالموت ذاك الذي له سلطان الموت أي الشيطان ويعتق المأسورين كل أيام حياتهم بعبودية الخوف من الموت (عب ٢ : ١٤-١٥).</p>
<p>٨ - إذا ذهبت هذه الموجات بمجرد الصلاة، ليكن لنا فرح بالمسيح، لأن هجمات الشيطان تردعها الصلاة، ولكن إذا عادت هذه الهجمات وتكررت وصارت ثابتة، علينا إذن أن نفحص قلوبنا لكي نرى ما هي الشهوة أو الرغبة الداخلية التي تجعل لهذه الهجمات قوة غير عادية تحاول بها أن تأسر إرادتنا. ولنطلب بعزم أن تصلب هذه الشهوة وهذه الرغبة لكي لا يكون في داخلنا خيانة قلب تجعل الرغبة مثل جاسوس أو خائن يفتح حصن القلب المنيع للشيطان.</p>
<p>٩ - لا يقو الشيطان على حياتنا، فهو يجهل أفكارنا ومشاعرنا حسب تعليم الشيوخ الذي سلمه إلينا معلمنا القديس أنطونيوس الكبير فالشيطان يراقب من الخارج، ومن تصرفاتنا يعرف – ليس عن يقين - ما يحدث في داخلنا، بل يتوقع من طول خبرته مع البشر، أن يعرف من حركات الجسد، ومن الكلمات ما يحدث في داخل القلب، وهو لا يقو على أن يدخل قلب إنسان ألا إذا كان في القلب خيانة وارتداد عن الإيمان، وتسليم الإرادة المطلق، وسماح رحمة الله بأن تحدث هذه الكارثة الحقيقية لإنسان.</p>
<p>۱۰- فالشيطان لا يملك أن يسود على إنسان، إلا إذا سمح الله له بذلك، وهو لا يقو ولا يتسلط علينا إلا إذا أردنا نحن ذلك مغلوبين من شهواتنا ونجاسة دوافعنا. لنقل مع رسول المسيح &#8220;نحن لا نجهل أفكاره&#8221; (۲ کو ۲ : ۱۱) ولنقل مع الطوباوي أنطونيوس العظيم &#8220;هؤلاء بمركبات وهؤلاء بالخيول أما نحن فيإسم الرب إلهنا نتعظم&#8221; (مزمور ١٩ : ٧) ومع موسى النبي &#8220;قم أيها الرب الإله وليتفرق جميع أعدائك وليهرب من أمام وجهك كل مبغضي إسمك القدوس&#8221;</p>
<p>11- لنحرص على هدوء القلب وثبات الإرادة بوسيلة واحدة وحيدة وهي محبتنا لله حسب قول الرسول &#8220;أما غاية الوصية فهي المحبة&#8221; (١ تي ١ : ٥) لنسعى لهذه الغاية بقوة من مات عنا وبعلامة الصليب لكي تنمو فينا هبة الإيمان، وتصبح مثل شجرة عظيمة لا تقوى عليها رياح الشكوك وكذب الأرواح الشريرة.</p>
<p>١٢- يقول أبونا العظيم أنطونيوس إن هجوم الأرواح الشريرة يرافقه ويسبقه أحياناً الرعب واضطراب النفس وتشويش الفكر والحزن والخوف من الموت ولذلك علينا أن نطلب المدافع عنا والمحامي عن حياتنا، الراعي الصالح ربنا يسوع المسيح الذي أرسل الروح القدس المعزي لكي يحمي حياتنا ويغرس فينا السلام.</p>
<p>لا يمكن أن نقتلع الخوف من الناس من قلوبنا مرة واحدة:</p>
<p>١٣- إن ما غرسته الأيام والناس فينا طوال أيام غربتنا، هو مثل شبكة الصيادين، لا يمكن القضاء عليها مرة واحدة، بل يقطع الروح القدس هذه الشبكة في موضع معين لكي نتحرر ونقوم بواسطة الاتحاد بالروح القدس بالقضاء على باقي الشبكة، لذلك علينا أن نلاحظ إن ما نقضي عليه بقوة الإرادة قد يظل في الذاكرة، وهذا لا يجب أن يضعف رجاءنا، وما نطرده من الذاكرة قد يكون له أصل في رغبات اعتبرناها غالية وهامة. وما نطارده من رغبات القلب قد يكون بمثابة أحد المبادئ الهامة التي نحرص عليها، ولذلك لا يجب أن نفشل أو نحزن إذا وجدنا بعض حبال الشبكة غير مقطوع، بل نثابر على أن نحيا صليب ربنا يسوع المسيح، وهو الذي سوف يكشف لنا عن كل الضعفات الداخلية التي تجمعت وصارت شبكة واحدة متصلة الحلقات.</p>
<p>١٤- لقد وهبنا الرب هذا العمر وأيام الحياة لكي نتفرغ لنقاوة وطهارة نفوسنا.</p>
<p>اليأس خطية تعادل كل الخطايا :</p>
<p>١٥ - يقول الرسول &#8220;لا يجب أن نيأس لأن خفة الضيق في الزمان الحاضر تنشئ لنا ثقل مجد أبدي&#8221; وهكذا ليكن لنا حذر من أسهل وأفظع أسلحة الشيطان – وهو اليأس – لأنه يحاربنا قائلاً لنا إن الله قد تركنا وإن المسيح غاضب علينا لكي نقع في لجة وبحر اليأس ونهلك مثل يهوذا هذا تحذير أكتبه بدموع، لأنني رأيت الذين ساروا بعزم في أول الطريق، ثم فقدوا الرجاء بسبب عنف ضربات سلاح اليأس التي ضربهم بها الشيطان، لأن اليأس خطية تعادل كل الخطايا، أي أنها تجعل كل الخطايا مثل خطية اليأس، لأن اليأس يقود &#8230; إلى الموت .</p>
<p>الخوف من كسر الوصية:</p>
<p>١٦- على الذين يسلكون طريق الحياة أن يدركوا إن محبة الله لا تقاس، ولا يمكن مقارنتها لا بمحبة الآباء والأمهات، ولا بمحبة الآباء الروحانيين .. محبة الله أعظم، لذلك لا يجب أن نجعل كسر الوصية أو الخوف من كسر الوصية حائلا بيننا وبين الله، بل ليكن لنا ثقة في روح المحبة – أي الروح القدس – لكي ننال منه المعونة حتى وإن كنا في بئر الخطايا؛ لأن الخروف الضال خلص بواسطة محبة الراعي الصالح. لم يخلص لأن الخروف طلب الراعي، بل لأن الراعي هو الذي طلب الخروف.</p>
<p>۱۷- لا يقتني أحد في قلبه رعب من الله، لأن تجسد ربنا يسوع المسيح جعل رأس الإنسانية الجديد – أي يسوع المسيح - نفسه في الآب وفي الروح القدس، وبذلك أباد رعب القديسين وخوف الله فهو الوسيط الواحد والوحيد الذي حمل معه إلى قدس الأقداس، الطبيعة البشرية وأجلسها على كرسي وعرش اللاهوت إلى الأبد عن يمين الآب، حيث يتراءى ويشفع فينا &#8220;مؤكداً لنا أنه لا دينونة الآن على الذين هم في المسيح يسوع&#8221; (رو ۸ : ۱).</p>
<p>أكتب هذه الكلمات وأمام عيني عدد كبير من الذين نعرفهم، شاخ فيهم الخوف من الدينونة وفقدوا ثقة المحبة وتعطل نموهم في نعمة الله، أي لم يعيشوا حسب فرح النعمة، بل كانوا تحت عبودية الخوف من الدينونة، ولم يدركوا عمق وعلو محبة الله لنا في يسوع المسيح. لذلك أنحني أمام الآب سائلاً لكم روح الثقة والشجاعة، ليس في قدرتنا على أن نكون أبراراً في عيني الله، بل في أن نكون أنقياء في المسيح، أي في النقاوة التي منه هو والقداسة التي تُعطى لنا وهي ليست من صنعنا ولا بقوتنا، والتي نجاهد لكي نبقى فيها وندركها على قدر قوتنا دون أن نفقد شيئاً منها، لأنها عطية الله في يسوع المسيح وهي عطية قال عنها الرسول أنها &#8220;بلا ندامة&#8221; (رو ١١ : ٩) لأن الله لا يتراجع ولا يسحب محبته، بل هو محب البشر قبل خلق العالم وبعد خلق العالم والى نهاية الدهور. وهو يحب الخطاة بشكل خاص والدليل هو مجيء ربنا يسوع المسيح لكي يخلص جنسنا العاصي.</p>
<p>١٨- أتوسل إلى المسيح أن يكشف لكم عن محبته الفائقة، حتى ندرك جميعاً إن &#8220;محب البشر&#8221; هو راعي الخراف الضالة، وحتى لا يتسبب الخوف - من كسر الوصية – في خلق الوسوسة، لأن هذا مرض ضار يصيب جذر الحياة نفسه ويعطل كل عمل وكل فكر إذ يجعل كلا منا على شك فيما يقول أو يعمل، ويحركه الخوف من العقاب إلى طلب الغفران بينما هو لا يعرف في ماذا وكيف أخطأ.</p>
<p>الخوف من الأفكار الشاردة:</p>
<p>١٩- لا يجب أن نخاف من الأفكار مهما كانت، لأن الخوف من أي فكرة لا يقضي عليها، بل أحياناً يجعلها أقوى مما تبدو. ومن يخاف من فكره يخاف من قوة أهم عطية تميز بها الإنسان عن الحيوان، ألا وهي عطية العقل. علينا أن نكون على حذر من الأفكار التي تحاول أن تبعدنا عن الله، أما الأفكار التي لا تبعدنا عن الله فهي ليست خطراً ولا يجب أن تصبح مصدر رعب لنا.</p>
<p>۲۰- نستطيع أن نميز الأفكار التي تبعدنا عن محبة الله في ربنا يسوع المسيح على هذا النحو:</p>
<p>أولاً: هل هي أفكار ضد وصايا الله؟</p>
<p>ثانياً: هل هي أفكار تدعونا إلى تصرفات وسلوك يقوي فينا الكبرياء والبغضة ويخلق العداوة، أو هي تزرع الانقسام بين الإخوة؟</p>
<p>ثالثاً: هل هي أفكار ضد التعليم الرسولي الذي سُليم لنا في قانون الإيمان وصلوات الكنيسة الجامعة المقدسة؟ لنفحص ذواتنا جيداً لكي ما نرى نوع الأفكار وما هو التصرف الذي تدعونا إليه، وعندما تميز جوهرها ونوعها وندركه، نترك هذه الأفكار إذا كانت من تلك الأفكار التي تبعدنا عن الله. قيل عن القديس الأنبا مقار أنه ظل يقاتل فكره الذي يدعوه إلى الخروج من البرية، عدة سنوات، ولما تعب، ألقى نفسه على أرض القلاية وقال للفكرة إذا ما كانت لديها القدرة على أن تحمله بعيداً، فلتحمله. ويقول كتاب تعليم الشيوخ انه استراح، فقد عاد إلى كيانه الواحد غير المنقسم أي وحد جسده ونفسه وعقله وإرادته عندما إستلقى على الأرض، وبالإحساس بجسده تخلت عنه الأفكار التى تقاومه، فقد عاد عقله إلى جسده، وحل إدراكه في كيانه المحدود، فهدأ العقل عندما أدرك الأنبا مقار إن كيانه غير منقسم.</p>
<p>٢١- وتحاربنا الأفكار بشراسة عندما يكون القلب منقسماً، وعندما تكون الإرادة عاجزة عن أن توجد الفكر والعواطف، لأن انقسام القلب يوزع قوى الإنسان الداخلية في اتجاهات متعارضة، إن لم يكن في اتجاهين فقط. وإذا تخلى الإنسان عن اتجاه أو أكثر من الاتجاهات المتعارضة، هدأ العقل، وعاد العقل وسكن في القلب، أي أدرك العقل عظمة المحبة وتخلى عن الأفكار الباطلة التي عاشت فيه، وعاد إلى هيكل الله أي القلب حيث يسكن الروح القدس. إن أحد ثمار الخطية هو انفصال العقل عن القلب، وصراع الفكر مع العواطف، وصراع العواطف مع الإرادة، وانفصال المخيلة عن الذكاء، وانفصال الذكاء عن الإرادة، ولذلك ترى العديد من البشر أذكياء جداً في التجارة والصناعة بينما هم ضعفاء جداً في فهم الأسفار المقدسة أو في محبة الآخرين. وترى البعض أقوياء جداً ولهم إرادة قوية إلا أنهم ضعفاء أمام الخمر، أو في حضور النساء، لأن صلابة الإرادة تحركها الأهواء، ولا تحركها الفضائل، ولذلك تجد نقاط ضعف كثيرة ينفذ منها الضعف عن طريق اللذات والشهوات التي تسمح بها الإرادة.</p>
<p>۲۲- لقد كان الموت الروحي بمثابة فساد وتحلل داخلي أصاب الطبيعة الإنسانية، الأمر الذي جعل الخوف يسكن في أخطر وأدق ما في قلب الإنسان ألا وهو الرغبة في البقاء والحياة، وهو ما يجعل الإنسان يسلك سلوكاً أنانياً دون أن يحس، ويتعظم دون أن يفهم، ويحكم ويدين دون أن يدرك أنه جلس على كرسي الدينونة الخاص بالله وحده، لأن الخطية جعلت الإنسان يظن أنه الديان العادل، وينسى أن حكم الدينونة هو لله. <a href="#_ftn6" name="_ftnref6">[6]</a></p>
<h4>مديح لأحد الشهداء ( القديس يوحنا الزيتوني إستشهد في ٢٩ أبريل ١٢١٠ ) في عصر الدولة الأيوبية :</h4>
<p>اسمعوا اليوم ، يا أحبائي ، صوت المرتل داود ، مرنماً قائلا : &#8221; يمين الرب صنعت قوة، يمين الرب رفعتني . يمين الرب قوة ، فلن أموت بعد ، بل أحيا وأحدث بأعمال الرب . تأديبا أدبني الرب وإلى الموت لم يسلمني &#8221; .</p>
<p>تعالوا اليوم كلكم ، أيها المؤمنون ويا بني المعمودية ، لكي نحمل النير الحلو الذي لمخلصنا الصالح ، الإله الحقيقي ، الذي دعانا في الإنجيل المقدس ، معلما الرجال الحكماء ، قائلا : &#8221; تعالوا إلي ، يا جميع المتعبين والثقيلي الأحمال ، وأنا أريحكم &#8221; .</p>
<p>فلنحمل باعتناء وقلب مستقيم النير الحسن الذي لإيمان هذا الشريف المحتد ، الغرس الجديد الذي نبت في حظائر يسوع المحبوب . كنت افكر في يوحنا ، الغرس الجديد الذي نبت هذه الأيام مثل شجرة السوسن .</p>
<p>حقا ، هذا هو الأجير الأخير في الساعة الحادية عشرة ، الذي أتى مهرولاً وركض قدما ، وانتزع أجرته بمقدرة وفرح به رب القطيع ، والمدبر والوصي في ذات الوقت . كذلك اندهش منه الأجراء الآخرون في اشتیاق ومحبة روحانيين .</p>
<p>حقا ، هذا هو ابن العصيان ، الذي أخذ ثروة أبيه وبددها مع الزواني والخطاة ، واعتاز وجاع وافتقر وقارب الموت ، ثم عاد إلى أبيه ، فقبله إليه بفرح.</p>
<p>هذا هو الخروف الذي ضل مرعاه ، فركض وراءه باهتمام حتي وجده وقبله إليه في سعادة وفرح .</p>
<p>هذا هو المصباح الذي أضاء في مكان مظلم حتي عم نوره أرجاء البلاد .</p>
<p>هذه هي الحبة التي بقيت من العنقود ، فأثمرت كباقي الكرمة كلها .</p>
<p>هذا هو الإسرائيل الحقيقي الذي لا غش فيه ، ولا ظلمة ، ولا ظلم كقول الرب .</p>
<p>هذا هو العبد الصالح الذي أعاد فضة سيده وضاعفها سبع مرات أمام كل ذويه.</p>
<p>هذا هو التاجر الباحث عن اللؤلؤة حتى يجد اللؤلؤة الحقيقية التي هي عمانوئيل ، الصخرة الحية .</p>
<p>هذا هو المدعو الطاهر الذي يرتدي الحلة النورانية غير الدنسة والتي بلا عيب أمام كل المدعوين .</p>
<p>هذا هو الذي جلس أولا في وليمة العرس ، لأنه أرضى العريس الحقيقي السمائي ، المسيح مخلصنا .</p>
<p>تعالوا كلكم اليوم ، أيها المؤمنون المسيحيون ، أبناء الكنيسة ، لنرفع إلى الرب كل شکړ وكل مجد وكل بركة ونزيد اسمه القدوس المبارك علواً، أب كل أحد وابنه الوحيد الجنس يسوع المسيح ربنا ، والروح القدس ، إلى أبد الآبدين . آمین .</p>
<p></p>
<p>لأنه صنع معنا کعظیم رحمته ، وصار لنا معينا ومعزياً ورجاءً في كل حين وفي كل مكان ، وأظهر قوته ومجده وعجائبه معاً لأنه صنع معنا کعظیم رحمته وخلصنا من الضيق .</p>
<p>لأنه في زمن مقبول أعد لنا حراساً ومعزين ، وفي وسط الظلمة جلب النور ، وفي وسط العفونة والنتانة جلب رائحة الطيب وفي وسط الشوك والحسك جلب الزهرة اللامعة وفي وسط الزناة والقتلة والخطاة أحضر أبرارا وصديقين وقديسين ، وصاروا خداما له ، ولا سيما سافكو الدماء والقتلة صاروا ورثة وأهل ملكوت السموات ، وفي وسط الكراهية جلب معجزات ، وفي وسط اللعنة أحضر برکات ، وفي وسط الزوان غير المثمرة أحضر ثمار مواسم هادئة ، وفي وسط النجاسة والظلم أحضر أبناءً بررة ، أهل ملكوت السموات ، ورفعهم عالياً إلى الملائكة حسب ناموس الحرية الجديد الذي لمخلصنا يسوع المسيح .</p>
<p>فلنعيد ، يا أحبائي ، عيداً كنسياً جديداً ولنرنم مزمور النبي داود ، ملك إسرائيل ، ولنقل : &#8221; رنموا للرب ترنيمة جديدة تسبحته في كنيسة القديسين &#8221; .</p>
<p>هذا هو عيد استشهاد المجاهد الحقيقي الذي للمسيح ، القديس يوحنا الزيتوني ، هذا الذي أينع في هذه الأيام أكثر من أرز لبنان ، هذا الذي حمل النير الحلو ، أي الصليب، بلا خجل ، ولم يكن عليه ثقيلاً ، ولم يتعب بالكلية. هذا الذي نفذ أمر المسيح ، معلمه الحقيقي .</p>
<p>ونحن أيضا الذين نقرأ لأنفسنا في الإنجيل المقدس ، هذا ( القديس ) سمعه جيدا ونقذه جيدا : &#8221; من استحي أن يعترف بي وبكلامي قدام الزناة الخطاة فسيستحي به ابن الإنسان أيضا عندما يأتي في مجد أبيه وملائكته القديسين &#8220;.</p>
<p>حقا ، إن يوحنا القديس الجديد ، لم يستح ولم يخف ولم يشعر بالعار ، كما هو مكتوب : &#8221; أما خوفهم فلا تخافوه ولا تضطربوا ، بل قدسوا الرب المسيح في قلوبكم &#8221; . وهكذا قدس ( طهر ) القديس يوحنا قلبه في الرب ، واعترف به بلا خجل أمام الملوك والرؤساء والحكام والمقدمين والقوات ، واعترف بالمسيح أمامهم في جرأة قائلاً : &#8221; أنا مسيحي&#8221;.</p>
<p>اسمع ، أيها الشعب المؤمن المحبوب الذي للكنيسة الجامعة : هذا ما صنعه الثالوث القدوس ، وسوف أخبركم عن كرامة جنس هذا الشهيد القديس الذي نعيد له اليوم عيداً روحياً، أي القديس يوحنا العبد الصالح الذي لربنا يسوع المسيح ، الخروف الذي عاد إلى المربض الروحاني ، كما هو مكتوب في الإنجيل المقدس : &#8221; يكون فرح في السماء أمام ملائكة الله بخاطئ واحد يتوب أكثر من تسعة وتسعين باراً لا يحتاجون إلى توبة &#8220;.</p>
<p>فإن كانت الملائكة التي في السماء وصفوفها تفرح بهذا الخاطئ الواحد الذي عاد، لأنهم أبصروا توبته واعترافه بلا خجل ولا خوف ، يليق بنا نحن الأرضيين الجسديين أن نعيد مع شريكنا في الجسد ، الذي أسلم جسده إلى الجلادين والأتعاب والسياط على رجاء خلاص الحياة ، ونرنم مع المرتل داود قائلين : &#8221; ارجعي ، يا نفسي ، إلى موضع راحتك ، لأن الرب قد أحسن إلي ، وهذا القديس عاد إلي الرب فصنع معه رحمة عظيمة .<a href="#_ftn7" name="_ftnref7">[7]</a></p>
<h3>عظات آباء وخدام معاصرين</h3>
<p>يُمْكِن الرجوع لعظات عن الشهداء في أيام ١٥ ، ٢٢ هاتور ، ١٣ برمهات ، ٢٣ برموده</p>
<h4>المتنيح الأنبا يؤانس أسقف الغربية</h4>
<p>تقييم الاستشهاد</p>
<p></p>
<p>والآن بعد أن عرضنا للعذبات المروعة التي احتملها الشهداء ، والميتات التي اقتبلوها ، واعدادهم الضخمة من كل الشعوب والاجناس والطبقات والاعمار من الجنسين ، والمعجزات التي صاحبت عذابهم واستشهادهم ، وتأثير ذلك فيمن شاهدوهم … ما هو حكمنا على الاستشهاد في المسيحية. هل كان نوعاً من الجنون والجهل والحماقة ، أم كان نوعاً من الهروب من الحياة ، أو نوعاً من الانتحار تحت ظروف قاسية ، كما ادعى أعداء المسيحية !</p>
<p>لم يكن هكذا ، بل كان ثقل مجد لاولئك الشهداء ، وللسماء نفسها ، وللمسيحية أولاً وأخيراً … والآن نعرض لكشف هذه النواحى .</p>
<p>الاستشهاد شهوة</p>
<p>كان إحساس الشهداء والمعترفين بشرف تألمهم من أجل أنبل الأسباب والأهداف – شركة آلام المسيح – دافعاً لهم على الاستهانة بالعذاب والموت . بل قد تحول الاستشهاد لديهم إلى ما يمكن ان نسميه ، شهوة محببة . فكانوا يتقدمون إلى الحكام والولاة والقضاء معلنين مسيحيتهم دون أن يبحث عنهم أحد ، أو يستدعيهم ، أو يقبض عليهم …</p>
<p>فبعد المذبحة المروعة التي عملها أريانوس الوالى في أخميم ، وبعد أن سرى خبرها إلى البلاد المجاورة لأخميم ، سارع الناس اليها ليلحقوا بركب الشهداء وكان الآباء والأمهات ومعهم أولادهم يتسابقون قائلين في فرح &#8221; نحن ماضون إلى ملكوت السموات &#8221; …</p>
<p>وقد أتيحت للبعض فرصةً الهرب والتخلص من العذابات والموت ، ومع ذلك رفضوا ، مبرهنين على أشتهائهم الموت حباً في المسيح ، الذى سبقهم في هذا الطريق… وقصص الشهداء مليئة بأمثال هذه اللفتات .</p>
<ul>
<li>فالقديس اندراوس الرسول عندما صلبوه حدثت زلزله عنيفة فهرب صالبوه . وجاء أحباؤه لينزلوه عن الصليب فرفض ، وعانق الصليب معلناً محبته للمسيح المصلوب . وكأنى بالقديس بولس يكشف هذه الشهوة حينما قال &#8221; وآخرون عذبوا ولم يقبلوا النجاه ، لكى ينالوا قيامة أفضل &#8221; ( عب ١١ : ٣٥ ) .</li>
<li>والقديس اغناطيوس الانطاكى الشهيد ، الذى حكم عليه بأن يلقى للوحوش في روما ، يكشف لنا – وهو في طريقه للاستشهاد – عن الشهوة العارمة التي كان يعتمل بها قلبه نحو الاستشهاد ، والتي كشفها رسالته إلى أهل رومية .</li>
<li>والعلامة أوريجينوس ، الذى استشهد والده ، اشتهى هو أيضاً ان يصير شهيداً ، بل كانت تعتمل في نفسه شهوة ملحة لسفك دمه من أجل الهه ويقول يوسابيوس عنه &#8221; والآن غيرته المتأججة المتجاوزة حدود سنه لم تسمح له بالبقاء ساكناً ، أرسل لابيه رسالة مشجعة عن الاستشهاد نصحة. فيها قائلاً : &#8221; أحذر من ان تغير موقفك بسببنا &#8221; . وفى يوم ما ، تملكت هذه الشهوة على ذلك الجندى المسيحى الصغير ، ولم يطق البقاء في بيته ، ولم يذعن لتوسلات أمه ، الا بعد أن أخفت ثيابه ، وكان وهو في الثامنة عشر رشيد أسرته بعد استشهاد والده … وقد سمح الله باستبقائه ، من أجل نفعه الجزيل الذى قدمه لكنيسة المسيح .</li>
</ul>
<p>ولعل كلماته الآتية تكشف عن نظرته للاستشهاد ، قال &#8221; حينما ننظر الشهداء في كل مكان متهمين ، آتين من كل كنيسة ليقدموا للمحاكمة ، نرى في كل منهم الرب نفسه يحاكم . كيف نشك في ذلك ، حينما نعرف من كلام الرب أنه ليس مجرد انسان عادى هو الذى يلقى في السجن ، ليحتمل البرد والجوع والعطش ، بل هو نفسه الذى يتألم في شخص المتألم ومن هنا ، فانه حينما يحكم على أي مسيحى لمجرد أنه مسيحى ، وليس لسبب آخر ، أو جريمة أخرى فان يسوع المسيح هو الذى يحكم عليه في شخصه . وتبعاً لذلك ، فانه يحكم عليه في كل مكان في الأرض ، حينما يتألم أناس على اسمه … هكذا نظر أوريجينوس والمسيحيون جميعاً إلى الاستشهاد كشركة آلام الرب .</p>
<ul>
<li>والقديس الانبا أنطونيوس أب الرهبان ، اشتهى أن يصير شهيداً زمان الاستشهاد . ومن أجل تحقيق هذه الشهوة ترك وحدته في الجبل ونزل إلى الإسكندرية وكان يزور المعترفين في السجن ، ويعزيهم ويقويهم … وقيل انه كان يلبس ثياباً بيضاء ، ويقف في الشوارع أثناء موكب الحكام ، ملفتاً النظر اليه … لكن الله لم سمح أن يصير شهيداً بسفك الدم ، بل بنسكه ، وحفظه لكى يكون أباً لكثيرين في العالم كله ، ممن أتبعوا خطواته …</li>
<li>والقديس بيفام الاوسيمى ، سأل عنه أريانوس حال وصوله إلى أوسيم أما هو فصلى وقبل باب حجرته ، وقال &#8221; السلام لك يا قيطونتى ، التي تعبدت فيها لله الحى &#8221; . ثم لبس أفخر الثياب ورشم ذاته بعلامة الصليب ، وشد وسطه بمنطقة من ذهب ، وركب حصاناً وكان يقول &#8221; هذا هو يوم عرسى الحقيقى هذا يوم فرحى وسرورى بلقاء ملكى والهى يسوع &#8221; . وشجع أمه قائلاً لها &#8221; يا أمى لا تبكى ولا تحزنى بل أفرحى ، فان هذا هو يوم عرسى &#8221; … أمر الوالى أن تلقى أمه في النار مع جمع كبير من المعترفين وودعها قائلاً &#8221; اذهبى إلى النعيم يا أمى لأنه عن قليل الحق بك &#8221; … واخيراً قطعت رأسه بحد السيف في مدينة قاو في ٢٧ طوبه .</li>
</ul>
<p></p>
<ul>
<li>والانبا بسادة أسقف أبصاى بجوار اخميم ، وهو مساق للاعدام شوهد مرتدياً الثياب البيضاء الخاصة بالتقديس ، فأقترب منه شاب شماس وسأله لماذا يرتدى الثياب البيضاء التي يرتديها حين ترفع القرابين . فكان جوابه &#8221; يا أبى أنا ذاهب إلى حفلة ، فكيف لا ألبس الملابس البيضاء &#8221; !</li>
<li>وفى شمال أفريقيا – في الاضطهاد في السجن الذى أثاره فالريان ( ٢٥٣ – ٢٦٠ ) – قبض على مجموعة من المسيحيين وطرحوا في السجن ، وتحملوا أهواله شهوراً طويلة ، واعترفوا جميعاً بإيمانهم المسيحى . واقر لوكيوس ، ومونتانس ، وجوليان ، وفيكتوريكوس ، أنهم من رجال الدين ، وبناء على ذلك ، حكم عليهم بالاعدام فوراً ، حسب تعليمات الامبراطور .</li>
</ul>
<p>وكان معهم شاب يدعى فلافيان ، اقر انه شماس . غير أن نفرا من أصدقائه وزملائه في الدراسة من الوثنيين – رغبة في إنقاذه – اكدوا أن أعترافه باطل فأجل الوالى الحكم عليه .</p>
<p>وكان أن أحس بخيبة أمل كبيرة لحرمانه من تلك الرفقة الطيبة … وسبق الباقون إلى مكان الإعدام . وقبل أن يعدم مونتانس رفع يديه للصلاة في صوت مرتفع ، سمعه الجميع مسيحيون ووثنيون وقال : &#8221; أن فلافيان  - الذى عاقته محبة أصدقائه له – سوف يلحق بنا في اليوم الثالث &#8221; … وكعهد لتحقيق صلاته ، أعطى أحدهما للمسيحيين الواقفين حوله ليعصب به فلافيان عينيه بعد يومين . وكلف الاخوه أن يحتفظوا له بقطعة من الأرض التي سيدفن فيها هو ورفاقه بها حتى لا ينفصل عنهم في مماته … وبعد يومين ، دعى فلافيان . وكان اليوم الثالث أشبه بيوم البعث بالنسبة اليه . وأيقن أنه يغادر السجن إلى غير رجعة . وعاد أصدقاؤه الوثنيون يتوسلون اليه أن يتخلى عن عناده قائلين ، انه من الحمق أن يترجى فرصاً غامضة باهتة في حياة أخرى … فكان رده أنه من الخير له أن يحتفظ بحرية ضميره ، مقدماً ذاته للذبح ، عن يعبد حجراً … واقتيد إلى مكان الإعدام … وهناك اعتلى مرتفعاً من الأرض ليخطب الجمع الكبير من المسيحيين. وفى حديث قصير أعطاهم سلام الشركة مع الشهداء … ثم ترجل إلى المكان المحدد ، حيث عصب عينيه بنصف منديل مونتانس ، وجثا ليصلى . وما أن أتم صلاته حتى تلقى ضربة السيف التي أطاحت برأسه.</p>
<ul>
<li>وفى قصة استشهاد القديسة أربسيما العذراء ومن معها من العذارى حدث أن الملك تريداته ، أرسل بعض جنوده وقتلوا جميع العذراى اللواتى كن مع أربسيما ، ما عدا عذراء منهن كانت مريضة راقدة في كوخ بمفردها … وإذا لم يبصرها أحد ، أو يفطن إلى موضعها ، خشيت أن تفوتها هذه الفرصة ، فصاحت نحو الجند ، فاتوا وقطعوا رأسها أيضاً .</li>
<li>وفى مدة اضطهاد الملك الاريوسى فالنس ( ٣٦٣ – ٣٧٨ ) ، الذى أثاره ضد الأرثوذكسيين ، حدث أن والى بلاد ما بين النهرين ( بالعراق ) ، نفى الاسقف والكهنة والشمامسة ، الذين رفضوا الاشتراك مع الاسقف الجديد الاريوسى … فكان الشعب يخرج إلى البرية هناك … فأثار هذا التحدى الملك ، وأرسل إلى واليه بتشتيت اجتماعاتهم .</li>
</ul>
<p>ففي ذات صباح خرج الوالى ومعه جنود كثيرين ليرهبوا الشعب وأثناء سيره في المدينة شاهد أمرأة مسكينة تخرج مهرولة من بيتها ، وعلى يديها طفل ، غير مبالية بغلق باب بيتها . مسرعة في سيرها ومرت بين الجنود . لفت منظهرها ومسلكها الوالى . فأوقفها وسألها :</p>
<p>&#8221; إلى أين تمضين مسرعة يا امرأة ؟ &#8221; .</p>
<p>أجابته : &#8221; انى ماضية إلى الحقول حيث جميع المؤمنين &#8221;</p>
<p>قال لها : &#8221; الا تعلمين بأنه قد صدر أمر الملك بقتل جميع من يوجدون هناك ؟ &#8221; .</p>
<p>قالت له : &#8221; نعم ، أعلم ذلك ، ولهذا أنا أجد في السير لأبلغ هذا المكان خوفاً من أن تفوتنى فرصة الاستشهاد &#8221; .</p>
<p>قال : &#8221; ولم تأخذين هذا الطفل معك ؟ &#8221; .</p>
<p>أجابته : &#8221; لكى يشترك معى في هذا المجد &#8221; .</p>
<p>وهكذا نرى أن الاستشهاد كان شهوة محببة يتوق اليها المسيحيون ، ويرتمون في أحضانه .</p>
<p>الاستشهاد شجاعة</p>
<p>لم يكن الاستشهاد في المسيحية رعونه ، لكنه شجاعة مطلوبة … شجاعة كفضيلة . وقد أثرت هذه الشجاعة في نفس القدس يوستينوس الفلسوف الشهيد ، حينما كان ما يزال وثنياً …</p>
<p>يقول : &#8221; في الوقت الذى كنت استمتع فيه بمبادئ افلاطون . وفى الوقت الذى كنت أستمع فيه إلى المصائب التي يكابدها المسيحيون ، قلت لنفسى : حيث أنى رأيتهم لا يرهبون الموت ، حتى وسط الاخطار التي يعتبروها العالم مرعبة فمن المستحيل أن يكونوا أناساً يعيشون في الشهوة والجرائم &#8221; . وكتب الشهيد كبريانوس أسقف قرطاجنة ، يقول &#8221; لقد انذهلت الجموع المشاهدة للحرب السمائية ، الحرب الإلهية ، الحرب الروحية ، معركة يسوع . لقد رأوا خدام يسوع ثابتين في جرأة ، بفكر مستسلم … محتملين سيوف العالم ، لكنهم مؤمنون ومحصنون بأسلحة الايمان لقد كان المعذبون أكثر شجاعة من معذبيهم . اذ غلبت الأعضاء المضروبة الممزقة ، الآلات التي ضربها ومزقها . لقد كانت السياط تكرر الجلدات بكل ما في قوتها لكنها لم تقدر أن تهزم الايمان غير المنظور . لقد كان الدم يتدفق ليطفئ لهيب الاضطهاد ، ويبطل نيران جهنم ، ويروى بذار الايمان المسيحى … &#8221; . وفى قصص الشهداء التي قدمناها كنماذج ، ما يدل على عظم شجاعتهم بصورة يعجز اللسان البشرى عن وصفها ، حتى أن يوسابيوس المؤرخ يقول &#8221; ولم يكن المرء يتمالك نفسه من الدهشة أمام الثبات الذى لا يقهر ، الذى أبداه هؤلاء المباركون ( الشهداء ) ، والجلد الذى لا يتزعزع الذى أظهره أولئك الذين كانت أجسادهم لا تزال غضة فكنت ترى شاباً لم يكتمل بعد الثانية والعشرين واقفاً غير موثق ، باسطاً يديه على شكل صليب ، بعقل غير متخوف ، أو غير مرتعب ، منشغلاً في صلاة حارة لله ، دون أن يتراجع عن المكان الذى وقف فيه ، بينما تكاد النمور والدببه تلمس جسده ، وهى تنفث تهديداً وقتلاً . ومع ذلك ظلت أفواهها مغلقة ( ولست أدرى كيف كان ذلك ) ، بقوة الهية لا تدرك ، وعادت ثانية إلى مكانها &#8221; . ويقول المؤرخ المدقق دى برسنسية &#8221; لقد وقفت الشجاعة النبيلة التي تحلى بها المعترفون الحقيقيون بالايمان في جلالها ، ضد أسس الظلام التي الوثنية القاسية والارتداد الجبان . كان الشهداء أبطالاً في الكلام والعمل على السواء . وتكلم صوت الروح القدس القوى على أفواه الشهداء . ولم يعد السمو شيئاً غريباً على الكنيسة. اننا نحس ونحن نقرأ . إجابات أكثر المسيحيين تواضعاً ، أنهم كانوا عظماء في بساطتهم ، وأن الطبيعة البشرية أرتفعت فوق ذاتها ، وانها ارتفعت في القداسة بقوة الايمان في وجود الخطر &#8221; .</p>
<p>ولقد كانت شجاعة المعترفين والشهداء المسيحيين ، مثالاً فريداً . لم يألفه العالم القديم بديكتاتورية حكامه . وكانت اجابتهم التي قالوها نغمة جديدة على سمع العالم وقتذاك . يقول يوستينوس الشهيد الفيلسوف : &#8221; لا شيء يستطيع أن يحولنا عن إيماننا. لا سيف القاتل ، ولا صليب الضيق ، لا أنياب الوحوش الضارية ، ولا القيود ، ولا النار ، ولا العذاب بأى نوع بقدر ما يزيدوا آلامنا بقدر ما يزداد عدد المؤمنين ، وبقدر ما يزداد عدد التلاميذ الذين ينحازون إلى جانب المسيح &#8221; . وفى إجابات المعترفين المسيحيين أمام الحكام ما يكشف عن عظم الشجاعة ، التي لا ترهب الموت مقابل الصدق والحق . وقف شاب يدعى أخاتيوس في أزمير أنام حاكمها  - زمان اضطهاد ديسيوس ليحاكم بتهمة المسيحية ، قال للحاكم أنه لن يقرب القربان للامبراطور ، لان القربان لا يرفع لمخلوق . وحين قال له الحاكم &#8221; إما تقديم القربان وإما الموت &#8221; ، كان جوابه &#8221; ان هذا أسلوب قطاع الطرق ، فهم يخيرون المسافرين ، بين تسليم نقودهم أو الموت &#8221; .</p>
<p>وفى ألوان التعذيب الذى احتملوه – والتي مجرد ذكرها يرعب الإنسان – ما يدل على عظم شجاعة هولاء الشهداء . والمؤرخ المدقق لكى ، بعد أن يعدد أنواع التعذيب المرعبة التي احتملها المسيحيون ، يقول : &#8221; بين السجلات الصحيحة للاضطهادات الوثنية ، هناك قصص تظهر بجلاء مدى عمق القسوة التي يمكن أن تنحط اليها الطبيعة البشرية ، والمقاومة البطولية التي تبلغها … من أجل محبة هؤلاء لسيدهم القدوس ، ومن أجل ايمانهم ، وحتى يظلوا أمناء ، إحتمل الرجال وحتى الفتيات الصغيرات كل هذه الآلام دون أن يجفلوا أو ينثنوا بينما كانت كلمة واحد منهم كافية لاطلاقهم وتخليصهم من كل هذه العذابات &#8221; .</p>
<p>الاشتشهاد كرازة</p>
<p>دماء الشهداء بذار الكنيسة :</p>
<p>هذه العبارة المشهورة قالها العلامة ترتليانوس ، الذى عاش وسط الاضطهادات ، في النصف الأخير من القرن الثانى ، وكان من أكبر المتحمسين للاستشهاد … ولقد أثبتت الأيام والسنين والاحداث صحة هذا القول … وقد قال أيضاً موجهاً كلامه إلى الحكام الوثنيين : &#8221; استمروا في تعذيبنا ، أصحنوننا إلى مسحوق ، فإن اعدادنا تتزايد بقدر ما تحصدوننا ! ان دماء المسيحيين لهى بذار محصولهم . ان عنادكم هو في ذاته معلم لأنه من ذا الذى لا يتحرك بالتأمل فيما تعلمونه ليستعلم عن حقيقة الأمر . ومن ذا الذى بعد انضمامه الينا لا يشتاق إلى التألم ؟ ! &#8221; .</p>
<p>ان الاستشهاد بنتائجه برهان عملى لقول رب المجد : &#8221; ان لم تقع حبة الحنطة في الأرض وتمت ، فهى تبقى وحدها ، ولكن ان ماتت تأتى بثمر كثير &#8221; ( يو ١٢ : ٢٤ )  … هذا ما نراه عملياً ، فحبة واحدة من الحنطة تدفن في التربة ، تأتى بسنابل مملوءة ثلاثين وستين ومائة … هكذا الكرمة أيضاً التي تُقلم تعطى ثمراً أكثر . وهو نفس المعنى الذى أراده رب المجد بقوله &#8221; أنا الكرمة الحقيقية وأبى الكرام . كل غصن فىّ لا يأتي بثمر ينزعه . وكل ما يأتي بثمر ينقيه ليأتى بثمر أكثر &#8221; ( يو ١٥ : ١ ، ٢ ) . وفى ذلك يقول يوستينوس الشهيد في دفاعه : &#8221; ها أنت تستطيع أن ترى بوضوح أنه حينما تقطع رؤوسنا ، ونصلب ، ونلقى للوحوش المفترسة ، ونقيد بالسلاسل ، ونلقى في النار وكل أنواع التعذيب ، أننا لا نترك ايماننا . بل بقدر ما نعاقب بهذه الضيقات ، بقدر ما ينضم مسيحيون أكثر إلى ايماننا وديانتنا باسم يسوع المسيح . ان الكرام يقطع أغصان الكرمة التي تحتمل ثماراً ، حتى تنمو أغصان أخرى . وهذا بصيرها أكثر حيوية وأكثر اثماراً . وهذا ما يحدث معنا . فالكرمة التي غرست بواسطة الله مخلصنا يسوع المسيح ، هي شعبه &#8221; . والعجيب أن الرب يسوع أرسل تلاميذه كحملان بين ذئاب  ( لو ١٠ : ٣ ) ! ! .. كيف هذا .. ألا يخشى الله أن تفتك الذئاب بالحملان ؟ كلا ، انها لا تفتك بها ، بل ان ما يحدث هو العكس فالحملان تحول الذئاب إلى حملان مثلها .</p>
<p>يقول القديس اغسطينوس : &#8221; تأملوا يا أخوتى ماذا يفعل يسوع … ان ذئباً واحدا لو ألقى بين غنم كثيرة ، ولو بلغوا عدة آلاف ، لارتعب القطيع كله على الرغم من عدم قدرة الذئب على افتراس الكل ، لكن الكل يخافونه … فأى مشورة ، واى تدبير ، وأية قوة هذه ، حتى لا يبث الله ذئباً وسط الغنم بل يرسل غنماً وسط الذئاب ! ! انه لا يقترب بهم نحو الذئاب ، بل في وسط الذئاب .. لقد كان هناك قطيع من الذئاب وقلة من الغنم ، فعندما افترست الذئاب الكثيرة الغنمات القليلة تحولت الذئاب إلى غنم . لقد آمن كثيرون بسبب آلام الشهداء وموتهم ، بما صاحب استشهادهم من معجزات ، وما اظهروه من ثبات واحتمال وصبر … ولقد أوردنا كثيرا من هذه الأمثلة ، وسجل الشهداء حافل بقصص الايمان …  وقد لا أكون مبالغاً إن قلت ، ان الايمان المسيحي انتشر باستشهاد القديسين ، أكثر مما انتشر بتعليم المبشرين … فالدماء روت بذار الايمان فصارت دوحات عظيمة ، استظل بها كثيرون … لقد كسب المسيحيون الأوائل للمسيح كثيرين ، وقد نالوا هذا الكسب بموتهم اكثر مما نالوه بحياتهم أو معجزاتهم . وكما ينمو الحشيش اكثر كلما يجز ، هكذا المسيحيون كانوا ينهضون بقوة جديدة كلما كانوا يحصدون .</p>
<p>الاستشهاد برهان على صدق الديانة المسيحية</p>
<p>يقول المؤرخ الكبير شاف &#8221; نحن لا نعرف ديانه أخرى استطاعت ان تصمد لفترة طويلة – ثلاثة قرون تقريباً – في مقاومة متصلة من التعصب اليهودى ، والفلسفة الاغريقية ، والسياسة الرومانيه وقوتها . ما من ديانة أخرى كان يمكنها أن تنتصر في النهاية على أعداء كثيرين ، بالقوة الأدبية الروحية وحدها ، ودون الاستعانة بأية وسائل مادية لمساندتها &#8221; . اليس في هذا إتمام لأقوال الرب يسوع ومواعيده التي سلمها لتلاميذه &#8221; يلقون أيديهم عليكم ، ويطردونكم ويسلمونكم إلى مجامع وسجون  ، وتساقون امام ملوك وولاة لأجل اسمى ، فيؤول ذلك لكم شهادة . فضعوا في قلوبكم أن لا تهتموا من قبل لكى تحتجوا . لأنى اعطيكم فماً وحكمة لا يقدر جميع معانديكم أن يقاوموها أو يناقضوها . وسوف تسلمون من الوالدين ، والأخوة والأقرباء ، ويقتلون منكم . وتكونون مبغضين من الجميع من أجل اسمى ( لو ٢١ : ١٢ – ١٧ ) … ألم يتم كل هذا حرفياً ؟ . ان حوادث الاستشهاد مليئة بالأمثلة التي أوردناها كعينات على ذلك … أما النصرة النهائية فهى إتمام لوعده : &#8221; في العالم سيكون لكم ضيق ، ولكن ثقوا أنا قد غلبت العالم &#8221; ( يو ٢٦ : ٣٣ ) .</p>
<p>هكذا رأينا في سير الشهداء ان المسيح نفسه كان يظهر لبعض الشهداء سواء بشخصه ، أو بواسطة ملائكته ، أو قديسيه ، يعزى هؤلاء الشهداء ويقويهم … هكذا خرجت الكنيسة منتصرة في النهاية بعد حرب ضروس ، خاضت معاركها إتمام لقوله : &#8221; كل الة صورت ضدك لا تنجح . وكل لسان يقوم عليك في القضاء تحكمين عليه &#8221; ( أش ٥٤ : ١٧ ) .</p>
<p>كيف يمكن تعليل المعجزات التي حدثت وقت تعذيب الشهداء ؟ … كيف يعود الأنسان سليماً معافى بعد تقطيع أعضائه ، وتهرؤ لحمه ؟ كيف تتخلى الوحوش الضارية الجائعة عن طبيعتها ، فلا تمس الشهداء ولا تقربهم ؟ ! كيف يفقد السم تأثيره على شهداء المسيح ولا يضرهم ؟</p>
<p>كيف يحدث هذا ، الا اذا كان ذلك اتماماً لكلمات رب المجد : &#8221; ها أنا أعطيكم سلطاناً لتدوسوا الحيات والعقارب وكل قوة العدو ، ولا يضركم شيء &#8221; ( لو ١٠ : ١٩ ) … &#8221; وهذه الآيات تتبع المؤمنين ، يخرجون الشياطين باسمى يحملون حيات . وان شربوا شيئاً مميتاً لا يضرهم … &#8221; ( مز ١٦ : ١٧ ، ١٨ ) .</p>
<p>الاستشهاد برهان عملى على الفضائل المسيحية</p>
<p>كما تختبر المعادن بالنار ، كذلك تختبر الفضائل بالآلام والضيقات … كانت الاضطهادات العنيفة التي قاستها المسيحية ، برهانا على أصالة فضائلها فقد يتكلم الإنسان كثيراً عن الفضائل لكن هذا لا يعنى أنه إنسان فاضل ، إلا إذا برهن على الفضيلة عملياً بحياته ، وبخاصة في محنة آلامه . وقد اثبت الاستشهاد أصالة الفضائل التي نادت بها المسيحية ، متجسدة في أشخاص الشهداء ، الذين لم تستطيع الآلام المبرحة ان تجعلهم يتخلون عنها وكبرهان على ذلك ، نستعرض بعض الفضائل :</p>
<p>الثبات والاحتمال :</p>
<p>يقول العلامة ترتليانوس في خاتمة دفاعه ، موجها كلامك إلى حكام الإمبراطورية الرومانيه وقضاتها &#8221; كثيرون من كتابتهم يحثون على التشجيع في احتمال الألم والموت . ومن أمثالهم شيشرون وسينكا وديوجنيس ، وبيرهوس ، وكلينكوس . ومع ذلك لا تجد كلماتهم أتباعاً كثيرين ، على نحو ما تجد المسيحية. فالمعلمون ليسوا بكلماتهم ، بل بأعمالهم . وهذه الصلابة التي تعيرونها هي تعلمكم . لانه من ذا الذى يتأملها ولا يتحرك ليستفسر ما هي نهايتها ؟ ومن ذا الذى بعد أن يستفسر لا يعتنق مبادئنا ؟ وبعد أن يعتنقها ، لا يشتاق إلى التألم حتى ما يصير شريكاً لكمال نعمة الله ؟ ! &#8221; .</p>
<p>الوداعة :</p>
<p>لقد أثبت المعترفون والشهداء بلا استثناء وداعتهم مقابل أعدائهم .. لم يثوروا ولم يتمردوا ومنهم الجنود والقواد والحكام … كان يمكنهم أن يفعلوا شيئاً لكنهم لم يفعلوا … وكانت أعدادهم ضخمة كافية لاثارة شغب . وعلى سبيل المثال نذكر الكتيبة الطيبية التي كانت تضم أكثر من ستة آلاف جندياً ، واستشهد افرادها عن آخرهم . لقد قالوا في رسالة وقعوها ورفعوها إلى الامبراطور مكسيميانوس : &#8221; أيها القيصر العظيم اننا جنودك ، لكن في الوقت نفسه عبيد الله … لسنا ثواراً ، فالأسلحة لدينا ، وبها نستطيع ان ندافع عن أنفسنا ونعصاك ، لكننا نفضل أن نموت أبرياء ، على أن نعيش ملوثين ، ونحن على أتم أستعداد ، أن نحتمل كل ما تصبه علينا من أنواع التعذيب ، لأننا مسيحيون ، ونعلن مسيحيتنا جهاراً … &#8221; .</p>
<p>محبة الأعداء :</p>
<p>أما عن محبتهم لأعدائهم فهى واضحة كل الوضوح … كانوا يحبونهم ويصلون لأجلهم ، اتماما لوصية معلمهم : &#8221; أحبوا أعداءكم ، احسنوا إلى مبغضيكم … وصلوا لأجل الذين يسئون اليكم &#8221; ( لو ٦ ٢٧ ، ٢٨ ) … لقد أتم المسيحيون هذه الفضيلة ككنيسة وكأفراد … فاستفانوس أول شهداء المسيحية ، بينما كانوا يرجمونه جثاً على ركبتيه وصرخ بصوت عظيم : &#8221; يارب لا تقم لهم هذه الخطية &#8221; ( أع ٧ : ٦٠ ) . وقد أورد يوسابيوس المؤرخ قصة رأسه . ثم رفع صوته مصلياً من أجل زملائه المسيحيين ، ومن أجل اهتداء اليهود ، والأمم الذين يعيشون في الضلال ، ومن أجل الجماهير الواقفة حوله ، وتوسل من أجل القاضي الذى حكم عليه بالموت ، ومن أجل الحكام . وكذا من أجل الشخص الذى كان مزمعاً أن يقطع رأسه ، طالباً أن لا تحسب عليهم خطيتهم من نحوه وفى خبر استشهاد القديسة صوفية ، ان الوالى عذبها عذاباً شديداً بضربها بأعصاب البقر وكوى مفاصلها وقطع لسانها لأنها كانت تصبح تحت الآلام وتقول &#8221; أنا مسيحية &#8221; وقبيل ان تقطع رأسها ، صلت إلى الله صلاة طويلة ، ويألته أن يسامح الوالى وجنده بما فعلوه معها ، ثم أحنت عنفها للسياف . ولم يتردد الشهداء في أن يظهروا حبهم لمعذبيهم ومضطهديهم عملياً .</p>
<p>فالقديسان قزمان ودميان ، صليا لاجل الوالى الذى اعتراه روح نجس بسبب تعذيبه للشهداء ، فشفى للوقت والقديس أبيما شفى أرمانيوس والى الإسكندرية الذى أذاقه ألواناً من العذاب . شفاه من صمم وعمى ، كان قد أصيب بهما قصاصاً لتجديفه على الرب والقديس أباكلوج القس أقام ابن أريانوس الوالى بعد أن مات .</p>
<p>العفة والطهارة :</p>
<p>أما عن فضيلة العفة والطهارة ، فقد كانت واضحة كل الوضوح في حياة الشهداء ، بل أظهروا تمسكم بها حتى الموت . وقد أوردنا عدة أمثلة على ذلك .</p>
<p>الزهد في العالميات :</p>
<p>وقد باعدوا بينهم ، وبين محبة العالميات في أية صورة من صورها … فلقد صودرت أموالهم وممتلكاتهم وفصلوا من وظائفهم ، ومن مشاركة الحياة العامة ، وحتى الحمامات العامة ، منعوا من استخدامها … والبعض عاش بعيداً عن الاعين كالذين عاشوا في سراديب روما السحيقة… وقد فعلوا كل ذلك عن اختيار ودوافع شخصية عملاً بالمبادئ التي آمنوا بها …</p>
<p>الشوق إلى السماويات :</p>
<p>وبقدر ما ذهد المسيحيون في العالميات ، بقدر ما اشتاقوا إلى السماويات لقد عاشوا في العالم ، لكن تطلعهم الدائم كان نحو السماء وامجادها … عاشوا في الجسد وكأنهم أرواح بلا أجساد … لقد جعلوا كنزهم في السماء ، ولذا كانت قلوبهم هناك … لقد أثبتوا عملياً صدق الرب : &#8221; لستم من العالم &#8221; ( يو ١٥ : ١٩ ) …</p>
<p>ولقد أورد لنا يوسابيوس المؤرخ قصة عجيبة توضح هذا الأمر … مثل خمسة شهداء مصريين أمام القضاء في مدينة قيصرية بفلسطين ، بتهمة مرافقة المعترفين الذين يعملون من مناجم كيليكية وتشجيعهم . ولما سئلوا عن أسمائهم لم يذكروا أسمائهم الحقيقية ، بل ذكروا أسماء من الأنبياء ، لان أسمائهم الحقيقية كانت أسماء وثنية ، أطلقها عليهم آباؤهم . فأطلقوا على أنفسهم أسماء إيليا ، وأرميا ، وأشعياء ، وصموئيل ، ودانيال .. ولما سئل أحدهم عن وطنه أجاب &#8221; أورشليم &#8221; وكان يعنى أورشليم السمائية التي قال عنها الرسول بولس انها &#8221; أمتا جميعاً &#8221; ( غل ٤ : ٢٦ ) . ولما كان القاضي لا يعرف مدينة بهذا الاسم ، أمر بتعذيبه ، لكنه أكد أنه لم يتكلم سوى الصدق .. وإذ سئل مراراً عن المدينة التي تحدث عنها ، قال أنها وطن الاتقياء فقط .. ويقول يوسابيوس &#8221; وقد تحدث عن هذه الأمور ، بفلسفة وفوق ادراكة . ولم يستطيعوا أن يزحزحوه قيد شعرة بالتعذيبات … ولم تظهر عليه علامات الشعور بالآلام ، كأنه لم يكن له لحم وجسم . وإذ تحير القاضي ، لم يطق صبراً ، ظاناً أن المسيحين مزمعون أن يؤسسوا مدينة في مكان ما ، معادية للرومان . فأستعلم كثيراً عن هذا .. ولما وجد أنه لم يتزحزح عن أصراره ، حكم عليه بالموت … وبعد تعذيب الباقين تعذيباً مماثلاً ، تصرف معهم بنفس الكيفية . <a href="#_ftn8" name="_ftnref8">[8]</a></p>
<h4>المتنيح القمص تادرس البراموسي</h4>
<p>من إعترف بي قدام الناس يعترف به ابن الإنسان أمام ملائكة الله (لو ١٢ : ٤ - ١٢)</p>
<p>أراد الرب يسوع أن يوضح لنا الأمور ويعلن لنا كيف نسير وماذا نعمل حتى نعيش كما يريد لنا بعيدين عن الرياء والخداع والسير في الطريق المعوج الذي يؤدي إلى الهلاك من تعاليمه نستفيد أن الرياء من أخطر الخطايا التي يفعلها الإنسان لأنه لا ينفع الإنسان فهو رداء خادع وقناع يخفي وراءه الشرور ليكشف عن فراسة مزيفة فهو يتمزق لتظهر وراءه النجاسة وإن لم يكن ذلك في هذه الحياة فلابد له في يوم الدينونة حيث تنكشف كل العيوب . إن تعاليم المسيحية ليس كتعاليم الفلاسفة الوثنيين الذين قسموا ديانتهم إلى قسمين : قسم باطن علموه للعام والخاص . وقسم باطن لم يعلموه إلا لبعض أفراد مخصوصين . إن تلاميذ الرب يسوع هم شركائه في نشر الحقيقة للعالم فيما علمهم إياه على إنفراد يجب أن ينادي في كل المسكونة . إن النفس تبقى حية بعد إنفصالها من الجسد وإن قوة الإنسان على التنفس تنتهى عند الموت وهذا ما كان يغذى الشهداء في زمن الإضطهاد . إن عناية الله العجيبة تشمل مخلوقاته جميعها فهو الذي خلق أحقر وأصغر الأشياء كما خلق أيضاً أعظمها وأهمها . لذلك هو يعتني بها جميعاً كذلك الأمور المتعلقة بأعمال الناس فإنه لا شئ فيها يعد خسيساً وحقيراً حتى لا يستحق عناية الله .</p>
<p>أو لا يجوز للمؤمنين أن يذكروه في صلواتهم بل كل الأشياء في يد الله الصالحة أن المؤمن الحقيقي يجب أن يعترف بإيمانه علناً بدون مواربة . أن الرب يسوع سيد الكل ومعلم الجميع بالقول والفعل ومن أنكر السيد المسيح لا يمكن له أن يفوز بالخلاص لأن من رفض الرحمة لا يعفو عنه العدل وقد علمنا الرب يسوع متى قدمونا للمحاكم من أجل المسيح فلا نهتم بأسلوب الإجابة ولا بحقيقة الدفاع لأن الروح القدس هو الذي يتكلم عنا وهو الذي يعطينا فما وحكمة لا يقدر أعدائنا أن يتغلبوا علينا أو يقاومونا.<a href="#_ftn9" name="_ftnref9">[9]</a></p>
<h3>من وحي قراءات اليوم</h3>
<p>&#8221; ماذا يُعطي الإنسان فداء عن نفسه&#8221;           إنجيل عشيّة</p>
<p>المسؤولية الشخصية</p>
<p>+ كل إنسان مسؤول مسؤولية كاملة عن خلاصه وعن مصيره الأبدي</p>
<p>+ قد ُأ ْكمل (يو ٣٠:١٩) كلمة قالها رب المجد علي الصليب ليؤكد إتمام كل ماهو لازم لخلاص الإنسان وينتظر إستجابة كل واحد لدعوته المجّانية</p>
<p>+ تقصير الرعاة والخدام في الخدمة سيحاسبهم الله عليه لكن هلاك أي إنسان سيتحمَّل هو أولاً وأخيراً مسؤوليته كاملة</p>
<p>+ الله يكّلم كل إنسان بأنواع وطرق كثيرة (عب ١:١) ، فإذا أهمل الراعي في توصيل رسالة الله ستصل للإنسان من طرق أخري</p>
<p>+ إن سمع أحد صوتي وفتح الباب (رؤ ٢٠:٣) آية تعلن أن صوت الله يسمعه الكل   وحتي لو لم يسمعه من الكنيسة أو في الكنيسة سيسمعه في أحداث الحياة اليومية</p>
<p>+ أنت بلا عذر أيها الإنسان (رو ١:٢) آية تحذّرنا من الهروب من مواجهه أنفسنا بشجاعة وصدق</p>
<p>+ هلاك البعض وقت تجسّد رب المجد ورغم أنه كان يجول يصنع خيرا تؤكد مسؤولية الإنسان الكاملة عن نفسه برغم كرازة خادم كامل قدوس</p>
<p>+ سيحاسب الله كل راعي علي عدم توصيله رسالة الخلاص لكل إنسان ولكن سيحاسب الله أيضاً كل إنسان يهمل خلاصه بدعوي تقصير الرعاة في حقّه</p>
<p>+ أحيانا تكون العثرات من الكنيسة شمّاعة الإنسان للهروب من مواجهه نفسه</p>
<p>+ عندما يتحمَّل الإنسان بالكامل مسؤولية خلاص نفسه سيُشْفِق علي الآخرين وسيُصلي لأجلهم</p>
<hr />
<p><a href="#_ftnref1" name="_ftn1">[1]</a> القديس يوستينوس المدافع والشهيد - النعمة عند القديس أثناسيوس (صفحة ٧٢) للدكتور وهيب قزمان</p>
<p><a href="#_ftnref2" name="_ftn2">[2]</a> القديس كبريانوس - تفسير لوقا ١٢ - القمص تادرس يعقوب ملطي</p>
<p><a href="#_ftnref3" name="_ftn3">[3]</a> العلامة أوريجانوس - رسالة إلي الشهداء ( صفحة ٨١ ) - ترجمة الأستاذ موسي وهبة - كنيسة مار جرجس خمارويه</p>
<p><a href="#_ftnref4" name="_ftn4">[4]</a> تفسير إنجيل لوقا ( الإصحاح الثاني عشر ) - القمص تادرس يعقوب ملطي</p>
<p><a href="#_ftnref5" name="_ftn5">[5]</a> كتاب المسيح مجد الشهداء ( صفحة ٤٣ ) - ترجمة الباحث ريمون يوسف رزق</p>
<p><a href="#_ftnref6" name="_ftn6">[6]</a> كتاب الخوف أنواعه وعلاجه في الحياة الروحية الأرثوذكسية ( صفحة ٩ ) - تقديم القمص أنطونيوس أمين راعي كنيسة مار مرقس مصر الجديدة</p>
<p><a href="#_ftnref7" name="_ftn7">[7]</a> كتاب إطلالات علي تراث الأدب القبطي صفحة ٤١٦ - ترجمها عن القبطية دكتور صموئيل القس قزمان معوض</p>
<p><a href="#_ftnref8" name="_ftn8">[8]</a> المرجع :  كتاب الإستشهاد في المسيحية ( صفحة ٢٦٠ ) - الأنبا يؤانس أسقف الغربية</p>
<p><a href="#_ftnref9" name="_ftn9">[9]</a> المرجع : كتاب تأملات وعناصر روحية في آحاد وأيام السنة التوتية ( الجزء الثاني  صفحة ٤٦ ) - إعداد القمص تادرس البراموسي</p>

      {% endcreateArticleAccordions %}
    </section>
  {% endblock %}
  