---
layout: 'layouts/reading.html'
title: 'اليوم الثلاثون من شهر برمودة'
tags: 'annual'
permalink: /articles/annual/8-30.html
---
  {% block content %}
    <section id="readings">
      <ul>
      {% if 'undefined' != 'undefined' %}
      
      {% else %}
      {% if '19.40:9,2' != 'null' %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">العشية</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeVespers '19.40:9,2' '41.6:6-13' %}
          </div>
        </div>
      </li>
      {% endif %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">باكر</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeMatins '19.105:1-3' '41.10:17-30' '' %}
          </div>
        </div>
      </li>
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <h3 class="flex items-center justify-between">
            <span class="kufi">القداس</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </h3>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeLitugy '55.3:10-17*@+55.4:1-18' '60.5:1-14' '44.15:36-41*@+44.16:1-5' '19.96:1-2' '41.1:1-11' %}
          </div>
        </div>
      </li>

      {% endif %}
        </ul>
    </section>
    <section id="article">
      <h3 class="mt-8 mb-4 heading-explain">شرح القراءات</h3>
      {% createArticleAccordions %}
        <p>تذكار شهادة كاروزنا العظيم مار مرقس الرسول والإنجيلي  )</p>
<p>خذ مرقس وأحضره معك لأنه نافع لي للخدمة&#8221;</p>
<p>٢تي ٤ : ١١</p>
<p>&#8221; أتيت وأنرت لنا ، بإنجيلك ، وعلمتنا الآب والإبن ، والروح القدس .</p>
<p>وأخرجتنا من الظلمة ، إلي النور الحقيقي ، وأطعمتنا خبز الحياة ، الذي نزل من السماء &#8221;</p>
<p>ذكصولوجية للقديس مار مرقس الإنجيلي</p>
<p>&#8221; يارب ثبت الاخوة الذين قد عرفوا اسمك القدّوس وأعود إليهم فرحاً بهم&#8221;</p>
<p>وداع مار مرقس الرسول للمؤمنين قبل ذهابه للكرازة في الاسكندرية<a href="#_ftn1" name="_ftnref1">[1]</a></p>
<h3>شواهد القراءات</h3>
<p>(مز ٣٩ : ٨ ، ٣) ، (مر ٦ : ٦ - ١٣، (مز ١٠٤ : ١) ، (مر ١٠ : ١٧ – ٣٠)، (٢تي ٣ : ٤ – ١٨) ، (١بط ٥ : ١ – ١٤) ، (أع ١٥ : ٣٦ - ١٦ : ١ – ٥) ، (مز٩٥ : ١) ، (مر ١ : ١ – ١١)</p>
<h3>ملاحظات علي قراءات يوم ٣٠ برمودة</h3>
<p>قراءة إنجيل باكر اليوم (مر ١٠ : ١٧ - ٣٠) تُشبه قراءة إنجيل قدَّاس (مر ١٠ : ١٧ - ٣١) للأحد الرابع من شهر هاتور</p>
<p>+ قراءة الكاثوليكون اليوم (١بط ٥ : ١ - ١٤) تكررت ثلاث مرات في ١٧ هاتور، ٢٤ هاتور  ، ٢ أمشير</p>
<p>وتشابه معها قراءتين أخريين ( ٢٠ بشنس من ١بط ٥ : ٥ - ١٤ ) ، ( ٤ نسئ من ١بط ٥ : ١ - ١١ )</p>
<p>وهنا الكلام عن الرعاية والرعاة ( ارعوا رعية الله التي بينكم ) لذلك جاءت في تذكار ذهبي الفم ( ١٧ هاتور ) والأربعة والعشرين قسيس ( ٢٤ هاتور ) ومار مرقس ( ٣٠ برمودة )</p>
<p>كما أن القراءة تتكلّم أيضاً عن السهر واليقظة ومقاومة إبليس لذلك جاءت مع تذكار آباء البرية مثل الأنبا بولا ( ٢ أمشير ) والقديس امونيوس الأنطاكي ( ٢٠ بشنس ) والقديس بيمن المتوحد ( ٤ نسئ )</p>
<p>+ قراءة الإبركسيس اليوم (أع ١٥ : ٣٦ - ١٦ : ١ - ٥) هي نفس قراءة الإبركسيس ليوم ٢٨ هاتور ، ونفس قراءة الإبركسيس للأحد الرابع من بابه</p>
<p>وهي القراءة التي تكشف عن إحتواء الله لضعفات الرعاة في خلافاتهم لأجل مجئ مار مرقس إلي قبرس ومن بعدها إلي مصر ( ٣٠ برمودة ) وأيضاً القديس صرابامون أسقف نيقوسيا الذي كانت أيضاً مُضايقات اليهود في أورشليم سبباً في ذهابه بإرشاد إلهي إلي الإسكندرية وإقامته أسقفاً وإستشهاده فيها ( ٢٨ هاتور ) ، أمَّا في الأحد الرابع من بابه فالكلام عن إفتقاد الله للبشرية ( موضوع قراءة إنجيل ذاك الأحد )</p>
<p>+ قراءة إنجيل قداس اليوم (مر ١ : ١ - ١١) هي نفس قراءة إنجيل باكر ليوم ١١ طوبه ( عيد الغطاس )</p>
<p>وإختيار القراءة يوم ١١ طوبه لإشارة القديس مرقس لشخصية وخدمة يوحنا المعمدان في إفتتاحية إنجيله ، أمّا مجيئها اليوم فالسبب واضح لأن القديس مرقس الإنجيلي هو صاحب تذكار هذا اليوم</p>
<h4>القراءات المُحوَّلة علي قراءة يوم ثلاثين برمودة</h4>
<p>ثلاثون بابة                     تكريس كنيسة مار مرقس ووجود رأسه المُقدَّسة</p>
<p>عشرون هاتور                 نياحة إنيانوس الذي رسمه مار مرقس بطريركا</p>
<p>ثالث وعشرون بشنس    نياحة يونياس الرسول أحد السبعين</p>
<p>٢٧ بؤونه                      شهادة القديس حنانيا الرسول أحد السبعين</p>
<p>ثاني أبيب                     نياحة القديس تداوس الرسول أحد الإثني عشر رسولاً</p>
<p>تاسع أبيب                    شهادة القديس سمعان كلوبا أحد السبعين</p>
<h3>شرح القراءات</h3>
<p>اليوم هو تذكار شهادة كاروزنا العظيم مار مرقس الرسول والإنجيلي</p>
<p>مُحوَّل علي هذا اليوم تذكارات إثنان من السبعين رسولاً وواحد من الإثني عشر والبابا إنيانوس الثاني في البطاركة</p>
<p>تتركَّز قراءات هذا اليوم علي حياة وخدمة وكرازة مار مرقس الرسول والأناجيل الثلاثة مأخوذة من إنجيله والقراءات الثلاث البولس والكاثوليكون والإبركسيس تشير إليه مباشرة</p>
<p></p>
<p>تبدأ المزامير بخدمة مار مرقس المؤسسة علي الصخرة ( مزمور عشيّة ) والموجَّهه للأمم ( مزمور باكر ) والمُبشِّرة بخلاصه ( مزمور القداس )</p>
<p>وهي الكرازة بعدله ( مزمور عشية ) وبأعماله وعجائبه ( مزمور باكر ) وبخلاصه ( مزمور القداس )</p>
<p></p>
<p>لذلك يتكلَّم مزمور عشيّة عن القوّة في كرازته وذلك يظهر في الجماعة العظيمة وإنطلاقة الشفاة وصخرة الأساس</p>
<p>( بشرت بعدلك في جماعة عظيمة هوذا لا أمنع شفتي وأقام الصخرة رجليّ وسهّل خطواتي )</p>
<p>ويتكلَّم مزمور باكر عن إنتشار كرازته وسط الأمم بجميع عجائبه</p>
<p>( إعترفوا للرب وإدعوا بإسمه نادوا في الأمم بأعماله حدثوا بجميع عجائبه إفتخروا بإسمه القدوس )</p>
<p>وفِي مزمور القداس عن دوام كرازته من يوم إلي يوم</p>
<p>( سبحوا الرب تسبيحاً جديداً سبحي الرب يا كلَّ الأرض سبحوا الرب وباركوا إسمه بشروا من يوم إلي يوم بخلاصه)</p>
<p></p>
<p>وفِي القراءات نري مار مرقس تلميذ بولس الرسول ( البولس ) وتلميذ برنابا الرسول ( الكاثوليكون ) وتلميذ بطرس الرسول ( الإبركسيس )</p>
<p></p>
<p>ونراه كارزاً في روما ( البولس ) وفِي مصر ( الكاثوليكون ) وفِي قبرس ( الإبركسيس )</p>
<p></p>
<p>يأتي البولس من نهاية حياة بولس الرسول غالباً من سجنه الأخير في روما طالباً من تلميذه تيموثاوس أن يأتي إليه سريعاً ومعه القديس مرقس الرسول ليخدم معه وبالرغم من أن كثيرون تركوه أو ذهبوا للخدمة بعيدا لكن نراه يطلب مار مرقس ويشهد بخدمته النافعة</p>
<p>( إسرع أن تأتي اليَّ عاجلاً لأنَّ ديماس قد تركني إذا أحبَّ العالم الحاضر وذهب إلي تسالونيكي وكريسكيس إلي غلاطية وتيطس إلي دلماطية ولوقا وحده معي خُذ مرقس وإحضره معك لأنه نافع لي للخدمة</p>
<p>وفِي الكاثوليكون يتكلَّم القديس بطرس عن أساسيات الرعاية وعن العلاقة بين الشيوخ والشبّان وينقل للرعاة السلام من مصر ( بابلون ) ويشهد عن مرقس إبنه</p>
<p>( أرعوا رعية الله التي بينكم وتعاهدوها لا بالقهر بل بالإختيار كمثل الله ولا ببخل بل بنشاط &#8230; كذلك أنتم أيها الشبان اخضعوا للشيوخ وكونوا جميعاً متسربلين بالتواضع بعضكم لبعض &#8230; تُسلِّم عليكم الصدّيقة المختارة التي في بابلون ( مصر ) ومرقس إبني )</p>
<p>وفِي الإبركسيس التلميذ المرافق لمعلِّمه وخاله القديس برنابا سواء في خدمته مع القديس بولس أو في خدمته في قبرس</p>
<p>( من بعد أيام قال بولس لبرنابا لنرجع ونفتقد الاخوة في كل مدينة بشرنا فيها بكلمة الرب وكيف حالها وكان برنابا يريد أن يأخذ معهما يوحنا الذي يُدعي مرقس وأما بولس فكان يريد أن الذي فارقهما من بمفيلية ولم يأتِ معهما للعمل لا يأخذانه معهما فحصلت بينهما مغاضبة حتي فارق أحدهما الآخر وبرنابا أخذ مرقس وأقلع إلي قبرس )</p>
<p></p>
<p>وفِي الأناجيل نري في الرسل دعوتهم ( إنجيل عشيّة ) وتَرْكُهم كل شئ ومكافأته لهم ( إنجيل باكر ) وكرازتهم ( إنجيل القداس )</p>
<p></p>
<p>ونري القديس مرقس كارزاً بملكوت الله ( إنجيل عشيّة ) وتلميذاً تابعاً للسيد ( إنجيل باكر ) وواحداً من البشيرين الأربعة ( إنجيل القداس )</p>
<p>يتكلَّم إنجيل عشية عن دعوة الرب وإختياره لرسله ووصيته لهم بالكرازة بالتوبة لكل الشعوب</p>
<p>( ودعا الإثني عشر وإبتدأ يُرسلهم إثنين إثنين وأعطاهم سلطاناً علي الأرواح النجسة &#8230; فخرجوا وصاروا يكرزون أن يتوبوا وأخرجوا شياطين كثيرة ودهنوا بزيت مرضي كثيرين فشفوهم )</p>
<p>وفِي إنجيل باكر نري مقارنة بين من مضي حزينا لعدم قدرته ترك كل شئ من أجل الرب وبين الرسل الذين تبعوا سيّدهم بعد ما تَرَكُوا كل شئ لأجله</p>
<p>( إذهب وبع كلَّ مالك وإعطه للمساكين فتربح لك كنزاً في السماء وتعال إتبعني حاملاً الصليب أمّا هو فإغتمَّ علي القول ومضي حزيناً لأنه كان ذَا أموال كثيرة &#8230; وإبتدأ بطرس يقول له ها نحن قد تركنا كل شئ وتبعناك فأجاب يسوع وقال الحق أقول لكم ليس أحد ترك بيتا أو أخوة أو أخوات أو أبا أو أما أو إمرأة أو أولادا أو حقولا لأجلي ولأجل الإنجيل إِلَّا ويأخذ مئة ضعف الآن في هذا الزمان بيوتا وأخوة وأخوات وأمهات وأولاداً وحقولا مع إضطهادات وفِي الدهر الآتي الحياة الأبدية )</p>
<p>وفِي إنجيل القداس نري إفتتاحية الإنجيل بحسب القديس مرقس والذي يوضِّح فيها كرازة يوحنا المعمدان السابق الصابغ والذي أعد الطريق للرب يسوع</p>
<p>( بدء إنجيل يسوع المسيح إبن الله &#8230; وكان يوحنا يعمِّد في البرية ويكرز بمعمودية التوبة لمغفرة الخطايا )</p>
<h3>ملخّص القراءات</h3>
<p>دعم الله لمارمرقس بأن يجعل خدمته للأمم مؤسسة علي الصخر ومُبشِّرة بالخلاص                  مزمور عشيّة وباكر والقدّاس</p>
<p></p>
<p>وجعله سندا للرسل العظام بطرس وبولس وبرنابا ليكرز في روما وفِي قبرص وفِي مصر.                    البولس والكاثوليكون والإبركسيس</p>
<p>وكارزاً بملكوت الله وتابعاً للسيد وواحداً من البشيريين الأربعة               إنجيل عشيّة وباكر والقدّاس</p>
<h3>أفكار مقترحة للعظات</h3>
<h4>( ١ ) عمل الله مع الكارزين</h4>
<p>+ يدعم خطواتهم</p>
<p>&#8221; وأقام الصخرة رجلي وسهَّل خطواتي &#8221;                           مزمور عشيّة</p>
<p>+ يُعطيهم سلطاناً</p>
<p>&#8221; ودعا الإثني عشر وإبتدأ يرسلهم إثنين إثنين وأعطاهم سلطاناً علي الأرواح النجسة &#8221;                إنجيل عشيّة</p>
<p>+ وعده لهم بالمكافأة</p>
<p>&#8221; فأجاب يسوع وقال الحق أقول لكم ليس أحد ترك بيتاً أو أخوة … إلَّا ويأخذ مئة ضعف &#8221;                  إنجيل باكر</p>
<p>&#8221; ومتي ظهر رئيس الرعاة تنالون إكليل المجد الذي لا يضمحل &#8221;                                   الكاثوليكون</p>
<p>+ مساندته لهم وقت تخلي الجميع عنهم</p>
<p>&#8221; بل الجميع تركوني لا يحسب عليهم ولكنَّ الربَّ وقف معي وقوَّاني لكي تتم بي الكرازة &#8221;              البولس</p>
<p>+ الحماية</p>
<p>&#8221; وسينجيني الرب من كل عمل ردئ ويُخلصني لملكوته السماوي &#8221;                         البولس</p>
<p>+ بنيان الإيمان وإتّساع حقل الكرازة</p>
<p>&#8221; فكانت الكنائس تتشدَّد في الإيمان وتزداد في العدد كل يوم &#8221;                    الإبركسيس</p>
<h4>( ٢ ) من هو مار مرقس</h4>
<p>+ نافع للخدمة وتتلمذ علي يد القديس بولس</p>
<p>&#8221; خذ مرقس وإحضره معك لأنه نافع لي للخدمة &#8221;         البولس</p>
<p>+ كارز في مصر وتتلمذ علي يد القديس بطرس</p>
<p>&#8221; تُسلِّم عليكم الصدّيقة المختارة التي في بابلون ( مصر ) ومرقس إبني &#8221;            الكاثوليكون</p>
<p>+ كارز في قبرس وتتلمذ علي يد القديس برنابا</p>
<p>&#8221; وبرنابا أخذ مرقس وأقلع إلي قبرس &#8221;</p>
<p>+ أحد البشيرين الأربعة</p>
<p>ويُقال أنه أول إنجيل كتب ويتسم بالقوة والسرعة في وصف الأحداث ( يمكن الرجوع لكتاب مقدمات في العهد الجديد للدكتور موريس تاوضروس )</p>
<p>+ كاروز الديار المصرية</p>
<p>وهو الذي دخلت المسيحية مصر بكرازته حتي قدم حياته كلها لأجل إيمان المصريين</p>
<p>+ مؤسس مدرسة الإسكندرية اللاهوتية</p>
<p>ويكفي أن هذه المدرسة أخرجت كل أبطال الإيمان في القرون الخمس الأولي ومن مديريها من صاروا بعد ذلك بطاركة ( يسطس ٦ ،  أومانيوس ٧ ، مرقيانوس ٨ ، ياروكلاس ١٣ ، ديونسيوس ١٤ ) وأيضاً من تلامذتها من صاروا أيضاً بطاركة ( يوليانوس  ١١ ، بطرس خاتم الشهداء ١٧ ، أرشلاوس ١٨ ،  أثناسيوس ٢٠ ، كيرلس ٢٤ ،  ديوسقورس ٢٥ )</p>
<p>+ كاتب القدَّاس الكيرلسي الذي أضاف إليه القديس كيرلس السكندري ونُسِبَ إليه</p>
<h4>( ٣ ) الكرازة</h4>
<p>+ حتميتها</p>
<p>&#8221; بشرت بعدلك في جماعة عظيمة هوذا لا أمنع شفتي &#8221;                     مزمور عشيّة</p>
<p>+ جوهرها المُناداة بالتوبة</p>
<p>&#8221; فخرجوا وصاروا يكرزون أن يتوبوا &#8221;                         إنجيل عشيّة</p>
<p>&#8221; ويكرز بمعمودية التوبة لمغفرة الخطايا &#8221;            إنجيل القدَّاس</p>
<p>+ ضريبتها ومكافأتها</p>
<p>&#8221; إلَّا ويأخذ مئة ضعف … مع إضطهادات &#8221;                   إنجيل باكر</p>
<p>&#8221; وجميع الذين يريدون أن يعيشوا بالتقوي في المسيح يسوع يُضطهدون &#8221;             البولس</p>
<p>+ دوامها وقوتها</p>
<p>&#8221; إكرز بالكلمة أعكف علي ذلك في وقت مناسبٍ وغير مناسبٍ وبخ عظ إنتهر بكلّ أناة وتعليم &#8221;   البولس</p>
<p>+ آلامها</p>
<p>&#8221; وأما أنت فإستيقظ في كل شئٍ وإقبل الآلام وأعمل عمل المبشِّر &#8221;               البولس</p>
<p>&#8221; فقاوموه راسخين في الإيمان عالمين أن نفس هذه الآلام تُجري علي اخوتكم الذين في العالم &#8221;    الكاثوليكون</p>
<p>+ تأييد السماء لها</p>
<p>&#8221; ولكن الرب وقف معي وقواني لكي تتم بي الكرازة ويسمع جميع الأمم &#8221;             البولس</p>
<p>&#8221; وإله كل نعمة … هو يُهيِّئكم ويُثبِّتكم ويقوِّيكم ويمكنكم &#8221;             الكاثوليكون</p>
<p>+ كرازة مسنودة بشركة الكنيسة وصلوات الإخوة</p>
<p>&#8221; أما بولس فإختار سيلا وخرج وقد إستودع من الأخوة إلي نعمة الله &#8221;                     الإبركسيس</p>
<p>+ كرازة تحفظ تعليم الرسل وتقليد الآباء</p>
<p>&#8221; وإذ كانا يطوفان في المدن كانا يُشِّرعان لهم ناموساً بأن يحفظوا الأوامر التي قررها الرسل والقسوس الذين بأورشليم &#8221;</p>
<h3>عظات آبائية</h3>
<p>تعليق آباء الكنيسة علي إنجيل القدَّاس</p>
<h4>القديس كيرلس الأسكندري</h4>
<p>+ كان إشعياء على علم بعمل يوحنا التبشيري، فبينما يسمي إشعياء المسيح إلهًا وربًا (إش ٩ : ٦) ، يشير إلى يوحنا بأنه رسول خادم ومصباح يضيء قبل ظهور النور الحقيقي. هو كوكب الصبح الذي يعلن بزوغ الشمس من وراء الأفق، فتبدد أشعتها الساطعة سجف الظلام الحالكة. كان يوحنا صوتًا لا كلمة، يتقدم المسيح، كما يتقدم الصوت الكلمة</p>
<p>+ هل كان المسيح في حاجة إلى العماد المقدس؟ وأية فائدة تعود عليه من ممارسة هذه الفريضة؟ فالمسيح كلمة الله، قدوس كما يصفه إشعياء في مختلف التسابيح (إش ٣ : ٦) ، وكما يصفه الناموس في كل موضع. ويتفق جمهور الأنبياء مع موسى في هذا الصدد! وما الذي نستفيده نحن من العماد المقدس؟ لاشك محو خطايانا. ولكن لم يكن شيء من هذا في المسيح، فقد ورد: &#8220;الذي لم يفعل خطية ولا وجد في فمه مكر &#8221; (١بط ٢ : ٢٢) ، &#8220;قدوس بلا شر ولا دنس قد انفصل عن الخطاة وصار أعلى من السموات &#8221; (عب ٧ : ٢٦)… فما عُمد المسيح إلا لتعليمنا بأن الإنسان الذي من ذرية داود وهو المتحد بالله الابن عمد وقبل الروح القدس&#8230; مع أنه لم ينفصل قط عن روحه (القدوس) قبل العماد&#8230; بل إذ هو المسيح الكلمة ابن الله الوحيد الذي يشترك مع الآب في العظمة والسلطان لأنه بطبيعته الابن الحقيقي يرسل الروح القدس إلى الخليقة ويهبه لكل من كان جديرًا به، إذ قال حقًا: &#8220;كل ما للآب هو لي&#8221; (يو ١٦ : ١٥).</p>
<p>+ انفتحت السماوات فاقترب الإنسان من الملائكة المقدسين</p>
<p>+ حلّ أولًا على المسيح الذي قبل الروح القدس لا من أجل نفسه بل من أجلنا نحن البشر لأننا به وفيه ننال نعمة فوق نعمة&#8230; والآن أخذنا المسيح مثلنا الأعلى، فلنقترب إلى نعمة العماد الأقدس&#8230; فيفتح لنا الله الأب كوى السماوات ويرسل لنا الروح القدس، الذي يقبلنا كأبناء له، فان الله الأب خاطب المسيح في وقت عماده المقدس كأنه به وفيه قد قبل الإنسان الساكن الأرض، معلنًا بنوة الجنس البشري بالصوت الحلو القائل: &#8220;أنت ابني الحبيب بك سررت &#8221; (لو ٣ : ٢٢).</p>
<p>المسيح كما سبق وقلت هو حقًا ابن الله الوحيد، وإذ صار شبهنا أعلنت بنوته لا من أجل نفسه، لأنه كان ولا يزال وسيبقى الابن، لكن هذه البنوة أُعلنت من أجلنا نحن البشر الذين صرنا أبناء الله، لأن المسيح بكرنا وسندنا. هو آدم الثاني، إذ ورد: &#8220;إن كان أحد في المسيح فهو خليقة جديدة، الأشياء العتيقة قد مضت، هوذا الكل قد صار جديدًا&#8221; (٢كو ٥ : ١٧). لقد طرحنا عتق آدم الأول، واستبدلنا بها جدّة آدم الثاني الذي به ومعه لله الآب المجد والسلطان مع الروح القدس من الآن وإلى أبد الآبدين.</p>
<h4>القديس أمبروسيوس</h4>
<p>+ قبل أن يقيم ابن الله أعضاء الكنيسة بدأ عمله في خادمه يوحنا، لهذا أظهر القديس لوقا كلمة الله حالًا على يوحنا بن زكريا في البرية&#8230; تحقق هذا في البرية الموحشة، لأن بني المستوحشة أكثر من التي لها أولاد (إش ٥٤ : ١) ، وقد قيل لها: &#8220;افرحي أيتها العاقر التي لم تلد &#8221; (إش ٥٤ : ١)… إذ لم تكن بعد قد زرعت وسط الشعوب الغريبة&#8230; ولم يكن بعد قد جاء ذاك الذي قال:&#8221;أما أنا فمثل زيتونة مخصبة في بيت الله&#8221; (مز ٨٢ : ٥) ، ولم يكن قد وهب الكرام السماوي للأغصان ثمرًا (يو ١٥ : ١). إذن فقد رنّ الصوت لكي تنتج البرية ثمارًا</p>
<p>+ كانت الكلمة على يوحنا لينادي بالتوبة، من هنا كان يوحنا في نظر الكثيرين صورة للناموس الذي يكشف الخطية، لكنه يعجز عن غفرانها. من كان سائرًا في طريق الأمم يرده الناموس عن ضلاله، ويرجعه عن آثامه، ويدفعه إلى التوبة لنوال الغفران، إذ &#8220;كان الناموس والأنبياء إلى يوحنا&#8221; (لو ١٦ : ١٦). هكذا هيأ يوحنا طريق المسيح يسوع مبشرًا بالناموس، وذلك كما تعلن الكنيسة عن النعمة بالتوبة.</p>
<p>+ تنبأ بملبسه عن مجيء المسيح الذي حمل نجاسات أعمالنا النتنة (كمنطقة من جلد الحيوانات الميتة) وخطايا الأمم الحقيرة (كوبر الإبل)، طارحًا هذا اللباس الذي لأجسادنا على الصليب. وتشير المنطقة الجلدية إلى الجلد الذي كان ثقلًا على النفس لكنه تغير بمجيء المسيح&#8230; إذ شملنا قوة تلهبنا روحيًا فتمنطقنا بوصايا الله بروح ساهرة قوية وجسد مستعد متحرر. أما طعام يوحنا فحمل علامة على عمله وحوى سرًا&#8230; فصيد الجراد عمل باطل بلا نفع لا يصلح للطعام، والجراد ينتقل من موضع إلى آخر بصوت مزعج. هكذا كانت شعوب الأمم كالجراد، ليس لها عمل نافع، ولا نشاط مثمر، تتمتم أصواتًا بلا معنى ولا اتزان، وتجهل الحياة، صارت طعامًا للنبي، إذ تجمعت ونمت وازدادت في أفواه الأنبياء (خلال دخولهم إلى كنيسة العهد الجديد)&#8230; أما العسل البري فيصور لنا عذوبة الكنيسة التي جاءت من البرية، إذ لم تحصد أعمالها في حدود خلايا ناموس اليهود وإنما امتدت إلى الحقول ومواضع الغابة التي سبق فامتلأت بالظلال، كما هو مكتوب: &#8220;سمعنا به في أفراثه، ووجدناه في موضع الغابة&#8221; (مز ١٣٢ : ٦). كان يوحنا يأكل عسلًا بريًا إشارة إلى الشعوب التي تشبع من عسل الصخرة، كما هو مكتوب: &#8220;ومن الصخرة كنت أشبعك عسلًا&#8221; (مز ٨١ : ١٦).</p>
<p>+ الماء والروح لا يفترقان، إذ اختلفت معمودية التوبة عن معمودية النعمة التي تشمل العنصرين معًا، أما الأولى فتخص عنصرًا واحدًا. إن كان الجسد والنفس يشتركان معًا في الخطية، فالتطهير واجب للاثنين.</p>
<p>+ لم يقصد يوحنا بهذه المقارنة إثبات أن المسيح أعظم منه، فلا وجه للمقارنة بين ابن الله وإنسان. إذ يوجد أقوياء كثيرون، فإبليس قوي: &#8220;لا يستطيع أحد أن يدخل بيت القوي وينهب أمتعته إن لم يربط القوي أولًا&#8221;. (مر ٣ : ٢٧) ، لكن لا يوجد من هو أقوى من المسيح، دليل ذلك أن يوحنا لم يشأ أن يقارن نفسه بالمسيح بقوله: &#8220;لست مستحقًا أن أحل سيور حذائه&#8221;</p>
<p>+ اعتمد الرب ذاته&#8230; لم يعمد ليطهر، وإنما ليطهر الماء، فإذ نزل إليها المسيح الذي لم يعرف خطية صار لها سلطان على التطهير، بهذا كل من يدفن في جرن المسيح يترك فيه خطاياه.<a href="#_ftn2" name="_ftnref2">[2]</a></p>
<h4>سيرة مار مرقس بقلم الأنبا ساويرس أسقف نستروه</h4>
<p>افتح فاي بالأمثال (قال الروح القدس ) وأنطق بالاسرار التي سمعناها من البدء من الآباء الذين لم يخفوها عن الابناء الي دهر الداهرين-نطقوا بعجائب الرب وآياته ووضعوا رجاءهم في الرب ولم ينسوا وصاياه وأوامره التي سلمها لهم (مز ٧٨: ١-٨)</p>
<p>أحبائي-أبدأ الكلام بقوة الروح القدس لاخبركم شيئًا عن كرامة هذا القديس الجليل البتول، مرقس الانجيلي الرسول. فقد كان له من بريق عينيه اللامعتين ما محا سحب الضلالةوالغواية، ومن حسن بساطة النظر ما أضاء الجسد وأشعله وهجًا ونوراً، علي حد قول السيد المسيح له المجد في الانجيل المقدس(اذا كانت عينك بسيطة فجسدك كله يكون نيراً) و لاشك ان القديس العظيم والمصباح المنير مرقس الانجيلي هو نور وهاج منذ ولادته والي حين كماله، لايميل الي الظلام والخداع، ولا يرغب في الفساد والضلال، اذ كان طاهراً نقياً، بتولاً تقياً، عف اللسان، منطقي العقل كبير النفس، أعد روحه لسكني الروح القدس فشعت نفسه نوراً استضاءت به بلاد مصر وكانت موئل الأصنام والأوثان.</p>
<p>كانت مصر تعبد الأصنام وتميزت كل مدينة فيها بعبادة خاصة، إذ عبد الكلب(كينوا) في طيبه والاسد في (صهرجت)وعجل البقر في (منوف وابو صير) والثور النحاس في (سنهور) والثور الحجري في (اتربيب) والجميزة في (صنديد) والأسد الحجري في (بوبسطا) وصنم حجري في (الفرما))وصنم علي هيئة انسان في (نيقوس والاشمونين) واللبوة في (سخا) والماء الجاري في (طوه) والخنزير الحجري في (صا الحجر) وأسد من الحجر في ( دمنهور) وصنم يسمي كشرن في (تندا)( والبراجين) وشجرة اللبخ في (سنهور) والنخلة في (كلبوشا) وسراويس في ( الاسكندرية) وأوزيريس في (عين شمس)وأبيس في (منف) وأبولون في (اخميم) وسرابين في (انصنا) والكواكب في(القيس) وأوثان منوعة في (اصوان).</p>
<p>وبالجملة تعددت الأصنام وابتعد الأهلون عن معرفة الخالق جل اسمه.</p>
<p>ولكن سرعان ما ظهر الكوكب المنير القديس مرقس العظيم، حتي تبددت غشاوة الضلالة في مصر واستنارت به هذه البلاد وغيرها من بلاد العالم.فان الروح القدس يقول عن آبائنا الرسل الاطهار (في كل الارض خرج منطقهم والي أقصي المسكونة كلماتهم)</p>
<p>وذلكم انجيله المقدس الذي نطق به الروح القدس في الاثنين والسبعين كورة يتلي في جميع الكنائس وتستنير به الشعوب التي تؤمن بخضوع بالثالوث الاقدس الآب والابن والروح القدس.<a href="#_ftn3" name="_ftnref3">[3]</a></p>
<h4>عظة عن القديس مرقس الرسول ( موجودة بالمكتبة الأهلية بباريس لخصها تيتو أورلاندي )</h4>
<p>مقدمه : مرقس الرسول هو أول نور أضاء مصر ، حيث بدأ يكرز بالإنجيل. وقبله كانت مصر مظلمه بحسب اسمها ( كيميأي الأرض السوداء ). وكلام الإنجيل عن شعب الجالس في الظلمه الذي ابصر نوراً عظيما ينطبق علي مصر . ومرقسأضاء علينا بنور الله ، ليس بنور الشمس العالميه ، بل بنور شمس الطبائع الناطقه .</p>
<p>مدح رهبان مصر : في مصر كان آباء الرهبنة العظام مثل باخوميوس وبترونيوس وهورسيزي وتادرس ، وأيضا بيجول وأنبا بيشوي وأنبا شنودة وزنوبيوس</p>
<p>صبوة مرقس الرسول : كان مطيعا لأمه حسب الوصية ، إذ كان يتيما من جهه أبيه . وكانت أمه تربيه وتهيئه ليلتحق بعمه ( هكذا ) برنابا . وكان بولس وبرنابا مسافرين من أورشليم إلي أنطاكيه . وكانت أم مرقس تقول له : إن لم تهتم بالأمور الأرضية فلن تصير رجلاً . وأما هو فلم يشأ أن يكون كالعبد الذي دفن وزنه سيده ولذلك اختار أن يتبع بولس وبرنابا.</p>
<p>مشاجره بولس وبرنابا : وهي المشاجره التي حدثت بينهما بخصوص مرقس ، ويقصها كما وردت في سفر الأعمال . ويعلق عليها قائلا : إنهما ما كانا يتشاجران لأجل مجد العالم الزائل ، بل لأجل أمرين صالحين ، فيرنابا كان يجاهد من اجل مبدأ مسامحه الخطاه ، بينما بولس كان يجاهد من اجل الكمال . وبولس كان يجاهد ضد تواني الصالحين ، بينما برنابا كان يجاهد من اجل قيام الساقطين . ويمكن للسامعين أن يتعجبوا كيف ان الروح القدس مع انه واحد في الاثنين ، لكنه لم يراجع خطأ أحد الرسولين . أحدهما كان يشجع التأديب والتوبه ، والاخر السماحه والتعقل . التأديب خلص أناساً كثرين ، ولكنه كان عله في هلاك كثيرين آخرين . فكثير من الخطاه فكروا في التوبه ، ولكنهم انتهوا الي هلاك أبدي . الله الواحد كان مع الرسولين ، ولكنه كأن لينا في برنابا ، واكثر  صرامه في بولس .</p>
<p>إن العصاره التي تنمي الأشجار تقسي خشب اللوز ، بينما تجعل خشب الزيتونه ليناً . فالروح كان أكثر صرامه في بولس ، وأكثر  ليونه في برنابا . فبحسب كلام الرب ، الروح يشبه الماء ، والقديسون أغصان مثمره ترتوي بهذا الماء . برنابا كثمره التين ، حلوه ولينه من الداخل والخارج ، وبولس كان كالرمانه شديده من الخارج ولكنها مملوءة حبوبا حلوه وشهيه . ربما يقول السامعون إن برنابا سامح مرقس لأنه قريبه ، ولكن يجب ألا ندين هذا الرسول فإنه كان متسامحا مع الجميع كما يظهر من بقيه سيرته .</p>
<p>مرقس وبولس : بولس سمع بصلاح مرقس ، ففرح من اجله وطيب روحه . وكتب بولس للكنائس أن يقبلوا مرقس . ويجب أن نعجب كيف أن بولس يقبل ذاك الذي رفضه في البدايه وكيف جعله رفيقا له في أسفاره .</p>
<p>مرقس في الاسكندرية:&#8230;&#8230;(جزء ضائع)&#8230;&#8230;فقال مرقس له ( لإنيانوس):  ما دمت بشرت برسالتي ، فإنك تكون لي تلميذا ورسولا معي ، علي الرغم من أنك فقير ، فإن الله يختار الفقراء . مرقس الرسول يرشم جرح يد إنيانوس باسم الثالوث، ويشفيه &#8230;.</p>
<p>وصايا أخلاقيه : إن السكر والنجاسه توقع الإنسان في الظلام . يجب ان نحرص لئلا بتهاوننا نطفيء النور الذي أحضره لنا مرقس . يجب علي المؤمنين الذين انتقلوا من الموت إلي الحياه أن لا يرفضوا مجد الله الذي احضره لهم مرقس الرسول ، ويعودوا إلي الظلام . يجب علي المؤمنين أن يقتربوا من مارمرقس ويصيروا نوراً..<a href="#_ftn4" name="_ftnref4">[4]</a></p>
<h3>عظات آباء وخدام معاصرين</h3>
<h4>قداسة البابا تواضروس الثاني</h4>
<p>مرقس الرسول</p>
<p>كرسى مارمرقس أحد أربعة كراسى رسولية وهى : أورشليم / أنطاكية / الاسكندرية / روما .</p>
<p>مارمرقس الرسول :</p>
<p>+ أحد السبعين رسول .</p>
<p>+ أحد الأنجيليين الأربعة .</p>
<p>+ أفريقى المولد / عاش بأورشليم .          + ناظر الاله / رمزه الأسد .</p>
<p>خدمته :</p>
<p>بشر فى بنتابوليس ( القيروان ) موطنة ، ثم سافر عبر الواحات بصحراء ليبيا ثم الى صعيد مصر ثم الاسكندرية . دخل الاسكندرية عام ٦١م واستشهد عام ٦٨م ورأسه بالاسكندرية وجسده بالقاهرة .</p>
<p>أهم أعمالة :</p>
<p>١- الكرازة .</p>
<p>٢- تأسيس مدرسة الاسكندرية .</p>
<p>٣- القداس الالهى .                                      ٤-  انجيل مار مرقس الرسول .</p>
<p>فى شهر يوليو نحتفل بتذكار قديسين وقديسات من كل نوع فى كنيستنا :</p>
<p>١- ففى أول الشهر نحتفل بالأنبا موسى الأسود .</p>
<p></p>
<p>٢- وفى منتصف الشهر نحتفل بأنبا بيشوى .</p>
<p>٣- وفى آخر الشهر نحتفل بالقديس أبانوب .</p>
<p>ومكتوب &#8221; ها أنا أرسل ملاكى الذى يهيىء طريقك قدامك &#8221; (عدد٣) .</p>
<p>لقد هيىء هؤلاء القديسين الطريق أمامنا :</p>
<p>+ طريق التوبة .</p>
<p>+ طريق النسك .</p>
<p>+ طريق الشهادة .</p>
<p>كل جيل يهيىء الطريق للجيل الذى يليه &#8230;&#8230;..كل أب وأم أمام أطفالهم &#8230;&#8230;&#8230;&#8230;..</p>
<p>كنيستنا جديدة لكنها قديمة جدا</p>
<p>كنيستنا : أسسها السيد المسيح فى طفولته عندما زار مصر .</p>
<p>سمات كنيستنا هى :</p>
<p>١- أسسها : مارمرقس الرسول .</p>
<p>٢- تقليدية : تحفظ وديعة الايمان .</p>
<p>٣- جديدة : بمسيحها الحى الذى لا يشيخ .</p>
<p>٤- أرثوذكسية : الايمان المستقيم ، والطريقة لتمجيد الله .</p>
<p>التجديد فى كنيستنا :</p>
<p>+ على المستوى الفردى : قلبا نقيا اخلق فى يا الله وروحاً مستقيما جدده فى أحشائى (التوبة).</p>
<p>+  على المستوى الجماعى : &#8221; جدد أيامنا كالقديم &#8221; (مر٥: ٢١) .</p>
<p>مثال : تجديد الحياة والفكر بالارتباط بالقديسين والآباء . والاستفادة من خبراتهم الروحية .<a href="#_ftn5" name="_ftnref5">[5]</a></p>
<h4>المتنيح الأنبا يؤانس أسقف الغربية</h4>
<p>القديس مارمرقس</p>
<p>هو يوحنا الملقب مرقس الذي تردد اسمه كثيراً في سفر الأعمال والرسائل … كان يهودياً من سبط لاوي … مستوطناً في مدينة كيرين cyrene إحدي الخمس مدن الغربية ، لكن عائلته نزحت إلي فلسطين وطنها الأصلي ، وسكنت بأورشليم .</p>
<p>نشأ في أسرة متدينة ، كانت من أقدم الأسرات إيماناً بالمسيحية وخدمة لها … فأمه مريم كانت إحدي المريمات اللائي تبعن المسيح ، كما كان لكثير من أفراد الأسرة صلة بالسيد المسيح ، كان مرقس يمت بصلة القرابة للرسل بطرس وبرنابا وروما … أما هو فقد رأي السيد المسيح وجالسه وعاش معه ، بل إنه كان من ضمن السبعين رسولاً ، ولذا لقبته الكنيسة &#8221; ناظر الإله &#8221; .</p>
<p>كان بيت مرقس من البيوت الشهيرة في تاريخ المسيحية المبكر … فيه صنع رب المجد الفصح الأخير وغسل أرجل تلاميذه ، وكان هو العلية التي يجتمع فيها التلاميذ بعد القيامة ، والتي شهدت حلول الروح القدس … وعلي هذا ، فقد كان بيت مرقس هو أول كنيسة مسيحية في العالم ، إجتمع فيها المسيحيون في زمان الرسل (أع ١٢: ١٢) ويذكر التقليد أن مرقس هو الشاب الذي قيل عنه إنه تبع المخلص وكان لابساً أزاراً علي عريه فأمسكه الشبان ، فترك الأزار وهرب منهم عرياناً (مر ١٤: ٥١- ٥٢) هذه القصة التي لم ترد في إنجيل أخر سوي إنجيل مرقس ، مما يدل علي أنها وقعت معه …</p>
<p>أمًا عن جهوده الكرازية ، فيسجل لنا سفر أعمال الرسل ، أنه صحب بولس وبرنابا في رحلتهما التبشيري الأولي ، وتنقل من أنطاكية إلي قبرص ثم إلي آسيا الصغري … لكنه فارقهما عند برجة بمفيلية (أع ١٣: ١٣) ، وعاد إلي أورشليم ، ولم يكمل معهما الرحلة … لكنه عاد بعدها وتعاون مع بولس في تأسيس بعض كنائس أوربا ، وفي مقدمتها كنيسة روما … ويبدو أنه كرز في بعض جهات آسيا … وكرز في أفريقيا وهي حقل كرازته الأساسية ، حيث بشر في الخمس مدن الغربية بليبيا الحالية ، وفي الاسكندرية والأقاليم المصرية … دخل القديس مرقس مدينة الاسكندرية - علي الأرجح حوالي سنة ٦٠- من الجهة الغربية قادماً من الخمس مدن ، وكان حذاؤه قد تمزق من كثرة السير ، فقصد إسكافي يدعي إينيانوس ليصلحه له ، وبينما كان إينيانوس يقوم بهذه المهمة - إذ بالمخراز يجرح يده ، فيصرخ ويقول :[أيها الإله الواحد ] تفل مارمرقس علي الأرض وصنع طيناً ووضعه علي الجرح ، فشفيت يده في الحال ، ثم دار حديث بينهما حول هذا الإله الواحد الذي إستغاث به إينيانوس ومن هذا المدخل ، أخذ مار مرقس يشرح له سر التجسد ، فآمن واعتمد … وانتهي أمر إينيانوس برسامته أسقفاً ومعه ثلاثة قسوس وسبعة شمامسة .</p>
<p>ترك مارمرقس مصر إلي الخمس مدن الغربية ، وسافر منها إلي روما ، حيث كانت له جهود تذكر في أعمال الكرازة عاون بها الرسول بولس ، لكنه ما لبث أن عاد إلي مصر ليتابع العمل العظيم الذي بدأه …</p>
<p>وحدث بينما كان الرسول يحتفل برفع القرابين المقدسة يوم عيد الفصح - واتفق ذلك اليوم مع عيد الإله الوثني سيرابيس - أن هجم الدهماء علي الكنيسة التي كان المؤمنون قد أنشأوها عند البحر ، في المكان المعروف بوكاليا- أي دار البقر ، وألقوا القبض علي مارمرقس ، وبدأوا يسحلونه في طرقات المدينة وهم يصيحون [ جروا التنين في دار البقر ] ، ومازالوا علي هذا النحو حتي تناثر لحمه وسالت دماؤه … وفي المساء وضعوه في سجن مظلم ، وفي منتصف تلك الليلة ظهر له السيد المسيح ، وقواه ووعده بإكليل الجهاد … وفِي اليوم التالي أعاد الوثنيون الكرة ، حتي فاضت روحه ، وأسلمها بيد الرب في آخر شهر برمودة سنة ٦٨ م . وإمعاناً في التنكيل بجسد القديس ، أضرم الوثنيون ناراً عظيمة ووضعوه عليها بقصد حرقه ، لكن أمطاراً غزيرة هطلت فأطفأت النار… أخذ المؤمنون الجسد بإكرام جزيل وكفنوه … وقد سرق بعض التجار البنادقة هذا الجسد سنة ٨٢٧ م . بنوا عليه كنيسة في مدينتهم ، أما الرأس فماتزال بالإسكندرية وبنيت عليها الكنيسة المرقسية .</p>
<p>والقديس مرقس هو كاتب الإنجيل الذي يحمل اسمه … وهو واضع القُدَّاس المعروف حالياً باسم القُدَّاس الكيرلسي نسبة للقديس كيرلس عمود الدين البطريرك الاسكندري الرابع والعشرين ، لأنه كان هو أول مَنْ دون كتابه ، وأضاف إليه بعض صلوات …</p>
<p>وللقديس مرقس الرسول الفضل في إنشاء المدرسة اللاهوتية بالاسكندرية تلك المدرسة التي ذاع صيتها في العالم المسيحي كله شرقاً وغرباً وأسدت للمسيحية خدمات جليلة بفضل علمائها وفلاسفتها الذين خرجتهم ، وحسب كاروزنا مارمرقس شهادة القديس بولس له … ففي الرسالة إلي فليمون يذكره في مقدمة العاملين معه (فل ٢٤) . وفي الرسالة إلي كولوسي يذكره بين القلائل العاملين معه بملكوت الله - بينما كان هو أسيراً مدة أسره الأول في روما … وفي أسره الثاني - بينما كان يستعد لخلع مسكنه - كتب إلي تيموثاوس يطلب إليه إرسال مرقس لأنه نافع له للخدمة (٢تي ٤: ١١) .<a href="#_ftn6" name="_ftnref6">[6]</a></p>
<h4>مار مرقس الرسول العظيم للمتنيح الأستاذ أمير نصر</h4>
<p>القديس مارمرقس ، ناظر الإله الإنجيلي ، تلميذ المسيح ، الرسول الطاهر والشهيد ، كاروز مصر ومدبرها الأول ، الكارز الذي بلغت أقواله إلى أقطار المسكونة وتباركت به كل أقطار الأرض.</p>
<p></p>
<p>هذا الرسول العظيم الذي أرسله رب المجد يسوع المسيح لكي ينير العالم ببشارة الملكوت، ويخرج البشر من الظلمة إلى النور..</p>
<p>هذا الرسول العظيم الذي ننتمي إليه، ونرتبط به، لأننا ولدنا في المسيح يسوع بواسطته، وإليه يعدو إيماننا الأقدس، مقول القديس بولس الرسول &#8220;أنا ولدتكم في المسيح يسوع بالإنجيل&#8221; (١كو ٤ : ١٥)</p>
<p>العظيم مارمرقس الرسول، كانت له شخصيته المتميزة، وثقافته العالية، وفكره الصائب، ورؤيته الثاقبة، انعكست على كرازته وخدمته في كل مكان ذهب إليه ليبشر بكلمة الخلاص.</p>
<p>ولد أبانا القديس مار مرقس في القيروان، وهي إحدى الخمس المدن الغربية ليبيا والتي تسمى بنتابوليس .. وقد أجرت أسرته إلى فلسطين، واستقرت هناك، وهو نفس الوقت الذي كان فيه السيد المسيح.</p>
<p>كانت مريم أم القديس مار مرقس ، هي إحدى المريمات اللائي تبعن رب المجد يسوع المسيح ، وهي أيضًا إحدى اللائي ذهبن إلى القبر بعد موت الرب ودفنه..</p>
<p>أما أبوه فهو أرسطوبولس وكان ابن عم أو ابن عمه زوجة القديس بطرس الرسول. وكان القديس برنابا الرسول هو خال أو إبن عم القديس مرقس.</p>
<p>رسولية مار مرقس</p>
<p>ارتبط القديس مار مرقس بالسيد المسيح له المجد ، وانضم إليه. وتبعه مثل التلاميذ الأطهار القديسين ، وقد أرسله رب المجد ضمن السبعين رسولاً ، الذين عينهم وأرسلهم أمام وجهه إلى كل مدينة وموضع.. (لو ١٠ : ١ - ١٢) ، وقد ذكر هذه الحقيقة كل المؤرخين منذ أقدم العصور من الأقباط والكنائس الأخرى والمسلمين أيضًا. وكنيستنا تؤكد وتثبت لقب القديس مار مرقس كرسول في كل طقوسها وألحانها الكنسية. وهذا عكس ما ينكره الكاثوليك عليه، فتجرد من كرامته الرسولية. بل ينسبون كل تعبه في الكرازة إلي القديس بطرس الرسول !!</p>
<p>بيت مار مرقس</p>
<p>وأيضا ارتبط بيت القديس مارمرقس الرسول بالسيد المسيح له المجد. ففي هذا البيت كانت مريم والدة مرقس تستضيف الرب وتلاميذه. وفيه كانت أحداث ليلة القبض على مخلصنا الصالح حيث:</p>
<p>- أكل الفصح مع تلاميذه الأطهار (مت ٢٦ : ١٧ - ٢٠ ، مر ١٤ : ٣ - ١٥ ، لو ٢٢ : ١٠ - ٢٠).</p>
<p>- غسل أرجل التلاميذ (يو ١٣ : ٤ - ١١).</p>
<p>- أسس سر الافخارستيا. عندما أخذ الرب إلهنا خبزًا وبارك وكسر وأعطى التلاميذ قائلًا خذوا كلوا هذا هو جسدي. وكذلك الكأس قائلًا خذوا اشربوا منه كلكم لأن هذا هو دمى الذي للعهد الجديد..</p>
<p>(مت 26: 26-29، مرقس 14: 22-25، لو 22: 16-20).</p>
<p>ولأن بيت القديس مارمرقس كان مركزًا للرب وجميع التلاميذ ، وكان معروفًا لديهم نجد في هذا البيت:</p>
<p>- يختفي التلاميذ بعد صلب وموت السيد المسيح وقبيل قيامته المقدسة. ولحين جاءت إليهم مريم المجدلية لتخبرهم أنها وجدت القبر فارغًا وأنهم أخذوا السيد (يو ٢٠ : ١ - ١٠) ومرة أخرى بقيامة السيد المسيح وأنها رأته (مت ٢٨ : ٦ - ١٠ ، مر ١٦ : ٦ ،٧ ، لو ٢٤ : ٩ - ١٢).</p>
<p>- مكث التلاميذ بعد صعود رب المجد إلى السماء، وكانوا يواظبون بنفس واحدة على الصلاة والطلبة مع النساء ومريم أم يسوع ومع إخوته، وذلك في علية صهيون التي هي إحدى قاعات البيت.. (أع ١ : ١٢ - ١٤).</p>
<p>- اختيار الروح القدس القديس متياس الرسول بدلًا من يهوذا الإسخريوطي. عندما ألقى التلاميذ قرعة بين يوسف ومتياس (أع ١ : ١٥ - ٢٦).</p>
<p>في يوم الخمسين المقدس حل الروح القدس على التلاميذ الأطهار وتكلموا بألسنة لتبدأ الكرازة والخدمة في الكنيسة منذ هذا اليوم العظيم (أع ٢ : ١ - ٤).</p>
<p>- جاء القديس بطرس الرسول بعد أن خرج من السجن بواسطة ملاك الرب، حيث كان التلاميذ والمؤمنون يجتمعون للصلاة من أجله&#8221;.. ثم جاء وهو منتبه إلى بيت مريم أم يوحنا الملقب مرقس حيث كثيرون مجتمعين وهم يصلون..&#8221; ( أع ١٢ : ١٢ - ١٦).</p>
<p>وهكذا</p>
<p></p>
<p>صار بيت القديس مارمرقس أول كنيسة في العالم، كما ذكرنا أيضًا هنا في موقع الأنبا تكلا هيمانوت في أقسام أخرى. وصار مركز كنيسة أورشليم، ومركز أسقفها القديس يعقوب البار، الذي صلى القداس الإلهي الأول فيه، وذلك في يوم الأربعاء التالي ليوم أحد العنصرة.</p>
<p>إنجيل مارمرقس</p>
<p>عاش القديس مارمرقس الرسول مع رب المجد يسوع المسيح، سار معه في كل مكان، وإلى كل موضع، وعاين خدمة الرب، ونظر أعماله ومعجزاته، وكان شاهدًا لآلام السيد المسيح. ويذكر أنه.</p>
<p>- كان من التلاميذ الذين استقوا من الماء المتحول خمرًا في الرس بقانا الجليل.</p>
<p>- وإنه الرجل الذي كان يحمل جرة الماء وتبعه تلميذا الرب إلى بيته لإعداد الفصح (مر ١٤ : ١٣).</p>
<p>- كان الشاب الذي تبع الرب في بستان جثسيماني، وهرب عريانًا تاركًا ملابسه عندما قبضوا على رب المجد..&#8221;وتبعه شاب لابسًا إزارًا على عريه فأمسكه الشبان، فترك الإزار وهرب منهم عاريًا&#8221;. (مر ١٤ : ٥٠ - ٥٢).</p>
<p>ومن ثم كتب القديس مارمرقس إنجيله بوحي من الروح القدس. وبكل ما لديه من أخبار وأحداث عن حياة السيد المسيح، لأنه لمسها وشاهدها وعاينها بنفسه، لأنه كان معاشًا لها ويتتبعها بكل تدقيق وتفاصيل.. ويذكر أن إنجيل القديس مارمرقس هو أول وأقدم الأناجيل. وقد كتب ما بين سنتيّ ٤٣ ، ٦٧ م باللغة اليونانية التي كانت سائدة وقتذاك. وهو يعتبر بذلك أول وثيقة تاريخية للتقليد المسيحي لحياة السيد المسيح على الأرض..</p>
<p>ولذلك من الغريب والظلم أن ينسب إنجيل مارمرقس إلى القديس بطرس الرسول باعتباره &#8220;مذكرات بطرس&#8221; واعتبار إن القديس مارمرقس كان سكرتيرًا ومترجمًا الذي أملاه ما يكتب!</p>
<p>قداس مارمرقس</p>
<p>يعتبر أول قداس في حياة الكنيسة هو الذي أقامه رب المجد في علية صهيون ببيت مارمرقس الرسول في مساء الخميس الكبير، وهو يعتبر أساس جميع القداسات أو الليتورجيات التي كتبت بعد ذلك.</p>
<p>لذلك كتب القديس مارمرقس الرسول القداس الإلهي منذ الوقت المبكر للكرازة والخدمة بعد حلول الروح القدس في يوم الخمسين. وهو نفس التوقيت الذي كتب فيه القديس يعقوب الرسول أسقف أورشليم الليتورجية التي صلى بها لأول مرة وقداس القديس مارمرقس يعتبر أساس القداسات التي تصلى بها كنيستنا القبطية حتى اليوم. ومن المعروف أن القديس البابا كيرلس الكبير 24 (412-444) قد أضاف عليه بعض الصلوات ثم نسب إليه ويعرف باسم &#8220;القداس الكيرلسي&#8221; وقد اكتشفت في عام ١٩٢٨ قصاصات بردية في إستراسبورج ترجع إلى القرنين 4و5 مكتوب عليها قداس القديس مارمرقس. كما توجد مخطوطات في الفاتيكان لهذا القداس.</p>
<p>مدرسة الإسكندرية اللاهوتية</p>
<p>في بادرة رائدة تدل على شخصيته المتميزة قام العظيم القديس مارمرقس الرسول -والوحيد عن جميع التلاميذ والرسل الآخرين- بتأسيس مدرسة الإسكندرية اللاهوتية (الكلية الإكليريكية) لتكون أول معهد لاهوتي في تاريخ المسيحية وذلك من أجل شرح الإيمان المسيحي وتثبيته وتعميقه، وأيضا لتواجه الفكر الوثني والفلسفات المختلفة ومشكلات العصر..</p>
<p>ومن ثم نرى أن الدور الذي قامت به مدرسة الإسكندرية كان له الأثر المباشر في تكوين وصياغة الفكر اللاهوتي السليم، وفي تأكيد وتأصيل التعليم الكنسي بكل مفرداته الكتابية والآبائية والطقسية والتاريخية وأيضًا في تحديد معالم الثقافة القبطية، كما ذكرنا أيضًا هنا في موقع الأنبا تكلا هيمانوت في أقسام أخرى.. لهذا أكد المؤرخون والعلماء أن مدرسة الإسكندرية صارت &#8220;عقل المسيحية&#8221;، واعتبروها أقدم مركز للعلوم القدسية في تاريخ الكنيسة. ومن يتتبع مسيرة مدرسة الإسكندرية يجد:</p>
<p>- أن التعليم صار سمة كنسية الإسكندرية عبر كل العصور. وغدت مرجعية لكنائس العالم شرقًا وغربًا. حتى أن بابا الإسكندرية لقب ب&#8221;معلم المسكونة&#8221;.</p>
<p>- أن كنيسة الإسكندرية هي التي واجهت الهرطقات والتعاليم المنحرفة، وخاصة التي نادى بها كل من أريوس ومقدونيوس ونسطور وأوطاخي .. وذلك بسبب قوة الإيمان والتعليم للآباء البطاركة الذين جلسوا على كرسي القديس مارمرقس. فهم من مديري وأساتذة وتلاميذ هذه المدرسة اللاهوتية.</p>
<p></p>
<p>- أن آباء وأساتذة وعلماء هذه المدرسة قد أسهموا وأثروا الكنيسة بأعمالهم وإنجازاتهم مثل: بنتينوس، أكلمنضس الإسكندري، أثيناغوراس، العلامة أوريجانوس. ديديموس الضرير، وغيرهم..</p>
<p>- أن هناك الكثيرين من آباء الكنيسة في العالم قد جاءوا للتلمذة والتعلم في هذه المدرسة، أو منهم من تتلمذ على كتابات وفكر معلميها مثل باسيليوس الكبير، غريغوريوس الناطق بالإلهيات، يوحنا ذهبي الفم، وغيرهم..</p>
<p>واليوم ونحن نرى قداسة البابا شنودة الثالث خليفة القديس مارمرقس الرسول عندما يؤسس الكليات الإكليريكية والمعاهد الدينية في مصر، في أمريكا. في أوروبا، في استراليا. وإنما هو امتداد لعمل العظيم مارمرقس الرائد. وهو أيضًا صوت هذا الرسول والكارز المسكوني الذي بلغت أقواله إلى أقطار المسكونة كلها.</p>
<p>مار مرقس الكارز المسكوني</p>
<p>كانت كرازة القديس العظيم مارمرقس الرسول في كل العالم أجمع، وبه تباركت كل قبائل الأرض ، وإلى كل أقطار المسكونة قد بلغت أقواله.. لقد أنار هذا الكاروز المسكوني العالم بإنجيله المقدس ن وعلم الخليقة كلها الآب والابن والروح القدس.. وفى كل مكان وكل موضع ذهب إليه هذا الرسول الكارز المسكوني مارمرقس، كان يضئ نور المسيح الإله، ويفتح طريق ملكوت السموات أمام الجميع.. في كل موقع وبقعة وطأت عليها قدما الرسول المسكوني مارمرقس كان يبدد الأوثان، ويسقط الأصنام، ويقيم مذبحًا للرب القدوس.</p>
<p>من ينظر إلى كرازة القديس مارمرقس الرسول ويتطلع إلى عمله في كل العالم، يدرك تمامًا مدى عظمة دوره الكبير كأحد السبعين رسولًا الذين أرسلهم الرب إلهنا إلى كل أقصى الأرض. ويدرك أيضًا مدى عظمة شخصيته التي يقودها الروح القدس، ويرشده في كل شيء. وأنه ليس سكرتيرًا أو مندوبًا أو موفدًا أو مرسلًا من قبل القديس بطرس كما يدعى البعض.</p>
<p>إن القديس مارمرقس الرسول كان يكرز باسم المسيح الفادي والمخلص في أسيا وأوروبا وإفريقيا. كان يكرز في وسط اليهود ، وفي وسط الأمم، كان يكرز مع التلاميذ والرسل ، وكان يكرز بمفرده، كان مارمرقس كارزًا مسكونيًا بلا جدال.. فنجده:</p>
<p>- كان يكرز مع القديس بطرس في اليهودية ، وأورشليم وبيت عنيا، بحكم صلة النسب التي بينهما.</p>
<p>- كان يكرز مع القديسين بولس وبرنابا في رحلتهما الأولى حيث ذهبوا إلى أنطاكية وسلوكية وبافوس وبرجة بمفيلية (أع ١١ : ٢٧ - ٣٠ ، أع ١٣ : ٤).</p>
<p>- عاد إلى أورشليم بعد أن فارق القديس بولس وبرنابا (أع ١٣ : ١٣) ، وبعد حضوره مجمع أورشليم عاد مرة أخرى إلى أنطاكية مع القديس برنابا الرسول (أع ١٥ : ٣٧).</p>
<p>- كان يكرز مع القديس برنابا الرسول في قبرص، وسرميس (أع ١٣ : ٤٤ ، أع ٥ : ١٥ ، ٣٩).</p>
<p>- كان يكرز في كولوسى بآسيا الصغرى، كما ذكر القديس بولس الرسول في رسالته إلى أهلها (كو ٤ : ١٠).</p>
<p>- أيضًا كرز في البندقية وأكويلا بإيطاليا.</p>
<p>- كرز في الخمس مدن الغربية بليبيا حيث مسقط رأسه قبل حضوره إلى مصر. وقد صارت هذه المدن تابعة لكرسى الإسكندرية منذ ذلك الوقت، وأكد على ذلك مجمع نيقية ٣٢٥.</p>
<p>مارمرقس وكرسي الإسكندرية</p>
<p>جاء القديس العظيم مارمرقس الرسول إلى مصر لكي يبشرها بكلمة الخلاص، وينادى باسم الرب يسوع المسيح الفادي والمخلص..</p>
<p>جاء إلى الإسكندرية نحو عام ٦١ م. قادمًا من الخمس مدن الغربية بإرشاد الروح القدس وقيادته له. يقول ساويرس بن المقفع أسقف الشمونين:&#8221;.. لذلك ظهر له الروح القدس وقال له قم أمض إلى مدينة الإسكندرية لتزرع فيها الزرع الجيد الذي هو كلام الله. فقام تلميذ المسيح ونهض وتقوى بالروح القدس كمثل مقاتل في الحرب، وسلم على الأخوة وودعهم وقال لهم: السيد المسيح يسهل طريقي لأمضى إلى الإسكندرية. وابشر فيها بإنجيله المقدس. ثم عاد وقال: يا رب ثبت الأخوة الذين قد عرفوا اسمك المقدس. وأعود إليهم فرحًا بهم.. فشيعه الأخوة وتوجه إلى مدينة الإسكندرية..&#8221;.</p>
<p>وفى الإسكندرية</p>
<p>- تقابل القديس مارمرقس مع حنانيا الإسكافي، وتحدث معه عن الإله الواحد يسوع المسيح، فآمن هو وكل أهل بيته. وعمدهم باسم الآب والابن والروح القدس. فصار بيت الإسكافي البسيط هو باكورة المؤمنين في أرض مصر.</p>
<p>- اتخذ القديس مارمرقس هذا البيت مركزًا لكرازته وتبشيره وخدمته فاجتمع إليه الكثيرون. وآمنوا بالرب يسوع المسيح.</p>
<p>- كان القديس مارمرقس يجول ويطوف مدينة الإسكندرية متحديًا كل الصعاب والمقاومات. فزاد عدد المؤمنين كثيرًا، وذاع صيتهم في كل مكان.</p>
<p>- أسس القديس مارمرقس مدرسة الإسكندرية اللاهوتية وعين لها القديس يسطس مديرًا.</p>
<p>- أسس القديس مارمرقس كرسي الإسكندرية عندما قام بسيامة حنانيا أسقفًا باسم &#8220;الأنبا أنيانوس&#8221;، ومعه ثلاثة كهنة وسبعة شمامسة، ورتب كاروز مصر ومديرها الأول الخدمة في كنيسة الإسكندرية، قبل أن يغادرها إلى الخمس مدن الغربية، بناء على طلب المؤمنين بسبب عزم الوثنيين التخلص منه وقتله.</p>
<p>- عاد القديس مرة أخرى إلى مصر عام ٦٨ م.، فوجد ازدهار الكنيسة ونموها. وقد تم بناء كنيسة في شرق الإسكندرية وهي كنيسة بوكاليا.. وقام بافتقاد رعيته وزيارة البلاد المصرية يثبت الإيمان وينشر التعاليم المسيحية السامية، مما هز أركان الوثنية فلقب ب&#8221;مبدد الوثنية&#8221;..</p>
<p>- وفي يوم ٢٩ برمودة وفي ليلة عيد القيامة المجيد، هجم الوثنيون على الكنيسة وقبضوا على القديس مارمرقس الرسول وربطوه بحبل طويل وجروه في الشوارع بكل قسوة حتى تمزق جسده، وتخضبت الأرض بدمه الطاهر..</p>
<p>أودعوه في السجن حيث ظهر له رب المجد يسوع المسيح قائلًا: &#8220;يا مرقس يا تلميذي الإنجيلي، ليكن السلام لك &#8221; فصرخ القديس قائلًا: &#8220;يا سيدي يسوع&#8221;.</p>
<p>وفى صباح يوم ٣٠ برموده ربطوه بحبل من عنقه وسحلوه مرة أخرى في شوارع الإسكندرية، وما لبث أن انفصلت رأسه عن جسده وانطلقت روحه الطاهرة إلى الفردوس لينال ثلاثة أكاليل نورانية: أكليل الرسولية، وإكليل البشارة وإكليل الشهادة..</p>
<p>- أخذ المؤمنون جسد القديس مارمرقس الطاهر ورأسه لي كنيسة بوكاليا ووضعوه في تابوت وصلى عليه خليفته الأنبا أنيانوس وتبارك منه الجميع، ثم دفنوه في قبر نحتوه خصيصًا له، كما ذكرنا أيضًا هنا في موقع الأنبا تكلا هيمانوت في أقسام أخرى. وسميت الكنيسة باسمه، فكانت أول كنيسة في مصر تحمل اسم قديسنا العظيم مارمرقس الرسول.</p>
<p>مارمرقس وكرسي روما</p>
<p>كانت روما هي عاصمة الإمبراطورية الرومانية، وهي المدينة الأولى في العالم القديم. وقد بشر فيها القديس بولس الرسول وكتب إليها رسالته (راجع: رو ١ : ٥ ، ١٣ ، غل ٢ : ٧ - ٩ ، أع ٩ : ١٥ ، أع ٢٢ : ١٨ ، ٢١ رو ١٥ : ٢٠ ، أع ١٨ : ٣٠ ، ٣١). ومنها كتب رسائله إلى أهل أفسس، وأهل فيلبى، وأهل كولوسي، والى فيلمون (راجع نهاية هذه الرسائل).</p>
<p>ولذلك يعتبر القديس بولس الرسول هو المؤسس الحقيقي لكرسي روما، وإن كانت الكنيسة الكاثوليكية تنكر عليه ذلك، وتعتبر القديس بطرس الرسول هو أول من ذهب إليها وأسس كنيستها. فهذا يعتبر منافيًا للحق وللتاريخ. لأن القديس بطرس ذهب إلى روما متأخرًا وفيها استشهد عام ٦٧ م. بينما القديس بولس الرسول أقام فيها وعين الأساقفة الأولين للكنيسة هناك وهم لينوس، ثم انيكليتوس، وأيضًا القديس اكلمنضس الروماني أحد الآباء الرسوليين.</p>
<p>أما قديسنا العظيم مارمرقس الرسول، فقد كان يعمل مع القديس بولس الرسول في روما، يكرز ويبشر ويخدم هناك وتبين هذا من:</p>
<p>- رسالة القديس بولس الرسول إلى أهل كولوسي إذ يقول: &#8220;يسلم عليكم ارسترخس المأسور معي، ومرقس ابن أخت برنابا الذي أخذتم لأجله وصايا، إن أتى إليكم فاقبلوه، ويسوع المدعو يسطس، الذي هم من الختان. هؤلاء هم وحدهم العاملون معي لملكوت الله..&#8221; (كو ٤ : ١٠ ، ١١).</p>
<p>- رسالة القديس بولس الرسول إلى فليمون يقول فيها: &#8220;يسلم عليكم أبفراس المأسور معي في المسيح يسوع، ومرقس وارسترخس وديماس ولوقا العاملون معي&#8221; (فل ٢٤).</p>
<p>- رسالة القديس بولس الرسول إلى تلميذه تيموثاؤس، حيث يطالبه بحضور القديس مرقس إليه في روما لاحتياجه له في الخدمة فيقول له: &#8220;لوقا وحجه معي. خذ مرقس وأحضره معك، لأنه نافع لي للخدمة&#8221; (٢تي ٤ : ١١).</p>
<p>من هذا نتبيَّن وكما يذكر التاريخ أن أبينا القديس مارمرقس قد ذهب إلى روما وخدم هناك. بل أنه ظل إلى جانب القديس بولس الرسول، ولم يتركه إلا بعد استشهاده في عام ٦٧م. فترك روما وعاد إلى الإسكندرية.</p>
<p>من ناحية أخرى يذكر ساويرس بن المقفع أن القديس مارمرقس الرسول عندما ذهب أولًا للخمس مدن الغربية ثم إلى الإسكندرية كان موجود قبل ذلك في روما.. فيقول: &#8220;.. فلما عاد القديس مرقس من رومية قصد إلى الخمس مدن أولًا وبشر في جميع أعمالها بكلام الله، وأظهر عجائب كثيرة حتى أنه أبرأ المرضى وطهر البرص وأخرج الشياطين بنعمة الله الحالة فيه وآمن كثيرون بالسيد المسيح من أجله وكسروا أوثانهم التي كانوا يعبدونها..</p>
<p>وعمدوهم باسم الآب والابن والروح القدس الإله الواحد.. ولذلك ظهر له الروح القدس وقال له قم أمضى إلى مدينة الإسكندرية..&#8221;.</p>
<p>وهكذا نرى أن القديس العظيم مارمرقس الرسول قد أسس كرسي الإسكندرية الرسولي، وشارك القديس بولس الرسول في خدمة كرسي روما الرسولي منذ بداية الكرازة بملكوت الله.<a href="#_ftn7" name="_ftnref7">[7]</a></p>
<h4>المؤرخة الأستاذة إيريس حبيب المصري</h4>
<p>مرقس البشير:كاروزالديار المصرية</p>
<p>(۱) نشأته .</p>
<p>(۲) شخصيته .</p>
<p>(۲) الاسكندرية في القرن الأول للمسيحية .</p>
<p>(٤) مجئ مرقس إلى مصر</p>
<p></p>
<p>(٥) انتشار الايمان</p>
<p>(٦) مرور بطرس بمصر.</p>
<p>(۷) مغادرة مرقس لمصر.</p>
<p>(۸) عودته إلى مصروكتابته</p>
<p>(۹) استشهاده في عيد القيامة سنة ٦٨م .</p>
<p>« في البدء كان الكلمة &#8230; والكلمة صار جسداً وحل بيننا ورأينا مجده &#8230; » ولقد رأينا مجده في مصر منذ سنة ٦١م  حين جاء مرقس الرسول ليبشرنا بأن الله قد أكمل وعده وافتدى البشرية . ومرقس – بالنسبة للمسيحيين في أنحاء العالم – هو أحد الأربعة  الذين كتبوا الانجيل . أما بالنسبة لنا معشر القبط فهو کاروز دیارنا المصرية وحامل بشرى الخلاص  ومؤسس الكنيسة والبابا الأول للاسكندرية  . ولقد ولد مرقس في مدينة القيروان من أبوين تقيين جمعا بين مخافة الله وبين الثروة . وحدث أيام طفولته الأولى أن أغار بعض القبائل الهمجية على مدينته فسلبوا أهلها ونهبوا كل ما لديهم من متاع ، فأضاع والدا مرقس معظم ثروتهما واضطرا إلى الرحيل إلى أورشليم حيث شب مرقس . ولم يكن ليدور في خلدهما أن هذا الرحيل الأضطراري قد قرب بينهما وبين السيد المسيح فأتاح الفرصة لابنهما لأن يتتلمذ له فيكون بين حملة بشارته – وهكذا نال مرقس الغني الروحي عن طريق ضياع ثروة أبويه المادية .</p>
<p>٢- وكان مرقس أحد السبعين تلميذا ، وهو الرجل الذي أشار السيد المسيح إليه بأنه الشخص الذي سيأكل الفصح في بيته ، وكان هذا البيت مكان اجتماع الرسل بعد الصلب ، وفى علية منه ( وتعرف باسم علية صهيون ) حل الروح القدس على التلاميذ يوم الخمسين ، ويعد أول كنيسة مسيحية  ولما عقد رسل الرب وتلاميذه أول مجمع بأن التأموا في أورشليم سنة ٥٢م برياسة يعقوب الرسول أسقف أورشليم كان مرقس حاضراً معهم . وكان السبب الذي حدا بالرسل إلى الاجتماع هو أن يتشاوروا معا في ما إذا كان من الضروري أن يختتن الأمميون قبل صبغتهم ( أي تعميدهم ) . ولقد اتفقت كلمتهم يومذاك على قبول الأمميين بغير ختان  . وبعد الوصول إلى هذا القرار الحاسم استأنف كل رسول منهم التبشير . وعند ذاك اختلف بولس وبرنابا بشان مرقس الذي كان قد تركهما في بمفيليا فأخذ برنابا مرقس وذهب كلاهما إلى قبرص بينما اصطحب بولس سيلا ومرا في سوريا إلى كيليكيا وبعدما اشترك مرقس مع برنابا في الكرازة مدة من الزمن ألهمه الروح القدس أن يحمل البشارة إلى المدن الخمس ( مسقط رأسه ) ، ومنها أتى إلى مصرنا العزيزة</p>
<p>٣- وحين وصل مرقس إلى الاسكندرية كانت هذه المدينة المركز الأول للعلم والفلسفة والفن والأدب . وكانت مدرستها الذائعة الصيت وعلماؤها الفطاحل يجتذبون إليها جميع من يطلبون المعرفة ، وفي الاسكندرية تقابل إذ ذاك فلاسفة اليونان ومعلمو الناموس وحكماء الهنود والفرس مع كهنة مصر وقادة الفكر فيها ، ولم يكن المتحف والمدرسة مجرد أبنية فخمة تأخذ الألباب بجمال بنائها فقط ، وإنما كانت فوق ذلك تحوى أسمى ما أنتجه الفكر الإنساني وأعظم ما ابتدعته الروح البشرية .</p>
<p>- على أن هذه المدينة – مع كونها مركز الحضارة المثلى - كانت أيضا المدينة التي اجتمع فيها الماجنون المستهترون . فكانت ترن ضحكات السكارى وأصوات الصاخبين في شوارعها الفسيحة ذات الأعمدة الرشيقة .  وهذه المدينة التي جمعت بين اسمى الصور الإنسانية وبين أحطها أسسها الاسكندر الأكبر سنة ٣٣١ ق . م . فلم تلبث أن أصبحت أعظم مركز للحضارة في العالم القديم حتى لقد قيل عنها أنها المدينة التي خلب جمالها خیال معاصريها . وإلى هذه المدينة العجيبة جاء مرقس رسول السيد المسيح .</p>
<p>٤- وفي اليوم الأول من وصوله إلى الاسكندرية أخذ يسير في شوارعها مأخوذا بجمالها حزيناً على ما فيها من شر . وظل ماشيا طول النهار كأنما سحرته المدينة فأنسته الجوع والتعب . وعند المساء انقطع سير حذائه فوقف عند أول اسكاف . وبينما كان الاسكاف يخيط السير دخل المخراز في يده فرفعها في ألم وهو يهتف : « يا الله الواحد ، . وفي الحال تفل الرسول على الأرض وصنع من التفل طينا ومسح به الجرح فأبراه . ثم سأل الاسكاف أن كان يعرف ، الله الواحد، الذي يناديه فقال له : و أننى أسمع عنه سمعا ولكنني لا أعرفه » . وعندها أخذ مرقس يروى له كيف ولد المسيح وكيف علم وكيف افتدى الناس بأن ارتضي أن يعلق على الصليب ، ثم كيف دفن وقام من بين الأموات وصعد إلى السموات . وتفتح قلب الاسكاف لهذه البشرى المجيدة ، وابتهج بها فأخذ مرقس الرسول إلى بيته . وفي تلك اللحظة ألقيت البذرة الصالحة في أرض مصر الخصبة فنمت كحبة الخردل حتى صارت شجرة كبيرة ، وكان أنيانوس ( حنانيا ) الاسكاف باكورة المؤمنين إذ اصطبغ بالصبغة المقدسة هو وأهل بيته  .</p>
<p>٥ - ولم يلبث أن انضم إلى انيانوس وأهل بيته عدد غير قليل من الاسكندريين وأخذ عددهم يتزايد إلى حد أقلق الحكام لأن المؤمنين لم يزدادوا في العدد فحسب بل حولهم الايمان الجديد تحويلاً كاملاً حتى جعل منهم أشخاصا جدداً . وكان تجديدهم جذاباً إلى درجة اكتساب الآخرين ، وإلى درجة أن الوثنيين حين كانوا يرون واحدا منهم يتكلم بالصدق ويتصف بالاحتشام يسألونه : « هل قابلت مسيحيا اليوم ؟ » كان مجرد المقابلة مع المسيحي تكفى للايحاء إلى الناس بالتحول عن رذائلهم .</p>
<p>٦- وبينما كان القديس مرقس منهمكا في تدعيم أساس الكنيسة في مصر، مر به بطرس الرسول  ليفتقد اليهود المقيمين فيها لأنه كان رسول الختان – أي اليهود  وفي أثناء اقامته بمصر كتب رسالته الأولى التي اختتمها بقوله : « تسلم عليكم التي في بابل المختارة معكم ومرقس ابنى »</p>
<p>۷- ولما تزايد عدد المؤمنين واستمر في الزيادة حاول الحكام أن يلقوا القبض على مرقس ، وعندما أحس المؤمنون بذلك الحوا عليه في أن يغادر مصر – ولو إلى حين – ليكون في مامن من غدر الحكام . فجمع المؤمنين معا ورسم لهم أنيانوس الاسكاف أسقفاً كما رسم اثني عشر قسيسا وسبعة شمامسة . ثم غادر الاسكندرية قاصداً المدن الخمس ليفتقد الكنيسة التي أسسها هناك . وقصد بعد ذلك إلى رومية تلبية للدعوة التي وجهها إليه بولس الذي كان قد سمع عن خدمته وأدرك مما بلغه عن كنيسة مصر ان الروح القدس كان قد أفرز مرقس ليحمل البشارة إلى وادى النيل تحقيقا للنبوة القائلة : « في ذلك اليوم يكون مذبح للرب في وسط أرض مصر وعمود للرب عند تخمها . ولما سمع بولس أنه غادر الاسكندرية ارضاء للمؤمنين الحريصين على حياته أرسل في طلبه فلبی مرقس دعوته وسارع إليه في رومية ولقد شهد بولس بعد ذلك أنه نافع له وللخدمة. ولهذه الشهادة قيمة عظمى لأن بولس الذي أعلنها هو بعينه الذي عارض في استصحابه معه معارضة أدت إلى انفصاله عن برنابا مع أنهما كانا قد خدما معا مدة طويلة. بل أن قيمتها لتزداد إن لاحظنا أن بولس ذكر اسم مرقس قبل اسم لوقا الذي صاحبه في أسفاره العديدة وكتب سفر أعمال الرسل . على أن قيمة هذه الشهادة لا تنحصر في كونها اعتراف بمكانة مرقس بل أنها – فوق ذلك - تفتح باب الأمل أمام الانسانية المتعثرة : فهي دليل على أن الانسان متی غلبه ضعف بشريته ففي امكانه أن يعاود الجهاد ويصل إلى الكمال المسيحي إذا هو لم ييأس من رحمة الله ونعمته .</p>
<p>۸ - ولقد حمل أنيانوس الاسكاف ومن معه من المؤمنين الرسالة التي ائتمنهم عليها مرقس الرسول بغيرة واخلاص حتى أنه لما عاد إليهم وجد أنهم بنوا كنيسة في منطقة يقال لها بوكاليا ( أي دار البقر ) ، وبنوا أمامها عددا من المنازل لايواء الفقراء والغرباء . كذلك تعلم المسيحيون أن يعيشوا عيشة مشتركة يتقاسمون أفراحها وأتراحها ، يصلون ويصومون معا ، ويحمل كل فرد منهم رسالة المسيح بالفعل والقول . فكانت حياتهم قدوة مثلی زادت تعاليمهم قيمة ودعمتها فاجتذبت غير المؤمنين . لهذا تزايد عدد المؤمنين يوما بعد يوم . وحالما عاد مرقس الرسول إلى الاسكندرية رجا منه المؤمنون أن يكتب لهم التعالم التي سلمها لهم باللسان لتكون لهم عزاء وليستطيعوا أن يوصلوها إلى أولادهم وأولاد أولادهم ، وكل الآتين من بعدهم فتكون مصدرا لقوتهم ورسوخهم في الايمان . وقد فرح مرقس بهذا الرجاء وحقق رغبتهم بأن كتب لهم أنجيله مستلهما الروح القدس. ويقول الكثير من العلماء أنه أول انجيل كتب ولو أن البعض الآخر يستخلص إلى أنه كتب بعد شهادة الرسولين بطرس وبولس لأن مرقس كتبه بعد عودته من رومية ولقد كان فرح المؤمنين ببشارة مرقس عظيما إلى حد جعل هذا القديس ينشئ لهم مدرسة لاهوتية تكون منارة لكل طلاب العلم . ولقد حقق الله تعالى أمل بشيره إلى ديارنا لأن هذه المدرسة أصبحت كعبة الطلاب من جميع البلاد وظلت المنهل العذب الذي ارتوى منه جميع فطاحل الأساقفة في كافة أنحاء العالم المسيحى يومذاك ، كما ارتوى منها الأمراء وأصحاب الحكم العالمي إلى جانب الساعين نحو المعرفة المسيحية من جميع الطبقات</p>
<p>٩ - ويبدو أن غيرة القديس مرقس كانت تتضاعف بتزايد المؤمنين إذ كانت الغبطة الروحية تزيد من جهاده . فأثار نجاحه المتواصل غضب الحكام إذ أوجسوا خيفة منه فقرروا أن يتربصوا له ولا يدعوه يفلت من أيديهم هذه المرة . وحدث أن كان يوم عيد القيامة سنة ٦٨ م موافقا لليوم الذي يعيد فيه الوثنيون لإلهم سيرابيس الذي كانت عبادته من أكثر العبادات شيوعاً . فلما تجمعت الجماهير للاحتفال بالعيد في معبد سيرابيس هيجهم الحكام ضد مرقس البشير . وما أن انتهت شعائر الاحتفال بالعيد حتى خرج الوثنيون مندفعين نحو الكنيسة ، فاقتحموها وقبضوا على مرقس الرسول . ولما خرجوا به خارج الكنيسة ربطوا حبلا حول وسطه ثم أخذوا يجرونه من شارع إلى شارع وفوق الصخور الصماء وهم يصرخون و جروا الثور إلى دار البقر » . ولما سئموا عملهم الوحشي القوا بالرسول المهشم الجسم في السجن . وبينما هو ملقى في حبسه بين حي وميت إذا بنور وهاج يسطع أمامه . وإذا بالسيد المسيح يقول له من وسط هذا النور : « تشدد یا بشیری وليفرح قلبك فغدا تنال اكليل الشهادة ، . وفي اليوم التالي جاء الوثنيون إلى السجن وربطوا الحبل هذه المرة حول عنق القديس مرقس ، وأخذوا يجرونه على الأرض كما فعلوا في اليوم السابق . فلم يلبث رأسه أن انفصل عن جسده فنال في ذلك اليوم أكاليل ثلاثة : إكليل الرسولية ، وإكليل البشارة ، وإكليل الشهادة  على أن جموع الوثنيين لم يكفها ما حدث بل أخذوا يكومون كومة من الحطب تمهيداً لحرق الجسد ولكنهم ما كادوا يجهزونها حتى هبت عاصفة هوجاء وتساقط المطر كالسيل . فاضطروا إلى أن يتفرقوا ويتركوا الجسد ملقى في الطريق . فلما هدأت العاصفة جاء المؤمنون ورفعوه ثم دفنوه في الكنيسة المقامة في بوكاليا والتي دعوها باسمه فكان دم کاروز بلادنا المحبوب أول دم سقى هذه التربة العريقة وباكورة لدماء شهداء عديدين سقوا بدورهم التربة المصرية فأفاضوا عليه البركة وجعلوا منها أرضا مقدسة ثانية وبعد قرون – بعد المجمع المسمى بخلقيدون – نقل الجسد إلى كنيسة في حوزة الملكيين ( أنصار الامبراطور البيزنطي إذ ذاك ) ، بينما ظل الرأس في مكانه . وقد أدى هذا النقل إلى تمكين التجار البندقيين من سرقة الجسد وحمله إلى مدينتهم حيث وضعوه في الكتدرائية الفخمة التي تحمل اسم مرقس الرسول ، كما وضعوا جمهوريتهم الناشئة تحت رعايته  .<a href="#_ftn8" name="_ftnref8">[8]</a></p>
<h4>المتنيح القمص تادرس البراموسي</h4>
<p>صوت صارخ في البرية أعدوا طريق الرب أصنعوا سبله مستقيمة (مر ۱ : ۱- ۱۱)</p>
<p>أشتهر يوحنا المعمدان بالصوت الصارخ لأن المسيح له المجد دعى كلمة والكلمة لا تعلن إلا بالصوت إذاً سمى القديس يوحنا المعمدان بالصوت الصارخ لكي بصوته ينادى أن يستعد الناس لكى يقبلوا الكلمة الوحيد يسوع المسيح ربنا لكي يعد الطريق للرب وسبله مستقيمة كأنه يقول أعدوا ضمائركم وأفكاركم وأستعدوا لمجئ الرب يسوع كان يوحنا يعمد في البرية ويكرز بمعمودية التوبة لمغفرة الخطايا وكان يأتى إليه جميع أهل اليهودية ويعتمدون منه في نهر الأردن معترفين بخطاياهم . كان يوحنا يلبس قميص من وبر الإبل وعلى حقاويه منطقة من جلد وكان طعامه جراداً وعسلاً برياً . خروج يوحنا إلى البرية يشير إلى إنتقالنا من الأرض إلى السماء ومعموديته تشير إلى إبادة سلطان الموت وقميص الشعر يشير إلى التذلل والتوبة شد الحقوين إشارة إلى العفة وإلى القوة التى ينالها المؤمنين في محاربة إبليس محاربة حسية وعقلية والتخلص من الشهوات الجسدية التي تغلب بالطهارة وثمرة الفضيلة والجراد يشير إلى طيران الأبرار علاقات الرب يسوع حلاوة العسل تشير إلى حلاوة السعادة الأبدية الخالية من كل حزن واللباس الذي من وبر الإبل دلالة على أن يوحنا فقير لا يمتلك شيئا لكنه قوى يحارب الملوك .</p>
<p>كان يوحنا يكرز قائلاً أنه يأتى بعدى من هو أقوى منى وأنا لا أستحق أن أنحنى وأحل سير حذاؤه أنا أعمدكم بالماء وهو سيعمدكم بالروح القدس في تلك الأيام جاء يسوع من ناصرة الجليل وإعتمد من يوحنا في نهر الأردن وللوقت صعد من الماء ورأى السموات مفتوحة والروح القدس مثل حمامة قد نزلت وإستقرت عليه وصوت من السماء قائلاً أنت إبنى الحبيب الذي به سررت (مر ۱: ١١).</p>
<p>شهادة يوحنا للسيد المسيح الذي يأتي بعدي هو أقوى مني الذي لست أهلا أن أحمل حذاؤه هو يعمدكم بالروح القدس والنار لقد ثبت من كلام يوحنا أن المقصود من معموديته إنما للتهذيب وفتح باب التوبة أما عن معمودية الرب يسوع فقد أوضح قائلاً لست أهلا أن أحل سير حذاؤه أراد بذلك أن المسيح أقوى من يوحنا وأكثر قدرة . وقد مثل يوحنا الخدمة الحقيرة بالحذاء أي أني لست مستحقاً ان أخدمة خدمة حقيرة كما أمن القديس فلكسنيوس أنه غير مستحق جسده المقدس فقد شبه أصغر أسرار خدمته بالجسد بالحذاء فليس الجسديون والأطفال في المسيح لا يستطيعون ان يدركوا هذه لكن الذي مثل يوحنا أيضاً لا يمكنه أن يدركوا سراً واحداً منها وعد بالروح وقد قال أخرون أن تدبيره بالجسد لا يمكن إدراكه لأنه ما أبعد أفكاره عن الفحص وطرقه عن الإستقصاء .<a href="#_ftn9" name="_ftnref9">[9]</a></p>
<h3>من وحي قراءات اليوم</h3>
<p>&#8221; انفضوا الغبار &#8221;               إنجيل عشيّة</p>
<p>وصية رب المجد لتلاميذه عندما يرفض الناس خدمتهم وكرازتهم</p>
<p>الغبار الملتصق بالأرجل هو الشى الوحيد الذي يأخذه أي إنسان من مكان لآخر</p>
<p>ربما يكون ( أيضاً بصورة أخري ) معني كلام الرب لا تأخذوا ذكريات الرفض معكم ومرار الماضي السلبي وتحوَّلوا ببساطة لمكان آخر وطريقة أخري للخدمة</p>
<p>أو يمكن أن يكون معني نفض الغبار أننا نغفر ونتسامح ونترك فرصة أخري لبداية جديدة مع نفس الأشخاص</p>
<p>مثلما فعل الرب مع السامرة التي رفضته في البداية وطلب التلميذان نزول نار من السماء (لو ٥٤:٩)</p>
<p>في وقت آخر قبل كرازته كل شعب السامرة وآمنوا أنه مُخلِّص العالم (يو ٤٢:٤)</p>
<p>لكن تصير مشكلة كبيرة أننا كخدام نحمل غبار سنين لكثيرين فيُعطِّل عمل الروح فينا</p>
<p>وهذا هو إحتياجنا أن نخرج خارج أجواء البشر من وقت لآخر لننفض كل غبارهم</p>
<p>لذلك قال الرسول أنسي ماهو وراء (في ١٣:٣) ودعانا أن نتغير عن الشكل (رو ٢:١٢)</p>
<p>ما أخطر أن يعتقد البعض أن نفض ثياب الإكليروس يمكن أن يأتي بالخراب للمعاندين متناسين أن خدّام الرب مثل سيدهم لم يأتوا ليُهلكوا أنفس الناس بل ليخلصوهم (لو ٥٦:٩)</p>
<hr />
<p><a href="#_ftnref1" name="_ftn1">[1]</a> مار مرقس الرسول ومدرسة الاسكندرية ص ١٨ – الاستاذ أمير نصر</p>
<p><a href="#_ftnref2" name="_ftn2">[2]</a> المرجع : تفسير إنجيل مرقس ( الإصحاح الأول ) - القمص تادرس يعقوب ملطي</p>
<p><a href="#_ftnref3" name="_ftn3">[3]</a> كتاب القديس مرقس الإنجيلي ( صفحة ٣٢ ) - تأليف حبيب جرجس ( الأرشيدياكون ) ، وكامل جرجس</p>
<p><a href="#_ftnref4" name="_ftn4">[4]</a> كتاب فهرس كتابات آباء كنيسة الأسكندرية صفحة ٣١١ - الأب أثناسيوس المقاري</p>
<p><a href="#_ftnref5" name="_ftn5">[5]</a> المرجع : كتاب المنجلية القبطية الأرثوذكسية ( صفحة ١١٩ ) - قداسة البابا تواضروس الثاني</p>
<p><a href="#_ftnref6" name="_ftn6">[6]</a> كتاب الكنيسة المسيحية في عصر الرسل ( صفحة ٤٥١ ) - الأنبا يؤانس أسقف الغربية</p>
<p><a href="#_ftnref7" name="_ftn7">[7]</a> كتاب القديس العظيم مار مرقس الرسول بين كرسي الإسكندرية وكرسي روما - الأستاذ أمير نصر</p>
<p><a href="#_ftnref8" name="_ftn8">[8]</a> كتاب قصة الكنيسة القبطية ( الجزء الأول ) - الأستاذة إيريس حبيب المصري - مشروع الكنوز القبطية</p>
<p><a href="#_ftnref9" name="_ftn9">[9]</a> كتاب تأملات وعناصر روحية في آحاد وأيام السنة التوتية ( الجزء الثاني  صفحة ٢١٢ ) - إعداد القمص تادرس البراموسي</p>

      {% endcreateArticleAccordions %}
    </section>
  {% endblock %}
  