---
layout: 'layouts/reading.html'
title: 'اليوم السادس والعشرون من شهر بشنس'
permalink: annual/9-26.html
---
  {% block content %}
    <section id="readings">
      <ul>
      {% if 'undefined' != 'undefined' %}
      
      {% else %}
      {% if '19.68:11,35' != 'null' %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">العشية</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeVespers '19.68:11,35' '41.3:7-21' %}
          </div>
        </div>
      </li>
      {% endif %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">باكر</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeMatins '19.145:10-12' '42.6:12-23' '' %}
          </div>
        </div>
      </li>
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <h3 class="flex items-center justify-between">
            <span class="kufi">القداس</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </h3>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeLitugy '45.10:4-18' '61.1:12-21' '44.3:1-16' '19.19:1,4' '43.20:24-31' %}
          </div>
        </div>
      </li>

      {% endif %}
        </ul>
    </section>
    <section id="article">
      <h3 class="mt-8 mb-4 heading-explain">شرح القراءات</h3>
      {% createArticleAccordions %}
        <p><strong>( شهادة القديس توما الرسول  )</strong></p>
<p>لأننا قد صرنا شركاء المسيح، إن تمسكنا ببداءة الثقة ثابتة إلى النهاية</p>
<p>عب ١٢:٣</p>
<p>طوبى لمن يقبل إلى ويؤمن بى ولم يرانى اجعلنا مستحقين أن نؤمن بك يا سيدنا الملك المسيح.</p>
<p>ذكصولوجية احد توما</p>
<p>عندما لمس التلميذ الشاك جراحات جسم سيده شُفيت جراحات عدم إيمانه. عدم إيمان توما كان أكثر نفعًا لإيماننا عن إيمان التلاميذ المؤمنين، لأنه إذ رجع إلى الإيمان بلمس يسوع، تحررت أذهاننا من كل شك، وصارت ثابتة في الإيمان<a href="#_ftn1" name="_ftnref1">[1]</a></p>
<h3>شواهد القراءات</h3>
<p>(مز ٦٧ : ١٣ ، ٣٣) ، (مر ٣ : ٧ – ٢١) ، (مز ١٤٤ : ٨ ، ٩)، (لو ٦ : ١٢ – ٢٣) ، (رو ١٠ : ٤ &#8211; ١٨)، (٢بط ١ : ١٢ – ٢١) ، (أع ٣ : ١ &#8211; ١٦)، (مز ١٨ : ١ ، ٤) ، (يو ٢٠ : ٢٤ – ٣١)</p>
<h3>ملاحظات علي قراءات ٢٦ بشنس</h3>
<p>+ قراءات اليوم هي نفس قراءات اليوم الخامس من شهر أبيب (تذكار شهادة القديسين بطرس وبولس الرسولين ) ما عدا إنجيل القدَّاس ، وهو الذي يتكلم هنا بصفة خاصة عن ظهور الرب للتلاميذ في وجود توما الرسول وخصيصاً له لكي يدعم إيمانه</p>
<p>+ إنجيل باكر اليوم (لو ٦: ١٢ &#8211; ٢٣) يحتوي علي موضوعين ، الموضوع الأول هو إختيار ودعوة الآباء الرسل ، والموضوع الثاني هو تطويب الذين إحتملوا الآلام والإضطهادات لأجل الإيمان</p>
<p>جاءت القراءة تحوي الموضوعين أيضاً في قراءة إنجيل باكر ليوم ٥ أبيب (تذكار شهادة القديسين بطرس وبولس ) ، وإنجيل القدّاس في اليوم الثاني من النسئ ( نياحة القديس تيطس الرسول ) ، فمن ناحية الكلام عن دعوتهم ، ومن ناحية أخري عن الإضطهاد الذي سوف يجتازونه بسبب الخدمة والكرازة</p>
<p></p>
<p>وجاء الموضوع الثاني فقط (لو ٦: ١٧ &#8211; ٢٣) وهو الحديث الذي وجهه الرب لتلاميذه القديسين ( آية ٢٠ ) لكي لا ينزعجوا من الإضطهاد الذي سوف يقع عليهم بسبب الكرازة ، وهو نفس إنجيل باكر في قراءات أيام ٢٧ بابه ( نياحة أنبا مكاريوس أسقف إدكو ) ، ٩ هاتور ( تذكار إنعقاد مجمع نيقية ) ، ١٧ هاتور ( تذكار يوحنا ذهبي الفم ) ، ٢٨ هاتور ( تذكار أنبا صرابامون أسقف نيقية ) ، ٢٦ طوبه ( تذكار شهادة شيوخ شيهيت )</p>
<p>(١ ) قراءة البولس اليوم (رو ١٠ : ٤ &#8211; ١٨) تكررت في قراءات أيّام ٤ طوبه ، ٥ أبيب ، ١ نسئ</p>
<p>وهي القراءة التي تختص ببرّ العهد الجديد وكرازة الرسل للشعوب والأمم</p>
<p>لذلك جاءت في تذكار يوحنا الحبيب ( ٤ طوبه ) وتلميذه ( ١ نسئ ) وتوما الرسول ( ٢٦ بشنس ) وبطرس وبولس الرسولين ( ٥ أبيب )</p>
<p>+ قراءة الكاثوليكون اليوم (٢بط ١ : ١٢ &#8211; ٢١) تكررت في أيَّام ٦ طوبه ، ٥ أبيب ، ١٣ مسري  وقراءتين أخريين متشابهتين معهم ( ٢٩ كيهك من ٢بط ١ : ١٢ &#8211; ١٧ ) ، ( ١٠ طوبه من ٢بط ١ ؛ ١٢ &#8211; ١٩ )</p>
<p>نري هنا شهود إستعلان مجد الله القدّيس توما الرسول ( ٢٦ بشنس ) ، والقديسين بطرس وبولس ( ٥ أبيب )</p>
<p>ونري أيضاً شهادة القديس بطرس عن ظهور مجد إبن الله في التجلّي ( وقد سمعنا نحن هذا الصوت من السماء حين كنّا معه علي الجبل المُقدَّس ) لذلك جاءت في عيد التجلّي ( ١٣ مسري ) ، وجاءت القراءة أيضاً في عيد الختان ونور إبن الله الذي أُستعلن للأمم ( ٦ طوبه ) ، وفِي أعياد الظهور الإلهي وإستعلان مجد الله للبشرية في عيد الميلاد ( ٢٩ كيهك ) ، وشهادة الآب عنه أنه إبني الحبيب الذي به سُررت في برامون الغطاس ( ١٠ طوبه )</p>
<p>+ قراءة الإبركسيس (أع ٣ : ١ &#8211; ١٦) اليوم تكررت في أيام  ٤ طوبه ، ٥ أبيب ، ١نسئ</p>
<p>تتكلّم هذه القراءة عن ذهاب القديس بطرس والقديس يوحنا للهيكل للصلاة ومعجزة شفاء المُقعد من بطن أُمه وشهادة القديس بطرس أمام الجميع بقوة قيامة المسيح</p>
<p>لذلك تأتي في تذكار يوحنا الحبيب ( ٤ طوبه ) وتذكار بطرس وبولس (٥ أبيب ) وأبو يحنس تلميذ يوحنا الحبيب ( ١ نسئ ) وأيضاً في تذكار توما الرسول ( ٢٦ بشنس )</p>
<p>ومجيئها اليوم لأجل ما جاء فيها عن أن الرسل هم شهود موت المسيح وقيامته</p>
<h3>شرح القراءات</h3>
<p>اليوم هو تذكار شهادة القديس توما الرسول أحد الإثني عشر رسولاً</p>
<p>قراءات اليوم تتكلَّم عن الدعوة للخدمة والكرازة بصفة عامة والإيمان الذي يفوق في يقينه العيان بصفة خاصة والذي يناسب حياة وشخصية القديس توما الذي طلب إيمان العيان للتصديق وظهر الرب له خصيصاً ليدعم إيمانه</p>
<p></p>
<p>تبدأ القراءات بالمزامير في إعلان من هو مُرْسِل الكارزين (مزمور عشية ) وما هي سماتهم ككارزين ( مزمور باكر ) وعمله الإلهي فيهم ( مزمور القداس )</p>
<p></p>
<p>في مزمور عشيّة الرب هو أساس الكلمة والقوّة في الكرازة والخدمة</p>
<p>( الرب يُعطي كلمة للمبشرين بقوة عظيمة عجيب هو الله في قديسيه إله إسرائيل هو يُعطي قوة وعزاء لشعبه )</p>
<p>وفِي مزمور باكر حياة الكارزين وطبيعة خدمتهم</p>
<p>( وقدِّيسوك يباركونك ومجد ملكك يصفون وبقوتك ينطقون ليُظهروا لبني البشر قدرتك )</p>
<p>وفِي مزمور القدَّاس عمله فيهم ( في كل الارض خرج منطقهم وإلي أقطار المسكونة بلغت أقوالهم )</p>
<p></p>
<p>وفِي القراءات نري إرسالية الكارزين ( البولس ) ويقينيّة ظهوره وقوّته وإعلان حضوره الإلهي في الكتب الإلهية أكثر من الرؤي والمعجزات والظهورات ( الكاثوليكون ) ورصيد الكرازة للخدّام والرعاة في إسم يسوع أكثر وأعظم من كل إمكانيات العالم ( الإبركسيس )</p>
<p></p>
<p>يتكلَّم البولس عن أهمّية وجود كارزين ومُبشِّرين ووجود إرسالية دائمة</p>
<p>( لأن كل من يدعو باسم الرب يخلص ولكن كيف يدعون بمن لم يؤمنوا به وكيف يؤمنون بمن لم يسمعوا به وكيف يسمعون بلا كارز وكيف يكرزون إن لم يُرسلوا كما هو مكتوب ما أجمل أقدام المبشرين بالخيرات … إذا الإيمان بالسمع والسمع بكلمة المسيح لكنني أقول العلهم لم يسمعوا وكيف ذلك وقد خرج صوتهم إلي الأرض كلها وإلي أقاصي المسكونة بلغت أقوالهم )</p>
<p>وفِي الكاثوليكون عن يقين ظهوره الإلهي في الكلمة الإلهية أكثر من الظهورات والمعجزات والرؤي</p>
<p>( لأننا لم نتبع خرافات فلسفية إذ عرفناكم بقوة ربنا يسوع المسيح وظهوره بل قد كنا معاينين عظمته … وثابت عندنا كلام الأنبياء هذا الذي هو نِعْمَ ما تصنعونه إذا تأملتم إليه كمثل سراج مضئ في موضع مظلم حتي يظهر النهار والنور يُشرق ويظهر في قلوبكم )</p>
<p>وفِي الإبركسيس عن رصيد الكارزين قوِّة وغني إسم يسوع</p>
<p>( فهذا لما رأي بطرس ويوحنا مزمعين أن يدخلا الهيكل سألهما يريد أن يأخذ منهما صدقة فتفرَّس فيه بطرس مع يوحنا وقال أنظر إلينا فتفرس فيهما مؤمّلاً أن يأخذ منهما شيئاً فقال له بطرس ليس لي فضة ولا ذهب ولكن الذي لي فإياه أُعطيك باسم يسوع المسيح الناصريّ قم وامش وأمسكه بيده اليمني وأقامه ففي الحال تشدّدت ساقاه وكعباه فوثب وصار يمشي ودخل معهما إلي الهيكل وهو يمشي ويثب ويسبح الله )</p>
<p></p>
<p>وفِي الأناجيل عن دعوة الرب لهم ( إنجيل عشيّة ) وطبيعة من يدعوهم ( إنجيل باكر ) وأهميّة يقين إيمانهم ( إنجيل القداس )</p>
<p></p>
<p>يبدأ إنجيل عشيّة بدعوة الرب للإثني عشر ومنهم القديس توما الرسول</p>
<p>( ثم صعد إلي الجبل ودعا الذين أرادهم فذهبوا إليه فانتخب إثني عشر وسماهم رسلاً ليمكثوا معه وليرسلهم ليكرزوا ولكي يكون لهم سلطان علي شفاء الأمراض وأخراج الشياطين وجعل لسمعان اسم بطرس ويعقوب بن زبدي ويوحنا أخا يعقوب وسماهما بوانرجس الذي تفسيره إبني الرعد واندراوس وفيلبس وبرثولماس ومتي وتوما ويعقوب بن حلفي وتداوس وسمعان القانوي ويهوذا الإسخريوطي الذي اسلمه )</p>
<p>وفِي إنجيل باكر أيضاً عن دعوة الإثني عشر بعد الصلاة للآب الليل كله لأجلهم لكن أيضا عن طبيعة المدعوين للكرازة</p>
<p>(وفِي تلك الأيام خرج إلي الجبل ليصلي وكان ساهراً في الصلوات لله ولما كان النهار دعا تلاميذه واختار منهم إثني عشر الذين سماهم رسلاً … ورفع عينيه إلي تلاميذه وقال لهم طوباكم أيها المساكين بالروح لأن لكم ملكوت الله … طوباكم إذا أبغضكم الناس وافرزوكم وعيَّروكم وأخرجوا اسمكم كشرير من أجل إبن الإنسان افرحوا في ذلك اليوم وتهللوا )</p>
<p>وفِي إنجيل القداس عن إحتياج القديس توما للإيمان اليقيني بالعيان والحواس وظهور الرب مرّة أخري للتلاميذ خصيصاً له</p>
<p>( أما توما الذي يُدعي التوأم واحد من الإثني عشر فلم يكن معهم حين جاء إليهم يسوع فقال له التلاميذ قد رأينا الرب فقال لهم إن لم أُبصر في يديه رسم المسامير وأدخل أُصبعي في آثر المسامير وأضع يديّ في جنبه لا أُؤمن وبعد ثمانية أيام كان تلاميذه أيضاً مجتمعين داخلاً وكان توما معهم فدخل يسوع والأبواب مغلقة ووقف في وسطهم وقال لهم السلام لكم ثم قال لتوما هات أصبعك إلي هنا وانظر يديَّ وهات يديك وضعها في جنبي ولا تكن غير مؤمن بل مؤمناً أجاب توما وقال له ربّي وإلهي قال له يسوع لأنك رأيتني آمنت طوبي للذين آمنوا ولم يروا )</p>
<h3>ملخّص القراءات</h3>
<p>تعلن القراءات نوعية وطبيعة الكارزين وإرسالية الرب لهم وعمله فيهم       مزمور باكر وعشية والقدّاس</p>
<p>وكيف يدعوهم ويرسلهم الرب.                                                                          البولس</p>
<p>وتشهد الكتب المُقدَّسة لذلك أكثر من الرؤي والمعجزات                                           الكاثوليكون</p>
<p>وغني رصيد الكارزين في إسم الرب يسوع                                                           الإبركسيس</p>
<p>كما نري في إرسالية الرب للإثني عشر                                                                                إنجيل   عشيّة</p>
<p>والتي سبقها صلاة طول الليل من الرب نفسه                                                                             إنجيل باكر</p>
<p>ومعالجة الرب نفسه لضعفات مدعويه ومُختاريه                                                                   إنجيل القدَّاس</p>
<h3>أفكار مقترحة للعظات</h3>
<h4>(١) دعوة الخدمة</h4>
<p>١- مصدر الدعوة وقوِّتها هي الوجود والمكوث الدائم مع الله</p>
<p>&#8221; فإنتخب إثني عشر وسماهم رسلاً ليمكثوا معه وليرسلهم ليكرزوا &#8221;     إنجيل عشيّة</p>
<p>٢- ضمان الدعوة مجيئها بعد الصلاة الحارَّة</p>
<p>&#8221; وفِي تلك الأيام خرج إلي الجبل ليصلِّي وكان ساهراً في الصلاة لله ولما كان النهار دعا تلاميذه واختار منهم إثني عشر &#8221;                                                                  إنجيل باكر</p>
<p>٣- دعوة الله للبشر تكون من خلال خُدَّامه وكارزيه</p>
<p>&#8221; ولكن كيف يدعون بمن لم يؤمنوا به وكيف يؤمنون بمن لم يسمعوا به وكيف يسمعون بلا كارز وكيف يكرزون إن لم يُرسلوا &#8221;                                                          البولس</p>
<p>٤- التَذَكُّرْ الدائم للدعوة لضمان ثباتها</p>
<p>&#8221; لذلك لا أملُّ أن أُذكِّركم في كل حين بهذه الأمور ولو أنكم عالمين وثابتين في الحقِّ الحاضر ولكنني أظن أنه واجب حقٍّ عليَّ أن أذكركم ما دمت مقيماً في هذا المسكن أن أنهضكم بالتذكرة &#8230; وأنا أسرع في كلٍّ حينٍ لتتذكروا هذه الأمور من بعد خروجي &#8221;  الكاثوليكون</p>
<p>٥- نقاوة الدعوة تظهر في يقين الخدّام من مصدر قوَّة خدمتهم</p>
<p>&#8221; أيها الرجال الإسرائيليون لماذا تتعجَّبون من هذا ولما تشخصون إلينا كأننا بقوتنا أو تقوانا صنعنا هذا أن جعلنا هذا يمشي &#8221;                                                 الإبركسيس</p>
<h4> (٢) الكارزين والمدعوّين للخدمة</h4>
<p>١- عمل الله فيهم</p>
<p>&#8221; الرب يعطي كلمة للمبشرين بقوة عظيمة &#8221;                              مزمور عشيّة</p>
<p>&#8221; وبقوتك ينطقون &#8221;                                                                  مزمور باكر</p>
<p>&#8221; وإلي أقطار المسكونة بلغت أقوالهم &#8221;                                     مزمور القدَّاس</p>
<p>٢- سلطان الكارزين</p>
<p>&#8221; ولكي يكون لهم سلطان علي شفاء الأمراض وأخراج الشياطين &#8221;                         إنجيل عشيّة</p>
<p>&#8221; وأعطاهم سلطاناً علي أرواح نجسةٍ حتي يخرجوها ويشفوا كل مرضٍ وكل سقمٍ &#8221; إنجيل القدَّاس</p>
<p>٣- طبيعة الكارزين والخُدَّام</p>
<p>&#8221; أيها المساكين بالروح .. أيها الجياع .. أيها الباكون &#8221;                                        إنجيل باكر</p>
<p>٤- مُبشِّرين بالخيرات</p>
<p>&#8221; ما أجمل أقدام المبشرين بالخيرات &#8221;                                                          البولس</p>
<p>٥- لا يتبعون خرافات فلسفية بل يعاينون عظمته ويتأمَّلون في كلمته</p>
<p>&#8221; لأننا لم نتَّبع خرافات فلسفيةٍ إذ عرَّفناكم بقوة ربنا يسوع المسيح وظهوره بل قد كُنَّا معاينين عظمته &#8230; وثابت عندنا كلام الأنبياء هذا الذي هو نعم ما تصنعونه إذا تأملتم إليه &#8221; الكاثوليكون</p>
<p>٦- غني الخادم ورأس ماله وفخره إسم المسيح له المجد</p>
<p>&#8221; ليس لي فضة ولا ذهب ولكن الذي لي فإياه أُعطيك بإسم يسوع المسيح الناصري قم وإمش &#8221;  الإبركسيس</p>
<h3>عظات آبائية</h3>
<h4>القديس غريغوريوس أسقف نيصص: لا مجال الآن لأنْ يشك أحد في قوة القيامة</h4>
<p>&#8220;إذ هو قد عوَّد الناس أنْ يعاينوا إقامة آخرين، كذلك فإنه قد أثبت كلمته بالبرهان بفعل ناسوته. وأنت قد اطّلعت على مجرد لمحة مما عملته تلك الكلمة مع أناس قد أدركهم الموت: كالطفل الذي قد فارق الحياة، والشاب الذي كان على حافة القبر، والجسد الذي قد أنتن&#8230; كل هؤلاء على حد سواء قد رُدّت لهم الحياة بأمرٍ واحد. فانظر إذن لمَن ثُقِبَت يداه بالمسامير؛ انظر لهذا الذي طُعِن جنبه بحربة. المس بأصابعك أثر المسامير؛ مد يدك وضعها في جرح الحربة؛ وبالتأكيد أنت ستقدّر عمق الجرح الذي قد تصل إليه يدك لكبر علامته مِن خارج – لأن الجرح الذي يتسع لإدخال اليد يخبر بالعمق الذي إليه دخل الحديد. وإذ هو قد قام، فلننطق بصياح الرسول المتعجب: &#8220;فكيف يقول قومٌ بينكم أنْ ليس قيامة أموات؟&#8221; لهذا إذن، فإن كل نبوءة عن الرب قد تحققت ببيان وبشهادة الأحداث. وفي الحقيقة فإننا لم نَعرف بهذا الأمر مِن كلامه فقط، بلْ قد وجدنا البرهان في أعماله التي تجسّدت في الناس أنفسهم، هؤلاء  الذين عادوا للحياة بالقيامة. فماذا بعد مِن دليل لمَن لا يؤمنون؟ فحريّ بنا أنْ نودّع كل مَن يضلّلنا ب&#8221;الفلسفة والخداع الباطل&#8221; عن إيماننا البسيط، وبدلاً مِن ذلك نتمسك باعترافنا (بالقيامة) وصحتها؛ هذا الاعتراف الذي أنبأنا به القول الحسن للنبي: &#8220;تنزع أرواحها فتموت وإلى ترابها تعود. ترسل روحك فتُخلَق. وتجدّد وجه الأرض&#8221; بخَلْقك الإنسان<a href="#_ftn2" name="_ftnref2">[2]</a>.&#8221;</p>
<h4>القديس أمبروسيوس: الابن مِثل أبيه</h4>
<p>&#8220;قد قرأتم أن الآب هو الرب وهو الله: &#8220;أيها الرب إلهي: إني أدعوك؛ فاستجب لي.&#8221; وتجدون أن الابن أيضًا هو ربٌّ وإله، فهكذا قرأتم في الإنجيل: إذ لمس توما جنب المسيح، قال: &#8220;ربي وإلهي.&#8221; إذن، فكما أن الآب هو الله والابن رب، كذلك الابن أيضًا هو الله والآب رب: فالاسمان المقدسان  يتداولهما كل منهما مع الآخر. الطبيعة اللاهوتية لا تتغير لكن الكرامة تظل بلا تغيير. لأنهما لم يكونا قد أعطيا لهما مِن قَبيل الهبة، بلْ مِن قَبيل العطايا الإرادية لطبيعة المحبة. فإن الوحدانية لها صفاتها الخاصة، وتلك الصفات الخاصة تتجمّع معًا لتكون وحدة واحدة مع الروح القدس.&#8221; 3.15.108.</p>
<p></p>
<p>الطوبى الخفية تحت الألم</p>
<p></p>
<p>&#8220;هناك بعض أناس يظنون أن حياة النعيم والطوبى تكون مستحيلة لدى هذا الجسد الزليل الواهن: إذ أننا لا بد أنْ نقع تحت الألم والحزن، والنحيب والمرض&#8230; كل ذلك قد يكون له هذا الجسد عرضة. فليس مِن الطوبى في شيء أنْ نكون في وسط الألم؛ لكن الطوباوية تكون بالنصرة على هذه كلها، وبألّا تكون شدة الألم الوقتي سببًا في اشتداد الضيقات. ضعوا بعين الاعتبار أن الأمور تبدو صعبة لِمَا تتسبب فيه مِن أسى؛ مِثل العمى والنفي والجوع واغتصاب الإبنة وفقدان البنين. مَن ذا الذي ينكر أن إسحق قد كان طوباويًّا، هذا الذي لم يعُدْ يستطيع الرؤية في شيخوخته، إلّا أنه لطوباويته قد أعطى البركة؟ ألم يكن يعقوب طوباويًا، وهو الذي بعد أنْ ترك بيت أبيه تحمّل الغربة وعمل بالرعي مِن أجل العيش، وحزن بسبب ما أصاب ابنته مِن تدنيس، وذاق عناء الجوع؟ ألم يكونوا طوباويين هؤلاء الذين على صلاح إيمانهم قَبِل الله الشهادة؟ لأنه هكذا مكتوب: &#8220;إله إبراهيم، وإله إسحق، وإله يعقوب.&#8221; كم هي بائسة العبودية! لكن يوسف لم يكن بائسا. حقًا قد كان طوباويًّا بالفعل: فبينما كان عبدًا، فقد  وقف ضد شهوانية سيدته. وماذا أقول عن داود القديس الذي ناح على موت ثلاثة مِن أبنائه؟ بلْ والأسوأ مِن هذا كان ما وقع بابنته مِن سفاح قربى. كيف يكون غير طوباوي هذا الذي مِن نسله جاء مَن أوجَد البركة نفسه، الذي جعل كثيرين طوباويين؟ لأنه &#8220;طوبى للذين آمنوا ولم يروا.&#8221; كل هؤلاء شعروا بضعفهم، لكنهم بشجاعة تغلّبوا عليه. ماذا يمكن أنْ نظنّه أسوأ مما أصاب أيّوب الصدّيق سواء مِن احتراق بيته، أَمْ مِن موت باغت بنيه العشرة أَمْ مِن آلامه الجسمانية؟ أَمَا كان أقل طوباوية ما لم يكن قد تحمَّل كل هذه الأوجاع التي بها قد تبرَّر؟ حقيقي أن في هذه الآلام مرارة، وأننا لا نستطيع أنْ نغلّب العقل على العاطفة في التقليل مِن وطأة الألم. فلا ينبغي لي إذن أنْ أُنكِر أن البحر عميق لمجرّد أن شاطئه ضحل، ولا أن السماء صافية لأنها أحيانًا تُغطّى بالسحب، ولا أن الأرض مثمرة لأن عدة مواضع منها تكون أرضًا قفرة ولا أن نتاجها خصب وافر لأن الأعشاب البرية أحيانًا تنبت في وسطها وتختلط بها. لذلك أيضًا احسبوها حقيقة أن حصاد الضمير النقي قد تختلج به بعض مشاعر الأسى المريرة. ففي جملة أحداث حياة الطوبى قد تكون هناك بعض ملابسات بسوء الحظ تأتي صدفة؛ فإنْ كان هكذا الحال: أليس هذا هو ما يحدُث إذا نبتت الأعشاب البرية واختبأت؟ أو كما لو اختفت مرارة الزوان بفعل رائحة القمح الزكية؟<a href="#_ftn3" name="_ftnref3">[3]</a>&#8220;.</p>
<h4>ظهور الرب لتوما في فكر القديس كيرلس الكبير</h4>
<p>ظَهَرَ المسيح مرَّة ثانية لتلاميذه بطريقة إعجازية وذلك بقوَّته الإلهية .لأنه لم يأمرهم أن يفتحوا الأبواب لكي يدخل بل &#8211; دخل كما لو كان &#8211; رافضا للخضوع لقانون الطبيعة ، إذا دخل والأبواب مغلقة وظهر فجأة في وسط الغرفة ، وقد فعل نفس المعجزة أمام عيني توما المبارك كما فعل في المرة السابقة . لأن ذاك الذي كان ناقص الإيمان كان يحتاج إلي دواء شافٍ . وهو يستخدم التحية التي هى دائماً على شفتيه ، &#8221; السلام لكم &#8221; ، وأعطاه يقين السلام المبارك الذي نعطيه نحن لبعضنا البعض ، كما قلنا سابقاً.</p>
<p>وقد ندهش من دقة التفاصيل في هذه الفقرة . لأن هكذا كانت الدقة الشديدة هى التى جعلت كاتب هذا الإنجيل لا يكتفي بأن يقول إن المسيح أظهر نفسه للتلاميذ القديسين ، بل يوضح أيضاً أنه ظهر لهم بعد ثمانية أيام ، وأنهم كانوا مجتمعين معا.</p>
<p>فهل هناك معني آخر لإجتماعهم كلهم معاً فى بيت واحد؟ نقول هذا لنبيّن الأهتمام الشديد الذي يظهره الرسول يوحنا بهذه التفاصيل ، لأن المسيح يوضّح لنا بواسطتها أنه هو سبب اجتماعنا  معاً في اليوم الثامن. فهو يزور أولئك الذين يجتمعون معاً لأجله ، ويسكن معهم ، لاسيما فى إجتماعهم فى اليوم الثامن ، أي يوم الرب في المرَّة الأولي أظهر نفسه للتلاميذ الأخرين بدون توما ، وفي المرَّة الثانية ، أظهر نفسه لهم وتوكل حاضر معهم أيضاً . إذ نقرأ في الفقرة السابقة &#8221; وَلًمَّا كانت عَشَّيةُ ذلكَ اليوم ، وهو أول الأسبوع، وكانت الأبواب مُغَلَّقة حيث كان التلاميذ مجتمعين لسبب الخوف من اليهود ، جاء يسوع ووقف في الوسط ، وقال لهم :&#8221;سَلامٌ لَكم!&#8221;.(يو ٢٠: ١٩).</p>
<p>لاحظ ، أنه فى اليوم الأول من الأسبوع الأول ، أي يوم الرب،ظهر الرب للتلاميذ حينما كانوا  مجتمعين معا ، وهكذا أيضاً ظهر لهم مرَّة ثانية في اليوم الثامن. وتوما معهم ولا ينبغي أن يظن أحد أنه لسبب قول الإنجيل &#8220;وبعد ثمانية أيام &#8221; أنه يعني اليوم التاسع ، ولكن حينما يقول هذا فهو يتحدَّث عن اليوم الثامن الذي ظهر فيه علي أنه ضمن الثمانية أيام منذ قيامة الرب.</p>
<p>إذن فلهذا السبب المقنع ، نحن معتادون أن تكون لنا إجتماعات مقدَّسة في الكنائس في اليوم الثامن. وإذا أخذنا المعني الرمزي للنص ، كما يقتضى  الأمر بالضرورة فنحن نغلق الأبواب ، ومع ذلك فإن المسيح يزورنا ويظهر لنا جميعاً بصورة غير منظورة : بصورة غير منظورة كإله ، وأيضاً بصورة منظورة في الجسد فهو يدعنا إن نلمس جسده المقدس ، ويعطينا إياه .لأننا بواسطة نعمة الله يُسمح لنا بالإشتراك في الافخارستيا المباركة ، إذ نأخذ المسيح في أيدينا ( حسب الطقس القديم في عصر القديس كيرلس ) بقصد أن نؤمن بكل يقين أنه أقام حقاً هيكل جسده من الموت .</p>
<p>لأن الإشتراك في الإفخارستيا المباركة كإعتراف بقيامة المسيح يتبرَّهن بوضوح من كلمات المسيح نفسها ، التي نطقها عندما أجري السر ، لأنه كسر الخبز &#8211; كما هو مكتوب &#8211; وأعطاه لهم قائلاُ&#8221;هذا هو جسدي ، الذي يبذل عنكم. إصنعوا هذا لذكرى&#8221;(لو٢٢: ١٩).</p>
<p>إذا ، فالإشتراك في الأسرار الإلهية بالإضافة  إلي أنه بالبركات الإلهية ، فهو اعتراف حقيقي وتذكار لموت المسيح وقيامته عنَّا ولأجلنا . لذلك ، فبعد أن نلمس الجسد ، ينبغي علينا أن ننفر من عدم الإيمان به فهذا خراب تام ، بل بالحري ان نوجد ثابتين تماماً فى ملء يقين الإيمان<a href="#_ftn4" name="_ftnref4">[4]</a>.</p>
<h4>أيضاً للقديس كيرلس الأسكندري: اشتراك توما في الروح القدس</h4>
<p>سوف نجد في الفقرة التالية لما شرحناه، الكلمات التالية:&#8221;توما الذي يقال له التوأم لم يكن مع التلاميذ حينما جاء يسوع&#8221;(يو٢٤:٢٠ ).كيف.ربما سأل البعض وهو سؤال معقول. كآن بعيدًا واشترك معهم في الروح القدس عندما ظهر المخلوقات لهم اقبلوا الروح القدس؟والإجابة علي هذا السؤال هي:أن قوة الروح تملأ كل البشر وعندما قصد الرب أن يعطيه للتلاميذ لم يكن يقصد أن يعطيه للبعض دون الآخرين ومن كان غائبًا منهم فقد قبله لأن كفاية الواهب ليست قاصرة علي الموجودين بل تمتد الي كل جماعة الرسل.وهذا الحق ليس من خيالنا ولا هو من ضلال، ولذلك علينا أن نقنعهم من الكتب المقدسة نفسها مؤكدين ذلك بفقرة من توراة موسي، لأن الرب الاله أمر موسي الحكيم أن يختار سبعين شيخًا من جماعة اليهود وصرح علانية:&#8221;سوف آخذ من الروح الذي عليك وأضع عليهم&#8221;(عد١٧:١١ ).</p>
<p>وأطاع موسي واحضرهم إلي خيمة الاجتماع (عد٢٤:١١) إلا رجلين تخلفا عن الحضور ومكثا في المحلة وهما ألداد وميداد، لكن الله وضع عليهم الروح الالهي كما وعد واخذ الكل النعمة..الذين كانوا في خيمة الاجتماع مع موسي وكذلك الاثنين اللذين تخلفا، الكل تنبأوا. وفي الحقيقة أن الرجلين اللذين تخلفا تنبأ ونالا النعمة من فوق قبل الباقين. إلا ان شيوع بن نون الذي كان يلازم موسي دائماً والذي لم يفهم معني السر ظن ان الرجلين آلداد وميداد يمهدان لانقسام مماثل لما صنعه&#8221;داثان وأبيرام&#8221;، ولذلك اسرع الي موسي قائلًا:&#8221;يا سيدي موسي اردعهما &#8220;(عد ٢٨:١١)، ولكن بماذا اجاب الرجل العظيم والحكيم الذي رأي بحكمته أن النعمة من فوق وأنهما قد نالا معاً قوة الروح؟..هل تغار انت لي؟ ياليت كل شعب الرب كانوا أنبياء إذا جعل الرب روحه عليهم (عد ٢٩:١١). ولاحظ كيف ينتظر شيوع الذي لم يعرف ماذا حدث.كان موسي يتمنى يعطي الروح للشعب كله ولكن هذا كان سيحدث في الوقت المعين عندما يمنح الرب المسيح الروح القدس للكل وينفخه علي تلاميذه كباكورة البشرية قائلًا:&#8221;اقبلوا الروح القدس&#8221;. ومع أن توما لم يكن موجودًا إلا انه لم يحرم من قبول الروح القدس لأن الروح حل في الكل أي الذين وعدوا بأن يأخذوه وهم الذين حسبوا ضمن جماعة الرسل المكرمين.</p>
<p>من غفرتم خطاياه:</p>
<p>وعندما اعطي المسيح الروح القدس قال: &#8220;من غفرته خطاياه تغفر له ومن امسكتم خطاياه أمسكت&#8221;. والله الحي وحده هو القادر علي ان يمنح الخطاة غفران الخطايا. ولايستطيع احد ان يعفو عن ذنوب الذين يخطئون ضد الناموس الإلهي إلا واضع الناموس نفسه.ولكننا نستطيع أن ندرك معنى النص بالمقارنة بالامور البشرية مع الاحتفاظ بالفوارق. الذين ينفذون أحكام وقوانين ملوك الأرض أو يلغون قرارتهم هم الذين نالوا المقام والكرامة الملوكية. وقياساً علي هذا، بأي كيفية وبأي معنى اعطي المخلص لرسله الكرامة اللائقة بالله وحده؟ الكلمة الذي في الآب لا يمكنه ان يخطئ وما يفعله انما يفعله بكل صلاح فهو الذي دبر ان الذين منحوا الروح القدس وهو الرب والله، تصبح لهم القوة علي أن يغفروا ويمسكوا الخطايا لأن الروح القدس الساكن فيهم هو الذي يغفر ويمسك، حسب ارادته رغم ان العمل يتم بوسيلة بشرية. والذين لهم روح الرب يغفرون او يمسكون الخطايا بطريقتين:</p>
<p>اولاً: انهم يدعون الناس للمعمودية والذين يستحقون المعمودية بسبب التوبة ونقاوة حياتهم بعد اختبار التصاقهم بالإيمان ينالون المغفرة ولكن في نفس الوقت يمنعون بل يطردون الذين لايستحقون هذه النعمة الإلهية وهكذا يمسكون الخطايا.</p>
<p>ثانياً: انهم يغفرون الخطايا أو يمسكونها عندما ينتهرون أبناء الكنيسة الذين يخطئون ويمنعون الصفح عمن لا يتوب كما فعل بولس عندما سلم الذي زني في كورنثوس لهلاك الجسد لكي تخلص الروح(١كو٥ :٥)، وبعد ذلك أعاده إلى الشركة لكي يبتلع من وعندما يسكن روح المسيح في قلوبنا فإنه يعمل الأمور التي تخص الله وحده،لانه الله الحي الذي له المجد والكرامة الخاصة باللاهوت وله القوة والسلطان علي القوانين المقدسة<a href="#_ftn5" name="_ftnref5">[5]</a>.</p>
<h4>الإيمان بأمور لا تري للقديس أغسطينوس أسقف هيبو</h4>
<p>أدلة منطقية تثبت إمكانية الإيمان بأمور لا تُري بالعيون المادية</p>
<p>١- هناك أناسُ يعتقدون أن الديانة المسيحية يلزم السخرية منها ، وليس التمسُك بها ، وذلك لأنه لا يمكن إثباتها بأمور مرئية ، بل أن الناس فيها مطالبون بالإيمان بأمور لا تري . ونحن إذاً لكيما نَدحض فكر هؤلاء الحكماء في أعين أنفسهم الذين لا يريدون أن يصدقوا ما لا يستطيعون أن يروه بعيونهم ، فإننا لا نستطيع بالطبع أن نُظهر للعيون البشرية هذه الأمور الإلهية التي نؤمن بها لكننا نستطيع أن نُظهر للفكر البشري أنه يمكننا تصديق حتي الأشياء التي لا تُري .</p>
<p>بداية يجب أن نقول لهؤلاء الذين بحماقتهم قد أعطوا لعيونهم الجسدية أهمية جعلتهم لا يصدقون كل ما لا يرون بهذه العيون : كم من أمور يصدقونها بل ويعرفونها ولكنها لا تُري بعيونهم تلك ؟ هذه الأمور غير المحصاة توجد في عقولنا نفسها- مع العلم أن طبيعة هذا العقل ذاته أيضاً أنه غير مفحوص &#8211; كالإيمان الذي به نصدق أمراً ما والفكر الذي به نحكم بأن نصدق الشيء أو لا نصدّقه ، بالإضافة إلي أمور أخري كثيرة ، هذه الأمور جميعها غريبة عن أنظار العيون الجسدية ،وبرغم من ذلك كم هي مكشوفة وواضحة ومؤكدة لعيون فكرنا الداخلية؟ إذا كنّا بدون شك ندرك وجود الإيمان والأفكار رغم أنه لا يمكن رؤيتهما بالأعين الجسدية فكيف لا نؤمن بالمسيح إذاً ؟</p>
<p>٢-لكن قد يقولون أن الأمور التي في العقل ، نستطيع بواسطة العقل نفسه أن نميزها فلَيْس لنا حاجةُ أن نراها بعيون الجسد ، لكن تلك الأمور التي تطالبنا بأن نؤمن بها ليست هي أشياء خارجة عنا حتي نراها بعيون الجسد ، ولا هي داخل عقولنا حتي أنه بتمرينات مُعيَّنة للفكر قد نراها … زاعمين أن تلك الأشياء التي يصدقونها هي فقط الأشياء التي يرونها أمامهم . لذلك أقول أنه يجب علينا بالتأكيد أن نؤمن ببعض الأمور الحاضرة ، وإن كنّا لا نراها ، لكيما نستحق أيضاً، أن نري الأشياء الأبدية ، التي نؤمن بها .</p>
<p>لكن أنت يا مَنْ لا تصدق إلا ما تراه ، هوذا الماديات التي حولك تراها بعيون الجسد ، ونيَّاتك وأفكارك الخاصة تراها بعيون عقلك إذ هي حاضرة في عقلك . ولكن أخبرني ، نية صديقك نحوك … بأي عيون تراها ؟ فلا يمكن أن تُري النيات بعيون الجسد . فهل تري في عقلك أيضاً ما يدور في عقل آخر ؟ ولكن إن كنت لا تراها ، فكيف تُبادل نية صديقك الصادقة نحوك إن كنت لا تؤمن بما لا تراه ؟</p>
<p>هل ستقول جدلاً بأنّك تري نية الآخر من خلال أعماله ؟ إذن أنت ستري أفعالاً ، وستسمْع كلمات ، ولكن نية صديقك التي لا يُمكن أن تُري أو تُسمع فأنت ستصدقها .</p>
<p>فهذه النية ليس لها لون أو شكل حتي تراها العينان ، وليس لها صوت أو نغم ، حتي تسمعها الأذنان ، وهي ليست نيتك ، لكي ما تَكُون محسوسة في قلبك . وعلي الرغم من أنها لا تُري ، ولا تُسمع ، ولا هي منظورة بداخلك فيجب عليك أن تصدّق هذه النية ، وإلا ستشعر بالوحدة في حياتك ، بدون صداقة ، ولن تستطيع أن تبادل من يحبك نفس الشعور .</p>
<p>فأين هذا الذي تقوله إذن أنك لا تستطيع أن تصدق شيئاً إلا لو رأيته بعين الجسد أو رأيته داخل قلبك ؟ هوذا من كل قلبك تصدِّق ما في قلب غيرك وتؤمن حيث لا تستطيع أن تري بعينيك أو بقلبك . فوجه صديقك تستطيع أن تميزه بعين الجسد وموقفك نحوه يمكنك أن تميزه بعقلك ، لكنك لن تستطيع أن تُقدَّر محبة الآخر لك مالم تبادله هذا الحب ، إذ تصدق أن فيه هذا الحب الذي لا تراه . فمن الممكن أن يخدع الرجل غيره باختلاق النية الحسنة ، وإخفاء الحقد . وحتي إن لم يكن يفكرُ في إيذائك ولكن لأنه قد ينتظر أن ينتفع منك بشيء ، فمن الممكن أن يختلق المحبة علي الرغم من أنها ليست فيه .</p>
<p>٣- لكنك تَقُول ، إنك تصدق صديقك ، الذي لا يمكن أنْ تري قلبه ، لأنك اختبرته في تجاربك ، إذ لم يتركك في وقت الشدة … فقد عرفت حقيقة شعوره نحوك . فهل هذا معناه انه يَجِبُ أنْ نتمني أن تصيبنا الشدائد لكيما نتيقن من صدق حب الصديق لنا ؟ فهذا يعني أنه لن يوجد رجل سعيد مع الأصدقاء الأوفياء ، مالم يحزن الصديق في المصائب التي تصيب صديقه !ولن يتمتع أحد إذن بحب الآخر مالم يتألم بآحزان ومخاوف ! وكيف نتمني السعادة مع الأصدقاء المخلصين ولا نخشاها ، ان كنّا لا نستطيع ان نُثبت صدق حبهم إلا من خلال الأحزان ؟ ولكن من الممكن أن يكون لك صديق في وقت السعة ، وإن كنت تستطيع أن تُثبت صداقته بالأكثر في وقت الشدة . لكنك بالتأكيد لن تعرِض نفسك للخطر لكيما تتيقن من صداقته مالم تكن متأكداً أنه سيُثبت حسن ظنك ، وهكذا فأنت فيما تعرض نفسك للخطر فأنت تصدق صديقك من قبل أن تجربه .</p>
<p></p>
<p>بالتأكيد ، إن كان لا يجب علينا أن نصدق الأمور التي لا تُري ، لكننا حقاً نصدق قلوب أصدقائنا وإن كنّا لم نبرهن علي صدق شعورهم ، وحتي بعد أن نتأكد من صداقتهم من خلال ضيقاتنا فنحن نصدق نيتهم الصادقة نحونا دون أن نراها . إذاً عظيم جدا الإيمان الذي به نحكم بشكل ملائم إننا نري &#8211; بعيون ما &#8211; الذي نؤمن به ، فإننا يجب أن نؤمن إذن ، لأننا لا نري<a href="#_ftn6" name="_ftnref6">[6]</a> .</p>
<h3>عظات آباء وخدام معاصرين</h3>
<h4>قداسة البابا تواضروس الثاني: طوبى للذين آمنوا ولم يروا</h4>
<p>+ هذا الفصل الانجيلى يوضح الآتى :</p>
<p>١- تم لقاء السيد المسيح بالرسل ومعهم توما الرسول فى الأحد التالى للقيامة</p>
<p>( ويسمى طقسيا أحد توما ) . وكان الله بسابق علمه قد عرف ان القديس توما قد طلب لمس اثر المسامير والحربة ، فى جسد الفادى ، حتى يؤمن بقيامته فعلا .</p>
<p>٢- ولما جاء الرب يسوع الى العلية ، ألقى السلام على الحاضرين ، ثم تحدث مع القديس توما الرسول وطلب منه أن يضع أصبعه فى مواضع دق المسامير ويضع يده فى موضع طعن الحربة .</p>
<p>٣- فأعترف توما بألوهيه الفادى وقال بلسان الايمان : &#8221; ربى والهى&#8221; وهو أول من اعترف بذلك الايمان بعد القيامة .</p>
<p>٤- وكان تعليق المخلص هو : &#8221; لأنك رأيتنى (بجراحى ) ياتوما آمنت ، طوبى للذين آمنوا ولم يروا &#8221; وهو تطويب لكل نفس تقبل المسيح مخلصا وفاديا لها فى كل زمان ومكان .</p>
<p>٥- فالنفس التى تؤمن بالرب يسوع فاديا ، وتسير معه  حسب وصاياه  تنعم بالحياة الآبدية ،وتتمتع بالفرح مع السلام ، الذى يهبه الروح القدس لكل نفس مؤمنة .</p>
<p>القديس توما الرسول</p>
<p>فى هذا اليوم تذكار شهادة توما الرسول وهو :</p>
<p>+ من الاثنى عشر رسولا ( من تلاميذ المسيح ) ، هو الوحيد الذى لم يؤمن الا عندما رأى بنفسه .</p>
<p>+  بشر القديس توما الرسول فى بلاد الهند .</p>
<p>+ ظهور الرب لتوما : ها هو الرب يظهر له ظهورا خاصا ، فبعد ان ظهر للعشرة  تلاميذ المجتمعين فى العلية ، أعطاهم سلامة ، وأرسلهم للخدمة &#8230;. ها هو يظهر فى الأحد الثانى خصيصا وتوما معهم .</p>
<p>+ ثم يركز اهتمامه وانتباهه على توما وحده  ، فقد شاء الرب بظهوره هذا أن يعطينا درسين هما :</p>
<p>١- ترفقه بالنفس المحتاجة ، واهتمامة بها بصورة خاصة لكى يريحها ويشفيها من كل شكوكها.</p>
<p>٢- لكنة فى نفس الوقت لا يقبل أن يكون هذا مسلكا عاما ، فالايمان هو : &#8221; الثقة بما يرجى والايقان بأمور لاترى &#8221; (عب١١: ١) . لذلك قال الرب &#8221; طوبى للذين آمنوا ولم يروا &#8221; معطيا هذا التطويب لنا جميعا نحن الضعفاء اذ آمنا به ، وبقيامته ، لا بعين حسيه بل ببصيرة داخلية أعطاها لنا روح الله .</p>
<p>+ حين ظهر لهم نفخ وقال لهم &#8221; اقبلوا الروح القدس ، من غفرتم خطاياه تغفر له ، ومن أمسكتم خطاياه أمسكت &#8221; .</p>
<p><a href="#_ftn7" name="_ftnref7">[7]</a>(يو٢٠: ٢٢-٢٣) .</p>
<h4>المتنيح الأنبا يؤانس أسقف الغربية: الإيمان</h4>
<p>في الاعداد لرحلة الطريق الى الله يأتي الايمان لكن ماذا يمكن أن نقوله عن الايمان ، الذي قال عنه الرسو ل بولس انه بدون ايمان لا يمكن ارضاء الله (عبرانين ٦:١١) … &#8220;وكل ما ليس من الايمان فهو خطية&#8221; (روميه ١٤ :٢٣) .</p>
<p>ابها الأخوه &#8230; ان الطريق الي الله يحتاج بلا شك الي الايمان .. فالطريق هو إلى الله ، والإيمان هو بالله وفى الله …  فما هو هذا الايمان الذي تحتاجه ونحن نعد لرحله الطريق؟</p>
<p>لقد قدم بولس الرسول تعريفا محددا للايمان قال :&#8221;الإيمان هو الثقه بما يرجي ، والايقان بأمور لا تري&#8221; (عبرانين١١ :١) …الإيمان ثقه ، ولانه ثقه بالله ، لذا &#8220;فكل ما ليس من الايمان فهو خطيه&#8221;&#8230; لأن عدم الثقه فى الله اهانه له &#8230; إذا حدث وقال إنسان لآخر إني لا اثق بك ، أو لا ثقه لي فيك ، ألا تعتبر هذه إهانه كبيره لذلك الانسان ؟!.. وحتى لو لم نتجرأ ونقول هذه الكلمة الله أو عنه ، لكنه يعرف الخفايا والسرائر…</p>
<p>الايمان هو اليد التي تأخذ ما تريده من الله .. هي اليد التي يتعامل الله معها ، وبها نأخذ كل عطاياه إذا أراد إنسان أن يعطي آخر شيئا ما ، فعلى هذا الأخر ان يمد يده ويبسطها لكي ما يأخذ هذا الشيء &#8230; من جهه الله هو مستعد أن يعطيك كل شيء مقابل شيء وا حد هو الايمان !! الم يقل المسيح بفمه الإلهي الطاهر &#8220;كل ما تطلبونه في الصلاه مؤمنين تنالونه (متی ۲۱ : ۲۲)… لقد أعطي الله الإيمان كل القوه ، وكل الفاعليه ان ياخذ كل ما يريده .</p>
<p>على ان فشل البعض في الحصول على طلباتهم من الله &#8211; رغم ادعائهم بالايمان &#8211; إنما يرجع لبعض الأسباب… لابد وان يكون الایمان کاملاً ولكي يكون الايمان كاملاً لا بد وان تتوافر له و معه بعض العناصر…</p>
<p>أ- الشعور بوجود الله:</p>
<p>أول ما ينبغي توفره في الايمان هو الشعور بوجود الله &#8230; نحن في رحلة طويلة وسائرين فيها ، ولا نعلم ما ذا يصادفنا خلالها ، لذا فإن الأمر يتطلب إيمانا بالله… يقول معلمنا بولس الرسول:</p>
<p>&#8221; لكن بدون إيمان لا يمكن إرضاؤه لانه يجب أن الذي يأتى الي الله يؤمن بأنه موجود وانه يجازي الذين يطلبونه &#8220;(عبرانيين٦:١١)&#8230; وسوف تعرض لهذه النقطه بإسهاب ونحن نعالج موضوع رفاق الطريق &#8230; أن الله يرافقنا في هذا الطريق مع رفاق آخرين &#8221; لانه يجب أن الذي يأتي الي الله يؤمن بأنه موجود &#8221;</p>
<p>ما معنى أن الله موجود ؟ ما معنى الشعور والاحساس بوجود الله؟</p>
<p>نقول موجود ، وربنا موجود… نعم ، الله موجود . لكن المقصود هنا ليس المعني اللاهوتي أن الله موجود في كل مكان.. إنما موجود هنا تعني أنه ينظر ويعتني ويتصرف وينتقم إذا تطلب الأمر الانتقام ، يحفظ إذا لزم الحفظ ، ويستر إذا احتاج الأمر الى الستر، ويشجع في حالة الحاجة الى التشجيع ويبعث الرجاء فى النفس في حالة الافتقار إلى الرجاء.</p>
<p>نعم الله موجود &#8221; انه يجب ان الذي ياتي الي الله ويؤمن بانه موجود&#8221;. هناك بعض الناس في أوقات الضيق والتجارب يقولون نريد ان نري اين الله-  فين ربنا ده… الانسان كاد يكفر اين هو الله. ولو كان فيه ربنا كان يحصل كده … الخ. مثل هؤلاء الناس لا يشعرون أن الله موجود. ولو ان الله اعطاهم كل رغباتهم لكان بالفعل موجودا ، حتى لو كانت هذه الرغبات خاطئه. ومن المستحيل أن يحقق الله رغبات خاطته ، أو يعطي الانسان ما ليس لخلاص نفسه.</p>
<p>على أن الحالات ، فإن الشعور بوجود الله عنصر من عناصر الايمان… هو تدريب شيق وقوي ونافع جدا . لانه يمنع الانسان من الزلل إنه يحس بان الله موجود- ليس فقط ليتشجع بهذا الشعور والاحساس بل موجود وناظر اليه ويرقب كل تصرفاته… وهذا وحده كاف لردع الانسان ومنعه من الخطأ. وما أبلغ العباره التي قالها المرنم :</p>
<p>&#8220;جعلت الرب أمامي في كل حين لانه عن يميني فلا اتزعزع&#8221;(مز٨:١٦) … وطالما هو موجود ، فإنه يمنع الاضرار، ويوقف المصائب ويبعد عنا الكوارث … هذا هو الإيما ن ببساطة هذا عن العنصر الأول الخاص بالاحسا س بوجود الله… أما العنصر الثاني فهد الثقة في الله.</p>
<p>ب &#8211; الثقه الله :</p>
<p>الايمان هو ان يثق الانسان في الله ، وفيما يطلبه منه &#8230;تعالوا نقيم ثقتنا بالله كبشر ، إنه لأمر مخجل حقا ان يثق المريض في طبيبه اكثر من ثقته بالله &#8230; الانسان يركب وسيله المواصلات أيا كانت ، وينشغل بالقراءه او أي شيء آخر ، وهو واثق ان السائق سوف يصل به إلي حيث بريد !! إنه أمر مخجل حقا ان نثق ببعض الناس أكثر من ثقتنا بالله !! لماذا هذا ؟! .</p>
<p>لقد أعطانا الله مواعيد عظمي وثمينه (بطرس الثانية ١ :٤)&#8230; ها أن الله قد أعطاك كل شيء أعطاك سلطانا على السماء والارض&#8230; إن الله لم يعطنا الجزء ، بل أعطاك سلطانا على السماء والارض&#8230; ان الله لم يعطنا ا لجزء ، بل أعطانا الكل بواسطه الايمان &#8230; انسان محتا ج يطلب من انسان ثري أن يقرضه مبلغا من المال فيقول له ذلك الثري الطيب سوف لااعطيك المبلغ الذي تطلبه، بل سأعطيك مفتاح خزانتي لتأخذ ما تريد !! هكذا يتعامل الله معنا …</p>
<p>الم يقل المسيح له المجد &#8221; إسألوا تعطوا . أطلبوا تجدوا اقرعوا يفتح لكم . لأن كل من يسال يأخذ ، ومن يطلب يجد ومن يقرع يفتح له &#8221; (متي ٧: ٨،٧)&#8230;</p>
<p>&#8221; ومهما سألتم باسمي فذلك افعله ليتمجد الآب بالابن ان سألتم شيئا باسمي فاني أفعله &#8221; (يوحنا ١٤: ١٣-١٤). وأمام هذه المواعيد العجيبة ، هناك عيبا فينا ، أو أننا لا نريد أن نأخذ !! وبطبيعة الحال فإن الله صاد ق ، وحاشا له أن يكذب (روميه٤:٣) .</p>
<p>&#8221; السماء والارض تزولان ولكن كلامي لا يزول &#8220;( متى ٢٤ :٣٥)&#8230; هذه هي مواعيد الله &#8230; إذن لا بد وان يكون العيب فينا …</p>
<p>ان يد الله ممدوده مستعده لعطائنا ، لكننا لا ناخذ… بابه مفتوح مستعد لدخولنا لكننا لا ندخل ، وصوته العالي ينادينا ونحن لا نصغي ولا نسمع أولا نريد أن نسمع ونقبل إليه !! العيب ليس في الله بل فينا … هلم ثق في الله وكل مواعيده وتعال وسوف تري حسن صنيعه معك &#8230; فقط ثق في مواعيده واتكل عليه من كل قلبك وستري عجبا…</p>
<p>لكن علينا ان نعرف ونحن نتكلم عن الثقه في الله ، ان هناك اعداء للايمان ، ومن أعداء الايمان العقل ، بل لعله أكبر الاعداء!! ليس معنى هذا ان العقل خطيه أو تجربه حاشا لنا أن نقول ذلك .</p>
<p>لكننا نقصد الانسان الذي يضع اقوال الله ومواعيده تحت عقله وفحصه ، يأخذ منها ما يقبله عقله ، ويرفض كل ما عداه&#8230; مثل هذا الإنسان لن يستفيد من مواعيد الله … لقد امتدح السيد المسيح إيمان الصغار :</p>
<p>&#8221; الحق أقول لكم ان لم ترجعوا وتصيروا مثل الاولاد فلن تدخلوا ملكوت السموات &#8221; ( متی ٣:١٨)&#8230; وما ذلك إلا لان الصغار عندهم عنصر التصديق الذي يستند الي البراءه والبساطة الطفل أو الصغير لا يفكر بعقله ، لكنه يسلم بما يقال له ويصدقه…</p>
<p>هكذا مطلوب منا أن نثق في صدق الله وصلاحه وحبه وعنايته &#8221; هل تنسي المراه رضيعها فلا ترحم ابن بطنها حتي هولاء ينسين وانا لا أنساك &#8221; (اشعياء ٤٩: ١٥)&#8230; ونثق في ان الله لا ولن يتغير &#8221; ليس عنده تغییر ولا ظل دوران ( یعقوب ۱ :١۷). وهو هو امسا واليوم وإلي الأبد</p>
<p>(عبرانيين ١٣ : ٨)&#8230;. ومعني أن الله ليس عنده تغيير ، انه كما كان مع آبائنا واسلافنا سيكون معنا &#8230; إن الكتب المقدسة وسير القديسين مليئة بمعاملات الله معهم ، وعنايته بهم ورعايته لهم ،حتي وهم في شقوق الارض والمغاير والبراري والجبال &#8230; أما عنصر التغيير فقد حدث فينا ، فقلت ثقتنا في الله أو كادت تنعدم &#8230;</p>
<p>ينبغي أن تكون أحد عناصر ثقتنا في الله أنه صالح و محب لا ينسي أولاده . ثم نثق في قوته وقدرته وانه قا در علي كل شيء &#8230; ان هذا الكلام يعتبر من البديهيات ، لكن الكلام النظري شيء ، والإحساس و اليقين بصدقة شيء آخر هو المطلوب &#8230; ان عباره &#8220;الضابط الكل &#8221; التي نسمعها ونرددها ، معناها الحرفي في اللغه اليونانيه &#8221; الكلي القدره &#8220;. هذاهو الذي نعبده ونسير خلفه ونتبعه ، وهذه هي الثقه التي لنا فيه &#8230; إنه معنا كل الايام إالي إنقضاء الدهر ( متي ٢٨ : ۲۰).</p>
<p>حدث أن شعب الله قديما ، فيما كانوا يقتربون من شاطئ البحر الأحمر ، أنهم رأوا فرعون بمركباته وجنوده وفرسانه ،يجدون في أثرهم . امتلات قلوبهم هلعا ورعباً ، وارتجفوا وتذمروا علي موسي لكن موسي رجل الله قال لهم :&#8221; لا تخافوا. قفوا</p>
<p>وانظروا خلاص الرب الذي يصنعه لكم اليوم &#8230; الرب يقاتل عنكم وانت تصمتون &#8221; (الخروج ١٤: ١٤،١٣)… ان حادث البحر الاحمر لم  تكن حدثا تاريخيا وقع وانتهي ، لكنه مازال علي مستوي الوقع يتكرر من يوم الي يوم .مازال الله بنفس الصورة القديمة يعمل معنا ،لكن فهمنا ثقيل – الم يقل  المسيح له المجد:</p>
<p>&#8220;وهذه الآيات تتبع المؤمنين يخرجون شياطين باسمي …يحملون حيات، وان شربوا شيئا مميتا لا يضرهم (مرقس ١٦: ١٧، ١٨) يجب ان نفهم أننا نحيا بمعجزة وكل من له حس روحي يستطيع أن يلمس يد القدير وهى تعمل . أنا لا أتكلم عن أحداث مضى عليها مئات السنين لكنى اتكلم عن تاريخنا القريب والمعاصر والله بهذا المفهوم  يتعامل مع شعبه کافراد وجماعه وكنيسه…</p>
<p>ماذا يقول السيد المسيح أيها الإخوه &#8221; اطلبوا أولا ملكوت الله وبره وهذه كلها تزاد لكم . فلا تهتموا بالغد &#8221; (متى ٦: ٣٣، ٣٤)&#8230; وملكوت الله تعني هنا خلاص النفس &#8220;ها ملكوت الله داخلكم &#8221; ( لوقا ٢١:١٧) الله يريدنا الا ننشغل الا بخلاص انفسنا، اما الامور الباقيه فقد أخذ الله مسؤليتها &#8230; يعوزنا هذا الإيمان ونحن في رحلة الطريق الي الله ، حتي لا ننشغل بأمور أخري ، أعلن الله تكفله بها &#8230;</p>
<p>هناك عدد آخر من أعداء الإيمان هو الشك &#8230; في إحدى المرات أمر السيد المسيح تلاميذه ان يركبوا السفينة ويذهبوا الي عبر البحر ، وفي الهزيع الأخير من الليل راوه التلاميذ ماشيا على الماء . في البدايه ظنوا أنه خيال . فقال لهم &#8221; انا هو لاتخافوا &#8220;. فقال بطرس &#8221; ان كنت انت فمرني ان أتي اليك ماشيا علي الماء ، فقال له تعال فنزل بطرس من السفينه ومشي علي الماء لياتي الي يسوع . ولكن لما رأي الريح شديده خاف . واذ ابتدأ يغرق صرخ قائلا يارب نجني . ففي الحال مد يسوع يده وامسك به و قال له يا قليل الايمان لماذا شككت &#8221; (متي١٤ : ٢٢ -٣١)&#8230; ولو لم يشك بطرس لاستمر في سيره علي الماء.</p>
<p>وفي يوم اثنين البصخه بعد ان يبست شجره التينه غير المثمره بأمر الرب يسوع وبكلمته قال لتلاميذه &#8221; إن كان لكم إيمان ولا تشكون فلا تفعلون أمر التينه فقط ، بل إن قلتم أيضا لهذا الجبل انتقل وانطرح في البحر فيكون &#8216; (متي ٢١ : ٢١)&#8230; بقدرما يبدو هذا الايمان في نظر البعض لا نستطيع ان نخطيء ، وننسب لله عدم الصدق في كلامه ومواعيده . ان عطيه الايمان ، وهبه ا لايمان ، وقوه الايمان ، وما يستطيعه الايمان إنما هي عطيه مجانيه لكل إنسان بشرط يصدق فقط &#8230; الله يريد أن يعطينا ، ويريدنا أن نأخذ ، لكن يعوزنا يد الايمان المبسوطة التي من الله . أعود واقول إن الايمان هوالي اليد التي تأخذ كل شيء من الله .</p>
<p>ثم ماذا ايها الاخوه &#8230; كان ينبغي ان نتكلم عن شيء آخر، ونحن نعد لرحله الطريق ، وهو شيء مرتبط بالا يمان ، لكن سوف اتحدث عنه بإسهاب في الموضوع القادم &#8221; مؤونه الطريق &#8220;&#8230; هذا الشيء هو الحب &#8230; والحب والايمان مرتبطان ببعضهما . يقول رب المجد &#8221; الذي عنده وصاياي ويحفظها ، فهو الذي يحبني والذي يحبني يحبه أبي وانا أحبه واظهر له ذاتي &#8221; (يوحنا ٢١:١٤)&#8230; هذا هو قمه الايمان يستند الي الحب . ان الحب والايمان يسيران جنبا الى جنب ،ويرتبطان ببعضهما ارتباطا وثيقا &#8230;. لانه كيف يمكن لإنسان أن يحب من لا يصدقه ( الايمان) من لا يحبه ؟!</p>
<p>الا فليباركنا الله بكل بركه روحيه ويعين ضعف ايماننا ، ويختم بالبركه علي هذه الكلمة آمين<a href="#_ftn8" name="_ftnref8">[8]</a> .</p>
<h4>الرب يسوع هو إيماننا وقيامتنا من الشك للقديس القمص بيشوي كامل</h4>
<p>الأحد الأول  من الخماسين المقدسة بتعتبره الكنيسة عيد سيدى ، يعنى المسيح ليه أعياد سيديه كبيرة ، وأعياد سيديه صغيرة . من الأعياد السيدية الصغيرة : زى الختان ، ودخول أرض مصر ، الهروب لمصر ، ودخول الهيكل .. فأحد توما ده عيد من أعياد المسيح السيدية الصغيرة . الأعياد الكبيرة زى البشارة والميلاد والغطاس ، والقيامة .. فالنهاردة عيد من أعياد المسيح السيدية، ويمكن إحنا ما بناخدش بالنا منه لأنه دايماً بيجي يوم أحد وإحنا بنعتبر يوم الأحد دايماً يوم فرح . لكن حقيقتة النهاردة عيد من الأعياد السيدية بتاعة المسيح اللى هو أحد توما .</p>
<p>والكنيسة  الواعية بالروح القدس أعتبرت أن إصلاح الإيمان بتاع تلاميذ المسيح ده عيد لآن الإيمان لو إنحرف يبقى خطر كبير جداً</p>
<p>لكن المسيح نفسه هو اللى بييجى ويصلح  الإيمان اللى إحنا أحياناً بنتعثر فيه . فقال له : &#8221; هات إيدك وحطها مطرح الجروح &#8230; ولا تكن بعد غير مؤمن ..وشوف ياتوما ..  فيه ناس هاتآمن من غير ما تشوف .. طوبى لهم .</p>
<p>لكن ياأحبائى موضوعنا بنعمة ربنا هو القيامة في حياتنا . عايز النقطة دى تبقى ثابتة في ذهننا إن المسيح مش جاى علشان يقوم الأموات من القبور ، وإن كان هذا حدث في وجود المسيح على الصليب لما اسلم الروح خرج كثير من الأموات اللى في القبر ودخلوا المدينة المقدسة أورشليم ، ومشوا فيها .</p>
<p>القيامة عمل اختبارى</p>
<p>لكن أريد إن إحنا نكون واضحين جداً .. صحيح إن المسيح كسر الموت وشوكته .. وقام من القبر لكن المسيح مش جاى علشان خاطر يقوم الأموات في اليوم الأخير ، لأن الله قادر بدون مجيئه للعالم إن هو يحدد يوم أو لحظة لقيامة الأموات.</p>
<p>والناس كلها تقوم وكل واحد يعامله ربنا حسب أعماله لكن أرجو إن يكون ذهننا واضح جداً إن القيامة بتاعة المسيح عمل اختيارى يدخل في حياة كل واحد مننا زى ما نشوف دلوقتى حتى لو كانت الأبواب مغلقه .</p>
<p>في عشية يوم القيامة جه المسيح دخل وكانت الأبواب مغلقه وقال لهم &#8221; سلام لكم &#8221; ففرح التلاميذ إذ رأوا الرب . وبعدين نفخ في وجوههم وقال لهم :  اقبلوا الروح القدس من غفرتم خطاياهم تغفر لهم &#8221; بس ما كنش موجود معاهم توما .. فجه مرة تانية في يوم الأحد .. ونقطة لطيفة تقدر تحس منها أن ظهورات ربنا يسوع المسيح كانت بتم غالباً يوم الأحد . مع إنه هو ممكن يظهر في أي وقت ، لكن هو كان بييجى يوم الأحد لأن يوم الأحد ده أصبح يوم الرب . والكنيسة بتجمع لكسر الخبز يوم الأحد . وفيه ناس الأيام دى بيبقوا اصلاً غالباً يهود يعنى فيه برة كنيسة مخصوصة لليهود المتنصرين، أو اليهود المسيحيين .. دول بعض منهم يقول لك نعيد يوم السبت . فإنت عارف دايماً إن اليهود لهم حاجات دايماً يبقوا متمسكين بها زى أيام الرسل . يطلع إشكالات عن الختان ولازم المسيحى يتختن ولا ما يتختنش ، فتبص تلاقى موضوع السبت والأحد برضه بيثيروه اليهود الداخلين في الإيمان حسب عاداتهم الأولى . لكن المسيح قام يوم الأحد ، وظهر للتلاميذ تانى يوم الأحد .. والروح القدس حل يوم الأحد . أصبح اليوم الجديد . يوم الرب ده يوم الأحد .</p>
<p>القيامة حياة معاشة واختبار شخصى</p>
<p>القيامة يا أحبائي عمل .. يعنى طلع من مخك نهائياً إن القيامة حكايته إن الناس تقوم من القبور يوم القيامة اللى بتتكلم عنها كل  الديانات .</p>
<p>إحنا بنتكلم عن موضوع تانى بعيد خالص خالص إحنا بنتكلم عن القيامة كاختبار شخصى في حياة المسيحى .. تقول لى ازاى عمليا ؟ .. آهو الإنجيل بيعلمنا . كان التلاميذ مجتمعين بسبب الخوف .. كانوا مجتمعين من أجل الخوف من اليهود فجاء يسوع ووقف في وسطهم وقال سلام لكم وأراهم يديه ورجليه . إنت عارف حتى التعبير العادى يقول لك فلان ده ميت  من الخوف  فدول كانوا في حالة موت .</p>
<p>فالموت في الواقع مش بيجى من بره .. الموت جوه . فالخوف موت لأنه قله إيمان ، نسيوا وعود المسيح . وكلامه في الكتب .. زى ما قال لتلميذى عمواس اللى كانوا ماشيين بيتضاربوا في الطريق .. قال لهم أيها الغبيان والبطيئا القلوب .. فالخوف ده موت .</p>
<p>فدخل المسيح علشان يقوم الناس الميتة دى جوه العليه . فدخل وقال بس كده &#8221; سلام لكم &#8221; . أول لما قال سلام لكم . راح الخوف . رد الفعل على طول يقول لك كدة : ففرح التلاميذ .. من الحزن وخوف .. إلى فرح آهى دى القيامة . في اختبار الإنسان دى اسمها قيامة حصل إزاى الكلام ده ؟ !</p>
<p>كل اللى نعرفه إن ربنا دخل وأراهم يديه ورجليه وجراحاته .. يعنى علامات الصليب وراها لهم . بعدين قال لهم كمان سلام لكم .. بس هو ده طيب نجيبوه من أين يسوع علشان يضيع الخوف ؟ علشان الخوف ده مرض من أمراض الموت . قال ده يدخل والأبواب مغلقه والأبواب مغلقه ده موضوع هو عمق اختبار القيامة ..</p>
<p></p>
<p>أحياناً نتوقع إن ربنا يدخل من الباب المفتوح .. دية مش القيامة . ده هو عايز يقول كدة .. ربنا لما التلاميذ وصلوا لدرجة من اليأس والفشل ، وقالوا خلاص ما فيش فايدة إن يسوع يقوم من الأموات .. ووصلوا للدرجة إنهم خافوا من اليهود وإنتظروا حكم الموت يتنفذ فيهم ، واليهود بيدوروا عليهم بعد ما خلصوا من موضوع المسيح هيدوروا على التلاميذ . فكانوا في منتهى الخوف لأنهم كانوا متوقعين الموت .</p>
<p>القيامة هي الدخول والأبواب مغلقه والأبواب المغلقة دخل المسيح .. فالقيامة هي لدخول في حياتنا والأبواب مغلقه . علشان كدة المسيحية لا تعرف اليأس أو الفشل .. ماتعرفهوش أبداً أبداً .. إيه أقصى درجات القسوة اللى في العالم .. الموت ! إذا كان الموت ده هو آخر حدود يعنى اليأس والفشل . خلاص الواحد بيطلع في الروح إيه الأمل اللى ليه ؟ هنا يبتدى يعمل ربنا اللى هو القيامة من الأموات علشان كده المسيحى دايماً قلبه مليان بالرجاء ، وبالقيامة ..  قلبه مليان بالقيامة يسوع يقول : &#8221; أنا هو القيامة &#8221; .</p>
<p>ما كانش توما موجود كان فيه موت تانى بيدب في حياة توما . تتصور يا عزيزى إن توما ده يقول لا ده ما فيش ربنا ، وإن المسيح ده كان خداع . تتصور إنسان تقابله بالشكل ده ، مثلا مسيحى يقول لك لا .. ولا مسيح ولا كلام من ده ده كلام نظرى ومش عملى . ولو كان المسيح معانا ما كانتش أصابتنا المشاكل والضيقات والتجارب والحاجات دى ، تقول لا يا أخى ده فيه ربنا موجود ، وفيه صليب الآلم ، وفيه مسيح هيقوم في اليوم الثالت .. يقول لك لا دى حالة توبة ما تفتكرش إن دى حاجة بسيطة :  توما كان في حالة الشك بتاعته كان في منتهى الموت ، فدخل ربنا والأبواب مغلقه وقوم توما وقال له : لا تكن بعد غير مؤمن ولكن خليك مؤمن . وقال له يا توما أنا عندى دواء للإيمان إذا إنت تأملت في الصليب اللى هو كان عثره ليك وافقدك الإيمان .. لو تأملت في الجراحات والمسامير بتاعتى ها تتحول لإنسان مؤمن . فتوما حس بحاجة كدة جريت في دمه اسمها القيامة . قال له يارب أنا مآمن ١٠٠٪ قال له طبعاً لأن أنا اللى إديتك القيامة دية .. وأنا ها أديها للناس من غير ما يشوفونى . إنت شفتنى وآمنت ، لكن ها أديها للناس من غير ما يشوفونى .</p>
<p>القيامة هي عمل ربنا القائم من الأموات .. عمل داخلى من أجل هذا يا أحبائي القيامة هي عمل ربنا القائم من الأموات هي ضد الموت . القيامة هي عمل داخلى يشتغل في حياة الإنسان معلش ها أكرر الجملة دى كتير خالص وها أكررها في المرات اللى جايه سفر الرؤيا بيقول فيه قيامتين ، في الإصحاح عشرين القيامة الأولى اللى هي بيعملها المسيح  في قلبنا وفى حياتنا . القيامة التانية اللى هي نبقى نطلع فيها من القبر . القيامة الأولى : ده عمل المسيحية .. فالمسيحى تعرفه إزاى ؟ ! يقول لك شخص .. القيامة عملت في . قيامة ايه يا عم ؟ ده لسه فاضل على القيامة .. يوم القيامة ده يعلم به ربنا .. قل له لا .. ده أنا عايش القيامة دى . دى اسمها القيامة إيه ؟ الأولى . يقول كده سفر الرؤيا إصحاح ٢٠ &#8221; مبارك ومقدس من له نصيب في القيامة الأولى &#8221;</p>
<p>القيامة عى خلع الإنسان العتيق ولبس الجديد</p>
<p>القيامة الأولى زى ما تكلمت عنها قراءات النهاردة .. بتقول كده : اخلعوا الإنسان العتيق الفاسد بحسب شهوات الطغيان ، وتجددوا بروح ذهنكم والبسوا الإنسان الجديد المخلوق نظير الله . اخلعوا القديم والبسوا الجديد .. آهى دى قيامة .. طبعاً هو إنت لو تشيل الجسد بتاعى ده بره ، وتحط  لى واحد تانى ما هي دى تبقى القيامة فعلاً . إحنا في القيامة ها نعمل كده . فبولس الرسول قال لا .. ده القيامة بنمارسها دلوقتى . بنخلع حاجة وبنلبس حاجة علشان كدة القيامة عندنا مش مسألة إنك ما تعملش خطية . لا ده إنت بتلبس حاجة تانية بتشيل حاجة وتحط حاجة تانية . بتشيل إنسان ميت .. ميت .. وتحط إنسان تانى حى الإنسان الميت ده اسمه الإنسان العتيق  بحسب شهوات الجسد ، وشهوات العالم ، واغراءاته .. إلخ .</p>
<p>تقول يا أبونا ده كلام صعب .. أنت عارف الضعط الحالي على الإنسان من ناحية العالم الخارجي . أقول لك فعلاً الكلام ده صعب ، لكن أتؤمن أن يسوع يدخل من الأبواب المغلقة ؟ ! تقول لى آه أنا بآمن بالحكاية دى .. خلاص ..</p>
<p>إذاً إذا كانت كل السكك قدامنا إن إحنا نعيش حسب الإنسان الجديد مقفلة فإن لك إيمان إن الله يدخل في حياتك .. &#8221; حياتك &#8221; مش عايز حياتك الكويسة .. حياتك الوحشة جداً جداً جداً . إن كان لك إيمان إن يسوع يدخل والأبواب مغلقه ، فثق تماماً إنه يتخلق في حياتك إنسان جديد يتجدد مرة أخرى حسب صورة خالقه . أما إيماننا إحنا الكنسى بتاع الكنيسة بتاعتنا إن هذا الإنسان الجديد اتخلق من يوم المعمودية اتدفنا فيبقى إيه ؟ متنا وبعدين اتخلق انسان جديد علشان كده بولس الرسول كان حريص جداً إن يقول إن هذا الإنسان يتجدد في ذهننا حسب صورة خالقه .</p>
<p>ما معنى التجديد</p>
<p>فكلمة يتجدد يعنى إيه ؟ يتجدد ياإخوتى زى انسان إتولد بس ملامحه بتبان أكتر ، يعنى لما يجى كده بعد ما يتولد بيوم يقول لك الولد ده شبه مين ؟ يقول لك مش عارف لسه شكله ما تكونش .. بعد يومين يقول لك فيه ملامح من أبوه .. شوية بعد شوية يقول لك ده واخد من أمه شوية .. بعد أسبوع شكله يوضح .. آهو كل لما يتغذى .. كلما يكبر ، كلما يبان . بعد شوية .. سنة .. اتنين يقول لك الولد ده شكل أبوه تمام   وأخد ملامحه بالضبط . إذاً عملية تجديد بتخلق في شكله رغم إنه اتولد .. خلى بالك علشان فيه ناس بتغلط وتقول لا ، ده أنا يادوبك وأنا عندى عشرين سنة ، كدة لما أقول أنا اتخلصت ولا أنا .. ولا بتاع .. ربنا يحمى الكنيسة من هذه الأمور اللى الشيطان بيزجها في هذه الأيام .</p>
<p>الكنيسة ما علمتناش كده ابداً . علمتنا إن الإنسان إتولد فينا بالمعمودية .. تقول لى لكن فيه ناس اتعمدوا والإنسان الجديد مش واضح في حياتهم . لأن هم بيغطوا عليه . بيردموا عليه بالأعمال الوحشة الشريرة . وتعرف لو كان الإنسان الجديد ده بيتخلق لما بيبقى عندك عشرين سنه ولا تلاتين سنه . لما تآمن بربنا وتبقى كويس وبتاع يبقى ده عملك إنت . يبقى ما دخلش والأبواب مغلقه . يبقى لك الحق إنك تقول أنا اتخلصت ، أو أنا اتجددت . في اليوم الفلانى في الساعة الفلانية .. لك حق تقول أنا لكن ماتقولش المسيح .. تقول أنا اتجددت . لكن أنا ما أقدرش أقول أنا اتجددت في اليوم الفلانى . لكن أقول ولدنى المسيح في المعمودية بالنعمة المعطاة لى . لكن ولا كنت استخقها ولا أدرى بها .</p>
<p>أما وظيفتى حالياً إن أنا أخلع بإستمرار الإنسان العتيق اللى بيتراكم من الجسد ومن العالم . اللى قال عنه الرسول . قال عنه ربنا يسوع : &#8221; اجتهدوا أن تدخلوا من الباب الضيق &#8221; . تقول لى النهاردة دلوقتى ممكن يكون فيه اختبار للقيامة ؟ أقول لك آه . اختبار للقيامة .. مش إنت عايز تقول أنا عايز النهاردة اختبار للقيامة .. هل الإنسان الداخلى الموجود فيك بيكبر ؟ تقول لى وده مبن يعرفه ؟ أقول لك إنت بس تبص تلاقى ملامح حياتك الداخلية بتاخد ملامح حياة ربنا . يتجدد حسب صورة خالقه .. طب وصورة خالقه ؟ .. هو حد شاف ربنا  ؟ أقول لك آه .. مسيحيتنا لذيذة .</p>
<p>لما تلاقى حياتك ابتدت تنطبق عل حياة المسيح على الأرض .. الوداعه بتاعة المسيح ، اللطف بتاع المسيح .. المحبه بتاعه المسيح ابتدأت تبقى في إنسانك الداخلى . تبدأ تقول آه .. ابتدأ ينمو .. حاسس بيه يا أبونا خالص . حاسس بالإنسان الجديد اللى بيتجدد حسب صورة المسيح . حسب صورة خالقه .. آه امال أنا اسمى مسيحى ليه ؟ ما سمونى مسيحى لأن الإنسان الجديد اللى إتولد في ، اللى بيتجدد بالقيامة يوم فيوم هو ذلك الإنسان ده شكل المسيح . فعلشان كده سمونى مسيحى .</p>
<p>فالقيامة اختبار يومى</p>
<p>نعيشه في حياتنا كل يوم . يمكن إذا كانت القيامة لابد أن يسبقها موت . خلع للإنسان العتيق .. علشان كده المسيح لما وصى قال للشاب الغنى : &#8221; اذهب وبع كل مالك وتعال اتبعنى كل يوم حامل الصليب .. تعال واتبعنى حاملاً الصليب .. كل يوم .. كل يوم يقصد إن كل يوم تخلع الإنسان العتيق  ، وكل يوم يتجدد فيك الإنسان الجديد .. حاجة لذيذة ولطيفة جدأ إن كل يوم الإنسان الجديد يكبر .. وكل يوم الإنسان العتيق يتخلع ويترمى . آدى عملية القيامة .</p>
<p>فاختبارك للقيامة  في حياتك اختبار يومى .. اختبار يومى علشان كده يوحنا الحبيب يقول : &#8221; مبارك ومقدس من له نصيب في القيامة الأولى ، سوف لا يكون للموت التانى سلطان عليهم &#8221; .</p>
<p>مبارك ومقدس يا أخى إن كان لك نصيب في القيامة الأولى ، سوف لا يكون لك نصيب في الموت التانى ..لا يقدر الموت التانى أن يؤذيك . علشان كده ربنا يسوع بعد توما ما آمن يقول : &#8221; أما هذه فكتبت لتؤمنوا أن يسوع هو المسيح ابن الله ولكى يكون إذا آمنتم تكون لكم حياة أبدية باسمه<a href="#_ftn9" name="_ftnref9">[9]</a> &#8221; .</p>
<h4>المتنيح القمص لوقا سيداروس: القديس بطرس يعلمني</h4>
<p>سلام لكم ؟</p>
<p>عدنا فأغلقنا الأبواب بكل إحكام لأن الخوف ظل معششاً في قلب كل واحد وفي فكره. لم تمض لحظات ونحن نغلي كمرجل.. وإذا نور وهاج فائق الوصف غشى العلية. وإذا يسوع نفسه قائم في وسطنا.غبث عن وعيي للحظات، كاد قلبي ينخلع أولاً من الخوف والرهبة. ما هذا.. هل هذا خيال.. هل هي رؤيا ؟؟ كدت أصرخ بكل قوتي ولكني لم أضبط قوة . سمعت صوته الذي أعرفه جيد المعرفة يقول: &#8221; سلام لكم! &#8220;.. لم يتكلم أحد ولم يرد أحد. أذهلتنا المفاجأة.. وقلما رأى الإنسان منظراً سماوياً، إن كانت رؤية ملاك تسبب للإنسان أيما ارتباك ! فماهذا الذي أمامنا..قال أيضاً: &#8221; سلام لكم! &#8220;. طار قلبي من الفرح إنه هو هو. دعني آتي إليك كم أمرتني أن أمشي على الماء ..آه يا سيد. ولكن المشي على الماء كان أسهل. تقدم هو إلي وقال :لماذا تخطر أفكار في قلبك؟ ولماذا تظن إنني روح أو خيال؟ يا سمعان بن يونا.. يا بطرس..</p>
<p>+ نعم يا سيدي .. نعم يا ربي وإلهي..</p>
<p>أنا هو يا بطرس لا تخف&#8230;ألم أقل لك مرات كثيرة إنه ينبغي أن أتألم وأصلب ثم في اليوم الثالث أقوم.</p>
<p>+ آه يا سيدي الآن فقط تذكرت..</p>
<p>كيف غاب عني كلامك وأسلمت نفسي للأوهام والخيالات ونسيت..ونسيت.لماذا لا إيمان لك؟ ألم تشهد لي أني المسيح ابن الله الحي؟ أين إيمانك يا بطرس؟! سجدت عند قدميه. أقامني ماسكاً بيدي.. ما هذا يا سيدي.. اسندني بيمينك.. لا تخف يا بطرس هذا أثر المسمار.. ارتعت بالحق ولكنه قال.. ضع يدك في أثر المسمار.. إني خائف یا ربي.. ألا تزال فى الخوف.. سلامي أترك لك.. سلامي أعطيك.. هات اصبعك.وضعت اصبعي في أثر المسمار.. بل وضع يدي في أثر الحربة. لم أشأ أن أسأل لماذا أثر المسامير والحربة مازالت موجودة وقد قمت وكسرت الموت؟ لم أجرؤ أن أسأل. لما لمست موضع الجراحات أحسست أني إنسان جديد بكليتي، قلبي جديد، عقلي جديد، فكري جديد. لقد قام.. حقاً قام.. حقاً قام. لم يعد للشك مكان بعد. رأيته بعيني، لم يقل لي أحد. لمسته بيدي في أثر الجراحات. كلمني ناداني باسمي.جلست معه كما في البداية. جلس في وسطنا. أشرق علينا نور القيامة. ذهبت الظلمة إلى الأبد. غمرنا فرح لا ينطق به ومجيد. قال.. هل عندكم طعام؟.. يا سيد كنا محبوسین.</p>
<p>کمائتين. لم يجرؤ أحد أن يخرج أو يدخل. وعندنا هنا ما تبقى وما حرصنا أن نبقيه.. جزء من سمكة مشوية وقليل من شهد العسل.</p>
<p>وهل تحتاج يا سيدي إلى طعام؟ لكن رجعت عن السؤال. أخذ وأكل وأنا أنظر إليه ويزداد عجبي ولكن مع فرحي. أكل وشرب وأنا جالس بجواره. ومن حين إلى حين أستوثق وأتأكد أنني في صحو ولست في رؤيا أو حلم. أضع يدي على عيني وأتحقق إنني في كامل وعيي . ومرة أعض على لساني فأشعر بالألم.. لا.. أنا في كامل الصحو. بل مددت يدي إلى يسوع أمسكته مرة أخرى، لحم وعظام، ليس روح ولا خيال. ولكن كيف دخل والأبواب مغلقة؟ إذاً هو الرب بالحقيقة قام.. وهذه هي القيامة التي فيه. لقد غلب الموت وكسر شوكته.. يا فرح كل إنسان يعرف يسوع ويؤمن به؟ إنه القيامة والحياة. لقد عشنا القيامة ولمسنا الحياة..سرت في قوة القيامة وقوة الحياة. ثم ونحن في قمة الفرح متهللين وقد امتلأت نفوسنا بهجة ولساننا تهليلاً وقد تملينا من نور وجه يسوع المسيح ابن الله والقائم من الأموات واكتمل إيماننا بلاهوته. وقد ارتسم علينا نور وجهه. لم نجده في وسطنا. كما دخل والأبواب مغلقة لم نشعر بغيابه عنا. كانت هذه نقطة حاسمة فيما بلغناه من الإيمان بالمسيح. لم يفارقنا</p>
<p>السرور. كانت نفوسنا متهللة. بل قد سكن فينا السلام الذي وهبه لنا. كان كل واحد فينا يسترجع ذاكرته فيخجل من قلة الإيمان وعدم</p>
<p>التصديق. ولكن حتى يسوع نفسه رأف بحالنا وإن عاتبنا وبكت عدم إيماننا ولكنه لم يحرمنا من قوة قيامته لنراها، بل نحياها.. لقد أقامنا</p>
<p>بالحقيقة معه.. فلم يعد الموت يخيفنا ولو توالت علينا أوجاع الموت الذي غلبنا في القديم.. نحن من الآن نحيا الحياة الجديدة. هكذا عشنا الساعات التي تلت ظهور الرب ونحن لا نريد أن نسلم أجسادنا للنوم. كان الفرح يدفعنا للصلاة والتسبيح . نعمة وقوة</p>
<p>عظيمة صارت على جميعنا. وعشنا الأيام التالية، الفرح يتجدد كل يوم والبهجة تزداد وليس لنا حديث سوى الرب القائم من الأموات</p>
<p>كيف رأيناه.. كيف لمسناه.. وبينما نحن كذلك إذ توما قد جاء، لم أكن قد رأيته من يوم الجمعة يوم الصلب، رحبنا به ورآنا متهللين جميعنا. قلنا بفم واحد: المسيح قام.. بالحقيقة قام. لقد رأيناه وشاهدناه ولمسته أيدينا وأكل معنا وقدامنا. وكل واحد صار يقول ويشهد بما رآه وما سمعه. وتوما واقف مذهول ومبهوت لم يتكلم حتى سكت الجميع، ثم قطب جبينه وقال.. أنا لا أؤمن حتى أرى أثر المسامير التي قلتم لى عنها إنها مازالت في يده وأضع يدي في جنبه المثقوب بحسب كلامكم. سكتنا وقلت في نفسي إن توما على حق ما لم ير بنفسه ويتحقق من قیامته لا يمكن أن يصدق. وعذرت توما وقلت ها أنا قد سمعت قبلاً  الذين رأوه حياً ولكنني كنت معذباً من الشك حتى أراني ذاته وأعطاني هذه النعمة. وقلت أيضاً كيف سيشهد توما للعالم أنه رأى آيات الرب وعجائبه مرأى العين وحتى صليبه وموته ولم ير القيامة بل سمع من آخرين. إن هذا الأمر يعطل كرازته. وبينما أنا متفكر في هذه الأمور ونحن كلنا مجتمعون وأبواب العلية مغلقة وقد كان ثامن يوم لقيامة يسوع وهو الأحد الذي يليه. كنا في حال الصلاة وإذا النور ذاته برهبته وتوهجه.. نور سلامي روحاني سمائي لا يعبر عنه حل في وسط التلاميذ. وإذ السيد يبادرنا بقوله: &#8221; سلام لكم! &#8220;. شعرنا بقوة السلام تغمرنا</p>
<p>أيضاً كما في البداية. لم يجزع أحد ولم يضطرب أحد. بدا على الوجوه الفرح وإشراق القيامة. فرحنا إذ رأيناه. أشرق فينا وأضاء</p>
<p>علينا. لم يضطرب توما كثيراً وبدا عليه قليل من الحيرة ولكن الرسل شجعوه. ونادی واحد وقال: ها هو يا توما أتراه هيا يسوع</p>
<p>هنا.. يسوع قام. لم يدع الرب وقتاً لحديث بل تقدم بذاته إلى توما وقال.. هات إصبعك. قدم يده بخوف ورعبة فأخذها يسوع وجعلها في أثر المسمار. ثم قال : وهات يدك وضعها في جنبي المطعون. هنا بدت من توما صرخة رهيبة كمن لسعته نار شديدة الاشتعال وصرخ صراخاً عظيماً: &#8221; ربي وإلهي! &#8220;. وهكذا نطق بالإيمان.. إيمان المسيح الإله القائم من الأموات. قال يسوع وهو ينظر إليه بعطف وحب شديد: &#8221; لأنك رأيتني يا توما آمنت! طوبى للذين آمنوا ولم يروا &#8220;. قلنا حقاً يا سيد فالإيمان بك لا يستند إلى دليل مادي بل إلى اشراق الحق في القلب. الإيمان بقيامتك تصديق وثقة ويقين. لا يعتمد على حواس الجسد بل إلى تصديق القلب<a href="#_ftn10" name="_ftnref10">[10]</a>.</p>
<h3>من وحي قراءات اليوم</h3>
<p>&#8221; فقال لهم إن لم أُبصر في يديه رسم المسامير وأدخل أُصبعي في آثر المسامير وأضع يديّ في جنبه لا أُؤمن &#8221;       إنجيل القدَّاس</p>
<p>يقين الإيمان</p>
<p>+ لماذا وضعنا الشك عنوانا لتوما ؟</p>
<p>+ لماذا لايكون يقين الإيمان ؟</p>
<p>+ هو لايريد إيمانا مرتكزا علي خبرات الآخرين حتي لو كانوا قادة الكنيسة</p>
<p>+ ولا يريد إيمان &#8220;آخرون قالوا لك عني &#8211; يو ١٨ : ٣٤ &#8221; بل إيمان &#8221; الذي رأيناه بعيوننا&#8221; (١يو ١ : ١) &#8221;</p>
<p>+ هو يبحث عن اليقين</p>
<p>+ هو يفتش ، هو يدرس ، هو يسأل ، هو يعترض ، هو يستصعب ، هو يسخر ، وهو لايصدق</p>
<p>+ هو يريد أن يختبر بنفسه قيامة الرب</p>
<p>+ هو يريد أن يتكلَّم بعد ذلك مع الآخرين عن خبرة شخصية مع الرب</p>
<p>+ لذلك يبحث عن يقين الإيمان</p>
<p>+ هل نحن مثل المسيح له المجد نتعب أنفسنا ونطيل أناتنا</p>
<hr />
<p><a href="#_ftnref1" name="_ftn1"></a>٥٩- البابا غريغوريوس الكبير &#8211; تفسير إنجيل يوحنا إصحاح ٢٠ &#8211; القمص تادرس يعقوب ملطي<a href="#_ftnref2" name="_ftn2"></a></p>
<p>Elowsky, J.C. &amp;  Oden, T.C. (2007). John 11 &#8211; 21 (The Ancient Christian Commentary on Scripture, new Testament part IVb). Illinois (U.S.A): InterVarsity Press. Pages 372</p>
<p>ترجمة الأخت إيفيت منير : كنيسة مار مرقس ببني سويف- ٦٠</p>
<p><a href="#_ftnref3" name="_ftn3"></a>٦١- ترجمة الأخت إيفيت منير : كنيسة مار مرقس ببني سويف</p>
<p>Elowsky, J.C. &amp;  Oden, T.C. (2007). John 11 &#8211; 21 (The Ancient Christian Commentary on Scripture, new Testament part IVb). Illinois (U.S.A): InterVarsity Press. Pages 372 , 374</p>
<p><a href="#_ftnref4" name="_ftn4"></a>٦٢- كتاب شرح إنجيل يوحنا لكيرلس عامود الدين ( صفحة ٥١٢ ) &#8211; مشروع الكنوز القبطية</p>
<p><a href="#_ftnref5" name="_ftn5"></a>٦٣- شرح إنجيل يوحنا لكيرلس عامود الدين ( صفحة ٥٠٩ ) &#8211; مشروع الكنوز القبطية</p>
<p><a href="#_ftnref6" name="_ftn6"></a>٦٤- كتاب الإيمان بأمور لا تري للقديس أغسطينوس أسقف هيبو صفحة ٩ &#8211; أسرة القديس ديديموس الضرير للدراسات الآبائية &#8211; كنيسة مار جرجس اسبورتنج</p>
<p><a href="#_ftnref7" name="_ftn7"></a>٦٥- كتاب المنجلية القبطية الأرثوذكسية ( صفحة ١٣٣ ) &#8211; قداسة البابا تواضروس الثاني</p>
<p><a href="#_ftnref8" name="_ftn8"></a>٦٦- المرجع : كتاب معالم الطريق إلى الله صفحة ٥٢ &#8211; الأنبا يؤانس أسقف الغربية</p>
<p><a href="#_ftnref9" name="_ftn9"></a>٦٧- المرجع : كتاب عظات مضيئة معاشة صفحة ٣٣٧ &#8211; إصدار مطرانية ملوي وأنصنا والأشمونين</p>
<p><a href="#_ftnref10" name="_ftn10"></a>٦٨- المرجع : كتاب القديس بطرس يعلمني ( صفحة ٩٧ ) &#8211; القمص لوقا سيداروس</p>

      {% endcreateArticleAccordions %}
    </section>
  {% endblock %}
  