---
layout: 'layouts/reading.html'
title: 'اليوم الخامس من شهر بشنس'
permalink: annual/9-5.html
---
  {% block content %}
    <section id="readings">
      <ul>
      {% if '19.105:14-15' != 'null' %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">العشية</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeVespers '19.105:14-15' '42.11:37-51' %}
          </div>
        </div>
      </li>
      {% endif %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">باكر</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeMatins '19.105:26,27,45' '40.17:1-9' '' %}
          </div>
        </div>
      </li>
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <h3 class="flex items-center justify-between">
            <span class="kufi">القداس</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </h3>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeLitugy '58.11:17-27' '61.1:19-21*@+61.2:1-8' '44.15:21-29' '19.99:6-7' '40.23:13-36' %}
          </div>
        </div>
      </li>
        </ul>
    </section>
    <section id="article">
      <h3 class="mt-8 mb-4 heading-explain">شرح القراءات</h3>
      {% createArticleAccordions firstName, lastName %}
        <p>قراءة هذا اليوم (نياحة أرميا النبي ونياحة أبو مقار القس الإسكندري) مُحوَّلة علي قراءة يوم ثامن توت ( نياحة موسي النبي )</p>
<p>يذكر الدفنار والسنكسار نياحة أرميا النبي فقط</p>
<h4>العلَّامة أوريجانوس</h4>
<p>ارميا النبي كخادم، وكرمز للمخلص عند اوريجانوس</p>
<p>ماذا قالت له كلمة الرب؟</p>
<p>قالت له شيئًا مميَّزًا جدًا ومختلفًا عما قيل للأنبياء الآخرين. فإننا لا نجد هذا الكلام موجهًا إلى أيٍّ من الأنبياء.</p>
<p>فقد دُعى إبراهيم نبيًا في الآية: &#8220;إنه نبي وهو يشفع لك&#8221; (تك ٢٠ : ٧) ، ولم يقل له الله: &#8220;قبلما صورتك في البطن عرفتك وقبلما خرجت من الرحم قدستك&#8221; ؛ كما تقدس إبراهيم بعد فترة من الزمن حينما خرج من أرضه ومن عشيرته ومن بيت أبيه؛ ووُلِد إسحق بوعد، لكننا نجد أنه لم توجه إليه تلك الكلمات.</p>
<p>لقد حصل إرميا على عطية خاصة وهي: &#8220;قبلما صورتك في البطن عرفتك وقبلما خرجت من الرحم قدستك&#8221;</p>
<p>يقدس الله لنفسه بعضًا من الناس، فلا ينتظر ميلادهم ليقدسهم (يخصصهم لعمله)، إنما يفعل ذلك قبل خروجهم من الرحم&#8230; ينطبق هذا على المخلص الذي ليس فقط قدَّسه قبل خروجه من الرحم، وإنما أيضًا قبل ذلك (قبل التجسد)، أما بالنسبة لإرميا فقدسه قبلما يخرج من بطن أمه</p>
<p>يعرف الله الأبرار الذين هم مستحقين أن يكونوا معروفين له، إذ &#8220;يعلم الرب الذين هم له&#8221; (٢تي ٢: ١٩)، وعلى العكس فهو لا يعرف غير المستحقين لذلك، إذ يقول المخلص: &#8220;إني لا أعرفكم قط&#8221; (مت ٧ : ٢٣).</p>
<p>نحن البشر حسب مقايسنا نحكم على بعض الأشياء أنها تستحق أن نعرفها، بينما بعضها لا نريد حتى أن نسمع عنها، ولا أن نعلم عنها شيئًا. هكذا رب كل الأشياء يريد أن يعرف فرعون والمصريين لكنهم كانوا غير مستحقين أن يُعرفوا منه. كان موسى مستحقًا أن يعرفه الله، وهكذا كان كل الأنبياء مثله.</p>
<p>إذن لتُمارس أعمال المحبة بكثرة، فيبدأ الرب في معرفتك. فإن كان الله قد عرف إرميا قبلما صوره في بطن أمه، لكنه يبدأ في معرفة البعض عندما يبلغون الثلاثين أو الأربعين من عمرهم&#8230;</p>
<p>يقدس الله لنفسه بعض الناس، أما في حالة إرميا فإنه لم ينتظر حتى وقت ولادته ليقدسه، لقد تقدس فعلًا قبل أن يخرج من الرحم</p>
<p>يمكن أن نكون أولادًا صغارًا حسب إنساننا الداخلي حتى وإن كنا شيوخًا حسب الجسد، كما يمكن أن نكون أولادًا صغارًا حسب إنساننا الخارجي ولكننا ناضجون حسب الإنسان الداخلي، وهذا ما كان عليه إرميا، إذ كانت لديه نعمة الله وهو بعد ولد صغير حسب الجسد. لذلك قال له الرب: &#8220;لا تقل إني ولد&#8221;. وأما علامة أنه إنسان ناضج (كامل) وليس بولد فهو ما جاء بعد ذلك &#8220;إلى كل من أرسلك إليه تذهب وتتكلم بكل ما آمرك به، لا تخف من وجوههم&#8221;</p>
<p>يعرف الله المخاطر التي تلاحق الموكلين على الكلمة من المستمعين لهم، فعندما يوبخون يكرههم الناس، وعندما يلومون يُضطهدون، فيتحمل الأنبياء كل هذه الآلام إذ &#8220;ليس نبي بلا كرامة إلا في وطنه وفي بيته&#8221; (مت ١٣ : ٥٧). هكذا إذ يعرف الله المخاطر التي تلاحق من يرسلهم يقول: &#8220;لا تخف من وجوههم لأني أنا معك لأنقذك يقول الرب&#8221;. فقد جاء عن إرميا أنه أُلقى في الجب (إر ٣٨ : ٦) فكان لا يأكل إلا رغيف خبز كل يوم (إر ٣٧ : ٢١) ولا يشرب إلا قليل ماء محتملًا آلامًا كثيرة، وكما قيل لليهود: &#8220;أي الأنبياء لم يضطهده آباؤكم؟!&#8221; وقيل أيضًا: &#8220;جميع الذين يريدون أن يعيشوا بالتقوى في المسيح يسوع ُيضطهدون&#8221; (٢تي ٣ : ١٢)، وذلك خلال العمل العدواني وبكل وسيلة للمضايقة. كذلك يتحمل المضطَهدون كل الآلام بدون تذمر، راجين أن ُيضطهدوا بلا سبب وليس بسبب خطأ ارتكبوه، وإذا حدث أن أُضطهدنا من أجل الحق، فلنسمع هذا التطويب: &#8220;طوبى لكم إذا عيروكم وطردوكم وقالوا عليكم كل كلمة شريرة من أجلي كاذبين افرحوا وتهللوا؛ لأن أجركم عظيم في السموات، فإنهم هكذا طردوا الأنبياء الذين قبلكم&#8221; (مت ٥ : ١٥)</p>
<p>أين هي الشعوب التي قلعها إرميا؟</p>
<p>وأين هي الممالك التي هدمها؟</p>
<p>لأنه مكتوب بكل وضوح: &#8220;قد وكلتك اليوم على الشعوب وعلى الممالك لتقلع وتهدم&#8221;.</p>
<p>أي سلطان كان لإرميا حتى ُيهلك، إذا افترضنا أن هذه الكلمة موجهة لإرميا: &#8220;وُتهلك&#8221;؟</p>
<p>هل يوجد أعداد كثيرة من الناس بناهم إرميا حتى يقال له: &#8220;وتبني&#8221;؟</p>
<p>يعلن إرميا: &#8220;لم أعمل صلاحًا&#8221; فكيف إذًا يُكلف ب البناء والغرس؟</p>
<p>إذا طُبقت هذه الكلمات على المخلص فلا تُحير المفسرين أو تقلقهم ، لأن إرميا هنا هو رمز للمخلص<a href="#_ftn1" name="_ftnref1">[1]</a></p>
<h4>أيضاً للعلَّامة أوريجانوس</h4>
<p>ارميا كطبيب عند اوريجانوس</p>
<p>يذهب أطباء الأجساد إلى المرضى حتى إلى فراشهم ولا يَكُفون عن بذل كل جهدهم، كما تتطلب منهم مهنة الطب، ليشفوا المرضى. وهم في ذلك يرون مناظر فظيعة ويلمسون أشياءً تثير الاشمئزاز؛ وأمام أوجاع الآخرين لا يحصدون لأنفسهم سوى الأحزان؛ حياتهم غير مستقرة أبدًا. لا يوجَدون أبدًا مع أناسٍ أصحاءٍ، وإنما دائمًا مع المجروحين والمفلوجين والمصابين بالقروح والصديد والحميات وكل أنواع الأمراض. إن أردنا أن نمارس الطب، علينا أن نقوم بكل ما تتطلبه منا هذه المهنة التي اخترناها، نقوم بها بدون اشمئزاز ولا إهمال عندما نلتقي بأي نوع من أنواع المرضى الذين ذكرناهم&#8230;</p>
<p>الأنبياء مثل أطباء الأرواح، يقضون كل وقتهم حيث يوجد المحتاجون إلى الشفاء، لأنه &#8220;لا يحتاج الأصحاء إلى طبيب بل المرضى&#8221; (لو ٥: ٣١). ما يقاسيه الأطباء من المرضى المعاندين، يقاسيه أيضًا الأنبياء والمعلمون من الذين لا يريدون أن يُشفوا. يرجع سبب كراهية الناس لهم إلى فرضهم علاجًا يخالف ما يتمناه المرضى، يمنعون عنهم اللذات والشهوات التي يريدونها، لذلك يُصّر هؤلاء المرضى في عنادهم على عدم أخذ الأدوية المناسبة لمرضهم. يهرب المعاندون من الأطباء، بل وكثيرًا ما يسيئون إليهم ويهينوهم ويشتمونهم ويفعلون بهم كل ما يمكن أن يفعله الأعداء. يغيب عن ذهنهم أن الطبيب يأتي كصديقٍ وليس كعدوٍ. لا يرون سوى الجانب المؤلم من نظام العلاج واستخدام المشرط، دون أن يروا النتيجة التي تعقب الألم. يكرهون الأطباء كما لو كانوا لا يحملون إليهم سوى الآلام، ولا ينظرون إلى هذه الآلام كمرحلة من مراحل الشفاء.</p>
<p>كان ذلك الشعب الذي يسمى نفسه شعب الله مريضًا، مصابًا بكل أنواع الأمراض. أرسل الله إليهم الأنبياء مثل الأطباء، أحدهم إرميا. وجه إرميا عتابه للخطاة راغبًا في رجوعهم عن طرقهم. كان ينبغي أن ينصتوا إلى هذه الكلمات، لكنهم اتهموا النبي أمام القضاة والحكام، فكان متورطًا في قضايا مستمرة، اتهمه هؤلاء الذين كان يقوم برعايتهم، أي الذين كان يوجه لهم كلمات نبوته، لكنهم لم يُشفوا بسبب عنادهم. أمام كل هذا كان إرميا يقول: &#8220;فقلت لا أذكره ولا أنطق بعد باسمه، فكان في قلبي كنارٍ محرقةٍ محصورة في عظامي&#8221; (إر ٢٠: ٩).</p>
<p>مرة أخرى يقول حينما يرى نفسه دائم التعرض للقضايا وللاهانات والشكاوى وشهادات الزور: &#8220;ويل لي يا أمي لأنك ولدتني إنسان خصام&#8221;. يريد أن يقول عن نفسه، أنه بدلًا من أن يدين الناس على خطاياهم، إذا به يُدان ويُحكم عليه، وبدلًا من أن يقاوم وينازع صار هو نفسه &#8220;إنسان نزاع لكل الأرض&#8221;.</p>
<p>[لا أستطيع أن أجد تفسيرًا لكلمتي: &#8220;لكل الأرض&#8221;. لم يصر إرميا إنسان نزاع بالنسبة لكل الأرض، إلا إذا قلنا أن &#8220;كل الأرض&#8221; يقصد بها كل أرض اليهودية، لأن نبوة إرميا لم تصل إلى كل الأرض حينما كان يتنبأ. لكن أليس من الأفضل أن نفعل كما فعلنا في أجزاء سابقة، فنطبق هذا الكلام على السيد المسيح بدلًا من إرميا؟ توقفت في البداية عند الكلمات التي تقول: &#8220;أنظر. قد وكلتك هذا اليوم على الشعوب وعلى الممالك لتقلع وتهدم، وتهلك وتنقض، وتبني وتغرس&#8221;، لم يفعل إرميا شيئًا من هذا كله، وإنما السيد المسيح هو الذي قلع ممالك الخطية وهدم أعمال الشر، وأقام بدلًا منها مملكة الحق والعدل في نفوسنا. هكذا أيضًا تصلح هذه العبارة لتطبيقها على السيد المسيح أكثر منها على إرميا، ففي نظري يوجد العديد من العبارات التي يمكن تطبيقها على المخلص، لا سيما تلك العبارة التي نحن بصددها &#8220;إنسان نزاع لكل الأرض<a href="#_ftn2" name="_ftnref2">[2]</a>&#8221;</p>
<p><a href="#_ftnref1" name="_ftn1"></a>١٩- تفسير سفر إرميا ( الإصحاح الأول ) &#8211; القمص تادرس يعقوب ملطي</p>
<p><a href="#_ftnref2" name="_ftn2"></a>٢٠- تفسير سفر إرميا (الإصحاح الخامس عشر ) &#8211; القمص تادرس يعقوب ملطي</p>

      {% endcreateArticleAccordions %}
    </section>
  {% endblock %}
  