---
layout: 'layouts/reading.html'
title: 'قراءات يوم الأثنين من الأسبوع الأول'
tags: 'great-lent'
permalink: /articles/great-lent/1-1.html
---
  {% block content %}
    <section id="readings">
      <ul>
      {% if 'undefined' != 'undefined' %}
      
      {% else %}
      {% if 'null' != 'null' %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">العشية</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeVespers '' '' %}
          </div>
        </div>
      </li>
      {% endif %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">باكر</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeMatins '19.6:1-2' '40.12:24-34' '2.2:23-25*@+2.3:1-5@23.1:2-18' %}
          </div>
        </div>
      </li>
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <h3 class="flex items-center justify-between">
            <span class="kufi">القداس</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </h3>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeLitugy '45.1:26-2:7' '59.2:1-13' '44.14:19-28' '19.22:26' '41.9:33-50' %}
          </div>
        </div>
      </li>

      {% endif %}
        </ul>
    </section>
    <section id="article">
      <h3 class="mt-8 mb-4 heading-explain">شرح القراءات</h3>
      {% createArticleAccordions %}
        <p><strong>إله الرأفة وطول الأناة</strong></p>
<p>&#8220;طُوبَاكُمْ أَيُّهَا الْمَسَاكِينُ، لأَنَّ لَكُمْ مَلَكُوتَ اللهِ&#8221; (لو٦: ٢٠)</p>
<p>[معونة للمساكين، راحة للمعوزين، المتضايقون أشبعهم بالخيرات] (من طِلبات القدّاس الغريغوري)</p>
<p>[أتقول ليس لك قدرة على تقديم أعمال رحمة؟ فَلَكَ لسان، أيا كان فقرك فلك قدمان بهما تزور المريض، وتفتقد في السجن، لك سقف تستقبل تحته غرباء، ليس هناك عذر قط لمن لا يمارس عمل الرحمة] (القديس يوحنا الذهبي الفم)<a href="#_ftn1" name="_ftnref1">[1]</a></p>
<h3>شواهد القراءات</h3>
<p>(خر٢: ٢٣ - الخ، ٣: ١-٥)، (إش١ : ٢-١٨)، (مز٦: ٢،١)، (مت١٢: ٢٤-٣٤)، (رو١: ٢٦-الخ، ٢: ١-٧)، (يع٢: ١-١٣)، (أع١٩:١٤)، (مز٢٥:٢١)، (مر٩: ٣٣- الخ).</p>
<h3>شرح القراءات</h3>
<p><strong>تتكلّم قراءات هذا الْيَوْمَ</strong> عن إله الرحمة والرأفة إله المساكين والبائسين والضعفاء. <strong>كما تتكلّم أيضاً</strong> عن أبناء الآب صورتهم وطبيعتهم وأعمالهم.</p>
<p><strong>تبدأ القراءات بسفر الخروج</strong> الذي يظهر الله فيه إستجابته لأنين الشعب ومذلّته بعد عبودية قاسية. &#8220;وتنهد بنو اسرائيل من أشغالهم وصرخوا فصعد صراخهم إلىّ الله من أجل الخدمة فسمع الله أنينهم، فتذكّر الله ميثاقه الذي قرره مع ابراهيم واسحق ويعقوب ونظر الله الى بني اسرائيل وظهر لهم&#8221;.</p>
<p><strong>وفِي سفر إشعياء</strong> رغم شرور الشعب في القديم وكثرة الظلم فهو يعاتبهم عتاب الأب لأولاده ويرسم لهم طريق الرجوع والنجاة.</p>
<p>&#8220;أني ربيت بنين ورفعتهم أما هم فتمردوا عليّ، فإغتَسِلوا وتطهروا وانزعوا الشر من نفوسكم من أمام عيني وكفوا عن سيآتكم تعلموا فعل الخير والتمسوا الإنصاف أغيثوا<br />
المظلوم، وأنصفوا اليتيم، وحاموا عن الأرملة، تعالوا نتحاجج يقول الرب إن كانت خطاياكم كالقرمز تبيض كالثلج وإن كانت حمراء كالدودي تصير كالصوف&#8221;.</p>
<p><strong>لذلك تلتجئ النفس</strong> في مزمور باكر إلى مراحم الله لأجل شفائها في ضعفها.</p>
<p>&#8220;إرحمني يا رب فإني ضعيف، إشفني يا رب فإن عظامي قد اضطربت&#8221;.</p>
<p><strong>وفِي إنجيل باكر</strong> عندما تكلّم اليهود بتجديف على إبن الإنسان لأنّه يخرج الشياطين، واجههم بأبناء جنسهم التلاميذ البسطاء الذين كانوا أيضاً يخرجون الشياطين.</p>
<p>&#8220;وإن كنت أنا أخرج الشياطين ببعلزبول فأبناؤكم بمن يخرجون فمن أجل هذا هم قضاة عليكم&#8221;.</p>
<p><strong>ثم يسرد في البولس</strong> أنواع شرور البشر التي تتنافي مع الرحمة والرأفة.</p>
<p>&#8220;ممتلئين من كل إثم وزنى وشر وطمع وخبث، مشحونين حسداً وقتلاً وخصاماً ومكراً وسوءاً، بلا فهم ولا عهد ولا حنو ولا رحمة&#8221;.</p>
<p><strong>ورغم ذلك</strong> يطيل الله أناته على الكل لأجل التوبة، ويحذِّر من الإستهانة بغنى مراحمه.</p>
<p>&#8220;أم تستهين بغنى لطفه وإمهاله وطول أناته ولا تعلم أن لطف الله إنما يقتادك إلي التوبة، ولكنك بقساوتك وقلبك الغير التائب تُدخِر لنفسك غضباً ليوم الغضب&#8221;.</p>
<p><strong>كما يحذّر الكاثوليكون</strong> من خطية المحاباة في الكنيسة التي تشوّه إعلان وحقيقة أبوّة الآب للكل، وقيمة كل أعضاء الكنيسة مساكين وأغنياء عبيد وأحرار.</p>
<p>&#8220;فإنه إذا دخل مجمعكم رجل بخاتم ذهب في حلة بهية، ودخل مسكين بلباس رث، فنظرتم إلى الذي عليه الحلة البهية وقلتم له إجلس أنت ههنا حسناً، وقلتم للمسكين قف أنت هناك أو إجلس ههنا تحت موطئ الأقدام، إسمعوا يا إخوتي الأحباء، أما اختار الله مساكين هذا العالم وهم أغنياء في الإيمان وورثة للملكوت الذي وعد به الذين يحبونه أما أنتم فقد أهنتم الفقير&#8221;.</p>
<p><strong>ويهتّم الإبركسيس</strong> بإظهار مراحم الله مع خدّامه الأمناء وكارزيه بحفظهم من الموت رغم الرجم، والذين بدورهم أيضاً يشدّدون الآخرين ويسندانهم، كما يُظْهر مراحم الله تجاه الأمم وقبولهم في الإيمان.</p>
<p>&#8220;فرجموا بولس وجروه خارج المدينة ظانين أنه قد مات، فبينما كان التلاميذ محيطين به، قام ودخل المدينة وفِي الغد خرج مع برنابا إلي دربة فبشرا في تلك المدينة وتلمذا<br />
كثيرين، ثم رجعا إلى لسترة وإيقونية وأنطاكية يشددان أنفس التلاميذ ويعزيانهم أن يثبتوا في الإيمان، وأخبراهم بكل الأشياء التي صنعها الله معهما وأنه فتح للأمم باب الإيمان&#8221;.</p>
<p><strong>لذلك في مزمور القداس تطمئن</strong> نفوس البائسين بالههم ومراحمه الكثيرة .</p>
<p>&#8220;يأكل البائسون ويشبعون، يسبح الرب الذين يلتمسونه&#8221;.</p>
<p><strong>ويختم إنجيل القدّاس</strong> بصورة أبناء الآب الذين هم خدّام الكل وهم الأولاد، وهم أيضاً هؤلاء الصغار والذين يحيوا في سلام ووداعة الحمام والحملان، وأخطر ما يعطّل عمل الآب في أولاده الكبرياء والتحزّب والعثرات.</p>
<p>&#8220;إن أراد أحد أن يكون أولاً فليكن آخر الكل وخادماً للجميع، ثم أخذ صبياً وأقامه في وسطهم واحتضنه وقال لهم: من يقبل أحد هؤلاء الأولاد هكذا بإسمي فقد قبلني، ومن شكك هؤلاء الصغار المؤمنين بي فخير له بالحري أن يعلق به حجر الرحي ويطرح في البحر، الملح جيد ولكن إذا صار الملح بلا ملوحة فبماذا يملح؟ فليكن فيكم ملح، سالموا بعضكم بعضاً&#8221;.</p>
<h3>ملخّص القراءات</h3>
<table width="503">
<tbody>
<tr>
<td width="94">سفر الخروج</td>
<td width="408">الله يسمع أنين شعبه وصراخهم وصلواتهم</td>
</tr>
<tr>
<td width="94">سفر إشعياء</td>
<td width="408">الله يعاتب أبناؤه ويدعوهم للتوبة</td>
</tr>
<tr>
<td width="94">مزمور باكر</td>
<td width="408">تدرك النفس ضعفها وتحتمي في مراحم الله</td>
</tr>
<tr>
<td width="94">البولس</td>
<td width="408">شرور البشر تتنافى مع الرحمة والرأفة</td>
</tr>
<tr>
<td width="94">البولس</td>
<td width="408">طول أناة الله ورأفاته يهدف لتوبة الإنسان</td>
</tr>
<tr>
<td width="94">الكاثوليكون</td>
<td width="408">المحاباة في الكنيسة ضد كرامة وقيمة أبناء الله الآب</td>
</tr>
<tr>
<td width="94">الإبركسيس</td>
<td width="408">مراحم الله تحفظ الكارزين من الضرر</td>
</tr>
<tr>
<td width="94">مزمور القدّاس</td>
<td width="408">شبع البائسين بإله الرأفة</td>
</tr>
<tr>
<td width="94">إنجيل القدّاس</td>
<td width="408">أبناء الآب الرؤوف هم خدّام الجميع وهم الأولاد وهؤلاء الصغار</td>
</tr>
</tbody>
</table>
<h3>الكنيسة في قراءات اليوم</h3>
<table width="506">
<tbody>
<tr>
<td width="106">سفر الخروج</td>
<td width="401">العليقة رمز التجسّد</td>
</tr>
<tr>
<td width="106">إنجيل باكر</td>
<td width="401">لاهوت الروح القدس</td>
</tr>
<tr>
<td width="106">البولس</td>
<td width="401">أهمّية وضرورة الأعمال الصالحة</td>
</tr>
<tr>
<td width="106">الكاثوليكون</td>
<td width="401">الناموس الملوكي ووحدة الكتاب</td>
</tr>
<tr>
<td width="106">الإبركسيس</td>
<td width="401">رسامة القسوس</td>
</tr>
<tr>
<td width="106">إنجيل القدّاس</td>
<td width="401">المكافأة بملكوت الله أو العقاب بجهنم</td>
</tr>
</tbody>
</table>
<h3>عظات آبائية :</h3>
<div id="mail-app-container" data-reactroot="">
<div>
<div>
<div id="app" tabindex="-1" data-test-id="mail-app">
<div data-test-id="content-area">
<div data-test-id="content-below-tabs">
<div id="mail-app-component-container">
<div id="mail-app-component" data-yaft-module="norrin_main" data-test-id="mail-app-component">
<div data-test-id="message-group-view">
<div role="main" data-test-id="message-group-view-scroller" aria-label="Gespreksweergave">
<div data-test-id="focus-group" aria-label="Toetsenbordnavigatiegroep Gebruik de pijltoetsen om te navigeren of tab om naar de volgende groep te gaan.">
<div tabindex="40" data-test-id="message-view" data-test-expanded="true" data-iskeynav="true">
<div data-test-id="message-body-container">
<div data-test-id="message-view-body">
<div data-test-id="message-view-body-content">
<div>
<div id="yiv9057704289">
<div id="yiv9057704289">
<div id="yiv9057704289yqt81344">
<div id="yiv9057704289">
<div id="yiv9057704289">
<div id="yiv9057704289">
<div>
<div>
<h4>من أقوال القديس يوحنا الدرجى :</h4>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div id="yiv9057704289">
<div id="yiv9057704289yqt81344">
<div id="yiv9057704289">
<div id="yiv9057704289">
<div id="yiv9057704289">
<div>
<div>
<div>١-دع كل الذين ينقادون بروح الله يدخلون معنا الى هذه الكنوز الروحية الحكيمة ممسكين بيدهم الروحية المعلومات الموحاه من الله</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div id="yiv9057704289">
<div id="yiv9057704289yqt81344">
<div id="yiv9057704289">
<div id="yiv9057704289">
<div id="yiv9057704289">
<div>
<div>
<div>نحن قد تلاقينا واختبرنا وأتينا معانى الشرح السابق فى حياتنا قال أحد الأباء عن الاتضاع انه نسيان دائم لما حققه الانسان وقال آخر : انه اعتراف الانسان بكل الخطايا وأكبرها وقال آخر : هو أن يتيقن العقل من ضعف الانسان وعجزه وبأنه آخر الكل وأول الخطاه وقال آخر : هو قدرة الانسان أن يكون سباقا حين يوقف المشاجره وهو فى عمق الغضب وقال آخر هو الاحساس بانسحاق النفس وأن يقمع الانسان ارادته الخاصة</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div id="yiv9057704289">
<div id="yiv9057704289yqt81344">
<div id="yiv9057704289">
<div id="yiv9057704289">
<div id="yiv9057704289">
<div>
<div>
<div>ولكنى عندما استمعت لكل هذا ونظرت اليه بتعقل وانتباه وحدث أننى شعرت أنى غير قادر على ادراك جمال فضيلة الاتضاع من كل ما قبل وهكذا فى النهاية جمعت أقوال الأباء الذين تعلموا واختبروا الاتضاع كما يلتقط الكلب الفتات الساقط من المائده ثم أعطيت تعريفا عن الاتضاع : الاتضاع هو هبه غير مسماه داخل النفس اسمها معروف فقط للذين اختبروها انها ثروة لا يعبر عنها انها هبة من الله لأنه قال تعلموا ليس من ملاك ولا من انسان ولا من كتاب ولكن تعلموا منى ومن السكنى معى تعلموا من اعلاناتى وعملى فيكم لانى وديع ومتواضع القلب والفكر والروح وسوف تجد نفوسكم الراحه من الاتعاب وسوف يزول الجدال</div>
<div>٢-  فالانسان الذى يتخذ الاتضاع عروسا له هو فوق الكل انسان رقيق عطوف مملوء بمحاسبة النفس ومتعاطف مع الآخرين وهادىء ووديع وهو أيضا صاف ومطيع لا يؤذى أحدا وهو يقظ غير متراخى وماذا تقول أيضا ؟ هو خال من الشهوات لان المزمور يقول &#8221; الذى فى مذلتنا ذكرنا لأن الى الأبد رحمته ونجانا من أعدائنا لأن الى الأبد رحمته &#8221; (مز١٣٦: ٢٣-٢٤) فالله ينجى المتواضع من شهواته ومن خطاياه</div>
<div>٣-لتعلم يا عزيزى أن الوديان سوف تظل وفيره فى المحصول والثمار الروحية هذا الوادى هو خضوع النفس واتضاعها بين الجبال أى أنها مملوءه بالأعمال الصالحة والفضائل ولكن رغم ذلك فانها تظل خاضعة وثابتة ان داود النبى لم يقل أنا صمت أو أنا ظللت ساهرا أو أنا اضطجعت على الأرض ولكنه قال &#8221; أنا اتضعت والرب خلصنى سريعا &#8221; (مز١١٥: ٥)</div>
<div>٤-  كل الأشياء المرئية تستمد ضوئها من الشمس وكذلك أيضا كل ما يعمل طبقا للصواب يستمد قوته من الاتضاع وحيث لا يوجد ضوء يكون كل شىء مظلما وهكذا حيث لا يوجد اتضاع فكل ما عندنا يكون فاسدا</div>
<div>5-  أن تكون متواضعا شىء وأن تجاهد من أجل الاتضاع شىء آخر وأن تمدح المتواضع شىء آخر فالأول يتعلق بالكمال والثانى يتعلق بالمطيع والثالث يتعلق بالايمان</div>
<div>6-  الاتضاع هو باب الملكوت حيث يدخل الذين يقتربون إليه وأنا أعتقد أن الرب قد تكلم عن هذا الباب عندما قال أنه &#8221; سوف يدخل ويخرج ويجد مرعى &#8221; ( يو١٠: ٩) أى سوف يدخل ويخرج من الحياه بدون خوف وسوف يجد مرعى وعشبا أخضر فى الملكوت وكل الذين دخلوا حياة النسك من أى باب آخر غير باب التواضع هم لصوص وسراق لحياتهم الشخصية</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div id="yiv9057704289">
<div id="yiv9057704289yqt81344">
<div id="yiv9057704289">
<div id="yiv9057704289">
<div id="yiv9057704289">
<div>
<div>
<div>المرجع كتاب سياحة القلب صفحة ٢٣٦ – القمص اشعياء ميخائيل – كنيسة الملاك الضاهر</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<h4>من أقوال مار اسحق السريانى :</h4>
<div id="mail-app-container" data-reactroot="">
<div>
<div>
<div id="app" tabindex="-1" data-test-id="mail-app">
<div data-test-id="content-area">
<div data-test-id="content-below-tabs">
<div id="mail-app-component-container">
<div id="mail-app-component" data-yaft-module="norrin_main" data-test-id="mail-app-component">
<div data-test-id="message-group-view">
<div role="main" data-test-id="message-group-view-scroller" aria-label="Gespreksweergave">
<div data-test-id="focus-group" aria-label="Toetsenbordnavigatiegroep Gebruik de pijltoetsen om te navigeren of tab om naar de volgende groep te gaan.">
<div tabindex="40" data-test-id="message-view" data-test-expanded="true" data-iskeynav="true">
<div data-test-id="message-body-container">
<div data-test-id="message-view-body">
<div data-test-id="message-view-body-content">
<div>
<div id="yiv9057704289">
<div id="yiv9057704289">
<div id="yiv9057704289yqt81344">
<div id="yiv9057704289">
<div id="yiv9057704289">
<div id="yiv9057704289">
<div>
<div>
<div>١-الاتضاع حتى بدون أعمال يستطيع أن يغفر كثرة من الخطايا0 ولكن بدون الاتضاع حتى الأعمال تكون بلا فائدة بل ومن الممكن أن تؤذى ان الاتضاع هو الملح الذى يصلح لكل أنواع الطعام لأنه هو أساس كل الفضائل ولكى نقتنى الاتضاع يجب أن يفكر الانسان فى نفسه بانسحاق ، ويحتقر ذاته ويحاسبها محاسبة دقيقة0 ولكن اذا اقتنينا الاتضاع فسوف نكون أولاد الله بالحقيقة</div>
<div>٢-سئل أحد الأباء عن كيفية اقتناء الاتضاع فأجاب : هو أن يتذكر الانسان خطاياه باستمرار ، وأن يتذكر بأن الموت قريب ، وبالملابس البسيطة ، وبأن  يفضل دائما المتكأ الأخير ، وبأن يختار الانسان بفرح الأعمال والخدمات البسيطة والحقيره ، وبأن لانكون متمردين غير مطيعين ويلزم أيضا الاحتفاظ بالسكوت وعدم محبة اللقاءات والاجتماعات (يقصد المتوحدين) وبأن نفضل ألا نكون معروفين ومشهورين ومفضلين فى أى موقع ويقتنى الانسان الاتضاع أيضا حين لا يمتلك أى شىء ملكيه خاصه (يقصد الرهبان) وبأن يكره الحديث مع الناس ويتجنب الربح أيضا (خاص بالرهبان)</div>
<div>وفوق كل هذا يجب أن يرتقى بفكره فوق أن يتهم أو يدين أى شخص وأن يكون فوق الغيرة وألا يكون هو الذى يظلم الآخرين بل يتحمل ظلم الآخرين عليه ويؤدى عمله بأمانة ولا يحمل من هموم العالم سوى هم خلاص نفسه فقط وفى اختصار أكثر نقول أن حياة الغربه على الأرض والانسحاق والعزله هى التى تولد الاتضاع والنقاء فى القلب</div>
<div>٣-الانسان المتضع لا يطلب أو يلتمس شيئا من الله ولا يعرف شيئا يطلب لأجل نواله ولكنه ببساطه يحفظ كل احساسه فى سكوت وينتظر فقط الرحمه والرأفه وما تريد الحكمة الالهية أن ترسله له وينظر بعينيه الى أسفل ووجهه الى الأرض وعيون قلبه العميقه ترتفع الى عتبة قدس الأقداس حيث يسكن الذى فوق الظلمات ، الذى يغطى السيرافيم أعينهم منه ويعرف أن يتكلم ويصلى هكذا فقط &#8220;يارب لتكن مشيئتك&#8221;</div>
<div>٤-الاتضاع هو صفه خفيه يصل اليها القديسون الكاملون عندما تنتهى حياتهم هذه القوة تعطى عن طريق الهبة والمنحة فقط لهؤلاء الذين كملوا فى الفضائل لأن فضيلة التواضع تحوى كل الفضائل داخلها</div>
<div>٥-واذا سأل أى انسان كيف أقتنى الاتضاع سوف تجاوبه &#8221; يكفى التلميذ أن يكون كمعلمه والصبى كسيده &#8221; (مت <u>٢٥</u><u>:</u><u>١٠</u>) أنظر مدى اتضاع الذى أعطانا هذه الوصية اصنع مثله وأنت تقتنى الاتضاع</div>
<div>٦-يتبع الاتضاع قمع الذات والانتصار عليها فى كل شىء ان الاتضاع يقود الى التأمل ويزين الروح بالطهارة ولكن حيث الغرور والقلق المستمر وتضارب الأفكار يوجد الاناء الملوث من كل شىء يقابله ويلوث القلب ان مثل هذا الانسان ينظر لحقيقة الأشياء بعين معيبه ويملأ العقل بصورة ملوثه ولكن الاتضاع يولد انتعاشا روحيا عن طريق التأمل ويوجه صاحبه لكى يمجد الله</div>
<div>المرجع كتاب سياحة القلب صفحة ٢٣٤ – القمص اشعياء ميخائيل – كنيسة الملاك الضاهر</div>
<h4>نقاوة القلب والافراز القديس برصنوفيوس :</h4>
<div>نقاوة القلب والاتضاع والافراز</div>
<div>[العمل الداخلي هو انسحاق القلب وهو يجذب الطهارة ، والطهارة تلد سكون القلب الحقاني وهذا السكون يلد التواضع ، والتواضع يصير الإنسان مسكنا لله . وهذه السكني تطرد الأعداء الأشرار مع كافة الأوجاع الرديئة وتحطم الشيطان رئيسهم . تصير الإنسان هيكلا لله مقدساً مستنيراً مطهراً فرحا ممتلئا من كل رائحة طيبة ، وصلاح وسرور ، ويصير الإنسان لابسا لله نعم ويصير إلها لأنه قال «أنا قلت انكم الهه وبني العلى تدعون» فلا يبلبل الشيطان أفكارك قائلا لك أن الأطعمة الجسدانية تمنعك أن تبلغ المواعيد الصالحة ، فليس الاكل كذلك ، لأن كل شئ خلقه الله جيداً أن الذي يخرج من الفم لانه من القلب يخرج وهذا هو الذي يعوق الإنسان أو يمنعه أن يأتي بسرعة إلى المواعيد الصالحة التي قد أعدت له ، فإن أنت تناولت حاجة الجسد فتناول منها بقدر قوة الإنسان على أن يتعب وتتضع أفكاره حينئذ بفتح الله قلبك لتنظر النور الحقاني وتفهم أن تقول أني بالنعمة قد تخلصت بالرب يسوع والذي يريد أن يرضي الله فليقطع هواه لمصلحة أخيه . وإذا فعل ذلك فهو يجد النياح بالرب . شخص يصل إلى السلام في الرب عن طريق أعمال التقوى ، وآخر يبلغ نفس الهدف بالا تضاع ، وعليك أنت أن تبتغي</div>
<div>حصولك على السلام مقابل الطريق الأول والثاني معاً . عندما يكون الغضب قد مات في قلبك بواسطة تهذيب الهيجان ، حينئذ تتحقق كلمة الكتاب لك «أنظر إلى تواضعي» وأغفر لي جميع خطاياي (مز ٢٥ : ۱۸) «لعل الله يحفظ نفسك وجسدك وروحك من كل شر ومن كل مؤامرات الشرير ومن كل الخيالات الرديئة التي تجلب شرود الأفكار» . تنهد إياك أن تحسب نفسك شيئا لا تقارن نفسك بالآخرين في أي شئ ، أترك الدنيا أصعد على الصليب . انبذ كل الأشياء الأرضية أنفض الغبار عن قدميك ، استهن بالخزي (عب ۱۲ : ۲) . لا توقد الأتون مع الكلدانيين لئلا يحرقك غضب الله معهم . اعتبر كل إنسان أفضل منك ، أبك علي ميتك ، أخرج خشبتك من عينيك ، أبن بيتك المهندم ، وأصرخ يا ابن داود أرحمني . كي أبصر (لو ۱۸ : ۳۸-٤١) .</div>
<div>أشته أن تقتني الاتضاع والتسليم ، لا تضر أن يجري أي شئ بحسب أراداتك لأن هذا يولد الغضب ، ولا تدن أو تحتقر أي شخص لأن هذا يثقل القلب ويعمي العقل ومن ثم يقود إلى التراخي أو يقسى مشاعر القلب وتحفظ دائما وتعلم لتفهم ناموس الله ، لأن هذا يجعل القلب حارا بالنار الإلهية . كما قيل &#8220;عندلهجي اشتعلت النار &#8221; (مز ۳:۳۹) . أحس شفتيك من أي كلمة بطالة أو محادثة رديئة لئلا يتعود القلب على كلمات الشر ، اطرح ذالك أمام الله قائلا : اللهم ارحمني أنا الخاطئ (لو ۱۸ : ۱۳) فسيرحمك ويحفظك ويحميك من كل شر ، ليقودك من الظلمة إلى النور الحقيقي ومن الزيف إلى الحق ومن الموت إلى الحياة في المسيح يسوع ربنا . عطيتان يعطيهما الله للإنسان بهما يخلص وينجو من كل أوجاع الإنسان العتيقة : الإتضاع والطاعة . ولكننا لا نشتاق إليهما ولا نريد أن تتوطن فيها ولا أن نسترشد بهما . دع عنك : كل تمایل . أحن عنقك للإتضاع والطاعة فستنال رحمة أن مارست كل ما سمعته عن الآباء في أتضاع من الله سيمنحك نعمته المعينة ليس فقط في الأعمال التي تؤديها بل سينجح كل أعمالك أيضا لأنه يحمي طريق خائفية ويراقب تقدمهم . ] القديس برصنوفيوس</div>
<div>المرجع كتاب نقاوة القلب في المفهوم الكتابي والآبائي(الجزء الاول ) ص ٧١</div>
<div>اعداد احد الأباء الرهبان بدير السيدة العذراء &#8220;برموس&#8221;</div>
<h3>عظات آباء وخدام معاصرون :</h3>
<div id="yiv9057704289yqtfd89889">
<h4>من هو الأعظم  ؟ لقداسة البابا تواضروس الثاني</h4>
<h5>يوم الأثنين من الأسبوع الأول لقداسة البابا تواضروس الثاني</h5>
<div>مر (٩ : ٣٣ - ٥٠)</div>
<div id="yiv9057704289yqtfd47726">
<div>من هو الأعظم  ؟</div>
<div> أريد أن تضع أمامك أول سؤال في أول يوم من أيام الصوم المقدس، وهو سؤال:</div>
<div>&#8220;من هو الأعظم؟&#8221; تخيل معي أن التلاميذ سائرون في الطريق، ثم سأل أحدهم الآخر: &#8220;تعتقد من أعظم أنا أم أنت؟&#8221;، سؤال غريب طبعاً، ثم تخيل الرد وقال أحدهما للآخر: &#8220;أنا الأعظم&#8221;. فقال له الآخر: &#8220;دعنا نذهب لشخص آخر ونسأله في هذا الموضوع&#8221;، وعندما ذهبوا للطرف الثالث وعرضوا عليه السؤ ال نظر إليهما، ثم أجاب وقال: &#8220;لا أنت ولا هو بل أنا الأعظم&#8221; &#8230;</div>
<div>هذا مجرد تخيل، وبدأت الحكاية تنتقل من الثاني للثالث للآخر &#8230; من هو الأعظم؟ - زوج وزوجة في البيت ربما يكون هذا السؤال في داخلهم &#8220;من هو الأعظم؟&#8221; ممكن يكون السؤال بين اثنين خدام، أو اثنين من الآباء في كنيسة واحدة، واحد يقول: &#8220;أنا</div>
<div>هو الأعظم&#8221;، والآخر يقول: أنا القمص &#8230;.&#8221;. قد يكون اثنان من الخدام في خدمة واحدة ، وكل خادم فيهم يرى نفسه أنه هو الأعظم.</div>
<div>وهذا السؤال يا إخوتي يكشف عن خطية رابضة في قلب الإنسان، فإن جاءك وشعرت أن إجابته في شخصك أعرف أنك تقع في خطية كبيرة هي خطية الكبرياء. وممكن السؤال يأتي بصورة أخرى فمثلاً يكون: &#8220;من هو الأقوى ؟ من هو الأحسن؟ من هو الأفضل ؟&#8221;.</div>
<div>وظن أنه يدور في أذهان حضراتكم كيف يفكر تلاميذ المسيح بهذه الطريقة، وقد نسوا أن السيد المسيح في وسطهم، وهو الأعظم منهم كلهم. ويصير هذا المرض الروحي السماء. &#8220;مرض الكبرياء&#8221; في قلب الإنسان، حتى أنه يعوق أن يكون للإنسان نصيب في السماء ونحن في أول يوم من الصوم، وأرجوك أن تعيش مشاعر هذا المعنى، فهذا أول يوم فيه تضع الكنيسة هذه القراءة لئلا تقع في هذه الخطية ، أو يكون هذا الضعف في</div>
<div>ولكن ماذا صنت الرب يسوع معنى ؟</div>
<div>أجاب يسوع بطريقة عملية، فقد أتى بطفل صغير ووضعه أمام التلاميذ وقال لهم: &#8221; الحق أقول لكم : إن لم ترجعوا وتصيروا مثل الأولاد فلن تدخلوا ملكوت السماوات. فمن وضع نفسه مثل هذا الولد فهو الأعظم في ملكوت السماوات. ومن قبل ولداً واحداً مثل هذا باسمي فقد قبلني&#8221; (مت ۱۸ : ۳ : ٥) وكأن الطفل الصغير الذي نراه في وسطنا في الحياة هو الإجابة عن سؤال في غاية الأهمية، فهذا الطفل الصغير يمثل إجابة واقعية عما يجب أن تكون حياتك، ليست العظمة بالرئاسة ولا بالمناصب ولا بالألقاب ولا بالقدرات ولا بالمهارات ولا بالسن ولا بالغنى، فليست العظمة هكذا، وإنما هي أن تكون حياتك قامة الملكوت واتضاع الطفولة.</div>
<div>لقد احتضن الرب يسوع الطفل أمام الجميع لكي يعلن محبته لهذه القامة الروحية وهي قامة الطفولة، وقال هذه الإجابة الجميلة : &#8221; إذا أراد أحد أن يكون أولا فيكون آخر الكل وخادما للكل &#8221; (مر ٩ : ٣٥) . هذه هي العظمة . وأرجوكم يا إخوتي لا تجعلوا أذهانكم تتلوث بمفاهيم العالم ، فالعالم له مفاهيم أخرى في العظمة &#8221; عظمة المنصب  عظمة اللقب  عظمة المكان &#8220;، وكل هذا لا يوجد في حياتنا المسيحية .</div>
<div>العظمة في مسيحيتنا هي أن يكون الإنسان آخر الكل ، وخادماً للكل . وأرجو أن تدخل هذه الحقيقة إلى وعيك، فالزوج أو الزوجة يصير هو أوهي عظيما بمقدار التعب والخدمة .</div>
<div>لذلك كيف يرى الإنسان ذاته في حياته؟ أن يكون آخر الكل وخادماً للكل .</div>
<div>(أمثلة)</div>
<div>١ - إبراهيم أبو الآباء:</div>
<div>في القديم نقرأ عن إبراهيم أبي الآباء، وعن ابن أخيه لوط والنزاع الذي قام بين رعاتيهما ، فنجد أن إبراهيم أبا الآباء الذي يدرك أن العظمة في أن يكون آخر الكل وخادماً للكل ، ماذا تفعل يا أبانا إبراهيم ؟ قال إبراهيم للوط : &#8221; اختر ما تحب ، اختر أنت أولاً وأنا اصير آخراً . وينجح إبراهيم في هذا الاختبار، ويقول عنه الكتاب وعن كل أيام حياته &#8221; فامن إبراهيم بالله فحسب له برا &#8221; (رو ٤ : ٣) ، لذلك نسميه (أبو الآباء) ، فهذا العظيم جعل نفسه آخر الكل ، وهذه هي العظمة. أما إذا امتلأ عقل الإنسان بالتمرد والعناد ورأى نفسه أعظم من أخيه، فسوف تزداد المشكلة حجماً ولا يتخلى أحدهما عن العناد وتظل المشكلة موجودة.</div>
<div>٢- العذراء مريم : أمنا العذراء التي حملت ابن الله الكلمة القدوس، وخدمتها للقديسة أليصابات التي حملت بيوحنا المعمدان، تلك المرأة التي كانت عاقراً، وبلا شك أمنا العذراء هي الأولى وهي العظيمة، فبمجرد أن أتتها البشارة بحبل ابن الله القدوس وهي بتول ودائمة البتولية، وهي الصبية الصغيرة، وتسمع أن قريبتها أليصابات حبلى بابن في شيخوختها، تنسى نفسها وتنسى العظمة التي هي فيها، وتنسى الجنين الذي في بطنها وتسرع في طرق غير ممهدة لكي تصل لأليصابات، وبالفعل تصل إليها وتقوم بخدمتها طوال فترة حبلها، بالرغم من أنها أم الله القدوس، لكنها كانت تدرك جيداً أنها آخر الكل وخادمة للكل، وهذه هي المسيحية.</div>
<div>٣ يوحنا المعمدان والسيد المسيح :</div>
<div>يوحنا المعمدان ولد قبل المسيح بستة أشهر، وهذا يشير أن يوحنا أكبر سنا من السيد المسيح ، لكن من ناحية العظمة المسيح هو الله الذي ظهر في الجسد ، أما يوحنا المعمدان فيحسب إنه نبي ، وبالرغم أن يوحنا كان له مكانة في المجتمع اليهودي وكانت له مهابته ، وكان منظره ممتلئ وقار، وهو ناسك من نُساك البرية ، لكن عندما يأتي السيد المسيح إليه يمنعه القديس يوحنا قائلا : &#8221; أنا محتاج أن أعتمد منك، وأنت تأتي إلي ! &#8221; (مت ٣ : ١٤) ،  و &#8221; لست أهلا أن أنحني وأخل سيور جدائه &#8221; (مر ١ : ٧) . أما السيد المسيح قال له : &#8221; اسمح الآن ، لأنه هكذا يليق بنا أن نكمل كل بر&#8221; (مت ٣ : ١٥). عجبي على هذا الاتضاع ، يوحنا المعمدان يقول : &#8221; ينبغي أن ذلك يزيد وأني أنا أنقص &#8221; (يو٣ : ٣٠) .  يا لمثل هذه العظمة الممزوجة بالاتضاع مع الطاعة بدون كبرياء أو عناد، و بدون أن يرى الإنسان ذاته، وأنه بذكائه أو مهاراته أو إمكانياته صار في هذه العظمة.</div>
<div> ضع أمامك القاعدة التي تجعلك عظيماً وهي أن تكون آخر الكل وخادماً للكل، وهذه هي العظمة المحسوبة لك في السماء.</div>
<div>أريد أن أوضح لك أن كبرياء الإنسان جعله يصل إلى حالة رديئة، ففي (رؤ ٣ : ١٧) ، يقول لملاك كنيسة اللاودكيين &#8221; لأنك تقول : إني أنا غني وقد استغنيت ، ولا حاجة لي إلى شيء &#8221; ، وهذه هي قمة الخطية ، فدائما تكون هذه هي نظرة الخاطئ المتكبر لنفسه ، أما نظرة الله له فهي عجيبة جدا يا إخوتي، حيث يقول له الوحي الإلهي : &#8220;ولست تعلم أنك أنت الشقي والبئس وفقير وأعمى عريان&#8221; (رؤ ٣ : ١٧). وهذا يعني قمة الضعف والخطية ، فحالتك صعبة جدا لمن يمتلك مثل هذه الأفكار. ونقرأ عن نفس المشكلة في رسالة يوحنا الرسول الثالثة عن &#8220;ديوتريفس&#8221; الذي أحب أن يكون أولاً (٣ يو ١ : ٩) .</div>
<div>* من هو الأعظم ؟</div>
<div>تجيب المسيحية عن هذا السؤال بثلاث درجات هي :</div>
<div>(١) يجب أن يكون المسيح أولاً في حياتك في كل شيء ، يقول القديس بولس الرسول : &#8221; فإذا كنتم تأكلون أو تشربون أو تفعلون شيئاً ، فافعلوا كل شيء لمجد الله &#8221; (١ كو ١٠ : ٣١). أي عمل أو مسئولية أو حياة جديدة اجعل الله أولا ، اجعل مسيحك أولا، إن كان زواج فاجعل المسيح أولاً ، وإن كان عمل وربنا أرسل لك خيراً منه فيكون للمسيح أولا، حتى الوقت وبداية يومك اجعل المسيح أولا.</div>
<div> (٢) الآخر ثانياً ، فيجب أن تكون محبة المسيح أولا، والتي من خلالها أعطى لي محبة الأب والأم والأخ والأخت والزوج والزوجة.</div>
<div> (٣)  نفسك (أنت) وهي آخر الكل وخادم الكل ، ليس مهماً أن تكون أولا في عين الناس، ولكن الأهم أن تكون أولا في عين المسيح، تكون عظيماً في عين المسيح ، وإن كنت فعلا هكذا سيصنع معك المسيح كما صنع في هذه الإجابة حيث أقام طفلا في الوسط واحتضنه ، وتسمع صوت المسيح وكأنه يقول لك : هوذا فتاي الذي اخترته حبيبي الذي سرت به نفسي .</div>
<div>هذه هي صورة الحياة ، لذلك يقول : &#8221; لأن من سقاكم كأس ماء باسمي لأنكم للمسيح، فالحق أقول لكم : إنه لا يضيع أجره &#8221; (مر ٩ : ٤١)، لذلك عليك أن تعرف أن كل ما تفعله من أجل المسيح ، سوف يعطيك المسيح الخير الكثير . إذا لا بد أن تتعلم أن تحتمل ضعفات الآخرين ، وتتعلم أن تخدم الآخرين ، وابحث عن عظمة الخدمة وليس عظمة المنظر .</div>
<div>وهنا نتساءل ماذا تفعل لكي تستطيع أن ثجيب على سؤال: من هو أعظم ؟</div>
<div> (۱) جاهد ضد ذاتك ، وادرس ذاتك التي قد تتمرد عليك ، فقد تحرمك ذاتك من أبديتك ، هذه الذات أحياناً نسميها &#8220;الكرامة&#8221;، فهناك من لا يستطيع أن يقول: &#8220;متأسف&#8221; أو &#8220;أخطأت&#8221;، فلا تطاوعه نفسه، مع أنه لو قال : &#8220;أخطأت&#8221; يمكن أن تنحل المشكلة.</div>
<div>دائماً ننصح الأزواج والأسر والآباء والأبناء أنه توجد كلمتان تجعلان البيت في سلام هما : &#8220;حاضر وأخطأت&#8221; فهما تجعلان الأمور سهلة جداً ، أما الإنسان الذي يبرر الخطأ كما فعل آدم في القديم وبدأ يبرر خطأه أمام الله فتكون النتائج عكسية . إذا الإنسان العظيم يستطيع أن يقول : &#8221; حاضر وأخطأت &#8220;، وفي الأمثال العربية &#8220;قول نعم يزيد النعم&#8221;، وهي تترجم في الأدبيات النُسكية &#8220;ابن الطاعة تحل عليه البركة&#8221;، فعليك أن تجاهد ضد ذاتك .</div>
<div>(۲) تعلم غسل الأرجل. قبل الصليب في يوم خميس العهد جمع السيد المسيح تلاميذه وبدأ يغسل أرجلهم، ولكن بطرس اعترض وقال: &#8220;لن تغسل رجلي أبدا&#8221; (يو ١٣ : ٨) ولكن السيد المسيح أصر وقال له &#8220;لست تعلم أنت الآن ما أنا أصنع ، ولكنك ستفهم فيما فيما بعد&#8221; (يو ۱۳ : ۷). ولكن السيد المسيح أ صر وقال له: &#8220;لست تعلم أنت الآن ما أنا أصنع، ولكنك ستفهم فيما بعد&#8221; (يو ١٣ : ٧) .</div>
<div>غسل الأرجل هو درس الاتضاع الذي قدمه ربنا يسوع قبل الصليب مباشرة ، وعليك أن تتعلم غسل الأرجل ، تعلم الإنحناء والاتضاع ، فهذا لا يلغى من شخصيتك أبداً فشخصيتك محفوظة وكرامتك مصونة ، ولكن في قلبك ينبغي أن يكون هذا الشعور</div>
<div>(٣)  تعلم أن تخدم الآخرين حتى لو كانوا أصغر منك، أو كانوا أقل منك مرتبة أو مكانة .</div>
<div>(٤) ثق دائماً في وعود الكتاب المقدس ، فهذا وعد من السيد المسيح ، وأرجوك عليك أن تلاحظ بداية الوعد إذ قال : &#8220;إذا أراد أحد أن يكون أولا، فيكون آخر الكل&#8221; (مر ٩ : ٣٥) ،  فمثلاً هناك في إحدى الكنائس نجد الشمامسة يتنازعون على من يرنم الألحان ، من فيهم صوته أحلى من الثاني ؟! وفي مكان آخر يجتهد كل واحد في تقديم الآخر، وكيف يكون آخر الكل.</div>
<div>إذا جعل الإنسان نفسه أول الكل ، فماذا يقول عندما يقف أمام المسيح ؟</div>
<div>(٥) تذكر نهاية العمر، فعندما تنتهي حياة الإنسان على الأرض، ماذا تقول عندما تقف أمام الديان العادل ؟</div>
<div>إذا جاهد ضد ذاتك، تعلم غسل الأرجل ، اخدم الآخرين ، ثق في وعود الله ، وأخيراً تذكرنهاية العمر . قف واطلب من الله ألا يدخل هذا الفكر إلى قلبك ، واطلب أنك تعيش على هذا الوعد</div>
<div>، وأنك تكون الأول في عين ربنا عندما تكون آخر الكل وخادماً للكل.</div>
<div>المرجع : كتاب اختبرني يا الله - صفحة ٣٠ - قداسة البابا تواضروس الثاني</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div id="yiv9057704289">
<div id="yiv9057704289yqt81344">
<div id="yiv9057704289">
<div id="yiv9057704289">
<div id="yiv9057704289">
<div>
<div>
<div id="yiv9057704289yqtfd89889">
<div id="yiv9057704289yqtfd47726"></div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div data-test-id="message-view-body-content">
<div>
<div>
<div>
<div id="yiv9057704289yqtfd58528">
<h4>العثرة للمتنيح أنبا أثناسيوس مطران بني سويف والبهنسا</h4>
</div>
</div>
<div>
<div id="yiv9057704289yqtfd03372">
<div>
<div>
<div id="yiv9057704289yqtfd89889">
<div>العثرة : (مت ۱۸ : ٥ - ٩)</div>
</div>
</div>
</div>
<div>
<div>
<div id="yiv9057704289yqtfd89889">
<div>العثرة هي أن يسبب الانسان لغيره أن يسقط في خطية . وتقول الآية &#8221; من قبل ولدا واحدا مثل هذا باسمي فقد قبلنی &#8220;(آية ٥)</div>
<div>ونفهم من كلمة «باسمي» ثلاثة معان : شخصية ، أو أولاده الذين دعى عليهم اسمه ، أو بروح الشهادة الأمينة له اذ دعى اسمه علينا . فالرب يريدنا أن نعامل الناس ، وكل الناس ، واعتبارهم واعتبارنا أبناءه حتى لا نسبب لهم عثرة .</div>
<div>ومن يعثر غيره فخير له ألا يوجد، لأنه بذلك يخطىء ويجعل غيره يخطىء . والكلمة المترجمة رحى لا تعني تلك رحى لا تعنى تلك الرحى الصغيرة التي نديرها باليد بل حجر الطاحون . وهذا تعبير كان شائعا عند اليهود ومعناه ان يختفي الانسان نهائيا عن ان يعثر غيره.</div>
<div>(أية ۸ ، ۹) ثم هناك عثرة الانسان لنفسه ، كان ينجذب الانسان الي الشر. والمطلوب هنا قطع الرغبة الشريرة : فيجب أن لا نجعل شيئا مهما كان غاليا علينا أن يوقعنا في الخطية كالأصدقاء ، أو الاختلاط أو محبة المزاح أو الرغبة المنحرفة في النجاح (الغش) أو التساهل مع أي شهوة من شهو اتنا ، يجب علينا أن نوقف السير نحو ما تطلبه الشهوة.</div>
</div>
</div>
</div>
<div>
<div>
<div id="yiv9057704289yqtfd89889">
</div>
</div>
</div>
<div>
<div>
<div id="yiv9057704289yqtfd89889">
<div>المرجع : كتاب تفسير انجيل يوحنا للانبا اثناسيوس مطران كرسي بني سويف والبهنسا</div>
</div>
</div>
</div>
<div>
<div>
<div id="yiv9057704289yqtfd89889"></div>
</div>
</div>
<div>
<div id="yiv9057704289yqtfd26339">
<div id="yiv9057704289yqtfd36936">
<div></div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<hr />
<p><a href="#_ftnref1" name="_ftn1"><sub>[1]</sub></a><sub>- تفسير إنجيل مرقس 12: 43، 44 - القمص تادرس يعقوب ملطي.</sub></p>

      {% endcreateArticleAccordions %}
    </section>
  {% endblock %}
