---
layout: 'layouts/reading.html'
title: 'قراءات يوم الثلاثاء من الأسبوع الأول'
tags: 'great-lent'
permalink: /articles/great-lent/1-2.html
---
  {% block content %}
    <section id="readings">
      <ul>
      {% if 'undefined' != 'undefined' %}
      
      {% else %}
      {% if 'null' != 'null' %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">العشية</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeVespers '' '' %}
          </div>
        </div>
      </li>
      {% endif %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">باكر</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeMatins '19.23:1,3' '40.9:10-15' '23.1:19-25*@+23.2:1-3@38.8:7-13' %}
          </div>
        </div>
      </li>
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <h3 class="flex items-center justify-between">
            <span class="kufi">القداس</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </h3>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeLitugy '45.9:15-29' '60.4:3-11' '44.5:34-42' '19.25:16-17' '42.12:41-50' %}
          </div>
        </div>
      </li>

      {% endif %}
        </ul>
    </section>
    <section id="article">
      <h3 class="mt-8 mb-4 heading-explain">شرح القراءات</h3>
      {% createArticleAccordions %}
        <h4>إله البرّ والأمانة</h4>
<p>&#8220;لِيَكُنْ كُلُّ وَاحِدٍ بِحَسَبِ مَا أَخَذَ مَوْهِبَةً، يَخْدِمُ بِهَا بَعْضُكُمْ بَعْضًا، كَوُكَلاَءَ صَالِحِينَ عَلَى نِعْمَةِ اللهِ الْمُتَنَوِّعَةِ.&#8221; (١بط ٤: ١٠)</p>
<p>[وأنت هى التي أُئْتمِنت على سعة السماء والأرض صرت لنا سببا للصعود للسماء] (لبش الجمعة)</p>
<p>[الله وحده هو البار والذي يبرّر، يهب الإنسان البرّ إنهم يطلبون أن يُثبتوا برّ أنفسهم، بمعنى أنهم يظنّون بأن الصلاح هو من عندهم لا عطيّة إلهية. بهذا لم يخضعوا لبرّ الله، لأنهم متكبرون ويحسبون أنهم قادرون على إرضاء الله بذواتهم لا بما لله] (القديس أغسطينوس)<a href="#_ftn1" name="_ftnref1">[1]</a></p>
<h3>شواهد القراءات</h3>
<p>(اش١: ١٩- ٣١ ) ،(اش ٢: ١-٣)، (زك٨: ٧-١٣)، (مز٢٢: ١-٢) ، (مت٩: ١٠-١٥)، (رو٩: ١٥-٢٩)، (١بط ٤: ٣-١١)، (أع ٥: ٣٤- ٤٢)، (مز٢٤ :١٥-١٦)، (لو١٢: ٤١-٥٠)</p>
<h3>شرح القراءات</h3>
<p><strong>تتكلّم قراءات هذا الْيَوْمَ</strong> عن برّ الله الآب وأمانته وعدله، وأيضاً عن أبناء الآب الأمناء الأبرار.</p>
<p><strong>تبدأ القراءات من سفر إشعياء</strong> عن كثرة الظلم والقتل والغش.</p>
<p>&#8220;كيف صارت صهيون المدينة الأمينة زانية، قد كانت مملوءة إنصافاً وفيها كان يبيت العدل وأما الآن فإنما فيها قتلة، فضتك صارت زغلاً وخمرك مغشوشة بماء&#8221;.</p>
<p><strong>لكن يعطي رجاء</strong> في التغيير وإفتقاد الله ببرّه الإلهي.</p>
<p>&#8220;وبعد ذلك تدعين مدينة العدل القرية الأمينة صهيون بالإنصاف ينجو سبيها والتائبون منها بالعدل والرحمة&#8221;.</p>
<p><strong>ويعلن مصدر برّ الآب </strong>ووسيلة إفتقاده للبشرية صليب رب المجد.</p>
<p>&#8220;ويكون في تلك الأيام أن جبل بيت الرب يكون ثابتاً في رأس الجبل ويرتفع فوق التلال وتنتظره جميع الأمم&#8221;.</p>
<p><strong>وتؤكد نبوءة زكريا</strong> على إرتباط برّ الآب بالصليب والخلاص.</p>
<p>&#8220;هذا مايقوله الله الضابط الكل إني هاءنذا أخلص شعبي من أرض المشرق ومن أرض مغرب الشمس وآتي بهم فيسكنون في أورشليم ويكونون لي شعباً وأنا أكون لهم إلهاً بالحكم والعدل&#8221;.</p>
<p><strong>ويوضّح معني برّ الآب</strong> في أولاده.</p>
<p>&#8220;ويكون كما أنكم كنتم لعنة بين الأمم يا بيت يهوذا ويا بيت إسرائيل كذلك أخلصكم فتكونون بركة فلا تخافوا ولتشدد أيديكم&#8221;.</p>
<p><strong>ويعلن مزمور باكر</strong> في مزمور الرعاية الأبوية تسبيح النفس للآب راعيها الذي سدّد كل إحتياجاتها ورد نفسها بعد ضياع وهداها إلى سبيل البر.</p>
<p>&#8220;الرب يرعاني فلا يعوزني شئ رد نفسي وهداني إلى سبل البر&#8221;.</p>
<p><strong>أما إنجيل باكر</strong> فلقاء الرب مع العشّارين والخطاة معلناً برّ الآب السماوي في قبول الكل وشفاء الخطاة ودعوة الجميع إلى التوبة.</p>
<p>&#8220;فلما نظر الفريسيون قالوا لتلاميذه لماذا معلمكم يأكل مع العشارين والخطاة فلما سمع يسوع قال لهم لايحتاج الأقوياء إلى طبيب بل الضعفاء فاذهبوا وتعلموا ما هو إني أريد رحمة لا ذبيحة لأني ماجئت لأدعو الأبرار بل الخطاة إلى التوبة&#8221;.</p>
<p><strong>ويعلن البولس</strong> برّ الله في إختيار الشعوب وقبول الأمم.</p>
<p>&#8220;فإنه قد قيل لموسي إني أرحم من أرحمه وأترآءف على من أتراءف عليه، &#8230; فإن كان الله يريد أن يظهر غضبه ويعرفنا قدرته، استحضر بأناة كثيرة آنية غضب مهيأة للهلاك، ولكي يبين غنى مجده على آنية الرحمة التي سبق فهيأها للمجد، التي هى نحن الذين قد دعانا ليس من اليهود فقط بل من الأمم أيضاً كما يقول في هوشع إني سأدعو الذي ليس شعبي شعبي والتي ليست بمحبوبة محبوبة، وسيكون في الموضع الذي قيل لهم فيه لستم شعبي أنهم هناك يدعون أبناء الله الحي&#8221;.</p>
<p><strong>ويُظهر الكاثوليكون</strong> مجد برّ الآب في تغيير الشعوب من الخلاعة إلى القداسة ومخافة الله. &#8220;لأنه قد يكفيكم الزمان الذي عبر إذ كنتم تعملون فيه هوى الأمم متسكعين في الدعارة والشهوات والمسكرات بأنواع كثيرة واللهو والدنس والغواية وعبادة الأوثان المحرمة الأمر الذي فيه يستغربون أنكم لستم تركضون معهم إلى فيض الخلاعة عينها مجدفين عليكم الذين سوف يعطون جواباً للمستعد أن يدين الأحياء والأموات&#8221;.</p>
<p><strong>كما يعلن</strong> <strong>أمانة أبناء الآب</strong> في خدمتهم بعضهم البعض.</p>
<p>&#8220;كل واحد وواحد فبحسب النعمة التي أخذها تخدمون بها من تلقاء أنفسكم كوكلاء صالحين لنعمة الله المتنوعة&#8221;.</p>
<p><strong>ويظهر في الإبركسيس</strong> عدل الله المعلن في أتقياء الناموس وعلماؤه الذين دافعوا عن التلاميذ. &#8220;والآن أقول لكم تنحوا عن هؤلاء الرجال واتركوهم لأنه إنه إن كان هذا الرأي أو هذا العمل من الناس فسوف ينحل وإن كان من الله فلا تقدرون أن تنقضوه لئلا توجدوا محاربين لله أيضاً فأذعنوا له&#8221;.</p>
<p><strong>كما يظهر عذوبة برّ الآب</strong> في قبول أبناء الله الألم بفرح بل وبشعور عدم الإستحقاق.</p>
<p>&#8220;أما هم فخرجوا فرحين من تجاه المحفل لأنهم حسبوا مستأهلين أن يهانوا من أجل هذا الأسم&#8221;.</p>
<p><strong>وتترجى النفس في مزمور القدّاس</strong> فقط مراحم الله.</p>
<p>&#8220;أنظر إليّ وإرحمني لأني إبن وحيد وفقير أنا&#8221;.</p>
<p><strong>ويختم إنجيل القدّاس</strong> بالمسؤولية التي يعطيها الآب لخدّامه والوكالة التي يستأمنهم عليها.</p>
<p>&#8220;فقال الرب من هو ترى الوكيل الأمين الحكيم الذي يقيمه سيده على عبيده ليعطيهم طعامهم في حينه طوبي لذلك العبد الذي إذا جاء سيده فيجده يعمل هكذا&#8221;.</p>
<p><strong>كما تختم القراءات</strong> كلّها ببرّ الآب لأبناؤه في سكيب الروح الناري في قلوب الأبناء.</p>
<p>&#8220;إني جئت لألقي ناراً على الأرض فماذا أريد وقد اضطرمت&#8221;.</p>
<h3>ملخّص القراءات</h3>
<table style="height: 336px;" width="728">
<tbody>
<tr>
<td width="83">سفر إشعياء</td>
<td width="423">كثرة مظالم البشر وإفتقاد برّ الآب لهم في الصليب</td>
</tr>
<tr>
<td width="83">سفر زكريا</td>
<td width="423">خلاص الابن أعلن برّ الآب وحوّل اللعنة إلي بركة</td>
</tr>
<tr>
<td width="83">مزمور باكر والقدّاس</td>
<td width="423">إلتجاء النفس لمراحم الله الذي يُسدِّد كل الإحتياجات ويردّها لبرّه</td>
</tr>
<tr>
<td width="83">إنجيل باكر</td>
<td width="423">برّ الآب في قبول الكل مهما كانت حالتهم كطبيب شافي</td>
</tr>
<tr>
<td width="83">البولس</td>
<td width="423">برّ الآب في إفتقاد الشعوب وقبول الأمم كآنية رحمة</td>
</tr>
<tr>
<td width="83">الكاثوليكون</td>
<td width="423">تحوّل الأمم من الدعارة للقداسة بل والخدمة كوكلاء على نعمة الله</td>
</tr>
<tr>
<td width="83">الإبركسيس</td>
<td width="423">قبول الألم كهبة ومسرّة وشعور بعدم الإستحقاق</td>
</tr>
<tr>
<td width="83">إنجيل القدّاس</td>
<td width="423">بر الآب في عطاياه لنا كوكلاء وعدله في محاسبته لكل وكيل</td>
</tr>
</tbody>
</table>
<h3>الكنيسة في قراءات اليوم</h3>
<table style="height: 246px;" width="708">
<tbody>
<tr>
<td width="87">سفر أشعياء</td>
<td width="416">نبوءة عن الصليب في ملء الزمان</td>
</tr>
<tr>
<td width="87">البولس</td>
<td width="416">قبول الأمم في شركة الكنيسة</td>
</tr>
<tr>
<td width="87">الكاثوليكون</td>
<td width="416">دينونة الأحياء والأموات</td>
</tr>
<tr>
<td width="87">الإبركسيس</td>
<td width="416">المسحاء الكذبة</td>
</tr>
<tr>
<td width="87">إنجيل القدّاس</td>
<td width="416">نار الروح وصبغة الخلاص</td>
</tr>
<tr>
<td width="87">إنجيل القدّاس</td>
<td width="416">ووحدة الكتاب كلّه</td>
</tr>
</tbody>
</table>
<h3>عظات ابائية</h3>
<h4><span>رسالة للانبا انطونيوس يحث أولادة على الجهاد ويذكرهم بجهادة</span></h4>
<p><span>يا أيها الأحباء بالرب انا أكتب اليكم مثل الأبناء الأحباء عند آبائهم لأن الأبناء الجسدانيين اذا ما تأملوا آبائهم ووافقوهم فأن الآباء يحبونهم من كل قلوبهم ويكرمونهم غاية الأكرام أكثر من أبنائهم غير المطيعين لهم . واذا كان لهم شيء حسن أدخروه للأولاد الموافقين لهم والمتشبهين بهم . فاما أنتم يا أحبائى بالرب الذين أنا أحبهم بكل القلب أشتهى أن أكون عندكم في كل حين وأنظركم وأبارك عليكم . لأن تعهدكم لى وتشبهكم بى ورجوعكم إلى الله . فانى أرى كل ذلك مستقيماً وقد حللتم بقلبى من أجل كل هذا ، ومن الآن فانا أطلب إلى إلهى بسببكم ليلاً ونهار لكيما يعطيكم مواهبه التي أعطانيها بنعمته فقط لا باستحقاق . لأن هذا هو الغنى العظيم الذى اعطانيه ربنا وأنا أسأله أن يعطيه لكم وهذا غاية شهوتى وطلبتى دائماً الليل والنهار ، أن تكونوا في الموضع الذى أكون فيه عند انتقالى من هذا الجسد  لأن ربنا دائماً من صغرى إلى هذا اليوم يسمع لى وأنا عالم أنه برحمته يجيب لى هذه أيضاً . وقد كتبت اليكم لعظم محبة قلبى فيكم لأنكم بجهادكم للرب تشبهتم بى في كل شيء . واعلموا أن سيدنا المسيح لأجل محبته العظيمة هكذا صنع بالتلاميذه . اذ قال اننى لست أدعوكم الآن عبيداً بل أخوة وأحباء وأبناء ولما صاروا له بنين طلب إلى الآب لأجلهم قائلاً : يا أبت أريد أن يكون هؤلاء حيث أكون أنا لانى أنا فيك وهم في لكى نكون أجمعنا كاملين في الوحدانية. فانظروا وأفهموا كيف طلب ربنا يسوع المسيح من أبيه لأجل تلاميذه لكونهم صاروا له بنين وان يكونوا معه حيث يكون هو . وهكذا الآن هي طلبتى يا أحبائى أن نكون جميعاً في المكان الذى ليس فيه حزن ولا مرض ولا ظلمة ولا أرواح خبيثة بل مملوءة من كل السرور والنور والحياة الأبدية والأكاليل التي لا تضمحل وأشياء أخر كائنه هناك لا يستطيع اللسان أن يصفها لأنها دائمة إلى أبد الأبد فيا أولادى صلوا إلى الرب أن يسهل طريقى اليكم دفعة أخرى وأقيم عندكم زماناً ما . لأنى أعلم أن هذا لبنيانكم وفرحكم بالإيمان . فأنا أيضاً أفرح اذا أتيت اليكم لتفرحوا وتنموا بزيادة في الإيمان . وأعرفكم بأسرار أخر كثيرة لا يمكننى أن أكتب اليكم . وأمكم سارة التي هي الروح تفرح بكم . هذه التي أكملت حملها وولدت روحاً إلهياً فيكم وتشتهى أن تكملكم كما طلبت منها عنكم بذلك الروح النارى العظيم الذى قبلته أنا لتقبلوه أنتم أيضا . واذا أردتم أن تقبلوه ويسكن فيكم فقدموا أولاً أتعاب الجسد وتواضع القلب وأرفعوا أفكاركم إلى السماء في الليل والنهار وأطلبوا باستقامة قلب هذا الروح النارى وحينئذ يعطى لكم . لأنه هكذا وصل اليه إيليا واليشع وكافة الأنبياء . ولا تفكروا في قلوبكم وتكونوا ذوى قلبين وتقولوا من يقدر أن يقبل هذا ! لا يا أولادى لا تدعوا هذه الأفكار تأتى على قلوبكم . بل أطلبوا باستقامة قلب وأنتم تقبلونه . وأنا أيضاً أبوكم أجتهد معكم وأطلب لأجكم أن تقبلوه لأنى أنا عارف انكم كاملين وقادرين على قبوله . لأن كل من يفلح ذاته بهذه الفلاحة فان الروح يعطى له في كل جيل وإلى الأبد . وأعرف أن أناساً قبلوه ولما لم يكملوا هذه الفلاحة لم يثبت الروح فيهم فأما أنتم يا أحبائى الذين أشتهى من كل قلبي أن أنظر كم لأجل استقامة عقولكم على الطريق الحق داوموا على الطلبة باجتهاد من كل قلوبكم فانه يعطى لكم . لأن ذلك الروح يسكن في القلوب المستقيمة واذا قبلتموه فانه يكشف لكم أسرار علوية وأشياء أخر لا استطيع أن أعبر عنها بالكتابة بالقلم والمداد ، ويجعلكم أن تبتعدوا عن خوف البشر والوحوش الضارية وما يشبه ويكون لكم فرح سماوى ليلاً ونهاراً وتكونون في هذا الجسد كمن هم في ملكوت السموات . ولا تطلبوا عن أنفسكم فقط بل وعن الآخرين لأن كل من قبل الروح لا ينبغي له أن يطلب عن ذاته لكن عن الغير أيضاً . كما صنع موسى لما قبل هذا الروح طلب من أجل شعبه قائلاً لله أن كنت تهلك هؤلاء فامحى اسمى من سفر الحياة الذى كتبت وهكذا تكون طلبة كل من وصل إلى هذا الحد من القديسين وغيرهم . فاننى لا أقدر أن اصفهم باسمائهم واحداً واحداً . أما أنتم فحكماء وتعرفونهم وأنا فطلبتى الآن نهارًا وليلًا ليكون فيكم عظمة لذة هذا الروح الذى قد قبله جميع الاطهار  وانى يا أولادى الأحباء، بعد أن كتبت هذه الرسالة تحرك في روح الله أن أكتب لكم عن هذا الروح النارى في آخرها وعن المحبة الإلهية. وإذا أتيت اليكم بمعونة الله عرفتكم أشياء أخر كثيرة عن الروح النارى هذا لكى تقتنوا جميعاً. وكما بثثتكم السلام في بداية الرسالة كذلك أيضاً ابثكم السلام بمحبة الرب في آخرها بهذا الروح النارى الذى قبلته أنا وأياكم بنعمة الرب . وأطلب اليكم تتركوا ارادتكم الحسية وتلزموا الهدوء بكل نوع لكى تسكن فيكم القوات العلوية بمؤازرة هذا الروح القدس وتعينكم على العمل </span>بإرادة الثالوث الاقدس الآب والأبن والروح القدس له السبح دائماً سرمدياً إلى أبد الأبدين آمين .<a href="#_ftn1" name="_ftnref1">[2]</a></p>
<p><span> </span></p>
<h4><span>الجهاد الروحي للانبا انطونيوس </span> </h4>
<p><span>يتطلَّب الجهاد للحصول على النقاوة الكاملة؛ جهاد النفس والجسد معًا في أعمال التوبة، بتناسٍق وتساٍو. فإذا وُهِب العقل نعمة ما، يستطيع عندئذ أن يُصارِع ضد الشهوات بلا هوادة أو تراٍخ، ويَتقبَّل أفكار الروح القدس وتوجيهاته وتعزياته، ويستطيع أن يطرد عن النفس الميول الدنسة النابعة عن شهوات القلب. وبفضل الشركة بين عقل الإنسان أو نفسه والروح القدس، يساعد الروح القدس الإنسان على تنفيذ الوصايا التي تعلَّمها، ويُرشِده لطرد كل الشهوات عن النفس، سواء النابعة عن النفس ذاتها مستقلة عن الجسد، أو تلك التي لحقت بها عن طريق الجسد.</span></p>
<p><span>الروح القدس يُعَلِّم الإنسان أن يحفظ جسده كله - من الرأس إلى القدمين - في تناسق: فيحفظ العينين لتنظرا بنقاوة.</span></p>
<p><span>ويحفظ الأذنين لتصغيا في سلام، أو تنصتا إلى الأمور الخاصة بالسلام دون أن تتلذَّذا بالأحاديث عن الآخرين والافتراءات وذمّ الغير.</span></p>
<p><span>ويحفظ اللسان لينطق بالصلاح فقط، معطيًا وزنًا لكل كلمة، فلا يسمح لشيءٍ دنس أو شهواني أن يختلط بحديثه.</span></p>
<p><span>ويحفظ اليدين لتتحرَّكا طبيعيًا فترتفعان للصلاة ولصنع الرحمة والكرم.</span></p>
<p><span>ويحفظ المعدة ليكون لها حدود مناسبة للأكل والشراب، وذلك حسب القدر الكافي لقوت الجسد، فلا يترك الشهوة أو النهم ينحرفان بها، فتتعدَّى حدودها.</span></p>
<p><span>ويحفظ القدمي ليسلكا ببر حسب إرادة اللّه، بهدف القيام بالأعمال الصالحة.</span></p>
<p><span>بهذا يكون الجسد كله قد اعتاد على كل عمل صالح، وصار خاضعًا لسلطان الروح القدس، فيتغيَّر شيئًا فشيئًا حتى يشارك - إلى حدٍ ما - </span>في النهاية في صفات الجسد الروحي الذي يناله في القيامة العادلة<a href="#_ftn1" name="_ftnref1">[3]</a></p>
<h4><span>الوكيل الأمين الحكيم للقديس كيرلس الاسكندري</span></h4>
<p><span>(لو١٢: ٤١ – ٤٨)</span></p>
<p><span>إنه أمر صالح ويؤدي إلى خلاصنا أن نوجه نظرة سريعة نفاذة من عقلنا إلى كلام الله، لأنه مكتوب عن الكلمات التي يقولها الله: &#8221; من هو حكيم حتى يفهم هذه الأمور، أو فهيم حتى يعرف معناها &#8221; (هو١٤: ٩)، لأن مجرد السماع وقبول الكلمة المنطوقة في الأذن، هو أمر مشترك بين الناس: للحكماء ولغير الحكماء، لكن عادة النفاذ العميق إلى الأفكار النافعة يوجد فقط لدى من هم بالحق حكماء. لذلك فلنطلب هذا الأمر من المسيح، لنقتدى بالطوباوي بطرس ذلك التلميذ المختار، ذلك الوكيل الأمين، والمؤمن الحقيقي، الذي عندما سمع المسيح يقول كلاما له منفعة عظيمة لهم، طلب أن يشرح له (الرب) ما قاله، ولم يدع الأمر يعبر بدون فهم، لأنه لم يكن قد أدرك معناه بوضوح بعد، لأنه قال: &#8220;يا رب ألنا تقول هذا المثل أم للجميع أيضا؟&#8221; (لو١٢: ١٤). إنه يسأل: هل هذا قانون عام يسري على الكل بالتساوي، أم هو يناسب فقط أولئك الذين هم أعلى من الباقين؟ فما الذي أزعج التلميذ الحكيم، أو ما الذي جعله يرغب أن يتعلم أمورا كهذه من المسيح؟ لذلك فسوف نناقش هذه النقطة أولا. إذن توجد بعض وصايا تناسب فقط أولئك الذين قد وصلوا إلى الكرامات،الرسولية، أولئك الذين امتلكوا معرفة أكثر من المعتاد وامتلكوا فضائل روحية أعظم، بينما هناك وصايا أخرى تخص من هم في حالة أدنى، ويمكننا أن نرى مما كتبه المغبوط بولس إلى بعض تلاميذه أن هذا الكلام الصحيح  بحسب ما قلته: &#8220;سقيتكم لبنا لا طعاما لأنكم لم تكونوا بعد تستطيعون، بل والآن أيضا لا تستطيعون، أما الطعام القوي فللبالغين الذين بسبب التمرن قد صارت لهم الحواس مدربة على التمييز بين الخير والشر &#8221; (كو٣: ۲)، (عب٥: ١٤). فمثلاً كما أن الأحمال الثقيلة جداً يمكن أن يحملها أشخاص لهم بنية قوية جدا، وهذا ما لا يقدر عليه ذوو البنية الضعيفة، هكذا يمكننا أن نتوقع بصواب من أصحاب الذهن القوي أن يتمموا الوصايا البسيطة والسهلة جدا والخالية من كل صعوبة، فإنها تناسب أولئك الذين لم يصلوا بعد إلى هذه القوة الروحية. لذلك فإن الطوباوي بطرس إذ فكر في نفسه في قوة الكلام الذي قاله المسيح، سأل بصواب، هل يشير كلام الرب إلى كل المؤمنين، أم هم وحدهم أي الذين دعوا، وخاصة أولئك الذين شرفوا بعطية السلطات الرسولية؟</span></p>
<p><span>وماذا كان جواب ربنا؟ إنه استخدم مثالا واضحا صريحا جدا، ليظهر أن الوصية موجهة بنوع خاص إلى أولئك الذين يشغلون مركزا أكثر كرامة، وقد قبلوا في رتبة المعلمين. لأنه يقول: &#8220;فمن هو الوكيل الأمين الحكيم الذي يقيمه سيده على خدمه ليعطيهم طعامهم في حينه&#8221; (لو١٢: ٤٢). إنه يقول: &#8221; لنفترض رب بيت كان مزمعا أن يسافر في رحلة، أوكل لواحد من عبيده الأمناء مهمة تدبير كل بيته، لكي يعطي أهل البيت (أي خدمه)، الطعام المستحق لهم في حينه. ويقول، لذلك عندما يعود إلى بيته، إن وجده يفعل هكذا كما أمره، سيكون ذلك العبد مغبوطا جدا ويقول إنه سوف يقيمه على جميع أمواله. ولكن إن كان مهملاً وكسولاً ويسر بضرب العبيد رفاقه ويأكل ويشرب مستسلما لأهوائه وشهواته، فحينما يأتي سيد ذلك العبد في يوم لا ينتظره، وفي ساعة لا يعرفها فإنه سيشقه من وسطه، أي أنه سيعاقبه بأشر عقوبة&#8221;. هذا هو المعنى البسيط والواضح للفقرة، والآن إن ثبتنا ذهننا بدقة في النص، سنرى ما هو المقصود به، وكيف أنه نافع لأولئك الذين دعوا إلى الرسولية، أي إلى وظيفة المعلم. لقد أقامهم المخلص كوكلاء على خدمه  أي على أولئك الذين تم ربحهم بواسطة الإيمان لكي يعرفوا مجده -  أناس أمناء ولهم فهم عظيم ومتعلمين جيدا في التعاليم المقدسة، وقد أقامهم وأمرهم أن يعطوا العبيد رفقاءهم ما يحق لهم من الطعام، وذلك ليس اعتباطا وبدون تمييز، بل بالأحرى في الوقت المناسب وأقصد به الطعام الروحي كما يكفي لكل فرد ويناسبه. لأنه لا يليق أن نقدم تعليما عن كل النقاط لكل الذين قد آمنوا بالمسيح، لأنه مكتوب: &#8220;معرفة اعرف نفوس قطيعك&#8221; (أم٢٧: ٢٣) س). لأن الطريقة التي بها نثبت في طريق الحق من قد بدأ الآن أن يصير تلميذا هي مختلفة تماماً إذ أننا نستعمل فيها تعليما بسيطا لا يكون فيه شيء عميق أو صعب الفهم، ناصحين إياه أن يهرب من ضلال تعدد الآلهة، وبطريقة مناسبة نقنعه أن يعرف بواسطة جمال الأشياء المخلوقة، الصانع والخالق العام الذي هو واحد بالطبيعة، وهو الله بالحقيقة. وتلك الطريقة تختلف عن الطريقة التي : نعلم بها أولئك الذين هم أكثر ثباتا في الذهن، ويقدرون أن يفهموا ما هو العلو والعمق والطول والعرض، وأن يدركوا تعريفات اللاهوت الفائق. لأنه كما سبق وقلنا: &#8221; وأما الطعام القوي فللبالغين&#8221;. لذلك فمن يقسم لرفقائه في العبودية بحكمة، في الوقت المناسب نصيبهم بحسب احتياجهم أي طعامهم، فإنه يكون مغبوطا جدا بحسب كلمة المخلص، لأنه سيحسب مستحقا لأمور أعظم، وسوف ينال مكافأة مناسبة لأمانته. إنه يقول &#8220;لأنه يقيمه على جميع أمواله&#8221;. وهذا قد علمنا إياه المخلص في موضع آخر، حيث يمتدح العبد الأمين والنشيط بقوله: &#8220;نعما أيها العبد الصالح والأمين، كنت أمينا في القليل فأقيمك على الكثير، ادخل إلى فرح سيدك&#8221; (مت٢٥: ٢١). </span></p>
<p><span>ويقول الرب إنه لو أهمل واجبه في أن يكون مجتهدا وأمينا، وازدرى بالسهر في هذه الأمور كأن السهر ليس مهما، وجعل ذهنه يسكر بالاهتمامات الدنيوية، وسقط في سلوك غير لائق، فيتسلط بالقوة، ويظلم أولئك الخاضعين له، ولا يعطيهم نصيبهم، فإنه سيكون في قمة التعاسة. لأني أظن أن هذا هو المقصود بأنه يقطع. ويقول ويجعل نصيبه مع الخائنين&#8221;. لأن كل من أساء إلى مجد المسيح، أو تجاسر أن يستخف بالقطيع المؤتمن على رعايته، فإنه لا يختلف من أي ناحية عن أولئك الذين لم يعرفوا الرب أبدا، ومثل هؤلاء الأشخاص سيحسبون بحق ضمن أولئك الذين لم يعرفوا الرب أبدا، ومثل هؤلاء الأشخاص سيحسبون بحق ضمن أولئك الذين ليس لهم محبة نحو الرب، لأن المسيح أيضا قال ذات مرة للمغبوط بطرس: &#8220;يا سمعان بن يونا، أتحبني! ارع خرافي، وارع غنمي&#8221; (يو٢١: ١٦، ١٧). لذلك إن كان من يرعى خرافی يحبها، هكذا بالطبع فمن يهملها ويترك الخراف التي قد أؤتمن عليها بدون رعاية، فإنه يبغضها، وإن أبغضها فسيعاقب، ويكون عرضة للدينونة المحكوم بها على غير المؤمنين (الخائنين)، لأنه يدان بسبب إهماله وازدرائه، وهكذا كان ذلك الذي نال الوزنة ليتاجر بها في الروحيات ولم يفعل، بل بالعكس أحضر ما قد أعطي له بدون ربح قائلاً &#8220;يا سيد عرفت أنك إنسان قاس تحصد حيث لم تزرع، وتجمع من حيث لم تبذر، فخفت ومضيت وأخفيت وزنتك في الأرض، هوذا الذي لك&#8221; (مت٢٥: ٢٤ -٢٥). </span></p>
<p><span>لكن الذين أخذوا الخمس وزنات أو أكثر منها، وتعبوا وأحبوا الخدمة، قد شرفوا بكرامات مجيدة لأن واحدا منهم سمع القول: &#8220;ليكن لك سلطان على عشر مدن&#8221; (لو۱۹: ١٧-١٩) بينما ذلك العبد المستهتر والكسول لاقى أقصى دينونة. لذلك فهو خطر أو بالحري يسبب هلاك الناس، أن يكون الإنسان مهملاً في تأدية واجبات الخدمة، ولكن تأديتها بغيرة لا تكل يجلب لنا الحياة والمجد.</span></p>
<p><span> وهذا يعني أن نتكلم مع العبيد رفقائنا بطريقة سليمة وبدون خطأ في الأمور التي تخص الله، وكل ما من شأنه أن ينفعهم في الوصول إلى المعرفة والمقدرة على السلوك باستقامة. والمغبوط بطرس أيضا يكتب إلى بعض الأشخاص قائلاً: &#8220;ارعوا رعية الله التي بينكم، ومتى ظهر رئيس الرعاة تنالون مكافأتكم&#8221; (انظر (ابط ٥: ٢-٤). </span></p>
<p><span>ولأن بولس أيضا يعرف أن الكسل هو باب الهلاك، يقول: ويل لي إن كنت لا أبشر&#8221; (١كو٩: ١٦). وكون تلك العقوبة المرأة والحتمية تهدد كل من هم كسالي في هذا الواجب، هذا ما أظهره المخلص في الحال بإضافة مثالين واحدا بعد الآخر فقال: &#8220;لأن العبد الذي يعلم إرادة سيده ولا يستعد ولا يفعل بحسب إرادته فيضرب كثيرا، ولكن الذي لا يعلم ويفعل ما يستحق ضربات يضرب قليلا&#8221;. والآن فإن الذنب لا جدال فيه في حالة من عرف إرادة سيده لكنه أهملها بعد ذلك، ولم يفعل ما كان يجب عليه أن يعمله. فإن هذا ازدراء واضح، لذلك يستحق ضربات كثيرة، لكن لأي سبب أوقعت ضربات قليلة على من لم يعرف إرادة سيده ولم يفعلها ! لأنه ربما يسأل أحد، كيف يمكن لمن لم يعرف إرادة سيده أن يكون مذنبا؟ السبب، هو لأنه لم يعرفها رغم أنه كان في مقدوره أن يتعلمها. لكن إن كان الذي توقع عليه ضربات كثير بعدل وهو الذي عرف إرادة سيده واحتقرها؟ &#8221; فكل من أعطي كثيرا يطلب منه كثيرا، ومن يودعونه كثيرا يطالبونه بأكثر&#8221; (لو١٢: ٤٨). </span></p>
<p><span>لذلك، فمن يعلمون دينونتهم كبيرة جدا، وهذا أوضحه تلميذ المسيح، بقوله: &#8220;لا تكونوا معلمين كثيرين يا إخوتي عالمين أننا نأخذ دينونة أعظم&#8221; (يع٣: ١). لأن إعطاء المواهب الروحية يكون بسخاء لأولئك الذين هم رؤساء الشعب، لأنه هكذا كتب بولس الحكيم أيضا في مكان ما إلى تيموثاوس المغبوط: &#8220;ليعطك الرب فهما في كل شيء&#8221; (۲تی۲: ۷) و&#8221;لا تهمل الموهبة التي فيك التي أعطيت لك بوضع يدي&#8221; (٢تی١: ٦). فهؤلاء الذين أعطاهم مخلص الكل كثيرا هكذا، يطالبهم بكثير. وما هي الفضائل التي يطلبها؟ الثبات في الإيمان، سلامة التعليم، أن يكونوا راسخين جداً في الرجاء، صابرين بلا تزعزع ولهم قوة روحية لا تغلب، فرحين وشجعان في كل إنجاز ممتاز جدا، لكي بذلك نكون أمثلة للآخرين في الحياة الإنجيلية لأننا إن عشنا هكذا، فالمسيح سوف ينعم علينا بالإكليل، </span>الذي به ومعه يليق الله الآب التسبيح والسلطان، مع الروح القدس إلى أبد الأبدين آمين. <a href="#_ftn1" name="_ftnref1">[4]</a></p>
<p> </p>
<h4><span>سهر الرعاة -</span><span>القديس غريغوريوس النيصي </span></h4>
<p><span>[ ولذلك يدعونا الرب أن نسهر قائلاً &#8221; طوبي لأولئك العبيد الذين إذا جاء سيدهم يجدهم ساهرين &#8221; (لو ١٢ : ۳۷) . لأن النور حين يسطع في عيوننا فانه يبدد النوم ، والجسد يسهر حين تمنطق حقوينا ولا نغلب من النوم . وهذا الدرس واضح وهو أن الإنسان الذي يمنطق نفسه يضبط النفس فانه يحيا في نور نقاوة الضمير وسوف تشرق حياته بمصباح المحبة ، لهذا فإنه تحت أشعة الحق سوف تستيقظ روحه ولا تنام أو تخدع أو ترتبك بتلك الأشياء العالمية الزائلة . وإذا ما نحن أكملنا وصية السهر كما يوجهنا الرب يسوع المسيح عندئذ سوف نسلك في الحياة الملائكية . لأن الوصية الإلهية تشبهنا دائما بالملائكة &#8221; وأنتم مثل ناس ينتظرون سيدهم متى يرجع من العرس حتى إذا جاء وقرع يفتحون له للوقت &#8221; ] (لو١٢: ٣٦)  </span></p>
<p><span>  </span>.<span>انهم الملائكة الذين استقبلوا الرب حين رجع من عرس الصليب هم ظلوا ساهرين منتظرين أمام أبواب السماء . ووفقاً للمزمور الذي يقول &#8221; هي مثل العروس الخارج من حجلته &#8221; (مز۱۹: ٥) أي أن الرب يسوع المسيح قد خطبنا لنفسه عن طريق سر المعمودية المقدسة . نحن العروس التي ارتكبت الزنا سلكنا خلف الأوثان كما عبر عن ذلك حزقيال النبي &#8221; لانهما زنتا وفي ايديهما دم وزنتا بأصنامهم &#8221; (حز۲۳ : ۳۷) إلا أن العريس يحول طبيعتنا الخاطئة ويمنحنا البتولية غير الفاسدة . وإلا قد كمل طقس الزواج وتم زفاف الكنيسة للمسيح الكلمة كما يقول يوحنا الرسول &#8221; من له العروس فهو العريس &#8221; (يو٣ : ۲۹) . وقد دخلت الكنيسة في سر الزفاف والعريس كان فوق الصليب والملائكة انتظروا رجوع ملكهم (صعود المسيح) وهو الآن يقود الكنيسة إلى تلك البرية التي تناسب مكانتها </span>.</p>
<p><span>نحن أيضا يجب أن نكون مثل الملائكة ونصير مثلهم بلا خطية ولا تجربة وهم ساهرين دائماً منتظرين رجوع ملكهم . ونحن يجب أن نكون دائماً مستعدين لدعوته لنا للانطلاق من هذا العالم ونظل يقظين حتى يأتي المجيء الثاني . ويقول « طوبى لأولئك العبيد الذين إذا جاء سيدهم يجدهم ساهرين » (لو۱۲ : ۳۷) </span></p>
<p><span>يقول القديس غريغوريوس النيصي : [ ولذلك يدعونا الرب ان نسهر قائلاً &#8221; طوبي لأولئك العبيد الذين إذا جاء سيدهم يجدهم ساهرين &#8221; (لو١٢ : ۳۷) . لأن النور حين يسطع في عيوننا فانه يبدد النوم ، والجسد يسهر حين نمنطق حقوينا ولا نغلب من النوم . وهذا الدرس واضح وهو أن الإنسان الذي يمنطق نفسه يضبط النفس فانه يحيا في نور نقاوة الضمير وسوف تشرق حياته بمصباح المحبة ، لهذا فإنه تحت أشعة الحق سوف تستيقظ روحه ولا تنام أو تخدع أو ترتبك بتلك الأشياء العالمية الزائلة . وإذا ما نحن أكملنا وصية السهر كما يوجهنا الرب يسوع المسيح عندئذ سوف نسلك في الحياة الملائكية . لأن الوصية الإلهية تشبهنا دائماً بالملائكة &#8220;وأنتم مثل ناس ينتظرون سيدهم متى يرجع من العرس حتى إذا جاء وقرع يفتحون له للوقت &#8221; (لو۱۲ : ٣٦) . انهم الملائكة الذين استقبلوا الرب حين رجع من عرس الصليب هم ظلوا ساهرين منتظرين أمام أبواب السماء . ووفقاً للمزمور الذي يقول &#8221; هي مثل العروس الخارج من حجلته &#8221; (مز۱۹ : ٥) أي أن الرب يسوع المسيح قد خطبنا لنفسه عن طريق سر المعمودية المقدسة . نحن العروس التي ارتكبت الزنا سلكنا خلف الأوثان كما عبر عن ذلك حزقيال النبي &#8220;لانهما زنتا وفي ايديهما دم وزننا بأصنامهم &#8221; (حز۲۳ : ۳۷) إلا أن العريس يحول طبيعتنا الخاطئة ويمنحنا البتولية غير الفاسدة . وإلا قد كمل طقس الزواج وتم زفاف الكنيسة للمسيح الكلمة كما يقول يوحنا الرسول &#8221; من له العروس فهو العريس &#8221; (يو۳ : ۲۹) . وقد دخلت الكنيسة في سر الزفاف والعريس كان فوق الصليب والملائكة انتظروا رجوع ملكهم ( صعود المسيح ) وهو الآن يقود الكنيسة إلى تلك البرية التي تناسب مكانتها . نحن أيضا يجب أن نكون مثل الملائكة ونصير مثلهم بلا خطية ولا تجربة وهم ساهرين دائماً منتظرين رجوع ملكهم . ونحن يجب أن نكون دائما مستعدين لدعوته لنا للانطلاق من هذا العالم ونظل يقظين حتى يأتي المجيء الثاني .</span>ويقول &#8221; طوبى لأولئك العبيد الذين إذا جاء سيدهم يجدهم ساهرين &#8220;(لو١٢: ٣٧).<a href="#_ftn1" name="_ftnref1">[5]</a></p>
<p><a href="#_ftnref1" name="_ftn1"></a></p>
<h3></h3>
<h3></h3>
<h3>عظات اباء وخدام معاصرون :</h3>
<h4><span>هل كلام الله لك ؟ - قداسة البابا تواضروس الثاني</span></h4>
<p><span>يوم الثلاثاء من الأسبوع الأول لقداسة البابا تواضروس الثاني</span></p>
<p><span>في إنجيل يوم الثلاثاء من الأسبوع الأول نجد سؤالاً واضحاً جداً في أوله &#8221; فقال له بطرس : يا رب ألنا تقول هذا المثل أم للجميع أيضاً ؟ &#8221;  (لو١٢ : ٤١) . بصيغة أخرى : هل كلام الله وكلام الكتاب المقدس ووصاياه هي لك ؟ هل هي مكتوبة لك بصورة خاصة ؟ أم مكتوبة للجميع أيضاً ؟ هل تشعر في داخلك أن الكلمة المقدسة هي موجهة لك بصورة شخصية ؟ أم تنظر للكتاب المقدس على أنه أحداث وتواريخ وشخصيات ومعجزات وأمثال لا بد أن أعرفها فقط؟؟ &#8230;. هنا توجد مشكلة يا أحبائي وهي مشكلة التراخي أمام كلمة الله، أو بصورة أخرى هي مشكلة إهمال كلمة الله ، بمعنى إهمالها في بيوتنا ، وإهمالها في حياتنا ، وفي ذاكرتنا ، قد نهتم بالطعام والشراب والملبس ومذاكرة أولادنا ، كذلك يهتم البعض بالقراءات العامة ، والبعض يهتم بالوسائل المتاحة له من تكنولوجيا &#8230;. وغيرها</span>.</p>
<p><span>بطرس الرسول يسأل ويقول :  يا رب ألنا تقول هذا المثل، أم قلته للجميع ؟! يظن البعض أن وصايا الكتاب المقدس خاصة بالخدام الموجودين في الكنيسة فقط، ولكن ما موقف البقية منهم ؟ وبنفس الفكر سأل القديس بطرس الرسول هذا السؤال : &#8221; ألنا تقول هذا المثل ؟ &#8221; ويبدأ ربنا يسوع المسيح في فقرة إنجيلية يشرح كيف أن هذا الكلام لكل إنسان ، لكي ما يكون كل إنسان مستعداً.  في صلاة النوم تصلي بعبارة مهمة جداً ونقول : &#8221; العمر المنقضي في الملاهي يستوجب الدينونة &#8220;. والملاهي هي الأمور التي تشغل الإنسان، حتى لو كانت أموراً جيدة ، حتى لو كانت أمور الخدمة ذاتها . هناك من تكون اهتماماته تبدو طيبة وجيدة ، ولكن ما مقدار ومساحة اهتمامك بكلمة الله ؟ وهذا على المستوى الشخصي ، فعندما تحضر القداس وتسمع القراءات الكنسية ، وعند قراءة الإنجيل الكل يقف ، وهذا حسن جداً ، ولكن أعود وأسأل : ما هو اهتمامك الشخصي ؟ ما هو اهتمامك بكلمة الله ؟ </span></p>
<p><span>الإنجيل يا إخوتي ليس رسالة فقط، بل هو شخص ربنا يسوع المسيح ذاته ، أنت عندما تقرأ في الإنجيل فأنت تسعى لكي ما تُقابل المسيح ذاته ، فالإنجيل هو مقياسك كل يوم . إذا كانت خطية الإهمال والتراخي أمام كلمة ربنا وتركها ونسيانها ، فاحذر وانتبه ؛ لأن عندما يسمح ربنا بأن تكمل حياتك على الأرض فكيف تعرف السماء ؟ كيف تنكشف أمامك السماء ؟</span></p>
<p><span>الكتاب المقدس هو فم المسيح، فإهمالك معناه أن هناك من يكلمك وأنت تُهمل، وهو أيضاً حضور المسيح بيننا، ففي اجتماعاتنا سواء كانت اجتماعات الكنيسة في مستوياتها، أو اجتماعات المجمع المقدس، أو اجتماع الخدام ، لا بد أن يكون الكتاب المقدس حاضراً ؛ لأنه هو حضور المسيح . وأيضاً الكتاب المقدس هو مستقبلنا ، فأبديتنا مرتبطة بالإنجيل ، فلا بد أن نستعد للسماء ، ولذلك مستقبلك وأبديتك ونصيبك السماوي مرتبط تماماً بالكلمة المقدسة.</span></p>
<p><strong>* <span>لماذا يهمل الناس كلمة ربنا ؟</span></strong></p>
<p><span>(١) بعض الناس لا يعرفون القراءة، والبعض الآخر لا يعرف النطق ، ويمكن البعض لا يعرف المعنى أو الربط بين أجزاء في الكتاب ، وهناك بعض الناس لم يعتادوا عليه . ولذلك أحد مسئوليات الأب والأم من يوم المعمودية تجاه أولادهم أنهم يسلمونهم الكلمة المقدسة (الإنجيل) ،  فبمجرد أن ينطبع في ذهن الطفل الصغير أن هناك من هو أكبر منه فاتح أمامه الكتاب المقدس باستمرار، يتواجد في ذهنه صورة ذهنية عن ضرورة وجود الكتاب المقدس في حياته اليومية  </span></p>
<p><span>(٢)  هناك أناس لم يعتادوا ، ولكن لا بأس ولا مانع حتى لو كنت لم تتعود </span></p>
<p><span>(٣) هناك من تكون حجته أن ليس لديه وقت للقراءة بالرغم من توافر الوقت لأمور كثيرة جدا </span></p>
<p><span>(٤) هناك أيضاً أناس يكون الكسل هو دستور حياتهم ، ولهذا نجد أنه عندما يبتعد الإنسان عن الكتاب المقدس يسهل على الشيطان أن يهاجمه ، وهذا ما جعل القديس بولس الرسول يقول : &#8221; لأن كلمة الله حية وفعالة وأمضى من كل سيف ذي حدين &#8221; (عب٤ : ١٢) . نحن نهتم دائماً بالإنجيل في الكنيسة وفي صلواتها ، فمثلاً هناك أوشية الإنجيل ، كذلك الإنجيل موجود داخل البشارة التي يمسكها الأب الكاهن ويضعها على المذبح ، هناك أيضاً مقدم البشارة ، ووقت قراءة الإنجيل تُضيء الشموع ، كذلك هناك رتبة كنسية تطلق عليها : &#8221; أغنسطس &#8221; ومعناها : &#8221; قارئ &#8221; ، وهناك أيضاً فصول كتابية كثيرة من العهد القديم والعهد الجديد. أتمنى أن هذه الرسالة تصل لكل إنسان وهي  ضرورة اهتمامك الشخصي بكلمة الله</span></p>
<p><strong> <span>أسباب الاهتمام بالكتاب المقدس </span></strong></p>
<p><span>الأسباب عديدة لضرورة الاهتمام بالكتاب المقدس وهي </span></p>
<p><span>(١)  الكتاب المقدس سراج ، وكلمة سراج تعني إضاءة ونور ، ومن صغرنا حفظنا الآية التي تقول : &#8221; سراج لرجلي كلامك ونور لسبيلي &#8221; (مز ١١٩ : ١٠٥). فكلمة الله سراج تعرفك طريقك في الحياة التي تعيشها ، وفي تعاملاتك مع الآخرين ، من ينير لك الطريق ؟ فكل خطوة تخطوها قدمك تحتاج لوصية </span></p>
<p><span>(٢) أمر آخر: أن الوصية شبع ، فكلمة الله تشبع الإنسان على المستوى الروحي والنفسي ، يقول : &#8221; وجد كلامك فأكلته &#8221; (إر ١٥ : ١٦).  لقد جعلت على الدوام هذه الكلمة موجودة في فمي ، قد تتناول جسد الرب ودمه ، لكن في الكتاب المقدس نجد أن الكلمة المقروءة وجدت على المنجلية ، وأكلته على المذبح . </span></p>
<p><span>(٣)  إن الكتاب يمثل حياة الإنسان، فالكتاب المقدس حياة ، وبحسب تعبير ربنا يسوع المسيح &#8221; الكلام الذي أكلمكم به هو روح وحياة &#8221; (يو٦ : ٦٣م) .  وهذا يعني أن في كل مرة تقرأ الكتاب المقدس تأخذ نسمة حياة . ا في عمليات الإسعاف والإنقاذ يقولون &#8221; قبلة الحياة &#8220;، وقبلة الحياة تكون من الإنسان المسعف للإنسان المصاب، حيث يقدمها له وتعتمد على وجود هواء وأكسجين  للشخص المصاب ، في كل مرة أنت تقرأ إنجيلك على المستوى الشخصي ، وبالتالي سوف تأخذ روح وحياة ، وتكون إنسانا جديرا بالحياة الحقيقية .  </span></p>
<p><span>(٤)  الكتاب المقدس حصانة لك ، فكلمة الله تحصنك &#8221; إسم الرب برج حصين &#8221; (أم ١٨: ١٠) ، قديماً  كانوا يبنون الأبراج كنوع من التحصين حول المدن ، وكأن بمعرفتك لكلمة الله على المستوى الشخصي فأنت تبني برجاً حصيناً ، واقرأ داود النبي عندما يقول : &#8221; لو لم تكن شريعتك لذتي ، لهلكت حينئذ في مذلتي &#8221; (مز۱۱۹: ۹۲) .  فعليك أن تجعل لسانك يلهج نهارا وليلا ، ترى كم آية من الكتاب المقدس ذكرتها في قلبك طوال ٢٤ ساعة ، وكم كلمة تكلمت بها ؟</span></p>
<p><span>لو لم تكن الوصية حاضرة باستمرار أمامي وأنا أتذكرها وأتلذذ بها ، لهلكت حينئذ في مذلتي وفي خطيتي ، وبالتالي أسير مثل التائه ، الكتاب المقدس حصانة.</span></p>
<p><span>(٥) كلمة الله أيضاً هي سبب فرح للإنسان ، فقد يتعرض الإنسان للقلق والخوف والاضطراب الداخلي و غياب السلام القلبي ، اعرف أن كتابك المقدس على المستوى الشخصي يمنحك فرح &#8221; أبتهج أنا بكلامك كمن وجد غنيمة وافرة &#8221; (مز ۱۱۹ : ١٦٢) كلمة ربنا بتفرح . أتعجب على بعض البيوت الموجود فيها روح الكآبة ، فقد أشعر أن كل أفراد البيت متوترون ، والسبب هو أن هذا البيت ليس فيه كلمة الله ، وهواء البيت وأجواءه لم تتقدس بكلمة الله  </span></p>
<p><strong><span>كلمة الله فرح تجعلك دائماً إنساناً فرحاناً ومتهللاً بالروح </span></strong></p>
<p><span>(٦)  كلمة ربنا أيضاً صلاة ، فكل صلواتنا هي من الإنجيل ، فأنت عندما تقرأ الكتاب المقدس على   علمنا</span>.<span>مستواك الشخصى فأنت ترفع قلبك بصلاة عندما ذهب التلاميذ لربنا يسوع وقالوا له : علمنا يارب  كيف نصلي ؟، قال لهم يسوع : &#8221; متى صليتم فقولوا : أبائا الذي في السماوات &#8230; &#8221;  (لو١١ : ٢) وكانت هي &#8221; الصلاة الربانية &#8221; المكتوبة في الكتاب المقدس. إن صلوات كثيرة مبنية على الكتاب المقدس، حتى تسابيحاتنا، فمثلا الهوس الأول من التسبحة نجده في (خر١٥) ، وتصير الصلاة إنجيلا ، ويصير الإنجيل صلاة . يقول داود النبي : &#8221; كم أحببت شريعتك ! اليوم كله هي لهجي (مز١١٩ : ٩٧) كم أنا يا رب أحببت وصيتك ، وكلمتك هي لهجي اليوم كله الكتاب المقدس قطعة واحده لكل إنسان فينا ، فلا تفترض أن فيه أجزاء ليست خاصة بك ، بل كل جزء في كل سفر من أسفار الكتاب المقدس موجه لك بصورة شخصية ، لذلك قال القديس بولس الرسول في (كولوسي ٣ :١٦) :  &#8221; لتسكن فيكم كلمة المسيح بغنى.</span></p>
<p><span>نلاحظ أن أول كلمة في هذه الآية الصغيرة &#8221; لتسكن &#8221; أي السكن ، فكلمة الله سوف تسكن في ، وأرجوك استطعم هذا التعبير ، بمعنى أن كلمة الله تسكن وتقيم عندك وهذا يعني المعرفة ، معرفة كلمة الله وحفظها ، ويصير قلبك مقراً دائما للكلمة المقدسة ، ويظل قلبك هو مقر كلمة الله ، يا لروعة وجلال هذا الإنسان ، فأي إنسان قديس صار قلبه مقراً لكلمة الله . لتسكن وتعيش ولتقيم الكلمة داخلك، يعجبني الآباء والأمهات الذين يجعلون أولادهم يرتبطون بالكتاب المقدس هناك اب يعلم ابنه كيف يكون له كل يوم آيه في الكتاب المقدس  </span></p>
<p><span>هل كلمة ربنا ساكنة في بيتك، وفي قلبك، ووسط أسرتك ؟ و أما الكلمة الثانية فهي &#8221; فيكم &#8221; ويقصد بها المجموع سواء عائلات أو أسر أو الكنيسة ، فلتسكن كلمة الله في داخلك بمعرفة وبوعي ، اقض حياتك كلها مع الله ، فكل يوم سوف تعرف فيه معرفة جديدة </span><span>يقول &#8221; لتسكن فيكم كلمة المسيح &#8220;، وكلمة المسيح معناه كلمة الحياة ووصية المسيح ، وعندما أقول وصية المسيح يعني نعمة المسيح ، أي حضور نعمته ، شيء جيد جدا أن تكون حياتنا وكل بيوتنا</span><span> مملوءة بكلمة ربنا في القديم أيام عزرا الكاتب عندما عاد من السبي وقف الشعب أمامه ليسألوه : &#8221; لماذا فعل بنا الله هكذا ؟ لماذا جعلنا مسبيين ونعيش في السبي سنين وسنين ؟!&#8221;  أجابهم قائلاً : إن ذلك <strong>لسببين </strong>: </span></p>
<p><strong><span>الأول : </span></strong><span>لأنكم أهملتم كلمة الله </span></p>
<p><span><strong>الثاني</strong> : لأنكم عشتم في أسر مفككة ، وهذه الأسر منحلة بسبب الخطية. لذلك أيها الحبيب لا تحرم نفسك من كلمة الله ، ولا تهمل إنجيلك وتُحمل نفسك خطية ، وعدم معرفة الكتب المقدسة سبب لكل الخطايا وكل الشرور.</span></p>
<p><span>نشكر ربنا أن الكتاب المقدس متعدد الأشكال في وقتنا هذا . لتسكن فيكم كلمة المسيح بغنى ، بمعنى أن تسكن كلمة المسيح فيكم بوفرة أو بكمال … يابختك بكلمة المسيح التي تسكن فيك بغنى  </span></p>
<p><span>اسمع أيها الحبيب هذه الوصية : لتسكن فيكم كلمة المسيح بغنى وبكثرة ؛ لأن كلمة المسيح في الصباح وفي المساء في فمك وفي بيتك على الدوام حتى في حياتنا اليومية وفى كل المناسبات  </span></p>
<p><strong><span>وعلاقتك بالإنجيل تمر بعدة خطوات هي على النحو التالي :  </span></strong></p>
<p><span>(١) يكون لك الكتاب المقدس الشخصي الخاص بك . </span></p>
<p><span>(٢) أن يكون عندك باستمرار هذه المحبة الفياضة لكلمة الله ، ولتسكن فيكم كلمة المسيح بغنى فلتكن هدفاً لك.  </span></p>
<p><span>(٣) القراءة اليومية ، فلا تجعل يوماً من حياتك يمر بدون أن تفتح إنجيلك .</span></p>
<p><span>(٤)  تتقدم وتدرس وتحاول تفهم إنجيلك .</span></p>
<p><span>(٥) أحفظ بأى وسيلة تفضلها وتكون كلمة الله في فمك .</span></p>
<p><span>(٦) تتكلم في أحاديثك وكلامك ستسير بهذا الغنى الذى سكن فيك .</span></p>
<p><span>(٧) الحفظ والحياة والعمل ، وتبدأ تطبيق الكلمة المقدسة والتي تعتبر جزءاً من الكلام اليومي ، وصرت أنت إنجيلا مقروءاً من جميع الناس ، وصار سلوكك وكلامك وملامحك وقرارتك كلها تنبع من خلفية الكتاب المقدس</span></p>
<p><span>من فضلك تذكر هذا السؤل الذي سأله القديس بطرس الرسول : &#8221; ألنا يا رب تقول هذا المثل،  أم للجميع ؟&#8221; وكانت إجابة ربنا يسوع المسيح هي إنجيل يوم الثلاثاء من الأسبوع الأول من الصوم المقدس ، وهي رسالة شخصية لك ، ولا بد أن تضع أمامك </span>هدفاً في أيام الصوم أو غير الصوم ، وهو &#8221; لتسكن فيكم كلمة المسيح بغني &#8220;<a href="#_ftn1" name="_ftnref1">[6]</a></p>
<p> </p>
<h4><span>مثل العبد الأمين الحكيم للمتنيح القمص لوقا سيداروس</span></h4>
<p><strong><span> (مت ٢٤ : ٤٢-٤٤)</span></strong></p>
<p>&#8221; <span>اسهروا اذاً لأنكم لا تعلمون فى أية ساعة يأتى ربكم واعلموا هذا : أنه لو عَرَفَ ربُ البيت فى أى هزيع يأتى السارق ، لسهر ولم يَدَع بيتهُ يُنقبُ لذلك كونوا أنتم أيضاً مُستعدّين ، لأنه فى ساعة لا تظنون يأتى ابن الانسان &#8221; (مت٢٤: ٤٢-٤٤).</span></p>
<ul>
<li><strong><span>المثل </span></strong></li>
</ul>
<p>&#8221; <span>فمن هو العبد الأمين الحكيم الذى أقامه سيدُهُ على خَدمه ليُعطيهم الطعام فى حينه ؟ طوبى لذلك العبد الذى اذا جاء سيّدُهُ يفعل هكذا إإ الحق أقول لكم : انه يُقيمُهُ على جميع أمواله ولكن ان قال ذلك العبد الردىء فى قلبه : سيدى يُبطىء قدومه فيبتدىء يضرب العبيد رُفقاءه ويأكل ويشرب مع السكارى يأتى سيد ذلك العبد فى يوم لا ينتظره وفى ساعة لا يعرفها ، فيقطعُهُ ويجعل نصيبه مع المرائين هناك يكون البكاء وصرير الأسنان &#8220;(مت٢٤: ٤٥-٥١).</span></p>
<p><span>فى مقدمة المثل بحسب انجيل القديس متى جاءت هذه الكلمات عن مجىء المسيح وزمن مجيئه</span></p>
<p><span>فى أى هزيع يأتى رب البيت :</span></p>
<p><span>أمساء أم نصف الليل أم صياح الديك أم صباحاً متى يأتى ؟</span></p>
<p><span>هو لابد أنه آت ومجيئه الثانى المخوف المملوء مجداً ، حيث يجتمع اليه الكل ويقف أمام منبر المسيح المخوف ديان الأرض كلها كل واحد ليُعطى حساباً عما قدمه بالجسد خيراً كان أم شراً</span></p>
<p><span>فهل يعمل الانسان حساب هذا اليوم وهل يستعد بماذا يجاوب ديّانه ؟ المجىء العام للدينونة أمر مؤكد لدى جميع البشر.</span></p>
<p><span>أما قول الرب &#8221; لا تعلمون متى يأتى رب البيت&#8221; فقد أخفى هو بحسب تدبيره موعد مجيئه وقالها بوضوح شديد للرسل الأطهار أن ليس لهم أن يعرفوا الأزمنة والأوقات التى جعلها الآب فى سلطانه وحده وأن يوم مجيئه لا تعرفه ولا الملائكة الذين فى السماء .</span></p>
<p><span>والمطلوب من الانسان أن لا ينشغل بهذا الأمر الا من جهة الاستعداد وأن يوجد الانسان فى ذلك اليوم وتلك الساعة بغير خوف ولا اضطراب ، بل يكون له ثقة ولا يخجل من المسيح عند مجيئه</span></p>
<p><span>أما وقد قسّم الرب ساعات الليل الى مساء أم نصف الليل أم صياح الديك أم صباحاً</span></p>
<p><span>فهذا ما أخذته الكنيسة ورتبت عليه صلوات السهر من المساء صلاة النوم الى صلوات نصف الليل بالثلاث خدم ثم صلاة (صياح الديك) السحر وهى فجراً ، وقد ضُمت الى صلاة باكر التى قال عنها الرب صباحاً ، وقد جهزت الكنيسة أولادها المختارين بالتسابيح لتفهم الألحان ومصابيحهم موقدة فى حالة استعداد يومى لملاقاة المسيح.</span></p>
<p><span>فلا غفلة ولا نوم ولا كسل بل جهاد وسهر وصحو وانتظار ، هكذا عاش أولاد الله حياة الصلاة والسهر وانتظار مجىء المسيح .</span></p>
<p><span>وقد قيل أن هذه الساعات قد تعنى مراحل عمر الانسان المختلفة ، فالمساء هو مقتبل العمر ونصف الليل هو نصف العمر وهكذا صياح الديك وصباحاً يعنى اكتمال العمر فى الشيخوخة.</span></p>
<p><span>وهكذا قد يترك الانسان هذا العالم فى أى لحظة فأى وقت وفى أى مرحلة من مراحل الحياة .</span></p>
<p><span>والأمثلة لا تقع تحت حصر أو عد فقد رأينا المئات والآلاف يتركون العالم فى جميع الأعمار وتحت كافة الظروف والمسببات وبدون أسباب والأمر يحتاج الى يقظة وتفهم وصية المسيح واعتبارها بكل الاعتبار &#8221; ما أقوله لكم أقوله للجميع : اسهروا &#8221; (مر١٣: ٣٧).</span></p>
<p>   <span>هنا يأتى السهر بمعنى اليقظة الروحية مع الانتظار والتوقع لئلا تأخذ الانسان غفلة فينام ، فيسرق العدو خلاصه ويفقده اكليله.</span></p>
<p><span>المسيحى الحقيقى انسان سهران دائماً يقظ دائماً بحسب وصية المسيح وبحسب قلب عروس النشيد المغبوطة حتى فى نومها الا أن قلبها دائماً مستيقظ لا ينام.</span></p>
<p><span>قال الرب هذا الكلام ثم أردفه بالمثل موجهاً كلامه الى رسله وقد أورد القديس لوقا الانجيلى هذا المثل بعينه فى (لو١٢: ٤١-٤٨).</span></p>
<p>&#8221; <span>فقال له بطرس : يارب ، ألنا تقول هذا المثل أم للجميع أيضاً ؟ فقال الرب : فمن هو الوكيل الأمين الحكيم الذى يُقيمه سيده على خَدَمه ليُعطيهم العُلوفة فى حينها ؟ طوبى لذلك العبد الذى اذا جاء سيّده يجدُهُ يفعل هكذا إ بالحق أقول لكم : انه يُقيمه على جميع أمواله ولكن ان قال ذلك العبد فى قلبه : سيدى يُبطىء قدومه ، فيبتدىء يضرب الغلمان والجوارى ، ويأكل ويشرب ويسكر يأتى سيد ذلك العبد فى يوم لا ينتظره وفى ساعة لا يعرفها ، فيَقطعُهُ ويجعل نصيبه مع الخائنين &#8221; (لو١٢: ٤١–٤٦).</span></p>
<ul>
<li><span><strong>المَثَل </strong></span></li>
</ul>
<p><span>هذا المثل يخص بالدرجة الأولى الخُدام الذين أوتوا وكالة واؤتمنوا من قبل السيد الرب على اخوتهم العبيد مثلهم لكى يعطوا رفقاءهم طعام الحياة الأبدية فى حينه الحسن وهو من أمثال الدينونة التى يظهر فيها المسيح الملك فى مجيئه الثانى المخوف حين يعطى الطوبى للأمناء الأحباء ويجازى الأردياء.</span></p>
<p><span>وهو أمر يدعو الى الانتباه والسهر والحرص والأمانة وانتظار المسيح الذى لابد وأنه آت ، وان كان طويل الأناة وبطىء الغضب</span></p>
<p><span>فحديث المسيح المبارك كان للرسل وقد فهموا وأدركوا كلام الرب ووعوده ولكن القديس بطرس فى معرض حديث الرب سأله سؤاله الشهير : ألنا تقول هذا المثل أم للجميع ؟ وعلى عادة الرب لم يجب على القديس بطرس بالأجابة المباشرة ولكن أجاب بهذا المثل على السؤال ، وهو ان كان يؤكد على مسؤلية المسئولين الا أنه أيضاً يخص الجميع على اعتبار أن كل واحد منا مسئول فى حدوده ، ومُكلّف من قبل الرب على وكالة ان كبرت وان صغرت فالذى لم يؤتمن على كنيسة وجماعة مؤمنين فهو قد أؤتمن على بيت وأولاد ، والذى لم يُعطَ بيتاً وأولاداً فقد أعطى بطريق آخر مسئولية محددة لابد أن يُعطى حساباً عنها ويسأل فى الوكلاء بصفة عامة أن يوجد الوكيل أميناً فمن أثبت أمانته فى القليل فانه يُقام على الكثير ومن وُجد ظالماً فى القليل فكيف يؤتمن فيما بعد ؟</span></p>
<p><span>ولنبدأ المثل بالسيد الرب الذى يُقيم العبيد ويحسبهم أمناء ، وكأنه مسافر غائب فى حين أنه دائم الحضور وواجب الوجود ، لا يخلو منه زمان ولا يفتقر اليه مكان بل انه فوق المكان والزمان فهو غير المحصور وغير المحدود ولكن غياب السيد كان فى قلب العبد الردىء وفكره فقط ، فقد غاب السيد عن بصره بل غاب عن بصيرته ، وظن فيما يظن قوم التباطؤ ، فحسب امهال السيد تباطؤ وحسب طول أناته كأنه غير عارف أو غير معاقب وغير محاسب ولكن هذه هى صفات الرب التى لا بد أن ندركها أنه حاضر دائماً ، يكتب الأعمال فى سفر التذكرة الأبدى ، فالأقوال والأفعال محسوبة علينا مسجلة فى سجلات الأبد وان كانت الآن غير مرئية ولكنها ستُفتح حين يُفتح سفر الحياة وتُكشف حين تُكشف سرائر الناس.</span></p>
<p><span>وقد يسأل السائل لماذا يأتمن الرب مثل هذا العبد الردىء وهو يعرف سابقاً ما انعقدت عليه نية العبد البطال من الخيانة وعدم الأمانة ؟ والجواب على ذلك أن معرفة الله للأمور قبل كونها هى سابق علمه اذ لا يُخفى عليه شىء وهذه المعرفة هى خاصة به وحده ولكنها لا يؤثر بحال من الأحوال على ارادة الانسان وتدبيره ، وحرية اختياره وحرية سلوكه.</span></p>
<p><span>وقد يقرب الأمر الى الفهم مَثَل المُدرس الحصيف الكثير الخبرة بأمور التلاميذ وقد يعرف المدرس بسابق خبرته فى بداية العام الدراسى من هو التلميذ الأول الممتاز ومن هو التلميذ البليد الأخير ومع ما يبذله المدرس من جهد وما يعطيه من علم للجميع على قدم المساواة فانه يَصدُق حَدس المدرس وما سبق فأنبأ به اذ يتفوق الأول ويرسب الأخير، وفى هذه الحالة لا دخل لسبق معرفة المدرس بهذه النتيجة التى توقعها وأنبأ بها ، ومسرة المدرس دائماً فى نجاح جميع تلاميذه لأنه لا يُسر مطلقاً بالفشل على هذا يؤخذ الأمر أن ربنا رغم سابق علمه بما سيكون من شأن العبد البطال فانه يأتمنه ويقيمه ، هذا أمر عجيب يظهر سخاء نعمة ربنا ويظهر ارادته الحسنة نحو الجميع اذ هو يريد أن الجميع يخلصون والى معرفه الحق يقبلون.</span></p>
<p><span>وهكذا كما قيل فى مثل الزارع ، أنه فى الأماكن المحجرة والطريق والأرض التى بها شوك لم تعدم منها أن يلقى الرب بذاره عليها ، لعلّها تأتى بثمر أو لعلها تعود فتنصلح وتغيّر ما بها ، فلو أنها تنقت لأثمرت للرب ثمراً جيداً.</span></p>
<p><span>فياليت عطايا ربنا ومواهبه تصير لنا بالأكثر سبب خلاص ونجاة وتجعل فينا روح المثابرة والأمانة فيما وضع بين أيدينا</span></p>
<p><span>نعود الى قول الرب : من هو يا تُرى العبد الأمين والحكيم ؟ ففى مقابلة المسئولية يحتاج الأمر الى ركيزتين :</span></p>
<p><strong><span>الركيزة الأولى هي الحكمة : </span><span>                                                                                </span></strong></p>
<p><span>أما من تعوزه الحكمة فليطلب من فوق فستعطى له ، ولا يوجد طريق آخر لاقتناء الحكمة النازلة من فوق سوى الصلاة والتضرع الى الله وسكب النفس فى اتضاع وتوسل حتى يُعطى الانسان هذه العطية العظمى والثمينة.</span></p>
<p><span>والرب يُسر بطالبى الحكمة مثل سليمان حين لم يطلب سواها فانه حازها باقى العطايا ، وحين يتربى العبد على كلام الكتب التى هى أنفاس الله وحين يَجلس الى الشيوخ المدبرين حسناً أى يتتلمذ على قدمى الآباء يزداد حكمة.</span></p>
<p><span>ولكن شتان بين حكمة الروح وحكمة العقل ، بين حكمة أولاد الله وحكمة حكماء هذا الدهر الذين يُبطلون ، يكفى أن نعرف أن الحكمة النازلة من فوق هى أولاً طاهرة ثم مُسالمة مترفقة مذعنة مملوءة رحمة وأثماراً صالحة عديمة الريب والرياء.</span></p>
<p><span>هذه هى صفات الحكمة الروحية اذا سكنت الانسان فانها تزينه بهذه الفضائل ولا سيما فى خدمة النفوس التى يؤتمن عليها.</span></p>
<p><span>صفتها الأولى القداسة لأنها حكمة تصدر من ملء الروح القدس ، فان شابتها شائبة النجاسة فقد انتفى أن تكون حكمة الله ، فان افتقر الانسان الى الطهارة فان حكمته مهما بلغت فى أعين الناس فهى حكمة ليست نازلة من فوق بل هى أرضية نفسانية شيطانية.</span></p>
<p><span>صفة الخادم الحكيم الأولى هى تمسكه بروح القداسة والعفة ، هى كنزه ورأس ماله فهو طاهر فى قلبه ، طاهر فى فكره ، طاهر فى نظره ، طاهر فى كلامه ، طاهر فى صمته ، ثم يتبع الامتلاء من الحكمة السلام فخادم الرب الحكيم انسان مُسالم بعيد عن العداوة والحقد والكيد والضغينة والسيايات والمؤمرات والتحزبات والتشويشات.</span></p>
<p><span>صفة الحكمة الروحية أنها مترفقة ومطيعة ومملوءة رحمة بالعبيد رفقائه ، ياليت الروح يُغنى الكنيسة بمثل هذه النعم التى نفتقر اليها فى غالب الأحيان.</span></p>
<p><strong><span> الركيزة الثانية هى الأمانة </span></strong></p>
<p><span>وفى اللغة العربية كلمة الايمان والأمانة شىء واحد فالأمانة تعنى أن يحفظ الانسان ما عنده بدون اضافة أو نقصان ليسلمه كما هو أى ليس لذاته دور فى الأمر ، ما استلمه يحفظ ليسلمه.</span></p>
<p><span>كقول الرسول بولس &#8221; سلّمتُ اليكم فى الأول ما قبلتُه أنا أيضاً &#8220;(١كو٣ :١٥) فالعبد الأمين لا يُضيع ولا يُفرّط فى ما أخذه من الله من عطايا وهبات بل يتاجر بها ويربح بزيادة وبلا نقصان وهو عكس الذى يخون الأمانة ويتصرف فيما ليس له كأنه يخصه</span></p>
<p><span>أما من جهة الذين ائتمنهم الله على كنيسته ، فالأمانة هى الركيزة العظمى ، فالحفاظ على الايمان المُسلم مرة للقديسين بلا انحراف وبلا تغيير، والحفاظ على تُراث الكنيسة كما تسلم اليهم من الآباء من طقس وألحان وأعياد على بيت سيده يحفظه كما هو فى ترتيبه وفى تدبيره</span></p>
<p><span>ليس للعبد أن يُغير العوائد ولا أن يُدخل الى بيت سيده ما يستحسنه هو أو يستغنى عن شىء مما فى بيت سيده كأنه بلا قيمة ، بل الأمانة تقتضى أن يحفظ كل شىء كما هو على يوم مجىء سيده ، الأشياء التى لا يعرف قيمتها ويفتكر أنها بلا قيمة قد تساوى الكثير فى عين سيده صاحب البيت وعارف قيمة الأشياء.</span></p>
<p><span>مع تغيّر الزمن والأجيال قد تبدو بعض الممارسات الكنسية أو الألحان الطويلة أو العبادات أو السهر أو التسبيح أنها لم تَعُد مناسبة للجيل أو لظروف الناس أوالخ فيبتدأ المؤتمنون فى التخفيف والتقليل والحذف والاستغناء ، هذه ليست أمانة فان كان أحد لا يعرف قيمة الجواهر ، فانه يبيعها بأبخس الأثمان.</span></p>
<p><span>فالذى لا نستسيغه أو لا نعرف قيمته ليس من حقنا أن نتخلص منه أو نلغيه أو نهمله أو نستغنى عنه ما لا نعرف قيمته ليس أقل من أن نتركه كما هو ، ونحتفظ به بأمانة كمثل انسان ورث قصراً كبيراً عن أجداده فيدخل الى القصر وهو لا يعرف قيمة النفائس والأشياء غالية الثمن ويفتكر فيها أنها قديمة بالية غير ذات قيمة ، فيبتدىء يلقى بها الى خارج بينما هى لا تقدر بثمن ولكنها تحتاج لعين خبير محنك ، أو أقل ما يقال أنها غالية فى عين الآباء الذى وضعوها بالروح بل وفى عينى صاحب البيت</span></p>
<p><span>يسأل فى الوكلاء أن يوجد الوكيل أميناً ، هكذا تعلمنا من الآباء القديسين الذين حفظوا لنا الكنيسة بكل ما فيها من كنوز حتى وصلت الينا وسلّمونا اياها فهل نكون أمناء حتى نسلمها كما هى لمن يأتى بعدنا ؟</span></p>
<p><span>وما يُقال عن التفريط فى الأشياء الثمينة ، يُقال أيضاً عن الاضافات التى يستحسن البعض أن يعملها فى الكنيسة لكى يرضوا الناس أو لكى يُحببوا اليهم العبادة بأساليب غير كنسية مثل التراتيل والأنغام العالمية أو الغريبة أو الطرق والاختراعات والتطورات التى لا تمت الى روح الكنيسة والآباء </span><span>كل هذا يُعتَبر عدم أمانة لأن الزيادة أو النقصان يضران بالأمانة على حد سواء .</span></p>
<p><span>ان تاريخ كنيستنا حافل بأمثلة الآباء الذين حفظوا الأمانة حتى النفس الأخير وفرطوا حتى فى حياتهم ولم يُفرطوا فى الأمانة ، يكفى أن تدرس حياة أثناسيوس وديسقورس وكيرلس الكبير بل كان الآباء البطاركة القديسون يضربون المثل الأعلى فى الحفاظ على كل ما فى خزائن الكنيسة من نفائس وذخائر الطقس والعقيدة والألحان والأعياد والصلوات ووقفوا بحزم ضد كل تغيير أو كل ما كان يَرد على الكنيسة من بدع أو هرطقات أو ما يَهب على الكنيسة من رياح غريبة.</span></p>
<p><span>ومن أجمل الكلمات المتداولة فى الحياة الكنسية كلمة &#8221; التسليم &#8221; &#8221; والتقليد &#8221; ، وهو التسليم الشفاهى للحياة المسيحية ،</span></p>
<p><span>فالشماس مثلاً يستلم الألحان انها أمانة سُلمت له لكى ينقلها كما هى بروحها ونصها ولحنها لمن يأتى بعده والكاهن يستلم الذبيحة ويستلم الأسرار انها أمانة أولاً وأخيراً ومتى استلم الانسان الأمانة سيأتى ساعة يقف فيها أمام رب البيت يُسأل هل كان أميناً أم لا ؟</span></p>
<p><strong><span>مكافأة الأمانة :</span></strong></p>
<p><span>الحق أقول لكم : انه يُقيمه على جميع أمواله هكذا قال الرب</span></p>
<p><span>لا يَخطر على فكر البشر نوع المكافأة التى سيُكلل بها الرب مُختاريه الأمناء ، اذا وجدهم أمناء فى القليل فانه يعطيهم ملكوته ويُكللّهم بالكرامة.</span></p>
<p><span>مابالنا لا نفكر فى هذا النصيب الفاخر ، وانحصر نظرنا فى زوال العالم ان الأجرة التى تنتظرنا لا تخطر على بال انسان ، لماذا لا نتشجع فى طريق الحكمة والأمانة ونترجى ملكوت الله ؟ لماذا نتكاسل ونُهمل ؟ ولا نحفظ الأمانة بسَهر ؟ ان عوض الأتعاب الزمنية التى أظهرها الأبرار والصديقون والشهداء والنساك ولباس الصليب فانهم نالوا بهاء ومجد وكرامة فى السماوات ، شىء لا يُعبّر عنه إإ فالأتعاب وقتية والتنعم أبدى.</span></p>
<p><span>والضيقة خفيفة اذا ما قورنت بثقل المجد الأبدى &#8221; خفّة ضيقتنا الوقتية تُنشىء لنا أكثر فأكثر ثقَل مجد أبدياً &#8221; (٢كو ٤ :١٧) والآلام يسيرة وبعدها هو يكلمكم بالكمال الذى لا يشوبه نقص ولا كدر</span></p>
<p>ويكفى أن نتأمل كيف وعد الرب ملائكة الكنائس السبع فى سفر الرؤيا: كل من يَغلب كيف سينال مكافأة فائقة للادراك ولا يعرفها سوى الذى ينالها ويتمتع بها<a href="#_ftn1" name="_ftnref1">[7]</a></p>
<h3>المراجع</h3>
<p><a href="#_ftnref1" name="_ftn1">[1]</a><sup>- تفسير رسالة رومية </sup><sup>١٠ : ٣</sup><sup> –  القمص تادرس يعقوب ملطي.</sup></p>
<p><a href="#_ftnref1" name="_ftn1">[2]</a> - المرجع كتاب من مقالات الانبا انطونيوس صفحة ٥٨ – القمص بيشوي كامل</p>
<p><a href="#_ftnref1" name="_ftn1">[3]</a> - تفسير يشوع بن سيراخ إصحاح ١٤ للقمص تادرس يعقوب ملطي</p>
<p><a href="#_ftnref1" name="_ftn1">[4]</a> - تفسير انجيل لوقا صفحة ٤٤٣ - للقديس كيرلس الاسكندري</p>
<p><a href="#_ftnref1" name="_ftn1">[5]</a> - نقاوة القلب في المفهوم الكتابي والابائي – الجزء الثاني صفحة ١٢٠٨ ,١٢٥٢ – اعداد احد الاباء الرهبان بدير السيدة العذراء – برموس</p>
<p><a href="#_ftnref1" name="_ftn1">[6]</a> - اختبرني يا الله - صفحة ٣٧ - قداسة البابا تواضروس الثاني</p>
<p><a href="#_ftnref1" name="_ftn1">[7]</a> - وكلمهم ايضا بامثال صفحة 322 - القمص لوقا سيداروس</p>
<p>

      {% endcreateArticleAccordions %}
    </section>
  {% endblock %}
