---
layout: 'layouts/reading.html'
title: 'قراءات يوم الأربعاء من الأسبوع الأول'
permalink: great-lent/1-3.html
---
  {% block content %}
    <section id="readings">
      <ul>
      {% if 'undefined' != 'undefined' %}
      
      {% else %}
      {% if 'null' != 'null' %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">العشية</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeVespers '' '' %}
          </div>
        </div>
      </li>
      {% endif %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">باكر</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeMatins '19.25:6-7' '42.6:24-34' '23.2:3-11@29.2:12-27' %}
          </div>
        </div>
      </li>
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <h3 class="flex items-center justify-between">
            <span class="kufi">القداس</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </h3>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeLitugy '45.14:19-23*@+45.15:1-7' '61.1:4-11' '44.10:9-20' '19.25:20,16' '42.6:35-38' %}
          </div>
        </div>
      </li>

      {% endif %}
        </ul>
    </section>
    <section id="article">
      <h3 class="mt-8 mb-4 heading-explain">شرح القراءات</h3>
      {% createArticleAccordions %}
        <h4>إله الحب والرحمة</h4>
<p>&#8220;تَرَاءَى لِي الرَّبُّ مِنْ بَعِيدٍ: وَمَحَبَّةً أَبَدِيَّةً أَحْبَبْتُكِ، مِنْ أَجْلِ ذلِكَ أَدَمْتُ لَكِ الرَّحْمَةَ.&#8221;<br />
(إر ٣١: ٣)</p>
<p>&#8220;لِيُظْهِرَ فِي الدُّهُورِ الآتِيَةِ غِنَى نِعْمَتِهِ الْفَائِقَ، بِاللُّطْفِ عَلَيْنَا فِي الْمَسِيحِ يَسُوعَ.&#8221;<br />
(أف٢: ٧)</p>
<p>[إذا ما أحببنا اسم الخلاص الذي لربنا يسوع المسيح وصنعنا الرحمة بعضنا مع بعض نكمل كل الناموس] (إبصالية الأربعاء)</p>
<p>[حينما تمتلئ النفس من ثمار الروح تتعري تماماً من الكآبة والضيق والضجر وتلبس الإتساع والفرح بالله والسلام وتفتح في قلبها باب الحب لسائر الناس] (مار إسحق السرياني)<a href="#_ftn1" name="_ftnref1">[1]</a></p>
<h3>شواهد القراءات</h3>
<p>(إش٢: ٣-١١)، (يؤ٢: ١٢-٢٧)، (مز٢٤: ٦،٥)، (لو٦: ٢٤-٣٤)، (رو١٤: ١٩- الخ، ١٥: ١-٧)، (٢بط١: ٤-١٠)، (أع١٠: ٩-٢٠)، (مز٢٤: ١٥،١٨)، (لو٦: ٣٥-٣٨).</p>
<h3>شرح القراءات</h3>
<p><strong>جوهر قراءات هذا الْيَوْمَ هو إستعلان إله الحب والرحمة والعطاء. </strong></p>
<p><strong>لذلك تبدأ نبوة إشعياء</strong> بزوال العداوة بين الشعوب والأمم من خلال شريعة العهد الجديد، ومن خلال إبن الله الذي أعلن محبة الآب لكل البشرية.</p>
<p>&#8220;لأنه من صهيون تخرج الشريعة ومن أورشليم كلمة الرب ويحكم بالعدل لسائر الأمم ويقضي شعوب كثيرين فيضربون سيوفهم سككاً للأفدنة ورماحهم مناجل فلا ترفع أمة على أمة سيفاً ولايتعلمون الحرب فيما بعد&#8221;.</p>
<p><strong>وتعلن نبوة يوئيل</strong> ما هى طبيعة الله وما مدي غني عطائه وتعويضاته.</p>
<p>&#8220;ومزقوا قلوبكم لا ثيابكم وارجعوا إلى الرب إلهكم لأنه رؤوف رحيم طويل الأناة وكثير الرحمة، لا تخافي أيتها الأرض، ابتهجي وافرحي لأن الرب قد عظم في عمله وأنزل لكم المطر المبكر والمتأخر كما في الزمان الأول، فستمتلئ البيادر حنطة وتفيض حياض المعاصر خمراً وزيتاً، وأعوض لكم عن السنين التي أكلها الجراد فتأكلون أكلاً وتشبعون وتباركون الرب إلهكم الذي صنع معكم العجائب&#8221;.</p>
<p><strong>ويُطَمْئِّن مزمور باكر</strong> النفس لدوام وثبات طبيعة الله في محبته ورأفاته ومراحمه.</p>
<p>&#8220;أذكر يا رب رأفاتك ومراحمك فإنها ثابتة منذ الأبد&#8221;.</p>
<p><strong>وفِي إنجيل باكر</strong> يحذّر الأغنياء المغلقة قلوبهم عن العطاء. &#8220;لكن الويل لكم أيها الأغنياء فإنكم قد نلتم عزاءكم، الويل لكم أيها الشباعَى الآن لأنكم ستجوعون&#8221;.</p>
<p><strong>وفِي ذات الوقت</strong> يشجّع المؤمنين لإتّساع الحب للكل ووصية الميل الثاني بفرح.</p>
<p>&#8220;لكني أقول لكم أيها السامعون، أحبوا أعدائكم وأحسنوا إلى من يبغضكم وباركوا لاعنيكم وصلوا لأجل الذين يطردونكم، ومن لطمك على خدك فحوّل له الآخر ومن أخذ رداءك فلا تمنعه أن يأخذ ثوبك أيضاً، وكل من سألك فأعطه ومن أخذ الذي ما لك فلا تطالبه&#8221;.</p>
<p><strong>ويعلن البولس</strong> مصدر الحب والمراحم ومنهج وطريق الحياة الجديدة في صليب المسيح له المجد، وفِي قبوله كل شئ لأجل خلاصنا، لذلك صار هو قدوتنا وقوتنا في تنفيذ الوصية.</p>
<p>&#8220;فلنسعى لما هو للسلام وماهو للبنيان بعضنا لبعض، فيجب علينا نحن الأقوياء أن نحتمل ضعف الضعفاء ولا نرضى ذواتنا وحدنا كل واحد منكم فليرض قريبه للخير للبنيان فإن المسيح لم يُرض نفسه بل كما هو مكتوب: تعييرات مُعَيِّريك جاءت عليَّ لأن كل ما سبق فكُتِبَ كُتِبَ لتعليمنا لكي بالصبر وبتعزية الكتب يكون لنا الرجاء، لذلك اقبلوا بعضكم بعضاً كما قبلكم المسيح لمجد الله&#8221;.</p>
<p><strong>أمّا الكاثوليكون</strong> فيعطي رسم الجهاد والإجتهاد الإنساني، فالمحبة للكل وغنى العطاء نعمة مجانية تعطى للمجتهدين والمثابرين وحافظي دعوتهم وإختيارهم.</p>
<p>&#8220;هاربين من شهوة الفساد الذي في العالم ولهذا عينه وأنتم باذلون كل اجتهاد قدموا في إيمانكم فضيلة وفي الفضيلة معرفة وفي المعرفة تعففاً وفي التعفف صبراً وفي الصبر<br />
تقوى وفي التقوى مودّة أخوية وفي المودة الأخوية محبة لأن هذه إذا كانت فيكم وكَثُرَت تُصَيركم غير متكاسلين ولا غير مثمرين في معرفة ربنا يسوع المسيح &#8230; لذلك أيها الاخوة اجتهدوا بالأحرى أن تجعلوا دعوتكم واختياركم ثابتين&#8221;.</p>
<p><strong>وفي الإبركسيس</strong> تدبير الآب في الشعوب وقبول الأمم كإعلان عن غنى الحب الإلهي وفيض المراحم في ملء الزمان.</p>
<p><strong>وهذا أعلنه الله</strong> للقديس بطرس في رؤيا الملاءة العظيمة التي فيها كل دبابات الأرض وطيور السماء، ودعوة الله له ليأكل من كل شئ كعلامة على قبول الله للأمم الذين كانوا قبلاً نجاسة، فصاروا بالنعمة الإلهية أطهاراً وقدّيسين.</p>
<p>&#8220;فرأي السماء مفتوحة وإناء نازلاً عليه مثل ملاءة عظيمة، وصار إليه صوت يقول قم يا بطرس اذبح وكُل، فقال بطرس حاشا يا رب فإني لم آكل شيئاً قط نجساً أو دنساً، فصار إليه أيضاً صوت ثانية ما طهره الله لا تدنسه أنت&#8221;.</p>
<p><strong>وتترجّي النفس في مزمور القدّاس</strong> مراحمه لهذا تلقي كل إتكالها عليه.</p>
<p>&#8220;لا أخزى لأني عليك توكلت أنظر إليّ وارحمني&#8221;.</p>
<p><strong>ويختم إنجيل القدّاس</strong> بوصية الرب بالمحبة والغفران والعطاء والتمثّل بالآب السماوي في لا محدودية صلاحه وعطائه.</p>
<p>&#8220;ولكن أحبوا أعدائكم وأحسنوا إليهم، وتكونوا أبناء العلي لأنه صالح على غير الشاكرين والأشرار، فكونوا رحماء كما أن أباكم أيضاً رحيم، أغفروا يغفر لكم، أعطوا تُعطوا كيلاً جيداً مملوءاً فائضاً يُعطى في أحضانكم&#8221;.</p>
<p></p>
<h3>ملخّص القراءات</h3>
<table width="514">
<tbody>
<tr>
<td width="83">نبوءة إشعياء</td>
<td width="431">زوال العداوة بين الشعوب والأمم بشريعة إبن الله</td>
</tr>
<tr>
<td width="83">نبوءة يوئيل</td>
<td width="431">طبيعة الله ومدي غني عطاؤه وتعويضاته</td>
</tr>
<tr>
<td width="83">مزمور باكر والقدّاس</td>
<td width="431">ثبات مراحم الله للنفس لذلك تعلن كل إتكالها عليه ورجاؤها فيه</td>
</tr>
<tr>
<td width="83">البولس</td>
<td width="431">صليب الرب هو مصدر الحب والمراحم ومنهج الكنيسة وسرّ شركتها</td>
</tr>
<tr>
<td width="83">الكاثوليكون</td>
<td width="431">إجتهاد الإنسان يحفظ ثبات دعوته وإختياره ويغمره بفيض الحب</td>
</tr>
<tr>
<td width="83">الإبركسيس</td>
<td width="431">تدبير الله في الشعوب وقبول الأمم في رؤيا بطرس الرسول</td>
</tr>
<tr>
<td width="83">إنجيل القدّاس</td>
<td width="431">الوصية هى دعوة للتمثّل بالآب السماوي في مراحمه وصلاحه وعطاؤه</td>
</tr>
</tbody>
</table>
<p><strong> </strong></p>
<h3>الكنيسة في قراءات اليوم</h3>
<table width="503">
<tbody>
<tr>
<td width="76">سفر يوئيل</td>
<td width="427">تقديس الصوم وأهميّة صوم الكنيسة كلّها</td>
</tr>
<tr>
<td width="76">البولس</td>
<td width="427">نبوات العهد القديم عن آلام المسيح له المجد</td>
</tr>
<tr>
<td width="76">الكاثوليكون</td>
<td width="427">جهاد وإجتهاد الإيمان لإستحقاق الملكوت</td>
</tr>
<tr>
<td width="76">الإبركسيس</td>
<td width="427">الإعلان الإلهي لقبول الأمم في شركة الكنيسة</td>
</tr>
</tbody>
</table>
<p><a href="#_ftnref1" name="_ftn1">[1]</a><sup>&#8211; تفسير سفر الأمثال &#8211; القمص تادرس يعقوب ملطي.</sup></p>
<p></p>
<div class="jb_0 X_6MGW N_6Fd5">
<div>
<div id="yiv2413158894">
<div>
<div id="yiv2413158894">
<div id="yiv2413158894yqtfd12044" class="yiv2413158894yqt3829362365">
<div id="yiv2413158894">
<div id="yiv2413158894">
<div dir="ltr">
<div dir="rtl">
<h3>عظات آبائية :</h3>
</div>
</div>
</div>
</div>
</div>
</div>
<div id="yiv2413158894">
<div id="yiv2413158894yqtfd12044" class="yiv2413158894yqt3829362365">
<div id="yiv2413158894">
<div id="yiv2413158894">
<div dir="ltr">
<div dir="rtl">
<h4>الصلاة للقديس غريفوريوس اسقف نيصص</h4>
<div>ان الانسان يعتبر لا شىء وسط الموجودات لأنه مجرد تراب وعشب زائل ، ولكنه نال نعمة التبنى لله خالق كل الموجودات وعندئذ صار الانسان صديقا للعظمة الالهية وهذا هو السر الذى لا نستطيع أن نراه أو نفهمه أو ندركه فأى شكر يجب على الانسان أن يقدمه لله لأجل هذه النعمة ؟ وأى كلام وأى أفكار وأى ارتفاع للعقل لكى يمجد هذه النعمة الفائقة ؟ ان الانسان فاق طبيعته وتحول من الطبيعة الفاسده الى غير الفاسده وتغير من الوجود الزائل الى الوجود الدائم وتبدلت طبيعته السريعة الزوال الى كونه كائن أبدى وباختصار تحول من انسان الى اله وفى الواقع استحق الانسان (بالمسيح) أن يصير ابنا لله وتمكن الانسان أن يحوى فى ذاته عظمة الآب وأن يستغنى بكل ميراث الصلاح الذى للآب كم هى عظيمة هذه الكنوز غير المدركه والتى يصعب التعبير عنها</div>
<div></div>
<div>٢-الأبوه :</div>
<div>ان الذى فيه خطيه لا يجرؤ أن يدعو الله أباه لأنه لايرى فى نفسه البر والصلاح الموجودين فى الله كما هو الحال حين لا يمكن أن يصير الله الصالح أبا للارادة الشريره ولا يمكن أن يصير الطاهر لمن هو غير طاهر ولا يمكن أن يصير الله غير المتغير أبا للانسان الذى يتغير من جانب لآخر ولا يمكن أن يصير لله الذى هو أب الحياه ابن يخطىء وتقوده خطيته للموت والذى هو قدوس بالتمام لا يمكن أن يصير أبا لمن تدنست نفوسهم بالشهوات الشريرة ولا يمكن لمن يعطى الخيرات ويمنح النعم أن يكون أبا لمن هو أنانى وبالاختصار نقول أنه لا يمكن لمن هو بار وقدوس أن يكون أبا لمن هو واقع فى أى خطية من الخطايا</div>
<div>ولكن حين تجسد المسيح وصار انسانا وطهر الانسان من كل أنواع الخطايا والآثام منح الانسان نعمة التبنى لاأن الانسان لا يستطيع أن ينتسب الى أسرة الله مالم يتطهر من كل أنواع الشرور والخطايا لأن الانسان الخاطىء الدنس لا يمكن أن يقول يا أبى لله الطاهر البار والا كان الله الها لضعفه وخطيته لان كلمة آب انما تعلن ما هو موجود فينا</div>
<div></div>
<div>ولكن لأن الرب يسوع المسيح قد علمنا أن ندعو الله أبانا فان هذا يعلن لنا أنه قد منحنا الخياة الأبدية لكى تكون من نصيبا لأنه يستحيل أن يخدعنا الحق ويقول أن لنا شيئا ونحن لا نمتلكه وأن نستخدم اسما (أبانا) لاحق لنا فى أستخدامه ولكن اذا دعونا الله أبانا وهو البار القدوس الخالد فانه يجب أن نبرهن بأعمالنا أن الصلة مع الله هى صلة حقيقية فأى حماس يجب أن يكمله ضميرنا فى السلوك بنقاوه حتى يكون لنا الجرأه أن ندعو الله أبانا ؟ فاذا ما أنت رددت هذه الصلاة بشفتيك فقط بينما أنت متعلق بمحبه المال ومشغول بخداع العالم وطلب الشهره ومحبة الظهور بين البشر وأنت مستعبد للشهوات الجسدية فماذا تظن ستكون اجابة ذاك الذى يرى حياتك ويعرف ما هى صلاتك ؟</div>
<div></div>
<div></div>
<div>المرجع : كتاب سياحة القلب صفحة ١٨ – اعداد القمص اشعياء ميخائيل – كنيسة الملاك بالضاهر</div>
<div></div>
<div></div>
<h4>الصلاة الدائمة للقديس ثيؤفان الناسك :</h4>
<div></div>
<div>[&#8220;صلوا بلا انقطاع &#8220;] (١تس ٥ : ۱۷) هكذا يكتب الرسول إلى أهل تسالونيكي . وكما ينصح في رسالة اخري : &#8220;مصلين بكل صلاة وطلبة كل وقت في الروح &#8221; (أف ٦ : ۱۸) وكذا «واظبوا على الصلاة ساهرين فيها» (كو ٤: ٢) وكذلك &#8220;مواظبين على الصلاة&#8221; (رو ١٢ : ١٢) . كما يعلمنا المخلص نفسه مدى حاجتنا إلى الصلاة الدائمة بمثابرة في مثل الأرملة التي لأجل لجاجتها أنصفها القاضي الظالم الذي لا يخشى الله (لو ۱۸ : ۱- ۸) .</div>
<div>يتضح من هذا أن الصلاة الدائمة لا يمكن أن تكون نصيحة عابرة بل هي الصفة المميزة لروح المسيحية . وحياة المسيح هي بحسب رأي القديس بولس الرسول مستترة مع المسيح في الله (کو ۳ : ۳) هكذا ينبغي أن يدوم المسيحي في شركة مع الرب بلا انقطاع بيقظه واحساس . لكي يفعل ذلك عليه ان يصلى بلا انقطاع . وقد تعلمنا أن كل مسيحي هو &#8220;هيكل الله&#8221; حيث &#8221; مسكن روح الله&#8221; (اكو ٣ : ١٦ ، ٦ : ١٩ ، رو ۸ : ۹) . وهكذا فإن &#8220;الروح&#8221; الحاضر دائما يشفع فيه ويصلى داخله «بأنات لا ينطق لها» (رو ۸ : ٢٦) وكذلك يعلمه كيف يصلي بلا انقطاع .</div>
<div>ان أول عمل تقوم به نعمه الله في حياة الخاطئ هو ان تحول فكرة وقلبه نحو الله ، أما بعد ان يتوب ويكرس الحياة لله فان نعمة الله تحل فيه لتبدأ معه من جديد فتلازمه خلال التناول من الأسرار المقدسة وتحول فكره وقلبه نحو الله – الذي هو أساس الصلاة &#8211; ليصبح ثابتاً ودائماً في داخله . هذا التحول يظهر بوضوح بدرجات مختلفة ومثل أي موهبة اخرى فانه يحتاج الى تجديد دائم وإنعاش مستمر مما يتطلب من المصلي : الجهاد . والمثابرة . والصبر . والممارسة اليقظة الطقوس الكنيسة . صل إذن بلا انقطاع واجهد ذائك فيها وانت تبلغ درجة الصلاة الدائمة التي تعمل تلقائيا في القلب دون جهد خاص .</div>
<div>ومن الواضح أن نصيحة الرسول لا تعني مجرد ممارسة صلوات موضوعة في أوقات معينة وانما تستلزم التذكر الدائم لله وتكريس كل نشاط له ، وهو الناظر الكل والحاضر في كل شيء ويرى ويستجيب للتنهدات الحارة الصاعدة اليه من العقل داخل القلب.</div>
<div>ان الحياة بوجه عام وفي كل مظاهرها يجب ان تتخللها الصلاة . ولكن سرها هو حب الله وكما تحب العروس عريسها ولا تنفصل عنه في الفكر والحس وهكذا الروح فإنها باتحادها بالله في الحب تبقي وفيه له وتوجه إلية الابتهالات الحارة الصادرة من القلب &#8230; &#8220;وأما من التصق بالرب فهو روح واحد&#8221; (١كو ٦ : ۱۷) . ثيوفان الناسك</div>
<div>كما يقول الأب ثيؤفان الناسك : [ إن كان قلبك يزداد حرارة بقراءة الصلوات المعتادة ، فأنت بهذا تستطيع أن تشعل حرارتك الداخلية نحو الله ].</div>
<div>أما ترديد &#8220;صلاة يسوع&#8221;بطريقة آلية فهو غير مجد لأنها بهذا لا تزيد عن صلاة آخري يرددها اللسان أو الشفاه . فإذا أردت &#8220;صلاة يسوع&#8221;حاول في ذات الوقت أن تسارع إلى التحقق من أن الرب قريب وأنه واقف في الداخل ينصت إلى ما يدور هناك .</div>
<div>أيقظ في نفسك التعطش إلى الخلاص ، والإيمان أن الله وحدة هو القادر على أن يجعلك تناله ، ثم أصرخ إلي الرب الذي تراه داخلك : &#8220;ياربي يسوع المسيح ابن الله أرحمني &#8220;أو&#8221; أيها الرب المتحنن نجني بالطريقة التي تراها &#8220;. فليست العبرة بالكلمات بل بشعورك نحو الله ، إن اشتعال القلب بالروح إنما ينبع من محبة الله . فهو يشتعل إذا لمسته بيد الله . لأن الله كلي المحبة فإذا لمس القلب أشعل فيه محبة الله على الفور . وهذا هو الهدف الذي تنشده وتسعي إليه . لتكن &#8220;صلاة يسوع &#8220;على لسانك .. وليكن حضور الله في فكرك .. والتعطش إلي الله داخل قلبك .. والاتحاد به هدفك .. فإذا أصبحت هذه كلها دائمة لديك فإن الله يتطلع إلى تعبك ويعطيك سؤل قلبك .]</div>
<div></div>
<div> المرجع : كتاب نقاوة القلب في المفهوم الكتابي والآبائي صفحة ١١٤٦ &#8211; إعداد أحد الآباء الرهبان بدير السيدة العذراء &#8221; برموس &#8221; &#8211; الجزء الثاني</div>
<div></div>
<div id="yiv2413158894yqtfd88685" class="yiv2413158894yqt7691331186">
<div></div>
<h3> عظات آباء <strong>وخدام </strong>معاصرون :</h3>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<h4 class="jb_0 X_6MGW N_6Fd5">من تُحب ؟ قداسة البابا تواضروس الثاني</h4>
<div></div>
<div id="mail-app-container" data-reactroot="">
<div class="pointer-mode H_6D6F">
<div class="D_F ek_BB H_6D6F aw_2941hk ba_10I1Qt az_oOItw ay_Z1nkUQx I_kt4zd">
<div id="app" class="D_F ek_BB H_6D6F cZ1RN91d_n s_1HCsWR aw_Z22yhkg I_kt4zd az_DW ba_Z2gmOa3 ay_Z1cYiMT c2hBT4u_Zm6i39 cZTwBjO_Zdogtk" tabindex="-1" data-test-id="mail-app">
<div class="I_ZnwrMC D_F em_N o_h W_6D6F H_6D6F" data-test-id="content-area">
<div class="D_F em_N o_h s_1HCsWR" data-test-id="content-below-tabs">
<div id="mail-app-component-container" class="D_F em_N ej_eUh o_h">
<div id="mail-app-component" class="em_N gl_C I_52qC j_ZlOSbd o_h p_R D_F s_e5X x_Z14vXdP" data-yaft-module="norrin_main" data-test-id="mail-app-component">
<div class="D_F ek_BB p_a Z_0 L_0 R_0 T_0 B_0 cZ1RN91d_GG I_ZnwrMC" data-test-id="message-group-view">
<div class="iz_A I_52qC em_0 Z_0" role="main" data-test-id="message-group-view-scroller" aria-label="Gespreksweergave">
<div data-test-id="focus-group" aria-label="Toetsenbordnavigatiegroep Gebruik de pijltoetsen om te navigeren of tab om naar de volgende groep te gaan.">
<div class="p_R b_2w4l8N I_52qC em_N it_689y X_fq7 N_6LEV iu_FJ is_Z2bg7IA iv_0 iv3_dRA cZdTOHS_28Otf4 j_ZlOSbd message-view" tabindex="40" data-test-id="message-view" data-test-expanded="true" data-iskeynav="true">
<div data-test-id="message-body-container">
<div class="I_52qC D_FY W_6D6F" data-test-id="message-view-body">
<div class="msg-body P_wpofO mq_AS" data-test-id="message-view-body-content">
<div class="jb_0 X_6MGW N_6Fd5">
<div class="">
<div class="qtd-body">
<div id="yiv2413158894yqtfd65154" class="yiv2413158894yqt0877084083">
<p>يوم الأربعاء من الأسبوع الأول لقداسة البابا تواضروس الثاني</p>
<div>(لو ٦ : ٢٥ – ٢٨)</div>
<div>من تُحب ؟</div>
<div>يتكلم هذا الإنجيل عن أفعال بصيغة جماعية، فيقول على سبيل المثال : أحبوا ، أحسنوا ، أقرضوا ، كونوا رحماء ، لا تدينوا ، لا تقضوا على أحد ، أعطوا تعطوا … كلها صياغات إلزامية وبصيغة الجمع لنا كلنا ، لكن نلاحظ أن الفعل الأول هو فعل أحبوا ، ولذلك السؤال يكون &#8220;من تحب ؟&#8221;. أحياناً على مستوى الأطفال الصغار نسألهم : &#8220;تحب بابا وماما أد إيه ؟&#8221;، يجيب ويقول : &#8221; أد البحر&#8221; &#8230; وغيرها من العبارات التي تدل على مدى حب الطفل لأبيه وأمه. والسؤال لك أنت أيها السائر في طريق الرب : &#8220;من تُحب ؟&#8221;. أُريد أن أذكرك أن سؤال يوم الإثنين الماضي كان &#8220;من هو الأعظم ؟&#8221; فهو ينبهك لئلا تكون قد سقطت في خطية العظمة والكبرياء. كذلك يوم الثلاثاء يوجه لك سؤالا : &#8220;هل كلام الله لك ؟&#8221;،فأحياناً الإنسان يقع في خطية إهمال كلمة الله . ولا بد أن تضع في فكرك أنك لا تتكلم بأي أمر إلا إذا كان فيك روح الإنجيل ،وإلا كلامك يصير كلاماً بشرياً عادياً. عليك أن تنتبه لأن بكلامك تتبرر وبكلامك تدان،ممكن كلمة واحدة تحرم الإنسان من السماء ، ولذلك نسمع عن تدريبات آبائنا في الصمت والحكمة وقلة الكلام ، والصوم يناسبه قلة الكلام ، وأيضاً قلة الطعام . إنجيل هذا اليوم يسألك &#8220;من تُحب ؟ قلبك فيه مين ؟&#8221; أتوقع الإجابة أن تكون متعددة ومختلفة ، فهناك من يقول : &#8220;زوجي أو زوجتي ، ابني أو ابنتي ، أخي أو أختي ، أبويا أو أمي &#8230;&#8221;، ولكن أنت يا من تملك قلب المسيح : من تُحب ؟</div>
<div>الإنسان المسيحي انتقل من مرحلة احتمال الآخرين إلى مرحلة محبة المعتدين،وهذه هي طبيعة الإنسان المسيحي، فقد انتقل وارتقى من مرحلة احتمال الآخرين ومتاعبهم إلى مرحلة محبة الأعداء ، والآية واضحة جداً &#8221; أحبوا أعداءكم &#8221; (مت٥ :٤٤) ، هذا قول فم المسيح الطاهر.</div>
<div>الإنسان المسيحي ليس له عدو إلا الشيطان،ولذلك طاقة الإنسان المسيحي في الحب غير محدودة ؛لأنها بغير محدودية الله (الله محبة)،وهذا هو الإنسان المسيحي الذي يريده الله ، فجوهر المسيحية هو الحب،ولا حدود للمحبة في حياة الإنسان المسيحي،لذلك إذا دخلت الكراهية أو إذا غابت المحبة عن قلبك فاعرف أن هذه خطية كبيرة جداً أمام المسيح. إن محبة الإنسان المسيحي ليست انتظاراً لمكافأة ،ولكنه يحب حباً في الخير وفي الفضيلة .</div>
<div>أيضاً في محبة الإنسان المسيحي لكل أحد أنه يحب بغير إدانة &#8220;لا تدينوا لكي لا تُدانوا &#8220;(مت ٧ : ١).لأن كل إنسان على وجه الأرض منذ آدم إلى آخر الدهور سيقف يوماً أمام الله، فالله الديان العادل أعطى الإنسان نسمة حياة ، وهذه  النسمة استثمرها واستخدمها في صنع الخير، فعش فيها واربح بها الآخرين.</div>
<div></div>
<div>هكذا خُلق الإنسان،ولكن الإنسان يتعدى حدوده عندما يُدين الآخر، فالإدانة أو الدينونة هي للديان العادل،ولذلك الإنسان المسيحي يبدأ حبه من إيمانه ، فإيمانك المسيحي وإيمانك بالمسيح هو الذي يعطيك طاقة الحب هذه ، والإيمان ليس مجرد كلام أو شعارات ولا ألفاظ ، ولا ما ندرسه في كليات اللاهوت ؛ لأن الإيمان هو حياة ، فالإيمان في حياتك هو شعورك أن لك قيمة مطلقة عند الله ، فالله يحبك ليس أنت فقط، بل كل البشر، إنه منعم على الأشرار وغير الشاكرين ، فعندما تشرق الشمس كل يوم فهي تُشرق للأبرار والأشرار؛ لأنها عطية الله، فالله هو الذي خلق وأوجد هذه الشمس لكل الناس ، لذلك محبتك وحبك لكل إنسان ينبع من إيمانك،ونقول الإيمان بالذات ، لأنك قبل أن تولد،الله عرفك. اسمع ما قاله لإرميا : &#8220;قبلما صورتك في البطن عرفتك وقبلما خرجت من الرحم قدسك . جعلتك نبياً للشعوب &#8221; (إر ١ : ٥)الله يعرفك قبل أن تتشكل كجنين بعمر أيام في بطن أمك،لقد عرفك بشكلك وبصورتك وجنسك وحجمك &#8230;. عرفك بكل شيء،وإيمانك أن لك قيمة مطلقةعند مسيحك شيء مهم جداً.</div>
<div></div>
<div>الأمر الثاني أن الإيمان يعطيك الحب،وهذا الحب نابع من الإيمان ، فهو الذي يجعلك تشعر أنك إنسان محبوب عند الله ، فأنت لك قيمه عنده ، ولذلك أنت محاط بحب الله الذي لا يزول ولا ينتهي .</div>
<div>الله يحبك في كل حالاتك ، في كل فترات عمرك ، فالإنسان هو محبوب الله وعليه يجب أن تقدم حبك لكل أحد ؛ لأنك محبوب الله ، نحن نحبه لأنه هو أحبنا أولاً وهذا الحب ينتقل لكل إنسان على وجه الأرض . الصورة الجميلة التي نتكلم عنها تأتي في بعض الأفعال التي أمامنا ، ومن بين هذه الأفعال : &#8220;احبوا أعدائكم&#8221;. هذه الوصية : &#8220;احبوا أعدائكم&#8221;، هي عمق أعماق المسيحية ، وهذا هو كلام الإنجيل ، فهذه العبارة بصيغة الأمر أو الإلزام ، فاحذر أن تبرد محبتك ، واحذر أن تُصنف الناس ، كن كما أراد المسيح فيك ، وإن كان فاجعل فترة هذا الصوم فترة مقدسة أن تراجع فيها نفسك .</div>
<div>أمثلة :</div>
<div>١ القديس يوحنا القصير :</div>
<div>يحكي لنا تاريخ الكنيسة عن القديس يوحنا القصير، فكان قديساً ناسكاً في البرية ، وهذا القديس كان يعيش في وسط آباء البرية ، وقد سمعوا عن إنسانة سقطت في الخطية وأسقطت معها كثيرين ، وصارت عدوا لطريق التوبة ، فقرر القديس يوحنا القصير أن يتوب هذه الإنسانة ، وذهب لكي ما يتوب القديسة بائيسة ، وبالطبع عندما يذهب لبيت من بيوت الخطية يعتبر أمراً غريباً ، فعندما طلب هذه الإنسانة أتت أمامه ولكنها لم تكن مغطية الرأس ، ولا ترتدي شيئاً في قدميها ، لكن مجرد أن رأته وهي في وحل الخطية ، ورأت في عينيه كل المحبة ، فبمجرد أن قال لها : &#8220;اتركي طريق الشر والخطية وقدمي توبة &#8220;، قالت له : &#8220;خذني معك&#8221;، فقال لها : &#8220;ادخلي غطي رأسك، وارتدي حذاء في قدمك&#8221;، لكنها رفضت وقالت : &#8220;لا أدخل مكان الخطية مرة أخرى&#8221;،</div>
<div>وكانت التوبة.</div>
<div>وذهب هذا القديس الناسك الوقور ومعه إنسانة بهذه الحالة ، وكأنه أنقذ نفسا . تُرى ما الذي دفع هذا القديس أن يذهب لمثل هذا المكان السيئ ؟ فلا نجد شيئاً سوى محبته ، فقد أراد بهذه المحبة أن ينقذ نفساً ويخلصها ، وللعجب كان هذا اليوم الذى تابت فيه القديسة هو آخريوم في حياتها على الأرض ، حيث ماتت منه في الطريق وقدمها تنزف دماً اثر شوك الصحراء ، ورجع القديس لإخوته الرهبان وهو  يحكي لهم القصة وهم متعجبون، إلى أن كشف لهم الله إنها كانت توبة صادقة حقيقية ، وهذه هي المحبة .</div>
<div>كان من الممكن أن يدينها بأنها سقطت في الخطية وأسقطت كثيرين ، لكنه قدم لنا صورة جميلة من صور المحبة .</div>
<div>۲۔ القديس اسطفانوس :</div>
<div>كان القديس اسطفانوس مملواً من الإيمان والروح القدس ، وكان وجهه كوجه ملاك منير، فأخذه اليهود لكي يرجموه ، وتخيلوا معي أنه في الوسط قائم شاب صغيريقدم اسم المسيح لكل أحد.  لقد كان القديس اسطفانوس يحمل قلباً محباً في داخلة ويقول &#8220;يارب لا تقم لهم هذه الخطية (أع ٧ : ٦٠) من أين بهذه الطاقة ؟ من أين لك هذه الصلوات ؟ فكان ينظر السماء وعيناه إلى فوق وهي في سلام وراحة. كل قديس نقرأ عنه ونسمع عنه هو إنسان عادي في كل شيء. قد تتعرض لضيق وشدة ، لكنك ترفع قلبك إلى الله بالحب ، ربما شابه اسطفانوس سيده الذي قال على الصليب : &#8220;يا أبتاه اغفر لهم لأنهم لا يعلمون ماذا يفعلون&#8221; (لو ٢٣: ٣٤). يا للعجب. لذلك الذين ارتكبوا شراً أو عنفاً يجب أن تصلي من أجلهم ، وأدعوكم للصلاة من أجل أن ينزع الله الشر من بعض القلوب ، فغير المستطاع عند الناس مستطاع عند الله، فمن الممكن من قاع الشر يخرج قديسين.</div>
<div>حبك للآخر يعطيه فرصة ، وبما أن المسيح يحبك فهو يعطيك فرصة أيضا لنقاوة القلب.</div>
<div>٣ -القديس إبراهيم الجوهري :</div>
<div>نقرأ في تاريخ الكنيسة من حوالي ٢٠٠ سنة عن القديس &#8220;إبراهيم الجوهري&#8221; والذي كان يعمل بمثابة رئيس الوزراء ، وكان قلبه يحمل قلب الحب ، قد أتى إليه أخوه ذات مرة يشكو من جاره الذي كان يسبه بألفاظ سيئة ، فما كان من هذا الإنسان البار إلا أن يطيب قلب أخيه وقال له : &#8220;أنا حقطعلك لسانه&#8221;، ويخرج هذا الأخ متهللا معتمداً على السلطة الزمانية التي في يد أخيه . المسيحية ليست قطع لسان ، ولكنها قطع لسان الشر، فكيف أقطع لسان الشر؟ لا توجد سوى صورة واحدة وهي مزيد من الحب ، فقد قال الإنجيل : &#8220;لأنك إن فعلت هذا تجمع جمر نار على رأسه&#8221; (رو ۱۲ : ۲۰). إن المحبة تغلب لسان الشر، فنحن لا نحمل غير قلب الحب.</div>
<div>* صور المحبة :</div>
<div>في البداية سألت : &#8220;من تُحب ؟&#8221;، أقولك : كل الناس ، وقلبك مفتوح لكل الناس ، من تعرفه ومن لا تعرفه ، فيجب أن تمتد المحبة بين كل الفئات ، نحن لا نملك إلا الحب</div>
<div> ١ &#8211;  الصوم :</div>
<div>من صور الحب أنك تصلي من أجل الآخرين وترفع قلبك في حرارة روحية ، وكما تُصلي في قسمة القداس ونقول : &#8220;الصوم والصلاة هما اللذان يخرجان الشياطين&#8221;. ليس هناك وسيلة أخرى غير الصوم والصلاة . ونحن نعلم أن في الصوم الكبير تكثر فيه التجارب ، ولذلك لا نملك سوى الصوم والصلاة ، وأساسهما محبة الله ، فأنا في الصوم أمتنع عن الطعام فترة من الزمن ، وعندما نأكل يكون الأكل نباتياً بسيطاً ، قل له : &#8220;يا رب أنا مشغول بك أنت وحدك &#8220;. . في فترة الصوم الكبير أهم شيء هو قلة الطعام وقلة الكلام ، فما المانع أن تقل مكالماتك ؟ وما المانع أن تقل مشاهداتك للقنوات الفضائية ؟ وما المانع من أن تقل جلوسك أمام النت ؟ فبحكم الصوم اليوم فيه محسوب ، فمن الخسارة أنه يمر منك يوم دون أن تستفيد .</div>
<div>إن أيام الصوم أيام مقدسة لا تعوض، فعدد أيام الصوم الكبير ال ٥٥ يوماً ، هم ميزان الإنسان الروحى .</div>
<div>۲۔ الصلاة من أجل الآخرين :</div>
<div> خصص هذا اليوم لكي ما تصلي بحرارة بدلا من أن تضيع وقتك أمام أي شيء ، خصص هذا الوقت لإنجيلك وصلواتك وارفع قلبك بحرارة.</div>
<div>۳۔ افتقاد الآخرين :</div>
<div>لا بد أن تفتقد الآخرين في ظروفهم المتنوعة ، فهناك بيوت منكسرة ومجروحة ،  وهناك بيوت فقيرة ، وأيضاً المرضى باي أتعاب جسدية أو نفسية ، فرصة أنك تعلم نفسك أن تبحث عن أناس من ذوي الاحتياج ، فصور الاحتياج كثيرة ولا أستطيع أن أحصرها وأذكرها .</div>
<div>الصوم فرصة أن تمتلك فيه قلباً ممتلئاً بالرحمة ، وتقترب فيه إلى الله حتى لا تكون من أصحاب القلب الجاف ، فالصوم فرصة أن تستعيد قلب الرحمة في داخلك.</div>
<div>٤ محبة من لا يشعر بمحبتك :</div>
<div> من صور المحبة أيضاً أنك تقدم المحبة للإنسان الذي لا يشعر بمحبتك ، فقدم مزيد من المحبة لمن يشعر إنك بعيد عنه ، قدم المحبة بكل صورها.  اصنع الخير مع الغير بكل محبة حتى لو أساء إليك ؛ لأن هذه المحبة هي التي تعلمناها من مسيحنا القدوس ، اصنع الخير وقدم الفضيلة ، قدم الكلمة الحلوة والمجاملة والابتسامة ، قدم قلبك الذي يحتضن العالم كله ، فعندما يوجد المسيح في قلبك يصير قلبك واسعاً جداً باتساع حضن المسيح على الصليب.</div>
<div>&#8220;من تحب؟&#8221;</div>
<div>أترك لك الإجابة في فترة الصوم ، ليت إجابتك تكون : &#8220;أحب كل الناس&#8221;.</div>
<div></div>
<div>المرجع : كتاب اختبرني يا الله &#8211; صفحة ٤٤ &#8211; قداسة البابا تواضروس الثاني</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>

      {% endcreateArticleAccordions %}
    </section>
  {% endblock %}
  