---
layout: 'layouts/reading.html'
title: 'قراءات يوم الخميس من الأسبوع الأول'
tags: 'great-lent'
permalink: /articles/great-lent/1-4.html
---
  {% block content %}
    <section id="readings">
      <ul>
      {% if 'undefined' != 'undefined' %}
      
      {% else %}
      {% if 'null' != 'null' %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">العشية</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeVespers '' '' %}
          </div>
        </div>
      </li>
      {% endif %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">باكر</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeMatins '19.24:1-2' '42.8:23-25' '23.2:11-19@38.8:18-23' %}
          </div>
        </div>
      </li>
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <h3 class="flex items-center justify-between">
            <span class="kufi">القداس</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </h3>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeLitugy '46.4:16-5:9' '62.1:8-2:11' '44.8:3-13' '19.118:13,18' '41.4:21-29' %}
          </div>
        </div>
      </li>

      {% endif %}
        </ul>
    </section>
    <section id="article">
      <h3 class="mt-8 mb-4 heading-explain">شرح القراءات</h3>
      {% createArticleAccordions %}
        <h4>إله المجد والقوّة</h4>
<p>&#8220;فَيُعْلَنُ مَجْدُ الرَّبِّ وَيَرَاهُ كُلُّ بَشَرٍ جَمِيعًاً&#8221; (إش ٤٠ : ٥)</p>
<p>&#8220;وَنَحْنُ جَمِيعًا نَاظِرِينَ مَجْدَ الرَّبِّ بِوَجْهٍ مَكْشُوفٍ، كَمَا في مِرْآةٍ، نَتَغَيَّرُ إِلَى تِلْكَ الصُّورَةِ عَيْنِهَا، مِنْ مَجْدٍ إِلَى مَجْدٍ، كَمَا مِنَ الرَّبِّ الرُّوحِ&#8221; (٢كو ٣: ١٨)</p>
<p>[السماء والأرض مملوءتان من مجدك الأقدس] (من صلوات وألحان القدّاس الإلهي.)</p>
<p>[عمانوئيل إلهنا في وسطنا الآن بمجد أبيه والروح القدس] (ختام الثيئوطوكيات الآدام).</p>
<p>[ليكن للنفس مذبح في وسط القلب عليه تقدم ذبائح الصلاة ومحروقات الرحمة فتذبح فوقه ثيران الكبرياء بسكين الوداعة وتُقبَل عليه كباش الغضب وماعز التنعم والشهوات لتعرف النفس كيف تقيم داخلها في قدس أقداس قلبها منارة تضئ بغير انقطاع] (العلامة أوريجانوس)<a href="#_ftn1" name="_ftnref1">[1]</a></p>
<h3>شواهد القراءات</h3>
<p>(إش ٢: ١١-١٩)، (زك ٨ : ١٨)-الخ)، (مز١٣: ١-٢)، (لو ٨: ٢٢-٢٥)، (١كو ٤: ١٦) - الخ و(ص ٥: ١-٩)، (١يو ١: ٨) و(ص٢:١-١١)، (أع ٨: ٣-١٣)، (مز١١٧: ١٣-١٨)، (مر٤: ٢١-٢٩).</p>
<h3>شرح القراءات</h3>
<p><strong>تتكلّم قراءات الْيَوْمَ عن إستعلان مجد الله وقوته.</strong></p>
<p><strong>تبدأ نبوءة إشعياء</strong> بالحديث عن مجد قوة الله فوق كل تشامخ البشر وتعاليهم وفوق كل العبادات الباطلة والكاذبة. &#8220;ويتعالى الرب وحده في ذلك اليوم، وسيوضع تشامخ البشر ويحط ترافع الانسان ويتعالى الرب وحده في ذلك اليوم وتزول الأصنام بتمامها ويدخلون في المغائر وشقوق الصخور وحفائرالتراب من أمام هيبة الرب ومن مجد قوته&#8221;.<strong><br />
</strong></p>
<p><strong>وتُوضّح نبوءة زكريا</strong> إشتياق الشعوب لوجه الله وجاذبية حضوره للبشر من كل مكان.</p>
<p>&#8220;ستأتي شعوب كثيرة أيضاً وسكّان مدن كثيرة تجتمع، قائلين لنسير ونطلب وجه الرب الضابط الكل وأنا أيضاً أسير فتأتي شعوب كثيرة وأمم أقوياء ليطلبوا وجه رب الجنود في أورشليم واستعطاف وجه الرب&#8221;</p>
<p><strong>كما يعلن مزمور باكر</strong> خضوع كل الأرض الخليقة والبشر لله.</p>
<p>&#8220;للرب الأرض وكمالها المسكونة وجميع الساكنين فيها هو على البحار أسسها وعلى الانهار هيأها&#8221;</p>
<p><strong>وفي إنجيل باكر</strong> جاءت معجزة إنتهار الريح وهدوء البحر لتؤكد على سلطان الرب على الخليقة وقوّته الإلهية.</p>
<p>&#8220;فقام وانتهر الريح وتموج الماء فسكن وصار هدوء عظيم ثم قال لهم أين إيمانكم فخافوا وتعجبوا قائلين بعضهم لبعض تري من هو هذا فإنه يأمر الرياح والمياه فتطيعه&#8221;</p>
<p><strong>ويحذّر البولس</strong> من تشامخ البشر الذي يحسب لا شئ أمام قوة الله.</p>
<p>&#8220;ولكني سآتيكم سريعاً إن شاء الرب فسأعرف لا كلام المتشامخين بل قوتهم لأن ملكوت الله ليس هو بكلام بل بقوة&#8221;</p>
<p><strong>كما يعلن مجد وقوة سلطان</strong> الكنيسة المجتمعة بإسمه، والواحدة فيه للتنقية وفرز الخمير العتيق الفاسد من العجين الجديد وفطير الطهارة والبر.</p>
<p>&#8220;باسم ربنا يسوع المسيح إذ أنتم وروحي معاً مجتمعون وقوة ربنا يسوع المسيح، يسلم مثل هذا إلى الشيطان لهلاك الجسد لكي تخلص الروح في يوم ربنا يسوع المسيح، إذا نقوا منكم الخمير العتيق لتكونوا عجيناً جديداً كما أنكم فطير&#8221;</p>
<p><strong>كما يظهر الكاثوليكون</strong> عِظم مجد الآب في فاعلية خلاص وشفاعة إبنه لأجل العالم كلّه.</p>
<p>&#8220;يا أولادي أكتب إليكم بهذا لكي لا تخطئوا، وان أخطأ أحد فلنا شفيع عند الآب يسوع المسيح البار وهو كفارة عن خطايانا وليس عن خطايانا فقط بل عن خطايا العالم كله أيضاً&#8221;</p>
<p><strong>كما يعلن</strong> مجد سلوك أولاد الله في العهد الجديد.</p>
<p>&#8220;وأيضاً وصية جديدة أكتب إليكم ما هو حق فيه وفيكم أن الظلمة قد مضت والنور الحقيقي الآن يضئ&#8221;.</p>
<p><strong>أما الإبركسيس</strong> فيعلن مجد الله في الكنيسة المقدسة.</p>
<p>&#8220;لأن كثيرين من الذين كانت بهم الأرواح النجسة كانت تخرج منهم صارخة بصوت عظيم وكثيرون مُخلَّعون وعُرج كان يشفيهم وصار فرح عظيم في تلك المدينة&#8221;.</p>
<p><strong>ورغم إنخداع البعض</strong> بقوة السحر والشيطان لكن أمام قوة ومجد حضور الله في كارزيه خضع الكل حتى الساحر نفسه وقبلوا خلاص الإيمان عن إنبهار السحر الكاذب.</p>
<p>&#8220;وكان ساحراً فحول أمة السامرة كلهّا مدّعياً أنه شئ عظيم فأصغوا إليه جميعهم من صغيرهم إلى كبيرهم قائلين هذه هى قوة الله التي تدعى عظيمة فلما آمنوا إذ بشرهم فيلبس بملكوت الله واسم يسوع المسيح اعتمدوا رجالاً ونساءً وسيمون نفسه أيضاً آمن واعتمد وكان ملازماً لفيلبس وإذ رأي الآيات والقوات العظيمة الصائرة منه تعجب&#8221;.</p>
<p><strong>وتعلن النفس في مزمور القدّاس</strong> مجدها وفرحها وقوّتها بالرب وخلاصه. &#8220;قوتي وتسبحتى هو الرب وقد صار لي خلاصاً&#8221;.</p>
<p><strong>ويختم إنجيل القدّاس</strong> بضرورة وأهمّية إعلان مجد الله في حياتنا وخطورة أن يختفي تحت المكيال (البيع والشراء ومشغوليات العالم) أو السرير (الكسل ومحبّة الراحة)</p>
<p>&#8220;ثم قال لهم هل يوقد سراج ليوضع تحت المكيال أو تحت السرير أليس ليوضع على المنارة&#8221;.</p>
<p><strong>كما أن مجد الله</strong> وفعله في القلوب لا يأتي بمراقبة بل هو فعل سرّي داخل كل نفس إلى أن تنمو وتثمر في حياتها.</p>
<p>&#8220;هكذا ملكوت الله كمثل إنسان يلقي بذاره على الأرض وينام ويقوم ليلاً ونهاراً والزرع ينمو ويطول وهو لايعلم لأن الأرض من ذاتها تعطي ثمراً أولاً عشباً ثم سنبلاً ثم يمتليء ما في السنبل&#8221;.</p>
<h3>ملخّص القراءات</h3>
<table width="510">
<tbody>
<tr>
<td width="117">نبوءة إشعياء</td>
<td width="393">مجد الله يرتفع فوق كل تعالي البشر وتشامخهم</td>
</tr>
<tr>
<td width="117">نبوءة زكريا</td>
<td width="393">جاذبية مجد الله في الشعوب الغريبة</td>
</tr>
<tr>
<td width="117">مزمور وإنجيل باكر</td>
<td width="393">خضوع كل الخليقة له وسلطانه عليها</td>
</tr>
<tr>
<td width="117">البولس</td>
<td width="393">تشامخ البشر يحسب لا شئ أمام قوة الله</td>
</tr>
<tr>
<td width="117">البولس</td>
<td width="393">سلطان الكنيسة الواحدة في تنقية الفطير من الخمير</td>
</tr>
<tr>
<td width="117">الكاثوليكون</td>
<td width="393">مجد الآب في شفاعة إبنه الوحيد لخلاص العالم</td>
</tr>
<tr>
<td width="117">الإبركسيس</td>
<td width="393">مجد الآب في الكنيسة في شفاء الموجوعين والمتألّمين</td>
</tr>
<tr>
<td width="117">الإبركسيس</td>
<td width="393">قوة ومجد الإيمان المسيحي أمام سحر العالم وزيف قوته</td>
</tr>
<tr>
<td width="117">مزمور القدّاس</td>
<td width="393">الرب هو مجد النفس وتسبيحها وخلاصها وبهجتها</td>
</tr>
<tr>
<td width="117">إنجيل القدّاس</td>
<td width="393">خطورة طمس مجد الله بسبب الإنشغال والكسل</td>
</tr>
<tr>
<td width="117">إنجيل القدّاس</td>
<td width="393">مجد الله في النفوس فعل سرّي تظهر مع الوقت ثماره</td>
</tr>
</tbody>
</table>
<h3>الكنيسة في قراءات اليوم</h3>
<table width="510">
<tbody>
<tr>
<td width="117">سفر إشعياء</td>
<td width="393">يوم الدينونة</td>
</tr>
<tr>
<td width="117">البولس</td>
<td width="393">سلطان الكنيسة ( الِحّل والربط )</td>
</tr>
<tr>
<td width="117">الكاثوليكون</td>
<td width="393">أهميّة حفظ الوصيّة وليس مجرد الإيمان الشكلي</td>
</tr>
<tr>
<td width="117">الإبركسيس</td>
<td width="393">الإيمان والمعمودية</td>
</tr>
</tbody>
</table>
<div>
<div id="yiv3582176784">
<div id="yiv3582176784">
<div>
<div>
<h3>عظات آبائية :</h3>
</div>
</div>
</div>
<div id="yiv3582176784">
<div>
<h4>ليس احد يوقد سراجًا للقديس كيرلس الاسكندري</h4>
<div> ليس احد يوقد سراجًا ويضعه في خفيه ولا تحت المكيال ، بل علي المناره لكي ينظر الداخلون النور &#8221; (لو١١ : ٣٣).</div>
<div>
<p>ماذا كان القصد بالنسبة لهذه الكلمات ؟ إنه يقاوم اليهود باعتراض مأخوذه من غبائهم وجهلهم ، لأنهم قالوا إنه يعمل معجزات لا ليؤمن به الناس أكثر ، ولكن لكي يصير له اتباع كثيرون ، ويحصل علي ثناء وتصفيق أولئك الذين ينظرون أعماله الخارقة. والرب يدحض هذا الافتراض باستخدام السراج كمثل ، فهو يقول ان السراج يكون دائمًا مرفوعاًوموضوعاً علي المناره ، فيكون نافعاً لمن يبصرونه . ولنتأمل الان النتيجه التي يشير إليها هذا الكلام. فقبل مجيءمخلصنا ،كان الشيطان — أب الظلمه — قد أظلم العالم ،وجعل كل الاشياء سوداء بقتام عقلي ، ولكن وبينما العالم فيهذه الحاله ، فإن الآب أعطي ابنه ليكون نوراً للعالم ، ليسطع علينا بنور الهي ، ولينقذنا من الظلمه الشيطانيه . ولكن أيها اليهودي ، ان كنت تلوم السراج لأنه غير مخفي ، ولكن علي العكس هو موضوع علي مناره ، وهو يعطي نوره لمن ينظرون ، عندئذ يمكن ان تلوم المسيح لأنه لا يريد أن يكون مختفيًا ، بل علي العكس أن يراه الجميع ، منيرًا أولئك الذي نفي الظلمه ، وليفيض عليهم بنور معرفه الله الحقيقيه . فهو يصنع معجزاته لا لكي يعجب به الناس ، ولا يسعي بواسطتها إلي الشهره ، بل بالحري لكي نؤمن أنه بينما هو الله بالطبيعه ، إلا أنه صار إنساًنا لأجلنا ، دون ان يكف عن أن يكون كما كان ( اي الهاً ). ومن فوق الكنيسة المقدسه كمناره تشع بالتعاليم التي ينادي بها هو ، فإنه يعطي نورًا لأذهان الجميع بأن يملأهم بالمعرفه الالهيه .<a href="#_ftn1" name="_ftnref1">[2]</a><a href="#_ftnref1" name="_ftn1"></a></p>
</div>
<h4>السراج هو الايمان للقديس امبروسيوس</h4>
<div> [السراج هو الإيمان، كما هو مكتوب: &#8220;سراج لرجلي كلامك ونور لسبيلي&#8221; (مز١١٩: ١٠٥).</div>
<div>كلمة الله هو موضوع إيماننا، وهو النور الحقيقي الذي يضيء لكل إنسان آتيًا إلى العالم&#8221; (يو ١: ٩)، هذا السراج لا يمكن أن ينير ما لم نستمد نوره من مصدر آخر (السيد المسيح).</div>
<div>السراج الذي نوقده هو قوَّة أرواحنا وعواطفنا، به نجد الدرهم المفقود (لو ١٥: ٨).</div>
<div>لا يليق بالإنسان أن يضع هذا الإيمان (السراج) تحت مكيال الناموس، لأن الناموس محدود أما النعمة فبلا حدود، الناموس يقدِّم ظلًا أما النعمة فتنير. ليته لا يغلق أحد إيمانه في حدود مكيال الناموس، بل يأتي إلى الكنيسة فتزيِّنه نعمة الرب.</div>
<div>
<p>ليسلِّط رئيس الكهنة النور على عظائم اللاهوت الملوكي، فلا يخنقها ظل الناموس. قديمًا كان رئيس الكهنة يوقد الأسرجة حسب الطقوس اليهوديَّة بانتظام صباحًا ومساءً، لكنها قد انطفأت، لأنها وُضعت تحت مكيال الناموس، واختفت أورشليم الأرضيَّة التي قتلت الأنبياء (مت٢٣: ٣٧)، أما أورشليم السماويَّة فقبلت إيماننا ووضعته على أعلى قمم الجبال أي على المسيح، لذلك أقول أنه لا يمكن للكنيسة أن تخفيها الظلمة ولا ظلال هذا العالم إنما تشع ببهاء الشمس الأبديَّة وتضيء علينا بأشعَّة نعمة الروح<a href="#_ftn1" name="_ftnref1">[3]</a><a href="#_ftnref1" name="_ftn1"></a></p>
</div>
<h3>عظات آباء وخدام معاصرون :</h3>
</div>
</div>
</div>
</div>
<div>
<div>
<div>
<div id="yiv3582176784yqtfd25654">
<h4>يوم الخميس من الأسبوع الأول لقداسة البابا تواضروس الثاني</h4>
<div><strong>(مر٤ : ٢١ – ٢٩) هل حياتك سراج ؟</strong></div>
<div>سأل الرب يسوع في ثلاثية جميلة وقال : &#8221; هل يؤتى بسراج ليوضع تحت المكيال أو تحت السرير ؟ أليس ليوضع على المنارة ؟&#8221; (مر٤ :٢١). وأود أن أوضح أولا أن سؤال هذا النص الإنجيلي الموجه لك هو : &#8220;هل حياتك سراج ؟ .</div>
<div>* معنی سراج :</div>
<div>كلمة سراج هي المصباح ، وهذا المصباح من الفخار يملأ بالزيت ويوضع فيه فتيلة منيرة ، ويكون بيضاوي الشكل ، وقد يمسكه الفرد من طرف ، والطرف الثاني فيه اللهب أو الفتيلة ، وقديما كانوا يطلقون على أبنائهم بأسماء مثل سراج ، أو مصباح ، أو نور، أومنير . وعليك أن تلاحظ جيداً السؤال الذي سأله السيد المسيح : &#8220;هل يؤتى بسراج ليوضع تحت المكيال أو تحت السرير ؟ أليس ليوضع على المنارة ؟&#8221; (مر٤ : ٢١)، وبالتأكيد يكون المكان العادي للسراج هو أن يوضع على المنارة .</div>
<div>وعلى هذا الأساس نجد ثلاثة أنواع من الناس :</div>
<div>الأول : يتمثل في المكيال ، والمكيال هو ما يكيلون به ، ويرمز للإنسان المشغول بالحياة العالمية ، وقد يعتبر أداة من أدوات الوزن أو القياس ، وبالتالي يكون الإنسان مشغولاً دائماً بحياته في العالم ، فعندما تسأله عن أي شيء في حياته مثل الذهاب للكنيسة أو قراءة الإنجيل ، يجيب بأنه مشغول وليس لديه الوقت الكافي لهذا ، وبالتالي فهو دائم المشغولية.</div>
<div>الثاني : هو من يؤتى ويُوضع تحت السرير، والسرير يرمز للراحة والنوم والكسل ، فالكسالي لا يريدون أن يفعلوا شيئا ، فهم كسالى في حياتهم ، فالشخص الكسول هو كسول في أسرته ، في عمله ، حتى كسول في خلاص نفسه.</div>
<div>الثالث : أما النوع الثالث من الناس هو من يوضع على المنارة ، والمنارة تعني النمو والوضوح ، لذلك في طقس كنيستنا يجب أن يكون للكنيسة منارة ، والمنارة لها ثلاث وظائف رئيسية هي :</div>
<div>+ المنارة تعني الإنارة : فقد يوضع النور في موضع عالي، لكي ينير أكبر مساحة مثل فنار البحر.</div>
<div>+ المنارة تعني الارتفاع والسمو : فالمنارة هنا تعلمك أن تكون في حالة من النمو والازدياد في النعمة &#8221; حياة السمو &#8220;.</div>
<div>+ المنارة تعني الاستقامة : المنارة دائماً مستقيمة ، فهي تعلم الإنسان حياة الاستقامة ، وقد بدأ وجود المنارات في كنائس مصر، فالمنارة هي تعديل للمسلة ، فقد بدأ فن المعمار وفن الأعمدة في مصر، حيث كانت المسلة المصرية القديمة ، ثم صارت مع المسيحية المنارة ، ومع دخول الإسلام مصر وجدت المئذنة ، فمصر هي الدولة الوحيدة في العالم التي يوجد بها المسلة والمنارة والمئذنة ، وهذا يعتبر تشكيل للأعمدة أو ما يمكن أن نسميه &#8221; فن الأعمدة &#8220;. إذا هل حياتك سراج ، هل حياتك نور، على اعتبار أنك موجود في المجتمع ؟ هل حياتك بصورة السراج الذي يوضع على المنارة ؟ أم حياتك مثل النوعين الآخرين ، هل مثل المكيال الذي يتمثل في انشغالك الشديد ؟ أم من النوع الثاني الذي يتمثل في الكسل الشديد جدا ، وفي الحالتين لا تكون على دراية بنفسك.</div>
<div><strong>* رموز السراج في الكتاب المقدس :</strong></div>
<div>السراج له معان كثيرة في الكتاب المقدس ، نذكر منها الآتي:</div>
<div><strong>۱ العقل سراج للإنسان :</strong></div>
<div>السراج عند الإنسان هو نعمة العقل ، وفي الأمثال المصرية نقول : &#8221; العقل زينة &#8220;، لذا السراج عند الإنسان هو نعمة العقل ، العقل هو سراج الإنسان ونوره ، هو الذي يقوده ، لذلك نجد المجتمعات تهتم بتعليم العقل ، وأن يكون العقل منفتحاً ويستوعب علوم العصر وينظر للمستقبل ، ويتعلم كثيراً ودائماً ، ونجد المقولة الشهيرة &#8220;العلم نور&#8221;، فالنور هو السراج .</div>
<div>إن كان العقل هو سراج الإنسان ، تُرى كيف يكون عقلك ؟ قد تجد شخصاً عقله ضيق أو عقل متعثر حتى ممكن يكون متعثراً في التعليم وليس الدين فحسب ، و قد تجد شخصاً آخر عقله منفتح واسع يستطيع أن يتقدم ، فلا تنس أن حضارات البشرية قامت على العقل المتقدم، مثل الحضارة المصرية ، وحضارات الشرق الأقصى مثل الصين والهند واليابان ، كلها حضارات فيها العقل يفكر ومنها خرجت فلسفات عديدة موجودة في كل العالم .</div>
<div><strong>۲۔ السيد المسيح سراج البشرية :</strong></div>
<div>عندما ولد السيد المسيح وأتى متجسداً على الأرض صارسراجاً للبشرية ، والملاحظة الهامة في الموضوع أن في كل مرة كان السيد المسيح يتكلم يقول : &#8220;الحق الحق أقول لكم&#8221;، وتكرار هذه الكلمة يظهر النور الصافي الدائم ، أن السيد المسيح جاء لكي ما يفصل بين الحق والباطل ، وحتى في وقت من الأوقات قال : &#8220;جئت سيفا&#8221;، قد يسأل البعض كيف يكون المسيح سيفاً ؟</div>
<div>السيف مهمته الفصل بين الأشياء ، والسيد المسيح لا يعرف سوى الحياة الإيمانية الحقيقية ، فلا يمكن أن تعرج بين الفرقتين ، لا يمكن أن تكون عينك هنا ، والعين الأخرى هناك &#8220;لأنه حيث يكون كنزك هناك يكون قلبك أيضاً&#8221; (مت ٦ : ٢١)، الحياة مع المسيح هي حياة مستقيمة، فالمسيح هو سراج البشرية الذي يخلص الإنسان من الخطية</div>
<div><strong>٣ - الصليب :</strong></div>
<div>الصليب المقدس هو سراج الخلاص أو مفتاح الخلاص ، فالصليب هو الذي قدم المسيح مصلوباً لكي يفدي الإنسان في حياته ، فيقول المزمور: &#8220;باركي يا نفسي الرب ، ولا تنسي كل حسناته . الذي يغفر جميع ذنوبك. الذي يشفي كل أمراضك. الذي يفدي من الحفرة حياتك . الذي يكللك بالرحمة والرأفة. الذي يشبع بالخير عمرك، فيتجدد مثل النسر شبابك&#8221; (مز۱۰۳: ۲-٥).</div>
<div>هنا في المزمور يحدد عدة أسباب ومنها : &#8220;الذي يفدي من الحفرة حياتك&#8221;، والحفرة هي جهنم ، فالصليب أيضاً سراج هو نور، قد نتذكر الصليب المنير الذي ظهر في السماء للملك قسطنطين وقال له : &#8220;بهذا تغلب&#8221;، وظهورات الصليب كثيرة في أماكن وأوقات مختلفة ومتعددة .</div>
<div><strong>٤ الكتاب المقدس والكلمة المقدسة :</strong></div>
<div>كلمة الإنجيل سراج للإنسان &#8220;سراج لرجلي كلامك ونور لسبيلي&#8221; (مز١١٩: ١٠٥) . فلا أستطيع أن أسير إلا بوصية ربنا ، لا أستطيع أن أتحرك إلا بمعرفة ربنا ، ويقول لنا القديس بولس الرسول : &#8220;فقط عيشوا كما يحق لإنجيل المسيح&#8221; (في١ : ٢٧)، بمعنى أنه لا بد أن تحرص على أن يكون الإنجيل دليلك الذي تعمل به دائماً. في بعض التجارب العلمية في المعامل الكبرى عندما يقوم أحد العلماء بعمل تجربة يعطى له كتيب يدون فيه خطوات التجربة خطوة خطوة ؛ لأنه عندما يُريد تكرار التجربة يرجع إلى الخطوات المدونة ويكررها بنفس الخطوات حتى يستطيع أن يصل لنتائج . هكذا الكتاب المقدس هو دليلك ، هو سراج المعرفة بالخبز وحده يحيا الإنسان ، بل بكل كلمة تخرج من فم الله&#8221; (مت٤ : ٤) .</div>
<div><strong>٥ - الكنيسة المقدسة سراج البشرية :</strong></div>
<div>الكنيسة مؤسسة أوجدها الله في حياتنا على الأرض حيث قال : &#8220;على هذه الصخرة أبني كنيستي&#8221; (مت ١٦: ١٨). فهي مملوكة للمسيح، وهذه الكنيسة الأرضية أوجدها الله على الأرض لكي تخدم الإنسان ، تخدمه روحياً واجتماعياً ، هذا هو سبب وجود الكنيسة ، فالكنيسة مكان للخدمة وإن شئت الدقة هي مكان لغسل الأقدام ، هي سراج للعالم ، هي خادمة للعالم ، هي نور في وسط العالم ، وعلى هذا الأساس يتكرر السؤال &#8220;هل حياتك سراج ؟&#8221; هل حياتك بالنسبة لمجتمعك ولأسرتك وللآخرين ولكنيستك منيرة ؟ هل نعم الله التي يعطيها لك تستثمرها جيداً ؟ نتذكر من أخذ الخمس وزنات وتاجر بهم واستثمرها حتى ربح خمس وزنات أخر، كذلك من أخذ الوزنتين تاجر بهما وربح ، أما من أخذ وزنة واحدة لم يربح شيئاً لذلك خسر كل شيء ، فلا بد أن تضع أمامك قانون نعم الله التي يعطيها الله للإنسان ، فهو ينطبق علينا جميعاً دون استثناء &#8220;لأن من له سيعطى ، وأما من ليس له فالذي عنده سيؤخذ منه&#8221; (مر٤ : ٢٥). وهذه الآية تكررت في إنجيل متى ومرقس ولوقا ، فكل من له سيعطى أي كل من له جهاد روحي وتعب وبذل ومجهود ، ولديه أمانة . هناك من يخدم بطريقة ليس فيها أمانة وبالتالي لا يصح أن أُطلق عليه خادماً وكل من له إحساس بالمسئولية وله قلب ملتهب فهو من يقدم خدمة حقيقية ، فهذا الكلام ينطبق علينا جميعاً كل واحد بحسب ظروفه وحسب عمله وخدمته ووضعيته . كل من له سيعطى ويزداد ، وربنا يعطيه أكثر ، وأما من ليس له فالنعمة في يده لكنه لا يستثمرها ، فالعطية التي أعطاها الله له لا يخدم بها لأنه كسلان ، وبالتالي من ليس له فالذي عنده يؤخذ منه ، من ليس له التعب ، من ليس له الجدية ، من ليس له العمل أو الرغبة.</div>
<ul>
<li><strong>قصة</strong></li>
</ul>
<div>يحكى عن أحد الآباء الأساقفة وكان يُدرس في الكلية الإكليريكية ، وحصل طالب في مادة هذا الأسقف على. ٤٩،٥ من ١٠٠ وهذا يعني أنه راسب في هذه المادة ، فأتى والد الطالب لسيدنا الأسقف وقال له : &#8220;يا سيدنا يعني على نص درجة يسقط ابني ، لو كانت النص درجة كان نجح &#8220;فرد الأب الأسقف الجليل وقال له : &#8221; اعلم يا ابني أن ابنك لم يرسب على نصف درجة ، بل رسب على خمسين درجة ونصف &#8220;. إذا لاحظت هذه القصة نجد أن من يحصل على ١٠٠ / ١٠٠ هو كل من له تعب وجهد وسهر ورغبة  وجدية في العمل.</div>
<div>هذا الأمر ينطبق على كل واحد في أي عمل ، سواء كانت الأم في المطبخ أو الطالب في دراسته ومذاكرته أو الأب الكاهن في خدمته ، أي إنسان في أي عمل في المجتمع ، حتى من يعمل عملاً بسيطاً ، كل من يجد سوف يأخذ نعماً ، كل من له سيعطى ويزداد ، وأما من ليس له فالذي عنده يؤخذ منه ، تؤخذ منه مواهبه الطبيعية عقابا لتقصيره ويفقد كل شيء.</div>
<div>اعلم أن العطايا والنعم التي يعطيها الله لك هي التي تجعل منك سراجاً في المجتمع، ولذلك قد نسمع عن وجود خدمة تطوعية ، هذه الخدمة الجميلة تخدم المجتمع ، ومن يُقدمها يكون حسب ظروفه ولكنها تكون بنوع من الجدية ، وقد يطلقون عليها &#8221; الخدمة العامة &#8220;، ونلاحظ أن كثير من المجتمعات قد بنيت على أساس هذه الخدمة .</div>
<div>من فترة أتى مجموعة من شباب وشابات دول أوروبا يريدون أن يخدموا عندنا شباب جامعة ، ولكن كانت إمكانياتهم محدودة ، فبدأوا يبحثون على بعض التبرعات وذهبوا لأحد البنوك وعرفوه أنهم مجموعة من الشباب يتبعون إحدى الكنائس في إحدى البلدان وأنهم يرغبون أن يقدموا مجموعة من الخدمات في القرى الفقيرة الموجودة في مصر، وطلبوا منه المساعدة ، نظرة البنك لهؤلاء الشباب كانت جميلة جدًا ، حيث وجد لديهم روح النشاط والجدية ، فطلب منهم أن يعرضوا عليه طلباتهم وكيفية مساعدة البنك لهم ، فاقترح الشباب عليهم في البنك أن يساعدهم بشنط أطفال ، فقدم لهم البنك كمية كبيرة من الشنط ، ولكنه طلب منهم أن يضعوا اسم البنك على كل شنطة بلغة البلد الأجنبي &#8230;. ماذا أقصد من هذه القصة ؟</div>
<div>أقصد أن جديتك تأتي لك بثمر كثير، نحن لم نولد لأنفسنا، فكل إنسان فينا يجب أن يكون سراجاً ، وطوبى للأسرة التي يكون فيها الأب والأم سراجاً لأولادهم .</div>
<div>منذ حوالي عشر سنوات عندما كنت في زيارة لإحدى الدول الثلجية ، قمت بزيارة بيت من بيوت أبنائنا الأقباط في الخارج ،  فوجدت جميع أنوار البيت مضيئة ٣ طوابق كل الأنوار فيها مضيئة، فسألته : &#8221; لماذا كل هذه الأنوار ؟&#8221;، قال لي : &#8220;إن والده علمه في الصعيد أن سيدنا عندما يأتي لزيارتهم لا بد من إنارة كل مصابيح المنزل&#8221; وهذا نوع تصور أن هذا الشخص ترك بلده من حوالي ٣٠ سنة لكنه متذكر كل ما تعلمه من والده</div>
<div>أتذكر أن أتى لي أب كي يقدم تبرع ومعه ابنه الصغير، وكنت محرجاً فقلت له : &#8221; من فضلك عندما تُحب أن تقدم شيئاً لربنا قدمه بمفردك &#8220;، فقال لي : &#8221; لا لابد أن أحضر ابني معي &#8220;، فسألته : &#8221; لماذا ؟&#8221;، قال لي : &#8221; إن والده كان بيعمل نفس العمل وهو اتعلم منه ، وبالتالي هو يريد أن ابنه يتعلم مثلما تعلم هو من والده &#8220;.</div>
<div>قد تتذكروا معي القدوة السيئة عندما جاء لأحد الأباء تليفون ، ورد ابنه على المكالمة ، وكان أحد الأشخاص يسأله عن والده ، فالأب قال للولد : &#8221; قل له : بابا مش موجود &#8220;، وبكل براءة قال الطفل للشخص في التليفون : &#8221; بابا بيقولك هو غير موجود &#8221; كيف يكون هذا الأب قدوة ؟</div>
<div>هل حياتك سراج في وسط أسرتك ؟ وأنت يا من تدرس في الجامعة أو في التعليم العام أو أي درجة من درجات التعليم &#8230; هل أنت سراج في حياتك ؟ هل أنت سراج في مكان عملك ؟</div>
<div>الجميع يخدم المجتمع بكل ما لديه من معرفة &#8230; هل أنت سراج في المكان الذي توجد فيه ؟ هل أنت سراج في خدمتك ؟! لا تنس هل يؤتي بسراج ويوضع تحت المكيال أو تحت السرير؟ لا بل يوضع على المنارة ، ضروري أن يكون السراج منيرا ، ما فائدة السراج وهو غير مضيء ؟ لذلك كان هذا السؤال ونحن في بداية الصوم وفي وقت التوبة.</div>
<div>اسأل نفسك هل أنا نور وقدوة لمن حولي ؟ لذا حاول أن تبدأ في هذه الأيام الغالية ، أيام الصوم يا إخوتي يجب أن تكون مختلفة تماماً عن الأيام العادية ، فهي أيام معدودة ، ولذلك على قدر الإمكان لا بد أن يحاول الشخص أن يضبط حياته الروحية كي يستطيع أن يسترجع قوته الروحية ، ويتمكن من أن يشحن حياته بطاقة روحية جيدة.</div>
<div>يقول في نهاية الفصل الإنجيلي لهذا اليوم : إنسان كان يلقي البذار على الأرض ، وعندما وضع البذرة أنبتت نباتا ثم سنابل ، وامتلأت السنابل بالقمح ، ولاحظ الترتيب نبات صغير ثم سنابل والسنابل تمتلئ بالقمح ، يريد أن يقول لك هذا المثل أن البداية كانت نباتاً وهذا ما نسميه بداية التوبة ، وعندما سنبلت وصارت سنابل فهي تعبير عن الأعمال الصالحة ، وعندما اكتملت السنابل وامتلأت بالقمح فهي تعبير عن الإنسان الذي يستطيع أن يخدم الآخرين ويكون قدوة ونوراً لهم .</div>
<div>
<p> يجب أن تلاحظ هذه العملية التدريجية في النمو، هذا الصوم صوم للتوبة ولا بد أن تضع أمامك هدفاً هو أن تكون سراجاً لأسرتك ولخدمتك ولكنيستك ولمكان عملك ومكان دراستك، اطلب من ربنا أن يجعل حياتك دائماً سراجاً ، كالذي يوضع على المنارة ، وإن كان هذا السراج في حاجة إلى بعض الإصلاحات أو التعديلات ، فالصوم فرصة أنك تراجع نفسك وتجدد حياتك مثلما تصلي كل يوم ونقول :&#8221;قلباً نقياً اخلق في يا الله وروحاً مستقيماً جدده في أحشائي &#8220;.<a href="#_ftn1" name="_ftnref1">[4]</a></p>
</div>
</div>
</div>
</div>
</div>
<h3>المراجع</h3>
<p><a href="#_ftnref1" name="_ftn1">[1]</a><sup>- مجلة مرقس  -  ص 25- عدد مايو 1986.</sup></p>
<div>
<p><a href="#_ftnref1" name="_ftn1">[2]</a> - تفسير انجيل لوقا للقديس كيرلس الاسكندري – ترجمة الدكتور نصحي عبد الشهيد</p>
</div>
<div>
<p><a href="#_ftnref1" name="_ftn1">[3]</a> - تفسير انجيل لوقا الاصحاح الحادي عشر – القمص تادرس يعقوب ملطي</p>
<p><a href="#_ftnref1" name="_ftn1">[4]</a> - اختبرني يا الله - صفحة ٥١ - قداسة البابا تواضروس الثاني</p>
</div>

      {% endcreateArticleAccordions %}
    </section>
  {% endblock %}
