---
layout: 'layouts/reading.html'
title: 'قراءات يوم الجمعـة من الأسبـوع الأول'
permalink: great-lent/1-5.html
---
  {% block content %}
    <section id="readings">
      <ul>
      {% if 'null' != 'null' %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">العشية</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeVespers '' '' %}
          </div>
        </div>
      </li>
      {% endif %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">باكر</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeMatins '19.30:1-2' '42.5:12-16' '5.6:3-25*@+5.7:1-26@23.3:1-14' %}
          </div>
        </div>
      </li>
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <h3 class="flex items-center justify-between">
            <span class="kufi">القداس</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </h3>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeLitugy '45.12:6-21' '64.1:1-14' '44.2:42-3:9' '19.13:5-6' '42.11:1-10' %}
          </div>
        </div>
      </li>
        </ul>
    </section>
    <section id="article">
      <h3 class="mt-8 mb-4 heading-explain">شرح القراءات</h3>
      {% createArticleAccordions firstName, lastName %}
        <h4>إله النعمة الغنية للكنيسة</h4>
<p>&#8220;أَيُّهَا الْعِطَاشُ جَمِيعًا هَلُمُّوا إِلَى الْمِيَاهِ، وَالَّذِي لَيْسَ لَهُ فِضَّةٌ تَعَالَوْا اشْتَرُوا وَكُلُوا. هَلُمُّوا اشْتَرُوا بِلاَ فِضَّةٍ وَبِلاَ ثَمَنٍ خَمْرًا وَلَبَنًا. لِمَاذَا تَزِنُونَ فِضَّةً لِغَيْرِ خُبْزٍ، وَتَعَبَكُمْ لِغَيْرِ شَبَعٍ؟ اسْتَمِعُوا لِي اسْتِمَاعًا وَكُلُوا الطَّيِّبَ، وَلْتَتَلَذَّذْ بِالدَّسَمِ أَنْفُسُكُمْ&#8221; (إش٥٥: ٢،١)</p>
<p>&#8220;وَتَفَاضَلَتْ نِعْمَةُ رَبِّنَا جِدًّا مَعَ الإِيمَانِ وَالْمَحَبَّةِ الَّتِي فِي الْمَسِيحِ يَسُوعَ&#8221; (١تي ١: ١٤)</p>
<p>[الكنيسة واحدة تمتد بثمارها المتزايدة المنتشرة بين الجمهور كأشعة الشمس الكثيرة مع أن النور واحد، وكأغصان الشجرة الكثيرة لكن الجذر واحد، هكذا غطست الكنيسة في نور الرب لذا ترسل أشعتها على العالم لكن النور واحد يبلغ كل موضع، ووحدة الجسد لا تُنتزع منها] (القديس كبريانوس)<a href="#_ftn1" name="_ftnref1">[1]</a></p>
<h3>شواهد القراءات</h3>
<p>(تث٦: ٣-الخ وص ٧ : ١- الخ)، (أش٣: ١-١٤)، (مز٢٩: ٢،١)، (لو٥: ١٢-١٦)، (رو١٢: ٦-الخ)، (٣يو١: ١- الخ)، (أع٢: ٤٢- الخ وص٣: ١-٩)، (مز٦:١٣)، (لو١١: ١-١٠).</p>
<h3>شرح القراءات</h3>
<p><strong>تحدّثنا قراءات الْيَوْمَ</strong> عن غنى النعمة الإلهية التي يعطيها الآب للكنيسة وفي الكنيسة وأيضاً لكل نفس.</p>
<p><strong>تبدأ القراءات بسفر التثنية</strong> التي يلخّص فيها النص الكتابي جوهر العلاقة بين الآب وأولاده، فغنى نعمة الآب لا يقاس ولا يعتمد على صلاح الشعب أو إستحقاقه، فالآب يعطي نعمته لأجل محبته، وأيضاً لايطلب الآب من شعبه سوى أن يدرك ويتذوق ويتعمّق في محبته المدخل الوحيد لإدراك الله ونوال عطاياه وفهم تدبيره.</p>
<p>&#8220;وإياك قد اختار الرب إلهك لتكون له شعباً خاصاً من جميع الأمم التي على وجه الأرض، ليس لأنكم أكثر من جميع الأمم أحبكم الرب واختاركم الرب الإله فإنما أنتم أقل من جميع الشعوب، لكن محبة الرب لكم ومحافظته على القسم الذي أقسم به لآبائكم.</p>
<p></p>
<p>فتحب الرب إلهك من كل قلبك ومن كل فكرك ومن كل نفسك ومن كل قوتك ولتكن هذه الكلمات جميعها التي أنا أوصيك بها الْيَوْمَ في قلبك وفي نفسك&#8221;</p>
<p><strong>لذلك يحذّر إشعياء النبي الشعب</strong> من ترك نعمتهم والإفتخار الكاذب بقوتهم وحكمتهم لذلك يفرغ رصيد رعاتهم وقياداتهم من النعمة وذلك لرفضهم مصدر نعمتهم بل ومقاومته لذلك يدينهم الله.</p>
<p>&#8220;هوذا السيد رب الجنود ينزع من يهوذا ومن أورشليم القوي والقوية كل سند خبز وكل سند ماء الجبار والمقتدر ورجل الحرب والقاضي والنبي والعراف والشيخ وقائد الخمسين والوجيه والمشير، ويمسك الرجل بأخيه في بيت أبيه قائلاً لك ثوب فكن رئيساً علينا ويكون طعامي تحت سلطانك فيجيبه في ذلك اليوم قائلاً ليس في بيتي خبز ولا ثوب وأكون رئيساً عليك، فويل لنفوسهم لأنهم تشاوروا مشورة سوء قائلين فلنربط البار فإنه لم يصلح لنا الآن فإنهم يأكلون من ثمر طريقهم ويشبعون من نفاقهم&#8221;.</p>
<p><strong>وتتعزّى النفس في مزمور باكر</strong> بغنى نعمة الآب الذي يحتضنها ويحميها من شماتة الأعداء ويشفي أوجاعها.</p>
<p>&#8220;أعظمك يا رب لأنك احتضنتني ولَم تشمت بي أعدائي، أيها الرب إلهي صرخت إليك فشفيتني&#8221;.</p>
<p><strong>وفي إنجيل باكر</strong> نري اللمسة الإلهية لإبن الله التي تطهّر وتنقّي الإنسان كلّه رغم المرض والنجاسة.</p>
<p>&#8220;ولما دخل إحدي المدن فإذا برجل مملوء برصاً فلما رأي يسوع خر على وجهه وسأله قائلاً يا رب إن شئت تقدر أن تطهرني&#8221;.</p>
<p><strong>ويظهر أن غنى النعمة للناس</strong> في شفائهم وللراعي في شركة صلاته مع الآب. &#8220;واجتمعت جموع كثيرة ليستمعوا وشفاهم من أمراضهم فأما هو فكان يمضي إلي البراري ليصلي&#8221;.</p>
<p><strong>ويؤكد البولس</strong> أن غنى النعمة هو أساس المواهب والخدمة.</p>
<p>&#8220;فاذ لنا مواهب مختلفة بحسب مقدار النعمة المعطاة لنا أنبوة فالنسبة إلي الإيمان وإن كانت خدمة ففي الخدمة المعلم ففي التعليم&#8221;.</p>
<p><strong>لكن أيضاً غنى النعمة</strong> ليس فقط في المواهب بل في ثمار الروح فيها والتي تظهر في من يعلن هذه المواهب وأيضاً في إجتهاد الخادم في عبادته وحياته وطريقة خدمته.</p>
<p>&#8220;وإن كان من يعزي فبطيب قلب والمعطي فبصفاء النية والمدبر فباجتهاد والراحم فبسرور، كونوا غير متكاسلين في الإجتهاد حارين في الروح عابدين الرب فرحين في الرجاء صابرين في الضيق مواظبين على الصلاة&#8221;.</p>
<p><strong>بينما يقدّم الكاثوليكون</strong> نموذج لخدّام ورعاة ألقوا كل رجاءهم على النعمة الغنية. &#8220;وتفعل حسناً إذا شيعتهم كما يحق لله لأنهم من أجل اسمه خرجوا ولم يأخذوا من الأمم شيئاً فينبغي لنا أن نقبل أمثال هؤلاء لنكون مساعدين معهم بالحق&#8221;.</p>
<p><strong>بينما يحذّر في ذات الوقت</strong> من رعاة وخُدّام الذات والمتكأ الأول، والذين أفعالهم وأقوالهم ضدّ شركة الكنيسة ومحبّة الإخوة.</p>
<p>&#8220;وقد كتبت إلي الكنيسة ولكن ديوتريفس الذي يحب أن يكون الأول بينهم لا يقبلنا، لذلك إذا جئت فسأُذكِّره بأفعاله التي يفعلها حيث يهذي بنا بأقوال خبيثة، وما اكتفي بهذا ولكنه لا يقبل الأخوة ويمنع الذين يريدون قبولهم ويطردهم من الكنيسة&#8221;.</p>
<p><strong>أما الإبركسيس</strong> فيقدّم أيقونة النعمة الغنية الكنيسة الأولى ومدي الشركة والمحبة والعطاء ومخافة الله.</p>
<p>&#8220;ومخافة عظيمة كانت عليهم أجمعين، وجميع الذين آمنوا كانوا معاً وكان عندهم كل شئ مشتركاً، وحقولهم ومقتنياتهم كانوا يبيعونها ويقسمونها على الجميع بحسب احتياج كل واحد&#8221;.</p>
<p><strong>كما يظهر عمل الله</strong> ونعمته في الكنيسة مع الرعاة والخدّام الذين رأس مالهم وأغنى وأعظم مايملكوه هو إسم يسوع.</p>
<p>&#8220;أما الرب فكان يضم إلى الكنيسة الذين يخلصون، فقال بطرس ليس لي فضة ولا ذهب ولكن الذي لي فإياه أعطيك، باسم يسوع المسيح الناصري قم وامش، وأمسكه بيده اليمني وأقامه ففي الحال تشدّدت رجلاه وكعباه فوثب ووقف وصار يمشي&#8221;.</p>
<p><strong>لذلك تبتهج النفس في مزمور القدّاس</strong> بالله الذي يسكب عليها مراحمه وخلاصه وإحساناته.</p>
<p>&#8220;أما أنا فعلى رحمتك توكلت يبتهج قلبي بخلاصك أسبح الرب المحسن إليّ&#8221;.</p>
<p><strong>ويختم إنجيل القدّاس</strong> بطريق ووسيلة الإمتلاء من النعمة الغنية الصلاة الدائمة والطلب بإجتهاد لكن بلغة البنين لأبيهم السماوي الذي سيعطيهم بسخاء وغنى وفيض.</p>
<p>&#8220;فقال لهم إذا صليتم فقولوا أبانا الذي في السموات، أقول لكم إن لم يقم ويعطيه لكونه صديقه فلأجل لجاجته يقوم ويعطيه ما يحتاج إليه، وأنا أيضاً أقول لكم اسألوا فتعطوا اطلبوا فتجدوا اقرعوا فيفتح لكم، لأن كل من يسأل يأخذ ومن يطلب يجد ومن يقرع يفتح له&#8221;.</p>
<h3>ملخّص القراءات</h3>
<table width="510">
<tbody>
<tr>
<td width="121">سفر التثنية</td>
<td width="389">غنى نعمة الآب وإختياره لايعتمد على صلاحنا، لكننا لاندرك ذلك إلا بذوق محبته.</td>
</tr>
<tr>
<td width="121">سفر إشعياء</td>
<td width="389">زيف قوة وحكمة البشر وفراغ الرعاة، ودينونة الشعوب الرافضة لخلاص البار.</td>
</tr>
<tr>
<td width="121">مزمور باكر</td>
<td width="389">الآب يحتضن النفس ويحميها من شماتة الأعداء ويشفي أوجاعها</td>
</tr>
<tr>
<td width="121">إنجيل باكر</td>
<td width="389">لمسة الإبن الكلمة تشفي بشريتنا من النجاسة.</td>
</tr>
<tr>
<td width="121">البولس</td>
<td width="389">غنى النعمة هو أساس كل موهبة وخدمة، وثمار الروح تأكيد لصحتها وفاعليتها.</td>
</tr>
<tr>
<td width="121">الكاثوليكون والإبركسيس</td>
<td width="389">رعاة ألقوا كل رجاءهم على النعمة الغنية، وأعظم ما يملكونه إسم يسوع.</td>
</tr>
<tr>
<td width="121">الإبركسيس</td>
<td width="389">الكنيسة الأولي أيقونة النعمة والعطاء والغني بالمحبّة.</td>
</tr>
<tr>
<td width="121">مزمورالقدّاس</td>
<td width="389">تبتهج النفس بمراحم الآب وخلاصه وإحساناته.</td>
</tr>
<tr>
<td width="121">إنجيل باكر والقدّاس</td>
<td width="389">الصلاة الدائمة بروح البنين هو أساس الحياة، والخدمة ورأس مال الخادم والراعي.</td>
</tr>
</tbody>
</table>
<p></p>
<h3>الكنيسة في قراءات اليوم</h3>
<table width="514">
<tbody>
<tr>
<td width="121">إنجيل باكر</td>
<td width="393">الكهنوت.</td>
</tr>
<tr>
<td width="121">البولس</td>
<td width="393">مواهب الأعضاء المختلفة وحرارة العبادة والجهاد والمثابرة</td>
</tr>
<tr>
<td width="121">الإبركسيس</td>
<td width="393">تعليم الرسل وشركة الإفخارستيا.</td>
</tr>
<tr>
<td width="121">إنجيل القدّاس</td>
<td width="393">الصلوات المحفوظة (الصلاة الربّانية).</td>
</tr>
</tbody>
</table>
<p></p>
<p></p>
<h3>أفكار مقترحة للعظات</h3>
<h4>(١) قنوات غنى النعمة</h4>
<table style="height: 444px;" width="918">
<tbody>
<tr>
<td width="98"> سفر التثنية</td>
<td width="26">←</td>
<td width="389">محبة الله:</p>
<p><strong></strong>من كل القلب (مركز الإهتمام)</p>
<p><strong>  </strong>ومن كل النفس (مركز الوجدان والمشاعر)</p>
<p><strong>  </strong>ومن كل الفكر (مركز الإدراك)</p>
<p><strong>  </strong>ومن كل القدرة (مركز الإرادة)</td>
</tr>
<tr>
<td width="98">البولس</td>
<td width="26">←</td>
<td width="389">إجتهاد العبادة والحياة: غير متكاسلين في الإجتهاد حارين في الروح</td>
</tr>
<tr>
<td width="98"> الإبركسيس</td>
<td width="26">←</td>
<td width="389">مخافة الله: ومخافة عظيمة كانت عليهم أجمعين</td>
</tr>
<tr>
<td width="98"> الإبركسيس</td>
<td width="26">←</td>
<td width="389">التمسّك بقوّة إسم يسوع كرأس مال الخادم</td>
</tr>
<tr>
<td width="98">إنجيل القدّاس</td>
<td width="26">←</td>
<td width="389">الصلاة الدائمة دون ملل: كل من يسأل يأخذ ومن يطلب يجد</td>
</tr>
</tbody>
</table>
<p></p>
<h4>(٢) ما يعطّل عمل النعمة فينا<strong> </strong></h4>
<table style="height: 145px;" width="579">
<tbody>
<tr>
<td width="87">سفر أشعياء</td>
<td width="420">إهمال الغنى الداخلي: ليس في بيتي خبز ولا ثوب</td>
</tr>
<tr>
<td width="87">البولس</td>
<td width="420">الإنشغال غير البنّاء: غير مهتمّين بالأمور العالية</td>
</tr>
<tr>
<td width="87">الكاثوليكون</td>
<td width="420">الذات والمكانة الأولى: الذي يحب أن يكون الأول</td>
</tr>
<tr>
<td width="87">إنجيل القدّاس</td>
<td width="420">التراخي وضعف الإصرار: من أجل لجاجته يقوم ويعطيه</td>
</tr>
</tbody>
</table>
<p></p>
<h3>عظات آبائية</h3>
<h4>الصلاة الربانية &#8211; للقديس يوحنا ذهبي الفم<a href="#_ftn2" name="_ftnref2">[2]</a></h4>
<p><strong>أبانا الذي في السماوات</strong><strong>:</strong></p>
<p>&#8220;فصَلّوا أنتُمْ هكذا: أبانا الذي في السماواتِ&#8221; (مت6: 9). هل ترون كيف يلهب قلب السامع مباشرة، ويذكِّره بكل بركات الله الوفيرة منذ البداية. لأن الذي يدعو الله أبًا بهذا الإسم يَنعَم بغفران خطاياه، ورفع العقوبة والبرّ والتقديس والفداء والتبني والميراث، وأخوة الابن الوحيد الجنس وعطية الروح القدس.</p>
<p>لأنه لا يمكن للإنسان أن يدعو الله أبًا ما لم يكن قد اعتاد على نوال هذه البركات. لهذا يضاعف فيهم إيقاظ الروح والإحساس بكرامته التي يدعو إليها من جهة، ولعظم المنافع التي يتمتعون بها من جهة أخرى.</p>
<p>لكنه حين يقول &#8220;<strong>في السماوات</strong>&#8221; لا يقول ذلك وكأنه يغلق على الله هناك، بل ليرفع من يصلي من مستوى الأرض إلى فوق، ليثبته في الأعالي وفي المساكن العلوية. وحتى يعلمنا أكثر من ذلك، ليجعل صلاتنا عامة نيابة عن إخوتنا أيضًا. لأنه لم يقل: &#8220;أبي الذي في السماوات&#8221; بل &#8220;<strong>أبانا</strong>&#8221; رافعاً توسلاته نيابة عن الجميع، غير مهتم بطلباته هو فقط، بل بخير جاره في كل مكان. وبهذا ينتزع الكراهية على الفور ويستأصل الكبرياء ويطرح الحسد بعيدًا عنه؛ إذ يستحضر أم كل الفضائل -أعني المحبة- ويقضي على الفوارق بين الناس. مظهرًا كيف يتساوى الملك والفقير، على الأقل في الأمور الأعظم التي لا غنى عنها، والتي تخصنا كلنا. لأنه أيّ ضرر يلحق بنا من أقربائنا السفلين (الذين علي الأرض). إن تساوينا معًا في الأعالي وترابطنا سويا، حيث لا أحد يملك أكثر من غيره، ولا الغني أفضل من الفقير، ولا السيد أفضل من الخادم، ولا الحاكم أفضل من الرعية، ولا الملك أكرم من الجندي البسيط. ولا الفيلسوف أشرف من البربري. ولا الماهر متميز عن الجاهل، لأن الله أعطى الجميع نفس السمو الواحد، إذ تنازل ليدعوه الجميع &#8220;<strong>أبانا</strong>&#8220;.</p>
<p><strong>ليَتَقَدَّسِ اسمُكَ</strong></p>
<p>لذلك حينما يذكِّرنا بهذا الشرف وبالعطية التي من فوق، وبمساواتنا لإخوتنا وبالمحبة، وحينما أبعدنا عن الأرض ورفعنا وأقامنا في السماء، فلنر ما الذي يوصي به لنفعل به. وليكون ما يأمرنا به في المقام الأول كافيًا ليرشدنا إلى كل الصالحات.</p>
<p>لأن من يدعو الله &#8220;<strong>أباه</strong>&#8221; وأبًا للكل تتوفر لديه دالة الحديث معه. وليس كمن يظهر غير مستحق لهذا الشرف. وأن يبدي اجتهادًا ملحوظًا يتناسب مع العطية التي أخذها، ومع ذلك فالرب لا يكتفي بهذا، بل يضيف أيضًا عبارة أخرى: &#8220;<strong>ليتقدس اسمك&#8221;.</strong></p>
<p>فجدير بمن يدعو الله أبًا أن يصلي لا ليطب شيئًا وهو في حضرة مجد أبيه، بل أن يحسب كل الأشياء ثانوية بالنسبة لتسبيحه. لأن كلمة &#8220;<strong>يتقدس</strong>&#8221; تعني &#8220;يتمجد&#8221; لأن مجد الله الشخصي مجد كامل، ويدوم إلى الأبد هكذا. لكنه يأمر من يصلي إليه أن يطلب منه أن يتمجد أيضًا بحياتنا. ونفس الأمر قاله قبلاً:</p>
<p>&#8221; فليُضِئْ نورُكُمْ هكذا قُدّامَ الناسِ، لكَيْ يَرَوْا أعمالكُمُ الحَسَنَةَ، ويُمَجِّدوا أباكُمُ الذي في السماواتِ.&#8221; (مت 5: 16). أجل، والسيرافيم أيضًا يمجدونه قائلين &#8220;قدوس قدوس قدوس&#8221; (إش 6: 3 رؤ 4: 8)، وكلمة &#8220;<strong>يتقدس</strong>&#8221; تعني &#8220;يتمجد&#8221; كما قلنا، أيّ &#8220;يمنح ويهب&#8221; كما يقول: &#8220;حتى نحيا هكذا بكل طهارة ومن خلالنا يمجدك الكل&#8221;. وهو نفس الأمر الذي يتعلق بضبط النفس، لنقدم للكل حياة بلا لوم، حتى أن كل من يراها يسبح الرب بالتسبيح اللائق به.</p>
<p><strong>ليأتِ ملكوتُكَ</strong></p>
<p>&#8220;<strong>ليأتِ ملكوتُكَ.</strong>&#8221; (مت6: 10). هذه أيضًا لغة ابن مستقيم الرأي، لا تأسره أمور الزمان الحاضر المنظورة، ولا يحسب الأشياء المنظورة أعظم، بل يسرع إلى أبينا الآب، مشتاقًا إلى الأمور العتيدة. وينبع هذا من ضمير صالح، وتتحرر النفس من الأرضيات، وهذا ما كان يشتاق إليه كل يوم. ولهذا قال: &#8220;نَحنُ الذينَ لنا باكورَةُ الرّوحِ، نَحنُ أنفُسُنا أيضًا نَئنُّ في أنفُسِنا، مُتَوَقِّعينَ التَّبَنِّيَ فِداءَ أجسادِنا.&#8221; (رو 8: 23).</p>
<p><strong>لتكُنْ مَشيئَتُكَ كما في السماءِ كذلكَ علَى الأرضِ</strong></p>
<p>مثل هذا الإنسان الذي له هذا الإشتياق، لا ينتفخ بأمور العالم الحاضر ولا تغلبه أحزانه، بل كمن يعيش في السماوات ذاتها، يتحرر من كل اضطراب &#8220;<strong>لتكُنْ مَشيئَتُكَ كما في السماءِ كذلكَ علَى الأرضِ</strong>&#8221; (مت6: 10).</p>
<p>تأملوا تسلسل الأفكار السامية للغاية، إذ يأمرنا أن نشتاق إلى الأمور العتيدة، مسرعين إلى هذه الإقامة. وإلى أن يتم ذلك، وبينما نحن مستقرون هنا، نجتهد بالأكثر أن نسلك في نفس السيرة عينها التي يحياها السمائيون. إذ يقول الرب: عليك أن تشتاق إلى السماء، وأمورها حتى قبل أن تصل إلى السماء. وإذ أمرنا أن نُصيِّر الأرض سماءً، وأن نقول وأن نفعل كل شيء حتى ونحن مستمرون هنا &#8211; وكأن لنا سيرة هناك &#8211; مثلما يصبح الآخرون أيضًا موضوع صلاتنا للرب.</p>
<p>ما من شيء يعوق بلوغنا أن القوات العلوية ونحن مستوطنون في الأرض. ونحن مقيمون هنا، من الممكن أن نفعل كل شيء وكأننا مقيمون في الأعالي. وكأن الرب يقول: كل الأشياء تتم دون أية إعاقة، كما لا يكون الملائكة طائعين جزئيًا أو عصاة جزئيًا، بل في كل شيء يخضعون ويطيعون، لأن الكتاب يقول:  &#8220;ملائكته المقتدرون قوة، الفاعلون أمره&#8221; (قارن مز 103 : 20 ). هكذا يا رب أعطنا نحن البشر ألا نصنع مشيئتك جزئيًا، بل أن نصنع كل شيء كمشيئتك.</p>
<p>أرأيتم كيف يعلمنا أيضًا أن نكون متواضعين، موضحًا أن الفضيلة ليست من جرّاء سعينا نحن، بل أيضًا بفضل النعمة التي من فوق. وقد أمر كل واحد من الذين يصلّون أن يأخذ على عاتقه مسئولية العالم كله. لأنه لم يقل أبدًا &#8220;<strong>لتكن مشيئتك</strong>&#8221; فيَّ أو فينا، بل في كل مكان على الأرض. بحيث يزول الضلال، ويزرع الحق، ويستأصل الشر من جذوره، وتعود الفضيلة. فلا يصير هناك فرق بين السماء والأرض، حتى وإن كان هناك فاصل بينهما في الطبيعة. فإن الأرض تعرض لنا طغمة أخرى من الملائكة.</p>
<p><strong>خُبزَنا كفافَنا أعطِنا اليومَ</strong></p>
<p>&#8220;<strong>خُبزَنا كفافَنا أعطِنا اليومَ</strong>.&#8221; (مت6: 11). ما هو خبزنا كفافنا أو خبزنا اليومي أو خبزنا يومًا فيومًا؟ أيّ خبز يكفينا يومًا واحدًا. لأنه إذ قال: &#8220;<strong> لتكُنْ مَشيئَتُكَ كما في السماءِ كذلكَ علَى الأرضِ</strong>&#8220;، لكنه إذ كان يخاطب بشرًا جسدانين خاضعين لضروريات الطبيعة الجسدية، وعاجزين عن التمثل بالملائكة في إدراك عدم التألم (الهوى) والشهوات. وهو يضع الوصايا لننفذها نحن أيضًا، مثلما ينفذونها هم أيضًا. يعرف ضعف طبيعتنا، فيُعلِّمنا أن نصلي لأجل حاجات الجسد. وكأنه يقول: أنا أطالبكم بأمر عظيم، هو كمال السلوك، لكن لا يخلو هذا الأمر من الأهواء والشهوات الطبيعية، والتي يفرضها سلطان الطبيعة الجسدانية؛ إذ تحتاجون إلى الطعام الضروري.</p>
<p>لكن تأملوا، أنه حتى في الأمور الجسدية، فإن الروحانيات هي الأبقى. لم يأمرنا السيد لأجل وفرة الثروات ولا الحياة المرفهة الناعمة، ولا الثياب الغالية الثمن، ولا لأجل أيّ شيء آخر مشابه، بل لأجل الخبز وحده، قد أمرنا بالصلاة. لأجل &#8220;خبزنا اليومي&#8221; أيّ الخبز الذي يكفينا يومًا واحدًا.</p>
<p>ولم يكتف بهذا التعبير، بل أضاف شيئًا آخر قائلاً: &#8220;<strong>أعطِنا اليوم</strong>&#8220;. حتى لا نرهق أنفسنا بالإهتمام باليوم التالي الذي يلي &#8220;هذا اليوم&#8221;، لأن هذا &#8220;<strong>اليوم</strong>&#8221; لا نعلم ما يليه من زمن، ولا نعرف ما الذي فيه، فلماذا نخضع لهمومه؟ وإذ يستمر في الصلاة يقول بصورة أكمل: &#8220;لا تفكروا (لا تهتموا) في الغد&#8221;، لأنه يريدنا أن نكون غير مثقلين على الدوام ولا أصحاب أجنحة نطير بها، بل أن نحصل فقط على ما تحتاجه الطبيعة الجسدية من ضروريات لازمة.</p>
<p><strong>أغفِرْ لَنا ذُنوبَنا كما نَغفِرُ نَحنُ أيضًا للمُذنِبينَ إلَينا</strong></p>
<p>وفيم يختص بما قد يحدث، حين نخطئ بعد أن اغتسلنا للتجديد، يُظهر محبته للإنسان ليصير عظيمًا، حتى وهو في حال الخطية. فيأمرنا أن نصلي لله لأجل غفران خطايانا لأنه محب للبشر، لهذا يقول: &#8220;واغفِرْ لَنا ذُنوبَنا كما نَغفِرُ نَحنُ أيضًا للمُذنِبينَ إلَينا&#8221; (مت 6: 12)</p>
<p>هل تدركون مقدار رحمته الفائقة لكل الحدود. فبعد أن اِنتزع شرور هذا مقدارها، وبعد أن عظَّم عطاياه التي لا يُنطق بها. فإن الناس إن أخطأوا مرة أخرى، يحسبهم مستحقين للغفران، وهذه الصلاة خاصة بالمؤمنين.</p>
<p>وهذا ما نراه في كل من قوانين الكنيسة، ومن بداية الصلاة (أي الصلاة الربانية). لأن غير المُعَمَّدين لا يستطيعون أن ينادوا الله بلقب &#8220;أبانا&#8221;.</p>
<p>فإن كانت الصلاة تخص المؤمنين وهم يصلّون متضرعين أن يغفر الله لهم خطاياهم، فمن الواضح أنه حتى بعد غسل المعمودية &#8220;الروحي&#8221; تبقى حاجتنا الشديدة إلى انتفاعنا بالتوبة. لأنه لو لم يكن يعني ذلك، لما وضع قانونًا للصلاة التي يجب أن نصليها. ويأمرنا بتذكر خطايانا، ويطالبنا أن نسأله الغفران، ويعلمنا كيف علينا أن ننال الصفح ليسهل علينا الطريق.</p>
<p>من الواضح تمامًا أنه قد وضع هذه القاعدة للتضرع، وهو يعلم ويؤكد أنه من الممكن حتى بعد جرن المعمودية، أن نغسل أنفسنا من ذنوبنا بتذكرنا لخطايانا. أنه يحثنا أن نكون متواضعين، بأمره لنا أن نغفر خطايا الآخرين، ليحررنا من كل شهوة للإنتقام. ويعدنا في المقابل أن يغفر هو لنا نحن أيضًا خطايانا. واضعًا أمامنا هذا الرجاء الصالح، وليعلمنا أن تكون آراؤنا سامية حيال رحمة الله الواسعة التي لا يُنطق بها من نحو الإنسان.</p>
<p>لكن أكثر ما يجب علينا ملاحظته هو أن الرب في كل عبارة كان يذكر الفضيلة بأكملها، وبهذه الطريقة يذكر الصفح عن الأخطاء؛ لأن عبارة &#8220;<strong>ليتقدس اسمك</strong>&#8221; هي إتمام سيرة كاملة، وعبارة &#8220;<strong>لتكن مشيئتك</strong>&#8221; تؤكد نفس الأمر أيضًا. وحال كوننا نقدر أن ندعو الله أبانا، فإنها تليق بحياة بلا لوم، وفي كل هذه الأمور المدركة هناك أيضًا واجب غفران خطايا الآخرين، وحجب غضبنا عن الذين أذنبوا في حقنا.</p>
<p>يتوقف الحكم عليكم أنتم وحتى الآن لا يزال يريد منا المزيد، وحتى يشير إلى مدى جدية الأمر، يذكره بوجه خاص هنا &#8211; وبعد الصلاة &#8211; لا يذكر وصية أخرى سوى تلك قائلاً: &#8220;فإنَّهُ إنْ غَفَرتُمْ للنّاسِ زَلاَّتِهِمْ، يَغفِرْ لكُمْ أيضًا أبوكُمُ السماويُّ.&#8221; (مت6: 14)</p>
<p>إذن نحن الذين نملك مسار الدينونة التي نجلبها على أنفسنا. لأنه حتى لا يشتكي أحد من بين الذين لا مشاعر لهم، مهما كانت شكواه عظيمة أو قليلة، إذا ما وقف يوم الدينونة ليشكو ضدكم أنتم الذين ستعطون حسابًا، فقد جعل الرب الحكم يتوقف عليكم أنتم، بقوله: مهما حكمتم على أنفسكم، فإنه بنفس القدر إن غفرتم للناس سوف تنالون نفس الغفران مني، حتى وإن لم تكن هناك مساواة بينكم، لأنكم تغفرون لحاجة لديكم، لكن الله لا يغفر لاحتياجه لأحد. أنتم تغفرون لبشر مثلكم، أما الله فيغفر لعبيده. أنتم معرضون لاتهامات بلا حصر، أما الله فهو بلا خطيئة. ولكن حتى والحال هكذا، يُظهر الله رأفات محبته للإنسان. لكن الله حتى وإن لم تغفروا للناس، فهو قادر أن يغفر لكم كل خطاياكم، لكنه يريد لكم النفع، معطيًا لكم في كل وقت فرصًا بغير حصر توفر لكم رأفته ومحبته، ليطرح عنكم كل مشاعر وحشية، فيطفئ فيكم الغضب، ويثبتكم فيه كأعضائه الأخصاء، وذلك بكل السبل.</p>
<p>لأنه ما قولك، هل احتملت بعض الضيق من جارك؟ (لأن تلك فقط هي التعديات، فالفعل إن تم بعدلٍ ليس تعديًا). لكنكم أنتم أيضًا تقتربون من نوال الغفران بسبب هذه الأمور ولأجل أمور أخرى أعظم. وحتى قبل نوال الغفران، قد نلتم عطية كبيرة، إذ تعلمتم أن تكون لكم نفس بشرية، وتدربتم على كل أعمال اللطف. وهنا أيضًا يوجد أجر عظيم معد لكم، أن لا يحسب الله لكم أخطاءكم. فأيّ عقاب لا نستحقه أننا بعد أن نلنا هذه الميزة نخون خلاصنا؟ وكيف نزعم أن طلباتنا مسموعة لدى الله، في أمور تعتمد علينا. ونحن لا نحافظ على نفوسنا؟.</p>
<p><strong>ولا تُدخِلنا في تجرِبَةٍ، لكن نَجِّنا مِنَ الشِّرِّيرِ</strong></p>
<p>&#8220;ولا تُدخِلنا في تجرِبَةٍ، لكن نَجِّنا مِنَ الشِّرِّيرِ. لأنَّ لكَ المُلكَ، والقوَّةَ، والمَجدَ، إلَى الأبدِ. آمينَ.&#8221; (مت6: 13). هنا يعلمنا الرب بكل وضوح مدى تفاهتنا ويقمع كبرياءنا، ويرشدنا أن نستنكر كل صراعاتنا وننبذها بدلاً من اندفاعنا إليها. لأنه هكذا تصير نصرتنا أكثر مجدًا.</p>
<p>وتزداد هزائم الشيطان. أعني، أنه ينبغي أن نصمد في سمو إذا ما تم سحبنا أو جرنا. وإذا لم يستدعنا أحد أن نبقى في هدوء وسكينة منتظرين قدوم الصراع، فإن أتى، نُظِهر للناس تحررنا من المجد الباطل وتمتعنا بسمو الروح.</p>
<p>هنا يدعو (الرب) الشيطان &#8220;بالشرير&#8221; فيأمرنا أن نشن عليه حربًا بلا هوادة. قائلاً لنا ضمنا أن الشيطان لم يكن هكذا بالطبيعة، لأن الشر ليس من الأمور الطبيعية، بل هو من صنعنا نحن وباختيارنا، وقد دُعي الشيطان هكذا، باعتباره متميزًا في الشر بطريقة مبالغ فيها جدآ، ولأننا إذا قاومناه أو ألحقنا به ضررًا، شنَّ علينا حربًا ضروسًا. لهذا لم يقل الرب: &#8220;نجنا من الأشرار&#8221; بل &#8220;<strong>من الشرير</strong>&#8220;، معلمًا إيانا ألا نثير المتاعب مع جيراننا، لأنه مهما عانينا من قلاقل على أيديهم، علينا أن نوجه عداوتنا للشيطان وحده، فهو أصل كل آثامنا. وإذ يجعلنا مترقبين متحفزين لما قبل الصراع بأن يركز فكرنا في العدو الحقيقي، مستأصلين من داخلنا كل تراخٍ، يعود فيشجعنا ويرفع من أرواحنا، بأن يذكِّرنا بالملك الذي يرأس صفوفنا، فيصفه أنه أقوى من الجميع، إذ يقول: &#8220;<strong>لأ</strong><strong>ن لك الملك والقوة والمجد</strong>.&#8221;</p>
<p><strong>لكَ المُلكَ، والقوَّةَ، والمَجدَ</strong></p>
<p>ونفهم من ذلك، أن الله هو صاحب المُلك (الملكوت). وأننا يجب ألا نخشى أحدًا، لأنه لا يقوى أحد أن يقاوم أو يقسِّم المملكة معه. لأنه حين يقول: &#8220;<strong>لك الملك</strong>&#8221; يضع أمامنا من يثير الحرب علينا، ليخضعه لنا. حتى وإن بدا معارضًا لنا. فإن الله يسمح بذلك الي حين. لأن الشيطان أيضًا من عبيد الله رغم أنه من رتبة متجردة، ومن المذنبين بالمعصية، ولا يجرؤ أن يقاوم أيًا من العبيد رفقائه، إن لم يسمح له الله من فوق. ولماذا أقول &#8220;العبيد رفقاؤه&#8221; فهو لا يثير هياجه مثلاً ضد الخنازير، إن لم يسمح الرب له (قارن لو 8: 32). ولا ضد قطعان الماشية ولا الأغنام، حتى يأخذ السماح من فوق (أي 1: 12).</p>
<p>ويقول: &#8220;<strong>ولك القوة</strong>&#8221; مهما كانت ضعفاتك ومهما كثرت، عليك أن تثق تمامًا أن لك واحدًا يحكمك قادرًا أن يفعل كل شيء وبمنتهى اليسر لأجلك.</p>
<p>&#8220;<strong>لك المجد إلى الأبد. آمين</strong>&#8221; . هكذا فإنه لا يحررك من الأخطار المحدقة بك فقط، بل يقدر أن يمجدك أيضًا ويجعلك مكرمًا. لأنه مثلما أن قوته عظيمة، هكذا أيضًا مجده لا يُنطق به وبلا حدود، ولا نهاية. هل ترون كيف أنه يكلل بطله بكل السبل ويعده ليمتلئ ثقة.</p>
<h4>ليأت ملكوتك &#8211; عند العلامة أوريجانوس<a href="#_ftn3" name="_ftnref3"><sup>[3]</sup></a></h4>
<p><strong>ليأت ملكوتك:</strong></p>
<p>&#8220;إن ملكوتُ اللهِ -طبقا لكلمات الهنا ومخلصنا- لا يأتي بمُراقَبَةٍ ولا ينبغي للبشر أن يقولوا ها هو هنا أو هناك لأنْ ملكوتُ اللهِ في داخِلنا&#8221; (لو17: 20)</p>
<p>&#8220;لأن الكلمة قريبة منا في فمنا وفِي قلبنا&#8221; (تث30: 14، رو10: 8). من هذا يتضح أن من يصلي لكي يأتي ملكوت الله، إنما يصلي بحق لكي يُقَام في داخله ملكوت الله (مت13: 23، مر4: 20، لو8: 15) ويكمل ويأتي بالثمار المطلوبة .فكل قديس يخضع لسلطان الله كملك ، ويخضع لقوانين هذا الملكوت الروحية. وبذلك يحل فيه الله وكأنه يسكن في مدينة منظمة. والآب لا يغيب عن هذا الملكوت، وليس بعيداً عن الملك المسيح بل هو حاضر معه، ويملك المسيح مع الآب في هذه النَّفس التي تكمل طاعتها، طبقاً لكلمات الرب التي سبق أن ذكرناها منذ قليل: اليه نأتي وعنده نصنع منزلاً (يو14: 23).</p>
<p>ولهذا أعتقد أن المقصود بملكوت الله هو سيادة العقل والمشورة الصَّالحة، كما يقصد بملكوت المسيح كلمات النعمة القادرة أن تخلص السامعين وأعمال البر والفضائل الأخرى التي يمارسها الصديقون. لأن ابن الله هو الكلمة والبر والحق (يو1:1؛ 1: 14، 1كو1: 30). ومن الناحية العكسية، فإن الخاطيء يخضع تحت نير عبودية رئيس هذا العالم (يو12: 3، 14: 30، 16: 11) لأن الخاطيء عبد لهذا العالم الحاضر الشرير ما لم يقدم ذاته لذلك الذي بذل نفسه لأجل خطايانا لينقذنا من هذا العالم الحاضر الشرير ويخلصنا حسب ارادة الله وأبينا (غل1: 6) كما يعلمنا بولس الرسول في رسالته الي أهل غلاطية. والشخص الخاضع لعبودية رئيس هذا العالم، يقع أيضاً تحت سلطان الخطية لأنه يخطيء بإرادته ، ولهذا يوصينا معلمنا بولس ألا نخضع للخطيَّة التي قد تسودنا فيقول لنا: &#8220;لا تملكن الخطية في جسدكم المائت لكي تطيعوها في شهواته&#8221; (رو6: 12).</p>
<p>وبالنسبة لهاتين الطلبتين: 1- ليتقدس اسمك -2- ليأت ملكوتك، قد يقول قائل: اذا كان الانسان يصلي لكي تستجاب صلاته كما يحدث ذلك بالفعل في بعض الأحيان، فلابد أن هناك من الناس من تُجاب صلاته فيتقدس من أجله اسم الله ويأتي من أجله ملكوته ثم يستطرد هذا المجادل قوله فاذا تحققت هذه الطلبات لأجله فكيف يسوغ له بعد ذلك أن يواصل صلاته عما تم وأنجز فعلاً، ويطلب هذه الطلبات وكأن هذه الامور لم تكن أو لم تتحقق بالفعل؟ أما يجب عليه في هذه الحال أن يتوقف عن الصلاة ويمتنع عن طلبه &#8220;ليتقدس أسمك، ليأت ملكوتك&#8221; .</p>
<p>ورداً علي هذا الاعتراض نقول أن المصلي من أجل كلمة المعرفة وكلمة الحكمة (1كو12: 8)، لا بد له أن يداوم على الصلاة من اجلهما بجدارة، لأنه بالاستجابة سينال علي الدَّوام رؤية أعظم وأدراكاً أعمق للمعرفة والحكمة. ومهما وصل في درجات المعرفة والحكمة، يعلم أن ما بلغه من هذا العلم إنما هو معرفة جزئية فقط وأن هذا هو ما يمكن أن يناله في الوقت الحاضر، أما الأمور الكاملة التي نستغني بها عما هو جزئي فلا تنكشف لنا إلا عندما يتأمل العقل الأمور الروحية وجها لوجه (1كو13: 9- 12) دون الاستعانة بشيء من الحواس. ولهذا فالوصول إلى الكمال في تقديسنا لإسم الله وفِي مجيء ملكوته ليس من الأمور الممكنة ما لم نبلغ كمال المعرفة والحكمة وربما بقية الفضائل أيضاً. ولأجل ذلك نجاهد ونسعى نحو الكمال وعندما ننسي ما هو وراء ونمتد الي ما هو قدام (في3: 13) يثبت ملكوت الله فينا تماماً. عندما نواصل الجهاد ونتقدم في القامة تتحقق فينا كلمة الرسول عن المسيح عندما يخضع له جميع الأعداء يسلم الملك لله الآب حتي يكون الله الكل في الكل (1كو15: 24- 28). ولهذا نصلي بلا انقطاع (1تس5: 17) بقلوب تقدست بكلمة الله ونطلب الى أبينا الذي في السموات: ليتقدس اسمك، ليأت ملكوتك.</p>
<p>وأكثر من هذا فيما يختص بملكوت الله، فلا بد أن نأخذ في اعتبارنا أمراً هاماً. فكما أنه لا توجد شركة بين البر والاثم (2كو6: 14) ولا رفقة بين النور والظلمة، ولا اتفاق بين المسيح وبليعال، فكذلك أيضاً لا يمكن أن تقوم مصالحة بين مملكة الخطية ومملكة الله، واذا كنّا نريد أن نخضع تحت سلطان الله، فلا يجب أن تملُك الخطية في جسدنا المائت (رو6: 12) ولا يجب أن ننساق وراء حوافز الشر والخطية حين تدعو أرواحنا الى أعمال الجسد (غل5: 19) وغيرها من الأفعال التي لا نصيب لله فيها، ولكن علينا بالحري أن نميت أعضاءنا التي على الأرض (كو3: 5) لكي نأتي بثمر الروح (يو15: 8؛ 16، غل5: 22) حتي يمشي الله فينا كما في فردوس روحي (تك3: 8، 2كو6: 16) ويسود ملكاً علينا مع مسيحه الذي يجلس فينا عن يمين القوة الروحية (مت26: 64، مر14: 62، لو22: 69) التي نصلي من أجل الحصول عليها. وإذ يملك الرب علينا يجعل جميع أعدائه فينا موطئاً لقدميه (مز109: 1، إش66: 1، مر12: 36، لو20: 43، عب10: 13، أع7: 49) ويقضي على كل رياسة وكل سلطان وكل قوة في داخلنا (1كو15: 24).</p>
<p>كل هذا يمكن أن يحدث لكل منا ويستمر فينا هذا الصراع إلى أن يبطل العدو الأخير أي الموت (1كو15: 26) ويقول المسيح فينا: أين شوكتك يا موت، أين غلبتك يا هاوية (هنا ادماج للآيتين في هو13: 14، 1كو15: 55). وبهذا يلبس جسدنا الفاسد قداسة لأن الرب الذي بلا خطية قد ألبسه عفة ونقاوة، وهذا المائت -اذ يغلب الموت &#8211; فلابد أن يلبس خلود الآب (1كو15: 53 وما بعدها) وهكذا يملك الله فينا فنتمتع ببركات التجديد والقيامة (مت19: 28).</p>
<h5></h5>
<h4>مثل صديق نصف الليل &#8211; للقديس كيرلس الكبير<a href="#_ftn4" name="_ftnref4">[4]</a></h4>
<p>(لو11: 5- 10): &#8220;ثُمَّ قالَ لهُمْ:&#8221;مَنْ مِنكُمْ يكونُ لهُ صَديقٌ، ويَمضي إليهِ نِصفَ اللَّيلِ، ويقولُ لهُ ياصَديقُ، أقرِضني ثَلاثَةَ أرغِفَةٍ، لأنَّ صَديقًا لي جاءَني مِنْ سفَرٍ، وليس لي ما أُقَدِّمُ لهُ. فيُجيبَ ذلكَ مِنْ داخِلٍ ويقولَ: لا تُزعِجني! البابُ مُغلَقٌ الآنَ، وأولادي مَعي في الفِراشِ. لا أقدِرُ أنْ أقومَ وأُعطيَكَ. أقولُ لكُمْ: وإنْ كانَ لا يَقومُ ويُعطيهِ لكَوْنِهِ صَديقَهُ، فإنَّهُ مِنْ أجلِ لَجاجَتِهِ يَقومُ ويُعطيهِ قَدرَ ما يَحتاجُ. وأنا أقولُ لكُمُ: اسألوا تُعطَوْا، اُطلُبوا تجِدوا، اِقرَعوا يُفتَحْ لكُمْ. لأنَّ كُلَّ مَنْ يَسألُ يأخُذُ، ومَنْ يَطلُبُ يَجِدُ، ومَنْ يَقرَعُ يُفتَحُ لهُ.&#8221;</p>
<p>إن لغه الكتاب الألهية الموحى بها دائماً عميقة، فلا ينكشف معناها لمن عندهم مجرد رغبة فقط أن يفهموها، بل لأولئك الذين يعرفون أن يفحصوا أغوارها جيداً ، وقد اغتنوا بالنور الإلهى في ذهنهم ، ذالك النور الذى بواسطتة يبلغون الى معنى الحقائق الخفية. لذلك فليتنا نطلب الفهم الذى يأتي من فوق، من الله مع استنارة الروح القدس، حتى نبلغ الى منهج سليم لا يخطئ. وبهذا المنهج يمكننا أن نرى الحق الذى تحويه الفقرة التي أمامنا.</p>
<p>قد سمعنا ما قاله المخلِّص في المثل الذى قرئ علينا ، الذى لو فهمناه جيدًا فسنجده محملاً بالفوائد! إن تسلسل الأفكار فيه عجيب جداً، لأن مخلِّص الكل قد علَّمنا بناء عل طلب الرسل القديسين – ما هي الطريقة التي ينبغي أن نصلى بها ولكن قد يحدث لأولئك الذين تعلموا منه هذا الدرس الخلاصى الثمين، أن يقدموا صلواتهم أحياناً بحسب النمط الذى أُعطي لهم، ولكنهم يفعلون ذلك بملل وكسل. وهكذا حينما لا يُستجاب لهم بعد صلاتهم للمرة الأولى أو الثانية، فأنهم يكفُّون عن تقديم التوسلات وكأنها لا تجديهم نفعاً، ولذلك فلكي لا يحدث معنا هذا ولكي لا نعاني من الأذى الناتج عن صغر العقل هذا، فإنه يُعلِّمنا أن نواصل ممارسة الصلاة باجتهاد.</p>
<p>وبواسطة المثل يبين لنا بوضوح أن الملل في الصلاة هو خسارة لنا. بينما الصبر في الصلاة هو نفع عظيم لنا، لأنه من واجبنا أن نثابر دون أن نستسلم للتراخي. وهذا يُعلِّمنا إياه بقوله: &#8220;إن كان لا يقوم ويعطيه لكونه صديقه فإنه من أجل لجاجته يقوم ويعطيه قدر ما يحتاج&#8221;.</p>
<p>والآن فلننتقل إلى الحق الذى أعلنه في صورة مثل: كن لجوجاً في الصلاة، أقترب من الله المحب الشفوق، واستمر في ذلك على الدوام، وإذا رأيت أن عطية النعمة قد تأخرت، فلا تستسلم للضجر، ولا تيأس من جهة نوال البركة المتوقعة، لا تتخلى عن الرجاء الموضوع أمامك، ولا تقل في داخلك بغباء: إننى قد تقربت مرَّات من الله، ولم أحصل على أى شيء مطلقاً، لقد بكيت ولم أنل شيئاً، لقد تضرعت ولم أُستَجَب، طلبت لأجل كل شيء ولم يتحقق شيء.</p>
<p>بل فكر بالحرى في داخلك هكذا: إن ذلك الذى هو الخزانة الجامعة لكل صلاح، يعرف حالنا أكثر مما نعرف نحن، ويعطي كل إنسان قدر ما يحق له وما يناسبه.</p>
<p>فأحياناً أنت تطلب ما يعلو قامتك وتريد أن تحصل على تلك الأشياء التي لا تستحقها بعد. أما الواهب نفسه فيعلم الوقت المناسب لمنح هباته.</p>
<p>إن الآباء الأرضيين لا يحققون لأولادهم رغباتهم في الحال، ولا يعطونهم إياها بدون تمييز، ولكنهم يبطئون غالباً رغم الإلحاح عليهم، وهذا ليس بسبب شح أيديهم ولا لأنهم لا يعتبرون ما هو الذى يُسِر سائليهم، بل لأنهم يعتبرون ما هو نافع وضروري لأجل سلوكهم الحسن.</p>
<p>فكيف إذن لذلك المعطى الغنى والسخي، أن يهمل الإنجاز الواجب للناس، الذين يُصَلّون لأجله، إلا إذا كان – طبعاً وبدون شك &#8211; يعلَّم أنه لن يكون نافعاً لهم أن ينالوا ما يسألونه؟ لذلك فينبغى أن نقدم صلواتنا لله، عن معرفة، وبمواظبة، وحتى إذا كان هناك بعض الإبطاء في الإستجابة، فاستمر بصبر مثل جامعي الكَرْم، وتأكد أن ما نحصل عليه بدون عناء، ونربحه بسهولة فهو عاداً يكون محتقراً، أما ما نحصل عليه بكدٍ فهو يهبنا سعادة أكبر ويكون مِلكاً ثابتاً لنا .</p>
<p>ولكنك ربما تقول: إننى أتقدم إلى الله كثيرًا متوسلاً ولكن بدون نتيجة، أنا غير متكاسل في التضرعات، بل مثابر ولحوح جداً، فمن الذى يضمن لي أننى سأنال ما أطلب؟ من الذى يضمن لى أن تعبى لن يكون باطلاً؟.</p>
<p>&#8220;وأنا أقولُ لكُمُ&#8221; هكذا يتكلم معطى المواهب الإلهية نفسه ليك قائلاً: &#8220;وأنا أقولُ لكُمُ: اسألوا تُعطَوْا، اُطلُبوا تجِدوا، اِقرَعوا يُفتَحْ لكُمْ. لأنَّ كُلَّ مَنْ يَسألُ يأخُذُ، ومَنْ يَطلُبُ يَجِدُ، ومَنْ يَقرَعُ يُفتَحُ لهُ&#8221; (لو11: 9).</p>
<p>وهذه الكلمات: &#8220;وأنا أقولُ لكُمُ &#8220;لها كل قوة القَسَم. ليس أن الله يكذب حينما يكون الوعد غير مصحوب بقسم. بل لكى يُوَضِّح أن ضعف إيمانهم قائم على غير أساس. وهو أحياناً يُثَبِّت سامعيه بقسم. لذلك نجد المخلِّص في مواضع كثيرة يسبق كلماته بعبارة: &#8220;الحق الحق أقول لكم&#8221;. لذلك فعندما يجعل وعده قسماً فإنه يصبح أمراً غير برئ من الإثم أن لا نصدقه.</p>
<p>لذلك فحينما يدعونا الرب أن نسأل، فهو يأمرنا ببذل الجهد لأننا بواسطة الجهد، نجد دائماً ما نحتاج إليه، خاصةً اذا كان ما نطلبه يناسبنا أن نحصل عليه. فذلك الذي يقرع، لا يقرع مرةً واحدة فقط، ولكن مرَّة ومرات يهز الباب، إما بيده أو بحجر، لدرجة أن صاحب البيت يصبح غير قادر على إحتمال ضجيج القرعات فيفتح له، حتى ولو ضد إرادته. فتعلَّم إذاً مما يحدث حولنا، الطريقة التي بها تحصل على ما هو نافع لك. إقرع وكن لجوجاً واسأل، فإنه هكذا ينبغي أن يعمل كل من يسأل أي شيء من الله. كما أن الحكيم بولس يقول: &#8220;صلوا بلا إنقطاع&#8221; (١تس ٧:٥).</p>
<p>نحن في احتياج إلى صلاة لحوحة لأن اضطرابات الأمور العالمية المحيطة بنا كثيرة جداً، لأن الحيه المتعددة الرؤوس تضايقنا كثيراً، وتورِّطنا أحياناً في صعوبات غير متوقعة، حتى تُحدرنا إلى الحضيض وإلى الخطية بأنواعها. زِد على ذلك، فهناك أيضاً ناموس الشهوة الطبيعي المختبئ في أعضائنا الجسدية، والذي يحارب ناموس ذهننا كما يقول الكتاب: (رو٢٣:٧)، وأخيراً هناك أعداء تعاليم الحق، أي عصبة الهراطقة الدنسين النجسين، الذين يقاومون من يرغبون أن يتمسكوا بالتعاليم الصحيحة.</p>
<p>لذلك فالصلاة المستمرة والجادة، هي ضرورية جداً، وكما أن الأسلحة وآلات الحرب ضرورية للجنود ليتمكنوا من قهر أعدائهم، هكذا الصلاة بالنسبة لنا، لأنه كما يقول الكتاب: أسلحتنا ليست جسدية بل قادرة بالله (٢كو٤:١٠).</p>
<p>وهذا ما ينبغي أن أضيفه أيضاً، لأنه يفيدنا في اللجوء إلى الصلاة سريعاً. فالمخلص ورب الكل تراه مرَّة ومرات يقضى الليل كله في الصلاة، عندما كان على وشك أن يجتاز آلامه الخلاصية على الصلب الثمين، نجده يحنى ركبته ويصلى قائلاً: &#8220;يا أبتاه إن أمكن فلتعبر عنى هذا الكأس&#8221; (مت٣٩:٢٦).</p>
<p>هل حدث هذا لأن الذى هو &#8220;الحياة&#8221; كان خائفاً من الموت؟ هل كان هذا لأنه لم يكن له مهرب من الشبكة، ولا خلاص من الفخ، حتى أن يد اليهود كانت أقوى من قوَّته؟ كم هو ردئ أن نفكرهكذا؟ فهو بالطبيعة الله ورب القوات، ورغم إنه كان مثلنا في الشكل؛ فقد إحتمل الآلام على الصليب لأنه هو معيننا كلنا. فهل كان يحتاج إلى الصلاة إذاً؟ ولكنه فعل هذا لكى نتعلم أن التوسل أمر لائق ومملوء بالمنافع، وأنه يجب أن نكون مداومين على الصلاة حينما تصيبنا أي تجربة وحينما تضغط علينا قوة الأعداء كموجة عنيفة.</p>
<p>ولكى نلقى ضوءاً آخر على هذا الأمر، نضيف: أن حديث الإنسان مع الله شرف عظيم للطبيعة البشرية، وهذا ما نفعله في الصلاة، إذ قد أوصانا الرب أن نخاطب الله كأب، ونقول: &#8220;يا أبانا&#8221; فإن كان أباً، فبالضرورة هو يحب أولاده ويدلِّلهم ويكرمهم، ويحسبنا أهلاً لرحمته وصفحه. فاقتربوا إذاً بإيمان مع مثابرة، واثقين أن من يسأل المسيح بلجاجة فهو يسمع له، ذلك الذى به ومعه الله الآب التسبيح والسلطان مع الروح القدس إلى دهر الدهور آمين .</p>
<p></p>
<h3>عظات آباء وخدام معاصرون :</h3>
<h4><span lang="AR-SA">كيف تصلى ؟ لقداسة البابا تواضروس</span></h4>
<div class="jb_0 X_6MGW N_6Fd5">
<div>
<div id="yiv5138450461">
<div>
<blockquote class="yiv5138450461iosymail">
<div id="yiv5138450461">
<div>
<div class="yiv5138450461gmail_quote">
<div>
<p class="yiv5138450461MsoNormal" dir="RTL"><b><span lang="AR-SA">يوم الجمعة من الأسبوع الأول لقداسة البابا تواضروس : </span></b></p>
</div>
</div>
</div>
</div>
</blockquote>
</div>
</div>
</div>
</div>
<div class="jb_0 X_6MGW N_6Fd5">
<div class="">
<div>
<div class="qtd-body">
<div id="yiv5138450461yqtfd60747" class="yiv5138450461yqt4576769460">
<p class="yiv5138450461MsoNormal" dir="RTL"><b><span lang="AR-SA">لو ( ١١ :  ١ – ١٠ ) <u></u><u></u></span></b></p>
<p class="yiv5138450461MsoNormal" dir="RTL" align="center"><b><span lang="AR-SA">كيف تصلى ؟<u></u><u></u></span></b></p>
<p class="yiv5138450461MsoNormal" dir="RTL"><span lang="AR-SA">إنجيل الجمعة الأولى في الصوم يبدأ بسؤال واضح جدا ، وهو أن تلاميذ السيد المسيح قالوا له : &#8221; علمنا أن تُصلي &#8220;، ولذلك السؤال يكون &#8221; كيف تُصلي ؟&#8221;. كثير ينظرون إلى الصلاة باعتبارها فعل روحي ، وينظرون إليها على أنها فن &#8221; فن الصلاة &#8220;، ولكننا نرى أن الصلاة هي حياة &#8221; حياة الصلاة &#8220;، وحياة الصلاة ليست حياة لوقت معين ولا في مناسبة معينة ولا في مكان معين، الصلاة حياة يعيشها الإنسان طوال حياته ، والسيد المسيح قال وصية : &#8221; ينبغي أن يصلى كل حين ولا يمل &#8221; (لو ۱۸ : ۱). وكأن الصلاة مرتبطة بالتنفس ، والصلاة هنا تعني العلاقة التي تربط بينك وبين الله ، وهذه العلاقة هي علاقة داخلية في القلب الداخلي ، وهي ليست مظهرية وليست خارجية ، ولكنها علاقة من الداخل ، فصمتك قد يكون صلاة ، وترنيمك صلاة ، وقفتك صلاة ، حتى أننا نقرأ في سفر النشيد عن عروس النشيد &#8221; أنا نائمة وقلبي مستيقظ &#8221; (نش ٥ : ٢) ، القلب المستيقظ للصلاة وكأن نبضات القلب هي تعبير عن نبضات الحب ، حب الإنسان لله ، وحب التواجد في حضرته على الدوام ، يقول داود النبي : &#8221; جعلت الرب أمامي في كل حين. لأنه عن يميني فلا أتزعزع &#8221; (مز ١٦ : ٨ )  ودائماً كلمة اليمين تعني القوة ، لقد جعلت الرب أمامي كل حين من خلال الصلاة ، وهذا ما قال عنه في مزمور آخر: &#8221; أحبك يا رب يا قوتيز&#8221; (مز ۱۸ : ۱). <u></u><u></u></span></p>
<p class="yiv5138450461MsoNormal" dir="RTL"><span lang="AR-SA">أحياناً الإنسان قد ينسى نفسه بمعرفته وعلمه وبمنصبه وهيئته، ولكن داود النبي وقف برغم أنه كان ملكاً عظيماً وقال هذا التعبير : &#8221; أحبك يا رب يا قوتي &#8220;، وقوتي ليست أموالي ولا مكاني ولا معرفتي ، بل هي أنت يا رب ، فحياة الإنسان مرتبطة بالله وهذه هي القوة.  <u></u><u></u></span></p>
<p class="yiv5138450461MsoNormal" dir="RTL"><span lang="AR-SA">لذلك الصلاة تأخذ شكلا واحداً ، مشاعرك تكون صلاة ، ودموعك صلوات ، وسجودك صلاة ، وصمتك أيضاً صلاة ، حتى أن داود النبي قال : &#8221; من الأعماق صرخت إليك يا رب&#8221; (مز . ۱۳۰ : ۱). لا أحد يسمع هذه الصرخة سوى الله ، أعماق القلب وأعماق النفس البشرية هي التي تصلي وتخاطب الله ، والله يسمع ويستجيب. ولهذا في كل قداس نسمع نداء من الأب الكاهن في صيغة سؤال : &#8221; اين هي قلوبكم ؟&#8221; فيرد الشعب ويقول : &#8221; هي عند الرب &#8220;، ليست هي على الأرض ، بل السماء ، كل إحساسك متجه نحو السماء.<u></u><u></u></span></p>
<p class="yiv5138450461MsoNormal" dir="RTL"><span lang="AR-SA">عندما طلب التلاميذ من الرب يسوع أن يعلمهم الصلاة قائلين له : &#8221; علمنا يا رب أن تصلي &#8220;، قد نتساءل هي الصلاة محتاجة تعليم ؟ هل محتاجة إرشاد ؟ هل محتاجة حكمة ؟ وبالتأكيد هي محتاجة كل هذا ، ولذلك أعطاهم السيد المسيح النموذج المثالي للصلاة وهي التي تسميها &#8221; الصلاة الربانية &#8220;، أو أحياناً نُسميها &#8221; صلاة الصلوات &#8220;، وقد وضع هذه الصلوات في عبارات قليلة ولكنها واسعة المعاني ، وصارت هذه الصلاة هي الصلاة الرسمية في المسيحية تصليها شرقاً وغرباً ، ويمكن أن تعتبر بمثابة البذرة التي نشأت منها كل صلواتنا ، فكل الصلوات الموجودة سواء الصلوات الفردية أو الجماعية أو الشخصية أو الرسمية كل هذه الصلوات نشأت من هذه البذرة &#8220;الصلاة الربانية &#8220;.<u></u><u></u></span></p>
<p class="yiv5138450461MsoNormal" dir="RTL"><span lang="AR-SA"> </span></p>
<p class="yiv5138450461MsoNormal" dir="RTL"><b><span lang="AR-SA">قصة<u></u><u></u></span></b></p>
<p class="yiv5138450461MsoNormal" dir="RTL"><span lang="AR-SA">تحكي لنا سير القديسين قصة جميلة عن أن أحد الذين كانوا يعيشون في البرية كان لا يعرف من الصلاة سوى &#8221; الصلاة الربانية &#8220;، وكان يتلوها كل يوم مرات ومرات ، ولكنه كان يصليها بمشاعره ، وكان عندما يقف يصلي كان يقول : &#8221; أبانا الذي في السموات &#8221; ثم يصمت كي يعيش هذه الكلمات ، وبتكرار هذا الأمر مرات عديدة كان عندما يقف ويقول : &#8221; أبانا الذي في السموات &#8221; يسمع صوت يقول له : &#8221; نعم يا حبيبي &#8220;، ثم يقول له : &#8221; ليتقدس اسمك بأعمالك ، لتكن مشيئتك مرتبطة بمشيئتي ، ليأت ملكوتك &#8230;&#8221;، وصارت الصلاة وكأنها حوار وليس كلمات نقولها ، هي صلاة قصيرة ولكنها عميقة في المعنى .<u></u><u></u></span></p>
<p class="yiv5138450461MsoNormal" dir="RTL"><span lang="AR-SA"> </span></p>
<p class="yiv5138450461MsoNormal" dir="RTL"><b><span lang="AR-SA">في الصلاة الربانية عشر معان متكاملة هي :<u></u><u></u></span></b></p>
<p class="yiv5138450461MsoNormal" dir="RTL"><span lang="AR-SA"> </span></p>
<p class="yiv5138450461MsoNormal" dir="RTL"><span lang="AR-SA">( ١ ) فيها روح البنوة : ( أبانا ) ومعناها إن أنا ابن لك يا رب ، شعور البنوة شعور مريح للإنسان . <u></u><u></u></span></p>
<p class="yiv5138450461MsoNormal" dir="RTL"><span lang="AR-SA">( ٢ ) فيها روح الأخوة ، إن روح الأخوة تجمعنا مع الله الواحد الأب ، ولذلك تصلي بصيغة الجمع ، وصار هو اللقب ، بعض الكنائس مثل الكنيسة الأثيوبية تنادي الأب البطريرك والأب الأسقف والأب الكاهن بكلمة &#8221; أبونا &#8221; إلى هذا اليوم. <u></u><u></u></span></p>
<p class="yiv5138450461MsoNormal" dir="RTL"><span lang="AR-SA">( ٣ ) فيها روح المهابة : أنت تقف أمام الحضرة السماوية ، فالسماء نراها بأعيننا ونقول عنها &#8221; مسكن الله الحي في كل مكان &#8220;.<u></u><u></u></span></p>
<p class="yiv5138450461MsoNormal" dir="RTL"><span lang="AR-SA">( ٤ ) فيها روح القداسة : ليتقدس اسمك يا رب في حياتي ، أحياناً في مسيرة حياة الإنسان قد ينسى اسم الله وينسى تقديس اسمه ، ولذلك نعتبر الحلفان خطية ، فأحيانا يستخدم الإنسان اسم الله بلا مصداقية. في هذه الوصية &#8221; ليتقدس اسمك يا رب &#8220;، يتقدس في كلامي ، فنجد واحداً في كلامه غامضاً ليتقدس اسمك يا رب هو صاحب الحق هو الذي يرى ويعرف أفعالك وأفكارك<u></u><u></u></span></p>
<p class="yiv5138450461MsoNormal" dir="RTL"><span lang="AR-SA">ونظرات عينيك ، هو الذي يعرف مشاعرك قبل أن تخرج.<u></u><u></u></span></p>
<p class="yiv5138450461MsoNormal" dir="RTL"><span lang="AR-SA">(٥ ) فيها روح الاستعداد : ليأت ملكوتك ، الإنسان الذي ينظر لملكوت الله أو ينتظر أن يكون له نصيب في السماء إذا انتهت حياته على الأرض فسوف يكون وجوده في السماء. وليأت ملكوتك تشير إلى الإحساس اليومي بأنك مدعو لهذا الملكوت ، فأنت مدعو لأن يكون لك حياة في السماء ونُسميها &#8221; الحياة الجديدة، أو الحياة الآخرة أو الحياة الأبدية &#8221; . <u></u><u></u></span></p>
<p class="yiv5138450461MsoNormal" dir="RTL"><span lang="AR-SA">في مثل العذارى الحكيمات والجاهلات ، كانت العذارى الحكيمات منتظرات العريس ، يقول الكتاب : &#8221; والمستعدات دخلن معه إلى العرس &#8221; (مت ٢٥ : ١٠). وهذه ليست معاني جسدية لكنها معان روحية ، وغير المستعدات يسميهن الكتاب المقدس &#8221; بالجاهلات &#8220;، وقد ذهبن للعريس بعدما مر الوقت وقرعن على الباب &#8221; يا سيد يا سيد افتح لنا &#8221; (مت ٢٥ : ١١). فسمعن صوتاً يقول لهن : &#8221; إني ما أعرفكن &#8221; (مت ٢٥ : ١٢). هؤلاء ليس لهن نصيب ، لقد أغلق الباب أمامهن ، ولذلك يا إخوتي روح الاستعداد هي : ليأت ملكوتك .<u></u><u></u></span></p>
<p class="yiv5138450461MsoNormal" dir="RTL"><span lang="AR-SA">( ٦ )  روح التسليم : لتكن مشيئتك ، الإنسان الذي يعيش حسب مشيئة الله هو الإنسان الذي يرى أن كل شيء يصنعه الله أنه خير، هناك شخص متذمر على كل شيء لا يقبل شيئاً ، دائماً معاند متمرد لا يعجبه أي شيء لا مكان ولا زمان ولا إنسان ولا أي شيء ، وهناك آخر يعيش حياة الرضا والقبول ، هذه الحياة : لتكن مشيئتك يا رب ، ولذلك القديس بولس الرسول وضعها في عبارة جميلة قائلا : &#8221; كل الأشياء تعمل معاً للخير للذين يحبون الله &#8221; (رو ٨ : ٢٨)، كل الأشياء حتى لو كانت أمامنا ظاهرة أنها ليست خيراً. روح التسليم هي من تقول وتردد قائلة : &#8221; أنا في يدك يا رب ، وأنت تقود أيام حياتي من يوم ليوم ، ومن سنة لسنة ، ومن مسئولية لمسئولية &#8220;. <u></u><u></u></span></p>
<p class="yiv5138450461MsoNormal" dir="RTL"><span lang="AR-SA">( ٧ ) روح الاتكال : &#8221; كما في السماء كذلك على الأرض &#8220;. وهذه عبارة مفصلية فقبلها ثلاثة يخصون ربنا &#8221; ليتقدس اسمك  ليأت ملكوتك  لتكن مشيئتك &#8220;، وتعني هذه العبارة أني أريد يا رب أن تكون الأرض التي خلقتها مثل السماء ، أريد أن يكون بيتي مثل السماء ، وتكون كنيستي مثل السماء ، ويكون وطني مثل السماء ، أريد أن تكون البشرية كلها مثل السماء ، وأظن أن هذا هو قمة المراد . <u></u><u></u></span></p>
<p class="yiv5138450461MsoNormal" dir="RTL"><span lang="AR-SA"> من صفات السماء أنها صافية ، لذلك أريد أن تكون الأرض صافية مثل السماء، واسعة مثل السماء، كلها سلام وفرح مثل السماء. ( ٨ )  روح القناعة : خبزنا كفافنا أعطنا اليوم ، هذه تُسمى &#8221; روح القناعة &#8221; والقناعة صورة من صور الرضا أو الشبع الداخلي ، والرضا والشبع الداخلي لا يأتي أبداً بأمور مادية ، ولكن بقدر ارتباطك ووجودك في الحضرة الإلهية بقدر شبعك ؛ لأن القلب لا يشبع بطعام أو ماديات إنما يشبع بالله فقط ، شبع الإنسان هو بالله خالقه ، لذلك الوصية تقول : &#8221; يا ابني أعطني قلبك &#8221; (أم ٢٣ : ٢٦)، فقلب الإنسان هو ملك الله فقط ، فلا يراه أحد سوى الله،  فهذا القلب هو خزانة تخص الله بكل ما فيه ، وهذا ما يجعلنا نحفظ الصلاة ونعرف فوائدها ، فالصلاة وقاية لقلبك بدلاً من أن يتشوه ، فهي تجعل قلبك نقياً دائماً وهذا ما تصليه باستمرار: &#8221; قلباً نقياً اخلق في يا الله ، وروحاً مستقيماً جدد في داخلي&#8221; (مز ٥١ : ١٠) . <u></u><u></u></span></p>
<p class="yiv5138450461MsoNormal" dir="RTL"><span lang="AR-SA">( ٩ ) روح المغفرة : &#8221; اغفر لنا ذنوبنا كما نغفر نحن أيضا للمذنبين إلينا &#8220;. الله صاحب المغفرة ولكنه أعطى للإنسان قوة المسامحة ، لكن المعادلة الرائعة تقول : &#8221; إنه على قدر ما تسامح الآخر على قدر ما تحصل على غفران الله &#8220;، لابد أن تسامح كل أحد إذا وصلت هذه الحقيقة إلى أعماقك فأنت المستفيد الأول . قد أتعجب عندما يحدث خلاف بين اثنين ، ويظل هذا الخلاف مدة طويلة ، فأنت لا تعرف هذا المعنى البسيط في &#8221; أبانا الذي في السموات &#8220;؛ لأنك عندما تسامح من أخطأ في حقك فأنت الكسبان لأنك ستحصل على المغفرة الإلهية ، يقول لنا الكتاب المقدس : &#8221; الجميع أخطأوا وأعوزهم  مجد الله &#8221; (رو ۳ : ۲۳).<u></u><u></u></span></p>
<p class="yiv5138450461MsoNormal" dir="RTL"><span lang="AR-SA">من سيرفع الخطية عني ؟! هذه هي روح المغفرة التي يسكبها الله عليك. <u></u><u></u></span></p>
<p class="yiv5138450461MsoNormal" dir="RTL"><span lang="AR-SA"> (١٠ ) روح الحرص والحذر : &#8221; لا تُدخلنا في تجربة لكن نجنا من الشرير &#8220;. نحن نعيش في عالم فيه الخير والشر، وبه ضعفات كثيرة وخطايا متنوعة ، فالإنسان عندما يقف أمام الخطايا ماذا يفعل ؟ لا بد أن ينتبه لذلك . إننا في رحاب البرية دائماً نتعلم أن الخطية يسبقها الغفلة ، والغفلة هي التي تجعل الإنسان ينسى الوصية وتحلي الخطية ، لكننا نقف أمام الله ونقول له : &#8221; لا تدخلنا في تجربة لكن نجنا من الشرير &#8220;. لذا ما دمت محصن بروح الصلاة الدائمة لا يستطيع أحد أن يؤذيك مالم توذ نفسك.<u></u><u></u></span></p>
<p class="yiv5138450461MsoNormal" dir="RTL"><span lang="AR-SA">هذه هي الصلاة الربانية وهي &#8221; صلاة الصلوات &#8220;، حيث تُقدم لنا نموذجاً لروح الصلاة ، سواء روح البنوة أو روح الأخوة أو المهابة أو القداسة أو روح الاستعداد أو روح الاتكال على الله أوالقناعة أو المغفرة أو الحرص والانتباه ، كل هذه المفاهيم تدخل في أي صلاة أنت تُقدمها.<u></u><u></u></span></p>
<p class="yiv5138450461MsoNormal" dir="RTL"><span lang="AR-SA">قد تعلم أن الصلوات متعددة في الكنيسة ، فهناك صلاة من كلمة واحدة وهي &#8221; يا رب ارحم &#8220;، وصلاة ممكن أن تكون عبارة مثل &#8221; يا رب يسوع المسيح ارحمني أنا الخاطئ &#8220;، ويأتي فعل الصلاة &#8221; اللجاجة &#8221; أي الإلحاح على الله ، لكن مشكلة الإنسان اليوم أن كل حياته صارت إلكترونية فعاش في عصر السرعة ، والحياة الروحية ليست هكذا ، فعندما تأتي لتزرع بذرة قد تحتاج شهوراً حتى تنبت ، وهناك نباتات تحتاج سنين ؛ لأن كل شيء يحتاج وقتاً . <u></u><u></u></span></p>
<p class="yiv5138450461MsoNormal" dir="RTL"><span lang="AR-SA">هذا المثل يعلمنا اللجاجة ، وهذه اللجاجة هي استمرار الطلبة أمام الله من أجل ما تُريده . قد نسمع عن &#8221; الأم مونيكا &#8221; البارة التي ظلت تصلي ٢٠ سنة بدموع من أجل ابنها أوغسطينوس ، وقد أتت الدموع بابنها وليس هذا فحسب ، بل صار القديس أوغسطينوس المعلم والفيلسوف اللاهوتي ، وصار أول من كتب اعترافاته ، والسبب هي صلوات أمه التي استمرت ٢٠ سنة ، وقس على هذا الكثير من النماذج العديدة.<u></u><u></u></span></p>
<p class="yiv5138450461MsoNormal" dir="RTL"><span lang="AR-SA">اللجاجة يا أحبائي هي أحد عناصر نجاح الصلاة ، والله عندما لا يستجيب إنما يفعل هذا لخيرك ، لذا يقول : &#8221; اسألوا تعطوا. اطلبوا تجدوا. اقرغوا يفتح لكم &#8221; (مت ۷ : ٧). لا يأتي عليك يوم وتيأس أو تشك أو تشعر أن صلواتك لا يسمعها الله، فهو يسمع كل كلمة ، فهو يسمع ما لا تسمعه أنت ، قد يسمع مشاعرك وأنين قلبك. كلمة &#8221; اسألوا &#8221; قد تكون باللسان وتصلي به صلوات عديدة، أما &#8220;اطلبوا&#8221; فتكون بلسانك ومشاعر قلبك أيضاً، أما &#8220;اقرعوا يفتح لكم&#8221; فتكون باللسان وبالمشاعر وبالإرادة الداخلية وكأنك وحدة واحدة تقف أمام الله.<u></u><u></u></span></p>
<p class="yiv5138450461MsoNormal" dir="RTL"><span lang="AR-SA"> </span></p>
</div>
</div>
<div class="qtd-body">
<div id="yiv5138450461yqtfd94689" class="yiv5138450461yqt4576769460">الخلاصة أن الله أعطانا هذه النعمة &#8220;نعمة الصلاة&#8221;، ونعمة التواجد في الحضرة الإلهية، ونعمة التمتع بالأذن التي تسمع صلواتك، لذلك روح الصلاة مرتبطة أيضاً بفترة الأصوام، صحيح أن الصوم عمل جسدي لكن الصلاة عمل روحي ، صحيح أن الصوم عمل لا يقدر عليه كل إنسان مثل الأطفال والمرضى لكن الصلاة عمل يقوم به كل إنسان مهما كان الضعف ، ومهما كانت الكلمات ، فبحسب مشاعر قلبك الله يسمع ويستجيب. الصلاة الربانية هي اللسان الحلو الذي يقدر أن يعيش به الإنسان ويستمد منه روح الصلاة وشكلها ، وحياة الصلاة في كل يوم من أيام حياتك . فليعطنا مسيحنا يا أحبائي أن تكون حياتنا كلها صلاة ، كما قال داود النبي : &#8221; أما أنا فصلاة &#8221; (مز ١٠٩ : ٤) ،  ويقول لنا الله &#8221; إني فتشت فوجدت قلب داود حسب قلبي &#8221; (أع ۱۳ : ۲۲) ليفتش الله في وسطنا ويجد القلوب التي حسب قلبه.</div>
</div>
<p></p>
<p class="yiv5138450461MsoNormal" dir="RTL"><span lang="AR-SA"> </span></p>
<p class="yiv5138450461MsoNormal" dir="RTL"><span lang="AR-SA">المرجع : كتاب إختبرني يا الله &#8211; </span>صفحة ٦٠ &#8211; قداسة البابا تواضروس الثاني</p>
</div>
</div>
</div>
<p></p>
<h4>صوماً روحانياً &#8211; للمتنيح الأنبا بيمن أسقف ملوي<a href="#_ftn5" name="_ftnref5">[5]</a></h4>
<p>عندما نتأمل في موضوع الصوم المقدس وبالأخص الصوم الأربعيني نجد أن هناك أبعاداً ثلاث يحسن أن نعالجها في اختصار.</p>
<p><strong>أولاً: البعد التاريخي</strong></p>
<p>تبدأ قصة الصوم ببداية خلقة الإنسان، فمنذ أن جعل الرب الإله آدم في الجنة وقد أعطاه وصية الصوم.</p>
<p>إذ أوصى الرب آدم قائلاً: من جميع شجر الجنة تأكل أكلا وأما شجرة معرفة الخير والشر فلا تأكل منها لأنك يوم تأكل منها موتاً تموت.</p>
<p>وإذ أراد الله أن يجعل وصايا الطاعة والتعفف والإتضاع مرتبطة صمیمیاً بالصوم، كان من المتوقع إذن أن يكون كسر وصية الصوم دلالة أكيدة على العصيان والشهوة الجامحة والذاتية المستقلة المتباعدة عن مصدر وجودها الحقيقي .</p>
<p>وكان من نتائج کسر وصية الصوم أن أضحت شهوة الجسد، وشهوة العين، وتعظم المعيشة، هي حروب العدو للإنسان والتي سماها الكتاب فيما بعد محبة العالم .</p>
<p>وبعد أن كان الأكل في الجنة متعة، ووسيطاً لتدعيم حياة الشركة بين الإنسان والله، أضحى الأكل مصدرا لمتاعب كثيرة للإنسان، منها شهوة البطن، وشهوة الحنجرة، والزنا، والدنس، والنجاسة .</p>
<p>بل وأكثر من ذلك ارتبط الأكل بالتعب، إذ يقول الكتاب: &#8220;بالتعب تأكل منها كل أيام حياتك وشوكاً وحسكاً تنبت لك وتأكل عشب الحقل، وبعرق وجهك تأكل خبزاً حتى تعود إلى الأرض التي أخذت منها&#8221; (تك ١٧:٣- ۱۹).</p>
<p>وهكذا انصبت اللعنة على الأرض بسبب سقوط أدم تاج الخليقة الأرضية .</p>
<ul>
<li>فبدلاً من التنعم في الجنة، وجد الشقاء والتعب .</li>
<li>وبدلاً من المتعة والفرح المرتبط بالأكل والطعام المعطى من يد الله في الجنة، وجد الملل والسأم والضجر من الحياة كلها، وبالأخص من قضية لقمة العيش.</li>
<li>وبدلاً من الشكر الذي هو الصدى الحقيقي لنِعَمْ الله وعطاياه السخية في الجنة، ظهر التذمر ووجدت الحروب والمنازعات بسبب الطعام والمال على كافة المستويات الفردية والعائلية والقومية والعالمية.</li>
</ul>
<p><strong>كرهت أنفسنا الطعام السخيف</strong></p>
<p>ويحمل العهد القديم بين طياته تكرار ولو بشكل مبسط لمأساة الإنسان الأول في الجنة تجاه قضية الأكل والطعام، فقد أراد الله أن يُخرج شعب إسرائيل من أرض العبودية ليقودهم بنفسه إلى كنعان، كإشارة ورمز سرى للخلاص الحقيقي الذي سيحمل مهمته ابن الله الكلمة ليعبر بنا من عبودية الخطيئة إلى حرية مجد أولاد الله.</p>
<p>وقام الرب بمهمته مع الشعب واخرجهم بيد قوية وذراع رفيعة وضرب ضرباته العشر وصنع المعجزات المذهلة لينتزع شعبه من براثن استعمار فرعون، وعندما ارتعد إسرائيل من مركبات فرعون التي تلاحقه، قال موسى للشعب: &#8220;لا تخافوا، قفوا وانظروا خلاص الرب الذي يصنعه لكم اليوم، فإنه كما رأيتم المصريين اليوم لا تعودون ترونهم أيضاً إلى الأبد، الرب يقاتل عنكم وأنتم تصمتون&#8221; (خر١٤: ١2- ١٤)</p>
<p>وخلص الرب في ذلك اليوم إسرائيل من يد المصريين ونظر اسرائيل المصريين أمواتاً على شاطئ البحر ورأوا العمل العظيم الذي صنعه الرب بالمصريين، فخاف الشعب الرب، وآمنوا بالرب وبعبده موسی.</p>
<p>ولكن الإنسان الطبيعي الذي اشتهي ثمرة شجرة المعصية، هو هو بعينه الإنسان الذي رأى كل هذه المعجزات، وفي الحال بدأ حياة التذمر، ولم يمض علی المعجزة الكبرى أيام ثلاث، تذمر الشعب على موسی قائلين: ماذا نشرب، ثم تذمروا قائلين ليتنا متنا بيد الرب في أرض مصر إذ كنا جالسين عند قدور اللحم نأكل خبزا للشبع.</p>
<p>وتحنن الرب الإله وطمأن الشعب أنهم سيأكلون لحماً في العشية وأعطاهم السلوی، وفي الصباح أعطاهم المن، وعبَّر عنه موسی قائلاً: &#8220;هذا هو الخبز الذي أعطاكم الرب لتاكلوا&#8221; (خر١٦: ١٥) .</p>
<p>وكان الله يقصد من إعطاء المن كل صباح أن يوجه أنظار شعبه إلى أنه هو مصدر حياتهم وليس الخبز واللحم.</p>
<p>لأجل هذا كان يعطيهم كل صباح المن جديداً ليكون الإتكال التام على شخصه وقيادته المباركة. وأوصى الرب أن يملأ هرون قسطاً من المن ليبقى شهادة أن الله أعال بني إسرائيل أربعين سنة في البرية.</p>
<p>والإنسان الطبيعي الساقط لا يريد أن يأكل من يد الله مهما كان الطعام لذيذاً وممتعاً وإنما هو يريد أن يأكل وفق شهوته تماماً كما عمل إسرائيل في البرية عندما بكوا أمام موسی مشتهين قدور اللحم في أرض العبودية قائلين: &#8220;لقد تذكرنا السمك الذي كنا نأكله مجاناً والقثاء والبطيخ والكرات والبصل والثوم، والآن قد يبست أنفسنا&#8221; (عد ۱۱: ٥- ٦).</p>
<p>لقد سئمت نفوسنا هذا الطعام السخيف، طعام العبودية وصف بأنه لذيذ ومجاني والطعام الذي من يد الله وصف بأنه سخيف وممل .</p>
<p>وكانت النتيجة أنه كما حرم آدم من الجنة هكذا أيضا حرم الشعب كله من دخول أرض الموعد فيما عدا كالب بن يفنة ويشوع بن نون.</p>
<p><strong>أليست هذه هي قضية الطعام</strong><strong> !! </strong></p>
<p>كل شجر الجنة لا يصبح لذيذا ولكن شجرة معرفة الخير والشر هي وحدها التي تصبح شهية للنظر وممتعة للأكل والمعصية .</p>
<p>أليست هذه هي مأساة إسرائيل في البرية؟ المن والسلوى طعام سخيف، والسمك والقثاء والبصل الممتزج بالذل والعبودية وسياط السخرة يصبح طعاماً مشتهى، وموضوعا للتذمر على الله .</p>
<p>أليست هذه هي أيضا مشكلة الإنسان من جيل وإلى جيل، يرفض أن يضع طعامه في يد الله ليتناوله بشكر وابتهاج قلب، ويفضل أن يكرر معصية حواء ومأساة إسرائيل في البرية.</p>
<p><strong>سمات الصوم في العهد القديم:</strong></p>
<p>كان الصوم في العهد القديم يتسم بصفات معينة يلحظها كل دارس لأسفار هذا الكتاب بشئ من التدقيق، والصفة الأولى هي:</p>
<ol>
<li><strong>الحزن والبُكاء والنوح</strong></li>
</ol>
<p>يقول يوئيل النبي: &#8220;أرجعوا إليّ بكل قلوبكم وبالصوم والبكاء والنوح، مزقوا قلوبكم لا ثيابكم&#8221; (يؤ٢: ١٢- ١٥).</p>
<p>وفي صوم أهل نينوى نلحظ هذه السمة عندما تابوا وعادوا إلى الله فآمن أهل نينوى بالله ونادوا بصوم، ولبسوا مسوحاً من كبيرهم إلی صغیرهم (يون۳: ۳).</p>
<p>وداود النبي في مواضع كثيرة يربط بين الصوم والحزن بقوله: &#8220;وأبكيت بصوم نفسي فصار ذلك عاراً عليّ جعلت لباسي مسحاً وصرت لهم مثلاً&#8221; (مز٦٩: ۱۰)، &#8220;ركبتاي ارتعشتا من الصوم ولحمی هزل عن سمن وأنا صرت عاراً عندهم&#8221; (مز۱۰۹: ٢٤)، &#8220;أذللت بالصوم نفسي، صلاتي إلى حضنی ترجع، كمن ينوح على أمه انحنيت حزيناً&#8221; (مز٣٥: ۱۳).</p>
<p>يمكن تفسير هذه السمة إلى إحساس الإنسان في العهد القديم بثقل الخطية وفظاعة دينونتها، وأن الصوم عاجز عن التكفير عنها، وكل نفس لم تتبرر بدم المسيح تحمل وزر الخطية، وكل ما تعلمه يتسم بالحزن الردئ ووجع القلب .</p>
<ol start="2">
<li><strong>التذلل والتوبة</strong></li>
</ol>
<p>ولكن لم يكن كل صوم مقروناً بالحزن المرير، وإنما كان هناك صوم يُعّبِّر عن حياة التوبة، ورغبة النفس في العودة إلى الله، وكلما كان الشعب يخطئ ويبتعد عن الله، ولا يوجد من الكهنة والكتبة والفريسيين من ينذر ويوبخ وينادي بالتوبة الصادقة، كان الله يرسل أنبيائه حاملين رسالة التوبة صارخين في ضمائر الناس مثلما كان يعمل يوحنا المعمدان آخر أنبياء العهد القديم، والذي اختارته السماء ليكون إعداداً لطريق الخلاص ومناداة المسيح بملكوته في قلوب الناس، إسمع إشعياء النبي يقول: &#8220;نادِ بصوت عال ولا تمسك، ارفع صوتك كبوق واخبر شعبی بتعديهم وبيت يعقوب بخطاياهم، ها أنكم للخصومة والنزاع تصومون ولتضربوا بلكمة الشر&#8221; (إش ٥٨: ۳).</p>
<p>إنه صراخ نبوي لتنقية الصوم من أهداف خبيثة ونوايا شريرة، وبنفس الصراخ نادى نحميا الشعب عندما بدأ بناء سور أورشليم الذي انهدم وأكلت أبوابه النيران.</p>
<p>وبنفس الاتجاه أيضا قام عزرا يدعو الشعب للتوبة فيقول الكتاب: &#8220;وناديت هناك بصوم على نهر أهوا لكي نتذلل أمام إلهنا لنطلب منه طريقاً مستقيماً لنا ولأولادنا ولكل ما لنا&#8221; (عز۸: ۲۱).</p>
<ol start="3">
<li><strong>الطلبة والعبادة</strong></li>
</ol>
<p>وإذا كان الطابع الغالب على أصوام العهد القديم الحزن والتذلل والتوبة بوجع القلب، فإن هناك قلة كانوا يصومون لأجل العبادة في حد ذاتها، من أجل التقوى والنسك كما كان يعمل يوحنا المعمدان الواقف على عتبة العهد الجديد، ومثلما كانت النبية حنة الأرملة نحو أربع وثمانين سنة لا تفارق الهيكل عابدة بأصوام وطلبات ليلاً ونهاراً&#8221; (لو۲: ۳۷).</p>
<p>وفي حياة عزرا الكاتب نلحظ هذه البادرة في قوله: &#8220;فصمنا وطلبنا ذلك من إلهنا فاستجاب لنا&#8221; (عز۸: ۲۳).</p>
<p>وما نقوله على عزرا نقوله على أستير وغيرهما من شخصيات قليلة في الكتاب المقدس في العهد القديم.</p>
<p><strong>الصوم في العهد الجديد</strong></p>
<p>إذا كان الرب يسوع قد اعلن عن نفسه أنه ما جاء لكي ينقض بل ليكمل، فلابد أن تحولاً وتجاوزاً وتقدماً قد حدث في قضية الصوم، شأنه شأن كافة أركان العبادة والحياة الروحية عامة.</p>
<p></p>
<p></p>
<p><strong>التحول الأول:</strong></p>
<p>لعل أول ما نلحظه من تغيير هو رفع الحزن المرير ووجع القلب عن الصوم وانتزاع المرارة عن هذا الركن الهام من أركان العبادة الحقيقية .</p>
<p>وفي الموعظة على الجبل أعطى الرب توجيهاً أن يكون الصوم من غير عبوس ولا تبرم ولا شكلية، وإنما كتعبير عن حياة البذل والحب التي تتميز بها المسيحية &#8220;ومتى صمتم فلا تكونوا عابسين كالمرائين، فإنهم يغيروا وجوههم لكي يظهروا للناس صائمين، الحق أقول لكم أنهم قد استوفوا أجرهم&#8221; (مت٦: ١٦، ۱۷).</p>
<p>ومعنى هذا أن السيد أعطى الإهتمام للجوهر دون المظهر، وللفعل الباطني أكثر من الشكل الخارجي.</p>
<p>ولعل في إجابة السيد المسيح لتلاميذ يوحنا في (مت٩: ١٤)، ما يبين أنه طالما العريس موجوداً فبنو العرس لا يستطيعون أن ينوحوا لأن العريس معهم، ولكن ستأتي أيام حين يرفع العريس عنهم حينئذ يصومون.</p>
<p>لعل في هذه الإجابة لمحة أنه عندما يرفع العريس سيصومون، ولكن لم يقل ينوحون، ثم أن العريس وإن إرتفع عنهم إلى المجد عن يمين الآب فهو لا يزال كائن معنا بروحه القدوس وشخصه المبارك، ومن ثم فالحزن المرير بلا مبرر طالما النفس قد تبررت بالإيمان ونالت نعمة الخلاص وفرح الرجاء، وحتی دموع التوبة في العهد الجديد فهي بلا ندامة كما يقول الكتاب: &#8220;لأن الحزن الذي بحسب مشيئة الله ينشئ توبة لخلاص بلا ندامة، وأما حزن العالم فينشیء موتاً&#8221; (۲کو٢:٧- ۱۱)، لأن الروح الذي يبكت على توبة هو بعينه الذي يعطي عزاء ورجاء وثقة للنفس العائدة إلى الله من كل قلبها .</p>
<p><strong>التحول الثاني:</strong></p>
<p>الذي أحدثته المسيحية في الصوم هو أنه قد أخذ طابعاً إيجابياً وتجاوزاً للسلبيات بمعنى أن الصائم لا يصوم كفرض، ولا يمارس الصوم من خلال النجس والطاهر، والحرام والحلال، ولكن الصوم أصبح في المسيحية مجالاً إيجابياً لإنتعاش الروح (1كو۷: ٥)، لأنه على حد تعبير الكتاب: &#8220;إن أكلنا لا نزيد وإن لم نأكل لا ننقص&#8221; (1كو۸: ۸). &#8220;والذي يأكل فللرب يأكل لأنه يشكر الله، والذي لا يأكل فللرب لا يأكل ويشكر الله&#8221; (رو١٤: ٦)، &#8220;ولا يحكم عليكم أحد في أكل أو شرب أو من جهة عيد أو هلال أو سبت&#8221; (كو٢: ١٦)، فالصوم لم يصبح فيما بعد فرضاً أو ناموساً أو تكفيراً وإنما حباً وبذلاً ومجالاً مباركاً لنمو العشرة وممارسة سر النصرة والقيامة ..</p>
<p></p>
<p><strong>التحول الثالث:</strong></p>
<p>هو أن الرب يسوع أعطى للطعام والجوع مفهوماً أكثر عمقاً من الصورة التي اعتادها الإنسان الطبيعي، إنه حمل الطعام سراً إلهياً Mystre فالإنسان العادي يأكل من عرق وجهه كما قال الكتاب في سفر التكوين، ولكن الرب يسوع الذي أراد أن يردنا إلى رتبتنا الأولى جعل الطعام ليس مجرد أكل مادي، وإنما أعطاه مسحة روحية، إذ جعله يوضع في يده، ومن خلال شخصه يأكل المؤمن طعام الأرض، فيشبع ويشكر ويفرح كعربون لفرح الفردوس الأتی.</p>
<p>من أجل هذا أعلن الرب يسوع في التجربة على الجبل: ليس بالخبز وحده يحيا الإنسان بل بكل كلمة تخرج من فم الله. وقد طبق الرب يسوع هذا المبدأ في معجزة إشباع الجموع التي تكررت مرتين في حياته المباركة على الأرض، الإنسان يجوع ولكن الرب يأخذ طعاماً قليلا ويضعه على يديه الطاهرتين ويباركه فيحمل الطعام سر البركة هذا الذي غاب عن الأرض بسبب لعنتها وعصیان تاج خليقتها في الجنة .</p>
<p><strong>فسر الشبع ليس في الطعام في حد ذاته وإنما من يد الله</strong>، وسر البركة مصدره أن الطعام ليس عملاً بشرياً بحتاً ولكنه وضع في يدي الله، من أجل هذا تجد الراهب الحقيقي يأكل خبزاً جافاً ولقمة بسيطة ولكنها تسري في جسده لتعطيه قوة وبهجة وفرحاً بسر لا ينطق به.</p>
<p>كما أنه في ليلة آلام المخلص أخذ الرب خبزا علي يديه الطاهرتين اللتين بلا عيب ولا دنس الطوباويتين المحييتين وشكر وبارك وقدس ثم قسم، وهكذا أمسك الكأس ومزج عصير الكرمة بالماء وشكر وبارك وقدس ثم أعطي لتلاميذه، بعد أن حول الخبز إلى جسده الحقيقي والخمر إلى دمه الطاهر الزكي الكريم، وأعلن لهم أن هذا هو المن الحقيقي ليس كما أعطاه موسی ولكن المن الذي يعطيه الرب كل من يأكل منه ينال حياة أبدية، ومن هنا جاء ارتباط الصوم والجوع بالتناول من سر الأفخارستيا لأنه إن كان الجوع شبه موت فإن التناول من الجسد والدم الأقدسين هو حياة حقيقية تحمي وتقيم موتنا وضعفنا وسقوطنا.</p>
<ul>
<li>فإن كان آدم الأول اشتهى، فآدم الثاني انتصر وغلب.</li>
<li>وإن كان آدم الأول خالف وعصى، فيسوع على الجبل أطاع مشيئة الآب.</li>
<li>وإن كان آدم الأول سعي وراء التأله الكاذب من أكل ثمرة معرفة الخير والشر، فإن المسيح أعطى للإنسان مفهوم العظمة الحقيقية من خلال الاتضاع والتجرد ورفض السيادة والسجود لأصنام العصر.</li>
</ul>
<p><strong>التحول الرابع:</strong></p>
<p>هو أن المسيحية جعلت الصوم مجالاً للجهاد والتوبة الجماعية، لأن الذي يميز حياة الشركة في الكنيسة أن كل ما يمارس ليس لفرد أو شخص معين وإنما جميع الأسرار ووسائط النعمة تمارس من خلال حياة الشركة لإنهاض الكنيسة كجماعة، كجسد للمسيح الحي كألوية في جيش تحارب ضد قوات الظلمة والجنس الشرير الذي لا يخرج &#8220;إلا بالصلاة والصوم&#8221; (مت۲۱:۱۷).</p>
<p>لأجل هذا نجد أن كنيسة الرسل كما وصفها معلمنا لوقا البشير في سفر الأعمال كانت مواظبة كجماعة على أصوام مشتركة محددة معلنة في الجماعة والحياة الكنسية (أع ۹:۲۷)، يقول السفر: &#8220;وبينما هم يخدمون الرب ويصومون قال الروح القدس افرزوا لي برنابا وشاول للعمل الذي دعوتهما إليه، فصاموا حينئذ وصلوا ثم وضعوا عليهما الأيادي وأطلقوهما&#8221; (أع١٣: 2،٣).</p>
<p>من هذا المنطلق نستطيع أن نقول أن الكنيسة تستلهم من رأسها ورئيس احبارها حياة الصوم والجوع، فكما غلب على جبل التجربة شهوة العيون، وشهوة الجسد، وتعظم المعيشة، هكذا الكنيسة تستمد من هذه القوة المذخرة والطاقة الكامنة في ضميرها وروحانیتها وأسرارها، تستمد روح النصرة والغلبة، ويشعر بها كل العابدين الذين يصومون الصوم الكبيرغير منتظرين من صومهم معجزات كتحویل الحجارة إلى خبز أو الدخول في تجارب ليست من الله، وإنما باقتحام ذاتي، فالهدف الأول والأخير هو ممارسة حياة الطاعة الفرحة التي يتسلمها المؤمنون في المناخ الكنسي.</p>
<p>إن الرب صام عنا أربعين يوماً وأربعين ليلة بسر لا ينطق به، وآبائنا الرسل أوصونا أن يكون هذا الصوم مگرماً عندنا نؤديه بروح الخشوع والجهاد لنقطف من ثمار النصرة والغلبة التي اقتناها رأس الكنيسة فى ظفره على جبل التجربة.</p>
<p>وإذا كان بولس الرسول قد قدم لنا حياته نموذجا لممارسة الأصوام الكنسية والأصوام الخاصة (٢كو۱۱: ۲۷؛ أع ۹:۲۷). فإن الذين يرفضون مبدأ تحديد مواعيد تضعها الكنيسة للصوم الجماعي إنما يعزلون أنفسهم عن حياة الشركة ويعطون ذواتهم فرصاً لأن تكون حريتهم لصالح الجسد وليس لحساب الروح، والواقع الملموس أمامنا في العالم الغربي أكبر دليل عندما فرطت الكنائس الكاثوليكية والهيئات البروتستانتية واختصرت الأصوام إرضاء للناس، فإن الحياة النسكية فقدت، وروح العبادة ضاع، وفقد الغرب طاقة روحية كبيرة لا تزال الكنيسة الشرقية تحافظ عليها في أصوامها ونسكها وروحانياتها وصلابة أولادها في الصمود ضد تيارات العالم وشهواته وحروبه المتنوعة .</p>
<p><strong>ثانيا : البعد الروحي</strong></p>
<p>الصوم عامة والصوم الكبير بصفة خاصة مجال للفضائل الروحية التي تنبع من حياة المحبة لله، فالحب هو المنطلق الأساسي لجميع الفضائل المسيحية، ومن ثم فليست هناك في المسيحية فضيلة سلبية، فالعفة ليست امتناعا عن ممارسات جنسية منحرفة بل تقديم الجسد ذبيحة حب وتكريس الهيكل الجسدى للروح القدس، والصوم ليس انقطاعاً عن الطعام بل نبيحة حب لإنطلاق أوسع للنشاط الروحي.</p>
<ul>
<li>فالذي يصوم بخشوع يتعلم ويتدرب على السجود والإتضاع ومسكنة القلب وعدم الانتفاخ.</li>
<li>الذي يصوم بنسك يتعلم ويتدرب على العفة وضبط شهوة الجسد وشهوة العين وحب الاقتناء.</li>
<li>والذي يصوم بتوبة صادقة يتدرب على النمو في فحص النفس وتمحيصها والتدقيق في معرفة أخطائها وأخذ مواقفواضحة ضدها والاعتراف الصريح أمام الكاهن مع صلب الأهواء والشهوات .</li>
<li>والذي يصوم بتعب وجهاد يعطي انطلاقاً لروحه فتطول صلواته وتمتد فترات عبادته واعتكافه وتتعمق ابعاد حياته الباطنية الروحية.</li>
<li>والذي يصوم بشکر وفرح داخلي تمتلئ نفسه استنارة وضياء ويعمل الإنجيل في أعماق أعماق حياته حتى تلتصق الوصية بحياته وينحصر في مخافة الله علي حد تعبير داود النبي في طلبته: &#8220;سمر خوفك في لحمي&#8221;.</li>
</ul>
<p>وكلما ازدادت النفس عفة واستنارة وجهاداً كلما امتلأت النفس بروح التحرر وأضحت لا تشتهي شيئا ولا تخاف شيئاً كما قال المغبوط أوغسطينوس.</p>
<p>ويهمنا أن نركز في دراستنا لهذا البعد من خلال قراءات أسابيع الصوم وبالأخص أناجيل الأحاد لكي نتعرف على المقاصد الروحية التي تبتغيها الكنيسة من خلال هذه الرحلة الروحية الطويلة التي تستغرق سبعة أسابيع.</p>
<p><strong>ا- قم استعد للجهاد</strong></p>
<p>في أحد الرفاع تضع الكنيسة ما يسمى بالأرضية Background أو الخلفية العامة التي من منطلقها تفهم معاني العبادة، فتختار حديث الرب في الموعظة على الجبل عن أصول الصدقة والصلاة والصوم، وكيف أن المسيحية تتجاوز الشكل إلی المضمون وترفض المظهرية والفريسية في العبادة، وتتطلب نمطا معيناً من العبادة قوامه الصدق وإخلاص القلب ومحبة الله وليس السعي وراء الشهرة والمنصب ومديح الناس، ثم تبدأ رحلة الصوم المقدس بالأسبوع الأول الذي يسمى بالأسبوع الاستعدادي وجميع قراءاته الكنسية تهدف إلى هذا الغرض وهو الاستعداد للجهاد والعزم على ترك الشر والالتصاق بالخير. &#8220;اغتسلوا، تنقوا، اعزلوا شر أفعالكم من أمام عيني، كفوا عن فعل الشر&#8221; (إش١: ١٦). وتقول القراءات أيضاً:</p>
<p>&#8220;أتظن أيها الإنسان الذي تفعل الشرور أنك تنجو من دينونة الله، أم تستهين بغنى لطفه وإمهاله، ولكنك من أجل قساوتك وقلبك غير التائب تذخر لنفسك غضباً في يوم الغضب&#8221; (رو٢: ٣-٥) (البولس من يوم الاثنين).</p>
<p>&#8220;إن الحكم هو بلا رحمة لمن لا يفعل الرحمة&#8221; (الكاثيلكون يع٢: ١٣).</p>
<p>وهكذا طيلة الأسبوع الأول تتناغم القراءات حول هذا الاستعداد بصورة أو أخرى، وفي إنجيل قداس الأحد تتكثف المبادئ وتتبلور بمنهج وأسلوب روحی عجيب، إذ تضع الكنيسة من خلاله التداريب الروحية الأساسية للجهاد القانوني.</p>
<p>١-  عدم اكتناز المال وسيطرته على قلب الإنسان وجعله إلهاً وصنماً في الحياة.</p>
<p>٢-  العين البسيطة النيرة.</p>
<p>۳-  عدم الإنزعاج والانشغال بلقمة العيش .</p>
<p><strong>فعلى المؤمن</strong> أن يجاهد ويؤدي دوره في الحياة بكل اخلاص قلب ولكن ليثق أن الله هو الذي يعوله، فطيور السماء لا تزرع ولا تجمع إلی مخازن وأبوكم السماوي يقوتها، ألستم أنتم بالحري أفضل منها؟! وهكذا عشب الحقل يلبسه الله، فلا ننزعج قائلين ماذا نأكل وماذا نشرب؟ لأن هذه كلها متطلبات الأمم &#8220;أطلبوا ملكوت الله وبره، وهذه كلها تزاد لكم&#8221; (مت٦ : ۳۳).</p>
<p><strong>فمفهوم الاستعداد عند الكنيسة الأرثونكسية</strong> هو هذا التحول الهام، ألا يتعلق القلب بالانشغالات والاهتمامات الأرضية، وإنما يرتبط القلب في عمقه الأصيل بملكوت الله وبره ..</p>
<p>فملكوت الله ليس أکلاً ولا شرباً وإنما هو حضور المسيح في القلب، وتمتع النفس البشرية بتعزيات الروح القدس، وشكر الإنسان الآب السماوي على اختياره ودعوته، ليس لأعمال صالحة ولكن بالتعطف الأبوي ونعمته المجانية ..</p>
<p><strong>ويمكننا أن نلخص تدريب الكنيسة في الأسبوع الأول هكذا:</strong></p>
<ul>
<li>أطرد من قلبك محبة المال، وهموم الحياة والارتباكات الأرضية، واستعد ليتفرغ قلبك للجهاد الروحي الذي إليه دعيت.</li>
</ul>
<p></p>
<p>٢- <strong>تعرف على تجارب العدو وطبيعة حروبه</strong></p>
<p>تخطو بنا الكنيسة خطوة أخرى إلى الأمام، إنها تريد بعد أن هيأت تربة القلب أن تبرز ما يلاقيه المؤمن من معاناة وجهاد وحروب، بعضها من الشيطان، وبعضها من العالم، والبعض الآخر من الذات، وهذه كلها ليست من الآب.</p>
<p>فالأسبوع الثاني هو إيضاح وإفصاح عن طبيعة الجهاد القانوني تعرض الكنيسة لعناصره وتطلب من أبنائها أن يتسلحوا بأسلحة الجهاد المقبول من صلاة وصدقة وأمانة وإخلاص قلب.</p>
<p>فإذا كان الصوم يمثل بالجمر الموضوع في الشورية عند المذبح، فالصلاة هي البخور الذي يوضع على هذا الجمر لتتصاعد رائحة ذكية مرضية مقبولة أمام الله .</p>
<p>وهكذا منذ البداية تلح الكنيسة على المؤمنين أن يقرنوا أصوامهم بالصلوات في المخدع ومع الأسرة وفي الكنيسة لممارسة الليتورجيات .</p>
<p>ولعله من أقوى الصلوات التي تربط الصوم بالصلاة إرتباطاً صمیماً صلاة القسمة للصوم الأربعيني كله، فيها يقول الكاهن:</p>
<ul>
<li>الصوم والصلاة هما اللذان يخرجان الشياطين .</li>
<li>الصوم والصلاة هما اللذان رفعا إيليا إلى السماء وخلصا دانيال من جب الأسود .</li>
<li>الصوم والصلاة هما اللذان عمل بهما موسی حتی أخذ الناموس والوصايا المكتوبة بأصبع الله .</li>
<li>الصوم والصلاة هما اللذان عمل بهما أهل نينوى فرحمهم الله وغفر لهم خطاياهم ورفع غضبه عنهم .</li>
<li>الصوم والصلاة هما اللذان عمل بهما الأنبياء وتنبئوا عن مجئ المسيح قبل مجيئه باجيال كثيرة .</li>
<li>الصوم والصلاة هما اللذان عمل بهما الرسل وبشروا، وهما اللذان عمل بهما الشهداء حتى سفكوا دمائهم، وهما اللذان عمل بها الأبرار والصديقين ولباس الصليب وسكنوا في الجبال والبراري وشقوق الأرض من أجل عظم محبتهم في الملك المسيح .</li>
</ul>
<p><strong>ومن قراءات هذا الأسبوع </strong>تبرز الكنيسة استجابة الله لصلوات خائفيه (خر۳: ٦-١٤)، ورفضه صلاة الأشرار (إش٤: ۲- ٥: ۷)، وغضب الله المعلن على تاركي الصلاة (رو1: ۸-٢٥).</p>
<p><strong>وأما إنجيل القداس ليوم الاثنين</strong> فيشدد على أن تكون الصلاة بلجاجة وإلحاح وتغصب وثقة وإيمان، فيورد مثل المرأة وقاضى الظلم (لو۱۸: ۱-۸)، في هذا يقول الرب: &#8220;أفلا ينصف الله مختاريه الصارخين إليه نهاراً وليلاً وهو متمهل عليهم أقول لكم إنه ينصفهم سريعاً .&#8221;</p>
<p>وهكذا طيلة الأسبوع تدور القراءات عن جهاد ضد العدو، والأسلحة التي يجب على المؤمن أن يتسلح بها في نضاله الروحي كتلك التي أوردها معلمنا بولس في الإصحاح السادس من رسالة افسس.</p>
<p>وعندما نأتي إلى قراءات يوم الأحد (أحد التجربة) نشعر أن الكنيسة تبشر جماعة العابدين الذين أعدوا قلوبهم بترك الشر والإلتصاق بالخير، والذين تسلحوا بالصلاة، وكافة أسلحة الجهاد، بن الرب يسوع قد غلب وأنتصر وسحق قوة العدو وأنه كقائد مظفر يسوقنا جميعاً في موكب نصرته كل حين، فنصرة المسيح علي جبل التجربة، وفشل العدو في حروبه الثلاث: (شهوة الجسد، شهوة العين، تعظم المعيشة)، إنما يرجع هذا إلى أن الابن الذي في وحدته مع الآب والروح القدس قد وهب البشرية المؤمنة به وإنسانيتنا التي تتحد بجسده ودمه الأقدسين سر النصرة وسر الغلبة على جميع حيل العدو، وقد يتساءل البعض لماذا لم يحول المسيح له المجد الحجارة خبزاً مع أنه حول الماء خمراً في عرس قانا الجليل، والإجابة هي أنه يعلمنا أنه لا يتقبل مشيئة الا مشيئة الآب وتحويل الحجارة خبزا كانت مشيئة الشيطان خارجا عن دائرة مقاصد الأب ومشيئته الصالحة.</p>
<p><strong>الرب يسوع جاع لأنه إنسان مثلنا</strong> في كل شيء فيما عدا الخطية وحدها، ولكنه لم يصنع ما صنعه أدم وحواء في الجنة، أنه رفض رغم جوعه أن ياكل من خلال مشيئة العدو وإنما أعلن أنه لا يأكل الإ من خلال الآب إذ هو القائل: &#8220;طعامي أنأصنع مشيئة الذي أرسلني&#8221;.. وهذا هو الغذاء الحقيقي، طاعة الكلمة، طاعة الوصية، والتلذذ بها، والتغذي روحياً بممارستها &#8220;ليس بالخبز وحده يحيا الإنسان، بل بكل كلمة تخرج من فم الله&#8221; (مت٤: ٤).</p>
<p><strong>والرب يسوع لم يرد أن يطرح نفسه من فوق جناح الهيكل</strong> رغم صدق الآية القائلة: &#8220;أنه يوصی ملائكته وعلى أياديهم يحملونك&#8221; بل أنه يوما مشی علي الماء حتی وصل إلى سفينة التلاميذ، ومرة أخرى أخرس الرياح بكلمة .. ولكنه لم يرد أن يستجيب لرغبة الشيطان لأنه لا يريد أن يصنع مشيئة إلا مشيئة الآب، فقد كان من خطة الخلاص التي دبرها الثالوث القدوس المشي على الماء، وانتهار الرياح، والقيامة من الموت في اليوم الثالث، ولكن ذلك العمل (البهلواني) الذي أراده الشيطان لإرضاء الذات، لم يكن وارداً في خطة الآب ومقاصده الأزلية لأجل هذا رفضه الرب يسوع، وهذا الاتجاه هو الذي يمارسه رجال الله القديسون، الذين وهبوا أن يخرجوا شياطين ويشفوا مرضی لم يقبل واحد منهم أن يصنع معجزة واحدة استعراضاً لذاته وإظهاراً لمواهبه، وإنما كان كل شيء عندهم لحساب مجد الله وحده.</p>
<p>والرب رفض أيضا أن يأخذ جميع ممالك العالم ومجدها في التجربة الثالثة لأن الطريق والمنهج الموضوع کی يملك الرب على الأرض كلها لم يكن هو من خلال السجود لإبليس وإنما بالاتضاع والإخلاء والتجسد والتجرد والصلب ثم القيامة ولهذا قال داود بروح النبوة: &#8220;ملك على خشبة&#8221;، هكذا تريد الكنيسة في هذا الأسبوع أن تعطينا تدريبا روحياً أن نكون ملتصقين بالرب في حياة الشركة المقدسة بالصوم والصلاة، حتى إذا ما حاربنا العدو في مجالات شهوة العين أو شهوة الجسد أو تعظم المعيشة فإن ملائكة الله تحمينا وتحرسنا والذي خرج غالباً لا يزال يعمل في كنيسته بروحه القدوس ليغلب في قلوب جميع أولاد الله.</p>
<p><strong>٣</strong><strong>&#8211;</strong><strong>لنقدم توبة صادقة</strong></p>
<p>ثم تخطو الكنيسة معنا في مسيرة هذه الرحلة المقدسة لتقدم لنا في الأسبوع الثالث من الصوم ركنا هاماً من أركان الحياة التقوية التعبدية، وهو حياة التوبة الصادقة، تقول مديحة الصوم الشهيرة:</p>
<ul>
<li>الصوم الصوم للنفس ثبات .. طوبى لمن صام عن الزلات.</li>
<li>ودأب على عمل الصالحات .. فإنه يرث ملكوت السموات.</li>
<li>الصوم الصوم يا شعب يسوع .. صوموا صوماً طاهراً بخشوع.</li>
<li>ليس الصوم معناه الجوع .. بدون التوبة عن الزلات.</li>
</ul>
<p><strong>ولنقتطف من قراءات هذا الأسبوع</strong> ما يوضح لنا المقاصد الروحية لهذا الأسبوع، ففي نبؤات الأثنين تحث الكنيسة الجميع على التوبة، وتنذر المتهاونين بالقول: &#8220;إلى متى أيها الجُهَّال تحبون الجهل والمستهزئون يُسَرّون بالإستهزاء والحمقى يبغضون العلم أرجعوا عند توبیخي&#8221; (أم١: ۲۰-۲۲).</p>
<p><strong>ومن نبؤات يوم الخميس</strong> من هذا الأسبوع تنذر الكنيسة كل جماعة لا تتوب أن مصيرها سيكون گسدوم وعمورة، لكن الأبرار التائبين وحدهم هم الذين ينقذهم الرب من القصاص كما حدث مع ابراهيم الذي أخرج لوط من هلاك هاتين المدينتين (تك۱۸، ۱۹)، <strong>وفی نبؤات يوم الجمعة</strong> تحذر الكنيسة من الكبرياء گمعطل رئيسي للتوبة و&#8221;أعاقب المسكونة على شرها، والمنافقين على إثمهم، وأبطل تعظم المستكبرين، وأضع تجبر العتاة&#8221; (إش۱۳: ۲-۱۳).</p>
<p><strong>وتقدم في إنجيل قداس يوم الجمعة</strong> المجنون الأعمى الأخرس الذي شفاه الرب، وكأنها بأسلوب سري تشير إلى أن غيرالتائب هو المجنون البعيد عن حكمة الله، والأعمى الذي لم تكحل عيناه بكحل النعمة، ولم تستنر بنور الحياة الأبدية، والأخرس هو الذي سد فمه عن أن ينطق بتسبيح الله .</p>
<p><strong>وأما إنجيل يوم الأحد</strong> فهو عن قبول رب المجد المخلص للتائبين، ومزموره فيه استرحام وتناغم مع قصة الابن الضال إذ يقول: &#8220;لا تذكر آثامنا الأولى، فلتدركنا مراحمك سريعاً لأننا قد افتقرنا جداً، أعنا يا الله مخلصنا من أجل مجد اسمك&#8221; (مز٧٨: ٧، ٨).</p>
<p><strong>وأما قصة الابن الضال</strong> فهي إحدى المحاور الرئيسية لقراءات الصوم الكبير وأهدافه، فليس الابن الضال سوى أنا وأنت وكل من ترك الأحضان الأبوية، وبرکات التنعم بالحياة المباركة، لكي يذهب إلى الكورة البعيدة حيث الجوع، لأن لذات الحياة ومتع الدنيا مهما تنوعت فهي موجودات تزيد النفس عزلة وفراغاً، من أجل هذا يحتاج الإنسان إلى المن السماوي وغذاء الحياة الحقيقية، وستظل حقول الخنازير التي تشير إلى النجاسة والقذارة وفشلها في إعطاء الانسان طعاما مشبعاً ستظل هی هي بعينها حقول الشهوات واللذات الجسدية التي يرتع فيها أهل العالم مملؤين فجراً ودعارة ونجاسة وتمرغاً في حمأة الدنس.</p>
<p>ولكن الأب الحنون لا يزال فاتحاً ذراعيه، ولا يزال منتظراً عودة الابن إلى أبيه، وهذا لن يحدث إلا إذا أيقن الضال أنه لم يجن من الكورة البعيدة إلا الموت &#8220;فأي ثمر كان لكم حينئذ من الأمور التي تستحون بها الآن. لأن نهاية تلك الأمور هي الموت&#8221; (رو٦: ۲۱).</p>
<p>والآن نحن في زمان التوبة، وكل منا قد ضل طريقه، وكلنا كغنم ضللنا، والجميع زاغو وفسدوا وأعوزهم مجد الله، هلم نرجع إلی أنفسنا كما فعل الابن الشاطر، هلم نلقي بأنفسنا عند أقدام المصلوب في تسليم كامل وتوبة كاملة، ولنقم سريعاً ونأخذ الموقف الصريح المحدد ألا يكون لنا مع العالم نصيب فيما بعد .</p>
<p>وطالما القلب توجع والنفس اهتاجت والحياة كلها سلمت ولم يبق ظلف للعالم، فلنسع إلى أب الاعتراف في الكنيسة نعلن له توبتنا وندمنا وعودتنا، ولنقل مع الابن الشاطر &#8220;أيها الآب السماوي أخطأنا إلى السماء وقدامك ولسنا مستحقين أن ندعی لك أبناء&#8221;، والرب قد وعد أنه &#8220;إن اعترفنا بخطايانا فهو أمين وعادل حتی يغفر لنا خطايانا ويطهرنا من كل إثم&#8221; (١يو1: ٩).</p>
<p>وأما الأب الذي أخرج الحلة الأولى وألبسها لابنه ووضع الخاتم في يده وحذاء في رجليه وذبح له العجل المسمن، وابتدأ يفرح لأن ابنه كان ميتاً فعاش، وكان ضالاً فوجد، هو الآب الذي لا يزال يعمل فى الكنيسة عندما تتوب النفس وتعترف بخطاياها وتأخذ الحل من الكاهن وتتناول من الأسرار المقدسة، إنها تهتف مع إشعياء &#8220;فرحاً أفرح بالرب تبتهج نفسي بإلهي لأنه قد ألبسني ثياب الخلاص کساني رداء البر مثل عريس يتزين بعمامة ومثل عروس تتزين بحليها&#8221; (إش٦١: ١٠)، والحلة هي ثوب البر ، والخاتم هو خاتم البنوة وعربون الحياة الأبدية، والحذاء هو التدبير الروحي والسعي نحو إنجيل السلام، والعجل المسمن يشير إلى جسد الرب ودمه الأقدسين، وباختصار كل شئ قد صار جديداً حسب وعده: &#8220;ها أنا أصنع كل شئ جديداً&#8221; (رؤ٢١: ٥)، مبارك أيها الرب يسوع یا مخلص الخطاة وقابل التائبين يا من أحببتنا وغسلتنا من خطايانا بدمك، وبعد أن كنا فی كورة الخنازير في عري وخزي جعلتنا ملوكاً وكهنة لله أبيك، لك المجد والسلطان إلى أبد الآبدين آمين. (رؤ١: ٦).</p>
<p><strong>٤</strong><strong>&#8211;</strong> <strong>لنستجب للإنجيل وننادي به</strong></p>
<p>وفي منتصف الصوم تعرض لنا الكنيسة مائدة روحية دسمة كل أطعمتها عن سلام الإنجيل وقوته والإيمان بفاعليته والتطبيق العملي له والاعتزاز به.</p>
<p>وخلال قراءات هذا الأسبوع يمكننا أن نشير إلى أهم شروط الاستجابة للانجيل والمناداة به.</p>
<ul>
<li>&#8220;ليس أحد يضع يده على المحراث وينظر إلى الوراء يصلح لملكوت الله.&#8221; (إنجيل قداس الثلاثاء).</li>
<li>&#8220;أتريد أن تبصر&#8221; الإستنارة بالإنجيل: &#8220;فقال له يسوع أبصر إيمانك قد خلصك&#8221;. (إنجيل قداس الخميس).</li>
<li>&#8220;وما تعلمتموه وتسلمتموه وسمعتموه ورأيتموه فيّ فهذا افعلوا وإله السلام يكون معكم&#8221;. (البولس يوم السبت).</li>
<li>&#8220;من يشرب من الماء الذي أعطيه أنا فلن يعطش إلى الأبد بل الماء الذي أعطيه يصير فيه ينبوع ماء إلى حياة أبدية&#8221;. (إنجيل الأحد يو ٤ : ١- ٤٢).</li>
<li>&#8220;ارفعوا أعينكم وانظروا الحقول إنها قد ابيضت للحصاد&#8221;.</li>
<li>&#8220;فآمن كثيرون من السامريين بسبب كلام المرأة التي كانت تشهد أنه قال لي كل ما فعلت، ومكث كثير من السامريين مع الرب يومين فآمنوا به أكثر جداً بسبب كلامه&#8221;.</li>
</ul>
<p><strong>٥</strong><strong> &#8211; </strong><strong>لنتشدد بالإيمان</strong></p>
<p>وما أن يأتي الأسبوع الخامس ويكون المؤمنون قد مارسوا تداريب روحية کالاستعداد للجهاد والتعرف على تجارب العدو وحمل الأسلحة الروحية التي تحدث عنها بولس الرسول في الإصحاح السادس من رسالة أفسس وعاشوا في اختبارالتوبة الحقيقية وأخذوا مواقف حاسمة في حياتهم كتلك التي أخذها الابن الضال عندما ترك كورة الخنازير وعاد إلى أحضان الأبوة الحانية .</p>
<p>بعد هذا كله تقدم الكنيسة تدريباً روحياً عن تدعيم الإيمان والتشدد به والإتكال الإيماني الكامل على الله وضرورة التألم من أجل الإيمان، ونقتطف بعض القراءات التي تدور حول هذا المحور الهام من حياة أولاد الله: &#8220;وأما أنت يا إسرائيل عبدی، يا يعقوب الذي اخترته لا تخف لأني معك، لا تخف، أنا أعينك&#8221; (إش٤١: ٤- ١٤) (نبوات الأربعاء).</p>
<p>وإذ يحمل الإيمان الرجاء الذي لا يخزي يطالعنا إنجيل الأربعاء من هذا الأسبوع: &#8220;فقال للكرام هوذا ثلاث سنين آتي أطلب ثمراً في هذه التينة ولم أجد أقطعها. لماذا تبطل الأرض أيضاً، فأجاب وقال له يا سيد أتركها هذه السنة أيضا حتى أنقب حولها وأضع زبلاً فإن صنعت ثمراً وإلا ففيما بعد تقطعها&#8221; (لو۱۳: ٦- ٩)، وفي قوة الإيمان وفاعليته تأتي نبؤة إشعياء (٤٢: ٥- ١٦) &#8220;وأجعلك عهداً للشعب ونوراً للأمم لتفتح عيون العمي لتخرج من الحبس المأسورين من بيت السجن الجالسين في الظلمة&#8221; (نبوات الخميس) .</p>
<p>وأما الذين لا يؤمنون فإنجيل قداس الجمعة ينذر بهلاكهم: &#8220;إن لم تؤمنوا أني أنا هو تموتون في خطاياكم&#8221; (يو۸: ۲۱- ۲۷).</p>
<p>وفي إنجيل أحد المخلع يتضح بجلاء كل هدف تدريب هذا الأسبوع عندما تقدم الكنيسة نموذجاً للإيمان الإعجازی، فالمخلع عند بركة بيت صيدا ثمان وثلاثين عاماً والرب يُقيمه في الحال بل ويعطيه قدرة أن يحمل سريره ويمشي (مت۹: ٦)، (يو٥: ١- ۱۸) ولكن الإيمان كقوة ونعمة لها التزام وهو ضرورة الحفاظ عليها وتنميتها، وكما أن النكسة في المرض الجسدی ذات خطورة جسيمة، هكذا أيضا في الحياة الروحية، تحذرنا الكنيسة من أنه: &#8220;إن أخطأنا باختيارنا بعد ما أخذنا معرفة الحق لا تبقى بعد ذبيحة عن الخطايا بل قبول دينونة مخيف&#8221; (عب ١٠: ٢٦).</p>
<p>وإن الذين استنيروا مرة وذاقوا الموهبة السماوية وصاروا شركاء الروح القدس وذاقوا كلمة الله الصالحة وقوات الدهرالآتي وسقطوا لا يمكن تجديدهم أيضا للتوبة إذ هم يصلبون لأنفسهم ابن الله ثانية ويشهرونه (عب٦: ٤- ۷).</p>
<p>يا للخطورة إذا بعد أن نكون قد أخذنا المواهب وذقنا حلاوة العشرة واستنارت أذهاننا ثم نضرب بهذا كله عرض الحائط ونلتفت إلى سدوم وعمورة مع امرأة لوط المسكينة، ليحمنا الرب مقاومة الإيمان ورفض التوبة لتستنير عيون أذهاننا بعمل المعمودية.</p>
<p>ولا يكاد الصوم يطوي أسابيعه والأيام تجری سراعاً حتى قبل أن تعطي الكنيسة إنذارها النهائي يوم جمعة ختام الصوم بقولها الرهيب: &#8220;يا أورشلیم یا قاتلة الأنبياء وراجمة المرسلين إليها، وهوذا بيتكم يترك لكم خراباً&#8221; (يو۱۳: ۳۱- ۳۰)، قبل الإنذار النهائي الذي يختم رحلة الصوم توضح لنا الكنيسة قوة فاعلية المعمودية في حياتنا وتذكرنا بجحد الشيطان ومحو الخطية وقوة الميلاد الثاني: &#8220;أنا أنا هو الماحي ذنوبك لأجل نفسي وخطاياك لا أذكرها&#8221; (من نبوات الاثنين من الأسبوع السادس إش ٤٣: ٢٥).</p>
<p>وأن جحد الشيطان وممارسة المعمودية ليست طقساً فقط وانما هي ميلاد جديد وحياة كلها توبة ومسيرة ملحة نحو ملكوت السموات وفي هذا يقول الرب: &#8220;أتظنون أن هؤلاء الجليليين كانوا خطاة أكثر من كل الجليليين لأنهم كابدوا مثل هذا، كلا أقول لكم إن لم تتوبوا فجميعكم كذلك تهلكون&#8221; (انجيل الأثنين لو١٣: ١-٥).</p>
<p>وفي إنجيل قداس الخميس يتحدث الرب عن غذاء أبناء المعمودية الذين اعطوا ظهورهم للعالم وصار الرب يسوع حياتهم وفرحهم وقوتهم: &#8220;الحق الحق أقول لكم من يؤمن بي فله حياة أبدية، أنا هو خبز الحياة، إن أكل أحد من هذا الخبز يحيا إلى الأبد&#8221; (يو٦)، ولا يستطيع أحد أن يدرك قيمة هذه الأسرار الإلهية إلا إذا كانت له البصيرة التي تجعله يعرف الحق ويحب الحق ويؤمن بالحق، مهما كان الكلام صعباً ومعثراً عند أهل العالم والرب غير مستعد أن يقبل مفاوضات وجهالة وحلول وسط، فكثيرين من تلاميذه لم يعودوا يمشون معه بسبب صعوبة تقبل سر الإفخارستيا، أما هو فقال للإثنى عشر &#8220;ألعلكم أنتم أيضا تريدون أن تمضوا؟ فأجابه سمعان بطرس يا رب إلي من نذهب, كلام الحياة الأبدية عندك ونحن قد آمنا وعرفنا أنك أنت المسيح ابن الله الحي&#8221; (يو٦: ٦٦-٦٩)، وهذه هي سمات الاستنارة، الإيمان الحي والعامل والفعَّال بكلمة الرب وبالحياة الأبدية التي في شخصه.</p>
<p>وتؤكد الكنيسة في هذا الأسبوع تدريب الإستنارة، فانجيل قداس السبت عن بارتيماوس الأعمى الذي قال للسيد أنه يريد أن يبصر فقال له يسوع اذهب ايمانك قد خلصك فللوقت أبصر وتبع يسوع في الطريق</p>
<p>وفي إنجيل قداس الأحد يتكلم الكتاب عن إنارة المخلص لبصائر المعتمدين &#8220;لدينونة أتيت أنا إلى هذا العالم حتي يبصرالذين لا يبصرون ويعمى الذين يبصرون&#8221; (پو٩: ٣٩).</p>
<p>يالعظمة أختبار هذا الأعمى الذي عندما حاوره الفريسيون المراءون عميان القلوب رغم انفتاح عيون أجسادهم: &#8220;إنماأعلم شيئا واحداً أني كنت أعمى والآن أبصر&#8221;، وكانت نتيجة انفتاح البصيرة السجود عند اللقيا، &#8220;قال له يسوع الذي يتكلم معك هو هو، فقال: أؤمن يا سيد وسجد له&#8221;.</p>
<p>وأما الأسبوع السابع والأخير من الصوم فهو سيمفونية الخلاص، تدربنا الكنيسة فيه عن المخلص الذي ظفر ودخل أورشليم كملك راكباً على جحش وأتان .</p>
<p></p>
<p>ولكنها عند ختام الصوم وقبل الدخول في أسبوع البصخة المقدسة تلقي بإنذارها النهائي ودينونة الذين لم يستجيبوا لنداء الكنيسة طيلة هذه الأسابيع كلها، فتقول في مزمور القداس: &#8220;الجبال تبتهج أمام وجه الرب لأنه أتى ليدين الأرض، يدين المسكونة بالعدل والشعوب بالاستقامة&#8221;، وفي البولس يتحدث الرسول عن يسوع المسيح العتيد أن يدين الأحياء والأموات عند ظهوره وملكوته.</p>
<p>وأما هيرودس الثعلب فليبقى في مدينة الهلاك يراوغ مع جماعة الفريسيين ودينونة الرفض لكل من يشترك معهم، ومع أورشليم قاتلة الأنبياء وراجمة المرسلين إليها، ان الدينونة صارمة، والعقاب أبدي، والبيت يترك خراباً، ومن له أذنان للسمع فليسمع.</p>
<p><strong>ثالثا : البعد الكنسي</strong></p>
<p>يعتبر الصوم الكبير بحق ربيع الكنيسة، فهو موسم ازدهارها وتجليها البهي، فيه تبدو أمنا البيعة الأرثوذكسية متزينة بأحلى ما عندها من طقوس وألحان وقراءات وممارسات روحية، وما كتاب القطمارس الخاص بالصوم الكبير الذي يحوي قراءات من الكتاب المقدس بترتيب خاص مذهل (كما سبق شرحه) أو كتاب الإبصاليات والطروحات الخاصة بتسبحة نصف الليل أو كتاب المدائح الذي يحوي القطع التي ترتل في تسبحة عشية، أو الحان القداس العديدة وصلوات القسمة الخاصة بالصوم ماهي إلا أطعمة روحية تعدها الأم لأولادها الأمناء العابدين الذين حرموا نفوسهم بإرادتهم من طعام الأرض البائد وأغلقوا أفواههم وحواسهم عن كل لذة ترابية وعكفوا ملازمین البيعة نهاراً وليلاً بنسك وتقوی ملتمسين خبز الروح الباقي، والمن السماوي شبع النفوس الحقيقي.</p>
<p>وكأن الكنيسة تريد أن تقدم لنا مبدأً روحياً هاماً أنه لا معنى لأي عمل نسکي أو حرمان جسدي إن لم يصحبه عبادة بالقلب ولذة في الروح ودخول في عشرة مع المسيح.</p>
<p>فكما أن عمل الكنيسة دائما تحويل المبادئ الروحية إلى ممارسة عملية ومجال سلوكي في متناول كل مؤمن ليحيا فيه وبه، هكذا فعلت أيضاً في الصوم الكبير، وهذا ما نريد أن نوضحه في هذا البعد حتى ما يتبين كيف مزجت الكنيسة مبادئ الصوم الروحية لتقدمها لمؤمنيها بالألحان والتسابيح والطقوس والممارسات العملية، وسنحاول تقديم نماذج من نصوص التسابيح الكنسية لنبين مدى حرص الكنيسة أن تقدم لأولادها المجال والمناخ الملائم لصيام روحي مقبول أمام الله ولا سيما أن كثيراً من هذه التسابيح تبدو ككنوز مدفونة لا يتمتع بجمال ترتيلها إلا القلة القليلة.</p>
<p></p>
<p></p>
<p><strong>القداسات المتأخرة</strong></p>
<p>فعلی رأس ما يقدمه النظام الكنسي في الصوم الكبير هو سر التناول الأقدس، فالقداسات التي تمتد حتى الساعة التاسعة التي توازي الثالثة بعد الظهر وأحيانا كثيرة حتى الخامسة مساء تسود الكنيسة فيها مسحة من الهدوء الروحي مع بخور صلوات ذات رائحة ذكية خارجة من نفوس قد تروحنت أجسادها بعد أن خف ثقل المادة عنها.</p>
<p>هذه الصورة هي أحلى تعبير عن الصوم بل إن الأفواه المفتوحة التي تتقدم للمذبح لتأخذ غذاءها من يد الكاهن بعد أن رفضت أن تمد يدها لتاخذ خبزها بنفسها هذه تمثل بالحقيقة الصوم في معناه اللاهوتی والكنسي العميق &#8220;ونحن أيضا فلنصم عن كل شر بطهارة وبر ونتقدم إلى هذه الذبيحة المقدسة ونتناول منها بشكر&#8221;.</p>
<p>&#8220;وكان مع الوحوش لما صام في البرية ، لكي نصنع مثله في زمن وحدتنا، الجسد والدم اللذان لك هما لمغفرة الخطايا مع العهد الجديد الذي أعطيته لتلاميذك، الآن تناولنا من جسدك ودمك الحقيقيين تجديداً لقلوبنا وغفراناً لخطايانا&#8221; (من قطعة تقال في توزيع سبوت و آحاد الصوم المقدس).</p>
<p>فالبناء الكنسي في مفهومه اللاهوتي هو جسد واحد يجمع كل المؤمنین علی امتداد الزمن ويأخذ فيه المسيح دور الرأس، وبدون الرأس لا يوجد معنی بالمرة لدور الأعضاء مهما كانوا، ولذلك فإن أي عبادة لا تقدم من خلال المسيح غير مقبولة بتاتاً، والكنيسة حريصة أن تشهد لرأسها بأن تُذَكِّر أولادها بأن صومهم مهما بلغ من القوة أو الضعف فما هو إلا اشتراك الأعضاء بنصيبهم فيما قام به الرأس من أجلهم &#8220;أكمل نقائص شدائد المسيح في جسمي لأجل جسده الذي هوالكنيسة&#8221; (کو١: ٢٤).</p>
<p>ولذلك فإننا لا نجد جملة تتكرر في صلوات وتسابيح الصوم الكبير مثل هذه الجملة التي هي غاية في البساطة وغايةفي العمق &#8220;يسوع المسيح صام عنا أربعين يوماً وأربعين ليلة&#8221;.</p>
<p>ما أعمق كلمة (عنا) أنها تعزى كل من يشعر بضعفه وعدم کمال صومه، كما هي أيضا تكسر حدة كبرياء كل فريسي يفتخر ببره الذاتي، ولهذا فإن هذه الجملة تبدو كالإيقاع الثابت للحن کله او خيط العقد الذي يمر من خلال حبات جهادنا كلها ليربطها معاً ويعطيها المكانة اللائقة والمعنى العميق.</p>
<p>فنحن بصومنا إنما نشترك كأعضاء في جسد ذاك الذی قضي في البرية أربعين يوماً وأربعين ليلة كفدية وكفارة عن جميعنا، إننا نقدم نسكنا وجهادنا فی الصوم الكبير الذي هو بمثابة ذبيحة أجسادنا التي تجد قبولها مرتبطة بالذبيحة الكاملة التي للمسيح.</p>
<p>بل أن الكنيسة تقودنا إلى خطوة لاهوتية أعمق عندما تقدم لنا المسيح ككاهن يرفع هذه الذبيحة إلى الأقداس السماوية، فهو الذبيحة وهو الكاهن معاً، فهو رأس الجسد عندما تقدم أمامنا ليقدم ذاته ذبيحة نسك وطاعة للآب السماوي هناك في برية الأردن، وهو أيضا في نفس الوقت رأس الجسد عندما دخل كرئيس كهنة إلى داخل الحجال السماوي ليقدم ذبيحة الجسد كله أمام الله الآب، أليس هذا ما تقصده عندما تقدم لحن (ميغالو) هذا اللحن العميق الذي يبدأ بهزات رصينة ثم يعلو بجمال فائق، إنه يعني باللغة العربية: [رئيس الكهنة الأعظم إلى الآباد الطاهر قدوس الله]، وكأن الكنيسة تحمل على هزات اللحن ثقل جهادها كله ليجتاز به کاهنها القدوس وحده الحجاب السماوی.</p>
<p>وفي نفس الخط اللاهوتي يدخل أيضا لحن مرد الإبركسيس في أيام الصوم &#8220;يرفع الله هناك خطايا الشعب من قبل المحرقات ورائحة البخور&#8221;.</p>
<p>وهنا يأتي دور العذراء مريم المكرمة من الكنيسة والتي يعطيها النظام الكنسي مكانتها في كل مجال، إنها هي المجمرة التي فاح منها بخور الذبيحة في أرضنا ليصل عطره إلى الأقداس السماوية [أنت هي المجمرة الذهب النقي الحاملة جمر النار المبارك] (لحن يقال أثناء رفع بخور البولس أيام الصوم المقدس).</p>
<p>والكنيسة حريصة أيضا أن تضم في جسمها جهاد كل أولادها منذ آدم حتی نهاية الدهور، ولذلك فهي تتكلم كثيرا في الأربعين المقدسة عن صوم كل رجالها من آدم إلى اسحق إلى موسى إلى إيليا إلى دانيال إلى أهل نينوى (فالكنيسة تضم التائبين من الأمم أيضاً)، إلى الرسل إلي النساك ولباس الصليب والذين سكنوا البراري في كل عصر من أجل عظم محبتهم في الملك المسيح، وهكذا يندمج جهادنا مع جهاد آبائنا كلهم في مجمرة واحدة هي الكنيسة ليتصاعد بخوراً واحداً مغطى تماماً برائحة الصليب ومرفوعاً بيد رئيس کهنتنا الأعظم أمام الآب السماوي.</p>
<p>وهكذا تصنع الكنيسة عجباً لكل مؤمن أنها تستلم جسده الصائم مهما بلغ من نقص وقصور لتقدسه في سرالإفخارستيا المقدم على مذبحها كل يوم الذي هو جسد ابن الله ذاته فيسرى الدم الحي في العروق الميتة فينتشي المؤمن حياة وحباً ويكتشف كيانه الجديد كعضو بين الأعضاء، لقد اتحد جسده الصائم بجسد المسيح الغالب، وهذا هو البعد اللاهوتي والكنسي العميق الذي تهبه الكنيسة لصوم أولادها في الأربعين المقدسة .</p>
<p><strong>قراءات دسمة ونبوات من العهد القديم</strong></p>
<p>ثم تقدم لنا الكنيسة في الصوم برنامجاً روحياً من القراءات في الكتاب المقدس مرتبة بخط روحی خاص كما سبق وبينا، ومن الملاحظات الهامة أن الصوم الكبير أحد المواسم القليلة للغاية التي تقدم فيها الكنيسة أجزاء من العهد القديم تقرأ كنبؤات في صلاة رفع بخور باكر من كل قداس، وكأن الكنيسة كأم ماهرة تعلمت بحذق كيف تعد غذاء أبنائها بنفسها تمد يدها لتقطف من هنا وهناك من كلمة الله عبر الدهور لتعد وجبة شهية لأولادها الجائعين والجالسين بإنصات أمام المنجلية يغتذون بفرح من طعام الروح.</p>
<p><strong>التسبيح</strong></p>
<p>ومن أهم عناصر العبادة الكنسية عنصر التسبيح وهكذا تعلمنا الكنيسة أن النسك المسيحي يقترن بالبهجة والفرح الروحي.</p>
<p>فهناك كثير من قطع التسابيح تضاف إلى التسبحة السنوية في أيام الصوم، فيوجد تسعة قطع باللغة العربية ترتل مع تذاكية السبت في عشية الأحد، وهذه القطع يغلب عليها الطابع التفسيري والتعليمي، (كما تعود الطقس الكنسي كثيرا أن يقدم التعليم منغماً ليضمن وصوله إلى وجدان الشخص)، وهي تربط الصوم بأفعال الفضيلة المختلفة كما تحث الصائمين على العبادة الطاهرة الروحية، وذلك كله بكلمات بسيطة ومباشرة وذات طابع کتابي، وفيها أيضا تفسيرات لبعض من فصول أناجيل الأحاد.</p>
<p>وهذه القطع تشبه إلى حد كبير مدائح أخرى مرتبة لكي ترتل في رفع بخور عشية وفي التوزيع أثناء القداسات.</p>
<p>أقصدوا الكنائس وأكثروا الصلاة .. واضرعوا بابتهال في القدسات</p>
<p>وتحابوا فمن لا يحب أخاه .. فهو كائن وسط الظلمات</p>
<p>ثم هناك أيضا إضافات رائعة في تسبحة نصف الليل، اذ تبدأ في الصوم الكبير بهوس خاص وهو عبارة عن تجميع من المزامير يناسب التوبة وطلب مراحم الله، ثم تتلو ذلك إبصاليات خاصة تسبق قطع التسبحة السنوية، وهذه الإبصاليات تعد من أجمل وأعمق صلوات التوبة في الترتيب الكنسي كله، وهكذا يقضي المؤمن الصائم جزءاً كبيراً من ساعات يومه في لذة روحية ومشاعر ترتفع بسهولة أمام عرش المسيح.</p>
<p>[تعالوا فلنسبح مع الملائكة ونمجد ربنا يسوع المسيح، فلنصم صوما نقياً ونصلي بقلب منسحق، وأيضاً تعروا من الإنسان العتيق وطقسه الشرير وأعماله الرديئة، والبسوا الإنسان الجديد وصلوا الآن بعظم قوة، الصلاة والصوم يطهران نفوسنا بالوقوف في الصلاة، فلنشكر ربنا يسوع لكي ينقل قلوبنا إلى السماء] (ابصالية آدام على ثيوطوكية الأحد للصوم الكبير).</p>
<p>الصلاة بالليل تنير العقول [اسهروا في الطلبات بلا ملل، وأحبوا النشاط والزهد، لنكون مستيقظين بالصلاة والصوم] (أبصالية واطس على القطعة السابعة من ثيئوطوكية الأحد).</p>
<p>وأخيرا فإن الكنيسة أيضاً تقدم من جعبتها ومن أروع الحانها في قداسات الصوم الكبير الشئ الوفير، فهناك الحان خاصة بالسيد المسيح وبالعذراء مريم، وهناك لحن كيرياليسون (يارب ارحم) في صلاة بخور باكر، ولحن الليلويا في توزيع القداس الالهي، وهي كلها الحان غاية في العمق تسودها مسحة من الرصانة والخشوع وتخرج هزاتها محملة بمشاعرالإنسحاق وإستمطار مراحم الرب.</p>
<p><strong>المطانيات بانسحاق و سجود</strong></p>
<p>فالصوم الكبير (كما بينا سابقاً) هو موسم التوبة والرجوع لله بانسحاق شديد وتوبة حارة، والكنيسة تعلمنا ذلك عملياً عندما تحرص علي طقس المطانيات (مطانية كلمة يونانية تعني تغيير الإتجاه أي التوبة)، وهي إحناء الركب علي الأرض علامة طلب الرحمة وذلك في صلاة رفع بخور باكر.</p>
<p>فيقول الكاهن &#8220;نقف ونحني ركبنا&#8221;، ويرد الشعب &#8220;ارحمنا يا الله الآب ضابط الكل&#8221; ثم يقول &#8220;نقف ونحني ركبنا&#8221;، فيقول الشعب &#8220;ارحمنا يا الله مخلصنا&#8221;، ثم تتكرر الطلبة مرة ثالثة &#8220;ثم نقف ونحني ركبنا&#8221; فيقول الشعب &#8220;ارحمنا يا الله ثم أرحمنا&#8221;، وأخيراً &#8220;يا رب ارحم&#8221;.</p>
<p>وكثيرا ما يمارس المؤمنون المطانيات بالمنزل بكثرة في هذا الصوم خشوعاً وسجوداً وإشاعة لروح النسك والمسكنة أمام الله طيلة هذه الصوم المقدس .</p>
<p><strong>التقشف والعطاء للمساكين</strong></p>
<p>فليس الصوم مجرد تغيير أطعمة أو إنقطاع فترة من الزمن عن تناول الطعام، وإنما الصوم هو حياة فيها التوبة الجماعية من الكنيسة كلها المتذللة للرب المصلوبة عن الأهواء والشهوات، المتضرعة إلى الله تطلب الرحمة والغفران.</p>
<p>ففيها التقشف والنسك وعدم إقامة المآدب، وخاصة الفاخرة المليئة بأنواع الأطعمة، لأن هذه الإتجاهات تفسد مناخ الصوم التقشفي، والمسيحيون الأوائل كانوا يأكلون طعاماً بسيطاً لكي يتوفر لهم مالاً يعطونه للفقير والمسكين وهنا ارتباط الصوم بالرحمة كما تقول المديحة:</p>
<p>طوبى للرحماء علي المساکین .. فإن الرحمة تحل عليهم</p>
<p>والمسيح يرحمهم يوم الدين .. ويحل بروح قدسه فيهم.</p>
<p>والكنيسة الحية تعرف أصالة الصوم، كما ترفض الموائد والأحتفالات والمسرات والأفراح أيام الصوم الكبير، ترفض أيضاً الثرثرة وضياع الوقت في الكلام الذي لا يبني، لهذا يؤثر المؤمنون الاعتكاف والصمت حتی يتيسر وقت لفحص الذات والتوبة والاعتراف وضبط اللسان والحواس، والكنيسة تعلمنا ذلك في تسابيحها عندما تقول لأولادها &#8220;تمسكوابالصوم والصلاة معاً، وقوموهما بالطهارة التي للقديسين، أحبوا النشاط والبتولية&#8221; (إبصالية آدام على ثيئوطوكية الأحد).</p>
<p>ما هو فرح هذا العالم، وما هي الأموال والكنوز التي لا نفع فيها ولا فائدة منها، هذه التي تصيد العقول وتخطف الأفهام وتظلم العيون من أجل أعمال هذا العالم. فإن كنوز الغنى تزول وتفسد، وأما السالكون في ناموس الرب فيكون لهم الحياة والنجاة، اسمعوا أيها الأحباء قول السيد المسيح وتعاليمه المحيية، لا تكنزوا لكم كنوزاً على الأرض، وأن تصيروا واحداً مع المسيح في ملكوته، أبغضوا العيون المتعظمة، واتركوا القلوب البهيمية، واطلبوا الطعام السماوي، واللباس البهي، واحفظوا أجسادكم من النميمة لتكون مباركة لأنها هيكلاً للرب، واحرسوا نفوسكم من الإختلاط الهيولي فإنه هو الشرك الأول الذي يصيد الإنسان. (من طرح واطس للأحد الأول من الصوم الكبير).</p>
<p><strong>طلبية ختامية</strong></p>
<p>ياربي يسوع المسيح مخلصي الصالح يا من صمت عنا أربعين يوما واربعين ليلة بسر لا ينطق به، اقبل صومنا ودموعنا وتوبتنا وانسحاق قلوبنا ومسكنتنا وسجودنا أمامك، وأسمح لروحك القدوس أن يلف الكنيسة گلها بروح الجهاد القانوني والتوبة الصادقة وأعمال الرحمة الطاهرة الخالية من گل غش ورياء.</p>
<p>حبيبنا ومخلصنا عندما يتقدم أولادك للمائدة المقدسة على المذبح اسكب فيهم بروحك القدوس سر النصرة و الغلبة على كل ما ليس من الأب لتكون ذبيحة حياتنا كلنا مقبولة ومرضية أمامك، لك المجد والعز والسلطان في كنيستك آمين.</p>
<p>إذا كانت وصية الصوم من أقدم الوصايا التي أعطيت للإنسان في العهد القديم، فإن الصوم الكبير بالذات يعتبر موسم التوبة وانتعاش الحياة الروحية في الكنيسة كلها.</p>
<hr />
<p><a href="#_ftnref1" name="_ftn1">[1]</a><sup>&#8211; تفسير رسالة أفسس 4- القمص تادرس يعقوب ملطي.</sup></p>
<p><a href="#_ftnref2" name="_ftn2">[2]</a><sup>&#8211; </sup><sup>كتاب من كتابات القديس يوحنا الذهبي الفم صفحة ٣٥٣ &#8211; القمص تادرس يعقوب ملطي.</sup></p>
<p><a href="#_ftnref3" name="_ftn3">[3]</a><sup>&#8211; </sup><sup>كتاب الصلاة &#8211;  للعلامة أوريجانوس صفحة ٦٩ &#8211; تعريب القس موسي وهبة &#8211; كنيسة مار مرقس شبرا.</sup></p>
<p><a href="#_ftnref4" name="_ftn4">[4]</a><sup>&#8211; </sup><sup>تفسير إنجيل لوقا للقديس كيرلس الأسكندري صفحة٣٧٤ &#8211; ترجمة دكتور نصحي عبد الشهيد.</sup></p>
<p><a href="#_ftnref5" name="_ftn5">[5]</a><sup>&#8211; </sup><sup>كتاب موسوعة الأنبا بيمن المجلد الثاني صفحة ٩٩ &#8211; تقديم أنبا ديمتريوس أسقف ملوي وأنصنا والأشمونين.</sup></p>

      {% endcreateArticleAccordions %}
    </section>
  {% endblock %}
  