---
layout: 'layouts/reading.html'
title: 'يوم السبت من الاسبوع الاول (سبت طريق الكمال)'
tags: 'great-lent'
permalink: /articles/great-lent/1-6.html
---
  {% block content %}
    <section id="readings">
      <ul>
      {% if 'undefined' != 'undefined' %}
      
      {% else %}
      {% if 'null' != 'null' %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">العشية</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeVespers '' '' %}
          </div>
        </div>
      </li>
      {% endif %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">باكر</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeMatins '19.119:57-58' '40.5:25-37' '' %}
          </div>
        </div>
      </li>
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <h3 class="flex items-center justify-between">
            <span class="kufi">القداس</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </h3>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeLitugy '45.12:1-21' '59.1:1-12' '44.21:27-39' '19.5:1-2' '40.5:38-48' %}
          </div>
        </div>
      </li>

      {% endif %}
        </ul>
    </section>
    <section id="article">
      <h3 class="mt-8 mb-4 heading-explain">شرح القراءات</h3>
      {% createArticleAccordions %}
        <p>&#8220;وَإِلهُ السَّلاَمِ نَفْسُهُ يُقَدِّسُكُمْ بِالتَّمَامِ. وَلْتُحْفَظْ رُوحُكُمْ وَنَفْسُكُمْ وَجَسَدُكُمْ كَامِلَةً بِلاَ لَوْمٍ عِنْدَ مَجِيءِ رَبِّنَا يَسُوعَ الْمَسِيحِ.&#8221; (١تس٥: ٢٣)</p>
<p>[وأما نحنُ كلُّنا فهب لنا كماَلنا المسيحي الذي يرضيك أمامك.] (أوشية الراقدين).</p>
<p>[كمال كل بركة كائن في اسمك القدوس] (ابصالية الأحد).</p>
<p>[ومن يتخذ لنفسه اسم المسيح الذي هو حكمة وقوة الله فإنه يصير قادراً أن يجاهد ببسالة ضد الخطية وتستعين الحكمة في نفسه بأن يختار الصلاح وحينئذ يتحقق كمال الحياة] (القديس غريغوريوس النيصي)<a href="#_ftn1" name="_ftnref1">[1]</a></p>
<h4></h4>
<h3>شواهد القراءات</h3>
<p><span style="color: #ff0000;">(مزمور ٣٩ : ١١٨)</span>، (مت٥: ٢٥-٣٧)، (رو١٢: ١- ٢١)، (يع١: ١-١٢)، (أع٢١: ٢٧-٣٩)، (مز٥: ١)، (مت٥: ٣٨- ٤٨).</p>
<h4></h4>
<h3>شرح القراءات</h3>
<h4><strong>تتكلم قراءات اليوم </strong>عن كمالات المسيحي في محبته وعبادته وخدمته وألمه وضيقته وصبره وكمالات وصية الآب وإرادته ومشيئته وغفرانه ومحبته، فالسعي وطريق الكمال هو المدخل للكنز السماوي، عنوان قراءات الأحد الذي يليه أحد الكنوز.</h4>
<p><strong>لذلك يبدأ مزمور باكر</strong> بإعلان كمال علاقة المسيحي بالرب فهو حظّه ونصيبه وكنزه وشهوته ولا يتمنى سوي وجهه وحضوره. &#8220;حظي أنت يارب، توسلت إلى وجهك بكل قلبي&#8221;.</p>
<p><strong>ويعلن إنجيل باكر</strong> كمال الوصية الإلهية وشريعة العهد الجديد التي ينبغي أن يعيشها أبناء الآب مقارنة بشريعة العهد القديم التي كانت تناسب الطبيعة القديمة والإنسان قلب الفداء وحلول الروح القدس.</p>
<p>&#8220;قد سمعتم أنه قيل للقدماء لا تزنِ، وأما أنا فأقول لكم إن كل من ينظر إلى إمرأة ليشتهيها فقد زنى بها في قلبه، أيضاً سمعتم أنه قيل للقدماء لا تحنث بل أوف للرب أقسامك وأما أنا فأقول لكم لا تحلفوا البتة&#8221;.</p>
<p><strong>ويوضّح البولس</strong> كمال العبادة وتغيير العقل والقلب على الدوام لنحيا إرادة الله الكاملة.</p>
<p>&#8220;فأطلب إليكم يا إخوتي برأفات الله، أن تقدموا أجسادكم ذبيحة حية مقدسة مرضية لله، عبادتكم العقلية ترضيه، ولا تشاكلوا هذا الدهر، بل تغيروا عن شكلكم بتجديد أذهانكم، لتختبروا ما هى مشيئة الله الصالحة المرضية والكاملة&#8221;.</p>
<p><strong>ويشير الكاثوليكون</strong> إلى الصبر الكامل في الضيقات والآلام كقبول للأبناء لإمتحان أبيهم لإيمانهم وتنقيته.</p>
<p>&#8220;إحسبوه كل فرح يا إخوتي حينما تقعون في تجارب متنوعة، عالمين أن إمتحان إيمانكم ينشئ صبراً، وأما الصبر فليكن له عمل كامل لكي تكونوا كاملين وتامين غير ناقصين في شئ، مغبوط هو الرجل الذي يصبر على التجربة لأنه إذا تزكى، ينال إكليل الحياة الذي وعد به الرب للذين يحبونه&#8221;.</p>
<p><strong>بينما الإبركسيس</strong> يعلن كمال الضيقة التي تتعرض لها دائماً كنيسة الله في كل وقت.</p>
<p>&#8220;فهاجت المدينة كلها وتراكض الشعب وأمسكوا بولس وجروه خارج الهيكل، وللوقت أغلقت الأبواب وبينما هم يطلبون أن يقتلوه بلغ الخبر إلى أمير الكتيبة بأن أورشليم كلها قد اضطربت&#8221;.</p>
<p><strong>أما في مزمور القدّاس</strong> تؤكد النفس ثباتها لأنها ترى في إلهها الملك الذي يملك على كل شئ.</p>
<p>&#8220;اصغ الى صوت طلبتي يا ملكي وإلهي&#8221;.</p>
<p><strong>ويختم إنجيل القدّاس</strong> بالحديث عن شريعة الكمال ومصدر الكمال الذي يجب أن تتطلع إليه نفوسنا وترجوه قلوبنا، ومدي سموّ محبته للكل وصلاحه الإلهي الذي يحتضن الخليقة كلها أشراراً وصالحين.</p>
<p>&#8220;قد سمعتم أنه قيل تحب قريبك وتبغض عدوك، وأما أنا فأقول لكم أحبوا أعدائكم باركوا لاعنيكم وصلوا عن الذين يطردونكم، لكي تكونوا أبناء أبيكم الذي في السموات، لأنه يشرق شمسه على الأشرار والصالحين ويمطر على الأبرار والظالمين، فكونوا أنتم كاملين كما أن أباكم الذي في السموات كامل&#8221;.</p>
<p></p>
<h3>ملخّص القراءات</h3>
<table width="504">
<tbody>
<tr>
<td width="96">مزمور باكر والقدّاس</td>
<td width="408">الله هو حظّ النفس وملكها وهى لاتلتمس إلّا وجهه.</td>
</tr>
<tr>
<td width="96">إنجيل باكر</td>
<td width="408">شريعة العهد الجديد هي شريعة الكمال.</td>
</tr>
<tr>
<td width="96">البولس</td>
<td width="408">العبادة والتوبة الكاملة - الطريق لأختبار إرادة الله الكاملة.</td>
</tr>
<tr>
<td width="96">الكاثوليكون</td>
<td width="408">الصبر الكامل في الضيقات يؤهل المسيحي لنوال إكليل الحياة.</td>
</tr>
<tr>
<td width="96">الإبركسيس</td>
<td width="408">الضيقات الشديدة تواجه الكنيسة ورعاتها بسبب الإيمان.</td>
</tr>
<tr>
<td width="96">إنجيل القدّاس</td>
<td width="408">صلاح الآب في عطاؤه لكل البشر هو الكنز الذي يسعي المسيحي لإعلانه في حياته ومعاملاته.</td>
</tr>
</tbody>
</table>
<p></p>
<h3>الكنيسة في قراءات اليوم</h3>
<table width="503">
<tbody>
<tr>
<td width="110">إنجيل باكر</td>
<td width="393">الدينونة – الزواج والطلاق – القسم.</td>
</tr>
<tr>
<td width="110">البولس</td>
<td width="393">العبادة والمواهب الكنسية.</td>
</tr>
<tr>
<td width="110">الكاثوليكون</td>
<td width="393">وعد الرب بإكليل الحياة لمن يصبر في التجارب.</td>
</tr>
<tr>
<td width="110">إنجيل القدّاس</td>
<td width="393">شريعة الكمال.</td>
</tr>
</tbody>
</table>
<p></p>
<h3>عظات آبائية :</h3>
<h4> الصلاة طريق الكمال لمار اوغريس</h4>
<div> أقوال القديس أوغريس فى الصلاة :</div>
<div></div>
<div>١- الصلاة هى حديث الروح الدائم مع الله ، فأى درجه يجب أن تصل اليها النفس ، وأى جهاد يجب أن الروح تمارسه لكى تسود بلا تردد</div>
<div>٢- قف بثبات وانتباه فى الصلاة . ولا تنتبه لأى اهتمام آخر أو لأى فكر يأتى اليك لأن هذه الأفكار لن تصنع أكثر من ازعاجك وابعادك عن ثباتك فى الهدف.</div>
<div>٣- جاهد لكى تجعل عقلك أخرس وأطرش فى وقت الصلاة وعندئذ تقدر أن تصلى .</div>
<div>٤- الصلاة هى الزهره الجميلة للوداعة وضبط النفس.</div>
<div>٥- الصلاة هى ثمرة الفرح والشكر.</div>
<div>٦-الصلاة هى استبعاد الحزن واليأس.</div>
<div>٧- أحيانا نشعر بالهدوء والخشوع أثناء الصلاة ، وأحيانا أخرى يكون علينا أن نجاهد كثيرا فى وقت الصلاة لأننا نكون مهزومين بشهوات مختلفة ، ولكن اذا استمرت الروح فى جهادها فانها سوف تصل الى هدفها واذا قرعت على الباب بشده كافية فسوف يفتح لها.</div>
<div>٨- صلى ولا تجعل نهاية لصلاتك حتى تكمل رغبتك الخاصة وتتأكد أن صلاتك هى وفقا لمشيئة الله ، وحين تتعلم هذه اليقظة عليك أن تصلى لتكمل مشيئة الله فيك، وفى كل أمر اسأل الله كل ما هو صالح ومفيد لنفسك</div>
<div>٩- لا تضطرب كثيرا بل اغصب نفسك حتى تحصل على استجابه سريعه لطلباتك، ان الرب يرغب أن يعطيك أكثر مما تطلب عوضا عن مثابرتك فى الصلاة أليه لأنه أى شىء أعظم من الحديث بدالة مع الله وأن تنشغل بمصاحبة الله لك ؟ ان الصلاة بلا تشتت هى أعظم عمل للعقل.</div>
<div>١٠- ان الصلاة هى صعود الروح الى الله.</div>
<div>١١- حيثما تصلى سواء بمفردك أو مع الأخوه اجتهد أن تجعل صلاتك أكثر من عادة ، اجعلها اختبار داخلى.</div>
<div>١٢- حينما تصلى اجعل ذاكرتك تحت رعايتك ولا تجعل عقلك يقترح عليك بعض الخيالات بل اجعله خذرا لتصل الى الله واعلم أن الذاكرة لديها المقدرة على افساد الروح فى وقت الصلاة.</div>
<div>١٣- ان درجة الصلاة ممكن أن تصفها حسب تعودها على الهدوء ، وهى تصل الى الحقيقة العقلية حيث تحب الحكمة وتصير روحية بالحب الحقيقى.</div>
<div>١٤- ان الذى يجاهد فى الصلاة الحقيقية يجب أن يسيطر ليس فقط على الغضب والشهوة بل يجب أن يحرر نفسه من كل فكر له علاقة بالشهوة.</div>
<div>١٥- ان الانسان الذى يحب الله هو دائما يحيا ويتكلم معه كأب ويبتعد عن كل فكر له علاقه بالشهوة.</div>
<div>١٦- اذا كنت لاهوتيا فانك بالحق تصلى واذا كنت تصلى فانك بالحق تصير لاهوتيا.</div>
<div>١٧- حينما ترجع روحك الى حالتها الأولى ، فانك شيئا فشيئا تبتعد عن شهوات الجسد بسبب التهاب وحماس طلب الله ، وعندئذ سوف تبعد كل فكر له علاقه بالحواس أو الذاكرة ، وتضبط نفسك وتمتلىء بالخشوع والفرح معا ،حينئذ تأكد أنك تقترب من المدينه التى اسمها الصلاة.</div>
<div>١٨- ان الروح القدس يشفق على ضعفنا ورغم أننا غير أطهار الا أنه كثيرا ما يأتى ويفتقدنا واذا ما وجد أرواحنا تصلى اليه بدافع الحب من أجل الحق فانه ينزل ويطرد كل جيش الأفكار التى تضايقنا وسوف يحث أرواحنا الى عمل الصلاة الروحانية.</div>
<div>١٩- اذا صليت فارفض كل ما هو ليس صلاة وعندئذ حين يقترب منك الله فهو وحده الذى يصاحبك.</div>
<div>٢٠- حينما تصلى لا تتخيل فى نفسك أى شكل للاهوت وتجنب أن تسمح لروحك أن تنشغل بأى شكل خارجى والأفضل أن تتحرر من كل شىء لكى تقترب من الوجود غير المادى وعندئذ يبقى الله فى فهمك.</div>
<div>٢١- قف وأحرس روحك واجعلها حره من كل فكر فى وقت الصلاة حتى تبقى فى عمق هدوئها وعندئذ سيأتى الله الشفوق لكى يفتقدك لتصل الى موهبة الصلاة المملوءة مجدا .</div>
<div>٢٢- انك لن تستطيع أن تصلى بطهارة حين تكون متعلقا بالأمور المادية ومرتبطا بالأمور الزائلة لأن الصلاة هى مقاومة الأفكار الشريرة.</div>
<div>٢٣- حين تصلى لا تثبت قلبك فيما تظن أنه حسن لك بل ثبته فيما يسر الله وهذا سوف يحررك من الأضطراب وسوف تشغل بالشكر فى صلاتك.</div>
<div>٢٤- عن طريق الصلاة الحقيقية يتحول الراهب ( الانسان ) الى ملاك لأنه سوف يشتاق بحرارة أن يرى وجه الآب فى السماء.</div>
<div>٢٥- لا تجهد نفسك فى تخيل بعض الأشكال والصور وقت الصلاة.</div>
<p>٢٦- لا تشته أن ترى ملائكه أو قوات أو حتى المسيح نفسه حتى لا تخدع وتأخذ ذنبا بدلا من المكافأة وتوقر الأعداء بدلا من الله.</p>
<p>٢٧- دعنى أكرر ما قلته فى مناسبات مختلفة ، سعيدة تلك الروح التى تسعى للكمال بدون أى شكل حسى وقت الصلاة وسعيدة تلك الروح التى تصلى بلا تشتت فان رغبتها وشوقها الى الله يزداد.</p>
<p>٢٨- سعيدة تلك الروح التى تحررت من كل شىء وتخلصت من الكل وقت الصلاة.</p>
<p>٢٩- سعيدة تلك الروح التى تسعى للكمال والخلاص من الخبرات الحسية وقت الصلاة.</p>
<p>٣٠- هل تريد أن تصلى ؟ أطرد من فكرك الأشياء العالمية ، واقتن السماء كوطن لك ، واحيا هناك دائما ، ليس بالكلام فقط ولكن بالأعمال اسلك ولتشابه الملائكه فى المعرفة.</p>
<p>٣١- ان فائدة الصلاة ليس فقط فى نوعها ولكن أيضا فى كميتها وهذا واضح من مثل الفريسى والعشار اللذين دخلا كلاهما الى الهيكل ومن قول الكتاب &#8221; لا تكرروا الكلام باطلا &#8221; (لو١٨: ١٠ ؛ مت ٦: ٨).</p>
<p>٣٢- حينما تصلى ارتفع فوق كل فرح ، وعندئذ سوف تحصل على الصلاة الحقيقية.</p>
<p>المرجع : كتاب سياحة القلب صفحة ١٣٧ – تعريب وتقديم القمص اشعياء ميخائيل – كنيسة الملاك الضاهر</p>
<p></p>
<h4>حديث للطوباوية سنكليتيكي عن المحبة والبعد عن الغضب.</h4>
<div> &#8220;المحبة هي كنز ثمين، لذلك يؤكد الرسول عليها في كلامه، وحتى إذا اقتنيت كل شيء وأرهقت الجسد وليس لي محبة، فكأني لم أقتنى شيئًا: &#8220;إن كنت أتكلم بألسنة الناس والملائكة ولكن ليس لي محبة فقد صرت نحاسًا يطن أو سنجًا يرن&#8230;. وإن سلمت جسدي حتى احترق وليس لي محبة فلا أنتفع شيئًا&#8221; (١كو ١٣: ١- ٣). عظيمة هي المحبة للصالحين، كما أنه مخيف وعنيف الغضب عند الأشرار. لأن الغضب يجعل النفس مظلمة ويزعجها ويقودها إلى الحمق. السيد الرب دبر لنا الخلاص من كل شيء، ولن يسمح بأي حال أن تكون النفس بلا أي حماية ولو قليلة. رغبة وشهوة العدو هي في إثارتنا وزحزحتنا، ولكن الرب يحاربه فينا بالانضباط والاعتدال. الكبرياء يحدر النفس، أما الاتضاع ليس بعيدًا عن أن تناله النفس. الكراهية تنفخ النفس، أما المحبة تجعل النفس أكثر ثباتًا. ومن منا تثيره سهام العدو، فإن أسلحة محاربتنا بالرب تجعل العدو يسقط من ذاته، وتقودنا إلى الخلاص منه ومن الخضوع لعثراته وسقطاته.</div>
<div>الضرر من غضب الأشرار، لأنه قال: &#8220;غضب الإنسان لا يصنع بر الله&#8221; (يع ١: ٢٠). لذلك يجب على الإنسان أن يتحكم في غضبه، ويدرك الفائدة من ضبط الغضب في حينه، وإن كان ينبغي أن نغضب فلنغضب ضد ما هو نافع للشياطين. لأنه من غير اللائق أن نتصرف بعنف تجاه الناس، لأنه بالعنف نقع في الخطايا، فيجب أن نتوب عنه وأن نوقف آلام الغضب في أنفسنا.</div>
<div>وأيضًا حتى الذين يغضبون قليلًا فهم محسوبين من الأشرار، ومن يحقد على الكل فهو أكثر قسوة. لأن دخان الغضب تزعج النفس وتجعلها تنحل، وأيضًا الحقد والرغبة في الانتقام يعيق بنيان النفس وثباتها، فهو عمل أكثر بغضة من عمل الأفعى نفسها. ومثل الكلب الذي ينبح من أجل الأكل، هكذا من يتحول إلى الغضب. وأيضًا من يتظاهر باللطف في التعامل فهو يتصرف مثل الحية. والذي يصل إلى الرغبة في الانتقام والحقد لا يقبل النصيحة ولا تشبعه الوداعة. وبالحقيقة ولا واحد من كل الذين يغيرون فكرهم عن ألم الغضب هذا يشفى منه في الوقت المناسب. وكل هؤلاء الدائمي الاشتعال بالغضب فهم أكثر المخالفين للناموس، لأنهم لا يطيعون كلام الله القائل: &#8220;اذهب أولًا اصطلح مع أخيك. وحينئذ تعال وقدم قربانك&#8221; (مت ٥: ٢٤)، وفى مكان آخر يقول: &#8220;لا تغرب الشمس على غيظكم&#8221; (أف ٤: ٢٦).</div>
<div>حديثها عن ثلاثة أشياء توصل الناس إلى الحياة السعيدة</div>
<div>ثلاثة أشياء في حياة الناس يصلون بها إلى غايتهم. أولها: أن يكون هناك حدود للشر أو نهاية له. والثاني: ترسيخ حياة الشركة مع بعض، والاهتمام بملاحظة ذلك. والثالث: ألا يرتبط الإنسان بفكره فقط، بل يسترشد بالنماذج العظيمة في الكتاب المقدس، وأن يسعى للسلوك في سيرة ترضى الله إلى النهاية.</div>
<div>الناس الأشرار يفرضون قوتهم بطرق عنيفة من أجل أن يمتدوا ويزدادوا. ونصفنا يحاولون تجنب الجهلة والغير منضبطين ويخافون أن يعملوا معهم، ولا ينجذبون إليهم. والصغار يحصلون على فوائد منهم. أما النوع الثالث من الناس، قادرون أن يصلوا إلى غايتهم بقوة وشجاعة، ويعيشون في بيوتهم بين الناس الأردياء ويرغبون في خلاص أنفسهم. لذلك فهم يهانون من الخارجين عنهم، ويستهزئ بهم الكسالى الذين يعيشون معهم ويفترون عليهم ويشوهون سمعتهم. هؤلاء هم الذين ينبهون الناس إلى التسبيح، وبثقة وبلا خوف يكملون عملهم إلى النهاية، لأنهم يسمعون كلام الكتاب: &#8220;طوبى لكم إذا طردوكم وعيروكم وقالوا عليكم كل كلمة شريرة من أجلى كاذبين. افرحوا وتهللوا لأن أجركم عظيم في السموات.فإنهم هكذا طردوا الأنبياء الذين قبلكم&#8221; (مت٥: ١١، ١٢). الرب نفسه عمل هذا، إذ كان يأكل مع العشارين والخطاة، لأنه محب للإخوة وكان يقصد أن يخلصهم من أنانيتهم. ونحن نرى الذين يضرمون النار في بيوتهم بارتكاب الأخطاء وهم يحتقرون أنفسهم، وآخرون مصرين على إنهم منقذين من الهلاك، والذين يحترقون بالغضب وهم صابرين على الإهانات، ونصفنا له شكل الأخوة من الخارج وهم مولعون بالخطية ويتجنبون الآخرون، فلا نخاف منهم ومن انتشار نارهم، والذين من النوع الثالث يستمرون في معاقبة جيرانهم الأشرار، ويضرمون النار أكثر في المتفقين معهم ويقودونهم للهلاك، ويقربون الشر من بيوتهم، وهكذا نكون في سفينة حالكة السواد عوض أن نفكر في ترطيب الأمور وتهدأتها. وعلى عكس ذلك الأبرار الصالحين فهم يتخلون عن ممتلكاتهم الشخصية من أجل أن يخلصوا، وهذا هو البرهان على المحبة الحقيقية، هؤلاء هم الذين حفظوا المحبة بإخلاص.</div>
<div> المرجع : سيرة وحياة القديسة والمعلمة الطوباوية سنكليتيكي بقلم القديس البابا اثناسيوس الرسولي – ترجمة ا. بولين تدري</div>
<div>.</div>
<div></div>
<h3> عظات آباء وخدام معاصرون :</h3>
<div id="yiv5850891898yqtfd60615" class="yiv5850891898yqt5806951063">
<p>يوم السبت من الأسبوع الأول لقداسة البابا تواضروس الثاني</p>
<div> مت (٥ :٢٨ – ٤٨)</div>
<h4>هل تحب من يحبك فقط ؟ لقداسة البابا تواضروس الثاني</h4>
<div></div>
<div>هذا الجزء من الإنجيل هو جزء من الموعظة على الجبل ، وهو مملوء بالأسئلة لكن من الممكن أن نجمع كل الأسئلة ونضعها في سؤال واحد هو: هل تحب من يحبك فقط سؤال مهم جدا. ونجد في هذا الجزء نوع من المقارنة بين نصوص العهد القديم &#8221; شريعة موسى &#8221; وبين العهد الجديد &#8221; الشريعة الجديدة &#8221; التي يقدمها السيد المسيح التي هي &#8221; شريعة المحبة &#8220;. وفي هذه المقارنة يقول سمعتم أنه قيل &#8220;عين بعين وسن بسن &#8220;. وأنت يا ربي يسوع المسيح ماذا تقول ؟ &#8220;أما أنا فأقول لكم : لا تقاوموا الشر، بل من لطمك على خدك الأيمن فحول له الآخر أيضاً &#8221; (مت ٥ : ٣٩). ويعطي التجديد للوصية ، وأنتم تعلمون أن علاقة العهد القديم بالعهد الجديد مبنية على عبارة السيد المسيح &#8220;ما جئت لأنقض بل لأُكمل&#8221; (مت ٥ : ١٧). فالسيد المسيح جاء لا لينقض الوصية بل ليكمل فهمها روحياً.</div>
<div>والسؤال هل تُحب من يحبك فقط ؟</div>
<div>ربما تُجيب : وهل تُريد مني أن أحب الذين لا يحبونني ، يجب أن تكون المعاملة بالمثل . لا يا أحبائي ، هذه ليست مسيحيتنا ، فإذا سألنا الرب : كيف تُريد يا رب أن نعامل الناس</div>
<div>يقول لنا : عامل الناس كما أعاملهم أنا. قد تكون هذه الإجابة صعبة ، ولكن السيد المسيح قدم لنا مثالين :</div>
<div>الأول : هو مثال يومي فقد قال لنا : إنه يشرق شمسه على الأشرار والصالحين ، كل يوم وبدون تمييز فالخطية هي التي تفرق بين الناس ، لكن هل الله يوحد ؟</div>
<div>الثاني : هو مثال موسمي ، فهو يمطر على الأبرار والظالمين في موسم المطر دون تفريق .</div>
<div>في المثل الأول يذكر الأشرار أولا، وفي المثل الثاني يذكر الأبرار أولا، وهذا نموذج من الطبيعة يوضح كيف يجب أن تعامل الآخرين ؟ فيجب أن تُعامل الناس كما يعاملهم الله ، والله يعامل البشر من خلال الحب ومن خلال الرحمة ، فمن خلال الحب الشمس تشرق كل يوم ، ومن خلال الرحمة المطر يسقط ويسقي الأرض ويحمل مع الخيرات .</div>
<div>ونجد في العهد القديم ، أو في الشرائع القانونية تناسب بين الجريمة والعقاب ، فمثلاً في العهد القديم من أصاب عين إنسان لا يكون عقابه الإعدام ، بل عين بعين. وعندما جاء السيد المسيح وضع أمامنا مبدأين في التعامل مع كل البشر دون استثناء ، وبدون النظر إلى أي فوارق سواء في اللون أو الجنس أو العرق أو العقيدة &#8230; ولا أي شيء.</div>
<div>لذا هناك مبدآن:</div>
<div>المبدأ الأول : لا نلجأ إلى الانتقام ؛ لأن الانتقام يضاعف الشر، وجميعنا نعرف الآية التي تقول: &#8221; لي النّقمة أنا أجازي يقول الرب &#8221; (رو ۱۲ : ۱۹) ، الله يرى ويتصرف.</div>
<div>المبدأ الثاني : يجب أن نكون محسنين ونافعين للآخرين : فالآخر الذي يفعل الشر لك ، عليك ألا تنتقم منه وهذا نصف الطريق ، أما النصف الثاني هو أن تكون نافعاً له &#8221; من أراد أن يخاصمك ويأخذ ثوبك فاترك له الرداء أيضاً، ومن سخرك ميلاً واحداً فاذهب معه اثنين &#8221; (مت ٥ : ٤٠ - ٤١) .</div>
<div>هذه المحبة التي تقدمها للآخر هي التي تكسر شوكة الشر التي فيه ، فكيف يخرج الشر من إنسان يشعر أن هناك آخر يحبه؟</div>
<div>نعود ونسأل هل تحب من يحبك فقط ؟</div>
<div>هذه ليست مسيحيتنا، فالكتاب المقدس يعلمنا قائلا : &#8221; لأنه إن أحببتم الذين يحبونكم ، فأي أجر لكم ؟ أليس العشارون أيضاً يفعلون ذلك ؟ وإن سلمتم على إخوتكم فقط ، فأي فضل تصنعون ؟ أليس العشارون أيضاً يفعلون هكذا ؟&#8221; (مت ٥ : ٤٦ - ٤٧) . المسيحية يا إخوتي هي شريعة الكمال ، فهي تفوق الإنسانية ، هي تجعل الإنسان أكثر رفعة ، فهناك الإنسان الترابي ، والإنسان العادي ، ولكن يوجد من هو أكثر رفعة وهو الإنسان الروحي ، وهذا ما نسميه &#8220;شريعة الكمال&#8221; في شخص السيد المسيح.</div>
<div></div>
<div>أمثلة من إنجيل اليوم :</div>
<div>* &#8221; من لطمك على خدك الأيمن &#8221; (مت ٥ : ٣٩) . هذه الآية الصعبة من المتوقع والطبيعي أن أرد له اللطمة ، فبعد أن كان هناك شر واحد &#8220;لطمك&#8221;، صاراثنين &#8220;أنت لطمته&#8221; وتساويت به ، ودخلنا في دائرة لا تنتهي . ماذا أعمل ؟ قال : &#8220;من لطمك على خدك الأيمن فحول له الآخر أيضاً &#8221; (مت ٥ : ٣٩)  بالتأكيد أي إنسان يسمع هذه الوصية يجد فيها صعوبة بالغة &#8230; لماذا ؟ لطمك على خدك فيها نوع من الأذى الجسدي ، ولكن لماذا تحول له الآخر؟ معناها أصبر عليه وأعطي فرصة ليراجع نفسه &#8230; تصور شخص لطم شخصاً ما ! ويكون رد فعل الشخص الآخر أن يحول له الخد الآخر، وما نجد إلا أن الشخص المعتدي في حالة إفاقة ويبدأ ينتبه ، ليس هذا ضعفاً لكنه كسب للآخر . قد رأيت ذات مرة موقفاً كهذا وكانت النتيجة أن الشخص المعتدي بدأ يبكي ويصرخ ويركع على الأرض شاعرا بمقدار الخطأ الذي ارتكبه .</div>
<div></div>
<div>* &#8221; من أراد أن يخاصمك ويأخذ ثوبك &#8221; (مت ٥ : ٤)  هنا حالة خصام ، أو حالة فقدان الثوب ، أو حالة ضرر لحق بما تمتلكه ، فكيف أعالجه ؟ قال : &#8220;اترك له الرداء أيضاً &#8221; (مت ٥ : ٤٠). فمن السهل تعويض الرداء ، وعليك أن تصنع معه سلاماً واكسر شوكة الشر التي فيه.</div>
<div>* &#8220;من سخرك ميلاً واحداً &#8221; (مت ٥ : ٤١). وسخرك معناها ظلمك وسلب حريتك وجعلك تعمل عنده بالسخرة فأصبحت مثل العبد ، هو سخرك ميلاً واحداً، ويقول لنا المسيح : &#8220;فاذهب معه اثنين&#8221; (مت ٥ : ٤١).</div>
<div>قصة</div>
<div>شاب قبطي خريج كلية الآداب لم يجد وظيفة مناسبة فعمل في النقاشة استدعاه أحد رجال الأعمال ليعمل له بيته واتفق معه على أن ينتهي العمل في حوالي ثلاثة أسابيع ، بدأ الشاب يعمل لكن الرجل في اليوم الثامن عشر افتعل معه مشاجرة وطرده لكي لا يعطيه أجرته ، وهذا يمثل نوع من الظلم .</div>
<div></div>
<div>ماذا فعل الشاب ؟ ذهب في اليوم التالي وقال له : &#8220;أنت قمت بطردي لكن اسمح لي أن أكمل عملي الذي اتفقت معك عليه &#8220;، فتعجب الرجل &#8230; ! وبدأ الشاب يكمل عمله بكل أمانة والرجل يلاحظه حتى أكمل عمله ، فسأله الرجل : &#8220;لماذا فعلت ذلك ؟&#8221;، قال له الشاب: &#8220;أنا اتفقت معك على عمل البيت ، وأنت طردتني وظلمتني ولم تُعطيني أجرتي وهذا أمر يخصك &#8220;، وكانت النتيجة أن هذا الرجل طلب من الشاب أن يكون شريكاً له في أعماله وانفتحت أمام هذا الشاب أبواب الرزق الواسع جدًا بسبب أمانته ، &#8220;من سخرك ميلا&#8221;، ورجل الأعمال سخره ١٨ يوم، ولكنه ذهب معه اليومين الباقيين لكي يكمل الطريق ، وقيسوا على هذا أمثلة كثيرة يمكن أن يعيش فيها الإنسان . إن مقاومة الشر أو العنف بمثله يزيده ويضاعفه ، لكن الشر لا يمكن أن يقاوم إلا بالخير والسلام ، وهذا هو أساس المسيحية.</div>
<div>شريعة السيد المسيح التي قدمها في الموعظة على الجبل هي لكل يوم ، وهي كلمات عملية صالحة لاستخدامها يومياً ، وقد وضع لنا بعض المعايير &#8220;سمعتُم أنه قيل : تُحب قريبك وتبغض عدوك &#8221; (مت ٥ :٤٣). هذا في العهد القديم، قريبى أحبه وعدوي أبغضه ، وممكن أحاربه وأقتله &#8230; هذا عدوي ، هنا يتكلم عن العلاقات الفردية الشخصية. وماذا يقول لنا العهد الجديد ؟ ماذا أعمل مع عدوي ؟ وكانت المفاجأة هي قوله : &#8220;أحبوا أعداءكم&#8221; (مت ٥ : ٤٤).</div>
<div></div>
<div>ونعود للسؤال التي طرحته كلمة الله علينا : &#8220;هل تحب الذي يحبك فقط ؟&#8221; في مجتمعاتنا، وفي كنائسنا ، وفي أديرتنا &#8230;. هل تحب الذي يحبك فقط ؟ إن كنت كذلك فأنت لا تعيش المسيحية الكاملة.</div>
<div>الإنسان عندما تمتد محبته إلى كل أحد فهو بذلك وضع قدميه على طريق شريعة المسيح.</div>
<div></div>
<div>&#8220;احبوا أعداءكم&#8221; أمر صعب خاصة في العلاقات الاجتماعية ، لكن ربما ترجعوا معي بالذاكرة إلى قصة &#8220;يوسف الصديق&#8221; مع إخوته الذين صاروا في وقت من الأوقات وكأنهم أعداؤه ، ماذا قال لهم ؟ قال:&#8221;أنتم قصدتُم لي شرا، أما الله فقصد به خيراً&#8221; (تك ٥٠ : ٢٠). هو لم يحمل أبدأ بغضة تجاه إخوته رغم كل ما عملوه به .</div>
<div></div>
<div>مواجهة الشر لا تكون إلا بالحب العملي ، ولو نتذكر السيد المسيح وهو على الصليب ، نجد أمامه اليهود الذين صرخوا &#8221; اصلبه اصلبه&#8221;، وعلى يمينه ويساره اللصين المحكوم عليهم بالإعدام ، جو من الصخب والسخرية والاستهزاء والآلام &#8230; نسأله يا يسوع ماذا ستقول ؟ وكانت أول كلمة تخرج من فمه قائلاً : &#8220;يا أبتاه ، اغفر لهم ، لأنهم لا يعلمون ماذا يفعلون&#8221; (لو ٢٣ : ٣٤). واللصان اللذان كانا يعيرانه تكون النتيجة أن اللص اليمين آمن وقال كلماته الجميلة التي تسميها &#8220;أمانة اللص&#8221; وأصليها يوم الجمعة الكبيرة.</div>
<div></div>
<div>وفي وسط هذا الجو لا ينسى ربنا يسوع أمه العذراء ويقدم لنا صورة من صور الوفاء الجميلة ، فيقول لها عن القديس يوحنا الحبيب : &#8220;هذا ابنك&#8221; ويقول للقديس يوحنا الحبيب : &#8220;هذه أمك&#8221;.</div>
<div>عدوك لا يمكن أن تغلبه إلا بالحب العملي ، أحياناً قد لا يكون عدو بالمعني الحقيقي للكلمة ، لكن ربما شخص لا نرتاح إليه ، ماذا تفعل معه ؟ هل تخاصمه وتتجنّبه وتشتكي منه ؟ أو تشوه صورته ؟! هذه أمور مرفوضة ، العلاج هو أن تقدم له مزيدا من الحب، واجه الإساءة بالحب.</div>
<div></div>
<div>تصور إنساناً يسيء إليك، لا تعامله بالمثل بل حول الموقف إلى مادة صلاة ، وهذه قمة سمو المسيحية ، فإن من يسيء إليك باللفظ أو بالشائعات أو بتشويه السمعة أو بأي صورة من الصور، ماذا تفعل معه ؟ المسيح يقدم لنا العلاج &#8221; صلوا لأجل الذين يسيئون إليكم ويطردونكم&#8221;، أصبح لديك مادة جديدة للصلاة ، وموضوع صلاة يمكن أن تتكلم عنه مع مسيحك. &#8220;صلوا لأجل الذين يسيئون إليكم ويطردونكم&#8221; (مت ٥ : ٤٤)؛ لأنهم نفوس لها قيمتها أمام الله مهما كانت صورتها ، وهذا هو العلاج المسيحي الذي يقدمه لنا إنجيل .</div>
<div></div>
<div>إن كنت كذلك فأنت تقف في منتصف الطريق ، وإن كان حبك لمن يحبك فقط فأنت لم تعرف المسيح . لذلك ارفع قلبك إلى الله وقل له:انزع من قلبي كل بغضة ،كل كراهية أو إساءة ، وكل خاطر رديء تجاه أي إنسان . أدرك أنها صعبة على البشر، لكن اطلب نعمة خاصة من ربنا لكي يسندك ، وصل من أجل الذين أساءوا إليك بأي وجه من وجوه الإساءة ، واختبر قوة الصلاة .عندما نتحرر من الكراهية ومشاعر الغضب والمشاعر السلبية من داخل قلوبنا ، نستطيع أن نقتني فضائل عظمى من الله : الحب الكامل ، ومحبة الأعداء ، والرحمة تجاه كل إنسان.</div>
<div></div>
<div>إن المسيحية تفوق الإنسانية ، فمن يقرأ في تاريخ العصر الحديث يجد أن الجمعيات التي ظهرت في العالم لكي تخدم الناس في كل مكان دون أن تعرفهم هي نشأت بفكر إنجيلي ، فمثلاً جمعية الصليب الأحمر التي نشأت لخدمة مصابي الحرب ، وكل العاملين بها متطوعين يريدون أن يعبروا عن محبتهم من خلال هذه الخدمة. والمسيحية ترتقي بالإنسان العادي ، إلى الإنسان الممسوح بنعمة الروح القدس ليصير إنساناً روحياً ،إنساناً مسيحياً بالحق وليس بالكلام ، بالفعل وليس بالاسم أو المظهر، وهذه الصورة هي صورة جهاد مع النفس ، أجاهد لكي يكون قلبي مشبعاً بهذا الحب.</div>
<div>احترس أن تخرج بعد نهاية الصوم كما بدأته ، فتكون قد أضعت على نفسك فرصة ثمينة ، فتقول الترنيمة &#8220;يا دوبك ٥٥ يوم&#8221;، فإذا كنت تجاهد أمام خطية ، أو تجاهد كي تقتني فضيلة فالمدة قصيرة &#8220;يا دوبك ٥٥ يوم &#8220;. فليعطنا مسيحنا حياة نقية ، وأن نمتلك هذه الطاقة ، طاقة الحب لكل أحد .. أمين .</div>
<div></div>
<div> المرجع : كتاب اختبرني يا الله – صفحة ٦٧ - داسة البابا تواضروس الثاني</div>
<div></div>
<h4>  جمر نار للمتنيح انبا ابيفانيوس اسقف ورئيس دير القديس انبا مقار</h4>
<div></div>
<div>بعد أن شرح القديس بولس الرسول ، فى رسالته الى أهل رومية ، حقائق الايمان العظمى ، وعلاقة الناموس بالنعمة ، كتب فى الاصحاح الثانى عشر توصيات هامة لما يجب أن يكون عليه السلوك المسيحى ، وما مفهوم الحب والسلام فى المسيحية . ولكن فى الآية العشرين من هذا الأصحاح ، وخاصة فى نصفها الثانى ، أورد آية اقتبسها من سفر الأمثال (أم ٢٥: ٢٢) ، حيرت الكثير من الشراح فى تفسيرها ، لما يبدو عليها من تناقض مع مفهوم بولس الرسول ، ومفهوم المسيحية عموما ، لوصية محبة الأعداء . يقول بولس الرسول :</div>
<div>†  &#8220;لا تنتقموا لأنفسكم أيها الأحباء ، بل أعطوا مكانا للغضب ، لأنه مكتوب : لى النقمة أنا أجازى يقول الرب . فان جاع عدوك فأطعمه ، وان عطش فاسقه . لأنك ان فعلت هذا تجمع جمر نار على رأسه . لا يغلبنك الشر بل اغلب الشر بالخير&#8221; (رو١٢: ١٩-٢١). يبدأ الأصحاح الثانى عشر بعبارة:&#8221;فأطلب اليكم&#8221; ، كاستجابة لنعمة المسيح التى شرحها لهم فى الأصحاحات السابقة ، فطلب منهم أن يقدموا أجسادهم &#8220;ذبيحة حية مقدسة مرضية عند الله&#8221; . ثم فى الفقرة التالية (١٢: ٣- ٨) يشرح لهم مفهوم الذبيحة الحية ، وما يجب عليهم من احترام المواهب المختلفة المعطاة لكل واحد منهم ، والتى برغم تنوعها ، فانها تثرى الكنيسة ، وتجعل من الجميع جسدا واحدا للمسيح .</div>
<div></div>
<div>وفى الفقرة التالية (١٢: ٩- ١٣) يضع بولس الرسول الأساس الذى ينبغى أن يقوم عليه بناء الجماعة ، وذلك فى صورة ١٣ وصية ، وصايا تؤدى الى حياة الجماعة ونموها فى المحبة :</div>
<div>المحبة فلتكن بلا رياء ، كونوا كارهين الشر ، ملتصقين بالخير ، وادين بعضكم بعضا بالمحبة الأخوية ، مقدمين بعضكم بعضا فى الكرامة ، غير متكاسلين فى الاجتهاد ، حارين فى الروح ، عابدين الرب ، فرحين فى الرجاء ، صابرين فى الضيق ، مواظبين على الصلاة ، مشتركين فى احتياجات القديسين ، عاكفين على اضافة الغرباء .</div>
<div>وفى الآيات التى تلى ذلك (١٢: ١٤- ١٧) يورد أيضا مجموعة من الوصايا ، الامتثال لها واطاعتها يجعل الجماعة تعيش فى سلام ، سلام مع نفسها ومع الآخرين:</div>
<div>باركو على الذين يضطهدونكم ، باركوا ولا تلعنوا ، فرحا مع الفرحين ، وبكاء مع الباكين . مهتمين بعضكم لبعض اهتماما واحدا ، غير مهتمين بالأمور العالية ، بل منقادين الى المتضعين ، لا تكونوا حكماء عند أنفسكم ، لا تجازوا أحدا عن شر بشر، معتنين بأمور حسنة قدام جميع الناس .</div>
<div></div>
<div>ثم فى الآية (١٨) يجمل الأمر بالوصية التى تحقق سلام الجماعة كلها :</div>
<div>&#8220;ان كان ممكنا فحسب طاقتكم سالموا جميع الناس&#8221; .</div>
<div>ان القوة الدافعة فى رسالة رومية التى تغذى كل الآيات ، وخاصة الآيات (١٩- ٢١) ، والتى بدونها يحدث انقسام وخلل فى كنيسة رومية ، هى مثال المسيح الواضح فى الآية (٥: ١٠) : &#8220;لأنه ان كنا ونحن أعداء قد صولحنا مع الله بموت ابنه&#8221;، فنحن لم نكن أبرارا ولا قديسين لذلك استحققنا موت المسيح من أجلنا ، بل كنا أعداء عصاة متمردين ، وجميعنا أعوزنا مجد الله ؛ ومع ذلك مات المسيح من أجلنا  . فماذا سيكون موقفنا من أعدائنا بعد أن نلنا المصالحة مع الله ؟</div>
<div></div>
<div>وتستمر الرسالة الى أهل رومية فى تقديم النصائح التى تحث الجماعة أن تعيش معا فى اتفاق وانسجام واحد . ففى الأصحاح الثالث عشر يحثهم أن يعيشوا فى سلام مع السلطات المدنية ، وفى الأصحاحين الرابع عشر والخامس عشر يحد من التوتر الناشىء بين اليهود والأمم من حيث أنواع المأكولات ومفهوم الطاهر والنجس ، ثم يختم الرسالة بتحية لكل أفراد الكنيسة الذين يعيشون معا فى سلام ومحبة .</div>
<div>وعندما نأتى الى الآيات (١٢: ١٩- ٢١) والتى يتكلم فيها بولس الرسول عن السلام بين الجماعة : &#8220;لا تنتقموا لأنفسكم أيها الأحباء &#8230;&#8230; لا يغلبنك الشر بل أغلب الشر بالخير&#8221; ، لا نفاجىء بهذه الآيات ، فهذه هى النتيجة الحتمية لكل تعاليم بولس الرسول خلال كل الرسالة ، بل وهى أيضا صدى للعظة على الجبل على فم الرب يسوع : &#8221; أحبوا أعدائكم . باركوا لاعنيكم. أحسنوا الى مبغضيكم &#8220;( مت ٥: ٤٤).</div>
<div>وهذا هو الميزان الذى بواسطته نعلم هل الكنيسة ، أية كنيسة ، هى كنيسة حية تسير حسب تعاليم الرب يسوع والرسل الأطهار ، أم حسب الأية : &#8220;فاذا كنتم تنهشون وتأكلون بعضكم بعضا ، فانظوروا لئلا تفنوا بعضكم بعضا &#8221; ( غل ٥: ١٥) .</div>
<div></div>
<div>†  والأن نأتى الى الآية العشرين :&#8221;فان جاع عدوك فأطعمه ، وان عطش فاسقه.لأنك ان فعلت هذا تجمع جمر نار على رأسه&#8221;. بينما النصف الأول من الآية يتمشى تماما مع تعاليم بولس الرسول فى باقى الرسالة ، فان النصف الثانى يمثل صدمة أو حجر عثرة أمام الكثيرين . فهل جمع جمر نار ووضعه على رأس العدو يمثل نوعا من المحبة أو الشفقة عليه ؟ لأول وهلة تبدو الاجابة بالنفى . فالمفهوم هنا يعنى نوعا من الانتقام من العدو ، بينما النصف الأول من الآية يتوافق مع مثل الدينونة الأخير الذى طالبنا فيه الرب يسوع بعمل الرحمة مع الجميع ، الذين أسمائهم اخوته الأصاغر ( مت ٢٥: ٤٠) .</div>
<div>لقد هاجمت الكنيسة الأولى مفهوم الانتقام الشخصى من العدو باتجاهين فى تفسير هذه الآية . الاتجاه الأول ويظهر فى كتابات بعض الآباء مثل القديس يوحنا ذهبى الفم ، وهو يشرح أنه ان صنعت خيرا مع العدو ، واستمر هو فى عداوته، فان هذه الاستمرارية تعرضه فى النهاية لحكم الله العادل فى الدينونة، وكأنك بذلك تؤكد قضاء الله فى اليوم الأخير . ونجد تلميح المفهوم جمر النار على رأس العدو فى سفر عزرا الرابع وهو من الأسفار الأبوكريفا اليهودية 🙁 لا يقل الخاطىء انه لم يخطىء ، لأن الله سوف يحرق جمر نار على رأس من يقول أنا لم أخطىء أمام الله وأمام مجده) (٤عز ١٦: ٥٣) . وهناك تشبيه مجازى فى سفر المزامير يحمل نفس المعنى :&#8221; ليسقط عليه جمر ، ليسقطوا فى النار وفى غمرات فلا يقوموا &#8220;(مز ١٤٠: ١٠) .</div>
<div></div>
<div>يعزز سياق الآيات هنا هذا التفسير بعض الشىء . ففى أول الآيات يطلب بولس الرسول من المؤمنين ألا ينتقموا لأنفسهم ، بل يتركوا الانتقام لحكم الله . فعليك أن تصنع الخير مع العدو ، وأن تترك لله الحكم عليه . ومشكلة هذا التفسير أنه لا يتمشى تماما مع مفهوم محبة الأعداء . فأنا لا أصنع الخير لعدوى حتى أصب على رأسه غضب الله ، ولا أقدم المعونة لمن يكرهنى لأكون سببا فى دينونته .</div>
<div>† الأتجاه الثانى للتفسير نجده عند أوريجانوس وأوغسطينوس وجيروم وبيلاجيوس . وحسب رأى هؤلاء فان حرق جمر النار على رأس العدو تعبير عن الخزى والخجل الذى يصيب عدوك عندما تصنع معه خيرا . ان رد الاساءة بالاحسان يؤدى بالضرورة بمن صنعت بهم خيرا بمراجعة موقفهم ، ومن ثم يقودهم ذلك الى التوبة . يرد نفس هذا الشرح فى تعاليم اليهود الرابيين على سفر الأمثال</div>
<div>(أم ٢٥: ٢١- ٢٢) ، وهى الآيات التى اقتبسها بولس الرسول هنا فى رسالة رومية :&#8221;ان جاع عدوك فاطعمه خبزا ، وان عطش فاسقه ماء، فانك تجمع جمرا على رأسه ، والرب يجازيك&#8221; . وأهمية هذا التفسير انه يتوافق مع سياق الرسالة ، كما أنه لا يتعارض مع مفهوم محبة الأعداء عموما فى المسيحية .</div>
<div></div>
<div>† فى بداية القرن العشرين ، ونتيجة للأبحاث الجيولوجية الخاصة بالكتاب المقدس، تم القاء بعض الضوء على تفسير آيتى رسالة رومية وسفر الأمثال . فيرى بعض العلماء أن آيات سفر الأمثال (٢٥: ٢١- ٢٢) تعكس بعض مظاهر الحياة فى مصر القديمة . فالآية التالية مباشرة &#8220;ريح الشمال تجلب المطر &#8220;(أم ٢٥ : ٢٣ تفسيرية) تنطبق على حالة الطقس فى مصر وليس فى فلسطين .</div>
<div>فمن الممارسات الشعبية فى مصر القديمة، عندما كان يخطىء أحد الأشخاص فى حق آخر ، كان المخطىء يضع جمر نار فى اناء فخارى ويحمله على رأسه ويذهب به الى الشخص الذى أخطأ فى حقه . وجمر النار هنا ليس تعبيرا عن الخزى والخجل الذى يدفع للتوبة ، كما فى تفسير أوريجانوس وأغسطينوس ، ولكنه رمز للتوبة . وقد نشر عالم المصريات Siegfried  Morenz بحثا عن هذه العادة التى كانت متبعة فى مصر القديمة ، كما اكتشف العلماء الأوانى الفخارية التى كانت تستعمل فى حمل جمر النار على الرأس . فيكون المقصود من هذه الآية حسب الأبحاث أنك ان فعلت خيرا مع عدوك ، فان هذا الخير سوف يقوده الى التوبة ، فكأنه سيحمل على رأسه جمر نار كرمز لانتهاء هذه العداوة والبدء فى حياة جديدة يسودها الود والمحبة .</div>
<div></div>
<div>وبغض النظر عن التفسير الحرفى لهذه الآيات ، فاننا نعلم أن كل وصية فى الكتاب تحمل معها قوة على التنفيذ . وقد اختبر آباؤنا قوة هذه الآيات ، وكانوا يقومون بعمل الخير مع كل من يقصدهم حتى ولو كان يحمل لهم روحا عدوانية . وقد اختبروا جميعا قوة التغيير التى يحدثها فعل الخير فى الآخرين ، أكثر مئات المرات من قوة الاقناع أو المجادلة ، بل وأكثر أيضا من محاولة الدفاع عن النفس ولو حتى بالطرق المشروعة .</div>
<div>وقد أورد لنا كتاب بستان الرهبان هذه السيرة : يحكى عن راهب  مجاهد انه فى وقت أتاه اللصوص وقالوا له :&#8221;جئنا لنأخذ جميع ما فى قلايتك&#8221; ، فقال لهم : &#8220;خذوا ما شئتم أيها الأولاد&#8221; . فلما أخذوا جميع ما وجدوه مضوا ونسوا مخلاة مستورة بخوص ، فلما نظرها الشيخ أخذها وخرج يخطو ورائهم وهو يصيح ويقول :&#8221;يا بنى ، خذوا ما قد نسيتم&#8221; . فلما رأوا ذلك منه عجبوا من دعته وسلامة قلبه ، ردوا كل ما قد أخذوه الى قلايته . وقال بعضهم لبعض :&#8221;بحق ان هذا رجل الله&#8221; ،وكان ذلك سبب توبتهم وتركهم ما كانوا عليه من اللصوصية .</div>
<div></div>
<div>كما يقص علينا أيضا بستان الرهبان هذه القصة : قصد الأب يوحنا الفارسى أناس أشرار خبثاء ، فأخذ ماء فى طست وغسل أقدامهم ، فما كان منهم الا أن احتشموا من اكرامه لهم ، فتابوا .</div>
<div>قدم لعدوك كأس ماء بارد وأظهر له المحبة المسيحية الحقيقية ، بدلا من مناقشته فى عداوته وتخطئة وجهة نظره . ومن أعطاك الوصية قادر أن يعطيك معها بركة طاعة الوصية . فان جاع عدوك فاطعمه خبزا ، وان عطش فاسقه ماء ، لانك ان فعلت ذلك ، فسوف تقوده الى التوبة وتكون بذلك قد ربحت أخاك الذى أمرك الانجيل أن تحبه ، حتى ولو كان غريبا عن جنسك .</div>
<div></div>
<div>وكما يقول الأب متى المسكين فى تفسيره لرسالة بولس الرسول لأهل رومية :</div>
<div>(أنا أطعم كل جائع فى شخص المسيح وكأنه المسيح ، وأسقى كل عطشان فى شخص المسيح وكأنه المسيح ، لأنى أحمل روح المسيح وحبه المجانى الذى أحبنى به وأنا كنت عدوا له . ان الانسان المسيحى لابد أن يعلن عن روح المسيح الذى فيه. فمن جهة عدوى أنا أظهر له روح المسيح الذى فى بحبى واطعامى له وسقيه ، الى هذا الحد أنا أكرز وكل ما أرجوه أن عدوى يحس بروح المسيح الذى فى) .</div>
<p>المرجع : كتاب مفاهيم انجيلية صفحة ٣٢٢ – الانبا ابيفانيوس اسقف ورئيس دير القديس انبا مقار</p>
</div>
<p></p>
<hr />
<p></p>
<p><a href="#_ftnref1" name="_ftn1">[1]</a><sup>- مجلة مرقس - ص 34 - عدد  فبراير 1986 .</sup></p>

      {% endcreateArticleAccordions %}
    </section>
  {% endblock %}
  