---
layout: 'layouts/reading.html'
title: 'قراءات يوم الأثنين من الأسبوع الثاني'
tags: 'great-lent'
permalink: /articles/great-lent/2-1.html
---
  {% block content %}
    <section id="readings">
      <ul>
      {% if 'undefined' != 'undefined' %}
      
      {% else %}
      {% if 'null' != 'null' %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">العشية</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeVespers '' '' %}
          </div>
        </div>
      </li>
      {% endif %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">باكر</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeMatins '19.40:11' '41.9:25-29' '2.3:6-14@23.4:2-5:7' %}
          </div>
        </div>
      </li>
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <h3 class="flex items-center justify-between">
            <span class="kufi">القداس</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </h3>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeLitugy '45.1:18-25' '65.1:1-8' '44.4:36-5:11' '19.29:1-2' '42.18:1-8' %}
          </div>
        </div>
      </li>

      {% endif %}
        </ul>
    </section>
    <section id="article">
      <h3 class="mt-8 mb-4 heading-explain">شرح القراءات</h3>
      {% createArticleAccordions %}
        <p>&#8220;وَنَحْنُ جَمِيعًا نَاظِرِينَ مَجْدَ الرَّبِّ بِوَجْهٍ مَكْشُوفٍ، كَمَا في مِرْآةٍ، نَتَغَيَّرُ إِلَى تِلْكَ الصُّورَةِ عَيْنِهَا، مِنْ مَجْدٍ إِلَى مَجْدٍ، كَمَا مِنَ الرَّبِّ الرُّوحِ.&#8221; (٢كو ٣: ١٨)</p>
<p>[أنر عقولنا لنعاين سبحك. نق أفكارنا وأخلطنا بمجدك. حبك أنزلك إلى هبوطنا. نعمتك تصعدنا إلى علوك] (قسمة للقدّيس كيرلس)</p>
<p>[مجد الله هو الإنسان الحي] (القديس إيريناؤس)<a href="#_ftn1" name="_ftnref1">[1]</a></p>
<p>[إن المجد الذي ظهر على وجه موسى رمزًا للمجد الحقيقي، وكما لم يستطع اليهود أن ينظروا إلى وجه موسى، هكذا فإن المسيحيين يحصلون على مجد النور في داخل نفوسهم. أما الظلمة فتضمحل وتهرب، إذ لا تحتمل لمعان النور] (القديس مقاريوس الكبير)<a href="#_ftn2" name="_ftnref2">[2]</a></p>
<h3>شواهد القراءات</h3>
<p>(خَر٣: ٦-١٤)، (أش٤: ٢- الخ، ص٥: ١-٧)، (مز١٠:٣٩)، (مر٩: ٢٥-٢٩)، (رو١: ١٨-٢٥)، (يه ١: ١-٨)، (أع ٤: ٣٦-الخ، ص ٥: ١-١١)، (مز ٣٨: ١-٨)، (لو ١٨: ١-٨).</p>
<h3>شرح القراءات</h3>
<p><strong>تتكلّم قراءات هذا اليوم</strong> عن مجد الله الذي هو كنز النفس رغم ظلم البشر.</p>
<p><strong>تبدأ القراءات</strong> بصراخ الشعب من العبودية الثقيلة لفرعون الذي هو رمز الشيطان وإستجابة الله لصراخ الشعب ووعده بالخلاص.</p>
<p>&#8220;فقال الرب لموسى إني نظراً نظرت إلى مذلة شعبي الذي في مصر وسمعت صراخهم من قبل مسخريهم، وعلمت بتنهدهم فنزلت لأنقذهم من أيدي المصريين وأصعدهم من تلك الارض إلى أرض جيدة وواسعة&#8221;</p>
<p><strong>وفي سفر إشعياء</strong> عن مجد الله في كل الأرض.</p>
<p>&#8220;في ذلك اليوم ينير الله بمشورة ومجد على الأرض ليتعالى ويتمجد من يبقى من إسرائيل&#8221;</p>
<p><strong>وعن أن مجد الله</strong> <strong>الحقيقي</strong> هو خلاص أولاده.</p>
<p>&#8220;لأن الرب يغسل دنس بني إسرائيل وأولاد صهيون ويمحو الدماء من وسطها بروح القضاء وروح الإحراق&#8221;</p>
<p><strong>كما يكشف</strong> عن مصير الأمة اليهودية التي رفضت الكرمة الحقيقية.</p>
<p>&#8220;والآن يا رجال يهوذا وسكّان أورشليم احكموا بيني وبين كرمي ماذا يُصنع لكرمي ولم أصنعه له لأني رجوت أن يصنع عنباً فأخرج شوكاً فالآن أعلمكم ماذا أفعل بكرمي أقلع سياجه فيصير للنهب وأهدم جدرانه فيكون مدوساً&#8221;</p>
<p><strong>ويعلن مزمور باكر</strong> أن مجد الله هو حنين النفس ورجائها.</p>
<p>&#8220;وأنت أيها الرب إلهى لا تبعد رأفاتك عني رحمتك وبرك هما اللذان اقتبلاني في كل حين&#8221;.</p>
<p><strong>ويبرز إنجيل باكر</strong> عمل ابن الله الدائم للبشرية فهو يخلّص الإنسان من قبضة الشيطان ويقيمه على الدوام.</p>
<p>&#8220;فلما رأى يسوع أن الجمع يتراكضون انتهر الروح النجس قائلاً له: أيها الروح الأبكم الأصم أنا آمرك أخرج منه ولا تدخله بعد فصرخ وصرعه كثيراً وخرج، فأمسك يسوع بيده وأنهضه فقام&#8221;.</p>
<p><strong>ويحذّر البولس</strong> من رفض البشر بإرادتهم لحضور الله وفعله في الكون رغم إستعلان مجده في الخليقة.</p>
<p>&#8220;لأن غضب الله مُعلن من السماء على كل نفاق وظلم الناس الذين يحجزون الحق بالظلم إذ معرفة الله ظاهرة فيهم لأن الله أظهرها لهم لأن أموره غير المنظورة تٰري منذ خلق العالم مُدرَكة بالمصنوعات التي هى قدرته ولاهوته حتى أنهم بلا عذر فإنهم لما عرفوا الله لم يمجدوه ولم يشكروه كإلهٍ بل حمقوا في أفكارهم وأظلم قلبهم العديم الفهم&#8221;.</p>
<p><strong>ويُكمِّل الكاثوليكون التحذير</strong> بذكر أمثلة من القديم مثل هلاك بني إسرائيل الذين عبروا مع موسى النبي البحر لكن جرّبوا الرب وأيضاً أهل سدوم وعمورة بل والملائكة الذين لم يحفظوا رئاستهم أيضاً سكنوا الجحيم.</p>
<p>&#8220;فأريد أن تذكروا إذ قد عرفتم كل شئ مرّة أن يسوع خلص شعبه من أرض مصر، وفي الثانية أهلك الذين لم يؤمنوا، والملائكة الذين لم يحفظوا رئاستهم بل تركوا مسكنهم، حفظهم تحت الظلمة في قيود أبدية إلى دينونة اليوم العظيم&#8221;.</p>
<p><strong>ويكشف الإبركسيس</strong> عن نموذج القدّيس برنابا الذي إقتنى الكنز السماوي فوضع كل ممتلكاته تحت أقدام الرسل.</p>
<p>&#8220;وإن يوسف الملقب من الرسل برنابا، كان له حقل فباعه وأتى بثمنه وألقاه عند أقدام الرسل&#8221;.</p>
<p><strong>ولكنّه أيضا</strong> يكشف عن صورة مؤلمة لأسرة هلكت بسبب الإتفاق على الكذب على روح الله. &#8220;فقال لها بطرس لما اتفقتما على هذا الأمر بينكما أن تجربا روح الرب هوذا أرجل الذين دفنوا زوجك على الأبواب وسيحملونك أنت أيضاً&#8221;.</p>
<p><strong>وفي مزمور القدّاس </strong>تسبّح النفس إلهها وتقدّم له تقدمات وذبائح علامة توبتها وتمجيدها له. &#8220;قدموا للرب يا أبناء الله قدموا للرب أبناء الكباش قدموا للرب مجداً وكرامة قدموا للرب مجداً لأسمه&#8221;.</p>
<p><strong>ويختم إنجيل القدّاس</strong> بإفتقاد الله للمظلومين والمضطهدين الصارخين إليه على الدوام من ظلم البشر.</p>
<p>&#8220;أفلا ينتقم الله لمختاريه الذين يصرخون إليه النهار والليل وهو متمهل عليهم نعم أقول لكم إنه ينتقم لهم سريعاً ولكن إذا جاء إبن الانسان أترى يجد الإيمان على الأرض&#8221;.</p>
<h3>ملخّص القراءات</h3>
<table width="506">
<tbody>
<tr>
<td width="129">سفر الخروج</td>
<td width="378">الشعب يصرخ من عبودية فرعون رمز الشيطان والله يعطي وعد الخلاص.</td>
</tr>
<tr>
<td width="129">سفر إشعياء</td>
<td width="378">مجد الله الحقيقي هو خلاص الإنسان .</td>
</tr>
<tr>
<td width="129">مزمور باكر</td>
<td width="378">مجد الله هو حنين النفس ورجاؤها.</td>
</tr>
<tr>
<td width="129">إنجيل باكر والبولس</td>
<td width="378">مجد الله ظاهر في خلقته للعالم ومصنوعاته وفي سلطانه على الأرواح النجسة.</td>
</tr>
<tr>
<td width="129">البولس، الكاثوليكون،  الإبركسيس</td>
<td width="378">خطورة الاستهانة بمجد الله للعالم والشعوب والملائكة والأسرة.</td>
</tr>
<tr>
<td width="129">مزمور القدّاس</td>
<td width="378">النفس التائبة تقدّم ذبائح التمجيد.</td>
</tr>
<tr>
<td width="129">إنجيل القدّاس</td>
<td width="378">إفتقاد الله لصراخ المظلومين وإعلان مجده لهم.</td>
</tr>
</tbody>
</table>
<h3>الكنيسة في قراءات اليوم</h3>
<table width="506">
<tbody>
<tr>
<td width="129">سفر الخروج</td>
<td width="378">القيامة</td>
</tr>
<tr>
<td width="129">إنجيل باكر</td>
<td width="378">الصوم</td>
</tr>
<tr>
<td width="129">الكاثوليكون</td>
<td width="378">التقليد المقدَّس</td>
</tr>
<tr>
<td width="129">الإبركسيس</td>
<td width="378">لاهوت الروح القدس</td>
</tr>
<tr>
<td width="129">إنجيل القدّاس</td>
<td width="378">المجئ الثاني</td>
</tr>
</tbody>
</table>
<h3></h3>
<h3></h3>
<h3>عظات آبائية :</h3>
<h4>الصلاة كل حين بدون ملل للقديس كيرلس الأسكندري</h4>
<p>(مثل المرأة وقاضي الظلم) (لوقا ١٨ : ١ – ٨): &#8221; وقال لهم أيضاً مثلاً في أنه ينبغي أن يصلي كل حين ولا يمل: كان في مدينة قاض لا يخاف الله ولايهاب إنساناً. وكان في تلك المدينة أرملة. وكانت تأتي إليه قائلة: أنصفني من خصمي. وكان لا يشاء إلى زمان. ولكن بعد ذلك قال في نفسه: وإن كنت لا أخاف الله ولا أهاب إنساناً. فإني لأجل أن هذه الأرملة تزعجني انصفها لئلا تأتى دائماً فتقمعنى. وقال الرب: اسمعوا ما يقول قاضي الظلم. أفلا ينصف الله مختاريه الصارخين اليه نهاراً وليلاً وهو متمهل عليهم ؟. اقول لكم أنه ينصفهم سريعاً ولكن متى جاء ابن الإنسان ألعله يجد الإيمان على الأرض؟ &#8220;.</p>
<p>المسيح هو ينبوع كل بركة &#8221; الذي صار لنا حكمة من الله&#8221; (١كو ١ : ٣٠) لأننا فيه صرنا حكماء وممتلئين بعطايا روحية، والآن فكل</p>
<p> من هو مستقيم الرأي سيؤكد أن معرفة تلك الأشياء التي بواسطتها يمكننا أن نفلح في كل طريقة تختص بحياة القداسة السامية، والتقدم في الفضيلة، هي هبة من الله، وهي تستحق تماماً أن نربحها لأنفسنا. ونجد أحدهم يطلبها من الله قائلاً: &#8221; أظهر لي یارب طرقك وعلمني سبلك&#8221; (مز ٢٤ : ٤). فالسبل التي تقود أولئك إلى حياة غیر فاسدة، والذين يتقدمون فيها بحماس، هي سبل عديدة. ولكن هناك سبيل واحد يفيد أولئك الذين يمارسونه بنوع خاص ألا وهو الصلاة؛ والمخلص نفسه حرص على أن يعلمنا بواسطة المثل الموضوع أمامنا الآن أننا يجب أن نستخدمه باجتهاد.فهو يقول &#8220;وقال لهم أيضاً مثلاً في أنه ينبغي أن يصلي كل حين ولا يمل&#8221;. وأنا أؤكد أن واجب الذين أوقفوا حياتهم لخدمته ألا يكونوا متكاسلين في صلواتهم، وأيضاً لا يعتبرونها واجباً شاقاً ومتعباً، بل بالأحرى أن يفرحوا، بسبب حرية الاقتراب التي منحها الله لهم، لأنه يريدنا أن نتحدث معه كأبناء مع أبيهم. أفليس هذا إذا امتیازاً جديراً جداً بتقديرنا؟ فإذا افترضنا أننا نستطيع أن نقترب بسهولة من أحد الذين لهم سلطان أرضي عظيم وكان متاحاً لنا أن نتحدث معه بمنتهى الحرية، أما كنا نعتبر هذا سبباً لفرح غير عادي؟ أي شك يمكن أن يكون في هذا؟ لذلك حينما يسمح الله لكل منا أن يقدم طلباته لأجل كل ما نريد وقد وضع أمام الذين يخافونه كرامة حقيقية عظيمة جداً وجديرة بأن نربحها، فليتوقف كل تكاسل يؤدي بالناس إلى صمت مؤذ ، ولنقترب بالأحرى بتسابيح ونبتهج لكوننا قد أمرنا أن نتحدث مع رب وإله الكل، والمسيح وسيط لنا، والذي يمنحنا مع الله الآب تحقيقاً لكل توسلاتنا، لأن الطوباوي بولس المبارك يكتب في موضع ما: &#8220;نعمة لكم وسلام من الله أبينا ومن ربنا يسوع المسيح &#8221; (٢ کو ١: ٢). والمسيح نفسه قال في موضع ما لرسله القديسين: &#8220;إلی الآن لم تطلبوا شيئاً باسمي، اطلبوا تأخذوا&#8221;(يو ١٦: ٢٤). لأنه هو وسيطنا وكفارتنا ومعزينا، والواهب لكل ما نطلب. لذلك فمن واجبنا أن نصلي بلا انقطاع (١ تس ٥ : ١٧)، وبحسب كلمات المبارك بولس، عالمين تماماً ومتيقنين أن من نتوسل إليه هو قادر أن يتمم كل شيء، والكتاب يقول: &#8220;ولكن ليطلب بایمان غير مرتاب البتة لأن المرتاب يشبه موجاً من البحر تخبطه الريح وتدفعه، فلا يظن ذلك الإنسان أنه ينال شيئاً من عند الرب&#8221; (یع ١ : ٦ و ٧). لأن المرتاب يرتكب فعلاً خطية الاستهزاء لأنك إن لم تؤمن أنه سيميل إليك ويفرحك ويتمم طلبك فلا تقترب منه على الإطلاق، لئلا توجد ملوماً من القدير في أنك ترتاب بحماقة. لذلك يجب أن نتحاشى هذا المرض الوضيع.</p>
<p> والمثل الحاضر يؤكد لنا أن الله سيميل سمعه لمن يقدمون صلواتهم بلا تكاسل ولا إهمال بل باجتهاد ومثابرة. لأنه إن كان المجيء المستمر للأرملة المظلومة قد تغلب على القاضي الظالم الذي لا يخاف الله ولا يهاب إنساناً، حتى إنه رغماً عن إرادته أنصفها، فكيف من يحب الرحمة ويبغض الإثم، ومن يقدم دائماً يد المعونة لمن يحبونه، فكيف لا يقبل أولئك المتقدمين إليه نهاراً وليلاً ولا ينصفهم إذ هم مختاروه؟ بل تعالوا الآن ولنفحص من هو هذا الذي يسيء إليهم، إن فحص هذا السؤال سوف يتولد عنه الكثير من النفع لكل من هم متعلمون جيداً.</p>
<p>إن الذين يسيئون إلى القديسين عددهم عظيم جداً، كما أنهم من انواع مختلفة. إن الخدام والمعلمين الأطهار الذين يفصلون كلمة الحق باستقامة يهاجمهم أعداء الحق بعنف، هؤلاء الذين يجهلون التعاليم المقدسة، وهم بعيدون عن كل استقامة، ويسيرون في طرق معوجة بعيدة عن الطريق المستقيم والملوكي، إن مثل هؤلاء هم عصابات الهراطقة الدنسين والنجسين، الذين يستحقون أن يدعوا أبواب الهلاك. هؤلاء يضطهدون ويضايقون كل من يسير باستقامة في الإيمان. وكرجال سكارى بالخمر لا يستطيعون الوقوف فيمسكون بمن هم قريبين منهم حتى لا يسقطوا على الأرض بمفردهم. كذلك أيضاً هؤلاء الذين بسبب أنهم مقعدون وعرج يجلبون الدمار لغير الثابتين. ينبغي لكل من هم معروفون لدى الله أن يقدموا توسلات من جهة هؤلاء الناس، مقتدين في هذا بالرسل القديسين الذين صاحوا ضد شر اليهود وقالوا: &#8221; والآن يارب انظر إلى تهديداتهم وامنح عبيدك أن يتكلموا بكلامك بكل مجاهرة &#8221; (أع ٤ : ٢٩).</p>
<p>لكن ربما يقول قائل، قال المسيح في موضع ما للرسل القديسين: &#8220;أحبوا أعداءكم وصلوا لأجل الذين يسيئون إليكم&#8221; (لو ٦: ٢٧ و۲۸)، فكيف يمكننا أن نصرخ ضدهم بدون أن نكون بذلك قد احتقرنا وصية إلهية!</p>
<p>على هذا نجيب قائلين: هل إذن نصلي أن يعطيهم الله القوة والجسارة حتى يهاجموا بشدة أكثر أولئك الذين يمدحون أعماله ولا يسمحون لهم بالتعليم هؤلاء الذين يقاومون مجد من نوجه له توسلاتنا؟ كيف لا يكون هذا منتهی الحماقة؟  لذلك عندما تكون الإساءات المرتكبة  في حقنا شخصية، نعتبره مجداً لنا أن نغفر لهم، ونكون مملوءين بالمحبة المتبادلة ونقتدي بالآباء القديسين حتى لو ضربونا واحتقرونا، حتى لو أصابونا بكل أنواع العنف فلا نوجه لهم أي لوم ونتسامي على الغضب والغيظ. إن مثل هذا المجد يليق بالقديسين كما أنه يسر الله.لكن عندما توجه أي خطية ضد مجد الله، وعندما تتكدس الحروب والمضايقات ضد الذين هم خدام للرسالة الإلهية، عندئذ نتقدم في الحال إلى الله طالبين معونته صارخين ضد من يقاومون مجده، مثلما فعل أيضاً موسی العظيم، لأنه قال: &#8220;قم یارب فلتتبدد أعداؤك ويهرب مبغضو اسمك من أمامك&#8221; (عدد ١٠ : ٣٥)، كما تبين أيضاً الصلاة التي نطق بها الرسل القديسون أنه ليس أمراً عديم المنفعة لأجل نجاح الرسالة الإلهية وإضعاف يد المضطهدين.</p>
<p> ويقول الرسل: &#8220;انظر يارب إلى تهديداتهم&#8221;، أي أجعل مقاومتهم لنا باطلة، وامنح عبيدك أن يتكلموا بكلامك بكل مجاهرة&#8221; (أع ٤ : ٢٩). لكن أن يوجد أناس يتاجرون بكلمة الحق ويؤثرون على كثيرين ليتخلوا عن الإيمان الصحيح ويورطونهم في اختراعات الضلال الشيطاني ويدفعون بهم – كما يقول الكتاب – ليتكلموا بأمور تخرج من قلوبهم &#8220;وليس من فم الرب&#8221; (إر ٢٣ : ١٦)، فهذا ما قاله الرب: &#8220;متى جاء ابن الإنسان ألعله يجد الإيمان على الأرض؟ &#8220;. إنه لا يغيب عن معرفته، وكيف يمكن أن يكون هذا وهو الإله الذي يعرف كل الأشياء؟ فهو يخبرنا إذا بحسب كلماته هو نفسه أن &#8220;محبة الكثيرين تبرد&#8221; (مت ٢٤ : ١٢)، &#8220;وأنه في</p>
<p>الأزمنة الأخيرة يرتد قوم عن الإيمان الصحيح غير الملوم تابعين أرواحاً مضلة وتعاليم شياطين في رياء أقوال كاذبة لأناس موسومة ضمائرهم&#8221; (١تي ٤ : ١ و۲). ونحن كخدام أمناء نتقدم إلى الله ضد هؤلاء متوسلين إليه أن يلاشي ويبطل شرهم ومحاولاتهم ضد مجده.ويوجد آخرون أيضاً ممن يسيئون إلي خدام الله. ينبغي أن نقاومهم بالصلاة. ومن هم هؤلاء؟ هم القوات الشريرة المضادة، والشيطان عدونا جميعاً، الذي يقاوم بشراسة أولئك الذين يعيشون حسناً، والذي يوقع في مصائد الشر كل من ينام، والذي يزرع فينا بذار كل خطية، لأنه مع أتباعه يحارب ضدنا بشراسة. لأجل هذا يصرخ المرنم ضدهم قائلاً : &#8221; إلى متى تميلون على الإنسان، ستقتلون جميعاً كجدار مائل وسياج منحن&#8221; (مز ٦١ : ٣) لأنه مثل حائط مائل على جانب واحد، ومثل سياج ينحني كأنه تفكك ويسقط  حالاً حينما يدفعه أي واحد عليهم، كذلك أيضاً ذهن الإنسان بسبب ميله الخاص الكبير إلى محبة اللذات العالمية، فإنه يسقط فيها حالاً بمجرد أن يجتذبه أحد إليها ويغريه بها. ولكن هذا هو عمل الشيطان، ولذلك نقول في صلواتنا لمن هو قادر أن يخلص وقادر أن يدفع بعيداً عنا ذلك الكائن الشرير: &#8220;أنصفني من خصمي&#8221;.</p>
<p>وهذا ما قد فعله كلمة الله الوحيد الجنس بصيرورته إنساناً، لأنه طرح رئيس هذا العالم من طغيانه علينا، وخلصنا ونجانا ووضعنا تحت نير ملكوته.</p>
<p>لذلك فما أروع أن نطلب بصلاة دائمة، لأن المسيح سيقبل توسلاتنا، ويتمم طلباتنا، الذي به ومعه الله الآب التسبيح والسلطان مع الروح القدس الي دهر الدهور. آمين.<a href="#_ftn1" name="_ftnref1">[3]</a></p>
<h4></h4>
<h3></h3>
<h3>عظات آباء وخدام معاصرون :</h3>
<h4>كيف ادخل في عمق الصلاة ؟ قداسة البابا تواضروس الثاني</h4>
<h5>يوم الأثنين من الأسبوع الثانى لقداسة البابا تواضروس الثاني</h5>
<p>لو (١٨ :١ – ٨)</p>
<p><strong>كيف ادخل في عمق الصلاة ؟</strong></p>
<p>الصوم هو الفترة التي تربط بين الصوم والصلاة ، وهذا الترابط وثيق جدا بينهما ، ففي مدائح الصوم أو في القسمة الخاصة بالصوم في القداس نقول : &#8220;الصوم والصلاة هما اللذان يخرجان الشياطين والزهد يهزم طغيانه&#8221;، فهناك ارتباط قوي ما بين الصوم والصلاة، فمن المناسب في قراءات الصوم من بداية الأربعين المقدسة إنه يكون السؤال هو كيف أصلى؟ وكعادة الأنجيل يُقدم لنا الأجابة في صورة قصة : لأن القصة هي وسيلة تعلمية مُهمة وهنا فصل من الإنجيل يضع المبدأ الأول &#8220;أنه ينبغي أن نصلى كل حين ولا نمل &#8220;.</p>
<p><strong> * مثل القاضي والأرملة :</strong></p>
<p>من المفترض أن القاضي يتسم بالعدل الكامل،هذا القاضي كان يقول عن نفسه :&#8221;أنا لا أخاف الله ، ولا أهاب إنساناً &#8221; (لو ١٨ : ٤). وكان في نفس المدينة أرملة ، وكلمة أرملة كانت تعبر دائماً عن النفس المستضعفة ، وفي تعريف الكتاب المقدس للنفس المستضعفة أي التي ليس لها سند. تأتي هذه الأرملة إلى القاضي وتطلب منه أن ينصفها من خصمها ، لكنها كررت هذا الطلب عدة مرات دون جدوى ، فكر القاضي وقال : &#8220;هذه الأرملة تأتي وتزعجني لذا سوف استجيب لها وأنصفها على خصمها &#8220;&#8230; واستجاب. في هذه القصة نجد أن السيد المسيح ينقل مدلول هذه القصة أو المثل ، حيث يجد أن هذا القاضي الذي ظلم هذه الأرملة زماناً ، لكنه عاد وأنصفها ، فما بالك بقاضي القضاة الله ذاته كلي العفو يقول النص الإنجيلي : &#8220;أفلا ينصف الله مختاريه الصارخين إليه نهاراً وليلا وهو متمهل عليهم ؟&#8221; (لو ۱۸ : ۷).</p>
<p>وهنا نبدأ نُجيب على سؤال هذا الجزء الإنجيلي وهو &#8220;كيف أصلي صلاة حقيقية ؟&#8221;</p>
<p>الله عندما خلق الإنسان خلقه أولاً وخلق له العقل ، وقال له تصير كائناً عاقلاً. والعقل نعمة ، وخلق له أيضا نعمة الحرية أو العمل ، فقد خلق له اليد التي يصنع بها كل شيء ، وصار الإنسان &#8220;كائناً عاقلاً وعاملا&#8221;، ثم أراد الله أن يعطيه البعد الثالث في حياته القلب ، وهذا القلب هو مكان اللقاء بين الله والإنسان ، فصار الإنسان &#8220;عابداً &#8220;، وأصبح في حياة الإنسان شعور، فلكل إنسان رغبة في الله لدرجة أن بعض الكتاب يقولون : &#8220;أن الصلاة تعبيرعن رغبة الإنسان في الله&#8221;، أي أن كل إنسان خلق الله في داخله رغبة ، فالإنسان أصله ككائن يقف أمام ألغاز الحياة وهو متحير، ما هي الحياة ؟ وما هو الموت ؟ وما هي الخطية ؟ وماذا يعني الألم ؟ وما هي السعادة ؟ &#8230; كل هذه أسئلة هي عن الوجود الإنساني وليس لها إجابة سوى في الله ، وبالتالي الإنسان في داخله عطش وحنين للأبدية.</p>
<p>عندما نرجع لعقيدة الخلود عند قدماء المصريين نجدها تأخذ مساحة كبيرة ، فالأهرامات تُمثل أصول عقيدة الخلود عند قدماء المصريين ، فهي بمثابة التقاء وخلود بحسب مفاهيم مصر الفرعونية.</p>
<p>إذا الإنسان في داخله عطش وحنين للأبدية فهو يبحث عن الله ، يرغب في المحبة ، يرغب في الجمال ، وتكون النتيجة أن الإنسان تُزرع في داخله روح الصلاة.</p>
<p> يقول بعض القديسين عن حياة الصلاة :</p>
<p>+ &#8220;الصلاة سلاح عظيم وغنى للرب ، الصلاة قوية بل هي أشد من القوة &#8220;.</p>
<p>(القديس يوحنا ذهبي الفم)</p>
<p> + &#8220;إن الصلاة ليست مجرد كلام ، ومهما اجتهد الإنسان لا يستطيع أن يوقف الصلاة&#8221;</p>
<p> + &#8220;الصلاة مفتاح السماء ، والسلم الذي نصعد به إلى الله&#8221;(القديس أوغسطينوس)</p>
<p>+ &#8220;من خلال صلاتك تقترب إلى السماء، تصعد وكأنك على درجات سلم&#8221;.</p>
<p>+ &#8220;الصلاة شيء يمنحنا كل شيء &#8221; (أحد الآباء)</p>
<p> لذلك مسيحنا أراد أن نتمتع بهذا فقال : صلوا كل حين ولا تملوا (لو ١٨ : ١).</p>
<p><strong>+ أساسيات هامة :</strong></p>
<p>ضع امامك بعض الأساسيات الهامة قبل الدخول في جو الصلاة :</p>
<p>١- وأنت داخل في نعمة الصلاة ضع في ذهنك أنك داخل تقف أمام الحضرة الإلهية. أنت لست واقفاً أمام شخص عادي ، أنت تقف في الحضرة الإلهية بكل تقدير وخشوع ورهبة واحترام ؛ لأنك عندما تقف في الحضرة الإلهية كأنك تطرح العالم كله إلى الخارج . تخيل وأنت خارج من الكنيسة قابلت ربنا يسوع المسيح على الباب &#8230; أرجوك لا بد أن تنشغل بهذا السؤال . أحياناً الإنسان عندما يقابل شخصية مهمة يتلعثم في الكلام أو الكلام يهرب منه ولا يعرف أن يتكلم . إذا يا إخوتي أول شيء لكي ما تُصلي الصلاة التي يقبلها المسيح إلهنا ينبغي أن تكون هذه الصلاة بشعور أنك واقف في الحضرة الإلهية ، يقول بولس الرسول : &#8220;مخيف هو الوقوع في يدي الله الحي&#8221; (عب ۱۰ : ٣١) .</p>
<p>٢ - عندما تدخل إلى جو الصلاة اكشف عن خطاياك ، لا تدخل إلى جو الصلاة وأنت تقول &#8220;أنا كويس &#8230; احنا أحسن من غيرنا&#8221;، لا &#8230; الصلاة الحقيقية تحتاج أن يكون الإنسان بالحقيقة واضحاً أمام خطاياه.</p>
<p>سألوا أحد القديسين وقالوا له :&#8221;ما رأيك في الناس التي ترى الملائكة ؟&#8221;، أجاب وقال : &#8220;طوبى لمن يبصر ويرى خطاياه ، فهذا أفضل مما يرى ملائكة &#8220;. الإنسان الذي يرى خطاياه يقول مع داود النبي : &#8220;خطيتي أمامي في كل حين ، لك وحدك أخطأت والشر قدامك صنعت&#8221; (مز ٥١ : ٣، ٤).</p>
<p>ادخل جو الصلاة وأنت مصمم أنك تطرح خطاياك الحقيقية ، ولا تجعل نفسك وشكلك جميلاً أمام ربنا.</p>
<p>٣ - وأنت داخل في جو الصلاة ينبغي أن تمتلئ بروح الشكر ولا تدخل بروح التذمر، أعمال الله مع كل واحد فينا لا تنتهي ولا حصر لها، فسوف تجدها كثيرة جداً، فالله أعطاك نعماً كثيرة مثل الصحة والحركة والطعام والكلام &#8230; وغيرها من النّعم الكثيرة التي لا يمكن أن يخفيها الإنسان، ادخل بروح الشكر.</p>
<p>٤ لا بد أن تذكر المجتمع الذي تعيش فيه ، أسرتك ، كنيستك، خدمتك &#8230;. وأنت تصلي من أجل هؤلاء اذكر كل واحد باسمه وتذكر ذاتك في النهاية ، ويظهر في هذه الصلاة لجاجتك ، وكأنك تقول مع داود النبي : &#8220;إلى متى يا رب تنساني&#8221;(مز ۱۳ : ۱). ارفع قلبك لربنا بهذه الصلوات ، وكن واثقاً أن هذه الصلاة تصل إلى الله ، ومثلما نقول في أول مزمور في صلاة الساعة الثالثة : &#8220;يستجيب لك الرب في يوم شدتك ، ينصرك اسم إله يعقوب&#8221; (مز ۲۰ : ۱).</p>
<ul>
<li><strong>قصة</strong></li>
</ul>
<p>كان الملك زينون أحد الملوك الأتقياء في القرن الخامس الميلادي ، وكان هذا الملك لديه ابنتان : إيلاريه وثاؤبسته ، وكان يرغب في إنجاب ولد لكي يكون ولي العهد ، لكن ربنا أعطاه ابنتان ، وبعد زمن اختفت البنت الأولى ، بحث عنها في كل مكان لكنه لم يجدها ، فوضع رجاءه في ابنته الثانية على أساس أنه تكون ولي العهد من بعده ، لكن أصيبت ابنته الصغرى بروح شرير وحاول كثير من الأطباء علاجها ولكن دون جدوى . نصح بعض الأصدقاء الملك بأن يرسلها إلى أحد الأديرة ، فهناك آباء مشهورين بالتقوى والزهد وإخراج الأرواح الشريرة ، فأرسل الملك ابنته وسأل عن أكثر الآباء المعروفين بقوة صلاتهم وقدرته على أن يصلي لتلك الفتاة ، فقالوا له عن الراهب إيلاري ، وهو راهب متوحد يسكن في قلاية بعيدة وكله قداسة. بدأ هذا الراهب يصلي للفتاة بنت الملك وبنعمة ربنا استطاع إخراج كل روح شرير منها ورجعت الفتاة إلى القصر. أراد الملك أن يكافئ البرية عموما وهذا الراهب خاصة ، وبعد أحداث كثيرة أفصحت إيلاريه عن نفسها وأنها ابنة الملك التي اختفت منذ زمن بعد أن أخذت وعد من الملك أبيها بأن تعود لديرها مرة أخرى .. هذه القصة أخذت زمناً طويلاً، لكن لجاجة الملك وهو يصلي لابنته المفقودة وابنته المريضة ، الله أعطاه الاثنتين وهما في أفضل حال.</p>
<p>اللجاجة تعني الإصرار على الطلب والإصرار باستمرار على الصلوات المرفوعة ، وعدم استجابة الله هي استجابة لك ؛ لأن لكل شيء تحت السماء وقتاً.</p>
<ul>
<li><strong>مثال</strong></li>
</ul>
<p>هو كاهن وزوجته امرأة بارة ولكن لم يكن لهما نسل ، وهذا يعتبر عاراً وليس لديهم ما يفعلوه غير الصلاة والصلاة من القلب، وهذه الصلوات أثمرت حيث أعطاهم الله &#8220;يوحنا المعمدان&#8221; أعظم مواليد النساء.</p>
<p>نقول له: يا رب أنت اتأخرت! قال: لا، لم أتأخر؛ لأني أحببت أن أعطيهم عطية فريدة كانت في هذا القديس الذي شهد له السيد المسيح بأنه : &#8220;أعظم مواليد النساء&#8221;.</p>
<p><strong>إذا الحسابات مع الله تختلف عن حسابتنا نحن البشر، لذا عليك وأنت تصلي أن تمتلك هذه الأربعة :</strong></p>
<p>١ - تتقدم للصلاة وأنت داخلك إيمان حقيقي ، فما تقوله يصل ويسمعه الله ، وهذا الإيمان قائم على وعود الكتاب ، فثق أن الله  سيحققه.</p>
<p>٢- يجب أن ثصلي بدرجة من الانتباه ، فمن يدخل الكنيسة ليصلي لا بد أن يكون منتبه تماماً  ولا يسمح لشيء يشتته. يقول القديس أبو مقار: &#8220;اقطع شجرة الأفكار الشريرة قبل أن تصلي&#8221;، إن التشتت يضعف صلواتنا جدا.</p>
<p>من العادات الغريبة في بعض الكنائس أن الناس عندما تأتي إلى الكنيسة تقف في الخلف وتترك الصفوف الأمامية ، في حين أنه من الأفضل أنك عندما تدخل يجب ان تجلس في الصفوف الأمامية حتى لا تُشتت من يأتي بعدك ، وهذا الأمر ليس له علاقة بالاتضاع ، والداخل للكنيسة يجب أن يكون دخوله بمنتهى الهدوء ،وإذا جاء شخص متأخرا يجلس وراءه على التوالي وهكذا … الشيطان ماكر وخادع ، وأكثر حرب يحاربنا بها هي حرب التشتيت &#8220;تشتيت الأفكار&#8221;، فحينما تقف تُصلي في البيت لا تجعل هاتفك المحمول جانبك ؛ لأن أبسط رنة سوف تشتت انتباهك .</p>
<p>كانوا يقولون أن مصابيح الكهرباء ثشتت أفكار الإنسان ، فعندما تقف تصلي في بيتك صل في نور هادئ حتى تظل منتبها. لذلك في الأديرة تُضيء شمعة ، فضوء الشمعة يعطي للإنسان جو الخشوع والوقار وعدم تشتيت الأفكار.</p>
<p>٣ - صلوا باستمرار؛ لأنك لو صليت دقائق ثم بعد ذلك توقفت سوف تكسل وبالتالي لا تستفيد شيئاً، واختبارات الآباء تقول : &#8221; إن الإنسان كي يكتسب عادة لا بد أن يمارسها ٤٠ يوماً متصلة ، بمعنى أنك لو أردت تعلم صلاة معينة في الأجبية مثلاً كصلاة باكر، فكيف أزرعها في حياتي؟ لكي تزرع هذه العادة وتكتسبها لا بد أن تواظب عليها لمدة أربعين يوماً ، وهذه هي فكرة الأربعين المقدسة، فعندما أُصلي باستمرار تبدأ عادة تُزرع في داخلي . إذا أردت أن تتعلم قراءة الإنجيل يومياً فاتخذها عادة وواظب على قراءة الإنجيل ٤٠ يوماً متصلة ، كذلك حضورك الكنيسة ، استيقاظك المبكر، وغيرها من الممارسات الروحية.ولكن إذا واظبت على ممارسة عادة روحية معينة وبعد ١٩ يوماً مر يوم دون أن تمارس فيه هذه العادة ، في اليوم التالي لا بد أن تعود وتبدأ من جديد من البداية ، حتى تصير شيئاً تلقائياً يتم باستمرار ويصبح عادة مستمرة .</p>
<p>٤ - صل بهدوء ، فكل مصدر يصدر صوتاً يبعد عنك تركيزك. ذات مرة سألوا عالم كبير في العلوم وكان يظل صامتاً فترات طويلة ، فسألوه : &#8220;ما هي أهم فترة هادئة في حياتك؟&#8221; سكت العالم قليلا ثم أجاب وقال : &#8220;أهم فترة هادئة في حياتي هي فترة التسعة شهور التي قضيتها في بطن أمي&#8221;.  قد تكون هذه إجابة رمزية ، فالعالم اليوم يعيش الضوضاء والازدحام الشديد ، والضوضاء لا تجعل الإنسان يتمتع بالصلاة ولا يعرف أن يصلي ، لذا اطلبوا أن تكون كنائسنا ساحات من الهدوء الشديد ؛ لأن بهذا الهدوء يستطيع الإنسان الوقوف أمام الله ويتمتع .</p>
<p><strong>لذا اطلب من مسيحك :</strong></p>
<p>۱ ملكوت الله وبره ، نصيبك في السماء أغلى من كل شيء ، فمهما ارتقيت ووصلت لمناصب ونجحت في حياتك ، لكن نصيبك في السماء أغلى من هذا كله ، فرغم أننا على الأرض لكن مدينتنا هي السماء ، مثلما يقول القديس بولس الرسول ، لذا اجعل قلبك مشغولاً دائماً بمسيحك ، واطلبه ليلا ونهارا &#8220;لنا هذا الكنز في أوان خزفية ، ليكون فضل القوة لله لا منا&#8221; (٢ كو ٤ : ٧). الإناء الخزفي هو كل إنسان ، وهذا الكنز هو المسيح الذي يسكن فيه ، مسيحك هو كنزك .</p>
<p>۲- اطلب تغيير قلبك ، لا يستطيع أحد أن يغير قلب الإنسان ولا فكره سوى نعمة الله ، مسيحنا القدوس هو الذي شفى المولود أعمى وصار يبصر نوراً ، فالله هو الذي غير طبيعة الأسود المفترسة في حياة القديس دانيال النبي ، ووقف يقول بمنتهى الثقة : &#8220;إلهي أرسل ملاكه وسد أفواه الأسود فلم تضرني&#8221; (دا ٦ : ٢٢).</p>
<p>بالصلاة ارتعدت الأسود من دانيال ؛ والله هو الذي غير طبيعة النيران في قصة الفتية الثلاثة ، كما أنه غير طبيعة الماء عندما شقه موسى بالعصا . و اطلب تغيير قلبك ، قل له : &#8220;قلباً نقياً اخلق في يا الله&#8221; (مز ١٠:٥١)، قل له : &#8220;انزع يا رب من داخلي القلب الحجري وأعطني قلباً لحمياً يمتلئ برحمتك ، وقلباً نقياً سماوياً يراك &#8220;.</p>
<p>٣ اطلب من الله يحقق وعوده ، فالله صادق وأمين في كل وعد قاله ، فهو يسمع صلواتنا ويستجيب لنا ويعطينا الوقت المناسب للاستجابة. اطلب منه أن يحقق وعوده التي تقرأها في الكتاب المقدس ، وقل له : &#8221; يا رب إني واثق أنك ستُحقق الوعود &#8220;، وامسك في وعود الله وأنت واثق أنها ستتحقق.</p>
<ul>
<li><strong>مثال</strong></li>
</ul>
<p> تعرض يوسف الصديق لكثير من الضيقات ، نذكر منها : أنه ألقي في البئر، ظلم وألقي في السجن ، وتعرض للأذى مرات كثيرة ، لكن كان هناك الوعد القائل : &#8220;وكان الرب مع يوسف فكان رجلاً ناجحاً&#8221; (تك ٣٩ : ٢).</p>
<p>إن وعود الله لا يمكن أن تسقط، ونقرأ الآية الجميلة التي تقول : &#8220;السّماء والأرض تزولان ، ولكن كلامي لا يزول&#8221; (لو ۲۱ : ۳۳).</p>
<p>٤ -اطلب من ربنا أن يفرح قلبك ؛ لا يوجد شيء على الأرض يا أحبائي يمكن أن يفرح قلب الإنسان ويعزيه بمقدار الفرح السماوي الذي يعطيه الله .</p>
<p>٥-اطلب أن ينزع الشياطين وعدو الخير من طريقك ، اطلب من ربنا وقل له : &#8220;فرحني واجعل قلبي متهللا دائماً بك ، اجعل قلبي فرحان بك دائماً؟، واسكن في حياتي &#8220;. هناك أشياء صغيرة جداً في حياة الإنسان ، لكنها تُفرح قلبه؟، المهم أن تطلب باستمرار ملكوت الله وبره ، تغيير قلبك وفكرك ، فيحقق الله وعوده لك ، يفرح قلبك ويملأك بالفرح والسعادة.</p>
<p>بعد كل هذا ستجد حياتك مملوءة بالرضا والسعادة ، وتقول في كل عمل صالح يعطيه الله لك : &#8220;أن ما تُعطيه لي يا رب يفرحني لأنه من يدك، فالعالم لا يعطيني الفرح الحقيقي&#8221;.</p>
<p>فترة الصوم يا أحبائي فترة غنية جداً لا بد أن تختبر فيها عذوبة الصلاة ، واختبر مع أصوامك قوة الصلاة ، فاجعل بيتك مملوءاً بالصلاة دائماً . ارفع صلاة مع زوجتك وأبنائك ، ليست الصلاة بطول الوقت وإنما بعمقها ، واجعل الصلاة فرصة أنك تستقبل المسيح ذاته وتجعله زائرك المحبوب كل يوم، اجعل هذا الصوم صوماً مقدساً بالصلاة.<a href="#_ftn1" name="_ftnref1">[4]</a></p>
<h5></h5>
<h4>مثل قاضي الظلم (لو١٨: ١-٨) للمتنيح القمص لوقا سيداروس</h4>
<p>&#8220;وقال لهم أيصاً مثلاً فى أنه ينبغى أن يُصلّى كل حين ولا يُملّ ، قائلاً : كان فى مدينة قاضى لا يخاف الله ولا يهاب انساناً وكان فى تلك المدينة أرملةً وكانت تأتى اليه قائلة : أنصفنى من خَصمى ؛ وكان لا يشاء الى زمان ولكن بعد ذلك قال فى نفسه : وان كنت لا أخاف الله ولا أهاب انساناً ، فانى لأجل أن هذه المرأة تُزعجُنى ، أنصفها ، لئلا تأتى دائماً فَتَقمعنى ؛ وقال الرب : اسمعوا ما يقول قاضى الظلم أفلا ينصف الله مختاريه ، الصارخين اليه نهاراً وليلاً ، وهو متمهّلُ عليهم؟ أقول لكم : انه يُنصفهم سريعاً ؛ ولكن متى جاء ابن الانسان ، ألعله يجد الايمان على الأرض؟&#8221; (لو ١٨: ١-٨).</p>
<p><strong>الصلاة كل حين:</strong></p>
<p>تُرى الى أى مدى أراد الرب أن يُشجّعنا على الصلاة حتى أنه ضرب لنا هذا المثل فالصلاة علاوة على أنها شرف لا نستحقه وامتياز يغبط من يحصل عليه وهى عمل الملائكة وأم جميع الفضائل الا أننا كثيراً ما نفشل فى الصلاة لعوامل كثيرة على أن الرب الحنون يُشجّعنا بكل وسيلة حتى لا يُغلق باب السماء دوننا فنحن حينما نُصلى نكون فى حضرة القدير وهذا الوجود فيه هو مُنتهى القصد الالهى من نحونا.</p>
<p>تُرى لماذا يريدنا أن نُصلى كل حين سوى أنه يريدنا مُتحدين به عائشين له وبه وفيه كل حين وقد جاءَت الوصايا الانجيلية هكذا متوافقة مع هذه الكلمات ، وقد كرّرها القديس بولس الرسول أكثر من مرة قائلاً : صلوا بلا انقطاع &#8220;(١تس ٥: ١٧) ، &#8220;فأطلب أول كل شىء ، أن تُقام طلباتُ وصلواتُ وابتهالاتُ وتشكراتُ لأجل جميع الناس&#8221; (١تى ٢: ١) ، وهكذا فمنذ البداية والصلاة المستمرة هى نبض الحياة الروحية الذى يجب ألا يتوقف لحظة ، حتى أن أحد الآباء يقول : &#8220;الذى لا يصلى الا وقت الصلاة فقط فهو لم يُصلّ أبداً &#8221; الذى أفرد وقتّا للصلاة ينتهى منها بانتهاء الوقت ، قد أغلق على نفسه وصار مُتغرباً عن الحياة بالروح&#8221;</p>
<p>وقد جعل الآباء القديسون من الصلاة الدائمة برنامج حياة عاشوها وتذوّقوا ثمارها وعلّموها لأولادهم واستودعوها الكنيسة الحية كخبزة روحية تدوم الى جيل الأجيال وقد اقتطعوا لذلك بحسب اختبارهم آيات قصيرة أو طلبات نفاذة فى كلمات قليلة كرّروها بلا شبع بل أن بعضهم اكتفى بترديد اسم الخلاص الذى لربّنا يسوع المسيح واعتبروها قمة الصلاة أن تختلط حياتهم بالصلاة القلبية بكل خلجاتها وبكل دقائقها ، بل فى صحوهم ونومهم ، لقد صار اسم يسوع لهم هو الكل فى الكل.</p>
<p>على هذا نَفذت كلمات الرب الى أعماقهم ، فحين سمعوها من فم الرب أنه ينبغى أن يُصلىّ كل حين لم يكفُوا عن الصلاة أبداً حتى فى أوقات نومهم ظل عقلهم الباطن يستلهم كلمات الصلاة وروح الصلاة &#8220;أنا نائمةُ وقلبى مُستيقظُ صوتُ حبيبى قارعاً : افتحى لى يا أختى ، يا حبيبتى ، يا حمامتى ، يا كاملتى ؛ لأن رأسى امتلأ من الطّلّ ، وقُصَصى من ندى الليل&#8221; (نش ٥: ٢)</p>
<p><strong>الصلاة بإيمان</strong></p>
<p>وقد بدا واضحاً أن الرب يسوع قصد الصلاة كفعل ايمانى بالدرجة الأولى لأنه أنهى كلمات المثل الالهى قائلاً :ابن الانسان متى جاء (فى مجيئه الثانى) ألعله يجد الايمان على الأرض ، أى أن الصلاة التى فيها روح اللجاجة والطلبة بتوسل والثبات أمام الله حتى تنال هذه الصلاة مسنودة بالإيمان لأن المُرتاب لا ينال شيئاً من عند الرب ، والرجل ذو الرأيين هو متقلقل فى جميع طرقه وقد قال الرسول يعقوب : &#8220;ولكن ليطلب بايمان غير مرتاب البتة ، لأن المُرتاب يُشبه موجاً من البحر تخبطه الريح وتدفعه&#8221;(يع ١: ٦) وقد تساءل الرب أنه فى مجيئه الثانى المخوف ، هل سيجد هذا الايمان على الأرض؟ ايمان الطلب بلجاجة والثقة أنه سيستجيب حتى لو تأنى أو تمهل ، ايمان الثقة واليقين أننا سننال ما طلبناه منه الايمان الذى يدفعنا الى الصلاة ويقتح لنا بها باب رجاء فى الله.</p>
<p><strong>وهذا هو المثل:</strong></p>
<p>كان فى مدينة قاضِ لا يخاف الله ولا يهاب انسان ؟؛ لقد شبه الله نفسه بأمور كثيرة لكى يُقرب الى الانسان معنى من المعانى الروحية غير الملموسة لكى يُحضرها للانسان مرئية وملموسة ومُدركة فمرة يُشبّه نفسه بالراعى الصالح يرعى خرافه ويبذل نفسه فدية عن الخراف يَحمل الحملان ويقود المرضعات ، ومن خلال هذا التصوير تستطيع أى نفس بسيطة أن تستلهم وتدرك مركزها لدى الله فتقول : &#8220;الرب يرعانى فلا يُعوزنى شىءُ&#8221; (مز ٢٣: ١) ومرة أخرى شبه نفسه بالطائر يجمع فراخه بين جناحين يحمى ويزوّد ويُعطى دفء وحياة ، حب وحنان ، سلام وطمانينة وتستطيع النفس أن تُدرك قدر الحب والعطاء فى الله فتلتجىء اليه كالعصفور الصغير تحتمى تحت ظل جناحيه وتقول قلبى وجسمى يهتفان بالاله الحى ومرة يُشبه نفسه بالعريس الفرح بعروسه يخطبها لنفسه ويرى فيها كل ما هو جميل وكل ما هو طاهر ولا يرى فيها عيباً بل عيناها حمامتان ويقول : &#8220;ها أنت جميلة يا حبيبتى ، ها أنت جميلةً؛ عيناك جميلتان من تحت نقَابكِ شعرُك كقطيع معز رابض على جبل جلعاد&#8221; (نش ٤: ١).</p>
<p>وتستطيع النفس أن تكتشف قيمتها الغالية لدى الله وكيف اشتراها لتكون له وتلتصق به وتترك بها أباها وأمها وأهلها وعشيرتها وتميل بسمعها وتنسى شعبها وتلتصق بعريسها وتفرح به فرح أبدى ومرة أخرى يُشبّه نفسه بامرأة ضاع منها درهماً ، فجلست تفتش عليه ، تكنس البيت لعلّه يكون قد توارى تحت تراب الجسد أو غبار الشهوات جاءت عليه ، وقد داسه الناس ومتى وجَدَته تفرح به وتدعو الجارات للفرح لعلَ النفس تدرك اصرار الله على وجود الخاطىء وتفتيشه عليه  لأنه كما يحمل الدرهم صورة الملك وخاتمه هكذا نحمل ونحن خطاة صورة الله ورسمه واسمه علينا.</p>
<p>وهكذا لا نستطيع أن نحصى التشبيهات التى توسط بها الله ، لكن بلغة البشر الضعفاء الأرضيين ومن واقع الحياة اليومية نُدرك لهفة الله وحبه نحونا ومراحمه التى تدركنا وتطلبنا ،أمّا فى هذا المثل فقد بلغ التشبيه أعلى درجات العجب ، اذ يجعل الرب أمامنا قاضى الظلم لا يخاف الله ولا يهاب إنسان قاضِ قاسى القلب متحجر المشاعر ولكن الحاح الأرملة ولجاجتها كسَرت قلبه واستمطرت عطفه كما من الصخر ، وكأن الرب يقول : ان كان الحاح المرأة ولجاجتها قد حننت هذا القلب القاسى فكم بالحرى نستعطف قلب الله كُلّى الحنان ؟؛ وان استجاب هذا القاضى بسبب الالحاح فماذا يكون الحال اذ ألحّ المختارون على الله وهو متمهل ؟</p>
<p>طبعاً لا وجه للمقارنة ولا وجه للتشابه بين الله كُلّى الرحمة وكُلّى الحنان والسخى فى العطاء الكريم فى التوزيع وبين هذا القاضى الظالم ولكن بضدها تُعرف الأشياء فأنت يا أخي حينما تُصلّى لا تقف أمام هذا القاضى نطلب وتتوسل بل أنت تقف أمام الله الرحيم ، الكثير التحنُن الذى لم يَرفض نفس واحدة.</p>
<p>أليس هو القائل : &#8220;تعالوا الىّ يا جميع المُتعبين والثقيلى الأحمال ، وأنا أريحكم&#8221; (مت ١١ : ٢٨) ألم يقل : &#8220;كل ما يُعطينى الآب فالىّ يُقبل ، ومن يُقبل الىّ لا أخرجه خارجاً&#8221; (يو ٦: ٣٧) هل قرأت فى الانجيل أنه رد سائلاً أو خيَب رجاء أحد ،نحن نقف لنُصلى ونرفع أيدينا نحو العطوف مصدر الحب الذى كل عطية صالحة وكل موهبة تامة هى نازلة من فوق من عنده ، الذى يفتح يديه ويشبع كل حى غنى من رضاه ،لذلك نتشجع جداً اذ نتقدّم الى السخى فى العطاء الكريم فى التوزيع نتقدّم بثقة وايمان ورجاء ويقين شديد.</p>
<p><strong>وكان في المدينة ارملة:</strong></p>
<p>هنا الذى يخصنا فى موقف الصلاة وهذا ما يجب أن يكون عليه حالنا ونحن نتقدم لنطرح سؤالنا لدى الله ان الرب يُشبه النفس هنا بهذه الأرملة ، عادمة القوة ، بلا سند وبلا عضد ، ولها خصم رهيب أراد أن يقتنصها ويذل كيانها ، استغل فقرها وذلها وحسب ضعفها فرصة لافتراسها .</p>
<p><strong>عدو وخصم رهيب :</strong></p>
<div data-test-id="message-view-body">
<div data-test-id="message-view-body-content">
<div>
<div id="yiv8706642115">
<p>الى من تذهب هذه الأرملة ؟ وهل لها غير السؤال والصراخ ؟ هكذا يكون حال الذين يحسُون بضعف بشريتهم وافتقارهم الىالفضيلة ، ويشعرون فى نفوسهم أنهم عادموا السند والركن فى هذا العالم وليس لهم سوى الالتجاء الى الله وها هو ذا العدويجول كأسد زائر مُلتمساً أن يبتلع واحد وها هو يظلم ويغتصب ويريد أن يفترس هل وقفنا أمام الله هذا الموقف فى الصلاةموقف المضغوط وليس أمامه منفذ سوى طاقة مفتوحة فى السماء.</p>
<p>هل تشبثنا بالرب كيعقوب أب الآباء اذ أحسّ أنه اذا تركه فلا بركة ولا حياة ولا سلام فتمسّك به قائلاً : &#8220;لا أطلقُك ان لم تباركنى &#8221; (تك ٣٢: ٢٦) ولكننا نُصلى كأننا لسنا فى عوز ، وبرودة مشاعرنا تدل اما على عدم وقوفنا على حقيقة حالنا أو أننا قد استغنيناولا حاجة بنا الى شىء .</p>
<p>لنضع أمامنا المرأة الكنعانية والعدو كاد يفترس ابنتها فلم تجد سوى المسيح تصرخ وراءه : يا سيد يا ابن داود ارحمنى وهاالقديس بطرس الرسول يرد على الرب عندما رجع كثير من التلاميذ الى الوراء قائلاً : &#8220;يارب الى من نذهب ؟ كلام الحياة الأبديةعندك&#8221; (يو٦: ٦٨) اذن نتقرّب الى الرب بهذا الانكسار وهذا الاحتياج شعور بالعوز يشدنا الى فوق وضغطات العدو تدفعنا دفعاًألم يكن هذا منظر موسى وجميع بنى اسرائيل عندما أدركهم العدو فرعون بخيول ومركبات على مشارف البحر الأحمر</p>
<p>ألم يكن هذا هو موقف داود رجل الصلاة عندما قال : &#8220;ضاع المهرب منى ، وليس من يسأل عن نفسى فصرخت اليك&#8221; (مز ١٤٢: ٤) ألم يكن هذا هو حال يونان اذ غطته اللُجج وضاق به الحال فصلّى الى الرب الهه من جوف الحوت قائلاً : &#8220;دعوت منضيقى الرب ، فاستجابنى&#8221; (يون ٢:٢).</p>
<p>ما أجمل صلاة الشاعر بالاحتياج ، والذى تأكد فى ذاته أنه ليس غير الله وأنه لا معين ولا سند ولا ذراع البشر ألم يكن هو حالحنة أم صموئيل فصلّت بانفعال شديد حتى ظن عالى الكاهن أنها سكرى ؟؛ انها صلاة مقتدرة حقاً فى فعلها .</p>
<p><strong>لم يكن يشاء الي زمان:</strong></p>
<p>كان هذا هو الموقف المبدأى لقاضى الظلم من الأرملة المسكينة ، أراد الرب بهذا أن يُثبت هذه الحقيقة فى ذهننا ، فان لم يشأفالى زمان بحسب التدبير ولكنه لا يرفض كل الرفض وفى هذا يقول البار داود النبى : &#8220;الى متى يارب تنسانى الى الانقضاء ؟حتى متى تصرف وجهك عنى؟&#8221; (مز ١٢: ١ قبطي) ان الرب لا يتباطىء ، ولكنه هناك الوقت المناسب لاستجابة صلواتنا بحسبالتدبير لقد تأنى على المرأة الكنعانية ،لماذا ؟ لسبب ما قصده فى نفسه وما هى النتيجة أعطاها وأظهر ايمانها أنه عظيم ومجّدالأمم بسببها اذن لابد أن يرسخ فى ذهننا أن تدبير الله وقصده من نحونا هو كل الصلاح وكل الخير ولكننا بسبب القلق وقلةالايمان نتعجّل الأمور لقد طلب اخوة يسوع أن يصنع أمامهم آيات لأنهم لم يكونوا بعد يؤمنون وكان ذلك الوقت مناسباً لهم ، أماهو فقال لهم وقتكم حاضر فى كل حين أما هو فلم تكن قد أتت بعد لابد أن تؤمن أن ساعة استجابة الصلاة ستحين حتما لذايجب علينا أن نتوقعها بالصبر وهذا نافع لنا جداً</p>
<p>كان مناسباً لابراهيم أب الآباء أن يُنجب ابناً فى شبابه المُبكر ولكن لم يحدث وصلى ابراهيم وتأنى الرب على طلبته حتى فاتأوان البشر وانقضى زمان القدرة البشرية وصار ابراهيم مُماتاً وهكذا مستودع سارة ، ولكن فى الوقت المُعين صارت استجابةالصلاة ووُلدَ اسحق ابن الموعد ، هكذا صار أيضاً مع زكريا الكاهن لأنه حينما كَمُل الزمان المعروف والمُحدّد من قبَل الله أرسلاليه جبرائيل الملاك يحمل بشارة استجابة الصلاة قائلاً : &#8220;لأن طلبَتَكَ قد سُمعت&#8221; ( لو ١: ١٣) اذن خير لنا ألا نتعجّل الأمور بللنثق حينما نُقدم سؤال الصلاة أننا سنحصل على عوننا فى حينه</p>
<p>هكذا قال الرب ان قاضى الظلم لم يَكُن يشاء الى زمان ، ولكن ماذا صنع الالحاح واللجاجة التى صارت من الأرملة وهىمتوسلة تأتيه كل يوم ؟ لقد عجل الالحاح بالاستجابة .</p>
<p>لقد أوصانا الرب ألا نُكرر السؤال باطلاً كالأمم التى قد تبدو أحياناً مُنمقة ومُرتبة .</p>
<p>ان القوة كل القوة فى القلب اللحوح الحار بالروح الذى يقتدر فى لجاجته أن ينتزع المراحم الإلهية والقوة كل القوة فى القلب المنكسر والمتواضع الذى يتراءى أمام الله فى هيئة الأرملة المسكينة التى لا ملاذ لها سوى حضن الله.</p>
<p>عندما وقفت القديسة حنة أم صموئيل النبى فى موقف الصلاة عينها كان منظرها هكذا عجيباً  كل خلجات نفسها وكلمشاعرها بكل ما حوت من حرمان ومسكنة وانكسار كانت تسكبها أمام الرب حتى عجَز الكلام عن التعبير.</p>
<p>&#8220;وكان اذ أكثرت الصلاة أمام الرب وعالى يُلاحظ فَاهَا فان حنة كانت تتكلم فى قلبها ، وشفتاها فقط تتحركان ، وصوتها لميُسمع ، أن عالى ظنها سَكرَى فقال لها عالى :حتى متى تسكَرين؟ انزعى خمرك عنك فأجابت حنة وقالت : لا يا سيدى انىامرأةُ حزينة الروح ولم أشرب خَمراً ولا مُسكراً ، بل أسكُب نفسى أمام الرب&#8221; (١صم ١: ١٢- ١٥) كان الرب الى هذا الحين قدأغلق رَحم حنة عن الانجاب فلما بلغت اللجاجة الى هذا الحد صارت الاستجابة فى حال الصلاة نفسها من فم رئيس الكهنةالذى نطق بالروح قائلاً : &#8220;اذهبى بسلام ، واله اسرائيل يُعطيك سؤلك الذى سألته من لَدُنهُ&#8221; (١صم ١: ١٧)</p>
<p>&#8220;والرب ذكرها وكان فى مدار السنة أن حنة حبلت وولَدَت ابناَ ودعت اسمه صموئيل قائلة : لأنى من الرب سألته&#8221; (١صم ١: ١٩- ٢٠)من لنا بروح الصلاة هذه اذ صارت نفوسنا عواقر لا من جهة الجسد بل من جهة كل فضيلة ومن لنا باللجاجة الجسورة هذهالتى لا تفارق الهيكل حتى تنال سؤل قلبها. الله ينعم على الكنيسة كلها بهذا الروح ويجدده فى أحشائنا ان المثال الآخر الذىيبرز واضحا فى الانجيل ويقف شامخاً كنموذج فريد للايمان وسؤال الصلاة بلجاجة هو المرأة الكنعانية هذه التى تمهل الربعليها ولم يشأ أن يسمع صراخها متوسلة بسؤال الصلاة بذات كلمات الأرملة فى المثل :ارحمنى ، ابنتى مجنونة جداً لأنه كانبابنتها روح نجس وقد أجّل الرب استجابة الطلب وهى لم تكف ولم يقف أمامها غرابة جنسها ، اذ كانت أممية ولا منعها عنمتابعة توسلها ضجر التلاميذ ولا حتى حين سمعت من الرب قوله : &#8220;ليس حسناً أن يؤخذ خُبز البنين ويُطرح للكلاب&#8221; (مر ٧: ٢٧) بل زادها كل ذلك تمسكاً واصراراً على روح التضرُع والتوسل قائلة : &#8220;والكلاب أيضاًتحت المائدة تأكل من فُتات البنين&#8221; (مر٧: ٢٨) يا لعظمة الايمان وقوة اليقين واقتدار اللجاجة فى الصلاة ، قد قُهر العدو الشيطان وخرج صريعاً أمام هذا الجبروتالروحى والثقة فى شخص يسوع المسيح ابن داود القادر أن يُخلص الى التمام.</p>
<p><strong>الله ومختاريه :</strong></p>
<p>قال الرب يسوع تعقيباً على المثل : &#8220;أفلا ينصف الله مختاريه ، الصارخين اليه نهاراً وليلاً ، وهو متمهل عليهم؟ أقول لكم : انهيُنصفهم سريعاً ، هذا هو تفسير المثل ، فالذين يصرخون اليه نهاراً وليلاً هم مُختارى الله الذى قال الرسول بولس لأجلهم : &#8220;منسيشتكى على مُختارى الله&#8221; أى أن كل شكوى الشيطان وافترائه وحربه ضدهم هى هزيلة وضعيفة ، لأنه ان كان الله معنا فمنعلينا هؤلاء هم المختارون الذين سيسمعون الصوت الالهى الحنون فى يوم الدينونة العظيم : &#8220;تعالوا يا مباركى أبى ، رثواالملكوت المُعَدّ لكم&#8221; (مت ٢٥ : ٣٤).</p>
<p>اذن ان كانوا مُختارين فلماذا يتمهّل عليهم ؟</p>
<p>قال الرب انه يُنصفهم سريعاً انه متمهل ولكن يُنصف سريعاً ، قيل ان الأسد لكى يُدرب أشباله الصغار على الصيد والاقتناصيُحصر لهم فريسة حية (غزال مثلاً) ويطلقها أمام الصغار فيبدأون فى الهجوم عليها ، بينما يقف الأسد مُراقباً من بُعد ، ولكنلكون الأشبال صغيرة فان الفريسة تقوى عليهم وتبدو كأنها تغلبهم ، ويظل الأسد يراقب حتى اللحظة الحرجة ، هنا يتدخلويحسم الموقف بضربة قاضية يسددها للفريسة.</p>
<p>والتشبيه مع الفارق ، الله يُراقب حروبنا ، ويعرف ضيقتنا ويسمع أنيننا ، ونحن أولاده ومُختاريه ، ويعرف قوة الشيطان وشكواه ،ومكائده وفخاخه ويتمهّل الله على مختاريه ، ليقوى ايمانهم ويشتد عودهم ، انه لا يتخلى مُطلقاً ، ولا يتركنا الى الانقضاء بلعلى العكس يكثر التطلع علينا بقوة ، ويسمع ليس فقط صُراخنا بل من أجل شقاء المساكين وتنهُد البائسين الأن أقوم يقول الربأصنع الخلاص علانيةً .</p>
<p>والآباء القديسون علموا يقينا أنه يستجيب لهم فى حال صراخهم ، أنا صرخت والرب سمعنى (صلاة الساعة السادسة)وكما قاليونان : &#8220;دعوتُ من ضيقى الرب ، فاستجابنى صرختُ من جوف الهاوية ، فسَمعت صوتى&#8221; (يونان ٢: ٢)وقد بَلَغت به الثقة فىاستجابة الرب لصلاته حين يقول : &#8220;ولكننى أعودُ أنظر الى هيكل قدسك&#8221; (يونان ٢: ٤) نعم انه ينصفهم سريعاً ، أنه لا يتباطىءعن مواعيده كما يظن قوم التباطؤ ، ولكنه يتأنى أما بالنسبة للأبرار المختارين فأناة الله تُظهر برّهم بالأكثر وثقتهم ويقينهم وتُزكىايمانهم أما بالنسبة لأولاد العالم ، فيزدادون قساوة واستهتاراً ويقولون : &#8220;أين هو موعد مجيئه؟&#8221; ، ولكن أناة الله تنتظروكما يقولالرسول انما لكى تقتاد للتوبة ، فالله يريد أن جميع الناس يخلُصون .</p>
<p>والأن لنرجع الى بداية المثل &#8220;وقال لهم مثلاً فى أنه ينبغى أن يُصلى كل حين ولا يُمَل&#8221;لنتشجع بكلمات ربنا يسوع ونُصلى بلاانقطاع ونطلب بلجاجة والحاح نطلب ملكوت الله وبره ، نطلُب تكميل خلاصنا وزيادة ايماننا وثبات رجائنا ، نطلُب الاتحاد بهوفيه والحياة له ومن أجله ، نطلُب من أجل بنيان الكنيسة ، وخلاص كل أولادها ، نطلُب بالحاح كثير &#8220;اطلبوا تأخذوا ، ليكونفرحكم كاملاً &#8221; ولا نملّ بل لنثق أننا سيكون لنا كل ما طلبناه لأنه ان طلبنا شيئاً باسمه فيكون لنا آمين<a href="#_ftn1" name="_ftnref1">[4]</a></p>
</div>
</div>
</div>
</div>
<div data-test-id="toolbar-hover-area">
<div data-test-id="card-toolbar">
<div>
<hr />
</div>
</div>
</div>
<h3>المراجع</h3>
<p><a href="#_ftnref1" name="_ftn1">[1]</a><sup>- الطريق إلي الله - كاليستوس وير.</sup></p>
<p><a href="#_ftnref2" name="_ftn2">[2]</a><sup>-  تفسير كورنثوس الثانية ص3- القمص تادرس يعقوب ملطي.</sup></p>
<p><a href="#_ftnref1" name="_ftn1">[3]</a> - تفسير إنجيل لوقا للقديس كيرلس الأسكندري صفحة ٥٧٢-ترجمة دكتور نصحي عبد الشهيد</p>
<p><a href="#_ftnref1" name="_ftn1">[4]</a> - وكلمهم أيضاً بأمثال صفحة ٩ - القمص لوقا سيداروس</p>

      {% endcreateArticleAccordions %}
    </section>
  {% endblock %}
