---
layout: 'layouts/reading.html'
title: 'قراءات يوم الثلاثاء من الأسبوع الثاني'
tags: 'great-lent'
permalink: /articles/great-lent/2-2.html
---
  {% block content %}
    <section id="readings">
      <ul>
      {% if 'undefined' != 'undefined' %}
      
      {% else %}
      {% if 'null' != 'null' %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">العشية</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeVespers '' '' %}
          </div>
        </div>
      </li>
      {% endif %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">باكر</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeMatins '19.41:4,13' '42.12:22-31' '18.19:1-26@23.5:7-16' %}
          </div>
        </div>
      </li>
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <h3 class="flex items-center justify-between">
            <span class="kufi">القداس</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </h3>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeLitugy '47.9:6-15' '59.1:1-12' '44.4:13-22' '19.41:1-1' '41.10:17-27' %}
          </div>
        </div>
      </li>

      {% endif %}
        </ul>
    </section>
    <section id="article">
      <h3 class="mt-8 mb-4 heading-explain">شرح القراءات</h3>
      {% createArticleAccordions %}
        <p>&#8220;كَفُقَرَاءَ وَنَحْنُ نُغْنِي كَثِيرِينَ، كَأَنْ لاَ شَيْءَ لَنَا وَنَحْنُ نَمْلِكُ كُلَّ شَيْءٍ.&#8221; (٢كو ٦: ١٠).</p>
<p>&#8220;وَأَنْ يَكُونُوا أَغْنِيَاءَ فِي أَعْمَال صَالِحَةٍ، وَأَنْ يَكُونُوا أَسْخِيَاءَ فِي الْعَطَاءِ، كُرَمَاءَ فِي التَّوْزِيعِ&#8221; (١تي ٦: ١٨)</p>
<p>[إن كنّا فقراء في المال اسمك هو يكفينا يا ربي يسوع المسيح صلاحك يغنينا] (مديح كيهكي)</p>
<p>[أخيراً صار الغني شحاذاً يطلب من الفقير ويسأل من مائدة ذاك الذي كان جائعاً وملقي لأفواه الكلاب، قد تبدّل الحال وعرف كل واحد من هو الغني الحقيقي، ومن هو الفقير بحق، فظهر لعازر أغنى من الكل، والآخر أفقر الجميع] (القديس يوحنا ذهبي الفم)<a href="#_ftn1" name="_ftnref1">[1]</a></p>
<h3>شواهد القراءات</h3>
<p>(أي ١٩: ١-١٧)، (أش ٥: ٧-١٦)، (مز ٤٠: ١٢،٤)، (لو ١٢: ٢٢-٣١)، (٢كو ٩: ٦-١٥)، (يع ١: ١-١٢)، (أع ٤: ١٣-٢٢)، (مز ٤٠: ١)، (مر ١٠: ١٧-٢٧).</p>
<h3>شرح القراءات</h3>
<p><strong>تتكلّم قراءات هذا اليوم</strong> عن مجد عطائه الإلهي لأولاده وفي أولاده ومجد عطاء أبناء الله. كما يوضّح الفرق بين الغني الحقيقي والغني الكاذب.</p>
<p><strong>تبدأ نبوءة أيوب</strong> بإحساسه وقت عنف التجربة أن الله أخذ منه كل شئ وكل مجده الأرضي لكن في نهاية التجربة تيقّن بأنّه نال أعظم عطية وهى إمكانية وقوّة رؤيته وسط الألم الشديد وإعتبر أن هذه العطية العظمى من الله له.</p>
<p>&#8220;أعلم أن الرب فعل بي هكذا، عرّاني من مجدي ونزع تاجي عن رأسي هدمني من كل جوانبي، أما أنا فإني أعلم أن وليِّ حي ويظهر على الأرض آخر الزمان وبعد أن يفني جلدي هذا وبدون جسدي أرى الرب&#8221;.</p>
<p>ويظهر هنا غنى أيّوب في رجائه بالله.</p>
<p><strong>وتحذّر نبوءة إشعياء</strong> من غياب العطاء بين الناس وشهوة الإمتلاك القاتلة حتى لو على حساب عدل الله وحقوق الناس.</p>
<p>&#8220;وانتظرت أن يجري قضاء فصنعوا إثماً وعدلاً فإذا صراخ وَيْل للذين يصلون بيت ببيت ويقارنون حقلاً بحقل ليأخذوا كل شئ لأصحابهم هل تسكنون في الأرض وحدكم&#8221;</p>
<p><strong>ثم يحذّر من النتيجة الطبيعية للظلم والجشع</strong></p>
<p>&#8220;قد سمع هذا في أذني رب الصباؤوت لأنه إن كانت لهم بيوتاً كثيرة عظيمة وجميلة تصير للخراب بلا ساكن، لذلك وسَّعت الهاوية نفسها وفغرت فاها بلا حد فينحدر فيها الوجهاء والأعزاء والكرام&#8221;.</p>
<p><strong>وتحصّن النفس ذاتها في مزمور باكر</strong> من الكبرياء والظلم بدوام التوبة وتسبيح الرب.</p>
<p>&#8220;أنا قلت يا رب إرحمني أشف نفسي لأني قد أخطأت إليك، مبارك الرب إله إسرائيل&#8221;.</p>
<p><strong>ويطمئن الرب في إنجيل باكر</strong> نفوسنا بعدم الإنشغال الكثير بإحتياجات الجسد فإذا كان الله يعطي مجده للخليقة النباتية أكثر ممّا كان لسليمان الملك في عزّ مجده فكم يكون للإنسان تاج الخليقة.</p>
<p>&#8220;تأملوا الزهر كيف ينمو وهو لا يتعب ولا يعمل أقول لكم إنه حتى سليمان في كل مجده ما لبس كواحدة منها، فاذا كان العشب يوجد اليوم في الحقل ويطرح غداً في التنور يلبسه الله هكذا فكيف بالحري أنتم ياقليلي الإيمان&#8221;.</p>
<p><strong>ويعطي الإنجيل المدخل</strong> للمجد الإلهي المعدّ لنا وهو طلب وإنتظار ملكوته والإشتياق له وأهمية أن يملك الله على حياتنا.</p>
<p>&#8220;وأما أنتم فأبوكم يعلم أنكم تحتاجون إلى هذه لكن اطلبوا ملكوته وهذه كلها ستزاد لكم&#8221;.</p>
<p><strong>ويمدح البولس</strong> شعب الكنيسة لعطائهم الفائق ويعلن غنى بركات الله لهم.</p>
<p>&#8220;فإن من يزرع بالشُح فبالشُح أيضاً يحصد، ومن يزرع بالبركات فبالبركات أيضاً يحصد، كما هو مكتوب إنه فَّرق وأعطي المساكين فَبرِّه يدوم إلي الأبد&#8221;.</p>
<p><strong>لكن يشير البولس</strong> <strong>أيضاً</strong> إلى الغنى الإلهي في عطائه ونعمته ومواهبه في أولاده. &#8220;وبدعائهم لأجلكم مشتاقين إليكم من أجل نعمة الله المتزايدة فيكم فشكراً لله على موهبته التي لا توصف&#8221;.</p>
<p><strong>ويعلن الكاثوليكون</strong> مدى السخاء الإلهي في العطاء.</p>
<p>&#8220;وإن كان أحدكم تنقصه حكمة فليسأل الله الذي يعطي الجميع بسخاء خالص ولا يُعَيِّر فَسيُعطى له&#8221;.</p>
<p><strong>والعجيب أن البولس والكاثوليكون</strong> يتكلمان عن العشب في مجده الوقتي مقارنة بمجد الله الدائم في الإنسان &#8220;يوجد اليوم ويطرح غدا في التنور&#8221; (البولس)</p>
<p><strong>أو في سرعان فناء مجده</strong> مع أي تجربة مقارنة بمجد الإتضاع الدائم.</p>
<p>&#8220;وليفتخر الأخ المتّضع بإرتفاعه وأما الغني فبتواضعه لأنه كزهر العشب يزول لأن الشمس أشرقت بالحر فيَبَّسَتْ العشب فسقط زهره وفنى جمال منظره هكذا يذبُل الغني أيضاً في جميع طرقه&#8221; (الكاثوليكون)</p>
<p><strong>أما الإبركسيس</strong> فيعلن مجد وغنى الشهادة للمسيح له المجد الذي يعطيه للبسطاء والجهلاء بحسب فكر العالم.</p>
<p>&#8220;فلما رأوا مجاهرة بطرس ويوحنا وعلموا أنهما إنسانان عديما العلم وعاميان تعجبوا وكانوا يعرفونهما أنهما كانا مع يسوع&#8221;.</p>
<p><strong>وأيضاً المجد الإلهي</strong> في الشفاء المعجزي.</p>
<p>&#8220;لأن الجميع كانوا يمجدون الله على ماجرى لأن الرجل الذي صارت فيه آية الشفاء هذه كان له أكثر من أربعين سنة&#8221;.</p>
<p><strong>أمّا مزمور القدّاس</strong> فيعلن مجد عطاء الإنسان للفقراء ومجد نجاة الله له وقت الضيق. &#8220;طوبى لمن يتفهّم في أمر المسكين والفقير في يوم السوء ينجّيه الرب&#8221;.</p>
<p><strong>ويختم إنجيل القدّاس</strong> بمجد العطاء للفقير وتبعية الرب.</p>
<p>&#8220;فنظر إليه يسوع وأحبه وقال له: أتريد أن تكون كاملاً يعوزك شئ واحد اذهب وبع كل مالك وأعطهِ للفقراء فتقتني لك كنزاً في السماء وتعال اتبعني&#8221;.</p>
<h3>ملخّص القراءات</h3>
<table width="506">
<tbody>
<tr>
<td width="94">نبوءة أيوب</td>
<td width="412">رغم إحساسنا بفقدان كل مجد وقت التجارب يقصد الله لنا مجد آخر</td>
</tr>
<tr>
<td width="94">نبوءة إشعياء</td>
<td width="412">ظلم الآخرين نتيجة شهوة الإمتلاك والطمع يقود للخراب والهلاك</td>
</tr>
<tr>
<td width="94">مزمور باكر</td>
<td width="412">التوبة الدائمة والتسبيح حصانة دائمة من زيف مجد العالم</td>
</tr>
<tr>
<td width="94">إنجيل باكر</td>
<td width="412">الله يسكب مجده على النباتات فكم يكون الإنسان</td>
</tr>
<tr>
<td width="94">البولس</td>
<td width="412">مجد الكنيسة في غناها بالروح وسخاء عطاء أعضاؤها</td>
</tr>
<tr>
<td width="94">الكاثوليكون</td>
<td width="412">سخاء الله في عطائه لنا</td>
</tr>
<tr>
<td width="94">الإبركسيس</td>
<td width="412">مجد تابعي المسيح وشفائه للبشر يفوق مجد العالم وعلمه الزائف</td>
</tr>
<tr>
<td width="94">مزمور القدّاس</td>
<td width="412">الطريق إلى مجد إستجابة الله عطاء الإنسان للفقراء</td>
</tr>
<tr>
<td width="94">إنجيل القدّاس</td>
<td width="412">مجد السماء للقلوب السخيّة والتابعة للسيد</td>
</tr>
</tbody>
</table>
<h3>الكنيسة في قراءات اليوم</h3>
<table width="506">
<tbody>
<tr>
<td width="94">نبوءة أيوب</td>
<td width="412">القيامة</td>
</tr>
<tr>
<td width="94">نبوءة إشعياء</td>
<td width="412">دينونة الأشرار</td>
</tr>
<tr>
<td width="94">إنجيل القدّاس</td>
<td width="412">حفظ الوصية وتكميل الناموس</td>
</tr>
</tbody>
</table>
<h3></h3>
<h3></h3>
<h3>عظات آبائية :</h3>
<h4>كيف يخلص الغني في فكر القديس كيرلس الإسكندري</h4>
<p> كيف يَخلٌصُ الغنيّ؟</p>
<p>أراكم وقد اجتمعتم هنا بإجتهاد وغيّرة عظيمين،وكما أظن فإنكم قد جئتكم لتطلبوا لكى تأخذوا ما هو لكم..وأنا من جهتى أعترف أنني وعَدْتُ في اجتماعنا أن سأتكلم ما كان ناقصاً في حديثي ،وأنا قد أتيت لأولي ما عليّ لأولادى، متوسلاً إلى المسيح مخلّصنا جميعاً أن يمنح نوره الإلهى لذهنى ويعطى نطقاً للساني لكيما أنتفع أنا وأنتم معاً. لأن بولس كتب يقول: &#8220;يجب أن الحراث الذى يشتعل يأكل هو أولا من الأثمار&#8221;(٢تى٢: ٦).</p>
<p>لذلك دعوني أولا أن أذكركم بكل ما سبق أن تأملنا فيه،وبعد ذلك نتقدم لنكمّل ما تبقى.</p>
<p>فقد قال الأنجيلى الطوباوى:&#8221;وسأله رئيس قائلا أيها المعلّم الصالح ماذا أعمل لأرث الحياة الأبدية؟ فقال له لماذا ادعوني صالحاً ليس أحد صالحاً إلاّ واحد هو الله،وهكذا إلى ما تبقى من الدرس. لقد سبق لنا أن شرحنا معنى هذه الفقرة في الإنجيل ،وقيل لكم ما فيه الكفاية حول تلك النقطة، لأننا أوضحنا أن الابن صالح بالطبيعة وبالحق مثل ذلك الذى وَلَده،وأن الجواب: لماذا تدعوني صالحاً؟ ليس أحد صالحاً إلا واحد هو الله،قبل بشكل نسبّي للسائل. لذلك هيّا بنا لنفحص الآيات التى تلي ذلك من الإنجيل.</p>
<p>إذن ،ماذا يقول رئيس مجمع اليهود ؟ &#8220;ماذا اعمل لأرث الحياة الأبدية؟&#8221;إنه لا يسأل بقصد أن يتعلم، وإلا لكان سؤاله جديراً بكل ثناء ، ولكن قصده هو أن يبرهن أن المسيح لم يسمح لهم أن يحتفلوا يوصل يا موسى، بل بالأحرى قاد تلاميذه وأتباعه إلى قوانين جديدة اشترعها من نفسه، لأن رؤساء اليهود بهذا الإدعاء علَّموا الشعب الذى تحت سلطانهم قائلين عن المسيح مخلصنا كلنا :&#8221;به شيطان وهو يهذي، لماذا تستمعون له ؟&#8221;(يو١٠: ٢٠)، لأنهم قالوا إن به شيطان وهو بهذا، بافتراض أنه أقام شرائعه الخاصة ضد تلك التى أُعطيت لهم من فوق من الله(بواسطة موسى). وبالحري ينبغى أن نؤكد أنهم هم الذين كان لهم شيطان وكانوا يهذون بشدة، لأنهم يقومون رب الناموس، الذى جاء لا لكي ينقّض الوصيّة التى أعطيت فى القديم،بواسطة خدمة موسى، بل لكي يتممها بحسب كلماته هو نفسه (مت٥: ٢٧)، لأنه حوّل الظل إلى حقيقة.</p>
<p>توقع رئيس المجمع أن يسمع المسيح كأنه يقول: &#8220;كُف أيها الإنسان عن كتابات موسى ، تخلّى عن الظل إنها كانت مجرد مثالات وليس أكثر، اقترب بالأحرى من وصاياي التى في الإنجيل &#8220;. لكنه لم يجبه هكذا، لأنه ميْز بمعرفته الإلهية هدف ذلك الذى يجربه،ولكن لأنه ليس عنده وصايا أخرى سوى التي أُعطيت بواسطة موسى، فإنه وجّه الرجل إليها قائلاً له : &#8220;أنت تعرف تلك الوصايا&#8221;.التى فى الناموس وقال له:لا تقتل، لا تزن، لا تشهد بالزور وما هو الجواب الذى أجاب به هذا المخادع الماكر ومدير المكائد، أو بالأحرى هذا الشخص الجاهل جداً والأحمق؟ لأنه ظن أنه حتى ولو كان الذي يسأله هو الله ،فإنه يمكنه مع ذلك أن يتملَّقه بسهولة ليجيّب بحسب رغبته،لكن كما يقول الكتاب المقدس: &#8220;الإنسان المخادع لا يربح&#8221;(انظر ام ١٢: ٢٧).</p>
<p>ورغم أنه صوّب سهمه بعيداً عن هدفه وفقد فريسته،لكنه تجاسر على أن ينصب له فخاً آخر ،لأنه قال : هذه كلها حفظتها منذ حداثتي. لذلك فهو يستحق أن يسمع منه هذا الجواب : أيها الفريسي الأحمق: &#8220;أنت تشهد لنفسك.شهادتك ليست حقاً&#8221;(يو٨: ١٣)، ولكن لنترك الآن هذا الجدل،ولنرّ بأيّة وصية صدَّ المسيح عدوه اللدود والخبيث،. فبينما كان يمكنه أن يقول :&#8221;طوبى لأنقياء القلب &#8220;(مت٥: ٣-٨)،فإنه لم يقل له شيئاً من هذا القبيل، لكن لأن الفريسي كان محباً للمال وكان غنياً جداً، فقد أنتقل المسيح فى الحال لما سوف يحزنه وقال له: &#8220;بع كل مالك ووزّع على الفقراء فيكون لك كنت فى السماء وتعال اتبعني&#8221;.كان هذا (الكلام) مصدر عذاب وألم لقلب ذلك الإنسان الجشع الذي كان يتباهى بنفسه بسبب حفظه للناموس، وهذا برهّن على أنه هشّ وضعيف أيضا وهو عموماً غير مستعد لتقبّل رسالة الإنجيل الجديدة. ونحن أيضا نتعلّم كن هو حق ما قاله المسيح :&#8221;لا يجعلون خمراً جديدة فى زقاق عتيقة، لئلا تنشق الزقاق الخمر تنصب والزقاق تتلف، بل يجعلون خمراً جديدة فى زقاق جديدة(مت٩: ١٧)،لأن رئيس المجمع برهن أنه ليس زَق عتيق لايمكنه أن يحفظ الخمر الجديد، بل ينشق ويصير عديم الفائدة ،ذلك لأنه حزن مع أنه نال درساً كان يمكن أن يجعله يربح الحياة الأبديه.</p>
<p>أما أولئك الذين قبلوا فى داخلهم بالأيمان،ذلك الذي يجعل كل الأشياء جديدة ،أي المسيح، فإنهم لا ينشقون إلى نصفين بنوالهم الخمر الجديدة منه.</p>
<p>لأنهم حينما اقتبلوا منه رسالة الإنجيل التى تبهج قلب الإنسان،ارتفعوا فوق الغنى ومحبة المال ،وتوطد ذهنهم فى الشجاعة، ولميقيموا وزنّا للأشياء الوقتية بل بالأحرى عطشوا إلى الأمورالأبدية، وأكرموا الفقر الأختياري، وكانوا مجتهدين فى محبتهما للإخوة لأنه كما هو مكتوب فى أعمال الرسل القديسين: &#8220;لأن كل الذين كانوا أصحاب حقول أو بيوت كانوا يبيعونها يأتون الأثمان المبيعات ويضعونها عند أرجل الرسل، فكان يوزَّع على كل أحد كما يكون له احتياج&#8221;(اع٤: ٣٤، ٣٥ ).</p>
<p>أما رئيس المجمع فلأنه كان ضعيفاً جداً فى عزمه ، ولم يستطع أن يسمع لسماع نصيحة بيع مقتنياته ، رغم أنها كانت ستكون لخيره ولها مكافئة جزيلة، فإن ربنا كشف المرض الذى كان يرفض داخل قلب الرجل الغنى وقال :ما أعسر دخول ذوي الأموال إلى ملكوت الله لأن دخول جمل من ثقب أبرع أيسر من دخول غني إلى ملكوت الله&#8221;.ولا يقصد المسيح بالجمل هنا ذلك الحيوان ،إنما ذلك الحبل الغليظ، لأنها كانت عادة أولئك المتمرسّون أن يسموا الحبل الغليظ جملاً.</p>
<p>لكن لاحظوا أنه لم يقطع تماماً رجاء الأغنياء بل حفظ لهم موضعاً وطريقا  للخلاص، لأنه لم يقل إنه مستحيل على الغني أن يدخل بل قال إنه يمكنه إنما بصعوبة.</p>
<p>عندما سمع التلاميذ الطوباويون هذه الكلمات اعترضوا قائلين : فمن يستطيع أن يَخلُص؟ وكان احتجاجهم لصالح أولئك الذين لهم أموال ومقتنيات، لأنهم (التلاميذ) كانوا يقولون: إننا نعرف أن لا أحد سيقتنع بأن يتخلّى عن ثروته وغناه،فمن يستطيع أن يَخلُص؟ لكن بماذا أجاب الرب؟&#8221;غير المستطاع عند الناس مستطاع عند الله&#8221;. لذلك فقد احتفظ لأولئك الذين يقتنون ثروات،بالإمكانية أن يُحسبوا مستحقين لملكوت الله لو أرادوا ، لأنه حتى لو كانوا يرفضون كلية التخلّي عما هو الان، لكن يمكنهم أن يبلغوا تلك الكرامة بطريقة أخرى.والمخلّص نفسه أظهر لنا كيف وأي طريقة يمكن أن يحدث هذا إذ قال:&#8221; إصنعوا لكم أصدقاء بمال الظلم حتى إذا فنيتم يقبلونكم فى المظال الأبدية&#8221;(لو١٦: ٩)لأنه لا يوجد شئ يمنع الأغنياء لو أرادوا أن يجعلوا الفقراء شركاء ومقاسمين لهم فى الغنى الوافر الذي يمتلكوه. ما الذي يعيق من له مقتنيات وافرة من أن يكون لطيف المعشر ومستعد أن يوزّع على الآخرين مسرعاً إلى العطاء، وأن يكون رؤوفاً وممتلئاً بتلك الشفقة الكريمة التى ترضى الله. إننا سوف نجد أن الحرص على تتمّيم هذا العمل ليس هو بلا مكافأة ولا عديم النفع ،لأنه مكتوب :&#8221;الرحمة تفتخر على الحكم&#8221;(يع٢: ١٣). لذلك فإن مخلّصنا وربنا كلنا،يهبنا ما يفيدنا بكل حجة وبكل طريقة، الذى به ومعه لله الآب التسبيح والسلطان مع الروح القدس إلى أبد الآبدين آمين.<a href="#_ftn1" name="_ftnref1">[2]</a></p>
<p>
<h4>الغني والفقير للقديس كبريانوس</h4>
<p>فأنت يا من يظن نفسه غنياً فى العالم ، أنت ضال ومخدوع ، اسمع صوت الرب فى سفر الرؤيا عندما يوبخ مثل هؤلاء قائلاً : &#8220;لأنك تقول : انى أنا غنى وقد استغنيت ، ولا حاجة لى الى شىء ، ولست تعلم أنك أنت الشقى والبائس وفقير وأعمى وعريان أشير عليك أن تشترى منى ذهباً مصفى بالنار لكى تستغنى ، وثياباً بيضاً لكى تلبس ، فلا يظهر خزى عريتك وكحّل عينيك بكحل لكى تبصر &#8221; (رؤ ٣: ١٧، ١٨) لذلك يا من أنت غنى وثرى ، اشترى لنفسك ذهب مُصفى بالنار من المسيح ، حتى تكون أنت ذهباً نقياً وتكون أدناسك قد حُرقت كما لو بنار ، اذ تطهرت بالصدقة والأعمال الصالحة اشتر لنفسك ثياباً بيضاً لكى ترتدى ثوب المسيح الأبيض يا من كنت عرياناً مثل آدم وكان منظرك بشعاً لا يليق وأنت أيتها السيدة الغنية والثرية ، كحّلى عينيك ، لا بكحل الشيطان بل بكحل المسيح حتى يمكنك أن تنظرى الرب عندما تستحقين الخير منه بسلوكك وأعمالك الحسنة.</p>
<p>١٥- وأنت يا من لا تستطيع أن تعمل الأعمال الصالحة فى الكنيسة لأن عينيك قد أحاط بها السواد وتغطت بظلال الليل فلم تعد ترى الفقراء والمحتاجين هل تعتقد أيها الغنى يا من لا يجول بفكرك بالمرة صندوق العطاء يا من تأتى الى عيد الرب بدون ذبيحة ، يا من تشارك الفقير فى الذبيحة التى يقدمها ؟ انظر الكتاب المقدس فترى أرملة فعلت الصلاح فى وسط ضغوط ومشقات الفقر اذ ألقت فى الخزانة فلسين كانا هما كل ما تملكه، وعندما رآها الرب نظر الى عملها ، ولم ينظر الى مقدار العطية ، بل رأى قيمة هذا العمل وقدّره كثيراً وأجاب قائلاً : &#8220;بالحق أقول لكم : ان هذه الأرملة الفقيرة ألقت أكثر من الجميع ، لأن هؤلاء من فَضلَتهم ألقوا فى قرابين الله ، وأما هذه فمن اعوازها ألقت كل المعيشة التى لها&#8221; ( لو ٢١: ٣، ٤) فطوبى لهذه المرأة ، التى استحقت قبل يوم الدينونة أن يمدحها صوت الديان ؛ فليخز الغنى من سلوكه هذا، فها أرملة فقيرة تُعطى ، وجُدت عظيمة للغاية فى محبتها ، فى حين أن كل شىء يتصدّق به الناس انما يُعطى عادة للأرامل والأيتام ، الا أنها أعطت ، فالتى كان يجب أن تأخذ هى التى أعطت ومن هنا يمكن أن نعرف كم هى رهيبة مجازاة الأغنياء والبخلاء ، ان هذا الموقف يُرينا أنه حتى الفقراء أيضاً يستطيعوا أن يفعلوا الخير ولكيما ندرك أن هذه الأعمال الصالحة مُقدمة لله ، وأن وأن من يفعلها يستحق الثناء منه انظُروا المسيح انه يدعو تلك العطايا&#8221; قرابين الله&#8221; وهذا يوضح جلياً أن من يعطف على المسكين يُقرض الله.</p>
<p>١٦- أيها الاخوة الأحباء ، قد يظن البعض أنه يستطيع التماس العذر فى عدم قيامه بأعمال الرحمة والصدقة ، لأن لديهم أطفال ، فمثل هذا التفكير يقيد المسيحى أحياناً ويمنعه عن عمل الخير لكننا فى العطايا الروحية يجب أن نضع فى اعتبارنا أن المسيح هو الذى ينالها ( عبر الصدقة للفقراء ) ، فنحن لا نفضل رفقائنا فى العبودية على أولادنا ، ولكننا نفضل الرب عليهم ، انه يحذرنا بقوله : &#8220;من أحب أباً أو أماً أكثر منى فلا يستحقنى&#8221; (مت ١٠: ٣٧) وأيضاً فى سفر التثنية كُتب عن قوة الايمان ومحبة الله : &#8220;الذى قال عن أبيه وأمه : لم أرهما وباخوته لم يعترف ، وأولاده لم يعرف ، بل حفظوا كلامك وصانوا عهدك&#8221; (تث ٣٣: ٩) لأنه لو كنا نحب الله من كل القلب ، فينبغى علينا ألا نفضّل الوالدين أو الأولاد على الله وهذا أيضاً ما يوضحه يوحنا الحبيب فى رسالته ، أن محبه الله لا توجد فى من لا يريدون فعل الخير للفقراء : &#8220;وأما من كان له معيشة العالم ونظر أخاه محتاجاً ، وأغلق أحشاءه عنه ، فكيف تثبت محبة الله فيه ؟&#8221; (١يو ٣: ١٧) فان كنا بعطائنا للفقراء نجعل الله مديناً لنا ، فان الذى يقدم لهؤلاء الأصاغر ، انما يقدم للمسيح ذاته ، فلا يوجد مبرر لأى أحد أن يفضل الأرضيات على السماويات ولا أن يضع الأمور البشرية فوق الأمور الإلهية.</p>
<p>١٧- لذلك عندما نقرأ فى سفر الملوك الأول عن أرملة صرفة صيدون ، التى عندما فرغ كل شىء بسبب الجفاف والمجاعة ، ولم يعد لديها سوى ملء كف من القيق فى الكوار وقليل من الزيت فى الكوز لتعمل كمكة تأكلها هى وابنها ثم تموت ، جاء ايليا وسألها أن تصنع له أولاً كعكة ليأكل ثم بعد ذلك تأكل هى وابنها مما تبقى لم تتردد الأرملة فى اطاعته ولا وضعت ذاتها وابنها فوق ايليا ، رغم أنها كانت جائعة ومحتاجة ، الا أنها أعطت ايليا قبل أبنها لقد صنعت هذه الأرملة عملاً مرضياً لله ، فما طُلب منها أعطته فى الحال ومجاناً ، لم يكن عطاءها من فيض بل من احتياج وعوز شديد ، وبينما كان ابنها يتضور جوعاً فضلت عليه آخر أى ايليا ، ولم تسمح للاحتياج أو الجوع أن يهزم الرحمة فمن أجل عمل الخير استهانت بالحياة حسب الجسد ، من أجل أن تحفظ روحانية النفس ، لذلك أظهر ايليا —الذى يرمز للمسيح —أن المسيح بحسب رحمته يعطى كل أحد جعالته اذ قال : &#8220;لأنه هكذا قال الرب اله اسرائيل : ان كوار الدقيق لا يفرغ ، وكوز الزيت لا ينقص ، الى اليوم الذى فيه يعطى الرب مطراً على وجه الأرض&#8221; (١مل ١٤: ١٥ ،١٧) وبحسب ايمانها بالوعد الالهى ، تضاعفت وتزايدت هذه الأشياء التى قدمتها ، وأثمر عملها البار ورحمتها التى أظهرتهما ، ولم يفرغ كوار القيق ولم ينقص كوز الزيت ان هذه الأم لم تكن تعرف المسيح بعدُ ، ولا سمعت تعاليمه ، ولا كانت تقدمّ الطعام والشراب عرفاناً لدمه كمن افتداهم المسيح بصليبه وآلامه فكم بالحرى يسىء للمسيح هؤلاء الذين يضعون أنفسهم وأولادهم قبل المسيح ويدخرون ثروتهم ولا يشركوا الفقراء المعوزين فى ميراثهم الأرضى الوفير.</p>
<p>١٨- قد تقول أن لك أبناء كثيرين فى بيتك ، وأن كثرتهم هذه تمنعك من أن تُقدم على فعل الخير انك بهذه الحقيقة ذاتها ينبغى عليك بالأكثر أن تُكثر من فعل الخير ، اذ أنك أب لأولاد كثيرين ويوجد كثيرين تطلب من أجلهم أمام الرب ، وكما أنه فى هذه الحياة ، كلما ازداد عدد أبنائك ، كلما ازدادت بالأكثر نفقاتك من أجل مطالب الحياة ، هكذا أيضاً فى الحياة الروحية كلما زاد عدد أبنائك كلما كان عليك أن تزداد فى الأعمال الصالحة هكذا كان أيوب يقدم ذبائح عديده لأجل أولاده وبقدر ما كان عدد أولاده كبيراً كانت ذبائحه أكثر لأنه لا يمكن أن يمضى يوم دون أن يخطىء أحدهم أمام الرب ، هكذا كانت لا تنقطع الذبائح يوميا والكتاب المقدس يبرهن على ذلك بقوله : &#8221; وولد له سبعة بنين وثلاث بنات وكان لما دارت أيام الوليمة ، أن أيوب أرسل فقدّسهم ، وبكّر فى الغد وأصعد محرقات على عددهم كلهم &#8221; (أى ١:٢-٥) لذلك ، اذا كنت حقاً تحب أولادك ، واذ كنت تريد أن تُظهر لهم عن عذوبة حبك الأبوى ، فينبغى لك أن تعمل أعمال صالحة أكثر حتى تستودع أولادك لدى الله بأعمالك البارة.</p>
<p>١٩-لا تعتبر من هو زائل وضعيف ، أب لأولادك ، بل اقتن الرب الذى هو الأب الأبدى والقوى لأبناء روحيين سلّم له كل ثروتك التى تحفظها اجعله وصياً على أبنائك ليكون هو حافظهم من كل آلام هذا العالم ، فعندما تُوكل لله أمر ثروتك لن تصادرها الدولة أو يستولى عليها جباة الضرائب ولن تخسرها خلال الدعاوى القضائية ، لأن الميراث كله فى عناية الله ، هذا هو معنى الحيطة ، هو أن تعمل لأجل ورثتك فى المستقبل بالحب الأبوى ، وحسبما يقول الكتاب : &#8220;كنت فتى وقد شخت ، ولم أر صديقاً تُخلى عنه ، ولا ذرية له تلتمس خبزاً اليوم كله يتراءف ويقرض ، ونسله للبركة&#8221; (مز ٣٧: ٢٥، ٢٦) وأيضاً : &#8220;الصديق يسلك بكماله ، طوبى لبنيه بعده&#8221; (أم ٢٠: ٧) فان كنت كأب تُعتبر مذنب وخائن ما لم تتطلع باخلاص من أجل مصلحة أولادك ، وما لم تعكف على خلاصهم بمحبة حقيقية لماذا تتلهف على الثروة الأرضية أكثر من الثروة السماوية ؟ لماذا تفضل أن تستودع أولادك للشيطان بدلاً من المسيح ؟ انك تخطىء مرتين وترتكب جريمة مضاعفة ومزدوجة لأنك لا توفر لأبنائك عناية الله أبيهم ، ولأنك تعلّمهم أن يحبوا ممتلكاتهم أكثر من المسيح.</p>
<p>٢٠- ان الآباء يجب أن يتشبهوا بطوبيا ، وأن يعطوا أبنائهم وصايا نافعة لخلاصهم كما أعطى طوبيا لأبنه حينما قال : اسمعوا يا بنى لأبيكم اعبدوا الرب بحق وابتغوا عمل مرضاته وأوصوا بنيكم بعمل العدل والصدقات وأن يذكروا الله ويباركوه كل حين بالحق وبكل طاقتهم&#8221; (طو ١٤: ١٠، ١١) وأيضاً فليكن الله فى قلبك جميع أيام حياتك واحذر أن ترضى بالخطية وتتعدى وصايا الرب الهنا تصدق من مالك ولا تحول وجهك عن فقير وحينئذ فوجه الرب لا يحول عنك كن رحيماً على قدر طاقتك ، ان كان لك كثير فابذل كثيراً وان كان لك قليل فاجتهد أن تبذل القليل عن نفس طيبة فانك تدخر لك ثوباً جميلاً الى يوم الضرورة لأن الصدقة تنجى من كل خطية ومن الموت ولا تدع النفس تصير الى الظلمة ان الصدقة هى رجاء عظيم عند الله العلى لجميع صانعيها&#8221; (طو ٤: ٦-١٢).</p>
<p>٢١- أى نوع من العطايا – أيها الاخوة الأعزاء – يكون تقديمها أمر عظيم فى عينى الله ؟ عند الأمم تعد تقدمات كريمة لتقديمها ان كان الامبراطور أو الحاكم حاضراً ، والذين يقدمونها يكونون فى أبهى زينة ، فكم يكون أعظم جداً وأكثر مجداً هو مجد التقدمة الكريمة التى فيها يكون الله حاضراً ؟ لابد أن تكون الزينة أعظم وأغنى بكثير عندما تكون قوات السماء مجتمعة فى هذا المشهد ، عندما تجتمع الملائكة ، فالمكافأة ليست مركبة ذات أربع خيول ، أو ترشيح لمنصب فى الامبراطورية أو خلافه ، بل نوال الحياة الأبدية ، عندما يكون السعى ليس وراء رضى الناس الزائل ، بل وراء الجعالة الدائمة لملكوت السموات.</p>
<p>٢٢- أمّا الكسالى الذين لا يتعبون ولو بقليل فى الأعمال الصالحة بسبب حبهم للمال ، فليكن لهم الخزى ، ليضع كل واحد فيهم أمام عينيه : الشيطان مع أعوانه – أى مع الهالكين – وهو منطلق الى الوسط مستثيراً أتباع المسيح والمسيح نفسه حاضر ويدين والشيطان يقارن متحدياً قائلاً : &#8220;لأجل هؤلاء الذين ترون معى ، لم أقبل الضربات ولم أحتمل الجلد ولم أحمل الصليب ولا سفكت دمى ولا افتديت عائلتى بالآلام والدم ، أيضاً لم أعدهم بالملكوت السماوى ولا أدعوهم مرة أخرى الى الفردوس ومع ذلك ما أغلى وأفخر الهدايا التى يحضرونها لى ، وكم من تعب يتعبونه من أجلى ، اما برهن أو بيع مقتنياتهم فى سبيل تدبير هذه العطية أظهر أيها المسيح أتباعك الذين يعطون ، هؤلاء الأغنياء ، هؤلاء الأثرياء بثراء فاحش ان كانوا يعطون فى الكنيسة – حيث أنت قائم وتنظر – بعد رهن أو توزيع ممتلكاتهم (على الفقراء) ، نعم بعد تحويلها الى وضع أفضل ، الى كنوز سمائية فيما يخصنى هى مشاهد أرضية زائلة ، لم يتم اطعام أو كساء أحد ، ولن يُعال أحد لا بطعام أو شراب ، كل شىء تم تقديمه لحسابى كان بين جنون من يستعرض عطاياه وضلال المتفرج ولكن فى وسط فقرائك (أيها المسيح) فأنت مكسياً وشبعاناً وأنت تَعد هؤلاء الذين يعطون الصدقة بالحياة الأبدية ورغم أنكم تكرمهم بمكافأت الهية ومجازاة سماوية فنادراً ما يتساوى أتباعك مع أتباعي.</p>
<p>٢٣- بماذا تجيبوا عن كل هذا أيها الاخوة الأعزاء ؟ بأى طريقة ندافع عن البخل وأذهان الأغنياء التى يغطيها ظلام الليل ، بأى عذر نبرئهم نحن الذين أقل من خدام ابليس (فى العطاء له) ؟ اذ أننا لا نجازى ولو بالقدر الضئيل لأجل ثمن آلامه ودمه ؟ لقد أعطى لنا الرب وصاياه ، وعلّمنا ما يجب أن يفعله خدامه واعداً ايانا بالأجر لكل من يعطى صدقة ومهدداً بالعقاب للبخيل لقد أوضح حكمه وأنبأ بما ستكون عليه دينونته اي عذر يمكن أن يوجد لمن لا يعمل هكذا ؟ أى دفاع سيكون للبخيل ؟ ما لم يفعل العبد ما أمره به الرب ، سينفذ الرب ما هدد به فقد  قال : &#8220;متى جاء ابن الانسان فى مجده وجميع الملائكة القديسين معه ، فحينئذ يجلس على كرسى مجده ويجتمع أمامه جميع الشعوب، فيميز بعضهم من بعض كما يميز الراعى الخراف من الجداء ، فيقيم الخراف عن يمينه والجداء عن اليسار ثم يقول الملك للذين عن يمينه : تعالوا يا مباركى أبى ، رثوا الملك المعد لكم منذ تأسيس العالم لأنى جعت فأطعمتمونى ،عطشت فسقيتمونى ،كنت غريباً فآويتمونى ، عرياناً فكسوتمونى ، مريضاً فزرتمونى محبوساً فأتيتم الىّ ، فيجيبه الأبرار حينئذ قائلين : يارب ، متى رأيناك جائعاً فأطعمناك أو عطشاناً فسقيناك ؟ ومتى رأيناك غريباً فآويناك ، أو عرينا فكسوناك ؟ ومتى رأيناك مريضاً أو محبوساً فأتينا اليك ؟  فيجيب الملك ويقول لهم : الحق أقول لكم : بما أنكم فعلتموه باحد أخوتى هؤلاء الأصاغر فبى فعلتم ثم يقول أيضاً للذين عن اليسار : اذهبوا عنى يا ملاعين الى النار الأبدية المعدة لإبليس وملائكته ، لأنى جعت فلم تطعمونى ،عطشت فلم تسقونى ، كنت غريباً فلم تآوونى ، عرياناً فلم تكسونى ، مريضاً ومحبوساً فلم تزوورونى ، حينئذ يجيبه هم أيضاً قائلين : يارب ، متى رأيناك جائعاً أو عطشاناً أو غريباً أو عرياناً أو مريضاً أو محبوساً ولم نخدمك ؟ فيجيبهم قائلاً : الحق أقول لكم : بما أنكم لم تفعلوه بأحد هؤلاء الأصاغر ، فبى لم تفعلوا فيمضى هؤلاء الى عذاب أبدى والأبرار الى حياة آبدية&#8221; (مت ٢٥: ٣١-٤٦) أىّ اعلان أعظم وأكثر وضوحاً من هذا ؟ بأى شىء كان يمكنه أن يحثنا على أعمال البرّ والرحمة أعظم من قوله أن كل ما نعطيه للمحتاج والفقير انما نقدمه له شخصياً ، وبقوله أن عدم مساعدتنا للفقير هى اساءة له هو نفسه ، ان من هو فى الكنيسة ولا تتحرك أحشائه تجاه أخيه عليه أن يتأمل فى المسيح الذى فى أخيه ، والذى لا يهتم برفيقه فى العبودية أثناء الضيق أو الاحتياج ، فليعلم أن الرب فى ذلك الشخص الذى يزدرى به.</p>
<p>٢٤- هكذا أيها الاخوة الأحباء ، أنتم الذين تخافون الله ، الذين رفضتم ودستم العالم تحت أقدامكم ورفعتم عقولكم الى أعلى الى أعظم الامور الالهية ، فلنقدم طاعة بايمان تام وعقول مكرسة وبأعمال صالحة دائمة ، لننال رضى الرب فلنعط ثياباً للمسيح على الأرض لننال ثياب السماء ، فلنقدم طعاماً وشراباً من هذه الأرض لكى ما نأتى الى الوليمة السمائية مع ابراهيم واسحق ويعقوب ، فلنبذر بفيض وغزارة حتى ننال حصاداً عظيماً ، فلنفكر فى حياتنا وخلاصنا الآبدى ، كما ينصح الرسول بولس قائلاً : &#8220;فاذا حسبما لنا فرصة ، فلنعمل الخير للجميع ، ولاسيما لأهل الايمان فلا نفشل فى عمل الخير لأننا سنحصد فى وقته ان كنا لا نكل&#8221; (غلا ٦: ٩ ، ١٠).</p>
<p>٢٥- لننظر أيها الاخوة الأحباء ماذا فعل المؤمنين (فى أيام الرسل) اذ كانت قلوبهم منذ البداية عامرة بفضائل عظيمة ، عندما كان ايمانهم حاراً وحمية الايمان تعمل فيهم آنذاك باع المؤمنون بيوتهم وأملاكهم وقدموا بارادتهم كل ما يملكونه للرسل كى يوزعوه على الفقراء لقد باعوا مقتنياتهم الأرضية ووزعوا ميراثهم الأرضى الى حيث سيذهبون ليعيشوا الى الأبد ، هكذا كان جهادهم وفيضهم فى الأعمال الصالحة ووحدتهم فى الحب كما نقرأ فى سفر الأعمال : &#8220;وكان لجمهور الذيت آمنوا قلب واحد ونفس واحدة ، ولم يكن أحد يقول ان شيئاً من أمواله له ، بل كان عندهم كل شىء مشتركاً&#8221; (أع ٤: ٣٢) هذا بالحق معنى أن تصير ابناً لله بقوة الميلاد الروحانى ، وأن نقتدى بعدل الله الآب بناموس سماوى ، لأن كل ما هو لله هو للجميع ، ولا يستثنى أحد من عطاياه ونعمه ، كى يصير للجنس البشرى كله نصيباً متساوياً فى صلاح الله وسخائه لذلك ينير النهار بنوره للجميع ، والشمس تعطى للجميع بهاءها ، والمطر ماءه ، والريح نفحتها ، وهناك نوم واحد لكل من ينامون ، وشعاع واحد من النجوم وفى مثال المساواة هذا ، هؤلاء الذين على الأرض والذين يقتسمون ما يمتلكونه مع اخوتهم ، والذين هم أحرار وأبرار فى عطاياهم للجميع انما يتشبهون بالله الآب.</p>
<p>٢٦- أيها الاخوة الأحباء كم سيكون مجد هؤلاء المحبين المتعطفين ؟ كم سيكون فرح عظيم عندما يفرز الرب شعبه ويوزع المكافأت بحسب فضائلهم وأعمالهم الصالحة كما وعد ، عندما يبدء يعطى العطايا السمائية عوضاً عن الأرضية ، الأبدية عوضاً عن الزمنية ، العظيمة عوضاً عن التافهة ؟ عندما يقدمنا للآب الذى استعادنا له بتقديسه ؟ سيهبنا عطية الحياة الآبدية غير المائتة التى أعطيت لنا مرة ثانية بدمه المحيى ، ويقودنا الى الفردوس ويفتح لنا ملكوت السموات علينا أن نحفظ هذه الأمور فى أفكارنا ونفهمها فى ملء الايمان ، ونحبها بكل قلوبنا ونشتريها بعظمة الروح التى تظهر فى أعمالنا الدائمة ، أى أعمال المحبة والرحمة ، تلك الاعمال المحيية الالهية التى هى تعزية المؤمنين الكبرى ، هى حامية لرجائنا ، ضرورية للضعيف ، ومجيدة للقوى ، وبها ينال المسيحيون النعمة الروحية.                                       فلنجاهد بفرح بلا كلل لأجل اكليل أعمال الخير ، لنسعى كلنا فى ميدان البر حيث يتطلع الله والمسيح علينا ، ولا نتراخى فى جهادنا لأجل أيّة رغبة فى هذه الحياة أو فى هذا العالم ، نحن الذين أصبحنا أعظم من هذه الحياة وهذا العالم فاذا جاء يوم المكافأة أو يوم الاضطهاد ونحن مستعدون فى ميدان الأعمال الصالحة هذه ، فلن يتأخر الرب عن اعطاء المكافأة حسب استحقاقنا فى زمان السلام سيهبنا نحن الفائزين اكليلاً أبيض لأجل أتعابنا ، وفى زمان الاضطهاد ، سوف يهب اكليلاً ارجوانى لأجل آلامنا.<a href="#_ftn1" name="_ftnref1">[3]</a></p>
<h3></h3>
<h3></h3>
<h3>عظات آباء وخدام معاصرون :</h3>
<h4>ماذا أعمل لأرث الحياة الأبدية ؟ قداسة البابا تواضروس الثاني</h4>
<p>يوم الثلاثاء من الأسبوع الثانى لقداسة البابا تواضروس الثاني (مر١٠:  ١٧ – ٢٧)</p>
<p><strong>ماذا أعمل لأرث الحياة الأبدية ؟</strong></p>
<p>في إنجيل يوم الثلاثاء من الأسبوع الثاني من الصوم المقدس نجد سؤالا واضحا وحاضراً ومفهوماً لدينا &#8221; ماذا أعمل لأرث الحياة الأبدية ؟&#8221; وأعتقد أن هذا السؤال يشغلنا جميعاً وهو &#8221; ماذا أعمل لكي يكون لي نصيب في السماء ؟&#8221;. جاء هذا السؤال من خلال شاب غني يمكن أن نسميه مع نهاية القصة &#8221; الغني الحزين &#8220;؛ لأنه مكتوب عنه أنه مضى حزيناً ؛ لأنه في أول الموقف يقول الكتاب: &#8221; فنظر إليه يسوع وأحبه &#8221; (مر۱۰ :٢١). وممكن أن تُطلق عليه أيضاً : &#8220;الغني المحبوب&#8221;.</p>
<p>بداية القصة باختصار شديد : كان هذا الشاب الغني الذي سأل هذا السؤال يتمتع بصفات جيدة ، فقد كان غنياً والمال بركة ونعمة من عند الله، وكانت فيه كل سمات الشباب من قوة وحيوية وجمال ونشاط ، وكان رئيساً من رؤساء الدين وبالتالي مشهورا في المجتمع اليهودي ، فكان له وقاره واحترامه ، كما أنه كان مؤدباً في حديثه مع السيد المسيح ، فيقول عنه الكتاب : &#8220;وجثا &#8220;، أي عندما أتى أمام السيد المسيح ركع ، وهذا يعتبر في قمة الأدب والخضوع ، والأهم من هذا وذاك أنه كان له اشتياق لملكوت السموات وهذا في حد ذاته جيد جداً، أيضاً كان حافظاً للوصايا منذ صغره ، فكان في مظهره جيدا ، وربما القصة تدور في موضوع المال وهو نعمة وبركة من عند ربنا ، لكن الشيطان قد يستخدم المال في كثرته أو قلته ويحارب به الإنسان ، وموضوع المال جاء في الكتاب المقدس في ٢٠٠٠ موضع ، ربما الموضوع الأول في اهتمام الكتاب المقدس له ، وقد يعتبر أشهر الموضوعات التي قرأنها في إنجيل الأحد الماضي &#8220;لا يقدر أحد أن يخدم سيدين إما الله أو المال&#8221; (مت ٦ : ٢٤)، والكتاب واضح جداً في هذا الأمر. أما مشكلة هذا الشاب فقد تأتي إلى أمور كثيرة ، كان تدينه يغطي جزءاً من حياته ولا يغطي حياته كلها ، لكن الله أعطانا الدين لكي ما يرتقى الإنسان في مشاعرة وعبادته ، ولكي يكون أكثر رقياً في أفعاله وتصرفاته وأفكاره وسلوكياته ، وفي حياته اليومية وعلاقاته بصفة عامة .</p>
<p>الدين ليس مفاهيم فقط ولا عقائد ولا طقوس ، إنما في مجمله لكي ما يرتقي الإنسان في كل كلمة يقولها وكل فعل ورد فعل . كانت مشكلة هذا الشاب أنه يريد أن يأخذ جزءاً من الدين ، فتدينه موقوت ، مثل قصة &#8220;حنانيا وسفيرة&#8221;، كل الناس كانت تبيع ما لديها وتضع أثمانها عند قدمي الرسل ، وكل من له احتياج يأتي ويأخذ ، وكان حنانيا وسفيرة يريدا أن يفعلا مثلهم وفي الوقت ذاته يريدا أن يحتفظا بجزء من المال لهما ، وكانت الخطية والنتيجة أن نهايتهما كانت الموت ، هذه المشكلة يقع فيها كثيرون ، فهناك من يحب أن يأخذ جزئية من الوصية أو جزئية من الإنجيل أو جزئية من الحياة المسيحية بصفة عامة ، لذلك وقع الشاب الغني في نقصات عديدة :</p>
<p>١ - إنه كان يخاطب السيد المسيح كمعلم ماهر وليس كإله واحد.</p>
<p>٢ - إنه كان يعبد في الحقيقة صنماً داخلياً ، فكان يعبد محبة المال التي هي أصل لكل الشرور</p>
<p>٣  كان يحفظ الوصايا نظرياً ، ولا يطبقها أو يعيشها عملياً ، لم ينفذ الوصايا .</p>
<p>٤ -  كان يعتبر أن كنزه على الأرض وليس في السماء ، وأنت أين يوجد كنزك ؟ على الأرض أم في السماء ؟ وهذا السؤال مرتبط بسؤال إنجيل اليوم  &#8220;ماذا أعمل لأرث الحياة الأبدية ؟&#8221;، فإن كان كنزك على الأرض سيظل في الأرض في التراب ، وإن كان في السماء سيزداد ، ومن هنا جاء تعبير الاستثمار للمستقبل . كنز هذا الشاب كان على الأرض ، وكل مفاهيمه مرتبطة بالأرض ، بدلاً من أن يضع كنزه في السماء .</p>
<p>٥ - كان ينقصه أن يتبع الراعي الصالح فقد قال له الرب يسوع : &#8221; تعال اتبعني&#8221;، لم يقل له اتبع أهواءك أو كنوزك أو ذاتك ، هو لا يشعر بالأمان للمستقبل ، والوصية الأولى كسرها لأن الوصية تقول : &#8220;لا يكن لك آلهة أخرى أمامي&#8221; (خر ٢٠ : ٣)، ولكن كان لديه إله آخر.</p>
<p>٦ - كان يعتقد أن غناه المادي دليلا على الرضا السماوي ، المال بركة من عند ربنا ، لكن لا تنس أن كل إنسان فينا يعيش بفكرة الوكيل ، قد يعطينا الله مواهب ولكنني لا أملكها ، يعطيني مالا ولكني لا أملكه ، فأنا مجرد وكيل .</p>
<p>وأنت في بداية الصوم ، نفترض أنه جاءك بعض من المال ووفيت احتياجاتك ، إما أن تنفقه ببزخ وهذه خطية ، وإما أن تدخر منه للمستقبل الأرضي فقط ، وقد يكون خطية بحسب قصدك وتصرفك فيه ، أو تستخدمه لفائدة الآخرين وهنا عين الصواب ، فمن الممكن أن يزيدك الله ويبارك في مالك ، والكتاب المقدس يحكي عن أغنياء كثيرين ، فنجد على سبيل المثال : إبراهيم أبو الآباء كان غنياً، وأيوب الصديق &#8230; وآخرين ، وفي تاريخ الكنيسة نجد أغنياء كثيرين من القديسين مثل القديس الأنبا أنطونيوس ، والأنبا أرسانيوس معلم أولاد الملوك.</p>
<p>والإنجيل يسألك : &#8220;ماذا تفعل لترث الحياة الأبدية ؟&#8221; إجابة ربنا يسوع المسيح وضعت خطة زمنية في عدة نقاط ، فقد قال له : &#8221; إذهب بع كل ما لك وأعط الفقراء ، فيكون لك كنز في السماء ، وتعال اتبعني حاملا الصليب&#8221; (مر ۱۰ : ٢۱). وهذه هي الإجابة الجميلة التي قالها ربنا يسوع لنا جميعا :</p>
<p>اذهب : في طريق التوبة وعش فيه ، وغير طريقتك ، فالتوبة تغيير، وكلمة ميطانية معناها تغيير في الفكر، فالبداية هي التوبة ، قد تتذكر ملاك كنيسة أفسس في سفر الرؤيا يقول له : &#8220;اذكر من أين سقطت وتب&#8221; (رؤ ٢ : ٥). هذه هي الخطوة الأولى ، للابد أن تقف وتراجع نفسك وفكرك ، وتراجع هذا السؤال وموقفك مثل هذا الشاب، لكن في البداية لا بد أن تذهب وتقدم توبة.</p>
<p>بع كل ما لك : أحياناً ما يملكه الإنسان يقيده ، فقد يقيده في فكره ، فعندما يقول له :  &#8220;اذهب وبع كل ما لك&#8221; يقصد بها تحرر واذهب لحياة الحرية ، أي لا تجعل قلبك متعلقاً بأي شيء على الأرض ، ولا تجعل المال سيدك بل اجعله خادمك . لذلك في فترة الصوم يحاول الشخص أن يقطع فيها ارتباطه بالعالم .</p>
<p>بع كل ما لك : ممكن أقول &#8220;بع كل ميولك الأرضية وابعد عنها وتحرر&#8221;، لذا يقول معلمنا بولس الرسول : &#8220;فإن كان لنا قوت وكسوة ، فلنكتف بهما&#8221; (١تي٦ : ٨) .</p>
<p>يوجد في الأرض ملايين من البشر لا تجد الماء النقى ، ولا تجد الطعام الجيد فلابد ان نشكر الله على وجود الخير في بلادنا دائماً.</p>
<p>اعطي الفقراء فيكون لك كنز في السماء ، كلمة &#8220;أعط الفقراء&#8221;، أي لا بد أن تحيا حياة العطاء ، وكلما تعيش هذه الحياة ، كلما تعيش الفرحة والسعادة الحقيقية ، فكل عمل تقدمه تشعر في داخلك بسعادة ؛ لأنه مكتوب : &#8220;مغبوط هو العطاء أكثر من الأخذ &#8221; (أع ٢٠ : ٣٥) والمحبة تعطي . وهنا شيء غريب يربط بين الفقراء والسماء ، فقد قال القديس يوحنا ذهبي الفم : &#8221; الفقراء حراس الملكوت&#8221;، وهذا هو السبب في أن كنيستنا تُعلمنا كل يوم من أيام الصوم الكبير أن تُرتل مديح الصوم &#8221; طوبى للرحما على المساكين &#8220;، واجعل طبيعتك هي طبيعة العطاء في كل شيء ، وعطاؤك هذا إن كان من أجل المسيح فثق في أنه كثير جدا مهما كان قليلاً من الناحية العددية ، فالله لا يهتم بالأرقام ، لكن كل ما يهمه المشاعر التي وراء الرقم وما وراءه ، فما يهم ربنا هو مشاعر قلبك &#8230; عش حياة العطاء .</p>
<p>تعال اتبعني ، اتبعني هنا تعني أن نعيش حياة الوصية ، فالكتاب المقدس قطعة واحدة وليس مجرد وصايا متناثرة فهو روح نعيشه ، اتبع خطوات السيد المسيح ، واجعل مسيحك وأنت تراه كل يوم ، حتى عندما تُصلي مزمور الراعي تقول : &#8221; إذا سرت في وادي ظل الموت لا أخاف شرا لأنك أنت معي&#8221; (مز ٢٣ : ٤).  قل له : &#8221; أنا أتبعك يا رب حتى لو كان الطريق الذي أسير فيه مخيفاً ومرعباً &#8220;.</p>
<p>لا تنسوا يا إخوتي أنه ذات يوم مر السيد المسيح على رجل عشار اسمه &#8220;لاوي&#8221; وبمجرد أن أشار على المكان الموجود فيه وقال له : &#8221; اتبعني &#8221; (مت ۹ : ۹)، كلمة واحدة فقط لكنها جميلة جداً .</p>
<p>تخيل معي لو كان لاوي العشار ظل في مكانه ، فلن يعرفه أحد فيما بعد ، أما متى الرسول فصار أحد تلاميذ السيد المسيح الاثني عشر، وصار كاتب البشارة الأولى وحضر معجزات وأمثال السيد المسيح ، وبعد القيامة وبعد حلول الروح القدس ذهب يبشر في بلاد كثيرة من ضمنها أثيوبيا واسمه لامع إلى اليوم .</p>
<p>إذاً إذا سألت السؤال : &#8220;ماذا أعمل لأرث الحياة الأبدية ؟&#8221; اسأل أيضاً : &#8220;هل أنت تتبع المسيح ؟ هل تجاهد كل يوم ؟&#8221; حاملا الصليب : كن متشبهاً بسيدك ، وهذه هي حياة الجهاد اليومي ، فيجب أن تكون مثل السيد المسيح الذي حمل صليب الفداء من أجلك ومن أجل كل إنسان ، وأنت تحمل أيضاً صليب الجهاد ، جاهد مع ذاتك ومع نفسك وتغلب على كل خطية وكل ضعف ، وحاول أن تتقدم في كل يوم في هذا الجهاد الروحي ، فكل من يجاهد يجد نفسه في كل شيء وفقاً لقوانيين الصوم .</p>
<p>هذه الخطوات الخمس ضعها أمامك باستمرار ،                                  أذهب.                + عش حياة التوبة</p>
<p>ولاحظ أن الشاب الغني مضى حزيناً ، ولكن عرفنا من.                        بع كل ما لك          + عش حياة الحرية</p>
<p>فم ربنا يسوع المسيح القدوس كيف يرث كل واحد.                             أعطى الفقراء         + عش حياة العطاء</p>
<p>فينا الحياة الأبدية بهذه الخطوات.                                      ً           تعالى اتبعنى.         + عش حياة الوصية</p>
<p>هو مضى حزيناً ؛ لأنه كان ذا أموال كثيرة ،.                                   حاملاً الصليب.      + عيش حياة الاحتمال</p>
<p>فأمواله صنعت حاجزا بينه وبين السماء، أما أنت أيها</p>
<p>الحبيب فاعلم أن كل شيء مستطاع عند الله ، وربما</p>
<p>عند الناس غير مستطاع</p>
<p>يستطيع المسيح أن يرشدك ويساعدك ، وقد أعطى تشبيها لطيفاً هنا &#8220;ما أعسر دخول المتكلين على الأموال إلى ملكوت الله !&#8221; (مر ١٠ : ٢٤) ، وبعدها قال : &#8220;مرور جمل من ثقب إبرة أيسر من أن يدخل غني إلى ملكوت الله&#8221; (مر ١٠ : ٢٥). وإن كانت في الترجمة الأصلية الجمل معناها &#8220;حبل سميك &#8220;، أتريد أن تدخله من ثقب إبرة ، فهذا من الصعب إدخاله ، فالحبل أو الخيط لا بد أن يكون رفيع جداً، ولكن باب الأمل مفتوح ، لأن كل شيء مستطاع عند الله.<a href="#_ftn1" name="_ftnref1">[4]</a></p>
<h5></h5>
<h4>أنا لست أصلاً لكل الشرور للمتنيح أنبا كيرلس مطران ميلانو</h4>
<p>+ أنا المال .. وصدقنى أنا لست أصلاً لكل الشرور ؟ ! أنت الذى احببتنى ومحبتك لى هي التي جعلت منى منبعاً للشرور .</p>
<p>+ أنا المال أنا أعاتبك لماذا تتهمنى وتدعى بأنى أصل لكل الشرور ؟ ! أنت الذى احببتنى أكثر من كل من هم حولك ؟ !</p>
<p>+ أحببتنى أكثر من أبيك وأمك وأخوتك وأكثر من زوجتك واولادك وأهلك ؟ !</p>
<p>+ أنا أعاتبك .. لأنك لم تحبني فقط أكثر منهم .. بل لأنك تمسكت بى وتخليت عن الكل بل وبعت الكل .</p>
<p>+ أخوك نائم جائع وأولاده عراة ومالك الذى هو أنا نائم في جيبك مغلق عليه في خزانتك .. حرام عليك .</p>
<p>+ أنا المال .. ولم أتغير .. أنا ثابت في عمله .. أنت الذى تتغير عندما أتزايد بين يديك .. تزداد محبتك لى .. وتتغير شخصيتك وتنمو براعم الشر دون أن تدرى .</p>
<p>+ انظر الى .. أنا لست لدى أياد وأرجل لكى أتحرك وأجرى وأذهب لمن يمد يده ويصرخ ويستغيث .</p>
<p>لست أدرى هل أنا عبد في يدك أيها الانسان .. أم أنت عبد وسجين في محبتى أنا المال ؟ !</p>
<p>+ أنا المال .. وأنت تمسكنى بين يديك وتتمسك بى في قلبك .</p>
<p>+ أنت لا تعرف رسالتى .. أنا لست للرصيد والتراكم أنا أحب أن أجول معك وأنت تعمل بى خيراً .</p>
<p>+ أنا المال وأنت تحركنى بأوامرك أنت تجمدنى وتفكنى بأصابعك ؟ !</p>
<p>+ دعنى أسألك ؟ ! لماذا تحسبنى في يدك وفى فكرك ؟ ! ولماذا لا تنشغل بعمل اخر غير جمعى .. ؟ !</p>
<p>+ أنا المال .. وبى تقتنى ما تريد فكيف اقتنى قلبك لكى أجعله ينشغل بتوزيعى على كل محتاج ؟ !</p>
<p>+ أنا أريدك أن تسأل عنى الأغنياء الذين كانوا قبلك أسألهم هل استطاعوا أن يحتفظوا بى في أياديهم عند رحيلهم ؟ ! وهل صنعوا لهم جيوباً في أكفانهم ؟ !</p>
<p>+ أنا عبد عندك أرجو أن تحررنى من بين يديك القينى من بين أصابعك أتركنى لكى أحيى أنفس مائتة من الجوع والبرد .. أتركنى أعمل قبلما تتركك حياتك .</p>
<p>+ دعنى أصارحك بأن أجمل أيامى هي عندما تهب الرياح والزوابع .. فأنا انتظرها بفرح ولهفة لكى أطير من بين أصابعك والقى بنفسى في حجر الأرض حتى ولو كانت أذنك ثقيلة عن السمع ؟ ! لكن ياترى هل تسمع صوت نصيحتى وأنا قريب منك بل وفى يديك ؟ !</p>
<p>+ أنت مخدوع بأننى أنا هو ثروتك الثمينة .. والحقيقية محبتك لأولادك واحساسك بمن هم حولك هم ثروتك غير المفقودة التي تصحبك في حياتك وبعد موتك</p>
<p>+ أنا المال الذى أنت تحبه أنا أحدثك من بين يديك ومن جيبك ومن خزانتك وأقول لك ليتك تعلم الحقيقة ان كثيرين من الذين يقدمون لك الخدمات ويتظاهرون بمحبتهم لك ويكرمونك هم يقدمون لك كل هذا لأجلى أنا المال .</p>
<p>+ هم يسمعون كلامك .. ويتممون رغباتك لأجل غناك ؟ ! انظر إلى جارك هو لا يملك مثلك من المال ولكنه يملك حباً ، يملك حكمة وللأسف لا تسمع كلماته لأن كلمة المسكين محتقرة ؟ !</p>
<p>+ أنا المال وأنا لست اصلاً للشرور فحرام عليك أن تصنع بى شراً فتسلمنى مكافأة في يد من يقتل بريئاً ؟ !</p>
<p>+ أنا المال أنا أصرخ ظلماً لأنك تضعنى في يد من يعوج القضاء ويسلك في الطرق غير المشروعة .</p>
<p>+ لا تضعنى في يد من يبرئ المذنب .. ويذنب البرئ .. لا ؟ ! حرام عليك أن تهدينى في يد من يفتح أمامك الأبواب المغلقة .</p>
<p>+ أنا المال الذى أنت تجمعه .. وأنا غير مستريح لأنك دائماً تدعى الفقر والعوز لكى تملكنى بوفرة .</p>
<p>+ أنت تملك ما يكفيك وما يشغلك لماذا تظلم نفسك مدعياً الفقر فالذى يدعى بأن ليس عنده الذى عنده يؤخذ منه .</p>
<p>+ أنت تصنع بى كل الشرور وتدعى على بأننى أصل لكل الشرور ؟ ! من الذى يسرق ويزن .. ويجامل ويرتشى ألست أنت ؟ !</p>
<p>+ أنا المال دعنى أحكى معك وأقول لك أن أسيادى وضعونى تحت الأرض أخفونى في أوان .. ودفنونى بأياديهم .. وماتوا وتركونى وأنا مازلت في مكانى مختفياً ولا يعرفنى أحد الا هم لأنهم ظنوا أن العمر ثابت وأن هذا العالم مؤبداً .. ولكن العجيب اذا وجدونى بالمصادفة يخرجوننى من حبسى من بين الظلام إلى حبس آخر حيث يضعونى في المتاحف ويقام على حراس ويلتقطون لى صوراً وكأنى نازل من كوكب آخر … وأصير تحفة تنظرها الأجيال من قرن إلى قرن والكل لا يعرف أننى قضيت أيامى مع انسان أنانى وبخيل لا يصنع خيراً ولم يتمم رسالتى ؟ !</p>
<p>+ أنا المال وأريد أن أسمعك صوت خالقك الذى أوصاك بأن محبتى أصل لكل الشرور .</p>
<p>+ تعال .. وأنظر .. من هم الذين يجلسون على يمين عرش الله ؟ ! هم الذين أحسوا بالمريض والعريان والجائع والمسجون والغريب هم الذين أحسوا بالمريض والعريان والجائع والمسجون والغريب هم الذين أحسوا بهؤلاء الاصاغر .</p>
<p>+ أنا المال أنا العشور مكانى ليس عندك قم القنى في خزانة الرب وأنظر إلى كوة السماء كيف تتفتح أمامك.<a href="#_ftn1" name="_ftnref1">[5]</a></p>
<p><a href="#_ftnref1" name="_ftn1"></a></p>
<h4></h4>
<h4>طاعة بلا تردد لنيافة الأنبا إيساك الأسقف العام</h4>
<p>لقد تحدى يسوع الشاب الغنى بأن يترك عنه رفاهية الحياة ويقبل حياة الفقر الاختيارى وبذلك وضع الشاب في احدى خيارين لا ثالث لهما ، اما أن يطيع أو لا يطيع في الدعوات السابقة عندما دعى يسوع لاوى من عند مائدة الصيارفة ، وعندما دعى القديس بطرس من شباك صيده ، دعاهم من مهام أشغالهم الدنيويه ، وكان على كليهما أن يتركا كل شيء ليتبعا يسوع بل وعندما دعى بطرس الرسول أيضاً لكى يمشى على أمواج البحر الهائج ، كان عليه أن يقوم بالمخاطرة بنفسه ويجازف بحياته . الشئ الوحيد الذى كان مطلوبا في كل حالة هو – الاعتماد على كلمة المسيح فقط ، والاستناد عليها كأعظم ضمان . ويا له من ضمان ، انه أضمن من كل ضمانات العالم بأسره .</p>
<p>+ على الفور تبرز قوى معاكسة مريعة تفصل بين كلمة المسيح وبين الاستجابة الفورية لها ، وعدم التردد في طاعتها : المنطق ، والضمير ، والمسئولية ، والاشفاق على الذات… الخ كل هذه تقف معوقات للاستجابة لدعوة يسوع ، بل وحتى الناموس وسلطان كلمة الانجيل قد نجد فيها ما يدعم موقف الرفض !! لأن العقل ينجد الإرادة المتقاعسة عن الطاعة بتبريرات لا نهاية لها. قد يقال لنا ان هذا اندفاع وحماس وتطرف وخروج عن المألوف ، ولكن يكفى أن الدعوة هي دعوة يسوع ، ويكفى ان الكلمة التي دعينا بها هي كلمة الله وكل المطلوب هو طاعة بلا تردد . هل نحن البشر نعدل فكر الله ؟</p>
<p>١- ان كنا أثناء قرائتنا لانجيلنا سمعنا يسوع يتكلم الينا &#8220;ان أردت أن تكون كاملاً فاذهب وبع أملاكك واعط الفقراء ، وتعال أتبعنى &#8221; فمن المحتمل أن نناقش الأمر مع ذواتنا على هذه الطريقة : حقاً ان طلب يسوع محدد جداً وواضح بلا لبس ، ولكن على أن أتذكر ان المسيح لا يريد منى ان آخذ وصيته بطريقة فقهية حرفية ، ان كل ما يريده يسوع هو أن يكون عندى ايمان . ولكن ايمانى ليس بالضرورة يرتبط بغنى أو فقر أو أي شكل من هذا القبيل . ان الفقير والغنى على السواء يمكن أن يكون لهما حياة روحية. ليس ضرورياً أن يكون لى مقتنيات ، ولكن ان كان لى فعلى أن أحتفظ بهم واستخدمهم وكأنى لا أستخدمهم بمعنى ان يكون عندى زهداً داخلياً روحياً ، ويكون قلبى متجرداً وغير متعلق بمقتنياتى وبهذا نبرر عدم طاعتنا .</p>
<p>٢ – لقد قال يسوع &#8220;بع مالك&#8221;ولم يشترط أن لا تعيش في ترف ورفاهية . لذلك عليك أن تحتفظ بمالك بهدوء حاسباً إياه كأنك لا تملكه ، لا يكن قلبك في مالك … اننا في الواقع نعفى أنفسنا من الطاعة التي بلا تردد لكلمة يسوع بحجة الناموس حيث نفترض ان الطاعة بالايمان وفقط .</p>
<p>+ ان الفرق بيننا وبين الشاب الغنى هو انه لم يسمح لنفسه أن يبرر موقفه كأن يقول في ذاته لا يهمك ما قاله يسوع بالحرف ، فالحرف يقتل ، يمكننى أن أتمسك بغناى ولكن بروح تجرد داخلى . وبالرغم من عدم استجابتى لدعوة يسوع ، أستطيع أن أستريح في الفكرة بأن الله قد غفر لى خطاياى ويمكننى ان أتبع المسيح بالايمان. ولكن الشاب الغنى لم يقل هكذا ، لقد مضى حزيناً لأنه لم يطع ، فلا يستطيع أن يدعى انه يؤمن . كان الشاب أميناً جداً في هذا . لقد ترك يسوع وحقاً أن صدقه هذا له فوائد أكثر من أي اتحاد ظاهرى مع يسوع مؤسس على العصيان .</p>
<p>المشكلة مع الشاب الغنى ، انه كان غير قادر على التجرد الداخلى من غناه . وكإنسان غيور يبحث عن الكمال ، وربما حاول ألف مرة ولكنه فشل ، لأنه يرفض أن يطيع كلمة يسوع في اللحظة التي كان يتحتم عليه فيها أن يأخذ قراراً . لقد كان هذا الشاب صادقاً مع نفسه ، أما نحن فاننا نميل إلى كثرة الرغى بطريقة سفسطائية ، حتى اننا نحور كلمة يسوع ذاتها لسامعينا فيفهمون شيئاً مختلفاً تماماً عما قصده يسوع  .</p>
<p>+ لو قال الانجيل : أترك كل شيء وراءك وأتبعنى ، أنبذ الرفاهية التي تعيشها ، استقل من وظيفتك ، أترك أهلك وعشيرتك وبيت أبيك … ومثل هذه الدعوات التي لا يفهم منها سوى شيء واحد وهو الطاعة والاستجابة على الفور . ولكننا نجادل هكذا : طبعاً نحن معنيين ان نأخذ دعوة يسوع بطريقة جدية ، ولكن ، وماذا بعد ، نخشى أن حماس البداية يفتر فماذا نفعل أنذاك بعد أن نكون فقدنا وظائفنا الحالية قد يكون طريق الطاعة الذى يريده يسوع هو ان نخدم أهلنا بروح تجرد حقيقى نخدمهم روحياً ونكسبهم للمسيح لذلك علينا أن نستمر في كل شيء كما هو . وهكذا يأمرنا المسيح : &#8221; أترك&#8221; ونحن نؤول كلامه ليعنى &#8220;أمكث كما أنت ، وعليك بممارسة التجرد الداخلى فقط &#8221; .</p>
<p>+ مثال آخر ، لو قال لنا الانجيل : &#8220;لا تهتموا&#8221; سنؤول ما قاله ليعنى &#8220;طبعاً ليس من الخطأ أن نهتم لنعول أنفسنا ونعول من يعتمدون علينا ، والا فاننا نكون مقصرين في مسئولياتنا . ينبغي فقط ان نكون داخلياً بلا هم طوال الوقت&#8221; .</p>
<p>+ يقول لنا يسوع : &#8220;من لطمك على خدك الأيمن حول له الآخر أيضاً &#8221; فقد نؤول المعنى بأن القصد هو : ان محبتك لعدوك هو بأن ترده إلى صوابه لذلك فعليك أن تقاتله لكى ترده الى صوابه وبذلك تحبه !</p>
<p>+ يقول لنا يسوع : &#8220;أطلبوا أولاً ملكوت الله&#8221; وقد نفسرها نحن هكذا &#8220;طبعاً علينا أن نطلب كل الأشياء المعيشية أولاً ، والا كيف يمكننا أن نعيش ؟ ان ما يعينه هو أن يكون لدينا الاستعداد أن نرهن كل الأشياء لملكوت السموات&#8221; . وبهذا ، نحن نحاول أن نزوغ عن حتمية الطاعة الحرفية التي بلا تردد على طول الخط . كيف نسمح أن تمر هذه السخافة ؟ ماذا حدث حتى أن كلمة يسوع تمتهن هكذا بهذه التفاهات الفكرية ، وتترك هكذا معرضة لسخرية العالم ؟ حينما تصدر أوامر من أي أوساط أخرى في الحياة فلا يمكن أن تحور أو يشك في معناها مثلاً لو أرسل أب ابنه الصغير لكى ينام في فراشه ، فان الابن يعرف تماماً ماذا عليه أن يعمل ، ولكن لنفرض أن عقله بدأ يتباحث في الأمر كطريقة الاهوتيين الزائفين على هذا النحو : أبى يطلب منى أن أنام ، انه يعنى اننى متعب ومحتاج أن اتغلب على التعب الذى عندى بطريقة جيدة جداً وذلك بأن أخرج وألعب ، فرغم أن أبى أخبرنى ان أذهب لأنام ، الا أنه يعنى في الحقيقة أخرج وألعب . لو ساق طفل أفكاراً مثل هذه بالنسبة لوالده . أو لو فكر أحد المواطنين في قوانيين الدولة على هذا المنوال ، ماذا سيكون رد فعل من الآب أو من الدولة سوى توجيه التأنيب والعقوبة . فهل نأخذ وصية المسيح بطريقة مختلفة عن الأوامر الآخرى ؟ ونحول الطاعة التي بلا تردد إلى عصيان مشجوب ، كيف يكون هذا ؟</p>
<p>+ لقد أراد يسوع بطلبه من الشاب ان يتخلى عن ماله ، وهو أن يجعله في الوضع حيث يكون الإيمان بيسوع ممكناً ، فيعتمد على يسوع وليس على أمواله ، فيقدر ان يتبعه . ولكن السفسطة توصل في المرحلة النهائية إلى عدم الاهتمام بالدعوة .</p>
<p>+ قد يقول البعض ، ان كل شيء ، متوقف على الايمان ، وكل ما ليس من الايمان فهو خطيئة ، فسواء كنت في حالة فقر أو غنى ، زواج أو بتوليه ، توظف أو بطالة كل هذا ممكن أن يؤول في المحصلة النهائية إلى صواب . من الممكن ان يكون لنا ثروة وممتلكات وعقارات من هذا العالم ونحن في نفس الوقت مؤمنون بالمسيح – فيكون الانسان مالكاً لهذه الأشياء وكأنه لا يملكها . ولكن يبقى بيع كل ما نملك هو الاحتمال النهائي للحياة المسيحية ان تعوقت في وجودها . وفى مقدورنا في نفس الوقت ، وهذا في نطاق امكانيتنا ان نتوقع مجئ المسيح الثانى وننتظره بلهفة وهذا هو الطريق الوسط البسيط الممكن .</p>
<p>+ يا أحبائى ، ان شرح الوصية بعيداً عن مضمونها الحرفى المباشر ، قد يكون له مبرراته من وجهة النظر المسيحية ، ولكن لا ينبغي أبداً أن يقودنا هذا الشرح إلى ترك المفهوم الراسخ غير المتذبذب للوصية. قد يكون هذا ممكناً وصحيحاً للذين قد طبقوا فعلاً نقطة أو أخرى من المفهوم الحرفي الثابت للوصية . أولئك يعيشون كتلاميذ للمسيح منتظرين الآخرة الممجدة ، ويبقى التطبيق الحرفى للوصية هي الصعوبة الرئيسية الأزلية لطريق التلمذة . لأننا نميل الى تفسير دعوة ربنا يسوع المسيح لنا لكى نتبعه بصورة تفرغ الدعوة الإلهية من كل مضمون لها ، بل ندعو إلى تطبيقها بطريقة عكس ما هو مطلوب تماماً ، لتلائم الناس . وهكذا تتحول الدعوة من بركة إلى خطر دائم يستحيل أن توصلنا إلى المسيح ، ويستحيا ان تجعلنا نوصل الرسالة التي يريدها المسيح للآخرين عن طريق دعوتنا لأننا رافضون أن نطيع بحسب مفهوم الله ، ولا نطيع الا بحسب مفاهيمنا البشرية الخاصة . وعندما  يراوغ المسيحيون في تطبيق شريعة المسيح في حياتهم ، فلا عجب ان فرضت عليهم شرائع أخرى حتى ولو كانت وحشية ومذلة وعنيفة . لماذا لا نلتزم بطاعة صلبه لوصايا المسيح ؟ ان أي شخص سوف لا يشعر أنه أكثر سعادة الا حينما يطبق المفهوم الحرفى المستقيم لوصايا يسوع مطيعاً بكل صرامة حتى لو تتطلب منه أن يبيع كل أملاكه عندما يطلب يسوع هذا ، فلا يتشبث بها ، لماذا نعطى لأنفسنا الحق أن نفسر كلمة المسيح بصورة دبلوماسية لنعفى أنفسنا ، ونبرر ذواتنا عن التقصير في الطاعة ؟</p>
<p>+ ان الدعوة الفعلية ليسوع والاستجابة في طاعة بلا تردد له مغزاه القوى والمؤثر في وسط الناس . بواسطة هؤلاء المطيعين يدعو يسوع الناس الى وضع عملى حيث يكون الايمان ممكناً لهم . لهذا السبب فان دعوة يسوع هي دعوة واقعية ، وهو يريدها ان تفهم على هذا النحو ، لأنه يعرف ان الطاعة الفعلية فقط هي التي تحرر الانسان ليؤمن .</p>
<p>+ ان التذبذب في الطاعة هو مثال آخر لانحراف الانسان عن مسار النعمة الغالية إلى نعمة رخيصة لتبرير الذات . لأننا آنذاك نكون تابعين لناموس زائف من وحينا نحن ، ونصم آذاننا عن سماع صوت دعوة المسيح الرصينة ، هذا الناموس الزائف هو ناموس العالم مستخدماً ناموس النعمة ليؤاذره ويسانده ! فلا ننتصر على الروح الدنيوية في حياتنا اليومية ، ولا نختبر الغلبة في المسيح في تبعيتنا له ، بل تتفشى الدنيوية في حياتنا أكثر فأكثر ، وتتحول إلى مبدأ شرعى لا يمكن الحيود عنه وحينما يحدث هذا تتوقف النعمة عن أن تكون عطية الله الحى التي نناضل بها ضد الدنيوية ونوضع تحت طاعة المسيح .</p>
<p>+ انه المبدأ الالهى الذى يطبق حين يرفض الانسان طاعته ببساطة ، لابد من أن تتحكم فيه الشرائع الدنيوية الخطيرة . حينما نحاول أن نقاوم شريعة المسيح نضع أنفسنا على أسوأ أنواع الشرائع .</p>
<p>الطريقة الوحيدة للغلبة على الشرائع الدنيوية هي الطاعة الحقيقية للمسيح حينما يدعونا أن نتبعه . حيث انه في المسيح يكمل ناموس ويلغى ناموس في آن واحد .</p>
<p>+ عندما نحذف مبدأ الطاعة البسيطة لكلمة الله ، فاننا ننحدر إلى تفسيرغيرانجيلى للانجيل . إننا نأخذ عملية فتح الإنجيل كضمان لسلوكنا حسب مبادئ الدعوة ، ولكن مفتاح التفسير الذى نستخدمه لتفسير الانجيل ليس هو المسيح الحى كنموذج لسلوكنا في الحياة ، المسيح الذى هو مخلصنا ودياننا في آن واحد . واستخدامنا لهذا المفتاح لم يعد متوقفاً على إرادة الروح القدس الحى وحده . المفتاح الذى نستخدمه هو تعاليم بشرية عامة عن النعمة وغيرها ، نطبقه كيفما أردنا . مشكلة التلمذه اذن أصبحت مشكلة تفسير .</p>
<p>نصل اذن إلى نهاية المطاف ، بأن التفسيرالبارع لوصايا المسيح دائماً يتضمن التفسير الحرفى ، والسبب ليس في كوننا نريد أن نقيم الناموس بل أن نظهر المسيح .</p>
<p>+ بقيت كلمة بخصوص الشكوك التي تساور البعض . بأن تعليم الطاعة ببساطة ، يحيى تعليم الاستحقاق البشرى – أي الإصرار على شروط مسبقة قبل نوال نعمة الايمان المجانى . نقول ان طاعتنا لدعوة يسوع لا تقع أبدا في نطاق قدرتنا . فلو تركنا كل ممتلكاتنا مثلًا ، فهذا الفعل ليس في حد ذاته هو الطاعة التي يريدها يسوع . فقد تكون مثل هذه الخطوة على الضد تماماً من طاعة المسيح ، لأننا قد نكون آنذاك نختار بأنفسنا لأنفسنا طريقاً خاصاً في الحياة  ، أو نختار بعض المثل المسيحية دون جوهر المسيحية ذاتها ، قد تكون في ترك الانسان لما يملك هو لكى يعطى ولاء لنفسه ، أو ليقيم معينة ولكن ليس لوصية يسوع . انه لم يتحرر من ذاته ولكنه يكون قد استعبد أكثر لنفسه . ان الدخول إلى الوضع حيث يكون الايمان ممكناً ليس منحة نمن بها على يسوع ، بل هي منحة يسوع الكريمة لنا . حينما نخطو خطوات الطاعة بهذه الروح تكون مقبولة. ولكننا في تلك الحالة لا نقدر أن نتكلم عن حرية اختيار من جانبنا .</p>
<p>وفى (متى ١٩ : ٢٣ – ٢٦) .</p>
<p>السؤال الذى وجهه التلاميذ إلى يسوع : من يستطيع ان يخلص ؟ يبدوا أنهم قد اعتبروا ان حالة الشاب الغنى ليست حالة استثنائية من كل الحالات ، بل هي حالة مكررة باستمرار. لأنهم لم يسألوا أي غنى يخلص ؟ بل بصورة عامة سئلوا : من يستطيع ان يخلص ؟ لأن كل إنسان حتى التلاميذ أنفسهم ، ينتمون إلى أولئك الأغنياء الذين يصعب دخولهم إلى ملكوت السموات .</p>
<p>الإجابة التي أعطاها ربنا يسوع المسيح بينت انه قد فهم سؤال التلاميذ جيداً . ان الخلاص باتباع المسيح ليس هو شيء نبلغ اليه نحن البشر من أنفسنا –بل عند الله كل شيء مستطاع.<a href="#_ftn1" name="_ftnref1">[6]</a></p>
<h5></h5>
<h4>لقاء الرب مع الشاب الغني للمتنيح الأرشيدياكون رمسيس نجيب</h4>
<p>الشاب الغني</p>
<p>المسيح في طواف دائم .. وعلى منعطف من دروب محبته ، التقى بالشاب الغني .. شاب امتزج فيه الحماس بالاتضاع ، فقد ركض نحوه وجثا عند قدميه ، على صورة ما أدهشت كل من رآه ، وفي الوقت نفسه جذبت اليه قلب السيد ، حتى نظر اليه واحبه.. كان لقاء كلى الصلاح ، مع من ابتغى الصلاح ليصير وارثا للملكوت .</p>
<p> كان لقاء ابن الانسان ، الذي اشتهي خلاص الإنسان ، مع واحد من البشر حاول أن يتجاوز نفسه..</p>
<p>كان لقاء حمل الله الوديع الذي لا يصيح ولا يخاصم ، مع قصبة مرضوضة أرادها أن تتشدد ! وفتيلة مدخنة اشتهي أن تتوهج !</p>
<p>وكان في نهاية المطاف ، تقابل صريح ومقدس ، بين مشيئة الله ،</p>
<p>وبين حرية الانسان ، تلك الحرية التي هي أعظم ما وهبه الله للانسان !</p>
<p> فتيلة مدخنة</p>
<p> هل كان هذا الشاب مخادعا وغير صادق في نيته حين ركض نحو السيد وجثا تحت قدميه يسأله : أيها المعلم الصالح ماذا أعمل لأرث الحياة الأبدية ؟. فقد حاول البعض اتهام هذا الشاب بأنه كان مخادعا ومغرضا حين ذهب إلى السيد على ذلك النحو .</p>
<p>والواقع أن كل ما في الموقف يؤكد صدق هذا الرجل وإخلاصه. والحال معه وليس كما كان مع الناموسی الذي جاء إلى السيد ليسأله سؤالا مشابها للسؤال الذي تقدم به الشاب الغني. فالناموسي لم يكن يسأل بإخلاص أو ينشد الحقيقة.</p>
<p>لقد کشف البشير لوقا عن سوء تدبيره فقال : (واذا ناموسی قام يجربه قائلا يا معلم ماذا اعمل لأرث الحياة الابدية) .</p>
<p>كان هذا الناموسی مخادعا فيما سأل ، فقد كان لا يبغي الحياة الابدية ومتطلباتها ، وأنما أراد فقط أن يجرب المسيح .</p>
<p>ولم يكن أيضا ، الحال مع هذا الشاب الغني مثلما كان مع الكاتب الذي جاء إلى السيد المسيح وقال له : (ياسید اتبعك اينما تمضي) . أن ذلك الانسان لم يطلب المسيح لذاته ، ولكن ليأخذ مجدا أو جاها .</p>
<p>والكاشف أفكار القلوب اذ عرف فقط فيه هذا المقصد ، وعرف أن هذا الانسان يطلب مجدا بلا صلیب – أجابه : (للثعالب أوجرة ولطيور السماء أوكار وأما ابن الانسان فليس له أن يسند رأسه)</p>
<p> أما هنا في هذا الموقف ، ومع هذا الشاب الغنى ، فان كل ما يتعلق بالموقف – سواء ما ذكره المسيح له . أو ما كتب عنه البشيرون – کل ذلك يؤكد اخلاص وصدق هذا الرجل الشاب .</p>
<p>يكفي في ذلك ما ذكره عنه البشير مرقس حيث قال : فنظر اليه يسوع واحبه !</p>
<p>كان قلب ذلك الشاب أرضا خصبة ، وكان ممكنا له أن يصير واحدا من التلاميذ، لكن ما أخصب الأرض وما أكثر الشوك أيضا ، فقد</p>
<p>كان الشوك كثيفا إلى الدرجة التي القى فيها ظلالا سوداء طمست محبة ذلك الشاب وخنقت اخلاصه . أشواك أطفأت الفتيلة المدخنة ، وذلك حينها &#8220;مضى .. اذا كان ذا أموال كثيرة !&#8221;</p>
<p>الآن ، وتحت قدمی السید ، نرى أخلاص ذلك الشاب وعجزه في آن واحد .. ولنواصل متابعة أحداث القصة لنتأكد من صدق ذلك الشاب قبل أن نقف على أسباب عجزه .</p>
<p>فهو حين جاء إلى السيد ، جاء في حماس يركض ، وفي اتضاع يجثو !!</p>
<p>وليس هذا فحسب ، بل أنه حين سأل السيد عن الحياة الأبدية ، وأجابه السيد قائلا : (أن أردت أن تدخل الحياة فاحفظ الوصايا) ، أظهر لهفته فقال للسيد : أي وصايا ؟ وكأنما كان يفترض أن هناك وصايا أخرى غير تلك التي جاءت بالناموس قادرة أن تهيئه للحياة الأبدية .</p>
<p>افترض هذا واظهر بسؤاله عنها مدى لهفته لكي يحفظها .</p>
<p>وحين ذكر له السيد المسيح الوصايا التي كان يقصدها وهي : لا تقتل لا تزن . لا تسرق لا تشهد بالزور . أكرم أباك وأمك وأحب قريبك كنفسك ، قال في اعتزاز (هذه كلها حفظتها منذ حداثتی) ، ولم يقف الشاب عند هذا الحد أو انصرف مكتفيا بتلك الإجابة ، بل أظهر علامة اخلاصه وصدقه حين استرسل في السؤال ، وقال للسيد :(فماذا يعوزني بعد؟).. وعندئذ خاطبه السيد بالوصية التي احزنت قلبه ، وجعلته يمضي حزينا . قال له السيد : أن أردت أن تكون كاملا فاذهب وبع املاكك واعط الفقراء فيكون لك كنز في السماء وتعال اتبعني .. وهنا يغتم الشاب ويقول عنه البشير متي : فلما سمع الشاب الكلمة مضى حزينا لانه كان ذا أموال كثيرة .. ولو كان الرجل مخادعا ما ذهب حزينا نتيجة لما سمع ..</p>
<p>الأمر الذي لم يكن في وسع الكتبة والفريسيين أن يفعلوه حين كان السيد يجاوبهم ، فقد كانوا يزدادون حنقا وغيظا ويصرون على أسنانهم .. ولكن ذلك الشاب لم يفعل هكذا . انه مضي حزينا . وهذا دليل على أنه جاء بارادة طيبة سوية يشتهي الصلاح ويرغب حقا في الحياة الأبدية .</p>
<p>وهو وإن كان بعد لم يبلغ أو يرتفع إلى مستوى الوصية ، فذلك ليس لانه مخادعا ، بل لأنه كان واقعا تحت سطوة المادة ، ومحبة المال ، الأمر الذي جعله يفضل طريق كنوزه الأرضية عن الكنز السمائي !</p>
<p> ما أشبه ذلك الشاب بفتيلة مدخنة ، حاول الرب الا يطفئها ، فقد كانت هذه مشيئته ولا تزال .. فتيلة مدخنة لا يطفىء وقصبة مرضوضة. لا يقصف ، حتى يخرج الحق إلى النصرة .</p>
<p><strong> منهج المسيح</strong></p>
<p>منهج المسيح وهو يجتذب الشاب الغنى إلى الملكوت ، يستحق منا أن نقف أمامه وقفة متأنية . فيه نلمس حكمة السيد ممتزجة بمحبته ، كما نلمس فيه تقدير السيد لحرية الانسان.</p>
<p> • فقد عرف السيد في ذلك الشاب صدقا على درجة ما ، فأعلن له أن</p>
<p>يحفظ الوصايا أن أراد أن يرث الحياة . فأجابه الشاب يقول : هذه</p>
<p>حفظتها منذ حداثتی . وتساءل الشاب الغني في الحاح لا يخلو من</p>
<p>روح الاخلاص وقال للسيد : فماذا يعوزني بعد !؟ هنا نظر السيد</p>
<p>المسيح الى الشاب وأحبه . وفي حكمة اشتهي السيد أن يقود ذلك</p>
<p>الشاب الى الملكوت . لقد أظهر له عظم المجازاة قبل أن يبين له</p>
<p>ضرورات الطريق . قال له السيد : ان أردت أن تكون كاملا فاذهب</p>
<p>وبع أملاكك واعط الفقراء فيكون لك كنز في السماء – وتعال اتبعني</p>
<p>حاملا الصليب</p>
<p>ها هو يعلن له أولا ، أن طريق الملكوت ، هو طريق الكاملين . واذ</p>
<p>يجده ذا أموال كثيرة ، يتحدث معه عن الكنز الذي في السماء ، الذي</p>
<p>لا يفسده ولا يعلوه صدأ، ذلك الكنز الذى لا يفنى ولا يتدنس .. وبقدر</p>
<p>ما تعلو السماء عن الأرض ، يعلو هذا الكنز عن كل كنوز الأرض</p>
<p>.. قال له السيد هذا كله اولا ، قبل أن يخبره عن صعاب الطريق ،</p>
<p>تبعية المسيح وما يستلزم من انكار للذات واستشهاد مسترخص</p>
<p>وحمل للصليب . ان السيد في محبته أظهر له أولا عظم المجازاة ،</p>
<p>وبحكمة عظيمة فعل ، الا انه في الوقت نفسه لم يخفى عنه ضريبة</p>
<p>الامجاد ، ومجد الصليب . فأوضح له السيد أن مجد الصليب هو</p>
<p>معاناة الآلم – من أجل السيد.</p>
<p> ويمكن أن يقال : أن ترك الشاب الغني للمال ، وتوزيعه على الفقراء</p>
<p>، قد يكون أمرا میسورا وسهلا اذا ما قارناه بحمل الصليب واشتهاء</p>
<p>الألم ، والانسلاخ الدائم عن النفس ، والأمانة اليومية من أجل المسيح</p>
<p>طوال النهار !</p>
<p>كانت هذه كلمة السيد ممتزجة بمحبته لذلك الشاب ..</p>
<p> • ثم ايضا تقديره الالهى للانسان وحريته . فقد أوضح له الطريق</p>
<p>وحاول أن يفتح أمامه الفردوس الحقيقي ، ثم تركه يختار بكل ارادته</p>
<p>وملء حريته ما يشاء .. وضعه أمام مسئولية الاختيار . بكل</p>
<p>امكانيات الإنسان الحر .</p>
<p>ان دعوة المسيح للخطاة انما هي كالنسيم رقيقة . لا تسلب الانسان</p>
<p>حريته ، بل على الانسان بكل حريته ، أن يتقابل معها ، فان كل</p>
<p>الذين يأتون اليه لا يخرجون خارجا .</p>
<p>وماذا صنع الشاب الغني ! وماذا اختار !</p>
<p>مضى الشاب حزيناً إذ كان ذا أموال كثيرة ..</p>
<p>مضى وانسحب بعيداً، يلفه الحزن وأقبل باختياره ، على الرفض</p>
<p>الجاحد المتنكر ..</p>
<p>مضى ، فقد اختار لنفسه ، وليس عن جهل ، هذا المصير ..</p>
<p> مشهد ذلك الشاب :</p>
<p>أمام هذا المشهد نقف طويلا متأملين :</p>
<p>+ نتأمل ، أولا ، محبة الله وجحود الإنسان :</p>
<p>يسوع المسيح ابن الله ، صورة الله غير المنظور ، عرفنا أن علاقة</p>
<p>الله بالبشر كلها سخاء وبذل . حياة يسوع المسيح معطاة كلها لنا الى</p>
<p>التمام . انها معطاة لنا بدون قيد ولا شرط . انها معطاة للخطاة</p>
<p>وللصديقين ، للأشرار وللصالحين على السواء . ذلك لأن المسيح اذا</p>
<p>كنا بعد ضعفاء مات في الوقت المعين لأجل الفجار . فانه بالجهد</p>
<p>يموت أحد لأجل بار . ربما لأجل الصالح يجسر أحد أيضا أن يموت</p>
<p>. ولكن الله بين محبته لنا ونحن خطاة مات المسيح لأجلنا.</p>
<p>هذه هي محبة الله..</p>
<p>وهذه هي محبة مجده في أن يحب..</p>
<p> مجد المحبة أن تحب .. ومجد الينبوع أن يسقى ويروي ويغسل ،</p>
<p>مجد الشعلة أن تلهب وتضىء وتدفيء .. هذه هي محبة الله العميقة</p>
<p>التي تكشف وجهها الرب يسوع. محبة الله وهي تتعامل مع الخطاة</p>
<p>وبغير حدود . محبة الله التي تتحمل جحود الانسان !!</p>
<p>يمكن للإنسان أن يرفض الله ، ولكن العكس غير صحيح – اذ لا</p>
<p>يمكن الله أن يرفض الانسان . فان هذا الشاب الغني قد رفض المسيح</p>
<p>، لكن السيد نظر اليه وأحبه !</p>
<p> ( يمكن للإنسان أن ينكر الله وأن ينسى ، ولكن الله لا يمكنه أن ينكرنا</p>
<p>أو ينسانا .. يمكن للإنسان أن يترك البنوة ولكن الله لا يمكن أن لا يكون أبا ).</p>
<p>هذه نظرة السيد للشاب ..</p>
<p>كانت نظرة اشفاق وترج .. وكانت ايضا نظرة الحب الذي يوقظ</p>
<p>المحبوب إلى حياة أوفر وأغنى ، ويفتح أمامه آفاقا لا حد لها ، آفاق</p>
<p>تحقيق ملء الوجود بتجاوز كل امتلاك ، لأن الانسان مملوك لما</p>
<p>ملكه ، اسير ممتلكاته وخيراته التي تشده إليها وتحصره فيها وتحاول</p>
<p>دونه ودون تفجر طاقة الحب التي بداخله والتي بها ، وبها وحدها ،</p>
<p>يحيا ويحقق ذاته.</p>
<p> نظر اليه واحبه !</p>
<p>وليعلم كل انسان ، أن نظرة الله أنما هي نظرة حب ، وانها بمثابة</p>
<p>دعوة لنا، ضربة سيف تنفذ إلى مفصل النفس والروح لتعيد الينا</p>
<p>شعورنا بالمسئولية ، لتوقظ فينا حرية ماتت بالخطيئة . وهذا ما</p>
<p>حدث مع الشاب الغنى ، فان نظرة يسوع الفاحصة ، أيقظت فيه هذا</p>
<p>الشعور.</p>
<p>ويبين ذلك من أنه عندما لم يقدر أن يلتزم ذلك الشعور أو يمسك</p>
<p>بمقتضاه ، ومضى حزينا إذ كان ذا أموال كثيرة !</p>
<p>+ ونتأمل أيضا مجد الله وحرية الانسان .</p>
<p>مشهد هذا الشاب وهو يمضي حزينا ، منظره وهو ينهي حوار قام</p>
<p>بينه وبين المسيح ، وبهذه الكيفية ، ليؤكد تماما هذه الحقيقة : ان الله</p>
<p>يريد ويحترم حرية الانسان . يحترم حرية وهبها هو للانسان .</p>
<p>يحترمها إلى الحد الذي يسمح للانسان ان يستخدم ذلك الوجود . الذي</p>
<p>وهبه له الله – ضد معطيه (الله) !.. يحترمها إلى حد أنه</p>
<p>يسمح للانسان ان يذهب في تمرده إلى أبعد الحدود ! وليس هذا هو</p>
<p>ما حدث مع الشاب الغني والماثل الأن أمام عيوننا !!</p>
<p> فالايمان بالله ، وكما يريده الله ، يقين ، ولكنه يقين ينشأ ويتولد عن</p>
<p>أرادة حرة غير مضطرة ولا مكرهة ، ذلك أن الله يريد أن يقبل اليه</p>
<p>الانسان تلقائيا . لا مغلوبا على أمره ، يقبل الانسان اليه بحرية كاملة</p>
<p>، هي حرية الحب . فان هذه الحرية التي تأتي من الحب ، مليئة</p>
<p>بشجاعة غلبت الموت وشهدت بقيمة الحب . وهذا ما فعله الشهداء</p>
<p>حين أحبوا المسيح بحرية ، فقدموا من أجله كل شيء . لم يحبوا</p>
<p>حياتهم الى الموت ، بل استعذبوا الألم من أجل المحبوب ، تخطوا</p>
<p>تخوم الشك ، ويقين الايمان الحي ذهبوا وراء الرؤية البعيدة ،</p>
<p>وشربوا كأس المر متلذذين !!</p>
<p> هذا هو مجد الله . حرية الانسان !</p>
<p>ليس في الله تسلط ، فهو لا يسلبنا ، انما نحن باختيارنا نأتي اليه ،</p>
<p>بحرية البنين ، لا في خضوع العبيد ! نفعل هذا باستقلال الرجال</p>
<p>الكاملين ، لا بتبعية الأطفال الصغار . نقبل اليه بحرية . بملء</p>
<p>الارادة الكاملة الواعية.</p>
<p>هكذا يقول الله لنا :</p>
<p>(انني لا اطلب منكم سوى قلوبكم.</p>
<p>خضوع العبيد كلهم تشمئز له نفسي . وأني أهب كل شيء مقابل</p>
<p> نظرة جميلة واحدة من رجل حر ، مقابل طاعة وحب واخلاص</p>
<p>جميل يصدر عن رجل حر ..</p>
<p>« من اختبر مرة واحدة أن يحب بحرية ، لا يعود يرى للخضوع</p>
<p>طعما ..</p>
<p>من أختبر أن يحبه رجال احرار ، لا يعود يرى معنى لسجدات العبيد ! »)</p>
<p>حوار السيد مع الشاب .. وماذا يكشف ايضا ؟!</p>
<p>حوار السيد المسيح مع ذلك الشاب الغني يكشف لنا ايضا ، العديد</p>
<p>من المسائل الروحية الهامة ، ويجدر بنا أن نتأملها وبكلمات قليلة –</p>
<p>لانها مبادىء ومسائل تستلزم منا ممارسة واختبارا ، أكثر مما</p>
<p>تستلزمه منا من فهم وادراك .. والضرورة تحتم علينا أن نتجاوز</p>
<p>الكلمات لندخل عمق الاختبار</p>
<p> • .. نتأمل – أولا – مفهوم الحياة !</p>
<p>يسأل الشاب الغني السيد ويقول : ماذا أعمل لتكون على الحياة</p>
<p>الأبدية ؟</p>
<p>والسيد يجيبه قائلا : أن أردت أن تدخل الحياة فاحفظ الوصايا ..</p>
<p>تأمل كلمات السيد للشاب الغني وهو يجيبه على السؤال ؛ فهو لم يقل</p>
<p>له : أن أردت أن تدخل الحياة الأبدية ، بل قال ، أن أردت أن تدخل</p>
<p>– فقط – الحياة !</p>
<p> الحياة عند السيد ، وحسب نظرته تعني الحياة الأبدية ..</p>
<p>• .. نتأمل ثانيا – الوصية الأعظم !</p>
<p> قال السيد الكلى الصلاح للشاب الغني ، أن أردت أن تدخل الحياة</p>
<p>فاحفظ الوصايا ! هذه وصية تحتاج الى اذن صاغية أكثر مما تحتاجه</p>
<p>من شرح وتفسير ؛ فمن هو الذي لا يرغب في الحياة الا الذي لا</p>
<p>يحفظ الوصايا ! وان كنا لا نحفظ الوصايا فكيف ننشد الحياة ؛ وان</p>
<p>كنا متكاسلين فكيف نسارع إلى المجازاة !</p>
<p> والشاب الغني أجاب السيد في الحال : هذه حفظتها منذ حداثتی.</p>
<p>وهنا سمع الشاب من السيد الوصية الاعظم : إن أردت أن تكون</p>
<p>كاملا ، بع كل أملاكك واعط الفقراء ، وتعال اتبعني حاملا الصليب</p>
<p>. وما سمعه الشاب من السيد ، نسمعه نحن ايضا في الانجيل .</p>
<p>فالسيد يجلس في السماء ، لكنه لا يمسك عن الكلام في الأرض ..</p>
<p> هو يصرخ نحونا .. فلا نصم آذاننا .. يتحدث إلى كل انسان قائلا :</p>
<p>ان كنت لا تستطيع أن تفعل الأمور العظيمة ، فافعل الأقل .</p>
<p>وان كان تنفيذ الوصية الأعظم صعب عليك ، فافعل الاقل.</p>
<p>لماذا أنت متباطیء ، فلا تفعل هذه أو تلك !؟</p>
<p> • .. نتأمل – ثالثا – عمل الشفقة !</p>
<p>قال السيد المسيح للشاب الغني ، وهو يرفع نظره إلى الوصية</p>
<p>الاعظم ليرث الحياة : أن أردت أن تكون كاملا ، بع كل املاكك ،</p>
<p>واعط الفقراء ، فيكون لك كنز في السماء ، وتعال اتبعني حاملا</p>
<p>الصليب.</p>
<p>غاية الناموس وذروته ، عمل الرحمة . إن بيع الممتلكات لا يكفي –</p>
<p>في حد ذاته – وان كان السبيل إلى فعل العطاء ، هذا هو عمل</p>
<p>الرحمة ، أن نشارك الاعضاء المتأملة . المسيح ربنا عطاء كله ،</p>
<p>واذ نحمله فينا ، بل صرنا جسده ، علينا أن نحس باحساسه فنشارك</p>
<p>اعضاء جسده المتألمة.</p>
<p>هو حمل أتعاب المحتقرين والمرذولين .. بکی مع الباكين .. شعر</p>
<p>بضعف الساقطين .. واستتر في الفقراء البائسين !! وعلينا نحن أن</p>
<p>أردنا أن نتبع خطاة ، أن نعطى أنفسنا ، ونسكب حبنا على قدميه.</p>
<p> حديث إلى التلاميذ</p>
<p>وعندما مضى الشاب حزينا .. حينئذ تحدث السيد الى التلاميذ . بل</p>
<p>تحدث الينا من خلال التلاميذ ، ليرسى مبادىء الملكوت . والطريق</p>
<p>إلى الحياة الابدية..</p>
<p> قال السيد : ما أعسر دخول ذوى الأموال إلى ملكوت السموات ..</p>
<p>مرور جمل من ثقب أبرة أيسر من دخول غني ملكوت الله . وعندما</p>
<p>تحير التلاميذ استطرد السيد قائلاً : يابنى ما أعسر دخول المتكلين</p>
<p>على الأموال إلى ملكوت الله .. ولما بهتوا إلى الغاية قائلين بعضهم</p>
<p>لبعض : فمن يستطيع أن يخلص ؟ - يهدىء السيد من روعهم ويقول</p>
<p>: عند الناس غير مستطاع ولكن ليس عند الله . لأن كل شيء</p>
<p>مستطاع عند الله.</p>
<p>• والسيد يتحدث من خلال تلاميذه – أولا – الى أغنياء هذا الدهر !</p>
<p>ويضع هذه الحقيقة أمام الأغنياء :</p>
<p> ان السماء لا تغلق أبوابها أمام الاغنياء ، لكن أمام المتكلين على</p>
<p>غناهم !</p>
<p>ليس الغني ، لكن غرور الغني ..</p>
<p>ليس المال ، لكن محبة وعثرة المال ..</p>
<p>وليس الفضة أو الذهب ، بل الطمع .. فاذا كان مجرد الامتناع عن</p>
<p>العطاء ، يكون عائقا للدخول إلى الملكوت ، فكم يكون الأمر صعبا</p>
<p>للذي يسلب ما للآخرين !</p>
<p>المسيح فى طوافه</p>
<p>السيد المسيح لم يذم الذهب أو الفضة أو الغنى ، وانما ذم الطمع ،</p>
<p>لذلك يوصى القديس بولس اغنياء هذا الدهر قائلا :</p>
<p>(أوصى الأغنياء في الدهر الحاضر أن لا يستكبروا ولا يلقوا</p>
<p>رجاءهم على غير يقينية الغني بل على الله الحي الذي يمنحنا كل</p>
<p>شيء بغنى للتمتع وان يصنعوا صلاحا وأن يكونوا أغنياء في اعمال</p>
<p>صالحة).</p>
<p> بماذا يوصيهم ؟ يوصيهم فوق كل شيء الا يستكبروا .. هو اذن</p>
<p>الكبرياء الذي يحسون به بالاستغناء وكانه لا حاجة لهم بعد إلى شيء ..</p>
<p>• والسيد يتحدث – ثانيا – الى تلاميذه يبغي اعدادهم وتعليمهم !</p>
<p>فالأمر الذي يجذب التفاتنا هو : لماذا يتحدث السيد الى التلاميذ وهم</p>
<p>قوم فقراء ، عن عثرات المال ، ومحبة المال</p>
<p>* ربما ، كان يريدهم الا يخزوا من فقرهم ..</p>
<p>* وربما ، كان يشجعهم ، وقد تركوا كل شيء لكي لا يخجلوا من</p>
<p>فقرهم اذا صار لهم غني الملكوت ..</p>
<p>والواقع ، أن الأمر الذي لا يدعو للتساؤل كما يدعو للدهشة في</p>
<p>الوقت نفسه ، يكمن ليس في حديث السيد الى التلاميذ، بل بالاكثر في</p>
<p>حيرة التلاميذ وخوفهم ، وهم فقراء ، جد فقراء !</p>
<p>•أتراها محبة ملأت قلوبهم ، اذا نظروا بعين ممتدة إلى المستقبل</p>
<p>وهم يكرزون في عالم ، يمتلىء بالاغنياء ، فراعهم نهاية</p>
<p>قوم  رغبوا  أن تكون لهم السماء !</p>
<p> •وربما ايضا ، كانت حيرة التلاميذ مشوبة بنوع من التباهی ،</p>
<p>الأمر الذي جعل كلمات السيد لهم ، تحمل تحذيرا من الكبرياء</p>
<p>.. ومن خلال حديثه إلى التلاميذ الفقراء، يتحدث إلى فقراء هذا</p>
<p>الدهر ، لئلا يؤخذوا بالكبرياء ..</p>
<p>اني اسمع السيد يتكلم إلى فقراء هذا الدهر :</p>
<p>أيه أيها التلاميذ الفقراء .. أنكم أقرب إلى الفقر منكم إلى الغني،</p>
<p>فلماذا ترتاعون ولا تقبلون كلماتي ؟!</p>
<p>ان کنتم متباهين بفقركم ، فاحذروا الكبرياء لئلا يسقطكم .</p>
<p>انکم ان افتخرتم بفقركم ، فالاغنياء المتضعون يسبقونكم ..</p>
<p>كونوا على حذر من عدم تقواكم ، لئلا يسبقوكم الأغنياء الصالحون ..</p>
<p>لا تتباهوا بفقركم ، كما أنهم لم يتباهوا بغناهم .</p>
<p>نظرة خاطئة</p>
<p>مللر الوجودي المسيحي يرد على سارتر</p>
<p>متخذا من موفق السيد المسيح مع الشاب الغني الذي جاء اليه في</p>
<p>حماس يركض وفي إتضاع يجثوا ليسأله ماذا أعمل لأرث الحياة</p>
<p>الأبدية..</p>
<p> نظرة خاطئة</p>
<p> يتبناها سارتر الوجودي الملحد عن يسوع المسيح ، مؤداها ، أنه</p>
<p>حينما ينظر إلى الإنسان فأن هذه النظرة تفرغ الإنسان من مضمونه</p>
<p>وتسلبه حريته وكأنه يقول ، أن الذين يتبعون المسيح هم قوم</p>
<p>مسلوبي الإرادة .. هذا ما تفصح عنه رواية &#8220;الذباب&#8221; والتي من</p>
<p>خلالها يعلن رؤيته الخاطئة عن السيد المسيح وأتباعه من</p>
<p>المسيحيين ..</p>
<p> وهنا ينبرى له الفلیسوف الوجودى المسيحي &#8221; مللر&#8221; ليبين خطأ</p>
<p>سارتر، ويضرب مثلا للقاء السيد المسيح مع الشاب الغنى ، فقد</p>
<p>رأى فيه إخلاصاّ وإتضاعاً على نحو ما .. وحينما رد السيد المسيح</p>
<p>على تساؤل الشاب وأشار إليه أن يبع كل أملاكه ويوزعها على</p>
<p>الفقراء ثم يتبعه ..</p>
<p>&#8220;مضي حزيناً إذ كان ذا أموال كثيرة&#8221;</p>
<p> وهنا يذكر مللر لسارتر</p>
<p>أن السيد لما وجد الشاب الغني التمس إخلاصا على نحو ما ..</p>
<p>و يذكر البشير أنه &#8220;نظر إليه وأحبه&#8221;</p>
<p>هنا يتضح بوضوح أن نظرة السيد المسيح له لم تجمده أو تسلبه</p>
<p>إرادته بل مضي حزيناً.</p>
<p>وهنا يقول مللر قولته الشهيرة .</p>
<p>&#8220;أن نظرة السيد المسيح للإنسان لا تجمد الإنسان أو تسلبه حريته</p>
<p>لكنها توقظ في الإنسان حرية ماتت بالخطيئة &#8220;</p>
<p> ولعلك أيها القارئ العزيز لمست صدق هذه المقولة وأنت تقلب</p>
<p>صفحات هذا الكتاب ولمست أن السيد المسيح في طوافه الدائم وهو</p>
<p>يلتقي بالخطاة وينظر إليهم أن هذه النظرة أطلقتهم</p>
<p>إلى الحرية ، &#8220;حرية مجد أولاد الله&#8221; &#8220;لأنه جاء ليكون لنا حياه وليكون لنا أفضل&#8221;<a href="#_ftn1" name="_ftnref1">[7]</a></p>
<p>
<hr />
<h3>المراجع</h3>
<p><a href="#_ftnref1" name="_ftn1">[1]</a><sup>- تفسير إنجيل لوقا ص 512 – القمص تادرس يعقوب ملطي.</sup></p>
<p><a href="#_ftnref1" name="_ftn1">[2]</a> - تفسير إنجيل لوقا للقديس كيرلس الأسكندري صفحة ٥٨٩ - ترجمة دكتور نصحي عبد الشهيد</p>
<p><a href="#_ftnref1" name="_ftn1">[3]</a> - كتاب مقالات القديس كبريانوس أسقف قرطاجنة الشهيد (صفحة ١٢٣) - ترجمة وإعداد الراهب القمص مرقوريوس الأنبا بيشوي</p>
<p><a href="#_ftnref1" name="_ftn1">[4]</a> - إختبرني يا الله - قداسة البابا تواضروس الثاني</p>
<p><a href="#_ftnref1" name="_ftn1">[5]</a> - شفتاك يا عروس تقطران شهدا الجزء الأول - ص ٥٩  - دير انبا شنودة رئيس المتوحدين العامر بميلانو</p>
<p><a href="#_ftnref1" name="_ftn1">[6]</a> - كتاب حياتك تلميذاً للمسيح صفحة ٥٦ - نيافة الأنبا إيساك الأسقف العام</p>
<p><a href="#_ftnref1" name="_ftn1">[7]</a> - معاملات المسيح مع الخطاة صفحة ١٦٢ - الأرشيدياكون رمسيس نجيب</p>
<h4></h4>

      {% endcreateArticleAccordions %}
    </section>
  {% endblock %}
