---
layout: 'layouts/reading.html'
title: 'قراءات يوم الأربعاء من الأسبوع الثاني'
permalink: great-lent/2-3.html
---
  {% block content %}
    <section id="readings">
      <ul>
      {% if 'undefined' != 'undefined' %}
      
      {% else %}
      {% if 'null' != 'null' %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">العشية</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeVespers '' '' %}
          </div>
        </div>
      </li>
      {% endif %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">باكر</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeMatins '19.18:17-18' '40.5:17-24' '2.2:11-20@23.5:17-25@39.1:6-14*@+39.3:1-18' %}
          </div>
        </div>
      </li>
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <h3 class="flex items-center justify-between">
            <span class="kufi">القداس</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </h3>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeLitugy '45.3:1-17' '63.1:8-13' '44.5:3-11' '19.18:1-2' '40.15:32-38' %}
          </div>
        </div>
      </li>

      {% endif %}
        </ul>
    </section>
    <section id="article">
      <h3 class="mt-8 mb-4 heading-explain">شرح القراءات</h3>
      {% createArticleAccordions %}
        <p>&#8220;شَرِيعَةُ فَمِكَ خَيْرٌ لِي مِنْ أُلُوفِ ذَهَبٍ وَفِضَّةٍ.&#8221; (مز ١١٩: ٧٢).</p>
<p>&#8220;وَأَنَّكَ مُنْذُ الطُّفُولِيَّةِ تَعْرِفُ الْكُتُبَ الْمُقَدَّسَةَ، الْقَادِرَةَ أَنْ تُحَكِّمَكَ لِلْخَلاَصِ، بِالإِيمَانِ الَّذِي فِي الْمَسِيحِ يَسُوعَ.&#8221; (٢تي ٣: ١٥).</p>
<p>[خرجت أصواتهم على الأرض كلها وبلغ كلامهم إلى أقطار المسكونة] (ذكصولوجية باكر &#8211; الآباء الرسل)</p>
<p>[من يرتوي باستمرار من التعليم الإلهي يُعطي كل حين ثماراً إلهية تعلن أسرار القلب الخفية وتظهر من خلال سلوك الحواس الأخرى] (مار فيلوكسينوس).<a href="#_ftn1" name="_ftnref1">[1]</a></p>
<h4><strong>شواهد القراءات</strong></h4>
<p>(خَر٢: ١١-٢٠)، (إش٥: ١٧-٢٥)، (مز١٧: ١٨،١٧)، (مت٥: ١٧-٢٤)، (رو٣: ١-١٨)، (٢ يو١ : ٨- الخ)، (أع ٥: ٣-١١)، (مز١٧: ١)، (مت١٥: ٣٢-٣٨).</p>
<h3>شرح القراءات</h3>
<p><strong>تتكلّم قراءات هذا اليوم</strong> عن مجد التعليم ومجد كلمة الله في حياتنا.</p>
<p><strong>تبدأ القراءات بنبوءة سفر الخروج</strong> التي فيها يظهر خطورة الفكر البشري مهما كان هدفه روحي، عندما فكّر موسي النبي بنفسه في طريقة بشرية لخلاص إخوته وكانت نتيجتها هروبه لمدّة أربعين سنة.</p>
<p>&#8220;ولما خرج في اليوم الثاني رأي رجلين عبرانيين يتضاربان فقال للظالم لماذا تضرب صاحبك فقال من جعلك رئيساً وقاضياً علينا أتريد أنت أن تقتلني كما قتلت المصري أمس فخاف موسى وقال هكذا ظهر الأمر فسمع فرعون هذا الخبر فطلب أن يقتل موسى فهرب موسي من أمام وجه فرعون وسكن في أرض مديان&#8221;.</p>
<p><strong>وتعلن نبوءة إشعياء</strong> خطورة التعليم الكاذب المضلًّل للناس.</p>
<p>&#8220;ويل للقائلين للشر خيراً والخير شراً والقائلين للظلام نوراً والنور ظلاماً والقائلين للمرّ حلواً وللحلو مرّاً ويل للذين هم حكماء في أعين أنفسهم والفهماء عند ذواتهم&#8221;.</p>
<p><strong>وتعلن مصير</strong> من يستهينوا بكلام الله وشريعته.</p>
<p>&#8220;فهكذا يكون أصلهم كالهباء وزهرهم كالغبار لأنهم رذلوا شريعة رب الجنود واستهانوا بكلمة قدوس إسرائيل&#8221;.</p>
<p><strong>وفي مزمور باكر </strong>تستند النفس على إلهها أمام مقاومات البشر لها.</p>
<p>&#8220;لأنهم تقووا أكثر مني أدركوني في يوم ضرّي وكان الرب سندي&#8221;.</p>
<p><strong>ويوضّح إنجيل باكر</strong> وحدة الكتاب المقدَّس وتعليم ووصية الله الكاملة فهو أكمل الناموس بشريعته في العهد الجديد.</p>
<p>&#8220;لا تظنوا إني جئت لأنقض الناموس أو الانبياء، ماجئتُ لأنقُض بل لأكمل فإني الحق أقول لكم إلي أن تزول السماء والأرض لا تزول نقطة أو حرف من الناموس حتى يكون ذلك كله&#8221;.</p>
<p><strong>وأهميّة أن نعيش بالوصية</strong> أكثر ممّا نُعلِّم الناس بها فيرونها فينا قبل أن يسمعونها منّا.</p>
<p>&#8220;فمن ينقض إحدى هذه الوصايا الصغرى ويُعلِّم الناس هكذا يُدعى صغيراً في ملكوت السموات وأما الذي يعمل ويُعلِّم فهذا يُدعى عظيماً في ملكوت السموات&#8221;.</p>
<p><strong>بينما يعلن البولس</strong> أهمية ناموس العهد القديم وفضل الختان كمدخل وتهيئة لشريعة العهد الجديد رغم عدم أمانة اليهود.</p>
<p>&#8220;فما هو فضل اليهودي إذاً أو ما هو نفع الختان إنه كثير على كل وجه أولاً لأنهم أُؤتمنوا على أقوال الله فماذا إن كان بعضهم لم يؤمنوا ألعل عدم أمانتهم تُبطل أمانة الله حاشا بل فليكن الله صادقاً وكل إنسان كاذباً كما كُتب لكي تتبرّر في كلامك وتغلب إذا حوكمت&#8221;.</p>
<p><strong>ويؤكّد الكاثوليكون</strong> على أهمية الثبات في تعليم المسيح.</p>
<p>&#8220;فانظروا لأنفسكم لئلا تفقدوا ما قد عملتموه بل تنالوا أجراً تاماً، كل من تعدّي ولم يثبت في تعليم المسيح فليس له الله، ومن يثبت في تعليم المسيح فله الآب والابن كليهما&#8221;.</p>
<p><strong>لكنّه يحذّر المؤمنين</strong> من قبول الهراطقة في مجمعهم.</p>
<p>&#8220;إن كان أحد يأتيكم ولم يأت بهذا التعليم فلا تقبلوه في بيت ولاتقولوا له سلام&#8221;.</p>
<p><strong>ويُكمَّل الإبركسيس</strong> التحذير من الإستهانة بتعليم الروح وصوت وحدة الكنيسة وأعضائها مثلما حدث لحنانيا وسفيرة في إستهانتهما بروح الله في الكنيسة.</p>
<p>&#8220;فقال بطرس يا حنانيا لماذا ملأ الشيطان قلبك حتى تكذب على الروح القدس وتختلس من ثمن الحقل: أليس وهو باقِ كان يبقى لك ولما بيع ألم يكن في سلطانك فلماذا جعلت في قلبك هذا الأمر إنك لم تكذب على الناس بل على الله فلما سمع حنانيا هذا الكلام سقط ومات&#8221;.</p>
<p><strong>وفي مزمور القداس</strong> <strong>تجد النفس</strong> ملجأها الوحيد وحصانتها في إلهها وحبّها للرب.</p>
<p>&#8220;أحبك يا رب يا قوَّتي الرب هو ثباتي وملجأي ومخلّصي إلهي عوني وعليه أتكل&#8221;.</p>
<p><strong>ويختم إنجيل القدّاس</strong> بإظهار غنى التعليم الإلهي للناس، فالذين مكثوا ثلاثة أيّام مع المسيح له المجد ليشبعوا ويتغذّوا على تعاليمه المحيّيه، هؤلاء إستحقوا أن يشبعوا من فيضه رغم المكان القفر.</p>
<p>&#8220;ثم دعى يسوع تلاميذه وقال لهم: إنني أتحنن على هذا الجمع لأن لهم ثلاثة أيام يمكثون معي وليس لهم مايأكلون ولست أريد أن أصرفهم صائمين لئلا يخوروا في الطريق فقال تلاميذه أين نجد خبزاً بهذا المقدار في هذا المكان القفر حتى يشبع هذا الجمع&#8221;.</p>
<p><strong>ثلاثيات:</strong></p>
<ul>
<li><strong>والعجيب والجدير بالذكر</strong> شبع النفوس بعد ثلاثة أيام مكوث مع الرب. (إنجيل القدّاس).</li>
<li><strong>بينما ماتت سفيرة</strong> بعد ثلاثة ساعات من خيانة زوجها وأيضاً خيانتها (الإبركسيس).</li>
<li><strong>وإكتشف فرعون مافعله موسى</strong> في اليوم الثاني وهرب موسى النبي في اليوم الثالث (سفر الخروج).</li>
<li><strong>وتكلَّم إشعياء</strong> عن ثلاثة مقارنات: الشر خيراً، والظلام نوراً، والمرّ حلواً.</li>
<li><strong>وإنجيل باكر عن العظيم والصغير</strong> ومن لا يدخل ملكوت السموات التي قيلت ثلاث مرّات.</li>
<li>و<strong>البولس</strong> الذي تكلّم عن ثلاث صفات إلهية: أمانة الله، وبر الله، وصدق الله.</li>
</ul>
<p></p>
<h3>ملخّص القراءات</h3>
<table width="503">
<tbody>
<tr>
<td width="129">سفر الخروج</td>
<td width="374">خطورة الفكر البشري حتى لو كان هدفه روحي</td>
</tr>
<tr>
<td width="129">نبوءة إشعياء</td>
<td width="374">خطورة التعليم الكاذب والإستهانة بكلام الله</td>
</tr>
<tr>
<td width="129">مزمور باكر والقدّاس</td>
<td width="374">الرب هو سند النفس القوىّ أمام مقاومات البشر</td>
</tr>
<tr>
<td width="129">إنجيل باكر</td>
<td width="374">وحدة الكتاب المقدّس وأهمية الحياة بالكلمة</td>
</tr>
<tr>
<td width="129">البولس</td>
<td width="374">فضل الناموس كمدخل لشريعة العهد الجديد رغم عدم أمانة اليهود</td>
</tr>
<tr>
<td width="129">الكاثوليكون</td>
<td width="374">أهمّية الثبات في تعليم المسيح وخطورة التهاون مع الهراطقة</td>
</tr>
<tr>
<td width="129">الإبركسيس</td>
<td width="374">الإستهانة بالتعليم الكنسي خطيّة مميتة</td>
</tr>
<tr>
<td width="129">إنجيل القدّاس</td>
<td width="374">غنى وشبع النفوس من كلمة الله يؤهلهم للكفاية في كل شئ</td>
</tr>
</tbody>
</table>
<p><strong> </strong></p>
<p><strong> </strong></p>
<h3>الكنيسة في قراءات اليوم</h3>
<table width="506">
<tbody>
<tr>
<td width="129">إنجيل باكر والبولس</td>
<td width="378">وحدة وعصمة الكتاب المقدَّس</td>
</tr>
<tr>
<td width="129">إنجيل باكر</td>
<td width="378">المذبح والقربان</td>
</tr>
<tr>
<td width="129">الكاثوليكون</td>
<td width="378">أهمية عقيدة تجسّد الإبن</td>
</tr>
<tr>
<td width="129">الكاثوليكون</td>
<td width="378">أهمّية التقليد</td>
</tr>
<tr>
<td width="129">الإبركسيس</td>
<td width="378">لاهوت الروح القدس</td>
</tr>
</tbody>
</table>
<p></p>
<h3 dir="rtl">عظات ابائية</h3>
<h4 dir="rtl">معجزة إشباع الجموع في فكر القديس كيرلس الكبير</h4>
<p dir="rtl">يطلبون التحرر من طغيان الشياطين» أو الشفاء من المرض ولكن البعض الآخر كانوا يرغبون أن ينالوا منه التعليم، وكانوا يلازمونه علي الدوام بإخلاص عظيم وبجدية، لكي يتعرفوا تمامًا على تعاليمه المقدسة وحينما بدأ النهار يميل، كما يقول البشير، وكان المساء قد أقبل أعطى التلاميذ اهتماماً بالجموع واقتربوا من المخلص يسألونه من أجلهم. لأنهم قانوا: &#8220;اصرف الجموعليذهبوا الى القرى والحقول حوالينا فيبيتو! ويجدوا طعاماً لأننا ههنا في موضع خلاء&#8221;.</p>
<p dir="rtl">ولكن دعونا نبحث بعناية عن معني عبارة &#8216;اصرف الجموع &#8221; لأننا سنري بواسطتها الإيمان العجيب الذي للرسل القديسين، وأيضًا سنرى القوة الفائقة للطبيعة والمدهشة التي للمسيح مخلصنا فقد كانوا يتبعونه طالبين منه أن ينقذهم من الأرواح الشريرة التي تعذبهم بينما آخرون كانوا يطلبون الشفاء من أمراض متنوعة.</p>
<p dir="rtl">لذلك حيث إن التلاميذ عرفوا أنه بمجرد رضا مشيئته يستطيع أن يتمم لأولئك المرضى ما كانوا يطليونه، لذلك قالوا له &#8220;اصرفهم&#8221;،وهم لا يتكلمون هكذا كما لو كانوا منزعجين من الجموع أو كانوا يعتبرون أن الوقت قد مضى، بل إذ كانوا مأخوذين بالمحبة نحو الجموع بدأوا يهتمون بالشعب كما لو كانوا يمارسون مقذماوظيفتهم للرعوية، لكي نتخذ منهم قدوة لأنفسنا.</p>
<p dir="rtl">لأن الاقتراب (من الرب) والتوسل إليه نيابة عن الشعب هو فعللائق بالقديسين، وهو واجب الآباء الروحيين، ودليل علي قلب له اهتمام ليس بالموضوعات الشخصية وحدها، بل يعتبر مصالح الآخرين هي مصلحته الشخصيّة، وهذا مثل واضح جدًا علي هذه المحبة الفائقة. وإن كان يسمح لنا أن نمتد بتفكيرنا فوق مستوى الأمور البشرية، فإننا نقول: لأجل منفعة الذين يناسبهم هذا، إننا حينما نواصل الصلاة بحرارة مع المسيح سواء كنانسأله الشفاء من أمراض أرواحنا، أو أن يخلصنا من أي أمراض أخرى، أو كنا نرغب أن نحصل على أي شيء لأجل فائدتنا، فليس هناك أدنى شك أنه حينما نسأل في الصلاة أي شيء صالح لنا،فإن القوات العقلية وكذلك أولئك الرجالالقديسين الذين لهم دالة أمامه يتضرعون لأجلنا.</p>
<p dir="rtl">ولكن لاحظوا اللطف غير المحدود لذلك الذي يتوسلون إليه، فهو لا يهب فقط كل ما يسألون منه أن يمنحه لأولئك الذين تبعوه، بل أيضًا يضيف خيرات من يده اليمنى السخية منعشا بكل طريقة أولئك الذين يحبونه، ويرعاهم ويغذيهم بالشجاعة الروحية.</p>
<p dir="rtl">هذا ما يمكن أن نراه مما نقرأ الآن، لأن التلاميذ القديسين طلبوا من المسيح أن يصرف أولتك الذين كانوا يتبعونه ليتفرقوا بقدر ما هو مستطاع، ولكنه أمرهم أن يزودوهم بالطعام. ولكن هذا الأمر كان مستحيلاً في نظر التلاميذ، لأنه لم يكن معهم أي شيء سوي خمس خبزات وسمكتين، وهذا ما اعترفوا به له حينما اقتربوا منه.</p>
<p dir="rtl">لذلك، فلكي يوضح عظمة المعجزة ويجعلها تُظهر بكل طريقة أنه هو الله بطبيعته الخاصة، فقد أكثر هذه الكمية الصغيرة أضعافا مضاعفة، ونظر إلى فوق إلى السماء ليطلب بركة من فوققاصداً بهذا أيضاً ما هو لخيرنا.</p>
<p dir="rtl">لأنه هو نفسه الذي يملأ كل الأشياء إذ هو نفسه البركة التي تأتى من فوق من الآب، ولكي نتعلم نحن أننا حينما نبدأ في الأكل ونكسر الخبز فمن واجبنا أن نقدمه إلى الله واضعين إياه علي أيدينا الممدودة ونستنزل عليه بركة من فوق، ولذلك فقد صار هو سابقا لنا ومثالاً وقدوة في هذا الأمر.</p>
<p dir="rtl">ولكن ماذا كانت نتيجة المعجزة؟ إنها كانت إشباع جمع كبير وذلك بحسب ما أضافه واحد آخر من البشيرين القديسين إلى رواية المعجزة. والمعجزة لا تنتهي هنا إذ أنه جُمعت أيضنًا &#8221; اثنتا عشر قفة من الكسر &#8220;.</p>
<p dir="rtl">وما هو الذي نستنتجه من هذا؟ إنه تأكيد واضح أن كرم الضيافة ينال مكافأة جزيلة من الله، فالتلاميذ قدموا خمس خبزات، ولكنبعد أن تم إشباع جمع كبير هكذا، فقد جمع لكل واحد منهم قفة مملوءة من الكسر.</p>
<p dir="rtl">لذلك فلا يجب أن يكون هناك شيء يعوق أولئك الذين يريدون أن يستضيفوا الغرباء، مهما كان هناك ما يمكن أن يثلم إرادة واستعداد الناس لذلك. ولا يقول أحد &#8221; إني لا أملك الوسيلةالمناسبة، وما أستطيع أن أفعله هو تافه تمامًا لا يكفي كثيرين &#8220;.</p>
<p dir="rtl">يا أحبائي استضيفوا الغرباء، وتغلبوا على عدم الاستعداد الذي لا يربح أي مكافأة لأن المخلِّص سيضاعف القليل الذي لكم مرات أكثر من أي توقع ورغم أنك لا تعطي إلا لقليل فسوف تنال الكثير</p>
<p dir="rtl">&#8221; لأن من يزرع بالبركات، فالبركات أيضًا يحصد &#8221; ( ٢كو ٩ : ٦ ) حسب كلمات بولس المبارك.</p>
<p dir="rtl"> تفسير إنجيل لوقا ( الإصحاح التاسع ) للقديس كيرلس الإسكندري &#8211; ترجمة دكتور نصحي عبد الشهيد</p>
<h4 dir="rtl">بركة الرب  للأنبا شنوده رئيس المتوحدين</h4>
<p dir="rtl">في هذه العظة يتحدث الأنبا شنوده رئيس المتوحدين عن بعض المعجزات التي حدثت معه أو حدثت مع آخرين بصلواته، ويؤكد فيها أن الله لا يتخلى أبدًا عن الذين يطلبونه ويتضرعون إليه.</p>
<p dir="rtl">النص</p>
<p dir="rtl">[عظة لأبينا] القديس الأنبا شنوده.</p>
<p dir="rtl">1 أنتم تعلمون، يا إخوة، أنَّ اللهَ لا يردُّ وجهَه أبدًا عن الذين يخدمونه (يعبدونه) بالحق، ولا عن كُلِّ الذين يدعون اسمَه.</p>
<p dir="rtl">2 حدث في أيام المجاعة أننا عانينا بشدة. ولما أتى الناسُ إلينا، فكرنا (قائلين): “أين سنجد خبزًا لنطعم هؤلاء الذين أتوا إلينا؟” وأخذنا نمعن التفكير. فنهضتُ وأرسلتُ أخًا إلى هذه المدينة المرذولة وأعطيته مائة هولوكوتينوس (عملة رومانية قديمة) [&#8230;] فقالوا له: “لن نعطيك مائة أردب قمح مقابل مائة هولوكوتينوس”، ولم يعطوه (شيئًا). فعاد وأتى إلينا، وأخذنا نمعن التفكير، ثم عُدنا وقلنا لبعضنا البعض: “لننهض ولنذهب لنصلي”. فنهضنا معًا ودخلنا إلى المجمع (الكنيسة) وصلينا. فلما انتهينا من الصلاة، التفتنا للخلف ، فرأينا قمحًا ناميًا أكثر بياضًا من الشمس، ولم نعرف من أين أتى. فوزناه وأخذناه إلى المطحن. ولما وزناه، وجدنا [&#8230;] ولما انتهينا من الطحين، وجدنا ألف أردب من الدقيق. قد رأيتم، يا أولادي، أن الله لا يصرف وجهه أبدًا عن الذين يخدمونه (يعبدونه) بالحق. ولما انتهينا من الطحين، أخذناه إلى المخبز. وبدلاً من خبيز شهر واحد أو اثنين أو ثلاثة، خَبَزْنَا ستة أشهر (من هذا الدقيق).</p>
<p dir="rtl">3 نحن نعرف ونعلم أن اللهَ رؤوفٌ ولا يغفل ألبتة عن الذين يصرخون نحوه حقًّا، كما هو مكتوب: “إذا صرخ المسكين، يسمعه الربُّ” (أي 34: 28؛ مز 69: 33، 72: 12).</p>
<p dir="rtl">4 سوف أخبركم بعجائب الله وقواته وعظائمه ومعجزاته الكائنة منذ الأزل.</p>
<p dir="rtl">5 حدث لما أتى إليَّ أحدُ الأثرياء، كان آخرون فوق المعدية صاعدين (شمالاً)، وكان البعضُ يتحدثون مع بعضهم البعض، فقال واحدٌ: “هلم نذهب إلى رجل الله”. فقال آخرُ: “إنْ كان هو رجل الله بالنسبة لك، فليس هو رجل الله بالنسبة لي أنا”. وكانوا يتحدثون مع بعضهم البعض إلى أن وصلوا. فلما أتوا (إليَّ)، أنا الأخ (الراهب)، قال لهم أبي: “من أين أتيتم؟” فقالوا: “باركنا”، ثم جلسوا. فقال لهم أبي: “أخبروني من أين أنتم”. فقالوا: “قد أتينا إليك”. فقال لهم: “أعلموني ماذا كنتم تقولون في الطريق، عندما كنتم تجلسون عند البيت الجديد. وعندما أتيتم إلى هذه البئر، في الوقت الذي أطعمتم فيه دوابكم وسقيتموها، ماذا قلتم حينها؟ ولكن ليقل كُلُّ واحدٍ ما يحلو له. أما أنا فَهَمِّي مُلْقَى على يسوع ربي”. فقال واحدٌ: “يا أبي، أنا لم أقل (شيئًا)”. فقال له: “ما سيقوله الإنسان، سيعطي عنه حسابًا أمام الله (انظر مت 12: 36). أما أنا فأترجى يسوعَ، حياةَ كُلِّ الخليقة”. ثم مضوا من عنده.</p>
<p dir="rtl">6 حدث أيضًا ذات يوم أن أرخنًا أتى إليَّ، وكان لديه مسألة تتعلق بأحد موظفيه بشأن الضرائب (التي عليه). وكان الموظف فقيرًا، فأتى إليَّ باكيًا، فتألم قلبي جدًّا لأجله. وكان الثري حاضرًا، فقابلا بعضهما البعض عندي. فأمسكه الغني وقال له: “ادفع ما عليك”. ولأن الفقير لم يكن يملك شيئًا، قلتُ أنا له: “كم لك عليه؟” فقال الغني: “لي أربعة آلاف”. فقلتُ له: “كُفّْ عنه إلى أن يجد [&#8230;]”. فقال لي: “لقد وجدته ولن أتركه”. فقلتُ له: “افعلها لأجل الله”. فقال لي: “لا”.</p>
<p dir="rtl">7 أما الغني فضايق الفقيرَ جدًّا، فبكى الفقيرُ بشدة، وقال: “ماذا سأفعل، يا أبي. هو لن يعتقني”. فتوجع قلبي على الموظف وهو (الغني) يضايقه، فقلت له: “اتركه (أي اترك الدين الذي لك عليه) وسوف يترك (يغفر) لك اللهُ ذنوبَك”. فقال الغني: “لن أترك (الدين)”. فقلتُ له: “إن لم تترك (الدين)، فاتركه ليجمعها (أي يجمع الضرائب التي عليه) ويدفعها لك”. فقال لي: “أنا لا أريد أن أترك (الدين) لأن الحقول قد تلفت بشدة”.</p>
<p dir="rtl">8 فقال الفقيرُ: “ماذا سأفعل، يا أبي”، فقلتُ له: “لا تخف، بل توكل على يسوع”. فقال لي: “يا أبي، لقد تلف حقلي ولن أجد شيئًا”. فقلتُ له: “اذهب، يا ولدي، والله لن ينساك. سوف تجد (الديون) وتسددها، وسوف يفضل عنك بعضُ الشيء. فأعط ما يفضل للأرامل والمساكين من أجل خلاصك”. فقال لي: “ماذا سأفعل، يا أبي. لم يبق شيء سوى عشرة ستيوهي (مقياس مصري قديم للأرض يساوي عشرة آلاف ذراع مربعة)”. وأنا أقول أن الله قد زادها. فذراها (بالمذراة)، وحصدها، ووجد ضرائبه، [وأحضرها]، ودفعها للغني، وتبقى بعض الشيء [&#8230;] أعطاه للفقراء.</p>
<p dir="rtl">9 أنتم ترون، يا أولادي، أن الله لا يصرف وجهه عن الذين يصرخون نحوه؛ لأنه قال: “إذا صرختَ نحوي، سأسمع لك”، وأيضًا: “معك أنا في ضيقتك” (مز 34: 6، 91: 15) ؛ لأنهم كانوا متضايقيين جدًّا في تلك الأيام. فأخذها الغني، وأخبرني (بذلك). فقلتُ له: “إنه فقير. لماذا قبلتها منه؟” فقال لي: “لي عليه ثلاثون ألفًا، ولن أتركها (له)”.</p>
<p dir="rtl">10 وفي الحال مضى من عندي في قساوة قلب. وقبل أن يصل إلى الطريق، سقط من على [جواده] ومات، وكذلك مات الجواد أيضًا. فأتى خادمه وقال لي: “يا أبي، مات أخي في الطريق”، وظل يبكي. فقلتُ له: “اذهب، وخذ ذلك الماء، واسكبه عليه، وسوف يحيا”. فمضى، وأخذ الماء، وسكبه عليه. وفي الحال قام، وحمل متاعه الذي له، وأعطاه للفقراء، وأتى إلينا (وأقام) حتى يوم وفاته.</p>
<p>11 لأنه في تلك الأيام أتى إلينا أُناس، وكان مساء يوم السبت. فأرسلتُ ذلك الأخ (قائلاً): “قم وامض وأحضر بعض الخبز”. فمضى إلى الموضع الذي به الخبز، ثم أتى وقال: “يا أبي، لم أجد شيئًا”. فقمت مع الإخوة وصليت، ولم نجد شيئًا. ولكن لما انتهينا من الصلاة، هو ذا شخص ما قد لمسني، أنا أعتقد أنها كانت يد ابن الله. فقال لي: “لا تخف، يا شنوده، بل اتكل على الرب وهو الذي سيحمل همك ولن يتركك أبدًا”. وقال لي: “انهض وأرسل الأخ ليحضر خبزًا للناس ليأكلوا”. فالتفتُّ ولم أبصره. فصلينا وأرسلنا الأخ. ولما فتح الباب، وجد مائة أردب تنهال علينا. ففرحنا للغاية وسبحنا يسوع صانع الخيرات لعبيده على الدوام. ثم أحضرنا من [هناك] خمسة أرادب، فأكلوا بمقدار واحد ونصف &#8220;هو&#8221; (مكيال قديم يساوي الأردب تقريبًا). سوف تجد خمسة آلاف رجل قد أكلوا، كما هو مكتوب في الإنجيل. لقد باركنا اللهُ وتراءف علينا، وامتلأ المكان (بالخبز) إلى هذا اليوم</p>
<p dir="rtl">ترجمها عن اللغة القبطية<br />
د. صموئيل القس قزمان معوض<br />
قسم الدراسات القبطية – جامعة مونستر بألمانيا</p>
<h3>عظات اباء وخدام معاصرون :</h3>
<h4>هل تستطيع أن تُقدم ما معك ؟ قداسة البابا تواضروس الثاني</h4>
<h5 dir="rtl">يوم الأربعاء من الأسبوع الثانى لقداسة البابا تواضروس الثاني</h5>
<p dir="rtl">مت ( ١٥ : ٣٢ – ٣٨ )</p>
<p dir="rtl">هل تستطيع أن تُقدم ما معك ؟</p>
<p dir="rtl">إنجيل اليوم يتكلم عن معجزة إشباع ، وإنجيل متى ذكرت فيه معجزتان عن إشباع الجموع ، معجزة تمت في اليهودية &#8221; جنوب فلسطين &#8220;، وهي التي أشبع فيها السيد المسيح خمسة آلاف من الرجال ما عدا النساء والأولاد ، وأشبعهم السيد المسيح من خمس خبزات وسمكتين ، وتبقى في النهاية ١٢ قفة مملوءة من الكسر قدموا منها لمن له احتياج. ومعجزة إنجيل اليوم تمت في الجليل ، وهي المعجزة التي أشبع فيها السيد المسيح ٤٠٠ من الموجودين من الرجال ما عدا النساء والأولاد ، وأشبعهم من ٧ خبزات وقليل من السمك .حدثت المعجزة مع الجموع الذين مكثوا مع السيد المسيح ثلاثة أيام . وحلاوة تعاليمه جعلتهم لا يتركونه ، بل ظلوا معه يتعلمون منه ، لكن السيد المسيح كان يشفق على الجمع. سؤال اليوم هو سؤال مرتبط بالشفقة ، والشفقة من الكلمات التي تشرح معاني الرحمة ، فالرحمة متسعة جداً وأحد معانيها الشفقة. وبدأ السيد المسيح يتحاور مع التلاميذ والجموع في الموضوع وبعد ما مكثوا معه ثلاثة أيام ، لكنه لم يرد أن يصرفهم صائمين حتى لا يخوروا في الطريق ، ولكن هنا نقف عند كلمة &#8221; أشفق على الجمع &#8221; وهو إحساس الشفقة والضرورة الملحة للطعام . وكلمة أشفق هنا تُشير إلى أن السيد المسيح هو مركز الرحمة والنعمة والشفقة ، والشفقة معناها إمتلاء أحشاء الإنسان من الرحمة ، فهناك من تكون الرحمة لديه بالكلام وفيه يقوم بأي عمل بسيط باسم الرحمة ، لكن هناك من يفعل الرحمة من الأحشاء حتى في رسالة (فيلبي ٢ : ١) يقول : &#8221; أحشاء ورأفة &#8220;، فأحياناً الأحشاء تعني عمق الإنسان.</p>
<p dir="rtl">هناك من تتحرك أحشاؤه وتتحرك مشاعره وأعماقه ، فعندما نقول في مديحة الصوم : &#8221; طوبي للرحما على المساكين &#8221; تعني : يالسعادة من يمتلأ رحمة وتتحرك أحشاءه ويعيش بهذه الشفقة .</p>
<p dir="rtl">السيد المسيح أدخل التلاميذ في السؤال لأنه كان يريد أن لا يصرف الجموع وهم صائمون ، لكنهم تعجبوا جداً وسألوه &#8221; من أين لنا في البرية خبر بهذا المقدار، حتى يشبع جمعاً هذا عدده ؟&#8221; (مت ١٥ : ٣٣ ) .  وهنا يتضح أن ثقة التلاميذ في السيد المسيح ليست واضحة تماماً رغم أنهم اختبروا قوته في معجزات أخرى كثيرة.</p>
<p dir="rtl">ويبدأ السيد المسيح يعمقهم في سؤال اليوم &#8221; كم عندكم من الخبز ؟&#8221; (مت ١٥ : ٣٤ ) ،  وهذا هو سؤال إنجيل اليوم &#8221; كم عندك ؟&#8221; إنه سؤال واضح وصريح ، فقد وضح السيد المسيح عدة مبادئ مهمة لهذا السؤال :</p>
<p dir="rtl">١ &#8211;  إن السيد المسيح مستعد أن يعمل بالقليل ، فلا يفرق معه إن كان معك قليل أو كثير، فهو مستعد أن يعمل بالقليل</p>
<p dir="rtl">٢ &#8211;  لقد كان معهم سبعة من الخبز وقليل من السمك ، ربما هذا طعام فرد أو احتياج لفرد ، ومن الممكن أطلب منك ، ولكن ربما ما هو معك يكفيك أنت وحدك .</p>
<p dir="rtl">٣ &#8211;  ربنا يسوع يريد أن يعلمهم أنه يجب أن يكونوا كرماء ، فيجب أن يكون الإنسان كريما ، وربما القليل الموجود معي لا يعمل به شيء ، لكن مع المسيح يمكن العمل به كثيراً ، فتعلم أن تكون كريماً ؛ لأن الشح خطية. أحيانا الخدام في مكاتب الخدمة الاجتماعية لديهم نوع من الشح ، لكن في هذه المعجزة ربنا يسوع المسيح يريد من خلال هذا السؤال أن تكون إنساناً كريماً ، ومثلما يعلمنا الكتاب المقدس ويقول لنا : أنه يجب أن يتعب كل منا &#8221; ليكون له أن يعطي من له احتياج&#8221; (أف ٤ : ٢٨). )س</p>
<p dir="rtl">السؤال يريد أن يكشف الإنسان ، كم معك ؟ هل تقدر أن تتنازل عنه ؟</p>
<p dir="rtl">قصة</p>
<p dir="rtl">عاش ناسك في البرية في قلاية بسيطة جداً جداً، وذات يوم نزل السوق كي يبيع شغله اليدوي ، وعند رجوعه وجد مجموعة من اللصوص يسرقون قلايته الفارغة ، وعندما دخل القلاية وجد فيها طبقاً ، فأخذه وجرى وراءهم وقال لهم : &#8221; لقد نسيتوا طبقكم ! &#8220;</p>
<p dir="rtl"> السؤال يكشف لك : من أنت ؟ المسيح لا يبحث عن الكم ، إنما يبحث عن الكيف ، لذلك أذكركم بقصة المرأة الأرملة صاحبة الفلسين، وكأن السيد المسيح سألها : &#8220;كم عندك ؟&#8221;، فأجابت وقالت : &#8221; ليس عندي سوى فلسين سأضعهما من أعوازي واحتياجي &#8221; &#8230; يا لقوة إيمان هذه المرأة وثقتها الكبيرة في ربنا. قديما كانت العملة معدنية وليست ورقية ، وكان الناس يجلسون في الهيكل والصندوق أمامهم كي تسمع أذنهم صوت رنة العملة عند إلقائها في الصندوق ، وإن كانت العملة المعدنية كبيرة فيكون لها صوت معين ، أما إن كانت العملة صغيرة فصوتها يكون ضعيفاً ، فما بالك بفلسين ؟! ولكن كل هذا لم يمنعها .</p>
<p dir="rtl">السيد المسيح يسألك &#8221; كم عندك ؟&#8221; والأمثلة عديدة :</p>
<p dir="rtl">١ &#8211; كم عندك من الحب والمشاعر الحقيقية ؟ كم عندك من الوقت ؟ الدقائق التي أعطاها الله لك كيف تستغلها ؟</p>
<p dir="rtl"> ٢ كم عندك من المال الذي تستطيع أن تخدم به وإحساسك أن ما في يدك هو عطية الله ، وليس لك شيء سوى أن تقول : &#8221; من يدك وأعطيناك &#8220;، الله هو الذي يعطي الرزق فهو صاحب الرزق .</p>
<p dir="rtl">٣- كم عندك من الجهد والطاقة التي تستطيع أن تخدم بها ، وكم عندك من الخدمة ؟</p>
<p dir="rtl">٤ &#8211; كم عندك من الفضيلة ؟ هل تحصل على فضائل في حياتك اليومية ؟ هل تركز على فضيلة معينة لكي ما تقتنيها ؟</p>
<p dir="rtl">٥ &#8211; كم عندك من الرحمة ؟ متى تتحرك هذه الرحمة ؟</p>
<p dir="rtl">٦ &#8211; كم عندك من الوفرة ؟ هل لديك أمور وفيرة ؟</p>
<p dir="rtl">٧ &#8211; كم عندك من التعب من أجل المسيح  ؟</p>
<p dir="rtl">٨ &#8211;  كم عندك من الصلوات ؟ وهو لا يقصد عدد مرات الصلاة بل يقصد مشاعر الصلاة.</p>
<p dir="rtl">٩- كم عندك من الدموع لتسكبها وتُذيب فيها مشاعرك؟</p>
<p dir="rtl">١٠ كم عندك من الميطانيات ؟</p>
<p dir="rtl">١١ – كم عندك من نظام في حياتك وفى كل شيء ؟</p>
<p dir="rtl">المسيح لا يبحث عن الكم ، وإنما يبحث عن الكيف .</p>
<p dir="rtl">امثلة</p>
<p dir="rtl"> ١ &#8211; في وقت صلب السيد المسيح ، صلب معه لصان ، ولكن السيد المسيح سأل اللص اليمين ، وأجاب اللص قائلا : &#8221; اذكرني يا رب متى جئت في ملكوتك&#8221;. وبهذه الكلمات الخمس تفتحت أبواب السماء وأخذ الإكليل ، وكانت الإجابة : &#8221; اليوم تكون معي في الفردوس&#8221;.</p>
<p dir="rtl">٢ الأم التي كانت تبكي سألها : &#8221; كم عندك ؟&#8221;، قالت له : &#8221; ليس لدي سوى دموعي سألها : &#8221; لماذا تبكين ؟&#8221; أجابت قائلة : &#8221; من أجل ابني أوغسطينوس &#8220;. سألها : &#8220;هل هذه الدموع ستأتي بابنك ، بالرغم من خطاياه الكثيرة ، وبالرغم من أنه تركك وذهب لبلاد أخرى ؟&#8221; أجابت: &#8221; نعم &#8220;. و فنظر الرب يسوع إلى دموع هذه الأم وصلواتها ، فعاد أوغسطينوس وصارتائبا وقديساً وأسقفا ، وكان أول من كتب اعترافاته وسجلها كتابتة ، وله كتب كثيرة ، وله تلاميذ ، وله فكر لاهوتي وفلسفي &#8230; إنه ابن الدموع .</p>
<p dir="rtl">٣ &#8211; الخميرة الصغيرة التي تُخمر العجين كله ، قطعة خميرة صغيرة قد تُخمر كمية كبيرة من العجين ويخبز ويشبع ، وهذا مثل من أمثال الملكوت (مت ١٣) .</p>
<p dir="rtl">٤ &#8211; بالمثل حبة الخردل ، وهي حبة صغيرة جداً ، كم عندك ؟ لدي حبة من الخردل ، وماذا تفعل هذه الحبة ؟ هذه الحبة تُعطي شجرة عظيمة تأوي إليها طيور السماء …</p>
<p dir="rtl">٥ &#8211; ومن قصص القديسين نجد في قصة أسرة الأنبا بيشوى يسأل الأم : كم عندك ؟ أريد هذا الطفل الصغير صاحب الإمكانيات المحدودة &#8230; ويصير الطفل الصغير إنساناً عظيماً له تلاميذ بالآلاف عبر قرون وقرون …</p>
<p dir="rtl">٦ &#8211; من القصص المشهورة في وقت &#8221; محمد علي باشا &#8221; الذي أسس مصر الحديثة ، عندما كانت ابنته مريضة وفيها روح شرير، عرف عن الأنبا صرابامون أبو طرحة إن لديه موهبة إخراج الأرواح الشريرة ، لكن من وقاره واحترامه ومعرفته بالتقاليد ، ورغم أن الله أعطاه موهبة قال : &#8221; أنا لا أستطيع إخراج الروح الشريرة إلا بصليب الأب البطريرك &#8220;، وبالفعل أخذ الصليب وصلى ، ونسب علاج هذه الفتاة إلى صليب الأب البطريرك رغم أنه هو الذي قام بالصلاة .</p>
<p dir="rtl">قصة</p>
<p dir="rtl">يذكرني ما سبق بقصة جميلة للقديس &#8221; أبونا بيشوى كامل &#8221; في الإسكندرية ، عندما جاءت إليه سيدة بسيطة وأعطته ١٢٠ جنيها وطلبت منه أن يبني بها كنيسة ! وبالطبع قد نتعجب من هذا المبلغ البسيط جدا الذي قد لا يمكن به شراء طن من الأسمنت ، لكن بمنتهى الثقة هذا المبلغ القليل عندما وضع في يد الله بنيت كنيسة عظيمة كبيرة في الإسكندرية ، وقس على ذلك أمثلة كثيرة ..</p>
<p dir="rtl">يقول القديس يوحنا الذهبي الفم : &#8221; الله يبحث عن سبب واحد لخلاصك حتى وإن كانت دمعة واحدة من عينيك &#8220;. الدمعة الصغيرة دليل على التوبة ، ودليل على أنك إنسان صادق ، خاصة وإن كانت هذه الدمعة من قلبك .</p>
<p dir="rtl">الخلاصة &#8230; إن السيد المسيح يسألك : كم عندك ؟ قف مع الرب يسوع وقل له : حتى لو كان عندي ٧ خبزات وقليل من السمك، حتى لو كان كل ما لديك هو احتياجك ، قل له : &#8221; يا رب أنا سأضعه في يدك ، وأنا بملء الثقة أنك سوف تستخدمه ، وهذا سوف يأتي بثمر ويشبع الجموع &#8220;. الله سوف يفرح بالقليل ؛ لأن القليل فيه سر البركة ، فلو كانوا احتفظوا بالسمكتين و ۷ خبزات كانوا سيظلوا كما هم ، لكن عندما وضعوهم في يد المسيح أشبعوا بهم آلاف وآلاف من الناس .</p>
<p dir="rtl">ثق دائماً أن يد المسيح تستطيع أن تبارك ، فهو لا يبحث عن الكم ، هو يبحث عن مشاعرك الحقيقية ، وقد قلت في بداية الحديث أن مفتاح المعجزة أنه &#8221; أشفق على الجمع &#8220;.</p>
<p dir="rtl">نحن في عصر فقد فيه أناس كثيرة عنصر الشفقة ، أو ما تسميه بلغتنا &#8221; الحنية &#8220;، أحياناً القساوة تكون متحكمة في الإنسان ، ولذلك هذا الصوم فرصة مع سؤال اليوم أنك تطلب من الله أن يعطيك قلباً مملوءاً بالشفقة والرحمة وتقول : &#8221; يا رب أن كل ما لدي هو ملكك أنت ، إن كان مال أو وقت أو عمر أو فكر أو حتى أولادي اوبناتي &#8230;&#8221;.</p>
<p dir="rtl">الصغير في يد الرب يصير عظيماً ، والقليل في يده يصير كثيراً ، ولا تنس أن القليل هو مفتاح البركة في حياتك . اجعل السؤال الذي يشغلك في هذا الأسبوع هو: &#8221; كم عندك ؟&#8221; وفكر ما هو الذي يمكن ان تصنعة في يد المسيح .</p>
<p dir="rtl">المرجع : كتاب إختبرني يا الله &#8211; قداسة البابا تواضروس الثاني</p>
<h5 dir="rtl"></h5>
<h5 dir="rtl"></h5>
<h4 dir="rtl">البركة للمتنيح الانبا كيرلس مطران ميلانو</h4>
<p dir="rtl">القلب الشبعان</p>
<p dir="rtl">سألت نفسي ؟! وكيف ولماذا لا تشبع العين من النظر ؟! وكيف لا تمتلئ الأذن من السمع ؟ ! .. والأنهار تجري إلى البحر .. وكيف لا يمتلئ البحر بالماء ؟! ( جا ٧ : ۱ )</p>
<p dir="rtl">یا الله القدوس ..الإنسان الغريب والنزيل على الأرض لا يشبع ؟!</p>
<p dir="rtl">فكيف يكون هذا .. وهو منقوش على كفك ؟!</p>
<p dir="rtl">كيف يكون هذا .. وكفك يا إلهي مفتوحة دائما لكي تطعمه ؟!</p>
<p dir="rtl">كيف يكون هذا .. ويدك ربي مثقوبة لتخلصه ؟! ويمينك ممدودة لتلاحقه وتصادقه ؟!</p>
<p dir="rtl">من يحل لنا هذه المعادلة الصعبة .. القلب يعشق الأرضيات .. والله يشتاق إلى القلب ، والقلب ينخر بأظافره في العالم ليختبئ من الله الذي يشبعه ؟!</p>
<p dir="rtl">يا إلهي .. إن بعدت يدك عنا نحن البشر .. لرحلت البركة منا .. وهاجر السلام من قلوبنا &#8230;</p>
<p dir="rtl">كثيرون يعيشون بالقرب منك .. بل في ديارك التي على الأرض .. نراهم لا يشبعون ؟! هل يدك بعيدة عنهم ؟! لأنهم لم يمسكوها بالفعل ؟!</p>
<p dir="rtl">وهل هم جالسون بالقرب منك .. وقلوبهم بعيدة عنك ؟! أم هم يتوهمون أنهم يسكنون عندك ؟ ويظنون إنهم بتكريم شفاههم أنك تمنح البركة للقلب البعيد ؟!</p>
<p dir="rtl">القلب الشبعان يفيض بالبركة :</p>
<p dir="rtl">على عتبة الخيمة .. رأيت هذا الرجل الوقور .. رأيت أبي إبراهيم أب الآباء .. فسألته من أين أتت عليك هذه البركات ؟!</p>
<p dir="rtl">من حياته .. عرفت .. حقاً أن البركات يعطيها الله واضع الناموس للذين يحفظونه في قلوبهم .. وما هو الناموس إلا أن نمسك بید الله العلى &#8230;</p>
<p dir="rtl">يا أبي إبراهيم .. طوباك . لأنك وضعت يدك في يد الله القدوس .. بعدما تركت أهلك .. وعشيرتك .. وأرضك .. وجعلت اتكالك على الرب وحده .. لذا وضع يده الصالحة عليك .. وحلت البركة على قلبك .. وخيم السلام على أعمالك .. بل جعلك الرب .. إبراهيم البركة التي على الأرض &#8230;</p>
<p dir="rtl">طوباك .. لأن قلبك اغتنى بالرب وحده .. لذا لم تقبل أن تكون هناك مخاصمة بينك وبين لوط .. ولا بين رعاة غنمك ورعاة غنم لوط ( تك ١٣ : ٨ ) .</p>
<p dir="rtl">يا أبي إبراهيم .. غني أنت ليس بالمكان .. إنما برب المكان .. لذا تركت لوط يختار ما يريد قائلاً له &#8221; أليست كل الأرض أمامك &#8221; .. اختار لوط لنفسه ما يشبع عينيه .. وأنت يا أبي البار سبقت واخترت ما يشبع قلبك !!</p>
<p dir="rtl">حقا .. البركة الحقيقية .. هي شبع القلب .. لأنك يا أبي إبراهيم بعدما استرجعت لوط وأملاكه والنساء وكل شعب سدوم من عند كدرلعومر ملك عيلام &#8221; رفضت ما عرضه عليك ملك سدوم من أملاك .. ورفعت يدك إلى إله السماء وقلت بقلب شبعان &#8221; لا أخذن لا خيطاً ولا شراك نعل ولا من كل ما هو لك &#8221; .</p>
<p dir="rtl">يا ساكن الخيمة</p>
<p dir="rtl">قل لي يا أبي الطوباوي .. لو ملكت العالم كله .. وأنت يا بار كنت بعيداً عن الله .. هل كنت تري هذه البركات ؟</p>
<p dir="rtl">هل رأي القديس أوغسطينوس حلاوة حياتك .. ومحبتك وإيمانك ورجائك في الرب ، لذا قال &#8221; ما أسعد من يعرفك أيها الرب الإله ، وأن كان يجهل كل شيء .. وما أشقي من يعلم كل شيء ، ولا يعرفك أيها الرب الإله .. &#8220;</p>
<p dir="rtl">احك لنا يا أبي الآباء .. يا ساكن الخيمة .. عن البركة التي تنقص كثيرين !!</p>
<p dir="rtl">احك للأغنياء والفقراء .. احك لأصحاب المراكز والمسئولين الذين يحيون في قلق من أجل طلبهم المزيد .. احك لتنقذهم &#8230; ! احك لنا لكي تكون لنا الكفاية في كل شيء .. لكي نشبع ونحيا في كل عمل صالح &#8230;</p>
<p dir="rtl">افتح فمك المبارك .. وكلمنا عن البركة التي تغني ولا يزيد معها تعب ( أم ١٠ : ۲۲ ) . البركة التي في القليل .. البركة التي من عند الرب والتي تشبع القلب .. القليل الممزوج بالشكر . البركة التي تجعل القلب يمسك بقبضته في السماء .. البركة التي تعطي السلام .. والسلام الذي يمنح البركة &#8230;</p>
<p dir="rtl">قل للعالم الذي يجري في سباق من أجل أهداف زائلة .. قل لهم .. ماذا أمسكتم ؟! وهل شبعتم واستكفيتم ؟ قل لهم .. إن كنتم شبعتم .. فلماذا السباق مرات أخرى ؟!</p>
<p dir="rtl">قل لعشاق المقتنيات الأرضية .. افتحوا أياديكم .. واكشفوا عن ما اقتنيتموه ؟!</p>
<p dir="rtl">أليست كل مقتنياتكم رياحاً في قبضة أياديكم ، لأنها تخلو من البركة .. كما قال سليمان الحكيم .. باطل وقبض الريح ..</p>
<p dir="rtl">قل يا أبي الطوباوي للذين يسيرون بالعقل .. يسعون ويجرون ويملكون ظلالاً كئيبة .. هل يئن في قلوبهم نداء عميق ؟! هل عرفوا لماذا هذا الأنين ؟! وما هذا الأنين إلا أن القلب يطلب مكاناً لله خالقه بعيداً عن السعي والجريان في العالميات .</p>
<p dir="rtl">الذي يري حياتك يا أب الآباء .. يتعلم كيف يملك بعيداً عن مقتنيات قبض الريح ؟! يتعلم كيف يلتصق بالبركة ؟! وكيف تلتصق البركة فيه .. وإن كان لا يملك شيئاً ؟!</p>
<p dir="rtl">كيف يصير القليل كثيراً</p>
<p dir="rtl">جلست بأفكاري معك يا أبي إبراهيم .. وطار عقلي إلى الجبل .. ورأيت الجموع حول السيد المسيح .. فحشرت نفسي وسطهم .. ونظرت إلى الطفل الصغير .. وهو يضع بأصابعه الصغيرة .. كل ما يملك من أطعمة في يد المسيح الممسك السبع کواكب في يمينه .. وقلت بعقلي ما قاله التلاميذ &#8221; كيف يمكن تقسيمهم على هذا الجمع ؟ !</p>
<p dir="rtl">&#8221; قلت لنفسي .. هات كل الآلات الحاسبة .. تعال بالعلم الحديث .. قسم خمس خبزات وسمكتين على هذا الجمع الغفير !! قسميهم على خمسة آلاف نفس !! هل يفيض اثنتا عشرة قفة مملوءة ؟!</p>
<p dir="rtl">حقاً . القليل والصغير عندما يوضع في يد الرب .. تكون فيه البركة .. ولا تكن البركة في الطعام البائد وحده .. إنما عندما نضع إمكانياتنا القليلة في يد الله القدوس .. عليها تحل البركات .</p>
<p dir="rtl">فمن هذا اليوم أبامرك ( حجي ٢ : ١٩ )</p>
<p dir="rtl">ایتها البركة .. يا قارعة على أبواب القلوب ..</p>
<p dir="rtl">لماذا تنتظرين في الخارج ؟! والقلوب تبحث عن الشبع ؟!</p>
<p dir="rtl">هل عيون القلوب لم تنظرك ؟! أم أيادي القلوب تقطران مرا وأصابعها قاطر على مقبض القفل ؟! ( نش ٥ : ٥ ) .</p>
<p dir="rtl">أيتها البركة .. هل تنتظرين على الأبواب كثيرا ؟! أم تتحولي وتعبرين ؟!</p>
<p dir="rtl">هل التوبة هي أختك ؟! وهل لك مثلها زمان للعمل ؟!</p>
<p dir="rtl">أيتها البركة .. أنت بنت من من العظماء الأنقياء ؟!</p>
<p dir="rtl">حقا .. أنت بنت التوبة التقية التي بها يرجع الله إلي القلب فتحل عليه البركات ..</p>
<p dir="rtl">أنت الساكنة في يد الآباء البطاركة .. والخارجة من فم الآباء الأساقفة والمرسلة في نعمة الكهنوت العاملة في كل الأسرار ..</p>
<p dir="rtl">أيتها البركة .. كل من حبسك في قلبه .. انفك من ضيقات العالم .</p>
<p dir="rtl">خيراتك كثيرة .. لكن ليس كل من يملك خيرات أنت تسكنيه !!</p>
<p dir="rtl">أنت التي تفرحين وجه الأرض بالثمار الغزيرة .. وأنت التي تفرحين أراضي القلب بحلولك فيه ..</p>
<p dir="rtl">عجيبة أنت أيتها البركة .. لأنك لا تحتملين البقاء في المخازن .. إن دخلت المخزن تنحل منك البركة .. والمخزون ينتن ويأكله السوس .. ويعتريه الصدأ !!</p>
<p dir="rtl">أنت تحولين القلب إلى نبع فياض .. يرتوي منك فيسعد .. ويروي الآخرين فيزداد إسعادا ..</p>
<p dir="rtl">أنت غنية في النساك الفقراء .. وبهم تنتشر البركات .</p>
<p dir="rtl">حقا .. أنت أم العطاء بسخاء ..</p>
<p dir="rtl">مصدر البركة :</p>
<p dir="rtl">سألت نفسي قائلا .. لماذا امطرت السماء بالمن السماوي ؟!</p>
<p dir="rtl">قلت ليعمل في قلوب البشر .. ولكي يسند أجسادهم ..</p>
<p dir="rtl">يا إلهي .. أنت يا قدوس لم تجعل القلب مخزنا للطعام !! ولا مخزنا للماديات !! إنما لكي يخزن فكرا حيا ..</p>
<p dir="rtl">السماء التي أمطرت للشعب في البرية .. أمطرت لكي تروي القلوب فكرا عميقا ..</p>
<p dir="rtl">&#8221; بأن عطايا الله جديدة كل صباح &#8221; ( مراثي ٣ : ٢٣ ) وأن يد الله ممدودة لكل ذي جسد ( أش ٦٥ : ٢ ) .</p>
<p dir="rtl">فمن ذا الذي يخزن إلا الذي انفصل عن الله ؟! ومن ذا الذي يخزن إلا الذي يفرح بالعطية أكثر من العاطي .</p>
<p dir="rtl">حقا .. البركة الحقيقية . أن تبقي في يد الله معنا ..</p>
<p dir="rtl">يا إلهي .. في يدك لا توجد مخازن .. لأن الخير يتدفق من بين يديك !! فمن أين نأتي بمخازن لخيراتك وبركاتك التي تحاصر بها كل خليقتك ؟!</p>
<p dir="rtl">السماء والأرض لا يسعان بركاتك يا سيدي .. لأنهما من بين خيراتك !!</p>
<p dir="rtl">مقر البركة :</p>
<p dir="rtl">يا إلهي لا تسمح لي أن أكون حكيما في عيني نفسي ( أم ٣ : ٧ ) .. ولا تسمح لي بجهل حكمتي أن أفرح بالبركة من خارجي .. أعني يا سيدي لكي أعمل مقرا للبركة في داخلي .. حتى لا أمشي في طريق وقلبي في طريق آخر ( حجي ١ : ٥ ) .</p>
<p dir="rtl">اجعل قلبي في طريقي لئلا أنخدع وأبني قصورا .. والدهر يحفرها لي .. أو أبذر بذورا في الحقول .. والأرض تلفظها لي ..</p>
<p dir="rtl">دعني أسمع صوتك من فم حجى النبي .. دعني أميز وأملك قلبا منيرا .. أبني فيه القلب بيتا للرب .. أبني مقرا للبركة .. لأنك أنت القائل لكل من يهتم ويبني بعيدا عن القلب &#8221; زرعتم كثيرا .. ودخلتم قليلا .. تأكلون وليس إلى الشبع .. تشربون ولا تروون .. تكتسون ولا تدفأون &#8221; ( حجي ١ : ٥ ) .</p>
<p dir="rtl">لذا بعيدا عن القلب لا يوجد مقر للبركة المشبعة .. التي بها نحيا ونتحرك ونوجد ..</p>
<p dir="rtl">يا إله البركة :</p>
<p dir="rtl">أنت تفتح يدك فتشبع كل حي ( مز ١٤٥ ) .. قطرة من بين أصابعك تروي محيط حياتنا .. وفتات من يمينك يشبع بطونا جائعة .. وفلس من خزنتك يغني عالمنا .. وعصاك وعكازك على قطيعك الصغير فتجذب بها الذئاب الخاطفة .. وخمس خبزات في يدك تشبع بها خمسة آلاف نفس .. وخمس كلمات بذهن مختلط بروحك القدوس تطعم بها القلوب الجائعة للبر .. أكثر بركة من عشرة آلاف كلمة بلسان بدون فهم ( ۱ کو ١٤ : ١٩ ) .</p>
<p dir="rtl">دقيق لا يفرغ . . وزيت لا ينقص</p>
<p dir="rtl">وقفت على أبواب بلدة صرفة صيدا .. أبحث عن بيت الأرملة ..</p>
<p dir="rtl">أرامل كثيرات في البلدة الصغيرة .. من يرشدني عن بيت الأرملة التي كلفها الله لكي تعول نبيا عظيما ؟! ( ۱ مل ۱۷ : ۱۰ ) .</p>
<p dir="rtl">يا إلهي .. أنت يا قدوس .. من هذه الأرملة التي تعول أحد أنبيائك ؟! ولماذا ؟!</p>
<p dir="rtl">امرأة فقيرة جدا .. طعامها كاد يتلاشى !!</p>
<p dir="rtl">هذه حفنة باقية من الدقيق .. ونقاط من الزيت .. هذا هو طعامها وطعام أبنها !! ( ۱ مل ۱۷ : ۱۲ ) .</p>
<p dir="rtl">ترى ماذا تعملون للبطون الجائعة !! ماذا يحدث بعد هذه العجنة الأخيرة ؟! ومن يسند جسدك يا أمي الأرملة .. وجسد ابنك اليتيم ؟!</p>
<p dir="rtl">هل الباب يطرق .. تري من الذي يطرق على باب بيتك ؟!</p>
<p dir="rtl">هل القارع جاء ليقدم طعاما لك ؟! ولأبنك ؟!</p>
<p dir="rtl">افرحي يا امي الأرملة .. وتهللي .. يبدو أن الذي جاء .. جاء لكي يعولك ويطعمك !!</p>
<p dir="rtl">القارع على باب بيتك هو نبي من أنبياء الله .. ترى ماذا يحمل لك ؟! وماذا يقدم لأبنك ؟!</p>
<p dir="rtl">يا للعجب .. أنه إيليا النبي ومعه رسالة من الله العلي .. هو لا يعطيك شيئا .. إنما جاء ليأكل ويشرب من عندك ، من طعامك .. من بيتك ؟!</p>
<p dir="rtl">يا إلهي .. العقل لا يدرك هذا التدبير العجيب !!</p>
<p dir="rtl">لماذا اخترت هذه الأرملة الفقيرة .. ومن أين تعطي ؟! وماذا تقدم ؟!</p>
<p dir="rtl">حقا .. أنت عارف قلب كل أحد .. وأنت يا قدوس مستريح في قديسيك .</p>
<p dir="rtl">في تجسدك جلست تجاه الخزانة .. ونظرت كيف يلقي الجميع نحاسا الخزانة .. وكان أغنياء كثيرون يلقون كثيرا .. ورأيت الأرملة الفقيرة التي ألقت فلسين أكثر من الذين ألقوا في الخزانة .. لأن الجميع من فضلتهم القوا .. وأما هذه فمن أعوازها ألقت كل ما عندها .. كل معيشتها ( لو ١٢ : ٤٤ ) .</p>
<p dir="rtl">أسرار في بيت الأرملة :</p>
<p dir="rtl">أيها النبي العظيم .. هل عندما دخلت بيت الأرملة .. جاء أبنها مسرعا واستند على ركبتيك ليشبع ويستريح ؟</p>
<p dir="rtl">الابن لا يحتمل الجوع .. وأنت يا نبي الله لك القدرة على الصوم والصلاة !!</p>
<p dir="rtl">ها هي كل محابس المياه في يدك .. أنت ترفع يدك فتغلق كوى السماء ( يع ٥ : ۱۷ ) ، ( ۱ مل ۱۷ : ۱ ) .</p>
<p dir="rtl">أنت دخلت بيت الأرملة .. ورأيت بعينيك حفنة الدقيق .. ونظرت إلى كوز الزيت .. لماذا طلبت طعاما لنفسك قبل الابن الصغير اليتيم ؟!</p>
<p dir="rtl">هل هذا اختبار أنت تصنعه يا نبي الله مع هذه الأرملة .. أم سر مخفى ؟!</p>
<p dir="rtl">يا إلهي .. أنت تعرف هذه الأرملة .. وهي تعرفك ..</p>
<p dir="rtl">نحن نراها أرملة فقيرة .. وأنت يا غني بنفسك تنظرها غنية جدا .. غنية في عطائها !!</p>
<p dir="rtl">إيليا النبي أنت تعرفه .. وهو يعرف كلامك .. هو دخل بيت الأرملة ولما نظر إلى حالها .. لم يفكر كيف .. ومن أين تعوله هذه الأرملة ؟!</p>
<p dir="rtl">الرب قال &#8221; هوذا قد أمرت هناك امرأة أرمله أن تعولك &#8221; ( ١ مل ۱۷ : ۹ ) .</p>
<p dir="rtl">يا أمي الأرملة .. زوجك رحل عن هذا العالم .. وأعمالك تؤكد أنك لم تترملي لأنك تحبين الله .. وتحبين كل من يحمل رائحة الرب .. وكل من هو قريب من الرب ..</p>
<p dir="rtl">يا أمي هل تعرفت على عتيق الأيام ؟! هل رأيت المسيح قبل تجسده ؟! وهل سمعت منه &#8221; لا تهتموا للغد .. لأن الغد يهتم بما لنفسه &#8221; ( مت ٦ ) .</p>
<p dir="rtl">افتحي فمك .. وتكلمي وأخبري الذين يحسبون ويهتمون بكل تدقيق للماديات في زمانهم الحاضر الفاني .. لكي يسعوا للاهتمام بحياتهم الأخرى الباقية ..</p>
<p dir="rtl">&#8221; يكفي اليوم شره &#8221; ( مت ٦ : ٣٤ ) هذا كان شعارك .. والساكن في قلبك لذا لم تحسبي لنفسك .. ولا لأبنك ماذا يحدث بعد اليوم ، بعدما يفرغ الدقيق .. وينتهي الزيت ..</p>
<p dir="rtl">الرب يشبع الجياع بالخيرات :</p>
<p dir="rtl">ايتها الارملة .. طوباك .. لأنك قبلت إيليا رجل الله .. وفتحت له باب بيتك .. وقدمت له كل ما كان عندك .. حتى مسكنك البسيط قدمتيه بيتا لنبي الله .. ولعظم عطاياك .. صرت أنت غريبة في بيتك ..</p>
<p dir="rtl">قدمت كل ما عندك .. لأنك تحبين الله أكثر من ابنك .. فاستحققت الله ( مت ۱۰ : ۳۷ ) .</p>
<p dir="rtl">انت قبلت نبي الله وأطعمتيه .. فأجر نبي أخذت .. أنت قبلت إيليا البار وعلتيه فأجر بار أخذت ( مت ۱۰ : ٤١ ) .</p>
<p dir="rtl">أنت سر عجيب .. من يفتح أبوابك ؟! من يدخل إلى أعماقك ؟</p>
<p dir="rtl">الذي يدخلك .. يخرج حاملا معه مفاتيح البركات السمائية .. ويعرف أنه لا توجد بركة بدون عطية ..</p>
<p dir="rtl">فالذي يحمل قلبه ويقدمه للرب .. الرب يجعله مسكنا له .. ويكون مباركا ببركات السمائيين ..</p>
<p dir="rtl">الذي يفتح ثقبا مقدما منه العشور .. يفتح له الرب كوى السماء لكي تمطر عليه بالبركات والخيرات .. ( ملا ۳ : ۱۰ ) .</p>
<p dir="rtl">الذي يستحق أن يعطي .. يستحق أن ينال البركة ..</p>
<p dir="rtl">في بيت الأرملة .. لا توجد مطاحن .. وكوار الدقيق لا يفرغ . وفي مسكنها لا توجد مصانع للزيوت .. وكوز الزيت لا ينقص .</p>
<p dir="rtl">هذه بركة عطاياك يا أمي الأرملة .. بسلام قدمت .. وبالبركة والسلام خيم الرب عليك .. لأن الله يشبع الجياع بالخيرات .. ويصرف الأغنياء فارغين .</p>
<p dir="rtl">المرجع : كتاب شفتاك يا عروس تقطران شهداً &#8211; الجزء الثاني صفحة ٢٣٢ &#8211; دير الانبا شنودة رئيس المتوحدين العامر بميلانو</p>
<hr />
<p><a href="#_ftnref1" name="_ftn1">[1]</a><sup>&#8211; مخافة الرب ص8 – القمص تادرس يعقوب ملطي.</sup></p>

      {% endcreateArticleAccordions %}
    </section>
  {% endblock %}
  