---
layout: 'layouts/reading.html'
title: 'قراءات يوم الخميس من الأسبوع الثاني'
tags: 'great-lent'
permalink: /articles/great-lent/2-4.html
---
  {% block content %}
    <section id="readings">
      <ul>
      {% if 'undefined' != 'undefined' %}
      
      {% else %}
      {% if 'null' != 'null' %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">العشية</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeVespers '' '' %}
          </div>
        </div>
      </li>
      {% endif %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">باكر</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeMatins '19.28:9-9' '40.11:20-30' '5.5:15-22@23.6:1-12@6.2:1-24*@+6.6:1-27' %}
          </div>
        </div>
      </li>
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <h3 class="flex items-center justify-between">
            <span class="kufi">القداس</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </h3>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeLitugy '45.16:17-27' '59.3:1-12' '44.12:12-23' '19.48:10-11' '40.19:16-30' %}
          </div>
        </div>
      </li>

      {% endif %}
        </ul>
    </section>
    <section id="article">
      <h3 class="mt-8 mb-4 heading-explain">شرح القراءات</h3>
      {% createArticleAccordions %}
        <p>&#8220;وَأَنَا، يَقُولُ الرَّبُّ، أَكُونُ لَهَا سُورَ نَارٍ مِنْ حَوْلِهَا، وَأَكُونُ مَجْدًا فِي وَسَطِهَا.&#8221; (زك٢: ٥)</p>
<p>&#8220;وَلَمَّا صَلَّوْا تَزَعْزَعَ الْمَكَانُ الَّذِي كَانُوا مُجْتَمِعِينَ فِيهِ، وَامْتَلأَ الْجَمِيعُ مِنَ الرُّوحِ الْقُدُسِ&#8221; (أع٤: ٣١)</p>
<p>[فليضئ علينا نور معرفتك الحقيقية لنضئ بشكلك المحيي] (من صلوات القسمة المقدّسة).</p>
<p>[المسيحية هي وحدها السر الكامل] (القديس اكليمنضس الإسكندري)<a href="#_ftn1" name="_ftnref1">[1]</a></p>
<p>[لاهوت الكلمة فيه قوة لا تعني المرضي وتشفيهم فحسب وإنما لتظهر إعلان السر للأنقياء في الجسد والذهن] (العلامة أوريجانوس)<a href="#_ftn2" name="_ftnref2">[2]</a></p>
<h3><strong>شواهد القراءات</strong></h3>
<p>(تث٥: ١٥-٣٣)، (إش٦: ١-١٢)، (مز٢٧: ١٠)، (مت١١: ٣٠)، (رو١٦: ١٧)، (يع٣: ١-١٢)، (أع١٢: ١٢-٢٣)، (مز٤٧: ٩،٨)، (مت١٩: ١٦).</p>
<h3>شرح القراءات</h3>
<p>تتحدّث قراءات هذا اليوم عن غنى الحضور والإستعلان والمجد الإلهي في حياتنا.</p>
<p><strong>يبدأ سفر التثنية</strong> بحلول الله على الجبل لموسى النبي وجماعة بني إسرائيل لأخذ الوصايا العشر.</p>
<p>&#8220;هذه الكلمات كلم بها الرب كل الجماعة في الجبل من وسط النار والظلمة والضباب والعاصف بصوت عظيم ولم يزد وكتبها على لوحين من حجر ودفعها إلى الرب&#8221;.</p>
<p><strong>أما نبوءة إشعياء</strong> فتعلن حضور إلهي عجيب ومُمجّد في الهيكل والسارافيم قيام حوله بالتسبحة السمائية.</p>
<p>&#8220;وكان في السنة التي مات فيها الملك عزيا رأيت رب الجنود جالساً على عرش عال رفيع ورأيت البيت مملوءاً من مجده والسارافيم قياماً حوله، ويهتف بعضهم إلى بعض قائلين قدوس قدوس قدوس رب الصباؤوت الأرض كلها مملوءة من مجدك، وقد رأت عيناي الملك رب الجنود جالساً على كرسي عالٍ&#8221;.</p>
<p><strong>تشتاق النفس في مزمور باكر</strong> أن الله يرفعها بإعلان خلاصه لها وحضوره الدائم وسط شعبه كمخلّص وراعي. &#8220;خلص شعبك وبارك ميراثك أرعهم وارفعهم إلي الأبد&#8221;.</p>
<p><strong>ويكشف إنجيل باكر</strong> عن بساطة الإستعلان الإلهي فهو مُخْفي عن الحكماء والفهماء – عند ذواتهم - ومعلن لمن هم في بساطة الأطفال كعطية من الآب والإبن.</p>
<p>&#8220;أعترف لك أيها الآب رب السماء والأرض لأنك أخفيت هذه عن الحكماء والفهماء وأعلنتها للأطفال، ولا أحد يعرف الآب إلا الإبن ومن يريد الإبن أن يعلن له&#8221;.</p>
<p><strong>كما أنّه يوبّخ الشعوب</strong> التي لم تتب رغم إعلان وإستعلان قوته فيها.</p>
<p>&#8220;حينئذ ابتدأ يوبخ المدن التي صٰنعت فيها أكثر قواته ولم يتوبوا&#8221;.</p>
<p><strong>كما يوضّح البولس</strong> أزلية التدبير الإلهي في جعل هذا الإستعلان خاصاً بأفراد قلائل في القديم، ثم لشعب إسرائيل لإعداد البشرية للخلاص، ثم في ملء الزمان صار متاحاً مجاناً لكل من يُؤمن.</p>
<p>&#8220;والقادر أن يثبتكم بحسب انجيلي وبشارة يسوع المسيح حسب إعلان السر الذي كان مكتوماً في الأزمنة الأزلية والآن ظهر من قبل الكتب النبوية بحسب أمر الله الأزلي قد ظهر لأجل طاعة الإيمان في جميع الأمم&#8221;.</p>
<p><strong>ويحذّر الكاثوليكون</strong> من الإعلانات المزيّفة للمسيحيين وعن أخطر ما يعوق إستعلان الله شهوة التعليم وكثرة الكلام لذا يوصي بضبط الفم واللسان.</p>
<p>&#8220;به نبارك الله الآب وبه نلعن الناس الذين صنعهم الله على مثاله، من الفم الواحد تخرج البركة واللعنة فلا ينبغي يا إخوتي أن يكون الأمر هكذا، ألعل ينبوعاً يفيض العذب والمر من ذات العين الواحدة، أم هل يمكن يا إخوتي أن تثمر شجرة تين زيتوناً أو الكرمة تيناً وكذلك المالح لا ويمكن أن يصير عذباً&#8221;.</p>
<p><strong>ويعطي الإبركسيس</strong> صورة ونهاية مأساوية لمن يسرق مجد الله لنفسه مثلما حدث لهيرودس الملك. &#8220;ففي يوم محدد لبس هيرودس الحلة الملكية وجلس على المنبر وكان يخاطبهم فصاح الشعب هذا صوت إله لا صوت إنسان ففي الحال ضربه ملاك الرب لأنه لم يعطِ المجد لله&#8221;.</p>
<p><strong>ويعلن مزمور القدّاس</strong> عن ثمر الإستعلان الإلهي الفرح والتسبيح الذي يفيض ليس فقط على البشر بل أيضاً على الطبيعة.</p>
<p>&#8220;يمينك مملوءة عدلاً فليفرح جبل صهيون ولتتهلل بنات اليهودية لأجل أحكامك يا رب&#8221;.</p>
<p><strong>ويختم إنجيل القدّاس</strong> بالملك الجالس على عرش مجده والتلاميذ الجالسين على كراسي الدينونة كمكافأة الرب لهم على تبعيتهم له، وإعلان التعويض الإلهي على الأرض وأيضاً النصيب السماوي.</p>
<p>&#8220;فقال لهم يسوع الحق أقول لكم إنكم أنتم الذين تبعتموني في التجديد متى جلس ابن الانسان على عرش مجده تجلسون أنتم أيضاً على إثني عرش كرسياً وتدينوا أسباط إسرائيل الأثني عشر وكل من ترك أخاً أو أختاً أو أباً أو أماً أو إمرأة أو أبنا أو بنتاً أو حقلاً أو بيتاً فسيأخذ مئة ضعف ويرث الحياة الأبدية&#8221;.</p>
<h3>ملخّص القراءات</h3>
<table width="506">
<tbody>
<tr>
<td width="125">سفر التثنية وإشعياء</td>
<td width="382">حلول الله على الجبل لموسى النبي وفي الهيكل لإشعياء النبي</td>
</tr>
<tr>
<td width="125">مزمور باكر والقدّاس</td>
<td width="382">إشتياق النفس لإعلان خلاصه وتهليلها لظهور عدله وأحكامه</td>
</tr>
<tr>
<td width="125">إنجيل باكر</td>
<td width="382">الإبن يريد أن يعلن ذاته للكل ولكن لمن هم في بساطة الأطفال</td>
</tr>
<tr>
<td width="125">البولس</td>
<td width="382">إستعلان سر العهد الجديد وخلاص الأمم</td>
</tr>
<tr>
<td width="125">الكاثوليكون</td>
<td width="382">زيف الإعلان للذين يحيون حياة مزدوجة</td>
</tr>
<tr>
<td width="125">الإبركسيس</td>
<td width="382">عاقبة الذين يسرقون مجد الله لحسابهم</td>
</tr>
<tr>
<td width="125">إنجيل القدّاس</td>
<td width="382">مكافأة الملك عند إستعلان مجده لمن تبعوه وتعويضه الإلهي لهم</td>
</tr>
</tbody>
</table>
<h3>الكنيسة في قراءات اليوم</h3>
<table width="506">
<tbody>
<tr>
<td width="125">إشعياء</td>
<td width="382">الملائكة خدّام الخلاص</td>
</tr>
<tr>
<td width="125">إشعياء</td>
<td width="382">تسبحة السمائيين في القدّاس الإلهي</td>
</tr>
<tr>
<td width="125">إنجيل باكر</td>
<td width="382">القيامة والدينونة</td>
</tr>
<tr>
<td width="125">إنجيل باكر</td>
<td width="382">الإبن واحد مع الآب</td>
</tr>
<tr>
<td width="125">البولس</td>
<td width="382">التقليد الرسولي</td>
</tr>
<tr>
<td width="125">الإبركسيس</td>
<td width="382">الملاك الحارس والملاك المنتقم</td>
</tr>
<tr>
<td width="125">إنجيل القدّاس</td>
<td width="382">تكميل الناموس</td>
</tr>
</tbody>
</table>
<h3></h3>
<h3>عظات آبائية :</h3>
<h4>عبودية للمال وحرمان من خدمة الله عند القديس يوحنا ذهبي الفم :</h4>
<p>١-&#8221; لا يقدر أحد أن يخدم سيدين ، لأنه إما أن يُبغض الواحد ويُحب الآخر ، أو يُلازم الواحد ويحتقر الآخر &#8220;(ع ٢٤) .</p>
<p>أترون كيف يتدرج في إبعادنا عن الأمور التي لدينا الآن ، ويُقدَّم ما يريد قوله علي فترات طويلة ، فيتحدث عن الفقر الاختياري أو الإرادي ، ويطرد سلطان شهوة الجشع ، لأنه لم يكتف بما قاله قبلاً ، رغم كثرته وعظمته ، بل يضيف أيضاً أقوالاً أخري ،كإنذارات مزيدة .</p>
<p>لأنه ماذا يكون أكثر إنذاراً مما يقوله الآن ، إن كنّا نحن حقاً وبسبب غنانا وثرواتنا نبتعد عن خدمة المسيح ، أو ما الذي يمكن أن نشتهيه أكثر ، إن كنّا حقاً باحتقارنا للثروة نوجه حُبنا وعواطفنا إليه ، لتصبح محبتنا له كاملة ، وأعود فأكرر وأقول نفس الشيء ، إنه يضغط علي السامع بكلا الوسيلتين ليطلع كلامه ، وكطبيب ماهر للغاية ، يشير إلي المرض الناجم عن الإهمال ، كما يشير إلي الصحة الناتجة عن الطاعة .</p>
<p>تأملوا مثلاً ، نوع الربح المشار إليه وميزته بأن يتخلص من أمور مضادة ، فيقول الرَّب : إن الثروة لا تؤذيكم في هذا فقط ، بل هي تثير اللصوص ضدكم أيضاً ، وتعتم ذهنكم إلي أقصي حد ، وتقصيكم عن خدمة الله ، فتحولكم إلي أسري ثروات ميتة ، وهي في كلا الحالتين تضركم ، فهي من جهة تجعلكم عبيداً لا أسياداً يأمرون الآخرين ،ومن جهة أخري تطرحكم بعيداً عن خدمة الله الذي يجب خدمته قبل الجميع .</p>
<p>ومثلما أشار في موضع سابق عن مضاعفة سوء التدبير حيث &#8221; يفسد السوس &#8220;هنا علي الأرض ، بينما لا يحدث هذا هناك ،  حيث الحراسة منيعة لا يمكن اختراقها ، هكذا هنا أيضاً ، يظهر مضاعفة الخسارة عندما نبعد عن الله ، وتجعلنا الثروة عبيداً لمال الظلم (mammon) . لكنه لا يعرض الأمر مباشرة ، بل يؤسس تعليمه علي اعتبارات عامة ، قائلاً :&#8221;لا يقدر أحد أن يخدم سيدين&#8221; . وهو يتحدث عن أمرين متناقضين لأنه لو لم يكن هناك تضاد ، لما تحدثت عن اثنين ، بعكس ما قيل :&#8221; كان لجمهور الذين آمنوا قلب واحد ونفس واحدة &#8220;(أع ٤: ٣٢) ، فرغم أنهم منقسمون إلي أجساد عديدة إلا أن اجتماعهم واتفاقهم قد جعل الكثيرين واحداً .</p>
<p>وإذ يريد الرب أن يدعم شرحه يقول إن من يخدم سيدين ، يكره ويبغض ، بدلاً من أن يخدم ، &#8220;لأنه إما أن يبغض الواحد ويحب الآخر ، أو يلازم الواحد ويحتقر الآخر&#8221;.</p>
<p>موضحاً أن التغيير للأفضل أمر سهل ، لئلا يقول قائل :&#8221; لقد صرت عبداً إلي غير رجعة ، لقد أصبحت تحت سيطرة الثروة &#8221; ، مؤكداً أن الإنسان يمكنه التغيير من حال إلي حال .</p>
<p><strong>محبة المال لا الغني ذاته:</strong></p>
<p>٢- وكما ترون ، وإذ يتحدث بشكل عام ، ليقنع سامعه أن يكون قاضياً نزيهاً علي كلمات السيد الرب ، وأن يحكم حسب طبيعة الأشياء ذاتها حين يتيقن من صدقه ، حينئذ وليس قبل هذا الوقت يكشف السيد نفسه قائلاً :&#8221;لا يمكنكم أن تخدموا الله والمال&#8221;[ع٢٤] .</p>
<p>فلنرتعد ونحن نتأمل هذا الأمر ، ونفكر ما الذي جعل المسيح يقول ذلك ، وكيف يضع المال مع اسم الله ، لكن إن صدمنا هذا الأمر ، فإن حدوثه في أعمالنا وتفضيلنا لطغيان الذهب علي مخافة الله ، هو أمر يصدم أكثر بكثير ، ماذا إذن ؟ ألم يكن هذا ممكناً بين القدماء ؟ أجل دون شك ، ورُب قائل : كيف حصل ابراهيم إذن علي شهرة طيبة ؟ وكيف نالها أيوب ؟ لا تخبرني عن الأغنياء ، بل عن الذين يخدمون المال والثروات ، فإن أيوب كان غنياً ، ولكنه لم يخدم مال الظلم ، بل تملَّك عليه وتحكم فيه ، وكان سيداً لا عبداً ، لهذا اقتني كل شيء وكأنه وكيل لأملاك شخص آخر ، وهو لم يكن يسلب الآخرين ، بل كان يعطي المحتاجين من ماله الخاص ، والأكثر من ذلك ، أنه حين توفرت لديه الثروات لم تكن مصدر فرحه ، &#8220;ما فرحت إذ كثُرت ثروتي&#8221;(أي ٣١: ٢٥) ، ولهذا أيضاً لم يحزن حين ضاعت ثروته .</p>
<p>لكن أغنياء هذه الأيام ليسوا مثل أيوب ، بل بالحري هم في حال أسوأ من حال العبيد ، وكأنهم يدفعون الجزية لطاغية جبَّار ، وكأن ذهنهم قلعة مشغولة بمحبة المال ، تبعث إليهم بأوامرها من هناك يومياً ، ملآنة إثماً ، ولا يقوي أحد علي مُخالفتها .</p>
<p>لهذا لا تكونوا معاندين بزيادة ، لأن الله أعلن مرة وإلي الأبد ونطق أنه من المستحيل علي الإنسان أن يوفق في خدمة سيدين ، فإن قلتم لا بل هذا ممكن ، فلماذا تقولون ذلك وأحد السيدين يأمركم أن تسلبوا حقوق الآخرين بالعنف ؟ بينما يطالبك السيد الآخر أن تُجرد نفسك من محبة المقتنيات ، الأول يطالبك أن تكون عفيفاً ، والثاني أن تكون سكيراً مترفاً ،واحد يأمرك أن تحتقر الموجودات ، بينما يجذبك الآخر إلي الأمور الحاضرة . واحد يأمرك أن تحتقر المصنوعات الرخامية والحوائط والأسقف ، والآخر أن تعجب بها . فكيف لهذين الاثنين أن يتفقا ؟</p>
<p>إنه يدعو هنا مال الظلم بالسيد ، لا بسبب طبيعة المال ، بل بسبب تعاسة الذين ينحنون أسفله ، وهكذا أيضاً يدعو البطن إلهاً (في٣: ١٩) ، ليس بسبب كرامة هذا العضو ، بل بسبب بؤس المستعبدين للبطون والأكل ، وهو أمر أسوأ من أي عقاب ، وهذا يكفي ، أنه قبل حلول العقوبة ينهمك بطريق الانتقام ، لأن حال المجرمين المدانين حال سيئ ، الذين إذ كان الله لهم رباً ، بسبب توافه الأمور يهجرونه إلي طغيان المادة الخطير ، فيجلب عملهم عليهم منتهي الأذي ، هنا في الزمان الحاضر ، فيعانون من القضايا والانتهاكات والمضايقات والأتعاب ، التي تعمي النفوس وتكون خسارتهم فائقة,والأخطر من ذلك كله ، أن يفقد الإنسان البركات الثمينة ، وأعظمها بركة خدمة الله .<a href="#_ftn1" name="_ftnref1">[3]</a></p>
<h4></h4>
<h4>الأعمال والصدقات للقديس كبريانوس</h4>
<p>١- أيها الاخوة الأحباء ، كثيرة وعظيمة هى النعم الالهية التى من خلالها أدركتنا المراحم الغزيرة التى لله الآب والمسيح لأجل خلاصنا فقد أرسل الآب ابنه لكى يفدينا ويخلصنا ويهبنا الحياة ، والابن أيضاً سُر بارساله بأن يدعى &#8220;ابن الانسان&#8221; لكى ما نصير نحن أبناء لله هذا الذى اتضع لكى يرفع الساقطين ، وجُرح لكى يشفى جراحاتنا ، وصار عبداً لكى يحرر الذين كانوا عبيداً ، واجتاز الموت لكى يهب الحياة الأبدية للمائتين هذه هى العطايا العظيمة والكثيرة للحب الالهى بل ان عناية الله ومحبته لم تُدرك كلها بعد ، اذ أنه منحنا بركات وعطايا الفداء ، فقد شفى الرب بمجيئه جراحات آدم من سم الحية القديمة ، وأوصاه ألا يعود يخطىء فيما بعد لئلا يكون له أشر ، لقد كنا محاصرين ومقيدين بين أمر الرب لنا بالنقاوة ، وعجز طبيعتنا البشرية أن نفعل شىء ما لم يُسرع الحب الالهى لمعونتنا مرًة أخرى ، ويفتح لنا الطريق لتأمين الخلاص من خلال اظهار أهمية أعمال البر والرحمة لكى نغتسل – من خلال الصدقة – من الأدناس التى اقترفناها مؤخراً .</p>
<p>٢- يقول الروح القدس فى الكتاب المقدس : &#8220;بالرحمة والحق يُستر الاثم&#8221; (أم ١٦: ٦) ، بالتأكيد ليس المقصود بالاثم الخطايا الت ارتكبت من قبل لأنه سبق وتطهرت وتقدّست بدم المسيح كذلك يقول أيضاً &#8220;الماء يُطفىء النار الملتهبة والصدقة تكفر الخطايا&#8221; (بن سيراخ٣: ٣٣ ) هنا يُظهر أيضاً أن حميم ماء الخلاص (فى المعمودية) يطفىء نيران جهنم ، كذلك أيضاً بالصدقة وأعمال البرّ ينطفىء لهيب الخطية وحيث أن الغفران قد مُنح من قبل فى المعمودية كذلك أعمال الرحمة الدائمة تقوم بعمل شبيه بالمعمودية لأنها تمنحنا رحمة الله مرة آخرى وهذا أيضاً ما علّم به الرب فى الانجيل ، فعندما تعجب الفريسيون من أن التلاميذ يأكلون بدون أن يغسلوا أياديهم أولاً أجابهم قائلاً : &#8220;أليس الذى صنع الخارج صنع الداخل أيضاً ؟ بل اعطوا ما عندكم صدقة ، فهوذا كل شىء يكون نقياً لكم&#8221;(لو١١: ٤٠-٤١) وهكذا أوضح لنا السيد المسيح أن الذى ينبغى أن يُغسل ليس اليدان بل القلب ، فالخارج لا يحتاج الى تطهير ، بل الداخل ، والذى طهر الداخل ليس بحاجة الى تطهير الخارج ، اذ بطهارة القلب يصير الجسد طاهراً علاوة على ذلك فقد أوصانا وأوضح لنا كيف يمكننا أن نكون أنقياء وطاهرين ، حين أضاف قائلاً : &#8220;أنه لابد من الصدقة الله الرحوم يعلّمنا أن نصنع أعمال الرحمة ، لأنه يريد خلاص هؤلاء الذين فداهم بثمن عظيم ، لذا فهو يعلّمنا أن من تدنّسوا بعد نعمة المعمودية يمكنهم أن يتطهروا من جديد (بأعمال الرحمة والصدقة).</p>
<p>٣- لهذا أيها الاخوة ، فلندرك أهمية هذه العطية التى منحتها لنا النعمة الالهية من أجل تنقية وتطهير نفوسنا من خطايانا ، ليتنا نحن الذين لا نستطيع أن نكون بلا جروح فى ضمائرنا ، أن نعالج جراحاتنا بالأدوية الروحية ، ليت لا أحد يتفاخر بأن له قلباً طاهراً ونقياً ويظن أنه بسبب نقاوته لا يحتاج لهذا الدواء من أجل جراحاته لأنه مكتوب : &#8220;من يقول انى زكيت قلبى ، تطهرت من خطيتى ؟ &#8221; (أم٢٠: ٩) ، كذلك يوحنا الحبيب يوضح فى رسالته فيقول : &#8220;ان قلنا : انه ليس لنا خطية نضلّ أنفسنا وليس الحق فينا&#8221; (١يو١: ٨) ، فان كان لا يمكن لأحداً أن يكون بلا خطية ، ومن يقول بغير ذلك فهو اما أن يكون متكبر أو أحمق ، ان الرب من غنى مراحمه ، اذ علم أن هؤلاء الذين شُفوا قبلاً من جراحاتهم لن يعدموا الجروح فيما بعد ، لذلك أعطى الأدوية اللازمة للعناية بتلك الجراحات حتى ما يتم الشفاء من جديد</p>
<p>٤-أيها الاخوة الأحباء ، ان النصح الالهى لم يكفَ ولم يصمت فى أى موضع سواء فى العهد القديم أو الجديد عن أن يحث شعب الله دائماً على أعمال الرحمة ، كما أن كل من يجاهد على رجاء ملكوت السموات يدعوه الروح القدس الى تقديم الصدقة ويوصى الرب بفم اشعياء : &#8220;ناد بصوت عال لا تمسك ، ارفع صوتك كبوق وأخبر شعبى بتعديهم وبيت يعقوب بخطاياهم&#8221;(اش ٥٨: ١) فبعد أن لامهم الرب على خطاياهم ووضع أمامهم آثامهم بملء قوة غضبه ، أوضح لهم أنه لا صلواتهم ولا تضرعاتهم ولا أصوامهم يمكن أن تجعله يغفر لهم وحتى لو لبسوا المسوح وجلسوا على الرماد يمكنهم أن يستعطفوا الله ، ولكنه فى آخر الأمر أظهر لهم أنه فقط بالصدقة يمكن أن يُسَر الله : &#8220;أليس أن تكسر للجائع خبزك ، وأن تُدخل المساكين التائهين الى بيتك ؟ اذ رأيت عرياناً أن تكسوه ، وأن تتغاضى عن لحمك حينئذ ينفجر مثل الصبح نورك ، وتنبت صحتك سريعاً ويسير برَك أمامك ، ومجد الرب يجمع ساقتك حينئذ تدعو فيجيب الرب تستغيث فيقول : هانذا &#8220;(اش٥٨ :٧-٩)</p>
<p>٥-وهكذا أعطى العلاج الذى نقدم به توبة من خلال كلمات الله ذاته ، فالوصية الالهية ترشد الخاطىء الى ما يجب عليه فعله ، موضحة له أن الله يُسر بالأعمال الصالحة لأن الخطايا تتطهر بأعمال الرحمة وأيضاً نقرأ فى يشوع بن سيراخ : &#8220;لأجل الوصية أعن المسكين وفى عوزه لا تَردُده فارغاً&#8221; (بن سيراخ ٢٩: ١٢) وأيضاً : &#8220;من يسد أذنيه عن صراخ المسكين فهو أيضاً يصرخ ولا يُستجاب&#8221; (أم ٢١: ١٣) فلن يستحق رحمة الرب من كان هو نفسه بلا رحمة ، ولن ينال آية طلبة من المحبة الالهية من لم يكن رحيماً تجاه دعاء المسكين هذا الأمر يعلنه الروح القدس ويؤكد علية فى المزامير بقوله : &#8220;طوبى للذى ينظر الى المسكين ، فى يوم الشر ينجيه الرب&#8221; (مز٤١ : ١) وهذا الأمر أيضاً كان فى ذهن دانيال عندما كان نبوخذ نصر منزعجاً من حلمه فأعطاه دانيال علاجاً حتى يتجنب الشرور وينال المعونة الالهية فقال له : &#8221; لذلك أيها الملك ، فلتكن مشورتى مقبولة لديك ، وفارق خطاياك بالبر وآثامك بالرحمة للمساكين ، لعله يُطال اطمئنانك&#8221; (دا ٤: ٢٧) وعندما لم يعمل الملك بتلك المشورة ، عانى الكثير من البلايا والمتاعب التى حلت به والتى كان يمكنه أن يتجنبها وينجو منها لو كان قد افتدى خطاياه من خلال الصدقة. والملاك رافائيل أيضاً كذلك بالمثل ويحثّ على ممارسة الصدقة بكرم وسخاء فيقول : &#8220;صالحة الصلاة مع الصوم والصدقة خير من ادخار كنوز الذهب لأن الصدقة تنجى من الموت وتمحو الخطايا&#8221; (طو١٢: ٨-٩) فيوضح أن صلواتنا وأصوامنا قليلة الفائدة ما لم نعضدها بالصدقة فالملاك يوضح ويكشف ويؤكد أن طلباتنا تكون لها فاعليتها بالصدقة ، وأن حياتنا تُفتدى من المصائب بالعطاء ، وأن نفوسنا تتحرّر من الموت بالصدقة</p>
<p>٦- أيها الاخوة الأحباء ، نحن نقدم هذه الآيات لكى نزكى شهادة الحق التى قالها الملاك رافائيل ففى سفر أعمال الرسل قد ثبت صدق كل ذلك ، وعرفنا أنه بالصدقة تتحرّر النفوس ، ليس فقط من الموت الثانى ، بل من الموت الأول بدليل ما تم وحدث بالفعل ، فعندما أصاب المرض طابيثا – التى أوقفت حياتها على الأعمال الصالحة والصدقة – ثم ماتت ، استدعى بطرس الرسول وكان جسدها بلا حياة ، وقفت حوله الأرامل باكيات ومتوسلات وهن يرينه الأقمصة والثياب التى صنعتها لهن فى حياتها ، وهكذا تضرعن من أجلها ، لا بكلامهن بل بأعمالها هى فشعر بطرس الرسول أن ما يُطلب بهذه الطريقة يمكن الحصول عليه ، وأن المسيح لن يتخلى عن هؤلاء الأرامل اللاتى كن يطلبن ، اذ كان الرب ذاته قد اكتسى بملابس صنعتها له الأرامل وهكذا عندما جثا بطرس الرسول على ركبتيه وصلى ، وكشفيع عن هؤلاء الأرامل والفقراء قدم التضرعات التى حمّلوه اياها أمام الرب ، التفت الى الجسد الموضوع على الفراش وقال : &#8220;يا طابيثا قومى ؛ باسم السيد المسيح&#8221; (أع ٩: ٤٠) فلم يتأخر الرب عن معونة بطرس وهو الذى قال فى انجيله مهما طلبتم شىء باسمى يُعطى لكم وهكذا طُرد الموت ، وعادت الروح الى طابيثا ، ووسط تعجب الجميع ، ودهشتهم قام الجسد ودبت فيه الحياة من جديد كم هى قوة استحقاقات الرحمة ، وكم أفادت جداً الأعمال الصالحة ؛فتلك التى قدمت المعونة للأرامل التى أحنى عليهن الدهر ، استحقت أن تعود ثانية للحياة من خلال توسلات هؤلاء الأرامل.</p>
<p>٧- لذلك نرى فى انجيل الرب معلّم حياتنا ومرشدنا الى الخلاص الأبدى ، الذى وهب الحياة للمؤمنين وقدم لهم كل شىء بعد أن أحياهم ، لم يطلب أى شىء مرات كثيرة مثلما كان يطلب أن نداوم فى اعطاء الصدقة وألا نتمسك بالمقتنيات الأرضية بل بالأولى أن نكنز لنا كنوزاً فى السماء اذ يقول : &#8220;لا تكنزوا لكم كنوزا على الأرض حيث يُفسد السوس والصدأ ، وحيث ينقب السارقون ويسرقون بل اكنزوا لكم كنوزاً فى السماء حيث لا ينقب سارقون ولا يسرقون ، لأنه حيث يكون كنزك هناك يكون قلبك أيضاً&#8221; (مت٦: ١٩- ٢١)وعندما أراد أن يعلّم الرجل الغنى الذى حفظ الناموس كيف يكون كاملاً قال له : &#8220;ان أردت أن تكون كاملاً فاذهب وبع أملاكك وأعط الفقراء ، فيكون لك كنز فى السماء ، وتعال اتبعنى&#8221;(مت١٩: ٢١) وفى موضع أخر يقول رب المجد أن أى تاجر للنعمة الالهية ، يريد أن يقتنى الخلاص الأبدى عليه أن يبيع كل ممتلكاته لكى يشترى اللؤلؤة الكثيرة الثمن التى هى الحياة الأبدية ، التى ثمنها دم المسيح اذ يقول : &#8221; أيضاً يُشبه ملكوت السموات انساناً تاجراً يطلب لآلى حسنة ، فلما وجد لؤلؤة واحدة كثيرة الثمن ، مضى وباع كل ما كان له واشتراها &#8220;(مت١٣: ٤٥- ٤٦).</p>
<p>٨- وأخيراً هؤلاء الذين يراهم مهتمين بمساعدة الفقراء يدعوهم ابناء ابراهيم فعندما قال زكا : &#8220;ها أنا يارب أعطى نصف أموالى للمساكين ، وان كنت قد وشيت بأحد أرد أربعة أضعاف&#8221; فقال له يسوع : &#8221; اليوم حصل خلاص لهذا البيت ، اذ هو أيضاً ابن ابراهيم&#8221; (لو ١٩: ٨-٩) فان كان &#8220;ابراهيم قد آمن بالله ، وايمانه هذا حُسب له براً&#8221; اذا بالتأكيد كل من يتبع تعليم الله ويعطى صدقة يؤمن أيضاً بالله ، ومن له صدق الايمان يحفظ مخافة الله ، وكل من يحفظ مخافة الله ، يراعى الله فى اظهار الرحمة للفقير ، وهو يفعل ذلك لأنه يؤمن ويعرف أن الكتاب المقدس لا يمكن أن يكذب ، وأن الشجرة غير المثمرة ، أى هؤلاء الذين لا ثمر لهم ، يُقطعون ويلقون فى النار ، وأما الرحماء فيُدعون الى الملكوت وفى موضع آخر يدعو الذين يعملون أعمالاً صالحة &#8220;مؤمنين&#8221; وعن هؤلاء الذين بلا ثمر أنهم بلا ايمان &#8220;فان لم تكونوا أمناء فى مال الظلم ، فمن يأتمنكم على الحق ؟ وان لم تكونوا أمناء فى ما هو للغير ، فمن يعطيكم ما هو لكم؟&#8221; (لو١٦ : ١١-١٢).</p>
<p>٩- أما تلك المخاوف التى تنتاب البعض من أن يفتقر لو أعطى صدقة بسخاء ، فكونوا مطمئنين ولا تنزعجوا من جهة هذا الأمر ، فان ما ينفق لأجل المسيح ، ولأجل تتميم عمل السماء لا يمكن أن يفرغ أبداً ، ان هذا الوعد ليس من عندى بل هو من الله (الأسفار المقدسة) فالروح القدس تكلم على فم سليمان قائلا : &#8220;من يعطى الفقير لا يحتاج ، ولمن يحجب عنه عينيه لعنات كثيرة &#8221; (أم ٢٨: ٢٧) موضحاً أن الرحماء وفاعلى الخير لن يمكن أبداً أن يكونوا فى عوز لكن على العكس ، البخلاء والخائفون على ما لديهم ، سوف يجدون أنفسهم فيما بعد فى فقر واحتياج هكذا يقول الطوباوى بولس الممتلىء نعمة : &#8220;والذى يقدم بذاراً للزارع وخبزاً للأكل ، سيُقدم ويكثر بذاركم ويُنمى غلات بركم مستغنين فى كل شىء&#8221; (٢كو ٩: ١٠- ١١) وأيضاً : &#8220;لأن افتعال هذه الخدمة ليس يسد اعواز القديسين فقط ، بل يزيد بشكر كثير لله&#8221; (٢كو ٩: ١٢) وذلك لأن الفقير يشكر كثيراً لأجل عطايانا وأعمالنا الصالحة ، فيزداد الغنَى لفاعلى الخير كمكافاة لهم من عند الرب ، والانجيل اذ ينظر الى قلوب هؤلاء الناس يشجب قليلى الايمان وغير المؤمنين ويقول : &#8220;فلا تهتموا قائلين : ماذا نأكل ؟ أو ماذا نشرب ؟ أو ماذا نلبس فان هذه كلها تطلبها الأمم لأن أباكم السماوى يعلم أنكم تحتاجون الى هذه كلها لكن أطلبوا أولاً ملكوت الله وبره وهذه كلها تزاد لكم&#8221; (مت ٦: ٣١-٣٣) فكل شىء سوف يُعطى ويزاد لمن يطلبون ملكوت الله وبره ، فعند مجىء يوم الدينونة ، سيقدّم هؤلاء الذين تعبوا فى كنيسته وصنعوا أعمالاً صالحة لنوال الملكوت.</p>
<p>١٠- ليتك لا تخشى أن تخسر ميراثك الأرضى لو بدأت تتصدق منه بسخاء ، ألا تعلم أيها الانسان البائس أنك بينما تخشى أن تفقد ثروتك ، تخرّب حياتك ذاتها وخلاصك  وبينما أنت قلق من أن تتقلص ممتلكاتك ، لا تنتبه الى أنك أنت ذاتك الذى تحب المال أكثر من نفسك ، وأنك ضحيت بنفسك لأجل المال ، لذلك حسناً يعلن الرسول ويقول : &#8220;لأننا لم ندخل العالم بشىء ، وواضح أننا لا نقدر أن نخرج منه بشىء : فان كان لنا القوت وكسوة فلنكتف بهما وأما الذين يريدون أن يكونوا أغنياء ، فيسقطون فى تجربة وفخ وشهوات كثيرة غبية ومضرّة ، تُغرق الناس فى العطب والهلاك لأن محبة المال أصل لكل الشرور ، الذى اذ ابتغاه قوم ضلّوا عن الايمان ، وطعنوا أنفسهم بأوجاع كثيرة &#8221; (١تي٦: ٧-١٠)</p>
<p>١١- هل تخشى أن تفرغ ثروتك متى بدأت تتصدق بسخاء ؟ متى حدث أن احتاج انسان بار لمعيشته ؟ أليس مكتوب : &#8220;الرب لا يُجيع نفس الصديق&#8221; (أم١٠: ٣)؟ فايليا كانت الغربان تُطعمه فى البرية ، ودانيال عندما ألقى فى جب الأسود بأمر الملك أعدت له وجبة من السماء (تتمة دا ١٤: ١٣-٣٨) وبينما أنت تفعل الصلاح ، وتستحق الخير من الرب ، تخشى لئلا يعوزك الطعام ؛ ان الرب يشهد فى الانجيل ويوبخ أصحاب الأذهان المتشككة وقليلى الايمان ويقول : &#8220;انظروا الى طيور السماء : انها لا تزرع ولا تحصد ولا تجمع الى مخازن وأبوكم السماوى يقوتها ألستم أنتم بالحرى أفضل منها ؟&#8221; (مت ٦: ٢٦) ان الله يُطعم الطيور والعصافير التى لا تدرك تلك الأمور الالهية ، بل وحتى الخليقة التى لا مشاعر لها ، فالمأكل أو الشراب لا ينقصها أبداً ، هل تعتقد أنك – وأنت مسيحى وخادم لله ومكرّس فى عمل الخير وعزيز جداً عند الله -   أنك سوف تكون فى عوز ؟</p>
<p>١٢- هل يمكن أن يفكر الانسان هكذا ، أن يظن من يعطى طعاماً للمسيح ، أن المسيح لن يطعمه ؟ وان أولئك الذين أعطوا أموراً سمائية والهية أنهم سوف يعتازون الى الأشياء الأرضية ؛؛ من أين يأتى هذا الفكر الخالى من الايمان ؟ من أين يأتى هذا الفكر الدنس ؟ ما الذى يفعله مثل هذا القلب الجاحد ، فى بيت الايمان؟   وكيف يُدعى مسيحياً من لا يؤمن بالمسيح على الاطلاق ؟ ان لقب &#8220;فريسى&#8221; يليق به بالأكثر ؛ فالرب حينما تحدث فى الانجيل عن الصدقة سبق وعلّمنا لأجل خلاصنا بأنه يجب علينا أن نصنع لأنفسنا أصدقاء بمال الظلم حتى نُقبل فى المظال الأبدية ، أضاف الكتاب بعد ذلك : &#8220;وكان الفريسيون أيضاً يسمعون هذا كله وهم محبون للمال فاستهزأوا به&#8221; (لو١٦: ١٤) فنحن نرى الآن مثل هؤلاء فى الكنيسة هؤلاء الذين أغلقوا آذانهم وأعموا قلوبهم ، فلم يصغوا الى التحذيرات الروحية المخلصة ، لذا يجب علينا ألا نتعجب ان كانوا يزدروا بالخادم حينما يتكلم عن هذه الأمور ، فأمثال هؤلاء قد استهزأوا بالرب ذاته</p>
<p>١٣-لماذا تسمح لهذه الأفكار الحمقاء والفارغة أن تأخذ مكانها فيك ؟ وتجعل تخوفك وقلقك من المستقبل يمنعك من فعل الخير ؟ لماذا تتصور هذه الخيالات والأوهام حتى تجد لنفسك عذراً واهياً؟ فلتعترف بالحقيقة واكشف خبايا قلبك ، لأنك لا تستطيع أن تخدع العارفين لقد أطبقت الظلمة على ذهنك ، وتسرب النور الى خارجك ، فظلمة الطمع العميقة قد أعمت قلبك الجسدانى : فأصبحت عبد وأسير لمالك ولمقتنياتك ، أنت مربوط بسلاسل وقيود الطمع ، أنت الذى حرّرك المسيح ، عُدت ثانية الى أسرك وسجنك ، عُدت تدخر المال على الرغم من أن ادخارك له لن يُخلصك أنت تكدّس الثروة التى تثقل كاهلك بحملها الثقيل ، ألا تذكر ما قاله الله للرجل الغنى الذى كان يتباهى بحصاده الوفير : &#8220;يا غبى هذه الليلة تُطلب نفسك منك  فهذه التى أعدّدتها لمن تكون ؟&#8221;(لو١٢: ٢٠) لماذا تُطيل التفكير فى غناك ، انك كلما صرت غنياً فى نظر العالم ، كلما ازددت فقراً فى عينى الله ؟ اقتسم أرباحك مع الرب الهك ، اجعل المسيح شريكاً فى كل مكاسبك ، اجعل المسيح شريك لك فى ممتلكاتك الأرضية لكيما يجعلك هو أيضاً وريث معه فى ملكوته السماوى<a href="#_ftn1" name="_ftnref1">[4]</a></p>
<h3></h3>
<h3></h3>
<h3>عظات آباء وخدام معاصرون :</h3>
<h4>من يستطيع أن يخلص ؟ لقداسة البابا تواضروس الثاني</h4>
<h5>يوم الخميس من الأسبوع الثانى لقداسة البابا تواضروس الثاني <strong> (مت١٩ : ١٦ – ٣٠)</strong></h5>
<p>من يستطيع أن يخلص ؟</p>
<p>فقرة إنجيل اليوم هي فقرة جميلة ممتلئة بالأسئلة ، فالشاب الغني الذي ذهب للسيد المسيح وقال له : &#8220;ماذا أعمل لأرث الحياة الأبدية ؟&#8221; فهذا طلب في صورة سؤال ، لكن السؤال الذي سوف أركز عليه هو رد فعل التلاميذ بعد قصة الشاب الغني ، فقد قالوا للمسيح : &#8220;من يستطيع أن يخلص ؟&#8221;، فالطريق صعب جداً ، من يستطيع أن يتخطى هذا المشوار الصعب ، ولكن بدأ يسوع يوضح لهم ما سوف نتكلم عنه اليوم ، لكن قبل ما نبحر فيه لا بد أن نقارن بين أمرين : فالسيد المسيح قال عبارة من سطرين قال : &#8220;دعوا الأولاد يأثون إلي ولا تمنعوهم لأن لمثل هؤلاء ملكوت السماوات&#8221; (مت٢٠ : ١٤)، وبعد ما تكلم الشاب الغني عن موضوعه ، قال : &#8220;إنه يعسر أن يدخل غني إلى ملكوت السماوات !&#8221; (مت۱۹ : ٢٣). أرجوك ضع مقارنة بين الأمرين :</p>
<p>+سهولة الطريق أمام الأطفال &#8221; دعوا الأولاد &#8230; لأن لهم ملكوت السموات &#8220;، ولا يقصد بهم أطفال السن.</p>
<p>+ صعوبة الطريق أمام فئة معينة من الأغنياء إنه يعثر أن يدخل غني إلى ملكوت السموات ، ولكنه لا يقصد الأغنياء بصورة عامة.</p>
<p>* من يستطيع أن يخلص ؟</p>
<p>الشاب الغني نسميه &#8220;الشاب الحزين&#8221;؛ لأن في نهاية مقابلته مع السيد المسيح مضى حزيناً ، لأنه كان ذا أموال كثيرة ، وفي نهاية الفقرة الإنجيلية يقف بطرس الرسول ويقول : &#8220;ها نحن قد تركنا كل شيء وتبعناك . فماذا يكون لنا ؟&#8221; (مت ۱۹ : ۲۷)، وهنا تُلاحظ وجه مقارنة آخر بين التلميذ السعيد والشاب الحزين .</p>
<p>ولكن ما المشكلة ؟</p>
<p>المشكلة تتلخص في قضية اسمها &#8220;خطية التعلق المريض&#8221;، وهي إحدى الخطايا التي قد تتخفى في حياة الإنسان ولا يدري بها ، فالله خلق الإنسان حراً على الأرض وأعطاه عطايا كثيرة وعظيمة مثل الهواء والماء والشمس ، وهذه عطايا للبشرية كلها ، لكنه أيضاً سوف يعطي لكل شخص بحسب طريقته ، فهناك عطية الصحة ، عطايا الغنى ، عطايا العلم ، عطايا الدراسة ، عطية التكريس ، عطية الأسرة والأبناء والتربية &#8230; طائفة كبيرة من العطايا التي لا يمكن أن تُحصى ، فعطايا ربنا جديدة في كل صباح . أما عن الخطية التي من الممكن أن تتخفى في حياتنا ، أي تكون موجوده ولكنها ليست ظاهرة فينا ، حتى على مستوى الجسد فتوجد بعض الأمراض الجسدية ليس لها أي أعراض ظاهرة فليس لها عرض معين ، لذا من الناحية الطبية هناك بعض الناس يكشفون كل فترة ويقومون بعمل فحوصات باستمرار للاطمئنان على صحتهم.</p>
<p>الله عندما خلق الإنسان خلقه حراً لا يملك شيئاً ، لكن عطايا الله تعطيه أمور كثيرة بل وتتدفق في حياته بصورة مفرحة بأشكال وصور مختلفة ، لكن عندما يقع الإنسان في خطية التعلق بهذه العطايا ولا يتذكر العاطي ، فهو يرتبط بالعطية والنعمة وينسى يد الله التي أعطت وقدمت ومنحت ، ومن الممكن في نسيانه تتعاظم نفسه أمام عينيه ويشعر أن ما في يده هو الذي صنعه وأوجده .</p>
<p><strong>* أنواع التعلق :</strong></p>
<p><strong>١ – التعلق بالماديات</strong> :</p>
<p>التعلق بالماديات أو بالمال ، والمال بلا شك هو نعمة من عند الله ، فهو نعمة قيمة جداً تعيش بها البشرية كلها ، ونشكر ربنا على ذلك ، لكن هذه النعمة قد تزداد في عين الإنسان إلى أن تحتل مكانة الله وتكون بديلا له ، لذا السيد المسيح قالها بوضوح : &#8220;لا يقدر أحد أن يخدم سيدين إما الله وإما المال&#8221; (مت٦: ٢٤) ، وتصير خطية محبة المال بكل صورها (الامتلاك ، الاكتناز، البذخ ، &#8230; أو الصور العكسية مثل الشح أو البخل &#8230; إلخ).</p>
<p>الشاب الغني في هذا المثل كان رقيقاً ، ذهب للسيد المسيح وسأله &#8221; أي صلاح أعمل لأرث الحياة الأبدية ؟&#8221;، وعليكم أن تلاحظوا أنه شاب أي في مقتبل حياته وأمامه وقت ، لكن السيد المسيح بدأ يتعامل معه بمنتهى الرقة وبأسلوب رقيق وأجابه قائلا : &#8221; احفظ الوصايا &#8220;، فأجابه الشاب قائلا : &#8220;إنه حفظها منذ حداثته&#8221;، ولكن ماذا يعوزه بعد ؟ كل هذا ولم يكتشف في ذاته أن لديه خطية اسمها &#8220;خطية التعلق المريض&#8221;. برغم سؤاله واجتهاده وبحثه عن الحياة الأبدية إلا أنه لم يكتشف حتى هذه اللحظة الخطية الرابضة في داخله. ومن لطف السيد المسيح سهل له الإجابة وقال : &#8220;إن أردت أن تكون كاملاً فاذهب ويع أملاكك وأعط الفقراء ،  فيكون لك كنز في السماء ، وتعال اتبعني&#8221; (مت٢١:١٩) ،  وأعتقد أنه عندما سمع عبارة &#8220;بع أملاكك&#8221; حدثت له أزمة ، وكانت الأزمة الثانية عندما قال له &#8221; أعط الفقراء &#8220;. و&#8221; تعال اتبعني &#8221; أزمة ثالثة ، فهل من الممكن أن يتخلى عن أمواله المتعلق بها كثيراً ، وللأسف كانت النتيجة محزنة جدا ، &#8221; فلما سمع الشاب الكلمة مضى حزيناً ، لأنه كان ذا أموال كثيرة &#8221; (مت٢٢:١٩) إنها حقاً مأساة . صراعات العالم اليوم في كل مكان هي من أجل المال ، وكما هو مكتوب &#8221; محبة المال أصل لكل الشرور&#8221; (١تى٦: ١٠)، وهذه تعتبر صورة مرضية ، وهي التعلق بالمال .</p>
<p><strong>٢- التعلق بالمناصب :</strong></p>
<p>من صور التعلق المرضي أيضاً هو التعلق بالمناصب سواء على مستوى المجتمع أو على مستوى الكنيسة أو على مستوى الدير أو على مستوى أي مؤسسة ما &#8230; فالتعلق بالمنصب أو بالمسميات أن هذا مسئول ، فهذا على الدرجة الأولى ، وذاك على الثانية &#8230; وهكذا &#8230; والتعلق بالمناصب قد يكون أحد نوعيات التعلق بالعلم بدرجة شديدة جداً، قد نسمع في قصص العلماء عن العالم &#8220;لويس بستير&#8221; الذي اخترع أو اكتشف التعقيم وعملية البسترة ، فقد كان دائماً مشغولاً بالمعادلات الرياضية وعلمه ، فكان دائماً يسير وفي يده طباشيرة ، وذات مرة وجد في الشارع لوحة سوداء فأخذ يكتب عليها وظنها سبورة ، ولكنه بعد ذلك اكتشف أنه ظهر عربة حنطوريجرها الخيل وليست سبورة .</p>
<ul>
<li>أمثلة</li>
</ul>
<p><strong>۱ هامان</strong></p>
<p>من الأمثلة التي ذكرها لنا الكتاب المقدس قصة &#8220;هامان&#8221; الذي كان بمثابة رئيس وزراء ، وكيف أنه خاف على منصبه ومكانته حتى من مردخاي ، الذي كان يعتبر مجرد حارس في قصر الملك .</p>
<p><strong>٢ - شاول الطرسوسي</strong></p>
<p>شاول هذا الذي تعلم عند قدمي غمالائيل،وقد افتخر كثيرا بما تعلمه ، لكنه كان قاسياً فقد تتبع الذين هربوا من جراء رجم استفانوس ، ونصب نفسه حامي حمى اليهودية ، وبقية القصة تتكلم عن كيف أن الله اصطاد قلبه أمام مدينة دمشق وتحول من شاول مضطهد المسيحيين إلى &#8220;بولس الرسول&#8221; الكارز العظيم .</p>
<p>قد نسمع في مجالات عديدة أنه من الممكن أن تقوم حرب خفية بسبب المناصب ، وكيف يقوم أحد الأشخاص ببث إشاعات كاذبة ، قد يكون هذا الجو داخل الكنيسة أيضاً ، فمن الممكن أن يحارب الإنسان بهذه الحروب ، ويكون هذا التعلق في داخله مما يتعبه ويؤلمه ، وقد تكون المأساة أكبر عندما يكون الإنسان قد كرس حياته وقتاً وجهداً وفكراً وعملاً وعمراً ثم يتعلق بمنصب ما ، لذلك اعتبر أن الآية الموجودة في نهاية هذا الفصل الإنجيلي &#8220;ولكن كثيرون أولون يكونون آخرين ، وآخرون أولين&#8221; (مت۱۹ : ۳۰).</p>
<p><strong>٣- التعلق بالملذات ومتع الحياة :</strong></p>
<p>تقول الفلسفة اليونانية القديمة : &#8220;لنأكل ونشرب لأننا غدا نموت&#8221;، ليس هناك من يعيش مرتين ، عش حياتك بأي صورة دون الالتزام بقانون ، والانحلال من كل شيء مثل المبادئ والقيم ، كما أنه مارس كل شيء ، وقد يكتشف الإنسان خطأ الطريق مثلما كشفه سفر الجامعة &#8221; باطل الأباطيل ، الكل باطل &#8230; وقبض الريح ولا منفعة تحت الشمس &#8221; (جا۱ : ۲، ۲ : ۱۱). سليمان لم يمسك نفسه عن شيء ، وكانت النهاية أنه قدم هذا الاختبار القوي &#8230;</p>
<p>تعلق مريض بملذات معينة سواء حسية أو مادية أو بالعين &#8230; أو بغيرها من الحواس ، فقد تزداد صورها كل يوم بأشكال مختلفة حتى أنها تدخل تحت بند خطايا كثرة جداً في حياة الإنسان .</p>
<p><strong> ٤- بالقنية والممتلكات </strong></p>
<p>التعلق بالقنية والممتلكات بأشكالها ، التعلق بهذه الأمور لها مثال واضح في العهد القديم ، نجد &#8220;لوط&#8221; حيث اختلف رعاة لوط مع رعاة إبراهيم ، وكيف أن إبراهيم أبو الآباء حل الموقف بأن دعا  &#8220;لوط&#8221; وطلب منه أن يختار الأرض التي يريدها وأعطاه فرصة الاختيار، وكان الاختيار لأرض سدوم وعمورة التي بدت أنها أرض جيدة ، لكنها كانت تحمل كل الخطايا والفساد والشر.</p>
<p><strong>٥ -  التعلق بالأشياء </strong>التعلق بالأشياء مثل التعلق بالكتب ، أو التعلق بالأجهزة الحديثة مثل الموبايل . إن العالم كله اليوم مشغول بالموبايل والتكنولوجيا بأنواعها ، وصار العالم اليوم في مصيدة التكنولوجيا لأعلى درجة ، والتكنولوجيا لها أهميتها ، فمثلاً أيام الثورة الصناعية كانوا يريدون أن يريحوا ربة المنزل فصنعوا لها الغسالة ، وأخذت تلك الآلة تتطور حتى وصلت إلى الغسالة الأوتوماتيك والفول أتوماتيك ، وأصبح هناك إمكانيات وخصائص عديدة توفر الوقت والجهد ، إنه لشيء رائع حتى أنه أصبح هناك ما يساعد الأم في عملية الطبخ وإعداد الطعام &#8230; وبعد ما أصبح هناك ما يوفر الوقت والجهد قرروا اختراع ما يمكن استخدامه في هذا الوقت الوفير، وبدأوا يصنعوا أجهزة أخرى يشغلوا بها وقتهم ، وصار الإنسان مندمج على مواقع التواصل الاجتماعي والشات&#8230; وهنا كان التعلق حيث يستغرق الفرد ربع يومه كل يوم في هذه الأمور، والتعلق هنا يسألك : &#8220;هل التكنولوجيا سيدك أم خادمك ؟ هل الموبايل هو الذي يمتلك أم أنت الذى تمتلكه ؟ هل تستطيع أن تستغنى عنه ؟</p>
<p><strong>٦- التعلق بالأشخاص</strong></p>
<p>قد يكون التعلق المرضي بأشخاص ، ويدخل هذا في عداد الأمراض النفسية والأمراض التي يصفها علماء الاجتماع وعلماء النفس ، فمثلاً عندما يتزوج &#8220;هو&#8221; من &#8220;هي&#8221; لكنه ما زال متعلق بأمه ، وهذا التعلق يسبب مشاكل كبيرة نراها في المشكلات &#8221; الأسرية.</p>
<ul>
<li>قصة</li>
</ul>
<p>١ -  من عدة سنوات في مدينة دمنهور جاءت لي أم وطلبت مني أن أساعدها في إيجاد عمل لابنها خريج كلية التجارة ؛ ولأن خدمتي كانت قريبة من برج العرب وهذه المنطقة هي منطقة صناعية ، فتمكنت من العثور على عمل بأحد المصانع لهذا الشاب وعدت متهللا لأخبر الأم ، فسألتني عن مكان هذا المصنع فقلت لها في مدينة &#8221; برج العرب &#8221; تبعد حوالي ٩٠ كيلو عن دمنهور، لكني فوجئت أنها ترفض ، والسبب أنها تريد عملا لابنها في الشارع الذي تسكن فيه ، هذا هو التعلق المرضي.</p>
<p> ٢ أم أخرى طلبت أن ابنتها تتزوج من أي شخص ، ويعمل أي عمل ، ومن أي أسرة ، ولكن شرطها الوحيد أن تسكن في الشقة التي أمامها ، أنه تعلق مرضي .</p>
<p>قد يكون هذا التعلق في العلاقات غير النقية بين الأشخاص على مستوى الشباب ، أو في نطاق الزواج والأسرة ، وقد يكون في نطاق الخدمة ، فهناك بعض التعلقات المرضية ينبغي على الخادم أو الراعي الانتباه إليها .</p>
<p>من يستطيع أن يخلص ؟</p>
<p>اعرف أيها الحبيب أن هذه التعلقات المرضية ترتبط بروح الغرور والكبرياء والمعاندة ، هي روح الإنسان المخدوع الذي لم يعتن أو يهتم بحالته الروحية ، أو ترتبط بالإنسان الذي يرفض النصيحة والإرشاد &#8230; حاول أن تكتشف اليوم عما بداخلك ، فنحن ما بين نقطتين : الأولى : طريق الأطفال الممهد للسماء ، والثاني : طريق المتعلقين التعلق المرضى . وإذ نحن في فترة الصوم وأسبوع التجربة سأضع أمامك بعض الإرشادات التي يجب أن تتبعها :</p>
<ul>
<li><strong>إرشادات :</strong></li>
</ul>
<p>۱ افحص ضميرك وكن صريحاً مع نفسك ، وذلك من خلال : قدسوا صوماً ، نادوا باعتكاف .</p>
<p>+ خذ خلوة مع نفسك ، ادخل إلى مخدعك واغلق بابك .</p>
<p>+ اختبر نفسك .</p>
<p>+ ادخل إلى أعماق الضمير وافحصه جيداً .</p>
<p>+ كن صريحا مع نفسك ولا تنس من ينظر إليك أو ينبهك .</p>
<p>٢- اكتشف أية خطية أو تعلق مريض مختف في جوانب حياتك ، قد تكون قد تسللت أو تسربت داخلك .</p>
<p>٣ اجلس بينك وبين نفسك وضع أمامك أنك تُريد أن تتخلى عن هذه الأشياء ، وما هي الطرق التي تساعدك على ذلك ؟ وكيف لا تكون سيدك؟ وكيف تستخدمها في حدودها الطبيعية ؟</p>
<p>٤ -  حول ذلك إلى جلسة اعتراف ومارس التوبة ، وحول تعلقك المريض إلى أعمال رحمة ومحبة ، وحاول أن تُخرج الأنانية من ذاتك ، لذا ونحن في أيام الصوم الكبير تصلي ونقول : &#8220;طوبى للرحماء على المساكين &#8220;، والتي لا يقصد بها الناحية المادية ، ولكن المقصود بها الخروج من ذاتك وأنانيتك ، لذلك لا بد أن تحول تعلقك إلى أعمال رحمة ومحبة . فكر وابتكر الوسيلة المناسبة لذلك ، ولا تنس وأنت تصنع كل هذه الخطوات أن تتذكر أن للعمر نهاية وللحياة نهاية ، وتذكر أنك لا تعرف متى ستكون نهاية حياة الإنسان على هذه الأرض .</p>
<p>٥ - اعلم أن الصوم المقدس هو أنسب فترة لتكتشف فيها عن هذه الخطايا الموجودة في داخلك ، فهو موسم التوبة ، وضع أمامك دائماً الطريقين : الطريق السهل لمن يمتلكون قامة الأطفال والذي يصل بك للملكوت ، والطريق الصعب لمن يعيشون في هذا التعلق المريض . سؤال التلاميذ للسيد المسيح : من يستطيع أن يخلص ؟ يجيبهم يسوع قائلاً : &#8220;هذا عند الناس غير مستطاع ، ولكن عند الله كل شيء مستطاع &#8221; (مت١٩ : ٢٦). إن نعمة ربنا وقدرته ورغبة الإنسان تستطيع أن تنهي هذا التعلق ، ويأتي الإنسان في النهاية ويقول مثل القديس بطرس الرسول عندما قال : &#8220;ها نحن قد تركنا كل شيء وتبعناك &#8221; (مت۱۹ : ۲۷). فيقول له السيد المسيح : &#8221; كل من ترك بيوتاً أو إخوة أو أخوات أو أباً أو أما أو امرأة أو أولاداً أو حقولا من أجل اسمي ، يأخذ مئة ضعف ويرث الحياة الأبدية &#8221; (مت۱۹ : ۲۹) ،  وهذا هو وعد صادق وأمين .</p>
<p>لذلك يجب أن نضع أمامنا باستمرار الآية التي تقول : &#8220;كثيرون أولون يكونون آخرين ، وآخرون أولين&#8221; (مت۱۹ : ۳۰)، مثل الأطفال والمتعلقين .فليعطنا مسيحنا أن تكون حياتنا خالية من هذه الخطايا المميتة.<a href="#_ftn1" name="_ftnref1">[5]</a></p>
<h5></h5>
<h4>حوار الرب مع الشاب الغني للمتنيح أنبا أثناسيوس مطران بني سويف والبهنسا</h4>
<p><strong>أيها المعلم الصالح : (مت۱۱:۱۹ -۲۲)</strong></p>
<p>لقد اشترانا الرب بدمه وليس لنا شيء لأنفسنا بل حياتنا وما عندنا ملك له،ولذا لا يجب أن نعتبر شيئا لنا وهو ليس من حقه . وهكذا كانت المسيحية في عصرها الأول &#8220;وجميع الذين آمنوا كانوا معا ، وكان عندهم كل شئ مشترکا والأملاك والمقتنيات كانوا يبيعونها ويقسمونها بين الجميع كما يكون لكل واحد احتياج &#8221; (أع۲: ٤٣-٤٤). على أن هذا الحوار بين الشاب والسيد يمكن أن يعطينا نظرة أخرى على المستويين فانه سأل المعلم سؤالا أول &#8220;أي صلاح أعمل لتكون لي الحياة الأبدية؟&#8221; كان الجواب &#8220;أن أردت أن تدخل الحياة فاحفظ الوصايا &#8221; . فكان هناك بداية أو حدا أدني من ناحية المقتنيات وهي مثلا : تقديم العشور.</p>
<p>وهناك السؤال الثاني : &#8220;ماذا يعوزنی بعد ؟&#8221; ويأتي الجواب : &#8220;أن أردت أن تكون كاملا &#8221; فأذهب وبع املاكك وتعال اتبعنى&#8221;، فهذا مستوى أكمل اختاره الرسل وأعضاء الكنيس الأولى والرهبان وكان الرب قديما قد جعله قاعدة للاويين اذ أعطى لكل سبط جزءا من الأرض دون اللاويين &#8220;لأن الرب نصيبهم&#8221; (يش۱۳ : ۳۳) انظر (اكو ۹ : ۱۳) .</p>
<p>أما رد السيد على ذلك الشاب : &#8220;لماذا تدعوتی صالحا ليس أحد صالحا الا واحد وهو الله&#8221; فهو ليس احد صالحاً الا واحد وهو الله &#8221; فهو ليس انكارا لصلاحه ولا للاهوته بل هو استدراج للشاب ليدرك من هو شخص الرب يسوع : فان قال له : أيها المعلم الصالح ، لفت الرب نظره الى أن الصلاح هو لله وحده . فان كان قد لمس فيه الصلاح الحقيقي فليدرك &#8221; آذن أنه هو الله&#8221; بدليل أن الرب قال عن نفسه أيضا : &#8220;أنا هو الراعي الصالح&#8221;.</p>
<p>وكون الشاب مضي حزينا حين طلب منه الرب أن يترك أمواله ويتبعه هذا يدل على أنه كان يريد أجر الكاملين دون أن يسلك طريقهم وهذا الاتجاه يسبب حزنا للبعض أنهم يريدون مثلا أن يطبقوا على أنفسهم أوضاعا معينة لم يطبقها الا الكاملون كأصوام ونسكيات معينة ليست لمن يحيا حياتهم ، ويحاولون تطبيقها والحصول على اختباراتها وهم بعيدون عن طريقها . وكان خيرا لهم أن يسيروا في طريق الاعتدال الذي أوضحه الرب هنا في السؤال الأول لذلك الشاب &#8220;ماذا يعمل لتكون له الحياة الأبدية&#8221;.</p>
<p><strong>الاغنياء والملكوت : (مت١٩: ٢٣-٣٠)</strong></p>
<p>لم يقل الرب أنه يستحيل أن يدخل غني الى ملكوت السموات بل قال &#8220;يعسر&#8221;، وذلك لأنهم يتمسكون بغناهم ، وقد أوضحها أنجيل مرقس بقوله : &#8220;ما أعسر دخول المتكلين على الأموال الى ملكوت الله &#8221; .</p>
<p>وليس الغنى بهذا المعنى في مقداره بل مقدار اتكال الانسان عليه وارتباطه به . فقد يوجد غني كأيوب ويعتبر المال كله ملكا له وقد يوجد من لا يمتلك سوى القليل ويرتبط به قلبيا ارتباطا كبيرا ويشتهي ان يصير غنيا فالمال عنده أغلى من الرب ، ولذلك يقول : &#8220;من أحب أبا أو أما أكثر مني فلا يستحقني &#8221; (مت۱۰: ۳۷).</p>
<p>أما تعبير مرور جمل من ثقب أبرة فليس غريبا على أذهان السامعين . وكانت أورشليم والمدن الكبرى في تلك العصور ، تحاط بأسوار لها أبواب محددة كانت تغلق عند المساء وكان هناك باب ضيق ومنخفض يسمي باب بيت الأبرة ، يمكن لحارس الليل أن يفتحه لمواطن من المدينة وصل من الخارج بعد اغلاق الأبواب • أما اذا وصل ومعه جمل وأريد أن يسمح له بالدخول فكان عليه أن يېرك الجمل ويعقله ، أي يربط رقبته في رجله المنثنية ويرفع عنه حمله ، وينقل الحمل هو الى الداخل . ثم يقود الجمل راكعا متقدما على ركبتيه لينفذ من باب بيت الأبرة ، وهكذا يمكن أن يقال أن الغني يدخل الملكوت أن ألقي عنه ماله وتواضع تماما قدام الله . والتشبيه ليس غريبا في لغة تلك المنطقة في تلك الأيام فقد أورد التلمود ذات المثل مع الفيل &#8221; مرور فيل من عير أبرة &#8221; وأورده القرآن &#8221; مثل مرور الجمل سمط الخياط وكذلك ينجي المؤمنين &#8221; فليس ، التعبير غريبا على أذن السامعين .<a href="#_ftn1" name="_ftnref1">[6]</a></p>
<h5></h5>
<h5></h5>
<h4>مراوغة بلا تلمذة لنيافة الأنبا إيساك الأسقف العام</h4>
<p>(متى١٩: ١٦–٢٢)</p>
<p>سؤال الشاب عن الحياة الأبدية هو قمة الأسئلة الهامة جداً والخطيرة جداً في العالم ، انه سؤال عن الخلاص . انه من الأسئلة التي يصعب صياغتها بأسلوب صحيح واضح . فقد عبر الشاب عن سؤاله بتعبيرات أبعد ما يكون عن ما يقصده في الواقع . انه يوجه سؤاله إلى &#8220;المعلم الصالح&#8221; انه يريد أن يسمع رأى المعلم الصالح ويأخذ منه نصيحة ، يستشير المعلم الصالح في هذه المشكلة المحدده . لقد نجح في أن يجنب نفسه بعيداً عن الموضوع الحقيقى في نقطتين :</p>
<p>أولاً : انه يشعر أن سؤلاً على هذه الدرجة من الأهمية لابد أن ليسوع رأى محدد يقوله في هذا الصدد .</p>
<p>ثانياً : انه يتوقع من السيد الصالح والمعلم العظيم نطقاً له وزن يتباهى به بعد ذلك كمعلومة نادرة ، ولم يكن يتوقع أن يلقى على كاهله التزاماً بطاعة الوصايا كتوجيه من الله . الحياة الأبدية بالنسبة له هي مشكلة أكاديمية جديرة بالمناقشة مع المعلم الصالح.</p>
<p>+ ولكن أول كلمة من رد يسوع كانت صدمة قاسية بالنسبة له : لماذا تدعونى صالحاً ، ليس أحد صالح الا واحد وهو الله . أراد الشاب أن يتكلم عن الحياة الأبدية مع رجل دين عظيم ، فاذا به يتحقق انه يتكلم ليس مع مجرد معلم صالح بل مع الله نفسه . لقد خانت ألفاظ السؤال مشاعره الحقيقية وها هو الرب يشير البه بالإجابة الوحيدة التي مصدرها الله وهى أن يحفظ وصايا الله الواحد . لم يحصل على إجابة من معلم صالح ، رأى شخصى مثلاً ، أو اضافا ملحقة لارادة اللة المعلنة ، فقد استبعد يسوع أي إشارة نحو ذاته لتكون الإشارة نحو الله وحده وعلى الفور يثبت بهذا بأنه هو ابن الله الكامل .</p>
<p>+ السائل هنا يواجه ذاته أمام الله ، وقد اتضح انه يراوغ في تنفيذ إرادة الله المعلنة . ان الشاب يعرف مسبقاً هذه الإرادة في كل حين ، انه يعرف الوصايا ، ولكن بالنسبة له لا يقدر أن يكتف بها بل يريد أن يذهب إلى أبعد منها ! أما يسوع ، فهو يعرف مضمون سؤاله ، يعرف انه سؤال اشفاق على الذات والتمركز حولها . لماذا يتظاهر بأنه يجهل الإجابة منذ أمد طويل ؟ لماذا يتهم الله بتركه إياه يجهل هذه المشكلة الأساسية في الحياة ؟ ولكن اذ قد حصر الشاب وقد مثل كما أمام كرسى دينونة الله بعدما أزيلت الهاله الأكاديمية الخادعة التي أحاط نفسه بها ، طلب منه أن يرضخ ببساطة لطاعة إرادة الله المعلنة . ولمرة أخرى يحاول الشاب أن يراوغ في الموضوع بأن يسوق سؤلاً آخر : &#8220;أية وصايا ؟؟&#8221; ويا له من سؤال ! ان الشيطان نفسه يكمن وراء هذا السؤال. لقد عرف الشاب انه قد وقع في المصيدة ، والمخرج الوحيد هو توجيه هذا السؤال ، انه بلا شك يعرف الوصايا ، ولكنه يريد أن يموج الموضوع بأن يسأل ترى أية وصايا هي المقصودة وسط هذا الضخم الهائل من الوصايا ؟ أية وصية تنطبق على أنا بالذات ، وتخص مشكلتى أنا ؟ وكأن الشاب يقول ان وصايا الله المعلنة غامضة وغير واضحة فأى منها يصلح لحالتى الراهنة ؟ انه يضع عقبات من تصوره الخاص ليبرر اهماله لوصايا الله التي هي بلا عيب . وكم من مرة حاول البشر أن يتصوروا عقبات أخلاقية خاصة تحول دون تنفيذهم لوصايا الله غير عالمين ان هذه الوصايا بعينها هي التي تذلل وتحل كل العقبات .</p>
<p>+ لقد سقط الجنس البشرى كله في البداية عندما ابتدأت حواء تسمع إلى تفسيرات لوصية الله من الحية . &#8220;هل حقاً قال الله لكما لا تأكلان من أشجار الجنة ؟&#8221; وعندما دخل هذا السؤال إلى ذهن الانسان أحدث عصياناً وتمرداً على الله. قبل أن تعطى الحية تفاسيرها للوصية ، كانت الوصية في غاية الوضوح وما على الانسان الا أن يطيعها ببراءة الأطفال الصغار حتى يسعد بالله وجنته ولكن ما أن اقترحت الحية ان الوصية في حاجة إلى تفسير وشرح حتى دخلت الشكوك والعقبات . لقد تمادت الحية وكأنها تقول للإنسان عليك أن تقرر لنفسك ما هو الصالح باستخدام ضميرك ومعرفتك للخير والشر . ان الوصية قد تفسر بطرق مختلفة ، وانها إرادة الله ان وصيته تفسر وتشرح ، لأن الله منح الانسان عقلاً وحرية إرادة ليقرر ما يفعله ! ولكن هذا يعنى العصيان من البداية . لأن الشك والتحليل حلا محل الطاعة الفورية .</p>
<p>+ ان الانسان الناصح روحياً مع وعيه بحرية ضميره يباهى بأنه في طاعته للمسيح ليس أكثر من طفل ساذج صغير . أما الذى يستخدم حريته ليضع العقبات أمامه فيكون قد ترك الطاعة فعلا . ان مجرد مناقشة صلاحية الوصية للتطبيق العملى هو في الواقع سقوط النفس من مواجهة حق الله لكى تتسكع في التفكير البشرى . انه السقوط من حالة الايمان إلى حالة الشك .</p>
<p>+ سؤال الشاب ليسوع كشف عن معدنه الحقيقى وبين انه انسان تحت الخطيئة . والرد الذى رد به يسوع عليه كشف الشاب أمام نفسه . فقد أجاب يسوع بأن وصايا الله هي ببساطة تلك الوصايا المعلنة في الكتب المقدسة ، ووقع الشاب في المصيدة مرة أخرى .</p>
<p>لقد كان حريصاً أن لا يورط ذاته في وصايا محددة يلتزم بها ، وراوغ مرة أخرى محاولاً أن يجر يسوع إلى مناقشة مشاكله الروحية ، لقد تمنى أن يعطيه يسوع حلا للعقبات التي تحول دون تنفيذ الوصية ، ولكن بدلاً من هذا وجد أن المسيح لم يتناول سؤاله بل تناوله هو ذاته . ان طريق تنفيذه للوصية هو أن يترك مناقشاته البيظنطية وأبحاثه الاكادمية ويحمل على عاتقه فوراً تنفيذ الوصية مطيعاً لتلك الوصية عينها التي تتحداه . الشيطان وحده هو الذى عنده حلا للمعوقات التي تعوقنا عن تنفيذ الوصية. انه يقول : &#8220;استمر في وضع المشاكل وستفات من ضرورة الطاعة . ولكن يسوع لا يهمه المناقشة والحوار والدردشة في مشاكل الشاب ولكن الذى يهمة هو الشاب نفسه. يرفض المسيح ان يعتبر ان هناك عائقاً يمثل مشكلة أمام تنفيذ الوصية .</p>
<p>+ هناك شيء أثار اهتمام المسيح ، وذلك عندما بدأ الشاب يبدى رغبته في معرفة الوصية وطاعتها . أما حينما يثير هذا الشاب المشكلات التي تعوقه عن تنفيذ الوصية ، معطياً أياها الأهمية البالغة فهو يتعذب لأنه مستعبد . لأن النشاط في طاعةً الوصية هو الذى يحرر من معوقات تنفيذها . أما وضع المشكلات من الانسان فهذا دليل أثمة وشره المطلق ، ويبين استهتاره وعدم تقواه وهى برهان على عصيان شديد . الأمر الوحيد الذى يهم المسيح هو الطاعة العملية . هذه الطاعة ستحل كل مشكلة وتجعلنا أحراراً حرية مجد أولاد الله ، فحل المشكلات والصعوبات التي تقف حائلاً لتنفيذ الوصية كما يراه المسيح هو الطاعة الفورية وتنفيذ الوصية .</p>
<p>+ لقد واجه الشاب الغنى الحقيقة مرتين ، ولم يعد هناك مجالاً آخر للمراوغة في كلمة الله ، فلم يعد أمامه الآن أي خيار سوى الطاعة . ولكنه لم يزل غير راض &#8221; هذه كلها حفظتها منذ حداثتى فماذا يعوزنى بعد ؟ &#8221; بلا شك كان مقتنعاً باخلاصه هذه المرة كما كان مقتنعاً من ذي قبل . ولكنه هنا يبلغ ذروة الاستهانة انه يعرف الوصايا ، وقد حفظها منذ حداثته . ولكن لا يمكن أن يكون هذا هو كل ما يطلبه الله ، لابد أن يكون هناك شيء أكبر ، مطلب فريد غير عادى ، وهذا ما أراد أن يفعله هو . انه يقول أن وصايا الله المعلنه غير كافية ، وهو بهذا يقوم بمحاولته الأخيرة ليجعل نفسه غير ملتزم ، ويقرر لنفسه الخير من الشر . انه يمسك بالوصايا بأحد اليدين ويسدد لها الضربات باليد الأخرى &#8221; هذه كلها حفظتها منذ حداثتى &#8221; .</p>
<p>+ ويضيف القديس مرقس هذه النقطة &#8220;فنظر اليه يسوع وأحبه&#8221; (١٠ : ٢١) هنا يرى يسوع كيف أن الشاب قد أغلق عقله ، ولا أمل من فتحه حتى يقبل كلمة الله الحية الذى كان جاد في البحث عنها في البداية. وكيف أن هذا الشاب يحنق من قلبه على الوصية المحييه ويثور على مطلب الطاعة الفورية . ولكن يسوع رغم كل هذا أراد أن يساعد الشاب لأنه يحبه . لذلك يصل معه إلى كلمته الأخيرة : &#8220;ان أردت أن تكون كاملاً فاذهب وبع كل ما لك واعط المساكين فيكون لك كنز في السماء وتعال أتبعنى&#8221; .</p>
<p>هنآ ثلاث نقاط يمكن ملاحظتها :</p>
<p><strong>أولاً :</strong> ان يسوع نفسه هو الذى يعطى الوصية . نفس يسوع الذى أشار إلى أن الله هو المعلم الصالح الوحيد ، الآن يمارس سلطاته الإلهية وينطق بالكلمة الأخيرة . على الشاب أن يدرك الآن أن الواقف أمامه هو الله ذاته ، وهو كاله ينطق وصايا من ذاته . رغم أن الشاب لم يتحقق من هذا ، فقد أشار اليه يسوع في البداية الى الآب الذى هو واحد معه . يجب أن يجعل المسيح تلك الوصية واضحة بصورة لا تقبل الشك . انه يدعو الشاب أن يتبعه مباشرة وعلى الفور وهذا قمة كل الوصايا ، بل في هذا تحقيق كل الوصايا  - أن تحيا تابعاً للمسيح . يواجه المسيح الشاب الغنى بدعوته ، ولا يستطيع بعد أن يهرب إلى عالم خيالى من عقباته الأخلاقية الوصية واضحة ومباشرة: &#8220;تعال أتبعنى&#8221; .</p>
<p><strong>ثانياً :</strong> النقطة الثانية التي نلاحظها ، أنه حتى هذه الوصية ممكن أن يساء فهمها ، ولذلك يتحتم شرحها وتوضيحها .</p>
<p>فقد يعود الشاب للوقوع في الخطأ الأصلى ويأخذ الوصية كفرصة لأظهار البطولة الأخلاقية ، ويظن أن حياته ستكون مبهرة ومتلألئة بها . ولكن خطورة هذا المسلك هو أنه يسهل عليه ترك الوصية بسهولة إلى طريق آخر ان وجده أكثر بطولة أو ابهار . وسيكون خطأ على نفس المستوى لو أعتبر الشاب أن تلمذته للمسيح تمت كاستنتاج منطقى لبحثه عن الحق الذى كان مشغولا به حتى الآن أو كاضافة أو تكملة لحياته القديمة . فلتجنب كل لبس ، أراد يسوع أن كخلق وضعا لا تراجع فيه ولا عودة منه ، موضحاً له في نفس الوقت ان هذا ليس تنميماً لحياته الماضية بأى صورة من الصور. ولذلك أمره بالفقر الاختياري ، وهذا هو الجانب المثير ، الغايه منه هو ان يمكن الشاب أن يصل إلى فهم نهائي لطريق الطاعة الحقيقى . ان هذه الوصية الرعوية تنبع من محبة يسوع للشاب الغنى ، وهى تمثل العلاقة بين حياة قديمة وحياة جديدة ولكن يجب أن نلاحظ ان هذه العلاقة ليست هي الحياة الجديدة في حد ذاتها ، ولا هي حتى الخطوة الأولى نحو الاتجاه الصحيح ، أنه امتحان أساسى للطاعة ، لابد منه . فعلى الشاب أولًا أن يذهب ويبيع كل ما له للمساكين ، ثم بعدئذ يأتي ويتبع . التلمذه هي الهدف والفقر الاختيارى هو الوسيلة.</p>
<p><strong>ثالثاً : </strong>الملاحظة الثالثة هي أنه عندما سأل الشاب : &#8220;ماذا يعوزنى بعد ؟ &#8221; أجاب يسوع على هذا السؤال بقوله : &#8220;أن أردت أن تكون كاملاً … &#8221; لأول وهلة قد يبدوا أن يسوع يريد إضافة أمر ما على حياة الشاب السابقة ، ولكنها إضافة من نوع الذى يتطلب ترك كل ارتباط سابق . حتى الآن كان يتملص من قبضة الكمال لقد كان فهم الشاب للوصية وتنفيذه لها خطأ ، أما الآن فباتباعه المسيح يمكنه أن يفهم الوصية وينفذها بطريقة صحيحة . الآن فقط وليس قبل الآن حيث يسوع المسيح هو الذى يدعوه . لقد تماشى يسوع مع الشاب حين وجه اليه السؤال على الطريق إلى الحياة الأبدية ، وحاول أن يخرجه من ربكاته الفكرية إلى أن أجاب &#8221; أنا الذى أدعوك إلى الكمال والحياة الأبدية وهذا هو كل ما في الموضوع &#8220;الإجابة على سؤال الشاب الغنى كانت يسوع المسيح ذاته . لقد تطلع الشاب أن يسمع كلمة من المعلم الصالح ، ولكنه وجد أن المعلم الصالح هو الله الكلمة بذاته الذى ينبغي أن يسمعه ويتبعه ويطيعه . ان هذه الكلمة هي ذات الرب الذى توجه بسؤال اليه . انه يقف وجها لوجه أمام يسوع ابن الله : المواجهة القصوى . انها الآن مسألة نعم أو لا – طاعة أو لا طاعة .</p>
<p>+ ولكن للأسف كانت الإجابة &#8221; لا &#8221; لقد ذهب حزينا ، خائب الأمل ومقطوع الرجاء لأنه كان غير قادر أن يفك نفسه من ماضيه . كان ذا أموال طائلة . الدعوة لاتباع المسيح هنا تعنى كما قلنا من قبل الاتجاه بكل الكيان نحو شخص يسوع المسيح واتباعه . حياة التلمذه ليست هي بطولة العبادات التي نوجهها إلى المعلم الصالح ، بل هي طاعة لذلك المعلم الصالح يسوع المسيح ابن الله ..</p>
<p><strong>+ تسير قصة الشاب على خط متوازى مع مقدمة مثل السامرى (لوقا١٠ : ٢٥ – ٢٩)</strong></p>
<p>سؤال الناموسى هو نفسه سؤال الشاب الغنى ، الفرق الوحيد الواضح هو ان نية الناموسى كانت ليجرب يسوع . كانت إجابة السؤال في ذهنه مسبقا وهو يريد فقط ان يضع يسوع في متاهات الشكوك والمتاعب الفقهية الأخلاقية . ويجيب عليه يسوع بنفس التعبيرات التي أجاب بها على الشاب الغنى . السائل يعرف في قلبه إجابة سؤاله ، ولكنه في لحظة سؤال رغم كونه يعرف الإجابة ، يريد أن يزوغ من حتمية طاعة وصية الله . الإجابة الوحيدة التي يأخذها هي : أنت تعرف تماماً ، افعله وأنت تحيا .</p>
<ul>
<li>لقد خسر الناموسى الجولة الأولى ، لذلك فليحاول المراوغة كمثل الغنى يحاول أن يتهرب بأن يطرح المصاعب الأخلاقية في تنفيذ الوصية : &#8221; من هو قريبى ؟ &#8221; .</li>
<li>+ كم من مرة طرح نفس هذا السؤال من قبل ، بايمان صالح وجهل فعلى ! لأن الباحث المخلص عن الحق ، من الممكن أن يضع مثل هذا السؤال المعقول . ولكن لم يكن هذا قصد الناموسى ، لأن هذا السؤال هو من نوع الذى يمكن أن تستمر في توجيهه دون أن تحصل على إجابة . وأصل السؤال نابع من مراوغة البشر وفساد الذهن وفقدان الحق متعلا بمباحثات ومماحكات الكلام التي منها يحصل الحسد والخصام والافتراء والظنون الرديئة  (١تى ٦ : ٤) انها أسئلة أناس منتفخون &#8220;يتعلمن في كل حين ولا يستطعن أن يقبلن إلى معرفة الحق أبداً&#8221; و &#8220;لهم صورة التقوى ولكنهم منكرون قوتها&#8221; (٢تى ٣ : ٥). لا يقدرون أن يؤمنوا طالما هم مستمرون في توجيه نفس الأسئلة لأن &#8220;ضمائرهم موسومة&#8221; (١تى ٤ : ٢) يرفضون أن يطيعوا كلمة الله .</li>
</ul>
<p><strong>+ من هو قريبى ؟ هل من إجابة على هذا السؤال ؟</strong></p>
<p>أهم أهلى ، زملائي ، أخوتى في المسيح ، أعدائى ؟ هناك عنصر حقيقة وزيف في كل واحدة من هذه الردود  ، والموضوع يأتي بنا إلى الشك والعصيان وهو عمل تمردى فعلى ضد وصية الله . طبعاً أننى أبدو وكما لو كنت أريد أن أفعل ارادته ، ولكن الله لم يخبرنى كيف أطبقها  . الوصية لا تعطينى أي اتجاهات واضحة ، ولا تفعل شيئًا بالنسبة لمشاكلى . السؤال ماذا أفعل ؟ كان هو أول محاولة من الناموس ليذرى رمادا على عينيه . وكانت إجابة يسوع مباشرة هل تعرف الوصايا ؟ حسناً ضعها موضع التنفيذ ، لا ينبغي أن تسأل أسأله  - ابدأ العمل على الفور ! . ولكن السؤال الأخير من الناموسى من هو قريبى؟ هو ضربة يأس قاضية  (أو قد تكون ضربة ثقة بالذات) كان الناموس يحاول به أن يبرر عصيانه . ولقد تجنب يسوع السؤال كتجربة من الشيطان وهذه في الواقع هي النقطة كلها في مثل السامرى الصالح ، وكانت الأجابة &#8220;أنت هو القريب&#8221; اذهب وحاول أن تكون مطيعاً بمحبة الآخرين  . القرابة ليست خاصية في بعض الآخرين ، انها ببساطة حقوق الكل علينا كل لحظة وكل وضع يتحدانا للفعل والطاعة . ليس لدينا وقت لكى نجلس ونسأل أنفسنا ان كان هذا أو ذاك هو قريبى أم لا . علينا أن ندخل إلى الفعل العملى ونطيع  - علينا أن نسلك كأقرباء للكل . ولكن هذا قد يصيبك بدهشة ، ربما أنت مازلت تفكر أنه ينبغي عليك أن تفكر مسبقاً وتعرف ما يجب أن تعرفه . لمثل هذا الشخص هناك إجابة واحدة ، يمكنك أن تعرف وتفكر فيها بأن تعملها عملياً . يمكنك فقط أن تتعلم ما هي الطاعة عندما تطيع . لا فائدة من توجيه أسئلة ، لأنه من خلال الطاعة فقط ستأتى إلى معرفة الحق .</p>
<p>+ ان الدعوة من يسوع هي أن نطيع فورا . فقد دعى الشاب الغنى إلى نعمة التلمذه  ، وأيضاً الناموسى الذى قام ليجربه ، كلاهما أحالهما يسوع إلى الوصية الإلهية.<a href="#_ftn1" name="_ftnref1">[7]</a></p>
<h3>المراجع</h3>
<p><a href="#_ftnref1" name="_ftn1">[1]</a><sup>- بولس الرسول - ص26- القمص تادرس يعقوب ملطي.</sup></p>
<p><a href="#_ftnref2" name="_ftn2">[2]</a><sup>- مدرسة الأسكندرية اللاهوتية - ص 53- المهندس زكي شنودة.</sup></p>
<p><a href="#_ftnref1" name="_ftn1">[3]</a> - من كتابات القديس يوحنا ذهبي الفم صفحة ٣٧٦ - ترجمة القمص تادرس يعقوب ملطي وآخرين - كنيسة مار جرجس سبورتنج</p>
<p><a href="#_ftnref1" name="_ftn1">[4]</a> - مقالات القديس كبريانوس أسقف قرطاجنة الشهيد صفحة ١١٣ - ترجمة وإعداد الراهب القمص مرقوريوس الأنبا بيشوي</p>
<p><a href="#_ftnref1" name="_ftn1">[5]</a> - إختبرني يا الله - قداسة البابا تواضروس الثانى</p>
<p><a href="#_ftnref1" name="_ftn1">[6]</a> - تفسير إنجيل متي صفحة ٢١٥ - نيافة أنبا أثناسيوس مطران بني سويف والبهنسا</p>
<p><a href="#_ftnref1" name="_ftn1">[7]</a> - حياتك تلميذاً للمسيح صفحة ٤٣ - نيافة أنبا إيساك الأسقف العام</p>

      {% endcreateArticleAccordions %}
    </section>
  {% endblock %}
