---
layout: 'layouts/reading.html'
title: 'قراءات يوم الجمعة من الأسبوع الثاني'
tags: 'great-lent'
permalink: /articles/great-lent/2-5.html
---
  {% block content %}
    <section id="readings">
      <ul>
      {% if 'undefined' != 'undefined' %}
      
      {% else %}
      {% if 'null' != 'null' %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">العشية</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeVespers '' '' %}
          </div>
        </div>
      </li>
      {% endif %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">باكر</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeMatins '19.116:7-8' '40.15:39-39*@+40.16:1-12' '5.8:1-20*@+5.9:1-4@9.17:16-54*@+9.18:6-9@23.7:1-14@18.11:1-20' %}
          </div>
        </div>
      </li>
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <h3 class="flex items-center justify-between">
            <span class="kufi">القداس</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </h3>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeLitugy '58.12:28-29*@+58.13:1-16' '60.4:7-16' '44.15:22-31' '19.29:10-11' '42.6:39-49' %}
          </div>
        </div>
      </li>

      {% endif %}
        </ul>
    </section>
    <section id="article">
      <h3 class="mt-8 mb-4 heading-explain">شرح القراءات</h3>
      {% createArticleAccordions %}
        <p>&#8220;تُحِبُّ الرَّبَّ إِلهَكَ مِنْ كُلِّ قَلْبِكَ، وَمِنْ كُلِّ نَفْسِكَ، وَمِنْ كُلِّ قُدْرَتِكَ، وَمِنْ كُلِّ فِكْرِكَ، وَقَرِيبَكَ مِثْلَ نَفْسِكَ.&#8221; (لو٢٧:١٠)</p>
<p>&#8220;وَأَنْتُمْ مُتَأَصِّلُونَ وَمُتَأَسِّسُونَ فِي الْمَحَبَّةِ، حَتَّى تَسْتَطِيعُوا أَنْ تُدْرِكُوا مَعَ جَمِيعِ الْقِدِّيسِينَ، مَا هُوَ الْعَرْضُ وَالطُّولُ وَالْعُمْقُ وَالْعُلْوُ، وَتَعْرِفُوا مَحَبَّةَ الْمَسِيحِ الْفَائِقَةَ الْمَعْرِفَةِ، لِكَيْ تَمْتَلِئُوا إِلَى كُلِّ مِلْءِ اللهِ.&#8221; (أف٣: ١٩،١٨)</p>
<p>[قابل الصلوات النقية. معطي المتوكلين عليه من كل قلوبهم الأشياء التى تشتهي الملائكة أن تراها. الذي أصعدنا من العمق إلى النور, الذي أعطانا الحياة من الموت] (قسمة للآب سنوي).</p>
<p>[البئر عميقة، ولكن ماءها طيّب عذب. الباب ضيّق، والطريق كَرِبَة، ولكن المدينة مملوءة فرحًا وسرورًا. البرج شامخ حصين ولكن داخله كنوز جليلة. الصوم ثقيل صعب، ولكنه يوصِّل إلى ملكوت السموات. فعل الصلاح عسير شاق، ولكنه ينجِّي من النار برحمة ربنا الذي له المجد.] (القديس مقاريوس)<a href="#_ftn1" name="_ftnref1">[1]</a></p>
<h3><strong>شواهد القراءات</strong></h3>
<p>(تث ٨: ١ - الخ ، ص٩: ١-٤)، (١صم ١٧: ١٦-٥٤)، ص ١٨: ٦-٨)، (أش ٧: ١-١٤)، (أي ١١: ١- الخ)، (مز ١١٤: ٦)، (مت ١٥: ٣٩، ص ١٦: ١-١٢)، (عب ١٢: ٢٨ - الخ، ص ١٣: ١-٦)، (١بط ٤: ٧-١٦)، (أع ١٥: ٢٢-٣١)، (مز ١١:٢٨)، (لو ٦: ٣٩-٤٩).</p>
<h3><strong>شرح القراءات</strong></h3>
<p><strong>تتكلّم قراءات هذا اليوم</strong> عن العمق والقوّة كأساس وكطريق لعلاقتنا بالكنز السماوي، فهو لا يستعلن للكسالى بل للمجتهدين الذين يسعون دائماً للأعماق، ويمنحهم الله قوته، وكما يقدّم الله أعماق محبته يريد منّا كأولاده أن نتذوق ونعيش أيضاً أعماق محبته وقوته.</p>
<p><strong>لذلك يبدأ سفر التثنية</strong> ليعلن عمق رعاية الله لأولاده في برّية العالم، فكيف لاتتغير ثيابهم مع السنين الكثيرة ولم تتورم أرجلهم رغم السفريات الطويلة الشاقّة.</p>
<p>&#8220;ثيابك لم تٰبلَ عليك ورجلك لم تتورم هذه الأربعين سنة&#8221;.</p>
<p><strong>وليس ذلك فقط</strong> بل يقدّم الرب وعوده الصادقة لإستمرار ودوام رعايته لشعبه في المستقبل.</p>
<p>&#8220;لأن الرب إلهك يدخلك أرضاً جيدة واسعة حيث الأودية وينابيع الغمر تنبع من البقاع والجبال، أرضاً لا تأكل فيها خبزك بتقتير ولا يعوزك فيها شئ&#8221;</p>
<p><strong>وسفر صموئيل النبي</strong> يقدّم عمق الإيمان والثقة الكاملة في الله وكيف يتغلب فتى صغير على عملاق بالقوّة الإلهية.</p>
<p>&#8220;من هو هذا الأغلف الذي يُعيّر صفوف الله الحي الرب الذي أنقذني من يد الأسد واللبؤة ينجيني من يد الفلسطيني الأغلف، فقال دَاوُدَ للفلسطيني أنت تأتيني بسيف ورمح وترس وأنا آتيك باسم رب الجنود إله صفوف إسرائيل الذين أنت عيرتهم في هذا اليوم يدفعك الرب إلى يدي فأقتلك وأنزع عنقك عنك&#8221;.</p>
<p><strong>ويطلب الرب في نبوءة إشعياء</strong> عمق الصلاة والطلبة لنختبر عمق خلاصه.</p>
<p>&#8220;ثم أن الرب عاد القول على آحاز قائلاً سَلْ آية من الرب إلهك من العمق أو من العلو فقال آحاز لا أسأل ولا أجرب الله الرب ثم قال إسمعوا يا آل بيت داود أقليل عندكم هذا أن تتعبوا الرجل وكيف تتعبون الرب أيضاً من أجل ذلك يعطيكم السيد نفسه آيه ها إن العذراء تحبل وتلد ابناً وتدعو إسمه عمانوئيل&#8221;.</p>
<p><strong>ويتكلّم في سفر أيوب</strong> عن عمق تدبير الله وحكمته مع البشر والشعوب.</p>
<p>&#8220;ليت الرب يكلمك ويفتح شفتيه لإجابتك بأي نوع ويخبرك بقوّة الحكمة لأنها خفية عنك، ألعلك تقدر أن تعرف غور طريق الرب أو تسلك أقاصي ما صنعه الضابط الكل هو أعلى من السموات فماذا عساك أن تفعل وهو أعمق من الجحيم فماذا تعمل مداه أطول من الأرض وأعرض من البحر&#8221;.</p>
<p><strong>لذلك تتّجه النفس في مزمور باكر</strong> لإلهها الذي قدّم لها عمق إحساناته.</p>
<p>&#8220;ارجعي يا نفسي إلى موضع راحتك لأن الرب قد أحسن إلي وأنقذ نفسي من الموت وعيني من العبرات&#8221;.</p>
<p><strong>ويوبّخ الرب في إنجيل باكر</strong> اليهود الذين يميّزون تَغيُّرات الطبيعة ولكن لا يفهمون تدبير الله وعن عوائق العمق التعاليم الشكلية وقلّة الإيمان.</p>
<p>&#8220;فسألوه أن يريهم آية من السماء فأجاب وقال لهم إذا جاء المساء تقولون هكذا السماء صحو إذ أنها محمرّة بعبوسة يا مراؤون تعرفون أن تميزوا وجه السماء وأما علامات الأزمنة فلا تعرفوها&#8221;.</p>
<p><strong>ويعاتب الرب تلاميذه</strong> لقلّة وضعف إيمانهم.</p>
<p>&#8220;فلما علم يسوع قال لهم لماذا تفكرون في نفوسكم ياقليلي الإيمان أنه لا خبز عندكم أفلا تعلمون حتى الآن ولاتذكرون الخمسة الأرغفة للخمسة الآلاف وكم قفة أخذتم ولا السبعة الأرغفة للأربعة الآلاف وكم سلاً أخذتم&#8221;.</p>
<p><strong>أمّا البولس فيحدثنا</strong> عن عمق الملكوت الذي يقدّمه الله لنا وضرورة تمسّكنا بالنعمة لكي تكون خدمتنا مرضية أمامه.</p>
<p>&#8220;فلذلك نحن إذ قد تسلمنا ملكوتاً لا يتزعزع فلنتمسك بالنعمة التي بها نخدم الله عبادة مرضية بخوف ورعدة لأن إلهنا هو نار آكلة&#8221;.</p>
<p><strong>ويعلن ثقة الإنسان القويّة</strong> في الله ورعايته وعمق شركة الإنسان مع الله في حمل الصليب والتطلّع للسماويات.</p>
<p>&#8220;حتى أننا واثقين: الرب عوني فلا أخاف ماذا يصنع بي الإنسان، فلنخرج إذاً إليه خارج المحلة حاملين عاره لأنه ليس لنا ههنا مدينة باقية لكننا نطلب العتيدة&#8221;.</p>
<p><strong>ويؤكد الكاثوليكون</strong> على ما قاله البولس من أن الخدمة المرضية تأتي من القوة والنعمة التي يمنحها الله، وعلى أيضاً شركة الألم التي نجتازها فيه ولأجله والقوّة والمجد المصاحبان لها.</p>
<p>&#8220;ومن يخدم فكأنه من قوة يعطيها الله حتى يتمجد الله في كل شئ بيسوع المسيح &#8230; ولكن افرحوا بمقدار ماتشاركون المسيح في الآلام لكي تفرحوا في استعلان مجده مبتهجين إذا عُيِّرتُم من أجل اسم المسيح فطوبى لكم لأن المجد والقوة وروح الله يحل عليكم&#8221;.</p>
<p><strong>أمّا الإبركسيس</strong> فيقدّم نموذج للخدّام الذين يبذلون أنفسهم وحياتهم لأجل إسم المسيح وأيضاً وصيّة للشعب أن يلتزم بتعليم الرسل ويحفظ نفسه من دنس العالم وتحذير من<br />
تمسّك البعض بالإفتخار الشكلي بالناموس والتهوّد والبعد عن غنى نعمة المسيح كأساس للتبرير في العهد الجديد.</p>
<p>&#8220;سلاما لكم إذ قد سمعنا أن قوماً منا خرجوا وسجّسوكم بكلام مبلبلين أنفسكم ونحن لم نأمرهم بذلك فقد رأينا واجتمعنا معاً بنفس واحدة أن نختار رجلين فنبعثهما إليكم مع حبيبنا برنابا وبولس رجلين قد بذلا أنفسهما لأجل اسم ربنا يسوع المسيح فأرسلنا يهوذا وسيلا، وهى أن تمتنعوا عما ذبح للأصنام ومن الدم والمخنوق والزنا فإذا حفظتم أنفسكم منها فنعماً تفعلون&#8221;.</p>
<p>ويقدّم <strong>مزمور القدّاس</strong> عمق إرتباط الرب الملك بشعبه وعمق عطاياه لهم.</p>
<p>&#8220;الربُ يجلس ملكاً إلى الأبد. الرب يعطي شعبه قوة. الرب يبارك شعبه بالسلام&#8221;.</p>
<p><strong>ويختم إنجيل القدّاس</strong> بأهميّة أن يكون للإنسان عمق في الحياة مع الله وخطورة أن لا تتغير أعماق الإنسان وتصير سلوكياته كمبادئ أخلاقية وليست ثمار قلب متجدّد وكنز يفيض بالصلاح.</p>
<p>&#8220;الرجل الصالح من كنز قلبه الصالح يخرج الصلاح، كل من يأتي إلي ويسمع كلامي ويعمل به أعلمكم من يشبه، يشبه رجلاً بني بيتاً وحفر وعمق ووضع الأساس على الصخر فلما حدث سيل صدم النهر ذلك البيت فلم يقوَّ على أن يزعزعه لأنه كان مؤسساً على صخر&#8221;.</p>
<h3>ملخّص القراءات</h3>
<table width="506">
<tbody>
<tr>
<td width="94">سفر التثنية</td>
<td width="412">عمق رعاية الله</td>
</tr>
<tr>
<td width="94">صموئيل الأول</td>
<td width="412">عمق الإيمان</td>
</tr>
<tr>
<td width="94">سفر إشعياء</td>
<td width="412">عمق الصلاة</td>
</tr>
<tr>
<td width="94">سفر أيوب</td>
<td width="412">عمق تدبير الله وحكمته</td>
</tr>
<tr>
<td width="94">مزمور باكر</td>
<td width="412">الرب يقدّم للنفس عمق إحساناته</td>
</tr>
<tr>
<td width="94">إنجيل باكر</td>
<td width="412">عوائق العمق الحياة الشكلية وقلّة الإيمان</td>
</tr>
<tr>
<td width="94">البولس</td>
<td width="412">الرب أعطانا ملكوتاً لايتزعزع ونحن نتمسّك بالنعمة ونثبّت قلوبنا بها</td>
</tr>
<tr>
<td width="94">الكاثوليكون</td>
<td width="412">عمق الأمانة في الخدمة وفي المواهب</td>
</tr>
<tr>
<td width="94">الإبركسيس</td>
<td width="412">خدّام يبذلون أنفسهم وحياتهم لأجلها</td>
</tr>
<tr>
<td width="94">مزمور القدّاس</td>
<td width="412">عمق إرتباط الرب بشعبه وعمق عطاياه لهم</td>
</tr>
<tr>
<td width="94">إنجيل القدّاس</td>
<td width="412">صلاح القلب هو أساس أعمالنا والعمل بالكلمة هو صخرة حياتنا</td>
</tr>
</tbody>
</table>
<h3>الكنيسة في قراءات اليوم</h3>
<table width="506">
<tbody>
<tr>
<td width="91">سفر إشعياء</td>
<td width="416">التجسّد ودوام بتولية العذراء</td>
</tr>
<tr>
<td width="91">سفر أيوب</td>
<td width="416">حقيقة السموات والجحيم</td>
</tr>
<tr>
<td width="91">البولس</p>
<p></td>
<td width="416">µ   الجهاد والنعمة</p>
<p>µ   سر الزواج</p>
<p>µ   شركة القدّيسين</p>
<p>µ   مذبح العهد الجديد</td>
</tr>
<tr>
<td width="91">الإبركسيس</td>
<td width="416">مجمع أورشليم</td>
</tr>
</tbody>
</table>
<h3>أفكار مقترحة للعظات</h3>
<h4>(1) العمق في الحياة والعشرة مع الله</h4>
<p><strong>عمق رعاية الله وعمق إحساناته </strong></p>
<table width="503">
<tbody>
<tr>
<td width="147">سفر التثنية ومزمور باكر</td>
<td width="26">←</td>
<td width="329">ثيابك لم تبل عليك ورجلك لم تتورم هذه الأربعين سنة</td>
</tr>
</tbody>
</table>
<p><strong>عمق الإيمان</strong></p>
<table width="510">
<tbody>
<tr>
<td width="121">سفر صموئيل الأول</td>
<td width="26">←</td>
<td width="363">أنت تأتيني بسيف ورمح وترس وأنا آتيك باسم رب الجنود</td>
</tr>
</tbody>
</table>
<p><strong>عمق الصلاة</strong></p>
<table width="506">
<tbody>
<tr>
<td width="76">سفر إشعياء</td>
<td width="26">←</td>
<td width="404">سل آية من الرب إلهك من العمق أو العلو</td>
</tr>
</tbody>
</table>
<p><strong>عمق تدبير الله وحكمته</strong></p>
<table width="510">
<tbody>
<tr>
<td width="72">سفر أيوب</td>
<td width="26">←</td>
<td width="412">ألعلك تقدر أن تعرف غور طريق الرب</td>
</tr>
</tbody>
</table>
<p><strong>عمق الأمانة في الخدمة</strong></p>
<table width="515">
<tbody>
<tr>
<td width="79">الكاثوليكون</td>
<td width="30">←</td>
<td width="406">وليكن كل واحد بحسب ما أخذ من موهبة يخدم بها كما يليق كوكلاء صالحين على نعمة الله المتنوعة</td>
</tr>
<tr>
<td width="79">إنجيل القدّاس</td>
<td width="30">←</td>
<td width="406">عمق الأساس من خلال العمل بكلام الله وثباته أمام الريح والبحر</td>
</tr>
</tbody>
</table>
<h4>(٢) ماذا نحتاج في حياتنا لنعيش العمق ؟</h4>
<table width="506">
<tbody>
<tr>
<td width="144">سفر التثنية وإنجيل القدّاس</td>
<td width="363">·          كلمة الله تشبعنا أكثر من الخبز وتجعلنا مثل الصخر</td>
</tr>
<tr>
<td width="144">سفر إشعياء والكاثوليكون</td>
<td width="363">الصلاة الدائمة والعميقة</td>
</tr>
<tr>
<td width="144">إنجيل باكر</td>
<td width="363">الإحتراز الدائم من الرياء</td>
</tr>
<tr>
<td width="144">البولس</td>
<td width="363">التمسّك بالنعمة والعبادة بخشوع وتقوى</td>
</tr>
<tr>
<td width="144">البولس والكاثوليكون</td>
<td width="363"> المحبة الأخوية بلا إدانة وضيافة الإخوة بلا تذمّر وخدمة المتضايقين قبول الألم بفرح كشركة مع المسيح له المجد</td>
</tr>
</tbody>
</table>
<h3> عظات آبائية</h3>
<h4>لماذا تنظر القذى الذي في عين أخيك - للقديس أغسطينوس<a href="#_ftn2" name="_ftnref2">[2]</a></h4>
<p><strong>&#8220;</strong><strong>ولماذا تنظُرُ القَذَى الذي في عَينِ أخيكَ، وأمّا الخَشَبَةُ التي في عَينِكَ فلا تفطَنُ لها؟&#8221; </strong>(مت7: 3)</p>
<p>فلو سقط أخوك في خطية الغضب، تسقط أنت في خطية الكراهية (بإدانتك له). وهناك فرق شاسع بين الغضب والكراهية كما هو بين القذى والخشبة. لأن الكراهية هي غضب مزمن، فبطول الزمن إشتد القذى (الغضب) حتى صار يدعى بحق خشبة (الكراهية). فإنك إن غضبت على إنسان فلابد أنك ترغب في رجوعه إلى الحق، أما إذا كرهته فلا يمكن لك أن تشتاق إلى رجوعه.</p>
<p><strong>&#8220;أم كيفَ تقولُ لأخيكَ: دَعني أُخرِجِ القَذَى مِنْ عَينِكَ، وها الخَشَبَةُ في عَينِكَ؟ يا مُرائي، أخرِجْ أوَّلاً الخَشَبَةَ مِنْ عَينِكَ، وحينَئذٍ تُبصِرُ جَيِّدًا أنْ تُخرِجَ القَذَى مِنْ عَينِ أخيكَ!&#8221; </strong>(مت7: 4، 5)</p>
<p>أزل عنك الكراهية حتى تستطيع إصلاح من تحبه. حسنا يقول الرب &#8220;<strong>يا مرائى</strong>&#8221; لأن الإنسان المحب، وحده الذي له أن يشتكي من خطايا الآخرين، أما الشرير، فمتي إشتكى على الآخرين يكون مرائياً، إذ يظهر بصورة غير التي هو عليها .. فهناك صنف من المتصنعين يشتكون من خطايا الآخرين كالكراهية والضغينة بقصد الظهور بمظهر أصحاب المشورة .. لنحذر لئلا نسقط في هذا،</p>
<p>كذلك إذا اضطررت إلى الكشف عن أخطاء الآخرين أو انتهارهم، فلننظر إلى أنفسنا إن كنا نرتكب نفس الخطايا، أو سبق لنا إرتكابها. فإن كنا لم نرتكبها لنعلم أننا بشر معرضون للخطية. أما إن كنا قد إرتكبنا الخطية من قبل وقد تحررنا منها، فلنذكر ضعفنا على الدوام.</p>
<p>لذلك وجب علينا أن نكن لمن نكشف أخطاءهم المحبة لا الكراهية .. ولنحذر لئلا ننشغل بخطاياهم .. فلا نلوم الخاطيء ولا ننتهره، بل نحزن بشدة على حالتنا هذه، غير طالبين منه أن يطيعنا، بل أن يجاهد معنا.</p>
<p>عندما يقول الرسول بولس: <strong>&#8220;فصِرتُ لليَهودِ كيَهوديٍّ لأربَحَ اليَهودَ. وللذينَ تحتَ النّاموسِ كأنِّي تحتَ النّاموسِ لأربَحَ الذينَ تحتَ النّاموسِ. وللذينَ بلا ناموسٍ كأنِّي بلا ناموسٍ - مع أنِّي لستُ بلا ناموسٍ للهِ، بل تحتَ ناموسٍ للمَسيحِ - لأربَحَ الذينَ بلا ناموسٍ. صِرتُ للضُّعَفاءِ كضَعيفٍ لأربَحَ الضُّعَفاءَ. صِرتُ للكُلِّ كُلَّ شَيءٍ،</strong> <strong>لأُخَلِّصَ علَى كُلِّ حالٍ قَوْمًا.&#8221;</strong> (1كو9: 20- 22)، فبلا شك لا يفعل هذا تصنعاً كما قد يحسب البعض، مررين بذلك تصنعهم الممقوت، فهو يفعل هذا حباً فيهم، متأثراً بضعفات الآخرين حاسباً إياها ضعفاً له. وقد سبق أن وضع هذه القاعدة &#8220;<strong>فإنِّي إذ كُنتُ حُرًّا مِنَ الجميعِ، استَعبَدتُ نَفسي للجميعِ لأربَحَ الأكثَرينَ.</strong>&#8221; (1كو9: 19) وتظهر محبته وشفقته على الضعفاء كما لو كانت ضعفاتهم ضعفه هو. وليس تصنعاً منه قوله: &#8220;<strong>فإنَّكُمْ إنَّما دُعيتُمْ للحُرِّيَّةِ أيُّها الإخوَةُ. غَيرَ أنَّهُ لا تُصَيِّروا الحُرِّيَّةَ فُرصَةً للجَسَدِ، بل بالمَحَبَّةِ اخدِموا بَعضُكُمْ بَعضًا</strong>&#8221; (غل5: 13)</p>
<p>فعلينا الا نستخدم التوبيخ إلا نادراً. وإذا إضطررنا إلى إستخدامه يجب علينا أن نسعي بشغف إلى خدمة الله لا أنفسنا. ليكون لنا هدفاً واحداً، فلا نفعل شيئاً بقلب مزدوج. لنخرج من أعيننا خشبة الحسد أو الحقد أو التصنع، حتي نتمكن من الإبصار فنخرج القذى من عيني أخينا. لننظر إلى القذى بعيني الحمامة، اللتين لعروس المسيح (نش4: 1) ، التي إختارها الله لنفسه كنيسة مجيدة لا دنس فيها ولا غضن، أي نقية لا غش فيها. (أف5: 27).</p>
<h4>الأساسان: الصخر أو الرمل - للقديس يوحنا ذهبي الفم<a href="#_ftn3" name="_ftnref3"><sup>[3]</sup></a></h4>
<p>❈ بعد أن أنهى السيد الرب الحديث عن كل شيء، تحدث إليهم بدقة عن الفضائل وأشار إلى المتظاهرين بها، من كل نوعٍ وصنفٍ، بخصوص تظاهرهم بالصوم والصلاة، والذين يأتوننا في ثياب حملان، والذين يدوسون المواهب، ويُدْعَون أيضاً بالخنازير والكلاب.</p>
<p>ثم يتقدم ليشير لا إلي كيفية عظم الربح الذي يأتي من وراء الفضيلة هنا على الأرض، ويبين فداحة الشر بقوله: <strong>&#8220;فكُلُّ مَنْ يَسمَعُ أقوالي هذِهِ ويَعمَلُ بها، أُشَبِّهُهُ برَجُلٍ عاقِلٍ&#8221;</strong> (مت7: 24)، ويعني هذا : قد سمعتم ما يمكن أن يعاينه أولئك الذين لا يسمعون ولا يعملون بما يسمعوه رغم أنهم يصنعون معجزات، ويجب أن تعرفوا أيضاً ما يتمتع به كل من يطيع هذه الأقوال كلها، لا في الدَّهر الآتي فقط، بل هنا أيضاً. &#8220;<strong>فكل من يسمع</strong>&#8221; كما يقول &#8220;<strong>أقوالي هذِهِ ويَعمَلُ بها، أُشَبِّهُهُ برَجُلٍ عاقِلٍ، بَنَى بَيتَهُ علَى الصَّخرِ</strong>&#8220;، أترون كيف ينوع في حديثه؟ ففي مرة يقول: &#8220;<strong>ليس كُلُّ مَنْ يقولُ لي: يا رَبُّ، يا رَبُّ!</strong>&#8220;، ثم يكشف عن نفسه في مرة أخرى&#8221; <strong>بل الذي يَفعَلُ إرادَةَ أبي</strong>&#8221; ، ومرة أخري يعلن نفسه &#8220;ديَّاناً&#8221;، &#8220;<strong>كثيرونَ سيقولونَ لي في ذلكَ اليومِ: يا رَبُّ، يا رَبُّ! أليس باسمِكَ تنَبّأنا</strong>. <strong>فَحينَئذٍ أُصَرِّحُ لهُمْ: إنِّي لم أعرِفكُمْ قَطُّ!</strong>&#8221; (مت7: 21، 22)، ويشير هنا أيضاً إلى سلطانه على الجميع، لهذا يقول: &#8220;<strong>كُلُّ مَنْ يَسمَعُ أقوالي</strong>&#8220;. وبينما يلمس حديثه المستقبل من الملكوت، والمكافأة والتعزية التي لا يُنطق بهما. وما شابه ذلك، فإن إرادته، أيضاً بالنسبة لأمور هذا العالم هو أن يعطيهم ثماراً، وأن يشير إلى عظم هذه الفضيلة، حتى في الحياة الحاضرة. فما هي قوة الفضيلة؟.</p>
<p>أن نعيش في أمان، وألا يتسلط علينا أيّ رعب، من جانب الذين يحتقروننا. فأي شيء يعادل هذا الحال؟ لأنه حتى الذي يرتدي وشاح الملك لا يقدر أن يوفر لنفسه ذلك. أما من يمارس الفضيلة، فهو يملك كل شيء في وفرة، ويستمتع بهدوء عظيم في غمرة آلام الزمان الحاضر. والعجيب أن يتمتع بهذا في شدة العاصفة، وفِي ثقل الضيقة، وباستمرار التجارب، لا يهتز ولو قليلاً إذ يقول السيد المسيح: &#8220;<strong>فنَزَلَ المَطَرُ، وجاءَتِ الأنهارُ، وهَبَّتِ الرِّياحُ، ووَقَعَتْ علَى ذلكَ البَيتِ فلم يَسقُطْ، لأنَّهُ كانَ مؤَسَّسًا علَى الصَّخرِ</strong>&#8221; (مت7: 25).</p>
<p>يشير رمزياً إلى الضيقات بألفاظ مثل &#8220;المطر&#8221; و&#8221;الفيضان&#8221; و&#8221;الرياح&#8221;، وهي ضيقات تسقط علي الناس مثل: الاتهامات الباطلة، والمؤامرات، وفقدان الوالدين والأخصاء والأصدقاء، وشرور الحياة، والقلاقل من الغرباء، وكل ما يمكن أن يحل بالإنسان من ضربات. ويقول الرب إن النَّفس المؤسسة على الصخر. وهي الكلمة التي تشير إلي الثبات في تعاليم المسيح، لأن وصاياه في الحقيقة أقوى من الصخر وتضع الإنسان أعلى من الأمواج الهادرة والحياة العاتية. لأن من يحفظ وصاياه في ثبات ، لن يتهاوى إذا اضطهده الآخرون، بالعكس فإنه سينتفع من وراء المؤامرات المحاكة ضده. وليس في هذا فخر زائف. فإن أيوب شاهدنا علي ذلك ، فهو ذلك الرجل الذي تلقى كل ضربات الشيطان، وكان مكروهاً من الجميع.</p>
<p>والرسل أيضاً شهودنا، لأنهم حين ضربتهم كل أمواج العالم، ووقف ضدهم كل الأمم والحكام، وشعبهم أيضاً والغرباء، والأرواح الشِرّيّرة والشيطان، وكل آلة تتحرك، وقفوا راسخين أقوي من الصخرة ، فبددوا كل الاضطرابات، وكانت حياتهم أسعد من حياة الآخرين. فلا الثروة ولا قوة البدن ولا المجد ولا السلطان ولا أيّ شيء آخر، يمكنه أن يوفر لنا الأمان، إنما الذي يوفره هو اقتناء الفضيلة. لأنه ما من حياة أبداً تخلو من كل الشرور، إلا هذه الحياة التي نحياها هنا، وأنتم شهود، وترون المؤامرات في قصور الملك، والضيقات والمتاعب في بيوت الأغنياء، لكن شيئاً من هذا لا تجدونه بين الرسل. ماذا إذن؟ ألم يعانوا هم من شرور على أيدي الناس؟ بلي، لقد عانوا من أبشع المؤامرات، وواجهوا أشد العواصف التي انفجرت في وجوههم، لكن أرواحهم لم تنهزم أبداً، ولا أصابهم يأس، بل صارعوا بأجساد عارية وانتشرت كرازتهم وانتصروا.</p>
<p>وكذلك أنتم بالمثل، إن أردتم تحقيق هذه الأمور، فسوف تضحكون من كل المتاعب وتزدرون بها، أجل، لأنكم إن تقوَّمتم فقط بهذه الفلسفة لن يؤذيكم شيء، ولن يقدر عليكم من يحيك ضدكم المؤامرات.</p>
<p>هل سيسلب أحد أموالكم؟ حسناً، لكن قبل أن يهددكم، فإن الرب أمركم أن تحتقروا المال، وأن تتعففوا عنه تماماً. وفِي نفس الوقت لا تظنوا أن هذا الأمر من تدبير ربكم.</p>
<p>هل يلقونكم في السجن؟ ألم يأمركم أن تحيوا هكذا؟ أن تُصلبوا عن العالم، فهل يتكلمون عنكم بالشر؟ كلا، فقد خلصكم المسيح من هذا الألم أيضاً، بوعده لكم بمكافآت عظيمة دون تعب إذا احتملتم الشر. وقد حرركم من الغضب والاضطراب الناجم منه، وهو الذي يوصيكم أن تصلوا أن يخلصكم الله منه.</p>
<p>هل ينفيكم أحد ويسبب لكم متاعب جمة؟ حسناً، فإن الرب يجعل إكليلكم أكثر مجداً.</p>
<p>هل يدمركم ويقتلكم؟ حتى وإن فعل هذا، فإنه ينفعكم نفعاً كبيراً، إذ تنهال عليكم أكاليل الشهادة، وتبلغون السماء في منتهى السرعة بلا تعب، وتتوفر لكم أعظم فرص المجازاة الوفيرة والغنى. ويسمح لكم أن تستفيدوا من أكبر عقوبة تحل بالشر وهي الموت.</p>
<p>والأمر الأكثر عجباً من كل ما سبق، أن كل المتآمرين ضدكم، إذ لا يقدرون إلحاق الضرر بكم، بالحري يجعلون من أنفسهم موضع ازدراء.</p>
<p>فما الذي يمكن مقارنته بمثل هذا النمط من الحياة؟ وإذ يدعو الرب الطريق كرباً وضيقاً ليخفف من أتعابنا من هذه الجهة أيضاً، فإنه يشير إلى الأمان العتيد والعظيم جداً وإلى المسرة البالغة، مهما كان حجم الضيق والألم.</p>
<p>وكما اعتبر الرب الفضيلة أمراً له ثماره الصَّالحة من بين كل الأشياء هنا، فقد أظهر العقوبات المُرة للرذيلة أيضاً.</p>
<p>وأكرر ما سبق أن قلته قبلاً، إن الرب يأتينا في كلا الطريقين بالخلاص لكل من يسمع أقواله. بالغيرة علي عمل الصلاح (الفضيلة) من جهة، ومن جهة أخري بكراهية الرذيلة. وإذا وُجد البعض من الذين يعجبون بما قاله الرب، بينما لا تدل أعمالهم على أنهم تأثروا بما سمعوه، فإن الرب يثير مخاوفهم، فالسمع وحده ليس كافياً لتوفير الأمان مهما كان ما سمعوه صالحاً، بل هناك الحاجة أيضاً إلى الطاعة التي تظهر بالأعمال، والاستجابة الفعلية، وينهي عظته وحديثه بأن يبلغ بالخوف إلى قمة ذروته فيهم. ومثلما تحدث عن مجازاة الفضيلة بالملكوت والسماء والمجازاة التي لا ينطق بها، والتعزية والراحة والصالحات والخيرات التي لا تُعد ولا تُحصى، هكذا تحدث أيضاً عن أمور الحياة الحاضرة الدالة علي ثبات الصخرة ورسوخها الذي لا يتزعزع، ولا يثير مخاوفهم من خلال أمور منتظرة فقط. كماهو الحال مع الشجرة التي قُطع أصلها، والنار التي لا تُطفأ، والذين لا يدخلون الملكوت. ومن قوله &#8220;<strong>إني لا أعرفكم</strong>&#8220;، ولكن أيضاً من الأمور الحاضرة مثل سقوط البيت.</p>
<p><strong>بناء البيت علي الرمل</strong></p>
<p>❈ لهذا السبب يوضح كلامه بالأكثر، فإنه يُظهر قوته في مَثَل، وهو لا يكرر كلامه، فقوله: &#8220;الصَّالح أكثر ثباتاً ، لكن الشرير يسهل سقوطه&#8221; لا يعد نفس الشيء. ومثلما يقارن بين الصخرة والبيت، والأنهار والأمطار والرياح وما شابه.</p>
<p>يقول: &#8220;<strong>وكُلُّ مَنْ يَسمَعُ أقوالي هذِهِ ولا يَعمَلُ بها، يُشَبَّهُ برَجُلٍ جاهِلٍ، بَنَى بَيتَهُ علَى الرَّملِ</strong>.&#8221; (مت7: 26)، حسناً وصف مثل هذا الرجل بالجاهل. لأنه أيّ غباء أكثر من بناء بيت على الرمل، فالجاهل يتعب إذ يمارس العمل بيديه، لكنه يحرم نفسه من الثمر ومن التعزية، بل وينال عقاباً، والذين يسلكون في الشر يُتعبون أنفسهم، وهم ظاهرون لكل واحد، فمنهم المرابي والزاني والمتهم بالباطل، وكلهم يتعبون أنفسهم ويكِدّون كثيراً لجلب شرورهم وجعلها مؤثرة. لكنهم لا يجنون أبداً ثمار أتعابهم، بل يصيبون أنفسهم بخسارة بالغة. وقد أشار بولس أيضاً إلى هذا حين قال: &#8220;<strong>مَنْ يَزرَعُ لجَسَدِهِ فمِنَ الجَسَدِ يَحصُدُ فسادًا</strong>&#8220;(غل٦: ٨). ويشبهون من يبني بيته علي الرمل بالذين يسلمون أجسادهم للزنا والدعارة والخمر والغضب وكل شيء آخر.</p>
<p>ذلك مثل آخاب، وليس مثل إيليا، لأننا حين نضع الفضيلة في مقابل الرذيلة سندرك على الفور الفارق بينهما. لأن واحداً بني على الصخر والآخر على الرمل، ورغم أنه كان ملكاً، خاف وارتعب عند مقابلته لنبي، ارتعب من إنسانٍ لا يملك إلا جلد غنم. هكذا كان اليهود وليس الرسل، فرغم أنهم -أي الرسل- كانوا قليلي العدد وفِي قيود، فقد أظهروا رسوخاً كالصخر، أما أولئك فعلى الرغم من كثرة عددهم وتسليحهم، إذ كان عددهم ضعف عدد الرجال، لأنهم هكذا قالوا: &#8220;<strong>ماذا نَفعَلُ بهذَينِ الرَّجُلَينِ؟</strong>&#8221; (أع٤: ١٦).</p>
<p>هل رأيتم كيف أن الذين امسكوا بالقيود والسلاسل كانوا حيارى؟ بينما المقيدون ليسوا كذلك. هل تسلطتم على الآخرين؟ هل أنتم في ضيقة وكرب؟ إن كان كذلك فهذا أمر طبيعي. بقدر ما بنوا على الرمل كانوا أضعف من الجميع. ولهذا أيضاً قالوا: &#8220;<strong>تُريدونَ أنْ تجلِبوا علَينا دَمَ هذا الإنسانِ</strong>&#8221; (أع٥: ٢٨). فماذا نقول؟ هل تجْلد وأنت خائف؟ هل تعامل الناس باحتقار وتشعر باليأس؟ أم هل تدين ومع ذلك ترتعب؟ لأن الشر هكذا دائماً واهن وضعيف. لكن الرسل ليسوا كذلك، إذ يقولون: &#8220;<strong>لأنَّنا نَحنُ لا يُمكِنُنا أنْ لا نتكلَّمَ بما رأينا وسمِعنا</strong>&#8221; (أع٤: ٢٠).</p>
<p>أرأيتم روحاً بهذا النبل ، وصخرة تسخر من الأمواج وتحتقرها؟ أرأيتم بيتاً لا يتزعزع؟ إنهم لا يهتزون أمام المؤامرات المدبرة ضدهم، بل بالحري يتشجعون بالأكثر، ويلقون بالآخرين في مزيد من الإرتباك والقلق.</p>
<p>هكذا حال الذي يضرب بصلابة، ومن يضرب حجراً صلباً ترتد الضربة إليه هو، ومن يركل حجراً ترتد الركلة إليه هو. أما من يثخن الآخرين بالجراح، والذي يثير المؤامرات ضد الأتقياء، فهو الذي يقع في الورطة. لأن الشر دائماً ما يكون هو الأضعف، كلما نظم نفسه ضد الفضيلة. وكالإنسان الذي يحتضن النار في ثوبٍ، لا يُطفيء اللهب بل يحرق الثوب، هكذا كل من يضرب الفضلاء ويقهرهم ويقيدهم، يجعلهم أكثر مجداً، ويدمر نفسه. وكلما زادت عليك الآلام وأنت تحيا حياة البر، صرت أقوى. لأنه كلما أكرمنا ضبط النَّفس أكثر، قلّ احتياجنا لأي شيء. وكلما قل احتياجنا لأي شيء صرنا أقوى وفوق كل شيء.</p>
<p>هكذا كان يوحنا المعمدان ، الذي كان واحداً من هؤلاء. لهذا لم يؤلمه أحد. لكنه تسبب في إلحاق الألم بهيرودس. كان الذي لا يملك شيئاً قادراًعلى مقاومة الذي يحكم. والذي يرتدي وشاح المُلك والأورجوان والصولجان ويملك قوة لا تنتهي، يرتعد ويخاف من الذي لا يملك شيئاً، بل خاف الملك حتي من الرأس المقطوعة. حتي أنه بعد موت يوحنا ظل هيرودس يرتعد منه بقوة شديدة، اسمعوا ما يقوله: &#8220;<strong>هذا هو يوحنا الذي قطعت رأسه</strong>&#8221; (مت ١٤: ٢ ؛ لو ٩:٩). يقصد هذا هو الذي قطعت أنا رأسه أو ذبحته، وهو ليس حديث إنسان يتباهي بما فعل، بل يرتعد ويريد أن يسكن من روعه، ويهدئ نفسه، إذ يتذكر ما فعله أنه هو نفسه قد ذبح يوحنا المعمدان.</p>
<p>حقاً ما أعظم قوة الفضيلة، فهي تُصيَّر صاحبها بعد موته أقوى مما كان في حياته. ولهذا حين كان الذين لديهم ثروات كبيرة كانوا يأتون إليه ويقولون: ماذا يجب أن نفعل؟ (كو٣: ١٠، ١٤).</p>
<p>فهل هذا هو حالكم؟ هل تهتمون أن يتعلم من يحيا في رخاء منكم كيف تحيون أنتم الذين لا تملكون شيئاً؟ هل يتعلم الأغنياء من الفقراء؟ والأثرياء من المعدمين؟.</p>
<p>هكذا كان إيليا أيضاً، لهذا يتحدث إلى شعبه بكل حرية. ومثلما قال يوحنا المعمدان: &#8220;<strong>يا أولادَ الأفاعي</strong>&#8221; (مت٣: ٧). هكذا إيليا قال لهم: &#8220;<strong>حتَّى مَتَى تعرُجونَ بَينَ الفِرقَتَينِ؟</strong>&#8221; (١مل١٨: ٢١). وبينما قال المعمدان: &#8220;<strong>لا يَحِلُّ أنْ تكونَ لكَ امرأةُ أخيكَ</strong>&#8221; (مر٦: ١٩)، هكذا قال إيليا :&#8221;<strong>هل قَتَلتَ ووَرِثتَ أيضًا؟</strong>&#8220;(١مل٢١: ١٩).</p>
<p>هل ترون الصخرة؟ أرأيتم الرمل، كيف يغوص بسهولة، وكيف يتأثر بالمصائب بسهولة؟ وكيف ينهزم؟ ورغم أنه مدعم بالملكية والجماعة والنبلاء، لا يسقط هكذا فحسب، بل ويكون سقوطه عظيماً، إذ يقول: &#8220;<strong>وكانَ سُقوطُهُ عظيمًا!</strong>&#8221;</p>
<p>فالخطورة ليست في التوافة، بل في النَّفس، وخسارة السماء، وتلك البركات الخالدة. وحتي قبل الخسارة، ليست هناك حياة أتعس من حياة إنسان يعيش هكذا، في شقاء دائم، وانزعاج واضطرابات وهموم. والذي تحدث عنه الحكيم مرة قائلاً: &#8220;<strong>الشِّرِّيرُ يَهرُبُ ولا مُطارِدَ</strong>&#8221; (أم٢٨: ١). لأن مثل هؤلاء الناس يرتعدون حتي من مجرد رؤية ظلالهم، ويرتابون في أصدقائهم وأعدائهم وخدمهم، والذين يعرفونهم والذين لا يعرفونهم. ولذلك وقبل عقابهم النهائي، يعاقبون هنا بالعقاب الشديد، إذ يمتنعون عن تنفيذ الوصايا الجيدة الصَّالحة، مخدوعين بأمور الزمان الحاضر، بدلاً من هروبهم من حياة الرذيلة. وكان اللائق بهم أن يهربوا من الشر.</p>
<p>لأنه وعلي الرغم من أن النقاش كان حول الأمور العتيدة بشكل أوسع وأعم، فإنه من القوة أن نمتنع عن الأمور الأخطر، هاربين من الشرور.</p>
<p>لهذا أنهي الموضوع بقولي إن الربح الذي يناله المداومون علي الصلاح سيدوم فيهم، وإذ نعي نحن كل شيء الحاضر والعتيد، فلنهرب من الرذيلة ونحيا في الفضيلة، حتى لا تكون أعمالنا بلا ثمرٍ، وبلا ترتيب، بل نتمتع بالأمان هنا، ونشترك في المجد هناك، الذي يهبنا إياه الله بالنعمة والمحبة التي لنا نحن البشر، بربنا يسوع المسيح الذي له المجد والقوة الآن وإلى أبد الآبدين كلها آمين .</p>
<h4>يا مرائي أخرج أولاً الخشبة من عينك - للقديس يوحنا ذهبي الفم<a href="#_ftn4" name="_ftnref4">[4]</a></h4>
<p><strong>&#8220;يا مُرائي، أخرِجْ أوَّلاً الخَشَبَةَ مِنْ عَينِكَ&#8221; (مت7: 5).</strong></p>
<p>هنا تظهر مشيئته فى إظهار الغضب الكبير ضدهم ،فهم يفعلون الشئ ذاته، وحين يكشف لهم عن جسامة الخطية وبشاعة العقاب وشدة الغضب الموفرة لهم، يبدأ بتوبيخهم. إذ قال لمن كان يتاجر بالمئة دينار وهو غاضب: &#8220;<strong>أيُّها العَبدُ الشِّرِّيرُ، كُلُّ ذلكَ الدَّينِ ترَكتُهُ لكَ</strong>&#8221; (مت١٨: ٣٢). ويقول هنا أيضاً &#8220;ايها المرائي&#8221;، لأن المرائي لا يحكم على الآخرين بغرض حمايتهم، بل بسبب إرادته الشريرة، وبينما يضع قناعاُ من الخير على وجهه، يمارس أبشع الشرور ويصدر توبيخات بغير أساس، وإتهامات تسبب انشقاقه على أقربائه، متشحاً بوشاح المٌعلَّم وهو لا يستحق حتى أن يكون تلميذاً -لهذا يدعوه الرب بالمرائي- لأنكم تبدون حرارة واضحة فى انتقاد أفعال الآخرين، حتى أنكم ترصدون لهم كل شئ، فكيف تسامحون أنفسكم؟ حتى أنكم تتغاضون عن أفظع الأمور: &#8220;<strong>أخرِجْ أوَّلاً الخَشَبَةَ مِنْ عَينِكَ</strong>&#8220;.</p>
<p>ألا ترون أنه لا يمنع الحُكم على الآخرين، بل يأمرنا أن نُخرج أولاً الخشبة التى في عيوننا ثم نحكم على أفعال الآخرين، إن كانت خطأ أم صواب. لأن كل إنسان فى الحقيقة يعرف أمور حياته أفضل من معرفته لأمور الآخرين، فيرى أموره الأكبر أكثر من الأقل، ويحب نفسه أكثر من قريبه. لهذا إن كنتم تحكمون على الآخرين بدافع الوصاية والعناية، فأني أنصحكم أن تهتموا بأنفسكم أولاً. فإن الخطايا عندكم أكثر وضوحاً وضخامة. لكنكم إن أهملتم نفوسكم لأصبح من المؤكد أنكم لا تنصحون إخوتكم على سبيل الرعاية بل بدافع الكراهية، والرغبة فى التشهير بهم. لأنه ماذا لو كان من الواجب محاكمتهم، كان من الأوجب أن يتم هذا بواسطة إنسان لا يرتكب هو هذه الحماقات، وليس بواسطتكم.</p>
<p>ولأن السيد الرب قد أدخل تعاليم عظيمة وسامية عن إنكار الذات، فلئلا يقول أحد إنه من السهل ممارسة ذلك بالكلام، أراد أن يظهر ثقته الكاملة، وأنه لم يكن مثقلاً أبداً بأيّ من الأمور المذكورة، بل أكمل كل برّ فى حين حسن، قال هذا المثال، وأنه سيدين المسكونة كلها بالعدل فيما بعد، لهذا يقول: &#8220;<strong>ويلٌ لكُمْ أيُّها الكتبةُ والفَرِّيسيّونَ</strong>&#8221; (مت ٢٣: 13). لم تكن فى عين (الرب) قذى ليخرجها، ولا كانت فى عينه خشبة، بل ولأنه طاهر فى كل شئ، يُقَوِّم أخطاء الجميع ويضبطها. لهذا يقول لنا لا يليق أن ندين الآخرين أبداً (حين يكون المرء مثقلاً بنفس الخطايا).</p>
<p>ولماذا تتعجبون من تأسيسه هذا القانون ،واللص نفسه قد عرفه وهو على الصليب، قائلاً للص الآخر: &#8220;<strong>أوَلا أنتَ تخافُ اللهَ، إذ أنتَ تحتَ هذا الحُكمِ بعَينِهِ؟</strong>&#8221; (لو٢٣: ٤٠-١٤)، معبراً عن نفس المشاعر تجاه المسيح.</p>
<p>لكنكم إذ تعجزون عن خلع الخشبة من عيونكم ،لا ترون ذلك، بل ترون فقط القذى الذي فى عين الآخر، وتدينونه أيضاً. وتحاولون أن تخلعوه. وكأن شخصاً ما قد أصيب بداء الاستسقاء الخطير، أو بأيّ مرضٍ آخر يصعب شفاؤه، فيهمل حالته ويلتفت إلى إنسان أصيب ولو بورم طفيف. ومن الشر أن يغفل الإنسان عن آثامه هو، ومن الأشر بالأكثر أن يدين الآخرين. بينما الدائنون أنفسهم يحملون فى عيونهم أخشاباً -فما من خشبة أثقل من الخطية- لهذا حثهم الرب بهذه الكلمات. فعلى المثقلين بذنوب بلا حصر ألا يدينوا الآخرين في حرارة خاصة حين تكون خطايا الآخرين تافهة.</p>
<p>ولا يمنع السيد التوبيخ ولا التقويم، بل يمنع الناس من إهمال خطاياهم الشخصية مع رصد خطايا الآخرين. لأن ذلك يسبب انزلاق الناس فى رذائل كبار، جالبين على أنفسهم شروراً عظيمة مضاعفة. لأن كل من يحاول التهوين من شأن خطاياه الشخصية مهما كان عظمها، ورصد والتفتيش بمرارة عن آثام الآخرين مهما كانت قلتها وتفاهتها، ينزلق إلى طريقين:</p>
<p>أولاً: تهاونه فى خطاياه الذاتية.</p>
<p>ثانياً: إقامة عداوة وخصومة مع كل الناس، متدرباً كل يوم على قسوة القلب وعدم الشعور بالآخرين.</p>
<div>
<div id="yiv6011647003">
<div id="yiv6011647003">
<div>
<div>
<div>
<h3><span>عظات آباء وخدام معاصرون : </span></h3>
</div>
</div>
</div>
</div>
</div>
</div>
<h4><span>هل أعمى يقود أعمى ؟ </span><span>لقداسة البابا تواضروس</span></h4>
<div>
<div>
<div>
<div id="yiv6011647003yqtfd34345">
<p><b><span>لو ( ٦ ، ٢٩ – ٤٩ )  </span></b><b><span>هل أعمى يقود أعمى ؟</span></b></p>
<p><span>هذا الإنجيل يعتبر نهاية العظة على الجبل ، حسب ما سجلها القديس لوقا الطبيب ، وبالرغم من أن هذا الجزء صغير لكن فيه أربعة أمثلة ، وهذه الأمثلة مستوحاة كلها من الطبيعة ، ربما يكون فيها تشبيه ، وربما يكون أكثر واقعية ، وهذه الأمثلة هي :</span></p>
<p><span>١ -  الأعمى الذي يقود أعمى </span></p>
<p><span>٢ – الخشبة والقذى</span></p>
<p><span>٣ – الثمرة  الجيدة والثمرة الرديئة.</span></p>
<p><span>٤ – البيت  المؤسس على الصخر ، والبيت المؤسس على الرمل ، وماذا يحدث له عندما يأتي الفيضان ويفيض النهر </span></p>
<p><span>أما عن الزمن الذي قال فيه السيد المسيح هذه الأمثلة نلاحظ : </span></p>
<p><b><span>+ مثل الأعمى الذي يقود أعمى :</span></b><span> نلاحظ أن الزمن الذي قال فيه هذا المثل لم يكن الطب والعلوم متقدمة ، لذلك كان هناك فاقدي البصر، واستوحى من ذلك الوقت الأعمى الذي يقود أعمى .</span></p>
<p><b><span>+ الخشبة والقذي :</span></b><span> تتذكر معي مهنة السيد المسيح إنه كان نجاراً، وكان عمل النجارة أو كما نُسميها المهنة المقدسة واضحا، وكانت هذه المهنة موجودة منذ البداية ومنذ الأزل.</span></p>
<p><b><span>+ الثمرة الرديئة والثمرة الجيدة :</span></b><span> هذا المثل مستوحى من الزراعة ، فمنطقة فلسطين كانت منطقة مشهورة بالزراعة وبشجر التين ، وكان أفضل تين هو التين المزروع في سهول فلسطين </span></p>
<p><b><span>+ البيت المؤسس على الصخر :</span></b><span> فهذا من مشاهد الطبيعة ، فالبيت الذي يبنى من غير أساس ينجرف ويسقط . </span></p>
<p><span>الفكرة التي تدور حول هذا السؤال والتي تطرحه علينا كلمة الله هي : &#8221; هل يستطيع أعمى أن يقود أعمى ؟&#8221; بالطبع السيد المسيح لم يكن يقصد فاقدي البصر بالحقيقة ، فالشخص الذي يفقد بصره بالتأكيد لا يمكنه أن يقود أعمى ، ولكن السيد المسيح كان يقصد المعنى الروحي القوي ، مثلما نقول : &#8221; فلان أعمى القلب &#8220;، فكلمة العمى هنا تعبير عن الخطية ، فالأعمى لا يرى إلا سواده ، والخطية تعمي البصيرة ، فالخطية قد تكون مثل القذى أو القشة الصغيرة ، ولكن عمل الخطية أحياناً يسبب الإدانة ، قد يكون هو مبصر وعينه موجودة ، وممكن تكون ٦/٦ لكنه يدين الآخرين. </span></p>
<p><span>خطية الإدانة هنا هي الخشبة ، وبالتالي نجد أمرين : الأول وجود الخطية ، والثاني عمى البصر، وليس المقصود البصر الخارجي وإنما يقصد به البصر الداخلي أي عمى القلب ، فوجود الخطية يجعل قلب الإنسان مثل الأعمى ، فهي كالقذى ، وما هو أصعب من ذلك أن الخطية تتحول إلى إدانة فقد يكون الإنسان مبصراً ويقع في الخطية ثم الأكثر من هذا إنه يدين الآخر &#8221; دعني أخرج القذى الذي في عينك &#8221; (لو٦ : ٤٢) .  هذا هو الإنسان الساقط في خطية الإدانة ، وهي تعتبر اغتصاب لحق الله؛ لأنه هو الديان وحده ، لذلك عندما يقول : &#8221; هل يمكن لأعمى أن يقود أعمى ؟&#8221; الإجابة المنطقية : &#8221; لا &#8220;. وتكون الإجابة على هذا السؤال أنها تقول للإنسان : &#8221; أخرج الخشبة أولا - أخرج خطية الإدانة أولاً  أي تخلى عن الإدانة وعن هذه الخطية &#8220;.</span></p>
<p><span>أما عن أخرج القذى ، وهي التي تعني أنك تتقدم لكي ما تُساعد الآخرين بالحب ، فعندما تنظر للآخر نظرة حب تستطيع أن تساعده وتقدم له يد المعونة ، وربنا هنا يريد أن يقول لك أنك أيها الإنسان تحتاج إلى :</span></p>
<p><b><span>(۱) ضرورة فحص النفس :</span></b></p>
<p><span>أيام الصوم المقدس هي أيام غنية ، ولها روحيتها ، فأول اهتمام لك حتى لا تكون أعمى وتقود أعمى هو ضرورة فحص النفس ، فالصوم هو فترة انشغال بفحص النفس ، والقديس &#8221; إشعياء الإسقيطي &#8221; له عبارة جميلة يقول فيها : &#8221; إذا انشغلت عن خطاياك ، سقطت في خطايا الآخرين &#8220;، ربما تكونوا قد سمعتم عن أحد آباء البرية أنه كان يتناول خبزة واحدة كل يوم ، وذات يوم أتى إليه أحد المبتدئين ، وجاء موعد الإفطار في تمام الثالثة بعد الظهر فوضع أمامه خبزة ، وأمام الضيف خبزة ، وبعد ما أكل الخبزة شبع لنُسكه ، أما الثاني لم يشبع فطلب خبزة ثانية ، فأتى بواحدة أخرى فأكلها ولكنه لم يشبع ، وطلب خبزة ثالثة فأتى إليه بواحدة وكان في ضيق شديد ، لكنه قد قرر أن يقول للضيف كلمتين ، وعندما هم الضيف بالانصراف قال له : &#8221; يا أخي لا يصح أن تخدم الجسد &#8220;، وعندما جاء اليوم التالي وحان موعد الطعام وضع أمامه الخبزة وأكلها لكنه جاع وهذا يعتبر إحساساً جديداً ، فجاء بخبزة أخرى ليأكلها وفسر ذلك بأنه من الممكن أن يكون قد بذل مجهوداً فشعر بالجوع ، ولكنه بعد ما أكل الثانية شعر بالجوع أيضاً فوقف يبكي بدموع أمام الله ويسأله : &#8221; يا رب لماذا بعد ما وصلت لنُسكي قدامك إلى هذا الحد أعود للوراء مرة أخرى ؟&#8221; فجاءه صوت يقول له : &#8221; من الوقت الذي أدنت فيه أخاك سقطت في الخطية &#8220;. وكأن الإدانة تنقل خطايا الآخرين إلى نفسك ، إذا لا بد من ضرورة فحص النفس وفحص القلب ، مكتوب &#8221; لأنه ماذا ينتفع الإنسان لو ربح العالم كله وخسر نفسه ؟&#8221; (مر ٨ : ٣٦).</span></p>
<p><span>افحص قلبك ، وأجمل فترة لفحص القلب هي فترة الصوم ، لذلك يقول داود النبي : &#8221; خطيتي أمامي في كل حين &#8221; (مز ٥١: ٣)؛ لا تنس الخطية لأنك إذا نسيت الخطية سوف تقع في خطية أخرى ، وسوف تنشغل بخطايا الآخرين وتقع في خطية من أصعب الخطايا وهي خطية الإدانة. إن فحص النفس يعني أن الإنسان ينظر إلى خطيته.</span></p>
<p><span>هناك سؤال قد نسأله وهو إذا وقع أخي في الخطية ماذا أفعل؟</span></p>
<p><span>أُجيبك وأقول أن هناك تصرفات كثيرة ممكن أن تفعلها . </span></p>
<p><span>١ - تنصحه بروح الحب نصيحة خالصة بروح المحبة ، فأنت تُحبه أولاً.</span></p>
<p><span>٢ -  صل من أجله ، وبدل ما تتكلم معه كلم الله عنه ، وصل من أجله.</span></p>
<p><span>٣ -  قبل ما تدينه على الخطايا التي وقع فيها تذكر خطاياك أولاً، وسوف يتوقف لسانك. </span></p>
<p><span>٤ - يجب أن تتذكر أنك في كل مرة تصلي فيها صلاة الشكر تقول : &#8221; نشكرك يا رب لأنك سترتنا وأعنتنا وحفظتنا &#8230;&#8221;، وكل هذه وسائل يمكن أن تساعدك عندما تواجه خطية أخيك . </span></p>
<p><span>٢<b> – ضرورة  إصلاح القلب :</b></span></p>
<p><span>إذا كنت قد فحصت النفس فعليك أن تُصلح القلب ، ربما ينطبق هذا المثل &#8221; هل أعمى يقود أعمى ؟&#8221; على عدة مجالات :</span></p>
<p><b><span>+ مجال التربية :</span></b><span> فعلى الآباء والأمهات أن يكونوا قدوة لأبنائهم ، فإن قصرت في تقديم المبادئ التي يجب أن تقدمها فأنت بذلك أعمى تقود أعمى ، ويقول الكتاب : &#8221; يسقط الإثنان في حفرة &#8221; (لو ٦ : ٣٩ ) . </span></p>
<p><b><span>+ مجال التعليم :</span></b><span> هل أعمى يقود أعمى ؟ فهل يستطيع شخص غير متعلم أن يعلم ما لا يفهمه ؟ بالطبع لا يمكن ، وينطبق هذا المجال على الهراطقة ، فهم في التاريخ أرادوا أن يقودوا الآخرين ، ولذلك قامت الكنيسة بحرمان كل هرطوقي ؛ لأن الهرطوقي يمثل الأعمى الذي يقود آخرين متعطشين للمعرفة ، فهذا الأعمى عندما يقود آخرين سيقع الاثنان في حفرة ، ولذلك عندما قامت الكنيسة بمنع آريوس ومقدونيوس ونسطور وقفت أمامهم بقوة حتى تمنع هذه القيادة العمياء.</span></p>
<p><b><span>+ مجال العمل الاجتماعي :</span></b><span> الذي يتصدر العمل المجتمعي والأعمال الاجتماعية بصفة عامة وخدمة المجتمع الذي يقيم فيه الإنسان ، فإن لم يكن إنساناً من داخله فهو كالأعمى الذي يقود أعمى، ويجب على القائد أن يكون مستنيراً وواضحاً وقيادته سليمة بها كل أشكال الاستنارة وبعيدة عن العمى ، وإلا سيسقط الآخرين في حفرة مثلما علمنا الكتاب المقدس ، فالإنسان دائماً يحمل منظاراً من اثنين ، إما منظار يكبر عيوب الناس وهذا نراه كثيرا في الاشاعات ، وإما منظار يكبر حسنات نفسه.</span></p>
<ul>
<li><b><span>مثال</span></b></li>
</ul>
<p><span>في يوم ما قبض على المرأة التي أمسكت في ذات الفعل ، وأتوا بها إلى السيد المسيح ، وقد اشتكى عليها كثيرون وكانوا في حالة هياج شديد ، وكل فرد فيهم معه حجرة ومستعد لرجمها ، وهي تقف في الوسط في منتهى العار والخجل ، والكل يشتكي عليها لأن الخطية واضحة ، وبدأوا ينسجوا حولها بعض الحكايات والروايات ، والسيد المسيح صامتاً ثم جلس على الأرض ، وهؤلاء أخذوا يكبروا في عيوب هذه المرأة وخطاياها، أما السيد المسيح فبكل هدوء وحكمة ورقة ودون أن يجرح أحداً جلس وكتب على الأرض ،</span></p>
<p><span>فالبعض كان يرى خطيته مكتوبة لكن لا أحد يعلم هذه خطية من ؟ وكل أحد يرى خطيته يتذكرها على الفور يرمى الحجرة التي في يده على الأرض ويمشي &#8230;. هناك من يحاول أن يكبر عيوب الآخرين ، وعندما تكبر عيوب الآخرين تنسج حول الإنسان أشياء لا توجد ، فمثلاً بعض الناس تتطاول على الرموز في أي مجتمع ، وهناك بعض الناس تشكك في القيادات ، والبعض أصحاب القلب الأعمى الذين ينشرون الإحباط واليأس ، وأنت يا من تنشر اليأس والإحباط في أي مجتمع &#8230; ماذا تجني ؟ تصور ابنك على المستوى الفردي إذا كانت نتيجته في الامتحان سيئة وقلت له : &#8221; أنت فاشل &#8220;، وبالتالي أنت بهذا الأسلوب قد ساعدت في تحطيمه ، وصار إنساناً محطماً بدلا من أن يكون ذا شأن .</span></p>
<p><span>وهناك إنسان آخرينشر الأسوأ عن أي شخص أو أي مجتمع ، أو بعض الناس تُزيف في الأخبار من أجل ذاتها ، أو أصحاب الضمير الملتوي ، والأسوأ من هذا وذاك أن بعض الناس الذين ينطبق عليهم هذا المثل هم الذين وقعوا في خطية الشماتة في الأحداث وتكون النتيجة سيئة ، وكما أن هناك من لديهم منظار يكبر ضعفات الآخرين ، هناك من لديهم حسنات نفسه ويمدح في نفسه ويكبر نفسه ولا يرى أخطاءه، وأقرب مثل على ذلك هو مثل &#8220;الفريسي والعشار&#8221;، هذا الفريسي الذي مدح نفسه كثيراً وقال على نفسه كلاماً عظيماً ولم ير أخطاءه الداخلية . </span></p>
<p><span>احذر لئلا تكون أنت أعمى تقود أعمى ، واحذر في أن تضع نفسك في مكانة أنت لا تستحقها وتسير فيها بصورة الإنسان الأعمى القائد الذي يسقط آخرين .</span></p>
<p><span>في هذا المثل سؤال تسأله كلمة الله لك في مكانك ، إن كنت أباً أو أماً أو زوجاً أو زوجة أو خادماً في الكنيسة أو خادماً في المجتمع بأي صورة سواء كنت مسئولاً عن أية مسئولية صغيرة كانت أو متوسطة أو كبيرة ، احذر فهذه الكلمات تقف أمامك لئلا تكون أعمى القلب وتريد أن تقود الآخرين ، ومن هنا يأتي السقوط . </span></p>
<p><span>هناك عدة تشبيهات في هذا الجزء من الإنجيل مثل الخشبة والقذى ، والخشبة المقصود بها الإدانة ، لكنه يكلمنا أيضاً عن الشجرة وثمرها ، فالشجرة الجيدة تُعطي ثمراً جيداً ، والشجرة الرديئة تُعطي ثمرا ردياً أو قد لا تعطي ثمراً ، ولكن هذا هو قانون الطبيعة ، فهو يريد أن يقول : &#8221; أيها الإنسان بعد فحص قلبك وضميرك وإصلاح نفسك أنت تحتاج إلى أن تكون كالشجرة الصالحة أو الشجرة الجيدة &#8220;، فالإنسان الصالح هو الإنسان المملوء محبة ، فثمرة الإنسان هي المحبة ، وهذه المحبة تخرج في صورة كلمات مملحة ،  تصرفات حب ، عطاء ، تسامح &#8230; هذا هو الإنسان الصالح الذي من كنز قلبه الصالح يخرج الصلاح ، وهذا هو هدف الصوم إنك تصوم هذه الفترة حتى تصير شجرة جيدة طوال العام تثمر ثمر المحبة طول العام ، وتكون تصرفات وسلوكيات الحب في العطاء والعطايا المستمرة طول السنة وهذه هي فائدة الصوم . والإنسان الشرير من كنز قلبه الشرير يخرج الشرور ، فالإنسان الشريرهو الإنسان الضعيف في محبته ، والإدانة دائما على لسانه ، وسيعطي كل إنسان حسابا عن كل كلمة تفوه بها ، الإنسان الشرير هو الذي يؤذي الآخرين ، وهو الذي يصنع شروراً ويجعل قلبه قاسياً.</span></p>
</div>
</div>
<div>
<div id="yiv6011647003yqtfd87307">فترة الصوم المقدس وما يصاحبها من عبادة ونُسكيات ، نعيشها ونفرح بها ونُمارسها كل يوم ، الهدف منها أنك تصير في النهاية إنساناً صالحاً . يمكن أن نعيش طوال السنة كل واحد في مسئولياته المتعددة ، لكن قد تُخطئ بوعي أو بدون وعي ، وبالتالي أحتاج في هذا الصوم إلى التوبة وهذه التوبة هي التي تنقي القلب ، وهذه التوبة هي التي تجعل قلبك مستنيراً فتستطيع أن تقود الآخرين وتستطيع أن تكون مؤثراً في الآخرين . الإنسان الصالح من كنز قلبه الصالح يخرج الصلاح ، فاجعل في قلبك كنزاً صالحاً حتى تُخرج صلاح الفضائل والقيم والحياة مع كل أحد . والإنسان الشرير من كنز قلبه الشرير يخرج الشرور، وهذا الإنسان الشرير الذي يخرج الشرور هو الأعمى الذي يقود أعمى . فليعطنا مسيحنا أن يكون لنا قلباً صالحاً حتى نخرج الصلاح في كلامنا وفي افعالنا وافكارنا وفى كل سلوكياتنا .<a href="#_ftn1" name="_ftnref1">[5]</a></div>
</div>
<div>
<div id="yiv6011647003yqtfd39826"></div>
</div>
</div>
</div>
<h4>التدين السليم - للمتنيح أنبا بيمن أسقف ملوي<a href="#_ftn5" name="_ftnref5">[6]</a></h4>
<p><strong>ختام الأمر كله </strong></p>
<p>نستطيع إذن أن نفرق بين كلمة متدين شكلى، وكلمة مسيحى حقيقى ..</p>
<p><strong>المتدين فقط</strong> هو الإنسان الذى يحيا في ذاته، ويمارس أنشطة دينية، دون أن يختبر فعل الموت مع المسيح، وقوة القيامة مع الناهض من الأموات.</p>
<p><strong>أما المسيحى</strong> فهو الإنسان الذى يستطيع أن يقول: أحيا لا أنا، بل المَسيحُ يَحيا فيَّ. (غل2: 20)، وأن يقول أيضاً: &#8220;وأوجَدَ فيهِ، وليس لي برِّي الذي مِنَ النّاموسِ (التدين)، بل الذي بإيمانِ المَسيحِ، البِرُّ الذي مِنَ اللهِ بالإيمانِ. لأعرِفَهُ، وقوَّةَ قيامَتِهِ، وشَرِكَةَ آلامِهِ، مُتَشَبِّهًا بموتِهِ.&#8221; (في ٣: ٩، ١٠).</p>
<p>و<strong>المتدين</strong> فقط قد يكون شخصاً فاضلاً ذا أخلاق كريمة، ولكن لا يحسب كل شيء نفاية  لأجل معرفة الرب يسوع، فهناك أمور وأشياء عزيزة عنده وبالأخص ذاته.</p>
<p>وأما <strong>المسيحى</strong> فهو الذى وجد الكنز الحقيقى وباع الحقل، لكى يتفرغ لهذا الكنز السماوي، وهو كلما يبيع ويفرغ نفسه من الاهتمامات الكثيرة كي يكون المسيح نصيبه الصالح، كلما يزداد نمواً وفرحاً وتأصلاً في حياة الشركة طولاً وعرضاً وعمقاً وعلواً.</p>
<p><strong>والمتدين</strong> قد يكون فريسياً سواء كان شاعراً بهذه الأزدواجية أو لم يشعر، مغلفاً برداء التقوى ولكنه منكر قوتها في حياته السرية الداخلية.</p>
<p>أما <strong>المسيحى</strong> فهو لن ينحرف ليكون فريسياً ذلك لأن الحق يملأ قلبه وكلمة الله تصوب سهاماً نارية ضد كل أغلفة تريد الحياة الدينية أن تقمطه بها، كتلك الأوراق التي سترت بها أمنا حواء عورتها في القديم في جنة عدن، وإن طاعته لأب أعترافه وإخلاصه للطريق، كفيل أن ينير له بصيرته، حتى لا يلتوى ويجامل ضد الحق، ويطلب مجد الناس، أو أن يقع في هاوية البر الذاتي.</p>
<p>و<strong>المتدين</strong> قد يكون طائفياً - إرادياً أو لا إرادياً - فهو ينشط كثيراً لتكتيل الجماعة، ويفرح كثيراً لمزيد من قوتها المادية والبشرية والأجتماعية، ويتعصب ضد الذين يناهضون طائفته، وخاصة إن كانت طائفته أقلية في العدد، وينفر من المجتمعات التي يختلط فيها المواطنون بكافة أديانهم ومذاهبهم، ولا يستريح إلا للتجمعات التي  تكون الغالبية - إن لم يكن كل الأعضاء - فيها طائفته .. ويجد في انغلاقيته وتقوقعه مع من هم على شاكلته مجالاً دفيئاً يتمنى ويكثر فيه جراثيم التكتل، وميكروبات التعصب، والأنطواء والخيانة، وتبهره الأعداد والأرقام المتزايدة في أنشطة الطائفة، وتبهجه المؤسسات والأبنية الفاخرة ذات الصلبان العالية، وتشرحه أخبار الرؤساء الطائفيين عندما يأخذون مراكز دنيوية، أو يحرزون إنتصارات في صراعاتهم الطائفية.</p>
<p>أما <strong>المسيحى</strong> فهو يعرف أين هي الكنيسة الحقيقة، ولا تزوغ عيناه إطلاقاً وراء أحداث طائفية. بل إنه كثيراً ما يطلق لقب العالم على الأمور الطائفية، ويجد الروح القدس فيه مطالباً إياه ألا يحب هذا العالم (أي السجس الطائفي) وكل ما فيه.</p>
<p>يحزنه كثيراً أن يضيع مفهوم الكنيسة عروس المسيح في خضم المفاهيم والمدركات الطائفية المتعصبة المنغلقة.</p>
<p>ويحزنه كثيراً أن يرى أبناء طائفته  ألوفاً ألوفاً في الأعداد ومئات مئات في التجمعات الدينية، ولكن قليلاً قليلاً منهم هو من يعيش فعلاً للحياة الأبدية منتظراً بفارغ الصبر سرعة مجىء الرب الأمين.</p>
<p>ويفرحه أشد الفرح أن تغير إنسان مسيحى بالإسم ليحيا حسب الروح ويسلك حسب الروح مؤكداً أن الذى في المسيح يسوع هم خليقة جديدة يعيشون بالروح والحق.</p>
<p>ويبتهج قلبه تماماً أن تعيش الكنيسة فقيرة مالياً لا تملك أرصدة في البنوك ولكنها أمينة في أرساليتها التي استودعها الله إياها وخاصة في رعاية الفقير والمسكين والمحتاج والمعوز والساقط والخاطئ والمرذول والبعيد عن حظيرة الإيمان&#8230; وتجده يمارس أنشطة أجتماعية وسياسية على مستوى المواطنة وفى مواقع يشترك فيها كافة المواطنين بمختلف طوائفهم وأديانهم، لأنه كمسيحي يرى التزام بالأمانة في العمل الروحي.</p>
<p>و<strong>المتدين</strong> فقط قد يكون إنساناً عقلانياً، أي مجرد دائرة معارف دينية أو موسوعة لاهوتية فقط، بينما حياته السلوكية بعيدة كل البعد عن المحبة والإتضاع ووداعة المسيح والصفح عن المخطئين إليه.</p>
<p>وأما <strong>المسيحي</strong> فكثيراً ما يكون مليئاً بالحكمة والمعرفة السامية وله إطلاع واسع وباع طويل وإلمام دقيق بالفكر الديني والعلمى، إلا أن الذى يميزه هو بساطة القلب وانقياده لروح الله واستئثاره وإخضاعه كل علو في الفكر لطاعة المسيح وانحناء رقبته، وسجود وانسحاق قلبه دائماً لمولود المزود ومسيح الخطاة وذبيح الجلجثة.. أنه يرى في شخص المسيح كل حكمة الله المذخرة ويتلامس في الكتاب المقدس مع أبعاد تعلوا على جميع أفكار العالم وتسموا فوق مقاصد البشر كلهم.</p>
<p>و<strong>المتدين</strong> فقط قد يكون إنساناً تواكلياً فضولياً على مستوى الدروشة أو الجهالة وقلة الحكمة وانعدام الاستنارة، ومثل هذا قد يكرم في أوساط كثيرة وتصبح ثيابه الرثة عند البعض بركة، وأفكاره العقيمة عندهم فتاوى قيمة، واتجاهاته العدائية ضد العلم والحضارة والمجتمع نموذجاً مطلوباً للنسك والتقشف، ولكنه أمام الله وأمام الكنيسة الحقة عملة زائفة لا تصلح لشئ، وكخميرة فاسدة لا تثمر ثمراً طيباً بل تفسد العجين الذى حولها.</p>
<p>وأما <strong>المسيحى</strong>  فهو إنسان حر منفتح طليق، قد صقلته النعمة، وحرره الحق، وحفزه الإيمان والإلهام، وجذبه الرجاء، وألهبه الحب، هو لا يهدأ إطلاقاً لأنه كالنحلة النشيطة تجده حاراً في الروح، ودوداً في الخدمة، أميناً في رسالته الوطنية والاجتماعية، واجداً نعمة أمام الله  وأمام الناس، ينسى ما هو وراء ويمتد إلى ما هو قدام، ساعياً نحو الغرض لأجل جعالة دعوة الله العليا في المسيح يسوع، متذكراً أن الله لم يعطينا روح الفشل، بل روح القوة والمحبة والنصح.</p>
<p>و<strong>المتدين</strong> فقط قد يكون إنساناً نفعياً على أى مستوى ..</p>
<ul>
<li>نفعى يجري وراء إرضاء ذاته،</li>
<li>أو نفعى يجرى وراء قضاء مصالح شخصية مثل نجاح في امتحان أو شفاء مرض أو.. ألخ.</li>
<li>أو نفعى يسعى نحو صيت وسمعة حسنة.</li>
<li>أو نفعى يجرى وراء فوائد مالية وربح أرضى وعمارات عالية..</li>
<li>وقد تمتد هذه المنفعية إلى حد الإحتكار والإحتراف، وخاصة إن كان رجل دين أو شخصاً متفرغاً للجو الديني،</li>
</ul>
<p>وقد تستتر هذه النفعية وهذا الأحتراف وراء ظاهرة السعي للقمة العيش للأولاد،</p>
<p>أو حرصاً على كرامة وهيبة رجل الدين أمام الآخرين..</p>
<p>إلى غير ذلك من الأغلفة التي ترضى الجماعة أو تخدرها.</p>
<p>أما <strong>المسيحى</strong> الحقيقى فهو لن يطلب منفعة من التدين بل يجرى وراء الخسارة &#8220;ما كان لى ربحاً حسبته نفاية&#8221; إنه يفرط فى نفسه وفى كل الفرص التي أمامه حتى لا تكون لحسابه الذاتي وإنما تكون بالتمام لمجد الآب والمسيح، وأما مصالحه الشخصية فهى ربح النفوس للرب .. صيته وسمعته هي رائحة المسيح الذكية التي تصير فيه رائحة موت لموت ورائحة حياة لحياة .. وحاجاته وحاجات من معه ليس هو مسئولاً عنها ولكنها مسئولية الذى دعاه واختاره لخدمة المذبح أو المنبر أو الموائد&#8230; ومؤسسة تأمينه وبنك إدخاره لأن مواعيد الله فى نظره أصدق وأثمن وأغنى من كنوز الدنيا كلها لو وضعت بين يديه.</p>
<hr />
<h3>المراجع</h3>
<p><a href="#_ftnref1" name="_ftn1">[1]</a><sup>- الكنيسة القبطية الأرثوذوكسية كنيسة نسك – القمص تادرس يعقوب ملطي.</sup></p>
<p><a href="#_ftnref2" name="_ftn2">[2]</a><sup>- </sup><sup>كتاب: أغسطينوس في شرح الموعظة علي الجبل -  صفحة ٢٢٩ - كنيسة مار جرجس سبورتنج.</sup></p>
<p><a href="#_ftnref3" name="_ftn3">[3]</a><sup>- </sup><sup>كتاب: من كتابات القديس يوحنا الذهبي الفم - صفحة ٤١٤ - إعداد القمص تادرس يعقوب ملطي وآخرين.</sup></p>
<p><a href="#_ftnref4" name="_ftn4">[4]</a><sup>- </sup><sup>كتاب: من كتابات القديس يوحنا الذهبي الفم - صفحة ٣٩٦ - إعداد القمص تادرس يعقوب ملطي وآخرين.</sup></p>
<p><a href="#_ftnref1" name="_ftn1">[5]</a> - كتاب إختبرني يا الله صفحة ١١٤ - قداسة البابا تواضروس الثاني</p>
<p><a href="#_ftnref5" name="_ftn5">[6]</a><sup>- </sup><sup>كتاب التدين السليم - صفحة ٨٣ - تأليف كمال حبيب (المتنيح أنبا بيمن – أسقف ملوي). </sup></p>

      {% endcreateArticleAccordions %}
    </section>
  {% endblock %}
