---
layout: 'layouts/reading.html'
title: 'يوم السبت من الاسيوع الثاني (سبت الجهاد طريق النصرة)'
tags: 'great-lent'
permalink: /articles/great-lent/2-6.html
---
  {% block content %}
    <section id="readings">
      <ul>
      {% if 'undefined' != 'undefined' %}
      
      {% else %}
      {% if 'null' != 'null' %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">العشية</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeVespers '' '' %}
          </div>
        </div>
      </li>
      {% endif %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">باكر</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeMatins '19.25:7,8,11' '41.9:43-50' '' %}
          </div>
        </div>
      </li>
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <h3 class="flex items-center justify-between">
            <span class="kufi">القداس</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </h3>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeLitugy '45.14:1-18' '59.1:22-27' '44.22:17-30' '19.118:19-20' '40.7:13-21' %}
          </div>
        </div>
      </li>

      {% endif %}
        </ul>
    </section>
    <section id="article">
      <h3 class="mt-8 mb-4 heading-explain">شرح القراءات</h3>
      {% createArticleAccordions %}
        <p><strong>جهادنا هو طريق نصرتنا</strong></p>
<p>&#8220;أَخِيرًا يَا إِخْوَتِي تَقَوُّوْا فِي الرَّبِّ وَفِي شِدَّةِ قُوَّتِهِ. الْبَسُوا سِلاَحَ اللهِ الْكَامِلَ لِكَيْ تَقْدِرُوا أَنْ تَثْبُتُوا ضِدَّ مَكَايِدِ إِبْلِيسَ.<strong>&#8221; </strong><strong>(</strong>أف ٦: ١٠، ١١)</p>
<p>[يا ربى يسوع المسيح الذى صُلب على الصليب إسحق الشيطان تحت أقدامنا] (ابصالية الخميس).</p>
<p>[إن كان الكنز في السماء فيكون القلب والعقل في السماء ولا يستطيع العالم أن يغلب الإنسان الذي ليس فيه شئ يمكن أن يغلب] (القدّيس كبريانوس).</p>
<h3>شواهد القراءات</h3>
<p>(مز٢٤: ٧-١٠)، (مر٩: ٤٣-٥٠)، (رو ١٤: ١-١٨)، (يع١: ٢٢-ا٢٧)، (أع٢٢: ١٧- ٣٠)، <span style="color: #ff0000;">(مز١١٧: ١٩-٢٠)</span>، (مت ٧: ١٣-٢١).</p>
<h3>شرح القراءات</h3>
<p><strong>تتكلّم قراءات اليوم</strong> عن جهادنا اليومي والدائم لنعيش نصرتنا في المسيح.</p>
<p><strong>يبدأ مزمور باكر</strong> بإستنجاد النفس بصلاح الله ومراحمه الإلهية.</p>
<p>&#8220;كرحمتك أذكرني أنت من أجل صلاحك يا رب لأنه صالحاً ومستقيماً هو الرب من أجل اسمك يارب تغفر لي خطيتي لأنها كثيرة&#8221;</p>
<p><strong>ويحذّر إنجيل باكر</strong> من العثرات التي يمكن أن تحرمنا من دخول الملكوت.</p>
<p>&#8220;فان شككتك يدك فاقطعها لأنه خير لك أن تدخل الحياة وأنت أقطع من أن تكون لك يدان وتمضي إلى جهنم إلى النار التي لا تطفأ&#8221;</p>
<p><strong>ويؤكد على المحبّة </strong>ملح الحياة ونقاوتها.</p>
<p>&#8220;لأن كل واحد يملح بالنار، وكل ذبيحة تملح بالملح، الملح جيد فإذا صار الملح بلا ملوحة فبماذا يملح فليكن فيكم ملح وليسالم بعضكم بعضاً&#8221;</p>
<p><strong>ويعالج البولس</strong> قضيّة الأكل المثارة بين المسيحيين من أصل يهودي فيرفع أنظار الكل لفوق للحياة مع الله في الأرض وفي السماء ويعاتب المؤمنين لإنشغالهم بما لا يخدم خلاصهم وما يضعف محبّتهم لبعض.</p>
<p>&#8220;من هو ضعيف في الإيمان فاقبلوه بغير تشكك في الأفكار &#8230;، الذي يهتم باليوم فللرب يهتم والذي لا يهتم باليوم فللرب لا يهتم &#8230;، لأن ليس أحد منا يعيش لنفسه ولا أحد يموت لذاته لأننا إن حيينا فللرب نحيا وإن متنا فللرب نموت فان عشناً إذاً أو متنا فللرب نحن &#8230;، فاننا كلنا سنقف أمام منبر الله &#8230;، فاذاً كل واحد منا سيعطي عن نفسه جواباً لله&#8221;</p>
<p>كما يظهر جوهر الملكوت الذي نهدف إليه.</p>
<p>&#8220;فإن ملكوت الله ليس أكلا ولا شرباً بل هو برّ وسلام وفرح في الروح القدس&#8221;.</p>
<p><strong>كما يعلن الكاثوليكون</strong> خطورة أن نسمع ولا نعمل كما يظهر في كلامنا ويوضّح جوهر التديّن السليم الذي يقبله الله.</p>
<p>&#8220;وكونوا عاملين بالكلمة لا سامعين فقط خادعين نفوسكم، من يظن أنه دَيِّن وهو لا يلجم لسانه بل يخدع قلبه فديانة هذا باطلة فإن العبادة الطاهرة النقية عند الله الآب هى افتقاد اليتامى والأرامل في ضيقتهم وحفظ الإنسان نفسه بغير دنس من العالم&#8221;.</p>
<p><strong>أما الإبركسيس</strong> فيعلن رفض اليهود للخلاص وبشارة الأمم به وإتّساع الملكوت لقبولهم.</p>
<p>&#8220;وحدث إني لما عدت إلى أورشليم وكنت أصلي في الهيكل صرت في غيبة فرأيته يقول لي بادر واخرج سريعاً من أورشليم فإنهم لا يقبلون شهادتك عني، فقال لي انطلق فأنى سأرسلك إلى الأمم بعيداً&#8221;.</p>
<p><strong>وترجوا النفس في مزمور القدّاس</strong> أن يُفتح لها باب العدل أي باب الملكوت لكي تسبّح الرب وتعترف له إلى الأبد.</p>
<p>&#8220;افتحوا لي ابواب العدل لكيما ادخل فيها واعترف للرب هذا هو باب الرب والصديقون يدخلون فيه&#8221;.</p>
<p><strong>ويختم إنجيل القدّاس</strong> بنوعية الباب المؤدّي إلى الملكوت وأهمية العمل بإرادة الآب لدخول الملكوت وظهور ثمار صلاحه فينا.</p>
<p>&#8220;ادخلوا من الباب الضيق لأنه واسع الباب ورحب الطريق الذي يؤدي إلى الهلاك وكثيرون هم الذين يدخلون منه، لأنه ما أضيق الباب وأكرب الطريق الذي يؤدي إلى الحياة، وقليلون هم الذين يجدونه، فكل شجرة لا تثمر ثمراً جيداً تقطع وتلقي في النار فإذاً من ثمارهم تعرفونهم ليس كل قائل لي يا رب يا رب يدخل ملكوت السموات بل الذي يعمل إرادة أبي الذي في السموات&#8221;.</p>
<p><strong>والعجيب في قراءات اليوم</strong> موضوع الدخول والخروج، فالعثرات تمنعنا من دخول الحياة الأبدية (إنجيل باكر)، ومن لايعمل بالكلمة يخرج وينسي كيف كان (الكاثوليكون)، والرب يدعو القدّيس بولس للخروج من أورشليم بعد رفض اليهود (الإبركسيس)، والصدّيقون يدخلون باب العدل (مزمور القدّاس)، والدعوة للدخول من الباب الضيّق (إنجيل القدّاس)، وبين دخول وخروج سنقف أمام منبر المسيح له المجد (البولس).</p>
<h3>ملخّص القراءات</h3>
<p><strong>جهادنا اليومي هو مدخل وطريق نصرتنا في المسيح:</strong></p>
<table width="506">
<tbody>
<tr>
<td width="98">إنجيل باكر</td>
<td width="408">أهمّية المحبّة والمسالمة بين الأخوة</td>
</tr>
<tr>
<td width="98">إنجيل باكر</td>
<td width="408">خطورة العثرات على دخولنا الملكوت</td>
</tr>
<tr>
<td width="98">البولس</td>
<td width="408">إحتواء ضعفاء الإيمان</td>
</tr>
<tr>
<td width="98">الكاثوليكون</td>
<td width="408">خدمة المحتاجين وحفظ الإنسان نفسه من دنس العالم</td>
</tr>
<tr>
<td width="98">الإبركسيس</td>
<td width="408">رفض اليهود لبشارة الخلاص ودعوة الأمم إليها</td>
</tr>
<tr>
<td width="98">إنجيل القدّاس</td>
<td width="408">الإجتهاد في الدخول من الباب الضيق</td>
</tr>
</tbody>
</table>
<h3>الكنيسة في قراءات اليوم</h3>
<table width="506">
<tbody>
<tr>
<td width="166">إنجيل باكر والبولس</td>
<td width="340">الدينونة</td>
</tr>
<tr>
<td width="166">البولس</td>
<td width="340">طبيعة ملكوت الله</td>
</tr>
<tr>
<td width="166">الكاثوليكون وإنجيل القدّاس</td>
<td width="340">الإيمان والأعمال</td>
</tr>
<tr>
<td width="166">الإبركسيس</td>
<td width="340">الشهداء</td>
</tr>
</tbody>
</table>
<h3>عظات ابائية</h3>
<h4>مقالة من أجل الأفراز للقديس الأنبا أنطونيوس كوكب البرية</h4>
<p>اعلموا يا أولادى المباركين اننى قد كتبت لكم كمثل الأولاد الأحباء المستحقين البركة وميراث الملكوت . فيجب عليكم اذ قد صرتم هكذا أن تذكروا ليلا ونهاراً الذين يريدون أن يصيروا أولاد الملكوت لكى يحفظكم الله من الشرور لينظروا كل الأشياء ويتأملوا الصالحات وينالوا الخيرات المعدة للأبرار . ولأجل انكم يا أولادى قد صرتم لى أحباء وأبناء الملكوت فانا اطلب عنكم بلا فتور لكيما يعطيكم الله أن تنظروا وتفرزوا جميع الأشياء حتى تفرقوا بين الخير والشر . لأن بولس الرسول كتب أن الطعام القوى للبالغين وهؤلاء هم الذين دربوا حواسهم وعزائمهم بكثرة الفحص عن الخير والشر وصاروا بنينا للملكوت وأحصوا في البنوة الإلهية ولأجل هذا يعطيكم الله هذا النظر والأفراز في سائر أعمالهم لكى لا يضلهم لا البشر ولا الشيطان وأعلموا أن العدو يعثر المؤمنين بحجة الخير ويضل كثيرين من قبل انهم لم يعطوا هذا النظر والأفراز . ولما عرف الطوباوى بولس هذا الغنى الذى يصير مع المؤمنين الذى ليس لعظمته حد قد كتب لأهل أفسس الذين صاروا له أولاد وأبناء الملكوت لأجل عظم محبته فيهم قائلاً لهم أيها المؤمنين الأطهار بأفسس أنى منذ سمعت بإيمانكم بربنا يسوع المسيح ومودتكم لجميع الأطهار لست أفتر من الشكر عنكم فاكراً أياكم في صلواتى أن يكون سيدنا يسوع المسيح أبو المجد يعطيكم روح الحكمة والبنيان لتستنيرعيون أذهانكم فتعملون ما هو رجاء دعوته وما هو غنى مجد ميراثه في القديسين . وقال أيضاً أنى أجثوا على ركبتى للآب الذى سمى كل أبواة ما في السماء وما على الأرض أن يعطيكم كغنى مجده حتى يصح يقينكم ويقوى بما يؤيدكم فيه من روحه ليحل المسيح في بشريتكم الناطقة بالإيمان في قلوبكم بالمودة اذ يكون اصلكم وأساسكم وثيقاً كى تستطيعون أن تدركوا مع جميع الأطهار ما هو العرض والطول والارتفاع والعمق الذى لمحبته فيا أولادى أنظروا إلى هذا الغنى الذى لا يعرفه أحد أولئك الذين أحصوا له أولاد بدخولهم في الإيمان . طلب عنهم أن ينالوا معرفة عظم هذا الغنى الذى قد عرفه وهو النظر الحقيقى الذى هو الأفراز الذى ليس شيء أعظم منه في الأمانه المسيحية وذلك لأجل كثرة محبته فيهم وعلمه أنهم اذا نالوه لا يصير لهم تعب في شيء ولا يجزعوا من خوف ويكون فرح ربنا يعزيهم ليلاً ونهاراً . وأعماله تصير حلوه عندهم على الدوام في سائر الأوقات ويعطيهم الاله لأجل ذلك إعلانات الأسرار العظيمة التي للدهر الآتى التي لا نستطيع أن نصنعها باللسان اللحمى . فيا أيها الأحباء بالرب الذين قد صرتم لى أولاد . أطلبوا ليلاً ونهاراً بغزارة دموع بسبب هذا النظر والافراز لكى يكون لكم الخير الدائم من جهة الهنا ويزداد بهاؤكم في كل شيء ويعطيكم أشياء أخرى كثيرة ما عرفتموها قط . وأنا أبوكم أطلب أيضاً لأجلكم أن تأتوا إلى هذا المقدارالذى لنا لأن كثيرين من الرهبان والعذارى الذين في المجامع لم يبلغوا إلى هذا المقدار وإذا أرتم يا أولادى أن تبلغوا إلى هذا المقدار الذى هو الكمال فابتعدوا من كل الذين عليهم هذا الأسم الذى هو الرهبنة والبتولية ولا يوجد فيهم هذا النظر والافراز . لأنكم أن خالطتموهم لا يدعونكم تتقدمون بل يطفئون الحرارة منكم لأن ليس فيهم حرارة بل برودة وهم يسيرون كأرادتهم . فاذا أتوا اليكم وتكلموا معكم بكلام هذا الدهر وبما يوافق ارادتهم فلا توافقوهم . لأنه مكتوب لا تطفئوا الروح ولا ترزلوا النبوات وإعلموا يا أولادى أن الروح لا ينطفئ منا إلا بالكلام الباطل الذى لا يبنى الروح ، والمزاح ، وأعمال أخر كثيرة لا يمكننى أن أكتبها واحدة فواحدة . فاذ ما نظرتم لهؤلاء فلا تحتقروهم لكن أصنعوا معهم الخير ولا تخالطوهم لئلا يجذبونكم إلى خلف . وسلام ربنا يحل على نفوسكم الوديعة يا أولادى الأحباء .</p>
<p>له المجد الدائم إلى أبد الأبدين آمين .</p>
<p>المرجع : كتاب من مقالات الأنبا أنطونيوس ( مقالة من أجل الإفراز من صفحة ٤٠ - ٤٤ ) - القمص بيشوي كامل</p>
<h5></h5>
<h4>الافراز للقديس يوحنا الدرجي</h4>
<p>ان الافراز فى المبتدئين هو المعرفة الحقيقية وفى النفوس المتوسطه هو الحواس الروحية التى بلا خطأ التى تميز بين الخير الحقيقى وبين الشر وفى الكاملين هى المعرفة التى يمتلكونها عن طريق الاستناره الالهيه والتى يستنير بنورها كل ما هو مظلم فى الآخرين</p>
<p>وبصفة عامة فان الافراز هو الفهم الأكيد للاراده الالهيه فى كل مناسبة وفى كل مكان وفى كل أمر0 وهى توجد فقط فى أولئك الأنقياء فى قلوبهم وفى أجسادهم وفى أفواههم</p>
<p>مشتملات الافراز :</p>
<p>1-   الطاعة      2- الصوم    3-   لبس المسوح    4- الرماد    5 – الدموع 6- الاعتراف  7- الصمت    8-  الاتضاع   9-  السهر  10 -  الشجاعة  11-  احتمال البرد         12- الألم       13- العمل اليدوى الشاق             14- انسحاق النفس      15- التذلل    16-  نسيان أخطاء الآخرين        17- المحبة الأخوية      18- الوداعة           19- بساطة الايمان     20- التحرر من الاهتمامات العالمية     21- الانفصال عن القلوب ( للرهبان )  22- التجرد   23-  البساطة البريئة  24- قبول الاهانات                      ان الافراز هو نظام جيد للمتقدمين ودليل تقدمهم هو عدم وجود المجد الباطل والتحرر من الغضب والرجاء الصالح والصمت والتذكار الدائم فى الدينونة والشفقه وأضافة الآخرين والاعتدال فى تأنيب الآخرين والصلاة التى بلا ألم واهمال الذات</p>
<p>ان العقل الروحى مرتبط دائما بالفهم الروح 0 وسواء كان هذا الفهم الروحى فينا أم لا فاننا يجب أن لا نكف عن طلبه وعندما يأتى الينا هذا الفهم الروحى فان الحواس الخارجية سوف تكف عن عملها الطبيعى ، وكما قال أحد الأباء : عندئذ سوف نحصل على الحواس الروحية</p>
<p>كما قد يحدث أننا نلتقط ضفدعه حينما نرفع الماء من البئر هكذا أيضا كثيرا ما نخطىء ونسقط فى الرذيلة حينما نريد أن ننال الفضيلة وكثيرا ما تشتبك الشراهه مع اضافة الغرباء ، والشهوه مع الحب ، والمكر مع الحكمه ، والخبث مع الشكر ، وكثيرا ما يختلط النفاق والتسويف والكسل والعناد وتصلب الرأى وعدم الطاعة مع الوداعة وكثيرا ما يختلط احتقار الأوامر مع الصمت ، والغرور مع الفرح ، والتراخى مع الرجاء ، والحكم القاسى مع المحبه ، واليأس والكسل مع الهدوء ، والمراره مع الطهاره ، والشهره مع الاتضاع وفوق كل هذا يجب أن نشفى من السم الذى يتبع المجد الباطل</p>
<p>ان الرذيلة أو الشهوه لم توجد أصلا فى طبيعتنا ، لأن الله لم يخلق الشهوات ، ولكنه أوجد فينا طبائع كثيره من الفضائل من بينها الرحمة والشفقه للجميع حتى الوثنيين ، والحب حتى الحيوانات الخرساء ، والبكاء على ضياع أى أحد ، والايمان الذى ينبع من داخلنا ، والرجاء وطلب الأفضل والحب هو الفضيلة الطبيعية التى فينا التى هى &#8221; تكميل الناموس &#8221; (رو ١٠ : ١٣) والذى يحذر من نوال الفضائل بسبب عدم قدرته فانه سوف يخجل ويخزى</p>
<p>فى كل فهمك وطرق حياتك وسلوكك فى أمورك الخارجية أو الروحية اجعل هذا هو قانونك ، واسأل نفسك دائما هل أنا أصنع هذا الأمر وفقا لمشيئة الله أم لا ؟ وعلى سبيل المثال اقتن الاتضاع فى عمل الأشياء سواء كانت أشياء بسيطه أم أعمال عظيمة لأن النمو فى الاتضاع هو اكمال لارادة الرب خصوصا بالنسبة لنا نحن الذين مازلنا صغارا فى الحياة الروحية أما المتوسطون فى حياتهم الروحية فان الأختبار هو توقف الاضطراب الداخلى أما الكاملون فالاختبار هو زيادة النور الالهى فيهم</p>
<p>ان الذين يريدون أن يتدربوا على تنفيذ مشيئة الرب يجب أولا أن يقمعوا ارادتهم الخاصه ، وعندئذ يصلون الى الله بايمان وبساطة مخلصه ، ثم سؤال الأباء والأخوه باتضاع قلبى وبدون أى أفكار شك وعندئذ يقبلون نصيحتهم كما لو كانت من فم الله ، حتى لو كانت نصيحتهم هى عكس رغبتهم ، وحتى لو كان هؤلاء الذين ينصحونهم أشخاصا غير روحيين لأن الله ليس بظالم وسوف لا يطرح نفوسهم البريئه المتواضعة التى تخضع لنصيحة وحكم الآخرين ، حتى لو كان أولئك الذين يسألونهم مثل الحيوانات المتوحشة لأن الله هو الذى يتحدث بطريقة غير مرئيه على أفواه الذين ينصحونهم</p>
<p>وهكذا فان الذين يسلكون بهذه القاعده بدون أى شك فانهم يمتلئون باتضاع عظيم لأنه اذا عبر أى أحد عن ضيقته عن طريق الحان العود فانه سوف يتعزى &#8221; أميل أذنى الى مثل وأوضح بعود لغزى &#8221; (مز ٤٩ : ٤) فكم وكم يكون تعليم ونصيحة العقل الناطق والنفس الناطقة التى هى أكثر قدره من الجماد</p>
<p>الافراز هو نور فى الظلمة ، وهو رجوع الانحراف الى الطريق ، واشراق النور فى الذين اظلم نورهم الانسان الحكيم يجد فى الافراز صحه حيث يتبدد المرض</p>
<p>ان الله ليس هو خالق الشر وسبب وجوده والذين يقولون بأن الشهوات جزء من طبيعه النفس فانهم مخدوعون ولا يعلمون أننا بذلك نكون قد حولنا أصلنا الطبيعى الى شهوات وعلى سبيل المثال فان الطبيعة قد أوجدت فينا الاحتياج الى النسل ولكننا قد حولنا هذا الاحتياج الى شهوة الزنا وقد أوجدت فينا الطبيعة الغضب ضد الخطية ولكننا استخدمنا ذلك ضد اخوتنا والطبيعة أوجدت فينا المنافسة من أجل الحصول على الفضيله ولكننا نجرى وراء الشر انها طبيعة النفس أن تشتاق الى المجد ولكن هذا المجد هو المجد الالهى الذى فى الأعالى انها الطبيعة التى تعلمنا الجهاد ولكن الجهاد ضد الشياطين ان الفرح أيضا جزء من طبيعتنا ولكن الفرح فى الرب وفى سلام أخوتنا ان الطبيعة أوجدت فينا أيضا الغضب ولكن لكى نستخدمه ضد الشياطين أعداء نفوسنا لقد منحنا الله الرغبة فى السرور ولكن ليس للخلاعة والفجور</p>
<p>ان النفس العماله تجعل الشياطين يقومون ضد بعضهم بعضاً وعلى قدر ما تزداد التجارب فينا على قدر ما تزيد أكاليلنا والذى لا تحاربه الشياطين فانه لن يكلل قط ولكن المجاهد الذى لا يفشل ولا ييأس بل يتغلب على أخطائه العارضه فان الملائكة سوف تمجده كبطل</p>
<p>                                                            المرجع : كتاب سياحة القلب صفحة ٩٢ - تعريب وتقديم القمص إشعياء ميخائيل - كنيسة الملاك بالضاهر</p>
<h5></h5>
<h4>معني الباب الضيق للقديس جيروم</h4>
<p>الباب الواسع هو الملاذ العالميّة التي يطلبها البشر، والباب الضيّق هو الذي ينفتح خلال الجهاد والأصوام كالتي مارسها الرسول بولس: &#8220;في ضربات، في سجون، في اضطرابات، في أتعاب، في أسهار، في أصوام&#8221; (٢كو ٦ : ٥) ، &#8220;في تعبٍ وكدٍّ، في أسهارٍ مرارًا كثيرة، في جوعٍ وعطشٍ، في أصوامٍ مرارًا كثيرة في بردٍ وعُرْيٍ&#8221; (٢كو ١١ : ٢٧). وقد شجّع الرسول بولس تيموثاوس على ممارستها: &#8221; فتقوَّ أنت يا ابني بالنعمة التي في المسيح يسوع، وما سمعته منّي بشهود كثيرين أودِعه أناسًا أمناء يكونون أكفّاءً أن يُعلِّموا آخرين أيضًا، فاشترك أنت في احتمال المشقّات كجندي صالح ليسوع المسيح. ليس أحد وهو يتجنّد يرتبك بأعمال الحياة لكي يرضي من جنَّده، وأيضًا إن كان يجاهد لا يكلّل إن لم يجاهد قانونيًا.&#8221; (٢تي ٢ : ١ - ٥)</p>
<p>لاحظ بتدقيق كيف يتكلّم عن كِلا البابين. فالغالبيّة العُظمى تدخل من الباب الواسع، بينما قليلون هم الذين يكتشفون الباب الضيق. إننا لا نبحث عن الباب الواسع، ولا حاجة لنا مطلقًا أن نكتشفه، إذ هو يعرض نفسه علينا تلقائيًا. أمّا الباب الضيّق فلا يجده الكل، وحتى الذين يجدونه فليس جميعهم يدخلونه، إذ كثيرون بعد اكتشافهم باب الحق تجتذبهم ملاذ الدنيا ويرجعون من منتصف الطريق.</p>
<p>المرجع : تفسير إنجيل متي الإصحاح السابع - القمص تادرس يعقوب ملطي</p>
<h4></h4>
<h4></h4>
<h3>عظات اباء وخدام معاصرون :</h3>
<h4>من سيدخل الملكوت ؟ لقداسة البابا تواضروس الثاني</h4>
<p>في إنجيل يوم السبت من الأسبوع الثاني من الصوم المقدس يوجه لنا السيد المسيح سؤالا لكنه سؤال بالتلميح ، وهو &#8221; من سيدخل الملكوت ؟&#8221;</p>
<p>يشرح لنا السيد المسيح أن هناك طريقين :</p>
<p>١ - الطريق الواسع :</p>
<p>يقصد به أن هناك شكل من أشكال الإهمال ، فالإنسان المهمل في حياته لا حدود له ، وهذا مثل من يقود سيارة في شارع واسع يتأرجح بها يمينا ويسارا وكأنه امتلك الطريق لنفسه فقط ، ويوجد آخر يلتزم بالمرور في حارة معينة ، هكذا الطريق أمام الإنسان هو طريق واسع وسهل ، فيه نوع من تدليل النفس والإهمال والنسيان ، فنسمع كثيراً عبارة : &#8221; نحن أحرار &#8220;، ثم يضعونها في قالب غريب &#8221; أنا حر طالما لا أضر &#8220;، صحيح أنك لا تضر أحداً ، ولكنك تضر شخصاً مهماً جداً هو نفسك ، هذا مثل الذين يلجئون إلى تناول المواد المخدرة وشرب الكحوليات ، ويقول : &#8221; أنا لا أضر أحدا &#8220;، ولكن أنت تضر نفسك ، فكثير من الشباب يتساءلون : &#8221; لماذا لا نصنع مثل أهل العالم ؟ لماذا لا نعيش بمزاجنا ؟ هل من الضروري من وجود قيم ومبادئ وتقاليد بالرغم من أن هذه الأمور معقدة ؟&#8221;</p>
<p>لكن الغريب في الموضوع أن هناك بلدان عاشت التجربة ، وعاش كل فرد كما يريد دون أدنى قيود ، وللأسف كانت النتيجة ضياع هذه البلاد ، فعلى سبيل المثال نجد في السويد أكثر نسبة انتحار &#8230; لماذا ؟! لأن كل شخص فيها يفعل ما يريد بلا ضابط أو رابط ، فإذا أتت فكرة في ذهن أحدهم يقوم بتنفيذها سريعاً وتكون النتيجة حدوث انحلال وانفلات ، فلا توجد سماء ولا بداية ، ولكنهم يقولون عبارة غريبة جدا : &#8221; بلادنا خالية من المشاكل &#8221; وأعتقد أن هذه هي قمة المشاكل ، فالإنسان بطبعه يميل نحو الشر .</p>
<p>يوجد أشخاص كثيرون مربوطين برباطات لا تجعلهم يطيرون ويحلقون إلى السماء ، فالدجاجة عندما تهرب من أصحابها يقومون بقص ريشها لكي لا تطير مرة أخرى ، هكذا يصنع معنا عدو الخير، يقول داود النبي : &#8221; ليت لي جناحاً كالحمامة ، فأطير وأستريح !&#8221; (مز ٥٥ : ٦) ، فكلما ارتفع الإنسان نحو الله نجد القيود تجذبه إلى أسفل مثل عصفور من العصافير مربوط في رجليه حبل يجذبه نحو الأرض ، فنحن يوجد منا من هو مربوط في حياته برباطات تجذبه ناحية الأرض فيكون غير قادر على القرب من الله ، ويقول معلمنا بولس الرسول لأهل غلاطية : &#8221; أهكذا أنتم أغبياء ! أبعد ما ابتدأئم بالروح تكملون الآن بالجسد ؟&#8221; (غل ٣  : ٣ ) من هنا تأتي حكمة كنيستنا في وجود فترات الأصوام التي تعمل داخلنا نوع من الانتعاش الروحي خوفاً من أن يلتصق الإنسان بالأرضيات ، ولكن الإنسان اليقظ فينا هو من يكون قلبه مفتوحاً باستمرار للسماء وله اشتياق للسماء ، فهناك بعض الكنائس منعت الأصوام والميطانيات والعبادات الروحية الطويلة وأصبح القداس ثلاثين دقيقة ، فأصبح الإنسان يهتم بالشهوات والاشتياقات الأرضية.</p>
<p>إذا ما نوع اشتياقات قلبك ؟ هل هي أرضية أم سمائية ؟</p>
<p> إياك أن تكون أحلامك واشتياقاتك أرضية ، يقول الكتاب : &#8221; ماذا ينتفع الإنسان توربح العالم كله وخسر نفسه ؟&#8221; (مر ٨ :٣٦) ،  ولابد أن أكرر هذا الكلام لكي يكون لنا يقظة داخلية في حياتنا.</p>
<p>٢- الطريق الضيق :</p>
<p>لا بد أن نوجه هذا السؤال : هل من الضروري أن يكون طريق الله ضيقاً ؟ : أقول لك أبداً، حتى وإن بدى ضيقاً لكنه طريق واسع جدا، يقول داود النبي : &#8221; لكل كمال رأيت حداً ، أما وصيتك فواسعة جداً &#8221; (مز ١١٩ :٩٦) ، إن الحياة الروحية تبدأ بشكل من أشكال الصعوبة ثم تصير الحياة أكثر من رائعة. أريد أن أذكرك بشخص نحبه جميعاً ، فقد كان في مرتبة نبي عند الله ، إلا أنه أراد أن يبعد واعتقد أنه يعرف أكثر من الله ، ولكن الله وضعه في الطريق الضيق الذي لا يعرف أن يهرب منه وهو وجوده في بطن الحوت إنه &#8221; يونان النبي &#8220;، وقتها أدرك يونان مدى خطئه ، وقال : &#8221; دعوت من ضيقي الرب، فاستجابني . صرخت من جوف الهاوية ، فسمعت صوتي&#8221; (يو ۲ : ۲) .  وهنا استوعب يونان الدرس . لذلك أيها الأحباء عندما نتعرض لأي شكل من أشكال الضيقات في حياتنا لا بد أن نعتبرها رسالة من مسيحنا ؛ لأنه وضعنا في هذا الطريق حتى وإن كان الطريق ضيقاً ، لكن ليس لنا ملجأ إلا هو، حيث يقول داود النبي : &#8221; الرب نوري وخلاصي ، ممن أخاف الرب حصن حياتي ، ممن ارتعب ؟ عند ما اقترب إلى الأشرار ليأكلوا لحمي ، مضايقي وأعدائي عثروا وسقطوا ، إن نزل علي جيش لا يخاف قلبي . إن قامت علي حرب ففي ذلك أنا مطمين . واحدة سألت من الرب وإياها ألتمس : أن أسكن في بيت الرب كل أيام حياتي ، لكي أنظر إلى جمال الرب ، وأتفرس في هيكله &#8221; (مز ۲۷ : ١  ٤). لكن ذات مرة وقع داود في الخطية ؛ لأنه أعطى لنفسه فرصة أن يستريح من مسئولياته ، وبسبب هذا أخطأ خطيته المعروفه .</p>
<p>كذلك نسمع عن &#8221; شاول الطرسوسي &#8221; الذي كان يضطهد الكنيسة والمسيحية بإفراط، ولكن أمام المسيح نجده يقول : &#8221; ماذا تُريد يا رب أن أفعل ؟&#8221;، لذلك أيها الأحباء في الطريق الضيق اصرخ إليه : &#8221; ماذا تُريد يا رب أن أفعل ؟!&#8221;</p>
<p>إن الباب الضيق تعبير رمزي يبين أنه لا يستطيع الإنسان أن يدخل الملكوت ؛ لأن العملية فيها فرز وتحتاج إلى جهاد ، فحياتنا اليومية تُساوي جهاد ، فيقول لنا الكتاب : &#8221; هكذا كل شجرة جيدة تصنع أثماراً جيدة ، وأما الشجرة الردية فتصنع أثماراً ردية &#8221; (مت ۷ : ١٧). والشجرة هنا هي الإنسان ، كما أن كل شجرة لا تصنع ثمراً تقطع وتلقى في النار (مت ٧ :١٩).</p>
<p>لذلك في بدايات الصوم نقف أمام الله ونقول : &#8221; تُريد أن نعيش معك حياة حقيقية ، أريد أن أتمتع بك وأفرح بك ، أريد أن أشعر أنك ساكن داخلي &#8220;؛ فنحن لا نسير في طريق الله ونحن مكتئبين ؛ لأن طريق المسيح مفرح دائماً ونشعر فيه أن المسيح سيأخذنا من مجد إلى مجد .</p>
<p>اسأل نفسك عن هذه الثمار في حياتك ، هل شجرة حياتك فيها ثمار ؟ وإياك أن تقول أن الطريق صعب كيف أسير فيه ؟ أقول لك ابدأ فالبداية فيها شيء من الصعوبة لكن عندما تستمر في الطريق تفرح كثيرا وتتمتع بالحياة .</p>
<p>من سيدخل الملكوت ؟</p>
<p>ليس كل من يقول : &#8221; يا رب يا رب &#8220;، فهذا قد يكون من اللسان أو الشفاه فقط، ولكن يجب أن يكون من القلب أيضاً ، وهذه هي وظيفة الصوم أنه يساعدنا على أن ننطلق ، فالصوم فرصة لتنقية ونظافة قلب الإنسان ، فالصوم يناسبه قلة الطعام والكلام ، والسلام ، بمعنى أنك تقول لربنا : &#8221; إن حياتي ليست من الأكل ولكنها منك أنت وتكون فرصة تتحدث فيها مع الله وتقلل الزيارات وجلسات التلفزيون ، وكما يعلمنا يوئيل النبي : &#8221; قدسوا صوماً . نادوا باعتكاف &#8221; (يؤ١: ١٤) .</p>
<p>المرجع : كتاب إختبرني يا الله صفحة - ١٢٢ - قداسة البابا تواضروس الثاني</p>
<h5></h5>
<h4>معني الباب الضيق ( الموسوعة الكنسية لتفسير العهد الجديد )</h4>
<p>يدعونا المسيح للدخول من &#8220;الباب الضيّق&#8221;، أي احتمال الآلام لأجل الملكوت. ويحذرنا من الباب الواسع والطريق الرحب المريح، أي الذي يوفر للإنسان ملذات وشهوات العالم المختلفة، لأنه يؤدى إلى الهلاك. ولكن للأسف، من أجل إغراء شهوات العالم، يسير الكثيرون في هذا الطريق المميت.</p>
<p>أما طريق الخلاص، فهو &#8220;الباب الضيّق&#8221;، الذي هو الصليب، والطريق الكرب، الذي هو احتمال الآلام، وهذا ما اجتازه المسيح لأجلنا.</p>
<p>&#8220;قليلون هم الذين يجدونه&#8221;: ليس لأن طريق الخلاص غامض ومخفى عن العيون، لكن لأن الشهوات الشريرة ومشاغل العالم تبعد الناس عنه، فلا يجدونه.</p>
<ul>
<li>لكيما نكون تلاميذ لمخلّصنا، لا بُد أن نحمل صليبه وراءه، أي نتنازل عن شهواتنا الشريرة بالتوبة، ونتجرد من انشغالات العالم، لنُفرِغ قلوبنا للاهتمام بمحبة الله، فيملك على قلوبنا الآن وإلى الأبد.</li>
</ul>
<p>&#8220;الأنبياء الكذبة&#8221;: هم من يعلمون تعاليم غريبة عن الكنيسة، ويخدعون الناس بمظهرهم اللطيف، ولكن قلوبهم في الداخل وحشية قاسية. يفكرون في داخلهم ما هو لمصلحتهم، وليس لمجد الله كما يدعون؛ فينبهنا المسيح للابتعاد عنهم والثبات في الكنيسة.</p>
<p>&#8220;ثياب الحملان&#8221;: أي أنهم ذئاب لهم مظهر الحملان، ومعناه تظاهرهم بالتقوى والفضائل ليخدعوا البسطاء، ويبعدوهم عن الكنيسة واجتماعاتها، ويجعلوهم يرتبطون باجتماعات غريبة، ويخدعوهم بأن هذا هو التفسير الصحيح لكلام الله.</p>
<p> لنعرف حقيقة هؤلاء الأنبياء، ننظر إلى &#8220;ثمارهم&#8221;، أي طباعهم وأفعالهم، لأنه إن كان القلب قاسيا، فمهما تظاهر، ستُفضَح قسوته في بعض المواقف.</p>
<p>&#8220;الشوك&#8221;: يمثل عدم البركة والإساءة للآخرين، فلا يبذلون أية تضحية (المرموز إليها بالعنب الذي يُعصَر، فيعطى خمرا، أي فرحا)، فالأنانى القاسى لا يهتم بالبذل لأجل الآخرين.</p>
<p>&#8220;الحسك&#8221;: هو نبات جاف يشبه الشوك في ضآلته، لا يمكنه أن يعطى تينا.</p>
<p>ثمرة التين: مكونة من حبات صغيرة اتحدت معا بالحب داخل غلاف واحد، فترمز للوحدانية والحب.</p>
<p>فالإنسان المنعزل في أنانية وحده، لا يمكن أن يتحد بوحدانية حب مع الآخرين.</p>
<p>فمن الطبيعي أن الشجرة الجيدة، أي القلب المحب لله، سيعطى ثمارا صالحة. والعكس صحيح، فالإنسان الشرير سيفعل شرورا.</p>
<p>فلابد من تغيير القلب بالتوبة، لتصير الثمار صالحة.</p>
<p>&#8220;تُلقَى في النار&#8221;: كما أن العادة هي حرق الأشجار غير المفيدة، كذلك هؤلاء المعلمون الكذبة، لا ينتظرهم إلا العذاب في النار الأبدية.</p>
<p>فإن تمادى هؤلاء الأشرار في تعاليمهم المضلة، ستكون نهايتهم الهلاك، أي النار الأبدية. فينبغي التدقيق قبل أن نتبع أي إنسان، ونتأكد من سلوكه وفضائله، وأنه ابن الكنيسة وخاضع للآباء الروحيين.</p>
<ul>
<li>كن مميزا لمن حولك مع احتفاظك بمحبتك لهم. لا تنساق وراء تعاليم غريبة عن روح الكنيسة، أو تحضر اجتماعات ليس لها الصفة الرسمية والتبعية الكنسية، أو تستضيف أناسا لا تعرفهم بدعوى أن يحدثوك عن الله. اثبت في كنيستك وأسرارك المقدسة واجتماعاتك الروحية، فتنمو في معرفة الله ومحبته.</li>
</ul>
<p>المرجع : الموسوعة الكنسية لتفسير العهد الجديد - كنيسة مار مرقص بمصر الجديدة</p>

      {% endcreateArticleAccordions %}
    </section>
  {% endblock %}
