---
layout: 'layouts/reading.html'
title: 'قراءات الأسبوع (من الإثنين إلى الجمعة) تتبع السبت والأحد السابقين أم التاليين؟'
tags: 'great-lent'
permalink: /articles/great-lent/266.html
---
  {% block content %}
    <section id="article">
      <h3 class="mt-8 mb-4 heading-explain">شرح القراءات</h3>
      {% createArticleAccordions %}
        <p>أعتقد أنه سؤال كبير يحتاج كثير من الفحص والدراسة المُقارنة والرجوع إلى المخطوطات للوقوف على تاريخ ترتيب القراءة، ورُبَّما سبب إدخالها، وبينما يرى البعض إتفاق قراءات الأسبوع (من الإثنين إلى الجمعة) مع السبت والأحد السابقين لهم، يري البعض الآخر إتفاقهما مع السبت والأحد التاليين لهم، لكن في كل الأحوال ورغم وجود بعض الأدلة المُقْنِعة لكل فريق إلَّا أن الدراسة الفاحصة والإختلاف في الرأي يُثْري البحث، ولا يتعارض مع ما إستلمناه لأن تفسير القراءة ليست تقليد مُسَلَّم، وهي مثل دراسة وتفسير كلمة الله يراها القديس كيرلس بصورة، والقديس أثناسيوس بصورة أخرى، والعلامة أوريجانوس بصورة ثالثة، وهي في مجموعها تُغنينا بأعماق الكلمة الإلهية، ولا يتأثر معني قراءات الصوم (في رأيي البسيط) إذا كانت السبوت والآحاد هي بداية الأسبوع أم نهايته.</p>
<p>دعونا نلقي نظرة علي ما يدعم فكرة توافق قراءة السبت والأحد مع الأيام التالية لهم وليس السابقة.</p>
<h3><strong>قراءة الأسبوع تبدأ بالسبت والأحد</strong></h3>
<p><strong>الأدلة:</strong></p>
<p><strong>1- صلاة المساء</strong></p>
<p>لعلَّ ما جاء في توضيح سبب صلاة المساء (مساء الأحد) في كتاب السنة القبطيّة الكنسية للأستاذ يسى عبد المسيح أمين مكتبة المتحف القبطي (١٩٥٩م) يمكن أن يؤكد هذه الملحوظة:</p>
<p>[والمعروف الآن أنه بعد انجيل قداس أحد الرفاع يردون بطريقة الصوم الكبير وفي التوزيع يرتلون ما يناسب الصوم الكبير ثم أنه من أول عشية أحد الرفاع (ليلة الإثنين) إلى الأحد السادس كانت تقام صلاة عشية كعشية السبت (ليلة الأحد) تماماً تسد عن الأسبوع كله لأنه لا توجد صلاة عشية في غضون الأسبوع في الصوم الكبير وموجود لهذه الصلاة (العشية) فصول مدونة في قطمارس الصوم الكبير من أحد الرفاع إلى الأحد السادس من الصوم وهذه الفصول تتفق في معناها مع إنجيل قدّاس الأحد ولسوء الحظ لم أسمع هذه الصلاة مرة واحدة،وقد أهملت]<a href="#_ftn1" name="_ftnref1">[1]</a></p>
<p>فإذا كانت صلاة المساء يوم الأحد تسد عن عشيّات الأسبوع كلّه من أحد الرفاع إلى الأحد السادس معني هذا أن ما جاء في صلاة المساء يوم أحد الرفاع يسد عن الأسبوع الأول كما أن ما جاء في الأحد السادس يسد عن الأسبوع السادس، وإذا كانت كما قال الأستاذ يسي عبد المسيح تتفق فصول صلاة المساء مع إنجيل قدّاس الأحد معنى هذا أن فصل قدّاس الأحد يتّفق في معناه وموضوعه مع قراءات الأسبوع الذي يليه.</p>
<p><strong>2- كتاب ترتيب البيعة</strong></p>
<p>ما جاء في كتاب ترتيب البيعة يؤكد أيضاً هذه الفكرة</p>
<p>[سبت الشعانين (سبت لعازر) تقال فيه الألحان السنوية لأن فيه تذكار الآية العظيمة السيدية في إقامة لعازر من بين الأموات . وهو كان قديماً فصح الأربعين]<a href="#_ftn2" name="_ftnref2">[2]</a>.</p>
<p>معني هذا أنه كان قبل إنضمام الأربعين المُقدَّسة علي البصخة المُقدَّسة كان سبت لعازر هو فصح الصوم، أي أن نهاية قراءات الصوم كانت في جمعة ختام الصوم، وهذا يؤكِّد أنه لو كانت قراءات الأيام تنتهي بالأحد التالي لها لكانت قراءات الأسبوع السابع بلا أحد، وقراءات سبت وأحد الرفاع بلا أسبوع تابع لها .</p>
<p><strong>3 - كما أن هذا الرأي يجعل ترتيب الأسابيع مع السبوت والآحاد بصورة طبيعية</strong>،</p>
<p>بمعني لو أن قراءة الأسبوع تنتهي بالسبت والأحد كما يري الفريق الآخر، معني هذا أن سبت وأحد الرفاع ليس لهم ترتيب وخارج ترتيب قراءات الصوم، إذا بدأنا الترتيب بيوم الإثنين (أول أيام الصوم الكبير)، وأيضاً الأسبوع السابع لا ينتهي بسبت وأحد، لأن أحد الشعانين تعتبر داخل قراءات البصخة المُقدَّسة.</p>
<p>أي أنه لو كانت قراءات الأسبوع مرتبطة بالأحد التالي لكانت قراءات أحد الرفاع بلا أي إرتباط مع قراءات الأسبوع الأول ومستقلِّة تماماً عن قراءات الصوم، كما أنه تصير قراءات الأسبوع السابع بداية من الإثنين للجمعة بلا قراءات أحد، وأيضاً مستقلِّة في موضوعها عن الأحد.</p>
<p><strong>4- تكرار نص كتابي (يحكي حدث معين) بين السبت والأحد والأيَّام التالية له</strong> <strong>.</strong></p>
<ul>
<li><strong>أمثلة</strong></li>
</ul>
<p><strong>أولاً:</strong> إنجيل التجربة يأتي في إنجيل قدَّاس أحد التجربة (مت٤: ١- ١١)، وإنجيل قدَّاس يوم الأربعاء (لو٤: ١- ١٣) الذي يتبعه وليس الذي يسبقه، وهو يأتي بنفس الشاهد في إنجيل باكر أحد التجربة.</p>
<p><strong>ثانياً :</strong> إنجيل باكر أحد المخلَّع، وإنجيل باكر يومي الأثنين والخميس، اللذان يتبعاه وليس اللذان يسبقاه، تكلَّموا عن مثل واحد وهو الكرم والكرامين.</p>
<p>جاء مثل الكرم والكرامين في باكر أحد المخلع من (مت٢١: ٣٣)، يوم الإثنين من (مر١٢: ١- ١٢)، يوم الخميس من (لو٢٠: ٩- ١٩).</p>
<p><strong>5- تكرار نفس الموضوع في قراءة الأحد وقراءة أيام الإسبوع التالية له</strong></p>
<ul>
<li><strong>أمثلة</strong></li>
</ul>
<p><strong>أولاً: يتكلم إنجيل قدَّاس أحد الكنوز عن الكنز السماوي &#8220;لا تكنزوا لكم كنوزاً علي الأرض&#8221;.</strong></p>
<p>وهو نفس الموضوع الذي تكلم عنه:</p>
<ul>
<li>إنجيل قدَّاس يوم الثلاثاء &#8220;فتقتني لك كنزاً في السماء&#8221;</li>
<li>وإنجيل قدَّاس يوم الخميس &#8220;لتقتني لك كنزاً في السماء&#8221;</li>
<li>وإنجيل قدَّاس يوم الجمعة &#8220;الرجل الصالح من كنز قلبه الصالح&#8221;.</li>
</ul>
<p><strong>ثانياً : التعبير اللاهوتي الذي إستخدمه المسيح له المجد مع السامرية &#8220;أنا هو&#8221; جاء في:</strong></p>
<ul>
<li>إنجيل قدَّاس أحد السامرية،</li>
<li>إنجيل قدَّاس يوم الثلاثاء &#8220;أنا هو نور العالم&#8221;،</li>
<li>إنجيل قدَّاس يوم الجمعة &#8220;إن لم تؤمنوا إني أنا هو&#8221;</li>
</ul>
<p><strong>6- تكرار الجُمَلْ التي تختص بفكرة معينة أو موضوع معين</strong></p>
<p><strong>أولاً : الصلاة الربانية</strong> جاءت كلها في إنجيل قدَّاس أحد الرفاع، إنجيل قدَّاس يوم الجمعة من الأسبوع الأول.</p>
<p><strong>ثانياً : البيت المبني علي الصخر</strong> جاء في إنجيل باكر أحد الكنوز &#8220;أشبهه برجل عاقل بني بيته على الصخر&#8221;، وأيضاً في إنجيل قدَّاس الجمعة من الأسبوع الثاني &#8220;يشبه رجلاً بني بيتاً وحفر وعمق ووضع الأساس على الصخر&#8221;.</p>
<p><strong>ثالثاً : تأمَّلوا طيور السماء</strong> (الغربان)، <strong>وإطلبوا ملكوته،</strong> جاءا في إنجيل قدَّاس أحد الكنوز، وإنجيل باكر يوم الثلاثاء من الأسبوع الثاني.</p>
<p><strong>رابعاً : غلبة الشيطان</strong> جاءت في إنجيل قدَّاس أحد التجربة، وإنجيل قدَّاس جمعة الأسبوع الثالث &#8220;فإذا أتاه من هو أقوى منه وغلبه&#8221;.</p>
<p>ونفس المعني (<strong>التجربة - التجارب</strong>) جاءا أيضاً في إنجيل باكر خميس الأسبوع الثالث &#8220;لماذا تجربونني&#8221;، ونبوة يشوع بن سيراخ في جمعة الأسبوع الثالث &#8220;يا بني إن أقبلت لخدمة الرب هيئ نفسك للتجارب&#8221;.</p>
<p><strong>خامساً : المثل الذي قاله الرب عن الإبن الذي تظاهر بقبول وصية أبوه لكنه لم ينفذها</strong> (اليهود)، والإبن الذي رفض الوصية لكنه ندم أخير ورجع (الأمم)، وهو إشارة واضحة <strong>لمثل الإبن الضال</strong>.</p>
<p>هذا المثل جاء في باكر ثلاثاء الإسبوع الرابع، وهو الثلاثاء التالي لمثل الأبن الضال.</p>
<p><strong>سادساً : تعبير &#8220;ملكوت الله&#8221; أو &#8220;ملكوت السموات&#8221;</strong> جاء في :</p>
<ul>
<li>إنجيل باكر السبت الملازم لأحد الإبن الضال &#8220;ما أعسر على المتكلين على الأموال أن يدخلوا ملكوت الله&#8221;.</li>
<li>إنجيل قدَّاس السبت الملازم لأحد الإبن الضال &#8220;لذلك يشبه ملكوت السموات رجلا ملكاً&#8221;.</li>
<li>إنجيل باكر أحد الأبن الضال &#8220;يشبه ملكوت السموات رجلاً رب حقل&#8221;.</li>
<li>إنجيل باكر أثنين الأسبوع الرابع &#8220;طوبي لمن يأكل خبزاً في ملكوت الله&#8221;.</li>
<li>إنجيل قدَّاس إثنين الأسبوع الرابع &#8220;حتي إذا أدرككم الاضمحلال يقبلونكم في المظال الأبدية&#8221;.</li>
<li>إنجيل باكر ثلاثاء الأسبوع الرابع &#8220;إن العشارين والزناة سيسبقونكم إلى ملكوت الله&#8221;.</li>
<li>إنجيل قدَّاس ثلاثاء الأسبوع الرابع &#8220;ما من أحد يضع يده على المحراث وينظر إلى الوراء يكون أهلاً لملكوت الله&#8221;.</li>
</ul>
<p><strong>سابعاً : مثل الغني ولعازر</strong> (لو١٦: ١٩- ٣١) جاء في إنجيل باكر السبت الملازم لأحد السامرية، و<strong>مثل الغني الغبي</strong> (لو١٢: ١٦- ٢١) جاء في إثنين الأسبوع الخامس.</p>
<p><strong>ثامناً : رؤية المسيح له المجد</strong> (الإستنارة) لمن قبلوا، وغياب الرؤية والعمى الروحي لمن رفضوا.</p>
<ul>
<li>إنجيل قدَّاس السبت الملازم لأحد المولود أعمى &#8220;إيمانك قد خلصك . فلوقته أبصر&#8221;.</li>
<li>إنجيل عشيَّة أحد المولود أعمي &#8220;وأقول لكم اني لا أعرفكم &#8230; وأقول لكم انكم لا ترونني&#8221;</li>
<li>إنجيل باكر أحد المولود أعمى &#8220;ويل لكم أيها القادة العميان &#8230; من الآن لا ترونني&#8221;.</li>
<li>كاثوليكون أحد المولود أعمى &#8220;وأعطانا بصيرة لنعرف الإله الحقيقي&#8221;.</li>
<li>إنجيل قدَّاس أحد المولود أعمى &#8220;فقال له يسوع انك تراه وهو الذي يكلمك &#8230; فقال يسوع أتيت أنا دينونة للعالم حتي يبصر العميان ويعمى المبصرون&#8221;.</li>
<li>إنجيل قدَّاس أثنين الأسبوع السابع &#8220;والآب الذي أرسلني هو الذي شهد لي فما سمعتم صوته قط ولا رأيتم هيئته . وكلمته ليست ثابتة فيكم&#8221;.</li>
<li>إنجيل قدَّاس ثلاثاء الأسبوع السابع &#8220;قال يسوع هذا ومضى فتوارى عنهم &#8230; طمس عيونهم وأغلق قلوبهم لئلا يبصروا بعيونهم ويفهموا بقلوبهم &#8230; قال إشعياء هذا لأنه رأى مجد الله&#8221;.</li>
<li>إنجيل قدَّاس أربعاء الأسبوع السابع &#8220;ولكن قلت لكم وقد رأيتموني ولستم تؤمنون &#8230; كل من يرى الأبن ويؤمن به تكون له حياة أبدية&#8221;.</li>
<li>إنجيل قدَّاس خميس الأسبوع السابع &#8220;فقال لهم يسوع ألستم لهذا تضلون إذ لا تعرفون الكتب ولا قوة الله&#8221;.</li>
<li>إنجيل باكر جمعة ختام الصوم &#8220;ثم قال لتلاميذه ستأتي أيام إذ تشتهون أن تروا يوماً من أيام ابن الأنسان فلا ترون&#8221;.</li>
</ul>
<p><strong>7- توافق مزامير الأيام مع موضوع الأحد السابق لها</strong><strong>: </strong></p>
<ul>
<li><strong>أمثلة</strong></li>
</ul>
<p><strong>أولاً: الأسبوع الثاني</strong></p>
<p>في الإسبوع الثاني تبدأ القراءات بأحد الكنوز والذي يكشف عن المسيح كنزنا السماوي، كما يتكلم عن أهمية العطاء للآخرين، وهذا نجده في مزامير قداسات الأيام التالية:</p>
<ul>
<li>مزمور قداس يوم الأثنين &#8220;قدموا للرب مجداً وكرامة . قدموا للرب مجداً لأسمه&#8221;</li>
<li>مزمور قداس يوم الثلاثاء &#8220;طوبى لمن يتفهم في أمر المسكين والفقير&#8221;.</li>
<li>مزمور قداس يوم الثلاثاء &#8220;أحبك يا رب يا قوتي . هو ثباتي وملجأي ومخلصي&#8221;.</li>
<li>مزمور قداس يوم الجمعة &#8220;الرب يجلس ملكاً إلى الأبد&#8221;.</li>
</ul>
<p><strong>ثانياً : الأسبوع السابع</strong></p>
<p>في الأسبوع السابع تبدأ القراءات بأحد المولود أعمى وهو أحد الإغتسال والإستنارة للمؤمنين (المعمودية) وشهادة المولود أعمى، وفي ذات الوقت دينونة المقاومين (رؤساء اليهود)، وهذا نجده في مزامير قداسات الأيام التالية:</p>
<ul>
<li>مزمور قداس يوم الأثنين &#8220;أعترف لك أيها الرب إلهي من كل قلبي&#8221; شهادة المولود أعمى.</li>
<li>مزمور قداس يومي الثلاثاء والأربعاء &#8220;وتغسلني كثيراً من إثمي&#8221; المعمودية.</li>
<li>مزمور قداس يوم الجمعة &#8220;أتى ليدين الأرض&#8221; &#8220;أتيت أنا دينونة للعالم&#8221; إنجيل قداس المولود أعمى.</li>
</ul>
<p>من كل هذا يتضح لنا أن قراءات الصوم الكبير تبدأ بالسبت والأحد وتنتهي بالجمعة (وهو واضح في ترتيب القراءات من سبت الرفاع إلى جمعة ختام الصوم)، وهذا عكس ترتيب قراءات الخمسين يوم المُقدَّسة التي تبدأ بالإثنين وتنتهي بالسبت والأحد (وهذا واضح في إنتهاء القراءات بأحد العنصرة).</p>
<p>وليس غرابة في ذلك لأن قراءات الصوم تحكي قصة الحب الإلهي الذي نزل إلى هبوطنا وتجلَّي في الصليب (يو٣: ١٦)، أما قراءات الخمسين يوم المُقدَّسة فتحكي النعمة التي تُصْعِدَنا إلى علوُّه (أف١: ١٨- ٢٠) وإكتملت بملء الروح في يوم الخمسين.</p>
<p>ولكن هذا مجرد إجتهاد في البحث في القراءات يحتمل الصواب والخطأ، وإختلاف الآراء فيه يثري الدراسة، واذا راي  أحد بنعمة المسيح وإرشاد الروح القراءات من جانب آخر فهو في الحقيقة لا يضعف الجانب السابق له في الرؤية، بل يكمله، والحاجة إلى مزيد من البحث في هذا الكنز العظيم لأنه مازال يحمل أسراراً وأعماقاً لم نعرفها للآن، فالضرورة موضوعة على من سيثقلهم الروح في الدخول أكثر إلى عمق ملكوت القراءات في كنيستنا المقدسة.</p>
<h3>المراجع</h3>
<p><a href="#_ftnref1" name="_ftn1">[1]</a> <sup>- </sup><sup>السنة القبطية الكنسية -  الأستاذ يسي عبد المسيح -  ص ٣٢، ٣٣ -  إصدار الأغنسطس نبيل فاروق فايز</sup><sup>.</sup></p>
<p><a href="#_ftnref2" name="_ftn2">[2]</a> <sup>- </sup><sup>كتاب ترتيب البيعة عن مخطوطات البطريركية بمصر والإسكندرية ومخطوطات الأديرة والكنائس - ص ٥٣ - إعداد الأنبا صموئيل أسقف شبين القناطر وتوابعها.</sup></p>

      {% endcreateArticleAccordions %}
    </section>
  {% endblock %}
