---
layout: 'layouts/reading.html'
title: 'قراءات يوم الأثنين من الأسبوع الثالث'
permalink: great-lent/3-1.html
---
  {% block content %}
    <section id="readings">
      <ul>
      {% if 'undefined' != 'undefined' %}
      
      {% else %}
      {% if 'null' != 'null' %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">العشية</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeVespers '' '' %}
          </div>
        </div>
      </li>
      {% endif %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">باكر</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeMatins '19.32:1-2' '42.19:11-28' '20.1:20-33@23.8:13-9:7' %}
          </div>
        </div>
      </li>
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <h3 class="flex items-center justify-between">
            <span class="kufi">القداس</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </h3>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeLitugy '46.5:9-6:5' '60.1:3-12' '44.17:10-14' '19.32:5-5' '42.11:33-36' %}
          </div>
        </div>
      </li>

      {% endif %}
        </ul>
    </section>
    <section id="article">
      <h3 class="mt-8 mb-4 heading-explain">شرح القراءات</h3>
      {% createArticleAccordions %}
        <p>&#8220;من سلك في الطريق (المقدّسة) حتى الجُهَّال لا يضل لا يكون هناك أسد وحش مفترس لا يصعد إليها لا يوجد هناك بل يسلك المفديون فيها&#8221; (إش ٣٥: ٨، ٩).</p>
<p>&#8220;إذا نطقوا به تستنير عقولهم وتصعد إلى العلو قلوبهم&#8221; (إبصالية الثلاثاء).</p>
<p>[من له النور يسهر (والظلمة لاتدركه. يو٥:١) ولا ينام حيث لا توجد ظلمة من يستنير يكون يقظاً من جهة الله هكذا يعيش] (القديس إكليمنضس الإسكندري)<a href="#_ftn1" name="_ftnref1">[1]</a></p>
<h3><strong>شواهد القراءات</strong></h3>
<p>(أم ١: ٢٠- الخ)، (إش ٨: ١٣- الخ، ص ٩: ١-٧)، (مز ٣١: ٢،١)، (لو٩: ١١-٢٨)، (١كو ٥: ٩- الخ، ص ٦؛ ١-٥)، (١بط ١: ٣-١٢)، (أع ١٧: ١٠-١٤)، (مز ٣١: ٦،٥)، (لو١١: ٣٣-٣٦).</p>
<h3><strong>شرح القراءات</strong></h3>
<p><strong>تبدأ قراءات الإسبوع</strong> بإستنارة التوبة أي أن التوبة الحقيقة تنير النفس وتنير الطريق وتضمن أمانه وسلامته وهى أيضاً نور الكنيسة وضمان نصرتها. هى البصيرة التي تعرف الحق والحواس المدربة على التمييز بين الخير والشر والحكمة السماوية التي يعطيها الله لأولاده.</p>
<p><strong>لذلك تبدأ أمثال سليمان الحكيم</strong> بدعوة الحكمة الابن الكلمة للشعوب ولكل نفس بالتوبة ونتيجة الإستجابة وخطورة الرفض وتوابعه.</p>
<p>&#8220;الحكمة تنادي في الطرق، إلى متى أيها الجهال تحبون الطفولة، أرجعوا عند توبيخي، لأني دعوت فلم تسمعوا ومددت يدي فلم تلتفتوا، حينئذ يدعونني فلا أجيب يبكر الأشرار إليّ فلا يجدونني، والسامع لي يسكن في دعة مطمئناً ويستريح من كل مخاوف الشر&#8221;.</p>
<p><strong>وفي سفر إشعياء</strong> الدعوة موجّهه لكل شعبه مع عتاب للجوئهم للعرّافين وإذا كان الله حاجب وجهه في القديم فإنّه في ملء الزمان يشرق بنوره على كل الأمم لا لتري نوراً عادياً بل لتري شمس البر الذي لا ينير فقط لكن يقيم من الموت.</p>
<p>&#8220;أما الرب فقدّسوه وليكن هو خوفكم، إني أرجو الله الحاجب وجهه عن بيت يعقوب وأتوكل عليه، فإذا قالوا لكم اسألوا أصحاب التوابع والعرّافين المشقشقين والهامسين ألا يسأل شعب إلهه أيسأل الأموات عن الأحياء، الشعب السالك في الظلمة أبصر نوراً عظيماً والساكن في الكورة وظلال الموت أضاء نور حوله&#8221;.</p>
<p><strong>كما تعلن النبوءة</strong> مجئ ابن الله لأجل إشراقة السلام على كل البشر.</p>
<p>&#8220;لأنه يولد لنا ولد ونعطي إبناً وتكون الرئاسة على منكبيه ويدعى اسمه ملاك المشورة العظيم وأنا أجلب السلام لرئاسته والخلاص لنمو رياسته&#8221;.</p>
<p><strong>وفي مزمور باكر</strong> نور ابن الله لا يكشف خطايا النفوس، بل يسترها ويتركها، بل وأيضاً لا يحسبها في حسابات القضاء الإلهي والدينونة، وأن باب إستنارة الشعوب غفران الله لخطاياهم.</p>
<p>&#8220;طوباهم الذين تركت لهم آثامهم والذين سترت خطاياهم طوبي للرجل الذي لم يحسب له الرب خطيئة&#8221;.</p>
<p><strong>ويعلن إنجيل باكر</strong> خطورة المعرفة الخاطئة والأفكار المغلوطة عن الله التي تجعل الإنسان بلا ثمر.</p>
<p>&#8220;لأني خفت منك لأنك رجل قاسٍ تأخذ ما لم تضعه تحصد ما لم تزرعه&#8221;.</p>
<p><strong>كما يكشف عن</strong> مصير الرافضين ملكوت الله ودعوته.</p>
<p>&#8220;أقول لكم إن كل من له يُعطي ويزداد ومن ليس له فالذي عنده يؤخذ منه لكن أعدائي أولئك الذين لم يريدوا أن أملك عليهم إيتوني بهم ههنا واذبحوهم أمامي&#8221;.</p>
<p><strong>ويدعو البولس</strong> الكنيسة لتنقيتها من الداخل من الخبيث وإستنارتها في الفصل والحكم في مشاكل الناس بدلاً من اللجوء للمحاكم المدنية.</p>
<p>&#8220;ألستم أنتم تدينون الذين في الداخل أما الذين في الخارج فإن الله يدينهم فاعزلوا الخبيث من بينكم، فإن كان العالم يُدان بكم أفأنتم غير مستأهلين للمحاكم الصغري أما تعلمون إننا سندين ملائكة فبالأحرى أمور هذه الحياة فإن كان لكم محاكم في أمور هذه الحياة فأجلسوا المحتقرين في الكنيسة قضاة&#8221;.</p>
<p><strong>بينما يرفع الكاثوليكون</strong> عيوننا لفوق لنرى ميراثنا السماوي المُسْتَعد أن يعلن، ونعيش على الأرض خلاصنا الثمين التي إشتهت الملائكة أن تطّلع عليه وتطّلع إليه الأنبياء والذي لأجله نتنقّي كل يوم بنار الروح لنحسب أهلا لإستعلان ابن الله.</p>
<p>&#8220;لميراثٍ لا يبلي ولا يتدنس ولا يضمحل محفوظٌ في السموات لكم أنتم الذين بقوة الله محروسون بالإيمان للخلاص المُعَد أن يُستعلن في الزمان الأخير، كان يجب أن تحزنوا يسيراً بتجارب متنوعة لكي تكون تزكية إيمانكم وهى أثمن من الذهب الفاني مع كونه مختبراً بالنار فتوجدون أهلا للمديح والمجد والكرامة عند استعلان يسوع المسيح، الخلاص الذي طلبه وفحصه الأنبياء، التي تشتهى الملائكة أن يطَّلعوا عليها&#8221;.</p>
<p><strong>ويكشف الإبركسيس</strong> عن كنيسة مستنيرة نشيطة فاحصة للكلمة.</p>
<p>&#8220;وكان هؤلاء أشرف من الذين في تسالونيكي فقبلوا الكلمة بكل نشاط القلب فاحصين الكتب كل يوم هل هذه الأمور صارت هكذا&#8221;.</p>
<p><strong>وفي مزمور القدّاس</strong> <strong>تعترف النفس</strong> بخطاياها واثقة من صفح الله وغفرانه.</p>
<p>&#8220;قلت أعترف للرب بإثمي وأنت صفحت لي عن نفاقات قلبي&#8221;.</p>
<p><strong>ويختم إنجيل القدّاس</strong> بنقاوة الإنسان الداخلي وعين القلب الداخلية التي مدخلها الحواس والعين الجسدية والتي يمكن أن تجعل كيان الإنسان كلّه منيراً أو مظلماً.</p>
<p>&#8220;سراج جسدك هو عينك فإذا كانت عينك بسيطة فجسدك كله يكون منيراً وإذا كانت شريرة فجسدك كله يكون مظلماً فانظر لئلا يكون النور الذي فيك ظلمة&#8221;.</p>
<h3>ملخّص القراءات</h3>
<table width="506">
<tbody>
<tr>
<td width="91">أمثال سليمان</td>
<td width="416">ابن الله الحكمة يدعو كل الشعوب للتوبة.</td>
</tr>
<tr>
<td width="91">سفر إشعياء</td>
<td width="416">الله يبكّت الشعب للجوئه للعرّافين ويعطي وعد بمجيئه في ملء الزمان.</td>
</tr>
<tr>
<td width="91">مزمور باكر</td>
<td width="416">نور الله يستر النفوس وغفرانه للخطايا إستنارة الشعوب.</td>
</tr>
<tr>
<td width="91">إنجيل باكر</td>
<td width="416">مصير الرافضين مُلك الله عليهم.</td>
</tr>
<tr>
<td width="91">البولس</td>
<td width="416">حكمة الكنيسة في حل مشاكل الناس أفضل من اللجوء للمحاكم المدنية.</td>
</tr>
<tr>
<td width="91">الكاثوليكون</td>
<td width="416">الخلاص مشتهى الملائكة والأنبياء والميراث ثمين والتنقية دائمة.</td>
</tr>
<tr>
<td width="91">الإبركسيس</td>
<td width="416">الكنيسة التائبة هى التي تفحص على الدوام كلمة الله وتحيا بها.</td>
</tr>
<tr>
<td width="91">مزمور القدّاس</td>
<td width="416">نحن نعترف بكل خطايانا واثقين من غفرانه.</td>
</tr>
<tr>
<td width="91">إنجيل القدّاس</td>
<td width="416">العين البسيطة تعلن إستنارة عين القلب الداخلية.</td>
</tr>
</tbody>
</table>
<p></p>
<h3>الكنيسة في قراءات اليوم</h3>
<table width="506">
<tbody>
<tr>
<td width="91">سفر إشعياء</td>
<td width="416">نبوّات عن التجسد (ثلاث نبوّات).</td>
</tr>
<tr>
<td width="91">إنجيل باكر</td>
<td width="416">المكافأة والدينونة ومواهب الأعضاء وجهاد وأمانة الإنسان.</td>
</tr>
<tr>
<td width="91">الكاثوليكون</td>
<td width="416">الخلاص هو موضوع الكتاب كلّه وشهوة الأنبياء.</td>
</tr>
<tr>
<td width="91">الكاثوليكون</td>
<td width="416">عمل الروح القدس في الأنبياء.</td>
</tr>
</tbody>
</table>
<h3 dir="rtl">عظات آبائية :</h3>
<h4 dir="rtl">ليس احد يوقد سراجا للقديس كيرلس الأسكندري</h4>
<p dir="rtl">ليس احد يوقد سراجًا ويضعه في خفيه ولا تحت المكيال ، بل علي المناره لكي ينظر الداخلون النور &#8221; ( لو ١١ : ٣٣).</p>
<p dir="rtl">ماذا كان القصد بالنسبة لهذه الكلمات ؟ إنه يقاوم اليهود باعتراض مأخوذه من غبائهم وجهلهم ، لأنهم قالوا إنه يعمل معجزات لا ليؤمن به الناس أكثر ، ولكن لكي يصير له اتباع كثيرون ، ويحصل علي ثناء وتصفيق أولئك الذين ينظرون أعماله الخارقة. والرب يدحض هذا الافتراض باستخدام السراج كمثل ، فهو يقول ان السراج يكون دائمًا مرفوعاً وموضوعاً علي المناره ، فيكون نافعاً لمن يبصرونه . ولنتأمل الان النتيجه التي يشير إليها هذا الكلام. فقبل مجيء مخلصنا ،كان الشيطان — أب الظلمه — قد أظلم العالم ،وجعل كل الاشياء سوداء بقتام عقلي ، ولكن وبينما العالم فيهذه الحاله ، فإن الآب أعطي ابنه ليكون نوراً للعالم ، ليسطع علينا بنور الهي ، ولينقذنا من الظلمه الشيطانيه . ولكن أيها اليهودي ، ان كنت تلوم السراج لأنه غير مخفي ، ولكن علي العكس هو موضوع علي مناره ، وهو يعطي نوره لمنينظرون ، عندئذ يمكن ان تلوم المسيح لأنه لا يريد أن يكون مختفيًا ، بل علي العكس أن يراه الجميع ، منيرًا أولئك الذين في الظلمه ، وليفيض عليهم بنور معرفه الله الحقيقيه . فهو يصنع معجزاته لا لكي يعجب به الناس ، ولا يسعي بواسطتها إلي الشهره ، بل بالحري لكي نؤمن أنه بينما هو الله بالطبيعه ، إلا أنه صار إنساًنا لأجلنا ، دون ان يكف عن ان يكون كما كان (اي الهاً). ومن فوق الكنيسة المقدسه كمناره تشع بالتعاليم التي ينادي بها هو ، فإنه يعطي نورًا لأذهان الجميع بأن يملأهم بالمعرفه الالهيه .</p>
<p dir="rtl">المرجع : كتاب تفسير إنجيل لوقا للقديس كيرلس الأسكندري صفحة ٣٩١ &#8211; ترجمة دكتور نصحي عبد الشهيد</p>
<h5 dir="rtl"></h5>
<h5 dir="rtl"></h5>
<h4 dir="rtl">نقاوة القلب عند القديس يوحنا ذهبي الفم</h4>
<p dir="rtl">[ &#8221; طوبي لأنقياء القلب لأنهم يعاينون الله &#8221; لا يكفي الامتناع عن الشر بل نقاوة القلب ،ليمكن رؤية الله. لاحظوا هنا أيضاً أن المكافأة روحية . فهو يدعو &#8221; أنقياء &#8221; من قد بلغوا إلى قمة الفضائل ولم يبقوا في أنفسهم شيئا من الشر وكذلك من يضبطون أنفسهم في كل شيء ويتعففون عن الشهوات. لأنه ليس هناك شيء نحتاج إليه بشدة لكي نعاين الله بقدر هذه الفضيلة الأخيرة ، حيث يقول بولس الرسول ايضا : &#8221; اتبعوا السلام مع الجميع والقداسة التي بدونها لن يرى أحد الرب &#8221; ( عب ١٤:١٢ ).</p>
<p dir="rtl">فهو يتكلم هنا عن الرؤية النسبية أي التي على قدر ما يحتمل الإنسان بسبب محدودية البشرية فكثيرون يمارسوا عمل الرحمة ولا يرتكبون السلب ولا يشتهون مال الغير ومع هذا يوجدون متلبسين بخطايا الفسق والنجاسة. فلكي يظهر المسيح أن عمل الرحمة وحدة لا يكفي. أضاف هذا التطويب وهذا هو نفس المعنى تماما الذي يعنية بولس الرسول عندما كتب لأهل كورنثوس شاهداً للمقدونيين انهم أسخياء ليس فقط في إعطاء الصدقة ولكن أيضا في سائر الفضائل الأخرى لأنه بعد ان تكلم عن سخاؤهم ومحبتهم التي أبدوها من جهة كرمهم المادي قال ايضا : &#8221; بل أعطوا أنفسهم أولا للرب ولنا بمشيئة الله &#8221; ( ٢ كو ۸ : ٥ ) . ] القديس يوحنا ذهبي الفم</p>
<p dir="rtl">المرجع : كتاب نقاوة القلب في المفهوم الكتابي والآبائي صفحة ١٠٦٤ &#8211; إعداد احد الأباء الرهبان بدير السيدة العذراء &#8221; برموس &#8220;</p>
<h4 dir="rtl">نقاوة القلب عند القديس غريغوريوس أسقف نيصص</h4>
<p dir="rtl">[ان الله لم يخدعنا حين وعد أنقياء القلب انهم سوف يعاينون الله ، وأيضا لم يخدعنا بولس الرسول حين قال ( اتي ٦ : ١٦ ) ولا يوجد أي تعارض بين النصين لأن طبيعة الله غير المرئية صارت مرئية في خليقته وصرنا نستطيع أن نراه حين نتأمل في المخلوقات التي خلقها هو. ومعنى التطويب ( مت٥ :٨) ليس أننا نرى طبيعة الله في المخلوقات بل نرى حكمه هذا الكون التي تقودنا إلى الحكمة الفائقة والقوة الإلهية التي تظهر في تناسق المخلوقات .</p>
<p dir="rtl">وهذا التطويب يعطى تعزيه لأولئك الذين يجاهدون من أجل نقاوة القلب حتى يعاينون الله .</p>
<p dir="rtl">وهناك امثله في طبيعتنا البشرية مثل الصحة . فلا يكفي أن نتحدث عن أسباب الصحة بل يجب أن نتمتع بها .</p>
<p dir="rtl">لان الله لم يطوب الذي يعرف شيئاً عن الله بل الذي يمتلك الله في قلبه ( مت ٥ : ۸ ) ومعنى هذا أن من يطهر قلبه فإن الكلمة تصير أكثر له ويتم فيه قول الرب &#8221; ملكوت الله داخلكم &#8221; (لو ۱۷ : ۲۱ ) فان طهر إنسان قلبه من كل غضب وانفعال سوف يرى صورة الله الجميلة. فإن الله وضع القدرة في داخلنا على معرفته لأنه حين خلقنا وضع فينا هذا الكمال لكي يكون دائماً في طبيعتنا السلوك والسعي نحو هذا الكمال المطبوع في داخلنا .</p>
<p dir="rtl">يحدث في إنساننا الداخلي عندما نزيل القذارة التي تجمعت بسبب الشر والفساد عن القلب فإنه يتنقى ويرجع إلى حاله النقاوة الأولى. وإذا نظر الإنسان إلى ذاته فإنه سوف يرى صورته الأولى في طهارته ونقاوته التي هي صورة الله نفسه مثل الذين يرون الشمس في مرآة. فأنهم لا يتطلعون إلى السماء مباشرة ولكنهم يرون الشمس منعكسة في المرآة.وحينما تزول غمامة الظلمة من العين سوف نرى بوضوح تلك الرؤيا المباركة بالفكر الطاهر والقلب النقي.ولكن ما تلك الرؤيا: إنها الطهارة والقداسة والبساطة والنور الذي يضئ علينا وينعكس فينا من الله. وبهذا نستطيع أن ترى الله !!.] غريغوريوس أسقف نيصص</p>
<p dir="rtl">المرجع : كتاب نقاوة القلب في المفهوم الكتابي والآبائي صفحة ١٠٩٤ &#8211; إعداد احد الأباء الرهبان بدير السيدة العذراء &#8221; برموس &#8220;</p>
<h4 dir="rtl"></h4>
<h4 dir="rtl"></h4>
<h3 dir="rtl">عظات آباء وخدام معاصرون :</h3>
<h4 dir="rtl">ما هي طبيعة عينيك ؟ لقداسة البابا تواضروس الثاني</h4>
<p dir="rtl">يوم الأثنين من اليوم الثالث لقداسة البابا تواضروس الثاني</p>
<p dir="rtl">لو ( ١١ : ٣٣ – ٣٦ )</p>
<p dir="rtl">ما هي طبيعة عينيك ؟</p>
<p dir="rtl">فترة الصوم المقدس هي الفترة المقدسة التي ممكن أن يبدأ فيها الإنسان ويصلح من ذاته ، والجهاز الروحي في حياة الإنسان (عين  أذن  قلب)، وبصورة أخرى يحاول الكتاب المقدس من خلال القراءات التي قدمتها لنا الكنيسة في أيام الصوم ، ومن خلال الأسئلة تكون فقرة الإنجيل هي الإجابة على هذا السؤال. و إنجيل اليوم يحدثنا عن العين ، وكأن سؤال اليوم ما هي طبيعة عينيك ؟ أو ما هو نوع عينيك ؟ من الناحية الفسيولوجية العين تركيبها واحد عند كل البشر، ولكن عندما نتكلم عن العين هنا لا يقصد بها العين الخارجية ، وإنما المقصود العين الداخلية أي &#8221; العين الروحية &#8221; عين قلبك. يقولون البصر للأشياء الكبيرة ، أما البصيرة فللأشياء الدقيقة ، وهنا نسألك: &#8220;ما هو نوع عينيك ؟&#8221;.</p>
<p dir="rtl">إنجيل اليوم يحدد نوعين من العين ،  العين الشريرة المظلمة ، والعين البسيطة النقية ، وعندما يحدثنا عن العين التي تعتبر عضواً هاماً في الجهاز الروحي للإنسان نجد إنها المدخل الرئيسي للمعرفة في حياة الإنسان ، بمعنى كل ما نعرفه في حياتنا وصل إلينا من خلال العين. يقول علماء الاتصال والتربية أن العين تمثل ٧٥٪ كمدخل من مداخل المعرفة ، وإنجيل هذا اليوم يحدد أن العين هي سراج الجسد ، والسراج هو الذي يقود جسدك كله .</p>
<p dir="rtl">أيضاً العين سبب أساسي للعثرة ، فهي سبب رئيسي في قصة السقوط، فعندما قدمت الثمرة لآدم وحواء قيل عنها : &#8221; أنها شهية للنظرومبهجة للعيون &#8220;، وكانت النتيجة السقوط في الخطية.</p>
<p dir="rtl">إذا ونحن في الصوم نحاول أن تُصلح من أعيننا ، حيث أصلح عين قلبي الداخلية.</p>
<p dir="rtl">في التقليد القبطي عندما تُرسم صورة لا بد أن تُرسم العينان ، والقديس الأنبا صموئيل المعترف الذي فقد إحدى عينيه أثناء تعذيبه ، لذا نجد الفنان عندما رسم صورته رسم العين خارجة من مكانها ، فالمقصود بأن الإنسان له عينان &#8221; داخلية – خارجية &#8220;، وهؤلاء القديسون كان لديهم البصيرة الداخلية. &#8211; أيضاً من التقاليد القبطية في رسم الأيقونات نلاحظ أن العين مستديرة ولا تأخذ الشكل البيضاوي ؛ لأن الدائرة أو الاستدارة رمز لله الذي ليس له بداية ولا نهاية &#8230; هؤلاء عاشوا حياة روحية .</p>
<p dir="rtl">وعلى العين أن ترى وتفهم وتترجم ما تفهمه بصورة صحيحة ، وقد نجد وصايا إنجيلية تشرح ذلك .</p>
<p dir="rtl">* (مز ۱۹ : ۸) &#8221; وصايا الرب مستقيمة تُفرح القلب . أمر الرب طاهر ينير العينين &#8220;. بمجرد أن ار کو ان تقرأ الوصية تأخذ فعلين هما : تُفرح القلب وتنير عينيك ، إن الوصية  تجعل عينك منيرة ترى كل شيء بصورة صحيحة.</p>
<p dir="rtl">* (جا ۱ : ۸) &#8221; العين لا تشبع من النظر، والأذن لا تمتلئ من السمع &#8220;.</p>
<p dir="rtl">* (أم ٣٠ : ١٧) &#8221; العين المستهزئة بأبيها ، والمحتقرة إطاعة أمها ، ثقورها غربان الوادي ، وتأكلها فراخ النسر &#8220;.</p>
<p dir="rtl">لذلك يجب أن تضع خطة في هذا الصوم من خلال حياتك الروحية وممارساتك الروحية لكي تُصلح من عينيك ؛ لأن من الممكن أن تقع العين في شرور كثيرة جداً، والأمثلة على ذلك متعددة :</p>
<p dir="rtl">١ &#8211; عين شريرة أي عين طائشة لا تُركز في شيء ، وأقرب مثال على ذلك &#8221; الغني الغبي &#8220;، فالله أعطاه رزقاً وخيراً كثيراً ، لكنه كان لا يهتم فهدم مخازنه وقال : &#8221; أعمل هذا : أهدم مخازني وأبني أعظم وأجمع هناك جميع غلاتي وخيراتي . وأقول لنفسي : يا نفس لك خيرات كثيرة موضوعة لسنين كثيرة. إستريحي وكلي واشربي وافرحي . فقال له الله : يا غبي هذه الليلة تُطلب نفسك منك فهذه التي أعددتها لمن تكون ؟&#8221; (لو ١٢ : ١٦  ٢٠)، عين طاشة لا تفهم ولا تضبط الأمور بصورة صحيحة ، ولا تترجم أن عطية الله لنا ، كي ما نستخدمها بصورة صحيحة .</p>
<p dir="rtl">۲ العين النافدة أو التي تُدين باستمرار أو التي لا يعجبها شيئا ، ومثال على ذلك &#8221; سمعان الفريسي &#8221; عندما أتت المرأة الخاطئة في بيته بمشاعر توبة نقية خالصة ، والسيد المسيح يقبل منها هذه المشاعر التي قامت على الحب ، لكن سمعان لا يعجب بهذا التصرف وأدان هذه المرأة ، إلا أن السيد المسيح يضع سمعان وهو شخص مشهور في المجتمع اليهودي ويضع أمامه المرأة الخاطئة التي لا نعرفها حيث يضعها في مقارنة مع هذا الرجل ، وفي نهاية المقارنة تكون النتيجة أن المرأة الخاطئة تتوب بسبب الدموع التي انسكبت من عيونها. هناك من ينقد ويحقد ويحسد &#8230; مثل هذا الإنسان محتاج أن يتوب ، ولأجل هذا كانت التوبة ، إذا بدأت اليوم وعيناك بها هذا الضعف ، وتخرج من الصوم بنفس الضعف ، فما فائدة الصوم إذا إذ لم تجاهد ؟!</p>
<p dir="rtl">٣- العين الأنانية ، في العهد القديم عندما انتصر داود الراعي على جليات بقوة الله بدأ يحدث نوع من الغيرة لدى شاول الملك ، وهذه الغيرة تحولت إلى أنانية قاسية ، وبدأ شاول يسعى إلى قتل داود على الرغم من أن داود حقق انتصاراً لكل الشعب .</p>
<p dir="rtl">٤ &#8211; العين الطماعة ، مثل ما حدث بين لوط وإبراهيم ، ويختار لوط النصيب الأفضل كما حسن في عينيه.</p>
<p dir="rtl">٥ – العين الممتلئة شهوات الجسد ، وهي عين مثل ما قال عنها الكتاب : &#8221; لا تشبع من النظر &#8221; (جا ١  : ٨)، في العهد القديم نجد حواء وعيسو وشمشون &#8230;. والأمثلة كثيرة عن العين المملوءة شهوة ، وتعتبر هذه العين من أبواب الخطايا الشهوانية في هذا الزمان خاصة مع وجود وسائل الميديا بصفة عامة ، ويسقط الإنسان في خطايا كثيرة ولا يشبع .</p>
<p dir="rtl">٦- عين بلا رحمة وهي العين القاسية غير الرحيمة ، وأقرب مثال لنا هو &#8221; الغني ولعازر&#8221;، فالغني ربنا أعطاه عطايا كثيرة ، ولعازر على بعد أمتار منه ، لكن عينه قاسية لا ترى ، العين القاسية جعلته يتمتع ويعيش حياته ، وعلى بعد أمتار منه إنسان فقير لا يجد من يشبعه أو من يطببه .</p>
<p dir="rtl">إن العيون الشريرة كثيرة جدا ، ونحن في الصوم فرصة إننا نُحسن من هذه العين ، لكى ما تكون عيناً جيدة .</p>
<p dir="rtl">يقول سفر إشعياء : &#8221; لم تُرعين إلها غيرك يصنع لمن ينتظره &#8221; (إش ٦٤ : ٤) هذه العين الحلوة التي تنظر إلى الله وترى يده تعمل. في اختبار أيوب والتجربة الكبيرة التي مرّ بها نجد في نهاية السفر يقول : &#8221; بسمع الأذن قد سمعت عنك ، والآن رأتك عيني &#8221; (أي ٤٢ : ٥). قد تكون معرفتك بالمسيح معرفة سمع فقط ، وربما تكون معرفة ضعيفة ، ولكن لا بد أن تكون معرفتك من خلال عين قلبك ، حيث ترى المسيح في قلبك وتشعر بأنه يسكن في داخلك .</p>
<p dir="rtl">* صفات العين النقية :</p>
<p dir="rtl">العين النقية لها صفات عديدة ، نذكر منها الآتي :</p>
<p dir="rtl">(۱) العين المملوءة بالإيمان :</p>
<p dir="rtl">هي عين القلب الواعي التي تمتلئ بالإيمان ، وهذه العين ترى العجب ، ففي العهد القديم أرسل يشوع الرجال ليتجسسوا الأرض ، ورجع منهم عشرة قالوا : &#8221; لا يمكن أن نذهب لهذه الأرض لأننا كنا في أعينهم وان كالجراد ، لقد كنا أقزاماً وهم عمالقة فلا يمكن أن ندخل هذه الأرض &#8220;، لكن بالرغم من ذلك هناك اثنان قدموا تقريراً قالوا فيه : &#8221; يمكننا أن ندخل الأرض ونمتلكها &#8220;، وكانت هذه هي عين الإيمان ، ويدخل الجاسوسان ، ويقول كالب بن يفئة : &#8221; إننا نصعد وتمتلكها لأننا قادرون عليها &#8221; (عد ۱۳ : ۳۰). عين كالب اختلفت عن العشرة السابقين ، والفرق هو العين ، فعين كالب كانت عين الإيمان ، وعين الإيمان تجعلك عندما تقرأ في الكتاب المقدس تُبصر الوصية بعين الإيمان ، وإيمانك يصل بك ، فالإيمان باختصار معناه : &#8221; أن الله قادر وحاضر وعامل .</p>
<p dir="rtl">الله الحاضر هو الموجود ، والله القادر القوي الذي لا يعسر عليه أمر ، والله العامل هو من يعمل معي اليوم وغدا.</p>
<p dir="rtl">اعرف أيها الحبيب أنه كلما تقترب من إنجيلك وتأخذ منه وعوداً، كلما يقوى فيك روح الإيمان بأنك لست وحدك . هذه هي عين القلب الواعي .</p>
<p dir="rtl">(٢) عين الرجاء :</p>
<p dir="rtl"> قد نسميها &#8220;عين الذهن المستيقظ &#8220;، هناك من ينظر إلى الأمور برؤية إيجابية ، وآخر ينظر إليها بصورة سلبية ، وهذا يعني أنه من الممكن أن أتوب عن خطيتي بعين الرجاء. على سبيل المثال إذا وقفت أمام القديس أوغسطينوس نجده قد تعلم الخطابة في صغره ، وكان لسانه يجيد فن الخطابة ، وبعدها بدأ يشعر بذاته ولكنه بعد عن مسيحيته وإيمانه ، وعندما ذهب وانتقل إلى ميلانو وتقابل مع أسقف ميلانو القديس أمبروسيوس ، وهذا القديس كان يعطيه الله نعمة كبيرة ، فهو عندما كان يتكلم كانت عظاته تصل بالروح إلى قلب هذا الإنسان ، فترة مع فترة وسنة وراء سنة ، بدأت النعمة تطرق باب القديس أوغسطينوس ويجد أمامه قصة القديس الأنبا أنطونيوس التي كتبها البابا أثناسيوس نفسه ، فتجمعت كل هذه العوامل بعد عشرين سنة في الخطية ، حيث كان له شرور وانحرافات كثيرة ، لكنه برجاء ومع بداية قراءة الكتاب المقدس ورسالة رومية يبدأ يقدم توبة وتكون النتيجة أن يصير أوغسطينوس أسقفاً ، ويصير شفيعاً للتائبين ، ويصير أول إنساناً يسجل اعترافاته كتابة في كتاب سمي &#8221; اعترافات أوغسطينوس &#8220;. عين الرجاء هي نفس العين التي كانت عند المرأة السامرية ، وفي قصة الابن الضال نجده فقد كل شيء، حيث فقد أسرته ومجتمعه وسمعته وماله ، لكنه لم يفقد شيئاً واحداً فقط هو رجاؤه ، ولذلك عين الرجاء حركته إلى الأمام ، فقام وعاد إلى أبيه وقدم توبة.</p>
<p dir="rtl">عين الرجاء هي عين الأمل في المستقبل ، فهي عين الإنسان الذي ينظر إلى الأمام دائما وما هو قادم دائما أفضل ، وهذا مثل ما حدث مع المريمات في فجر القيامة حيث كن يفكرن ومشغولات فيمن يرفع لهن الحجر، لكن هذا السؤال لم يمنعهن عن أن يذهبن إلى القبر، وكأن كانت لهن عين الرجاء ، وعين الرجاء جعلتهن يصلن إلى القبر ويجدن الحجر مرفوعاً عن باب القبر.</p>
<p dir="rtl">(۳) عين الرضا والشكر:</p>
<p dir="rtl"> عين الرضا والشكرهي عين غالية جداً ، فهي عين الإنسان الذي يشكر دائما ، والإنسان الراضي في حياته يكون راضياً عن كل خطوة من خطوات الحياة ، والإنسان الراضي يعطيه الله نعما أكثر وأكثر، &#8221; ليست موهبة بلا زيادة إلا التي بلا شكر&#8221;، ولا تنظر عين الرضا إلى الأرضيات بل تنظر إلى السماويات دائما.</p>
<p dir="rtl">قصة</p>
<p dir="rtl"> يحكى عن ثلاثة كانوا يقطعون حجارة في الجبل ، فسألوا الأول : &#8221; ماذا تفعل ؟&#8221;، فقال لهم وهو متضايق : &#8221; إنه يقطع حجارة في الجبل &#8220;، ثم سألوا الثاني قال لهم : &#8221; أنا أحاول أن أكسب لقمة العيش لأولادي &#8220;، أما الثالث قال لهم : &#8221; إني أقطع الحجر وأشترك في بناء بيت لله &#8220;، وقد قال هذا وهو فرحان وراضي عن خدمته . عين الرضا مهمة جدا في حياة الإنسان.</p>
<p dir="rtl">* كيف أحصل على العين الجيدة ؟</p>
<p dir="rtl">أحصل على العين الجيدة من خلال ثلاثة أمور:</p>
<p dir="rtl">١ – نور  المسيح.</p>
<p dir="rtl">٢ – نور الاستقامة.</p>
<p dir="rtl">٣ – القوة ، والقوة تعني عمل النعمة .</p>
<p dir="rtl">ولكن لكي تنال هذا كله لا بد من عمل الآتي:</p>
<p dir="rtl">(۱) ممارسة الصلوات والأسرار :</p>
<p dir="rtl">تعلم كيف تواجه المسيح ، وهذا يتم من خلال صلواتك وممارسة الأسرار ووسائط النعمة باستمرار، فكل مرة تقف لتُصلي فيها سواء كنت في البيت أو الكنيسة أو في مخدعك الخاص فأنت تواجه المسيح وتقف أمامه. وقد تضع أيقونة لربنا يسوع المسيح أمامك أثناء الصلاة حتى لا يشرد فكرك ، يجب أن تواجه مسيحك وتقف أمامه باستمرار.</p>
<p dir="rtl">قصة</p>
<p dir="rtl">في أحد الأديرة الغربية بإحدى القرى وبعدما كان الرهبان ينتهون من الصلوات الصباحية الخاصة بهم ، لاحظوا أن هناك رجلا فلاحاً بسيطاً يدخل كنيسة الدير وهي فارغة ، ويجلس في أول صف ثم يمشي بعد فترة وجيزة ، لكن الآباء الرهبان تعجبوا ، لأنه لم يكن يقف يصلي ولا أي شيء سوى أنه يجلس في المقعد الأول ثم يمشي بعد فترة ، فاشتكى الرهبان لرئيس الدير، وبدأ رئيس الدير يراقب هذا الرجل ، وذات يوم جاء رئيس الدير لهذا الرجل وسأله : &#8221; ماذا تفعل هنا ؟&#8221;، فأجابه الرجل البسيط إجابة رائعة حيث قال له : &#8221; أنا أجلس أمامه وأتطلع إليه وهو يتطلع إلي وكلانا سعداء معا &#8220;، أما رئيس الدير فقد لاحظ أن أيقونة السيد المسيح الموجودة على حامل الأيقونات تبتسم لهذا الرجل عندما يكون موجوداً.</p>
<p dir="rtl">واجه مسيحك ، قف أمامه وتعلم كيف تكلمه ، ولذلك تسمي سير المعمودية &#8221; بسر الاستنارة &#8220;؛ لأن يوم المعمودية هو اليوم الذي نبدأ أن نأخذ فيه نورا لعيون قلوبنا وحواسنا ، وفي كل مرة تتقدم للتوبة وتمارس سر الاعتراف ، هذه الأسرار تمنحك هذه الاستنارة لتعيش فيها . لذلك عندما تصلي أعط فترة صمت كي يتكلم مسيحه .</p>
<p dir="rtl">(۲) مطالعة الإنجيل :</p>
<p dir="rtl">بالقراءة والتأمل في الكتاب المقدس تشتم رائحة المسيح الذكية وأنفاس الله ، وقد تستنير عيناك بالكلمة المقدسة ، هناك الكثير من الناس تجعل إنجيلها دائماً مفتوحاً فاجعل إنجيلك أمامك دائماً ، فهو فرحان بك وينير عينيك ، وكل ما تطالع الإنجيل أكثر سوف تستنير عيناك أكثر وتكون رؤيتك للأشياء رؤية إيجابية فيها روح الإيمان والرجاء والرضا .</p>
<p dir="rtl">(۳) مشاهدة المواقع المقدسة :</p>
<p dir="rtl">الأماكن التي تزورها من أديرة وكنائس قديمة وغيرها من المواقع المقدسة تجد فيها مكاناً هادئاً تستطيع أن تأخذ خلوة فيه وتجلس جلسة روحية هادئة في صمت ؛ وعندما تأخذ بركة الأماكن التي فيها رفات القديسين وتأخذها بوع ، فبلا شك هذه المواضع المقدسة تُعطي للإنسان شحنة روحية وتجعل عينيه نقية وبسيطة .</p>
<p dir="rtl">(٤) مصاحبة القديسين :</p>
<p dir="rtl">مصاحبة القديسين من خلال قراءة سير القديسين ، والتمتع بأقوالهم ، وتعيش مشاعرهم وزيارة أماكنهم . ومن طقوس الكنيسة الجميلة إننا كل يوم نقرأ سير القديسين في كتاب السنكسار، نقرأ سيرتهم ونتمثل بإيمانهم ونعيش مشاعرهم ونفهم حياتهم، من خلال سير القديسين أو النساك أو من عاشوا في التوبة والفضيلة وغيرهم &#8230;</p>
<p dir="rtl">ومن التقاليد الجميلة إننا نُسمي أولادنا وبناتنا على أسماء القديسين والقديسات ونعيش في معنى هذه الأسماء ، ومن الجميل أيضاً أن تعرف معنى اسمك ، فلكل اسم معنى ، وهذا المعنى لك نصيب فيه ، وعندما تحمل اسم من الأسماء التي عاشت في القداسة سوف تستنير عيناك ، فحاول أن تتمثل بهم .</p>
<p dir="rtl">(٥) الخدمة العملية :</p>
<p dir="rtl">انظر إلى الأماكن المحتاجة إلى الخدمة العملية ، وبالذات خدمة الذين ليس أحد يخدمهم ، فعندما تخدم هؤلاء يمكنك أن تشعر بمشاعر خاصة وترى المسيح الذي ينير عينيك ، حتى عندما تعود إلى منزلك تظل تفكر باستمرار في هؤلاء . واجه المسيح في صلواتك ، طالع إنجيلك وافتحه قدامك ، قم بزيارة الأماكن المقدسة ، صاحب القديسين ، وأخيراً اخدم في كل مكان يحتاج لخدمتك &#8230; بهذه</p>
<p dir="rtl">كلها تستنير عيناك.</p>
<p dir="rtl">درب ذاتك على ذلك، فالصوم فرصة ألا تشاهد صور غير نقية ، وهو فرصة لضبط النفس في كل شيء ، وقد أعطى الله للعينين الجفن وذلك لتغمض عينيك لكي لا ترى ما لا تُريد أن تراه .</p>
<p dir="rtl">اجتهد في أن تُدرب نفسك وأنت ستستنير، وتخرج من الصوم وأنت تحمل عين قوية ينطبق عليها قول الكتاب : &#8221; فإن كانت عينك بسيطة فجسدك كله يكون نيرا &#8221; (مت ٦ : ٢٢).</p>
<p dir="rtl">إن العين يستخدمها المسيح لكي ما يقدم لنا الطمأنينة فيقول : &#8221; من يمسكم يمس حدقة عينه &#8221; ( زك ٢ : ٨ ) وعين ربنا علينا واى شخص يمسنا يمس حدقة عين الله .</p>
<p dir="rtl">هناك رسالة طمأنينة ثانية يقول فيها : &#8221; أن عيني الرب على الأبرار، وأذنيه إلى طلبتهم ، ولكن وجه الرب ضد فاعلي الشر&#8221; (١ بط ۳ : ۱۲). أما رسالة الطمأنينة الثالثة تقول : &#8221; ما لم ترعين ، ولم تسمع أذن ، ولم يخطر على بال إنسان : ما أعده الله للذين يحبونه &#8221; (۱ کو ۲ : ۹)، وهذا يعني أن عيني مهما رأت ومهما تخيلت لا يمكن أن تصل إلى أنها ترى ما أعده الله للأبرار في السماء</p>
<p dir="rtl">احفظ عينك طاهرة لكي ما يكون جسدك كله طاهراً ، ودرب نفسك جيداً ، وقف قدام ربنا وأوعده أنك تجعل عينيك نقيتين ، واطلب منه أن يعطيك عينين مستنيرتين .</p>
<p dir="rtl">المرجع : كتاب إختبرني يا الله صفحة  ١٣٨- قداسة البابا تواضروس الثاني</p>
<h5 dir="rtl"></h5>
<h4 dir="rtl">تفسير إنجيل القدَّاس ( الموسوعة الكنسية لتفسير العهد الجديد )</h4>
<p dir="rtl">سراجًا هو كلمة الله التي ينبغي إعلانها من خلال حياتنا، وإذا أخفيناها لن يستفيد منها الميحطون بنا، فلا نضعها تحت مكيال المشاغل العالمية، أو القياسات المنطقية البشرية.</p>
<p dir="rtl">خفية أي إخفاء التعاليم، وعدم إعلانها لأن هذا سيمنع إستفادة الناس منها.</p>
<p dir="rtl">مكيال هو إناء ذو فوهة أضيق من قاعدته، يستخدم في قياس أحجام الحبوب عند بيعها بدلًا من الموازين.</p>
<p dir="rtl">كان الفريسيون يتهمون المسيح بعدم إعلان تعاليمه، ويطالبونه بآيات مع أنه كان يعلن تعاليمه ويعمل معجزات، ولكن المشكلة كانت في عدم إستعدادهم للإيمان وهم يضعون مكيال الشك على قلوبهم فلا يستطيعون أن يؤمنوا.</p>
<p dir="rtl">النور الذي فيك ظلمه أي عينك التي كان المفروض أن تكون نورًا لجسدك، تدخل إليه مشاعر طيبة تساعد على الإيمان، تصير على العكس مظلمة بشرها، لا ترى إلا الشك والإدانة فتبعد القلب عن الإيمان.</p>
<p dir="rtl">ينقل المسيح الكلام من السراج إلى العين، فالعين البسيطة هي سراج للجسد. ومعنى العين البسيطة، أي التي ترى الله وأعماله في كل ما حولها، وترى فضائل الآخرين وتشكر الله على كل شيء، وحينئذ يمتلئ الإنسان سلامًا ويستضئ بنور الله داخله.أما العين الشريرة، أي التي ترى خطايا الآخرين، فتدينهم وتتذمر، فيمتلئ جسدها اضطرابًا وتعبًا.</p>
<p dir="rtl">وهنا يوضح المسيح للفريسيين سبب عدم إيمانهم، وهو أن عيونهم شريرة تشك فيه، فترفض قلوبهم الإيمان به.</p>
<p dir="rtl">ينبغي فحص عينيك حتى تكون نظراتك بسيطة، أي مصدر راحة وسعادة لك، وتبعد عن كل نظرة شريرة تظلم حياتك وتفسدها.</p>
<p dir="rtl">إحرص أن تكون نظرتك بسيطة، فيضئ لك المسيح السراج الحقيقي بلمعان يفرح حياتك دائمًا.</p>
<p dir="rtl">المرجع : الموسوعة الكنسية لتفسير العهد الجديد &#8211; كنيسة مار مرقس بمصر الجديدة</p>
<hr />
<p><a href="#_ftnref1" name="_ftn1">[1]</a><sup>&#8211; تفسير الأمثال – القمص تادرس يعقوب ملطي</sup></p>

      {% endcreateArticleAccordions %}
    </section>
  {% endblock %}
  