---
layout: 'layouts/reading.html'
title: 'قراءات يوم الخميس من الأسبوع الثالث'
tags: 'great-lent'
permalink: /articles/great-lent/3-4.html
---
  {% block content %}
    <section id="readings">
      <ul>
      {% if 'undefined' != 'undefined' %}
      
      {% else %}
      {% if 'null' != 'null' %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">العشية</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeVespers '' '' %}
          </div>
        </div>
      </li>
      {% endif %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">باكر</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeMatins '19.9:11-12' '42.20:20-26' '1.18:17-33*@+1.19:1-29@20.2:16-22*@+20.3:1-4@23.11:10-16@23.12:1-2' %}
          </div>
        </div>
      </li>
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <h3 class="flex items-center justify-between">
            <span class="kufi">القداس</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </h3>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeLitugy '45.4:6-11' '59.4:1-10' '44.28:1-6' '19.9:7-8' '43.12:44-50' %}
          </div>
        </div>
      </li>

      {% endif %}
        </ul>
    </section>
    <section id="article">
      <h3 class="mt-8 mb-4 heading-explain">شرح القراءات</h3>
      {% createArticleAccordions %}
        <p>&#8220;هُوَذَا قَدْ جَاءَ الرَّبُّ فِي رَبَوَاتِ قِدِّيسِيه لِيَصْنَعَ دَيْنُونَةً عَلَى الْجَمِيعِ&#8221; (يه ١: ١٥،١٤)</p>
<p>[ورسم يوماً للمجازاة هذا الذي يظهر فيه ليدين المسكونة بالعدل ويعطي كل واحد كنحو أعماله] (القدّاس الباسيلي)</p>
<p>[لأن قايين لم يخف الله طوعاً، ملكت المخافة عليه كرهاً وأصبح مرتعباً هائماً على وجه الأرض، وتحت عذاب الخوف كان يرجو الله أن يجعل أي إنسان يقتله لكي يتخلص من هذه الحياة المملوءة خوفاً ورعباً]  (القديس مار فيلوكسينوس)<a href="#_ftn1" name="_ftnref1">[1]</a></p>
<p>[يا أيتها الدموع المنسكبة من قلب مجروح بسيف الندامة، ما أقدر سلطتك لأن ما أعظم الخوف من نظر الحاكم العادل وشقاوة أعدائه، ومع ذلك فتدخلين أنت وحدك إلى حضرة الملك ولا يعود أَمَلِك خائباً بل تغلبين من لا يغلب وتقدرين على القادر على كل شئ] (القديس أغسطينوس)<a href="#_ftn2" name="_ftnref2">[2]</a></p>
<h4><strong>شواهد القراءات</strong></h4>
<p>(أم ٢: ١٦-الخ، ص٣: ١-٤)، (أش١١: ١٠-الخ، ١٢: ١-٢)، (مز٩: ٨،٧)، (لو٢٠: ٢٠-٢٦)، (رو٤: ٦-١١)، (يع٤: ١-١٠)، (أع ٢٨: ١-٦)، (مز ٩: ٤)، (يو ١٢: ٤٤-٥٠).</p>
<h3>شرح القراءات</h3>
<p><strong>تتكلّم قراءات اليوم عن رفض الخلاص والدينونة العتيدة على الرافضين.</strong></p>
<p><strong>يبدأ سفر أمثال سليمان</strong> بكشف مصير الزناة والسائرين وراء الشر والأشرار وأن دينونة الخطية كامنة وكائنة فيها.</p>
<p>&#8220;يا ابني لا تصطادك المرأة الشريرة بمشورتها التي تركت التعليم منذ صباها ونسيت العهد المقدس فمال إلي الموت بيتها ومناهجها إلى الجحيم مع جبابرة الأرض&#8221;.</p>
<p><strong>وفي سفر إشعياء</strong> يعلن الطريق الوحيد للنجاة من الدينونة للشعوب وهو الصليب في ملء الزمان، وأيضاً يعلن خلاص المؤمنين من الأمم وهلاك الرافضين.</p>
<p>&#8220;ويكون في ذلك اليوم أن أصل يسّى القائم راية للشعوب إياه تترجى الأمم، ويكون قبره ممجداً، وفي ذلك اليوم يعود السيد فيمد يده ليقتني بقية الشعوب الباقية والذي يتبقي في أشور ومصر وبابل والحبشة، ويلقون أيديهم على أدوم وموآب&#8221;.</p>
<p><strong>كما يعلن أن الخلاص بالصليب</strong> هو طريق نجاة كل أحد.</p>
<p>&#8220;في ذلك اليوم أباركك يا رب لأنك غضبت علىَّ ثم رددت غضبك عني ورحمتني، هوذا السيد الله خلاصي فأكون متوكل عليه وبه أنجو فلا أخاف لأن مجدي وتسبيحي هو الرب ويكون لي خلاصاً&#8221;.</p>
<p><strong>ويكشف مزمور باكر</strong> أن الله لا يترك الدماء دون دينونة.</p>
<p>&#8220;وأخبروا في الأمم بأعماله لأنه طلب الدماء وتذكرها&#8221;.</p>
<p><strong>ويقدّم إنجيل باكر</strong> صورة لطرق العالم وأولاده في تدبير المؤامرات لدينونة الأبرار، وللأسف يستخدم هذه الطريقة ثياب الحملان ومن داخل ذئاب المحسوبين على اسم الله وعبادته.</p>
<p>&#8220;فراقبوه وأرسلوا إليه جواسيس وهم يتراءون ويقولون عن أنفسهم أنهم أبراراً لكي يصيدوه بكلمة ويسلموه إلى رئاسة الوالي وسلطانه&#8221;.</p>
<p><strong>ويعلن البولس</strong> برّ العهد الجديد الغافر خطايا البشر ومبرّر الأمم من الآثام والخطايا.</p>
<p>&#8220;طوبي للذين غُفرت آثامهم وسُترت خطاياهم، الذي كان في الغرلة ليكون أباً لجميع الذين يؤمنون وهم في الغرلة ليُحسب لهم أيضاً البر&#8221;.</p>
<p><strong>ويوضّح الكاثوليكون</strong> أسباب الدينونة الحروب والخصومات واللذّات والشهوات والحسد والخصام.</p>
<p>&#8220;من أين تأتي الحروب والخصومات بينكم أليست من هنا من لذاتكم المحاربة في أعضائكم، إنكم تشتهون وليس لكم، تقتلون وتحسدون ولاتقدرون على الفوز، تخاصمون وتحاربون وليس لكم، فمن أراد أن يكون محباً للعالم فقد صار عدواً لله&#8221;.</p>
<p><strong>أمّا الإبركسيس</strong> فيبيّن أن الإيمان بالعدل الإلهي موجود حتى في الشعوب الغريبة عن الإيمان.</p>
<p>&#8220;فرجع بولس ووجد كثيراً من القش ووضعه على النار، فخرجت من الحرارة أفعى ونشبت في يده، فلما رأي البرابرة الوحش معلقاً بيده قال بعضهم لبعض لا بد أن هذا الرجل قاتل فإنه بعد أن نجى من البحر لم يدعه العدل يحيا&#8221;.</p>
<p><strong>ويعلن مزمور القدّاس</strong> الرب ديّان الكل والقضاء الإلهي المزمع على كل المسكونة.</p>
<p>&#8220;الرب إلى الدهر يثبت أعد بالقضاء منبره وهو يدين المسكونة كلها بالعدل&#8221;.</p>
<p><strong>ويختم إنجيل القدّاس</strong> بالكشف عن التدبير الإلهي في حياتنا على الأرض، أن كل معاملات الله هى لأجل خلاصنا، أما الدينونة فهى في اليوم الأخير لكل رافضي كلمة الخلاص، وأن جوهر الدينونة هو الحرمان من نور المسيح في الأرض وفي السماء.</p>
<p>&#8220;أنا جئت نوراً للعالم حتى إن كل من يؤمن بي لا يمكث في الظلام، ومن يسمع كلامي ولا يحفظه فأنا لا أدينه لأني ماجئت لأدين العالم بل لأخلص العالم، من ينكرني ولا يقبل كلامي فله من يدينه، الكلام الذي تكلمت به هو يدينه في اليوم الأخير&#8221;.</p>
<h3>ملخّص القراءات</h3>
<table width="506">
<tbody>
<tr>
<td width="91">سفر الأمثال</td>
<td width="416">مصير الزناة والأشرار ودينونة الخطية كامنة فيها.</td>
</tr>
<tr>
<td width="91">سفر إشعياء</td>
<td width="416">الصليب هو الطريق الوحيد للنجاة من الدينونة للشعوب ولكل إنسان.</td>
</tr>
<tr>
<td width="91">مزمور باكر</td>
<td width="416">الله لا يترك حق وقضاء الدماء.</td>
</tr>
<tr>
<td width="91">إنجيل باكر</td>
<td width="416">طرق العالم للإيقاع بالأبرار لدينونتهم.</td>
</tr>
<tr>
<td width="91">البولس</td>
<td width="416">برّ العهد الجديد مبرّر الأمم من الخطايا والآثام.</td>
</tr>
<tr>
<td width="91">الكاثوليكون</td>
<td width="416">أسباب الدينونة الحسد والخصام واللذّات والشهوات ومحبّة العالم.</td>
</tr>
<tr>
<td width="91">الإبركسيس</td>
<td width="416">إيمان الشعوب الغريبة بالعدل والدينونة الإلهية.</td>
</tr>
<tr>
<td width="91">مزمور القدّاس</td>
<td width="416">منبر القضاء الإلهي لدينونة المسكونة.</td>
</tr>
<tr>
<td width="91">إنجيل القدّاس</td>
<td width="416">كل معاملات الله معنا على الأرض لأجل خلاصنا أما الدينونة في اليوم الأخير.</td>
</tr>
</tbody>
</table>
<h3>الكنيسة في قراءات اليوم</h3>
<table width="506">
<tbody>
<tr>
<td width="129">سفر الأمثال</td>
<td width="378">الجحيم</td>
</tr>
<tr>
<td width="129">سفر إشعياء</td>
<td width="378">خلاص الله للأمم في ملء الزمان</td>
</tr>
<tr>
<td width="129">الإبركسيس ومزمور وإنجيل القدّاس</td>
<td width="378">الدينونة</td>
</tr>
<tr>
<td width="129">إنجيل القدّاس</td>
<td width="378">الابن واحد مع الآب في العمل والمشيئة</td>
</tr>
</tbody>
</table>
<p><a href="#_ftnref1" name="_ftn1"></a></p>
<h3>عظات آبائية :</h3>
<h4>النور للقديس أغسطينوس</h4>
<p> أنه ينيرني، فتبددي أيتها الظلمة! إنه يخلصني، فوداعًا يا كل الضعف!</p>
<p>الله يهبني كلًا من معرفة ذاته (النور) والخلاص، فمن ينتزعني عنه&#8230;؟! الرب يطرد كل هجمات عدوي، الخفية والظاهرة، فلا أخاف أحدًا!</p>
<p>نعم يا إلهي&#8230; في غياب نورك ظهور للموت، أو بالحري مجيء للعدم.</p>
<p>يا لشقائي&#8230; لقد سادت عليّ الظلمة، ومع أنك أنت النور، إلا أنني حجبت وجهي عنك!</p>
<p>آه! قل هذه العبارة: &#8220;ليكن نور&#8221;، عندئذ أستطيع أن أعاين النور، وأهرب من الظلمة؛</p>
<p>أعاين الطريق وأترك طريق الضلال؛</p>
<p>أرى الحق وابتعد عن الباطل؛</p>
<p>انظر الحياة وأهرب من الموت؛</p>
<p>أشرق فيَّ يا إلهي، فأنت نوري واستنارتي&#8230;</p>
<p>أيها النور الأسمى، تعجل بالإشراق فيَّ أعمى يُريد أن يصير ملكًا لك! &#8230;.</p>
<p>&#8230;.. إلهي&#8230; أنت حياتي، أنت خالقي، أنت نوري، أنت مرشدي، أنت حصني ووجودي&#8230; ارحمني وأقمني&#8230;</p>
<p>يا الله إلهي&#8230; أنت نسمات حياتي، أنت صلاحي، قوتي، عزائي في يوم الضيق.</p>
<p>تطلع إلى كثرة أعدائي وخلصني من أيديهم، فإلى أين يهربون من وجهك أولئك الذين يمقتوك؟! أما أنا فبك وفيك أحيا.</p>
<p>أيها الكلمة&#8230; ليتني التصق بك، ففيك يكون حفظي&#8230;</p>
<p>أنت خلقتني، فلتتكرم وتعيد خِلْقَتِي.</p>
<p>أنا أخطأت، فلتفتقدني،</p>
<p>أنا سقطت، فلتقيمني،</p>
<p>أنا صرت جاهلًا، فلتحكمني،</p>
<p>أنا فقدت البصر، فلتعد ليّ النور! ..<a href="#_ftn1" name="_ftnref1">[3]</a></p>
<h5></h5>
<h5></h5>
<h4>كيف نكون نورا للقديس غريغوريوس النزينزي</h4>
<p>رغم إننا صرنا ظلمة بسبب الخطية فإن الله قد أضفى علينا جمالًا وبهاءً من خلال نعمته الفائقة. عندما يسود الليل ويلف <a href="https://st-takla.org/Full-Free-Coptic-Books/FreeCopticBooks-002-Holy-Arabic-Bible-Dictionary/17_ZAH/ZAH_09.html" target="_blank" rel="nofollow noopener noreferrer">الظلام</a> كل شيء نجد أنه رغم أن بعض الأشياء تصير مضيئة بالطبيعة، إذ حل النهار، فإن مقارنتها بالظلمة لا تنطبق على الأشياء التي كانت معتمة قبلًا بالسواد. وهكذا تعبر النفس من الخطأ إلى الحق، وتتبدل صورة حياتها المظلمة إلى نعمة فائقة. انتقل بولس الرسول عروس المسيح من الظلمة إلى النور، إذ يقول لتلميذه تيموثاوس (١تي١: ١٣) ، كما العروس لوصيفاتها، إنه قد صار مستحقًا إن يكون جميلًا، لأنه كان قبلًا مجدفًا ومضطهدًا ومفتريًا ومظلمًا. ويقول بولس الرسول أيضًا أن المسيح جاء إلى العالم لينير للذين في الظلمة. إن المسيح لم يدعو أبرارًا بل خطاة إلى التوبة، الذي جعلهم يضيئون كأنوار في العالم (في ٢ :١٥) ، بحميم الميلاد الثاني الذي غسلهم من صورتهم السوداء الأولى.</p>
<p>لنشعل لأنفسنا نور المعرفة. هذا يتحقق بزرع البرّ وحصاد ثمار الحياة، فإن العمل هو ابن التأمل، الأمر الذي نتعلمه بين أمور أخرى هو ما هو النور الحقيقي، وما هو النور الباطل، فنخلص من السقوط بغير حذر في الشر كأننا ساقطون في الخير. لنصبح نحن أنفسنا نورا، كما قيل للتلاميذ من النور الأعظم: &#8220;أنتم نور العالم&#8221; (مت ٥ :١٤). بل ولنصر &#8220;كأنوارٍ في العالم، متمسكين بكلمة الحياة&#8221;، أعني نصير قوة محيية للآخرين. لنتمسك بالألوهية، ونقتبس نورًا من النور  الأبهى الأول. لنسرنحوه مشرقين، قبل أن نتعثر في الجبال المظلمة المعادية (إر ٤٢ : ١٦). ما دام الوقت نهار فلنسلك بأمانة كما في النهار لا بالبطر والسكر، لا بالمضاجع والعهر (رو١٣: ١٣) ، التي هي أعمال الليل الشريرة.<a href="#_ftn1" name="_ftnref1">[4]</a></p>
<h3>عظات آباء وخدام معاصرون :</h3>
<h4>هل تفهم معنى الإيمان ؟ لقداسة البابا تواضروس الثاني</h4>
<p>يوم الخميس من الأسوع الثالث لقداسة البابا تواضروس الثاني</p>
<p>يو( ١٢ ، ٤٤ – ٥٠ )</p>
<p><strong>هل تفهم معنى الإيمان ؟</strong></p>
<p>في إنجيل هذا المساء ، السؤال ليس سؤالاً صريحاً ، ولكن السؤال في ثنايا الآيات ، وعليك أن تنتبه من هذه الملاحظة الهامة وهي أن إنجيل معلمنا يوحنا (٢١ أصحاحاً) في دراسته نقسمه قسمين : القسم الأول من (١  ١٢) وهو خاص بالمعجزات .</p>
<p> القسم الثاني من (١٣ للنهاية ) هو قسم الآلام .</p>
<p>إن القديس يوحنا الحبيب في كتابته لهذه البشارة لم يسجل أي مثل للسيد المسيح ، ولكنه اختار عدد من المعجزات ، هذه المعجزات لها دلالة لاهوتية قوية وسجلها في الاثني عشر أصحاح الأولين ، منهم حوالي ثماني معجزات وكانت آخر معجزة هي معجزة إقامة لعازر من الموت بعد أربعة أيام في القبر ، كانت هذه المعجزة هي الحادث المفصلي الذي بسببه بدأ اليهود التفكير في صلب السيد المسيح .</p>
<p>وبالأصحاح الثاني عشر يكون قد انتهى الجزء الأول من إنجيل معلمنا يوحنا الخاص بالمعجزات ، وأية معجزة لكي تتم في حياتنا لها شرط أولي هو الإيمان ، ولذلك سؤال اليوم هو : &#8220;هل تفهم معنى الإيمان ؟&#8221;.</p>
<p>أما الجزء الثاني من إنجيل معلمنا يوحنا هو خاص بالآلام ، فهو يتكلم عن أحداث أسبوع الآلام أي أحداث الصليب حتى القيامة وما بعدها ، ولهذا كان موقع الجزء الخاص بسؤال اليوم هو فصل ختامي للجزء الأول من هذا الإنجيل ، والسؤال المهم : &#8220;هل أنت تفهم معنى الإيمان ؟&#8221;.</p>
<p>نحن نصوم وتصلي ونذهب إلى الكنيسة ونُمارس أموراً كثيرة ، ولكن هل تعي مفهوم الإيمان ؟</p>
<p><strong>* مفهوم الإيمان :</strong></p>
<p>هذا الجزء الإنجيلي يتكلم عن النور ، وما دام هناك نور سيكون فيه ظلام ، ولكن الظلمة في الكتاب المقدس رمز للخطية ، إذا يمكن أن نضع كلمة الإيمان في خمس درجات تبين وتوضح مفهوم الإيمان :</p>
<p><strong>١- الإيمان توبة معاشة :</strong></p>
<p>الإيمان توبة معاشة وكلمة &#8221; توبة &#8221; كلمة جميلة نسمع عنها في الكنيسة ، لكن ماذا تصنع الخطية بالإنسان؟</p>
<p>إن الخطية تُصيب الجهاز الروحي في الإنسان ، والذي يتكون من العين والأذن والقلب ، لذا من يدقق في قراءات الصوم الكبير كلها ، سواء كانت نبوات العهد القديم أو قراءات العهد الجديد ، يجدها دائما تتكلم إما عن العين أو عن الأذن أو عن القلب ، فمثلا يوم سبت النور فيه نسهر طوال الليل ونقرأ سفر الرؤيا ، وأكثر عبارة تتكرر فيه هي : &#8221; من له أذنان للسمع فليسمع &#8220;نجد العين تُصيبها الخطية بالعمى ، أما الأذن فبالخطية ترفض أي شيء صالح ، كذلك القلب يصاب بالقساوة ويتحجر والسبب في ذلك الخطية ، لأن الخطية تُصيب الجهاز الروحى في الإنسان .</p>
<p>مثال القديس اسطفانوس :</p>
<p> القديس اسطفانوس هو أول الشهداء وأول الشمامسة أو رئيس الشمامسة ، تعال معي نقف معه في لحظة الرجم ، اسطفانوس شاب لطيف صغير وجهه كوجه ملاك ، واقف في الوسط رافع يديه بالصلاة ، لديه إيمان وقلبه مبصر وعيناه ترى السماء وأذناه تسمع الوصية ، لكن لماذا يرجمونه ؟ هم يرجمونه بتهمة التجديف ؛ لأن الخطية أعمت عيونهم وآذانهم توقفت عن السمع وقلبهم توقف عن الإحساس . إذا أول معنى للإيمان هو أن الإيمان توبة معاشة ، في فترة الصوم نحاول نعيش التوبة ويأتي المعنى الجميل يوم أحد الرفاع وتختار لنا كنيستنا العظيمة فصل من إنجيل معلمنا (متى ٦ : ٦) &#8221; فادخل إلى مخدعك وأغلق بابك &#8220;، ادخل إلى قلبك وأغلق فمك ، وكلمة ادخل هنا معناها لاحظ وضعية قلبك وعينيك وأذنك . بذلك يكون أول جانب يجعلك تضع أمامك أول خطوة للإيمان هو التوبة المعاشة ، وأرجوك لا بد أن تفهم هذا التعبير جيداً ، فالتوبة التي تعيشها ليست مجرد دقائق سرالاعتراف، لكنها توبة نعيشها كل يوم، والتوبة في المفهوم الأرثوذكسي في أبسط مفهوم لها هي حياة النقاوة &#8221; نقاوة القلب &#8220;.</p>
<p>عندما يأتي طالب الرهبنة إلى الدير يعطيه الأب المسئول عن اختبارات طالبي الرهبنة شوالا من الأرز ليقوم بتنقيته ، لم يكن المقصود تنقية الشوال ، ولكن المقصود أنه تدريب نسكي نتعلم فيه كيف تُنقي قلبك يوم بيوم وساعة بساعة وباستمرار، ولذلك التوبة تأخذ الحياة كلها.</p>
<p><strong>٢- الإيمان رؤية معاشة :</strong></p>
<p> في أحد المولود أعمى نقرأ عبارة جميلة قالها المولود أعمى : &#8220;أعلم شيئاً واحداً : أني كنت أعمى والآن أبصر&#8221;، إن التوبة تنقلك إلى الرؤية ، الإيمان هو الرؤية المعاشة ، ولكن ما المقصود برؤية معاشة ؟</p>
<p>الرؤية المعاشة تتحقق في حياة الإنسان السائر في طريق الله من خلال الصلاة ، لذلك نجد في كنيستنا صلوات كثيرة وتسابيح ، وأصوام تمتزج مع الصلوات وترانيم ومدائح وألحان ، إنها كنيسة مصلية ، فالصلاة هي معبرنا إلى رؤية الله ، وأوقات الصلاة هي الأوقات التي نمنحها لله لكي ما نراه ، فالله موجود في كل وقت وفي كل حين ، اطلب منه أن يعطيك رؤية داخلية في قلبك ، لقد قال الكتاب المقدس : &#8220;أريد أن نرى يسوع&#8221; (<span title="" data-verse-start="John.12.21" data-verse-end="undefined" data-original-title="">‏يو ١٢ ‏:‏ ٢١</span>)</p>
<p>إن الطريقة التي تستخدمها لكي ترى المسيح الصلوات ، ولذلك الإنسان الذي يهمل الصلاة بأي شكل من الأشكال ، لا يمكن أن يرى المسيح أو يشعربه.</p>
<p>لا تظن أن وقت الصلاة فقط هو لرؤية المسيح ، ولكن تكرار حياة الصلاة ومواقف الصلاة وتنوعها يجعلك تشعر مثلما يقول داود النبي : &#8220;جعلت الرب أمامي في كل حين ، لأنه عن يميني فلا أتزعزع &#8221; (مز ١٦ : ٨).</p>
<p>الإيمان رؤية معاشة ، عندما تتعرض لضيقات يكون أمامك حل من اثنين : إما أن ترى الضيقة وتفصلك عن الله ، أو ترى الله فيفصلك عن الضيقة ، فتكون رؤيتك لله هي التي تمنحك السلام والهدوء والفكر ، كي تستطيع أن تعبرأية مشكلة وأية ضيقة تحل بالإنسان &#8220;بنورك يا رب نُعاين النو&#8221; هذا هو وقت الصلاة، فكل صلاة نُصليها وكلما أقف قدام الله أخذ من نورك يا رب ، وأستطيع أن أرى جيدا .</p>
<p>في سفر نشيد الأناشيد نجد عروس النشيد في الأصحاح الثاني يناديها العريس ، والعريس هو رمز الله الذي ينادي النفس البشرية ، &#8220;أجاب حبيبي وقال لي : قومي يا حبيبتي ، يا جميلتي وتعالي . لأن الشتاء قد مضى ، والمطر مر وزال&#8221; (نش۲: ۱۰ -۱۱) والشتاء تعبير عن الخطية أو الوقت البارد لحياة الإنسان ، النفس البشرية أمام الله رؤية معاشة ، ويبدأ الله ينادي النفس البشرية ويقول لها : &#8220;أريني وجهك ، أسمعيني صوتك ، لأن صوتك لطيف ووجهك جميل&#8221; (نش ٢ : ١٤).</p>
<p>عزيزي تصور كل واحد فينا عندما يقف أمام الله ويصلي ويسبح أو يرئم ، وحتى وإن كانت هذه النغمات بداخله مثلما نقول في أول مزامير صلاة النوم : &#8220;من الأعماق صرختُ إليك يا رب &#8220;، تصور كل هذا ومسيحك يقول لنفسك : &#8220;أسمعيني صوتك لأن صوتك لطيف&#8221;.</p>
<p>أحياناً عندما يسير الإنسان في بعض الأماكن يجد الأشجار الخضراء تتناغم مع زقزقة العصافير وأصوات الطيور الجميلة وينسجم من هذا المكان ولا يريد أن يتركه ، فمسيحك الذي رأى توبتك ورآك تعيش فيها يناديك ويقول لك : &#8220;أريد أن أسمع صوتك &#8221; ، وهذه هي الخطوة الثانية الايمان رؤية معاشه .</p>
<p><strong>٣- الإيمان كلمة معاشة :</strong></p>
<p>كلمة الوصية هي الكلمة التي تعيشها انت في حياتك والوصية الكتابية وضعت لكي ما تكون سراجاً لحياة الإنسان ، أحياناً عندما ينظر الفرد لوصايا الإنجيل ويكون لديه شعور أن هذه الوصايا قديمة ، وإننا نعيش في أزمان متقدمة وتكنولوجيا سريعة ، لكن الإنجيل ليس فيه هذا ، فعندما كتبت الأسفار المقدسة لم يكن هناك ثورة اتصالات ولا تدفق للمعلومات ، فعليك أن تنتبه وتسمع ما يقوله الإنجيل : &#8220;إن سلكنا في النور كما هو في النور، فلنا شركة بعضا مع بعض ، ودم يسوع المسيح ابنه يطهرنا من كل خطية &#8221; (١يو ١ : ٧). إن سلكنا في النور أى في الوصية وعشنا فيها ، يقول لنا صاحب سفر المزامير : &#8221; لكل كمال رأيت حداً ، أما وصيتك فواسعة جداً &#8221; (مز ۱۱۹ :٩٦). أحياناً يكون هناك خلط في المفاهيم ، وأحياناً لا يفهم الناس مدلولات الكلام ويحتاج الإنسان إلى أن تكون الوصية واضحة .</p>
<p>مثال</p>
<p>سأضع أمامك مثالاً صغيراً ، بما أننا في أسبوع الابن الضال ، نسأل : &#8220;ما مشكلة الابن الضال ؟&#8221; مشكلة الابن الضال أنه كان لديه مفهومان مختلفان ، هو بسبب أصحابه وبسبب طياشة عقله ، اعتبر أن البيت الذي يعيش فيه سجن ومن الضروري أن يخرج للحرية . ودائما يا إخواتي الأحباء الخطية تبدأ بهذا المفهوم ، الوضع الذي أنت فيه سجن سواء كنت في البيت أو في العمل أو في الخدمة أو في الكنيسة أو في المجتمع أو في حياتك الخاصة ، ويبدأ الإنسان يتذمر على هذا السجن ، فليس هناك ما هو ممتع فيه ، وبهذا التذمر يجعل الفكرينحرف ، فماذا تكون النتيجة ؟ وما هي المشكلة التي عندك ؟ قال : &#8220;إن البيت بكل ما فيه سجن ، أريد أن أتركه وأذهب وأنطلق للحرية&#8221;، وأنت هل تفضل الحرية أم السجن ؟ ثم أخذ نصيبه وذهب وظل الحال كما يقولون في الأمثال : &#8221; دوام الحال من المحال &#8220;، وبدأت حياته في الانحدار وهو أمام الخنازير يشتهي طعامهم ، ولكن جاءت أمامه الفكرة الصحيحة وهي &#8220;أنا في السجن وأريد أن أرجع إلى حريتي&#8221;، السجن والحرية ليس في الجدران ، يمكن مزرعة الخنازير لم يكن لها سور، لكنه استيقظ من سباته العميق ، ولذلك نقول : &#8220;إن الإيمان هو كلمة معاشة ، ووصية نعيشها ونطبقها&#8221;، عندما اكتشف أن مزرعة الخنازير وهي تعبير عن حقارة الخطية ، قال أذهب إلى أبي حتى لو كنت في بيت أبي أجير ، ونجح . لذلك نُسمى دائماً هذا المثل بقصة &#8220;الابن الشاطر&#8221;.</p>
<p>قصة</p>
<p>في إحدى أديرة الراهبات الغربية ، قالت الأم الرئيسة : &#8221; تُريد أن نعرف هل يستجيب الله لصلاتنا أم لا &#8220;؟ وطلبت من كل راهبة أن تُصلي طلبة وتطلب من ربنا ما هي تريده وننتظر سنة ثم نرى كيف استجاب الله لنا ، وكان هناك راهبتان ، واحدة في خدمة المطبخ ، والأخرى في خدمة المكتبة ، وقفت خادمة المطبخ تصلي وطلبت من ربنا أن يرسل لها ستائر لشبابيك قاعة الطعام ، أما راهبة المكتبة فوقفت تصلي طالبة من ربنا أن يرسل لها ستائر لشبابيك المكتبة وحددت في طلبها (٣١,٥  مترا)، كل راهبة كانت تُصلي بمفردها ولا يعرف أحد طلبتهما . ذات يوم جاء للدير هدية طرد قماش ستائر ، فقامت الأم الرئيسة وجمعت الراهبات وسألتهن : &#8221; من كانت تصلي من أجل الستائر ؟&#8221;، فاثنتان من الراهبات أجابتا بالإيجاب ، وبدأ يحدث نزاع بين الاثنتين أن ربنا قد استجاب لصلاة إحداهما ، فكل منهما تظن أن ربنا استجاب لصلاتها ، فسألت الأم الرئيسة كلاهما : &#8221; ماذا طلبتي في صلاتك ؟&#8221;، قالت الأولى : &#8221; كنت أطلب من ربنا أن يرسل لنا قماش ستائر &#8220;، أما الأخرى قالت : &#8221; طلبت من ربنا ( ٣١,٥  متراً) من قماش الستائر &#8220;؛ لأنها قاست على الشبابيك المقاس المطلوب ، فحكمت الأم الرئيسة أن يتم قياس القماش ، وتحكي القصة أنهم عندما بدأن في قياس القماش وكأنهما في امتحان وكانت المفاجأة ان القماش يكون (٣١,٥ متراً)، وكان بالطبع من نصيب الراهبة المسئولة عن المكتبة . الإيمان كلمة معاشة ، السيد المسيح وعدنا قائلا : &#8220;ها أنا معكم كل الأيام إلى انقضاء الدهر&#8221; (مت ۲۸ : ۲۰). السيد المسيح لم يحدد هنا يوماً معيناً أو شهراً ، بل قال : &#8220;كل الأيام&#8221;، ولذلك إيمانك خلال الوصية هو في كل يوم ؛ لأن مسيحنا حاضر في كل يوم وهو قادر على تنفيذ الوصية وعلى الإيفاء بالوعد ، فكل وصية في الإنجيل هي بمثابة وعد ، يمكن تحقيقه ، والآية الجميلة التي نقرأها في سفر الجامعة تقول : &#8220;صنع الكل حسناً في وقتن (جا ٣ : ١١) .</p>
<p><strong>٤ الإيمان أسرار معاشة :</strong></p>
<p>يقصد بالأسرار &#8221; أسرار الكنيسة &#8220;، ويمكن أن نُركز على سرين &#8221; سر التوبة والاعتراف وسر التناول أو الإفخارستيا &#8220;، وهي الأسرار التي نأخذ بها النعم &#8220;نعم عمل روح الله&#8221;. ونعم عمل روح الله القدوس في الكنيسة هي متجددة على الدوام ، وهذه الأسرار تمنح الإنسان نعما كثيرة نعيشها ، في آخر القداس وعند ممارسة سر التناول يقول الأب الكاهن : &#8220;يعطى عنا خلاصاً&#8221;، من أين لنا بهذا الخلاص ؟ يقول : من عند المسيح ، وغفراناً للخطايا . فمن يستطيع أن يمحي الخطية إلا شخص السيد المسيح ودمه الزكي الكريم وحياة أبدية لمن يتناول منه ، إذا وضعت أمامك الثلاث بركات السابقة كأنك في كل مرة تحضر القداس ، فإنك تحضر بوع وتمارس هذا السر بوع ، ونفسك تكون كلها حاضرة ، وتكون النتيجة أنك تعيش السر ، فتتلامس بقوة الخلاص ، وتتلامس مع فرحة غفران الخطية ، وتتلامس أيضاً مع الدعوة السمائية ؛ لأن لك نصيباً في السماء ، وكأن في كل مرة تحضر فيها القداس يتجدد أمامك الوعد الذي قاله لك السيد المسيح : &#8221; أنا أمضي لأعد لكم مكاناً &#8221; (يو ١٤ : ٢)، ويصير الإيمان أسرارا معاشة . كذلك سر التوبة ومفهومه الأصيل وكيف يمارسه الإنسان أمام الله وأمام نفسه ثم أمام كنيسته ممثلة قدام أب اعترافه لينظف قلبه. إذا الإيمان في جانبه الرابع هو الأسرار المعاشة في حياتك.</p>
<p><strong>٥- الإيمان هو المحبة المعاشة :</strong></p>
<p>لقد قدمت توبة ورأيت من خلال الصلاة ، وسلكت من خلال الوصية وعشت من خلال الأسرار ، يبقى أن أمارس المحبة ، يقول معلمنا بولس الرسول : &#8221; الإيمان العامل بالمحبة &#8220;، لقد بدأت من التوبة ووصلت إلى المحبة ، فماذا تعني المحبة ؟ إنها تعني خدمة الآخرين . الإيمان العامل بالمحبة فيه يتحول إيمانك من فعل نظري أو فعل باطني داخلي إلى عمل خارجي ، فأنت تُعبر عن إيمانك من خلال أعمالك ، أي من خلال محبتك وخدمتك للآخرين ومن خلال أعمال الرحمة التي تستطيع أن تُقدمها ، وينطلق الإنسان بهذه الصورة الإيمانية لخدمة كل أحد في أي مكان .</p>
<p>لذلك نسمع في مسيحيتنا من أيام السيد المسيح أن هناك أناساً تكرس نفسها وتعيش لتخدم الآخرين دون طلب شيء أو طلب مقابل ، بل حباً في الله ، وتقدم حياتها لخدمة كل أحد.</p>
<p>لذلك لا بد من أن يعبر عن الإيمان ، وقد ذكر في فصل إنجيل اليوم &#8221; الكلام الذي تكلمت به هو يدينه في اليوم الأخير &#8221; (يو ١٢ : ٤٨)، ليس الموضوع مجرد أن تقف تردد قانون الإيمان ، أو مكتوب في هويتي الشخصية &#8221; الديانة: مسيحي &#8220;، ولكن الموضوع له بداية ، ولا بد أن تنتبه من هذه البداية لأنها تكون من الداخل وليست من الخارج ، فإن كانت البداية من الخارج سيكون هذا عملاً اجتماعياً ، لكن في المفهوم المسيحي خدمتنا تقدمها في محبة كاملة بدايتها تكون التوبة التي تعيشها كل يوم بنقاوة قلبك ، ثم بالرؤية التي تُمارسها على الدوام ، ثم بالكلمة المقدسة وبالوصية التي تعيشها &#8220;في ناموسه يلهج نهاراً وليلا &#8221; (مز ۱ : ۲)، ثم عن وع بممارسة الأسرار وقربك من المذبح ، وأخيراً تقدم المحبة المعاشة من خلال خدمة الآخرين ، ومن خلال تعبك من أجل الآخرين ، ومن خلال المحبة التي تقدمها ؛ وذلك لأن قلبك قد امتلأ بمحبة الله .</p>
<p>ونحن في الصوم الكبير نصلي قائلين : &#8221; طوبى للرحماء على المساكين &#8220;، فنحن نصلي من أجل أعمال الرحمة التي يقدمها الإنسان ، لكن لا تنس أن كل يوم من أيام الصوم هو يوم للتوبة ، ويوم لينظر فيه الإنسان إلى قلبه من الداخل ، وأيضاً ينظر إلى حياته ويدرك مصيره في هذه الحياة .</p>
<p>فليعطنا الله يا أحبائي أن تكون حياتنا مرضية أمامه في كل حين ، وليعطنا القلوب التائبة التي من خلال محبة الله تصل إلى خدمة الآخرين &#8230; لإلهنا كل المجد والكرامة من الآن وإلى الأبد. آمين.<a href="#_ftn1" name="_ftnref1">[5]</a></p>
<p><a href="#_ftnref1" name="_ftn1"></a></p>
<h4>نور العالم للمتنيح أنبا بيمن</h4>
<p>&#8221; أنا هو نور العالم ، من يتبعني فلا يمشي في الظلمة &#8221; (یو ۱۲:۸) من الألقاب التي عرف بها الرب يسوع في الكتاب المقدس ، أنه نور العالم إنه هو النور الحقيقي ، الذي يضئ في الظلمة ، والظلمة لا تدركه ولا تعرفه .. وهذا اللقب ذكره المسيح له المجد عن نفسه ، عندما قدموا له المرأة التي أمسكت في الزنا، وكانوا يطلبون رجمها .. أشار الرب في سرية روحية ، أن الظلمة لم تكن في المرأة الزانية التي تابت ، وإنما في الفريسيين الذين يعيشون في حياة مظلمة داخلية، ويدعون أنهم يعرفون النور والحق والوصايا . وأطلق هذا اللقب مرة أخرى ، عندما رأى المولود أعمى .. وواجه الفريسيين الحاقدين ، الذين لم يفرحوا لأن الرب أعاد البصر لهذا المسكين ، إنما أظلمت قلوبهم بالحقد، وأدانوا المخلص أنه عمل المعجزة يوم سبت&#8230;فالقضية إذا مسيحيا ليست هي قضية بصر العينين الجسديتين ، إنما البصيرة التي في الداخل ، التي تعرف الانسان الحق ، وتلهمه الصلاح . وتقوده إلى الطريق ، وتحفظه في النور والحق والحب والحياة الحقيقية .. وحتى يستكمل المقال أبعاده ، نسأل :</p>
<p>١- ما الذي جاء عن النور في العهد القديم ، وإشاراته ورموزه عن المخلص ؟</p>
<p>۲ - ما أعلنه السيد الرب لنا عن شخصه کنور للعالم ، وعلاقة هذا بالمفاهيم اللاهوتية الأساسية ، مثل الحق والحب والحياة ؟</p>
<p>٣ - ما هي التداريب الروحية ، التي نخرج بها من دراستنا هذه ، کی نحيا في النور ونسلك كأبناء نور ؟</p>
<p><strong>النور في العهد القديم</strong></p>
<p>في سفر التكوين ، نقرأ عن أن الله الذي هو نور لا يدني منه ، إذ رأي الأرض خربة وخالية ، مشوشة ومضطربة .. أخذ روح الله يرف علی وجه المياه .</p>
<p>ومعنى هذا أن الحياة بدأت تدب في الخراب والفوضى..</p>
<p>وأعد روح الله الأرض ، ليقول الآب بأبنه الكلمة ليكن نور فكان نور&#8230; وهكذا كان النور إفصاحا عن طبيعة الله</p>
<p>فالله هو النور الحقيقي ، وخلق النور كان من عمل يديه ، وكل ما يعمله الله حسن ، ورأى الله أن النور حسن ، فهو حسن لأنه صنعة يديه، ولأنه يعلن عن طبيعة الله النورانية الحقانية ، ولأنه يمهد لأعمال الخلقة العظيمة الآتية من بعد، ولأن سيكون متعة وجمالا للإنسان الذي أراد خلقته على صورته ومثاله ، لينعم بكل ما يخلقه له .</p>
<p>الله يسكن في نور لا يدني منه، وهو النور الحقيقي . ولكنه إذا أراد أن يكشف للإنسان عن شئ من طبيعته النورانية ، أعطاه النور الحى ، ليكون واسطة وإيضاحا عن إمكانية التلامس مع النور الإلهي ، هذا النور الحقيقي الذي كل من يتبعه لا يمشي في الظلمة البتة.</p>
<p>وكان الرمز صريحا في خيمة الإجتماع، فالمغارة الذهبية بشعبها الست وسرجها السبعة ، كانت تشير في وضوح إلى الرب يسوع المسيح ، الذي هو نور العالم ، والنور الحقيقي الذي ينير كل إنسان (يو ١: ٩)، كان نورها مستمرا من المساء إلى الصباح بإستمرار.. وكانت من ذهب نقی، تشير إلى المسيح الآتی کنور العالم ، وإلى النقاوة الكاملة في شخص المسيح ، وإلى المؤمنين سيضيئون كأنوار في العالم (في۲: ١٥).</p>
<p>وكذلك كان نور الله ومجده يحل بين الكروبين على غطاء تابوت الشهادة (خر٤٠ :٣٥) فلم يقدر موسى أن يدخل خيمة الاجتماع، لأن السحابة حلت عليه، وبهاء الرب ملأ المسكن.</p>
<p>وورد بسفر العدد أنه &#8220;وفي يوم إقامة المسكن غطت السحابة المسكن خيمة الشهادة وفي المساء كان على المسكن كمنظر نار إلى الصباح&#8221; . وهكذا كان دائما السحاب تغطيه ومنظر النار ليلا &#8221; (عدد ٩: ١٥- ١٦).</p>
<p>لقد كان النور نهارا في السحابة ، واللهيب ليلا في عمود النار ، إشارة إلی نور المسيح الذي يضئ في قلوب المؤمنين نهارا وليلا يهدی مواكبهم طرق السلام .</p>
<p>وفي عيد المظال أيضا ، كان اليهود يوقدون المنارة ، ثم يسكبون الماء على درج الهيكل ، ليذكرهم العيد كيف أخرج الرب لهم الماء من الصخر ، وكيف هداهم بعمود النور ليلا و السحابة نهارا&#8230;</p>
<p>وفي هذا اليوم من العيد العظيم ، وقف يسوع بجوار المنارة وشاهد الطقس يجري ، وأعلن عن نفسه أنه نور العالم ، وأن من يؤمن به تخرج من بطنه أنهار ماء حي.</p>
<p>لقد كان النور مرتبطا بالمسيا إرتباطا شديدا طيلة العهد القديم وبالأخص في سفر أشعياء النبي الإنجيلي.</p>
<p>+ &#8221; الشعب السالك في الظلمة أبصر نورا عظيما الجالسون في أرض ظلال الموت أشرق عليهم نور &#8220;(اش ۲:۹) .</p>
<p>+ قد جعلتك نورا للأمم ، لتكون خلاصي إلى أقصى الأرض (أش ٤٩: ٦) أنظر أيضا (أش ٦٠ :١)، ( أش٤٢: ٦).</p>
<p>المسيح هو النور الحقيقي</p>
<p>+ هو نور شخصية المبارك &#8221; الرب نوری وخلاصی&#8221;.</p>
<p>+ وهو نور في طبيعته &#8221; الله نور وليس فيه ظلمة البتة &#8221; .</p>
<p>+ وهو نور في معرفته &#8221; كل حق هو نور&#8221; . إنه ينير لكل إنسان أتيا إلى العالم لهذا كل من يتبعه ، يحيا في النور ويصبح هو أيضا نورا للآخرين.</p>
<p><strong>النور والحياة</strong></p>
<p> إن المتأمل في اللاهوت الأرثوذكسي يجد ثمة إرتباطا شديدا بين النور والحياة ، النور والحق ، النور والحب . فالمسيح هو النور وهو الحياة وقد أعلن عن هذا بوضوح عند قبر لعازر .. حيث المعركة التي واجهت فيها الحياة ظلمة الموت والخطيئة .</p>
<p>فهو عندما يعلن عن حبيبه لعازر انه قد نام ، أي قد مات ، يقول إن كان أحد يمشي في النهار لا يعثر ، لأنه ينظر نور العالم ، ولكن إن كان أحد يمشي في الليل يعثر لأن النور ليس فيه.</p>
<p>فالخطيئة هي التي أثمرت الموت ، إذ يقول الكتاب أجرة الخطية موت ، أما هبة الله هي حياة أبدية ، وأما الذي يؤمن بالإبن فله حياة أبدية ولو مات فسوف يحيا لأن الحياة هي في شخص الرب يسوع ونوره ونلبس أسلحة النور ولنسلك بلياقة كما في النهار ، لا بالبطر والسكر لا بالمضاجع والعهر ، لا بالخصام والحسد، بل إلبسوا الرب يسوع المسيح . ولا تصنعوا تدبيرا للجسد لأجل الشهوات . (رو ۱۳: ۱۳-١٤).</p>
<p><strong>النور والحق</strong></p>
<p>المسيح هو النور الحقيقي ، وهو الحق كما هو الحب والحياة . والإرتباط  وثيق تماما بين النور والحق . فهما طريق الرب.</p>
<p>وقد سلم للكنيسة الروح القدس ، وسلمه الآباء لتلاميذهم ، حتی سمیت المسيحية في عصر الرسل طريقة الرب .. إنها الحياة التي فيها النور ، القداسة، الوضوح والصراحة والاستقامة ، الحق الذي لا يعرف غشا أو التواء أو دبلوماسية</p>
<p>وأشعياء في القديم بروح النبوة ، حذر بشدة من الدخول في طريق الإلتواء أو خداعا.</p>
<p>طريق الخداع ومجاملة الناس على حساب الوصية وحق الله . &#8220;ويل للقائلين للشر خير ، وللخير شرا ، الجاعلين الظلام نورا والنور ظلاما والجاعلين المر حلوا والحلو مرا ، ويل للحكماء في أعين أنفسهم والفهماء عند ذواتهم&#8221; (أش ٥ : ۲۰).</p>
<p>ولقد أوضح الرب هذه الحقيقة ، عندما واجه الكتبة والفريسين ، الذين تنطبق عليهم ويلات أشعياء ، عندما قال : وهذه هي الدينونة ، أن النور قد جاء الى العالم وأحب الناس الظلمة أكثر من النور ، لأن أعمالهم كانت شريرة (يو٣ :١٩- ٢٠)</p>
<p>وفي الإرتباط بين النور والحق ، قال الرب له المجد ، وأما من يفعل الحق ، فيقبل إلى النور ، لكي تظهر أعماله أنها بالله معمولة (يو ٣: ۲۱) .</p>
<p>والنور الذي أعلن لنا في شخص المسيح ، ليس إضاءة مادية ، بل هو طريق ومنهج وحياة وسلوك وإختيار &#8221; فسيروا مادام لكم النور ، لئلا يدرككم الظلام ، والذي يسير في الظلام ، لا يعلم إلى أين يذهب . مادام لكم النور ، آمنوا بالنور لتصيروا أبناء النور&#8221; (يو ۱۲ : ٣٥) .</p>
<p>ويقول بولس الرسول لأهل أفسس &#8221; لأنكم كنتم قبلا ظلمة أما الآن فنور في الرب اسلكوا كأولاد نور &#8221; (أف ٥: ٨) .</p>
<p>ويقول معلمنا يوحنا البشير &#8220;ولكن إن سلكنا في النور ، كما هو في النور فلنا شركة بعضنا مع بعض ، ودم يسوع المسيح إبنه يطهرنا من كل خطية&#8221; (ایو ١:٧) .</p>
<p>ويربط الرسول بولس في إلهام بديع ، بين حياة القداسة واليقظة الروحية من ناحية ، والنور والنهار من ناحية أخرى.</p>
<p>ويشير بالليل إلى النجاسة وظلمة الخطية ، بقوله &#8220;فلستم فی ظلمة ، حتی يدرككم ذلك اليوم كلص . جميعكم أبناء نور</p>
<p>وأبناء نهار. لسنا من ليل ، ولا ظلمة ، فلا ننم إذا كالباقين ، بل لنسهر ونصح ، لأن الذين ينامون فبالليل ينامون ، والذين يسكرون فبالليل يسكرون&#8221; (١تس ٥: ٢، ٦).</p>
<p>وهذه صرخته المدوية التي أيقظت أوغسطينوس ، وأعطته حياة التوبة &#8220;قد تناهي الليل ، وتقارب النهار ، فلنخلع أعمال الظلمة&#8221;.</p>
<p><strong>النور والحب</strong></p>
<p> لم نجد رسولا ربط بين النور الإلهي والحب المقدس ، مثلما فعل القديس يوحنا الرسول . فرسالته الأولى يدور محورها الأساسي حول هذه القضية اللاهوتية.</p>
<p>إن النور والحب الحقيقي هما واحد في شخص المسيح ، وأن كل من في النور يحب ومن يحب يحيا في النور ، ومن لا يحب فلم يعرف النور ، وفي الظلمة يسلك.</p>
<p>&#8220;أيها الأحباء لنحب بعضنا بعضا ، لأن المحبة هي من الله وكل من يحب فقد</p>
<p>ولد من الله ، ومن لا يحب لم يعرف الله ، لأن الله محبة &#8220;.</p>
<p>&#8220;من قال إنه في النور ، وهو يبغض أخاه ، فهو إلى الآن في الظلمة ، من يحب أخاه يثبت في النور ، وليس فيه عثرة وأما من يبغض أخاه فهو في الظلمة وفي الظلمة يسلك ، ولا يعلم أين يمضي، لأن الظلمة أعمت عينيه&#8221; (ایو ٤: ٧ - ۸) ، (ایو ۹:۲ - ۱۱).</p>
<p><strong>تداريب روحية</strong></p>
<ul>
<li><strong>نور المسيح يكشف ظلمتي الداخلية</strong></li>
</ul>
<p> إذا جلست في الظلمة فالرب نور لي (می ۷: ۸) .. هل أنا أحب الأخوة ؟</p>
<p>هل أنا أسلك في الحق ؟ هل أنا أسمح لنور المسيح أن يستعلن في داخلي بروح القداسة ، حتى يظهر رائحة المسيح الذكية للناس ؟ &#8221; لتشرق فينا الحواس المضيئة ، والأفكار النورانية ، ولا تغطينا ظلمة الآلام &#8221; .</p>
<ul>
<li><strong>نور المسيح يهدی طرقی</strong></li>
</ul>
<p>+ سراج لرجلي كلامك ، ونور لسبیلی (مز۱۱۹ : ١٠٥) .</p>
<p>+ لان الوصية مصباح والشريعة نور ، وتوبيخات الأدب طريق الحياة (أم ٦ : ۲۳).</p>
<p>+ هل أجلس متتلمذا كل يوم عند أقدامه ، أطلب منه بإلحاح أن يقود خطواتي بنوره</p>
<p>الإلهي ؟ أم أن دوافعى ذاتية ، ومحركات قلبي أرضية بشرية ؟</p>
<ul>
<li><strong>نور المسيح يبهج حياتي</strong></li>
</ul>
<p> أيها النور الحقيقي ، الذي يضئ لكل إنسان آت إلى العالم ، أتيت إلى العالم بمحبتك للبشر ، وكل الخليقة تهللت بمجيئك ، أعطني أن أبتهج بنور محبتك ، وليبدد نور حبك ظلمات الحقد والحسد والقلق. هبنا في كل يوم حاضر أن نرضيك فيه ،</p>
<p>لنكون أبناء نور وأبناء قيامة.<a href="#_ftn1" name="_ftnref1">[6]</a></p>
<p><a href="#_ftnref1" name="_ftn1"></a></p>
<h5></h5>
<h4>المسيح نور العالم للمتنيح أنبا إبيفانيوس</h4>
<p>&#8220;ثم كلمهم يسوع أيضا قائلا:أنا هو نور العالم. من يتبعنى فلا يمشى فى الظلمة، بل يكون له نور الحياة &#8220;(يو ٨: ١٢) .</p>
<p>العتمة تسود :</p>
<p>قبل مجىء المسيح واستعلانه كنور للعالم، كان الظلام الروحى يعم الارض ، ومن جراء احتجاب النور الالهى ، كان الأنين من سلطان الظلمة على الطبيعة البشرية غصة ألم مكتومة فى صدور الأتقياء ، حسبما يصف الكتاب المقدس البار &#8220;لوط&#8221; قائلا عنه : &#8220;اذ كان البار ، بالنظر والسمع وهو ساكن بينهم ، يعذب يوما فيوما نفسه البارة بالأفعال الأثيمة&#8221; (٢بط ٢: ٨ )</p>
<p>كانت ظلمة الخطية قلعة حصينة فى مدينة الموت أرض شقائنا ، استطاع عدو جنسنا أن يوجه سهامه منها الى الناس ، كما استطاع _من طول زمان حكمه من قلعة الظلمة هذه _ أن يجد لظلمته مسارا وطريقا داخل نفس الانسان ، حتى تغلغلت فى كيانه كله.</p>
<p>ومن خلال عمل الظلمة فى الانسان ، استطاعت الخطية أن تجسم فيه صفات الانسان العتيق ، بعد أن اطمست الصورة الالهية داخل الانسان وفى مجال الظلمة خلا الجو لسلاطين الموت لكى تبدد وتهلك قطيع البشرية، حتى ملكت وسيطرت على ميول الانسان. وصارت هذه الميول هى المجال المحبب والادوات المناسبة التى من خلالها نفث عدو الخير سموم شره فى قلب الانسان فأفسد طريقه:  &#8220;ورأى الله الأرض فاذا هى قد فسدت ، اذ كان كل بشر قد افسد طريقه على الارض&#8221;(تك٦: ١٢). حتى الافكار والتصورات والغرائز الفطرية المجبولة حسنا فى الانسان ، وضعها العدو تحت تصرفه، وطرح عليها نيره فأمست هى وقود النار الذى يشعل به لهيب الشهوة داخل كيان الانسان:&#8221;كل تصور أفكار قلبه انما هو شرير كل يوم&#8221;(تك ٦: ٥).</p>
<p>وعلى صعيد ظلمة بنى الأنسان،اكتسى وجه البشرية بعرق كد السنين، وعاشت التعاسة والحرمان ، وامتلأت من السآمة والملل، وعانت من العجز وفراغ النفس . وفوق ذلك فقد حفرت الظلمة لها خطوطا عميقة فى أرض النفس، ورمى العدو بذور زوانه فيها ، حتى أثمرت ثمرا رديا.</p>
<p>ومن جراء سيادة الظلمة، وتملك الخطية على الأعضاء، وسيطرة الشهوة على الغرائز تسيدت العتمة على الانسان المطرود من حضرة الله، فهبط من علو الشركة الحية مع الله (فى الفردوس) الى حضيض الترابيات،كقول الله لآدم &#8220;لأنك تراب والى تراب تعود &#8221; (تك ٣: ١٩). وقد زاد من مرارة الأنسان شعوره بالفقر والافلاس الروحى معا من كل ميراث روحى ، اذ صارت البشرية كلها &#8220;شعب منهوب ومسلوب. قد اصطيد فى الحفر كله&#8221; (اش ٤٢: ٢٢).وأصبحت الظلمة غماما كثيفا ينتشر على وجه الأرض ويغطى كل ساكنيها &#8221; لأنه ها هى الظلمة تغطى الأرض والظلام الدامس الأمم&#8221; (اش٦٠: ٢).</p>
<p><strong> الرجاء يتجدد :</strong></p>
<p>ومع شعور الانسان بافلاسه، واحساسه بالموت يسرى فى كيانه ، رفعت البشرية وجهها الى فوق تترجى الخلاص :</p>
<p>فيعقوب أبو الأسباط يتنهد منتظرا الخلاص فيقول:(لخلاصك انتظرت يارب)(تك٤٩: ١٨). وظل الألحاح شديدا من قبل البشرية _فى شخص الأنبياء_ فى طلب اشراق النور والخلاص : فداود النبى يصرخ &#8220;ياالله أرجعنا ، وأنر بوجهك فنخلص&#8221;( مز٨٠ : ٣)، ويتوسل قائلا : &#8220;أرسل نورك وحقك&#8221;( مز ٤٣: ٣). ويواصل صراخه:&#8221;أضىء بوجهك على عبدك خلصنى برحمتك يارب ، لا تدعنى أخزى لأنى دعوتك&#8221;(مز٣١: ١٦، ١٧).</p>
<p><strong>استجابة الله لصراخ الانسان :</strong></p>
<p>وينظر الله الى ظلمه الأنسان وبؤسه، فيرثى لحال بنى المذلة، ويستجيب لصراخ البائسين . وتأتى الاستجابة على لسان الأنبياء الناطقين بروح الله، لتعلن قرب مجىء النور الذى سيعوض عن تعب السنين ومشقتها ، ويبدل عناء الانسان وبؤسه ومرارة عبوديته، بحلاوة عتقه من قيود الظلمة، واسترداده من بين أنياب الموت ، ورد الانسان الغارق فى ظلمة الأحزان الى الله مصدر عزائه دفعة أخرى :</p>
<p>فأيوب الصديق يفرح بشروق النور على حياته، وخلاصه من حفرة الهلاك ، فيقول: &#8220;فدى نفسى من العبور الى الحفرة، فترى حياتى النور &#8220;(اي٣٣: ٢٨ ).</p>
<p>واشعياء النبى يعزى النفس البشرية قائلا لها :&#8221;لأنه قد جاء نورك، ومجد الرب أشرق عليك&#8221;(اش٦٠: ١). ويبشر الجالسين فى الظلمة  قائلا: &#8220;الشعب السالك فى الظلمة أبصر نورا عظيما . الجالسون فى أرض ظلال الموت أشرق عليهم نور&#8221; (اش ٩: ٢).</p>
<p>وكذلك ناحوم النبى يكرز بالدفء للقلوب التى جمدها صقيع البعد عن الله ، فيقول :&#8221;فى يوم البرد تشرق الشمس&#8221;(نا ٣ : ١٧).</p>
<p>وزكريا النبى يبشر البشرية التى أمسى عليها الزمان، وتراكمت عليها الظلمة وكأنها فى مساء دائم قائلا : &#8220;وقت المساء يكون نور&#8221;(زك١٤: ٧)</p>
<p>وأيضا ملاخى النبى يهتف فرحا لشفاء البشرية من أمراض ظلمة الخطية وعطبها من كل بر، بانسكاب أشعة شمس البر عليها قائلا:&#8221;تشرق شمس البر والشفاء فى أجنحتها&#8221;( ملا٤: ٢)</p>
<p><strong>استعلان النور :</strong></p>
<p>وأخيرا، وفى ملء الزمان، جاء المسيح وأعلن نفسه كنور حقيقى صادر من عند الآب :&#8221;خرجت من عند الآب ، وقد أتيت الى العالم &#8220;(يو١٦: ٢٨)، تدفعه وتحركه قوة الحب الكامنة فيه من جهة خلاص الأنسان من سلطان الظلمة، وتحطيم حواجزها التى نشأت من جراء معصية الانسان.</p>
<p>جاء المسيح كبهاء مجد الآب ، ليلاشى الضباب المتكاثف على قلوب الناس، ويحررهم من سلاسل الظلمة التى أسرتهم واستولت عليهم :&#8221;كى يرجعوا من ظلمات الى نور ، ومن سلطان الشيطان الى الله&#8221;(اع٢٦: ١٨) ظلمة العبودية للشهوات :&#8221;لتخرج من الحبس المأسورين من بيت السجن الجالسين فى الظلمة&#8221;( اش٤٢: ٧).</p>
<p>جاء ليريح التعابى والمتضايقين، والذين من كثرة يأسهم تراءى لهم أن الحياة ليل لا يعقبه نهار ، ولكيما يحمل أثقال كل القلوب التى انسحقت تحت عبء أحمال الهموم والآلام ، داعيا اياهم :&#8221;تعالوا الى يا جميع المتعبين والثقيلى الأحمال ، وأنا أريحكم&#8221;(مت١١: ٢٨)</p>
<p>جاء النور الحقيقى كقوة حياة جديدة ليوقف تيار الأثم عن السريان فى كيان الأنسان، ليقيم وينقذ كل الغارقين فى بحار الظلمة ويحيى من جديد كل من جرفه تيار الموت :&#8221;ارحمنى يارب. انظر مذلتى من مبغضى، يا رافعى من أبواب الموت&#8221;(مز٩: ١٣)&#8221;أما أنا فقد أتيت لتكون لهم حياة &#8220;(يو١٠:١٠)</p>
<p><strong>على عتبة الاحساس بدخول النور :</strong></p>
<p>طالما لم تكن هناك موانع _ من جهة الانسان_ تقف فى وجه النور ليدخل ويعمل ، فهو يبدأ عمله حالا، وان كان بطيئا وعلى مهل ، ولكن أثره يكون واضحا جليا يوما بعد يوم.</p>
<p>وازاء دخول النور الى القلب يبدأ الانسان بمؤازرة روح الله حسب الآية:&#8221; ان كنتم بالروح تميتون أعمال الجسد فستحيون&#8221;(رو٨: ١٣)فى اماتة الانسان العتيق_ بكل صفاته وشهواته القديمة_لكى يترك المجال لبذرة الانسان الجديد أن تطلع وتنمو. وعندئذ تبدأ صورة الانسان الجديد المخلوق بحسب الله فى البر وقداسة الحق أن تأخذ فى الظهور . واذ يدخل النور الى القلب وهو محمل بالحياة، ينساب تيار الحياة فى القلب كسريان النهر المتدفق الذى يكتسح أمامه كل مخلفات الظلمة وآثارها. لذلك فهو سمى &#8220;نور الحياة&#8221; (يو٨: ١٢)</p>
<p>ولا يكف النور عن عمله حسب قول الرب :&#8221;أبى يعمل حتى الأن وأنا أعمل&#8221;(يو ٥: ١٧)، بل يستمر فى عمله حتى يفطم النفس عن الملذات والنزوات الماضية التى كان يشرب منها بلا ارتواء. وبفعل النور المتواصل تقل الأستجابة لالحاح الغريزة ومتطلبات الشهوة، حتى يجىء اليوم الذى يدوس عليها الأنسان برجليه، ويشمئز من كل أعمال الظلمة&#8221;النفس الشبعانة(من عمل النور) تدوس العسل&#8221;(ام ٢٧: ٧) فالنفس تجد شبعها الحقيقى فى كلمة الله التى هى نور، وفى وسائط النعمة المغذية لبذرة الحياة فى الداخل .</p>
<p>ومع التسليم والخضوع لعمل النور ، يبدد النور كل قلق ومخاوف فى الداخل ليحل محلها السلام والهدوء والفرح وراحة الضمير :&#8221; سلاما أترك لكم سلامى أعطيكم &#8220;( يو١٤: ٢٧) وبطبيعة عمل النور كنور ، فهو يضىء الطريق الروحى أمام الأنسان ، ويقود خطواته فى طريق السلام&#8221;يهدى أقدامنا فى طريق السلام&#8221;( لو١: ٧٩)،&#8221; سراج لرجلى كلامك ونور لسبيلى&#8221;(مز١١٩:١٠٥)، كما يتولى تنبيه الانسان وتحذيره من كل المعاثر وحفر الهلاك :&#8221; لأن الرب يكون معتمدك، ويصون رجلك من أن تؤخذ&#8221;(ام٣: ٢٦).</p>
<p><strong>أبناء نور وأبناء نهار :</strong></p>
<p>الانسان العائش فى الظلمة اما أنه يحاول التملص من سلطان النور فيبقى فى الخطية، واما أنه بتصميم القلب على السير فى طريق النور وأمام قوة عمل النور ، تبدأ الظلمة تتراجع الى الوراء شيئا فشيئا حتى يملك النور على القلب ويملأ كل جوانبه ، ويصير سندا قويا ومعينا جبارا لكل من يصارع ويجاهد ضد أباطيل ظلمة العالم .</p>
<p>ولا يقف عمل النور عند حد المعونة والسند، بل يصير هو نفسه القائد الأول على خط النار فى المعركة الضارية بين مملكة النور ومملكة الظلمة، ليصد هجوم الخطية. كما يستعلن النور عمله كقوة الهية فتبطل عمل الأعداء غير المنظورين ، وترد السهام النارية الموجهة الى أولاد الله من قوات الظلمة:&#8221;صنع قوة بذراعه. شتت المستكبرين &#8220;(لو١: ٥١) &#8220;الله لنا ملجأ وقوة&#8221;(مز٤٦:١) ، لأنه بسلطان وقوة يأمر الأرواح النجسة فتخرج &#8220;( لو٤: ٣٦) . ومنذ مجىء المسيح ، والى يومنا هذا ، وحتى مجيئه الثانى سيظل الصراع قائما والحرب بلا هدنة بين النور والظلمة . لذلك يوصينا الرب محذرا ايانا :&#8221; فسيروا مادام لكم النور لئلا يدرككم الظلام &#8220;(يو ١٢: ٣٥) ولكن من دواعى سرورنا ، أنه بحضور النور الالهى الى عالمنا ، استعلن ملكوت الله ، ملكوت النور الأبدى . أتى النور الى أرضنا وأبى أن يفارقها ، بل امتد وتعمق حتى تغلغل طبيعة الانسان ذاته فولده من جديد ، وبدأت ملامح النور تتكامل داخل الانسان حتى تشكل وتمخض عن انسان جديد بطبيعة جديدة وعطايا صالحة من عند أبى الآنوار.</p>
<p>وباندفاق النور على أرضنا لم تعد الطبيعة البشرية سقيمة أو عقيمة ، بل صار قمح برها ملأنا فى السنبل ، أى الحياة ملآنة من ثمار الروح القدس :&#8221;محبة فرح سلام ، طول أناة لطف صلاح ، ايمان وداعة تعفف (غل٥: ٢٢، ٢٣).</p>
<p>ومع بزوغ النور فى قلوب المولودين من فوق ، تنقطع الصلة التى كانت تربط قلوبهم وأفكارهم بالأرض وشهواتها ، وتصير سيرتهم فى السموات ولا يعودون يطأطئون رؤوسهم وينحنون لنير العدو وسلطانه، ولا يعود ميولهم وعواطفهم سائبة تتجه أينما أرادت ، اذ تنضبط وتخضع لعمل الله ولتتميم  مشيئته ، &#8220;أن أفعل مشيئتك ياالهى سررت&#8221;(مز٤٠: ٨) ، &#8221; أقمع جسدى وأستعبده&#8221;(١كو ٩: ٢٧).</p>
<p>ومن جراء استضاءة النفوس بنور الله ، رأينا من هذه النفوس قمما شوامخ مثل الشهداء الأبرارالذين فرطوا فى حياتهم ولم يفرطوا فى النور الذى احتواهم وملك عليهم . كما رأينا أشجارا فارعة ظليلة ، استظل تحت غصون برها كثيرون .</p>
<p>وهكذا مع استعلان النور فى عالم الانسان ، انحسر عنه سلطان ملاك الظلمة وتضاءل نفوذه :&#8221; الآن يطرح رئيس هذا العالم خارجا&#8221;(يو١٢: ٣١)، وصار رأس الظلمة ورئيسها فاقدا قوته أمام كل السائرين فى طريق النور كأبناء نور وأبناء نهار.</p>
<p><strong>  يقول القديس كيرلس الكبير :</strong></p>
<p>(ان كلمة الله ينير كل انسان آت الى العالم ليس عن طريق التعليم ، كما يفعل الملائكة مثلا أو الناس ، ولكنه عن طريق الخلق كاله يبث فى الذين يدعوهم الى الوجود بذرة الحكمة والمعرفة الالهية، ويغرس فيهم أصل الفهم ، وهكذا يجعل الكائن الحى عاقلا ، وشريكا لطبيعته الخاصة اذ يشع فى ذهنه اشعاعات من النور الأسنى بالكيفية التى يعملها هو ، وأعتقد أن الكلام الكثير غير جائر فى هذه الأمور &#8230;&#8230;..والخليقة حينما تستنير بشركة هذا النور ، فانها تدعى بل وتكون نورا (مت ٥: ١٤) وترتقى الى ما يفوق طبيعتها الخاصة، بنعمة الذى يمجدها ويكللها بكافة الكرامات &#8230;..</p>
<p>فالرب يتعطف حقا على الصغار ، الأدنياء بحسب طبيعتهم الخاصة، ويجعلهم عظماء وجديرين بأن يتعجب منهم بسبب احسانه عليهم ، لأنه كاله أراد أن يسبغ علينا خبراته الخاصة بسخاء ، ولذلك يدعونا آلهة (يو١٠: ٣٤) ، ونورا (مت٥: ١٤) ، وأى الخيرات لم يدعنا اليها ؟؟ ) شرح انجيل (يوحنا١: ٩)</p>
<p><strong>ويتأمل الآباء فى نور قيامة المسيح :</strong></p>
<p>(الآن أضاءت علينا اشعاعات من نور المسيح المقدس، وأشرقت علينا أضواء صافية من الروح القدس النقى ، وانفتحت علينا كنوز سماوية من المجد والالوهية . لقد ابتلع الليل الكثيف الحالك ، وانقشع الظلام الدامس واختفى ظل الموت الكئيب . الحياة امتدت وشملت كل واحد ، وامتلأ الجميع من النور غير المحدود . الفجر الجديد أشرق على الجميع ، والمسيح العظيم القوى غير المائت الذى قبل كوكب الصبح ( مز١٠٩: ٢) بل وقبل كل الأجسام المنيرة ، صار يضىء الآن على الجميع  أكثر من الشمس . بسبب ذلك أوجد لنا نحن المؤمنين به يوما جديدا مضيئا عظيما أبديا لا ينقص نوره،</p>
<p>انه الفصح السرى الذى كانوا يحتفلون به رمزيا فى الناموس ، ولكنه الآن اكتمل بالتمام فى المسيح ، انه الفصح العجيب ، ابداع فضيلة الله وفعل قوته، العيد الحقيقى والتذكار الأبدى الذى فيه نبع انعدام الآلام من الألم، وعدم الموت من الموت، والحياة من القبر ، والشفاء من الجروح ، والقيامة من السقوط ،</p>
<p>والصعود الى أعلى (السموات) من النزول الى أسفل(الجحيم).<a href="#_ftn1" name="_ftnref1">[7]</a></p>
<p><a href="#_ftnref1" name="_ftn1"></a></p>
<h3>المراجع</h3>
<p><a href="#_ftnref1" name="_ftn1">[1]</a><sup>- مخافة الرب - ص ٢ -  القمص تادرس يعقوب ملطي.</sup></p>
<p><a href="#_ftnref2" name="_ftn2">[2]</a><sup>- تفسير المزامير -  جزء أول ص ١٠٣ -  دير المحرق.</sup></p>
<p><a href="#_ftnref1" name="_ftn1">[3]</a> - القديس أغسطينوس - تفسير مزمور ٢٧ - القمص تادرس يعقوب ملطي</p>
<p><a href="#_ftnref1" name="_ftn1">[4]</a> - القديس غريغوريوس النزينزي - تفسير رسالة فيلبي الإصحاح الثاني - القمص تادرس يعقوب ملطي</p>
<p><a href="#_ftnref1" name="_ftn1">[5]</a> - كتاب إختبرني يا الله صفحة ١٦٣ - قداسة البابا تواضروس الثاني</p>
<p><a href="#_ftnref1" name="_ftn1">[6]</a> - كتاب ألقاب المسيح ووظائفه صفحة ٨٦ - الأنبا بيمن أسقف ملوي وأنصنا والأشمونين</p>
<p><a href="#_ftnref1" name="_ftn1">[7]</a> - عظة فصحية من القرن الثانى ، محفوظة ضمن كتابات ق. يوحنا ذهبى الفم كتاب مفاهيم إنجيلية صفحة ٤٠ - أنبا إبيفانيوس أسقف ورئيس دير القديس أنبا مقار</p>
<h5></h5>
<h5></h5>

      {% endcreateArticleAccordions %}
    </section>
  {% endblock %}
