---
layout: 'layouts/reading.html'
title: 'قراءات يوم الجمعة من الأسبوع الثالث'
tags: 'great-lent'
permalink: /articles/great-lent/3-5.html
---
  {% block content %}
    <section id="readings">
      <ul>
      {% if 'undefined' != 'undefined' %}
      
      {% else %}
      {% if 'null' != 'null' %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">العشية</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeVespers '' '' %}
          </div>
        </div>
      </li>
      {% endif %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">باكر</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeMatins '19.16:10-11' '42.20:27-38' '5.9:7-29*@+5.10:1-11@9.23:26-29*@+9.24:1-22@23.13:2-13@18.15:1-35@73.2:1-23*@+73.3:1-4' %}
          </div>
        </div>
      </li>
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <h3 class="flex items-center justify-between">
            <span class="kufi">القداس</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </h3>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeLitugy '58.11:1-8' '65.1:17-25' '44.23:6-11' '19.16:1-2' '42.11:14-26' %}
          </div>
        </div>
      </li>

      {% endif %}
        </ul>
    </section>
    <section id="article">
      <h3 class="mt-8 mb-4 heading-explain">شرح القراءات</h3>
      {% createArticleAccordions %}
        <p>&#8220;وَلَمَّا صَلَّوْا تَزَعْزَعَ الْمَكَانُ الَّذِي كَانُوا مُجْتَمِعِينَ فِيهِ، وَامْتَلأَ الْجَمِيعُ مِنَ الرُّوحِ الْقُدُسِ، وَكَانُوا يَتَكَلَّمُونَ بِكَلاَمِ اللهِ بِمُجَاهَرَةٍ.&#8221; (أع ٤: ٣١)</p>
<p>[حاولوا أن تكثفوا اجتماعاتكم لتقدموا شكركم وتمجيدكم لله فعندما تجتمعون مراراً معاً في الإجتماع الإفخارستي تضمحل قوى الشيطان وتنحل قدرته أمام اتفاق إيمانكم وتآلفه] (القدّيس أغناطيوس)<a href="#_ftn1" name="_ftnref1">[1]</a></p>
<p>[أيها المسيح إلهنا، ثبت أساس الكنيسة] (طلبات القداس الغريغوري).</p>
<p>[من يبتعد عن الكنيسة يبدد ميراثه] (القديس امبروسيوس)<a href="#_ftn2" name="_ftnref2">[2]</a></p>
<h3>شواهد القراءات</h3>
<p>(تث ٩: ٧- الخ، ص ١٠: ١-١١)، (١مل ٢٣: ٢٦- الخ، ٢٤: - الخ)، (إش ١٣: ٢- ١٣)، (أي ١٥: ١- الخ)، (بن سيراخ ٢: ١- الخ، ص ٣: ١-٤)، (مز ١٥: ١١،١٠)، (لو ٢٠: ٢٧- ٣٨)، (عب ١١: ١ - ٨)، (يه ١: ١٧- الخ)، (أع ٢٣: ٦- ١١)، (مز ١٥: ١)، (لو ١١: ١٤- ٢٦).</p>
<h3>شرح القراءات</h3>
<p><strong>تتكلّم قراءات اليوم</strong> عن وحدة الإيمان ونقاوته، ووحدة الكنيسة أساس نصرتها على العالم وقوات الظلمة، وأن أخطر ما يواجه الكنيسة ليس من الخارج فهى قادرة بالله على هدم حصون لكن من الداخل التحزّبات والإنقسامات وعدم التوبة.</p>
<p><strong>لذلك تبدأ القراءات بسفر التثنية</strong> الذي يخبرنا عن زيغان كل الشعب من وراء الله وإتفاقهم ووحدتهم لكن للأسف في صناعة تمثال مسبوك وترك عبادة الرب.</p>
<p>&#8220;وقال لي الرب قم انزل عاجلاً من ههنا لأنه قد أثم شعبك الذي أخرجته من أرض مصر وزاغوا سريعاً عن الطريق التي أوصيتهم بها وصنعوا لهم تمثالاً مسبوكاً&#8221;.</p>
<p><strong>وفي سفر الملوك الأوّل</strong> عن تكلفة الوحدة، فداود النبي المُخْتار من الرب لا يمدّ يده إلى شاول الملك رغم رفض الله له ورغم محاولة شاول قتله فالحرص على سلامة القائد والراعي رغم إنحرافه من أساسيات الوحدة في المسيح.</p>
<p>&#8220;وقال داود لرجاله حاشا لي أن أعمل هذا الأمر بسيدي مسيح الرب وأرفع عليه يدي لأنه مسيح الرب، هوذا قد رأت عيناك اليوم أن الرب قد دفعك اليوم إلى يدي في المغارة ولم أشأ قتلك لكني أشفقت عليك وقلت لا أرفع يدي على سيدي لأنه مسيح الرب&#8221;.</p>
<p><strong>وتكشف نبوءة إشعياء</strong> عن وحدة ملوك ورؤساء وجبابرة الأرض لتنفيذ مشيئة الله وتدبيره مع شعبه.</p>
<p>&#8220;إرفعوا راية على الجبال السهلة وارفعوا الصوت إليهم ولا تخافوا، أشيروا باليد وافتحوا الأبواب للرؤساء أنا أمرت&#8221; مقدسيّ &#8220;أنا دعوتهم وسيأتي الجبابرة بغضبي فرحين معتزين معاً&#8221;.</p>
<p><strong>أمّا سفر أيوب</strong> فيكشف عن وحدة خاطئة، وحدة أصدقاء جاءوا للتعزية لكنّهم إتفقوا على إدانة أيوب، وزادوا جروحه جرحا آخر وقدَّموا أفكاراً خاطئة عن الإيمان بالله.</p>
<p>&#8220;ألعلك سمعت أسرار الله أم بلغت إليك الحكمة ما الذي تعلمه أنت ولا نعلمه نحن أو ماذا تفهمه أكثر منا ألعلك شيخ وأقدم منا وأكبر سناً من أبيك&#8221;.</p>
<p><strong>ويعلن يشوع ابن سيراخ</strong> طريق الوحدة في خدمة وكرم الرب التمحيص بالنار في أتون الإتضاع.</p>
<p>&#8220;يا بني إن أقبلت لخدمة الرب هيئ نفسك للتجارب، فإن الذهب يمحص بالنار والمرضيين والمختارين من الناس يمحصون في أتون الاتضاع&#8221;.</p>
<p><strong>كما يعلن مزمور باكر</strong> قوّة الوحدة في مسيحنا القائم من بين الأموات.</p>
<p>&#8220;لأنك لا تترك نفسي في الجحيم ولا تدع صفيك أن يري فساداً&#8221;.</p>
<p><strong>ويكشف إنجيل باكر</strong> عن وحدة السمائيين والأرضيين، ومن يحيوا على الأرض ومن يحيوا في السماء، فهى كنيسة واحدة فيها أعضاء منظورين بعين الحسد وأعضاء غير منظورين مثل جسم الإنسان.</p>
<p>&#8220;فموسى أيضاً قد أشار إلى ذلك في العليقة إذ يقول إن الرب إله ابراهيم وإله اسحق وإله يعقوب ليس هو إله أموات بل إله أحياء لأن الجميع يحيون له&#8221;.</p>
<p><strong>أمّا البولس فيوضّح</strong> سر وحدة الماضي والحاضر والمستقبل بالإيمان فالإيمان يجعلنا ندرك ماحدث في الماضي لنعيش في تقوي الحاضر بل ونصدّق إعلانات الله في المستقبل لأجل ثقتنا فيه.</p>
<p><strong>فإيماننا في ما فعله الله</strong> في الماضي في خلقه كل شئ بالإبن الكلمة، وإيماننا في الحاضر في مخافته مثل هابيل وأخنوخ، وإيماننا في إعلانات المستقبل ودعوة الله دون ضمانات كأنّنا نري تحقيق تدبيره مثل دعوة نوح وابراهيم.</p>
<p>&#8220;بالإيمان نفهم أن الدهور أتقنت بكلمة الله حتى أن المنظورات صنعت من غير المنظورات، بالإيمان قرّب هابيل لله ذبيحة أفضل من قايين وبه شهدٓ له أنه بارٌ إذ شهد الله لتقديماته، بالإيمان نوح لما أوحي إليه عن أمور لم تُرى بعد (إتَّقى) خاف فبنى فلكاً لخلاص بيته، بالإيمان ابراهيم لما دُعيٓ أطاع أن يخرج إلى المكان الذي كان عتيداً أن يأخذه ميراثاً فخرج وهو لا يعلم إلى أين يتوجه&#8221;.</p>
<p><strong>بينما يشجّع الكاثوليكون</strong> المؤمنين على وحدة العبادة والمحبّة، فيجب أن نبني أنفسنا ونصلّي دائماً ونحفظ أنفسنا لنقدر بالنعمة الإلهية أن نبكٌت البعض وننقذ البعض من النار ونرحم البعض.</p>
<p>&#8220;أما أنتم يا أحبائي فابنوا أنفسكم على إيمانكم الأقدس مصلين في الروح القدس ولنحفظ أنفسنا في محبة الله، فبكتوا بعضاً، وخلصوا بعضاً، وارحموا بعضاً&#8221;</p>
<p><strong>ويحذّر الإبركسيس</strong> من إختلاف الإيمان والمنازعات التي تؤدي إلى الإنشقاق.</p>
<p>&#8220;وأنا على الرجاء وقيامة الأموات أحاكم فلما قال هذا حدثت منازعة بين الفريسيين والصدوقيين وانشقت الجماعة&#8221;.</p>
<p><strong>كما يوجّه مزمور القدّاس</strong> النظر إلي أهمية حفظ الرب للنفس وأهميّة إتكالها عليه.</p>
<p>&#8220;احفظني يا رب فإني عليك توكلتُ قلت للرب أنتٓ ربي وليس تحتاج إلى خيراتي&#8221;.</p>
<p><strong>ويختم إنجيل القدّاس</strong> بوحدة المشيئة والفعل بين ابن الله وروح الله، ودحض إتهامات الفرّيسيين في إتّهامهم له بأنّه ببعلزبول يخرج الشياطين، وأقوى إعلان ودليل بأن هذه الموهبة لبسطاء العهد الجديد أولادهم أبناء شعبهم التلاميذ القدّيسين الذين أعطاهم الله النصرة على الشيطان.</p>
<p>&#8220;كل مملكة إذا انقسمت على ذاتها تخرب وبيت ينقسم على بيت يسقط، وإن كنت أنا ببعلزبول أخرج الشياطين فأبناؤكم بمن يخرجون من أجل هذا سيكونون قضاتكم&#8221;.</p>
<h3>ملخّص القراءات</h3>
<table width="503">
<tbody>
<tr>
<td width="113">سفر التثنية</td>
<td width="389">إتفاق الشعب على عبادة الأصنام وتعرّضهم للغضب الإلهي لولا شفاعة موسي النبي.</td>
</tr>
<tr>
<td width="113">سفر الملوك الأول</td>
<td width="389">الحرص على سلامة الراعي والقائد رغم ضعفه من أساسيات الوحدة في المسيح.</td>
</tr>
<tr>
<td width="113">سفر إشعياء</td>
<td width="389">الله يستخدم وحدة رؤساء العالم لتنفيذ مشيئته.</td>
</tr>
<tr>
<td width="113">سفر أيوب</td>
<td width="389">إتّفاق أصدقاء أيوب لكن على تقديم أفكار خاطئة عن الله.</td>
</tr>
<tr>
<td width="113">يشوع بن سيراخ</td>
<td width="389">طريق الوحدة يتحقّق بالتمحيص في أتون الإتّضاع.</td>
</tr>
<tr>
<td width="113">مزمور باكر</td>
<td width="389">قوة وحدة الإيمان تنبع من مسيحنا القائم من الأموات.</td>
</tr>
<tr>
<td width="113">إنجيل باكر</td>
<td width="389">وحدة السمائيين والأرضيين.</td>
</tr>
<tr>
<td width="113">البولس</td>
<td width="389">سر وحدة الماضي والحاضر والمستقبل في المسيح.</td>
</tr>
<tr>
<td width="113">الكاثوليكون</td>
<td width="389">وحدة العبادة والمحبّة والحرص على خلاص الإخوة من دنس الخطيّة</td>
</tr>
<tr>
<td width="113">الإبركسيس</td>
<td width="389">إختلاف الإيمان والمنازعات سبب الإنشقاق.</td>
</tr>
<tr>
<td width="113">مزمور القدّاس</td>
<td width="389">الله يحفظ النفس وهى لاتنشغل بشئ سوي الإتكال عليه.</td>
</tr>
<tr>
<td width="113">إنجيل القدّاس</td>
<td width="389">وحدة المشيئة والفعل بين ابن الله وروح الله.</td>
</tr>
</tbody>
</table>
<h3>الكنيسة في قراءات اليوم</h3>
<table width="503">
<tbody>
<tr>
<td width="113">سفر إشعياء</td>
<td width="389">يوم الرب ومجيئه الثاني.</td>
</tr>
<tr>
<td width="113">مزمور باكر</td>
<td width="389">نبوءة عن قيامة المسيح.</td>
</tr>
<tr>
<td width="113">إنجيل باكر</td>
<td width="389">القيامة والملائكة.</td>
</tr>
<tr>
<td width="113">الكاثوليكون</td>
<td width="389">الإيمان الأقدس.</td>
</tr>
<tr>
<td width="113">إنجيل القدّاس</td>
<td width="389">وحدة المشيئة والفعل بين ابن الله وروح الله.</td>
</tr>
</tbody>
</table>
<h3>أفكار مقترحة للعظات</h3>
<h4>طريق الوحدة بين المؤمنين</h4>
<ul>
<li>أنظر من أين تأتي الخبزة التي ستتحول للجسد ومن أين يأتي عصير الكرمة الذي سيتحول لدم المسيح له المجد.</li>
<li>حبّات القمح تُطْحَن وتُعْجَن وتدخل الفرن وحبّات العنب تُعْصَر بشدٌة لكيما يصيرا خبزة واحدة وعصير كرمة واحد.</li>
<li>صلب الذات والهوي والمشيئة هو طريق وحدتنا.</li>
<li>بكل تواضع القلب والوداعة وطول الأناة محتملين بعضكم بعضاً في المحبة دستور الوحدة الذي نبدأ به صلاتنا كل يوم.</li>
<li>إذا لم يكن لنا الفكر الواحد فالأهم أن يكون لنا القلب الواحد.</li>
<li>الصلاة الدائمة لأجل الكل تملأ القلب من روح الوحدة.</li>
<li><strong>عثرات في طريق وحدتنا</strong></li>
<li>عدم دوام التوبة وجدّيتها والفحص الدائم للنفس.</li>
<li>ضعف الملء الروحي الداخلي.</li>
<li>غياب الهدف أو ضياعه.</li>
<li>محبّة النصيب الأكبر والمتكأ الأول.</li>
<li>التحزّبات والتكتّلات.</li>
<li>الرياء وإغتياب الإخوة.</li>
</ul>
<h3>عظات آبائية</h3>
<h4>المملكة المنقسمة على ذاتها - للقديس كيرلس الكبير<a href="#_ftn3" name="_ftnref3">[3]</a></h4>
<p>يقول الكتاب المقدس &#8220;<strong>غِرتُ غَيرَةً للرَّبِّ</strong>&#8221; (1مل١٩: ١٠)، وأنا أيضاً أقول هكذا، مركَّزاً انتباهي بدقَّة على دروس الإنجيل المطروحة أمامنا، ليتَّضح أن لسان إسرائيل المجنون هو وقِح ومُسيَّب بالشتائم، مطغي بغضب شديد غير منضبِط، ومقهور بحسدٍ لا يمكن إخماده. أنظر كيف كانوا يُصرُّون بأسنانهم على المسيح مخلَّص الكل لأنه جعل الجموع يتعجبون من معجزاته الإلهية الخارقة العديدة، ولأن الشياطين كانت تصرخ من قوَّته وسلطانه الفائقين الإلهيين، وأظن أن هذا هو ما رنَّم به داود مخاطباً له: &#8220;<strong>مِن عِظم قوَّتك سيوجد أعداؤك كاذبون</strong>&#8221; (مز ٦٥: ٣ سبعينية).</p>
<p>أما عن السبب الذي جعل هؤلاء الناس يقاومون المجد الذي يظهر به، فإن هذا الفصل سيعلَّمنا إياه بوضوح، فيقول: &#8220;<strong>أحضَروا إليه إنساناً به شيطان أخرس</strong>&#8220;. والشياطين الخرساء يصعب علي القديسين أن ينتهروها، كما أنها أكثر عناداً من الأنواع الأخرى، وهي وقحة جداً، ولكن لا يصعب شيء على إرادة المسيح الكلية القدرة، والذي هو مخلَّصنا كلنا. فللحال أطلق الرجل الذي أحضروه إليه حراً من الروح النَّجس الشرير، ومَن كان لسانه من قبل مغلقاً بواسطة باب ومزلاج، اندفع مرة أخرى إلى الكلام المعتاد. لأن الإنجيل قال عنه إنه أخرس، كما لو كان بدون لسان، أي بلا نطق، ولم يكن سبب الخرس نقص طبيعي، ولكن بسبب عمل الشيطان. ولما لم يكن المجنون يستطيع الكلام طبعاً فإن المسيح لم يطلب منه أن يُقِر بالإيمان كعادته. ولما أجرى المسيح هذا العمل المعجزي فإن الجموع مجدَّته بتسابيح، وأسرعت لتُتوَّج صانع المعجزة بكرامة إلهية.</p>
<p>يقول الكتاب إن بعضاً من الكتبة والفريسيين الذين امتلأت قلوبهم بسم الكبرياء والحسد، وجدوا في المعجزة وقوداً لمرضهم، فلم يُمجَّدوا الرب، بل عكفوا على العكس تماماً. لأنهم جرَّدوه من الأعمال الإلهية التي عملها، وعزَوا هذه القوة الفائقة إلى الشيطان، وجعلوا بعلزبول هو مصدر قوة المسيح، فقالوا: &#8220;ببعلزبول رئيس الشياطين يخرج الشياطين&#8221;، وآخرون إذ أصيبوا بشرٍ مقارب لهذا، اندفعوا بدون تمييز إلى جرأة الكلام الوقح، وإذ كانوا ملدوغين بمنخاس الحسد، طلبوا منه أن يريهم آية من السماء، كما لو كانوا يريدون أن يقولوا له: إن كنت قد طردت روحاً خبيثاً ووقحاً فهذا أمر غير جدير بالإعجاب، إن ما فعلته لا يدل على قدرة إلهية، إننا لم نرَ بعد شيئاً يشبه المعجزات القديمة، أرنا بعض الأفعال التي تدل - بدون أي شك - إنها معمولة بقوة من فوق. إن موسى جعل الناس يَعبُرون البحر بعد أن انفلقت المياة وصارت كسد، وضرب الصخرة بعصاه فصارت منبعاً للأنهار حتي تدفَّقت الينابيع من حجر صوان. وبالمثل فإن خليفته يشوع جعل الشمس تقف في جبعون، والقمر في وادي أرنون، ووضع قيوداً على مجاري الأردن، ولكن أنت لم ترنا أفعالاً مثل تلك، إنك أخرجت شيطاناً للناس، ولكن هذا السلطان يمنحه بعلزبول رئيس الشياطين للناس، إنك قد استعرت منه قوة صُنع هذه الأشياء التي تتسبَّب في إعجاب الناس الجهلاء الأُمييَّن، بهذا الشكل تظهر جرأة القوم الذين يتصيَّدون الأخطاء، واتضح الآن من رغبتهم في أن يعمل آية من السماء أنهم يضمرون مثل هذه الأفكار عنه.</p>
<p>بماذا أجاب المسيح على هذه الأمور؟ أولاً، هو في الواقع يبرهن على أنه إله بمعرفته بما تهامسوا به خفية في داخلهم، لأنه مكتوب أنه &#8220;<strong>عَلِم أفكارهم</strong>&#8220;، وهذا العمل يخص الله تماماً، أي معرفة ما في الفكر وما في القلب وما يتكلم به الناس في الخفاء، ولكي يبعدهم الرب عن هذه الجريمة الفظة، فإنه يقول لهم: &#8220;<strong>كُلُّ مَملكَةٍ مُنقَسِمَةٍ علَى ذاتِها تخرَبُ، وبَيتٍ مُنقَسِمٍ علَى بَيتٍ يَسقُطُ. فإنْ كانَ الشَّيطانُ أيضًا يَنقَسِمُ علَى ذاتِهِ، فكيفَ تثبُتُ مَملكَتُهُ؟</strong>&#8221; ولعله كان يقول لهؤلاء المثرثرين الأغبياء: إنكم قد جانبتم الصواب، ابتعدتم عنه جداً، وأنتم بلا شك تجهلون طبيعتي. إنكم لا تلتفتون إلى عظمة قوَّتي وجلال قدرتي، موسى كان خادم الناموس ولكن أنا المُشرع له، لأنني الله بالطبيعة، كان هو خادم الآيات، ولكن أنا الصانع والمُجري لها، أنا الذي فلقتُ المياه فعبر الشعب. أنا الذي أظهرتُ الحجر الصوان كينبوع للأنهار. أنا الذي جعلتُ الشمس تقف في جبعون، وقوَّة أوامري هي التي أوقفت القمر في وادي أرنون. أنا الذي وضعتُ قيوداً على مجاري الأردن.</p>
<p>والآن أنا أسألكم، فلو أن المسيح قال لهم مثل هذه الكلمات، لكان من غير المُستبعَد أن نتصوَّر أنهم كانوا سيتَقَّدُون بالأكثر بنيران الحسد، وكانوا سيقولون: إنه يعطي نفسه العظمة فوق مجد القديسين، إنه يفتخر بنفسه أعلى من الآباء البطاركة المشهورين، الذين يقول عنهم أنهم ليسوا شيئاً. وينتحل لنفسه مجدهم. وكانوا سيضيفون كلمات أخرى تعطي الفرصة للجهال للإندفاع الشرير ضده.</p>
<p>لذلك وبحكمة فائقة، فإنه لا يتكلم عن تلك الأحداث، ولكن يتقدَّم لمحاجاتهم أخذاً مادة للكلام من الأمور المعتادة، ولكنها تحمل قوة الحق فيها، فيقول: &#8220;<strong>كُلُّ مَملكَةٍ مُنقَسِمَةٍ علَى ذاتِها تخرَبُ، وبَيتٍ مُنقَسِمٍ علَى بَيتٍ يَسقُطُ. <sup>18</sup>فإنْ كانَ الشَّيطانُ أيضًا يَنقَسِمُ علَى ذاتِهِ، فكيفَ تثبُتُ مَملكَتُهُ</strong>؟&#8221;، إن ما يثَّبت الممالك هو ولاء الأشخاص وطاعة أولئك الذين تحت الصولجان الملكي، والبيوت تثبت إن لم يناقض سكانها الواحد الآخر، بل بالعكس يتوافقون في الإرادة والفعل. وهكذا أظن أنا، إن الذي يُثبَّت مملكة بعلزبول أيضاً هو أن يمتنع عن عمل ما يضاد نفسه، فكيف يمكن إذن لشيطان أن يخرج شيطاناً؟ إذن نستنتج من ذلك أن الأرواح الشِرّيّرة لا تخرج من الناس باتفاقها مع بعض، ولكن ضد رغبتها، فالرب يقول: إن الشيطان لا يحارب نفسه، ولا يهين أتباعه، ولا يسمح لنفسه أن يؤذي حامل سلاحه الأخصَّاء، بل على العكس هو يساعد مملكته. بقى عليكم أيها اليهود أن تفهموا أنني أسحق الشيطان بقوة إلهية .</p>
<p>هذا ما يجب علينا أن نقتنع به نحن الذين نؤمن بالمسيح وقد ابتعدنا عن شر اليهود، لأنه ماذا يستحيل على اليد اليمنى القادرة على كل شيء؟، وأي شيء يكون عظيماً أو صعباً عليه هو الذي يستطيع أن يفعل كل شيء بإرادته وحده؟ هو الذي يُثبَّت السموات وأساسات الأرض، خالق الكل، كلّي القدرة، كيف يمكنه أن يحتاج إلى بعلزبول؟ إنها أفكار لا يسوغ النطق بها! هذا شر لا يطاق! شعب أحمق لا يفهم! ومن العدل أن يقال عن الإسرائيليين: &#8220;<strong>لهم عيون ولا يبصرون ولهم آذان ولا يسمعون</strong>&#8220;. (مر٨: ١٨)، لأنهم مع أنهم يبصرون الأعمال المعجزية التي يقوم بها المسيح، والتي تمَّت على يد الأنبياء القديسين، الذين سمعوا عنهم، وعرفوهم من قبل، إلا أنهم استمروا في عنادهم وجموحهم، لذلك كما يقول الكتاب: &#8220;<strong>هم يأكلون من ثمر طُرُقهم</strong>&#8221; (أم١: ٣١). يجب علينا أن نجتهد في تعظيم المسيح بتمجيدات لا تنتهي، وهكذا نرث مملكة السماء، بنعمة المسيح نفسه، الذي به ومعه لله الآب التسبيح والسلطان مع الروح القدس إلى دهر الدهور آمين.</p>
<h4>الحرب الداخلية والخارجية - للقديس مقاريوس<a href="#_ftn4" name="_ftnref4">[4]</a></h4>
<p><strong>الحرب الخارجية والحرب الداخلية</strong><strong>:</strong></p>
<p>❈ الإنسان الذى يريد حقيقة أن يرضي الله ويكون معادياً حقاً للعدو الشرير، ينبغي أن يقاتل في معركتيين. معركة منهما تكون في الأمور المنظورة لهذه الحياة، وذلك بأن يتحول تماماً ويبتعد من الارتباكات الأرضية ومحبة الارتباطات العالمية ومن الشهوات الخاطئة.</p>
<p>والمعركة الأخرى تحدث فى الداخل - في الخفاء ضد أرواح الشر نفسها، كما يقول الرسول: &#8220;فإنَّ مُصارَعَتَنا ليستْ مع دَمٍ ولَحمٍ، بل مع الرّؤَساءِ، مع السَّلاطينِ، مع وُلاةِ العالَمِ علَى ظُلمَةِ هذا الدَّهرِ، مع أجنادِ الشَّرِّ الرّوحيَّةِ في السماويّاتِ.&#8221; (أف ١٢:٦)</p>
<p><strong>نوعان من القيود</strong><strong>:</strong></p>
<p>❈ فالإنسان حينما تعدى الوصية وطرد من الفردوس، صار مقيد من ناحيتين، وبقيدين مختلفين. أحد هذين القيدين كان عن طريق هذه الحياة، اى في اهتمامات المعيشة ومحبة العالم، أعنى محبة اللذات الجسدية والشهوات، ومحبة الغنى والعظمة والمقتنيات والزوجة والأولاد والأقرباء والأهل والبلد، والأمكنة الخاصة، والملابس وكل الأشياء الأخرى المتصلة بالحواس، والتي تحثه كلمة الله على أن ينفك منها باختياره، (حيث أن ما يربط أي انسان بكل أمور الحواس إنما يكون باختياره ورضاه)، حتى إذا تحرر من كل هذه الاهتمامات يستطيع أن يحفظ الوصيه حفظاً كاملاً .</p>
<p>والى جانب هذا الرباط – ففي كيان الإنسان الداخلى، تكون النفس محاصرة بسياج ومربوطة بقيود الظلمة من أرواح الشر، فيكون الإنسان غير قادر أن يحب الرب كما يريد، أو أن يؤمن كما ينبغي، أو أن يصلى كما يرغب. فمن كل ناحية توجد مقاومة سواء في الأمور المنظورة والظاهرة أو في الأمور الخفية غير المنظورة، وهذه المقاومة قد نتجت وصارت فينا من سقوط الإنسان الأول .</p>
<p><strong>قبول الكلمة واكتشاف الحر الداخلية</strong>:</p>
<p>❈ لذالك فحينما ينصت أي انسان لكلمة الله ويقبلها، ويدخل فى المعركة ويلقى عنه اهتمامات هذه الحياة ورباطات العالم وينكر كل اللذات الجسدية ويتحرر منها، فبعد ذلك اذ يلازم الرب وينتظره بمثابرة في الصلاة وبمداومة، فإنه يصير في وضع يمكنه من أن يكتشف وجود حرب أخرى في داخل قلبه، انه يكتشف مقاومة خفية وحرب أخرى مع ايحاءات أرواح الشر وتنفتح أمامه معركة أخرى .</p>
<p>وهكذا بوقوفه ثابتاً صارخاً الى الرب بإيمان لا يتزعزع وصبر كثير، منتظرًا الحماية والمعونة التي نأتي منه، فإنه يستطيع أن يحصل من الرب على حرية داخلية من القيود والسياجات والهجمات وظلام أرواح الشر التي تعمل في مجال الشهوات والأهواء الخفية.</p>
<p><strong>نعمة الله تبطل الحرب تماماً</strong><strong>:</strong></p>
<p>❈ ولكن هذه الحرب تبطل وتنتهى تماماً بنعمة الله وقوته. فلا يستطيع انسان بنفسه، أن ينقذ نفسه بقوته الخاصة من مقاومة وغوايات الأفكار والشهوات الداخلية وحيل الشر .</p>
<p>أما إذا كان الإنسان مربوطاً بالأمور المادية الحسية التي لهذا العالم، وواقعاً في شرك الرباطات الأرضية المتنوعة ومنساقاً بشهوات الشر، فإنه لا يستطيع حتى أن يكتشف وجود معركة أخرى، وأن هناك حرب تدور في داخل نفسه .</p>
<p>فالإنسان حينما يدخل المعركة ويتحرر من الرباطات العالمية الخارجية ويحل نفسه من الأمور المادية ولذات الجسد ويبتدئ أن يتعلق بالرب ويلتصق به مفرغاً نفسه من هذا العالم فإنه حينئذ يستطيع أن يرى ويكتشف حرب الشهوات والأهواء الداخلية التي تحدث في باطنه. ويصير واعياً وعارفاً بهذه الحرب الداخلية، حرب الايحاءات الشريرة .</p>
<p>وكما قلت سابقاً، فإنه إذا لم يناضل وينكر العالم ويتحرر من الشهوات الأرضية بكل قلبه ويشتهى ويصمم بكل نفسه أن يصير ملتصقاً كلية بالرب، فإنه لا يكتشف ويعرف خداع أرواح الشر الخفي وشهوات الشر الخفية، ويظل غريباً عن نفسه ولا يعرف أنه مجروح من الداخل وأن فيه شهوات خفية وهو لا يدرى بها. لأنه لا يزال مربوطاً بالأشياء الخارجية ومتعلقاً بأمور هذا العالم وارتباكاته برضاه وموافقته.</p>
<p><strong>نوال السلاح السماوى والإنتصار</strong><strong> :</strong></p>
<p>❈ ولكن الإنسان الذي رفض العالم حقاً وطرح عنه ثقل هذه الأرض والقى عنه الشهوات الباطله الجسدية، وشهوات المجد والسلطان والكرامات البشرية وابتعد عنها جميعاً بكل قلبه - (حيث أن الرب يعطيه النعمة والمعونة سراً في هذا الصراع المستمر، حتى أنه يتنكر للعالم تماماً) - ووضع في قلبه بثبات أن يخدم الرب ويعبده ويلتصق به بكل كيانه، جسداً ونفساً، مثل هذا الإنسان أقول، إنه يكتشف وجود المقاومة، أي الأهواء الخفية والقيود غير المنظورة والحرب الخفية - أي المعركة والصراع الداخلي، وهكذا إذ هو يتوسل إلى الرب، فإنه ينال السلاح السماوى: سلاح الروح القدس، الذى وصفه الرسول المبارك بقوله: &#8220;<strong>درع البر، وخوذة الخلاص، وترس الإيمان، وسيف الروح</strong>&#8221; (أف 6: 14). وإذ يتسلح بهذه الأسلحة فإنه يستطيع أن يقف ضد خداعات ابليس، حتى رغم كونه محاطاً بالشرور .</p>
<p>وإذ قد سلح نفسه بهذا السلاح بكل صلاة ومواظبة وطلبة وصوم مع إيمان، فإنه يصير قادراً أن يحارب ضد الرئاسات والسلاطين وولاة ظلمة هذا العالم، وهكذا بانتصاره على القوات المعادية بمساعدة الروح القدس مع سعيه وغيرته في كل فضيلة فإنه يكون معداً للحياة الأبدية، ممجداً للآب والابن والروح القداس الذى له المجد والقدرة إلى الأبد أمين .</p>
<h4>سلاح</h4>
<h4>المولودين من الروح - عند القديس مقاريوس الكبير<a href="#_ftn5" name="_ftnref5">[5]</a></h4>
<p><strong>المولودون من الروح:</strong></p>
<p>❈ إن الجوهرة العظيمة الثمينة الملوكية، والتي تختص بالتاج الملوكي، إنما تليق بالملك وحده. والملك فقط هو الذي يستطيع أن يلبس هذه الجوهرة ولا يسمح لإنسان آخر أن يلبس مثل هذه  الجوهرة. هكذا أيضاً، إذا لم يولد الانسان من روح الله الملوكي، ويصير من أعضاء العائلة السماوية الملوكية وابناً لله بحسب المكتوب: &#8220;<strong>وأمّا كُلُّ الذينَ قَبِلوهُ فأعطاهُمْ سُلطانًا أنْ يَصيروا أولادَ اللهِ</strong>&#8221; (يو١: ١٢)، فلا يستطيع أن يلبس الجوهرة السماوية الثمينة جداً، أي صورة النور الذى لا يعبر عنه - الذى هو الرب نفسه، وذلك لأنه ليس ابناً للملك. لأن أولئك الذين يمتلكون الجوهرة ويلبسونها، إنما يحيون مع المسيح ويملكون معه إلى الأبد. لهذا يقول الرسول: &#8220;<strong>كما لَبِسنا صورَةَ التُّرابيِّ، سنَلبَسُ أيضًا صورَةَ السماويِّ.</strong>&#8221; (١كو١٥: ٤9).</p>
<p>❈ وكما أن الحصان طالما هو يرعى مع الحيوانات الوحشية في البرية، فإنه لا ينقاد للناس ولا يطيعهم. ولكن بعد أن يمسك لكي يُرَوَّض، فإنهم يضعون عليه لجاماً ثقيلاً إلى أن يتعلم أن يسير بنظام وانضباط. وبعد ذلك يمكن أن يركبه راكب ماهر ليدربه لكي يصير نافعاً في الحروب. وبعد ذلك يضعون عليه السلاح: الدرع والزرد (حلقات حديدية على شكل ضفيرة تغطي الصدر تماماً لتحميه) ولكنهم يرفعون اللجام أولاً ويهزونه أمام عينيه لكى يتعود عليه ولا يخاف منه، وهكذا اذ يعلمه الراكب، فانه يستطيع أن يشترك في الحروب. لأنه بدون درع فإن الحصان لا يكون ذو نفع في الحرب. ولكن بعد أن يتدرب ويتعود الحرب، فإنه بمجرد أن يشم رائحة المعركة ويسمع صوت الحرب فإنه في الحال يهجم على العدو من نفسه حتى أن الصوت الذى يصنعه الحصان يكون كافياً لالقاء الرعب في قلب العدو.</p>
<p><strong>روح المسيح يغير الإنسان :</strong></p>
<p>❈ وبنفس الطريقة فإن الإنسان منذ السقوط صار متوحشاً وغير مطيع وهو يتجول في برية العالم مع الوحوش، التي هي أرواح الشر. وهو تحت الخطية ويرفض أن يخدم ويطيع. ولكن حينما يسمع كلمة الله، ويؤمن فإن الروح يلجمه ويجعله يخلع عنه عاداته الوحشية وأفكاره الجسدية اذ يصير الآن تحت قيادة المسيح الذى يركب عليه ويقوده.</p>
<p>وبعد ذلك يتعرض الإنسان لشدائد ويختبر ضيقات في ترويضه للخضوع لنير المسيح. وهذا يكون كامتحان للنفس حتى تصبح بالتدريج مطيعة  رقيقة سهلة الإنقياد بواسطة الروح. والخطية التي فيها تتناقص بالتدريج إلى أن تتلاشى كلية. وهكذا اذ يلبس الإنسان &#8220;درع البر&#8221; و&#8221;خوذة الخلاص&#8221; و&#8221;ترس الإيمان&#8221; و&#8221;سيف الروح&#8221; (أف٦: 14) فإنه يتعلم أن يحارب ضد أعدائه.</p>
<p>وهكذا اذ يتسلح بروح الرب فإنه يقاتل أرواح الشر، ويطفئ سهام الشرير الملتهبة. ولكن بدون سلاح الروح لا يتقدم إلى خط القتال، ولكن حينما يحصل على سلاح الرب فإنه بمجرد أن يسمع ويحس بوجود الحروب فإنه يتقدم، &#8220;بصياح وهتاف&#8221; كما يقول في أيوب (أي٣٩: ٢٥)، لأن نفس صوت صلاته يوقع الأعداء ساقطين على الأرض. وهكذا اذ يقاتل وينتصر في الحرب بقوة الروح، فإنه ينال أكاليل الغلبة بثقة  عظيمة، وهكذا يجد راحة ويستريح مع الملك السماوى، الذى يليق به المجد والقدرة إلى الأبد آمين.</p>
<h3>عظات<strong> آباء وخدام معاصرون :</strong></h3>
<h4><span>هل تجمع معى - </span><b><span>يوم الجمعة من الأسبوع الثالث لقداسة البابا تواضروس </span></b></h4>
<div>
<div>
<div>
<div>
<div id="yiv4179697025yqtfd93398">
<p><b><span>(لو١١ : ١٤ – ٢٦ ) </span></b></p>
<p><b><span>هل تجمع معى ( مع المسيح ) ؟</span></b></p>
<p><span>في إنجيل اليوم سألنا السيد المسيح سؤالا وقدم لنا إجابة واضحة تقول : &#8221; من ليس معي فهو علي ومن لا يجمع معي فهو يفرق &#8221; (لو ١١ : ٢٣)، وأريد أن أتأمل معكم في الجزء الثاني من هذه الآية : &#8221; من لا يجمع معي فهو يفرق &#8220;.</span></p>
<p><span>والسؤال : هل تجمع مع المسيح ؟ السيد المسيح وهو في وسط الجموع جاءوا إليه بشخص أخرس ، وبمفهوم العهد القديم الأخرس به شيطان حرمه من النطق ، ويقول الكتاب : &#8221; إنه أخرج الشيطان من هذا الإنسان فصاريتكلم &#8220;، ولا بد أن تنتبه هنا لعبارة صغيرة وتضعها أمامك وهي أن الخطية دائماً تحرم الإنسان من الكلام ، والشيطان هنا قد حرم هذا الشخص وجعله أخرس لا يعرف أن يتكلم مع الله ، وعندما حدثت المعجزة أخذت الناس أكثر من موقف ، فبعضهم تعجب وانبهر ، والبعض قالوا : &#8221; إنه ببعلزبول يخرج الشياطين &#8220;، وبعلزبول هو &#8221; إله الذباب &#8220;، وفي اليهودية يعني &#8221; إله القذارة &#8220;، وهناك آخرون لم يصدقوا هذه المعجزة وقالوا : &#8221; نُريد معجزة من السماء مثل النار التي نزلت من السماء أيام إيليا النبي &#8220;، وعليك أن تنتبه في أن الموقف واحد لكن رؤى الناس تختلف بدأ السيد المسيح يكلمهم عن خطية من الخطايا التي يمكن أن يقع فيها الإنسان وهي خطية الانقسام ، ويعتبر القديس &#8221; يوحنا الذهبي الفم &#8221; خطية الانقسام هي أشهر أنواع الخطايا ، أحياناً الإنسان يقوم بترتيب الخطايا في ذهنه ، أما عند القديس يوحنا الذهبي الفم تعتبر خطية الانقسام هي أشر خطية ، ويأتي السؤال هل تعرف أن تجمع ؟</span></p>
<p><b><span>* أسباب عدم الاتحاد والتجمع :</span></b></p>
<p><span>١- أول سبب يجعل الإنسان لا يعرف أن يجمع الأفكار أو يجمع الناس والأسرة أو يجمع البشرية هو الإنسان الملتوي صاحب الآراء الخبيثة ، حيث نجد كلامه غير مستقيم وملتوي ، وأحياناً بعض البشر يكونون  مثل علامة الاستفهام التي تحمل معنى الغموض ، وكلامهم لا يدل على ما في قلوبهم أو ما في داخل فكرهم . الشخص الملتوي لا يستطيع أن يجمع ، ولذلك عندما تصلي كل يوم نطلب من الله : &#8221; قلباً نقياً اخلق في يا الله وروحاً مستقيما جدده في أحشائي &#8221; (مز٥١ : ۱۰)، نطلب من الله أن يعطينا الروح المستقيمة وليست الملتوية أو الخبيثة. </span></p>
<p><span>٢- الإنسان الذي يحب الشائعات والأكاذيب ، فهناك من يتكلم بكلام شائعات ويفترض شائعات بأشكال وألوان مختلفة ، ويكون كلامه مملوءاً بالأكاذيب وليس فيه الصدق ، وبالتالي لا تستطيع أن تعتمد عليه في أي شيء ؛ لأنه مطلق الشائعات ومحب للأكاذيب ولا يستطيع أن يجمع لكنه ينشر الشائعات المغلوطة.</span></p>
<p><span>٣- الإنسان صاحب النظرة السوداوية ، وهو الذي ينظر لأي شيء بنظرة سيئة ودائماً يحكم على الأمور بأنها سيئة ، فعيناه لا ترى أبدا ما هو جيد .</span></p>
<ul>
<li><b><span>قصة</span></b></li>
</ul>
<p><span> كانت إحدى الشركات معرضة للخسارة وتم تعيين مدير جديد لها ، هذا المدير أراد أن يشجع الموظفين في هذه الشركة لتكون نظرتهم صحيحة ، فأتى بسبورة كبيرة بيضاء ثم جاء على طرفها ورسم نقطة سوداء ، بعد ذلك جمع كل الموظفين وسألهم : &#8221; ماذا ترون ؟&#8221;، قالوا له : &#8221; نرى النقطة السوداء &#8220;، فقال لهم : &#8221; هذا هو الخطأ فأنتم أصحاب نظرة سوداوية رأيتم النقطة السوداء وتركتم المساحة البيضاء الكبيرة &#8220;،</span></p>
<p><span><strong>وانت ماذا ترى عيناك ؟ </strong></span></p>
<p><span>هناك من يرى كل شيء بصورة خاطئة حتى على مستوى المجتمعات فمن الممكن أن لا يرى في المجتمع أي شيء جيد لكنه يلتقط نقاط الضعف ، فصاحب النظرة السوداوية لا يستطيع أن يجمع مع المسيح . تخيل أباً في البيت ابنه رسب في الامتحان أو حصل على درجات ضعيفة ، نجد أن نظرته السوداوية تجعله يقول لابنه : &#8221; أنت غير نافع في التعليم ، أنت فاشل ، أفضل شيء أنك تترك المدرسة &#8220;، هذه النظرة السوداوية لا تجعل الإنسان يستطيع أن يجمع. </span></p>
<p><span>٤- المعاندون ، والعناد خطية لا تستطيع أن تساعد الإنسان أن يجمع مع المسيح ، فهناك من يعاند نفسه ، وهناك من يعاند بيته أو خدمته أو حتى مجتمعه ، ودائماً المعاند مخالف ، وفي التقاليد نقول : &#8221; على ابن الطاعة تحل البركة &#8221; و&#8221; المخالف حاله تالف &#8220;.</span></p>
<p><span>٥- الإنسان الذي ليس له معية أي ليس له حياة مع المسيح ، يقولون في الأمثال الشعبية : &#8221; الفاضي يعمل قاضي &#8220;، والفاضي هنا المقصود به الفارغ من روح الله ، ومهمته الحكم على الناس وإدانتهم ، إن الإنسان الذي ليس له معية وشركة وحياة روحية مع المسيح لا يستطيع أن يجمع .</span></p>
<p><span>لقد ذكرت هذه الأسباب لكي أضع أمامك هذه العبارة من فم المسيح : &#8221; من لا يجمع معي فهو يفرق &#8220;، فالسيد المسيح يريد أن يقول لكل شخص : &#8221; هل أنت إيجابي ؟ هل تحب أن تكون هناك مواقف إيجابية في حياتك أم تكون مشاهداً أو متفرجاً فقط ؟ أم تفضل أن تبعد تماماً وتكون شخصاً سلبياً ؟ أم مهمتك أن تحكم على الآخرين فقط ؟&#8221;.</span></p>
<p><span>اسأل نفسك هل في حياتك وفي بيتك وفي مسئولياتك وفي خدمتك هل تجمع ؟ أم تُفرق الناس بكلامك ؟ أم تتشتت أفكارك ولا تستطيع أن تجمعها ؟ هناك ما يسمى &#8221; بطياشة الفكر &#8221; حيث يطيش فكر الإنسان من الأفكار، ويحاول فيها الإنسان أن يجمع فكره، وتلمس ذلك عندما تشرد بذهنك وفكرك أثناء الصلاة وقد تطلب من أب اعترافك إرشاداً لذلك.</span></p>
<p><b><span>* وسائل تُساعدك على أن تجمع مع المسيح :</span></b></p>
<p><span>١<b> - التوبة :</b></span></p>
<p><span>توبة الإنسان هي إحدى الوسائل التي تُساعدك على أن تجمع ، والخطية إحدى أفعالها إنها تشتت حياة الإنسان ، فقلبه في ناحية وعيناه في ناحية ، وحياته في ناحية أخرىز، ويدخل هذا التشتيت فيما نسميه &#8221; بالصراع النفسي &#8220;، وعلى الإنسان أن يفرغ كل ما هو في  قلبه ويقف أمام الله ويقول له : &#8221; خطيتي أمامي في كل حين ، لك وحدك أخطأت والشر قدامك صنعت &#8220;، وهذه هي التوبة. ليست التوبة أن أبرر نفسي ، ولا أن أضع أعذاراً قدام حياتي ، التوبة هي أن أقول مثل داود النبي : خطيتي أمامي في كل حين &#8220;، وهذا مثال حي أمامنا للتوبة ، وإذا وصلت لهذه المرحلة وأفرغت قلبك وعشت بمشاعر التوبة الجميلة فهذه أول وسيلة تجمع بها ذاتك ، لذلك من الأمور اللطيفة أن طوال حياتنا لم نسمع عن أن التائبين قد وقعوا في أمراض نفسية ، الإنسان التائب بالحق هو الذي لا يعرف الأتعاب النفسية ؛ لأنه يجمع بنفسه ، فالخطية تشتت أما التوبة فتجمع ، ولهذا السبب نأتي في فترة الصوم وتكلمنا الكنيسة كثيراً عن التوبة وعن أن الصوم والصلاة هما اللذان يخرجان الشياطين ، والمقصود بالشياطين هنا خطايا الإنسان ، وعليك أن تتذكر في إنجيل أحد الرفاع الكلمات التي يقولها لك : &#8221; فمتى صليت فادخل إلى مخدعك وأغلق بابك &#8221; (مت ٦ : ٦ ) وكأن الصوم يا أحبائي هو فترة دخول إلى المخدع ، إلى القلب ، إلى النفس الداخلية لكي تُنقي قلبك ، أما أغلق بابك فهو يقصد به الفم ، وهذا معناه أن الإنسان يقلل من كلامه مع الصوم وينشغل الإنسان بالتوبة ونقاوة قلبه ويجمع نفسه . فهل نفسك متجمعة أم مشتتة ؟ عليك بالهدوء دائماً ، فالتوبة تحتاج إلى الهدوء.</span></p>
<p><span>۲<b>۔ المصالحة :</b></span></p>
<p><span>يقصد بها الإنسان الذي يستطيع أن يصنع سلاما بين الناس . فهناك من يثير الصراعات بين البشر . وهناك من يحاول أن يقرب بين الناس ، إذا كان هناك خلاف بينهم ويحاول أن يقرب وجهات النظر والأفكار ، ويكون إنساناً عادلاً ، ويصفه الناس بأنه ممتاز في المصالحة . وهذا شكل من أشكال الحكمة في التعامل مع المتخاصمين</span></p>
<ul>
<li><b><span>مثال</span></b></li>
</ul>
<p><b><span>إبراهيم أبو الآباء :</span></b></p>
<p><span>عندما اختلف رعاة إبراهيم مع رعاة لوط لأنهم يريدون أن يأخذوا الأرض والماء والجهد ، فنجد أبونا إبراهيم صاحب المصالحة أتي بلوط وقال له : &#8221; لماذا يحدث هذا الاشتباكز؟ اختر أنت أولاً ، فإذا اخترت الشرق اخترت أنا الغرب والعكس &#8221; &#8230; وكان ذلك بالرغم أن أبانا إبراهيم كان هو الأكبر سنا ، حيث اختار لوط أولا ، ثم من بعده أبونا إبراهيم ، وانتهى النزاع بحكمة أبينا إبراهيم . </span></p>
<p><span>هل لديك القدرة على ذلك ؟ هل تستطيع أن تصالح الناس وتقرب وجهات النظر ؟ هل لو وجدت في عائلتك حالة خصام تستطيع أن تقوم بالمصالحة بين الطرفين ؟ إن صنع السلام من الصناعات الصعبة جداً &#8221; طوبى لصانعي السلام ، لأنهم أبناء الله يدعون&#8221; (مت ٥ : ٩). &#8221; ليكن كلامك مصلحاً بملح &#8221; (كو ٤ : ٦)، إن أي كلام موزون يستطيع أن يصنع سلاماً حتى بين المتخاصمين . المصالحة هي كما صالحنا الله في ابنه وصالح السماء مع الأرض ، هذه المصالحة هي إحدى وسائل التجميع ، فاجتهد أن تكون إنساناً مصالحاً بين المتخاصمين .</span></p>
<p><span>٣<b> القراءة :</b></span></p>
<p><span>القراءة الإنجيلية أولا، والقراءة الروحية ، وحتى القراءة العامة &#8221; الثقافية والأدبية بصفة عامة &#8230;&#8221;. </span></p>
<p><span>عمل القراءة الذي يقول عنه الكتاب المقدس : &#8221; طوبى للذي يقرأ&#8230;&#8221; (رؤ ١:  ٣). يالسعادة الذي يقرأ ؛ لأن القراءة تساعد الإنسان على أن يجمع فكره ومشاعره ومعارفه وثقافته ، لذلك ننصح بعدم القراءة لكاتب واحد ولا لنوعية واحدة من الكتب بل اجعل قراءتك واسعة. </span></p>
<p><span>القراءة وسيلة جيدة ، كل قداس فيه جزء تعليمي يقرأ فيه من الكتاب المقدس (البولس ، الكاثوليكون ، الإبركسيس ، وجزء من المزامير، وجزء من الإنجيل المقدس )، إلى جانب ذلك السنكسار والعظة ونقرأهم الأول ؛ لأن الجزء التعليمي الذي نسمعه هو يجمع أفكارنا ، فعندما يبدأ الأب الكاهن القداس يسأل الشعب ويقول لهم : &#8221; أين هي قلوبكم ؟&#8221;، يرد الشعب قائلا : &#8221; هي عند الرب &#8220;، وهنا نكون قد جمعنا أفكارنا ؛ لأن القراءة وسيلة قوية لتجميعناً ، ولذلك عليك ألا تهمل قراءة الإنجيل ولا تهمل قراءة الكتب الروحية ، فيعلمنا سفر المزامير قائلا : &#8221; وفي ناموسه يلهج نهاراً وليلا &#8221; (مز ۱ : ۲) وذلك لكي تكون أفكارك متجمعة ، فالكتاب المقدس وسيلة تجمع فكرك وتجمع نفسك وملكات العقل كلها ، ودائماً القراءة الورقية أثبت من القراءة على الأجهزة الإلكترونية ب ٣٠٪، فاهتم بالقراءة ، فبدون القراءة عقلك مشتت وأفكارك تائهة . </span></p>
<p><span>٤<b>- الخدمة :</b></span></p>
<p><span>بالطبع لا أقصد خدمة مدارس الأحد أو خدمة التعليم ، لكن أقصد الخدمة في مفاهيمها الواسعة جدا ، فالخدمة هي جمع النفوس ، بطرس الرسول عندما دعاه السيد المسيح قال له : &#8221; اترك صيد السمك وأنا أجعلك صياداً للناس &#8220;، وصياد تعني يجمع ، فالخدمة هي جمع النفوس والاتيان بها عند الصليب عند أقدام السيد المسيح ، </span></p>
<p><span>٥<b> – الأنشطة :</b></span></p>
<p><span>الأنشطة التي يمارسها الإنسان وبالذات الشباب ، مثل الأنشطة الرياضية والفنية &#8230; وغيرها ، فالأنشطة الجماعية تُنجح الإنسان جدا ، فلعبة كرة القدم مشهورة جداً لأن أساس هذه اللعبة التعاون الجماعي وأحيانا يسمونه &#8221; التنافس التعاوني &#8220;، ويكون الناس مشدودين للمباريات ولمن يحرز الأهداف ؛ لأن النشاط دائماً دائماً يجمع ، فالأنشطة الجماعية والألعاب الجماعية تحفظ الإنسان من الأنانية ، لذلك لا ننصح بالألعاب الفردية للصغار بل ننصحهم بالألعاب الجماعية حتى يعيشوا الفكر الجماعي .</span></p>
<ul>
<li><b><span>مثال</span></b></li>
</ul>
<p><span>أخيراً أريد أن أعطيك مثالاً للإنسان الذي يجمع وهو مثل &#8221; الابن الضال &#8221; الذي أخذ نصيبه من الميراث وترك بيت أبيه ، فالخطية تقسم البيت ، ولكن الأب كان ممتلئاً حباً وظل منتظرا رجوع ابنه ، وفي اليوم الذي رجع فيه ابنه أخذه في حضنه وأعطاه الهدايا ، وأعطاه أن يكون عزيزا مكرماً ، لقد جمع البيت ، عاد الابن وقال لأبيه : &#8221; احسبني كأحد أجرائك &#8220;، لكن الأب كان رد فعله كله مصالحة وقال له : &#8221; أنت ابني الغالي علي &#8220;، هنا نجد مصالحة الأب وتوبة الابن ، وعندما جاء الابن الأكبر وجد البيت كله فرحان بسبب عودة أخيه ، لكنه رفض أن يدخل البيت مرة ثانية ، ويخرج أبوه ويقول له : &#8221; كل ما لي فهو لك &#8220;، ويكمل معه قائلا : &#8221; كان ينبغي أن نفرح ونسر لأن أخاك هذا كان ميتاً فعاش ، وكان ضالا فوجد &#8221; (لو ١٥ : ۳۱، ۳۲)، وتنتهي القصة ولا نعلم إن كان هذا الابن الكبير قد تاب أم لا . لاحظ تصرفات هذا الأب الذي قبل التوبة ومارس المصالحة وقدم الحكمة لكي يستطيع أن يجمع. هل تجمع مع المسيح ؟ هل تجمع على مستوى نفسك أو على مستوى أفكارك ؟ هل تستطيع أن تجمع مع أسرتك كل واحد في مجاله ؟ هل تجمع مع عائلتك الكبيرة بالسؤال أو بالإكرام والمصالحة ؟ هل تجمع في الخدمة والكنيسة ؟ هل تستطيع وأنت تُمارس عملك في المجتمع أن تجمع وتكون سببا في تجميع الناس ، وتجعل الناس على اختلاف أفكارهم مرتبطين بالفكر الجيد معك ، أم دائما أفكارك غير جيدة أو غير مقبولة وطريقتك وأسلوبك ثقيل ؟!</span></p>
<p><span>وأيضاً على مستوى الشعوب ، فهناك شعوب وقادة استطاعوا أن يجمعوا ويوحدوا شعبهم ، ونسمع في التاريخ عن قادة لم يتمكنوا أن يجمعوا ، ولذلك نجد أن صنع السلام وجمع كل البشر بالفكر الجيد والحياة الجيدة مسئولية . وأنت في أيام هذا الصوم المقدس اسأل نفسك والمسيح يسألك : &#8221; هل تجمع معي ؟&#8221;.</span></p>
</div>
</div>
<div>
<div id="yiv4179697025yqtfd49146">السيد المسيح وهو على عود الصليب جمع كل المؤمنين حوله من كل العالم ، ففكرة الصليب هي فكرة الجمع ، فالصليب يمثل الجهات الأربع للأرض ، ففي الصليب هذه الوحدة ، وعليك أن تتذكر هذه الآية :&#8221; من لا يجمع معي فهو يفرق &#8221; (لو ۱۱ : ۲۳) .<a href="#_ftn1" name="_ftnref1">[6]</a></p>
<p><a href="#_ftnref1" name="_ftn1"></a></p>
</div>
</div>
<div>
<div id="yiv4179697025yqtfd09621"></div>
</div>
</div>
</div>
</div>
<h4>أعداء الطريق - للمتنيح أنبا يؤانس أسقف الغربية<a href="#_ftn6" name="_ftnref6">[7]</a></h4>
<p><strong>ونقصد بهم الشياطين وأعوانهم &#8230; </strong>وقبل أن نتكلم أود أن أؤكد حقيقة مسيحية أصيلة وهى أن المسيحيين لا يعتبرون أحداً من البشر عدواً لهم.فهم مطالبون بمحبة الجميع حتى من يضمرون لهم العداء ويضايقونهم .. إن هؤلاء يصلى المسيحيون لأجلهم عن حب، حتى ما يحررهم الرب من قبضه إبليس، لأن من يبغض ليس من الله ولا عرفه.</p>
<p>من المهم جداً أن يعرف الإنسان عدوه أو أعداءه أيا كانوا حتى في القليل؛ يأمن شرهم وخطرهم..ولدينا مثل حى، فلقد كان سبب كارثة حرب يونية سنة ١٩٦٧ هو عنصر المفاجأة والمباغتة الذى إتبعته إسرائيل.. وإن كنا هزمنا سنة ١٩٦٧ لكننا تلقنا درساً بل دروساً في الحرب، وعيناها جيداً وأدت إلى إنتصارنا في حرب أكتوبر سنة ١٩٧٣..</p>
<p>هكذا يفيدنا أن نعرف أكبر قدر من المعلومات عن أعدائنا الروحيين (الشياطين)، حتى نحترس منهم ونأمن شرهم، ونكون على استعداد حتى لا نقع في حبائلهم وشباكهم التي ينصبوها لنا.. لذا من الضرورى أن نتناول بالكلام طبيعة الشياطين وأساليبهم ومكرهم ودهائهم وخداعهم وحيلهم وأسلوبهم في الحرب الروحية، ومدى قوتهم أو شجاعتهم، فإن هذا بلا شك يعيننا في جهادنا مسيرة في الطريق إلى الله.</p>
<p>الشيطان حوله هالة كبيرة جداً، لذا يخشاه الناس ويرتعبون منه.. نحن لا ننكر قوة الشيطان الذى دعاه رب المجد &#8220;<strong>رئيس هذا العالم</strong>&#8220;(يو١٢: ٣١؛ ١٦: ١١).. ولكن في نفس الوقت لا ننسى أن المسيح قال عنه أيضاً &#8220;ليس له في شيء&#8221; <strong>(</strong>يو١٤: ٣٠).. هذا بالنسبة للمسيح القدوس الذى بلا شر، أما بالنسبة للإنسان الخاطى فالشيطان له فيه شيء بل أشياء.. إنه يتعامل مع الإنسان من خلال الخطية وبسببها. إن الخطية هنا هي &#8220;مسمار جحا&#8221; كما يقول المثل، ولكون المسيح له المجد بلا خطية فالشيطان ليس له فيه شيء. ومن استطاع من البشر أن يحيا بلا خطية، فإنه يستطيع أن يقول نفس كلمات المسيح &#8220;ليس له في شيء&#8221;. فبضاعة الشيطان التي يتعامل ويتاجر بها هي الخطية والشر.. لذا فعلى الإنسان حينما يسير في طريق حياته الروحية، أن يباعد بين نفسه وبين الخطية، لكى يأمن حكاية &#8220;مسمار جحا&#8221;!! والآن نستعرض بعض مما يهمنا معرفته عن الشيطان..</p>
<p><strong>١- طبيعة الشيطان: </strong></p>
<p>لا مجال هنا للقول بأن الشيطان كان مع جنوده يؤلف طغمة من الطغمات السمائية، وأنه سقط بالكبرياء، كان لسقوطه آثار عميقة على طبيعته، فهو مخلوق مشوه محدود في قدراته.. ولو أن الإنسان هو الآخر سقط، لكنه يجدد قدراته بالتوبة، بل قد تكون القوة الروحية التي يستردها بالتوبة أكبر مما يفقده بالخطية &#8220;حيث كثرة الخطية إزدادت النعمة جداً&#8221; (رو٥: ٢).. وفى الوقت الذى يسير فيه إبليس نحو الاندحار، نجد الإنسان يجدد قواه ويسير من قوة إلى قوة، ومن مجد إلى مجد..</p>
<p>ونستطيع أن نلمس ضعف الشيطان المتزايد يوماً بعد يوم، ومع ذلك فهو لا يكف عن محاربة أولاد الله، على الرغم من أن أولاد الله يتقوون عليه، الأمر الذى يثيره.. لقد نظر إبليس ورأى الإنسان الضعيف، وقد صار قوياً في المسيح. لذا وقف الشيطان عند دينونة المجاهدين كمشتكى عليهم. وتحير حين رأى شكاياته رفضت!! وعوضاً عنها أعطيت أكاليل مجد لمن أشتكى عليهم بسبب إنتصارهم عليه في قتاله!!.</p>
<p>يقول القديس مقاريوس الكبير: (حسب التدبير الإلهى فإن الشيطان لا يرسل للحال إلى مكان العذاب المعد له. لكن يسمح له أن يكون مطلق السراح، لتجربة وغواية البشر، حتى ما يصبح القديسون -وإن كان هذا ضد خططه- أكثر براً بالصبر، ويكون بهذا سبباً لمجد أعظم منه).</p>
<p>والأمر الذى مازال يثير الدهشة، إن الشيطان على الرغم من خبرته الطويلة وحنكته في القتال، فإنه لم يقدر أن يدرك إنه حينما يدخل في قتال معنا، فإنه إنما يسعى فقط لتجديد القتال القديم الذى إنتهى باندحاره الأبدي عند الجلجثة!! إنه لا يقاتل الإنسان الضعيف، بل الله الذى أخذ جسدنا، وسحقه تحت اقدامه بالصليب، وكسر مصاريع النحاس، وقطع عوارض الحديد. (مز١٠٧: ١٦).</p>
<p><strong>٢- الشيطان محدود في إمكانياته:</strong></p>
<p>لعل أول ما يجب معرفته  عن الشيطان، انه محدود في إمكانياته.. وعلى الرغم من هذه المحدودية، فيجب الاعتراف أنه خصم لا يستهان به. والنفس التي تستهين به لا بد وأن تصبح يوماً من ضحاياه!!ومما ورد في سفر دانيال يمكننا أن نأخذ فكرة عن قوة هذا العدو .. فلقد صلى دانيال إلى الله، وأرسل جبرائيل أحد رؤساء الملائكة ليبلغ دانيال رسالة من الله. وظل النبى ينتظر واحداً وعشرين يوماً رد السماء!! وأخيراً ظهر أمامه رئيس الملائكة جبرائيل وقال له: &#8220;لا تخف يا دانيال، لأنه من اليوم الأول الذى فيه جعلت قلبك للفهم ولإذلال نفسك قدام إلهك سمع كلامك، وأنا أتيت لأجل كلامك. ورئيس مملكة فارس وقف مقابلى واحداً وعشرين يوماً. وهوذا ميخائيل واحد من الرؤساء الأولين جاء لإعانتي، وأنا أبقيت هناك عند ملوك فارس. وجئت لأفهمك ما يصيب شعبك في الأيام الأخيرة (دا١٠: ١٢- ١٤).</p>
<p>وتفسير هذا الكلام أن دانيال حينما بدأ يصلى إستجاب الله صلاته وصدر أمره، وكلف رئيس الملائكة جبرائيل أن يبلغ دانيال رسالة الله وأمره. ولكن جبرائيل تأخر عن الوصول إلى دانيال ثلاثة أسابيع لأن رئيس من الشياطين وهو الموكول بمملكة فارس التي كان منها دانيال - وقف مقابل جبرائيل ومنعه طوال هذه المدة من الوصول إلى دانيال، لولا أن رئيس الملائكة جبرائيل هب لنجدته!! لعل هذه الإشارة تعطينا فكرة عن تنظيم مملكة إبليس، وكيف إنه خصم لا يستهان به، إذ إستطاع أن يعوق واحداً من رؤساء الملائكة وهو جبرائيل لمدة ثلاثة أسابيع!!</p>
<p>وأنا لا أسوق هذا المثال عن قوة إبليس لكى نلقى الروع في أنفسنا، إنما لكى نعرف حقيقة أمره .. هذا، ومن ناحية أخرى فإن الخوف من الشيطان أكثر من اللازم من شأنه أن يضعف من قوة الإنسان المعنوية وفيه نوع من تجاهل مواعيد الله حيث وعد أنه يحارب عنا، وإنه معنا كل الأيام حتى إنقضاء الدهر (رو٨: ٣١؛ مت ٢٨:٢٠).</p>
<p>معلومات الكثيرين عن الشيطان خاطئة .. أنكر البعض وجود شيء إسمه الشيطان، بينما يالغ البعض الآخر في قوته وإمكانياته وقدراته وكأنه إله ثان مقابل الله، موجود فى كل مكان ويعلم كل شيء، بل ويستطيع الكثير!!</p>
<p>لكن لنذكر دائماً أن الشيطان مخلوق، ومحدود، وله حدود معينة يعمل فيها .. وكمثال لإنحراف البعض نذكر من يقصدون السحرة والعرافين ومن اليهم ممن يعملون الزار ويقدمون ذبائح بمواصفات معينة كطلب الأرواح الشريرة أوالدجالين. الإلتجاء للسحرة والعرافين خطيئة كبيرة جداً، مهما قيل من أسباب ومبررات لا محل لذكرها ..</p>
<p><strong>ونعرض الآن لبعض مما يجب معرفته عن الشيطان: </strong></p>
<p><strong>أ - الشيطان ليس موجوداً في كل مكان: </strong></p>
<p>لا يمكن بحال من الأحوال أن يكون الشيطان موجوداً في كل مكان. فالوجود في كل مكان صفة من الله غير المحدود وحده، الأمر الذى لم يعط لملائكة أو لشياطين.وإذا وجد روح في مكان ما، فلا يمكن أن يكون هذا الروح في مكان آخر في نفس الوقت .. حقيقة أن الأرواح تستطيع الإنتقال بسرعة فائقة، لكن ومع ذلك فلا يمكن أن يوجد أي روح مخلوق في مكانين في وقت واحد، الشيطان لا يمكنه أن يوجد في مكانين في وقت واحد، وإن كان يستطيع - بواسطة جنوده الأشرارالعديدين - أن يتعامل مع كل نفس. كما يستطيع أن ينفذ خططه عن طريق عملائه ووكلائه الأشرار المنتشرين في كل مكان!!.</p>
<p><strong>ب - الشيطان لا يعرف الأسرار ولا يعلم كل شيء: </strong></p>
<p>الشيطان لا يعرف كل شيء أو يعلم الأسرار الخفية، فهذه الصفة - معرفة كل شيء والعلم بكل شيء - من صفات الله وحده .. والإنسان يحزن ويندهش حينما يرى بعض ممن يعتبرهم مثقفين يقصدون من يحسب لهم الطالع ويدلهم على المستقبل ويحضر لهم الأرواح&#8230;إلخ!!.. نحن لا ننكر أن الشيطان رغم سقوطه فإن لديه معلومات ومعرفة أوسع من التي لنا، بحكم وجوده مع كائنات روحية أخرى وبحكم طبيعته الأولى .. وهى طبيعة روحانية .. لكن مع كل ذلك فإن معلوماته محدودة ومعرفته محدودة أيضاً.</p>
<p>يضاف إلى ذلك - كما يقول القديسون - إن المعلومات التي يأتي بها الشيطان هي نتيجة خبرته الطويلة بحكم عمره الطويل جداً، وما يترتب على ذلك من إستنتاج، وكذا بحكم إمكانية الإنتقال السريع جداً الذى له .. فمثلاً قديماً كان يمكنه أن ينبئ بحالة  فيضان النيل في أحد الأعوام .. فحينما يرى الأمطار تهطل بغزارة على هضبة الحبشة يعرف أن الفيضان عال، بينما آثار الفيضان لكى تصل إلى مصر تحتاج إلى وقت كبير نسبياً، والعكس في حالة الأمطار القليلة .. وهنا نرى أن إنبائه بما سيحدث في المستقبل لا يرجع إلى معرفة بل إلى ملاحظة بالإضافة إلى عوامل أخرى !!.. ويمكن أن ينبئ عن إنسان مقيم في أمريكا أو استراليا أنه سيحضر غداً مثلاً، فقد رآه يستقل الطائرة في طريقه إلى مصر قبل أن تكون لدينا هذه المعرفة، وهكذا&#8230;</p>
<p><strong>ج – الشيطان لا يقدر على قراءة أفكار البشر ولا يعرف ما في قلوبهم : </strong></p>
<p>دورالشيطان في حربه مع الإنسان هو الغواية فقط. ولا يستطيع الشيطان أن يعرف مدى تأثير غوايته الشريرة لإنسان ما، إلا بقدر ما يظهر هذا الإنسان من أحاسيس وإنفعالات خارجية كدليل على ذلك، ومنها وبها يستطيع أن يستنتج. يقول سليمان الملك ابن داود في صلاة تدشين الهيكل: &#8220;لأنك أنت وحدك قد عرفت قلوب كل بنى البشر&#8221; (1مل٨: ٣٩).</p>
<p>الله وحده إذن الذى يعرف ما في قلوب بنى البشر، أما الشيطان فلا قدرة له على ذلك .. وما أن يلاحظ الشيطان على الإنسان اضطراباً أو خوفاً أو ميلاً للاستسلام نتيجة غوايته، حتى يضاعف من هجومه بصورة يكتسح معها مقاومته!! لذا ينبغي أن نكون هادئين غير مضطربين في أوقات التجربة، غير معطين أي علامة خارجية نشجع بها الشيطان ..</p>
<p>ولنتذكر كيف أن خبرة  الشيطان الطويلة قد اكسبته حذقاً ومكراً ودهاء في قراءة الانفعالات والعلامات الخارجية التي تصدر من البشر.</p>
<p><strong>د – الشيطان يجرب الإنسان في حدود ما يسمح به الله : </strong></p>
<p>الشيطان ليس حراً في أن يفعل بالإنسان ما يريده، وإلا لو كان الأمر كذلك لأباد الشياطين البشر .. لكن الشيطان يجرب الإنسان بسماح من الله وفى حدود ما يسمح له به، وقصة أيوب (ص١، ٢) توضح لنا هذا الأمر تماماً بما لا  يدع مجالاً للشك أو التأويل.</p>
<p><strong>ماذا تقول قصة أيوب؟ </strong></p>
<p><strong>&#8220;</strong>كان ذات يوم أنه جاء بنوا الله ليمثلوا أمام الرب، وجاء الشيطان أيضاً في وسطهم. فقال الرب للشيطان من أين جئت. فأجاب الشيطان الرب وقال من الجولان في الأرض ومن التمشى فيها. فقال الرب للشيطان هل جعلت قلبك على عبدى أيوب، لأنه ليس مثله في الأرض. رجل كامل ومستقيم يتقى الله ويحيد عن الشر. فأجاب الشيطان الرب وقال هل مجاناً يتقى أيوب الله، أليس أنك سيجت حوله وحول بيته وحول كل ما له من كل ناحية، باركت أعمال يديه، فانتشرت مواشيه في الأرض، ولكن أبسط يدك الآن ومس كل ما له فإنه في وجهك يجدف عليك. فقال الرب للشيطان هوذا كل ما له في يدك. وإنما إليه لا تمد يدك. ثم خرج الشيطان من أمام وجه الرب&#8221;.</p>
<p>ثم أخذ الشيطان يمارس نشاطه أو هوايته الشريرة فحلت الكوارث بأيوب وبيته: ضاعت أبقاره واتنه، ومات غلمانه بجد السيف، واحترقت أغنامه بالنار وكذلك غلمانه، ومات أولاده وبناته.</p>
<p>&#8220;فقام أيوب ومزق جبته وجز شعر رأسه وخر على الأرض وسجد. وقال عريان خرجت من بطن أمي، وعرياناً أعود إلى هناك. الرب أعطى والرب أخذ فليكن إسم الرب مباركاً. في كل هذا لم يخطئ أيوب ولم ينسب لله جهالة&#8221;.</p>
<p>مرة ثانية يتكرر الأمر ويظهر الشيطان أمام الله. ويقول الرب للشيطان: &#8220;هل جعلت قلبك على عبدى أيوب، لأنه ليس مثله في الأرض. رجل كامل ومستقيم يتقى الله ويحيد عن الشر، وإلى الآن هو متمسك بكماله، وقد هيجتنى عليه لأبتلعه بلا سبب.</p>
<p>فأجاب الشيطان الرب وقال جلد بجلد وكل ما للإنسان يعطيه لأجل نفسه ولكن أبسط يدك ومس عظمه ولحمه فإنه في وجهك يجدف عليك. فقال الرب للشيطان ها هو في يديك، ولكن احفظ نفسه.فخرج الشيطان من  حضرة الرب وضرب أيوب بقرح ردئ من باطن قدمه إلى هامته.. في كل هذا لم يخطئ أيوب بشفتيه&#8221;.</p>
<p>كانت تجربة أيوب الأولى في أولاده وممتلكاته، والتجربة الثانية صارت في جسده وواضح جداً من هاتين التجربتين أن الله كان يسمح للشيطان بتجربته في حدود معينة.</p>
<p>ولماذا يسمح الله بالتجربة في حدود معينة؟ &#8230; لأن الله - في عدله - لا يسمح أن يجرب الأنسان فوق طاقته وإحتماله .. وإذا سلمناأن الله عادل، وهو كذلك، فإنه لا يسمح بتجربتنا فوق ما نطيق .. يقول معلمنا بولس: &#8220;لم تصبكم تجربة إلا بشرية ولكن الله أمين الذى لا يدعكم تجربون فوق ما تستطيعون، بل سيجعل مع التجربة أيضاً المنفذ، لتستطيعوا أن تحتملوا&#8221; (1كو1٠: ١٣) .</p>
<p>ونلاحظ هنا أن التجربة لا تكون فقط على قدر طاقة الإنسان، بل أن الله في حنوه يعطى منفذاً مع التجربة ..يقول أحد الآباء الروحيين: (إن الله لا يرفع التجربة لأنها مفيدة للإنسان، لكن فائدة المنفذ أنه يعطى الإنسان قوة على إحتمال التجربة .. ولو لم تكن التجربة لخير الإنسان لما سمح الله بها).</p>
<p>ويؤكد الوحى الإلهى بلسان بطرس الرسول أن الرب لا يتبأطأ عن وعده (2بط٣: ٩).</p>
<p>وعلى هذا نقول : إنه يخطئ من يظن أن الشياطين تستطيع أن تفعل كل ما تريد ، إنما يحاول الشيطان أن يوهم الناس ويلقى في روعهم أنه يقدر على عمل أيه شيء .. ولكنه في هذا - كما في أمور أخرى - كذاب وأبو الكذاب(يو٨: ٤٤).</p>
<p>من الضرورى جداً أن نعرف أن الشيطان ليس له سلطان على أولاد الله .. يقول بطرس الرسول : &#8220;ابليس خصمكم كأسد زائر يجول ملتمساً من يبتلعه هو . فقاوموه راسخين في الإيمان&#8221;(1بط٥: ٨، ٩) .. لنتأمل هذا القولً الإلهى إبليس كأسد زائر، يجول ملتمساً من يبتلعه .. والرسول هنا يشبه الشيطان بأسد يزأر، والأسد لا يزأر إلا إذا كان جائعاً .. ثم ماذا؟ هذا الأسد القوى الجائع يجول ملتمساً من يلتهمه .. وواضح أنه في جوعه يبحث عن إنسان ويلتمس التهامه.</p>
<p>هذا الوصف لا يتفق مع عدو له مطلق القوة والحرية أن يفعل.. ولو كان للشيطان هذا السلطان وهذه الحرية لإبتلع أي أحد طالما هو جائع، إنما هو يبتلع من يخشاه ويهابه ويقف له،ليلتهمه كأسد، ويسلم ذاته بإرادته له.</p>
<p>يقول القديس يوحنا ذهبى الفم: (إن الشمس ليست واضحة كوضوح العناية الإلهية، ومع هذا يتجاسر البعض قائلين بأن الشياطين تسيطر على شئوننا، إن لك سيداً محباً، لم يقبل أن يأتمن الشياطين على شئونك، ولو أنه تركك بين أيديهم لكنت تعرف شرورهم).</p>
<p>نحن نعرف قصة مجنون كوره الجدريينالذى كان يسكنه لجئون من الشياطين أي فرقة كبيرة من الشياطين، وحالما إقترب المسيح من المكان الذى كان فيه هذا الإنسان البائس، صرخ الروح النجس وقال: &#8220;مالى ولك يا يسوع ابن الله العلي، استحلفك بالله ألا تعذبني&#8221; ثم طلبت الشياطين من الرب يسوع أن يأذن لها بالدخول في قطيع كبير من الخنازير كان يرعى هناك، فأذن لها فخرجت الأرواح النجسة ودخلت في الخنازير، فاندفع القطيع إلى البحر (مر٥: ١- ١٣). واضح هنا أنا الشياطين طلبت من المسيح أن يأذن لها أن تدخل في قطيع الخنازير فأذن لها، ولو لم يأذن لها لما دخلت.. ماذا نسمى هذا؟ هل الشيطان يستطيع أن يفعل كل ما يريده؟..</p>
<p>بعد أن تكلمنا عن محدودية  الشيطان في إمكانياته، ننتقل الآن للكلام عن الشيطان في صفاته وأساليبه ..</p>
<p><strong>٣- الشيطان في صفاته وأساليبه:</strong></p>
<p>من المفيد أن نتوقف قليلاً لنعرف بعض صفات الشيطان وأساليبهفي الحرب الروحية. </p>
<p><strong>أ- الخداع: </strong></p>
<p>هو سلاح الشيطان الرئيسى والذى يحارب به منذ البداية &#8230; أول ما نقرأ عن الشيطان في الكتاب المقدس، نقرأ عنه كمخادع<strong>، </strong>يعمل على خداع أمنا حواء وغوايتها، أن تأكل من الشجرة المنهي عنها.. ويشير إلى ذلك معلمنا بولس الرسول فيقول: إن الحية خدعت حواء بمكرها (2كو١١: ٣)، وأن المرأة حواء أُغويَتْ فحصلت في التعدى(1تي٢: ١٤) ..</p>
<p>وقد حذرالرسل المؤمنين من خداعه<strong>، </strong>فهو يستحوز على ولاء البشر بأن يعمى أذهان غير المؤمنين لئلا تضىء لهم إنارة إنجيل مجد المسيح (2كو٤: ٤) ومن أساليب خداعه  أنه يستطيع تغيير شكله إلى شبه ملاك نور (2كو١١: ١٤) وبواسطة مكائده وعجائبه الكاذبة يضل لو أمكن المختاريين أيضاً كما قال رب المجد (مر1٣: ٢٢) .. من أجل هذا أوصانا السيد المسيح أن نسهر ونصلى.</p>
<p>ولعل أكبر خدعة يلعب بها الشيطان حالياً، هي محاولة إيهام بعض الناس أنه لا يوجد شيء إسمه شيطان!!..ماذا نسمى هذا؟ هل نسميه إنكار ذات؟! في العالم الغربى الآن لا يعترفون بوجود أرواح شريرة أو وجود شياطين، ولا شك أن هذه خدعة بارعة منه، أما الغرض من هذا الخداع فهو ألا يحترس الناس منه، إنه يشجع الناس ألا يهتموا كثيراً به، حتى يقعوا بسهولة في حبائله، إن من ينكر وجود الشياطين والأرواح الشريره ينكر تعاليم الأسفار المقدسة، والأمر واضح جداً لا سيما في أناجيل العهد الجديد وبقية أسفاره.</p>
<p><strong>ب – حنكته وحكمته : </strong></p>
<p>والحكمة هنا بطبيعة الحال ليست الحكمة الممدوحة الجيدة، بل الحكمة الرديئة أو ما يمكن أن نسميه المكر التي يدعوها يعقوب الرسول &#8220;أرضية نفسانية شيطانية&#8221; (يع٣: ١٥) وتعتبر خبرة الشيطان في التعامل مع البشر من أقوى وسائل حروبه.فخبرته ترجع إلى آلاف السنين، بينما لا يتعد الإنسان في عمره سنوات قليلة وبالتالي خبرته .. أضف إلى هذا أن الشيطان تعامل مع ملايين البشر، وربما سيطر على بعضهم، ويعتبر من الغباوة لو ظننا أن هناك شيئاً فينا لم يقابل مثله مع أحد اسلافنا، فالبشر هم البشر في كل زمان ومكان.</p>
<p><strong>ج – يحارب في أقدس الأمكنة والأوقات: </strong></p>
<p>إن عدونا يحارب في كل مكان حتى في أقدس الأمكنة .. بعض الناس يظنون خطأ أن الشيطان لا يستطيع دخول الكنيسة .. لا، إنه يدخل الكنيسة ويحاربك بالفكر حتى وانت تستعد لتناول الجسد المقدس .. يقول أحد الآباء أنه لا يوجد موضع أو مكان مهما كان مقدساً، لا يحارب فيه الشيطان الإنسان ..</p>
<p>نحن نعلم كيف آخذ الشيطان رب المجد يسوع أثناء التجربة - طبعاً بارادته - إلى جناح الهيكل ..يقول القديس يوحنا ذهبى الفم إنه رأى الشيطان بين الصفوف الأولى للكنيسة - أي صفوف المؤمنين المستعدين للتناول .. إلى آخر لحظة هو يحارب المؤمنين القديسين الذين حضروا للتناول المقدس!!</p>
<p>ولعل أفضل علاج له هو المقاومة &#8220;قاوموا إبليس فيهرب منكم&#8221;(يع٤:٧)، يصف القديس مقاريوس الكبيرالشيطانإنه كالكلب الذى يقف أمام حانوت القصاب (الجزار)، لو أعطى القصاب الكلب قطعة واحدة من العظم مثلاً فإنه لن يتركه، بل يظل مرابضاً عنده. لكن إذا لم يلتفت إليه، فإنه يتحول إلى مكان آخر وشخص آخر لعله يعطيه ما يأكله.</p>
<p><strong>4- أسباب قوة الشيطان:</strong></p>
<p>يجب ألا ننسى ونحن نتكلم عن أسباب قوة  الشيطان، أن ذلك يرجع إلى طبيعته القديمة كرئيس طغمة من طغمات الملائكة الذين سقطوا. لأنه لم يفقد شيئاً من طبيعته القديمة - تلك الطبيعة الروحانية .. والآن نتقدم لنعدد أسباب هذه القوة:</p>
<p><strong>أ- نشاطه: </strong></p>
<p>إنه لا يهدأ ولا ينعس، قال لأحد الرهبان المجاهدين: &#8220;أنت تسهر وأنا لا أنام، أنت تصوم وأنا لا آكل، أنت لا تغلبنى بشئ إلا بالتواضع&#8221; .. ربما هدأت الحرب الروحية في بعض الأحيان، لكن ما يبدو أنها فترات هدوء في الحرب الروحية، ليس سوى فترات يأخذها عدوا الخير لدراستنا بأكثر دقة، وليدبر أساليب أكثر خداعاً للفتك بنا .. حتى في لحظات هزيمته، نجده يقظاً لاسترداد ولو منفعه تافهة .. فمثلاً إذا ظفرنا في إحدى حروبنا معه، ونحاول أن نسترد أنفسنا ونستريح، نجده يرمينا بطعنة كبرياء بسبب نصرتنا عليه!!.</p>
<p><strong>ب – لا يدع فرصة تفلت منه :</strong></p>
<p>الشيطان لا ينتظر حتى تواتيه الفرصة للإيقاع بالإنسان في الشر، لكنه يعمل بلا هوادة ليخلق فرصاً &#8220;إنه يجول ملتمساً من يبتلعه&#8221; .. أي أنه يبحث عن فريسة .. نحن بحاجة أن نتعلم من الشيطان الدأب وعدم ترك أي فرصة دون أن نستفيد منها ونستثمرها روحياً.</p>
<p><strong>ج- إصراره وعناده: </strong></p>
<p>على الرغم من مقاومة الإنسان للشيطان، واحباط خططه في بعض الأحيان في بعض التجارب، لكن الشيطان لا يكف عن معاودة الهجوم واستئناف القتال، ومهما أنزل الإنسان به من هزائم، فهو لا يفقد الأمل في إسقاط الإنسان،واحتلال القلب الذى يملك الله عليه .. إنه لا ييأس ولا يستحى ..وليتنا نقتدى به أيضاً في هذه النقطة، ونغصب أنفسنا إلى وسائل جهادنا.</p>
<p><strong>د- صبره ومثابرته: </strong></p>
<p>الشيطان ينتظر الوقت الملائم، فإذا وجد الإنسان مثلًا في جو الخطية لا يسرع باسقاطه، لكنه ينتظر عليه حتى يألف جو الخطية ومنظر الشر، ويكون الشيطان في هذه الفترة قد أحكم تقييده!! ومن كثرة اعتياد الإنسان الخطية تصبح لديه كشرب الماء، لكنه لو سارع باسقاطه فربما يفيق الإنسان نتيجة هذا السقطة السريعة!!.. إن الشيطان يبدأ بالخطايا الصغيرة حتى يصل إلى الكبيرة .. إنه يصبر على النفس لتصبح مشاعرها أكثر بلادة، ويصبح الضمير أقل حساسية.</p>
<p><strong>ه- تكيفه مع كل الظروف لإسقاط الإنسان: </strong></p>
<p>وهذا واضح من تجربة إبليس لربنا يسوع في البرية (مت٤: ١- ١١). حينما لاحظ إبليس أن السيد المسيح في رده على التجربة الأولى قد إقتبس من سفر التثنية &#8220;ليس بالخبز وحده يحيا الإنسان&#8221; (تث٨: ٣)، فإنه في التجربة الثانية نلاحظ أنه يغير خطته .. ففي هذه المرة يقتبس إبليس مما ورد في (مزمور ٩١) &#8220;أنه يوصى ملائكته بك، فعلى أياديهم يحملونك لكى لا تصدم بحجر رجلك&#8221; .. إنه ليس مانع من الاستشهاد بالكتب المقدسة والاقتباس منها، لو كان ذلك يحقق غرضه، على الرغم من أنه لا يطيق سماع كلام الله، ليس لدى إبليس مانع من أن  يدفع إنساناً للذهاب إلى الكنيسة، لو عرف أنه يمكن اصطياده هناك، وما أكثر العثرات، إنها موجودة في كل مكان.</p>
<p><strong>و – </strong>إن كنا قد عرضنا فيما سبق لأسباب قوة الشييطان، فكما أشرنا إلى ذلك قبلاً، إننا لم نفعل ذلك يزداد خوفنا منه، لكن لكى نعرف قوة عدونا، فلا نستهين به، فالاستهانة هي من أسباب السقوط .. لنثق تماماً ونحن نحارب أعداءنا الروحيين، أننا إنما ننتصر عليهم بالقوة التي لنا في شخص المسيح المبارك، التي استودعها أسرار الكنيسة المقدسة .. نحن كما يقول الرسول بولس &#8220;أعضاء جسمه (جسم المسيح من لحمه ومن عظامه)&#8221; (أف٥: ٣٠) .. لذا فنحن نتعامل بقوته التي قهر بها إبليس وهو بالجسد .. وطالما نحن متحدون بالرب فنحن لا ننهزم لكن الهزيمة تحيق بنا وتحلقنا حينما ننحل نحن من هذه الرابطة المقدسة والوحدة الكائنة معه.</p>
<p><strong> أعوان الشيطان : </strong></p>
<p>الشيطان لا يعمل بمفرده، لكن له أعواناً كثيرين يستخدمهم ويعتمد عليهم في تنفيذ مخططاته وإرادته .. إنه يتكلم فيهم ويعمل بهم .. ولا يجب الاستهانة بمثل هذه الحرب. فما أكثر المتاعب التي يسببها الناس لاخواتهم .. ومنذ البداية نلاحظه  يركن لهذا الأسلوب، حينما دخل في الحية وتكلم فيها وأسقط أبوينا الأولين ..</p>
<p>لقد عانى ربنا يسوع المسيح كثيرأ من اليهود إخوته ومعلميهم الذين كان الشيطان يتكلم فيهم، حتى أن السيد المسيح قال لهم في إحد المرات &#8220;أنتم تعملون أعمال أبيكم، فقال له إننا لم نولد من زنا، لنا أب واحد وهوالله، فقال لهم يسوع: أنتم من أب هو إبليس وشهوات أبيكم تريدون أن تعملوا&#8221; (يو٨: ٤١- ٤٤) .. بل أن حياة المسيح بالجسد على الأرض تقدم لنا صورة متكاملة لألاعيب الشيطان، وكيف كان يرسل أعوانه ليتصدوا للمسيح محاولين أن يصطادوه بكلمة، وقد استطاع الشيطان أن يحرك الجموع وعلى رأسهم، رؤساء كهنة اليهود لكى يحكم على الرب يسوع بالموت صلباً وقد قبل المسيح  كل ذلك  بإرداته لأنه لهذا أتى إلى العالم، لأجل خلاص البشر.</p>
<p>وعن ذلك يقول الرسول بولس: &#8220;فتفكروا في الذى (الرب  يسوع) احتمل من الخطاة مقاومة  لنفسه مثل هذه، لئلا تكلوا وتخوروا في نفوسكم&#8221; (عب١٢: ٣).</p>
<p>عينة أخرى من أعوان الشيطان وما يمكن أن يفعلوه، ما ذاقه بولس الرسول من اليهود والأمم على السواء، بل من بعض المسيحيين الهراطقة الذين دعاهم &#8220;إخوة كذبة&#8221; (2كو١١، ٢٦؛ غل٢: ٤) .. بل أنه يدعوهم وحوشاً فيقول: &#8220;إن كنت كإنسان قد حاربت وحوشاً في أفسس&#8221; (1كو١٥: ٣٢) .. وقد أذاق عملاء إبليس القديس ألواناً من العذاب والضيقات، حتى أنه قال لأهل كورنثوس: &#8220;فإننا لا نريد أن تجهلوا أيها الإخوة من جهة الضيقات التي اصابتنا في آسيا، إننا تثقلنا جداً فوق الطاقة حتى آيسنا من الحياة أيضاً، لكن كان لنا في أنفسنا حكم الموت لكى لا نكون متكلين على أنفسنا بل على الله الذى يقيم  من الأموات، الذى نجانا من موت مثل هذا وهو ينجى&#8221; (2كو١: ٨- ١٠) ..</p>
<p>وفى رأيي، لا علاج لأعوان الشيطان وما أكثرهم - سوى الصلاة من أجلهم لكى يفيقوا لأنفسهم ويدركوا أنهم يتممون مشيئة إبليس، فيثوبوا إلى رشدهم ويعودوا إلى صوابهم، وإلى الرب فيرحمهم.</p>
<p><strong>الإنسان ذاته : </strong></p>
<p>كثيراً ما ينسب الإنسان أخطاءه للشيطان، فيقول الشيطان أغوانى، الشيطان ضحك عليّ، الشيطان أوقعني، وهكذا وهكذا.. لكن الأمر بهذه الصورة لا يعبر عن الحقيقة، لكن هناك بعض الأمور نود أن نكشفها حتى نتفهمها ونحترس منها ..</p>
<p><strong>١- </strong>إن كان الشيطان هو عدو الإنسان الأول، فليس معنى ذلك أنه هو مصدر جميع المتاعب والخطايا، فكثيراً ما يكون الإنسان نفسه هو مصدر التعب لنفسه .. يقول يعقوب الرسول: &#8220;لا يقل أحد إذا جرب إنى أجرب من قبل الله. لأن الله غير مجرب بالشرور، وهو لا يجرب أحداً. ولكن كل واحد يجرب إذا أنجذب وأنخدع من شهوته&#8221; (يع١: ١٣، ١٤) .. والرسول بولس يقول &#8220;ولكنى أرى ناموساً آخر في أعضائي يحارب ناموس ذهني، ويسبينى إلى ناموس الخطية الكائن في أعضائي. ويحى أنا الإنسان الشقي من ينقذني من جسد هذا الموت&#8221; (رو٧: ٢٣، ٢٤) .. هذا الكلام تصوير للشهوات الداخلية التي تشد الإنسان، ودون الدخول في تفصيلات نقول أن هذه الحالة التي يشير إليها الرسول بولس تحتاج إلى جهاد ويقظة روحية.</p>
<p>نعود إلى ما سبق قوله إن حياة الإنسان الذى يريد أن يكمل الطريق إلى الله يجب ألا تخلوا من الجهاد &#8220;لا نكلل إن لم نجاهد قانونياً (2تي٢: ٥). والجهاد سمة في حياة الإنسان على المستوى الإجتماعي المادي وعلى المستوى الروحى، فبدون جهاد لن يحقق الإنسان لنفسه ما تصبوا إليه، كل شيء يحتاج إلى تعب ومشقة، لقد كان هتاف النصرة الذى انبعث من قلب المجاهد العظيم بولس الرسول &#8220;وأخيراً وضع لى إكليل البر&#8221;، حينما كان قاب قوسين أوأدنى من الاستشهاد، مصدره أنه جاهد الجهاد الحسن وأكمل السعي (2تي٤: ٧)، نعم لقد جاهد هذا الكارز العظيم، حتى وهو في أوج  حياته الروحية، والرؤى والإعلانات التي كانت تعلن له، لم يتخل عن الجهاد، بل نسمعه يقول عبارة عجيبة &#8220;أقمع جسدى واستعبده&#8221; (1كو٩: ٢٧)، طوباك يا معلمنا بولس الرسول، وطوبى لكل من تتلمذ لك!!.</p>
<p><strong>٢- الملل من الطريق: </strong></p>
<p>الإنسان هو الكائن الوحيد القائم باتحاد الروح بالجسد، هو ليس روحاً خالصاً ولا جسداً خالصاً، لكن لكل من هذين العنصرين رغباته ومتطلباته، وهو رغبات متعارضة فالجسد يشتهى ضد الروح، والروح ضد الجسد، وهذان يقاوم أحدهما الآخر، حتى تفعلون ما لا تريدون (غل٥: ١٧).</p>
<p>هذا الصراع القائم في الإنسان لا يعطيه استقراراً وسلاماً وراحة إلا بأن يغلب الروح على الجسد، ويصبح الجسد تحت سلطان الروح، لذا يكمل الرسول بولس بعد كلامه السابق مباشرة ويقول &#8220;لكن إذا إنقدتم بالروح (الروح هي التي صار لها القيادة) فلستم تحت الناموس، وأعمال الجسد ظاهرة التي هي زنى عهارة نجاسة دعارة .. ولكن الذين هم للمسيح قد صلبوا الجسد مع الأهواء والشهوات، إن كنا نعيش بالروح فلنسلك أيضاً بحسب الروح&#8221; (غل٥: ١٨- ٢٥).</p>
<p>قد يلحق الإنسان الملل من طول الطريق، أولاً لأنه لا يرى شيئا أمامه، والإنسان يتأثر بالمحسوسات. وثانياً، ربما حاربه الشيطان بالشك في كل مواعيد الله .. بل في وجود الله ذاته، والسماء والأبدية!! لكن على الأنسان أن يجعل هدفه واضحاً في حياته الروحية، وإيمانه في الله صادقاً، وعليه أن ينمي حبه لله لحظة بعد أخرى، يحس برفقة الرب يسوع له في الطريق، حينئذ يستهين بكل مصاعب الطريق، متشبهاً بالمسيح نفسه &#8220;لنطرح كل ثقل والخطية المحيطة بنا بسهولة، ولنحاضر بالصبر في الجهاد الموضوع أمامنا، ناظرين إلى رئيس الإيمان ومكمله يسوع، الذى من أجل السرور الموضوع أمامه احتمل الصليب مستهيناً بالخزى فجلس في يمين عرش الله. فتفكروا في الذى إحتمل من الخطاة مقاومة لنفسه مثل هذه، لئلا تكلوا وتخوروا في نفوسكم. لم تقاوموا بعد حتى الدم مجاهدين ضد الخطية&#8221; (عب١٢: ١- ٤).</p>
<p>الرب يبارك على الكلمة، ويكشف أمامنا كل حيل إبليس، ويبطل مكايده، ويقوينا في ضعفاتنا، ويعيننا في الطريق إليه، وله كل المجد.</p>
<hr />
<h3>المراجع</h3>
<p><a href="#_ftnref1" name="_ftn1">[1]</a><sup>- القدّيس أغناطيوس حياته وتعاليمه  - ص ٨٦ - دكتور موريس تاوضروس.</sup></p>
<p><a href="#_ftnref2" name="_ftn2">[2]</a><sup>- تفسيرإنجيل لوقا - ص ٤٦٥ - القمص تادرس يعقوب ملطي.</sup></p>
<p><a href="#_ftnref3" name="_ftn3">[3]</a><sup>- </sup><sup>كتاب تفسير إنجيل لوقا للقديس كيرلس الأسكندري - صفحة ٣٨٢ - ترجمة الدكتور نصحي عبد الشهيد.</sup></p>
<p><a href="#_ftnref4" name="_ftn4">[4]</a><sup>- </sup><sup>كتاب عظات القديس مقاريوس الكبير - العظة الحادية والعشرين - ترجمة دكتور نصحي عبد الشهيد.</sup></p>
<p><a href="#_ftnref5" name="_ftn5">[5]</a><sup>- </sup><sup>كتاب عظات القديس مقاريوس الكبير العظة الثالثة والعشرون - ترجمة دكتور نصحي عبد الشهيد.</sup></p>
<div>
<div id="yiv4179697025yqtfd49146">
<p><a href="#_ftnref1" name="_ftn1">[6]</a>- إختبرني يا الله صفحة ١٧٢ - قداسة البابا تواضروس الثاني</p>
</div>
</div>
<p><a href="#_ftnref6" name="_ftn6">[7]</a><sup>- </sup><sup>كتاب معالم الطريق إلي الله -  صفحة ١٢٣ -  المتنيح أنبا يؤانس أسقف الغربية.</sup></p>
<div>
<div id="yiv4179697025yqtfd49146">
</div>
</div>
<div>
<div id="yiv4179697025yqtfd56770"></div>
</div>

      {% endcreateArticleAccordions %}
    </section>
  {% endblock %}
