---
layout: 'layouts/reading.html'
title: 'يوم السبت من الاسبوع الثالث (سبت مواقفنا من الآخرين)'
tags: 'great-lent'
permalink: /articles/great-lent/3-6.html
---
  {% block content %}
    <section id="readings">
      <ul>
      {% if 'undefined' != 'undefined' %}
      
      {% else %}
      {% if 'null' != 'null' %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">العشية</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeVespers '' '' %}
          </div>
        </div>
      </li>
      {% endif %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">باكر</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeMatins '19.130:1-2' '41.10:17-27' '' %}
          </div>
        </div>
      </li>
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <h3 class="flex items-center justify-between">
            <span class="kufi">القداس</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </h3>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeLitugy '47.7:2-11' '59.2:14-26' '44.23:12-35' '19.27:6-8' '40.18:23-35' %}
          </div>
        </div>
      </li>

      {% endif %}
        </ul>
    </section>
    <section id="article">
      <h3 class="mt-8 mb-4 heading-explain">شرح القراءات</h3>
      {% createArticleAccordions %}
        <p><strong>موقفنا من الآخرين مدخل إستعلان برّ الآب</strong></p>
<p>&#8220;ورد الرب سبي أيوب لما صلي لأجل أصحابه&#8221; (أي ٤٢: ١٠)</p>
<p>[وأنت تحلُ داخلنا بالمحبة] (قسمة للابن)</p>
<p>[ماذا نفعل في يوم الدينونة نحن الذين لم تغرب الشمس علي غضبنا يوماً واحداً بل سنوات كثيرة] (القديس جيروم)<a href="#_ftn1" name="_ftnref1">[1]</a></p>
<p>[الذي يدين فقد هدم سوره بنقص معرفته] (القديس موسي الأسود)<a href="#_ftn2" name="_ftnref2">[2]</a></p>
<h3>شواهد القراءات</h3>
<p>(مز١٢٩:١-٢)، (مر١٠: ١٧-٢٧)، (٢كو٧: ٢-١١)، (يع٢: ١٤- ٢٦)، (أع ٢٣: ١٢- ٣٥)، (مز٢٦: ١٠-١١)، (مت١٨: ٢٣-٣٥).</p>
<h3>شرح القراءات</h3>
<p>تتكلّم قراءات هذا اليوم عن موقفنا من بعضنا البعض وعلاقاتنا كإخوة في الجسد الواحد ومع كل البشر كإخوة في الإنسانية وكيف يكون هذا هو إحدى مداخل وطرق إستعلان برّ الآب ومحبته لنا.</p>
<p>لذلك يعلن أيضاً مواقفنا الخاطئة تجاه الآخرين سواء في محبتنا للمال أو في عدم الغفران فالشُح ومحبّة المال والطمع وقساوة القلب وغلق الأحشاء تجاه المحتاجين وعدم نسيان الإساءة والمرار الداخلي يمنع ظهور برّ الآب في حياة أولاد الله.</p>
<p><strong>تبدأ القراءات</strong> بصراخ النفس من الأعماق ويبدو أنّها عرفت أن وحدة المحبّة لاتتحقّق إِلَّا بالصلاة صوتاً وتضرعاً وصراخاً.</p>
<p>&#8220;من الأعماق صرخت إليك يا رب يا رب استمع صوتي لتكن أذناك تنصتان إلى صوت تضرعي&#8221;.</p>
<p><strong>ويدعو إنجيل باكر</strong> إلى الكمال في تبعية المسيح له المجد العطاء الكامل ومشاركة الآخرين فيما لنا.</p>
<p>&#8220;فنظر إليه يسوع وأحبه وقال له أتريد أن تكون كاملاً يعوزك شئ واحد اذهب وبع ما لك وأعطهِ للفقراء فتقتني لك كنزاً في السماء وتعالى اتبعني وأحمل الصليب&#8221;.</p>
<p><strong>بينما يعلن البولس</strong> وحدة المشاعر والإهتمامات بين الراعي والشعب.</p>
<p>&#8220;إنكم في قلوبنا لنموت معكم ونحيا معكم، لكن الله الذي يعزّي المتواضعين قد عزّانا بحضور تيطس وليس بمجيئه فقط بل أيضاً بالتعزية التي تعزّي بها بسببكم وهو يخبرنا بشوقكم ونوحكم وغيرتكم علينا حتى أني فرحت كثيراً&#8221;.</p>
<p><strong>أمّا الكاثوليكون</strong> فيقدّم وحدة المحبة بين أعضاء الكنيسة الواحدة كتعبير صادق عن صحّة الإيمان وعن السلبية القاتلة التي تجعل الإيمان ميتاً.</p>
<p>&#8220;ما المنفعة يا إخوتي إذا قالَ أحد أن له إيمان ولكن ليس له أعمال هل يقدر الإيمان أن يخلصه إن كان أخٌ أو أخت عريانيين ومعتازين للقوت اليومي فقال لهما أحدكم إذهبا بسلام واستدفئا واشبعا ولم تعطوهما حاجات الجسد فما المنفعة&#8221;.</p>
<p><strong>بينما يحذّر الإبركسيس</strong> بين وحدة مشاعر الكراهية بين البعض لإيذاء الآخرين كما حدث في إتفاق اليهود معاً على قتل القديس بولس بل وصيامهم معاً لأجل هذا الغرض.</p>
<p>&#8220;ولما صار النهار عمل بعض اليهود اتفاقاً وحرموا أنفسهم قائلين إنهم لا يأكلون ولا يشربون حتي يقتلوا بولس، فقال إن اليهود قد تعاهدوا أن يطلبوا منك أن تحدر بولس غداً إلى المحفل كأنه مزمع أن يبحث عن أمره بحثاً دقيقاً فلا تنقد إليهم فإنه كمنٓ له أكثر من أربعين رجلا قد حرموا أنفسهم أن لا يأكلوا ولا يشربوا حتي يقتلوه&#8221;.</p>
<p><strong>وفي مزمور القدّاس</strong> تتهلّل النفس التي لا تكفّ عن الصلاة والتضرع للرب.</p>
<p>&#8220;أسبّح وأرتّل للرب استمع يا رب صوتي الذي به دعوتك&#8221;.</p>
<p><strong>ويختم إنجيل القدّاس</strong> بمثل الملك الذي يغفر الكثير جداً لعبيده وينتظر أن يفعلوا هكذا مع بعضهم البعض ويحاسب بشدّه الذين لا يغفرون لإخوتهم.</p>
<p>&#8220;حينئذ دعاه سيده وقال له: أيها العبد الشرير إني تركت لك كل ما عليك لأنك طلبت إليّ أفما كان ينبغي لك أن ترحم العبد رفيقك كما رحمتك أنا وغضب سيده وسلمه إلى المعذبين حتي يفي كل ما عليه هكذا يصنع بكم أبي الذي في السموات إن لم يغفر كل واحد لأخيه من كل قلبه&#8221;.</p>
<h3>ملخّص القراءات</h3>
<table width="503">
<tbody>
<tr>
<td width="94">مزمور باكر</p>
<p>والقدّاس</td>
<td width="408">صراخ النفس المحتاجة للنصرة وتسبيح النفس المنتصرة بالمسيح.</td>
</tr>
<tr>
<td width="94">البولس</td>
<td width="408">وحدة مشاعر الحب ونقاوة التعامل الصورة الحقيقية للكنيسة المقدّسة</td>
</tr>
</tbody>
</table>
<h4><strong>عوائق كبيرة أمام نصرة أولاد الله</strong></h4>
<table width="503">
<tbody>
<tr>
<td width="94">إنجيل باكر</td>
<td width="408">محبة المال</td>
</tr>
<tr>
<td width="94">الكاثوليكون</td>
<td width="408">السلبية القاتلة</td>
</tr>
<tr>
<td width="94">الإبركسيس</td>
<td width="408">الغيرة الخاطئة</td>
</tr>
<tr>
<td width="94">إنجيل القدّاس</td>
<td width="408">عدم الغفران وحب الإنتقام</td>
</tr>
</tbody>
</table>
<h4><strong>الكنيسة في قراءات اليوم</strong></h4>
<table width="503">
<tbody>
<tr>
<td width="94">إنجيل باكر</td>
<td width="408">وحدة الكتاب المقدَّس</td>
</tr>
<tr>
<td width="94">الكاثوليكون</td>
<td width="408">الإيمان والأعمال</td>
</tr>
</tbody>
</table>
<h3>عظات ابائية</h3>
<h4>الغفران للقديس كبريانوس</h4>
<div>
<div>
<div>بعد ذلك نتضرع أيضاً لأجل خطايانا قائلين : &#8220;واغفر لنا ذنوبنا ، كما نغفر نحن أيضاً للمذنبين الينا &#8220;بعد طلب قوتنا اليومى ، نحن نطلب الصفح عن الخطية لأن الذى يقتات من يد الله ينبغى أن تكون حياته ممتدة فى الله ، فلا يكون رجاؤه بالحياة الحاضرة الزمنية فقط ، بل أيضاً بالأبدية ، تلك التى لا يمكنه أن ينالها الا اذا غُفرت له خطاياه ، وتلك الخطايا يسميها الرب &#8221; ديوناً &#8221; ، وحسب قول الانجيل : &#8220;كل ذلك الدين تركته لك لأنك طلبت الىّ&#8221; (مت <u>١٨</u><u>: </u><u>٣٢</u>) انه من الضرورة والحكمة ، بل ونافع لنفوسنا أن يذكرّنا الرب بأننا خطاة ، وذلك فى دعوته لنا أن نطلب من أجل مغفرة خطايانا٠ وهكذا تستعيد النفس وعيها بمرارة الخطية ؛ فحتى لا يمدح أحد أفكاره ويظن فى نفسه أنه بار ، ويضل بهذا الافتخار المعيب ، لذلك يجب أن نعرف ونعلم أننا معرّضون للخطية كل يوم ، وذلك عندما نُطالب بأن نلتمس كل يوم الصفح عن خطايانا ٠ والرسول يوحنا هو أيضاً ينبهنا فى رسالته : &#8220;ان قلنا : انه ليس لنا خطية نضلَ أنفسنا وليس الحق فينا ، ان اعترفنا بخطايانا فهو أمين وعادل ، حتى يغفر لنا خطايانا ويطهرنا من كل اثم&#8221; (١يو ١: ٨و٩). انه يجمع فى رسالته بين أمرين (شرط وجواب شرط) : انه فى صلواتنا ينبغى علينا أن نطلب الصفح عن خطايانا ، أما من جهة الرب ، فيؤكد الرسول انه أمين فى وعده بأن يصفح عنها لأن الذى علّمنا أن نطلب المغفرة عمّا علينا من ذنوب وخطايا ، وعدنا فى نفس الوقت أنه برحمته الأبوية سيصفح لنا عنها.</div>
</div>
</div>
<div>
<div>
<div>٢٣-الرب يحدد بدقة شروط صفحه : انه يُلزمنا أن نترك نحن أيضاً الديون للمديونين لنا ، مادمنا نطلب نحن بالمثل أن تُترك لنا ديوننا اننا لا نستطيع أن نطلب غفران ذنوبنا الا اذا صنعنا نحن بالمثل من نحو من أذنب إلينا انه يقول فى موضع آخر : &#8220;بالكيل الذى به تكيلون يُكال لكم&#8221; (مت ٧: ٢).العبد الذى سامحه سيده بكل ديونه ، عندما رفض أن يفعل بالمثل هو أيضاً من نحو رفقائه طُرح فى السجن لأنه لم يشأ أن يعفو عن رفيقه ولذا فَقَدَ العفو الذى سبق وحصل عليه من سيده والرب فى حكمه هذا أراد أن يشدّد على هذه الحقيقة بقوة : &#8220;متى وقفتم تصلون ، فاغفروا ان كان لكم على أحد شىء لكى يغفر لكم أيضاً أبوكم الذى فى السموات زلاتكم وان لم تغفروا أنتم لا يغفر أبوكم الذى فى السموات أيضاً زلاتكم&#8221; (مر ١١: ٢٥و ٢٦)</div>
<div>اذاً ، لن يكون لك عذر يوم الدينونة ، عندما تحاكم طبقاً لسلوكك تجاه الآخرين وكما فعلت سيُفعل أيضاً بك فالرب أوصانا أن نكون صانعى سلام وفى اتفاق وبفكر واحد وكما ولدنا الله بالميلاد الثانى هكذا يريدنا أن نكمّل بحسب هذا الميلاد الثانى ، لكيما نثبت فى سلام الله نحن الذين صرنا أبناء الله ، وأن يكون لنا قلب واحد وفكر واحد اذ لنا روح واحد لذلك لا ُيقبل قربان من يحرضون على الانشقاق ، بل انه يأمرهم أن يرجعوا عن المذبح ليتصالحوا أولاً مع اخوتهم الله لا يرضى ألا بالصلوات المرفوعة فى سلام ان أبهج تقدمة يمكننا أن نُهديها لله هى سلام واتفاق الاخوة ، ووحدة كل المؤمنين فى الآب والابن والروح القدس</div>
<div>٢٤-فحتى فى الذبائح التى قدمها هابيل وقايين لم ينظر الله الى التقدمات فى حد ذاتها بل الى قلبيهما : فالعطية كانت مقبولة حيث كان القلب مقبولاً أمام الله واذ كان هابيل مسالماً وباراً ، الذى قدم ذبيحته بنفس نقية الى الله ، يعلمنا أن نتمثل به عندما نقدم قرباننا ، فينبغى أن يكون ذلك بمخافة الرب ، وبساطة قلب ، ونيّة صادقة بالوفاق والسلام مع الجميع فهابيل بتقديم قربانه لله متحليّا بهذه السجايا استحق هو نفسه أن يصير قربان استشهاد لقد أشار بدمه الى ألام الرب ، لأنه كان يمتلك فى ذاته بر وسلام الرب ومن هم مثله بمثل هذه الصفات سيكللهم الرب ، وسينتقم لهم فى يوم الدينونة ولكن محبو الخصام والانشقاق الذين لا يريدون أن يحيوا فى سلام مع اخوتهم ، فعلى النقيض ، فهم مدانون بحسب شهادة الرسول المبارك والانجيل ، حتى ولو قدّموا أنفسهم للذبح ، فلن يكونوا أقل اجراماً بسبب الشقاق الذى زرعوه بين الاخوة ، لأنه مكتوب : &#8220;كل من يبغض أخاه فهو قاتل نفس&#8221; (١يو <u>٣</u><u>: </u><u>١٥</u>)كل قاتل نفس لا ينال ملكوت السموات ولا يحيا مع الله ، فمن يفضّل أن يتمثل بيهوذا وليس بالمسيح ، فلن يمكنه أن يحيا فى المسيح فيالجسامة هذا الجرم ، الذى لا يمكن حتى لمعمودية الدم نفسها أن تمحوه ؛ فيا لشدة ثقل هذه الجريمة التى لا يقدر حتى الاستشهاد أن يكّفر عنها</div>
<div>المرجع كتاب مقالات القديس كبريانوس اسقف قرطاجنة الشهيد صفحة ٨٤ – اعداد الراهب القمص مرقوريوس الانبا بيشوي</div>
</div>
</div>
<h3>عظات اباء وخدام معاصرون :</h3>
<div>
<div data-test-id="message-view-body">
<div data-test-id="message-view-body-content">
<div>
<div id="yiv4504367689">
<div>
<h4><span>كم مرة تغفر وتسامح الآخر ؟ </span><span>لقداسة البابا تواضروس</span></h4>
<p><b><span>كم مرة تغفر وتسامح الآخر ؟</span></b></p>
<p><span> </span><span>السؤال المطروح علينا في هذا الفصل هو سؤال واضح جدا سأله معلمنا بطرس الرسول للسيد المسيح مباشرة ، وقد وجد إجابة وشرحاً وتفسيراً ، فقد أجابه على السؤال ثم قدم له مثلا كشرح ، ثم قدم له استنتاجاً نهائياً على إجابة السؤال ، والسؤال بسيط</span></p>
<p><span>جدا : &#8221; يا رب كم مرة يخطئ إلي أخي وأنا أغفر له ؟&#8221;.</span></p>
<p><span>كان الفكر اليهودي يقول : &#8221; إن الإنسان من الممكن أن يسامح الآخر ثلاث مرات فقط ، ليس في اليوم بل على مدى الحياة &#8220;، لكن إجابة السيد المسيح كانت غير متوقعة ، لكنها تكشف عن طبيعة أو شكل الحياة المسيحية ، فكانت إجابة جميلة جداً &#8221; لا أقول لك إلى سبع مرات ، بل إلى سبعين مرة سبع مرات &#8221; (مت ۱۸ : ۲۲). وفي أصل النص في إجابة السيد المسيح ليس المقصود ۷۰ × ۷ على مدى الحياة ، بل كل يوم ، بمعنى أن اليوم كله أغفر لأخي .  هذه الإجابة المذهلة يا إخوتي تكشف طبيعة المسيحية ، وهذا جعل السيد المسيح يكمل الإجابة بالمثل &#8221; يشبه ملكوت السموات &#8230;&#8221; وهنا تُلاحظ أن الإجابة ارتبطت بالسماء ، فهذا سؤال حياتي مهم يوصل الإنسان إلى السماء . إن المسيحية ليست شعارات ولا حتى كلمات أو آيات ، إنما المسيحية وصية معاشة ، والوصية المعاشة لها هدف نهائي هو حياة السماء . أما عن رقم سبعة في الفكر اليهودي فهو يرمز للوفرة والكثرة . </span></p>
<p><b><span>كم مرة يخطئ إلي أخي وأنا أغفر له ؟</span></b></p>
<p><b><span>من هو أخي ؟</span></b></p>
<p><span>كلمة &#8221; أخي &#8221; ليس المقصود بها القرابة الجسدية بل القرابة الإنسانية ، فكل إنسان هو أخ لك في الإنسانية ، كل إنسان دون النظر للاختلافات الموجودة في اللغة أو اللون أو الجنس أو الدين &#8230; الغفران المسيحي لا يعرف العدد . </span></p>
<p><b><span>مثال</span></b></p>
<p><span>لتوضيح الإجابة ذكر هذا المثل قائلاً : </span></p>
<p><span>كان هناك شخص مديونا لسيده بعشرة آلاف وزنة ، والوزنة حوالي ستة آلاف دينار ، أي مديون بحوالي ٦٠ مليون دينار وآخر مديون بمئة دينار، تُلاحظ أن الفرق أو النسبة ١ : ٦٠٠ألف ، المديون بالعشرة آلاف وزنة لم يكن معه ليوفي الدين فأمر سيده أن يباع هو وامرأته وأولاده وكل ما له ليوفي الدين ، فخر العبد وقال لسيده باستعطاف : تمهل علي فأوفيك الجميع ، أعطني فقط فرصة ، كان من الممكن أن السيد يعطيه مهلة وهذا أقصى ما كان يتمناه ويطلبه ، إلا أن المفاجأة والنظرة المسيحية وما يريد المسيح أن يعلمه لنا هو هذه الآية المباشرة &#8221; فتحئن سيد ذلك العبد وأطلقه ، وترك له الدين &#8221; (مت ۱۸ : ۲۷) .</span></p>
<p><b><span>* رحمة السيد العجيبة :</span></b></p>
<p><span>هنا إجابة المسيح عن ترك العشرة آلاف وزنة تُساوي كل فرد فينا عليه عشرة آلاف خطية ، وإذا افترضنا أن إنسانا فعل عشرة آلاف خطية في حياته فهذا معناه أنه مديون للمسيح بهذا العدد الكبير ، فما الذي يفعله معنا السيد المسيح بمجرد إننا نطلب الرحمة &#8221; يا رب ارحم &#8221; فإنه يتحنن ويترك لنا الدين . هو يريد أن يقول لنا : &#8221; إن غفران المسيح لنا هو بلا حدود فهو يسامح على السقطات والضعفات والخطايا التي بإرادة أو بدون إرادة ، الخفية والظاهرة، الثقيلة والخفيفة &#8220;، نحن نجد مسيحنا يفتح ذراعيه ويغفر الخطايا . ونحن نُصلي في الصلاة الربانية ونقول : &#8221; اغفر لنا ذنوبنا ، كما نغفر نحن أيضاً للمذنبين إلينا &#8221; إذا المغفرة مشروطة . هذا يعلمنا أن كل خطية نرتكبها هي دين علينا أمام الله ، وضمير الإنسان هو أفضل &#8221; مراجع حسابات &#8220;، ضمير الإنسان هو الذي يؤنبه أو ينبهه لكي يراجع نفسه . لذلك دين الخطية كبير ، ودائماً الخطاة مديونون وعاجزون عن السداد ، فماذا لربنا عن خطيتي ؟ فأنا لا أملك سوى أن أطلب منه الرحمة ، وهذه الصورة التي قدمها انا المسيح فى هذا  المثل توضح &#8221; رحمة السيد العجيبة للإنسان &#8220;</span></p>
<p><b><span>* قسوة العبد المخالفة :</span></b></p>
<p><span>خرج العبد من أمام سيده فرحاً بعد أن ترك له الدين الكبير &#8230; أنت أيها العبد نلت هذه الرحمة العظيمة ، ماذا ستصنع بها ؟ عندما خرج وجد واحداً من العبيد وكان زميلا له وليس أعلى منه في الرتبة ، وكان مديوناً له بمئة دينار، وهذا المبلغ زهيداً جداً بالمقارنة بالدين الذي كان عليه ، الصورة التصويرية في هذا المثل والمشهد كله كان أمام جميع العبيد ، فقد أمسكه بعنف من عنقه قائلا له : &#8221; أوفني ما لي عليك . فخر العبد رفيقه على قدميه وطلب إليه قائلا : تمهل علي فأوفيك الجميع . فلم يرد بل مضى وألقاه في سجن حتى يوفي الدين !!&#8221; (مت ۱۸ : ۲۸ - ۳۰). وهنا نرى العجب يا إخوتي فأنت أخذت رحمة وأعفيت من الدين الذي كان عليك مقابل حياتك وحياة أسرتك ، وكان مصيرك السجن ، وها أنت الآن تنسى ما صنع بك ، وهنا يمكن أن نسميه &#8221; قسوة العبد المخالفة &#8220;، فهذا تصرف خال من الرحمة . القسوة شر ونحن نُصلي في صلاة نصف الليل : &#8221; ليس رحمة في الدينونة لمن لم يستعمل الرحمة &#8220;، وهذه الصلاة مأخوذة من رسالة يعقوب الرسول (یع ۲ : ۱۳). وهذا يجعلنا نُرتل في فترة الصوم الكبير مديحة &#8221; طوبى للرحما على المساكين&#8230;&#8221;، فهذا العبد الذي رحمه الله كثيراً سقط في خطية إذلال رفيقه بكبرياء ، في حين أن المحبة والرحمة هما أساس كل العلاقات الإنسانية والتعاملات اليومية بين البشر .</span></p>
<p><span>هناك نقطة أريد أن تراجع نفسك فيها ، كثيراً لا يستطيع الإنسان أن يقول لأخيه : &#8221; أنا سامحتك &#8220;، مع أنها كلمة سهلة جداً ، لكنها تحتاج إلى طاقة كبيرة . هذا الإنسان رحمه سيده وترك له الدين وأطلقه ، وأنت يرحمك الله كل يوم ويغفر لك خطاياك الكثيرة ، وأنت تصلي دائماً : &#8221; نشكرك يا رب لأنك سترتنا &#8220;، فأنت تشعربستر الله وغفرانه لخطاياك الكثيرة ، كما تُصلي قائلا : &#8221; اغفر لنا ذنوبنا كما نغفر نحن أيضاً للمذنبين إلينا &#8220;.</span></p>
<p><span>نرى هنا ثلاثية رائعة &#8221; الله ، أنت ، الآخر &#8220;، فما تصنعه مع الآخر سيصنعه معك الله . اسأل ربنا : &#8220;زكم لي عندك رصيد من الرحمة ؟&#8221;. يجيب قائلاً : &#8221; لك رصيد رحمة كبير جداً &#8220;، ولآخر يقول : &#8221; ليس لك لدي رصيد من الرحمة ، فكيف أرحمك وأغفر لك ؟!</span></p>
<p><b><span>+ غضب السيد البالغ :</span></b></p>
<p><span>هذه القسوة التي تصرف بها العبد مع العبد رفيقه بمجرد أن علم بها سيدهما ، يقول الكتاب : &#8221; فلما رأى العبيد رفقاؤه ما كان حزنوا جدا واتوا وقصوا على سيدهم كل ما جرى . فدعاه حينئذ سيده وقال له : أيها العبد الشرير كل ذلك الدين تركته لك لأنك طلبت إلى . أفما كان ينبغي أنك أنت أيضاً ترحم العبد رفيقك كما رحمتك أنا ؟ &#8221; (مت ۱۸ : ۳۱ - ۳۳). هذه الآية هي لب القصيد أو الخلاصة لإجابة السيد المسيح على السؤال &#8221; وغضب سيده وسلمه إلى المعذبين حتى يوفي كل ما كان له عليه . فهكذا أبي السماوي يفعل بكم إن لم تتركوا من قلوبكم كل واحد لأخيه زلاته &#8221; (مت ١٨ : ٣٤-٣٥ )، هنا نرى غضب السيد ، فقد وبخ العبد على قسوته وقدم لنا تحذيرا : &#8221; احذر عدم مسامحة الآخرين ، احذر عدم المغفرة للآخرين &#8220;، وهذا التحذير نضعه أمامنا في أربعة أفعال رئيسية قاعدتها المحبة :</span></p>
<p><span>إن كنت              تغفر له</span></p>
<p><span>تحب الآخر         تسالمه</span></p>
<p><span>فأنت                تسامحه</span></p>
<p><span>تستطيع أن.         تنسى له</span></p>
<p><span>عندما نتقدم بتوبتنا ونطلب رحمة الله من أجل ضعفاتنا وخطايانا فإنه يغفر لنا، لأنه يحبنا ويسامحنا ، والأهم أنه ينسى لنا كل هذه الذنوب والضعفات . من أجل ذلك فترة الصوم المقدس هي فترة من أجل ممارسة هذه الأفعال ، واحذر لكي لا يكون في حياتك عدم غفران أو يكون قلبك قاسيا . من الملاحظ أنه في هذا الزمن الذي نعيش فيه صار قلب الإنسان قاسياً ، وإذا ما قارنا هذا الوقت مع ال ٥٠ سنة الماضية نجد أن قلوب الناس كانت أكثر حنوا عن هذه</span><span> </span><span>الأزمنة الأخيرة ، كما هو مكتوب &#8221; لكثرة الإثم تبرد محبة الكثيرين&#8221; (مت ٢٤ : ١٢)، ومعنى تبرد المحبة أي يكون الإنسان قاسي القلب ، وقسوة قلب الإنسان تحرمه من الملكوت ، وهذه معادلة مهمة . وقت الصوم الكبير بكل ما فيه من وسائط روحية وممارسات كنسية ، ممكن أن نقول أنه وقت لكي يتحنن قلبك ، ويصبح قلبك رحيماً ويجعل فيه الحنو الذي قيل عنه &#8221; تحنن سيد ذلك العبد &#8220;. وامتلاك القلب الرحيم يظهر في معاملاتك اليومية . شيء مهم جدا أن ما يرتكبه الآخر في حقي قليل جداً أمام ما أرتكبه أنا في حق الله ، كل واحد فينا مديون أمام ربنا بكثير ، فعندما تراجع خطاياك وسهواتك وضعفاتك وتقصيرك تجد أنك مديون لربنا بالعشرة آلاف وزنة ، لكن الله ينظر ويتحنن عليك ويترك لك هذا الدين ويطلقك بشرط واحد فقط هو أنك تصنع نفس الأمر مع الآخرين .</span></p>
<p><span>فترة الصوم نراجع فيها أنفسنا ولا يليق أن نكون في خصام مع الآخر، فالصوم فترة لكي تمتلك هذه القوة أن تتسامح مع الآخر ، والصوم يعطي قوة وإرادة للإنسان بما فيه من انقطاع عن الطعام والشراب ، مع الاستمرار في تأدية الأعمال وبذل المجهود فيها مع حضور القداسات المتأخرة ، هذه الإرادة يا إخوتي نستخدمها في أن نسامح الآخر، ولا تجعل لك علاقة فيها خصام أو ابتعاد أو أي شكل من أشكال عدم القبول .</span></p>
<p><span>انتبه أيها الحبيب : كم مرة أغفر لأخي ؟ هل سبع مرات ؟ بل سبعين مرة سبع مرات ، معناها غفران بلا حدود &#8230; اجعله نمط حياتك، كما أن كلمة &#8221; أسامح &#8221; محتاجة طاقة قوية جدا ليست متوفرة لدى كثيرين ، لكن الذي يرغب أن يكون له مكان في السماء ورحمة لدى المسيح إلهنا ، السبيل الوحيد هو أن يغفر للآخر ويسامح الآخر . واعلم أن أحد نتائج الخطية أنك لا تسامح الآخر، قلبك &#8221; متحجر&#8221; لا يستطيع أن يغفر ، لكن القلب التائب هو الذي يستطيع أن يسامح ويعفو ويغفر، وفي المقابل تجد المسامحة من الله وتجد رحمته تمتد إليك مهما كانت خطيتك.</span></p>
<p><span>اجلس مع نفسك ، راجع علاقاتك مع الآخرين ، واعرف أنك بنعمة المسيح تستطيع أن تغفر ليس فقط سبع مرات بل إلى سبعين مرة سبع مرات .</span></p>
<p><span> </span></p>
<p>المرجع كتاب اختبرني يا الله صفحة ١٨٠ - قداسة البابا تواضروس الثاني</p>
<p>
</div>
</div>
</div>
</div>
</div>
</div>
<h4>عظة للمتنيح القمص لوقا سيداروس</h4>
<div>
<p><b><span>كم مرة يخطئ إلي أخي</span></b></p>
<p><span>العجب الذي أذكره الآن أنه ما من مرة سألت الرب عن شيء أو</span></p>
<p><span> تكلمت إليه في أمر ما، إلا ويجيب الرب على التساؤل بطريقة فائقة</span></p>
<p><span> للإدراك ينير فيها الطريق ويعلم من خلالها أسرار ملكوت الله</span></p>
<p><span> لأولئك المدعوين والمختارين بحسب علم الله السابق.</span></p>
<p><span>أذكر مرة أن الرب كان يعلم بخصوص محبة الإخوة وصنع السلام</span></p>
<p><span> وقد أوصى وصايا غالية وثمينة تليق فعلاً بأولاد الله. قال الرب: &#8220;</span></p>
<p><span> وإن أخطأ إليك أخوك فاذهب وعاتبه بينك وبينه وحدكما. إن سمع</span></p>
<p><span> منك فقد ربحت أخاك &#8221; .</span></p>
<p><span>فعلمنا أن الموضوع أصلاً يختص بمكسب الأخ، كيف تربحه ولا</span></p>
<p><span> تخسر نفسه الغالية لأن أمور هذا العالم الزائل تزول بزواله. فلماذا</span></p>
<p><span> أخسر</span><span>أخي من أجل أمور بالية.</span></p>
<p><span>فإن أخطأ هو أذهب أنا إليه.. وهذا أسلوب جديد زرعه المسيح في</span></p>
<p><span>طبيعتنا الجديدة.</span></p>
<p><span>إذاً منهج المسيح أن يبذل كل واحد نفسه ليربح الآخر. فوجدت نفسي</span></p>
<p><span> أسأل الرب قائلاً: &#8221; يارب، كم مرة يخطئ إلي أخي وأنا أغفر له؟</span></p>
<p><span> هل إلى</span><span>سبع مرات؟ &#8220;. سؤال قد يبدو ساذجاً بالحق.</span></p>
<p><span>ولكنني فوجئت بأن جاوبني المسيح بكلمات فاقت العقل والتصديق: &#8220;</span></p>
<p><span>لا أقول لك إلى سبع مرات، بل إلي سبعين مرة سبع مرات &#8220;. قلت</span></p>
<p><span> في</span><span>نفسي: من يستطيع أن يفعل هكذا؟</span></p>
<p><span>إن الوصايا القديمة كانت عين بعين وسن بسن، ولكن لما شرح</span></p>
<p><span> المسيح بمثل ما قاله، فإنه فتح ذهننا أنه هكذا يمكن لأولاد الله</span></p>
<p><span> بالنعمة أن يحفظوا وصية يسوع ونيره الخفيف.</span></p>
<p><span>قال الرب مثل العبد الذي كان مديوناً لسيده بدين رهيب حوالي ۲۱</span></p>
<p><span> مليون دينار مثلاً، ثم إذ لم يكن له واستعطف سیده سامحه بالكل. ثم</span></p>
<p><span> إذ وجد عبداً زميله مديوناً له بدينار واحد طالبه به وإذ لم يكن له ما</span></p>
<p><span>يسدد به واستعطفه لم يقبل وعامله بخشونة وأسلمه للشرطي، فلما</span></p>
<p><span> سمع السيد ما فعله العبد غير الرحيم.. راجعه وقال له: &#8221; كل ذلك</span></p>
<p><span> الذين تركته لك لأنك طلبت إلي. أفما كان ينبغي أنك أنت أيضاً</span></p>
<p><span> ترحم العبد رفيقك &#8221; لأنه استرحمك.</span></p>
<p><span>إذاً ليس رحمة في الدينونة لمن لم يستعمل الرحمة.</span></p>
<p><span>فغفراني لأخي يأتي من واقع ما غفر المسيح لي. وإن كانت ديوني</span></p>
<p><span> الرهيبة قد سامحني المسيح بها وأنا متمتع بالغفران. وإن كان قد</span></p>
<p><span> محا صك الدين الذي كان علي مجاناً. فكيف إذاً لا أرحم أخي؟</span></p>
<p><span>قد غفر المسيح الكثير لي، فأنا أغفر لكل من أساء إلي، كرامة للذي</span></p>
<p><span> سامحني.</span></p>
<p><span>بذات الكيل الذي أكيل به لأخي يكيل لي الرب.</span></p>
<p><span>فإن كنت إنسان رحمة وغفران وحب مقدم للكل فإنه يكيل لي بذات</span></p>
<p><span> الكيل.</span></p>
<p><span>فأنا رابح في كل الأحوال إن عشت بهذا القانون الإلهي.</span></p>
<p><span>انظر كيف أخرج يسوع من مجرد سؤالي الساذج تعليمه المحيي</span></p>
<p><span> وكيف انكشفت عيناي لأعرف روح المسيح، روح الغفران سبعين</span></p>
<p><span> مرة سبع مرات.</span></p>
<p><span>فكل من ذاق المسيح صار هذا القانون محبوباً لقلبه جداً.</span></p>
<p><span>ما أعجب كلامه وما أسمى تعاليمه.. ترى من يستطيع أن يدركها إلا</span></p>
<p><span> من كان له روح المسيح.</span></p>
</div>
<p>المرجع كتاب القديس بطرس يعلمني صفحة 42 - القمص لوقا سيداروس</p>
<hr />
<p><a href="#_ftnref1" name="_ftn1">[1]</a><sup>- تفسير أفسس - ص ١٠٩ - القمص تادرس يعقوب ملطي.</sup></p>
<p><a href="#_ftnref2" name="_ftn2">[2]</a><sup>- الحب وروح الإدانة - ص ٢١ - القمص تادرس يعقوب ملطي.</sup></p>

      {% endcreateArticleAccordions %}
    </section>
  {% endblock %}
