---
layout: 'layouts/reading.html'
title: 'قراءات يوم الثلاثـاء من الأسبـوع الـرابع'
permalink: great-lent/4-2.html
---
  {% block content %}
    <section id="readings">
      <ul>
      {% if 'null' != 'null' %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">العشية</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeVespers '' '' %}
          </div>
        </div>
      </li>
      {% endif %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">باكر</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeMatins '19.17:1-1' '40.21:28-32' '1.28:10-22@23.25:1-12*@+23.26:1-8@18.18:1-21@73.8:1-22*@+73.10:1-25' %}
          </div>
        </div>
      </li>
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <h3 class="flex items-center justify-between">
            <span class="kufi">القداس</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </h3>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeLitugy '49.4:1-16' '61.2:2-8' '44.27:1-3' '19.17:6' '42.9:57-62' %}
          </div>
        </div>
      </li>
        </ul>
    </section>
    <section id="article">
      <h3 class="mt-8 mb-4 heading-explain">شرح القراءات</h3>
      {% createArticleAccordions firstName, lastName %}
        <p>&#8220;أَنَا الرَّبَّ قَدْ دَعَوْتُكَ بِالْبِرِّ، فَأُمْسِكُ بِيَدِكَ وَأَحْفَظُكَ وَأَجْعَلُكَ عَهْدًا لِلشَّعْبِ وَنُورًا لِلأُمَمِ&#8221; (إش ٤٢: ٦)</p>
<p>&#8220;اِلْتَفِتُوا إِلَيَّ وَاخْلُصُوا يَا جَمِيعَ أَقَاصِي الأَرْضِ، لأَنِّي أَنَا اللهُ وَلَيْسَ آخَرَ.&#8221; (إش٤٥: ٢٢)</p>
<p>[ودعا له من جميع الأمم جنساً مختاراً مملكة وكهنوتاً وأمة مقدسة وشعباً مبرراً.] (قسمة صوم الآباء الرسل).</p>
<p>[أيها العطاش تعالوا إلى المياه، كل من ليس له ذهب ولا فضة فليأت ويشرب خمراً ثميناً وطعاماً فاخراً، الماء يعني به الروح القدس وينبوع المعمودية، أما الخمر والخبز فهمًا ما كان يقدمه اليهود قديماً أما الآن فهما الشركة غير المائته في جسد الرب ودمه]. (القديس ديديموس الإسكندري)<a href="#_ftn1" name="_ftnref1">[1]</a></p>
<h3>شواهد القراءات</h3>
<p>(تك٢٨: ١٠- ٢٢)، (إش٢٥: ١- الخ، ص٢٦: ١- ٨)، (أي ص ١٨)، (مز١٦: ١)، (أف٤: ١- ١٦)، (٢بط ٢: ٢- ٨)، (مز١٦: ٦)، (لو٩: ٥٧- الخ).</p>
<p></p>
<h3>شرح القراءات</h3>
<p><strong>تتكلّم قراءات هذا اليوم</strong> عن قبولنا دعوة الآب والحياة بها كل يوم والإلتزام بمتطلباتها.</p>
<p><strong>يبدأ سفر التكوين</strong> بقبول يعقوب أب الآباء لدعوة الله له الذي ظهر له في سُلّم منصوبة من الأرض للسماء والملائكة يصعدون وينزلون، ووعد الله له بالرعاية والبركة كل أيام الحياة، ونذر يعقوب نذراً لله كل حياته.</p>
<p>&#8220;ونذر يعقوب نذراً قائلاً إن كان الرب الله معي وحفظني في هذا الطريق الذي أنا سائر فيه، وأعطاني خبزاً لآكل وثياباً لألبس وأرجعني بسلام إلى بيت أبي، يكون الرب لي إلهاً وهذا الحجر الذي أقمته عموداً يكون لي بيت الله وكل ما تعطيني أعشره لك&#8221;.</p>
<p><strong>ويتكلم سفر إشعياء</strong> عن إنتظار البشريّة لهذا لبرّ الإلهي في شخص المسيح له المجد في ملء الزمان في الصليب.</p>
<p>&#8220;ويصنع رب الجيوش لجميع الأمم على هذا الجبل (وليمة) هذه المشورة على جميع الأمم، ويُبتلع الموت الذي قوي ويمسح الله كل الدموع عن كل الوجوه، ويقال في ذلك اليوم هوذا الرب إلهنا الذي انتظرناه فنبتهج ونفرح بمخلصنا لأن الرب يعطي خلاصاً على هذا الجبل&#8221;.</p>
<p><strong>ويعلن سفر أيوب</strong> كيف لم يكن يتخيّل إنسان العهد القديم مدي برّ ومحبّة الآب للإنسان بأن يصنع أمور عظيمة في العالم لأجله.</p>
<p>&#8220;أفتهجر الأرض من أجلك أو يُزحزح الجبال من أساساتها&#8221;.</p>
<p><strong>ويشترط مزمور باكر</strong> نقاوة الشفتين كعلامة على نقاوة القلب وصدق قبول الدعوة. &#8220;وانصت إلى صلاتي فليست هى بشفتين غاشتين&#8221;.</p>
<p><strong>وفي إنجيل باكر</strong> يوضّح الرب الفرق بين القبول الشكلي للدعوة دون إرادة حقيقية وبين من رفضوا بجهالة وضعف ثم ندموا ورجعوا سريعاً وقبلوا صوت محبّته.</p>
<p>&#8220;ماذا تظنون كان لإنسان إبنان فجاء إلى الأول وقال له يا بني إمض اليوم واعمل في كرمي فأجاب وقال هأنذا ياسيدي ولم يمضِ، فجاء إلى الثاني وقال له أيضاً هكذا فأجاب وقال لا أريد ولكنه أخيراً ندم ومضى، الحق أقول لكم إن العشارين والزناة سيسبقونكم إلى ملكوت الله&#8221;.</p>
<p><strong>بينما يكشف البولس</strong> عن تكلفة قبول الدعوة وحفظها على الدوام بكل تواضع ووداعة وإجتهاد وطول أناة.</p>
<p>&#8220;فأسألكم أيضاً أنا الأسير في الرب أن تسلكوا كما يحق للدعوة التي دُعيتم إليها بكل تواضع ووداعة وطول أناة محتملين بعضكم بعضاً بالمحبة ومجتهدين في حفظ وحدانية الروح برباط السلام الكامل&#8221;.</p>
<p><strong>ويحذّر الكاثوليكون</strong> من رفض دعوة الآب الذي لم يشفق على الملائكة فصاروا برفضهم شياطين ومدن إحترقت وعالم غرق في الطوفان.</p>
<p>&#8220;فإن كان الله لم يشفق على الملائكة الذين أخطأوا بل أسلمهم إلى أسافل الهاوية بسلاسل الظلمة ليحفظوا للقضاء معذبين، ولم يشفق على العالم القديم وإنما حفظ نوح الثامن<br />
الكارز بالبر، وأتي بالطوفان على عالم المنافقين ومدينتي سدوم وعمورة أحرقهما وقضي عليهما بالإنقلاب وجعلهما عبرة للعتيدين أن ينافقوا&#8221;.</p>
<p><strong>بينما يعلن الإبركسيس</strong> عناية الله بمن يعيشون دعوته الإلهية.</p>
<p>&#8220;وفي اليوم الآخر وصلنا إلى صيدا فعامل يوليوس بولس برفق وأذِن له أن يذهب إلى أصدقائه ليحصل على عناية منهم&#8221;.</p>
<p><strong>وتطمئن النفس في مزمور القدّاس</strong> في صراخها إلى الله لثقتّها في إستجابته.</p>
<p>&#8220;أنا صرخت لأنك قد سمعتني يا الله&#8221;.</p>
<p><strong>ويختم إنجيل القدّاس</strong> بمعطّلات إستجابة وقبول الدعوة طلب الإمتيازات الخاصة لتبعيته أو العواطف الزائدة والمعطّلة.</p>
<p>&#8220;قال له واحد أتبعك إلى حيث تمضي فقال له يسوع إن للثعالب أوجرة ولطيور السماء أوكاراً وأما ابن الانسان فلا موضع له يسند إليه رأسه، فائذٓن لي أن أودع من في بيتي فقال له يسوع ما من أحد يضع يده على المحراث وينظر إلى الوراء يكون أهلاً لملكوت الله&#8221;.</p>
<h3>ملخّص القراءات</h3>
<table width="503">
<tbody>
<tr>
<td width="91">سفر التكوين</td>
<td width="412">قبول يعقوب دعوة الله ونذره بأن يحفظ دعوته كل الأيام.</td>
</tr>
<tr>
<td width="91">سفر إشعياء</td>
<td width="412">إنتظار وقبول البشرية لبر الله في الصليب في ملء الزمان.</td>
</tr>
<tr>
<td width="91">سفر أيوب</td>
<td width="412">صعوبة قبول إنسان العهد القديم لبرّ الله ومدى إهتمامه بالإنسان.</td>
</tr>
<tr>
<td width="91">مزمور باكر</td>
<td width="412">نقاوة الصلاة علامة صدق قبول الدعوة.</td>
</tr>
<tr>
<td width="91">إنجيل باكر</td>
<td width="412">بين قبول شكلي دون تغيير حقيقي وضعف مؤقت وسرعة الرجوع.</td>
</tr>
<tr>
<td width="91">البولس</td>
<td width="412">تكلفة قبول الدعوة.</td>
</tr>
<tr>
<td width="91">الكاثوليكون</td>
<td width="412">خطورة رفض الدعوة ومصير من يرفضون، أو يستهينون بها مهما كانوا.</td>
</tr>
<tr>
<td width="91">الإبركسيس</td>
<td width="412">عناية الله بمن يعيشون صدق الدعوة.</td>
</tr>
<tr>
<td width="91">مزمور القدّاس</td>
<td width="412">إطمئنان النفس لإستجابة الله.</td>
</tr>
<tr>
<td width="91">إنجيل القدّاس</td>
<td width="412">معطّلات قبول الدعوة.</td>
</tr>
</tbody>
</table>
<p></p>
<h3>الكنيسة في قراءات اليوم</h3>
<table width="503">
<tbody>
<tr>
<td width="91">سفر التكوين</td>
<td width="412">بيت الله والعشور</td>
</tr>
<tr>
<td width="91">البولس</td>
<td width="412">المعمودية الواحدة والإيمان الواحد</td>
</tr>
<tr>
<td width="91">البولس</td>
<td width="412">الصعود ومواهب الروح</td>
</tr>
<tr>
<td width="91">الكاثوليكون</td>
<td width="412">دينونة الملائكة</td>
</tr>
</tbody>
</table>
<h3>عظات آبائية :</h3>
<h4>شرح القديس كيرلس الأسكندري لإنجيل القدَّاس</h4>
<p dir="rtl">إتباع المسيح بلا تردد</p>
<p dir="rtl">( لو ٩ : ٦١، ٦٢ ) &#8221; وقال آخر أيضاً: أتبعك يا سيد، ولكن ائذن لي أولاً أن أودع الذين في بيتي. فقال له يسوع : ليس أحد يضع يده على المحراث وينظر إلى الوراء يصلح لملكوت الله. &#8220;</p>
<p dir="rtl">إننا نقول عن الغيرة في مساعينا الفاضلة، إنها تستحق كل مدح، لكن أولئك الذين قد وصلوا إلى هذه الحالة الذهنية يجب أن يكونوا أقوياء في تصميمهم، وليسوا ضعيفي العزم في صبرهم نحو الهدف الموضوع أمامهم. بل بالحري يجب أن يكون لهم ذهن غير متذبذب ولا ينثني، لأنهم بذلك سوف يبلغون الهدف، ويفوزون بالنصر،</p>
<p dir="rtl"> ويضفرون حول رؤوسهم إكليل المنتصر. ومخلص الكل يشجعنا على هذا الإخلاص للهدف بوصفه خاصية تستحق الاقتناء، إذ يقول &#8221; ومن منكم وهو يريد أن يبنی برجاً لا يجلس أولا ويحسب النفقة هل عنده ما يكفي لتكميله، لئلا يضع الأساس ولا يقدر أن يكمل، فيبدأ جميع الناظرين يهزأون به قائلين هذا الإنسان لم يقدر أن يكمل &#8221; (لو ١٤ : ٢٨ &#8211; ٣٠). فمن يتصرف هكذا لا يصبح إلا موضوعاً للسخرية، لأن كل مسعى مكرم وفاضل له خاتمة لائقة يجب أن تعقبه. وناموس موسی كي يعلم هذا الحق، أمر أولئك الذين كانوا يبنون بيتاً أن يقيموا فوقه حائطاً للسطح (تث ۲۲: ۸)، لأن من هو ليس كاملاً في الصلاح لا يخلو من اللوم. فكما كان البيت الذي ليس له حوائط سطح، يوصم بالعار، هكذا فالفقرة التي قرئت علينا من الإنجيل الآن تعلمنا درساً مشابهاً، لأن واحداً اقترب قائلاً : &#8221; أتبعك يا سيد ولكن ائذن لي أولاً أن أودع الذين في بيتي &#8220;.</p>
<p dir="rtl"> فالوعد الذي تعهد به، إذن، يستحق التمثل به، وهو مملوء بكل مدح، ولكن حقيقة رغبته في توديع الذين في بيته توضح أنه منقسم على</p>
<p dir="rtl"> نفسه، وأيضاً أنه لم يدخل بعد الطريق بذهن غير مقيد، فانظر كيف أنه مثل مهر متحفز للسباق، هناك ما يعوقه كأن به لجام، هكذا فإن</p>
<p dir="rtl"> تيار الأمور العالمية، ورغبته في الاهتمام بمشاغل هذا العالم تعوقه بالمثل، لأن ليس هناك أحد يمنعه من الإسراع إلى الهدف المشتهى</p>
<p dir="rtl"> إذا أراد وفقاً لميول عقله الحرة. ولكن الرغبة نفسها في استشارة أقاربه وجعلهم مستشارين له وهم لا يضمرون مشاعر مشابهة له، ولا يشاركونه مطلقاً في قراره، فتلك الرغبة تكشف وبصورة كافية أنه ضعيف ومتردد للوصول للهدف، والفوز بالنصر ونوال إكليل المنتصر، وليس له الاستعداد الكامل بعد ليتصرف وفقاً لرغبته في اتباع المسيح. ولكن المسيح، وكأنه يستعمل توبيخات رقيقة، أصلحه، وعلمه أن يكون له غيرة أكثر تصميماً قائلاً: &#8221; ليس أحد يضع يده على المحراث وينظر إلى الوراء يصلح لملكوت الله &#8220;.</p>
<p dir="rtl"> وتماماً مثل الفلاح الذي قد بدأ في حرث أرضه بالمحراث، إذا تعب وترك عمله بعد إنجاز نصفه، فلن يرى حقله مملوء بسنابل القمح، ولا أرضه التي يدرسها مليئة بالحزم، وسيعاني بالطبع من الخسارة التي هي نتيجة طبيعية للتكاسل، وغياب المحصول، وما يتبعه من فقر، وأيضاً يجلب على نفسه سخرية أولئك الذين ينظرونه. لذلك فمن يرغب في الالتصاق بالمسيح، دون أن يودع العالم، ويهجر كل حب للجسد، وينكر حتى أقربائه الأرضيين (إذ بفعله هذا يبلغ الشجاعة المصممة في كل المساعي الممدوحة)، فهو لا يصلح لملكوت الله. فمن لا يستطيع الوصول إلى هذا القرار، لأن عقله مقيد بالتكاسل : فليس بمقبول لدى المسيح، ولا هو لائق لصحبته،</p>
<p dir="rtl">وبالضرورة لا يصرح له أن يكون معه.</p>
<p dir="rtl">فعن هؤلاء تكلم المسيح عندما صاغ ذلك المثل في الأناجيل، لأنه قال: &#8221; انسان غني صنع عرساً لابنه، أرسل عبيده ليدعوا المدعوين، قائلاً ثيراني ومسمناتي قد ذبحت وكل شيء معد&#8221; (مت ٢٢ : ٢) لكنهم كما يخبرنا الإنجيل لم يأتوا، لكن واحداً قال لقد اشتريت حقلاً ولا أستطيع الذهاب. وقال ثان لقد اشتريت زوج بقر، وآخر لقد تزوجت بامرأة فاعذرني. فأنت ترى أنهم جميعاً دعوا، وبينما كان في استطاعتهم أن يشاركوا في الحفل اعتذروا، وصاروا مستعبدين وبلا قيد لهذه الأمور الأرضية الوقتية، التي سرعان ما تضمحل، و التي لابد أن نتخلى عن ملكيتها سريعاً.</p>
<p dir="rtl"> ولكن كان بالتأكيد من واجبهم أن يدركوا أن الزوجة والأراضي والممتلكات الأخرى ما هي إلا لذات زائلة، قصيرة الوقت، وتضمحل كالظلال، وهي كأنها مرارة ممزوجة بشهد. ولكن أن يكونوا أعضاء في كنيسة الله، تلك التي هربوا منها بغباء، وبطريقة لا أعرفها، فهذا كان سيسبب لهم فرحاً أبدياً غير متغير. فأي شخص يتبع المسيح، دعه يكن ثابتاً تماماً، هادفاً فقط إلى تلك الغاية، ولا يكن منقسماً، ولا يستولي عليه الجهل أو الكسل، دعه يكن متحرراً من كل شهوة جسدانية، ولا يفضل أي شيء على حبه له، فإذا لم يكن له مثل هذا الميل، أو ليس له هذا الإتجاه في إرادته، فحتى إذا اقترب، فسوف لا يقبل.</p>
<p dir="rtl">وناموس موسى قد علمنا أيضاً شيئاً من هذا القبيل بطريقة رمزية غير مباشرة، فإن بني إسرائيل حينما كانت تطرأ عليهم طوارئ،</p>
<p dir="rtl"> كانوا يخرجون ليحاربوا أعدائهم، وقبل أن يشتبكوا في القتال، كان المنادي ينادي فيهم قائلاً : &#8221; الرجل الذي خطب امرأة ولم يأخذها،</p>
<p dir="rtl"> فليرجع إلى بيته لئلا يموت في الحرب فيأخذها رجل آخر. والرجل الذي قد بنى بيتاً جديداً ولم يدشنه، فليرجع إلى بيته لئلا يموت في الحرب فيدشنه رجل آخر.</p>
<p dir="rtl">فأي رجل خائف وضعيف القلب، ليرجع لئلا تذوب قلوب إخوته من الخوف مثل قلبه &#8221; (تث ۲۰: ۷ و ٥ و ۸) فأنت ترى أن الرجل الذي يحب العالم أو الثروة والمملوء بالاعتذارات، ليس في مكانه،</p>
<p dir="rtl"> ولكننا سنجد أن الرسل القديسين مختلفين تماماً عن أمثال هؤلاء.</p>
<p dir="rtl">فعندما سمعوا المسيح يقول: &#8221; هلم ورائي، تصيران صيادي الناس، فالوقت ترکا السفينة وأباهم وتبعاه &#8221; (مر ١ : ١٧). وأيضاً الحكيم</p>
<p dir="rtl"> بولس يكتب &#8221; ولكن لما سر الله أن يعلن ابنه في، للوقت لم أستشر لحما ودما &#8221; (غل ۱: ١٥). فأنت ترى أن العقل الشجاع والهدف القلبي الشجاع غير خاضع لرباطات الكسل، لكن يفوق كل جبن وكل شهوة جسدية، فهكذا ينبغي أن يكون أولئك الذين يتبعون المسيح، لا ينظرون إلى الوراء، لا يرجعون ولا يحولون وجوههم عن تلك الفضيلة الرجولية التي تليق بالقديسين ويعفون أنفسهم من واجب الجهد، غير محبين للأمور الوقتية، فهم ليسوا ذوي رأيين، ولكنهم يسرعون للأمام بالغيرة الكاملة إلى ما يرضى المسيح جداً، الذي به ومعه لله الآب التسبيح والسيادة والكرامة مع الروح القدس إلى دهر الدهور آمین.</p>
<p dir="rtl">المرجع : كتاب تفسير إنجيل لوقا للقديس كيرلس الأسكندري ( صفحة ٢٨٦ &#8211; ٢٨٧ ) &#8211; ترجمة دكتور نصحي عبد الشهيد</p>
<h4 dir="rtl">تعليق القديس أمبروسيوس علي ما جاء في إنجيل القدَّاس :</h4>
<p dir="rtl">+ بالرغم من طاعته وخدمته المستمرَّة، لكنه لم ينل رِضى الرب، فإن الرب لا تهمُّه الخدمة الظاهرة بل نقاوة القلب، لذا سبق فقال: &#8220;من يقبل هذا الولد باِسمي&#8221;، معلِّمًا إيَّانا ألا تكون البساطة مغرضة، ولا المحبَّة حاسدة، وأن يكون البذل بلا غضبٍ، مشيرًا للبالغين أن يكون لهم قلب الأطفال&#8230; يليق بك أن تنعم بالبساطة الحقيقيَّة، أي تقتني هذه الطبيعة بالجهاد. لهذا قال الرب: &#8220;من قبِلَ هذا الولد باسمي فقد قبلني، ومن يقبلني يقبل الذي أرسلني&#8221;. حقًا إن من يقبل من يتمثِّل بالمسيح يقبل المسيح، ومن يقبل صورة الله يقبل الله، لكننا إذ لم نستطع أن نرى صورة الله حلّ الكلمة بيننا بالتجسُّد ليقرِّب اللاهوت إلينا مع أنه أعلى منَّا&#8230;</p>
<p dir="rtl">&#8220;للثعالب أوْجِرة&#8221;؛ فالشيطان كالثعلب مخادع، ينصب الفخاخ ويحيا بالمكر&#8230; يبحث عن فريسة داخل مسكن الإنسان نفسه.</p>
<p dir="rtl">ويقارن الرب الهراطقة أيضًا بالثعالب، لذا يعزلهم عن حصاده : &#8220;خذوا لنا الثعالب الصغيرة المفسدة للكروم&#8221; (نش ٢ : ١٥) ، الذين يستطيعون إفساد الكرم الصغير لا الكبير&#8230;</p>
<p dir="rtl">كثيرًا ما تشير طيور السماء للأرواح الشرِّيرة التي تبني أوْكارها في القلوب الشرِّيرة، فلا يجد ابن الله وسط هذه القلوب كلها أين يسند رأسه.</p>
<p dir="rtl">المكر لا يترك مكانًا للبساطة، ولا موضعًا للإلهيَّات في هذه القلوب&#8230; أما إذا رأى الرب طهارة قلب فيسند فيه عمل عظمته، أي الهبة العظيمة الفائقة التي تنسكب في قلوب الصالحين</p>
<ul>
<li dir="rtl">لكن كيف يُمنع هذا الإنسان من دفن أبيه مع أن هذا العمل من أعمال التقوَى؟ يعلِّمنا الرب أن يكون هو في المقدِّمة ويأتي بعده الإنسان. هذا العمل حسن لكنه غير لائق، لئلاَّ إذ يقسِّم (التلميذ) اِهتمامه تفتر محبَّته (للكرازة) ويتأخَّر نُموُّه. يليق بنا أن نذهب أولًا لعمل الكرازة حتى لا تُعاق&#8230; لذلك عندما أرسل الرب التلاميذ أمَرَهم ألا يُسلِّموا على أحد في الطريق، ليس لأن المحبَّة تُضايقه، وإنما لأن الاهتمام بنُموُّ الخدمة يُرضيه بالأكثر</li>
</ul>
<p dir="rtl">لكن كيف يمكن لأن يدفن الموتى موتاهم؟ هنا يشير إلى موت مزدوج موت الجسد وموت الخطيَّة، بل ويوجد موت ثالث به نموت عن الخطيَّة ونحيا لله، كما فعل المسيح الذي مات عن الخطيَّة: &#8220;لأن الموت الذي ماته قد ماته للخطيَّة مرَّة واحدة، والحياة التي يحياها فيحياها لله&#8221; (رو ٦ : ١٠). يوجد موت يفصل الجسد عن الروح، هذا الموت يجب ألا نخشاه ولا نهابه، لأنه بداية الانطلاق وليس عقوبة، الأقوياء لا يرتعبون منه، والحكماء يشتهونه، والتعساء يتمنُّونه إذ قيل &#8220;يطلب الناس الموت ولا يجدونه&#8221; (رؤ ٩ : ٦). ويوجد موت آخر يضع نهاية لملذَّات العالم حيث لا يموت الجسد بل تموت الخطيَّة، هذا الموت نمارسه عندما نُدفن مع المسيح ونموت معه في المعموديَّة ( رو ٦ : ٤ ؛ كو ٢ : ٢٢) ، نموت عن أمور هذا العالم، وننسَى حياتنا الأولى، هذا الموت أراده بلعام لكي يحيا لله، عندما تنبَّأ: &#8220;لتمُت نفسي موت الأبرار ولتكن آخرتي كآخِرتهم&#8221; ( عد ٢٣ : ١). والموت الثالث يحمله المسيح (بالصليب) لحياتنا، فنحن نعرف أنه هو الحياة الأبديَّة (يو ١٧ : ٣) ، يراه الأبرار الآن كما في لغز،ٍ لكنهم يرونه أخيرًا وجهًا لوجه لأن: &#8220;نفس أنوفنا مسيح الرب أُخذ في حفرهم الذي قلنا عنه في ظلِّه نعيش بين الأمم&#8221; (مر ٤ : ٢٠) ، وكان رجاء داود يكمن تحت ظل جناحيْه (مز ٥٦ : ٢) ، واشتهت الكنيسة ظلُّه لتجلس تحته (نش ٢ : ٣). إن كان ظلَّك يا ربِّي يسوع له نفع كهذا فكم تكون حقيقتك&#8230;؟ &#8220;حياتكم مستترة مع المسيح في الله، متى أظهر المسيح حياتنا فحينئذ تُظهرون أنتم أيضًا في المجد&#8221; (كو ٣ : ٣ &#8211; ٤). عجيبة هي هذه الحياة التي لا تعرف الموت&#8230;! لا يمنع الرب أن نبكي ونَدفن موتانا، لكنه يضع التقوَى الدينيَّة في المرتبة الأولى ثم تليها الرباطات العائليَّة. ليُترك الموتى (روحيًا) أن يدفنوا موتاهم أما المُختارون فليتبعوه.</p>
<p dir="rtl">المرجع : تفسير إنجيل لوقا ( الإصحاح التاسع ) &#8211; القمص تادرس يعقوب ملطي</p>
<h3 dir="rtl">عظات اباء وخدام معاصرون :</h3>
<h4 dir="rtl">هل تتبعنى حقاً ؟ لقداسة البابا تواضروس الثاني</h4>
<h5 dir="rtl"></h5>
<p dir="rtl">يوم الثلاثاء من الأسبوع الرابع لقداسة البابا تواضروس الثاني</p>
<p dir="rtl">(لو ٩ : ٥٧ – ٦٣)</p>
<p dir="rtl">هل تتبعنى حقاً ؟</p>
<p dir="rtl">إنجيل هذا اليوم يطرح علينا سؤالاً يسأله السيد المسيح لك : &#8221; هل تتبعني حقاً ؟&#8221;. هناك ثلاثة مشاهد لثلاثة أشخاص تقابلوا مع السيد المسيح في أوقات متفاوتة وليس في زمن واحد ، فهي مجموعة ثلاثية لا رابط زماني أو مكاني لها ، ولكن جمعها القديس لوقا البشير من حيث المغزى وهو الإخلاص الواجب على تلميذ المسيح تجاه المعلم ، وما هو ثمن تبعية المسيح ؟ فقدم لنا ثلاثة مشاهد لثلاثة أسئلة لثلاثة أشخاص أتوا لربنا يسوع المسيح لكي يتكلموا معه ، وذلك من خلال هذه القصة :</p>
<p dir="rtl">+ الصديق الأول :</p>
<p dir="rtl">هذا الشخص لديه مشاعر لكنه لم يحسين التفكير ، هذا الصديق الأول تعلق بالسيد المسيح وقال  له: &#8221; أتبعك أينما تمضي &#8220;. فأجابه يسوع : &#8221; للثعالب أوجرة، ولطيور السّماء أوكار ، وأما ابن الإنسان فليس له أين يسند رأسه  (لو ٩ : ٥٨)، وهنا نجد أن هذا الشخص لديه عاطفة متدفقة دون أن يلجمها فكر ، وهذا نُسميه نوعاً من الاندفاع ، وهو الذي يقوم على العاطفة لكنها تكون مؤقتة ؛ لأن العاطفة لا تكمل الطريق ، فعواطفنا دائماً متغيرة وبالتالي لا يمكن أن يبنى عليها قرار .</p>
<p dir="rtl">أحياناً الإنسان يأخذ القرار بعاطفته وبالتالي لا يكمل طريقه ، ومن المتوقع أن هذا الشخص عندما سمع الإجابة صدم بها ولم يتبع المسيح ، هذا الشخص عواطفه هائجة ظهرت في موقف معين وفي اندفاع معين ، وأراد أن يتخذ فيها قرارا لكن المسيح قال له : &#8221; حتى الأمان الذي تبحث عنه مثل الثعالب في جحورها ، ومثل طيور السماء في أوكارها ، أما ابن الانسان ليس له مكان يسند فيه رأسه &#8220;.</p>
<p dir="rtl">لذلك أيها الحبيب أُريد أن أقول لك أن تبعية طريق المسيح فيها الآلام والصليب والتجارب والمتاعب والمشاغل ، فهل فكرت في كل هذا ؟ إن المسيحية ليست مجرد معجزات وإنما هي أيضاً طريق الآلام مع ربنا يسوع المسيح &#8221; في العالم سيكون لكم ضيق &#8221; (يو١٦ :٣٣). فهل أنت مستعد ؟ صحيح فيها آلام لكن فيها تعزيات ، فيها الجمعة العظيمة ولكن فيها أحد القيامة . هذا الشخص لم يكن صاحب فكر ولم يزن أموره ، فهناك قرارات صغيرة في حياة الإنسان ولكنها مصيرية ربما لا يتخذها في حياته إلا مرة واحدة ، فمثلا قرار الزواج هو قرار مصيري ، وأيضاً قرار التكريس والرهبنة ، ولذلك قرارات الإنسان المصيرية تحتاج أن الإنسان يفكر فيها جيدا ويأخذ قراره وهو معتمد على ربنا أولا ، ثم فكره وعقله ، وأخيراً القلب أو العاطفة التي قد تكون متغيرة . الصديق الأول كان صاحب مشاعر ولكنه لم يكن صاحب فكر، ولذلك يبدو أنه انصرف ولم يتبع المسيح .</p>
<p dir="rtl">+ الصديق الثاني :</p>
<p dir="rtl"> قال له السيد المسيح : &#8221; اتبعني &#8220;، فأجابه وقال : &#8221; يا سيد ائذن لي أن أمضي أولاً وأدفن أبي &#8221; (لو ٩ : ٥٩).</p>
<p dir="rtl">أريد أن أقول لك عندما تأتي دعوة السيد المسيح لك فهذه لحظة فارقة وفرصة ذهبية في حياتك ، ولكن هذا الصديق أضاع هذه اللحظة منه ، قد يكون ما يريده هو عمل إنساني نبيل &#8221; ائذن لي أن أمضي أولا وأدفن أبي &#8220;، فهو صاحب تفكير جيد ، ولكنه لم يكن صاحب مشاعر؛ لأنه لم يعط قلبه فرصة ليقبل هذه الدعوة الذهبية ، قد يكون في اعتقاده أنها ستظل موجودة بنفس الحرارة الروحية التي دعاه بها المسيح ولكن إجابة السيد المسيح : &#8221; دع الموتى يدفنون موتاهم ، وأما أنت فاذهب وناد بملكوت الله &#8221; (لو ٩ :٦٠)، كان رداً قوياً على شرط هذا الصديق ، فعندما قال له : &#8221; دع الموتى يدفنون موتاهم &#8221; كان يقصد &#8221; دع موتى الروح يدفنون موتى الجسد &#8220;، فموتى الروح هم من يكون فكرهم في التراب ، ولكن أنت عليك مهمة أسمى وهي أن تُنادي بملكوت الله ، ربما دفن الإنسان الميت يقوم به أي أحد ، ولكن أين مشاعر قلبك التي ستتبع المسيح ؟ وأين عقلك الذي يفكر في الدعوة التي تستقبلها ؟ أنت اعتذرت عنها وعندما اعتذرت فقدت الفرصة الموجودة أمامك .</p>
<p dir="rtl">أحيانا الإنسان ينشغل بأمور تضيع منه فرص مهمة ويظل القرار أمام معوقات تبدو للعقل أنها مقبولة ، قد يكون فكرك متعلق بالأرض في حين أن أمامك دعوة لكي ما تذهب وتنادي بملكوت الله ، لكن للأسف اعتذارك يجعلك تفقد فرصاً ذهبية .</p>
<p dir="rtl">+ الصديق الثالث :</p>
<p dir="rtl">تقدم للسيد المسيح وقال له : &#8221; أتبعك يا سيد ولكن ائذن لي أولا أن أودع الذين في بيتي &#8221; (لو ٩ :٦١). قد يكون وداع أهل البيت شيئاً جيداً ، لكنه وقع في خطية التردد ، فقد انكسرت عاطفته وانكسر فكره وتمدد التردد ووصل إلى مرحلة التأجيل ، فالتأجيل لص الزمان يسرق عمرنا ، حتى في توبتك قد تقرر أن تقدم توبة لكنك ثأجلها لوقت ما ، وحين يحل الوقت المحدد تعود وتأجلها لوقت آخر وهكذا &#8230;</p>
<p dir="rtl">أحياناً روح الله يحرك فيك محبة الصلاة وتقرر أن تقف لتُصلي ، ولكن في تلك اللحظة يأتي شيطان التأجيل ويضع أمامك فكرآخر يعمل على تأجيل وقفة الصلاة كمشاهدة برنامج تلفزيوني أو قراءة قصة أو مكالمة تليفونية وتكون مقولة يونان النبي في صلاته الجميلة في بطن الحوت عندما قال : &#8221; الذين يراعون أباطيل كاذبة يتركون نعمتهم &#8221; (يون ۲ : ۸)، ربنا يريد أن يعطيك وزنة إنك تتبعه ، وأنت تقول له : &#8221; سأذهب أودع أهل بيتي !&#8221;.</p>
<p dir="rtl">نجد السيد المسيح يرد عليه قائلا : &#8221; ليس أحد يضع يده على المحراث وينظر إلى الوراء يصلح لملكوت الله &#8221; (لو ٩ : ٦٢). من يريد أن يسير في طريق ربنا يسير دائماً في طريق واحد .</p>
<p dir="rtl">مثال</p>
<p dir="rtl">بولس الرسول وقف أمام أغريباس الملك ودافع عن الإيمان المسيحي بكل قوة وبكل مجاهرة وبلا مانع وأخذ يشرح له كيف صار مسيحياً ، وكان يتكلم بطريقة فلسفية ولاهوتية حتى أن أغريباس الوثني قال له : &#8221; بقليل تقنعنى أن أصير مسيحياً &#8221; (أع ٢٦ : ٢٨)، فرد عليه بولس قائلا : &#8221; كنت أصلي إلى الله أنه بقليل وبكثير ، ليس أنت فقط ، بل أيضا جميع الذين يسمعونني اليوم ، يصيرون هكذا كما أنا ، خلا هذه القيود &#8221; (أع ٢٦ : ٢٩). لكن للأسف لم نسمع أن أغريباس صار مسيحيا ، وهذه هي مشكلة التردد الموجودة في الإنسان ، وإن كان مترددا أحيانا فهناك من يكون واضح المشاعر ويكون قلبه حاضراً وفكره ونعمة الله موجودة داخله ، ويستطيع أن يأخذ قراره ويعتمد على مسيحه ، والحقيقة الكتاب المقدس يقدم لنا نماذجا حية لتبعية المسيح ، لكن هذه النماذج ما هي إلا مجرد نماذج سلبية :</p>
<p dir="rtl">الأول : صاحب المشاعر التي بلا فكر .</p>
<p dir="rtl">الثاني : لديه فكربلا مشاعر ، وكان المسيح رقم (۲) في حياته .</p>
<p dir="rtl">الثالث : لديه مشاعر وفكر ، لكنه خسر تبعية المسيح بسبب تردده .</p>
<p dir="rtl">+ نماذج إيجابية للتبعية :</p>
<p dir="rtl">١ &#8211; متى العشار :</p>
<p dir="rtl">نقرأ في (مت ٩  : ٩) كلمة &#8221; اتبعني &#8221; وهي كلمة قالها السيد المسيح للاوي العشار الذي كان يجلس عند مكان الجباية ، وبكلمة واحدة قام وتبعه وصار &#8221; متى الرسول &#8221; أحد الاثني عشر تلميذاً ، وأريدك أن تتخيل معي هذا العشار وهو جالس ، وأمامه سجلات وعملات ، والناس كثيرة من حوله ليحاسبهم ، وفي لحظة يأتي إليه السيد المسيح ويقول له : &#8221; اتبعني &#8220;. وفي الحال يقوم ويترك كل شيء ويتبعه ، والسؤال الذي أود أن تُفكر فيه جيداً : ما الحال إذا أجل متى تبعيته للسيد المسيح بعد أن ينتهي من حساباته وأعماله ؟ هل كان من الممكن أن يأخذ نفس القرار ؟ غالباً لا ؛ لأن هناك لحظات هامة في حياة الإنسان ، هذه اللحظات مدعمة بعمل النعمة ، ومع جهاد الإنسان الروحي يأخذ الإنسان القرار .</p>
<p dir="rtl">كثيراً عندما تسأل الآباء الرهبان أو الراهبات في اتجاههم في الحياة الديرية وتسأله لماذا اخترت هذا اليوم بالذات إنك تذهب إلى الدير ؟ يجيب ويقول : ربنا هو الذي اختارودبر كل الأمور ، وبدأ هذا الشخص يسير ويعيش وفقاً لإرادة الله . أريدك أن تتخيل معي إن كان لاوي العشار الذي صارمتى الرسول أجل الدعوة مجرد ٢٤ ساعة ، ماذا كان سيحدث ؟ هل سيشاهد معجزات السيد المسيح الذي صنعها ؟ هل سيكون متى كاتب البشارة الأولى ؟ هل سيكون أحد تلاميذ السيد المسيح ؟ هل سيكون كارزا ويصل بكرازته إلى بلاد أثيوبيا ؟</p>
<p dir="rtl">۲۔ بولس الرسول :</p>
<p dir="rtl">كان شاول الطرسوسي بعيداً عن المسيح تماماً ، وكان يهودياً متعصباً مضطهداً لكنيسة الله ، وذات يوم ظهر له السيد المسيح وهو في طريقه إلى دمشق وبمجرد أن كلمه السيد المسيح وكان بمثابة دعوة ، نجد بولس الرسول يقول له هذه العبارة الخالدة : &#8221; يا رب ، ماذا تريد أن أفعل ؟&#8221; (أع ٩ : ٦)  جميل أن يقف الإنسان أمام ربنا ويقول له : &#8221; يا رب ماذا تُريد أن أفعل ؟ أنا طوع يديك &#8220;، وبسبب هذه العبارة صار بولس الرسول أسيراً في حب المسيح ، وسفيرا لاسم المسيح ، وكاتباً لأربع عشرة رسالة في العهد الجديد ، ومعلماً ولاهوتياً وفيلسوفاً وشهيداً في روما . هذه هي تبعية المسيح . الحياة الروحية يا إخوتي تحتاج جدية .</p>
<p dir="rtl">۳- بطرس الرسول :</p>
<p dir="rtl"> بطرس الرسول كان صياداً لا يعرف أي شيء غير السمك والشبك والماء والمراكب ، وكان يقضي الليل كله ليصطاد ، ولكن ذات ليلة لم يرزق ، فيقرر العودة لبيته ، ويقابله السيد المسيح في تلك اللحظة ويطلب منه أن يدخل إلى العمق ، فيجيبه بطرس قائلا : &#8221; يا معلم ، قد تعبنا الليل كله ولم تأخذ شيئاً . ولكن على كلمتك ألقي الشبكة &#8221; (لو٥ : ٥)  هذه كانت لحظة قرار ، وعندما ألقى بالشبك في البحر امتلأت شباكهم حتى صارت تتخرق ، وهنا أدرك بطرس وعرف أن شخص السيد المسيح هو الذي يكلمه ، فقال له : &#8221; ها نحن قد تركنا كل شيء وتبعناك &#8221; (مت ۱۹ : ۲۷)، وصار بطرس في تبعية المسيح ، حتى عندما أخطأ وأنكر ، نجد السيد المسيح يعالجها بكل رقة وعاد ليكمل طريقه .</p>
<p dir="rtl">تصور لو بطرس رفض ما طلبه السيد المسيح ، وقال ليسوع : &#8221; احنا تعبانين طوال الليل ومرهقين وتُريد أن نعود لبيوتنا &#8220;، بالتأكيد كان بطرس فقد الكثير ، فهو بطرس الذي شهد معجزات كثيرة وعلى قمتها معجزة التجلي على جبل طابور، كما أنه شاهد الساعات الأخيرة في صلب المسيح ، وهو الذي ألقى العظة النارية يوم الخمسين وجذب بها ثلاثة آلاف نفس ، وهو الذي بشر في بلاد كثيرة وختم حياته بالاستشهاد في روما &#8230; كل هذا كان سيفقده إذا كان قد رفض طلب المسيح وتبعيته . اتبع المسيح في حياتك اليومية ، وفي قراراتك واختياراتك ورغباتك في المستقبل ، فأنت تحتاج إلى أن تكون مستيقظاً ومنتبها ؛ لأنه في أي وقت سوف يرسل لك الله دعوته ، فيجب أن تكون مستعداً للاستجابة ، لا تتردد ولا تؤجل .</p>
<p dir="rtl">٤ الأنبا باخوميوس أب الشركة :</p>
<p dir="rtl">كان جندياً وثنياً عادياً ، لكن عندما حل في إسنا وشاهد أهلها وهم يقدمون فضيلة &#8221; إضافة الغرباء &#8221; وعرف أنهم مسيحيون ، قال في نفسه : &#8221; إنه يرغب أن يكون مثل هؤلاء القوم ، إذا رجع سالماً من الحرب &#8220;. ورجع وابتدأ طريقه الروحي في أن يتبع المسيح ويتكرس ، ويصير راهباً ناسكاً أسس حياة الشركة في الحياة الرهبانية ويصير قديساً في الكنيسة . إنها أوقات فيها يفتقد الله الإنسان بنعمته ويدعوه في قلبه ، وعندما يستجيب الإنسان بفكره وعقله ومشاعره وبقلبه وبإيمانه ويأخذ القرار يعرف أن طريقه طريق ناجح ، ويعرف أن الذي يتبع المسيح لا ينظر إلى الوراء ، بل ينظر إلى الأمام ويتقدم  ويصير في الصورة الحلوة . قس على ذلك أمثلة كثيرة : إبراهيم أبو الآباء عندما دعاه الله : &#8221; اذهب من أرضك ومن عشيرتك &#8230;&#8221; (تك ١٢ : ١)، وزكا العشار ، والقديس أوغسطينوس &#8230;. هذه كلها نماذج يضعها الإنسان أمامه ، ولذلك عندما تقف للصلاة اطلب من ربنا أنك تكون في تبعيته وفي دعوته ، اطلب منه وقل : &#8221; أريد يا رب أن أسير في طريقك ونحوك &#8220;، وتتقدم روحياً يوماً فيوماً. يجب أن تكون الحياة الروحية في تقدم مستمر ، فتبعية المسيح هي أن يضع الإنسان يده في يد المسيح وينادي بملكوت السموات ولا ينظر إلى الوراء ، بل ينادي بالعمل السماوي وتكون حياته وفكره متجهان نحو السماء ، فالإنسان هو مخلوق سماوي خلق من السماء وبنفخة من الإله لكي ما يتجه إليه ويعود إليه مرة ثانية .</p>
<p dir="rtl">المرجع : كتاب إختبرني يا الله صفحة ٢٠٤ &#8211; قداسة البابا تواضروس الثاني</p>
<h5 dir="rtl"></h5>
<h4 dir="rtl">تلاميذ مع إيقاف التنفيذ للأنبا إيساك الأسقف العام</h4>
<p dir="rtl">(لو ٩ : ٥٧ – ٦٢)</p>
<p dir="rtl">+ لقد جاء التلميذ الأول عارضاً أن يتبع يسوع بحماس دون أن ينتظر أن يدعى . أما يسوع فقد ثبط من عزيمته بأن بصره بما هو فاعل . انه يقحم نفسه وهو غير مقدر تماماً تبعة ما يعرضه ، وهذا هو معنى إجابة يسوع له . انه يبين له نوع الحياة التي تتطلبها تبعيته له انه يتبع شخص شريد ليس له أين يسند رأسه . كان يسوع يتحدث بهذا وهو في طريقه إلى الصليب انه يسوع المسيح الذى تتخلص حياته في كلمة واحدة من قانون الايمان الرسولى &#8221; تألم &#8221; ولا يوجد انسان يقبل حياة مثل هذه لنفسه ، ولا يمكن أن يدعو انسان نفسه لوضع مؤلم كهذا . فبعدما أوضح المسيح هذا لم يلق رداً على كلمته التي قالها بل بقيت بلا إجابة . ان الهوه التي تفصل بين التقدمة الاختيارية للتبعية ، والتلمذة الفعلية هوة سحيقة . ودعوة يسوع هي التي تضيق هذه الهوة وتضع الجسور .</p>
<p dir="rtl">+ الثانى الذى ربما صار تلميذاً ، يريد أن يدفن أباه قبل أن يبدأ في اتباع يسوع . انه مقيد بشباك الناموس . انه يعرف ما يريد وما يجب أن يفعل . دعه يتمم الناموس أولاً وبعدئذ فليتبع هناك ترتيب معين يعمل كحاجز بين يسوع والانسان الذى يدعوه . في هذه اللحظة المصيرية ، لحظة دعوة المسيح ، لا شيء على الأرض مهما كان مقدساً ، لا ينبغي اطلاقاً ، ان يكون فاصلاً بين يسوع والانسان الذى يدعوه – ولا حتى الناموس ذاته . لو كان الناموس لم يكسر أبداً من قبل ، يمكن أن يكسر الآن بناء على أمر يسوع واضع الناموس . ان الناموس يفقد كل غايته لوصار حائلاً أمام التلمذة ليسوع لأن الناموس هو مؤدبنا للمسيح (غل ٣ : ٢٤) عند هذه النقطة يكتسح يسوع الناموس ويأمر الانسان أن يتبعه . المسيح وحده يقدر أن يتكلم على هذا المنوال ، انه وحده الذى له الكلمة الأخيرة . تلميذ المسيح مهما كان متحمساً للناموس ، لا يستطيع أن يرفس مناخس . هذه الدعوة وهذه النعمة لا تقاوم .</p>
<p dir="rtl">+ التلميذ الثالث المزمع أن يتبع المسيح ظن مثل الأول ان اتباع المسيح ممكن أن يقدم كمبادرة منه . كما لو كانت وظيفة خطط لها لنفسه . ولكن هناك فرق بين الحالة الأولى وحالة الشخص الثالث ، لأن الثالث كان عنده الجرأة الكافية ليضع شروطه . للأسف ، لقد وضع نفسه في وضع متناقض ميئوس منه . لأنه رغم كونه مستعداً أن يجعل نصيبه مع يسوع ، نجح في أن يضع حائلاً بينه وبين السيد . &#8221; دعى أولاً &#8221; أي أن هناك أمور لها أولوية عن التبعية . انه يريد أن يتبع ولكنه مضطر أن يصر على أساليبه الخاصة . التلمذه بالنسبة له إمكانية واردة ، ولكن يمكن تحقيقها فقط عندما تتم شروط خاصة . معنى هذا أن نخفض التلمذه إلى مستوى الفهم البشرى ، عليك أن تفعل هذا أولاً ، ثم ذاك ثانياً ، هناك وقت مناسب لكل شيء . لقد وضع التلميذ نفسه تحت تصرف الرب ، ولكن في نفس الوقت يحتفظ لنفسه بالحق أن يملى شروطه!! ولكن عندما يكون الامر هكذا لا تصبح التلمذه تلمذه ، ولكن بروجراما نرتبه من عندياتنا ليناسب أنفسنا ، وليحكم عليه طبقاً لمقاييس الاخلاق المنطقية . مشكلة التلميذ الثالث ، أنه في نفس لحظة تعبيره عن رغبته في اتباع يسوع ، يتوقف أن يتبع على الاطلاق بجعل تبعيته طبقاً لشروطه هو وبذلك يفسد الموقف كله . ان التلمذه الصادقة لا تساوم حول شروط نضعها ليسوع قبل طاعتنا له . لذلك وجد التلميذ الثالث نفسه في تنازع ليس مع يسوع فقط ، بل مع ذاته أيضاً . ان رغباته تتعارض ليس مع ما يريده يسوع فقط . بل مع ما يريده هو ذاته أيضاً . لقد أصدر حكماً بذاته ، وقرر ضد نفسه كل هذا بقوله &#8221; دعنى أولاً &#8221; ان إجابة يسوع تثبت بجلاء وبطريقة مؤثرة بأن هذا الشخص متناقض مع نفسه وهذا يلغى التلمذه . &#8221; لا أحد يضع يده على المحراث وينظر إلى الوراء يصلح لملكوت السموات &#8221; .</p>
<p dir="rtl">أترك العالم :</p>
<p dir="rtl">أن أردنا أن نتبع المسيح ، هناك خطوات محددة ينبغي اتباعها : فالخطوة الأولى التي تلى الدعوة هي أن نفصل أنفسنا عن كل وجودنا السابق . لأن البقاء في الوضع القديم يجعل التلمذة للمسيح مستحيلة . كان على لاوى بن حلفاً أن يترك مائدة الصيارفة ، وكان على القديس بطرس أن يترك شباكه كى يتبع يسوع . لقد ظن البعض أنه لا داعى لمثل هذا الاجراء العنيف خصوصاً في المرحل الأولى .</p>
<p dir="rtl">+ ولكن ألم يستطع المسيح أن يترك لاوى بن حلفا كما هو عند مائدة الصيارفة ويكتفى بأن يعطيه بعض التداريب والاختبارات الروحية ؟ كان يسوع قادرا أن يفعل هذا ، أليس هو ابن الله المتجسد ؟ ولكن الرب يسوع أراد أن يجعلها واضحة من البداية . أن كلمة المسيح ليست مجرد تعاليم معنوية ، بل هي إعادة صياغة شاملة لحياة الإنسان الطريق الصحيح الوحيد هو أن تذهب مع يسوع حرفياً . دعوة الاتباع تعنى بالضبط ان هناك طريقاً واحداً للإيمان بالمسيح وهو أن تترك كل شيء وتذهب مع ابن الله المتجسد .</p>
<p dir="rtl">+ أهمية الخطوة الأولى هي أنها تضعها في الوضع الذى يكون فيه الإيمان ممكناً . فالذى يرفض أن يتبع واستمر كما هو فانه لا يتعلم أبداً كيف يؤمن . ان ترك الحياة الآمنة مادياً ، والآمنه بالاهل والاقارب والآمنة بالمهنة والوظيفة لاتباع يسوع ، هي الدخول إلى حياة الإيمان واختبار النصرة التي بربنا يسوع المسيح . طالما لاوى مازال جالساً عند مائدة الصيارفة ، وبطرس عند شباكة فقد يمكنهما أن يحرزا تقدماً في مهنتيهما ، وقد يؤديا أعمالهما بكل همة ونشاط ، بل وقد يتمتعا باختبارات روحية عتيقة وحديثة مراعين الناموس ، ومنتظرين مجئ المسيا كأتقياء الأرض ، ولكن أن أرادا أن يؤمنا بالله فالطريق الوحيد هو أن يطعيا دعوة ابنه المتجسد التي تقول لهما : اتبعانى . لقد آتى المسيا ، ودعوته تنتشر ، الإيمان لا يعنى البقاء والانتظار فيما بعد – عليهما أن يقوما ويتبعا . ان الدعوة تعفيهم من كل روابط أرضية رتربطهم بالرب يسوع المسيح وحده . عليهم أن يقطعوا كل خطوط الرجعة ويدخلوا إلى حالة عدم الأمان المطلق كى ما يتعلموا أن يطلبوا كل شيء من المسيح – وكل أمورالحياة تتعلق بكلمته وحده . لوكان لاوى بقى في وظيفته ، كان ممكناً ليسوع أن يعينه في حل مشاكل حياته وهو مستمر في وضعه ولكن سوف لا يصبح أبداً رباً لكل حياته ، وسوف لا يذوق طعم الإيمان ، لأن تركه مائدة الصيارفة خلقت وضعاً جديداً يمكنه به أن يؤمن بالمسيح كأله متجسداً . كذلك بطرس عليه أن يترك السفينة ويمشى على الماء مخاطراً بحياته فوق البحر – كى ما يتعلم قوة ربه العظيم وهو يدعوه في وجفة لو لم يبادر بطرس بالمخاطرة ، ما كان تعلم معنى الإيمان أبداً . ان طريق الإيمان يمر عبر طاعة دعوة يسوع . ما لم تتخذ خطوات محدودة ، سرعان ما تضمحل أصوات هذه الدعوة في الهواء . مهما تصور الناس انهم يتبعون يسوع دون أن يتخذوا خطوات طاعته عملياً ، فانهم يضلون ذواتهم .</p>
<p dir="rtl">طع لتؤمن :</p>
<p dir="rtl">هناك وضع في الحياة حيث يكون الإيمان ممكناً ، ووضع آخر حيث يكون الإيمان غير ممكن وعلينا أن نميز بين الوضعين .</p>
<p dir="rtl">١ – الوضع الذى نطيع فيه دعوة يسوع هو وضع مناسب للإيمان .</p>
<p dir="rtl">٢ – الوضع الذى ليس من تخطيط البشر ، فالتلمذة ليست منحة يقدمها الإنسان للمسيح .</p>
<p dir="rtl">٣ – الوضع الذى يكون دون أي استحقاق أو أهلية سابقة .</p>
<p dir="rtl">٤ – الوضع الذى يكون فيه الايمان ممكناً هو الذى لا يتم الا من خلال الايمان فقط .</p>
<p dir="rtl">وهناك جملة من فقرتين تركز كل الحقائق السابقة على أن تؤخذ الفقرتين معاً دون انفصال :</p>
<p dir="rtl">المطيع هو الذى يؤمن ، والمؤمن هو الذى يطيع كلنا يعرف أن الطاعة تتبع الايمان كالثمرة الشهية التي تنمو على الشجرة الجيدة. الايمان أولاً وبعد ذلك الطاعة . ولكننا لوفصلنا احدهما عن الآخر ، حينئذ يواجهنا السؤال العملى : اذن متى ينبغي أن تبدأ الطاعة للمسيح</p>
<p dir="rtl">            الطاعة</p>
<p dir="rtl">                         الخلاص</p>
<p dir="rtl">           الايمان</p>
<p dir="rtl">لا ينبغي أن نغف التحاد الصميمى بين الإيمان بالمسيح وطاعتنا للمسيح . فالايمان لا يكون حقيقياً الا حينما يكون هناك طاعة وليس بدونها أبداً . الايمان يكون ايماناً فقط في فعل الطاعة . فكما نقول ان الطاعة هي ثمرة الايمان ، ينبغي أن نقول أيضاً ان الطاعة مقدمة وتمهيد لازم للإيمان يتحتم أن نضع الافتراضان السابقان حنباً إلى جنب دون أي فصل .</p>
<p dir="rtl">+ ان كنا نريد أن نؤمن علينا أن نطيع وصية محددة . بدون أن نخطو هذه الخطوة المبدئية في الطاعة فان ايماننا سيكون مجرد تقوى كاذبة تنقصه القوة الفعالة ، كل شيء في حياتنا مع الله يتوقف على البداية ، الخطوة الأولى فان لها أهميتها الفريدة في تحديد مسارنا المضبوط . لقد ابتدأ معلمنا بطرس بأن ترك شباكه وبعد ذلك استطاع أن يخرج من السفينة إلى الرسولية ، أما الشاب الغنى فقد رفض الخطوة الأولى وهى أن يبيع كل ما له ، لذلك مضى حزيناً . أن الطاعة توجد نظرة جديدة للأمو تجعل الايمان ممكناً . انها خطوة في امكان كل شخص أن يخطوها لأنها في نطاق الحرية البشرية . فالقديس بطرس لا يستطيع أن يتبع المسيح الا بعد أن يترك الشباك . والكتاب المقدس يؤكد بأن الخطوة الأولى بالذات التي يقوم بها الانسان تؤثر جذرياً على وجوده كله . هذه الخطوة قد تأخذ شكل الاستجابة لدعوة حضور الخدمة في الكنيسة حيث القداس الالهى وخدمة الكلمة . فحين يخطو انسان هذه الخطوة فهو لم يفقد حريته الشخصية . تعال للكنيسة ! أيمكنك عمل هذا بمحض ارادتك ، يمكنك أن تترك منزلك في موعد الخدمة بالكنيسة وتذهب إلى هناك اتستمع إلى كلمة الحياة . ان لم تأت ، فأنت بحرية ارادتك تحرم نفسك من المكان حيث يكون الايمان ممكناً .</p>
<p dir="rtl">+ علينا أن نضيف على الفور ، ان هذه الخطوة ما هي الا عمل خارجى ، حتى لو كانت – في أحسن تقدير – غيرت من أسلوب الحياة . فلو أن سكيراً قطع عهداً أن لا يعود إلى السكر ، أو غنى فرق كل ثروته فكلاهما قد حرر ذاته من عبودية الخمر وعبودية المال ، ولكنهما لم يتحررا من عبودية أنفسهما . مازالا يتحركان في مدارهما الخاص ، ربما أكثر من ذي قبل مازالا مقيدين كما كانا من قبل . طبعاً لابد أن يؤديا العمل ، ولكن لا يمكن لهذه الاعمال في حد ذاتها أن تنقذهما من الموت والعصيان والاثم . ان الخطوة الأولى ليست أكثر من عمل خارجى ، استعداد ، ميل حسن . لو خطونا الخطوة الأولى بتبصر ورزانه ، فنحن نضع أنفسنا حيث يكون الايمان ممكناً . الحياة الجديدة التي تفتحها أمامنا الخطوة الأولى هذه هي حياة لم تزل داخل نطاق الحياة القديمة ، ولكن الحياة الجديدة الحقيقية التي تكون من الايمان فهى الهدف الذى لا يجب علينا أن تسئ ادراكه . فالذى ترك العالم لا يكتف بمجرد وجوده في الدير بل أمامه جهاد مستمر .</p>
<p dir="rtl">+ ولكن يجب أن يعمل هذا العمل الخارجي ، لأنه مازال علينا أن نضع أنفسنا في الوضع الذى يكون الايمان فيه ممكناً . &#8221; في طريق وصاياك انتظرناك يارب ، إلى اسمك ، وإلى ذكرك شهوة النفس &#8221; (أش ٢٦ : ٧) فلنخطو هذه  الخطوة الأولى وعيوننا شاخصة ليست نحو العمل في حد ذاته بل على يسوع الذى يدعو.</p>
<p dir="rtl">+ القديس أنطونيوس وهو صبى العمر والعقل ما استطاع أن يبيع كل شيء ويسكن وحده في الصحراء القفرة لو لم يكن حب يسوع والنظر اليه وحده هو دافعه . ومعلمنا بطرس نراه يقفز من السفينه إلى الماء وعيناه مثبتتان على يسوع الدى يدعو ، ولكن حالما نظر إلى الأمواج المياه التي كان سائراً عليها ابتدأ يغرق . في البداية صرخ ليسوع &#8221; يارب مرنى أن آتى اليك فوق الماء &#8221; ويجيب يسوع &#8221; تعال &#8221; يجب أن يدعوه يسوع أولاً لأن الخطوة الأولى ينبغي أن لا تخطى الا بناء على كلمة يسوع .</p>
<p dir="rtl">هذه الدعوة هي نعمته التي تدعو من الموت إلى الحياة . ولكن بعدما انتشل يسوع القديس بطرس من الغرق ودخلا السفينة ، ووصل إلى الشاطئ بدأت حياة بطرس الجديدة مع المسيح : هلم ورائى فأجعلك تصير صياداً للناس &#8221; لم يكن لبطرس أي خيار ، عليه أن يترك السفينة ويأتي اليه .</p>
<p dir="rtl">+ ان القائلين بعدم أهمية الخطوة الأولى يسيئون فهم النعمة . على العكس يمكننا أن نؤكد أن خطوة الطاعة ينبغي أن تتخذ أولاً حتى ما يكون الايمان ممكناً . الانسان الذى لا يطيع ، لا يقدر أن يؤمن . هل تقلق لأنك تجد انه من الصعب عليك أن تؤمن ؟ لا تعجب ان صعب عليك الايمان ، فلابد ان في حياتك جزء يقاوم هذا الايمان ، أو هناك عصيان مستمر لوصايا يسوع في حياتك ، أو جزء هناك جزء من حياتك ترفض أن تسلمه للمسيح حسب مشيئته وبعض الشهوات الخاطئة ، ربما ، بعض الأحقاد ربما بعض الطموحات الدنيوية ، أو أسبابك الخاصة . ان كان الأمر كذلك عليك أن لا تتعجب انك لم تنل النعمة ، وأن الصلاة عمل صعب عليك ، وأن طلبتك من أجل الايمان لم تستجب اذهب أولا واصطلح مع أخيك ، أترك الخطيئة المتسلطة عليك بشدة – وحينئذ تستعيد ايمانك !</p>
<p dir="rtl">ان كنت رافضاً لوصية الله فسوف لا تقبل منه نعمة . كيف ترجو أن تتحد معه ، وانت في نقطة ما من حياتك تتنافر بعيداً عنه ؟ ان الانسان العاصى لا يقدر أن يؤمن ، لأن المطيع هو فقط الذى يؤمن .</p>
<p dir="rtl">+ دعوة يسوع الكريمة ، تتحول الآن إلى أوامر حازمة : اصنع هذا ! أترك ذاك ! أترك السفينة وتعال ! وعندما يدعى أحد انه لا يقدر أن يطيع دعوة يسوع لأنه يؤمن ، أو لأنه لا يؤمن يقول له يسوع : طع أولا ، تمم العمل الخارجي ، أترك ارتباطاتك الدنيوية ، أترك العقبات التي تفصلك عن تنفيذ إرادة الله ، لا تقل انك لم تنل ايمانا ، انك لا تنله طالما أنت مصر على العصيان وترفض أن تبادر بالخطوة الأولى . انك لم تحصل على الإيمان لأنك لم تخطوا الخطوة الأولى ، وسوف لا تحصل عليه ما لم تخطوها بل ستتقسى أكثر في عدم ايمانك تحت رداء الايمان المتواضع ، يا لها من ذريعة خبيثة كونك تناقش على هذا النحو ، انها علامة أكيدة على عدم الايمان الذى يقود بدوره إلى عدم الطاعة. هذا هو عصيان المؤمنين ، حينما يطلب منهم الطاعة يتعللون بعدم ايمانهم ويقفون عند هذا الحد &#8221; فصرخ أبو الولد بدموع وقال أؤمن ياسيد فأعن عدم ايمانى &#8221; (مر٩ : ٢٤) انك في الواقع تلقى بموضوع التلمذه للمسيح برمته عرض الحائط . ولكن ان كنت تؤمن ، فخذ الخطوة الأولى ، انها تقود إلى يسوع المسيح ، وان كنت لا تؤمن خذ الخطوة الأولى كذلك لأنك مأمور أن تأخذها . لا أحد يريد أن يعرف عن ايمانك أو عدم إيمانك فأعمالك هي التي تظهر ايمانك . المطلوب منك أن تكمل فعل الطاعة في الحال ، حينئذ ستجد نفسك في الوضع حيث يكون الايمان ممكناً . الايمان بكل ما تحمله الكلمة من معانى .</p>
<p dir="rtl">+ ان الوصية التي يعطيها لنا يسوع كى نطيعها هي في حد ذاتها نعمة ، عندما نطيعها ندخل إلى نعمة الإيمان – وهكذا نرتفع من نعمة إلى نعمة ومن ايمان إلى ايمان &#8221; انجيل المسيح … فيه معلن بر الله بايمان لايمان كما هو مكتوب أما البار يحيا &#8221; (رو ١ : ١٧) .</p>
<p dir="rtl">أيها الرعاة ، نادوا بالطاعة الحرفية للمسيح :</p>
<p dir="rtl">عند هذه النقطة نسوق بعض الملاحظات الرعوية ، حينما يتعامل الراعى مع النفوس لا سيما في سر الاعتراف والإرشاد الروحى عليه أن نضع في ذهنه كلا الجانبين أي : المؤمن هو الذى يقدر أن يطيع ، والمطيع هو الذى يقدر أن يؤمن . فحينما يشكو الناس مثلا أن هناك صعوبة في الايمان ، فهذه علامة واضحة ان هناك عصيان بلا وعى . قد يرشد البعض بأن ينتظروا عمل النعمة ، والاكثار من وسائطها ، ولكن هذا الارشاد قد يطوح بهم بعيداً عن طريق الله وترخص النعمة في نظرهم ، ويظنون انهم وهم يمارسون وسائط النعمة وهم في حالة الخطيئة ، انه لا داعى للتوقف عن الخطيئة ! فتزداد حالتهم سوء . وتصبح كلمة النعمة عنده مرادفة لتلذذ الذات ، فيعطى الحل لذاته أن تستمر في خطاياها . وبعدما يحدث هذا ، لا يجد هذا المسكين راحة حتى لو أخذ ألف حل كهنوتى ، لقد أصبح أصماً بالنسبة لأسرار الكنيسة وبالنسبة لكلمة الله . لقد فقد القدرة على الاعتقاد في المغفرة الحقيقية لمجرد انه لم يعرفها في الواقع أبداً ان اراحة النفوس وهى مستمرة في خطاياها بدعم عصيانها بالأكثر ويثبته .</p>
<p dir="rtl">المرجع : كتاب حياتك تلميذاً للمسيح ( صفحة ٢٦ &#8211; ٤٢ ) &#8211; الأنبا إيساك الأسقف العام</p>
<hr />
<p><a href="#_ftnref1" name="_ftn1">[1]</a><sup>&#8211;</sup><sup> مجلة مرقس &#8211; عدد أبريل 2000.</sup></p>

      {% endcreateArticleAccordions %}
    </section>
  {% endblock %}
  