---
layout: 'layouts/reading.html'
title: 'قراءات يوم الأربعاء من الأسبوع الرابع'
tags: 'great-lent'
permalink: /articles/great-lent/4-3.html
---
  {% block content %}
    <section id="readings">
      <ul>
      {% if 'undefined' != 'undefined' %}
      
      {% else %}
      {% if 'null' != 'null' %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">العشية</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeVespers '' '' %}
          </div>
        </div>
      </li>
      {% endif %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">باكر</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeMatins '19.18:37,40' '42.14:16-24' '2.7:14-25*@+2.8:1-19@29.2:28-32@18.1:1-22@23.26:21-27:9' %}
          </div>
        </div>
      </li>
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <h3 class="flex items-center justify-between">
            <span class="kufi">القداس</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </h3>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeLitugy '49.4:17-32' '59.3:13-4:4' '44.11:26-12:2' '19.18:17-18' '41.4:35-41' %}
          </div>
        </div>
      </li>

      {% endif %}
        </ul>
    </section>
    <section id="article">
      <h3 class="mt-8 mb-4 heading-explain">شرح القراءات</h3>
      {% createArticleAccordions %}
        <p>&#8220;فِي ذلِكَ الْيَوْمِ غَنُّوا لِلْكَرْمَةِ الْمُشَتَهَاةِ: أَنَا الرَّبُّ حَارِسُهَا. أَسْقِيهَا كُلَّ لَحْظَةٍ. لِئَلاَّ يُوقَعَ بِهَا أَحْرُسُهَا لَيْلاً وَنَهَارًا.&#8221; (إش٢٧: ٢، ٣)</p>
<p>[أيها الرب إله القوات ارجع واطلع وأنظر من السماء وتعهّد هذه الكرمة وأصلحها وثبتها هذه التي غرستها يمينك] (من ألحان القدّاس الإلهي).</p>
<p>[إن الكنيسة مبعثرة (منتشرة) في كل أرجاء المسكونة لكن لها إيمان واحد سُلم من الرسل إلى تلاميذ الرسل وعلى الرغم من أن لغات البشر تختلف إلا أن جوهر التقليد واحد في كل مكان] (القديس ايريناؤس) <a href="#_ftn1" name="_ftnref1">[1]</a></p>
<h3><strong>شواهد القراءات</strong></h3>
<p>(خر١١: ١٤)- الخ، (ص٨: ١- ١٨)، (يؤ٢: ٢٨- ٣٢)، (أي١: ١- ٢٢) (إش٢٦: ٢١)- الخ، (ص٢٧: ١- ٩)،(مز١٧: ٣٨- ٤١)، (لو١٤: ١٦- ٢٤)، (أف٤: ١٧)- الخ)، (يع٣: ١٣)، (ص٤: ١- ٤)، (أع١١: ٢٦)- الخ، (ص١٢: ٢،١)، (مز١٧: ١٧،١٩)، (مر٤: ٣٥)- الخ)</p>
<h3><strong>شرح القراءات</strong></h3>
<p><strong>تتكلّم قراءات هذا اليوم</strong> عن برّ الآب في الكنيسة المقدَّسة وعنايته بها وحضوره فيها.</p>
<p><strong>تبدأ القراءات بسفر الخروج</strong> وفيه يشرح الرب لموسى خطّة الخلاص لشعبه التي تستوعب وتتخطّى قساوة قلب فرعون.</p>
<p>&#8220;فقال الرب لموسى قد ثقل قلب فرعون كي لا يطلق الشعب فامض إلى فرعون في الصباح فإنه يخرج إلى الماء فقف معه على شاطئ النهر والعصا التي تحولت إلى حية خذها بيدك وتقول له الرب إله العبرانيين أرسلني إليك قائلاً: أطلق شعبي ليعبدني في البرية وهوذا حتى الآن لم تسمع&#8221;.</p>
<p><strong>وتعلن نبوءة يوئيل</strong> حلول الروح يوم الخمسين بعد إستعلان الخلاص في جبل صهيون &#8220;ويكون بعد هذه الأيام إني أفيض روحي على كل بشر فيتنبأ بنوكم وبناتكم ويحلم شيوخكم أحلاماً ويري شبابكم رؤى، ويكون أن كل من يدعو باسم الرب يخلص لأنه في جبل صهيون وفي أورشليم تكون النجاة كما قال الرب&#8221;.</p>
<p><strong>وفي سفر أيوب</strong> صورة برّ العهد القديم حتى ما قبل الناموس والوصايا.</p>
<p>&#8220;وكان هذا الرجل باراً وكاملاً يتقي الله ويحيد عن كل شر، لأنه بار وكامل يتقي الله ويحيد عن الشر، الرب أعطى والرب أخذ كما حسن عند الرب كذلك كان فليكن اسم الرب مباركاً، وفي كل هذا الذي حدث له لم يخطئ بشئ أمام الرب ولم ينسب لله جهالة&#8221;.</p>
<p><strong>وفي إشعياء النبي</strong> يعلن الرب حمايته وحراسته للكنيسة ومقاومة الأشواك بنفسه.</p>
<p>&#8220;في ذلك اليوم غنوا للكرمة المشتهاة أنا الرب حاميها في كل لحظة أسقيها ولئلا يفتقدها مفسد أحرسها ليلاً ونهاراً إنه ليس فيّ غضب فمن قاومني بالقتاد والشوك في القتال فإني أهجم عليهما وأحرقهما جميعاً&#8221;.</p>
<p><strong>ويعلن مزمور باكر</strong> النصرة على الأعداء التي يهبها الله لأولاده.</p>
<p>&#8220;اطرد أعدائي فأدركهم ولا أرجع حتى يفنوا وأعطيتني الظفر على أعدائي&#8221;.</p>
<p><strong>ويكشف إنجيل باكر</strong> عن وليمة الحب الإلهي لمؤمني العهد الجديد ودعوة الكل رغم رفض اليهود لكن دخلت الأمم الغريبة وقبلت دعوة الحب ووليمة العرس.</p>
<p>&#8220;فقال له: إنسان صنع عشاء عظيماً ودعى كثيرين، وأرسل عبده وقت العشاء يقول للمدعوين أن يأتوا لأن كل شئ قد أعد، فطفقوا يستعفون جميعاً بصوت واحد، حينئذ غضب رب البيت وقال لعبده اخرج سريعاً إلى شوارع المدينة وأزقتها وأدخل إلى هنا المساكين والضعفاء والعميان والعرج&#8221;.</p>
<p><strong>ويرسم البولس</strong> صورة كنيسة العهد الجديد المملوءة من برّ الآب.</p>
<p>&#8220;أما أنتم فليس هكذا تعلمتم المسيح، وتتجددوا بروح أذهانكم وتلبسوا الانسان الجديد الذي خلق على مثال الله في البر وقداسة الحق، لاتخرج كلمة رديئة من أفواهكم بل كل ماكان صالحاً للبنيان ليعطي للسامعين نعمة، كونوا لطفاء بعضكم لبعض متحننين متسامحين كما سامحكم الله في المسيح&#8221;.</p>
<p><strong>ويعلن الكاثوليكون</strong> مناخ الكنيسة المقدّسة المملوءة من برّ الآب وثمر البرّ فيها.</p>
<p>&#8220;من هو حكيم وعالم بينكم فليرينا أعماله من سيرته الحسنة بوداعة الحكمة، أما الحكمة التي من فوق فإنها أولاً طاهرة ثم مسالمة مترفقة مستقيمة مملوءة رحمة وأثماراً صالحة لا تدين ولا تراءى وثمر البر يُزرع في السلام من الذين يفعلون السلام&#8221;.</p>
<p><strong>ويقدّم الإبركسيس</strong> صورة الكنيسة الواحدة في المحبّة والعطاء.</p>
<p>&#8220;وحدث أنهما اجتمعا معاً سنة كاملة في الكنيسة وعلما جمعاً كثيراً ودعى التلاميذ مسيحيين في أنطاكية أولاً، وأشار بالروح القدس أنه ستكون مجاعة شديدة في جميع المسكونة التي صارت أيضاً في أيام كلوديوس (قيصر) فحتّم التلاميذ بحسب ماتيسر لكل واحد منهم أن يرسلوا خدمة إلى الأخوة الساكنين في اليهودية ففعلوا ذلك وبعثوا إلى القسوس على أيدي برنابا وشاول&#8221;.</p>
<p><strong>وفي مزمور القدّاس</strong> مهما كانوا الأعداء أَشِدَّاء يخلّصنا الله منهم.</p>
<p>&#8220;يخلصني من أعدائي الأشداء ومن أيدي الذين يبغضونني&#8221;.</p>
<p><strong>ويختم إنجيل القدّاس</strong> بالكنيسة في العالم وسط الأمواج والرياح وابن الله يعلن سلطانه على كل القوّات المضادّة وينتهرها بكلمة من فيه.</p>
<p>&#8220;فحدثت ريح شديدة وكانت الأمواج تقع في السفينة حتى كادت السفينة تمتلئ &#8230; فقام وانتهر الريح وقال للبحر اسكت وابكم فسكنت الريح وصار هدوء عظيم ثم قال لهم ما بالكم خائفين ليس لكم إيمان بعد&#8221;.</p>
<h3><strong>ملخّص القراءات</strong></h3>
<table width="503">
<tbody>
<tr>
<td width="91">سفر الخروج</td>
<td width="412">خطٰة خلاص الله تستوعب وتتخطّي قساوة قلب المعاندين والمقاومين</td>
</tr>
<tr>
<td width="91">سفر يوئيل</td>
<td width="412">استعلان الخلاص في ملء الزمان وحلول الروح على كل المؤمنين</td>
</tr>
<tr>
<td width="91">سفر أيوب</td>
<td width="412">برّ العهد القديم قبل الناموس والوصايا</td>
</tr>
<tr>
<td width="91">سفر إشعياء</td>
<td width="412">حراسة وحماية الله للكنيسة المقدّسة</td>
</tr>
<tr>
<td width="91">مزمور باكر والقدّاس</td>
<td width="412">الله يعطينا النصرة على الأعداء مهما كانوا أشدّاء</td>
</tr>
<tr>
<td width="91">إنجيل باكر</td>
<td width="412">وليمة العهد الجديد تقبل الضعفاء والمساكين</td>
</tr>
<tr>
<td width="91">البولس والكاثوليكون</td>
<td width="412">سلوك الكنيسة المقدّسة ومناخها المملوء سلاماً</td>
</tr>
<tr>
<td width="91">الإبركسيس</td>
<td width="412">برّ الكنيسة يُعلن في المحبة والإهتمام الواحد والعطاء</td>
</tr>
<tr>
<td width="91">إنجيل القدّاس</td>
<td width="412">الكنيسة في العالم وسط الريح والأمواج وابن الله يعلن سلطانه الإلهي</td>
</tr>
</tbody>
</table>
<h3><strong>الكنيسة في قراءات اليوم</strong></h3>
<table width="503">
<tbody>
<tr>
<td width="91">سفر يوئيل</td>
<td width="412">نبوءة عن حلول الروح القدس يوم الخمسين وعن مجئ الرب الثاني</td>
</tr>
<tr>
<td width="91">الإبركسيس</td>
<td width="412">موهبة النبوءة في الكنيسة الأولى</td>
</tr>
</tbody>
</table>
<h3><strong>عظات آبائية</strong></h3>
<h4><strong>إنتهار الريح للعلَّامة أوريجانوس</strong></h4>
<p>لم تثر العاصفة من ذاتها بل طاعة لسلطانه: &#8220;المُصعِد السحاب من خزائنه&#8221; (مز ١٣٥ : ٧) ، &#8220;الذي وضع الرمل تُخومًا للبحر&#8221; (إر ٥ : ٢٢) &#8230; فبأمره وكوصيّته ارتفعت العاصفة في البحر&#8230; لكن قدر ما تعظُم الأمواج الثائرة ضدّ القارب الصغير، يصعد خوف التلاميذ، فتزداد رغبتهم في الخلاص بأعاجيب المخلّص. لكن المخلّص كان نائمًا، يا له من أمر عظيم وعجيب!</p>
<p>هل الذي لا ينام ينام الآن؟! الذي يدبّر السماء والأرض، هل ينام&#8230;؟</p>
<p>نعم إنه ينام بجسده البشري، لكنّه ساهر بلاهوته&#8230; لقد أظهر أنه حملَ جسدًا بشريًّا حقيقيًا&#8230;</p>
<p>لقد نام في جسده، وبلاهوته جعل البحر يضطرب كما أعاد إليه هدوءه، نام في جسده لكي يوقظ تلاميذه ويجعلهم ساهرين.</p>
<p>هكذا نحن أيضًا إذ لا ننام في نفوسنا ولا في فهمنا ولا في الحكمة بل نكون ساهرين على الدوام، نمجِّد الرب ونطلب منه خلاصنا بشغف&#8230;</p>
<p>حقًا إن كثيرين يبحرون مع الرب في قارب الإيمان، في صحن سفينة الكنيسة المقدّسة، وسط حياة مملوءة بالعواصف، إنه نائم في هدوء مقدّس يرقب صبركم واحتمالكم، متطلّعا إلى توبة الخطاة ورجوعهم إليه.</p>
<p>إذن، تعالوا إليه بشغف في صلاة دائمة، قائلين مع النبي: &#8220;استيقظ لماذا تتغافى يا رب؟ انتبه، لا ترفض إلى الأبد&#8230; قم عونًا واِفدنا من أجل اسمك&#8221; (مز ٤٤: ٢٣- ٢٦).</p>
<p>إذ يقوم يأمر الرياح، أي الأرواح الشيطانيّة الساكنة في الهواء والمثيرة لعواصف البحر، والتي تسبب الأمواج الشرّيرة القاتلة&#8230; وتثير اضطهادات ضدّ القدّيسين وتسقط عذابات على المؤمنين في المسيح، لكن الرب يأمر الكل، وينتهر كل الأشياء، فيلتزم كل شيء بما عليه يدبّر كل الأمور ويهب النفس والجسد سلامًا، ويرد للكنيسة سلامها ويُعيد للعالم الطمأنينة&#8230;</p>
<p>إنه يأمر البحر فلا يعصاه، ويحدّث الرياح والعواصف فتطيعه!</p>
<p>يأمر كل خليقته فلا تتعدّى ما يأمر به، إنّما جنس البشر وحدهم هؤلاء الذين نالوا كرامة الخلقة على مثاله ووُهِب لهم النطق والفهم، هؤلاء يقاومونه ولا يطيعونه. هم وحدهم يزدرون به! لذلك فإنهم يُدانون ويعاقَبون بعدله! بهذا صاروا أقل من الحيوانات العجماوات والأشياء الجامدة التي في العالم بلا إحساس ولا مشاعر!<a href="#_ftn2" name="_ftnref2">[2]</a></p>
<h4><strong>انتهار الريح للقديس كيرلس الأسكندري</strong></h4>
<p>(لو ۸ : ۲۲- ٢٥) &#8221; وفي أحد الأيام دخل سفينة هو وتلاميذه، فقال له: لنعبر إلی عبر البحيرة. فأقلعوا. وفيما هم سائرون نام. فنزل نؤء ريح في البحيرة، وكانوا يمتلؤن ماء وصاروا في خطر.</p>
<p>فتقدموا وأيقظوه قائلين: یا معلم، یا معلم، اننا نهلك!. فقام وانتهر الريح وتموج الماء، فانتهيا وصار هدو. ثم قال لهم : أین ایمانكم؟</p>
<p>فخافوا وتعجبوا قائلين فيما بينهم: من هو هذا؟ فإنه يأمر الرياح أيضاً والماء فتطيعه &#8220;.</p>
<p>تعالوا بنا مرة أخرى لكن ببوق المرنم نصرخ عالياً: &#8221; نبارك الرب في كل وقت. في كل حين تسبحته في فمي &#8221; (مز ٣٤ : ۱). لأنه دائماً يصنع أموراً عجيبة. فرصاً كثيرة متقاربة تلي الواحدة الأخرى لأجل تسبيحة وكل كلام يقصر عن أن يبلغ إلى قوته، وإلى جلالة المرتفع جداً فوق الكل. فبالحقيقة أن &#8221; مجد الرب يغطي على الكلام &#8221; (أم ٢٥ : ۲ س). ولكن لا ينبغي أن ننسى المجد الواجب له واللائق به. بل بالحري ينبغي أن نسرع بفرح ونقدم مثل تلك الثمار كما يتناسب مع قوتها، لأنه بالتأكيد ليس هناك شئ يستطيع إنسان أن يؤكد أنه أفضل من التسبيح، حتى لو كان الذي نستطيع أن نقدمه قليلاً. لذلك تعالوا فدعونا نسبح المسيح مخلص الكل، دعونا ننظر علو قدرته، وجلال سيادته الإلهية.</p>
<p>لأنه كان يبحر مع الرسل القديسين عبر البحر أو بالحري بحيرة طبرية، فصارت عاصفة قوية غير متوقعة على السفينة، وارتفعت الأمواج عالياً بتأثير الرياح، وامتلأ التلاميذ من خوف الموت، لأنهم خافوا خوفاً ليس بقليل رغم معرفتهم بالسباحة وقيادة السفن، ولم تكن تنقصهم الدراية باضطرابات الأمواج ولكنه بسبب عظمة الخطر فإن خوفهم الآن صار غير محتمل، ولم يعد لهم رجاء آخر للأمان سوى ذاك الذي هو رب القوات المسيح. فأيقظوه قائلین یا معلم یا معلم خلصنا فإننا نهلك، لأن الإنجيلي يقول إنه كان نائماً.</p>
<p>وأظهر أن هذا كما يبدو قد حدث بهدف حكيم. لأنه ربما كما أتصور، يقول واحد لماذا ينام؟</p>
<p>وهذا نجيب عليه أن الحدث كان مرتباً ليكون جيداً ومفيداً، فربما كانوا لا يطلبون منه المساعدة في الحال حينما بدأت العاصفة تهز السفينة، بل كما لو كان حينما وصل الخطر إلى قمته ومخاوف الموت صارت تزعج التلاميذ لكي تظهر قدرة سيادته الإلهية أكثر في تهدئة البحر الهائج وانتهار ثورات الريح وتغيير العاصفة إلى هدوء. ولكي تصير الحادثة هكذا وسيلة لتقدم التلاميذ الذين كانوا يبحرون معه، لذلك قصد أن ينام. ولكنهم كما قلت أيقظوه قائلين خلصنا فإننا نهلك، انظروا هنا أرجوكم إيمان قليل متحد بإيمان، لأنهم يؤمنون أنه يستطيع أن يخلص وينقذ من كل شر أولئك الذين يدعونه، لأنه لو لم يكن لهم إيمان راسخ به فإنهم بالتأكيد لما سألوا منه هذا. ومع ذلك إذ لهم إيمان قليل فإنهم يقولون خلصنا فإننا نهلك لأنه لم يكن أمراً ممكناً أو أمر يمكن أن يحدث لهم أن يهلكوا حينما يكونون مع ذلك الذي هو قادر على كل شئ. ثم كانت السفينة تهتز بشدة من عنف العاصفة وتكسر الأمواج وكان إيمان التلاميذ أيضاً يهتز مع السفينة كما لو كان بارتجاجات مماثلة.</p>
<p>ولكن المسيح الذي يمتد سلطانه على كل شئ قام حالاً، ومرة واحدة هدأ العاصفة ولجم ثورات الريح، وهدأ خوف التلاميذ وبذلك بالحري برهن بأعماله أنه هو الله، الذي ترتعد وترتجف أمامه كل المخلوقات والذي تخضع طبيعة العناصر نفسها لإيماءاته، لأنه انتهر الريح. ويقول معلمنا مرقس إن الطريقة التي تم بها الانتهار كانت بسلطان إلهي. لأنه يخبرنا أن ربنا قال للبحر &#8221; أسكت أبكم &#8221; (مر ٤ : ۳۹). فماذا يمكن أن يكون أعظم من ذلك في الجلال؟ أو ما الذي يمكن أن يساوي سموه؟ فالكلام جدير بالله وكذلك قوة الأمر الذي أصدره، حتى أننا يمكن أن ننطق التسبيح المكتوب في المزامير</p>
<p>&#8221; أنت متسلط على كبرياء البحر، عند ارتفاع لججه أنت تسكتها &#8221; (مز٨٩ : ۹). وهو نفسه أيضاً يقول في موضع ما بواسطة أحد الأنبياء القديسين &#8221; لماذا لا تخشون يقول الرب؟ أو لا ترتعدون من وجهي؟ أنا الذي وضعت الرمل تخوماً للبحر، فريضة أبدية لا يتعداها &#8221; (أر ٥ : ۲۲). لأن البحر خاضع لإرادة ذلك الذي خلق كل الخليقة، وهو كما لو كان موضوعاً تحت قدمي الخالق، ويغير تحركاته في كل الأوقات حسب مسرته الصالحة، مقدماً الخضوع لإرادته الربانية.</p>
<p>لذلك حينما هدأ المسيح العاصفة فهو أيضاً حول إيمان التلاميذ القديسين إلى الثقة -  هذا الإيمان الذي كان قد أهتز مع السفينة، لم يعد المسيح يسوع يسمح له أن يكون فيه شك. وأعطى في داخلهم كما لو كان هدوءاً مسكتاً أمواج إيمانهم الضعيف. لأنه قال &#8221; أين إيمانكم &#8220;. ويؤكد إنجيل آخر عنه أنه قال &#8221; ما بالكم خائفين يا قليلي الإيمان &#8221; (مت ۸: ٢٦). لأنه حينما يحل الخوف من الموت بدون توقع، فإنه يزعج أحياناً حتى العقل المؤسس جيداً ويعرضه إلى لوم قلة الإيمان. ويحدث مثل هذا التأثير أيضاً من أي اضطراب آخر يفوق احتمال أولئك الذين يجربون به. لأجل هذا السبب اقترب البعض مرة من المسيح وقالوا &#8221; زد ايماننا &#8221; (لو ۱۷: ٥). لأن الإنسان الذي لا يزال معرضاً للوم لأجل قلة الإيمان هو ناقص جداً عن ذاك الذي هو كامل في الإيمان. لأنه كما أن الذهب يمتحن في النار هكذا أيضاً يمتحن الإيمان بالتجارب، ولكن عقل الإنسان ضعيف وهو يحتاج إلى القوة والمعرفة من فوق لكي يكون في حالة حسنة، ولكي يستطيع أن يتخذ موقفاً راسخاً، ويكون قوياً، ويحتمل برجولة كل ما يحل به.</p>
<p>وهذا ما علمنا إياه المخلص قائلاً &#8221; بدوني لا تقدرون أن تفعلوا شيئاً &#8221; (يو ١٥ : ٥). ويعترف بولس الحكيم بنفس الأمر حيث يكتب &#8221; أستطيع كل شئ في المسيح الذي يقويني &#8221; (في ٤ : ١٤).</p>
<p>لذلك فالمخلص أجرى معجزات محولاً بسلطانه الكامل العاصفة إلى هدوء، ومهدئاً الريح الثائرة إلى سلام مستقر&#8230; ولكن التلاميذ إذ اندهشوا من الآية الإلهية تهامسوا الواحد مع الأخر قائلين: &#8221; من هو هذا فإنه يأمر حتى الريح والماء فتطيعه؟&#8221; فهل التلاميذ المباركين إذا يقولون الواحد للآخر، &#8220;من هو هذا&#8221;، بسبب أنهم لا يعرفونه، ولكن ألا يكون هذا أمراً غير معقول بالمرة؟ لأنهم عرفوا أن يسوع هو الله، وهو ابن الله لأن نثنائيل أيضاً اعترف بوضوح &#8221; يا معلم أنت ابن الله، أنت ملك إسرائيل&#8221; (يو ١ : ٤٩). وبطرس أيضاً، ذلك المزكي من بين كل الرسل حينما كانوا في قيصرية فيلبس وسألهم المسيح جميعاً قائلاً &#8221; من يقول الناس أني أنا ابن الإنسان؟ &#8221; (مت ١٦ : ١٣). فالبعض أجابوا &#8221; قوم يقولون ایلیا و أخرون ارميا أو واحد من الأنبياء &#8220;. حينئذ قدم بطرس اعترافاً بالإيمان صحيحاً وبلا لوم قائلا &#8221; أنت هو المسيح ابن الله الحي&#8221; (مت ١٦ : ١٦). والمسيح مدحه لأنه تكلم هكذا، وكرمه بأكاليل، وحسب التلميذ مستحقاً لكرامات فائقة، فقد قال له &#8221; طوبى لك يا سمعان بن يونا، لأن لحماً ودماً لم يعلن لك لكن أبي الذي في السموات &#8221; (مت ١٦ : ١٧). فكيف يستطيع بطرس وهو قد تعلم من الله ألا يعرف ذلك الذي قال عنه بوضوح أنه ابن الله الحي؟ فلم يكن التلاميذ إذا بسبب جهلهم بمجده قد قالوا &#8221; من هو هذا؟ &#8221; بل بالحرى من اندهاشهم من عظمة قوته، ومن سمو عظمة سيادته التي لا تقارن.</p>
<p>لأن اليهود التعساء أما بسبب جهلهم التام بسر المسيح، وأما بسبب عدم إعطائه أي اعتبار لشرهم العظيم، وبخوه وألقوا عليه حجارة حينما قال إن الله أباه. لأنهم تجاسروا حتى أن يقولوا &#8221; لماذا وأنت إنسان تجعل نفسك إلها؟ &#8221; (يو ١٠ : ۳۳). لأنهم لم يدركوا في ذهنهم</p>
<p>عمق السر أن الله كان في شكل منظور مثلنا، ورب الكل أخذ شكل العبد، والذي هو. مرتفع جداً كان في حالة التواضع، والذي يفوق كل إدراك عقلي ويعلو على كل المخلوقات كان مثلنا نحن البشر.</p>
<p>وإذ عرف التلاميذ هذا، اندهشوا من مجد لاهوته وإذ أدركوا اللاهوت حاضراً في المسيح، ومع ذلك رأوا أنه كان مثلنا، ومنظورا في الجسد، فإنهم يقولون &#8221; من هو هذا &#8220;؟ بدلاً من أن يقولوا ما أعظمه! وما هي طبيعته؟ وبأي قوة عظيمة وسلطان، وجلال، يأمر حتى المياه والريح فتطيعه؟ ويوجد أيضاً كثير يستدعي الإعجاب لأولئك الذين يسمعونه، لأن الخليقة تطيع كل ما يأمر به المسيح، وأي عذر يمكن أن ينفعنا، إذا لم نخضع نحن أيضاً لنفعل نفس الأمر؟ او من يستطيع أن ينقذ من النار أو الدينونة ذلك الذي يعصي ويتقسی واضعاً كما لو كان عنق عقله المتعالي ضد أوامر المسيح، والذي قلبه من غير الممكن أن يلين؟ لذلك فمن واجبنا ونحن نفهم أن كل تلك الأشياء التي أوجدها الله تتوافق تماماً مع مشيئته، أن نصير نحن مثل بقية الخليقة ونتحاشی العصيان كأمر يقود إلى الهلاك. إذا فلنخضع بالحرى لذلك الذي يدعونا للخلاص، وللرغبة في الحياة باستقامة ولياقة أي أن نحيا إنجيليا، فإنه بهذا سوف يملؤنا المسيح بالمواهب التي تأتي من فوق ومن ذاته، والذي به ومعه الله الأب التسبيح والسلطان مع الروح القدس إلى دهر الدهور أمين.<a href="#_ftn3" name="_ftnref3">[3]</a></p>
<h3><strong>عظات آباء وخدام معاصرون :</strong></h3>
<h4><strong>أين هو إيمانك ؟  لقداسة البابا تواضروس الثاني</strong></h4>
<p><strong>يوم الأربعاء من الأسبوع الرابع لقداسة البابا تواضروس الثاني</strong></p>
<p><strong>مر (٤ : ٣٥ – ٤١) أين هو إيمانك ؟</strong></p>
<p>الفقرة الإنجيلية التي نحن بصددها الآن تحوي سؤالا يقيم مسيرتك الروحية ، وتتكلم عن معجزة إسكات البحر والأمواج والنوء والريح العظيم ، والسؤال الذي طرحه ربنا يسوع المسيح هو : &#8221; ما بالكم خائفين ؟ كيف لا إيمان لكم ؟&#8221; وهذا سؤال واضح وصريح . هذه المعجزة تمت في شمال فلسطين في بحيرة لها ثلاثة أسماء في الكتاب المقدس تُسمى &#8221; بحيرة طبرية &#8221; نسبة لطيباريوس قيصر ، وتُسمى &#8221; بحر الجليل &#8221; لأنها تقع في إقليم الجليل ، وتُسمى &#8221; بحيرة جنيسارت &#8221; والتي تعني جنينة أو جنة ، وسارت بمعنى السرور أو جنة السرور ، والمنطقة التي تمت فيها المعجزة هي منطقة خضراء ، وبالتالي هي مثل الحدائق المشهورة بصفة عامة . المعجزة مذكورة في البشائر متى ومرقس ولوقا ، ولكننا نجد القديس مارمرقس يضيف إضافة صغيرة وهي أن السيد المسيح عندما دخل السفينة ونزل ونام يقول لنا الكتاب : &#8221; إنه نام على وسادة &#8220;، ويعتبر هو الوحيد الذي انفرد بهذه النقطة . عندما ركب السيد المسيح السفينة مع التلاميذ نزل إلى السفينة ونام ، وعندما حدث واشتدت الرياح وهاج البحر كان في تقليد اليهود قديما يقولون : &#8221; إن الشيطان يسكن في مياه البحر &#8220;، حتى أنهم كانوا يطلقون عليه &#8221; سلطان هذا الهواء &#8221; وهذا هو تفسيرالفكراليهودي ، ولكن عندما هاج البحر وشعر التلاميذ بالغرق مع وجود مشاعر الخوف والتي تُمثل أكبر المشكلات التي تواجه الإنسان حيث تتعدد صور الخوف وأشكاله ، فهناك خوف من المستقبل ، أو خوف من الامتحان ، أو الخوف من مكان عال ، والخوف من الأماكن المتسعة ، والخوف من الماء &#8230; وغيره ، والذي يأخذ شكل مرضى يعرف &#8221; بالفوبيا &#8220;، وبتعدد أشكال الخوف نلاحظ أنه يلازم ويصاحب حياة الإنسان . أما من في السفينة فقد خافوا من الموت وتحول الخوف إلى قلق واضطراب ، وقد يشتد الخوف ليصل بالإنسان إلى الموت بسبب توقف قلبه من الخوف ، لكن هؤلاء التلاميذ ولأن المسيح كان معهم وهم في السفينة ، يقول لنا الكتاب : &#8221; فأيقظوه وقالوا له : يا معلم أما يهمك أننا ئهلك ؟&#8221; (مر٤ : ٣٨). وعليك ملاحظة أن السيد المسيح كان معهم في السفينة ، وها هو معك في حياتك ، وفي كنيستك ، وفي بيتك …</p>
<p>عندما قال التلاميذ للسيد المسيح : &#8221; أما يهمك أننا نهلك ؟&#8221;، نجد أن السيد المسيح لم يرد عليهم ، ولكنه قام وانتهر الريح وقال للبحر : &#8221; اسكت ابكم &#8220;، فسكنت الريح وصار هدوء عظيم ، ثم بدأ يكلمهم قائلا : &#8221; ما بالكم خائفين ؟ كيف لا إيمان لكم ؟&#8221;. هذا الحديث يقودنا إلى أن الإيمان طاقة تفوق مدركات العقل ، والإيمان هنا أن الإنسان يستحضر الله دائماً ، في كل شيء وفي كل شخص وفي كل موضع ، هذا هو معنى الإيمان .</p>
<p>وعلى العكس نجد أن بغياب الإيمان يتولد الخوف ، ومن الخوف يأتي القلق ، ومن القلق يأتي الشك ، والشك ضد الإيمان ، لذلك من المهم أن يكون لديك مجموعة من الآيات التي تحفظها لتُذكرك دائماً بالإيمان ، فمثلاً : &#8221; غير المستطاع عند الناس مستطاع عند الله &#8221; (لو ۱۸ : ٢٧)، وأرجوك لا تظن أن هذه مجرد كلمات جميلة لكنها واقع ، فمهما كانت قدرة الإنسان إلا أنها دائماً محدودة فغير المستطاع عند الناس مستطاع عند الله القادر على كل شيء ، وعلينا أن نتذكر دائماً الآية المحفورة في التاريخ والمجربة &#8221; لو كان لكم إيمان مثل حبة خردل لكنتم تقولون لهذا الجبل : انتقل من هنا إلى هناك فينتقل &#8221; (مت ۱۷ : ٢٠)، وقد كان &#8230; فهذه الآية مجربة في الواقع وتاريخها محفور في القرن العاشر الميلادي ومسجلة في الكنيسة من خلال أيام الصوم الثلاثة المضافة على صوم الميلاد، فنحن نصوم ٤٣ يوماً منهم ثلاثة أيام نتذكر فيهم معجزة نقل جبل المقطم  في أيام البابا أبرام بن زرعة السرياني البطريرك ٦٢، وهذا هو معنى الإيمان الحقيقي .</p>
<p>+ مبادئ حياة الإيمان :</p>
<p>السيد المسيح في هذا اليوم يسألك : كيف لا إيمان لك ؟ لماذا تعيش دائماً في توتر وخوف من الغد ؟ لماذا توجد علامات استفهام على وجهك ؟ أليس لديك ثقة قوية في يد الله الذي يقود هذه المسكونة ؟ ألم تُخاطب الله دائما وتقول له : &#8221; فلنشكر صانع الخيرات &#8230; الضابط الكل الرب إلهنا ؟&#8221;، والله ضابط الكل أي أنه هو ضابط الحياة المرئية وغير المرئية ، لذلك لا بد أن أضع أمامك بعض المبادئ التي تجعلنا نعيش دائماً حياة الإيمان .</p>
<p>في كل قداس يقف الأب الكاهن ويصرخ أمام الشعب ويقول : &#8221; أين هي قلوبكم ؟&#8221;، نرد عليه قائلين : &#8221; هي عند الرب &#8220;، وهذا التعبير يدل على الإيمان الجميل ، فقلبي وكل حياتي هي في يد الله ، ونلاحظ أن الكاهن هنا يكلمنا بصيغة جماعية ، هذه ليست مجرد طقوس ولا مجرد كلمات ، لكنها حقائق نعيشها ، وفي كل مرة تحضر القداس أنت تؤكد هذه الحقيقة أن قلبك في يد الله وليس في مكان آخر .</p>
<p>مثال</p>
<p>يذكرنا التاريخ بزمن &#8221; البابا أثناسيوس الرسولي &#8221; عندما تعرض الإيمان المسيحي لهجمة وهرطقة أريوس ، وكاد العالم أن يصير أريوسياً ، وبدأت هذه البدعة تنتشر كانتشار الوباء ، ويقف أثناسيوس الرسولي ويقول : &#8221; أنا ضد العالم &#8220;، من أين لك بهذه القوة يا أثناسيوس ؟ قوته كانت من شعوره الداخلي أن قلبه في يد الله ، وبالرغم من وجود مصاعب ومتاعب وسقطات وضعفات في الحياة ، لكن أقول لك أن الآباء سبق واختبروا كل ذلك ، فاسمع داود النبي قائلاً : &#8221; إلى متى يا رب تنساني كل النسيان ! إلى متى تحجب وجهك عني !&#8221; (مز ۱۳ : ۱)، وداود كان قلبه حسب قلب الله . عليك أن تُدرك أنه لا يوجد سلام إلا في شخص السيد المسيح من خلال إيمانك الذي تستطيع أن تضعه في يد الله .</p>
<p>+ المغزى من المعجزة :</p>
<p>أ - ابعد عن الأمور المزعجة :</p>
<p>العاصفة أو البحر أو الأمواج قد تعني المعاني التالية : أن العاصفة مزعجة ومقلقة وتثير الخوف تماماً مثل الأخبار المزعجة ، والأحداث المزعجة ، والمواقع المزعجة عبر شبكة الإنترنت ، كذلك هناك طائفة من البشر نُطلق عليهم الأشخاص المزعجة كل هذا يضعف الإيمان ، فعليك أن تحترس وتتجنب كل هذا ، العاصفة دائماً في الخارج لكنها : قد تهدأ .</p>
<p>السيد المسيح أمرالبحر مباشرة ، مثلما قابل مريض بركة بيت حسدا ، وقال له : &#8221; قم احمل سريرك وامش &#8220;، وللوقت بحسب تعبير الإنجيل : &#8221; وللوقت قام في الحال &#8220;، وها هو &#8221; للوقت سكن البحر &#8221; فابعد عن الأمور المزعجة . لقد لاحظ  دارسو علوم الاجتماع أنه مع انتشار الميديا والقنوات وانتشار وسائل الاتصال بصفة عامة أدى ذلك إلى ضعف الإيمان ، وانصراف الإنسان بعيداً عن الله فصار يعيش حالة من القلق باستمرار ، حتى أن العيادات النفسية قد ازدحمت بالمرضى النفسانيين الذين أصيبوا بأعراض الاضطرابات النفسية .</p>
<p>ب- تدرب على تقوية الثقة بالله وبصدق مواعيده :</p>
<p>إن إنجيلك هو أقوى مصدر لتقوية إيمانك ، فإن كنت بعيداً عن الإنجيل فأنت بعيد عن الحياة داخل الإنجيل ، والأمثلة كثيرة على ذلك:</p>
<p>۱ وعد الله لآدم وحواء :</p>
<p>في يوم من الأيام وعد الله آدم وحواء بأن : &#8221; نسل المرأة يسحق رأس الحية &#8220;، وتحقق الوعد ، وفي ملء الزمان أرسل الله ابنه مولوداً من امرأة .</p>
<p>۲ وعد الله لإبراهيم :</p>
<p>وعد الله إبراهيم أبو الآباء بأن يعطيه نسلاً حتى أن سارة لم تكن تصدق هذا الوعد وضحكت ، ولذلك سمي الابن بإسحاق الذي معناه &#8221; الضحك &#8220;.</p>
<p>٣- وعد أليصابات وزكريا الكاهن ، وقد تحقق الوعد .</p>
<p>٤ وعد المسيح للتلاميذ :</p>
<p>لقد قضى بطرس ومن كان معه ليلة يحاولون فيها أن يصطادوا سمكا ولكنها كانت ليلة فاشلة ، ثم يأتي السيد المسيح ويقول لهم أن يطرحوا الشباك مرة أخرى ، إلا إننا نجد بطرس يقول له : &#8221; يا معلم قد تعبنا الليل كله ولم تأخذ شيئاً . ولكن على كلمتك ألقي الشبكة &#8221; (لو ٥: ٥)  هذه كانت كلمة الوعد ، وتكون النتيجة أن تمتلئ الشباك بصيد وفير حتى أن السفن كادت أن تغرق ، هذا كله كان نتيجة إيمانهم .الإيمان يمنحك بركات عديدة في حياتك .</p>
<p>٥- وعد الله لإيليا النبي : الله لإيليا النبي وقت المجاعة بأنه سيعوله ؛ لأنه كان واثقاً في وعود الله ،  أرسل إليه امرأة صرفة صيدا وتكون سبب لبقائه حياً بقليل من الزيت والدقيق .</p>
<p>٦- النّساك والبراري : عاش النساك في الجبال والبراري والمغاير وشقوق الأرض وهذا ما نُسميه &#8221; بالسياحة الروحية &#8220;، وهنا نسأل : ما الذي كان يقويهم ويسندهم ؟ نرى أن إيمانهم الشديد هو السبب في ذلك ، فنجد مثلا في قصة القديس الأنبا بولا يقف أنبا أنطونيوس ويطلب من الله أن يعينه ويرشده في كيفية دفن جسد الأنبا بولا، ونجد الله يدبر أسدين ليحفرا في الصخر فهو صاحب التدبير .</p>
<p>٧- الشهداء والإيمان :</p>
<p>الشهداء عبر التاريخ الطويل وما بهم من ثبات أمام الاضطهادات ، فقد كان لديهم طاقة إيمانية حقيقية بها استهانوا بالحياة الأرضية متمسكين بتعليم القديس بولس الرسول في رسالة رومية &#8221; من سيفصلنا عن محبة المسيح ؟&#8221; (رو ٨ : ٣٥).  لذلك درب نفسك على تقوية الثقة بالله في مواعيده وفي وعوده ، اقرأ مثل هذه القصص الموجودة في الكتاب المقدس وكيف يقود الله العالم ، ولا تجعل أفكار معينة تسرق إيمانك . السيد المسيح كان موجودا مع التلاميذ في السفينة ، لكنهم لم يتذكروا ذلك وانشغلوا بالصيد وقيادة المركب والبحر وتناسوا أنه في وسطهم ، وعندما ألقوا همهم عليه وسلموه زمام الأمور صار هدوء في البحر ، ولذلك نقول : &#8221; إن الله هو صاحب التدبير &#8220;، ولا بد أن تعيش على هذه الحقيقة وهذا الإيمان ، فالله يهتم بنا وينتظر منك ان تطلبه وتدعوه وتشعر بوجوده في حياتك . قد يهمل وينسى بعض الأشخاص وجود المسيح في حياتهم بالأيام والشهور ، وعندما يتعرض أحدهم لأية ضيقة يبدأ يتذكر الله ، لكن نقول إنه ما زال صوت المسيح لنا جميعاً ما بالكم خائفين ؟! كيف لا إيمان لكم ؟! إن المسيح عندما يوجد في الداخل يعطي سلاماً وأماناً وطمأنينة وهو يستمع . وقصص الإيمان التي تمر علينا كثيرة . وعندما تصلي في القداسات ونقول : &#8221; والساكنين فيها بإيمان الله &#8220;، فيصير الإيمان هو زادهم وكل حياتهم ، وكل ما تنمو في حياة المحبة يزداد إيمانك أيضاً .</p>
<p>القديس بولس الرسول يقول : &#8221; الإيمان العامل بالمحبة &#8221; (غل ٥ : ٦)، ويقول القديس يوحنا في رسالته : &#8221; لا خوف في المحبة ، بل المحبة الكاملة تطرح الخوف إلى خارج &#8230;&#8221; (١ يو ٤ : ١٨). كل ما تحب ربنا كتير كل ما يصير هو محبوبك ، هو القريب والأقرب إلى قلبك ، وهو اعتمادك والساكن بداخلك ، هو الكائن الحي الذي تكلمه كل يوم بمشاعرك ، كل ما تقترب من شخص المسيح تطرد الخوف منك فيزداد الإيمان ، وكل ما يزيد الإيمان يقل الخوف والعكس صحيح ، لذلك في التقليد الشعبي نقول عبارة : &#8221; ربنا معاك &#8220;، وأرجوك لا تستهن بهذه الكلمات البسيطة ؛ لأن ربنا مثلما كان مع التلاميذ في السفينة هو معك في مركب حياتك وهو يستطيع أن يسندك ، ويستطيع أن يسكت الأمواج من حولك ، فيصير البحر كله في هدوء عظيم .</p>
<p>عبارة &#8221; ربنا معاك &#8221; عبارة قوية لا بد أن تشعربها داخلك فهو الساكن في قلبك ، وفي كل يوم تقف أمامه تقول له : &#8221; يا رب اجعلني أشعر بحضورك في قلبي ، اجعلني أشعر أنك دائماً معي &#8220;، ومن هنا جاء تقليد مهما جدا في الكنيسة هو &#8221; الصلاة السهمية &#8220;: &#8221; يا ربي يسوع المسيح ارحمني أنا الخاطئ &#8220;، ويعتبر هذا التعبير هو أقوى تعبير خاصة عندما تكرره مرات كثيرة فهو يعطيك نوعاً من الانطباع الداخلي أن المسيح معك لتقول مع داود النبي : &#8221; إذا سرت في وادي ظل الموت لا أخاف شراً لأنك أنت (مز ٢٣ : ٤) .<a href="#_ftn4" name="_ftnref4">[4]</a></p>
<h4><strong>شرح الموسوعة الكنسية لإنجيل القدَّاس :</strong></h4>
<p>دخل المسيح السفينة ليعبر بحيرة طبرية، أي بحر الجليل إلى الجانب الشرقى، ونام داخل السفينة.</p>
<p>&#8220;اضطراب عظيم&#8221;: كانت بحيرة طبرية منخفضة كثيرًا عن سطح البحر، ومحاطة بالجبال، وبالتالي معرضة لرياح فجائية تهيّج أمواجها.</p>
<p>&#8220;نائما&#8221;: بالإضافة إلى أن نوم المسيح يؤكد ناسوته، وحاجته إلى النوم والراحة، إلا أنه كان نوما مقصودا حتى يمتحن إيمان تلاميذه، ومن ناجية أخرى، يَظهر عجزهم، رغم خبرتهم في الصيد وركوب البحر، فيشعروا بالحاجة لله المخلّص.</p>
<p>واجهت السفينة رياحا شديدة، وارتفعت الأمواج حتى غطتها، وكادت أن تغرق.</p>
<p>وتشير الرياح للتجارب، والأمواج للعالم المضطرب، والسفينة لحياتنا التي يسكنها المسيح، ولكنه نائم، أي غير عامل فينا، لعدم التجائنا إليه، واعتمادنا على قوتنا الذاتية التي يظهر عجزها أمام قسوة حروب إبليس.</p>
<p>عدد ٢٥ : أخيرا، إذ تأكد التلاميذ من عجزهم، التجأوا للمسيح، معلنين أنهم هالكون، لضعفهم أمام عنف الرياح والأمواج، طالبين منه أن ينجيهم.</p>
<p>عدد ٢٦ :  قبل أن يُظهر المسيح سلطانه على الطبيعة، وبخ ضعف إيمانهم. فبعدما رأوا معجزاته، كان ينبغي أن يثقوا ويؤمنوا بلاهوته، فلا يخافوا من الأمواج؛ ثم أمر الرياح والأمواج فهدأت.</p>
<p>&#8220;قليلى الإيمان&#8221;: إن لهم إيمان ولذلك التجأوا إليه، ولكنه قليل، بدليل خوفهم وعدم ثقتهم في قدرته الكاملة على إنقاذهم.</p>
<p>&#8220;انتهر&#8221;: إعلان للاهوت المسيح وسلطانه على الطبيعة، كأنها شخص يأمره فيطيعه.</p>
<p>&#8220;هُدُوٌّ عظيم&#8221;: يُظهر قوة المعجزة في سكون الرياح والأمواج حالا وتماما.</p>
<p>† إذا قابلتك تجربة أو سقطت في خطية، فأسرع لتوقظ المسيح النائم فيك بصلاة متضرعة واتضاع، فينجيك ويعيد إليك سلامك.</p>
<p>عدد ٢٧ : أمام سلطان المسيح على الطبيعة، وظهور قوة لاهوته، تعجب التلاميذ، وبدأ إيمانهم ينمو، ومعرفتهم بالمسيح الإله الحقيقي تزيد.<a href="#_ftn5" name="_ftnref5">[5]</a></p>
<h3>المراجع</h3>
<p><a href="#_ftnref1" name="_ftn1">[1]</a> - <sup>المسيح ورسالته - ص 39- مؤسسة القديس انطونيوس للدراسات الآبائية</sup><sup>.</sup></p>
<p><a href="#_ftnref2" name="_ftn2">[2]</a> - المرجع : تفسير إنجيل متي الإصحاح الثامن - القمص تادرس يعقوب ملطي</p>
<p><a href="#_ftnref3" name="_ftn3">[3]</a> - المرجع : كتاب تفسير إنجيل لوقا للقديس كيرلس الأسكندري ( صفحة ١٩٩ - ٢٠٣ ) - ترجمة دكتور نصحي عبد الشهيد</p>
<p><a href="#_ftnref4" name="_ftn4">[4]</a> -  المرجع : كتاب إختبرني يا الله صفحة ٢١١ - قداسة البابا تواضروس الثاني</p>
<p><a href="#_ftnref5" name="_ftn5">[5]</a> - المرجع : الموسوعة الكنسية لتفسير العهد الجديد - تفسير إنجيل متي الإصحاح الثامن</p>

      {% endcreateArticleAccordions %}
    </section>
  {% endblock %}
