---
layout: 'layouts/reading.html'
title: 'قراءات يوم الخميس من الأسبوع الرابع'
tags: 'great-lent'
permalink: /articles/great-lent/4-4.html
---
  {% block content %}
    <section id="readings">
      <ul>
      {% if 'undefined' != 'undefined' %}
      
      {% else %}
      {% if 'null' != 'null' %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">العشية</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeVespers '' '' %}
          </div>
        </div>
      </li>
      {% endif %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">باكر</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeMatins '19.12:7-7' '41.3:7-12' '1.32:1-30@23.28:14-22@18.20:1-29@27.6:1-27' %}
          </div>
        </div>
      </li>
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <h3 class="flex items-center justify-between">
            <span class="kufi">القداس</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </h3>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeLitugy '46.12:31*@+46.13:1-13*@+46.14:1' '59.4:11-5:3' '44.4:19-31' '19.48:10-11' '42.18:35-43' %}
          </div>
        </div>
      </li>

      {% endif %}
        </ul>
    </section>
    <section id="article">
      <h3 class="mt-8 mb-4 heading-explain">شرح القراءات</h3>
      {% createArticleAccordions %}
        <p>&#8220;مَنِ الَّذِي يَسْلُكُ فِي الظُّلُمَاتِ وَلاَ نُورَ لَهُ؟ فَلْيَتَّكِلْ عَلَى اسْمِ الرَّبِّ وَيَسْتَنِدْ إِلَى إِلهِهِ.&#8221; (إش٥٠: ١٠)</p>
<p>[هؤلاء الذين شهد لهم انه من قبل إيمانهم وصبرهم فلنسرع في طريق جهادهم وننظر إلي رئيس الإيمان ومكمله يسوع] (ذكصولوجية لبُّاس الصليب)</p>
<p>[إن الكنيسة ليس لها في مقابل اضطهاد التنين سوي جناحي النسر العظيم (رؤ١٢: ١٤) يعني إيماننا بيسوع المسيح هذا الذي فرد يديه المقدستين على الخشبة وكأنه بذلك بسط جناحيه يميناً ويساراً داعياً إليه جميع المؤمنين به ومظللاً عليهم (كما تجمع الدجاجة فراخها)] (القديس هيبوليتس)<a href="#_ftn1" name="_ftnref1">[1]</a></p>
<h3>شواهد القراءات</h3>
<p>(تك٣٢: ١- ٣٠)، (إش٢٨: ١٤- ٢٢)، (أي٢٠: ١- الخ)، (دا٦: ١- ٢٧)، (مز١١: ٩)، (مر٣: ٧- ١٢)، (١كو١٢: ٣١- الخ، ص١٣، ص١٤: ١)، (يع٤: ١١- الخ، ص٥: ١- ٣)، (أع٤: ١٩- ٣١)، (مز٤٧: ٩،٨)، (لو١٨: ٣٥- الخ)</p>
<h3>شرح القراءات</h3>
<p><strong>تتكلّم قراءات هذا اليوم</strong> عن برّ الإيمان الحي لكل مسيحي.</p>
<p><strong>تبدأ القراءات بسفر التكوين</strong> بأجمل مثال لبرّ الإيمان لكل شخص يسعى في طريق الله، صلاة يعقوب أب الآباء بل صراعه مع الله حتى طلوع الفجر، وينال أعظم بركة ينالها إنسان أن يرى الله - قدر سماح الله للبشرية الضعيفة</p>
<p>&#8220;وبقي يعقوب وحده وصارعه رجل حتى طلوع الفجر، فقال لا أطلقك إن لم تباركني، فقال له ما اسمك أما هو فقال يعقوب فقال له لا يدعى اسمك يعقوب بل يكون اسمك اسرائيل لأنك جاهدت مع الله وقدرت مع الناس، وباركه الله لأني رأيت الله وجهاً إلي وجه&#8221;.</p>
<p><strong>وتعلن نبوءة إشعياء</strong> عن ابن الله رأس الزاوية وحجر العهد الجديد وقيمة إيمان كل شخص به.</p>
<p>&#8220;لذلك هذا مايقوله السيد الرب: ها أنذا أؤسّس في صهيون حجراً كاملاً مختاراً رأس زاوية كريماً أساساً موثوقاً فمن آمن به فلن يُخزى واجعل للقضاء رجاء وللرحمة مقداراً&#8221;.</p>
<p><strong>ويحذّر سفر أيوب</strong> من الجانب الآخر السلبي لعدم الإيمان والتمسّك ببرّ الله، فإذا كانت نبوءة إشعياء قدَّمت حجر الزاوية والإيمان به، فسفر أيوب يعلن خطورة ومصير عدم الإيمان وحياة الإنسان لذاته بعيداً عن برّ الله.</p>
<p>&#8220;فإنه ولو بلغ السماء ارتفاعه ومست هامته السحاب وظن أنه ثابت فحينئذ يهلك إلي الأبد، فيقول الذين يعرفونه أين هو يطير كالحلم فلا يوجد ويضمحل كرؤيا الليل&#8221;.</p>
<p><strong>ويقدّم سفر دانيال</strong> صورة مشرقة للمؤمن فبرغم هياج المعاندين والمقاومين ورغم أن الضيقة جاءت بسبب الإيمان فإنه نجا منها أيضاً بسبب إيمانه القويّ بإلهه.</p>
<p>&#8220;إن إلهي أرسل ملاكه فسد أفواه الأسود فلم تهلكني لأنه وجدني زكياً في نفسي أمامه وأمامك أيضاً أيها الملك لم أصنع سوء حينئذ صنع الملك فرحاً عظيماً له وأمر أن يصعد دانيال من الجب فأصعد دانيال من الجب ولم يوجد فيه أذى لأنه آمن بإلهه&#8221;.</p>
<p><strong>وتفتخر النفس في مزمور باكر</strong> بنجاة الله.</p>
<p>&#8220;وأنت يا رب تنجينا وتحفظنا من هذا الجيل وإلي الدهر&#8221;.</p>
<p><strong>ويعظّم إنجيل باكر</strong> قيمة الإيمان في مدى ثقة المرضى بقوّة شفاء الرب لهم.</p>
<p>&#8220;وتبعه جمع كثير من الجليل ومن اليهودية ومن أورشليم ومن أدومية ومن عبر الأردن وجمع آخر كثير من أهل صور وصيدا، لأنه كان قد شفى كثيرين حتى كانوا يتهافتون عليه ليلمسه كل من به داء&#8221;.</p>
<p><strong>ويربط البولس بين </strong>الإيمان والرجاء والمحبّة وكأن المحبّة هى التي تعلن وتثبت برّ الإيمان وبدونها يصير بلا قيمة حتى لو كان الإنسان عنده مواهب عظمى.</p>
<p>&#8220;ولكن تنافسوا في المواهب العظمى وأنا أريكم طريقاً أفضل جداً، وإن كان لي كل الايمان حتى أنقل الجبال ولكن ليس لي محبّة فلست شيئاً&#8221;.</p>
<p><strong>ويكشف الكاثوليكون</strong> عن ثلاث أمراض تقتل برّ الإيمان في سلوكنا المسيحي، الإغتياب والإفتخار والظلم.</p>
<p>&#8220;لا تغتابوا بعضكم بعضاً يا إخوتي فإن الذي يغتاب أخاه أو يدين أخاه يغتاب الناموس ويدين الناموس، وأما الآن تفتخرون بتعظمكم وكل افتخار مثل هذا شرير، ذهبكم وفضتكم قد صدئا وصدأهما يكون شهادة عليكم&#8221;.</p>
<p><strong>ويعلن الإبركسيس</strong> قوّة وفاعلية الصلاة بإسم يسوع وإيمان المؤمنين أن كل هياج العالم معروف وبحدود مسموحة من ضابط الكل.</p>
<p>&#8220;ليصنعوا كما سبقت فحدّدته يدك ومشورتك أن يكون فالآن يا رب أنظر إلى تهديداتهم وهب لعبيدك أن ينادوا بكلمتك بكل مجاهرة باسطاً يدك لإجراء الشفاء والآيات والعجائب باسم فتاك القدوس يسوع، فلما صلوا تزلزل الموضع الذي كانوا مجتمعين فيه وامتلأوا جميعهم من الروح القدس وطفقوا ينادون بكلمة الله بمجاهرة&#8221;.</p>
<p><strong>لذلك تتهلّل النفوس</strong> <strong>في مزمور القدّاس</strong> لثقتها في عدل الله وأحكامه وتدبيراته &#8220;يمينك مملوءة عدلاً فليفرح جبل صهيون ولتتهلل بنات اليهودية من أجل أحكامك يا رب&#8221;.</p>
<p><strong>ويختم إنجيل القدّاس</strong> بإصرار الإيمان وثباته رغم إنتهار المتقدمين.</p>
<p>&#8220;فصاح قائلاً يا يسوع ابن داود ارحمني فزجره المتقدمون ليسكت أما هو فكان يزداد صياحا، يا ابن داود ارحمني، فلما قرب منه سأله: ماذا تريد أن أصنع بك فقال له، يا رب أن أبصر فقال له يسوع أبصر إيمانك خلصك فلوقته أبصر وتبعه وهو يمجد الله&#8221;.</p>
<h3>ملخّص القراءات</h3>
<table width="503">
<tbody>
<tr>
<td width="128">سفر التكوين</td>
<td width="374">صراع يعقوب حتى الفجر مثال لبرّ الإيمان في الصلاة</td>
</tr>
<tr>
<td width="128">سفر إشعياء</td>
<td width="374">ابن الله هو حجر الزاوية ومن يُؤْمِن به لايخزى</td>
</tr>
<tr>
<td width="128">سفر أيوب</td>
<td width="374">حياة الإنسان دون برّ الله يقوده للهلاك</td>
</tr>
<tr>
<td width="128">سفر دانيال</td>
<td width="374">الإيمان القويّ ينجّي من الموت</td>
</tr>
<tr>
<td width="128">مزمور باكر والقدّاس</td>
<td width="374">تفرح النفس بنجاه الله وتثق في أحكامه العادلة</td>
</tr>
<tr>
<td width="128">البولس</td>
<td width="374">المحبٌة المسيحية تعلن برّ الإيمان</td>
</tr>
<tr>
<td width="128">الكاثوليكون</td>
<td width="374">الإغتياب والإفتخار والظلم تعلن غياب برّ الإيمان</td>
</tr>
<tr>
<td width="128">الإبركسيس</td>
<td width="374">فاعلية الصلاة بإسم يسوع وقوّة الإسم أمام تهديدات العالم</td>
</tr>
<tr>
<td width="128">إنجيل القدّاس</td>
<td width="374">إصرار الإيمان والطلب بقوّة برغم مقاومات المحيطين</td>
</tr>
</tbody>
</table>
<h3> الكنيسة في قراءات اليوم</h3>
<table width="503">
<tbody>
<tr>
<td width="129">سفر التكوين</td>
<td width="374">الكنيسة بيت الملائكة</td>
</tr>
<tr>
<td width="129">سفر إشعياء</td>
<td width="374">المسيح حجر الزاوية</td>
</tr>
<tr>
<td width="129">سفر دانيال</td>
<td width="374">الصلاة بسجود</td>
</tr>
<tr>
<td width="129">إنجيل باكر</td>
<td width="374">سلطان ابن الله على الأمراض والأرواح الشرّيرة</td>
</tr>
<tr>
<td width="129">البولس</td>
<td width="374">مواهب الروح وثمار الروح</td>
</tr>
<tr>
<td width="129">الإبركسيس</td>
<td width="374">الإمتلاء من الروح</td>
</tr>
</tbody>
</table>
<h3>عظات آبائية</h3>
<h4>شفاء أعمى قرب أريحا للقديس كيرلس الأسكندري</h4>
<p>(لو ١٨: ٣٥ – ٤٣): &#8221; ولما اقترب من أريحا كان أعمي جالساً على الطريق يستعطي. فلما سمع الجمع مجتازاً سأل: ما عسى أن يكون هذا؟. فأخبروه أن يسوع الناصري مجاز.</p>
<p>فصرخ: یا یسوع ابن داود ارحمني!. فانتهره المتقدمون ليسكت أما هو فصرخ أكثر كثيراً يا ابن داود ارحمني. فوقف يسوع وأمر أن يقدم إليه. ولما اقترب سأله: ماذا تريد أن أفعل بك؟ فقال: يا سيد أن أبصر. فقال له يسوع: أبصر. ايمانك قد شفاك . وفي الحال أبصر وتبعة وهو يمجد الله. وجميع الشعب إذ رأوا سبحوا الله &#8220;.</p>
<p>كل من ليس له فهم بعد ولم يقبل الإيمان بالمسيح، يحق أن تقال له الكلمات التي نطق بها داود: &#8221; هلموا وانظروا أعمال الله، الآيات التي جعلها على الأرض&#8221; (مز ٤٥ : ٨ س). لأنه صنع آيات ليس بحسب نمط بشري، مع أنه كان في الهيئة إنساناً مثلنا، لكنه صنعها بالأحرى بسلطان إلهي لأنه كان إلهاً وهو في الهيئة مثلنا، إذ أنه لم يتغير عما كان عليه، كما يبرهن لنا مغزی النص الذي قرئ الآن من الإنجيل. لأنه يقول ان المخلص &#8221; كان مجتازاً فصرخ انسان أعمى وقال: يا ابن داود ارحمني&#8221;. فلنفحص تعبير ذلك الإنسان الذي فقد بصره، إذ هو أمر لا يمكن أن نتجاوزه دون فحص، فربما بفحص ما قيل سنحصل على شيء له منفعة عظيمة جداً بالنسبة لنا.</p>
<p>فبأي صفة يوجه الأعمى صلاته للمسيح؟ هل كما إلى مجرد إنسان، بحسب ثرثرة اليهود الذين رجموه بحجارة قائلين في حماقتهم: &#8220;</p>
<p> لسنا نرجمك لأجل عمل حسن بل لأجل تجديف، فانك وأنت انسان تجعل نفسك إلها؟ &#8221; (يو ١٠ : ٣٣).</p>
<p>لكن ألم يكن واجباً أن يفهم الأعمى أن استعادة البصر لا يمكن أن تتم بوسائط بشرية، بل تحتاج على العكس إلى قوة إلهية وسلطان لا يمتلكه إلا الله وحده؟ لأن ليس شيء مهما كان، غير ممكن لدي الله.</p>
<p> لذلك فإنه تقدم إليه كما إلى الله الكلي القدرة؛ لكن كيف يدعوه ابن داود؟ وبماذا يمكننا أن نجيب على هذا؟ على ما أظن ربما يمكن أن نشرح الأمر هكذا: حيث إن الأعمى تربي في الديانة اليهودية وكان من ذلك الجنس بالمولد، فلم تغب عن معرفته بالطبع النبوات الموجودة في الناموس والأنبياء القديسين بخصوص المسيح. فقد سمعهم ينشدون من كتاب المزامير تلك العبارة: &#8221; أقسم الرب لداود حقاً ولا يخلف، لأجعلن من ثمرة بطنك على كرسيك &#8221; (مز ۱٣۱ : ١١ س)، وعرف أيضاً أن النبي الطوباوي إشعياء قال: &#8221; ويخرج قضيب من جذع يسی وينبت غصن من أصوله &#8221; (إش ۱١ : ١)، وأيضاً: &#8221; هوذا العذراء تحبل وتلد ابناً ويدعون اسمه عمانوئيل &#8221; (إش ٧ : ١٤). لذلك فالأعمى كإنسان أمن في الحال أن الكلمة وهو الله، هو الذي قبل بإرادته أن يولد بالجسد من العذراء القديسة، فاقترب منه على إنه الله وقال: &#8221; يا ابن داود ارحمني &#8220;. لأن المسيح شهد بأن هذا هو تفكير الأعمى عندما قدم توسله، بقوله له: &#8221; إيمانك قد شفاك &#8220;.</p>
<p>إذن فليخز الذين يظنون أنفسهم أنهم ليسوا عمياناً مع أنهم كما يقول الحكيم بطرس عميان وقصيرو البصر (انظر ٢ بط ١ : ٩)، لأنهم يقسمون الرب الواحد يسوع المسيح إلى اثنين، الذي هو نفسه كلمة الأب ( لكنه هو الذي صار إنساناً وتجسد، لأنهم ينكرون أن الذي ولد من نسل داود هو حقاً ابن الله الأب؛ لأنهم يقولون إن الولادة هي أمر يخص الإنسان فقط ويرفضون في جهلهم العظيم أنه صار جسداً )، ويحتقرون ذلك التدبير الثمين والذي لا ينطق به والذي به تم فداؤنا، بل وربما يتكلمون بحماقة ضد الابن الوحيد الجنس، لأنه أخلى ذاته ونزل إلى قامة الطبيعة البشرية، وكان مطيعاً للأب حتى الموت، لكي بموته بالجسد يمكنه أن يبطل الموت، ولكي يمحو الفساد وأن يطرح خطية العالم بعيداً. ليت أمثال هؤلاء يقتدون بهذا الأعمى لأنه تقدم إلى المسيح مخلص الكل مؤمناً أنه الله؛ ودعاه الرب وابن الطوباوي داود، وشهد أيضاً لمجده بسؤاله إياه أن يعمل عملاً لا يستطيع أن يتممه إلا الله وحده، ويا ليتهم يعجبون أيضاً بالثبات الذي به اعترف بالمخلص، لأن هناك بعض الذين انتهروه عندما اعترف بإيمانه، ولكنه لم يستسلم ولم يتوقف عن صراخه بل أبكم جهل أولئك الذين كانوا ينتهرونه ليسكت. لذلك فعن صواب أكرمه المسيح، إذ دعاه وأمره أن يقترب منه. افهموا من هذا، أيها الأحباء، أن الإيمان يضعنا نحن أيضاً في حضرة المسيح، وهكذا يدخلنا إلى الله لكي نحسب نحن أيضاً أهلاً لكلامه، لأنه حينما أحضر الأعمى إليه سأله قائلاً: &#8221; ماذا تريد أن أفعل بك؟&#8221;</p>
<p> فهل كان المخلص يجهل ماذا يريد الرجل؟ لأنه كان واضحاً أنه يطلب الخلاص من المرض الذي أصابه؟ كيف يمكن أن يكون هناك أي شك في هذا؟ لذلك فقد سأله المسيح عن قصد، لكي ما يتعلم أولئك الذين كانوا واقفين حوله والمصاحبين له أنه لم يكن يطلب مالاً، بل بالحري لأنه يعتبره إلهاً، فإنه سأله عملاً إلهياً، عملاً مناسباً للطبيعة التي تفوق الكل.</p>
<p>إذن، فحينما أعلن عن طبيعة طلبه بقوله: يا سيد أن أبصر، آنذاك، نعم! آنذاك، كانت الكلمات التي قالها المسيح بمثابة توبيخ لليهود لعدم إيمانهم، لأنه بسلطان فائق قال: &#8221; أبصر &#8220;. مدهش هو هذا التعبير! وهو بالحق جدير بالله ويفوق كل حدود طبيعة البشر! أي من الأنبياء القديسين تكلم بمثل هذا؟ أو أستخدم كلمات بمثل هذا السلطان العظيم؟ إذن لاحظوا أن المسيح لم يطلب من آخر القوة على استعادة البصر لذاك الذي كان محروماً من النظر، ولا هو أجرى المعجزة الإلهية بفعل الصلاة إلى الله، بل نسبها بالأحرى إلى قوته الذاتية، وبإرادته القادرة على كل شيء صنع ما أراده، إنه قال له: &#8221; أبصر&#8221;، وكان الأمر بالإبصار نوراً لمن كان أعمى لأنه كان أمراً من ذاك الذي هو النور الحقيقي .</p>
<p> والآن وقد تخلص من عماه، فهل أهمل واجب حبه للمسيح؟ بالتأكيد لا، إذ يقول (النص) إنه &#8221; تبعه&#8221; وقدم له المجد اللائق بالله، لذلك فإنه تخلص من عمي مزدوج، إذ أفلت ليس فقط من عمى الجسد، بل أيضاً من عمى الذهن والقلب، لأنه ما كان ليمجده كإله لو لم يكن قد اقتنى البصر الروحي. علاوة على ذلك فقد صار واسطة لأولئك الآخرين أن يعطوا للمسيح المجد أيضاً، إذ يقول ( النص )، وجميع الشعب سبحوا الله. [ لذلك من الواضح من هذا عظم إثم الكتبة والفريسيين، لأنه انتهرهم بسبب رفضهم أن يقبلوه، رغم المعجزات التي صنعها، بينما الجموع مجدته كإله بسبب الأفعال التي صنعها، وهم من جانبهم ( أي الفريسيون ) لم يقدموا له هذا التمجيد ]، بل جعلوا المعجزة فرصة للإهانة والاتهام، لأنهم قالوا إن الرب عمل المعجزات ببعلزبول، وبتصرفهم هكذا صاروا سبب هلاك الشعب الذي كان تحت قيادتهم، لذلك احتج الرب علی خبثهم بصوت النبي القائل: &#8221; ويل للرعاة الذين يملكون ويبددون غنم میراثی &#8221; (أر ٢٣ : ١س)، وأيضاً: &#8221; لأن الرعاة صاروا أغبياء ولم يطلبوا الرب من أجل ذلك لم يفهم أحد من الرعية فتبددت &#8221; (أر ١٠ : ٢١ س).</p>
<p>وهكذا كان حالهم، أما نحن فإننا تحت قيادة رئيس رعاة الكل، المسيح، الذي به ومعه الله الآب التسبيح و السلطان مع الروح القدس إلى أبد الآبدين. آمین.</p>
<p>المرجع : كتاب تفسير إنجيل لوقا للقديس كيرلس الأسكندري (صفحة ٦٠٢ - ٦٠٥) - ترجمة دكتور نصحي عبد الشهيد</p>
<h3>عظات آباء وخدام معاصرون :</h3>
<h4>ماذا تُريد أن أفعل بك ؟ لقداسة البابا تواضروس</h4>
<h5>يوم الخميس من الأسبوع الرابع لقداسة البابا تواضروس</h5>
<p>لو (١٨ : ٣٥ – ٣٤)</p>
<p>ماذا تُريد أن أفعل بك ؟</p>
<p>في هذا الجزء من الإنجيل لمعلمنا لوقا البشير نجده يسأل سؤالاً واضحاً جداً عن طريق معجزة تمت في مدينة أريحا ، وأريحا مدينة مشهورة وموجودة إلى اليوم ، ولها تاريخ طويل وفيها أقباط ساكنين ، ولنا دير هناك وكنائس قبطية مصرية ، ولنا آباء يخدمون هناك ضمن إيبارشية القدس ، كما أنها تُذكرنا بقصة &#8221; زكا &#8220;، كما تُذكرنا بقصة &#8221; يشوع &#8221; في العهد القديم .</p>
<p>أما عن القصة فكان يسوع يجول يصنع خيراً ، فذهب لبلدة اسمها أريحا ، وكان يمشي وسط الجموع والزحام حوله كان شديدا ، ولكن في وسط الزحام كان هناك أعمى اعتمد على أذنه في السمع ، فسمع بضوضاء من حوله ، فأخذ يسأل ما هذه الضوضاء ؟ فقالوا له : &#8221; أن يسوع هنا &#8220;، فبدأ هذا الرجل يصرخ وسط الجمع لكي يلفت النظر إليه ، ثم أخذ يصرخ ثانية ويقول : &#8221; يا يسوع ابن داود ارحمني !&#8221; (لو ۱۸ : ۳۸). فانتهرته الجموع ليسكت ، ولكن لماذا كانوا ينتهرونه ويطلبون منه السكوت ؟ كان قديما يوجد ربط بين المرض والخطية ؛ فلأنه إنسان ضرير أعمى وبحسب رؤياهم القديمة من كان لديه مرض صغير تكون خطيته صغيرة ، ومن عنده مرض كبير وصل لدرجة أنه يكون أعمى تكون خطيته كبيرة جداً، فقالوا له : &#8221; اسكت لأنك صاحب خطايا كبيرة &#8220;، أما هو فصرخ أكثر وأكثر ، وهنا سوف تظهر لنا فضيلة من هذا الإنسان الذي لا نعرف اسمه في هذه الفقرة الإنجيلية ، ولكن عندما نقرأ القصة أو المعجزة في إنجيل معلمنا متى ومعلمنا مرقس نعرف أن اسمه &#8221; بارتيماوس الأعمى &#8220;.</p>
<p>يقول الكتاب أن هذا الأعمى صرخ كثيراً وقال : &#8221; يا يسوع ابن داود ارحمني !&#8221; (لو ۱۸ : ۳۸). ونلاحظ أن الكتاب قد ذكرها مرة واحدة ، لكن من الضروري أن هذا الإنسان قالها مرات ومرات ومرات &#8230;، فأمر السيد المسيح أن يأتوا به إليه ثم سأله : &#8221; ماذا تريد أن أفعل بك ؟&#8221; (لو ١٨ : ٤١)، وهذا السؤال يطرحه علينا السيد المسيح : &#8221; ماذا تُريد أن أفعل بك ؟ قد يبدو السؤال من الوهلة الأولى : ماذا يريد هذا الأعمى ؟ لكن السيد المسيح طرح هذا السؤال على الإنسان الأعمى ، ويطرحه علينا أيضا ونحن في رحلة الصوم الكبير .</p>
<p>+ صفات الرجل الأعمى :</p>
<p>عندما نقف عند هذا الرجل الأعمى نجد فيه ثلاث صفات رئيسية توضح لنا ماذا صنع هذا الأعمى :</p>
<p>۱ سمع واشتاق أن يرى :</p>
<p>لقد سمع هذا الرجل عن حضور المسيح في وسط الجموع ، واشتاق أن يراه ، وأرجو أن تقف عند هذا الفعل &#8221; الاشتياق &#8220;، ويطلق عليه في الحياة الروحية &#8221; شوق التغيير &#8220;، بمعنى أن هناك من هو مشتاق ليكون أفضل ، وهذا الشخص قد يعاني من فقدان البصر، وقديما لم يكن هناك أطباء متخصصون في مرض العيون ، ولم يكن هناك مستشفيات رمد ، ولكن كان لديه اشتياق داخلي يعبر عنه بصوته وبتكرار طلبه ، فهل لديك هذا الاشتياق ؟ هل تريد أن تتغير ؟ هل تُريد أن تتحول إلى الأفضل ؟ قد يوجد من يرفض التغيير وليس لديه هذا الاشتياق ، في حين أن هناك من لديه الحيوية والاشتياق للتغيير إلى الأفضل .</p>
<p>۲۔ آمن بالمسيح :</p>
<p>ما إن هذا الإنسان الأعمى آمن بيسوع المسيح وأعلن إيمانه من خلال هذا الصراخ والإلحاح والإصرار، ويذكرنا بارتيماوس بقصة المرأة الكنعانية التي كانت تصرخ وراء المسيح من أجل ابنتها المريضة . هو عرف المسيح وسمع عن سيرته ومعجزاته ، ولكنه لم يستطع الوصول إليه حتى جاءت الفرصة إليه.</p>
<p>۳۔ طلب وحدد ما يطلبه :</p>
<p>هذا الرجل طلب وحدد ماذا يريد عندما سأله المسيح ، وقال له : &#8221; يا سيد أن أبصر &#8221; (لو ١٨ : ٤١)، لقد قالها وهو متوقع أن ينالها بإيمانه فيصير فرحاً ، وهذا ما نقول عنه &#8221; توقع الفرح &#8220;، أحياناً الإنسان وهو يصلي ويطلب ولكن في صورة يأس وكأنه واجب عليه ، وهناك آخر يصلي برجاء وأمل وفرح ، وهذا كان حال الرجل الأعمى فصرخته أمام المسيح مثل صرخة المزمور الذي تصليه : &#8221; يا رب ، لا توبخني بغضبك ، ولا تؤذبني بغيظك . ارحمني يا رب لأني ضعيف . اشفني يا رب لأن عظامي قد رجفت &#8221; (مز ٦ : ١ - ٢).</p>
<p>هذا السؤال موجه إلى &#8221; أعمى &#8220;، ونحن مبصرون &#8230; فكيف يفيدنا ؟</p>
<p>قد يكون الإنسان أعمى بعدة صور هي :</p>
<p> ١- أعمى عن جمال الخليقة :</p>
<p>هناك من يكون أعمى عن جمال الخليقة التي أوجدها الله من أجل الإنسان ، قد يكون جمال الخليقة في الفلك والنجوم ، في الشمس وفي القمر، في الهواء والمياه والبحار والأنهار، في النباتات والحيوانات ، في تتابع الليل والنهار، في فصول السنة المتلاحقة من شتاء لربيع لصيف لخريف ، في مرور السنوات ، وأحيانا قد ننسى هذا الجمال.</p>
<p>انظر ماذا يقول صاحب المزمور : &#8221; السّماوات تحدث بمجد الله ، والفلك يخبر بعمل يديه &#8221; (مز ١٩ : ١ ).  هل أنت منتبه لهذا الجمال ؟ إن جمال الطبيعة يجعل الإنسان يحافظ عليها ولا يلوثها ، فمثلا يعتبر نهر النيل من أعظم أنهار العالم ، وتلويثه يعتبر خطية سواء على مستوى الفرد أو الجماعة ، وذلك لأنه من المخلوقات التي أوجدها الله من أجلنا  كذلك الشارع الذي نسير فيه  والماء الذي نستخدمه ، حتى الخبز الذي نأكله هل نحافظ على جمال الخليقة ؟ ا هناك من يهمل ، وهناك من يهتم بهذا الجمال ، فإذا لم يهتم الإنسان بجمال الطبيعة يحسب وكأنه أعمى يحتاج أن يبصر .</p>
<p>٢ أعمى عن معرفة الخلاص :</p>
<p>هناك من يكون أعمى عن معرفة الخلاص ، ومشغول بالدنيا ولا يهتم بوجود المسيح ، ولا أنه جاء من أجله وتجسد وصلب وسفك دمه من أجله على الصليب حباً فيه، فهو لا يستطيع أن يعيش الخلاص ولا يفهمه ، كما أنه عايش في الخطية بأي شكل من أشكالها . هناك آخر يعيش العكس قد يعيش خطايا كثيرة لأنه يعتقد أن ربنا لا يغفر له ، ويبدأ يوسع هذه الفكرة داخله ، وتكون النتيجة أنه لا يعيش حياته صحيحاً ولا يعيش فرحة الخلاص بدم المسيح الذي يطهرنا من كل خطية ، ولكن أقول لك أنه ليس هناك خطية كبيرة على دم المسيح ، وأنت هل تعترف بخطيتك وتتوب عنها ؟ هل تحاول إن تنقي قلبك ؟ هناك من هو أعمى عن معرفة الخلاص والحياة مع المسيح المخلص ، فبولس الرسول يفتخر بالمسيح المصلوب لأنه هو الخلاص . أيضاً هناك من ينظر للمسيح</p>
<p>ليس أنه صلب من أجل العالم فقط ، ولكنه صلب من أجل خطاياه الخاصة والشخصية ، ولا سبيل للإنسان في أي مكان أن تُمحى خطيته إلا بدم المسيح &#8221; ليس بأحد غيره الخلاص &#8221; (أع ٤ : ١٢)؛ لأن فيه كانت الحياة ، والحياة كانت نور للناس ، والنور أضاء في الظلمة ، والظلمة لم تدركه .</p>
<p>٣- أعمى عن نور الوصية :</p>
<p>الكتاب المقدس الموجود في بيوتنا وموجود معنا وأمامنا وفي أيدينا ، نقول عنه أن الوصية ليست في أنها موجودة على الموبايل أو iPad بإمكانياتهم الحديثة ، ولكن الجمال في أن يكون هذا الكتاب محفوظاً في قلبك وتعيش هذه الوصية .</p>
<p>قصة</p>
<p> ذات مرة ذهب شخص لمعلمه وطلب منه أن يشرح له المزامير لكي يستطيع أن يعيش بها ويفهمها ، وبالفعل بدأوا في المزمور الأول &#8221; طوبي للرجل &#8220;، وبدأ يشرح له الآية الأولى ومعنى كلمة طوبى ، ومعنى &#8221; الذي لم يقف ولم يجلس &#8221; &#8230; وبعد ما شرح له آيتين قال له : &#8221; نكتفي بهذه الآيات اليوم ونستكمل غدا &#8220;، انتظر المعلم الأخ في اليوم التالي لكنه لم يحضر، واستمر في انتظاره إلى أن جاء بعد ٦ شهور، فسأله المعلم : &#8221; أين أنت ؟&#8221;، قال له : &#8221; أنا جئت لأخذ الحصة الثانية &#8220;، فقال له المعلم : &#8221; تأخذ الحصة الثانية بعد ٦ شهور؟ ! …</p>
<p>قال له : &#8221; أنت علمتني في الحصة الأولى أول آيتين وأنا ذاكرتهم وحفظتهم وعشت بهم وتدربت عليهم وصاروا جزءاً من حياتي ، فصارت الوصية لي نوراً &#8221; سراج لرجلي كلامك ونور لسبيلي &#8221; (مز ١١٩ : ١٠٥)&#8221;، هناك من هو أعمى عن عمق الإنجيل وفرحه والسبب في ذلك أنه لا يعيش الإنجيل في حد ذاته ، فالإنجيل معناه &#8221; البشارة المفرحة &#8221; وبمجرد أنك تقرأ فيه وتحفظ منه وتعيش فيه فأنت تمتلك الفرح ، وهذا ما يعلمه لنا القديس بولس الرسول &#8221; فقط عيشوا كما يحق لإنجيل المسيح &#8221; (في ١ : ٢٧).</p>
<p>٤ أعمى عن معنى الكنيسة :</p>
<p>نحن نصلي في صلاة الساعة الثالثة من النهار ونقول : &#8221; إذا ما وقفنا في هيكلك المقدس تُحسب كالقيام في السماء &#8220;، ترى ماذا تكون الكنيسة بالنسبة لك ؟ هل هي السماء ؟ أم الزحام وعدم النظام والضوضاء أم عدم احترام مهابتها ووقارها ؟! وهذا الكلام لنا جميعاً.</p>
<p>ما مفهوم الكنيسة عندك ؟ هل تكون ملتزم فيها وتأتي لمقابلة المسيح شخصياً ؟ أم الكنيسة مجرد اجتماع نجتمع فيه فقط ؟ هل تُمارس الأسرار داخل الكنيسة بوعي ؟ هل تُمارس السر عندما تتقدم للتناول تتقدم بقلب نقي ؟ يقول القديس يوحنا ذهبي الفم : &#8221; أتستطيع أن تقبل ملكاً بفم قذر! لاحظ مدى صعوبة هذه العبارة ، فمن الأفضل أن تكون حياتك بلمعان الأواني المقدسة التي تتناول منها .</p>
<p>كذلك الألحان والتسابيح كلها أشكال من الصلوات ، فهل ثقدمها بالقلب الخاشع ؟ هناك شخص عندما يقول الترنيمة أو اللحن يقوله بروح العبادة ، وهناك من يرتلها ليظهر مهاراته الشخصية.</p>
<p>٥- أعمى عن محبة الآخرين وخدمة الآخرين :</p>
<p>الله عندما خلق كل إنسان فينا خلقه لرسالة ، ولذلك كل واحد فينا يسمى فردا &#8220;، وكلمة &#8221; فرد &#8221; مشتقة من فريد ، والفريد هو الذي ليس له مثيل ، فهو شخص مميز فريد ، والله الذي أوجدك أوجد لك دورا ورسالة ، هناك من يكون دوره صغيرا وآخر يكون لديه مسئوليات كبيرة ، لكن هل فيك روح خدمة الآخرين ؟ ولأننا نعيش في مجتمعات ينبغي أن نتحلى بهذه الصفة &#8221; خدمة الآخرين &#8220;، وكلمة الآخرين هنا لا تعني أن تخدم الإنسان المسيحي فقط لأنه على نفس ديانتك ، لا بل تعني أنك تخدم أي إنسان ، فالمسيح ذاته خدم كل إنسان ، فهل تقدم رسالة محبة لكل إنسان ؟</p>
<p>قصة</p>
<p> في أول يوم من أيام الحضانة ذهبت الأم مع ابنها الطفل الصغير لتشجعه على الذهاب للحضانة كل يوم وتزرع بداخله محبة هذا المكان ، بعد عودته للمنزل أول يوم سألته الأم : &#8221; هل فرحت في الحضانة ؟&#8221; أجابها الطفل : &#8221; جميلة جدا يا ماما  !&#8221;، ثم عادت وسألته : &#8221; هل ضايقك أحد ؟&#8221;، أجاب : &#8221; لا &#8220;، ثم سألته مرة أخرى : &#8221; هل لعبت مع الأطفال الموجودين معك في الحضانة ؟&#8221;، أجابها : &#8221; لا &#8220;، فاندهشت الأم وسألت الطفل : &#8221; هل الأطفال لم يلعبوا اليوم ؟&#8221; قال لها الصغير : &#8221; كل الأطفال لعبوا &#8220;، فتعجبت الأم أكثر وعادت تسأله : &#8221; ولماذا لم تلعب مثلهم ؟&#8221;، قال لها : &#8221; أنا جلست أحرس الحقائب الخاصة بهم &#8220;. طفل يبلغ من العمر ٤ سنوات ولكن لديه إحساس بالمسئولية أو نقول بوادر الإحساس بالمسئولية ، وكأنه يعني أنه حرم نفسه من اللعب في سبيل أن يخدم</p>
<p>الآخرين ويحرس حقائبهم .</p>
<p>هذه هي القصة ، فهل فيك هذه الروح ؟ يقولون &#8221; فلان خدوم &#8221; وخدمته حباً في الله وليس لأجل أحد ، ولكن هناك من هو أعمى عن خدمة الآخرين ، أناني يعيش بأنانية مطلقة ، وهذه الأنانية تجعله لا ينظر لأحد سوى نفسه .</p>
<p>الخلاصة</p>
<p> إن الإنسان قد يكون أعمى ويحتاج أن يقف أمام المسيح ليطرح عليه السؤال : ماذا تريد أن أفعل بك ؟ من الممكن أن تقف أمامه وتقول له : &#8221; يا رب افتح عيني كي أرى جمال الطبيعة والخليقة ، أو يا رب افتح عيني كي أعرف خلاصك وكم هو ثمين &#8220;، أو تقول له : &#8221; يا رب افتح عيني كي أفهم وصيتك وأعيشها بفرح ، أو يا رب افتح عيني كي أقدر قيمة الكنيسة عروستك ، أو يا رب افتح عيني كي أستطيع أن أخدم الآخرين حتى ولو بكلمة &#8220;.</p>
<p>+ ماذا صنع المسيح ؟</p>
<p>ترى ماذا يفعل السيد المسيح معك ؟ هل سيصنع معك مثلما صنع مع الأعمى ؟!</p>
<p>١- سمع له المسيح : حيث وقف وسمع له صراخه وألمه وتحنن عليه ، إذا كنت تتكلم من قلبك مثل &#8221; بارتيماوس &#8220;، وتصرخ من قلبك فسوف يسمعك المسيح ، إذا كنت بإصرارك وإلحاحك وجديتك تصرخ ، فسوف يسمع المسيح .</p>
<p>٢- رأى المسيح إيمائه وإصراره : قد تتساءل هل الإيمان يرى ؟ أقول لك : نعم بكل تأكيد ، فيمكن أن تتذكر معي المفلوج المدلى من السقف ، كانوا خمسة أصحاب منهم فرد مريض ، عرضوه على كثير من الأطباء ولكن دون فائدة ، وأخيرا سمعوا عن المسيح الموجود في أحد البيوت ، ولحق به الناس هناك . وفي غضون عدة دقائق ، امتلأ البيت بالحضور ، حتى إن باب البيت أصبح مكتظاً بالناس فلم يعد باستطاعة أحد الدخول أو حتى الخروج ، قام الأصدقاء الأربعة وحملوا صاحبهم إلى ذلك البيت الموجود فيه المسيح ، لكن تعذر عليهم الدخول من الباب والوصول إلى مكان الرب يسوع بسبب الازدحام . فما العمل ؟ كانوا متلهفين إلى أن يرى الرب صديقهم المشلول ، وأرادوا دخول البيت بأية وسيلة ممكنة ، فخطر في ذهنهم أن يقوموا بإزالة جزء من خشب سقف البيت وإنزال المفلوج إلى داخل البيت من تلك الفتحة في السقف ، وابتدأوا بعمل ذلك بالفعل حتى أنهم تمكنوا من إنزال صديقهم أمام شخص السيد المسيح . عندما تقرأ هذه القصة وهذه المعجزة ، يقول عنها الكتاب : &#8221; فلما رأى يسوع إيمائهم ، قال للمفلوج : يا بني ، مغفورة لك خطاياك &#8221; (مر ٢ : ٥)، لقد شفى الرب يسوع هذا المفلوج من أجل إيمان أصحابه ومن أجل فكرهم . إن الإيمان يرى بالأعمال ، فالمسيح رأى إيمان &#8221; بارتيماوس &#8221; في إلحاحه المستمر &#8221; يا يسوع ابن داود ارحمني &#8220;. ونحن في الكنيسة تُصلي وتكررصلاة &#8220;زكيرياليسون &#8220;، وتكرارنا لها لا يكون باطلاً ،</p>
<p>فنحن تُكررها من أعماق القلب كنداء أمام الله .</p>
<p>٣- اختبره المسيح وأعلن إيمانه الشافي ، أحياناً نقف أمام المسيح ونطلب منه أشياء صغيرة جداً ، فممكن أن يكون هذا الرجل الأعمى كانت حياته عبارة عن أنه يستعطي كل يوم ، ويكون كل طموحه أن يحصل على قرش في يده ، ولكن نجد هذا الرجل كان منتبها ، وقال لنا الكتاب : &#8221; اطلبوا تجدوا . اقرعوا يفتح لكم &#8221; (مت ۷ : ۷).</p>
<p>الخلاصة يا إخوتي إن السؤال الذي يطرحه علينا المسيح : ماذا تريد أن أفعل لك ؟ هو لك ، ولذلك سأعرض عليك ثلاث ملاحظات أخيرة وأنت تسمع هذا السؤال :</p>
<p>ا۔ انتهز الفرصة :</p>
<p>قد يتحرك روح الله في قلبك ويديك ، وهذا شكل من أشكال زيارات النعمة ، فانتهز فرصة شيء سمعته ، فرصة تفتح فيه إنجيلك ، فرصة تذهب لكنيستك ، فرصة لخدمة الآخرين ، انتهز الفرصة فقد لا تتكرر.</p>
<p>قصة</p>
<p> كانت إحدى الراهبات تقوم بخدمة مجموعة من الأطفال في وسط أفريقيا ، وكانت المنطقة نائية وليس فيها كنائس ، ذات يوم فكرت هذه الراهبة أن تجمع كل الأطفال في أتوبيس وتذهب بهم لأقرب كنيسة ، وكان هذا من حوالي ٦٠ أو ٧٠ سنة فلم تكن الأتوبيسات مشهورة في ذلك الوقت ، المهم طلبت من الأطفال أنهم يصلوا كي يرسل لهم الله أتوبيس ، فالأولاد كانوا صغيرين ولم يروا الأتوبيس من قبل فسألوها : &#8221; يعني إيه أتوبيس ؟&#8221; فجاءت بسبورة وطباشير وقامت برسم الأتوبيس ، وبالصدفة الطباشيرة كانت لونها أزرق ، فالأولاد عندما وقفوا ليصلوا قالوا : &#8221; يا رب أرسل لنا أتوبيس أزرق &#8220;، واستمروا في الصلوات إلى أن أرسل الله لهم أتوبيس على عنوان دير الراهبة ، فوقفت الراهبة أمام الأم الرئيسة وقالت لها : &#8221; إذا كان الأتوبيس لونه أزرق فهذا يكون لخدمتي ، وإذا كان أي لون آخر فهو يكون لأية خدمة أخرى &#8220;، وتكتب الأم الراهبة وتقول : &#8221; وكم كانت دهشتي عندما وجدت الأتوبيس لونه أزرق &#8220;.</p>
<p>۲ احذر المعطلات :</p>
<p>كان البعض يقولون له : &#8221; اسكت اسكت &#8220;، فقد كانوا يعطلونه عن مناداة يسوع ، ومثلهم يكون بعض البشر الذين يعطلونك ، كذلك الانشغالات من الممكن أن تعطلك، أيضاً الشهوات والشكوك ، احذر ممن يعطلك عن مسيرتك سواء كان صديق أو فكرة أو عادة، عليك أن تحذر . هذا الرجل الأعمى قالوا له مراراً وتكراراً : &#8221; اسكت &#8220;، ولكنه أصر وأخذ يكرر &#8221; يا يسوع ابن داود ارحمنى &#8221; .</p>
<p>۳- اشكر الله :</p>
<p>بعد أن نال بارتيماوس نعمة البصر والنظر ، يقول لنا الكتاب : &#8221; وفي الحال أبصر ، وتبعه وهو يمجد الله . وجميع الشعب إذ رأوا سبحوا الله &#8221; (لو ١٨ : ٤٣). فعليك أن تشكر الله دائماً، اشكره بتسبيحك وبتمجيدك وبصلواتك وبأصوامك ، اشكر الله بقلبك المرفوع ، اجعل حياة الشكر حاضرة فيك دائماً .</p>
<p>اقرأ المعجزة باختصار وقف أمام سؤال المسيح : ماذا تريد أن أفعل بك ؟ المسيح يسألك ، ولديك الإجابة ، قف في صلاتك وارفع إجابتك إلى مسيحك .</p>
<p>فليعطنا مسيحنا أن تكون حياتنا حياة تمجد اسمه القدوس ونحن في زمن التوبة وفي فترة أيام الصوم المقدس ، ليباركنا المسيح بكل بركة روحية &#8230; له كل مجد وكرامة من الآن وإلى الأبد . آمين.</p>
<p>المرجع : كتاب إختبرني يا الله صفحة ٢١٨ - قداسة البابا تواضروس الثاني</p>
<h5></h5>
<h4>الرحلة إلى الله للمطران أنتوني بلوم</h4>
<p>قصة بارتيماوس الأعمى</p>
<p>        وجاء إلى أريحا ، وفيما هو خارج من أريحا مع تلاميذه وجمع غفير ، كان بارتيماوس الأعمى ابن تيماوس جالسا على الطريق يستعطى ، فلما سمع أنه يسوع الناصرى ابتدأ يصرخ ويقول : يا يسوع ابن داود ارحمنى . فانتهره كثيرون ليسكت. فصرخ أكثر كثيرا يا ابن داود ارحمنى . فوقف يسوع وأمر أن ينادى .فنادوا الأعمى قائلين له ثق قم ، هوذا يناديك. فطرح رداءه وقام وجاء إلى يسوع فأجاب يسوع وقال له ماذا تريد أن أفعل بك . فقال له الأعمى يا سيدى أن أبصر . فقال له يسوع أذهب إيمانك قد شفاك .فللوقت أبصر وتبع يسوع فى الطريق(مر ١٠ : ٤٦ - ٥٢)</p>
<p>اكتشاف عالمنا الداخلى &#8230;..</p>
<p> اعتقد انه من بين الاسباب التى تمنعنا من ان نكون على طبيعتنا ، ونجد طريقنا ، هو أننا لا ندرك مدى عمى نظرنا ، لو علمنا فقط أننا عميان ، كم سنشتاق أن نبدأ ! ، سنطلب الشفاء من أى مصدر كما فعل بارتيماوس ، من بشر ، من أطباء ، من كهنة &#8230;.ألخ . ولكن بعد أ، نفقد الأمل فى بنى البشر الذين ليس عندهم خلاص ربما نرجع إلى الله . المأساة أننا لا ندرك أننا عميان .أمور كثيرة تتخايل أمام أعيننا ، لذلك نعجز عن إدراك غير المرئى لأننا عميان . أننا نعيش فى عالم تستحوذ الأمور المادية فيه على انتباهنا ، لانها تؤكد نفسها لنا ولا تبذل جهدا لاثبات وجودها لانها موجودة ، أما الامور غير المرئية فانها لا تؤكد نفسها – لذلك وجب علينا أن نفتش عنها ، ونكتشفها ، أن العالم يفرض تأثيره علينا ، أما الله فإنه يلتمسنا برقة وحياء ، أتذكر راهبا شيخا قال لى :</p>
<p>        أن الروح القدس كطائر عظيم خجول يتراءى عن بعد ، وعليك أن لا تتحرك حين تراه قادما لئلا تخيفه ، دعه يأتى إليك.</p>
<p>        ربما فكر الراهب الشيخ حين قال هذا القول ، بالروح القدس الذى يظهر في شكل حمامة</p>
<p>        أن الطائر يأتى مستعدا لأن يهب نفسه ولكن فى خجل ، فى قصة &#8220;الأمير الصغير&#8221; يشرح الراهب أنطوان على لسان ثعلب صغير ، كيف يمكن للأمير أن يروضه قائلا : يجب أن تكون صبورا ، أجلس بالقرب منه ، وانظر إليه بعينيك ، ولكن لا تقل له شيئا ، لان الكلام يحدث سوء تفاهم ، وكل يوم اقترب إليه أكثر ، إلى أن تصيرا صديقين.</p>
<p>        لان المحبة الكاملة ستطرد الخوف خارجا . ان النعمة الالهية غير مبتذلة ، العلاقة مع الله التى لا تأتى بالطريقة السهلة ، أن الله لا يفرض وجوده على أحد ولكنه يأتى للقلوب المتواضعة التى تطلبه بكل حب وشوق ولهفة</p>
<p>        العالم الخارجى يؤكد نفسه بنفسه ، أما العالم الداخلى فإنه لا يجذب الانتباه</p>
<p>علينا أن نراقبه ، كما يراقب انسان طيرا فى الغابة أنه يأخذ موضعه بعيدا فى السكون ككلمات الشاعر :</p>
<p>طائر حكيم عجوز            يقف على شجر السنديان</p>
<p>كلما رأى أكثر             كلما تكلم أقل</p>
<p>وكلما تكلم أقل             كلما سمع أكثر</p>
<p>لماذا لا نصير كلنا كهذا الطائر</p>
<p>الإمكانيات الهائلة فى أعماق الانسان &#8230;..</p>
<p>إن العالم المادى يعمينا ، وينسينا العمق الذى يستطيعه الانسان ، إن الانسان صغير ، ولكنه أيضا عظيم ، عندما نرى أنفسنا بالنسبة للعالم الفسيح الواسع ، نرى أنفسنا كذرة رمل تافهه ، زائلة ، صغيرة ، ولكن عندما ندخل إلى أعماقنا نكتشف أنه لا يوجد شىء فى اتساع العالم كله يملأ فراغنا الداخلى ، وكل الخليقة تكون كذرة رمل بالنسبة لنا ، لا يمكن أن تملأنا ، أو تتمم عظمتنا ، الله وحده الذى خلقنا لنفسه ، وعلى صورته يستطيع أن يفعل هذا.</p>
<p>        أنا على صورة عظمة الله ، وهو قد نزل إلى حقارتى ، أن عالم المادة له غموض ، وكثافة ،ووزن ، وحجم ولكن ليس له عمق إنه محدود ويمكن أن نحتويه فى مركز الدائرة هو أعمق نقطة فيها ، ولكن إن تحركنا من هذه النقطة سنذهب إلى السطح . أما قلب الانسان ، فيتحدث الكتاب المقدس عن عمقه الذى لا يمكن قياسه ، وطبيعته المتسعة التى بلا حدود ، وأعلى من كل قياس ، هذا العمق يصل إلى الله غير المحدود.</p>
<p>        سوف لا ندرك حقيقة عمانا ، إلا حينما نفهم الفرق بين الكائنات التى تؤكد وجودها ، والكائن الذى نشعر به بقلوبنا فنبحث عنه حينما نفهم الفرق بين العالم الكثيف الثقيل المعتم الذى حولنا ، وعمق الانسان الذى لا يملأه إلا الله وحده ، بل أكثر من هذا ، الله الذى يملأ أعماق كل الخليقة الذى هو الكل فى الكل.</p>
<p>        هنا فقط سنكتشف عمانا ، واننا قد تعامينا عن  غير المنظور بالمنظورات.</p>
<p>فاغفالنا لغير المنظور لندرك العالم المحسوس فقط يعنى أننا نبقى خارج ملء المعرفة ، وخارج التجربة الحقيقية الكاملة التى هى ، العالم فى الله ، والله فى قلب العالم.</p>
<p>        كان بارتيماوس الرجل الاعمى ، يعلم بكل أسى أنه بسبب عماه الجسدى فقد رؤية العالم المنظور ، فكان يصرخ بألم عميق ، وبرجاء إلى الله الذى أحس به ، عندما مر عليه الخلاص ، كان يشعر أن نفسه معزولة وأنه يشفى بهذه العزلة.</p>
<p>        السبب الذى من أجله كثيرا لا نستطيع أن ندعو الله بهذه الصورة هو أننا لا نعلم مدى عزلتنا ، ولا ندرك مدى عمانا عن رؤية العالم ككل، تلك الرؤية التى تهب الحق كاملا لرؤية العالم نفسه ، فلو تعلمنا أن نصير عميانا عن المنظورات ، كى نستطيع أن نرى ما وراء المنظورات فى عمق . سنصل إلى الله الذى هو فينا وفى كل ما حولنا.</p>
<p>وضوح الرؤية &#8230;&#8230;&#8230;</p>
<p> أن وضوح الرؤيا ، ربما بالنسبة للقديسين وليس بالنسبة لنا ، يرون نورا باهرا ساطعا جدا : يتحدث عنه سمعان اللاهوتى فيقول : الغمام الالهى نور فائق ، نور يعمى لدرجة أن الذى يراه لن يرى مرة أخرى ويمكن أن نكون عميانا بعيون مفتوحة</p>
<p>فمشاعرنا هى التى تلون نظرتنا كالمنظار &#8230;.</p>
<p>+ قد ينظر البعض بنظرة اللامبالاة ، كما رأى المارة بارتيماوس.</p>
<p>+ وقد ينظر شخص بعين الجشع ، كما ينظر الانسان ذو الفهم الشيطانى إلى بقى يرعى فى الحقول ، فلا يفكر إلا فى اللحم البقرى.</p>
<p>+ وقد ينظر البعض بعين الكراهية ، وهى عين إبليس الذى لا يرينا شيئا سوى الشر.</p>
<p>+ وأخيرا نستطيع أن ننظر بعين الحب ، بقلب طاهر ، فنرى الله ، وصورته فى الناس ، حتى فى أولئك الذين أصبحت صورته فيهم غير واضحة</p>
<p>نستطيع ان نرى بالقلب ، الشىء الجوهرى غير المرئى للعين . ينبغى أن نعترف ، أننا لا ندرك جوهر الامور ، ولا فحوى ووضع الابدية بالنسبة للعالم كله ، ويمكننا فقط أن نعرف تلك الامور عن طريق تجارب أساسية متأكدين من وجود عالم داخلى</p>
<p>        وبيقين الايمان ، يمكن أن نؤكد وجود غير المنظور وعلينا أن نجد فى البحث وراءه ، من خلال ، وفى قلب المنظور ذاته.</p>
<p>        هذا العمل الايمانى يحمل فى أعماقه قبول شهادة الذى أدركوا العالم غير المنظور، وبدون هذا الايمان لا نستطيع أن نبدأ فى البحث ، فإننا يستحيل أن نبدأ فى البحث عن غير المرئى إن كنا نعتقد بأن لا وجود له.</p>
<p>        ولكن أمامنا شهادة ليس من شخص واحد ولا من اثنين ولكن من ملايين الملايين عبر تاريخ المسيحية وغير المسيحية قد جربوا غير المرئى وشهدوا بوجوده.</p>
<p>        فأعتقد أنه يجب علينا أن نوسع مجال رؤيتنا وفهمنا للحياة بصفة عامة . ففى أيامنا هذه مازلنا نعيش تحت وهم أن كل ما هو ليس محسوس ، فهو مشكوك فيه .رغم ما بينه علم النفس أن هناك عالم بأكمله فى حياة الانسان الداخلية ، غير محسوس، وحينما أقول غير محسوس لا أقصد أنه غير معقول ، يوجد مثلا دائرة الحب البشرى المتسعة ، سواء كانت صداقة ، أو محبة عائلية ، أو الحب الذى يتخذ فردا من وسط حشود البشر ، ويجعل لنا علاقة خاصة به ، فيجعلنا نعيد تقييم الكون بأكمله.</p>
<p>هذه تجربة غير محسوسة ، ولكنها خبرة شائعة فى العالم كله.</p>
<p>        ففى حالة فتى وفتاة وسط جموع الناس يعيشان كالمعتاد ، وفجأة يحب كل منهم الآخر ، ماذا جرى ؟ لم يعد الفتى ينظر إلى الكون إلا من خلال محبوبته ، ولم تعد الفتاة تنظر إلى الكون إلا من خلال محبوبها ، كما قال أحد كتاب اليونان القدماء :</p>
<p>        &#8220;قبل أن يقابل الشاب الفتاة التى سيخطبها ، وقبل أن يحبها يكون محاطا برجال ونساء ، ولكن من اللحظة التى يكتشف فيها محبوبته ، تصير هى كل شىء ن والآخرون عاديين بالنسبة له&#8221;</p>
<p>كذلك أيضا فى تجربة الجمال ، حينما تطرب آذاننا قطعة موسيقية ، أو تبهر أعيننا تحفة من البلاستيك فأنهما بحسب المنطق المجرد ، مجرد تموجات صوتية ، أو مادة البلاستيك مشكلة ، حتى أنك لا تستطيع أن تصف لاحد كنهها لكى يعجب بها ، انك فقط تدعوه بكلمات المسيح لتلاميذ يوحنا &#8220;تعالوا وانظروا&#8221; فهناك مفهوم جمالى أعمق من المظهر الخارجى.</p>
<p>        ففى تجربة الحب والجمال نرى هناك أمورا حولنا ما كنا ندرى عظمتها إلا حينما سلط عليها كشاف من أعماقنا فأصبحنا نراها فى مجدها وعظمتها . وكأننا نراها لاول مرة ، كنا عميان بالنسبة لها.</p>
<p>        ينبغى أن تدوم فينا هذه الرؤيا للأمور ، فنرى كل شىء فى كشاف النور الإلهى ، مدركين أن الله هو الذى أعطى هذه الرؤيا ، وليس ما نرى هو مصدر البهاء ، أن كنا نفكر أن الاشياء هى مصدر بهائها سنتحول إلى عباد أوثان حينما نحبها ونعبدها.</p>
<p>        ولكن حتى وإن فقط الشىء الذى نراه بهاءه فى نظرنا لان نور الله قد احتجب عن بصائرنا فعلينا أن نحتفظ بذكرى الرؤيا الاولى النقية.</p>
<p>حينما نفعل هذا نكون أكثر إنسانية واتساعا ونقاء ، ومع محاور المسافة والزمن نضيف محورا جديدا هو الحب والجمال نرى فيه الكون بصورة تفوق المنطق ، ونرى عمل الله العجيب.</p>
<p>الملكوت الحقيقى ، والملكوت الخيالى &#8230;&#8230;.</p>
<p>فى اللحظة التى فيها نكتشف أننا عميان ، وأننا خارج الملكوت ، نبدأ ننشغل جديا بعودة بصيرتنا ، وبالدخول إلى ذلك الملكوت ، يكون انشغالنا آنذاك حقيقيا وليس خياليا .. لأننا كثيرا  ما نكون فى الدهليز الخارجى ونتصور أنفسنا فى مسكننا الابدى ، وكبطرس نحاول أن ندفىء أيدينا على النار المحترقة فى الجهة الاخرى من البوابة محاولين هنا والآن أن نشارك فى حياة بعيدة عن متناول أيدينا ، متخيلين أن الومضة الصغيرة المشتعلة فينا هى كل الملكوت.</p>
<p>        لا ، ليست هى الملكوت ، أن الملكوت عهد وميثاق جاد لحياة أبدية ، أنه وعد ، وعودة سكنى الله فينا . أن الكتاب المقدس يحدد مواقفنا وموقعنا الآن &#8230;.. فموقفنا هو استمرار الأمل والرجاء فينا ، وموقعنا هو قدام الباب الذى لم يزل مغلقا أمامنا ، ولا نكل من القرع عليه إلى أن يفتح ، علينا أن نثابر إزاء السير غير المدرك ، ندعو، ونصرخ إلى الله ،متلمسين الطريق، حتى يظهر لنا كطريق مستقيم نحو السماء ، متيقنين أن اللحظة ستأتى، فيها يستجيب الله لصلاتنا . (وقد قصدت أن استعمل كلمة &#8220;يستجيب&#8221; وليس كلمة &#8220;يسمع&#8221; لأن الله دائما يسمع لنا مع أنه لا يعطى دائما إجابة حسية ، ليس الله بأصم من جهة صلاتنا) . ولكننا لا نستطيع دائما أن نفهم صمت الله كإجابة لصراخنا</p>
<p>فرحة الرجاء&#8230;.</p>
<p>        حينما ندرك أننا خارج باب مقفل ،نستطيع أن ندرك مدى عزلتنا البشرية ، ومدى بعدنا عن الملء الذى يهبه الله لنا ، وعن البهجة التى إليها دعينا</p>
<p>        وفى نفس الوقت ، نقدر أيضا – وهذا مهم جدا – مدى غنانا رغم فقرنا المدقع.</p>
<p>        أمام الباب نعرف مدى ضآلة معرفتنا للأمور الإلهية ، وفى نفس الوقت مدى الغنى الذى لنا فى ومضة الحضرة الإلهية ، إنها معرفة الشركة المنيرة ، فى قلب الظلمة التى هى نحن ! أن كانت الظلمة غنية بالنور لهذه الدرجة ، وانا كان الغياب غنى بالحضور إلى هذه الدرجة ، وان كانت الحياة ، التى هى مجرد فجر، مليئة بكل هذا الرجاء والفرح&#8230;فأننا نستطيع أن نقف أمام هذا الباب المغلق ونتغذى على الفكرة المفرحة ، أنه سيفتح فى يوم ما ، وسنعرف نهاية الحياة التى لا نستطيع أن نمتلكها فى داخلنا الأن.</p>
<p>لا داعى أن نبحث عن وجود الله بطريقة حسية باستمرار.</p>
<p>        إن الاناجيل تقدم لنا مجموعة من الامثال ، ترينا مدى بعدنا عن فهم القداسة وعدم ادراكنا لعظمة الله ، أننا قلما نعجب بالله ، وكثيرا ما نطلب أ، يثبت لنا وجوده حثيا ، بدلا من أن نسأله أن يغيرنا ويحولنا لكى نستطيع أن نجد أنفسنا فى حضرته الالهية.</p>
<p>رهبة الالتقاء بالله &#8230;&#8230;</p>
<p>كل مواجهة مع الله سواء كانت قصيرة أو طويلة ، لها رهبة الدينونة الاخيرة، حينما نجد أنفسنا وجها لوجه مع الله الحى ، ومرهوب هو الوقوع فى يدى الله الحى ، أن التقابل مع الله هو دائما &#8220;أزمة&#8221;، وفى اللغة اليونانية كلمة &#8221; أزمة &#8221; تعنى دينونة.</p>
<p>        نستطيع أن نوقف أنفسنا أمام الله ، ولكن إما أن ندان أو ننجو ، بحسب ما صنعناه فى قلوبنا وفى خبرتنا أثناء حياتنا لذلك قال أحد أنبياء العهد القديم : &#8221; ويحى أنى سأموت لأنى رأيت الله&#8221; . أن الالتقاء بالله ، أكبر مما تحتمله النفس الانسانية ، ما لم تكن هذه النفس صورة طبق الاصل لحياة المسيح.</p>
<p>        أنه نوع من التهور ، حيث نطلب مواجهة مع الله ونحن غير ناضجين لهذه المواجهة.</p>
<p>        لذلك فأن تعاليم الكنيسة الارثوذكسية عن حياة الصلاة تقول: &#8220;يجب أن لا نبحث عن خبرة تصوفية عالية ، بل نسأل الله بروح العبادة، وبروح اليقظة والايمان ، بالرجاء الذى نحمله ، وبالرغبة التى نملكها كى يعيرنا ، ويعمل منا أشخاصا قادرين أن نقابله أن لم يكن الآن ، ففى يوم ما&#8221;</p>
<p>        هذا التعليم نجده متجذرا فى الكتاب المقدس : تذكرون حادثة صيد السمك الكثير . لقد أخذ بطرس الرب يسوع فى قاربه ، كان المسيح يكلم الجموع فى وجود بطرس ، ولكن بطرس لم يدرك جلاله . فيقول الله لتلاميذه . القوا شباككم فى عمق البحر ، فيجيبه بطرس ، يا معلم قد تعبنا الليل كله ولم نأخذ شيئا ولكن على كلمتك ألقى الشباك . فيلقى شبكته ولا يقدر أن يجذبها من كثرة السمك ، ويطلب إلى رفقائه فى القوارب الاخرى أن يعاونوه ، وهنا فقط يدرك أن المسيح هو ابن الله الحى، وانه فى الحضرة الالهية ، فى حضرة شخص أعظم من أن يفهمه ، فيؤخذ بهيبته ، ويقع عند قدمى يسوع ويصرخ :&#8221;أخرج من سفينتى يارب أنى رجل خاطىء&#8221;</p>
<p>        فى هذا الوقت تصبح لديه البصيرة لجلال الله ، الذى كان معه ، وقد علم من هو ، ولكنه يتوسل إليه أن يخرج. هل كثيرا ما يحدث هذا معنا خين نتعمق فى الصلاة وينتابنا الشعور بحضرة الله ، والاحساس بطهارته وسموه فنقول :&#8221;أرحل عنى يارب فانا لا استحق اقترابك منى&#8221;.</p>
<p>        أم أننا مرات كثيرة نقحم أنفسنا عليه ، محاولين أن نفتح الباب الذى أراد الله أن يتركه مغلقا.</p>
<p>        أذكر أيضا قائد المئة الذى طلب من الرب يسوع أن يشفى خادمه، فقال له الله :&#8221;سآتى وأشفيه&#8221; فأجاب قائد المئة وقال : ياسيد لست مستحقا أن تدخل تحت سقفى ، ولكن قل كلمة فقط فيبرأ غلامى . لأنى أنا أيضا إنسان تحت سلطان ، لى جند تحت يدى أقول لهذا اذهب فيذهب ولآخر أأتى فيأتى ، ولعبدى أفعل هذا فيفعل&#8221; .</p>
<p>        أهذا هو شعورنا ؟ أنملك هذا الشعور تجاه الله حتى أننا لا نريد أن نجبره أن يأتى ؟ تكفى كلمة منه ، لا نريد أكثر. هل تؤيد حريته المطلقة ، ونعبد عظمته ؟ هل نتيقن داخليا أن كلمته هى حياة لمن تقال له ؟ أن تحققنا أنه بسبب عمانا ، نحن خارج الملكوت ، فبدون وجودنا فى الملكوت يمكننا إذا أن نقرع الباب ، ونبحث عن الطريق ، ونصرخ إلى الله . دون أن نقول له : &#8220;افتح على الفور ، ليس لدى صبر لانتظر، اظهر أمامى الآن، لقد انتظرتك طويلا&#8221; ولكن نحن دائما نقول مثل هذه العبارات غير اللائقة .</p>
<p>مشكلة غياب الحضرة الإلهية فى الصلاة &#8230;&#8230;&#8230;.</p>
<p>من الأربع والعشرين ساعة ، ربما نكرس نصف ساعة لله ونعجب ، لماذا لم نشعر بالحضرة الإلهية من اللحظة التى بدأنا فيها باسم الآب والابن والروح القدس ، لماذا لم تظهر أمامنا عظمة الثالوث</p>
<p>        فى غاية الأهمية أن ندرك كم نحن فى غاية البعد ،وفى نفس الوقت نشعر بمدى الغنى الموهوب لنا فى حضرته من النور الداخلى الذى فى وسط ظلمتنا ، ربما تكون كل طاقاتنا هى إلهام ، وطريق ورجاء. فى ذلك الوقت لا تهمنا السرعة مع الله ومع العالم الذى حولنا ، هو وضعنا الحقيفى الذى فيه يستطيع أن يعمل، أن الله لا يقدر أن يعمل فى وضع وهمى ذلك الوضع الذى تعودنا أن نضع أنفسنا فيه باستمرار فنتغذى على الخيال والوهم والتصور ونصاب &#8220;بالنهم الروحى&#8221; كما يعبر عنه آباء البرية.</p>
<p>        من هذا المنطق تحل المشكلة العويصة التى تعذبنا فى حياة الصلاة هى مشكلة : كيف نصلى ولدينا إحساس بغياب الله ؟ وبدلا من أن تصبح مشكلة ، تتحول إلى طاقة خلاقة وعمل إيجابى وبدلا من أن نصلى بقلب مهزوز ، ونرثى أنفسنا على هذا الغياب ، نستفيد منه فيصبح وضعا واقعيا وأقول &#8221; أننى أعمى ، أننى أقف خارج البوابة ، أننى فى البرد والظلمة ليس لأنى فى الظلمة الخارجية مرفوضا بحسب حكم الله ولكن حالتى تشابه بدء الخليقة : خربة وخاوية ومظلمة ، وابتدأ الله ان يدعو كل الموجودات ، وقال أن يشرق نور من ظلمة هو الذى سيحول ظلمتى إلى نور&#8221;</p>
<p>أن نصلى فى غياب الله – كما كان بارتيماوس يصرخ إى يسوع دون أن يراه – هو أن تعلم أنه موجود وأننى أعمى ،أنه موجود وأنا لا اشعر به ، وأنه من حنانه أن يغيب عنى حين لا استطيع ان احتمل مجيئه بعد</p>
<p>        فلو أننا تفطنا جيدا فى قاع ضياعنا المظلم ، الذى هو قلبنا ، وضمائرنا ، وماضينا ، حاضرنا ، بواعثنا نحو المستقبل ، هل نستطيع أ، نقول أننا مستعدون لمواجهة الله ؟</p>
<p>        أتجرؤ و نطمع فى مقابلة واحدة ؟ ، نعم ولكن فى الوقت الذى يريده الله وتكون المقابلة هبة منه.</p>
<p>        أما ان كنا نطلبها ، وندفع الله لمقابلة كهذه ، فلا، أنها مقابلة أكبر مما نستطيع أن نحتمل.</p>
<p>        رغم هذا فأننا نسلك باستمرار  متعاملين بالظاهر ، وغير مبصرين بهاء وعظمة غير المرئى ، مفتقرين إلى الاحساس بالخشوع والهيبة أمام نظرة الايمان المعطاة للمتواضعين ، ولا نقول فى أنفسنا أننا لو لمسنا حتى ولو هدب ثوب المسيح فقط ، نشكر الله على غيابه كى يعلمنا أن نقرع بابه، ونختبر قلوبنا وأفكارنا ، ونعرف قيمة ما تجلبه علينا أعمالنا، ونقدر الله باعث وجودنا ، ونسأل أنفسنا ان كانت إرادتنا متجهة نحو الله أم لا؟ أننظر إلى الله فى فسحة الوقت الضيق بين مشاغلنا ، لننساه فى الوقت التالى . وفى بعدنا عنه نبدد نشاطنا وقوتنا التى اخذناها منه ، ونبذرها بعيش مسرف كالابن الضال؟</p>
<p>        إن هذه الامور فى غاية الاهمية فى رحلتتنا نحو الله كنقطة بدء، لاننا ان لم نبدأ من الحقيقة الواقعة لانفسنا ، ونتقبلها تماما كهبة من الله سنضيع وقتا نحاول منه ان ندفع الباب لنفتحة بالقوة ، فى حين أنه سينفتح من تلقاء نفسه فى وقت ما.</p>
<p>يقول القديس يوحنا ذهبى الفم :</p>
<p>&#8221; حاول أن تكتشف مفتاح قلبك فستجد أن هذا المفتاح نفسه هو الذى يفتح لك باب الملكوت كذلك&#8221;</p>
<p>المرجع : كتاب الرحلة من موت الخطية إلي قيامة الحياة لأنتوني بلوم ( صفحة ٣٢ - ٤٥ ) - ترجمة الأنبا إيساك الأسقف العام</p>
<hr />
<p><a href="#_ftnref1" name="_ftn1">[1]</a><sup>- </sup><sup>مجلة مرقس - الافتتاحية - عدد مايو 2000.</sup></p>

      {% endcreateArticleAccordions %}
    </section>
  {% endblock %}
