---
layout: 'layouts/reading.html'
title: 'قراءات يوم الجمعة من الأسبوع الرابع'
tags: 'great-lent'
permalink: /articles/great-lent/4-5.html
---
  {% block content %}
    <section id="readings">
      <ul>
      {% if 'undefined' != 'undefined' %}
      
      {% else %}
      {% if 'null' != 'null' %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">العشية</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeVespers '' '' %}
          </div>
        </div>
      </li>
      {% endif %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">باكر</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeMatins '19.28:6-7' '42.4:31-37' '5.10:12-22*@+5.11:1-28@23.29:12-23@18.21:1-34@27.1:1-42' %}
          </div>
        </div>
      </li>
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <h3 class="flex items-center justify-between">
            <span class="kufi">القداس</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </h3>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeLitugy '58.13:7-16' '62.4:7-16' '44.22:7-24' '19.28:2-2' '40.15:21-31' %}
          </div>
        </div>
      </li>

      {% endif %}
        </ul>
    </section>
    <section id="article">
      <h3 class="mt-8 mb-4 heading-explain">شرح القراءات</h3>
      {% createArticleAccordions %}
        <p>&#8220;لأَنَّهُ مِنْ مَشْرِقِ الشَّمْسِ إِلَى مَغْرِبِهَا اسْمِي عَظِيمٌ بَيْنَ الأُمَمِ، وَفِي كُلِّ مَكَانٍ يُقَرَّبُ لاسْمِي بَخُورٌ وَتَقْدِمَةٌ طَاهِرَةٌ&#8221; (ملا١:١١)</p>
<p>[واعطيتهم كعظيم الموهبة التي لا تحٌد التي لنعمتك ان يبشروا في كل الأمم بالغنى الذي لا يستقصي الذي لرحمتك] (سر الكاثوليكون)</p>
<p>[كما أن الخبز المكسور، كان مرة مبعثرًا على التلال، وقد جُمع ليصير (خبزًا) واحدًا، كذلك اجمع كنيستك من أقاصي الأرض في ملكوتك] (ليتورچيا - الديداكية)<a href="#_ftn1" name="_ftnref1">[1]</a></p>
<h3>شواهد القراءات</h3>
<p>)تث ١٠: ١٢ الخ، ص ١١: ١-٢٨ )، (إش ٢٩: ١٣- ٢٣)، (أي٢١: ١ الخ) (دا١٤: ١- ٤٢)، (مز٢٧: ٧، ٨)، (لو٤: ٣١- ٣٧) (عب١٣: ٧- ١٦) (١يو٤: ٧- ١٦)، (أع٢٢: ١٧- ٢٤)، (مز٢٧: ٢)، (مت ١٥: ٢١- ٣١).</p>
<h3>شرح القراءات</h3>
<p><strong>تتكلّم قراءات اليوم</strong> عن برّ الآب للأمم ولكل الشعوب وإتّساع حظيرة الإيمان لكل الأمم وكيف تترجّى الشعوب بر الآب ورحمته.</p>
<p><strong>يبدأ سفر التثنية</strong> بإعلان تدبير الله في اختياره لليهود</p>
<p>&#8220;لكن آباءكم سبق فأرادهم الرب وأحبهم واختار ذرّيتهم من بعدهم&#8221;.</p>
<p><strong>لكن هذا الإختيار مرتبط بوصية.</strong></p>
<p>&#8220;فاحفظوا جميع الوصايا التي أنا آمركم بها اليوم لكي تحيوا وتكثروا وتدخلوا وترثوا الأرض&#8221;.</p>
<p><strong>لكن مهّد الله لشعبه</strong> في القديم بأن يحبّوا الشعوب الأخرى إعداداً لملء الزمان وزوال العداوة بين كل البشر وقبول الأمم.</p>
<p>&#8220;فأحبوا الغريب لأنكم كنتم غرباء في أرض مصر&#8221;.</p>
<p><strong>ويعلن سفر إشعياء</strong> فرح البائسين وفاقدي الرجاء بإله إسرائيل.</p>
<p>&#8220;ويبتهج البائس بالرب ابتهاجاً والناس الذين لا رجاء لهم يمتلئون فرحاً بقدوس إسرائيل&#8221;.</p>
<p><strong>ويحذّر سفر أيوب</strong> من خطورة رفض برّ الآب من الأشرار.</p>
<p>&#8220;يقولون للرب ابتعد عنا لا نسر باستقامة طرقك ولا نتعبد لك باستحقاق وماذا ننتفع إن التمسناه&#8221;.</p>
<p><strong>ويعترف في سفر دانيال</strong> الملك الأممي بعمل الله العجيب مع أولاده والمؤمنين به.</p>
<p>&#8220;فقال الملك ليتقي جميع سكان الأرض إله دانيال فإنه المخلص الصانع الآيات والعجائب في الأرض وهو الذي أنقذ دانيال من جب الأسود&#8221;.</p>
<p><strong>لذلك في مزمور باكر</strong> تسبّح النفس الرب لبرّه مع أولاده في عونه ونصرته لها.</p>
<p>&#8220;الرب هو عوني وناصري عليه أتكل&#8221;.</p>
<p><strong>وفي إنجيل باكر</strong> ذيوع برّ الآب في ابنه يسوع المسيح لخلاص البشر من سلطان إبليس.</p>
<p>&#8220;فإنه بسلطان وقوة يأمر الأرواح النجسة فتخرج وذاع صيته في كل مكان من الكورة المحيطة&#8221;.</p>
<p><strong>ويطمئن البولس</strong> مؤمني العهد الجديد من اليهود بأن لا يحزنوا على المذبح الذي فقدوه ناظرين إلى مذبح العهد الجديد وذبائحه غير الدموية.</p>
<p>&#8220;إن لنا مذبحا لا يحق للذين يخدمون المسكن أن يأكلوا منه، فلنقرّب به في كل حين لله ذبيحة التسبيح أي ثمر شفاهنا معترفين باسمه&#8221;.</p>
<p><strong>كما يؤكد الكاثوليكون</strong> أن خلاص الإبن لكل العالم.</p>
<p>&#8220;بل إنه هو أحبنا وأرسل ابنه كفارة عن خطايانا، ونحن قد عاينّا ونشهد أن الآب قد أرسل الإبن مخلصاً للعالم&#8221;.</p>
<p><strong>لذلك يدعو الله في الإبركسيس</strong> القدّيس بولس للإنطلاق للأمم وكرازتهم بالخلاص. &#8220;فرأيته قائلاً لي بادر واخرج سريعاً من أورشليم فانهم لا يقبلون منك شهادة عني، فقال لي انطلق فإني سأرسلك إلى الأمم بعيداً&#8221;.</p>
<p><strong>ويعلم مزمور القدّاس</strong> أين يجد الإنسان برّ الله في هيكله المقدَّس.</p>
<p>&#8220;استمع يا رب صوتَ تضرعي إذ أبتهل إليك وإذ أرفع يديّ إلى هيكل قدسك&#8221;.</p>
<p><strong>ويختم إنجيل القدّاس</strong> بإيمان المرأة الكنعانية الذي تخطّي وتجاوز وإرتفع فوق إيمان خراف بيت إسرائيل وصارت نموذج لإيمان الأمم.</p>
<p>&#8220;فأجاب وقال: ليس حسناً أن يُؤخذ خبزُ البنين ليعطى للكلاب فقالت: نعم يا رب فإن الكلاب أيضاً تأكل من الفتات الساقط من مائدة أربابها حينئذ أجاب يسوع وقال لها: يا امرأة عظيمٌ إيمانك فليكن لكِ ما تريدين فشفيت ابنتها من تلك الساعة&#8221;.</p>
<h3>ملخّص القراءات</h3>
<table width="506">
<tbody>
<tr>
<td width="91">سفر التثنية</td>
<td width="416">الله يدّرب شعبه في القديم لمحبّة الشعوب الأخرى</td>
</tr>
<tr>
<td width="91">سفر أشعياء</td>
<td width="416">إحتياج الأمم لبر الآب وفرحهم به</td>
</tr>
<tr>
<td width="91">سفر أيوب</td>
<td width="416">خطورة رفض برّ الآب وطرقه</td>
</tr>
<tr>
<td width="91">سفر دانيال</td>
<td width="416">إعتراف ملوك الأمم بعمل الله المعجزي مع أولاده</td>
</tr>
<tr>
<td width="91">مزمور باكر والقدّاس</td>
<td width="416">برّ الآب في إستجابته لتضرّعات أولاده</td>
</tr>
<tr>
<td width="91">إنجيل باكر والبولس والكاثوليكون</td>
<td width="416">كمال إستعلان برّ الآب في إبنه يسوع المسيح مخلصاً للعالم وفي كهنوته الذي حقق جوهر كهنوت العهد القديم</td>
</tr>
<tr>
<td width="91">الإبركسيس</td>
<td width="416">القدّيس بولس رسول الأمم والكارز ببرّ الله للشعوب الغريبة</td>
</tr>
<tr>
<td width="91">إنجيل القدّاس</td>
<td width="416">الأمم يُقْبلون في اتضاع لابن الله قانعين بفتات البرّ الإلهي (الشفاء) فأعطاهم الله ملء البر استعلان ربنا يسوع المسيح وفيض الروح القدس</td>
</tr>
</tbody>
</table>
<h3>أفكار مقترحة للعظات</h3>
<h4>(١) برّ الله ومحبته لكل الشعوب</h4>
<ul>
<li>دعوة الله ليونان للكرازة لشعب غريب وقبول الله لتوبتهم (يونان ٤).</li>
<li>مباركة الله للركابيين لأمانتهم مع أبيهم (إر٣٥: ١٨).</li>
<li>وصية الله لشعبه تجاه المصريين والأدوميين (تث٢٣: ٧).</li>
<li>قبول الله لبشر أممين وخطاة ومجيئه من نسلهم مثل راحاب وراعوث (مت١: ٥).</li>
<li>مدح الرب لإيمان قائد المئة والمرأة الكنعانية (مت١٥: ٢٢).</li>
</ul>
<h4>(٢) برّ الله الذي يقبل ويغيّر أشرّ الخطاة</h4>
<ul>
<li>&#8220;ولكن يؤمن بالذي يبرر الفاجر، فإيمانه يحسب له براً&#8221; (رو ٤: ٥)</li>
<li>&#8220;هلم نتحاجج، يقول الرب، إن كانت خطاياكم كالقرمز تبيض كالثلج. إن كانت حمراء كالدودي تصير كالصوف&#8221; (إش ١: ١٨)</li>
<li>&#8220;لأني لم آت لأدعو أبراراً بل خطاة إلى التوبة&#8221; (مت ٩: ١٣)</li>
<li>&#8220;لكي تخبروا بفضائل الذي دعاكم من الظلمة إلى نوره العجيب&#8221; (١بط ٢: ٩).</li>
<li>&#8220;وهكذا كان أناس منكم، لكن اغتسلتم، بل تقدستم، بل تبررتم باسم الرب يسوع وبروح إلهنا&#8221;(١كو٦: ١1)</li>
<li>&#8220;من سلك في الطريق حتى الجهال لايضل&#8221; (إش٣٥: ٨).</li>
</ul>
<h3>عظات آبائية</h3>
<h4>مثال المرأة الكنعانية - القديس يوحنا ذهبي الفم<a href="#_ftn2" name="_ftnref2">[2]</a></h4>
<p><strong>لكنك غير مستحق</strong><strong>! </strong></p>
<p>ثابر فتصير مستحقاً، فبالمثابرة يصير غير المستحق مستحقاُ.</p>
<p>فإن الله يقبلنا أكثر عندما نطلب بأنفسنا، أكثر مما نعتمد على مجرد طلب الآخرين .. وهو غالباً ما يؤجل العطاء ليس لأنه يود أن يجعلنا مرتبكين، أو لكي يرسلنا فارغين، بل لكي يعطينا عطايا أعظم.</p>
<p>هذه الأمور الثلاثة أجتهد أن أؤكدها بالمثال الذى قُرِئَ اليوم عليكم.</p>
<p>جاءت المرأة الكنعانية إلى السيد المسيح تطلب لأجل ابنتها التى بها شيطان، صارخة بشغفٍ عظيمٍ قائلة: &#8220;ارحمنى يا سيد يا ابن داود. ابنتى مجنونة جداً&#8221; (مت ١٥: ٢٢).</p>
<p>أنظر إلى المرأة غريبة الجنس المتبربرة .. التي ما كانت إلا مثل كلب ولا تستحق أن تنال طلبتها&#8230; (فى نظر اليهود مت١٥: ٢٦). لكن على أي الأحوال، بمثابرتها صارت مستحقة أن تأخذ.</p>
<p>لم يضمها إلى صفوف البنين فحسب، بل وارتفع بها إلى هذا المستوى العظيم مادحاً إياها قائلاً: &#8220;يا امرأة عظيم إيمانك. ليكن لك كما تريدين&#8221; (مت١٥: ٢٨)..</p>
<p>أتريد أيضاً أن تتعلم أننا نأخذ طلبتنا عندما ندعوه نحن أكثر من (مجرد) اعتمادنا على طلب الآخرين؟! لقد صرخت المرأة الكنعانية والتلاميذ جاءوا إليه قائلين: &#8220;اصرفها لأنها تصيح وراءنا&#8221; (مت١٥: ٣٣).</p>
<p>وعندئذ قال :&#8221;لم أُرسل إلا إلى خراف بيت إسرائيل الضالة&#8221;، لكن لما جاءت بنفسها وألحتْ فى الصراخ، قائلة: نعم ياسيد والكلاب أيضاً تأكل الفتات الذي يسقط من مائدة أربابها. عندئذ أعطاها طلبتها&#8230;</p>
<p>مرة أخرى فى البداية وفى مقدمة طلبها لم يجبها بشئٍ، ولكن إذ جاءته مرة واثنتين وثلاثة، عندئذ وهبها العطية، وبذلك جعلنا نؤمن أنه أجَّل العطية لا لأنه يريد أن يصدها، بل لكى يكشف لنا عن احتمال المرأة.. فلو أنه أعطاها منذ البداية ما كنا قد عرفنا فضيلتها.</p>
<p>لقد قالوا: &#8220;اصرفها لأنها تصيح وراءانا&#8221;، ولكن ماذا قال السيد المسيح..؟</p>
<p>أنتم تسمعون صوتها أما أنا فأرى فكرها.</p>
<p>أنا أعرف ما ستقول. أنا أريد آلا يختبئ الكنز المدفون فى فكرها دون أن يراعيه أحد، حتى عندما ينكشف الكنز يراه الكل.</p>
<h4>لقاء الرب مع المرأة الكنعانية - للقديس ابيفانيوس<a href="#_ftn3" name="_ftnref3">[3]</a></h4>
<p><strong>الذهاب إلى صور و صيدا</strong> (مت 15: 21)</p>
<p><strong>أم الأمم: </strong>بعد أن رحل ربنا عن اليهود، جاء إلى نواحي صُورَ وَصَيْدَاءَ. ترك اليهود خلفه وأتى إلى الأمم. أولئك الذين تركهم ورائه بقوا في حالة خراب. أما أولئك الذين جاء إليهم نالوا الخلاص في اغترابهم. وخرجت امرأة من تلك الأرض وصرخت قائلة له: &#8220;ارْحَمْنِي، يَا سَيِّدُ، يَا ابْنَ دَاوُدَ!&#8221; يا له من سرٍ عظيم! خرج الرب من عند اليهود، وخرجت المرأة من أرض الأمم. هو ترك اليهود خلفه، وتركت المرأة عبادة الأوثان وأسلوب حياة الشر. لقد وجدت ما كانوا قد فقدوه. والذي أنكروه في الناموس، اعترفت هي به من خلال إيمانها. هذه المرأة هي بمثابة <strong>أمٍ للأمم</strong> وقد عرفت المسيح بالإيمان. وهكذا توسلت إلى الرب نيابة عن ابنتها (شعب الأمم). لقد إنقادت الابنة للضلال بعبادة الأصنام والخطية، وكانت مملوكة بشدة للشيطان. (تفسير الانجيل 58)</p>
<p><strong>يسوع يتجاهل المرأة</strong> (مت 15: 23)</p>
<p><strong>اصْرِفْهَا بعيدًا</strong>: ومن ثم، توسلت هذه المرأة إلى الرب نيابةً عن ابنتها، كنيسة الأمم. &#8220;فَلَمْ يُجِبْهَا بِكَلِمَةٍ&#8221;. لم يكن الأمر أن الرب لم يكن يريد أن يشفيها، بل أنه أراد أن يكشف عن إيمانها العظيم واتضاعها. فتأثر التلاميذ بالرحمة وتضرعوا إِلَى الرب قَائِلِينَ: &#8220;اصْرِفْهَا، لأَنَّهَا تَصِيحُ وَرَاءَنَا!&#8221;، فَأَجَابَ وَقَالَ: &#8220;لَمْ أُرْسَلْ إِلاَّ إِلَى خِرَافِ بَيْتِ إِسْرَائِيلَ الضَّالَّةِ&#8221;. الآن هو يقول هذا الحديث إلى جمهور اليهود حتى لا يكون لهم عذر في يوم الدينونة، إذ قد يزعمون بالقول: &#8220;لقد أراد أن يأتي إلى الأمم لا إلينا&#8221;. (تفسير الإنجيل 57)</p>
<p><strong>تحول غريب: </strong>بعد ذلك، في مقابل اليهود الذين كانو قد رفضوه، طلبت منه هذه المرأة الأممية أن يشفي ابنتها. لكن الرب لم يحول لها أذناً. فسقطت عن رجليه وَسَجَدَتْ لَهُ قَائِلَةً: &#8220;يَا سَيِّدُ، أَعِنِّي!&#8221;، فقال لها الرب: &#8220;لَيْسَ حَسَنًا أَنْ يُؤْخَذَ خُبْزُ الْبَنِينَ وَيُطْرَحَ لِلْكِلاَب&#8221;. ماذا ينبغى لليهود أن يقولوا عن هذا؟ لقد دعاهم بصراحةٍ &#8220;أولاداً&#8221; بينما دعا الأمم &#8220;كلاباً&#8221;. لقد وافقت المرأة قائلة للمخلص: &#8220;نَعَمْ، يَا سَيِّدُ!&#8221;. كما لو كانت تقول، نعم أنا أعلم يا رب أن الأمم هم كلابٌ بعبادتهم للأوثان ونباحهم ضد الله. &#8220;وَالْكِلاَبُ أَيْضًا تَأْكُلُ مِنَ الْفُتَاتِ الَّذِي يَسْقُطُ مِنْ مَائِدَةِ أَرْبَابِهَا!&#8221;. بعبارة أخرى، لقد أتيت إلى اليهود وأظهرت نفسك لهم، وهم لم يريدوا منك أن تصنع أية استثناءات. ما قد رفضوه إعطه لنا نحن الذين نسألك. الرب وهو عالمٌ بمدى الإيمان الجاد لهذه المرأة، قال لها: &#8220;يَا امْرَأَةُ، عَظِيمٌ إِيمَانُكِ! لِيَكُنْ لَكِ كَمَا تُرِيدِينَ&#8221;. الإيمان يقبل ما لا يستحقه الفعل، ومن خلال الإيمان، صار الوثنيون أبناءً بعد أن كانوا كلاباً. كما قال الرب من خلال النبي: &#8220;وَيَكُونُ فِي الْمَوْضِعِ الَّذِي قِيلَ لَهُمْ فِيهِ: لَسْتُمْ شَعْبِي، أَنَّهُ هُنَاكَ يُدْعَوْنَ أَبْنَاءَ اللهِ الْحَيِّ&#8221;. وفي المقابل، فإن اليهود الرافضين صاروا كلاباً بغيضةً بعد أن كانوا أبناءً، كما قال الرب نفسه في آلامه من خلال النبي: &#8220;لأَنَّهُ قَدْ أَحَاطَتْ بِي كِلاَبٌ. جَمَاعَةٌ مِنَ الأَشْرَارِ اكْتَنَفَتْنِي&#8221;.</p>
<h4></h4>
<h4>المرأة الكنعانية - عند القديس اغسطينوس<a href="#_ftn4" name="_ftnref4">[4]</a></h4>
<ul>
<li>إذا كانت تشغف على الحصول على الرحمة صرخت وبجسارة قرعت، فظهر كأنه لم يسمعها. لم ترفضها الرحمة إلى النهاية، إنّما ما حدث كان لكي يُلهب رغبتها ويُظهر تواضعها. صرخت وكأن المسيح لا يسمعها، مع أنه كان يدبّر الأمر بهدوء.</li>
<li>كانت دائمة الصراخ، داومت على القرع، وكأنها سبق فسمعت قوله: &#8220;اِسألوا تُعطَوْا. اُطلُبوا تجِدوا. اِقرَعوا يُفتَحْ لكُمْ. &#8221; (مت 7: 7).</li>
<li>إننا نفهم من هذا أنه لاقٍ به أن يُعلن عن حضوره بالجسد وميلاده، وعمل معجزاته وقوّة قيامته وسط هذا الشعب، فإنه هكذا قد دبّر الأمر منذ البداية. ما سبق فبُشِّر به قد تحقّق بمجيء المسيح يسوع لأمّة اليهود كي يُقتل، لكنّه يربح منهم الذين سبق فعرفهم، فإنه لم يدن الشعب كلّه، إنّما فحصهم فوجد بينهم تبنًا كثيرًا، ووجد أيضًا حنطة مختفية. منهم ما هو يُحرق، ومنهم ما يملأ المخازن، فإنه من أين جاء الرسل؟!.</li>
<li>لأنه لم يذهب بنفسه للأمم، بل أرسل تلاميذه، فيتحقّق ما قاله النبي: <strong>&#8220;</strong>شَعبٌ لم أعرِفهُ يتعَبَّدُ لي.&#8221; (مز 18: 43) انظر كيف أوضحت النبوّة الأمر كيف تحقّق؟!.. تحدّثت بوضوح: &#8220;شعب لم أعرفه&#8221;؛ كيف؟ يكمّل قائلًا: &#8220;مِنْ سماعِ الأُذُنِ يَسمَعونَ لي.&#8221; (مز 18: 44)، أي يؤمنون لا خلال النظر بل خلال السمع، لهذا نال الأمم مديحًا عظيمًا. فإن (اليهود) رأوه فقتلوه، الأمم سمعوا عنه وآمنوا به.</li>
<li>أنها لم تثُرْ ولا غضبت، لأجل دعوتها <a href="https://st-takla.org/Full-Free-Coptic-Books/FreeCopticBooks-002-Holy-Arabic-Bible-Dictionary/22_K/K_070.html">ككلبٍ</a> عندما طلبت البركة وسألت الرحمة، بل قالت: &#8220;<strong>نعم يا سيّد</strong>&#8221; لقد دعوتني <a href="https://st-takla.org/Full-Free-Coptic-Books/FreeCopticBooks-002-Holy-Arabic-Bible-Dictionary/22_K/K_070.html">كلبًا</a>، وبالحق أنا هكذا، فإنّني أعرف لقبي! إنك تنطق بالحق، لكن ينبغي ألا أُحرم من البركة بسبب هذا&#8230; فإن <a href="https://st-takla.org/Full-Free-Coptic-Books/FreeCopticBooks-002-Holy-Arabic-Bible-Dictionary/22_K/K_070.html">الكلاب</a> أيضًا تأكل من الفتات الساقط من مائدة أربابها. ما أرغبه هو البركة بقدر معتدل، فإنّني لا أزحم المائدة، إنّما أبحث فقط عن الفتات.</li>
</ul>
<p>انظروا أيها الإخوة عظمة التواضع الذي أمامنا&#8230;! إذ عرفت نفسها، قال الرب في الحال: &#8220;<strong>ياامرأةُ، عظيمٌ إيمانُكِ! ليَكُنْ لكِ كما تُريدينَ</strong>&#8221; لقد قلتِ عن نفسكِ إنكِ &#8220;<a href="https://st-takla.org/Full-Free-Coptic-Books/FreeCopticBooks-002-Holy-Arabic-Bible-Dictionary/22_K/K_070.html">كلبًا</a>&#8220;، لكنّني أعرفك إنكِ &#8220;إنسان&#8221;&#8230;  لقد سألتي وطلبتي وقرعتي، فيُعطَى لك وتجدين ويُفتح لك.</p>
<p>انظروا أيها الإخوة كيف صارت هذه المرأة الكنعانيّة مثالًا أو رمزًا للكنيسة؟!.. لقد قدّمت أمامنا عطيّة التواضع بدرجة فائقة!.</p>
<p><strong> </strong></p>
<p></p>
<h3>عظات آباء وخدام معاصرون :</h3>
<h4><span lang="AR-SA">هل كررت المحاولة ؟ لقداسة البابا تواضروس الثاني</span></h4>
<p class="yiv1704353761MsoNormal" dir="RTL"><b><span lang="AR-SA">يوم الجمعة من الأسبوع الرابع لقداسة البابا تواضروس الثاني<u></u></span></b></p>
<p class="yiv1704353761MsoNormal" dir="RTL"><b><span lang="AR-SA">مت (١٥ : ٢١ – ٣١) <u></u><u></u></span></b></p>
<p class="yiv1704353761MsoNormal" dir="RTL" align="center"><b><span lang="AR-SA">هل كررت المحاولة ؟<u></u><u></u></span></b></p>
<p class="yiv1704353761MsoNormal" dir="RTL"><span lang="AR-SA">قصة هذا اليوم هي معجزة وحوار أيضاً ، كان اليهود يعتبرون أنفسهم الشعب المختار، وكانوا ينظرون لكل شعوب العالم على أنهم الأمم ، فهم لا يتكلمون لغتهم ولا يعيشون عاداتهم ، وكان يطلقون عليهم تعبير &#8221; الكلاب &#8220;، وهذا التعبير يشير إلى المهانة والمذلة أو نوع من عدم التقدير ، وفي العهد القديم كان هناك نوعاً من الاستعباد للمرأة ، فلم يكن لها أي حقوق ، ولم يكن لها كرامة في ذلك الزمن . أما عن كلمة كل الأمراض فكانوا يرجعونها للشيطان ، فإذا كان هناك مجنون يكون فيه شيطان ، وإن كان هناك أعمى يكون به شيطان ، حتى إن كان هناك من لديه عاهة من العاهات فيكون فيه شيطان .<u></u><u></u></span></p>
<p class="yiv1704353761MsoNormal" dir="RTL"><span lang="AR-SA">يقول لنا الكتاب في (يو ١ :١١) &#8221; إلى خاصته جاء ، وخاصته لم تقبله &#8220;، ويقصد بخاصته &#8221; اليهود &#8220;، ولكنهم لم يقبلوه ، بالرغم من أنه ولد على الأرض اليهودية وفي وسط يهودي لكنهم لم يقبلوه ، وكانت النتيجة أن المسيح جاء إلى العالم أجمع . و معجزة اليوم تمت في صور وصيدا على ساحل البحر الأبيض ، وهذه المدن يعيش فيها جنسيات كثيرة وليس اليهود فقط . سمعت امرأة كنعانية من أرض كنعان أن السيد المسيح موجود فأخذت تبحث عنه وهي غير مؤمنة ولا تعرف المسيح ، بل كانت تسمع عنه ، لكن في سياق القصة كان هناك حديث أو حوار يتضمن سؤالاً طرحته علينا كلمة الله اليوم ، وهذا السؤال بعنوان &#8221; هل كررت المحاولة ؟&#8221; هل جربت اللجاجة وقيمتها ؟<u></u><u></u></span></p>
<p class="yiv1704353761MsoNormal" dir="RTL"><span lang="AR-SA">اللجاجة صورة رفيعة من صور الصلاة الحقيقية ؛ لأنها صورة مغلفة بالإيمان ،وهذه المرأة تُعطينا هذا الدرس في هذا اليوم ، فسؤالها كان من قلبها ؛ لأن المريضة كانت ابنتها &#8221; مجنونة جدا &#8221; (مت ١٥ : ٢٢)، وعليكم أن تتخيلوا مقدار العذاب والمر التي كانت تعيشه هذه الأم إلى أن كبرت ابنتها التي يسكنها الشيطان حتى أنها فقدت عقلها وصارت مجنونة ، وعلينا أن نعيش في خيالنا مأساة هذه الأم وهذه التجربة . تلاحظ أن الحوار يكشف معدن هذه المرأة ، كما أنه يمكنك أن تقيس عليه نفسك وتكشف معدنك أمام المسيح ، الحقيقة إن هذه المرأة عندما أجابت على سؤال اليوم وضعت أمامنا أربع محطات رئيسية في حياتنا :<u></u><u></u></span></p>
<p class="yiv1704353761MsoNormal" dir="RTL"><span lang="AR-SA">١<b>- المحطة الأولى : بحثت عن المسيح :</b><u></u><u></u></span></p>
<p class="yiv1704353761MsoNormal" dir="RTL"><span lang="AR-SA">إنها إنسانة فتشت عن المسيح ، قد تكون مسيحي وتعيش داخل الكنيسة ومرتبط بها وخادم فيها ، لكن هي فتشت عن اللقاء الشخصي بينها وبين السيد المسيح ، فتشت عن العلاقة الشخصية ، وهنا نجد الناس نوعين : <u></u><u></u></span></p>
<p class="yiv1704353761MsoNormal" dir="RTL"><span lang="AR-SA">النوع الأول : نوع يلجأ للمسيح لجوءاً عابراً ، ألجأ إليه عندما أتعرض لمشكلة .<u></u><u></u></span></p>
<p class="yiv1704353761MsoNormal" dir="RTL"><span lang="AR-SA"> النوع الثاني : نوع يلجأ للمسيح لجوءاً دائماً ، اعتمادي عليه بصورة مستمرة . هذه المرأة في المحطة الأولى كشفت عن نفسها ، فمن الضروري أنها صرخت وتألمت وبكت.<u></u><u></u></span></p>
<p class="yiv1704353761MsoNormal" dir="RTL"><span lang="AR-SA">الحياة مع المسيح هي الحياة الجدية التي تُمسك صيدا &#8221; الرخاوة لا تمسك صيدا &#8221; (أم ١٢ : ٢٧)، فدائماً من يعيش الحياة الرخوة لا يمسك صيدا ، فالحياة الروحية تبدأ بالجدية وتستمر بالجدية .<u></u><u></u></span></p>
<p class="yiv1704353761MsoNormal" dir="RTL"><span lang="AR-SA">٢<b>- المحطة الثانية : صرخت إلى المسيح :<u></u><u></u></b></span></p>
<p class="yiv1704353761MsoNormal" dir="RTL"><span lang="AR-SA"> المرأة عندما أتت إلى المسيح وهي صارخة كانت تعبر عن تعبها وتعب ابنتها ، ولكن المسيح لم يجبها بكلمة ، والنص الإنجيلي يوضح ذلك ، فأحياناً تُصلي والله لا يستجيب ، ونحن في زمن يعمل بالتكنولوجيا فقد يتسرب للإنسان أن الحياة الروحية بهذه الصورة ، لكن ليست الحياة الروحية بهذه الصورة أبداً ، وهنا ظهرت فضيلتها بالرغم أن التلاميذ قالوا ليسوع أن يصرف هذه المرأة، إلا أنه لم يلتفت إليها ولا إلى صراخها ؛ لأنه يريد اختبار هذه الإنسانة ، أحيانا ربنا لا يستجيب لغرض وإن السماء صامتة ولكن الله له غرض ، ويرد المسيح على تلاميذه ويقول لهم : &#8221; لم أرسل إلا إلى خراف بيت إسرائيل الضالة &#8221; (مت ١٥ : ٢٤) . <u></u><u></u></span></p>
<p class="yiv1704353761MsoNormal" dir="RTL"><span lang="AR-SA">الصفة الثانية في هذه المرأة أنها صرخت وأعادت الطلب وهنا تظهر اللجاجة فكان من الممكن أن ترد عليه وتقول له : &#8221; كيف يحدث لي هذا وأنا أرملة وابنتي مريضة والجأ إليك فكيف تتركني هكذا ؟!&#8221; لكن يقول عنها الكتاب إنها أتت وسجدت له قائلة : &#8221; يا سيد أعني &#8221; (مت ١٥ : ٢٥)، ربما كررتها وعينها فيها دموع ، وسجدت وقلبها منكسر هنا تظهر اللجاجة ، لجاجة الإنسان الذي يكرر المحاولة مرة واثنين وثلاثة ، إلى أن يستجيب المسيح لطلبه ، أو يستجيب بالصورة المناسبة . هي هنا تعطينا درساً مهماً جداً وهو &#8221; صلوا كل حين &#8220;، فالصلاة كل حين تعني أن تكون الصلاة مملوءة باللجاجة وليست مجرد تكرار كلمات بلا معنى ، وليست الوقفة تكون أمام الله في الأزمات فقط ، ولكن الوقوف أمام الله هنا هو تعبير عن الحب وأعتقد أنك تحب ربنا كل ساعة وكل لحظة ، ومن هنا تأتي نعمة الصلاة كل حين . كانت هذه المرأة تتكلم بكل قلبها وإحساسها وكيانها ، فصرخت &#8221; يا سيد أعني &#8221; (مت ١٥ : ٢٥)، أجاب للمرة الثالثة دون أن يلتفت إليها : &#8221; ليس حسناً أن يؤخذ خبز البنين ويطرح للكلاب &#8221; (مت ١٥ : ٢٦)، وأرجوك أن تتصور مقدار التجربة في هذا الحوار لكن الله نطق بهذا لكي ما يظهر عظمة إيمان هذه الإنسانة .<u></u><u></u></span></p>
<p class="yiv1704353761MsoNormal" dir="RTL"><span lang="AR-SA">٣<b>- المحطة الثالثة : آمنت بالمسيح :</b><u></u><u></u></span></p>
<p class="yiv1704353761MsoNormal" dir="RTL"><span lang="AR-SA">عندما ظهرت هذه القامة العالية من الإيمان لدي المرأة ، وقد وضحت قبل ذلك أن المجتمع اليهودي لم يكن يقدر شخصية المرأة ، ولا يقدر إنسانة لديها ابنة مجنونة ، بمعنى أن هذا البيت به شيطان ، كما أنها كانت تصرخ ولا أحد يهتم بها ، وهنا تكون قد دخلت في امتحان ، فالله كثيراً ما يسمح لنا بالدخول في مثل هذه الامتحانات ، ويكون قصد الله خيرا لكل إنسان فينا وخاصة في كنيستنا وحياتنا وخدمتنا وبيوتنا . هذه المرأة آمنت بشخص المسيح حتى وإن أهملها ، فعندما يقول لها المسيح عبارة &#8221; ليس حسناً أن يؤخذ خبز البنين ويطرح للكلاب &#8221; (مت ١٥ : ٢٦)، نجد أن هذه العبارة بها كل الاحتقار لمن هو غير يهودي ، وأما هذه المرأة نجحت وبامتياز في إظهارهذا الإيمان عندما ردت وقالت : &#8221; نعم يا سيد . والكلاب أيضاً تأكل من الفئات الذي يسقط من مائدة أربابها !&#8221; (مت ١٥ : ٢٧). أعتقد أن السيد المسيح في قلبه كان فرحاً جداً بهذه الإجابة التي كشفت للتلاميذ وللمجتمع اليهودي ولنا عظمة هذه المرأة ، وبذلك يكون الأمتحان والأسئلة لها نتيجة إيجابية في توضيح طبيعة هذه المرأة إذا المحطة الثالثة هي إيمانها العميق ولجوءها لشخص المسيح لجوءاً ليس له مثيل &#8230;<u></u><u></u></span></p>
<p class="yiv1704353761MsoNormal" dir="RTL"><span lang="AR-SA">٤<b>- المحطة الرابعة : اتضاع بالغ :<u></u><u></u></b></span></p>
<p class="yiv1704353761MsoNormal" dir="RTL"><span lang="AR-SA">الاتضاع البالغ الذي يحوي مهارات هذا الإنسانة &#8221; نعم يا سيد . والكلاب أيضاً تأكل من الفتات الذي يسقط من مائدة أربابها !&#8221; (مت ١٥ : ٢٧)، وهنا أريد أن أذكر لك معلومة مهمة وهي أن السيد المسيح عندما قال لها : &#8221; ليس حسناً أن يؤخذ خبز البنين ويطرح للكلاب &#8221; (مت ١٥ : ٢٦)، وهو يقصد كلاب الشارع أي الكلاب الضالة ، وليس من المعقول أن نأخذ أكل البيت وتعطيه للكلاب ، إلا أن ردها كان لطيفاً جدا فقد قالت : &#8221; والكلاب أيضاً تأكل من الفئات الذي يسقط من مائدة أربابها !&#8221; (مت ١٥ : ٢٧)، وهذه الكلاب هي التي تُربى في البيت ، فهي تُريد أن تقول للمسيح أن هناك نوعين من الكلاب : كلاب ضالة وأخرى تُربى في البيوت. <u></u><u></u></span></p>
<p class="yiv1704353761MsoNormal" dir="RTL"><span lang="AR-SA">اتضاعها البالغ هو الذي أظهر هذه الكلمات القليلة ، حيث يقدم لنا هذه الصورة العظيمة للإنسان الذي يصلي بثقة وبإيمان كل حين .  هذه المرأة نجحت في اتضاعها إلى أقصى درجة ، ولذلك كل نعم الله التي يعطيها للإنسان في الخدمة وفي المجتمع والأسرة حتى في حياتنا الشخصية ، كل نعمة يعطيها الله للإنسان لا يمكن أن تُثمر دون اتضاع الإنسان . الاتضاع هو حارس كل نعمة ، وليس الاتضاع الشكلي أو المظهري ، فهذه المرأة لم تدخل جامعة ولا التحقت بالمدارس وليس لها قامة في وسط مجتمعها ، لكن اتضاعها هو الذي قدمها لنا ، وهو الذي جعل سيرتها مكتوبة في الكتاب المقدس ونقرأها وتعيد بها في الجمعة الرابعة من الصوم المقدس &#8221; الصوم الكبير &#8220;، هو الذي قدم لنا إنسانة تستحق مديح المسيح ، وقد تكون أنا وأنت مثل هذه المرأة الكنعانية ، لكن هذه المرأة نالت مديح المسيح على اتضاعها ، فمتى يمدحك المسيح ؟ ومتى يقول لك حسنا ؟ باتضاعك . المسيح لا يمدح إنساناً إلا لاتضاعه وليس لموهبة أو مسئولية معينة، مديح المسيح يوجه للإنسان حال اتضاعه فقط. يرد عليها المسيح ويعطيها نيشان لم يكن متوقعاً حيث قال لها: &#8220;يا امرأة عظيم إيمانك&#8221; (مت 15 : ۲۸). يا (فلان) عظيم إيمانك في خدمتك ونشاطك، مسيحنا لم يمدحنا لبنائنا مبنى أو لأنك مارست نشاطاً معيناً، أو قدمت خدمة معينة، أو تقدمت في مهارة من مهارات الخدمة، المسيح لا يمدح إنساناً إلا لاتضاعه . هذه القصة التي أمامك أن قرأتها تأخذ دقيقتين ، لكن غالباً في زمانها تأخذ وقت ، لقد نالت هذه المرأة مديح المسيح ونالت شفاء ابنتها ، ونالت بالأكثر أنها صارت نموذجاً أمامنا بإيمانها المتضع . يقول القديس باخوميوس أب الشركة : &#8221; اقتن لساناً متضعاً ، فيكون الكل صديقك &#8220;.<u></u><u></u></span></p>
<p class="yiv1704353761MsoNormal" dir="RTL"><b><span lang="AR-SA">خلاصة سؤال اليوم :</span></b><span lang="AR-SA"> إن الاتضاع يعطي قوة الإيمان ، القلب المنكسر والمنسحق لا يرذله الله ، تمسك بصلواتك مهما تأخرت استجابات الله ، وكلما تأخرت استجابة الله ، أمامك فرصة لكي ما تقتني فضائل أكثر، وتقتني درجة أعمق من الاتضاع ، ثم تنال نصيباً يعظمك الله في ملكوته أمام كل السمائيينر. إنه علامة الإنسان عندما يتقدم في روحياته ، فاتضاعك هو علامة تقدمك الروحي ، ولا توجد علامة أخرى ، قد نتناسى الكثير من الفضائل في هذا الزمان ، وأصبحت حياتنا ليس فيها نوع من الاستقرار الكافي نتيجة السرعة التي نعيشها ، فتكرار الفقرة الإنجيلية التي أمامك يجعل حياة الإنسان دائماً منتبهة لما هو في كلامه .<u></u><u></u></span></p>
<p class="yiv1704353761MsoNormal" dir="RTL"><b><span lang="AR-SA">+ كيف يقوى إيمانك ؟<u></u><u></u></span></b></p>
<p class="yiv1704353761MsoNormal" dir="RTL"><span lang="AR-SA">لكي تقوي إيمانك فأنت دائماً محتاج إلى :<u></u><u></u></span></p>
<p class="yiv1704353761MsoNormal" dir="RTL"><span lang="AR-SA">١-الممارسات الروحية المنتظمة وهذا ما يعدل ميزان الإنسان ، في هذه الأيام المقدسة من الممكن أن تصحح مسيرة الإنسان الروحية ، والممارسات الروحية تقوي إيمانك وليست الممارسات الطقسية ، فكلمة طقس هنا هي ما يمارس داخل الكنيسة وهو الذي يضبط أداءنا ، كذلك الطقس خارجي ، ويجب أن يكون له روح وأنت تصلي قداساً أو تمارس سراً من الأسرار . <u></u><u></u></span></p>
<p class="yiv1704353761MsoNormal" dir="RTL"><span lang="AR-SA">٢-الاختبارات الروحية التي عاشها القديسون ، والخبرة الروحية من خلال الأب الكاهن والخدام ، فحديثك يكون حديثا روحيا وتأخذ الخبرة الروحية وتمتصها ، ولكن أحياناً الخبرة الروحية لا تكون موجودة في الكتب وإنما محفوظة في القلوب فقد تسمع كلمة واحدة تغير حياتك بأكملها .<u></u><u></u></span></p>
<p class="yiv1704353761MsoNormal" dir="RTL"><span lang="AR-SA">هذه المرأة الكنعانية قدمت لنا مثالاً للإنسان الذي يعيش اللجاجة والذي يظلل حياته بالأتضاع ويعيش هذه الحياة بصورة تقية .<u></u><u></u></span></p>
<p class="yiv1704353761MsoNormal" dir="RTL"><span lang="AR-SA">يوم الجمعة الرابعة يربط بين &#8221; أحدٍ الابن الضال و&#8221;أحد السامرية &#8221; فيأتى ويعطى  قصة فيها لمحة من أحد الابن الضال ولمحة من أحد السامرية .<u></u><u></u></span></p>
<p class="yiv1704353761MsoNormal" dir="RTL"><span lang="AR-SA">السؤال التي تضعه قصة اليوم : هل كررت المحاولة ؟ هذا السؤال تطرحه علينا هذه المرأة غير اليهودية التي تعلمنا قوة الإيمان وقوة الاتضاع . فليعطنا مسيحنا أن تكون حياتنا بهذه النقاوة وهذا الاتضاع على الدوام في كل  يوم من أيام حياتنا.<u></u><u></u></span></p>
<p class="yiv1704353761MsoNormal" dir="RTL"><span lang="AR-SA">لإلهنا كل مجد وكرامة من الآن وإلى الأبد. آمين .<u></u><u></u></span></p>
<p class="yiv1704353761MsoNormal" dir="RTL"><span lang="AR-SA">المرجع : كتاب إختبرني يا الله صفحة ٢٢٨ - قداسة البابا تواضروس الثاني</span></p>
<h4>المرأة الكنعانية – المتنيح أنبا أثناسيوس مطران بني سويف والبهنسا<a href="#_ftn5" name="_ftnref5">[5]</a></h4>
<p><strong>مع المرأة الكنعانية</strong>: (مت١٥: ٢١-٢٨)</p>
<p>وفي طوافه في البلاد وصل إلى شمال الجليل في أطراف فينيقية (لبنان) فتقابل مع هذه المرأة، التي طلبت منه أن يشفي أبنتها وكان إيمانها عظيماً.</p>
<ol>
<li>أذ نادت &#8220;يا سيد يا أبن داود&#8221; فهي تعرف من هو، وإنه المسيا.</li>
<li>مشت وراءه تصرخ طالبة الرحمة.</li>
<li>أتت وسجدت وقالت يا سيد أعني.</li>
<li>أجابت بانسحاق عظيم &#8220;أن الكلاب تأكل من فتات موائد أربابها&#8221; ولذلك نالت ابنتها الشفاء.</li>
</ol>
<p>وحين تأنى السيد عليها، أو حين قال: &#8220;أنه جاء لبيت أسرائيل&#8221; هو لم يقصد إهمالها، وإنما إذ عَلِمَ عِظَمْ إيمانها قصد أن يبرز ذلك الإيمان للحاضرين في ردِّها على تصرفاته وكلامه.</p>
<p>وكلمة &#8220;الكلاب&#8221; كانت شائعة عند اليهود كتسمية للأمم. وهو إذ قالها كان يلفت نظر الحاضرين إلى رأيهم في تلك السيدة وإلى عِظَمْ إيمانها ووداعتها. وكأنه يكرِّر كلمته السابقة &#8220;لم أجد ولا في اسرائيل إیماناً بمقدار هذا&#8221; (مت٨: ١٠). وفرق بين من يأكل على المائدة، ومن يأكل الفتات. ونحن نأكل على مائدة الرب، جسده ودمه الأقدسين. وهناك برکات تفيض من الكنيسة لغير بنيها، كأن يطلب مريض من ايمان آخر بركة السيدة العذراء ويشفي. فكم يليق بنا أن نتمتع نحن بذخائر النعمة. وكان لإنسحاق تلك المرأة ولجاجتها أثر كبير في حصولها على ما طلبت، ونحن في الحقيقة لا شيء فيليق بنا أن ننسحق كثيراً، &#8220;صادقة هي الكلمة المستحقة كل قبول أن يسوع المسيح جاء إلى العالم ليخلص الخطاة الذين أولهم أنا&#8221; (١تي١: ١٥)، وداود النبي يقول عن نفسه &#8220;أنه كلب میت وبرغوث&#8221; (١صم٢٤: ١٤) فلنقل ذلك لأنفسنا بيننا وبين الله ولا نقولها للناس لأنها قد تجلب لنا مديحهم. والإنسحاق لا يكون بقولنا للناس: &#8220;أنا خاطيء&#8221; بل بيننا وبين الله، أما التصرف قدام الناس فليكن في بساطة.</p>
<p><strong>عند قدمي يسوع</strong> (مت١٥: ٢٩-٣١)</p>
<p>جاء اليه جموع كثيرة معهم مرضى من كل نوع، فليس ضرورياً أن الذين يبحثون عن المرضى هم الكهنة والشمامسة فقط، بل على الجميع أن يصلوا من أجل بعضهم البعض. المرضى من أجل المرضى، والحزانى، والمحتاجين، والبعيدين عن المسيح. فليصل الجميع من أجلهم، ولا داعي لأن يقولوا لهم: اننا نصلي من أجلكم. فلنجعل جميع مشاكل الناس أمامنا في الصلاة، كالعائلة، والجيران، والأوضاع العامة، والخارجية، والداخلية وغيرها. وحري بنا ألا يكون اهتمامنا بالصلاة أن نقول للكاهن أن يصلي من أجل كذا وكذا، فلنوسع صلاتنا، ولنذكر قدامه كل أمر، ولنقلل من الأحاديث، لأننا نكثر من الأحاديث في هذه الأيام، بينما صلاتنا قليلة، أما العكس فهو الصحيح. &#8220;في كل شيء بالصلاة والدعاء مع الشكر لتعلم طلباتكم لدى الله&#8221; (في٤: ٦).</p>
<p>لقد تعجب الجموع أن رأوا المرضى من كل نوع يصحون، أما نحن فإننا واثقون في قوته الكاملة، فلنصل اليه دائماً ولنشكره دائماً، ولتكن الأحاديث معه أساساً في علاقتنا، وقوة حياتنا.</p>
<hr />
<p><a href="#_ftnref1" name="_ftn1">[1]</a><sup>- تفسير رسالة أفسس - ص٤ - </sup><sup>القمص تادرس يعقوب ملطي .</sup></p>
<p><a href="#_ftnref2" name="_ftn2">[2]</a><sup>- كتاب: من كتابات القديس يوحنا الذهبي الفم - صفحة ٢٦٨ - القمص تادرس يعقوب ملطي.</sup></p>
<p><a href="#_ftnref3" name="_ftn3">[3]</a><sup>- </sup><sup>Simonetti, M &amp; Oden, T.C ( 2002 ). Matthew 14-28 ( <em>The Ancient Christian Commentary on Scripture, New Testament part 1b ). Illinois ( USA ):InterVarsity Press. Pages 27-30</em></sup></p>
<p><a href="#_ftnref4" name="_ftn4">[4]</a> <sup>- </sup><sup>تفسير إنجيل متي - إصحاح ١٥ - القمص تادرس يعقوب ملطي.</sup></p>
<p><a href="#_ftnref5" name="_ftn5">[5]</a> <sup>- </sup><sup>كتاب تفسير إنجيل متى -  صفحة ١٩٠ - المتنيح أنبا أثناسيوس مطران بني سويف والبهنسا.</sup></p>

      {% endcreateArticleAccordions %}
    </section>
  {% endblock %}
  