---
layout: 'layouts/reading.html'
title: 'يوم السبت من الاسيوع الرابع ( سبت ثمار معرفته )'
tags: 'great-lent'
permalink: /articles/great-lent/4-6.html
---
  {% block content %}
    <section id="readings">
      <ul>
      {% if 'undefined' != 'undefined' %}
      
      {% else %}
      {% if 'null' != 'null' %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">العشية</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeVespers '' '' %}
          </div>
        </div>
      </li>
      {% endif %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">باكر</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeMatins '19.142:5,7' '42.16:19-31' '' %}
          </div>
        </div>
      </li>
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <h3 class="flex items-center justify-between">
            <span class="kufi">القداس</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </h3>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeLitugy '50.4:4-9' '59.3:13-18*@+59.4:1-6' '44.24:24-27*@+44.25:1-12' '19.61:1,5' '40.21:33-46' %}
          </div>
        </div>
      </li>

      {% endif %}
        </ul>
    </section>
    <section id="article">
      <h3 class="mt-8 mb-4 heading-explain">شرح القراءات</h3>
      {% createArticleAccordions %}
        <p>&#8220;صهيون تفدي بالحق وتائبوها بالبر وهلاك المذنبين والخطاة يكون سواء وتاركوا الرب يفنون&#8221; (إش ١: ٢٨،٢٧).</p>
<p>[لئلا تكون لنا كثرة كراماتك يا سيدنا علّة ثقل بالأكثر للوقوع في الدينونة&#8221; (صلاة القسمة - القدّاس الكيرلسي)</p>
<p>[إن كان ملكوت الله داخلنا كما قال ربنا فإن جهنم أيضاً داخل الملتصقين بالأوجاع (الشهوات) كل واحد ميراثه فيه وغذاؤه داخله] (يوحنا سابا)<a href="#_ftn1" name="_ftnref1">[1]</a></p>
<p>[من يأخذ الإتجاه المضاد لله إنما يسير إلى العدم] (القديس أغسطينوس)<a href="#_ftn2" name="_ftnref2">[2]</a></p>
<h3>شواهد القراءات</h3>
<p>(مز١٤١: ٥- ٧)، (لو١٦: ١٩- ٣١)، (في٤: ٤- ٩) (يع٣: ١٣ -١٨) ،(يع ٤: ١- ٦)، (اع ٢٤: ٢٤ -٢٧ ) ،( اع ٢٥ : ١- ١٢) (مز٦٠: ١- ٤)، (مت ٢١: ٣٣ -٤٦).</p>
<h3>شرح القراءات</h3>
<p>تتكلّم قراءات اليوم عن مدخل وطريق معرفة ابن الله وحضوره الإلهي في حياتنا وهو مخافته وثمر عمله فينا.</p>
<p><strong>تبدأ القراءات في مزمور باكر</strong> بإعلان طبيعة من يترجّون برّ الآب فهو رجاؤهم وحظّهم في أرض الأحياء.</p>
<p>&#8220;فصرخت إليك يا رب وقلت أنت هو رجائي وحظي في أرض الأحياء&#8221;.</p>
<p><strong>ويقدّم إنجيل باكر</strong> قصّة الغني ولعازر ومصير من يحيا لنفسه فقط ويغلق أحشاؤه عن إحتياجات الآخرين فيفقد كل ثمر.</p>
<p>&#8220;فقال له ابراهيم يا ابني اذكر أنك قد استوفيت خيراتك في حياتك ولعازر أيضاً البلايا فالآن هو يتعزى ههنا وأنت في عذاب&#8221;.</p>
<p><strong>كما يوضّح أن ثمر البرّ</strong> لايمكن في المعجزات والغيبيات بل في كلمة الله وفعلها في النفوس.</p>
<p>&#8220;فقال له إن كانوا لا يسمعون لموسى والأنبياء فإنهم ولا إن قام واحد من الأموات يقتنعون&#8221;.</p>
<p><strong>وفي البولس</strong> يكشف عن الأثمار المتعدّدة لبرّ الآب.</p>
<p>&#8220;كل ما هو حق كل ما هو عفاف كل ما هو عادل كل ما هو طاهر كل ما هو بمحبّة كل ما هو مسرّ كل ما هو فضيلة&#8221;.</p>
<p><strong>ويُكمِّل الكاثوليكون</strong> في الكلام عن أثمار البرّ التي في شركتنا مع الآخرين.</p>
<p>&#8220;فليرينا أعماله بالتصرف الحسن في وداعة الحكمة &#8230; الحكمة التي هى من فوق فهي أولاً طاهرة ثم مسالمة مترفقة سهلة مملوءة رحمة وثمراً صالحاً لا تدين ولا تراءي وثمر البرّ يزرع في السلام من الذين يفعلون السلام&#8221;.</p>
<p><strong>ويعلن الإبركسيس</strong> كيف يرفض العالم برّ الله الذي يحكم عليه ويدينه.</p>
<p>&#8220;وبعد أيام أقبل فيلكس مع دروسلة امرأته التي كانت يهودية فاستحضر بولس وسمع منه عن الايمان بالمسيح وبينما كان يتكلم معه عن البر والتعفف والدينونة العتيدة أن تكون ارتعب فيلكس وأجاب: أما الآن فاذهب ومتى حصلتُ على وقت استدعيك&#8221;</p>
<p><strong>ويُطمئِّن مزمور القدّاس</strong> النفس لميراث البرّ لخائفى الله.</p>
<p>&#8220;استمع ياالله طلبتي، أعطيت ميراثاً للذين يرهبون إسمك&#8221;.</p>
<p><strong>وفي إنجيل القدّاس</strong> تتكرّر كلمة الأثمار والثمر أربع مرّات للتأكيد على أساس وسبب المكافأة أو الدينونة.</p>
<p><strong>كما يحذّر الكنائس</strong> التي تستهىن ببرّ الله وتتكل على الشكليات والإفتخار الكاذب.</p>
<p>&#8220;ولما قرب أوان الثمر أرسل عبيده إلى الكرامين ليأخذ أثماره، فقالوا له إنه بالردئ يهلك أولئك الأردياء ويسلم الكرم إلى كرامين آخرين يؤدون له أثماره في حينها، ولذلك أقول لكم إن ملكوت الله ينزع منكم ويُسلم لأمة أخرى تصنع أثماره&#8221;.</p>
<p></p>
<h3>ملخّص القراءات</h3>
<table width="503">
<tbody>
<tr>
<td width="91">مزمور باكر والقدّاس</td>
<td width="412">الله هو حظ النفس ورجاؤها وميراثها وهو موضوع صراخها</td>
</tr>
<tr>
<td width="91">إنجيل باكر</td>
<td width="412">ثمر مخافته في أحشاء الرحمة والعطاء للمحتاجين</td>
</tr>
<tr>
<td width="91">البولس</td>
<td width="412">الحق والعدل والطهارة والمحبّة هى أثمار برّ الآب</td>
</tr>
<tr>
<td width="91">الكاثوليكون</td>
<td width="412">الترفّق والرحمة والمسالمة والسلام ثمار التصرّف الحسن ووداعة الحكمة</td>
</tr>
<tr>
<td width="91">الإبركسيس</td>
<td width="412">العالم يرفض برّ الله لأنّه يحكم عليه ويدينه</td>
</tr>
<tr>
<td width="91">إنجيل القدّاس</td>
<td width="412">الله يطلب دائما أثماره فينا كنفوس وكنائس</td>
</tr>
</tbody>
</table>
<p></p>
<h3>الكنيسة في قراءات اليوم</h3>
<table width="503">
<tbody>
<tr>
<td width="91">إنجيل باكر والإبركسيس</td>
<td width="412">المكافأة والدينونة العتيدة</td>
</tr>
<tr>
<td width="91">إنجيل القدّاس</td>
<td width="412">المسيح له المجد رأس الزاوية</td>
</tr>
<tr>
<td width="91">إنجيل القدّاس</td>
<td width="412">قبول الأمم للملكوت</td>
</tr>
</tbody>
</table>
<p></p>
<div class="I_52qC D_FY W_6D6F" data-test-id="message-view-body">
<div class="msg-body P_wpofO mq_AS" data-test-id="message-view-body-content">
<div class="jb_0 X_6MGW N_6Fd5">
<div>
<div id="yiv5525182598">
<div>
<h3 dir="rtl">عظات ابائية</h3>
<h4 dir="rtl">مثل الكرم والكرامين حسب تعليم القديس كيرلس الكبير</h4>
<p dir="rtl">ماذا يقول المسيح إذن لرؤساء اليهود عندما يطرح أمامهم تلك الأشياء النافعة للخلاص؟ &#8221; إنسان غرس كرماً وسلَّمه إلى كرامين وسافر زماناً طويلاً &#8220;.</p>
<p dir="rtl">إذا فحص أى شخص عن معنى ما قيل هنا بعين الذهن الثاقبة،فإنه سوف يجد كل تاريخ بنى إسرائيل باختصار فى ثنايا هذه الكلمات، لأن المرنم يوضح من هو الذى غرس الكرم، وما الذي يُفهم بالحقيقه عن الكرم المغروس، عندما يقول للمسيح مخلّص الجميع عن الإسرائيليين: &#8221; كرمة نقلتَ من مصر ، طردت أمما وغرستها، هيأت طريقاً قدامها، وغرست جذورها حتى مَلأت الأرض &#8220;</p>
<p dir="rtl">(مز٧٩: ٨،٩س).وأيضاً يُعلن النبي المبارك إشعياء نفس الشئ ويقول :&#8221; كان لحبيبى كرم على أكمه فى مكان خصيب &#8220;</p>
<p dir="rtl">(إش٥: ١س).</p>
<p dir="rtl">ويضيف بعد ذلك ليشرح معنى ما قد قيل سابقاُ بشكل غامض :</p>
<p dir="rtl">&#8221; إن كرم رب الجنود هو رجال يهوذا ، غرس جديد ومحبوب &#8220;(إش٥: ٧س). فالذي غرس الكرم إذاً هو الله ، وهو نفسه الذى سافر بعيدا لزمان طويل. ولكن إن كان الله يملأ كل الأشياء، ولا يمكن أن يكون غائباً عن الموجودات بأى حال فكيف إذن يذهب صاحب الكرم بعيداً لزمان طويل؟ هذا يعنى أنه بعدما ظهر لهم فى شكل نار عند نزوله على جبل سيناء فى أيام موسى – هذا الذى أعطاهم الناموس كوسيط - فإنه لم ينعم عليهم مرَّة أخري بحضوره فى صورة مرئية، ولكنها يستخدم تشبيهاً مستعاراً من الأمور البشرية، ليبين أنَّ علاقته بهم كانت مثل واحد سافر لزمان طويل.</p>
<p dir="rtl">وكما سبق أن قلت إنه سافر، ولكن من الواضح أنه كان يعتنى بكرمه، وكان يفكر فيه باستمرار، لأنه أرسل خداماً أمناء فى ثلاث أوقات مختلفة لكى يتسلموا المحصول، أى الثمر من الكرامين فلم تكن هناك مناسبة فى هذه الفترة لم يرسل الله فى أثنائها أنبياء وصديقيين لينذروا بنى إسرائيل، ويحثوهم ليعطوا أثماراً توافق الحياة المجيدة اللائقة التى حسب الناموس، أما هم فكانوا أشراراً وعصاة وعنيدين، وتقسّى قلبهم ضد التحذير، فلم يصغوا بأي طريقة للكلمة التى كان يمكن أن تنفعهم. لأنه حتى النبى إشعياء كواحد كان - كأنه مغشيَّا عليه من الأتعاب والمعاناه بدون فائدة - يقول: &#8221; يارب من صَدّقّ خبرنا؟&#8221; (إش٥٣: ١س). لذلك فباستخفافهم بأولئك الذين قد أُرسلوا إليهم، &#8221; فإنهم أرسلوهم فارغين بمعنى أنه لايوجد شئ حسن يقولونه عنهم لله الذي أرسلهم. وأيضا فإن النبى إرميا يلوم الشعب اليهودى وحكامه بسبب عجرفتهم الزائدة بقوله: &#8221; لمن أتكلم وأشهد حتى يسمع؟ ها إن آذانهم غير مختونة فلا يقدرون أن يسمعوا، ها إن كلمة الرب قد صارت لهم عاراً،ولا يقبلونها &#8221; (إر٦: ١٠س). ويتكلم فى موضع آخر عن أورشليم هكذا:&#8221; داوينا بابل فلم تُشف ، فلنتركها ولنذهب كل واحد إلى أرضه، لأن دينونتها بلغت السماء&#8221; (إر٥١: ٩س). وكما قلت سابقاً إنه يدعو أورشليم بابل لأنها لم تختلف عن فارس فى عدم طاعتها وارتدادها، ولأنها لم تخضع نفسها للوصايا المقدسة،وربما لأنها قد حسبت مثل من لا معرفة له بالله، لأنها اختارت أن تعبُد المخلوق بدلاً من الخالق وتسجد لأعمال يديها،لأن بنى إسرائيل كانوا مذنبين بتهمة الارتداد وعبادة الأوثان.فهذه هى إذن الطريقة التى طردوا بها بخزى أولئك الذين أُرسلوا إليهم.</p>
<p dir="rtl">أما رب الكرم فإنه يتفكر فى نفسه ويقول: &#8221; ماذا أعمل &#8220;؟ يجب علينا أن نتمعن جيدا بأي معنى يقول هذا.هل يستخدم صاحب الكرم هذه الكلمات لأن ليس لديه مزيد من الخدام؟ بالتأكيد لا ،لأنه لا ينقصه خدام آخرون يتممّون إرادته المقدسة، ولكن كما يقول طبيب عن شخص مريض ،ماذا أعمل ؟ إننا نفهم أنه يقصد أنه جًرَّب معه كل وسائل المهارة الطبية ولكن بلا جدوي .</p>
<p dir="rtl">وهكذا نحن نؤكد أيضا أنَّ رب الكرم بعدما أظهر كل لطف وعناية بكرْمه، ولكن بدون أى نفع ، فهو يقول :أرسل ابنى الحبيب لعلهم يهابونه. لاحظ فى هذا القول إنه أرسل الابن بعد الخدام ، ولكن ليس كواحد محسوب ضمن الخدام ،بل كابن حقيقى ولذلك فهو الرب . لأنه حتى وإن كان قد أخذ شكل العبد لأجل التدبير ، إلا أنه لا يزال إلهاً والابن الحقيقى لله الآب ويملك السلطان الطبيعى،هل كرموا حينئذ هذا الذى أرسل كابن ورب ،وكمن يملك بالخيرات كل ما لله الآب؟ هم لم يكرموه، لأنهم ذبحوه خارح الكرم بعد أن خطّطوا فى أنفسهم هدفاُ غبياً يدل على الجهل، ومملوء بكل خبث ؛ لأنهم قالوا:&#8221;هلموا نقتله لكى يصير لنا الميراث:&#8221;.ولكن أخبرنى أنت كيف تصوَّرت هذا؟ فهل أنت أيضا ابن الله الآب، هل ينحدر إليك الميراث كحق طبيعى؟ وإذا أنت طرحت الوارث خارج الطريق فكيف تصير سيداً لهذا الميراث الذى اشتهيه؟</p>
<p dir="rtl">وبالأكثر كيف لايكون افتراضك هذا سخيفاً،لأن الرب هو بالحقيقة ابن ووارث لسلطان الله الآب بحق جوهره، فإنه عندما صار إنسانا دعا أولئك الذين آمنوا به إلى مشاركته فى ملكوته. أما هؤلاء الناس فأرادوا أن يأخذوا المملكة لأنفسهم وحدهم، دون يسمحوا للابن بأى مشاركة له معهم فى الميراث، مغتصبين لأنفسهم وحدهم الميراث الرباني. ولكن هدفهم هذا كان مملوء جهالة ويستحيل تحقيقه ، لذلك يقول داود المبارك عنهم فى المزامير : &#8221; الساكن فى السماء يضحك بهم، والرب يستهزئ بهم&#8221; (مز٢: ٤س).</p>
<p dir="rtl">لذلك فإن رؤساء المجمع اليهودى قد طُرحوا خارجا بسبب مقاومتهم لمشيئه الرب ، إذ جعلوا الكرْم الذى استعينوا عليه بلا ثمر، لأن الله قال فى موضع ما: &#8221; رعاة كثيرون أفسدوا كرمى،داسوا نصيبى، جعلوا ميراثى المشتهى برية خربة جعلوه خراباً مهجوراً &#8220;</p>
<p dir="rtl">(إر١٢: ١٠، ١١س). وقيل أيضاً بصوت إشعياء : &#8221; قد انتصب الرب للتو للمحاكمة، الرب نفسه سيدخل فى المحاكمة مع شيوخ ورؤساء الشعب، وأنتم لماذا أحرقتم كرْمي؟ &#8221; (إش٣: ١٣، ١٤).وأولئك مثل الذين جَعَلوا الأرض عقيمة، لكونهم أشرار، فإنهم هلكوا بالشرور لأنه من العدل والعدل جدَّا، بما أنهم كسالى وقاتلون للرب فإنهم يكونون فريسة لتعاسات شديدة جدَّا.</p>
<p dir="rtl">وقد أُعطى الكرم إلى كرامين آخرين،من يكون هؤلاء الكرامون؟ إننى أجيب أنهم جماعة الرسل القديسين الكارزين بوصايا الإنجيل، وخدَّام العهد الجديد الذين هم معلٍّمون للعبادة الروحية ،والذين عرفوا كيف يُوجِّهون الناس توجيهاً صحيحاً غير ملوم، ويقودوهم بطريقة ممتازة جدًّا نحو كل ما يرضي الله ويسره. وهذا أنت تتعلمه مما يقوله الرب بصوت إشعياء النبي إلي أُم اليهود، وهو المجمع: &#8221; وأرد يدى عليكِ ، وأُمحصك لأنقيكِ، وسوف أهدم الذين لا يطيعيون، وسوف أنزع منكِ جميع فاعلي الإثم ، وسوف أخفض كل من يتشامخ، وأقيم قضاتك كما فى الأول ، ومشيريك كما فى البداءة&#8221;(إش١: ٢٥، ٢٦س). ويشير بهؤلاء كما قلت إلى كارزي العهد الجديد الذين يقول عنهم الرب بفم إشعياء فى موضع ما: &#8220;وتُدعون كهنة الرب وخدام الله&#8221;</p>
<p dir="rtl">(إش٦١: ٦س). أما بخصوص أنَّ الكرم قد أُعطى إلى كرَّامين آخرين، فهذا لايعني فقط الرسل القديسين، ولكن يُقصد أيضاً الذين أتوا بعدهم ، حتى ولو لم يكونوا من نسل إسرائيل، وهذا ما يعلنه الله بوضوح حيث يقول بفم إشعياء لكنيسة الأمم ولبقية إسرائيل: &#8220;ويأتي الغرباء فى الجنس ويرعون غنمكم والغرباء فى العشيرة سوف يكونون حرًّاثين وكرامين&#8221; (إش٦١: ٥س). لأنه فى الواقع قد دُعىّ كثيرون من الأمم وقديسون كثيرون منهم قد أُحصوا ضمن من صاروا معلمين ومرشدين، بل وإلى وقتنا هذا يزرعون بذار التقوى فى المسيح فى قلوب المؤمنين، ويجعلون الأمم الذين يقومون برعايتهم مثل كروم جميلة فى نظر الله.</p>
<p dir="rtl">تفسير إنجيل لوقا للقديس كيرلس الإسكندري ( صفحة ٦٤٣ ) - ترجمة دكتور نصحي عبد الشهيد</p>
<h5 dir="rtl"></h5>
<h5 dir="rtl"></h5>
<h4 dir="rtl">شرح المثل عند القديس أمبروسيوس</h4>
<p dir="rtl">يذكر إشعياء بوضوح أن كرم رب الجنود هو بيت إسرائيل (إش ٥ : ٧) ، موجد هذا الكرم هو الله الذي سلمه وسافر بعيدًا، لا بمعنى أن الرب سافر إلى مكان آخر، إذ هو دائمًا حاّل في كل مكان، لكنه يظهر وجوده واضحًا جدًا في الذين يحبون، ويظل بعيدًا عن الذين يتركونه.</p>
<p dir="rtl">يذكر إنجيل متى أنه أحاطه بسياج (مت ٢١ : ٣٣ ؛ مر ١٢ : ١) ، أي قوّاه بسياج العناية الإلهية ليحفظه من هجوم الوحش الروحي.</p>
<p dir="rtl">حفر معصرة، لأن أسرار آلام المسيح تبدو كالخمر الجديدة&#8230; وقد ظن الجمع أن التلاميذ سكارى حين نالوا الروح القدس (أع ٢ : ١٣). حفر حوض معصرة لكي يُسكب فيه الثمر الداخلي.</p>
<p dir="rtl">بنى برجًا، إذ وهبهم الناموس.</p>
<p dir="rtl">في زمن الإثمار أرسل عبيده؛ حسنًا فعل إذ أرسلهم في زمن الإثمار لا زمن الحصاد ، لأن اليهود لم يقدموا أي ثمر&#8230; ولم تمتلئ معاصر اليهود من الخمر، بل سُفك دم نابوت في هذه الكرمة (١مل ٢١ : ١٣) ، وتنبأ دمه أنه سيكون لهذه الكرمة شهداء كثيرون&#8230; أرسل الله كثيرين، فردهم اليهود بلا كرامة ولا منفعة، لا يحملون منهم ثمرًا. أخيرًا أرسل إليهم ابنه الوحيد، فأرادوا التخلص منه بكونه الوارث، فأنكروه وقتلوه صَلْبًا</p>
<p dir="rtl">اعتاد الكرَّام الرحوم أن يهتم بهذا الكرم ويشذّبه وينقيه مما تكدس من كتل الحجارة. تارة يحرق بالشمس خبايا (شهوات) جسدنا، وأخرى يروي الكرم بالمطر، ويسهر عليه حتى لا تنبت الأرض شوكًا ولا يكسوها أوراق كثيرة، فيضغط غرور الكلمات الباطلة على الفضائل وينزع نموها، ويبطل نضوج البساطة وكل سمة صالحة.</p>
<p dir="rtl">ليحفظنا الله من أجل نهاية هذا الكرم الذي يسنده الرب المخلص، حارسًا إياه ضد كل خداع الدهر بسياج الحياة الأبدية&#8230;</p>
<p dir="rtl">هوذا حصادنا! ففي غمار السعادة والأمان يملأ البعض أحشاءهم الداخلية من عنب الكرم اللذيذ. وليدقق آخرون في هبات السماء، وليبصر الكثيرون ثمار البركات الإلهية عند أقدام إرادتهم بعد خلع نعالهم فيصبغوا أقدامهم العارية بالخمر الذي ينهمر عليهم، لأن الموضع الذي هم فيه أرض مقدسة (خر ٣ : ٥) &#8230;</p>
<p dir="rtl">سلام لك أيها الكرم الثمين من أجل هذا الحارس، فقد تقدست بدم الرب الثمين، وليس بدم نابوت، ولا بدم أنبياء بلا حصر.</p>
<p dir="rtl">مات نابوت ولم يتهاون في ميراث آبائه، أما أنت فلأجلنا غرست استشهاد جموع الشهداء، ولأجلنا ذاق الرسل صليب الرب، لهذا أثمروا إلى أقاصي الأرض</p>
<p dir="rtl">المرجع : تفسير إنجيل مرقس الإصحاح الثاني عشر - القمص تادرس يعقوب ملطي</p>
</div>
</div>
</div>
<h4 dir="rtl"></h4>
<h4 dir="rtl"></h4>
<h3 dir="rtl">عظات اباء وخدام معاصرون :</h3>
<div>
<div id="yiv5525182598">
<div>
<h4 dir="rtl">أين هي ثمارك التي تُفرحنى ؟ لقداسة البابا تواضروس</h4>
<p dir="rtl">يوم السبت من الأسبوع الرابع لقداسة البابا تواضروس</p>
<p dir="rtl">(مت ٢١ : ٣٣ - ٤٦)</p>
<p dir="rtl">أين هي ثمارك التي تُفرحنى ؟</p>
<p dir="rtl">هذه الفقرة الإنجيلية تقدم لنا صورة مهمة من خلال مثل ، وهذا المثل نسميه &#8221; مثل الكرامين &#8220;، والسؤال في هذا الجزء هو سؤال لكل واحد فينا : أين هي ثمارك ؟</p>
<p dir="rtl">هذا المثل له صدى في الأصحاح الخامس من سفر إشعياء ، وقد يسمى هذا الأصحاح &#8221; نشيد الكرمة &#8220;، وهو يحكي عن تاريخ شعب بني إسرائيل ، والمثل عبارة عن قصة يأتي من ورائها فائدة روحية وتعليم يصل إلى الجميع ، فهو يشرح باختصار عن إنسان رب بيت غرس كرماً &#8221; حديقة عنب &#8221; وهذا يحتاج إلى مجهود كبير في العمل :</p>
<p dir="rtl">غرسا كرماً : الكنيسة هي غرس الرب .</p>
<p dir="rtl">احاطه بسياج : سور للحماية خاصة من الثعالب والكنيسة ايضاً تحت الحماية الخاصة لله .</p>
<p dir="rtl"> . حفر معصرة وبنى برجاً : الكنيسة فيها نظام ووصايا وطقوس، ونجد الحديقة فيها العنب والعناقيد التي تتدلى في شكلها الجميل ، وهذا تعبير عن الحيوية والخصوبة ، هذا الرجل صنع لكرمه كل شيء ، والله قدم لنا كل شيء وينتظر من الإنسان أن يكون له ثمر. في البداية أرسل الرجل عبيده ليأخذوا الثمر، ولكن أمسكهم الكرامون وقتلوا بعضاً منهم وجلدوا بعضاً ورجموا البعض الآخر ، ثم عاد مرة أخرى وأرسل عبيداً آخرين ففعلوا بهم كذلك ، بعد ذلك أرسل لهم ابنه الحبيب قائلاً : &#8221; لعلهم يهابون ابني &#8220;، ولكنهم قتلوه . والعبيد هنا يمثلون إرسال الله للأنبياء في العهد القديم ، والابن يمثل إرسال الله لابنه الوحيد يسوع المسيح .</p>
<p dir="rtl">المثل في معناه الكتابي يرمز إلى حقيقة الأمة اليهودية وكيف أنها كانت تعيش في العناء والتذمر ، ولكن يهمنا أن ننظر إلى الفقرة الإنجيلية ونطبقها على أنفسنا لكي نستفيد روحياً ، يقول داود النبي في المزمور : &#8221; جعلت سروراً في قلبي أعظم من شرورهم إذ كثرت حنطتهم وخمرهم &#8221; (مز٧٤) كانت هذه من مفردات المجتمع اليهودي ، فالحنطة والخمر &#8221; عصير العنب &#8221; والزيت &#8221; زيت الزيتون &#8220;، كانت تعبر عن الثراء ، ويقول داود النبي : أنت يا رب بوجودك في حياتي أعطيتني فرحاً وسروراً أكثر من الناس الذين لديهم هذه الأشياء ..</p>
<p dir="rtl">نعود للسؤال : هل حياتك فيها ثمر ؟ هل شجرة حياتك تطرح أثماراً من سنة إلى سنة ، ومن صوم إلى صوم ؟</p>
<p dir="rtl">هذا المثل يركز على ثلاثة أمور :</p>
<p dir="rtl">١-محبة السيد الفائقة لكرمه :</p>
<p dir="rtl">الله يحبك بصورة تفوق العقل ، ليس على المستوى الفردي ولكن على المستوى الجماعي أيضاً ، وأنت عندما تجلس وتهدأ إلى نفسك تستطيع أن تسترجع نعماً كثيرة يقدمها الله لك كل صباح وتعبر عنها في صلاة الشكر عندما نقول لله : &#8221; نشكرك لأنك سترتنا وأعنتنا وحفظتنا وقبلتنا إليك وأشفقت علينا وعضدتنا وأتيت بنا إلى هذه الساعة &#8220;.</p>
<p dir="rtl">أيضاً من النعم الكثيرة التي يعطيها الله لنا نعمة المكان الذي نعيش فيه ، فنحن في بلادنا نعيش في جو معتدل بالمقارنة مع بلاد أخرى كثيرة ، فقد توجد بلاد درجات الحرارة فيها تحت الصفر ، وأيضا بلادنا محفوظة من ثورات الطبيعة كالزلازل والبراكين والفيضانات ، فعندنا الطبيعة هادئة وهذه إحدى النعم الموجودة في بلادنا مصر ، ومن النعم أيضاً الشمس التي تُنير لنا حياتنا ونأخذ منها الطاقة والحيوية &#8230; وغيرها كثير من النعم ، ولا أريد أن أقف وأعدد هذه النعم الكثيرة ، ولكني أريد أن أقف أمام محبة الله الفائقة للإنسان .</p>
<p dir="rtl"> قد تقول : &#8221; أنا إنسان خاطئ وأغضب الله كثيرا &#8220;. أقول لك : لكنه يحبك ، ومحبة الله لشخصك حتى وإن كانت تصدر منك أخطاء فهو ينتظر توبتك ، المحبة الفائقة التي جعلته يعمل لهذا الكرم كل شيء ، كذلك يعطيك الصحة ويوفر لك المناخ  الطيب ، ويعطيك الصداقات الطيبة أو الأسرة الهادئة ، كل هذه نعم أنعم الله بها على الإنسان ، لكن الإنسان فيه ضعف غريب أنه لا يشعر بقيمة النعمة إلا عندما يفقدها أو يحرم منها ، تصور مثلا إذا امتنع عنك الهواء ثوان قليلة فسوف تشعر بضيق في التنفس ومن الممكن أن تموت ، بينما نحن نستنشق الهواء طوال الوقت ونحيا في هذه النعمة ، نحن نعيش في نعم كثيرة لكن على الإنسان أن يتعلم الشكر ويقدر قيمة النعمة.</p>
<p dir="rtl">٢ قتل العبيد والابن الحبيب :</p>
<p dir="rtl"><strong>هؤلاء الكرامون ليس فقط لم يقدموا ثمراً ، بل أيضاً قتلوا العبيد الذين أرسلهم صاحب الكرم ، فهؤلاء الكرامون الأردياء ارتكبوا أخطاء وسببوا الألم والطرد للعبيد الذين جاءوا يطلبون الثمر ، وفي النهاية قتلوا ابن صاحب الكرم ، وهذا يذكرنا بما فعله هيرودس عندما علم بميلاد السيد المسيح الملك حسب نبوات الكتاب ، فأرسل وقتل جميع أطفال بيت لحم ، هؤلاء الكرامون عاشوا في شر ، فهل تقدم ثمراً يفرح به الله مقابل النعم الكثيرة التي يعطيها لك ؟</strong></p>
<p dir="rtl">٣ ماذا يكون العقاب ؟ يقول الكتاب أولئك الأردياء يهلكهم هلاكا رديا ، ويسلم الكرم إلى كرامين آخرين يعطونه الأثمار في وقتهاً . الله ما زال يطلب الثمار في كنيسته وفي كل نفس ، وهذا المثل هو إنذار لكل إنسان لئلا تزول عنه النعمة الإلهية، ويكون مصيره في النهاية الهلاك . الخلاصة &#8230; احترس لئلا تكون حياتك بلا ثمر .</p>
<p dir="rtl">س : ما هو الثمر الذي يمكن أن يقدمه الإنسان في حياته ؟</p>
<p dir="rtl">نقرأ في رسالة معلمنا بولس الرسول إلى أهل غلاطية عن ثمر الروح القدس أنه : &#8221; محبة فرح سلام ، طول أناة لطف صلاح ، إيمان وداعة تعفف &#8221; (غل ٥ : ٢٢) ، وهذا هو ثمر عمل الروح القدس فيك ، لذلك يجب أن تضع أمامك هذه النماذج من الثمار لكي تراجع نفسك عليها : هل أنت إنسان محب للتذمر أو النكد ، هل وجودك لا يصنع سلاماً ، بمعنى أنك غضوب دائماً ؟ هل أنت إنسان ليس لديه التعفف والحياة النقية ؟ هل أنت إنسان تغيب عنه روح الوداعة أو إنسان ليس لديه اللمحات الإنسانية الجميلة مثل اللطف ؟</p>
<p dir="rtl">ليس هذه الثمار المطلوبة فقط ، وإنما تُوجد ثماراً أخرى كثيرة :</p>
<p dir="rtl">ثمرة أو فضيلة الاحتمال :</p>
<p dir="rtl">نحن نصلي في مقدمة صلاة باكر جزءاً من رسالة معلمنا بولس الرسول إلى أهل أفسس ونقول : &#8221; أسألكم أنا الأسير في الرب أن تسلكوا كما يحق للدعوة التي دعيتم إليها ، بكل تواضع القلب والوداعة وطول الأناة ، محتملين بعضكم بعضا بالمحبة مسرعين إلى حفظ وحدانية الروح ..&#8221; (أف ٤ : ١ - ٥).</p>
<p dir="rtl"> هل عندك ثمر &#8221; فضيلة الاحتمال &#8220;؟ يوجد إنسان لا يحتمل في نطاق أسرته ، أو نطاق خدمته ، أو في نطاق مجتمعه ، كيف يعيش في المجتمع ، والأسرة ، وتستمر الخدمة ؟</p>
<p dir="rtl"> مسرعين إلى حفظ وحدانية الروح ، هل الكلمة التي أقولها تُوحد الناس أم تسبب انشقاقاً ؟ هل الخبر الذي أنقله يحفظ وحدانية الروح ؟ أحياناً إنسان يتكلم بدون حساب نتيجة كلامه ، لهذا يقول لنا أحد الآباء القديسين : &#8221; كثيراً ما تكلمت فندمت أما عن السكوت فلم أندم قط &#8220;، وهذا يعلمنا إياه الكتاب &#8221; كثرة الكلام لا تخلو من معصية ، أما الضابط شفتيه فعاقل &#8221; (أم ١٠ :١٩).</p>
<p dir="rtl">هل هذا الأمر واضح عندك ، هل كلامك يوحد أم يفرق ؟ قد يقول إنسان : &#8221; لا بد أن أقول الحق &#8220;، قل الحق بالطريقة الصحيحة ، قل الحق بروح الحق ، الحق معناه أنك تتكلم ويكون كلامك على مستوى هذا الحق &#8230; هل تجمع أم تُفرق ؟ وهذا ينطبق على النطاق الضيق في صورة الأسرة ، والنطاق الأوسع في صورة مجتمع أو شعب أو أمة .</p>
<p dir="rtl"> ثمرة الرحمة والقلب الرحيم :</p>
<p dir="rtl">هل لديك هذا القلب الرحيم ؟ وقد يظهر في نظراتك وكلامك . هل عملك مكلل بالرحمة ؟ نحن نرتل في الصوم : &#8221; طوبى للرحما على المساكين &#8220;، وليس المقصود بها النواحى المادية بل ان يكون الإنسان أيضاً روحه رحيمة .</p>
<p dir="rtl">-ثمرة الشكر:</p>
<p dir="rtl">هل تشكر ربنا على كل حال ومن أجل كل حال وفي كل حال ؟ أم تشكره فقط عندما تأخذ نعمة منه ؟ أم أنه يوجد عندك روح التذمر؟ في مثل الابن الضال نجده يرجع لبيت أبيه وكان سبب فرح لأبيه وللجميع ، لكن يوجد شخص في هذه القصة لم يسر بعودة الابن وهو أخيه الأكبر ، بل تذمر أو رفض نصيحة أبيه ورفض دخول البيت ، ولا نعرف هل قدم توبة فيما بعد أم لا ؟!</p>
<p dir="rtl">يقول القديس مارإسحق : &#8221; ليس عطية بلا زيادة إلا التي بلا شكر &#8220;، هل أنت تشكر دائماً  ؟ أحياناً يكون الإنسان متذمراً حتى على حياته ، أو يتذمر على مواقف الحياة المختلفة ، يقول معلمنا بولس الرسول &#8221; كل الأشياء تعمل معا للخير للذين يحبون الله&#8221; (رو ۸ : ۲۸).</p>
<p dir="rtl">من الملاحظ أيضاً أن كلمة ثمر تكررت أربع مرات في هذا المثل ، وهذا يذكرنا بإشارة الصليب &#8221; أربع جهات &#8220;، يوجد ثمر يميناً ويساراً ، وأيضاً إن نظرت لأعلى أو لأسفل . إن نزلت إلى الحقول التي تزرع الفاكهة أو الخضروات أو أي محصول ، ورأيت الفلاحين وهم يجمعون الثمار تجد الفرحة واضحة على وجوههم ، وأحياناً تجدهم يغنون بفرح ، لقد زرعوا البذور من شهور واليوم يجمعون الثمار . لقد وضع السيد المسيح في حياتك بذورا كثيرة ، وهو الآن ينتظر منك الثمر .</p>
<p dir="rtl">-ثمر العلاقات الجيدة :</p>
<p dir="rtl">من الثمار أيضاً العلاقات الجيدة والطيبة مع الناس ، فهل تقدم المحبة التي تأسر كل أحد ؟ اسمع ما يقوله معلمنا بولس الرسول : &#8221; يا أولادي الذين أتمخض بكم أيضاً إلى أن يتصور المسيح فيكم &#8221; (غلا ٤ : ١٩). هو يخدم الناس وكأنه &#8221; يلد &#8220;، وكل ولادة جديدة هي ثمر ، وهذا الثمر الناتج فيه صورة المسيح . تصور إنسانا يتخاصم مع هذا ، ويبعد عن ذاك ، وقلبه لا يتسع لآخر &#8230; كيف يعيش ؟ أنت أيها الإنسان الذي نلت نعمة الروح القدس ليعمل فيك ، وأعطاك الله نعماً كثيرة جداً منذ ولادتك ثم الولادة الجديدة بالمعمودية ، ثم الحياة في حضن الكنيسة . وممارسة الأسرار كلها ووسائط النعمة التي تعيش بها &#8230; أين ثمرك ؟ وكلما ترتقي في عمرك فمن المفترض أن تكون أكثر قرباً من السماء ، وأكثر ارتفاعاً عن الأرض .</p>
<p dir="rtl">لذلك في نهاية هذا المثل يقول : &#8221; إن ملكوت الله ينزع منكم ( الأمة اليهودية )، ويعطى لأمة ( أمة العهد الجديد ) تعمل أثماره &#8221; (مت ۲۱ : ٤٣). من النعم الكبيرة التي نحيا فيها نعمة العهد الجديد ، ومنها الله ينتظر ثمراً في حياتك ، فسوف تقف أمام المسيح ، فهل ستُقدم هذه الثمار أم ستكون يدك فارغة ؟ وكيف ستظهر أمام الله بيد فارغة ؟ وإن كان هذا الثمر على مستوى الفرد ، فهناك ثمر على مستوى الكنائس أيضاً فيجب أن يكون للكنيسة ثمر ، وإذا فكرت كنيسة من الكنائس في نفسها فقط ، فهذه هي خطية الأنانية ، إذ لم تنظر إلى أماكن أخرى تحتاج إلى معونة بصفة عامة .</p>
<p dir="rtl">الله ينتظر من كل كنيسة ثماراً ، لقد صار اليهود بلا كنيسة  &#8221; إن ملكوت الله ينزع منكم ويعطى لأمة تعمل أثماره &#8221; (مت ۲۱ : ٤٣)، وأصبحت هي كنيسة المسيح في العهد الجديد ، وأي كنيسة هي أعضاء في جسد المسيح ، وهؤلاء الأعضاء يجب أن يكونون مثمرين.</p>
<p dir="rtl">انتبه ! كيف تهزم أنانيتك التي تمنع وجود الثمر؟</p>
<p dir="rtl">اجلس مع نفسك، اسأل نفسك : هل حياتي بالحقيقة فيها ثمر؟</p>
<p dir="rtl">اعرف الضعفات التي فيك ، وما الذي يعوقك ويعطلك ويجعل حياتك غير مثمرة . ابد</p>
<p dir="rtl">قف أمام الله، وقل له : &#8221; أوعدك يا رب من اليوم أن تكون حياتي فيها ثمار تفرحك وتُفرح الكنيسة كلها .</p>
<p dir="rtl">اجتهد في ان يكون عندك ثمر .</p>
<p dir="rtl"> المرجع : كتاب إختبرني يا الله صفحة ٢٣٥ - قداسة البابا تواضروس الثاني</p>
<h5></h5>
<h4>حقا لك مقر.. الكرمة للمتنيح الانبا كيرلس مطران ميلانو</h4>
<p dir="rtl">حقا لك مقر.. الكرمة</p>
<p dir="rtl">حقا لك مقر في قلوبنا</p>
<p dir="rtl">شكراً لك يا الله يا من غرست هذه الكرمة بيمينك &#8230; شكراً لك يا من أقتنيتها بدمك الثمين &#8230; يا من ترويها كل حين من ينبوعك &#8230; يا من ترعاها في كل زمان &#8230;</p>
<p dir="rtl">وشكراً لك يا من تنمى أغصانها &#8230; ويا من تحميها وأبواب الجحيم لن تقوى عليها &#8230;</p>
<p dir="rtl">يا الله &#8230; من غيرك أكثر غيرة على كرمتك &#8230; هي في قلبك وأنت في قلبها &#8230; في كل زمان أنت الحاضر في كل مكان فيها &#8230;</p>
<p dir="rtl">في قديم الزمان &#8230; افتقدت كرمتك بالآيات والعجائب والآباء والأنبياء &#8230; ولأجل انشغالك بالكرمة قلت &#8221; ماذا يصنع لكرمى وأنا لم أصنعه &#8221; &#8230;</p>
<p dir="rtl">وفي ملء الزمان &#8230; بتجسدك أتيت إلى كرمتك وأنرت على الساكنين في الظلمة وظلال الموت وصرت حجراً للزاوية &#8230;</p>
<p dir="rtl">وبموتك أقمت كرمتك التي كان قد قضى عليها الموت &#8230; وبقيامتك استرجعت لها الحياة مرة أخرى &#8230;</p>
<p dir="rtl">وبصعودك المعظم أرسلت روحك القدوس على تلاميذك الأطهار وجعلتهم رعاة حسب قلبك &#8230; بهم ترعى رعيتك هم يطلبون الضال &#8230; ويردون المطرود &#8230; ويجبرون الكسير &#8230; ويداوون الجريح &#8230;</p>
<p dir="rtl">وفي هذا الزمان &#8230; تُرى ماذا تقول لنا ؟ &#8230; هل تكرر لنا ما قلته قديماً &#8221; ماذا يصنع لكرمى وأنا لم أصنعه &#8221; ؟ &#8230; أم تقول &#8221; أنت بلا عذر أيها الإنسان &#8221; ؟ &#8230;</p>
<p dir="rtl">هل تقول لنا في هذا الجيل أنا أفتقدتكم براع أمين &#8230; نتلامس معه &#8230; نسمعه ويسمعنا &#8230; نكلمه ويكلمنا &#8230; قريب منا &#8230; حاضر معنا &#8230; يكلمنا ويعلمنا ويرشدنا ويدبر أمورنا &#8230;</p>
<p dir="rtl">قال لي قلبي بالحقيقة نحن بلا عذر &#8230; فهلم نتضرع إلى الرب غارس ، عن الكرمة وفاديها شاكرين على كل ما يصنعه معنا &#8230; نشكره لأنه منحنا راعياً يحيا حياة التسليم الكامل لله &#8230; إن سألناه الساكن في قلبه نرى الله وقديسيه &#8230;</p>
<p dir="rtl">وإن قلنا له &#8221; ما الذي يشغل فكرك &#8221; ندرك أنه ليس شيء آخر سوى الكتاب المقدس وأقواله وآياته ووعوده &#8230;</p>
<p dir="rtl">وإن طلبنا أن نعرف منه من هو الذي عن يمينه يقول لنا أنه مستند على السيد المسيح الذي أظهر لنا نور الآب وأنعم علينا بمعرفة الروح القدس الحقيقية &#8230;</p>
<p dir="rtl">حياة التسليم الكامل جعلت روح الله القدوس يعمل فيه بوضوح وغزارة &#8230; فثمار ومواهب الروح القدس فيه يبصرها المستقيمون فيفرحون ويتهللون &#8230;</p>
<p dir="rtl">روح الله القدوس بسيط في طبيعته وكثير الأنواع في فعله ولأجل عمله فيه نراه بسيطاً وعميقاً في حياته وكثير الأنواع في أفعاله &#8230;</p>
<p dir="rtl">من يقدر أن يحيا بالبساطة العميقة سوى الذي يعمل فيه روح الله &#8230;</p>
<p dir="rtl">من يقدر أن يعلم بالبساطة وتعليمه يكون له تأثير قوي وكثير الأنواع في فعله سوى الذي يعمل فيه روح الله &#8230;</p>
<p dir="rtl">روح الله يشعل ويلهب ويضيء وينير ومصحوب برائحة المسيح الزكية وهذا ما نراه في أعمال راعينا &#8230;</p>
<p dir="rtl">بتعاليمه القلوب تلتهب بمحبة الله والفكر يستنير بمعرفة الله وتتغير حياة كثيرين ويشتمون منها رائحة المسيح &#8230;</p>
<p dir="rtl">الطفل يتهلل برؤيته &#8230; والشيخ يستند على بشاشته &#8230;</p>
<p dir="rtl">الخادم يشعل مصباحه بتعاليم راعينا فلا ينسى قوله &#8221; أنت تخدم بيت الرب فمتى تخدم رب البيت &#8221; ؟ &#8230;</p>
<p dir="rtl">الكاهن بضياء نصائح راعينا يسعى أن يريح الناس وإن لم يقدر لا يكون سبباً في تعبهم &#8230;</p>
<p dir="rtl">نعمة الإحساس بالغير ساكنة في قلب راعينا وبها أشعل قلب رعيته لكي تتمنع بالاهتمام بالفقير واليتيم والأرمل &#8230;</p>
<p dir="rtl">كلماته ألقت ضوء على أفهام الكل بأن الجسد مصيره سينتهى ناصحاً &#8221; يا ليته ينتهى في عمل صالح &#8221; &#8230;</p>
<p dir="rtl">بشعلة الرهبنة التي فيه أضاء شمعة في الأديرة التي كادت أن تندثر وأخرجها من باطن الأرض &#8230; وأشعل فيها حياة الرهبنة من جديد &#8230; وغرس أديرة حديثة في أماكن متعددة فيها يشتمون رائحة المسيح في قديسيه &#8230;</p>
<p dir="rtl">راعينا يعرفنا ببساطة المفاهيم اللاهوتية &#8230; وخطورة استخدام الآية الواحدة &#8230; واليقظة أمام الهرطقات الحديثة &#8230; ويعلمنا &#8221; الله وكفى &#8221; .</p>
<p dir="rtl">طوبى للرعية التي يختار لها الرب راعياً مثلك &#8230; به ينير عقلها &#8230; ويضىء فهمها ويجعلها تفهم كلام الله المحيى &#8230;</p>
<p dir="rtl">روح الله ساكن فيك &#8230; وسائر معك هو مشتعل فيك وأنت تشعل الآخرين &#8230; هو ملتهب فيك وأنت تلهب من يلمسك &#8230;</p>
<p dir="rtl">هو مضىء فيك وبه أنت تضىء لمن حولك &#8230; هو منير فيك وأنت تنير في ذهن من يسمعك &#8230;</p>
<p dir="rtl">المسيح ساكن فيك ورائحته الزكية في أعمالك هي التي جعلت لك مقر في قلوب رعيتك .</p>
<p>المرجع : كتاب شفتاك يا عروس تقطران شهداً (الجزء الخامس صفحة ٥٥-٥٧)</p>
</div>
</div>
</div>
</div>
</div>
</div>
<p></p>
<hr />
<p><a href="#_ftnref1" name="_ftn1">[1]</a><sup>- تفسير مرقس - ص ٤٨ - القمص تادرس يعقوب ملطي.</sup></p>
<p><a href="#_ftnref2" name="_ftn2">[2]</a><sup>- تفسير يوئيل - ص ١٥ - القمص تادرس يعقوب ملطي.</sup></p>

      {% endcreateArticleAccordions %}
    </section>
  {% endblock %}
  