---
layout: 'layouts/reading.html'
title: 'قراءات يوم الأثنين من الأسبوع الخامس'
permalink: great-lent/5-1.html
---
  {% block content %}
    <section id="readings">
      <ul>
      {% if 'null' != 'null' %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">العشية</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeVespers '' '' %}
          </div>
        </div>
      </li>
      {% endif %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">باكر</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeMatins '19.88:2-4' '42.12:16-21' '20.3:5-18@23.37:33-38*@+23.38:1-6@18.22:1-30' %}
          </div>
        </div>
      </li>
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <h3 class="flex items-center justify-between">
            <span class="kufi">القداس</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </h3>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeLitugy '50.2:1-16' '60.3:10-18' '44.10:25-35' '19.86:3-4' '42.9:12-17' %}
          </div>
        </div>
      </li>
        </ul>
    </section>
    <section id="article">
      <h3 class="mt-8 mb-4 heading-explain">شرح القراءات</h3>
      {% createArticleAccordions firstName, lastName %}
        <p>&#8220;أَنْتَ مُسْتَحِقٌ أَيُّهَا الرَّبُّ أَنْ تَأْخُذَ الْمَجْدَ وَالْكَرَامَةَ وَالْقُدْرَةَ، لأَنَّكَ أَنْتَ خَلَقْتَ كُلَّ الأَشْيَاءِ، وَهِيَ بِإِرَادَتِكَ كَائِنَةٌ وَخُلِقَتْ&#8221; (رؤ ٤: ١١).</p>
<p>[أعطيت إطلاقاً لمن قبض عليهم في الجحيم، أزلت لعنة الناموس، أريتني قوة سلطانك أقمت الطبيعة بالكلمة] (القدّاس الغريغوري).</p>
<p>[إذ ينتزع الإنسان من الهلاك يرفعه إلى السماويات غارساً المائت في الخلود ومحولاً الأرض سماء] (القديس اكليمنضس الإسكندري)<a href="#_ftn1" name="_ftnref1">[1]</a></p>
<h3>شواهد<strong> القراءات</strong></h3>
<p>(أم٣: ٥ &#8211; ١٨)، (إش٣٧: ٣٣- الخ، ٣٨: ١- ٦)، (أي٢٢: ١- الخ)، (مز٨٧: ٢، ٣)، (لو١٢: ١٦- ٢١)، (في٢: ١- ١٦)، (١بط ٣: ١٠- ١٨)، (أع١٠: ٢٥- ٣٥)، (مز٨٥: ٣، ٤)، (لو٩: ١٢- ١٧).</p>
<h3>شرح القراءات</h3>
<p><strong>تتكلّم قراءات اليوم</strong> عن الله القدير الخالق كل شئ والقادر على كل شئ.</p>
<p><strong>تبدأ أمثال سليمان</strong> بقدرة الله في جسد الإنسان وصحته وفي ما يملكه وفي طول أيامه على الأرض.</p>
<p>&#8220;اتق الرب وابعد عن كل شر فيكون الشفاء في جسدك والعافية في عظامك أكرم الرب من مالك، فتمتلئ مخازنك شبعاً وتفيض معاصرك خمراً، في يمينها طول الأيام وكثرة السنين&#8221;.</p>
<p><strong>وفي أشعياء النبي</strong> قدرة الرب أمام أعداء ومقاومين أولاده وأمام قدرة ملوك ورؤساء الأرض.</p>
<p>&#8220;لذلك هكذا يقول الرب على ملك أشور إنه لا يدخل هذه المدينة ولا يرمي إليها سهماً، وخرج ملاك الرب وقتل من جيش أشور مئة ألف وخمسة وثمانين ألفاً فلما بكروا صباحاً إذا هم جميعاً جثث أموات&#8221;.</p>
<p><strong>كما يعلن قدرة الرب</strong> في زيادة عمر الإنسان وأيامه على الأرض كما فعل مع حزقيا الملك.</p>
<p>&#8220;إني قد سمعت صوت صلاتك ورأيت دموعك وها أنذا أزيد على أيامك خمس عشرة سنة&#8221;.</p>
<p><strong>وفي سفر أيوب</strong> قدرته على نجاة الإنسان وخلاصه وغناه وشبعه.</p>
<p>&#8220;القائلين ماذا يصنع بنا الله أو ماذا يجلب علينا القدير وهو قد ملأ بيوتهم خيراً، إن رجعت واتضعت أمام القدير يجعل الظلمة بعيدة عن خبائك، ويكون القدير معينك وينقيك كالفضة المصفاة من أيدي أعدائك حينئذ تتلذذ بالقدير وتتطلع إلى السماء بفرح&#8221;.</p>
<p><strong>وفي مزمور باكر</strong> قدرة الرب في توبة الإنسان ونجاته من سلطان الخطية والجحيم.</p>
<p>&#8220;آمل يا رب سمعك إلى طلبتي فقد امتلأت من الشر نفسي ودنت من الجحيم حياتي&#8221;.</p>
<p><strong>وفي إنجيل باكر</strong> زيف قدرة الإنسان في غرور غناه وإحساسه الخاطئ أنّه خلق ثروته بنفسه.</p>
<p>&#8220;وأقول لنفسي يا نفسي لكِ خيرات كثيرة موضوعة لسنين عديدة، فقال الله له : يا جاهل في هذه الليلة تُنزع نفسك منك فهذه التي أعدَدتها لمن تكون&#8221;.</p>
<p><strong>وفي البولس</strong> رغم إخلاء ابن الله لذاته في تجسده لكن في قدرته الإلهية تخضع له كل القوات السمائية.</p>
<p>&#8220;وإذ وُجِدَ في الهيئة كانسان وضع نفسه وأطاع حتى الموت موت الصليب فلذلك رفعه الله أيضاً، لكي تجثوا باسم يسوع كل ركبة مما في السموات وما على الأرض ومن تحت الأرض&#8221;.</p>
<p><strong>وهو الذي</strong> يعطي القدرة والإرادة الحسنة لأولاده.</p>
<p>&#8220;لأن الله هو الذي يعمل فيكم الإرادة والعمل من أجل المسرة&#8221;.</p>
<p><strong>وفي الكاثوليكون</strong> قدرة الرب في الحماية من الأشرار.</p>
<p>&#8220;لكن وجه الرب على الذين يعملون الشر فمن الذي يؤذيكم إن كنتم غيورين على الخير&#8221;.</p>
<p><strong>وقدرته في عمل الفداء</strong> ليخلّصنا من الخطية ويمنحنا الحياة.</p>
<p>&#8220;فالمسيح أيضاً تألم مرة واحدة من أجل الخطاة: البار عن الأثمة ليقربنا إلى الله مُماتاً في الجسد ولكن مُحيياً في الروح&#8221;.</p>
<p><strong>وفي الإبركسيس</strong> يعلن قدرة الله في شفاء وخلاص وقبول الأمم وكشف أعماق البشر</p>
<p>&#8220;أنتم تعلمون كيف هو محرّم على رجل يهودي أن يلتصق بأجنبي أو يدنو إليه وأما أنا فقد أراني الله أن لا أقول عن إنسان ما إنه نجس أو دنس، ففتح بطرس فاه وقال: بالحق أنا أرى أن الله لا يحابي الوجوه ولكن في كل أمّة من يتقيه ويصنع البر فإنه يكون مقبولاً عنده&#8221;.</p>
<p><strong>وفي مزمور القدّاس</strong> الرب القادر على سكب الفرح في نفوسنا المنسحقة والضعيفة.</p>
<p>&#8220;ارحمني يا رب فإني صرخت إليك النهار كله فرّح نفس عبدك فإني رفعت نفسي إليك يا رب&#8221;.</p>
<p><strong>ويختم إنجيل القدّاس</strong> بقدرة الرب على إشباع كل الجموع وكل إحتياجاتنا البشرية بأبسط الإمكانيات.</p>
<p>&#8220;فقالوا ليسَ عندنا أكثر من خمس خبزات وسمكتين، وكانوا نحو خمسة آلاف رجل، ونظرَ إلى السماء وباركها وقسمها وأعطى التلاميذ ليضعوا أمام لجموع فأكلوا جميعهم وشبعوا ثم رفعوا ما فضل عنهم اثنتي عشرة قفة مملوءة&#8221;.</p>
<h3>ملخّص القراءات</h3>
<table width="503">
<tbody>
<tr>
<td width="91">أمثال سليمان<br />
سفر أيوب</td>
<td width="412">قدرة الله في جسد الإنسان وفي مقتنياته وفي فرحه وسلامه.</td>
</tr>
<tr>
<td width="91">إنجيل باكر</td>
<td width="412">زيف قدرة الإنسان الباطلة بدون قدرة الله.</td>
</tr>
<tr>
<td width="91">البولس</td>
<td width="412">قدرة ابن الله فوق كل السمائيين والأرضيين وفي إرادة الإنسان للمسرّة.</td>
</tr>
<tr>
<td width="91">سفر أشعياء والكاثوليكون</td>
<td width="412">قدرة ابن الله في حماية الكنيسة من ولاة العالم وفي حماية أولاده ونجاتهم.</td>
</tr>
<tr>
<td width="91">الإبركسيس</td>
<td width="412">قدرة ابن الله في خلاص الأمم وفحص أعماق البشر.</td>
</tr>
<tr>
<td width="91">مزمور باكر والقدّاس</td>
<td width="412">قدرته الإلهية في خلاص النفوس من الجحيم وفي فرح أولاده.</td>
</tr>
<tr>
<td width="91">إنجيل القدّاس</td>
<td width="412">قدرة ابن الله في شبع أولاده وتسديد إحتىاجاتهم في برّية العالم.</td>
</tr>
</tbody>
</table>
<p><strong> </strong></p>
<h3>الكنيسة في قراءات اليوم</h3>
<p></p>
<table width="503">
<tbody>
<tr>
<td width="91">سفر إشعياء</td>
<td width="412">الشفاعة والملاك المنتقم.</td>
</tr>
<tr>
<td width="91">البولس</td>
<td width="412">سر التجسد.</td>
</tr>
<tr>
<td width="91">البولس</td>
<td width="412">أعمال الخلاص وجهاد الإنسان.</td>
</tr>
<tr>
<td width="91">الكاثوليكون</td>
<td width="412">ذبيحة الصليب وفداء ابن الله.</td>
</tr>
<tr>
<td width="91">الإبركسيس</td>
<td width="412">الصوم والصلاة.</td>
</tr>
<tr>
<td width="91">الإبركسيس</td>
<td width="412">قبول الأمم.</td>
</tr>
</tbody>
</table>
<p></p>
<h3>عظات ابائية وعظات اباء معاصرين</h3>
<p>يمكن الرجوع لعظات يوم الاربعاء من الاسبوع الثاني</p>
<h4></h4>
<h4><span lang="AR-SA">ما مفهوم البركة في حياتك ؟ لقداسة البابا تواضروس</span></h4>
<p class="yiv8928139231MsoNormal" dir="RTL"><b><span lang="AR-SA">يوم الأثنين من الأسبوع الخامس لقداسة البابا تواضروس <u></u><u></u></span></b></p>
<p class="yiv8928139231MsoNormal" dir="RTL"><b><span lang="AR-SA">لو ( ٩ : ١٢ – ٢٧ ) <u></u><u></u></span></b></p>
<p class="yiv8928139231MsoNormal" dir="RTL" align="center"><b><span lang="AR-SA">ما مفهوم البركة في حياتك ؟<u></u><u></u></span></b></p>
<p class="yiv8928139231MsoNormal" dir="RTL"><span lang="AR-SA">إنجيل يوم الإثنين من الأسبوع الخامس يكلمنا عن معجزة &#8221; إشباع الجموع &#8220;، والكتاب المقدس في العهد الجديد ذكر معجزتين لإشباع الجموع :<u></u><u></u></span></p>
<p class="yiv8928139231MsoNormal" dir="RTL"><span lang="AR-SA">١-معجزة النص الإنجيلي الذي نحن بصدده تمت في اليهودية &#8221; جنوب فلسطين &#8220;، السيد المسيح أشبع فيها ٥٠٠٠ من رجال ما عدا النساء والأطفال ، وأشبعهم السيد المسيح من ٥ خبزات وسمكتين وتبقى ١٢ قفة تقدم لمن له احتياج .<u></u><u></u></span></p>
<p class="yiv8928139231MsoNormal" dir="RTL"><span lang="AR-SA"> ٢- المعجزة الثانية تمت في الجليل في شمال فلسطين ، أشبع فيها السيد المسيح ٤٠٠٠ من الرجال ما عدا النساء والأطفال ، وأشبعهم من ٧ خبزات وقليل من السمك . <u></u><u></u></span></p>
<p class="yiv8928139231MsoNormal" dir="RTL"><span lang="AR-SA">وتقرأ الكنيسة هذا الفصل من الإنجيل (لو ٩ : ١٠  ١٧) كل يوم في صلاة الساعة التاسعة من صلوات الأجبية ، ويسمى هذا الإنجيل &#8221; إنجيل البركة &#8220;، والسيد المسيح عندما قدم إليه الأرغفة الخمسة والسمكتين استطاع أن يشبع هذا الجموع ، وعندما تفكر متى تباركت هذه الخبزات هل تباركت وقت وضعها في يد المسيح ؟ أم عندما بدأ يكسر الخبزويعطي التلاميذ ؟ أم أمام الجماهير الكثيرة التي كانت تُوزع عليها ؟ نجد أنها تباركت عندما وضعت في أيدي المسيح وأشبعت الجموع ، وكأن هذه المعجزة تؤكد على كل إنسان مفهوم البركة في حياته .<u></u><u></u></span></p>
<p class="yiv8928139231MsoNormal" dir="RTL"><b><span lang="AR-SA">+ أشكال البركة :<u></u><u></u></span></b></p>
<p class="yiv8928139231MsoNormal" dir="RTL"><span lang="AR-SA">إن البركة أمر واقعي نعيشه في حياتنا ، وهي تتنوع وتكثر مصادرها في الأشكال التالية :<u></u><u></u></span></p>
<p class="yiv8928139231MsoNormal" dir="RTL"><span lang="AR-SA">(۱) نحصل على بركة قراءة الإنجيل ، فالكتاب المقدس هو كتاب الخلاص ، كما أنه رسالة سلام للإنسان ، وهو أيضاً سلاح الإنسان ضد جميع حروب الشيطان ، إذا من بركات الكتاب المقدس أنه يعطي قوة للإنسان ، يقول القديس يوحنا الذهبي الفم : &#8220;عدم معرفة الكتب المقدسة هي علة جميع الشرور والخطايا &#8220;. ومن بركات قراءة الكتاب المقدس أيضاً أنه سراج يرشدك لطريقك في الحياة &#8221; سراج لرجلي كلامك ونور لسبيلي &#8221; (مز ١١٩ :١٠٥ ). &#8221;  قراءة الكتاب المقدس تعطي فرحة للإنسان فهي سر فرح الإنسان وبهجته ، وفي كل مرة تقرأ فيها الإنجيل تأخذ نسمة حياة ، وتأخذ روح وتصبح إنساناً جديراً بالحياة الحقيقية &#8221; الكلام الذي أكلمكم به هو روح وحياة &#8221; (يو ٦ : ٣٦ ). <u></u><u></u></span></p>
<p class="yiv8928139231MsoNormal" dir="RTL"><span lang="AR-SA">(۲) توجد بركة في الأوطان ، فمصر وفلسطين البلدان الوحيدان اللذان أُطلق عليهما &#8221; الأراضي المقدسة&#8221; </span><span dir="LTR">The Holy Land</span><span lang="AR-SA">، ونحن بالحقيقة في مصر ، هذا البلد الذي عاش فيه السيد المسيح قرابة ثلاث سنوات ونصف ، وبارك كثيراً من الأماكن.<u></u><u></u></span></p>
<p class="yiv8928139231MsoNormal" dir="RTL"><span lang="AR-SA"> (۳) نحصل على البركة من خلال زيارة الأماكن المقدسة مثل الأديرة والكنائس ، فنأخذ بركة من مواضع ومساكن القديسينً ، مثل مغارة القديس الأنبا أنطونيوس والأنبا صموئيل والبابا كيرلس ، فالكنيسة بها بركة من عاشوا فيها ومن عملوا وتعبوا من أجلها ، وكذلك الأديرة التي عاش فيها أجيال وأجيال من القديسين ، وأرضها التي مشى عليها القديسون العظماء .<u></u><u></u></span></p>
<p class="yiv8928139231MsoNormal" dir="RTL"><span lang="AR-SA">(٤) نحصل على البركة من لمس الأشياء المقدسة ، مثل ستر الهيكل والذي يرمز إلى ثوب المسيح ، حيث لمسته المرأة نازفة الدم فشفيت ، وأيضاً نحصل على البركة من لمس الأيقونات المدشنة بالميرون والتي تصنع معجزات ، فالأيقونة تُظهر عمل الله في حياة هذا القديس ، كذلك نحصل على البركة من لمس المنجلية والزيت ، والحنوط الذي نضعه على رفات القديسين .<u></u><u></u></span></p>
<p class="yiv8928139231MsoNormal" dir="RTL"><span lang="AR-SA"> (٥) كذلك نحصل على البركة من القديسين حتى أننا نسمي أولادنا بأسماء القديسين ؛ لأن أسماءهم أخذت قوتهم وأصبحت بركة لكل من يتسمى بها ، وأحياناً تكون سيرة القديس نفسها بركة ، مثل إنسانة تقرأ في كتاب معجزات للبابا كيرلس ثم تضع صورة الغلاف على مكان مرضها وتصلي وتطلب بدموع فيستجيب لها الله بشفاعة البابا كيرلس ، كذلك ملابس القديسين مثل شال البابا كيرلس الذى نال قوة من الله العلى . <u></u><u></u></span></p>
<p class="yiv8928139231MsoNormal" dir="RTL"><span lang="AR-SA">(٦) نحصل على البركة أيضاً من رش المياه في الأماكن الجديدة ، مثل مياه اللقان لها فوائد كثيرة فهي ينبوع بركة للإنسان ، فهي تساعد الإنسان على طرد روح الحسد والشر والضعف ؛ لأنها مياه مرشومة بالصليب ، وتقرأ عليها الصلوات والألحان ونحن نحتفظ بالمياه في منازلنا ومحلاتنا وأماكن عملنا لتكون سبب بركة لنا ، وكل من يأخذ من هذا الماء يكون سبب طهارة للنفس والجسد والروح وشفاء للأوجاع ، سواء الأوجاع العابرة التي تصيب الإنسان أو غيرها ، ونحتفظ بمياه اللقان من عام إلى عام لتكون سبب بركة لنا . وأيضاً البركة من المياه التي تُرش في آخر القداس ، فقد نمسح بها وجهنا علامة للبركة . <u></u><u></u></span></p>
<p class="yiv8928139231MsoNormal" dir="RTL"><span lang="AR-SA">(٧) بركة زيارة المرضى ، يحكى عن &#8221; أبونا ميخائيل إبراهيم &#8221; أنه عندما كان يزور مريضاً كان يخلع حذاءه خارج الحجرة ، وعندما سئل لماذا ؟ قال لهم إن المسيح قال : &#8221; كنت مريضاً فزرتموني &#8221; (مت ٢٥ : ٣٦)، فأنا أزور المسيح الآن .<u></u><u></u></span></p>
<p class="yiv8928139231MsoNormal" dir="RTL"><span lang="AR-SA">(۸) بركة العطاء والخدمة ، نقول دائماً : &#8221; المعطي المسرور يحبه الرب &#8220;، والإنسان الذي يقدم أي شيء من قلبه يرد له دائماً بصورة فرح ، فمثلاً الإنسان الذي يقدم أية خدمة للآخرين أو يسند الضعفاء ، ومن يحاول أن يحل مشاكل الناس ، أو يسدد احتياج لآخر، حتى وإن كان كلمة تشجيع أو مساندة يرجع له فرح ، ومن كرس حياته وقدمها كلها ترجع له بفرح وتعزيات كل يوم .<u></u><u></u></span></p>
<p class="yiv8928139231MsoNormal" dir="RTL"><span lang="AR-SA"> (۹) بركة الوالدين ، قد تكون البركة من الأب أو الأم ، فليس شرط أن يكون قديساً والوصية تقول : &#8221; أكرم أباك وأمك لكي تطول أيامك على الأرض التي يعطيك الرب إلهك &#8221; (خر ۲۰ : ۱۲)،  فالآباء والأمهات من حولنا بركة لنا .<u></u><u></u></span></p>
<p class="yiv8928139231MsoNormal" dir="RTL"><span lang="AR-SA"> (۱۰) بركة من الأطفال ، فالله يبارك في الأطفال ، والمسيح وضع يديه عليهم وقال : &#8221; دعوا الأولاد ياتون إلي ولا تمنعوهم ، لأن لمثل هؤلاء ملكوت الله &#8221; (لو ١٨ :١٦) . <u></u><u></u></span></p>
<p class="yiv8928139231MsoNormal" dir="RTL"><span lang="AR-SA">البركة دائما هي من يد المسيح ، فهو يبارك ما لك وغلاتك وصناعتك ومهنتك ولكن كيف نحصل على هذه البركة ؟ <u></u><u></u></span></p>
<p class="yiv8928139231MsoNormal" dir="RTL"><b><span lang="AR-SA">+ طرق الحصول على البركة :<u></u><u></u></span></b></p>
<p class="yiv8928139231MsoNormal" dir="RTL"><span lang="AR-SA">١- قراءة الكتاب المقدس باستمرار كل يوم .<u></u><u></u></span></p>
<p class="yiv8928139231MsoNormal" dir="RTL"><span lang="AR-SA">۲- زيارة الأماكن المقدسة .<u></u><u></u></span></p>
<p class="yiv8928139231MsoNormal" dir="RTL"><span lang="AR-SA">٣- لمس الشئ المقدس كستر الهيكل ، الأيقونات المنجلية … <u></u><u></u></span></p>
<p class="yiv8928139231MsoNormal" dir="RTL"><span lang="AR-SA">٤- بركة مياة اللقان التي نتبارك ، ورشها في الأماكن الجديدة . <u></u><u></u></span></p>
<p class="yiv8928139231MsoNormal" dir="RTL"><span lang="AR-SA">٥- بركة الحنوط والزيت من قناديل القديسين . <u></u><u></u></span></p>
<p class="yiv8928139231MsoNormal" dir="RTL"><span lang="AR-SA">٦- بركة من العطاء والخدمة!، فقد كان من الممكن أن الذي أوجد الاثنتي عشرة قفة كان بإمكانه أن يستغني عن الخمس خبزات ، ولكن أراد أن يعلمنا أن البركة توجد في الأشياء القليلة .<u></u><u></u></span></p>
<p class="yiv8928139231MsoNormal" dir="RTL"><span lang="AR-SA">٧- زيارة المرضى باستمرار . <u></u><u></u></span></p>
<p class="yiv8928139231MsoNormal" dir="RTL"><span lang="AR-SA"> ٨ &#8211; يبارك الله في الأطفال ، فهم سبب بركة في حياتنا ، فالطفل بركة للبيت كله ، مثل إرميا النبي عندما طلبه الرب للخدمة قال للرب : أنه صغير . فرد عليه الرب قائلاً : &#8221; لا تقل أنى ولد &#8221; ( إر ١ : ٧ ) . <u></u><u></u></span></p>
<p class="yiv8928139231MsoNormal" dir="RTL"><span lang="AR-SA">الخلاصة &#8230;<u></u><u></u></span></p>
<p class="yiv8928139231MsoNormal" dir="RTL"><span lang="AR-SA">أن المسيح يبارك حياتك كلها ، فهو يبارك ما لك وغلاتك وصناعتك ، ولذلك يوصينا بالعشور لأن القروش القليلة هي بركة تبارك المجموع الباقي ؛ لأن بها يستطيع أن يبارك الباقي كما بارك الخمس خبزات والسمكتين ، لذلك يقول معلمنا بولس الرسول &#8221; من يزرع بالشح فبالشح أيضاً يحصد ، ومن يزرع بالبركات فبالبركات أيضاً يحصد &#8221; (۲ کو ٩ : ٦)، ونقول مع معلمنا داود المرنم : &#8221; باركي يا نفسي الرب، ولا تنسي كل حسانه ( مز ١٠٣ : ٣ ) <u></u><u></u></span></p>
<p class="yiv8928139231MsoNormal" dir="RTL"><b><span lang="AR-SA"> </span></b></p>
<p dir="RTL">المرجع كتاب اختبرني يا الله صفحة ٢٥٢ &#8211; قداسة البابا تواضروس</p>
<hr />
<p><a href="#_ftnref1" name="_ftn1">[1]</a><sup>&#8211; </sup><sup>بولس الرسول &#8211;  صفحة 41 &#8211; القمص تادرس يعقوب ملطي.</sup></p>

      {% endcreateArticleAccordions %}
    </section>
  {% endblock %}
  