---
layout: 'layouts/reading.html'
title: 'قراءات يوم الثلاثاء من الأسبوع الخامس'
tags: 'great-lent'
permalink: /articles/great-lent/5-2.html
---
  {% block content %}
    <section id="readings">
      <ul>
      {% if 'undefined' != 'undefined' %}
      
      {% else %}
      {% if 'null' != 'null' %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">العشية</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeVespers '' '' %}
          </div>
        </div>
      </li>
      {% endif %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">باكر</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeMatins '19.86:5,6' '41.9:14-24' '4.10:35-36*@+4.11:1-35@20.3:19-35*@+20.4:1-9@23.40:1-8@18.25:1-6*@+18.26:1-14' %}
          </div>
        </div>
      </li>
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <h3 class="flex items-center justify-between">
            <span class="kufi">القداس</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </h3>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeLitugy '50.2:22-26' '62.3:2-11' '44.24:10-23' '19.86:17-17' '43.8:12-20' %}
          </div>
        </div>
      </li>

      {% endif %}
        </ul>
    </section>
    <section id="article">
      <h3 class="mt-8 mb-4 heading-explain">شرح القراءات</h3>
      {% createArticleAccordions %}
        <p>&#8220;لأَنَّ اللهَ الَّذِي قَالَ: «أَنْ يُشْرِقَ نُورٌ مِنْ ظُلْمَةٍ، هُوَ الَّذِي أَشْرَقَ فِي قُلُوبِنَا، لإِنَارَةِ مَعْرِفَةِ مَجْدِ اللهِ فِي وَجْهِ يَسُوعَ الْمَسِيحِ.&#8221; (٢كو ٤: ٦)</p>
<p>[كنور حقيقي أشرقت للضالين وغير العارفين] (القدّاس الغريغوري).</p>
<p>[إنه شمس البرالذي يقود مركبته فوق الكل تنتشر أشعته بالتساوي على كل البشرية وذلك مثل أبيه الذي يشرق شمسه على جميع البشر وينزل ندي الحق عليهم] (القديس اكليمنضس الإسكندري).</p>
<p>[زينة العالم هى الكنيسة المزينة بيسوع الذي هو نور العالم] (العلامة أوريجانوس)<a href="#_ftn1" name="_ftnref1">[1]</a></p>
<h3>شواهد القراءات</h3>
<p>(عد١٠: ٣٥- الخ، ص١١: ١-٣٤)، (أم٣: ١٩- الخ، ص٤: ١- ٩)، (اش٤٠: ١- ٨)، (أي٢٥، ٢٦)، (مز٨٥: ٥، ٦)، (مر٩: ١٣- ٢٤)، (في٢: ٢٢- ٢٦)، (١يو٣: ٢- ١١)، (أع٢٤: ١٠- ٢٣)، (مز٨٥: ١٦)، (يو٨: ١٢- ٢٠).</p>
<h3>شرح القراءات</h3>
<p><strong>تتكلّم قراءات هذا اليوم</strong> على ابن الله نور العالم.</p>
<p><strong>يبدأ سفر العدد</strong> بحلول وحضور الله وسط شعبه ليقودهم وينير لهم طريقهم في البرية وأعين الشعب التي لا ترى عمله.</p>
<p>&#8220;وعند حلوله كان يقول ارجع يا رب إلى ربوات ألوف إسرائيل، قد يبست أنفسنا وأعيننا لا ترى شيئاً غير المن&#8221;.</p>
<p><strong>وفي أمثال سليمان</strong> كيف تحفظ الوصية طريق الإنسان في الحياة من العثرات والزلل. &#8220;يا بُني لا تبرح هذه عن عينيك احفظ الرأي والتدبير &#8230; لكي تسلك بسلام في طريقك آمنا ولا تعثر رجلك، لأن الرب يثبت جميع طرقك ويثبت قدميك فلا تزل&#8221;.</p>
<p><strong>وفي سفر أشعياء</strong> كيف يرى كل البشر في ملء الزمان خلاص الرب ومجده.</p>
<p>&#8220;وتصير كل المعوجات مستقيمة والعراقيب سهلة فيعلن مجد الرب ويري كل بشر خلاص الله&#8221;.</p>
<p><strong>وفي سفر أيوب</strong> عن ضعف وتلاشي نور القمر والكواكب أمام نور الرب.</p>
<p>&#8220;هوذا القمر يأمره فلا يضئ والكواكب غير نقية أمامه&#8221;.</p>
<p><strong>كما أن نوره غير مُدْرَك. </strong></p>
<p><strong>&#8220;</strong>يحجب وجه عرشه وقد نشر عليه غمامه&#8221;.</p>
<p><strong>وفي مزمور باكر</strong> أن نوره ورحمته معلنان في الصلاة والصراخ.</p>
<p>&#8220;رحمتك كثيرة لسائر المستغيثين بك&#8221;.</p>
<p><strong>وفي إنجيل باكر</strong> يحذّر الرب من عدم الإيمان الذي يحجب النور المعلن قليلاً بحسب فرص التوبة وكأنّه يقول النور معكم زماناً قليلاً .</p>
<p>&#8220;فأجاب وقال لهم: أيها الجيل الغير المؤمنين إلى متى أكون معكم&#8221;.</p>
<p><strong>وفي البولس يكشف</strong> عن رسالة الخدّام إعلان نور الإنجيل للناس وأيضاً خدّام النور المعروفين بخدمتهم أمام كل الشعب وخدمتهم ظاهرة للجميع.</p>
<p>&#8220;وأما اختباره فأنتم تعرفون أنه كولد مع أب خدم معي لأجل الإنجيل، أرسل إليكم أبفريدتس الأخ والشريك العامل وصاحبي المتجند معي ورسولكم والخادم لحاجتي&#8221;.</p>
<p><strong>ويُظْهِر الكاثوليكون</strong> الإستنارة الدائمة والمتجدّدة لأولاد الله في حياة التوبة التي تنير النفس حتى مجئ ابن الله.</p>
<p>&#8220;يا أحبائي نحن الآن أبناء الله ولم يظهر بعد ماذا سنكون ولكن نعلم أنه إذا ظهر نكون مثله لأننا سنراه كما هو وكل من عنده هذا الرجاء به يطهر نفسه كما هو طاهر&#8221;.</p>
<p><strong>ويعلن أن هدف ظهور ابن الله</strong> في الجسد لينقض أعمال الظلمة لهذا أولاد الله ظاهرون بحياتهم وهكذا أولاد العالم.</p>
<p>&#8220;لأجل هذا أظهر ابن الله لينقض أعمال إبليس، بهذا أولاد الله ظاهرون وأولاد إبليس كل من لا يفعل البر فليس من الله وكذا من لا يحب أخاه&#8221;.</p>
<p><strong>كما يكشف الإبركسيس</strong> عن نور الداخل في الخدّام والرعاة نور القلب والضمير. &#8220;لذلك أنا أيضاً أدرب نفسي ليكون لي دائماً ضمير بلا عثرة أمام الله والناس كل حين<br />
وكان ينبغي أن يحضروا لديك ويشتكوا إن كان لهم على شئ وليقل هؤلاء أنفسهم ماذا وجدوا فيّ من ذنب وأنا قائم أمام المحفل&#8221;.</p>
<p><strong>وفي مزمور القدّاس</strong> تعلن النفس إحتياجها الأساسي والأعظم الآية الصالحة إستعلان ابن الله في حياتنا وهى أعظم معجزة وآية يحتاجها الإنسان.</p>
<p>&#8220;اصنع معي آية صالحة&#8221;</p>
<p><strong>ويختم إنجيل القدّاس</strong> بشهادة ابن الله عن نفسه ويُظهر مجد تبعيته.</p>
<p>&#8220;ثم كلمهم يسوع أيضاً قائلاً أنا هو نور العالم من يتبعني فلا يمشي في الظلمة بل ينال نور الحياة&#8221;.</p>
<h3>ملخّص القراءات</h3>
<table width="503">
<tbody>
<tr>
<td width="106">سفر العدد وإنجيل باكر</td>
<td width="397">حضور الله وسط شعبه ينير لهم الطريق وخطورة الإستهانة بحضوره الإلهي.</td>
</tr>
<tr>
<td width="106">أمثال سليمان</td>
<td width="397">وصية الله هى النور الذي يحفظ من الزلل.</td>
</tr>
<tr>
<td width="106">سفر أشعياء ومزمور القدّاس</td>
<td width="397">إستعلان نور ابن الله في الصليب وهو أعظم آية يحتاجها الإنسان.</td>
</tr>
<tr>
<td width="106">سفر أيوب</td>
<td width="397">ابن الله هو مصدر نور الخليقة كلها وضعف أي نور أمامه مهما كان.</td>
</tr>
<tr>
<td width="106">مزمور باكر</td>
<td width="397">نور ابن الله ورحمته نراه في صراخنا وصلواتنا.</td>
</tr>
<tr>
<td width="106">البولس</td>
<td width="397">خدّام النور خدمتهم معروفة للكل ورسالتهم إعلان نور الإنجيل للناس.</td>
</tr>
<tr>
<td width="106">الكاثوليكون والإبركسيس</td>
<td width="397">إستعلان نور ابن الله في أولاده للعالم.</td>
</tr>
<tr>
<td width="106">إنجيل القدّاس</td>
<td width="397">شهادة ابن الله عن نفسه ومن يعرف ويدرك نوره يعرف ويدرك الآب.</td>
</tr>
</tbody>
</table>
<h3>الكنيسة في قراءات اليوم</h3>
<table width="503">
<tbody>
<tr>
<td width="106">سفر أشعياء</td>
<td width="397">نبوءة عن يوحنا المعمدان.</td>
</tr>
<tr>
<td width="106">الكاثوليكون</td>
<td width="397">تجسّد ابن الله وظهوره لينقض أعمال ابليس.</td>
</tr>
<tr>
<td width="106">الإبركسيس</td>
<td width="397">قيامة الأموات.</td>
</tr>
<tr>
<td width="106">إنجيل القدّاس</td>
<td width="397">شهادة ابن الله عن نفسه وإرسالية الآب للابن.</td>
</tr>
</tbody>
</table>
<h3>عظات ابائية وعظات اباء معاصرين</h3>
<p>يمكن الرجوع لعظات يوم الخميس من الاسبوع الثالث</p>
<h4>عظة اضافية لقداسة البابا تواضروس</h4>
<div data-test-id="message-view-body">
<div data-test-id="message-view-body-content">
<div>
<div id="yiv1775749215">
<blockquote>
<div id="yiv1775749215">
<div>
<p><b><span>يوم الخميس من الأسوع الثالث لقداسة البابا تواضروس</span></b></p>
<p><b><span>يو ( ١٢ ، ٤٤ – ٥٠ )</span></b></p>
<p><b><span>هل تفهم معنى الإيمان ؟</span></b></p>
<p><span>في إنجيل هذا المساء ، السؤال ليس سؤالاً صريحاً ، ولكن السؤال في ثنايا الآيات ، وعليك أن تنتبه من هذه الملاحظة الهامة وهي أن إنجيل معلمنا يوحنا (٢١ أصحاحاً ) في دراسته نقسمه قسمين : القسم الأول من (١  ١٢) وهو خاص بالمعجزات .</span></p>
<p><span> القسم الثاني من (١٣ للنهاية ) هو قسم الآلام .</span></p>
<p><span>إن القديس يوحنا الحبيب في كتابته لهذه البشارة لم يسجل أي مثل للسيد المسيح ، ولكنه اختار عدد من المعجزات ، هذه المعجزات لها دلالة لاهوتية قوية وسجلها في الاثني عشر أصحاح الأولين ، منهم حوالي ثماني معجزات وكانت آخر معجزة هي معجزة إقامة لعازر من الموت بعد أربعة أيام في القبر ، كانت هذه المعجزة هي الحادث المفصلي الذي بسببه بدأ اليهود التفكير في صلب السيد المسيح .</span></p>
<p><span>وبالأصحاح الثاني عشر يكون قد انتهى الجزء الأول من إنجيل معلمنا يوحنا الخاص بالمعجزات ، وأية معجزة لكي تتم في حياتنا لها شرط أولي هو الإيمان ، ولذلك سؤال اليوم هو : &#8221; هل تفهم معنى الإيمان ؟&#8221;.</span></p>
<p><span>أما الجزء الثاني من إنجيل معلمنا يوحنا هو خاص بالآلام ، فهو يتكلم عن أحداث أسبوع الآلام أي أحداث الصليب حتى القيامة وما بعدها ، ولهذا كان موقع الجزء الخاص بسؤال اليوم هو فصل ختامي للجزء الأول من هذا الإنجيل ، والسؤال المهم : &#8221; هل أنت تفهم معنى الإيمان ؟&#8221;.</span></p>
<p><span>نحن نصوم وتصلي ونذهب إلى الكنيسة ونُمارس أموراً كثيرة ، ولكن هل تعي مفهوم الإيمان ؟ </span></p>
<p><b><span>* مفهوم الإيمان :</span></b></p>
<p><span>هذا الجزء الإنجيلي يتكلم عن النور ، وما دام هناك نور سيكون فيه ظلام ، ولكن الظلمة في الكتاب المقدس رمز للخطية ، إذا يمكن أن نضع كلمة الإيمان في خمس درجات تبين وتوضح مفهوم الإيمان :</span></p>
<p><span>١<b>- الإيمان توبة معاشة :</b></span></p>
<p><span>الإيمان توبة معاشة وكلمة &#8221; توبة &#8221; كلمة جميلة نسمع عنها في الكنيسة ، لكن ماذا تصنع الخطية بالإنسان؟</span></p>
<p><span>إن الخطية تُصيب الجهاز الروحي في الإنسان ، والذي يتكون من العين والأذن والقلب ، لذا من يدقق في قراءات الصوم الكبير كلها ، سواء كانت نبوات العهد القديم أو قراءات العهد الجديد ، يجدها دائما تتكلم إما عن العين أو عن الأذن أو عن القلب ، فمثلا يوم سبت النور فيه نسهر طوال الليل ونقرأ سفر الرؤيا ، وأكثر عبارة تتكرر فيه هي : &#8221; من له أذنان للسمع فليسمع &#8220;. نجد العين تُصيبها الخطية بالعمى ، أما الأذن فبالخطية ترفض أي شيء صالح ، كذلك القلب يصاب بالقساوة ويتحجر والسبب في ذلك الخطية ، لأن الخطية تُصيب الجهاز الروح في الإنسان .</span></p>
<p><b><span>مثال القديس اسطفانوس </span></b><span>: </span></p>
<p><span> القديس اسطفانوس هو أول الشهداء وأول الشمامسة أو رئيس الشمامسة ، تعال معي نقف معه في لحظة الرجم ، اسطفانوس شاب لطيف صغير وجهه كوجه ملاك ، واقف في الوسط رافع يديه بالصلاة ، لديه إيمان وقلبه مبصر وعيناه ترى السماء وأذناه تسمع الوصية ، لكن لماذا يرجمونه ؟ هم يرجمونه بتهمة التجديف ؛ لأن الخطية أعمت عيونهم وآذانهم توقفت عن السمع وقلبهم توقف عن الإحساس . إذا أول معنى للإيمان هو أن الإيمان توبة معاشة ، في فترة الصوم نحاول نعيش التوبة ويأتي المعنى الجميل يوم أحد الرفاع وتختار لنا كنيستنا العظيمة فصل من إنجيل معلمنا (متى ٦ : ٦) &#8221; فادخل إلى مخدعك وأغلق بابك &#8220;، ادخل إلى قلبك وأغلق فمك ، وكلمة ادخل هنا معناها لاحظ وضعية قلبك وعينيك وأذنك . بذلك يكون أول جانب يجعلك تضع أمامك أول خطوة للإيمان هو التوبة المعاشة ، وأرجوك لا بد أن تفهم هذا التعبير جيداً ، فالتوبة التي تعيشها ليست مجرد دقائق سر الاعتراف ، لكنها توبة نعيشها كل يوم ، والتوبة في المفهوم الأرثوذكسي في أبسط مفهوم لها هي حياة النقاوة &#8221; نقاوة القلب &#8220;.</span></p>
<p><span>عندما يأتي طالب الرهبنة إلى الدير يعطيه الأب المسئول عن اختبارات طالبي الرهبنة شوالا من الأرز ليقوم بتنقيته ، لم يكن المقصود تنقية الشوال ، ولكن المقصود أنه تدريب نسكي نتعلم فيه كيف تُنقي قلبك يوم بيوم وساعة بساعة وباستمرار، ولذلك التوبة تأخذ الحياة كلها.</span></p>
<p><span>٢<b>- الإيمان رؤية معاشة :</b></span></p>
<p><span> في أحد المولود أعمى نقرأ عبارة جميلة قالها المولود أعمى : &#8221; أعلم شيئاً واحداً : أني كنت أعمى والآن أبصر &#8220;، إن التوبة تنقلك إلى الرؤية ، الإيمان هو الرؤية المعاشة ، ولكن ما المقصود برؤية معاشة ؟</span></p>
<p><span>الرؤية المعاشة تتحقق في حياة الإنسان السائر في طريق الله من خلال الصلاة ، لذلك نجد في كنيستنا صلوات كثيرة وتسابيح ، وأصوام تمتزج مع الصلوات وترانيم ومدائح وألحان ، إنها كنيسة مصلية ، فالصلاة هي معبرنا إلى رؤية الله ، وأوقات الصلاة هي الأوقات التي نمنحها لله لكي ما نراه ، فالله موجود في كل وقت وفي كل حين ، اطلب منه أن يعطيك رؤية داخلية في قلبك ، لقد قال الكتاب المقدس : &#8221; أريد أن نرى يسوع &#8221; (يو ١٢ : ٢١).</span></p>
<p><span>إن الطريقة التي تستخدمها لكي ترى المسيح الصلوات ، ولذلك الإنسان الذي يهمل الصلاة بأي شكل من الأشكال ، لا يمكن أن يرى المسيح أو يشعربه.</span></p>
<p><span>لا تظن أن وقت الصلاة فقط هو لرؤية المسيح ، ولكن تكرار حياة الصلاة ومواقف الصلاة وتنوعها يجعلك تشعر مثلما يقول داود النبي : &#8221; جعلت الرب أمامي في كل حين ، لأنه عن يميني فلا أتزعزع &#8221; (مز ١٦ : ٨).</span></p>
<p><span>الإيمان رؤية معاشة ، عندما تتعرض لضيقات يكون أمامك حل من اثنين : إما أن ترى الضيقة وتفصلك عن الله ، أو ترى الله فيفصلك عن الضيقة ، فتكون رؤيتك لله هي التي تمنحك السلام والهدوء والفكر ، كي تستطيع أن تعبرأية مشكلة وأية ضيقة تحل بالإنسان &#8221; بنورك يا رب نُعاين النور &#8221; هذا هو وقت الصلاة، فكل صلاة نُصليها وكلما أقف قدام الله أخذ من نورك يا رب ، وأستطيع أن أرى جيدا .</span></p>
<p><span>في سفر نشيد الأناشيد نجد عروس النشيد في الأصحاح الثاني يناديها العريس ، والعريس هو رمز الله الذي ينادي النفس البشرية ، &#8221; أجاب حبيبي وقال لي : قومي يا حبيبتي ، يا جميلتي وتعالي . لأن الشتاء قد مضى ، والمطر مر وزال &#8221; (نش ۲ : ۱۰  ۱۱) والشتاء تعبير عن الخطية أو الوقت البارد لحياة الإنسان ، النفس البشرية أمام الله رؤية معاشة ، ويبدأ الله ينادي النفس البشرية ويقول لها : &#8221; أريني وجهك ، أسمعيني صوتك ، لأن صوتك لطيف ووجهك جميل &#8221; (نش ٢ : ١٤).</span></p>
<p><span>عزيزي تصور كل واحد فينا عندما يقف أمام الله ويصلي ويسبح أو يرئم ، وحتى وإن كانت هذه النغمات بداخله مثلما نقول في أول مزامير صلاة النوم : &#8221; من الأعماق صرختُ إليك يا رب &#8220;، تصور كل هذا ومسيحك يقول لنفسك : &#8221; أسمعيني صوتك لأن صوتك لطيف &#8220;.</span></p>
<p><span>أحياناً عندما يسير الإنسان في بعض الأماكن يجد الأشجار الخضراء تتناغم مع زقزقة العصافير وأصوات الطيور الجميلة وينسجم من هذا المكان ولا يريد أن يتركه ، فمسيحك الذي رأى توبتك ورآك تعيش فيها يناديك ويقول لك : &#8220;أريد أن أسمع صوتك &#8221; ، وهذه هي الخطوة الثانية<b> الايمان رؤية معاشه .</b></span></p>
<p><b><span>٣- الإيمان كلمة معاشة :</span></b></p>
<p><span>كلمة الوصية هي الكلمة التي تعيشها انت في حياتك والوصية الكتابية وضعت لكي ما تكون سراجاً لحياة الإنسان ، أحياناً عندما ينظر الفرد لوصايا الإنجيل ويكون لديه شعور أن هذه الوصايا قديمة ، وإننا نعيش في أزمان متقدمة وتكنولوجيا سريعة ، لكن الإنجيل ليس فيه هذا ، فعندما كتبت الأسفار المقدسة لم يكن هناك ثورة اتصالات ولا تدفق للمعلومات ، فعليك أن تنتبه وتسمع ما يقوله الإنجيل : &#8221; إن سلكنا في النور كما هو في النور، فلنا شركة بعضا مع بعض ، ودم يسوع المسيح ابنه يطهرنا من كل خطية &#8221; (١ يو ١ : ٧). إن سلكنا في النور أى في الوصية وعشنا فيها ، يقول لنا صاحب سفر المزامير : &#8221; لكل كمال رأيت حداً ، أما وصيتك فواسعة جداً &#8221; (مز ۱۱۹ :٩٦). أحياناً يكون هناك خلط في المفاهيم ، وأحياناً لا يفهم الناس مدلولات الكلام ويحتاج الإنسان إلى أن تكون الوصية واضحة .</span></p>
<p><b><span>مثال</span></b></p>
<p><span>سأضع أمامك مثالاً صغيراً ، بما أننا في أسبوع الابن الضال ، نسأل : &#8221; ما مشكلة الابن الضال ؟&#8221; مشكلة الابن الضال أنه كان لديه مفهومان مختلفان ، هو بسبب أصحابه وبسبب طياشة عقله ، اعتبر أن البيت الذي يعيش فيه سجن ومن الضروري أن يخرج للحرية . ودائما يا إخواتي الأحباء الخطية تبدأ بهذا المفهوم ، الوضع الذي أنت فيه سجن سواء كنت في البيت أو في العمل أو في الخدمة أو في الكنيسة أو في المجتمع أو في حياتك الخاصة ، ويبدأ الإنسان يتذمر على هذا السجن ، فليس هناك ما هو ممتع فيه ، وبهذا التذمر يجعل الفكرينحرف ، فماذا تكون النتيجة ؟ وما هي المشكلة التي عندك ؟ قال : &#8221; إن البيت بكل ما فيه سجن ، أريد أن أتركه وأذهب وأنطلق للحرية &#8220;، وأنت هل تفضل الحرية أم السجن ؟ ثم أخذ نصيبه وذهب وظل الحال كما يقولون في الأمثال : &#8221; دوام الحال من المحال &#8220;، وبدأت حياته في الانحدار وهو أمام الخنازير يشتهي طعامهم ، ولكن جاءت أمامه الفكرة الصحيحة وهي &#8221; أنا في السجن وأريد أن أرجع إلى حريتي &#8220;، السجن والحرية ليس في الجدران ، يمكن مزرعة الخنازير لم يكن لها سور، لكنه استيقظ من سباته العميق ، ولذلك نقول : &#8221; إن الإيمان هو كلمة معاشة ، ووصية نعيشها ونطبقها &#8220;، عندما اكتشف أن مزرعة الخنازير وهي تعبير عن حقارة الخطية ، قال أذهب إلى أبي حتى لو كنت في بيت أبي أجير ، ونجح . لذلك نُسمى دائماً هذا المثل بقصة &#8221; الابن الشاطر &#8220;.</span></p>
<p><b><span>قصة</span></b></p>
<p><span>في إحدى أديرة الراهبات الغربية ، قالت الأم الرئيسة : &#8221; تُريد أن نعرف هل يستجيب الله لصلاتنا أم لا &#8220;؟ وطلبت من كل راهبة أن تُصلي طلبة وتطلب من ربنا ما هي تريده وننتظر سنة ثم نرى كيف استجاب الله لنا ، وكان هناك راهبتان ، واحدة في خدمة المطبخ ، والأخرى في خدمة المكتبة ، وقفت خادمة المطبخ تصلي وطلبت من ربنا أن يرسل لها ستائر لشبابيك قاعة الطعام ، أما راهبة المكتبة فوقفت تصلي طالبة من ربنا أن يرسل لها ستائر لشبابيك المكتبة وحددت في طلبها (٣١,٥  مترا)، كل راهبة كانت تُصلي بمفردها ولا يعرف أحد طلبتهما . ذات يوم جاء للدير هدية طرد قماش ستائر ، فقامت الأم الرئيسة وجمعت الراهبات وسألتهن : &#8221; من كانت تصلي من أجل الستائر ؟&#8221;، فاثنتان من الراهبات أجابتا بالإيجاب ، وبدأ يحدث نزاع بين الاثنتين أن ربنا قد استجاب لصلاة إحداهما ، فكل منهما تظن أن ربنا استجاب لصلاتها ، فسألت الأم الرئيسة كلاهما : &#8221; ماذا طلبتي في صلاتك ؟&#8221;، قالت الأولى : &#8221; كنت أطلب من ربنا أن يرسل لنا قماش ستائر &#8220;، أما الأخرى قالت : &#8221; طلبت من ربنا ( ٣١,٥  متراً) من قماش الستائر &#8220;؛ لأنها قاست على الشبابيك المقاس المطلوب ، فحكمت الأم الرئيسة أن يتم قياس القماش ، وتحكي القصة أنهم عندما بدأن في قياس القماش وكأنهما في امتحان وكانت المفاجأة ان القماش يكون (٣١,٥ متراً)، وكان بالطبع من نصيب الراهبة المسئولة عن المكتبة . الإيمان كلمة معاشة ، السيد المسيح وعدنا قائلا : &#8221; ها أنا معكم كل الأيام إلى انقضاء الدهر &#8221; (مت ۲۸ : ۲۰). السيد المسيح لم يحدد هنا يوماً معيناً أو شهراً ، بل قال : &#8221; كل الأيام &#8220;، ولذلك إيمانك خلال الوصية هو في كل يومز؛ لأن مسيحنا حاضر في كل يوم وهو قادر على تنفيذ الوصية وعلى الإيفاء بالوعد ، فكل وصية في الإنجيل هي بمثابة وعد ، يمكن تحقيقه ، والآية الجميلة التي نقرأها في سفر الجامعة تقول : &#8221; صنع الكل حسناً في وقتن ( جا ٣ : ١١ ) . </span></p>
<p><span>٤<b> الإيمان أسرار معاشة :</b></span></p>
<p><span>يقصد بالأسرار &#8221; أسرار الكنيسة &#8220;، ويمكن أن نُركز على سرين &#8221; سر التوبة والاعتراف وسر التناول أو الإفخارستيا &#8220;، وهي الأسرار التي نأخذ بها النعم &#8221; نعم عمل روح الله &#8220;. ونعم عمل روح الله القدوس في الكنيسة هي متجددة على الدوام ، وهذه الأسرار تمنح الإنسان نعما كثيرة نعيشها ، في آخر القداس وعند ممارسة سر التناول يقول الأب الكاهن : &#8221; يعطى عنا خلاصاً &#8220;، من أين لنا بهذا الخلاص ؟ يقول : من عند المسيح ، وغفراناً للخطايا . فمن يستطيع أن يمحي الخطية إلا شخص السيد المسيح ودمه الزكي الكريم وحياة أبدية لمن يتناول منه ، إذا وضعت أمامك الثلاث بركات السابقة كأنك في كل مرة تحضر القداس ، فإنك تحضر بوع وتمارس هذا السر بوع ، ونفسك تكون كلها حاضرة ، وتكون النتيجة أنك تعيش السر ، فتتلامس بقوة الخلاص ، وتتلامس مع فرحة غفران الخطية ، وتتلامس أيضاً مع الدعوة السمائية ؛ لأن لك نصيباً في السماء ، وكأن في كل مرة تحضر فيها القداس يتجدد أمامك الوعد الذي قاله لك السيد المسيح : &#8221; أنا أمضي لأعد لكم مكاناً &#8221; (يو ١٤ : ٢)، ويصير الإيمان أسرارا معاشة . كذلك سر التوبة ومفهومه الأصيل وكيف يمارسه الإنسان أمام الله وأمام نفسه ثم أمام كنيسته ممثلة قدام أب اعترافه لينظف قلبه. إذا الإيمان في جانبه الرابع هو الأسرار المعاشة في حياتك.</span></p>
<p><b><span>٥- الإيمان هو المحبة المعاشة :</span></b></p>
<p><span>لقد قدمت توبة ورأيت من خلال الصلاة ، وسلكت من خلال الوصية وعشت من خلال الأسرار ، يبقى أن أمارس المحبة ، يقول معلمنا بولس الرسول : &#8221; الإيمان العامل بالمحبة &#8220;، لقد بدأت من التوبة ووصلت إلى المحبة ، فماذا تعني المحبة ؟ إنها تعني خدمة الآخرين . الإيمان العامل بالمحبة فيه يتحول إيمانك من فعل نظري أو فعل باطني داخلي إلى عمل خارجي ، فأنت تُعبر عن إيمانك من خلال أعمالك ، أي من خلال محبتك وخدمتك للآخرين ومن خلال أعمال الرحمة التي تستطيع أن تُقدمها ، وينطلق الإنسان بهذه الصورة الإيمانية لخدمة كل أحد في أي مكان .</span></p>
<p><span>لذلك نسمع في مسيحيتنا من أيام السيد المسيح أن هناك أناساً تكرس نفسها وتعيش لتخدم الآخرين دون طلب شيء أو طلب مقابل ، بل حباً في الله ، وتقدم حياتها لخدمة كل أحد.</span></p>
<p><span>لذلك لا بد من أن يعبر عن الإيمان ، وقد ذكر في فصل إنجيل اليوم &#8221; الكلام الذي تكلمت به هو يدينه في اليوم الأخير &#8221; (يو ١٢ : ٤٨)، ليس الموضوع مجرد أن تقف تردد قانون الإيمان ، أو مكتوب في هويتي الشخصية &#8221; الديانة: مسيحي &#8220;، ولكن الموضوع له بداية ، ولا بد أن تنتبه من هذه البداية لأنها تكون من الداخل وليست من الخارج ، فإن كانت البداية من الخارج سيكون هذا عملاً اجتماعياً ، لكن في المفهوم المسيحي خدمتنا تقدمها في محبة كاملة بدايتها تكون التوبة التي تعيشها كل يوم بنقاوة قلبك ، ثم بالرؤية التي تُمارسها على الدوام ، ثم بالكلمة المقدسة وبالوصية التي تعيشها &#8221; في ناموسه يلهج نهاراً وليلا &#8221; (مز ۱ : ۲)، ثم عن وع بممارسة الأسرار وقربك من المذبح ، وأخيراً تقدم المحبة المعاشة من خلال خدمة الآخرين ، ومن خلال تعبك من أجل الآخرين ، ومن خلال المحبة التي تقدمها ؛ وذلك لأن قلبك قد امتلأ بمحبة الله .</span></p>
<p><span>ونحن في الصوم الكبير تصلي قائلين : &#8221; طوبى للرحما على المساكين &#8220;، فنحن نصلي من أجل أعمال الرحمة التي يقدمها الإنسان ، لكن لا تنس أن كل يوم من أيام الصوم هو يوم للتوبة ، ويوم لينظر فيه الإنسان إلى قلبه من الداخل ، وأيضاً ينظر إلى حياته ويدرك مصيره في هذه الحياة .</span></p>
<p><span>فليعطنا الله يا أحبائي أن تكون حياتنا مرضية أمامه في كل حين ، وليعطنا القلوب التائبة التي من خلال محبة الله تصل إلى خدمة الآخرين &#8230; لإلهنا كل المجد والكرامة من الآن وإلى الأبد. آمين.</span></p>
</div>
</div>
</blockquote>
</div>
</div>
<div>
<div>
<div>
<p><span> المرجع : كتاب إختبرني يا الله صفحة ٢٥٧ - قداسة البابا تواضروس</span></p>
</div>
</div>
</div>
</div>
</div>
<div data-test-id="toolbar-hover-area">
<div data-test-id="card-toolbar">
<div>
<hr />
</div>
</div>
</div>
<p><a href="#_ftnref1" name="_ftn1">[1]</a><sup>- </sup><sup>الكنيسة عند العلامة أوريجانوس. ص 15</sup><sup> - القمص تادرس يعقوب ملطي.</sup></p>

      {% endcreateArticleAccordions %}
    </section>
  {% endblock %}
