---
layout: 'layouts/reading.html'
title: ' قراءات يوم الاربعاء من الإسبوع الخامس'
tags: 'great-lent'
permalink: /articles/great-lent/5-3.html
---
  {% block content %}
    <section id="readings">
      <ul>
      {% if 'undefined' != 'undefined' %}
      
      {% else %}
      {% if 'null' != 'null' %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">العشية</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeVespers '' '' %}
          </div>
        </div>
      </li>
      {% endif %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">باكر</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeMatins '19.55:1-2' '41.10:1-12' '2.8:20-32*@+2.9:1-35@23.41:4-14@29.3:9-21@18.28:12-28@20.4:10-19@9.1:1-28*@+9.2:1-21' %}
          </div>
        </div>
      </li>
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <h3 class="flex items-center justify-between">
            <span class="kufi">القداس</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </h3>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeLitugy '45.4:14-25*@+45.5:1-5' '60.4:12-19' '44.11:12-18' '19.86:13-14' '42.13:6-9' %}
          </div>
        </div>
      </li>

      {% endif %}
        </ul>
    </section>
    <section id="article">
      <h3 class="mt-8 mb-4 heading-explain">شرح القراءات</h3>
      {% createArticleAccordions %}
        <p>&#8220;أَنَا الْكَرْمَةُ وَأَنْتُمُ الأَغْصَانُ. الَّذِي يَثْبُتُ فِيَّ وَأَنَا فِيهِ هذَا يَأْتِي بِثَمَرٍ كَثِيرٍ&#8221; (يو١٥: ٥)</p>
<p>[ثبتني فيك غصناً حياً أيها الكرمة الحقيقية] (من صلوات القسمة المقدّسة)</p>
<p>[أما الخمر الذي يستخرج من الكرمة الحقيقية فهو جديد على الدوام به يتجدد فهم المتعلمين للمعرفة الروحية والحكمة على الدوام] (العلامة أوريجانوس)<a href="#_ftn1" name="_ftnref1">[1]</a></p>
<p>[فهو يروي ويدسم نفوسنا بنعمة الروح القدس المحيية والمبهجة وذلك حينما تكون ملتصقة به كمثل أغصان (في الكرمة) بواسطة الإيمان والمحبة] (القديس كيرلس الكبير)<a href="#_ftn2" name="_ftnref2">[2]</a></p>
<h3>شواهد القراءات</h3>
<p>(خر٨: ٢٠- الخ، ص٩: ١- الخ)، (إش٤١: ٤- ١٤)،  (يؤ٣: ٩- الخ)، (أي٢٨: ١٢- الخ)، (أم ٤: ١٠- ١٩)، (مز٥٤: ١)، (مر١٠: ١- ١٢)، (رو٤: ١٤- الخ، ٥: ١- ٥)، (١بط ٤: ١٢- الخ)، (أع١١: ١٢- ١٨)، (مز٨٥: ١٢، ١٣)، (لو١٣: ٦- ٩).</p>
<h3>شرح القراءات</h3>
<p><strong>تتكلّم قراءات هذا اليوم</strong> عن ابن الله الكرمة الحقيقية وعن الكنيسة أغصان الكرمة وكيانها فيه وثمره فيها.</p>
<p><strong>تبدأ القراءات </strong>من سفر الخروج وتحذير الله لفرعون لأجل شعبه الخاص واهتمام الرب بكرمته الخاصة وإنتقامه من أي قوّة عالمية تحاول التعدّي دون سماح منه على أعضاء وأغصان كرمته .</p>
<p>&#8220;ثم قال الرب لموسى أدخل إلى فرعون وقل له هذا ما يقوله الرب إله العبرانيين اطلق شعبي ليعبدني فإن لم تَرِد أن تطلق شعبي ليعبدني بل تضبطه هوذا يد الرب تأتي على بهائمك، وأميز أنا بين مواشي المصريين ومواشي إسرائيل فلا يموت شئ من بهائم بني إسرائيل كافة&#8221;.</p>
<p><strong>وفي سفر أشعياء</strong> دعوة الله لأغصان كرمته في القديم في نسل ابراهيم وإختيار الله لليهود من بين الأمم عجينة مقدسة لأجل التدبير الإلهي للتجسد في ملء الزمان.</p>
<p>&#8220;أما أنت يا إسرائيل فتاي وَيَا يعقوب الذي اخترته نسل ابراهيم الذي أحببته (خليلي) يا من أخذته من أقاصي الأرض ودعوته من أقطارها وقلت لك أنت فتاي واخترك ولم أرفضك&#8221;.</p>
<p><strong>ويظهر في سفر يوئيل</strong> مجد كرمته المقدّسة وثمار الكنيسة في عهد النعمة وفي ذات الوقت يفحص ويدين الأمم لكثرة الشر.</p>
<p>&#8220;لتنهض الأمم وتصعد إلى وادي يوشافاط فإني هناك أجلس لأدين جميع الأمم من كل ناحية، لأن شرهم قد كثر، ويكون في تلك الأيام أن الجبال تقطر عصيراً وتفيض الآكام لبناً وجميع ينابيع يهوذا تفيض مياهاً ويخرج ينبوع من بيت الرب&#8221;.</p>
<p><strong>وفي سفر أيوب</strong> يتكلم عن الحكمة الإبن الكلمة وثمار كرمته فينا مخافة الرب وهى أكثر ثمر يميّز أولاد الله عن أولاد العالم.</p>
<p>&#8220;وقال للبشر ها إن مخافة الرب هى الحكمة واجتناب الشر هو الفطنة&#8221;.</p>
<p><strong>وفي سفر أمثال</strong> <strong>سليمان</strong> فيقارن بين ثمار كرمته المقدّسة في الأبرار وأفعال الأشرار.</p>
<p>&#8220;لا تدخل في سبيل الأشرار ولا تحسد طريق الأثمة، لقد أكلوا خبز النفاق وشربوا خمر المظالم أما سبيل الصديقين فمثل النور المتلالئ الذي يتزايد وينير إلى النهار الكامل&#8221;.</p>
<p><strong>وفي مزمور باكر</strong> إحدى وسائل غرسنا في الكرمة الصلاة والتضرع.</p>
<p>&#8220;انصت يا الله لصلاتي ولاتغفل عن تضرعي&#8221;.</p>
<p><strong>وفي إنجيل باكر</strong> الكرمة الصغيرة الأسرة المسيحية وكما قيل أن سر الزواج أساسه السر الكبير بين المسيح والكنيسة.<a href="#_ftn3" name="_ftnref3">[3]</a> (الكسندر شميمن)</p>
<p>&#8220;لهذا يترك الرجل أباه وأمه ويلتصق بامرأته فيصير الاثنان جسداً واحداً حتى انهما لا يكونان اثنين بل جسداً واحداً وما جمعه الله لا يفرقه الانسان&#8221;.</p>
<p><strong>وفي البولس</strong> الكرمة التي تعتمد على الإيمان وتجمع من جميع الأمم.</p>
<p>&#8220;لهذا هو من الإيمان ليكون على سبيل النعمة ليكون الموعد وطيداً لجميع النسل ليس لمن هو من الناموس فقط بل أيضاً لمن هو من إيمان ابراهيم الذي هو أب لجميعنا كما هو مكتوب إني جعلتك أباً لأمم كثيرة&#8221;.</p>
<p><strong>وفي الكاثوليكون</strong> وحدتنا مع الإبن الكرمة.</p>
<p>&#8220;بل كما اشتركتم في آلام المسيح افرحوا لكي تفرحوا في استعلان مجده أيضاً مبتهجين إن عُيِّرتُم باسم المسيح فطوبى لكم لأن روح الله ذا المجد والقوة يحل عليكم&#8221;.</p>
<p><strong>لكن يبدأ القضاء</strong> من بيت الله الكرمة.</p>
<p>&#8220;لأن الوقت لإبتداء القضاء من بيت الله فإن كان بدؤه أولاً منا فكيف تكون عاقبة الذين لا يطيعون انجيل الله&#8221;.</p>
<p><strong>وفي الإبركسيس</strong> عن الكرمة المُطَعّمة من الأمم في العهد الجديد وعطية الله - ملء الروح القدس - المنسكبة مجاناً على كل المؤمنين من الأمم.</p>
<p>&#8220;فإن كان الله قد أعطاهم الموهبة كما لنا أيضاً بالسوية مؤمنين بالرب يسوع فمن أنا حتى أمنع الله فلما سمعوا ذلك سكتوا وكانوا يمجدون الله قائلين: إذاً قد أعطى الله الأمم أيضاً التوبة للحياة&#8221;.</p>
<p><strong>وفي مزمور القدّاس</strong> أعظم ما أعطاه ابن الله لأغصانه نجاتها من الهلاك الأبدي.</p>
<p>&#8220;لأن رحمتك عظيمة على وقد نجيت نفسي من الجحيم السفلي&#8221;.</p>
<p><strong>وفي إنجيل القدّاس</strong> عن طول أناة الآب الكرّام والابن الكرمة على الأغصان لعلّها تثمر.</p>
<p>&#8220;فقال للكرام ها هى ثلاث سنين منذ اتياني وأطلب ثمرة في شجرة التين هذه ولا أجد إقطعها فلماذا تعطل الأرض أيضاً فأجاب وقال له ياسيد دعها هذه السنة أيضاً حتى أعزق تحتها وأسمدها لعلها تثمر في السنة الآتية فإن لم تثمر تقطعها&#8221;.</p>
<h3>ملخّص القراءات</h3>
<table style="height: 448px;" width="761">
<tbody>
<tr>
<td width="94">سفر الخروج</td>
<td width="408">إهتمام ورعاية الكرمة بالأغصان وحمايته لها من المقاومين.</td>
</tr>
<tr>
<td width="94">سفر أشعياء</td>
<td width="408">إختيار الله لأغصان كرمته من نسل ابراهيم في العهد القديم.</td>
</tr>
<tr>
<td width="94">سفر يوئيل</td>
<td width="408">إدانة الأشرار من الأمم.</td>
</tr>
<tr>
<td width="94">سفر أيوب<br />
وأمثال سليمان</td>
<td width="408">ثمار الثبات في الكرمة مخافة الرب وسبل الإستقامة.</td>
</tr>
<tr>
<td width="94">إنجيل باكر</td>
<td width="408">وحدة الأغصان في الكرمة كمثال لوحدة الزواج المسيحي.</td>
</tr>
<tr>
<td width="94">البولس</td>
<td width="408">أغصان العهد الجديد تعتمد على الإيمان بالرب يسوع وليس حسب الناموس.</td>
</tr>
<tr>
<td width="94">الكاثوليكون</td>
<td width="408">وحدة الأغصان مع الكرمة في الآلام والمجد.</td>
</tr>
<tr>
<td width="94">الإبركسيس</td>
<td width="408">أغصان العهد الجديد من الأمم وملء الروح فيهم.</td>
</tr>
<tr>
<td width="94">مزمور باكر<br />
والقدّاس</td>
<td width="408">صراخ الأغصان للابن الكرمة لكي يثبتها فيه وينجيها من الهلاك الأبدي.</td>
</tr>
<tr>
<td width="94">إنجيل القدّاس</td>
<td width="408">طول أناة الآب والابن على الأغصان كيما تثمر</td>
</tr>
</tbody>
</table>
<h3>الكنيسة في قراءات اليوم</h3>
<table width="503">
<tbody>
<tr>
<td width="94">إنجيل باكر</td>
<td width="408">سر الزواج.</td>
</tr>
<tr>
<td width="94">الكاثوليكون</td>
<td width="408">بيت الله.</td>
</tr>
<tr>
<td width="94">الإبركسيس</td>
<td width="408">ملء الروح للأمم.</td>
</tr>
<tr>
<td width="94">إنجيل القدّاس</td>
<td width="408">الآب والابن الكرّام والكرمة.</td>
</tr>
</tbody>
</table>
<p><a href="#_ftnref1" name="_ftn1"></a></p>
<h3>عظات ابائية</h3>
<h4>شرح إنجيل القدَّاس للقديس كيرلس الأسكندري</h4>
<p>(لو ١٣ : ٦ - ٩) وَقَالَ هذَا الْمَثَلَ: «كَانَتْ لِوَاحِدٍ شَجَرَةُ تِينٍ مَغْرُوسَةٌ فِي كَرْمِهِ، فَأَتَى يَطْلُبُ فِيهَا ثَمَرًا وَلَمْ يَجِدْ فَقَالَ لِلْكَرَّامِ: هُوَذَا ثَلاَثُ سِنِينَ آتِي أَطْلُبُ ثَمَرًا فِي هذِهِ التِّينَةِ وَلَمْ أَجِدْ. اِقْطَعْهَا! لِمَاذَا تُبَطِّلُ الأَرْضَ أَيْضًا؟ فَأَجَابَ وَقَالَ لَهُ: يَا سَيِّدُ، اتْرُكْهَا هذِهِ السَّنَةَ أَيْضًا، حَتَّى أَنْقُبَ حَوْلَهَا وَأَضَعَ زِبْلًا فإن صنعت ثمرآ ففيما بعد تقطعها&#8221;</p>
<p>يظهر المرنم اللطف الفائق للمسيح مخلصنا كلنا بهذه الكلمات: &#8221; يا رب من هو الإنسان حتى تذكره وإبن آدم حتى تفتقده &#8221; (مز ٨:٤). لأن الإنسان من جهة طبيعته الجسدية هو تراب ورماد ، ليس من جهة هيئته الجسدية بل بالأحرى بسبب أنه يستطيع أن يكون بارا وصالحا ولانه لكل فضيلة. لذلك يعتني به الخالق لكونه خليقته وكي يزين به الأرض لأنه كما يقول إشعياء النبي: &#8221; لم يخلقها باطلا (بل) للسكن صورها &#8221; (أش٥٤:١٨)، فهي مسكونة بالطبع بكائن حي عاقل يمكنه بعيني الذهن أن يدرك خالق الكون وصانعه وأن يمجده مثل الأرواح العلوية. ولكن بسبب أنه انحرف بعيدا نحو الشر بسبب حيل الحية الخادعة ، وبسبب أنه قيد بسلاسل الخطية وابتعد تماما عن الرب ، فالمسيح لكي يمكنه أن يرتفع مرة ثانية إلى فوق ؛ جاء لكي يبحث عنه ويشكله من جديد على الصورة التي كان عليها في الأول، ومنحه التوبة كطريق يقوده للخلاص.</p>
<p>لذلك فهو يقدم مثلا حكيما ، لكن ينبغي علينا أولآ ان نشرح ما هي المناسبات التي أدت إلى ذلك ، او ما هي الضرورة التي دعت الرب أن يقدم هذا المثل  فقد كان هناك البعض الذين اخبروا المسيح مخلصنا كلنا أن بيلاطس قتل — بطريقة وحشيه وبلا شفقة  -بعض الجليلين وخلط دمهم بذبائحهم. وآخرون  أخبروا عن برج سلوام الذى سقط وقتل ثمانية عشر شخصا تحت أنقاضه ويشير المسيح بعد نلك لهذه الأشياء بقوله لسامعيه : &#8221; الحق أقول لكم إنكم ان لم تتوبوا فجميعكم كذلك تهلكون ٠٠ &#8221; هذا هو أساس وأصل المثل الحالي ، وما يهدف إليه٠</p>
<p>والآن فالمعنى الظاهري لهذه . الفقرة لايحتاج إلى كلمة واحدة لتفسيره ، لكن عندما نفحص في المغزى الداخلي والخفي ، فإننا نؤكد ما يلي ؛ كان حقأ على الاسرائيلين بعد صلب مخلصنا ان يقعوا في البلايا التي يستحقونها ،  فحوصرت اورشليم وذبح السكان بسيف العدو ولم يهلكوا هكذا فقط ، بل أحرقت بيوتهم بالنار ، وحتى هيكل الرب قد دمر.</p>
<p>لذلك فمن المحتمل أن الرب يشبه مجمع اليهود بشجرة تين، لأن الأسفار المقدسة تشبههم أيضا بنباتات مختلفة، مثلا بالكرمة وبالزيتونة وحتى الغابة ، لأن هوشع النبي يقول مرة عن أورشليم  وبالأحرى عن سكانها: &#8220;إسرائيل كرمة ممتدة &#8221; (هوشع ٠ ١:١س)، ويقول ارميا النبي أيضا: &#8220;زيتونة خضراء ذات ثمر جميل الصورة دعا الرب أسمك ، بصوت ضجة عظيمة ، أوقد نارا عليها فإنكسرت أغصانها (أر ١١ : ١٦) ويقارنها احد الأنبياء القديسين بجبل لبنان فيتكلم هكذا:&#8221; أفتح أبوابك يا لبنان فتأكل النار ارزك &#8221; (زك ١١ : ١)</p>
<p>لأن الغابة التي كانت في اورشليم والناس الذين كانوا هناك وكانت اعدادهم كبيرة أبيدوا كما بنار. لذلك فكما قلت ، فإن الرب يأخذ شجرة التين التي تكلم عنها في المثل كرمز للمجمع اليهودي أي للإسرائيليين ويقول : &#8221; هوذا ثلاث سنين آتى أطلب ثمرا فى هذه التينة فلم اجد &#8221; وأنا أرى ان الرب يشير لنا بهذه الثلاث سنوات إلى ثلاث فتزات متعاقبة لم يأت أثناءها المجمع اليهودي بأية ثمار.</p>
<p>ربما يمكن للمرء أن يقول ان الغترة ؛ الأولى منها كانت تلك التي عاش فيها موسى وهارون وأبناؤه الذين خدموا الرب متقلدين وظيفة الكهنوت بحسب الناموس. الفترة الثانية كانت فترة يشوع ابن نون والقضاة الذين جاوا من بعده، والفترة الثالثة كانت تلك التي ازدهر فيها الأنبياء المباركون إلى زمن مجيء يوحنا المعمدان. أثناء تلك الفترة لم تأت إسرائيل بأي ثمر .</p>
<p>ولكنني أتخيل أن البعض يعرضون على هذا قائلين: &#8221; ولكن انظر، فإنها قد أكملت الخدمة التي أمر بها الناموس وقدمت الذبائح التي هي عبارة عن دم . الضحايا وحرق البخور &#8221; ولكن على هذا نجيب: أنه في. كتابات موسى كان هناك فقط ظل للحق (وليس الحق ذاته)، وخدمة مادية وبدائية.</p>
<p>لم تكن هناك بعد خدمة بسيطة نقية وروحية مثل التي نؤكد أن الرب يحبها اصلا والتي تعلمناها من المسيح الذي قال: &#8221; الله روح والذين يسجدون له فبالروح والحق ينبغى أن يسجدوا &#8221; (يو ٢٤:٤). لذلك، فإن ما يعتبر أنه المشيئة الحسنة للاب، التي هي أيضا مشيئة الابن ، فإن العبادة التي كانت تتكون من ظلال ورموز هى غير مقبولة وخالية تماما من الثمر من جهة ما يختص بالرائحة الروحانية الحلوة ، ولذلك رفضت هذه الخدمة ، لأن المخلص يعلمنا هكذا عندما يقول للرب الآب في السماء: بذبيحة وتقدمة لم تسر ، محرقة وذبيحة خطية لم تطلب &#8221; (مز ٣٩ : ٦)</p>
<p>. وايضا يقول الرب نفسه بفم إشعياء لمن كانوا يريدون إتمام الذبائح: &#8221; لأن من طلب هذا من أيديكم؟ لا تدوسوا دوري بعد ، لا تعودوا تأتون بتقدمة باطلة، البخور هو مكرهة لى&#8221; (إش ١ : ١٢ - ١٣) لذلك هو يقول : &#8221; هوذا ثلاث سنين آتى أطلب ثمرا فى هذه التينة ولم أجد  أقطعها ، لماذا تبطل الأرض أيضا &#8221; (لو١٣ : ٧) ، كما لو كان يود أن يقول: دع موضع شجرة التين العقيمة فارغا ، لأنه سيزرع مكانها فيما بمد أشجار أخرى ، وهذا أيضا قد تم لأن جموع الأمميين قد دعوا ليحلوا محلهم ويمتلكوا ميراث الإسرائيليين. إنهم صاروا شعب الرب ، زرع الفردوس ، نبتة صالحة ومكرمة تعرف كيف تثمر ثمنا ليس في ظلال ورموز ، بل  بالأحرى بخدمة طاهرة وكاملة بلا عيب أي تلك التي تقدم بالروح وبالحق للرب الذي هو كائن غير مادي.</p>
<p>لذلك قال صاحب الأرض إن شجرة التين التي لم تأت بثمر على مدى فترة لذلك طويلة يلزم إن تقطع٠ لكن الكرام توسل إليه قائلا : يا سيد اتركها هذه السنة أيضا حتى أنقب حولها وأضع زبلا فإن صنعت ثمرا وإلا ففيما بعد تقطعها (لو ١٣ : ٨ ، ٩) يحق لنا إن نتسائل الآن: من يكون الكرام؟ ان قال احد إنه الملاك الذي عينه الرب كحارس لمجمع اليهود ، فإنه لن يكون قد جانب التفسير المناسب ، لأننا نتذكر أن زكريا النبي كتب أئ أحد الملائكة القديسين وقف يقدم توسلات لأجل اورشليم فقال: &#8221; يا رب الجنود إلى متى انت لا ترحم اورشليم ومدن يهوذا التي غضبت عليها هذه السبعين سنة ؟ &#8221; (زك ١ : ١٢)، ومكتوب ايضا في سفر الخروج انه عندما كان فرعون ملك مصر وجنوده يسرعون في أثر الإسرائيليين كانوا على وشك الإلتحام معهم في معركة ؛ ان ملاك الرب وقف بين معسكر الاسرائيليين ومعسكر المصريين ولم يقترب احدهما من الآخر طوال الليل . لذلك لا يوجد ما يمنع أن نفترض هنا أن الملاك المقدس الذي كان حارسا للمجمع اليهودي قدم توسلات لأجله وطلب مهلة، فربما ياتي المجمع بثمار لو أنه اذعن و خضع للرب .</p>
<p>  لكن لو كان لأحد أن يقول إن الكرام هو الابن ، فوجهة النظر هذه لها ما ييررها، لأنه هو شفيعنا لدى الآب (أنظر ١يو ٢ : ١)، أى &#8221; كفارتنا &#8221; ، وراعي نفوسنا الذي يشذب نفوسنا دائما مما يضرنا ، ويملأنا ببذار عقلية ومقدسة لكي نأت له بثمر وهكذا تكلم عن نفسه قائلأ: &#8221; خرج لزارع ليزرع زرعه&#8221;  (لو٨:ه).</p>
<p>ولا ينقص من مجد الابن انه يتخذ صغة الكرام ، لأن الآب نفسه اخذ هذه الصفة ايضا دون ان يتعرض لأي لوم بسبب ذلك ، لأن الابن قال  للرسل القديسين: &#8221; أنا الكرمة وأنتم الأغصان ، وأبى الكرام &#8221; (انظر يو ١٥ : ١) لأنه يلزم استخدام التعبير اللفظي من حين لآخر لكي يتمشى مع الافتراضات الموضوعة .</p>
<p>لذلك، فلنعتقد أنه هو الشفيع لأجلنا وهو يقول: &#8221; أتركها هذه السنة أيضا حتى أنقب حولها واضع زبلا &#8221; فما هو المقصود. إذن بهذه السنة؟ من الواضح إن هذه السنة الرابعة هي الزمن الذي ياتي بعد تلك الفترات السابقة أي هي تلك التي فيها صار كلمة الله الوحيد إنسانا ، يستحث بنصائحه الروحية الإسرائيليين الذين ذبلوا بالخطية ، وينقب حولهم ويدفئهم ليجعلهم حارين في الروح ، لأنه توعدهم مرارا بالخراب والدمار والحروب والمذابح والحرائق والأسر. والسخط الذي لا يخمد ، بينما من الناحية الأخرى ، فقد وعد أنهم إن آمنوا به وصاروا في النهاية أشجارا مثرة فسوف يعطيهم الحياة والمجد ونعمة التبني ، وشركة الروح القدس وملكوت السموات.</p>
<p> لكن إسرائيل كان عاجزاً عن ان يتعلم حتى من هذا أيضا . لقد ظل شجرة تين عقيمة ويستمر هكذا . لذلك قطعت الشجرة لكي لا تشغل الأرض باطلا ونبت عوضا عنها. - كنبات خصيب - كنيسة الأمم ، الجميلة وحاملة الثمار والمتاصلة بعمق ، والتي لايمكن ان تتزعزع لأنهم قد شبوا كاولاد إبراهيم ، وطعموا في شجرة الزيتون الجيدة الأصل ، لأن الأصل قد حفظ ، وإسرائيل لم يهلك تماما.</p>
<p>اما كونها استحقت القطع لأجل عقمها التام ، فهذا أعلنه ايضا يوحنا المعمدان بهذه الكلمات: &#8220;والآن قد وضعت الفأس على أصل الشجر ، فكل شجرة لا تصنع ثمرا تقطع وتلقى فى النار (لو ٣ : ٩)<a href="#_ftn1" name="_ftnref1">[4]</a></p>
<h5></h5>
<h5></h5>
<h4>تعليق القديس أمبروسيوس علي إنجيل القدَّاس</h4>
<p>ليتنا نسمد هذا الحقل الذي لنا، متمثلين بالزارعين المجاهدين الذين لا يخجلون من إشباع الأرض بالسماد، ونثر الرماد والقذر على الحقل حتى يجمعوا محصولًا أوفر.</p>
<p>علمنا الرسول بولس كيف نسمد حقلنا بقوله: &#8220;إني أحسب كل شيء أيضًا خسارة&#8230; لكي أربح المسيح&#8221; (في ٣ : ٨). بصيت حسن أو بصيت رديء أدرك أن يُسر السيِّد المسيح.</p>
<p>لقد قرأ بولس عن إبراهيم أنه اعترف بأنه ليس إلا ترابًا ورمادًا ( تك ١٨ : ٢٧)؛ وقرأ عن أيوب أنه جلس في الرماد (أي ٢ : ٨)، وبذلك استعاد كل ما فقده (أي ٤٢ : ١٠). وسمع على فم داود أن الله: &#8220;المقيم المسكين من التراب، الرافع البائس من المزبلة&#8221; (مز ١١٣ : ٧). فليتنا لا نعود نخجل من الاعتراف بخطايانا.</p>
<p>حقًا أنه من المخجل أن يعترف الإنسان بخطاياه، لكن هذا الخجل يكون أشبه بعملية الحرث للأرض، وإزالة العوسج منها، وتنقيتها من الأشواك، وبذا نظهر الثمار التي لم تكن موجودة.</p>
<p>لنتمثل إذن بهذا الذي حرث حقله باجتهاد، باحثًا عن الثمرة الأبديَّة: &#8220;نُشتم فنبارك، نُضطهد فنحتمل، يُفتري علينا فنعظ. صرنا كأقذار العالم ووسخ كل شيء إلى الآن&#8221; (١كو ٤ : ١٢ ، ١٤)</p>
<p>ينطبق مثل شجرة التين على المجمع، فقد اكتست الشجرة بأوراق كثيرة، وخدعت صاحبها الذي انتظر بدون جدوى الثمر  المترقب، هكذا في المجمع يعرض معلمو الناموس أقوالهم مثل أوراق الزينة (بلا عمل).</p>
<p>بالتدقيق نجد أن هذا النوع من الأشجار يختلف في ثمره عن غيره من الأشجار، ففي الأنواع الأخرى تظهر الزهرة قبل الثمرة، إذ  تعلن الزهرة عن الثمرة. أما شجرة التين فتحمل ثمرًا من البداية دون ظهور زهور. في الأشجار الأخرى تسقط الزهرة بتولد الثمرة مكانها، أما في هذه الشجرة فتسقط الثمرة الأولى ليحل محلها ثمرة أخرى&#8230; تسقط الثمرة الأولى ويجف الساق الضعيف تاركًا مكانًا لغيره كيف ينتفع بالأكثر من العصارة، ولكن توجد قلة نادرة من الثمار الأولى لا تسقط، لأنها توجد على جزع ساق قصير بين الفروع. تُحفظ هذه الثمار وتنمو كما في أحضان حنان الطبيعة ويكون غذاؤها أوفر ينميها&#8230;</p>
<p>اليهود هم كالثمار الأولى للمجمع، ثمر ضعيف يسقط ليترك مكانًا لثمار جنسنا الذي يبقى إلي الأبد. شعب المجمع الأول لم يكن له عمق لأن أعماله كانت جافة، فلم يستطع أن ينهل من عصارة الحكمة الطبيعيَّة المخصبة، لذا سقط كثمر بلا نفع، فظهر ثمر  شعب الكنيسة الجديد على نفس الأغصان خلال عصارة التقوى القديمة&#8230;</p>
<p>أما أفضل الإسرائيليين الذين حملهم جزع الناموس البالغ إلى الصليب، هؤلاء الذين اصطبغوا في أحشائهم بالعصارتين، فنضجوا&#8230; وقد قيل لهم: &#8220;تدينون أسباط إسرائيل الإثني عشر &#8221; (مت ١٩: ٢٨). ليس هذا بغريبٍ، فآدم وحواء مصدر جبلتنا ومصدر سقوطنا اكتسيا بأوراق هذه الشجرة، واستحقا الطرد من  الفردوس، وإذ لاحظا عريهما اختبئا من وجه الرب حين سمعا صوته ماشيًا في الجنة. هذا يكشف عن اليهودي في الأزمنة الأخيرة عند مجيء الرب والمخلِّص، إذ جاء ليدعوه أدرك أن تجارب إبليس عرته من كل فضيلة، وفي ارتعابه من تبكيت ضميره يحوّر التقوى ويخجل من عدم أمانته ويعرف أنه قد ابتعد عن الرب وحاول أن يستتر بكثرة كلامه بستار انحطاط الأعمال.</p>
<p>لذا فاللذان أخذا أوراق التين دون الثمر طُردا من ملكوت الله، إذ كانا &#8220;نفسًا حيَّة&#8221;، وجاء آدم الثاني يطلب الثمر لا الأوراق، لأنه كان &#8220;روحا محييًا&#8221; (١كو١٥ : ٤٥). فبالروح ننال ثمار الفضيلة، وبه نعبد الرب.</p>
<p>يطلب الرب الثمر، لا لأنه لا يعرف أن التينة بلا ثمر، وإنما ليشير بهذا الرمز أنه جاء وقت جمع الثمار، وأنه لم يأتِ قبل الأوان.</p>
<p>جاء لثلاث سنين، &#8220;هوذا ثلاث سنين آتي أطلب ثمرًا في هذه التينة ولم أجد، اقطعها، لماذا تبطل أيضًا؟&#8221; . لقد جاء لإبراهيم (حيث طلب منه الختان)، وجاء لموسى (مقدَّما له الناموس)، وجاء لمريم (متجسدًا في أحشائها ليهب النعمة). بمعنى آخر جاء كختم للعهد (مع إبراهيم خلال الختان) وفي الناموس وفي الجسد.</p>
<p>ونحن نعرف محبيه ببركاته عليهم، فتارة يطهر، وأخرى يقدّس، وثالثة يبرر. الختان يطهر، والناموس يقدس، والنعمة تبرر&#8230; ومع ذلك لم يستطع الشعب اليهودي أن يتطهر، لأنه أخذ ختان الجسد لا الروح. ولا استطاع أن يتقدس، لأنه جهل قيمة الناموس بتمسكه  بما هو جسدي لا بما هو روحي، مع أن الناموس روحي (رو ٧ : ١٤). ولا استطاع أن يتبرر، إذ لم يتب عن خطاياه فكان جاهلًا بالنعمة&#8230; لهذا صدر الأمر بقطعها، لكن البستاني الصالح تدخل هذا الذي جاء للأمم كما لأهل الختان حتى لا تُقطع الشجرة، إذ وثق أنه يمكن للشعب اليهودي (إن قبل المسيا المخلِّص) أن يخلص، لذا قال: &#8220;أتركها هذه السنة أيضًا فأنقب حولها وأضع زبلًا&#8221;. يضرب بالفأس الرسولي لينقب حولها محطمًا قسوة قلوبهم، ينقب بالسيف ذي الحدين نفوسهم المغلقة بسبب إهمالها لزمان طويل، ينقب (يفتح) قلوبهم فتحيا حواسهم وتتنسم الهواء فلا تختنق جذور الحكمة، ولا تدفن تحت ثقل الطين. يقول: &#8220;أضع زبلًا&#8221;، الذي به تصير الأرض القفر مثمرة، والمستوحشة مزروعة، والمجدبة ذات ثمر. على الزبل جلس أيوب في تجربته فلم ينهزم، وبولس الرسول حسب نفسه نفاية (كزبل) ليربح المسيح (في ٣ : ٨)&#8230;</p>
<p>فالأرض التي تُنقب جيدًا ويُوضع فيها زبل تثمر، إذ يرفع الرب البائس الجالس في التراب، يقيم المسكين من المزبلة (مز ١١٣ : ٧) ليت ما قيل عن اليهود بصفة عامة يكون موضع اعتبارنا، في حياتنا، حتى لا نشغل أرض الكنيسة المخصبة بلا ثمر!<a href="#_ftn1" name="_ftnref1">[5]</a></p>
<h4></h4>
<h3>عظات اباء وخدام معاصرون :</h3>
<h4>هل حياتك مثمرة ؟ يوم الأربعاء من الأسبوع الخامس لقداسة البابا تواضروس الثاني</h4>
<p><strong>(لو ١٢ : ٦ - ٩) سؤال هذا اليوم : هل حياتك مثمرة ؟ أم هي شجرة جدباء لا تعطي ثمرا ؟</strong></p>
<p>إنه سؤال مهم جدا لكل إنسان منا . وتبدأ القصة من إنسان لديه شجرة تين مغروسة في كرمه ، ليست على سطح لأرض ، والمفروض أن تعطي ثمراً ، ويأتي وكله رجاء أن يجد فيها ثمراً ولكنه لا يجد !! فيقول للكرام : &#8221; هوذا ثلاث سنين آتي أطلب ثمراً في هذه الثيئة ولم أجد &#8221; (لو١٣: ٧).</p>
<ul>
<li><strong>+ دلالات المثل :</strong></li>
</ul>
<p>- ثلاث سنين : ترمز إلى :</p>
<p>۱ مراحل حياة الإنسان &#8221; الطفولة  الشباب  الشيخوخة &#8220;، تصور الله يطلب ثمراً في حياة الإنسان وهو صغير ولم يجد ، قد يكون الثمر نتيجة التربية والتعليم والنشأة الصالحة ، لكن لا يجد . ثم يأتي في فترة الشباب والنضوج ويطلب ثمراً ولكنه لا يجد أيضاً ، فيصبر الله عليه حتى يصل إلى فترة الشيخوخة لعله يأتي بثمر ، لكنه أيضاً لا يجد ثمراً لديه . إذا هوذا ثلاث سنين = هوذا ثلاث مراحل في حياة عمر الإنسان .</p>
<p> ٢ كيان الإنسان &#8221; الجسد  النفس  الروح &#8220;، يطلب الله ثمراً ، ولكنه لا يجد ثمراً ، لا في الجسد ، ولا في النفس ، ولا في الروح .  إذا الله يتوقع الثمر في حياتك وينتظره ولم يجده ، ومن باب رحمته يعطيك فرصة جديدة .</p>
<p><strong>- شجرة مغروسة :</strong></p>
<p>أي أنها في تربة جيدة مغروسة في كرم ، والكرم ملك لله ، أنت ملك لله لأن الله هو خالقك وصانعك وجابلك ، وهذا الكلام ينطبق على كل إنسان . فالأسرة هي شجرة مغروسة ، والكنيسة شجرة مغروسة ، الدير شجرة مغروسة &#8230;</p>
<p>- جاء مالكها (السيد المسيح) بنفسه :</p>
<p>جاء يطلب الثمر، &#8221; إلى خاصيه جاء وخاصته لم تقبله &#8221; (يو ١ : ١١)، وشجرة التين ترمز إلى الأمة اليهودية ، وفي أسبوع الآلام نتذكر شجرة التين غير المثمرة في بيت فاجي ( كانت مشهورة بزراعة التين ).</p>
<p>الله يطلب ثمرا في حياتك ، أرجوكم يا أحبائي أن تنظروا لهذا الأمر بعين الجدية ، فإن كانت حياتك بلا ثمر أمام الله يكون الحكم &#8221; هوذا ثلاث سنين بلا ثمر اقطعها .</p>
<p> لم يجد ثمراً رغم أنه كان متوقعاً أن يجد ، فقد مرت سنين عديدة ، وبصورة أخرى لقد أعطى فرصة واثنين وثلاثة ، انتظر كثيراً جداً ولم يجد ثمراً ، الله يصبر ويطيل أناته ، وكأن الإنسان يخيب أمل الله فيه . ليس فقط أن الشجرة لم تُعط ثمراً ، لكنها أيضاً أبطلت الأرض ، فقد عطلت مساحة من الأرض ، فهي لا تفيد شيئاً ، بل أن وجودها ضار ، فهي تأخذ مكان شجرة أخرى مثمرة ، كما أنها تأخذ من قوة الأرض . أحياناً يكون الإنسان في موضع مسئولية لكنه يعطل العمل ، وأحياناً قد يكون خادم يعطيه الله فرصة وأثنتين وثلاثة لكنه لا ينصلح بل يعطل عمل الله بوجوده فقط إنها صارت شجرة قديمة بلا ثمر وبلا نفع وبلا قيمة ، لذلك عندما نقرأ في الإنجيل نجد الحكم شديدا جدا &#8221; اقطعها &#8220;. يا له من قرار صعب .</p>
<p>ويل للإنسان في أي مكان أو زمان إن كانت حياته مثل هذه الشجرة بلا ثمر ، لذلك تعلمنا كنيستنا الجميلة أن تُصلي كل يوم باكراً &#8221; المزمور الأول &#8220;:  &#8221; طوبى للرجل الذي لم يسلك في مشورة الأشرار &#8230; فيكون كشجرة مغروسة عند مجاري المياه ، التي تعطي ثمرها في أوانه وورقها لا يذبل . وكل ما يصنعه ينجح &#8220;، ما أجمل هذه الشجرة العظيمة ! وكأن الكنيسة تقول لك : &#8221; كن مثل هذه الشجرة ، ليست فقط مثمرة ولكنها تُعطي الثمر في حينه &#8220;. ونجد القديس يوحنا المعمدان يخاطب الجموع قائلاً : &#8221; اصنعوا أثماراً تليق بالتوبة &#8221; (مت ٣ : ٨) .</p>
<p>الصوم الكبير زمن توبة ، فهل أنت تائب ؟ ما هي المنفعة إذا كنت تصوم الصوم كله وفى النهاية لا تعطي ثمراً ؟ !</p>
<p>+ تصور مار مرقس وهو يقف أمام المسيح يقدم ثمار كرازته وخدمته ، كم نفس آمنت وكنائس تكرست !</p>
<p>+الأنبا أنطونيوس أب جميع الرهبان يقف ويقدم آباء رهبان عاشوا حياة مقدسة ، وسلموا الحياة الرهبانية التي استلموها من القرن الثالث والرابع الميلادي إلى يومنا هذا ، فما مقدار فرحته وهو واقف أمام المسيح  ؟!</p>
<p> + وهكذا أب أو أم يربون أولادهم في مخافة الله ، عندما يسألهم الله عن الثمر ، كم تكون فرحتهم وفرحة ربنا بهم .</p>
<p>+ أب أسقف ، أب كاهن ، شماس &#8230;. هل عندكم ثمر ؟</p>
<p>الثمر ليس للافتخارأوالتباهير، فهو عمل الله أولا وأخيراً ، فاسمع عروس النشيد تقول : &#8221; تحت ظله اشتهيت أن أجلس ، وثمرته حلوة لحلقي &#8221;  (نش ۲ : ۳). وتحت ظله يقصد به تحت الصليب ، وثمرة الصليب الحلوة لحلق الإنسان هي الكلمة المقدسة ، &#8221; وجدت كلامك كالشهد &#8220;، إنسان يقرأ الإنجيل ويحفظ، يحيا في عمق الكلمة ، يكون في فمه كالشهد &#8230; ثمرة حلوة ، وعندما تقرأ سير القديسين وأقوالهم &#8230; كلها نماذج رائعة لها ثمر نتعلم منها .</p>
<ul>
<li><strong>+ كيف تأتى بثمر ؟</strong></li>
</ul>
<p>رغم كل هذا أجاب الكرام وقال له : &#8221; يا سيد اتركها هذه السنة أيضاً &#8221; (لو ١٣ : ٨)، هنا تأتي شفاعة ربنا يسوع المسيح الكفارية ، وباب الرحمة ويمكن أن نسميها شفاعة الرحمة ، فهو يتشفع من أجلنا ويعطي فرصة رابعة ، هي الفرصة التي يعطيها الله للخطاة ليتوبوا قبل أن ينفذ حكمه العادل . ويستكمل الكرام ويريد أن يضع خطة للسنة الرابعة ويقول : &#8221; حتى أنقب حولها &#8221; (لو ۱۳ : ۸)، بمعنى أنه يريد أن ينظف حولها من الحشائش ، &#8221; ويضع زبلا &#8221; أي الغذاء الروحي من خلال وسائط النعمة ، قد يكون هناك نتيجة ، وأرجوكم يا إخوتي أن تتأملوا في طول أناة الله على خطية الإنسان ، والانتظار ليكون هناك ثمر ، إذا لكي يكون عندك ثمر لا بد من خطوتين :</p>
<p><strong>١- اطرد الخطية :</strong></p>
<p>&#8220;أنقب حولها &#8221;  تعني : أن أطرد الخطية أي التنقية ، لذلك بداية الثمرتأتي من حياة التنقية ، فيها يجلس الإنسان مع ذاته ويكون صريحاً مع نفسه ويترك خطيته الابن الضال صنع هكذا عندما جلس مع ذاته وبكت نفسه وقام وانطلق إلى أبيه ، وأتى بكل شجاعة برغم منظره الخارجي السيئ وقال : &#8221; يا أبي ، أخطأت إلى السماء وقدامك ولست مستحقاً بعد أن أدعى لك ابنا &#8221; (لو ١٥ : ٢١)، وكان متوقعاً ماذا يعمل فيه أبيه ، لكن طلب من أبيه أن يعمل كأجير عنده .</p>
<p>وهكذا صنعت المرأة السامرية تركت جرتها ، فليس بداية للثمر إلا بترك الخطية والنقاوة والتوبة عن الخطية ، ويجب أن يكون كل إنسان صريحاً مع نفسه ، ممكن العالم يزين له أشياء وقد تبدو في عينيه أنها مستقيمة وهي خادعة ، تخدع القلب وتضيع الحياة كلها . إذا لكي تأتي بثمر في حياتك لا بد أن تترك الخطية وتطردها بثقة وشجاعة  وحزم وحسم .</p>
<p><strong>۲- تغذ روحياً من وسائط النعمة :</strong></p>
<p>&#8221; أضع زبلا &#8220;: أي تتغذى روحياً من وسائط النعمة ، تضع الكنيسة ونحن في زمن الصوم الكبير فترة انقطاع عن الطعام ؛ لأن الانقطاع يؤثر على الإنسان ويذكره بضعفاته الجسدية والعقلية والذهنية ، بخطاياه التي يصنعها بإرادة أو بغير إرادة ، بخطاياه الخفية والظاهرة ، التي يفعلها بمعرفة أو بغير معرفة ، وتحاول الكنيسة أن توفر للإنسان غذاء روحياً لذيذاً كالقداسات المتأخرة ، وألحان بمعاني جميلة ، وتقدم ميطانيات ، وقراءات لنبوات من العهد القديم ، وتصوم صوماً نباتياً ، وتقرأ قراءات روحية ، وتعيش حياة هادئة تغذي بها شجرة حياتك لكي ما يأتي المسيح ويجد فيها ثمرا.</p>
<p>ان صنعت ثمراً من بركة الله ، وإذا لم تصنع اقطعها . فالأشجار العقيمة يجب أن تقطع وتلقى في النار .</p>
<p>الخلاصة أن من يصر على عدم الإثمار مصيره القطع والهلاك ، ولا بد أن تنتبه أن بعض الأشجار عبارة عن شوك وحسك ، وبعض الأشجار ثمارها جيدة ومفيدة ومغذية ومبهجة .</p>
<p>كلمة ثمر تذكرنا بالآية : &#8221; أما ثمر الروح فهو : محبة فرح سلام &#8230;&#8221; (غلا ٥ : ٢٢)، فانظر إلى نفسك وافحصها هل أنت شجرة بلا ثمر ؟ ماذا لو جاء المسيح وطلب منك أثمارك ، ماذا تقدم له ؟</p>
<p>قف أمام الله وقل له : &#8221; أشكرك يا رب لأنك صبرت علي وأعطيتني فرصة ثانية ، ساعدني لآتي بالثمر الذي تنتظره مني ، والذي يفرح قلبك الإلهي &#8220;. انتبه أيها الحبيب ولا تنشغل بأمور لا قيمة لها .</p>
<p>لإلهنا المجد الدائم إلى الأبد. آمين .<a href="#_ftn1" name="_ftnref1">[6]</a></p>
<h5></h5>
<h4></h4>
<h4>مثل شجرة التين للمتنيح القمص لوقا سيداروس</h4>
<p>&#8221; وقال هذا المثل : كانت لواحد شجرةُ تين مغروسةُ فى كرمه ، فأتى يطلب فيها ثمراً ولم يجد فقال للكرّام : هوذا ثلاث سنين آتى أطلب ثمراً فى هذه التينة ولم أجد اقطعها إ لماذا تُبطل الأرض أيضاً ؟ فأجاب وقال له : ياسيد ، اترُكها هذه السنة أيضاً ، حتى أنقب حولها وأضع زبلاً فان صنعت ثمراً ، والا ففيما بعد تقطعُها &#8221; (لو ١٣: ٦- ٩)</p>
<p><strong>المناسبة التى قيل فيها المثل :</strong></p>
<p>قال الرب هذا المثل تعقيباً على ما نقله اليه قوم من أخبار عن الجليليين الذين خلط بيلاطس دمهم بذبائحهم ، ويبدو أن آخرين أيضاً أخبروا عن أولئك الثمانية عشر الذين سقط عليهم البرج فى سلوام فقتلهم وهكذا تدور أحاديث الناس وهكذا يتناقلون الأخبار كل يوم ، ولا يخلو يوم من حوادث ، ولا تقف الكوارث عند حد ، بل ما دام العالم موجوداً بهيأته الحاضرة ، خاضعاً للبطل ليس عن طوع بل أن الخليقة كلها تئن وتتوجع مترقبة كمال الزمان حين تنعتق الطبيعة من الفساد حين تصل الى زمان استعلان أبناء الله وكمال الخلاص</p>
<p>الى ذلك الحين العتيد أن يكون ، ستظل هناك حروب وأخبار حروب ومجاعات وأوبئة ، وحوادث قد تبدو مُفزعة ومُفجعة أو مُتعجبة فى زمانها وكأنها غريبة من غرائب الدنيا غير ان واقع هذا العالم الذى نعيشه أثبت أنه لا نهاية لمفاجأته ولا غريب تحت الشمس بل زمان مضى وزمان يجىء ، وأحداث تنسخها أحداث أشد وأقوى ومفارقات ومآسى الى آخر هذه الأمور</p>
<p>ولكن الشىء المستغرب حقاً هو موقف الانسان من هذه الأمور فى كل زمان الناس سريعاً ما تنقل الأخبار ، تسردها وتتحدث بها ويتناقلها انسان عن آخر وعبارات أسى وكلمات فيها أنين ، وما يكاد الانسان يسمع عن أخبار مُروعه حتى ينقلها بدوره الى آخرين فلا يستطيع أن يحتفظ بها ، وكأنها شىء يثقل كاهله ويؤلمه</p>
<p>ومن السلوك الانسانى الطبيعى ، أن الناس سريعاً ما يتأثرون بهذه الحوادث تأثيراً وقتياً ينتهى عند سرد الأحداث والانفعال لها انفعالاً كلامياً ، ثم ينخرطون فى خضم الحياة التى يحيوها ، كل واحد فى مشاغله واهتماماته اليومية بالطريقة التى يعيش بها</p>
<p>وقليلاً جداً ما غيرت هذه القصص والأحداث التى تُحيط بالانسان التى عنها أو يَراها ، قليلاً ما غيرت من فكره أو من سلوكه أو حولت من طريقته فى الحياة ، وكأن هذه الأحداث التى سمع عنها ، كأنها على هامش الحياة ، هى تمس أشخاص آخرين ولكنها لا تمس حياته الشخصية لا من قريب ولا من بعيد</p>
<p>وهكذا حينما انحصر الانسان فى ذاته وتحوصل فى أنانيته لم يعد يهز كيانه سوى الأمور التى تمسه هو شخصياً فى ذاته ، وهذا هو واقع الانسان الذى ذكره الشيطان أمام الله حينما اشتكى على أيوب البار قائلاً : &#8221; جلدُ بجلد ، وكل ما للانسان يُعطيه لأجل نفسه &#8221; ( أى ٢ : ٤)</p>
<p><strong>سؤال : تُرى لماذا يسمح الله أن تمُر مثل هذه الأحداث ؟</strong></p>
<p>ان فى الحياة الشخصية لكل واحد خبرات وخبرات كم من أحداث مرت بنا ، كم من حوادث رأتها العين ، كم من نكبات مؤسفة سمع عنها الانسان وقرأ عنها أيام وأيام ان عالم اليوم يختلف كثيراً عنه بالأمس ، فعالم اليوم صغير صغير جداً ، ما يحدث فى أطراف الأرض ، تَسمع عنه وتراه فى ذات اليوم ، وسائل الاعلام المختلفة تَنقل لك كل ما يَجرى تحت السماء</p>
<p>ولا تخلو نشرة أخبار واحدة من ذكر حوادث طبيعية فى مناطق متفرقة من العالم يروح ضحيتها عشرات وربما مئات بل أيضاً حروب وانقسامات ، وارهاب وتخريب ، وأحداث دامية ، ومأساوية شىء رهيب حقاً</p>
<p><strong>ولكن ما هو موقفنا ازاء ما يدور حولنا ؟</strong></p>
<p>نفس القصة متكررة ، نتناقل الأخبار ونُبدى دهشتنا أو استياؤنا أو حزننا أو رهبتنا الى آخر هذه الانفعالات الوقتية وهذا السلوك عينه ، نعيشه كلما عَرض لنا أن نسمع عن شىء غير عادى يَجرى فى عالمنا</p>
<p>ولكن الشىء الذى نبه الرب يسوع اليه ذهننا ، هو أنه حوّل مجرى كلام أولئك القوم الذين اخبروه ونقلوا اليه الأخبار ، حوّل الحديث عن الآخرين والاهتمام السطحى والشكلى بالأخبار الخارجية الى حديث يخصهم هم أنفسهم</p>
<p>وحوّل دفة الحديث من أخبار وحوادث الى حديث عن التوبة وخلاص النفس ، واخرج من مادة الحديث هذه ومن الحوادث درساً للرجوع الى الله كيف كان ذلك ؟</p>
<p>سألهم الرب : أتظنون أن هؤلاء الجليليين كانوا خطاة أكثر من كل الجليليين لأنهم كابدوا مثل هذا ؟</p>
<p>ولم ينتظر الرب اجابة من اليهود بل بادر هو بالاجابة قائلاً : كلا أقول لكم بل ان لم تتوبوا فجميعكم كذلك تهلكون ، وهكذا كرر الرب قوله بالنسبة للذين سقط عليهم البُرج مكرراً عبارته لسامعيه ان لم تتوبوا فجميعكم كذلك تهلكون</p>
<p>فالفكر اليهودى ، الفريسى الذى يميل الى تبرير الذات ودينونة الآخرين واحتقارهم ، كان يقول ان هؤلاء الجليليين ما كابدوا هذا العذاب الا لكونهم أكثر خطية وأحق بالعقاب ، وهكذا كان الشيطان يَعمل فى قلب الناس ، يشوه الحق ويجرف الانسان بعيداً عن خلاصه والاهتمام به</p>
<p>تماماً كما فعل الفريسى حينما برر ذاته على حساب العشار ، استذنب العشار ودانه لكى يتزكى هو فى عينى نفسه ، فنزل العشار الى بيته مبرراً دون ذاك</p>
<p>وكما جال أيضاً فى خواطر التلاميذ حينما سألوا الرب قائلين : &#8221; من أخطأ : هذا أم أبواه حتى وُلد أعمى ؟ &#8221; فأجابهم الرب يسوع قائلاً : لا هذا أخطأ ولا أبواه حتى ولد أعمى ، ولكن لتظهر أعمال الله فيه</p>
<p>على هذا كشف الرب أعماق القلوب الفريسية قائلاً : أتظنون أن هؤلاء الجليليين كانوا خطاة أكثر كلا أقول لكم هل كانت خطيتهم أكثر من باقى الجليليين ؟ كلا أقول لكم</p>
<p> وبالأولى هل كانت خطاياهم أكثر من خطاياكم أنتم ؟ كلا أقول لكم</p>
<p>ما كان مستحيلاً على القلب الفريسي ، أن يضع نفسه فى مصاف الخُطاة جعله الرب سهلاً وميسوراً حينما يتنقى الفكر وتنكشف خطاياه فى نور وجه يسوع المسيح</p>
<p>حينما يعاقب الآخرون ، يقف أصحاب القلوب الفريسية موقف الدينونة وتحليل الأخبار بحسب هوى نفوسهم ، بينما لسان حال القديسين يقول : &#8221; لولا أن رب الجنود أبقى لنا بقية صغيرة لصرنا مثل سدوم وشابهنا عمورة &#8220;</p>
<p>فالقديسون يميلون الى تبرير الآخرين وسريعاً ما يلتمسون لهم العذر ، أما أنفسهم فيرجعون بالملامة على ذواتهم فى كل شىء وهذا هو الفرق الجوهرى الداخلى الذى تكشف عنه التصرفات الخارجية</p>
<p><strong>دعوة الى التوبة :</strong></p>
<p>ان لم تتوبوا فجميعكم كذلك تهلكون :</p>
<p>التوبة هى تغيير الفكر وتغيير الحياة ، وَعظ النفس وتبكيتها ومعرفة خطورة حالتها ان هى أكملت مسيرتها فى حياة التهاون والبُعد عن الله ، وليس أقدر من الحوادث المروعة التى تهز الكيان والكوارث والفواجع ، ليس شىء أقدر منها على تحويل مسار النفس ومراجعتها وردها الى سبل البر</p>
<p>فان لم تتب النفس ولم تتعظ من الأمور غير الطبيعية ، فماذا يكون مصيرها ؟</p>
<p>وكأن الفُرص التى تسوقها النعمة فيما يرى الانسان ويسمع ، كأنها مُهيأة من الروح واحدة بعد الأخرى كمداخل للتوبة وكتنبيهات للنفس الغافلة لعلها تفيق من غفلتها والدارس فى سير القديسين يدرك كم كان آباؤنا يغتصبون فرص التوبة ويستجيبون لأول نداء لتحرك النعمة فى داخل قلوبهم</p>
<p>فها القديس أنبا بولا أول السواح ، يُحركه مشهد جنازة أحد العظماء ، لكى يلقى عنه كل اهتمامات هذا العالم الزائل ويجول فى البرارى والقفار محبه فى الملك المسيح وغنى ميراث القديسين</p>
<p>وكم من ألوف تغيرت حياتهم مما رأوا فى الحروب أو الكوارث الطبيعية اذ تحققوا زوال هذا العالم وكل ما فيه</p>
<p>هكذا حوّل الرب الحديث من كونه سرداً للحوادث الى دافع للتوبة وتغيير الحياة والى مراجعة النفس قياساً الى الحوادث وأن الجميع تحت الحكم ، وليس من ينجى نفسه ، لأن أى انسان يحيا ولا يرى الموت</p>
<ul>
<li><strong>مثل شجرة التين :</strong></li>
</ul>
<p>تبع الرب حديثه السابق بكلمات هذا المثل الحى والواقعى معاً قائلاً : &#8221; كانت لواحد شجرة تين مغروسة فى كرمه ، فأتى يطلب فيها ثمراً ولم يجد &#8220;</p>
<p>ومن سياق حديث الرب ندرك أن التوبة التى كان يحدث الجميع عنها هى الثمرة المشتهاة فى عينى الرب ، ثمرة الحياة التى أعطاها والغرس الذى غرسته يمينه</p>
<p>وبادىء ذى بدء لابد لنا أن نُدرك القصد الالهى من وجودنا فالشجرة مغروسة لكى تثمر ، فان كنا نحن عمله وغرس يمينه فغاية وجودنا هى أن نثمر لله</p>
<p>وثمر الروح هو محبة ، فرح ، سلام ، طول أناة ، لطف ، صلاح ، ايمان ، وداعة ، تعفف</p>
<p>وهذا الثمر فينا يصير دليل شركتنا فى الروح وثباتنا فى المسيح ، والله يأتى الينا يطلب ثمراً فى أوانه بحسب الزمان الذى يعطيه هو ، الذى ينبغى أن تنضج فيه الثمار ، وبدون هذا الثمر لا يمكن ارضاؤه وهذا الثمر يُفرح قلب الله</p>
<p>والرب يسوع قال : ان الشجرة مغروسة فى كرمه والكرمة المشتهاة هى الكنيسة التى هى جسده</p>
<p>ونحن مغروسون فيه ، بالمعمودية ، صرنا أغصان فى الكرمة الحقيقية ، وكل غصن لا يأتى بثمر ينزعه وكل ما يأتى بثمر يُنقيه ليأتى بثمر أكثر</p>
<p>+ تذكر كيف لعن يسوع شجرة التين التى التى لم يكن فيها ثمر ، فيبست من أصولها ، وقال لها لا يأكل أحد منك ثمر فيما بعد ، وهى ان كانت رمزاً لحياة المظاهر الكاذبة ، وشكل التقوى بدون ثمر ، صار للأحياء بالمسيح الثابتين فيه قوة لرفض الحياة المظهرية وكشف أغوارها ، اذ لم يعد يستهويهم زيف الأوراق وحياة القشور الكاذبة فلا يمدوا أيديهم ليأكلوا من زيف ثمرها فيما بعد</p>
<p>+ تأمل لُطف الله وطول أناته ، فهو يطلب الثمر مرات متكررة وفى سنوات متتالية متأنياً عليها انه بطىء الغضب ، وكثير الرحمة ، يَصبر على التينة لعلها تنضج ثمراً ، ويعطيها رجاء ، واذ فشلت فى انضاج الثمر ، أعطاها فرصة أخرى وثالثة</p>
<p>ولكن ليس هكذا يصير جزاء لُطف الله وامهاله وطول أناته كما يقول الرسول ان عدم استغلال طول أناه الله سمّاه الرسول بولس استهانه به &#8221; أم تستهين بغنى لطفه وامهاله وطول أناته ، غير عالم أن لُطف الله انما يقتادك الى التوبة ؟ &#8221; (رو ٢ : ٤)</p>
<p>فهو ان أعطى فُرصاً متكررة فانما تكون غايتها أن تتغير النفس التائهة وترجع الى ذاتها وتراجع حساباتها وتقدم توبة الى الرب وتعطى ثمر الحياة الأبدية</p>
<p>+ يقول بعض الآباء أن الثلاث سنوات التى يطلب فيها الرب ثمره هى مراحل الانسان فى طفولته وشبابه وشيخوخته ، فالله يمهل الانسان ان ضاعت منه فرص التوبة والحياة لله فى مراحلة ، فانه يعوضه اياها بأخرى عوض السنين التى أكلها الجراد</p>
<p>لا تظن يا هذا أن قلع الشجرة يشوبه شىء من التسرع أو عدم الصبر حاشا فكل أعماله بحكمة صنعت وارادته صالحة دائماً شفاعة الكرّام :</p>
<p>+ يبدو واضحاً من كلام الرب أن الشجرة عديمة الثمر صارت تُبطل الأرض ، ليس فقط أنها لا تنضج ثمراً بل صار لوجودها أضراراً سلبية ، صارت تبطل الأرض</p>
<p>فهى مغروسة فيها محسوبة عليها ، تمتص قوتها وتستهلك عافيتها ، فلو لم توجد لتركت المجال لغيرها ينمو ويستفيد ، وهذا أمر يحتاج الى مراجعة للنفس ، ومراجعة للمواقف فليس صحيحاً أن يظن انسان أنه لا يضر أحداً ولا يؤذى أحداً فهو من الناحية السلبية والخطايا نحو الآخرين وايذائهم يقف موقف الحياد كشجرة لا تعطى ثمراً وبهذا يكتفى الانسان ويستريح ضميره ، مثل الفريسى الذى افتخر أنه ليس مثل سائر الناس الخاطئين الظالمين الزناة</p>
<p>+ الواقع أن هذا الفكر خاطىء من أساسه ، ربما يريح ضمير المتوانين ان كل شجرة مغروسة فى حقل الكنيسة ، تشرب تعاليمها وتمتص عصارة حياة الفرح فيها ولا تؤتى ثمر الروح من المحبة والفرح والسلام واللطف والوداعة والصلاح والتعفف فانها تكون محسوبة انها تبطل أرض الكنيسة المُعتبرة أنها الأرض الجيدة والجديدة فى آن واحد</p>
<p>قال الرب عن التينة ، موجهاً كلامه للكرام اقطعها لماذا تبطل الأرض ؟ ولكن يا للصوت الرحيم الشفيع الذى نطق به الكرام المبارك يستعطف صاحب الكرم قائلاً : اتركها هذه السنة أيضاً حتى أنقب وأضع زبلاً فان صنعت ثمراً والا  ففيما بعد  تقطعها</p>
<p>+ أعطى الرب فرصة ثلاث سنين متتالية للتينة ، ملتمساً لها الأعذار بلا عقوبة ، مع طول أناة الله ولطفه وامهاله ، برجاء حى ، ولكن التينة كانت فى كل فرصة ثمر تبدو مُخيبة للآمال ، ربما اكتفت بالورق ، وغرها المظهر الكاذب</p>
<p>ولكن ها فرصة أخيرة تأتى على غير التوقع ، فان سكن الانسان الى نفسه بهدوء يشعر يقيناً أن معاملات الله معه كانت على هذا المستوى العجيب كم من مرة تجددت لنا فرصة الحياة ؟ إ</p>
<p>    مرات كثيرة ننجو من موت مُحقق أنها فرص أخرى لعلنا ننضج ثمراً للروح لاقتناء النفس للخلاص</p>
<p>    كم من مرة تهيىء لنا النعمة فرصاً كأنها جديدة بعد انتهاء الفرص التى أتت متكررة وكان يظن أنه لا وجود لفرص أخرى</p>
<p>    كم من مرة يستجيب الرب لشفاعة تصرخ من أجلنا فيبقى لنا بقية بعد أن نكون مستوجبين حكم الدينونة</p>
<p>+ انظر كيف وقف موسى – كرمز للمسيح – موقف الكرام متوسلا الى الله من جهة اسرائيل حين كاد الغضب الالهى أن يفنيهم بسبب قلة ايمانهم وغلاظة قلوبهم ، حين قال الله : &#8221; اتركنى فأبيدهم وأمحو اسمهم من تحت السماء ، وأجعلك شعباً أعظم &#8221; (تث ٩ : ١٤)</p>
<p>كان الله قد أوشك أن يقطع هذه التينة ، ويهلكها لولا هذا الشفيع الواقف يتوسل لدى الله بسؤال الصلاة قائلاً : &#8221; وصليت للرب وقلت يا سيدى الرب لاتهلك شعبك وميراثك &#8221;  حتى بلغت به الدالة التى ما بعدها دالة اذ يقول : &#8221; ان غفرت خطيتهم والا فامح اسمى من كتابك الذى كتبت &#8220;</p>
<p>الى هذه الدرجة يقف القديسون ، الذين ائتمنهم على  كرمه وسماهم أحباءه ، فموسى دُعى كليم الله ، وابراهيم أبونا دُعى خليله ، وعاموس النبى يقول : ان الرب لا يصنع أمراً الا ويُرى عبيده الأنبياء ما لابد أن يكون ، بل كُتب فى المزمور أنه يصنع ارادة خائفيه</p>
<p>فان كان قد صار هكذا فى العهد القديم حيث الظلال والرموز فكم يكون الحال فى الحياة الجديدة والخليقة الجديدة</p>
<p>لقد صار الكرام هو شخص ربنا يسوع المسيح نفسه ، وصار وسيطاً لدى الآب ودمه الذى بذله عنا صار كفّارة لخطايانا ، ليس بتوسلات كما فى العهد القديم ، بل بقوة الدم الالهى وفعل التطهير يقدس الذين يتقدمون به إلي الله كل حين</p>
<p> + وعلى هذا أيضاً صار فى الكنيسة ، فى الرعاة والقديسين ، الذين لهم روح المسيح ، وميراث الرسل الأطهار ، صار لهم به جراءة وقدوماً لدى الآب ، ودخول الى ما داخل الحجاب ، يطلبون ويتوسلون والرب يستجيب ويعطى فرصاً جديدة لشجرة التين ، لعلها تصنع ثمراً</p>
<p>قال الكرام ، انه من باب العناية بالتينة ، أنه مزمع أن ينقب حولها ويضع زبلاً انه عمل مكثف وجهد مُركز ، عناية خاصة تحتاجها هذه الشجرة فى هذه المرحلة الأخيرة</p>
<p>يا ليت الرعاة والمؤتمنين على خدمة النفوس تلهبهم هذه الغيرة لبذل قصارى الجهد نحو هذه العينات التى أنقذتها شفاعة الكرّام وتوسلات الصلاة من أن تكابد المصير المحتوم وحفظتها حتى هذه الساعة معدودة من جملة الأحياء</p>
<p>أين العرق الكرازى والدأب والسهر ، فى الحفر والتنقيب حول الشُجيرات التى كادت تخنقها أشواك الخطية أو امتصت الحشائش عُصارة حياتها فحرمتها من ثمرة مشتهاه</p>
<p>أين سواعد الخُدام ، تقبل التعب بفرح حتى تتعمق حول جذور هذه الشجرة لتتعرف بعمق على المشكلات الخانقة والقاتلة للحياة  الروحية</p>
<p> + أين سقى الروح ودسم النعمة الذى حينما يُحيط بالنفس فانه يحيى موتها ويُعش حياتها ويجعلها تنمو وتثمر لله</p>
<p>+ لقد صادف سؤال الكرام وتوسله  قبولاً حسناً لدى مخلصنا الله ، فهو لا يشاء موت الخاطىء مثلما يرجع وتحيا نفسه ، قصبة مرضوضة لا يقصف وفتيلة مدخنة لا يطفىء ، فتوسلات القديسين ودموع الكرامين وصراخهم &#8221; اتركها هذه السنة أيضاً هذه الطلبة على وجه الخصوص ، يستجيب لها ويفسح مجالاً لعمل رحمته وطول أناته ويظهر لطفه وامهاله</p>
<p>وكم من مرة تكلم الرب على شعب بالهلاك والقلع والهدم ، ثم صار هذا بمثابة انذار ، فقام الشعب ورجعوا اليه بالتوبة والدموع ورجع كل واحد عن طريقه الردية ، فعاد الرب وندم عن الشر وبّدل العقوبة خلاصاً وها قصة أهل نينوى تقف شاهدة على رحمة الله غير المحدودة ولجة حبه غير الموصوفة</p>
<p>على هذا نستطيع أن نستثمر هذا الموقف لحساب توبتنا اذ نحسب أن كلمات التوبيخ والتأديب وكلمات الانذار الشديدة ، هى شفاء النفس المتوانية ونثق فى الحب اللانهائى الذى لا يتركنا الى النهاية بل ان كل من يحبه يؤدبه ويوبخه</p>
<p> + كان القديس يوحنا المعمدان ، المُتَرجم اسمه الله حنان ، يكرز ويُبشر بحنان الهى لرد قلوب العُصاة ولكن كانت الكلمات حازمة وحاسمة ، وضعت الفأس على أصل الشجرة &#8221; كل شجرة لا تصنع ثمراً تُقطع وتُلقى فى النار &#8220;هذه كلمات حنان ولطف الهى وان اتخذت طبع روح ايليا النارى وقوته لكى لا تعرج النفس بين الفرقتين بل تصير كلها للرب ولمسيحه</p>
<p>+ ليحسب كل واحد نفسه أنه يعيش هذه السنة الأخيرة ، وأنه ان كان له بعد بقية من أيام ، فليس هذا عن استحقاق أو كأن له مُتسع من الفرص ، وأن ما مضى من زمن كان مليئاً من ثمار بل على العكس ، كان الرسل الأطهار يكررون &#8221; أنها الساعة الأخيرة لنسهر ونصح &#8220;خلاصنا الآن أقرب مما كنا حين آمنا أنسى ما هو وراء وأمتد الى ما هو قدام لست أنى قد نلت أو صرت كاملاً أسعى لعلى أدرك الذى من أجله أدركنى المسيح وكان احساسهم يتزايد بقرب مجىء الرب وانتهاء الزمان</p>
<p>وها الكنيسة تُعلمنا أن نصلى فى ساعة الغروب ، أنه قد مضى منا النهار وفات والآن أتكل على غنى رحمتك أى أنه ما بقى من الزمن ليس سوى الساعة الحادية عشرة كفرصة أخيرة للتوبة والرجوع.</p>
<p>فلنحسبها اذن ساعة خلاص ووقت مقبول ونجتهد بالصوم والصلاة والسهر وتقديس الحياة لعلنا نفوز برحمة ، فتعمل النعمة فينا عملها وتثمر فينا فنُفرح قلب الله<a href="#_ftn1" name="_ftnref1">[7]</a></p>
<hr />
<h3>المراجع</h3>
<p><a href="#_ftnref1" name="_ftn1">[1]</a> <sup>- </sup><sup>تفسير نشيد الأنشاد - ص 60 – القمص تادرس يعقوب ملطي.</sup></p>
<p><a href="#_ftnref2" name="_ftn2">[2]</a> <sup>- </sup><sup>مجلة مرقس - الإ</sup><sup>فتتاحية - عدد يونية 1986.</sup></p>
<p><a href="#_ftnref3" name="_ftn3">[3]</a> <sup>- </sup><sup>الإفخارستيا سر الملكوت – الأب </sup><sup>الكسندر شميمن.</sup></p>
<p><a href="#_ftnref1" name="_ftn1">[4]</a> - كتاب تفسير إنجيل لوقا للقديس كيرلس الأسكندري عظة ٩٦ صفحة ٤٦٠ - ترجمة دكتور نصحي عبد الشهيد</p>
<p><a href="#_ftnref1" name="_ftn1">[5]</a> - تفسير إنجيل لوقا الإصحاح الثالث عشر - القمص تادرس يعقوب ملطي</p>
<p><a href="#_ftnref1" name="_ftn1">[6]</a> - كتاب إختبرني يا الله صفحة ٢٦٣ - قداسة البابا تواضروس الثاني</p>
<p><a href="#_ftnref1" name="_ftn1">[7]</a> - وكلمهم أيضاً بأمثال ( صفحة ٢٢٠ - ٢٣٦ ) - القمص لوقا سيداروس</p>

      {% endcreateArticleAccordions %}
    </section>
  {% endblock %}
