---
layout: 'layouts/reading.html'
title: 'قراءات يوم الخميس من الإسبوع الخامس'
permalink: great-lent/5-4.html
---
  {% block content %}
    <section id="readings">
      <ul>
      {% if 'null' != 'null' %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">العشية</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeVespers '' '' %}
          </div>
        </div>
      </li>
      {% endif %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">باكر</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeMatins '19.86:14-14' '42.9:37-43' '23.42:5-16@20.4:20-27@18.29:2-20@9.3:1-20' %}
          </div>
        </div>
      </li>
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <h3 class="flex items-center justify-between">
            <span class="kufi">القداس</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </h3>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeLitugy '46.10:14-33*@+46.11:1' '60.1:2-8' '44.21:5-14' '19.86:17-17' '42.13:10-17' %}
          </div>
        </div>
      </li>
        </ul>
    </section>
    <section id="article">
      <h3 class="mt-8 mb-4 heading-explain">شرح القراءات</h3>
      {% createArticleAccordions firstName, lastName %}
        <h4></h4>
<p>&#8220;إِنِّي أُرِيدُ رَحْمَةً لاَ ذَبِيحَةً، فَإِنَّ ابْنَ الإِنْسَانِ هُوَ رَبُّ السَّبْتِ أَيْضًا&#8221; (مت١٢: ٧، ٨)</p>
<p>[أعطيتني الناموس عوناً أنت الذي خدمت لي الخلاص لما خالفت ناموسك] (القدّاس الغريغوري).</p>
<p>[أنرني يا رب بنور وجهك وأمنحني حكمتك ليكون قضائي كمثل مشيئتك وأحكامك الصادرة بكمال حكمتك الإلهية لا كمثل أحكام البشر المملوءة خداعاً وغدراً] (القديس أغسطينوس)<a href="#_ftn1" name="_ftnref1">[1]</a></p>
<h3>شواهد القراءات</h3>
<p>(إش٤٢: ٥- ١٦)، (أم٤: ٢٠- ٢٧)، (أي٢٩: ٢- ٢٠)، (مز٨٥: ١٣)، (لو٩: ٣٧- ٤٣)، (١كو١٠: ١٤- الخ، ص ١١: ١)، (١بط ١: ٢- ٨)، (أع٢١: ٥- ١٤)، (مز٨٥: ١٦، ١٧)،  (لو١٣: ١٠- ١٧).</p>
<h3>شرح القراءات</h3>
<h4><strong>تتكلّم قراءات هذا اليوم</strong> عن ابن الله واضع الناموس ورب السبت.</h4>
<p><strong>يبدأ سفر أشعياء</strong> بإيضاح جوهر الناموس راحة البشر وشفائهم الذي يؤول لمجد الله.</p>
<p>&#8220;أنا الرب الإله دعوتك بالبر فأمسك بيدك وأقويك وجعلتك عهداً للشعب ونوراً للأمم لكي تفتح عيون العمي وتخرج المأسورين من الحبس والجالسين في الظلمة من بيت السجن &#8230; وليرنم سكان الصخرة وليهتفوا من رؤوس الجبال ليؤدوا المجد لله ويخبروا بحمده في الأمم&#8221;.</p>
<p><strong>وفي أمثال سليمان</strong> هدف الوصية حياة الإنسان وتقويم طرقه ومسالكه.</p>
<p>&#8220;إحفظها في قلبك فإنها حياة للذين يصادفونها وصحة للجسد كله، فإن الرب عالم بالطرق التي عن اليمين أما الطرق التي عن الشمال فهى معوجة انه هو يقوم مناهجك&#8221;.</p>
<p><strong>ويعاتب أيوب الله</strong> أنه كان يعيش جوهر الوصية وروحها لأجل رحمة الآخرين.</p>
<p>&#8220;لأني كنت أنجي البائس من يد القوي واليتيم الذي لا معين له أعنته فتحل على بركة الهالك فم الأرملة يباركني لبست البر فكساني كجبة كان عدلي كنت عيناً للعمي ورجلاً للعرج وكنت أباً للمساكين استقصي دعوى من لم أعرفه&#8221;.</p>
<p><strong>وفي مزمور باكر</strong> يكشف عن حروب ومقاومات مخالفي روح الناموس وجوهره.</p>
<p>&#8220;اللهم إن مخالفي الناموس قد قاموا علىَّ ومجمع الأعزاء طلب نفسي ولم يسبقوا فيجعلوك أمامهم&#8221;.</p>
<p><strong>ويوضّح إنجيل باكر</strong> سلطان وعظمة واضع الناموس.</p>
<p>&#8220;وفيما هو يقدمه إليه صرعه الشيطان وأزعجه فانتهر يسوع الروح النجس وشفى الصبي وسلمه إلى أبيه فتعجبوا جميعاً من عظمة الله&#8221;.</p>
<p><strong>وفي البولس</strong> يحذّر من الإشتراك في موائد الشر وعبادة الأصنام ورغم أن كل شئ يحل للإنسان إِلَّا أنه يختار ماهو مناسب له وما يبنيه.</p>
<p>&#8220;فلا أريد أن تكونوا شركاء للشياطين انكم لا تستطيعون أن تشربوا كأس الرب وكأس الشياطين، كل الأشياء تحل لي ولكن ليس كل الأشياء توافق، فاعملوا كل شئ لمجد الله كونوا بلا معثرة لليهود ولليونانيين ولكنيسة الله&#8221;.</p>
<p><strong>وفي الكاثوليكون</strong> عن بركات ومجد وصية وناموس النعمة الولادة الثانية والميراث السماوي وحراسة القوة الإلهية والإيمان الكريم الأثمن من الذهب والفرح المجيد.</p>
<p>&#8220;ولدنا ثانية لرجاء حيّ، لميراث لا يفنى ولا يتدنس ولا يضمحل، لكي يكون اختبار ايمانكم كريماً أفضل من الذهب الفاني، فتبتهجون بفرح لا ينطق به ومجيد&#8221;.</p>
<p><strong>وفي الإبركسيس</strong> يظهر القدّيس بولس قمّة الإلتزام بالوصيّة تسليم المشيئة بالكامل لله.</p>
<p>&#8220;حينئذ أجاب بولس ماذا تفعلون إذ تبكون وتكسرون قلبي لأني مستعد ليس أن أربط فقط بل أن أموت أيضاً في أورشليم لأجل اسم الرب يسوع ولما لم يقنع سكتنا قائلين لتكن مشيئة الرب&#8221;.</p>
<p><strong>وفي مزمور القدّاس</strong> عن الآية الصالحة حضور الله وسط شعبه.</p>
<p>&#8220;اصنع معي آية صالحة فلير الذين يشنوني وليخزوا لأنك أنت يا رب أعنتني وعزيتني&#8221;.</p>
<p><strong>وفي إنجيل القدّاس</strong> يظهر ابن الله واضع السبت معناه وجوهره.</p>
<p>&#8220;أجابه الرب وقال يا مراءون أليس كل واحد منكم يحلّ ثوره أو حماره في السبت من المزود ويأخذه فيسقيه وهذه وهى ابنة ابراهيم قد ربطها الشيطان منذ ثماني عشرة سنة أما كان ينبغي أن تُحلّ من هذا الرباط في يوم السبت&#8221;.</p>
<h3>ملخّص القراءات</h3>
<table width="503">
<tbody>
<tr>
<td width="94">سفر أشعياء وسفر أيوب</td>
<td width="408">جوهر الناموس والوصيّة راحة وشفاء الإنسان.</td>
</tr>
<tr>
<td width="94">سفر الأمثال</td>
<td width="408">هدف الوصيّة تقويم طرق الإنسان.</td>
</tr>
<tr>
<td width="94">مزمور باكر</td>
<td width="408">حروب ومقاومات مخالفي الناموس.</td>
</tr>
<tr>
<td width="94">إنجيل باكر</td>
<td width="408">سلطان واضع الناموس على الشياطين.</td>
</tr>
<tr>
<td width="94">البولس</td>
<td width="408">جوهر الناموس التحفُّظ من العثرات.</td>
</tr>
<tr>
<td width="94">الكاثوليكون</td>
<td width="408">الميراث الأبدي لحافظي الوصيّة.</td>
</tr>
<tr>
<td width="94">الإبركسيس</td>
<td width="408">التسليم الكامل لمشيئة الله حتى الموت يعلن قمّة حفظ الوصيّة.</td>
</tr>
<tr>
<td width="94">مزمور القدّاس</td>
<td width="408">الآية والمعجزة هى حضور الله وسط شعبه.</td>
</tr>
<tr>
<td width="94">إنجيل القدّاس</td>
<td width="408">إبن الإنسان هو رب السبت وواضعه.</td>
</tr>
</tbody>
</table>
<p></p>
<h3>الكنيسة في قراءات اليوم</h3>
<table width="503">
<tbody>
<tr>
<td width="94">البولس</td>
<td width="408">الإفخارستيا والعضوية في جسد المسيح.</td>
</tr>
<tr>
<td width="94">الإبركسيس</td>
<td width="408">الشمّاسية.</td>
</tr>
<tr>
<td width="94">الإبركسيس</td>
<td width="408">موهبة النبوّة.</td>
</tr>
</tbody>
</table>
<p></p>
<h3 dir="rtl">عظات ابائية</h3>
<h4 dir="rtl">شفاء المرأة التي بها روح ضعف للقديس كيرلس الأسكندري</h4>
<p dir="rtl">(لو ١٣ : ١٠ -۱۳): &#8221; وكان يعلم في أحد المجامع في السبت. وإذا امراة كان بها روح ضعف ثماني عشرة سنة وكانت منحنية ولم تقدر أن تنتصب البتة. فلما رآها يشوع دعاها وقال لها: یا امراة إنك محلولة من ضعفك. ووضع عليها يديه ففی الحال استقامت ومجدت الله &#8220;.</p>
<p dir="rtl">كان هناك في المجمع امرأة منحنية لم تقدر أن تنتصب لمدة ثماني عشرة سنة بسبب روح ضعف، وربما تبرهن حالتها على منفعة ليست بقليلة لمن لهم فهم، لأنه ينبغي لنا أن نجمع ما هو مفيد لنا من كل جانب، إذ مما حدث نرى أن الشيطان غالباً ما ينال السلطان على بعض الأشخاص، منهم مثلاً الذين يسقطون في الخطية فيصيرون متراخين في بذل الجهد لأجل التقوى. لذلك فكل من يمسك به الشيطان في نطاق سلطانه يصيبه بأمراض جسدية، إذ إنه يفرح بالعقوبة وهو عديم الرحمة الله الحكيم جداً الذي يري كل شيء يمنحه هذه الفرصة حتى إذا ما تضايق الناس جداً من ثقل بؤسهم يصممون في أنفسهم أن يتغيروا إلى الطريق الأفضل. لأجل ذلك</p>
<p dir="rtl"> سلم القديس بولس الشيطان أحد الأشخاص في كنيسة كورنثوس كان قد اتهم بالزنا &#8221; لهلاك الجسد، لكي تخلص الروح (١ كو ٥ : ٥). لذلك قيل عن المرأة التي كانت منحنية إنها عانت هذا من قسوة الشيطان بحسب كلمات ربنا إذ قال : &#8221; ربطها الشيطان لمدة ثمانية عشرة سنة&#8221;. وكما قلت فإن الله سمح بهذا، إما بسبب خطاياها، أو</p>
<p dir="rtl"> بسبب قانون عام وشامل، لأن الشيطان الملعون هو سبب مرض أجساد البشر، كما نؤكد أن تعدي آدم، كان بتأثير الشيطان، وبواسطة هذا التعدي صارت هياكلنا البشرية معرضة للمرض</p>
<p dir="rtl"> والانحلال. ومع أن هذا كان حال البشر فإن الله الصالح بطبعه لم يتخل عنا ونحن نعاني من عقوبة مرض مستعص طويل الأمد، بل حررنا من قيودنا، مظهراً – كعلاج مجيد لأتعاب البشرية –</p>
<p dir="rtl"> حضوره الذاتي وظهوره في العالم، لأنه جاء ليعيد صياغة طبيعتنا إلى ما كانت عليه في الأصل، لأنه كما هو مكتوب: &#8221; إن الله لم يصنع الموت وهو لا يسر بهلاك الأحياء. لأنه إنما خلق البرايا لتكون موجودة، وصنع أجيال العالم معافاة وليس فيها سم التهلكة&#8221; (حكمة ١: ١٣ ، ١٤ س)، لكن &#8221; بحسد ابليس دخل الموت إلى</p>
<p dir="rtl"> العالم&#8221; (حك ٢ : ٢٤ س).</p>
<p dir="rtl">إن تجسد الكلمة وأخذه لطبيعة بشرية تم لأجل دحر الموت وملاشاة ذلك الحسد الذي ألهبته الحية الشريرة التي كانت العلة الأولى للشر.</p>
<p dir="rtl"> وهذا يتبرهن لنا من الحقائق نفسها. ولذلك حرر ابنة إبراهيم من مرضها المزمن، فدعاها قائلاً : &#8221; یا امرأة انك محلولة من ضعفك</p>
<p dir="rtl"> &#8220;. وهذا كلام يليق جداً بالله، وهو مملوء قوة فائقة للطبيعة، لأنه بالسلطان الإلهي لمشيئته طرد المرض. وهو أيضاً وضع يديه عليها، وفي الحال استقامت. ومن ثم يمكننا أيضاً أن نرى أن جسده المقدس يحمل داخله قوة الله وفاعليتها، لأنه هو جسده الذاتي وليس جسد ابن أخر بجانبه، مميزاً ومنفصلاً عنه كما يتخيل بعض عديمي التقوی (لو ١٣ : ١٤) &#8221; فأجاب رئيس المجمع، وهو مغتاظ لأن يسوع أبرأ في السبت، وقال للجمع: هي ستة أيام ينبغي فيها العمل،</p>
<p dir="rtl"> ففي هذه ائتوا واستشفوا، وليس في يوم السبت !&#8221;.</p>
<p dir="rtl">ولكن ألم يكن من الواجب عليه بالحري أن يندهش لكون المسيح  حرر ابنة إبراهيم هذه من قيودها؟ إنك رأيتها تتحرر من بليتها على غير ما كان متوقعاً ، وكنت شاهد عيان بأن الطبيب لم يتوسل، ولا نال – كمنحة من آخر – شفاء المرأة المريضة، بل إنه فعل هذا بفعل قدرته. وبحكم كونك رئيساً للمجمع أفترض أنك تعرف كتب موسي.</p>
<p dir="rtl">لقد رأيت موسى يصلي في كل مناسبة، ولم يعمل شيئا بقوته الذاتية، فعندما أصيبت مريم بالبرص لمجرد أنها تكلمت ضده بشيء من اللوم – وذلك عن حق لأنه أخذ لنفسه امرأة كوشية – لم يستطع موسى أن يقهر المرض بل على العكس سقط أمام الله قائلاً: &#8221; اللهم اشفها &#8221; (عدد ۱۳:۱۲). ولكن رغم تضرعه هذا، لم ترفع عنها عقوبة خطيتها. كما أن الأنبياء القديسين عندما كانوا يصنعون أية معجزة، فإننا نرى أنهم صنعوها بقوة الله. أتوسل إليك أن تلاحظ هنا أن المسيح مخلص الكل لم يقدم أية صلاة بل تمم الأمر بقوته الذاتية وشفاها بكلمة وبلمسة يده. لأنه بسبب كونه رباً وإلهاً أظهر أن جسده الخاص له فاعلية مساوية مع نفسه؛ لتحرير البشر من أمراضهم، ومن ثم كان يقصد أن يدرك البشر فحوى السر المختص به. لذلك لو كان رئيس المجمع رجلاً ذا فهم لكان أدرك من هو المخلص وكم كان عظيماً بسبب هذه المعجزة العجيبة جداً ، ولما كان قد تكلم بنفس الطريقة الجاهلة كالجموع، ولا كان قد اتهم من يقومون بشفاء المرضى، بكسر الشريعة، من جهة الامتناع التقليدي عن العمل يوم السبت.</p>
<p dir="rtl">لكن من الواضح: &#8221; أن تشفى هو أن تعمل &#8220;. فهل تتكسر الشريعة عندما يظهر الله رحمة حتى في يوم السبت؟ من هو الذي أمر الله أن يكف عن العمل؟ هل أمر ذاته؟ أم لم يكن بالأحرى أنتم؟ لو كان قد أمر ذاته، لجعل عنايته الإلهية بنا تتوقف يوم السبت .. إذن لتسترح الشمس من مسارها اليومي، ليتوقف المطر عن الهطول، لتتوقف ينابيع المياه وكذلك الأنهار الدائمة الجريان، وكذلك تتوقف الريح.</p>
<p dir="rtl"> لكن لو أمركم أنتم بالراحة فلا تلوموا الله لأنه بسلطان أظهر رحمة حتى في يوم السبت.</p>
<p dir="rtl">ولماذا هو أوصى البشر أن يستريحوا في يوم السبت؟ إنه كان – كما قيل لكم – لكي يستريح عبدك وثورك وحصانك وماشيتك. لذلك فعندما يريح هو البشر بتحريرهم من أمراضهم وأنتم تمنعون ذلك، يتضح أنكم تكسرون السبت في عدم سماحكم لمن يعانون تحت ثقل الألم والمرض والذين ربطهم الشيطان، أن يستريحوا.</p>
<p dir="rtl">لكن عندما رأي رئيس المجمع غير الشكور المرأة المنحنية والتي كانت أطرافها كسيحة، وقد نالت رحمة من المسيح فانتصبت في استقامتها، بمجرد لمسة من يده وأنها تسير بخطوات منتصبة تليق بإنسان، وتعظم الله لأجل شفائها، اغتاظ جداً واشتعل بغضب ضد مجد الرب، وتورط في الحسد، وافترى على المعجزة، ولكنه تحاشى الحديث مع الرب – لأنه كان سيفضح رياءه – ووبخ الجمع لكي يبدو أن اغتياظه كان لأجل حفظ يوم السبت. لكن هدفه كان في الحقيقة هو أن يسيطر على من كانوا متفرقين على مدى الأسبوع ومنشغلين بأعمالهم، لكي لا يكونوا مشاهدين ومعجبين بمعجزات الرب يوم السبت لئلا يؤمنوا هم أيضاً به.</p>
<p dir="rtl">ولكن أخبرني – يا من أنت عبد الحسد – أي نوع من الأعمال يمنعه الناموس عندما يوصيك بأن تكف عن كل عمل يدوي في يوم السبت؟ هل يمنع عن عمل الفم والتكلم؟ إذن فامتنع عن الأكل والشرب والتحادث وترتيل المزامير في يوم السبت.</p>
<p dir="rtl">لكن لو امتنعت عن هذه الأعمال بل وامتنعت أيضاً عن قراءة الناموس، فما هي منفعة السبت لك؟ لكن لو قصرت المنع عن العمل اليدوي فكيف يكون شفاء امرأة بكلمة نوعاً من العمل اليدوي؟ لكن لو دعوته عملاً لأن المرأة قد شفيت بالفعل فأنت أيضاً قد أديت عملاً في لومك لشفائها، لكن رئيس المجمع يقول إن المسيح قال: &#8221; أنت محلولة من ضعفك فانحلت منه &#8221; حسناً! ألا تحل انت منطقتك في يوم السبت ألا تخلع حذاءك وترتب فراشك وتغسل يديك عندما تتسخ بالأكل؟ فلماذا أنت غاضب هكذا من مجرد كلمة &#8221; أنك محلولة&#8221;؟ وما العمل الذي عملته المرأة بعد قول هذه الكلمة؟ هل شرعت في عمل النحاس أو النجار أو البناء؟ هل ابتدأت في هذا اليوم ذاته في النسج أو العمل على النول؟ سيجيب لا، إنها صارت منتصبة، كان مجرد الشفاء هو نوع من العمل.</p>
<p dir="rtl">لكن لا، فأنت لست غاضباً بالحق لأجل السبت، بل إنه يوجد شيء مخفي في قلبك وأنت تنطق وتتعلل بشيء غيره، ولهذا السبب فإنك إذ رأيت المسيح يكرم ويعبد كإله اغتظت واهتجت وأكلك الحسد.</p>
<p dir="rtl"> فأنت مُدان تماماً من قبل الرب الذي يعرف حججك الباطلة، وتنال اللقب الذي يليق بك إذ دعاك: &#8220;مرائي&#8221; ومتصنع وغير مخلص.</p>
<p dir="rtl">(لو ١٣ : ١٥) &#8221; يا مرائي ألا يحل كل واحد منكم في السبت ثوره أو حماره من المذود ويمضي به ويسقيه؟ &#8220;.</p>
<p dir="rtl">يقول الرب: أنت تندهش لأني حللت ابنة إبراهيم من مرضها، بينما تريح ثورك وحمارك وتحله من أتعابه وتقوده ليشرب، لكن عندما يعاني كائن بشري من مرض، ويشفي بطريقة عجيبة ويظهر له الله رحمته، فإنك تلوم كليهما كمتعديين: أي ذلك الذي أجري الشفاء والأخرى التي تحررت من مرضها.</p>
<p dir="rtl">أتوسل إليكم أن تنظروا كيف أن رئيس المجمع يعتبر أن كائناً بشرياً له في نظره اعتبار أقل من الحيوان، إذ أنه على الأقل يعتبر أن حماره وثوره جديران بالرعاية في يوم السبت، لكنه – في حسده – ما كان يريد أن المسيح يحرر المرأة المنحلة، ولا أن يراها وقد استعادت شكلها الطبيعي، ولكن الرئيس الحسود كان يفضل أن تظل المرأة التي استقامت، منحنية دائماً مثل الحيوانات ذات الأربع، عن أن تستعيد الشكل الذي يليق بالبشر، ليس لهدف أخر سوى أن لا يتعظم المسيح ولا ينادي به كإله بسبب أعماله، لذا فقد أدين هذا الإنسان كمرائي، لأنه – على الأقل – يقود ماشيته الخرساء التشرب في يوم السبت، ولكنه يغتاظ بسبب أن هذه المرأة – التي كانت ابنة إبراهيم بالجسد، وبالأكثر أنا بواسطة إيمانها، تتحرر من قيود مرضها. لأنه يعتبر أن خلاصها من مرضها : تعد على شريعة السبت.</p>
<p dir="rtl">(لو ١٣ : ١٧): &#8221; وإذ قال هذا أخجل جميع الذين كانوا يعاندونة وفرح گل الجمع بجميع الأعمال المجيدة الكائنة منه &#8221; .</p>
<p dir="rtl">خزي إذن جميع الذين نطقوا بهذه الآراء الفاسدة، الذين تعثروا أمام حجر الزاوية الأساسي، وانكسر الذين قاوموا الطبيب، الذين تصادموا مع الفخاري الحكيم أثناء انشغاله في تقويم الأوعية المعوجة، لم يكن هناك جواب يمكن أن يجيبوا به. لقد أدانوا ذواتهم بطريقة ليس فيها جدال، ودفعوا إلى الصمت، وتشككوا فيما ينبغي أن يقولوا.</p>
<p dir="rtl">وهكذا أغلق الرب أفواههم المتجاسرة، لكن الجموع الذين ربحوا فائدة المعجزات كانوا فرحين. لأن مجد وعظمة أعماله لاشت كل تساؤل وشك عند أولئك الذين سعوا إليه بدون نية سيئة.</p>
<p dir="rtl">المرجع : تفسير إنجيل لوقا للقديس كيرلس الأسكندري ( صفحة ٤٦٥ &#8211; ٤٦٩ ) &#8211; ترجمة دكتور نصحي عبد الشهيد</p>
<h5 dir="rtl"></h5>
<h4 dir="rtl">عظة أخري للقديس كيرلس الأسكندري</h4>
<p dir="rtl">أسألك أن تلاحظ هنا أن المسيح مخلِّص الكل لم يقدَّم صلاة (عند إبراء المرأة) وإنما تمم الشفاء بسلطانه، شافيًا إيَّاها بكلمة وبلمسة يده. بكونه الرب الإله أعلن عن جسده أنه يحمل ذات قوَّته لخلاص البشر من أمراضهم. لقد قصد أن يفهم البشر مغزى سرّه. لو كان رئيس المجمع شخصًا فهيمًا كان يليق به أن يدرك من هو المخلِّص وكم هي عظمته خلال معجزة عجيبة كهذه، لا أن يتفوه بجهل كالعامة، ولا أن يتهم من نالوا الشفاء vبكسر الناموس حسب التقليد الذي يمنع العمل في السبت.</p>
<p dir="rtl">واضح أن الشفاء هو عمل، فهل يكسر الله السبت بإظهار محبَّته في السبت؟ لمن صدر الأمر بالكف عن العمل؟ هل لله نفسه أم لك أنت؟ فلو كان الله يتوقف عن العمل لتوقفت عنايته الإلهيَّة بنا في السبت، وتوقفت الشمس عن عملها وامتنعت الأمطار عن السقوط وجفت ينابيع المياه وتوقفت مجاري الأنهار، وصمتت الرياح، لكن إن كان قد أمرك بالراحة، فِلمَ تلم الله أن أظهر سلطان رحمته في السبت؟</p>
<p dir="rtl">لماذا أمر الله الناس أن يكفوا عن العمل في السبت؟ لكي يستريح عبيدك وثورك وحصانك وكل قطيعك&#8230; فإن أعطى هو راحة للبشر بتحرَّرهم من أمراضهم وأنت تمنع ذلك، فأنت الذي تكسر شريعة السبت، إذ لا تسمح بالراحة للمتألَّمين من الأمراض والأوجاع، هؤلاء الذين ربطهم الشيطان.</p>
<p dir="rtl">إذ رأى رئيس المجمع الجاحد المرأة وقد أصاب أعضاؤها الشلل وانحنى جسمها حتى الأرض تتقبل رحمة من المسيح فصارت مستقيمة تمامًا بمجرد لمسة يده، تسير مع ذاك الذي صار إنسانًا بخطوات مستقيمة، تمجد الله على خلاصها، اغتاظ والتهب غضبًا مقاومًا مجد الرب، وارتبك بالحسد، فأخذ يفتري مشوهًا المعجزة&#8230;</p>
<p dir="rtl">اخبرني يا من أنت هو عبد للحسد، أي نوع من العمل تمنعه الشريعة، عندما تحرم كل عمل يدوي في السبت؟ هل تمنع عمل الفم والكلام؟ إذن فلتمتنع أنت عن الأكل والشرب وعن الحوار والترنم بالمزامير في السبت. فإن كنت تمتنع عن هذه الأمور ولا تقرأ حتى الشريعة، فأي نفع للسبت؟ لكن أن حددت الامتناع بالعمل اليدوي، فهل تحسب شفاء المرأة بكلمة عملًا يدويًا؟ فإن حسبته عملًا لأن المرأة بالفعل قد شفيت، فإنك أنت أيضًا تمارس عملًا بتوبيخك على الشفاء (لأنك تكلمت كما تكلم السيِّد المسيح).</p>
<p dir="rtl">لقد قال: &#8220;إنكِ محلوله من ضعفك&#8221; ، وقد صارت محلوله. حسنًا!‍ أما تحل حذاءك وتهيئ سريرك وتغسل يديك عندما تتسخان قبلما تأكل؟ فلماذا إذن أنت غاضب على كلمة واحدة نطق بها: &#8220;محلولة&#8221;؟</p>
<p dir="rtl">أي عمل مارسته المرأة بعد نطق هذه الكلمة؟ هل هيأت عملًا لنحّاس أو نجار أو بناء؟! هل بدأت في نفس اليوم تنسخ أو تعمل بنولٍ؟ مجرد الشفاء يُحسب عملًا، ولكن بلى، فإنك لست بغاضبٍ حقًا بسبب السبت، وإنما لأنك رأيت المسيح مكرمًا، يُعبد بكونه الله، فاغتظت وضُربت بالحسد. لقد خبأت في قلبك شيئًا، وأظهرت أمرًا آخر&#8230;</p>
<p dir="rtl">&#8220;يا مرائي، ألا يحل كل واحد منكم في السبت ثوره أو حماره من المزود ويمضي به ويسقيه؟&#8221;</p>
<p dir="rtl">يقول إنك تعجب لأني حللت ابنة إبراهيم، بينما أنت تعطي راحة لثورك أو حمارك وتحلها من أتعابها وتقودهما ليشربا، بينما عندما تعاني إنسانة من المرض وتُشفى بطريقة معجزية، ويظهر الله رحمته عليها، تلومهما كعاصيين، الواحد لأنه شفى والآخر لأنها خلصت من مرضها.</p>
<p dir="rtl">إنني أسأل رئيس المجمع: هل الإنسان أقل من الحيوان في عينيه، إن كان ثوره أو حماره يستحق الرعاية في السبت بينما في حسده لم يرد أن يخلص المسيح المرأة من ضعفها إذ كانت منحنية، ولا رغب لها أن تعود إلى شكلها الطبيعي؟</p>
<p dir="rtl">لقد فضل رئيس المجمع للمرأة التي استقامت لو أنها بقيت منحنية على مثال الحيوان ذي الأربعة أرجل عن أن تُشفى وتعود إلى ما يليق بها كإنسان، عن أن يتمجَّد المسيح ويعلن عنه أنه الله خلال أعماله&#8230;</p>
<p dir="rtl">&#8220;وإذ قال هذا أخجل جميع الذين كانوا يعاندونه&#8221;.</p>
<p dir="rtl">حلّ الخجل بالذين نطقوا بهذه الآراء الفاسدة، الذين تعثروا في حجر الزاويَّة الرئيسي فتحطموا؛ هؤلاء الذين قاوموا الطبيب، واصطدموا مع الخزّاف الحكيم الذي كان منهمكًا في إصلاح الأواني المهشمة، فلم يجدوا ما يجيبون به. لقد اقتنعوا ولم يجدوا ما يجيبون به وما ينطقون به&#8230; أما الجموع التي تمتعت بمنافع المعجزات فقد ابتهجت</p>
<p dir="rtl">المرجع : تفسير إنجيل لوقا الإصحاح الثالث عشر &#8211; القمص تادرس يعقوب ملطي</p>
<h3 dir="rtl">عظات اباء وخدام معاصرون :</h3>
<h4 dir="rtl">هل طرحت ضعفك أمامى ؟ لقداسة البابا تواضروس الثاني</h4>
<h5 dir="rtl">يوم الخميس من الأسبوع الخامس لقداسة البابا تواضروس الثاني</h5>
<p dir="rtl">لو (١٣ : ١٠ – ١٧)</p>
<p dir="rtl">هل طرحت ضعفك أمامى ؟</p>
<p dir="rtl">ونحن في النصف الثاني من الصوم المقدس الله يطرح سؤالاً على كل شخص فينا ، وهذا السؤال في مجموع أيام الصوم ، إذا جمعت كل الأسئلة سوف تجد أن الله يريد أن يصنع منك إنسانا تائباً في حياتك ويكون لك نصيب في السماء ، والسؤال التي تطرحه كلمة الله علينا كي يكشف للإنسان نفسه ، فالسؤال يعتبر مثل المرآة التي تواجهك بالحقيقة ، ولذلك الذي يلتفت لنفسه يعرف قيمة السؤال ، ودائماً السؤال التي تقدمه كلمة الله لك يقصدك شخصياً وفردياً ، ويجعل كل شخص فينا لا يهرب من ذاته ، فأحياناً عندما يقع الإنسان في خطية أنه يجمل ذاته ، والخطية تزداد عمقاً كلما جمل ذاته أمام الآخرين وأمام نفسه التي يخدعها أكبر خدعة ، وهذا ما يمكن أن نسميه &#8221; تسويف العمر باطلا &#8220;، فكل يوم من أيام الصوم له قيمته .</p>
<p dir="rtl">في قصة ومعجزة إنجيل هذا اليوم ، جاء السيد المسيح يوم السبت ، وكانوا يجتمعون في المجامع اليهودية للتعليم ، وظهرت أمامه إنسانة مريضة بإنحناء في العمود الفقري ، قد لا نعرف اسمها ، ولكن كل ما ذكره عنها الكتاب أنها كانت منحنية ، وهذا الإنحناء شيء صعب فقد لا تستطيع أن تمارس أعمالها ، ولم يكن هذا الأمر لمدة سنة أو اثنتين وإنما لمدة ١٨ سنة ؛ ولأن القديس لوقا كان طبيباً فقد شعر بمدى معاناة هذه المرأة ، ولذا قد انفرد بذكرها ، حتى أنه قال عنها : &#8221; وإذا امرأة كان بها روح ضعف &#8221; (لو ۱۳ : ۱۱)، وعندما يتكلم عن الروح فيقصد بها الشيطان مثل ما شرح السيد المسيح في آخر المعجزة .</p>
<p dir="rtl">كانت هذه المرأة تعيسة ، وكان الشيطان يأسرها ، كانت هذه المرأة مربوطة بالشيطان الذي حل في كل عظامها وعضلاتها ، فليس لديها القدرة على الحركة نهائياً  ، حيث كانت فاقدة الحركة المستقيمة ، وبالتالي لن يكون هناك دورة دموية تسير بطريقة صحيحة ، وتعتبر الحالة صعبة جداً .</p>
<p dir="rtl">الصورة التي تقدمها هذه المرأة هي صورة البشرية البعيدة عن الله ؛ لأن هذه الإنسانة لا ترى في حياتها سوى التراب ، ولم يكن لديها القدرة على النظر إلى السماء ، بمعنى آخر تصور أن الله يعطينا جميع النعم للنظر إلى السماء ، في حين أن هناك آخرين محرومين من هذه النعمة . رأى السيد المسيح هذه المرأة فقال لها : &#8221; يا امرأة إنك محلولة من ضعفك !&#8221; (لو ١٣ : ١٢). وهنا نلاحظ أنه دعاها وشفاها ثم حماها أيضا ودافع عنها . أما عن سؤال اليوم فهو موجه لك فيسألك المسيح قائلاز: &#8221; هل طرحت ضعفك أمامي ؟&#8221; هل فكرت وأدركت أن هناك شيئاً اسمه الخطية ، الخطية بكل أشكالها وألوانها ، ولكن الضعف كلمة شاملة وكلمة كبيرة ، قد ترى أنه ليست لديك خطية ولكن لديك ضعف في نقطة ما ، فكل إنسان لديه نقطة ضعف ، وهذا الضعف هو الباب إلى خطايا كثيرة .</p>
<p dir="rtl">+ نوعيات الضعف :</p>
<p dir="rtl">هناك ثلاث نوعيات من الضعف أضعهم أمامك في ثلاث نقاط :</p>
<p dir="rtl">ا العادات :</p>
<p dir="rtl">قد تكون في حياتك عادة أو عادات غير قادر على التخلص منها ، وتكون هذه العادات بأشكال متعددة &#8221; عادات جسدية ، عادات نفسية ، عادات ذهنية &#8220;.</p>
<p dir="rtl">أ- العادات الجسدية : مثل عادة شرب القهوة أو السيجارة مبكراً عند الاستيقاظ من النوم .</p>
<p dir="rtl">ب &#8211; العادات النفسية : مثل طبع الكذب أو عدم الوضوح ، ولا يعرف أن يقول الصدق ، وهناك من يكون خبيثاً في كلامه .</p>
<p dir="rtl">ج &#8211; العادات الذهنية : هناك  من يحب الجلوس لفترات طويلة أمام التلفزيون ، أو الإنترنت ويرى أشياء لا تليق وغير مناسبة ، وقد يسهر الليالي في المشاهدات أو على الشأت وعندما له النصيحة لا يقبلها . وبالتأكيد هذه المرأة طوال مدة ال ١٨ سنة ذهبت للكثير من الأطباء ، وبالتأكيد اشتهت في يوم من الأيام أن تقف باستقامة وانتصاب لترى السماء ، ولكن الشيطان حرمها من ذلك .</p>
<p dir="rtl">۲ العلاقات :</p>
<p dir="rtl">علي قد تكون العلاقات مرتبطة بأشخاص أو بأشياء أو بأماكن ، فهناك من يصاحب &#8221; فلان &#8221; ذات السيرة السيئة ، أو مثل الأطفال الذين يرغبون في مشاهدة أفلام الكارتون طوال اليوم ، والأب والأم مبسوطين أن الطفل ساكت وهذا خطأ جسيم في التربية ، أو شخص متمسك بعلاقات بأماكن معينة لا تليق به لكونه مسيحيا أو كونه رب أسرة أو لكونه خادماً، فهذه الأماكن قد تُسبب للإنسان روح الضعف ، هناك مثلاً من يفضل الحديث في التليفون لمدة طويلة جداً ، وهذا يمثل روح الضعف ، هناك من يفضل أماكن خارجية عن بيته مثل الابن الضال الذي اعتقد أنه عندما يخرج من بيته ويعيش مع أصحابه سينال الحرية ، في حين أن بيته</p>
<p dir="rtl">هذا هو الحرية الحقيقية ، قد تكون العلاقات مرتبطة بأشخاص وتفتح باب خطايا واسعاً جداً ، فمثلاً خطايا الشذوذ ما هي إلا عبارة عن علاقات بأشخاص ، وما يسميه الغرب &#8221; بالزواج المثلي &#8221; فهو علاقات ، هذا الضعف ليس له علاقة بالجينات ولا بالأمور الطبية ، ما هو إلا ضعف ، قد يكون فعل من عدو الخير يربط به الإنسان .</p>
<p dir="rtl">٣- العثرات :</p>
<p dir="rtl">والعثرات لها ثلاثة أبعاد :</p>
<p dir="rtl">+ هناك من هو معثر &#8221; بالفكر &#8220;، قد يكون بسبب فكره أو قراءاته وهو لا يعرف سوى الأفكار السيئة ، فمن صور الأفكار السيئة فكرة الإلحاد ، فالإلحاد يبدأ بالفكر .</p>
<p dir="rtl"> + هناك من هو معثر في &#8221; الكلام &#8220;، لسانه دائما يردد كلمات لا تليق ، فلا يصح أن يكون حوارنا في البيت أو خارجه يجرح الطرف الآخر بأي كلمة ، فنحن كبشر لنا &#8221; حساسية تجاه كلمات معينة ، فهناك كلمات قد تكون عادية بالنسبة لشخص لكن لأخر قد يكون وقعها على الأذن يجرح .</p>
<p dir="rtl">+ هناك أيضاً عثرات &#8221; بالأفعال &#8220;، فكل فرد لا بد أن ينتبه لتصرفاته ، الأب والأم والخادم في الكنيسة . فعلى الإنسان أن ينتبه أن هذه العثرات قد تمتد في حياة الإنسان ، وتكون روح ضعف شديدة .</p>
<p dir="rtl">الخلاصة يا أحبائي …</p>
<p dir="rtl"> ونحن في أيام الصوم المقدس هل كشفت ضعفك أمام المسيح ؟ هل خصصت الصوم من بدايته من أجل أن يتحنن عليك الله ويرفع عنك الضعف ،  فهناك ضعفات كثيرة نذكر منها من لا يصلي ، ومن لا يصوم ، ومن لا يقرأ في الكتاب المقدس وبعيد عن كلمة ربنا وغيرها &#8230;</p>
<p dir="rtl">أمثلة</p>
<p dir="rtl">۱ داود النبي :</p>
<p dir="rtl">ذات يوم جاءت لداود النبي العظيم روح الضعف بكسل وارتكب خطية وبكى بكاءً مرا ، وقال مزمور التوبة : &#8221; ارحمني يا الله كعظيم رحمتك &#8220;، فالشيطان هدفه أن يوقعنا في اليأس مثل ما يقول : &#8221; ليس له خلاص بإلهه &#8220;، فدائما الشيطان يبث في أذنك</p>
<p dir="rtl">الإحساس باليأس وأنه ليس لك خلاص . في صلاة قسمة الصوم الكبير نقولز: &#8221; الصوم والصلاة هما اللذان &#8230;&#8221;  ونكررها كثيراً ، لأن الإنسان لديه روح الضعف أو الإهمال أو الكسل أو ضعف في السلوكيات أو في التصرفات أو ضعف في الكلمات أو في الأفكار &#8230; كل شخص يختلف عن الآخر ، ولهذا تؤكد لنا الكنيسة في كل يوم من أيام الصوم أن &#8221; الصوم والصلاة هما اللذان يخرجان الشياطين &#8220;، فليس هناك وسيلة أخرى غير أنك تقترب إلى مسيحك في صلواتك وفي أصوامك ، وتقول له : &#8221; يا رب تحنن علي وارفع عني هذا الضعف (رعادة أو علاقة أو عثرة )&#8221;، ومسيحك مثل ما قال للشيطان في يوم التجربة : &#8221; اذهب يا شيطان &#8220;، يستطيع أن يحل رباط الشيطان الذي يربط الإنسان في هذه الضعفات.</p>
<p dir="rtl">كل واحد فينا قد يكون هذه المرأة المنحنية ، والشيطان يحرمنا من السماء ، ويجعل رؤية الإنسان فقط في التراب والأرض ، فقد يحرم الإنسان من النظر إلى السماء ومن يد الله الممدودة التي من الممكن أن تساعده . مع هذه المعجزة الواضحة جداً نُلاحظ أن هذه المرأة كانت مواظبة على العبادة ، فقد ظلت تتردد على المجمع ثماني عشرة سنة متمنية الشفاء ، إلى أن جاء الوقت وتحنن عليها السيد المسيح ، ولاحظ المفارقة العجيبة إن رئيس المجمع هذا الشخص المرائي الذي له قيادة التعليم والصلوات داخل المجمع ، قال للجمع وهو مغتاظ لأن يسوع أبرأ هذه المرأة : &#8221; هي ستة أيام ينبغي فيها العمل ففي هذه ائتوا واستشفوا وليس في يوم السبت !&#8221; (لو ١٣ : ١٤). لقد ترك القصة كلها وحقيقة المعجزة والمرأة المريضة منذ ثماني عشرة سنة وتعلق في أن المعجزة تمت يوم السبت !</p>
<p dir="rtl">من هذا الإنسان ؟ هو كل إنسان جامد الفكر ، قاسي القلب ، لا يعرف قلبه الرحمة ولا التحنن ، والأكثر من ذلك أنه معتد بذاته ، معتقدا أنه على صواب ، وهذا في حد ذاته كارثة ، رغم أنه كل يوم في المجمع ، وهذا الشخص هو من لديه روح الضعف ، وهو المحتاج أن يطرح نفسه أمام المسيح كي يحله من هذه الروح الشريرة ، ويحله من العقل والفكر الجامد ومن القلب القاسي ، ويملأ قلبه رحمة ، ويحله من نظرته لذاته .</p>
<p dir="rtl">ورغم أن هذه المرأة هي الضعيفة والمريضة ، وقد ارتبط مرضها بالخطية في نظر اليهود ، ولكن المسيح لا يعتبر لهذه الأمور أية  قيمة ، فالإنسان القوي يهرب من الحرف والشكل ويشكر دائماً ، فهو له نظرة إيجابية للأمور .</p>
<p dir="rtl">معجزة اليوم هي &#8230;</p>
<p dir="rtl">دعوة من فم المسيح &#8230; قال لها : &#8221; تعالي &#8220;، والمسيح يدعوك ويقول لك : &#8221; تعال &#8221; بضعفك وبإرادتك ، ليس هناك من يستطيع أن يشفيك ويحلك من هذا الرباط سوى شخص المسيح .</p>
<p dir="rtl">رحمة من قلب المسيح &#8221; وتحنن عليها المسيح &#8220;، والعالم الذي نعيش فيه اليوم به نوع من الجفاف ليس فيه حنية ولا رحمة ، كلك كله قسوة .</p>
<p dir="rtl">صحة من يد المسيح ، لقد لمسها لمسة شفاء .</p>
<p dir="rtl">أيها الحبيب ، المسيح يطرح عليك هذا السؤال لكي ما يساعدك أن تطرح عليه ضعفك أو ضعفاتك ، لكن انتبه وتعلم شيئاً مهماً جداً وهو أن لا تكون مرائيا ، من فضلك &#8230; لتسكن الرحمة في قلبك وفي بيتك وفي تربيتك لأولادك وبناتك ، وفي علاقاتكم كأزواج ، وفي العلاقات الاجتماعية مثل الإخوة والأبناء والكبار والصغار ، والخدمة في الكنيسة ، والمجتمع بصفة عامة . لا تكن مرائياً ولتسكن الرحمة في قلبك ، ولا تنس أن تفرح لعمل الخير ، ولا تفعل مثل الابن الأكبر في مثل الابن الضال ، فالكل فرحان بعودة الابن الصغير والبيت كله في حالة فرح ما عدا هذا الابن الكبير الذي تذمر وعاتب أبيه من قلب لا يعرف ولا يفهم ، وكأن فيه روح الضعف فقال له : &#8221; جديا لم تعطني قط لأفرح مع أصدقائي &#8221; (لو ١٥ : ٢٩)، ويرد عليه أبيه بمنطق بسيط جدا ويقول له : &#8221; يا بني أنت معي في كل حين ، وكل ما لي فهو لك&#8221; (لو ١٥ : ٣١)، لقد غابت عنه هذه الحقيقة .</p>
<p dir="rtl">سؤال اليوم يأتي المسيح ويختمه بشرح لرئيس المجمع قائلا له : &#8221; ألا يحل كل واحد منكم في السبت ثورة أو حماره من المذود  ويمضي به ويسقيه ؟&#8221; (لو ١٣ : ١٥) وبرغم أن الأعمال ممنوعة يوم السبت بحسب التقاليد اليهودية من الناحية الحرفية  ، لكن هل يترك الحيوان يموت من العطش ؟! فهذه حالة على سبيل الاستثناء ، وبعتاب رقيق أخذ المسيح يعاتب رئيس المجمع ويدافع عن هذه المرأة قائلاً : &#8221; وهذه وهي ابة إبراهيم قد ربطها الشيطان ثماني عشرة سنة أما كان ينبغي أن تحل من هذا الرباط في يوم</p>
<p dir="rtl">السبت؟&#8221; (لو ١٣ :١٦).</p>
<p dir="rtl">إن كان سبت أو غير السبت كان المهم أن تُحل هذه المرأة من هذا الرباط ومن هذا الضعف ، وينهي الموضوع &#8221; وإذ قال هذا أخجل جميع الذين كانوا يعاندونه وفرح كل الجمع بجميع الأعمال المجيدة الكائنة منه &#8221; (لو ۱۳ : ۱۷).</p>
<p dir="rtl">أرجوك كن صريحاً وصادقاً مع نفسك ، واعرف نقاط الضعف الموجودة عندك ، وما الذي يعوقك لأن تنظر إلى السماء ، واكشف نفسك أمام المسيح في صلواتك ، واعترف أمامه ، وأكد توبتك واعترافك أمام الكنيسة في جلسة توبة صادقة من القلب أمام أب اعترافك ، ليحلك المسيح من هذا الضعف .</p>
<p dir="rtl">لإلهنا كل مجد وكرامة من الآن وإلى الأبد. أمين .</p>
<p dir="rtl">المرجع : كتاب إختبرني يا الله صفحة ٢٦٩ &#8211; قداسة البابا تواضروس الثاني</p>
<h4 dir="rtl">شرح الموسوعة الكنسية لإنجيل القدَّاس</h4>
<p dir="rtl">عدد ١٠ : كان الهيكل في أورشليم أما المجامع فانتشرت في كل البلاد حيث تُقرأ الأسفار المقدسة وتفسر، فدخل المسيح أحد هذه المجامع في يوم السبت، ويبدو أن الناس توقعوا مجيئه إليه فحضر بعض المرضى ليشفيهم ويسمعوا تعاليمه، لأنه كان معتادًا أن يعلم في هذه المجامع، إذ أنه أتى ليكمل الناموس والأنبياء.</p>
<p dir="rtl">عدد ١١ : حضرت إلى المجمع إمرأة مصابة بمرض أحنى ظهرها منذ ثمانية عشر سنة، وكان هذا من روح نجس (روح ضعف) أي عمل الشيطان، فجعلها تنظر إلى الأرض مثل الحيوانات، وليس مثل باقي الناس منتصبة تنظر إلى السماء.</p>
<p dir="rtl">عدد عشرة يرمز إلى الوصايا والناموس وعدد ثمانية يشير إلى القيامة التي حدثت في اليوم الثامن. فلما اكتمل الناموس مع القيامة أي مر ثمانية عشر عامًا شفاها المسيح، أي أنه بالمسيح يتم شفاء البشرية وتحررها من سلطان إبليس.</p>
<p dir="rtl">عدد ١٢ ، ١٣ : أمرها المسيح بكلمته، أي بسلطان لاهوته، فأنحلت من ضعفها وإنحنائها، وتحررت من سلطان الشيطان، بعد أن لمسها بيده فشفيت في الحال وسبحت الله ومجدته.</p>
<p dir="rtl">عدد ١٤ : اغتاظ رئيس المجمع اليهودي لأنه حسد المسيح، إذ تعلقت به القلوب بعد هذه المعجزة، وأخفى حسده تحت ستار تمسكه بشريعة عدم العمل في السبت، معتبرًا الشفاء هو عمل طبيب. وخوفًا من أن يكلم المسيح وبخ الناس وطلب منهم أن يأتوا للاستشفاء في غير يوم السبت، مع أن المرأة لم تطلب من المسيح أن يشفيها بل هو بمحبته دعاها.</p>
<p dir="rtl">عدد ١٥ : وبخ المسيح رئيس المجمع لريائه، فهو ليس مهتمًا بالسبت بل يحسد المسيح لمحبة الناس له، وكذلك الشفاء هو معجزة وليس عملًا يخالف الشريعة.</p>
<p dir="rtl">وقدم المسيح دليلًا على ذلك أخجل به رئيس المجمع ومن معه من الفريسيين، بأن الشريعة تسمح في يوم السبت بالأعمال الضرورية مثل حل الحيوانات والذهاب بها لتستقى.</p>
<p dir="rtl">عدد ١٦ : بالأولى هذه اليهودية، التي تسلط عليها الشيطان منذ ثمانية عشر سنة بمرض الإنحناء، كان ينبغي أن تُحل في يوم السبت، لأن ذلك إحتياج ضرورى وهي بالطبع أفضل من الحيوانات. فإن كان الحيوان يربط مدة الليل فقط ونشفق عليه من العطش فنسقيه، فبالأحرى هذه المرأة ابنة إبراهيم، أي يهودية من شعب الله، تستحق الرحمة بعد 18 سنة قيدها الشيطان وأتعبها جدًا.</p>
<p dir="rtl">عدد ١٧: خجل المعاندون الذين كانوا مع رئيس المجمع، وفرحت الجموع بمعجزات المسيح لشفائهم.</p>
<p dir="rtl">† لا تكن مغرضًا في كلامك مع الناس، بل إفرح بعمل الخير من أي إنسان وفي كل مكان.</p>
<p dir="rtl">المرجع : الموسوعة الكنسية لتفيسير العهد الجديد ( إنجيل لوقا إصحاح ١٣ ) &#8211; كنيسة مار مرقس مصر الجديدة</p>
<hr />
<p dir="rtl"><a href="#_ftnref1" name="_ftn1">[1]</a><sup>&#8211; تفسير المزامير- جزء أول ص ١٩٩ &#8211; دير المحرق.</sup></p>

      {% endcreateArticleAccordions %}
    </section>
  {% endblock %}
  