---
layout: 'layouts/reading.html'
title: 'يوم السبت من الاسبوع الخامس (سبت الأستعداد لمجيئه الثاني)'
permalink: great-lent/5-6.html
---
  {% block content %}
    <section id="readings">
      <ul>
      {% if 'undefined' != 'undefined' %}
      
      {% else %}
      {% if 'null' != 'null' %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">العشية</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeVespers '' '' %}
          </div>
        </div>
      </li>
      {% endif %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">باكر</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeMatins '19.65:2-3' '42.15:3-10' '' %}
          </div>
        </div>
      </li>
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <h3 class="flex items-center justify-between">
            <span class="kufi">القداس</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </h3>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeLitugy '48.5:16-26*@+48.6:1-2' '59.5:7-11' '44.26:1-18' '19.143:1-2' '40.23:13-39' %}
          </div>
        </div>
      </li>

      {% endif %}
        </ul>
    </section>
    <section id="article">
      <h3 class="mt-8 mb-4 heading-explain">شرح القراءات</h3>
      {% createArticleAccordions %}
        <p>&#8220;لأَنَّ الآبَ لاَ يَدِينُ أَحَدًا، بَلْ قَدْ أَعْطَى كُلَّ الدَّيْنُونَةِ لِلابْنِ&#8221; (يو ٥: ٢٢)</p>
<p>[أظهرت لي إعلان مجيئك هذا الذي تأتي فيه لتدين الأحياء والأموات وتعطي كل واحد كأعماله] (القدّاس الغريغوري)</p>
<p>[حقاً أي عذر لإنسان يسمع هذه الأمور في الكنيسة من الأنبياء والرسل ومن الرب نفسه دون أن يعطي اهتماماً لنفسه ولا نهاية الأزمنة والإقتراب من الساعة التي فيها يقف أمام كرسي المسيح.] (القديس هيبوليتس)<a href="#_ftn1" name="_ftnref1">[1]</a></p>
<h3>شواهد القراءات</h3>
<p>(مز٦٤: ٢-٣)، (لو١٥: ٣- ١٠)، (غل٥: ١٦- ٢٦) ، ( غل٦: ١- ٢)، (يع٥: ٧- ١١)، (أع٢٦: ١- ١٨)، (مز١٤٢: ١)، (مت٢٣: ١٣– ٢٥).</p>
<h3>شرح القراءات</h3>
<p><strong>تحدثنا</strong> <strong>قراءات</strong> <strong>هذا</strong> <strong>اليوم</strong> عن مجيئه بعد كمال تدبيره الإلهي مع الآب</p>
<p>(قراءات أحد المُخَلَّع) وعن ابن الله الديان لكل البشر بعد فرص التوبة على الأرض <strong>أي</strong> <strong>أن</strong> <strong>قراءات</strong> <strong>هذا</strong> <strong>اليوم</strong> هي مدخل تحذيري لقراءات الأحد.</p>
<p>فبينما تُعلن قراءات الأحد كمال التدبير الإلهي وتمام أزمنة الشفاء والخلاص، تُحذّر قراءات السبت من خطورة تهاوننا وتكاسلنا عن سرعة مجيئه.</p>
<p><strong>يبدأ مزمور باكر</strong> بالتأكيد عن أن كل البشر سيقفون أمام الله.</p>
<p>&#8220;لأنك إليك يأتي كل بشر&#8221;.</p>
<p><strong>وفي إنجيل باكر</strong> يعلن فرحة السماء والسمائيين بتوبة الخطاة.</p>
<p>&#8220;أقول لكم إنه يكون فرحٌ في السماء بخاطئ واحد يتوب أكثر مما بالتسعة والتسعين باراً الذين لا يحتاجون إلى توبة&#8221;.</p>
<p><strong>وفي البولس</strong> يحذّر من أعمال وشهوات الجسد التي يمكن أن تحرمنا من الملكوت.</p>
<p></p>
<p>&#8220;وأعمال الجسد واضحة التي هى الزنى والنجاسة والعهر وعبادة الأوثان والسحر، وأمثال هذه التي أسبق فأقول لكم أيضاً كما سبقت فقلت إن الذين يعملون مثل هذه لا يرثون ملكوت الله&#8221;.</p>
<p><strong>ويؤكّد الكاثوليكون</strong> أيضاً على قرب مجئ الرب الديان وخطورة فتور المحبّة وأنيننا من الآخرين.</p>
<p>&#8220;فتأنوا أنتم وثبتوا قلوبكم لأن مجئ الرب قد اقترب لا يئن بعضكم من بعض يا إخوتي لئلا تدانوا هوذا الديان واقف على الأبواب&#8221;.</p>
<p><strong>وفي الإبركسيس</strong> يُعْلِم الرب يسوع شاول الطرسوسي بأنه إنتخبه خادما ليفتح عيون الناس ليحرّرهم من سلطان الشيطان ومن الدينونة وينالوا الميراث الأبدي.</p>
<p>&#8220;فقال أنا يسوع الذي تضطهده، ولكن قم وقف على رجليك لأني لهذا ظهرت لك لأنتخبك خادماً وشاهداً بما رأيت وبما سأتراءى لك فيه، منقذاً إياك من الشعب ومن الأمم الذين أنا مرسلك الآن إليهم، لتفتح عيونهم كي يرجعوا من الظلمة إلى النور، ومن سلطان الشيطان إلى الله حتى ينالوا بالإيمان بي غفران الخطايا وميراثاً مع القديسين بالإيمان الذي بي&#8221;.</p>
<p><strong>وفي مزمور القدّاس </strong>ترجو النفس من الله أن تنجو من دينونة المحاكمة.</p>
<p>&#8220;استجب لي بعدلك ولا تدخل في المحاكمة مع عبدك&#8221;.</p>
<p><strong>ويختم إنجيل القدّاس</strong> بالويلات للكتبة والفريسيين بسبب زيف التعليم ورياء السلوك، والتحذير الأخير لأورشليم لرفضها ابن الله الذي سيترك بيتهم للخراب.</p>
<p>&#8220;ويل لكم أيها الكتبة والفريسيون المراءون لأنكم تأكلون بيوت الأرامل بعلة تطويل صلواتكم من أجل هذا ستنالون دينونة أعظم، أيها الحيّات أولاد الأفاعي كيف تهربون من دينونة جهنم، يا أورشليم يا أورشليم يا قاتلة الأنبياء وراجمة المرسلين إليها، كم مرة أردت أن أجمع بنيك كما يجمع الطائر فراخه تحت جناحيه فلم تريدوا، هأنذا أترك لكم بيتكم خراباً وإني أقول لكم إنكم من الآن لا ترونني حتى تقولوا مبارك الآتي باسم الرب&#8221;.</p>
<p></p>
<h3>ملخّص القراءات</h3>
<table width="503">
<tbody>
<tr>
<td width="91">مزمور باكر والقدّاس</td>
<td width="412">كل البشر سيقفون أمام الله للمحاكمة.</td>
</tr>
<tr>
<td width="91">إنجيل باكر</td>
<td width="412">فرحة السمائيين بتوبة الخطاة ونجاتهم من الدينونة.</td>
</tr>
<tr>
<td width="91">البولس</td>
<td width="412">أعمال وشهوات الجسد تحرم الإنسان من ملكوت الله.</td>
</tr>
<tr>
<td width="91">الكاثوليكون</td>
<td width="412">فتور المحبّة والأنين من الإخوة يمكن أن يجعلنا مدانين.</td>
</tr>
<tr>
<td width="91">الإبركسيس</td>
<td width="412">رسالة الله لكل خادم أن يقود الناس للنور والميراث السماوي.</td>
</tr>
<tr>
<td width="91">إنجيل القدّاس</td>
<td width="412">دينونة الله للكتبة والفريسيين للشكلية والظلم والرياء والنجاسة</td>
</tr>
</tbody>
</table>
<p></p>
<h3>الكنيسة في قراءات اليوم</h3>
<table width="503">
<tbody>
<tr>
<td width="140">إنجيل باكر</td>
<td width="363">ملائكة الله.</td>
</tr>
<tr>
<td width="140">البولس</td>
<td width="363">الجهاد الروحي وصلب الجسد.</td>
</tr>
<tr>
<td width="140">الكاثوليكون</td>
<td width="363">مجئ الرب.</td>
</tr>
<tr>
<td width="140">الإبركسيس</td>
<td width="363">قيامة الأموات والميراث السماوي.</td>
</tr>
<tr>
<td width="140">مزمور وإنجيل القدّاس</td>
<td width="363">المحاكمة والدينونة.</td>
</tr>
<tr>
<td width="140">إنجيل القدّاس</td>
<td width="363">الهيكل والمذبح والقربان.</td>
</tr>
</tbody>
</table>
<p></p>
<h4 dir="rtl"></h4>
<h3 dir="rtl">عظات ابائية</h3>
<h4 dir="rtl">عظة للقديس كيراس الاسكندري</h4>
<p class="yiv8113416628MsoNormal" dir="RTL"><span dir="RTL" lang="AR-SA">بينما يُطلب منَّا التعمُّق في فحص أنفسنا حتى ينطبق سلوكنا على أوامر الله وتعاليمه، نجد البعض يشغلون أنفسهم بالتدخُّل في شئون الآخرين وأعمالهم، فإذا وقفوا على خطأ في أخلاق الغير عمدوا إلى نهش أعراضهم بألسنة حدَّاد، ولم يدروا أنهم بذم الآخرين يذمون أنفسهم، لأن بهم مساوئ ليست بأقل من مساوئ الغير في المذلَّة والمهانة، لذلك يقول الحكيم بولس: &#8220;لذلك أنت بلا عذر أيها الإنسان كل من يدين، لأنك فيما تدين غيرك تحكم على نفسك، لأنك أنت الذي تدين تفعل تلك الأمور بعينها&#8221; (رو ٢ : ١) ، فمن الواجب علينا والحالة هذه أن نشفق على الضعيف، ذاك الذي وقع أسيرًا لشهواته الباطلة، وضاقت به السُبل، فلا يمكنه التخلُّص من حبائل الشرّ والخطيّة. </span></p>
<p class="yiv8113416628MsoNormal" dir="RTL"><span lang="AR-SA">فلنُصَلِّ عن مثل هؤلاء البائسين القانطين، ولنَمِدْ لهم يدَ العون والمساعدة، ولنَسع ألاَّ نسقط كما سقطوا، فإنَّ &#8220;الذي يذم أخاه، ويدين أخاه، يذم الناموس ويدين الناموس&#8221; (يع ٤ : ١١). وما ذلك إلا لأن واضع الناموس والقاضي بالناموس هو واحد، ولما كان المفروض أن قاضي النفس الشريرة يكون أرفع من هذه النفس بكثير، ولما كنا لا نستطيع أن ننتحل لأنفسنا صفة القضاة بسبب خطايانا، وجب علينا أن نتنحَّى عن القيام بهذه الوظيفة، لأنه كيف ونحن خطاة نحكم على الآخرين وندينهم؟!</span></p>
<p class="yiv8113416628MsoNormal" dir="RTL"><span lang="AR-SA">إذن يجب ألا يدين أحد أخاه، فإن حدَّثتك نفسك بمحاكمة الآخرين، فاعلمْ أن الناموس لم يُقِمك قاضيًا ومُحاكمًا، ولذلك فانتحالك هذه الوظيفة يوقِعك تحت طائلة الناموس، لأنك تنتهك حُرمته.</span></p>
<p class="yiv8113416628MsoNormal" dir="RTL"><span lang="AR-SA">فكل من طاب ذهنه لا يتصيَّد معاصي الغير، ولا يشغل ذهنه بزلاَّتهم وعثراتهم، بل عليه فقط أن يتعمَّق في الوقوف على نقائصه وعيوبه، هذا كان حال المرتل المغبوط وهو يصف نفسه بالقول الحكيم: &#8220;إن كنت تُراقب الآثام يا رب يا سيِّد، فمن يقف&#8221; (مز ١٣٠ : ٣). وفي موضع آخر يكشف المرتل عن ضعف الإنسان، ويتلمَّس له الصفح والمغفرة، إذ ورد قوله: &#8220;اذكرْ أننا تراب نحن&#8221; (مز ١٠٣ : ١٤) &#8230;</span></p>
<p class="yiv8113416628MsoNormal" dir="RTL"><span lang="AR-SA">سبق أن بيَّن السيِّد الخطر الذي ينجم عن نهش الآخرين بألسنة حداد فقال: &#8220;لا تدينوا لكي لا تدانوا&#8221;، والآن أتى السيِّد على أمثلة كثيرة وبراهين دافعة تحضّنا على تجنُّب إدانة الآخرين، والحُكْم عليهم بما نشاء ونهوى، والأجدر بنا أن نفحص قلوبنا، ونُجَرِّدها من النزعات التي تضطرم بين ضلوعنا، سائلين الله أن يطهِّرنا من آثامنا وزلاَّتنا. </span></p>
<p class="yiv8113416628MsoNormal" dir="RTL"><span lang="AR-SA">فإنَّ السيِّد ينبهنا إلى حقيقة مُرَّة مألوفة، فيخاطبنا بالقول: كيف يمكنك نقد الآخرين والكشف عن سيئاتهم وشرورهم، وفحص أسقامهم وأمراضهم، وأنت شرِّير أثيم ومريض سقيم؟! وكيف يمكنك رؤيّة القذَى الذي في عين الغير، وبعينك خشبَة تحجب عينك فلا ترى شيئًا؟!</span></p>
<p class="yiv8113416628MsoNormal" dir="RTL"><span lang="AR-SA">إنك لمتجاسر إذا قمتَ بذلك، فالأوْلي بك أن تنزع عنك مخازيك، وتطفئ جذوة عيوبك، فيمكنك الحكم بعد ذلك على الآخرين، وهم كما سترى مذنبون فيما هو دون جرائمك.</span></p>
<p class="yiv8113416628MsoNormal" dir="RTL"><span lang="AR-SA">أتريد أن تنجلي بصوتك، فتقف على مبلغٍ ما في اغتياب الآخرين من مقت وشرٍ؟ </span></p>
<p class="yiv8113416628MsoNormal" dir="RTL"><span lang="AR-SA">كان السيِّد يجول يعمل خلال الحقول النضرة، فاقتطف تلاميذه المبارَكون سنابل القمح وفركوها بأيديهم، ثم أكلوا ثمارها طعامًا شهيًا لذيذًا، وما أن وقع نظر الفريسيِّين على التلاميذ حتى اقتربوا من السيِّد وخاطبوه بالقول: انظرْ كيف أن تلاميذك يعملون في السبت ما ليس بمحلَّل مشروع، نطق الفرِّيسيُّون بهذا القول وهم الذين عبثوا بحُرْمَة القدس، وتعدُّوا على وصاياه وأوامره على حد نبوَّة إشعياء عنهم: &#8220;كيف صارت القرية الآمنة زانية؟! ملآنة حقًا كان العدل يبيت فيها، وأما الآن فالقاتلون، صارت فضتك زغْلًا، وخمرك مغشوشة بماء، رؤساؤك متمرِّدون ولُغفاء اللصوص، كل واحدٍ منهم يحب الرشوة ويتبع العطايا، لا يقضون لليتيم، ودعوى الأرملة لا تصلْ إليهم&#8221; (إش ١ : ٢١ &#8211; ٢٣).</span></p>
<p class="yiv8113416628MsoNormal" dir="RTL"><span lang="AR-SA">بالرغم من هذه المُنكرَات المُخزيات التي ارتكبها هؤلاء الناس، تمادوا في خِزيهم ومكرهم، ودسُّوا لتلاميذ السيِّد المباركين، واتَّهموهم بالتعدِّي على يوم السبت المقدَّس، إلا أن المسيح ردَّ خِزيهم، إذ أجابهم بالقول: &#8220;ويلٌ لكم أيها الكتبة والفرِّيسيُّون المراءون، لأنكم تعشِّرون النعنع والشبت والكمُّون، وتركتم أثقل الناموس الحق والرحمة والإيمان، أيها القادة العميان الذين يُصفُّون عن البعوضة، ويبلعون الجمل&#8221; (مت ٢٣ : ٢٣ &#8211; ٢٤).</span></p>
<p class="yiv8113416628MsoNormal" dir="RTL"><span lang="AR-SA">كان الفرِّيسي كما ترى مرائيًا غادرًا، يحاسب الناس على التعدِّيات الواهية، بينما يسمح لنفسه بارتكاب أشد المخازي نكرانًا، وأعظم الشرور فُجورًا، فلا غرابة أن دعاهم المخلِّص: &#8220;قبورًا مبيضَّة تَظهر من خارج جميلة، وهي من داخل مملوءة عظام أموات وكل نجاسة&#8221; (مت ٢٣ : ٢٧).</span></p>
<p class="yiv8113416628MsoNormal" dir="RTL"><span lang="AR-SA">هذا هو شأن المرائي وهو يدين الآخرين، ويرميهم بأشنع المساوئ والعيوب، وهو عن نفسه أعمى، إذ لا ينظر شيئًا، لأن الخشبة في عينيه تحجب الضوء عنه.</span></p>
<p class="yiv8113416628MsoNormal" dir="RTL"><span lang="AR-SA">إذن يجب أن نعني بفحص أنفسنا قبل الجلوس على منصَّة القضاء للحكم على غيرنا، خصوصًا إن كنَّا في وظيفة المُرشد والمعلِّم، لأنه إذا كان المُربِّي نقي الصفحة، طاهر الذيل، تزيِّنه نعمة الوقار والرزانة، وليس على معرفة بالفضائل السامية فحسب، بل يعمل بها ويسلك بموجبها، فإنَّ مثل هذا الإنسان يَصحُ له أن يكون نموذجًا صالحًا يُحتذَى به، وله عند ذلك حق الحُكْم على الآخرين، إذا حادوا عن جادة الحق والاستقامة. </span></p>
<p class="yiv8113416628MsoNormal" dir="RTL"><span lang="AR-SA">أما إذا كان المُرشِد مهمِلًا ومرذولًا، فليس له أن يدين غيره، لأن به نفس النقص والضعف الذي يراه في الآخرين، كذلك ينصحنا الرسل الطوباويون بالقول: &#8220;لا تكونوا معلِّمين كثيرين يا إخوتي، عالمين أننا نأخذ دينونة أعظم&#8221; (يع ٣ : ١) ، ويقول المسيح وهو يكلِّل هامات الأبرار بالتيجان المقدَّسة، ويعاقب الخطاة بشتَّى التأديبات: &#8220;فمن نقض إحدى هذه الوصايا الصغرى وعلَّم الناس هكذا، يُدعَى أصغر في ملكوت السماوات، وأما من عمِل وعلَّم، فهذا يُدعَى عظيمًا في ملكوت السماوات&#8221; (مت ٥ : ١٩).</span></p>
<p dir="RTL">المرجع تفسير مزمور 103 &#8211; القمص تادرس يعقوب ملطي</p>
<h4 dir="rtl"></h4>
<h4 dir="rtl"></h4>
<h3 dir="rtl">عظات اباء وخدام معاصرون :</h3>
<h4 dir="rtl">أيهما أعظم في نظرك : السماء أم الأرض ؟ &#8211; البابا تواضروس الثاني</h4>
<p dir="rtl">يوم السبت من الأسبوع الخامس لقداسة البابا تواضروس الثاني</p>
<p dir="rtl">(مت ٢٣ : ١٣ &#8211; ٣٦)</p>
<p dir="rtl">أيهما أعظم في نظرك : السماء أم الأرض ؟</p>
<p dir="rtl">إنجيل القداس من السبت الخامس من الصوم المقدس هو إنجيل معلمنا متى الأصحاح (٢٣)، وهذا الأصحاح معروف عنه أنه من أصعب الأصحاحات من حيث اللهجة التي يتكلم بها السيد المسيح ، وهو يسمى &#8221; أصحاح الويلات &#8220;، وكلمة &#8221; ويل &#8221; هي كلمة تحذيرية كررها المسيح ٨ مرات في هذا الأصحاح ، ولهذا فإن كلامه كان توبيخاً للقادة المرائين ، وهذا الأصحاح يقابله أصحاح ويلات أيضاً في العهد القديم في (إشعياء ٥ : ٢٠ – ٢٢) &#8221; ويل للقائلين للشر خيرا وللخير شرا ، الجاعلين الظلام نوراً والنور ظلاماً ، الجاعلين المر حلوا والحلو مرا . ويل للحكماء في أعين أنفسهم ، والفهماء عند ذواتهم . ويل للأبطال على شرب الخمر ، ولذوي القدرة على مزج المسكر &#8220;، وعلى الجانب الآخر يوجد أصحاح تطويبات في بشارة (متى ٥).</p>
<p dir="rtl">الجزء الإنجيلي برغم توبيخه الشديد للقادة اليهود المرائين إلا أننا من الممكن أن نجعل السؤال لهذه الفقرة لحياتنا الروحية هو : &#8221; هل السماء عظيمة فعلا في حياتك ؟&#8221; أو بصيغة أخرى أكثر تحديدا : &#8221; أيهما أعظم في نظرك السماء أم الأرض ؟&#8221;.</p>
<p dir="rtl">قد نجيب قائلين : &#8221;  السماء &#8220;، لكن هل هذا فعلا المعنى الحاضر في حياتك ؟</p>
<p dir="rtl">على الرغم من أن جميع الناس وبدون استثناء تقول أن السماء عظيمة ، ولكن الناس على مستوى العالم كله في حالة من حالات الحروب والصراعات الداخلية والخارجية . فقد نسمع مثلا عن الحرب الباردة وهي التي فيها شكل من أشكال التهديد ، ونسمع عن حرب الطعام بأن تحرم بلاد من الطعام . ونسمع عن حرب المياه فقد يعاني العالم من أزمة المياه . ونسمع عن حرب المعلومات وهكذا . وهذا معناه أن جميع الناس يتحاربون على أمور أرضية ، ومن هنا يسأل السيد المسيح : &#8221; أيهما أعظم الذهب أم الهيكل الذي يقدس الذهب ؟&#8221; فالذهب هنا يرمز إلى الأرض ، والهيكل يرمز إلى السماء . إذا من الأعظم في نظرك السماء أم الأرض ؟ ثم سألهم سؤالاً آخر : &#8221; أيهما أعظم القربان أما المذبح الذي يقدس القربان  ؟&#8221; القربان هو القمح الذي يرمز للأرض والمذبح يرمز للسماء ، للأسف هؤلاء اليهود سقطوا في عادات شكلية  &#8220;الرياء &#8220;. وأنت في عباداتك الروحية خلال هذا الصوم أيهما أعظم عندك السماء أم الأرض ؟ هل أفكارك وأقوالك وأفعالك سمائية أم أرضية ؟</p>
<p dir="rtl">+ من هم الفريسيون :</p>
<p dir="rtl">جماعة الفريسيون يعادلون الحاصلين على أعلى الشهادات &#8221; الدكتوراه &#8220;، وكلمة فريسي تعني مفرز أو مخصص ، وفي المسيحية معناها مكرس ، وكانت مشكلتهم الشخصية أنهم كانوا يعيشون في خطية مزدوجة وهي خطية الرياء الممزوج بالعناد ، أو العناد الممزوج بالرياء ، بمعنى أن كل واحد من هؤلاء الفريسيين بالرغم من تعليمه العالي إلا أنه كان أسلوب حياته وسلوكه مزيج من الرياء المخلوط بالعناد ، لدرجة أنه يرى النور ويقول عليه ظلام ، ويذوق الحلو ويقول عليه مر ، وهذا هو العناد هو تغيير للحقائق ، والإنسان الذي يقع في هذا الفخ تعتبر حياته مقضي عليها ، ولذلك يسألك المسيح : &#8221; أيهما أعظم السماء أم الأرض ؟&#8221;، وأرجوك لا تتعجل وتُجيب قائلاً : &#8221; السماء &#8220;، لأنك إذا عشت في الأرض ستكون بهذه الصورة الشريرة .</p>
<p dir="rtl">+ الويلات الثمانية :</p>
<p dir="rtl">هناك ثمانية أخطاء رئيسية وقع فيها هؤلاء الفريسيون بحسب النص الإنجيلي لمعلمنا (متى ٢٣) وهو ما يعرف ب &#8221; إنجيل الويلات &#8220;، وممكن أن نقول عنهم سبع طرق لاستجلاب غضب الله :</p>
<p dir="rtl">(ع ١٣) &#8221; لأنكم تغلقون ملكوت السماوات قدام الناس فلا تدخلون أنتم ولا تدعون الداخلين يدخلون &#8220;. وهذا معناه أنهم لا يدعون الداخلين يدخلون الملكوت ، ولا هم يدخلون ، فكل اعتباراتهم أرضية ، ويمنعون الناس من دخول السماء عن طريق العثرة أو الخطية .</p>
<p dir="rtl">(ع ١٤) &#8221; لأنكم تأكلون بيوت الأرامل ولعلة تطيلون صلواتكم . لذلك تأخذون دينونة أعظم &#8220;. فهم يأخذون أموال الأرامل ، ويطيلون الصلاة لينالوا مديح الناس .</p>
<p dir="rtl">( ١٥) &#8221; لأنكم تطوفون البحر والبر لتكسبوا دخيلاً واحداً &#8220;، هذا معناه أنهم يبحثون عن الشعبية ، فهم يحولون الناس بعيداً عن الله ليكونوا مثلهم  .</p>
<p dir="rtl">( ١٦) &#8221; ويل لكم أيها القادة العميان &#8220;. هم يقودون الشعب وهم عميان ، تخيل معي أن أعمى يقود آخرين فكيف يقودهم ؟</p>
<p dir="rtl">قد يكون الخادم أعمى في المعرفة الروحية أو الخبرة الروحية ، فماذا تكون النتيجة ؟ هل يمكن لأعمى أن يقود أعمى  ؟ كلاهما يسقطان كنتيجة طبيعية ، وهكذا كان الفريسيون .</p>
<p dir="rtl">(٢٣ )  &#8221; لأنكم تعشرون النعنع والشبت والكمون وتركتم أثقل الناموس : الحق والرحمة والإيمان &#8220;. كانوا ينشغلون بالتفاصيل غير المهمة ، وتجاهل ما هو مهم ، بمعنى  أنهم يهتمون بالأمور الصغيرة التي بلا قيمة ويتركون ما هو مهم ، وهذا شكل من أشكال الرياء وعدم الحكمة ، فتجدهم يتحدثون عن الشبث والكمون والنعناع ، وهي نباتات تُزرع على ضفاف البحيرات والأنهار على مساحات صغيرة ، واستخدام الإنسان فيها قليل ، وهم يقولون لا بد من تقديم عشور النعناع والشبث والكمون ، وماذا عن الأمور المهمة الرحمة والحق والإيمان ؟ ماذا عن أن يتسم الإنسان بالحق ويكون رحيم ولديه إيمان قوي ؟ فيجيب : &#8221; أنها بلا فائدة وأنها خارج الصورة &#8221; فينشغلون بالتفاصيل التافهة أو القليلة الأهمية ويتركون ما هو مهم .</p>
<p dir="rtl">(ع ٢٥)  &#8221; لأنكم تنقون خارج الكأس والصحفة وهما من داخل مملوآن اختطافاً ودعارة &#8220;. وهذا معناه أنهم يحافظون على المظاهر بينما حياتهم الداخلية فاسدة ، وهذه نسميها &#8221; آفة الحياة الروحية &#8220;، فالشخص يهتم بالشكل ويترك الجوهر .</p>
<p dir="rtl">( ٢٧)  &#8221; لأنكم تُشبهون قبوراً مبيضة تظهر من خارج جميلة وهي من داخل مملوءة عظام أموات وكل نجاسة &#8220;. هم يتظاهرون بالروحانية لتغطية الخطية .</p>
<p dir="rtl">(٢٩ ) &#8221; لأنكم تبنون قبور الأنبياء وتزينون مدافن الصديقين &#8220;. هم يدعون التعلم من الماضي ، بينما سلوكهم الحاضر يظهر أنهم لم يتعلموا شيئاً .</p>
<p dir="rtl">هذه الويلات الثمانية في حياة الفريسيين كشفها السيد المسيح ، ولا أنسى أن أعيد عليك السؤال : أيهما أعظم في نظرك السماء أم الأرض ؟ اعلم يا أخي أنه كلما تتعاظم السماء في نظرك ، كلما تنال التطويبات لهذا ، في حين أنه كلما تكبر الأرض في عينيك وتصغر السماء تجد نفسك تميل للويلات ، ولهذا فإن التطويبات في (متى ٥) أما الويلات في (متى ٢٣) وكل منهما يمثل حياة السماء وحياة الأرض .</p>
<p dir="rtl">إذا يمكن أن نقول أن كل ما كان يشغل هؤلاء الفريسيون هو القوة والمال والمركز وانتهت الحكاية بالنسبة لهم ، ولهذا هم عاشوا حياتهم ما بين العناد والرياء ، وتسببوا في خمس صفات أو نتائج وهي التي يحاول كل واحد فينا أن يتجنبها .</p>
<p dir="rtl">+ صفات الفريسيين :</p>
<p dir="rtl">١- صفة الظلم :</p>
<p dir="rtl">هم ظالمون لأن السيد المسيح قال عنهم: &#8221; أنهم يأكلون بيوت الأرامل &#8220;، وكانت أضعف فئات المجتمع في العهد القديم هي فئة الأرامل . قد يظلم الإنسان دون أن يدري ، ممكن يظلم شعبه أو أسرته أو يظلم نفسه أو يظلم المجتمع الصغير الذي يعيش فيه ، وممكن يكون الإنسان ظالم في أفكاره وفي وجهات نظره ، ولهذا تعلمنا الكنيسة خلال الصوم عن الرحمة وتقول : &#8221; طوبى للرحما على المساكين &#8220;، فهل عندك فكر الأرض الذي يظلم أم الفكر السماوي الذي يرحم ؟ وأيهما أعظم في حياتك السماء أم الأرض ؟</p>
<p dir="rtl">۲۔ صفة العثرة :</p>
<p dir="rtl"> من الممكن أن يخدم الإنسان ولكن تكون خدمته مليئة بالعثرات ، وأحياناً يخفي عدو الخير عن عينيك أنك تسبب عثرة معينة للآخرين ، ويرتدي الخادم المعثر ثوباً كأنه من السماء ، ويأخذ ألقاب ، فمثلا الفريسيون كانوا يلقبوهم ب &#8221; لقب معلم &#8221; وكان يطلب منهم العلم .</p>
<p dir="rtl">ولهذا عندما يعثر الإنسان من معلم تكون العثرة كبيرة جداً لأنها تجعل الإنسان ابناً لجهنم ، ولذلك مطلوب منا جميعاً كخدام ومعلمين أن الشخص لا بد أن ينتبه لتصرفاته ، وقد قال بولس الرسول لتلميذه تيموثاوس : &#8221; لاحظ نفسك والتعليم وداوم على ذلك &#8221; (١ تي ٤:١٦).</p>
<p dir="rtl">٣- صفة المادية :</p>
<p dir="rtl">بمعنى أن حياتهم صارت مادية في كل شيء ، وأقرب مثال أمامنا هو &#8221; يهوذا الإسخريوطي &#8220;، &#8220;، عندما قاس قيمة السيد المسيح في عينيه بثلاثين من الفضة ، فمن العلامات التي تكشف الإنسان لنفسه أن يقدركل الأشياء بمقاييس أرضية ، وقد تكلمت معكم قبل ذلك عن المزمور ( مز٤١) &#8221; طوبى لمن يتعطف على المسكين في يوم الشر ينجيه الرب &#8220;، وسواء يتعطف بأمور مادية أو معنوية ، تكون النتيجة أو المكافأة غالية جداً ، وهو أنه في يوم الشر ينجيه الرب،  أي مقياس لهذه البركة ؟ ولأن الفريسيين كانوا لصوصاً فوضعوا أمامهم المقياس المادي في كل شيء ، فيقول عنهم الكتاب : &#8221; ويل لكم أيها القادة العميان القائلون : من حلف بالهيكل فليس بشيء ، ولكن من حلف بذهب الهيكل يلتزم !  مقياس مادي  أيها الجهال والعميان أيما أعظم : ألذهب أم الهيكل الذي يقدس الذهب ؟&#8221; (مت ٢٣ : ١٦، ١٧)، وبالتأكيد الإجابة واضحة .</p>
<p dir="rtl">٤ صفة الحرفية :</p>
<p dir="rtl">هم كانوا حرفيين في كل شيء، ونعلم أن الحرف يقتل والروح يحيي ، والرياء المصحوب بالعناد دائماً ما يسبب ضيق الفكر ، وضيق في الأفق ، ففي (ع ٢٣) ركزوا على النعناع والشبث والكمون وتركوا الرحمة والحق والإيمان ، فكيف يقاس هذان أمام بعضهما البعض ؟! لذا الإنسان الفريسي دائما حرفي في كل شيء . أحياناً في خدمة الآباء يأخذ الأب الطقوس بحرفية شديدة ، في حين أن الطقوس وضعت لكي ما تشرح لنا الإيمان ، ولكي ما تكون وسائل معبرة ومساعدة في حياتنا وفي عبادتنا ، ومن وظائف الطقوس أيضاً أنها تجمل العبادة &#8221; تجعل العبادة جميلة &#8220;، حيث يظهر ذلك في ملابس الكهنة والشمامسة وترتيب أماكن الوقوف ونغمات الألحان والقراءات التي تتلى وترتيب الصلوات والطقوس المصاحبة ، كل هذا يشكل جمال العبادة .</p>
<p dir="rtl">ذكرت معكم مرة سابقة أن الفريسي وصلت به الحياة اليهودية أنه عندما يأكل بيضة يسأل عن ما هو اليوم الذي باضت فيه الدجاجة ! فإذا كان يوم سبت تكون الدجاجة قد كسرت الشريعة ولا يأكل البيضة ، وهذه هي الحرفية . ولكن المسيحية هي ناموس الحرية ، مثلما عبر القديس بولس الرسول في رسائله بصفة عامة .</p>
<p dir="rtl">لذلك في مسيحيتنا يوجد أب الاعتراف ؛ لأن المسيحية تؤمن بالفروق الفردية بين الأشخاص ، فمن الممكن أن أقول لأب اعترافي ظروفاً صحيحة معينة تمنعني عن الصوم . قد أتذكر شخص كان يقدم ميطانيات باستمرار ولكن لظروفه الصحية أصبح غير مناسب أن يكمل ، فسأله أب اعترافه عن مكان سكنه ، فأجابه بأنه يسكن في أحد الأدوار العلوية نسبياً ، فقال له أب اعترافه : اعتبر صعود السلم كأنك تقدم العبادة بهذه الصورة ، وعليك أن تُردد هذه الصلاة القصيرة : &#8221; يا ربي يسوع المسيح ارحمني أنا الخاطئ &#8221; وأنت صاعد .</p>
<p dir="rtl">٥- صفة الشكلية :</p>
<p dir="rtl">الفريسيون كانوا شكليين ، بمعنى أن الشكل الخارجي هو اهتمامهم الأول ، ولهذا نحن في الصوم نحاول أن ندخل إلى الأعماق ، ففي يوم الرفاع تكون قراءة جزء من الكتاب وهي : &#8221; ادخل إلى مخدعك وأغلق بابك &#8221; (مت ٦ : ٦ ) .  وتعني ادخل إلى العمق وابتعد عن الشكل الخارجي ، ويظهر ذلك من الآية الجميلة التي قالها ربنا يسوع : &#8221; ماذا ينتفع الإنسان لو ربح العالم كله وخسر نفسه ؟&#8221; (مر ٨ : ٣٦)، وكلمة نفسه هنا تعنى أنه خسر السماء ، ويتضح فعل الآية إذا استبدلت كلمة &#8221; إنسان &#8221; باسمك . هذا هو حال الفريسيون يهتمون بالشكل دون الجوهر مثل من يصلون في زوايا الشوارع ، ومثل ما نقرا في العهد الجديد أن السيد المسيح يقول : &#8221; متى صمت ومتى صليت ومتى قدمت صدقة ، قدمها في الخفاء فهو ( الله ) يجازيك علانية &#8220;. هذه الصورة تضع الإنسان أمام نفسه ، وتضعه أمام السؤال : أيهما أعظم في نظرك السماء أم الأرض؟ وهذا ما جعل بولس الرسول يقول تعبيره الجميل : &#8221; إنسان الله &#8220;، بمعنى أن كل واحد فينا يأخذ جنسية إنسان الله ، فتصير أنت في حياتك إنسان الله ، بمعنى إنسان له نصيب في السماء ، ولا تنس أن الإنسان عندما يولد وينال سر المعمودية نقول عليه &#8221; الولادة الجديدة &#8221; من فوق ، فصارت السماء مفتوحة أمامه ويبقى أن يجاهد ليحافظ عليها .</p>
<p dir="rtl">وأنت عندما تقرأ أصحاح التطويبات (مت ٥)، وأصحاح الويلات (مت ٢٣)، وإشعياء النبي (إش ٥) وما شرحه لنا بصورة واضحة &#8221; ويل للقائلين للشر خيراً وللخير شراً، الجاعلين الظلام نوراً والنُور ظلاماً ، الجاعلين المر حلوا والحلو مرا  ويل للحكماء في أعين أنفسهم ، والفهماء عند ذواتهم &#8221; (إش ٥ : ٢٠ &#8211; ٢١)، كان هؤلاء الفريسيون حكماء عند أنفسهم ، والفهماء عند ذواتهم ، فقد وقعوا في خطية الشكلية ، وبهذه الصورة أصبحت حياتهم أرضية ونهايتهم في الأرض .</p>
<p dir="rtl">ضع هذا السؤال أمامك خاصة ونحن في النصف الثاني من الصوم ومتجهين إلى أسبوع الآلام وإلى الصليب والقيامة ، واجعل فكرك في السماء وروحك في السماء وقلبك في السماء وقس نفسك على أي ضعف ناتج من هذه الويلات .</p>
<p dir="rtl">لإلهنا كل مجد وكرامة من الآن وإلى الأبد . أمين .</p>
<p dir="rtl">المرجع : كتاب إختبرني يا الله صفحة ٢٨٤ &#8211; قداسة البابا تواضروس الثاني</p>
<h5></h5>
<h5></h5>
<h4>إنجيل القدَّاس للمتنيح الأنبا أثناسيوس مطران كرسي بني سويف والبهنسا</h4>
<p dir="rtl">ويلات متتالية : ( مت ۲۳ : ۱۳ &#8211; ٣٦ )</p>
<p dir="rtl">ان الكلمة اليونانية « Ouai » المترجمة هنا « ويل » تؤدي معنى التوبيخ مع شعور الأسى كأن تقول : « لهفي عليك ، أو « وأأسفاه عليك » فحتى في تأنيبه لهم ظهر حبه وأسفة عليهم.</p>
<p dir="rtl">ولقد ألقي الرب الضوء واضحا على نواحي حياتهم الشكلية المتزمتة الغريبة التي بها يغلقون باب الملكوت فلا يدخلون ولا يدخل تابعوهم ، وكان هذا الويل الأول مقدمة كسائر الويلات التالية التي تتكلم عن تفصيلات الأخطاء التي تجعلهم لا يدخلون باب السماء.</p>
<p dir="rtl">١- الطمع في مال الفقير والأرملة ، أما رب المجد فقد علم تلاميذه الا يحملوا كيسا ولا مزودا ، مجانا أخذوا مجانا يعطون ، وأن الطمع عبادة أوثان .</p>
<p dir="rtl">٢-يتظاهرون بالتقوى والصلوات الطويلة لكى ينخدع بهم الناس فيظنوهم حملان أتقياء وهم من داخل ذئاب خاطفة .أما الرب فقد أوصى تلاميذه &#8221; تعلموا مني لأني وديع ومتواضع القلب&#8221; و &#8221; طوبي للودعاء لأنهم يرثون الأرض &#8220;.</p>
<p dir="rtl">٣- لم يكن عملهم من أجل تخليص النفوس بل من أجل ضم أتباع الطريق ، وفي الداخل يتعلمون الشر الدفين . أما تلاميذ الرب فغايتهم خلاص النفوس ولا يطلبون أتباعا لذواتهم لأن المسيح يسوع لم ينقسم ، وليس بولس وأبولس وبطرس سوي خداما لاسمه .</p>
<p dir="rtl">٤ &#8211; التفسيرات المبتدعة وتحريف الكتاب : فقد نوعوا القسم وجعلوا القسم بالهيكل لا شيء وبذهبه شيئا ، هكذا يعظمون التقدمة &#8221; الذهب والقربان &#8221; لأنها تؤول اليهم ، وجعلوا نفعهم المادي فوق أقداس الله .</p>
<p dir="rtl">٥-تمسكوا بالشكليات من غسل كؤوس وأباريق ، وتمسكوا بالماديات كالعشور . وتركوا الفضائل كالحق والرحمة والايمان . أما تلاميذ الرب فيعملون هذه وتلك .</p>
<p dir="rtl">٦- يهتمون بالبريق الخارجي في الألفاظ ويكسبون الأمور قيما جوفاء ليخفوا الشر الدفين في القلب . أما في الديانة الصحيحة فالانسان الصالح من كنز قلبه الصالح يخرج الصلاح .</p>
<p dir="rtl">٧- وهكذا تراكم الشر في القلب ، واختفي وراء المظهرية الخادعة حتى صار القلب كقبر يحوي النتانة والنجاسة مشحونا رياء واثما •</p>
<p dir="rtl">۸ &#8211; وهم يبنون قبور الأنبياء ويزينونها متبركين بها ، معلنين أسفهم على تصرفات أبائهم مع الأنبياء ولكنهم يرفضون رب المجد وتلاميذه ويضطهدونهم &#8221; تقتلون وتصلبون وتجلدون وتطردون&#8221; وهكذا يأتي عليهم كل دم زکی سفك على الأرض من دم هابيل الصديق الى دم زكريا بن برخيا .</p>
<p dir="rtl">ولا شك أن أولئك الكتبة والمعلمين الذين تلك تصرفاتهم ، يأتي عليهم غضب الرب . ولكننا لا ننسى أنه في كل كلامه كان يخاطب الجموع وتلاميذه (مت ۱:۲۳) وفي ختام الكلام يقول انه يرسل أنبياء وحكماء وكتبة ( اية ٣٤ ) فهو يعطى الدرس مدويا في عقول التلاميذ أن يكونوا معلمين وكتبة من نوع جديد روحی والا يحيدوا الى تلك الانحرافات الخانقة للروح •</p>
<p dir="rtl">وجدير بالذكر أن الرب هاجم السلوك المنحرف ولم يهاجم النظام الموضوع من الشريع . فلم ينطق بالويل على الكهنة لأن الكهنوت نظام ، بل نطق على الكتبة والمعلمين المنحرفين. ( آية ٣٥ ) من هو زكريا بن برخيا ؟</p>
<p dir="rtl">(أ)لعله زكريا ابن يهوياداع الذي واجه الشعب بخطاياهم في أيام يوآش الملك وقاموا عليه ورجموه بالحجارة في دار بيت الرب (۲أي ٢٤: ٢٠-٢٢) وهذه قالها جيروم : أن &#8221; يهوياداع&#8221;معناها « مبارك من الله وهي ذات معنی براخيا.</p>
<p dir="rtl">( ب ) أو هو زكريا النبي بن براخيا بن عدو (زك ۱ : ۱) وهذه قالها فم الذهب.</p>
<p dir="rtl">( ج ) أو هو زكريا أبو يوحنا أذ يقول هيبوليتس وأوريجانس وابيفانيوس وباسيليوس أن أباه كان براخيا ، وقالوا أن هيرودس قتله لأنه أخفي يوحنا ابنه حين طلبوا قتله مع أطفال بيت لحم .</p>
<p dir="rtl">ويكون الرب قد قصد أن متاعب جميع القديسين من هابيل الى خاتم الأنبياء زكريا تطلب من ذلك الجيل لأنهم لم يستفيدوا من الدروس السابقة وسلكوا كأسلافهم نحو الأنبياء والرسل . أردت ۰۰۰ ولم تريدوا : (مت ۲۳ : ۳۷۔ ۳۹)</p>
<p dir="rtl">وأورشليم نفسها التي ستنقض عليه هو في نهاية الأمر لتسفك دمه ، يأتي عليها يوم يندك هيكلها وتبطل عبادتها ويشرد ساكنوها . وقد حدث ذلك جميعه في العام ۷۰ م حين أحاط بها جنود الرومان بقيادة القائد تيطس ودمروها تماما وتشتت الشعب الساكن فيها .</p>
<p dir="rtl">( آية ۳۹ ) ولاشك أن من يرفض الرب يرفض الى أن يجيء وقت يعترف فيه بخطيئته ويقول : مبارك الآتي باسم الرب ، فينال الغفران أو يخضع له مرغما في يوم الدينونة حين &#8221; تنظره كل عين والذين طعنوه وينوح عليه جميع قبائل الأرض &#8221; (رؤ ١ : ٧)</p>
<p dir="rtl">المرجع : كتاب تفسير إنجيل متي (الإصحاح الثالث والعشرية صفحة ٢٣٦-٢٣٩) &#8211; الأنبا أثناسيوس مطران كرسي بني سويف والبهنسا &#8211; لجنة التحرير والنشر بمطرانية بني سويف</p>
<h5 dir="rtl"></h5>
<h5 dir="rtl"></h5>
<h4 dir="rtl">الديان العادل للمتنيح الأنبا بيمن أسقف ملوي</h4>
<p dir="rtl">   &#8221; وجلس عن يمين أبيه وأيضا يأتي في مجده لیدین الأحياء والأموات&#8221; إن مجئ المسيح للدينونة عقيدة هامة من عقائد الكنيسة الواحدة المقدسة الجامعة الرسولية وقد سجل في قانونها الإيماني هذه العبادة &#8221; وأيضا يأتي في مجده لیدین الأحياء والأموات &#8221; .</p>
<p dir="rtl">   وفي الليتورجيات سواء التي إستعملت في القرون الأولى أو التي وصلت إلينا بعد المجامع المسكونية نجد صلوات تؤكد حقيقة المجيء الثاني المخوف المملوء مجدا.</p>
<p dir="rtl">   ففي تسابيح الكنيسة الأولى نقرأ&#8221; أفرحوا بالرجاء المجيد، سيأتي يسوع</p>
<p dir="rtl">الديان ، ويأخذ خدامه عاليا . إلى منزلهم الأبدي . وسنسمع فی الحال صوت رئيس الملائكة وسيبوق بوق الله قائلا أفرحوا &#8220;.</p>
<p dir="rtl">   وفي القداس الباسيلي المستعمل في الكنيسة الشرقية يقول الكاهن &#8221; وقام من الأموات وصعد إلى السموات وجلس عن يمينك أيها الآب ورسم يوما للمجازاة هذا الذي يظهر فيه ليدين المسكونة بعدل ويعطي كل واحد كنحو أعماله &#8221; ويقول الكاهن أيضا ساعة حلول الروح القدس على القرابين &#8220;ففيما نحن أيضا نصنع ذكرى آلامه المقدسة وقيامته من الأموات وصعوده إلى السموات وجلوسه عن يمينك أيها الآب وظهوره الثاني الآتي من السموات المخوف المملوء مجدا نقرب لك قرابينك من الذي لك على كل حال ومن أجل كل حال وفي كل حال.</p>
<p dir="rtl">   وفي قداس القديس أغريغوريوس يقول الكاهن &#8221; أظهرت لي إعلان مجيئك الذي تأتي فيه لتدين الأحياء والأموات وتعطي كل واحد كأعماله &#8220;.</p>
<p dir="rtl">   وكان الرسل يشهدون للرب في كرازتهم أنه هو المعين من الآب ديانا للأحياء والأموات وبولس الرسول يقول لتلميذه تيموثاوس &#8221; أنا أناشدك أمام الله والرب يسوع المسيح العتيد أن يدين الأحياء والأموات عند ظهوره وملكوته &#8221; (۲ تی ٤: ١). وفي موضع آخر يقول &#8221; أخيرا وضع لى إكليل البر الذي يهبه لی فی ذلك اليوم الرب الديان العادل وليس لي فقط بل لجميع الذين يحبون ظهوره أيضا &#8221; (۲ تي ٤: ٨).</p>
<p dir="rtl">   كما يقول رسول الأمم في الرسالة الثانية لأهل كورنثوس &#8221; لأنه لابد أننا جميعا نظهر أمام كرسي المسيح لينال كل واحد ما كان بالجسد بحسب ماصنع خيرا كان أم شرا&#8221; (۲ کو ه : ۱۰).</p>
<p dir="rtl">   ومعلمنا بطرس الرسول يعزى المؤمنين الذين في الشتات بقوله &#8221; إن الذين يضطهدونكم سوف يعطون حسابا للذي هو علي إستعداد أن يدين الأحياء والأموات &#8221; (ابط ٤ : ه) بينما يعقوب الرسول يزيدهم تعزية بقوله &#8220;هوذا الديان واقف قدام الباب (يع ٥ : ۹).</p>
<p dir="rtl">منذ القديم</p>
<p dir="rtl">   ومنذ القديم و إسرائيل يعرف جيدا أن الله ديان عادل . فقد طلب جدعون من الله أن يقضي بينه وبين العمونيين &#8221; فأنا لم أخطىء إليك ، وأما أنت فأنك تفعل بی شرا بمحاربتی ، ليقضى الرب القاضي اليوم بين بني إسرائيل وبنی عمون (قض ۱۱ : ۲۷).</p>
<p dir="rtl">   وحين خاصمت سارة إبراهيم وهاجر قالت &#8221; يقضى الرب بيني وبينك</p>
<p dir="rtl">(تك ١٦: ٥). وقال داود لشاول &#8221; يقضى الرب بيني وبينك وينتقم لي الرب منك ولكن يدي لا تكون عليك &#8221; (١صم ٢٤ : ۱۲).</p>
<p dir="rtl">أمثال السيد المسيح عن الدينونة</p>
<p dir="rtl">   لقد جاء المسيح يسوع إلى البشرية فاديا ومخلصا ، رقيقا وحنونا ، مشجعا غافرا ، داعيا الجميع إلى التوبة والخلاص . ولكنه نبه البشرية إلى أنه في مجيئه الثاني سيأتي قاضيا ديانا عادلا.</p>
<p dir="rtl">   وقد أورد الرب في تعاليمة أمثالا تتحدث عن الدينونة المزمع حدوثها عند مجيئه المخوف الآتي :</p>
<p dir="rtl">   مثل الحنطة والزوان (مت ۱۳ : ٢٤ &#8211; ۳۰) &#8221; إنسان عدو زرع زوانا طلب العبيد من رب البيت أن يقلعوه ، رفض قائلا في وقت الحصاد أقول للحصادين إجمعوا أولا الزوان إحزموه حزما ليحرق وأما الحنطة إجمعوها إلى مخزني &#8220;.</p>
<p dir="rtl">  ومثل الغني الغبي الذي أضاع حياته في جمع الأموال والرغبة في توسيع المخازن وفي لحظة أخذت روحه وقيل له أيها الغبي هذه التي أعددتها لمن تكون (لو ۱۳:۱۲-٢١)</p>
<p dir="rtl">   مثل الشبكة المطروحة في البحر . وهذه التي أمتلأت فجمعوا الجياد فی</p>
<p dir="rtl">أوعية وأما الأردياء فطرحوها خارجا . هكذا يكون في انقضاء العالم يخرج الملائكة ويفرزون الأشرار من بين الأبرار ويطرحونهم في أتون النار هناك يكون البكاء وصرير الأسنان (مت ۱۳ : ٤٧ &#8211; ٥٠).</p>
<p dir="rtl">    وفي مثل العذاري الحكيمات والجاهلات (مت ٢٥ : ۱- ۱۳) لما جاء العريس مستعدات دخلن معه إلى العرس وأغلق الباب وأخيرا جاءت بقية العذارى أيضا قائلات يا سيد يا سيد أفتح لنا فأجاب الحق أقول لكم أني ما أعرفكن ويقول معلمنا متى أيضا ومتى جاء أبن الإنسان في مجده وجميع الملائكة القديسين معه فحينئذ يجلس على كرسي مجده ويجمع أمامه جميع الشعوب فيميز بعضهم عن بعض كما يميز الراعي الخراف عن الجداء . ويقول للذين عن يمينه &#8220;تعالوا يا مبارکی أبی رثوا الملكوت المعد لكم منذ تأسيس العالم &#8221; ويقول للذين عن اليسار &#8221; أذهبوا عني يا ملاعين إلى النار الأبدية المعدة لإبليس وملائكته &#8221; .</p>
<p dir="rtl">راجع (لو ١٤: ١٥ &#8211; ٢٤) ، (لو ۱۹ : ۱۱ &#8211; ۲۸) ، (لو ۱۷: ۲۰ &#8211; ۲۷) .</p>
<p dir="rtl">الدينونة آنية ومستقبلية معا</p>
<p dir="rtl">   عندما تحدث الرب عن الدينونة أعطاها بعديها المميزين في المسيحية البعد الزمني ، والبعد الإسكاتولوجى ( الآخروی ) .</p>
<p dir="rtl">   لقد أوضح أنه الآن ساعة الإنتفاضة من موت الخطية وعبودية الجسد والآن إلى حرية مجد أولاد الله إذ يقول &#8221; تأتي ساعة وهي الآن حين يسمع الأموات صوت أبن الله والسامعون يحيون &#8221; (يو ٥: ٢٥).</p>
<p dir="rtl">   فالمسيح بتجسده المبارك أدان البشرية الساقطة واللاهية وكسر شوكة الخطية وحطم قوة العدو . لقد أدان كبرياء الإنسان بإتضاعه ، وأدان الحقد والكراهية والبغضاء بالحب الباذل حتى الصليب</p>
<p dir="rtl">   ويقول القديس أغسطينوس في شرحه لكلمة الله الحية ذات الحدين . إن لها حد التشجيع للتوبة والخلاص ، ولها حد الإدانة إذ تحتفظ الكلمة بفاعليتها حتی المجيء الثاني لكي يستد كل فم وفي هذا يقول الرب &#8220;الكلام الذي أكلمكم به هو الذي يدينكم&#8221;. وفي اليوم العظيم في ملئ الأزمنة عند انقضاء الدهر سيأتي الرب علی</p>
<p dir="rtl">السحاب متوشحا بجسده ومحتفظا بآثار جراح الجلجثة . هذه ستكون نبعا للحب والفرح الذي لا ينضب لجماعة المفديين إذ سيدخلون معه الى عرش عشاء الخروف وأما الهالكون واللاهون والمجدفون واللذين إحتقروا صليب الرب فسوف يقولون للجبال أسقطی علينا وللأكام غطينا من وجه الجالس على العرش . هذه هي الدينونة الرهيبة . لقد وعد أنه آت سريعا ومن له أذنان للسمع فليسمع.</p>
<p dir="rtl">المرجع : كتاب ألقاب المسيح ووظائفه ( صفحة ١٣٦ &#8211; ١٤٠) &#8211; الأنبا بيمن أسقف ملوي وأنصنا والأشمونين</p>
<hr />
<p><a href="#_ftnref1" name="_ftn1">[1]</a><sup>&#8211; تفسير رسالة أفسس &#8211; ص ١٢٦ &#8211; القمص تادرس يعقوب ملطي.</sup></p>

      {% endcreateArticleAccordions %}
    </section>
  {% endblock %}
  