---
layout: 'layouts/reading.html'
title: 'تاريخ قراءات الصوم الكبير'
tags: 'great-lent'
permalink: /articles/great-lent/51.html
---
  {% block content %}
    <section id="article">
      <h3 class="mt-8 mb-4 heading-explain">شرح القراءات</h3>
      {% createArticleAccordions %}
        <h3><strong>يرجع</strong> <strong>تاريخ</strong> <strong>القراءات</strong> عامّة إلى الكنيسة الأولى، فقراءة مقتطفات من العهد القديم، وأخرى من العهد الجديد، كان هو ضمن ترتيب الليتورجيا المقدّسة في الكنيسة الأولى.</h3>
<p>&#8220;<strong>ففي</strong> <strong>كنيسة</strong> <strong>الإسكندريّة</strong> كانت هناك قراءتان من العهد القديم (الناموس والأنبياء) واثنتان من العهد الجديد (هما الرسائل والإنجيل)، وفيما بعد أُخِذت الأربع قراءات من العهد الجديد&#8221;<a href="#_ftn1" name="_ftnref1">[1]</a></p>
<p><strong>لكنّه</strong> <strong>لم</strong> <strong>يكن</strong> <strong>ترتيب</strong> <strong>كنيسة</strong> <strong>الإسكندريّة</strong> <strong>وحدها،</strong> بل أيضا كل الكنائس في العالم. وإلى الآن تُقرأ قراءة من العهد القديم في قدّاس الكنيسة الرومانية.</p>
<p>ففي عيد الميلاد على سبيل المثال يُقرأ من (إشعياء9:١-٦) في قدّاس ليلة عيد الميلاد ويُقرأ من (إشعياء٥٢: ٧-١٠) في قدّاس الصباح في يوم العيد.</p>
<div data-test-id="message-view-body">
<div data-test-id="message-view-body-content">
<div>
<div id="yiv7456352011">
<p><span>وقي عيد القيامة نقرا من (تث</span><span>٣٢</span><span> :</span><span>٣٩</span><span>-</span><span>٤٣)</span> <span>،</span><span>(</span><span>أش</span><span>٦٠</span><span> :</span><span>١</span><span>-</span><span>٨)</span><span>،</span><span> (</span><span>أش</span><span> </span><span>٥</span><span>:</span><span>٤٢</span><span> -</span><span>١٧)</span><span> </span><span>،</span><span> (</span><span>أش</span><span> </span><span>١٣</span><span>:</span><span>٤٩</span><span>-</span><span>٢٣)</span><span> </span><span>،</span><span> (</span><span>أر</span><span>٢٣</span><span>:</span><span>٣١</span><span> -</span><span>٢٨)</span><span> </span><span>،</span><span> (</span><span>حب</span><span>٣</span><span> : </span><span>٢</span><span> -</span><span>١٩)</span><span> </span><span>،</span><span> (</span><span>زك</span><span>١٠</span><span>:</span><span>٢</span><span>-</span><span>١٣)</span><span> </span><span>،(</span><span>أش</span><span> </span><span>٤٩</span><span>: </span><span>٦</span><span>-</span><span>١١)</span><span> </span><span>،</span><span> (</span><span>سي</span><span> </span><span>٥</span><span> :</span><span>١</span><span>-</span><span>٧)</span><span> </span></p>
</div>
</div>
</div>
</div>
<p><strong>ويقول</strong> المهندس فؤاد نجيب يوسف أن قراءات من العهد القديم كانت ضمن ليتورجيا القدّاس في الكنيسة القبطيّة:</p>
<p><strong>[في</strong> <strong>القرون</strong> <strong>الأولي</strong> <strong>للمسيحية،</strong> كانت القراءات اليومية تحوي فصولاً من الناموس والأنبياء، لكنها بدأت تتقلص في الكنيسة القبطية حتى انحصرت في قراءات أيام الصوم الكبير وأسبوع الآلام].- <a href="#_ftn1" name="_ftnref1">[٢]</a></p>
<p><strong>&#8220;كما</strong> <strong>يوضّحه</strong> <strong>أيضاً</strong> <strong>طقس</strong> <strong>يوم</strong> <strong>الأحد</strong> بحسب القدّيس يوستين<a href="#_ftn2" name="_ftnref2">[٣]</a>:</p>
<p>في اليوم الذي يقال له الأحد، لنا إجتماع عام يحضره المواطنون سواء كانوا في المدينة أو في قرية.</p>
<p>تُقرأ ميامر الرسل (وهى الأناجيل بحسب توضيح يوستينوس الشهيد في احتجاجه الأول فصل ٦١).</p>
<p>أو كتابات الأنبياء بقدر ما يتّسع الوقت [يُلاحظ في (أع٢٠: ٧) أن بولس الرسول بدأ القراءة والوعظ من العشية وأطال حتى منتصف الليل].</p>
<p>وعندما ينتهى القارئ، يقوم الرئيس بالوعظ داعياً إلى اقتفاء أثر هذه الأمثلة التي اتبعت الحق، وبعد ذلك نقوم جميعنا واقفين ونقدّم صلوات وبعد أن ننتهى من صلواتنا:</p>
<p>يُقدّم (للرئيس) الخبز والخمر، والذي يترأس الجماعة يقدّم أيضاً صلوات طلبات وصلوات شكر على قدر استطاعته.</p>
<p>الشعب يعبّر عن موافقته بكلمة آمين.</p>
<p>توزّع الإفخارستيا ويشترك فيها كل الحاضرين.</p>
<p><strong>إذاً</strong> <strong>الهيكل</strong> <strong>الحالي</strong> <strong>لقراءات</strong> <strong>الصوم</strong> <strong>الكبير</strong> <strong>المقدَّس</strong> (قراءات من العهد القديم والجديد) كان هو الشكل والترتيب الرئيسي لقراءات القدّاس الإلهي في الكنيسة القبطيّة في العصر المسيحي الأول، ولكن ليس بكثافة قراءات اليوم وكثرة إقتباساتها.</p>
<p><strong>ويوضح الأب اثناسيوس المقاري </strong>في كتابه<a href="#_ftn3" name="_ftnref3">[٤]</a>:</p>
<p>أن قراءات أسفار كاملة وقت الصوم الكبير المقدَّس، كان تقليد تتّبعه كل كنائس العالم في العصور الأولى للمسيحية.</p>
<p><strong>ويذكر</strong> <strong>القدّيس</strong> <strong>يوحنا</strong> <strong>ذهبي</strong> <strong>الفم</strong> (٣٤٧- ٤٠٧ م) أن سفر التكوين كان يُقرأ كله في فترة الصوم الكبير، وهو نفس النظام الذي كانت تتبعه كنيسة ميلان في زمن القدّيس أمبروسيوس (٣٣٩ - ٣٩٧ م)<a href="#_ftn4" name="_ftnref4">[٥]</a></p>
<p><strong>قراءة</strong> <strong>سفر</strong> <strong>أيوب</strong> في فترة الصوم المقدَّس، صارت عادة تختص بكنيسة مصر دون غيرها من الكنائس. كما أن فصولاً للقراءة من سفر إشعياء في الكنيسة القبطية، هى مأخوذة من التقليد البيزنطي<a href="#_ftn5" name="_ftnref5">[٦]</a></p>
<p>وفِي الجانب الآخر، تَشَابُه قراءات أناجيل القدّاسات في الصوم الكبير المقدَّس في الكنائس التقليدية حتى هذا اليوم، لهو دليل على قِدَمْ تاريخ قراءات الصوم الكبير المقدَّس حتى ولو إعترته بعض الإختلافات.</p>
<p><strong>فعلى</strong> <strong>سبيل</strong> <strong>المثال:</strong></p>
<p><strong>إن</strong> <strong>فصل</strong> <strong>إنجيل</strong> <strong>الابن</strong> <strong>الشاطر</strong> نجده في الكنيسة الأرمينية في الأحد الثالث من الصوم، وفي الكنيسة المارونية في الأحد الرابع من الصوم، وفي الكنيسة البيزنطيّة في الأحد الثاني ضمن الأربعة آحاد التي تسبق الصوم المقدَّس الكبير.</p>
<p><strong>أما</strong> <strong>فصل</strong> <strong>إنجيل</strong> <strong>شفاء</strong> <strong>المفلوج</strong> <strong>أو</strong> <strong>المُخَلَّع</strong>، فموجود في الكنيسة السريانية في الأحد الثالث من الصوم، وفي الكنيسة المارونية في الأحد الخامس من الصوم.</p>
<p><strong>أما</strong> <strong>فصل</strong> <strong>إنجيل</strong> <strong>شفاء</strong> <strong>المولود</strong> <strong>أعمي،</strong> فمعروف في الكنيستين السريانية والمارونية في نفس الأحد السادس من الصوم.</p>
<p><strong>كما</strong> <strong>يذكر</strong> <strong>العالم</strong> <strong>الطقسي</strong> <strong>ابن</strong> <strong>كبر</strong> (١٣٢٤م) أناجيل آحاد الصوم الكبير المقدَّس في عصره، والتي تتشابه إلى حد كبير مع قراءات اليوم بإستثناء بعض فصول الأناجيل القليلة &#8221; (أناجيل الأيام)<a href="#_ftn6" name="_ftnref6">[٧]</a></p>
<p><strong>وفِي</strong> <strong>آحاد</strong> <strong>الصوم</strong> <strong>الكبير</strong> <strong>في</strong> <strong>الكنيسة</strong> <strong>الرومانية</strong><a href="#_ftn7" name="_ftnref7">[٨]</a> يُقرأ (مت٦: ١-٦) في بداية الصوم (إنجيل أحد الرفاع في كنيستنا القبطية)، وفصل التجربة في الأحد الأول، والسامرية في الأحد الثالث، والمولود أعمي في الأحد الرابع (في السنة الأولي)، وفصل الإبن الضال في الأحد الرابع (في السنة الثالثة)</p>
<h4><strong>ملحوظة</strong></h4>
<p>&#8220;تُقَسّمْ قراءات الصوم الكبير في الكنيسة الرومانية على ثلاث سنوات، وتختلف قراءات كل سنة عن الأخرى، وتُعاد نفس القراءات كل ثلاث سنوات&#8221;</p>
<h3>المراجع</h3>
<p><a href="#_ftnref1" name="_ftn1">[1]</a><sup>- </sup><sup>الإفخارستيا</sup> <sup>في</sup> <sup>القرون</sup> <sup>الأولي</sup> <sup>ص</sup> <sup>٤٦</sup> <sup>نيافة</sup><sup> الأ</sup><sup>نبا</sup> <sup>مكاري – الأسقف العام.</sup></p>
<p><a href="#_ftnref1" name="_ftn1">[٢]</a> المرجع كتاب دراسة منهجية للقراءات الليتورجية للكنيسة القبطية (صفحة ١٤٨) - مهندس فؤاد نجيب يوسف</p>
<p><a href="#_ftnref2" name="_ftn2">[٣]</a><sup>- كتاب الإفخارستيا والقدّاس ص ٤٠٧ - الأب متى المسكين.</sup></p>
<p><a href="#_ftnref3" name="_ftn3">[٤]</a> <sup>- كتاب صوم نينوى والصوم المقدس الكبير - الأب أثناسيوس المقاري.</sup></p>
<p><a href="#_ftnref4" name="_ftn4">[٥]</a> <sup>- كتاب صوم نينوى والصوم الكبير - ص.١٧٨، ص ١٧٩ - الأب أثناسيوس المقاري.</sup></p>
<p><a href="#_ftnref5" name="_ftn5">[٦]</a> <sup>- كتاب صوم نينوى والصوم الكبير - ص ١٧٩ -  الأب أثناسيوس المقاري.</sup></p>
<p><a href="#_ftnref6" name="_ftn6">[٧]</a><sup>- صوم نينوي والصوم المقدس الكبير ص 226 - الآب اثناسيوس المقاري.</sup></p>
<p><a href="#_ftnref7" name="_ftn7">[٨]</a> <a href="https://stjandedoper-vechtenvenen.nl/kopie/wp-content/uploads/sites/20/Website-leesrooster-A-jaar.pdf"><sup>https://stjandedoper-vechtenvenen.nl/kopie/wp-content/uploads/sites/20/Website-leesrooster-A-jaar.pdf</sup></a></p>

      {% endcreateArticleAccordions %}
    </section>
  {% endblock %}
