---
layout: 'layouts/reading.html'
title: 'موضوع قراءات الصوم الكبير'
tags: 'great-lent'
permalink: /articles/great-lent/54.html
---
  {% block content %}
    <section id="article">
      <h3 class="mt-8 mb-4 heading-explain">شرح القراءات</h3>
      {% createArticleAccordions %}
        <h3>التوبة ( دعوة الحب الالهي للبشرية )</h3>
<p>هى البوق الذي تُنذر به الكنيسة أولادها، وهى اللحن الجميل الذي تجعلهم يتغنّون به طوال الصوم، تمهيدا لأن يكون ترنيمتهم اليومية الجديدة التي تؤهلهم لعُرْس الحَمل.</p>
<p>هى رسالة الخلاص اليومية، والشغل الشاغل لرعاتها، وموضوع خدمتها.</p>
<p>هى إحتياج المبتدئين، وشهوة الساعين إلى الكمال.</p>
<p>لذلك جعل الروح موضوع التوبة هو المجد الذي يتخفّي وراء غطاء القراءات (إش ٤: ٥).</p>
<h4>وأعلنت الآحاد المنائر السبع للتوبة</h4>
<p><strong>(</strong><strong>١</strong><strong>)</strong> <strong>فأحد</strong> <strong>الرفاع</strong> هو الإعلان عن أبوّة الله الآب، المدخل الوحيد للتوبة الحقيقية، فنحن أبناء لأبينا السماوي، وعبادتنا له جوهرها الحب، وخالية من خوف العبيد، ومن طمع الأجراء، فهى لا تهدف إِلَّا لذوق محبّته والدخول إلى أعماقها.</p>
<p><strong>(</strong><strong>٢</strong><strong>)</strong> <strong>وأحد</strong> <strong>الكنوز</strong> يعلن عن غنى التوبة، فليست التوبة حرمان من الخطيّة، بل عطش دائم، وجوع لا يهدأ نحو النعمة.</p>
<p><strong>(</strong><strong>٣</strong><strong>)</strong> <strong>وأحد</strong> <strong>التجربة</strong> والنصرة يكشف عن نصرتنا في المسيح له المجد ضد قوات الظلمة، بأسلحة الروح الفعّالة، وهى كلمة الله، فالرب إنتصر بما هو مكتوب لنعيش الكلمة وتصير سر قوتنا.</p>
<p><strong>(</strong><strong>٤</strong><strong>)</strong> <strong>وأحد</strong> <strong>الإبن</strong> <strong>الضال</strong> يعلن دوام الأيدي المفتوحة حتى لو جئنا من كورة بعيدة، فالعجل المسمّن والحذاء والخاتم والفرح المُعدّ، هم غنى الآب الدائم لكل التائبين.</p>
<p><strong>(</strong><strong>٥</strong><strong>)</strong> <strong>وأحد</strong> <strong>السامرية</strong> يعلن هدف التوبة، الإكتشاف المستمر لغنى ابن الله، وإعلان الرب لذاته لنا يوماً بعد يوم، وإرتوائنا المستمر من الماء الحي.</p>
<p><strong>(</strong><strong>٦</strong><strong>)</strong> <strong>وأحد</strong> <strong>المُخَلَّع</strong> هو مسؤولية التوبة، فنحن مسؤولون بصورة أو بأخرى عن خطايا الآخرين، وعندما ننشغل بأبديّة من حولنا، ومن نقابلهم على الدوام، نعلن صدق توبتنا.</p>
<p><strong>(</strong><strong>٧</strong><strong>)</strong> <strong>وأحد</strong> <strong>المولود</strong> <strong>أعمى</strong> يحكي إستنارة التوبة، وإنفتاح أعين النفس الداخلية على الملكوت، وعلى حضور ابن الله والسجود الدائم له.</p>
<p><strong>لذلك مفهوم التوبة </strong><strong>حسب قراءات آحاد الصوم هو:</strong></p>
<ul>
<li>يقين بنوّتنا لله الآب</li>
<li>وإكتشاف غنى المسيح كنزنا السماوي</li>
<li>ونصرتنا بكلمته المقدسة</li>
<li>وثقتنا في الأيدي المفتوحة يعد الكورة البعيدة</li>
<li>وإستعلان إبن الله في حياتنا يوم بعد يوم</li>
<li>ومسؤوليتنا ورسالتنا تجاه خطايا إخوتنا</li>
<li>والعين التي لا تفارق النظر ألي الملكوت.</li>
</ul>
<p><strong>من</strong> <strong>خلال</strong> <strong>هذه</strong> <strong>المنائر</strong> <strong>السبع</strong> <strong>لايكون</strong> <strong>مركز</strong> <strong>التوبة</strong> - في المقام الاول -</p>
<p><strong>موقفنا</strong> <strong>من</strong> <strong>الخطيّة</strong> <strong>المحيطة</strong> <strong>بِنَا</strong> (عب ١٢: ١) ، <strong>بل</strong> <strong>بالأحرى</strong> <strong>مدى</strong> <strong>إستجابتنا</strong> <strong>لمحبّة</strong> <strong>المسيح</strong> <strong>التي</strong> <strong>تحصرنا</strong> (2كو ٥: ١٤).</p>

      {% endcreateArticleAccordions %}
    </section>
  {% endblock %}
