---
layout: 'layouts/reading.html'
title: 'اوجه التشابه بين قراءات الصوم الكبير في الكنيسة القبطية ومثيلاتها في الكنائس التقليدية'
tags: 'great-lent'
permalink: /articles/great-lent/56.html
---
  {% block content %}
    <section id="article">
      <h3 class="mt-8 mb-4 heading-explain">شرح القراءات</h3>
      {% createArticleAccordions %}
        <h3><strong><u>الكنيسة السريانية</u><a href="#_ftn1" name="_ftnref1">[1]</a></strong></h3>
<ul>
<li>
<h4><strong>الرسائل:&amp;</strong></h4>
</li>
<li><strong>صوم نينوى&amp;</strong></li>
</ul>
<p>يوم الثلاثاء القراءة من (1بط ٤: ٧- ١٩) وهي تشبه قراءة الكاثوليكون ليوم الثلاثاء أيضاً في الكنيسة القبطية (١بط ٤: ٣- ١١) وربما يكون المُتكرِّر في القراءتين للتأكيد فيها على نهاية كل شئ ، وسهر الصلاة ، ونقاوة المحبة (آيات من ٧- ٩).</p>
<ul>
<li><strong>الصوم الكبير&amp;</strong></li>
</ul>
<ol>
<li><strong>تأتي قراءة البولس</strong> في الأحد الأوَّل من الصوم في الكنيسة السريانية من (رو١٣:١١- ١٤)، إصحاح ١٤ كلُّه)، بينما تأتي قراءة البولس في الأحد الأوَّل في الكنيسة القبطية (أحد الكنوز) من (رو ١٣ كله).</li>
</ol>
<ul>
<li>الجزء المُشترك في القراءتين (رو١٣: ١١- ١٤) يؤكِّد على أهميَّة السهر والتوبة وخلع أعمال الظلمة ولبس أسلحة النور وأهميَّة إفتداء الوقت، وكيف يكون الرب يسوع كنزنا السماوي هو ثوب برُّنا.</li>
<li>كما تأتي قراءة البولس في السبت الملازم لأحد التجربة في الكنيسة القبطية من (رو ١٤: ١- ١٨)، وقراءة البولس في أحد التجربة من (رو١٤: ١٩-إلخ، ١٥: ١- ٧).</li>
<li>معنى هذا مجئ إصحاح ١٤ كله من رسالة رومية في الأحد الأوَّل في الكنيسة السريانية، وفي السبت السابق لأحد التجربة، وأحد التجربة.</li>
<li>وهو الإصحاح الذي تكلَّم عن قضية الأكل بصفة عامة، وكيف نعيش بالشكر في كل شئ، وللرب في حياتنا ومماتنا، وكيف نعيش جوهرالملكوت البر والسلام والفرح في الروح القدس.</li>
</ul>
<ol start="2">
<li><strong>قراءة البولس</strong> في (طقس المسامحة) في الكنيسة السريانية من (١كو١٣: ٤- ١٠)، وهي تُشبه قراءة البولس (١كو١٢: ٣١، ص١٣، ص١٤: ١) في يوم الخميس من الأسبوع الرابع في الكنيسة القبطية.</li>
</ol>
<p>وهنا التأكيد في الكنيسة السريانية في بداية الصوم علي الغفران والمُسامحة، بينما نجد جوهر هذه القراءة من المحبة والغفران ليست فقط في هذه القراءة بل نجد كل قراءات الصوم ممسوحة بهذه الوصيَّة.</p>
<ol start="3">
<li>قراءة البولس في الأحد الثاني من الصوم في الكنيسة السريانية من (رو١٦: ١- ٢٧) تُشبه قراءة البولس (رو١٦: ١٧- إلخ) ليوم الخميس من الأسبوع الثاني من الصوم في الكنيسة القبطية.</li>
</ol>
<p>الجزء المشترك في القراءتين يؤكِّد على وحدة الكنيسة والتحذير من الذين يصنعون الشقاقات والعثرات خلافاً للتعليم الصحيح.</p>
<ul>
<li><strong>الأبركسيس</strong></li>
</ul>
<ol>
<li><strong>قراءة الإبركسيس</strong> في الأحد السادس من الصوم في الكنيسة السريانية من (أع ٢٣: ١٢- ٢١) تُشبه قراءة الإبركسيس (٢٣: ١٢- إلخ) ليوم السبت من الإسبوع الثالث (السبت الملازم لأحد الإبن الضال).</li>
</ol>
<p>والجزء المُشترك في القراءتين يتكلَّم عن تحالف اليهود لقتل بولس وحنقهم عليه، وهم في هذا يُشبهون الأبن الأكبر الذي رفض دخول بيت أبيه عندما علم بقبوله أخيه الأصغر الذي ضل في كورة بعيدة، وهو يُمثِّل حزن اليهود علي قبول الأمم (الأبن الأصغر).</p>
<ol start="2">
<li><strong>قراءة الإبركسيس</strong> في جمعة الأربعين (ما يُماثل جمعة ختام الصوم عندنا) من (أع ٢١: ٤- ١٤) وهي تُشبه قراءة الإبركسيس (أع٢١: ١- ١٤) ليوم سبت الرفاع في الكنيسة القبطية.</li>
</ol>
<p>وهي القراءة التي تأتي فيها نبوة أغابوس النبي عن آلام بولس الرسول، كما يأتي فيها إستعداد القديس بولس للموت لأجل المسيح في أورشليم، وهو هنا رمز للمسيح له المجد في قبوله الارادي للآلام والموت، وكأنها إشارة من بعيد إلى الصليب، تبدأ بها الكنيسة القبطية قراءاتها في الصوم (سبت الرفاع)، وتختم بها الكنيسة السريانية قراءاتها (جمعة الأربعين).</p>
<ul>
<li>
<h4><strong>الأناجيل:</strong></h4>
</li>
<li><strong>صوم نينوى</strong></li>
</ul>
<ol>
<li><strong>قراءة يوم الإثنين</strong> من صوم نينوى في الكنيسة السريانية من (مت١٢: ٣١- ٤١)، وهي تُشبه قراءة إنجيل القدَّاس (مت١٢: ٣٥- ٤٥) ليوم الإثنين من صوم نينوى في الكنيسة القبطية.</li>
</ol>
<p>إشتركت القراءتان في الكلام عن آية يونان في بطن الحوت ثلاث أيام وثلاث ليال، وأضافت الكنيسة السريانية خطورة التجديف علي الروح في بداية القراءة (من آية ٣١- ٣٥)، بينما أضافت الكنيسة القبطية أيضاً نموذج ملكة التيمن في نهاية القراءة (من آية ٤١- ٤٥ ).</p>
<ol start="2">
<li><strong>قراءة يوم الأربعاء</strong> من قراءات نينوي في الكنيسة السريانية من (لو١٣: ١- ٨) جاءت في قراءتين في صوم يونان في الكنيسة القبطية: في إنجيل عشيَّة اليوم الأوٍّل من صوم يونان (لو١٣: ١- ٥)، وباكر اليوم الثاني من صوم يونان (لو١٣: ٦- ٩ )، وهي القراءة التي تكلَّمت عن أهمِّية التوبة للجميع، وطول أناة الله على كرمة حياتنا لعلها تثمر فلا تتعرَّض للقطع.</li>
</ol>
<ul>
<li><strong>الصوم الكبير</strong></li>
</ul>
<ol>
<li>قراءة طقس المسامحة في الكنيسة السريانية (مت١٨: ١٢- ٣٥) تُشبه قراءة إنجيل القدَّاس (مت١٨: ٢٣- ٣٥) للسبت الملازم لأحدالإبن الضال في الكنيسة القبطية، وهي القراءة التي تكلَّمت عن كيف يكون الغفران للآخرين بلا حدود، ومَثَلْ العبد مع سيده، ومع رفيقه.</li>
<li>قراءة الصباح (ما يقابله باكر في كنيستنا) في الأحد الثالث من الصوم في الكنيسة السريانية من (يو٥: ١- ١٨)، وهي نفس قراءة القدَّاس في أحد المخلَّع في الكنيسة القبطية، مع ملاحظة أن قراءة المساء (لو٥: ١٧- ٢٦)، وقراءة الصباح (يو٥: ١- ١٨)، وقراءة القدَّاس (مر٢: ١- ١٢) في الأحد الثالث من الصوم في الكنيسة السريانية كلها تتكلم عن شفاء المفلوج.</li>
<li>الأحد الرابع من الصوم من (مت١٥: ٢١- ٣١).</li>
<li>قراءة الصباح في الأحد السادس من الصوم في الكنيسة السريانية من (يو٩: ١- ٤١) وهي تُشبه قراءة إنجيل القدَّاس (يو٩: ١- إلخ) للأحد السادس من الصوم في الكنيسة القبطية.</li>
<li>قراءة إنجيل المساء (مر١٠: ٤٦- ٥٢) للأحد السادس من الصوم في الكنيسة السريانية، هي نفس قراءة إنجيل قدَّاس السبت الملازم لأحد المولود أعمي.</li>
<li>قراءة المساء والقداس (لو٤: ١- ١٣) في جمعة الأربعين في الكنيسة السريانية، هي نفس قراءة قدْاس يوم الأربعاء من الإسبوع الثالث.</li>
</ol>
<p>وقراءة الصباح في جمعة الأربعين الكنيسة السريانية (مت٤: ١- ١١)، هي نفس قراءة إنجيل قدَّاس يوم الأربعاء من الإسبوع الثالث.</p>
<h3><strong><u>الكنيسة البيزنطية</u></strong><a href="#_ftn2" name="_ftnref2">[2]</a></h3>
<ul>
<li><strong>قراءة البولس</strong></li>
</ul>
<p>في أحد مرفع الجبن (ما يقابل أحد الرفاع في الكنيسة القبطية) في الكنيسة البيزنطية <a href="#_ftn3" name="_ftnref3">[3]</a> جاءت من رسالة رومية (رو١٣: ١١- ١٤: ١- ٤).</p>
<p>كما جاءت قراءة البولس لسبت مرفع الجبن (ما يُقابل سبت الرفاع عندنا) من (رو ١٤ : ١٩).</p>
<p>وهي القراءة التي تتكلَّم عن أهمية التوبة وإفتداء وقت خلاصنا في نهاية إصحاح ١٣، وخطورة تقييم إيماننا بما نأكله أو لا نأكله في بداية إصحاح ١٤، ويأتي التأكيد أيضاً في نهاية إصحاح ١٤ (في قراءة سبت مرفع الجبن).</p>
<p>ونري مجئ الإصحاح الثالث عشر كلُّه في قراءات أحد الكنوز، ومجئ الإصحاح الرابع عشر كلُّه في قراءات السبت الذي يليه في قطمارس الكنيسة القبطية، وهو أيضاً للتأكيد على نفس المعاني في بداية الصوم.</p>
<p>كما تأتى <strong>قراءة البولس</strong> (رو١٤: ١٩- إلخ، ١٥: ١- ٧) ليوم الأربعاء من الأسبوع الأوَّل من الصوم مشابهة لقراءة سبت مرفع الجبن في الكنيسة البيزنطية (رو١٤: ١٩، ١٦: ٢٥).</p>
<p><strong>ملحوظة</strong><strong> :</strong>توجد في قراءات الكنيسة البيزنطية خاصيَّة إختيار أجزاء من قراءة وتكملتها بأجزاء أخرى من نفس الرسالة، كما نرى هنا في تكملة القراءة بآيات أخرى من بداية (رو١٦: ٢٥) الأمر الذي لا نجده في ترتيب كنيستنا القبطية التي تأتي فيه القراءة كاملة من نص معين.</p>
<ul>
<li>
<h4><strong>قراءة الإنجيل</strong></h4>
</li>
</ul>
<p>ليوم السبت من أسبوع مرفع الجبن في الكنيسة البيزنطية<a href="#_ftn4" name="_ftnref4">[4]</a> (ما يقابل سبت الرفاع في الكنيسة القبطية) جاءت من (مت٦: ١- ١٣)، وقراءة الإنجيل يوم أحد مرفع الجبن (ما يقابل أحد الرفاع) جاءت من (مت٦: ١٤- ٢١).</p>
<p>وهي القراءة التي تتكلَّم عن الصدقة والصلاة (سبت مرفع الجبن)، وعن الصوم والإنشغال بالكنز السماوي (أحد مرفع الجبن).</p>
<p>وقد جاءت القراءة عن الصدقة والصلاة والصوم (مت٦: ١- ١٨) في إنجيل القدَّاس في أحد الرفاع في الكنيسة القبطية.</p>
<p>وجاءت القراءة عن الإنشغال بالكنز السماوي في إنجيل القدَّاس في أحد الكنوز في الكنيسة القبطية.</p>
<ul>
<li>قبول المسيح له المجد للخطاة ودعوته لهم كطبيب جاءت في (مر٢: ١٤) في قراءة السبت من الأسبوع الثالث في الكنيسة البيزنطية<a href="#_ftn5" name="_ftnref5">[5]</a>، ونفس القراءة جاءت من (مت٩: ١٠) في قراءة يوم الثلاثاء من الأسبوع الأوَّل في الكنيسة القبطية.</li>
<li>قراءة الأحد الرابع من الصوم في الكنيسة البيزنطية<a href="#_ftn6" name="_ftnref6">[6]</a> جاءت من (مر٩: ١٧- ٣١).</li>
</ul>
<p>وهي القراءة التي تكلمَّت عن إخراج الروح الشرير من الغلام بعد تضرُّع أبوه ودموعه لأجل شفائه، وأيضاً قوة الصوم مع الصلاة في النصرةعلى الشيطان، وفي نهاية القراءة إشارة الرب إلى موته وقيامته.</p>
<p><strong>وجاءت هذه المعجزة ثلاث مرَّات في قراءات الصوم الكبير في الكنيسة القبطية:</strong></p>
<ol>
<li>في إنجيل باكر (مر٩: ٢٥- ٢٩) في يوم الإثنين من الأسبوع الثاني، وهنا الكلام عن إخراج الروح الشرير، وقوة الصوم والصلاة.</li>
<li>في إنجيل باكر (مر٩: ١٣- ٢٤) في يوم الثلاثاء من الأسبوع الخامس، وهنا الكلام عن سؤال الرب عن الإيمان لأجل الشفاء.</li>
<li>في إنجيل باكر (لو٩: ٣٧- ٤٣) في يوم الخميس من الأسبوع الخامس، وهنا الكلام عن شفاء الغلام من الروح الشرير.</li>
</ol>
<p>قراءة الإنجيل ليوم السبت من الأسبوع الخامس في الكنيسة البيزنطية<a href="#_ftn7" name="_ftnref7">[7]</a> جاءت من (مر٨: ٢٧).</p>
<p>وهي القراءة التي تكلمت عن وجود الرب في قيصرية فيلبس وسؤاله للتلاميذ عن من يقول الناس عن إبن الإنسان وإعتراف القديس بطرس بلاهوت المسيح له المجد، وإشارة الرب إلى موته وقيامته.</p>
<p>وهو نفس الموضوع الذي جاء من إنجيل لوقا (لو٩: ١٨- ٢٢) في قراءة إنجيل القدَّاس ليوم الثلاثاء من الأسبوع السادس في الكنيسةالقبطية.</p>
<h3><strong><u>الكنيسة اللاتينية</u></strong><a href="#_ftn8" name="_ftnref8">[8]</a></h3>
<ul>
<li><strong>قراءة البولس</strong></li>
</ul>
<p>قراءة الأحد السادس من الصوم (في السنة الثانية) في الكنيسة اللاتينية جاءت من (في٢: ٥- ١١)، وهي تُشبه قراءة البولس (في٢: ١- ١٦) ليوم الإثنين من الأسبوع الخامس من الصوم في الكنيسة القبطية.</p>
<ul>
<li>
<h4><strong>قراءات الأناجيل</strong></h4>
</li>
</ul>
<p><strong>السنة الأولي</strong></p>
<ol>
<li>إنجيل قدَّاس الأحد السابق للصوم في الكنيسة اللاتينية من (مت٦: ٢٤- ٣٤) تُشبه قراءة إنجيل القدَّاس (مت٦: ١٩- ٣٣) لأحد الكنوز في الكنيسة القبطية.</li>
<li>إنجيل قدَّاس الأربعاء السابق للصوم (أربعاء الرماد، وهو الأربعاء الخاص بالإستعداد للصوم) من (مت٦: ١- ٦، ٦: ١٦- ٢١) تُشبه قراءة إنجيل القدَّاس (مت٦: ١- ١٨) لأحد الرفاع في الكنيسة القبطية.</li>
<li>إنجيل قدَّاس الأحد الأوَّل من الصوم في الكنيسة اللاتينية جاءت من (مت٤: ١- ١١) وهي نفس قراءة إنجيل القدَّاس للأحد الثاني من الصوم (أحد التجربة).</li>
<li>إنجيل قدَّاس الأحد الثالث من الصوم في الكنيسة اللاتينية جاءت من (يو٤: ٥- ٤٢)، وهي تُشبه قراءة إنجيل القدَّاس (يو٤: ١- ٤٢) للأحد الرابع من الصوم (أحد السامرية).</li>
<li>إنجيل قدَّاس الأحد الرابع من الصوم في الكنيسة اللاتينية جاءت من (يو٩: ١- ١٣)، (١٤- ٢٥)، (٢٦- ٣٩)، وهي تُشبه قراءة إنجيل قدَّاس الأحد السادس من الصوم في الكنيسة القبطية (أحد المولود أعمى).</li>
</ol>
<p><strong>السنة الثالثة</strong></p>
<ol>
<li>قراءة الأحد الثالث من صوم الأربعين في الكنيسة اللاتينية (لو١٣: ١- ٩) تُشبه قراءة إنجيل قدَّاس الأربعاء من الأسبوع الخامس في الكنيسة القبطية (لو١٣: ٦- ٩).</li>
<li>قراءة الأحد الرابع من الصوم (لو١٥: ١١- ٣٢) والتي تحكي قصَّة الإبن الضال هي نفس قراءة أحد الإبن الضال في الكنيسة القبطية.</li>
</ol>
<h3>المراجع</h3>
<p><a href="#_ftnref1" name="_ftn1">[1]</a><sup>-</sup> <a href="https://dss-syriacpatriarchate.org/"><sup>https://dss-syriacpatriarchate.org/</sup></a><sup> الطقوس -الكنسية/كتب-القراءات/فهرس-قراءات-أعمال-الرسل-والرسائل</sup></p>
<p><a href="#_ftnref2" name="_ftn2">[2]</a><sup>- </sup><sup>الأنجيل الإلهي الشريف – مطبعة القبر المقدس- بطريركية أورشليم - سنة 1903 – في عهد البطريرك دميانوس الأول. </sup></p>
<p><a href="#_ftnref3" name="_ftn3">[3]</a><sup>- ص 251، 252 من المرجع السابق.</sup></p>
<p><a href="#_ftnref4" name="_ftn4">[4]</a><sup>- ص 156، 157 من المرجع السابق.</sup></p>
<p><a href="#_ftnref5" name="_ftn5">[5]</a><sup>-  ص 165 من المرجع السابق</sup></p>
<p><a href="#_ftnref6" name="_ftn6">[6]</a><sup>-  ص 166 من المرجع السابق</sup></p>
<p><a href="#_ftnref7" name="_ftn7">[7]</a><sup>-  ص 167 من المرجع السابق</sup></p>
<p><a href="#_ftnref8" name="_ftn8">[8]</a><sup>- <a href="https://stjandedoper-vechtenvenen.nl/kopie/wp-content/uploads/sites/20/Website-leesrooster-A-jaar.pdf">https://stjandedoper-vechtenvenen.nl/kopie/wp-content/uploads/sites/20/Website-leesrooster-A-jaar.pdf</a></sup></p>

      {% endcreateArticleAccordions %}
    </section>
  {% endblock %}
