---
layout: 'layouts/reading.html'
title: 'قراءات يوم الأثنين من الأسبوع السادس'
permalink: great-lent/6-1.html
---
  {% block content %}
    <section id="readings">
      <ul>
      {% if 'undefined' != 'undefined' %}
      
      {% else %}
      {% if 'null' != 'null' %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">العشية</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeVespers '' '' %}
          </div>
        </div>
      </li>
      {% endif %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">باكر</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeMatins '19.38:9-9' '41.12:1-12' '20.8:1-11@23.43:10-28@18.32:6-16' %}
          </div>
        </div>
      </li>
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <h3 class="flex items-center justify-between">
            <span class="kufi">القداس</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </h3>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeLitugy '52.4:1-18' '59.4:7-12' '44.18:9-18' '19.35:1-2' '42.13:1-5' %}
          </div>
        </div>
      </li>

      {% endif %}
        </ul>
    </section>
    <section id="article">
      <h3 class="mt-8 mb-4 heading-explain">شرح القراءات</h3>
      {% createArticleAccordions %}
        <p>&#8220;فَاللهُ الآنَ يَأْمُرُ جَمِيعَ النَّاسِ فِي كُلِّ مَكَانٍ أَنْ يَتُوبُوا، مُتَغَاضِيًا عَنْ أَزْمِنَةِ الْجَهْلِ.&#8221; (أع ١٧: ٣٠).</p>
<p>[رحمة للذين في التوبة، غير المؤمنين ردهم لتنقض افتراقات البيعة] (القدّاس الغريغوري &#8211; الطلبة).</p>
<p>[من يدعون أنفسهم أبراراً لا تقترب إليهم النعمة فإن كانت التوبة هى بداية النعمة فمن الواضح أن احتقار التوبة هو تخلّي عن النعمة] (القديس أمبروسيوس)<a href="#_ftn1" name="_ftnref1">[1]</a></p>
<p>[هل فقدت الثقة بسبب خطاياك الخطيرة؟ اطلب صلوات الآخرين استدع الكنيسة فتصلّي عنك فإن الرب يتطلّع إليها ويهبك ما يرفضه بالنسبة لك] (القديس أمبروسيوس)<a href="#_ftn2" name="_ftnref2">[2]</a></p>
<h3>شواهد القراءات</h3>
<p>(أم ٨: ١- ١١)، (إش٤٣: ١٠- الخ)، (أع٣٢: ٦- ١٦)، (مز٣٧: ٩)، (مر١٢: ١-١٢)، (١تس ٤: ١- ١٨)، (يع٤: ٧- ١٢)، (أع ١٨: ٩- ١٨)، (مز٣٤: ٢،١)، (لو١٣: ١- ٥).</p>
<h3>شرح القراءات</h3>
<p>تتكلّم قراءات هذا اليوم عن الكرازة الدائمة بالتوبة إحدي مسؤوليات الكنيسة المقدّسة بل وهى أهم رسالة تقوم بها.</p>
<p>تبدأ أمثال سليمان بالدعوة لمعرفة الله الحكمة أكثر قيمة من كنوز الأرض والبعد عن إلتواء القلب وإعوجاجه.</p>
<p>&#8220;لكم أيها الناس أناديكم وإلى بني البشر أعطي صوتي، افطنوا أيها الجهال في قلوبكم اسمعوني فإني أتكلم بعظائم وافتتاح شفتي استقامة لأن حنكي يلهج بالحق ومكرهة شفتي الكذب، خذوا تأديبي لا الفضة والمعرفة&#8221;.</p>
<p>ويشهد الرب في سفر إشعياء كل الشعب على خلاصه لهم وقبوله توبتهم وغفرانه خطاياهم.</p>
<p>&#8220;أنا أنا الرب ولا مخلص غيري إني أخبرتُ وخلصتُ وأسمعتُ وليس فيكم غريب وأنتم شهودي وأنا شاهد، أنا أنا هو الماحي معاصيك وآثامك لا أذكرها ذكرني فنتحاكم معاً قل آثامك أولاً لكي تتبرر&#8221;.</p>
<p>وفي سفر أيوب يوضّح أن الكرازة وتبكيت النفوس لا يعتمد على إمكانيات الرعاة وسنين وعمر خدمتهم قدر ما يخص عمل الله الفاحص القلوب والكلي.</p>
<p>&#8220;أليس في كثرة السنين معرفة الحكمة لكن في البشر روحاً ونسمة القدير تعلمني ليس الكثيرو الأيام حكماء&#8221;.</p>
<p>وتثق النفس في مزمور باكر أن الله يعرف جيداً كل شهواتها وكل أنينها.</p>
<p>&#8220;أمامك هى كل شهوتي وتنهدي عنك لم يخفَ&#8221;.</p>
<p>وفي إنجيل باكر يبكّت الرب اليهود لرفضهم خلاص ابنه الحبيب بعد تكرار رفضهم لأنبيائه ونداء التوبة الدائم لهم.</p>
<p>&#8220;ثم أرسل إلى الكرامين عند الأوان عبداً ليأخذ من الكرامين من ثمر الكرم فأخذوه وضربوه وأرسلوه فارغاً، فماذا يفعل رب الكرم يأتي ويهلك الكرامين ويعطي الكرم لآخرين أما قرأتم هذا مكتوب إن الحجر الذي رفضه البناؤون هذا صار رأس الزاوية&#8221;.</p>
<p>ويؤكّد البولس على القداسة والمحبّة الأخوية.</p>
<p>&#8220;فإنكم تعلمون أية وصايا سلمناكم بالرب يسوع لأن هذه هى ارادة الله قداستكم بأن تحفظوا أنفسكم من الزنى، أما المحبة الأخوية فلا حاجة لكم أن أكتب إليكم عنها لأنكم أنفسكم متعلمون من الله أن يحب بعضكم بعضاً&#8221;.</p>
<p>ويحذّر الكاثوليكون من عدم تطهير القلب على الدوام من الخطيّة خاصّة إغتياب الإخوة والإدانة.</p>
<p>&#8220;طهروا أيديكم أيها الخطاة ونقوا قلوبكم ياذوي الرأيين، لا يغتاب بعضكم بعضاً أيها الأخوة ، فمن أنت يا من تدين غيرك&#8221;.</p>
<p>وفي الإبركسيس يظهر الرب للقديس بولس ليطمئنه ويشجّعه على إستمرار الكرازة لأنّه سيقبل الكثيرين الإيمان في المدينة.</p>
<p>&#8220;فقال الرب لبولس برؤيا في الليل لا تخف بل تكلم ولا تسكت لأني أنا معك ولا يقوم عليك أحد ليؤذيك لأن لي في هذه المدينة شعباً كثيراً فأقام سنة وستة أشهر يعلم بينهم بكلمة الله&#8221;.</p>
<p>وتستنجد النفس في مزمور القدّاس بحماية الرب من المقاومين وخُدّام الظلمة.</p>
<p>&#8220;دِن يا رب الذين يظلمونني وقاتل الذين يقاتلونني خذ سلاحاً وترساً وانهض الى معونتي&#8221;</p>
<p>ويختم إنجيل القدّاس بإعلان الله في كل جيل ووقت بتدبيره الإلهي في حوادث البشر ومصائب الحياة وكوارث الطبيعة، بأن النجاة من الهلاك الأبدي أهم من كل شئ، ولا يهم كثيرا طريقة الموت أو سببه قدر مصير البشر وأبديتهم.</p>
<p>&#8220;وكان قد أتى إليه في ذلك الزمان قوم يخبرونه عن الجليليين الذين خلط بيلاطس دماءهم بذبائحهم فأجاب يسوع وقال لهم: أتظنّون أن هؤلاء الجليليين كانوا خطاة بين سائر الجليليين إذ كابدوا هذه الآلام؟، أقول لكم لا بل إن لم تتوبوا فجميعكم كذلك تهلكون&#8221;.</p>
<h3>ملخّص القراءات</h3>
<table width="503">
<tbody>
<tr>
<td width="91">أمثال سليمان</td>
<td width="412">التوبة هى معرفة الإبن الحكمة أفضل من كل كنوز الأرض.</td>
</tr>
<tr>
<td width="91">سفر إشعياء</td>
<td width="412">الله يُشهد كل الشعب على خلاصه لهم وغفرانه خطاياهم.</td>
</tr>
<tr>
<td width="91">سفر أيوب</td>
<td width="412">العمل الكرازي لا يخص إمكانيات البشر والرعاة وعدد السنين بل عمل الله وتبكيت روحه القدّوس.</td>
</tr>
<tr>
<td width="91">مزمور باكر والقدّاس</td>
<td width="412">تستنجد النفس بالحماية الإلهية ويعرف الله كل أنينها.</td>
</tr>
<tr>
<td width="91">البولس والكاثوليكون</td>
<td width="412">القداسة والمحبّة الأخوية وتطهير القلب على الدوام علامات صدق التوبة.</td>
</tr>
<tr>
<td width="91">الإبركسيس</td>
<td width="412">يدعم الله كارزيه على الدوام لأجل خلاص الناس ورجوعهم إلى الله.</td>
</tr>
<tr>
<td width="91">إنجيل القدّاس</td>
<td width="412">التوبة والإنشغال بالمصير الأبدي أهم من معرفة أسباب أحداث الحياة.</td>
</tr>
</tbody>
</table>
<h3>الكنيسة في قراءات اليوم</h3>
<table width="503">
<tbody>
<tr>
<td width="70">إنجيل باكر</td>
<td width="70">المسيح له المجد رأس الزاوية وإتساع الكرم الإلهي للأمم</td>
</tr>
<tr>
<td width="70">البولس</td>
<td width="70">مجئ الرب وماسيحدث فيه</td>
</tr>
<tr>
<td width="70">الكاثوليكون</td>
<td width="70">الجهاد الروحي ومقاومة إبليس</td>
</tr>
</tbody>
</table>
<p><a href="#_ftnref1" name="_ftn1"></a></p>
<h3>عظات ابائية</h3>
<h4 dir="rtl">التوبة للقديس أوغسطينوس</h4>
<p>[اشكر الله واشك ذاتك لانه يغفر خطاياك برحمه منه.اذ لو أراد ان يعاملك بحسب استحقاقك لما وجد فيك سوي ما يستحق الذم . اتق وجهه قبل مجيئه واعترف بما عليك كي لا يجد فيك سوي ما يستحق الثواب لا العقاب . الا يليق يمجد الله ان تعترف فتسبحه . بقدر ما تسئ حالة المريض يمدح الطبيب . اعترف أكثر بخطاياك أن راودك اليأس بسبب آثامك . كلما كثرت الخطايا المعترف بها كلما عظم مجد الغافر ، وطالما أنك تعترف بخطاياك فستظل نوعا ما على خلاف مع الله . وكيف لا يكون هذا حالك ان كنت تشكر ثم نعمل ما لا يرضيه ؟ أن اعترفت بخطاياك وشكوتها تبدأ مصالحتك مع الله الذي يلتهم خطاياك ان شكوتها من تلقاء نفسك انضمت إلى الله وكأنك أمام اثنين : الإنسان والخاطئ . هو صنع ما ارتضيته كإنسان وأنت صنعت ما ارتضيته كخاطئ . انقض ما صنعت ليخلص الله ما صنع . عليك ان تكره فيما صنعته أنت وان تحب ما صنعه الله . وحين يبدأ عملك ان يزعجك ينبثق عن اتهام الأعمال الشريرة مبدأ الأعمال الصالحة . أن الإقرار بالأعمال الشريرة بداية الأعمال الصالحة . لا تكن لطيفا مع نفسك ولا تداعبها ولا تفتر قائلا في باطنك : أني بار إذا أحببت النور والحق فعليك أن تشكو فيك آثامك . لا توفر نفسك ولا ترحمها . يرحمك الله بل اعترف بما تريد ان يغفره لك . اتخذ إثمك قاضيا عليك ولا تتخذه محاميا عنك . اجلس أنت على منبر ضميرك وامثل في قفص الاتهام . يغتبط الشيطان حين تتهمه وهذا جل ما يتمناه حقا . انه يريد ان ترشقه بأنواع التهم شرط ان يفقد اعترافك ماله من استحقاق . اتهم نفسك ليكون لك الله محاميا . سوف يشفي أمراضك كلها ، ولكن إذا شئت لأنه لو شفي كل مريض لما شفاه رغما عنه . أكتشف في اعترافك عن رحمه قلبك تدخل في قطيع الله . ]القديس أوغسطينوس</p>
<p>[يا أولاد الأفاعي من علمكم أن تهربوا من الغضب الآتي ألا تثمروا ثمراً يليق بالتوبة ، فكل شجرة لا تثمر ثمرا طيبا تقطع وتلقى في النار (لو ٣ : ٧ ، ۹) : إذا لم تثمر تلك الثمار الطيبة فباطلا تفكر بالحصول على مغفرة خطاياك بتوبة عميقة . ما هي تلك الثمار ؟ اسمع يوحنا « من كان لديه ثوبان فليقسمهما بينه وبين من لا ثوب له . ومن كان لديه طعام فليعمل كذلك . » هل تريد كلاما أكثر وضوحا وصراحة وتأثيرا من هذا الكلام ؟ وهل هو مخالف لما قال أنفا &#8221; فكل شجرة لا تثمر ثمراً تقطع وتلقى في النار &#8221; وهل هو مخالف لقضائه على الذين هم عن الشمال &#8221; اذهبوا عني يا ملاعين إلى النار الأبدية لأني جعت فلم تطعموني &#8221; (مت ٢٥ : ٤١ ، ٤٢) قليل على الإنسان أن يبتعد عن الخطيئة إذا اهمل الخطايا السالفة وفقا لما كتب : &#8221; يا أبني أن اخطات فلا تزد على خطاياك ولا تظن نفسك في حمي من الخطيئة حتى اتخذت هذا الموقف ، والنبي يقول &#8221; استغفر عما سلف من الخطأ ليترك لك &#8221; (ابن سيراخ ۱۱:۲۱) . وأي نفع لك من الاستغفار إذا لم تستعد لا يستجاب لك بفضل ثمارك الجديرة بالتوبة إن كنت نظیر شجرة عقيمة قطعت وألقيت في النار ؟ وإن شئت أن تستجب صلاتك فاغفر يغفر لك واعطي تعطي . أنك تطالع في الكتب المقدسة أن &#8221; الماء يطفئ النار الملتهبة والصدقة تلغى الخطايا » (ابن سيراخ ۳ : ۳۳) وتطالع أيضا &#8220;خبئ الصدقة في قلب الفقر وهي تتوسل إلى الرب من أجلك &#8220;كما وانك تقرأ ايضا &#8220;لذلك أيها الملك فلتحسن مشورتي لديك وأقتد خطاياك بالصدقة » (دا ٤ : ۲۷) .</p>
<p dir="rtl">القديس أوغسطينوس</p>
<p dir="rtl">المرجع : كتاب نقاوة القلب الجزء الاول ص ٤٤٦ &#8211; إعداد أحد الآباء الرهبان بدير السيدة العذراء &#8221; برموس &#8220;</p>
<h5 dir="rtl"></h5>
<h5 dir="rtl"></h5>
<h4 dir="rtl">إدانة الآخرين للقديس يوحنا ذهبي الفم</h4>
<p>[ما هذا الا يجوز لنا أن نلوم الخطاة ؟ نعم أن بولس يقول بعدم لوم الخطاة بالحري نقول إن المسيح يقول بهذا خلال بولس : وأما أنت فلماذا تدين أخاك ؟ وانت ايضا لماذا تزدري بأخيك ؟ &#8221; من أنت الذي تدين عبد غيرك ؟ &#8221; (يو ٤:١٤ ، ٥)</p>
<p dir="rtl">كما يقول : &#8221; إذا لا تحكموا في شيء قبل الوقت حتى يأتي الرب &#8221; (١كو ٤ : ٥) وفي نفس الوقت كمايقول في موضع آخر &#8221; وبخ ، انتهر ، عظ &#8221;  (٢تي ٤ : ٢) &#8220;الذين يخطنون وبخهم أمام الجميع&#8221; (١ تي ٥ : ٢٠) ، بهذا يظهر المسيح لم يأمر الجميع بعدم الإدانة بطريقة مطلقة إنما يمنح من تشمت فيهم خطية انتقاد الغير في أقل الأخطاء التي تصدر عنهم . ]</p>
<p>[ إن المخلص يشرح لنا قوة الوصية في عدم دينونة القريب بالكلمات الأتية &#8220;ولماذا تنظر القذى الذي في عين أخيك ، وأما الخشبة التي في عينك فلا تفطن لها&#8221; (مت ٧ : ٣) إن السيد يأمر الجميع على السواء الا يدينوا على الخطية ، لأن الذين أفسدتهم الخطايا الكثيرة لا يجوز لهم ان يؤنبوا غيرهم على الهفوات الطفيفة . إن المخلص يدل هنا بنوع خاص على اليهود الأشرار الذين يدينون القريب لهفوات صغيرة ويرتكبون هم الخطايا العظيمة لذلك وبخهم ابن الله قائلا : إنهم يربطون أحمالاً ثقيلة صعب حملها ويضعونها على أكتاف الناس ولا يريدون أن يحركوها بإصبعهم .</p>
<p dir="rtl">&#8220;لأنكم تعشرون النعنع والشبث و الكمون ، وتركتم أثقل الناموس : الحق والرحمة والإيمان &#8220;(مت ٢٣:٢٣) . والرسول بولس لم ينه اهل كورتوس عن دينونة الجميع بدون استثناء بل أمرهم أن يدينوا المتجاوزين إذا كانت جريمتهم ظاهرة لذلك لا يجوز أن نطعن بهؤلاء ونلومهم بل لنوضح لهم الخطأ ولا نرميهم بالكلام بل ننصحهم ولا نحمل عليهم لنصلحهم بالمحبة إنك بالانتقاد لا تعرض قريبك للقصاص بل أن تقع تحت طائلته إنك لا ترحمه بل تتلو حكمك على خطاياه . إن من يترك خطايا القريب . يخلص نفسه من الدينونة . إن معطي الحياة لا يقول : لا توقف الخاطئ عن عمله بل قال لا تدن أي لا تكن حاكماً قاس القلب لذلك أضاف إلى قوله ما بالك تنظر القذى الذي في عين أخيك .</p>
<p>القديس يوحنا ذهبي الفم</p>
<h5 dir="rtl"></h5>
<h4 dir="rtl">إدانة الآخرين للقديس ثيئوفان الناسك</h4>
<p>[وحيث أننا ننظر نظرة متعالية لأنفسنا فمن الطبيعي أن تكون نظرتنا للآخرين من أعلى لذلك ندينهم ونحتقرهم لأننا نظن في أنفسنا أننا بعيدين جداً عن مثل هذه الأخطاء التي ننسبها للأخرين . وحينما ننظر بهذا الوضع الخاطئ إلى أنفسنا يراقبنا العدو ويفتح عيوننا ، معلما إبانا أن نلاحظ بدقه كل ما يقوله الأخرين وما يفعلوه ومن هذه الملاحظات يرسم لنا فروضا استنتاجية عن أفكارهم ومشاعرهم ومن هذه الفروق تتكون فكرتنا عنهم هي غالبا ما تكون خاطئة وغير صالحة . حيث أنه يبالغ في تصوير ضعفات الناس ويطمس فضائلهم ولهذا تكون الأحكام الصادرة عليهم غير عادلة وينطبع العقل على سوء الظن والتشكك في الأخرين بحيله من العدو إذ يجعل هذا التيار دائم السريان فينا رغم أنه كاذب دائما . لذلك !!!</p>
<p dir="rtl">فمجرد أن يظهر لك العدو بعض الأخطاء في أقربائك أسرع في طرد هذه الفكرة لئلا تمتد بجذورها فيك وتنمو . القها بعيدا حتى لا يبقى فيك أي أثر لها . استبدلها بالتفكير في الصفات الحسنة التي تعرف أنها موجودة في قريبك وفي تلك المجموعة من الناس .</p>
<p>الطريقة الثانية الفعالة جداً : هي ألا تدع أفكار ضعفك الشخصي وأوجاعك وأعمالك الشريرة تفارق عقلك وذاكرتك وكنتيجة لهذا ستدرك أنك لا شيء لأنك بلا شك ستكتشف في نفسك عددا ليس بقليل من الأوجاع والأعمال الخاطئة الشريرة . إن كانت خطية أخيك مكشوفة أمام كل واحد وغير مستورة حاول أن تعرف سببها ليس بما يقترحه وجع الدينونة ولكن بما عليه شعورك الأخوي من نحوه وقل لنفسك قد سمح الله أن يسقط في هذه الخطية أو يمكث لفترة قصيرة بهذا الوضع غير اللائق كي يكون في نظر نفسه غير مستحق ويجني ثمار الإتضاع من محقرة الأخرين ويسر به الله اكثر فاكثر هذه النظرة ستكون نافعة وبلا ضرر فمن الأفضل لي أنا أيضا أن احفظ نفسي على الأقل من إدانة الأخرين ]</p>
<p>الأب ثيؤفان الناسك</p>
<p>المرجع ( للعظتين ) : كتاب نقاوة القلب الجزء الثاني صفحة ٩١٥ ، ٩٢٢ &#8211; إعداد أحد الآباء الرهبان بدير السيدة العذراء &#8221; برموس &#8221;</p>
<h4 dir="rtl"></h4>
<h4 dir="rtl"></h4>
<h3 dir="rtl">عظات اباء وخدام معاصرون :</h3>
<h4 dir="rtl">هل تحيا بالتوبة ؟ لقداسة البابا تواضروس</h4>
<h5 dir="rtl">يوم الأثنين من الأسبوع السادس لقداسة البابا تواضروس لو ( ١٣ : ١ – ٥ )</h5>
<p dir="rtl">هل تحيا بالتوبة ؟</p>
<p dir="rtl">هذه الأعداد الإنجيلية خمس آيات ، لكن يتكرر فيها آياتان مهمتان جدا &#8220;بل إن لم تتوبوا فجميعكم كذلك تهلكون &#8221; (لو ١٣ : ٣)، وأريدك أن تنتبه أن هذا التوجيه يتكرر على لسان ربنا يسوع المسيح . لذا أريد أن أتكلم معك عن التوبة ويد الله في الأحداث . علق إن توبة الإنسان هي عمله الأول والأخير ، والتوبة في كل يوم يقدمها الإنسان ؛ لأنه لا يعلم متى سيترك هذا العالم ، ولذلك عندما تحدث أحداث مثل التي تحدث باستمرار هي تدفعنا جميعاً لحياة التوبة ، وربما هذا الأمر هو الدرس الإيجابي الأول الذي يجب أن يعرفه ويعيشه كل إنسان فينا . في التاريخ توجد مجموعة عظات للقديس يوحنا الذهبي الفم وتسمى &#8221; عظات التماثيل &#8220;، في القرن الرابع الميلادي في أنطاكية فرض الإمبراطور ضرائب جديدة مما أدى إلى هيجان الشعب ، وفي وسط هذا الهياج حطموا تماثيل الإمبراطور والإمبراطورة ، وبعد ما حطموا التماثيل اكتشفوا مقدار الجرم الذي فعلوه فخافوا وبدأوا يلجأون إلى الكنيسة ويتمسكون بها ؛ لأنه في ذاك الزمان كان يوجد &#8220;حق اللجوء الكنسي&#8221;، وهذا الحق يمنع القبض على إنسان داخل الكنيسة ، فاستغل القديس يوحنا الذهبي الفم بطريرك القسطنطينية هذا الأمر ووجود الشعب في الكنيسة ثلاثة أسابيع لكي ما يضع أمرين :</p>
<p dir="rtl">&#8211; الأمر الأول : الصلاة، فالإمبراطور غضبان والشعب هايج وهناك عقاب قوي في انتظارهم</p>
<p dir="rtl">&#8211; الأمر الثاني : أنه قدم مجموعة من العظات كانت كلها تحث كل إنسان على أن يقدم توبة . كانت مشاعر الخوف تتملك الشعب ، فكان أفضل شيء أن تتحول تلك المشاعر إلى مشاعر توبة ، وسميت هذه العظات بعظات التماثيل ؛ لأنها كانت بمناسبة تحطيم تماثيل الإمبراطور .</p>
<p dir="rtl">لذلك يا أحبائي في مثل هذه الأحداث قد نتألم ونغضب وننزعج ، كنيستنا عبر التاريخ هي كنيسة شهداء وهذا الأمر ليس جديداً علينا ، ففي الترنيمة نقول : &#8220;أم الشهداء جميلة ، أم الشهداء نبيلة &#8221; ونقصد بذلك كنيستنا ، وهذا الأمر هو سبب حيوية كنيستنا ، فهي كنيسة قوية ، وقد تعتبر أكبر كنيسة في الشرق الأوسط ، وهذه الكنيسة شاهدة لمسيحها وتحيا وتخدم مجتمعها وتهتم بوطنها وستظل ، لذلك في أي حدث من الأحداث التي قد تتعرض لها الكنيسة حضر نفسك دائماً للتوبة ، حضر قلبك بأن يكون دائما قلب تائب ، وضع ذلك أمامك وأنت تواجه هذه الحياة ، فقد تواجهها بتوبتك الشخصية وبتوبتنا الجماعية في الكنيسة ، ولا بد أن تضع أمامك أربعة معان مهمة مثل شكل الصليب :</p>
<p dir="rtl">+ المعنى الأول : أن الله حاضر في كل مكان :</p>
<p dir="rtl">إلهنا حاضر دائماً وقال : &#8220;ها أنا معكم كل الأيام إلى انقضاء الدهر&#8221; (مت ۲۸ : ۲۰). ربنا يسوع عندما يتكلم لا يتكلم بصيغة المبالغة أو المحسنات اللفظية ، فهو يقصد الكلمة لذاتها ، وفي نفس الوقت في العالم سيكون لكم ضيق ، والغالبية تعرف قصص وأحداث الكتاب المقدس التي تثبت هذا الكلام ، ولكن مجرد إشارة صغيرة إلى سيرة حياة القديس يوسف الصديق وما تعرض له من ضيقات وآلام شديدة داخلية وخارجية من داخل أسرته وخارجها ، ولكن يقول لنا الكتاب : &#8220;وكان الرب مع يوسف فكان رجلاً ناجحاً &#8221; (تك ٣٩ : ٢)، وربما يوسف كان يتصرف قبل أن توجد الشريعة اليهودية ، ولكنه حفظ نفسه ووثق في إلهه وفي وجوده معه في كل مكان ، فهو لا يغيب عنه أبداً .</p>
<ul>
<li dir="rtl">المعنى الثاني : أن الله قادم في كل زمان :هناك تعبير جميل في الكتاب المقدس يقول : &#8220;عند المساء يبيت البكاء ، وفي الصباح ترنم&#8221; (مز ۳۰ : ٥). في المساء ( الظلام ) يحل الألم والبكاء ، ولكن اعرف أن الشمس أقوى من كل ظلام دائماً ، واعرف أن الشمس تقهر ظلام الليل تماماً ، ولكن لله مواقيت ومواعيد ، فهو صاحب التدبير .</li>
</ul>
<p dir="rtl">ربما من القصص الجميلة في الكتاب المقدس التي تظهر أن الله قادم في كل زمان قصة لعازر وأخته مريم ومرثا ، تلك الأسرة المحبوبة للسيد المسيح الموجودة في بيت عنيا ، ولكن لعازر سند هذه الأسرة قد مات ، وقد أرسلت الأختان للسيد المسيح يطلبونه للحضور قبل موت أخيهم ، ورغم ذلك نجد أن السيد المسيح بلغتنا البشرية يتأخر أربعة أيام ثم يأتي في الهزيع الرابع ، في (يو ١١ :١١) يقول : &#8220;لعازر حبيبنا قد نام&#8221;، هو مات ولكن المسيح لم ينزعج ، وجاء وتقابل مع الأسرة وفرح هذه الأسرة بإقامة لعازرذاتهً ، وصار لعازر خادماً وأسقفاً في منطقة قبرص .</p>
<p dir="rtl">الله قادم في كل زمان فهو ما زال يمسك الزمن ، ولا تظن أن هذا العالم يقوده أشخاص بل الله هو من يقوده ، ربما تسألني وتقول : والشر الموجود في العالم ؟ فأقول لك أن هذا الشر الله يعطيه فرصة لكي ما يتوب فهو يتمهل علينا ، تذكر معي اللص اليمين الذي قضى حياته كلها في الشر ، ولكن في الساعات القليلة من حياته قدم توية صادقة وقبلت هذه التوبة ونسميه &#8221; سارق الفردوس&#8221;.</p>
<p dir="rtl">+ المعنى الثالث : الله يحتضن كل إنسان :</p>
<p dir="rtl">السيد المسيح على الصليب فتح ذراعيه على الصليب استعداداً لكي ما يحضن كل إنسان ، جميعنا كبشر نفهم أن الله هو الذي يعطي التعزية وهو الذي يعطينا صبراً ، وهو الذي يسند الإنسان في حياته ، بالحقيقة الله يحضن كل إنسان . قد تتعرض لتجارب ومتاعب وضيقات ، وطالما أنت تقدم توبة ، وقلبك يتنقى باستمرار، فالله جاهز لكي ما يضعك في قلبه ويحفظك ، فمثلا نجد داود النبي ومراحل حياته وكيف كان شاول الملك يعتدي عليه ويريد أن يقتله وكيف أنقذه الله ، في وقت من الأوقات قال داود : &#8221; إلى متى يا رب تنساني إلى الانقضاء ، حتى متى تصرف وجهك عني ؟&#8221; (مز ١٤ : ١)، وفي وقت آخر يقول : &#8221; الرب يرعاني فلا يعوزني شيء &#8221; (مز ۲۳ : ۱)، ومرة ثالثة يقول : &#8221; ارحمني يا الله كعظیم رحمتك &#8221; (مز  : ١).</p>
<p dir="rtl">الله مستعد أن يحتضن كل إنسان في أتعابه وضيقاته ، ولذلك علمنا السيد المسيح عندما قال : &#8220;بصبركم اقتنوا أنفسكم&#8221; (لو ۲۱ : ۱۹)، نحن لن نجد راحة إلا في حضن السيد المسيح ، ولن نجد تعزية وصبر على كل ما يمكن أن نراه إلا عندما نرتمي عند أقدام المسيح من خلال صلواتنا في الإنجيل ، فهو الذي يدعوك في كل يوم : &#8221; تعالوا إلي يا جميع المتعبين والتّقيلي الأحمال ، وأنا أريحكم &#8221; (مت ۱۱ : ٢۸). فهو يحتضن كل إنسان .</p>
<p dir="rtl">+ المعنى الرابع : الله قادر على كل شيء :</p>
<p dir="rtl">ما زال هذا العالم كله بكل الخليقة المرئية وغير المرئية في يد الله ، فهو القادر على كل شيء ، والحلول التي يوجدها الله ربما لا يتخيلها الإنسان ، ولا بد أن تتذكر معي :</p>
<p dir="rtl">  الفتية الثلاثة في الأتون :</p>
<p dir="rtl">الفتية الثلاثة أمر الملك بإلقائهم في أتون النار المحمى سبعة أضعاف ، ولكن كان هناك إيمان الثلاثة فتية الذين قالوا للملك نبوخذ نصر عندما قال لهم : &#8221; من هو الإله الذي ينقذكم من يدي ؟&#8221; (دا ٣ :١٥)، فأجاب الفتية الثلاثة وقالوا : &#8220;لا يلزمنا أن نُجيبك عن هذا الأمر . هوذا يوجد إلهنا الذي تعبده يستطيع أن ينجينا من أتون النّار المتقدة، وأن ينقذنا من يدك أيها الملك &#8221; (دا ٣ : ١٦  ١٧).</p>
<p dir="rtl">الله قادر على كل شيء ، هو الذي يصنع حلا لم يخطر على قلب بشر حيث يحول الأتون إلى ندى بارد ، ولذلك في كل الأحداث التي تحدث بصفة عامة ثق أن الله يحولها بصورة أو بأخرى إلى أتون بارد ، لذلك لا تخف عند الحدث ، وإنما اجعل عينيك ممتدة أكثر وأكثر فترى يد الله التي تحرك الأحداث ، وترى يد الله التي تقدر على كل شيء .</p>
<p dir="rtl">-أيوب البار :</p>
<p dir="rtl">أيوب الصديق هو مثل يقرب لنا التعرض لتجارب كثيرة ومريرة ، واهتزت حياته ، وتقرأ في سفر أيوب مدى اختبارات هذا الرجل البار ، وفي النهاية يجد يد الرب التي  أرادت أن تُخلصه من خطية البر الذاتي والإحساس بالنفس ، ويخرجه من هذا الإحساس اختباره الجميل &#8221; بسّمع الأذن قد سمعت عنك ، والآن رأتك عيني &#8221; (أي ٤٢ : ٥). في مواجهة كل الأحداث ضع أمامك أربعة أمور :</p>
<p dir="rtl">١- الله الحاضر في كل مكان .</p>
<p dir="rtl">٢- الله القادم في كل زمان .</p>
<p dir="rtl">٣ الله الحاضن لكل إنسان .</p>
<p dir="rtl">٤ &#8211; الله القادر على كل شيء .</p>
<p dir="rtl">توبتك هي الأساس ، هي التي تعطيك هدوءاً وأنت في وسط الأحداث ، ولذلك ما حدث في الماضي ، وما يحدث الآن ، وما سيحدث في المستقبل لا سبيل غير أن الإنسان يقدم توبة &#8221; إن لم تتوبوا فجميعكم كذلك تهلكون &#8221; (لو ١٣ : ٥)، فكيف نواجه حياتنا من خلال توبة قلبنا بتوبة حقيقية ؟</p>
<p dir="rtl">تدريب</p>
<p dir="rtl"> هذا التدريب من (رومية ٨)، أريدك أن تتابع الآيات (۸ ، ۱۸ ، ۲۸ ، ۳۸) وهذه الآيات الأربع تُشكل منظومة لحياة الإنسان فينا ، وتعال نقرأها معاً :</p>
<p dir="rtl">+ (رو ۸ : ۳۸) &#8221; فإني متيقن أنّه لا موت ولا حياة ، ولا ملائكة ولا رؤساء ولا قوات ولا أمور حاضرة ولا مستقبلة ، ولا علو ولا عمق ، ولا خليقة أخرى ، تقدر أن تفصلنا عن محبة الله التي في المسيح يسوع ربنا &#8220;. ضعها أمامك وانتبه لصياغة القديس بولس الرسول لهذه الآية . إني متيقن أنه لا شيء يفصلني عن محبة الله التي في المسيح يسوع ربنا (رو ۸ : ٣٨).</p>
<ul>
<li dir="rtl">(رو ۸ : ۲۸) &#8221; ونحن نعلم أن كل الأشياء تعمل معا للخير للذين يحبون الله الذين هم مدعوون حسب قصده&#8221;. هذا اختبار إيمان ، الله بقدرته يصنع من كل الأشياء خيراً للإنسان بشرط واحد أن تحب ربنا بقلبك التائب ، ومهما كان التعب أو الألم لا بد أن تعرف أن كل الأشياء الله يستخدمها وتصنع الخير للذين يحبونه ، ومثلما كان يقول قداسة البابا شنوده الثالث : &#8221; كله للخير&#8221; فهو اختصار لهذه الآية (رو ٨ : ٢٨) .</li>
</ul>
<p dir="rtl">+ (رو ۸ : ۱۸) &#8221; فإني أحسب أن آلام الزمان الحاضر لا تقاس بالمجد العتيد أن يستعلن فينا &#8220;. الزمن الحاضر لا بد أن يكون فيه آلام ، ولكن هذه الآلام لا يمكن أن تقاس أبدأ بالمجد العتيد أن يستعلن فينا ، وعندما تحدث الآلام نرفع عيون قلوبنا إلى أمجاد السماء ، فالآلام الأرضية تجعل الإنسان ينظر إلى الأرض على أنها تراب ويشتاق بالأكثر إلى السماء ، إلا أن هذه الآلام التي يعانيها السائر في طريق الله ليست بأي ألم ، فهذه الآلام لأجل إيمانه ومن أجل توبته ولأجل حياته المستقيمة ولأجل شهادته لاسم المسيح .</p>
<p dir="rtl">+ (رو ۸ : ۸) &#8221; فالذين هم في الجد لا يستطيعون أن يرضوا الله &#8221; إذا فكر الإنسان بطريقة جسدانية أو استخدم عضلاته لا يرضي الله ، ربنا يريد منك أن تحيا بالروح ، يريد أن يكون قلبك مملوءا بروحه القدوس . فالإنسان ذو القلب الفارغ ، إن كانت حياته فارغة من كلمة الله وروحه ، تكون كل اهتماماته بالجسد ، لذلك هو خارج دائرة الله ، وهو يمثل الإنسان المتراخي في صلاته ، والمتخم بالأطعمة ، وصاحب الذات المتضخمة ، والذي لا يحيا بالقداسة .</p>
<p dir="rtl">جميعنا مدعوين للقداسة &#8220;كونوا قديسين&#8221;، ولذلك جهادنا الروحي في حياتنا لا بد أن يكون له نصيب في السماء ، ويبدأ هذا الجهاد على الأرض بتوبتنا ، والذين هم في الجسد لا يستطيعون أن يرضوا الله .</p>
<p dir="rtl">نحن نصلي من أجل حياتنا ، ومن أجل بلادنا ، ونصلي من أجل استقرار الأوضاع بصفة عامة ، نصلي من أجل مجتمعنا ومن أجل وطننا الغالي، ونصلي من أجل الذين أساءوا إلينا ، ونصلي أن يفتح الرب قلوبهم وعيونهم ، ونصلي من أجل كل إنسان في منصب أو مسئولية يتدبر حال هذه البلاد المحبوبة جدا في قلوبنا ليحفظها الرب من كل شر وكل فكر شرير ، ويحفظها نقية ويحفظ مصرنا وكل أفرادنا وكل الشعب المصري ، هذا الشعب الذي عاش طوال حياته في صورة الاعتدال والمحبة الأخوية ، وصداقتنا الواسعة وقلوبنا المفتوحة لكل أحد ، وإن كانت هناك أحداث قد تحدث وتملأنا بالحزن والغضب إلا أننا نقف أمام الله ونطرح هذه الأتعاب ، ولنا ثقة أن كل الأشياء تعمل معاً للخير للذين يحبون الله . نعمة الله الآب تكون مع جميعكم . آمين .</p>
<p dir="rtl">المرجع : كتاب إختبرني يا الله صفحة ٣٠٢ &#8211; قداسة البابا تواضروس الثاني</p>
<h5 dir="rtl"></h5>
<h4 dir="rtl">من انت.. التوبة للمتنيح الأنبا كيرلس مطران ميلانو</h4>
<p dir="rtl">من أنت ؟</p>
<p dir="rtl">من أين أتيت . . . وإلى أين تذهب ؟</p>
<p dir="rtl">رأيتها واقفة عند مفترق الطرق &#8230; سمعتها وهي تنادي بصوت عال &#8230; رأيتها وهي تجمع العابرين ليمشوا معها على طرقها وبطريقتها .</p>
<p dir="rtl">سمعتها وهي ترشد وتعلم وتعطي كل قلبها لمن يسمعها &#8230;</p>
<p dir="rtl">أوقفتني وأنا عابر في طريقي &#8230; لم يسر قلبي بها &#8230; لأنها عطلتني عن مساري &#8230;</p>
<p dir="rtl">سألتني : من أنت ؟ &#8230; من أين أتيت ؟ &#8230; وإلى أين تذهب ؟ &#8230;</p>
<p dir="rtl">قلت في قلبي : لماذا أرد على أسئلتها ؟ ! &#8230; أنا لا أجاوبها &#8230; فمن هي ؟! وما سلطانها ؟!…في داخلي كان صوت يهمس قائلاً : أسمعها &#8230; أجبها &#8230; تعرف عليها &#8230; اقترب منها &#8230;</p>
<p dir="rtl">قلت لها : أنت تسأليني من أنا ؟ ! &#8230; أنا عابر مثل كل العابرين على الأرض &#8230; أنت تسأليني من أين أتيت وإلى أين أذهب ؟ ! &#8230; أنا أتيت من بيتي ولا أعرف إلى أين أذهب &#8230;</p>
<p dir="rtl">لست أدري لماذا ترددت أن أسألها نفس الأسئلة التي سألتها لي &#8230; لكني تشجعت وقلت لها : هل تسمحي لي أن أعرف من أنت ؟ &#8230; ومن أين أتيت ؟ &#8230;</p>
<p dir="rtl">أجابتني : &#8230; الله ناطق في الناموس والأنبياء والرسل &#8230; وأنا كتاب ناطق من عند الله &#8230; أنا الجامعة سفر مفتوح أمام كل عابر &#8230;</p>
<p dir="rtl">الله تكلم في لكي أتكلم معكم &#8230; هو يريد أن يجعلني في أذهانكم &#8230; ويكتبني على قلوبكم &#8230; والمنتهى أن يكون هو إلهكم وأنتم تكونون له شعباً مبررا &#8230;</p>
<p dir="rtl">بكلماتها البسيطة شعرت أنني استيقظت من نوم استغرق أعواماً &#8230; واحسست بحسرة ومرار أن النهار قد مضى مني وفات &#8230; يبدو أنها أحست بالندم الذي أعانيه &#8230; فحنت علي بلطف غير موصوف &#8230; وقالت لي أن السيد الرب وضعني في الطريق لكي أعين ضعف طبيعتك &#8230; وكذلك مع كل عابر &#8230;</p>
<p dir="rtl">قلت لها : كيف تتعاملين معي بلطف وكل طرقي تستحق العقوبة ؟!</p>
<p dir="rtl">تعجبت عندما قالت لي : أنت لا تسمع الذي يناديك &#8230; ولا تنادي الذي يسمعك &#8230; أنت تسمع الذي لا يناديك &#8230;وتنادي الذي لا يسمعك .</p>
<p dir="rtl">أنت لا تعرف من أنت ؟ ! &#8230; أنت صورة الله ومثاله &#8230; أنت المنقوش على كفه &#8230; أنت رائحته الذكية &#8230; أنت رسالته &#8230; أنت سفيره السماوي على الأرض &#8230; أنت أتيت من التراب &#8230; وهناك إلى التراب تعود &#8230; وإن كانت كل طرقك تستحق العقوبة أعرف أن الذي خلفك هو وحده الذي حول العقوبة لك خلاصاً &#8230;</p>
<p dir="rtl">اليوم أنا انتشلتك من الغرق &#8230; من الطريق الذي كنت ذاهباً إليه بقدميك &#8230; الذي خلقك &#8230; هو الذي خلصك &#8230; هو خلقك بكلمته &#8230; وخلصك بكلمته &#8230;</p>
<p dir="rtl">المسيح هو كلمة الله الذي خلصك &#8230; تعال واقترب مني تراه في &#8230; فليس آخر سواه يظهر لك نور الآب السماوي &#8230; وينعم عليك بمعرفة الروح القدس الحقيقية &#8230;</p>
<p dir="rtl">كيف أنطلق وأنا مكبل بالقيود والسلاسل ؟ &#8230; كيف أتحرر من متاعب تسكن في أعماقي &#8230; كيف أفلت والخيوط الحريرية التي تهاونت فيها تحولت إلى قيود حديدية ؟ &#8230; كيف ؟ ! &#8230;</p>
<p dir="rtl">ابني إن أردت أن تتحرر من كل المتاعب اسمع صوت الرب</p>
<p dir="rtl">المرجع : كتاب شفتاك يا عروس تقطران شهداً &#8211; الجزء الخامس صفحة ٣٢ &#8211; ٣٥ &#8211; دير الانبا شنودة رئيس المتوحدين العامر بميلانو</p>
<hr />
<p><a href="#_ftnref1" name="_ftn1">[1]</a><sup>&#8211; تفسير متى &#8211; ص ٢١٧ &#8211; القمص تادرس يعقوب ملطي.</sup></p>
<p><a href="#_ftnref2" name="_ftn2">[2]</a><sup>&#8211; تفسير متى &#8211; ص٢١٢ &#8211; القمص تادرس يعقوب ملطي.</sup></p>
<h4></h4>

      {% endcreateArticleAccordions %}
    </section>
  {% endblock %}
  