---
layout: 'layouts/reading.html'
title: 'قراءات يوم الثلاثاء من الاسبوع السادس'
permalink: great-lent/6-2.html
---
  {% block content %}
    <section id="readings">
      <ul>
      {% if 'null' != 'null' %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">العشية</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeVespers '' '' %}
          </div>
        </div>
      </li>
      {% endif %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">باكر</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeMatins '19.35:13-13' '42.4:22-30' '20.8:12-21@23.44:1-8@18.32:17-22*@+18.33:1-33@12.5:1-27' %}
          </div>
        </div>
      </li>
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <h3 class="flex items-center justify-between">
            <span class="kufi">القداس</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </h3>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeLitugy '46.14:18-28' '59.1:22-27*@+59.2:1-1' '44.19:11-20' '19.42:1-1' '42.9:18-22' %}
          </div>
        </div>
      </li>
        </ul>
    </section>
    <section id="article">
      <h3 class="mt-8 mb-4 heading-explain">شرح القراءات</h3>
      {% createArticleAccordions firstName, lastName %}
        <p>&#8220;قُومِي اسْتَنِيرِي لأَنَّهُ قَدْ جَاءَ نُورُكِ، وَمَجْدُ الرَّبِّ أَشْرَقَ عَلَيْكِ. لأَنَّهُ هَا هِيَ الظُّلْمَةُ تُغَطِّي الأَرْضَ وَالظَّلاَمُ الدَّامِسُ الأُمَمَ. أَمَّا عَلَيْكِ فَيُشْرِقُ الرَّبُّ، وَمَجْدُهُ عَلَيْكِ يُرَى. فَتَسِيرُ الأُمَمُ فِي نُورِكِ، وَالْمُلُوكُ فِي ضِيَاءِ إِشْرَاقِكِ&#8221; (إش ٦٠: ١– ٣).</p>
<p>[إذا ماوقفنا في هيكلك المقدَّس نحسب كالقيام في السماء] (قطع الساعة الثالثة)</p>
<p>[يليق بِنَا أن نخرج من هذا الموضع نحمل ما يليق به كموضع مقدّس كأناس هابطين من السماء عينها! علموا الذين في الخارج إنكم كنتم في صحبة السيرافيم محصيين مع السمائيين معدين مع صفوف الملائكة تتحدثون مع الرب وتكونون في صحبة السيد المسيح] (القديس يوحنا ذهبي الفم)<br />
<a href="#_ftn1" name="_ftnref1">[1]</a></p>
<h3>شواهد القراءات</h3>
<p>(أم ٨: ١٢- ٢١)، (إش٤٤: ١- ٨)، (أي٣٢: ١٧- الخ، ص٣٣: ١- الخ)، (مز٣٤: ١٥)، (لو ٤: ٢٢- ٣٠)، يع١: ٢٢- الخ، ص٢: ١)، (أع١٩: ١١- ٢٠)، (مز٤١: ١)، (لو٩: ١٨- ٢٢).</p>
<h3>شرح القراءات</h3>
<p><strong>تتكلّم قراءات هذا اليوم</strong> عن مجد حضوره الإلهي والذي تعلن عنه الكنيسة دائما في عبادتها ورعايتها وتعليمها وتعلن عنه النفوس في توبتها وفي عطشها إليه.</p>
<p><strong>تبدأ أمثال سليمان</strong> بإعلان أن مجد حضوره ينتظر دائما أن نطلبه بإجتهاد.</p>
<p>&#8220;أنا أحب الذين يحبونني ووُجدتُ من الذين يطلبونني معي الغنى والمجد القنية الفاخرة والبر إقتنائي أفضل من الذهب والحجر الكريم&#8221;.</p>
<p><strong>ويؤكّد سفر إشعياء</strong> على فيض الروح وغنى الثمار للعطشى الذين لاينفصلون أبداً عن مجاري المياه.</p>
<p>&#8220;لا تخف يا يعقوب فتاي الذي أحببته ويا إسرائيل الذي اخترته فإني أفيض المياه على العطشى السالكين في القفر أفيض روحي على ذريتك وبركتي على أعقابك فينبتون مثل العشب في وسط المياه وكالصفصاف على مجاري المياه&#8221;.</p>
<p><strong>ويوضّح سفر أيوب</strong> كيف يتكلم الله مع البشر ليعلن ذاته لهم وليقودهم للتوبة.</p>
<p>&#8220;فيقول لماذا لم يسمع لكل كلام قضائي، لكن الله يتكلم مرة وباثنتين لا يلاحظ الانسان في حلم في رؤيا الليل حين يقع السبات على الناس وهم نائمون على مضاجعهم، حينئذ يفتح آذان الناس ويختم على إنذارهم ليتحول الانسان عن شره ويمحو الكبرياء عن الرجل فيقي نفسه من الفساد&#8221;.</p>
<p><strong>كما يظهر مجد حضوره للتائبين.</strong></p>
<p>&#8220;يصلّي إلى الله فيرضى عنه حينئذ يعاين وجهه بالهتاف فيرد على الانسان بره فيرنم بين الناس ويقول قد خطئت وزغت عن الاستقامة ولم يُجزني بل افتدي نفسي من الهبوط إلى الفساد وحياتي تبصر النور هذا كله يفعله الله بالانسان مرتين وثلاثاً ليعيد نفسه من الفساد وينورها بنور الأحياء&#8221;.</p>
<p><strong>ويرسم مزمور باكر</strong> صورة التوبة الحقيقية.</p>
<p>&#8220;لبست مسحاً وواضعت بالصوم نفسي وصلاتي إلى حضني ترجع&#8221;.</p>
<p><strong>وفي إنجيل باكر</strong> تشهد الجموع للرب يسوع بغنى كلمته وعذوبتها.</p>
<p>&#8220;فكانوا يشهدون له جميعاً ويتعجبون من أقوال النعمة التي كانت تخرج من فيه&#8221;.</p>
<p><strong>لكن يحذّر أيضاً</strong> من مقاومة كلامه ورفض حضوره فيترك الرب المكان.</p>
<p>&#8220;وقاموا فأخرجوه خارج المدينة ومضوا به إلى أعلى الجبل الذي كانت مدينتهم مبنية عليه ليطرحوه إلى أسفل أما هو فجاز في وسطهم ومضى&#8221;.</p>
<p><strong>ويظهر في البولس</strong> جمال وقوّة ومجد حضوره في تبكيت البسطاء وغير المؤمنين وشهادتهم عن صدق الإيمان.</p>
<p>&#8220;أما إذا تنبأ الجميع فدخل أحد غير مؤمن أو أميّ فإنه يُوبّخ من الجميع وتُفحص من الكل ويُظهر خفايا قلبه فحينئذ يخر على وجهه ويسجد لله معترفاً أن الله حقاً فيكم&#8221;.</p>
<p><strong>أما الكاثوليكون</strong> فيحذّر من أن نخدع أنفسنا فنفقد الإحساس بحقيقة ذواتنا.</p>
<p>&#8220;وكونوا عاملين بالكلمة لا سامعين فقط خادعين نفوسكم فإن من يسمع الكلمة ولا يعمل بها يشبه رجلاً ينظر وجه خلقته في مرآة فإنه نظر ذاته ومضى وللوقت نسى ما هو&#8221;.</p>
<p><strong>ويكشف الإبركسيس</strong> قوّة مجد حضوره أمام سحر العالم وأعمال إبليس وتأثير ذلك على رجوع كثيرين للرب يسوع.</p>
<p>&#8220;وكان الله يجري على يدي بولس قوات ليست قليلة حتى أنهم كانوا يأخذون عن جسمه مناديل ومآزر إلى المرضى فتفارقهم الأمراض وتخرج منهم الأرواح الشريرة، فأجاب الروح الشرير وقال لهم أما يسوع فأنا أعرفه وبولس فأنا أعلمه أما أنتم فمن أنتم؟! ثم وثب عليهم الرجل الذي كان فيه الروح الشرير وغلبهم وقوي عليهم، فوقع الخوف على جميعهم وكان اسم الرب يسوع يتعظم وكان كثيرون من الذين آمنوا يأتون معترفين ومخبرين بأعمالهم&#8221;.</p>
<p><strong>وتعبّر النفس في مزمور القدّاس</strong> عن عطشها الشديد لينبوع ماء الحياة.</p>
<p>&#8220;كما يشتاق الإيِّل إلى ينابيع المياه كذلك تاقت نفسي أن تأتي إليك يا الله&#8221;.</p>
<p><strong>ويختم إنجيل القدّاس</strong> بإعلان الآب للقديس بطرس عن لاهوت الإبن وإعلان ابن الله عن آلامه الخلاصية أي ربط الإستعلان الإلهي بالصليب.</p>
<p>&#8220;فقال لهم أنتم من تقولون إني أنا فأجاب بطرس وقال: أنت المسيح الله، وقال إنه ينبغي لابن الانسان أن يتألم كثيراً ويرذله الشيوخ ورؤساء الكهنة والكتبة ويقتلونه وفي اليوم الثالث يقوم&#8221;.</p>
<h3>ملخّص القراءات</h3>
<table style="height: 473px;" width="868">
<tbody>
<tr>
<td width="91">أمثال سليمان</td>
<td width="412">ضرورة إجتهادنا في طلب حضوره.</td>
</tr>
<tr>
<td width="91">سفر إشعياء</td>
<td width="412">يعطي الله من فيض روحه وغناه للعطشى المشتاقين إليه.</td>
</tr>
<tr>
<td width="91">سفر أيوب</td>
<td width="412">يتكلّم الله بطرق مختلفة معلناً حضوره ليجتذب الكل إلى التوبة.</td>
</tr>
<tr>
<td width="91">مزمور باكر</td>
<td width="412">المسوح والصوم يٌعبّر عن إنسحاق التوبة.</td>
</tr>
<tr>
<td width="91">إنجيل باكر</td>
<td width="412">مجد وعذوبة حضوره الإلهي وكلمة نعمته.</td>
</tr>
<tr>
<td width="91">البولس</td>
<td width="412">مجد حضوره في الكنيسة يبكّت غير المؤمنين.</td>
</tr>
<tr>
<td width="91">الكاثوليكون</td>
<td width="412">نفقد إحساسنا بأنفسنا وبحضوره في حياتنا عندما لا نعيش حسب كلمته.</td>
</tr>
<tr>
<td width="91">الإبركسيس</td>
<td width="412">قوّة ومجد حضوره أمام سحر العالم وقوَّات الظلمة.</td>
</tr>
<tr>
<td width="91">مزمور القدّاس</td>
<td width="412">عطش النفس الشديد لماء الحياة.</td>
</tr>
<tr>
<td width="91">إنجيل القدّاس</td>
<td width="412">ملء إستعلان ابن الله في موته وقيامته.</td>
</tr>
</tbody>
</table>
<h3>الكنيسة في قراءات اليوم</h3>
<table style="height: 211px;" width="651">
<tbody>
<tr>
<td width="91">سفر إشعياء</td>
<td width="412">حلول الروح القدس.</td>
</tr>
<tr>
<td width="91">مزمور باكر</td>
<td width="412">الصوم والخشوع فيه.</td>
</tr>
<tr>
<td width="91">البولس</td>
<td width="412">مواهب الروح &#8211; الصلاة بالمزامير.</td>
</tr>
<tr>
<td width="91">الكاثوليكون</td>
<td width="412">الإيمان والأعمال.</td>
</tr>
<tr>
<td width="91">الإبركسيس</td>
<td width="412">التوبة والإعتراف.</td>
</tr>
<tr>
<td width="91">إنجيل القدّاس</td>
<td width="412">لاهوت المسيح له المجد.</td>
</tr>
</tbody>
</table>
<p></p>
<h3 dir="rtl">عظات آبائية</h3>
<h4 dir="rtl">أهمية قانون الإيمان &#8211; القديس كيرلس الكبير</h4>
<p dir="rtl">رسالة من كيرلس  حول قانون الايمان المقدس ( رسالة ٥٥ )</p>
<p dir="rtl">١)كيرلس يهدى تحياتة في الرب الى المحبوبيبن والمشتاق اليهم جدا انسطاسيوس ، الكسندروس ،مارتينيانوس ، يوحنا ، باريغوريوس القس ، مكسيموس الشماس ، والى الإباء الرهبان الأرثوذكس الباقين والى الذين يعيشون معكم الحياة التوحدية المتأسسين في ايمان اللة .</p>
<p dir="rtl">مقدمة عن قانون ايمان مجمع نيقية (١):</p>
<p dir="rtl"> يمكننى الان ان امدحكم مدحاً ليس بقليل على حبكم للتعليم وحب التعب الذى لمحبتكم واعتبر انة جدير بكل تقدير .فمن لا يبتهج كثيراً بسبب شوقكم للدروس الإلهية وحب الاشتراك في التعاليم المقدسة الكلية الإستقامة؟ هذا يساعدنا لنصل تلى حياة ابدية ومغبوطة ، فالغيرة في هذه الأمور ليس بدون مكافأة .</p>
<p dir="rtl">أهمية الايمان الصحيح :</p>
<p dir="rtl">٢-لأن ربنا يسوع المسيح يقول – في موضع ما – للة ابيك في السماء :</p>
<p dir="rtl">هذه هي الحياة الأبدية ان يعرفوك أنت الإله الحقيقى وحدك ويسوع المسيح الذى أرسلته (يو١٧:٣) لأن الإيمان الصحيح الذى لا يسخر به بسبب ما له من بهجة التلازم مع الأعمال الصالحة ، فهو يملؤنا بكل صلاح ويظهر أولئك الذين قد حصلوا على مجد متميز .وأن كان  بهاء اعمالنا يبدو انه لا يرتبط بالتعاليم الصحيحة والإيمان الذى بلا لوم ، فإنها (هذه الأعمال) لن تنفع نفس الانسان بحسب رأيى .فكما  أن الإيمان بدون أعمال ميت (يع٢٠:٢) هكذا ايضاً نحن نقول إن العكس صحيح . لذلك فليقترن الإيمان الذى بلا عيب ويشرق مع أمجاد الحياة المستقيمة . بذالك نصير كاملين بحسب ناموس موسى الحكيم جداً الذى يقول : وتكون كاملاً أمام الرب (تث ١٨ : ١٣).</p>
<p dir="rtl">٣- وأولئك الذين بسبب الجهل قد قللوا منقيمة إمتلاك الإيمان المستقيم ممجدين حياتهم بسبب أعمال الفضائل ، يشبهون أناساً ذوى ملامح حسنة في وجوههم ولكن نظرة عيونهم مصابة بتشويه  وحول وينطبق عليهم قول الله بصوت أرميا إلى أم اليهود وأعنى أورشليم : لأن عينيك ليست مستقيمة وقلبك ليس صالحاً (أر ٢٢ : ١٧)</p>
<p dir="rtl">فمن الضرورى  قبل كل شيء آخر ان يكون لكم ذهن سليم في داخلكم وأن تهتموا بالأسفار المقدسة التي تخاطبكم قائلة : لتنظر عيناك باستقامة (أم ٤ : ٢٥ س) فالنظر الصحيح للعيون الخفية الداخلية هو أن يكون قادراً على النظر الى جميع النواحى بوضوح ودقة بقدر ما هو ممكن فيما يختص بالكلمات التي تقال عن الله . لأننا ننظر في مرآه في لغز ونعرف بعض المعرفة (١كو ١٣ : ١٢) ولكن الذى يكشف أعماق الظلام (أي ١٢ : ٢٢) ويرسل نور الحق  الى أولئك الذين يرغبون في أن يحصلوا على معرفة سليمة عنه  . فمن الضرورى إذن أن ننطرح أمام الله قائلين : أنر عينى لئلا أنام نوم الموت<br />
(مز١٢:٤) لأن الإبتعاد عن استقامة التعليم المقدسة ، من الواضح  أنه لن يكون شيئا آخر سوى أن ننام نوم الموت ونحن نسقط مبتعدين عن هذه الأستقامة حينما لا نتبع الكتب الألهية الموحى بها ، إما بسبب  أفكار خاطئة غير ممدوحة او بسبب  تعصبنا للبعض الذين لا يسلكون بإستقامة من جهة الإيمان . ونحن ننغلب بسبب أننا نتبعهم في ميولهم الذهنية ، وفوق كل شيء أخر فاننا نؤذى  أنفسنا.</p>
<p dir="rtl">٤- لذالك ينبغي أن نصدق أولئك الذين يهتمون بالأستقامة في التفكير من جهة الكرازة المقدسة ،والتي سلمها إلينا بالروح القدس أولئك الذين كانوا من البدء معاينين وخداماً للكلمة (لو١:٢) والذين كان أباؤنا الممجدون جداً يتبعون آثار خطواتهم بغيرة، هؤلاء(الأباء) الذين اجتمعوا في نقية في ذالك الوقت وحددوا إعتراف الإيمان المكرم والمسكونى ، والمسيح نفسه كان جالساً معهم فيالمجمع لأنه يقول حيثما  أجتمع اثنين او ثلاثة باسمى فهناك أكون في وسطهم (مت ١٨ : ٢٠)</p>
<p dir="rtl">٥- كيف يكون هناك شك في أن المسيح كان يرأس ذلك المجمع المقدس العظيم بطريقة غير منظورة . فهناك قاعدة معينة وأساس لا يتزعزع ولا يهتز لكل الذين على وجه الأرض ، كان هذا الأساس يلقى به بعيداً  أو بالحرى يقضى عليه ، وأعنى إعتراف الإيمان النقى والذى بلا لوم . وإذن فكيف لايكون المسيح حاضراً إن كان هو نفسه الأساس بحسب قول بولس الحكيم جداً : فأنه لا يستطيع أحد أن يضع أسأسا آخر غير الذى وضع الذى هو يسوع المسيح (١كو ٣ : ١١)</p>
<p dir="rtl">٦- لذالك فألآباء القديسون الذين جاءوا بعدهم (بعد أباء نيقيه ) رعاة للشعب وانواراً للكنائس ومعلمن مهرة جداً للأسرار هؤلاء قد حفظوا الإيمان الموضوع والمحدد منهم (من أباء نيقيه ) بدون نقص ونحن لا نراى في اعترافات وشروح الأباء- أي شيء مهما كان- محزوفاً او مهملاً مما هو ضرورى لمنفعتنا ، لأنهم صاغوها من جهة الإيمان المستقيم والذى بلا غش لأجل دحض وهدم كل بدعة وثرثرة غير مقدسة ولأجل مساندة وتأمين أولئك الذين يسيرون بأستقامه من جهة الإيمان هولاء قد أشرق عليهم المصباح  الحامل للنور وأنفجر النهار (٢بط ١ : ١٩) وهو انعمة بواسطة المعمودية المقدسة .</p>
<p dir="rtl">دوافع شرح القانون</p>
<p dir="rtl">٧- ولأن وقاركم قد كتبتم أن البعض يحرفون كلمات قانون الإيمان الى غير معناها -إما بسبب أنهم لا يفهمون معنى (قوة) الكلمات التي فيها فهماً واضحاً او لأنهم محمولون الى تفكير مرفوض بميلهم نحو كتابات بعض الأشخاص ، لذلك فكرت أنه من الضرورى بالنسبة لى أيضاً أن أوجه كلماتى اليكم في هذه الأمور وأفسر معنى قانون الإيمان وأوضح بأختصار الأفكار التي تأتى الى ذهنى .</p>
<p dir="rtl">إتباع الأياء :</p>
<p dir="rtl">نحن نتبع من كل وجه إعترافات القديسين وتعليمهم ونحن نثبت بإستقامة وبدون انحراف ما قالوه . وإن المجمع المقدس الذى اجتمع في أفسس بحسب مشيئة الله ، حينما  أصدر قراراً مقدساً ودقيقاً ضد التعليم الشرير الذى لنسطوريوس  ، فأنه  أدان معه ووضع  عقاباً معادلاً على ابتداعات الأخرين الباطله (١تى ٦:٢٠) الذين  يأتون بعده ، أو ربما كانوا موجودين قبله ، وذلك لأن لهم نفس الأفكار التي لهم وتجاسروا أن يتكلموا او يكتبوا عنها . وعلى ذالك حيث إن إنساناً واحداً قد ادين مرة بسبب مثل هذه الأبتداعات الباطلة ، فهذة الإدانة ينبغي ان تصير ليس فقط ضد إنسان واحد بل ضد كل هرطقتهم أي الإفتراء الذى صاغوه ضد العقائد المقدسة  التي للكنيسه بمناداتهم بإبنين ، مقسمين الذى لا ينقسم ومسجلين ( على انفسهم ) أمام السماء والأرض تهمة عبادة الإنسان .</p>
<p dir="rtl">٨- فجمهور الأرواح العلوية المقدس يسجد معنا للرب الواحد يسوع المسيح ولكى لا يكون مجهولا عند البعض معنى قانون الإيمان الذى ساد وكرز به في جميع كنائس الله المقدسة فإنى وضعت التعاليم ، أي بيانات الأباء القدسين في التفاسير الموجودة هناك لكى يعرف أولئك الذين يقرأونها ما هي الطريقة الصحيحة لفهم عرض الأباء القديسين الذى هو القانون النقى للإيمان الصحيح واظنأن محبتكم أيضاً قرأتم الكتاب الذى كتبناه معاً عن هذه الأمور . فبعد أن أضع أمامكم الأن كما قلت القانون نفسة كلمة كلمة  ،فإنى أنتقل بمعونة الله الى تفسير واضح لكل ما يحويه النص ، لإنى اعلم أن بطرس المجيد جداً قد كتب :مستعدين دائماً لمجاوبة كل من يسألكم عن سبب الرجاء الذى فيكم (١بط ٣ : ١٥)</p>
<p dir="rtl"> القديس كيرلس الإسكندري &#8211; شرح قانون الإيمان (صفحة ٢٦ &#8211; ٣٠) &#8211; مؤسسة القديس أنطونيوس للدراسات الآبائية</p>
<h5 dir="rtl"></h5>
<h4 dir="rtl">شرح إنجيل القدَّاس للقديس أمبروسيوس</h4>
<p dir="rtl">يمكننا اعتبار شهادة الجموع له بلا نفع، فقد ظنه البعض إيليا قد قام مؤمنون بمجيئه، وآخرون آمنوا بقيامة يوحنا عالمين أن رأسه قد قطعت، وآخرون أنه واحد من الأنبياء القدامى.</p>
<p dir="rtl">البحث في ذلك (أي في شخص المسيح) أمر يفوق قدرتنا، لكنه يتناسب مع فكر شخص كبولس وحكمته، هذا الذي يكفيه أن يعرف المسيح وإياه مصلوبًا (١كو ٢ : ٢) ، لأنه أية معرفة يشتاق إليها أكثر من أنه المسيح؟ ففي هذا الاسم &#8220;المسيح&#8221; يتجلى اللاهوت ويُعلن التجسد وأيضًا الآلام.</p>
<p dir="rtl">لقد عرفه بقية التلاميذ، لكن بطرس وحده قال: &#8220;مسيح الله&#8221; (لو ٩ : ٢٠) ، إذ يشمل هذا الاسم كل شيء، ويعّبر عن طبيعته، ويحوي كل الفضائل.</p>
<p dir="rtl">هل نثير تساؤلات حول كيفية ميلاد الرب بينما يقول بولس أنه لا يعرف شيئًا إلا المسيح وإياه مصلوبًا، ويعترف بطرس أنه مسيح الله! نحن بعيون الضعف البشري نبحث هكذا: متى وكيف وما هي عظمته، أما بولس فيرى في هذه التساؤلات هدمًالا بناء، لذا لا يريد أن يعرف إلا يسوع المسيح.</p>
<p dir="rtl">عرف بطرس أن في &#8220;ابن الله&#8221; يكمن كل شيء، فقد دفع الآب كل شيء في يده (يو ٣ : ٣٥) &#8230; لذا فيه الأزلية والعظمة التي للآب.</p>
<p dir="rtl">إني قبلت الإيمان بأنه المسيح ابن الله (مت ١٦ : ١٦) فلا يجوز لي أن أعرف كيف وُلد، لكن لا يجوز لي أيضًا أن أجهل حقيقة ميلاده.</p>
<p dir="rtl">لتؤمن إذن كما آمن بطرس، فتطوّب أنت أيضًا وتتأهل لسماع الكلمات: &#8220;إن لحمًا ودمًا لم يعلن لك لكن أبي الذي في السماوات&#8221; (مت ١٦ : ١٧). فاللحم والدم لا يقبلان إلا الأرضيات، أما من ينطق بأسرار الروح فلا يعتمد على تعاليم اللحم والدم بل على الإعلان الإلهي.</p>
<p dir="rtl">ليتك لا تعتمد على اللحم والدم لتأخذ منهما أوامرك، فتصير أنت نفسك لحمًا ودمًا، وإنما من يلتصق بالرب يكون معه روحًا واحدًا (١كو ٦ : ١٧). يقول الله: لا يدين روحي في الجسد بعد لأن كل تصورات قلبه شريرة (تك ٦ : ٣).</p>
<p dir="rtl">ليسمح الرب ألا يكون السامعون لحمًا ودمًا، بل يكونوا متغربين عن شهوة اللحم والدم، فيردد كل واحد منهم: &#8220;لا أخاف، ماذا يصنعه بي الإنسان (أي اللحم والدم)؟&#8221; (مز ٥٦ : ٥).</p>
<p dir="rtl">من يغلب الجسد يصير من أعمدة الكنيسة؛ إن لم يستطع أن يبلغ إلى بطرس فإنه يتمثل به ويتمتع بعطايا الله إذ هي كثيرة، يرد لنا مالا تركناه بل ما هو له.</p>
<p dir="rtl">يحق لنا أن نتساءل: لماذا لم يرَ فيه الجموع إلا إيليا أو إرميا أو يوحنا المعمدان؟</p>
<p dir="rtl">ربما رأيت فيه إيليا لأنه أُختطف إلى السماء؛ لكن المسيح ليس كإيليا إذ لم يُختطف إليها بل جاء منها. الأول أُختطف إلى السماء، أما الثاني فلا يحسب خلسة أن يكون معادلًا لله (في ٢ : ٦). الأول انتقم بالنار التي طلبها (١مل ١٨ : ٣٨) والثاني أحب خلاص المسيئين إليه لا هلاكهم.</p>
<p dir="rtl">لماذا اعتقدوا أنه إرميا؟ ربما لأنه تقدس من الرحم (إر ١ : ٤) ،  لكن المسيح ليس كإرميا. الأول تقدس، أما الثانيفهو يقّدس، الأول بدأ بميلاده أما الثاني فهو قدوس القديسين.</p>
<p dir="rtl">لماذا ظنه الشعب يوحنا؟ ربما لأن يوحنا عرف الرب وهو في بطن أمه، لكن المسيح ليس كيوحنا. يوحنا سجد وهو بعد في الرحم، والثاني هو المسجود له. الأول عمّد بالماء، وأما المسيح فبالروح. الأول نادى بالتوبة والثاني غفر الخطايا</p>
<p dir="rtl">المرجع : تفسير إنجيل مرقس ( الإصحاح الثامن ) &#8211; القمص تادرس يعقوب ملطي</p>
<h3 dir="rtl">عظات اباء وخدام معاصرون :</h3>
<h4 dir="rtl">من أنا بالنسبة لك ؟ لقداسة البابا تواضروس الثاني</h4>
<h5 dir="rtl">يوم الثلاثاء من الأسبوع السادس لقداسة البابا تواضروس الثاني</h5>
<p dir="rtl">(لو ٩ : ١٨ &#8211; ٢٣)</p>
<p dir="rtl">عندما اختار السيد المسيح تلاميذه لم يحدثهم عن الصليب والآلام والموت ، ولكنه أخذهم معه في معجزاته وتعاليمه وأمثاله ومقابلاته ، ولكن بعد أن عايشوه وعرفوه وثبتوا فيه وبدأ يتكون لديهم إيمان قوي وخبرة بالمسيح ، فتبعه البعض لحكمته والبعض تبعه لسلطانه ، والبعض تبعه لمقدرته الفائقة وتعاليمه السامية ، أما الرب يسوع أراد أن يختبر تلاميذه فأخذهم على انفراد إلى قيصرية فيلبس ( أقصى شمال فلسطين على الحدود بين سوريا وفلسطين ) وبدأ معهم حواراً وسألهم :</p>
<p dir="rtl">المسيح : من تقول الجموع أني أنا ؟ التلاميذ قالوا : يوحنا المعمدان . وآخرون : إيليا . وآخرون : إن نبيا من القدماء قام .</p>
<p dir="rtl">المسيح : وأنتم ، من تقولون أني أنا ؟ بطرس الرسول : أنت هو مسيح الله !</p>
<p dir="rtl">هنا نلاحظ أن اندفاع بطرس الرسول بالإجابة قد تحوي معنى لاهوتي عميق معناه :</p>
<p dir="rtl">١- أنت هو المسيا المنتظر الذي انتظرناه طويلاً .</p>
<p dir="rtl">٢- أنت الذي تحدثت عنه الكتب وأسفار الأنبياء قديماً.</p>
<p dir="rtl">٣-  أنت هو الوحيد الذي تستطيع أن تمسح الخطايا ؛ لأنك بلا خطية .</p>
<p dir="rtl">هكذا جعل السيد المسيح سؤاله تدريجياً إذ بدأ من معرفة الناس عنه إلى معرفة التلاميذ وإدراكهم له ، فرسالة المسيح متوقفة على قبول إدراكهم لحقيقته ، وبالتالي تعتبر رسالته هي أخطر عملية في مراحل تعليمهم ، وهكذا نجح التلاميذ في الاختبار وانتقل معهم المسيح إلى الجزء الأصعب وبدأ يصارحهم قائلا : &#8221; إنه ينبغي أن ابن الإنسان يتألم كثيراً ، ويرفض من الشيوخ ورؤساء الكهنة والكتبة ، ويقتل ، وفي اليوم الثالث يقوم &#8221; ( لو ٩ : ٢٢ ) .</p>
<p dir="rtl">ولأول مرة كان التلاميذ يسمعون عن الصليب وقصصه في هذا الموقف ، لأول مرة يرون مسيحهم القوي الذي يصنع المعجزات ويشيع الجموع ويهدئ البحر ويجعلهم يصطادون سمكاً كثيراً يصلب ويهان ويموت ويدفن . لقد كانوا يرون مسيح الأشياء الرائعة العظيمة ، المسيح الممجد ، مسيح الفرح فقط ، لذا كان السؤال الذي يوجهه السيد المسيح في هذا النص الإنجيلي : من أنا بالنسبة لك ؟ هل مسيح المعجزات ومسيح الأمثال فقط ؟ أم مسيح الصليب والألم  ؟</p>
<p dir="rtl">+ المسيحية والألم :</p>
<p dir="rtl">المسيح ليس هو المسيح المفرح فقط ، فعندما تأتي المحن والآلام لا نتذمر عليه ؛ لأنه هو مسيح الألم أيضاً ، فالمسيحية يرتبط فيها الفرح والألم معاً ، وعندما تصلي صلاة الساعة السادسة نقول في إحدى القطع : &#8221; نسجد لشخصك غير الفاسد أيها الصالح ، طالبين مغفرة خطايانا أيها المسيح إلهنا ؛ لأن بمشيئتك سررت أن تصعد على الصليب ، لتُنجي الذين خلقتهم من عبودية العدو . نصرخ إليك ونشكرك لأنك ملأت الكل فرحاً &#8220;. يا له من عجب أن يجتمع الصليب مع الفرح ، فالمسيحية ليست صليب وألم فقط ، ولا هي فرح فقط، وإنما هي الفرح المرتبط بالصليب ، ولذلك يقول السيد المسيح : إن ابن الإنسان ينبغي له أن يتألم ويرفض ويقتل :</p>
<p dir="rtl"> يتألم : ويقصد بها الإهانات النفسية مثل الشتائم والتعييرات ، وهي تلك الإهانات التي تقع على النفس من أجل المسيح ، أو من يسخر على اسمك المسيحي ، فطريق المسيح ينبغي أن يكون فيه ألم ؛ لأن الألم هو الطريق للملكوت .</p>
<p dir="rtl"> يرفض : أثناء دخول المسيح أورشليم كان الجمع يهتف : &#8221; أوصا في الأعالي &#8221; (مت ۲۱ : ۹). وبعد أيام قليلة يهتفون : &#8221; اصلبه! اصلبه !&#8221; (لو ٢٣ : ٢١)، ويقول لهم بيلاطس : &#8221; أطلق لكم يسوع &#8220;، يقولون : &#8221; لا أطلق لنا باراباس &#8221; (مت ۲۷ : ۲۰ &#8211; ۲۱) . وأصبح المسيح مرفوضاً تماماً ، إنه شيء مفجع وموجع أن يأتي المسيح ومعه المصالحة ويكون &#8221; محتقر ومخذول من الناس&#8221; (إش ٥٣ : ٣). ! مهمة قد يكون في حياتك أو في مكان عملك نوع من الرفض ، فلا تتضايق فربما هذا الرفض تُشبه فيه مسيحك الذي رفض من قبل وما زال مرفوضاً من ملايين في العالم، فمثلا في الصين ربع سكان العالم ، ولا تعرف عن المسيح شيئاً ، قبائل بالملايين في أفريقيا لا تعرف عن المسيح شيئاً &#8230; ولا زال هناك كثيرون يرفضون المسيح .</p>
<p dir="rtl">يقتل : نسمع عن كثير من الشهداء تقدموا للاستشهاد وهم في قمة الفرح وتتعجب معي يا أخي كثيرا كيف أن هؤلاء القديسين على اختلاف نوعياتهم وأجيالهم كانوا يتقدمون للاستشهاد وهم في قمة الفرح . يحكي لنا التاريخ عن شهداء &#8221; إسنا &#8221; عندما وجدوا أن السيف لم يصلح للقتل لأنه قد تلف ، فأعطوا السياف فؤوسهم كي يقتلهم بها وينالوا الشهادة على اسم المسيح ، ولذلك يقول البعض : &#8221; إن بقاء المسيحيين في مصر عجيبة تُضاف على عجائب الدنيا السبع &#8220;.</p>
<p dir="rtl">والسؤال ماذا يمثل المسيح بالنسبة لك ؟ هل هو مسيح المعجزات والتعاليم ؟ أم المسيح المخلص الذي تألم من أجلك ، والذي سفك دمه من أجلك ، لا تنس أن آلام المسيح على الصليب كانت من أجل كل إنسان فينا لكي ما يوجد له مكان في السماء ، فالصليب كان من أجلك على الخصوص ، فالمسيح سفك دمه من أجلك ، وتعب وتألم من أجلك .</p>
<p dir="rtl">قصة</p>
<p dir="rtl">هناك قصة مذكورة في السنكسار بتاريخ ١٤ مسرى تحكي عن أنه كان في مدينة الإسكندرية رجل يهودي اسمه فيلوكسينوس وكان غنياً جداً ومدققاً في شريعة موسى ، وكان بها كذلك مسيحيان فقيران ، فقال أحدهما : &#8221; لماذا نعبد المسيح ونحن فقراء وهذا اليهودي غني جدا &#8220;. أجابه الثاني قائلاً : &#8221; إن مال الدنيا ليس له عند الله . حساباً ، ولو كان له حساباً لما أعطاه لعابدي الأوثان وال واللصوص والقتلة ، وإن الغني ليس دليلاً كافياً على رضى الله ، فالأنبياء والرسل كانوا فقراء &#8220;، فلم يقتنع الرجل فذهب إلى فيلوكسينوس اليهودي وسأله أن يقبله في خدمته ، فقال له : &#8221; لا يحل أن يخدمني إلا من يدين بديني فإن أردت صدقة أعطيتك &#8220;، فأجابه قائلاً : &#8221; خذني عندك وأنا أعتنق دينك وأعمل جميع ما تأمرني به &#8220;. فأخذه إلى مجمعهم وهناك سأله رئيس المجمع أمام جماعة اليهود قائلا : &#8221; هل تجحد مسيحك وتصير يهوديا مثلنا  ؟&#8221;، أجابه : &#8221; نعم &#8220;، وهكذا أنكر المخدوع مسيحه وأضاف إلى فقره المادي فقر الإيمان ، فأمر الرئيس أن يعمل له صليب من خشب وأعطاه قصبة عليها إسفنجة مملوءة خلا وحربة وقال له : &#8221; ابصق على هذا الصليب ، وقدم له هذا الخل ، واطعنه بالحربة ، وقل : &#8221; طعنتك أيها المسيح &#8220;. ففعل كل ما أمره به ، وعندما طعن الصليب المجيد سال منه دم وماء إلى أن نزل على الأرض ، ثم سقط ذلك الشرير ميتاً يابساً كأنه حجر ، فاستولى الخوف على الحاضرين وأمن كثيرون منهم وصاحوا قائلين : &#8221; نحن نؤمن بالسيد المسيح الإله الحقيقي &#8220;، ثم أخذوا من الدم ومسحوا عيونهم ووجوههم ، وأخذ منه أيضاً فيلوكسينوس ورشه على ابنته العمياء فأبصرت في الحال ، فآمن هو وأهل بيته ويهود آخرون كثيرون . ولما سمع البابا ثاؤفيلس أخذ معه بعض الكهنة والشعب وذهب إلى مجمع اليهود وأبصر الصليب والدم ، فأخذ منه وتبارك وبارك الشعب أيضاً ، ثم نزع الدم من الأرض ووضعه في إناء واحتفظ به للبركة ، وأمر بنقل الصليب إلى الكنيسة ، وبعد أن أخذ إقرار الحاضرين بالإيمان عمدهم باسم الآب والابن والروح القدس ، وصاروا مسيحيين ومجدوا الله .</p>
<p dir="rtl">وأنت من هو المسيح بالنسبة لك ؟</p>
<p dir="rtl"> أود أن أسترعي انتباهك إلى شيء مهم وهو أن يكون بينك وبين المسيح حوار شخصي ، تعامل معه بصورة شخصية ، إسع إلى أن تكون أعمال المسيح من أجلك وحدك ، والأمثلة على ذلك عديدة :</p>
<p dir="rtl">-العذراء مريم :</p>
<p dir="rtl">+ نرى السيدة العذراء عندما ظهر لها الملاك للبشارة وقال لها : &#8221; سلام لك أيتها الممتلئة نعمة ! الرب معك &#8221; (لوا : ۲۸). تُلاحظ هنا العلاقة الشخصية الدائمة مع الله ، والتي كانت في معيته باستمرار .</p>
<p dir="rtl">+ عندما زارت العذراء أليصابات قالت : &#8221; تعظم نفسي الرب ، وتبتهج روحي بالله مخلصي &#8221; (لوا : ٤٦)، وهنا تُلاحظ أنها قالت : &#8221; مخلصي &#8221; وليس &#8221; مخلصنا &#8220;، وهذا يدل على العلاقة الشخصية بين العذراء مريم والله ، فهو جاء من أجل خلاصي ، فكلمة مُخلصى &#8221; تعنى &#8221; &#8221; منقذ &#8221; .</p>
<p dir="rtl">أُعطيكم مثالا يشبهون السيد المسيح به : أحد الأشخاص كان يغرق ، فمر عليه أناس كثيرون فقال أحدهم له : &#8221; يا بني من الذي جاء بك على هذا المكان في هذا الوقت ؟ ألم ترقبل أن تنزل أن الأمواج عالية ؟ ألم تر الراية المرفوعة التي تحث على ذلك ؟! ألم تلاحظ وجود دوامات في الماء ؟&#8221;، ثم ترك الغريق وانصرف دون مساعدته ، فأخذ الغريق يصرخ لينقذه آخر ، وهكذا كل من يأتي يفعل ما فعله من سبقه يحذرون ويوبخون ، ولكنهم لم يستطيعوا إنقاذه من الموت . هكذا صنع الأنبياء في العهد القديم ، ولكن المسيح هو الوحيد الذي عندما رأى الإنسان يغرق في الخطية تنازل ونزل لينقذ هذا الإنسان ولذلك تسميه &#8221; المخلص &#8220;.</p>
<p dir="rtl"> داود النبي :</p>
<p dir="rtl">اسمع معي داود النبي وهو يقول : &#8221; أحبك يا رب ، يا قوتي &#8221; (مز ۱۸ : ۱). لم يقل المرنم : &#8221; يا قوتنا &#8220;، ويعود يتحدث مع ربنا بنفس الكيفية ويقول له : &#8221; أسندني فأخلص ، وأراعي فرائضك دائماً &#8221; (مز ۱۱۹ : ۱۱۷).</p>
<p dir="rtl">هذا هو المسيح الوحيد الذي له الحب العام والخاص جدا لكل أحد في آن واحد ، والوحيد الذي له علاقة شخصية بكل أحد في العالم .العذراء مريم وداود النبي كان لهما علاقة شخصية دائمة مع ربنا ، وأنت هل كل ما يربطك به أن تقول : &#8221; هل المسيح هو ربنا ؟&#8221;، أم هناك علاقة شخصية بمخلصك وفاديك ؟ هل هناك مشاعر ودودة تجاهه ؟ ولكي تُجيب على هذا السؤال صل له قائلاً : &#8221; أعطني يا رب إيمانا قويا ، أعطني أن أراك واضحا في حياتي ، وإذا كان العالم يشغلني ويبعدني عنك فاجعلني أقترب إليك في فترة أيام الصوم ، ساعدني أن أطرد كل ما بداخلي ويخص العالم ، وإن كان اليهود قتلوك بالحسد والحقد لكني يا رب لا أريد أن أقتلك بخطاياي ، فأنت الشافي الوحيد الذي تستطيع أن تمحي وتمسح هذه الخطايا ؛ لأنك أنت هو &#8221; مسيح الله &#8221; كما قال بطرس الرسول ، أنت الذي جئت من أجلي أنا ومن أجل ضعفاتي وسقطاتي ، يا رب أنا أعلم أنه لو كان لا يوجد في العالم أحد غيري كنت ستأتى وتُصلب من أجلى : لأنى أدرك حُبك الكبير . أمين .</p>
<p dir="rtl">المرجع : كتاب إختبرني يا الله ٣٠٩ &#8211; قداسة البابا تواضروس الثاني</p>
<h4>حوار حول شخص يسوع للمتنيح الأنبا أثناسيوس مطران كرسي بني سويف والبهنسا</h4>
<p dir="rtl">حوار حول شخص يسوع :</p>
<p dir="rtl">المسيح ابن الله (مت ۱۳:١٦ &#8211; ۲۰)</p>
<p dir="rtl">ان لفظ Petra باليونانية معناه صخرة ، وهذا معنى اسم بطرس ولقد رد الرسول بطرس الرد الأمين المطلوب &#8221; انت هو المسيح ابن الله الحي &#8221; . وليس للكنيسة ايمان غير هذا ، وهي لا تقوم الا عليه ، ولذلك قال الرب : « على هذه الصخرة &#8211; أي هذا الايمان بی- ابنى كنيستي ، ولقد مدح السيد هذا الايمان لأنه جاء في اعتراف واضح ، وكان قد سبق ومدحه كلما أعلنه انسان مثلما مع المراة الكنعانية (مت ١٥ : ۲۸) ومثلما مع قائد المئة (مت ۸ : ۱۰) ولقد سبق التلاميذ واعلنوا ذلك (مت ١٤: ٣٣) واعلنه كثيرون في نداءاتهم يا « ابن داود ، (مت ۹ : ۲۷) ، (مت١٢ : ٢٣) ، (مت١٥: ٢٢) ۰فطوبى لسمعان بن يونا هنا لأن الرب أعلن له هذه الحقيقة فنطق بها ، وطوبى لكل من ينطق بها . وطوبى لكل البسطاء الذين أعلنت لهم ..أحمدك ايها الآب رب السماء والأرض ،لأنك أخفيتهذه عن الحكماء والفهماء واعلنتها للاطفال..ولا احد يعرف الآب الا الابن ومن اراد الابن أن يعلن له » (مت ۱۱ : ۲۰ &#8211; ٢٧) &#8221; وليس أحد يقدر أن يقول يسوع رب الا بالروح القدس &#8221; (١كو١٢ : ٣).</p>
<p dir="rtl">(مت ١٦ : ۱۸) ان فم الذهب ، وكيرلس فهموا بالبطرا الايمان الذي أقر به بطرس ، كما ان اغسطينوس قال ان الصخرة يريد بها المسيح نفسه لأنه هو الصخرة كما ورد في (اكو ١٠: ٤) .</p>
<p dir="rtl">ولعلنا نتساءل ان كان الايمان هكذا هبة فما ذنب غير المؤمن يقول الرب و هانذا واقف على الباب واقرع ، ان سمع أحد صوتي ، وفتح الباب ، ادخل اليه ، وأتعشى معه وهو معی (رؤ ٣: ٢٠) ومعنى ذلك أن النعمة تطرق باب القلب فان تجاوب معها ازدادت ، وهكذا يزداد التفاعل بينهما . فالفضل اساسا للنعمة ولكنها لا تقتحم القلب اقتحاما فالرب يعطي والانسان يقبل .</p>
<p dir="rtl">ابن الله :</p>
<p dir="rtl">ان تعبير ابن الله تعبير روحي عقلي ، وليس جسديا فالأفكار تتولد من بعضها في العقل . والعقل هو مجموعة هذه الأفكار وليست بنوية الابن للأب انفصالية ، بل هي ولادة ذاتية كتولد الفكر من العقل ، وليس من كيان للعقل دون الفكر ،ولسنا ندرك العقل الا عن طريق صورته وهي الأفكار.</p>
<p dir="rtl">كان لأرسطو نظرية عن المادة ( الهيولا ) والصورة . فالخشب مادة له صفات : أنه صلب ، ويحترق ، وهو أصلا نبات،ويمكن تشكيله الى غير ذلك . والخشب كمادة وصفات وجد في لحظة واحدة ، ولا يمكن فصل الصفات عن مادة الخشب ،ولذا نجد لكل مادة صور ذاتية ، هي مجموع مميزات هذه المادة . فلا قيام للصورة بعيدا عن المادة ولاللمادة دون الصورة ، واذا أزلنا الصورة زالت المادة ، واذا زالت المادة فنيت الصورة . على أن الصورة هي ما ندركه من المادة . ولقد قال الرسول بولس عن ابن الله« الذي هو بهاء مجده ، ورسم جوهره وحامل كل الأشياء بكلمة قدرته » (عب ١ : ٣) وقال عنه أيضا &#8221; صورة الله غير المنظور &#8221; (كو ١ : ١٥)۰ أول كل خليقة ، أي أنه هو أساس كل تصوير آخر في الكون ، وكل وجود &#8221; كل شيء به كان ، وبغيره لم يكن شيء مما كان &#8221; (يو ١ : ٣).</p>
<p dir="rtl">هل يمكن أن يقوم الجوهر دون الرسم والمظهر ( الصورة الذاتية ) ؟ نحن نعرف أن الله روح مالیء كل مكان منزه عن المادة أزلى أبدي . هذه كلها صفات الله أي صورته كما نراه ، أن نحن لا نعرفه في ذاته فالآب هو المصدر والابن هو الصورة ، أما الجوهر فلا وصول لنا اليه : وابن الله ، ابن ذاتی کامن في ذات الله ، ولا انفصال بينهما (&#8221; ألا والآب واحد من رآني فقد رای الآب . أنا معكم كل هذا الزمان ولم تعرفني يا فيلبس ؟ ) (يو١٤: ٩)</p>
<p dir="rtl">والتجسد ليس غريبا ، فالله موجود في كل مكان ، ولو أراد أن يظهر بصورة ما لانسان فانه يقدر . واذا أراد أن يظهر في لحظة معينة لعدة أناس في أماكن مختلفة فهو يفعل ، كأن يظهر الانسان في طائرة في الفضاء ، والآخر في غواصة في البحر في نفس اللحظة ، ولغيرهما كثيرين في ذات الوقت.وهو هو لم يتجزأ ، فالتجسد ظهور الرب على الأرض في طبيعة بشرية ، وليس معنى ذلك أنه انسحب باللاهوت من الكون كله وتركز في هذا الحيز ، بل أنه ظهر في حيز محدود وهو في ذات الوقت غير محدود بالروح ،مادة بالبشرية ، منزه عن المادة باللاهوت ، منظور في الجسد ، وهو الروح غير المنظور &#8221; وليس أحد صعد الي السماء الا الذي نزل من السماء ابن الانسان الذي هو في السماء &#8220;(يو٣: ١٣). وقد فهم اليهود تعبير ابن الله على هذا الوضع أنه حين قال : أنا والآب واحد تناول بعضهم حجارة ليرجموه أجابهم يسوع &#8221; أعمالا كثيرة حسنة أريتكم من عند أبي . بسبب أي عمل منها ترجمونني ؟ أجابه اليهود قائلين : لسنا نرجمك لأجل عمل حسن، بل لأجل تجديف . فأنك وأنت انسان تجعل نفسك الها &#8221; (يو ١٠: ٣٠-٣٦).</p>
<p dir="rtl">وكما قال الرب لبطرس : &#8221; أعطيك مفاتيح ملكوت السموات فكل ما تحله على الأرض يكون محلولا في السموات (مت ١٦ : ۱۹) لأنه نطق بهذا الايمان هنا قالها أيضا لسائر التلاميذ . الحق أقول لكم كل ماتربطونه على الأرض يكون مربوطا في السموات ، وكل ما تحلونه على الأرض يكون محلولا في السموات &#8221; (مت ۱۸ : ۱۸).</p>
<p dir="rtl">رد الرب على بطرس : (مت ١٦ : ۲۱ &#8211; ۲۳)</p>
<p dir="rtl">ما أقرب سقوط الإنسان ، وما أكرم الرب معنا أن يمدحنا على الصواب ويؤنبنا على الخطأ . فلقد مدح بطرس منذ آيتين. وهاهو هنا يؤنبه ويقول له : أذهب عنى ياشيطان . لأن غاية الشيطان أن يمنع خلاص البشرية . ومثلما نقول أن الرب أعلن بناء الكنيسة على كلمة الايمان السابقة ، نقول انه رفض الكلمة الشيطانية التي صدرت من فم بطرس هنا .</p>
<p dir="rtl">ونحن نخطىء كثيرا اذا كنا نحب أن نقبل المسيح مخلصا دون أن نحمل صليبه . فبطرس يكاد يحبه كابن الله الحي ، ويكره أن يراه مصلوبا ، ولكن ابن الله هو بذاته المصلوب &#8221; هكذا أحب الله العالم حتى بذل ابنه الوحيد ، لكي لا يهلك كل من يؤمن به ، بل تكون له الحياة الأبدية &#8221; (يو ۳ : ١٦) ۰</p>
<p dir="rtl">حمل الصليب : (مت ١٦ : ٢٤ &#8211; ۲۸)</p>
<p dir="rtl">وهذا هو الدرس الذي أعطاه الرب للتلاميذ ، في هذا الحوار الذي أصابوا وأخطأوا فيه . فانه وهو ابن الانسان هو صاحب المجد السماوي وسوف ياتي ليجازي كل واحد حسب عمله . ولكنه قبل كل ذلك ينبغي أن يذهب الى أورشليم ويتألم ويقتل ويقوم •</p>
<p dir="rtl">+ أما قوله &#8221; أن من القيام ههنا قوما لا يذوقون الموت حتى يروا ابن الانسان أتيا في ملكوته &#8221; آية ۲۸ فتؤخذ على ثلاثة معان :</p>
<p dir="rtl">ا- ان بعضهم يشاهده متجليا في صورة من صور المجد او في صورة مجد سماوي وهو ما حدث بعد أسبوع واحد وهذا رأی جيروم وفم الذهب.</p>
<p dir="rtl">۲ &#8211; لا يموتون قبل أن يروا مجد الصليب والقيامة وحلول الروح القدس وتأسيس الكنيسة وانتشار الملكوت على الأرض وهذا رأی کیرلس .</p>
<p dir="rtl">٣-لم يعودوا يقعون تحت سلطان الخطية التي هي الموت الروحي بسبب تملك الله عليهم ويستمرون أحياء بالنعمة الى يوم مجيئه الثاني .</p>
<ul>
<li dir="&quot;rtl''">فالموت عن الخطية هو الخلاص منها . والرب مات عن خطايانا ليخلصنا منها ونحن نحيا بموته لنموت ايضا عن الشر : أن من أراد أن يخلص نفسه . يهلكها ، ومن يهلك نفسه من اجلي يجدها (مت ١٦: ٢٥).</li>
</ul>
<p dir="rtl">المرجع : كتاب إنجيل متي ( صفحة ١٩٤ &#8211; ١٩٨ ) &#8211; الأنبا أثناسيوس مطران كرسي بني سويف والهنسا &#8211; لجنة التحرير والنشر بمطرانية بني سويف</p>
<hr />
<p dir="rtl"><a href="#_ftnref1" name="_ftn1">[1]</a><sup>&#8211; الكنيسة بيت الله ص ٣٥ &#8211; القمص تادرس يعقوب ملطي.</sup></p>

      {% endcreateArticleAccordions %}
    </section>
  {% endblock %}
  