---
layout: 'layouts/reading.html'
title: 'قراءات يوم الأربعــاء من الأسبوع السادس'
permalink: great-lent/6-3.html
---
  {% block content %}
    <section id="readings">
      <ul>
      {% if 'null' != 'null' %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">العشية</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeVespers '' '' %}
          </div>
        </div>
      </li>
      {% endif %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">باكر</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeMatins '19.102:17,21' '41.7:1-20' '2.10:1-29*@+2.11:1-10@23.44:21-28@20.8:22-36@18.34:1-37@73.10:1-33' %}
          </div>
        </div>
      </li>
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <h3 class="flex items-center justify-between">
            <span class="kufi">القداس</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </h3>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeLitugy '45.2:12-24' '61.1:20-21*@+61.2:1-6' '44.26:1-8' '19.9:11-12' '42.11:45-52' %}
          </div>
        </div>
      </li>
        </ul>
    </section>
    <section id="article">
      <h3 class="mt-8 mb-4 heading-explain">شرح القراءات</h3>
      {% createArticleAccordions firstName, lastName %}
        <p>&#8220;لأَنَّنَا رَائِحَةُ الْمَسِيحِ الذَّكِيَّةِ للهِ، فِي الَّذِينَ يَخْلُصُونَ وَفِي الَّذِينَ يَهْلِكُونَ.&#8221; (٢كو٢: ١٥)</p>
<p>[الرعاة أضبطهم والذين يرعونهم ثبتهم أعطِ بهاء للإكليروس] (القدّاس الغريغوري &#8211; الطلبات)</p>
<p>[آه يا رب إن أولئك المتقدمين في كنيستك كثيراً ما يكونوا أول مضطهديك] (القديس اغريغوريوس)<a href="#_ftn1" name="_ftnref1">[1]</a></p>
<h3>شواهد القراءات</h3>
<p>(خر١٠: ١-الخ، ص١١: ١-الخ)، (إش٤٤: ٢١- الخ)، (أم ٨: ٢٢- الخ)، (أي٣٤: ١- الخ)، (مز١٠١: ١٤، ١٧)، (مر٧: ١- ٢٠)، (رو٢: ١٢- ٢٤)، (٢بط ١: ٢٠- الخ، ص٢:  ١- ٦)، (أع٢٦: ١- ٨)، (مز٩: ٧، ٨)، (لو١١: ٤٥-٥٢).</p>
<h3>شرح القراءات</h3>
<p><strong>تتكلّم قراءات هذا اليوم</strong> عن الشهود الأمناء والشهود الكذبة فالكنيسة المقدّسة هى التي تمتلىء من الشهود الأمناء.</p>
<p>&#8220;فليضئ نوركم هكذا قدّام الناس لكي يروا أعمالكم الحسنة فيمجدون أباكم الذي في السموات&#8221; (مت ٥: ١٦).</p>
<p>وخطورة أن يتواجد في الكنيسة شهود كذبة يزيفون صورة الكنيسة ويقدمون صورة خاطئة عن رأس الكنيسة</p>
<p>&#8220;لأن اسم الله يجدّف عليه بسببكم بين الأمم كما هو مكتوب&#8221; (رو ٢: ٢٤).</p>
<p><strong>تبدأ القراءات بسفر الخروج</strong> الذي يتكلم عن هرون وموسى كشهود أمناء أرسلهم الرب لقيادة الشعب في خروجه من أرض مصر والنعمة التي أعطاها الرب لهم في عيون الشعب وفي عيون عبيد فرعون.</p>
<p>&#8220;وأعطى الرب نعمة لشعبه أمام المصريين فأتمنوهم أما الرجل موسى فصار عظيماً جداً أمام المصريين وأمام فرعون وأمام عبيده&#8221;.</p>
<p><strong>ويعلن سفر إشعياء</strong> كيف يبطل الله الشهود الكذبة وكيف يقيم كلام الشهود الأمناء.</p>
<p>&#8220;مبطل آيات الكذبة ومحمق العرافين ومرجع الحكماء إلى الوراء ومجهل مشورتهم مقيم كلام عبده وجاعل مشورة رسله براً&#8221;.</p>
<p><strong>ويكشف سفر الأمثال</strong> عن كيف نكون شهود أمناء لله.</p>
<p>&#8220;الآن يا ابني اسمع لي فطوبى للذين يحفظون طرقي، اسمعوا الحكمة وكونوا حكماء ولاترفضونها، طوبى للانسان الذي يسمع لي وللرجل والحافظ طرقي الساهر عند أبوابي كل يوم حافظاً قوائم أبوابي&#8221;.</p>
<p><strong>بينما في سفر أيوب</strong> يظهر طبيعة الشهود الكذبة ولماذا يُدَانوا.</p>
<p>&#8220;فإنهم أدبروا عن ناموس الله، وبره لم يعرفوه ولم يبلغوا إليه صراخ المسكين وهو يسمع صراخ البائسين&#8221;.</p>
<p><strong>والعجيب في مزمور باكر</strong> يطمئن الرب النفس بأنه يسمع صراخ المساكين وطلبتهم أي أنّه برغم الشهود الكذبة يتدخّل الله شخصياً لأجل خلاص أولاده.</p>
<p>&#8220;لأنه نظر إلى صلاة المساكين ولم يرذل طلبتهم ليخبروا في صهيون باسم الرب وبتسبحته في أورشليم&#8221;.</p>
<p><strong>ويقدّم إنجيل باكر</strong> صورة للشهود الكذبة التي تهتّم بالشكل دون الجوهر وما هو للناس عن ما هو لله.</p>
<p>&#8220;ثم سأله الفريسيون والكتبة لماذا لا يسلك تلاميذك حسب سُنة الشيوخ بل بأيد دنسة يأكلون الخبز فأجابهم قائلاً: حسناً تنبأ عنكم إشعياء أيها المراءون كما هو مكتوب: هذا الشعب يكرمني بشفتيه وأما قلوبهم فبعيدة عني، فهم باطلاً يعبدونني إذ يعلمون تعاليم هى وصايا الناس&#8221;.</p>
<p><strong>ويؤكد البولس</strong> هذه الصورة الكاذبة والمزيّفة للمعلمين الكذبة الذين نسوا وأهملوا حياة التوبة.</p>
<p>&#8220;فان كنت تسمي يهودياً وتعتمد على الناموس وتفتخر بالله وتعرف مشيئته وتميز الأمور المتخالفة متعلماً من الناموس وتثق أنك قائد للعميان ونور الذين في الظلمة ومهذب للأغبياء ومعلم للأطفال ولك صورة العلم والحق في الناموس فأنت الذي تعلم غيرك ألست تعلم نفسك&#8221;.</p>
<p><strong>ويقارن الكاثوليكون </strong>بين شهود الرب الأمناء كالأنبياء مثل نوح البار وبين الشهود الكذبة.</p>
<p>&#8220;لأنه لم تأت نبوة قط بمشيئة إنسان بل تكلم أناس الله القديسون مسوقين من الروح القدس، وقد كان أيضاً في الشعب أنبياء كذبة كما أنه سيكون فيكم أيضاً معلِّمون كذبة، لأنه إن كان الله لم يشفق على الملائكة الذين أخطأوا، ولم يشفق على العالم القديم إنما حفظ نوحاً ثامناً كارزاً للبر&#8221;.</p>
<p><strong>ويشرح في الإبركسيس</strong> <strong>القديس بولس</strong> كيف إفتقده الله وحرّره من الحرف للروح وجعله شاهده الأمين.</p>
<p>&#8220;وهم يعرفونني من قبل لو أرادوا أن يشهدوا إني قد عشت فرّيسياً على مذهب ديننا الأقوم&#8221;.</p>
<p><strong>لكن مزمور القدّاس</strong> يحذّر من محاسبه الله للشهود الكذبة.</p>
<p>&#8220;واخبروا في الأمم بأعماله لأنه طلب الدماء وتذكرها&#8221;.</p>
<p><strong>ويختم إنجيل القدّاس</strong> بويلات الرب للناموسيون الذين يحمِّلون الناس أحمالاً عسرة.</p>
<p>&#8220;وأنتم أيضاً أيها الناموسيون ويل لكم لأنكم تحمِّلون الناس أحمالاً عسرة الحمل وأنتم لا تمسون الأحمال بأحدى أصابعكم، ويل لكم أيها الناموسيون لأنكم أخذتم مفاتيح المعرفة فلم تدخلوا أنتم والداخلون منعتموهم&#8221;.</p>
<p></p>
<h3>ملخّص القراءات</h3>
<table width="506">
<tbody>
<tr>
<td width="140">سفر الخروج</td>
<td width="367">الكنيسة المقدّسة مملوءة بشهود أمناء.</td>
</tr>
<tr>
<td width="140">سفر إشعياء</td>
<td width="367">يبطل الله الشهود الكذبة ويدعم الشهود الأمناء.</td>
</tr>
<tr>
<td width="140">سفر الأمثال</td>
<td width="367">طبيعة الشهود الأمناء.</td>
</tr>
<tr>
<td width="140">سفر أيوب</td>
<td width="367">طبيعة الشهود الكذبة.</td>
</tr>
<tr>
<td width="140">مزمور باكر</td>
<td width="367">يسمع الله صراخ المساكين.</td>
</tr>
<tr>
<td width="140">إنجيل باكر</td>
<td width="367">الشهود الكذبة تهتم بالشكل دون الجوهر.</td>
</tr>
<tr>
<td width="140">البولس</td>
<td width="367">الشهود الكذبة لا يراجعون أنفسهم.</td>
</tr>
<tr>
<td width="140">الكاثوليكون</td>
<td width="367">الشهود الكذبة ينكرون الرب ويتجرون في الطمع.</td>
</tr>
<tr>
<td width="140">الإبركسيس</td>
<td width="367">الله يفتقد بولس الرسول ويحوّله لشاهد أمين.</td>
</tr>
<tr>
<td width="140">مزمور وإنجيل القدّاس</td>
<td width="367">الله سيدين الشهود الكذبة وسينتقم لدماء الشهود الأمناء.</td>
</tr>
</tbody>
</table>
<p></p>
<h3>الكنيسة في قراءات اليوم</h3>
<table width="503">
<tbody>
<tr>
<td width="144">سفر الأمثال</td>
<td width="359">ولادة الإبن من الآب.</td>
</tr>
<tr>
<td width="144">البولس ومزمور القدّاس</td>
<td width="359">الدينونة.</td>
</tr>
<tr>
<td width="144">الكاثوليكون</td>
<td width="359">الوحي وكلام الله &#8211; الملائكة الذين سقطوا.</td>
</tr>
<tr>
<td width="144">الإبركسيس</td>
<td width="359">قيامة الأموات.</td>
</tr>
<tr>
<td width="144">إنجيل القّداس</td>
<td width="359">الأنبياء والرسل.</td>
</tr>
</tbody>
</table>
<p></p>
<h3 dir="RTL">عظات ابائية</h3>
<h4 class="yiv5135275603MsoNormal" dir="RTL"><span lang="AR-SA">شرح إنجيل القدَّاس للقديس كيرلس الأسكندرى</span></h4>
<p class="yiv5135275603MsoNormal" dir="RTL"><span lang="AR-SA">ويل لكم أيها الناموسيون  </span></p>
<p class="yiv5135275603MsoNormal" dir="RTL"><span lang="AR-SA">(لوقا ۱۱: ٤٥ – ٤٨)&#8221; فأجاب واحد من الناموسيين وقال له: يا معلم حين تقول هذا تشتمنا نحن أيضاً. فقال: وويل لكم أنتم أيها الناموسیون لأنكم تحملون الناس أحمالاً عسرة الحمل وأنتم لا تمسون الأحمال باحدى أصابعكم. ويل لكم لانكم تبنون قبور الأنبياء وآباؤكم قتلوهم. إذا تشهدون وراضون باعمال آبائكم لأنهم هم قتلوهم وأنتم تبنون قبورهم </span><span dir="LTR">&#8220;.</span></p>
<p class="yiv5135275603MsoNormal" dir="RTL"><span lang="AR-SA">إن التوبيخ هو دائماً أمر عسير أن يحتمله أي إنسان، ولكنه ليس بغير فائدة للعاقلين، لأنه إنما يقودهم إلى التزام ممارسة تلك الأشياء التي تجعلهم مستحقین للكرامة، وتجعلهم محبين لاقتناء الفضائل، أما الذين يسرعون إلى الشرور بكل اهتمام، والذين جعلوا قلوبهم ضد قبول النصح، فإنهم ينجرفون بسرعة إلى خطايا أعظم عن طريق نفس الأسباب التي كان يجب أن تجعلهم أكثر تعقلاً، بل إنهم يتقسون بواسطة كلمات الذين يحاولون أن ينفعوهم. وكمثل لهذه الحالة من التفكير أنظر إلى أولئك الذين يدعون بالناموسيين عند اليهود. كان مخلص الجميع يوبخ الفريسيين كأناس منحرفين بعيداً عن الطريق الصحيح وواقعين في ممارسات غير لائقة، إذ وبخهم على كونهم منتفخين، ومرائين، ومحبين للتحيات في الأسواق، وراغبين في الجلوس في المتكآت الأولى في المجامع، بل ودعاهم أكثر من ذلك قبور تظهر جميلة من الخارج، ولكن من الداخل مملوءة عظام أموات وكل نجاسة (مت۲۳ : ۲۷). وعندما قال هذه الكلمات، تذمرت فئة الناموسيين الأغبياء، ونهض واحد منهم وعارض تصريحات المخلص وقال: &#8220;يا معلم حين تقول هذا تشتمنا نحن أيضاً </span><span dir="LTR">&#8220;</span><span lang="AR-SA">. يا له من غباء عظيم! أي عمي في العقل والفهم من جهة كل شيء ضروري! إن هؤلاء الناس يعرضون أنفسهم للتوبيخ، بل بالأحرى أن قوة الحق أظهرتهم أنهم مستحقون كذلك لنفس الاتهامات كالفريسيين، وأنهم يفكرون مثلهم ويشاركونهم في أعمالهم الشريرة ما داموا يعتبرون أن ما يقوله المسيح عن الآخرين قد قيل ضدهم هم أيضاً، وإلا فأخبرني لأي سبب تغضب! لأنه حينما يوجه أي لوم إلى الفريسيين فأنت تقول إنك أيضاً تشتم، إذن فأنت تعترف بأعمالك، وأنت تدرك طبعاً في نفسك بأن سلوكك مثلهم. ولكن إن اعتبرت هذا توبيخاً واجباً لهم على أي شيء من هذا النوع، ورغم ذلك فإنك لا تغير سلوكك، فإن سلوكك هذا هو الذي يستحق اللوم</span><span dir="LTR">.</span></p>
<p class="yiv5135275603MsoNormal" dir="RTL"><span lang="AR-SA">إن كنت تكره التوبيخ كما لو كان شتيمة، فاظهر نفسك أنك أسمى من الأخطاء التي تتهم بها أو بالحري لا تنظر إلى كلمة التقويم على أنها شتيمة. ألا ترى أن هؤلاء الذين يشفون أجساد الناس يتحدثون مع المرضى عن الأسباب التي أدت إلى أمراضهم ويستخدمون الأدوية المؤلمة ليوقفوا ما حدث، ومع ذلك فلا يغضب منهم أحد لهذا السبب ولا يعتبر أحد أن ما يقولونه شتيمة، ولكنك أنت ضيق الفكر في تقبل النصائح ولا ترضى أن تتعلم ما هي الأوجاع اني تؤذي قلبك. كان من الأفضل جداً أن تحب التوبيخ وأن تطلب لأجل التخلص من أمراضك ولأجل شفاء قروح نفسك، وكان من الأفضل جداً بالحري أن تقول: &#8220;اشفنى، خلصني فأخلص، لأنك أنت هو تسبيحى&#8221;(إر ١٧ : ١٤)</span><span dir="LTR">.</span></p>
<p class="yiv5135275603MsoNormal" dir="RTL"><span lang="AR-SA">لا شيء من هذا النوع يدخل عقل الناموسيين ولكنهم تجاسروا أن يقولوا: &#8221; بقولك هذا تشتمنا نحن أيضاً &#8221; معتبرين بجهلهم أن اللوم الذي هو لمنفعتهم وفائدتهم، شتيمة</span><span dir="LTR">.</span></p>
<p class="yiv5135275603MsoNormal" dir="RTL"><span lang="AR-SA">لماذا إذن أجابهم المسيح؟ إنه جعل توبيخه لهم أكثر شدة وأوضح كبرياءهم الفارغ بقوله هكذا:&#8221; ويل لكم أيها الناموسيين، لأنكم تحملون الناس أحمالاً تقيلة عسرة الحمل وأنتم لا تمسون الأحمال بأحد أصابعكم&#8221;. إنه يصوغ نقاشه ضدهم بمثل واضح، لأنه كان أمراً معترفاً به أن الناموس عسر الحمل للإسرائيليين</span><span dir="LTR">.</span></p>
<p class="yiv5135275603MsoNormal" dir="RTL"><span lang="AR-SA">كما اعترف بذلك أيضاً التلاميذ الإلهيون بأنهم كانوا ينتهرون أولئك الذين سعوا لجعل الداخلين إلى الإيمان أن يعودوا إلى فرائض الناموس، لأنهم قالوا: &#8220;فالآن لماذا تجربون الله بوضع نير على عنق التلاميذ لم نستطع نحن ولا آباؤنا أن نحمله؟&#8221; (أع ١٥ : ۱۰)</span><span dir="LTR">.</span></p>
<p class="yiv5135275603MsoNormal" dir="RTL"><span lang="AR-SA">والمخلص نفسه علمنا هذا منادياً بقوله &#8220;تعالوا إلي يا جميع المتعبين والثقيلي الأحمال وأنا أريحكم، احملوا نیري عليكم وتعلموا مني لأني وديع ومتواضع القلب فتجدوا راحة لنفوسكم&#8221; (مت ۱۱: ٢٨ ، ٢٩). إذن فهو يقول إن الذين تحت الناموس هم متعبون وثقيلوا الأحمال، بينما يدعو نفسه وديعاً، كما لو كان الناموس ليس فيه شيئاً من هذه الصفة، لأنه كما يقول بولس: &#8220;لأن من خالف ناموس موسی فعلى فم شاهين أو ثلاثة شهود يموت بدون رأفة &#8221; (عب ۱٠ : ۲٨). لذلك فهو يقول، ويل لكم أيها الناموسيون، لأنكم بينما تحملون الناس أحمالاً عسرة الحمل و غير ممكن رفعها، تضعونها على أولئك الذين هم تحت الناموس، وأنتم أنفسكم لا تلمسونها. لأنهم بينما يأمرون بأن تحفظ شريعة موسی بدون انتهاك، ويحكمون بالموت على الذين يستخفون بها، فإنهم هم أنفسهم لا يظهرون أي مبالاة لواجب تنفيذ فرائضها – وإذ اعتادوا أن يفعلوا هكذا، فإن بولس الحكيم يعنفهم أيضاً بقوله: &#8220;هوذا أنت تسمي يهودياً </span><span lang="AR-SA">وتتكل على</span><span lang="AR-SA"> الناموس وتفتخر بالله، وتعرف مشيته وتميز الأمور المتخالفة متعلماً من الناموس، وتثق أنك قائد للعميان، ومهذب لمن هم بلا فهم، ومعلم للأطفال، ولك صورة العلم والحق في الناموس، فأنت إذا الذي تعلم غيرك ألست تعلم نفسك؟ الذي تكرز أن لا يسرق أتسرق ؟ الذي تقول أن لا يزني أتزني؟ الذي تستكره الأوثان أتسرق الهياكل؟ الذي تفتخر بالناموس ابتعدي الناموس تهين الله ؟&#8221;(رو٢: ۱۷-۱۳). لأن المعلم يصير مرفوضاً ويخزى إذا كانت تصرفاته لا تتفق مع كلماته، ويحكم عليه المخلص بالعقاب الشديد، لأنه يقول: &#8220;إن من علم وعمل يكون عظيماً، أما من يعلم ولا يعمل فانه يدعي صغيراً في ملكوت السموات&#8221;(مت ٥ : ۱۹). ولنفس السبب يكتب لنا تلميذ المخلص ويقول: &#8220;لا يكن فيكم معلمين كثيرين يا إخوتي عالمين أننا نأخذ دينونة أعظم، لأننا في أشياء كثيرة نعثر جميعنا&#8221;(یع ۳: ۱)</span><span dir="LTR">. </span></p>
<p class="yiv5135275603MsoNormal" dir="RTL"><span lang="AR-SA">وهكذا بعد أن أظهر المخلص هذه </span><span lang="AR-SA">العصبة</span><span lang="AR-SA"> الرديئة من الناموسيين فانه يواصل حديثه لينطق بتوبيخ عام لكل رؤساء اليهود فيقول &#8220;الويل لكم ! لأنكم تبنون قبور الأنبياء وآباؤكم قتلوهم، فأنتم اذن تشهدون وترضون بأعمال أبائكم، لأنهم هم قتلوهم وأنتم تبنون قبورهم&#8221;. دعنا إذن نفحص بعناية ماذا يقصد المخلص، لأن ما هو العمل الشرير الذي يمكننا أن نقول إنهم أجرموا فيه ببنائهم قبور القديسين؟ ألم يصنعوا بهذا تكريماً متميزاً لهؤلاء القديسين؟ فمن وقت لآخر كان أسلاف اليهود يسلمون للموت الأنبياء القديسين الذين يأتونهم بكلمة الله ويقودونهم إلى الطريق الصحيح، أما أبناؤهم فإذ اعترفوا أن الأنبياء كانوا قديسين ورجالاً مكرمين فإنهم يشيدون قبوراً ومدافن لهم، كما لو كانوا يمنحونهم كرامة تليق بالقديسين</span><span dir="LTR">.</span> <span lang="AR-SA">إذن، فأباؤهم ذبحوهم، أما هم فبإعتقادهم أنهم أنبياء ورجالاً قديسين صاروا قضاة لآبائهم الذين ذبحوهم، لأنهم بعزمهم على تقديم الكرامة لأولئك الذين قتلوا فإنهم بهذا يتهمون آباءهم بخطئهم فيما عملوه. أما هم فإذ أدانوا آباءهم بسبب هذه الجرائم القاسية، فقد صاروا على وشك أن يقترفوا ذنب جرائم مساوية، ويرتكبوا نفس الأخطاء، أو بالحري أخطاء أكثر شناعة منها لأنهم ذبحوا رئيس الحياة المخلص والمنقذ للجميع، وأضافوا أيضاً لشرهم نحوه أعمال قتل أخرى، ممقوتة. فها هم قد قتلوا إستفانوس، لا كمتهم بأي شيء رديء بل بالحري بسبب نصحه لهم إذ كلمهم بما هو في الكتب الموحى بها، وجرائم أخرى بجانب هذه ارتكبوها ضد كل قديس كان يبشرهم برسالة الإنجيل الخلاصية</span><span dir="LTR">. </span></p>
<p class="yiv5135275603MsoNormal" dir="RTL"><span lang="AR-SA">لذلك فإن الرب يبكت الناموسيين والفريسيين بكل طريقة، كأناس يكرهون الله، وهم دائماً منتفخون ومحبون للذة أكثر من محبة الله، ومن كل وجه يرفضون أن يخلصوا، لهذا أضاف المسيح تلك الكلمة: &#8220;ويل&#8221; كشيء يختص بهم، الذي به وله ومعه الله الأب التسبيح و السلطان مع الروح القدس إلى أبد الآبدين آمين</span><span dir="LTR">.</span></p>
<p class="yiv5135275603MsoNormal" dir="RTL"><span lang="AR-SA">المرجع : كتاب تفسير إنجيل لوقا للقديس كيرلس الأسكندري ( صفحة ٤٠٤ ، ٤٠٧ ) &#8211; ترجمة دكتور نصحي عبد الشهيد</span></p>
<p class="yiv5135275603MsoNormal" dir="RTL"><span dir="LTR"> </span></p>
<h4 class="yiv5135275603MsoNormal" dir="RTL"><span lang="AR-SA">عظة أخري للقديس كيرلس الأسكندري عن إنجيل القدَّاس</span></h4>
<p class="yiv5135275603MsoNormal" dir="RTL"><span dir="LTR">+ </span><span lang="AR-SA">كان الناموس بالنسبة للإسرائيليِّين محزنًا كما اِعترفوا، وقد عرف التلاميذ اللاهوتيُّون ذلك، إذ انتهروا الذين سعوا لإرجاع الذين آمنوا إلى الطقوس الناموسيَّة، قائلين: &#8220;فالآن لماذا تجُرِّبون الله بوضع نيرٍ على عنق التلاميذ لم يستطع آباؤنا ولا نحن إن نحمله؟&#8221;(أع١٥: ١٠)&#8230; وقد علِّمنا المخلِّص نفسه ذلك، إذ صرخ قائلًا: &#8220;تعالوا إليّ يا جميع المتعبين والثقيلي الأحمال وأنا أريحكم. اِحملوا نيري عليكم وتعلَّموا منِّي، لأني وديع ومتواضع القلب، فتجدوا راحة لأنفسكم&#8221; (مت١١ : ٢٨ &#8211; ٢٩). إذن يقول بأن الذين تحت الناموس هم تعابى وثقيلوا الأحمال، بينما يدعو نفسه وديعًا لأنه ليس في شخصه شيئًا من الناموس. وكما يقول بولس: &#8220;من خالف ناموس موسى، فعلى شاهديْن أو ثلاثة شهود يموت بدون رأفة&#8221;(عب١٠: ٢٨). إذن ويل لكم أيها الناموسيُّون -كما يقول- لأنكم تُحمِّلون من هم تحت الناموس أحمالًا عسِرة الحمل، وأنتم لا تمسُّون الأحمال. لأنهم بينما يأمرون بالتزام حفظ وصايا موسى بلا كسر للوصيَّة، ويحكمون بالموت على من يستهين بها، إذا بهم لا يُبالون بتحقيق أصغر الوصايا الهيِّنة. وإذ كان ذلك أمرًا عاديًا قال الحكيم بولس موبِّخًا إيَّاهم: &#8220;هوذا أنتَ تُسمَّى يهوديًا، وتتكل على الناموس، وتفتخر بالله، وتعرف مشيئته، وتميِّز الأمور المتخالفة متعلِّمًا من الناموس، وتثق أنك قائد للعميان ونور للذين في الظلمة، ومهذب للأغبياء، ومعلِّم للأطفال، ولك صورة العلم والحق في الناموس، فأنت إذًا الذي تعلِّم غيرك ألست تعلِّم نفسك؟ الذي تكرز ألا يُسرق أتسرق؟ الذي تقول أن لا يُزني، أتزني؟ الذي تستكره الأوثان، أتسرق الهياكل؟ الذي تفتخر بالناموس، أبتعدِّي الناموس تُهين الله؟&#8221; (رو ٢: ١٧- ٢٣). فإن المعلِّم يُحتقر وتسوء سمعته حينما يكون سلوكه غير متَّفق مع كلماته</span></p>
<p class="yiv5135275603MsoNormal" dir="RTL"><span dir="LTR">+ </span><span lang="AR-SA">آباؤهم قتلوا الأنبياء، وإذ آمنوا أنهم أنبياء قدِّيسون صاروا قضاه ضد الذين قتلوهم. لقد صمَّموا أن يكرموا الذين حُكم عليهم بالموت، وبتصرُّفهم هذا أدانوا من أخطاؤا . ولكن الذين أدانوا آباءهم على جرائمهم القاسية كانوا في طريقهم أن يرتكبوا جرائم مشابهة، بل وأبشع منها، إذ قتلوا رئيس الحياة، مخلِّص الجميع، وأضافوا إلى جريمة قتلهم له جرائم أخرى. فقد أُقتيد استفانوس للموت، ليس لاتهامه بشيء دنيء، وإنما لأنه نصحهم وتحدَّث معهم ممَّا ورد في الكتب الموحَى بها. وجرائم أخرى ارتكبت بواسطتهم ضد كل قدِّيس كرز بالإنجيل رسالة الخلاص. هكذا برهن الناموسيُّون والفرِّيسيُّون بكل طريقة أنهم مبغضو الله ومتكبِّرون ومحبَّون للملذَّات أكثر من حبِّهم الله، وبكل وسيلة يكرهون الخلاص لأنفسهم، لذلك أضاف السيِّد كلمة &#8220;الويل&#8221; لهم على الدوام</span></p>
<p class="yiv5135275603MsoNormal" dir="RTL"><span dir="LTR">+ </span><span lang="AR-SA">الذين يبحثون في الكتب المقدَّسة، ويعرفون إرادة الله، إن كانوا أناسًا فاضلين وغيورين على صلاح الناس، ومهرة في قيادتهم قيادة سليمة في كل أمر عجيب، يكافئون بكل بركة إن تمَّموا واجباتهم بغيرة. هذا ما يؤكِّده المخلِّص بقوله: &#8220;فمن هو العبد الأمين الحكيم الذي أقامه سيِّده على خدَمِه ليعطيهم الطعام في حينه، طوبى لذلك العبد الذي إذا جاء سيِّده يجده يفعل هذا، الحق أقول لكم أنه يُقيمه على جميع أمواله&#8221; (مت٢٤: ٤٥- ٤٧). أما إن كان متراخيًا ومهملًا ومعثرًا لمن هم في عهدته، فينحرفون عن الطريق المستقيم، مثل هذا يكون بائسًا ويسقط في خطر العقوبة بلا رجاء. مرَّة أخرى يقول المسيح نفسه: &#8220;من أعثر أحد هؤلاء الصغار المؤمنين بي، فخير له أن يُعلَّق في عنقه حجر الرحى ويغُرَّق في لُجَّة البحر&#8221; (مت١٨: ٦). هكذا برهن المسيح للذين حسبوا أنفسهم مهرة في الناموس أنهم يرتكبون أخطاء جسيمة كهذه، أقصد بهم الكتبة والناموسيِّين. إذا قال لهم &#8220;ويل لكم أيها الناموسيِّين لأنكم أخذتم مفتاح المعرفة&#8230;&#8221; نفهم مفتاح المعرفة أنه الناموس ذاته، والتبرير بالمسيح أقصد الإيمان به. فمع كوْن الناموس ظلًا ورمزًا، فإن هذه الظلال تشكِّل لنا الحق وهذه الرموز تصوِّر لنا سرّ المسيح بطرق متعدِّدة&#8230; فإن كل كلمة في الكتاب المقدَّس الإلهي الموحَى به تنظر إليه وتشير نحوه&#8230; فكان من واجب الذين يُدعون ناموسيِّين بكونهم يدرسون ناموس موسى وعارفين لكلمات الأنبياء القدِّيسين، أن يفتحوا أبواب المعرفة لجماهير اليهود. لأن الناموس يقود البشر إلى المسيح وإعلانات الأنبياء التقويَّة تقود إلى التعرُّف عليه&#8230; لكن هؤلاء الذين دُعوا ناموسيِّين لم يفعلوا ذلك، بل على العكس أخذوا مفتاح المعرفة الذي به يُفهم الناموس والإيمان المُحق بالمسيح، لأنه بالإيمان معرفة الحق، كما يقول إشعياء &#8220;إن لم تؤمنوا فلا تأمنوا&#8221; (إش ٧: ٩)&#8230; لقد أخذوا مفتاح المعرفة، إذ لم يسمحوا للناس أن يؤمنوا بالمسيح مخلِّص الجميع .</span></p>
<p class="yiv5135275603MsoNormal" dir="RTL"><span lang="AR-SA">المرجع : تفسير إنجيل لوقا (الإصحاح الحادي عشر) &#8211; القمص تادرس يعقوب ملطي</span></p>
<h4 class="yiv5135275603MsoNormal" dir="RTL"><span dir="LTR"> </span></h4>
<h3 class="yiv5135275603MsoNormal" dir="RTL"><span dir="LTR">عظات اباء وخدام معاصرون </span></h3>
<h4 dir="RTL"><span lang="AR-SA">لمن هذه الويلات ؟ </span><span lang="AR-SA">لقداسة البابا تواضروس الثاني</span></h4>
<h5 class="yiv5135275603MsoNormal" dir="RTL"><span lang="AR-SA">يوم الأربعاء من الأسبوع الخامس لقداسة البابا تواضروس الثاني</span></h5>
<p class="yiv5135275603MsoNormal" dir="RTL"><span lang="AR-SA">لو ( ١١ : ٤٥ -٥٢ )</span></p>
<p class="yiv5135275603MsoNormal" dir="RTL"><span lang="AR-SA">لمن هذه الويلات ؟</span></p>
<p class="yiv5135275603MsoNormal" dir="RTL"><span lang="AR-SA">السؤال في هذا الفصل الإنجيلي &#8221; لمن هذه الويلات ؟&#8221; وهو سؤال بالتلميح ، ونجد إجابته في فقرة هذا الإنجيل . يذكر معلمنا متى في (أصحاح ٥) &#8221; تطويبات&#8221; بدأ بها ربنا يسوع المسيح عظته على الجبل ، وفي (أصحاح ٢٣) يذكر &#8220;ويلات&#8221;، وتُلاحظ أن عدد الويلات ثمانية في مقابل ثمانية تطويبات ، فمن استمع استحق التطويب ، ومن رفض تنصب عليه الويلات ، وهنا في (لو١١) يذكر معلمنا لوقا هذه الويلات. كلمة &#8220;ويل&#8221; كلمة صعبة جدا ، وبها خاطب السيد المسيح الكتبة والفريسيين قائلا : &#8220;ويل لكم &#8230;.&#8221;، فقام واحد من الناموسيين وقال له : &#8220;يا معلم أنك تشتمنا نحن أيضاً&#8221;، فأكمل ربنا يسوع الويلات </span><span dir="LTR">.</span></p>
<p class="yiv5135275603MsoNormal" dir="RTL"><span lang="AR-SA">هذا الفصل من الإنجيل يتكلم عن موضوع خطير جداً نسميه &#8221; آفة الحياة الروحية &#8221; وهو &#8220;الرياء&#8221;، هؤلاء الناس كان كل همهم أن يظهروا أمام الناس لكي يمدحوهم ، ونسألهم ماذا تعملون من أجل الله ؟ هل توجد لديكم مخافة الله ؟! كانوا يضعون قوانين والتزامات على الناس باسم الشريعة اليهودية ، وهم لا يعملون بها &#8221; تحملون النّاس أحمالاً عسرة الحمل وأنتم لا تمسون الأحمال بإحدى أصابعكم . ويل لكم لأنكم تبنون قبور الأنبياء وآباؤكم قتلوهم &#8221; (لو ١١ : ٤٦ &#8211; ٤٧). &#8220;ويل لكم&#8221; هي بمثابة جرس إنذار في الكتاب المقدس ، ونجدها مكررة في سفر الرؤيا ، وهذا الإنذار ينبه الإنسان عن الخطر الذي من الممكن أن يطيح بحياته الروحية وهو &#8220;الرياء&#8221;.الرياء يعتبر من الأمراض التي تصيب كثير من الذين يرتبطون بالكنيسة ، فمثلاً إنسان يجيد لحناً يقوله جيداً ، لكن هل حياة الفضيلة والخشوع الموجودة في اللحن موجودة ؟ أو خادم يقدم درساً روحياً ويحضره جيداً ، لكن هل يعيش ما يعلمه ويطبقه في حياته ؟ السيد المسيح قدم لنا بعض الأمثلة عن ذلك ، من أشهرها </span><span dir="LTR">:</span></p>
<p class="yiv5135275603MsoNormal" dir="RTL"><span dir="LTR">+ </span><span lang="AR-SA">مثل الخشبة والقذى : إنسان في عينيه خشبة ، وصديقه في عينه قذى (القذى هي شيء صغير جدا)، كيف تقول لأخيك دعني أخرج القذى من عينك وها الخشبة في عينك أنت ، يا مرائي أخرج أولا الخشبة من عينك وحينئذ تبصر جيداً أن تُخرج القذى من عين أخيك . أسهل شيء أن يقف الإنسان يعطي نصائح أو ينتقد الآخرين ، لكن هل نظرت لنفسك أولا ؟</span></p>
<p class="yiv5135275603MsoNormal" dir="RTL"><span dir="LTR">+ </span><span lang="AR-SA">مثل شجرة التين غير المثمرة : جاء إليها السيد المسيح ولم يجد فيها شيئاً إلا ورقاً فقط ، والمعروف أن الثمار تظهر قبل الأوراق ، وقد لعنها السيد المسيح ليس لأنها بلا ثمار، ولكن لأنها ظهرت وكأنها مثمرة</span><span dir="LTR">. </span></p>
<p class="yiv5135275603MsoNormal" dir="RTL"><span dir="LTR">+ </span><span lang="AR-SA">مثل الفريسي والعشار : كانت عبادة الفريسي شكلية مظهرية غير مقبولة أمام الله ، فالعبادة الشكلية مهما كانت ومهما استطالت في الوقت غير مقبولة لدى الله &#8220;هذا الشعب يكرمني بشفتيه ، أما قلبه فمبتعد عني بعيداً&#8221; (إش ۲۹ : ۱۳)، الله يقول لك : &#8220;يا ابني أعطني قلبك&#8221; (أم ٢٣ : ٢٦)، ولا يقول : &#8220;يا ابني أعطني شفتيك&#8221;. من الأمور الجميلة في الأديرة عندما يسأل الزائرون أحد الرهبان عن مدته في الدير ؟ تكون إجابته &#8220;من أمس&#8221;، مع أن من الممكن أن يكون له سنوات ، فيظل الراهب كل الأيام وكأنه مبتدئ في حياته الرهبانية ، ولا يأخذ مديحاً واستحساناً </span><span dir="LTR">. </span></p>
<p class="yiv5135275603MsoNormal" dir="RTL"><span dir="LTR">+ </span><span lang="AR-SA">طبيعة خطية الرياء </span><span dir="LTR">:</span></p>
<p class="yiv5135275603MsoNormal" dir="RTL"><span lang="AR-SA">١</span><span dir="LTR">&#8211;</span><span lang="AR-SA">إنسان يتمسك بالحرف لا بالروح </span><span dir="LTR">:</span></p>
<p class="yiv5135275603MsoNormal" dir="RTL"><span dir="LTR">&#8220;</span><span lang="AR-SA">أنكم تحملون الناس أحمالاً عسرة الحمل وأنتم لا تمسون الأحمال بإحدى أصابعكم&#8221; (لو١١ : ٤٦). كان الناموسيون يتمسكون بالحرف إلى أقصى درجة (يقال أن الدجاجة إذا باضت يوم سبت لا يأكلون هذه البيضة)، إنها نظرة ضيقة وعقل ضيق </span><span dir="LTR">.</span><span lang="AR-SA">الشخص الذي يعيش في هذه الخطية يحكم على كل الناس ، ويدين كل الناس ، وتغيب عنه فضيلة مهمة جداً وهي فضيلة الستر ، فعندما يرى ضعفاً ينشره ، وقد تساعده في ذلك التكنولوجيا ، وهو يعتقد أنه يحقق بطولة ، لا تنسوا يا إخوتي أنه بكلامك تتبرر ويكلامك تدان&#8221; (مت ۱۲ : ۳۷)، الشخص الذي يعيش في خطية الرياء هو شخص يحاول أن يجمل نفسه ويزين الحرف بأي شكل . لا توجد في مسيحيتنا شريعة حرفية قاسية ، فقد أعطانا السيد المسيح الروح القدس الذي يدبر أمور حياتنا ، ولا يضع لنا شريعة حرفية لأن : &#8221; الحرف يقتل ولكن الروح يحيي&#8221; (٢ كو ٣ : ٦)، فالمعرفة ليست دليل العمل الصالح &#8220;من يعرف أن يعمل حسناً ولا يعمل ، فذلك خطية له&#8221; (يع ٤ : ١٧)</span><span dir="LTR">. </span></p>
<p class="yiv5135275603MsoNormal" dir="RTL"><span lang="AR-SA">۲ قتل الأنبياء </span><span dir="LTR">:</span></p>
<p class="yiv5135275603MsoNormal" dir="RTL"><span dir="LTR">&#8220;</span><span lang="AR-SA">تبنون قبور الأنبياء وآباؤكم قتلوهم&#8221; (لو ١١ :٤٧)، وفي (لو ١١ :٥١) يقول :&#8221;من دم هابيل إلى دم زكريا الذي أهلك بين المذبح والبيت . نعم ، أقول لكم : إنه يطلب من هذا الجيل!&#8221;، زكريا كان نبياً قتله يوأش الملك ، وربما لهذا صرح نحميا قائلاً : &#8220;وقتلوا أنبياءك الذين أشهدوا عليهم ليردوهم إليك ، وعملوا إهائة عظيمة&#8221; (نح ٩ : ٢٦). ولهذا لا نندهش من أن اليهود لا يزالون يتألمون في هذا العالم بلا معز . إنه لأمر خطير ، فسوف يظل لسان حال ظالميهم يصرخ دائماً : &#8221; حقي عند الرب&#8221; (إش ٤٩ : ٤)</span><span dir="LTR">.</span><span lang="AR-SA">الإنسان المرائي يقتل الناس ليس بسلاح ولكن ممكن أن يقتلهم بالكلمة ، فالكلمة ممكن أن تكون أحد من السيف . إن مقتل هابيل وزكريا (تك ٤ : ٨ – ۱۰) (۲ أخ ٢٤ : ٢٠ – ۲۲) هو المقتل الأول والأخير في الكتاب المقدس العبري ، وهما يمثلان كافة جرائم التاريخ المقدس</span><span dir="LTR">. </span></p>
<p class="yiv5135275603MsoNormal" dir="RTL"><span lang="AR-SA">۳ احتكار المعرفة </span><span dir="LTR">:</span></p>
<p class="yiv5135275603MsoNormal" dir="RTL"><span lang="AR-SA">يقول : &#8220;ويل لكم أيها الناموسيون لأنكم أخذتم مفتاح المعرفة . ما دخلتم أنتم والداخلون منعتموهم &#8221; (لو ١١ : ٥٢)، لقد أغلقوا الباب على كلمة الله وألقوا المفاتيح بعيداً </span><span dir="LTR">.  </span></p>
<p class="yiv5135275603MsoNormal" dir="RTL"><span lang="AR-SA">الإنسان المرائي لا يرى إلا نفسه ، فالرياء ممكن أن يضرب الإنسان في أي مكان ، وتكون النتيجة أنه يضيع حياته وعمره ، وهو يرى نفسه أنه صالح وهو لا يدري ، ويأتي يوم الرب العظيم يوم الدينونة ، ويقف أمامه ويجد كل شيء قد اختفى . نسمع عندما يقول عن مجيء الديان العادل من هول الموقف ينادي شخص الجبال ويقول لها &#8220;اسقطي علينا وغطينا&#8221;.</span></p>
<p class="yiv5135275603MsoNormal" dir="RTL"><span lang="AR-SA">في صلاة الصلح من القداس الكيرلسي يقول الأب الكاهن : &#8220;لا بحاسة مرذولة رافضة لمخافتك ، ولا بفكر غاش مملوء من شر الخائن ، غير متفقة نياتنا في الخبث &#8220;، هذه الثلاثية تشرح طبيعة الإنسان المرائي (ليس عنده مخافة الرب  له فكر مغشوش &#8211; غالباً إنسان خبيث أي كذاب). احترس من الرياء لئلا يسرق أيام عمرك &#8230; احترس لئلا تغيب عنك مخافة الله &#8230; احترس لئلا يمتلأ عقلك بالفكر المغشوش &#8230; احترس لئلا تكون نياتك خبيثة &#8230;. بهذه الكلمات تُنبه الإنسان باستمرار لئلا تلحقه هذه الويلات </span><span dir="LTR">.</span></p>
<p class="yiv5135275603MsoNormal" dir="RTL"><span lang="AR-SA">يأخذ الرياء صورا عديدة منها : النفاق والكذب والكلام الناعم الذي يخفي سماً مميتاً وخبثاً ومكراً والمظاهر الشكلية الكاذبة أي الإنسان الذي يعيش في حياة زائفة ، ولكن هذه الصور لا يقبلها الله أبداً.</span></p>
<p class="yiv5135275603MsoNormal" dir="RTL"><span lang="AR-SA">وأنت في فترة الصوم &#8230; السؤال لك هل تنتبه لهذه الويلات لئلا تقترب منك ؟ لذلك انتهز الفرصة في أيام الصوم وراجع نفسك في هذا السؤال ، وكن صادقا مع نفسك ، هل تقع في خطية الرياء ؟</span></p>
<p class="yiv5135275603MsoNormal" dir="RTL"><span dir="LTR">+ </span><span lang="AR-SA">كيف تتجنب الرياء في حياتك ؟</span></p>
<p class="yiv5135275603MsoNormal" dir="RTL"><span lang="AR-SA">۱ كن صادقاً مع نفسك </span><span dir="LTR">:</span></p>
<p class="yiv5135275603MsoNormal" dir="RTL"><span lang="AR-SA">كن صادقا مع نفسك ومع الآخرين ، في كل ما تقوله وما تقدمه وما تقوم به أحيانا يجلس الإنسان مع أب اعترافه ويجمل نفسه ، مع أنها فرصة لتقديم توبة وفضح النفس وكشف الأفكار (أفكارالكراهية ، أفكارالعظمة والبر الذاتي)</span><span dir="LTR">.</span></p>
<p class="yiv5135275603MsoNormal" dir="RTL"><span lang="AR-SA">۲ شارك الآخرين في أحمالهم </span><span dir="LTR">:</span></p>
<p class="yiv5135275603MsoNormal" dir="RTL"><span lang="AR-SA">اشعر بالآخر، الأب والأم ، الخادم ، المسئول ، الأب الكاهن ، هذا الشعور هو الذي جعل كنيستنا في صلواتها تُصلي من أجل الأب البطريرك والآباء الأساقفة والكهنة والمرضى &#8230; وغيرهم ، فهؤلاء في حاجة إلى من يسندهم بالصلاة. المشاركة شيء مهم . من ضعفات المجتمع عندنا عدم الاهتمام بثقافة التطوع سواء التطوع بالجهد أو الوقت ، تعلم وعلم أولادك هذه المشاركة </span><span dir="LTR">.</span></p>
<p class="yiv5135275603MsoNormal" dir="RTL"><span lang="AR-SA">۳ اهتم بالعمل قبل الكلام </span><span dir="LTR">:</span></p>
<p class="yiv5135275603MsoNormal" dir="RTL"><span dir="LTR">&#8221; </span><span lang="AR-SA">من يعرف أن يعمل حسناً ولا يعمل ، فذلك خطية له&#8221;(يع ١٧:٤). اهتم بالعمل قبل الكلام ، واعرف أن الحرف لا يبني ، والشكليات لا تبني الملكوت و&#8221;لغتك تُظهرك&#8221;، فالكلام إذا كان كلام رياء سوف تكشفه الأيام ، وإذا كان الكلام فيه مخافة الله سوف يظهر أيضاً </span><span dir="LTR">.</span></p>
<p class="yiv5135275603MsoNormal" dir="RTL"><span lang="AR-SA">مهما طالت حياة الإنسان على الأرض فهي محدودة للغاية ، ويحتاج الإنسان أن يكون حقيقياً مع ذاته ، وأعماله أكثر من كلماته ، واعرف أن الرياء هو المرض الروحي الخفي الذي يمكن أن يسرق منك ملكوت السموات ويهلك حياتك ، حتى وإن خدعت كل الناس حتى نفسك ، لا تستطيع أن تخدع الله الذي ستقف أمامه يوم الدينونة ، لذلك لتكن أعمالك أكثر من كلامك . احذر من أن تسمع هذه الكلمة القاسية : &#8220;ويل لكم&#8221;، وأنصحك بقراءة فصل التطويبات لكي تبنيك ، وفصل الويلات لكي تتعلم وتتجنب هذه الضعفات </span><span dir="LTR">. </span></p>
<p class="yiv5135275603MsoNormal" dir="RTL"><span lang="AR-SA">المرجع : كتاب إختبرني يا الله صفحة ٣١٥ &#8211; قداسة البابا تواضروس الثاني</span></p>
<p class="yiv5135275603MsoNormal" dir="RTL"><span dir="LTR"> </span></p>
<h4 class="yiv5135275603MsoNormal" dir="RTL"><span lang="AR-SA">اطلبوا الرب للمتنيح الأنبا إبيفانيوس </span><span lang="AR-SA">أسقف ورئيس دير القديس أنبا مقار</span></h4>
<p class="yiv5135275603MsoNormal" dir="RTL"><span lang="AR-SA">فى منتصف القرن الثامن قبل الميلاد ، كانت المملكة الشمالية لاسرائيل فى حالة من الفوضى الاجتماعية والسياسية والدينية . وكانت </span><span lang="AR-SA">مناحى</span><span lang="AR-SA"> الحياة الثلاثة هذه، وما زالت ، مرتبطة ببعضها  البعض بطريقة معقدة . فالمشاكل الاجتماعية والسياسية فى أيام عاموس النبى  أى فى تلك الفترة  أثرت تأثيرا مباشرا فى الحياة الدينية . وكانت آمال وطموحات الأمة والمواطنين ، وما يطلبونه ويبحثون عنه ، السبب الرئيسى فى تفاقم مشاكلهم الدينية </span><span dir="LTR">.</span><span lang="AR-SA">وكانت الكلمات التى كتبها عاموس النبى على هذه الأمة ، هى رسالة الرب لاسرائيل . فلم تكن كلمات انسان ، بل كلمات الرب القدير الذى أعلن عن نفسه صراحه فى (عاموس ٥: ٤) انه الرب :&#8221; لأنه هكذا قال الرب لبيت اسرائيل : اطلبوا (الرب) فتحيوا</span><span dir="LTR" lang="AR-SA"> </span><span lang="AR-SA">&#8220;.</span></p>
<p class="yiv5135275603MsoNormal" dir="RTL"><span lang="AR-SA">الكلمة العبرية التى ترجمت &#8220;الرب&#8221; هنا هى &#8220;يهوه&#8221;. وهذا هو الاسم الشخصى لله . ففى سفر الخروج (٣: ١٤ &#8211; ٥) . عرف الله نفسه لموسى بهذا الاسم ، عندما سأله موسى عن الاسم الذى يخبر به بنى اسرائيل ، قال له الله:&#8221; أهية الذى أهية&#8221;، أو &#8221; أكون الذى أكون &#8220;، أو &#8220;أنا هو الكائن بذاتى&#8221;، أو كما قال الرب يسوع فى العهد الجديد &#8220;أنا هو&#8221;. وبغض النظر عن المعنى الحرفى لهذا الاسم الذى استعمله بنو اسرائيل  للتعريف بالاله الذى يعبدونه فى مقابل الآلهة الوثنية الكثيرة التى كانت منتشرة فى منطقة الشرق الأوسط قديما . لذلك بين الله لبنى اسرائيل تفرده ووحدانيته فى بداية الوصايا التى أمر بها شعبه، والمعروفة باسم &#8220;</span><span lang="AR-SA">الشماع</span><span lang="AR-SA">&#8221; (من كلمة اسمع) :&#8221; اسمع يااسرائيل : الرب الهنا رب واحد&#8221; (تث ٦: ٤) . وكلمة واحد فى هذه الوصية تعنى الوحدة والتفرد ، والمعنى واضح ، فالله واحد أى ليس هناك اله آخر غيره</span><span dir="LTR">.</span> <span lang="AR-SA">أما &#8220;طلب الرب&#8221; فهذه هى رسالة الأنبياء والكارزين على مدى العصور ، فما معنى عبارة طلب الرب فى أيام عاموس النبى ؟ يأتى الفعل &#8220;أطلبوا&#8221; فى اللغة العبرية &#8221; درش </span><span dir="LTR">darash”  </span><span lang="AR-SA">&#8220;</span><span dir="LTR"> </span><span lang="AR-SA">وهذه الكلمة  تعنى أكثر من مجرد الطلب . فهى تعنى : يطلب بعناية واصرار، يطلب من النبى أو الكاهن أو الرائى من أجل الحصول على قرار أو اجابة لسؤال . فمن يطلب يبحث عن حل الهى لمشكلة ما . والطلب يستلزم عناية فائقة من  الطالب . فالمنى يتضمن الاتجاه لله فى الطلب ، والاستمرار فى التوجه اليه وذلك كمنهج دائم للحياة . فطلب الله والبحث عنه يعنى مسيرة حياة تخضع لارادة الله ، وتسير حسب توجيهاته . والشعب الذى يطلب الله ، يتخلل العدل والبر كل تعاملاته، ويصبح الله هو الموجه لكل تصرفاته وباختصار ، فان طلب الرب هو صنع مشيئته<span dir="LTR">.</span></span></p>
<p class="yiv5135275603MsoNormal" dir="RTL"><span lang="AR-SA">لقد أمر الرب شعبه على فم عاموس النبى أن &#8221; اطلبوا فتحيوا . ولا تطلبوا بيت ايل والى الجلجال والى بئر سبع لا تعبروا &#8220;(عا٥: ٤ -٥) . فقد وضعت بيت ايل والجلجال وبيت سبع كبديل لطلب الله . كان بيت ايل والجلجال أماكن مقدسة مشهورة فى مملكة اسرائيل الشمالية. كان ابراهيم أبو الأباء هو الذى أسس بيت ايل (تك١٢: ٨ ، ١٣: ٣- ٤) ، وارتبطت الجلجال بعبادة الشعب العبرانى منذ أيام يشوع بن نون (يش٤ : ١٩- ٢٤) وأثناء حكم القضاة (قض٢) . أما بئر سبع فتقع على الحد الجنوبى لمملكة يهوذا ، على بعد حوالى ٦٤ كيلو متر جنوب أورشليم. وقد ارتبطت هى أيضا بابراهيم أبى الآباء (تك٢١: ٢٥- ٣٣) . وقد مثلت هذه الأماكن الثلاثة أماكن مقدسة للعبادة على مدى عدة عصور مرورا بأيام عاموس النبى <span dir="LTR">.</span></span></p>
<p class="yiv5135275603MsoNormal" dir="RTL"><span lang="AR-SA">كان عاموس النبى ، المتحدث بأسم الله ، يأمر الشعب بالتوقف عن اسشارة الكهنة والمنجمين فى هذه الاماكن الثلاثة، والاتجاه لطلب الله وحده . وقراءة كلمات عاموس النبى توضح الممارسات التى كانت تجرى باسم يهوه والتى كان يرفضها الله . فالنشاط الدينى الذى كان يمارس فى بيت ايل والجلجال اعتبر على مستوى المعصية والتمرد على الله ،  بالرغم من أنه كان نشاطا دينيا . فالشعب فى محاولته لاظهار بره الشحصى ، كان يحاول أن يقدم أكثر مما هو مطلوب منه فى الناموس </span><span dir="LTR">.</span></p>
<p class="yiv5135275603MsoNormal" dir="RTL"><span dir="LTR">&#8220;</span><span lang="AR-SA">هلم الى بيت ايل ، وأذنبوا الى الجلجال ، وأكثروا الذنوب ، وأحضروا كل صباح ذبائحكم ، وكل ثلاثة أيام عشوركم . وأوقدوا من الخمير تقدمة شكر ، ونادوا بنوافل وسمعوا . لأنكم هكذا أحببتكم يابنى اسرائيل، يقول السيد الرب &#8220;(عا٤:٤ – ٥) </span><span dir="LTR" lang="AR-SA"> </span><span lang="AR-SA">.لذلك أوضح لهم الرب على فم عاموس النبى رفضه لهذه الممارسات الدينية حتى ولو كانت تجرى باسم الرب</span><span dir="LTR">:</span></p>
<p class="yiv5135275603MsoNormal" dir="RTL"><span dir="LTR">&#8220;</span><span lang="AR-SA">بغضت ،كرهت أعيادكم، ولست ألتذ باعتكافاتكم . انى اذا قدمتم لى محرقاتكم وتقدماتكم لا أرتضى ، وذبائح السلامة من مسمناتكم لا ألتفت اليها . أبعد عنى ضجة اغانيك، ونغمة ربابك لا أسمع&#8221;(عا ٥ :  ٢١ &#8211; ٢٣) <span dir="LTR">.</span></span></p>
<p class="yiv5135275603MsoNormal" dir="RTL"><span lang="AR-SA">لقد صارت عبادة الله عبادة آلية خالية من الروح . وأصبح الاهتمام بالطقس والآلحان بديلا للعلاقة الشخصية الحية مع الله . لذلك كان صراخ النبى عاموس للشعب أن يتوقف عن مظاهر العبادة الخارجية، ويلتفت الى عبادة الله من القلب . لقد أوضح الله مشيئته من جهة الشعب بهذه الكلمات :&#8221;وليجرالحق كالمياه، والبر كنهر دائم&#8221; ( عا ٥: ٢٤) . ثم يعود النبى ويوضح اكثر ما المقصود بطلب الرب ، وذلك فى قوله : &#8220;أطلبوا الخير لا الشر لتحيوا&#8221;( عا ٥: ١٤) . هنا يعقد النبى مقارنة ، فطلب الرب يمثله طلب الخير ، وطلب الشر يمثله طلب بيت ايل والجلجال وبئر سبع . فبالرغم من أن تلك الأماكن كانت فى نظرهم أماكن مقدسة يقدم فيها العبادة لله ، فان الله رفض هذه العبادة، لأنها لم تكن عبادة حقيقية . لم تكن سوى عبادة شكلية ، ولم يكن وجه الله هو المطلوب فى العبادة ، بل تتميم فرائض وطقوس خارجية باطلة</span><span dir="LTR">.</span> <span lang="AR-SA">هذه الصورة القاتمة ليست ببعيدة عنا اليوم . فالبعض يظن أن مجرد الذهاب للكنيسة ، وتتميم الطقس ، ودفع العشور والنذور ، هو العبادة المطلوبة . فى القديم نصح عاموس النبى الشعب أن يدخلوا فى علاقة شخصية مع الله ، لا أن يمارسوا الطقس بطريقة شكلية فقط ، فالطقس فى حد ذاته مطلوب ، أما العبادة الحقة فلازمة . لقد وبخ الرب يسوع الكتبة والفريسين الذين يعشرون النعنع والشبث والكمون ، لكنهم تركوا أهم واثقل ما فى الناموس  :&#8221;الحق والرحمة والايمان&#8221;( مت٢٣:٢٣) . لقد اهتموا بشدة بتنفيذ تعاليم الناموس والهيكل التى تحض على اعطاء عشر ما يقتنيه الانسان ، وهم فى ذلك لم يخطئوا ، بل كانت خطيئتهم أنهم نفذوا وصايا الله بطريقة شكلية دون الدخول فى جوهر وصية الله :&#8221;انى اريد رحمة لا ذبيحة&#8221; (مت ٩: ١٣) . لقد كانت حياة بنى اسرائيل اليومية وممارساتهم صورة حية لما يؤمنون به ويطلبونه. كانوا فى حياتهم اليومية&#8221; يحولون الحق أفسنتينا&#8221; (عا ٥: ٧). وكانوا يضايقون البار آخذين الرشوة (عا ٥: ١٢) . ولم يكن العدل الاجتماعى والسياسى موجودا فى قاموس حياتهم . لذلك طالبهم النبى بالعدل الاجتماعى قائلا :&#8221;ثبتوا الحق فى الباب&#8221;(عا ٥: ١٥) </span><span dir="LTR">.</span> <span lang="AR-SA">ومن الغريب أن هذا الشعب البعيد عن الله ، الطالب شكل العبادة دون جوهرها ، كان يشتهى يوم الرب :&#8221;ويل للذين يشتهون يوم الرب&#8221; (عا ٥: ١٨) . لقد كانوا يتوقعون أن يوم الرب سوف يأتى لهم بالعدل ، وبالقضاء على أعداء اسرائيل ، ولرد اسرائيل الى مركزها المرموق بين الأمم المجاورة . وربما كان يظنون أن يوم الرب سوف يكون يوم عبادة للرب ، يقدمون فيه عبادة نقية من قلوبهم ، وبلغة اليوم كانوا يعتقدون أن يوم الرب هو الحل </span><span dir="LTR">.</span></p>
<p class="yiv5135275603MsoNormal" dir="RTL"><span lang="AR-SA">وبغض النظر عن مفهوم يوم الرب عندهم ، فلقد كان للنبى عاموس وجهة نظر أخرى فى يوم الرب . لقد أخبرهم أنه سيكون يوم ظلام لا نور (عا ٥: ١٨) ، وقضاء الله لن يكون حسبما يتوقعون . فالنبى كان يتكلم عن دينونة الله لشعب اسرائيل . فلم يكن يوم الرب فى نظر النبى يوما مستقبليا ، بل يوم حاضر بينهم . ولم تكن نظرةالنبى سوداوية تشاؤمية ، بل كانت نظرة مفعمة بالرجاء :&#8221;اطلبوا الرب فتحيوا&#8221;. وأساس طلب الرب هو حياة التوبة والتغيير بمعنى الاستجابة لقضاء الرب وتغيير نمط الحياة ليتوافق مع ارادة الله . ومظاهر هذا التغيير ستظهر فى ترسيخ الحق فى الأرض ، والرحمة، والأمانة فى حياة الناس . الأمور التى سيظهر تأثيرها المباشر فى حياة الناس الدينية والسياسية والاجتماعية </span><span dir="LTR">.</span></p>
<p class="yiv5135275603MsoNormal" dir="RTL"><span lang="AR-SA">ان يوم الرب ليس يوما مستقبليا ، بل هو يوم حاضر . انه يوم نعيشه كل يوم ونحس به . ألا يأتى علينا يوم الرب فى كل يوم نسمع فيه كلمته ونحس بحضرته ؛ ألا يحل علينا يوم الرب فى كل يوم نقترب من مائدته المقدسة ونتحد به . هذا هو يوم الرب ، وهذا هو صراخ النبى لنا لكى نطلب الرب فتحيا قلوبنا ، نتحد به ، ونحيا معه وفيه </span><span dir="LTR">.</span></p>
<p class="yiv5135275603MsoNormal" dir="RTL"><span lang="AR-SA">المرجع : كتاب مفاهيم إنجيلية (صفحة ١٢٤ &#8211; ١٣٠) &#8211; الأنبا إبيفانيوس &#8211; أسقف ورئيس دير القديس أنبا مقار</span></p>
<hr />
<p dir="RTL"><a href="#_ftnref1" name="_ftn1">[1]</a><sup>&#8211; الحب الرعوي ص ١٧٥ &#8211; القمص تادرس يعقوب ملطي.</sup></p>

      {% endcreateArticleAccordions %}
    </section>
  {% endblock %}
  