---
layout: 'layouts/reading.html'
title: ' قراءات يوم الخميس من الإسبوع السادس'
tags: 'great-lent'
permalink: /articles/great-lent/6-4.html
---
  {% block content %}
    <section id="readings">
      <ul>
      {% if 'undefined' != 'undefined' %}
      
      {% else %}
      {% if 'null' != 'null' %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">العشية</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeVespers '' '' %}
          </div>
        </div>
      </li>
      {% endif %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">باكر</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeMatins '19.9:13-13' '42.20:9-19' '12.4:8-37@23.45:1-10@20.9:1-11@18.35:1-16@73.11:1-10' %}
          </div>
        </div>
      </li>
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <h3 class="flex items-center justify-between">
            <span class="kufi">القداس</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </h3>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeLitugy '54.2:1-3:4' '65.1:19-25' '44.27:16-20' '19.9:13-14' '43.6:47-71' %}
          </div>
        </div>
      </li>

      {% endif %}
        </ul>
    </section>
    <section id="article">
      <h3 class="mt-8 mb-4 heading-explain">شرح القراءات</h3>
      {% createArticleAccordions %}
        <p><strong>&#8220;</strong>مَنْ يَأْكُلُ جَسَدِي وَيَشْرَبُ دَمِي فَلَهُ حَيَاةٌ أَبَدِيَّةٌ، وَأَنَا أُقِيمُهُ فِي الْيَوْمِ الأَخِير&#8221; (يو ٦: ٥٤)</p>
<p>[هوذا كائن معنا على هذه المائدة اليوم عمانوئيل إلهنا حمل الله الذي يحمل خطية العالم كله] (قسمة أعياد العذراء والملائكة).</p>
<p>[المائدة السرائرية هى جسد الرب الذي يعضدنا قبالة شهواتنا وضد الشيطان، حقاً يرتعد الشيطان من الذين يشتركون في هذه الأسرار بوقار] (القديس كيرلس الكبير)<a href="#_ftn1" name="_ftnref1">[1]</a></p>
<h3>شواهد القراءات</h3>
<p>(٢مل ٤: ٨- ٤١)، (إش٤٥: ١- ١٠)، (أم٩: ١- ١١)، (أي٣٥: ١- ١٦)، (مز٩: ٩، ١٠)، (لو٢٠: ٩- ١٩)، (١تي٢: ١- الخ، ص٣: ١- ٤)، (يه١: ١٩- الخ)، (أع٢٧: ١٦- ٢٠)، (مز٩: ١٠)، (يو٦: ٤٧- الخ).</p>
<h3>شرح القراءات</h3>
<p><strong>تتكلّم قراءات هذا اليوم</strong> عن الحياة الجديدة التي تقدّمها الكنيسة المقدّسة في المسيح.</p>
<p><strong>يبدأ سفر الملوك</strong> الثاني بقصّة إقامة إبن المرأة الشونمية من الموت على يد أليشع النبي، وهو مثل للبشرية المائتة التي احتاجت أن يأتي ابن الله ويضع فمه على فمنا وعينيه على أعيننا ويديه على أيدينا وقدميه على أقدامنا لتعود الحرارة إلي جسدنا المائت خلال جسده المحيي.</p>
<p>&#8220;ولما دخل أليشع البيت أغلق الباب عليهما وصلي إلى الرب، ثم صعد واضطجع على الصبي ووضع فمه على فمه وعينيه على عينيه ويديه على يديه وقدميه على قدميه وتمدد عليه فسخن جسد الصبي، ثم فتح الصبي عينيه، فقال أليشع لها خذي ابنك&#8221;.</p>
<p><strong>ويعلن سفر إشعياء</strong> عن ما سوف يقدّمه ابن الله في ملء الزمان ليعطي البشريّة كنوز وذخائر الحياة الجديدة.</p>
<p>&#8220;الذي أمسكته بيمينه لأخضع أمامه أمماً وأمزق قوي الملوك لأفتح أمامه المصاريع ولا تغلق أبواب المدن، أنا أسير قدّامه والهضاب أمهد وأحطم مصاريع النحاس وأكسر مغاليق الحديد، وأعطيك كنوز الظلمة وذخائر المخابئ افتحها لك&#8221;.</p>
<p><strong>وفي سفر الأمثال</strong> عن الأسرار حياتنا في الكنيسة.</p>
<p>&#8220;الحكمة بنت لها بيتاً وثبتت أعمدتها السبعة ذبحت ذبائحها ومزجت خمرها في الأواني ورتبت مائدتها، هلموا كلوا من خبزي واشربوا من الخمر التي مزجتها لكم اتركوا الجهالات عنكم فتحيوا&#8221;.</p>
<p><strong>ويعلن سفر أيوب</strong> عن زيف برّ البشر الذي يجعلهم لا يلتفتون إلى الله خالقهم وصانعهم.</p>
<p>&#8220;وإن كنت باراً فماذا أعطيته أو ماذا يأخذه من يدك، ولم يقولوا أين الله الذي صنعني الذي رسم التسابيح في الليل، فالدعوة قدّامه إن كنت تستطيع أن تشكره&#8221;.</p>
<p><strong>وتصرخ النفس في مزمور باكر</strong> ليرفعها الرب من أبواب وسلطان الموت.</p>
<p>&#8220;ارحمني يا رب وانظر الى ذلي من أعدائي يا رافعي من أبواب الموت&#8221;.</p>
<p><strong>وفي إنجيل باكر</strong> عن كيف رفض اليهود رئيس الحياة فأُعْطِى الكرم لآخرين.</p>
<p>&#8220;فأخرجوه خارج الكرم وقتلوه، فماذا يصنع بهم رب الكرم يأتي ويهلك الكرامين ويعطي الكرم لآخرين فلما سمعوا قالوا حاشا فنظر إليهم وقال فما هو هذا المكتوب ان الحجر الذي رذله البناؤون هذا قد صار رأس الزاوية&#8221;.</p>
<p><strong>ويدعو البولس</strong> الكل للصلاة كمصدر لهدوء الحياة وإستقرار مسيرتها.</p>
<p>&#8220;فأطلب أول كل شئ أن تقام طلبات وصلوات وابتهالات وتشكرات من أجل جميع الناس من أجل الملوك وعن كل العظماء لكي نكون في حياة هادئة ذات دعة في كل تقوى وعفاف&#8221;.</p>
<p><strong>وعن أن ابن الله</strong> هو الوسيط الوحيد للبشرية مع الآب وهو مصدر خلاصها.</p>
<p>&#8220;لأن الله واحد والوسيط بين الله والناس واحد وهو الانسان يسوع المسيح الذي بذل نفسه فداء عن الجميع&#8221;.</p>
<p><strong>ويوضّح الكاثوليكون</strong> دور الإنسان في حياته في المسيح وفي خلاصه في أن يبني ويصلّي ويحفظ وينتظر.</p>
<p>&#8220;فابنوا أنفسكم على ايمانكم الأقدس مصلين في الروح القدس فلنحفظ أنفسنا في محبة الله منتظرين رحمة ربنا يسوع المسيح للحياة الأبدية&#8221;.</p>
<p><strong>ويعلن أيضاً</strong> دور المسيحي تجاه إخوته لينقذهم من الهلاك.</p>
<p>&#8220;بكتوا البعض مميزين إياهم وخلصوا البعض مختطفين إياهم من النار وارحموا البعض بخوف مبغضين حتى الثوب المدنس من الجسد&#8221;.</p>
<p><strong>وفي الإبركسيس</strong> عن محدودية الجهود البشرية وإمكانيات الإنسان لأجل نجاته من الأخطار الطبيعية.</p>
<p>&#8220;وفي اليوم الثالث ألقينا بأيدينا أدوات السفينة ولما لم تظهر الشمس ولا النجوم أياماً كثيرة واشتد علينا نوء ليس بقليل انتزع أخيراً كل رجاء في نجاتنا&#8221;.</p>
<p><strong>ويعيد مزمور القدّاس</strong> نفس الآية من نفس المزمور ليؤكد على تضرّع النفس إلى الله منقذها من الموت.</p>
<p>&#8220;يا رافعي من أبواب الموت لكيما أخبر بجميع تسابيحك في أبواب ابنه صهيون&#8221;.</p>
<p><strong>ويختم إنجيل القدّاس</strong> عن إعلان الحياة الأبدية في شخص ابن الله الذي يعطينا المن العقلي والمن الإفخارستي للحياة الأبدية حسب تعبير العلامة أوريجانوس.</p>
<p>&#8220;من يأكل جسدي ويشرب دمي فله حياة أبدية وأنا أقيمه في اليوم الاخير، والكلام الذي قلته أنا لكم هو روح وحياة، أجابه سمعان بطرس يا رب إلى من نذهب فإن كلام الحياة الأبدية عندك ونحن قد علمنا وآمنا أنك أنت هو المسيح ابن الله الحي&#8221;.</p>
<h3>ملخّص القراءات</h3>
<table width="503">
<tbody>
<tr>
<td width="91">سفر ملوك أول وسفر إشعياء</td>
<td width="412">الإبن واهب الحياة للبشرية بتجسده وموته وقيامته.</td>
</tr>
<tr>
<td width="91">سفر أيوب</td>
<td width="412">بطلان وزيف برّ الإنسان والاحتياج إلى برّ الله وخلاصه.</td>
</tr>
<tr>
<td width="91">إنجيل باكر</td>
<td width="412">الأمة اليهودية ترفض رأس الزاوية والكرم يتسّع لكل الأمم.</td>
</tr>
<tr>
<td width="91">البولس</td>
<td width="412">الصلاة مصدر إستقرار الكنيسة وابن الله هو الشفيع الوحيد لدى الآب.</td>
</tr>
<tr>
<td width="91">الكاثوليكون</td>
<td width="412">إجتهاد المسيحي لأجل خلاصه وخلاص إخوته وحفظ الرب للكنيسة بلا عثرة.</td>
</tr>
<tr>
<td width="91">الإبركسيس</td>
<td width="412">محدوديّة الجهود والإمكانيات البشرية لنجاة البشر من الموت.</td>
</tr>
<tr>
<td width="91">مزمور باكر والقدّاس</td>
<td width="412">أنين النفس والبشريّة لله لينقذها من الموت والهلاك الأبدي.</td>
</tr>
<tr>
<td width="91">إنجيل القدّاس</td>
<td width="412">تمنحنا الكنيسة عطية الحياة خلال جسده المحيي وخلال كلمة الحياة.</td>
</tr>
</tbody>
</table>
<h3>الكنيسة في قراءات اليوم</h3>
<table width="503">
<tbody>
<tr>
<td width="91">أمثال سليمان</td>
<td width="412">الأسرار الكنيسة السبعة</td>
</tr>
<tr>
<td width="91">إنجيل باكر</td>
<td width="412">المسيح له المجد رأس الزاوية</td>
</tr>
<tr>
<td width="91">البولس</td>
<td width="412">الشفاعة الكفّارية لابن الله</td>
</tr>
<tr>
<td width="91">البولس</td>
<td width="412">رتب الكهنوت</td>
</tr>
<tr>
<td width="91">الكاثوليكون</td>
<td width="412">الإيمان الأقدس والجهاد الروحي</td>
</tr>
<tr>
<td width="91">إنجيل القدّاس</td>
<td width="412">سر الإفخارستيا</td>
</tr>
</tbody>
</table>
<h3></h3>
<h3></h3>
<h3>عظات ابائية</h3>
<h4><span>تعليم الآباء الرسوليين عن الافخارستيا</span><span>  </span><span>القدِّيس إغناطيوس الأنطاكي</span></h4>
<p><span>&#8221; </span><span>فلتراقبوا جيداً اللذين يتمسكون بآراء هرطوقية عن نعمة يسوع المسيح التي وهبها لنا ، وإعلموا كم يناقضون فكر الله ، لا تعنيهم المحبة في شيء ، ولا للأرملة ، ولا لليتيم ، ولا للمقهور ، ولا للسجين ، ولا لمن تحرر من الأسر ، ولا للجائع ولا للعطشان ، يمتنعون عن الإفخارستيا والصلاة لأنهم يرفضون الإقرار إن الإفخارستَّيا جسد مخلصنا يسوع المسيح الذي تألم لأجل خطايانا وأقامه الآب بصلاحه من الموت ، هؤلاءالذين يرفضون عطية الله يموتون في مجادلاتهم </span><span>&#8221; . </span><span>لست أبتهج بطعام فاسد ، ولا بملذات هذه الحياة ، لكنني أُريد خبز الله ، الخُبز السماوي ، خبز الحياة ، الذي هو جسد يسوع المسيح ،ابن الله ، الذي صار من نسل داود وإبراهيم ، كما أريد شراب الله ، أي دمه الذي هو محبة غير فاسدة وحياة أبدية </span><span>&#8221; .</span></p>
<h4></h4>
<h4></h4>
<h4><span>القديس يوستينوس</span><span>: </span></h4>
<p><span>&#8221; </span><span>ونحن لا نشترك فيه كخبز وشراب عاديين ، بل كما أنه بتجسد كلمة الله مخلصنا يسوع المسيح متخذاً لنفسه جسداً ودماً لأجل خلاصنا ،فإن هذا الطعام الذي تقدس بواسطة كلمات الصلاة التي قالها المسيح ، يغذي جسدنا ودمنا إذ هو جسد ودم يسوع المتجسد كما تعلمنا </span><span>&#8221; .</span></p>
<p><span>&#8221; </span><span>حينئذ نحضر خبزاً وكأساً ممزوجاً بالماء إلي رئيس الأساقفة ، فيأخذهم ويقدم الحمد والتمجيد لله ، أب الخليقة ، باسم الابن والروح القدس، ويقدم شكراً طويلاً لأجل أننا حسبنا مستحقين أن ننال هذه العطايا من يديه ، وعندما تنتهي الصلوات والتشكرات ، يعلن كل الشعب الحاضرين قبولهم بكلمة أمين ، كلمة أمين هذه في اللغة العبرية تعني أي &#8220;ليكن هذا&#8221; . فبعد أن قدم رئيس الأساقفة الشكر وكل الشعب أعلنوا إيمانهم - من خلال هؤلاء الذين نسميهم شمامسة - يقدم لكل هؤلاء ليتناولوا من الخُبز والخمر الممزوج بالماء اللذان تم تقديم الشكرعليهم (تم تقديسهم) </span><span>&#8221; </span></p>
<p><span>. </span><span>في هذا اليوم الذي يدعي الأحد ، يجتمع كل الذين يعيشون في المدن والقري في مكان واحد وتبدأ الليتورجيا بقراءات من الأناجيل القانونية ، وكانت تسمي مذكرات الرُّسُل ، أو كتب الأنبياء ، علي قدر ما يسمح الوقت ، ثم نقف جميعاً ونرفع صلواتنا من أجل المسيحيين ومنأجل البشر في العالم أجمع ، وعندما ننتهي من الصلوات ، يُقبل كل منا الأخ بقبلة السلام ، ثم يصلي الكاهن صلاة التقديس علي الخبزوالخمر ، ثم يتقدم الجميع ويتناولون من الجسد والدم ، ونرسل للغائبين أيضاً مع الشمامسة (كانت هذه هي العادة المتبعة) </span><span>&#8221; </span></p>
<p><span>. </span><span>وأيضاً أيها السادة تقدمة الدقيق التي كان لابد أن تقدم لأجل الذين طهروا من البرص كانت رمزاً لخبز الإفخارستيا الذي أمرنا الرب يسوع المسيح أن نُقدمه تذكاراً للآلام التي تحملها لأجل نفوس جميع الذين تطهَّروا من الخطية وأيضاً لنشكر الله لأنه خلق العالم وكل ما فيه لأجل البشر ولأنه خلصنا من الخطية التي وُلدنا بها ، ولإبطال قوي الشر بالمسيح الذي تألم بإرادته ، هكذا ، كما قلنا قبلاً ، تكلم الله بفم ملاخي أحد الأنبياء الاثني عشر بخصوص الذبائح التي كنتم تقدموها له فقال :&#8221;ليست لي مسرة بكم قال رب الجنود ولا أقبل تقدمة من يدكم ، لأنه من مشرق الشمس إلي مغربها اسمي عظيم بين الأمم وفي كل مكان يُقرب لاسمي بخور وتقدمة طاهرة لأن اسمي عظيم بين الأمم قال رب الجنود ، أما أنتم فمنجسوه بقولكم : إن مائدة الرب تنجست وثمرتها مُحتقر طعامها &#8221; (ملا ١: ١٠-١٢) . وبالإشارة إلي الذبائح التي نقدمها نحن الأمم إليه في كل مكان ، أي خبز وخمر الإفخارستيا </span><span>&#8221; .</span></p>
<h4></h4>
<h4></h4>
<h4><span>القديس إيرينيئوس </span><span>: </span></h4>
<p><span>&#8221; </span><span>لذلك ، حينما يحصل الكأس الممزوجة بالماء ، والخبز المصنوع ، علي كلمة الله ، وتصير الإفخارستَّيا جسد المسيح ودمه ، هذه التي تنمي جسدنا وتسنده ، فكيف يمكنهم أن يؤكدوا أن الجسد غير مهيأ لنوال موهبة الله ، التي هي الحياة الأبدية ، جسدنا هذا الذي يتغذي من جسد الرب ودمه ، والذي هو عضو له ، ذلك الجسد الذي يغتذي بالكأس التي هي دمه ، وينال إزدياداً من الخبز الذي هو جسده ، وكما أن الفرع المأخوذ من الكرمة عندما يُغرس في أوانه ، أو كما أن حبة الحنطة التي تسقط في الأرض وتموت وتتحلل ، تقوم بازدياد بأنواع كثيرة بقوة روح الله ، وتصير هي الإفخارستَّيا التي هي جسد المسيح ودمه ، هكذا أجسادنا أيضاً ، إذ تتغذي منها ، فإنها عندما توضع في الأرض ،وتتحلل وتموت ، فإنها سوف تقوم في وقتها المعين لها </span><span>.&#8221; </span><span>وإذ أعطي (الرب) توجيهات لتلاميذه أن يقدموا باكورات من كل الأشياء المخلوقة التي له - ليس كمن هو في احتياج اليها ، بل لكي لايكونوا هم أنفسهم غير مثمرين ، ولا غير شاكرين - لذلك أخذ ذلك الشيء المخلوق ، أي الخبز ، وشكر ، وقال :&#8221;هذا هو جسدي&#8221; وكذلك الكأس بالمثل ، التي هي جزء من تلك الخليقة التي ننتمي نحن إليها ، هذه الخمر اعترف بإنها دمه ، وعلّم عن القربان الجديد الَّذِي للعهدالجديد ، والذي تقدمه الكنيسة لله في كل العالم كما استلمته من الرُّسُل ، وهي تقدمة لذاك الذي يعطينا باكورة عطاياه للعهد الجديد كوسيلة للبقاء والوجود، تلك التقدمة التي تنبأ عنها ملاخي أحد الأنبياء الاثني عشر قائلاً :&#8221;ليست لي مسرة بكم قال رب الجنود ولا أقبل تقدمة من يدكم ، لأنه من مشرق الشمس إلي مغربها اسمي عظيم بين الأمم وفي كل مكان يُقرب لاسمي بخور وتقدمة طاهرة لأن اسمي عظيم بين الأمم قال رب الجنود &#8220;(ملا ١: ١٠-١١) </span><span>. </span></p>
<p><span>ويُعلم بإنه من لا يقر أن الخبز والخمر هما جسد ودم السيد المسيح يكون مثل اليهود الذين لا يقرون بإن السيد المسيح ابن الله هو خالق العالم كله&#8221;</span></p>
<p><span>&#8221; </span><span>لكن كيف يمكن أن يكونوا (اليهود) متوافقين مع أنفسهم (إذا قالوا) إن الخبز الذي شكر عليه وأعطاه هو جسد ربهم ، والكأس هي دمه ، إذ هم لم يقروا أنه هو نفسه ابن الله خالق العالم </span><span>&#8220;.</span></p>
<p><span>&#8221; </span><span>وعندما نستكمل تقديم الصعيدة ، نستدعي الروح القدس لكي يُظهر هذه الذبيحة ، الخبز جسداً للمسيح ، والكأس دماً للمسيح ، حتي لكي يحصل المتناولون منها علي مغفرة الخطايا ، والحياة الأبدية</span><span> </span><span>&#8220;.</span></p>
<p><span>&#8221; </span><span>كذلك الكلمة أعطي الإنسان هذا المبدأ الهام لتقديم القرابين ، بالرغم من إنه ذاته ليس في حاجة اليها ، ولكن لكي يتعلموا خدمة الله ، هكذاهي إرادته (إرادة الله ) أن نقدم القرابين علي المذبح باستمرار وبدون انقطاع ، أمَّا المذبح فهو السماء ، والهيكل أيضاً علي نفس النمط ، كما يقول طرحنا الرائي &#8221; وانفتح هيكل الله في السماء &#8220;(رؤ ١١: ١٩) </span><span>&#8221; .</span><span>الكنيسة هي الوحيدة التي تقدم التقدمة الطاهرة إلي الله الخالق ، </span>تقدمها اليه ، مع تقديم الشكر بلسان خليقته &#8220;<a href="#_ftn1" name="_ftnref1">[2]</a></p>
<h3>عظات اباء وخدام معاصرون :</h3>
<h4><span>إلى أين نذهب وكلام الحياة الأبدية عندك ؟</span></h4>
<p><strong><span>يوم الخميس من الأسبوع السادس لقداسة البابا تواضروس </span><span> (يو٦ : ٤٧ – ٧١)</span></strong></p>
<p><span>إلى أين نذهب وكلام الحياة الأبدية عندك ؟</span></p>
<p><span>صيغة السؤال تكشف للإنسان عن مدى معرفته وتفكيره ، كما أنها تُحدد قيمته بمن قائله ، سواء كان من طفل صغير أو من شاب ، أو من شخص مسئول ، غير ما يكون السؤال من الله نفسه ، والحقيقة يبدو أن روح الله الذي جعل الآباء يختارون هذه المقاطع من فصول الإنجيل المقدس ، فقد اختاروها ووضعوها لكل إنسان منا ، بمعنى أن السؤال يكشف للإنسان ذاته ، طوال فترة الصوم هناك عبارة تُكررها أثناء صلاة القداس : &#8220;الصوم والصلاة هما اللذان يخرجان الشياطين&#8221;، والشياطين يقصد بها الخطايا والعادات والضعفات ، ويحاول الإنسان أن يخرجها لكي ما يتوب </span><span>.</span></p>
<p><span>في إنجيل اليوم فصل كبير من الأصحاح السادس ، والأصحاح السادس من إنجيل يوحنا نقرأه دائماً في الشهر السادس من شهور السنة القبطية &#8221; شهرأمشير &#8220;في الأحد الأول والثاني والثالث ، وغالباً بعد ذلك في بدايات الصوم ، هذا الأصحاح عنوانه &#8220;المسيح خبز الحياة&#8221;، وكل ما يدور في هذا الأصحاح هو معجزة إشباع الجموع وحديث المسيح عن المن في العهد القديم ، ثم يتحدث عن سر التناول من الجسد والدم ، ويؤكد على ذلك من خلال آيات كثيرة .</span></p>
<p><span> عندما يقول المسيح في نهاية هذا الأصحاح&#8221; أنا هو خبز الحياة&#8221; (يو ٦ : ٣٥)  نجد هذا الفكر كان جديدا على التلاميذ ، وقد تحيروا وتعجبوا من معنى هذا الكلام الذي كان يفوق إدراكهم حتى أن البعض بدأ يعترض على كلامه ويتذمر، ومنهم من ترك المسيح وصار في طريق آخر ، حتى أن السيد المسيح قال لهم بحرية كاملة: &#8220;ألعلكم أنتم أيضاً تُريدون أن تمضوا؟&#8221; (يو٦ : ٦٧)  ثم يأتي سؤال بطرس الرسول للسيد المسيح وهو موضوع تأملنا : &#8221; يا رب ، إلى من نذهب ؟ كلام الحياة الأبدية عندك &#8221; (يو٦ :٦٨)  فيكون سؤال تأملنا في هذا الفصل الإنجيلي لكل واحد فينا &#8221; إلى من تذهب ؟&#8221; وكأن المسيح يسألني ويسألك : &#8220;إلى من تذهب ، وكلام الحياة الأبدية عندي ؟&#8221;، بمعنى أبسط للسؤال : ما هي مرجعيتك في هذه الحياة التي تعيشها ؟</span></p>
<p><span>البعض قد تكون مرجعيته &#8220;الشهرة&#8221;، فهي شغله الشاغل ، أو &#8220;المال&#8221; ويكون العنصر الرئيسي في حياته ، أو &#8220;الجمال&#8221;، أو &#8221; قوته&#8221; التي يأخذها من علمه أو مركزه أو منصبه ، حتى الخدمة والتي قد تكون اهتمامه الأول ، ولكن لم تكن الخدمة هنا الخدمة الروحية وإنما إداريات الخدمة والتي تصيب الإنسان بجفاف ، إلى من تذهب ؟ هناك مثل شعبي يقول &#8220;اللي مالوش كبير ، يشتري له كبير&#8221;، من يكون الكبير ؟</span></p>
<p><strong><span>+ </span><span>نظرة البعض إلى كلمة الله </span><span>:</span></strong></p>
<p><span>يا لسعادة من يكون كبيره الكتاب المقدس ، أما موقف الإنسان أمام كلمة الله فيختلف من شخص لآخر </span><span>:</span></p>
<p><span>+ </span><span>فهناك من يعتبر الكتاب المقدس كتاباً صعب فهمه أو دراسته أو حتى قراءته</span><span>. </span></p>
<p><span>+ </span><span>هناك نوع آخر من الناس &#8220;يهمل كلمة الله&#8221; لا يفتح الكتاب ، وإن فتحه يكون في مناسبة ما </span><span>.</span></p>
<p><span>+ </span><span>قطاع آخر من الناس&#8221;يرفض كلمة الله&#8221;، هناك من يرفض وصايا المسيح ، بحجة أننا في زمن جديد مختلف عن الزمن الذي كان فيه السيد المسيح ، مدعياً أننا في عصر التواصل والتكنولوجيا ، وهذه كلها لم تكن موجودة في زمن السيد المسيح </span><span>. </span><span>هناك نوع أصعب من الأنواع السابقة وهو النوع الذي يحاول أن يغير في معاني بعض آيات الكتاب المقدس ويستخدمها بطرق عديدة ليست في سياقها ولا في موضوعها </span><span>.</span></p>
<p><span>إن كلمة الله يعبر عنها الكتاب المقدس في ثلاثة مزامير أساسية هي </span><span>: </span></p>
<p><span>المزمور الأول : &#8220;لكن في ناموس الرب مسرته، وفي ناموسه يلهج نهاراً وليلا&#8221;(مز ۱ : ۲)</span><span>.</span></p>
<p><span>المزمور التاسع عشر: &#8220;وصايا الرب مستقيمة تُفرح القلب&#8221; (مز ۱۹ : ۸). استقامة الوصية ، فهو يتكلم عن وصايا الرب المستقيمة التي تُفرح القلب ، فكلمة الله خط مستقيم لا يتغير مهما تغيرت الأجيال ، وهدفها أنها تُفرح </span><span>.</span></p>
<p><span>المزمور المائة والتاسع عشر: وهو يمثل أكبر المزامير فيسمى &#8220;المزمور الكبير&#8221;، وهو مكون من ٢٢ قطعة بحسب الحروف الأبجدية العبرية ، هذا المزمور الذي تصليه في صلاة نصف الليل يقول : &#8221; لو لم تكن شريعتك لذتي ، لهلكت حينئذ في مذلتي&#8221; (مز ۱۱۹ : ۹۲). هذا المزمور مكتوب بطريقة فيها سجع ، فلو لم تكن شريعتك لذتي وبهجتي وفرحي لهلكت في مذلتي ، والمذلة هنا مذلة الخطية ومذلة الإنسان الذي عاش في الخطية وليس عنده أية تعزية ، ولذلك عندما تسمعون أو تقرأون في الإنجيل كلمة &#8221; الجاهل&#8221; وكلمة &#8220;الحكيم&#8221; ليس المقصود بهما أن الشخص متعلم أم لا ، أو هو حاصل على شهادات عالية أم لا ، أو هو متعلم في أماكن راقية أم لا . إن الجاهل هو الذي يجهل كلمة الله ، والحكيم هو الذي يمتلأ حكمة من كلمة الله . يقولون في سفر الأمثال : &#8220;المساير الحكماء يصير حكيماً ، ورفيق الجهال يضر&#8221; (أم ١٣ : ٢٠)، وما أشهى أن يساير الإنسان حكماء الكتاب </span><span>.</span></p>
<p><strong><span>+ </span><span>نماذج كانوا جهلاء وصاروا حكماء </span><span>:</span></strong></p>
<p><strong><span>۱</span><span>- </span><span>بولس الرسول </span><span>:</span></strong></p>
<p><span>بولس الرسول في زمنه الأول كان شخصاً جاهلاً ، وقال عن نفسه فيما بعد : &#8221; كنت أضطهد كنيسة الله &#8220;(غلا ١ : ١٣)، وكان جاهلاً رغم أنه تعلم على يد &#8220;غمالائيل&#8221; وهو يمثل أرقى معلمي الناموس في زمن القديس بولس ، إلا أن هذا التعليم أصابه بضيق القلب ، فصار ضيق القلب ، وعندما شاءت نعمة الله أن ينفتح عليه ، ظهر له السيد المسيح في طريق دمشق ، تكون النتيجة أنه يمكث فترة خلوة طويلة في الصحراء العربية ، ويتعلم وكأنه كان في فصل إعداد خدام ، ويتعلم بمفرده وتنفتح بصيرته ويطلق عليه لقب &#8220;رسول الأمم&#8221;، كل الأمم والكنائس في العالم أجمع على اختلاف طوائفها ، وصار بولس الرسول حكيماً أي فيلسوفاً في &#8220;كلمة اللة &#8220;، وكأن الكلمة المقدسة تجعل الإنسان حكيماً حتى في شئون حياتنا اليومية </span><span>. </span></p>
<p><strong><span>۲</span><span>- </span><span>بطرس الرسول </span><span>:</span></strong></p>
<p><span>هذا الصياد الذي طوال النهار والليل في الماء بين الشباك والسمك والبحر والسفينة ، فليس هناك ما يشغله سوى عمله ، وقد يكون تعليمه محدوداً ، وعندما يكتشف ويذهب للمسيح في معجزة صيد السمك ، والمسيح يقترب إليه ويرموا الشباك هو ومن معه يقول بطرس للمسيح : &#8220;على كلمتك ألقي الشبكة&#8221; (لو٥ : ٥)، فبطرس الرسول عندما ذهب للمسيح ألقى الشباك على كلمة المسيح ، وهنا اكتشف ضعفه وخطيته ، وبدأ يكشف نفسه ، وصار بطرس الرسول بعد ذلك الكارز العظيم وله رسالتان في العهد الجديد، واستشهد على اسم المسيح واختار أن يموت على صليب منكس الرأس</span><span>.</span></p>
<p><strong><span>٣</span><span>- </span><span>زكا االعشار</span><span>: </span></strong></p>
<p><span>زكا كان عشارا ، وكل اهتمامه وسعادته في المال ، ولكن كان يشعر بالقلق وعدم الراحة الداخلية نتيجة الفراغ الرهيب الموجود فيه ، وعندما يكون الفراغ داخل الإنسان يشعر بأتعاب في حياته لا تنتهي ، ولكنه سمع عن المسيح ، وعن مدى سعادة الناس به ومدى الشبع الذي نالوه ، فأصبح لديه رغبة في أن يرى المسيح ولو لمجرد نظرة ، ولكن كانت المفاجأة وهي دعوة السيد المسيح له وباسمه ، وينزل زكا من على الشجرة التي كان صاعدا عليها ليرى المسيح . والشجرة ترمز للصليب الذي من خلاله يلتقي المؤمن بمسيحه . فيسأله المسيح : &#8220;إلى من تذهب ، وكلام الحياة الأبدية عندي ؟</span><span>&#8220;.</span></p>
<p><span>وعندما استجاب زكا لصوت السيد المسيح وذهب معه تحرك داخله اتجاه آخر ، &#8220;فوقف زكا وقال للرب : ها أنا يا رب أعطي نصف أموالي للمساكين ، وإن كنت قد وشيت بأحد أرد أربعة أضعاف&#8221;(لو ١٩ : ٨)، وكان السبب في كل ما حدث لزكا من تغيير هو أنه صار حكيماً </span><span>.</span></p>
<p><strong><span>٤</span><span>- </span><span>المرأة السامرية </span><span>:</span></strong></p>
<p><span>تلك المرأة التي تدرجت في معرفتها بشخص السيد المسيح إلى أن تغيرت بالكامل فكراً ورؤية ، وصارت إنسانة حكيمة ، وتحولت من الجهل والبعد عن المسيح من خلال مقابلتها الأولى معه ، ففي البداية كانت المقابلة جافة ولكن برقة المسيح صارت إنسانة تؤمن بالمسيح وصارت قديسة مُبشرة لأهل مدينتها </span><span>. </span></p>
<p><strong><span>٥</span><span>- </span><span>موسى النبي </span><span>:</span></strong></p>
<p><span>عندما كان يقف موسى أمام فرعون ، كان يرجع دائماً لربنا ، ونرى ذلك في الضربات العشر في سفر الخروج </span><span>.</span></p>
<p><strong><span>٦</span><span>-</span><span>إيليا النبي </span><span>:</span></strong></p>
<p><span>عندما وقف إيليا أمام شعبه وقال : &#8220;حتى متى تعرجون بين الفرقتين ؟ إن كان الرب هو الله فاتبعوه ، وإن كان البعل فاتّبعوه&#8221; (١ مل ۱۸ : ۲۱) بدأ يحطمهم أمام مرجعيتهم </span><span>. </span></p>
<p><span>الخلاصة يا أحبائي أن الأمر الضروري لنا جميعاً أن يكون كبيرنا هو الكتاب المقدس &#8221; كلمة الله &#8220;، والتقليد يعلمنا أن كلمة الله يجب أن نقرأها مثل المزمور الأول &#8221; وفي ناموسه يلهج نهاراً وليلاً &#8221; (مز ۱ : ۲)، ولذلك يعتبر&#8221; إهمال كلمة الله &#8220;هي إحدى خطايا الإنسان ، وبالتالي هناك ضرورة للتعامل اليومي مع كلمة ربنا ، ويجب أن تعلم أولادنا من صغرهم الالتجاء لكلمة الله كل يوم بدون انقطاع ، وهذا شيء مهم جدا ؛ لأنه يساعدك في تربية أولادك وبناتك ، ويكون بيت فيه كلمة الله ، وقراءة الكتاب المقدس في البيت تُساعد من في البيت على الصلاة ، وتجعلك وكأنك تستنشق هواء مقدس </span><span>.</span></p>
<p><strong><span>+ </span><span>ضرورة كلمة الله </span><span>:</span></strong></p>
<p><strong><span>١</span><span>- </span><span>كلمة الله تعطيك استعداداً للحياة </span><span>:</span></strong></p>
<p><span>لا بد أن تكون مستعداً دائماً ، وتكون منتبها للأمور ؛ لأن الغفلة إحدى مسببات الخطية ، وبالتالي نجد أن كلمة الله تجعل الإنسان دائماً منتبها ، ومستعداً في الحياة </span><span>.</span></p>
<ul>
<li><strong><span>مثال</span></strong></li>
</ul>
<p><span>قد نتذكر مثل العذارى الحكيمات والجاهلات ، وهذا المثل يقول لنا عن خمس عذارى حكيمات وخمس جاهلات ، ومن خلال هذا المثل يمكن أن نقول أن هؤلاء العذارى كن ملتفتين تماماً لقيمة الوقت ، فالحكيمات تنبهن للوقت جيداً وحضرن المصابيح وملأنها زيتاً وسهرن وانتظرن واستعدين . أما الجاهلات فلم ينتبهن أن الوقت يمر سريعاً ، فلا داع للعجلة ، وبالتالي تركن</span></p>
<p><span>مصابيحهن فارغة . كلمة الله تنبهك للحياة وتجعلك مستعداً دائماً </span><span>. </span></p>
<p><strong><span>۲۔ الامتلاء من المعرفة </span><span>:</span></strong></p>
<p><span>أحياناً يسألني شخص سؤالاً لن تكون الإجابة عليه واضحة أو بمعنى آخر الإجابة عن هذا السؤال لا تفيد ، وهي ما تسمى بالأسئلة الجدلية أو الأسئلة الفلسفية ، والفلسفة بكل تأكيد قائمة على الأسئلة ، ولكن قد يعرف الشخص أموراً ليس لها قيمة ولا معنى ، وممكن تكون أموراً متعبة بالنسبة له</span><span>. </span></p>
<p><span>اجعل الكتاب المقدس دليلك ، لكي ما تمتلئ من المعرفة الحقيقية ، يقول لنا الرب في سفر هوشع النبي : &#8221; قد هلك شعبي من عدم المعرفة &#8221; (هو ٤ : ٦)، ويقصد بالمعرفة هنا المعرفة الحقيقية ، فهناك معرفة مزيفة لا تُفيد ، فالامتلاء من المعرفة الحقيقية مفيد جداً للإنسان ، يقول لنا القديس يوحنا الذهبي الفم : &#8220;إن جهلنا بالكتاب المقدس هو جهلنا للمسيح&#8221;، وبصياغة أخرى يقول القديس أوغسطينوس : &#8220;الكتاب المقدس هو فم المسيح&#8221;. ولا أقصد من ذلك أن تكون حياتك جادة تماما ليس فيها أي شكل من أشكال الترويح عن النفس ، بل بالعكس يقول الكتاب المقدس : &#8221; فإن كان وعظ  ما في المسيح . إن كانت تسلية ما للمحبة &#8221; (في ٢ : ١)، وهذا يعني أن الوقت الترويحي يكون هدفه المحبة ، وتزداد فيه المحبة ، إذا من الضروري الامتلاء من المعرفة الحقيقية </span><span>.  </span></p>
<p><strong><span>٣</span><span>- </span><span>التدقيق في الوصية </span><span>:</span></strong></p>
<p><span>يقول الكتاب : &#8221; فانظروا كيف تسلكون بالتدقيق ، لا كجهلاء بل كحكماء، مفتدين الوقت لأن الأيام شريرة&#8221; (أف ٥ : ١٥ ١٦)، يقصد بها الحياة المدققة ، فهناك شخص يتقبل الأمور بصورة سطحية ، وهناك آخر مدقق في كل أمر ، هل هذا يليق أم لا ؟ هل هذا مناسب أم لا ؟ ممكن أعمل هذا أم لا ؟ وبالتالي من سيساعدك في فهم الوصية والتدقيق فيها ؟ حتى لا تكون إنساناً حرفياً وناموسياً ، أو إنساناً ترى الدنيا مفتوحة جدا ولا تدري بأمور حياتك كيف تسير </span><span>. </span></p>
<ul>
<li><strong><span>قصة</span></strong></li>
</ul>
<p><span>سأل شخص أحد قديسي البرية وقال له : &#8221; أيهما أفضل الكلام أم الصمت ؟&#8221;، فأجابه قائلاً : &#8220;إذا كان الكلام من أجل الله فهو جيد،  وإن كان الصمت من أجل الله فهو جيد </span><span>&#8220;.</span></p>
<p><span>والمقصود بإجابة هذا الأب القديس هو الهدف من الكلام ، فليس المهم ميكانيكية الكلام نفسه ، ولكن المهم هو الهدف من هذا الكلام ، هل مدقق في كلامك ؟ وكلامك بحساب من أجل الله ، بمعنى أنه كلام مشجع ويرشد ويبني وينصح . هناك شخص قد لا يفهم الوصية بمنظورها الروحي ، فمثلاً السيد المسيح قال : &#8220;لا تظنوا أني جئت لأنقض الناموس أو الأنبياء . ما جئت لأنقض بل لأكمل&#8221;(مت ٥ :١٧)، وهذا ليس معناه أن العهد القديم ناقص ، إنما معناه أن العهد القديم غير مفهوم بأسلوب العهد الجديد وبرؤيته ، وهذا هو المهم، وبالتالي لا بد من التدقيق في الوصية </span><span>.</span></p>
<p><span>أريد أن أختم بنفس العبارة التي قالها المسيح في نفس الأصحاح فقال : &#8221; الكلام الذي أكلمكم به هو روح وحياة &#8221; (يو ٦ : ٦٣ )  كلمة ربنا أو كلام الحياة الأبدية تضع أمامنا أكثر من معنى </span><span>: </span></p>
<p><strong><span>١</span><span>- </span><span>صداقة الكتاب </span><span>:</span></strong></p>
<p><span>كن صديقا لكتابك المقدس ، واعرف أن صداقة الكتاب المقدس هي صداقة مفرحة ، فهو الذي يفرحك باستمرار ، فكلمة الله تلذذ نفسك وتشبعك بخلاف أي قراءات أخرى</span><span>.</span></p>
<p><strong><span>۲</span><span>- </span><span>واسطة روحية </span><span>:</span></strong></p>
<p><span>تذكر دائماً أن كتابك المقدس هو واسطة روحية للنعم ، ففي كل مرة تفتح الإنجيل فأنت تستدعي النعمة ، وهي ما نُطلق عليها &#8221; الوسائط الروحية ، أو مصادر النعمة ، أوينابيع النعمة &#8220;، وهذا هو السبب الذي جعل في كل كنيسة منجلية (حامل الإنجيل)، كي تتذكر دائما النعمة التي تنالها من الكتاب المقدس عند دخولك الكنيسة ، وهذه النعمة لكي تنالها فهي في حاجة إلى نظام والتزام يومي منك ، فالكتاب المقدس هو واسطة نعمة ، وبالتالي لا بد أن تكون هذه الفكرة رئيسية في حياتك لكي تتعامل مع الإنجيل مثل وصية المزمور الأول &#8221; تلهج نهاراً وليلا </span><span>&#8220;.</span></p>
<p><strong><span>٣</span><span>- </span><span>المرشد الحقيقي في حياتك </span><span>:</span></strong></p>
<p><span>الكتاب المقدس مرشدك كل يوم ، فهو مرشدك : في التربية ، في الخدمة ، في العمل ، في العلاقات الإنسانية ، في علاقاتك الاجتماعية ، في علاقاتك الأسرية . إن كلمة الله عندما يستخدمها الإنسان باستمرار ، وتكون في لسانه دائماً ، فهي تمثل نوعاً من الإرشاد ، ولذلك من الأمور الجيدة أن تربي أولادنا بالنعمة . فهناك من يربيهم بالأوامر ، وآخر يربي بطريقة مدللة أكثر من اللازم ، ولكن أهم ما يمكن أن تُربي عليه أولادنا هو نعمة الكتاب المقدس. تعال فا اجعل بيتك وأسرتك وحياتك بكل مجالاتها تحيا بكلمة الله ، واسمع هذا السؤال وفكر فيه فهو سؤال المسيح لك اليوم</span><span>: </span> <span>إلى من تذهب وكلام الحياة الأبدية عندي ؟</span></p>
<p><span>ضع أمامك باستمرار أن كل يوم هناك طعام للجسد ، وكذلك هناك الطعام الروحي من إنجيلك لفائدتك الشخصية وأيضاً لبيتك ولأسرتك&#8221;.</span><span>  </span><span>فليعطنا مسيحنا يا أحبائي أن يكون الكتاب المقدس دائماً كلام الحياة الأبدية حاضراً أمامنا في حياتنا ، وليملأ بيوتنا وكنائسنا وقلوبنا … </span>لإلهنا كل مجد وكرامة من الآن وإلى الأبد  آمين . <a href="#_ftn1" name="_ftnref1">[3]</a></p>
<h4><span>الروحانية الأرثوذكسية للمتنيح الأنبا بيمن أسقف ملوي</span></h4>
<p><span>قد يسأل أحدهم هل هناك فارق بين الروحانية الأرثوذكسية والروحانية الكاثوليكية والروحانية عند الطوائف الأخرى &#8230; نعم إن العقيدة والأصول الإيمانية لها أكبر الأثر في توجيه الحياة الروحانية وصبغها صبغة معينة .. الأرثوذكسية لها إيمان بالثالوث الاقدس وبالطبيعة الواحدة لشخص السيد المسيح من الطبيعتين اللاهوتية و الناسوتية .. وهذه الطبيعة متحدة بلا إختلاط ولا إمتزاج ولا تغيير .. كما تعلم الكنيسة أيضا أن السيد المسيح له مشيئة واحدة. وهذا الاتجاه العقيدى لها أكبر الأثر في توجية التعليم، كما أن له أكبر الاثر ايضا في توجيه الحياة الروحانية </span><span>.</span></p>
<p><span>وهناك ظروف أخرى غير العقيدة أثرت على أنواع الروحانية تتعلق بالأوضاع الإجتماعية والسياسية ، فالكنيسة الغربية بسبب ظروفها التاريخية وإخضاعها الامبراطورية الرومانية تحت قيادتها حتى أن بابا</span></p>
<p><span>روما توج الامبراطور شارلمان يوما من الأيام قد اتجهت إلى بسط نفوذها وسلطانها حتى انتهت إلى أن أصبحت دولة لها سفراؤها و بنوکها واقتصادها العالمي .. هذا كان له التأثير على الفكر الكاثولیکی وعلی الروحانية الكاثوليكية .. ثم إن النهضة العلمية والتقدم الفلسفي في اوربا ، وحرص الكاثوليكية على أن تركب كل موجة تحدث في أوربا ، فتارة تخضع الحركة الفنية تحت نفوذها في مطلع النهضة الأوربية وتارة أيضا تفتح أبوابها أمام كل فکر وفلسفة بعد أن كانت تهاجم العلماء هجوما عنيفا وصل إلى حد حرق العلماء ومحاكمتهم کمجدفین أیام العصور الوسطى .. كل هذا كان له أثره في الحياة الكاثوليكية والغربية عامة. </span></p>
<p><span>اما الكنيسة الشرقية فلأجل ظروفها السياسية و الأجتماعية وابتعادها عن السياسة ومراكز الحكم والسلطان وانتشار الحركة النسكية الرهبانية مبتدئة بمصر وممتدة إلى بلاد الشام ثم اليونان ثم روسيا.. هذه المؤثرات كان لها أكبر الأثر في صبغ الفكر الارثوذكسي والروحانية</span></p>
<p><span>الأرثوذكسية بطابع معين نستطيع أن نسمية الطابع النسكي والمستيکي (السرى) والإهتمام بالعمق الداخلى اكثر من الإهتمام بالمؤسسات أو المطبوعات او الدخول في تيارات الأحزاب والايديولوجيات المتضاربة</span><span>.</span></p>
<p><span>فالطابع الأرثوذكسي طابع روحاني والكنيسة الأرثوذكسية كنيسة صوفية باطنية جوانية، على حد تعبير الأنبا أغريغوريوس ، فقد جابه قادتها الروحانيون الفلسفة و الفلاسفة و مع ذلك عرفوا أن لا يخلطوا الدين بالفلسفة . هذا الخلط الذي هو أصل الهرطقة.. و كنيستنا الأرثوذكسية تنظر إلى طبيعة المسيح نظرة صوفية روحانية ينحل فيها كل ما يبدو أمام الفكر البشري أنه متناقض أو محال .. هذه التجربة الصوفية أو الروحانية تعلو على كل تناقض عقلى وفلسفي </span><span>.</span></p>
<p><span>العقل الفلسفي يحاول أن يخضع الديانة لذات المنهج العلمى الذي تخضع له كل فروع المعرفة المادية ، ومن هنا فقد يدخل إلى الدين مناهج التحليل والتصنيف والاستنباط والاستقراء وما إليها من أجل أن تجعله اکثر إساغة وقبولا للعقل الفلسفي ، أما نحن الأرثوذكس فإننا نفهم روح الدين ونعلم أنه يلزم للعقل أن يخضع للتجربة الروحية الصوفية .. فمنهج الأرثوذكسية منهج روحی نسکی بینما منهج الغرب منهج عقلي تحليلي وهذا له أكبر الأثر على الحياة الروحانية وعلى نوع التعليم الدینی </span><span>.</span></p>
<p><span>إن ما يمثل الروحانية الأرثوذكسية هو المؤمن الذي له أعماق روحية وله شركة عميقة واختبارات نامية مع الله، وله حرص شديد على الاشتراك مع المؤمنين في الكنيسة في جميع الخدمات من عبادة و تسبیح وأحتفال بالأعياد والمناسبات الكنسية ، وله علاقات حسنة مع كافة المواطنين مهما كان دينهم أو جنسهم أو مذهبهم</span><span>.</span></p>
<p><span>ويلزمنا بادىء ذي بدء أن نشير إلى أن هدف الحياة الروحية في الاتجاه الأرثوذكسي هو التأله على حد تعبير أثناسيوس الرسول في (تجسد الكلمة)، أي أن نكون شركاء الطبيعة الإلهية كما قال معلمنا بطرس الرسول في رسالته الثانية .. وهذا الهدف كلما وعته الكنيسة حرصت أن يكون كل نشاط وكل خدمة وكل تعليم هادفا إلى إيجاد هذه الشركة المقدسة مع الثالوث الأقدس فلا يرضى الارثوذكسي أن يكون الله قطبا خارجيا ويبقى هو قطبا آخر أمامه ، ولا يوافق الأرثوذكسي على التعليم الذي يجعل الحياة الروحية مجرد ممارسات شكلية أو أنشطة إجتماعية أو خدمات طائفية أو تأدية شعائر طقسية خالية من الروح والحياة .. الروحانية الأرثوذكسية التي تؤمن بالطبيعة الواحدة تعلم بأن الإنسان مدعو في الرب يسوع إلى حياة الشركة في المسيح . لهذا فإن سر الأفخارستيا يمثل محورا هاما بل حجر الزاوية في الحياة الروحية الأرثوذكسيه لأنه من خلال الاتحاد بالجسد والدم الأقدسين نكون جميعا جسدا واحدا وروحا واحدا وقلبا واحدا كما نتحد بالرب نفسه إذ يثبت هو فينا ونثبت نحن فيه . </span></p>
<p><span>لهذا نجد أن التعليم الارثوذكسي النقي لايتخذ شكل ( الكاتشیزم).كما لايتخذ شكل التداريب الجافة التي يمارسها الإنسان بذاته كوسيلة للصعود إلى الله والارتفاع إليه . إن الروحانية الأرثوذكسية هي إختبار الحياة في المسيح ، ولا ندري هل يصبح المؤمن في أعماق الله أم أن الله يملك على أعماق الإنسان ، ولكن الذي يحدث فعلا هو شركة كيانية عميقة تؤكد قول الرب في صلاته الدفاعية الأخيرة (انا فيهم وأنت في ليكونوا مكملين إلى واحد ) . الروحانية الأرثوذكسية لا ترضى بالحياة لأجل المسيح فقط، ولا بالحياة مع المسيح فقط ، وإنما تهدف إلى الحياة في المسيح و من خلال هذا الاتجاه تنطلق كل خدماتها وعباداتها وأنشطتها المختلفه </span><span>&#8230;</span></p>
<p><strong><span>النعمة والإرادة</span><span>:</span></strong></p>
<p><span>وإذا كانت الروحانية الأرثوذكسية تنظر إلى عمل الفداء الذي صنعه الرب يسوع على أنه هو الألف والياء في الحياة الروحانية ، فإن ما أصاب الفكر الغربي من صراعات حول أيهما أهم النعمة أم الارادة ، ما حدث أثناء السجال الطويل بين القديس أوغسطينوس وبيلاجيوس لم يظهر في الفكرالأرثوذكسي لأن الأرثوذكسية اختبار عملى . فهی لا تفلسف الحياة الروحانية ، بل تحرص على أن تلقى كل مؤمن فيها وتلقى الزخم الروحى في أعماقه .. فالحياة الروحانية في الاتجاه الأرثوذكسی هی عمل النعمة ، ولكن يلزم أن تكون الإرادة حاضرة لتقبل هذه النعمة ، و بدون النعمة لا فائدة من الجهاد و بدون الجهاد لا يمكن للنعمة أن تبقى وتدوم وتنمو في حياة المؤمنين ، فنحن لا نكمل إن لم نجاهد قانونيا.. ويلزمنا أن نتمم خلاصنا بخوف ورعدة . و ليست الخبرة الروحية قائمة على أساس أن أصعد بجهدي إلى الرب لأن الله هو الذي نزل إلينا ، وإنما الخبرة الروحية هي التي تقوم على أساس أن أهیئ حياتي لسكنى الرب في ، أن أعد له المذود کی يولد في. أن أتقبل من الكنيسة كل وسائط النعمة التي تملا کیانی فرحا و نعيما ، ويصبح الملكوت حقيقة حاضرة ، وعربونا لما هو آت . فما هو أخروی ليس مستقبليا فقط ، وإنما هو يعاش في الحاضر ، وأثناء المعاناة اليومية </span><span>.</span></p>
<p><strong><span>إبراز عمل الثالوث الأقدس</span><span>:</span></strong></p>
<p><span>وفي كل صلاة أو خدمة تهتم الأرثوذكسية بابراز عمل الأقانيم الثلاثة بعكس الفكر الغربي الذي يركز على عمل المسيح وحده ، فتجد عندنا مثلا الكاهن عندما يعطي البركة الرسولية يقول ( محبة الله الأب ، ونعمة الإبن الوحيد ، وشركة وموهبة وعطية الروح تكون معكم)، وفي صلاة الأجبية نجد صلوات تقدم للآب السماوي ( اشكرك أيها الآب أبا ربنا وإلهنا ومخلصنا يسوع المسيح) وأخرى تقدم للابن، بل إن هناك قداسا يخاطب الآب وآخر يخاطب الإبن ، فالكنيسة الأرثوذكسية&#8230; تعلم بأن الأقانيم الثلاثة تعمل في وحدة جوهر المحبة </span><span>.</span></p>
<p><span>تقول الكنيسة عن عمل الأقانيم بالنسبة لمريم العذراء (الآب اختارك والابن تنازل و تجسد منك والروح القدس ظللك). وفي تعاليم القديس ايرينئوس نجد ثلاث أنواع من الرؤية لله</span><span>:</span></p>
<p><span>الرؤية الأولى: وهي بواسطة إلهام الروح القدس ويسميها رؤية نبوية فيها يستعلن شبه مجد الله </span><span>.</span></p>
<p><span>الرؤية الثانية: وهي بواسطة يسوع المسيح ، و يسميها رؤية بنوية وهي للمختارين </span><span>.</span></p>
<p><span>الرؤية الثالثة: رؤية الآب وهي رؤية الوجه للوجه لحياة الملكوت </span></p>
<p><span>والرؤية النبوية الروح القدس تمهد للرؤية البنوية في المسيح وهذه تحضر الإنسان إلى رؤية كاملة للآب ، والآب يهب الانسان عدم الموت ، والانسان في كل هذه يتحقق أنه يرى الله بالفعل لأن هذه الرؤي الثلاثية متداخلة جدا ، و منها يحتوي الآخر خلفه</span><span>.</span></p>
<p><strong><span>روحانية شركة وليست روحانية فردية</span><span>:</span></strong></p>
<p><span>عندما أراد الرب أن يصنع الفصح قال (أصنع الفصح مع تلاميذی) وكانت شهوة قلبه أن يأكل الفصح معهم لأن هذا هو القصد الذي من أجله جاء أن يوحد الجميع في واحد كما أنه هو والآب واحد. وكانت صلاته الشفاعية الأخيرة تطلب من الآب هذه الوحدة للتلاميذ ولكل من يؤمن به. فالروحانية الأرثوذكسية لا تعرف الروحانية الفردية فمنذ أن يولد المؤمن ولادة ثانية بالمعمودية وهو يغرس في الكنيسة غرسا. وجميع اسرار الكنيسة وخدماتها تهدف إلى هذه الوحدة المقدسة التي تجعل المؤمن جسدا واحدا وروحا واحدا ، وفكرا واحدة وقلبا واحدا : بإيمان واحد لرب واحد و إله واحد ، ورجاء واحد ودعوة واحدة . لذلك علمنا الرب يسوع أن نقول الصلاة الربانية بصيغة الجمع : أبانا الذي، و ليس أبي الذي في السموات. ويؤكد لاهوتيو الأرثوذكسية أن المؤمن يخلص من خلال الكنيسة وليس خارجها إطلاقا . و ليس معنی هذا أن الأرثوذكسية تلغي العلاقة الشخصية و تتجاهل الشركة الخاصة  بين المؤمن ومخلصه ، ولكنها إذ تؤكد هذه العلاقة تضعها في إطار وحدة المؤمنين برباط الكمال الذي هو رباط المحبة ووحدانية الروح</span><span>.</span></p>
<p><span>وإذا تأملنا صلاة القداس مثلا نجد هذه الوحدة واضحة فلا الأسقف وحده يمكنه أن يعمل القداس ، ولا الشماس وحده يستطيع هذا ، ولا الشعب بدون الاسقف والشماس يقدر أن يشترك في القداس وانما الجميع في وحدة متناغمة يشترکون معا</span><span>.</span></p>
<p><strong><span>وحدة السمائيين مع الارضيين</span><span>:</span></strong></p>
<p><span>وتهتم الروحانية الأرثوذكسية بوحدة السمائيين مع الأرضيين بقدر إهتمامها بوحدة المؤمن مع الله ووحدة المؤمن في الكنيسة ، فالعلاقة القوية التي تربط المنتصرين الذين عملوا في الإيمان مع المجاهدين الذين لا يزالون يركضون نحو الجعالة هي محور من أهم محاور الروحانية الأرثوذكسية .. لذلك تحرص الكنيسة على أن تمتلىء بالأيقونات في كل مكان .. على الحجاب على الجدران وفي الهيكل ، حتى يشعر المؤمن أن هؤلاء القديسين أحياء مع إبراهيم واسحق ويعقوب وانهم يجاهدون معه ومع الكنيسة التي يعيش عضوآ فيها . وفي هذا يقول الرسول بولس &#8220;إذ لنا سحابة من الشهود مقدار هذه محيطة بنا لنطرح كل ثقل والخطية المحيطة بنا بسهولة ولنحاضر بالصبر في الجهاد الموضوع أمامنا ناظرین إلي رئيس الإيمان ومكمله يسوع &#8221; (عب ١٢: ١-۲) </span><span>.</span></p>
<p><span>فالكنيسة الأرثوذكسية تنظر إلى السماء والأرض وقد اتصلنا ببعض في اتحاد لا ينفصل . ففي القداس الالهي عندما تبدا الصلاة يفتح ستر الهيكل و يصیر کل شئ مكشوفا و تكون الصلاة علانية لأن المسيح قد جعل الإثنين واحدا أي السمائيين والأرضيين . وتصلى الكنيسة قائلة : &#8221; وعندما نقف أمامك وقت الصلاة نحسب كالقيام في السماء&#8221;. وفي قداس القديس أغريغوريوس تصلي الكنيسة قائلة: &#8220;الذي أعطى الذين على الأرض تسبيح السارافيم إقبل منا نحن أيضا أصواتنا مع الغير المرئيين واحسبنا مع القوات السمائية كما تذكر الكنيسة سواء في الصلوات السرية أو العلنية الملائكة ورؤساء الملائكة والقديسين ، وصلاة المجمع فيها طلبة و تضرع من الكنيسة المجاهدة لأجل الكنيسة المنتصرة  تفضل يارب أن تذکر جميع القديسين الذين أرضوك منذ البدء آبائنا القديسين رؤساء الآباء  والأنبياء والرسل والمبشرين والإنجيليين والشهداء والمعترفين و كل أرواح الصديقين الذين كملوا في الإيمان ، و عندما يرفع الكاهن البخور يصلي سرا قائلا &#8220;اذکر یارب آباءنا وإخوتنا الذين سبق رقادهم في الإيمان الأرثوذكسي نيحهم جميعهم مع قديسيك&#8221; . وبين هذه السحابة المقدسة التي يقبل الله صلواتنا في صلواتهم رائحة بخور ذكية يتنسمها فيرضى عن شعبه ويغفر لهم جهالتهم تبرز مكانة العذراء والدة الإله القديسة مريم ، فللعذراء وضع خاص في العبادة الأرثوذكسية فهي ليست أم يسوع فقط بل هي أم كل مؤمن أيضا ، وفيها تقابل الجنس البشري كله مع الخالق يسوع المسيح كصديق ومخلص .. فهي ليست فقط أم يسوع المسيح بل هي أيضا أم الخليقة كلها. هي حواء الثانية التي أصلحت زلة المرأة الأولى ، هي کمال العهدين القديم والجديد لانها الكائن البشري الذي اقترب جدا إلى الثالوث الأقدس ، أسمها دائم الذكري في صلوات الأرثوذكسية ، وأيقوناتها توجد في جميع بيوت المسيحين المتدينين ، وشفاعتها كثيره ومقبولة أمام الله من اجل الذين يحبون إبنها ويعبدونه من كل قلوبهم </span><span>..</span></p>
<p><strong><span>تقديس المادة في الروح</span><span>:</span></strong></p>
<p><span>تبرز الروحانية والفكر الغربي ثنائيات كثيرة مثل ثنائية الفرد والجماعة ، المادة والروح ، الزمن والابدية ، ولكن في الأرثوذكسية لاتوجد هذه الثنائيات ، ونذكر مثلا المادة والروح فإن الكنيسة ترفض الفكر الأفلاطوني الذي يعتبر المادة ضد الفكر والروح، وإنما تعتبر المادة مجالا أساسيا لعمل الله في خلاص الإنسان . فمنذ أن أقتبل الإبن الكلمة طبيعة الإنسان في أقنومه وإتحد اللاهوت بالناسوت لم تعد المادة نجسة بل مجالا مباركا وواسطة تجرى الكنيسة نعم ومواهب الروح القدس من خلالها . فالماء والزيت والخمر والخبز مجالات ضرورية لنيل اسرار الكنيسة، والصلاة على مائدة الطعام تقدس الطعام وإذ يأكله المؤمنون بنسك و شكر وفرح وتهليل و بساطة قلب ، تتحول اللقمة في أجوافهم إلى بركة تدخل الأحشاء فتعطى قوة تجدد الجسد لخدمة الروح ، كما أن الجنسية في الإنسان تتقدم من خلال سر الزيجة فيصير المضجع غیر نجس والعلاقة الجسدية بين الزوج والزوجة تعبر عن علاقة روحية من اسمی ما يربط الإنسان بالآخر .. بل أو أجسادنا نفسها سوف تقوم في مجد عندما يأتي الرب في مجده و مجد أبيه لاننا أبناء نور ، أبناء قيامه . ستسطع أجساد القديسين بالنور والبهاء بعد القيامة والجسد نفسه سيشارك الروح بركات الدهر الاتي كا شارکها أتعاب الجهاد في أرض الغربة </span><span>.</span></p>
<p><span>بل وتؤمن الارثوذكسية أن الخليقة المادية لها سوف تتمجد مع قيامة الانسان وتمجيد جسده ، لانه كما فسدت المادة و تلوثت بفساد الانسان كاهن الخليقة هكذا ستتمجد عندما يتمجد هو . وفي هذا يقول بولس الرسول «لأننا نعلم أن كل الخليقة تئن و تتمخض معا إلى الآن وليس هذا فقط بل نحن الذين لنا باكورة الروح نحن أنفسنا أيضا نئن في أنفسنا متوقعين التبني فداء أجسادنا » (رو ۱۹:۸ - ۲٣) . في اليوم الأخير لن يخطف الانسان من بين الخليقة بل إن الخليقة  كلها ستخلص وستتمجد معه ، الكون والخليقة التي فسدت بسقوط آدم تعود مرة ثانية إلى وضعها الطبيعي في اتفاق و انسجام لتصير أرضا جديدة &#8220;ثم رأيت سماء جديدة ، وأرضا جديدة لان السماء الأولى والأرض الأولى مضتا&#8221; (رؤ ۱:۲۱)</span><span>.</span></p>
<p><span>من هذا المنطلق لاترى الكنيسة غرابة في تقديس المذبح والأيقونات وتكريسها في بيت الله ، وتسمح للمؤمنين بتقبيلها ، وطلب شفاعة القديسين أصحاب الأيقونات المكرسة وإنارة الشموع امامهم . هناك فارق كبير بين نظرة الأرثوذكسي الشرقي ونظرة المسيحي الغربي .. فعقلية الغرب التحليلية قد رسمت خطا فاصلا وحدا واضحا بين الشيء وإسمه ، بين الشخص وصورته ، بين الروح والجسد .. أما في الشرق فنحن اكثر يقظة لهذا التداخل فإسم الشخص جزء من شخصيته ، والصورة وثيقة الصلة بالإنسان ذاته . ويعتقد الأرثوذكسي أن التجسد كشف عن وجود وحدة عضوية بين ما هو إلهي وما هو مخلوق وأثبت أن الأشياء المادية ليست أقل قيمة من غيرها في تنفيذ العمل الإلهي والشرقي يستطيعأن يتكلم مع السمائيين في صورهم بل ويعتقد أن المقابلة الروحية بين المسيح وقديسيه وبين أعضاء الكنيسة تزداد عمقا وقوة إذا تركزت في الأيقونة ، فالخشب والرسم والمعدن يتشكل بالفن والصلاة إلى نقطة تقابل بين الله والإنسان لا تقل عن صلاة الشفتين. ومن هنا نستطيع أن نفهم الدور العظيم الذي تلعبه الطقوس وممارسات الكنيسة في حياة الأرثوذكسي ؛ وباختصار فإنه ليس هناك ثنائية المادة والروح في روحانية وفكر الأرثوذكسي .. إن المسيحي من وجهة نظر الأرثوذكسية يخلص بالعالم ولا يخلص من العالم </span><span>.</span></p>
<p><strong><span>ارتباط الزمن بالأبدية</span><span>:</span></strong></p>
<p><span>في الفكر الأرثوذكسي والروحانية الأرثوذكسية ليس هناك تضاد بين الزمن والأبدية بل هناك تلاحم واتصال. ففي المسيح يسوع حدث هذا الإرتباط الصمیمی طالما نؤمن بوحدة اللاهوت والناسوت ، لأجل هذا أصبح الزمان داخلا في اعتاب الأبدية وأصبحت الأبدية هابطة علي تاريخنا زاحفة عليه ساحبة إياه في تخومها اللانهائية.وإذا ما اتخذنا صلاة القداس مثالا لذلك فإننا في صلاة الليتورجيا لانفرق بين السماء والأرض لانهما اتحدا سويا في القداس ، وبناء على ذلك لا نفرق بين الزمن والابدية لأن لحظات الصلاة في مجال لاستجلاء الابدية وإستحضارها على الأرض . و نفس هذا الاختبار يحسه المؤمن في صلاة المخدع عندما يصلى بالروح والذهن ، فإن الأبدية تنفتح لتحمل دقات الساعة مع دقات وانات القلب سويا وتحسب هذا الجهاد وتكتبه في سفر تذكرة وتعطيه خلودا أبديا. وإذا كان الرب يسوع قد قال بفمه الطاهر &#8220;ها ملكوت الله داخلكم&#8221;  فمعنى هذا أن الأبدية حاضرة هنا الآن .. وإن لم تثق انها حاضرة معنا الآن فلن ندخلها في الاتي. كل ما هو اخروی سيحدث فعلا في المستقبل في المجيء الثاني في الأبدية ولكنه يبدا الآن . الآن وقت مقبول &#8230; الآن ساعة خلاص .. الأن ساعة انفتاح الأبدية ودخولها قلب الإنسان وجعله مملكة ( إليه نأتي وعنده نصنع منزلا ) وعندما يستقر الرب في القلب ألا تكون الأبدية كلها حاصلة فعلا. لأجل هذا تتميز الروحانية الأرثوذكسية باختبار عربون الملكوت من هنا ، و تسعى نحو الامتلاء من الفرح الداخلى كعربون للفرح السمائي عندما يأتي أوان الزفاف ويأخذ العريس العذاری المستعدات معه . وهذا الاختبار الصوفي هو وحده الذي يقضي على العزلة في حياة الإنسان . وهو وحدة الذي يحل المتناقضات ، وهو وحده الذي يلغى القلق والسلام والملل والخوف من الموت هذه التي هي نتاج سلطان الزمان على الإنسان </span><span>.</span></p>
<p><span>وفي هذا يقول الفيلسوف برديائف : &#8216;يوجد طريقان ممکنان لمعاناة الزمان، أحدهما أن نجرب الحاضر دون تفكير في المستقبل والابدية ، والثاني أن نجعل من الحاضر والأبدية شيئا واحدا </span><span>.</span></p>
<p><span>الموقف الأول يقوم على النسيان .. أما الموقف الثاني فيتغلب على شر الزمان ويفضي بنا إلى الأبدية ، وفي هذه الحالة لا تكون اللحظة لحظة نسيان وإنما تكون على العكس لحظة امتلاء خاص تمثل حياة الانسان تنيرها الذاكرة لا جزءا من حياته المنعزلة وهكذا تستطيع الروح أن تتغلب على الخوف والفزع من المستقبل &#8216; . وهذا ما تعمله الخبرة الروحية في الأرثوذكسية </span><span>..</span></p>
<p><span>ختام القول أنه ليس هناك ضمان للمسيحيين على أنهم يسيرون في الطريق الصحيح أفضل من حفظ وحدانيتهم وممارسة عضويتهم الحية في الكنيسة ، والتعمق في شركتهم مع الله ورفض كل ثنائية يطرحها العقل والفلسفة والمنطق ، والتجاوب مع </span>كل وحدة يحدثها الروح في الحياة الداخلية ..<a href="#_ftn1" name="_ftnref1">[4]</a></p>
<hr />
<h3></h3>
<h3></h3>
<h3>المراجع</h3>
<p><a href="#_ftnref1" name="_ftn1">[1]</a><sup>- تفسير الأمثال ص ٢٤٣ - القمص تادرس يعقوب ملطي.</sup></p>
<p><a href="#_ftnref1" name="_ftn1">[2]</a> - دراسة آبائية في سر الإفخارستيا ( صفحة ١٦ - ٢٠ ) - إعداد القس بولا رأفت عزيز - كنيسة السيدة العذراء مريم والبابا أثناسيوس الرسولي والأنبا بولا</p>
<p><a href="#_ftnref1" name="_ftn1">[3]</a> - إختبرني يا الله صفحة ٣٢٢ - قداسة البابا تواضروس الثاني</p>
<p><a href="#_ftnref1" name="_ftn1">[4]</a> - مقالتان في الروحانية الأرثوذكسية (صفحة ٦٥ - ٧٩) - الأنبا بيمن أسقف ملوي وأنصنا والأشمونين</p>
<p>

      {% endcreateArticleAccordions %}
    </section>
  {% endblock %}
