---
layout: 'layouts/reading.html'
title: 'قراءات يوم الجمعة من الأسبوع السادس'
tags: 'great-lent'
permalink: /articles/great-lent/6-5.html
---
  {% block content %}
    <section id="readings">
      <ul>
      {% if 'undefined' != 'undefined' %}
      
      {% else %}
      {% if 'null' != 'null' %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">العشية</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeVespers '' '' %}
          </div>
        </div>
      </li>
      {% endif %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">باكر</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeMatins '19.51:7-8' '43.3:14-21' '1.22:1-18@23.45:11-17@20.9:12-18@18.36:1-33*@+18.37:1-4@68.1:1-22*@+68.2:1-14*@+68.3:1-6*@+68.3:7-15*@+68.3:16-17*@+68.4:1-21*@+68.5:1-22*@+68.6:1-8*@+68.6:9-17*@+68.7:1-18*@+68.8:1-21*@+68.9:1-6*@+68.10:1-12*@+68.11:1-19*@+68.12:1-22*@+68.13:1-18*@+68.14:1-15' %}
          </div>
        </div>
      </li>
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <h3 class="flex items-center justify-between">
            <span class="kufi">القداس</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </h3>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeLitugy '46.10:1-13' '62.2:12-17' '44.8:9-17' '19.34:5,4' '43.3:1-13' %}
          </div>
        </div>
      </li>

      {% endif %}
        </ul>
    </section>
    <section id="article">
      <h3 class="mt-8 mb-4 heading-explain">شرح القراءات</h3>
      {% createArticleAccordions %}
        <p>&#8220;فَدُفِنَّا مَعَهُ بِالْمَعْمُودِيَّةِ لِلْمَوْتِ، حَتَّى كَمَا أُقِيمَ الْمَسِيحُ مِنَ الأَمْوَاتِ، بِمَجْدِ الآبِ، هكَذَا نَسْلُكُ نَحْنُ أَيْضًا فِي جِدَّةِ الْحَيَاةِ&#8221; (رو ٦: ٤)</p>
<p>[أرعد أيها القادر الضابط الكل على هذه المياه لكي بها وبروح قدسك تجدد ميلاد عبيدك الذين تقدموا إليك] (من صلوات طقس المعمودية)</p>
<p>[الاستنارة مركب يسير تجاه الله، مسايرة المسيح، رأُس الدين، تمام العقل!.. الاستنارة مفتاح الملكوت واستعادة الحياة. نحن ندعوها عطية، وموهبة، ومعمودية، واستنارة، ولباس الخلود وعدم الفساد، وحميم الميلاد الثاني، وخاتمًا، وكل ما هو كريم] (القديس غريغوريوس النزينزي)<a href="#_ftn1" name="_ftnref1">[1]</a></p>
<h3>شواهد القراءات</h3>
<p>(تك٢٢: ١- ١٨)، (إش٤٥: ١١- ١٧)، (أم٩: ١٢- إلخ)، (أي٣٦: ١- إلخ)، (أي٣٧: ١- إلخ)، (سفر طوبيا)، (مز٥٠: ٧، ٨)، (يو٣: ١٤- ٢١)، (١كو١٠: ١- ١٣)، (١يو٢: ١٢- ١٧)، (أع٨: ٩- ١٧)، (مز٣٣: ٤، ٣)، (يو٣: ١- ١٣).</p>
<h3><strong>شرح القراءات</strong></h3>
<p><strong>تتكلّم قراءات اليوم</strong> عن الولادة الجديدة وكيف تقدّم الكنيسة لأبنائها عهد وفعل المعمودية.</p>
<p><strong>يبدأ سفر التكوين</strong> بوعد البركة التي شملت كل الأرض في اليوم الثالث كرمز لما قدمتّه القيامة في اليوم الثالث ونعيش فعله في المعمودية المقدّسة وإستعداد ابراهيم لتقديم إبنه ذبيحة وطاعة اسحق حتى الذبح كرمز لطاعة المسيح حتى الموت ونجاة اسحق من الموت في اليوم الثالث كرمز لقيامة الرب في اليوم الثالث.</p>
<p>&#8220;وجاء في اليوم الثالث إلى الموضع الذي قال له الله، أقسمت بذاتي قال الرب من أجل أنك فعلت هذا الأمر ولم تشفق على ابنك الحبيب من أجلي بالبركة أباركك، ويتبارك بنسلك كل أمم الأرض&#8221;.</p>
<p><strong>ويدعو سفر إشعياء</strong> الشعوب أن تتجدّد لكي تعيش الخلاص والحياة الجديدة.</p>
<p>&#8220;تجددي لي أيتها الجزائر أما إسرائيل فخلص بالرب خلاصاً أبدياً&#8221;</p>
<p><strong>ويحذّر سفر أمثال سليمان</strong> من مياه العالم الغريبة.</p>
<p>&#8220;ولا ترفع عيناك نحوها فتشرب من عين غريبة وتنتقل إلى نهر غريب ابتعد عن المياه الغريبة لكي تحيا زماناً طويلاً وتزيد لك سنو الحياة&#8221;.</p>
<p><strong>وفي سفر أيوب</strong> عن فعل الروح في المعمودية والطبيعة الجديدة التي ننالها.</p>
<p>&#8220;ويجتذبك من فم العدو - الشيطان- إلى رحب لا ضنكَ فيه وتكون مائدتك مملوءة دسماً&#8221;.</p>
<p><strong>وفي سفر طوبيا</strong> عن الخلاص من الشيطان وعن الاستنارة كإشارة لعمل الروح في مياه المعمودية.</p>
<p><strong>وفي مزمور باكر</strong> عن المعمودية الإغتسال الروحي.</p>
<p>&#8220;تنضح على بزوفاك فأطهر وتغسلني فأبيض أفضل من الثلج&#8221;.</p>
<p><strong>وفي إنجيل باكر</strong> عن الصليب قمّة إستعلان محبّة الله للبشر وأساس الخلاص والولادة الجديدة.</p>
<p>&#8220;لأنه هكذا أحب الله العالم حتى بذل ابنه الوحيد لكي لا يهلك كل من يُؤْمِن به بل ينال الحياة الأبدية&#8221;.</p>
<p><strong>وفي البولس</strong> عن خروج الشعب من أرض مصر كمثال للمعمودية في العهد الجديد وأهمية إلتزام الإنسان بالحياة المقدّسة لئلا يكون لنا مصير الشعب في القديم برغم عِظَم مافعله الله معهم.</p>
<p>&#8220;إن أبائنا جميعهم كانوا تحت السحابة وجميعهم إجتازوا وجميعهم اعتمدوا لموسى في السحابة وفي البحر وجميعهم أكلوا طعاماً واحداً روحياً وجميعهم شربوا شراباً روحياً لأنهم كانوا يشربون من صخرة روحية تابعتهم والصخرة كانت المسيح لكن بأكثرهم لم يسر الله&#8221;.</p>
<p><strong>وفي الكاثوليكون</strong> عن عطيٌة التحرّر من سلطان الخطيّة.</p>
<p>&#8220;أكتب إليكم أيها الأبناء لأنه قد غفرت لكم خطاياكم من أجل اسمه، أكتب إليكم أيها الأحداث لأنكم قد غلبتم الشرير&#8221;.</p>
<p><strong>وفي الإبركسيس</strong> عن إيمان شعب السامرة وقبولهم المعمودية.</p>
<p>&#8220;لكن لما صدقوا فيلبس إذ بشرهم بملكوت الله واسم يسوع المسيح اعتمدوا رجالاً ونساءً وسيمون أيضاً نفسه آمن واعتمد وكان ملازماً لفيلبس&#8221;.</p>
<p><strong>وفي مزمور القدّاس</strong> عن الدعوة للمعموديّة سر إستنارة أولاد الله.</p>
<p>&#8220;تقدموا إليه واستنيروا ووجوهكم لا تخزى&#8221;.</p>
<p><strong>ويختم إنجيل القدّاس</strong> عن المعمودية والولادة من فوق من الماء والروح في حوار الرب مع نيقوديموس.</p>
<p>&#8220;أجاب يسوع وقال له الحق الحق أقول لك إن لم يولد الانسان من الماء والروح فلا يقدر أن يدخل ملكوت الله&#8221;.</p>
<h3>ملخص القراءات</h3>
<table width="503">
<tbody>
<tr>
<td width="91">سفر التكوين</td>
<td width="412">إعلانات وعطايا ومفاعيل المعمودية موت وقيامة مثلما حدث في قصّة ذبح إسحق</td>
</tr>
<tr>
<td width="91">سفر أشعياء</td>
<td width="412">تجديد</td>
</tr>
<tr>
<td width="91">سفر الأمثال</td>
<td width="412">مياه الحياة</td>
</tr>
<tr>
<td width="91">سفر أيوب</td>
<td width="412">نجاة من فم العدو الشيطان</td>
</tr>
<tr>
<td width="91">سفر طوبيا ومزمور القدّاس</td>
<td width="412">إستنارة</td>
</tr>
<tr>
<td width="91">مزمور باكر</td>
<td width="412">إغتسال</td>
</tr>
<tr>
<td width="91">إنجيل باكر</td>
<td width="412">حب إلهى فائق</td>
</tr>
<tr>
<td width="91">البولس</td>
<td width="412">حياة جديدة حسب فكر الله</td>
</tr>
<tr>
<td width="91">الكاثوليكون</td>
<td width="412">غفران الخطايا</td>
</tr>
<tr>
<td width="91">الإبركسيس</td>
<td width="412">بطلان سحر العالم</td>
</tr>
<tr>
<td width="91">إنجيل القدّاس</td>
<td width="412">طريق الملكوت</td>
</tr>
</tbody>
</table>
<h3>الكنيسة في قراءات اليوم</h3>
<table width="503">
<tbody>
<tr>
<td width="91">البولس</p>
<p>والكاثوليكون</td>
<td width="412">السهر الروحي والجهاد ضد محبة العالم.</td>
</tr>
<tr>
<td width="91">الأبركسيس</p>
<p>وأنجيل القداس</td>
<td width="412">المعمودية ولادة ثانية من الروح.</td>
</tr>
</tbody>
</table>
<h3>أفكار مقترحة للعظات</h3>
<h4>(1) المعمودية لازمة للخلاص</h4>
<ul>
<li>&#8220;من آمن وإعتمد خلص ومن لم يؤمن يدن&#8221; (أع ١٦: ١٦)</li>
<li>&#8220;لا بأعمال في بر عملناها نحن بل بمقتضى رحمته خلصنا بغسل الميلاد الثاني وتجدد الروح القدس&#8221;(تي ٣: ٥)</li>
<li>&#8220;الذي مثاله يخلصنا نحن الآن أي المعمودية&#8221; (١بط ٣: ٢١)</li>
</ul>
<h4>(2) المعمودية والحياة الجديدة</h4>
<ul>
<li>&#8220;فدفنا معه بالمعمودية للموت، حتى كما أقيم المسيح من الأموات، بمجد الآب، هكذا نسلك نحن أيضا في جدة الحياة&#8221; (رو ٦: ٤)</li>
<li>&#8220;لأنكم جميعاً أبناء الله بالإيمان بالمسيح يسوع لأن كلكم الذين اعتمدتم بالمسيح قد لبستم المسيح&#8221; (غل ٣: ٢٧)</li>
</ul>
<h4>(3) المعمودية طريق ومدخل معاينة الملكوت</h4>
<ul>
<li>&#8220;الحق الحق أقول لك إن لم يولد الانسان من الماء والروح فلا يقدر أن يدخل ملكوت الله&#8221; (يو ٣: ٥).</li>
</ul>
<h3>عظات<strong> آبائية</strong></h3>
<h4>حوار الرب مع نيقوديموس - للقديس كيرلس الكبير<a href="#_ftn2" name="_ftnref2">[2]</a></h4>
<p><strong>(يو٣:١، ٢)</strong> &#8220;كان إنسان من الفريسيين اسمه نيقوديموس رئيس لليهود. هذا جاء الى يسوع ليلا وقال له&#8230;.&#8221;</p>
<p>كان لدي نيقوديموس استعداد للإيمان لكن لم يدفعه لذلك (الإيمان) مخافة صالحة. لأنه عمل حساباً لرأي الناس، لم تكن لديه الجرأة وانقسم في رأيه. وهو يتردد في هدفه، ويعرج على ركبتيه بين الفرقتين، كما هو مكتوب. مدفوعاً من نخسات ضميره الى واجب الإيمان بسبب كثرة المعجزات، لكنّه يحسب خسران مركزه كرئيس لأمته أمراً لا يحتمل، لأنه كان &#8220;رئيسًا لليهود&#8221;، وإذ أرتأى أنه يستطيع أن يظل محتفظاً بسمعته وسطهم وأيضاً يصير تلميذاً في الخفاء، لهذا أتى الى يسوع متخذاً من ستار الليل عوناً لخطته، وبمجيئه سراً يلام على تردده.</p>
<p><strong>(يو٣: ٣) </strong>&#8220;يا معلم، نعلم أنك قد أتيت من الله معلماً. لأن ليس أحد يقدر أن يعمل هذه الآيات التي تعمل إن لم يكن الله معه. أجاب يسوع وقال له &#8230;&#8230;&#8221;</p>
<p>يفترض نيقوديموس بهذه الكلمات أنه يستطيع بلوغ التقوى الكامنة ويتصور أن هذا سيكون كافياً لخلاصه. أن يتعجب مجرد تعجب من تلك الأمور التي تستدعي الذهول، وهو لا يسعى لغير ذلك وإذ يدعوه معلماً من الله وشريكاً في العمل معه، فهو لا يعرف أنه الله بالطبيعة بل بفهم خطة تدبير التجسد، ولكنه لا يزال يقترب كما إلى مجرد إنسان ولم يكن يدركه إلا قليلاً.</p>
<p><strong>(يو٣: ٤)</strong> &#8220;الحق الحق أقول لك: أن كان أحد لا يولد من فوف لا يقدر أن يرى ملكوت الله. قال له نيقوديموس&#8230;..&#8221;</p>
<p>لا يتكون الإيمان مما تفكر أنت فيه يا نيقوديموس ولا يكفي الكلام لتبريرك، ولا يمكنك بلوغ التقوى بمجرد الكلمات لأن ليس كل من يقول لي يا رب يا رب. يدخل ملكوت السماوات. بل الذي يفعل إرادة أبي  الذي في السماوات&#8221; (مت٧:٢١) لكن مشيئة الأب هي أن يصير الإنسان مشتركاً مع الروح القدس، وأن يدعى مواطن الأرض المولود ثانية إلى حياة جديدة غير عادية، مواطنًا سماويًا. وحينما يسمى الميلاد الجديد من الروح أنه &#8220;من فوق&#8221; يظهر تماماً أن الروح القدس من جوهر الله الآب، كما يقول هو أيضا حقاً عن نفسه &#8220;أنا فمن فوق&#8221; (يو٨: ٢٣) ويقول الإنجيلي العظيم الحكمة، أيضًا عنه &#8220;الذي يأتي من فوق هو فوق الجميع&#8221; (يو٣: ٣١) لكن كون الروح القدس هو من جوهر الله الآب فهذا سيأتي الحديث عنه في حينه، وبأكثر تفصيل.</p>
<p><strong>(يو٣: ٥)</strong> &#8220;كيف يمكن الإنسان أن يولد وهو شيخ؟ ألعله يقدر أن يدخل بطن أمه ثانية ويولد؟ أجاب يسوع &#8230;.&#8221;</p>
<p>يعاب على نيقوديموس هنا أنه لا يزال جسدانياً، لهذا وبأي حال لا يقبل الأمور التي لروح الله (أنظر١كو٢: ١٤) لأنه يفتكر أن هذا الأمر الهائل والسر العظيم، جهالة. وعند سماعه بأمر الميلاد الروحاني والذي من فوق، يتخيل أن الرحم الجسدي سوف يعود فيلد ما سبق أن ولده، ودون أن يتجاوز قانون طبيعتنا البشرية، فإنه يقيس الإلهيات فيجد أنه لا يقدر على بلوغ إرتفاع تعاليمها بمفاهيمه الشخصية، فيتهاوى، ويسقط. وكما أن الأشياء التي ترتطم بضربات ساحقة على أحجار صلدة، فإنها ترتد للخلف، هكذا أيضا أتصور العقل غير المتمرس، حين يواجه مفاهيم تفوق طاقته فإنه يتراجع، ويسعد أن يبقى في المستوى الذي يلائمه فيحتقر الفهم الذي هو أفضل وأسمي منه، وهذا ما فعله رئيس اليهود، إذ لم يقبل الميلاد الروحاني.</p>
<p><strong>&#8220;إن كان أحد لا يولد من الماء والروح لا يقدر أن يدخل ملكوت الله&#8221;</strong></p>
<p>لم يفهم الرجل كما ينبغي، ما الحاجة الى الميلاد من فوق وما معناه، لذلك فإن الرب يعلمه تعليماً أوضح، ويفتح أمامه الطريق لمزيد من معرفة السر. لأن ربنا يسوع المسيح كان يدعو الميلاد الجديد من الروح، إنه &#8220;من فوق&#8221; موضحًا أن الروح القدس هو من الجوهر الذي فوق كل الجواهر، وبه نصير نحن &#8220;شركاء الطبيعة الإلهية&#8221; (٢بط ١: ٤). إذ نتمتع بذاك الذي ينبثق جوهريًا من الله الآب. وبه وفيه يعاد تشكيلنا الى جمال النموذج الأصلي، وهكذا نولد ثانية إلى جدة الحياة، وتعاد صياغتنا الى  البنوة الإلهية. لكن نيقوديموس إذ لم يفهم هكذا عبارة &#8220;من فوق&#8221;، تخيل أنها تعني أن الميلاد المقبل ينبغي أن يحدث بحسب نهج الأجساد، وهي تخيلات قد أغلقت عليه في اطار المستحيلات، وقد انحدر هو اليها، فأُمسك في حالة فقدان الشعور والعجز عن  التعلم. ولهذا بات من الضروري على  المخلص أن يجيب ولكن بشكل الطف، بما يناسب عجز نيقوديموس، فأزال الحجاب الذي كان يبدو مغلقًا لكلماته. إذ يقول الآن صراحة &#8220;إن كان أحد لا يولد من الماء والروح لا يقدر أن يدخل ملكوت الله. فلأن الإنسان مركب وليس بسيطاً في طبيعته، اذ يتألف من عنصرين، هما الجسد المحسوس والنفس العاقلة، فإنه يتطلب شفاءاً لأجل ميلاده الجديد، مماثلًا لعنصريه  السابق ذكرهما. لأنه بالروح القدس تتقدس روح الإنسان، وبالماء المقدس، يتقدس جسده أيضًا. لأنه كما أن الماء المنسكب من الغلاية، بسبب اتحاده بقوة النار، ينطبع فيه ختم فعاليتها، هكذا  بواسطة عمل الروح القدس، تتحول طبيعة الماء المحسوس الى ماء إلهي ذي فاعليه لا توصف فيقدس أولئك الذين يأتون اليه.</p>
<p><strong>(يو٣: ٦)</strong> &#8220;المولود من الجسد جسد هو، والمولود من الروح هو روح&#8221;</p>
<p>ويحثه الرب أيضا، بعبارة أخرى أن يرتقي الى فهم أعلى، حتى إنه عند سماعه عن الميلاد الروحاني، لا يفكر في خصائص الأجساد، إذ يقول له إنه من الضروري أن يكون مولود الجسد جسدًا، هكذا أيضا المولود من الروح هو روح. لأن الأشياء التي تكون طريقة وجودها مختلفة، فإن وسيلة ولادتها تكون بنفس الأسلوب. لكن يجب أن نعلم أننا نسمي روح الإنسان ذرية الروح، ولا نعني بهذا أن روح الإنسان مولودة من الروح بالطبيعة، فهذا مستحيل، بل لأن به قد أوجد روح الإنسان الذي لم يكن موجوداً أصلًا هذا أولاً بحسب التدبير بسبب إعادة تشكيل الإنسان بحسب الله بواسطة الروح، إذ يطبع علينا &#8220;ختمه الذاتي&#8221; ويعيد صياغة فهمنا بحسب &#8220;قيامة المسيح&#8221;، لأني أظن أنكم ستفهمون تماماً ما قاله القديس بولس: &#8220;يا أولادي الذين أتمخض بكم أيضاً إلى أن يتصور المسيح فيكمw&#8221; (غل٤: ١٩)، وأيضاً &#8220;لأني أنا ولدتكم في المسيح يسوع بالانجيل&#8221; (١كو٤: ١٥).</p>
<h4>عمل الثالوث واحد - للقديس أثناسيوس الرسولي<a href="#_ftn3" name="_ftnref3">[3]</a></h4>
<p>هذه الحقيقة أيضاً تبين أن عمل الثالوث واحد. فالرسول لا يعني أن ما يعطى يعطى بالتجزئة وعلى حدة من كل اقنوم، بل أن ما يعطى يعطى في الثالوث، وأن كل ما يعطى هو من الله الواحد.</p>
<p>إذا فذاك الذي ليس هو مخلوقاً، بل هو واحد مع الأبن كما أن الأبن واحد مع الآب، ذاك الذي هو ممجد مع الآب والأبن، المعترف به بأنه إله مع الكلمة، الذي يعمل في الأعمال التي يعملها الآب بالأبن - ألا يعتبر الشخص الذي يدعوه مخلوقاً مجرماً، ويجدف تجديفاً مباشراً على الأبن نفسه؟ لأنه لا يوجد شئ لم يبدع ولم يعمل بالأبن في الروح القدس. هذا ما ترنم به المزمور: &#8220;بكلِمَةِ الرَّبِّ صُنِعَتِ السماواتُ، وبنَسَمَةِ فيهِ كُلُّ جُنودِها&#8221; (مز٣٣: ٦).</p>
<p>وفي المزمور المائة والسابع والأربعين قيل &#8220;يُرسِلُ كلِمَتَهُ فيُذيبُها. يَهُبُّ بريحِهِ فتسيلُ المياهُ&#8221; (مز١٤٧: ١٨)، ونحن قد تبررنا - كما يقول الرسول - &#8220;باسم ربنا يسوع وبروح إلهنا&#8221; (١كو٦: ١١) لأن الروح غير منفصل عن الكلمة. فعندما يقول المسيح &#8220;نأتي، الأب وأنا&#8221; (يو١٤: ٢٣) فإن الروح يأتي معهما، ويسكن فينا بكيفية لا تقل عن الأبن، كما كتب بولس إلى أهل أفسس &#8220;لكي يعطيكم بحسب غنى مجده، أن تتأيدوا بالقوة بروحه في الانسان الباطن ليحل المسيح..&#8221; (أف٣: ١٦، ١٧) وإن كان الأبن فينا فالآب فينا أيضاً، كما يقول الأبن &#8220;انا في الآب والآب فيّ&#8221; (يو١٤: ١٠).</p>
<p>لذلك فعندما يكون الكلمة في الأنبياء فانهم يتنبأون في الروح القدس. إن قال الكتاب &#8220;أتت كلمة الرب&#8221; (إر١: ٢، مي١: ١) الى هذا النبي كان معنى هذا أنه تنبأ في الروح القدس. ورد في زكريا &#8220;لكن اقبلوا كلامي وفرائضي التي اوصيت بها عبيدي الأنبياء بروحي&#8221; (زك1: 6) وعندما وبخ النبي الشعب بعد ذلك بقليل قال &#8220;جعلوا قلبهم عنيداً لئلا يسمعوا شريعتي والكلام الذي أرسله رب الجنود بروحه عن يد الأنبياء الأولين&#8221; (زك7: 12). وقال بطرس في سفر الأعمال &#8220;أيها الأخوة كان ينبغي أن يتم الكتاب الذي سبق الروح القدس فقاله&#8221; (أع1: 16).</p>
<p>وصرخ الرسل معاً قائلين &#8220;أيها السيد أنت هو الإله الصانع السماء والأرض والبحر وكل ما فيها. القائل بالروح القدس بفم داود فتاك&#8230;&#8221; (أع4: 24، 25) وعندما كان بولس في رومية تكلم بجسارة الى اليهود الذين أتوا إليه قائلاً &#8220;حسناً كلم الروح القدس أباءنا  بإشعياء  النبي&#8221; (أع28: 25). وورد في الرسالة إلى تيموثاوس &#8220;الروح يقول صريحاً إنه في الأزمنة الأخيرة يرتد  قوم عن الإيمان تابعين أروحاً مضلة&#8221; (1تي4: 1).</p>
<p>وهكذا نري أنه عندما يقال إن الروح القدس في أي واحد فإن هذا يعني أن الكلمه حال فيه ما نحاً الروح القدس، عندما تمت النبوة &#8220;إني أسكب روحي على كل بشر&#8221; (يوئ2: 28)، قال بولس &#8220;حسب عطية روح يسوع المسيح لي&#8221; (في1: 19)، وكتب إلي أهل كورنثوس قائلاً &#8220;إن كنتم تطلبون برهان المسيح المتكلم في&#8221; (2كو13: 3).</p>
<p>وإن كان الذي تكلم فيه هو المسيح، لأنه عندما كان المسيح يتكلم فيه، قال مرة أخرى في سفر الأعمال &#8220;والآن ها أنا ذاهب إلي اورشليم مقيداً بالروح لا أعلم ما يصادفني هناك. غير أن الروح القدس يشهد في كل مدينة قائلاً إن وثقاً وشدائد تنتظرني&#8221; (أع20: 22، 23).</p>
<p>لذلك فإن قال القديسون &#8220;هكذا قال الرب&#8221; (أنظر مثلاً عا 1: 3). فإنهم إنما يتكلمون بالروح القدس لا سواه. وإن تكلموا بالروح القدس تكلموا بأمور الروح في المسيح.</p>
<p>وعندما قال أغابوس في سفر الأعمال &#8220;هذا يقوله الروح القدس&#8221; (أع21: 11) لم يكن ذلك سوى أن الروح القدس منحه - بالكلمة الذي أتى إليه- القوة ليتكلم ويشهد بما كان ينتظر بولس في أورشليم. وهكذا أيضًا عندما شهد الروح القدس لبولس كان المسيح يتكلم فيه كما قدمنا، وهكذا كانت الشهادة التي أتت من الروح تنتمي إلى الكلمة.</p>
<p>وعندما افتقد الكلمة العذراء القديسة مريم أتى الروح القدس اليها معه، وصاغ الكلمة الجسد بالروح القدس وشكّله لذاته، اذ أراد أن يتحد كل البشرية بالله ويحضرها إليه بواسطة نفسه، وبه يصالح الكل عاملاً الصلح &#8230;.. سواء كان ما على الأرض أم ما في السماوات (كو1: 20).</p>
<h3>عظات آباء وخدام معاصرون :</h3>
<h4><span>هل تجدد حياتك ؟ </span><b><span>يوم الجمعة من الأسبوع السادس لقداسة البابا تواضروس </span></b></h4>
<p><b><span>(يو ٣ : ١ – ١٣) </span></b></p>
<p><b><span>هل تجدد حياتك ؟</span></b></p>
<p><span>ونحن في الجمعة السادسة من الصوم المقدس يطرح السيد المسيح علينا سؤالاً رائعاً ؛ لأن القصة كلها تدور حول شخصية من الشخصيات المعتبرة في الكتاب المقدس ، ويطلقوا عليها &#8221; الشخصية التي ظهرت ليلا &#8220;؛ وأطلقوا عليها ذلك لأن نيقوديموس عندما ذهب للمسيح وتقابل معه كان ليلا مثلما قال لنا الكتاب ، &#8221; نيقوديموس &#8221; شخصية هامة في الكتاب المقدس ، والكتاب المقدس يشرح لنا بعض المقابلات التي كانت مع السيد المسيح مثل مقابلته مع السامرية ، وكذلك زكا ، وتقابل أيضاً مع بعض التلاميذ مثل بطرس ، وكل مقابلة لها حكاية ، لكن مقابلة نيقوديموس بالذات لها مواصفات خاصة هي : </span></p>
<p><span>أولا : كان معلماً ورئيساً لليهود ، فكان على درجة عالية جداً في العلم والمعرفة ، فكان متبحراً في العلم .</span></p>
<p><span> ثانياً : كان عضوا في السنهدريم، فكانت له مكانة هامة في مجتمعه . </span></p>
<p><span>ثالثاً : ذهب نيقوديموس للمسيح ليلا وكأنه تلميذ يريد أن يتعلم من المسيح ، وهنا تظهر شخصية نيقوديموس المرموقة .</span></p>
<p><span>عندما ذهب نيقوديموس للمسيح بدأ كلامه معه بمقدمة جميلة جداً قال له : &#8221; يا معلم ، تعلم أنك قد أتيت من الله معلماً ، لأن ليس أحد يقدر أن يعمل هذه الآيات التي أنت تعمل إن لم يكن الله معه &#8221; (يو ٣ : ٢ )  من المفترض منطقياً أن يرد عليه السيد المسيح بكلمة شكر ، لكن السيد المسيح فاجأه بإجابة لم تكن في الاعتبار حيث قال له : &#8221; إن كان أحد لا يولد من فوق لا يقدر أن يرى ملكوت الله &#8221; (يو ٣ : ٣ ) ،  هذه الإجابة حركت نيقوديموس ، وضعته أمام علامة استفهام كبيرة جداً ، فعندما سمع كلمة يولد ظن أنها الولادة الجسدية ، فكيف يولد مرة أخرى وهو كبير سناً ؟! فقال &#8221; كيف يمكن الإنسان أن يولد وهو شيخ ؟ ألعله يقدر أن يدخل بطن أمه ثانية ويولد ؟&#8221; (يو ٣  : ٤)، أما السيد المسيح فقد فاجأه بالإجابة الثانية قائلا : &#8221; الحق الحق أقول لك : إن كان أحد لا يولد من الماء والروح لا يقدر أن يدخل ملكوت الله &#8221; (يو ٣ : ٥).</span></p>
<p><span>تلاحظ أن كلمة الولادة تعني وجود شيء جديد ، وبالتالي يقصد بالميلاد تجديد الحياة أي &#8221; الحياة الجديدة &#8220;، ويأتي هنا السؤال الذي تطرحه علينا كلمة الله وهو : &#8221; هل تجدد حياتك ؟ أم تظل قديمة ؟&#8221;</span></p>
<p><span>الرد على هذا في العبارة التي تصليها في مزمور التوبة : &#8221; قلباً نقياً اخلق في يا الله ، وروحاً مستقيماً جدد في داخلي &#8221; (مز ٥١ : ١٠).</span></p>
<p><span>قد تسألني وهل من الضروري أن يكون في حياتنا تجديد ؟ بكل تأكيد التجديد مهم جدا لحياتنا ، فكل شيء تُجدده من حولنا ، فأنت تُجدد طعامك ، ومن ثم تنوعت الأكلات وتعددت ، كذلك تجدد في ملابسك ، وأيضاً تجدد مسكنك ، حتى العمر يتجدد قد كنت طفلا وصرت صبيا ثم شابا &#8230; ، قد تجدد في عملك ، وبالتالي يجدد الإنسان من شخصيته ، حتى الطبيعة تُجدد ذاتها وتتعدد فصول السنة وتتجدد الأرض بكل ما فيها .</span></p>
<p><span>هل تجدد حياتك ؟ سؤال مهم جداً ، وممكن أقول أنه سؤال حياتي بالنسبة للإنسان .</span></p>
<p><span>نيقوديموس هذا الرجل المرموق وضعت أمامه إجابة من شخص السيد المسيح جعلته في حيرة شديدة : &#8221; إن كان أحد لا يولد من فوق لا يقدر أن يرى ملكوت الله &#8221; (يو ٣ : ٣)، ويأتي هذا السؤال ونحن في نهاية الصوم ، فهل تم التجديد في حياتك ؟ يحدثنا الكتاب المقدس عن الماء في أماكن عديدة ، فعلى سبيل المثال يتكلم عن الماء كوسيلة للتجديد مثل الطوفان في العهد القديم ، وأيضاً تكلم عن الماء الذي خرج من الصخرة وشرب منها بني إسرائيل وهم سائرون في البرية وتجددت حياتهم ، تكلم عن الماء الذي جدد نعمان السرياني من البرص ، وتكلم عن الماء الذي تحول إلى خمر في عرس قانا الجليل ، حتى الآحاد الأخيرة من الصوم الكبير مرتبطة بالماء &#8221; السامرية والبئر &#8220;، &#8221; المخلع وبيت حسدا &#8220;، &#8221; المولود أعمى وبركة سلوام &#8221; </span></p>
<p><b><span>+ وسائل تجديد الحياة :</span></b></p>
<p><span>إن الحياة المتجددة دائماً مفرحة ، فالحياة الرتيبة ليس بها فرح ، لذلك أقدم لك بعض الوسائل التي تساعدك وتساعد نيقوديموس على تجديد حياته :</span></p>
<p><b><span>١-وقفة الصلاة الحقيقية العميقة :</span></b></p>
<p><span> العالم الآن يسير بالرتم السريع ، لكن وجود وقفة صلاة عميقة فيها عرق الصلاة ودموعها ومشاعرها ، فيها أنين الصلاة ، فيها العلاقة التي بينك وبين مسيحك ، وكأنك بالصلوات ترتفع وتقترب لأن تلمس المسيح ؛ ولذلك نهتم في الصوم الكبير بالقداسات المتأخرة والألحان الطويلة لكي تُمكنك من هذه الوقفة العميقة ، فالسرعة لا تجعلك تشعر بلذة الصلاة وتجعلك تفقد عمق الحياة وعمق التجديد . إن وقفة الصلاة التي تقوم بها خاصة في بعض أوقات التسبيح والترنيم ، أو أوقات المدائح وتمجيد القديسين تساعدك على أن تجدد ذهنك وعقلك وتجعلك تشعر بالشبع ؛ لأن كل مشاعرك شاركت في هذا العمل الروحي .</span></p>
<p><span>٢<b>- جلسة الإنجيل العميقة :</b></span></p>
<p><span>الجلسة مع إنجيلك كصديق تُشعرك بالتمتع بهذه الجلسة ، يخبرنا التاريخ بأن أجمل تفاسير لرسائل معلمنا بولس الرسول هي التي كتبها القديس يوحنا الذهبي الفم ؛ لأن هذا القديس عندما كان يدرس هذه الرسائل وتقف أمامه آية يصعب فهمها يبدأ يصلي في قلبه ويطلب بولس الرسول كي يشرح له ، فيظهر القديس بولس الرسول بنفسه ويفسر له ماذا قصد من كتابة هذه الرسالة ، وكانت النتيجة أن تفاسير رسائل بولس الرسول التي كتبها القديس يوحنا الذهبي الفم هي في الحقيقة كتبها بولس الرسول بنفسه ، ولذلك هي تفاسير ممتعة .</span></p>
<p><span>تلذذ بالإنجيل واجلس معه كجلسة صديق ، وكأنك بهذا العمق تدخل إلى أعماق كلمة الله ، يقول القديس يوحنا الذهبي الفم : &#8221; الكتاب المقدس منجم لآلئ وروضة للنفوس &#8220;. وكأن الإنسان يتمتع بجمال الحياة في عمق الإنجيل .</span></p>
<p><span>جلسة الإنجيل تُجددك بالاستمرار والمواظبة ، فيقول المزمور الأول : &#8221; يكون كالشجرة المغروسة على مجاري المياه &#8230; وكل ما يصنع ينجح فيه &#8221; (مز ١ : ٣).</span></p>
<p><span>۳<b>۔ ممارسة الأسرار بوعي :</b></span></p>
<p><span>ممارسة الأسرار الكنسية المقدسة بوعي ، وليس كأنها عادة ، والأسرار نوعان :</span></p>
<p><span>+ أسرار لا تكرر مثل المعمودية والميرون. </span></p>
<p><span>+ أسرار تُكرر مثل التوبة والاعتراف والتناول .</span></p>
<p><span>هل تمارس هذه الأسرار بوعي وبانفتاح قلب ؟ إن ممارسة الأسرار تتطلب من الإنسان أن يكون كيانه كله داخل السر ، حيث يستعد الفرد بفكره وحضوره حتى نومه قبل اليوم المخصص ، وتكون النتيجة أنه مارس السر بوعى  وليس مجرد تعود ، كل هذا يساهم في التجديد الروحي .</span></p>
<p><span>٤<b> القراءات الروحية وسير القديسين :</b></span></p>
<p><span> بلا شك سير القديسين كالمياه للغروس الجدد . هذه النبتة الصغيرة عندما نرويها بالماء تكبر وتنمو وتزهر . من التداريب الروحية الجميلة في فترة الأصوام أن تختار بمشورة أب الاعتراف كتاباً روحياً تعيش داخله ، لكي يشبعك ويجدد العمل الروحي داخلك ؛ لأن القراءات الروحية وسيلة جميلة جداً لتجديد الحياة ، والكنيسة تُعلمنا قراءة سير القديسين من كتاب السنكسار يومياً  كي نعيشه ونعرفها ونحفظها ونتأثر بها ونشترك في الترنم  بتماجيدها .</span></p>
<p><span>٥<b>- محاسبة النفس والضمير :</b></span></p>
<p><span>هذا يمثل حياة التوبة ، من الضروري أن تقضي فترات خلوة ومحاسبة لذاتك ، وهذا يمثل وسيلة للتجديد ، من المهم أن لا تترك حياتك قديمة ، وتتراكم الخطايا بعضها فوق بعض ، ويفقد القلب حساسيته من كثرة الخطايا ، لذا محاسبة النفس وفحص الضمير إحدى الوسائل القوية للتجديد لكي ما تشبع قلبك بالمسيح . </span></p>
<p><span>وهذا ما يعلمنا به مزمور التوبة : &#8221; قلباً نقياً اخلق في يا الله ، وروحاً مستقيماً جدده في أحشائي &#8221; (مز ١٠:٥٠)، أحياناً تجد الإنسان في خدمته شخصاً قديماً ليس في أفكاره فقط بل في حياته كلها حتى في آرائه .</span></p>
<p><span>٦- <b>فترات الأصوام القلبية :</b></span></p>
<p><span>قد ننظر إلى الصوم على أنه تغيير في شكل الطعام ، ولكن المعنى الروحي للصوم هو أن فترة الصوم تعني الصوم عن كل ما هو قديم ورديء، كلمة &#8221; صوم &#8221; هي البعد عن الخطية ، والأفكار الرديئة ، وأساليب الحياة القديمة ، فترات الأصوام هي فترات تجديد لحياة الإنسان الداخلية .</span></p>
<p><span>إذا لا بد أن تراجع نفسك وتبحث عن كيفية الوصول للطريق الصحيح ، وتجدد حياتك .</span></p>
<p><span>٧<b>- مساندة الضعفاء بأية صورة :</b></span></p>
<p><span>شكل الخدمة لا يقتصر على الخدمة الدينية التقليدية فقط ، وإنما نجدها في مساندة الضعفاء بكل فئاتهم (صغار  كبار أصحاء  مرضى  من المقربين إليك  غير المعروفين بالنسبة لك &#8230;).  </span></p>
<p><span>مساندة الضعفاء لها بركة كبيرة ، فهي وسيلة تنعكس على تجديد حياتك ، ولذلك قال السيد المسيح : &#8221; لأني جعت فأطعمتموني. عطشت فسقيتموني . كنت غريباً فاويتموني . عرياناً فكسوئموني . مريضاً فزرتموني . محبوساً فأتيتم إلي. فيجيبه الأبرار حينئذ قائلين : يارب ، متى رأيناك جائعاً فأطعمناك ، أو عطشاناً فسقيناك ؟ ومتى رأيناك غريباً فآويناك ، أو عريانا فكسوناك ؟ ومتى رأيناك مريضاً أو محبوساً فأتينا إليك ؟ فيجيب الملك ويقول لهم : الحق أقول لكم : بما أنكم فعلتموه بأحد إخوتي هؤلاء الأصاغر، فبي فعلتُم &#8221; (مت ٢٥ :٣٥ - ٤٠).</span></p>
<p><span>من يخدم هؤلاء الضعفاء ينتعش روحياً ، وكأن هناك نوعاً من التجديد ساري فيه التعليم او في الكنيسة أو في الحياة اليومية. </span></p>
<p><span>وأنت تجدد حياتك لا بد أن تنتبه إلى : </span></p>
<p><span>(<b>۱) روح الاتضاع :</b></span></p>
<p><span>لن يحدث التجديد إذا كنت تنظر لنفسك باستمرار ، أو كنت تتباهى بخدمتك ومكانتك وعملك ؛ لأنك بهذا تنظر إلى الوراء ، اتضاعك يساعدك على تجديد حياتك باستمرار .</span></p>
<p><b><span>(۲) قيمة الوقت :</span></b></p>
<p><span>لا تقل أنا شاب صغير والحياة أمامي بطولها وعرضها ؛ لأن التجديد مطلوب باستمرار ، وما تفعله اليوم سوف تكرره غداً ، وهذا سيكون جزءاً من حياتك اليومية .</span></p>
<p><span>نيقوديموس هذا الشيخ الكبير الذي كان رئيساً لليهود جاء للمسيح ليلا وتقابل معه ، وكان حوار المسيح معه عن الميلاد الجديد ، والمعمودية التي هي الولادة الجديدة ، ودائما نقول بحسب تعبيرات الآباء : &#8221; إن الإنسان الذي يولد مرة واحدة  الولادة الجسدية  يموت مرتين، مرة على الأرض ومرة في السماء ، لكن الذي يولد مرتين  الولادة الجسدية والولادة الروحية  يموت مرة واحدة، عندما يترك هذه الأرض ويكون له نصيب في السماء &#8220;.</span></p>
<p><span>وأعتقد أن نيقوديموس بعدما فهم واستوعب كيفية تجديد حياته رأيناه وقت الصلب يقف ويظهر ذاته ويطالب بجسد السيد المسيح ، ويعلن إيمانه بالتجديد بعد أن كان بهذه الصورة القديمة . فليعطنا مسيحنا أن تكون حياتنا بها التجديد المستمر على الدوام . </span>لإلهنا كل مجد وكرامة من الآن وإلى الأبد . أمين . <a href="#_ftn1" name="_ftnref1">[4]</a></p>
<h4>نيقوديموس والولادة الجديدة - المتنيح أنبا أثناسيوس مطران بني سويف والبهنسا<a href="#_ftn4" name="_ftnref4">[5]</a></h4>
<p><strong>الرد</strong> <strong>الغريب</strong>: (3: ١-٨)</p>
<p>جاء رجل اسمه نيقوديموس أحد رؤساء اليهود فریسي وعضو في مجمع السنهدريم بدليل كونه أحدهم حين اجتمعوا وطلبوا أن يمسكوا الرب وجلسوا يستمعون لتقرير الخدام عنه، وهو الذي اعترض على الحكم عليه غيابيا (يو7: 45- 53) .</p>
<p>جاء هذا الرجل ليلاً ودار بينهما حديث يشبه مایلي:</p>
<p>نيقوديموس: (بروح التقدير القلبي) يا مُعَلِّمُ، نَعلَمُ أنَّكَ قد أتيتَ مِنَ اللهِ مُعَلِّمًا. هذا أمر أكيد ونؤمن به قلبياً.</p>
<p>الرب يسوع: وكيف عرفت هذا؟.</p>
<p>نيقوديموس: بدليل الآيات المجيدة التي تجرى على يديك المبارکتين في كل مكان، انك لست مثل باقي الناس، أني أعترف أن الله معك، وانك تمثل ملكوت الله بقوة.</p>
<p>الرب: &#8220;الحَقَّ الحَقَّ أقولُ لكَ: إنْ كانَ أحَدٌ لا يولَدُ مِنْ فوقُ لا يَقدِرُ أنْ يَرَى ملكوتَ اللهِ&#8221; (يو3: 3).</p>
<p>نيقوديموس: ما معنى أن يولد الإنسان من فوق؟.</p>
<p>الرب: ولادة جديدة روحية.</p>
<p>نيقوديموس: إن القديس يوحنا المعمدان يغسلنا في نهر الأردن بعد أن نعترف بخطايانا، ينزل الإنسان إلى الماء ويغطس تماماً ثم يصعد.</p>
<p>الرب: هذه المعمودية مجرد رمز، لأنها تغسل من الخارج، لكنني أتكلم عن ولادة جديدة كاملة بالروح.</p>
<p>نيقوديموس: وكيف تكون؟ هل يُمكِنُ للإنسانَ وهو شَيخٌ أنْ يَدخُلَ بَطنَ أُمِّهِ ثانيَةً ويولَدَ؟.</p>
<p>الرب: لا زلت تتكلم جسدياً، وعن الولادة الجسدية، &#8220;المَوْلودُ مِنَ الجَسَدِ جَسَدٌ هو، والمَوْلودُ مِنَ الرّوحِ هو روحٌ، لا تتعَجَّبْ أنِّي قُلتُ لكَ: يَنبَغي أنْ تولَدوا مِنْ فوقُ. الرِّيحُ تهُبُّ حَيثُ تشاءُ، وتسمَعُ صوتها، لكنكَ لا تعلَمُ مِنْ أين تأتي ولا إلَى أين تذهَبُ. هكذا كُلُّ مَنْ وُلِدَ مِنَ الرّوحِ&#8221; (يو3: 6- 8).</p>
<p>نيقوديموس: وماهو العمل الذي به تتم هذه الولادة، وماهي الوسيلة يا مُعلِّم؟ أخبرني فكلامك يلهب قلبي.</p>
<p>الرب: الحَقَّ الحَقَّ أقولُ لكَ: إنْ كانَ أحَدٌ لا يولَدُ مِنَ الماءِ والرّوحِ لا يَقدِرُ أنْ يَدخُلَ ملكوتَ اللهِ. إن دخول الإنسان إلى الحياة الأرضية هو بالولادة الجسدية ودخوله إلى حياة الملكوت بالولادة الروحية.</p>
<p>دهش الرجل نيقوديموس الذي جاء ليسأل المعلم الجديد عن شخصه ورسالته، هل هو إيليا أم المسيا الذي يخلص من سلطة الرومان، واذا به يسمع كلاماً يلهب قلبه، فليس هذا مُعلِّماً مثل أحد الكتبة، بل شخصا من نوع آخر وله قوة كبيرة على النفس، ويتكلم عن تغيير الطبيعة البشرية كلها وليس تعديل سلوكها كما يفهم جميع الناس.</p>
<p><strong>الإيمان بالفادی</strong>: (٣ : ٩ -۲۱)</p>
<p>ولكن بعد أن تأمل برهة في شخص الذي هو أمامه وكلامه العجيب وأخذت خلجات نفسه تهدأ، بدأ يرى شعاع نور إلهي حقاً يدخل إليه،</p>
<p>فسأل المعلم كيف يمكن أن يكون هذا التجديد؟.</p>
<p>نظر إليه السيد نظرة عطف ومحبة شديدة، ولكنه سأله بدوره: كيف أنه هو معلم في اسرائيل ولايعرف الولادة الروحية؟!.. (يو3: 10)</p>
<p>ثم طفق يستعيد معه أقوالاً كثيرة مبتدءاً من ستر آدم وحواء في جلد ذبيحة، إلى الإشارة إلى فلك نوح وكيف خلص الذين بداخله، إلى الدم المرشوش على الأبواب الذي به خلص أهل البيت من الهلاك، إلى عبور البحر الأحمر، إلى غير ذلك كثير.</p>
<p>ونيقوديموس يحس أن الكلام يشمل الحياة كلها، ويحاول أن يحلله إلى خطوط فكرية متميزة فيخيل إليه أنه يرى خطاً من الدم في صورة الذبائح، ووعاء من الماء يحوي البشرية كلها، وكأنه يرى الحياة الأولى وقد بزغت بعد أن كان روح الله يرف على وجه المياه، أو قل تصور الجنين في بطن أمه محمولاً داخل کیس مملوء بماء وعروق الدم والحياة تأتیه من جسد الأم.</p>
<p>سبح نيقوديموس في الخيال وغاص في لجة بحر الحياة الذي ألمح اليه المعلم الإلهي.</p>
<p>ثم تقدم السيد واستعاد معه بعض أجزاء من الكتاب يحفظها نيقوديموس عن ظهر قلب، ولكنها بدأت تشع نوراً من عمق القلب مثل قوله: &#8220;وأرُشُّ علَيكُمْ ماءً طاهِرًا فتُطَهَّرونَ. مِنْ كُلِّ نَجاسَتِكُمْ ومِنْ كُلِّ أصنامِكُمْ أُطَهِّرُكُمْ. وأُعطيكُمْ قَلبًا جديدًا، وأجعَلُ روحًا جديدَةً في داخِلِكُمْ، وأنزِعُ قَلبَ الحَجَرِ مِنْ لَحمِكُمْ وأُعطيكُمْ قَلبَ لَحمٍ. وأجعَلُ روحي في داخِلِكُمْ، وأجعَلُكُمْ تسلُكونَ في فرائضي، وتحفَظونَ أحكامي وتعمَلونَ بها&#8221; (حز٣٦: 25-٢7).</p>
<p>وقوله: &#8220;ويكونُ بَعدَ ذلكَ أنِّي أسكُبُ روحي علَى كُلِّ بَشَرٍ، فيتنَبّأُ بَنوكُمْ وبَناتُكُمْ، ويَحلَمُ شُيوخُكُمْ أحلامًا، ويَرَى شَبابُكُمْ رؤًى. وعلَى العَبيدِ أيضًا وعلَى الإماءِ أسكُبُ روحي في تِلكَ الأيّامِ، وأُعطي عَجائبَ في السماءِ والأرضِ، دَمًا ونارًا وأعمِدَةَ دُخانٍ. تتحَوَّلُ الشَّمسُ إلَى ظُلمَةٍ، والقَمَرُ إلَى دَمٍ &#8230;.. ويكونُ أنَّ كُلَّ مَنْ يَدعو باسمِ الرَّبِّ يَنجو&#8221; (یؤ۲: ۲۸-۳۲).</p>
<p>فقال نيقوديموس للرب بقلب منسحق: أنك یاسیدی تعطي للشريعة وجهاً إلهياً ما كنا ندركه، وترفع البشرية من الأرض إلى السماء.</p>
<p>فرد عليه الرب: &#8220;الحَقَّ الحَقَّ أقولُ لكَ: إنَّنا إنَّما نتكلَّمُ بما نَعلَمُ ونَشهَدُ بما رأينا، ولستُمْ تقبَلونَ شَهادَتَنا. إنْ كُنتُ قُلتُ لكُمُ الأرضيّاتِ ولستُمْ تؤمِنونَ، فكيفَ تؤمِنونَ إنْ قُلتُ لكُمُ السماويّاتِ؟&#8221; (يو3: 11، 12).</p>
<p>ولما رأى نيقوديموس مندهشا وكأن عينيه تقولان: هل كل هذا في الأرضيات!!، قال له: السمویات يعسر عليكم رؤيتها وأنتم في الجسد، السماء تعلن نفسها لكم في حالة تَقرُبْ من فهمكم. وبذا تُغَّيرَكُم لأنها هي التي تنزل اليكم &#8220;وليس أحَدٌ صَعِدَ إلَى السماءِ إلا الذي نَزَلَ مِنَ السماءِ، ابنُ الإنسانِ الذي هو في السماءِ&#8221; (يو۱۳:۳).</p>
<p>ولعل نيقوديموس هنا وقع على الأرض قدام الرب ساجداً عند قدميه معلناً إيمانه به، كما أعلنه نثنائیل سابقاً: &#8220;يامُعَلِّمُ، أنتَ ابنُ اللهِ! أنتَ مَلِكُ إسرائيلَ!&#8221; (يو١: ٤٩) .</p>
<p>ولعله حين رفع رأسه ليرى الرب يسوع بعينيه وجد الرب فاتحاً ذراعيه مادا أياهما فوقه والمجد العظيم يشع منه كله فانسحق قائلاً: أنك أنت المسيا، أنت المخلص، أنت حَمَلُ اللهِ الذي يَرفَعُ خَطيَّةَ العالَمِ، كما قال عنك القديس يوحنا المعمدان (یو 1: 2۹). &#8220;وكما رَفَعَ موسَى الحَيَّةَ في البَرِّيَّةِ هكذا يَنبَغي أنْ يُرفَعَ ابنُ الإنسانِ، لكَيْ لا يَهلِكَ كُلُّ مَنْ يؤمِنُ بهِ بل تكونُ لهُ الحياةُ الأبديَّةُ&#8221; (يو3: 14).</p>
<p>واستمر حديث الرب إلى نيقوديموس فبين له كيف أنه ابن الله وجاء الى العالم ليفديه، &#8220;لأنَّهُ هكذا أحَبَّ اللهُ العالَمَ حتَّى بَذَلَ ابنَهُ الوَحيدَ، لكَيْ لا يَهلِكَ كُلُّ مَنْ يؤمِنُ بهِ، بل تكونُ لهُ الحياةُ الأبديَّةُ&#8221; (يو3: 16) وكيف أنه النور الحقيقي الذي أوجد العالم، ومصدر البر، وكيف أنه لا ينبغي لنيقوديموس أن يستكثر عليه حمل الصليب &#8220;لأنَّهُ لم يُرسِلِ اللهُ ابنَهُ إلَى العالَمِ ليَدينَ العالَمَ، بل ليَخلُصَ بهِ العالَمُ &#8221; (يو3: 17).</p>
<p>جاء نيقوديموس هنا أول الأمر متسائلاً. ولكننا نراه وسط المجمع في الإصحاح السابع مدافعاً عن الرب يسوع (يو٧: ٥٠-٥١) وينتهي به الأمر تلميذاً شجاعاً ومؤمناً مجاهراً، حين تقدم ليأخذ جسد يسوع من على الصليب في وقت إختفى فيه غالبية التلاميذ (يو1۹: 3۹) وهو الذي جاء إلى يسوع أولاً ليلاً تقدم وأخذه في النهار قبل أن يأتي المساء.</p>
<p>كان نيقوديموس مخلصاً في طريقه فرأی وآمن وخلص. وحری بنا جميعاً أن نكون مخلصين في إيماننا لننمو في النور والمعرفة &#8220;لأنَّ كُلَّ مَنْ يَعمَلُ السَّيِّآتِ يُبغِضُ النّورَ، ولا يأتي إلَى النّورِ لِئلا توَبَّخَ أعمالُهُ. وأمّا مَنْ يَفعَلُ الحَقَّ فيُقبِلُ إلَى النّورِ، لكَيْ تظهَرَ أعمالُهُ أنَّها باللهِ مَعمولَةٌ&#8221; (يو3: 21).</p>
<hr />
<h3>المراجع</h3>
<p><a href="#_ftnref1" name="_ftn1">[1]</a><sup>- </sup><sup>تفسير رسالة أفسس ١: ١٨ ، ١٩ - القمص تادرس يعقوب ملطي.</sup></p>
<p><a href="#_ftnref2" name="_ftn2">[2]</a><sup>- </sup><sup>شرح انجيل يوحنا للقديس كيرلس الأسكندري - المجلد الاول - صفحة ١٨٣ - ترجمة الدكتور نصحي عبد الشهيد.</sup></p>
<p><a href="#_ftnref3" name="_ftn3">[3]</a><sup>- </sup><sup>رسائل أثناسيوس الرسولي عن الروح القدس - صفحة ٧٧ -  تعريب القس مرقس داود.</sup></p>
<p><a href="#_ftnref1" name="_ftn1">[4]</a> - اختبرني يا الله صفحة ٣٣١ - قداسة البابا تواضروس الثاني</p>
<p><a href="#_ftnref4" name="_ftn4">[5]</a> <sup>- دراسات في الكتاب المقدس – انجيل يوحنا – الاصحاح الثالث ص130 – انبا أثناسيوس مطران بني سويف والبهنسا.</sup></p>

      {% endcreateArticleAccordions %}
    </section>
  {% endblock %}
