---
layout: 'layouts/reading.html'
title: 'يوم السبت من الاسبوع السادس (سبت الصراخ والصلاة)'
tags: 'great-lent'
permalink: /articles/great-lent/6-6.html
---
  {% block content %}
    <section id="readings">
      <ul>
      {% if 'undefined' != 'undefined' %}
      
      {% else %}
      {% if 'null' != 'null' %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">العشية</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeVespers '' '' %}
          </div>
        </div>
      </li>
      {% endif %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">باكر</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeMatins '19.79:8-9' '40.9:1-8' '' %}
          </div>
        </div>
      </li>
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <h3 class="flex items-center justify-between">
            <span class="kufi">القداس</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </h3>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeLitugy '49.4:1-7' '60.1:13-21' '44.27:9-26' '19.32:1-2' '41.10:46-52' %}
          </div>
        </div>
      </li>

      {% endif %}
        </ul>
    </section>
    <section id="article">
      <h3 class="mt-8 mb-4 heading-explain">شرح القراءات</h3>
      {% createArticleAccordions %}
        <p><strong>&#8220;يُسَلِّمُ عَلَيْكُمْ أَبَفْرَاسُ، الَّذِي هُوَ مِنْكُمْ، عَبْدٌ لِلْمَسِيحِ، مُجَاهِدٌ كُلَّ حِينٍ لأَجْلِكُمْ بِالصَّلَوَاتِ، لِكَيْ تَثْبُتُوا كَامِلِينَ وَمُمْتَلِئِينَ فِي كُلِّ مَشِيئَةِ اللهِ.&#8221; (كو ٤: ١٢)</strong></p>
<p>[إذا أخبروا به تفرح قلوبهم وتزهر أجسادهم إذا نطقوا به تستنير عقولهم وترتفع إلى العلاء قلوبهم] (إبصالية الثلاثاء)</p>
<p>[ذاك الذي فداك يظهر لك ما يريده منك أن تفعله؛ يريدك في صلاة دائمة؛ يودك أن تتأمل في قلبك البركات التي تصلي من أجلها؛ يريدك أن تسأله فتنال صلاحه الذي يشتاق أن يهبه لك] (القديس يوحنا ذهبي الفم)<a href="#_ftn1" name="_ftnref1">[1]</a></p>
<h3>شواهد القراءات</h3>
<p>(مز٧٨: ٧-٨) ، (مت٩: ١- ٨)، (اف٤: ١- ٧)، (١بط ١: ١٣- ٢١)،</p>
<p>(أع٢٧: ٩- ٢٦<strong>) ،</strong>(مر١٠: ٤٦- ٥٢). (مز١:٣١-٢)</p>
<h3>شرح القراءات</h3>
<p><strong>تتكلّم قراءات هذا اليوم</strong> عن صراخ طلب النعمة والإحتياج الشديد للإستنارة كمدخل لقراءات أحد المولود أعمى <strong>(الإستنارة وإستعلان ملكوت ابن الله)</strong> فلا يمكن أن توجد إستنارة كعطيّة إلهيّة دون أن يسبقها ويلازمها صراخ الصلاة والإحتياج لحضور الله ومُلْكُه علي النفس دائماً.</p>
<p><strong>لذلك تتركّز كل قراءات السبت</strong> علي الصراخ، والإحتياج الشديد، وما هو الإستعداد اللائق والجو الذي يُسْتَعلن فيه ملكوت الله وسرّ تدبيره الإلهي.</p>
<p>يبدأ مزمور عشيّة بإعتراف النفس البشريّة بفقرها الشديد وإحتياجها لرأفات الله ومراحمه الإلهية.</p>
<p>&#8220;فلتدركنا رأفاتك لأننا قد افتقرنا جداً&#8221;</p>
<p>ويعلن إنجيل باكر مجد وسموّ النعمة (نعمة غفران الخطايا) علي إحتياجات الجسد، وعندما يري الرب إيماننا يعطينا إحتياج أرواحنا حتي لو لم نطلبه أو ندركه.</p>
<p>&#8220;وإذا مخلع قدموه إليه مطروحاً علي سرير فلما رأي يسوع إيمانهم قال للمخلع ثق يابنيّ مغفورة لك خطاياك&#8221;</p>
<p><strong>ويكشف البولس</strong> عن شكل كنيسة النعمة أو المجال والوسط الذي تعمل فيه النعمة الإلهيّة. &#8220;بكل تواضع ووداعة وطول أناة محتملين بعضكم بعضاً بالمحبة ومجتهدين أن تحفظوا وحدانية الروح برباط السلام الكامل جسد واحد وروح واحد&#8221;</p>
<p>وفِي هذا الجو النقي والمملوء محبّة ووحدانية الروح تنسكب النعمة بغنى.</p>
<p>&#8220;ولكل واحد منا أعطيت النعمة علي مقدار موهبة المسيح&#8221;</p>
<p><strong>وينبّهنا الكاثوليكون</strong> لليقظة الدائمة وصحوة التوبة المستمرّة وترجّي النعمة (نعمة القداسة) التي تقدس الكيان كلّه.</p>
<p>&#8220;فلذلك منطقوا أحقاء أذهانكم صاحين بالكمال راجين النعمة التي سيؤتي بها إليكم عند استعلان يسوع المسيح كأولاد الطاعة لا تشاكلوا شهواتكم السابقة في جهالتكم بل نظير القدّوس الذي دعاكم كونوا أنتم أيضاً قديسين في كل سيرة&#8221;.</p>
<p><strong>بينما يكشف الإبركسيس</strong> عن التدخّل الإلهي وقت فقدان كل رجاء وبطلان كل الحلول البشرية ونعمة النجاة من الموت.</p>
<p>&#8220;وفي الغد اشتدت علينا الزوبعة فطفقوا يلقون الوسق وفى اليوم الثالث ألقوا بأيديهم أدوات السفينة وإذ لم تظهر الشمس والنجوم أياماً كثيرة وكان تغيير ليس بقليل فمنذ ذلك انتزع منا كل رجاء في نجاتنا&#8221;.</p>
<p><strong>كما يكشف أيضاً</strong> عن أن نعمة النجاة من خطر الموت تشمل أيضاً غير المؤمنين من أجل أولاده.</p>
<p>&#8220;والآن فأنا أيضاً أضرع اليكم أن تطيلوا أناتكم لأن نفساً واحدة منكم لا تهلك ما خلا السفينة لأنه قد وقف بي في هذه الليلة ملاك الله الذي أنا له واياه أعبد قائلاً: لا تخف يا بولس فانك يجب أن تقف أمام الملك وهوذا قد وهبك الله جميع المسافرين معك&#8221;.</p>
<p><strong>ويطوّب مزمور القداس</strong> النفوس التي نالت الغفران الإلهي في نعمة العهد الجديد.</p>
<p>&#8220;طوباهم الذين تركت لهم أثامهم والذين سترت خطاياهم&#8221;.</p>
<p><strong>ويختم إنجيل القداس</strong> بحالة البشرية بدون النعمة &#8220;جالساً علي الطريق يستعطي&#8221; ووقت إفتقاد ابن الله وزيارات نعمته &#8220;فلما سمع أنه يسوع الناصري&#8221;.</p>
<p><strong>وصراخ النفس العطشانة</strong> لنور النعمة &#8220;طفق يصرخ قائلاً يا يسوع ابن داود ارحمني، فزجره كثيرون ليسكت فكان بالحري يزداد صراخاً&#8221;</p>
<p><strong>وإستجابة السماء</strong> لعاشقي الصراخ وإصرار الطلب لأجل الإستنارة.</p>
<p>&#8220;فوقف يسوع وقال ادعوه&#8221;.</p>
<p><strong>وإحتياج النفس الدائم</strong> لتعيش في نور ابن الله.</p>
<p>&#8220;تشدد وانهض وتعال فانه يدعوك فطرح ردائه ونهض وجاء إلي يسوع &#8230; فلوقته أبصر وتبعه في الطريق&#8221;.</p>
<h3>ملخّص القراءات (طريق ومداخل الإستنارة)</h3>
<table width="503">
<tbody>
<tr>
<td width="91">مزمور باكر</td>
<td width="412">صراخ الإحتياج الشديد.</td>
</tr>
<tr>
<td width="91">إنجيل باكر</td>
<td width="412">الإيمان الذي يقود لعطايا الروح ويشفع للآخرين.</td>
</tr>
<tr>
<td width="91">البولس</td>
<td width="412">وحدانية الروح ونقاء المحبّة ورباط السلام أساسيات الإستنارة</td>
</tr>
<tr>
<td width="91">الكاثوليكون</td>
<td width="412">التوبة الدائمة وتقديس الكيان هما ما يضمن دوام الإستنارة.</td>
</tr>
<tr>
<td width="91">الإبركسيس</td>
<td width="412">إستنارة الخادم لأجل نجاة الآخرين.</td>
</tr>
<tr>
<td width="91">مزمور القدّاس</td>
<td width="412">غفران خطايانا هو مجد نوره الإلهي فينا.</td>
</tr>
<tr>
<td width="91">إنجيل القدّاس</td>
<td width="412">زيارات النعمة تتلازم مع صراخ الإحتياج وطرح ما يعوقنا والتبعية الدائمة له.</td>
</tr>
</tbody>
</table>
<h3>الكنيسة في قراءات اليوم</h3>
<table width="503">
<tbody>
<tr>
<td width="91">البولس</td>
<td width="412">المعمودية الواحدة والجسد الواحد وإجتهاد الحياة.</td>
</tr>
<tr>
<td width="91">الكاثوليكون</td>
<td width="412">حياة التوبة والقداسة ومخافة الله.</td>
</tr>
<tr>
<td width="91">الإبركسيس</td>
<td width="412">الصوم.</td>
</tr>
</tbody>
</table>
<h3>عظات ابائية وعظات اباء وخدام معاصرون</h3>
<p>يمكن الرجوع لعظات يوم الخميس من الاسبوع الرابع</p>
<p>بالاضافة لعظة اخري اليوم لقداسة البابا تواضروس</p>
<h4><span>يوم السبت من الأسبوع السادس لقداسة البابا تواضروس </span></h4>
<p><b><span>(مر١٠ : ٤٦ – ٥٢) </span></b></p>
<p><b><span>ماذا تريد أن أفعل بك ؟</span></b></p>
<p><span>السؤال وسيلة لتقييم الإنسان ، سواء تقييم معرفته واتجاهه أو طريقته في الحياة ، كما أن السؤال يلفت نظرك لشيء قد يكون مخفى عنك . فقرة إنجيل اليوم &#8221; السبت السادس &#8221; من الصوم الكبير الذي يسبق &#8221; أحد التناصير &#8221; يطرح سؤالا واضحا جدا ، وهو سؤال سأله السيد المسيح لهذا الرجل الأعمى قائلا له : &#8221; ماذا تُريد أن أفعل بك ؟&#8221;، والسؤال بهذه الصورة يشرح لنا حياتنا وما فيها . بدأت القصة من بلدة مشهورة اسمها &#8221; أريحا &#8220;، وهي بلدة صغيرة على بعد حوالي ٣٠ كم من أورشليم ، وهذه المدينة لها تاريخ كبير في العهد القديم ( سقوط أسوار أريحا ). تلك المعجزة تعتبر المعجزة الوحيدة التي ذكر فيها اسم الشخص صاحب المعجزة ، فمثلا معجزة المولود أعمى أو معجزة شفاء المخلع لا نعرف أسماء الأشخاص التي تمت لهم المعجزة، ولكن هنا كلمة الله ذكرت اسم هذا الرجل &#8221; بارتيماوس ابن تيماوس &#8220;، وهذا الرجل ولد أعمى في زمن لم يكن فيه رعاية صحية ، وكان لا يعمل فيقول عنه الكتاب إنه كان : &#8221; جالساً على الطريق يستعطي &#8221; (مر ١٠ :٤٦).</span></p>
<p><span>هذه المعجزة تمت قبل الصليب مباشرة ، والقصة نفسها تمهيد ليوم الأحد &#8221; شفاء المولود أعمى &#8220;.</span></p>
<p><span>بارتيماوس كان جالساً يستعطي معتمداً على أذنه ، فكان يسمع ضجيج الناس الآتين ، وبدأ يسأل : &#8221; من الآتي ؟&#8221;، قالوا له : &#8221; يسوع الناصري &#8220;، وبالرغم من أنه لم ير يسوع من قبل ، ولا يعرفه إلا أنه بدأ يصرخ : &#8221; يا ابن داود ارحمني &#8221; (مر١٠ : ٤٨)، صرخة من أربعة كلمات لكن لها معان كبيرة جدا ، فانتهره التلاميذ قائلين : &#8221; اسكت &#8221; ؛ انتهروه لأن في الفكر اليهودي كان هناك ارتباط بين الخطية والمرض ، فإذا كان المرض شديدا فهذا بسبب خطية شديدة ، وإن كان المرض خفيفاً فالخطية تكون صغيرة ، ولذلك هذا الشخص الأعمى تكون خطيته كبيرة ، لهذا يقول الكتاب : &#8221;  فانتهره كثيرون ليسكت فصرخ أكثر كثيراً : يا ابن داود ارحمنى &#8221; (مز ١٠: ٤٨) . </span></p>
<p><span>تصور معي هذا المشهد . في واقع الحال نجد ضجيج الناس والازدحام وبارتيماوس يستمر في الصراخ ، بينما يوجد أناس آخرون يتحدثون مع يسوع ، ومنهم من يتناقشون سوياً ، لكن المسيح سمع هذا الصراخ وسط عشرات بل مئات وألوف تمشي حوله ، يقول الكتاب : &#8221; فوقف يسوع وأمر أن ينادي . فنادوا الأعمى قائلين له ثق قم هوذا يناديك &#8221; (مر١٠ : ٤٩). </span></p>
<p><span>أرجوك لا بد أن تنتبه من أن صراخ هذا الرجل بالرغم من ضجيج الجماهير والجموع الكثيرة السائرة وراء المسيح ، سمعه يسوع . هذا الرجل يمثل كل إنسان منا ، ونحن سائرون في زحمة هذه الحياة . لقد علمنا بارتيماوس عدة دروس تفيدنا مسيرتنا الروحية :</span></p>
<p><b><span>(۱) اللجاجة في الصلاة :</span></b></p>
<p><span>اللجاجة هي تكرار الطلبة والصلاة  بإيمان وثقة ، ليست هي مجرد تكرار من الشفتين أو مجرد كلام يقال ، لكن تكرارها يكون من القلب وبعمق ، فنجد برتيماوس يصرخ : &#8221; يا يسوع ابن داود ارحمني &#8220;، وقد ذكر الكتاب أنه كررها مرتين ، ولكن من الضروري أنها كانت عدة مرات ، وهذا معناه أن أول خطوة في مسيرتك الروحية مع المسيح أن تُعمق الطلبة ، بمعنى أن تكون من داخل قلبك ، وهذا الصراخ المستمر يعبر عن شدة الاحتياج ، وهذا هو معنى الصلاة الذي يجب أن يصل لنا كلنا ، بمعنى أننا عندما تصلي نستخدم اللجاجة ، فهذا تعبير عن شدة احتياجي وأنه ليس لي ملجأ غيرك أنت يارب . </span></p>
<p><b><span>(۲) رغبة عدو الخير أن يحرمنا من المسيح :</span></b></p>
<p><span>انتهار الناس لبرتيماوس أن يسكت هو عمل الشيطان معنا ، فعندما تصلي يبدأ الشيطان في حربه الروحية مع الإنسان وينتهره ليسكت ، قد تتذكروا معي معجزة المجنون الأعمى والأخرس عندما جاء المسيح شفاه ، حتى أن الأعمى الأخرس تكلم وأبصر وأصبح المجنون عاقلا ، هذه المعجزة قد ذكرت في سطر واحد في الإنجيل (مت ۱۲ : ۲۲)، ولكنها تبين أن الخطية تحرم الإنسان من النظر إلى الله والكلام معه ، واستخدام العقل في التفكير فيه ؛ ولأن فعل الخطية ثلاثي فنفهم أنه ليس شيطان واحد ولكن مجموعة شياطين تُريد أن تحرم الإنسان من أن يرى المسيح ويقابله ، وينسى الصلاة ويهملها ، ولا يصل صوته للسيد المسيح ، فيقول الكتاب فانتهره كثيرون ، ولاحظ أن المسيح سمع صوته من وسط ضجيج وازدحام الجموع ، وهذا يعني أن صلواتك البسيطة القصيرة المحدودة الكلمات يستجيب لها الله من بين ألوف .</span></p>
<p><b><span>(۳) طرح الرداء :</span></b></p>
<p><span>أمر السيد المسيح بأن ينادوا الأعمى ، فيقول عنه الكتاب : &#8221; إنه طرح رداءه وقام &#8220;، لقد طرح ملابسه الخارجية حتى لا تكون معطلة له في السير ، فهو طرح أي شيء يعوقه عن الوصول للمسيح . بارتيماوس طرح الرداء ، أي طرح أية مشغولية أو أي تعطيل أو أي شيء يعوقه وقام ووقف أمام المسيح ، فسأله المسيح السؤال الخطير : &#8221; ماذا تُريد أن أفعل بك ؟&#8221;، وهي تساوي السؤال الذي سأله للمفلوج : &#8221; أتريد أن تبرأ  ؟&#8221; وهنا يدل على احترام المسيح لإرادة الإنسان .</span></p>
<p><b><span>(٤) حضور إرادة الإنسان :</span></b></p>
<p><span>رغبة الإنسان ونيته واحتياجه يحترمها المسيح ، فهو يحترم إرادة الإنسان حيث قال للأعمى : &#8221; ماذا تُريد أن أفعل بك ؟&#8221;، لم يقل له الأعمى : &#8221; أريد بعض من المال &#8220;، فهذا طلب بسيط بلا معنى ولا يعبر عن احتياج. المطروح على بركة بيت حسدا عندما ذهب له المسيح بعد ٣٨ سنة لم يسأله عن شيء سوى &#8221; أتريد أن تبرأ  ؟&#8221;. وهنا يا إخوتي الأمر الخطير في الصلاة هو حضور إرادة الإنسان واحتياجه الذي لا يمكن أن يسدده إلا المسيح . قال أحد الآباء : &#8221; يلزمنا أن نعمل ما نستطيع ، فيعمل هو معنا ما لا نستطيع  &#8220;، وقال البابا شنودة عبارة هامة : &#8221; إن توفرت النية يعطى الله الإمكانية &#8221; . </span></p>
<p><b><span>+ صفات بارتيماوس الأعمى :</span></b></p>
<p><span>١<b>- يمتلك أذن حساسة لمجيء المسيح :</b></span></p>
<p><span>أول صفة كانت واضحة فيه وجميلة ، فقد كان يملك أذن حساسة لمجيء المسيح ، فاستطاع أن ينتبه ويميز الصوت ، فعندما سمع صوت الجموع وعرف أن القادم هو شخص ربنا يسوع المسيح، صرخ : &#8221; يا يسوع ابن داود ارحمني &#8220;.</span></p>
<p><span>۲<b> الإلحاح الشديد :</b></span></p>
<p><span>وهو ما نسميه الاستمرار وسط الانتهار، فقد كان يزداد صياحاً ولا توجد قوة توقفه عن ذهابه للمسيح ، فقد كان ملح على توصيل صوته للسيد المسيح ولم يسمحلأحد أراد أن يسكت صوته . عدو الخير يريد أن يحرمك من السماء بأية صورة ، وبأي فكر يتعبك ويسيطر عليك ، فلا تتغير واعرف أن الاستمرار والحياة الواضحة مع المسيح لها ثمارها ولها نتيجتها ولها استجابتها ، وفي النهاية ينال الإنسان مبتغاه ويصبح إنساناً مبصراً ورائعفي حياته.</span></p>
<p><span>۳<b> طرح الرداء :</b></span></p>
<p><span>معنى طرح رداءه أي سرعة التجائه للمسيح أو إصراره على التوبة ، وهذا يعني سرعة التوجه للمسيح ، فكان لديه حركة وسرعة ، ويمكن أن نسميها &#8221; سرعة التوبة &#8220;، فهو يتقدم للمسيح ولا يسمح لأي شيء أن يعطله أو يعوق وجوده بقرب المسيح ، فاطلب التوبة والرحمة على الدوام ، واصرخ إلى الله باستمرار فتكون النتيجة أن تبصر وتتبع المسيح في الطريق .</span></p>
<p><span>٤<b>- اقتناص الفرصة :</b></span></p>
<p><span>أرجوكم أن تتعلموا هذه الصفة ، فإذا نظرنا إلى حياة الإنسان نجدها عبارة عن عدة فرص ، وهناك مثل يقول : &#8221; إن الفرصة لا تأتي مرتين &#8220;، فإذا جاءت لك الفرصة لا تضيعها منك . بارتيماوس كانت لديه براعة في اقتناص الفرصة ، وممكن أن نسميها &#8221; فرصة العمر &#8220;، فتخيل لو كان صرخ مرة وسكت ، لا كان المسيح سمع حكايته ، ولا كان فيه معجزة ، ولا كان أبصر ، ولا تبع المسيح ، وكان سيخسر خسارة كبيرة جداً .</span></p>
<p><span>اقتنص الفرصة الروحية ، بمعنى إذا وقع في يدك كتاباً صغيراً اقرأه ، إذا جاءت لك زيارة نعمة قف وصل . بدأت قراءة إنجيلك لا تؤخر مرة أخرى واقرأ كل يوم ، إذا جاءت فرصة أمامك بمقابلة أب اعترافك ولديه متسع من الوقت لا تُضيع هذه الفرصة ، إذا جاءت لك فرصة أنك تتقدم للتناول في كنيستك أو فرصة لزيارة دير لا تضيع هذه الفرصة ، إذا جاءت فرصة لتسمع كلمة روحية لا تتردد ، إن الحياة فرص .</span></p>
<p><span><strong>٥</strong><b>- عمق الإيمان :</b></span></p>
<p><span>يتمثل عمق الإيمان في تحديد الطلب ، فبلا شك كان عنده إيمان قوي ، وهذا الإيمان القوي كان السبب المباشر لشفائه ، حيث قال له السيد المسيح : &#8221; اذهب. إيمائك قد شفاك &#8221; (مر ١٠ : ٥٢)، مثل المرأة الكنعانية قال لها المسيح : &#8221; يا امرأة عظيم إيمانُك &#8221; (مت ١٥: ٢٨).</span></p>
<p><span>بارتيماوس كان إيمانه عاملا فولد داخله عمقاً قوياً ، والجميل في الأمر أنه عندما واجه السؤال : &#8221; ماذا تريد أن أفعل بك ؟&#8221; حدد ماذا يريد. عندما تقف مصلياً أمام المسيح &#8230; ترى ما نوع طلباتك ؟ هل هي روحية أم مادية أم إنسانية أم أنانية ؟</span></p>
<p><span>لهذا يعلمنا داود النبي في أول مزامير صلاة النوم قائلا : &#8221; من الأعماق صرخت إليك يا رب &#8221; (مز ١٣٠ : ١)، والرب يعرف طلباتنا واحتياجاتنا ، لكنه يريد أن يعرف عمق إيماننا ، يقول القديس البابا كيرلس عمود الدين : &#8221; يوجد أناس كثيرون حول المسيح ، ولكن الأعمى هو الذي شعر بحضرته &#8220;. هذا يعني أن هناك كثيرون كانوا حول المسيح لكن لا توجد علاقة شخصية &#8221; الخيط الرفيع &#8220;، أو ما تسميه الإيمان العميق الذي يربط بين الطرفين ، طرف فيه الإنسان والطرف الأخر عند السيد المسيح . ربما مبصرون كثيرون حول السيد المسيح ولكن علاقتهم ضعيفة ، وربما لا توجد علاقة أصلا ، وربما الازدحام قد شغلهم ، لكن الأعمى شعر بحضرته وتمسك به في قلبه ، هذا الذى لم يستطع عيناه الجسديتان ان تراه . </span></p>
<p><span> مفارقة كبيرة أن الأعمى هو من يشعر ويمسك في المسيح رغم أن عينه الجسدية  لا ترى ، ولكنه يملك &#8221; عين قلبية &#8220;.</span></p>
<p><span>ولهذا أُريدك أن تعرف أن المسيح وبخ الكتبة والفريسيين في أصحاح الويلات قائلاً : &#8221; ويل لكم أيها الكتبة والفريسيون &#8221; (مت ۲۳ : ۱۳)؛ لأنهم كانوا مبصرين ويسيرون دائماً مع المسيح وقد شاهدوا معجزاته ولكنهم لم يصدقوا ، ولم يقل الكتاب ولم نعرف عن أحد منهم قد آمن ، وهذا ما نسميه &#8221; أعمى القلب &#8221; أي لا يرى بقلبه ، لكن بارتيماوس هو الشخص الوحيد الذي شعربالمسيح ، وهذه هي الصورة الجميلة التي تجعل هذا الإنسان المهمش والمهمل ، والذي كان يجلس على قارعة الطريق ويحكم عليه اليهود بأنه رجل خاطئ ، ولكنه كان أفضل منهم واستجاب له المسيح ، فهل أنت مثله ؟ هل تسمع صوت المسيح في أذنك أو بالحري تسمعه في قلبك ؟ ماذا تُريد أن أفعل لك؟</span></p>
<p><span>أحياناً نقف أمام المسيح متحيرين في أمور كثيرة ، فيأتي المسيح قائلاً : &#8221; ماذا تُريد أن أفعل بك ؟&#8221; وأنت بعمق إيمان تقول طلبتك ، وتكون هذه الطلبة مشفوعة بالتوبة ، فتقول : &#8221; يا رب يسوع المسيح ابن داود ارحمني &#8220;، وتكون النتيجة أنك تنال طلبتك الصادقة من قلبك الممتلئ إيماناً .</span></p>
<p><span>نصلي في القداس الكيرلسي : &#8221; يا من فتح أعين العميان ، افتح عيون قلوبنا &#8220;، وفي القداس الغريغوري نُصلي ونقول : &#8221; يا من وهبت النظر للعميان &#8220;، ويقول القديس يوحنا الذهبي الفم : &#8221; صوت المسيح هو نور الأعمى ؛ لأن كلمة الله هي النور الحقيقي &#8220;، وعندما نقرأ الإنجيل كثيرا يحوز الإنسان على ما نُسميه &#8221; الاستنارة وعين تفهم &#8220;، وهنا العين تفهم ولا تبصر . </span></p>
<p><span>٦<b>- اختار النصيب الصالح :</b></span></p>
<p><span>إن هذا الأعمى اختار النصيب الصالح ، واختار القرار الصائب ، كان من الممكن أن يصمت أو يكون قصير النفس قائلاً : &#8221; لا فائدة &#8220;، أحياناً عدو الخير يحاربنا بكلمة &#8221; هل المسيح يسمع لك ؟&#8221; &#8220;هل وسط طلبات الأبرار يستجيب لطلبتك ؟&#8221;. اعلم أن مسيحك يعرفك بالاسم &#8221; بارتيماوس &#8220;، وبالمشكلة &#8221; إنه كان أعمى &#8220;، وبالحضور &#8221; صراخه يا ابن داود ارحمني &#8220;، وهكذا نرى من تبعوا المسيح بهذه الصورة وقلبهم مملوء إيمان ، ومملوء عمق ثمر الدين ، اختبروا علاقة شخصية مع شخص المسيح من خلال التوبة ، ومن خلال طلب الرحمة ، ومن خلال الإيمان العميق . &#8220;</span></p>
<p><span> سؤال اليوم : &#8221; ماذا تُريد أن أفعل بك ؟&#8221; هو سؤال المسيح لك ، هو سؤال يوقف الإنسان أمام حياته الحقيقية ، فتخيل وأنت واقف صامتاً مصلياً تسمع هذا الصوت : &#8221; ماذا تُريد أن أفعل بك ؟&#8221;. هذا السؤال يضعنا أمام مسئوليتنا وأمام حياتنا ، ماذا تريد من المسيح ؟ وما هو شكل طلبتك من المسيح ؟ </span></p>
<p><span>لإلهنا كل المجد والكرامة من الآن وإلى الأبد . آمين .</span><a href="#_ftn1" name="_ftnref1">[٢]</a></p>
<hr />
<h3>المراجع</h3>
<p><a href="#_ftnref1" name="_ftn1">[1]</a><sup>- تفسير لوقا ١٨- القمص تادرس يعقوب ملطي.</sup></p>
<p><a href="#_ftnref1" name="_ftn1">[٢]</a> - المرجع كتاب اختبرني يا الله صفحة ٣٣٨ - قداسة البابا تواضروس الثاني</p>

      {% endcreateArticleAccordions %}
    </section>
  {% endblock %}
