---
layout: 'layouts/reading.html'
title: 'محاولة فهم مغزي إختيار الكنيسة لمزامير صوم يونان والصوم الكبير من خلال شرح القديس أثناسيوس للمزامير'
tags: 'great-lent'
permalink: /articles/great-lent/655.html
---
  {% block content %}
    <section id="article">
      <h3 class="mt-8 mb-4 heading-explain">شرح القراءات</h3>
      {% createArticleAccordions %}
        <blockquote>
<p>
<p>
<p>ملحوظة هامة : كل أقوال القديس أثناسيوس الرسولي المذكورة في هذه المقالة مأخوذة من كتاب</p>
<p>&#8221; رسالة القديس أثناسيوس الرسولي في معني المزامير &#8221; ترجمة الأستاذة إيريس حبيب المصري</p>
</blockquote>
<h4></h4>
<h4>مزامير <a href="https://katameros.bible/church-reading/%d9%82%d8%b1%d8%a7%d8%a1%d8%a7%d8%aa-%d8%b5%d9%88%d9%85-%d9%8a%d9%88%d9%86%d8%a7%d9%86/">قراءات صوم يونان</a></h4>
<p>+ يأتي مزمور عشية من مزمور ٩٥ ( ٩٤ ) ، ومزمور باكر من مزمور ١٠٣ ( ١٠٢ )</p>
<p>وهما من مزامير الاستنهاض حسب تعبير القديس أثناسيوس الرسولي وهي مزامير<br />
( ٢٩ ، ٣٣ ، ٨١ ، ٩٥ - ٩٨ ، ١٠٣ ، ١٠٤ ، ١١٤ ) - صفحة ٢٥</p>
<p>وكأنها دعوة لإيقاظ الهمم بالتوبة والرجوع إلي الله</p>
<p>+ يأتي مزمور القداس من مزمور ١٣٠ ( ١٢٩ ) وهو إحدى مزامير الاستعطاف كما قال القديس أثناسيوس الرسولي ( وهي مزامير ٣ ، ٦، ٦٩ - ٧١ ، ٧٤ ، ٧٩ ، ٨٠ ، ١٠٩ ، ١٢٣ ، ١٣٠ ، ١٣١ ) - صفحة ٢٥</p>
<p>+ كما يأتي مزمور ١٠٣ ( ١٠٢ ) مرة أخري في قراءة عشية في اليوم الثاني ، وقراءة باكر في اليوم الثالث</p>
<p>+ يأتي مزمور القداس في اليوم الثاني من مزمور ٨٥ ( ٨٤ )</p>
<p>وهو إحدي مزامير الشكر ( وهي مزامير ٨ ، ٩ ، ١٨ ، ٣٤ ، ٤٦ ، ٦٣ ، ٧٧ ، ٨٥ ، ١١٥ ، ١١٦ ، ١٢١ ، ١٢٢ ، ١٢٤ ، ١٢٦ ، ١٢٩ ، ١٤٤ ) - صفحة ٢٥ ، ٢٦</p>
<p>والعجيب هو مجئ قراءة من مزمور الشكر بعد قراءة من مزمور الإستعطاف وكأنه إستجابة الصلاة وقبول التوبة</p>
<p>+ يأتي مزمور قداس اليوم الثالث من مزمور ٣٢ ( ٣١ ) وهو إحدي مزامير الوعد بالبركة ( ١ ، ٣٢ ، ٤١ ، ١١٩ ، ١٢٨ ) - صفحة ٢٦</p>
<p>وكأنه يعبر عن إستجابة الصلاة وغفران خطايا نينوي التائبة</p>
<p>+ قراءة مزمور باكر فصح يونان من مزمور ٣٠ ( ٢٩ )</p>
<p>وهو مع مزمور ١٢٨ ( ١٢٧ ) هما مزموري شكر لله لأجل تكريس البيت ( الإنسان ) - صفحة ٢٩</p>
<p>وكأنه لسان حال أهل نينوي لأجل قبول الله لتوبتهم ونجاة بيوتهم ( نفوسهم ) ، وتدشينها للرب</p>
<p>+ مزمور قداس فصح يونان يأتي من مزمور ١١٨ ( ١١٧ )</p>
<p>وهو مع مزمور ٥٠ يعلنان افتقاد المخلص للناس وإقامته بينهم حسب تعبير القديس أثناسيوس ( صفحة ١٣ ) الذي ربط هنا بين قصة رجوع نينوي ونجاة يونان بالخلاص الذي تم في موت الرب وقيامته المقدسة</p>
<h4></h4>
<h4>مزامير الإسبوع الأول من الصوم</h4>
<p>+ تأتي مزامير <a href="https://katameros.bible/church-reading/a7ab-obwet-elab-elrefaa3/">أحد الرفاع </a>من مزامير ٤٦ ( ٤٥ ) ، ١٠٠ ( ٩٩ ) ، ٢</p>
<p>وهي مزامير شكر وإحصاء مراحم الله (مزمور عشية ) ، ومزامير بهجة وتهليل (مزمور باكر ) ، ومزامير نبوة عن التجسد والخلاص (مزمور القداس )<br />
بحسب تعبير القديس أثناسيوس الرسولي</p>
<p>صفحات ٣١ ، ٢٦ ، ٣٥ ، ١٥ ، ٢٧</p>
<p>+ يتكرر مزمور ٢٥ ( ٢٤ ) في مزمور قداس يوم الثلاثاء من الأسبوع الأول ، وقراءة أخري منه في مزمور باكر يوم الأربعاء ، وأيضاً في مزمور قداس يوم الأربعاء</p>
<p>وهو المزمور الذي يدعو فيه القديس أثناسيوس الرسولي أن نرفع أنفسنا وقت الضيق إلي الله</p>
<p>صفحة ٢٨</p>
<p>وكأنه الاحتماء في أبوة الله الآب موضوع قراءات الأسبوع الأول كله</p>
<p>+ يأتي مزمور قداس يوم الخميس من مزمور ١١٨ ( ١١٧ )</p>
<p>وهو إحدى مزامير الاعتراف ( ٩ ، ٧٥ ، ٩٢ ، ١٠٥ - ١٠٨ ، ١١١ ، ١١٨ ، ١٣٦ ، ١٣٨ ) حسب تعبير القديس أثناسيوس الرسولي - صفحة ٢٥</p>
<p>ومجيئه هنا لتوافقه مع الاعتراف بمجد الله وخلاصه</p>
<h4>مزامير الأسبوع الثاني</h4>
<p>+ تأتي مزامير <a href="https://katameros.bible/church-reading/%d8%a3%d8%ad%d9%80%d8%af-%d8%a7%d9%84%d9%83%d9%86%d9%80%d8%b2-%d8%a7%d9%84%d8%b3%d9%85%d9%80%d8%a7%d9%88%d9%8a-%d8%a7%d8%a8%d9%80%d9%80%d9%86-%d8%a7%d9%84%d9%84%d9%87/">أحد الكنوز </a>من مزامير ١٧ ( ١٦ ) ، ١٨ ( ١٧ ) ، ٣٥ ( ٣٤ )</p>
<p>وهي مزامير الإحتياج للصلاة ( مزمور عشية ) ، وتسبيح الله علي إستجابة الصلاة في الحفظ والنجاة ( مزمور باكر ) ، والتأكيد علي أن الله هو المنصف وحده ( أي كنز النفس وفخرها ) ، لذلك تختم قراءة المزامير بتسبيح الله كما في مزمور ٤٨ ( ٤٧ ) كما شرح  القديس أثناسيوس الرسولي ، ويختم بتسبيح الله في مزمور ٤٨ ( ٤٧ ) في مزمور مساء الأحد - صفحة ٢٨</p>
<p>+ يأتي مزمور قداس يوم الإثنين من الإسبوع الثاني من مزمور ٣٩ ( ٣٨ )</p>
<p>وهو مزمور الإفتخار بالله والإتكال عليه حسب تعبير القديس أثناسيوس الرسولي - صفحة ٣٠</p>
<p>+ يأتي مزمور باكر ومزمور القداس ليوم الثلاثاء من الإسبوع الثاني من مزمور ٤١ ( ٤٠ )</p>
<p>وهو الذي قال عنه القديس أثناسيوس الرسولي أنه إحدى مزامير الوعد بالبركة (١ ، ٣٢ ، ٤١ ، ١١٩ ، ١٢٨)</p>
<p>وقال أيضاً عن هذا المزمور بالذات &#8221; ولكن متي رأيت الكثير من الناس في فقر وعوز وأردت أن تعاملهم بالرأفة فتستطيع ذلك</p>
<p>بترديدك المزمور الحادي والأربعون &#8220;</p>
<p>ويأتي في هذا اليوم متوافقاً مع غني العطاء للآخرين ،</p>
<p>والبركة السماوية الغنية لمن أحبوا العطاء للمساكين - صفحة ٢٦ ، ٣٠ ، ٣١</p>
<p>+ مزمور باكر ومزمور القداس<a href="https://katameros.bible/church-reading/%d9%8a%d9%80%d9%88%d9%85-%d8%a7%d9%84%d8%a3%d8%b1%d8%a8%d8%b9%d9%80%d8%a7%d8%a1-%d9%85%d9%86-%d8%a7%d9%84%d8%a3%d8%b3%d8%a8%d9%80%d9%88%d8%b9-%d8%a7%d9%84%d8%ab%d8%a7%d9%86%d9%8a/"> ليوم الأربعاء من الأسبوع الثاني</a> يأتيان من مزمور ١٨ ( ١٧ )</p>
<p>وهو إحدى مزامير الشكر بحسب تعبير القديس أثناسيوس الرسولي ( ٨ ، ٩ ، ١٨ ، ٣٤ ، ٤٦ ، ٦٣ ، ٧٧ ، ٨٥ ، ١١٥ ، ١١٦ ، ١٢١ ، ١٢٢، ١٢٤ ، ١٢٦ ، ١٢٩ ، ١٤٤ ) - صفحة ٢٥ ، ٢٦</p>
<p>ولعل مجيء القراءة في مزموري باكر والقداس من مزمور الشكر يكون توافقاً مع موضوع إنجيل قداس اليوم وهو شكر الرب علي السبع خبزات واليسير من السمك في شبع الأربعة آلاف شخص</p>
<p>+ مزمور قداس <a href="https://katameros.bible/church-reading/%d9%8a%d9%80%d9%88%d9%85-%d8%a7%d9%84%d8%ae%d9%85%d9%8a%d8%b3-%d9%85%d9%86-%d8%a7%d9%84%d8%a3%d8%b3%d8%a8%d9%80%d9%88%d8%b9-%d8%a7%d9%84%d8%ab%d8%a7%d9%86%d9%8a/">يوم الخميس من الأسبوع الثاني</a> جاء من مزمور ٤٨ و ٤٧ وهو مزمور تسبيح وشكر بحسب تعبير القديس أثناسيوس الرسولي ،</p>
<p> وهو الذي يتوافق مع أن الله هو كنز النفس وغناها ومجدها - صفحة٢٦ ، ٣٤</p>
<p>+ يأتي مزمور باكر <a href="https://katameros.bible/church-reading/%d9%8a%d9%80%d9%88%d9%85-%d8%a7%d9%84%d8%ac%d9%85%d8%b9%d9%80%d8%a9-%d9%85%d9%86-%d8%a7%d9%84%d8%a3%d8%b3%d8%a8%d9%80%d9%88%d8%b9-%d8%a7%d9%84%d8%ab%d9%80%d8%a7%d9%86%d9%8a/">يوم الجمعة من الإسبوع الثاني</a> من مزمور ١١٥ ( ١١٤ )</p>
<p>ويقول عنه القديس أثناسيوس الرسولي أنه مزمور شكر ( بالإضافة إلي مزمور ٤ ، ٧٥ ) ،</p>
<p>كما يعتبر القديس أثناسيوس كلمات هذا المزمور تشير إلي نجاة داود عندما اختبأ في المغارة من شاول الملك - صفحة ٢٧ ، ٣٢</p>
<h4>مزامير الأسبوع الثالث</h4>
<p>+ مزمور باكر يوم السبت الملازم لأحد التجربة جاء من مزمور ٢٥ ( ٢٤ )</p>
<p>وهو إحدى مزامير التضرع كما قال القديس أثناسيوس الرسولي ( ٥ ، ٦ ، ٧ ، ١٢ ، ١٣ ، ١٦ ، ٢٥ ، ٢٨ ، ٣١ ، ٣٥ ، ٣٨ ،٤٣ ، ٥٤ - ٥٧ ،٥٩ - ٦١ ، ٦٤ ، ٨٣ ، ٨٦ ، ٨٨ ، ١٣٨ ، ١٤٠ ، ١٤٣ ) - صفحة ٢٥</p>
<p>بينما يأتي مزمور القداس من مزمور ١١٨ ( ١١٧ )</p>
<p>وهو مزمور الافتقاد الإلهي بوجود الله وسط شعبه وفي كنيسته كما قال القديس أثناسيوس ، وكأن مزمور القداس يعلن استجابة التضرع الذي جاء في مزمور باكر - صفحة ٢٥ ، ١٣</p>
<p>+ مزمور عشية<a href="https://katameros.bible/church-reading/%d8%a3%d8%ad%d8%af-%d8%a7%d9%84%d9%86%d8%b5%d9%80%d8%b1%d8%a9-%d8%a7%d9%84%d8%aa%d8%ac%d9%80%d8%b1%d8%a8%d8%a9-%d8%b9%d9%84%d9%8a-%d8%a7%d9%84%d8%ac%d8%a8%d9%84/"> أحد التجربة</a> جاء من مزمور ٥١ ( ٥٠ ) ، مزمور باكر من مزمور ٥٧ ( ٥٦ ) ، ومزمور القداس من مزمور ٢٧ ( ٢٦ )</p>
<p>ويقول القديس أثناسيوس الرسولي أن من يردد مزمور ٥١ ( مزمور عشية ) يجد الكلمات مناسبة له ليعلن بها توبته ،</p>
<p> أما الذي ينشد مزمور٥٤ ، ٥٦ ، ٥٧ ( مزمور باكر ) الذي ينشد هذه المزامير لا يتمعن في أن شخصاً ما  واقع تحت الاضطهاد</p>
<p>بل أنه هو نفسه المتألم وبالتالي يتأثر بما ينشد ، أما مزمور ٢٧ ( مزمور القداس ) فيقول عنه &#8221; وإن تكاثروا عليك وهاجموك بشراسة ساخرين منك كأنك لم تذق بعد نعمة الله فلا تستكن في ذعر بل رنم المزمور السابع والعشرين &#8220;</p>
<p>وهكذا يرسم لنا القديس أثناسيوس طريق النصرة في دوام التوبة ، فنكتشف أن الله نفسه هو المتألم عنا ، وهو الذي يعطينا  الأمان والنصرة في تجانا - صفحة ٢٢ ، ٢٨ ، ٣١</p>
<p>+ قراءة مزمور باكر يوم الإثنين ويوم الثلاثاء ، ومزمور قداس يوم الإثنين ويوم الثلاثاء جاءت من مزمور ٣٢ ( ٣١ )</p>
<p>يقول القديس أثناسيوس عنه &#8221; ثم إن تأملت المصطبغين بالمعمودية فنالوا الفداء من مولدهم الفاسد وامتلأ قلبك تعجباً من محبة الناس فرت لأمام هؤلاء المفديين المزمور الثاني والثلاثين &#8221; - صفحة ٢٩</p>
<p>وهنا الربط واضح بين ما أخذناه في المعمودية المقدسة من التحرر من سلطان إبليس والنصرة عليه (موضوع <a href="https://katameros.bible/church-reading/%d9%85%d9%82%d8%af%d9%85%d8%a9-%d8%b9%d9%86-%d9%82%d8%b1%d8%a7%d8%a1%d8%a7%d8%aa-%d8%a7%d9%84%d8%a7%d8%b3%d8%a8%d9%88%d8%b9-%d8%a7%d9%84%d8%ab%d8%a7%d9%84%d8%ab/">قراءات الأسبوع الثالث )</a></p>
<p>+ قراءة مزمور باكر ومزمور قداس يوم الأربعاء من الأسبوع الثالث من مزمور ٢٧ ( ٢٦ ) ، وهو نفس المزمور الذي جاءت منه قراءة إنجيل قداس أحد التجربة ( وهذا أيضاً ما يؤكد توافق قراءة الأيام من الإثنين للجمعة مع الأحد السابق لها وليس الأحد التالي</p>
<p>ماذا قال عنه القديس أثناسيوس :</p>
<p>&#8221; وإن تكاثروا عليك وهاجموك بشراسة ساخرين منك كأنك لم تذق بعد نعمة الله فلا تستكن في ذعر بل رنم المزمور السابع والعشرين &#8221; - صفحة ٢٨</p>
<p>وهو مزمور للصلاة لمن يتعرضون لتجارب الشيطان ، فينالوا النصرة والأمان في المسيح المتتصر لحسابنا</p>
<p>+ قراءة مزمور باكر ومزمور القداس ليوم الخميس من الإسبوع الثالث تأتي من مزمور ٩</p>
<p>ماذا قال القديس أثناسيوس عن هذا المزمور :</p>
<p>&#8221; أما في المزمور ٩ فيهتف جهاراً بسقوط الشيطان الذي تحقق فعلا &#8221; - صفحة ١٦</p>
<p>ويقول في موضع آخر عن نفس المزمور :</p>
<p>&#8221; اما اكراما للنصر علي العدو وحماية الخليقة ورغبة في تقديم المجد لابن الله الذي حقق هذا كله فأنشد المزمور التاسع الموجه إليه &#8221; - صفحة ٢٧</p>
<p>ولا يوجد أوضح من هذا الشرح للتأكيد علي إرتباط قراءة مزامير ذلك اليوم بأحد التجربة وليس بأحد الإبن الضال</p>
<p>+ قراءة مزمور باكر ومزمور القداس ليوم الجمعة تأتي من مزمور ١٦ ( ١٥ )</p>
<p>وهو المزمور الذي يحكي ثقة الإنسان بالله ، وأيضاً يحكي القيامة كحقيقة حسب تعبير القديس أثناسيوس ( صفحة ٣٧ ) ،</p>
<p> وهو ما يتوافق مع أحد التجربة في الثقة بالله في النصرة ، والتي تشير للنصر<wbr />ة النهائية علي الموت بقيامة المسيح له المجد</p>
<h4>مزامير الإسبوع الرابع</h4>
<p>+ تأتي قراءة مزمور عشية <a href="https://katameros.bible/church-reading/%d8%a3%d8%ad%d9%80%d8%af-%d8%a8%d9%80%d9%80%d8%b1-%d8%a7%d9%84%d8%a2%d8%a8-%d8%a7%d9%84%d8%a3%d8%a8%d9%80%d9%86-%d8%a7%d9%84%d8%b6%d9%80%d9%80%d8%a7%d9%84/">أحد الابن الضال</a> من مزمور ٨٨ ( ٨٧ ) ، ومزمور باكر من مزمور ٥٥ ( ٥٤ ) ، ومزمور القداس من مزمور ٧٩ ( ٧٨ ) وتأتي قراءة مزامير هذا الأحد متوافقة مع قراءات البولس والكاثوليكون والإبركسيس</p>
<p>ماذا قال القديس أثناسيوس عن مزامير قراءة اليوم :</p>
<p>١- مزمور ٨٨ ( مزمور عشية )</p>
<p>( وحين يتكلم عن ثقب اليدين والرجلين فهل هناك غير الصليب يمكن أن تشير إليه هذه الكلمات ؟</p>
<p>وبعد أن علم بكل هذه الأمور أضاف أن الرب لم يتألم كل هذه الآلام عن نفسه ولكن لأجلنا ، فهو يقول في المزمور ٨٨ &#8221; علي استقر غضبك &#8221; كما يقول في المزمور ٦٩ &#8221; حينئذ رددت الذي لم أخطفه &#8221; ذلك أنه لم يكن مضطراً الي أن يؤدي الحساب عن أي ذنب اقترفه ولكنه تألم من أجلنا وأخذ علي نفسه الغضب الموجه ضدنا بسبب تعدينا . وهذا بعينه ما أعلنه أشعياء النبي بقوله : &#8221; وهو مجروح لأجل معاصينا &#8221; - صفحة ١٥ ، ١٦</p>
<p>أي أن مزمور ٨٨ يشير بوضوح إلي بر الله الآب في إبنه يسوع المسيح ، وكيف حمل ابن الله خطايانا وهو في ذات الوقت بلا عيب  أو خطية لكنه حمل خطايانا</p>
<p>ولعل هذا ما جاء في قراءة الإبركسيس في هياج اليهود علي بولس بدون ذنب إقترفه &#8221; أو ليقل هؤلاء ماذا وجدوا فيّ من إثم وأنا قائم أمام المحفل &#8220;</p>
<p>وهو أيضاً ما جاء في البولس &#8221; كمضلين ونحن صادقون &#8220;</p>
<p>٢- مزمور ٥٥ ( مزمور باكر ) :</p>
<p>&#8221; وان كال لك الأعداء الشتائم والسخرية . وقام عليك من كنت تظنهم أصدقاء. وصوبوا اتهاماتهم إليك - وهذا ما فعله الابن الأكبر لأخيه عند رجوعه لأبيه - فاضطربت خلال تأملاتك ولو لفترة ، فانك رغم هذا تستطيع ان تجد العزاء فتسبح الله مغنيا بالمزمور الخامس والخمسين &#8221; - صفحة ٣٢</p>
<p>وهذا أيضاً ما ذكره الكاثوليكون من خطورة لسان الشر ، وما ذكره الإبركسيس من هياج اليهود علي القديس بولس وهو من بني جنسهم وكيف كالوا له الاتهامات</p>
<p>٣- مزمور ٧٩ ( مزمور القداس  )</p>
<p>&#8221; فان حدث أن أعاد الأعداء الكرة ، واستمروا في هجومهم ، مدنسين بيت الله وقاتلين القديسين &#8220;</p>
<p>هنا نجد في شرح القديس أثناسيوس ( صفحة ٣٣ ) ما حدث في الإبركسيس من محاولة اليهود قتل القديس بولس وتدنيسهم الهيكلبمؤامراتهم ، ورغم محاولتهم قتل القديسين نجد في البولس عناية الآب السماوي به &#8221; كمؤدبين ونحن غير مقتولين &#8220;</p>
<p>+ جزء من قراءة مزمور باكر ومزمور القداس جاءا من مزمور ٥٥</p>
<p>وهو المزمور الذي قال عنه القديس أثناسيوس أنه يخص هياج الأعداء ( ربما يقصد بالأعداء الشياطين ) علي أبناء الله</p>
<p>وتكرار المزمور بمعناه بين اليوم وباكر أحد الإبن الضال يظهر توافقاً بين قراءة الأحد والأيام التي تليه</p>
<p>+ مزمور باكر ومزمور قداس يوم الثلاثاء من الإسبوع الرابع جاءا من مزمور ١٧</p>
<p>ويقول أيضاً عنه القديس أثناسيوس أنه صراخ للنجاة من المضادين ( الشياطين )</p>
<p>&#8221; ولنفترض أنك في موضع احتياج إلي الصلاة بسبب مقاوميك المناصبين لنفسك فاستعن بالمزامير ١٧ ، ٨٦ ، ٨٨ ، ١٤١ - صفحة ٢٨</p>
<p>+ جاء أيضاً مزمور باكر ومزمور القداس ليوم الأربعاء من الإسبوع الرابع من مزمور ١٨ ( ١٧ )</p>
<p>وأيضاً قال عنه القديس أثناسيوس أنه صلاة للنجاة من الأعداء</p>
<p>&#8221; ولقد حفظك الله من أعداؤك وخلصك من مضطهديك فتسبيحاً له أنشد المزمور الثامن عشر &#8220;</p>
<p>+ قراءة مزمور باكر في يوم الخميس من الإسبوع الرابع من مزمور ١٢ ( ١١ )</p>
<p>هنا تسير قراءات المزامير في نفس معني قراءات مزامير أحد الإبن الضال والإثنين والثلاثاء والأربعاء</p>
<p>وهو ما يطابق شرح القديس أثناسيوس له :</p>
<p>&#8221; متي رأيت تشامخ الجماهير والشر المتفشي بينهم حتي لم يعد شيئاً مقدساً في أعينهم اهرب إلي الرب كحصن وردد المزمور الإثني عشر &#8221; صفحة ٢٧</p>
<p>أما قراءة مزمور القداس فتبدأ فيها نغمة الفرح والتسبيح ( فرح التوبة )</p>
<p>( يمينك مملوءة عدلا . فليفرح جبل صهيون . ولتتهلل بنات اليهودية . من أجل أحكامك يارب )</p>
<p>ويورد القديس أثناسيوس هذا المزمور مع مزمور ٦٥ كمزامير تسبيح</p>
<h4></h4>
<h4>مزامير الإسبوع الخامس</h4>
<h4><a href="https://katameros.bible/church-reading/%d8%a3%d8%ad%d9%80%d8%af-%d8%a7%d9%84%d8%a5%d8%b3%d8%aa%d8%b9%d9%80%d9%84%d8%a7%d9%86-%d8%a7%d9%84%d8%b3%d8%a7%d9%85%d8%b1%d9%8a%d9%80%d9%80%d8%a9/"><strong>أحد السامرية</strong></a></h4>
<p>+ مزمور باكر في <a href="https://katameros.bible/church-reading/%d8%a3%d8%ad%d9%80%d8%af-%d8%a7%d9%84%d8%a5%d8%b3%d8%aa%d8%b9%d9%80%d9%84%d8%a7%d9%86-%d8%a7%d9%84%d8%b3%d8%a7%d9%85%d8%b1%d9%8a%d9%80%d9%80%d8%a9/">أحد السامرية</a> جاء من مزمور ٣١ ( ٣٠ )</p>
<p>وربما ينطبق ما قاله القديس أثناسيوس في شرح هذا المزمور علي زيارة الرب للسامرة</p>
<p>&#8221; أما حين تري أنك مهان ومرذول من كل أحباؤك وأقرباؤك لأجل البر ( اليهودية ) فلا تكف عن الاهتمام بهم وبنفسك . وإن رأيت  معارفك يتحولون عنك فلا تجزع بل أبعد نفسك عنهم وحول ذهنك إلي المستقبل ( السامرة والأمم ) وترنم بالمزمور الحادي والثلاثين - صفحة ٢٩</p>
<p>+ مزمور قداس أحد السامرية جاء من مزمور ١٠٥ ( ١٠٤ )</p>
<p>يبدأ هذا المزمور بالآية ( عرفوا بين الأمم بأعماله ) ، ويقول القديس أثناسيوس عن هذا المزمور مثل مزموري ٧٨ ، ١١٤ يتكلم عن عمل الله مع شعبه ( صفحة ١٢ ) ، وهنا يقول في مزمور القداس ( وليفرح قلب الذين يلتمسون الرب ) ، وهذا ما حدث في زيارة الرب للسامرة وفرح كلالمدينة به</p>
<p>&#8221; بينما يتغني بالموضوعات الواردة في خروج وعدد وتثنية في شئ من الجمال في المزمورين ٧٨ ، ١١٤ ( عند خروج إسرائيل من مصر ويهوذا من شعب أعجم كان يهوذا مقدسه واسرائيل محل سلطانه &#8230; ) كما يترنم بهذه الحوادث عينها في مزمور ١٠٥ &#8220;</p>
<p>+ مزمور باكر يوم الإثنين من الإسبوع الخامس جاء من مزمور ٨٨ ( ٨٧ )</p>
<p>وهو المزمور الذي يشير بوضوح إلي بر الله الآب في إبنه يسوع المسيح ، وكيف حمل ابن الله خطايانا وهو في ذات الوقت بلا عيب أو خطية لكنه حمل خطايانا ، كما شرح القديس أثناسيوس ( مزمور عشية الإبن الضال ) - صفحة ١٥</p>
<p>+ جاءت القراءة من مزمور ٨٦ ( ٨٥ ) في مزامير<a href="https://katameros.bible/church-reading/%d9%85%d9%82%d8%af%d9%85%d8%a9-%d9%82%d8%b1%d8%a7%d8%a1%d8%a7%d8%aa-%d8%a7%d9%84%d8%a7%d8%b3%d8%a8%d9%88%d8%b9-%d8%a7%d9%84%d8%ae%d8%a7%d9%85%d8%b3/"> أيام الإسبوع الخامس :</a></p>
<p>مزمور قداس<a href="https://katameros.bible/church-reading/%d8%a7%d9%84%d8%a3%d8%ab%d9%86%d9%8a%d9%86-%d9%85%d9%86-%d8%a7%d9%84%d8%a3%d8%b3%d8%a8%d9%88%d8%b9-%d8%a7%d9%84%d8%ae%d8%a7%d9%85%d8%b3/"> يوم الإثنين</a></p>
<p>مزمور باكر ومزمور القداس<a href="https://katameros.bible/church-reading/%d8%a7%d9%84%d8%ab%d9%84%d8%a7%d8%ab%d8%a7%d8%a1-%d9%85%d9%86-%d8%a7%d9%84%d8%a3%d8%b3%d8%a8%d9%88%d8%b9-%d8%a7%d9%84%d8%ae%d8%a7%d9%85%d8%b3/"> ليوم الثلاثاء</a></p>
<p>مزمور قداس <a href="https://katameros.bible/church-reading/%d9%8a%d9%88%d9%85-%d8%a7%d9%84%d8%a7%d8%b1%d8%a8%d8%b9%d8%a7%d8%a1-%d9%85%d9%86-%d8%a7%d9%84%d8%a5%d8%b3%d8%a8%d9%88%d8%b9-%d8%a7%d9%84%d8%ae%d8%a7%d9%85%d8%b3/">يوم الأربعاء</a></p>
<p>مزمور باكر ومزمور قداس <a href="https://katameros.bible/church-reading/%d9%82%d8%b1%d8%a7%d8%a1%d8%a7%d8%aa-%d8%a7%d9%84%d8%ae%d9%85%d9%8a%d8%b3-%d9%85%d9%86-%d8%a7%d9%84%d8%a5%d8%b3%d8%a8%d9%88%d8%b9-%d8%a7%d9%84%d8%ae%d8%a7%d9%85%d8%b3/">يوم الخميس</a></p>
<p>مزمور باكر <a href="https://katameros.bible/church-reading/%d8%a7%d9%84%d8%ac%d9%85%d8%b9%d9%80%d8%a9-%d9%85%d9%86-%d8%a7%d9%84%d8%a3%d8%b3%d8%a8%d9%80%d9%88%d8%b9-%d8%a7%d9%84%d8%ae%d9%80%d8%a7%d9%85%d8%b3/">يوم الجمعة</a></p>
<p>وهذا المزمور قال عنه القديس أثناسيوس &#8221; ولنفترض أنك في موضع احتياج إلي الصلاة بسبب مقاوميك المناصبين لنفسك  فاستعن بالمزامير١٧ ، ٨٦ ، ٨٨ ، ١٤١ &#8221; - صفحة ٢٨</p>
<p>وإذا رأينا موضوعات أناجيل قداسات أيام الثلاثاء والخميس والجمعة من مقاومة الفريسين للرب ولعمله الخلاصي فلعل المقصود بالمقاومين الشياطين في حربهم ضد خلاص البشر والذي ذهب فيه إبن الله للسامرة ، كما جاءت الآية ( اصنع معي آية صالحة ) مرتين يوم الثلاثاء ويوم الخميس ، والآية الصالحة هي استعلان ابن الله ( يوم الثلاثاء ) ، واستعلان قوة خلاصه للبشر من الشيطان ( يوم الخميس )</p>
<h4>مزامير الإسبوع السادس</h4>
<p>+ قراءة مزمور باكر<a href="https://katameros.bible/church-reading/%d8%a3%d8%ad%d9%80%d9%80%d8%af-%d8%a7%d9%84%d8%aa%d9%80%d8%af%d8%a8%d9%8a%d9%80%d9%80%d8%b1-%d8%a7%d9%84%d8%a5%d9%84%d9%87%d9%8a-%d8%b2%d9%85%d9%80%d9%86-%d8%a7%d9%84%d8%ad%d9%80%d8%a8-%d9%88%d8%a7/"> أحد المخلع</a> جاءت من مزمور ١٠٢ ( ١٠١ )</p>
<p>وما أجمل ما كتبه القديس أثناسيوس في شرح هذا المزمور وكأنه يرسم صورة المخلَّع في بركة بيت حسدا في ضعف طبيعته ، وعدم وجود من يهتم به ، وفي مدي عجزه وتعبه ، وهو أيضاً يرسم صورة واضحة للبشرية العاجزة بسبب شلل الخطية في انتظار ابن الله ودعوة القيامة</p>
<p>&#8221; علي أنه بما أن طبيعتنا ضعيفة ، وإذا حدث أن أصبحت كالشحاذ بسبب ضيقات الحياة ،</p>
<p>وإن كنت مرهقاً أحيانا ، وتشتاق إلي أن تنال الشجاعة فأمامك المزمور ١٠٢ &#8221; - صفحة ٣٥</p>
<p>+ يأتي مزمور باكر يوم الإثنين من مزمور ٣٨ ( ٣٧ ) ، ومزمور القداس من مزمور ٣٥ ( ٣٤ ) ، ومزمور باكر يوم الثلاثاء</p>
<p>وهما مزامير الطلبات والتضرعات لأجل التوبة والتضرعات ، والنجاة من حروب الشياطين</p>
<p>ويدرجهما القديس أثناسيوس ضمن مزامير الطلبات والتضرعات (٥ ، ٦ ، ٧ ، ١٢ ، ١٣ ، ١٦ ، ٢٥ ، ٢٨ ، ٣١ ، ٣٥ ، ٣٨ ، ٤٣ ، ٥٤ - ٥٧، ٥٩ - ٦١ ، ٦٤ ، ٨٣ ، ٨٦ ، ٨٨ ، ١٣٨ ، ١٤٠ ، ١٤٣) - صفحة ٢٥</p>
<p>+ يأتي مزمور ٩ في قراءة مزمور قداس الأربعاء ، ومزمور باكر ، ومزمور قداس يوم الخميس</p>
<p>وتكررت يوم الخميس ( يا رافعي من أبواب الموت ) ولعل هذا ما حدث مع المخلع إذ أعطاه الرب قيامة ،</p>
<p> ودعاه للحذر من الخطية لئلا يذهب إلي الموت الأبدي</p>
<p>ويقول عنه القديس أثناسيوس :</p>
<p>&#8221; اما اكراما للنصر علي العدو وحماية الخليقة ورغبة في تقديم المجد لابن الله الذي حقق هذا كله فأنشد المزمور التاسع الموجه إليه &#8221; - صفحة ٢٧</p>
<p>كما يقول عن التوبة أيضاً في مزمور ٥١ ( ٥٠ ) وهو مزمور باكر يوم الجمعة</p>
<p>&#8221; فستجد ألفاظ التوبة والاعتراف في مزمور ٥١ &#8221; - صفحة ٣١</p>
<h4>مزامير الإسبوع السابع</h4>
<p>+ جاء مزمور عشية<a href="https://katameros.bible/church-reading/%d8%a3%d8%ad%d8%af-%d8%a7%d9%84%d8%a5%d8%b3%d8%aa%d9%86%d8%a7%d8%b1%d8%a9-%d9%88%d8%a7%d9%84%d9%85%d8%b9%d9%85%d9%88%d8%af%d9%8a%d8%a9-%d8%a7%d9%84%d9%85%d9%88%d9%84%d9%88%d8%af-%d8%a3%d8%b9%d9%85/"> أحد التناصير</a> من مزمور ١٧ ( ١٦ ) ، ومزمور القداس من مزمور ٢٦ ( ٢٥ )</p>
<p>في مزمور ١٧ يتكلم القديس أثناسيوس عن مواجهه الإنسان البريء للمقاومين</p>
<p>&#8221; ولنفترض أنك في موضع احتياج إلي الصلاة بسبب مقاوميك المناصبين لنفسك فاستعن بالمزامير ١٧ ، ٨٦ ، ٨٨ ، ١٤١ &#8221; - صفحة ٢٨</p>
<p>لذلك يقول في مزمور عشية ( محصتني بالنار فلم تجد فيّ ظلماً )</p>
<p>بينما في مزمور ٢٦ ( مزمور القداس ) يعلن القديس أثناسيوس كيف يدافع الله عن الإنسان ( مثلما حدث مع المولود أعمي )</p>
<p>&#8221; وهو الذي يجعل مؤامراتهم تتبدد كالفقاقيع فيستكينون ولا يملكون غير أيد آثمة طالبين تجريحك وإيذاءك . فلا تستأمن إنسانا  علي مقاضاتهم لأن كل ما هو إنساني مشبوه فيه ، واعتبر الله القاضي العادل لأنه هو المنصف وحده وردد المزامير ٢٦ ، ٣٥ ، ٤٣ &#8221; - صفحة٢٨</p>
<p>+ مزمور باكر يوم الإثنين جاء من مزمور ٣٢ ( ٣١ )</p>
<p>وهو إحدى مزامير الوعد بالبركة (١ ، ٣٢ ، ٤١ ، ١١٩ ، ١٢٨) حسب تعبير القديس أثناسيوس ( صفحة ٢٦ ) ، وربما ارتباطه بإنجيل الغني ولعازر للكشف عن البركة الأبدية التي أخذها لعازر مقارنة بالغني الذي هلك وهذا ما عبر عنه المزمور هنا ( كثيرة هي ضربات الخطأة والذي يتكل علي الرب الرحمة تحيط به )</p>
<p>أما مزمور قداس يوم الإثنين فهو جاء من مزمور ٨٦ ( ٨٥ )</p>
<p>ويقول القديس أثناسيوس عنه &#8221; ثم إن تأملت المصطبغين بالمعمودية فنالوا الفداء من مولدهم الفاسد</p>
<p> وامتلأ قلبك تعجباً من محبة الناس فرت لأمام هؤلاء المفديين المزمور الثاني والثلاثين &#8221; - صفحة ٢٩</p>
<p>ولذلك لارتباطه بموضوع المولود أعمي والإشارة هنا إلي المعمودية التي نجونا بها من عبودية الشيطان وصار لنا الطبيعة الجديدة التي تؤهلنا للملكوت وتنجينا من الهلاك</p>
<p>وهذا ما عبر هنا المزمور عنه ( وقد نجيت نفسي من الجحيم السفلي )</p>
<p>+ مزمور قداس يوم الثلاثاء جاء من مزمور ٥١ ( ٥٠ ) ، وأيضاً مزمور قداس يوم الأربعاء ،</p>
<p> وهو مزمور التوبة الشهير والذي قال عنه القديس أثناسيوس :</p>
<p>&#8221; فستجد ألفاظ الاعتراف والتوبة في المزمور الحادي والخمسون &#8221; - صفحة ٣١</p>
<p>وهنا أيضاً الإشارة إلي التوبة التي تجدد فينا فعل المعمودية</p>
<p>+ يأتي مزمور باكر ومزمور القداس في جمعة ختام الصوم من مزمور ٩٨ ( ٩٧ )</p>
<p>وهو مزمور الفرح والتهليل والتسبيح ويقول القديس أثناسيوس أن هذا المزمور ضمن أربعة مزامير يعلنون عطايا الخلاص لنا</p>
<p>&#8221; ثم تتفهم من المزامير ٩٣ ، ٩٦ ، ٩٨ ، ٩٩ كل العطايا التي اكتسبها لنا المخلص بآلامه المحيية &#8221; - صفحة ٣٧</p>
<p>وهو يتوافق مع إنجيل باكر الذي قال الرب فيه أن ( ملكوت الله داخلكم ) ،</p>
<p> وإنجيل القداس ( وأتمم الشفاء اليوم وغداً وفي اليوم الثالث أكمل)</p>
<p>
<p>
<p>
<p>
<p>

      {% endcreateArticleAccordions %}
    </section>
  {% endblock %}
