---
layout: 'layouts/reading.html'
title: 'قراءات يوم الإثنين من الإسبوع السابع '
tags: 'great-lent'
permalink: /articles/great-lent/7-1.html
---
  {% block content %}
    <section id="readings">
      <ul>
      {% if 'undefined' != 'undefined' %}
      
      {% else %}
      {% if 'null' != 'null' %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">العشية</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeVespers '' '' %}
          </div>
        </div>
      </li>
      {% endif %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">باكر</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeMatins '19.32:10-11' '42.16:19-31' '20.10:1-16@23.48:17-22*@+23.49:1-4@18.38:1-36' %}
          </div>
        </div>
      </li>
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <h3 class="flex items-center justify-between">
            <span class="kufi">القداس</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </h3>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeLitugy '45.14:10-23*@+45.15:1-2' '59.2:5-13' '44.9:22-31' '19.86:12-13' '43.5:31-47' %}
          </div>
        </div>
      </li>

      {% endif %}
        </ul>
    </section>
    <section id="article">
      <h3 class="mt-8 mb-4 heading-explain">شرح القراءات</h3>
      {% createArticleAccordions %}
        <p>&#8220;تَعَالَوْا يَا مُبَارَكِي أَبِي، رِثُوا الْمَلَكُوتَ الْمُعَدَّ لَكُمْ مُنْذُ تَأْسِيسِ الْعَالَمِ &#8230; جُعْتُ فَأَطْعَمْتُمُونِي &#8230; بِمَا أَنَّكُمْ فَعَلْتُمُوهُ بِأَحَدِ إِخْوَتِي هؤُلاَءِ الأَصَاغِرِ، فَبِي فَعَلْتُمْ.&#8221; (مت ٢٥: ٣٤– ٤٠)</p>
<p>[يأتي الشهداء حاملين عذاباتهم ويأتي الصدّيقون حاملين فضائلهم] (ختام الثيئوطوكيات الواطس)</p>
<p>[من لا يرحم لا يستحق مراحم الله ولا يتحصل على أي نصيب من العطف الإلهي بصلواته] (الشهيد كبريانوس)<a href="#_ftn1" name="_ftnref1">[1]</a></p>
<h3>شواهد القراءات</h3>
<p>(أم١٠: ١- ١٦)، (إش ٤٨: ١٧- الخ، ص٤٩: ١- ٤)، (أي٣٨: ١- ٣٦)، (مز٣١: ١١، ١٢)، (لو ١٦: ١٩- الخ)، (رو١٤: ١٠- الخ، ص١٥: ١، ٢)، (يع٢: ٥- ١٣)، (أع٩: ٢٢- ٣١)، (مز٨٥: ١١، ١٢) (يو٥: ٣١- الخ).</p>
<h3>شرح القراءات</h3>
<p><strong>توضِّح قراءات هذا اليوم</strong> برّ الملكوت وهو الرحمة بالآخرين فالرحمة والأحشاء المترفقة وغني الحب للكل هو الذي يعلن نعمة الملكوت التي فينا.</p>
<p><strong>تبدأ أمثال سليمان</strong> بإعلان أن البرّ يحفظ وينجّي من الموت الأبدي كما يعلن زيف كنوز الأشرار.</p>
<p>&#8220;كنوز الشر لا تنفع أما البرّ فينجي من الموت&#8221;.</p>
<p><strong>وفي سفر إشعياء</strong> عن كيف ينسكب البرّ بغني وفيض على من يحفظون الوصية.</p>
<p>&#8220;فَلَو أصغيت لوصاياي لكان سلامك حكمة (كالنهر) وبٍرك كأمواج البحر&#8221;.</p>
<p><strong>وعن إستعلان برّ الملكوت لكل إنسان.</strong></p>
<p>&#8220;إن الرب دعاني من بطن أمي وذكر اسمي وجعل فمي كسيف ماض وفي ظل يده خبأني وجعلني سهماً مختاراً&#8221;.</p>
<p><strong>وفي سفر أيوب</strong> يعاتب الله أيوب لأجل أنّه برّر نفسه ولم يدرك برّ الله.</p>
<p>&#8220;أجاب الرب أيوب من العاصفة والسحاب وقال من هو مثلي في المشورة ويضبط كلاماً في قلبه ويظن أنه يكاتمني (سراً) أشدد حقويك كجبار أسألك فتجيبني أين كنت حين أسست الأرض أخبرني إن كنت تعرف فهماً&#8221;.</p>
<p><strong>ويظهر في مزمور باكر</strong> برّ الله في غنى الرحمة الإلهية التي تحيط الإنسان من كل جانب.</p>
<p>&#8220;كثيرة هى ضربات الخطاة والذي يتكل على الرب الرحمة تحيط به افرحوا أيها الصديقون بالرب&#8221;.</p>
<p><strong>وفي إنجيل باكر</strong> يُظْهِر الرب عاقبة غياب الرحمة من قلب الإنسان والحرمان من الملكوت.</p>
<p>&#8220;كان إنسان غني وكان يلبس الارجوان والحرير متنعماً كل يوم بزينة، وكان أيضاً مسكين اسمه لعازر مطروحاً عند بابه مقرّحاً وكان يشتهى أن يملأ بطنه مما يسقط من مائدة الغني، وحدث أن مات المسكين فحملته الملائكة إلى حضن ابراهيم ثم مات أيضا الغني ودفن في الجحيم&#8221;.</p>
<p><strong>لذلك يحذّر البولس</strong> من أنّنا سنقف أمام منبر الله لنعطي حساباً عمّا فعلناه مع إخوتنا، لذلك يحذّر من الإزدراء بالآخرين أو إدانتهم أو إعثارهم أو عدم إحتمالهم وصعوبة وخطورة الموقف يوم الدينونة.</p>
<p>&#8220;أما أنت فلماذا تدين أخاك، أو أنت أيضاً لماذا تزدري بأخيك لأننا جميعاً سنقف أمام منبر الله لأنه مكتوب أنا حي يقول الرب أنه لي ستجثو كل ركبة وكل لسان يعترف لله، فاذاً كل واحد منا سيعطي حساباً عن نفسه لله&#8221;.</p>
<p><strong>كما يظهر طبيعة الملكوت وجوهره</strong>.</p>
<p>&#8220;فإن ملكوت الله ليس أكلاً وشرباً بل هو بر وسلام وفرح في الروح القدس&#8221;.</p>
<p><strong>ويكمّل الكاثوليكون</strong> تحذير المؤمنين ورعاة وخُدّام الكنائس من خطيّة المحاباة وتفضيل الأغنياء على الفقراء.</p>
<p>&#8220;اسمعوا يا اخوتي الأحباء، أما اختار الله مساكين هذا العالم وهم أغنياء في الإيمان وورثة للملكوت الذي وعد به الذين يحبونه أما أنتم فقد أهنتم الفقير، أما أن حابيتم الوجوه فانما ترتكبون خطية وتوبخون من الناموس كمتعدين، فإن الدينونة بلا رحمة تكون على من لا يصنع رحمة والرحمة تفتخر على الدينونة&#8221;.</p>
<p><strong>أمّا الإبركسيس</strong> فيكشف عن غياب البرّ من حياة البشر فيتآمرون ويدبّرون المكائد للآخرين حتى الموت.</p>
<p>&#8220;أما شاول فكان يزداد قوة ويزعج اليهود القاطنين بدمشق مبرهناً أن هذا هو المسيح فلما تمت أيام كثيرة تشاور اليهود ليقتلوه&#8221;.</p>
<p><strong>كما يعلن صورة الكنيسة التي تعلن برّ الله فيها </strong></p>
<p>&#8220;وأما الكنيسة في كل اليهودية والجليل والسامرة فكانت في سلام مبنية وسالكة في خوف الرب وكانت تزداد بتعزية الروح القدس&#8221;.</p>
<p><strong>وفي مزمور القدّاس</strong> يظهر غنى البرّ الإلهي ومراحمه في نجاة الإنسان من الهلاك الأبدي.</p>
<p>&#8220;أعترف لك أيها الرب الهي من كل قلبي وأمجد اسمك إلى الأبد لأن رحمتك عظيمة على وقد نجيت نفسي من الجحيم السفلي&#8221;.</p>
<p><strong>ويختم إنجيل القدّاس</strong> بحضور إبن الله الدائم في واقع وحياة البشر بنوره الإلهي وأعماله لأجل خلاصنا، كما يحذّر أيضاً من غياب الهدف وجوهر البرّ (محبة الله) والتعلّق بمجد الناس الذي يحجب مجد الله.</p>
<p>&#8220;ذاك كان المصباح الموقد المنير وأنتم أردتم أن تتهللوا بنوره ساعة، أما أنا فلي شهادة أعظم من شهادة يوحنا لأن الأعمال التي أعطانيها أبي لأكملها هى الأعمال التي أعملها وهى تشهد لي، ولستم تريدون أن تأتوا إليّ لتكون لكم حياة، كيف يمكنكم أن تؤمنوا وأنتم تقبلون مجداً بعضكم من بعض ومجد الاله الواحد لستم تطلبونه&#8221;.</p>
<h3>ملخّص القراءات</h3>
<table width="503">
<tbody>
<tr>
<td width="94">سفر الأمثال ومزمور القدّاس</td>
<td width="408">برّ الله ينجّي الإنسان من الموت الأبدي.</td>
</tr>
<tr>
<td width="94">سفر إشعياء</td>
<td width="408">عطايا الله لأولاده غنيّة وغير مُحْصاة.</td>
</tr>
<tr>
<td width="94">سفر أيوب</td>
<td width="408">عتاب الله لمن لا يدرك برّه بسبب تبريره لنفسه.</td>
</tr>
<tr>
<td width="94">مزمور باكر</td>
<td width="408">الرحمة الإلهية يشعر بحمايتها وحصانتها المتّكلين عليه.</td>
</tr>
<tr>
<td width="94">إنجيل باكر والبولس</td>
<td width="408">سنقف أمام كرسيّ الله لنقدّم حسابا عمّا فعلناه مع الآخرين.</td>
</tr>
<tr>
<td width="94">الكاثوليكون</td>
<td width="408">المحاباة في الكنيسة طريق الدينونة.</td>
</tr>
<tr>
<td width="94">الإبركسيس</td>
<td width="408">غياب البرّ يقود إلى المؤامرات والمكائد.</td>
</tr>
<tr>
<td width="94">إنجيل القدّاس</td>
<td width="408">مجد الناس يمكن أن يحرمنا من الملكوت.</td>
</tr>
</tbody>
</table>
<p><strong> </strong></p>
<h3>الكنيسة في قراءات اليوم</h3>
<table>
<tbody>
<tr>
<td width="91">سفر أيوب</td>
<td width="412">الله خالق السماء والأرض.</td>
</tr>
<tr>
<td width="91">إنجيل باكر</td>
<td width="412">الجحيم والنعيم الأبدي وخدمة الملائكة.</td>
</tr>
<tr>
<td width="91">الكاثوليكون</td>
<td width="412">وحدة الكتاب وكمال الوصيّة.</td>
</tr>
<tr>
<td width="91">الإبركسيس</td>
<td width="412">عمل الروح القدس في الكنيسة.</td>
</tr>
<tr>
<td width="91">إنجيل القدّاس</td>
<td width="412">يوحنّا المعمدان كسابق ومهيئ الطريق لابن الله.</td>
</tr>
<tr>
<td width="91">إنجيل القدّاس</td>
<td width="412">وحدة العمل والمشيئة للآب والإبن.</td>
</tr>
</tbody>
</table>
<p></p>
<h4 dir="rtl"></h4>
<h3 dir="rtl">عظات آبائية</h3>
<h4 dir="rtl">خدمة يوحنا المعمدان بحسب تعليم القديس كيرلس الأسكندري :</h4>
<p dir="rtl">*فضل المعمدان أنه عاش في البرية بعيدا عن ترف المدن ، وأعلن عن عزم ثابت في ممارسة الفضيلة ، وارتقي إلى قمة البر الذي يمكن يصل إليه<br />
إنسان ، مما جعل البعض يندهش من أسلوب حياته ، بل أن البعض تخيلوا أنه هو المسيح &#8230; تخيل البعض أنه هو النور نفسه .</p>
<p dir="rtl">* قيل عن يوحنا المعمدان : أقمته سراجا لمسيحي (مز ١٧:١٣٢) . مع أنه يقال عن القديسين أنهم نور &#8230; لكننا لا نجهل النعمة التي نالوها من النور &#8221; . لأن النور في السراج ، وليس من السراج ، ولا نور القديسين هو من القديسين ، بل باستنارة الحق صاروا &#8220;نوراً في العالم ، متمسكين بكلمة الحياة&#8221; (في ٢: ١٥-١٦) .</p>
<p dir="rtl">*شاع كلام مستتر عند البعض بأن يوحنا المعمدان لم يكن إنسانا حقيقيا ، بل هو أحد الملائكة القديسين في السماء ، استخدم جسدا ، وأرسله الله لكي يعظ الناس . تعتمد هذه الخرافة على عدم إدراك لما قاله الله : &#8221; ها أنا أرسل أمام وجهك ملاكي الذي يهيئ الطريق أمامك &#8221; (مت ۱۰:۱۱ ؛ ملا ١:٣) . وخطأ أولئك الذين ابتعدوا عن الحق وهو عدم فهمهم لمعنى كلمة &#8220;ملاك &#8221; . فمعناها خادم أو رسول ، دون تحديد لحقيقة جوهر هذا الخادم.</p>
<p dir="rtl">لست مستحقا أن أحل سيور حذائه</p>
<p dir="rtl">&#8221; علم يوحنا أن المسيح أمين لكل من يخدمه ، فما على الخادم إلا أن يعلن الحق والصدق ، إذ الفرق شاسع بين الخادم وسيده ، أي بين يوحنا<br />
والمسيح . لذلك يقول : &#8221; أنتم أنفسكم تشهدون لي أني قلت لست أنا المسيح بل إني مرسل أمامه &#8221; (يو ٢٨:٣) ، فحقا أن يوحنا عظيم في رسالته وعظيم في شهادته ، فقد كان رائع الجلال ككوكب الصباح الذي يعلن شروق الشمس من وراء الأفق .</p>
<p dir="rtl">أراد يوحنا أن يثبت للملأ أنه دون سيده مرتبة ومقاما ، فقال : &#8221; أنا أعمدكم بماء ، ولكن يأتي من هو أقوى مني الذي لست أهلا أن أحلك سيور حذائه (لو ١٦:٣) .</p>
<p dir="rtl">حقا شاسع بين السيد المسيح ويوحنا ، بل لا تصح المقارنة بينهما ، ولذلك صدق المعمدان المغبوط رغما عن سمو فضيلته وكريم خلقه بأنه<br />
&#8221; غير أهل أن يحل سيور حذائه&#8221;، لأنه إذا كانت القوات السمائية والعروش والسيرافيم المقدسة تقف حول عرش المسيح الإلهي تقدم له المجد والتسبيح ، فمن من سكان الأرض يستطيع أن يقترب من الله ؟! نعم يحب الله الإنسان فهو رؤوف به رحوم عليه، ولكن يجب ألا ننكر بأي حال من الأحوال بأننا لا شيء بالنسبة له ، فنحن بشر ضعفاء جهلاء &#8220;</p>
<p dir="rtl">ينبغي أن ذلك يزيد وأني أنا أنقص (يو ٣ : ۳۰)</p>
<p dir="rtl">&#8221; إننا لا نقول إن المعمدان انحط مقامه في الوقت الذي زاد فيه مجد المسيح حيث التف حوله عدد كبير من الناس ، ولكن يراد بنقص يوحنا وزيادة<br />
المسيح أن يوحنا كان إنساناً فلابد من أن يصل إلى درجة ما بعدها من مزيد ، أما المسيح فهو إله متأنس فلا حد لنموه ولا نهاية لعظمته . لذلك يقول المعمدان : &#8220;ينبغي أن ذلك يزيد وأني أنا أنقص &#8220;. إن كل من وقف في مستوى واحد ينقص ، وذلك بالنسبة لمن لا يقف أمامه عائق عن النمو والتقدم . وحتى يثبت<br />
المعمدان أنه على حق في قوله هذا ، أشار إلى لاهوت المسيح ، وبرهن لهم أنه</p>
<p dir="rtl">لابد من أن يفوق جميع الناس ، إذ قال : &#8221; الذي يأتي من فوق هو فوق الجميع ، والذي من الأرض هو أرضي ومن الأرض يتكلم &#8221; (يو ٣ : ۳۱) . من الذي أتي من فوق ، ومن ذا الذي يفوق جميع الناس ؟من الواضح هو كلمة الله المتجسد ، هو مثل الآب ومساو له في الجوهر ، ونظرا لمحبته شاء فنزل وتواضع ليصير مثلنا . فالمسيح إذن يفوق كل من على الأرض ، ولما كان المعمدان أحد سكان الأرض ، ويتفق معهم في الإنسانية ، لزم أن يفوقه المسيح الإله .</p>
<p dir="rtl">لا ننكر أن يوحنا كان حميد الخصال . منقطع النظير فضلا ونبلاً ، بلغ درجة عظيمة في البر والصلاح يستحق عليها المدح والثناء ، إذ وصفه السيد<br />
بالقول المأثور :&#8221; لم يقم بين المولودين من النساء أعظم من يوحنا المعمدان &#8221; (مت ۱۱:۱۱) ولكن رغما عن كل هذا لم يكن المعمدان من فوق ، بل كان أرضيا مثلنا &#8220;</p>
<p dir="rtl">الأصغر في ملكوت السماوات أعظم منه &#8221; (مت ۱۱:۱۱)</p>
<p dir="rtl">&#8221; كان يوحنا كالآخرين الذين سبقوه تنسب ولادته إلى امرأة ، أما أولئك الذين قبلوا الإيمان بالمسيح فليسوا أبناء نساء ، بل أبناء الله ، كقول الإنجيلي الحكيم : &#8221; وأما كل الذين قبلوه فأعطاهم سلطاناً أن يصيروا أولاد الله &#8230; &#8221; (يو ١ : ۱۱-۱۲) . لقد أصبحنا أبناء الله العلي ، مولودين ثانية لا من زرع يفني ، بل مما لا يفني بكلمة الله الحية الباقية إلى الأبد &#8221; (١بط ١ : ٢٣) . إذن كل من ولد لا من زرع فان بل من كلمة الله الباقية يفوق المولود من امرأة . لاحظوا أنه قبيل قيامة المسيح من الأموات وصعوده إلى السماء لم يوجد بين<br />
الناس روح التبني ولا دعي أحد ابنا لله (يو ٧ : ۳۹) &#8230; إذن لا ينقص المسيح من مكانة الأنبياء &#8230; وإنما أراد أن يظهر ما في الحياة الإنجيلية من سمو أعظم بكثير من سمو الحياة الناموسية. &#8220;</p>
<p dir="rtl">المرجع : كتاب ملاك البرية المقدسة ( صفحة ١٤ ، ١٨ ، ٢١ ، ٢٢ ، ٢٤ ، ٢٥) - ترجمة القمص تادرس يعقوب ملطي والشماس بيشوي بشري فايز</p>
<p dir="rtl">فهم الأنجيل لمار إسحق :</p>
<p dir="rtl">إن بداية طريق الحياة هو دائماً تدبير الفكر وفقاً لكلمة الله وأن يحيا الانسان في حياة التجرد وأن يملأ الأنسان نفسه بالله حتى يقتنى منه الكمال . فإذا شغلت ذاتك بدراسة كلمة الله فإن هذا سوف يساعدك للنمو في حياة التجرد . وإذا إقتنيت حياة التجرد فإن هذا سوف يساعدك على النمو في دراسة كلمة الله  . وهكذا فإن كليهما يؤثر في الآخر لبناء حياة الفضيلة في النفس .</p>
<p dir="rtl">إذا أردت أن تدفع عن نفسك بعيداً الأنحرافات الخاطئة التي دخلت إلى النفس فلا شيء يساعد الانسان على ذلك أكثر من محبة دراسة الكتاب المقدس وفهم الأفكار العميقة التي تحويه . وحينما تنشغل بنور حكمة الكلمة المخبأة فإن الإنسان سوف يترك العالم خلفه ، وسوف ينسى كل ما في العالم بقدر ما يستنير من نور الكلمة التي يقتنيها. بل حتى لو أن العقل لم يدرك سوى المعانى السطحية للكتاب المقدس ولم يستطيع أن يخترق المعانى العميقة التي فيها فإنه سوف ينشغل بالحماس لفهم أفكار الكلمة بخصوص المعجزات وحدها وسوف يمنع الفكر من الجرى وراء الأمور الجسدية والعالمية .</p>
<p dir="rtl">قبل أن يمتلئ الإنسان من الروح القدس المعزى فهو محتاج إلى الكتاب المقدس لكى يحفر الصلاح في ذاكرته وأن يحفظ جهاده دائمًا نحو صلاح الذى يتجدد باستمرار بالقراءة في الكتاب المقدس وأن يحفظ نفسه من الطرق الشريره الخبيثة لأنه لم يقتن بعد الروح التي تقاوم الأخطاء وتحفظ النفس من الأفكار. وحينما تخترق قوة الروح قوى النفس التي تعمل في الإنسان فعندئذ يحل قانون الكتاب المقدس ووصايا الروح في جذور قلب الإنسان وسوف يتعلم الإنسان في الخفاء من الروح ولن يحتاج إلى تعليم الحواس وسيكون للقلب تعاليمه الخاصة . ولكن ربما يخطئ ذلك الإنسان ولكنه للحال سوف يرجع ويتبع التعليم . ولكن حينما يأتي التعليم من الروح القدس فإن تذكار التعليم سوف يحفظ ولا يمس .</p>
<p dir="rtl">لا تقترب إلى أسرار الكلمة التي يحويها الكتاب المقدس بدون صلاه وطلب معونه الله . كأن تقول : يارب إفتح قلبى لآخذ القوة التي تحويها كلمات الكتاب المقدس . إن الصلاة هي بمثابة المفتاح للمعانى الحقيقية التي قيلت في الكتاب المقدس .</p>
<p dir="rtl">المرجع : كتاب سياحة القلب صفحة ٧٦ - القمص إشعياء ميخائيل - كنيسة الملاك بالضاهر</p>
<h4 dir="rtl">أهمية كلمة الله والتَعمُّقْ فيها - القديس يوحنا ذهبي الفم :</h4>
<p dir="rtl">لقد جاء المسيح ، وصنع آيات ومعجزات وتحققت النبوات ، والرسل قد علّموها للجميع ، ماذا حدث بعد ذلك ؟ حدث أنه بعد تدقيق وعناية فائقة ، كتب الرسل أيضاً ، كما قال الرسول بولس &#8221; هذه الأمور كُتبت لإنذارنا نحن الذين إنتهت إلينا أواخر الدهور &#8221; .وقال المسيح &#8221; تضلّون إذ لا تعرفون الكتب &#8221; . والرسول بولس قال أيضاً &#8221; حتي بالصبر والتعزية بما في الكتب يكون لنا رجاء &#8221; ، وأيضاً :&#8221; كل الكتاب هو موحي به من الله ونافع &#8221; ، و &#8221; لتسكن فيكم كلمة<br />
المسيح بغني &#8221; . ويقول النبي &#8221; في ناموسه يلهج نهاراً وليلاً &#8221; .وفي موضع آخر يقول أيضاً&#8221; ناموس الرب كامل &#8221; ، وأيضاً &#8221; ما أحلي قولك لحنكي أحلي من العسل لفمي &#8221; (ولم يقل لسمعي ، بل لحنكي ) . وموسي أيضاً يقول &#8221; ولتكن هذه الكلمات … علي فمك حين تنام وحين تقوم &#8221; ولذلك فإن الرسول بولس يكتب إلي تيموثاوس قائلاً &#8221; إهتم بهذا كن فيه &#8221; . وأمور أخري كثيرة يمكن للمرء أن يقولها عن الكلمة المكتوبة .</p>
<p dir="rtl">لكن بعد هذا الكم الكبير من الآيات الكتابية ، يوجد البعض مماً لا يعرفون أنه توجد كتب مقدسة . إذاً من أجل هذا لا يحدث لنا شيء صحيح ، شيء نافع . لكن إن كان أحد يرغب في أن يعرف جيداً التكنيك العسكري ، فلزاماً عليه أن يعرف القوانين العسكرية . وإن أراد أحد أن يعرف علم القيادة أو علم هندسة العمارة أو شيء أخر ، فينبغي عليه أن يتعلم كل ما يتعلق بهذا الفن.لكن هنا ( في مجال الأقوال الإلهية ) ، ليس من غير الممكن أن نراهم يفعلوا شيئاً مثل هذا ، وإن كان هذا العلم يحتاج إلي يقظة كبيرة. ومن حيث أن هذا هو فن في إحتياج أن نتعلمه ، إسمع النبي الذي يقول :&#8221; هلم أيها البنون استمعوا إليّ فأعلمكم مخافة الرب &#8220;. بناء علي ذلك فإن مخافة الرب تحتاج بالحقيقة إلي أن نتعلمها . بعد ذلك يقول :</p>
<p dir="rtl">&#8221; مَنْ هو الإنسان الذي يهوي الحياة ؟ &#8221; يقصد الحياة الأبدية . وأيضاً يقول &#8221; صن لسانك عن الشر وشفتيك عن التكلّم بالغش . حِد عن الشر وأصنع الخير . أطلب السلامة وأسع وراءها &#8221; .</p>
<p dir="rtl">هل يا تري قد عرفتم مَنْ هو النبي الذي قال هذه الأمور ، هل هو المؤرخ ، أم الرسول ، أم الإنجيلي ؟ لا أثق إلا بالقليلين الذين يمكنهم أن يفعلوا هذا . بل أن هؤلاء أنفسهم أيضاً ، إن عرضتُ شهادة من موضع آخر ، ستجدهم يُعانون نفس المعاناة معكم . إذاً الآن سأقول نفس الأمر تماماً ، لكن بكلام آخر &#8221; اغتسلوا تنقوا أعزلوا شر أفعالكم من أمام عينيّ .كفوا عن فعل الشر . تعلموا فعل الخير أطلبوا الحق.&#8221; أرأيت أن الفضيلة تحتاج لتعليم ؟ لأن داود النبي يقول &#8221; فأعلمكم مخافة الرب&#8221; وهذا (أي إشعياء) يقول&#8221; تعلموا فعل الخير&#8221; . أين توجد هذه الأقوال يا تري ؟ بالطبع أنا لا أعتقد أنكم قد عرفتم ، فيما عدا قليلين منكم .</p>
<p dir="rtl">بل إن هذه الأمور تُقرأ عليكم كل أسبوع مرتين أو ثلاثة مرات . عندما يصعد القاريء علي المنبر ، يقول أولاً لمن يكون الكتاب ، أي لهذا النبي أو لذلك الرسول ، أو الإنجيلي ، ثم بعد ذلك يقرأ محتوي النص الكتابي الذي أمامه ، حتي تكون الأمور واضحة لكم ، وأن تعرفوا ليس فقط أين توجد (هذه الأقوال) ، بل والأسباب التي كُتبت من أجلها ، ومَنْ قالها . لكن كلها تذهب هباءً ، وتنقضي.لأن كل إهتماماتكم تٌستنفذ في الأمور الحياتية ، ولا تهتموا مطلقاً بالأمور الروحية . ومن أجل هذا فإنه ولا تلك (الأمور الحياتية) تسير كما أنتم تريدون ، بل هناك صعوبات كثيرة . بالطبع المسيح يقول &#8221; أطلبوا أولاً ملكوت الله وبره وهذه كلها تُزاد لكم &#8220;.<br />
وهذه الأمور الحياتية قال عنها أنها ستُعطي بزيادة . لكن نحن بدلّنا النظام ، ونطلب الخيرات الأرضية ، كما لو أن أمور الملكوت ستُعطي لنا كزيادة .</p>
<p dir="rtl">فلنتيقظ إذاً ذات مرة ، ولنشتهي خيرات الدهر الآتي ، لأن بهذه الطريقة ستُزاد الأمور الأرضية . فمن غير الممكن لذاك الذي يطلب الأشياء التي هي بحسب إرادة الله ، ألا ينال الأمور الإنسانية . هذا هو حكم الحقيقة ذاتها التي تتكلم عن ذلك .إذاً ينبغي ألا نسلك بطريقة مختلفة ، بل لنحفظ وصية المسيح ، حتي لا نفقد كل شيء . والله قادر أن يدفعنا ، وأن يجعلنا أفضل بمعونة ربنا يسوع المسيح الذي يليق به مع الآب والروح القدس المجد والقوة والكرامة والسجود ، الآن وكل أوان وإلي دهر الدهور أمين .</p>
<p dir="rtl"> المرجع : تفسير الرسالة إلي العبرانيين للقديس يوحنا ذهبي الفم ( صفحة ١٤٨ ) - ترجمة دكتور سعيد حكيم يعقوب - مؤسسة القديس أنطونيوس للدراسات الآبائية</p>
<h3 dir="rtl">عظات اباء وخدام معاصرون :</h3>
<h4 dir="rtl">هل تشهد للمسيح ؟ لقداسة البابا تواضروس الثاني</h4>
<h5 dir="rtl">يوم الأثنين من الأسبوع السابع لقداسة البابا تواضروس الثاني</h5>
<p dir="rtl">يو (٥ : ٣١ – ٤٧)</p>
<p dir="rtl">هل تشهد للمسيح ؟</p>
<p dir="rtl">إنجيل اليوم يقدم سؤالاً لكل إنسان وهو : هل تشهد للمسيح ؟ هل حياتك شهادة للمسيح ؟ هل أعمالك شهادة للمسيح ؟ هل بالحقيقة أنت شاهد حقيقي لمن تؤمن به ؟</p>
<p dir="rtl">+ شهادة حق :</p>
<p dir="rtl">في فصل الإنجيل يتكلم عن مجموعة من الشهادات التي قدمت عن شخص المسيح :</p>
<p dir="rtl">١-شهادة القديس يوحنا المعمدان :</p>
<p dir="rtl">القديس يوحنا المعمدان السابق والصابغ والشهيد ، وهو الذي كان قد سبق مجيء السيد المسيح بستة أشهر ، يوحنا المعمدان في تاريخه كان إنساناً ناسكاً ، وكان ذا هيبة في المجتمع اليهودي ، كانت حياته كلها في البرية ، فعندما بدأ يظهر للناس وينادي قائلا : &#8221; توبوا لأنه قد اقترب ملكوت السماوات &#8221; (مت ۳ : ۲). عندما رأى يوحنا المعمدان السيد المسيح قال هذه الشهادة في الأصحاح الأول من إنجيل يوحنا &#8221; هوذا حمل الله الذي يرفع خطية العالم !&#8221; (يو ١: ٢٩)، وواضح أن عبارة &#8221; حمل الله &#8221; أي الحمل والذبيحة ، فكان بهذه الشهادة وكأنه يشير إلى الصليب ، وعندما جاء السيد المسيح لكي ما ينال المعمودية على يد يوحنا رفض وكانت إجابة الرب يسوع &#8221; اسمح الآن &#8221; (مت ٣ : ١٥)، لكن يوحنا هو الذي شهد للمسيح . إن يوحنا المعمدان في كل تاريخه صنع أمورا كثيرة ،  وقال عنه السيد المسيح أنه أعظم مواليد النساء ، ولكن الأكثر روعة أن هذا القديس شهد باتضاعه عن شخص السيد المسيح وقال : &#8221; لست بمستحق أن أحل سيور حذائه&#8221; (يو ١: ۲۷)، &#8221; ينبغي أن ذلك يزيد وأني أنا أنقص &#8221; (يو ٣ : ٣٠).</p>
<p dir="rtl">إذا الاتضاع هو أحد وسائل الشهادة ، اتضاعك وسلوكك المتضع الحقيقي هو أحد وسائل الشهادة القوية ، وقد فرح اليهود بيوحنا المعمدان فيقول الكتاب : &#8221; وأنتُم أردتم أن تبتهجوا بنوره ساعة &#8221; (يو ٥ : ٣٥). ولكنهم أخذوا منه الظاهر ولم يأخذوا منه العمق ، فلم تتحرك قلوبهم بل ظلوا في عنادهم ،</p>
<p dir="rtl">۲ شهادة الأعمال :</p>
<p dir="rtl"> أعمال ربنا يسوع المسيح ذاته ، فعندما نحب أن نحصر ما صنعه نضعه في ثلاث صفات رئيسة :</p>
<p dir="rtl"> + هو العجيب في أعماله ( الآيات والمعجزات ) .</p>
<p dir="rtl"> + هو الفريد في تعاليمه ( الأمثال والمقابلات ) .</p>
<p dir="rtl"> + هو الوحيد في صفاته التي لا نجدها في أي شخص ظهر على كوكب الأرض . إذا توقفنا عند الأعمال التي بسببها تسمي المسيح العجيب صانع المعجزات نلاحظ أن الأصحاح الخامس من إنجيل معلمنا يوحنا في بدايته يتكلم عن هذا الإنسان الذي كان مريضاً ومفلوجاً ولا يتحرك منذ ٣٨ سنة، كان هذا الإنسان جالسا على بركة بيت حسدا في انتظار من يلقيه في البركة ، وقد عبر عن ذلك حينما قال : &#8221; ليس لي إنسان يلقيني في البركة متى تحرك الماء &#8221; (يو٥ : ٧) .  أما شخص ربنا يسوع المسيح عندما أتى ، فقد أتى ليشفي هذا الإنسان ، وقال له : &#8221; قم. احمل سريرك وامش &#8221; (يو ٥: ٨). معجزات السيد المسيح كان يتممها بسلطان ذاته ، وقد تتكرر كثيراً كلمة &#8221; للوقت &#8221; أي في الحال وفي التو، ويقوم هذا الإنسان ، مثلما فتحت عيني المولود أعمى ، ومثلما صنعت معجزات شفاء كثيرة ، فقد كان للسيد المسيح سلطان على المرض والطبيعة والشياطين والإقامة من الموت ، فكأن أعماله تشهد له .</p>
<p dir="rtl">قد نسمع عن نيقوديموس ذاك الإنسان الذي كان مقتدراً في المجتمع اليهودي ، وكان عضوا في المجلس الذي يحكم اليهود ، وكان ذا شأن اجتماعي كبير ، هذا الإنسان ذهب للسيد المسيح ليلا ، وعندما تقابل معه كان بسبب هذه الأعمال التي يسمع عنها ، وكان يكلمه ويقول له : &#8221; يا معلم ، تعلم أنك قد أتيت من الله معلماً ، لأن ليس أحد يقدر أن يعمل هذه الآيات التي أنت تعمل إن لم يكن الله معه &#8221; (يو ۳ : ۲) والأعجب أن السيد المسيح يجيب عليه بإجابة أخرى وقال له : &#8221; الحق الحق أقول لك : إن كان أحد لا يولد من فوق لا يقدر أن يرى ملكوت الله &#8221; (يو ٣ : ٣)، وهذه إجابة صادقة ؛ لأنه عندما نسمع صيغة الفعل &#8221; يولد &#8221; بحسب الفكر البشري يعني أنه يولد ولادة طبيعية بزواج رجل من امرأة ، وكان نيقوديموس ينظر للسيد المسيح وهو يتعجب ويقول له : &#8221; كيف يمكن الإنسان أن يولد وهو شيخ ؟ العله يقدر أن يدخل بطن أمه ثانية ويولد ؟&#8221; (يو ٣ : ٤)، وإجابة السيد المسيح كانت ثمثل معجزة في حد ذاتها ؛ لأنها حركت قلب نيقوديموس ، هذا الرجل الذي أتى ليلا هو نفسه الذي نراه وقت الصليب مع يوسف الرامي لكي ما يشترك في دفن السيد المسيح الذي مات على الصليب ، ونذكر اسمه في لحن &#8221; غولغوثا&#8221; الذي نقوله مرة واحدة في السنة في نهاية الجمعة العظيمة ساعة الدفن .</p>
<p dir="rtl">السيد المسيح هو العجيب في أعماله ، وهي التي تشهد أنه هو الله الذي ظهر في الجسد .</p>
<p dir="rtl">۳ شهادة الآب السماوي :</p>
<p dir="rtl">الآب نفسه يشهد للمسيح ، فنحن أمام موقفين :</p>
<p dir="rtl">الأول : يوم المعمودية ، الآب يشهد من السماء &#8221; وصوت من السماوات قائلا : هذا هو ابني الحبيب الذي به سررت &#8221; (مت ۳ : ۱۷)، وكلمة &#8221; سررت &#8221; هي السرور الناشئ من الصليب ، حيث نُصلي ونقول : &#8221; لأنك ملأت الكل فرحاً أيها المخلص ، لما أتيت لتُعين العالم . يا رب المجد لك &#8220;.</p>
<p dir="rtl">شهادة الآب السماوي في يوم المعمودية هي شهادة كانت على مرأى من الناس التي كانت تُريد أن تعتمد من يوحنا المعمدان ، وهذا الصوت السماوي مسجل في الكتاب المقدس ، وكلمة &#8221; ابني &#8221; لا يقصد بها الولادة الطبيعية ، ولكنها مثل ما نقول في قانون الإيمان</p>
<p dir="rtl">&#8221; نور من نور &#8220;.</p>
<p dir="rtl">الثاني : في وقت التجلي ، نفس الصوت قال : &#8221; هذا هو ابني الحبيب الذي به سررت . له اسمعوا &#8221; (مت ۱۷ : ٥). كان التجلي قبل الصليب مباشرة ، وإن كان الصليب ثم القيامة ثم الصعود إلا أن صوت المسيح ذاته يظل معنا ، ولذلك يقدم القديس بولس الرسول شرحاً مختصراً لما صنعه السيد المسيح &#8221; وبالإجماع عظيم هو سر التقوى : الله ظهر في الجسد، تبرر في الروح ، تراءى لملائكة ، كرز به بين الأمم ، أومن به في العالم ، رفع في المجد &#8221; (١ تي ٣ :١٦).</p>
<p dir="rtl">٤ الكتب المقدسة تشهد للمسيح :</p>
<p dir="rtl">يقصد بالكتب المقدسة العهد القديم والعهد الجديد ، وأنبياء العهد القديم شهدوا للسيد المسيح وكل أعماله ، والكتاب المقدس بأسفاره خاصة النبوات مملوءة بالنبوات عن حياة السيد المسيح بالجسد ، فكل فعل تممه السيد المسيح كان له نبوة من العهد القديم ، ولذلك كان السيد المسيح يتكلم معهم في فصل الإنجيل ويقول لهم : &#8221; فتشوا الكتب لأنكم تظنون أن لكم فيها حياة أبدية . وهي التي تشهد لي &#8221; (يو ٥: ۳۹). من التعاليم الجميلة وأنت تدرس الكتاب المقدس روحياً يجب أن تضع أمامك هذا المبدأ وهو أن تبحث عن &#8221; الكلمة &#8221; بين الكلمات ، والكلمة هي اللوغوس &#8221; السيد المسيح &#8220;، وعليك أن تبحث عنه في كل النصوص التي تقرأها . أما منه إذا كنت تقرأ في العهد القديم سوف تجد نبوات عديدة عن كل صغيرة وكبيرة رأيناها بالعيان في العهد الجديد ، لكن مشكلة اليهود أنهم كانوا يحفظون ولا يفهمون ، ولذلك يقول السيد المسيح لهم : &#8221; لا تظنوا أني أشكوكم إلى الآب &#8221; (يو ٥: ٤٥). من الضروري أن تنتبه إلى أن جو الإنجيل في هذه الفقرة يتكلم مع اليهود ، واعتقادهم الاعتقاد اليهودي &#8221; يوجد الذي يشكوكم وهو موسى ، الذي عليه رجاؤكم &#8221; (يو ٥: ٤٥)، وهذا يعني أن الشخصية الأولى في حياة الإنسان اليهودي هي موسى النبي كاتب الأسفار الخمسة ( التوراة )، وقد كتب هذه الأسفار ليشهد للمسيح ، لكن للأسف اليهود لم يقتنعوا. قد يوجد كتابك المقدس بين يديك ، ولكن لا تنتفع منه ، فيقول : &#8221; أنكم لو كنتُم تصدقون موسى لكنتُم تُصدقونني ، لأنه هو كتب عني &#8221; (يو ٥: ٤٦)، موسى كان قبل المسيح ب ١٦٠٠ سنة لكنه كتب وشهد عن المسيح . لقد أضاع اليهود الفرصة منهم فقد وقعوا في خطأين :</p>
<p dir="rtl">الأول : يقول الكتاب : &#8221; أن ليست لكم محبة الله في أنفسكم &#8221; (يو٥: ٤٢)، هؤلاء اختفت من قلوبهم محبة الله،  وبالتالي لم يفهموا ، وأحبوا الرياء والحياة المظهرية . ونلاحظ ذلك في (مت ٢٣) &#8221; إنجيل الويلات &#8221; عن الكتبة والفريسيين ، فقد اختفت من حياتهم محبة الله ، وعندما تختفى محبة الله للإنسان يفقد رؤيته للسماء ويفقد حياته . الثاني : إن اليهود اهتموا بمجد أنفسهم ، المجد الدنيوي وليس مجد الله ، وهذا أمر موجود في حياتنا وخدمتنا ، فكل خادم وعامل في كرم الرب وكنيسته ، فما هو هدفك ؟ هل هدفك السماء والملكوت أم لك أهداف أخرى على الأرض.</p>
<p dir="rtl">هنا السيد المسيح يقول : &#8221; مجداً من الناس لست أقبل &#8221; (يو٥: ٤١) وأظن كلنا نعرف حكمة أهل القبور . في التقاليد الرهبانية جاء تلميذ يسأل معلمه ويقول له : &#8221; عندما يمدحني الناس أفرح ، وعندما يذمني البعض أحزن ، ماذا أفعل ؟&#8221; فأجابه معلمه وقال له : &#8221; اذهب إلى القبور واجلس معهم يوماً كاملاً وذم فيهم ، وفي آخر النهار تعال &#8230;&#8221;، وفعلاً سمع الكلام وذهب وفعل كل ما قال له معلمه ، وعندما رجع سأله معلمه : &#8221; ماذا فعلت ؟&#8221;، أجابه : &#8221; فعلت كل ما قلت لي أن أعمله ولكن لم يرد علي أحد &#8220;، فقال له الأب الشيخ : &#8221; اذهب غدا وامدحهم &#8220;، فذهب وبدأ يمدح فيهم ثم رجع لمعلمه ، فسأله معلمه : &#8221; ماذا حدث ؟&#8221;، ، فأجاب : &#8221; لم يرد علي أحد &#8220;، فقال له معلمه : &#8221; هكذا حياة الإنسان ، لا كلمة مديح تغيرك ، ولا مجد من الناس ينفعك ، حتى الذم أو الإساءة لا بد ألا يحرك في داخلك شيئاً &#8220;.  كان سعي اليهود للمجد الأرضي أي المجد الزائل ، أما مجد السماء فلم ينشغلوا به .</p>
<p dir="rtl">+ كيف أشهد لربنا في حياتي ؟</p>
<p dir="rtl"> ١- أمانة أفكارك :</p>
<p dir="rtl">هل أفكارك طيبة أم رديئة أم شريرة أم أفكار حسد أم أفكار عظمة أم أفكار شهوانية ؟ ماذا في فكرك ؟</p>
<p dir="rtl">إن الفكر هو مؤشر حياة الإنسان ، لكن أمانة الفكر أن يكون فكرك أمين لربنا ، وفي التقليد الكنسي أن نشغل فكرنا بالصلوات المتواصلة ( الصلاة القصيرة ) &#8221; يا ربي يسوع المسيح ارحمني أنا الخاطئ &#8220;، لا بد أن تشغل فكرك بهذه الصلاة ، وحتى في اعترافنا من الأمور المهمة أن نكشف أفكارنا ؛ لأنه قد تكون هذه الأفكار مؤشرات لخطايا تقترب من الإنسان ، ونجد داود النبي يقول : &#8221; اختيرني يا الله واعرف قلبي . امتحني واعرف أفكارى &#8221; (مز ١٣٩ : ٢٣) .</p>
<p dir="rtl">۲۔ حكمة كلامك :</p>
<p dir="rtl">نستخدم الكلام كثيراً في حياتنا اليومية وباستمرار ، فليكن كلامك مملح بملح ، وهذا الملح هو الحكمة &#8221; حكمة الكلمة &#8220;، أما إذا فقد الإنسان هذه الحكمة وفقد عقله ، ومن خلال الكلام الذي يقوله ممكن يقع في مشكلات لا تنتهي ، فكلمة واحدة تصنع مشكلة كبيرة وتحرم الإنسان من السماء &#8221; ومن قال لأخيه : يا أحمق ، يكون مستوجب نار جهنم &#8221; (مت ٥ : ٢٢).</p>
<p dir="rtl">هذا ما فعله سليمان عندما صار ملكاً ووقف أمام الله قال له : &#8221; أبعد عني الباطل والكذب . لا تعطني فقراً ولا غنى . أطعمني خبر فريضتي &#8221; (أم ٣٠ : ٨). لقد طلب سليمان شيئاً واحداً ، قلباً حكيماً فهيماً ، ولذلك أنصحك أن تطلب من الله دائماً في صلواتك &#8221; قلباً حكيماً &#8221; يفهم ويزن الكلمة ويجيب بحكمة لمن أمامه .</p>
<p dir="rtl">٣ محب في أعمالك :</p>
<p dir="rtl">كل يوم وأنت تصنع أعمالاً كثيرة ، منها الصغيرة ومنها الكبيرة ، وهناك أعمال تفعلها برضى أو خوف أو إحراج ، ولذلك أنصحك بأن كل أعمالك تصنعها بمحبة ، عندما وضعت الأرملة الفلسين قدمتهما بمحبة ، ولذلك مدحها المسيح وطوبها ، في حين أن هناك تقدمات أخرى ولكن لم تكن بمحبة . ثق أن العمل المملوء بالمحبة هو الذي يذكره لك ربنا يسوع المسيح ، حيث قال : &#8221; ومن سقى أحد هؤلاء الصغار كأس ماء بارد فقط باسم تلميذ ، فالحق أقول لكم إنه لا يضيع أجره &#8221; (مت ۱۰ : ٤٢).</p>
<p dir="rtl">يمكنك أن تُغير من حولك سواء في البيت أو العمل أو الكنيسة أو المدرسة أو الجامعة من خلال المحبة ؛ لأن المحبة هي الله ، وتستطيع أن تشهد للمسيح بالأمانة في فكرك وبالحكمة في كلامك وبالمحبة في أعمالك . لإلهنا كل المجد والكرامة من الآن وإلى الأبد . آمين .</p>
<p dir="rtl">المرجع : كتاب إختبرني يا الله صفحة ٣٥٦ - قداسة البابا تواضروس الثاني</p>
<h5 dir="rtl"></h5>
<h4 dir="rtl">بركات الكتاب للمتنيح الأنبا يؤانس أسقف الغربية</h4>
<p dir="rtl">لكلام الله بركات لا تحصى &#8230; لم نقرأ عن انسان عاش عيشة القداسة الا وكان الكتاب المقدس النصيب الأكبر في تكوين حياته الروحية . ولم نسمع عن خادم أمين أو مبشر ناجح أو بطل مجاهد من ابطال الإيمان الا وكان الكتاب المقدس هو سر نجاحه ومصدر الهامه وسنده وقوته &#8230; لقد أمر الله قديماً أن يوضح لوحا العهد المدونة عليها الوصايا العشر المكتوبه بأصبع الله في تابوت العهد حيث تحفظ أيضاً قسط المن &#8230; ولا شك أن هذا كان إشارة لطيفة الى أن قلب المؤمن المحفوظة فيه كلمة الله هو الذى يسكنه الرب يسوع المن الحقيقى النازل من السماء ، حياة لكل العالم &#8230;</p>
<p dir="rtl">كلنا نعلم انه بسبب المعصية الأولى نفى البشر جميعاً من الفردوس – وطنهم الأول – الى عالمنا الذى نحيا فيه ، والمشبه بأنه دار غربة ، نحن كلنا غرباء فيها &#8230; ودار الغربة هذه تعمها الظلمة من كل جانب . والبشر جميعاً في حالة حرب دائمة مع اعدائهم القدامى &#8221; اجناد الشر الروحية في السمويات &#8221; &#8230; ولقد أوضح الرب في كتابه المقدس أن العون الأول لنا في غربتنا وفى حربنا ضد أعدائنا هو كلام الله &#8230; وهذه الفكرة واضحة تمام الوضوح في الكتاب كله &#8230; فهو :</p>
<p dir="rtl">( ١) بشارة رجاء وعزاء :</p>
<p dir="rtl">ان البشر جميعاً محكوم عليهم بالموت وفاء عصيانهم وتعديهم . والكتاب المقدس يظهر امامنا كمبشر &#8230; مبشر بالحياة والحرية ، مبشر بالبنوة والعتق من العبودية ، مبشر بزوال لعنة الناموس وحلول بركان الصليب والقيامة ، مبشر بالحياة الفضلى والشركة الالهيه &#8230; فما اجملها رسالة ، تلك التي يقوم بها الكتاب &#8221; ما أجمل اقدام المبشرين بالسلام ، المبشرين بالخيرات &#8221; (رو ١٠ : ١٥).</p>
<p dir="rtl">     لقد كان اليهود يحتفلون كل خمسين سنة بما يسمى &#8221; سنة اليوبيل &#8220;</p>
<p dir="rtl">&#8230;. كانوا يحتفلون بها احتفالاً رائعاً بمقتضى الشريعة &#8230; وكانت حينما نضرب الأبواق معلنه بدء سنة اليوبيل ، كان الفرح يجد طريقة الى قلوب كثيرة كسيرة &#8230; فالفقير الذى باع بيته أو حقله من جراء ضيق ذات اليد كان يسترده ، والفقير الذى باع ذاته عبداً كان يحرر (لا ٢٥) &#8230; من أجل ذلك طوب المرنم &#8221; الشعب العارفين الهتاف &#8221; (مز ٨٩ : ١٥) ، والمقصود بالهتاف ، صوت الأبواق المعلنة حلول سنة اليوبيل &#8230;</p>
<p dir="rtl">والكتاب المقدس هو البوق الالهى الذى يبشرنا بحلول &#8221; سنة الرب المقبولة &#8221; (لو ٤ : ١٩) لكى نسترد بيتنا السماوى الذى خسرناه بالخطية وفقدناه بالمعصية ، ونستعيد حريتنا بعد أن استعبدنا انفسنا لسلطان الخطية فوقعنا في قبضة ابليس &#8230;</p>
<p dir="rtl">وليس الكتاب المقدس مبشراً بالخلاص والحرية الروحية فقط ، لكنه عامل قوى من عوامل تقوية الرجاء ورفع الروح المعنوية &#8230; فمن أمضى أسلحة اعدائنا الروحيين ، إشاعة روح الضعف والهزيمة والاستسلام بين شعب الله . والكتاب المقدس ينقض هذه الدعايات الخبيثة ليحل محلها الايمان والاتكال الكامل على الرب ، والثقة في رجاء خلاصة ، وأنه سيأتى بقوة ولو في الهزيع الأخير من الليل لكل منتظريه &#8230;</p>
<p dir="rtl">هكذا نقرأ كلمات موسى لشعبه حينما تملكهم الخوف والفزع &#8221; لاتخافوا قفوا وانظروا خلاص الرب &#8230; الرب يقاتل عنكم وانتم تصمتون &#8221; (خر ١٤ : ١٣ ، ١٤) &#8230; ونقرأ بعد ذلك عن صنيع الرب مع الشعب في البرية المقفرة خلال أربعين عاماً ، عالهم خلالها بطعام الملائكة وسقاهم من صخرة صماء &#8230; حفظ ثيابهم ونعالهم فلم يقرب منها البلى &#8230; أعطاهم الغلبة على شعوب تفوقهم عدداً وعدة &#8230; هكذا نقرأ من أعمال الرب العظيمة مع كل خائفيه في كل زمان ومكان ، وعن مواعيده الكثيرة لهم &#8230; لأنه تعلق بى انجيه . أرفعه لأنه عرف اسمى . يدعونى فأستجيب له معه أنا في الشدة أنقذه وأمجده . طول الأيام اشبعه وأريه خلاصى (مز ٩١ : ١٤ – ١٦) &#8230; نقرأ كلمات رب المجد &#8221; ها أنا معكم كل الأيام وإلى انقضاء الدهر &#8221; (مت ٢٨ : ٢٠) &#8230; نقرأ عن اختبارات بولس &#8221; أن كان الله معنا فمن علينا &#8221; (رو ٨ : ٣١) &#8230; &#8221; استطيع كل شيء في المسيح الذى يقويني &#8221; (في ٤ : ١٣) &#8230; نقرأ أيضاً عن حب الرب للخطاه وعطفه عليهم ، فحينئذ لا نيأس بل نتشدد ونتشجع .</p>
<p dir="rtl">ضيقات الحياة ، ما أكثرها وما أعنفها ، فبسببها يعثر كثيرون ويرتدون (مت ٢٤ : ١٠) : لقد أعطانا الرب كتابه ليكون معينا لنا في غربة هذا الدهر ، ورفيقاً أميناً ، ومعزياً وفياً قوياً &#8230; نجده قريباً منا كل الأوقات ، ونستطيع ان نجلس معه نستمع اليه ما شئنا من وقت . حينما تتكاثر علينا الضيقات ، فليس أفضل من كلمة الله تعزينا وتشجعنا &#8230; أما الناس فليس في كلامهم الخاص عزاء حقيقى ، بل هم كما وصفهم أيوب في بلواه &#8221; معزون متعبون &#8221; (أي ١٦ : ٢) &#8230;</p>
<p dir="rtl">    لقد كان كلام الله هو موضع تعزية جميع رجال الله . فيقول داود &#8221; اذكر لعبدك كلامك الذى جعلتني عليه اتكل . هذا الذى عزاني في مذلتى &#8230; تذكرت احكامك منذ الدهر فتعزيت &#8230; لو لم تكن شريعتك في فمى لهلكت حينئذ في مذلتى &#8221; (مز ١١٩ ، ٤٩ ، ٥٠ ، ٥٢ ، ٩٢) &#8230; ويوضح القديس بولس الأمر فيقول &#8221; كل ما سبق ، كتب لأجل تعليمنا ، حتى بالصبر والتعزية بما في الكتب يكون لنا رجاء &#8221; (رو ١٥ : ٤) &#8230; وقد طلب الى المؤمنين أن يجعلوا من الكتاب معزياً لهم فيقول &#8221; عزوا بعضكم بعضاً بهذا الكلام &#8221; ( ١تس ٤ : ١٨) &#8230; وموضع التعزية في كلام الله لا يرجع فقط الى مافيه من قصص رجال الله واحتمالهم وصبرهم وصنع الرب معهم ، أو ما يتضمنه من معان مقبولة &#8230; بل يرجع الى أن كلام الكتب المقدسة ، كتب بالروح القدس &#8221; المعزى &#8221; (يو ١٤ : ٢٦) &#8230;.</p>
<p dir="rtl">( ٢ ) نور وهداية :</p>
<p dir="rtl">ولعل من آولى بركات كلمة الله أنها تحرك القلوب للتوبة ، سواء عن طريق سماعها أو قراءتها &#8230; فقد كانت كلمات بولس الرسول القليلة التي جاءت في شكل عظة القاها في يوم الخمسين ، سبباً في نخس قلوب ثلاثة آلاف نفس آمنت للمسيح (أع ٢) &#8230; وكانت كلمات بولس الرسول – وهو سجين – سبباً في تأثر ، با ارتعاب فليكس الوالى ، وان كان – للأسف – أضاع الفرصة وصرف بولس قائلاً &#8221; أما الآن فاذهب ومتى حصلت على وقت استدعيك &#8221; (أع ٢٤ : ٢٥) &#8230; وكانت قراءة وزير كنداكة الحبشي لسفر أشعياء وما صحبه من شرح القديس فيلبس سبباً في إيمانه (أع ٨) &#8230;</p>
<p dir="rtl">لقد قال الرب قديماً &#8221; ولسان أرميا النبى &#8221; اليست هكذا كلمتى كنار &#8230; وكمطرقة تحطم الصخر &#8221; (أر ٢٣ : ٢٩) &#8230; فكما أن النار تحمى الحديد وتجعله لينا ، هكذا كلمة الله تلين القلوب القاسية ، وكما ان المطارق تحطم الصخر ، هكذا كلمة الله تفعل فعلها في القلوب التي تحجرت بالخطية ، وتسحقها بقوتها &#8230;</p>
<p dir="rtl">      والإنسان بأعتباره غريباً في الأرض ، يحتاج الى من يرشده ويقوده ويأخذ بيده . أن كلمة الله كعمود النور الذى كان يتقدم بنى إسرائيل &#8230; وهكذا ترافقنا كلمة الله حتى ندخل – لا أورشليم الأرضية بل السماوية &#8230; انها كالنجم الذى هدى المجوس وظل بتقدمهم حتى جاء &#8221; ووقف فوق حيث كان الصبى &#8221; (مت ٢ : ٩) &#8230; هكذا كلمة الله أيضاً تتقدمنا وتقودنا وتوصلنا الى حيث يسوع &#8230; انها لا تحطئ أبداً ، ولا تضل من يتبعها &#8230; ومن هنا كانت كلمات المرتل &#8221; غريب انا في الأرض . لا تخف عنى وصاياك &#8221; (مز ١١٩ : ١٩) &#8230; وهكذا ما يشير الى أن وصايا الله خير مرشد للنفس في غربتها &#8230;</p>
<p dir="rtl">انها تحذرنا عندما نحيد عن الطريق القويم &#8221; اذناك تسمعان كلمة خلفك قائلة هذه هي الطريق اسلكوا فيها ، حينما تميلون الى اليمين وحينما تميلون الى اليسار&#8221; (اش ٣٠ : ٢١) . هي تعلمنا وترشدنا &#8221; لأن كل ما سبق فكتب كتب لأجل تعليمنا ، حتى بالصبر والتعزية بما في الكتب يكون لنا رجاء&#8221; (رو ١٥ : ٤) &#8230; &#8221; كل الكتاب هو موحى به من الله ونافع للتعليم والتوبيخ للتقويم والتأديب الذى في البر . لكى يكون انسان الله كاملاً متأهب لكل عمل صالح &#8221; (٢تى ٣ : ١٦، ١٧) . لاغرابة اذن ان وجدنا رجال الله يتحدثون عن شريعة كنوز وسراج ، فيقول داود النبى والملك &#8221; سراج لرجلى كلامك ونور لسبيلى &#8221; (مز ١١٩ : ١٠٥) . وقال سليمان الحكيم &#8221; لأن الوصية مصباح والشريعة نور &#8221; (ام ٦ : ٢٣) &#8230; والقديس بطرس يشير إلى كلام الأنبياء يقول &#8221; وعندنا الكلمة النبوية  &#8230; التي تفعلون حسناً ان انتبهتم اليها كما الى سراج منير في موضع مظلم ، الى أن ينفجر النهار ويطلع كوكب الصبح في قلوبكم &#8221; (٢بط ١ : ١٦ – ١٩) .</p>
<p dir="rtl">    من اجل هذا فان كنيستنا – تعبيراً عن هذه الحقيقة – توقد الشوع وقت قراءة الانجيل &#8230; قال القديس ايرونيموس ( جيروم ) من أباء القرن الرابع المسيحى &#8221; ان الشموع التي توقد وقت قراءة الانجيل كالعادة المألوفة في كنائس الشرق ، ليست لتبديد الظلام بل لاظهار الفرح بالإنجيل ، كما كانت مصابيح الحكيمات مضيئة ، ليظهر تحت شكل النور ما قاله المرتل : سراج لرجلى كلامك ونور لسبيلى . وقول الحكيم : الوصية مصباح والشريعة نور &#8221; .</p>
<p dir="rtl">(٣) سلاح وعون :</p>
<p dir="rtl">    كلمة الله قوة جبارة لا يستطيع أن يدرك عظم قدرها إلا كل من عاش بها وفيها واختبرها &#8230; إن السيد المسيح الذى ترك لنا مثالاً لكى نتبع خطواته (١بط ٢ : ٢١) استخدام هذا السلاح في حربه مع ابليس الذى تقدم ليجربه &#8230; لقد كان في كل جوله يرشقه بسهم الهى من كلمات الرب قائلاً له &#8221; مكتوب &#8230; &#8221; (مت ٤) &#8230; مغبوط هوالرجل الذى يملأ جعبته بالسهام الروحية التي هي كلمة الله &#8230; حينئذ لا يخشى من ملاقات اعدائه، على نحو ما فعل الفتى داود بجليات الجبار &#8230;</p>
<p dir="rtl">لقد وصف الرسول بولس كلمة الله بأنها &#8221; حية وفعالة وامضى من كل سيف ذو حدين ، وخارقه الى مفرق النفس والروح والمفاصل والمخاخ ، ومميزه أفكار القلب ونياته &#8221; (عب ٤ :١٢) &#8230; تدخل الكلمة الى أعماق القلب بتكشف ما في النفس من نوازع شريرة وأفكار اثيمه ، ثم تعمل عملها . فتستأصل من النفس الشر لأنها أمضى من السيف ذي الحدين &#8230; أما سبب قوة الكلمة – فعلى حد تعبير القديس اثناسيوس الرسولى – إن الرب كائن في كلماته .. ؟</p>
<p dir="rtl">حينما أوصى معلمنا بولس مؤمنى كنيسة أفسس أن يلبسوا &#8221; سلاح اللة الكامل &#8221; لكى يقدروا أن يثبتوا ضد مكايد ابليس ، ذكر أنواع من هذه الأسلحة &#8230; فتكلم عن درع البر ، وترس الإيمان ، وخوذة الخلاص &#8230; وهذه كلها – مع كونها أسلحة تستخدم في وقت القتال – لكنها أسلحة سلبية أي للوقاية &#8230; ثم تقدم الرسول وتحدث عن سلاح إيجابي قوى &#8221; سيف الروح الذى هو كلمة الله &#8221; (اف ٦ : ١٠ – ١٧) &#8230; ان كلمة الله كالسيف للمقاتل ، به يصرع عدوه &#8230;</p>
<p dir="rtl">ليس يخفى ما لكلمة الله من قوة في جهادنا الروحى ، إذ لها قدرة على رد النفس لطريق الكمال &#8221; ناموس الرب كامل يرد النفس &#8221; (مز ١٩ : ٧) &#8230; ولها القدرة أيضاً على تنقيتنا من نقائصنا كما قال الرب يسوع &#8221; انتم الآن انقياء بسبب الكلام الذى كلمتكم به &#8221; (يو ١٥ : ٣) &#8230; بل إنها تقدس النفس &#8221; قدسهم في حقك . كلامك هو حق &#8221; (يو ١٧ : ٧) &#8230; وبالجملة فأنها تبنى حياتنا الروحية &#8220;والآن استودعكم يا أخوتى لله ولكلمة نعمتة القادرة أن تبنيكم وتعطيكم ميراثا مع جميع المقدسين &#8221; (اع ٢٠ : ٣٢) &#8230; وهى ايضاً قادرة على خلاصنا &#8221; فاقبلوا بوداعة  الكلمة المغروسة القادرة أن تخلص نفوسكم &#8221; (يع ١ : ٢١) .</p>
<p dir="rtl">وكلمة الله منطقة للذهن . فعندما يشرد الفكر بعيداً عن الله ، ويبدأ في الانزلاق إلى مهاوى الرذيلة ، تعمل الكلمة عملها وتتقدم لتعطى يقظة وانتباه للفكر . ولذا يقول القديس بطرس &#8221; منطقوا احقاء ذهنكم صاحين &#8221; (١بط١ : ١٣) &#8230; ويقول معلمنا بولس &#8221; فاثبتوا ممنطقين أحقاءكم بالحق &#8221; (أف ٦ : ١٤) &#8230; وما الحق الا كلمة الله &#8221; كلامك هو حق &#8221; (يو ١٧ : ١٧) .</p>
<p dir="rtl">   بعد ان آلت قيادة  الشعب إلى يشوع بن نون عقب انتقال موسى النبى ، بدأ الله عمله معه بقوله &#8221; لا يبرح سفر هذه الشريعة من فمك ، بل تلهج فيه نهاراً وليلاً لكى تتحفظ للعمل حسب كل ما هو مكتوب فيه . لأنك حينئذ تصلح طريقك وحينئذ تفلح &#8221; (يش ١ : ٨) &#8230; وواضح من كلمات الرب هذه انها أمر صريح بعدم مبارحة كلماته لأفواهنا &#8230; والسبب &#8221; لكى تتحفظ للعمل &#8221; &#8230; أما النتيجة &#8221; حينئذ تصلح طريقك ، وحينئذ تفلح &#8221; &#8230;</p>
<p dir="rtl">    وثمة اختبار جميل يحدثنا عنه المرنم في مطلع المزامير &#8221; طوبى للرجل الذى لم يسلك في مشورة الأشرار &#8230; لكن في ناموس الرب مسرته ، وفى ناموسة يلهج نهاراً وليلاً ، فيكون كشجرة مغروسة على مجارى المياه ، التي تعطى ثمرها في أوانه ، وورقها لا يذبل ، وكل ما يصنع ينجح فيه  &#8221; (مز ١ : ١ – ٣) &#8230;. ما أروع اختبار المرتل ، وما أروع التشبيه الذى أورده عن النفس التي جعلت مسرتها في كلمة الرب &#8230; أن مجارى الأنهار التي أشار اليها المرنم هي عمل الروح القدس في المؤمن (يو ٧ : ٢٨ ، ٣٩) &#8230;. الروح القدس الذى كتب الكتاب .</p>
<p dir="rtl">( ٤ ) مقياس للكمال والنمو :</p>
<p dir="rtl">      كثيراً ما ينحرف المسيحى عن الحق متأثرا بروح العصر والتقليد والمحاكاة &#8230; وحينئذ تنقلب القيم الروحية في نظره . وتأخذ المقاييس صورة حسب هواه وتصوره ودوافعه اللاشعورية ، يظن ان حياته لا بأس بها طالما هو بعيد عن الخطايا الكبيرة – حسب تقديره &#8230; لكن حينما يلجأ إلى كتاب الله يطالبنا جميعاً بحياة الكمال ، حينئذ يكتشف عيوبه ويلمس أخطاءه &#8230; يجب ان نمتحن كل شيء على ضوء الكلمة ، &#8221; إلى الشريعة وإلى الشهادة . ان لم يقولوا مثل هذا القول فليس لهم فجر &#8221; (اش ٨ : ٢٠) &#8230; واليهودية في بيريه ، لما وصل اليهم بولس وسيلا وكلماهم عن الإيمان بالمسيح &#8221; قبلوا الكلمة بكل نشاط فاحصين الكتب كل يوم هل هذه الأمور هكذا &#8221; (أع ١٧ : ١١) &#8230; ان الكتاب المقدس هو كالميزان الدقيق الذى نوضح فيه فيظهر ثقل خطايانا فنتوب عنها . انه بذلك يقودنا إلى طريق الكمال . حقاً ما أجمل ما قاله داود العظيم &#8221; ناموس الرب كامل يرد النفوس ؟ &#8221; (مز ١٩ : ٧) &#8230; وقال معلمنا بولس أيضاً &#8221; كل الكتاب هو موحى به من الله ونافع للتعليم والتوبيخ ، للتقويم والتأديب الذى في البر ، لكى يكون انسان الله كاملاً متأهب لكل عمل صالح &#8221; (٢تى ٣ : ١٦ ، ١٧) .</p>
<p dir="rtl">    وقال الرب يسوع لليهود الذين أتوا ليحاجوه &#8221; الذى من الله يسمع الله . لذلك انتم لستم تسمعون لانكم لستم من الله &#8221; (يو ٨ : ٤٧) &#8230; ان كلمات الرب هذه توضح لنا زاوية هامة من زوايا حياتنا الروحية &#8230; نستطيع ان نقيس نمونا في النعمة بمقياس نمو محبتنا لدراسة كلمة الله . ففي الوقت الذى نفقد فيه الشهية إلى خبز الحياة ، لنتأكد أننا نعانى من مرض روحى ، قد يكون مرجعه إلى عدم استنشاق القدر الكافى من الهواء المنعش في جو الشركة مع الله &#8230; يؤيد ذلك ما قاله القديس يوحنا ذهبى الفم لشعبه في احدى عظاته &#8221; اننى حينما أرى شدة رغبتكم واسراعكم بالمجئ الى هنا لكى تسمعوا التعليم المقدس ، واشاهد حرارة شهوتكم واشتياقكم الى الخبز الروحى الذى هو كلام الله ، يتضح لى من ذلك نموكم . في الفضيلة . لأنه كما نحكم على الجسد انه حاصل على حال الصحة حينما نراه يتناول الأطعمة بشهية والتذاذ ، هكذا جوعكم لكلام الله يوضح لنا جلياً حسن استعداد أنفسهم وصحتها الكاملة &#8221; .</p>
<p dir="rtl">المرجع : كتاب بستان الروح ( الجزء الثاني صفحة ١٧١- ١٧٧) - الأنبا يؤانس أسقف الغربية</p>
<hr />
<p dir="rtl">[1]<sup>- </sup><sup>تفسير إنجيل متى - ص ١٠٢ - القمص تادرس يعقوب ملطي.</sup></p>

      {% endcreateArticleAccordions %}
    </section>
  {% endblock %}
  