---
layout: 'layouts/reading.html'
title: 'قراءات يوم الثلاثاء من الإسبوع السابع'
tags: 'great-lent'
permalink: /articles/great-lent/7-2.html
---
  {% block content %}
    <section id="readings">
      <ul>
      {% if 'undefined' != 'undefined' %}
      
      {% else %}
      {% if 'null' != 'null' %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">العشية</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeVespers '' '' %}
          </div>
        </div>
      </li>
      {% endif %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">باكر</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeMatins '19.38:18-19' '42.17:1-10' '20.10:17-33@23.49:6-10@18.38:37-41*@+18.39:1-30@73.5:1-15' %}
          </div>
        </div>
      </li>
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <h3 class="flex items-center justify-between">
            <span class="kufi">القداس</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </h3>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeLitugy '46.14:5-17' '61.3:8-15' '44.22:17-24' '19.51:2-3' '43.12:36-43' %}
          </div>
        </div>
      </li>

      {% endif %}
        </ul>
    </section>
    <section id="article">
      <h3 class="mt-8 mb-4 heading-explain">شرح القراءات</h3>
      {% createArticleAccordions %}
        <p>&#8220;لأَنَّ هذَا يَخْفَى عَلَيْهِمْ بِإِرَادَتِهِمْ وَلكِنْ لاَ يَخْفَ عَلَيْكُمْ هذَا الشَّيْءُ الْوَاحِدُ أَيُّهَا الأَحِبَّاءُ: أَنَّ يَوْمًا وَاحِدًا عِنْدَ الرَّبِّ كَأَلْفِ سَنَةٍ، وَأَلْفَ سَنَةٍ كَيَوْمٍ وَاحِدٍ. لاَ يَتَبَاطَأُ الرَّبُّ عَنْ وَعْدِهِ&#8221; (٢بط ٣: ٥، ٨، ٩)</p>
<p>[تفهمي يا نفسي ذلك اليوم الرهيب واستيقظي وأضيئي مصباحك بزيت البهجة.] (قطع الخدمة الأولي من صلاة نصف الليل).</p>
<p>&#8220;أما هؤلاء السادة والمعلمون الذين لهم معرفة الناموس فسيضيئون كالسماء، والذين يحثون الشعوب المتخلفة عن الإيمان على الاهتمام بعبادة الله فيتلألأون ككواكب في الأبدية] (القديس جيروم)<a href="#_ftn1" name="_ftnref1">[1]</a></p>
<h3>شواهد القراءات</h3>
<p>(ام١٠: ١٧- ٣٢)، (اش٤٩: ٦- ١٠)، (اي٣٨: ٣٧-٤١ )، (اي ٣٩: ١- ٣٠)، (مز٣٧: ١٨)، (لو١٧: ١- ١٠)، (١كو١٤: ٥- ١٧)، (٢بط٣: ٨- ١٥)، (أع٢٢: ١٧- ٢٤)، (مز٥٠: ١-٢)، (يو١٢: ٣٦- ٤٣).</p>
<h3>شرح القراءات</h3>
<p><strong>تتكلّم قراءات هذا اليوم</strong> عن الوعي بالملكوت كإحتياج لغير التائبين وكسند قوي للتائبين وكيف ندركه في حياتنا وتستنير عيوننا دائما به وتتركّز وتنحصر أفكارنا وبصيرتنا فيه.</p>
<p><strong>يبدأ سفر الأمثال</strong> أن الأمور العالية لا يدركها إِلَّا الصدّيقين والإستنارة عطيّة مجّانية يعطيها الله للصدّيقين ويحجبها عن المنافقين.</p>
<p>&#8220;شفتا الصديق تدركان الأمور العالية أما الأغبياء فيموتون في نقص الفهم، والحكمة تولد الفطنة للرجل&#8221;.</p>
<p><strong>وفي سفر إشعياء</strong> نبوءة عن ملء الزمان وقمّة إستعلان ملكوت الله في تجسد ابن الله وخلاصه وإستنارة الأمم والشعوب البعيدة عن الله، ويوضّح مدي وغنى نعمة العهد<br />
الجديد للمهان والمكروه والضعيف وكيف يصيروا أولاد الله ويكونوا سبباً لإستنارة الكثيرين.</p>
<p>&#8220;هوذا قد جعلتك عهداً لشعبي نوراً للأمم لتكون خلاصاً إلى أقاصي الأرض هكذا يقول الرب فاديك إله اسرائيل وقدوسه للمهان النفس، لمكروه الأمم، لعبد المتسلطين&#8221;.</p>
<p><strong>وفي سفر أيوب</strong> يسأل الله أيوب بعتاب هل يدرك كل ما يحدث في الكون لذلك تبطل الحكمة البشرية أمام حكمة الله وتدبيره.</p>
<p>&#8220;من الذي يحصي الغيوم بالحكمة ومن يسكب زقاق السموات، أتعرف وقت ولادة الجداء ووعول الصخور أو تلاحظ مخاض الأيائل، لأن الله أعدمها الحكمة ولم يقسم لها فهماً&#8221;.</p>
<p><strong>وفي مزمور باكر</strong> يظهر وعي النفس بخطيتها وإحتياجها الدائم للتوبة.</p>
<p>&#8220;لأني أخبر بإثمي وأهتم من أجل خطيتي&#8221;.</p>
<p><strong>وفي إنجيل باكر</strong> يحذّر الرب من العثرات كدليل على عدم وعينا.</p>
<p>&#8220;ولكن ويل لمن يأتي الشك من قبله خير له أن يعلق به حجر رحى ويلقي في البحر من أن يشكّك أحد هؤلاء احترزوا لأنفسكم&#8221;.</p>
<p><strong>وفي البولس</strong> أهمّية وعي الكنيسة المصلّية وضرورة الصلاة بالذهن كما بالروح ويقصد بالذهن هنا ذهن الآخر أي المشاركين في العبادة.</p>
<p>&#8220;اني أصلي بالروح وأصلي بالذهن أيضاً، أرتل بالروح وأرتل بالذهن أيضاً وإلا فإن باركت بالروح فكيف يشغل مكان العامي، كيف يقول آمين عند شكرك لأنه لا يعرف ماذا تقول، إنكَ قد أحسنت في الشكر إلا أن غيرك لا يبني&#8221;.</p>
<p><strong>ويعلن الكاثوليكون</strong> وعي الكنيسة بمجئ الرب وإستعلان ملكوته للبشر.</p>
<p>&#8220;ولكن أيها الأحباء ينبغي أن لا يخفي عليكم أمر وهو أن يوماً واحداً عند الرب كألف سنة وألف سنة كيوم واحد&#8221;.</p>
<p><strong>وفي الإبركسيس</strong> يعلن غياب وعي اليهود ورفضهم شهادة القدّيس بولس عنه.</p>
<p>&#8220;وحدث أني لما عدت إلى أورشليم وكنت أصلي في الهيكل صرت في غيبة فرأيته يقول لي بادر واخرج سريعاً من أورشليم فإنهم لا يقبلون شهادتك عني&#8221;.</p>
<p><strong>ويؤكّد في مزمور القدّاس</strong> على أعظم إستنارة هى إستنارة التائبين الذي يعرفون خطاياهم ويقدمون التوبة عنها.</p>
<p>&#8220;وتغسلني كثيراً من اثمي، لأني أنا عارف بإثمي&#8221;.</p>
<p><strong>ويختم إنجيل القدّاس</strong> بأصعب وأخطر مصير لرفض إعلانات ذراع الرب وقوّته بأن يتوارى الرب عن النفوس لظلمة عين النفس الداخلية وقساوة القلوب المغلقة أمام نور ابن الله والتي أحبّت مجد الناس أكثر من مجد الله.</p>
<p>&#8220;قال يسوع هذا ومضي فتواري عنهم، طمس عيونهم وأغلق قلوبهم لئلا يبصروا بعيونهم، قال إشعياء هذا لأنه رأي مجد الله وتكلم عنه، ولكنهم لسبب الفريسيين لم يعترفوا به لئلا يخرجوهم من المجمع لأنهم أحبوا مجد الناس أكثر من مجد الله.&#8221;.</p>
<h3>ملخّص القراءات</h3>
<table style="height: 392px;" width="702">
<tbody>
<tr>
<td width="91">سفر الأمثال</td>
<td width="412">الإستنارة وإدراك الأمور العالية عطيّة مجانية من الله للصدّيقين.</td>
</tr>
<tr>
<td width="91">سفر إشعياء</td>
<td width="412">إستنارة الله للشعوب خلال ذبيحة الصليب والخلاص.</td>
</tr>
<tr>
<td width="91">سفر أيوب</td>
<td width="412">قصور الحكمة البشرية أمام علوّ تدبير الله عن أذهان البشر.</td>
</tr>
<tr>
<td width="91">مزمور باكر والقدّاس</td>
<td width="412">إستنارة النفوس التائبة الواعية بضعفاتها وخطاياها.</td>
</tr>
<tr>
<td width="91">إنجيل باكر</td>
<td width="412">الشكوك أو العثرات يعوقان الوعي الدائم بالملكوت.</td>
</tr>
<tr>
<td width="91">البولس</td>
<td width="412">العبادة الجماعية بروح وبوعي وفهم إعلان إستنارة الكنيسة.</td>
</tr>
<tr>
<td width="91">الكاثوليكون</td>
<td width="412">وعي الكنيسة بمجئ الرب وإستعدادها له وطول أناة الله يهدف إلى توبة الجميع.</td>
</tr>
<tr>
<td width="91">الإبركسيس</td>
<td width="412">رفض اليهود لنور وشهادة الخلاص.</td>
</tr>
<tr>
<td width="91">إنجيل القدّاس</td>
<td width="412">عيون مطموسة وقلوب مغلقة نتيجة التعلّق بمجد الناس عن مجد الله كما أن الوعي يأتي من إستقامة القلب ونقاوة أهدافه في إبتغاء مجد الله أكثر من أي شئ آخر.</td>
</tr>
</tbody>
</table>
<h3>الكنيسة في قراءات اليوم</h3>
<table width="503">
<tbody>
<tr>
<td width="91">البولس</td>
<td width="412">مواهب الروح.</td>
</tr>
<tr>
<td width="91">الكاثوليكون</td>
<td width="412">مجئ الرب والسموات الجديدة والأرض الجديدة.</td>
</tr>
<tr>
<td width="91">الإبركسيس</td>
<td width="412">الكرازة للأمم.</td>
</tr>
</tbody>
</table>
<h3></h3>
<h3></h3>
<h3>عظات ابائية</h3>
<h4>إنجيل القداس عند القديس يوحنا ذهبي الفم</h4>
<p> &#8220;لتصيروا أبناء النور&#8221; بمعنى تصيروا &#8220;أبنائي&#8221;. مع أن الإنجيلي في البدء يقول: &#8220;الذين ولدوا ليس من دم ولا من مشيئة جسد، بل من الله&#8221; (يو ١ : ١٣) ، أي وُلدوا من الآب. بينما يُقال هنا أنه هو ولدهم، وذلك لكي تدركوا أن عمل الآب والابن هو واحد.</p>
<p>*    يقول يوحنا الرسول عن السيد المسيح: &#8220;ثم مضى واختفي عنهم&#8221;؛ فإن سألت: وما غرض السيد المسيح من أن يختفي؟ لأنهم لم يحملوا حجارة ليقتلوه، ولا جدفوا عليه مثلما فعلوا فيما سبق، فلِمَ اختفي؟! أجبتك: إذ يعرف السيد ما في قلوبهم من تذمرٍ مملوء بالغضب، لم ينتظر حتى يخرج هذا الغضب إلى حيز التنفيذ، لكنه اختفي ليهدئ من شرهم.</p>
<p>مرة أخرى لاحظوا هنا أن &#8220;لأن&#8221; و&#8221;قال&#8221; لا تشيران إلى علة عدم إيمانهم، إنما تشيران إلى الحدث ذاته. فإنه ليس لأن إشعياء قال هم لم يؤمنوا، وإنما إذ لم يريدوا أن يؤمنوا هو قال: فلماذا لم يعبر الإنجيلي هكذا بدلًا من جعل عدم الإيمان صادر عن النبوة وليست النبوة صدرت عن عدم الإيمان؟ لقد وضع هذا الأمر بطريقة إيجابية قائلًا: &#8220;لهذا لم يقدروا أن يؤمنوا، لأن إشعياء قال&#8221;. إنه يرغب في تثبيت عدم خطأ الحق الكتابي بطرق كثيرة، وأن ما سبق فقاله إشعياء لم يسقط بل حدث ما قاله.</p>
<p>*  &#8220;لهذا لم يقدروا أن يؤمنوا&#8221;،وضعت عوض &#8220;لم يكونوا يريدون أن يؤمنوا&#8221;. لا تتعجب&#8230; إنه لم يقل أن صُنع الفضيلة مستحيل بالنسبة لهم، بل لأنهم لم يريدوا، على هذا الأساس لا يستطيعون كما أن الشمس تبهر العيون الضعيفة ليس بسبب طبيعتها اللائقة بها، هكذا أيضًا بالنسبة للذين لا يبالون بكلمة الله. هكذا قيل في حالة فرعون أن (الله) قسى قلبه. هكذا يكون حال من هم مصرون تمامًا على مقاومة كلمات الله.</p>
<p>هذا هو أسلوب الكتاب، كما قيل: &#8220;أسلمهم إلى فكرٍ مرفوض&#8221; (رو ١ : ٢٨) &#8230; فإن الكاتب هنا لا يقدم الله بكونه هو نفسه يفعل هذه الأمور إنما يظهر أنها تحدث خلال شر الآخرين. فلكي يرعب السامع لذلك يقول الكاتب: &#8220;قسى الله&#8221;، &#8220;أسلمهم&#8221;.</p>
<p>ولكي يُظهر أنه لا يسلمنا ولا يتركنا إلاَّ إذا أردنا نحن ذلك اسمع ما يقوله: &#8220;أليست شروركم قد فصلت بيني وبينكم؟&#8221; (إش ٥٩ : ٢). ويقول هوشع: &#8220;أنتم نسيتم ناموس إلهكم، وأنا أيضًا أنساكم&#8221; (هو ٤ : ٦). وهو نفسه يقول: &#8220;كم مرة أرد أن أجمع أبناءكم&#8230; وأنتم لا تريدون؟&#8221; (لو١٣ : ٣٤) … إذ نعرف هذا ليتنا نبذل كل الجهد ألا نترك الله، بل نتمسك بالاهتمام بنفوسنا ومحبة بعضنا البعض. ليتنا لا نبتر أعضاءنا، فإن هذا عمل من هم مجانين، بل كلما رأيناهم في وضع شرير نترفق بهم بالأكثر.</p>
<p>إن سألت: مجد من رأى إشعياء النبي؟ أجبتك: مجد الآب. ولعلك تقول: فكيف يتحدث إشعياء النبي عن مجد الآب، ويوحنا البشير عن مجد الابن، وبولس الرسول عن مجد الروح؟ أجيبك: لم يكن حالهم حال من يجمعون الأقانيم، لكنهم قالوا هذا القول موضحين رتبة واحدة موجودة بهم، وبيان ذلك أن سمات الآب هي سمات ابنه، وسمات الابن هي سمات الروح.</p>
<p>هذا ما قاله لهم السيد المسيح: &#8220;كيف تقدرون أن تؤمنوا وأنتم تقبلون مجدًا من بعض، والمجد الذي من الإله الواحد لستم تطلبونه؟&#8221; (يو٥ : ٤٤) ، فلم يكونوا إذًا رؤساء، لكنهم كانوا عبيدًا، لأنهم ابتعدوا عن الإيمان لعشقهم في المجد الباطل.<a href="#_ftn1" name="_ftnref1">[2]</a></p>
<h3></h3>
<h3></h3>
<h3>عظات اباء وخدام معاصرون :</h3>
<h4>مجد الله أم مجد الناس ؟ -  لقداسة البابا تواضروس الثاني</h4>
<p>يوم الثلاثاء من الأسبوع السابع لقداسة البابا تواضروس الثاني (يو١٢ : ٣٦ – ٤٣)</p>
<p>أيهما تُفضل : مجد الله أم مجد الناس ؟</p>
<p>هذا الفصل من الكتاب به نبوة من نبوات إشعياء الله النبي ، وهو الذي يلقب بالنبي الإنجيلي ، وأريد أن تنتبهوا  لهذه المعلومة : أن السيد المسيح في أيامه وهو يخدم على الأرض صنع معجزات كثيرة نذكر منها : شفاء الإنسان المطروح منذ ٣٨ سنة ، وخلق عيني المولود أعمى وجعله يبصر ، وشفى المفلوج وجعله يمشي ، وأقام الأموات ، وبالرغم من ذلك كانت هناك قلوب قاسية لا تؤمن به .</p>
<p>يا له من عجب !!!</p>
<p>لماذا كانت هذه القلوب غليظة قاسية لا تؤمن به ؟ لماذا صار لهذا الشعب اليهودي قلب عاص متمرد (إر٥: ٢٣) ؟ لماذا صلبوا وجوههم أكثر من الصخر (إر٥: ٣). إن كان اليهود لم يؤمنوا بالسيد المسيح الذي صنع معجزات كثيرة على مرأى ومسمع منهم ، وأيضاً توجد شعوب كثيرة حتى هذا اليوم لا تؤمن به بالرغم من أن الله ما زال يصنع المعجزات ، ومع ذلك هو يطيل أناته ويبطئ غضبه ويده ممدودة للجميع. (إش ١٠ : ٤). كثيراً ما يرفض الإنسان الله في حياته كمثل من يضع يده على عينيه فتحجب عنه الرؤية ، هكذا يكون الإنسان صاحب القلب القاسي المعاند ، والكتاب المقدس مملوء بالأمثلة عن قساة القلب ، ومن أقوى الصور التي تعبر عن قسوة القلب :</p>
<p><strong> من العهد القديم :</strong></p>
<p>-فرعون مصر</p>
<p>مرات كثيرة يتعامل الله معه من خلال موسى النبي إلا أن قلبه كان قاسياً فيضربه الله ضربات شديدة جداً ولكنه لا يتحرك ولا يلين ، فتتعدد الضربات واحدة تلو الأخرى : تبدأ بضربة الدم وفيها يتحول ماء النيل الذي تشرب منه مصر كلها إلى دم ، وتخيل كيف كان يشرب الناس وكيف كانوا يعيشون ؟ وكيف كانت تروى الأرض ؟ وظل النهر على هذه الصورة مدة ثلاثة أيام متتالية ، وقلب فرعون لا يزال قاسياً .</p>
<p>ثم تأتي الضربة الثانية ، وهي ضربة الذباب وفيها يهاجم الذباب مصر بكثافة شديدة ، ويظل قلب فرعون قاسيا . وبعدها كانت ضربة الظلام ويخيم الظلام على كل أرض مصر لمدة ثلاثة أيام&#8230;، ما هذا الجفاء الذي كان بداخل قلب فرعون ؟! وبالرغم من ذلك نجد الله يطيل أناته ويتمهل عليه ويعطيه فرصة أخرى ، ولكن كان القلب يقسو أكثر فأكثر ، إلى أن جاءت الضربة التي جعلته ينتبه هو وكل شعبه وهي ضربة الأبكار ، تلك الضربة التي مات فيها الابن البكر في كل بيت .</p>
<p><strong>من العهد الجديد :</strong></p>
<p> يهوذا الإسخريوطي :</p>
<p>المسيح يختاره ويصيره تلميذاً له ، يرافق المسيح ويجلس وسط التلاميذ ، ويتبادل أطراف الحديث معهم ، ولكن ماذا حدث له  ؟ صار أنانياً ، وشعر في نفسه أن المسيح رخيص ففكر أن يبيعه بثمن بخس للغاية ، بالرغم أن السيد المسيح كان يكرم يهوذا وأعطاه أن يكون أميناً للصندوق ، ولكن يهوذا فضل مجد الناس عن مجد الله ، فقد فضل ما أعطاه له اليهود وباع سيده بثمن رخيص ، وهو لا يميز بين الغالي والرخيص . لذلك كان السؤال الذي يطرحه علينا إنجيل هذا اليوم هو:</p>
<p>أيهما تفضل : مجد الله أم مجد الناس ؟ مجد الناس هو ما يمنحه الناس ، ولكن مجد الله كيف تحصل عليه ؟</p>
<p>نحن نحتاج في كل يوم أن نأخذ من المسيح وباجتهاد ، ومن الأمور التي لا بد أن نأخذها من المسيح :</p>
<p>(١)تأخذ من المسيح وانت في بيتك</p>
<p> ١-الإنجيل : هو فم المسيح ، وكلمة الله المقدسة ، الكتاب المقدس هو المرجع الأول والأساسي في حياتنا ، ولدينا جميعاً الإنجيل، ونحن في زمن يتوفر فيه الإنجيل بكل الأشكال والأحجام . فيما مضى كان الإنجيل غير متوفر في كل مكان ، وقبل اختراع الطباعة كان الكتاب المقدس ينسخ في سنوات ، أما الآن فهو متاح للجميع بكل الصور . نحن نحتاج باستمرار أن نقرأ الكتاب ونكتشف ونصلى ونفهم ونعيش لتصير حياتنا كلها بحسب الكتاب المقدس . ضع الكتاب المقدس دائما أمامك ، علم بيتك كيف يقرأ الإنجيل ، ضع أمامك خطة بمشورة أب اعترافك لتعرف طريقك وتعيش فيه .</p>
<p>٢ الأجبية :</p>
<p>من الأجبية يطل المسيح بنور وجهه عليك ، مثلما نقول فيها : &#8221; بنورك يا رب نعاين النور &#8220;. .</p>
<p><strong>هناك فوائد عدة لصلاة الأجبية :</strong></p>
<p>أ تنقل روح الإنجيل إلى المصلي ، فيعيش الإنسان في بيئة نقية .</p>
<p>ب  حياة معاشة مع المسيح لحظة بلحظة&#8230; فتتحقق مسيحيتك من خلال صلواتك ، فتصير مسيحيا بالحقيقة .</p>
<p>ج  الممارسة الدائمة تُعطي يقظة روحية ، ليصل الإنسان إلى نقاوة القلب ، فيكون الإنسان يقظاً في كل تصرفاته وأقواله. –</p>
<p>د -  تُعبر عن أعماق الإنسان ، فهي تساعدك في ربط فكرك وأهوائك . إذا كان الكلام بين الناس ينقل الأفكار ، والفنون تنقل المشاعر، فإن المزامير تعبر عن نفسي وعن مشاعري ، وما لا أستطيع أن أقوله .</p>
<p>ه - المزامير تُقدس الوقت ، تقدس عمر الإنسان ، وتجعل الإنسان في الحضرة الإلهية دائماً .</p>
<p> و المزامير تحمي الإنسان من الفتور أو الجفاف أو الانحدار الروحي ، فهي تحمي الإنسان من كل الحروب الروحية .</p>
<p>العسل لا يعرف طعمه وحلاوته إلا من يتذوقه ، لذلك خذ من المزامير وتذوق وتذكر عبارة : &#8221; ذوقوا وانظروا ما أطيب الرب &#8221; (مز ٣٤ : ٨). صل صلوات المزامير ولو مزموراً واحداً ، فهناك أجابي صغيرة تحوي صلوات باكر والغروب والنوم يمكن أن تُوضع داخل الجيب والحقائب الصغيرة فهي سهلة الحمل ، وفي يومنا هذا الأجبية موجودة على تليفونك المحمول &#8230; فقط ابدأ.</p>
<p>۳ الترانيم والتسابيح : حاول أن تسبح باستمرار ؛ لأن التسبيح هو لغة السمائيين ، التسبيح هو الصورة الأرقى والأرفع التي تقدمها في الصلاة ، ممكن أن تكون الصلاة عبارة عن كلام نقوله باعتبار أن الإنسان كائن ناطق ، الله أعطى له قدرة النطق ثم جاءت اللغة ، وأصبح هناك لغات كثيرة، لكن التسبيح هو الصورة الأرفع مقاماً في مخاطبة الله ، عندما تخاطب الله نستخدم لغة التسبيح ، والتسبيح بإختصار هو الصلاة التي يصاحبها الموسيقى أو النغم ، التسبيح يجعلك نشيطاً ، يقول القديس باسيليوس : &#8221; الألحان هي هدوء للنفس وراحة للروح ، وسلطان السلام الذي يسكن الأمواج ويسكت عواصف حركات قلوبنا &#8220;، ويقول القديس يوحنا الذهبي الفم عن التسبيح : &#8221; لا شيء يعطي للنفس أجنحة وينزعها من الأرض ويخلصها من رباطات الجسد ويعلمها احتقار الأمور الزمنية مثل التسبيح بالنغمات الموزونة &#8220;، إن التسبيح هو بهجة للإنسان .</p>
<p>٤ سير الأباء : حاول قراءة سيرة قديس اليوم ، ولتكن لك عشرة يومية مع قديس اليوم واجعله يرافقك طوال يومك ؛ لأن سير آبائنا القديسين تحمل لنا روح الرجاء التي تدفعهم لترك العالم بحثاً عن العريس الحقيقي ، وكذلك الشهداء الذين ضحوا بحياتهم . إن قصص الشهداء لم تكن للفخر أو للإنبهار بها ، وإنما للحياة ، لكي نحيا كما حيا هؤلاء الشهداء .</p>
<p><strong>( ۲ ) تأخذ من المسيح وأنت في الكنيسة :</strong></p>
<p> ۱ الكلمة المسموعة : وتتمثل في كلمة التعليم الكنسي ، فهو عمل الكنيسة الأساسي ، لذلك التعليم له المجال الأول في الكنيسة ، مثلما نطلق على السيد المسيح : &#8221; المعلم الصالح &#8221; وأول شيء نتعلمه في الكنيسة هو مصادر التعليم فى الكنيسة مثل الاجتماعات الكنسية .</p>
<p>٢ كلمة الإرشاد : جميعنا في حاجة إلى أب الاعتراف في أخذ المشورة .</p>
<p>۳ فعل الأسرار: في الكنيسة نجد الراحة والشفاء ، والراحة والشفاء نجدهما من خلال سر مسحة المرضى ( القنديل العام )، وهذا السر يعمل فينا عندما نكون مستعدين له بالتوبة والاعتراف ، ونمارس كل شيء في طقس صلوات هذا السر . قد يكون هناك إنسان مريضاً ويذهب للطبيب ويبدأ في العلاج ، ويقدم توبة واعتراف بخطاياه أمام الكاهن ، ثم تصلى له صلوات سر مسحة المرضى ، ويرشمه الكاهن بالزيت ، فيبدأ هذا الإنسان في الشفاء بسبب قوة عمل الروح القدس في الصلوات المرفوعة التي تُمارس في هذا السر . ولذلك في جمعة ختام الصوم نرى كثيرين يصرون على رشمهم بالزيت حتى ولو تأخروا عن الحضور ؛ لأن الزيت قد تقدس فعلاً بالصلوات .</p>
<p>٤ الكلمة المأكولة : ويتمثل في سر التناول أو الإفخارستيا ، وهو المسيح نفسه ، إن الإفخارستيا مستمرة مع حياة الإنسان ، في آخر القداس يقول الأب الكاهن عبارة جميلة جدا وهي &#8221; يعطى عنا خلاصاً ، وغفراناً للخطايا ، وحياة أبدية لمن يتناول منه.&#8221;</p>
<p>ولا بد أن تعي أن الماضي والحاضر والمستقبل في داخل سر الإفخارستيا . والإفخارستيا يجب أن نستعد لها ، والقداس هو المقابلة الحية مع شخص المسيح &#8221; من يأكل جسدي ويشرب دمي يثبت في وأنا فيه &#8221; (يو ٦ : ٥٦). ليس هناك قانون أجمل من ذلك ، هذا هو الارتباط الحياتي ، وكأن هذا الإنسان يحيا بالمسيح .</p>
<p>هذه هي الإجابة عن السؤال الذي وجهه لك السيد المسيح اليوم: &#8221; أيهما تفضل : مجد الله أم مجد الناس ؟&#8221;</p>
<p>وأنت هل ستفعل مثل فرعون ويهوذا اللذين فضلا مجد الناس ؟ أم ستختار كما قال معلمنا بولس الرسول &#8221; خسرت كل الأشياء ، وأنا أحسبها نفاية لكي أربح المسيح &#8221; (في٣ : ٨)، لقد فضل بولس الرسول مجد الله في كل يوم وكل عمل ، أما أنت ففضل مجد الله لا مجد الناس واسع في ذلك وابحث عنه ، واجتهد أن يكون مجد الله حاضرا معك في كل يوم .</p>
<p>لإلهنا المجد الدائم والكرامة من الآن وإلى الأبد. آمين.<a href="#_ftn1" name="_ftnref1">[3]</a></p>
<h4></h4>
<h4>أريد أن أري الله للقمص يوحنا باقي</h4>
<ul>
<li><strong>الباب الاول : أريد أن أري الله</strong></li>
</ul>
<p>* أنا أؤمن بوجود الله ولكني أريد أن أراه بعينى ، فمن حقى أن أرى إلهی ، فكيف أعبد إلهًا لا أراه ؟!</p>
<p>*ثم إن الله غير محدود ويملأ كل مكان وهو أعلى من أن تراه . أنت مخلوق صغير من مخلوقاته ، فلا تستطيع أن تحصره ، فهو ليس مثل المخلوقات التي تراها بعينيك بل هو خالق الكل وإن رأيته مثل باقي المخلوقات فلا يكون هو الله .</p>
<p>* أنا أعلم أنی محدود وهو غير محدود ولكني أريد أن أرى ولو شيئًا منه .</p>
<p>* تستطيع إدراكه من خلال مخلوقاته ، كما يقول معلمنا بولس الرسول&#8221; لان أموره غير المنظورة ترى منذ خلق العالم مدركة بالمصنوعات قدرته السرمدية ولا هوته &#8220;(رو٢٠ :١) .</p>
<p>كما يظهر ذلك في:</p>
<p>١- خلق الله لكل هذه المخلوقات من العدم ولا يمكن أن تتطور المخلوقات إلا من مخلوقات أولى ولكن من خلق المادة التي تطورت منها كل هذه المخلوقات إلا الله ؟</p>
<p>۲- أبدع الله في مخلوقاته سواء النباتات بأزهارها الجميلة وروائحها العطرية التي لا يستطيع الإنسان أن يصنع مثلها في الجمال ، والحيوانات المختلفة بأشكالها المتباينة ، وفوق الكل الإنسان الذي مازال العلماء يدرسون عظمة تكوينه ولم يدركوا إلا القليل عنه .</p>
<p>٣- نظام الكون الذي لا يمكن أن يوجد إلا بواسطة منظم ، الذي هو الله ، فالكواكب تدور في مسارات محدودة رغم ضخامتها ولو انحرف أحدها ولو قليلاً لتحطم الكون كله لأنه مترابط ، وكل مجموعة شمسية تتحرك كواكبها بنظام خاص ودقيق فلا يتعارض مع باقي المجاميع الشمسية داخل ما يسمى بالمجرات ؛ ويوجد في العالم ملايين المجرات . فمن هو المنظم العظيم لكل هذه إلا الله.</p>
<p>*أنت تثبت لى وجود الله . أشكرك جداً على هذا ولكن مازالت أشواق قلبي أن أراه لأني أحبه . أنا لا أشك في وجوده ولكني مشتاق أن ألمسه .</p>
<p>*إن موسى قبلك طلب أن يرى الله ولكن الله قال له أنه لا يمكن أن يراه إنسان ، فلأجل مجده وبهائه العظيم لا يحتمل أحد أن يراه.</p>
<p>* ولكن موسی تکلم مع الله كثيرا فإن كنت لا أحتمل عظمته ومجده ولكن أريد أن أراه بأي طريقة وأشعر بوجوده . لقد تمتع الناس برؤياه عندما تجسد وعاشوا معه ولمسوه ، وبالطبع ساعدهم هذا على الحياة الروحية ومعرفته .</p>
<p>*حقا إنها نعمة كبيرة تمتع بها كل من عاشوا أيام تجسد المسيح . ولكن لا تنسى أن كثيرين لم يؤمنوا بل قاموا عليه وصلبوه . وهو أيضا لم يحرم كل من عاشوا على الأرض بعد صعوده بأن أعطانا الروح القدس ليسكن فينا ويشعرنا بوجوده .</p>
<p>* الخلاصة أنا أريد أن أرى الله &#8230; أنا شخص عادي لا أريد أبحاثًا عن الله ولكني أريده هو لأني أحبه &#8230; أرشدني إلى وسائل تساعدني أن أرى الله .</p>
<ul>
<li><strong>الباب الثاني وسائل رؤية الله</strong></li>
</ul>
<p>إن الله يحبك ويريد أن يظهر نفسه لك ، ولكن لأنك مازلت في الجسد لاتستطيع أن تنطلق في تمتعك برؤياه ، فالجسد كالستارة التي تحجب عنك الكثير من عظمة الله ، ولكن على قدر ما تحيا بالروح وتخضع الجسد لها تنطلق تدريجيًا من سجن الجسد لتعاین الله ، فيبدأ الله بكشف نفسه لك وتزداد تدريجيًا رؤيتك له حتى تستحق أن تنطلق من الجسد لتراه بأكثر وضوح في السماء .</p>
<p>وفي الأبدية تنمو في معرفة الله إلى ما لا نهاية وتتمتع برؤياه بما لا يعبر عنه . وإليك بعض الوسائل التي رتبها لك الله لتساعدك على رؤياه.</p>
<ul>
<li><strong>الفصل الأول </strong><strong>الأسرار المقدسة</strong></li>
</ul>
<p>۱. ضرورة الأسرار:</p>
<p>الله يظهر نفسه لمحبيه المؤمنين به ، لذا يتجلى في كنيسته وسط أولاده الذين يريدون أن يروه . فعلى قدر عظمته التي لا تحد ، لكن من السهل جدًا أن يعاينه من يطلبه . وقد رتب الله في الكنيسة وسائل المعاينته أهمها أسرار الكنيسة التي هي أساس الخلاص وبدونها لا يمكن الوصول إلى الملكوت .</p>
<p>۲۔ سرالمعمودية :</p>
<p>الأسرار المقدسة هي عمل خفى للروح القدس تؤمن به النفس وتعاينه ملموسًا من خلال مادة السر ، ففي سر المعمودية مثلاً يحل الروح القدس على الماء ويعطيه خاصية أن يغير طبيعة كل من ينزل إليه فيلده ميلاداً جديداً وينزع عنه الطبيعة المائلة للفساد ويعطيه طبيعة جديدة مائلة للخير ، فالعين ترى الماء ويد الكاهن تلمسه والإيمان يعاين الله الذي يلد أولاده من بطن الكنيسة ، التي هي المعمودية ، ليصيروا أبناء لها وأعضاء في الجسد الذي هو المسيح .</p>
<p>۳- سرالإعتراف :</p>
<p>أكثر الأسرار التي نعاين فيها الله نتيجة لتكرارها في حياتنا هي سرى الإعتراف والتناول . ففي سر التوبة والإعتراف يدخل المعترف إلى حضرة الله في وجود الكاهن وکیل أسراره ، وبعد الصلاة لاستدعاء الروح القدس يلقي المعترف بكل خطاياه ومتاعبه عند أقدام المسيح الذي يعطي بروحه القدوس إرشادات محددة لعلاج مشاكل المعترف على لسان أب الإعتراف ، فيسمع المعترف صوت الله بشكل يحتمله وهو كلمات الكاهن ، لأنه لا يستطيع أن يحتمل شيئًا من عظمة الله وصوته كما ظهر على الجبل لبني إسرائيل عندما أعطاهم الوصايا والشريعة ، فصوت الرعود كان شديداً مع البروق والضباب والنار والدخان وصوت البوق الذي كان يزداد اشتدادا ، فلم يحتمل بنو إسرائيل سماع الله أو رؤيته وطلبوا من موسي أن يتكلم هو مع الله ثم يخبرهم بما يريده الله منهم (خر ۱۹).</p>
<p>بعد إتمام الإعتراف يضع الكاهن الصليب على رأس المعترف ويسمع بأذنيه حلاً من الله على فم الكاهن بغفران جميع خطاياه .</p>
<p>إنها رؤية لله على أعلى مستوى يشعر بها كل من استعد لهذا السر ، وهو فرصة للحوار مع الله وسؤاله عن كل شئ ، فيسمع الإنسان إجابات الله على فم الكاهن الذي هو أداة هذا السر ليعلن الله وجوده به .</p>
<p>۳- سرالتناول :</p>
<p>في سر التناول من جسد الرب ودمه ، لا يرى الإنسان الله فقط بل يأخذه داخله ويتحد به ، فتسري قوة الله فيه لتشدده وتثبته وتنير عينيه، وتغفر خطاياه .</p>
<p>إنك تستطيع أن ترى الله في جسده المقسوم ودمه المسفوك المقدم على المذبح كل يوم ، وتراه ليس رؤية العين فقط بل إحساس الكيان كله في التلامس والاتحاد به ليغير حياتك من الضعف إلى القوة ويشبعك بمحبته ويقودك في طريق الأبدية السعيدة .</p>
<p>٤- الإستعداد للأسرار :</p>
<p>إستعد للسر بالتوبة والصلاة واطلب رؤيته وألح عليه ، حينئذ يكشف لك نفسه أكثر من كل من حولك لأنك تريده . وهو مستعد أن يعلن نفسه بطرق ملموسة لبعض الناس أثناء الأسرار تأكيداً لحضرته ، ولكن على أي الأحوال ستشعر به واضحاً عاملاً فيك فيمتلئ قلبك سلاما .</p>
<p>كان هذا الكاهن يخدم في كنيسة بإحدى قرى مصر وقد اعتاد عمل القداسات وتقديم ذبيحة جسد الرب ودمه ليتناول منها المؤمنون ، ولكن يبدو أنه من اعتيادهم التناول فتوت مشاعرهم من جهة مجد الله العظيم الذي يقدم نفسه لهم على المذبح كل يوم ليروه ويتحدوا به .</p>
<p>في أحد الأيام وبعد أن أنهى الكاهن صلاة القداس وناول الشعب وصرفهم ، سار في طريقه بجوار الترعة واتسخت يداه من الأتربة فنزل إلى الترعة ليغسلهما ، وفيما هو يفعل ذلك سمع صرخات من بعيد : •حرام عليكم ما تغرقوش الولد ..</p>
<p>فنظر الكاهن حوله ولم يجد أي أطفال ، فتعجب هو وكل من معه ، وحاول ثانية أن يغسل يديه ولكنه سمع صرخات أحد الفلاحين من بعيد تنادی ثانية :</p>
<p>• حرام عليكم ما تموتوش الولد ..</p>
<p>إزداد تعجب الكاهن ومن معه ولكن الروح القدس أرشده فنظر إلى يديه ولاحظ أن هناك جزءا صغيرا من جسد الرب ودمه مازال عالقا بأحد أصابعه ، ففهم وأسرع يلتقطه بفمه ويعتذر لله عن تهاونه ويشكره لأنه أرشده ونبه قلبه ، وشكر أيضا ملاك الذبيحة الذي نبهه ولعله كان صوت الفلاح هذا الذي نادى عليه ، وشعر هو وكل من معه بخوف شديد من أجل عظمة الله الذي يتنازل ويتجسد ليفدينا ويقدم نفسه لنا على المذبح المقدس في الكنيسة .</p>
<p>في القداس التالي بالكنيسة قص الكاهن كل ما حدث على الشعب ، فامتلأت قلوبهم خوفاً وفرحاً وفي نفس الوقت شکروا الله الذي نبه قلوبهم لتخرج من فتورها ، وازداد ارتباطهم بالقداسات والتناول من الأسرار المقدسة ، واهتم كل أهل القرية بعد ذلك بالمواظبة على حضور القداسات ليعاينوا الله ويتمتعوا برؤيته.</p>
<ul>
<li><strong>الفصل الثاني الصلاة</strong></li>
</ul>
<p><strong>١. الله يدعوك للصلاة</strong></p>
<p>إن كانت مقابلة العظماء في الأرض ليست میسورة للجميع ولكن مقابلة الله ملك الملوك ورب الأرباب متاحة للجميع في الصلاة . فهو يرحب بهم ويدعوهم للحديث معه في كل وقت بل يمسك بهم حتى لا ينصرفوا عنه أو يملوا من الوجود بين يديه . &#8220;ينبغي أن يصلي كل حين ولا يمل &#8221; (لو ۱:۱۸) ، &#8221; صلوا بلا انقطاع &#8221; (١تس ٥ : ١٧).</p>
<p><strong>۲. تحدث بدالة البنوة </strong></p>
<p>صلاتك هي استجابة لدعوة الله الذي يريد أن يعلن نفسه لك ويلتقي بك ، فأنت لست متطفلاً على الله ، بل ادخل بدالة البنوة لتجد أحضانه مفتوحة لك وتفرح بك لأنك استجبت لدعوته .</p>
<p>عندما تتقابل معه في الصلاة تحدث معه ببساطة في كل ما تريد ، لأنه أبوك فلا تخجل منه واعلم أنه يقدر كلامك ويهتم به لأنك ابنه . أشكره على عطاياه واعتذر على خطاياك واطلب منه ما تريد لك ولغيرك ممن تهتم بهم .</p>
<p><strong>٣. لقاء مستمر </strong></p>
<p>إبدأ يومك بالصلاة لتصافح الله وتأخذه معك في مسيرة حياتك اليومية ، تحدث معه في الطريق واطلبه قبل أي عمل وانتهز الفرص لتخلو به جانبا وتردد مزاميرك فتتمتع برؤيته مرات كثيرة على مدى اليوم ، وإذا ضغطت عليك المشاغل فلك فرصة في نهاية اليوم لتسرع إلى مخدعك تبث أشواقك له وتستريح بين يديه مهما كان تعب اليوم كله .</p>
<p><strong>٤- تحدث والله يجيب </strong></p>
<p>أطلب من الله ما تريد وثق أنه يسمعك وبالطبع يستطيع أن يرد عليك ، وذلك بطرق مختلفة منها أن تشعر بميل داخلك إلى شئ يزداد ثباتًا مع صلواتك . ولأن الله يكلمك بوضوح فهو يعرفك ويقدم نفسه لك بلا غموض بشرط أن تسلم مشيئتك له وتخضع الإرادته فيسهل عليك سماعه .</p>
<p><strong>٥- الصلاة طريق الكاملين :</strong></p>
<p>عندما تتذوق حلاوة الحديث مع الله في الصلاة ، يفرح قلبك وتزداد أشواقك للوجود معه ، فتحب التسبيح والشكر وتردد كلمات التسبحة ومزامير الشكر فتشعر بمجده يضئ عليك وتدخل في إحساس فرح لا تريد الخروج منه ، وهكذا ترى الله ويزداد وضوحًا لك قدر ما تشتاق إلى الصلاة وتعطيها وقتًا لك أطول طوال اليوم .</p>
<p>كان هذا الجندي الذي يدعى مجدي مجندا أثناء الحرب مع إسرائيل ، وبعد الإنتصار عليها استطاعت القوات الإسرائيلية أن تحدث ثغرة في الجيش المصرى ، وبهذا حاصرت مجموعة من الجنود المصريين کان بينهم هذا الجندي وانقطعت أخبارهم تمامًا عن ذويهم . بدأ القلق يساور أسرته المؤمنة بالمسيح ، فأسرعوا إلى الصلاة من الصباح إلى الليل لمدة ثلاثة أيام وفي اليوم الثالث طرق الباب ضابط برتبة كبيرة طويل القامة وله شارب كثيف وكان مملوءًا من القوة والحيوية وقال لهم : أنه حضر إليهم من طرف ابنهم مجدى وطمأنهم على سلامته وبشرهم بأن المشكلة ستنتهي خلال أسبوع وسيتم تبادل الأسرى ويعود مجدى إلى بيته ، ففرحوا جدًا وشكروا هذا الضابط وبعد انصرافه رفعوا صلاة شكر عميقة لله واستمروا في صلواتهم .</p>
<p>بعد أسبوع وصل مجدى إليهم ، وكم كانت فرحتهم بلقياه بعد غيبة طويلة كان يعد فيها من المفقودين .</p>
<p>بعد أن اطمأنوا على كل أحواله ، شكروه على الضابط الذي أرسله إليهم وطمأنهم ، لأن قلوبهم كانت مضطربة وفي قلق شديد عليه ولم يهدئهم إلا وصول هذا الضابط إليهم . تعجب مجدى وقال لهم أنه لم يرسل إليهم أحدًا .</p>
<p>علت علامات الحيرة والدهشة على وجوه الكل ، يا ترى من هذا الضابط الذي هدأ قلوبهم وحدد لهم میعاد رجوع مجدى بالضبط ؟!</p>
<p>أرشد الله أحد أفراد الأسرة وقال لهم : أنه لا شك مارجرجس شفيعنا الذي طلبناه كثيرا أثناء الثلاثة أيام فأرسله الله إلينا ليطمئنا .</p>
<p>وقف الجميع يقدمون صلاة شكر وتمجيد للشهيد العظيم مارجرجس وقد امتزجت دموعهم بابتساماتهم وازدادت قلوبهم ثباتا في الإيمان بقوة الصلاة التي تحرك السماء وكل قديسيها .</p>
<ul>
<li><strong>الفصل الثالث الكتاب المقدس</strong></li>
</ul>
<p><strong>۱- تجسد الله </strong></p>
<p>الله لا يستطيع أحد أن يراه ولكنه يريدك أن تراه ، ولأنك مخلوق صغير وإمكانياتك محدودة فهذا يستدعى من الله أن يتضع ويجسد نفسه في صورة ملموسة يسهل عليك أن تراها ؛ وهذا ما حدث في ملء الزمان بتجسده &#8221; الله لم يره أحد قط الابن الوحيد الذي في حضن الآب هو خبر &#8221; (يو ١ : ١٨) . وإمعانا من في تبسيط نفسه ليسهل على الإنسان أن يراه ، جسد نفسه أيضا في كلمات مقروءة وهي كلمات الكتاب المقدس الذي تستطيع أن تلتقى مع الله من خلاله دون أن يشعر بك أحد ، فيحدثك في أمور شخصية أنت وحدك الذي تفهمها ، فالكتاب المقدس رسالة شخصية لك من الله وحديث مفتوح منه لكل طالبيه .</p>
<p><strong>٢ الله يجيب </strong></p>
<p>إن الله يشعر بك ويسمع صلاتك ويرد عليك بطرق مختلفة من أهمها الكتاب المقدس ، سواء عندما تقرأه يوميًا في قراءتك المنظمة المتتالية لأصحاحاته أو بورود آية على ذهنك لم تكن تفكر فيها من قبل ليرد بها على سؤالك .</p>
<p><strong>۳۔ صفات الله</strong></p>
<p>في الكتاب المقدس يكشف الله لك عن نفسه لتفهم طباعه وأسلوبه وتكون صداقة معه ، فهو أعظم من كل البشر ومحبته فائقة لا يعبر عنها وتستطيع أن تلمسها من خلال معاملاته مع أولاده في العهدين ، وهكذا تتعرف على الله عن قرب .</p>
<p><strong>٤-الله غني </strong></p>
<p>يتحدث الله معك بالكتاب المقدس في كل مواضيع حياتك التي قد تكون حدثت مع غيرك ولكنها تنطبق عليك تماما ، وقد تكون مواقف أو آيات موجهة لأشخاص ولكنها تناسب الموقف الذي تمر به الآن . فكلام الله غنى يشبع ويجيب ويرشد أولاده في كل جيل ، بل وكلما قرأته تكتشف جديدًا فيه لتعرف الله أكثر من ذي قبل وتراه أوضح وتشبع بحبه .</p>
<p><strong>٥- إختر آية</strong></p>
<p>إحرص على اختيار آية كل يوم مما تقرأه وتحاول تطبيقها في حياتك ، وحينئذ ستكتشف أنه لأجل صلاتك وطلبك آية من الله ستجد أن هذه الآية حل لمشاكل كثيرة تقابلك في هذا اليوم وإرشاد واضح لحيرة قلبك .</p>
<p><strong>٦- قدمه لغيرك :</strong></p>
<p>عندما تتمتع بلقاء الله في الكتاب المقدس كل يوم ، فلا تحرم غيرك من التمتع به ، بل شجعهم على قراءته فقد يكونوا حتى الآن غير مختبرين اللقاء بالله خلال آياته ، وبهذا تخدمهم أكبر خدمة إذ تسندهم وتفرح قلوبهم بعشرة الله .</p>
<p>تعرض هذا الشاب منذ طفولته لقسوة في المعاملة من والديه ، فكانت أمه عصبية جدا .. تغضب وتعاقبه بشدة وكانت تفضل أخته عليه لأجل هدوئها وطاعتها ، أما والده فقد انشغل بأعماله وبعلاقاته السيئة مما كان يثير شجار كثير بينه وبين زوجته أدى في النهاية إلى الإنفصال .</p>
<p>شعر هذا الشاب باضطراب داخله وأنه فاقد للحنان والحب مما جعله أنانيا يفكر في راحته قبل كل من حوله ، فتباعد عنه زملاء الدراسة بالإضافة إلى ضيق أسرته منه مما زاد اضطرابه وجعله يتعثر في دراسته ويرسب السنة تلو الأخرى .</p>
<p>بدأت صداقته مع بعض الأصدقاء الأشرار لعله يجد نفسه بينهم ، وبالفعل بدأ يتميز في العنف والقسوة عندما كانوا يتعرضون لمشاجرات مع مجموعات أخرى من الشباب حتى صار زعيمًا لمجموعته ، فأشبع هذا رغبته في الإعجاب بنفسه وزاد أنانيته أيضا .</p>
<p>إحتاج للمال ، إذ كثرت طلباته ولم تعد والدته قادرة على توفيرها ، ففكر مع زملائه في السرقة التي بدأت بمسروقات قليلة ثم ازدادت تدريجيا مستخدما فيها قوته وتهديداته للآخرين حتى بدأ في تدبير السطو على بعض المنازل بل وأصبح معروفا في منطقته بالعنف والبلطجة .</p>
<p>استمر في سطوه على المنازل والمحلات حتى ضج منه الناس وأبلغوا البوليس الذي دبر له كمينًا وتم القبض عليه هو وبعض زملائه وحكم عليه بالسجن .</p>
<p>تميز داخل السجن بالقسوة في معاملته مع زملائه فكانوا يتحاشونه مما أكد شعور العزلة داخله بل وسخطه على العالم والناس وكل شئ حوله .</p>
<p>سمع كاهن السجن المسئول عن الإرشاد الديني فيه بخبر هذا السجين فطلب أن يجلس معه ، فذهب أحد نزلاء السجن ليدعوه ، أما هو فرفض وبعد إلحاح قبل وأتى إلى الكاهن الذي سأله :</p>
<p>*لماذا لا تريد أن تحضر &#8230; إنى أحبك وأريد أن ألتقى بك .</p>
<p>•أنت لا تعرفني فكيف تحبنى .. لا يوجد إنسان واحد يحبني .</p>
<p>*لماذا تقول هذا عن نفسك ؟</p>
<p>• أنا أعرف أني أناني وعنيف ولا أستطيع أن أكون غير ذلك لأن حياتي علمتني أن أكون هكذا وبالتالي لا يمكن أن يحبنى أحد .</p>
<p>* يوجد واحد يحبك ويريد الجلوس معك .</p>
<p>تساءل بتهكم قائلا : يا ترى من هو ؟ !</p>
<p>* هو المسيح الذي مات من أجلك ومن أجل كل البشر ، الذي أحبك حتى قدم حياته لأجلك ، وهو يريد أن يكون معك وأنت داخل السجن ليرفع عنك أتعابك ويسندك .</p>
<p>• أشكرك أنك تقوم بوظيفتك حسنا ، فقد حفظت هذا الكلام وتقوله لكل من تقابله ولكن إبحث عن شخص آخر تقول له هذا الكلام . ثم هم بالإنصراف .</p>
<p>* إنتظر قليلا فإني أريد أن أعطيك هدية .</p>
<p>وأخرج الكاهن من جيبه إنجيلا صغيرًا ليقدمه له ، فرفض الشاب أن يأخذه وقال له :</p>
<p>• إعطه لأي شخص آخر لأنى لا أريد أن أقرأ فيه .</p>
<p>* خده معك ، إنه لن يضرك ، فقط إحتفظ به .</p>
<p>حتى ينهى الشاب هذا الحديث السخيف وغير المجدي في نظره ، أخذ الإنجيل وانصرف إلى زنزانته ولم يحضر القداس الذي كان الكاهن سيقيمه . ظل هذا الشاب في عنفه وانعزاله عن باقى المسجونين والضيق يزداد داخله ، ولكن كلمات الكاهن كانت تتردد داخله مرات كثيرة .. « إنه يحبك ومات لأجلك ) .</p>
<p>في أحد الأيام ازداد الضيق بهذا الشاب وهو عاجز عن الخروج من هذا السجن القاسي عليه الذي أفقده حريته ومحاولته إثبات ذاته ، ثم نظر حوله فوقعت عيناه على هذا الكتاب الصغير الذي أعطاه له الكاهن ، فقال في نفسه لماذا لا أقرأ فيه ؟ ودعاه حب الإستطلاع أن يفتحه .</p>
<p>شعر الشاب عندما بدأ يقرأ في إنجيل متى بشئ من الهدوء والتعجب لأحداث حياة المسيح مما زاد رغبته في معرفة الكثير عنه ، فأخذ يقرأ فيه كل يوم صفحات ليست بقليلة وازداد إحساسه بحنان المسيح ورفقه بمن حوله وفي نفس الوقت شعر بقوة شخصيته ونجاحه في كل خطواته .</p>
<p>بدأ قلبه يتأثر ويقول في نفسه :</p>
<p>• هل يمكن أن يحبني بعد كل ما فعلت ؟ !</p>
<p>استمر في قراءته بل بدأ يلتهم الكلمات ويقرأ ساعات في كل يوم .</p>
<p>بدأ يسأل زملاءه عن ميعاد الزيارة التالية للكاهن وعندما حضر أسرع إليه يريد الجلوس معه ، وبدأ يحكى له عن حياته ويسأله هل يمكن أن يقبله المسيح بعد كل ما فعل ؟</p>
<p>شجعه الكاهن بكلمات محبة كثيرة وبعد أن اعترف بكل خطاياه في سر الإعتراف ، نال حلاً بالغفران وتقدم للتناول من الأسرار المقدسة بعد انقطاع طويل جدًا عنها إذ لم يتناول منذ طفولته .</p>
<p>إستمر في قراءة الكتاب المقدس ولكن بتركيز وفهم . قرأه عدة مرات وظهر التغير واضحا في سلوكه مع من حوله .</p>
<p>مرت السنوات وخرج من السجن مختلفًا تمامًا ليحيا حياة جديدة مع المسيح تعجب لها كل من كان يعرفه سابقا في شره .</p>
<ul>
<li><strong>الفصل الرابع الطبيعة</strong></li>
</ul>
<p><strong>١-الشمس :</strong></p>
<p>يقول داود النبي &#8221; السموات تحدث بمجد الله والفلك يخبر بعمل يديه &#8221; (مز ۱۹ : ۱) . فهذه المخلوقات العظيمة رتبها الله لمنفعة الإنسان ليرى قوة الله فيها ، فيرى داود النبي الشمس كالعروس الخارج من خدره ( الحجرة الخاصة ) وذلك عند الفجر عندما تشرق الشمس فتطلع على المسكونة بهدوء ، كالعروس المتمايلة في نعومتها ، ولكنها في نفس الوقت قوية وجبارة بقوة الله التي فيها فيقول &#8221; تتهلل مثل الجبار المسرع في طريقه من أقصى السموات خروجها ومدارها إلى أقاصيها ولا شئ يختفى من حرها &#8221; (مز ١٩ : ٥ ، ٦) ، فهى تتحرك مرسلة أشعتها وحرارتها وضياءها إلى كل الأرض وتؤثر في الجميع.</p>
<p>هكذا المسيح إلهنا المولود في مزود بوداعة هو الله القوى المشرق من العلاء لينير لكل إنسان في العالم ويدفئه بمحبته . وهكذا كل إنسان روحي يسلك بوداعة وقوة الله عاملة فيه ، يستطيع أن ينير لكل من حوله .</p>
<p><strong>٢-البحر :</strong></p>
<p>تستطيع أن ترى الله أيضا في البحر العظيم الذي يفتح أحضانه مرحبا بالكل ليسبح فيه ، بل يرحب بأكبر السفن ليحملها كما يحمل الأب ابنه ويوصله إلى بر الأمان ، ويلقى بمياهه على الشاطئ في شكل زبد أبيض جميل ليدعو الكل للدخول إليه . إنه مثل إلهنا المحب الذي يدعونا للصلاة والحديث معه كل حين .</p>
<p><strong>٣- التأمل :</strong></p>
<p>تستطيع أن ترى الله إذا فكرت أكثر من هذا ، ليس فقط في الشمس والبحر ولكن في كل المخلوقات مثل القمر والنجوم والهواء والرمال والأشجار والحيوانات والحشرات ، وتتعلم أيضا منها دروسًا كثيرة كما تعلم سليمان الحكيم من النملة ويدعو الكسلان ليتأمل في نشاطها ويرى قوة الله العاملة فيها (أم ٦ : ٦) .</p>
<p>تستطيع أن تكتشف الله إذا جلست في خلوة معه بهدوء كل يوم أو كل أسبوع ، خاصة إن جلست في مكان مفتوح لتتمتع برؤية الله في خلائقه .</p>
<p><strong>٤- إفحص نفسك :</strong></p>
<p>إذا كشف الله لك عن نفسه في الطبيعة وأضاء عليك ببهائه ، تستطيع أن تفحص نفسك فتشكره على عطاياه وتعرف خطاياك وتتوب عنها بل تبحث في هدوء عن أسبابها لتتحاشاها ، وبهذا تتمتع ليس فقط برؤية الله بل بتنقيته لنفسك وقبول توبتك وأيضًا تصحبه معك في حياتك اليومية فيحتضنك ويعمل فيك وبك .</p>
<p>كان خادما بالكنيسة يتمتع بقداساتها وصلواتها وأسرارها المقدسة وكان يحب الخلوة والتأمل وخاصة في الطبيعة ، فكان ينتهز الفرص ليجلس في شرفة منزله وينظر إلى السماء باحثا عن الله الذي يكشف له معانى روحية ومشاعر مشبعة لنفسه ، وكان يحب زيارة الأديرة وهناك يستمتع بهوايته المفضلة وهي الجلوس في البرية ليبحث عن الله في الطبيعة المحيطة به .</p>
<p>واجهت هذا الخادم مشكلة وهي أنه كان يمتلك قطعة أرض في إحدى القرى قد ورثها عن والده وكان يؤجرها للمزارعين ، وفي أحد السنين أجرها لمزارع جديد ولما حل ميعاد دفع الإيجار أرسل إليه ولكنه ماطل في الدفع ، وأرسل له أكثر من مرة وللأسف بدأ يرد على من يرسلهم بطريقة سيئة ، فسافر إليه وحاول التفاهم معه ولكنه رفض بحجة عدم توفر المال معه وادعى أن الزراعة لم تعطه العائد المطلوب وتعرضت لمشاكل كثيرة ، مع أن الخادم كان يعلم أن الزراعة قد نجحت وكان المحصول وفيرًا .</p>
<p>حاول الخادم الإستعانة بشيوخ البلد ولكن الفلاح كلمهم بجفاء وأصر على موقفه في تأجيل الدفع . عاد الخادم إلى بيته وهو في ضيق وحيرة ، هل سيلتجئ إلى القضاء ولكن هناك مشكلة أن أوراق الأرض ليست متكاملة عنده بالإضافة إلى مشاكل القضاء التي تستغرق وقتا طويلاً وما يسببه ذلك من توتر الأعصاب ، أم يصمت ويترك هذا المزارع المزعج يتمادي في شره واستغلاله له ؟؟</p>
<p>وضع مشكلته هذه في الصلاة طالبا إرشاد الله ، ومن أجل ضيقه أراد هذا الخادم أن يلقى عنه أتعابه ، فذهب إلى مكانه المفضل وهو الدير ليتمتع بخلوته مع الله تاركا مشكلته بين يديه . وفي حديقة الدير جلس تحت ظلال بعض الأشجار وأخذ يتأمل في الطبيعة فنظر إلى الأشجار العالية وقال لنفسه ، إن هذه الأشجار لها جذور ممتدة إلى أعماق كبيرة لكيما تحمل هذه السيقان المرتفعة ، وبدأ يحدث نفسه لماذا لا يتعمق في حياته مع الله التي يتممها في مخدعه بعيدا عن العيون ، مثل هذه الجذور التي تبحث عن الطعام لتغذى الشجرة ، فالطعام كثير لكل من يطلبه كما أن الله غنى لكل من يلتجئ إليه . ثم نظر إلى ساق الشجرة المرتفع وسأل نفسه كم من السنين استغرق تكوين هذه الساق ، إنها خلايا أخذت تنقسم داخل هذا النبات وأوعية تكونت داخله لنقل الطعام ، وعمليات حيوية تمت في الأوراق الخضراء لامتصاص أشعة الشمس وتحويلها إلى مواد مفيدة للنبات ، وتغيرت طبيعة بعض الخلايا ليصير للساق جدار سميك يحميها . إنها عمليات كثيرة جدا وهي عمليات النمو للوصول إلى شجرة عظيمة مثل هذه . ثم وجه السؤال إلى نفسه قائلا : لماذا تتكاسلين يا نفسى عن جهادك الروحي لترتبطي بالله وتصدى عنك كل خطية ؟</p>
<p>إن الله مستعد أن يساعدك ، فإن كان يهتم بالنباتات والأشجار ألا يهتم بك أنت التي جعلك رأسًا لخليقته ؟ !</p>
<p>ارتفع نظره نحو السماء ليرى أغصان الشجرة التي تعلوها فرآها كأنها الأذرع المفتوحة نحو السماء لتسبح الله الذي أعطاها أن ترتفع نحوه وسندها بالجذور العميقة والساق القوية الطويلة ، وشعر أن هدف حياته هو الصلاة وتسبيح الله وليس الانشغال بهموم العالم ، وأن كل الإمكانيات التي أعطاها الله له هدفها هو توفير احتياجاته ليتفرغ القلب لمحبة الله والصلاة .</p>
<p>شعر هذا الخادم بسلام في قلبه بعد تأمله في الطبيعة وأن كل همومه قد زالت عنه ولكنه شعر بالعطش لأن الجو كان حارًا ، وفيما هو جالس في مكانه ولم يمض من الوقت إلا دقيقة واحدة ، . وجد عاملاً من الدير يقترب منه ويسأله حل يريد أن يشرب ، فتعجب جدًا كيف عرف أنه عطشان ، وأجابه بالإيجاب فمد العامل يده بزجاجة من الماء فشرب منها وشكره .</p>
<p>انصرف العامل وشعر الخادم بوجود الله معه الذي وفر له هذا الاحتياج الصغير ، وهو جرعة ماء ليروى عطشه ، إذا هو قادر على أن يحل مشاكله .</p>
<p>عاد هذا الخادم إلى بيته في سلام وفرح ظهر على وجهه ، ولم يعد يفكر في مشكلة الأرض بل اكتفى بالصلاة من أجلها .. في اليوم التالي سمع طرقات على الباب ، فقام ليفتح وإذ هو يفاجاً بالمزارع الذي استأجر أرضه يقف أمامه ، فرحب به وبعد أن جلس قدم المزارع اعتذارًا واضحا له عن تأخيره في سداد ما عليه ثم قدم له المبلغ المتفق عليه . فرح الخادم جدًا وشكر الله ولكنه تعجب لهذا التغيير المفاجئ ، فسأل المزارع عن السبب .</p>
<p>قال المزارع : إني بصراحة كنت أطمع في أن لا أعطيك كل ما تستحقه وأعطيك جزء بعد مدة طويلة ، ولكن منذ أيام عندما نمت ليلا حلمت أني في الحقل وأمامى شجرة صغيرة أخذت تنمو وترتفع حتى صارت عظيمة ولها فروع ممتدة نحو السماء ، ثم سمعت صوتا يأتيني من أعلى الشجرة ويناديني :</p>
<p>•ما تسرقش غيرك عشان غيرك ما يسرقكش.</p>
<p>استيقظ المزارع من النوم منزعجا وقال في نفسه :</p>
<p>• الناس كلها بتسرق بعض إشمعنة أنا اللي هادي الناس حقوقها كلها .</p>
<p>وحاول أن يتناسى هذا الحلم ، وفي الصباح الباكر ذهب كعادته إلى حقله ، وعند الغروب رجع إلى بيته ففوجئ بزوجته تستقبله وهي تبكي وتقول لها : إنها خرجت لزيارة إحدى قريباتها وعادت لتجد البيت قد سرق ، فحزن وخاف جدًا إذ وجد الحلم بدأ يتحقق .</p>
<p>وإذ رأت زوجته انزعاجه سألته عن السبب فقص لها قصة الحلم ، فألحت عليه أن يسدد كل شئ حتى لا تتكرر معهم هذه السرقات وليبارك الله فيما عندهم ، لذا أسرع يدبر المبلغ المطلوب ليدفعه إلى صاحب الأرض.</p>
<ul>
<li><strong>الفصل الخامس أحداث الحياة</strong></li>
</ul>
<p><strong>١- الأحداث رسائل إلهية</strong></p>
<p>لأن الإنسان لا يقبل دائمًا صوت الله المباشر له ، إما لأنه يتعارض مع منطقه أو رغباته أو مع آراء الناس ، لذا يستخدم الله أحداث الحياة الطبيعية ليرسل للإنسان صوته لعله يتوب ويرجع إلى الله ويطيع وصاياه ، فالأحداث أكثر تأثيرًا في الناس لأنها واقع معاش يرونه بأعينهم فلا يستطيعون إنكاره أو التنصل منه ، وهو قريب منهم ويلاحقهم مدى الحياة .</p>
<p>٢ الأمثال : استخدم المسيح نفسه الأمثال في تعليمه للجموع لأنها أحداث من حياتهم ، فيكون فهمها سهلاً عليهم ويعرفون منها قصد الله وتعليمه بطريقه لا يسهل نسيانها ليؤكد بهذا أن الأحداث المحيطة تأثيرها قوى على الإنسان وأنها رسائل شخصية منه لكل واحد.<a href="#_ftn1" name="_ftnref1">[4]</a></p>
<hr />
<h3></h3>
<h3></h3>
<h3>المراجع</h3>
<p><a href="#_ftnref1" name="_ftn1">[1]</a><sup>- تفسير سفر دانيال - ص ٢٨٠- القمص تادرس يعقوب ملطي.</sup></p>
<p><a href="#_ftnref1" name="_ftn1">[2]</a> - تفسير إنجيل يوحنا الإصحاح الثاني عشر - القمص تادرس يعقوب ملطي</p>
<p><a href="#_ftnref1" name="_ftn1">[3]</a> - إختبرني يا الله صفحة ٣٦٣ - قداسة البابا تواضروس الثاني</p>
<p><a href="#_ftnref1" name="_ftn1">[4]</a> - اريد ان اري الله للقمص يوحنا باقي - كنيسة مارمرقس بمصر الجديدة</p>
<p>

      {% endcreateArticleAccordions %}
    </section>
  {% endblock %}
