---
layout: 'layouts/reading.html'
title: 'قراءات يوم الأربعاء من الأسبوع السابع '
permalink: great-lent/7-3.html
---
  {% block content %}
    <section id="readings">
      <ul>
      {% if 'null' != 'null' %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">العشية</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeVespers '' '' %}
          </div>
        </div>
      </li>
      {% endif %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">باكر</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeMatins '19.57:1-1' '42.14:28-35' '20.10:32-32*@+20.11:1-13@23.58:1-11@18.40:1-24*@+18.41:1-34' %}
          </div>
        </div>
      </li>
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <h3 class="flex items-center justify-between">
            <span class="kufi">القداس</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </h3>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeLitugy '45.10:4-13' '59.1:13-21' '44.19:23-26' '19.51:2-3' '43.6:35-45' %}
          </div>
        </div>
      </li>
        </ul>
    </section>
    <section id="article">
      <h3 class="mt-8 mb-4 heading-explain">شرح القراءات</h3>
      {% createArticleAccordions firstName, lastName %}
        <p>&#8220;وَكُلَّ بَنِيكِ تَلاَمِيذَ الرَّبِّ، وَسَلاَمَ بَنِيكِ كَثِيرًا.&#8221; (اش ٥٤: ١٣)</p>
<p>[الذين ههنا إجعلهم متشبّهين بملائكتك] (من طلبات القدّاس الغريغوري)</p>
<p>[إنهم كما لو كانوا بأجنحة يعبرون كل الأرض أكثر سرعة من أشعة الشمس ينشرون نور الصلاح] (القديس يوحنا ذهبي الفم)<a href="#_ftn1" name="_ftnref1">[1]</a></p>
<h3>شواهد القراءات</h3>
<p>(أم ١٠: ٣٢، ص١١: ١- ٣)، (إش ٥٨: ١- ١١)، (أي٤٠: ١- الخ، ص٤١: ١- الخ)، (مز٥٦: ١)، (لو١٤: ٢٨- الخ)، (رو١٠: ٤- ١٣) (يع١: ١٣- ٢١)، (أع١٩: ٢٣- ٢٦)، (مز٥٠ : ١، ٢)، (يو٦: ٣٥- ٤٥).</p>
<h3>شرح القراءات</h3>
<p><strong>تتكلّم قراءات اليوم</strong> عن أعضاء وتلاميذ الملكوت من هم وما هى طبيعتهم وما هو دورهم وكيف يكون تأثيرهم.</p>
<p><strong>تبدأ أمثال سليمان</strong> بالحديث عن صفاتهم وتأثيرهم وقيمة وجودهم بالنسبة للآخرين.</p>
<p>&#8220;شفتا الصديق تقطران نعمة أما أفواه المنافقين فملتوية، معرفة الأبرار طريقها صالح بصلاح الأبرار تعتز المدينة، ببركة المستقيمين يعلو شأن المدينة&#8221;.</p>
<p><strong>وفي إشعياء النبي</strong> يوصف كيف يصوم أعضاء الملكوت وكيف يكون لحياتهم تأثير ومعنى من خلال صومهم.</p>
<p>&#8220;هل تسمي هذا صوماً مقبولاً، هل هذا هو الصوم الذي اخترته يقول الرب، لكن حل قيود الشر وفك ربط النير واطلاق المسحوقين أحراراً وقطع كل نير، حينئذ ينفجر كالصبح نورك وتنبت عافيتك سريعاً ويسير برك أمامك فتكون كجنة ريا وكنبع مياه لاينقطع&#8221;.</p>
<p><strong>وفي سفر أيوب</strong> كيف يحاور الأبناء أبيهم وكيف يتكلم تلاميذ الملكوت مع الملك.</p>
<p>&#8220;فأجاب أيوب الرب وقال ها أنا حقير من أنا حتى أجاوبك أضع يدي على فمي تكلمت مرة وفي المرة الثانية لا أزيد&#8221;.</p>
<p><strong>وفي مزمور باكر</strong> أهميّة إتّكالهم على الله.</p>
<p>&#8220;فإنه عليك توكلت نفسي وبظل جناحيك أتكل إلى أن يعبر الإثم&#8221;.</p>
<p><strong>ويبرز إنجيل باكر</strong> موقفنا من المال ومن الصلح والسلام مع الآخرين كعلامة على صدق تلمذتنا.</p>
<p>&#8220;وهكذا كل واحد منكم ان لم يرفض جميع أمواله فلا يقدر أن يكون لي تلميذاً، الملح جيد فان فسد الملح فبماذا يملح لا يصلح لأرض ولا لمزبلة بل يطرح خارجاً&#8221;.</p>
<p><strong>وفي البولس</strong> تلاميذ الملكوت هم من يؤمنون من القلب ومن يدعون دائماً بإسم الرب.</p>
<p>&#8220;لأنك إن اعترفت بفمك بالرب يسوع وآمنت بقلبك إن الله قد أقامه من بين الأموات تخلص لأنه بالقلب يؤمن الإنسان به للبر وبالفم يعترف به للخلاص، لأن من يدعو باسم الرب يخلص&#8221;.</p>
<p><strong>ويعلن الكاثوليكون</strong> عن تلاميذ الملكوت باكورة خلائق الله وكلامهم وسلوكهم.</p>
<p>&#8220;هو شاء فولدنا بكلمة الحق لنكون باكورة من خلائقه إذاً اعلموا يا إخوتي الأحباء ليكن كل إنسان سريعاً إلى الإستماع بطيئاً عن التكلم وبطيئاً عن الغضب&#8221;.</p>
<p><strong>أمّا الإبركسيس</strong> فيشير إلى هياج العالم وغير المؤمنين في كل جيل على أبناء الملكوت.</p>
<p>&#8220;وحدث في ذلك الزمان شغب ليس بقليل بسبب هذا الطريق، استمال وازاغ بولس (هذا) جمعاً كثيراً قائلاً إن التي تُصنَع بالأيادي ليست آلهة&#8221;.</p>
<p><strong>وفي مزمور القدّاس</strong> التوبة الدائمة لأبناء الملكوت.</p>
<p>&#8220;ومن خطيتي تطهرني لأني أنا عارف بإثمي وخطيئتى أمامي في كل حين&#8221;.</p>
<p><strong>ويختم إنجيل القدّاس</strong> بضمان مسيرة ومصير أبناء الملكوت وكيف يجتذبهم الآب إليه ويعطيهم علم معرفته.</p>
<p>&#8220;ومن يقبل إليّ فلا أخرجه خارجاً، وهذه هى مشيئة الذي أرسلني أن كل من أعطاني لا أهلك أحداً منهم بل أقيمه في اليوم الأخير، لا يستطيع أحد أن يقبل إليّ إن لم يجتذبه إليّ الآب، انهم يكونون جميعهم متعلمين من الله&#8221;.</p>
<p></p>
<h3>ملخّص القراءات</h3>
<table width="503">
<tbody>
<tr>
<td width="91">سفر الأمثال</td>
<td width="412">صفات أبناء الملكوت الصدّيقين وتأثيرهم.</td>
</tr>
<tr>
<td width="91">سفر إشعياء</td>
<td width="412">صومهم المقبول ونتيجته في حياتهم.</td>
</tr>
<tr>
<td width="91">سفر أيوب</td>
<td width="412">حوارهم وصلاتهم مع الله.</td>
</tr>
<tr>
<td width="91">مزمور باكر</td>
<td width="412">إتّكالهم عليه.</td>
</tr>
<tr>
<td width="91">إنجيل باكر</td>
<td width="412">موقفهم من المال ومن الصلح مع الآخرين يقيّم تلمذتهم.</td>
</tr>
<tr>
<td width="91">البولس</td>
<td width="412">يؤمنون به من القلب ويدعون دائماً بإسمه.</td>
</tr>
<tr>
<td width="91">الكاثوليكون</td>
<td width="412">باكورة خلائقه يعلنون ذلك في كلامهم وتصرّفهم.</td>
</tr>
<tr>
<td width="91">الإبركسيس</td>
<td width="412">هياج العالم ضدّهم.</td>
</tr>
<tr>
<td width="91">مزمور القدّاس</td>
<td width="412">توبتهم الدائمة.</td>
</tr>
<tr>
<td width="91">إنجيل القدّاس</td>
<td width="412">يؤمنون به فيجتذبهم إليه ويعطيهم نعمة معرفته.</td>
</tr>
</tbody>
</table>
<p></p>
<h3>الكنيسة في قراءات اليوم</h3>
<table>
<tbody>
<tr>
<td width="91">سفر إشعياء</td>
<td width="412">الصوم.</td>
</tr>
<tr>
<td width="91">إنجيل القدّاس</td>
<td width="412">وحدة المشيئة للآب والابن.</td>
</tr>
</tbody>
</table>
<h3 dir="rtl">عظات ابائية</h3>
<h4 dir="rtl">الخبز الحقيقي حسب تعليم العلامة أوريجانوس :</h4>
<p dir="rtl">اما من جهتي فسوف أتناول هذا الموضوع بشيء من الإفاضة والتفصيل ، مقتفيا اثر السيد نفسه وهو يعلمنا عن الخبز، ففي انجيل معلمنا يوحنا يوجه الرب خطابه الي الجماهير التي اتت اليه من كفر ناحوم بحثًا عنه: الحق الحق أقول لكم أنتم تطلبونني ليس لأنكم رأيتم بل لأنكم أكلتم من الخبز فشبعتم &#8221; إذًا فكل من أكل من الخبز الذي باركه يسوع وشبع منه، حاول أن يدرك ابن الله أكثر من ذي قبل، وان يسرع اليه، ولهذا كانت وصية الرب التي تدعو الي الإعجاب: أعملوا لا للطعام البائد بل للطعام الباقي للحياة الأبدية الذي يعطيكم ابن الانسان&#8221;. والذين كانوا يسمعون هذا الحديث، عندما سألوه قائلين: ماذا نفعل حتي نعمل أعمال الله ؟ أجاب يسوع وقال لهم : هذا هو عمل الله أن تؤمنوا بالذى هو ارسله. والآن هوذا الرب قد ارسل كلمته وشفاهم اى المرضي كما جاء في المزامير.</p>
<p dir="rtl">فالذين يؤمنون بالكلمة يفعلون أعمال الله لانه هو الخبز الباقي الذى للحياة الأبدية ، ويقول أيضًا: وأبي يعطيكم الخبز الحقيقي من السماء لان خبز الله هو النازل من السماء الواهب حياة للعالم. هذا الخبز الحقيقي هو الغذاء الكامل للإنسان الأمين المخلوق علي صورة الله وبفضل هذا الخبز الذى يتغذى به يصير الي صورة الله الذي خلقه.. وهل هناك ما يفوق الكلمة غذاء للروح؟! لا يوجد ما يفوق حكمة الله قيمة للعقل الذى يدركها وليس هناك ما هو اجدر من الحق تجاوبًا مع الطبيعة العقلية.</p>
<p dir="rtl">ولرب معترض يقول : إذا كان المسيح يوصينا ان نطلب الخبز الجوهرى جدا ، فلماذا ترك الفرصة سانحة لنا ان نفهمه علي إنه نوع آخر من الخبز ، ولابد لنا ان نلاحظ في حديث الرب في إنجيل القديس يوحنا انه يتكلم أحيانًا عن الخبز بإعتباره شيئا آخر غير المسيح نفسه، بينما في آيات أخرى يصرح فيها بإن هذا الخبز هو ذات المسيح ولنأخذ مثالًا للنوع الأول: موسي أعطاكم خبزًا من السماء ليس الخبز الحقيقي ، بل ابي يعطيكم الخبز الحقيقي من السماء، ولكن عندما طلب إليه البعض: أعطينا في كل حين هذا الخبز، أجابهم مشيرًا الي ذاته قائلًا: أنا هو خبز الحياة من يقبل الي فلا يجوع ومن يؤمن بي فلا يعطش أبدًا. وبعد ذلك بقليل يقول: انا هو الخبز الحي الذي نزل من السماء ، إن اكل احد من هذا الخبز يحيا إلي الأبد. والخبز الذي انا اعطي هو جسدى الذي ابذله من أجل حياة العالم.</p>
<p dir="rtl">والكتاب المقدس يشير دائمًا الي الطعام بكلمة &#8220;الخبز&#8221; كما يتضح مما كتب عن موسي انه لم يأكل خبزًا او يشرب ماءً طوال أربعين يومًا.</p>
<p dir="rtl">وغذاء الكلمة متعدد متنوع ومتفاوت لأنه لا يستطيع كل إنسان ان ياكل الطعام القوى الصلب الذي يعطيه التعليم الالهى ، ولهذا فقد أراد المخلص أن يعطي طعام الرياضيين لمن يتفوقون في الكمال، فيقول: والخبز الذي أنا أعطي هو جسدي الذي ابذله من اجل حياة العالم. وبعد ذلك يقول:</p>
<p dir="rtl">إن لم تأكلوا جسد ابن الإنسان وتشربوا دمه فليس لكم حياة فيكم. من يأكل جسدى ويشرب دمى فله حياة ابدية وأنا اقيمه في اليوم الأخير ، لان جسدى مأكل حق ودمى مشرب حق من يأكل جسدى ويشرب دمى يثبت في وانا فيه. كما أرسلنى الآب الحى وأنا حي بالآب فمن يأكلني فهو يحيا بي..</p>
<p dir="rtl">هذا إذًا هو الطعام الحقيقي &#8230; جسد المسيح الذى و هو الله الكلمة صار جسدًا حسب المكتوب &#8220;والكلمة صار جسدا&#8221; وعندما نأكله ونشربه يسكن في وسطنا. وعندما يقسم ويوزع يتم المكتوب ورأينا مجده. لإن هذا هو الخبز الذى نزل من السماء، ليس كما اكل آباؤكم وماتوا. من يأكل هذا الخبز يحيا إلي الأبد .</p>
<p dir="rtl">ويتحدث معلمنا بولس أيضًا عن الطعام مع أهل كورنثوس الذين كانوا مازالوا أطفالًا سالكين حسب الإنسان فيقول:</p>
<p dir="rtl">سقيتكم لبناً لا طعامًا لأنكم لم تكونوا بعد تستطيعون بل الآن أيضًا لا تستطيعون لأنكم بعد جسديون.</p>
<p dir="rtl">وفي رسالته الى العبرانيين يقول: وصرتم محتاجين الي اللبن لا الي طعام قوى لإن كل من يتناول اللبن هو عديم الخبرة في كلام البر لانه طفل. وأما الطعام القوى فللبالغين الذين بسبب التمرن قد صارت لهم الحواس مدربة علي التمييز بين الخير والشر .</p>
<p dir="rtl">وفي رأيي ان قول الرسول: واحد يؤمن ان يأكل كل شيء ولكن الضعيف يأكل بقولا&#8230;.. لا يقصد في الأصل طعام الجسد بل لعله يقصد كلمة الله التي تعطي غذاء الروح فالمؤمن الحقيقي الناضج يستطيع أن يأكل كل شيء كما يتضح من قوله ان واحدا يؤمن ان ياكل كل شيء، واما الضعيف والناقص فيقنع ويكتفي بالتعاليم البسيطة التي لم تبلغ من القوة ما يملأه غيره وحماسه، ولعل معلمنا بولس كان يضع مثل هذا الإنسان نصب عينيه وهو يقول انا الضعيف فيأكل بقولاً.</p>
<p dir="rtl">وما قاله سليمان في الأمثال ، أعتقد إنه يعلمنا ان الإنسان الذى بسبب بساطته ولكن دون أفكار شريرة &#8211; لا يستطيع أن يستوعب المبادئ الهامة والتعاليم القوية إنما يحتل وضعًا أفضل ومكانه ارقي من إنسان آخر يفوقه كفاءة وذكاء وإدراكًا للأمور لا لشيء الا لأن الاخير لا يستطيع ان يستشعر الوحدة او نعمة السلام في هذا الوجود، فهو يقول : آكلة من البقول حيث تكون المحبة و النعمة خير من ثور معلوف ومعه بغضة.</p>
<p dir="rtl">فالسخاء البسيط المقتصد ولكنه يقدم بضمير صالح كثيرًا مايروق لنا ونستمتع به اكثر من الضيف الذي يحتفي بنا ولكنه لايستطيع أن يقدم اكثر من هذا أحاديث جزلة ورصينة ولكنها تحاك ضد معرفة الله وتدار المناقشة بإحكام وإقناع لتوحى إلينا بتعاليم غريبة تغاير وتتنافر مع ناموس ابي ربنا وإلهنا يسوع الذى اعطانا الناموس والأنبياء.</p>
<p dir="rtl">إذًا فلكى لا تصاب أرواحنا بالعلل والأسقام بسبب إفتقارها الطعام ولكى لا نموت لله بسبب الجوع الي كلمة الله، علينا ان نسأل الآن من أجل الخبز الحى الخبز الجوهرى جدًا حتي نسلك في الطاعة لتعاليم مخلصنا الصالح، وحتى نحيا حياة أفضل في إيمان أعظم.</p>
<p dir="rtl"> الصلاة للعلامة أوريجانوس ( صفحة ٧٩ ) &#8211; تعريب القس موسي وهبة &#8211; كنيسة مار جرجس خمارويه</p>
<h5 dir="rtl"></h5>
<h4 dir="rtl">معني خبز الحياة للقديس كبريانوس</h4>
<p dir="rtl">ثم نتابع الصلاة قائلين : &#8220;أعطنا خبزنا اليومى&#8221; هذه الطلبة يمكن أن تؤخذ بمعنيين : المعنى الأول : روحى ، والمعنى الثانى حرفى ، وكلا التفسيرين ، بحسب تدبير العناية الالهية ، يساهمان حتماً فى خلاصنا فالمسيح هو خبز الحياة ، وهذا الخبز لا يخص كل العالم ، وانما يخصنا نحن وكما نقول : &#8220;أبانا&#8221; لأنه أب لكل من يؤمن ، كذلك بالمثل نحن ندعو المسيح &#8220;خبزنا&#8221; ، لأن المسيح هو الخبز للذين هم متحدين بجسده ولكى نحصل على هذا الخبز ، نحن نصلى كل يوم (على الدوام) ، فنحن الذين نحيا فى المسيح ، ونتناول دائماً سر الافخارستيا كطعام لخلاصنا ، لا نود أبداً أن نمتنع من الشركة المقدسة بسبب خطية قبيحة قد تحرمنا من خبز السماء، وتفصلنا عن جسد المسيح ، حسبما نادى هو نفسه وحذرنا قائلاً : &#8220;أنا هو الخبز الحى النازل من السماء ان أكل أحد من هذا الخبز يحيا الى الأبد والخبز الذى أنا أعطى هو جسدى الذى أبذله من أجل حياة العالم &#8220;(يو ٦: ٥١ ) وبالتالى عندما يقول الرب : من يأكل من هذا الخبز يحيا الى الأبد ، ليؤكد أن الذين يحيون هم الذين يمدون اليد الى جسده ( قديماً فى القرون الأولى كان التناول يُسلم فى اليد اليمنى للمتناول حيث يضع يده اليسرى تحت اليمنى ثم يتناول ولكن ألغى ذلك الى ما هو يتم حالياً )، ويتناولون الافخارستيا فى الشركة المقدسة ، وبناء على ذلك ينبغى علينا من جانب آخر أن نحترس ونصلى حتى لا يبقى أحد بعيداً عن الخلاص ، اذا انفصل عن جسد المسيح بسبب منعه من التناول ان الرب سبق فأنذرنا : &#8220;ان لم تأكلوا جسد ابن الانسان وتشربوا دمه ، فليس لكم حياة فيكم&#8221; ( يو ٦: ٥٣)فنحن اذاً نطلب على الدوام أن نتناول خبزنا – الذى هو المسيح &#8212;  حتى نبقى أحياء فى المسيح ، ولا نبعد قط عن نعمته أو عن جسده</p>
<p dir="rtl">١٩- ويمكننا أيضاً أن نفهم هذه الطلبة على الوجه التالى : نحن قد جحدنا العالم ، وبنعمة الايمان قد رفضنا تنعماته وغواياته فنحن نطلب مجرد قوتنا (اليومى) ، لأن الرب يقول : &#8221; كل واحد منكم لا يترك جميع أمواله ، لا يقدر أن يكون لى تلميذاً &#8221; (لو ١٤: ٣٣)فمن يبدأ أن يكون تلميذاً للمسيح ويترك كل شىء ، حسب كلمة الرب ، فله أن يطلب غذاء يومه فقط ولا تمتد طلبته الى أبعد من هذا والرب أيضاً قال : &#8221; فلا تهتموا للغد ، لأن الغد يهتم بما لنفسه يكفى اليوم شرَه &#8221; (مت ٦: ٣٤) اذاً فالتلميذ له الحق أن يُطالب بغذاء يومه ، بينما غير مسموح له أن ينشغل بالغد بل انه لا يتوافق أن الذين يطلبون ملكوت الله ليأتى سريعاً ، أنهم هم أنفسهم يهتمون بأن يطول بقاؤهم فى هذه الحياة الدنيا والرسول ينبهنا لهذا لك يُهذب ، ويشدد ، ويقوى ايماننا ورجاءنا بقوله : &#8220;لأننا لم ندخل العالم بشىء ، وواضح أننا لا نخرج منه بشىء فان كان لنا قوت وكسوة ، فلنكتف بهما ، وأما الذين يريدون أن يكونوا أغنياء ، فيسقطون فى تجربة وفخ وشهوات كثيرة غبية ومضرة تُغرق الناس فى العطب والهلاك لأن محبة المال أصل لكل الشرور ، الذى اذ ابتغاه قوم ضلوا عن الايمان ، وطعنوا أنفسهم بأوجاع كثيرة &#8221;  (١تى ٦: ٧-١٠)</p>
<p dir="rtl">٢٠- المسيح يعلمنا أن محبة المال ليست فقط رديئة : بل انها أيضاً خطيرة ، انها تحوى داخلها الجذر الذى تتفرع منه جميع الشرور المغرية الخداعة التى تضلل النفس البشرية ان الرب قد رد على حماقة الغنى الذى كان يُمنى نفسه بتنعمه بغنى هذا الدهر بقوله : &#8220;يا غبى ؛ هذه الليلة تُطلب نفسك منك ، فهذه التى أعددتها لمن تكون ؟ &#8221; (لو١٢: ٢٠) فالغبى الذى كان يفكر فى وفرة محصوله ، ذاك الذى كانت حياته على وشك الانتهاء كان يفكر فى وفرة أرزاقه ومقابل هذا يؤكد الرب أن الكامل هو من يبيع كل ما يملك ويوزعه على المساكين ، وبهذا يكنز لنفسه كنزاً فى السماء بل ويزيد الرب على هذا أنه يمكننا أن نقتفى آثاره وننهج سبيل آلامه المجيدة ، اذا ما أمكننا أن نتحرّر من عوائق كل الهموم المادية ، واذ نتخلى عن أموالنا نقدمها لله كدليل على تقديم حياتنا نفسها له قرباناً ، ولكى يعدنا الرب لهذا يأخذ فى تعليمنا المبادىء التى تقوم عليها الصلاة.</p>
<p dir="rtl">٢١- الخبز اليومى لا يمكن أن يعوز الصديق ، فقد كُتب : &#8220;الرب لا يجيع نفس الصديق &#8221; (أم ١٠: ٣) ، وأيضاً : &#8221; كنت فتى وقد شخت ، ولم أر صديقاً تُخلىَ عنه ، ولا ذرية له تلتمس خبزاً &#8220;(مز ٣٧:٢٥ ) ثم ان الرب وعد قائلاً : &#8221; فلا تهتموا قائلين : ماذا نأكل ؟ أو ماذا نشرب ؟ أو ماذا نلبس فان هذه كلها تطلبها الأمم لأن أباكم السماوى يعلم أنكم تحتاجون الى هذه كلها لكن اطلبوا أولاً ملكوت الله وبره ، وهذه كلها تُزاد لكم &#8221; (مت ٦: ٣١-٣٣) فهؤلاء الذين يطلبون ملكوت الله وبره ، قد وعد بأن كل الأشياء ستزداد الى ما يسألونه وأكثر مما يحتاجونه ، فكل شىء فى الحقيقة هو ملك لله ، وكل من يقتنى الله فلن يعوزه شىء ان كان لا يعوزهم الله نفسه وهكذا كان دانيال وهو فى الحبس ، حسب أمر الملك ، فى جب الأسود ، كان يتقبل طعامه من الله وكان يقتات به وسط الوحوش المفترسة الجائعة التى لم تمسه بأذى كذلك ايليا بالمثل كان يُعال خلال هروبه كما كان يُعال خلال وحدته عندما كان مُطارداً ، حيث كانت الغربان والطيور تأتى له بما يقتات به ويا للأسف ويا لشناعة قسوة شرّ الانسان : الوحوش المفترسة ترحم ، والطيور تأتيه بالغذاء ، أما البشر فينصبون المكايد ويتصفون بالقسوة</p>
<p dir="rtl">المرجع : كتاب مقالات القديس كبريانوس أسقف قرطاجنة الشهيد (صفحة ٨٠ -٨٤) &#8211; ترجمة وإعداد الراهب القمص مرقوريوس الأنبا بيشوي</p>
<h3 dir="rtl"></h3>
<h3 dir="rtl"></h3>
<h3 dir="rtl">عظات اباء وخدام معاصرون :</h3>
<h4 dir="rtl">هل في المسيح كفايتك ؟ لقداسة البابا تواضروس الثاني</h4>
<p dir="rtl">يوم الأربعاء من الأسبوع السابع لقداسة البابا تواضروس الثاني يو (٦ : ٣٥ – ٤٥)</p>
<p dir="rtl">هل في المسيح كفايتك ؟</p>
<p dir="rtl">ونحن في الأربعاء الأخير من الأسبوع السابع في الصوم المقدس نجد أن سؤال اليوم يتناسب مع نهاية الصوم ، والسؤال بيقول : &#8220;هل في المسيح كفايتك ؟&#8221;.</p>
<p dir="rtl">عبر أيام الصوم مارست صلواتك ونسكياتك في الصوم ، فهل في المسيح كفايتك ؟ هل عندك الشعور أنك تكتفي بالمسيح ؟ أنه سؤال في غاية الأهمية ، وسوف أحاول أن أُجيبك من خلال الآيات في الفقرة الإنجيلية ، ولكن أريد أن أجيب أولاً عن سؤال يدور في أذهاننا هو : &#8221; لماذا جاء المسيح لأرضنا ؟&#8221; وهذا سؤال من الأسئلة الأساسية في المسيحية ، وأريد أن يكون واضحاً في ذهنك ثلاث إجابات تجيب عن هذا السؤال :</p>
<p dir="rtl">١-المسيح جاء لأرضنا ؛ لأنه يحب الإنسان ، فأساس المسيحية هو المحبة ، وكما تقول الآية : &#8220;نحن نحبه لأنه هو أحبنا أولا &#8221; (١يو ٤ :١٩). محبتنا له هي صدى لمحبته لنا ، والآية التي نحبها جميعاً : &#8220;لأنه هكذا أحب الله العالم حتى بذل ابنه الوحيد ، لكي لا يهلك كل من يؤمن به ، بل تكون له الحياة الأبدية &#8221; (يو ٣ :١٦)، ويطلق على هذه الآية &#8220;الإنجيل الصغير&#8221;.</p>
<p dir="rtl"> ٢- المسيح أتي ليخلص الإنسان الذي وقع في الشر والخطية ، فهو يمد يده لينقذ كل إنسان من خلال الصليب ، وهذا الإنقاذ نسميه &#8220;الخلاص&#8221;.</p>
<p dir="rtl"> ٣- المسيح قد جاء لأنه يشتاق لأبدية الإنسان ، لديه اشتياق لدخول الإنسان السماء ، ولذلك قال المسيح على الصليب : &#8220;أنا عطشان&#8221; فهو عطشان لكل نفس .</p>
<p dir="rtl">المسيح يحب كل إنسان ، ويريد أن يخلص كل إنسان ؛ لأنه يشتاق لأبدية الإنسان . هذه مقدمة لإجابة سؤال إنجيل اليوم : &#8220;هل كفايتك في المسيح ؟ هل المسيح هو كفاية عن كل شيء ؟&#8221; .</p>
<p dir="rtl">الإنسان يعيش باحثاً عن أربعة أشياء أساسية في حياته :</p>
<p dir="rtl">١- الإنسان كائن جائع إلى الحب :</p>
<p dir="rtl">أقوى تعبير إنساني عن حب الإنسان هو ما تسميه بمشاعرنا الإنسانية &#8221; الحضن &#8220;، وممكن أن نُطلق عليه &#8220;كمال الحب&#8221; .</p>
<p dir="rtl">مثال</p>
<p dir="rtl">+ الابن الضال : عندما عاد الابن الضال قدم أبوه له كل تعبيرات الحب : خاتم في يده ، وحلة جديدة ، وذبح العجل المسمن ، ولكن كان التعبير الأقوى أنه وقع على عنقه وقبله ، فكانت أثمن هدية قدمت لهذا الإنسان هو أنه كان في حضن أبوه . يقول الكتاب في (يو ٦ : ٣٧) &#8220;ومن يقبل إلي لا أخرجه خارجاً&#8221;، وأحد الأسباب التي قال عنها القديس &#8221; أثناسيوس الرسولي&#8221; أن المسيح مات صلباً ؛ لأن الصليب في أحد معانيه الكثيرة هو الحضن المفتوح ، هو الحضن الذي ينتظره الإنسان كائن باحث عن الحب ، والحب هو الاحتياج النفسي الأول لحياة أي إنسان .</p>
<p dir="rtl">٢ الإنسان كائن باحث عن الارتواء :</p>
<p dir="rtl">الإنسان كائن يريد أن يرتوي ، يقول النص الإنجيلي : &#8221; من يؤمن بي فلا يعطش أبداً&#8221; (يو ٦ : ٣٥) .</p>
<p dir="rtl">مثال</p>
<p dir="rtl"> + المرأة السامرية : بعدما قابلت المسيح أصبحت في قمة الارتواء وبكرازتها قال أهل السامرة عن المسيح &#8220;مخلص العالم&#8221;.</p>
<p dir="rtl"> الإنسان كائن باحث عن الارتواء الداخلي والكفاية الداخلية ، الإنسان باحث عن من يرويه ويهدئ داخله ، ويعطيه سلاماً في قلبه ، وعندما يعطش الإنسان ولا يجد من يرويه يصير مثل الأرض الجافة ، وحتى إذا كان لديه أموالا كثيرة فهو يبحث عن الارتواء، أو ينشغل بأعمال متعددة لكنه لا يرتوي</p>
<p dir="rtl">مثال</p>
<p dir="rtl">+ زكا العشار: كان يمتلك كل شيء ، ولكنه لم يسعد مرة ، فأراد أن يرى المسيح فصعد على الشجرة (ترمز للصليب) ليراه ، وفي ذات اللحظة يناديه المسيح وباسمه ، فالمسيح يعرف كل إنسان باسمه ، وزكا في لحظة من الزمان عندما ارتوى قال : &#8220;ها أنا يا رب أعطي نصف أموالي للمساكين ، وإن كنت قد وشيت بأحد أرد أربعة أضعاف&#8221; (لو ١٩ : ٨)، وكان زكا في قمة الارتواء.</p>
<p dir="rtl">٣ الإنسان كائن باحث عن الشبع :</p>
<p dir="rtl">يقصد بالشبع هنا الإحساس الجسدي ، فالإنسان دائماً يشعر بالجوع ، أحياناً يكون جائعاً إلى احتياجات الجسد ، وأحياناً يكون جائعاً إلى الذات ، وأحياناً يكون جائعاً إلى المادة ، أو يكون جائعاً إلى الكرامة . الإنسان يبحث عن ما يشبعه ، والمسيح هو الوحيد القادر أن يشبع ، حتى في أكلنا الجسدي الله يضع أبسط شيء يشبعك ، والشبع هو تعبير عن الصحة ، وهذا يشير بصورة رمزية إلى الإنسان الذي كان وحيداً (المخلع) عندما قال : &#8221; ليس لي إنسان &#8221; (يو٥: ٧)، فليس هناك إنسان يشبعه بأي صورة من الصورة ، ولذلك عندما قال له المسيح : &#8220;قم. احمل سريرك وامش&#8221; (يو٥ : ٨)  أصبح في قمة الشبع .</p>
<p dir="rtl">يقول في إنجيل اليوم &#8220;أنا هو خبز الحياة . من يقبل إلي فلا يجوع&#8221; (يو٦ : ٣٥)  وفي التطويبات على الجبل يقول : &#8220;طوبى للجياع والعطاش إلى البر، لأنهم يشبعون &#8221; (مت ٥ : ٦)  وطوبى للجياع والعطاش إلى المسيح ؛ لأنهم يشبعون ، فليس هناك شبع إلا في المسيح ، يقول داود النبي &#8221; الرب راعي فلا يعوزني شيء &#8221; (مز ۲۳ : ۱). في معجزة إشباع الجموع &#8220;معجزة البركة &#8221; نجد الخمس خبزات والسمكتين أشبعوا الآلاف وتبقى منها أيضاً ، إنها البركة ، فليس الشبع بالكثرة أو بالوفرة بل بحضور المسيح ووجوده في البيت ، الخدمة ، الكنيسة ، المجتمع ، الحياة …</p>
<p dir="rtl">٤-الإنسان كائن باحث عن النور:</p>
<p dir="rtl">الإنسان كائن باحث عن الاستنارة وأن يكون كيانه مستنيراً، يقول في (يو٦ : ٤٠)  &#8220;أن كل من يرى الابن ويؤمن به تكون له حياة أبدية &#8220;، والنورهنا لا يقصد به النور الخارجي ، وإنما أتحدث عن النور الداخلي في قلب الإنسان الذي يتحول إلى حكمة ورؤية وقدوة ، ويتحول في كلمات الإنسان إلى كلمات مملحة بملح ، أي &#8220;كلمة تبني&#8221;، وأبسط تعبير عن ذلك هو ما قاله المولود أعمى : &#8221; أني كنت أعمى والآن أبصر &#8221; (یو ٩ : ٢٥)، والفرق بين الاثنين هو حضور المسيح ، فعندما يحضر المسيح في القلب يبصر الإنسان ، ولا أقصد عين الجسد بل العين الموجودة في القلب والتي تسميها &#8220;البصيرة الروحية&#8221;، أي : متى يتحدث ؟ ومتى يصمت ؟ متى يأخذ موقف ؟ ومتى لا يأخذ ؟ وهذه هي الحكمة …</p>
<p dir="rtl">احتياجات الإنسان في الأربعة الآحاد الأخيرة (الابن الضال ، السامرية ، المخلع ، المولود أعمى) تجتمع في هذا الفصل من الإنجيل ويقدم لنا عما يبحث الإنسان ؟ الشي إنه يبحث عن : الحب والارتواء والشبع والاستنارة ، وهذه الأربعة في شخص السيد المسيح ، وهنا يأتي السؤال : &#8220;هل في المسيح كفايتك ؟&#8221; وعندما تكتفي بالمسيح يهون عليك كل شيء في الأرض ؛ لأن عنده الكفاية في حياتك .</p>
<p dir="rtl">لإلهنا المجد الدائم إلى الأبد. آمين .</p>
<p dir="rtl">المرجع : كتاب إختبرني يا الله صفحة ٣٦٩ &#8211; قداسة البابا تواضروس الثاني</p>
<h4 dir="rtl"></h4>
<h4 dir="rtl"></h4>
<h4 dir="rtl">خبز الحياة للمتنيح الأنبا بيمن أسقف ملوي</h4>
<p dir="rtl">خبز الحياة</p>
<p dir="rtl">منذ البداية</p>
<p dir="rtl"> &#8220;أنا هو خبز الحياة النازل من السماء&#8221; (يو ٦). في مطلع سفر التكوين</p>
<p dir="rtl">نطالع أن الله أمر آدم أن يأكل من جميع شجر الجنة ، ولكنه نهاه عن أن يأكل من شجرة معرفة الخير والشر، ومهما إختلف المفسرون فی شرح هذه الشجرة إلا أن الإجماع هو أن الأكل كان أمرا إلهيا ولكنه كان مشروطا بالطاعة ، أن يأكل من يد الله وليس بعيدا عنه . والخطيئة الأصلية هي تأليه الذات وإنتفاخها والرغبة في الإستقلال عن محبة الله وطاعته ، والأكل قبل السقوط كان مبهجا مفرحا لأنه كان يحمل سرا إلهيا هو أن الله كان يطعم خليقته الناطقة بما أوجده من ثمار طيبة في الجنة . والأكل بعد السقوط حمل بصمات العصيان فالأرض لعنت ، والعمل فيها صار شاقا ، شوكا وحسکا تنتج للإنسان ، بالتعب يأكل منها كل أيام حياته وبعرق الوجه يأكل الخبز حتى الموت وكان من رحمة الله على آدم أن يطرده من الجنة لأنه لو أكل من شجرة الحياة وهو في حالة السقوط فإنه سوف يبقى هابطا ساقطا إلى الأبد، ولكن المحبة الإلهية دبرت خطة الخلاص وأعطى الآب وعدا بأن نسل المرأة سيسحق رأس الحية ، وأن إبن الإنسان سوف يخلص آدم من سقطته هو وبنيه ، وأعطى الرب المن لإسرائيل في البرية كحياة في قفر وكرمز لمن آخر يعطي حياة أبدية، وتنبأ الأنبياء بمجيء المسيا عبر عصور طويلة حتى جاء الإبن الكلمة مولودا من العذراء مريم بالروح القدس . وواجه قضية الخبز والأكل عند الإنسان ما عمله الرب يسوع، مارس الرب يسوع الحياة الطبيعية التي يحياها الإنسان ، وأشتغل بيديه کنجار حتى يأكل من تعب يديه ولكنه وإن أبقى مظاهر الحياة المادية كما هی . مثل العمل والأكل والتعب إلا أنه صنع تحولا جذريا في قضية الخبز يمكننا أن نوجزه فيما يلي :</p>
<p dir="rtl">   رفض أن يتناول الخبز بعيدا عن مشيئة الآب فعندما عرض الشيطان إغراءه على جبل التجربة ، لم يقبل أن يحول الحجارة خبزا رغم أنه عمل معجزات أعظم من هذه لأنه لم يكن في خطته مع الآب السماوي عمل هذه المعجزة ، ولأن الدعوة جاءت من العدو والإغراء من الحية القديمة وقال كلمته الإلهية المباركة ليس بالخبز وحده يحيا الإنسان بل بكل كلمة تخرج من فم الله.</p>
<p dir="rtl">أظهر بوضوح وعمليا أن سر الحياة ليس في الخبز ذاته، وإنما في السر الإلهي ، في اليد المباركة التي تقدم هذا الخبز ، ولهذا أخذ الخمسة خبزات والسمكتين ووضعهما في يديه ورفع عينيه إلى السماء وشكر وبارك وكسر وأعطى للتلاميذ لكي يعطوا الجموع وأشبع الألوف الكثيرة وفاضت سلال كثيرة مليئة، بهذا يؤكد الرب من خلال هذه المعجزة التي كررها مرتين أن سر البركة والحياة ليس في الخبز المادي ذاته وإنما في شخص الله مصدر الحياة الذي يعطينا هذا الخبز ومن أجل هذا أعلن بعد هذه المعجزة عن ذاته قائلا &#8220;أنا هو خبز الحياة من يأكلني يحيا بي &#8220;وهو يطالب أولاده أن يتجاوزوا محدودية الطلبة المادية إلى الإتساع في طلب ملكوته وبره لأن هذه الأمور كلها تزاد لهم ، والذي يهتم بخلاصهم ألا يهتم بطعامهم والذي يعول غربان الوادي ألا يعولهم ويرعاهم .</p>
<p dir="rtl">المن السماوي</p>
<p dir="rtl">لقد كان منتشرا بين اليهود في الفكر المسياني أن الله سوف يرسل المسيا الذي يكرر ما عمله موسى النبي تماما . سوف يطعمهم منا جديدا ، وسوف يكون فيه الشبع والمتعة . ونجد إشارة في هذا في إنجيل معلمنا لوقا إذ يقول واحد للرب يسوع طوبى لمن يأكل خبزا في ملكوت الله (لو ١٤: ١٥) وكانوا يقولون أن أرميا النبي قد حفظ قسط المن من الضياع عندما خرب الهيكل وأنه سوف يظل هذا المن مخفيا إلى أن يأتي المسيا ليطعمهم منه جدیدا ، لم يعرف إسرائيل إن المن المقصود ليس منا أرضيا وإنما منا جديدا وطعاما جديدا وخبزا جديدا. أنهم لم يفهموا مقاصد الآب أنه سيعطي للبشرية الإبن الكلمة لكي يأكلوا جسده ودمه الأقدسين ، ويكون لكل من يؤمن به ويتحدبه حياة أبدية وغفرانا للخطايا. هذا ما قاله الرب يسوع وسطره يوحنا البشير في إنجيله في الإصحاح السادس &#8220;فقال لهم يسوع الحق الحق أقول لكم ليس موسی أعطاهم الخبز من السماء بل أبی يعطيكم الخبز الحقيقي من السماء ، لأن خبز الله هو النازل من السماء الواهب حياة للعالم . فقالوا له يا سيد أعطنا في كل حين هذا الخبز ، فقال لهم يسوع أنا هو خبز الحياة من يقبل إلى فلا يجوع ، ومن يؤمن بي فلا يعطش أبدا . فكان اليهود يتذمرون عليه لأنه قال أنا هو الخبز الذي نزل من السماء&#8221; .</p>
<p dir="rtl"> وقارن يسوع بين نفسه وبين المن أيام موسی . فقال لهم آباؤكم أكلوا المن في البرية وماتوا . أنا هو الخبز الحي الذي نزل من السماء . إن أكل أحد من هذا الخبز يحيا إلى الأبد. (يو ٦: ۳۲ &#8211; ٥١) . ويمكننا أن نستخلص من أحاديث الرب عن شخصه كخبز الحياة السمات الآتية :</p>
<p dir="rtl">١- أنه يؤكل ، يتمثله الإنسان ، فيصبح في لحمه وعظامه.</p>
<p dir="rtl">۲ &#8211; إنه صالح للجميع يناسب جميع الأعمار وكل الفئات وكل الطبقات ، ولكنه وهو طعام للجميع إلا أنه طعام شخصي يلزم لكل واحد أن يأخذ شخصيا لحياته.</p>
<p dir="rtl">٣ &#8211; أنه خبز يعطى الحكمة . فالله الذي هو الحكمة ينادي &#8220;كلوا من طعامی ، أتركوا الجهالات فتحيوا وسيروا في طريق الفهم&#8221; . فكل من يتناول جسد الرب ودمه الأقدسين ينال الحكمة والفهم والإستنارة الروحية ويعرف كيف يسلك في النور لهذا تشترط الكنيسة في قوانينها أنه يلزم على المؤمن ألا يتخلف عن التناول من سر الشكر أكثر من أربعين يوما على الأكثر لئلا يجف ويهزل وتضعف بصيرته الروحية . &#8220;والخبز الذي أنا أعطى هو جسدي الذي أبذله من أجل حياة العالم . إن لم تأكلوا جسد أبن الإنسان وتشربوا دمه فليس لكم حياة فيكم . من يأكل جسدی ويشرب دمی فله حياة أبدية ، وأنا أقيمه في اليوم الأخير، لأن جسدی مأكل حق ودمي مشرب حق . فمن يأكلني فهو يحيا بي . ليس كما أكل آباؤكم المن وماتوا ، من يأكل هذا الخبز يحيا إلى الأبد (يوحنا إصحاح ٦).</p>
<p dir="rtl">هل الخبز على المذبح هو جسده الحقيقي ؟</p>
<p dir="rtl">+ البعض يعتقد أن الرب يسوع لم يكن يقصد بالإفخارستيا جسدا ودما حقيقيا وإنما رمز وتذكار فقط . وإن كان هذا تذكارا تاريخيا فقط فلماذا قال اليهود هذا الكلام وصعب ورجع كثيرون من التلاميذ إلى الوراء ، وأصر الرب على أن ما يقوله هو حق حتى لو تركه كل التلاميذ (يو ٦: ٦٦ –٧٦).</p>
<p dir="rtl">+ ثم ما معنى أن الرب يؤكد ويقول جسدی مأكل حق ودمی مشرب حق من يأكل جسدی ويشرب دمي يثبت في وأنا فيه . هل التذكار يعطي هذه الهبات الروحية ( ثبوت &#8211; حياة أبدية &#8211; غفران للخطايا ) .</p>
<p dir="rtl">+ ثم ما معنى ما نراه على حوائط المقابر (الكاتكوم) في روما من القرن الثان الميلادي ونجد صورة العشاء الرباني كما ترسمها الكنائس التقليدية اليوم ونجد كتابات تشير إلى أن الذي رقد تناول من الجسد والدم قبل رقاده وقد نال بذلك الحياة الأبدية. إن لقب الخبز الحي هو أهم مطلب الحياة الإنسانية وهو أيضا أعظم عطية من العطايا الإلهية .</p>
<p dir="rtl">المرجع : كتاب ألقاب المسيح ووظائفه ( صفحة ٩٩ &#8211; ١٠٣ ) &#8211; الأنبا بيمن أسقف ملوي وأنصنا والأشمونين</p>
<hr />
<p dir="rtl"><a href="#_ftnref1" name="_ftn1">[1]</a><sup>&#8211; تفسير متى (٥ : ١٤ – ١٦) &#8211; القمص تادرس يعقوب ملطي.</sup></p>

      {% endcreateArticleAccordions %}
    </section>
  {% endblock %}
  