---
layout: 'layouts/reading.html'
title: 'قراءات يوم الخميس من الاسبوع السابع'
tags: 'great-lent'
permalink: /articles/great-lent/7-4.html
---
  {% block content %}
    <section id="readings">
      <ul>
      {% if 'undefined' != 'undefined' %}
      
      {% else %}
      {% if 'null' != 'null' %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">العشية</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeVespers '' '' %}
          </div>
        </div>
      </li>
      {% endif %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">باكر</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeMatins '19.63:1-1*@+19.64:2-4' '40.20:20-28' '20.11:13-26@23.65:8-16@18.42:1-6@12.6:8-33*@+12.7:1-20' %}
          </div>
        </div>
      </li>
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <h3 class="flex items-center justify-between">
            <span class="kufi">القداس</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </h3>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeLitugy '47.4:5-18' '62.3:13-24' '44.25:23-27*@+44.26:1-6' '19.122:1-2' '41.12:18-27' %}
          </div>
        </div>
      </li>

      {% endif %}
        </ul>
    </section>
    <section id="article">
      <h3 class="mt-8 mb-4 heading-explain">شرح القراءات</h3>
      {% createArticleAccordions %}
        <p>&#8220;لأَنْ لَيْسَ مَلَكُوتُ اللهِ أَكْلاً وَشُرْبًا، بَلْ هُوَ بِرٌّ وَسَلاَمٌ وَفَرَحٌ فِي الرُّوحِ الْقُدُسِ&#8221; (رو١٤: ١٧)</p>
<p>[لكي يكون لنا جميعاً نحن الآخذين منهما إيماناً بغير فحص ومحبّة وصبراً، ورجاء وعافية وتجديد للنفس والجسد والروح، ومشاركة سعادة الحياة الأبدية وغفراناً للخطايا] (القدّاس الكيرلسي – الرشومات).</p>
<p>[هذا الملكوت هو نعمة الروح القدس الذي يحيا فينا ويدفئنا وينيرنا ويملأ الهواء بهذه الرائحة العطرة ويبهجنا برائحته الذكية ويفرح قلوبنا بفرح لا ينطق به ولا يعبر عنه] (القديس سيرافيم ساروفسكي)<a href="#_ftn1" name="_ftnref1">[1]</a></p>
<h3>شواهد القراءات</h3>
<p>(ام١١: ١٣- ٢٦)، (اش٦٥: ٨- ١٦)، (اي٤٢: ١- ٦)، (مز٦٢: ١)، (مت٢٠: ٢٠- ٢٨)، (٢كو ٤: ٥- ١٨)، (١يو٣: ١٣- ٢٤)، (اع٢٥: ٢٣- ٢٧ ) ،(اع٢٦: ١- ٦)، (مز١٢١: ١-٢)، (مر١٢: ١٨- ٢٧).</p>
<h3>شرح القراءات</h3>
<p><strong>تتكلّم قراءات اليوم</strong> عن حياة الملكوت التي نعيشها في الأرض وفي السماء.</p>
<p><strong>تبدأ أمثال سليمان</strong> بإعلان رسم الحياة وصورة الملكوت الذي نعيشه.</p>
<p>&#8220;امرأة شاكرة، الرجل الرحيم، يوجد من يوزع فيزداد أيضاً، النفس السخية&#8221;.</p>
<p><strong>وفي سفر إشعياء</strong> يوضّح الفرق بين من يعيشون الملكوت ومن لا يعيشونه.</p>
<p>&#8220;هوذا عبيدي يأكلون وأنتم تجوعون، هوذا عبيدي يشربون وأنتم تعطشون، هوذا عبيدي يفرحون فرحاً وأنتم تحزنون، هوذا عبيدي يترنمون من طيبة القلب وأنتم تصرخون من كآبة القلب&#8221;.</p>
<p><strong>وفي سفر أيوب</strong> يُسْتَعلن الله لأيوب ويكتشف أيوب الفرق الشاسع لمعرفته السابقة لله وإعلان الله له الآن.</p>
<p>&#8220;فأجاب أيوب الرب وقال قد علمت أنك قادر على كل أمر ولا يتعذر عليك أمر&#8230; بسمع الأذن قد سمعت عنك أولاً والآن قد رأتك عيني&#8221;.</p>
<p><strong>وتعلن النفس في مزمور باكر</strong> عن عطشها الشديد لله ملك حياتها.</p>
<p>&#8220;يا الله إلهي اليك ابتكر لان نفسي عطشت اليك&#8221;.</p>
<p><strong>ويكشف الرب في إنجيل باكر</strong> عن المجد الذي يعيشه أبناء الملكوت مجد خدمة الآخرين.</p>
<p>&#8220;قل أن يجلس ابناي أحدهما عن يمينك والآخر عن يسارك في ملكوتك&#8230; بل من أراد أن يكون فيكم عظيماً فليكن خادماً لكم، ومن أراد أن يكون فيكم أولاً فليكن لكم عبداً كما أن ابن الانسان لم يأت ليُخدَم بل ليَخدِم ويبذل نفسه فداء عن كثيرين&#8221;.</p>
<p><strong>لذلك يكشف البولس</strong> عن مجد الملكوت داخلنا وفي قلوبنا وثِقَل المجد الأبدي المعدّ لنا.</p>
<p>&#8220;لأن الله الذي قال أن يشرق نور من ظلمة هو الذي أشرق في قلوبنا لإنارة معرفة مجد الله في وجه يسوع المسيح، ولنا هذا الكنز في أواني خزفية ليكون فضل القوة لله لا منا، ولذلك لسنا نفشل بل وإن كان انساننا الخارج يفني فإنساننا الداخل يتجدد يوماً فيوماً لأن خفة ضيقتنا الوقتيه تنشئ لنا أكثر فأكثر ثقل مجد أبدي&#8221;.</p>
<p><strong>وكما يعلن الكاثوليكون</strong> مدي ماتفعله المحبّة للأخوة في أنّها تنقلنا من الموت للحياة فإنه يحذّر من خطورة البغضة التي تحرمنا من الحياة الأبدية.</p>
<p>&#8220;نحن نعلم أننا قد إنتقلنا من الموت إلى الحياة لأننا نحب الأخوة، من لا يحب أخاه يبقى في الموت، فأما من كان له معيشة هذا العالم ويري أخاه محتاجاً وأغلق أحشاءه عنه فكيف تثبت محبة الله فيه&#8221;.</p>
<p><strong>ويعلن الإبركسيس</strong> أن ملكوت العهد الجديد هو تحقيق لوعد الله للآباء.</p>
<p>&#8220;والآن أنا واقف أحاكم على رجاء الوعد الذي صار من الله لآبائنا&#8221;.</p>
<p><strong>وفي مزمور القدّاس</strong> تتّجه النفس للكنيسة مكان وأيقونة حياة الملكوت وسبب فرحها.</p>
<p>&#8220;فرحت بالقائلين لي إلى بيت الرب إلهنا نذهب&#8221;.</p>
<p><strong>ويختم إنجيل القدّاس</strong> بإعلان طبيعة الملكوت وإختلافه عن الحياة على الأرض.</p>
<p>&#8220;لأنهم متى قاموا من الأموات لا يتزوجون ولا يتزّوجن بل يصيرون كملائكة في السموات&#8221;.</p>
<p><strong>كما يوضّح</strong> أن الذين رقدوا من الأبرار يتمتّعون بحياتهم في السماء.</p>
<p>&#8220;أنا إله ابراهيم وإله اسحق وإله يعقوب الله ليس إله أموات بل إله أحياء&#8221;.</p>
<h3>ملخّص القراءات</h3>
<table width="503">
<tbody>
<tr>
<td width="91">سفر الأمثال</td>
<td width="412">الشكر والعطاء صورة الملكوت الذي نعيشه الآن</td>
</tr>
<tr>
<td width="91">سفر إشعياء</td>
<td width="412">الشبع والإرتواء والفرح عطايا الملكوت للمؤمنين</td>
</tr>
<tr>
<td width="91">سفر أيّوب</td>
<td width="412">الفرق الشاسع بين السماع عن الله وبين رؤيته بعين الإيمان</td>
</tr>
<tr>
<td width="91">مزمور باكر</td>
<td width="412">العطش الشديد للحضور الإلهي</td>
</tr>
<tr>
<td width="91">إنجيل باكر</td>
<td width="412">خدمة الآخرين هى مجد الملكوت على الأرض</td>
</tr>
<tr>
<td width="91">البولس</td>
<td width="412">الكنز داخلنا والنور في قلوبنا والمجد المعدّ أبدي</td>
</tr>
<tr>
<td width="91">الكاثوليكون</td>
<td width="412">المحبّة الأخوية إعلان الملكوت الذي نعيشه</td>
</tr>
<tr>
<td width="91">الإبركسيس</td>
<td width="412">الملكوت تحقيق لوعد الله للآباء</td>
</tr>
<tr>
<td width="91">مزمور القدّاس</td>
<td width="412">الكنيسة مصدر فرحنا ومركز ملكوتنا</td>
</tr>
<tr>
<td width="91">إنجيل القدّاس</td>
<td width="412">الذين رقدوا في الإيمان يحيون الحياة الأبدية التي لا تعرف الإحتياجات المادّية.</td>
</tr>
</tbody>
</table>
<h3>الكنيسة في قراءات اليوم</h3>
<table width="503">
<tbody>
<tr>
<td width="91">إنجيل باكروالبولس</td>
<td width="412">الملكوت والمجد الأبدي.</td>
</tr>
<tr>
<td width="91">إنجيل باكر</td>
<td width="412">ابن الله يبذل نفسه فداء عن كثيرين.</td>
</tr>
<tr>
<td width="91">الكاثوليكون</td>
<td width="412">عطية الروح.</td>
</tr>
<tr>
<td width="91">مزمور القدّاس</td>
<td width="412">بيت الرب .</td>
</tr>
<tr>
<td width="91">إنجيل القدّاس</td>
<td width="412">القيامة وطبيعة الحياة في السماء.</td>
</tr>
</tbody>
</table>
<h3>عظات ابائية</h3>
<div>
<header aria-label="Bericht 1 van ">
<h4>شرح القديس كيرلس الأسكندري لإنجيل القدَّاس</h4>
</header>
</div>
<div data-test-id="message-body-container">
<div data-test-id="message-view-body">
<div data-test-id="message-view-body-content">
<div>
<div id="yiv0351078993">
<p><span>اقتربوا</span><span> </span><span>من</span><span> </span><span>المسيح</span><span> </span><span>مخلصنا</span><span> </span><span>كلنا،</span><span> </span><span>الذي</span><span> </span><span>هو</span><span> </span><span>الحياة</span><span> </span><span>والقيامة،</span><span> </span><span>وكانوا</span><span> </span><span>يسعون</span><span> </span><span>لتحطيم</span><span> </span><span>القيامة</span><span> </span><span>بكونهم</span><span> </span><span>أناسًا</span><span> </span><span>متكبرين</span><span> </span><span>وغير</span><span> </span><span>مؤمنين، إخترعوا قصة </span><span> </span><span>مشحونة</span><span> </span><span>جهلًا،</span><span> </span><span>ونظموا</span><span> </span><span>افتراضات</span><span> </span><span>جامدة،</span><span> </span><span>بها</span><span> </span><span>سعوا</span><span> </span><span>بطريقة</span><span> </span><span>شريرة</span><span> </span><span>وعنيفة</span><span> </span><span>أن</span><span> </span><span>يفسدوا</span><span> </span><span>رجاء</span><span> </span><span>العالم</span><span> </span><span>كله.</span></p>
<p><span> </span><span>نحن</span><span> </span><span>نؤكد</span><span> </span><span>أن</span><span> </span><span>رجاء</span><span> </span><span>كل</span><span> </span><span>العالم</span><span> </span><span>في</span><span> </span><span>القيامة</span><span> </span><span>من</span><span> </span><span>الأموات</span><span> </span><span>التي</span><span> </span><span>المسيح</span><span> </span><span>هو بكرها</span><span> </span><span>وأول</span><span> </span><span>ثمارها،</span><span> </span><span>لذلك</span><span> </span><span>إذ</span><span> </span><span>يجعل</span><span> </span><span>الحكيم</span><span> </span><span>بولس</span><span> </span><span>قيامتنا</span><span> </span><span>تقوم</span><span> </span><span>على</span><span> </span><span>قيامة</span><span> </span><span>السيد</span><span> </span><span>يقول</span><span>: </span><span>“</span><span>لأنه</span><span> </span><span>إن</span><span> </span><span>كان</span><span> </span><span>الموتى</span><span> </span><span>لا</span><span> </span><span>يقومون،</span><span> </span><span>فلا</span><span> </span><span>يكون</span><span> </span><span>المسيح قد قام </span><span>” </span><span>(<span title="" data-verse-start="1Cor.15.16" data-verse-end="undefined" data-original-title="">‏١كو١٥‏:‏١٦</span>)</span><span>،</span><span>كما</span><span> </span><span>يقدم</span><span> </span><span>فكرًا</span><span> </span><span>عكسيًا</span><span> </span><span>فيقول</span><span>:</span><span> “</span><span>إن</span><span> </span><span>كان</span><span> </span><span>المسيح</span><span> </span><span>يُكرز</span><span> </span><span>به</span><span> </span><span>أنه</span><span> </span><span>قام</span><span> </span><span>من</span><span> </span><span>الأموات،</span><span> </span><span>فكيف</span><span> </span><span>يقول</span><span> </span><span>قوم</span><span> </span><span>بينكم</span><span> </span><span>ليس</span><span> </span><span>قيامة</span><span> </span><span>أموات؟</span><span>‍” (<span title="" data-verse-start="1Cor.15.12" data-verse-end="undefined" data-original-title="">‏١كو ١٥‏:‏ ١٢</span>).</span><span> </span><span>الذين</span><span> </span><span>قالوا</span><span> </span><span>بهذا</span><span> </span><span>هم</span><span> </span><span>الصدوقيون</span><span> </span><span>الذين</span><span> </span><span>نتحدث</span><span> </span><span>عنهم</span><span> </span><span>الآن</span><span>.</span></p>
<p><span>على</span><span> </span><span>أي</span><span> </span><span>الأحوال</span><span> </span><span>كان</span><span> </span><span>سؤال</span><span> </span><span>الصدوقيون</span><span> </span><span>بلا</span><span> </span><span>معنى،</span><span> </span><span>السؤال</span><span> </span><span>برمته</span><span> </span><span>لا</span><span> </span><span>يتفق</span><span> </span><span>مع</span><span> </span><span>الكتب</span><span> </span><span>المقدسة</span><span> </span><span>الموحى</span><span> </span><span>بها،</span><span> </span><span>وجاءت</span><span> </span><span>إجابة</span><span> </span><span>مخلصنا</span><span> </span><span>تؤكد</span><span> </span><span>تمامًا </span><span>غباوة</span><span> </span><span>قصتهم</span><span> </span><span>وتجعلنا</span><span> </span><span>نستخف</span><span> </span><span>بوهمهم</span><span> </span><span>والفكرة</span><span> </span><span>التي</span><span> </span><span>يقوم</span><span> </span><span>عليها</span><span> </span><span>هذا</span><span> </span><span>الوهم</span><span>…</span></p>
<p><span>قال</span><span> </span><span>الله</span><span> </span><span>عن</span><span> </span><span>الذين</span><span> </span><span>رقدوا</span><span>: </span><span>“</span><span>من</span><span> </span><span>يدّ</span><span> </span><span>القبر</span><span> </span><span>أفديهم،</span><span> </span><span>من</span><span> </span><span>الموت</span><span> </span><span>أخلصهم،</span><span> </span><span>أين</span><span> </span><span>دينونتك</span><span> </span><span>يا</span><span> </span><span>موت؟</span><span> </span><span>أين</span><span> </span><span>شوكتك</span><span> </span><span>يا</span><span> </span><span>قبر</span><span>؟</span><span>” (هو١٣: ١٤)</span><span>. </span><span>الآن</span><span> </span><span>ما</span><span> </span><span>يقصده</span><span> </span><span>بدينونة</span><span> </span><span>الموت</span><span> </span><span>وشوكته</span><span> </span><span>قد</span><span> </span><span>أخبرنا</span><span> </span><span>به</span><span> </span><span>الطوباوي</span><span> </span><span>بولس</span><span> </span><span>بقوله</span><span>: </span><span>“</span><span>أما</span><span> </span><span>شوكة</span><span> </span><span>الموت</span><span> </span><span>فهو</span><span> </span><span>الخطية،</span><span> </span><span>وقوة</span><span> </span><span>الخطية هي الناموس  (<span title="" data-verse-start="1Cor.15.56" data-verse-end="undefined" data-original-title="">‏١كو ١٥ ‏:‏ ٥٦</span>) </span><span>” ، </span><span>إذ</span><span> </span><span>يقارن</span><span> </span><span>الموت</span><span> </span><span>بالعقرب،</span><span> </span><span>شوكتها</span><span> </span><span>هي</span><span> </span><span>الخطية</span><span> </span><span>وبسمها</span><span> </span><span>تقتل</span><span> </span><span>النفس</span><span>. </span><span>يقول</span><span> </span><span>أن</span><span> </span><span>الناموس</span><span> </span><span>هو</span><span> </span><span>قوة</span><span> </span><span>الخطية،</span><span> </span><span>إذ في موضع</span><span> </span><span>آخر</span><span> </span><span>يعترض</span><span>: </span><span>“</span><span>بل</span><span> </span><span>لم</span><span> </span><span>أعرف</span><span> </span><span>الخطية</span><span> </span><span>إلا</span><span> </span><span>بالناموس</span><span>” (<span title="" data-verse-start="Rom.7.7" data-verse-end="undefined" data-original-title="">‏رو ٧ ‏:‏ ٧</span>) </span><span>،</span><span> “</span><span>إذ</span><span> </span><span>حيث</span><span> </span><span>ليس</span><span> </span><span>ناموس</span><span> </span><span>ليس</span><span> </span><span>أيضًا</span><span> </span><span>تعدٍ</span><span>” (<span title="" data-verse-start="Rom.4.15" data-verse-end="undefined" data-original-title="">‏رو ٤ ‏:‏ ١٥</span>)</span><span>. </span><span>لهذا</span><span> </span><span>السبب يستبعد</span><span> </span><span>مؤمنيه</span><span> </span><span>من</span><span> </span><span>وصاية</span><span> </span><span>الناموس</span><span> </span><span>الذي</span><span> </span><span>يدين</span><span> </span><span>ويبطل</span><span> </span><span>شوكة</span><span> </span><span>الموت</span><span> </span><span>التي</span><span> </span><span>هي</span><span> </span><span>الخطية،</span><span> </span><span>فإنه</span><span> </span><span>إذ</span><span> </span><span>ينزع</span><span> </span><span>الخطية</span><span> </span><span>بالتبعية</span><span> </span><span>يرحل</span><span> </span><span>الموت</span><span> </span><span>معها،</span><span> </span><span>إذ الموت صادر</span><span> </span><span>عنها</span><span> </span><span>وبسببها</span><span> </span><span>جاء</span><span> </span><span>إلى</span><span> </span><span>العالم</span><span>.</span></p>
<p><span>إذ</span><span> </span><span>أعطى</span><span> </span><span>الله</span><span> </span><span>وعدًا</span><span>: </span><span>“</span><span>من</span><span> </span><span>يدّ</span><span> </span><span>القبر</span><span> </span><span>أفديهم،</span><span> </span><span>من</span><span> </span><span>الموت</span><span> </span><span>أخلصهم</span><span>“</span><span>،</span><span> </span><span>اتفق</span><span> </span><span>الأنبياء</span><span> </span><span>الطوباويون</span><span> </span><span>مع</span><span> </span><span>هذا</span><span> </span><span>المرسوم</span><span> </span><span>العلوي،</span><span>                    </span><span>فتحدثوا</span><span> </span><span>معنا</span><span> </span><span>لا برؤيا قلبهم </span><span> </span><span>ولا</span><span> </span><span>بمشيئة</span><span> </span><span>إنسان</span><span> </span><span>بل</span><span> </span><span>عن</span><span> </span><span>فم</span><span> </span><span>الله</span><span> </span><span>كما</span><span> </span><span>هو</span><span> </span><span>مكتوب (<span title="" data-verse-start="" data-verse-end="undefined" data-original-title="">‏إر ٢٣ ‏١٦</span>)</span><span> </span><span>إذ</span><span> </span><span>يعلن</span><span> </span><span>الروح</span><span> </span><span>القدس</span><span> </span><span>المتكلم</span><span> </span><span>فيهم</span><span> </span><span>حكم</span><span> </span><span>الله</span><span> </span><span>وإرادته</span><span> </span><span>القديرة</span><span> </span><span>غير</span><span>المتغيرة</span><span> </span><span>في</span><span> </span><span>كل</span><span> </span><span>أمر</span><span>. </span><span>يحدثنا</span><span> </span><span>إشعياء</span><span> </span><span>النبي</span><span>:  </span><span>“</span><span>تحيا</span><span> </span><span>أمواتك،</span><span> </span><span>يقوم</span><span> </span><span>الذين</span><span> </span><span>في</span><span> </span><span>القبور،</span><span> </span><span>سيبتهج</span><span> </span><span>الذين</span><span> </span><span>في</span><span> </span><span>الأرض،</span><span> </span><span>لأن</span><span> </span><span>طلك</span><span> </span><span>يشفيهم</span><span>” (إش ٢٦ :    ١٩)</span><span>. </span><span>على</span><span> </span><span>ما</span><span> </span><span>أعتقد</span><span> </span><span>أن</span><span> </span><span>الطل</span><span> </span><span>هو</span><span> </span><span>قوة</span><span> </span><span>الروح</span><span> </span><span>القدس</span><span> </span><span>واهب</span><span> </span><span>الحياة،</span><span> </span><span>أو</span><span> </span><span>تلك</span><span> </span><span>الفاعلية</span><span> </span><span>التي</span><span> </span><span>تبطل</span><span> </span><span>الموت،</span><span> </span><span>الصادرة</span><span> </span><span>عن</span><span> </span><span>الله والحياة.</span></p>
<p><span>يقول</span><span> </span><span>أيضًا</span><span> </span><span>داود</span><span> </span><span>الطوباوي</span><span> </span><span>في</span><span> </span><span>المزامير</span><span> </span><span>عن</span><span> </span><span>الذين</span><span> </span><span>على</span><span> </span><span>الأرض</span><span>:</span><span> “</span><span>تأخذ</span><span> </span><span>روحهم</span><span> </span><span>فيموتون</span><span> </span><span>وإلى</span><span> </span><span>ترابهم</span><span> </span><span>يعودون</span><span>. </span><span>ترسل</span><span> </span><span>روحك </span><span> </span><span>فتخلقهم</span><span> </span><span>وتجدد</span><span> </span><span>وجه الأرض </span><span>“</span><span> (<span title="" data-verse-start="Ps.104.29" data-verse-end="undefined" data-original-title="">‏مز ١٠٤ ‏:‏ ٢٩</span>)</span><span>. </span><span>ألم</span><span> </span><span>تسمع</span><span> </span><span>عن</span><span> </span><span>عمل</span><span> </span><span>الروح</span><span> </span><span>القدس</span><span> </span><span>ونعمته</span><span> </span><span>واهبة</span><span> </span><span>الحياة،</span><span> </span><span>هذا</span><span> </span><span>الذي</span><span> </span><span>سيجدد</span><span> </span><span>وجه</span><span> </span><span>الأرض؟</span><span> </span><span>فإنه</span><span> </span><span>يقصد</span><span> </span><span>بوجه</span><span> </span><span>الأرض جمالها </span><span>،</span><span> </span><span>وبجمال</span><span> </span><span>طبيعة</span><span> </span><span>البشر</span><span> </span><span>عدم</span><span> </span><span>الفساد،</span><span> </span><span>إذ</span><span> </span><span>قيل</span><span>: </span><span>“</span><span>يُزرع</span><span> </span><span>في</span><span> </span><span>فساد</span><span> </span><span>ويُقام</span><span> </span><span>في</span><span> </span><span>عدم</span><span> </span><span>فساد،</span><span> </span><span>يزرع</span><span> </span><span>في</span><span> </span><span>هوان</span><span> </span><span>ويقام </span><span>مجد،</span><span> </span><span>يزرع</span><span> </span><span>في</span><span> </span><span>ضعف </span><span>ويقام في</span><span> </span><span>قوة</span><span>” (<span title="" data-verse-start="1Cor.15.42" data-verse-end="1Cor.15.43" data-original-title="">‏١كو ١٥ ‏:‏ ٤٢ – ٤٣</span>)</span><span>. </span><span>مرة</span><span> </span><span>أخرى</span><span> </span><span>يؤكد</span><span> </span><span>لنا</span><span> </span><span>إشعياء</span><span> </span><span>النبي</span><span> </span><span>أن</span><span> </span><span>الموت</span><span> </span><span>الذي</span><span> </span><span>دخل</span><span> </span><span>بسبب</span><span> </span><span>الخطية</span><span> </span><span>لا</span><span> </span><span>يستعيد</span><span> </span><span>قوته</span><span> </span><span>على</span><span> </span><span>سكان</span><span> </span><span>الأرض أبدياً </span><span>،</span><span> </span><span>إنما</span><span> </span><span>يبطل</span><span> </span><span>خلال</span><span> </span><span>قيامة</span><span> </span><span>المسيح</span><span> </span><span>من</span><span> </span><span>الأموات،</span><span> </span><span>حيث</span><span> </span><span>يجدد</span><span> </span><span>المسكنة،</span><span> </span><span>ويردها</span><span> </span><span>إلى</span><span> </span><span>ما</span><span> </span><span>كانت</span><span> </span><span>عليه،</span><span> </span><span>كما</span><span> </span><span>هو</span><span> </span><span>مكتوب</span><span>: </span><span>“</span><span>خلق</span><span> </span><span>الله</span><span> </span><span>كل</span><span> </span><span>شيء</span><span> </span><span>في عدم </span><span>فساد</span><span>” (<span title="" data-verse-start="" data-verse-end="undefined" data-original-title="">‏حك ١ ‏:‏ ٤</span>) </span><span>،</span><span> </span><span>قائلًا</span><span>: </span><span>“</span><span>يُبلع</span><span> </span><span>الموت</span><span> </span><span>إلى</span><span> </span><span>الأبد،</span><span> </span><span>ويمسح</span><span> </span><span>السيد</span><span> </span><span>الرب</span><span> </span><span>الدموع</span><span> </span><span>عن</span><span> </span><span>كل</span><span> </span><span>الوجوه،</span><span> </span><span>وينزع</span><span> </span><span>عار</span><span> </span><span>شعبه</span><span> </span><span>عن</span><span> </span><span>كل</span><span> </span><span>الأرض</span><span>“</span><span> (<span title="" data-verse-start="" data-verse-end="undefined" data-original-title="">‏إش ٢٥ ‏:‏ ٨</span>)</span><span>. </span><span>عار</span><span> </span><span>الشعب</span><span> </span><span>هو</span><span> </span><span>الخطية،</span><span> </span><span>إذ</span><span> </span><span>تُنزع</span><span> </span><span>يبطل</span><span> </span><span>الموت</span><span> </span><span>ويرحل</span><span> </span><span>الفساد</span><span> </span><span>من</span><span> </span><span>وسط</span><span> </span><span>الشعب،</span><span> </span><span>وإذ</span><span> </span><span>ينتهي</span><span> </span><span>الموت</span><span> </span><span>تُنزع</span><span> </span><span>دموع</span><span> </span><span>كل</span><span> </span><span>أحد ويتوقف النحيب </span><span>،</span><span> </span><span>فلا</span><span> </span><span>توجد</span><span> </span><span>علة</span><span> </span><span>بعد</span><span> </span><span>للبشر</span><span> </span><span>من</span><span> </span><span>جهة</span><span> </span><span>البكاء</span><span> </span><span>والنحيب</span><span>.</span></p>
<p><span>هكذا</span><span> </span><span>لدينا</span><span> </span><span>الكثير</span><span> </span><span>من</span><span> </span><span>الأسانيد</span><span> </span><span>في</span><span> </span><span>تفنيد</span><span> </span><span>جحود</span><span> </span><span>اليهود،</span><span> </span><span>لكننا</span><span> </span><span>لننظر</span><span> </span><span>إلى</span><span> </span><span>ما</span><span> </span><span>قاله</span><span> </span><span>لهم</span><span> </span><span>المسيح</span><span>: </span><span>حقًا</span><span> </span><span>إن</span><span> </span><span>أبناء</span><span> </span><span>هذا</span><span> </span><span>العالم</span><span> </span><span>الذين</span><span> </span><span>يعيشون</span><span> </span><span>الحياة</span><span>الجسدانية</span><span> </span><span>العالمية</span><span> </span><span>مليئة</span><span> </span><span>بالشهوات</span><span> </span><span>من</span><span> </span><span>أجل</span><span> </span><span>الإنجاب،</span><span> </span><span>لذا</span><span> </span><span>يزوَّجون</span><span> </span><span>ويزوَّجون،</span><span> </span><span>أما</span><span> </span><span>الذين</span><span> </span><span>يبلغون</span><span> </span><span>الحياة</span><span> </span><span>المختارة</span><span> </span><span>المكرمة</span><span> </span><span>والحاملة</span><span> </span><span>كل سمو والمتأهلة</span><span> </span><span>للقيامة</span><span> </span><span>المجيدة</span><span> </span><span>العجيبة</span><span> </span><span>فبالضرورة</span><span> </span><span>تفوق</span><span> </span><span>حياة</span><span> </span><span>البشر</span><span> </span><span>في</span><span> </span><span>هذا</span><span> </span><span>العالم</span><span>. </span><span>إنهم</span><span> </span><span>يعيشون</span><span> </span><span>في</span><span> </span><span>حضرة</span><span> </span><span>الله</span><span> </span><span>كقديسين،</span><span> </span><span>يصيرون</span><span> </span><span>مساوين </span><span>للملائكة،</span><span> </span><span>أبناء</span><span> </span><span>الله</span><span>. </span><span>إذ</span><span> </span><span>تُنزع</span><span> </span><span>عنهم</span><span> </span><span>كل</span><span> </span><span>شهوة</span><span> </span><span>جسدية</span><span> </span><span>ولا</span><span> </span><span>يكون</span><span> </span><span>للذة</span><span> </span><span>الجسد</span><span> </span><span>موضع</span><span> </span><span>فيهم</span><span> </span><span>بل</span><span> </span><span>يتشبهون</span><span> </span><span>بالملائكة</span><span> </span><span>القديسين</span><span> </span><span>يمارسون</span><span> </span><span>الخدمة </span><span>الروحية</span><span> </span><span>لا</span><span> </span><span>المادية</span><span> </span><span>كأرواح</span><span> </span><span>مقدسة،</span><span> </span><span>وفي</span><span> </span><span>نفس</span><span> </span><span>الوقت</span><span> </span><span>يتأهلون</span><span> </span><span>لمجدٍ</span><span> </span><span>كذاك</span><span> </span><span>الذي</span><span> </span><span>يتمتع</span><span> </span><span>به</span><span> </span><span>الملائكة</span><span>.</span></p>
<p><span>برهن</span><span> </span><span>المخلص</span><span> </span><span>على</span><span> </span><span>جهل</span><span> </span><span>الصدوقيين</span><span> </span><span>المطّبق،</span><span> </span><span>مقدمًا</span><span> </span><span>لهم</span><span> </span><span>موسى</span><span> </span><span>معلمهم</span><span> </span><span>الديني</span><span> </span><span>كمعلم</span><span> </span><span>بالقيامة</span><span> </span><span>من</span><span> </span><span>الأموات</span><span> </span><span>بطريقة</span><span> </span><span>واضحة</span><span> </span><span>تمامًا،</span><span> </span><span>إذ</span><span> </span><span>يقدم لنا الله</span><span> </span><span>القائل</span><span> </span><span>في</span><span> </span><span>العليقة</span><span>: </span><span>“</span><span>أنا</span><span> </span><span>إله</span><span> </span><span>إبراهيم</span><span> </span><span>وإله</span><span> </span><span>إسحق</span><span> </span><span>وإله</span><span> </span><span>يعقوب</span><span>“.</span><span> </span><span>إله</span><span> </span><span>من</span><span> </span><span>هو</span><span> </span><span>أن</span><span> </span><span>كان</span><span> </span><span>هؤلاء</span><span> – </span><span>كما</span><span> </span><span>يظنون</span><span> – </span><span>لا</span><span> </span><span>يعيشون</span><span> </span><span>بعد؟‍</span><span> </span><span>إنه</span><span> </span><span>إله</span><span> </span><span>أحياء،</span><span>لذلك</span><span> </span><span>سيقومون</span><span> </span><span>عندما</span><span> </span><span>تجلبهم</span><span> </span><span>يمين</span><span> </span><span>الله</span><span> </span><span>القدير،</span><span> </span><span>ليس</span><span> </span><span>وحدهم</span><span> </span><span>بل</span><span> </span><span>وكل</span><span> </span><span>الذين</span><span> </span><span>هم</span><span> </span><span>على</span><span> </span><span>الأرض</span><span>. </span><span>عدم</span><span> </span><span>الإيمان</span><span> </span><span>بهذا</span><span> </span><span>يليق</span><span> </span><span>بجهل</span><span> </span><span>الصدوقيين،</span><span> </span><span>لا بمحبي</span><span> </span><span>المسيح</span><span>. </span><span>أما</span><span> </span><span>نحن</span><span> </span><span>فنؤمن</span><span> </span><span>بالقائل</span><span>: </span><span>“</span><span>أنا</span><span> </span><span>هو</span><span> </span><span>القيامة</span><span> </span><span>والحياة</span><span>” (<span title="" data-verse-start="John.11.25" data-verse-end="undefined" data-original-title="">‏يو ١١ ‏:‏ ٢٥</span>) ،</span><span> </span><span>هذا</span><span> </span><span>الذي</span><span> </span><span>يقيم</span><span> </span><span>الأموات</span><span>: </span><span>“</span><span>في</span><span> </span><span>لحظة،</span><span> </span><span>في</span><span> </span><span>طرفة</span><span> </span><span>عين</span><span> </span><span>عند</span><span>البوق</span><span> </span><span>الأخير،</span><span> </span><span>فإنه</span><span> </span><span>سيبوق،</span><span> </span><span>فيُقام</span><span> </span><span>الأموات</span><span> </span><span>عديمي</span><span> </span><span>الفساد</span><span> </span><span>ونحن</span><span> </span><span>نتغير</span><span>” (<span title="" data-verse-start="1Cor.15.52" data-verse-end="undefined" data-original-title="">‏١كو ١٥ ‏:‏ ٥٢</span>).</span><span> </span><span>سيغيرنا</span><span> </span><span>مخلصنا</span><span> </span><span>كلنا</span><span> </span><span>إلى</span><span> </span><span>عدم</span><span> </span><span>الفساد،</span><span> </span><span>إلى المجد </span>والحياة غير الفاسدة، هذا الذي به وله المجد والحمد والسلطان مع الله الآب والروح القدس إلى أبد الأبد، آمين.<a href="#_ftn1" name="_ftnref1">[2]</a></p>
</div>
<div id="yiv0351078993">
<h3></h3>
<h3>عظات اباء وخدام معاصرون :</h3>
</div>
</div>
</div>
</div>
</div>
<h4>لماذا تضل أيها الإنسان ؟ لقداسة البابا تواضروس</h4>
<p>يوم الخميس من الأسبوع السابع لقداسة البابا تواضروس  مر (١٢: ١٨ – ٢٧)</p>
<p>هذا الفصل من الكتاب المقدس هو إنجيل قداس يوم الخميس من الأسبوع السابع من الصوم المقدس ، وفترة الصوم هي جهاد روحي ، لذا يجب على الإنسان أن يكشف نفسه ويعرف حقيقته ، لذلك نجد أن أكثر وسيلة تساعد الإنسان على ذلك هو السؤال ، وسؤال اليوم مبني على قصة افتراضية وليست حقيقية ، وتقول القصة أن مجموعة من الصدوقيين وهم طائفة يهودية ولكنها لا تؤمن بالقيامة ، أرادوا أن يضعوا فخاً للسيد المسيح فقالوا له : &#8220;كتب لنا موسى : إن مات لأحد أخ وترك امرأة ولم يخلف أولاداً أن يأخذ أخوه امرأته ويقيم نسلاً لأخيه . فكان سبعة إخوة . أخذ الأول امرأة ومات ولم يترك نسلاً . فأخذها الثاني ومات ولم يترك هو أيضاً نسلاً . وهكذا الثالث. فأخذها السبعة ولم يتركوا نسلاً . وآخر الكل ماتت المرأة أيضاً . ففي القيامة متى قاموا لمن منهم تكون زوجة ؟ لأنها كانت زوجة للسبعة &#8221; (مر ۱۲ : ۱۹  ٢۳)؛ وهنا كان الفخ فهم لا يؤمنون بالقيامة وسؤالهم للمسيح لمن من السبعة تكون زوجة ؟ أجاب السيد المسيح وقال لهم : &#8220;أليس لهذا تضلون إذ لا تعرفون الكتب ولا قوة الله ؟&#8221; (مر١٢ : ٢٤). وابتدأ يشرح لهم أنه في الحياة الأبدية لا توجد روابط جسدية على الإطلاق.</p>
<p>من خلال هذه القصة يطرح علينا سؤال اليوم : &#8221; لماذا تضل أيها الإنسان ؟&#8221;. هناك سببان لضلال الإنسان :</p>
<p><strong>+ السبب الأول : الجهل :</strong></p>
<p>يقول السيد المسيح : &#8220;أليس لهذا تضلون إذ لا تعرفون الكتب ولا قوة الله ؟&#8221; (مر۱۲: ٢٤)، هذا الجهل هو نتيجة لعدم القراءة أو عدم الفهم ، أو تكون معرفة الشخص ملوثة ومنحطة ، يقول الكتاب المقدس : &#8220;هلك شعبي من عدم المعرفة&#8221; (هو٤ : ٦) ويقول القديس أوغسطينوس : &#8220;الكتاب المقدس هو فم المسيح &#8220;، أما القديس جيروم فيقول : &#8220;إن جهلنا بالكتاب المقدس هو جهلنا بالمسيح&#8221; . إذا أول سبب يقود الإنسان إلى الضلال هو الجهل ، وأحياناً يكون الجهل بتشجيع من عدو الخير (الشيطان)، حتى أن الكتاب المقدس يسميه عدة مسميات منها &#8220;المخادع&#8221;، فهو مخادع من الدرجة الأولى .</p>
<p><strong>+ السبب الثاني : الشك :</strong></p>
<p>الشك هو أحد الأسلحة القوية في يد عدو الخير، فالشيطان هو صاحب التشكيك ومصدره الأول ، ويكفي أن نعرف أن العالم رغم تقدمه إلا أن حركة الإلحاد في نمو ، والإلحاد هو الشك في وجود الله وعمله وحضوره ، وقد نجح الشيطان في أن يوقع بالكثيرين إلى أن وصلوا إلى ما يعرف &#8220;بعبادة الشيطان&#8221;. احذرأيها الحبيب من حروب التشكيك ، وكيف يستخدمها الشيطان ببراعة ، ومن وسائل التشكيك التي يستخدمها الشيطان هو أنه يطرح أسئلة سخيفة ، وأحياناً يفترض افتراضات شبه مستحيلة مثل ما هو مطروح في قصة إنجيل اليوم ، وقد يختلق الشيطان أوضاع  شاذة ، وأحياناً يوقع بالإنسان في أسئلة مثل المتاهات كما فعل الصدوقيون في قصة اليوم ، كل غرض الشيطان أنه يضيع الإنسان ويجعله يشك في كل شيء .</p>
<p>قد نتذكر توما أحد تلاميذ السيد المسيح ، والذي نسميه &#8220;توما الشكاك&#8221; فهو في وقت من الأوقات بعد قيامة المسيح شك في القيامة ؛ لأنه لم يكن موجوداً مع التلاميذ وقت ظهور المسيح لهم بعد القيامة ، بالرغم من أنهم وصفوا له كل آثار التعذيب التي تعرض لها المسيح وواضحة على جسده ، ولكنه لم يصدقهم بل أصر على وضع يده في مكان المسامير والحربة كي يصدق ، ولذلك نسمع عن توما أنه كان آخر من آمن بقيامة المسيح ، ولكنه أول من صرخ صرخته اللاهوتية عندما قال : &#8220;ربي وإلهي &#8221; (یو ۲۰ : ۲۸)، فقال له السيد المسيح : &#8220;طوبى للذين آمنوا ولم يروا&#8221; (يو۲۰ : ۲۹). أريدك أن تعرف أيها الحبيب أن السماء روحية ، فالله روح بسيط ، والروحيات لا تُوصف بالجسديات ، فعندما اختطف بولس الرسول إلى السماء وسألوه ماذا رأيت ؟ صمت قليلا ثم قال : &#8220;ما لم تر عين، ولم تسمع أذن، ولم يخطر على بال إنسان : ما أعده الله للذين يحبونه &#8221; (۱کو ۲ : ۹).</p>
<p>ولم يستطع القديس بولس الرسول أن يصف السماء بكل ما به من علم وبلاغة وفلسفة ؛ لأن السماء روحية والحياة فيها روحية ، ولا يوجد فيها أي نوع من الروابط الأرضية والجسدية ، ولا يوجد فيها ممارسات الأرض ، ولا الممارسات الزمنية .</p>
<ul>
<li><strong>قصة</strong></li>
</ul>
<p>ذات يوم كان هناك رجل يحيا في قبيلة من قبائل أكلي لحوم البشر ، وقد عرف المسيح وآمن به وبدأ يقرأ في الكتاب المقدس ليلاً ونهاراً ، حتى أن الإنجيل بدأ يهذب من طباعه ، وصار إنساناً هادئاً وديعاً متواضعاً ، مر عليه أحد أفراد القبيلة وابتدأ يسخر منه ويشككه  ، فإذ بالرجل المؤمن وهو يقرأ الإنجيل يقول له : &#8221; لولا تعليم هذا الكتاب لأكلتك الآن ، ولكن تعاليم المسيحية تجعلني أحبك &#8220;.</p>
<p>أسلوب الشك هو الأسلوب الحاضر اليوم في العالم كله ، ليس فقط في المسائل الروحية ، ولكنه موجود في حياة الشعوب وحياة الدول ، والإلحاد الذي يزداد في العالم هو أكبر دليل على بذرة الشك التي يطرحها عدو الخير في قلوب البشر ، ولذلك إنجيل اليوم يوجه لنا سؤالا هو : &#8220;لماذا تضل أيها الإنسان ؟&#8221;.</p>
<p><strong>+ أسباب ضلال الإنسان :</strong></p>
<p><strong>١- إرادة ضعيفة :</strong></p>
<p>هناك من تكون إرادته ضعيفة أمام بعض الأمور التي قد تكون خاطئة ، ولا توجد تقوية للإرادة الضعيفة أمام الخطية سوى الصوم ، دائماً تصلي في قسمة الصوم الكبير ونقول : &#8220;الصوم والصلاة هما اللذان يخرجان الشياطين&#8221;. فى الأصوام تكون هناك فترة انقطاعية وهي التي تقوي إرادة الإنسان ، يلحقها فترة نباتية (الطعام النباتي) على اعتبار ضرورة تغذية الجسم بطاقة محدودة هادئة من خلالها يستطيع الإنسان أن يمارس حياته ومسئولياته اليومية ، والطعام النباتي هو الذي يذكرنا بالفردوس ، فكأن فترة كل يوم الخاصة بالصوم هي التي تقوي إرادتي التي تقف أمام الطعام وما هو متاح ، وهذا الكلام ينطبق على كل الأصوام وخاصة الأصوام الأسبوعية (الأربعاء والجمعة) التي تساعد الإنسان على أن يقوي إرادته . إذا إن كانت إرادتك ضعيفة فعلاجك هو الصوم ، وإن كانت معرفتك ضعيفة أوضئيلة فالعلاج يبدأ من الكتاب المقدس والقراءة المستمرة والمنتظمة في إنجيلك يومياً ، حيث يقول الكتاب : &#8220;إذ لا تعرفون الكتب ولا قوة الله ؟&#8221; (مر١٢ : ٢٤). مجرد القراءة فيها قوة الله ، فالقراءة اليومية والتي تكون بوعي وبتركيز ، هذه القراءة تمنحك قوة ، فالكتاب المقدس موحى به من الله ، وكلمة &#8220;وحي&#8221; أحد معانيها &#8221; أنفاس الله&#8221;، فكأنك في كل مرة تفتح إنجيلك تشتم أنفاس الله ، وبالتالي تنال قوة خاصة .</p>
<p><strong>۲ رؤية عاجزة :</strong></p>
<p>صدر مقرا إذا كان لديك رؤية عاجزة فهذا يعني أن عينيك لا ترى سوى التراب والأرضيات ، ولا ترى السموات ؛ لأن عدو الخير يلعب في ذهن الإنسان من خلال الشك ، ويكون العلاج لهذه الرؤية العاجزة هي صلواتك ، ولذلك الكنيسة من خلال الصلوات والتسابيح والألحان وكتب : الخولاجي والإبصلمودية والأجبية ، وجميع الكتب على تنوعها ، تهدف إلى الهدف الواحد وهو أن تفتح رؤية الإنسان .</p>
<p>ذات مرة جاء إلى المسيح شخص مجنون وأعمى وأخرس ، يقول لنا الكتاب : &#8220;حينئذ أحضر إليه مجنون أعمى وأخرس فشفاه &#8221; (مت۱۲ : ۲۲)، ومجنون بمعنى أنه إنسان لا يستطيع أن يفكر في الله ، وأعمى أي أنه لا يقدر أن يرى الله ، أما أخرس فمعناه أنه لا يمكنه أن يتكلم مع الله ، وهذه هي أفعال الخطية والشيطان ، فالشيطان هدفه الأساسي أنه يحرم الإنسان من السماء سواء بالجهل أو بالشك أو بالأفكار المتعبة أو بالانشغالات أكثر من اللازم &#8230;</p>
<p>ليس أمامك سوى الصلاة إذا كان لديك رؤية عاجزة ، صلواتك التي ترفعها متعددة في التقليد المسيحي ، فهناك الصلاة السهمية وهي عبارة قصيرة نكررها باستمرار في كل الأوقات &#8220;يا ربي يسوع المسيح ارحمني أنا الخاطئ&#8221;، وسميت السهمية</p>
<p>لأنها مثل السهم في محاربة عدو الخير .</p>
<p><strong>٣- صحبة باهتة :</strong></p>
<p>ويقصد بها الأصحاب المتعبين لك أو أصحاب السوء ، وقد يتولد عنها معرفة خاطئة وعلاقات رديئة وأفكار شريرة ، فإذا كان هذا هو ضعفك والسبب في ضلالك فأنصحك بصحبة مقدسة من خلال سير القديسين ، فالكنيسة من عظمتها تقرأ علينا السنكسار يومياً ، وفي تقليد الكنائس الغربية كل يوم له اسم قديس . استبدل هذه الصحبة الشريرة أو الباهتة بصحبة مقدسة ، فما أروع وما أشهى قراءة سير القديسين ؛ لأنها تجعل قلبك دائما حاضراً ، وتجعلك مشبع بحياة القداسة ، وتتمتع بحراسة هؤلاء القديسين الذين تقرأ سيرهم ، فلا يستطيع عدو الخير أن يقوى عليك .</p>
<p><strong>٤ رغبة محدودة :</strong></p>
<p> إن كانت رغبتك محدودة فعلاجها هي الخدمة ، خدمة الآخرين بأي شكل ، فالخدمات تتعدد أشكالها وصورها ، فوجودك وانتمائك لخدمة الآخرين يساعدك باستمرار على أن تكون دائماً منتبه ولا يستطيع عدو الخير أن يقوى عليك ، فأنت مشغول دائما بالخدمة وباحتياجاتها ، هناك أناس كثيرون يتعرضون لضيقات وليس لهم أحد أن يذكرهم مثل : &#8221; دور المسنين ، بيوت ذوي الاحتياجات الخاصة ، بيوت ضيافة الأطفال المعوزين ، &#8230;.&#8221;</p>
<p>من فضلك إذا كانت رغبتك الروحية قليلة ، وليس لديك شهية في الروحيات ، أنصحك بأن تتجه لخدمة الآخرين وابحث عنهم بنفسك وسوف تجد شهيتك جيدة .</p>
<p>نحن تصلي في أوشية القرابين ونقول : &#8220;أعطهم الباقيات عوضاً عن الفانيات السمائيات عوض الأرضيات ، الأبديات عوض الزمنيات&#8221;، وهذه هي شهوة قلوبنا .</p>
<p>أيها الحبيب احترس من الشك والجهل والضعف بصفة عامة ، إن كان في إرادتك أو معرفتك أو في صحبتك أو في شهيتك ، والكتاب المقدس يقول : &#8220;أليس لهذا تضلون ، إذ تعرفون الكتب ولا قوة الله ؟ &#8221; (مر١٢ : ٢٤) .</p>
<p>لا تنس أن معرفتك بالإنجيل تجعلك دائماً واعياً ، وعدو الخير يبتعد عنك ، حتى أن السيد المسيح كان يجيب على الشيطان في التجربة على الجبل في كل موقف كان يقول : &#8220;مكتوب ليس بالخبز وحده &#8230; ، مكتوب للرب إلهك تسجد &#8230;. مكتوب لا تُجرب الرب إلهك &#8220;، وهذا مكتوب بالكلمة المقدسة والوصية المقدسة .</p>
<p>فليعطنا مسيحنا يا أحبائي أن تكون حياتنا منتبهة واعية لمحاربات عدو الخير، وحروب التشكيك التي يقع فيها الكثيرون اليوم .</p>
<p>لإلهنا كل مجد وكرامة من الآن وإلى الأبد. آمين.<a href="#_ftn1" name="_ftnref1">[3]</a></p>
<h3></h3>
<h4>شرح إنجيل القداس للموسوعة الكنسية لتفسير العهد الجديد</h4>
<p>عدد ١٨ &#8220;الصدوقيين&#8221;: هم جماعة يهودية ينتسبون إلى صادوق رئيس الكهنة أيام سليمان، وجاءوا إلى المسيح ليجربوه أيضا، وكانوا لا يؤمنون بقيامة الأموات. وقد حرص القديس مرقس أن يشير إلى عقيدتهم، حتى نفهم سبب سؤالهم التالي، والذي لا يخلو من سخرية من القيامة، ويكشف فهمهم المادي المحدود للحياة الأبدية.</p>
<p>عدد ١٩ &#8220;كتب.. موسى&#8221;: أي في شريعة الناموس (تث ٢٥: ٥-٦)، أنه إذا مات المتزوج قبل أن ينجب، فعلى أخيه أن يتزوج بأرملة المتوفى، ويسجل أول ابن باسم المتوفى، حتى لا يزول اسمه من سبطه ولا يضيع ميراثه.</p>
<p> (عدد٢٠ - ٢٣) عرض الصّدّوقيّون سؤالهم الجدلى بغرض فحص المسيح، وإغاظة الفرّيسيّين، والتهكم على فكرة القيامة، في أنه لمن من الأزواج السبعة تكون زوجةً؟! راجع شرح (مت٢٢: ٢٣ -٣٣).</p>
<p>(عدد ٢٤ ، ٢٥) جاءت إجابة المسيح لهم موبخة، إذ واجههم بانحراف إيمانهم، وأرجع السبب في ذلك لانصرافهم عن شريعة الله بالجدل العقلى، والاستهانة بقوة وقدرة الله على قيامة الأموات، ووضح لهم في (ع٢٥) أنه لا زواج جسدي في القيامة، بل تكون الأجساد روحانية نورانية كأجساد الملائكة، فلا حاجة هناك هناك للتكاثر أو التناسل.</p>
<p>(عدد ٢٦ ، ٢٧) يعود السيد المسيح للتأكيد على عقيدة قيامة الأموات، ويقدم دليلا من الكتاب المقدس، فيذكر للصدوقيين الحديث الذي دار بين الله وبين موسى في سيناء، عند العليقة (خر٦:٣ ،١٦)، وكيف قدم الله نفسه لموسى، إذ قال إنه إله إبراهيم وإسحاق ويعقوب. وليس من المعقول أن ينسب الله نفسه لأموات، بل لأحياء. وختم المسيح حديثه كما بدأه معهم بأنهم انحرفوا عن الإيمان برفضهم لحقيقة القيامة من بين الأموات.</p>
<p>† إلهي الحبيب&#8230; إن القيامة والأبدية حقيقة نؤمن بها، ولكنها كثيرًا ما تغيب عن قلوبنا، فننشغل بالعالم الفانى، وننسى ما هو باقٍ لنا&#8230; أعطنا يا رب أن نهتم &#8220;بالباقيات عوض الفانيات، والأبديات عوض الزمنيات&#8221; كما تعلّمنا الكنيسة أن نصلي في أوشية الراقدين <a href="#_ftn1" name="_ftnref1">[4]</a></p>
<h3></h3>
<h3></h3>
<h3>المراجع</h3>
<p><a href="#_ftnref1" name="_ftn1">[1]</a><sup>- </sup><sup>الكتاب الشهري عدد سبتمبر 1997 - بيت التكريس.</sup></p>
<p><a href="#_ftnref1" name="_ftn1">[2]</a> - تفسير إنجيل مرقس ( الإصحاح الثاني عشر ) - القمص تادرس يعقوب ملطي</p>
<p><a href="#_ftnref1" name="_ftn1">[3]</a> - كتاب إختبرني يا الله صفحة ٣٧٤ - قداسة البابا تواضروس الثاني</p>
<p><a href="#_ftnref1" name="_ftn1">[4]</a> - الموسوعة الكنسية لتفسير العهد الجديد ( إنجيل مرقس الإصحاح الثاني عشر ) - كنيسة مار مرقص بمصر الجديدة</p>
<p>

      {% endcreateArticleAccordions %}
    </section>
  {% endblock %}
