---
layout: 'layouts/reading.html'
title: 'قراءات يوم الجمعة من الأسبوع السابع'
permalink: great-lent/7-5.html
---
  {% block content %}
    <section id="readings">
      <ul>
      {% if 'undefined' != 'undefined' %}
      
      {% else %}
      {% if 'null' != 'null' %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">العشية</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeVespers '' '' %}
          </div>
        </div>
      </li>
      {% endif %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">باكر</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeMatins '19.98:4-6' '42.17:20-37' '1.49:33-33*@+1.50:1-26@20.11:27-31*@+20.12:1-22@23.66:10-24@18.42:7-17' %}
          </div>
        </div>
      </li>
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <h3 class="flex items-center justify-between">
            <span class="kufi">القداس</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </h3>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeLitugy '55.3:1-17*@+55.4:1-5' '59.5:7-16' '44.15:1-18' '19.98:8,9' '42.13:31-35' %}
          </div>
        </div>
      </li>

      {% endif %}
        </ul>
    </section>
    <section id="article">
      <h3 class="mt-8 mb-4 heading-explain">شرح القراءات</h3>
      {% createArticleAccordions %}
        <p>&#8220;هكَذَا الْمَسِيحُ أَيْضًا، بَعْدَمَا قُدِّمَ مَرَّةً لِكَيْ يَحْمِلَ خَطَايَا كَثِيرِينَ، سَيَظْهَرُ ثَانِيَةً بِلاَ خَطِيَّةٍ لِلْخَلاَصِ لِلَّذِينَ يَنْتَظِرُونَهُ.&#8221; (عب ٩: ٢٨).</p>
<p>[وأعطنا كمالنا المسيحي يرضيك أمامك لأن ملكوتك نقي ومملوء مجداً أيها المسيح إلهنا هذا الذي نرجو أن نناله كلنا] (القدّاس الغريغوري &#8211; صلاة وضع يد بعد التناول).</p>
<p>[كما يقال للخاطئ أنت تراب وإلى التراب تعود هكذا يقال للقديس أنت سماء وإلى السماء تعود] (القديس جيروم)<a href="#_ftn1" name="_ftnref1">[1]</a></p>
<h3>شواهد القراءات</h3>
<p>(تك٤٩: ٣٣) ، (تك ٥٠: ١- ٢٦)، (ام١١: ٢٧- ٣١) ، ( ام ١٢: ١- ٢٢)، (اش٦٦: ١٠- ٢٤)، (اي٤٢: ٧- ١٧)، (مز٩٧: ٥-٦)، (لو١٧: ٢٠- ٣٦)، (٢تي٣: ١- ١٧ )، (٢تي ٤: ١- ٥)، (يع٥: ٧- ١٦)، (اع١٥: ١- ١٨)، (مز٩٧: ٨)، (لو١٣: ٣١- ٣٥).</p>
<h3>شرح القراءات</h3>
<p><strong>تختم اليوم قراءات الصوم الكبير</strong> بكمال عمل الملك وقرب مجيئه الثاني ودينونته لغير المؤمنين والرافضين الخلاص، فاليوم هو يوم المكافأة العظيمة للأبرار ويوم الفرح لإفتقاد الله لهم وفي نفس الوقت هو يوم دينونة الأشرار وقضاء الله العادل لهم.</p>
<p><strong>لذا تبدأ القراءات</strong> بسفر التكوين ونبوءة يوسف عن إفتقاد الله لشعبه.</p>
<p>&#8220;وسيفتقدكم الله افتقاداً ويصعدكم من هذه الأرض إلى الأرض التي حلف الله لآبائكم ابراهيم واسحق ويعقوب&#8221;.</p>
<p><strong>وفي أمثال سليمان</strong> يوضّح أن الخلاص يحتاج لجهاد الإنسان ليحفظ مكانه ومكانته في المسيح.</p>
<p>&#8220;إذا كان البار بالجهد يخلص فالخاطئ والمنافق أين يظهران&#8221;.</p>
<p><strong>وفي سفر أشعياء</strong> يبشّر المؤمنين بفرح الخلاص وكمال خلاصه ويحذّر الأشرار من الدينونة العتيدة.</p>
<p>&#8220;افرحوا مع أورشليم وعيدوا فيها، لأنه هكذا قال الرب هأنذا أدير إليها السلام كالنهر ومجد الأمم كالوادي الطافح، لأنه هوذا الرب يأتي كنار ومركباته كعاصفة لينتقم بغضب ورجز ولهيب نار لأن الرب بالنار يدين الأرض كلها&#8221;.</p>
<p><strong>وفي سفر أيوب</strong> كمال توبة أيوب وغفرانه لأصحابه وتعويضات الله المضاعفة له.</p>
<p>&#8220;ورفع الرب أيوب جداً حين صلي لأجل أصحابه الثلاثة وصفح عن اسائتهم وضاعف الرب لأيوب ضعف ما كان له قبلاً، وبارك الرب آخرة أيوب أكثر من أوائله&#8221;.</p>
<p><strong>وفي مزمور باكر</strong> تتهلّل الأرض كلّها بالخلاص المزمع أن يكون.</p>
<p>&#8220;هللوا للرب يا كل الأرض سبحوا وهللوا ورتلوا&#8221;.</p>
<p><strong>وفي إنجيل باكر</strong> يوبّخ الرب الفريسيين لترقبّهم ملكوت الله بينما ابن الانسان في وسطهم ويحذّرهم بأن غياب التوبة تجعل المصير مظلم مثل أيام نوح وقت الطوفان وأيام لوط في هلاك سدوم وعمورة.</p>
<p>&#8220;ولما سأله الفريسيون متى يأتي ملكوت الله أجابهم وقال لا يأتي ملكوت الله بترقب، فهوذا ملكوت الله داخلكم، فإنه كما أن البرق يظهر من السماء ويضئ تحت السماء كذلك يكون ابن الانسان في يومه، أذكروا إمرأة لوط من يطلب خلاص نفسه يهلكها ومن يهلكها يحييها&#8221;.</p>
<p><strong>ويحذّر البولس</strong> من شكلية الحياة المسيحية ودينونتها العتيدة.</p>
<p>&#8220;إعلم هذا أنه ستأتي في الأيام الأخيرة أزمنة شريرة (صعبة) لأن الناس يكونون محبين لأنفسهم محبين للمال، محبين للذات دون محبة الله، لهم صورة التقوى لكنهم ينكرون قوتها، أنا أشهد أمام الله والرب يسوع المسيح الذي سيدين الأحياء والأموات عند ظهوره وملكوته&#8221;.</p>
<p><strong>ويؤكّد الكاثوليكون</strong> على مجئ الرب وأهمّية أن ننتظر مجيئه وقلوبنا ثابته فيه ولا تحمل أنين من أحد ونتحمل المشقّات بصبر.</p>
<p>&#8220;فتأنوا أنتم أيضاً وثبتوا قلوبكم فإن مجئ الرب قد اقترب لا يئن بعضكم من بعض يا اخوتي لئلا تدانوا هوذا الديان واقف على الأبواب&#8221;.</p>
<p><strong>ويتكلّم الإبركسيس</strong> عن إفتقاد الله للأمم وكمال إعلان الخلاص لكل الشعوب وهو في تدبير الله منذ الأزل.</p>
<p>&#8220;قد تكلم سمعان كيف افتقد الله الأمم أولاً ليتخذ منهم شعباً لإسمه، سأرجع وأقيم خيمة داود الساقطة، حتى تطلب الرب بقية الناس وجميع الأمم الذين دعي اسمي عليهم يقول الرب الصانع هذا ومعلوم عند الرب منذ الأزل جميع أعماله&#8221;.</p>
<p><strong>ويعلن مزمور القدّاس</strong> عن الفرح العظيم بمجئ الرب وعن دينونة الرب للمسكونة بالعدل والإستقامة.</p>
<p>&#8220;الجبال تبتهج أمام وجه الرب لأنه أتي ليدين الأرض يدين المسكونة بالعدل والشعوب بالإستقامة&#8221;.</p>
<p><strong>ويختم إنجيل القدّاس</strong> بكمال العمل الإلهي للشفاء والخلاص وكمال رفض الأمّة اليهودية وكمال دينونة الله.</p>
<p>&#8220;هأنذا أخرج شياطين وأتم الشفاء اليوم وغداً وفي اليوم الثالث أكمل، كم مرة أردت أن أجمع بنيك مثل الطائر (يجمع فراخه) في عشه تحت جناحيه ولم تريدوا هوذا بيتكم يترك لكم خراباً&#8221;.</p>
<h3>ملخّص القراءات</h3>
<table width="503">
<tbody>
<tr>
<td width="91">سفر التكوين</td>
<td width="412">نبوءة يوسف عن إفتقاد الله لشعبه</td>
</tr>
<tr>
<td width="91">سفر الأمثال</td>
<td width="412">جهاد البار لأجل خلاصه</td>
</tr>
<tr>
<td width="91">سفر إشعياء</td>
<td width="412">كمال فرح الأبرار وكمال دينونة الأشرار</td>
</tr>
<tr>
<td width="91">سفر أيوب</td>
<td width="412">كمال غفران أيوب لأصحابه وكمال تعويضات الله له</td>
</tr>
<tr>
<td width="91">مزمور باكر</td>
<td width="412">كل الأرض تتهلّل للخلاص</td>
</tr>
<tr>
<td width="91">إنجيل باكر</td>
<td width="412">مجئ ابن الانسان مثل البرق كأيام نوح وسدوم وعمورة</td>
</tr>
<tr>
<td width="91">البولس</td>
<td width="412">الدينونة العتيدة على تزايد الشر وزيف العبادة والحياة</td>
</tr>
<tr>
<td width="91">الكاثوليكون</td>
<td width="412">الأنين من الإخوة يمكن أن يعرّضنا للدينونة</td>
</tr>
<tr>
<td width="91">الإبركسيس</td>
<td width="412">كمال إعلان الخلاص للأمم وإفتقاد الله لهم</td>
</tr>
<tr>
<td width="91">مزمور القدّاس</td>
<td width="412">دينونة المسكونة والشعوب بالعدل والإستقامة</td>
</tr>
<tr>
<td width="91">إنجيل القدّاس</td>
<td width="412">كمال الشفاء الإلهي والخلاص بموت المسيح وقيامته ورفض الأمّة اليهودية</td>
</tr>
</tbody>
</table>
<p><strong> </strong></p>
<h3>الكنيسة في قراءات اليوم</h3>
<table width="503">
<tbody>
<tr>
<td width="132">سفر الأمثال</td>
<td width="370">جهاد الأبرار</td>
</tr>
<tr>
<td width="132">إشعياء- إنجيل باكر- البولس- الكاثوليكون</td>
<td width="370">مجئ الرب</td>
</tr>
<tr>
<td width="132">البولس</td>
<td width="370">التقليد والتسليم الرسولي</td>
</tr>
<tr>
<td width="132">الكاثوليكون</td>
<td width="370">سر الكهنوت وسر مسحة المرضي</td>
</tr>
<tr>
<td width="132">الإبركسيس</td>
<td width="370">مجمع أورشليم</td>
</tr>
</tbody>
</table>
<p></p>
<h3>أفكار مقترحة للعظات</h3>
<h4>(١) كمالات الله فينا</h4>
<h4></h4>
<table width="503">
<tbody>
<tr>
<td width="91">سفر التكوين</p>
<p>وسفر أيوب</td>
<td width="412">كمال الغفران: يوسف مع إخوته.<br />
وأيوب مع أصحابه.</td>
</tr>
<tr>
<td width="91">سفر إشعياء</td>
<td width="412">كمال السلام والمجد: هأنذا أدير إليها السلام كالنهر.</td>
</tr>
<tr>
<td width="91">سفر أيوب</td>
<td width="412">كمال التعويضات: وضاعف الرب لأيوب ضعف ما كان له.</td>
</tr>
<tr>
<td width="91">الإبركسيس</td>
<td width="412">كمال إفتقاد الأمم: تطلب الرب بقية الناس وجميع الأمم.</td>
</tr>
<tr>
<td width="91">إنجيل القدّاس</td>
<td width="412">كمال الشفاء الإلهي والخلاص بالصليب والقيامة.</td>
</tr>
</tbody>
</table>
<p></p>
<h4>(٢) لماذا يدين الله البشر</h4>
<table width="503">
<tbody>
<tr>
<td width="91">سفر الأمثال</td>
<td width="412">اللسان الكاذب وشهادة الزُّور: كراهة الرب شفتا كذب</td>
</tr>
<tr>
<td width="91">إنجيل باكر</td>
<td width="412">محبّة الذات والأنا: من يطلب خلاص نفسه يهلكها</td>
</tr>
<tr>
<td width="91">البولس</td>
<td width="412">صورة التقوي : محبين للمال مفتخرين متكبرين</td>
</tr>
<tr>
<td width="91">الكاثوليكون</td>
<td width="412">الأنين من الآخرين</td>
</tr>
<tr>
<td width="91">إنجيل القدّاس</td>
<td width="412">رفض الخلاص</td>
</tr>
</tbody>
</table>
<p></p>
<h3></h3>
<h3>عظات آبائية</h3>
<h4>مجئ المسيح للشفاء والخلاص &#8211; عند الأنبا أنطونيوس الكبير<a href="#_ftn2" name="_ftnref2">[2]</a></h4>
<p><strong><u>معرفة النَّفس ومعرفة الله</u></strong><strong>: </strong></p>
<p>الإنسان العاقل الذي أعد نفسه لكي يتحرر (يخلص) بظهور ربنا يسوع يعرف نفسه في جوهره العقلي، لأن الذي يعرف نفسه يعرف تدابير الخالق وكل ما يعمله وسط خلائقه.</p>
<p>يا أعزائي المحبوبين في الرب (أنتم) أعضاؤنا والورثة مع القديسين، نتوسل (لأجلكم) باسم يسوع، أن يعطيكم الله روح التمييز، لكي تدركوا وتعرفوا عظم المحبة التي في قلبي من نحوكم، وتعرفوا أنها ليست محبة جسدية بل روحية الهية، لأنه لو أن الأمر بخصوص اسمائكم الجسدية لما كانت هناك حاجة لأن أكتب اليكم بالمرة لأنها (هذه الأسماء) مؤقتة، لكن إذا عرف انسان أسمه الحقيقي فسوف يري (يعرف) أيضاً اسم الحق، ولهذا السبب أيضاً عندما كان يعقوب يصارع طوال الليل مع الملاك كان لا يزال اسمه يعقوب، لكن عندما أشرق النهار دعي اسمه اسرائيل أي &#8220;العقل الذي يري الله&#8221; (تك٣٢: ٢٤- ٣٠).</p>
<p><strong><u>افتقاد الله لخلائقه دائماً</u></strong><strong>: </strong></p>
<p>وأعتقد أنكم لا تجهلون أن أعداء الفضيلة يتآمرون دائماً ضد الحق، لهذا السبب فقد افتقد الله خلائقه ليس مرة واحدة فقط، بل من البدء كان هناك البعض مستعدين لأن يأتوا إلى خالقهم بواسطة ناموس عهده المغروس فيهم، هذا الناموس (الداخلي) الذي علمهم أن يعبدوا خالقهم باستقامة، ولكن بسبب انتشار الضعف وثقل الجسد والإهتمامات الشِرّيّرة جف وتوقف الناموس المغروس (في البشر) وضعفت حواس النَّفس، حتي أن البشر أصبحوا غير قادرين أن يجدوا أنفسهم على حقيقتها بحسب خلقتهم، أي كجوهر (طبيعة) عديم الموت لا يتحلل مع الجسد، ولذلك فهذا الجوهر (النَّفس) لم يتمكن من التحرر (الخلاص) بواسطة بره الذاتي، ولهذا السبب سكن الله معهم (البشر) حسب صلاحه بواسطة الناموس المكتوب، لكي يعلمهم (الناموس) كيف يعبدون الآب كما يجب، الله واحد، أي أنه جوهر واحد عاقل، وأنتم تفهمون هذا، يا أحبائي، أنه في كل مكان حيث لا يوجد توافق وانسجام، يحارب البشر بعضهم بعضاً ويتقاضون (في المحاكم) بعضهم البعض.</p>
<p><strong><u>مجيء المسيح للشفاء والخلاص</u></strong><strong>: </strong></p>
<p>وقد رأي الخالق أن جرحهم يعظم وأنه يحتاج لرعاية طبيب &#8211; ويسعَ نفسه- هو خالقهم وهو نفسه الذي يشفيهم، ولذلك أرسل أمام وجهه السابقين، ونحن لا نخاف أن نقول إن موسى واضع الناموس هو أحد سابقيه، وإن نفس الروح الذي كان مع موسى كان يعمل أيضاً في جماعة القديسين (جوقة الأنبياء) وأنهم جميعاً صلوا لإبن الله الوحيد، ويوحنا أيضاً هو أحد سابقيه ولهذا السبب فإن الناموس والأنبياء كانوا إلى مجيء يوحنا &#8220;وملكوت الله يُغصب والغاضبون يأخذونه بالقوة&#8221; (مت١١: ١٢- ١٣).</p>
<p>واذ كانوا لابسين للروح رأوا إنه ولا واحد من الخليقة قادر أن يشفي هذا الجرح العظيم، وإنما فقط صلاح ونعمة الله، أي أبنه الوحيد الذي أرسله ليكون مخلصاً للعالم كله، لأنه هو الطبيب العظيم الذي يستطيع أن يشفي الجرح العظيم، وطلبوا إلى الله، وهو في صلاحه ونعمته، وهو آب كل الخليقة، لم يضن بابنه لأجل خلاصنا بل سلمه لأجلنا جميعاً ولأجل خطايانا (رو٨: ٣٢).</p>
<p>ووضع نفسه وبجلداته شفينا (راجع فيلبي٢: ٨ ؛ إشعياء٥٣: ٥). وبقوة كلمته جمعنا من كل الشعوب ومن أقصاء الأرض إلى أقصائها ورفع قلوبنا بعيداً عن الأرض، وعلمنا أننا أعضاء بعضنا البعض.</p>
<p><strong><u>لنتحرر نحن ايضاً بمجيئه</u></strong><strong>: </strong></p>
<p>أتوسل اليكم يا أعزائي المحبوبين في الرب، افهموا أن هذا الكتاب المقدس هو وصية الله، وأنه لأمر عظيم جداً أن نفهم الصورة التي أخذها يسوع لأجلنا، لأنه صار في كل شيء مثلنا ما عدا الخطية (عب٤: ١٥).</p>
<p>والآن إنه من الصواب أن نتحرر (نخلص) نحن أيضاً من كل شيء بواسطة مجيئه، حتي أنه بجهله يجعلنا حكماء وبفقره يجعلنا أغنياء، وبضعفه يقوينا، ويهب القيامة لنا كلنا، مبيداً ذاك الذي له سلطان الموت (عب٢: ١٤).</p>
<p>وحينئذ نكف عن أن نطلب يسوع لأجل احتياجاتنا الجسدية، إن مجيء يسوع يساعدنا علي أن نفعل كل صلاح، إلى أن نبيد تماماً كل رذائلنا، وعند ذلك يقول يسوع لنا لا أدعوكم بعد عبيداً بل إخوة (راجع يوحنا ١٥: ١٥).</p>
<p>وعندما وصل الرسل إلى قبول روح التبني علمهم الروح القدس أن يعبدوا الآب كما يجب.</p>
<p><strong><u>الخلاص والدينونة بمجيئ يسوع</u></strong><strong>: </strong></p>
<p>أما بالنسبة لي أنا الأسير الفقير ليسوع، فإن الوقت الذي نعيشه قد تسبب في فرح ونوح وبكاء، لأن الكثير من جنسنا (الرهبان) قد لبسوا الثوب الرهباني ولكنهم أنكروا قوته، أما الذين أعدوا أنفسهم للتحرر (الخلاص) بمجيئ يسوع، فهؤلاء أنا أفرح بهم.</p>
<p>أما الذين يتاجرون باسم يسوع بينما هم يعملون مشيئة قلوبهم وأجسادهم، فهؤلاء أنا أنوح عليهم، أما الذين نظروا إليّ طول الوقت وخارت قلوبهم وخلعوا ثوب الرهبنة وصاروا وحوشاً فأنا أبكي لأجلهم، لذلك إعلموا أن مجيء يسوع يصير دينونة عظيمة لمثل هؤلاء.</p>
<p>لكن هل تعرفون نفوسكم يا أحبائي في الرب، لكي تعرفوا هذا أيضاً هذا الوقت، وتستعدوا بتقديم نفوسكم ذبيحة مقبولة لدي الله، وبكل يقين يا أحبائي في الرب -أنا أكتب لكم كأناس حكماء قادرين أن يعرفوا أنفسهم وأنتم تعرفون أن من يعرف نفسه يعرف الله وأن من يعرف الله يعرف أيضاً تدابيره التي يصنعها من أجل خلائقه.</p>
<p>لتكن هذه الكلمة ظاهرة لكم، إنه لا يوجد عندي حب جسدي من ناحيتكم، وإنما محبة روحية الهية، لأن الله يتمجد في جميع قديسيه (مز٨٨: ٨ س) هيئوا نفوسكم طالما أن لكم من يتوسلون عنكم لله لأجل خلاصكم، لكيما يسكب الله في قلوبكم النار التي جاء يسوع لكي يلقيها على الأرض (لو١٢: ٤٩). لكي تستطيعوا أن تدربوا قلوبكم وحواسكم وتعرفوا كيف تميزوا بين الخير والشر، واليمين من الشمال، والحقيقة من الوهم، إن يسوع عرف أن الشيطان يستمد قوته من الأشياء المادية الخاصة بهذا العالم، ولذلك دعي تلاميذه وقال لهم &#8220;لا تكنزوا لأنفسكم كنوزاً على الأرض&#8221;، &#8220;ولا تهتموا للغد&#8221; (مت٦: ١٩، ٣٤).</p>
<p>وحقاً يا أحبائي إنكم تعرفون أنه عندما تهب ريح معتدلة يفتخر ربان السَّفينة (عندما يكمل الرحلة)، لكنه في وقت الرياح العاصفة المضادة يظهر كل ربان ماهر. إعرفوا إذاً من أي نوع هو هذا الوقت الذي نعيش فيه.</p>
<p>أما عن تفاصيل كلمة الحرية فتوجد أمور كثيرة أقولها لكم، لكن اعطوا الفرصة للحكيم فيكون أكثر حكمة (أم ٩:٩). أحييكم من الصغير إلى الكبير في الرب، آمين.</p>
<p></p>
<h4>الرب يفضح الفريسيين &#8211; للقديس كيرلس الأسكندري<a href="#_ftn3" name="_ftnref3">[3]</a></h4>
<p>(لو ١٣: ٣1- ٣٥) &#8220;في ذلكَ اليومِ تقَدَّمَ بَعضُ الفَرِّيسيِّينَ قائلينَ لهُ: &#8220;اخرُجْ واذهَبْ مِنْ ههنا، لأنَّ هيرودُسَ يُريدُ أنْ يَقتُلكَ&#8221;. فقالَ لهُمُ: &#8220;امضوا وقولوا لهذا الثَّعلَبِ: ها أنا أُخرِجُ شَياطينَ، وأشفي اليومَ وغَدًا، وفي اليومِ الثّالِثِ أُكَمَّلُ. بل يَنبَغي أنْ أسيرَ اليومَ وغَدًا وما يَليهِ، لأنَّهُ لا يُمكِنُ أنْ يَهلِكَ نَبيٌّ خارِجًا عن أورُشَليمَ! يا أورُشَليمُ، ياأورُشَليمُ! يا قاتِلَةَ الأنبياءِ وراجِمَةَ المُرسَلينَ إليها، كمْ مَرَّةٍ أرَدتُ أنْ أجمَعَ أولادَكِ كما تجمَعُ الدَّجاجَةُ فِراخَها تحتَ جَناحَيها، ولم تُريدوا! هوذا بَيتُكُمْ يُترَكُ لكُمْ خَرابًا! والحَقَّ أقولُ لكُمْ: إنَّكُمْ لا ترَوْنَني حتَّى يأتيَ وقتٌ تقولونَ فيهِ: مُبارَكٌ الآتي باسمِ الرَّبِّ!&#8221;.</p>
<p>إن جماعة الفريسيين كانوا أشراراً ومصمّمين ومتلهفين إلى الخداع والغش، ويصرّون بأسنانهم على المسيح وتشتعل قلوبهم بنيران الحسد حينما يرون الناس يبدون إعجابهم به، مع أن واجبهم كان بالأولى &#8211; بصفتهم قادة الشعب ويرأسون جموع العامة &#8211; هو أن يقودوهم إلى الإعتراف بمجد المسيح، لأن هذا كان هو الغرض من سَنّ الشريعة وكرازة الأنبياء القديسين، ولكنهم في شرّهم العظيم لم يتصرفوا هكذا، بل بالعكس فإنهم بكل طريقة، أثاروا سخطه باستمرار، ولذلك قال المسيح لهم: &#8220;ويلٌ لكُمْ أيُّها النّاموسيّونَ! لأنَّكُمْ أخَذتُمْ مِفتاحَ المَعرِفَةِ. ما دَخَلتُمْ أنتُمْ، والدّاخِلونَ مَنَعتُموهُمْ&#8221; (انظر لو١١: ٥٢). لأنه يمكن للمرء أن يرى أنهم قد سقطوا في حالة الخبث هذه، وفِي وضع مضاد تماماً لمحبة الله، حتى أنهم لم يكونوا يرغبون أن يقيم في أورشليم خوفاً من أن يفيد الناس، سواء بملئهم بالدهشة بسبب معجزاته الإلهية أو بإنارتهم بنور الرؤية الصحيحة لله بواسطة تعليم الحقائق التي هي أعلى من تعاليم الناموس.</p>
<p>هذه هي الأفكار التي تقودنا إليها الدروس الموضوعة أمامنا الآن، إذ يقول النص: &#8220;في ذلكَ اليومِ تقَدَّمَ بَعضُ الفَرِّيسيِّينَ قائلينَ لهُ: اخرُجْ واذهَبْ مِنْ ههنا، لأنَّ هيرودُسَ يُريدُ أنْ يَقتُلكَ&#8221;.</p>
<p>تعالوا لنثّبت عين الذهن الفاحصة على ما قالوه هنا، لنفحص بتدقيق لكي نرى هل الذين قالوا هذا الكلام هم من بين الذين يحبونه أم هم ضمن من يقاومونه، ولكن كما هو واضح فمن السهل أن ندرك أنهم كانوا يقاومونه بشدة. فمثلاً أقام المسيح المّيت من القبر مستخدماً في ذلك قوة هي قوة الله، لأنه صرخ: &#8220;لعازر هلّم خارجاً&#8221; (يو١١: ٤٣)، وقال لابن الأرملة: &#8220;أيها الشاب لك أقول قم&#8221; (لو ٧: ١٤)، أما هم فقد جعلوا المعجزة وقوداً لحسدهم، بل إنهم قالوا حين اجتمعوا معاً: &#8220;ماذا نَصنَعُ؟ فإنَّ هذا الإنسانَ يَعمَلُ آياتٍ كثيرَةً. إنْ ترَكناهُ هكذا يؤمِنُ الجميعُ بهِ، فيأتي الرّومانيّونَ ويأخُذونَ مَوْضِعَنا وأُمَّتَنا. فقالَ لهُمْ واحِدٌ مِنهُمْ، وهو قَيافا -الذي كان يخطط لقتله- كانَ رَئيسًا للكهنةِ في تِلكَ السَّنَةِ:&#8221;أنتُمْ لستُمْ تعرِفونَ شَيئًا، ولا تُفَكِّرونَ أنَّهُ خَيرٌ لنا أنْ يَموتَ إنسانٌ واحِدٌ عن الشَّعبِ ولا تهلِكَ الأُمَّةُ كُلُّها!&#8221; (انظر يو١١: ٤٧- ٥٠).</p>
<p>وهم قاوموه أيضاً بطرق أخرى، أحياناً بمعاملته بإزدراء والإستهزاء بقوته المعجزية، بل والتجاسر على سلطانه الإلهي قائلين: إن كل ما يعمله هو بواسطة بعلزبول، بل وفِي مرّة أخرى سعوا في تسليمه إلى سلطات القيصر، فلكي يتهموه أنه يمنع الإسرائليين من دفع الجزية لقيصر، اقتربوا منه بخبث ومكر قائلين: &#8220;أيَجوزُ لنا أنْ نُعطيَ جِزيَةً لقَيصَرَ أم لا؟&#8221; (لو٢٠: ٢٢). فهل يمكن إذاً لكل من وضعوا له أنواع الفخاخ هذه، الذين في وقاحتهم وقساوتهم لم يتورّعوا حتى عن القتل، الذين لكونهم بارعين في الشر، هاجموه بعنف شديد القسوة، ومارسوا باجتهاد كل هذه الحيّل لأنهم يكرهونه كراهية مُطلقة، هل يمكن أن نعتبرهم ضمن من أحبوه؟!.</p>
<p>فلماذا إذاً تقدّموا إليه قائلين: &#8220;أخرُجْ واذهَبْ مِنْ ههنا، لأنَّ هيرودُسَ يُريدُ أنْ يَقتُلكَ&#8221;؟!، وما هو غرضهم من هذا الكلام؟.</p>
<p>إن البشير يخبرنا عن هذا بقوله: &#8220;في ذلك اليوم (تلك الساعة) تقدّم إليه&#8221;. وما معني هذه اللهجة المدقَّقة؟.. لماذا كان هذا الإتقان (في التحديد)؟.. أو أي يوم (حرفياً ساعة) يقصد أن الفريسيين قالوا فيه هذا الكلام ليسوع؟..</p>
<p>كان يسوع مُنشغلاً في تعليم جموع اليهود، عندما سأله أحدهم إن كان كثيرون هم الذين يخلصون، ولكنه عبر على السؤال كأمر غير مفيد، واتجه إلى ما كان مناسباً أن يخبرهم به إذ أخبرهم عن الطريق الذي ينبغي للناس أن يسيروا فيه ليصيروا ورثة لملكوت السموات، إذ قال: &#8220;اجتَهِدوا أنْ تدخُلوا مِنَ البابِ الضَّيِّقِ&#8221; وأخبرهم أنهم لو رفضوا أن يفعلوا هذا، فإنهم سيرون &#8220;إبراهيمَ وإسحاقَ ويعقوبَ وجميعَ الأنبياءِ في ملكوتِ اللهِ، وهُم مَطروحونَ خارِجًا&#8221;، وأضاف بعد ذلك قوله: &#8220;حيث إنهم كانوا أوَّلينَ، فسيصيرونَ آخِرينَ&#8221; بسبب دعوة الوثنيين.</p>
<p>أثارت هذه الملاحظات غضب الفريسيين إذ رأوا الجموع تتوب بالفعل، وتقبل الإيمان به بحماس، وأنهم لم يعودوا يحتاجون سوى قليل من التعليم أيضاً ليعرفوا مجده وعظمة سر تجسده الذي يستحق السجود، لذلك إذ كان من المحتمل أن يفقد (الفريسيون) وظيفتهم كرؤساء للشعب، بل وإذ كانوا قد سقطوا بالفعل وطُردوا من سلطانهم على الشعب، وحُرموا من المنافع التي يجنونها منه، لأنهم كانوا محبين للمال وجشعين، وباعوا أنفسهم للربح الحرام &#8211; نراهم وقد تظاهروا بالمحبة له، فتقدموا إليه قائلين: &#8220;أخرُجْ واذهَبْ مِنْ ههنا، لأنَّ هيرودُسَ يُريدُ أنْ يَقتُلكَ&#8221;.</p>
<p>لكن أيها الفريسي صاحب القلب الحجري، لو كنت حكيماً، لو كنت على دراية حسنة بشريعة موسى الحكيم جداً، لو أنك ثبَّتّ ذهنك على إعلانات الأنبياء القديسين، لما غاب عنك أنه مادام ذهنك مملوءاً مرارة وحقداً، فلابد أن تنكشف مشاعرك الكاذبة، إنه لم يكن مجرد إنسان وواحد من الذين يشبهوننا حتي يكون بذلك مُعرضّاً للخداع، بل هو الله في شبهنا، هو الله الذي يفهم كل شيء، كما هو مكتوب: يعرف الأسرار وفاحص القلوب والكلي (مز٤٣: ٢١س؛ مز٧: ١)، وهو الذي: كل شيء عريان ومكشوف له (عب٤: ١٣) والذي لا يُخفي عليه شيء لكنك لم تعرف هذا السر الثمين والعظيم، وظننت أنه يُمكنك أن تخدع حتي ذلك الذي قال: من الذي يُخفي عني فكره ويُغلق على الكلمات في قلبه ويظن أنه أخفاها عني؟ (أي ٣٨: ٢س) .</p>
<p>فكيف أجاب المسيح عن هذه الأشياء؟..</p>
<p>إنه أجابهم برفق وبمعني خفي كما هي عادته، إذ قال: &#8220;امضوا وقولوا لهذا الثعلب&#8221;.</p>
<p>أصغوا بانتباه إلى قوة التعبير، لأنه يبدو أن الكلمات المستخدمة كانت موجهة لشخص هيرودس، لكنها بالحري تشير أيضاً إلى دهاء الفريسيين، لأنه بينما كان من الطبيعي أن يقول: &#8220;قولوا لذلك الثعلب&#8221;، فإنه لم يفعل هكذا، بل استخدم بمهارة فائقة نوعاً وسيطاً من التعبير، وأشار إلى الفريسي الذي كان بالقرب منه وقال: &#8220;هذا الثعلب&#8221;، وهو يقارن الإنسان بثعلب، لأنه من الثابت أنه حيوان ماكر جداً، ولو كان لي أن أقول، فهو خبيث تماماً كما كان الفريسيون، لكن ماذا أوصاهم أن يقولوا (لهيرودوس)؟: &#8220;ها أنا أخرج شياطين وأشفي اليوم وغداً وفِي اليوم الثالث أُكمَّل&#8221;. أنتم ترون أنه يُعلن قصده في أن يعمل ما يعرف أنه سيُحزن معشر الفريسيين، الذين يريدون طرده من أورشليم لئلا بعمل الآيات يربح كثيرين إلى الإيمان به، لكن حيث إن هدفهم هنا لم يُخفَ عليه لكونه الله، فإنه يعلن قصده في عمل ما يبغضونه ويقول إنه: سينتهر الأرواح النَّجسة، ويخلّص المرضى من أتعابهم، وأنه سيُكمَّل والتي تعني أنه بمشيئته سوف يحتمل الآلام على الصليب لأجل خلاص العالم. لذلك كما يبدو، فإنه عرف كيف ومتى سيحتمل الموت بالجسد.</p>
<p>لكن الفريسيين تخيّلوا أن سلطان هيرودس سيرعبه، وسوف يخضعه للمخاوف رغم أنه رب القوات الذي يُولَّد فينا شجاعة روحية بكلماته التي تقول: &#8220;لا تخافوا مِنَ الذينَ يَقتُلونَ الجَسَدَ ولكن النَّفسَ لا يَقدِرونَ أنْ يَقتُلوها&#8221; (مت١٠: ٢٨)، وأوضح أنه لا يضع اعتباراً لعنف الناس، بقوله: &#8220;بل ينبغي أن أسير اليوم وغداً وما يليه&#8221;. وبقوله: &#8220;ينبغي لي&#8221; فإنه لا يعني بأنها ضرورة حتميّة &#8211; قد وُضعت عليه، بل بالحري تعني أنه بسلطان مشيئته الخاصة، وبحرية وبدون تعرّض للخطر فإنه سيمضي إلى حيث أراد أن يمضي ويجتاز اليهودية دون أن يقاومه أحد أو يتآمر ضده، إلى أن يقبل نهايته بإرادته الخاصة بالموت على الصليب الثمين.</p>
<p>لذلك فليمتنع قتلة الرب هؤلاء عن التباهي بأنفسهم أو أن يتشامخوا بعجرفة عليه. أنت أيها الفريسي، لم تحرز النصرة علي شخص هارب من الألم، أنت لم تمسكه رغماً عنه، ولم تبسط سيطرتك على من رفض أن يُضبط في شباك مكرك، بَلْ هو الذي بمحض إرادته ارتضي أن يتألم لأنه متيقن جداً أنه بموت جسده سيلاشي الموت ويعود ثانية إلى الحياة، فإنه قام من الأموات وقد أقام معه الطبيعة الإنسانية كلها وأعاد صياغتها من جديد إلى حياة لا تفسد.</p>
<p>لكنه يُظهِر أن أورشليم ملوثة بدماء كثير من القديسين فيقول: &#8220;لأنه لا يمكن أن يهلك نبي خارجاً عن أورشليم&#8221;، وما الذي ينتج من هذا؟.. ينتج من هذا أنهم كانوا على وشك أن يَسقُطوا من عضويّتهم في عائلة الله الروحية، وأنهم كانوا على وشك أن يُرفَضوا من رجاء القديسين ويُحرّموا تماماً من ميراث تلك البركات المُذَخّرة لمن قد خّلصوا بالإيمان. أما عن كونهم كانوا ناسين تماماً لعطايا الله وجامحين ومتكاسلين من جهة كل شيء يمكن أن ينفعهم، فهذا أظهره بقوله: &#8220;يا أورشليم يا أورشليم يا قاتلة الأنبياء وراجمة المرسلين إليها، كم مرة أردت أن أجمع أولادك كما تجمع الدجاجة فراخها تحت جناحيها ولم تريدوا، هوذا بيتكم يُترك لكم خراباً&#8221; (لو١٣: ٣٤- ٣٥). لأن الله علّمهم بواسطة موسى الحكيم جداً ورتب لهم ناموساً ليوجّههم في سلوكهم ويكون قائدهم ومرشدهم في حياة جديرة بالإعجاب، والذي رغم أنه ليس سوى ظلال لكنه كان يحوي رمز العبادة الحقيقية، فالله قد نصحهم بواسطة الأنبياء القديسين، وكان سيجعلهم تحت الحماية أي تحت سلطانه، لكنهم فقدوا هذه البركات الثمينة بكونهم أردياء في دوافعهم وغير شاكرين ومستهزئين.</p>
<p>ثم يقول الرب: &#8220;إنكم لا ترونني حتي يأتي وقت تقولون فيه مبارك الآتي باسم الرب&#8221; (تابع لو١٣: ٣٥).</p>
<p>فماذا يعني هذا أيضاً؟.. الرب ينسحب من أورشليم، ويترك أولئك الذين قالوا له اخرج واذهب من ههنا، لأنهم غير مستحقين لحضوره بينهم، وبعد ذلك إذ اجتاز اليهودية وخلّص كثيرين، وأجرى معجزات كثيرة يعجز الكلام عن وصفها بدقة، عاد ثانية إلى أورشليم، هذا حدث عندما دخل جالساً على أتان وجحش ابن أتان، بينما الجموع المحتشدة والأطفال يحملون في أيديهم سعف النخيل وساروا أمامه وهم يسبحونه قائلين: &#8220;أوصَنّا لابنِ داوُدَ! مُبارَكٌ الآتي باسمِ الرَّبِّ!&#8221; (مت٢١: ٩). لذلك إذ قد تركهم بسبب أنهم غير مستحقين، يقول إنهم لن يروه إلا حينما يكون وقت آلامه قد حلَّ، لأنه مضى أيضاً إلى أورشليم ودخلها وسط التهليل، وفِي تلك المرة ذاتها كابد آلامه المُخلّصة نيابة عنا، لكي بالآلام يُخلّص ويجدّد &#8211; إلى عدم فساد &#8211; سكان الأرض، لأن الله قد خلّصنا بالمسيح، الذي به وله مع الآب والروح القدس التسبيح والسلطان إلى دهر الدهور.آمين.</p>
<h4></h4>
<h4>فمن يشفق عليك يا أورشليم &#8211;  للعلامة أوريجانوس<a href="#_ftn4" name="_ftnref4">[4]</a></h4>
<p><strong>(إر١٥: 5- ٧)</strong> &#8220;فمَنْ يَشفُقُ علَيكِ يا أورُشَليمُ، ومَنْ يُعَزِّيكِ، ومَنْ يَميلُ ليَسألَ عن سلامَتِكِ؟ أنتِ ترَكتِني، يقولُ الرَّبُّ. إلَى الوَراءِ سِرتِ. فأمُدُّ يَدي علَيكِ وأُهلِكُكِ. مَلِلتُ مِنَ النَّدامَةِ. وأُذريهِمْ بمِذراةٍ في أبوابِ الأرضِ. أُثكِلُ وأُبيدُ شَعبي.&#8221;</p>
<p><strong>وعيد الله لأورشليم</strong></p>
<p>١ -نريد ان نفهم جميع تلك الكلمات المملوءه وعيداً لأورشليم: &#8220;فمَنْ يَشفُقُ علَيكِ يا أورُشَليمُ، ومَنْ يُعَزِّيكِ، ومَنْ يَميلُ ليَسألَ عن سلامَتِكِ؟ أنتِ ترَكتِني، يقولُ الرَّبُّ. إلَى الوَراءِ سِرتِ. فأمُدُّ يَدي علَيكِ وأُهلِكُكِ. مَلِلتُ مِنَ النَّدامَةِ. وأُذريهِمْ بمِذراةٍ في أبوابِ الأرضِ. أُثكِلُ وأُبيدُ شَعبي.&#8221;.</p>
<p>لقد وضعتني هذه الكلمات في مأزق، وهو محاولة التوفيق بين صلاح الله وبين رفضه الرحمة لشعبه. أقدم مثالاً: لو أن ملكا حكم على إنسان في مملكته بأنه عدو له، فإنه لا يليق بأي شخص ان يُظهِر تعاطفاً مع ذلك العدو أو أن يبدي أية شفقة عليه، لأنه إذا فعل ذلك يُحسَب هذا إساءة إلى الملك وإلي أحكامه. إذا فهمت هذا المثل، أنظر إذاً إلى الإنسان المحكوم عليه من قِبَل الله من أجل خطاياه الكثيرة، ولاحظ أنه لا يحصل على أية شفقة من الملائكة رغم أن وظيفة هؤلاء الملائكة هي خدمة الطبيعة البشرية ونجدتها وإنقاذها. لأنه ليس أحد من الملائكة حينما يرى أن الله هو القاضي، وأن الذي حمى غضبه هو الخالق، وأن الخطايا وصلت إلى درجة أجبرت الله &#8211; إن صح هذا التعبير- الصالح علي توقيع الحكم ضد الخاطيء، فلا يستطيع أحد من الملائكة بعد رؤيته لكل ذلك أن يُشفِق ولا أن يحزن ولا أن يطلب الرحمة أو السلام من أجل انسان مثل هذا.</p>
<p>فلنفترض فعلاً أن أورشليم هذه &#8211; لأنها هي المقصودة بالمعنى الحرفي &#8211; هي التي أخطأت تجاه السيد المسيح وعظمت خطاياها أمامه حتي قال لها: &#8220;يا أورُشَليمُ، يا أورُشَليمُ! يا قاتِلَةَ الأنبياءِ وراجِمَةَ المُرسَلينَ إليها، كمْ مَرَّةٍ أرَدتُ أنْ أجمَعَ أولادَكِ كما تجمَعُ الدَّجاجَةُ فِراخَها تحتَ جَناحَيها، ولم تُريدوا! هوذا بَيتُكُمْ يُترَكُ لكُمْ خَرابًا.&#8221; (مت٢٣: ٣٧، 38). وأن أورشليم هذه، هي التي أًهمِلَت وتُرِكَت من الله. وأن الملائكة الذين لم يتوقفوا عن مساعدة أورشليم، والذين من خلالهم سُلِمَت الشريعة لموسى، تركوا أورشليم وقالوا: إن خطاياها أصبحت عظيمة لأن شعبها قتلوا السيد المسيح ووضعوا عليه الأيادي. حينما كانت خطاياهم قليلة كان في إمكاننا أن نتشفع وأن نطلب من أجلهم، وكان في استطاعتنا أن نشفق على أورشليم، ولكن الآن وبعد هذه الجريمة فمن يشفق عليك يا أورشليم؟ &#8220;قد أخطأتْ أورُشَليمُ خَطيَّةً، مِنْ أجلِ ذلكَ صارَتْ رَجِسَةً&#8221; (مرا ١: ٨).</p>
<p>نعم لنفرض أن أورشليم هذه هي التي قيل لها: &#8220;فمَنْ يَشفُقُ علَيكِ يا أورُشَليمُ، ومَنْ يُعَزِّيكِ&#8221;. يجب علينا نحن أيضا ألا نشفق على أورشليم ومصائبها ولا نحزن على ما أصاب شعبها، لأنهً: &#8220;بزَلَّتِهِمْ صارَ الخَلاصُ للأُمَمِ (لنا) لإغارَتِهِمْ &#8221; (رو١١:١١).</p>
<p><strong>وعيد الله للنفس البشرية</strong></p>
<p>2- أنتقل من  التفسير الحرفي إلى التفسير الروحي، مُطَبِقاً ما قيل لأورشليم على النفس البشرية. فإنك بعدما أخذت التعاليم الإلهية أصبحت أورشليم، التي كانت قبلًا &#8220;يبوس&#8221;. فإن هذه القصة ترجع في الواقع إلى أن ذلك المكان كان يسمي &#8220;يبوس&#8221; ثم تغير اسمها فيما بعد إلى أورشليم. يقال أن &#8220;يبوس&#8221; ترجمتها &#8220;مدوسة بالأقدام&#8221;.</p>
<p>إذاً، فإن يبوس، النفس &#8220;المدوسة بالأقدام&#8221; من قوات العدو، قد تغيرت وأصبحت أورشليم &#8220;رؤية السلام&#8221;. بعدما صارت يبوس أورشليم (يتم هذا في المعمودية حيث تتخلص النفس من القوات الشريرة)، أخطأت. إذا &#8220;دُست بأقدامك&#8221; دم السيد المسيح الذي للعهد الجديد، وإذا سقطت في خطايا عظيمة، يقال عنك: &#8220;فمَنْ يَشفُقُ علَيكِ يا أورُشَليمُ، ومَنْ يُعَزِّيكِ&#8221;، طالما وصَلتَ الى حد خيانة مسيحك؟.. كل واحد منا حينما يخطيء، خاصة الخطايا الجسمية، إنما يُخطئ ضد السيد المسيح نفسه. &#8220;فكمْ عِقابًا أشَرَّ تظُنّونَ أنَّهُ يُحسَبُ مُستَحِقًّا مَنْ داسَ ابنَ اللهِ، وحَسِبَ دَمَ العَهدِ الذي قُدِّسَ بهِ دَنِسًا، وازدَرَى بروحِ النِّعمَةِ؟&#8221; (عب١٠ : ٢٩).</p>
<p>فإذا دست ابن الله واستهنت بروح النعمة، فمن يُشفِق عليك ومن يُعزيك؟ ومن يميل ليسأل عن سلامتك&#8221;؟ إنه أبن الله، الذي خانه الخطاة، هو نفسه الذي سأل السلام لنا، فمن من بعده يستطيع أن يتشفع من أجل سلامنا؟.. ولندرك جيداً أن: &#8220;لأنَّ الذينَ استُنيروا مَرَّةً، وذاقوا المَوْهِبَةَ السماويَّةَ، وصاروا شُرَكاءَ الرّوحِ القُدُسِ، وذاقوا كلِمَةَ اللهِ الصّالِحَةَ وقوّاتِ الدَّهرِ الآتي، وسَقَطوا، لا يُمكِنُ تجديدُهُمْ أيضًا للتَّوْبَةِ، إذ هُم يَصلِبونَ لأنفُسِهِمُ ابنَ اللهِ ثانيَةً ويُشَهِّرونَهُ&#8221; (عب٦: ٤-٦). متى أدركنا تلك الكلمات يلزمنا أن نعمل كل ما في وسعنا لئلا يُقال علينا نحن ايضا: &#8220;فمَنْ يَشفُقُ علَيكِ يا أورُشَليمُ، ومَنْ يُعَزِّيكِ، ومَنْ يَميلُ ليَسألَ عن سلامَتِكِ؟&#8221;.</p>
<p><strong>السير إلى الوراء والإمتداد إلى قدام</strong></p>
<p>3- &#8220;أنتِ ترَكتِني، يقولُ الرَّبُّ. إلَى الوَراءِ سِرتِ.&#8221;</p>
<p>لأن مدينة أورشليم &#8211; التي تجعلنا نتذكر كل اليهود &#8211; تركت الرب، فقد قيل لها: &#8220;إلَى الوَراءِ سِرتِ&#8221;. كان هناك وقت صارت فيه أورشليم إلى الأمام وليس إلى الخلف، أما حالياً فهي تسير الي الوراء: &#8220;ورجعوا بقلوبهم إلى مصر&#8221;</p>
<p>أما بالنسبة لمعنى السير إلى الوراء أو الإمتداد إلى ما هو قدام، نشرحه كالآتي:</p>
<p>الانسان البار ينسى ما هو وراء ويمتد إلى ما هو قدام، أما الإنسان الذي يوجد في وضع مضاد للإنسان البار، فإنه سوف يتذكر ما  هو وراء ولن يمتد الى ما هو قدام. بتذكره لما هو وراء يرفض سماع السيد المسيح القائل: &#8220;فلا يرجع الى الوراء ليأخذ ثوبه&#8221;، يرفض سماع السيد المسيح القائل: &#8220;تذكروا امرأة لوط&#8221;، يرفض سماع السيد المسيح القائل: &#8220;إن الذي يضع يده على المحراث وينظر إلى الوراء لا يصلح لملكوت الله&#8221;. وفي العهد القديم مكتوب أيضاً أن الملائكة قالوا للوط بعد خروجه من سدوم: &#8220;لا تنظُرْ إلَى ورائكَ، ولا تقِفْ في كُلِّ الدّائرَةِ. اهرُبْ إلَى الجَبَلِ لِئلا تهلِكَ&#8221; (تك١٩: ١٧):</p>
<p>&#8220;لا تنظرالى ورائك&#8221; امتد دائماً إلى ما هو قدام، لقد تركت سدوم، فلا تنظر إذاً اليها، لقد تركت الشر والخطية فلا تعود بنظرك اليهما، &#8220;ولا تقِفْ في كُلِّ الدّائرَةِ&#8221;. فإنه حتي إذا أطعت الأمر الأول &#8220;لا تنظُرْ إلَى ورائكَ&#8221;، هذا غير كاف لإنقاذك إن لم تطع الأمر الثاني أيضا: &#8220;ولا تقِفْ في كُلِّ الدّائرَةِ&#8221;.</p>
<p>ان بدأنا التقدم والنمو الروحي، يجب علينا ألا نتوقف في حدود دائرة سدوم، بل نتخطى تلك الحدود ونهرب إلى الجبل. إذا أردت ألا تهلك مع أهل سدوم فلا تنظر أبداً إلى ما هو وراء، ولا تقف في دائرة سدوم، ولا تذهب إلى أي مكان آخرسوى الجبل، لأنه هناك فقط يمكننا أن نخلص، الجبل هو ربنا يسوع الذي له المجد والقدرة إلى أبد الآبدين. آمين.</p>
<p></p>
<h4></h4>
<h3>عظات آباء وخدام معاصرون :</h3>
<h4><span lang="AR-SA">كم مرة أردت ؟ &#8211; لقداسة البابا تواضروس</span></h4>
<p class="yiv1603838266MsoNormal" dir="RTL"><b><span lang="AR-SA">لو ( ١٣ : ٣١ – ٣٥ ) <u></u><u></u></span></b><b><span lang="AR-SA">كم مرة أردت ؟<u></u><u></u></span></b></p>
<p class="yiv1603838266MsoNormal" dir="RTL"><span lang="AR-SA">يوجه السيد المسيح سؤاله : &#8221; كم مرة أردت ؟&#8221; لكل شخص منا ، كم مرة كنت أريد أن أفعل لك شيئاً ولكنك رفضت ، بل عاندت نفسك ، ومن هنا يأتي السؤال : &#8221; يا أورشليم يا أورشليم يا قاتلة الأنبياء وراجمة المرسلين إليها كم مرة أردت أن أجمع أولادك كما تجمع الدجاجة فراخها تحت جناحيها ولم تُريدوا &#8221; (لو ١٣ :٣٢). أورشليم تمثل النفس المعاندة ، ونلاحظ تكرار كلمة &#8221; أورشليم &#8220;، فأورشليم في العهد القديم هي &#8221; مدينة السلام &#8220;، وبالرغم من أن اسمها &#8221; مدينة السلام &#8221; لكنها لم تعرف السلام إلا سنوات معدودة جدا عبر تاريخها الطويل . أُريدك أن تضع أمامك المقارنة التي أوضحها السيد المسيح عندما خاطب هيرودس وقال : &#8221; امضوا وقولوا لهذا التّعلب &#8221; (لو ١٣ : ٣٢)، ويقصد بالثعلب الشيطان عدو الخير ، وفي المقابل نجد المسيح يقول &#8221; كم مرة أردت أن أجمع أولادك كما تجمع الدجاجة فراخها &#8221; (لو ١٣ :٣٤)، فنجد ثعلب ودجاجة ، والفرق شاسع بين الدجاجة المسالمة وبين الثعلب المكار الخبيث . أما المقصود &#8221; بالأولاد &#8221; فليس هم الشعب فقط ، ولكن يقصد أفكار الإنسان أيضاً ، فالرب هنا يخاطب النفس البشرية ، وكم مرة يريد أن يجمع أفكار الإنسان ، كل مواهب الإنسان ، كل قدرات الإنسان تتجمع مع بعضها ؛ لأن من الملاحظ أن هناك أناس يعيشون مشتتين ، والتشتيت عندما يزيد يصل إلى درجة من الصراع النفسي ، والصراع النفسي هو عبارة عن رغبات متصارعة متحاربة داخل قلب الإنسان . كم مرة أراد الله أن يجمع أفكارك ورغباتك وطموحاتك ومسيرة حياتك ؟<u></u><u></u></span></p>
<p class="yiv1603838266MsoNormal" dir="RTL"><span lang="AR-SA">عندما يقول لك كم مرة أردت ؟ فإن هذا السؤال يوازي سؤال : كم مرة أعطيتك فرصة ؟<u></u><u></u></span></p>
<p class="yiv1603838266MsoNormal" dir="RTL"><span lang="AR-SA">إذا حاول الإنسان أن يجمع هذه الفرص لا يستطيع حصرها ، وأتجاسر وأقول أن الفرص التي يمنحها الله للإنسان يمكن أن تكون بعدد أيام عمر الإنسان ، ولذلك أحياناً نطلق على الفرص الصدفة ، ولكن لا بد أن تعرف أنه لا يتم شيء على وجه الأرض إلا بتدبير من يد الله ، ولذلك تسمي الله دائماً &#8221; ضابط الكل &#8220;، وهذه نقطة مهمة جداً عندما يقول : &#8221; كم مرة أردت أن أجمع أولادك &#8230; ولم تريدوا &#8220;، فكم من الفرص أعطاها الله لك ؟ وهل أنت واثق في إلهك أنه هو ضابط كل شيء ؟<u></u><u></u></span></p>
<p class="yiv1603838266MsoNormal" dir="RTL"><b><span lang="AR-SA">أمثلة<u></u><u></u></span></b></p>
<p class="yiv1603838266MsoNormal" dir="RTL"><span lang="AR-SA">۱<b> زكا العشار :<u></u><u></u></b></span></p>
<p class="yiv1603838266MsoNormal" dir="RTL"><span lang="AR-SA">جاءت هذه الفرصة لزكا ، هو أراد أن يرى المسيح فقط لم يكن في حسبانه أن يقابله ويتكلم معه ، وأن يزوره في بيته ، لكن جاءت لزكا الفرصة وتسلق الشجرة ومسك في الفرصة فتغيرت حياته .<u></u><u></u></span></p>
<p class="yiv1603838266MsoNormal" dir="RTL"><span lang="AR-SA">٢<b>&#8211; لاوي العشار :</b><u></u><u></u></span></p>
<p class="yiv1603838266MsoNormal" dir="RTL"><span lang="AR-SA"> الفرصة جاءت أيضا للاوي العشار الذي صار بعد ذلك القديس متى ، وجاءت له أيضاً له الفرصة بكلمة واحدة &#8221; اتبعني &#8221; (مت ۹ : ۹)، حيث مر السيد المسيح أمامه ووقف وقال &#8220;، له &#8221; اتبعنى &#8221; تصور إذا كان لاوي طلب من المسيح أن يعطيه بعض الوقت حتى ينتهي من أعماله ، لكن يقول الكتاب : &#8221; إنه ترك كل شيء وقام وتبع المسيح &#8221; (لو ٥ : ٢٨)، وصار بعد ذلك متى الرسول كاتب البشارة الأولى وأحد تلاميذ المسيح الاثني عشر الذين له :  نشروا الإيمان في بلاد كثيرة .<u></u><u></u></span></p>
<p class="yiv1603838266MsoNormal" dir="RTL"><span lang="AR-SA">٣<b>&#8211; السامرية :<u></u><u></u></b></span></p>
<p class="yiv1603838266MsoNormal" dir="RTL"><span lang="AR-SA">نسمع عن السامرية والفرصة التي أتت إليها رغم أنها في البداية كانت تحاول الهروب من تلك الفرصة ، لكن الفرصة أتت بثمن كبير حيث اصطادت قلب المرأة ، ثم قلب هذه المدينة بأكملها &#8221; مدينة السامرة &#8220;. تصور إذا كانت هذه المرأة رفضت تلك الفرصة ، أو أن مدينة السامرة رفضت هي أيضاً لكان قد تغير الحال تماما . <u></u><u></u></span></p>
<p class="yiv1603838266MsoNormal" dir="RTL"><span lang="AR-SA">٤<b>۔ القديس مار مرقس الرسول :<u></u><u></u></b></span></p>
<p class="yiv1603838266MsoNormal" dir="RTL"><span lang="AR-SA">عندما أتى القديس مارمرقس الرسول إلى مصر ودخل الإسكندرية ، وقصة الحذاء الذي تهرأ، وجاءت له الفرصة وقت أن أصيب الإسكافي إنيانوس في يده بالمخراز وصرخ قائلاً : &#8221; يا الله الواحد &#8220;، ومن هنا جاءت للقديس مار مرقس الفرصة ، فهنا كان المفتاح الذي فتح باب الإيمان عن طريق القديس مارمرقس الرسول .<u></u><u></u></span></p>
<p class="yiv1603838266MsoNormal" dir="RTL"><span lang="AR-SA">٥<b>&#8211; البابا ألكسندروس البطريرك (١٩ ) </b><u></u><u></u></span></p>
<p class="yiv1603838266MsoNormal" dir="RTL"><span lang="AR-SA">من القصص المشهورة في تاريخ الكنيسة قصة البابا ألكسندروس البطريرك (١٩) عندما رأى مجموعة من الأطفال يلعبون بالقرب من شاطئ البحر ، ورأى طفلا يلعب وبه نوع من القيادة ، وكانت الفرصة لهذا الطفل الذي صارفيما بعد &#8221; البابا أثناسيوس الرسولي &#8220;. <u></u><u></u></span></p>
<p class="yiv1603838266MsoNormal" dir="RTL"><span lang="AR-SA">الخلاصة أن القصص لا تنتهي ، فالله يطرح عليك هذا السؤال في نهاية الصوم ، بل يطرحه عليك في كل يوم ، كم مرة كنت معك وقدمت لك خطة في حياتك وأنت ربما رفضتها عن غير قصد أو دون معرفة أو عن عناد وكسل أو أي ضعف من هذه الضعفات ؟<u></u><u></u></span></p>
<p class="yiv1603838266MsoNormal" dir="RTL"><b><span lang="AR-SA">+ أمثلة من الفرص :<u></u><u></u></span></b></p>
<p class="yiv1603838266MsoNormal" dir="RTL"><span lang="AR-SA">١- قراءة كتاب معين ممكن أن يكون فرصة ، قد يعطيك شخص نبذة صغيرة ، ولكنها تكون فرصة كبيرة لك ، قد تكون رسالة وتُحسب عليك ، وأنت أخذت الكتيب وأهملته &#8230; كم مرة أردت ؟ ٢<u></u><u></u></span></p>
<p class="yiv1603838266MsoNormal" dir="RTL"><span lang="AR-SA">٢- الكتاب المقدس : كم مرة جاءت إليك الفرصة أن تقرأ الكتاب الإنجيل وأنت أهملت ؟ أو تذكرت الإنجيل في بعض المناسبات وليس كل يوم .<u></u><u></u></span></p>
<p class="yiv1603838266MsoNormal" dir="RTL"><span lang="AR-SA">٣- مقابلة صديق : ربما تكون مقابلة صديق لك هي بترتيب من الله ، فهو يريد أن يعطيك رسالة معينة ، ربما تدرس معه شيئاً ، أو تتعلم معه شيئاً ، أو تكتسب منه خبرة &#8230; كم مرة ؟<u></u><u></u></span></p>
<p class="yiv1603838266MsoNormal" dir="RTL"><span lang="AR-SA">ثق أن حياتك على الأرض مضبوطة ، وليست بدون نظام أو قانون ، فحياتك مضبوطة تماماً كما يضبط الله الفلك والطبيعة ، وكما يضبط الخلايا الصغيرة . في جسمك ، تصور أن كل خلية داخلها نظام يحركها وينظمها ، كلها أمور مضبوطة.<u></u><u></u></span></p>
<p class="yiv1603838266MsoNormal" dir="RTL"><span lang="AR-SA">٤- زيارة مكان : من الفرص التي يعطيها الله لنا فرصة زيارة مكان مقدس &#8221; دير، كنيسة ، مكان أثري &#8220;، كم مرة أراد الله أن يرسل لك رسالة من خلال هذه الزيارة لينبهك إلى شيء ما .<u></u><u></u></span></p>
<p class="yiv1603838266MsoNormal" dir="RTL"><span lang="AR-SA">٥- الاستماع إلى عظة أو محاضرة ، أو الاستماع إلى حوار ، أو تكون في خلوة من خلالها قد يرسل لك الله رسالة .<u></u><u></u></span></p>
<p class="yiv1603838266MsoNormal" dir="RTL"><span lang="AR-SA">أيها الحبيب هناك فن لا بد أن تقتنيه وهو ما يعرف &#8221; بفن الالتقاط &#8220;، من الممكن أن تسمع محاضرة ربع ساعة لكن فيها ثوان معدودة تسمع فيهم كلمتين لك أنت ، ممكن من خلال القراءات الكنسية في القداس يرسل الله لك رسالة . <u></u><u></u></span></p>
<p class="yiv1603838266MsoNormal" dir="RTL"><span lang="AR-SA">فن الالتقاط هو أحد الفنون الجميلة التي يجب أن يقتنيها الإنسان السائر في طريق الله . <u></u><u></u></span></p>
<p class="yiv1603838266MsoNormal" dir="RTL"><span lang="AR-SA">نتذكر الأنبا أنطونيوس الكبير أب جميع الرهبان عندما دخل الكنيسة وهو شاب واستمع للإنجيل وهو يقرأ ، واعتبر أن هذه الآية : &#8221; إن أردت أن تكون كاملاً فاذهب وبع أملاكك وأعط الفقراء ، فيكون لك كنز في السماء ، وتعال اتبعني &#8221; (مت ۱۹ : ۲۱)، اعتبرها<u></u><u></u></span></p>
<p class="yiv1603838266MsoNormal" dir="RTL"><span lang="AR-SA">رسالة موجهة له .<u></u><u></u></span></p>
<p class="yiv1603838266MsoNormal" dir="RTL"><span lang="AR-SA">كم مرة كلمك المسيح ؟ كم مرة أب اعترافك قدم لك النصيحة ؟ كم مرة صديقك أرشدك ؟ كل هذه لا تتم صدفة لكنها هي بتدبير من الله .<u></u><u></u></span></p>
<p class="yiv1603838266MsoNormal" dir="RTL"><b><span lang="AR-SA">+ الفرص التي يعطيها الله لك :<u></u><u></u></span></b></p>
<p class="yiv1603838266MsoNormal" dir="RTL"><span lang="AR-SA">هناك سبع نقاط تمثل فرص يعطيها الله لنا ، ويجب أن يستثمرها الإنسان في حياته وهي :<u></u><u></u></span></p>
<p class="yiv1603838266MsoNormal" dir="RTL"><span lang="AR-SA">١<b>&#8211; فرصة التربية :<u></u><u></u></b></span></p>
<p class="yiv1603838266MsoNormal" dir="RTL"><span lang="AR-SA">لكل أب وأم الله يعطيهم الفرصة في تربية أبنائهم ، هذه الفرصة يجب أن يستغلها الوالدان جيدا حتى لا تضيع منهما ، وهي فرصة تربية أبنائهم في وقت الطفولة ، فإذا ضاعت هذه الفرصة من الصعب زرع المبادئ . <u></u><u></u></span></p>
<p class="yiv1603838266MsoNormal" dir="RTL"><span lang="AR-SA">ربما تتذكر معي في مجال التربية قصة الابن الضال ، وبالتأكيد قد رباه أبواه وعلماه أمورا كثيرة ، وضروري أن هذا الابن عندما ذهب إلى أبيه طالباً نصيبه في الميراث لم يوافق الأب بكل سهولة ، بل نصحه عدة مرات ، وبدأ يشرح له مدى خطورة هذا الطريق الذي يسير فيه ، ولكن في النهاية لم يستجب الابن لكلام أبيه وأخذ نصيبه وترك البيت ، وكانت النهاية المأساوية له إلى أن تاب وقرر العودة إلى أبيه بعد أن ندم بشدة على ما فعله ، لذلك نحن نمجد توبة الابن الضال . التربية فرصة لا تُضيعها .<u></u><u></u></span></p>
<p class="yiv1603838266MsoNormal" dir="RTL"><span lang="AR-SA">۲<b>۔ الدراسة :</b><u></u><u></u></span></p>
<p class="yiv1603838266MsoNormal" dir="RTL"><span lang="AR-SA">دراسة الإنسان من بدايتها إلى أن يتخرج من الجامعة أو ما بعدها ، قد يهمل فيها الإنسان وتكون النتيجة سيئة ، كم مرة الأب والأم أو مدرسيك قد نبهوك إلى هذا الإهمال والكسل ؟<u></u><u></u></span></p>
<p class="yiv1603838266MsoNormal" dir="RTL"><span lang="AR-SA">الدراسة فرصة يمنحها الله لك ، والطالب النجيب هو الذي يتعلم من كل صغيرة وكبيرة سواء في البيت أو المدرسة أو الكلية &#8230; إنها فرصة لا تضيعها باطلاً . <u></u><u></u></span></p>
<p class="yiv1603838266MsoNormal" dir="RTL"><span lang="AR-SA">۳<b>۔ فترة الشباب :<u></u><u></u></b></span></p>
<p class="yiv1603838266MsoNormal" dir="RTL"><span lang="AR-SA">فترة الشباب هي الفترة التي ما بين سن ١٨ إلى ٣٠ سنة ، وهي فترة الحيوية والنشاط والانطلاق ، ولكن هل الحرية هنا حرية مضبوطة أم حرية مطلقة ؟ في هذه الفترة هناك من يستطيع أن يبني شخصيته بصورة صحيحة ، فهناك من يستغل الفرص ويبني ذاته ، ويبني معرفته ، هناك شاب تجلس معه تعجب بكلامه وأفكاره وشخصيته رغم صغر سنه ، وهناك آخر تجد شخصيته باهتة تافهة لا معنى لها .<u></u><u></u></span></p>
<p class="yiv1603838266MsoNormal" dir="RTL"><span lang="AR-SA">فترة الشباب يمكن أن يقول عليها الإنسان بعدما تمر كم مرة ؟ كم مرة أردت أنك تكون إنساناً متكاملا ولكنك أضعت الفرصة ، وأضعت الوقت والسنين الدسمة التي تبنى الشخصية الجيدة في فترة الشباب ؟ <u></u><u></u></span></p>
<p class="yiv1603838266MsoNormal" dir="RTL"><span lang="AR-SA">٤<b> الخطوبة :<u></u><u></u></b></span></p>
<p class="yiv1603838266MsoNormal" dir="RTL"><span lang="AR-SA">كلمة خطوبة مشتقة من كلمة &#8221; خطب &#8221; أي تكلم ، ففترة الخطوبة هي فترة الكلام المشترك بين الاثنين ، ويجب على الاثنين أن يتحدوا فكرياً ، وهذه هي بداية الاتحاد قبل الاتحاد الروحي أو الاتحاد الاجتماعي أو الاتحاد الجسدي . ومن طقس الكنيسة الجميل أنها تضع رأس الاثنين في يوم الإكليل وتقربهم من بعض ، ثم يضع أبونا الصليب على رأسيهما في الوسط ، كأنها رمز إلى وحدة الفكر الذي يكون في هذا البيت الجديد أو الأسرة الجديدة .<u></u><u></u></span></p>
<p class="yiv1603838266MsoNormal" dir="RTL"><span lang="AR-SA">فترة الخطوبة هي فرصة لبناء زواج قوي ، فلا تضيع هذه الفرصة وحاول أن تكتشف الحقائق ، فكم من مرة ربنا أعطى الفرصة من خلال أب الاعتراف ، أو من خلال عظة ، أوكتيب يتكلم عن الأسرة والبناء القوي لها &#8230; كم مرة ؟<u></u><u></u></span></p>
<p class="yiv1603838266MsoNormal" dir="RTL"><span lang="AR-SA">٥<b>&#8211; الصداقة :<u></u><u></u></b></span></p>
<p class="yiv1603838266MsoNormal" dir="RTL"><span lang="AR-SA">بلا شك الصداقة وسيلة قوية جدا يحتاجها الإنسان ، فالصداقة هي أغلى هدية أعطاها الله للإنسان ، والصديق كالمرآة بالنسبة لصديقه ، وكلمة صداقة من الصدق أي الحياة الحقيقية الخالية من الزيف أو الكذب .<u></u><u></u></span></p>
<p class="yiv1603838266MsoNormal" dir="RTL"><span lang="AR-SA">الصداقة فرصة قوية للإنسان في أن يعدل من سلوكياته وأفكاره ، والصديق مؤثر جدا في صديقه ، وكم من مرة يرسل الله رسائل من خلال الصديق وهذه نقطة مهمة جداً ، فالإنسان الذي بلا صديق قد يعرض نفسه لأتعاب نفسية كثيرة ، ومن الأمور الجميلة في كنيستنا أن كل منا له أب اعتراف ومعه تكون بداية الصداقة ، فهو يرشدك الإرشاد الصحيح ، وبحسب وظيفته الكهنوتية يعطي لك الحل ، لكنه أيضاً صديق ، فكم مرة أردت أن تفهم وتعرف الرسالة التي أرسلها لك الله من خلال صديقك ؟ الله قد يستخدم صديقك لكي ما يرشدك ، وخير مثال على ذلك داود ويوناثان ومدى الصداقة القوية التي كانت بينهما . <u></u><u></u></span></p>
<p class="yiv1603838266MsoNormal" dir="RTL"><span lang="AR-SA">٦<b> &#8211; الخدمة :<u></u><u></u></b></span></p>
<p class="yiv1603838266MsoNormal" dir="RTL"><span lang="AR-SA">الله يدعونا للخدمة في بدايات الشباب في وقت معين ، وفي أي سن ربنا يحدده لنا ، ومن خلال هذه الدعوة يقول لك : &#8221; كم مرة أردت ؟&#8221;. في العهد القديم تكلم الله مع إرميا وقال له : &#8221; جعلتك نبياً للشعوب &#8221; (إر ١ : ٥ )  فأجاب إرميا قائلا : &#8221; إني لا أعرف أن أتكلم لأني ولد &#8221; (إر ١ : ٦ )  فقال الرب له : &#8221; لا تقل إني ولد، لأنك إلى كل من أرسلت إليه تذهب وتتكلم بكل ما آمرك به &#8221; (إر ۱ : ۷) في العهد الجديد يقول القديس بولس الرسول لتيموثاوس : &#8221; لا يستهن أحد بحداثتك &#8221; (١ تي ٤ : ١٢)، وهذا شيء مهم ، فهو رسالة من الله لك . <u></u><u></u></span></p>
<p class="yiv1603838266MsoNormal" dir="RTL"><span lang="AR-SA">إذا الخدمة هي فرصة يتيحها الله لك ، لتعبر بها عن محبتك لله وللناس ، إن الخدمة بكل صورها هي دعوة من الله لك ، فالله في الخدمة يعطي رسائل كثيرة والمهم أنك تحترس من الثعلب ( خطية العناد )؛ لأن العناد يغلق الباب أمام الفرص التي يمنحها الله للإنسان .<u></u><u></u></span></p>
<p class="yiv1603838266MsoNormal" dir="RTL"><span lang="AR-SA">٧<b> -العمل :</b><u></u><u></u></span></p>
<p class="yiv1603838266MsoNormal" dir="RTL"><span lang="AR-SA">قد يتيح الله فرصة عمل صغيرة لشخص ما ولكنه يرفضها ، لأنها صغيرة ودخلها محدود ، في حين أن هناك آخر يقبلها ، وبأمانته يثبت نجاحه ويتوسع في هذا العمل ، وكأن الله أعطاه فرصة قوية أن يبدأ صغيرا ، فلكي يكون لدينا شجرة مثمرة لا بد أن يكون عندنا بذرة صغيرة .<u></u><u></u></span></p>
<p class="yiv1603838266MsoNormal" dir="RTL"><b><span lang="AR-SA">قصة <u></u><u></u></span></b></p>
<p class="yiv1603838266MsoNormal" dir="RTL"><span lang="AR-SA">يحكى عن أحد الأشخاص كان طالباً وذهب للتدريب في إحدى الشركات ، وقد أعجب بها جداً وبأفكارها وبطريقتها وأسلوبها ، وكانت الفرصة باجتهاده وصل إلى أن صارت هذه الشركة له في يوم من الأيام . لقد وضع أمامه هدفاً ، والله يرسل رسائله ويقوي من خلال هذه الرسائل .<u></u><u></u></span></p>
<p class="yiv1603838266MsoNormal" dir="RTL"><span lang="AR-SA">+ &#8221; يا أورشليم يا أورشليم يا قائلة الأنبياء وراجمة المرسلين إليها &#8221; (لو ١٣ :٣٤) ، وقاتلة هنا بمعنى رافضة ، فهي رافضة للمشورة والنُصح ، رافضة للرسالة وللفرصة .<u></u><u></u></span></p>
<p class="yiv1603838266MsoNormal" dir="RTL"><span lang="AR-SA">والسؤال الذي يتردد في أذهاننا : كيف رفضت أورشليم بالرغم من أن الله صنع فيها معجزات كثيرة ، كما أنها استمعت إلى عظات عديدة ، وأمثالاً شرح فيها الله تعاليمه لجموع كثيرة ؟ أورشليم قابل فيها السيد المسيح أفراداً وجماعات ولكنها رفضت ، وكانت النتيجة خطيرة جدا &#8221; هوذا بيتكم يترك لكم خراباً !&#8221; (لو ١٣ :٣٥). البيت في أورشليم كان يقصد به الهيكل ، والهيكل في ذلك الوقت كان مركزاً للحياة اليهودية وللعبادة .<u></u><u></u></span></p>
<p class="yiv1603838266MsoNormal" dir="RTL"><span lang="AR-SA">احترس أيها الحبيب لئلا يكون عنادك هو السبب في تأخر حياتك بأية صورة من الصور ، فالعناد لا يأتي بأي ثمر ، بل يفقدك فرصا كثيرة الله يريدها لك ، وتكون النتيجة الخراب والضياع ، فالخراب كلمة مؤذية للسمع تؤدي إلى ظهور ضعفات كثيرة ، وبالتالي لا تكون النتيجة سوى الندم .<u></u><u></u></span></p>
<p class="yiv1603838266MsoNormal" dir="RTL"><span lang="AR-SA">لذلك انتهز الفرصة … <u></u><u></u></span></p>
<p class="yiv1603838266MsoNormal" dir="RTL"><span lang="AR-SA">+ اخدم <u></u><u></u></span></p>
<p class="yiv1603838266MsoNormal" dir="RTL"><span lang="AR-SA">+ تعلم <u></u><u></u></span></p>
<p class="yiv1603838266MsoNormal" dir="RTL"><span lang="AR-SA"> + ابن علاقة إنسانية جيدة . <u></u><u></u></span></p>
<p class="yiv1603838266MsoNormal" dir="RTL"><span lang="AR-SA">+ انتهز الفرصة في عملك . <u></u><u></u></span></p>
<p class="yiv1603838266MsoNormal" dir="RTL"><span lang="AR-SA">+ انتهز الفرصة في التربية .<u></u><u></u></span></p>
<p class="yiv1603838266MsoNormal" dir="RTL"><span lang="AR-SA"> إلى آخر الفرص التي وضعها الله أمامك ، وضع أمامك السؤال الذي يطرحه الله عليك دائماً : &#8221; كم مرة أردت ؟&#8221;، ولتكن إجابتك أن تسير حسب مشيئة ربنا وفقاً لما تصليه في الصلاة الربانية &#8221; لتكن مشيئتُك &#8221; في حياتي دائماً ، والتمتع بالخير الذي يريده الله لك .<u></u><u></u></span></p>
<p class="yiv1603838266MsoNormal" dir="RTL"><span lang="AR-SA">ولإلهنا كل المجد والكرامة من الآن وإلى الأبد . آمين . <u></u><u></u></span></p>
<p>المرجع : كتاب اختبرني يا الله صفحة ٣٨١ &#8211; قداسة البابا تواضروس الثاني</p>
<h4></h4>
<h4> أحذر التهاون وتذكر الدينونة  &#8211; للمتنيح أنبا يؤانس أسقف الغربية<a href="#_ftn5" name="_ftnref5">[5]</a></h4>
<p>بعد أن تحدثنا إليك طويلاً يا أخانا عن &#8220;مراحم الله الواسعة&#8221; ومحبته للخطاة واستعداده لقبولهم مهما كانت خطاياهم، نود أن نمرر إليك ملاحظة هامة:</p>
<p>إياك أن تفهم خطأ مراحم الله الواسعة.. إياك أن تطمع في مراحمه أكثر من اللازم وتقول أنه محب للبشر وشفوق ولن يعاقب أولاده، لئلا تصبح نظرتك وفكرتك عن رحمة الله حافزاً لك على التهاون، ودافعاً للتمادي في حياة التراخي والشر، فكما أن الله رحوم فهو عادل أيضاً، وإن كانت &#8220;مَراحِمُهُ علَى كُلِّ أعمالِهِ&#8221; كما يقول داود النبي (مز١٤٥: ٩). ولن يكون الله رحوماً وليس عادلاً، فإن هذا يتنافى مع كماله الالهي.</p>
<p><strong>قال القدِّيس يوحنا ذهبي الفم </strong>&#8220;قل لي يا من لا تؤمن بالعقاب العتيد، ما الذي جلب الطوفان المخوف في زمان نوح البار، وأغرق ساكني الدنيا قاطبة.. من أرسل البروق والصواعق علي أرض سدوم وعمورة وأحرق سبع مدن مع أولئك القتلة مضاجعي الذكور وأبادهم جميعاً.. من أغرق فرعون وجنوده في البحر الأحمر، من أباد الستمائة</p>
<p>ألف من اليهود في البرية، من أحرق محلة ابيرام، من أمر الأرض أن تفتح فاها وتبتلع قورح وداثان وابيرام أحياء، من قتل في أيام داود سبعين ألف نفس، من قتل من الأشوريين خمسة وثمانين ألفا في ليلة واحدة؟ فأي جواب لك ترد به على هذه كلها؟&#8221;.</p>
<p>أياك أن تطمع في رحمة الله بتطرف وبفهم خاطيء. استمع إلي قول السيد المسيح وهو يخاطب أولئك الذين أخبروه عن الجليليين الذين خلط هيرودس دماءهم بذبائحهم، والثمانية عشر الذين سقط عليهم البرج في سلوام &#8220;إنْ لم تتوبوا فجميعُكُمْ كذلكَ تهلِكونَ&#8221; (لو١3: 5).</p>
<p>قلنا قبلاً اننا الأن في زمن الرحمة وغداً سنكون في زمن العدل، وشتان بين طريقتي الله في معاملة البشر في الحالين!!، فقد تجسد الرب الإله وأتى إلى عالمنا وصنع فداء أبدياً لبني البشر، وسيأتي أيضاً دفعة ثانية في مجده ليدين الأحياء والأموات ويعطي كل واحد كنحو أعماله. وفِي مجيئه الاول &#8220;أخلَى نَفسَهُ، آخِذًا صورَةَ عَبدٍ، صائرًا في شِبهِ الناسِ. وإذ وُجِدَ في الهَيئَةِ كإنسانٍ، وضَعَ نَفسَهُ، وأطاعَ حتَّى الموتَ، موتَ الصَّليبِ&#8221; (في٢: ٧، ٨). لم يكن أحد يعرفه، أتى كراع يطلب الخروف الضال لكن في مجيئه الثاني سيأتي دياناً للأرض كلها، سيأتي في مجده ومجد أبيه يحيط به ملائكته وقديسوه. سوف لا يكون في مغارة حقيرة ومزود للبهائم، وسوف لا يكون محكوما عليه كأحد الأثمة، مصلوباً بين لصين، بل سيأتي جالساً على منبر حكمه العادل.. في مجيئه الاول كان لا يصيح ولا يسمع أحد في الشوارع صوته، قصبة مرضوضة لا يقصف وفتيلة مدخنة لا يطفيء، لكن حينما سيأتي في مجده سيأتي بصوت البوق والرعود وتساقط الكواكب وتزعزع قوات السموات، وانحلال العناصر محترقة بضجيج، في مجيئه الأول كان طويل الروح، متأنياً على الخطاة، لا يدينهم وهو الديان، حتى إنه قال للزانية &#8220;ولا أنا أدينك&#8221; (يو٨: ١١)، وقال لمن سأله أن يقول لأخيه أن يقاسمه الميراث &#8220;ياإنسانُ، مَنْ أقامَني علَيكُما قاضيًا أو مُقَسِّمًا؟&#8221; (لو١٢: ١٤). أحتمل المجدفين وسمع الشاتمين وسامحهم، لكنه في المجيء الثاني سيأتي دياناً عادلاً يعطي كل واحد حسب عمله.</p>
<p>في مجيئه الأول جاء ختناً (عريساً)، خطبنا لذاته، وقال لكل نفس في محبة ووداعة بلسان داود النبي &#8220;اِسمَعي يا بنتُ وانظُري، وأميلي أُذُنَكِ، وانسَيْ شَعبَكِ وبَيتَ أبيكِ، فيَشتَهيَ المَلِكُ حُسنَكِ، لأنَّهُ هو سيِّدُكِ فاسجُدي لهُ&#8221; (مز ٤٥: ١٠،١١) شبهنا بالعذارى اللائي ينتظرن العريس، وقدَّم في سبيل ذلك مهراً غالياً &#8211; دمه الذكي الكريم &#8211; لكن في مجيئه الثاني سيأتي كملك غاز، فاتح منتقم من قوم عصاة متمردين، سبق أن أرسل لهم رسل خير وسفراء سلام، لكنهم طردوا كل هؤلاء ولم يسمعوا لهم بل قتلوا من قتلوا وأهلكوا من أهلكوا ..</p>
<p>هذا هو المجيء الثاني، مجيء الرب للدينونة، يوم أعلان الحكم &#8220;تأتي ساعَةٌ فيها يَسمَعُ جميعُ الذينَ في القُبورِ صوتهُ، فيَخرُجُ الذينَ فعَلوا الصّالِحاتِ إلَى قيامَةِ الحياةِ، والذينَ عَمِلوا السَّيِّئاتِ إلَى قيامَةِ الدَّينونَةِ&#8221; (يو٥: ٢٨). في ذلك اليوم لا يدري ماذا يفعل فاعلوا الإثم &#8220;مُلوكُ الأرضِ والعُظَماءُ والأغنياءُ والأُمَراءُ والأقوياءُ وكُلُّ عَبدٍ وكُلُّ حُرٍّ، أخفَوْا أنفُسَهُمْ في المَغايِرِ وفي صُخورِ الجِبالِ، وهُمْ يقولونَ للجِبالِ والصُّخورِ:&#8221;اسقُطي علَينا وأخفينا عن وجهِ الجالِسِ علَى العَرشِ وعَنْ غَضَبِ الخَروفِ، لأنَّهُ قد جاءَ يومُ غَضَبِهِ العظيمُ. ومَنْ يستطيعُ الوُقوفَ؟&#8221; (رؤ ٦: ١٥- ١٧) . لكن شكراً لله الذي أطال أناته علينا وأعطانا فرصة لنصنع أثماراً تليق بالتوبة، ورفع الفأس في حنو عن أصل الشجرة، وتركها هذه السنة أيضاً، فلنفتد الوقت لأن الأيام شريرة، ولننتبه الى ذواتنا، ونستيقظ من غفلتنا، لأن نهار حياتنا قد بدأ يميل.</p>
<hr />
<p><a href="#_ftnref1" name="_ftn1">[1]</a><sup>&#8211; تفسير سفر التكوين &#8211; ص ٧٧ &#8211; القمص تادرس يعقوب ملطي.</sup></p>
<p><a href="#_ftnref2" name="_ftn2">[2]</a><sup>&#8211; </sup><sup>كتاب رسائل القديس أنطونيوس &#8211; ترجمة بيت التكريس لخدمة الكرازة &#8211; مؤسسة القديس أنطونيوس للدراسات الآبائية.</sup></p>
<p><a href="#_ftnref3" name="_ftn3">[3]</a><sup>&#8211; </sup><sup>كتاب: تفسير إنجيل لوقا للقديس كيرلس الأسكندري &#8211; عظة رقم ١٠٠ &#8211; صفحة ٤٧٩ &#8211; ترجمة دكتور نصحي عبد الشهيد.</sup></p>
<p><a href="#_ftnref4" name="_ftn4">[4]</a><sup>&#8211; </sup><sup>عظات على سفر أرميا &#8211; للعلامة أوريجينوس &#8211; عظة رقم ١٣ صفحة ٨٤ &#8211;  ترجمة جاكلين سمير كوستا &#8211; كنيسة مار جرجس سبورتنج.</sup></p>
<p><a href="#_ftnref5" name="_ftn5">[5]</a><sup>&#8211; كتاب بستان الروح – الجزء الأول صفحة 36- للمتنيح الأنبا يؤانس أسقف الغربية.</sup></p>

      {% endcreateArticleAccordions %}
    </section>
  {% endblock %}
  