---
layout: 'layouts/reading.html'
title: 'سبت لعازر'
tags: 'great-lent'
permalink: /articles/great-lent/7-6.html
---
  {% block content %}
    <section id="readings">
      <ul>
      {% if 'undefined' != 'undefined' %}
      
      {% else %}
      {% if 'null' != 'null' %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">العشية</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeVespers '' '' %}
          </div>
        </div>
      </li>
      {% endif %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">باكر</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeMatins '19.30:3-11' '42.18:35-43' '1.49:1-28@23.40:9-31@36.3:14-20@38.9:9-15' %}
          </div>
        </div>
      </li>
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <h3 class="flex items-center justify-between">
            <span class="kufi">القداس</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </h3>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeLitugy '46.2:1-8' '60.1:25-25*@+60.2:1-6' '44.27:38-44*@+44.28:1-10' '19.129:8,2' '43.11:1-45' %}
          </div>
        </div>
      </li>

      {% endif %}
        </ul>
    </section>
    <section id="article">
      <h3 class="mt-8 mb-4 heading-explain">شرح القراءات</h3>
      {% createArticleAccordions %}
        <p>في هذا اليوم نقف قليلاً أمام صاحب السلطان ورئيس الحياة وهو اليوم الذي يُعْلِن فيه الرب سلطانه على الموت عندما يدعو لعازر بقوّة &#8220;لعازر هلم خارجاً&#8221;.</p>
<p>وذلك لكي ندرك أن قبوله الصليب والموت كان بملء إرادته بل وكان شهوته وسروره (عب ١٢: ٢) وإشتهي أن يجوز فيه حباً بنا.</p>
<p>لذا نتقابل في هذا اليوم مع مُخلِّص البشرية من الموت وفساده، والقادر أن يُعطي الحياة لمن أنْتَنْ فنحن اليوم أمام إعادة خلق، وإستعادة حياة من رئيس الحياة.</p>
<p>هذا اليوم هو الذي ينتظر الرب فيه إيماننا &#8220;ألم أقل لك إن آمنت ترين مجد الله&#8221;.</p>
<p>فإذا كانت نبوّات اليوم تتكلّم عن دخول الرب إلى أورشليم فذلك لإرتباط يومي السبت والأحد معاً في قراءاتهما ومنهجهما وتدبيرهما :</p>
<ul>
<li>في يوم السبت كان في بيت عنيا (يو ١١: ١٨).</li>
</ul>
<p style="padding-right: 40px;">ويوم الأحد كان قريباً من بيت عنيا (مت ٢١: ١٧).</p>
<ul>
<li>في يوم السبت أخرج الرب لعازر من القبر بسلطانه كرئيس الحياة (يو ١١: ٤٣).</li>
</ul>
<p style="padding-right: 40px;">وفِي يوم الأحد أخرج الرب الباعة من الهيكل بسلطانه كقدُّوس وديَّان (مت ٢١: ١٢).</p>
<ul>
<li>في يوم السبت بكى الرب على قبر لعازر مُشاركاً مرثا ومريم (يو ١١: ٣٥).</li>
</ul>
<p style="padding-right: 40px;">ويوم الأحد بكى على مصير أورشليم المزمع أن يكون (لو ١٩: ٤١).</p>
<ul>
<li>في يوم السبت قالوا أن العالم كله ذهب ورائه (يو ١٢: ١٩).</li>
</ul>
<p style="padding-right: 40px;">وفِي يوم الأحد ذهبت الجموع كلها أمامه (مت ٢١: ٩).</p>
<ul>
<li>في يوم السبت أعاد الحياة لهيكل الإنسان في شخص لعازر الميت (يو ١١: ٤٤).</li>
</ul>
<p style="padding-right: 40px;">وفِي يوم الأحد أعاد القداسة لهيكل الله الآب (مت ٢١: ١٣).</p>
<ul>
<li>في يوم السبت تُرْفَع الحجارة أمام إبن الله ليقوم لعازر (يو ١١: ٤١).</li>
</ul>
<p style="padding-right: 40px;">وفِي يوم الأحد تنتظر الحجارة أن تنطق بتسبيحه إذا سكتت الأطفال (مت ٢١: ١٦، لو ١٩: ٤٠).</p>
<ul>
<li>في يوم السبت تبدأ القيادات في التشاور والتآمر عليه ليهلكوه (يو ١١: ٤٧، ٥٣).</li>
</ul>
<p style="padding-right: 40px;">وفِي يوم الأحد طلبوا كيف يهلكوه (مر ١١: ١٨).</p>
<p>فلا عجب أن ترتبط قراءات السبت والأحد معاً، فرئيس الحياة قادم بإرادته إلى الصليب والموت وهو المُخلِّص الذي أظهر بوداعته ملكوته السماوي وحقيقته كملك السلام.</p>
<p>لذلك تُعْلِن قراءات السبت والأحد من هو رئيس خلاصنا، لكي ندرك ونتيقَّن من قوته الإلهية رغم تدبير تجسّده وضعفه كإبن الإنسان، ونعرف أنه سيملك على خشبة.</p>
<h3>قراءات سبت لعازر</h3>
<p>&#8220;لأن لك سلطان الحياة والموت فتُحدر إلى ابواب الجحيم وتُصعد&#8221; (حك ١٦: ١٣).</p>
<p>[اجتمعوا يا جميع الشعوب لنسبح ربنا يسوع المسيح الذي أقام لعازر بقوة لاهوته.</p>
<p>أقمنا بقوتك من ظلال الموت مثل البار لعازر الذي أقمته من بعد موته]<a href="#_ftn1" name="_ftnref1">[1]</a>.</p>
<p>[لتقترب أيها الحبيب من الإيمان، لأن قدراته كثيرة جدًا: أصعد الإيمان (أخنوخ) إلى السماء، وغلب الطوفان، وجعل العاقر تنجب. إنه نجىَّ من السيف، وأصعد من الجب، أغنى الفقراء، وحلَّ الأسرى، وخلص المضطهدين، وأطفأ النار، وشق البحر، وزعزع الصخر، وأعطى العطاش ماءً للشرب، وأشبع الجياع. إنه أقام الموتى (لعازر) وأخرجهم من الجحيم، وهدٌأ الأمواج، وشفى المرضى. قهر الأعداء وحطم الحصون. سدَّ أفواه الأسود، وأطفأ لهيب النار. أنزل المتكبرين وكرَّم المتواضعين. كل هذه الأعمال القديرة صنعها الإيمان.] (القديس مار أفراهاط)<a href="#_ftn2" name="_ftnref2">[2]</a></p>
<p>[يصلي كابن الإنسان، ويأمر كابن الله] (القديس أمبروسيوس)<a href="#_ftn3" name="_ftnref3">[3]</a></p>
<h3>شرح القراءات</h3>
<p>تتركَّز قراءات اليوم في التعريف بطبيعة المُخلِّص والفادي المزمع أن يرفع خطايا العالم لذلك تأتي النبوّات الأربعة من: سفر التكوين، وأشعياء النبي، وصفنيا النبي، وزكريا النبي، ليرسموا لنا صورة ومثال مُخلِّص العالم من الخطية والخوف والموت والشيطان.</p>
<h4><strong>النبوَّات</strong></h4>
<p><strong>سفر التكوين</strong> (تك 49: 1- 28)</p>
<p>[<strong>ملحوظة</strong>: هذه النبوَّة ذاتها تُقال في الكنيسة اليونانية في عشيّة أحد الشعانين في صلاة الغروب التي تقام مساء سبت لعازر]<a href="#_ftn4" name="_ftnref4">[4]</a></p>
<p>تأتي النبوة الأولي من سفر التكوين إصحاح ٤٩ والبركة التي أعطاها أبونا يعقوب أب الآباء لأولاده الأسباط الأثنى عشر والتي فيها تأتي نبوّتين بوضوح عن ابن الله مُخلِّص العالم:</p>
<ul>
<li><strong>الجزء الأوَّل</strong> في نبوّة سفر التكوين هو <strong>البركة ليهوذا</strong>:</li>
</ul>
<p style="padding-right: 40px;">&#8220;يهوذا تباركك إخوتك تكون يداك على قفا أعدائك ويسجد لك بنو أبيك يهوذا شبل أسد من غصن زاهر. يا بني قد صعدت واتكأت ورقدت مثل أسد ومثل شبل مَنْ ينهضه. لا يزول رئيس من يهوذا ولا مدبر من صلبه حتى يأتي الذي له وهو الذي تنظره الأمم يربط جحشه عند الكرمة، وابن أتانه في الجفنة، ويغسل بالخمر لباسه وثوبه بدم العنب&#8221;.</p>
<p style="padding-right: 40px;">ويتضح من هذه النبوّة:</p>
<p style="padding-right: 40px;">مَنْ هو ابن الله الأسد الخارج من سِبْط يهوذا (تك8:٤٩، مر1: 3، عا ٨:٣، ٥:٥).</p>
<p style="padding-right: 40px;">وهذا هو الذي يربط جحشه وابن أتانه (مت21: ٢).</p>
<p style="padding-right: 40px;">وفِي ذات الوقت يكون لُباسه مغموس بالدم (أش ٦٣: ١-٣).</p>
<p style="padding-right: 40px;">ويربط هنا المهندس فؤاد نجيب يوسف بين هذه النبوَّة وبين خلاص الرب بموته وقيامته:</p>
<p style="padding-right: 40px;">[عند وفاة يعقوب تنبأ لكل واحد من أولاده، فأعطى يوسف البركة، ومنح ابنه الأصغر افرايم البكورية. إلا إنه اختص يهوذا ببركة روحية خاصة، وفي نبوءته عنه تكلم عن المسيح، عن الصليب &#8220;من فريسة صعدت يا ابني&#8221; أي على الصليب، وعن موته &#8220;جثا وربض&#8221;، وعن قيامته &#8220;من يُنهِضَه&#8221;. &#8220;الكرمة والجفنة&#8221; هما اليهود والأمم اللذان ربطهما معا ووحدهما في مملكته، كملك للسلام راكبا على &#8220;جحش ابن أتان&#8221;. و&#8221;دم العنب&#8221; الذي به غسلنا من خطايانا هو دمه المسفوك الذي للعهد الجديد.]<a href="#_ftn5" name="_ftnref5">[5]</a></p>
<ul>
<li><strong>الجزء الثاني</strong> في هذه النبوة هو <strong>البركة ليوسف</strong>:</li>
</ul>
<p style="padding-right: 40px;">&#8220;غصن زاهر يمنح جمالاً للثمرة الابن النامي يوسف الابن النامي ابني الجديد المحسود ارجع إلى الذين تشاوروا عليه ومرروه وغضب عليه أرباب السهام وتكسرت بالقوة سهامهم وانحلت عضلات سواعد أذرعتهم بيدي عزيز يعقوب من هناك الذي شدد إسرائيل من قبل إله أبيك وأعانك الله إلهي عليَّ ويباركك ببركة السماء من فوق وبركة الأرض التي عليها كل الأشياء ببركة الثديين والرحم ببركات أبيك وأمك فأتت على بركات الجبال الراكنة وعلى بركات الآكام الدهرية تكون على رأس يوسف وعلى هامة إخوته الذين قادهم&#8221;.</p>
<p style="padding-right: 40px;">ويتضح من هذه النبوّة آلام المُخلِّص وتشاور الأشرار عليه وأرباب السهام، وفِي ذات الوقت البركات الأبديّة التي تفوق وتسمو فوق كل بركات الأرض.</p>
<p style="padding-right: 40px;">[<strong>ملحوظة:</strong> يمكن الرجوع إلى الفصل الخاص برموز الخلاص في العهد القديم في قراءات البصخة في هذا البحث لمزيد من التفاصيل عن كيف كان الكلام عن يهوذا ويوسف في هذه النبوَّة يشير إلى المسيح له المجد].</p>
<p><strong>أي أن المُخلِّص حسب نبوّة سفر التكوين هو: </strong></p>
<p>عظيم في قوته ← الأسد.</p>
<p>وبسيط في وداعته ← الجحش والأتان.</p>
<p>وكامل في فدائه ← مغموس بالدم.</p>
<p>ومنتصر على مقاوميه ← إنحلت سواعد أزرعتهم.</p>
<p>وسيغمر البشرية ببركات خلاصه ← بركة السماء من فوق، وبركة الأرض التي عليها.</p>
<p><strong>سفر إشعياء</strong> (إش 40: 9- الخ)</p>
<p>&#8220;على جبل عال اصعد يا مبشر صهيون، إرفع صوتك بقوة يا مبشر أورشليم، إرفع ولا تخف، قل لمدن يهوذا هوذا إلهك، هوذا الرب يأتي بالقوة وذراعه متسلطة، هوذا أجرته معه وعملته قدّامه، كراع يرعى قطيع غنمه وبذراعه يجمع الحملان ويعزي الحبالى. مَنْ كال الماء بيده وقاس السماء بشبره والأرض كلها بقبضته. مَنْ وزن الجبال بالمثقال والأكام بالميزان. مَنْ عَلِمَ قلب الرب أو مَنْ كان معه مشيراً فَعَلِمَه&#8221;.</p>
<p>تظهر صورة المُخلِّص هنا في:</p>
<ul>
<li>قوّة مجيئه: &#8220;هوذا الرب يأتي بالقوة&#8221;.</li>
<li>وحنو رعايته وأبوّته: &#8220;كراع يرعي قطيع غنمه وبذراعه يجمع الحملان ويعزي الحبالى&#8221;.</li>
<li>وفِي سموّ تدبيره: &#8220;من عَلِمَ قلب الرب أو من كان معه مشيراً فعَلِمَه&#8221;.</li>
</ul>
<p>لذلك يختم النبوّة بالإشارة إلى قوّة المفديين والمخلصين في العهد الجديد الذين فاض عليهم ابن الله بقوّة خلاصه: &#8220;أما منتظرو الرب يجددون قوة وتنبت لهم أجنحة كالنسور يسرعون ولا يتعبون ويمشون ولا يجوعون&#8221;.</p>
<p><strong>سفر صفنيا</strong> (صف 3: 14- الخ)</p>
<p>&#8220;إفرحي يا إبنة صهيون، إهتفي يا أورشليم، افرحي وإبتهجي بكل قلبك يا إبنة أورشليم، فقد نزع الرب مظالمك وخلصك من أيدي أعدائك، يملك الرب في وسطك يا إسرائيل .. إن في وسطك الرب إلهك الجبار فهو يخلصك ويجلب عليك فرحاً ويجددك في محبّته ويبتهج بك بترنم كما في يوم عيد&#8221;.</p>
<ul>
<li>ابن الله هنا ينزع المظالم ويخلص من الأعداء ويملك في الوسط (بالصليب) ويسكب فرحه على البشرية ويجددها في محبّته.</li>
<li>وهي دعوة للفرح بخلاص إبن الله لكنيسة العهد الجديد كما يقول القديس كيرلس الأسكندري :</li>
<li>[إذ ننشغل بالمعنى الأعمق للعبارة، فإنها بوضوح تؤمر أورشليم أن تفرح متهللة، وأن تكون على وجه الخصوص سعيدة، وأن تبتهج بكل القلب، إذ تُمحى معاصيها بالمسيح. صهيون الروحية المقدسة - أي الكنيسة جماعة المؤمنين المقدسة- يتبررون في المسيح، وفيه وحده. به وخلاله يخلصون، إذ يهربون من أذى الأعداء غير المنظورين، إذ لنا الوسيط الذي تجسد وأخذ شكلنا، ملك الجميع، أي كلمة الله الآب. شكرًا له، فإننا لا نعود نرى شرًا بعد، إذ نخلص من قوات الشر.</li>
<li>إنه &#8220;الكلمة&#8221; درع الإرادة الصالحة، والسلام، والحصن واهب عدم الفساد، وسيط الأكاليل، الذي يبطل حرب الأشوريين غير المتجسدين، ويفسد خطط الشياطين] (القديس كيرلس السكندري)<a href="#_ftn6" name="_ftnref6">[6]</a></li>
</ul>
<p><strong>سفر زكريا</strong> (زك 9: 9- 5)</p>
<p>هذه النبوَّة الرابعة تقال أيضا في الكنيسة اليونانية في صلاة الغروب التي تقام مساء سبت لعازر.<a href="#_ftn7" name="_ftnref7">[7]</a></p>
<p>هذه هي النبوّة التي أشار اليها القديس متى الانجيلي (مت٢١: ٥،٤) وهي تُشير إلى وداعة المُخلِّص ورسالة السلام &#8220;وديعاً وراكباً على آتان&#8221;.</p>
<p>لكن في ذات الوقت قويّاً وخلاصه وسلطانه يشمل المسكونة كلها &#8220;سلطانه من البحر إلى البحر &#8230; وأنت بدم العهد قد أطلقت أسراك من الجب&#8221;.</p>
<p>كما أن النبوَّة تُشير إلى ما هو مزمع أن يعمله ابن الله لنفوس الأبرار في الجحيم بموته على الصليب، وهو اليوم سيُخرج لعازر من الجحيم، ليُعلن سلطانه الإلهي، وكإعلان عمَّا هو مُزمع أن يفعله بعد أيَّام، بعد أن يُتمِّم خلاصنا &#8220;وانت بدم العهد قد أطلقت أسراك من الجب الذي لا ماء فيه&#8221;.</p>
<h4><strong>مزمور باكر</strong> (مز 29: 3، 1)</h4>
<p>&#8220;يا رب أصعدت من الجحيم نفسي، وخلصتني من الهابطين في الجب، حولت نوحي إلى فرح لي، مزقت مسحي، ومنطقتني سروراً&#8221;.</p>
<p>هذا الكلام كما لو كان لسان حال لعازر بعد موته ووجوده في الجحيم، ودعوة الرب له أن يخرج من الجحيم ليعود للحياة مرة أخرى، وهذا ماأكدته نبوّة زكريا في هذا اليوم &#8220;قد أطلقت أسراك من الجب&#8221;.</p>
<p>وإذا كان الرب حال تجسّده ووجوده بالجسد على الأرض يأمر لعازر بالخروج من الجحيم ليعود للحياة مرة أخرى، فلا تتعجب أنه بصليبه المقدَّس أخرج كل الأبرار منطلقاً بهم إلى الفردوس، فالسلطان الإلهي هنا كان ينتظر إتمام الصليب لإتمام التدبير، وليس للإمكانية أو القدرة فهو الله الظاهر في الجسد القادر على كل شئ بصليبه وبدون صليبه، لكن الفرق هنا أن روح لعازر لا يمكن أن تدخل الفردوس إلَّا بعدالصليب (بعد موته ثانية) أي بعد فدائها، أما أن ترجع روحه من الجحيم إلى العالم فلا تحتاج لفدائها، لذلك دعاه الرب للرجوع بسلطانه الإلهي.</p>
<h4><strong>أنجيل باكر</strong> (لو 18: 35- 43)</h4>
<p>&#8220;أما هو فكان يزداد صياحاً: يا إبن داود إرحمني &#8230; فلوقته أبصر وتبعه وهو يمجد الله&#8221;.</p>
<p>هذا هو نداء البشرية في سبت لعازر وأحد الشعانين:</p>
<p>في سبت لعازر تطلب البشرية المُلْقاة على الطريق مراحمه الإلهية &#8220;يا إبن داود ارحمني&#8221;</p>
<p>أما في أحد الشعانين فتصرخ اليه لأجل خلاصها &#8220;أوصنا يا إبن داود&#8221;.</p>
<p>وهي في الحالتين تطلب خلاصها من الكلمة المُتجسِّد إبن الإنسان الذي شابهنا في كل شئ ما خلا الخطية، الذي قَبِلَ أن يأتي من نسل البشر ليخلصهم، ويأتي بأبناء كثيرين إلى المجد.</p>
<p>والإحتياج للبصر والرؤية والاستنارة الداخلية هو إحتياجنا كلنا لكي نمجده ونسبحه جميع أيام حياتنا.</p>
<p>والعجيب مجئ خمس عطايا إلهية في المزمور يقابلهم خمس أفعال إنسانية في الإنجيل، وكأنها الطريق إلى هبات الله المجانية وغنى نعمته :</p>
<p>العطايا الإلهية في المزمور هي: أصعدت من الجحيم نفسي - خلصتنا من الهابطين في الجب - حولت نوحي إلى فرح - مزقت مسحي - منطقتني سروراً .</p>
<p>وما نحتاج أن نفعله لننال عطاياه: سأل من هذا - فصاح قائلاً - فكان يزداد صياحاً - فقال له يا رب أن أبصر - وتبعه وهو يمجد الله.</p>
<p>أي أن الله يُصعدنا من جحيم الخطية، ويُخلِّصنا من جب اليأس المرافق للخطية، ويُحوِّل حزننا إلى فرح، ويُمزِّق مسوحنا، ويجعل الفرح والسرور منطقتنا أي حياتنا.</p>
<p>لكنّنا يجب أن نبحث عن رئيس خلاصنا، ونصرخ في طلبه، ولا يوقفنا أحد أو شئ بل نستمر في صراخنا، ونطلب إليه أن يفتح عيون قلوبنا علي مجده، ونتبعه ونمجده ونسبِّحه على الدوام.</p>
<h4><strong>البولس</strong> (1كو 2: 1- 8)</h4>
<p>&#8220;وأنا أيضاً لما أتيت إليكم يا إخوتي ما أتيت بسمو الكلام أو الحكمة معلماً إياكم بسر الله لأنني لم أحكم أن أعرف شيئاً بينكم إلا يسوع المسيح وإياه مصلوباً وأنا أتيت عندكم في ضعف وخوف ورعدة كثيرة وكلامي وكرازتي لم يكونا بإقناع بكلام حكمة الناس لكن ببرهان الروح والقوة&#8221;.</p>
<ul>
<li>الربط الواضح هنا في الصليب بين الضعف والقوة وبساطة الحكمة الإلهية التي تفوق زهو وبطلان حكمة العالم</li>
<li>فالصليب هنا &#8220;سر&#8221; لا يعرفه أقوياء العالم وحكمائه بل يُسْتَعلن لأطفاله وبسطائه الذين يدركون ضعفهم وإحتياجهم الشديد لقوته ومحبته وحكمته.</li>
<li>والعجيب أن تكون هذه أيضاً حياة أولاد الله وخدّامه، برهان الروح والقوة، الخارج من الآنية الخزفية التي تدرك ضعفها ولكن في ذات الوقت تدرك كنزها (٢كو ٤: ٧)،</li>
</ul>
<p>والإعتماد هنا في الكرازة والخدمة ليس على الإمكانيات والقدرات بل على حكمة الصليب وقوّته.</p>
<h4><strong>الكاثوليكون</strong> (1بط 1: 25- 2: 1- 16)</h4>
<p>&#8220;الذي إذ تأتون إليه حجراً حياً مرذولاً من الناس ولكن مختاراً من الله كريم كونوا أنتم أيضاً مبنيين كحجارة حية بيتاً روحياً كهنوتاً مقدساً لتقديم ذبائح روحية مقبولة عند الله بيسوع المسيح لأنه مكتوب في الكتاب هأنذا أضع في صهيون حجر زاوية مختاراً كريماً والذي يؤمن به لن يخزى&#8221;.</p>
<p>والتأكيد هنا على سر الصليب المرذول من الناس لكنه إختيار الله الآب وتدبيره، فهو الحجر الحي الكبير الذي قطع وأبطل كل أحجار العالم وممالك البشر (دا ٢: ٤٤، ٤٥)، والعجيب هنا أن هذا الحجر الكريم سيجعل كل المؤمنين به أحجاراً حية كريمة، فكما أنه نور العالم وشمس البرّ (ملا ٤: ٢، يو ٨: ١٢) جعل أولاده نوراً وضياءاً وبهاءاً لكل العالم (مت ٥: ١٤، في ٢: ١٥).</p>
<h4><strong>الأبركسيس</strong> (أع 27: 38- 28: 1- 10)</h4>
<p>&#8220;فرجع بولس ووجد كثيراً من الحطب ووضعه على النار فخرجت من الحرارة أفعى ونشبت في يده، فلما رأى البرابرة الوحش معلقاً بيده قال بعضهم لبعض لابد أن هذا الرجل قاتل فإنه بعد أن نجا من البحر لم يدعه العدل يحيا، أما هو فنفض الوحش إلى النار ولم يمسه أذى أما هم فانتظروا أنه ينشق أو يسقط للحين ميتاً، فلما طال إنتظارهم ورأوا أنه لم يصبه ضرر تغيروا وقالوا إنه إله&#8221;.</p>
<p>نرى هنا نهاية رحلة سفر القديس بولس إستعداد لشهادته في روما، وكيف حاول الشيطان الإقتراب إليه ليُميته، وكيف نفض الوحش في النار، وكيف تغيَّر رد فعل الناس من الإعتقاد بأنه مُذنب إلى أنه إله (ليس إنساناً عادياً)،</p>
<p>وهو في هذا مثال لإبن الله الذي جاء لخلاص البرابرة (البشرية) وإقترب منه الشيطان ليأخذ روحه فصعقه إبن الله وأعاده إلى النار، وكيف شهدت الجموع المُحيطة بالصليب بألوهيته (مر١٥: ٣٩، لو ٢٣: ٤٧).</p>
<p>كما أننا نرى هنا تأكيد للمعاني السابقة، فالأسير وسط الجنود والضباط هو سبب نجاتهم، وإكرام أهل الجزيرة لهم، ورغم هياج الشيطان ومحاولته إيذاء خدَّام الله، لكن القوّة إلهية والقدرة فائقة على كل سلطان الظلمة، وقادرة أن تطفئ كل سهام الشرير الملتهبة ناراً (أف ٦: ١٦)، وأن تهدم كل حصون الشر (٢كو ١٠: ٤).</p>
<p>والنموذج هنا واضح في إمتزاج الضعف بالقوة، فالأسير الضعيف هو من أُسْتعلِنَت فيه قوّة الله، والمرذول من البشر صار موضع تكريم الجميع.</p>
<p>والرسالة والمعني هنا واضح، فمن إختار أن يعيش بضعف المسيح في نظر العالم، وأن يرفض حكمة العالم وكبرياؤه بل وداعة المسيح وحلمه وبساطته (مت ١١: ٢٩)، فهذا هو الذي حتماً سيختبر قوّته الإلهية، ويستنير بحكمته السماوية، ويكون سبب قوّة وحكمة وفرح في كل مكان ومجال يوجد فيه.</p>
<p>ونرى هنا القديس بولس يصنع المُعجزات مع البرابرة ولكنه يتكلَّم من الناموس والأنبياء مع اليهود (مقارنة بين قراءة الإبركسيس في سبت لعازر وأحد الشعانين)،</p>
<p>لكي لا يكون الإيمان مُنحصراً في وجوب الآيات والمُعجزات (لو ١٦: ٣٠)</p>
<p>وأن قوَّة كلمة الله أعظم من الآيات والمُعجزات (٢بط ١: ١٩).</p>
<p>كما يقول القديس يوحنا ذهبي الفم :[مرة أخرى انظروا كيف أنه أبكمهم لا بالمعجزات وإنما بالناموس والأنبياء، وكيف أننا نجده دائمًا يفعل هذا. ومع هذا ربما صنع آيات أيضًا، لكنها لم تكن عندئذ موضوع إيمان. بالحقيقة هذا عينه هو آية عظيمة: حواره معهم من الناموس والأنبياء]<a href="#_ftn8" name="_ftnref8">[8]</a> (القديس يوحنا ذهبي الفم).</p>
<p><strong>[ملحوظة هامة</strong><strong> :</strong>تأتي هنا نهاية رحلة سفر القديس بولس إستعداد لشهادته في روما، وهي القراءة قبل الأخيرة من نهاية سفر الأعمال (القراءة الأخيرة من سفر الأعمال غداً في أحد الشعانين)، وهي تكملة لتتابع قراءة السبوت والآحاد في الصوم الكبير، والتي بدأت في سبت الرفاع بحديث القديس بولس الوداعي مع أساقفة وقسوس أفسس عن أنهم لن يروا وجهه بعد، وجثا على ركبتيه مع جميعهم وصلى (كما الرب في جثسيماني) إستعداداً لذهابه إلى أورشليم وهو عالم يقيناً أنها رحلة إلى الصليب، ثم تتابعت القراءة في كل السبوت والآحاد لتصل لنهاية سفر الأعمال في سبت لعازر وأحد الشعانين إعلاناً عن الوصول للصليب والعبور .</p>
<p>وكأن رحلة الصوم والبصخة هي رحلة مع المسيح إلى الصليب والقيامة، هي رحلة أبناء الله (أحد الرفاع)، الناظرين إلى السماء (أحدالكنوز)، المنقادين بالروح والمنتصرين في المسيح (أحد التجربة)، المتمتعين على الدوام بوليمة الخلاص مهما كان الضعف (أحد الأبن الضال)، وحتى من هم خارج الحظيرة كانت لهم ساعة الخلاص -الساعة السادسة- (أحد السامرية)، وقيامتهم من الخطية (أحدالمخلَّع)، ونوالهم قوة موت المسيح وقيامته في المعمودية لتستنير أعينهم على الدوام برؤيته (أحد المولود أعمى).</p>
<h4><strong>مزمور القداس</strong> (مز 128: 8، 2)</h4>
<p>&#8220;بركة الرب عليكم باركناكم بإسم الرب. مراراً كثيراً حاربوني منذ صباي وأنهم لم يقدروا عليَّ&#8221;.</p>
<p>عندما تأتي البركة بإسم الرب تأتي معها القوّة، ويقف أمامها عاجزاً كل حروب البشر مهما كانت كثيرة وقويّة.</p>
<h4><strong>أنجيل القداس</strong> (يو 11: 1- 45)</h4>
<p><strong>[ملحوظة:</strong> فصل هذا الإنجيل ورد في جميع الطقوس الشرقية لهذا اليوم]<a href="#_ftn9" name="_ftnref9">[9]</a></p>
<p>&#8220;أنا هو القيامة والحياة من يؤمن بي ولو مات فهو يحيا &#8230; فدمعت عينا يسوع &#8230; ولما قال هذا صرخ بصوت عظيم لعازر هلم خارجاً&#8221;</p>
<p>هنا يُسْتَعلن لاهوت إبن الله وأيضاً ناسوته، ويظهر جوهر تجسُّد الكلمة في سلطانه الإلهي على الموت وعلى الجحيم، وإعادة خلقة الانسان، وأيضاً ناسوته ودموع عينيه لأجل البشرية المائتة بسبب العصيان، ومشاركته مع كل إنسان متألم مثل مرثا ومريم، فلا يوجد تناقض بين دموعه وبين صرخته وهو إبن الله &#8220;لعازر هلم خارجاً&#8221;.</p>
<p>والكنيسة المُقدَّسة تبدأ أسبوع البصخة بهذه المعجزة لكي تلفت أنظارنا إلى أن ابن الله لم يُصْلَب عن ضعف بل عن قوة كما قال &#8220;لي سلطان أن أضعها &#8230;&#8221; (يو١٠: ١٨).</p>
<p>ويوحنا الانجيلي الذي كان يقف أمام قبر لعازر ورأى دعوة الرب &#8220;لعازر هلم خارجاً&#8221;، ورآه يُحْضِر نفس لعازر من الجحيم ويعيده إلى الأرض مرة أخرى، ولعلّه تذكّر هذا أمام الصليب عندما رَآه وسط آلامه المُقدَّسة يقول للص اليمين التائب &#8220;الحق أقول لك إنك اليوم تكون معي في الفردوس&#8221;، فهو في ذات الوقت تأكد من هو المصلوب الذي بيده مفتاح الهاوية والموت (رؤ ٣: ٧)</p>
<p>لذلك ما أجمل أن تأتي معجزة لعازر يوم السبت وتبدأ به الكنيسة المُقدَّسة إستعدادها لآلام حمل الله لكي نتأكد ونتيقَّن من حقيقته وسلطانه الإلهي.</p>
<p>وحضوره اليوم لأجل إقامة لعازر هو حافز لنا جميعاً لنطلب ونبكي أمامه لأجل قيامتنا وقيامة من حولنا كما قال القديس إمبروسيوس :</p>
<p><strong>[</strong>سيأتي المسيح إلى قبرك، وإذ يجد مرثا المرأة التي تقدم خدمة صالحة، ومريم التي تهتم بقلبها بكلمة اللَّه، مثل الكنيسة المقدسة التي اختارت النصيب الصالح، تبكيان، يحنو عند موتك يرى دموع الكثيرين فيقول: &#8220;أين وضعتموه؟&#8221; بمعنى في أية حال من الجريمة هو؟.. في أية رتبة بين النادمين؟.. أريد أن أرى من تبكون عليه، لكي ما يحركني بدموعه. سأرى إن كان قد مات فعلًا بالخطية فأعالجه بالمغفرة..</p>
<p>يقول له الشعب: &#8220;تعال وأنظر&#8221;</p>
<p>ما معنى &#8220;تعال&#8221;؟ لتأتِ مغفرة الخطايا، ولتأتِ الحياة إلى من رحل، والقيامة من الأموات، ليأتِ ملكوتك لهذا الخاطئ أيضًا<strong>]</strong> (القديس أمبروسيوس)<a href="#_ftn10" name="_ftnref10">[10]</a></p>
<p>لكن أيضاً لا يفوتنا أن نتعجب من معاني الدخول والخروج في نهاية قراءات الصوم الأربعيني وبداية قراءات البصخة المُقدَّسة :</p>
<p>فبينما يطرد اليهود المولود أعمى خارج المجمع &#8220;أخرجوه خارجاً&#8221; (أحد المولود أعمي) يُعطي الرب وعده الأبدي بقبول كل الآتين، وأن &#8220;كل من يقبل إليه لا أخرجه خارجاً&#8221; (إنجيل قدّاس أربعاء الأسبوع السابع) ويترك الرب بيت اليهود للخراب (إنجيل قدّاس جمعة ختام الصوم) ثم يأتي الرب في سبت لعازر، ليُخرج لعازر من القبر والموت والجحيم بقوّة وسلطان لاهوته &#8220;لعازر هلم خارجاً&#8221; (إنجيل قدّاس سبت لعازر) فَمَنْ يطرحه العالم خارجاً لإيمانه بالرب يسوع يكتشف انتظار ابن الله له، ومَنْ يؤمن بابن الله ينال قوّة الخروج من الموت والجحيم إلى النور والحياة.</p>
<p>ويشرح هذا المعني أيضاً المهندس فؤاد نجيب يوسف:</p>
<p><strong>[</strong>يبدأ أسبوع الفصح أو العبور، صباح يوم سبت لعازر بعبور المسيح نهر الأردن ليجتاز أريحا..</p>
<p>السيد عبر الأردن من أريحا عندما أقام لعازر )يو11)،</p>
<p>وبعد شهور قليلة عبر الأردن مرة ثانية من أريحا ليقيم البشرية كلها من الموت بموته وقيامته.</p>
<p>لذلك قراءات هذه المرحلة بها عبور للأردن مرتين:</p>
<ul>
<li>في قراءات باكر سبت لعازر،</li>
<li>وفي باكر أحد الشعانين.</li>
</ul>
<p>السيد المسيح يشوع الجديد يقود إسرائيل ليعبر الأردن، ويدخل أرض الموعد.</p>
<p>أريحا هي المحطة الأخيرة في رحلة الخروج، تمثل الخطية الكامنة الرابضة متربصة بالبشرية، وكان لا بد من تحطيم أسوارها ثم تدميرها.</p>
<p>قراءات هذه المرحلة تتبع الصوم الكبير، فتختم الأسبوع السابع من الصوم، وتحقق هدف الخروج بالدخول المظفَّر لأرض الموعد للراحة ويدخل الملك أورشليم، الابن يدخل الهيكل كرئيس كهنة الذي ينبغي له أن يلازم الهيكل لمدة أسبوع قبل أن يقدم ذبيحة يوم الكفارة العظيم حسب الطقس اليهودي<strong>]</strong><a href="#_ftn11" name="_ftnref11">[11]</a></p>
<p><strong>كما يعقد مُقارنة جميلة</strong> بين هذا الدخول والخروج وبين الذي جاء في إنجيل الراعي الصالح ( يو ١٠ : ١ - ٩):</p>
<p><strong>[</strong>&#8220;ويُخرِجها&#8221; نلاحظ أن الدخول حدث أولا قبل الخروج &#8220;ومتي أخرج خرافه الخاصة يذهب أمامها والخراف تتبعه&#8221;. الدخول تم باختيار حر أما الخروج فالراعي هو الذي يُخْرِج خرافه الخاصة ويتقدمهم.</p>
<p>ثم يقول &#8220;إن دخل بي أحد فيخلص ويدخل ويخرج ويجد مرعي&#8221;. من يدخل يخلص. الدخول بإرادة حرة من الباب لحظيرة الخراف التي هي الكنيسة شركة جسد المسيح ثم يخرج من جسد الخطية لحرية مجد أولاد الله بشركة الصليب والموت بالمعمودية، وشركة قيامته.</p>
<p>يترجم &#8220;New King James&#8221; يدخل ويخرج ويجد مرعى&#8221;Go on and out&#8221; ، يعني الخروج فيه وليس الخروج منه.</p>
<p>إن دخل بي أحد فلا يعود ليخرج من نفس الباب وإلا لما كان هناك معنى لدخوله والانتماء لحظيرة خراف المسيح التي هي الكنيسة، فنصير في المسيح يسوع.</p>
<p>أما الخروج الذي يعنيه الكتاب فهو المسيح يخرج بنا إلى حرية مجد أولاد الله، ونحن نخرج فيه للنصرة بالصليب في سر الفداء .</p>
<p>أما عبارة ويجد مرعي فتعني أن خروجه هو للمراعي الخضراء وفِي ذلك إشارة للروح القدس العامل في سر الكنيسة.</p>
<p>وبذلك فالدخول من الباب ثم الخروج للمراعي الخضر إشارة للتجسد، والفداء، وسر الكنيسة. وهذه الأسرار الثلاثة هي أسرار التدبير الإلهي للخلاص وهي موضوع القراءات التي تقدمه الكنيسة في الفصول الثلاثة للسنة القبطية<strong>]</strong> (م. فؤاد نجيب يوسف)<a href="#_ftn12" name="_ftnref12">[12]</a></p>
<h3><strong>إنجيل إقامة لعازر في فكر الآباء</strong><a href="#_ftn13" name="_ftnref13">[13]</a></h3>
<p><strong>نظرة عامة</strong><strong>:</strong></p>
<p><strong>حقيقة أن يسوع يقول أن لعازر مجرد نائم</strong>، إنما هي وعدٌ بأمورٍ ستحدث بعد ذلك من منظور يسوع، كان لعازر نائمًا وليس ميتًا (القديس أوغسطينوس).</p>
<p>لم يكن يسوع بحاجة للذهاب إلى لعازر ليقيمه، لكنه اختار الذهاب حتى لا يشك أحد في أنه قام بالمعجزة (القديس هيبوليتوس).</p>
<p>اعتقادًا منهم أن هذه كانت إحدى عبارات يسوع الغامضة (القديس يوحنا ذهبي الفم).</p>
<p>لكن يسوع لم يخبرهم بعد أنه سيقيم لعازر (القديس يوحنا ذهبي الفم).</p>
<p>مع العلم أنه قد أُرسل لشفاء المرض، لكن الموت كان لا يمكن أن يبقى مختبئًا منه (القديس أوغسطينوس).</p>
<p>على عكس الأطباء العاديين، الذين يبذلون أنفسهم لإنقاذ الحياة، انتظر طبيب لعازر موتهِ ليؤسس لإنتصار الحياة على الموت (مار إفرام السرياني).</p>
<p>بعبارة أخرى.. يستخدم يسوع موت لعازر ليُثَبِّتْ إيمان تلاميذه (القديس هيبوليتس).</p>
<p>لم يضمن تأخيره حدوث موت لعازر فحسب، بل إنه كان ضروريًا أيضًا، لأن حبه له ربما كان قد دفعه لشفاء لعازر، تاركاً أي فرصة لأعظم معجزات القيامة. عالماً أن لعازر قد مات، يقرر لاحقاً الذهاب إليه، ويتطوع توما للذهاب معه، مدعياً أنه سينضم إلى يسوع في الموت. وهذا إما تعبير عن الجرأة من شخصٍ لديه إحساس زائف بالشجاعة، على الرغم من أنه قد يكون بالفعل قد فهم قوة يسوع الحقيقية على الموت (القديس كيرلس الأول).</p>
<p>أو أنه تعبير عن جبانٍ أصبح فيما بعد أكثر التلاميذ حماسة (القديس يوحنا ذهبي الفم).</p>
<p>أو ربما يعرف توما عن غير قصد أنه يجب على المرء أن يموت مع يسوع كي يحيا معه (العلامة أوريجانوس).</p>
<p><strong>يحقق الرب واحدة من أعظم معجزاته</strong> إذ أنه الخالق الذي يقيم خليقته (القديس أوغسطينوس).</p>
<p>يركز يوحنا في البداية على دهن مريم ليسوع بالطيب كدليل على تقواها وتعلقها به (القديس كيرلس).</p>
<p>جديرٌ بالملاحظة أن مريم المذكورة هنا ليست مريم الزانية المذكورة في روايات متى ولوقا (القديس يوحنا ذهبي الفم)، على الرغم من أن يوحنا يبدو أنه يؤكد رواية لوقا في تفاصيل أخرى (القديس أوغسطينوس).</p>
<p>بما أن يسوع، الحياة، كان غائبًا عن لعازر وأختيه، فقد كان للموت مجال للقيام بعمله من خلال وكالة المرض (القديس غريغوريوس النيسي).</p>
<p>يذكرنا تقرير مريم ومرثا ليسوع عن مرض أخيهما وصديقه أنه حتى أصدقاء المسيح يعانون (القديس يوحنا ذهبي الفم).</p>
<p><strong>مع ذلك، تُظهر أخوات لعازر إيمانًا كبيرًا في الاقتراب من يسوع</strong> لشفاء لعازر لأنهم كانوا مقتنعين بأن يسوع ليس من ذلك النوع الذي يحب ومن ثم يتخلى عن من يحبهم (القديس أوغسطينوس).</p>
<p>على الرغم من أن موت لعازر هو لمجد الله، إلا أن الله ليس السبب في مرض لعازر (القديس كيرلس).</p>
<p>إن قيامة لعازر هي لمجد الآب والابن لأن مجد الآب والابن هو واحد. يجب أن نلاحظ أيضًا أن مجد يسوع هو نتيجةٌ لموت لعازر (القديس ذهبي الفم)،</p>
<p>وليس السبب إن مريم ومارثا ولعازر هم محبوبون من ذاك الشخص الذي يستطيع أن يجلب لهم العزاء والشفاء الحقيقيين (القديس أوغسطينوس).</p>
<p><strong>ثم طلب يسوع من تلاميذه العودة معه إلى اليهودية</strong>، حيث سعى اليهود في السابق إلى رجمه (القديس أوغسطينوس).</p>
<p>كان رد فعل تلاميذه على هذا هو الخوف على أنفسهم وعليه لإفتقارهم للإيمان (القديس ذهبي الفم).</p>
<p>هم يفترضون أنهم يقدمون النصيحة إلى الله، ولذلك يوبخهم بطرح سؤال يتعلق بساعات النهار الاثنتي عشرة، حيث توجد هنا رمزية عظيمة، مشيرًا على سبيل المثال إلى المسيح باعتباره اليوم وتلاميذه الاثني عشر كالساعات (القديس أوغسطينوس).</p>
<p>قد يشير أيضًا إلى الأباء أو الرسل الاثني عشر الذين ينظرون إلى الشمس –المسيح- الذي هو اليوم الروحي (العلامة أوريجانوس).</p>
<p>يخبر المسيح تلاميذه أن الوقت ليس هو الوقت المناسب للشمس –الأبن- للانسحاب من مواجهة اليهود ما دام الوقت نهاراً ، بينما لا يزال هناك وقت للنور (القديس كيرلس).</p>
<p>فبعيداً عن نور المسيح، لا يوجد سوى عثرة في ظلمة إبليس (القديس أثناسيوس).</p>
<p>وأما الذين يسلكون باستقامةٍ،كما لو كانوا نهارًا، فلا مجال للخوف من الشرير (القديس يوحنا ذهبي الفم).</p>
<p><strong>يمكن حساب</strong> الأيام الأربعة المنقضية وفقًا للمكتوب (القديس يوحنا ذهبي الفم).</p>
<p>ولأن بيت عنيا كانت على بعد ميلين فقط من أوروشليم، مما يعني أن المسيح كان من الممكن أن يصل مبكراً لو أراد ذلك. يأتي الكثير- حتى أعداء المسيح- لتعزية أصدقائه مريم ومرثا لأنه لم يفعل ذلك (القديس يوحنا ذهبي الفم).</p>
<p>لم تكن مريم موجودة لترحب به، الأمر الذي قد يكمن في حقيقة أن مريم في هذا الموقف وفي كل موقف آخر تمثل الحياة التأملية، بينما تمثل مرثا الحياة العملية (العلامة أوريجانوس).</p>
<p>ومع ذلك، فقد يكون صحيحًا أيضًا أن مارثا تريد ببساطة التحدث إلى المسيح على إنفراد، وعندما تتعزى هي، عندئذٍ تعزي أختها (القديس يوحنا ذهبي الفم).</p>
<p>تعرب مرثا عن خيبة أملها لغيابه، على الرغم من أنه يمكن اعتبار أنه كان هناك بالفعل (القديس أندراوس).</p>
<p>لكن على الرغم من ضعف إدراكها بألوهيته (القديس يوحنا ذهبي الفم).</p>
<p>فإن هذا الجهل لا يوحي بعدم الإيمان (القديس أندراوس).</p>
<p>فمرثا تثق بأن يسوع يعرف ما هو الأفضل (القديس أوغسطينوس).</p>
<p>حيث يقود يسوع مارثا إلى حقائق أعلى (القديس يوحنا ذهبي الفم).</p>
<p><strong>يسوع هو صوت الحياة والفرح</strong></p>
<p>الذي يوقظ الموتى (القديس أثناسيوس).</p>
<p>لقد كان دائمًا ولا يزال إلهًا ليس للموتى بل إله الأحياء (القديس إيرينيؤس).</p>
<p>فهو ضمان قيامتنا، الذي تم التنبؤ به في العهد القديم (التقليد الرسولي).</p>
<p>فالمؤمنون لا يموتون أبدًا، على الرغم من أن أجسادهم قد تموت (القديس أوغسطينوس).</p>
<p>إنه يمنحنا فيه رجاءً وأماناً بهيجين حيث يمكن أن يغلبنا الغم، كما هو الحال في العالم (القديس كبريانوس).</p>
<p>في قيامة يسوع لعازر،نحن نتذوق عربون القيامة العامة (القديس كيرلس).</p>
<p>برغم أننا قد نموت، فإننا نظل أحياء إن آمننا (القديس أوغسطينوس).</p>
<p>هذا الاعتراف الإيماني هو الاعتراف الذي يسعى يسوع إلى استخلاصه من مرثا (العلامة أوريجانوس)، ومنا (القديس كيرلس).</p>
<p>في حين أن مرثا، ربما في حزنها، لا تجيب سؤال يسوع عن القيامة (القديس يوحنا ذهبي الفم)،</p>
<p>إلا أنها تعترف بأنه المسيح، كما فعل بطرس ونثنائيل أيضًا (العلامة ترتليان).</p>
<p>وتشهد عن إيمانها بالابن، الذي هو في النهاية الإيمان بالقيامة (القديس أوغسطينوس).</p>
<p><strong>عند مجيئهم إلى قبر لعازر</strong>، سألهم يسوع عن المكان الذي وضعوه فيه، ليس عن جهلٍ ولكن من أجل حملهم على اتِّباعه إلى القبر كشهودٍ (القديس كروماتيوس).</p>
<p>خرجت مشاعر يسوع عن السيطرة بسبب دموع مريم ومرثا، وظنت الجموع أنه جاء إلى القبر ليبكي هناك (القديس يوحنا ذهبي الفم).</p>
<p>وكما يفعل أيضًا على خطايانا (القديس أوغسطينوس).</p>
<p>بكى يسوع، لكنه لم يحزن (القديس هيبوليتوس).</p>
<p>لقد بكى ليعلمنا أن نبكي (القديس أوغسطينوس).</p>
<p>كانت والدة يسوع هي من أعطته نعمة البكاء (القديس إيرينيؤس).</p>
<p>كانت دموعه مثل المطر المروي الذي من شأنه أن يتسبب في عودة بذرة جسد لعازر إلى الحياة (مار إفرايم).</p>
<p>لقد بكى بدافع الشفقة، ليس فقط لأجل لعازر ولكن أيضًا للبشرية جميعها، المعرضة للموت (القديس كيرلس).</p>
<p>ولكن كان لا يزال هنا كمن لم يرَ الرحمة أو القوة، بل ضعفًا في يسوع بسبب التأخير في إقامة لعازر (القديس يوحنا ذهبي الفم).</p>
<p><strong>عندما كان يسوع لم يزل بعيدًا عن القبر</strong>، انزعج بالروح، ولكن عندما اقترب للقبر، كان الإنزعاج قد بلغ مداه داخله (العلامة أوريجانوس).</p>
<p>كإشارة إلى الاضطراب الذي كان يعصف بأعماقه (القديس كيرلس).</p>
<p>لقد إنزعج لأن هذا ما يفعله الإيمان عندما يرى أمراً خاطئاً أو غير مفهوم (القديس أوغسطينوس).</p>
<p>الحجر الموجود أمام الكهف، رائحة الجسد النتنة، تشير جميعها إلى عدم وجود فرصة للخداع (القديس هيبوليتوس).</p>
<p>في رمزية رائحة لعازر النتنة – والتي لا يمكن إنكار تاريخيتها (القديس أوغسطينوس)،</p>
<p>يتم الربط بين الخطيئة والموت، والتوبة والقيامة (القديس أوغسطينوس).</p>
<p>يأمر يسوع برفع الحجر، لكن كلمات مرثا تدخلت مؤقتًا (العلامة أوريجانوس)،</p>
<p>فقط لتفسح المجال للإيمان- إيمانها كأحد الأحياء الذي يثق بيسوع نيابة عن لعازر الميت (القديس كيرلس).</p>
<p>ومع دحرجة الحجر بعيداً، اقترب مستودع الحياة من قبر الموت (القديس أثناسيوس).</p>
<p><strong>تركز عيني يسوع نحو الأعلى</strong>، حيث تصرف انتباهنا بعيدًا عن الاهتمامات اليومية إلى ما هو فوق (العلامة أوريجانوس).</p>
<p>يعرف يسوع أن الآب قد سمع صلاته بالفعل، ولهذا السبب يقدم صلاة شكرٍ بدلاً من تقديم طلبة (العلامة أوريجانوس).</p>
<p>توضح صلاة الرب أيضًا للجموع أنه لا يتصرف أبدًا ضد إرادة أبيه (القديس يوحنا ذهبي الفم)،</p>
<p>وتتيح لنا معرفة أن أولئك الذين يُصلّون حقًا فإن صلواتهم دائماً ما يُستمع إليها (العلامة أوريجانوس).</p>
<p>لم يكن المسيح بحاجة للصلاة (القديس هيلاري)،</p>
<p>ولكن لأنهم وجهوا إليه تهمة التجديف، صار القبر ساحة العدالة حيث تمت تبرئة يسوع (القديس هيبوليتوس).</p>
<p>إنه ذاك الصوت نفسه الذي تحدث عند الخلق (القديس أثناسيوس).</p>
<p>وهو أيضاً ذات الصوت الذي سيتحدث مرة أخرى عندما يدعونا للخروج من قبورنا في القيامة العامة (القديس غريغوريوس النيسي).</p>
<p>عندما أقام يسوع لعازر من خلال الصلاة، لم يظهر فقط سلطانه بل أظهر أيضاً وحدته مع الآب (القديس يوحنا ذهبي الفم).</p>
<p>وكما هي محاولة لعازر الخروج، كذلك أيضاً أولئك الذين لديهم ضمير مذنب (القديس غريغوريوس الكبير، القديس أوغسطينوس).</p>
<p>إن فك الأكفان التي ربطت لعازر يمثل كوننا غير مقيدين بموت الخطية (القديس إيرينيؤس، العلامة أوريجانوس)،</p>
<p>إذ أن الكنيسة وكل خدامها مكلفون بمهمة حل الخطاة من خطاياهم (القديس أوغسطينوس).</p>
<p>فهناك الكثيرين مثل لعازر محاصرون في قبورهم الخاصة حتى تحررهم كلمات يسوع (العلامة أوريجانوس).</p>
<h3>عظات مقترحة</h3>
<p><strong>لسبت لعازر </strong></p>
<p><strong>أقوال وأفعال تبدو متناقضة </strong></p>
<ul>
<li>&#8220;وَكَانَ يَسُوعُ يُحِبُّ مَرْثَا وَأُخْتَهَا وَلِعَازَرَ. فَلَمَّا سَمِعَ أَنَّهُ مَرِيضٌ مَكَثَ حِينَئِذٍ فِي الْمَوْضِعِ الَّذِي كَانَ فِيهِ يَوْمَيْنِ&#8221; (يو 11: 5، 6).</li>
</ul>
<p>كيف يحبهم ويعرف أن أخوهم الذي يحبه لعازر مريض ويمكث هناك يومين ولا يذهب إليه سريعاً؟!..</p>
<p>ولكن هذا هو تدبير الله في مواعيده وتوقيتاته حتي لو يأس البشر من جدوي أو قيمة تدخله لكن تدبيره دائماً فوق عقولنا كبشر كعلو السموات عن الأرض (إش ٥٥: ٩).</p>
<ul>
<li>&#8220;فَقَالَ لَهُمْ يَسُوعُ حِينَئِذٍ عَلاَنِيَةً: لِعَازَرُ مَاتَ وَأَنَا أَفْرَحُ لأَجْلِكُمْ إِنِّي لَمْ أَكُنْ هُنَاكَ، لِتُؤْمِنُوا وَلكِنْ لِنَذْهَبْ إِلَيْهِ&#8221; (يو ١١: ١٥،١٤).</li>
</ul>
<p>كيف يقترن موت أحد الأحباء بالفرح؟..!</p>
<p>هذا هو حضور المسيح له المجد الذي يُخْرِج من الآكل أُكلاً ومن الجافي حلاوة (قض ١٤:١٤) ويحول الحزن إلى فرح وتعزية ورجاء.</p>
<ul>
<li>&#8220;قَالَ لَهَا يَسُوعُ: أَنَا هُوَ الْقِيَامَةُ وَالْحَيَاةُ مَنْ آمَنَ بِي وَلَوْ مَاتَ فَسَيَحْيَا،&#8230;. بَكَى يَسُوعُ&#8221; (يو ١١: ٣٥،٢٥).</li>
</ul>
<p>كيف كان مُزمِع أن يُقيم لعازر وفِي ذات الموقف يبكي؟!..</p>
<p>لكن هي المشاعر الإنسانية في الكلمة المُتجسِّد الذي شابهنا وشاركنا في كل شئ عدا الخطية، وأيضاً تأكيدأ لكمال ناسوته.</p>
<p>لذلك بكاء الرب لا يقل قوة ومجد عن إقامته لعازر من الموت.</p>
<ul>
<li>&#8221; قَالَتْ لَهُ:«نَعَمْ يَا سَيِّدُ أَنَا قَدْ آمَنْتُ أَنَّكَ أَنْتَ الْمَسِيحُ ابْنُ اللهِ، الآتِي إِلَى الْعَالَمِ،&#8230; يَاسَيِّدُ، قَدْ أَنْتَنَ&#8221; (يو١١: ٣٩،٢٧).</li>
</ul>
<p>كيف تُعْلِن مرثا إيمانها في السيد وفِي ذات الوقت تستصعب المعجزة؟!..</p>
<p>هذا هو ضعفنا البشري رغم إعلاننا الإيمان بقوته، لكن ما أجمل مراحم الله التي تحتوي ضعفاتنا.</p>
<ul>
<li>&#8220;قَالَ يَسُوعُ: ارْفَعُوا الْحَجَرَ&#8230; وَلَمَّا قَالَ هذَا صَرَخَ بِصَوْتٍ عَظِيمٍ:«لِعَازَرُ، هَلُمَّ خَارِجًا&#8221; (يو ١١: ٤٣،٣٩).</li>
</ul>
<p>كيف الذي أقام لعازر بعد أربعة أيام لا يرفع الحجر بكلمة؟!..</p>
<p>هذا هو التوازن بين ما هو بشري وما هو إلهي.. بين ما نقدر علي فعله وبين ما لا نستطيعه ونحتاج فيه لقدرته وقوّته.</p>
<p>من وحي قراءات سبت لعازر</p>
<p>&#8220;فهو يخلصك ويجلب عليك فرحاً ويجددك في محبّته ويبتهج بك بترنم كما في يوم عيد &#8220;(صفنيا ٣ - نبوّات سبت لعازر)</p>
<ul>
<li>هذا هو عمل الله فينا وفِي كل أولاده.</li>
<li>هو بالنسبة لنا يجب أن يكون مصدر خلاصنا وفرحنا وبهجتنا وعيدنا.</li>
<li>وهذا هو هدف تدبيره الإلهي ودعوته اليومية لكل إنسان عندما يقف علي بابه يقرع (رؤ ٣: ٢٠) منتظراً الإستجابة ليدخل ويُشبعنا بالغني الإلهي.</li>
<li>وما أصعب أن نري الله بثقافة غير مسيحية، ونعتقد أنه دائماً بالمرصاد لأخطائنا وضعفاتنا.</li>
<li>ولا نعرف بعد أنه يتمنى أن نُلقي عليه شوكُنا وحسكُنا ليقطعها ويحرقهم بمحبته (إش ٢٧: ٤).</li>
<li>وما أجمل أن نعرف أن الله يبتهج بنا بترنم كما في يوم عيد!</li>
<li>ولكن سيُعطينا الله بنعمته المجانية أن ندرك هذا عندما نتجدد في محبّته ونعيش خلاصه.</li>
<li>وتكون هذه رسالتنا تجاه الآخرين.</li>
<li>فنسعي ليذوق الجميع محبة الله المجانية غير المشروطة والتي سيصدقونها إذا إشتموا رائحتها فينا.</li>
<li>ونكون بشارة مُفرحة لكل من نخدمه وتُجدِّدنا جميعا النعمة الإلهية (خُدَّاماً ومخدومين) في غني وفيض محبة الله.</li>
</ul>
<h3>عظات آبائية</h3>
<p><strong>لسبت لعازر</strong></p>
<p>العظة الأولى</p>
<h4><strong>السيد المسيح سيأتي إلى قبرك </strong>- القديس أمبروسيوس<a href="#_ftn14" name="_ftnref14">[14]</a></h4>
<p>دعنا إذاً نبكى لبعض الوقت، لكى نفرح إلى الأبد. دعنا نخاف الرب، دعنا نعجل إليه الإعتراف بخطايانا، دعنا نصوب سقطاتنا ونصلح أخطائنا لئلا يقال عنا: &#8220;ويل لي لأنه قد باد التقي من الأرض، وليس مستقيم بين الناس (ليصلحهم)&#8221; (ميخا ٧:٢)</p>
<ul>
<li>لماذا تخافون أن تعترفون بخطاياكم لربنا الصالح؟ هو يقول: إعرضها (حدث) لكى تتبرر (انظر إش ٢٦:٤٣). مكافآت التبرير تقدم إلى ذاك الذي هو مذنب بالخطية، فالذي يعترف بخطاياه بإرادته، هو يتبرر، وأخيراً، &#8220;فالإنسان البار يدين نفسه في بداية كلامه&#8221; (أنظر أم١٧:١٨س). الرب يعرف كل شيء، ولكنه ينتظر كلمات اعترافك، لا لكى يعاقب بل لكى يصفح. فليست مشيئته أن ينتصر إبليس عليك، عندما تخفى خطاياك إسبق الذى يشتكى عليك. إن أدنت نفسك، فلن تخف أي مشتكي، إن إعترفت بخطأك، فإنك ستحيا رغم أنك كنت ميتاً.</li>
<li>سيأتي المسيح إلى قبرك وإذا وجد هناك الذين يبكون عليك، مرثا امرأة الخدمة الحسنة، ومريم التي سمعت كلمة الله بحرص، مثل كنيسة مقدسة قد اختارت النصيب الصالح، فإنه سيتحرك بالشفقة، حينما يرى دموع كثيرين على موتك، وسيقول: &#8220;أين وضعتموه&#8221; (أنظر يو ٣٤:١١)، أي في أي حالة من الخطية؟ وفى أي رتبة من رتب التائبين؟ أريد أن أرى ذاك الذى تبكون من أجله، لكى يحركني هو نفسه بدموعه. سأرى أن كان قد مات عن تلك الخطية التي يطلب الغفران عنها.</li>
<li>وسيقول له الناس: &#8220;تعال وأنظر&#8221; (يو ٣٤:١١). ما معنى &#8220;تعال؟&#8221; إنها تعنى دع غفران الخطايا يأتي، دع حياة المنتقل تأتي، وقيامة الأموات، ليأت ملكوتك إلى هذاالخاطئ أيضاً.</li>
<li>هو سيأتي ويأمر أن يرفع الحجر الذى وضعه الخاطىء على كتفيه بسقوطه. هو كان يستطيع أن يرفع الحجر بكلمة أمر، فحتى الطبيعة غير الحية تطيع أمر المسيح. هو كان يستطيع بقوة عمله الخفية أن يرفع الحجر عن القبر، وهو الذى عند آلامه رفعت الأحجار فجأة عن قبور أموات كثيرين فتفتحت (أنظر مت٥٢:٢٧)، ولكنه أمر الرجال أن يرفعوا الحجر، لكى يؤمن غير المؤمنين بما رأوا، إذا يرون الميت يقوم ثانية. ولكن في مثال يعطينا السلطان لتخفيف ثقل الخطايا، والضغط الثقيل على المذنب  فعملنا هو أن نزيل الأثقال، وعمله هو أن يقيم ثانية، عمله هو أن يخرج من القبور أولئك الذين أطلقهم أحراراً من رباطاتهم.</li>
<li>وهكذا فالرب يسوع، إذ يرى حمل الخاطئ الثقيل، يبكي، لأنه لا يدع للكنيسة تبكي وحدها فهو يشفق على أحبائه، ويقول للذى مات: &#8220;هلم خارجاً&#8221; (يو ١١: ٣٤)، أي أنت الموجود في ظلمة الضمير، وفى قذارة خطاياك، كما في بيت السجن الخاص بالمذنبين، أخرج وإكشف خطاياك لكى تتبرر. &#8220;لأن الفم يعترف به للخلاص&#8221; (رو ١: ١٠).</li>
<li>إن كنت قد أعترفت بدعوة المسيح، فإن القضبان تنكسر، تنحل كل القيود، حتى لو كانت نتانة الفساد الجسدى ثقيلة جداً. لأنه كان ميتاً لمدة أربعة أيام وأنتن جسده في القبر. أما الذى لم يرى جسده فساداً فقد كان في القبر لثلاثة أيام، لأنه لم يعرف شرور الجسد، التي تتكون من مواد العناصر الأربعة. إذا فمهما كانت نتانة الجسد ثقيلة جداً، فإنها كلها تتلاشى بمجرد أن تنشر عليها رائحة الدهن المقدس، ويقوم الميت ثانية، ويعطى الأمر بأن تفك يديه التي كانت مربرطة بالخطية، ويرفع الغطاء عن وجهه، هذا الغطاء الذى كان يحجب حقيقة النعمة التي نالها، ولكن حيث إنه نال الغفران، لذلك يعطى الأمر بكشف وجهه، لكى تظهر ملامحه. لأن الذى تغفر خطاياه لا يكون لديه شيء يخجل منه.</li>
<li>ولكن بوجود هذه النعمة المعطاه من الرب، بمثل هذه المعجزة الإلهية، حينما كان يجب أن يتهلل الجميع، فإن الأشرار ثاروا وجمعوا مجمعاً ضد المسيح، وكان يريدون أن يقتلوا لعازر أيضاً (يو ١٢: ١٠). ألا تدركون أنكم أنتم خلفاء أولئك الذين ترثون قساوتهم؟ لأن هل أنتم أيضاً غاضبون وتجمعون مجمعاً ضد الكنيسة، لأنكم ترون الموتى يعودون للحياة في الكنيسة، ويقامون ثانية بنوالهم غفراناً لخطاياهم. وهكذا فأنتم تريدون بالحسد أن تذبحوا ثانية أولئك الذين أقيموا إلى الحياة،</li>
<li>ولكن يسوع لا يسحب عطاياه، لا بل هو بالحرى يزيدها بإضافات من سخائه، وبإهتمام يزور ثانية ذاك الذى أقيم، وإذ يتهلل بعطية الحياة المستعادة فإنه يأتي إلى الوليمة التي أعدتها له كنيسته، والتي يوجد فيها ذاك الذى كان ميتاً، كواحد بين الجالسين مع المسيح.</li>
<li>حينئذ يدهش كل الذين ينظرون إليه (الميت الذي قام) بنظرة الذهن النقية، هؤلاء المتحررون من الحسد، فهكذا هم أبناء الكنيسة. إنهم يدهشون كما قلت، كيف أن الذى كان أمس وأول أمس موجوداً في القبر، هو أحد أولئك الجالسين مع الرب يسوع.</li>
<li>مريم نفسها تسكب طيباً على قدمي الرب يسوع (يو ١٢: ٣). ربما على قدميه لهذا السبب، لأن واحداً من المتواضعين جداً قد أنتزع من الموت، لأننا جميعاً جسد المسيح (أنظر ١كو ١٢: ٢٧)، لكن ربما آخرون هم أعضاء أكثر كرامة. الرسول كان فم المسيح، لأنه قال: &#8220;أنتم تطلبون برهان المسيح المتكلم فيّ&#8221; (٢كو ١٣: ٣). والأنبياء الذين تكلم من خلالهم عن الأمور الآتية كانوا فمه، فهل أوجد مستحقاً أن أكون قدمه، تسكب مريم علىّ طيبها الثمين، وتدهني وتمسح خطيتي .</li>
<li>إذاً فما نقرأه عن لعازر ينبغي أن نؤمن أنه يحدث لكل خاطئ يتحول بالتوبة، فرغم أنه قد يكون منتناً، إلا أنه يتطهر بدهن الإيمان الثمين. فالإيمان له مثل هذه النعمة، أنه بينما كان الميت منتناً في اليوم السابق، فالآن يمتلئ البيت برائحة الطيب.</li>
<li>بيت كورنثوس قد أنتن، حينما كتب عنه: &#8220;يسمع مطلقاً أن بينكم زنى ومثل هذا ليس بين الأمم&#8221; (انظر ١كو ٥: ١). كانت هناك نتانة، لأن خميرة صغيرة قد أفسدت العجين كله. وبدأت الرائحة الطيبة حينما قيل: &#8220;والذى تسامحونه بشيء فأنا أيضاً لأنى أنا ما سامحت به .. فمن أجلكم بحضرة المسيح&#8221; (أنظر ٢كو ٢: ٢٠). وهكذا إذ تحرر الخاطئ. كان هناك فرح عظيم في ذلك المكان، وإمتلأ البيت كله من رائحة حلاوة النعمة. لذلك فالرسول إذ هو يعرف جيداً، أنه سكب دهن الغفران الرسولي على الجميع، يقول: &#8220;لأننا رائحةالمسيح الذكية لله في الذين يخلصون&#8221; (٢كو ٢: ١٥).</li>
<li>عند سكب هذا الطيب يفرح الجميع، يهوذا وحده يتكلم ضد سكب الطيب (أنظر يو ١٢: ٤). وهكذا أيضاً فالخاطئ يتكلم ضده، والخائن ينتقد هذا العمل، ولكنه يلام من المسيح، لأنه لا يعرف دواء موت الرب، ولا يفهم سر مثل هذا الدفن العظيم. لأن الرب تألم ومات لكى يفتدينا من الموت، وهذا ظاهر من القيمة العظيمة جداً التي لموته، التي تكفي لحل الخاطئ من خطاياه، ولإعادته إلى النعمة، حتى يأتي الجميع ويدهشون لجلوسه على المائدة مع المسيح، ويسبحون الله قائلين: &#8220;لنأكل ونفرح، لأنه كان ميتاً فعاش وكان ضالاً فوجد&#8221; (لو ١٥: ٢٤). ولكن من هو عديم الإيمان يعترض قائلاً: &#8220;لماذا يأكل مع العشارين والخطاة؟ وهو يجيب: &#8220;لا يحتاج الأصحاء إلى طبيب، بل المرضى&#8221; (مت ٩: ١١– ١٢).</li>
</ul>
<p><strong>ويقول القديس أمبروسيوس أيضاً:</strong><a href="#_ftn15" name="_ftnref15">[15]</a></p>
<p>دع الكنيسة، أمك، تبكى عليك&#8230; دع السيد المسيح يراهم باكين&#8230; فانه يسرّ عندما يرى كثيرين يصلون عنك، فقد تحنن الرب بسبب الدموع من أجل الأرملة، لأن كثيرين كانوا يبكون لأجلها، فأقام لها ابنها. وسمع لبطرس سريعًا جدًا في صلاته لإقامة غزالة، لأن الفقراء كانوا يبكون عليها. (القديس أمبروسيوس)</p>
<ul>
<li>لتهب لي يا رب أن تأتي إلى قبري، فتسكب الدموع عليّ، حيث جفت عيناي ولم تعودا قادرتين على سكب دموعٍ كهذه من أجل معاصي. إن بكيت يا رب عليّ (كما على لعازر) فسأُنقذ&#8230; أنت تدعوني من قبر جسدي هذا، قائلًا: &#8220;هلم خارجًا&#8221;، حتى لا يعود تفكيري ينحصر في حدود جسدي هذا الضيق، بل يخرج نحو المسيح ويحيا في النور، فلا أعود أفكر في أعمال الظلمة بل في أعمال النور&#8230;</li>
</ul>
<p>ناد يا رب خادمك، رغم ربطه بسلسلة الخطايا، وتقييد قدميه ويديه، فإنه الآن مدفون في قبر الأفكار والأعمال الميتة. لكن عندما تدعوني أقوم حرًا، وأصير أحد الجالسين في وليمتك وتفوح في بيتك رائحة طيب ذكية.</p>
<p>إن كنت قد وهبت لأحد أن يخلص، فإنك تحافظ عليه أيضًا، فيقال عني: &#8220;انظر! إنه لم يحضر وسط الكنيسة، ولا تأدب منذ طفولته، بل كان هاربًا من الحكم. فجُذب من أباطيل العالم، ودخل في صفوف المرتلين، بدلًا من أن يكون بين المولولين، وقد ثابر في كهنوته لا بقوته الخاصة بل بنعمة المسيح، وصار جالسًا بين المدعوين في الوليمة السمائية&#8221;</p>
<p>احفظ أيها الرب عملك، واحرس عطاياك التي وهبتها حتى لذاك الذي هرب منها. فإنني أعلم إنني لم أكن مستحقًا أن أدعى أسقفًا، لأنني انشغلت بهذا العالم، لكن نعمتك جعلتني على ما أنا عليه. وفي الحقيقة إنني أصغر جميع الأساقفة، وأقلهم استحقاقًا. ومع ذلك فقد تعهدت ببعض الأعمال الخاصة بكنيستك المقدسة، وسهرت على هذه الثمرة، وإذ اخترتني للكهنوت وأنا مفقود، لا تسمح بعد أن أكون مفقودًا وأنا كاهن.</p>
<p>إن أول عطية هي أن أعرف كيف أحزن حزنًا عميقًا مع أولئك الذين يخطئون، لأن هذه هي أعظم فضيلة.</p>
<p>العظة الآبائية الثانية <strong>–</strong> سبت لعازر</p>
<h4><strong>&#8220;حلوه ودعوه يمشي&#8221;</strong><strong> - </strong>للعلامة أوريجانوس<a href="#_ftn16" name="_ftnref16">[16]</a></h4>
<p><strong>يقول يسوع للقادرين أن يخدموه: &#8220;حلوه ودعوه يمشي&#8221;</strong><strong> - </strong>للعلامة أوريجانوس<a href="#_ftn16" name="_ftnref16">[16]</a></p>
<p>يلزمنا أن نهتم بهذا أيضًا، أن نقدم عملًا لائقًا بيسوع، فليس فقط نصلي لكي يصير الميت حيًا، بل أيضًا نصرخ إليه وندعو ذاك الذي في داخل الكهف والقبر إلى الأمور الخارج من القبر.</p>
<p>يلزمنا أن ندرك أنه يوجد لعازر كثيرون حتى الآن بعد أن صاروا أصدقاء يسوع، مرضوا وماتوا، وكموتى صاروا في القبر في أرض الأموات مع الموتى، ومؤخرًا صاروا أحياء بصلاة يسوع، ودعوا ليخرجوا من القبر إلى الخارج بصوت يسوع العالي.</p>
<p>من يثق في يسوع يخرج بالأربطة الخاصة بالموت من خطاياه السالفة، لكنه لا يزال مربوطًا حول وجهه، فلا يقدر أن يرى، ولا أن يمشى، ولا أن يفعل شيئًا ما بسبب أربطة الموت، حتى يأمر يسوع القادرين لكل يحلوه ويدعوه يمشي.</p>
<p>مثل هذا يخرج من أجل صوت يسوع، لكنه لا يزال مربوطًا برباطات خطاياه. إنه حي، لأنه تاب وسمع صوت يسوع، لكنه إذ لم يتحرر بعد من رباطات الخطية لا يقدر أن يسير في الحال بقدمين متحررتين، وبكونه لم يتحرر ليتمم الأمور الفائقة فقد ارتبطت يداه وقدماه بأربطة كأربطة الموتى.</p>
<p>مثل هذا الإنسان بسبب الموت الذي فيه ملتصقًا بأربطة يديه وقدميه تغطى وجهه بالجهالة، وارتبط به حوله.</p>
<p>لهذا فإن يسوع لا يرغب فيه أن يعيش فحسب ويبقى في القبر ويكون مربوطًا عن أمور الحياة التي في خارج القبر&#8230; لذلك يقول يسوع للقادرين أن يخدموه: &#8220;حلوه ودعوه يمشي&#8221;.</p>
<p>العظة الآبائية الثالثة <strong>–</strong> سبت لعازر</p>
<h4><strong>إقامة لعازر</strong> - للقديس كيرلس الأسكندري<a href="#_ftn17" name="_ftnref17">[17]</a></h4>
<p>إنه أمر مناسب لتدبير إخلائه لنفسه بالتجسد أن يتكلم المسيح هكذا كإنسان بطريقة متواضعة، وليس بحسب سمو الوهيته. وهو يقدم شكره للآب، ليس من جهة لعازر فقط، بل من أجل حياة كل البشر. واذ هو صالح فإن له تدبير واحد مع الآب من جهة اعادة طبيعة الإنسان الساقط بسبب العصيان، إلي الحياة اذ لا يوجد اختلاف بين صلاحه وصلاح الآب. وكما أن أفكارنا نحن أنفسنا تحثنا ألا نترك شيئاً قصدنا أن نفعله بدون أن نكمله، هكذا الرب أيضاً، إذ هو كلمة ومشورة الآب، فإنه قد جعل الآب صديقاً لنا. ونحن لا نقصد بهذا أن الله لا يغضب، ولكننا نقصد أن الله إذ هو عادل وصالح، فهو يعرف ماهو الوقت المناسب للتوبيخ والوقت المناسب للحلم، ومع ذلك فإن الرب يشكر الآب ليكون مثالاً لنا في اكرام الآب، لأنه حينما يقدم شخص الشكر لمن هو مساوٍ له، فإن هذا لا يكون علامة على أنه أقل منه في الجوهر. ولهذا السبب فإن يسوع يشير إلى أنه يقول هذا &#8220;لأجل الجمع الواقف&#8221; وكأنه يقول &#8220;لقد أخذت شكل الصلاة الخارجي وأنا أقدم الشكر حسب الصورة التي اتخذتها بالتدبير (أي بالجسد)&#8221;.</p>
<p>&#8220;وأنا علمت أنك في كل حين تسمع لي&#8221;، لأن طبيعة الألوهية الواحدة، لا يمكن أن تتعارض مع ذاتها حيث أن فكر أقانيم الثالوث الآب والابن والروح هو واحد. لذلك إذ هو يعلم هذا، فهو يقول أن لنا هدف واحد ومشيئة واحدة، وأنا أصلي هكذا &#8220;لأجل الجمع الواقف&#8221; والمسيح يتكلم هكذا بسبب اليهود مقدماً الشكر للآب، مبيناً أنه يعمل الأعمال الإلهية بقوة الآب، لكي لا يقولوا أنه يعمل الآيات ببعلزبول. وهو يشرح أيضاً موقفه من جهة الشكل الخارجي للصلاة لكي لا يعثرنا هذا الشكل، فيقول أني أفعل هذا لأجل الجمع. كما يضيف: &#8220;أنك أرسلتني&#8221; وبسبب شكوك اليهود فإنه يقول: لأني لم آت من نفسي كما يفعل الأنبياء الكذبة، ولكني بمشيئتك ومسرتك الصالحة أخليت نفسي آخذاً صورة عبدا كي أعيد الحياة للجميع. إذاً فإن طريقة صلاته هذه تتفق مع الحالة التي اتخذها بالتدبير (أي بالجسد)، وليس بحسب سمو وجلال الألوهية التي لا تقارن. فالسؤال والنوال من الله في الصلاة هما أعمال تليق بالعبد وليس بالسيد، وهي أعمال عادية لمن هو خاضع للسلطان. ومع ذلك فإن المسيح لا يلام على فعله مثل هذه الأمور: لأنه إذ قد قبل حالة الإنسان لنفسه فكيف يمكن أن ينفر من خصائص البشرية؟!.</p>
<p>لأن الابن هو كامل من جميع الوجوه ولا يشوب جلاله أي نقص، لأنه مولود من جوهر الله الآب، وهو مملوء بكل قوة وبكل مجد الهي. وكل شئ تحت قدميه، ولا يوجد شئ يعجز عن فعله بقدرته، ورغم أنه صحيح أن كل شئ في يده، مع ذلك يقال أنه يسأل من الآب ويأخذ الأمم واقاصي الأرض كميراث مجيد (مز٨:٢). ولكن من الضروري أن نسأل عن كيف يأخذ أو متى يأخذ لأنه من الصواب والضروري أن نسأل في مثل هذه الأمور عن الزمان ونفحص المناسبة، ونفتش بدقة عن معانيها. لذلك حينما صار إنسانا أي حينما أخلي نفسه كما هو مكتوب، (في٧:٢) وحينما وضع نفسه في صورة أولئك الذين يليق بهم أن يسألوا، فإنه عندئذ تكلم مثل البشر وفعل الأشياء التي تليق بهم. وتخبرنا الكتب أنه أكمل كل هذه الأمور من قبل الآب. لأنه متى اتخذ شكل التواضع الخارجي، أو كيف ظهر إخلائه لذاته بصورة عظيمة إلا حينما إحتمل بإرادته أمراً معيناً لا يليق بجلاله الالهي، وذلك حينما أخلى نفسه لأجلنا. لأنه كما كان يتعب من اجهاد الطريق رغم أنه هو رب القوات؛ وكما كان يحتاج إلى طعام رغم أنه هو الخبز الذي نزل من السماء والذي يعطي الحياة للعالم، وكما احتمل الموت بالجسد رغم أنه هو الذي به نحيا ونتحرك ونوجد، هكذا أيضاً أنه سأل رغم أنه رب الكل. فإن ملكوت الابن الوحيد لم يعلن فقط عند ما صار انساناً، بل قبل ذلك بكثير، وهذا ماسنثبته بسهولة. لأن المجادلة بخصوص هذا الأمر هي حماقة كبيرة، فهل تظن أن الرب صلى وهكذا حصل على الحياة للعازر؟ وإلا ينبغي أن تكف عن مثل هذا التفكير عندما ننتبه إلى بقيةكلماته؟ فهو لم يقل فقط &#8220;أشكرك أيها الآب لأنك سمعت لي&#8221;، بل أضاف بعد ذلك: &#8220;لأجل هذا الجمع الواقف قلت هذا، لكي يؤمنوا أنك أرسلتني&#8221; وهكذا ترى بوضوح المناسبة الخاصة بهذه الصلاة. فلأن اليهود كانوا أشراراً وجسورين، لذلك كانوا يتهمون الرب حينما يصنع المعجزات ويقولون أنه عمل الأعمال الإلهية بقوة بعلزبول، لذلك فهو يدحض فكرهم هذا بحق ويبين أنه يعمل كل شئ مع الآب إذ هو إله حق، وهو لم يأت من ذاته أو بمشيئته الخاصة مثل الأنبياء الكذبة. وأيضاً فيما يخص اختياره لكلمات تبدو غير مناسبة للاهوته، فهو يقول &#8220;لأجل الجمع الواقف أقول هذا لكي يؤمنوا أنك أرسلتني&#8221; فمن أجل تصويب الفكرة التي عند الجمع الواقف، ولكي يجعلهم يؤمنوا أن المعجزة التي عملها مع لعازر هي من فوق من الآب، لذلك قال مثل هذه الكلمات: &#8220;أيها الآب أشكرك لأنك سمعت لي لأنه هو نفسه مشيئة الآب وكلمته ومشورته، من جهة كل خصائصه الإلهية وجلالها. فأي مشورة يسأل عنها، وأي إرادة يطلب تحقيقها أو أي كلمة يطلبها من ذلك الذي ولده- ليتمم بعض الأعمال- بينما الآب كائن فيه بالطبيعة، وهو في الآب لأنه من جوهره وكيف يمكن أن يسأل من الآب وكأنه منفصل عنه؟ أو كيف يعجز عن أن يطرد الموت من الجثمان الميت وهو الذي خلق الإنسان في البداية من المادة عديمة الحياة، وجعله حياً وعاقلاً؟ لذلك فنحن نقبل الشرح المستقيم للإيمان، وليس شرح اولئك الذين يتكلمون بحماقة، أي نقبل ذلك الشرح الذي من الكتب المقدسة التي أوحي بها الروح، تلك الكتب التي ليس فيها شئ منحرف أو مشوه.</p>
<p>(يو ١١: ٤٣-٤٤): <strong>&#8220;ولما قال هذا صرخ بصوت عظيم لعازر هلم خارجاً فخرج الميت ويداه ورجلاه مربوطات بأقمطة ووجهه ملفوف بمنديل&#8221;.</strong></p>
<p>يا للعجب فإن الجثمان المنتن الذي مات منذ أربعة أيام، يخرج من القبر، والذي كان مربوطا ومقيدًا من يديه ورجليه أُمر أن يمشي وفي الحال بدأ الميت أو بالحري الجثمان يجري، إذ قد تحرر من فساده، وأزيلت منه الرائحة النتنة، وهرب من أبواب الموت، ودون أن يعوقه عن الجري أي عائق من الرباطات، ورغم أن وجهه كان مغطي بمنديل، فإن الميت كان يجري نحو ذلك الصوت الرباني الذي ناداه لأن كلمات المسيح هي الهية، وأمره هو أمر ملوكي، لهذا فقد فكه من الموت والفساد مظهراً هكذا قدرته التي تفوق كل وصف أو تعبير وإن كانت صرخته القوية هي أمر غريب وغير مألوف بالنسبة للمسيح المخلص، لأن الله الآب يقول عنه في موضع ما &#8220;لا يصيح ولا يسمع أحد صوته&#8221; (إش ٤٢: ٢). لأن الألوهة الحقيقة إنما تجري أعمالها بدون ضوضاء أو ضجيج، وهكذا فعل المسيح، لأنه هو بطبيعته إله من إله وهو الله حقاً. إذاً ، فماذا نقول حينما نرى أنه صرخ بصوت عظيم، بطريقة غير معتادة؟ وبالتأكيد لن يحط أحد نفسه إلي عمق الحماقة لدرجة أن يقول المسيح تصرف بغير ما يليق. فكيف يمكن إذاً شرح هذا الأمر؟ بالتأكيد لمنفعة السامعين، فالمسيح أجرى معجزة إقامة لعازر كمثال للقيامة العامة من بين الأموات. فما حدث لشخص واحد هو لعازر، قدمه المسيح كأيقونة جميلة لما ستكون عليه قيامة الجنس البشري كله. وأيضاً فإن أحد عناصر إيماننا ان الرب سيأتي ثانية، ونحن نؤمن أنه عندما يأتي سيكون هناك صوت بوق. كما يقول بولس لينادي بالقيامة للذين يرقدون تحت الأرض، إذ أنه من الواضح أن فعل القيامة سيتحقق بقدرة الله ضابط الكل التي لا ينطق بها.</p>
<p>لأنه أيضاً، لهذا السبب فإن الناموس المعطى بواسطة موسى حينما وضع الترتيبات الخاصة بالاحتفال بعيد المظال، يقول: &#8220;عيدوا بتذكار عيد الأبواق&#8221; (لا ٢٤:٢٣). لأن المظال تشير إلى الأجساد التي ترجع اليها نفوس البشر وذلك حينما تكون هذه الأجساد البشرية على وشك أن تقوم مرة أخرى، وكل هذا يحدث بطريقة لاتزال غير معروفة لنا. فإن الأمر الرباني بالقيامة يصدر أولاً، أما علامة القيامة، فهي الصرخة أي &#8220;بوق الله&#8221;، كما هو مكتوب (انظر ١تس ١٦:٤).</p>
<p>لذلك، كمثال لهذا، حدث في حالة لعازر أن المسيح صرخ بصوت عظيم. وهذا على عكس ما اعتاد عليه. وهذه الصرخة هي لكي يظهر ما هو منتظر أن يحدث في المستقبل.</p>
<p>(يو٤٤:١١): <strong>&#8220;فقال لهم يسوع: حلوه ودعوه يذهب&#8221;.</strong></p>
<p>قال لهم يسوع أن يحلوه بأيديهم، وذلك لأجل خيرهم ولكي لا يكون لديهم سبب للتشكيك في ما قد فعل، بل بالحري يكونون شهوداً للمعجزة إذ أن هذا أيضاً هو مثال للقيامة العامة، حينما سيتم حلنا من الخطية وفساد الموت. ويطلق كل واحد منا حراً. لأننا بسقوطنا في الخطية، قد اتسخنا بعارنا مثل برقع قد غطي نفسنا، وصرنا مربوطين بحبال الموت. لذلك فحينما يخرجنا المسيح من قبورنا في وقت القيامة، فحينئذ حقاً هو يحلنا من خطايانا السابقة، إذ يزيل برقع العار، ويأمرنا أن ننطلق أحراراً من ذلك الوقت فصاعداً، بدون أن نكون تحت سيادة الخطية ولا الخضوع للفساد أو أي شئ من الشرور التي يمكن أن تسبب المعاناة أو الألم، وعندئذ يتحقق فينا ما قيل بواسطة أحد الأنبياء القديسين: &#8220;فتخرجون وتقفزون مثل العجول التي حلت من قيودها&#8221; (ملا ٢:٤).</p>
<p>وأرجوكم أن تلفتوا إلي المعنى الداخلي للمعجزة. لأنه إن كان ذهننا قد مات مثل لعازر، فإن جسدنا المادي ونفسنا التي أسمى من المادة، هما مثل مرثا ومريم على التوالي، فيجب علينا أن نأتي إلي المسيح بإعتراف الإيمان ونتضرع لنوال معونته. وعندئذ فهو سيساندنا ويأمر القساوة الرابضة على ذاكرتنا أن تنزع، ويصرخ بصوت البوق الإنجيلي قائلاً: &#8220;هلموا من ارتباكات العالم&#8221;، فيحل قيود خطايانا لكي ما نستطيع أن نكرس أنفسنا للفضيلة بملء قوتنا.</p>
<h3>عظات آباء وخدام معاصرين ليوم سبت لعازر</h3>
<p>العظة الأولى</p>
<h4><strong>إقامة لعازر من الأموات</strong><strong>- </strong>للمتنيح أنبا أثناسيوس مطران بني سويف والبهنسا<a href="#_ftn18" name="_ftnref18">[18]</a></h4>
<p>انقضت فترة حوالي ثمانية أشهر فيما بين أحاديث وحوادث عید المظال في الإصحاحات من السابع إلى العاشر، وحوادث عيد الفصح التي بدأ هنا وهي الفترة التي أهتم بها إنجيل لوقا من (٩ :٥١ إلى ۱۸: ۳۰).</p>
<p>وليس معروفا بالتحديد أين كان السيد حين مرض لعازر. غير أنه كان خارج حدود اليهودية. وربما في بيت عبرة على نهر الأردن (10: 40). ويرجح أنه مكان يبعد عن أورشليم حوالي عشرين ميلا بقرب مخاضة بيت حجلة الحالية .</p>
<p>أما قوله في (يو 11: 18) وكانت بيت عنيا قريبة من أورشليم نحو خمس عشرة غلوة. فلم يقصد به أنه لم يكن بعيداً عن بيت عنيا لأنه لم يكن في أورشلیم بل قصد به أن المسافة بين المكانين كانت لا تزيد عن ميلين. ولعل ذلك جعل كثيرين من أورشليم يذهبون إلى بيت عنيا ليعزوا مريم ومرثا، ثم تعني أيضا أن قرب بيت عنيا من أورشليم جعل كثيرين من المسافرين من وإلى أورشليم يقفون ويتجمعون حيث وقف السيدعند قبر لعازر.</p>
<p><strong>(يو١١:</strong> <strong>١</strong><strong>-</strong><strong>٦)</strong></p>
<p>كلمة ألعازر تعني: الرب معين. وبيت عنيا تعني: بيت العناء أو الألم، وكانت أسرة لعازر تحوي أليعازر وأختيه مرثا ومريم، وكان الرب ينزل عندهم وكانوا جميعا تلاميذ أخصاء. وقد حدثت عندهم المناقشة حول النصيب الصالح (لو۳۸:۱۰-٤٢) وهناك جلست مريم وسكبت الطيب على السيد (یو ١٢: ١-۸) وما أحلى أن تكون الأسرة محبة للرب ومحبوبة منه بجميع أفرادها كما كانت هذه الأسرة فالكل اتقياء، والكل خدام ومحبون للتضحية وقد كان لعازر أحد السبعين رسولاً.</p>
<p>أرسلت مريم ومرثا إلى الرب وأخبرتاه عن مرض لعازر، وترجيتا أن يصل اليه سريعا ليشفيه من مرضه. أما هو فتأخر ولم يلب طلبهما في الحال، وكان ذلك لمعجزة أعظم بكثير من الشفاء.</p>
<p>فكثيرا مانطلب من الرب أمراً، ولكنه إن لم يلبه اليوم، فأنه يُعِدّ لنا بركة أعظم. هو محب أصلاً، وسميع دائماً، وقدرته وحكمته تظهران لنا في حينهما.</p>
<p>لا شك أن القصة لو وقفت عند الآية السادسة لكان لها وقع غير ما لها الآن. فلقد جاءه خبر مرض حبيبه لعازر، وكان الذي أرسل له الخبر هو الأختان المبارکتان أيضا العزيزتان عليه، وكان هو قادراً على شفاء لعازر، وكان هذا هو المتوقع منه، ولكن لما سمع أنه مريض مکث حينئذ في الموضع الذي كان فيه يومين (آیة ٦)، كم ترى من الحيرة عاناها التلاميذ في فهم الموقف! وكم من الألم وروح العتاب عانت مريم ومرثا! وكم من التشكك فوق الاستغراب عانی القريبون، وكثيرون قالوا أنه كان يجب عليه هذا هو ألا يتأخر، ألسنا نعمل نحن أيضاً هكذا أحياناً، ونُبدی آراء وأفكار يخيل إلينا أنه كان حري بالرب أن يأخذ بها أفضل مما فعل؟!!.</p>
<p>أما حكمته فعميقة، ونظرته فتمتد إلى الأبدية، وجمال القصة لن يظهر إلا بعد اكتمالها.</p>
<p>حين تكلم الرب عن العمل نهاراً، وعن أنه نور العالم، لم يقصد العمل خلال النهار بل العمل في نوره أي تبعيته، وحياة القداسة، والطاعة للوصايا، وقد يظهر السير مع الرب أحياناً غريباً على المنطق، فالرب هنا يذهب إلى اليهودية، بينما كان اليهود يطلبون قتله، ولكن منطقاً أعلى كان يقوده، فالحياة والأوقات معلومة عنده وهي بيده .. وآداء الواجب أمر ضروري، والصعوبات لا تمنع عنه.</p>
<p>سمى الرب الموت &#8220;رقاداً&#8221; (آیة ۱۱) لأن الأجساد ترقد فيه لتقوم في الأبدية. كما سمى القيامة يقظة. ولكن النوم في الخطية هو الرقاد الحقيقي&#8221;استيقظ أيها النائم وقم من بين الأموات فيضي لك المسيح&#8221; لأن السير في الخطية صم للأذنين، وغلق للعينين، وغفلة عن صوت الرب، والموت الحقيقي هو نتيجة الخطية، وهو الموت الأبدي، أما تبعية الرب فهي الحياة الأبدية.</p>
<p>لم يعلق الرب على كلمة توما &#8220;لنذهب لکي نموت معه&#8221;، لأنها عبرت عن تفكير بعيد كل البعد عن فكر الرب، وهي تعبير عن فكرة جسدانية عن الحزن الشديد الذي يفقد صاحبه فيه كل رجاء .</p>
<p><strong>(يو 11: 17- 45</strong><strong>)</strong></p>
<p>كان الرب قد عمل معجزات وآيات كثيرة وسجل الكتاب من بينها آيتين لإقامة اثنين من الراقدين هما: ابن أرملة نايين (لو ٧: 14) وابنة يايرس (٥: 5١، لو ٨ : ٥٤) ولكنهما كانتا في الجليل. ولم يكن تأثيرهما في الناس وبالأخص في أهل اليهودية قوياً لدرجة أن يتوقعوا أن يقيم الرب لعازر، فقد قالت مرثا للرب: &#8220;لو کنت ههنا لم يمت أخي&#8221; (آية ۲۱). وقالت مریم ذات الكلام، وكذلك الجموع قالت: &#8220;ألم يقدر هذا الذي فتح عيني الأعمى أن يجعل هذا أيضاً لا يموت&#8221; (٣٧).</p>
<p>لاشك أن المقابر كانت خارج المدينة، ولما جاء الرب إلى بيت عنيا لم يدخلها بل خرجت مرثا للقائه عند المقابر، ولقد مضي وقت منذ أن وصل الرب إلى أن جاءت مرثا ثم جاءت مريم ومن معها في البيت ثم كثيرون من أهل القرية والمسافرين على الطريق.</p>
<p>جاءت مرثا أولاً للقاء الرب، فبينما نجدها عند استقبالها أياه في البيت مشغولة في أمور البيت ومريم جالسة تستمع لكلامه، نجدها هنا تسرع قبل مريم للقائه. فلم تكن مرثا تهمل الروحيات .</p>
<p><strong>(۳۳-۳۸)</strong><strong> .. </strong>ليس معنی انزعاج الرب بالروح أنه قابل للتغيير، لأن الله فوق التغيرات،.بل كما بينّا مرات، أنه الظهور للبشر بالمفهومات لهم، وكذلك بكاؤه ليس عن ضعف بل عن مشاركة.</p>
<p>كان الرب قد تأخر إلى أن انقضى على موت لعازر أربعة أيام وكان طبعاً قد أنتن. وتجمع عند القبر جمع غفير، ثم قال لهم أن يرفعوا الحجر، ولعل البعض ظنوا أنه يريد أن يدخل إلى القبر ليشاهد لعازر، ولذلك قالت له مرثا أنه قد أنتن أي أنه لا يليق فتح القبر عليه الآن لأن حاله قد صار بلا كرامة. والرب لم يرفع عينيه بالدعاء إلا بعد أن رفعوا الحجر، وحينئذ فقط بدأوا يدركون ما یرید.</p>
<p>صدرت من القبر رائحة كريهة شديدة، أشتمها الجميع وكاد أن يغشى على البعض منهم، وأخذوا يسدون أنوفهم، ويحولون وجوههم إلى ناحية أخرى أو يتراجعون خطوات، وكان الرب في تلك الفترة صامتاً حتى تم رفع الملاط الذي حول الحجر ثم رفع الحجر.</p>
<p>لقد تمت آيتا إقامة موتی قبل ذلك: إقامة ابن أرملة نايين، وابنة بایرس.</p>
<p>أما الأولى فكان الميت محمولاً وفي الطريق إلى القبر. وكانت إقامته مفاجأة مذهلة للناس. ولكن لعل بعضهم بعد ذلك تشككوا في المعجزة وتصوروا أن الشاب لم يكن قد مات وأن القصة كلها كانت تمثيلية مرتبة.</p>
<p>وفي الحالة الثانية كان الجمع يضجون حول الصبية. وكانوا متأكدين أنها قد ماتت. حتى أنهم ضحكوا على الرب حين قال: &#8220;لم تمت الصبية لكنها نائمة&#8221;، غير أنه من المرجح أن يعود الناس فيتشككون في المعجزة ويتصورون أن الصبية لم تكن قد لفظت أنفاسها. وتتصور إحدي السيدات أنها قد رأت عيني الصبية تتحركان، أو أنها وضعت يدها في يدها فأمسكت الميتة بيدها إلى غير ذلك من التصورات خصوصاً وأن السيد أقام الصبية بعد دقائق من موتها.</p>
<p>أما في إقامة لعازر، فلقد مات ودفن أربعة أيام، وصدرت من القبر رائحة قوية جداً، تأكد الجمع أنه لو أن لعازر دفن حياً في هذا القبر مع جثة أخرى لها هذه الرائحة فلقد مات من الوجود معها فلم تكن هناك فرصة للتشكك .</p>
<p>ولذلك كان لإقامة لعازر ضجة كبرى في اليهودية وأورشليم، حتى أن الرؤساء قرروا ليس فقط أن يقتلوا يسوع (٥٠:١١) بل لعازر أيضًا (۱۰:۱۲).</p>
<p>وحين أمر الرب لعازر أن يخرج من القبر وصل هذا الأمر إلى اقصاء الكون، فجاءت الروح وفني الدود، وخلق اللحم جديداً، وامتنعت الرائحة، وحدثت القيامة. لأن الذي أصدر الأمر هو رب الحياة، وله الحق حين قال لمرثا &#8220;أنا هو القيامة والحياة. من آمن بي ولو مات فسيحيا. وكل من كان حياً وآمن بي فلن يموت إلى الأبد&#8221; (٢٥- ۲۹).</p>
<p>والرب ليس يحيي الأجساد فقط بل يعطی الحياة الأبدية، فمن آمن به ولو مات فسيحيا للأبدية المجيدة. وكل من كان حياً في الناموس متمماً إياه وآمن به فأنه يظل حياً بالروح دائماً ولن يعتبر موته الجسدي موتاً.</p>
<p>خرج الميت ويداه ورجلاه مربوطات باللفايف ووجهه ملفوف ايضاً حسب عادة اليهود.</p>
<p>كان لهذه الآية أثر كبير جداً بين الناس فكثيرون آمنوا بالرب (آية ٤٥) والرؤساء أصروا على التخلص منه</p>
<p>قال القديس أفرام السرياني أن لعازر لم يكن قد اعتمد بمعمودية الرب قبل موته، ولكنه بعد قيامته اعتمد على يد يوحنا الانجيلي. وفي نفس اليوم تعمدت القديسة والدة الإله وأختا لعازر، وكان يوم أحد.</p>
<p><strong>(١١</strong><strong>: </strong><strong>٤٦</strong><strong>-</strong><strong>٥٧)</strong></p>
<p>جمع الرؤساء مجمعا وقرروا التخلص من يسوع (آية ٥٧) وكان واضع الاقتراح هو قيافا الرئيس الفعلي للكهنة، وهو زوج ابنة حنان الرئيس السابق الذي كان شيخاً في ذلك الوقت وذهب إليه الذين قبضوا على يسوع من قبيل المجاملة (يو ١٨: ١٢-١٤) وكان هذا الإجتماع برئاسة قيافا قبل الفصح بيومين (مت ٤:٢٦) وعلى الرغم من أن قيافا كان رجلاً قاتلاً إلا أنه تنبأ، وهكذا قد لا تنقطع مواهب الرب عن الذين وهبهم إياها بسبب فسادهم، لأن هذه المواهب هي للخدمة. فحري بنا أن نطمئن إلى إتمام الأسرار المقدسة في الكنيسة وكمال فعلها دون النظر إلى من يمارسها &#8220;لأنه لم يقل هذا عن نفسه بل اذ كان رئيساً للكهنة في تلك السنة تنبأ أن يسوع مزمع أن يموت عن الأمة. وليس عن الأمة فقط بل ليجمع أبناء الله المتفرقين إلى واحد&#8221; (١١: ٥١-٥٢) وقد قال أوريجانس أن بلعام قديماً سبق ونطق الرب على فمه بغير ما أراد (عدد۲۲) فليس غريبا أن ينطق على فم قیافا بنبوة وإن قصد ألفاظها من زاوية ما.</p>
<p>لم يبحث أعضاء المجمع في المعجزة أن كانت تمجد الله أم لا. بل أنهم لم ينكروها ولكنهم بدل أن يؤمنوا قرروا المقاومة، وتصرفوا من موقع مصلحتهم الشخصية، فخافوا أن &#8220;يأتي الرومانيون ويأخذون موضعنا وأمتنا&#8221; والذي يتصرف أنانياً يكثر من الإعتداء على المجتمع والأفراد، فالذين يتخلصون من الأنانية بقوة الرب يفعلون الخير ويعضدون الضعيف ويخدمون بفرح، ولذا جاء فكر هؤلاء الرؤساء منطلقاً من مصلحتهم وذاتيتهم، فقدوا النظر الى الحقيقة، واعتدوا على الحق وقتلوا البرئ وظنوا في ذلك محافظة على الأمة وغيرة على تراثها.</p>
<p>العظة الثانية لآباء وخدام معاصرون - سبت لعازر</p>
<h4><strong>لو كنت ههنا لم تمت نفسي</strong> - للمتنيح الانبا كيرلس مطران ميلانو<a href="#_ftn19" name="_ftnref19">[19]</a></h4>
<p>لوكنت ههنا لم تمت نفسي..</p>
<p>يا الله القدوس .. هوذا السبعة كواكب في يمينك .. والشمس والقمر يتحركان بأصابعك ..</p>
<p>البيت الذي ينفتح لك أنت تدخله، والقلب الذي يطلبك تأتي وتسكنه وشمس برك تشرق عليه.. وشعاع لاهوتك تنهار منه ظلمة الموت .</p>
<p>بيت.. في بيت عنيا.. هو بيت لعازر حبيبك.. بوابة البيت مفتوحة دائما لك وكل أبواب قلوب الساكنين في البيت مفاتيحها سلموها في يدك ..</p>
<p><strong>يا قدوس</strong>..</p>
<p>أنت تستريح في هذا البيت.. لعازر ومريم ومرثا لما عرفوا حلاوة الحياة معك .. أصبحوا سكاناً عندك في مسكنهم الذي لك ..</p>
<p>أنت الشمس الساكنة في هذا البيت.. وبرك هو النور المشرق على قلوب الساكنين فيه ..</p>
<p>غاب شمس البر عن هذا البيت.. ولم رجع صرخت نحوه مريم .. وبكت عند قدميه مرثا ..</p>
<p>إليك يا شمس البر.. صرخت مريم وبكت مرثا.. وأنت يا قدوس.. يا قابل الصلوات النقية.. مددت أشعة نورك.. ومسحت أعينهما المبللة.. وبحرارة محبتك حرقت روح اليأس منهما.. وولد الأمل والرجاء فيهما.</p>
<p><strong>یا مریم.. يا مرثا</strong><strong> :</strong></p>
<p>هل سمعتما عن إقامة طابيثا من الموت فتمسكتما بالمسيح؟!..</p>
<p>هل علمتما انه لمس نعش ابن ارملة نايين.. وبكلمته قام الشاب من الموت؟!..</p>
<p>هل تبعتما المسيح عندما كان يجول يصنع خيراً.. ويشفي كل مرض.. وعرفتم كيف أنقذ نازفة الدم بعدما صارعها المرض للموت؟!..</p>
<p>البيت مقدس.. أساساته حبك.. علوه معرفتك يا قدوس .</p>
<p>البيت مبارك لأن الكل يحبونك.. الكل يحيون بك.. الكل مرتبطون بحضورك عندهم وفيهم .</p>
<p>يا لعازر ويا مريم ويا مرثا.. هل أنتم سكان هذا البيت؟! أم أنتم إنسان واحد فيه نفس وروح وجسد؟!..</p>
<p>يا لعازر.. هل انت النفس في هذا المسكن؟!..</p>
<p>یا مريم.. أيتها الجالسة بروحك عند قدمي المسيح.. هل أنت الروح في هذا البيت؟ !..</p>
<p>يا مرثا.. أيتها المهتمة بخدمة الموائد للمسيح.. هل أنت الجسد في هذا البيت؟!..</p>
<p>هل أنتم واحد؟.. أم أنتم الثلاثة مرتبطون بالواحد في الثالوث؟..</p>
<p>صرختكما.. يا مريم ويا مرثا.. كانت من القلب.. وبها غلبتما قلب المسيح الساكن فيكما ..</p>
<p>أنتما صرختما &#8220;لوكنت ههنا لم يمت أخي&#8221; (يو١١: ٢١)</p>
<p>بدموعه أجابكما قائلاً &#8220;حوِّلي عينيك عني فإنهما قد غلبتاني&#8221; (نش٦: ٥) .</p>
<p>كيف تبكي أنت يا شمس البر؟!.. ولماذا تهطل دموعك الساخنة؟!..</p>
<p>يا من فتش اورشلیم بسراج.. هل أنت تريد أن تحيي النفس والروح والجسد معك؟!..</p>
<p>یا ماسح دموع الباكين.. هل أنت تبكي لأن النفس انفصلت عن الروح والجسد؟!..</p>
<p>في هذا المسكن المبارك.. اتحد الجسد والروح وجلسا يبكيان للمسيح على موت نفس أخيهما لعازر!!..</p>
<p><strong>يا كل الخدام</strong><strong> :</strong></p>
<p><strong>تعالوا</strong> بنا الي قرية بيت عنيا.. لندخل بيت لعازر.. لندخل ولا نقف من الخارج في شوارع القرية.. لنخرج عما هو لا يفيد ولا ينفع &#8230;</p>
<p>هيا بنا نرى الجوهر.. هوذا رب الحياة المعلم الصالح.. دخل في البيت المفتوح له ..</p>
<p><strong>تعالوا</strong>.. نجلس ونتعلم من الخدام (مريم ومرثا) اللتين يبكيان لرب الخدمة من أجل أخيهما المخدوم (لعازر)..</p>
<p>هيا بنا نتساءل هل لعازر هو الخادم الميت؟!.. وهل مريم ومرثا هما اختاه الخادمتان؟!.. ومنهما نتعلم كيف نصلي للمسيح من أجل سلامة اخوتنا؟!..</p>
<p><strong>يا إلهي</strong>.. لم يكن اسمي لعازر.. وأنت تعلم من أنا.. ليس لي أحد يبكي على ضعفاتي.. ليس لي مريم ولا مرثا!!..</p>
<p>أريد أن أسمع &#8220;هلم خارجاً&#8221;.. وبحثت عن مريم عرفت أنها روحي.. وبحثت عن مرثا وجدتها جسدي ..</p>
<p>أقبل صرخة روحي الحبيسة.. وارفع طلبتي من جسدي الثقيل.. واستجب لنفسي التي تتطلب الحياة معك..</p>
<p><strong>رب الحياة يمد ذراعه للموتى</strong><strong> :</strong></p>
<p>يا لعازر.. تعال واصطحب معك ابن أرملة نايين وطابيثا.. دعوني أسألكم ..</p>
<p>عندما ذقتم الموت.. هل عرفتم ما هي الحياة؟..</p>
<p>أخبرونا بعدما فارقتم الحياة!.. هل رجعتم بمعنى آخر للأحياء؟..</p>
<p>أخبرونا.. أنه بعد حياة الغربة الكل يشرب الموت إلى الحياة الأخرى..</p>
<p>وهل يوجد من يشرب كأس الموت وهو على قيد الحياة؟!..</p>
<p>وهل أقامهم المسيح بسلطان لاهوته ؟!..</p>
<p>تكلموا معنا عن الآخرين الذين اقامهم المسيح من موت الخطية ..</p>
<p>ما هذا القبر المتحرك؟!.. وكيف دخل بيت سمعان الفريسي !!&#8230;</p>
<p>لماذا سجد الموت تحت قدمي المسيح رئيس الحياة؟!..</p>
<p>عجيب.. الدموع النقية رفعت النفس الخاطئة وأخرجتها من المقبرة وجعلتها تطفو فوقها ..</p>
<p>رأينا.. الحياة والموت قد التقيا في بيت سمعان.. والتقيا في النفس الخاطئة &#8230;</p>
<p>صرخة صامتة متكررة.. &#8220;لو كنت ههنا لم تمت نفسي&#8221; جعلت رب الحياة يمد ذراعه ويخرجها حية من موت الخطية.. ويسكنها بعيدا عن الرمال.. في بيت جديد.. على صخرة عالية ..</p>
<p>فرحة عظيمة للنفس التي رحلت بالخطية وماتت.. لأنه بالتوبة يرحل عنها الموت وينهزم..</p>
<p>العظة الثالثة لآباء وخدام معاصرون - سبت لعازر</p>
<h4><strong>المعلم قد حضر … وهو يدعوكم</strong> - للقمص انطونيوس راغب<a href="#_ftn20" name="_ftnref20">[20]</a></h4>
<p>إنني أود من أعماق قلبي أن أكون دائماً بجوار المسيح ولكن.. آه.. وتتخذ هذه ال &#8220;آه&#8221; في كل واحد منا صورة معينة ويكون لها سبب خاص، ولكن الذي يتغلب على السبب هو الذي ينجح في أن يتمتع حسنا بعشرة السيد المسيح.</p>
<p>ومن المفيد جداً أن نلاحظ أن هذه الكلمات &#8220;المعلم قد حضر.. وهو يدعوك&#8221;، قد قيلت لنفس لها ميت عزيز لديها جداً، وكان يخيل إليها أن المكان الذي فيه الميت لا يمكن أن يطرقه المسيح لأن الحياة لا تسكن مع الموت ولا النور يقبل أن يشارك الظلمة ولكن الأمل سطع فجأة فى أعماق تلك النفس حين أقبل يسوع وجاءتها البشارة الحلوة: &#8220;إنه حضر&#8230; وهو يدعوها&#8221;.</p>
<p>هذه الكلمة ستقرأها نفوس كثيرة مكسورة الخاطر وحزينة القلب، تنظر إلى الماضي الساطع – القريب أو البعيد – في جلاله الروحي وروعته المقدسة نظرة حسرة عميقة، وتأخذها لذلك مشاعر الألم والضيق، لأن الرب كان هنا في النفس في الأيام القديمة لما كان القلب منسكباً قدامه في الفكر مستريحاً لديه والحياة كلها معطاة له - أما الآن فيبدو أن الرب قد ترك هذا الموضع ونسيه. كما تقرأها نفوس معذبة تجتهد كثيراً في الوصول إلى المستوى الروحي الذي يليق بمسيحيين حقيقيين يعيشون بالبر والتقوى والتعقل في المسيح يسوع. ولكن بينما هم يجتهدون هكذا – إذ بخطية تصدمهم أو ضيقة تلطمهم أو مشاكل تصادفهم فتتعكر النفس التي بدأت أن تصفو وتتأخر الحياة التي أرادت أن تنمو – وهذا وذاك في حيرة وألم يتساءل- ماذا نفعل يا رب؟ أترى يسوع قد تركنا ونسينا؟ أما من علاج لضيقة نفوسنا؟..</p>
<p>أيها الإخوة لا تضطرب قلوبكم ولا تجزع، فإن المعلم حاضر هنا، وهو يدعوكم جميعاً لكي يضع الطمأنينة في قلوبكم وليعلمكم من سبله لكي لا تتعثر خطواتكم، وحتى تستريح وتستقر نفوسكم إذ يقودكم بمحبته الحلوة إلى معرفته الحقيقية.</p>
<p>فأنت يا أخي الحبيب أما تعلم لماذا قد بعدت نفسك عن مراعي السيد ومقادس العلي؟ لعلك إذا فتشت جيداً لوجدت أن مبادئك الروحية الأولى التي استقرت عليها سبل حياتك الحلوة مع المسيح قد شابها التعديل. وقد أدخلت العالم في حساب تلك النفس التي ينبغي أن تكون كلها للمسيح.</p>
<p>لما كنت أكثر حداثة وقوة وفتوة روحية كنت تمنطق ذاتك وتذهب حيث تشاء، فكنت موطد العزم في تلك الأيام الجميلة على أن تذهب حيث تشاء أنت لا حيث يشاء العالم، وإذ قد أحببت المسيح وصارت مشيئتك هي مشيئته فقد كنت مثبتا وجهك للانطلاق إلى أورشليم حيث مقادس الروح ومباهج العلي وما كنت تلتفت يمنة ولا يسرة لمشاغبات العالم لك ولا لاقتراحات الأرضيين أن تخفف من عباداتك أو تقلل من صلواتك أو تعدل من حدة اندفاعك الروحي بل كنت كالسهم المنطلق في حرية سابحا في الجو الروحي، وكنت بذاتك دون تعديلات أو مشورة العالمين تمنطق ذاتكوتشدد العزم في نفسك وتصمم على المضي حيث تشاء روحك الأمينة التي اتحدت بالحب مع مخلصها الصالح الحبيب، ولذلك فما استطاع الضعف حينئذ أن يقربك ولا الضيقة أمكنها أن تنال منك شيئا.</p>
<p>ولكن يا مبارك – لما شخت (علی حسب تعبير الكتاب المقدس) فإنك تمد يديك وآخر يمنطقك ويحملك حيث لا تشاء (يو٢١) وذلك لأنك حين رأيت نفسك شيخاً وقوراً متقدماً في الأيام والخبرة الروحية ضعفت رقابتك على نفسك وبدأت تنظر إلى الناس فأصبحت دون أن تدري مقيداً بهم في أمور عزمك الروحي، ولذلك فهم يمنطقونك ويحملونك حيث لا تشاء، وبدل أن كنت جباراً ذا بأس روحي کشمشون ترعب العدو وتخيفه، صرت ذليلاً کشمشون حين جعلوه يجر الطواحين في بيوت آلهة الفلسطينيين.</p>
<p>فاذكر من أين سقطت وتب واعمل الأعمال الأولى، ولا تقل في نفسك لقد فات الوقت وانقضى زمان الإصلاح ولن يأتى يسوع بعد، ولكن اسمع ما يقوله الكتاب المقدس: &#8220;وقالت صهيون إن إلهي تركني وسیدی نسيني، هل تنسى الأم رضيعها فلا ترحم ابن بطنها – حتى هؤلاء ينسين، أما أنا فلا أنساك. هوذا على كفي نقشتك. أسوارك أمامي دائماً&#8221;.</p>
<p>فتعز وتشتد أيها الحبيب – وحتى لو كان الأمر شديد الخطورة حتى الموت فستسمع الصوت الجميل &#8220;المعلم قد حضر.. وهو يدعوك&#8221; كالأيام الأولى الحلوة التي كان صوته في أذنيك خلالها أحلى من كل نغمات الحياة، وكانت عشرته لك لذيذة أجمل من كل عشرة بشرية.</p>
<p>فحين تقرأ هذه الكلمات فقم عاجلاً ولترتح نفسك من أكل الخرنوب ورعي الخنازير في الغربة عن الآب السماوي، ولا ترض بإدارة الطواحين بيوت الآلهة الغريبة بل انتفض كشمشون، إذ أن الرب يرجع لك قوتك، وستجد أنك بسهولة تغلب أعداءك وتسير في موكب ربوات القديسين الذين تظللهم محبة الآب السماوي – وترعاهم عناية وعشرة يسوع اللذيذة.</p>
<p>وليت نفوساً تقرأ هذا، وتأخذ لنفسها الحذر قبل تفاقم الخطر – فإن لمست في نفسك ميلاً للرجوع إلى الوراء أو إلى مشاركة العالم قليلاً أو إلى تعديل بعض مبادئك الروحية التي قد يهزأ بك العالم بسببها فاعلم وتأكد أنك تسير - دون أن تدري – إلى مواطن الضعف والبعد عن الله، فكثيرًا ما تنخدع النفوس الأمينة لإلهها ببريق التفسيرات الغاشة التي يرددها العالم عن &#8220;العصرية&#8221; و&#8221;الرجل الاجتماعي&#8221; و&#8221;إعطاء ما لقيصر لقيصر&#8221;، كما يحاول الشيطان أن يثنى هذه النفوس بكلمات استنكارية مثل &#8220;هل الدين هو الحزن&#8221; أو &#8220;مكتوب افرحوا كل حين&#8221; وهكذا مردداً بهذا قوله القديم لحواء: &#8220;أحقا قال الله لا تأكلا من الشجرة&#8221;. وقد يؤثر فينا استهزاؤه بنا في أمورنا الروحية، وعباراته التهكمية على سلوكنا الدقيق في طريق المسيح، فكثيراً ما تنخدع النفوس بهذا كله فتحاول تعديل سيرتها المستقيمة وتشكلها قليلاً قليلاً بما قد يرضى العالم - فربما تقل الصلاة وتخفت حدتها، وربما تقل الدموع حتى ينتهى أمرها، وربما لا ينتظم التناول، وربما تندر قراءة الكتاب المقدس – وبعد ذلك ربما يفلت اللسان وتضل العين وتميل الأذن للسمع، وعدونا في هذا كله قديم الأيام فيأخذنا نزولًا من درجة إلى درجة حتى نجد نفوسنا أخيراً في حالة لسنا نريدها، عندما كنت أكثر حداثة في أمورك الروحية كنت تمنطق نفسك وتذهب حيث تشاء أما بعد تعديل أفكارك فإن الشيخوخة تقترب منك فتمد يدك مستسلماً وآخر يمنطقك ويذهب بك حيث لا تشاء.</p>
<p>فاحذر يا حبيب الرب لأن من هو قائم فليحذر أن لا يسقط بل يثبت وجهه للانطلاق المقدس نحو الرب، ومن أدركته عوامل التغيير ورأى في نفسه أن العالم قد دخل في تفكيره فليتيقظ حالاً وليقل في عزم أكيد &#8220;أقوم وأذهب إلى أبي&#8221; وحينئذ سيجد ملائكة المحبة ينتظرونه بفارغ الصبر قائلين &#8220;أين كنت يا حبيب – إننا منذ زمان ننتظرك – لأن المعلم قد حضر وهو يدعوك&#8221; وحين تذهب إليه وتسكب نفسك قدامه وتعترف أنك ضللت وأتيت نادماً سیمسح الله كل دمعة من عينك ويعيد إليك عشرته اللذيذة بصورة حلوة عميقة.</p>
<p>وقد حضر المعلم ويدعوكم أنتم أيضاً يا إخوتي المجتهدين في التقدم في حياتكم الروحية ولكنكم تصطدمون كثيرا بعقبات متنوعة، واعلموا أنه يرعى أمور العصافير الصغيرة وقد قال لنا &#8220;أنتم أفضل من عصافير كثيرة&#8221; فلا تخافوا ولا تفشلوا، لأن إلهنا ينظر بحنو عجيب نحوكم ويمد يده لانتشالكم، وهو يرتب كل أموركم حتى تظل أعينكم مصوبة نحوه دون سواه، فقط ثبتوا عزمكم على أن تعيشوا له وحده، وقولوا &#8220;يا رب نتبعك من كل قلوبنا حيثما تمضي&#8221;، فهو يقودكم إلى مقادس محبته ونعمته.</p>
<p>لا تتعبكم كثرة السنوات التي مضت في الجهاد، ومازال الجسد قويا وشهواته تحاربكم. بل صبراً يا إخوتي. لأنه حيث کثرت الخطية ازدادت النعمة جداً، فقط عيشوا كما يحق لإنجيل المسيح غير ناظرين إلى الوراء، ولا تشتهوا الرجوع للحياة العالمية المُرَّة بل سلموا للرب نفوسكم لأنه هو رجاؤكم وقوتكم والرب بجانبكم لا يمكن أن ينساكم لحظة واحدة، وهو يدربكم لكي تقوى نفوسكم في الجهاد ولكي يعظم انتصارنا بحبيبكم يسوع، وعندما تسقطون أثناء الجهاد فتوبوا حالاً مجددین العزم بنية قوية جديدة لأنه لا ينبغي أن تخيفكم عدد المرات التي فيها سبق أن عزمتم على السير المقدس ولكنكم رجعتم وضعفتم، بل يجب أن تشجعكم وتسبيكم محبة إلهنا الذي في كل مرة من هذه المرات أرسل إليكم صوت محبته عذباً حلواً في آذانكم قائلاً &#8220;لا تخافوا.. أنا معكم&#8221; وفي أعماق ضيقتكم ومرارة قلوبكم قد أرسل الحبيب السماوي من يناديكم قائلا &#8220;المعلم قد حضر وهو يدعوكم&#8221; فتقول متعجباً &#8220;أتدعوني أنا المسكين يا رب!&#8221; فيقول &#8220;تعم أنت يا ولدي تعال إليَّ لأنني جئت من أجل التعابى لأعطيهم راحة&#8221;. فلا نخاف بعد إذاً أيها الإخوة ولا يتسلط علينا عدونا. بل إذا هاجمتنا شهواتنا وضايقتنا نهتف كما قال الكتاب &#8220;لا تشمتي بي یا عدوتي: إن سقطت أقوم&#8221;، لأن إلهنا الحبيب بجانبنا دائماً وهو قوتنا وانتصارنا.</p>
<p>كذلك أنتم يا إخوتي الأحباء الذين سرتم مع الرب زماناً في حياة حلوة رائقة ما أجملها وما أعذبها – ثم حدث ما جعلكم - ترجعون إلى الوراء وتنسجمون مع العالم وتسيرون حسب أهوائه، وبدلاً من أن تكونوا معاول هدم للخطية والشهوات العالمية، ومنارة حلوة مقدسة مضيئة في بيت الرب، صرتم سبب دهش وتعجب من جميع إخوتكم الذين ترجوا فيكم ثمراً حسنا وقدوة مباركة.</p>
<p>فأنتم يا أحباء المسيح لماذا تطول غيبتكم خارج بيت النعمة بينما المعلم لا ينسى أيامكم الحلوة الأولى ومستعد أن يعيدها في بهائها ومجدها، لا تتكلموا عن سبب رجوعكم عن طريق التعمق في التقوى فمهما كان الدافع. فإن محبة ربنا ينبغي أن تكون أقوى منه، فقد يقول واحد إن ظروفه أجبرته على الرجوع، وقد يقول آخر إن الإغراءات العالمية دفعته دفعاً إلى العالم، وقد يئن ثالث قائلاً إن الأشخاص الذين اتخذتهم قدوة روحية كان سقوطهم ورجوعهم سبب  فشله ورجوعه، وقد يرى رابع أمراً آخر ولكن مهما كان السبب يا مباركين من الرب فما ينبغي أبداً أن يكون أقوى من المسيح وحب المسيح وعشرة المسيح.</p>
<p>إن هذه الكلمة موجهة إلى عقولكم الحسنة وقلوبكم المحبة، ففكروا بهدوء جميل في الرب الذي رفضمتوه، والحياة الحلوة التي تركتموها واللذة الروحية العميقة التي بعدتم عنها في ربوات ربوات من الملائكة الذين يتمنون من كل جوارحهم عودتكم إلى عروشكم الأولى المجيدة وإلى مكانتكم الأولى في جماعة المحبوبين من إلهنا، وإلى نوال أكاليلكم الأولى. هيا إذا أيها الإخوة، لا يعطلكم فكر ما، ولا تفشلكم أي صعوبة أو اندماج عالمي، بل الآن&#8230; الآن&#8230; قم واثباً مصمما على تجديد العزم المقدس مع حبيبك يسوع قائلاً في اندفاع وقوة &#8220;ها أنا يا رب قد رجعت إليك مرة أخرى&#8221; فستجد ينابيع الحنو الإلهي والمحبة المقدسة تتدفق نحوك، وقياثير الملائكة أجمعين تنشد ألحان الفرح العميق هاتفة نحوك: &#8220;تعال.. تعال.. یا حبيبنا، فإن المعلم قد حضر منذ زمان طويل وهو يدعوك باشتياق شديد&#8221;، وستجد أن الاختبارات الروحية الحلوة والحياة المقدسة السعيدة تعود إليك في جمال عجيب وكثرة غامرة، وحينئذ لن يعادل فرحك أي فرح ولن تداني سعادتك أي سعادة.</p>
<p>المعلم قد حضر وهو يدعونا أيها الأخوة فتعالوا جميعاً لنذهب إليه في محبة وشوق شديد وابتهاج شامل، وحين نجثو قدامه فليرفع كل واحد منا حواس نفسه مع قلبه وأفكاره إليه قائلاً &#8220;ها أنذا يا رب لأنك دعوتني.. تكلم يا رب فإن عبدك سامع&#8221;.</p>
<p>العظة الرابعة لآباء وخدام معاصرون - سبت لعازر</p>
<h4><strong>إقامة لعازر من الأموات</strong> - عظة للمتنيح القمص لوقا سيداروس<a href="#_ftn21" name="_ftnref21">[21]</a></h4>
<p>كان الرب مزمعاً أن يسلم نفسه للموت عن حياة العالم، فهو مات ليحيينا، وليس على مستوى الجسد فقط، بل ليحي أرواحنا المائته بموت الخطايا ونتن الذنوب، لذلك رتب الرب أن تكون أقامة لعازر من الأموات عربون قيامة لجميع الناس، لقد فتح الرب بإقامة لعازر باب الرجاء لجميع الذين في القبور.</p>
<p>العالم دائماً محتاج شهود للقيامة، وشهادة عن ما بعد الموت تكون أكثر فاعلية من الكتب والعظات والتعاليم ..</p>
<p>وإقامة لعازر ليست عظة ولا تعليم، بل حق ملموس محقق بشهادة جموع واقفة متطلعة، وبشهادة أخت الميت التي شهدت أنه قد أنتن لأن له أربعة أيام،</p>
<p>ما أحوج إيماننا إلى لعازر المقام من الموت، لكى يشهد لنا عن يسوع المسيح الذى يقيم من الأموات، ويحي سكان القبور،</p>
<p>ما أحوجنا اليوم إلى إنسان سترت فيه قوة القيامة، فيحي رجاءنا من جديد، ويجدد ثقتنا بالحياة الأبدية التي في المسيح يسوع ..</p>
<p><strong>يا سيد هوذا الذى تحبة مريض </strong></p>
<p>أرسلت الأختان مريم ومرثا هكذا إلى يسوع، وكان الرب يحب مريم ومرثا ولعازر، وكان بيتهم مكان راحته المختار أيام آلامه. مريم هي التي دهنت الرب بالطيب ومسحت رجليه بشعر رأسها، وكانت تجلس عند قدميه تسمع كلامه. ومرثا الخدومه النشيطة .. الأختان المحبوبتان أرسلتا إلى الرب في مرض أخيهما، صلاة أقرب إلى الأستغاثة وتوسل بدالة الحب في وقت شدة ومرض.</p>
<ul>
<li>ترى هل النفوس المحبوبة هكذا لدى الرب تعانى شدائد وضيقات وأمراض؟!، ليس معنى أننا نحب الرب أو نكون محبوبين عنده أن نُعفى من الضيقات .. ولكن على العكس، محبته لنا تجعله شريك آلامنا &#8220;فى كل ضيقهم تضايق&#8221;، ومحبتنا له تعطينا إحتمال للآلام &#8220;من أجلك نمات كل النهار&#8221;.</li>
<li>التجارب في حياة أولاد الله تكشف بالأكثر عمق حب المسيح من نحونا وتدفعنا للتمسك بمحبته إلى النهاية.</li>
</ul>
<p><strong>صلاة </strong></p>
<p>ياسيدي الرب &#8230; الكنيسة اليوم عوض مرثا ومريم، تتوسل إليك بجميع قديسيك، وترسل إليك من أجلى أنا المريض .. ترتفع صلوات القديسين المحبوبين لديك كل يوم،</p>
<p>مريم اليوم في الكنيسة ممثلة في طغمات العباد والنساك الذين أحبوا الجلوس عند قدميك، وأختاروا النصيب الصالح الذى لن ينزع منهم، سكبوا على قدميك ليس فقط طيب هذا العالم، بل سكبوا شبابهم ومالهم كله .. ومسحوا رجليك بشعر رؤوسهم وكرامتهم،</p>
<p>ومرثا اليوم في الكنيسة هي خدامك العاملين بالكلمة والتعابى بالجهد في الليل والنهار في ميدان العمل في كنيستك وخدمة كرمك، والفعله العاملين بالعرق الذين يزرعون بالدموع كل يوم.</p>
<ul>
<li>أمراض الجسد يسهل أمرها يا سيدي، ولكن مرضي هو مرض الروح .. أنا مريض بالخطية، وفى خطر الموت .. وأنت تحبنى إذ أسلمت ذاتك عني، وأنت محب العشارين والخطاة ..</li>
</ul>
<p>والكنيسة اليوم تصلي إليك ياسيدي: &#8220;هوذا الذى تحبه مريض&#8221;، أرحمني.</p>
<p><strong>فمكث يسوع في الموضع الذى كان فيه يومين </strong></p>
<p>قد تتأخر إستجابة الصلاة .. وقد يبدوا أن الرب يسوع لا يعنيه أمرنا .. لأن لعازر مات، وعلى حد تعبير الأختيين: &#8220;لو كنت ههنا لم يمت أخي&#8221;، ولكن كثيراً ما يكون هدفنا محصوراً في حدود ضيقة، وفى منافع شخصية، فطلبة الأختين محصورة في شفاء لعازر المريض، أما هدف الرب فكان:</p>
<p><strong>أولاً</strong>: مجد الآب .. هذا المرض ليس للموت، بل لأجل مجد الله &#8230; ألم أقل لك إن آمنت ترينا مجد الله&#8221; .. إذن الرب يسوع المسيح يدبر الوقت الذى يتناسب مع مجد الله .. لكي يظهر بمجده في وقت مناسب في ضيقتنا.</p>
<p><strong>ثانياً</strong>: كان هدف الرب زيادة الإيمان .. من جهة إيمان التلاميذ &#8220;أنا أفرح من أجلكم أنى لم أكن هناك لتؤمنوا&#8221;، فالرب يسوع يحول دفةالأمور كلها لزيادة إيماننا، ويجعل كل الأمور تعمل معاً للخير للذين يحبون الله.</p>
<p><strong>ثالثاً</strong>: الرب يسوع كان يهدف لإعلان قوة القيامة التي لنا في شخصه، ويحطم أمام عيوننا سلطان الموت ورعبة القبر.</p>
<p><strong>لعازر هلم خارجاً </strong></p>
<p>كلمة قالها الرب بعد أن دحرجوا الحجر، وفاحت من القبر رائحة النتن، ولكن رب الحياة وسيد القيامة قالها فخرج الميت وهو مربوط الرجلين واليدين، ووجهه ملفوف بمنديل .. آه .. من يا سيدي يدرك قدرة كلمتك ويبقى في الموت، كلمة واحدة تخرج من فمك تحيي في الحال مهما  كان الإنسان قد أنتن في قبر شهواته ونجاساته  &#8220;أخرج من الحبس نفسي&#8221;.</p>
<p><strong>حلوه ودعوه يذهب </strong></p>
<ul>
<li>ربى .. أنا هو لعازر الجديد، أنا الميت ..</li>
<li>رباط الخطية يلف أعضائى وأنا مُسجَّى في قبر شهواتي، عيناي أنطفأ عنهما نور الحياة، وظلمة الباطل أطبقتا على عقلي،</li>
</ul>
<p>التصق لسانى بحنكي، وكفت شفتاي عن النطق بحقك، أنسد حلقي بكلمات الأثم، وشهادة الزور أطبقت على صدري، توقف قلبي عن أن ينبض بحبك، وتورمت جدرانه بالحقد والعداوة، كليتاي تحجرتا برواسب الشهوة وسموم الملذات.</p>
<p>إذا أبت أحشائي شلت يميني عن الرحمة، وتصلبت رجلاي عن مسيرة السلامة.</p>
<p>وجهي مستور عنك بمنديل قبائحي، ونتن أعضائي ينطبع فوق أقماط كرامتي،</p>
<p>ربي .. إن كان لموتي رجاء في بكاء .. هكذا رجائي.</p>
<ul>
<li>ولكن بكاءك على لعازر هو يكفيني، بل ذاك معتمدي .. يا من دمعت عينيك على حبيب ميت، أنا ليس لي مرثا ولا مريم، أنا اليوم ميتك فأبكيني .. أتوسل إليك بحبك وحنانك أوعز إلى ملائكتك أن: &#8220;حلوه ودعوه يذهب&#8221;.</li>
</ul>
<p>العظة الخامسة لآباء وخدام معاصرون - سبت لعازر</p>
<h4><strong>إقامة لعازر الميت </strong>– المتنيح القمص لوقا سيداروس<a href="#_ftn22" name="_ftnref22">[22]</a></h4>
<p>ولكن فاق كل حدود العقل ما فعله مع لعازر الميت شقيق مريم ومرثا. وقد كان هؤلاء بالنسبة لنا كخاصة.. لقد تعودنا أن نمكث عندهم في صحبة يسوع. وسمعنا في بيتهم من فمه أعز التعاليم  وأغلى الوصايا. معهم تمتعنا بأوقات سماوية بعيداً عن الزحام الذي  عانينا منه كثيراً.</p>
<p>فلما سمعنا عن لعازر حبيبنا أنه قد مات، دخل الحزن قلوبنا وتأسفنا أننا كنا بعيداً، وتمنينا لو أننا كنا هناك في مرضه فكان يسوع يشفيه.</p>
<p>ولكن هذا حال الدنيا!!</p>
<p>ولما سمع يسوع أنه مات مكث في الموضع الذي كان فيه يومين.. يا  إلهي لماذا تأخر؟ ولماذا لم يقم لساعته ويذهب إلى بيت عنيا؟ فإن لم  يقم لعازر فعلى الأقل يقف بجوار مريم ومرثا ليعزيهما. لم نسأل</p>
<p>لماذا؟ ولم يجرؤ أحد أن يقول هل نسيت؟</p>
<p>ثم بعد اليومين قال: لنذهب إلى اليهودية.. تبعناه.. فلما جئنا إلى بيت عنيا كان اليوم الرابع لموت لعازر .</p>
<p>كان قلبنا يخفق ونحن نقترب من المنزل وذكريات السنين والأيام تتوارد على خواطرنا ومنظر لعازر الحبيب اللطيف وحبه وإتضاعه  وكلماته الحلوة ترن في أسماعنا.</p>
<p>بدا كل واحد منا متجهماً حزيناً..</p>
<p>ولكني نظرت إلى يسوع.. ترى ماذا يدور في فكره.. لا أحد  يعرف..</p>
<p>تذكرت ابنة يايروس والشاب الميت.. والأموات الكثيرين الذين أقامهم. قلت في نفسی.. ولكن هذا هو اليوم الرابع.. فهل فات  الأوان؟</p>
<p>كان شعوري الداخلي تتجاذبه حقيقة ما رأيت مدى ثلاث سنوات كاملات ومن جهة أخرى أن أربعة أيام مضت على موت لعازر، شيء كثير.</p>
<p>خبر وصولنا مع يسوع سرى في القرية بسرعة البرق وما هي إلا لحظات حتى أتت مرثا تجري نحو يسوع باكية بكاء ينفذ إلى أعماق النفس بأسي وحزن..</p>
<p>وبدالة خرت عند قدمي يسوع بحق الحب الذي خصهم يسوع به كبيت راحته. كانت دموعها تجري كالنهر وكلماتها تتكرر وتدور حول عبارة واحدة تحمل ثقة في شخص يسوع &#8220;يا سيد ، لو كنت ههنا لم يمت أخي ! &#8220;.</p>
<p>ثبات يسوع كان رهيباً، بوجهه المشرق الذي لا يعرف الكدر وملامحه السلامية التي لا تهتز لمواقف.. مد يده أقام مرثا من التراب.</p>
<p>وقال لها بصوته الحنون: &#8220;سيقوم أخوك&#8221;. انذهلنا لما سمعنا القول !!</p>
<p>كيف.. إنه أربعة أيام.. قالت مرثا وهي تعتصر ألماً وتسكب دمعها السخين: &#8220;أنا أعلم أنه يقوم في القيامة، في اليوم الأخير &#8220;..</p>
<p>استكثرت ما قاله يسوع أن يحدث. إنه المستحيل.. هل يقوم من سكن القبر أربعة أيام وتهرأت أوصاله وجسده كله قد أنتن؟!</p>
<p>أخذت كلام يسوع ككلام الناس الذي يصبر أهل الميت، كلنا مائتون وفي يوم القيامة سنقوم.</p>
<p>لم يكن هذا قصد المسيح.. فهو الحق ذاته وكلامه لا يحتمل التأويل.</p>
<p>قال: &#8220;سيقوم أخوك&#8221; وهو يعلم ما هو صانع وما هو متكلم به، إنه الحق كل الحق.</p>
<p>قال يسوع لمرثا: &#8220;أنا هو القيامة&#8221;..</p>
<p>أحسسنا أن هذه الكلمة سرت فينا كقوة حياة..</p>
<p>لا يستطيع بشر أن يقول: أنا هو القيامة. قالها ليس كلام شفتين ولكن أشار إلى ذاته قائلاً لها: &#8220;إن آمنت ترين مجد الله&#8221;.</p>
<p>ثم فاجأها بالسؤال: &#8220;أتؤمنين بهذا؟&#8221; قالت وهی مرتجفة وساجدة: &#8220;نعم يا سيد. أنا قد آمن أنك أنت المسيح ابن الله، الآتي إلى العالم&#8221;.</p>
<p>كان المسيح قد أعادها إلى ثقة الإيمان.. والإيمان بالمسيح هو صانع المعجزات.</p>
<p>ذهبت مرثا مسرعة ونحن لم نزل واقفين.</p>
<p>ثم بعد فترة وجيزة لمحنا مريم الأخت الهادئة تلميذة قدمي يسوع ومحبة لكلامه المحيي، هذه التي اختارت النصيب الصالح.</p>
<p>جاءت في وداعتها المعهودة ووقارها.. سجدت وهي صامتة.. الدموع تجري على خديها ولا تصدر صوتاً .. صامتة محبة للصمت حتى في حزنها. كررت في مسامع الرب كلمات اختها بالتمام: &#8220;يا سيد، لو كنت ههنا لم يمت أخي!&#8221;.</p>
<p>تحركت أحشاء يسوع عند رؤية محبيه في محنة الموت.. لم أره في حياتي التي عشتها معه هكذا..</p>
<p>قال بصوت حنون: &#8220;أين وضعتموه؟&#8221;..</p>
<p>قادوه إلي حيث كان القبر.</p>
<p>التفت إليه وهالني منظره بالحق.. الدموع تترقرق في عينيه.. منظر مذهل حقاً.. يا إلهي نفسي ذابت عندما تطلعت إلي عينيه الدامعتين..</p>
<p>تھامس اليهود حولنا يقولون: &#8220;انظروا كيف كان يحبه!&#8221;..</p>
<p>إنها دموع الحب الذي لم يعرفه بشر من قبل.</p>
<p>ثم همست إحدى المعزيات في أذن الأخرى قائلة: &#8221; ألم يقدر هذا الذي فتح عيني الأعمى أن يجعل هذا أيضاً لا يموت؟&#8221;.</p>
<p>فردت عليها الأخرى قائلة.. لقد سمعت أنه أقام أمواتاً ولكن هذا له أربعة أيام.</p>
<p>وصلنا إلى القبر لأنه لم يكن بعيداً.. مئات الأمتار خارج القرية.</p>
<p>منظر القبر هو نهاية المطاف.. النهاية المحتومة على كل بشر. عندها تسكن حركة الإنسان، بل ووجود الإنسان كلية.</p>
<p>وقف يسوع تجاه القبر.. كنا نتطلع إليه وعيوننا متعلقة به شاخصة إليه.. نسينا الموت وغاب عن نظري منظر القبر..</p>
<p>وقفة يسوع أمامه سحبت قلوبنا وأبصارنا. لا أحد منا يفهم أو يتوقع ما يحدث..</p>
<p>أفكاره بعيدة عن فكرنا وطرقه أعلى من السماء.</p>
<p>نظر إلينا نحن الرسل.. كنا الرجال الوحيدين والبقية نسوة أتين لمريم ومرثا..</p>
<p>قال لنا: &#8220;ارفعوا الحجر!&#8221;.</p>
<p>تحركنا بدون تفكير ولا سؤال ولا معارضة ولا استفسار.. الحجر ضخم.. ولكن نحن رجال .. تقدمنا ندحرج الحجر.. كانت قوة عظيمة تسندنا.</p>
<p>وما أن دحرجنا الحجر حتی غشی الجو رائحة نتن رهيبة منبعثة من القبر ..</p>
<p>آه نتن الإنسان لا يطاق.. تأفف الجميع وشاحوا بوجوههم وكثيرون لم يطيقوا شدة الرائحة الكريهة ابتعدوا قليلاً وآخرون وضعوا أيديهم على أنوفهم على أن بعضاً منهم تحرجوا أن يفعلوا شيئاً تسمروا في أماكنهم .</p>
<p>ولكن فكر الجميع كان لماذا كل هذا؟ ولكن لم يتكلم أحد.</p>
<p>فقط مرثا كانت تقول: &#8220;يا سيد، قد أنتن&#8221;.. يا سيدي فات الأوان .. وتأخرت علينا.. ودموعها تغلبها.</p>
<p>ولكن يسوع كرر لها عبارته الخالدة.. ألم أقل لك &#8220;إن آمنت ترين مجد الله&#8221;.</p>
<p>لما دحرجنا الحجر.. وصار القبر مفتوحاً. تقدم يسوع ورفع يديه وعينيه نحو السماء يخاطب الآب على مرأى ومسمع منا..</p>
<p>يا إلهي .. إن كلماته حفرت داخل قلبي لا تفارق مسمعي، ظلت ترن في أذني مدى حياتي.. &#8220;ولكن لأجل هذا الجمع الواقف قلت، ليؤمنوا أنك أرسلتني&#8221;.</p>
<p>كل من كان يفكر في الموت ولعازر والقبر لم يع هذا الكلام وكأنه لم يسمع.</p>
<p>إذاً كل هذا كان لنؤمن به.. ثم على غير توقع منا صرخ بصوت عظيم: &#8220;لعازر، هلم خارجاً!&#8221;..</p>
<p>فهو وديع جداً ومتواضع جداً.. ماذا حدث إذاً؟</p>
<p>لقد كان في مواجهة أكبر عدو للإنسان.. الموت. فلما صرخ بهذا الصوت العظيم تزلزلت أساسات الموت.. ارتعنا أيما ارتياع.. أجسادنا اهتزت وارتعشت والبعض وقع على الأرض.</p>
<p>خرج الميت مربوطاً بالأكفان وملفوفاً بها. خرج كما هو ميتاً مربوطاً.</p>
<p>قال يسوع لنا: &#8220;حلوه ودعوه يذهب&#8221;.</p>
<p>اقتربنا نحل الرباطات..</p>
<p>قام لعازر. لم نصدق أعيننا.. انتهت كل ملامح الموت في لحظة. ذهب النتن، دبت الحياة، قام لعازر في ملء قوته. شيء مفرح يذهب بالقلب إلى السماء.</p>
<p>أصاب الناس شيء من الفرح الطاغي والذهول ..لا أستطيع أن أصف مشاعر الناس، بل وإيمان الناس..</p>
<p>من لا يؤمن بابن الله الذي يقيم الموتى من القبور يحرم نفسه بنفسه من الحياة.</p>
<p>آمنا أن المسيح هو القيامة والحياة.. آمنا أنه يقيم الموتی ويحييهم بسلطانه الإلهي..</p>
<p>آمنا أن من آمن به ولو مات فسيحيا.</p>
<hr />
<p><a href="#_ftnref1" name="_ftn1">[1]</a> ذكصولوجية سبت لعازر.</p>
<p><a href="#_ftnref2" name="_ftn2">[2]</a> تفسير سفر الحكمة- اصحاح  ١٢ –  القمص تادرس يعقوب ملطي.</p>
<p><a href="#_ftnref3" name="_ftn3">[3]</a> تفسير إنجيل يوحنا - إصحاح ١١ -  القمص تادرس يعقوب ملطي.</p>
<p><a href="#_ftnref4" name="_ftn4">[4]</a> كتاب البصخة المُقدَّسة - جزء أول ص ٨٣ - أبونا أثناسيوس المقاري.</p>
<p><a href="#_ftnref5" name="_ftn5">[5]</a> كتاب دراسة منهجية للقراءات الليتورجية للكنيسة القبطية - ص١٩٢  م. فؤاد نجيب يوسف.</p>
<p><a href="#_ftnref6" name="_ftn6">[6]</a> القديس كيرلس الأسكندري - تفسير صفنيا إصحاح ٣ - القمص تادرس يعقوب ملطي.</p>
<p><a href="#_ftnref7" name="_ftn7">[7]</a> كتاب البصخة المُقدَّسة -  جزء أول ص ٨٤ - أبونا أثناسيوس المقاري.</p>
<p><a href="#_ftnref8" name="_ftn8">[8]</a> تفسير سفر أعمال الرسل - اصحاح ٢٨ - القمص تادرس يعقوب ملطي.</p>
<p><a href="#_ftnref9" name="_ftn9">[9]</a> كتاب البصخة المُقدَّسة -  جزء أول ص ٨٩ - أبونا أثناسيوس المقاري.</p>
<p><a href="#_ftnref10" name="_ftn10">[10]</a> تفسير إنجيل يوحنا – إصحاح ١١ -  القمص تادرس يعقوب ملطي.</p>
<p><a href="#_ftnref11" name="_ftn11">[11]</a> دراسة منهجية للقراءات الليتورجية للكنيسة القبطية - ص ١٩١ -  مهندس: فؤاد نجيب يوسف.</p>
<p><a href="#_ftnref12" name="_ftn12">[12]</a> دراسة منهجية للقراءات الليتورجية للكنيسة القبطية - ص 198 -  مهندس: فؤاد نجيب يوسف.</p>
<p><a href="#_ftnref13" name="_ftn13">[13]</a> Elowsky, J.C. &amp; Oden, T.C. ( 2007 ). John 11 - 21 (The Ancient Christian Commentary on Scripture,New Testament part IVB ). Illinois (U.S.A): InterVarsity Press. Pages 7 – 23. ترجمة الأخت : إيفيت منير - كنيسة مار مرقس ببني سويف</p>
<p><a href="#_ftnref14" name="_ftn14">[14]</a>  الكتاب الشهري للشباب والخدام - عددي يناير وفبراير ٢٠١١ - ترجمة المركز الأرثوذكسي للدراسات الآبائية وإصدار بيت التكريس لخدمة الكرازة.</p>
<p><a href="#_ftnref15" name="_ftn15">[15]</a>  تفسير مراثي أرميا الإصحاح الثاني - القمص تادرس يعقوب ملطي.</p>
<p><a href="#_ftnref16" name="_ftn16">[16]</a> تفسير إنجيل يوحنا - إصحاح ١١ - القمص تادرس يعقوب ملطي.</p>
<p><a href="#_ftnref17" name="_ftn17">[17]</a> كتاب شرح إنجيل يوحنا للقديس كيرلس الأسكندري - صفحة ٤٥ - ترجمة دكتور نصحي عبد الشهيد وآخرون.</p>
<p><a href="#_ftnref18" name="_ftn18">[18]</a> تفسير إنجيل يوحنا - صفحة ١٨١ - الأنبا أثناسيوس مطران بني سويف والبهنسا.</p>
<p><a href="#_ftnref19" name="_ftn19">[19]</a>  كتاب شفتاك يا عروس تقطران شهداً - الجزء الثاني - صفحة ٢٤٨: ٢٥١ – دير الانبا شنودة رئيس المتوحدين العامر بميلانو.</p>
<p><a href="#_ftnref20" name="_ftn20">[20]</a>  مجلة مدارس الاحد - عدد مارس لسنة 2007.</p>
<p><a href="#_ftnref21" name="_ftn21">[21]</a>  كتاب تأملات روحية في أناجيل آحاد السنة القبطية - صفحة ٤٧٨ - القمص لوقا سيداروس - كنيسة مار جرجس سبورتنج.</p>
<p><a href="#_ftnref22" name="_ftn22">[22]</a>  كتاب القديس بطرس الرسول يعلمني - صفحة 47 – القمص لوقا سيداروس.</p>

      {% endcreateArticleAccordions %}
    </section>
  {% endblock %}
