---
layout: 'layouts/reading.html'
title: 'نظرة تحليلية في قراءات الصوم الكبير'
tags: 'great-lent'
permalink: /articles/great-lent/71.html
---
  {% block content %}
    <section id="article">
      <h3 class="mt-8 mb-4 heading-explain">شرح القراءات</h3>
      {% createArticleAccordions %}
        <h3><strong>قراءات</strong> <strong>النبوّات</strong></h3>
<ul>
<li>
<h5><strong>سفر</strong><strong> إ</strong><strong>شعياء</strong></h5>
</li>
</ul>
<p>وأكثر الإقتباسات من سفر إشعياء  (٣٥ مرة ) الذي يبدأ مع أول يوم في الاصحاح الأول معاتباً الآب فيه شعبه، كبنين تمرّدوا عليه، وفي جمعة ختام الصوم إصحاح (ص٦٦) معزّياً شعبه بغني المراحم، وفيض السلام وزمن الإفتقاد الإلهي.</p>
<p>وكأن سفر إشعياء يحكي قصّة الخلاص:</p>
<ul>
<li>متدرجاً من سقوط كل البشرية في العصيان &#8220;كل رأس للوجع&#8221; (ص١)</li>
<li>ومطمئناً شعبه و معلناً سبب السقوط المستمر و الفساد المتفشّي، &#8220;غلظ قلب هذا الشعب&#8221; (ص٦)</li>
<li>ومعزّيهم في منتصف السفر &#8220;عزوا عزوا شعبي&#8221; (ص٤٠)</li>
<li>ومعلناً إفتقاده للبشريّة &#8220;أفيض روحي على ذريتك&#8221; (ص٤٤)</li>
<li>وإعلان نورخلاصه لكل الأمم &#8220;هوذا قد جعلتك عهداً لشعبي نوراً للأمم لتكون خلاصاً إلى أقاصي الأرض&#8221;</li>
<li>وفرحة البشرية كلّها بخلاصه العجيب &#8220;افرحوا مع أورشليم وعيدوا فيها و ابتهجوا معها يا جميع محبيها افرحوا فرحاً ياجميع النائحين عليها&#8221; (ص٦٦)<a href="#_ftn1" name="_ftnref1">[1]</a></li>
</ul>
<ul>
<li>
<h5><strong>سفر</strong> <strong>أيّوب</strong></h5>
</li>
</ul>
<p>جاءت منه ٢٣ إقتباس حوالي نصف السفر، ويحكي قصّة أيّوب رجل الألم ومختبر الحزن، كرمز لحمل الله في أوجاعه التي إحتملها بصبر عجيب، وجروحه من أحباؤه ونهاية التجربة بإفتقاد الله لأيوب، ودحض الشيطان، وشفاعته في أصحابه، ونسل جديد وبركات مضاعفة.</p>
<h4><strong>الأسفار</strong> <strong>الخمس</strong> <strong>الأولى</strong></h4>
<p>جاءت منها ١٩ إقتباس تحكي قصّة البشريّة في إحتياجها للخلاص.</p>
<ul>
<li>
<h5><strong>سفر</strong> <strong>التكوين</strong></h5>
<p>(يوم الإثنين والثلاثاء والخميس من الإسبوع الرابع والجمعة في الإسبوع السادس والسابع).</li>
</ul>
<p>والملفت للدراسة والإنتباه، مجئ قصّة يعقوب وعيسو في الثلاث أيّام للإسبوع الرابع، للتأكيد على برّ الآب في الإختيار، والدعوة وإنسجامها مع موضوع الإسبوع &#8220;برّ الآب&#8221; وهو موضوع الأحد الرابع وقبول الله الآب للإبن الضال.</p>
<p>كما أن النصّ الخاص بجمعة الأسبوع السادس، يرجع للوراء ليحكي قصٌة ذبح إسحق كرمز لموت المسيح وقيامته، وهو موضوع قراءات هذا اليوم (المعمودية وموت المسيح وقيامته).</p>
<p>أمّا النص الخاص بالإسبوع السابع وجمعة ختام الصوم، فهو يحكي نهاية حياة يوسف، ووعد الله لشعبه بالإفتقاد والخلاص من أرض العبوديّة، والموافق أيضاً لموضوع قراءات ختام الصوم .</p>
<ul>
<li>
<h5><strong>سفر</strong> <strong>الخروج</strong></h5>
</li>
</ul>
<p>(يوم الإثنين في الإسبوع الأول والثاني يوم الأربعاء في الأسابيع الثاني والثالث والرابع والخامس والسادس).</p>
<p>ويقدّم الأب القمص كيرلس عبد المسيح حنا رؤية عميقة لقراءات سفر الخروج في الصوم الكبير: [قراءات الخروج تبدأ مع الإثنين الأول (خر٢: ٢٣) وتنتهى قراءته المتتابعة (خر ١٢: ٤) في الساعة الحادية عشر من يوم الجمعة العظيمة، وهى قراءة خبر الضربة العاشرة والأخيرة التي ذبح وقتها خروف الفصح، وهى الساعة التي يُقرأ فيها إنجيل يوحنا &#8220;لأنهم رأوه قد مات ولكن واحداً من العسكر طعن جنبه بحربه وللوقت خرج منه دم وماء&#8221; (يو١٩: ٣٣– ٣٤) وذلك إمعاناً في استيضاح الظل على الأصل، والرمز على الحق، الفصح الرمزي على الفصح الحقيقي، هذا من الناحية التاريخية، أما من ناحية صورة هذه الأمور في إنساننا الداخل، فإن الارتحال الفصحي بالصوم الأربعيني لن يتكمل إلا في شركة وحب صليب ربنا يسوع المسيح له المجد]<a href="#_ftn2" name="_ftnref2">[2]</a></p>
<p><strong>والملفت</strong> <strong>أيضاً</strong> <strong>للنظر</strong>، مجئ نصوص سفر الخروج خمس مرّات يوم الأربعاء بالذات لموافقة موضوع هذا اليوم. (عطايا وتدبير الله لشعبه - كما سيأتي لاحقاً) لما جاء في هذه النصوص عن قصّة تدبير الله لخلاص شعبه من العبودية.</p>
<ul>
<li>
<h5><strong>سفر</strong> <strong>العدد  </strong>يحكي  حضور الله الدائم وسط شعبه (الثلاثاء من الإسبوع الخامس).</h5>
</li>
</ul>
<ul>
<li>
<h5><strong>سفر</strong> <strong>التثنية</strong></h5>
</li>
<li>
<h5>(الجمعة من الأسابيع الأول والثاني والثالث والرابع والخامس بالإضافة للخميس من الإسبوع الثاني).</h5>
</li>
</ul>
<p>تشترك كل هذه النصوص في فكرة واحدة وهى تذكير الله لشعبه بخروجهم من أرض مصر، ورعايته لهم في بريّة العالم، وحضوره وسط شعبه.</p>
<p>(<strong>وأيضاً</strong> <strong>ممّا</strong> <strong>هو</strong> <strong>جدير</strong> <strong>بالذكر</strong> <strong>وعجيب</strong>، مجئ معظم هذه النصوص يوم الجمعة، لأن يوم الجمعة في قراءات الصوم، يتكلّم عن كنيسة العهد الجديد، والكنيسة كمبنى ومعنى – وهذا سيُوضح لاحقاً).</p>
<h5><strong>سفر</strong> <strong>الأمثال (الأمثال </strong>١٨)</h5>
<p>نصوص هذا السفر من الإصحاحات واحد إلى إثني عشر، وثلاث منها في الأسبوع الثالث وبداية من الأسبوع الخامس تجئ يومياً من الإثنين للجمعة، وتحكي قصة الحكمة ابن الله الكلمة، وإرتباط التوبة بالحكمة، والخطيّة بالجهالة، وأهميّة الإلتصاق بالوصيّة الالهية.</p>
<h5><strong>سفر</strong> <strong>يوئيل</strong> (٤)</h5>
<p>يأتي سفر يوئيل في يوم الأربعاء من الأسابيع الأول والثالث والرابع والخامس.</p>
<p>وتتدرج نبوّات هذه الأسابيع من دعوة كل الشعب للتوبة، وتقديس الصوم (الأسبوع الأول)، إلى إعلان الله لخلاصه لشعبه (الأسبوع الثالث)، إلى فيض الروح على كل المؤمنين في ملء الزمان (الأسبوع الرابع)، إلى دينونة الشعوب ونهاية العالم (الأسبوع الخامس).</p>
<p><strong>والعجيب</strong> <strong>أيضاً</strong> أن سفر يوئيل هو سفر عمل الله في شعبه، لذلك تأتي كل نبؤاته يوم الأربعاء لأن هذا هو موضوع قراءات يوم الأربعاء في كل الصوم.</p>
<h5><strong>سفر</strong> <strong>زكريا</strong> (٢)</h5>
<p>جاءت نبوءتان من سفر زكريا من الإصحاح الثامن تحكيان إشراقة الحكم والعدل (الثلاثاء من الأسبوع الأول)، والحق والسلام (الخميس من الأسبوع الأول).</p>
<h5><strong>سفر</strong> <strong>دانيال</strong> (٢)</h5>
<p>جاءت قصّتان من سفر دانيال تحكيان أمانة إنسان الله، وخلاص الله له من الموت، وشهادة الملك ببرّ دانيال، وهو موضوع قراءات الأسبوع الرابع.</p>
<h5><strong>سفر</strong> <strong>صموئيل</strong> <strong>الأول</strong> (٢)</h5>
<p>جاءت قصّتان لداوُد النبي تحكيان خلاصه من جليات الجبّار ومن شاول الملك وجيشه.</p>
<ul>
<li>في الجمعة من الأسبوع الثاني تعلن عمق الإيمان،</li>
<li>والجمعة من الأسبوع الثالث تعلن النصرة الالهية للضعفاء.</li>
</ul>
<h5><strong>سفر</strong> <strong>الملوك</strong> (٢)</h5>
<p>جاءت قصّتان لإيليا النبي وإليشع النبي، والقصتان تحكيان النجاة والخلاص من الموت.</p>
<ul>
<li>يمكن أن نرى في الخمس أسفار الأولي إحتياج التوبة بعد سقوط الإنسان.</li>
<li>وفي سفر أشعياء خلاص التوبة وتدبير الفداء.</li>
<li>وفي سفر أيّوب حروب التوبة وتجاربها.</li>
<li>وفي سفر الأمثال نور التوبة.</li>
<li>وفي سفر يوئيل توبة الكنيسة والشعب.</li>
<li>وفِي أسفار صموئيل والملوك ودانيال وزكريّا أمانة وإيمان التوبة.</li>
</ul>
<h4><strong>المزامير في <a href="https://katameros.bible/church-reading/%d9%85%d9%88%d8%b6%d9%88%d8%b9-%d9%82%d8%b1%d8%a7%d8%a1%d8%a7%d8%aa-%d8%a7%d9%84%d8%b5%d9%88%d9%85-%d8%a7%d9%84%d9%83%d8%a8%d9%8a%d8%b1/">قراءات أيّام الصوم الكبير</a></strong></h4>
<p><strong>المزامير بصفة عامّة</strong> تعبّر عن مشاعر النفس تجاه الله خالقها ومُخلّصها، ومدبّر حياتها وحصنها ورجائها، وتعبّر أيضاً عن تدبير الله في الشعوب، وغناه وخلاصه للكنيسة المقدّسة، وعمله الالهي في كل إنسان في تنوّع ظروفه وإشتياقاته وإمكانياته وضعفاته وإحتياجاته.</p>
<p><strong>والمُلاحظ في إختيار قراءات المزامير</strong> هو تكرار إختيار مزمور باكر والقدّاس لنفس اليوم من نفس المزمور (١٦ مرّة)، وقد جاءت هكذا في كل أيّام الأسبوع الثالث وكل أيّام الأسبوع الرابع (ما عدا الخميس).</p>
<p><strong>كما يُلاحظ تكرار إختيار قراءات</strong> من مزمور بعينه لمناسبة موضوعة لموضوع الأسبوع كما حدث مع مزمور ٨٥ ، الذي جاءت الآيات منه سبع مرّات من العشرة في الأسبوع الخامس.</p>
<p><strong>كما يُلاحظ أيضاً</strong> تغيّر نغمة مزامير باكر والقدّاس لأيّام الجُمع على مدار أسابيع الصوم، فيَغْلُب عليها نغمة الفرح والتسبيح وتمجيد الله، لأنّها نغمة الكنيسة التي تركّز عليها كل قراءات أيام الجُمع في الصوم.</p>
<ul>
<li>أعظمك يا رب لأنك احتضتني، يبتهج قلبي بخلاصك (مزمور باكر والقدّاس للجمعة من الأسبوع الأول).</li>
<li>الرب يعطي شعبه قوة، الرب يبارك شعبه بالسلام (مزمور القدّاس للجمعة من الأسبوع الثاني).</li>
<li>قد عرفتني طرق الحياة، قلت للرب أنت ربي (مزمور باكر والقدّاس للجمعة من الأسبوع الثالث).</li>
<li>مبارك الرب الاله، إذ أبتهل إليك وإذ أرفع يديّ إليّ هيكل قدسك (مزمور باكر والقدّاس للجمعة من الأسبوع الرابع).</li>
<li>ويمجدون اسمك لأنك أنت عظيم، أعترف لك من كل قلبي. (مزمور باكر والقدّاس للجمعة من الأسبوع الخامس).</li>
<li>تسمعني سروراً وفرحاً فتبتهج العظام المتواضعة، تقدموا إليه واستنيروا (مزمور باكر والقدّاس للجمعة من الأسبوع السادس).</li>
<li>هللوا للرب يا كل الأرض سبحوا وهللوا ورتلوا، الجبال تبتهج أمام وجه الرب (مزمور باكر والقدّاس للجمعة من الأسبوع السابع).</li>
</ul>
<h4><strong>مزامير الأسبوع الأوّل</strong></h4>
<p><strong>صلاة ومشاعر البنين</strong> &#8220;لأني ابن وحيد وفقير أنا&#8221; (مزمور قدّاس يوم الثلاثاء)</p>
<p>الذين يتذكّرون مراحم الله الثابتة لهم &#8220;أذكر يارب رأفاتك ومراحمك فإنها ثابتة منذ الأبد&#8221; (مزمور باكر يوم الأربعاء)</p>
<p><strong>ولعلّ قراءات مزامير هذا الأسبوع</strong> تتوافق مع موضوع الأسبوع الأوّل وهو أبوّة الآب لأولاده وصورة أبناء الله.</p>
<p><strong>تكرّر مزمور ٢٤</strong> (حسب الترجمة القبطيّة) ثلاث مرّات في قراءات هذا الأسبوع وهذا المزمور يلخّص غفران الآب والمحبّة الأبديّة لأولاده.<a href="#_ftn3" name="_ftnref3">[3]</a></p>
<p><strong>كما أن هذا المزمور</strong> هو مزمور الصلاة والتضرّع، ومايجب أن نصلي لأجله ومواعيد الله الثمينة فيه وثقتنا في مراحمه الإلهية.<a href="#_ftn4" name="_ftnref4">[4]</a></p>
<p><strong>وكأن القراءات توجّهنا</strong> لقراءة هذا المزمور كما تأتي باقي آيات مزامير هذا الأسبوع لتؤكد نفس المعنى.</p>
<h5><strong>مزامير الأسبوع الثاني</strong></h5>
<p><strong>يُلاحظ في قراءات مزامير هذا الأسبوع</strong> تركيزها على العطاء للفقير، وأحشاء الرحمة، وفِي نفس الوقت فرح النفس بالله ملكها ومصدر غناها (الكنز السماوي)</p>
<p><strong>جاء مزموري باكر والقدّاس</strong> ليوم الثلاثاء من نفس المزمور ٤٠ (حسب الترجمة القبطيّة)<br />
وهو مزمور &#8220;البركات المخزونة للإنسان الرحوم الرؤوف&#8221;<a href="#_ftn5" name="_ftnref5">[5]</a></p>
<p>وهو أيضاً مزمور &#8220;الإنسان المُطوَّب، يطوّب الإنسان الذي ينظر إلى المسكين، والذي يعلن حبه للمسكين بكونه أخًا للسيد المسيح، موضوع اهتمام الله وحبه &#8221; &#8220;طوبى<br />
لمن يتفهم في أمر المسكين والفقير&#8221; (مزمور قدّاس يوم الثلاثاء)<a href="#_ftn6" name="_ftnref6">[6]</a></p>
<p><strong>كما جاء مزموري باكر والقدّاس</strong> ليوم الأربعاء من نفس المزمور ١٧ (حسب الترجمة القبطيّة) وهو مزمور مسّياني ملوكي (الملك المسيا) أخذ فيه الإنسان نعمة الملوكيّة &#8220;أحبك يا رب يا قوتي&#8221; (مزمور القدّاس ليوم الأربعاء)<a href="#_ftn7" name="_ftnref7">[7]</a></p>
<p><strong>أي أنّه مزمور</strong> تتغنّى فيه النفس بملكها وموضوع حبّها، معنى هذا أن إختيار المزمورين ٤٠، ١٧ (حسب الترجمة القبطيّة) يعلنان غنى النفس بإلهها (الكنز السماوي) وغنى العطاء للفقير كعلامة على غنى الداخل وهو موضوع قراءات الأسبوع الثاني.</p>
<h5><strong>مزامير الأسبوع الثالث</strong></h5>
<p><strong>العجيب في مزامير هذا الأسبوع</strong> هو أن مزامير باكر والقدّاس لكل يوم من نفس المزمور.</p>
<p><strong>فمزموري باكر والقدّاس</strong> ليومي الإثنين والثلاثاء من مزمور ٣١ (حسب الترجمة القبطيّة) وهو مزمور الغفران الكامل لأولاد الله في المسيح، وتكرَّر التطويب للرجل الذي لا يحسب له الرب خطيئة.</p>
<p><strong>في مزمور باكر يوم الإثنين</strong> ومزمور القدّاس ليوم الثلاثاء معلناً كمال نقاوتنا في المسيح قائد موكب نصرتنا كقول الأب بروكلس من القسطنطينية: [وكيف تشير المصابيح التي تمسكونها بأيديكم إلى استنارة النفس، وكيف يرفع داود صوته إليكم مترنمًا بأغنية النصرة: &#8220;طوباهم الذين غفرت لهم آثامهم، الذين سترت خطاياهم.]<a href="#_ftn8" name="_ftnref8">[8]</a></p>
<p><strong>كما أن مجئ مزموري باكر والقدّاس</strong> ليوم الخميس من مزمور ٩، وهو مزمور يعلن فيه الرب دينونة الشعوب.</p>
<p>فكما أن مزامير الإثنين والثلاثاء تفتح باب الخلاص بالتوبة، فمزموري باكر والقدّاس ليوم الخميس يحذّران من أن الله لا يترك الدماء، وكما أنّه يعطينا النصرة بالتوبة فهو أيضاً يدين المسكونة بالعدل (مزمور القدّاس ليوم الخميس).</p>
<h5><strong>مزامير الأسبوع الرابع</strong></h5>
<p><strong>أيضاً مزامير هذا الأسبوع</strong> يأتي فيها مزمور باكر والقدّاس لكل يوم (عدا الخميس) من نفس المزمور.</p>
<p>فيوم الإثنين يأتي فيه مزموري باكر والقدّاس من مزمور ٥٤ (حسب الترجمة القبطيّة)، وهو المزمور الذي كتبه داود النبي عند ثورة أبشالوم عليه. &#8220;الأبن الضال&#8221;. الذي هو أيضاً موضوع قراءات هذا الأسبوع، والعجيب أن هذا المزمور أيضاً يتنبأ عن يهوذا الخائن.<a href="#_ftn9" name="_ftnref9">[9]</a></p>
<p><strong>لذا يأتي مزمور باكر</strong> ليوم الثلاثاء لتتمسّك النفس ببرّ الله وعدله - استمع يا الله عدلي (بري)<a href="#_ftn10" name="_ftnref10">[10]</a></p>
<p><strong>وهو ما تتغنّى به النفس والكنيسة</strong> كلّها في مزمور قدّاس يوم الخميس &#8220;يمينك مملوءة عدلاً فليفرح جبل صهيون ولتتهلّل بنات اليهودية&#8221; برّ الله وأحكامه موضوع قراءات الأسبوع الرابع.</p>
<h5><strong>مزامير الأسبوع الخامس</strong></h5>
<p><strong>يأتي مزمور ٨٥</strong> (حسب الترجمة القبطيّة) في مزامير قراءات هذا الأسبوع سبع مرّات، ولأن هذا المزمور يتميّز باستخدام لقب إلهي: &#8220;أدوناي&#8221; الرب في مخاطبة الله سبع مرّات.<a href="#_ftn11" name="_ftnref11">[11]</a></p>
<p>فكأن القراءات تدفعنا لقراءة هذا المزمور الذي يُسْتَعلن فيه إسم الرب، وتنتسب فيه النفس لله،</p>
<p>كما كان يتغنى الشعب اليهودي بهذا المزمور في (اليوم الكبير) بكونه يوم الكفارة العظيم عن الشعب كله، كما عن كل مؤمنٍ.<a href="#_ftn12" name="_ftnref12">[12]</a></p>
<p>وهو أيضاً موضوع قراءات هذا الأسبوع الذي يتكلم عن إستعلان ابن الله.</p>
<h5><strong>مزاميرالأسبوع السادس</strong></h5>
<p><strong>مزامير هذا الإسبوع</strong> هى مزامير الكنيسة التي يُسْتَعلن فيها مسيح الحياة والفرح.</p>
<p>&#8220;يارافعي من أبواب الموت لكيما أخبر بجميع تسابيحك في أبواب ابنة صهيون&#8221; (مزمور باكر والقدّاس ليوم الخميس)</p>
<p>وأيضاً &#8220;رتبوا للرب الساكن في صهيون واخبروا في الأمم بأعماله&#8221; (مزمور قدّاس يوم الأربعاء).</p>
<p><strong>فكما أن رسالة الكنيسة</strong> هى نقل الحياة في المسيح لأولادها، وأن يعيش المؤمنون فيها مجد التسبيح، وهو ماتعلنه مزامير هذا الأسبوع.</p>
<h5><strong>مزامير الأسبوع السابع</strong></h5>
<p><strong>مزامير الأسبوع السابع يَغْلُب عليها</strong> الفرح والتسبيح، والتطهير الكامل والنجاة، ليس فقط لكل نفس بل أيضاً لكل الشعوب والأمم.</p>
<p>&#8220;افرحوا أيها الصديقون بالرب وابتهجوا وافتخروا ياجميع مستقيمي القلوب، وقد نجيت نفسي من الجحيم السفلي&#8221; (مزمور باكر والقدّاس ليوم الإثنين).</p>
<p>&#8220;وتغسلني كثيراً من اثمي ومن خطيئتي تطهرني&#8221; (مزمور القدّاس ليومي الثلاثاء والأربعاء).</p>
<p>&#8220;فرحت بالقائلين لي إليّ بيت الرب نذهب&#8221; (مزمور قدّاس يوم الخميس).</p>
<h4><span>تشابه</span><span> </span><span>قراءات</span><span> </span><span>مزامير</span><span> </span><span>الصوم</span><span> </span><span>مع</span><span> </span><span>تسبحة</span><span> </span><span>الهوس</span><span> </span><span>الكبير</span><span> </span><span>للصوم</span><span> </span><span>المقدس</span><span> </span></h4>
<p><span>( </span><span>١)</span><span>&#8221; </span><span>طوباهم</span><span> </span><span>الذين</span><span> </span><span>تركت</span><span> </span><span>لهم</span><span> </span><span>آثامهم</span><span> : </span><span>والذين</span><span> </span><span>سترت</span><span> </span><span>خطاياهم</span><span> : </span><span>طوبي</span><span> </span><span>للرجل</span><span> </span><span>الذي</span><span> </span><span>لم</span><span> </span><span>يحسب</span><span> </span><span>له</span><span> </span><span>الرب</span><span> </span><span>خطيئة</span><span> </span><span>،</span><span> </span><span>ولا</span><span> </span><span>في</span><span> </span><span>فمه</span><span> </span><span>غش</span><span> &#8221; (</span><span>مز</span><span> </span><span>٣٢</span><span> : </span><span>١</span><span> </span><span>،</span><span> </span><span>٢)</span><span> </span></p>
<p><span>القطعة</span><span> </span><span>السادسة</span><span> </span><span>من</span><span> </span><span>تسبحة</span><span> </span><span>الهوس</span><span> </span><span>الكبير</span><span> </span><span>للصوم</span><span> </span><span>المقدس</span><span> </span></p>
<p><span>وجاءت</span><span> </span><span>أيضاً</span><span> </span><span>في</span><span> </span><span>مزمور</span><span> </span><span>باكر</span><span> </span><span>يوم</span><span> </span><span>الإثنين</span><span> </span><span>من</span><span> </span><span>الإسبوع</span><span> </span><span>الثالث</span><span> </span><span>من</span><span> </span><span>الصوم</span><span> </span><span>،</span><span> </span><span>مزمور</span><span> </span><span>قدَّاس</span><span> </span><span>يوم</span><span> </span><span>السبت</span><span> </span><span>الملازم</span><span> </span><span>لأحد</span><span> </span><span>المولود</span><span> </span><span>أعمي</span></p>
<p><span>جاءت</span><span> </span><span>آية</span><span> </span><span>٢</span><span> </span><span>أيضاً</span><span> </span><span>في</span><span> </span><span>مزمور</span><span> </span><span>قدَّاس</span><span> </span><span>يوم</span><span> </span><span>الثلاثاء</span><span> </span><span>للإسبوع</span><span> </span><span>الثالث</span><span> </span><span>من</span><span> </span><span>الصوم</span></p>
<p><span>( </span><span>٢</span><span> ) &#8221; </span><span>اعبدوا</span><span> </span><span>الرب</span><span> </span><span>بالفرح</span><span> : </span><span>ادخلوا</span><span> </span><span>أمامه</span><span> </span><span>بالتهليل</span><span> : </span><span>اعلموا</span><span> </span><span>أن</span><span> </span><span>الرب</span><span> </span><span>هو</span><span> </span><span>إلهنا</span><span> : </span><span>هو</span><span> </span><span>صنعنا</span><span> </span><span>وليس</span><span> </span><span>نحن</span><span> : </span><span>ونحن</span><span> </span><span>شعبه</span><span> </span><span>وغنم</span><span> </span><span>رعيته</span><span> &#8221; (</span><span>مز</span><span> </span><span>١٠٠</span><span> : </span><span>٢</span><span> </span><span>،</span><span> </span><span>٣)</span></p>
<p><span>القطعة</span><span> </span><span>الثامنة</span><span> </span><span>من</span><span> </span><span>تسبحة</span><span> </span><span>الهوس</span><span> </span><span>الكبير</span><span> </span><span>للصوم</span><span> </span><span>المقدس</span><span> </span></p>
<p><span>وجاءت</span><span> </span><span>أيضاً</span><span> </span><span>في</span><span> </span><span>مزمور</span><span> </span><span>باكر</span><span> </span><span>أحد</span><span> </span><span>الرفاع</span></p>
<p><span>( </span><span>٣</span><span> ) &#8221; </span><span>ارحمني</span><span> </span><span>يا</span><span> </span><span>الله</span><span> </span><span>ثم</span><span> </span><span>ارحمني</span><span> : </span><span>فإن</span><span> </span><span>نفسي</span><span> </span><span>توكلت</span><span> </span><span>عليك</span><span> : </span><span>وبظل</span><span> </span><span>جناحيك</span><span> </span><span>اتكل</span><span> : </span><span>إلي</span><span> </span><span>أن</span><span> </span><span>يعبر</span><span> </span><span>الاثم</span><span> &#8221; (</span><span>مز</span><span> </span><span>٥٧</span><span> : </span><span>١)</span></p>
<p><span>القطعة</span><span> </span><span>التاسعة</span><span> </span><span>من</span><span> </span><span>تسبحة</span><span> </span><span>الهوس</span><span> </span><span>الكبير</span><span> </span><span>للصوم</span><span> </span><span>المقدس</span><span> </span></p>
<p><span>وجاءت</span><span> </span><span>أيضاً</span><span> </span><span>في</span><span> </span><span>مزمور</span><span> </span><span>باكر</span><span> </span><span>أحد</span><span> </span><span>التجربة</span><span> </span><span>،</span><span> </span><span>مزمور</span><span> </span><span>باكر</span><span> </span><span>يوم</span><span> </span><span>الأربعاء</span><span> </span><span>للإسبوع</span><span> </span><span>السابع</span><span> </span><span>من</span><span> </span><span>الصوم</span></p>
<p><span>( </span><span>٤)</span><span>&#8221; </span><span>طلبت</span><span> </span><span>وجهك</span><span> </span><span>ولوجهك</span><span> </span><span>يارب</span><span> </span><span>التمس</span><span> : </span><span>لا</span><span> </span><span>تصرف</span><span> </span><span>وجهك</span><span> </span><span>عني</span><span> </span><span>ولا</span><span> </span><span>تمل</span><span> </span><span>بالرجز</span><span> </span><span>علي</span><span> </span><span>عبدك</span><span> : </span><span>كن</span><span> </span><span>لي</span><span> </span><span>معيناً</span><span> </span><span>لا</span><span> </span><span>تقصني</span><span> </span><span>ولا</span><span> </span><span>ترفضني</span><span> </span><span>يا</span><span> </span><span>الله </span><span>مخلصي</span><span> : </span><span>فإن</span><span> </span><span>أبي</span><span> </span><span>وأمي</span><span> </span><span>قد</span><span> </span><span>تركاني</span><span> </span><span>وأما</span><span> </span><span>الرب</span><span> </span><span>فقبلني</span><span> &#8221; (</span><span>مز</span><span> </span><span>٢٧</span><span> : </span><span>٨</span><span> - </span><span>١٠)</span></p>
<p><span>القطعة</span><span> </span><span>العاشرة</span><span> </span><span>من</span><span> </span><span>تسبحة</span><span> </span><span>الهوس</span><span> </span><span>الكبير</span><span> </span><span>للصوم</span><span> </span><span>المقدس</span><span> </span></p>
<p><span>وجاءت</span><span> </span><span>أيضاً</span><span> </span><span>في</span><span> </span><span>مزمور</span><span> </span><span>قدَّاس</span><span> </span><span>أحد</span><span> </span><span>التجربة</span></p>
<p><span>( </span><span>٥</span><span> ) &#8221; </span><span>أسبح</span><span> </span><span>وأرتل</span><span> </span><span>للرب</span><span> : </span><span>إستمع</span><span> </span><span>يارب</span><span> </span><span>صوتي</span><span> </span><span>الذي</span><span> </span><span>به</span><span> </span><span>دعوتك</span><span> : </span><span>ارحمني</span><span> </span><span>واستجب</span><span> </span><span>لي</span><span> : </span><span>فإن</span><span> </span><span>لك</span><span> </span><span>قال</span><span> </span><span>قلبي</span><span> &#8221; (</span><span>مز</span><span> </span><span>٢٧</span><span> : </span><span>٦</span><span> - </span><span>٨)</span></p>
<p><span>القطعة</span><span> </span><span>الثانية</span><span> </span><span>عشر</span><span> </span><span>من</span><span> </span><span>تسبحة</span><span> </span><span>الهوس</span><span> </span><span>الكبير</span><span> </span><span>للصوم</span><span> </span><span>المقدس</span><span> </span></p>
<p><span>وجاءت</span><span> </span><span>أيضاً</span><span> </span><span>في</span><span> </span><span>مزمور</span><span> </span><span>قدَّاس</span><span> </span><span>يوم</span><span> </span><span>الأربعاء</span><span> </span><span>للإسبوع</span><span> </span><span>الثالث</span><span> </span><span>من</span><span> </span><span>الصوم</span><span> </span><span>،</span><span> </span><span>ومزمور</span><span> </span><span>قدَّاس</span><span> </span><span>السبت</span><span> </span><span>الملازم</span><span> </span><span>لأحد</span><span> </span><span>الابن</span><span> </span><span>الضال</span></p>
<p><span>( </span><span>٦</span><span> ) &#8221; </span><span>إستمع</span><span> </span><span>يا</span><span> </span><span>الله</span><span> </span><span>طلبتي</span><span> : </span><span>اصغ</span><span> </span><span>إلي</span><span> </span><span>صلاتي</span><span> : </span><span>لأنك</span><span> </span><span>أنت</span><span> </span><span>يا</span><span> </span><span>الله</span><span> </span><span>استمعت</span><span> </span><span>صلواتي</span><span> : </span><span>أعطيت</span><span> </span><span>ميراثاً</span><span> </span><span>للذين</span><span> </span><span>يرهبون</span><span> </span><span>إسمك</span><span> &#8221; (</span><span>مز</span><span> </span><span>٦١</span><span> : </span><span>١-</span><span>٦)</span></p>
<p><span>القطعة</span><span> </span><span>الثالثة</span><span> </span><span>عشر</span><span> </span><span>من</span><span> </span><span>تسبحة</span><span> </span><span>الهوس</span><span> </span><span>الكبير</span><span> </span><span>للصوم</span><span> </span><span>المقدس</span><span> </span></p>
<p><span>وجاءت</span><span> </span><span>أيضاً</span><span> </span><span>في</span><span> </span><span>مزمور</span><span> </span><span>قدَّاس</span><span> </span><span>يوم</span><span> </span><span>السبت</span><span> </span><span>الملازم</span><span> </span><span>لأحد</span><span> </span><span>السامرية</span></p>
<p><span>( </span><span>٧</span><span> ) &#8221; </span><span>خلص</span><span> </span><span>عبدك</span><span> </span><span>يا</span><span> </span><span>إلهي</span><span> </span><span>المتكل</span><span> </span><span>عليك</span><span> : </span><span>ارحمني</span><span> </span><span>يارب</span><span> </span><span>فإني</span><span> </span><span>صرخت</span><span> </span><span>إليك</span><span> </span><span>النهار</span><span> </span><span>كله</span><span> : </span></p>
<p><span>فرح</span><span> </span><span>نفس</span><span> </span><span>عبدك</span><span> : </span><span>فإني</span><span> </span><span>رفعت</span><span> </span><span>نفسي</span><span> </span><span>إليك</span><span> </span><span>يارب</span><span> : </span><span>لأنك</span><span> </span><span>أنت</span><span> </span><span>يارب</span><span> </span><span>صالح</span><span> &#8221; (</span><span>مز٨٦</span><span> : </span><span>٢</span><span> - </span><span>٥)</span></p>
<p><span>القطعة</span><span> </span><span>الرابعة</span><span> </span><span>عشر</span><span> </span><span>من</span><span> </span><span>تسبحة</span><span> </span><span>الهوس</span><span> </span><span>الكبير</span><span> </span><span>للصوم</span><span> </span><span>المقدس</span><span> </span></p>
<p><span>وجاءت</span><span> </span><span>أيضاً</span><span> </span><span>في</span><span> </span><span>مزمور</span><span> </span><span>قدَّاس</span><span> </span><span>يوم</span><span> </span><span>الإثنين</span><span> </span><span>،</span><span> </span><span>ومزمور</span><span> </span><span>باكر</span><span> </span><span>يوم</span><span> </span><span>الثلاثاء</span><span> </span><span>للإسبوع</span><span> </span><span>الخامس</span><span> </span><span>من</span><span> </span><span>الصوم</span></p>
<p><span>( </span><span>٨</span><span> ) &#8221; </span><span>يارب</span><span> </span><span>خلص</span><span> </span><span>شعبك</span><span> </span><span>،</span><span> </span><span>بارك</span><span> </span><span>ميراثك</span><span> </span><span>،</span><span> </span><span>إرعهم</span><span> </span><span>وإرفعهم</span><span> </span><span>إلي</span><span> </span><span>الأبد</span><span> &#8221; (</span><span>مز</span><span> </span><span>٢٨</span><span> : </span><span>٩)</span></p>
<p><span>القطعة</span><span> </span><span>الواحد</span><span> </span><span>والعشرون</span><span> </span><span>من</span><span> </span><span>تسبحة</span><span> </span><span>الهوس</span><span> </span><span>الكبير</span><span> </span><span>للصوم</span><span> </span><span>المقدس</span><span>  </span><span>وجاءت</span><span> </span><span>أيضاً</span><span> </span><span>في</span><span> </span><span>مزمور</span><span> </span><span>باكر</span><span> </span><span>يوم</span><span> </span><span>الخميس</span><span> </span><span>للإسبوع</span><span> </span><span>الثاني</span><span> </span><span>من</span><span> </span><span>الصوم</span></p>
<h4><strong>قراءات البولس والكاثوليكون والإبركسيس</strong></h4>
<p><strong><u>البولس</u></strong></p>
<ul>
<li><strong>     رسالة رومية</strong></li>
</ul>
<p>قراءات البولس يأتي أكثر من ثلثها من رسالة رومية (ثماني عشر من تسعه وأربعون) والحديث يتركّز علي برّ الإيمان وغني النعمة التي يسكبها الروح علي كنيسة العهد الجديد والأمم التي تقبل الإيمان وبرّ الآب المجاني للشعوب:</p>
<table style="height: 592px;" width="420">
<tbody>
<tr>
<td width="185">(رو ١: ٢٦)، (رو ٢: ١-٧)</td>
<td width="170">أثنين الأسبوع الأول</td>
</tr>
<tr>
<td width="185">(رو ٩: ١٥-٢٩)</td>
<td width="170">ثلاثاء الأسبوع الأول</td>
</tr>
<tr>
<td width="185">(رو ١٤: ١٩)، (رو ١٥: ١-٧)</td>
<td width="170">أربعاء الأسبوع الأول</td>
</tr>
<tr>
<td width="185">(رو ١٢: ٦- ٢١)</td>
<td width="170">جمعة الأسبوع الأول</td>
</tr>
<tr>
<td width="185">(رو ١٢)</td>
<td width="170">السبت الملازم لأحد الكنوز</td>
</tr>
<tr>
<td width="185">(رو ١٣)</td>
<td width="170">أحد الكنوز</td>
</tr>
<tr>
<td width="185">(رو ١: ١٨- ٢٥)</td>
<td width="170">أثنين الأسبوع الثاني</td>
</tr>
<tr>
<td width="185">(رو ٣: ١- ١٨)</td>
<td width="170">أربعاء الأسبوع الثاني</td>
</tr>
<tr>
<td width="185">(رو ١٦: ١٧- ٣٣)</td>
<td width="170">خميس الأسبوع الثاني</td>
</tr>
<tr>
<td width="185">(رو ١٤: ١-١٨)</td>
<td width="170">السبت الملازم لأحد التجربة</td>
</tr>
<tr>
<td width="185">(رو ١٤: ١٩) ،(رو ١٥: ١-٧)</td>
<td width="170">أحد التجربة</td>
</tr>
<tr>
<td width="185">(رو ٤: ١-٨)</td>
<td width="170">ثلاثاء الأسبوع الثالث</td>
</tr>
<tr>
<td width="185">(رو ٤: ٦-١١)</td>
<td width="170">خميس الأسبوع الثالث</td>
</tr>
<tr>
<td width="185">(رو ٨: ١٢-٢٦)</td>
<td width="170">أثنين الأسبوع الرابع</td>
</tr>
<tr>
<td width="185">(رو ٤: ١٤ ، ٥: ١-٥)</td>
<td width="170">أربعاء الأسبوع الخامس</td>
</tr>
<tr>
<td width="185">(رو ٢: ١٢-٢٤)</td>
<td width="170">أربعاء الأسبوع السادس</td>
</tr>
<tr>
<td width="185">(رو ١٤: ١٠-الخ، ١٥: ١، ٢)</td>
<td width="170">أثنين الأسبوع السابع</td>
</tr>
<tr>
<td width="185">(رو ١٠: ٤-١٣)</td>
<td width="170">أربعاء الأسبوع السابع</td>
</tr>
</tbody>
</table>
<p><strong>(1) إرتباط رسالة رومية بالأسبوع الأول</strong></p>
<p><strong>جاء البولس</strong> كثيرا من رسالة رومية في الإسبوع الأوّل (أربع مرّات) للتركيز علي مراحم الله الغنيّة وبرّه المجاني لكل التائبين كمدخل لعمق التوبة موضوع قراءات الصوم كلّه.</p>
<ul>
<li>إثنين الأسبوع الأول &#8220;ولا تعلم ان لطف الله إنما يقتادك الي التوبة&#8221;.</li>
<li>ثلاثاء الأسبوع الأول &#8220;ولكي يبين غنى مجده على آنية الرحمة التي سبق فهيأها للمجد&#8221;.</li>
<li>أربعاء الأسبوع الأول &#8220;اقبلوا بعضكم بعضاً كما قبلكم المسيح لمجد الله&#8221;.</li>
<li>جمعة الأسبوع الأول &#8220;بحسب مقدار النعمة المعطاة لنا&#8221;.</li>
</ul>
<p><strong>(٢) إرتباط رسالة رومية بسبت وأحد الكنوز والتجربة</strong></p>
<p><strong>جاء البولس</strong> في سبوت وآحاد الكنوز والتجربة من رسالة رومية.</p>
<ul>
<li><strong>في السبت الملازم</strong> لأحد الكنوز من رومية ١٢ كلّه وفي أحد الكنوز من رومية ١٣ كلّه للإشارة إلى أهمّية التغيّر الدائم عن شكل العالم وطرح أعمال الظلمة.</li>
<li>البولس للسبت الملازم لأحد الكنوز (رو١٢: ٢) &#8220;ولا تشاكلوا هذا الدهر بل تغيروا عن شكلكم بتجديد أذهانكم&#8221;.</li>
<li>البولس لأحد الكنوز (رو١٢:١٣) &#8220;فلنخلع عنا أعمال الظلمة ونلبس أسلحة النور&#8221;.</li>
<li><strong>في السبت الملازم</strong> لأحد التجربة من رومية ١٤ ويكمل الإصحاح مع آيات من رومية ١٥ في أحد التجربة ليؤكد علي جوهر الصوم قبولنا بعضنا بعضا وإنشغالنا بما هو لسلام وبنيان الآخرين أهم وأعظم من شكل الصوم وما نأكله أو لا نأكله.</li>
<li>البولس للسبت الملازم لأحد التجربة (رو ١٥:١٤) &#8220;إن كنت تحزن أخاك من أجل طعام فلست تسلك بحسب المحبّة&#8221;.</li>
<li>البولس لأحد التجربة (رو ١٩:١٤)&#8221;فلنتبع ما هو للسلام وما هو لبنيان بعضنا لبعض لا تنقض عمل الله لأجل الطعام&#8221;.</li>
</ul>
<p><strong>(٣) إرتباط رسالة رومية بيوم الأربعاء على مدار الصوم كلّه</strong></p>
<p><strong>جاء البولس من رسالة رومية</strong> في أربعاء الأسبوع الأول والثاني والخامس والسادس والسابع للتأكيد على غنى النعمة لكنيسة العهد الجديد، موضوع قراءات يوم الأربعاء بصفة عامة.</p>
<ol>
<li>البولس لأربعاء الأسبوع الأول (رو ٧:١٥)&#8221;كما قبلكم المسيح لمجد الله&#8221;.</li>
<li>البولس لأربعاء الأسبوع الثاني (رو ٥ :٣)&#8221;ولكن إن كان إثمنا يثبت بر الله فماذا نقول&#8221;.</li>
<li>البولس لأربعاء الأسبوع الثالث (رو ١٦:٤) &#8220;ليكون على سبيل النعمة ليكون الموعد وطيدا لجميع النسل&#8221;.</li>
<li>البولس لأربعاء الأسبوع الرابع (رو ١٣:٢)&#8221;ليس السامعون للناموس هم أبرار عند الله بل العاملون بالناموس هم يبررون&#8221;.</li>
</ol>
<ul>
<li><strong> رسالة كورنثوس</strong></li>
</ul>
<p><strong>(١) إرتباط الرسالة بيوم الخميس</strong></p>
<p>يأتي البولس ثلاث مرّات من الرسالة الأولي إلى كورنثوس في يوم الخميس من الأسبوع الأوّل والرابع والخامس، ومن الرسالة الثانية إلى كورنثوس في الخميس من الأسبوع السابع.</p>
<p><strong>ويزول العجب</strong> من تكرار القراءة من هذه الرسائل في أيّام الخميس عندما يتبيّن لنا أن قراءات الخميس تدور حول حضور ابن الله الكلمة في حياتنا وفعل كلمته المُحْييّة في نفوسنا.</p>
<ul>
<li><strong>الخميس الأول </strong>&#8220;لأن ملكوت الله ليس بكلام بل بقوة إذ أنتم وروحي معاً مجتمعون وقوة ربنا يسوع المسيح&#8221;</li>
<li><strong>الخميس الرابع</strong> &#8220;إِنْ تكلمتُ بألسنة الناس والملائكة ولكن ليس لي محبة&#8221;</li>
<li><strong>الخميس الخامس</strong> &#8220;والخبز الذي نكسره أليس هو شركة جسد المسيح&#8221;</li>
<li><strong>الخميس السابع </strong>&#8220;لأن الله الذي قال أن يشرق نور من ظلمة هو الذي أشرق في قلوبنا لإنارة معرفة مجد الله في وجه يسوع المسيح&#8221;.</li>
</ul>
<p><strong>(٢) إرتباط الرسالة أيضاً بيوم الثلاثاء</strong></p>
<p><strong>كما يأتي البولس</strong> أيضاً ثلاث مرّات من الرسالة الثانية إلى كورنثوس (ثلاثاء الأسبوع الثاني) ومن الرسالة الأولى إلى كورنثوس (ثلاثاء الأسبوع السادس والسابع).</p>
<p><strong>ويأتي الإختيار دقيقاً</strong> خاص بيوم الثلاثاء الذي موضوع قراءته عامّة في الصوم غنى عطايا المسيح ومجد الإيمان به.</p>
<ul>
<li>&#8220;فإنهم بإختبار هذه الخدمة يمجدون الله على خضوع اعترافكم بانجيل المسيح &#8230; من أجل نعمة الله المتزايدة فيكم فشكراً لله على موهبته التي لا توصف&#8221;.</li>
<li>&#8220;فحينئذ يخر على وجهه ويسجد لله معترفاً أن الله حقاً فيكم&#8221;.</li>
<li>&#8220;هكذا أنتم أيضاً إذ أنكم غيورون في المواهب الروحية فاطلبوا لأجل بنيان الكنيسة أن تزدادوا&#8221;.</li>
</ul>
<h5><strong>رسالة فيلبي</strong></h5>
<p><strong>يأتي البولس من رسالة فيلبي</strong> في السبت الملازم لأحد السامرية وفي الإثنين والثلاثاء اللذان يعقبانه وإذا كان هذا الأسبوع هو أسبوع إستعلان ابن الله وشركة الخدمة والكرازة كما حدث في السامرة &#8220;آخرون تعبوا وأنتم قد دخلتم علي تعبهم&#8221; لذلك تتكلّم هذه القراءات عن الشركة والفكر الواحد كإحدى أساسيات إستعلان الله في الكنائس وفي الخدمة والكرازة.</p>
<ul>
<li><strong>قراءات السبت </strong>&#8220;وسلام الله الذي يفوق كل عقل يحفظ قلوبكم وأفكاركم في يسوع المسيح&#8221;، &#8220;أو شركة ما في الروح &#8230; فتمموا فرحي حتي تفتكروا فكراً واحداً &#8230;&#8221;</li>
<li><strong>قراءات الإثنين </strong>&#8220;فليكن فيكم هذا الفكر الذي في المسيح يسوع&#8221;</li>
<li><strong>قراءات الثلاثاء </strong>&#8220;أنه كولد مع أب خدم معي لأجل الإنجيل &#8230; أن أرسل إليكم أبفروديتس الأخ والشريك العامل وصاحبي المتجند معي&#8221;.</li>
<li><strong>رسالة العبرانيين</strong></li>
</ul>
<p><strong>جاء البولس من رسالة العبرانيين</strong> أربع مرّات <strong>والعجيب</strong> مجيئها كلّها في أيّام الجمعة (جمعة الأسبوع الثاني والثالث والرابع والخامس)</p>
<p>ويزول <strong>العجب</strong> والحيرة إذا علمنا أن قراءات أيّام الجمع تدور حول ملكوت الله على الأرض وفي السماء.</p>
<ul>
<li><strong>البولس لجمعة </strong><strong>الأسبوع الثاني </strong>&#8220;فلذلك نحن إذ تسلمنا ملكوتاً لا يتزعزع &#8230; لأنه ليس لنا ههنا مدينة باقية لكننا نطلب العتيدة&#8221;.</li>
<li><strong>البولس لجمعة </strong><strong>الأسبوع الثالث </strong>&#8220;بالايمان نقل أخنوخ لكي لا يرى الموت ولم يوجد بعد لأن الله نقله&#8221;.</li>
<li><strong>البولس لجمعة </strong><strong>الأسبوع الرابع </strong>&#8220;لأنه ليس لنا ها هنا مدينة باقية لكننا نطلب الآتية&#8221;.</li>
<li><strong>البولس لجمعة </strong><strong>الأسبوع الخامس </strong>&#8220;فانهم إنما أدبونا لأيام حياتنا القليلة وعلى هواهم أما هو فلمنفعتنا بالأكثر حتي ننال من قداسته.. والقداسة التي بدونها لا يعاين أحد الرب&#8221;.</li>
</ul>
<ul>
<li><strong><u>الكاثوليكون</u></strong></li>
</ul>
<p><strong>إذا تابعنا قراءات رسائل الكاثوليكون</strong> في الصوم الكبير نجد أن منهج القراءة في السبوت والآحاد يختلف نوعاً ما عنه في أيّام الصوم الكبير.</p>
<ul>
<li><strong>قراءات الكاثوليكون في السبوت والآحاد</strong></li>
</ul>
<p><strong>تتركّز القراءات</strong> في السبوت والآحاد من رسالة يعقوب بداية من أوَّل إصحاح في السبت الملازم لأحد الكنوز (يع ١: ١-١٢) وتسير القراءات مع الرسالة كلّها حتي السبت الملازم لأحد المُخَلَّع (يع ٥: ٧-١١)</p>
<p>وتُخْتَم رسالة يعقوب في جمعة ختام الصوم (وهي التي يُصَلَّى فيها بطقس الآحاد)</p>
<p><strong>وإختيار الكنيسة لهذه الرسالة</strong> في سبوت وآحاد الصوم يهدف إلى رسم صورة التوبة وأبعادها ومبادئها العملية وكيف تعيش النفس في توبة دائمة وكيف تُعلن الكنيسة رسالة التوبة في خدمتها ورعايتها وكرازتها.</p>
<p>وأيضاً لأن هذه الرسالة هي رسالة الإيمان العملي الذي يتجسّد في كل ظروف الحياة.</p>
<p><strong>وكما تسير القراءات</strong> تدريجيا من أوَّل إصحاح في السبت الملازم لأحد الكنوز حتى تنتهي الرسالة مع جمعة ختام الصوم وختام طقس الآحاد فنرى بوضوح أيقونة التوبة العملية كما تعلنها الرسالة بالترتيب المتعاقب لإصحاحات الرسالة:</p>
<ul>
<li>السبت الملازم لأحد الكنوز(يع١: ١-١٢)كمال التوبة في قبول التجارب بإيمان وفرح وصبر.</li>
<li>أحد الكنوز (يع ١: ١٣-٢١)خطورة التجارب التي تأتي من شهوتنا الخاصة.</li>
<li>السبت الملازم لأحد التجربة (يع١: ٢٢-الخ)ضبط الإنسان لسانه وحفظ نفسه من الدنس وإهتمامه بالمحتاجين.</li>
<li>أحد التجربة (يع٢: ١-١٣)محاباة الكنيسة للأغنياء خطيئتها ضد رسم وناموس المحبّة.</li>
<li>السبت الملازم لأحد الابن الضال (يع٢: ١٤-الخ) مقارنة بين الإيمان العملي والإيمان النظري.</li>
<li>أحد الابن الضال (يع٣: ١-١٢)خطورة عثرات الكلام واللسان وشهوة تعليم الآخرين.</li>
<li>السبت الملازم لأحد السامرية (يع ٣: ١٣، ٤ :١-٦) وداعة الحكمة الآتية من فوق وغيرة الروح علينا من محبة العالم.</li>
<li>أحد السامرية (يع٤: ٧-١٧)تطهير القلب من إدانة الإخوة وتطهير النفس من أطماع العالم.</li>
<li>السبت الملازم لأحد المُخَلَّع (يع٥: ٧-١١)التأني والصبر وإحتمال المشقات حتي مجئ الرب.</li>
<li>جمعة ختام الصوم (يع٥: ٧-١٦)صلاة الإيمان الدائمة والغافرة ضمان شفاء النفوس وخلاصها.</li>
</ul>
<p><strong>يُسْتَثْني من هذا الترتيب أوَّل وآخر سبوت وآحاد الصوم وأحد المُخَلَّع</strong></p>
<ul>
<li><strong>في سبت الرفاع</strong> يأتي الكاثوليكون من بطرس الأولى (١بط ١: ١-١٢).</li>
<li><strong>في أحد الرفاع</strong> من بطرس الثانية (٢ بط ١: ١-١١).</li>
<li><strong>في أحد الرفاع تبدأ الكنيسة معنا</strong> رحلة الصوم بتحديد الهدف والتركيز عليه بوضوح شديد.</li>
<li><strong>ففي سبت الرفاع</strong> يتكلّم القديس بطرس في إفتتاحية رسالته الأولى عن الميراث الذي لا يفنى ولا يتدنس ولا يضمحل وعن الخلاص المعدّ أن يعلن في الزمان الأخير وهي التي كانت موضوع بحث الأنبياء وشهوة الملائكة.</li>
<li><strong>وفِي أحد الرفاع</strong> يتكلّم في إفتتاحية رسالته الثانية عن القوّة الإلهية المُعْطَاة لأولاده &#8220;إذ أن قدرته الإلهية قد وهبت لنا كل ما يؤول إلى الحياة والتقوي بمعرفة الذي دعانا بمجده وفضيلته اللذان بهما قد وهب لنا المواعيد العظمي والثمينة لكي تصيروا بها شركاء الطبيعة الإلهية&#8221;.</li>
</ul>
<p><strong>لكن في ذات الوقت</strong> يدعونا في بداية الرحلة إلى الإجتهاد الشديد وإلى ثبات الدعوة والإختيار &#8220;فأضيفوا أنتم إلى ذلك عينه كل الاجتهاد لتزيدوا على إيمانكم الفضيلة &#8230; لذلك أيها الاخوة اجتهدوا بالأحرى أن تجعلوا دعوتكم واختياركم ثابتين&#8221;.</p>
<ul>
<li><strong>أما الكاثوليكون في أحد المُخَلَّع</strong> فيأتي من الإصحاح الثالث كلّه من رسالة القديس بطرس الثانية والتي يتكلم فيها بالتفصيل عن نهاية العالم ومجيئه الثاني والتي تتوافق مع موضوع قراءات هذا الأحد وهدف طول أناة الله توبة الجميع كما أعلن للمخلّع &#8220;ها قد بُرئتَ فلا تخطئ بعد لئلا يكون لك شر أكثر&#8221;.</li>
<li><strong>أما ختام قراءات الكاثوليكون</strong> في السبوت فيأتي مع السبت الملازم لأحد المولود أعمى (١بط ١: ١٣-٢١) والتي تُكَمِّل قراءة سبت الرفاع (١بط ١: ١-١٢) وكأن الكنيسة تبدأ وتختم مع الهدف الأسمي للتوبة حياة القداسة والدعوة لليقظة دائماً &#8220;فلذلك منطقوا أحقاء أذهانكم بالكمال &#8230; بل نظير القدّوس الذي دعاكم كونوا أنتم أيضاً قديسين في كل سيرة&#8221;</li>
<li><strong>لذلك تأتي المكافأة السماوية</strong> في أحد المولود أعمى من ختام الرسالة الأولى للقديس يوحنا وعطية البصيرة والإستنارة والثبات في ابن الله &#8220;ونعلم أن ابن الله قد جاء وأعطانا بصيرة لنعرف الإله الحقيقي ونثبت في ابنه يسوع المسيح&#8221;.</li>
</ul>
<p><strong>العلاقة بين رسالة يعقوب وقراءات </strong><strong>الأسبوع الرابع</strong></p>
<p><strong>يُلاحَظ مجئ الكاثوليكون</strong> في الأسبوع الرابع ثلاث أيّام من خمسة (الأثنين والأربعاء والخميس) ، بالإضافة إلي الكاثوليكون في السبت والأحد الذي يسبقهما أيضاً من رسالة يعقوب.</p>
<p><strong>والجدير بالذكر</strong> أن إقتباسات هذا الأسبوع تغطّي معظم الإصحاحات من الرسالة من (يع ٢: ١٤) حتي نهاية السفر.</p>
<p>وقراءات هذا الأسبوع تحكي مدي قبولنا البرّ الإلهي في حياتنا العملية وفي رسالتنا تجاه الآخرين</p>
<ol>
<li><strong>السبت الملازم للابن الضال </strong>&#8220;وكذلك راحاب الزانية أيضاً ألم تُبرر بالأعمال إذ قبلت الجاسوسين وأخرجتهم من طريق آخر&#8221;</li>
<li><strong>أحد الابن الضال</strong> &#8220;به نبارك الله الآب وبه نلعن الناس الذين صنعهم الله علي مثاله&#8221;.</li>
<li><strong>إثنين </strong><strong>الأسبوع الرابع</strong> &#8220;وصلوا بعضكم لأجل بعض لكيما تعافوا فإنه توجد قوة عظيمة فعالة في طلبة البار&#8221;.</li>
<li><strong>أربعاء </strong><strong>الأسبوع الرابع </strong>&#8220;وثمر البر يُزرع في السلام من الذين يفعلون السلام&#8221;.</li>
<li><strong>خميس </strong><strong>الأسبوع الرابع </strong>&#8220;فمن يعرف أن يعمل حسناً ولا يعمل فذلك خطيئة له&#8221;.</li>
</ol>
<ul>
<li>
<h5><strong>رسالة يعقوب </strong></h5>
<p><strong>الأسبوع السابع</strong></li>
</ul>
<ol>
<li><strong>يأتي الكاثوليكون في هذا </strong><strong>الأسبوع </strong>من رسالة يعقوب في ثلاثة أيام الإثنين والأربعاء والجمعة ولأن هذا الأسبوع هو الأسبوع الأخير أسبوع إستعلان الملكوت والنهايات والمكافأة والدينونة لذلك تأتي القراءات لتُظهر هذا المعنى من رسالة يعقوب.</li>
<li><strong>أثنين </strong><strong>الأسبوع السابع </strong>&#8220;أما اختار الله مساكين هذا العالم وهم أغنياء في الإيمان وورثة للملكوت الذي وعد به الذين يحبونه .. فان الدينونة بلا رحمة تكون على من لا يصنع رحمة والرحمة تفتخر على الدينونة&#8221;</li>
<li><strong>أربعاء </strong><strong>الأسبوع السابع </strong>&#8220;هو شاء فولدنا بكلمة الحق لنكون باكورة من خلائقه&#8221;.</li>
<li><strong>جمعة </strong><strong>الأسبوع السابع </strong><strong>(ختام الصوم)</strong> &#8220;فتأنوا أنتم أيضاً وثبتوا قلوبكم فإن مجئ الرب قد إقترب .. بل ليكن كلامكم نعم نعم ولا لا لئلا تقعوا في الدينونة&#8221;.</li>
</ol>
<ul>
<li>
<h5><strong>رسالة بطرس الأولي والأسبوع الخامس</strong></h5>
</li>
</ul>
<p><strong>هذا </strong><strong>الأسبوع هو أسبوع لقاء الرب</strong> مع السامرية ومع شعب السامرة وإستعلانه للسامرية كمسيا ولشعب السامرة مخلص العالم</p>
<p>لذلك جاء الكاثوليكون من رسالة بطرس الأولى في أربعة أيام (إثنين وأربعاء وخميس وجمعة) ولأن هذه الرسالة هي رسالة مجدنا المُسْتَعلن في المسيح لذلك تأتي النصوص المقتبسة موضّحة هذا المعنى.</p>
<p><strong>الأثنين </strong>&#8220;بل قدّسوا الرب الاله في قلوبكم .. ليقربنا إلي الله مماتاً في الجسد ولكن محيياً في الروح&#8221;</p>
<p><strong>الأربعاء </strong>&#8220;بل كما اشتركتم في آلام المسيح افرحوا لكي تفرحوا في استعلان مجده أيضاً مبتهجين&#8221;</p>
<p><strong>الخميس</strong> &#8220;أيها المحروسون بقوة الله بالايمان للخلاص المعد أن يستعلن في الزمان الاخير .. لكي توجدوا أهلاً للمدح والمجد والكرامة عند استعلان يسوع المسيح&#8221;.</p>
<p><strong>الجمعة </strong>&#8220;أنا الكاهن معهم والشاهد لآلام المسيح والمشارك أيضاً للمجد العتيد أن يستعلن&#8221;</p>
<h5><strong><u>الإبركسيس</u></strong></h5>
<ul>
<li><strong>قراءات الإبركسيس في السبوت والآحاد</strong></li>
</ul>
<p><strong>يتبع ترتيب قراءات الإبركسيس</strong> في سبوت وآحاد الصوم ترتيباً خاصاً يختلف عنه في قراءات الأيّام وتبدأ قراءات الإبركسيس في سبت الرفاع من بداية إصحاح ٢١ (أع ٢١: ١-١٤).</p>
<p><strong>وتسير القراءات متتابعة</strong> في كل السبوت والآحاد حتي نصل إلي الإصحاح السابع والعشرين (أع ٢٧: ٢٧-٣٧) في أحد المولود أعمى ويَكْمُل السفر في قراءة إبركسيس سبت لعازر (أع ٢٧: ٣٨ - الخ، ٢٨: ١-١٠) وقراءات إبركسيس أحد الشعانين (أع ٢٨: ١١- الخ).</p>
<table style="height: 568px;" width="529">
<tbody>
<tr>
<td width="200">سبت الرفاع</td>
<td width="197">(أع ٢١: ١-١٤)</td>
</tr>
<tr>
<td width="200">أحد الرفاع</td>
<td width="197">(أع ٢١: ١٥- ٢٦)</td>
</tr>
<tr>
<td width="200">السبت الملازم لأحد الكنوز</td>
<td width="197">(أع ٢١: ٢٧ – ٣٩)</td>
</tr>
<tr>
<td width="200">أحد الكنوز</td>
<td width="197">(أع ٢١: ٤٠ الخ، ٢٢ : ١-١٦)</td>
</tr>
<tr>
<td width="200">السبت الملازم لأحد التجربة</td>
<td width="197">(أع ٢٢: ١٧- الخ)</td>
</tr>
<tr>
<td width="200">أحد التجربة</td>
<td width="197">(أع ٢٣: ١-١١)</td>
</tr>
<tr>
<td width="200">السبت الملازم لأحد الابن الضال</td>
<td width="197">(أع ٢٣: ١٢ – الخ)</td>
</tr>
<tr>
<td width="200">أحد الابن الضال</td>
<td width="197">(أع ٢٤: ١-٢٣)</td>
</tr>
<tr>
<td width="200">السبت الملازم لأحد السامرية</td>
<td width="197">(أع ٢٤: ٢٤- الخ، ٢٥: ١-١٢)</td>
</tr>
<tr>
<td width="200">أحد السامرية</td>
<td width="197">(أع ٢٥: ١٣، ٢٦: ١)</td>
</tr>
<tr>
<td width="200">السبت الملازم لأحد المُخَلَّع</td>
<td width="197">(أع ٢٦: ١- ١٨)</td>
</tr>
<tr>
<td width="200">أحد المُخَلَّع</td>
<td width="197">(أع ٢٦: ١٩- الخ، ٢٧: ١-٨)</td>
</tr>
<tr>
<td width="200">السبت الملازم لأحد المولود أعمي</td>
<td width="197">(أع 27: ٩-٢٦)</td>
</tr>
<tr>
<td width="200">أحد المولود أعمي</td>
<td width="197">(أع ٢٧: ٢٧-٣٧)</td>
</tr>
<tr>
<td width="200">سبت لعازر</td>
<td width="197">(أع ٢٧: ٣٨- الخ، ٢٨: ١-١٠)</td>
</tr>
<tr>
<td width="200">أحد الشعانين</td>
<td width="197">(أع ٢٨: ١١- الخ)</td>
</tr>
</tbody>
</table>
<p>ويورد الأب القمص كيرلس عبد المسيح حنا ملحوظة هامّة عن قراءات الإبركسيس في سبوت وآحاد الصوم <a href="#_ftn13" name="_ftnref13">[13]</a>: [مع قراءة أول فصول الإبركسيس (أع ٢١: ١) في كل يوم سبت وأحد في قطمارس الصوم الكبير يبدأ سرد المراحل الأخيرة في حياة بولس من أول رجوعه إلى أورشليم في سبت الرفاع (الأستعداد).</p>
<p>وحتى إرساله مقيداً وإقامته في روما بانتظار ساعة شهادته وانطلاقه للسماء كما جاء في قراءة إبركسيس قداس أحد الشعانين (٢٨: ٣١) ويُتبع لقراءات الإبركسيس في سبوت وحدود الصوم نظاماً خاصاً مختلفاً عن نظام إبركسيس الأيام وهو ما يُعرف بنظام القراءات المتتابعة حيث تتسلسل الفصول بلا انقطاع من بداية إلى نهاية قراءتها كما تنفرد مسيرة بولس الرسول الأخيرة (بالإضافة إلى مسيرة سفر الخروج) من بين جميع القراءات المتتابعة في قطمارس الصوم الكبير بختامهما لا في الصوم الأربعيني بل في اسبوع البصخة وهذا لا يخلو من معنى عميق].</p>
<p><strong>وهذا الكلام يكشف لنا عن</strong> رحلة الإبركسيس في قراءات سبوت وآحاد الصوم التي تبدأ مع بداية إصحاح ٢١ بعد ختام إصحاح ٢٠ التي يُعْلِن فيها القديس بولس في خطابه الوداعي لرعاة الكنائس أنه ذاهب لروما وأنهم لن يروا وجهه مرة أخرى &#8220;وكان بكاء عظيم من الجميع، ووقعوا على عنق بولس يقبلونه متوجعين، ولا سيما من الكلمة التي قالها: إنهم لن يروا وجهه أيضا. ثم شيعوه إلى السفينة&#8221; (أع ٢٠: ٣٨،٣٧)، <strong>وكأن رحلة القديس بولس الثالثة</strong> هي رحلته إلى الصليب والإستشهاد وهي التي نعيشها معه في قراءات إبركسيس السبوت والآحاد موقف وراء موقف حتى نهاية الرحلة والوصول إلى روما في نهاية السفر وسَكْب نفسه التي لم تكن يوماً ثمينه عنده ليكتب بها عنوان شهادته ومحبته للمصلوب.</p>
<h4><strong>قراءات السبوت</strong></h4>
<p><strong>تتكلّم قراءات السبوت</strong> بصفة عامّة على:</p>
<ul>
<li>مواقف البشر تجاه بعضهم البعض (باكر السبوت)،</li>
<li>ومواقف الله من البشر (أناجيل السبوت)</li>
</ul>
<p>كتمهيد وإعداد لفيض النعمة في قراءات الآحاد.</p>
<p><strong>قراءات أناجيل باكر السبوت (مواقفنا من بعضنا البعض)</strong></p>
<ul>
<li>إنجيل باكر ليوم السبت من الأسبوع الأول:</li>
</ul>
<p>&#8220;كن متفاهما مع خصمك سريعاً ما دمت معه في الطريق&#8221;</p>
<ul>
<li>إنجيل باكر ليوم السبت من الأسبوع الثاني:</li>
</ul>
<p>&#8220;وليسالم بعضكم بعضاً&#8221;</p>
<ul>
<li>إنجيل باكر ليوم السبت من الأسبوع الثالث:</li>
</ul>
<p>&#8220;اذهب وبع ما لك وأعطه للفقراء&#8221;</p>
<ul>
<li>إنجيل باكر ليوم السبت من الأسبوع الرابع:</li>
</ul>
<p>&#8220;قد استوفيت خيراتك في حياتك ولعازر أيضاً البلايا&#8221;</p>
<ul>
<li>إنجيل باكر ليوم السبت من الأسبوع الخامس:</li>
</ul>
<p>&#8220;ويذهب ليبحث عن الضال حتي يجده&#8221;</p>
<ul>
<li>إنجيل باكر ليوم السبت من الأسبوع السادس:</li>
</ul>
<p>&#8220;فلما رأى يسوع إيمانهم&#8221;</p>
<p><strong>قراءات أناجيل قدّاسات السبوت</strong> <strong>(مواقف الله من البشر)</strong></p>
<ul>
<li>إنجيل قدّاس سبت الأسبوع الأول:</li>
</ul>
<p>&#8220;فكونوا أنتم كاملين كما أن أباكم الذي في السموات كامل &#8221;</p>
<ul>
<li>إنجيل قدّاس سبت الأسبوع الثاني:</li>
</ul>
<p>&#8220;ليس كل قائل لي يا رب يا رب يدخل ملكوت السموات&#8221;</p>
<ul>
<li>إنجيل قدّاس سبت الإسبوع الثالث:</li>
</ul>
<p>&#8220;هكذا يصنع بكم أبي الذي في السموات إن لم يغفر كل واحدلأخيه من كل قلبه&#8221;</p>
<ul>
<li>إنجيل قدّاس سبت الأسبوع الرابع:</li>
</ul>
<p>&#8220;إن ملكوت الله يُنزع منكم ويسلّم لأمّة أخري تصنع أثماره&#8221;</p>
<ul>
<li>إنجيل قدّاس سبت الأسبوع الخامس:</li>
</ul>
<p>&#8220;ويل لكم أيها القادة العميان&#8221;</p>
<ul>
<li>إنجيل قدّاس سبت الأسبوع السادس:</li>
</ul>
<p>&#8220;فقال له يسوع اذهب ان ايمانك قد خلصك&#8221;.</p>
<p><strong>إرتباط قراءات أناجيل قدّاسات الآحاد بأناجيل باكر السبوت التي تليها </strong></p>
<p>لَعَلَّه من علامات ترابط قراءات سبوت وآحاد الصوم معاً توافق أناجيل قدّاسات الآحاد بقراءات باكر السبوت التي تليها وتكرار بعض الجمل مضموناً أو حتى حرفياً لتربط آخر قراءة من إنجيل الأحد بأول قراءة من إنجيل السبت الذي يليه ، وكأن قراءة تسلّم نورها لقراءة أخري فتستمر الشعلة مشتعلة في ماراثون قراءات آحاد وسبوت الصوم لنبلغ الجعالة العليا ويَكْمُل الشوط في الطريق إلى الصليب منارة الحب الإلهي.</p>
<p><strong>فما بين وصيّة الرب</strong> بإجتهاد طلب ملكوته وبين تحذير من عثرات يمكن أن تحرمنا من ملكوته .</p>
<ul>
<li>فاطلبوا أولاً ملكوته (إنجيل قدّاس أحد الرفاع)</li>
<li>فخير لك أن تدخل ملكوت الله (إنجيل باكر سبت الأسبوع الأول)</li>
</ul>
<p><strong>مابين عين شريرة</strong> تظلم كيان الإنسان وأهمّية ختان أعيننا على الدوام بسكين النعمة</p>
<ul>
<li>وإن كانت عينك شرّيرة (إنجيل قدّاس الأحد الأول)</li>
<li>وإن شكّكتك عينك فاقلعها (إنجيل باكر سبت الأسبوع الثاني)</li>
</ul>
<p><strong>مابين نصيحة وإغراء إبليس</strong> بعطايا العالم ومادّياته وبين تحذير الرب من التعلّق بمادّيات العالم</p>
<ul>
<li>أعطيك هذه جميعها (إنجيل قدّاس الأحد الثاني)</li>
<li>بع مالك وأعط الفقراء&#8230; ما أعسر دخول المتّكلين على الأموال (إنجيل باكر سبت الأسبوع الثالث).</li>
</ul>
<p><strong>ما بين فقر الضيق</strong> الذي يقود الى التوبة والرجوع لحضن الآب وبين فقر الحياة مع الشكر الذي يُؤَهّل للسماء وحضن إبراهيم.</p>
<ul>
<li>وكان يشتهي أن يملأ بطنه ← الابن الضال (إنجيل قدّاس الأحد الثالث)</li>
<li>وكان يشتهي أن يملأ بطنه ← الغني ولعازر (إنجيل باكر سبت الأسبوع الرابع)</li>
</ul>
<p><strong>ما بين فرح الأنبياء والرسل</strong> بخلاص الشعوب وبين فرح الملائكة مع البشر برجوع الضَّالِّين</p>
<ul>
<li>لكي يفرح الزارع والحاصد معاً (إنجيل قدّاس الأحد الرابع)</li>
<li>يكون فرح في السماء بخاطئ واحد يتوب (إنجيل باكر سبت الأسبوع الخامس)</li>
</ul>
<p><strong>ما بين شفاء مفلوج بالجسد</strong> ليس له إنسان يلقيه في البركة وبين شفاء مفلوج بالروح والجسد يحمله أربعة</p>
<ul>
<li>قم احمل سريرك وامش (إنجيل قدّاس الأحد الخامس)</li>
<li>قم فأحمل سريرك واذهب الى بيتك (إنجيل باكر سبت الأسبوع السادس).</li>
</ul>
<h4><strong>قراءات السبوت والآحاد</strong></h4>
<h5><strong>فكرة عامة عن قراءات السبوت والآحاد</strong></h5>
<p><strong>تعتبر قراءات السبوت والآحاد</strong> هي فصح قراءات الصوم الكبير وسكيب النعمة والعطايا السماوية علي ذبيحة الصوم والقاعدة التي تربط سُرج قراءات الأسابيع معاً لتشَكُّل المنارة الذهبية ذات السبعة سرج.</p>
<p><strong>ورغم أنها تتشابه وتتكامل</strong> مع قراءات أيّام الصوم من حيث الجوهر والمعنى والمغزى إِلَّا أنها تختلف من ناحية شكل ترتيب القراءات عن قراءات الأيّام.</p>
<p><strong>فكل قراءات السبت والأحد</strong> هي شلّال من النعمة يصب في قراءات الأيام التي تسير معاً لتقود لشلّال آخر من النعمة في قراءات السبت والأحد اللذان يليهما حتي نصل في نهاية الصوم لمجري النهر العميق لنسبح في الحب الإلهي في طقس البصخة أمام عنوان الحب وأيقونته صليب رب المجد ولتتهلل قلوبنا بقوة قيامته.</p>
<p><strong>وهكذا تُعْطِي قراءات السبوت والآحاد</strong> نعمة فوق نعمة وغنى يقود لغنى آخر ودخول متزايد نحو العمق لنصل في نهاية قراءات السبوت والآحاد للإستنارة وإنفتاح الأعين على ابن الله.</p>
<p><strong>ولعلّه مما يساعد على فهم رؤية كنيستنا المقدسة </strong>وضوح وترابط القراءات كأنها وحدة واحدة متكاملة. فقراءات سبوت الصوم هي رفع الحجارة التي تعوق مجري مياه الروح وفيضه في قراءات الأحد، فبينما تتركز قراءات السبوت على ما نحتاجه وما يجب أن نراجع فيه أنفسنا تأتي قراءات الأحد لتسكب فينا النعمة.</p>
<p><strong>فقراءات أناجيل كل سبت وأحد</strong> لكل إسبوع مترابطة معاً لتقدّم رؤية من رؤى التوبة وإشراقة من مجدها.</p>
<p><strong>وقراءات أناجيل قدّاسات الآحاد</strong> ترتبط في جوهرها بقراءات باكر السبوت التي تليها.</p>
<p>وقراءات باكر الآحاد ترتبط بقراءات قدّاسات السبوت التي تسبقها.</p>
<p>ويأتي هذا الترابط العجيب والعميق ليجمع خيوط دقيقة معاً تكوّن حبلاً متصلاً يشدّنا للسماء ويرفعنا للأعالي.</p>
<h5><strong>إرتباط قراءات السبوت والآحاد بصفة عامة</strong></h5>
<p>بينما تتركّز قراءات الآحاد في عطايا الثالوث للكنيسة المقدسة ولكل نفس تسعي لملكوت الله تتَّجه قراءات السبوت لإعلان مدخل هذه العطايا والطريق إليها.</p>
<h6><strong>قراءات آحاد الصوم </strong></h6>
<p><strong>عطايا الثالوث للتائبين</strong>: الأبوّة - الكنز - النصرة – برّ الآب - إستعلان الابن - التدبير الإلهي - الإستنارة</p>
<h6><strong>قراءات السبوت الملازمة للآحاد </strong></h6>
<p><strong>مسؤولية التائبين لنوال العطايا:</strong></p>
<p>سهر التوبة - السعي للكمال - الجهاد الروحي - الغفران للآخرين - مخافته وثمره فينا - الإستعداد لمجيئه - صراخ الصلاة الدائمة</p>
<p><strong>ففي سبت الرفاع</strong> توضِّح القراءات سهر توبة البنين &#8220;إن لم تتوبوا فجميعكم كذلك تهلكون&#8221; (إنجيل القدّاس) ومراجعتهم لنقاوة حياتهم كمدخل لإختبار أبوّة الآب ومحبته الإلهية في <strong>أحد الرفاع</strong>.</p>
<p><strong>وفِي السبت الملازم لأحد الكنوز</strong> تُعلن قراءات السبت أهمّية السعي للكمال &#8220;فكونوا أنتم كاملين كما أن أباكم الذي في السموات كامل&#8221; (إنجيل القداس) والنظر الدائم لكمالات محبّة الله كمدخل أساسي لإدراك الكنز (ابن الله) المُخفي في الحقل أي قلب الإنسان وكيانه الداخلي <strong>كما تُعلنه قراءات أحد الكنوز</strong>.</p>
<p><strong>وفِي السبت الملازم لأحد التجربة</strong> ترسم لنا قراءات السبت طريق جهادنا &#8220;لأنه ما أضيق الباب وأكرب الطريق الذي يؤدي إلى الحياة&#8221; (إنجيل القدّاس) وكيف نسير بوعي وإجتهاد وجهاد في الباب الضيّق كمدخل لنصرتنا الدائمة المجّانية في المسيح له المجد باب خلاصنا ورئيس موكب نصرتنا <strong>موضوع قراءات أحد التجربة</strong>.</p>
<p><strong>بينما السبت الملازم لأحد الإبن الضال</strong> تُحذّرنا قراءات السبت من مواقفنا من الآخرين &#8220;هكذا يصنع بكم أبي الذي في السموات إن لم يغفر كل واحد لأخيه من كل قلبه&#8221; (إنجيل<br />
القدّاس) وخطورة عدم غفراننا وإمكانية حرماننا من برّ الآب وغفرانه المُتجدّد كل يوم. <strong>موضوع قراءات أحد الإبن الضال</strong>.</p>
<p><strong>وفِي السبت الملازم لأحد السامريّة</strong> تطلب قراءات السبت ثمر معرفته فينا &#8220;فقالوا له إنه بالردئ يهلك أولئك الأردياء ويسلم الكرم إلى كرامين آخرين يؤدون له أثماره في حينها&#8221; (إنجيل القداس).</p>
<p>وخطورة غياب الثمر فيغيب الكرّام عن كرمه الإلهي ويُسْتَعلن الكرم لآخرين متعطّشين لحضوره وهو <strong>موضوع قراءات أحد السامرية وإيمان شعب السامرة</strong>.</p>
<p><strong>أمّا السبت الملازم لأحد المُخَلَّع</strong> فتدعونا قراءاته للإستعداد لمجيئه الثاني وويلاته لرعاة لا يقودون الناس للملكوت. &#8220;لأنكم تغلقون ملكوت السموات قدّام الناس فلا أنتم تدخلون ولا تدعون الآتين يدخلون&#8221; (إنجيل القدّاس) ولا يعملون مع الآب والإبن لأجل شفاء البشرية المفلوجة &#8220;أبي يعمل حتي الآن وأنا أيضاً أعمل&#8221; <strong>موضوع قراءات أحد المُخَلَّع</strong>.</p>
<p><strong>ويختم السبت الأخير الملازم لأحد المولود أعمى</strong> بالصراخ الدائم لإبن الله لأجل الإستنارة &#8220;فكان بالحري يزداد صراخاً يا ابن داود ارحمني &#8230; يا سيدي أن أبصر&#8221; (إنجيل القداس) ولكي يفتح عيوننا فنطرح رداء العالم ونتبعه في الطريق موضوع <strong>قراءات أحد المولود أعمى</strong>.</p>
<h5><strong>علاقة أناجيل عشية وباكر وقدّاسات السبوت والأحاد </strong></h5>
<ol>
<li><strong>علاقة أناجيل عشية وباكر وقدّاس سبت وأحد الرفاع.</strong></li>
</ol>
<p>احترزوا – اسهروا – اغفروا – احترزوا – فاغفر له.</p>
<ul>
<li>عشية سبت الرفاع (لو ١٧: ٣-٦).</li>
</ul>
<p>&#8220;احترزوا لأنفسكم - فاغفر له - لو كان لكم إيمان مثل حبة خردل&#8221;.</p>
<ul>
<li>باكر سبت الرفاع (مر ١٣: ٣٣-الخ).</li>
</ul>
<p>&#8220;اسهروا وصلوا&#8221;.</p>
<ul>
<li>قدّاس سبت الرفاع (لو ١٣:١- ٥).</li>
</ul>
<p>&#8220;إن لم تتوبوا&#8221;.</p>
<ul>
<li>عشية أحد الرفاع (مر ١١: ٢٢-٢٦).</li>
</ul>
<p>&#8220;اجعلوا إيمان الله فيكم - فاغفروا لمن لكم عليه&#8221;.</p>
<ul>
<li>باكر أحد الرفاع (لو ١٧: ٣- ١٠).</li>
</ul>
<p>&#8220;احترزوا - وإن تاب فاغفر له - لو كان لكم إيمان مثل حبة الخردل&#8221;.</p>
<ul>
<li>قدّاس أحد الرفاع (مت ٦: ١-١٨).</li>
</ul>
<p>&#8220;وإن لم تغفروا للناس زلاتهم فلا يغفر لكم أبوكم السماوي زلاتكم&#8221;.</p>
<ol start="2">
<li><strong>علاقة أناجيل عشيّة وباكر وقدّاس سبت وأحد الأسبوع الأول</strong>.</li>
</ol>
<p><strong>الجوهر والعمق والأساس</strong></p>
<p>بل فليكن – فكونوا أنتم كاملين - فإن هذا هو الناموس والأنبياء - بني بيته على الصخرة - فاطلبوا أولاً ملكوته وبره.</p>
<ul>
<li>باكر السبت الملازم لأحد الكنوز (مت ٥: ٢٥-٣٧)</li>
</ul>
<p>&#8220;وأما أنا فأقول لكم &#8230;. بل فليكن كلامكم نعم نعم ولا لا&#8221;</p>
<ul>
<li>قدّاس السبت (مت٥: ٣٨)-الخ</li>
</ul>
<p>&#8220;فكونوا أنتم كاملين كما أن أباكم الذي في السموات كامل&#8221;</p>
<ul>
<li>عشية الأحد (مت ٦: ٣٤- ٧: ١٢)</li>
</ul>
<p>&#8220;فكل ما تريدون أن يفعل الناس بكم فافعلوه أنتم بهم فان هذا هو الناموس والأنبياء&#8221;</p>
<ul>
<li>باكر الأحد (مت ٧: ٢٢) – الخ</li>
</ul>
<p>&#8220;فنزل المطر وجرت الأنهار وهبت الرياح صدمت ذلك البيت فلم يسقط لأن أساسه كان ثابتا على الصخرة&#8221;</p>
<ul>
<li>قدّاس الأحد (مت ٦: ١٩- ٣٣)</li>
</ul>
<p>&#8220;لأنه حيث يكون كنزك هناك يكون قلبك أيضاً &#8230; فاطلبوا أولاً ملكوته وبره.&#8221;</p>
<ol start="3">
<li><strong>علاقة أناجيل عشيّة وباكر وقدّاس سبت وأحد الأسبوع الثاني</strong></li>
</ol>
<p><strong>النصرة على الشيطان ودخول ملكوت الله</strong></p>
<ul>
<li>باكر السبت (مر٩: ٤٣)-الخ</li>
</ul>
<p>&#8220;فخير لك أن تدخل ملكوت الله وأنت أعور من أن تكون لك عينان وتلقي في جهنم&#8221;</p>
<ul>
<li>قدّاس السبت (مت٧: ١٣-٢١)</li>
</ul>
<p>&#8220;ليس كل قائل لي يارب يارب يدخل ملكوت السموات بل الذي يعمل ارادة أبي الذي في السموات.&#8221;</p>
<ul>
<li>عشية الأحد (مر١: ١-١٥)</li>
</ul>
<p>&#8220;جاء يسوع إلي الجليل يكرز بإنجيل ملكوت الله قائلاً قد كمل الزمان واقترب ملكوت الله.&#8221;</p>
<ul>
<li>باكر الأحد (لو٤: ١-١٣)</li>
</ul>
<p>&#8220;ليس بالخبز وحده يحيا الإنسان بل بكل كلمة تخرج من فم الله.&#8221;</p>
<ul>
<li>قدّاس الأحد (مت٤: ١-١١)</li>
</ul>
<p>&#8220;حينئذ تركه إبليس وإذ ملائكة قد جاءت وخدمته.&#8221;</p>
<ol start="4">
<li><strong>علاقة أناجيل عشية وباكر وقدّاس سبت وأحد الأسبوع الثالث</strong></li>
</ol>
<p><strong>صلاح الله وصلاح البشر</strong></p>
<ul>
<li>باكر السبت (مر١٠: ١٧-٢٧)</li>
</ul>
<p>&#8220;لماذا تقول لي الصالح ليس أحد صالحاً إلا الله وحده.&#8221;</p>
<ul>
<li>قدّاس السبت (مت ١٨: ٢٣- الخ)</li>
</ul>
<p>&#8220;أفما كان ينبغي لك أن ترحم العبد رفيقك كما رحمتك أنا.&#8221;</p>
<ul>
<li>عشيّة الأحد (مت١٥: ١-٢٠)</li>
</ul>
<p>وأما الذي يخرج من الفم فمن القلب يصدر فذلك الذي ينجس الانسان.</p>
<ul>
<li>باكر الأحد (مت٢٠: ١-١٦)</li>
</ul>
<p>فجاء أصحاب الساعة الحادية عشرة فأخذ كل واحد ديناراً - فإني أريد أن أعطي هذا الأخير مثلك - أم عينك شريرة لأني أنا صالح.</p>
<ul>
<li>قدّاس الأحد (لو١٥: ١١- ٣٢)</li>
</ul>
<p>وكان ينبغي أن نفرح ونُسر لأن أخاك هذا كان ميتاً فعاش وكان ضالاً فوجدناه.</p>
<ol start="5">
<li><strong>علاقة أناجيل عشية وباكر سبت وأحد الأسبوع الرابع</strong></li>
</ol>
<p><strong>اللبس (برّ المسيح له المجد وبرّ العالم ومجده)</strong></p>
<ul>
<li>باكر السبت (لو١٦: ١٩:٣١)</li>
</ul>
<p>&#8220;كان يلبس الأرجوان والحرير.&#8221;</p>
<ul>
<li>قدّاس السبت (مت٢١: ٣٣) الخ)</li>
</ul>
<p>&#8220;أرسل عبيده إلى الكرامين ليأخذ أثماره.&#8221;</p>
<ul>
<li>عشية الأحد (لو١٢: ٢٢-٣١)</li>
</ul>
<p>&#8220;أانه حتي سليمان في كل مجده ما لبس كواحدة منها.&#8221;</p>
<ul>
<li>باكر (مت٢٢: ١-١٤)</li>
</ul>
<p>&#8220;كيف دخلت إلى هنا وليس عليك لباس العرس.&#8221;</p>
<ul>
<li>قدّاس الأحد (يو٤: ١-٤٢)</li>
</ul>
<p>&#8220;ويجمع ثمراً للحياة الأبديّة لكي يفرح الزارع والحاصد معاً.&#8221;</p>
<ol start="6">
<li><strong>علاقة أناجيل عشية وباكر سبت واحد الإسبوع الخامس</strong></li>
</ol>
<p><strong>الرعاة والمختارين والكرامين الأردياء</strong></p>
<ul>
<li>باكر السبت (لو١٥: ٣-١٠)</li>
</ul>
<p>&#8220;ألا يترك التسعة والتسعين في البرية ويذهب ليبحث عن الضال حتي يجده.&#8221;</p>
<ul>
<li>قدّاس السبت (مت ٢٣: ١٣)-الخ</li>
</ul>
<p>&#8220;تجوبون البحر والبر لتوجدوا دخيلاً واحداً ومتي حصل صيرتموه ابناً لجهنم مضاعفاً أكثر منكم.&#8221;</p>
<ul>
<li>عشية الأحد (لو١٨: ١-٨)</li>
</ul>
<p>&#8220;أفلا ينتقم الله لمختاريه الذين يصرخون إليه النهار والليل.&#8221;</p>
<ul>
<li>باكر الأحد (مت٢١: ٣٣)-الخ</li>
</ul>
<p>&#8220;إنه بالردئ يهلك (أولئك) الأردياء ويسلم الكرم إلى كرامين آخرين.&#8221;</p>
<ul>
<li>قدّاس الأحد (يو٥: ١-١٨)</li>
</ul>
<p>&#8220;أبي يعمل حتي الآن وأنا أيضاً أعمل.&#8221;</p>
<ol start="7">
<li><strong>علاقة أناجيل عشية وباكر سبت وأحد الأسبوع السادس</strong></li>
</ol>
<p><strong>الإستنارة ورؤية مجد الله</strong></p>
<ul>
<li>باكر السبت (مت٩: ١-٨)</li>
</ul>
<p>&#8220;فلما رأي الجموع ذلك خافوا ومجدوا الله.&#8221;</p>
<ul>
<li>قدّاس السبت (مر١٠: ٤٦-الخ)</li>
</ul>
<p>&#8220;فلوقته أبصر وتبعه في الطريق.&#8221;</p>
<ul>
<li>عشية الأحد (لو١٣: ٢٢-الخ)</li>
</ul>
<p>&#8220;إني لا أعرفكم &#8230;. وأقول لكم أنكم لا ترونني منذ الآن.&#8221;</p>
<ul>
<li>باكر الأحد (مت٢٣: ١-ألخ)</li>
</ul>
<p>&#8220;أيها القادة العميان&#8230; أنكم من الآن لا ترونني حتى تقولوا مبارك الآتي باسم الرب.&#8221;</p>
<ul>
<li>قدّاس الأحد (يو٩: ١-الخ)</li>
</ul>
<p>&#8220;فقال له يسوع أنك تراه وهو الذي يكلمك.. لو كنتم عمياناً لما كانت لكم خطية والآن تقولون أننا نبصر فخطيتكم باقية.&#8221;</p>
<h4><strong>قراءات</strong> <strong>الأيام</strong></h4>
<p><strong>هل</strong> <strong>يوجد</strong> <strong>رابط</strong> <strong>فقط</strong> بين قراءات الأسبوع الواحد، أم يوجد أيضاً رابط لقراءات اليوم الواحد في الأسابيع المختلفة ؟!.</p>
<p>فمثلاً هل يوم الإثنين في السبع أسابيع الصوم له رابط واحد؟ وهل هذا ينطبق على باقي الأيام؟</p>
<p><strong>يتضٌح</strong> <strong>من</strong> <strong>القراءة</strong> <strong>المتأنّية</strong> لقراءات الأيام، وجود عنوان لكل يوم، ورابط لكل قراءاته على مدار الأسابيع، وإذا أخذنا على سبيل المثال أناجيل باكر والقدّاس كمثال لإظهار هذا الرابط نجد ما يلي:</p>
<h5><strong>قراءات</strong> <strong>يوم</strong> <strong>الأثنين</strong></h5>
<p><strong>تعلن</strong> <strong>أناجيل</strong> <strong>باكر</strong> <strong>يوم</strong> <strong>الإثنين</strong> <strong>في</strong> <strong>الأسابيع</strong> <strong>السبع </strong><strong>&#8220;</strong><strong>طلب</strong> <strong>ثمار</strong> <strong>التوبة</strong><strong>&#8220;</strong></p>
<ul>
<li><strong>طلب</strong> <strong>الثمار</strong>: ثمار الروح فينا &#8220;<strong>إ</strong>نه من الثمرة تٌعرف الشجرة&#8221; (باكر الأثنين للأسبوع الأول).</li>
<li><strong>قدوتنا</strong> <strong>إبن</strong> <strong>الإنسان</strong> في خدمتنا للآخرين &#8220;فأمسك يسوع بيده وأنهضه فقام&#8221; (باكر الإثنين للأسبوع الثاني).</li>
<li><strong>المتاجرة</strong> <strong>بوزناتنا</strong> &#8220;وقال لهم تاجروا بهذه حتى آتي&#8221; (باكر الإثنين للأسبوع الثالث).</li>
<li><strong>خدمة</strong> <strong>الفقراء</strong> &#8220;إذا صنعت وليمة فادعُ المساكين والضعفاء والعرج والعميان&#8221; (باكر الإثنين للأسبوع الرابع).</li>
<li><strong>ماذا</strong> <strong>أعددنا</strong> <strong>للقاء</strong> <strong>الرب</strong> وزيف ما نعدّه للعالم &#8220;فهذه التي أعددتها لمن تكون&#8221; (باكر الإثنين لأسبوع الخامس).</li>
<li><strong>ثمر</strong> <strong>الرعاية</strong> <strong>الأمينة</strong> <strong>للكنائس</strong> <strong>والقادة</strong> &#8220;ليأخذ من الكرامين من ثمر الكرم&#8221; (باكر الإثنين للأسبوع السادس).</li>
<li><strong>فعل</strong> <strong>الخير</strong> <strong>وأحشاء</strong> <strong>الرحمة</strong> &#8220;اذكر أنك قد استوفيت خيراتك في حياتك ولعازر أيضاً البلايا&#8221; (باكر الإثنين للأسبوع السابع).</li>
</ul>
<p><strong>◄أما</strong> <strong>أناجيل</strong> <strong>قدّاسات</strong> <strong>يوم</strong> <strong>الإثنين</strong> <strong>فتطلب</strong> <strong>&#8220;</strong><strong>أعمال</strong> <strong>التوبة</strong> <strong>ومتطلباتها</strong><strong>&#8220;</strong></p>
<p><strong>أعمال</strong> <strong>التوبة</strong></p>
<ul>
<li><strong>المحبّة</strong> <strong>الأخوية</strong> &#8220;فليكن فيكم ملح، سالموا بعضكم بعضاً&#8221; (قدّاس الإثنين للأسبوع الأول).</li>
<li><strong>الصلاة</strong> <strong>الدائمة</strong> &#8220;أفلا ينتقم الله لمختاريه الذين يصرخون إليه النهار والليل&#8221; (قدّاس الإثنين للأسبوع الثاني).</li>
<li><strong>نقاوة</strong> <strong>الحياة</strong> <strong>والحواس</strong> &#8220;فانظر لئلا يكون النور الذي فيك ظلمة&#8221; (قدّاس الإثنين للأسبوع الثالث).</li>
<li><strong>الأمانة</strong> <strong>في</strong> <strong>القليل</strong> &#8220;اجعلوا لكم أصدقاء من مال الظلم&#8221; (قدّاس الإثنين للأسبوع الرابع).</li>
<li><strong>خدمة</strong> <strong>إحتياجات</strong> <strong>الناس</strong> &#8220;أعطوهم أنتم ليأكلوا&#8221; (قدّاس الإثنين للأسبوع الخامس).</li>
<li><strong>التوبة</strong> <strong>الدائمة</strong> &#8220;إن لم تتوبوا فجميعكم كذلك تهلكون&#8221; (قدّاس الإثنين للأسبوع السادس).</li>
<li><strong>أعمال</strong> <strong>الله</strong> <strong>فينا</strong> &#8220;لأن الأعمال التي أعطانيها أبي لأكملها، هى الأعمال التي أعملها&#8221; (قدّاس الإثنين للأسبوع السابع).</li>
</ul>
<p><strong>لذلك</strong> <strong>يمكن</strong> <strong>القول</strong> أن قراءات يوم الإثنين هى قراءات <strong>الدعوة</strong> <strong>الدائمة</strong> <strong>للتوبة</strong>، <strong>وطلب</strong> <strong>ثمارها</strong> <strong>فينا</strong>.</p>
<h5><strong>قراءات يوم</strong> <strong>الثلاثاء</strong></h5>
<p><strong>من</strong> <strong>متابعة</strong> <strong>وتتبّع</strong> <strong>قراءات</strong> <strong>يوم</strong> <strong>الثلاثاء</strong> ربّما نجد أن أناجيل باكر تعلن حضور المسيح وغنى عطيّته، وأناجيل القدّاسات تعلن الإيمان به وتبعيته.</p>
<p><strong>◄</strong><strong>أناجيل</strong> <strong>باكر</strong><strong> ← </strong><strong>حضور</strong> <strong>المسيح</strong> <strong>وغنى</strong> <strong>عطاياه</strong></p>
<ul>
<li><strong>حضوره</strong> <strong>وسط</strong> <strong>الخطاة</strong> &#8220;إذ جاء خطاة كثيرون وعشارون، واتكأوا مع يسوع&#8221; (باكر الثلاثاء للأسبوع الأول).</li>
<li><strong>طلب</strong> <strong>حضوره</strong> &#8220;لكن اطلبوا ملكوته&#8221; (باكر الثلاثاء للأسبوع الثاني).</li>
<li><strong>مخافة</strong> <strong>حضوره</strong> &#8220;ويسلمك القاضي إلى الحاكم&#8221; (باكر الثلاثاء للأسبوع الثالث).</li>
<li><strong>الخدمة</strong> <strong>في</strong> <strong>حضوره</strong> &#8220;إمض اليوم واعمل في كرمي&#8221; (باكر الثلاثاء للأسبوع الرابع).</li>
<li><strong>فُرَصْ</strong> <strong>حضوره</strong> &#8220;إلى متى أكون معكم؟&#8221; (باكر الثلاثاء للأسبوع الخامس).</li>
<li><strong>مجد</strong> <strong>حضوره</strong> &#8220;ويتعجبون من أقوال النعمة التي كانت تخرج من فيه&#8221; (باكر الثلاثاء للأسبوع السادس).</li>
<li><strong>شركة</strong> <strong>حضوره</strong> &#8220;أعدد ما أتعشى به، وتمنطق واخدمني&#8221; (باكر الثلاثاء للأسبوع السابع).</li>
</ul>
<p><strong>أمّا</strong> <strong>أناجيل</strong> <strong>قدّاسات</strong> <strong>أيام</strong> <strong>الثلاثاء</strong> <strong>فتدور</strong> <strong>حول</strong> <strong>الإيمان</strong> <strong>به</strong> <strong>وتبعيته.</strong></p>
<p><strong>◄</strong><strong>انجيل</strong> <strong>القدّاس</strong><strong> ← </strong><strong>الإيمان</strong> <strong>وتبعية</strong> <strong>المسيح</strong></p>
<ul>
<li><strong>أمانة</strong> <strong>التبعيّة</strong> &#8220;طوبى لذلك العبد الذي إذا جاء سيده فيجده يعمل هكذا&#8221; (قدّاس الثلاثاء للأسبوع الأول).</li>
<li><strong>جهاد</strong> <strong>التبعيّة</strong> &#8220;وتعال اتبعني واحمل الصليب&#8221; (قدّاس الثلاثاء للأسبوع الثاني).</li>
<li><strong>الثبات</strong> <strong>في</strong> <strong>تبعيته</strong> &#8220;إن أنتم ثبتم في كلامي فبالحقيقة أنتم تلاميذي&#8221; (قدّاس الثلاثاء للأسبوع الثالث).</li>
<li><strong>وضوح</strong> <strong>هدف</strong> <strong>التبعيّة</strong> &#8220;فقال له يسوع: دع الموتى يدفنون موتاهم، وأما أنت فاذهب وناد بملكوت الله&#8221; (قدّاس الثلاثاء للأسبوع الرابع).</li>
<li><strong>نور</strong> <strong>وإستنارة</strong> <strong>التبعيّة</strong> &#8220;أنا هو نور العالم، من يتبعني فلا يمشي في الظلمة بل ينال نور الحياة&#8221; (قدّاس الثلاثاء للأسبوع الخامس).</li>
<li><strong>حقيقة</strong> <strong>من</strong> <strong>نتبعه</strong> &#8220;فقال لهم أنتم من تقولون إني أنا، فأجاب بطرس وقال: أنت المسيح الله.&#8221; (قدّاس الثلاثاء للإسبوع السادس).</li>
<li><strong>رفض</strong> <strong>التبعيّة</strong> &#8220;ومع هذه الآيات الكثيرة التي صنعها أمامهم لم يؤمنوا به&#8221; (قدّاس الثلاثاء للأسبوع السابع).</li>
</ul>
<h5><strong>قراءات يوم</strong> <strong>الأربعاء </strong></h5>
<p><strong>لَعَلَّه</strong> <strong>يظهر</strong> <strong>من</strong> <strong>دراسة</strong> <strong>قراءات</strong> <strong>يوم</strong> <strong>الأربعاء</strong> تركيزها فيما يخص الكنيسة المقدسة، فنلاحظ في أناجيل باكر إعلان سمات كنيسة الله، وفِي أناجيل القدّاسات عطايا الله لكنيسته وشعبه.</p>
<p><strong>◄</strong><strong>أناجيل</strong> <strong>باكر ← كنيسة</strong> <strong>العهد</strong> <strong>الجديد</strong></p>
<ul>
<li><strong>كنيسة</strong> <strong>الحب</strong> &#8220;وكما تريدون أن يفعل الناس بكم، افعلوا أنتم أيضا بهم هكذا&#8221; (باكر الأربعاء للأسبوع الأول).</li>
<li><strong>كنيسة</strong> <strong>الحياة</strong> <strong>بالكلمة</strong> <strong>وكنيسة</strong> <strong>القدوة</strong> &#8220;وأما الذي يعمل ويُعلم فهذا يُدعى عظيماً في ملكوت السموات&#8221; (باكر الأربعاء للأسبوع الثاني).</li>
<li><strong>كنيسة</strong> <strong>النمو</strong> <strong>والعطاء</strong> &#8220;فنمت وصارت شجرة كبيرة، وتآوت طيور السماء في أغصانها&#8221; (باكر الأربعاء للأسبوع الثالث).</li>
<li><strong>كنيسة</strong> <strong>دعوة</strong> <strong>العرس</strong> <strong>الإلهي</strong> <strong>لكل</strong> <strong>البشر</strong> &#8220;إنسان صنع عشاء عظيماً ودعى كثيرين&#8221; (باكر الأربعاء للأسبوع الرابع).</li>
<li><strong>كنيسة</strong> <strong>الأسرة</strong> &#8220;وما جمعه الله لا يفرقه الإنسان&#8221; (باكر الأربعاء للأسبوع الخامس).</li>
<li><strong>كنيسة</strong> <strong>الروح</strong> <strong>وليس</strong> <strong>الحرف</strong> &#8220;لأنكم تركتم وصية الله وتمسكتم بسنة الناس&#8221; (باكر الأربعاء للأسبوع السادس).</li>
<li><strong>كنيسة</strong> <strong>التلمذة</strong> <strong>للمسيح</strong> <strong>له</strong> <strong>المجد</strong> &#8220;وهكذا كل واحد منكم إن لم يرفض جميع أمواله، فلا يقدر أن يكون لي تلميذاً&#8221; (باكر الأربعاء للأسبوع السابع).</li>
</ul>
<p><strong>◄</strong><strong>أناجيل</strong> <strong>القدّاسات</strong><strong> ← </strong><strong>عطايا</strong> <strong>الله</strong> <strong>لشعبه</strong> <strong>وكنيسته</strong></p>
<p><strong>الغنى</strong> <strong>الإلهي</strong> <strong>في</strong> <strong>الكنيسة</strong> <strong>المقدّسة</strong></p>
<ul>
<li><strong>غنى</strong> <strong>عطايا</strong> <strong>الله</strong> &#8220;كيلاً جيداً مملوءاً مهزوزاً فائضاً يُعطَي في أحضانكم&#8221; (قدّاس الأربعاء للأسبوع الأول).</li>
<li><strong>غنى</strong> <strong>البركة</strong> <strong>والشبع</strong> <strong>للشعب</strong> &#8220;فأكل الجميع وشبعوا&#8221; (قدّاس الأربعاء للأسبوع الثاني).</li>
<li><strong>غنى</strong> <strong>الروح</strong> <strong>في</strong> <strong>كنيسة</strong> <strong>العهد</strong> <strong>الجديد</strong> &#8220;أما يسوع فرجع من الأردن وهو ممتلىء من الروح القدس&#8221; (قدّاس الأربعاء للأسبوع الثالث).</li>
<li><strong>غنى</strong> <strong>سلطانه</strong> &#8220;فسكنت الريح وصار هدوء عظيم&#8221; (قدّاس الأربعاء للأسبوع الرابع).</li>
<li><strong>غنى</strong> <strong>مراحمه</strong> <strong>وطول</strong> <strong>أناته</strong> <strong>علينا</strong> &#8220;يا سيد دعها هذه السنة أيضاً حتى أعزق تحتها وأسمدها لعلها تثمر&#8221; (قدّاس الأربعاء للأسبوع الخامس).</li>
<li><strong>غنى</strong> <strong>عدله</strong> <strong>الإلهي</strong> <strong>ودينونته</strong> &#8220;كما ينتقم من هذا الجيل لدم جميع الأنبياء الذي أريق منذ إنشاء العالم&#8221; (قدّاس الأربعاء للأسبوع السادس).</li>
<li><strong>غنى</strong> <strong>علمه</strong> <strong>الإلهي</strong> لكل الشعب وإستنارتهم به &#8220;أنهم يكونون جميعهم متعلمين من الله&#8221; (قدّاس الأربعاء للأسبوع السابع).</li>
</ul>
<h5><strong>قراءات</strong> <strong>يوم</strong> <strong>الخميس</strong></h5>
<p><strong>تعلن</strong> <strong>قراءات</strong> <strong>هذا</strong> <strong>اليوم</strong> من هو الله الكلمة (الكلمة المتجسد) في أناجيل باكر وما هى مفاعيل وعمل كلمة الله.</p>
<p><strong>◄</strong><strong>أناجيل</strong> <strong>باكر</strong><strong> ← </strong><strong>الله</strong> <strong>الكلمة</strong><strong> - </strong><strong>من</strong> <strong>هو</strong> <strong>ابن</strong> <strong>الله؟</strong></p>
<ul>
<li><strong>سلطان</strong> <strong>الكلمة</strong> <strong>على</strong> <strong>الطبيعة</strong> &#8220;ترى من هو هذا فانه يأمر الرياح والمياه فتطيعه&#8221; (باكر الخميس للأسبوع الأول).</li>
<li><strong>معرفة</strong> <strong>الله</strong> <strong>الكلمة</strong> <strong>هو</strong> <strong>إعلان</strong> <strong>من</strong> <strong>الآب</strong> &#8220;ولا أحد يعرف الآب إلا الابن ومن يريد الابن أن يعلن له&#8221; (باكر الخميس للأسبوع الثاني).</li>
<li><strong>بلا</strong> <strong>عيب</strong> <strong>ولا</strong> <strong>لوم</strong> &#8220;فلم يستطيعوا أن يمسكوه بكلمة&#8221; (باكر الخميس للأسبوع الثالث).</li>
<li><strong>الشياطين</strong> <strong>تقشعر</strong> <strong>منه</strong> &#8220;إنك أنت ابن الله وانتهرهم كثيراً كي لا يظهروه&#8221; (باكر الخميس للأسبوع الرابع).</li>
<li><strong>المُتَعَجّب</strong> <strong>منه</strong> &#8220;فتعجبوا جميعاً من عظمة الله&#8221; (باكر الخميس للأسبوع الخامس).</li>
<li><strong>رأس</strong> <strong>الزاوية</strong> <strong>وأساس</strong> <strong>البنيان</strong> &#8220;الحجر الذي رذله البناؤون هذا قد صار رأس الزاوية&#8221; (باكر الخميس للأسبوع السادس).</li>
<li><strong>الخادم</strong> <strong>والفادي</strong> &#8220;ابن الانسان لم يأتِ ليُخدم بل ليخدِم ويبذل نفسه فداءً عن كثيرين&#8221; (باكر الخميس للأسبوع السابع).</li>
</ul>
<p><strong>◄</strong><strong>أناجيل</strong> <strong>القدّاسات</strong></p>
<p><strong>إنجيل</strong> <strong>القدّاس</strong><strong> ← </strong><strong>كلمة</strong> <strong>الله</strong></p>
<ul>
<li><strong>كلمة</strong> <strong>الله</strong> <strong>سراج</strong> <strong>ينير</strong> <strong>وبذار</strong> <strong>تنمو</strong> &#8220;هل يوقد سراج ليوضع تحت المكيال، وقال هكذا ملكوت الله كمثل إنسان يلقي بذاره على الأرض&#8221; (قدّاس الخميس للأسبوع الأوّل).</li>
<li><strong>كلمة</strong> <strong>الله</strong> <strong>وحفظ</strong> <strong>الوصيّة</strong> &#8220;ولكن إن كنت تريد أن تدخل الحياة، فاحفظ الوصايا&#8221; (قدّاس الخميس للأسبوع الثاني).</li>
<li><strong>الوصيّة</strong> <strong>حياة</strong> &#8220;وأعلمُ أن وصيته هى حياة أبدية&#8221; (قدّاس الخميس للأسبوع الثالث).</li>
<li><strong>كلام</strong> <strong>الابن</strong> <strong>ينير</strong> <strong>العميان</strong> &#8220;فقال له يسوع أبصرْ&#8221; (قدّاس الخميس للأسبوع الرابع).</li>
<li><strong>روح</strong> <strong>الوصيّة</strong> <strong>وليس</strong> <strong>الحرف</strong> &#8220;أما كان ينبغي أن تُحلّ من هذا الرباط في يوم السبت&#8221; (قدّاس الخميس للأسبوع الخامس).</li>
<li><strong>كلمة</strong> <strong>الحياة</strong> &#8220;الكلام الذي قلته أنا لكم هو روح وحياة&#8230; إلى من نذهب فإن كلام الحياة الأبدية عندك&#8221; (قدّاس الخميس للأسبوع السادس).</li>
<li><strong>كلام</strong> <strong>الله</strong> <strong>يحفظ</strong> <strong>من</strong> <strong>الضلالة</strong> ويعلن قوة الله وتدبيره &#8220;تضلون إذ لا تعرفون الكتب ولا قوة الله&#8221; (قدّاس الخميس للأسبوع السابع).</li>
</ul>
<h5><strong>قراءات يوم</strong> <strong>الجمعة</strong></h5>
<p><strong>تشترك</strong> <strong>قراءات</strong> <strong>هذا</strong> <strong>اليوم</strong> <strong>في</strong> <strong>إعلان</strong> <strong>ملكوت</strong> <strong>الله</strong> <strong>على</strong> <strong>الأرض</strong> <strong>وفي</strong> <strong>السماء</strong>.</p>
<ul>
<li><strong>ملكوت</strong> <strong>الله</strong> <strong>في</strong> <strong>الأرض</strong> <strong>وفي</strong> <strong>السماء</strong> (أناجيل باكر)</li>
<li><strong>البراري</strong> <strong>المتحوّلة</strong> <strong>لسماء</strong> <strong>بالصلاة</strong> &#8220;فأما هو فكان يمضي إلى البراري ليصلي&#8221; (باكر الجمعة للأسبوع الأول).</li>
<li><strong>مفهوم</strong> <strong>البشر</strong> <strong>الخاطئ</strong> <strong>عن</strong> <strong>الملكوت</strong> &#8220;فسألوه أن يريهم آية من السماء&#8221; (باكر الجمعة للأسبوع الثاني).</li>
<li><strong>طبيعة</strong> <strong>الملكوت</strong> <strong>السماويَّة</strong>. &#8220;لأنه لا يمكن أن يموتوا بعد لأنهم يكونون مساوين للملائكة&#8221; (باكر الجمعة للأسبوع الثالث).</li>
<li><strong>ملكوت</strong> <strong>حضور</strong> <strong>المسيح</strong> الذي يطهّر من سكنى الشياطين &#8220;فإنه بسلطان وقوة يأمر الأرواح النجسة فتخرج&#8221; (باكر الجمعة للأسبوع الرابع).</li>
<li><strong>العقل</strong> <strong>القريب</strong> <strong>من</strong> <strong>الملكوت</strong> &#8220;لست بعيداً عن ملكوت الله&#8221; (باكر الجمعة للأسبوع الخامس).</li>
<li><strong>الإيمان</strong> <strong>شرط</strong> <strong>معاينة</strong> <strong>الحياة</strong> <strong>الأبديّة</strong> &#8220;لكي لا يهلك كل من يؤمن به بل ينال الحياة الأبدية&#8221; ؟ (باكر الجمعة للأسبوع السادس).</li>
<li><strong>قلب</strong> <strong>الإنسان</strong> <strong>مسكن</strong> <strong>الملكوت</strong> &#8220;فهوذا ملكوت الله داخلكم&#8221; (باكر الجمعة للأسبوع السابع).</li>
<li><strong>قابلي</strong> <strong>ورافضي</strong> <strong>الملكوت،</strong> <strong>وبيت</strong> <strong>الله</strong> <strong>وبيوت</strong> <strong>العالم</strong> (أناجيل القدّاس)</li>
</ul>
<p><strong>لاحظ:</strong> في انجيل باكر يصلّي الرب في البراري ويحوّلها لسماء،</p>
<p>وفِي إنجيل القدّاس يحوّل القفر لبيته أيضاً بالصلاة.</p>
<ul>
<li><strong>بيت</strong> <strong>الطِلبة</strong> <strong>والصلاة</strong> <strong>بلجاجة</strong> - ملكوت الصلاة - &#8220;وإذ كان يصلي في موضع قفر&#8221; (قدّاس الجمعة للإسبوع الأول).</li>
<li><strong>بيت</strong> <strong>الصخر</strong> <strong>وبيت</strong> <strong>الرمل</strong> - أساس بنيان الملكوت - &#8220;يشبه رجلاً بنى بيتاً&#8221; (قدّاس الجمعة للأسبوع الثاني).</li>
<li><strong>البيت</strong> <strong>المنقسم</strong> <strong>والبيت</strong> <strong>الفارغ</strong> - ملكوت الوحدة - &#8220;وبيت ينقسم على بيت يسقط &#8230;، فيأتي ويجده مكنوساً مزيناً&#8221; (قدّاس الجمعة للأسبوع الثالث).</li>
<li><strong>بيت</strong> <strong>اليهود</strong> <strong>وبيت</strong> <strong>الأمم</strong> - ملكوت كل الشعوب - &#8220;خراف بيت إسرائيل الضالة&#8221; (قدّاس الجمعة للأسبوع الرابع).</li>
<li><strong>بيت</strong> <strong>الأرض</strong> <strong>وبيت</strong> <strong>السماء</strong> - ملكوت السماء - &#8220;أنتم من أسفل وأنا من فوق&#8221; (قدّاس الجمعة للأسبوع الخامس).</li>
<li><strong>بيت</strong> <strong>الولادة</strong> <strong>الثانية</strong> وبالمعموديّة صرنا بيته- ملكوت الحياة الجديدة والولادة الجديدة- &#8220;إن لم يولد الانسان من الماء والروح فلا يقدر أن يدخل ملكوت الله&#8221; (قدّاس الجمعة للأسبوع السادس).</li>
<li><strong>بيت</strong> <strong>الخراب</strong><strong> - </strong><strong>الملكوت</strong> <strong>المرفوض</strong> - &#8220;هوذا بيتكم يترك لكم خراباً&#8221; (قدّاس الجمعة للأسبوع السابع).</li>
</ul>
<h4><strong>محور قراءات كل يوم من أيام الأسبوع في كتاب ترتيب البيعة</strong></h4>
<p>نجد في كتاب ترتيب البيعة (إعداد نيافة أنبا صموئيل أسقف شبين القناطر وتوابعها):</p>
<p>قانون يُقرأ بعد إنجيل القدَّاس في أيَّام الصوم الكبير، وكل يوم من أيَّام الإسبوع يُقْرَأ فيه قانون خاص به يختلف عن ما يُقْرأ في باقي الأيام.</p>
<p>وتتَّفق هذه القوانين في معظمها مع محور قراءات أيَّام الصوم.</p>
<p><strong>أمثلة: </strong></p>
<p><strong>قراءات يوم الإثنين:</strong></p>
<p>نجد قراءات ترتيب البيعة (الجزء الثالث صفحة ١٥) تتكلم في قانون يوم الإثنين عن: <strong>شفاعة الصوم والصلاة</strong>. وفي قراءات أيام الإثنين من الصوم الكبير تتركَّز القراءات على التوبة: <strong>أعمال التوبة، وثمار التوبة</strong>.</p>
<p><strong>قراءات يوم الثلاثاء</strong><strong> :</strong></p>
<p>نجد قراءات ترتيب البيعة (الجزء الثالث صفحة ٢٣) تتكلَّم في قانون يوم الثلاثاء عن: <strong>مخلصنا الصالح</strong>. وفي قراءات أيام الثلاثاء من الصوم الكبير تتركَّز القراءات على: <strong>حضور المسيح، وغنى عطيته</strong>.</p>
<p><strong>قراءات يوم الأربعاء</strong><strong> :</strong></p>
<p>نجد قراءات ترتيب البيعة (الجزء الثالث صفحة ٢٤) تتكلَّم في قانون يوم الأربعاء عن: <strong>مراحم الله لشعبه وكنيسته</strong>. وفي قراءات أيام الأربعاء من الصوم الكبير تتركَّز القراءات على: <strong>عطايا الله لشعبه وكنيسته</strong>.</p>
<p><strong>قراءات يوم الخميس</strong><strong> :</strong></p>
<p>نجد قراءات ترتيب البيعة (الجزء الثالث صفحة ٢٥) تتكلَّم في قانون يوم الخميس في بدايتها عن: <strong>أخذ لنا موسي الشريعة .. وبقية الأنبياء التي ترضي السيد.</strong> وفي قراءات يوم الخميس تتركَّز القراءات على: <strong>كلمة الله وحفظ وصاياه</strong>.</p>
<p><strong>قراءات يوم الجمعة</strong><strong> :</strong></p>
<p>نجد قراءات ترتيب البيعة (الجزء الثالث صفحة ٢٦) تتكلَّم في قانون يوم الجمعة عن: <strong>الدينونة والملكوت</strong>. وفي قراءات أيام الجمعة من الصوم الكبير تتركَّز القراءات على: <strong>ملكوت الله في الأرض وفي السماء، وبين قابلي ورافضي الملكوت</strong>.</p>
<h3>المراجع</h3>
<p><a href="#_ftnref1" name="_ftn1">[1]</a> <sup>- </sup><sup>رحلات مع المسيح - القمص بيشوي كامل</sup></p>
<p><a href="#_ftnref2" name="_ftn2">[2]</a><sup>- الصوم الكبير مقدمة لدراسة قراءات الصوم الكبير ص ٥٢ - القمص كيرلس عبد المسيح حنا.</sup></p>
<p><a href="#_ftnref3" name="_ftn3">[3]</a> <sup>- </sup><sup>كتاب المزامير دراسة أكاديمية للأب متى المسكين ص ٢٦٥ ، ٢٦٨ </sup></p>
<p><a href="#_ftnref4" name="_ftn4">[4]</a> <sup>- تفسير مزمور</sup><sup>25 -  للقمص تادرس  يعقوب ملطي</sup></p>
<p><a href="#_ftnref5" name="_ftn5">[5]</a> <sup>- كتاب المزامير دراسة أكاديمية للأب متى المسكين ص ٤١٤</sup></p>
<p><a href="#_ftnref6" name="_ftn6">[6]</a> <sup>- تفسير مزمور ٤١ للقمص تادرس يعقوب ملطي.</sup></p>
<p><a href="#_ftnref7" name="_ftn7">[7]</a> <sup>- تفسير مزمور ١٨ - القمص تادرس يعقوب ملطي</sup></p>
<p><a href="#_ftnref8" name="_ftn8">[8]</a> <sup>- تفسير مزمور ٣٢ - القمص تادرس يعقوب ملطي. </sup></p>
<p><a href="#_ftnref9" name="_ftn9">[9]</a> <sup>- المزامير دراسة أكاديمية ص 138 - الأب متى المسكين </sup></p>
<p><a href="#_ftnref10" name="_ftn10">[10]</a> <sup>- المزامير دراسة أكاديمية - المجلد الثاني ص 154 - الأب متى المسكين </sup></p>
<p><a href="#_ftnref11" name="_ftn11">[11]</a> <sup>- المزامير دراسة أكاديمية - المجلّد الثالث ص ٤٥٣- الأب متى المسكين</sup></p>
<p><a href="#_ftnref12" name="_ftn12">[12]</a><sup>- تفسير مزمور ٨٦ - القمص تادرس يعقوب ملطي</sup></p>
<p><a href="#_ftnref13" name="_ftn13">[13]</a><sup>- الصوم الكبير مقدمة لدراسة قراءات الصوم الكبير ص ٥٢ –  القمص كيرلس عبد المسيح حنا.</sup></p>

      {% endcreateArticleAccordions %}
    </section>
  {% endblock %}
