---
layout: 'layouts/reading.html'
title: 'سبت الرفاع (سبت سهر التوبة)'
permalink: great-lent/99-6.html
---
  {% block content %}
    <section id="readings">
      <ul>
      {% if '19.17:1-2' != 'null' %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">العشية</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeVespers '19.17:1-2' '42.17:3-6' %}
          </div>
        </div>
      </li>
      {% endif %}
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <div class="flex items-center justify-between">
            <span class="kufi">باكر</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeMatins '19.119:49,52' '41.13:33-37' '' %}
          </div>
        </div>
      </li>
      <li class="mb-2" x-data="{selected:false}">
        <button type="button" class="w-full px-4 py-2 bg-[#c46325] text-white text-xl" @click="selected =! selected">
          <h3 class="flex items-center justify-between">
            <span class="kufi">القداس</span>
            <span class="ico-plus" :class="selected && 'opened'" aria-hidden="true"></span>
          </h3>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container1" x-bind:style="selected ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
          <div class="p-4">
          {% makeLitugy '47.6:14-7:16' '60.1:1-12' '44.21:1-14' '19.95:1-2' '42.13:1-5' %}
          </div>
        </div>
      </li>
        </ul>
    </section>
    <section id="article">
      <h3 class="mt-8 mb-4 heading-explain">شرح القراءات</h3>
      {% createArticleAccordions firstName, lastName %}
        <p><strong>&#8220;توبني فأتوب، لأنك أنت الرب إلهى&#8221; </strong>(إر ٣١: ١٨)</p>
<p>[فلتشرق فينا حواس النور ولا تغطينا ظلمة الآلام] (ذكصولوجية باكر)</p>
<p>[إنه يود أن يقدم فرصة للتوبة لكل محبوبيه، مُثبتًا إياها بإرادته القادرة إذن، فلنطع إرادته العظيمة الممجدة، وإذ نضرع طالبين رحمته وحنو ترفقه، تاركين كل عمل بطال وخصام وحسد يقود إلى الموت، نعود إليه ونلقي بأنفسنا في مراحمه.] (القديس إكليمنضس الروماني).</p>
<h3>شواهد القراءات</h3>
<p>(مزمور عشية مز ١٦: ٢-١)، (إنجيل عشية لو١٧: ٣- ٦)، (مزمور باكر ( مز١١٨: ٣٧-٣٥) )، (إنجيل باكر مر١٣: ٣٣-٣٧)، (البولس ٢كو ص ٦: ١٤ الخ وص٧: ١ الخ)، (الكاثوليكون١بط١:١-١٢)، (الإبركسيس أع٢١:١-١٤)، (مزمورالقداس مز٩٤:٢،١)، (إنجيل القداس لو١٣: ١-٥).</p>
<p></p>
<h3>شرح القراءات</h3>
<p><strong>يبدأ</strong> <strong>الإستعداد</strong> <strong>لبداية</strong> <strong>الصوم</strong> <strong>الكبير</strong> بتنبيهنا لكيفية تهيئتنا لذبيحة الصوم والدخول في شركة مع المسيح له المجد وسر صومه المقدَّس.</p>
<p><strong>لذلك</strong> <strong>يكثر</strong> <strong>الكلام</strong> في قراءات اليوم عن الحذر والسهر، وفحص النفس للتوبة وتنقية الداخل، وأن التوبة هى المخرج الوحيد للنجاة من الهلاك الأبدي.</p>
<p><strong>يبدأ</strong> <strong>مزمور</strong> <strong>عشيّة</strong> بمراجعة النفس البشريّة لأعماقها، لتبتعد عن الغش وتنظر دائما للإستقامة وهى علامة أولاد الله بالحقيقة.</p>
<p>&#8220;وانصت إلى صلاتي فانها من شفتين بلا غش ليخرج من لدنك قضائي لتنظر عيناي الاستقامة&#8221;</p>
<p><strong>ويؤكّد</strong> <strong>الرب</strong> <strong>في</strong> <strong>إنجيل</strong> <strong>عشيّة</strong> هذا التحذير لأجل إستقامة المحبّة وضرورة الغفران. &#8220;احترزوا لأنفسكم وإن أخطأ إليك أخوك فوبخه وإن تاب فاغفر له &#8220;فالتأكيد هنا علي علاقات البنين كإخوة في جسد واحد وكأبناء للآب السماوي.</p>
<p><strong>وفي</strong> <strong>مزمور</strong> <strong>باكر</strong> تتذكّر النفس دائما أحكام الله لتعيش في مخافته.</p>
<p>&#8220;تذكرت أحكامك يا رب منذ الدهر فتعزيت&#8221;</p>
<p><strong>وفي</strong> <strong>إنجيل</strong> <strong>باكر</strong> يوصي الرب بالسهر والصلاة لئلا تكون النفس نائمة في الخطية وقت الإفتقاد الإلهي الأخير.</p>
<p>&#8220;أنظروا أسهروا وصلوا لأنكم لا تعرفون متى يكون الوقت، لئلا يأتي بغتة فيجدكم نياماً وما أقوله لكم أقوله للجميع أسهروا&#8221;</p>
<p><strong>ويحذر</strong> <strong>البولس من خطورة </strong>إختلاط أبناء الله بأبناء العالم ويراجع قداسة حياتنا، ونقاوة الجسد والروح، وطهارة الكنيسة من نجاسات العالم.</p>
<p>&#8220;لا تكونوا شركاء غير المؤمنين في نير لأن أية شركة بين البر والأثم، لذلك أخرجوا من وسطهم واعتزلوا منهم يقول الرب ولا تمسوا النجس فأقبلكم إليّ، فلنطهر ذواتنا من كل أدناس الجسد والروح ونكمل القداسة بمخافة الله&#8221;.</p>
<p><strong>ويعلن</strong> <strong>الكاثوليكون</strong> فعل الثالوث في النفوس لتقديسها وعمل التجارب في الإيمان لتنقيته.</p>
<p>&#8220;بمقتضي علم الله الآب السابق في تقديس الروح للطاعة ورش دم يسوع المسيح، وإن كان يجب أن تحزنوا بتجارب كثيرة متنوعة لكي تكون تزكية إيمانكم كريمة وهى أثمن من الذهب الفاني المجرب بالنار فتوجدون بفخر ومجد وكرامة عند ظهور يسوع المسيح&#8221;</p>
<p><strong>ويقدم الإبركسيس</strong> نموذج لأبناء الله والإيمان العظيم والتسليم الكامل للمشيئة الإلهية حتى تقديم الحياة في شخص القدّيس بولس.</p>
<p>&#8220;فأجاب بولس ما بالكم تبكون وتكسرون قلبي إني مستعد لا للوثاق فقط بل للموت أيضاً في أورشليم لأجل اسم الرب يسوع ولما لم يقنع سكتنا وقلنا لتكن مشيئة الرب&#8221;.</p>
<p>فكما لو كان هناك تدرّجاً في نقاوة وقوّة الإيمان، فالبولس يراجع التطهير والإعتزال الدائم عن الشر، والكاثوليكون يعلن فعل الثالوث في التقديس وقبول التجارب للتنقية، والإبركسيس عن كمال قبول التجارب حتى الموت لأجل إسم الرب يسوع.</p>
<p><strong>لذلك</strong> <strong>يدعو</strong> <strong>مزمور</strong> <strong>القدّاس</strong> الكل للتهليل والفرح، فالتنقية الدائمة تقود للفرح الكامل بالخلاص. &#8220;هلموا فلنبتهج بالرب ولنهلل لله مخلصنا ولنبادر فنبلغ إلى وجهه بالاعتراف ولنهلل له بالمزامير&#8221;.</p>
<p><strong>ويختم</strong> <strong>إنجيل</strong> <strong>القدّاس</strong> بالدعوة الإلهية في كل جيل لكل النفوس، أن لا ننشغل أبداً عن دعوة توبتنا، وسهر حياتنا، بأي إنشغال آخر حتى ولو كان ظاهره روحي لكن يبعدنا عن فحص نفوسنا، وقلقنا الإيجابي على مصيرنا الأبدي.</p>
<p>&#8220;وفي ذلك الوقت حضر إليه قوم يخبرونه عن الجليليين الذين خلط بيلاطس دماءهم بذبائحهم فأجاب يسوع وقال لهم أتظنون أن هؤلاء الجليليين كانوا خطاة أكثر من كل الجليليين حيث كابدوا هذه الآلام كلا أقول لكم بل إن لم تتوبوا فجميعكم كذلك تهلكون&#8221;.</p>
<h3>ملخّص القراءات</h3>
<table style="height: 283px;" width="762">
<tbody>
<tr>
<td width="94">مزمور عشيّة. باكر. القدّاس</td>
<td width="412">نَظَرْ النفس الدائم للإستقامة وأحكام الله يثمر فيها فرح دائم.</td>
</tr>
<tr>
<td width="94">إنجيل عشيّة</td>
<td width="412">دعوة الرب الكل للغفران لأخطاء الآخرين.</td>
</tr>
<tr>
<td width="94">إنجيل باكر</td>
<td width="412">دعوة الرب الدائمة للكنيسة ولكل نفس بالسهر.</td>
</tr>
<tr>
<td width="94">البولس</td>
<td width="412">الإعتزال الدائم عن نجاسات العالم.</td>
</tr>
<tr>
<td width="94">الكاثوليكون</td>
<td width="412">فعل الثالوث في النفوس للطاعة وفعل التجارب للتنقية.</td>
</tr>
<tr>
<td width="94">الإبركسيس</td>
<td width="412">قبول الإنسان للموت بإرادته كإعلان عن مجد التسليم لإرادة الله.</td>
</tr>
<tr>
<td width="94">إنجيل القدّاس</td>
<td width="412">الدعوة الإلهية الدائمة لكل البشر في كل جيل بالتوبة للنجاة من الهلاك.</td>
</tr>
</tbody>
</table>
<p></p>
<h3>الكنيسة في قراءات اليوم</h3>
<table width="510">
<tbody>
<tr>
<td width="87">إنجيل باكر</td>
<td width="423">المجئ الثاني وعدم معرفة اليوم ولا الساعة.</td>
</tr>
<tr>
<td width="87">البولس</td>
<td width="423">الجهاد المستمر للنقاوة والتطهير.</td>
</tr>
<tr>
<td width="87">الكاثوليكون</td>
<td width="423">الخلاص هو فعل الثالوث وموضوع النبوءة وشهوة الملائكة.</td>
</tr>
<tr>
<td width="87">الإبركسيس</td>
<td width="423">موهبة النبوءة للرجل والمرأة.</td>
</tr>
</tbody>
</table>
<p></p>

      {% endcreateArticleAccordions %}
    </section>
  {% endblock %}
  