---
layout: 'layouts/reading.html'
title: 'كلمة افتتاحية'
meta:
  desc:
    'دراسات في القراءات اليومية للكنيسة القبطية الارثوذكسية'
intro:
  title: 'دراسات في القراءات اليومية للكنيسة القبطية الارثوذكسية'
---

<div class="entry-content">
  <p>تقدم لنا الكنيسة القبطية الأرثوذكسية يومياً من خلال القراءات الكنسية تعليم روحي ثري. الترتيب البديع لهذا القراءات يعطي فكراً روحياً لاهوتياً واضحاً ومستقيماً.</p>
  <p>– نقدم للقارئ الفاضل في هذا الموقع بحثاً دراسيا في قراءات القطمارس القبطي في محاولة بسيطة لفهم وادراك ما ادركته الكنيسة الملهمة بالروح القدس التي جمعت فصول هذه القراءات لتقدم لنا سر المسيح الحاضر في كلمته ، وفي جسده ودمه المقدمين يوميا علي المذبح.</p>
  <p>– الدراسة المقدمة من خلال موقعنا هذا موجهة لكل الشعب القبطي المهتم بفهم روحي اعمق لقراءات الكنيسة اليومية ، وأيضا للاكليروس وخدَّام الكلمة حيث يقدم الموقع أفكار لعظات مقترحة تتماشي مع قراءات اليوم</p>
  <p>لذلك يشمل بحث هذا الموقع فصول عدَّة لتناول موضوع القراءات ( قراءات الصوم الكبير كمرحلة أولي ) من جوانب متعدِّدة:<br>
    (١) معني ومغزي القراءات الكنسية بصفة عامَّة.<br>
    (٢) تاريخ قراءات الصوم الكبير.<br>
    (٣) موضوع قراءات الصوم<br>
    (٤) أوجه التشابـه بيـن قــراءات الصــوم الكبيــر ومثيلاتـها في الكنائـس: السريانيـة، والبيزنطية، والكاثوليكية .<br>
    (٥) الرابط بين قراءات الصوم الكبير، والبصخة المُقدَّسة، والخمسين يوم المُقدَّسة، في الكنيسة القبطية.<br>
    (٦) مُقارنة بين قراءات السبوت والآحاد للصوم الكبير.<br>
    (٧) مُقارنة بين قراءات أيَّام الصوم الكبير.<br>
    (٨) نظرة إحصائية في قراءات الصوم الكبير.<br>
    (٩) ماذا يحتوي شرح قراءة كل يوم ؟.<br>
    (١٠) أفكار لعظات مقترحة تتماشي مع قراءات اليوم<br>
    (١١) عظات ابائية وعظات لآباء معاصرين مرتبطة بموضوع قراءة اليوم</p>
  <p>+++ نشجعك عزيزي القارئ يومياً علي زيارة الموقع ليكون لنا جميعا فهماُ روحياً ولاهوتياً لقراءات الكنيسة المقدمة يومياً<br>
    +++ مزيد من الشروحات لقراءات الكنيسة سوف تنشر تباعاُ في الوقت المناسب لتلك القراءات</p>
  <p>&gt;&gt;&gt; لا تنس ان تتابعنا عن طريق صفحة
    <a href="https://www.facebook.com/Katameros.bible/">الفيسبوك</a>
  </p>
  <p>
    <a href="https://www.facebook.com/Katameros.bible/">https://www.facebook.com/Katameros.bible/</a>
  </p>
  <p>&nbsp;</p>
</div>